[2021-04-05 13:43] Aurorum commented on #51673
PR for this issue in #51677. :)

[2021-04-05 13:58] sixhours commented on #50562
Looks like we're already trying to hide the Plans menu item but the styles are broken:

[code]

[2021-04-05 14:30] alshakero commented on #51231
I created a patch for this here (D59729-code). I also updated #51501 to remove overriding the site_creation_flow value to make testing easier.

I ticked the met criteria as I tested. I'll continue tomorrow to verify other criteria are met as well.

[2021-04-05 14:33] darnelldibbles-zz opened #51683 "Nav Unification: Edit Page Leads to WP Admin POSTS dashboard When Under "Show Advanced Dashboard Pages""
### Steps to reproduce the behavior

1. Enable _Show advanced dashboard pages_ under **Dashboard appearance**
2. Go Directly to wordpress.com/pages
3. Click _edit_ under the ellipsis dropdown of one of the pages
4. Instead of taking me to the edit page, it takes me to WP Admin POSTS dashboard _wp-admin/edit.php_

#### What I expected to happen
I expect to land on my edit page:
![Expected Behavior]

[2021-04-05 14:37] ianstewart commented on #51335
Sounds good.

[2021-04-05 14:38] claudiucelfilip commented on #51537
Thanks for raising this!

The issue seems to be cause by the fact that these predefined colors are bound to the theme (in this case Bompton or TwentyTwenty). In reader mode, the AMP plugin switches to another theme, thus losing the selected color.
An issue has been raise on the plugin prover's repo: https://github.com/ampproject/amp-wp/issues/6039
Until then a workaround is proposed where the cove

[2021-04-05 14:55] sixhours commented on #49144
To confirm, to reduce confusion we're going to remove the Tools -> Marketing -> Traffic -> Ads section on Atomic sites, ref: https://github.com/Automattic/wp-calypso/issues/36331#issuecomment-793026870

[2021-04-05 15:39] Thelmachido commented on #51660
I can also add this sticker?

[2021-04-05 16:25] cpapazoglou commented on #51672
@ersatzpenguin Thanks for reporting. This is a regression. We should always show the Calypso Themes screen for Simple sites.

Probably a faster workaround would be going to `https://wordpress.com/themes/` directly for that site for the time being.

cc @mrfoxtalbot for visibility

[2021-04-05 16:31] cpapazoglou commented on #51670
This is the conflicting html `<div class="paid-block-media-placeholder"><div class="components-drop-zone"></div></div>`

[2021-04-05 18:21] macmanx2 opened #51693 "Nav Unification: WordPress.com now loads My Site by default instead of Reader"
### Steps to reproduce the behavior

1. Go to https://wordpress.com (and log in if you aren't already).

#### What I expected to happen

Prior to nav unification, this would have gone to https://wordpress.com/read when logged in.

#### What actually happened

After nav unification, this loads https://wordpress.com/stats/day for the primary site under My Sites when logged in.

### Context

Reported

[2021-04-05 18:35] Aurorum commented on #51693
If memory serves correctly, quite a bit of work was undergone to make this happen so I don't _think_ it's a bug. I think it's unrelated to the Nav Unification change since it really was a long time ago: #37547 and #39656.

[2021-04-05 19:33] mreishus commented on #51064
Testing with both Ephemeral and Support Sessions isn't possible as far as I know, since you aren't allowed to create Support Sessions for a8c accounts, and only those accounts can make Ephemeral sites. However, I was able to reproduce it by making a jetpack site using a non-a8c account and support sessioning to it. I cross referenced that with the following steps to reproduce that don't use suppor

[2021-04-05 20:23] annbingle commented on #28033
Another report here 28830348-HC. I suggested to use [Donwload Manage App]( https://www.freedownloadmanager.org).

[2021-04-05 20:24] mreishus commented on #51064
Additionally, when using Support Session on Simple sites, I still see a few untranslated menu items:
![2021-04-05_15-23](https://user-images.githubusercontent.com/937354/113622716-f6498580-9622-11eb-9d23-dabf3b75847c.png)

[2021-04-05 20:46] mreishus commented on #51064
I am having trouble determining what conditions make "Pages", "Posts", "Media", "Comments" translated vs not translated. I've been seeing different results when taking the same or similar steps. However, the other entries seem to be consistent.  Here is one example:
![2021-04-05_15-45](https://user-images.githubusercontent.com/937354/113625064-0adb4d00-9626-11eb-8946-91ec8dcb670a.png)

[2021-04-05 21:19] macmanx2 opened #51695 "Nav Unification: Media Library won't scroll search results, possibly due to number of results"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/media
2. Search for a term that will return more images that one page of results.
3. Scroll down.

#### What I expected to happen

Images will continue to scroll through results.

#### What actually happened

On Eszv-p2 when searching for "Michigan," of which there are 602 results, scrolling simply stops after 20.

On my own test

[2021-04-05 21:39] eduardozulian commented on #45760
Opening this again in the hopes it's a quick win that will help:

1. Support folks to point users more efficiently to their own account settings
2. Be clear to users where to look for their own info without even needing to contact support for that

Thanks for considering!

[2021-04-05 21:43] simison commented on #50523
Seems to be the same for all atomic sites, also on business plan.

[2021-04-05 21:51] hacchism commented on #51673
Oh! That's true. Good find. Thanks for opening the PR and working on a fix so promptly✨

[2021-04-05 22:42] ghost commented on #45760
I agree with this treatment being the way forward:
![image](https://user-images.githubusercontent.com/67021691/113635116-091d8380-963e-11eb-9f31-8cb2a1e08dd2.png)

- It aligns with the visual / naming pattern of the other nav items.
- Saying 'My Account' vs displaying my username is clearer that this is where I go for account management.

On mobile, we're not currently displaying any text labels i

[2021-04-05 22:53] mreishus commented on #51064
### PR Links

* Nav-Unification OFF
**Jetpack -> Backup/Scan:** https://github.com/Automattic/wp-calypso/pull/51697 [Deployed]
**Site -> Feedback:** https://github.com/Automattic/wp-calypso/pull/51698 [WIP/Draft]
**Site -> Pages/Post/Media/Comments:** Fixed by someone's else's change in the interim
**Tools -> Plugins/Import/Export:** Fixed by someone's else's change in the interim

* Nav-Unificati

[2021-04-05 23:21] ramonjd commented on #51668
From the issue, it looks like @brandonpayton has fixed it and this issue may be closed?

292-gh-Automattic/dotcom-manage#issuecomment-720127244

[2021-04-05 23:25] ollierozdarz commented on #45038
👋 @simison @razvanpapadopol, could we use @alaczek's suggestions ([#45038 (comment)](https://github.com/Automattic/wp-calypso/issues/45038#issuecomment-678866574)) for a first pass? I think there might only be one or two newly introduced designs which are missing.

In terms of implementation, I'm thinking either of these basic layouts (we'll keep the existing onboarding styles though, just showing

[2021-04-05 23:27] jordesign commented on #45760
This looks great to me - thanks @sfougnier

[2021-04-05 23:33] ollierozdarz commented on #51368
@razvanpapadopol do we have a different default `input` state available which isn't the grey background?

I believe in the past we tried having this input focused by default (or at least there was discussion about it) for when the user enters the page. This could be an option to consider, but the only non-ideal consequence is on mobile it would activate the keyboard which blocks the majority of th

[2021-04-05 23:40] ollierozdarz commented on #50605
Great feedback!

We've got some plans to introduce more features to this list in the near future, which will utilize more non-Business plans. The remaining issues sound like they can be cleared up by changing some of the language used.

I'll be looking at this in the coming weeks.

[2021-04-05 23:42] ollierozdarz commented on #50606
@razvanpapadopol can we please assign this feedback to one of our Marketing partners? I assume the language here has had some collective effort and brainstorming in the past to get it to this point and I wouldn't want to dive in to change it 🙂

[2021-04-05 23:48] ollierozdarz commented on #42121
@ianstewart yep! 🙂 This should be taken care of in the Goals intent work.

[2021-04-05 23:49] creativecoder commented on #50523
Related issues, possibly duplicates: https://github.com/Automattic/wp-calypso/issues/42495 and https://github.com/Automattic/wp-calypso/issues/51119

[2021-04-05 23:51] ollierozdarz commented on #42945
I believe there are some tests happening in this space at the moment from MarTech, especially around putting the comparison table into an expandable area since we now have an inline features table on each plan.

[2021-04-05 23:54] creativecoder commented on #50523
A couple of technical notes:

Something seems to mark the site launch task complete when the site goes Atomic

<img width="765" alt="Screen Shot 2021-04-05 at 18 51 39" src="https://user-images.githubusercontent.com/1699996/113640032-294e4200-9640-11eb-974b-3e9acf7ae773.png">

Additionally, there's still at least some code that gates the checklist to Atomic sites: `\Onboarding_Checklist\is_blog_el

[2021-04-06 00:03] creativecoder commented on #49840
This actually seems to happen with either of the blocks synced from Newspack, either Blog Posts or Posts Carousel.

[2021-04-06 00:17] #48339 closed, assigned to nobody

[2021-04-06 00:53] inaikem commented on #51668
That's what I thought too, initially. That said, this user reported the issue as having started within the past couple of weeks. Apologies, I should have added that context in the issue description above.

[2021-04-06 01:59] kaitohm opened #51699 "Media search results only return some results"
### Steps to reproduce the behavior

1. Go to Media Library on a site with many files
2. Search for files
3. The Calypso Media Library will only show some results - probably only results from those that were loaded before the search. If searched from https://domain.com/wp-admin/upload.php , search offers many more results.

### Context

3877867-zd-woothemes (site has 2,778 media items)

#### Does

[2021-04-06 02:34] happychait commented on #51371
3882885-zen

[2021-04-06 02:41] creativecoder commented on #49840
Fix at https://github.com/Automattic/wp-calypso/pull/51700

[2021-04-06 03:09] kosiew commented on #50560
#3789782-zen - Customer getting `Error connecting to WordPress Try again` at Anchor.fm and not able to import any post from WordPress.com

[2021-04-06 06:15] ddc22 commented on #51594
@dereksmart I installed yoast on a free site, however the capacity remains as 3 GB. Does this mean that this issue does not exist?
![image](https://user-images.githubusercontent.com/3422709/113666864-8e9c4480-96cd-11eb-932b-111363475f44.png)

[2021-04-06 07:08] devNigel commented on #51381
Another report in #28739524-hc

[2021-04-06 07:11] roo2 commented on #51660
I've got a patch to fix this, I just need to get it merged D55562-code

[2021-04-06 07:58] zdenys commented on #51672
Possibly a duplicate of https://github.com/Automattic/wp-calypso/issues/51663?

[2021-04-06 08:01] andrewserong commented on #50407
Thanks @jeyip, not a worry at all! This one wasn’t urgent and got reviewed and merged in nice and quickly 😊

[2021-04-06 08:46] cpapazoglou commented on #51672
Correct @zdenys, closing this as duplicate of #51663.

[2021-04-06 08:46] #51672 closed, assigned to nobody

[2021-04-06 08:47] cpapazoglou commented on #51663
This is a regression. We should always show the Calypso Themes screen for Simple sites.

[2021-04-06 08:52] tjcafferkey commented on #51366
This has been fixed. You can access revisions via the Customizer. See screenshot below.

![Screenshot 2021-04-06 at 09 48 33](https://user-images.githubusercontent.com/8639742/113685088-cbf8d600-96bd-11eb-9875-104480da3491.png)

[2021-04-06 08:52] #51366 closed, assigned to nobody

[2021-04-06 08:54] cpapazoglou commented on #51366
Also,  while `wp-admin/themes.php?page=editcss` doesn't work, there is an Appearance -> Edit CSS which redirects you to the Customizer Additional CSS.

[2021-04-06 08:58] philnick206 opened #51702 "eCommerce Plan: Powerpack Designer not included on eCommerce plan sites"
WordPress.com eCommerce plan sites come with the Powerpack extension, however, the version of the extension that is installed does not come with Designer: https://wordpress.com/support/ecommerce-plan/#themes-amp-customization

This can create confusion and also limits the amount of customizations that can be done with Storefront-based themes that are included with the plan.

[2021-04-06 09:17] cpapazoglou opened #51703 "Collapse Sidebar: Persist state in Calypso"
**Steps to reproduce**

1. Starting at URL: `/home`
2. Collapse the sidebar
3. Refresh the page

Result: The sidebar is expanded

Adding Persistence in the selector will mitigate this problem, since subsequent reloads of calypso will have the same state (eg sidebar collapsed)

[2021-04-06 10:27] david-szabo97 commented on #51482
Are you sure that's going to fix it? 🤔 On WP.com it's a proxied request issue and it is not related to the context query parameter. The `/` endpoint is not accessible at all on WP.com which causes this issue. We should move these settings to a totally separate endpoint. (Just like `settings` endpoint)

[2021-04-06 10:50] carinapilar opened #51706 "Anchor: Podcast Showing Wrong Episode"
### Summary
When adding a podcast with multiple episodes, even if you add the link to the right one, it shows the first one on the site - although it shows the correct episode in the editor.

### Context
We got 2 reports about this, please, check this post for detailed information and troubleshooting steps: p2EDhh-1fu-p2

[2021-04-06 12:09] synora opened #51709 "Media Library Shows "Invalid Date""
A user reported an "invalid date" message instead of an actual upload date.

<img width="830" alt="Screen Shot on 2021-04-06 at 08-06-04" src="https://user-images.githubusercontent.com/10015451/113708287-09a23280-96af-11eb-87bb-25c9a7e2829b.png">

I can replicate this across both simple and Atomic sites.

[2021-04-06 12:24] michaeldcain commented on #43328
@paulbonahora do you know if this ended up being implemented with the monthly plans work? If not, it might be a good test going forward.

![Screen Shot 2021-04-06 at 8 22 47 AM](https://user-images.githubusercontent.com/942359/113710259-7caca880-96b1-11eb-89e2-5164ef012f9e.png)

[2021-04-06 12:27] allanftd commented on #51709
Also reported by another user on HC - 22002049-hc (Premium planholder). Thanks!

[2021-04-06 14:32] cpapazoglou commented on #51703
While persisting the state is easy, it's not so clear when - how we are going to apply this state after the User lands on Calypso.

### Facts
- We've got two states for the sidebar: Expanded, Collapsed
- Collapsed state is possible only for `>800px` breakpoints
- The sidebar state affects the primary content. Depending on sidebar `width` the content shifts to the left (collapsed) or to the right (

[2021-04-06 14:38] edwinho89 opened #51714 "CoBlocks Hero Block: Enable FullScreen Overlapped Contents on Mobile"
### Steps to reproduce the behavior

1. Create a [Hero Block](https://blocks.wp-a2z.org/block/hero-coblocks-hero/) with a background image, on a page or post.
2. Enable Fullscreen mode on Hero Block.
3. Publish the content, and visit the page/post on mobile.

#### What I expected to happen

Hero Blocks can be seen nicely, with hero block contents

#### What actually happened

Contents within Hero

[2021-04-06 14:46] cpapazoglou commented on #51703
You can also check it live here: https://hash-78a3f9d517bb511f54e825117c54c9b78fcf922d.calypso.live/home

cc: @sfougnier

[2021-04-06 14:51] #51212 closed, assigned to nobody

[2021-04-06 14:53] retrofox commented on #49205
@frontdevde have you had the chance to take a look at this one? I'm not sure how we should proceed to tackle the issue. Should we change the color palette manually?

[2021-04-06 15:39] sixhours commented on #49154
It looks like the front-end spacing weirdness issue on desktop is specific to P2; my normal simple sites and atomic sites are fine:

<img width="1665" alt="Screen Shot 2021-04-06 at 11 38 27 AM" src="https://user-images.githubusercontent.com/2124984/113738117-9f988600-96cc-11eb-9afd-fe0d9aec3d57.png">
<img width="1670" alt="Screen Shot 2021-04-06 at 11 37 45 AM" src="https://user-images.githubuser

[2021-04-06 15:42] ianstewart opened #51715 "Horizon Site Editor Flow: New pages always loading in Site Editor after Publish"
### Steps to reproduce the behavior

1. Visit  Calypso Pages Screen.
2. Add new page titled “Test 1” and publish it in “not-FSE page editor”.
3. Return to Calypso Pages Screen.
4. Click on “Test 1” page to edit it.
5. “Test 1” loads in Site Editor.

1. Visit Calypso Pages Screen
2. Add new page titled “Test 2” and publish it in “not-FSE page editor”.
3. Click View Page in post-publish sidebar to v

[2021-04-06 15:44] simranvijwani commented on #51537
Sure, @claudiucelfilip!

Here is the screen recording:

https://user-images.githubusercontent.com/34896144/113738720-c2eb2180-971c-11eb-8084-44f81e39301f.mov

[2021-04-06 15:54] jeyip commented on #51715
I wasn't aware of this earlier, but the described behavior does, in fact, appear to be intentional. See https://github.com/Automattic/wp-calypso/pull/50866

I think we can close this issue 🙂

[2021-04-06 15:56] ianstewart commented on #51715
Let's close it up. :D

[2021-04-06 15:56] #51715 closed, assigned to nobody

[2021-04-06 15:58] sixhours commented on #49154
Aha, it's the core menu toggle for `/wp-admin`:
<img width="231" alt="Screen Shot 2021-04-06 at 11 57 33 AM" src="https://user-images.githubusercontent.com/2124984/113741127-55fd6a80-96cf-11eb-8ba2-d7c1fb369b27.png">

I'm not sure why it's showing on P2 sites' front-end but it should be safe to `display: none` it at the bare minimum.

[2021-04-06 16:29] obenland commented on #51566
@mreishus Any chance the Atomic work on image sizes could affect this?

[2021-04-06 16:48] sixhours commented on #49154
I think this is the expected behavior. In Calypso, the top bar color will change depending on your color scheme, and those won't be reflected on the front end. We could update the default color scheme top bar color to match the front end for closer visual parity, but I don't think we should set the expectation that the front end will match Calypso.

[2021-04-06 17:25] synora commented on #51709
Resolved.

[2021-04-06 17:25] #51709 closed, assigned to nobody

[2021-04-06 17:48] liviopv opened #51716 "Media Library/Modal: include Pexels and Google Photos as image sources in WP Admin/Classic Editor screens"
With Nav Unification, users now have the possibility of completely missing out on our integration with Pexels/ Google Photos if they turn on WP Admin in the dashboard appearance settings and set the Classic Editor as the default editor.

When both of those things are turned on, there's no area that loads the Calypso media modal, so it would make sense for us to try to port those options into the W

[2021-04-06 18:28] sixhours commented on #49154
Related issue: #47386

[2021-04-06 18:47] sixhours commented on #49154
Started a PR for the extra left-hand padding in D59796-code

[2021-04-06 18:56] sixhours commented on #47386
This might be fixed by D59796-code

[2021-04-06 18:56] kriskarkoski commented on #51097
Another report in 3886000-zen

[2021-04-06 18:59] obenland commented on #51716
When customers opt out of two experiences that we're working towards, I think it's reasonable to expect that the result doesn't include every feature that was previously available. We should spend more time on giving customers more reasons to switch back to the better experience than on back-porting features that are otherwise available.

[2021-04-06 19:04] obenland commented on #51695
@tyxla Is it possible this could have been caused by https://github.com/Automattic/wp-calypso/pull/51681?

[2021-04-06 19:06] obenland commented on #51693
I also thought this is intentional.

@ramonjd Can you confirm that this is indeed the intended behavior?

[2021-04-06 19:11] mreishus commented on #51064
### Analysis of "Feedback"
For "feedback", the "label" (which should be translated) is coming from a XHR call to `/sites/%d/post-types`. On simple sites, it's translated, on jetpack+ephemeral sites, it is not. Example:

![2021-04-06_14-03](https://user-images.githubusercontent.com/937354/113764870-28b9b800-96e1-11eb-8886-f5dc3445f8f0.png)

Depending on the type of site, the requests go through dif

[2021-04-06 19:37] alshakero commented on #51231
@razvanpapadopol I'm not against this but I don't understand the reasoning. Why would we allow `site_creation_flow` value to be "gutenboarding" or "with-design-picker" while not expecting options to be passed?

[2021-04-06 19:46] kwight commented on #45470
This is still valid as far as I know – perhaps it's related to Safari third-party cookies.

[2021-04-06 20:06] obenland commented on #51581
Is this a request to add Quick Edit to Calypso's pages and posts list? I'm not entirely clear on that based on the ticket description.

[2021-04-06 20:08] obenland commented on #51683
How odd. It has the right link on the posts list, but for pages it's an Edit button, not a link.

[2021-04-06 20:36] obenland commented on #47981
Mentioned in p1617737873095400-slack-C02FMH4G8

@jeffersonrabb Is this something you might be able to look at?

[2021-04-06 20:38] obenland commented on #51533
The Atomic behavior was worked on in https://github.com/Automattic/jetpack/issues/18294.

To distill a todo here: With the toggle active the Export menu item should link to wp-admin.

Is there any reason you can think of why that shouldn't be done?

[2021-04-06 20:43] obenland commented on #51530
Do we update the `is_redirect` site option somehow?

https://github.com/Automattic/wp-calypso/blob/38c37bbfe35b8c741c4e346637987ddc0fb3ab59/client/blocks/site/index.jsx#L186-L188

[2021-04-06 20:44] obenland commented on #51716
I see there's already a docs issue open to update the support page. Let's close this one in favor of setting clearer expectations.

[2021-04-06 20:44] #51716 closed, assigned to nobody

[2021-04-06 20:56] obenland commented on #51457
PressThis _would_ be available in `wp-admin/tools.php` if we linked to it with the toggle active.

Given how few customers this will affect, could we close for now and see how much feedback we actually get on this?

[2021-04-06 21:01] obenland commented on #51429
@sfougnier Have you had a chance to audit the comment screen for feature parity with Calypso yet? Would this be candidate on WoA sites to switch over to wp-admin by default sooner than others, like posts/pages list screens?

[2021-04-06 21:02] obenland commented on #51397
Did they mention whether they used wp-admin exclusively before?

[2021-04-06 21:14] obenland commented on #51388
I'd like to avoid us deviating from Core on this if at all possible. Any adjustment of Core styles would have to be tested and maintained with any Core update.

Yes, nav unification makes this issue apparent earlier than on a vanilla install, yet any plugin that adds a column will have that same effect (Jetpack Likes & Stats for example). Maybe we could instead look into hiding certain columns for

[2021-04-06 21:15] creativecoder opened #51722 "ETK Nav Sidebar: update how site icon is fetched when finalized in Gutenberg"
**Task Details**

For now, we are fetching the site icon to display in the upper left corner using an [unstable Gutenberg API](https://github.com/WordPress/gutenberg/blob/68c3978be352c6d3982f73bcf8c80744608c53c8/lib/init.php#L160).

Once this is updated in Gutenberg, update the Nav sidebar component to use the updated API.

Relevant calypso code that needs changing:

https://github.com/Automattic/

[2021-04-06 21:20] noahtallen commented on #49154
I think my personal expectation would be for that bar to match my color scheme (especially if wp-admin/calypso are being kept in sync now) because it's part of the logged-in management UI

Thank you for looking into this! Glad it's not as wide-spread as it seemed at first.

[2021-04-06 21:20] obenland commented on #51440
@pablinos This seems to be part of the editor changes of Calypsoify that have not been removed yet?

[2021-04-06 21:47] obenland commented on #51350
Ideally there shouldn't be any overlap, the vertical sidebar menu items are a secondary navigation (secondary to the top-level menu items like My Home, Stats, etc), the horizontal menu items are a tertiary navigation.

"My Plan" is part of "Plan", which itself is part of "Upgrades"
"Stats" doesn't have a secondary navigation, but within that screen we have the tertiary navigation of "Store" stats

[2021-04-06 21:52] kwight commented on #41272
I'm closing this as the main issue (the rendering) has been addressed, albeit lacking optimization – followup can be done with https://github.com/Automattic/jetpack/issues/19445.

[2021-04-06 21:52] #41272 closed

[2021-04-06 21:56] jordesign commented on #50560
I've just tested this and can confirm it takes place when the initial connection was made from a Simple Site URL (https://anchortest54667491.wordpress.com/) and then tries again after the site has gone Atomic (https://anchortest54667491.wpcomstaging.com/)

<img width="1164" alt="Screen Shot 2021-04-07 at 7 55 24 am" src="https://user-images.githubusercontent.com/1842363/113783131-a1b71f00-9776-11e

[2021-04-06 22:01] ramonjd commented on #51693
Hi folks,

@Aurorum is right: it was a while back now that we set the user's primary site's home as the default landing page for logged-in users.

`/read` was the fallback, e.g., if the user's account had yet not sites. cc @andrewserong for citation check :D

I can't seem to replicate the redirect to `https://wordpress.com/stats/day`.  For my test account, which has several sites, I am always redi

[2021-04-06 22:06] macmanx2 commented on #51693
No, that's https://wordpress.com/support/account-settings/#dashboard-appearance

[2021-04-06 22:16] obenland commented on #51347
I wonder if that is a style issue that was introduced with the recent color scheme work, where the active tab just doesn't appear active anymore?

In `Modern` it's harder to tell than in `Blue` for example:
Modern | Blue
---- | ----
![Screen Shot 2021-04-06 at 3 09 58 PM](https://user-images.githubusercontent.com/1398304/113784553-7be43880-96ea-11eb-8510-fbbdc74b6e54.png) | ![Screen Shot 2021-04-0

[2021-04-06 22:17] obenland commented on #51347
Oh, and it looks like "Classic Blue" even has a third color there. Maybe this is something we can change for Core color schemes?

![image](https://user-images.githubusercontent.com/1398304/113785052-3e33df80-96eb-11eb-8ca0-55bbbca84d13.png)

[2021-04-06 22:24] davipontesblog opened #51730 "Media upload: Error uploading .m4a files on atomic sites"
### Steps to reproduce the behavior

On an atomic site on WordPress.com,
1. Go to 'My Site > Media'
2. Click on 'Add new' and upload a .m4a file, or drag and drop a .m4a file.

#### What I expected to happen

For the file to upload without issues. We mention here that this is an accepted filetype: https://wordpress.com/support/accepted-filetypes/#audio

#### What actually happened

If you have the

[2021-04-06 22:24] davipontesblog commented on #51730
User report on 3886023-zd-woothemes

[2021-04-06 22:29] msilbers commented on #51381
reported in #21754339-hc by a customer who misses the detailed stats from Jetpack/wp-admin

[2021-04-06 22:37] davipontesblog commented on #51730
Working with the user to try and re-encode the file to .m4a which may help fix the issue.

[2021-04-06 22:44] obenland commented on #51346
@jeherve What are our options here? Is it possible to remove the `Settings` menu item without breaking too much stuff for Jetpack?

Also #51342 and #51340.

[2021-04-06 22:47] obenland commented on #51350
Let's leave things the way they are for now. It has worked for Calypso in the past and the new menu is not exactly easy to scan as it is.

[2021-04-06 22:47] #51350 closed, assigned to nobody

[2021-04-06 22:48] obenland commented on #51096
@sfougnier Any thoughts on this one? I imagine there's a reason these widths are the way they currently are?

[2021-04-06 22:49] ramonjd commented on #51693
Ah, yes. Thanks! I had that checked already :)

This comment describes what has been the case since [March 2020](https://github.com/Automattic/wp-calypso/pull/39656): https://wordpress.com/forums/topic/new-navigation-oddity/#post-3659479

So, yes the redirect to home is intentional. 👍

[2021-04-06 23:02] gwensmithx commented on #51381
Just adding they came back to chat and said "It is the viewers breakdown - percentage of gender and age of viewers on my pages."

[2021-04-06 23:05] obenland commented on #51693
Thank you!

[2021-04-06 23:05] #51693 closed, assigned to nobody

[2021-04-06 23:46] glendaviesnz commented on #49404
This also needs to include:

- Logging of any blocks that throw validation errors
- A way of easily finding which pattern/template posts and pages contain those blocks, eg. a search option in MC that allows searching by saved block content

[2021-04-07 00:02] andrewserong commented on #51693
Thanks for the ping @ramonjd — yes, the logic lives here: https://github.com/Automattic/wp-calypso/blob/ed3e91545e431da92beeffcbe80289eadde067c0/client/root.js#L69-L69 and roughly goes:

1. If the user does not have a primary site, we default to the reader (`/read`).
2. If the user / site is eligible for the customer home, we redirect to the customer home (`/home/`).
3. If the user / site is not e

[2021-04-07 00:52] pauloeaquino commented on #51670
Came across another issue in #3885255-zen

[2021-04-07 02:27] creativecoder commented on #51482
@david-szabo97 You're right, that Gutenberg change won't fix it (even though I had convinced myself it would 🤦‍♂️)

However, I think I did find a solution! After an epic xdebug session with the wpcom API, I discovered that the root endpoint is available for Simple sites, in the form of `https://public-api.wordpress.com/wp-json/?rest_route=/sites/{site_id}/`. Figuring that out, I put together a dif

[2021-04-07 02:34] creativecoder commented on #51396
Correction, #51477 will work with Simple sites, but needs some wpcom changes first: D59822-code

[2021-04-07 06:15] #49840 closed, assigned to creativecoder, alshakero

[2021-04-07 07:42] Robertght commented on #51730
Converting the file to .MP3 helped and they were able to successfully upload the file.

[2021-04-07 08:08] tyxla commented on #51695
I don't think so. That affected only the date that is displayed for each group, but nothing more.

I'm actually unable to reproduce - tested with multiple sites - WP.com simple, Jetpack, Atomic, and couldn't repro with any of them. Is it possible there is an error visible in the browser console or in an API request response?

[2021-04-07 08:15] zdenys commented on #48746
3872476-zd-woothemes

User has a self-hosted JP connected site and cannot manage the domain settings due to the error in Calypso.

[2021-04-07 08:16] tjcafferkey commented on #51703
It feels like the second option here is most preferable imho for a better experience. What are the trade offs with waiting until we know the state of the layout before determining the sizes of the loading states? Seems like as the state is persisted in cache there shouldn't be much delay when retrieving that value?

Also, how much effort would be involved with this?

[2021-04-07 08:41] simison opened #51740 "W logo visually broken in the editor"
In the editor, the W logo is visually broken:

I don't remember seeing this border on hover before — I think the whole area just used to have brighter color on hover:

<img width="392" alt="Screenshot 2021-04-07 at 11 36 32" src="https://user-images.githubusercontent.com/87168/113836872-f1f1a980-9795-11eb-994c-c33f48f5b485.png">

And when I open the drawer, site title/logo breaks up, and border ar

[2021-04-07 09:01] #49036 closed, assigned to cpapazoglou

[2021-04-07 09:02] #49314 closed, assigned to cpapazoglou

[2021-04-07 09:23] ciampo opened #51743 "Design Picker: improve and re-enable randomisation unit tests"
## What

As discussed in https://github.com/Automattic/wp-calypso/pull/51633/files#r626047488, currently the design picker unit tests for the list randomisation are potentially flakey

## Why

Unit tests should reproduce the same result every time they run

## A/C

- [ ] Extract randomisation algorithm to separate function / file
- [ ] Test the randomisation function individually (e.g. by mocking

[2021-04-07 09:31] mmtr opened #51745 ""Links" menu missing when custom hidden links are created"
### Steps to reproduce the behavior

1. Go to '/wp-admin/link-manager.php'
2. Remove all existing links.
3. Create a new private link (make sure to check the "Keep this link private" setting).

#### What I expected to happen

Since a non-default link has created, the "Links" menu should show up.

#### What actually happened

The "Links" menu is still missing.

[2021-04-07 09:39] zdenys opened #51746 "Reblog: A blank post is created if `Show advanced dashboard pages` is active"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account and toggle on `Show advanced dashboard pages`
2. Go to Reader and find a post to reblog
3. Click the share icon, and select one of your sites to share to
4. Notice that this triggers the creation of a new, blank post with nothing from the previous post carried through to be shared.

#### What I expected to happen
See th

[2021-04-07 09:39] zdenys commented on #51746
3886937-zd-woothemes

[2021-04-07 10:39] retnonindya commented on #51532
Closing this in favor of this report:

https://github.com/WordPress/gutenberg/issues/30490

[2021-04-07 10:40] #51532 closed, assigned to nobody

[2021-04-07 10:59] aleone89 opened #51747 "Paragraph block: Inline text colour picker does not stay static"
1. Go to Posts/Pages > Add New
2. Add a title
3. Add a paragraph block > Add text
4. Highlight text > click the more options arrow button
5. Select **Text Colour**
6. Select **Custom colour**
7. Move the **colour spectrum picker bar** to change colour spectrum
8. **Text Colour** options close

#### What I expected to happen

For the **Text Colour** box to stay open and I can change the colour.

##

[2021-04-07 11:21] ciampo commented on #51740
Looking at https://github.com/WordPress/gutenberg/pull/29888, it seems like these border hover styles are working as expected

This definitely seems buggy, I'm going to take some time to reproduce and potentially fix

[2021-04-07 11:22] simison commented on #51740
Aight! Thanks for digging up the PR for hover styles. :-)

[2021-04-07 11:37] claudiucelfilip commented on #51534
Thank you for raising this!

The issues seems to happen on other themes as well. It caused by a Marketing Upsell banner, which appears on Free plans. The CSS for this provide some extra top spacing for the banner to fit into.
Opened D59725-code to remove this extra CSS from the AMP version.

[2021-04-07 11:41] ciampo commented on #51740
I can reproduce this consistently. The issue is indeed related to ETK code, in particular to [some higher-specificity rules](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/components/header/fullscreen-mode-close/style.scss#L19) that override some of the styles set in ETK for that button:

https://user-images.githubusercontent.com/1083581/113860012-d5f60400-97a5-11eb-8273-

[2021-04-07 11:42] simison commented on #51740
Yep, sounds good. Grant is also off from gardening so someone should take the work over anyway. Thanks again!

[2021-04-07 11:45] claudiucelfilip commented on #51539
Thank you for testing and raising this.

The error is caused by the fact that AMP Dev Mode is enabled. This is an expected behaviour in this version of the plugin. However, this should only be enabled if the user is logged in. However, an  additional, custom, sanitizer is overwriting this and forcing this mode all the time.
Opened D59726-code to prevent the Dev Mode from being overwritten.

[2021-04-07 12:02] claudiucelfilip commented on #51537
@simranjeetkaur10
Thank you for the screenshare. It really helped to sort this out.

From what I see this is an Atomic site, which shouldn't be affected by this rollout. This should have been showing this issue for some time (2.0.11).
Also, this seems to be an issue between the WP AMP plugin and [CoBlocks](https://wordpress.org/plugins/coblocks/). We probably need to raise an issue on the WP AMP [

[2021-04-07 12:13] #51745 closed, assigned to tjcafferkey

[2021-04-07 12:14] davipontesblog commented on #51730
I tested re-encoding the user's own file to .m4a format, and the upload worked. I used https://amvidia.com/to-m4a-converter for re-encoding, with general settings applied. The file uploaded without issues.

Closing this issue.

[2021-04-07 12:15] #51740 closed, assigned to ciampo, creativecoder

[2021-04-07 12:21] tjcafferkey commented on #51745
Deploy to WPCOM in r223887-wpcom to Simple sites. Atomic sites will get this on May 4th when the next scheduled Jetpack release is.

[2021-04-07 12:37] ciampo commented on #51396
With #51477 merged:

- the bug should be fixed for Atomic sites that update to latest ETK version
- the bug will be fixed for Simple sites once D59822-code gets approved and deployed

[2021-04-07 12:39] ciampo commented on #51482
With #51477 merged:

- the bug should be fixed for Atomic sites that update to latest ETK version
- the bug will be fixed for Simple sites once D59822-code gets approved and deployed

[2021-04-07 12:48] StefanNieuwenhuis commented on #51233
Together with @yansern, we've been able to create a Phab Diff (D59839-code) to take care of the treatment-depending redirecting.

[2021-04-07 12:59] tjcafferkey commented on #50428
Closing this issue as it's no longer reproducible. Potentially fixed by https://github.com/Automattic/wp-calypso/pull/51364

[2021-04-07 13:43] rickmgithub opened #51751 "Karuna and crowdsignal overlapping column blocks"
### Steps to reproduce the behavior

- URL: thebrev.co.uk
- On this page - https://thebrev.co.uk/home/?preview_id=5&preview_nonce=b8d66376b7&preview=true
- The Crowdsignal block laps over the post carousel block beside it like this - https://d.pr/i/A3QPz7
- If you remove the sidebar from the page, it shows correctly again
- I can repeat this behaviour on a test site

#### What I expected to happen

[2021-04-07 13:52] liviopv opened #51753 "Yoast Integration: individual plugin pages don't show "Upgrade to Business" option"
### What plan tier is the site on?
Free
### Where are you seeing the issue?

1. Go through the process of getting Yoast on a new free site
2. Go to My Site > Plugins
3. Select any plugin

### What I expected on the WordPress.com site

I expected a notice in the individual plugin page like the one visible in the main Plugins page

![Screenshot](https://d.pr/i/09RyUs+)
Screenshot: https://d.pr/i/09R

[2021-04-07 14:04] ciampo commented on #37459
Hey @jeyip! As I'm going through the gardening board, I'm just checking on the progress of this issue, since it's marked as "in review", but D58565-code still has pending feedback

Do you think you'll address this feedback soon? Should this be moved back to "In progress"? If the changes that are required are minor, I could try to pick it up (although I'm not really knowledgable with that part of t

[2021-04-07 14:37] pauljacobson opened #51754 "Comments: Noticeable delay before Post Comment button appears when replying to a comment"
### Steps to reproduce the behavior

1. Go to a post on the public-facing site (for example, https://doitrightquilter.com/2021/03/28/slow-sunday-stitching-9/ )
2. Click on _Reply_ to reply to a comment left by another visitor
3. Start typing a reply in the text field that opens
4. The option to either sign in to post the comment, or simply post the comment if already signed in does not appear auto

[2021-04-07 14:42] kwight commented on #50560
@jordesign Oh, that's interesting – that could point to a larger issue with OAuth and the API in general for that case. Maybe the next step is to ask atomicrequests if they've seen similar issues at all before.

[2021-04-07 14:45] metabreakr commented on #50454
I am having a similar issue in #3888585-zen, however this is inconsistent between logos, which also breaks the layout.

User tested in Chrome and Firefox, and switched from 2019 to 2021 themes with no difference.

[2021-04-07 15:42] cpapazoglou commented on #51703
Never mind, I was too naive. The styles were loading together with the unified sidebar which loaded async. Moving the code to files that don't load async fixed everything.

[2021-04-07 15:56] khristiansnyder commented on #50126
Another report in #3874575-zen

Theme: Lovecraft.

<img width="593" alt="Screen Shot 2021-04-01 at 6 59 47 PM" src="https://user-images.githubusercontent.com/41035049/113896807-2148ec00-977f-11eb-8c22-b40c44cae2ba.png">

[2021-04-07 17:11] #50562 closed, assigned to sixhours

[2021-04-07 17:20] ianstewart commented on #38510
This is still an issue and still seems worth addressing.

[2021-04-07 17:22] ianstewart commented on #38510
We have some individual block support docs like …

https://wordpress.com/support/wordpress-editor/blocks/twitter-block/

… that could be added case-by-case. And for general embeds without case-by-case docs we could perhaps fall back to this …

https://wordpress.com/support/wordpress-editor/blocks/embed-block/

[2021-04-07 17:40] sixhours opened #51757 "Top bar: Should front-end match Calypso color scheme?"
Continued from #49154

_Originally posted by @noahtallen in https://github.com/Automattic/wp-calypso/issues/49154#issuecomment-814447171_

This is a fair point, and although the issue in question isn't really a bug, it's something we could discuss and prioritize. Should the front-end top bar match the Calypso color scheme for that user account, since it's technically an admin feature?

[2021-04-07 17:42] sixhours commented on #49154
@noahtallen That's fair! I've opened a new issue in #51757 since I can see it going both ways and it's not technically a bug.

[2021-04-07 17:47] obenland commented on #39850
@timmyc Has this happened yet or is there an ETA when it might?

[2021-04-07 17:54] scosgro opened #51758 "Customizer: Color options are overriding block editor paragraph color options."
### Steps to reproduce the behavior

1. Activate a theme that has options for Colors & Backgrounds in the Customizer (the more, the merrier). User report was on Button 2. Other options could be Apostrophe 2 or Dara.
2. Go to Customize - Colors & Backgrounds, and set some non-traditional colors, like a teal background, for example, and some other colors in the palette.
3. Open the editor for a page

[2021-04-07 17:55] liviopv opened #51759 "Yoast Integration: "Install Plugin" area can be accessed, but there's no prompt to upgrade after plugin instalation fails"
### What plan tier is the site on?

Free

### Where are you seeing the issue?

1. Go through the process of adding Yoast to a free site
2. Go to My Site > Plugins
3. At the top, click on "Install Plugin"
4. Upload a valid plugin .zip file
5. The plugin will not be installed (correctly), but no reason will be given

### What I expected on the WordPress.com site
There are a few different ways to go

[2021-04-07 17:55] ericamQA commented on #51413
Another instance in 28740564-hc where the theme was added via ftp and not immediately activated so they couldn't find it in their media library without contacting support.

[2021-04-07 18:00] sixhours commented on #49154
Just breaking this out into checkboxes so I can keep track of what's shipped:

- [x] In calypso, the shade of gray for the top-bar background color is darker than the shade of gray on a site frontend. (TBD in #51757)
- [ ] On front end views, on desktop viewports, there is significantly more left margin on the "reader" button than there is in the Calypso view. (P2 only, reported in Automattic/p2#2

[2021-04-07 18:11] obenland commented on #51641
I tried editing the `Uncategorized` category to `adventure` (one of the term IDs that I saw associated with the error in user interactions) and was able to reproduce it intermittently.
I also received the error `You attempted to edit an item that doesn’t exist. Perhaps it was deleted?`.

When updating from Quick edit, the ajax handler just return `-1` as an error response:
![image](https://user-im

[2021-04-07 18:24] obenland commented on #51164
@jaswrks Is this something you might be able to look at?

[2021-04-07 18:36] liviopv opened #51760 "Add post-install indication that My Site > SEO is Yoast"
After enabling Yoast on their site, we assume a lot of WordPress.com will not know where to go next to manage Yoast. Since Yoast dashboard label says "SEO" and not "Yoast", some users can get confused by that.

If Yoast activation is successful, we should add some indication on My Home, lightbox or guided tour about what the user needs to do next in order to actually start benefiting from Yoast on

[2021-04-07 18:38] liviopv commented on #51760
Closing in favour of 77-gh-Automattic/wordpress-seo-premium

[2021-04-07 18:38] #51760 closed, assigned to nobody

[2021-04-07 18:42] obenland commented on #49223
@worldomonation Is this something you can still recreate?
I've tested in Safari, FF, and Chrome, and on all three browsers it opened the new window but didn't follow a link.
Maybe this was an intermittent bug during 3CPO development?

[2021-04-07 18:42] sixhours commented on #49154
The absence of a Write button on the front end is also specific to the new P2 (not older versions); normal site:

<img width="1665" alt="Screen Shot 2021-04-07 at 2 38 47 PM" src="https://user-images.githubusercontent.com/2124984/113917458-3b9abe00-97af-11eb-95fc-5e820e864c82.png">

P2:

<img width="1665" alt="Screen Shot 2021-04-07 at 2 40 11 PM" src="https://user-images.githubusercontent.com/212

[2021-04-07 18:57] mirka commented on #49154
Right, this was a deliberate design choice to encourage use of the front-end editor. And also to not confuse those who are unfamiliar to WP with two different editors.

[2021-04-07 19:00] #51106 closed, assigned to nobody

[2021-04-07 19:04] jeyip commented on #37459
Hi @ciampo! Thanks for checking in 🙏

I've been a little busier with other priorities the past few weeks and was hoping someone in gardening would've picked it up (p1615781382183400-slack-C013QHLF28Y and p1616421141015200-slack-C013QHLF28Y).

No worries! I'll have some extra time next week, and would be more than happy to take it across the finish line then if you're busy 🙂

[2021-04-07 19:14] Aurorum commented on #51759
Hmm, this is strange. I can't seem to reproduce this issue, and am instead instructed to upgrade to a Business Plan first.

<img width="924" alt="Screenshot 2021-04-07 at 19 30 36" src="https://user-images.githubusercontent.com/43215253/113916323-bed00a00-97d7-11eb-811d-044afb99ef25.png">

[2021-04-07 19:31] ghost commented on #51429
Thanks for bringing this to my attention! I wasn't aware this was a scenario. The functionality between the two screens is actually almost 1:1, things are just styled a bit differently.

Yes, I don't see why not.

[2021-04-07 19:33] ghost commented on #51096
I am 100% for making grid widths consistent across all screens.

I don't have full context on why the grids are the way they are, but I imagine it's due to the content length/amount, how paragraphs wrap, and white space gets trapped across different screen types.

Prior to shipping this change I think it would be good to **test** how this impacts other screens in the experience. It looks mostly fi

[2021-04-07 20:12] ccwalburn commented on #51371
Another case: 115623-hc

[2021-04-07 20:41] obenland commented on #51757
I think I'd prefer to keep it as is. I'd worry that customers would be confused by a color-schemed toolbar in the front-end, assuming that they're actually still in wp-admin.

[2021-04-07 20:43] obenland commented on #51757
@lcollette @sfougnier What do you think?

[2021-04-07 20:44] obenland commented on #51746
@mreishus Any chance this could be related to recent work on Reblog?

[2021-04-07 20:50] obenland commented on #49631
#50318 should have laid the groundwork to fix this one as well.

[2021-04-07 20:52] obenland commented on #49517
@cpapazoglou Has that been done? Can this be closed now?

[2021-04-07 21:24] ccwalburn opened #51765 "Payments Block: Fine Print for Single Purchases refers to Subscription"
When purchasing a single item using the Payments block, the fine print that says you will be creating a Wordpress account and using it to “manage this subscription".

![screenshot](https://d.pr/i/iBmAEs+)
Image URL: https://d.pr/i/iBmAEs

This could deter users who don't want to sign up for a subscription. Could we change the verbiage to use the word "purchase" or something similar instead of "sub

[2021-04-07 21:27] khristiansnyder commented on #51758
Another report in #28879414-hc

[2021-04-07 21:30] khristiansnyder commented on #51747
I was able to replicate this and also received a report in #28879414-hc.

Gutenberg: v10.3.2
CoBlocks: 2.5.3
Editing Toolkit: 3.4003
WP AMP: 1.4.2

![Screen Capture on 2021-04-07 at 14-29-35](https://user-images.githubusercontent.com/41035049/113937290-c2e73200-97ad-11eb-88c8-96d940313b7d.gif)

[2021-04-07 21:35] fullofcaffeine opened #51767 "Gutenberg: v10.4.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/51161
Release notes: [v10.4.0](https://github.com/WordPress/gutenberg/releases/v10.4.0), [v10.4.1](https://github.com/WordPress/gutenberg/releases/v10.4.1)

### Process

- [x] Install and activate
  - [x] Copy & install v10.4.0-rc.1 (D59888-code, D59889-code)
  - [x] Activate v10.4.0-rc.1 on edge (D59891-code)
  - [x] Copy & install

[2021-04-07 21:35] Unwanted-Life opened #51768 "Three issues caused by the recent WordPress update"
Let me start by saying I have zero technical computer skills, I've tried the WordPress.org forum and WordPress.com for support, but no one seems to be able to help. This seems to be the only place left I can seek help. Also excuse any mistakes with my writing as I'm dyslexic

On my WordPress.com free blog

When you write text, highlight it, go to change colour, select custom colour, then go to mov

[2021-04-07 21:36] happychait commented on #51758
28858874-hc

[2021-04-07 21:37] happychait commented on #51758
28854175-hc

[2021-04-07 21:41] obenland commented on #49655
Closing for now, I think this might have been fixed in a separate PR.

In my testing the sidebar does re-adjust when the main content is being scrolled, but it never hides the Add new Site button.

[2021-04-07 21:41] #49655 closed, assigned to nobody

[2021-04-07 22:06] obenland commented on #49963
It looks like the customer had the mobile theme active because the theme they selected when creating the site (Hever) is missing the `responsive-layout` tag. D59890-code will change it to always disable the mobile theme on signup.

[2021-04-07 22:33] mreishus commented on #51064
## Missing Translations on Atomic/Ephemeral Sites

Atomic sites with nav unification have almost nothing translated after switching languages:
![2021-04-07_17-15](https://user-images.githubusercontent.com/937354/113941539-e36eb680-97c4-11eb-9fbe-56f5b8ca253d.png)

### Discrepancies between Atomic and Ephemeral

If you make an Ephemeral site, connect it to wp.com using the green jetpack button, the

[2021-04-07 22:37] supernovia commented on #51188
Just noting we had a super edge case where someone had a site without a blogroll, used a direct link to add three links, and still did not see the Links Manager link in their sidebar.

A fourth link at /wp-admin/link-add.php did the trick.

[2021-04-07 22:41] obenland commented on #50568
Alternatively we could also hide the Category/Tags UI in Settings > Writing.

@sfougnier Do you have a preference either way?

[2021-04-07 22:46] obenland commented on #49145
@pablinos Is this still in progress or should we re-prioritize in a new bundle?

[2021-04-07 22:56] obenland commented on #49244
Thanks so much for the report! This should be fixed with D56006-code.

Please feel free to re-open if this happens again in the future.

[2021-04-07 22:56] #49244 closed, assigned to nobody

[2021-04-07 23:04] timmyc commented on #39850
@obenland the bug is very much still present in the post calypsoify world. As far as we can tell, it only happens on Atomic when Woo is installed via symlink ( like it happens in the ecommerce plan ). We have been unable to replicate the issue in a local env when the woo directory is symlinked so this makes it terribly difficult to try and fix.

@moon0326 has worked on a couple of approaches, and

[2021-04-07 23:09] lcollette commented on #51757
I'd also prefer we leave it as is, mostly because there are higher priority things to work on.

[2021-04-08 01:30] jerrysarcastic commented on #51758
Also reported in the wpcom public forums at https://wordpress.com/forums/topic/paragraph-text-color-and-background-color-settings-cannot-be-managed/

[2021-04-08 02:51] noteeth commented on #48316
@vindl
In my initial comment I was referring to plugin that has `full-site-editing` slug (now called Editing Toolkit Plugin).  Thanks for the information so I know how to clarify in the future

[2021-04-08 02:58] ericamQA commented on #46802
Disconnecting and reconnecting has not worked in the cases I've seen thus far. Though in the instance above, the user said "I tried it on my phone and it did connect, so maybe it is mainly a problem on my laptop or google chrome"

I thought I'd add that note here.

[2021-04-08 03:42] devNigel commented on #51758
Another report 8890061-hc

[2021-04-08 04:49] westonruter commented on #51537
Please take a look at https://github.com/ampproject/amp-wp/pull/6042 for @pierlon's work-in-progress. The lack of editor color palette standardization in themes is causing a key challenge.

[2021-04-08 05:13] kaitohm commented on #51435
Another request for this feature here: 3883331-zd-woothemes

[2021-04-08 06:37] Robertght commented on #51758
Another one in

3885393-zen,  3889047-zen

[2021-04-08 06:42] ramonjd commented on #51476
Does https://github.com/Automattic/wp-calypso/pull/51701 close this one?

[2021-04-08 07:03] druesome commented on #51758
28658411-hc

[2021-04-08 07:05] cpapazoglou commented on #49517
No, we didn't have the chance to pick it up @obenland.

**Sidebar Changes**
There are some subtle color differences between between WPCOM & CORE, WPCOM & Calypso are still in sync though.
![](https://cln.sh/L8KP4f+)

https://core.trac.wordpress.org/changeset?old=49991&old_path=trunk%2Fsrc%2Fwp-admin%2Fcss%2Fadmin-menu.css&new=50025&new_path=trunk%2Fsrc%2Fwp-admin%2Fcss%2Fadmin-menu.css

Since WPCO

[2021-04-08 07:29] cpapazoglou commented on #51662
This should be happening only on Atomic sites. You can share this link for the time being `/wp-login.php?action=logout`.

[2021-04-08 07:46] retnonindya opened #51774 "VideoPress and Classic Editor plugin: Unable to insert VideoPress video when editor is using Classic Editor plugin"
We received two reports about this issue, and I also able to replicate it. We have found the workaround (will be shared below) -- but this is a bug and I hope we can check further into it.

### Steps to reproduce the behavior

1. Open/create AT site.

2. Activate Classic Editor plugin.

3. Upload video to Media Library. Make sure the video is served using VideoPress.

4. Create new post. Make sure

[2021-04-08 07:50] cpapazoglou commented on #51746
Since these changes https://github.com/Automattic/wp-calypso/pull/51108, we redirect users to WP Admin for new or existing posts / pages when the toggle is enabled. Clicking the Reblog button generates a URL

`/post/[SITE_ID]?embed=https%3A%2F%2Fwww.youtube.com%2Fembed%2FfZtovVxp67M%3Fversion%3D3%26rel%3D1%26showsearch%3D0%26showinfo%3D1%26iv_load_policy%3D1%26fs%3D1%26hl%3Den-US%26autohide%3D2%26

[2021-04-08 07:51] cpapazoglou commented on #51683
Since these changes https://github.com/Automattic/wp-calypso/pull/51108, we redirect users to WP Admin for new or existing posts / pages when the toggle is enabled.

[2021-04-08 08:00] Robertght commented on #51767
Howdy! I'm getting this error when I try to publish a post on a simple site:

![image](https://user-images.githubusercontent.com/6737345/113989761-70fbe600-9859-11eb-90b8-aa56437da101.png)

[code]

Slack ref p1617868087136500-slack-CBTN58FTJ

[2021-04-08 08:04] cpapazoglou commented on #51530
This happens in WP Admin and doesn't depend on the toggle. The toggle has surfaced it since user gets redirected to WP Admin. I updated the title & description.

This badge depend on the `is_redirected_domain()`  on https://github.com/Automattic/jetpack/blob/ba122ea426497ae860d770e58b0429802574f38e/projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php#L115-L117

I am not

[2021-04-08 08:54] fresatomica commented on #51758
Another report here: https://wordpress.com/forums/topic/several-problemsbugs-when-editing-pages-and-posts/

[2021-04-08 10:00] ciampo commented on #37459
Alright @jeyip — I'll give it some time and see where I can get. If we could pair on it next week, it'd be great!

[2021-04-08 10:02] simison commented on #49466
@razvanpapadopol is this good to close now?

[2021-04-08 10:40] folletto commented on #50664
See: pbAPfg-1vM-p2 for the discussion about this, as a banner/notice approach might not be the solution here.

[2021-04-08 10:48] razvanpapadopol commented on #49466
The work is pretty much done but I was keeping the issue open while waiting for D59614-code to be deployed. If needed, we can probably create a separate issue to track the signup limit removal for e2e tests.
cc: @yansern @westi

[2021-04-08 10:50] simison commented on #51517
@mattwondra Thanks for analysing this! Any new insights from those logs?

@obenland would your team be able to look into this?

Another good thing could be to make the error less scary, or hide it entirely. For our purposes we should just log these failures and notice it via anomaly alerts in something like Grafana.

[2021-04-08 10:51] poojashetty18 commented on #51758
Another one in 28889670-hc

[2021-04-08 11:15] jeherve commented on #51346
I believe we would need to add additional options to Jetpack > Settings > Writing in wp-admin before we can remove Settings > Writing in Calypso.

On other sub-screens of the Settings page in Calypso, we have similar problems: there are things that are only available in Calypso and that would need to be made available in wp-admin before we remove the whole Settings screen from Calypso. For example

[2021-04-08 11:20] razvanpapadopol opened #51780 "Focused Launch: show CTA buttons after launch in wp-admin"
### Steps to reproduce the behavior

1. Go to /new and create a site
2. Go to wp-admin to edit a page or a post
3. Click Launch button in top bar
4. Complete the flow by picking Free plan and existing subdomain to launch your site for free

#### What I expected to happen
Success message to be displayed with CTA button to continue editing or return to Customer Home

#### What actually happened
CTA

[2021-04-08 11:32] simison commented on #51476
Looks like yep!

<img width="2194" alt="image" src="https://user-images.githubusercontent.com/87168/114019537-35701480-9877-11eb-9c60-7be736a16e88.png">

[2021-04-08 11:32] #51476 closed, assigned to apeatling, ramonjd

[2021-04-08 11:38] kylemcph commented on #51553
Another user pointed out they used the search feature to sort through email addresses of their commenters. I provided a direct link to the WP Admin → Comments page which is a fine temporary solution.

[2021-04-08 12:32] #50787 closed, assigned to ciampo

[2021-04-08 13:12] #50961 closed, assigned to mmtr

[2021-04-08 13:14] csonnek commented on #51758
Originally reported [here](https://github.com/Automattic/newspack-blocks/issues/735#issuecomment-814441333), but it seems more appropriate on this issue.

I can replicate this on any theme including the Twenty themes by going through the following steps:

1. Set custom colors in Customizer -> Colors and Backgrounds for the theme
2. Create a new post in the block editor.
3. Change any colors (backg

[2021-04-08 13:15] davipontesblog commented on #51396
@creativecoder how can one track whether these have been deployed to both simple and atomic sites in WP.com so the issue can be closed?

the bug will be fixed for Simple sites once D59822-code gets approved and deployed

We can then also close https://github.com/Automattic/wp-calypso/issues/51482

Thanks!

[2021-04-08 13:18] davipontesblog commented on #50407
Hi @andrewserong , doing some triaging for issues with "[Status] Fix Inbound" here 👋  Is this one still waiting on any merges to Dotcom?

[2021-04-08 13:20] davipontesblog commented on #49592
Hi @sirreal , is there an ETA for this one? I am tracking the merge which can close https://github.com/Automattic/wp-calypso/issues/45562

Thanks!

[2021-04-08 13:31] davipontesblog commented on #35455
@simison when you say this:

What would be the steps to try to replicate this type of site? I'd like to try and check if this issue is still reproducible.

Thanks!

[2021-04-08 13:34] davipontesblog commented on #45524
@kwight would this be something we have teams working on? I remember we had a project to update and improve the styles of blocks in the reader, emails, and notifications in calypso, I think this would be part of that, no? Just trying to look into the next steps here. Thanks!

[2021-04-08 13:40] davipontesblog commented on #41463
I am closing this one as it seems to be standard and expected behavior as mentioned by @KokkieH .

[2021-04-08 13:40] #41463 closed

[2021-04-08 13:44] davipontesblog commented on #45603
@obenland would this be something that Manage could pick up in a future janitorial run? It seems low effort and it's still an issue, I just repro'ed.

[2021-04-08 13:47] davipontesblog commented on #43332
@olaolusoga is this something that is being explored by the Dotcom Design team? I think it's still very relevant. It may be related to the new marketplace approach as well.

[2021-04-08 13:49] davipontesblog commented on #45019
Closing the issue as this seems to be done.

[2021-04-08 13:50] davipontesblog commented on #45697
@yuliyan is this still being worked on?

[2021-04-08 13:52] davipontesblog commented on #45707
@michaeldcain is there an update on this task? I am triaging "stale bot issues" and it came up, thanks!

[2021-04-08 13:58] yuliyan commented on #45697
@davipontesblog, I haven't had a chance to get to work on it. Let's keep it open and I'll try to get it done soon.

[2021-04-08 13:58] ciampo commented on #51396
As explained above, Atomic sites should already be fixed as soon as they update their ETK plugin. For the fix to land on Simple sites, instead, D59822-code needs to be approved and deployed (pending @Automattic/cylon review) — so, basically, tracking the progress on D59822-code should be enough

I believe that @creativecoder and the whole of @Automattic/cylon are off until next week.

Yes, that wa

[2021-04-08 14:03] davipontesblog commented on #41726
I can not reproduce this issue because I ran into another bug while trying to do this. Clicking "Schedule" in the editor first did nothing, and then on a second click, it crashed the editor.

See here:

https://d.pr/i/ldRK0J/NduXhe5t48

The error that got copied is this:

`TypeError: Cannot read property 'isBeingScheduled' of undefined
    at Mi (https://s0.wp.com/_static/??-eJylkc1OAzEMhF8Ib7oU0V

[2021-04-08 14:08] rezzap commented on #51258
I have a similar issue reported in 3887945-zd-woothemes

When I remove the 'position absolute' from the iFrame in the inspector, the content then loads.

I was able to get it to show by adding this CSS, though I'm not sure if that's alright to use and what else it may affect:

[code]

[2021-04-08 14:15] davipontesblog commented on #51475
Moving to Dotcom Manage board for prioritization.

[2021-04-08 14:17] simison commented on #35455
Oh wow 😅

<img width="457" alt="image" src="https://user-images.githubusercontent.com/87168/114042627-437d5f80-988e-11eb-92ed-071dccd01c14.png">

I don't really know anymore, but let's ask @Automattic/view-engineering who've worked on that block more recently.

[2021-04-08 14:19] simison commented on #35455
Just my gut feel tho; since no reports since 2019, and Artur even noted it's hard to repro, I'd just close and move on. :-) But let's leave that decision for the View team since they own this stuff nowadays.

[2021-04-08 14:32] kwight commented on #41726
Being tracked here: https://github.com/Automattic/wp-calypso/issues/51767#issuecomment-815545152

[2021-04-08 14:47] metabreakr commented on #51180
26056109-hc

Advised they use a plugin instead.

[2021-04-08 14:51] obenland commented on #51746
Serenity recently made it work in wp-admin for WoA sites. Maybe we could port that solution back to wpcom for simple sites?
636-gh-Automattic/wpcomsh

[2021-04-08 14:58] mirka commented on #51767
Some P2-specific issues I'm noticing:

1. ✅ _Fixed in D60017-code_ — These two wp-admin stylesheets are now being loaded in the front-end.

[code]

    These include a lot of type-selector styles like these, which has a broad effect on the existing cascade.

[code]

    I'm guessing these stylesheets are coming from somewhere in Gutenberg's style dependency tree, but not immediately sure whether i

[2021-04-08 14:59] obenland commented on #45603
It looks like this ticket is already on a Create board, which is probably a good place for now.
This would be a great first issue for an OSS contributor or dev onboarding, too.

[2021-04-08 15:10] davipontesblog commented on #51396
Thanks so much for clarifying! And yes I actually just checked an atomic site of mine and I see the site icon there now already :)

[2021-04-08 15:15] #51703 closed, assigned to cpapazoglou

[2021-04-08 15:25] WunderBart commented on #51161
Another issue with v10.3.2 that causes OOM errors on P2 posts where the `Latest Posts` block was used (FYI that block has been permanently disabled some time ago, so that might be the cause of this issue). We were able to determine that this is a P2-only issue and happens only for the v10.3.2 release. Both previous v10.3.1, and next v10.4.0-rc.1 does not seem to cause this issue. Context:
- p9oQ9f

[2021-04-08 15:26] supernovia commented on #51758
Question for y'all: do the customizer colors you've picked there actually apply outside the editor? I ran into a similar issue yesterday and ended up testing it quite a bit.

Ack. My link keeps getting changed, what up Github? veldatest2 dot wordpress dot com has a post on it.

Here's what I see in the editor:

<img width="1129" alt="Screen Shot 2021-04-07 at 5 53 39 PM" src="https://user-images.g

[2021-04-08 15:32] liviopv commented on #51759
@Aurorum Is your site already Atomic?

[2021-04-08 15:40] michaeldcain commented on #45707
@davipontesblog no update. This is an enhancement to something that isn't necessarily broken.

@olaolusoga it'd be nice to make sure this view at minimum follows Calypso's current design patterns, or more ideally is designed in a way to possibly drive conversions. Is there a designer that can take a look at this?

[2021-04-08 15:45] michaeldcain commented on #39283
Filippo designed a consistent set of actions before he left:

<img width="1214" alt="purchase-management" src="https://user-images.githubusercontent.com/942359/114056690-ecf92c80-985f-11eb-947c-af248160df35.png">

[2021-04-08 15:46] zdenys opened #51786 "Reader: Not able to find or follow WordPress.com or WordPress.com Blog due to errors"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/read/search
2. Type in `WordPress.com` or `WordPress.com Blog` and click enter
3. Wait a bit to see the message `Could not get results for query: WordPress.com Blog` or `Could not get results for query: WordPress.com` and no relevant result below
4. Click the `Follow WordPress.com Blog` or `Follow WordPress.com `link that appears

[2021-04-08 15:50] sixhours commented on #51663
Started a diff for this in D59926-code

[2021-04-08 15:58] kwight commented on #45524
@davipontesblog Serenity did do a block rendering project a while back, but it's now in the "we all own it" camp. In the end, I don't think we even made any progress on the Reader; it was blocked by larger issues and constraints, as the Reader has specific design commitments and concerns. To start improving block rendering in the Reader, it would need to be approached as a project of its own, and

[2021-04-08 16:17] davipontesblog opened #51787 "[Bug] Subscriptions: Blog followers have to "re-subscribe" after losing their follower status by no apparent reason"
A user reached out to WP.com support to report that over the course of the last 2 weeks they have followers (blog followers) reporting they aren't receiving email notifications for new blog posts anymore, thus losing their "follower status" on the site, which the site owner can verify in calypso. The site owner is also receiving email notifications from WP.com that their long-time followers are "n

[2021-04-08 16:18] Aurorum commented on #51759
Oh, sorry - is this an issue with Atomic sites on the Free Plan? That's probably why since mine isn't.

[2021-04-08 16:22] zdenys commented on #51670
28881347-hc

[2021-04-08 16:33] michaeldcain commented on #48335
It doesn't fix this issue, but in #51559 the `?order-review=true` query parameter was added to Checkout to have the cart "summary" step default to its edit mode. We implemented the query parameter for the abandoned cart notices and 228-gh-Automattic/payments-shilling will implement it for abandoned cart emails, but if other flows are identified that could benefit from it, we can add it as a short-

[2021-04-08 16:50] kriskorn commented on #51758
3889241-zen

[2021-04-08 16:54] obenland commented on #51475
@apeatling Is this something View might have time to check out?

[2021-04-08 16:58] marcuswisecaesar commented on #51758
Themes affected thus far:
Twenty-Fifteen
Gateway
Olsen

[2021-04-08 17:00] stephanethomas commented on #51627
Thanks for reporting that issue Nathan. We have checks client-side and server-side to prevent this but it is indeed possible to encounter such race condition: the provisioning of a new G Suite account can take several minutes so the G Suite user originally purchased may not be created yet when we check existing users. Now that I think of it, the provisioning of extra G Suite users (i.e. users purc

[2021-04-08 17:13] obenland commented on #51517
Not any time soon, I'm afraid.

@dzver Would you mind taking a look when you get a chance?

[2021-04-08 17:14] obenland commented on #51346
What about removing Jetpack > Settings in favor of Calypso settings screens?

[2021-04-08 17:17] obenland commented on #51683
Sure. The issue is not that it redirects to wp-admin, it's that it redirects to the pages list instead of the editor.

[2021-04-08 17:18] stephanethomas commented on #51627
I've added this issue but I don't know when we'll get to it.

[2021-04-08 17:25] kingsleyinfo commented on #46802
Similar issue here 28892683-hc, follow up ticket here 3891726-zen
user is getting this for Twitter when they try to connect a new Twitter account.

Asking them to try these steps as a workaround: https://wordpress.com/support/publicize/#reconnecting-services

Hopefully, it works for them.

[2021-04-08 17:31] obenland opened #51788 "Color Schemes: Site badge missing classic-blue colors in wp-admin"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account and activate the Classic Blue color scheme
2. Select a site that has a site badge in the site card (Private, Coming Soon, etc)
3. Navigate to Settings > Reading and check the site card
4. See error

#### What I expected to happen

For the badge to look like this:
![image](https://user-images.githubusercontent.com/139830

[2021-04-08 17:31] blackjackkent commented on #49689
Diff is open at D59878-code to remove the Sharing submenu item from Settings when it links to the Tools page.

[2021-04-08 17:33] kwight commented on #51786
It does seem limited to just our site (at least I couldn't replicate with any other sites I tried) – but it's kind of a big site for us to not have working. 🙃 It's also not proxy or a11n-related, I was able to replicate from a separate comp, not proxied, on a regular user account.

[2021-04-08 17:37] mreishus commented on #51566
I don't believe it's the cause:

I tested by taking a local version of jetpack, reverting https://github.com/Automattic/jetpack/commit/2e049665899fc74169e7da87131271fa451d1acb (https://github.com/Automattic/jetpack/pull/19201), building the jetpack extensions, syncing them to my sandbox, sandboxing public-api, creating a new post w/ a gallery on a simple site and checking the email on my iphone. I

[2021-04-08 17:40] khristiansnyder commented on #51758
I have had several instances this week where the editor colors do not work on the published version. I've had to go into the code editor to change/remove some of the block styling in those instances.

[2021-04-08 17:40] stephanethomas commented on #51631
We return this standard error whenever the current usage quantity cannot be determined. This happens in the case you described when a Google Workspace account (not G Suite as this product doesn't support specifying the quantity in the shopping cart) is still provisioning since we may not be able to retrieve the number of licenses from Google's API depending on the timing.

Unfortunately, it's not

[2021-04-08 17:41] jeherve commented on #51346
This may work for the Calypso settings screens that live under Jetpack > Settings, but won't work for the Calypso settings screens that live under Settings in wp-admin, such as Calypso > Settings > General that is equivalent to Settings > General in wp-admin.

[2021-04-08 17:42] obenland opened #51790 "Site Info: Badges differ between Calypso and wp-admin"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/ and select a site that has not been launched yet (Coming Soon badge)
2. Navigate to Settings > Reading and check the site card
3. See error

#### What I expected to happen

For the badge to be the Coming Soon badge
![image](https://user-images.githubusercontent.com/1398304/114070755-2f693c00-9855-11eb-81bc-465860e13480.png)

####

[2021-04-08 17:54] mattwondra commented on #51517
Based on logs from #51654 this endpoint is only erroring a handful of times per day (not bad for an endpoint that's called with every Calypso pageload). I've only seen a couple 504 timeouts like originally reported. **So even though we're seeing increased response times, I don't know that it's translating to new errors for users.**

The response times are maintaining the patterns shown in the grap

[2021-04-08 17:55] KirkwallDay opened #51791 "Twenty Thirteen Theme: Layout Block unresponsive and renders improperly."
In the Twenty Thirteen theme, the layout grid block does expand to fill the entire page in the editor.
In preview, seems to stretch out to fill the entire page anyway.

### Steps to reproduce the behavior

1. Put the Twenty Theirteen theme on a website
2. Put a layout grid on a page, and some content into the grid.
3. Try to adjust the size of the grid.
4. Preview the page.

#### What I expected t

[2021-04-08 18:08] obenland commented on #51435
@lcollette @olaolusoga Would you anticipate the need for a design iteration for this in the context of wp-admin?

I wonder if we could use existing patterns, inline action links triggering either the Calypso component or a component that looks like it?

[2021-04-08 18:09] happychait commented on #51371
9258488-hc

[2021-04-08 18:09] #50664 closed, assigned to nobody

[2021-04-08 18:11] obenland commented on #45574
Re-opening now that v1 has shipped and porting notices and nudges might become more relevant again

[2021-04-08 18:37] kristenzuck commented on #44183
@obenland I see this is listed in the Ajax Global Backlog board for Q2 2021 - do you think this is something the team will be able to tackle? Just following up here on the stale bot flag.

[2021-04-08 19:01] kcswong commented on #51758
Follow-up sent in 3892620-zen

[2021-04-08 19:06] kristenzuck commented on #39195
Just tested and I can still reproduce this on my test site so I am removing the Stale label.
<img width="1372" alt="Screen Shot 2021-04-08 at 3 06 43 PM" src="https://user-images.githubusercontent.com/10063468/114082686-08723080-987c-11eb-86f1-c24e62322d50.png">

[2021-04-08 19:11] razvanpapadopol commented on #51231
It's something that I've realized when working with @ciampo on https://github.com/Automattic/wp-calypso/pull/51501: if the user skips `/start/with-design-picker/design` step, `selectedDesign` will be undefined so we won't be passing `font_base`, `font_headings` and `template` options. See https://github.com/Automattic/wp-calypso/pull/51501/files#diff-a621c4ea73ecba2ef5f903f325105824ebd61dcc12da5f5

[2021-04-08 19:15] kristenzuck commented on #41622
Confirmed this issue persists via a test, removing the Stale label here.

[2021-04-08 19:36] ianstewart commented on #51670
Updated the title and testing instructions as this does not appear to be limited to a personal plan but seems to be reproduce-able with new free plan sites.

[2021-04-08 20:06] obenland commented on #44183
It should probably reprioritized as part of a bundle of tasks

[2021-04-08 20:07] ianstewart commented on #51670
Tested with new sites and older themes like Twenty Nineteen and Penscratch 2. Appears to be a theme independent issue.

Also is affecting default content in new sites like this restaurant-focused design.

![image](https://user-images.githubusercontent.com/545779/114089716-17f17980-987c-11eb-86e5-a72d28f06298.png)

[2021-04-08 20:34] retrofox commented on #28567
Today we've merged the first approach to address this issue. https://github.com/WordPress/gutenberg/pull/29716
Let me close the issue.

[2021-04-08 20:34] #28567 closed

[2021-04-08 20:44] kwight commented on #51768
Hi @Unwanted-Life , I'll try to get you some information here.

This is a [known issue](https://github.com/WordPress/gutenberg/issues/29848#issuecomment-816145103) with Gutenberg (the editor project itself) – I've added your experience to that ticket. Because the problem exists with the editor itself, yes, you will see this issue on WordPress.com (which always runs the latest plugin version of Gut

[2021-04-08 20:44] #51768 closed, assigned to nobody

[2021-04-08 20:46] blackjackkent commented on #49689
@mrfoxtalbot @tjcafferkey (and anyone else) do you have any specific thoughts on this re: Simple vs Atomic sites? While I removed the Sharing submenu item from the Settings menu for simple sites in the above diff, it seems like for Atomic sites it should remain because it is linking to the Jetpack sharing config which *is* a subsection of Settings.

/cc @kwight

[2021-04-08 20:49] #51757 closed, assigned to nobody

[2021-04-08 20:50] apeatling commented on #51475
Yep, added to our board.

[2021-04-08 20:55] apeatling commented on #51085
Duplicate of WordPress/gutenberg#29243

[2021-04-08 20:55] #51085 closed, assigned to nobody

[2021-04-08 21:19] pablinos commented on #49145
It's still in progress but the Jetpack PR Automattic/jetpack#19364 is skipping some required checks, so I need to get some help on that.

If after some reviews the PRs need significant changes then it's probably best we re-prioritise it. It would be good to not leave it too long though, as it's close and it would be a shame if it all went stale.

[2021-04-08 21:38] ericamQA commented on #51758
Another example on Ixion theme in 3885193-zen

[2021-04-08 21:43] katiebethbrown commented on #51758
Another report:
28849736-hc

User had a palette selected in the Customizer that only had a single color, so the custom colors in the editor showed four white circles and one custom color.

<img width="45%" alt="Screen Shot 2021-04-08 at 2 39 28 PM" src="https://user-images.githubusercontent.com/42279181/114100148-1a0a0700-9881-11eb-8a21-ccc3213d329a.png"> <img width="45%" alt="customcolor" src="ht

[2021-04-08 21:58] dzver commented on #51517
I debugged it and to my surprise, looks like it is D51782-code indeed, no matter how simple it is. The problem is that for some reason, the renews_monthly function queries the transactions table.

I submitted D59946-code that should resolve the problem.

[2021-04-08 22:11] mreishus commented on #51064
The biggest obstacle for getting translations from the quick-switcher for jetpack and atomic sites is the language pack availability. While dotcom has all language packs available, standalone jetpack sites only have the packs the owner has installed, and atomic sites are unknown to me since I can't access them. Therefore, I will look into adding wpcom code after jetpack bridge, which will translat

[2021-04-08 22:36] gwensmithx commented on #50126
Another report: #3887055-zen

Customer was able to crop by zooming out on their mac and cropping rectangle appeared. Cropping was successful.

[2021-04-08 22:49] lcollette commented on #51435
@obenland, I don't think we need a design iteration here as there's already an established pattern for links within that UI. In the continued interest of unification, let's use the Calypso component, assuming the alternative would be to create a new one?

[2021-04-08 22:53] obenland commented on #51435
Right, re-assemble it through Gutenberg and/or Jetpack components. Happy to leave that to the technical exploration, though.

[2021-04-08 23:31] annbingle opened #51794 "Nav Unification: Site Authors lost access to WP Admin."
### Steps to reproduce the behavior

1. Login to WordPress.com as an Author.
2. Directly access the link `https://newsbeyonddetroit.net/wp-admin/
3. See error
![User Author Error](https://user-images.githubusercontent.com/40605613/114108094-eec8fb80-9904-11eb-9613-b13e401df9e5.jpg)

#### What I expected to happen
The WP Admin page should be displayed.

#### What actually happened
The above-mention

[2021-04-08 23:38] andrewserong commented on #50407
Thanks for checking in @davipontesblog. This one is waiting on Gutenberg v10.4.0 to land in dotcom (I see it's included in [10.4.0 RC1](https://github.com/WordPress/gutenberg/releases/tag/v10.4.0-rc.1)), so once that version lands, we can close this issue out.

[2021-04-08 23:40] Unwanted-Life opened #51795 "Sidebar menu items for plugins not responding since latest update"
Let me start by saying I have zero technical computer skills, I've tried the WordPress.org forum and WordPress.com for support, but no one seems to be able to help. This seems to be the only place left I can seek help. Also excuse any mistakes with my writing as I'm dyslexic

https://drive.google.com/folderview?id=1COk9zIJEwWeQtLX-ZgIBQ5oyWQgtkFL2

https://wordpress.org/support/topic/latest-update

[2021-04-08 23:45] Unwanted-Life opened #51796 "Featured image disappears randomly"
Let me start by saying I have zero technical computer skills, I've tried the WordPress.org forum and WordPress.com for support, but no one seems to be able to help. This seems to be the only place left I can seek help. Also excuse any mistakes with my writing as I'm dyslexic

Over a year ago I had a problem with my featured image disappearing at random, which disappeared with their pervious update

[2021-04-09 00:18] devNigel commented on #46077
Another report in 28903086-hc

Public Display Name update in Account settings was not getting reflected. Got them to update Nickname in WP Admin and change Public Display Name there.

[2021-04-09 01:19] pauloeaquino commented on #51758
Another instance, #3893287-zen

[2021-04-09 02:12] donalirl commented on #51670
Seen in #3892002-zen

[2021-04-09 04:02] jerrysarcastic opened #51799 "Scrolling prevents selecting text in multiple blocks"
## Description
When selecting text across multiple paragraph blocks, if the text is long enough to require scrolling it can be impossible to copy.

## Step-by-step reproduction instructions

1. Create a test page with a large amount of text (enough to require scrolling in Gutenberg)
2. Click on the first block to select it, then attempt to drag the selection to the bottom of the document
3. When t

[2021-04-09 05:12] ramonjd commented on #51670
It looks to be the `paid-block-media-placeholder` element in [paid-blocks](https://github.com/Automattic/jetpack/blob/e13487d0dbbe4c743739b6f1a3e37c143a8c2614/projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/media-placeholder.js#L56)

<img width="1236" alt="Screen Shot 2021-04-09 at 3 07 15 pm" src="https://user-images.githubusercontent.com/6458278/114131208-8e0de300-9945-11eb-9a72-

[2021-04-09 05:14] roo2 commented on #51670
it looks like this was introduced [in this gutenberg PR](https://github.com/WordPress/gutenberg/pull/29813), I pinged the authors there

[2021-04-09 05:27] jasmussen commented on #51670
Hi @roo2, help me understand how this is a core gutenberg issue. I have indeed managed to reproduce on a WordPress.com sign-in using a personal plan, and I do see that the "paid-block-media-placeholder" is present and causing the misalignment. However that div is not part of the core offering, so it seems like something being added through a WordPress.com filter. As it is, I'm unsure how we'd fix

[2021-04-09 05:51] andrewserong opened #51802 "Site Editor Compatibility: Event Timeline block doesn't use alignment in full site editor"
In the new site editor in Gutenberg (/wp-admin/admin.php?page=gutenberg-edit-site), there are some issues with the Event Timeline block on the front end of the site. The block doesn't add an alignment class, so by default is rendered left aligned at full width, instead of within a central container / alignment. The solution might be to add `supports: { align: [ 'center', 'wide' ] }` or something l

[2021-04-09 05:52] roo2 commented on #51670
ahh ok, so it looks like https://github.com/WordPress/gutenberg/pull/29813 introduced a drop zone for drag and dropping an image background, but jetpack is intercepting this drop zone and wrapping it in the `paid-block-media-placeholder` element for free and personal plans. This `paid-block-media-placeholder` element has `width: 100%` and is causing the alignment
issue

[2021-04-09 06:30] p-jackson opened #51804 "Signup: Remove unused `pageLoaded` recaptcha action"
We've blown through our free recaptcha quota. We're recording an unused `pageLoaded` action in recaptcha. Removing it should help.

pbAok1-25D-p2#comment-4252

Code: #51877

There are two signup pages that are sending the `pageLoaded` action:
- "old" signup (i.e. `/start`) and
- new onboarding (i.e. `/new`)

The action will need to be removed from both.

For the time being we still want to `formSu

[2021-04-09 07:03] StefanNieuwenhuis opened #51805 "[Plans Interval Toggle]: Provide text domain"
### Why
When the text domain isn't passed, `hasTranslation` would be looking into the `default` text-domain. Therefore, it should be passed when you expect `__i18n_text_domain__` to be compiled into something other than `default`.

This package is currently being used in Gutenboarding and ETK. For Gutenboarding, it should be fine, as all translations are being loaded on the default text domain, bu

[2021-04-09 07:30] #51404 closed, assigned to ciampo

[2021-04-09 08:02] roo2 commented on #51670
raised this jetpack issue https://github.com/Automattic/jetpack/issues/19488

[2021-04-09 08:11] fresatomica commented on #45881
It looks like this might still be happening: https://wordpress.com/forums/topic/i-hate-the-new-editor-2/

[2021-04-09 09:03] #51805 closed, assigned to StefanNieuwenhuis

[2021-04-09 09:07] alshakero commented on #51231
@razvanpapadopol makes sense! I tested and this criterion is met 🎉

[2021-04-09 09:20] #51794 closed, assigned to BogdanUngureanu, mmtr

[2021-04-09 09:48] kdevnel opened #51808 "Payment blocks: Support Apple Pay, Google Pay etc."
What
A customer requested that we support Apple Pay and Google Pay in the Payment blocks - specifically the Donation block but I imagine the underlying Stripe code is the same/similar

Why
It would allow users to increase the ease of receiving donations and payments.

How
Stripe supports these payment options but requires individual domain verification steps and so supporting them would likely req

[2021-04-09 10:21] sirreal commented on #49592
@WunderBart can you provide an update?

[2021-04-09 10:40] claudiucelfilip commented on #51537
Deployed a temporary solution for wpcom, by using the --wp-admin-theme-color.

[2021-04-09 11:09] tyxla commented on #24150
I'm assigning myself here to give a hand to @flootr.

FWIW we've been using `react-query` for those and already removed some of those instances.

[2021-04-09 11:29] #51386 closed, assigned to nobody

[2021-04-09 11:38] rezzap commented on #49779
@BogdanUngureanu I tried using the workaround suggested above, but I ended up with the spacing issue originally reported in the issue here. Has that merge already been pushed for atomic sites? If so, it's still broken.

![Image 2021-04-09 at 12 32 16 pm](https://user-images.githubusercontent.com/10325627/114174305-59436100-9930-11eb-91e7-08c345914d4c.jpg)

[2021-04-09 12:24] davipontesblog commented on #45317
@tjcafferkey, is there to prioritize this in the next janitorial run? See p2EDhh-18T-p2#comment-6586 for more context. Thanks!

[2021-04-09 12:26] davipontesblog commented on #45882
Hi @lcollette 👋 Just checking if this is still relevant for your team as it came up in stale bot. Thanks!

[2021-04-09 12:29] BogdanUngureanu commented on #49779
Hi @rezzap, the fix landed on Atomic. Regarding your layout issues, can you check if the user's account and blog language (in wp-admin) are the same?

We had issues like this in the past when the account and blog languages were different (one was RTL and the other LTR).

[2021-04-09 12:31] #51673 closed, assigned to nobody

[2021-04-09 12:32] davipontesblog commented on #45883
Hi @lcollette 👋 Just checking if this is still relevant for your team as it came up in stale bot. I ran a check on https://wordpress.com/earn/ on a Free plan test site of mine, and this is what I see today, for context:

<img width="893" alt="Screen Shot 2021-04-09 at 8 30 28 AM" src="https://user-images.githubusercontent.com/31009008/114180246-f2ad4b80-990d-11eb-9c8b-60e16d31eb98.png">

[2021-04-09 12:33] rezzap opened #51811 "Editor: RTL Layout Styling Issues on Editor for Atomic sites."
### Steps to reproduce the behavior

1. Go to Me > Account Settings and set your account to a RTL language. For example, Arabic
2. Click on My Sites and then select an Atomic Site.
3. Go to Posts > Edit/Add New
4. See the styling issue with the extra white space showing on the left of the screen.

#### What I expected to happen

I expected the toolbars to be directly against the end of the browser

[2021-04-09 12:34] davipontesblog commented on #45884
Hi @lcollette 👋 Just checking if this is still relevant for your team as it came up in stale bot. Thanks!

[2021-04-09 12:36] davipontesblog commented on #45906
It looks like this one has already been updated, here is what I see on my test site on the Free plan today:

<img width="889" alt="Screen Shot 2021-04-09 at 8 35 26 AM" src="https://user-images.githubusercontent.com/31009008/114180731-9565ca00-990e-11eb-8fb5-5a50adc58ab6.png">

@lcollette can we close this issue?

[2021-04-09 12:45] rezzap commented on #49779
@BogdanUngureanu I'm testing this on my own account where I replicate the issue the user mentioned. I do have both my account language in wp-admin, WordPress.com general settings and for the site itself in WordPress.com set to Arabic and I'm still seeing the issue above on my atomic sites.

The user does have the site set to Hebrew both in wp-admin and WordPress.com for this site. Their account la

[2021-04-09 12:56] davipontesblog commented on #42667
What happened here is that we don't actually allow .HEIC images in WordPress.com, but the editor did not display the proper error message to indicate that.

Here are our public resources that mention the filetype is not allowed:
https://wordpress.com/support/accepted-filetypes/#images
https://wordpress.com/support/images/#image-file-types

Both simple and atomic sites display the proper message in

[2021-04-09 12:56] #42667 closed

[2021-04-09 12:59] davipontesblog commented on #45162
@kwight  would love your opinion on this one. I am inclined to say this is by design but what are your thoughts?

[2021-04-09 13:07] davipontesblog opened #51813 "Editor: Editor crashes when trying to publish a post"
### Steps to reproduce the behavior

1. Go to 'My Site > Posts' on a Public site, simple infrastructure.
2. Click on 'Add new'
3. Publish a new post.
4. See error below:

<img width="1327" alt="Screen Shot 2021-04-09 at 9 03 25 AM" src="https://user-images.githubusercontent.com/31009008/114184357-bc25ff80-9912-11eb-93d6-cc100d0d4489.png">

Reproed on two test sites of mine, both simple.

[2021-04-09 13:09] davipontesblog commented on #51813
Cannot repro on atomic sites.

[2021-04-09 13:10] ciampo commented on #51670
Tentative hotfix:  Automattic/jetpack#19489

Closing this issue in favour of the new one opened in the Jetpack repository: Automattic/jetpack#19488

[2021-04-09 13:20] davipontesblog commented on #51767
Getting the same error as @Robertght [mentioned](https://github.com/Automattic/wp-calypso/issues/51767#issuecomment-815545152) on all edge sites I have.

https://github.com/Automattic/wp-calypso/issues/51813

[2021-04-09 13:20] davipontesblog commented on #51813
This is related to the not-yet-merged Gutenberg update. See https://github.com/Automattic/wp-calypso/issues/51767 for tracking.

Closing the issue as it's not landed in production yet.

[2021-04-09 13:20] #51813 closed, assigned to nobody

[2021-04-09 13:21] davipontesblog opened #51814 "Test"
### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

#### What I expected to happen

#### What actually happened

### Context

#### Browser / OS version

#### Is this specific to the applied theme? Which one?

#### Does this happen on simple or atomic sites or both?

#### Is there any console output or error text?

#### Level of impact (Does

[2021-04-09 13:21] #51814 closed, assigned to nobody

[2021-04-09 13:34] zdenys commented on #51669
I think mine is the duplicate but I created it in the other repository https://github.com/Automattic/newspack-blocks/issues/737

[2021-04-09 13:39] davipontesblog commented on #51758
Raised as high-priority with engineering teams here: p1617975288125300-slack-C02FMH4G8

[2021-04-09 13:52] mmtr commented on #50698
@cpapazoglou why is this needed? I think we're trying to adapt a "Sentence case" format instead of a "Title Case" format (e.g. https://github.com/Automattic/wp-calypso/issues/40120, https://github.com/Automattic/wp-calypso/issues/40027, https://github.com/Automattic/wp-calypso/issues/42586).

Actually, we're currently using `Add new site` in Calypso:

https://github.com/Automattic/wp-calypso/blob/

[2021-04-09 14:00] Aurorum commented on #51381
Am I correct in thinking that this information was never collected or presented by Jetpack?

[2021-04-09 14:32] allilevine opened #51816 "Design Picker: Change grid display based on number of designs"
## What
Change the onboarding design grid display (Design Picker) based on how many designs there are. E.g. if there are 3 designs, we should display 3 across.

## Why
We currently have a different grid display for Anchor designs, because we're displaying fewer designs than in the regular onboarding flow. [But as pointed out here](https://github.com/Automattic/wp-calypso/pull/51462#issuecomment-81

[2021-04-09 14:33] jffng commented on #51758
Potential solution that needs further testing proposed here: pNEWy-dQJ-p2

[2021-04-09 14:50] BogdanUngureanu commented on #49779
For future reference: If the site language and the account language are the same and you still experience issues with this, please go to https://wordpress.com/me/account, toggle and un-toggle `Show advanced dashboard pages` option and save the changes. This in turn will invalidate the cache.

[2021-04-09 14:57] rezzap commented on #51811
After some discussion with @BogdanUngureanu regarding this issue and https://github.com/Automattic/wp-calypso/issues/49779 I was able to resolve this issue by making sure the site language matched the account language and toggling the options to show advanced dashboard pages on and off to clear the cache. I'll close the issue as it's resolved following those steps.

[2021-04-09 14:57] #51811 closed, assigned to nobody

[2021-04-09 15:21] kwight commented on #45162
It does look like a rendering discrepancy with our emails (I imagine a size class or something). Since everything still displays though, it'll be low priority compared to other issues. 🙃

[2021-04-09 15:23] #51230 closed, assigned to ciampo

[2021-04-09 15:23] ivan-ottinger commented on #51758
Another case: 28906081-hc - the colors don't apply in the front end.

[2021-04-09 15:24] kriskarkoski commented on #46017
Just noting that this issue is still valid as I ran into it today when I accidentally opened a draft link on a test account that did not have access to the underlying site.

[2021-04-09 15:27] jffng commented on #51758
We reverted and deployed the change causing this issue for now while we explore a more robust solution to making customizer color palettes available to the editor.

D59976-code

The default palette in the editor should be restored for these themes, ex twentyfifteen:

<img width="1268" alt="Screen Shot 2021-04-09 at 11 24 39 AM" src="https://user-images.githubusercontent.com/5375500/114203588-289e0

[2021-04-09 15:30] kwight opened #51817 "Block Editor: Custom color picker immediately closes on use."
The block toolbar's custom color picker will immediately close when a user tries to adjust one of its settings (either with the selector or the sliding gradient tool). Originally reported to WP.com in https://github.com/Automattic/wp-calypso/issues/51768.

![2021-04-09 08 26 00](https://user-images.githubusercontent.com/349751/114203860-68fd7e00-990d-11eb-9833-8c80d1ae7d73.gif)

This is a [known i

[2021-04-09 15:31] kwight commented on #51768
I've added a [WP.com placeholder issue](https://github.com/Automattic/wp-calypso/issues/51817) while waiting for the Gutenberg fix.

[2021-04-09 15:49] nerdysandy commented on #51553
Reported on #26142964-hc I shared the direct WP-Admin URL for now and asked them to bookmark it. This was for a Simple site

[2021-04-09 16:36] retrofox commented on #49199
has it been fixed? Testing with  my Jetpack dev site:

<img width="779" alt="Screen Shot 2021-04-09 at 1 34 50 PM" src="https://user-images.githubusercontent.com/77539/114212721-86940d00-9938-11eb-8eed-c00c3e71f69f.png">

[2021-04-09 16:49] jeherve commented on #49199
Good catch.

It may be harder to get into that issue now, since nav-unification isn't enabled in Calypso for Jetpack sites anymore; Jetpack sites get the old nav.

Closing.

[2021-04-09 16:49] #49199 closed, assigned to retrofox

[2021-04-09 16:49] dereksmart commented on #51594
@jdc91 Great question. We'll need to make sure it's not just the client-side (Calypso) that shows 3GB, and that those limits are enforced server-side.

More info p58i-aeR-p2#comment-50015

[2021-04-09 17:07] davipontesblog commented on #51670
This is now fixed on simple sites, and will be fixed on atomic on Tuesday when Jetpack 9.6.1 merges:
https://github.com/Automattic/jetpack/milestone/189?closed=1

[2021-04-09 17:19] mreishus commented on #51064
Created patch: D59986-code

[2021-04-09 17:47] kwight commented on #51263
Reducing to `normal` since it's rare, there's a workaround, and the Atomic team are on top of it.

[2021-04-09 17:51] kwight commented on #51121
Reducing to `normal` priority since this has been investigated, and has limited possible actions on our side (and those actions have been considered).

[2021-04-09 17:56] kwight commented on #50896
@niranjan-uma-shankar Any update here as to which direction to go (or was taken)?

[2021-04-09 18:06] kwight commented on #50765
This feel like it'll be a long-standing issue, without everyone even agreeing on the severity or where the fixes should happen; I'm dropping this to `normal` while we come up with a more cohesive plan.

[2021-04-09 18:09] kwight commented on #50758
This is a visual problem that, while pretty ugly, doesn't affect a user's ability to use anything here. Dropping this to normal priority.

[2021-04-09 18:16] jffng commented on #51758
To clarify — this issue should be fixed.

@scosgro:

I think this is a different issue. The [screenshot](https://user-images.githubusercontent.com/30731356/113911960-73920900-978f-11eb-9bcf-b8ca68d4cc38.png) is the default color palette supplied by the block editor.

In any case, the custom color options should not be overriding the block editor color palette options in either simple sites or atom

[2021-04-09 18:21] kwight commented on #49944
@tjcafferkey @obenland Any ideas what next steps are for this? Should we still be considering it High priority that we will act upon, or could we drop this to `normal` priority?

[2021-04-09 18:27] kwight commented on #48072
I don't consider this high priority – the link is still functional, so while it's not optimal or intended, I'll drop this to normal.

[2021-04-09 18:29] scosgro commented on #46253
The options for those items are still fairly difficult to see:
![image](https://user-images.githubusercontent.com/30731356/114225097-c7832600-9926-11eb-9ca7-264a65c046e1.png)
and
![image](https://user-images.githubusercontent.com/30731356/114225127-cfdb6100-9926-11eb-94a5-beb4ebd5b9c5.png)

[2021-04-09 18:31] kwight commented on #42510
I'm downgrading this to `normal`, which feel like how we're treating it (it's been fixed for some, and only happens for others if they use the browser Back button).

[2021-04-09 18:35] dereksmart opened #51819 "Permalinks: Do not allow changing permalinks on Free plans"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

From the menu bar: Settings -> Permalinks

#### What I expected

For it to not be available on a Free plan

#### What actually happened

It's available!

[2021-04-09 18:41] dereksmart opened #51820 "Security settings should not be shown to Free plans"
PRs to review:
- https://github.com/Automattic/wp-calypso/pull/53484
- ~https://github.com/Automattic/jetpack/pull/20384~

### What plan tier is the site on?
Free

### Where are you seeing the issue?

Settings > Security tab:

https://wordpress.com/settings/security/SITE_URL

#### What I expected on the Atomic site
We should not be showing these security features to Free users. The "Security" tab

[2021-04-09 18:42] ericamQA opened #51821 "Blogroll: ability to reorder links"
## What
25059780-hc wanted to reorder the items in blogroll

## Why
It is currently alphabetical with no apparent way to have a custom or alternative order

I suggested a workaround of numbering or letting them such as

1. Wittenberg Nail
2. Providence Baptist Church
3. The Bible Journey Blog

## How
Being able to order the links seems simple enough (at least be given an option to order them accor

[2021-04-09 18:42] ericamQA commented on #51821
User 25059780-hc would like an email if/when this is ever implemented

[2021-04-09 18:48] dereksmart opened #51822 "Stats Page: Banners on Free plans"
### What plan tier is the site on?
Free

### Where are you seeing the issue?
https://wordpress.com/stats/day/SITE_URL

#### What I expected on the WoA site
This Cloudflare banner isn’t seen on Simple, but it is shown on WoA:
![image](https://user-images.githubusercontent.com/7129409/114227131-91ec3600-9942-11eb-909f-c2e5c01b699c.png)

Same with this earn banner at the bottom of the screen:
![image

[2021-04-09 18:51] dereksmart opened #51823 "Plans Page: Why do we show separate layouts between Simple and Atomic sites?"
Notice how on Simple, Monthly plan options are shown. I’m not sure why we use two separate layouts across Simple and Atomic.

Simple:
![image](https://user-images.githubusercontent.com/7129409/114227463-08893380-9943-11eb-9f14-9e8d1808dd61.png)

Atomic:
![image](https://user-images.githubusercontent.com/7129409/114227477-0c1cba80-9943-11eb-89b7-e27ba22b86f9.png)

[2021-04-09 19:07] davipontesblog commented on #51758
Closing as fixed.

[2021-04-09 19:07] #51758 closed, assigned to nobody

[2021-04-09 19:10] nerdysandy commented on #46323
I can't replicate it anymore. It could also be because with Nav unification we automatically force WP-Admin view on AT sites. Closing it because of that.

[2021-04-09 19:11] #46323 closed

[2021-04-09 19:23] nerdysandy commented on #44350
I can't replicate it anymore. It stays there until I refresh the page after unfollowing it. I believe this is expected behavior? I tested it using the Desktop app too. It went away after I quit the app and relaunched it. I understand that there is no way to refresh the app but I believe that sounds more like a feature request for the app, in general, to be able to refresh it?

[2021-04-09 19:24] #44350 closed

[2021-04-09 19:35] nerdysandy commented on #45480
I referred to the screen recording shared ^ in that post but I can't replicate it anymore. It shows the image details when I click on the pencil icon to edit it. Tested it on  both Chrome and Safari: https://d.pr/i/bQuzVL

[2021-04-09 19:47] nerdysandy commented on #45122
Just to add (in case this detail gets missed when replicating the issue) the issue is when you view the post by clicking on it from the Reader.

[2021-04-09 19:53] nerdysandy commented on #45057
I can't replicate it anymore. I embedded a spotify URL using Spotify block. It didn't throw any error and embedded the song as expected. I tested this on AT site as mentioned in the original report too.

[2021-04-09 19:54] #45057 closed

[2021-04-09 19:59] sirbrillig opened #51825 "Checkout: Restore meta-line items for Apple Pay modal"
When the taxes and credits were removed from the line items being passed to `CheckoutProvider` in https://github.com/Automattic/wp-calypso/pull/51084, this also resulted in a regression with Apple Pay where those line items would no longer be displayed by the modal. They should be restored.

[2021-04-09 20:18] blackjackkent commented on #50193
I'm working on a diff for this - just about done but stuck on a few questions.
1) I can't find the "Other Tools" menu at all - under what circumstances does that appear?
2) Per @obenland 's comment at p7DVsv-ago-p2#comment-34517, we're removing the Ratings and Polls menu bc they're also accessible in the "Feedback" submenu, but it doesn't appear that that is the case for atomic sites, only simple

[2021-04-09 20:24] dereksmart opened #51826 "Media Library: Do not allow uploading of videos on Free plans"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

https://wordpress.com/media/videos/SITE_URL

#### What I expected on the Atomic site
Not to be able to upload videos.
![image](https://user-images.githubusercontent.com/7129409/114236722-04174780-9950-11eb-8898-cd97f08f7fe8.png)

#### What actually happened
At least the UI is showing that you're able to upload videos.
![

[2021-04-09 20:28] dereksmart opened #51827 "Akismet: Do not show as a menu option on Free sites"
### What plan tier is the site on?
Free

### Where are you seeing the issue?
On a Free tier of Atomic, the Akismet menu item is shown in the Jetpack menu:
![image](https://user-images.githubusercontent.com/7129409/114237040-7c7e0880-9950-11eb-9a4f-c34a540ca1e9.png)

#### What I expected on the Atomic site
No Akismet menu item.

#### What actually happened
Screenshot above

[2021-04-09 20:35] dereksmart opened #51828 "Marketing -> Traffic settings: Fix for Free plans"
### What plan tier is the site on?
Free

### Where are you seeing the issue?
Marketing > Traffic settings

Both Google Analytics and wpcom's SEO feature needs consideration when on a Free plan on Atomic.

#### What I expected on the Atomic site
![image](https://user-images.githubusercontent.com/7129409/114237733-7d636a00-9951-11eb-89bc-4f218aa9892c.png)
![image](https://user-images.githubuserconte

[2021-04-09 20:38] DavidRothstein commented on #50602
Note: I think this inconsistency also happens with the "Renew All" link (that is shown in the case where you have a couple subscriptions expiring and see a message encouraging you to renew all of them at once).

[2021-04-09 20:40] DavidRothstein commented on #50602
This one, I mean (I think that "Renew all" link isn't consistently shown, but probably it should be):

![renew-all](https://user-images.githubusercontent.com/235183/114238226-46da1f00-9952-11eb-86f4-be234e533f39.png)

[2021-04-09 21:04] nerdysandy commented on #44878
I can't replicate the issue anymore. I also double-checked it on one of the sites reported above. For them, it shows as expected on the live site https://d.pr/i/bJjtdT

[2021-04-09 21:04] #44878 closed

[2021-04-09 21:08] DavidRothstein commented on #38807
Note: The above fix was deployed earlier this week, so it now should no longer be possible to add these items to the shopping cart (an error message will be displayed if you try).

I guess this issue should still remain open, though, since it's not entirely clear where users are being directed to add these plans in the first place (presumably it should be fixed there too).

[2021-04-09 21:34] nerdysandy commented on #51581
Yes, to add Quick Edit to Calypso's pages and posts lists. Something to add here https://d.pr/i/410e1l or to the three dots dropdown on the right. This is usually shown when you are in WP-Admin. For now, if the users want to use Quick Edit, they either need to add /wp-admin to the URL or toggle on the `Show Advanced Dashboard` pages option :)

[2021-04-09 21:41] nerdysandy commented on #51662
I can replicate it on my Free plan simple site too. What @ajaykj reported above is also a simple site :-/

[2021-04-09 21:42] khristiansnyder opened #51829 "AMP Validation Error From Cover Block"
### Steps to reproduce the behavior

1. On a simple site with any theme and AMP enabled...
2. Create a new post and add a cover block. Publish the post.
3. Try to validate the AMP version of the page here: https://validator.ampproject.org/
4. The cover block seems to have CSS but is missing `amp-custom` in the style tag, causing validation to fail with an error: `The mandatory attribute 'amp-custo

[2021-04-09 21:43] mreishus commented on #51746
I'm also seeing this issue with an ephemeral site, but unlike Harris, when I'm redirected with calypsoify turned on I lost the share parameters.

Clicking share brought me to
`https://wordpress.com/post/<blog_id>?embed=https%3A%2F%2Fwww.youtube.com%2Fembed%2FDWVfaxqTyl4%3Fversion%3D3%26rel%3D1%26showsearch%3D0%26showinfo%3D1%26iv_load_policy%3D1%26fs%3D1%26hl%3Den%26autohide%3D2%26wmode%3Dtranspar

[2021-04-09 23:39] supernovia commented on #17172
Opening this up again! It's something we spotted in the forums today:
https://wordpress.com/forums/topic/receiving-invite-not-sent-user-has-blocked/

[2021-04-10 04:15] hacchism opened #51832 "Incorrect refund amount at cancellation if a user has upgraded one plan to another and canceled both the plan and their domain registered with the plan's domain credit"
### Steps to reproduce the behavior

1. Purchase an annual Personal plan($48) and register a custom domain at the same time by using the plan's domain credit
2. Upgrade the site to an annual Premium plan($96)
3. Cancel both the plan and domain in https://wordpress.com/me/purchases **within 96 hours**(Our domain refind window)

#### What I expected to happen

User should get a full refund which mea

[2021-04-10 08:56] ahmadbaig1 commented on #50126
Another report: #3869993-zen

[2021-04-10 09:48] zdenys opened #51834 "Write Button: Make it visually more clear that the number of posts shown to the right is a separate button"
**What**
I only recently found out that the number next to the Write button in the WordPress.com toolbar is a separate button! If you click it, it shows the list of the drafts you have.

https://user-images.githubusercontent.com/39308239/114265504-d1c22480-99f9-11eb-9208-f9e9cc06467b.mov

**Why**
Users may not be aware that the number is clickable and it results in a different action than clicking

[2021-04-10 10:33] rinazrina commented on #42170
Another report: 28904897-hc

The user only uses the button in the File Block and not the text link. Each time the "Open in a new tab" enabled, it went back to disabled after updating and refreshing the page. I suggested using Buttons block as a workaround.

[2021-04-10 13:07] Aurorum opened #51835 "Nav Unification: Sidebar - Border on Hover State"
This is a very minor detail, but something which I noticed so felt was worth raising. The hover state of the site card in the Sidebar appears to have a left border in WP-Admin, but not in Calypso.

| Calypso  | WP-Admin
| ------------- | -------------
|  <img width="260" alt="Screenshot 2021-04-10 at 13 56 15" src="https://user-images.githubusercontent.com/43215253/114270598-346ced80-9a05-11eb-83c

[2021-04-10 14:10] benchilcote commented on #51787
User shared an update on another specific user who is repeatedly being disconnected as a follower.

#3885262-zen

[2021-04-10 15:03] jartes commented on #51829
Other reports on:
- 3896815-zen
- 3896792-zen
- 28931748-hc

[2021-04-10 15:06] jartes commented on #51829
Adding that this post (pcMHUt-45-p2) has the `<style>` tag in the AMP version and doesn't have a Cover block.

Just has in at the start of the HTML document:

[code]

[2021-04-10 16:20] benchilcote commented on #51258
Another case of this in #28934207-hc

User has a list of embedded URLs.  They appear as text links in Chrome, and as embedded frames in Firefox.

The above CSS did not work correctly so I checked with css-help who provided this

[code]

[2021-04-10 17:32] ahmadbaig1 commented on #50126
Another report: #3881905-zen

*update*
Resolved by adjusting screen resolution to 110%

Google Chrome is up to date
Version 89.0.4389.114 (Official Build) (64-bit)

[2021-04-10 19:43] xpurichan commented on #51662
Another report in 28936281-hc.

[2021-04-10 20:03] kelasante commented on #51829
Another report in 3896986-zen

[2021-04-10 23:38] goblinartificer commented on #51435
one more from 28813292-hc :)

[2021-04-11 03:07] fsalazarleon commented on #51829
Another report in 3897665-zen

[2021-04-11 09:46] pablinos commented on #51371
I've gone through some of these customer reports of the problem, and it seems it's actually related to the `can_post` field not being returned in the data we retrieve for pages that have been transitioned to the new experience.

I've contacted someone at Facebook to ask about the problem, and whether we can get access to a test page with the new experience enabled. In the meantime I'll try and upd

[2021-04-11 15:55] rinazrina commented on #51829
Other reports:

- 3897481-zd-woothemes (this one has a screenshot of the AMP error in Google Search Console. See below.)
- 3896854-zd-woothemes
- 3899130-zd-woothemes
- 3896798-zd-woothemes
- 3898018-zd-woothemes
- 3898314-zd-woothemes
- 3896886-zd-woothemes
- 3898276-zd-woothemes
- 3898933-zd-woothemes
- 3896922-zd-woothemes
- 3899283-zd-woothemes
- 3897783-zd-woothemes
- 3896979-zd-woothemes
- 3

[2021-04-11 18:16] gwwar opened #51838 "Twitter Thread option not respected"
On my personal p2 site, I tried selecting the twitter thread option, but on publish a single tweet was shared instead.

Options are available in the pre-publish panel:
<img width="250" alt="Screen Shot 2021-04-11 at 11 12 15 AM" src="https://user-images.githubusercontent.com/1270189/114316092-df89af80-9ab6-11eb-8a78-ea978dfa65f3.png">

We currently only have one try to do this. Attempting to re-sh

[2021-04-11 23:34] p-jackson commented on #50358
Waiting for more discussion on paYE8P-PE-p2

[2021-04-12 01:17] roo2 commented on #51660
fixed now with  D55562-code

[2021-04-12 01:17] #51660 closed, assigned to nobody

[2021-04-12 01:45] BrandiBoyd commented on #51829
Another report at #3897242-zd
Not using the cover block

[2021-04-12 03:41] jerrysarcastic commented on #51829
Also reported in the following public forums posts
- https://wordpress.com/forums/topic/google-search-console-reports-amp-issues-with-all-my-sites/
- https://wordpress.com/forums/topic/only-amp-boilerplate-and-amp-custom-style-tags-are-allowed-and-only-in-the-do/

[2021-04-12 07:44] cpapazoglou commented on #49783
I am closing this since it is not relevant any more after launching to 100%.

[2021-04-12 07:44] #49783 closed, assigned to nobody

[2021-04-12 07:45] rinazrina commented on #51829
Same to @jartes report above -- many of the sites that I checked don't have Cover Block in their content. But have the style tag on the header. It's true on [my test page](https://freeena12345site.wordpress.com/2020/02/14/flora-fauna/amp/) too.

<img width="735" alt="Screenshot on 2021-04-12 at 15-28-14" src="https://user-images.githubusercontent.com/33721365/114358403-76cd3080-9ba5-11eb-8c51-e5f1

[2021-04-12 08:32] Sandkorner commented on #51829
Another:
3897880-zen

[2021-04-12 08:41] cpapazoglou commented on #51835
Hey @Aurorum! It's not intentional, they should be consistent. I have even mentioned it here https://github.com/Automattic/wp-calypso/pull/50427#pullrequestreview-597417356 😁! I am actually proposing to remove the hover effect from the site card in WP Admin (code lives: [here](https://github.com/Automattic/jetpack/blob/16fd659047e04f94b8f3fb768dd15f665eee1291/projects/plugins/jetpack/modules/maste

[2021-04-12 10:06] cpapazoglou commented on #50193
👋 @blackjackkent!

1. Has been removed here https://github.com/Automattic/jetpack/pull/19114#discussion_r594198906
2. I would suggest consolidating the changes in both environments and move "Ratings" & "Polls" under "Feedback". I will let @obenland decide on this though.

[2021-04-12 10:09] cpapazoglou commented on #50698
@mmtr While "Sentence case" is our preference in Calypso, WP Admin has a "Title Case" preference visible in submenus
![](https://cln.sh/kChD2E+). As we try to align with WP Admin at least in the sidebar, it would be better going for "Title Case" in these cases.

[2021-04-12 10:19] WunderBart commented on #49592
Thanks for the ping, @sirreal. @davipontesblog, I'm going to start the CoBlocks upgrade on Simple sites this week. We might need a couple of days for dealing with integration issues and running the CfT. I'd say the upgrade would likely happen later this- or early next week.

cc @fullofcaffeine @griffbrad

[2021-04-12 10:30] niranjan-uma-shankar commented on #50896
@kwight We tested a new mobile layout for this page and the treatment came out a winner. The new layout fixes the issue reported here, so rolling out treatment should resolve this issue. The work to roll out is scheduled to be picked up in May as per the discussion in pbxNRc-D0-p2#comment-1947. cc @southp @jdc91

[2021-04-12 10:47] aleone89 commented on #51829
This has been reported here: https://wordpress.com/forums/topic/recd-google-message-only-amp-boilerplate-tags-allowed/

[2021-04-12 11:09] simison commented on #50896
The schedule indicates normal prio treatment vs high prio so I changed, but feel free to change back to high if need!

It's a bit hard for me to tell how broken this feels, tho my gut says it could need a high prior fix based on customer impact, and multiple months in a broken state is a bit much?

[2021-04-12 11:20] mrsjaved commented on #51829
Another report 3899837-zd-woothemes

[2021-04-12 11:35] kavyagokul commented on #59396
Another one in 28953679-hc

[2021-04-12 12:24] tjcafferkey commented on #49944
@kwight I'm not sure myself on the next steps here, although it was originally prioritised as "High" because it affected Atomic users due to us defaulting the Calypso screen for Posts and Page to them without an easy way to navigate to WP Admin.

Since we now default Atomic users to WP Admin Posts and Pages (https://github.com/Automattic/wp-calypso/issues/51283) I'm not sure it warrants the same s

[2021-04-12 12:28] yansern opened #51857 "New Onboarding: Flaky select free domain suggestion E2E test."
This E2E failure sometimes crops up because because selectFreeDomain() might be clicking on the free suggestion item too quickly before the list of domain suggestions are reloaded, causing the driver to target the element that has already been removed from DOM.

[code]

[2021-04-12 12:50] #49374 closed, assigned to alshakero

[2021-04-12 12:57] aleone89 commented on #51829
Just as an additional note with https://wordpress.com/forums/topic/recd-google-message-only-amp-boilerplate-tags-allowed/ > the sites mentioned do not use a cover block, similar to @jartes and @rinazrina

[2021-04-12 13:13] tjcafferkey commented on #45317
@obenland I'm moving this to the Manage Backlog so there's more visibility on it, and to ensure it gets properly triaged. Also to make sure it's not overlooked/missed in our teams backlog as this is getting phased out.

[2021-04-12 13:34] ciampo opened #51860 "Launch data-store: check if we are ever storing a paid domain"
It's still applicable because this check for free domain is not needed with current Launch logic. If the user selects the sub-domain (free domain), we don't store it but we unset the domain selection. See https://github.com/Automattic/wp-calypso/blob/trunk/packages/launch/src/hooks/use-domain-selection.ts#L117

_Originally posted by @razvanpapadopol in https://github.com/Automattic/wp-calypso/pull

[2021-04-12 13:51] #50698 closed, assigned to nobody

[2021-04-12 13:54] tjcafferkey commented on #51397
Potentially related to https://github.com/Automattic/wp-calypso/issues/45317 ?

[2021-04-12 13:58] cpapazoglou opened #51862 "Nav Unification: Some plugins prevent from CSS / JS being loaded."
### Steps to reproduce the behavior

1. Install Gravity Forms plugin
2. Go to `wp-admin/admin.php?page=gf_settings`
3. Enable `No-Conflict Mode`
4. Reload the page

#### What actually happened
Nav Unification Styles are not loaded.
![](https://cln.sh/yPiRsn+)

#### Does this happen on simple or atomic sites or both?
Only Atomic

#### Level of impact (Does it block purchases? Does it affect more th

[2021-04-12 14:07] cpapazoglou commented on #51862
@BogdanUngureanu found that disabling `No-Conflict Mode` resolves the issue. I am not sure why user would need that setting enabled but we can:
1) Check why the site icon returned is not `32px` https://github.com/Automattic/jetpack/blob/16b48a6cc4adc49d3b7e2d8eb139301a1c7c1316/projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
2) Check if we can override this setting

[2021-04-12 14:24] susanjanec commented on #51829
Another report - 28864413-hc

[2021-04-12 14:37] obenland commented on #50193
Nice catch, I wasn't aware of that. Why is there a difference and is there a way we could make Atomic behave as simple here? Is it a permissions issue?

[2021-04-12 15:00] BogdanUngureanu commented on #51862
Gravity forms uses this feature to prevent possible conflicts with other plugins by filtering styles and scripts that are not present in a hardcoded list.

While it does provide a filter `gform_noconflict_styles` that allows to add styles and script to this allowed list, I think we should explore a more generic approach that fixes this issue and [others](https://github.com/Automattic/jetpack/issue

[2021-04-12 15:01] sguzovskaia opened #51864 "Nav Unification: WordPress.com user profile does not match wp-admin/users.php"
### Steps to reproduce the behavior

This happens when the user has their author bio showing in their blog posts on AT sites.

1. Go to WordPress.com
2. Click on My Profile and then you would change About me field.
OR:
1. Go to My Site > Users > User profile.
2. Edit About me.

#### What I expected to happen
Changes made in the user profile to show in the author bio showing in blog posts.

#### Wh

[2021-04-12 15:07] synora commented on #51767
I'm able to reproduce a similar error message with the Edge sticker off and on
<img width="1224" alt="Screen Shot on 2021-04-12 at 11-18-01 (1)" src="https://user-images.githubusercontent.com/10015451/114418928-fa285b00-9b80-11eb-9dbd-8755d59cecbc.png">

Link to image: https://d.pr/i/9pUC5J

[2021-04-12 15:11] AtrumGeost commented on #51829
Got another report here: 14867849-hc

[2021-04-12 15:15] ghost commented on #51835
Yes, agreed that it's strange. I don't think it's necessary on the site card.

[2021-04-12 15:44] cpapazoglou commented on #51835
Let me note that we should also remove it from the "Browse Sites" button.

[2021-04-12 15:48] csonnek commented on #51829
Another report in https://wordpress.com/forums/topic/error-on-two-blog-pages/ (site does use cover block).

[2021-04-12 15:58] gwwar commented on #36191
cc @obenland for triage, as a reminder for devs simulate an error case and see if the UI is still locked.

[2021-04-12 16:13] #51780 closed, assigned to alshakero

[2021-04-12 16:25] WunderBart opened #51867 "CoBlocks: v2.10 plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/48275 (v2.5.3)
Release notes: [v2.10.1](https://github.com/godaddy-wordpress/coblocks/releases/tag/2.10.1)

### Process

* [x] Build v2.10.1 (30-gh-Automattic/coblocks-builder)
* [x] Install v2.10.1 (D60352-code)
* [x] Activate v2.10.1 for `coblocks-edge` stickered sites (D60356-code)
* [x] Activate v2.10.1 for all sites (D60395-cod

[2021-04-12 16:28] niranjan-uma-shankar commented on #50896
@simison I've gone ahead and prepared a PR https://github.com/Automattic/wp-calypso/pull/51866 that launches treatment to 100% traffic, so once that deploys the bug will be fixed. The PR does not do a proper cleanup and I'll leave it to @southp to slot that in the @Automattic/martech-decepticons pipeline, but https://github.com/Automattic/wp-calypso/pull/51866 would be a good interim measure until

[2021-04-12 16:33] simison commented on #50896
Very cool, thanks @niranjan-uma-shankar ! :-) That makes sense — just roll out to fix the bugs (I think there were a few more with the scroller thingy?) and that'll take the time-pressure off-of the clean up. Thanks a lot again!

[2021-04-12 17:32] ianstewart opened #51869 "Nav Unification: Typo in welcome modal"
Missing period at end of highlighted sentence.

![image](https://user-images.githubusercontent.com/545779/114436527-0c0efb80-9b8b-11eb-934e-1b551857bdd4.png)

[2021-04-12 17:45] metabreakr commented on #51829
28971558-hc / 3902214-zen

The user shared 3 posts, none of which used the cover block.

[2021-04-12 17:47] ianstewart opened #51870 "Stats: Stat chart too large for wp-admin dashboard module"
### Steps to reproduce the behavior

1. Create a brand new site on WP.com
2. Navigate to wp-admin dashboard
3. Scroll down stats module
4. See error

![image](https://user-images.githubusercontent.com/545779/114438183-0adece00-9b8d-11eb-854c-d8f08abeb94c.png)

#### Browser / OS version

- Chrome Version 90.0.4430.61 (Official Build) beta (x86_64)
- MacOS 11.2.3

[2021-04-12 17:48] blackjackkent commented on #50193
@obenland @cpapazoglou I've been refreshing my memory on what I was looking at last week and I think I may have misspoken somewhat - simple sites have links to Ratings and Polls under both Settings and Feedback, but atomic sites have neither; on a completely fresh sandbox with no changes, I can't reach either settings page from my atomic test site (either via a menu link or directly).

Simple:
![i

[2021-04-12 18:17] obenland commented on #50193
Agreed! Let's focus on Simple sites, it looks like Atomic sites would have to [install a separate plugin for those features](https://wordpress.org/plugins/polldaddy/).

[2021-04-12 18:23] csonnek commented on #51829
Also reported in https://wordpress.com/forums/topic/style-amp-boilerplate-error/

[2021-04-12 18:27] kathrynwp commented on #33371
Reported again in 28972208-hc

[2021-04-12 18:41] kriskarkoski commented on #51829
3897449-zen

[2021-04-12 18:49] blackjackkent commented on #50193
Awesome - very simple change in that case. Diff is up at D60052-code.

[2021-04-12 18:59] Aurorum commented on #51835
Thanks! I opened a PR to remove it in Automattic/jetpack#19510. :)

[2021-04-12 19:15] kwight commented on #51829
I think the problem is that the style is being added in the first place, not that it's missing the attribute. For instance, [this post](https://aurorakreativ.wordpress.com/2020/08/21/featured-coloring-pages-2-august-2020/amp/) doesn't seem have any Cover blocks in it, but has the style (like many others mentioned in this thread). It might be a `wp_add_inline_style` call happening that shouldn't be

[2021-04-12 19:20] csonnek commented on #51347
User reporting this problem in: https://wordpress.com/forums/topic/support-article-add-email/#post-3663333

I can reproduce by doing the following:

1. Go to any theme demo page - e.g. https://wordpress.com/theme/blank-canvas
2. Click the "My sites" link expecting to go to your My sites list.
3. You don't go anywhere.

The `href` seems to be the same page that you're on rather than `https://wordpr

[2021-04-12 19:25] obenland commented on #51347
@csonnek Which color scheme do you use?

We should also override the `cursor: pointer` property when My Site is selected. We keep an anchor element with an empty href attribute, which doesn't feel right.

[2021-04-12 19:37] kwight commented on #51663
https://github.com/Automattic/jetpack/pull/19509

[2021-04-12 19:55] csonnek commented on #51347
I use "Nightfall" and it looks like the forums user has "Classic Blue".

[2021-04-12 20:03] csonnek commented on #51758
Responded to the forums threads.

[2021-04-12 21:12] mattwondra commented on #51517
@dzver shipped D51782-code and it's made a notable improvement. Here's the `upper` (worst case) performance from the past few weeks — I'll let you guess when his code deployed :)

<img width="1209" alt="Screen Shot 2021-04-12 at 4 11 52 PM" src="https://user-images.githubusercontent.com/518059/114463317-e34a2e80-9ba9-11eb-8aca-87bd74ba9b6b.png">

I'm going to keep an eye on this for another full w

[2021-04-12 21:27] obenland commented on #51581
Thanks for the clarification!

We've recently switched WoA customers to using wp-admin's post list to take advantage of Core's built-in bulk edit functionality. To that end we are currently exploring porting Calypso-only features to wp-admin so we can do that for Simple Site customers as well. (Example: p1HpG7-bH3-p2).

If you don't mind, I'll close this in favor of https://github.com/Automattic/w

[2021-04-12 21:39] Aurorum commented on #51869
PR for this issue in #51873. :)

[2021-04-12 21:45] obenland commented on #51829
Introduced in D59723-code. @claudiucelfilip @danielwrobert Could you please have a look?

[2021-04-12 21:47] jonnyruzek commented on #35963
28975563-hc

[2021-04-12 21:49] macmanx2 commented on #51829
also reported at https://wordpress.com/forums/topic/style-amp-boilerplate-error-2/

[2021-04-12 22:17] kwight commented on #51829
I've revert D59723-code, closing as fixed. @claudiucelfilip @danielwrobert when redoing, I think it'll need the missing attribute, plus a check to only output if the block is present would be good.

[2021-04-12 22:17] #51829 closed, assigned to nobody

[2021-04-12 23:03] happychait opened #51874 "VideoPress: Support playlists with auto play."
A customer wanted VideoPress to support playlists and auto play the videos in the playlist.

28976398-hc

[2021-04-13 03:49] annbingle commented on #51429
Reported the same here 3896251-zd

[2021-04-13 05:05] kriskorn commented on #51714
It seems this is happening on Simple with Cover block as well.
Report: 3902043-zen

[2021-04-13 05:50] ilyasfoo commented on #50833
Latest findings
-----
I have been looking at logstash and tracks data from 1st - 12th April. In total, 29 hangups occurred during this period. The good news is the number of timeouts is trending downwards since changing the time limit to 30 seconds for plugin installation. This means that in some cases, plugin installation takes more time to finish. We could potentially increase this time limit so

[2021-04-13 08:43] BogdanUngureanu commented on #50428
I've reopened the issue because I was able to reproduce it with similar steps.
https://user-images.githubusercontent.com/995955/114523695-31643e00-9c4d-11eb-9cff-b5b4ab6aced4.mov

https://user-images.githubusercontent.com/995955/114524003-82743200-9c4d-11eb-95ad-4d8e734266f9.mov

[2021-04-13 08:44] kosiew opened #51881 "FSE Round 3 Alpha test - include tips on what to enter in each of the boxes"
After choosing Layout, we come to the Update Design page but there is no guidance on what to do next:

![Screenshot](https://d.pr/i/9bw1rg+)
*if image does not load, please click on this link  : https://d.pr/i/9bw1rg*

It would be helpful to include tips on what to enter in each of the boxes.

[2021-04-13 08:51] kosiew opened #51883 "FSE Round 3 Alpha test - H1 text is white and not visible"
At the Update Design screen, the H1 text is white and not visible.

![Screenshot](https://d.pr/i/SXPoDK+)
*if image does not load, please click on this link  : https://d.pr/i/SXPoDK*

![Screenshot](https://d.pr/i/kTsdBQ+)
*if image does not load, please click on this link  : https://d.pr/i/kTsdBQ*

It should be visible so that users know to have to edit it.

The text in other elements are also whi

[2021-04-13 09:01] devNigel opened #51884 "FSE Round 3 Alpha test - Navigation item is lacking any indicator to show its relation to the toolbar"
To remove the empty `Add a link` box in the editor, you have to click `Remove` option hdden under the toolbar and it does not look intuitive.

![image](https://user-images.githubusercontent.com/33957570/114525451-ba866f80-9c63-11eb-9f89-f67b487d36b0.png)

It would be helpful to have a border or any other indicators that make an obvious relation of the menu items to the toolbar.

[2021-04-13 09:15] BogdanUngureanu commented on #50428
Closing the issue again, I was able to reproduce it only because there's a conflict/issue with [Paid member subscriptions](https://wordpress.org/plugins/paid-member-subscriptions/) plugin and it's not related to nav unification.

[2021-04-13 09:15] #50428 closed, assigned to tjcafferkey

[2021-04-13 09:20] rinazrina opened #51885 "FSE Round 3 Alpha test - Can't edit the "Read more" text on More Block"
### Steps to reproduce the behavior

1. Add a More Block
2. Click on the "Read more" button and try to edit it

#### What I expected to happen
The text can be edited like demonstrated in [our support doc](https://wordpress.com/support/wordpress-editor/blocks/more-block/#editing-the-block)

#### What actually happened
It can't be edited.

#### Screenshot / Video: If applicable, add screenshots to h

[2021-04-13 09:22] claudiucelfilip commented on #51829
Thank you for addressing this and sorry for missing this.

The `style` tag is supposed to be caught by the AMP_Style_Sanitizer and included into the single `style amp-custom` tag. This, however, doesn't seem to be happening on WP AMP 1.4.2.
Another fix has been created which is restricted to WP AMP 2.0.5 (or newer) posts with the Cover block present (ty @kwight): D60085-code

[2021-04-13 09:40] kosiew opened #51886 "FSE Round 3 Alpha test - Front page template changes when browsing templates"
![Screenshot](https://d.pr/i/ERjQHc+)
*if image does not load, please click on this link  : https://d.pr/i/ERjQHc*

### Steps to reproduce the behavior

1. In Update Design, browse to another template - eg Single, then return to the Front Page template

#### What I expected to happen
Front Page should be unchanged

#### What actually happened
Front Page looks different

[2021-04-13 09:42] rinazrina opened #51887 "FSE Round 3 Alpha test - Calendar Block shows blank"
When adding the Calendar block, it shows a line with blank. No calendar is showing.

#### What I expected to happen
The calendar is showing as demonstrated in [this support doc](https://wordpress.com/support/wordpress-editor/blocks/calendar-block/#using-the-calendar-block).

#### What actually happened
When adding the block, it only shows a line with a blank content

#### Screenshot / Video: If ap

[2021-04-13 09:48] mmtr commented on #50217
I just deployed D58852-code which moves the Email Post Changes settings to the WP Admin writing settings (`/wp-admin/options-writing.php`). Users accessing the previous URL (`/wp-admin/options-general.php?page=email_post_changes`) will be automatically redirected to the WP Admin writing settings page. cc @mrfoxtalbot

[2021-04-13 09:55] kosiew opened #51890 "FSE Round 3 Alpha test - Single template contains errors"
![Screenshot](https://d.pr/i/cQJAyb+)
*if image does not load, please click on this link  : https://d.pr/i/cQJAyb*

### Steps to reproduce the behavior

1. In Update Design, browse to Single template
2. The template contains errors like `The block contains unexpected or invalid content`, `Attempt Block Recovery`, `Template part has been deleted or is unavailable: post-meta`

[2021-04-13 09:58] kosiew opened #51891 "FSE Round 3 Alpha test - Index Template contains error"
![Screenshot](https://d.pr/i/5cSjmM+)
*if image does not load, please click on this link  : https://d.pr/i/5cSjmM*

### Steps to reproduce the behavior

1. In Update Design, browse to Index template

Tye page contains `Template part has been deleted or is unavailable: post-meta`

[2021-04-13 10:47] tjcafferkey opened #51893 "Site icon covers interface when nav unification styles are disabled."
There are times when third-party plugins disable non-core styles and scripts. In these scenarios the site icon (if not cropped) can cover the user interface preventing areas of the dashboard from being usable. This was discovered by enabling the "No Conflict" option in Gravity Forms

### Steps to reproduce the behavior

1. Upload the attached image as your site icon and skip the cropping option.
2

[2021-04-13 10:48] tjcafferkey commented on #51862
Split this into two issues. This original one and the site icon covering the interface https://github.com/Automattic/wp-calypso/issues/51893

[2021-04-13 11:19] simison opened #51894 "Coming soon page: visual glitch on W icon"
Tiny visual glitch on free simple site in coming soon mode:

<img width="1128" alt="Screenshot 2021-04-13 at 14 17 22" src="https://user-images.githubusercontent.com/87168/114544398-3af8a080-9c63-11eb-857e-d93736bef18e.png">

Some CSS leaking in from somewhere:

![image](https://user-images.githubusercontent.com/87168/114544286-18668780-9c63-11eb-84f0-ef90b6d5daa5.png)

Also wondering if the hover

[2021-04-13 12:10] kriskarkoski commented on #49850
Came here to note the same thing. Observed today in testing with a few themes including Twent Twenty One, Exford, and Obsidian.

![Uploading Screen Shot 2021-04-13 at 7.59.45 AM.png…]()

[2021-04-13 12:49] kriskarkoski commented on #51787
There have been a couple reports of users unfollowing and refollowing shortly after that may be related to the same underlying issue:

- p1618258304165600-slack-C03TY6J1A
- p1617642179088800-slack-C02FMH4G8

[2021-04-13 12:53] razvanpapadopol commented on #51231
@alshakero, with D59729-code deployed, can we consider this issue fixed? 🌮

[2021-04-13 13:22] tjcafferkey commented on #49689
@blackjackkent I'd agree that keeping it the sub-menu item for Atomic sites makes sense.

@mrfoxtalbot does this sound OK from your POV?

[2021-04-13 14:35] silvio-meter opened #51899 "Press This doesn't pull the post URL, only the title"
### Steps to reproduce the behavior

1. Go to Settings > General > Writing, and enable "Press This".
2. Open any post and click on "Press This" (without highlighting anything).

#### What I expected to happen

This should open up the Editor inside a pop-up with the post/page URL added inside the post body.

#### What actually happened

Only the post title is pulled, not the URL itself.

Screenshot

[2021-04-13 14:45] ktyfuller604 opened #51900 "Image Block: Image size does not change if block is left or right aligned"
This issue occurs in the Twenty Twenty and Twenty Twenty-One themes. It does not occur in the Maywood theme.

### Steps to reproduce the behavior

1. Go to the Block Editor
2. Add an image block and a paragraph block
3. Left (or Right) align the image block
4. Resize the image to any size using any resize option; dragging the handles, setting a percentage, setting by pixels or using the drop-down.

[2021-04-13 15:31] alshakero commented on #51231
Yes sir!

[2021-04-13 15:31] #51231 closed, assigned to alshakero

[2021-04-13 16:01] tarunvijwani opened #51902 "FSE Round 3 Alpha test - Site logo size not changing"
When increasing the site logo size in the header and footer blocks on the front page template, it is not getting changed on the published site.

### Steps to reproduce the behaviour

1. Go to 'Front page template' editor
2. In the header block, add site logo block and add image
3. Increase the size of the block
4. Save the changes

#### What I expected to happen
The size of the site logo should be

[2021-04-13 16:11] tarunvijwani opened #51903 "FSE Round 3 Alpha test - Page list block not available in Style by block type list"
Page list block not available in Style by block type list

#### What I expected to happen
Page list block should be available in Style by block type to add some style to the block

#### What actually happened
Page list block not available in Style by block type list

![Xnip2021-04-13_21-38-27](https://user-images.githubusercontent.com/11503784/114585128-f2f86e80-9ca0-11eb-9334-3f6a50d77704.jpg)

[2021-04-13 16:19] ianstewart opened #51904 "All My Sites View: Posts and Pages labels do not adjust to multi-site view"
### Steps to reproduce the behavior

1. Visit WP.com with an account that has multiple sites.
2. Use the nav sidebar to click on Posts or Pages screen.
3. Click Switch Site in sidebar.
4. Click All My Sites in sidebar.
5. See label that refers to single site view on the multi-site screen.

![image](https://user-images.githubusercontent.com/545779/114586188-00363e80-9c4a-11eb-8407-0142225d6246.png)

[2021-04-13 17:56] kriskarkoski opened #51908 "Plugin description links separated without hyphen"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/plugins/woocommerce/ for example
2. Scroll down to the plugin description
3. Links spanning more than one row will be split without a hyphen unlike unlinked text, which does have a hyphen

#### What I expected to happen

Linked words to be kept together or include a hyphen as text does

#### What actually happened

Linked words sp

[2021-04-13 19:48] ianstewart opened #51912 "Support: /help loads at random position when visited from Home Screen"
### Steps to reproduce the behavior

1. Go to home screen
2. Click on More help
3. Support screen does not load at top of screen but in random position

![2021-04-13 14 45 39](https://user-images.githubusercontent.com/545779/114612031-3a620900-9c67-11eb-8ad6-4936a5935e1a.gif)

#### What I expected to happen

New screen would load at top of screen.

[2021-04-13 20:05] ersatzpenguin commented on #17172
This also came up in 28995719-hc.

[2021-04-13 20:19] obenland commented on #51553
This will be fixed by https://github.com/Automattic/wp-calypso/issues/51429, defaulting the comments screen to wp-admin.

@tjcafferkey If #51429 is not closed by the time Ajax gets to this, maybe you could take it over and make the change for both tickets?

[2021-04-13 20:21] Aurorum commented on #51912
PR for this issue in #51914. :)

[2021-04-13 20:21] obenland commented on #51862
Interesting! @BogdanUngureanu could you expand on how that works?

[2021-04-13 20:22] mattsherman commented on #50833
Excellent investigation @ilyasfoo ! 🙌

I don't follow this. The code you link to shows `workingOn` set to empty. So, isn't that the exact state we are seeing? This code is very difficult to follow.

Ah, I see... yeah, I think that would be a great improvement.

Hmm... I haven't traced through everything, but `isLoaded` actually doesn't seem to really tell us whether the plugin list has been loaded

[2021-04-13 20:25] mattsherman commented on #50833
Do we have any idea what users did immediately after this? I'd be curious if they contacted support or if they tried again themselves or if they just gave up. No need to dig deeply into this if the answer isn't easily obtained... just curious!

[2021-04-13 20:40] obenland commented on #50765
@cpapazoglou @mrfoxtalbot Other than the Folders plugin, are there any other conflicting plugins that we're aware of?

[2021-04-13 20:42] obenland commented on #51662
This should not be something that has changed with Nav Unification, should it?

[2021-04-13 20:49] bsessions85 opened #51915 "Implement Visual Regression testing framework"
**Task Details**
<-- Details of the task to be added here. Try to be specific and reasonably sized. -->
Set up framework and initial tests for visual regression testing

[2021-04-13 20:53] bsessions85 opened #51916 "Implement Visual regression framework."
Per: pbAok1-1Oc-p2

spin up visual regression infrastructure, add tests for layouts in editor and frontend per theme.

[2021-04-13 20:54] bsessions85 commented on #51916
Trying Backstopjs to start.

[2021-04-13 20:56] obenland commented on #51786
The feed results do return when lowercasing the search query to wordpress.com or wordpress.org. The follow still won't go through though.

[2021-04-13 21:11] #51804 closed, assigned to nobody

[2021-04-13 21:50] eoinsav opened #51917 "Background color on Group Block not displaying on Atomic sites"
The Background Color of a Group Block is not displaying on Atomic sites when a dark color is selected, like a gray.

### Steps to reproduce the behavior

1. Add a Group Block to a Page on an Atomic site.
2. Add some content to the Group Block.
3. Change the Group Block's background color to a dark color, `#444444` for example.
4. Update the Page and then view the Page on your live site.

#### What

[2021-04-13 22:02] wprhunt commented on #51095
I've got another asking about getting access to share stats:
21645770-hc

[2021-04-13 22:16] obenland commented on #51397
Looks like it. Closing in favor of #45317.

[2021-04-13 22:16] #51397 closed, assigned to nobody

[2021-04-13 22:16] mreishus commented on #51064
When D59986-code lands, when using the quick switcher on atomic and jetpack sites with nav unification on, everything will be translated except Jetpack and WooCommerce, and one "Add new theme" entry I found.
![2021-04-13_15-05_1](https://user-images.githubusercontent.com/937354/114627769-68e9df00-9c7b-11eb-93a7-2d197de5b46f.png)

"Jetpack" remaining untranslated is a product decision: pavWQK-DK-p2

[2021-04-13 22:50] obenland commented on #51904
@tjcafferkey I think we'll need another "fallback" menu for the "All My Sites" mode?

[2021-04-14 00:24] p-jackson commented on #50875
Decided not to add a tooltip for the maximise button because it already has a text label.

[2021-04-14 00:24] #50875 closed, assigned to p-jackson

[2021-04-14 04:10] donalirl commented on #48072
Another case of this in #29001406-hc. Embedding a post on a simple site renders a nice card, but the same post on an atomic site shows a nice card in the editor but just a plain hyperlinked text on the live site.

Follow-up in #3906861-zen when fixed.

[2021-04-14 04:15] scosgro commented on #36046
This is resolved in Edge, but still active in Internet Explorer (latest version):

![image](https://user-images.githubusercontent.com/30731356/114653647-58e2f700-9c9d-11eb-9aa2-8f3ca20a94ed.png)

[2021-04-14 05:18] Robertght commented on #51097
The user shared more details about the above case:

[2021-04-14 05:41] ilyasfoo commented on #50833
Thanks, @mattsherman!

Sorry, my statement was inaccurate. What I meant is because the `workingOn` is empty during timeout, it means the timeout must have occurred between the engine loop interval because otherwise, it would contain a plugin's name. The loop is only 17 milliseconds apart, so I thought it would be very unlikely that it'd expire during that small window.

Anyway, this was my mistake

[2021-04-14 06:17] deBhal opened #51925 "Gutenboarding Long Previews Followup Tasks"
This issue collects prs/tasks/ideas related to upgrading design previews to use the longer mshots capabilities

TODO:
- [x] Fix gutenboarding fade-in animation when images are loaded https://github.com/Automattic/wp-calypso/pull/51918
- [x] Enable `gutenboarding/long-previews ` in production
- [ ] Add mshots docs explaining the query params
- [x] Update our mshot requests to use the new capabiliti

[2021-04-14 06:21] p-jackson commented on #50426
The just deployed the new `insert_method` prop D60140-code.
Needs tests because I think this will inevitably break in a future version of GB, but it's going to be easier to write those e2e tests now that the new version of `wpcom-block-editor` is in production. Without that it was hard to get tests pointing at the changes in my sandbox.

[2021-04-14 06:37] edwinho89 commented on #41760
Hello. I'm reopening this issue as it is now reproducible and reported here: 3906809-zen

MacOS: 11.2.3 (20D91)
Safari: Version 14.0.3 (16610.4.3.1.7)
Gutenberg: 10.3.2
Jetpack: 9.6.1

You'll see similar results when visiting audio blocks on iOS devices (Chrome and Safari)

[2021-04-14 07:56] cpapazoglou commented on #50765
@obenland I have spotted a UI glitch with **All in One SEO**

![](https://cln.sh/Ub8r10+)

[2021-04-14 08:37] hacchism opened #51928 ""Advanced Users Management" option should not appear on Free Atomic Site"
### What plan tier is the site on?

Free Atomic Site

### Where are you seeing the issue?

1. Go to https://wordpress.com/home/SITE_URL
2. Click on "Users"

### What I expected

We should see only "All Users", "Add New", "My Profile" and "Personal Settings":

![Screen Shot on 2021-04-13 at 16:12:55](https://user-images.githubusercontent.com/32432463/114673296-ff340880-9d40-11eb-95cb-1a30cb625edd.p

[2021-04-14 08:49] annbingle opened #51929 "Site Identity: Hide option for WPCOM Footer Credit is enabled on a Free Atomic Site"
### Free

### In the Site Customizer

1. Go to 'Appearance > Customizer > Site Identity'
2. Scroll down to 'Footer Credit' then select Hide.
3. See it!

### What I expected on the Non-Business WordPress.com site
![Site Identity Disabled WPCOM Footer Credit](https://user-images.githubusercontent.com/40605613/114680686-ff7fd400-9d3f-11eb-93fb-a9c9c4955366.jpg)

#### What actually happened
 The Hide

[2021-04-14 08:57] annbingle opened #51930 "Themes: Active Theme isn't showing on Free Atomic Site"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

1. Go to 'Appearance > Themes.'
2. The Active Theme details are just showing as blank.

### What I expected on the WordPress.com site
The current active theme should be displayed in the Themes section.
<img width="981" alt="Screen Shot on 2021-04-14 at 16-53-35" src="https://user-images.githubusercontent.com/40605613/114

[2021-04-14 09:04] annbingle opened #51931 "Themes: Unable to Change to any themes"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

1. Go to 'Appearance > Themes > '
2. Select any theme then Activate it. Try either the Free or Premium theme and it will generate an error message.

### What I expected on the WordPress.com site
Will be able to activate a Free theme.

#### What actually happened

Got an error instead.
![Theme Activation](https://user-ima

[2021-04-14 09:10] BogdanUngureanu commented on #51862
@obenland we had a small discussion and it looks like replacing the core admin-menu css will not work on Jetpack sites because Jetpack can run on multiple versions of WP.

Our idea was that, when we release a new JP version, the sass build script will import the latest version of admin-menu from core and package it with our own nav unification style. However, because of this, three main issues wil

[2021-04-14 09:16] swoodipto opened #51933 "Yoast Integration: "Manage plugins" section can be accessed, but it doesn't show installed or active plugins"
### What plan tier is the site on?

Free

### Steps to reproduce the behavior

1. Go through the process of adding Yoast Premium to a free site
2. Go to My site → Plugins
3. Click the "Manage plugins" button at the top right
4. It will show "All, Active, Inactive, Updates"

 tabs but clicking on them won't show any installed plugins.

#### What I expected to happen

The "Manage plugins" button sho

[2021-04-14 09:22] #51893 closed, assigned to tjcafferkey

[2021-04-14 09:43] ilyasfoo commented on #50833
I've [posted a PR](https://github.com/Automattic/wp-calypso/pull/51932) is up to address 3 things:
- Fix unintended timeout occurring between engine intervals by destroying the timeout after finding the plugin present.
- Increasing the plugin installation and activation time limit to 60 seconds.
- Add a new track `calypso_woocommerce_setup_contact_support` to better understand user behaviour after

[2021-04-14 09:55] #51894 closed, assigned to ciampo

[2021-04-14 10:18] claudiucelfilip commented on #51534
D59725-code has been deployed. The issue should be fixed now.

[2021-04-14 10:18] claudiucelfilip commented on #51539
D59726-code Has been deployed. The issue should be fixed now.

[2021-04-14 10:25] ciampo opened #51936 "Launch banner: Blank Canvas theme styles leaks cause glitches in the "Launch site" button"
While working on a fix for #51894, a [similar issue](https://github.com/Automattic/wp-calypso/issues/51905#issuecomment-819400939) affecting the "Launch site" button was also reported:

<img width="248" alt="Screenshot 2021-04-14 at 11 58 04" src="https://user-images.githubusercontent.com/1182160/114693470-e6642c80-9d19-11eb-8031-8a48f6d209b3.png">

[2021-04-14 10:34] niranjan-uma-shankar commented on #50896
Fixed with https://github.com/Automattic/wp-calypso/pull/51866, so closing this issue.

[2021-04-14 10:34] #50896 closed, assigned to nobody

[2021-04-14 11:15] devNigel opened #51937 "FSE Round 3 Alpha test - Managing custom link in Navigation block is not intuitive"
When a new Custom Link is added by first typing out the URL and then entering the Text for the text, it is intuitive to finish press `Enter` key to finish with it.

However, when you press `Enter` key, a new empty `Add a Link` block is added. This is unexpected because none of the other blocks in the FSE creates its new instance on pressing `Enter` key in an existing instance.

Screen recording: h

[2021-04-14 11:39] devNigel opened #51938 "FSE Round 3 Alpha test - Able to enter anything in Link rel field"
### Steps to reproduce the behavior

1. Add a Navigation block
2. Click on + icon to add a Custom Link or a Page Link.
3. Select the settings of Custom Link or Page Link
4. It allows entering anything for the Link rel attribute.

#### Screenshot:

![image](https://user-images.githubusercontent.com/33957570/114704285-10cadf80-9d44-11eb-9442-ddb9b6281f88.png)

#### What I expected to happen

There s

[2021-04-14 11:44] ciampo commented on #51936
Fixed in D60154-code (cc @simison  and @vindl )

[2021-04-14 11:54] devNigel opened #51939 "FSE Round 3 Alpha test - Applying Background Color to Heading Block affects the width of text area."
### Steps to reproduce the behavior

1. Add a Heading Block.
2. Enter some text/
3. Apply Background Color to the Heading Block.
4. The width of the text area is affected.

#### What I expected to happen

Applying Background Color should not affect the width of the text area

#### What actually happened

The width of the text area was changed.

#### Screenshot / Video: If applicable, add screensho

[2021-04-14 12:07] rickmgithub opened #51940 "Podcast widget doesn't accept Apple Id"
### Steps to reproduce the behavior

Premium plan
Theme: Seedlet (but also happens on TwentyTwenty)
Occurs on multiple sites: AT and simple

Scenario 1: The site has a podcast set up on the site via settings->General->Writing

1.Add a podcast widget to a site
2. Add in the itunes ID
3. It shows the details for the podcast which was set up on the site in settings->general->writing not the itunes po

[2021-04-14 12:19] rickmgithub commented on #51940
I see how the workflow is meant to work now so it's not a bug

[2021-04-14 12:19] #51940 closed, assigned to nobody

[2021-04-14 12:31] cpapazoglou commented on #46645
### How should we deploy this feature?
Since, we rely on Jetpack Automattic/jetpack#19520 for updating the sidebar state while in WP Admin this feature won't be fully released till the next Jetpack Release on **May 4, 2021**. In my opinion, we have the following options:

- Deploy the Calypso PR, which just persists the state in `calypso_preferences`. Then wait till Jetpack Release on **May 4, 202

[2021-04-14 12:47] Nic-Sevic commented on #51381
another 29008455-hc

[2021-04-14 12:53] ciampo opened #51943 "Editor settings — Featured image UI differences vs dotorg"
Originally reported in p1618262639053800-slack-CRNF6A9DX

### Steps to reproduce the behavior

- In WordPress.com, edit a post
- Click the cog icon in the top right to open the sidebar
- Under the Post tab, open the "Featured Image" section and add a featured image
- Notice differences with dotorg

#### What I expected to happen

The Featured Image section looks and behaves like in the dotorg coun

[2021-04-14 13:01] ciampo commented on #51943
Here's a more detailed analysis of the differences that I've found between WPcom and Gutenberg for the Featured Image section:

| What | Gutenberg screenshot | WPCom screenshot |
|---|---|---|
| No featured image selected | ![Screenshot 2021-04-15 at 16 28 11](https://user-images.githubusercontent.com/1083581/114886126-92d00c80-9e07-11eb-93ec-4861e13e743f.png) | ![image](https://user-images.github

[2021-04-14 13:11] davipontesblog commented on #45342
I'd like to add a bit more context here. Current subscribers can cancel their subscription at any time as explained here: https://wordpress.com/support/wordpress-editor/blocks/payments/#canceling-a-subscription

Site owners can send subscribers this information to let them remove themselves, or "unsubscribe".

I do agree that a more robust way to "manage subscribers" as WooCommerce allows site own

[2021-04-14 13:14] davipontesblog commented on #45342
Moved to the View Backlog for consideration as an improvement to the Payments/Premium content functionality in WordPress.com. @kwight  is this is a good assignment, or is there a different team that works on subscriptions in WordPress.com for payment blocks?

[2021-04-14 13:24] davipontesblog commented on #46013
I am checking with our teams if this project is still relevant to be kept open. Internal link: p1618406606173800-slack-C02FMH4G8

[2021-04-14 13:41] davipontesblog commented on #51482
This is now working on simple sites and atomic sites.

[2021-04-14 13:41] #51482 closed, assigned to creativecoder, david-szabo97

[2021-04-14 13:41] davipontesblog commented on #51396
This is now working on simple sites and atomic sites.

[2021-04-14 13:41] #51396 closed, assigned to creativecoder

[2021-04-14 13:58] davipontesblog commented on #40493
OK, so this one took a bit of brainstorming to really dive into what's happening here. I recorded a video to show:

Droplr link: https://d.pr/v/oz6HHO/GZxfmk1yaf

Video:

https://user-images.githubusercontent.com/31009008/114721645-21109980-9d07-11eb-94f1-0c1bb0e1fc42.mov

The issue seems to happen because when adding a Payments block into a Column, the modal that appears is this:

<img width="341

[2021-04-14 14:04] davipontesblog commented on #44992
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:04] davipontesblog commented on #41911
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:05] davipontesblog commented on #38442
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:06] davipontesblog commented on #45141
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:06] davipontesblog commented on #45122
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:07] davipontesblog commented on #11675
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:07] tjcafferkey commented on #51553
@obenland Yep the related issue #51429 is part of the bundle for Ajax's next iteration starting next week so we can pick it up then.

[2021-04-14 14:07] davipontesblog commented on #45208
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:08] davipontesblog commented on #45133
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:09] davipontesblog commented on #45137
This is a duplicate of https://github.com/Automattic/wp-calypso/issues/45122.

[2021-04-14 14:09] #45137 closed

[2021-04-14 14:10] davipontesblog commented on #45138
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:11] davipontesblog commented on #45105
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:11] davipontesblog commented on #45085
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:13] davipontesblog commented on #45115
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:14] davipontesblog commented on #45132
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:15] davipontesblog commented on #46013
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:15] davipontesblog commented on #46298
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:16] davipontesblog commented on #45162
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:17] davipontesblog commented on #45356
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:18] davipontesblog commented on #45106
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:18] davipontesblog commented on #45110
Part of the Block Audit milestone: https://github.com/Automattic/wp-calypso/milestone/320
As discussed with @4thhubbard, leaving it for future consideration.

[2021-04-14 14:21] razvanpapadopol commented on #48221
This is now fixed

[2021-04-14 14:21] #48221 closed, assigned to nobody

[2021-04-14 14:39] davipontesblog commented on #51665
@kwight is this something that should be transferred to the Gutenberg project repo in core, or would this be something we could "fix" in Dotcom?

[2021-04-14 15:23] kwight commented on #44992
Reader changes for the sake of better block rendering needs further investigation; see paYKcK-KO-p2 for context.

[2021-04-14 15:30] kwight commented on #51665
Correct, if it can be replicated in Gutenberg, then it should be there. It sounds like a duplicate of https://github.com/WordPress/gutenberg/issues/6841#issuecomment-774337703.

[2021-04-14 15:32] michaelnutt2 opened #51945 "Site navigation: Screen Reader not reading sidebar items as links"
### Steps to reproduce the behavior

1. Go to My Home with screen reader enabled
2. Screen Reader reads sidebar navigation items as list items

#### What I expected to happen
When navigating the page with a screen reader the sidebar navigation would be read as links

#### What actually happened
The screen reader read the text as content on the screen, not as a link that could be clicked

#### Brow

[2021-04-14 15:41] WunderBart opened #51946 "E2E: Flaky "Can post a reply" in wp-comments-spec.js"
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/64815/workflows/ce6a8563-bdf7-4853-8d29-dd6eb4fff2f1/jobs/155290:

[code]

[2021-04-14 15:43] WunderBart opened #51947 "E2E: Flaky "Can see correct post title" in wp-calypso-gutenberg-post-editor-spec.js"
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/65435/workflows/9b1b45e9-dc71-47ce-946c-c122ed0f3f7f/jobs/156505:

[code]

[2021-04-14 15:46] obenland commented on #46645
Agreed. Let's just ship what we have so when Jetpack gets updated on Atomic it just works.

[2021-04-14 15:51] WunderBart opened #51948 "E2E: Flaky "Can view the post" in wp-calypso-gutenberg-post-editor-spec.js"
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/65369/workflows/2c47d19e-df3f-4ac7-9dd0-bb212ce7a845/jobs/156368:

[code]

[2021-04-14 16:22] razvanpapadopol commented on #49462
Superseded by https://github.com/Automattic/wp-calypso/issues/51175

[2021-04-14 16:22] #49462 closed, assigned to nobody

[2021-04-14 16:24] razvanpapadopol commented on #51318
I think all the related issues are now included in the milestone. I've also took out some bugs and moved over to a new milestone, [Domain picker: Bug Backlog](https://github.com/Automattic/wp-calypso/milestone/352 ), where we'll keep track of missing features, bugs, a11y issues and design misalignment:

[2021-04-14 16:24] #51318 closed, assigned to ciampo, razvanpapadopol

[2021-04-14 16:38] #51936 closed, assigned to ciampo

[2021-04-14 16:41] ciampo commented on #45454
Hey @david-szabo97 , can this issue be closed? (and [this card](https://github.com/orgs/Automattic/projects/161#card-50790608) archived?

[2021-04-14 16:42] ciampo commented on #49666
Hey @fullofcaffeine , can this issue be closed?

[2021-04-14 16:45] danjjohnson commented on #51443
Also happens when set to English (UK), (and I guess any other non-English(US) language).

[2021-04-14 17:40] scosgro commented on #45368
This bug is still active, and still giving the same error whenever the site owner attempts to add a payment plan, but someone else is the owner of the Stripe connection:

https://user-images.githubusercontent.com/30731356/114754730-bd3d9f00-9d0d-11eb-8492-49f43accd078.mp4

[2021-04-14 17:43] scosgro commented on #46253
Another report in 28983333-hc

[2021-04-14 17:45] scosgro commented on #46253
Another report in 26308629-hc

[2021-04-14 17:46] blackjackkent commented on #49689
We realized this is a Jetpack-managed file so a new PR has been opened to address this at https://github.com/Automattic/jetpack/pull/19537. (I'm running with the assumption that we are indeed only changing this for simple sites, but I can make further updates if there's more discussion that arises on the subject.)

[2021-04-14 17:48] davipontesblog commented on #51665
Sounds good. Moving this back to the HE triaging board to see if this can be repro'd on a vanilla WordPress install + Gutenberg - if so, this can be moved to the Gutenberg repo: https://github.com/WordPress/gutenberg/issues

[2021-04-14 17:53] Aurorum commented on #51904
PR for this issue in #51950. :)

[2021-04-14 18:00] #49144 closed, assigned to sixhours

[2021-04-14 18:15] lakellie opened #51952 "Checkout: Cart URL redirects to image file"
This is really just a minor thing, but I ran into it today and figured I'd report it just in case!

### Steps to reproduce the behavior

1. Visit https://wordpress.com/cart (note: to my knowledge, this is not a URL that we use anywhere, or one that is supposed to work, but is one that people might accidentally try to access from time to time.)

#### What I expected to happen

I was assuming I woul

[2021-04-14 19:00] kwight commented on #51064
D59986-code has landed. Fantastic:

<img width="307" alt="Screen Shot 2021-04-14 at 11 58 29 AM" src="https://user-images.githubusercontent.com/349751/114764524-e57ecb00-9d18-11eb-9c65-8f05ce656991.png">

[2021-04-14 19:00] #51064 closed, assigned to mreishus, yuliyan

[2021-04-14 19:04] kwight commented on #49154
All of the user-facing issues have been fixed – there's one remaining [P2-specific issue](2443-gh-Automattic/p2) being tracked and handled by that team. Closing.

[2021-04-14 19:04] #49154 closed, assigned to sixhours

[2021-04-14 19:06] kwight commented on #50193
Closed in D60052-code.

[2021-04-14 19:06] #50193 closed, assigned to blackjackkent

[2021-04-14 19:22] katiebethbrown commented on #48746
Another report in 3908352-zd-woothemes

User transferred in a custom domain. It has our nameservers but still has an A record pointing away. When it got set as primary after the transfer that broke JP so they couldn't correct the DNS issue without our intervention (I set the staging domain as primary again).

[2021-04-14 19:51] kwight commented on #51553
This ticket is part of Serenity's bundle, so I'll drop it from our sprint – @tjcafferkey let me know if you need assistance for it. 👍

[2021-04-14 19:58] xpurichan opened #51956 "Yoast Integration: Coblocks and Page Optimize plugins activated and usable"
### Steps to reproduce the behavior

1. Create a free site
2. Complete the setup the Yoast add-on in SA and enable the Yoast CFT settings.
3. Once the site is made Atomic it may have the Coblocks plugin activated, which is only included with our Business and eCommerce plans. I also see that Page Optimize is activated and we have Page Optimize settings appearing in WP Admin:
`DOMAINCOM/wp-admin/opt

[2021-04-14 19:58] annacmc opened #51957 "Yoast Integration: "Install Theme" area can be accessed, but there's no prompt to upgrade when theme installation fails"
**What plan tier is the site on?**
Free

**Where are you seeing the issue?**

- Go through the process of adding Yoast to a free site
- Go to My Site > Appearance > Themes
- Notice that "Install theme" appears (likely related to: https://github.com/Automattic/wp-calypso/issues/51663)
- Click on the "Install Theme" button in the top right
- Upload a theme .zip file

**What I expected to happen**

E

[2021-04-14 21:12] noahtallen commented on #49666
I just tested the nav block, and it appears to work in the editor and front end for pages. So I think this is resolved now :)

[2021-04-14 21:12] #49666 closed, assigned to nobody

[2021-04-14 21:17] pablinos commented on #50347
D60193-code has a fix for this, but as the problem comes from the job trying to process the best part of a million sites, I think we need to investigate if something else has gone wrong and connections have been incorrectly flagged for purge.

[2021-04-15 00:01] ramonjd commented on #50544
Hi! We're working on this over here D59022-code

[2021-04-15 00:13] ramonjd commented on #50246
@mattwiebe I can still reproduce this on Wordpress.com

1. Create a new FSE site
2. Open up the site editor, then edit a template part, e.g., Footer
3. Try to type in a block area, or create a new one and enter text.
4. For me `n`, `s` and `a` are causing problems. Hmmm NSA 🤔

No JS errors in the console I'm afraid! Seems like the parent frame is capturing keystrokes. Hitting '`n`'  opens my Reade

[2021-04-15 01:39] retnonindya commented on #47643
29017216-hc

[2021-04-15 02:10] donalirl commented on #48177
Anyone know how to access Link Categories now? I can't seem to track down the URL.
![image](https://user-images.githubusercontent.com/30727666/114803840-9356ac00-9de3-11eb-9548-c911f03a4efd.png)

[2021-04-15 02:11] katiebethbrown commented on #48746
Another report in 28899496-hc

User mapped a custom domain and set it as primary before they configured DNS, which broke JP and the site was no longer able to be managed or worked on in any capacity.

I set the staging domain as primary again to resolve while they work on updating the DNS for the mapped domain.

[2021-04-15 02:55] roo2 commented on #50484
It looks like the links on the onboarding checklist are already redirected to the site editor correctly for block based theme sites.

I've created a diff to remove the "update site menu" link

D60208-code

[2021-04-15 05:45] razvanpapadopol opened #51963 "New Onboarding: cleanup existing users experiment code"
**Task Details**
Cleanup code that was used to run New Onboarding existing users experiment in `client/state/selectors/get-onboarding-url.js`

**Related to**
https://github.com/Automattic/wp-calypso/pull/51951/files#r613727021

[2021-04-15 07:24] retnonindya opened #51966 "Jetpack Backup gives blank page/WSOD"
Hi team! Just recently (April 15, 7:21 UTC) we received a report where user sees blank page/WSOD when they accessed Jetpack Backup (My Site > Jetpack > Backup or `https://wordpress.com/backup/DOMAINNAME`). Several HEs able to replicate it.

This is the error code on console:

[code]

### Steps to reproduce the behavior

1. Go to `https://wordpress.com/backup/DOMAINNAME` (My Site > Jetpack > Backup

[2021-04-15 07:39] donalirl commented on #51966
Also happening in #28718778-hc

[2021-04-15 07:51] inaikem commented on #51966
Initially noticed on 3910135-HC

[2021-04-15 08:05] scinos commented on #51966
Fixed by #51968

[2021-04-15 08:06] retnonindya commented on #51966
Yay! Thank youuu! Closing this issue now.

[2021-04-15 08:06] #51966 closed, assigned to mattgawarecki

[2021-04-15 08:28] #51381 closed, assigned to BogdanUngureanu

[2021-04-15 08:28] #51459 closed, assigned to BogdanUngureanu

[2021-04-15 08:40] keoshi commented on #48177
@donalirl It should be:

`/wp-admin/edit-tags.php?taxonomy=link_category`

[2021-04-15 08:52] tyxla commented on #51966
cc @mattgawarecki and @Automattic/jetpack-voyager - as per some investigation in p1618474100102000-slack-C7YPUHBB2 this seems to be caused by #46932. We'll need to address that before doing a second pass to upgrade redux.

[2021-04-15 08:54] #24221 closed

[2021-04-15 09:04] #51835 closed, assigned to nobody

[2021-04-15 09:22] yansern opened #51973 "E2E: Flaky delete site flow."
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

I'm just working on E2E tests locally and I sometimes get this when it reaches the Delete Site flow. Used in multiple spec files.

Wondering why the alert box sometimes show, sometimes now. Should be an easy fix. Might look into it later.

[code]

[2021-04-15 09:36] #46645 closed

[2021-04-15 10:03] yansern commented on #51973
Also now when logging in.

![image](https://user-images.githubusercontent.com/1287077/114851868-f1d35880-9dea-11eb-80c8-603146fba060.png)

[2021-04-15 11:29] #51403 closed, assigned to StefanNieuwenhuis

[2021-04-15 12:49] StefanNieuwenhuis opened #51979 "Design Picker: Add Blank Canvas design option"
## What

As a user, I want to be able to skip the design picking step during onboarding and land in the editor, **with a blank canvas**.

## Why

Give the user the possibility to start with an empty template.

## A/C

* [ ] #52107 is solved
* [ ] Add empty template (https://github.com/Automattic/wp-calypso/pull/50215/files#diff-4b145f851c587a66faeef450d03a5f5b730664b4991e5cf1c38d145fc490c802R6)
*

[2021-04-15 12:52] StefanNieuwenhuis commented on #49141
I moved the template creation part to #51979

[2021-04-15 13:24] davipontesblog commented on #51787
The user has a follower that commented to them the following:

I checked the Reader and I can see the site come up; the Reader feed also returns what you would expect and I can't see any errors or red flags there so, likely, just what they described that they lost the Follower status and had to resubscribe.

[2021-04-15 13:28] ciampo opened #51983 "Design Picker: store design order and selected design"
TBD

[2021-04-15 13:40] ciampo opened #51985 "FSE site creation flow: add blank canvas design option"
This technical task is going to fix https://github.com/Automattic/wp-calypso/issues/52172

**What**
Similar to what we've done in #51979, add Blank Canvas for FSE sites (with `is_fse: true`).

See also p1619163067291000-slack-C0KDTA48Y for context

**Question**
Does that need a separate, FSE compatible empty template?

[2021-04-15 15:34] blackjackkent commented on #49689
@mrfoxtalbot Yes, that's helpful, thank you!

This is easy enough to do - I'll update the PR at https://github.com/Automattic/jetpack/pull/19537 to include this change.

[2021-04-15 15:41] pablinos commented on #50519
@cpapazoglou Now Calypsoify is disabled and nav unification is enabled for all, do you think we can close this?

[2021-04-15 17:00] blackjackkent commented on #49689
Correction - it's taking a bit of investigation to make the atomic change, more than i expected. Since my existing change fixing the more pressing confusion for simple sites is ready to go, and I'd like to get this out this sprint, I'm going to go ahead and have that get merged. I can circle back onto this issue in a future sprint but it sounds from @mrfoxtalbot 's comments like the simple site ch

[2021-04-15 17:51] allanftd commented on #51881
In addition to what @kosiew has suggested, adding a tooltip or a clearer demarcation (e.g. slightly transparent dotted lines show up when hovering over without clicking on the page) where the boundaries of the header, content, and footer are on each template. This would help the user identify what part of the page they are editing.

[2021-04-15 18:16] klimeryk commented on #51121
Sorry for missing this ping! 🙇

Like Dale said above, there's no strict list. We have a place on the backend where we can store in a robust way per TLD (and/or per registrar/registry) details like this. But it'd probably make sense to treat all domain registrations as async processes - there could be a sudden outage or just a performance dip on the registry side and we'll have the same problem for

[2021-04-15 18:38] sarahfg commented on #35963
Similar report for 3911453-zen with a post that went from Published>Draft. It is still getting views.

[2021-04-15 19:15] sirbrillig opened #51990 "Checkout: Show formatted postal code in postal code field(s)"
Before submitting the postal code to the transactions endpoint (and possibly also the shopping-cart endpoint?), it is formatted by locale using `tryToGuessPostalCodeFormat`. However, that formatting appears never to be displayed to the user in the checkout form. At some point it was displayed (at least in the previous version of checkout) but that has been accidentally removed. We should restore t

[2021-04-15 19:52] khristiansnyder commented on #51591
+1. Tested a free AT site and ads were not shown.

[2021-04-15 20:01] vparkhere opened #51991 "Free Atomic: Google Analytics on Settings > Reading"
### What plan tier is the site on?
Free

### Where are you seeing the issue?
Settings > Reading

### What I expected on the free Atomic site
Not having the "Use Google Analytics with Infinite Scroll" option.

### What actually happened
The ability to "Track each scroll load" was there

**Screenshot / Video: If applicable, add screenshots to help explain your problem.**

<img width="2153" alt="Scre

[2021-04-15 20:32] kwight commented on #51662
I feel like this has come up before and was a `wontfix`, the idea being that logging out here is logging you out of just WP.com, and we wouldn't want to also log them out of their Atomic WP Admin. Confusing for sure, and asking expected behaviour of users, I could see it being a 50/50 split. 🙃

[2021-04-15 20:44] marianearchimbaud commented on #46802
Hi!!

I found a similar issue.

This site was having troubles with Facebook and LinkedIn connections.

I disabled both of them and set the connection again. It worked for Facebook but not for LinkedIn.
I am following-up with the user here: 3911669-zd

[2021-04-15 20:50] fullofcaffeine opened #51992 "E2E: Flaky spec report: "Private Pages: Can view page title as logged in user" in wp-calypso-gutenberg-page-editor-spec.js"
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From wp-calypso-gutenberg-page-editor-spec.js:

https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/65633/workflows/5f81240b-6151-4c82-8c6f-1a2709a61dc8/jobs/156917

[code]

Tested on GB v10.4.1 on edge and locally. It passes when test runs from my local box. Might be related to the fact that

[2021-04-15 20:54] jamiepalatnik commented on #36063
I wanted to add that we had a user request to be able to completely remove SMS option for security reasons in 3903236-zen. Looks like this is not an option at the moment since we use the SMS number as a backup option.

[2021-04-15 21:59] obenland commented on #45435
Let's consider this finished.

[2021-04-15 21:59] #45435 closed

[2021-04-15 22:05] scosgro opened #51995 "Store Admin gives a large Atomic WITHOUT BUSINESS PLAN notification on Yoast SEO Premium sites that are not Business Plan sites."
### What plan tier is the site on?
The free plan, Personal Plan, Premium Plan

### Where are you seeing the issue?

1. If you go to the Store Admin for a non-Business Plan site that has the Yoast SEO Premium subscription on it, the Store Admin will give a large Atomic WITHOUT BUSINESS PLAN notification on that plan, which is typically evidence of a problem:

![image](https://user-images.githubuser

[2021-04-15 22:14] DavidRothstein opened #51996 "Purchases: Auto-renew is shown as off for unbillable or missing payment methods even when it is on"
### Steps to reproduce the behavior

1. Buy a subscription with a credit card. Go to the Manage Purchase page and verify that it has auto-renew turned on:
    ![auto-renew-on-payment-method](https://user-images.githubusercontent.com/235183/114943280-c153e480-9e13-11eb-9520-9e22c6d30b29.png)
2. Go to https://wordpress.com/me/purchases/payment-methods and remove the credit card.
3. Go back to the Ma

[2021-04-15 22:32] fullofcaffeine opened #51997 "Gutenberg: v10.5.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/51767
Release notes: [10.5.0-rc.1](https://github.com/WordPress/gutenberg/releases/tag/v10.5.0-rc.1), [10.5.0](https://github.com/WordPress/gutenberg/releases/tag/v10.5.0), [10.5.1](https://github.com/WordPress/gutenberg/releases/tag/v10.5.1), [10.5.2](https://github.com/WordPress/gutenberg/releases/tag/v10.5.2)
### Process

- [x] I

[2021-04-15 22:34] fullofcaffeine commented on #51767
This is done. Next one: https://github.com/Automattic/wp-calypso/issues/51997.

[2021-04-15 22:34] #51767 closed, assigned to fullofcaffeine, WunderBart

[2021-04-15 23:16] autumnfjeld commented on #50484
Did you mean "Create site menu" ?

[2021-04-16 00:25] andrewserong commented on #49141
@simison thanks for the ping!

Yep, to get the `template/demo` endpoint URL working, there'll need to be a starter site with the appropriate sticker attached, even for the blank content, and a Headstart annotation. Full steps to do it are in: PCYsg-r7w-p2, which looks like it's being worked on in https://github.com/Automattic/wp-calypso/issues/51979? It's already mentioned in that page, but note t

[2021-04-16 00:27] andrewserong commented on #49141
Oh, and it looks like Luna's working on this, but feel free to ping us in View if you get stuck or need reviews 🙂

[2021-04-16 00:36] scosgro commented on #45881
Another report in 9086584-hc.

[2021-04-16 00:54] sbathompson-he opened #51999 "Free Atomic: Site Health Accessible"
### What plan tier is the site on?
Free

### Where are you seeing the issue?
Tools > Site Health

#### What I expected on the Atomic site
Not to see Site Health as that is usually only on a Business or eCommerce Plan

#### What actually happened
Ability to see Site Health which includes all the information shown on the Info Tab.

#### Screenshot / Video: If applicable, add screenshots to help expl

[2021-04-16 00:58] louinel commented on #45881
Another report in 3911399-zen

[2021-04-16 01:55] ericamQA commented on #46077
28872915-hc Unable to update Display Name without also updating via WP-admin

[2021-04-16 02:21] kriskarkoski commented on #51662
@kwight Some of the example sites here are Simple so this sounds a bit different. Perhaps something with the changes to cookies and custom domains?

In the Atomic context this is one prior report I'm aware of and the experience from February is documented there:

374-gh-Automattic/atomic

[2021-04-16 03:26] #46629 closed

[2021-04-16 04:14] noahtallen opened #52002 "E2E: Flaky "Can log in for "Can create a free site"" in wp-launch-spec.js"
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From<link-to-the-job-where-the-spec-failed>: https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/65500/workflows/e8f04b22-f382-4186-9979-08e7561b201c/jobs/156610/tests

[code]

[2021-04-16 04:16] noahtallen opened #52003 "E2E: Flaky "Can log into WordPress.com" in wp-plan-purchase-spec.js"
This spec seems to be flaky so let's try to fix it. Note: the root problem is probably the same as #52002

#### Failing spec details

From: https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/65500/workflows/e8f04b22-f382-4186-9979-08e7561b201c/jobs/156610/tests

[code]

[2021-04-16 04:18] noahtallen opened #52004 "E2E: Flaky "Can view page title as logged in user" in wp-calypso-gutenberg-page-editor-spec.js"
This spec seems to be flaky so let's try to fix it. Seems similar to #51948, but the error is different. This is also a mobile test.

#### Failing spec details

From: https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/65499/workflows/961e59e4-99c5-4b72-b52a-edf2827cdbf2/jobs/156607

Also: https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/656

[2021-04-16 04:20] noahtallen commented on #52004
Dupe of #51992

[2021-04-16 04:20] #52004 closed, assigned to lsl

[2021-04-16 05:05] isocialtish commented on #46802
I have a report of the same error of "Invalid/missing request nonce." with a Facebook connection

Follow up ticket: 3895799-zen

[2021-04-16 05:10] ramonjd commented on #51802
Reporting on my testing so far, I'm seeing this across both site and block editors on tt1, vesta and seedlet block themes

<img width="400" alt="Screen Shot 2021-04-16 at 3 07 34 pm" src="https://user-images.githubusercontent.com/6458278/114974319-81e5d080-9ec5-11eb-8be6-ca02bfb9508c.png">

<img width="400" alt="Screen Shot 2021-04-16 at 3 03 58 pm" src="https://user-images.githubusercontent.com/6

[2021-04-16 06:43] cpapazoglou commented on #50519
@pablinos while users with nav unifications won't ever see this, JP connected non-Atomic sites still have this behavior. Is that expected or is it a good time to remove it?

[2021-04-16 07:15] simison commented on #51943
I think there was a project in the past to bring those media source selections to editor canvas for a reason;
- E.g. some sites that aren't iframed (many more as 3rd party cookies become reality) are not getting the Calypso media modal, hence they lose those features.
- They're easier to discover in editor canvas rather than in media library. The dropdown is present also in image block, cover bloc

[2021-04-16 08:18] ciampo commented on #51943
I see the benefits of adding such a button. But in the context of the featured image, this button is adding a lot of duplicated functionality (e.g. in the screenshots that you posted, clicking or dragging an image on "Set featured image" would already work).

Regarding this this specific matter, what should we do then?

1. We could remove the Jetpack "Select Image" button from the featured image s

[2021-04-16 08:42] simison commented on #51943
I would expect;
- No duplicate "Replace image" button
- Only "Select image" button, but it opens up the dropdown
- Image preview width work just like it does in core

It's not as much a question of .org consistency (after all we have our own custom media library) but more of a question of keeping things consistent across .com. Here's the same feature for image block:

<img width="622" alt="Screens

[2021-04-16 09:12] simison commented on #51943
I looked closer and understood a bit better the crust of the problem:

<img width="277" alt="image" src="https://user-images.githubusercontent.com/87168/115001908-c6b13d80-9eac-11eb-9b09-bb39d1379cf9.png">

- When no featured image is selected, this works well. We have "select image" button with a dropdown appearing.
- When an image is selected, we have two buttons. We should have only "replace im

[2021-04-16 09:24] ciampo commented on #51943
I think so. I opened https://github.com/Automattic/jetpack/issues/19555 to track this separately.

I will proceed and do the same to track the preview image size separately too, and then I will close this issue

[2021-04-16 09:50] ciampo opened #52010 "Editor settings: Featured Image preview is too small"
### Steps to reproduce the behavior

1. On a WordPress.com simple site, create a new post
2. Open the settings sidebar (by clicking the cog icon in the top right of the editor)
3. Select the "Post" tab and scroll to the "Featured Image" section
4. Add a Featured Image

#### What I expected to happen

The Featured Image preview fills up all the available space

#### What actually happened

The Feat

[2021-04-16 09:52] ciampo commented on #52010
Some additional context from the [original exploration](https://github.com/Automattic/wp-calypso/issues/51943#issuecomment-819499234):

By default, the featured image preview uses the `post-thumbnail` version of an image (see [gutenberg docs](https://github.com/WordPress/gutenberg/blob/086b77ed409a70a6c6a6e74dee704851eff812f2/docs/reference-guides/filters/editor-filters.md#editorpostfeaturedimagei

[2021-04-16 09:53] simison commented on #49141
I'll close this since it was meant for prototype, and has likely some todos that are not that relevant for the final flow outlined in p9Jlb4-2qt-p2 . It's better you write fresh issues so that this doesn't mix things up.

FYI @razvanpapadopol

[2021-04-16 09:53] #49141 closed, assigned to nobody

[2021-04-16 09:56] ciampo commented on #51943
Opened https://github.com/Automattic/wp-calypso/issues/52010 to track the preview image sizing.

Closing this issue in favour of the 2 smaller issues linked above

[2021-04-16 09:56] #51943 closed, assigned to nobody

[2021-04-16 10:15] simison commented on #51943
Split another issue to Gutenberg about the blurb above the featured image area: https://github.com/WordPress/gutenberg/issues/30904

[2021-04-16 10:32] zdenys opened #52012 "Customizer: Homepage replaced with theme's one without confirmation if `Try & Customize` is used to activate a theme."
### Steps to reproduce the behavior

1. Go to https://wordpress.com/themes
2. Click on `...` on any of the visible Block-first themes (e.g. Spearhead)
3. See the modal asking you to either keep the current homepage (`Use X without changing my homepage content.`) which is the option selected by default or replace it with the theme's one (`Use X's homepage content and make my existing homepage a dra

[2021-04-16 10:38] carinapilar opened #52013 "Missing Comment Likes Feature on Atomic"
### Steps to reproduce the behavior
1. On an Atomic site, leave a comment on a post.
2. With the comment likes feature enabled, leave some likes on the comment, using different users.

#### What I expected to happen
To show a link to open an overlay that lists all users that liked the comment, as it does on Simple sites:

![LikesOnSimple](https://user-images.githubusercontent.com/16104522/11501239

[2021-04-16 10:41] Robertght commented on #51746
another case in 3888614-zen

[2021-04-16 10:53] #24150 closed

[2021-04-16 12:10] simison commented on #51670
Jetpack 9.6.1 is live so closing.

[2021-04-16 12:10] #51670 closed, assigned to nobody

[2021-04-16 12:13] razvanpapadopol opened #52016 "Design Picker: Integrate Blank Canvas custom item in the grid of designs"
### What

We want to add an internal prototype flow for a Blank Canvas option in `/new`.

![image](https://user-images.githubusercontent.com/87168/105397874-4ae78200-5c2a-11eb-9766-7a9af0ff2971.png)

### Why

We want the user to have the opportunity to start a site without any design (i.e. a blank canvas).

### A/C

* [x] The theme has an _empty_ thumbnail (see the example from Themes showcase: ht

[2021-04-16 12:27] #51857 closed, assigned to yansern, razvanpapadopol

[2021-04-16 12:31] roo2 commented on #50484
implemented @ianstewart's MVP fix for this
* Create a site menu is removed for site editor blogs ✅
* The link to *edit homepage* had already been updated to take users to the site editor ✅

[2021-04-16 12:31] #50484 closed, assigned to roo2

[2021-04-16 12:47] dcoleonline commented on #44844
Another request in #29051926-hc. I told them we don't offer it at this time.

[2021-04-16 12:50] StefanNieuwenhuis commented on #49141
#52016 is the follow-up issue.

[2021-04-16 13:09] #45454 closed

[2021-04-16 13:09] david-szabo97 commented on #45454
Yes, just closed it! Thanks for checking in

[2021-04-16 13:11] david-szabo97 commented on #46326
The reported issue is fixed by 27408-gh-WordPress/gutenberg

[2021-04-16 13:11] #46326 closed

[2021-04-16 13:17] yansern opened #52017 "Design Picker: ensure design thumbnails correct size"
## What

The Design Picker component at the moment doesn't take its own width into account when laying out the grid containing the design thumbnails. In particular, when embedded in the `/start` signup flow, the size of the design thumbnails can get particularly small at higher screen sizes:

<img src="https://user-images.githubusercontent.com/1083581/115263289-96300480-a135-11eb-85a6-53be87b2d39c

[2021-04-16 13:26] ciampo commented on #50273
Hey @jdc91 , is there any progress on this issue? I can't access the trello board.

[2021-04-16 13:50] #51869 closed, assigned to nobody

[2021-04-16 14:20] nerdysandy commented on #51475
@kwight Just to confirm, did you move it back to `Needs Triaging` because some changes were made or because it is not replicable anymore?

I can confirm that I can't replicate anymore as shown here: https://d.pr/i/NYXqJB I tested it on a simple site with Morden and 2020 theme. The block shows correct height in the editor.

[2021-04-16 14:22] #51475 closed, assigned to nobody

[2021-04-16 14:41] nerdysandy commented on #43055
I can still replicate it. Removing the Stale label.

[2021-04-16 14:51] nerdysandy commented on #4426
We still don't have the Search field on the Invite section https://d.pr/i/p4woYn Removing the Stale label

[2021-04-16 14:56] nerdysandy commented on #46366
@alshakero Can you confirm if you still need this? I'm asking only so that we can then remove the Stale label from it :)

[2021-04-16 15:01] nerdysandy commented on #46511
I can see the width options for the Post Carousel block  now https://d.pr/i/fVKOkS Closing it as not replicable anymore

[2021-04-16 15:01] #46511 closed

[2021-04-16 15:28] WunderBart opened #52020 "AMP: "Automatically fit text to container" broken on Simple sites"
### Steps to reproduce the behavior

1. On a Simple site, go to the editor
2. Add a paragraph block and type some text in
3. Open the block settings and go to the `AMP Settings` section
4. Check the `Automatically fit text to container` option
5. Save the post and refresh the page
6. See that the block is now broken and offers recovery.

#### Does this happen on simple or atomic sites or both?

Si

[2021-04-16 15:32] zdenys commented on #51435
28978798-hc

[2021-04-16 15:32] WunderBart commented on #52020
cc @gravityrail @claudiucelfilip maybe you could help with this one? 🙏

[2021-04-16 15:40] DavidRothstein commented on #51996
Somewhat related to this also (internal link): c/kAk1PjtN-tr

[2021-04-16 15:41] WunderBart commented on #52020
For comparison, this is the AMPed block's code on an Atomic site:

[code]

...versus the same block on a Simple site:

[code]

[2021-04-16 15:52] WunderBart commented on #51997
A good one to track with this release (it's broken on Simple sites only):  https://github.com/Automattic/wp-calypso/issues/52020.

[2021-04-16 15:53] WunderBart commented on #51161
Next one: https://github.com/Automattic/wp-calypso/issues/51767

[2021-04-16 15:53] #51161 closed, assigned to nobody

[2021-04-16 15:57] gravityrail commented on #52020
I don't currently have enough direct expertise with the Gutenberg amp integration to be much help here, hopefully somebody else is able to chip in with an obvious solution.

[2021-04-16 16:06] sirbrillig commented on #46320
Since the CartStore has been removed, this should now be fixed.

[2021-04-16 16:06] #46320 closed

[2021-04-16 16:25] ciampo opened #52021 "Reader: comment wrapper is not clear floating rules"
Encountered while using Reader.

It looks like the `wp-block-embed` is set to `float:left`. And because the parent wrapper doesn't apply a clearfix solution, the next comment is displayed incorrectly

![image](https://user-images.githubusercontent.com/1083581/115054959-288b9a80-9ee1-11eb-9323-74fae45e9ee9.png)

[2021-04-16 17:56] #49689 closed, assigned to blackjackkent

[2021-04-16 18:43] mattwondra commented on #51517
The performance benefit has continued through the week. The number of error messages users see has remained steady, but still exceptionally low considering the endpoint is hit on every Calypso pageload. It's likely this has always been the error rate for this endpoint.

I'm going to close this issue.

[2021-04-16 18:43] #51517 closed, assigned to nobody

[2021-04-16 19:09] ianstewart commented on #51327
For comparison here's some different experiences offered …

Dotcom after installing the WooCommerce Plugin:

![image](https://user-images.githubusercontent.com/545779/115072163-d6388280-9ebc-11eb-8296-73deffe3da6c.png)

Dotcom after upgrading to the Ecommerce Plan (which activates Woo):

![image](https://user-images.githubusercontent.com/545779/115072297-04b65d80-9ebd-11eb-9ae2-5f690d53c6db.png)