[2022-04-12 18:55] andres-blanco opened #62713 "Seller Experience: Audit which tracks are being fired in the WooCommerce last step"
We should find out which track events are being fired in the Confirm and Transfer steps on the `/start` WooCommerce flow.

The output of this issue is a p2 detailing when/where/what tracks are being called.

Related: https://github.com/Automattic/wp-calypso/issues/62671

[2022-04-12 18:58] andres-blanco opened #62714 "Seller Experience: Replicate WooCommerce confirm step on stepper"
This is the current component: https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/woocommerce-install/confirm/index.tsx.

We should replicate this on the stepper. For more info on this component refer to paYKcK-1xp-p2.

The original component looks like this:
![image](https://user-images.githubusercontent.com/917632/163581517-3bc51df6-472d-484e-968f-d27f362afa4b.png)

Related

[2022-04-12 18:58] senff commented on #62646
Reported in 4937001-zd.

[2022-04-12 19:00] andres-blanco opened #62715 "Stepper: Update stepper data store to verify if a site is Atomic"
We should create a selector in stepper data store to check if a site is already Atomic.

Related to: https://github.com/Automattic/wp-calypso/issues/62671

[2022-04-12 19:06] andres-blanco opened #62716 "Stepper: Recreate Transfer Site component on stepper"
We should replicate this component on the stepper framework https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/woocommerce-install/transfer/transfer-site.tsx.

Details on this component on paYKcK-1xp-p2

Related to: https://github.com/Automattic/wp-calypso/issues/62671

[2022-04-12 19:08] andres-blanco opened #62717 "Stepper: Recreate InstallPlugins component on stepper"
We should replicate this component on the stepper framework https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/woocommerce-install/transfer/install-plugins.tsx.

Details on this component on paYKcK-1xp-p2

Related to: https://github.com/Automattic/wp-calypso/issues/62671

[2022-04-12 19:11] andres-blanco opened #62718 "Stepper: Recreate Transfer step for WooCommerce flow on stepper"
This is a wrapper for the InstallPlugins and the TransferSite components. It loads one of the previous components conditionally on wether the current site is Atomic or not.

Currently, this step lives here: https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/woocommerce-install/transfer/index.tsx

Depends on:
* https://github.com/Automattic/wp-calypso/issues/62716
* https://git

[2022-04-12 19:12] andres-blanco commented on #62671
The issues where created and are linked above.

[2022-04-12 19:12] #62671 closed, assigned to andres-blanco

[2022-04-12 19:16] Gustavo-Hilario opened #62719 "Jetpack: QRPost: increase the QR code resolution"
### What

The user wanted the QR code to have a higher resolution so it won't get blurry when expanding and printing.

Report: 35047865-hc

### Why

This would help the user to keep a good resolution when printing the QR code. The current dimension of the QR code is 600x600:

![Markup on 2022-04-12 at 14:15:57](https://user-images.githubusercontent.com/50875131/163036881-0267ea6e-8c25-4942-b88c-53

[2022-04-12 19:52] nixiack commented on #62646
Reported in 4939044-zd as well.

[2022-04-12 20:09] allilevine commented on #62496
@lupus2k Did we make a decision about that in planning? If not, can we check with @vinimotaa ?

[2022-04-12 22:03] jerrysarcastic opened #62720 "[Bug]: Changing site address when changing username can lead to unintentionally deleted sites"
### Quick summary

In testing username/sitename changes and the legacy free plan, I noted that this page leads to some serious confusion and does not seem to work correctly on https://wordpress.com/me/account/

Specifically, when changing username, you are presented with two options to select a matching sitename

1. Yes, change `OLDUSER.WORDPRESS.COM` to match my new username and discard the old a

[2022-04-12 22:07] Copons opened #62721 "Earn: Update cards copy"
Proposed changes:

## Earn Screen `/earn`

### Payment Button Card

| Site | Title | Body | Primary | Secondary |
| - | - | - | - | - |
| Free | **Collect payments** | Let visitors pay for digital goods and services or make quick, pre-set donations by enabling the Payment Button block.<br>_Available with any paid plan — no plugin required._ | Unlock this feature | [Learn more](https://wordpress.co

[2022-04-12 22:11] jerrysarcastic commented on #62720
Also noting this related issue regarding username changes on atomic sites:  https://github.com/Automattic/wp-calypso/issues/60031

[2022-04-12 22:25] Copons commented on #62329
Closed by https://github.com/Automattic/wp-calypso/pull/62604

[2022-04-12 22:32] lsl commented on #62264
Locking in categories for now as:

`Analytics, Business, Customer Service, Design, Ecommerce, Education, Finance, Marketing, Search Optimization, Photo & Video, Social, Widgets, Email, Security, Posts & Posting`

Along with options to pick:

`All Categories, Top free plugins, Top premium plugins, and Editor’s pick.`

![Screenshot 2022-04-13 at 08-32-18 Marketplace Plugin Categories](https://user-i

[2022-04-12 22:37] lsl commented on #62644
+1 greyed out card

I like the grey badge variation more as it's more assertive and clear about the problem but I think we still need a "Why?" link on the side/below/in so people can find the docs and explanation easily.

[2022-04-12 23:38] lsl commented on #62497
Fair bit of discussion in this p2, this comment kind of sums up where we're at: pdh6GB-Cq-p2#comment-1230

@lupus2k if you're taking this one on it would be good to get a p2 post up defining what your planning to add to the marketplace endpoints (either by modifying what's there or adding a new endpoint) - once that's defined we can start working on it on the calypso side.

[2022-04-13 03:23] roo2 commented on #62595
looks straightforward. Ganon has some new dev's starting in the next few weeks, let's get one of them to work on this as a good place to start fixing bugs in calypso.

[2022-04-13 03:27] roo2 commented on #61742
We haven't seen this being abused in the wild have we? The reason I ask is that if we don't already have a concept of "Pending" subscriptions, I think that the risk of introducing some other bug while adding that concept and fixing this might be worse than the risk of this actually being abused.

(good find though, and I agree with the idea that it _shouldn't_ be possible to spam this)

[2022-04-13 03:42] roo2 commented on #60695
hmm interesting, ok, I can see that if someone was using a phone on landscape mode or just had created a browser window to unusual dimensions this becomes an issue.

I think we could solve this by making the left panel scroll-able (only when neccessary, so we don't have a scroll bar all of the time) It might be a tricky bit of CSS.

Let's save this for our new ganon dev's starting in the next few

[2022-04-13 03:45] roo2 commented on #62595
related pd4QKa-yq-p2

[2022-04-13 03:57] roo2 commented on #61729
very interesting, so the `site` parameter is used to add the page subtitle "_or visit $site_title_" but because we pass the post id instead of the blog id, we get an essentially random other persons blog in that subtitle 😂 "_or visit **Pixie on the net**_"

Ganon has some new devs starting in the next few weeks. This looks like a good issue to save for them.

[2022-04-13 04:20] roo2 commented on #60563
good point @kimerlin81 about this maybe being expected?

I think it looks broken and we could/should show a graph for views on the "Home page / Archieves" category.

We should be able to make it work and load something sensible when the user lands on `stats/post/0/$siteSlug`.

In order to reproduce this as an a11n, we can look at the p2 sites which we're a member of. e.g. `https://wordpress.com/st

[2022-04-13 04:53] #62229 closed, assigned to Rolilink

[2022-04-13 04:53] #62538 closed, assigned to lupus2k

[2022-04-13 05:54] pauljacobson opened #62722 "Rebalance theme: Theme not setting first image in a post as the featured image"
### Quick summary

Our user reported that their site is not setting the first image in a post as the featured image, despite enabling this feature in the Customizer, in _Content Options_. The user reported that this has been working for several years, and this behavior has now changed.

This issue seems to be related to this issue for the Apostrophe 2 theme: [Apostrophe 2: Theme not selecting firs

[2022-04-13 05:54] pauljacobson opened #63528 "Rebalance theme: Theme not setting first image in a post as the featured image"

[2022-04-13 06:49] emmnyc85 commented on #62309
Thank you both. A few thoughts to add:

(1) can we make this only eligible to Biz, eComm and Pro Plan customers to avoid a confusing product experience?

(2) I think the existing design is fine to use

(3)  - we have some feedback from Mary so let's wait to see if there's anything further from Mary here before shipping anything: https://dotcommarketplacep2.wordpress.com/2022/03/15/marketplace-owne

[2022-04-13 06:50] emmnyc85 commented on #62308
@allilevine can we make this only visible to ecomm, biz and pro customers? I feel we may overcomplicate things for Free, premium or personal customers given they can't currently purchase premium plugins

[2022-04-13 07:00] epeicher opened #62723 "Call plugin activation from blog context"
The plugin activation command is called from the context of clitools, not from the intended blog’s context.

In order for this to work, the context will need to switch to the target blog using before running and then restore it afterwards.

More info here: pdh6GB-zu-p2#comment-1195

[2022-04-13 08:17] fushar opened #62724 "Support injecting patterns into themes with query blocks in the homepage"
### Steps to reproduce

1. Open the internal vertical recipe tool.
2. Create a recipe with Geologist theme.
3. Add some patterns.

### Expected

The preview shows the patterns instead of the posts in the default Geologist's homepage

### Actual

In the preview, we still see the posts in the default Geologist's homepage:

<img width="1118" alt="image" src="https://user-images.githubusercontent.com/

[2022-04-13 08:17] escapemanuele opened #62725 "Stepper: Save intent"
p1649819627221149-slack-C02T4NVL4JJ

In `setup`, after the user completes the flow the intent is saved ([using `setIntentOnSite`](https://github.com/Automattic/wp-calypso/blob/trunk/client/lib/signup/step-actions/index.js#L487-L503)). As it is using `delayApiRequestUntilComplete`, the call is delayed until the flow is completed.

We need to add this to the stepper.

[2022-04-13 08:38] Robertght commented on #62555
I cannot replicate this issue anymore and with Twenty Twenty-Two it seems there are other issues going on:

![image](https://user-images.githubusercontent.com/6737345/163135777-9f1e7a71-61c1-408c-b77e-b1e94816a820.png)

I'm closing this for now, but please reopen if other reports emerge.

[2022-04-13 08:38] #62555 closed, assigned to nobody

[2022-04-13 08:45] #62597 closed, assigned to arcangelini, escapemanuele

[2022-04-13 08:48] cpapazoglou opened #62727 "Marketplace: find a metric that defines successful searches"
As part of [PT: Use a search engine to power plugin results in Calypso.](pdh6GB-Ax-p2), we will need to:

- [x] make sure we have added all relevant track events in Calypso interface
- [x] create funnels
- [ ] create an A / B experiment

[2022-04-13 08:49] KokkieH commented on #62555
@Robertght I can still replicate. See https://coresandbox.mystagingwebsite.com/2022/04/06/youtube-embed/

I can also still replicate on my Atomic site at https://atomic.kokkieh.blog/2022/04/06/youtube-embed/

Did you make sure to test the self-hosted version of the theme?

[2022-04-13 08:52] KokkieH commented on #62555
BTW, I'd managed to figure out a workaround - adding the video embed inside a group block mitigates the issue, but that shouldn't be necessary, as we've clearly figured out a way to prevent this on WordPress.com Simple sites.

[2022-04-13 09:05] cpapazoglou opened #62728 "Marketplace: use elastic search for .org plugins"

[2022-04-13 09:08] dragstor commented on #52241
Requested in 34658053-HC

[2022-04-13 09:11] gcsecsey opened #62729 "Marketplace: Update WP.org plugin search to use ES endpoint from Calypso"
As part of pdh6GB-Ax-p2 we can use `https://public-api.wordpress.com/rest/v1/sites/108986944/search` by adding any required post parameters to get the .org plugins.

Fields needed:

- [x] `active_installs`
- [x] `author`
- [ ] `author_profile`
- [ ] `banners` or `image`
- [ ] `contributors`
- [ ] `icon`
- [ ] `last_updated`
- [ ] `name`
- [ ] `rating`
- [ ] `description`
- [ ] `short_description`

[2022-04-13 09:13] gcsecsey commented on #62729
Jetpack instant search lib has a nice api and state layer, maybe we could reuse this to build queries: https://github.com/Automattic/jetpack/blob/master/projects/packages/search/src/instant-search/components/search-app.jsx#L219

[2022-04-13 10:04] cecilearkay commented on #61742
I've never seen any reports about this, you're right. I guess we can leave this open for now to focus on things that are more important, and get back to it if we start seeing abuse.

[2022-04-13 11:29] ariel-maidana commented on #50740
Another report in 4936393-zd-woothemes (simple site).
Clearing the page cache from the μ menu solved the issue.

[2022-04-13 13:03] #61440 closed, assigned to ramynasr

[2022-04-13 13:55] markbiek commented on #55383
@sixhours When you start tackling this one, could I shadow you? I'm curious about the process for rolling out theme changes (unless it's as simple as just merging PRs to https://github.com/Automattic/themes).

[2022-04-13 14:21] #54902 closed, assigned to valterlorran

[2022-04-13 14:33] vajrasar commented on #62078
Hey @CodeAllNightNDay 👋 Thanks for the bug report. And, thanks @rinazrina for the additional issue on the same block.

While I was not able to replicate the issue shared by @CodeAllNightNDay, and what's specifically shared by @rinazrina - I was able to find another issue related to Pullquotes Block.

When you select Style and Color attributes for the Border of the block, but do not put any value (

[2022-04-13 14:59] hideandgeek404 opened #62739 "Marketplace: Plugin activation scripts do not run when plugins are installed via Calypso"
### Quick summary

We have found two instances where activation code (one using `register_activation_hook()` and another using `admin_init`) does not run when plugins are installed on WordPress.com but do work fine on self-hosted sites. I suspect that it has something to do with Calypso generating redirects and losing information prior to any code running.

However, once the plugin is installed, i

[2022-04-13 15:04] JoshuaGoode commented on #62739
Re: p9F6qB-95E-p2#comment-46663

Perhaps @Automattic/bespin can check and see if it's related to how the new marketplace UX is activating plugins?

[2022-04-13 15:36] rickmgithub opened #62740 "Left and right padding not working on mobile"
### Quick summary

Mobile preview in editor does not match actual page. There is padding missing on both sides of the page.

### Steps to reproduce

Add a group block with content.
Set it to match the theme dimensions
View it in the mobile preview and some padding appears on the left and right of the screen
View it on a public page and the text is full width and has no sides.
The only work around

[2022-04-13 15:40] sixhours commented on #62669
This was done in #62678

[2022-04-13 15:40] #62669 closed, assigned to sixhours

[2022-04-13 16:14] jmdodd commented on #62739
"do work fine on self-hosted sites" -- This seems to be reproduceable on a self-hosted, Jetpack-connected site.

Steps:
- Visit https://wordpress.com/plugins/simple-ajax-chat/[JETPACK SITE DOMAIN HERE]
- Click "Install and Activate"
- See: (After several step screens) "All ready to go! Simple Ajax Chat has been installed."

In WP CLI for the site:
[code]

[2022-04-13 16:27] thekingsprojects commented on #56468
Similar case here: 31420254-hc

User was not able to see their legacy widgets in Customizer without clicking, but can see them and edit them in widgets.php.

[2022-04-13 17:35] sixhours commented on #62435
This randomly started working as expected for me yesterday. Instead of creating a new site, it dropped me into the editor with my new episode. We may be able to close this as a fluke. 🤷‍♀️

[2022-04-13 17:38] blackjackkent commented on #61465
(Update - Ganon has put the dropdown behind a feature flag - see p1649817121328769-slack-CDPL9US68 for info.)

[2022-04-13 18:19] vajrasar commented on #62318
Hey @sbathompson-he thanks for the report.

I checked and I was able to replicate the issue on both the Simple and Atomic sites, and the issue does not seem to be dependent on the themes.

The issue seems to be showing up when you put an odd Column value on the block, and not when the value is even. I checked with the 3 vs. 2 column layout, and the 3-column layout showed the issue.

![Screen Shot

[2022-04-13 18:22] #62715 closed, assigned to markbiek

[2022-04-13 18:26] CodeAllNightNDay opened #62744 "FSE: Navigation Block Overlay Width Options"
### What

Add an option to control the width of the Navigation Block so that the overlay background can be limited from stretching full width on desktop devices when the display option is toggled to "always."
<img width="312" alt="Screen Shot 2022-04-13 at 2 14 30 PM" src="https://user-images.githubusercontent.com/34966264/163244409-9ba3b8d1-fcf9-436b-a2a2-5a772b6771c6.png">

### Why

5113036-hc I

[2022-04-13 18:36] vinimotaa commented on #62308
Hi folks, after a few rounds of feedback/iterations, here are two options we could consider for the illustrations.

Option A
<img width="1230" alt="image" src="https://user-images.githubusercontent.com/97929097/163247267-bf2f87d2-c6c5-4a20-8083-9ea8a4d2c65e.png">

Option B
<img width="1230" alt="image" src="https://user-images.githubusercontent.com/97929097/163247313-d39eca2c-828d-4cb4-913a-c3d4ba

[2022-04-13 18:44] allilevine commented on #62264
@lsl @Rolilink Do we have a PR to add the strings, or are we still waiting for input?

[2022-04-13 18:46] jp-imagines commented on #50051
Reporting another from 4944854-zd-woothemes

[2022-04-13 18:48] vajrasar commented on #62337
Hey @wiesenhauss thanks for the report.

I checked and I was able to replicate the issue on my AT WooCommerce site. The issue seems not to be dependant on the theme.

When the issue pops up (when select Visibility Rule from Widget block settings) the following error shows up on the console:

[code]

[2022-04-13 18:50] JessBoctor commented on #62646
I have another report in 21950551-HC

[2022-04-13 18:50] wpshellbelle commented on #62646
Another report at 33855231-hc

[2022-04-13 19:20] bobmatyas opened #62747 "[Bug]: Adding Background to "Site Title" Block Expands Width"
### Quick summary

When I have a "Site Title" block in a header template, adding a background color to the header expands the width

### Steps to reproduce

1. Add "Site Title" block to header
2. Add "Background Color"
3. See width expand

### What you expected to happen

Width should remain constant when adding background color.

### What actually happened

Width expanded when adding background c

[2022-04-13 19:52] #60360 closed, assigned to nobody

[2022-04-13 19:53] allilevine commented on #62308
@emmnyc85 Would we show the old CTA to free/premium/personal? I was thinking it would be an upsell, like other gated feature CTAs we show.

@vinimotaa I like both, but I'm leaning towards option A because it looks more like an app store to me.

[2022-04-13 20:20] sirbrillig commented on #47159
I've tried various ways and I'm not able to reproduce this. It may have been a bug that was resolved, or it may have been related to something else on the page that is not happening in my test cases. I'm going to close this but if it comes up again we can re-open.

[2022-04-13 20:20] #47159 closed

[2022-04-13 20:30] sirbrillig commented on #55019
The reason for this is that the plan variant picker uses prices from the products endpoint, which is fetched by a query component and managed by redux; most of the rest of checkout uses data from the shopping-cart endpoint, which is fetched by the `@automattic/shopping-cart` package and refetches if the page is refocused.

If you see the cart automatically update when your currency changes (a rela

[2022-04-13 20:35] paulopmt1 commented on #62641
Hey @emmnyc85, I'll appreciate your feedback on the screenshots of my [changes here](D78736-code).

[2022-04-13 22:38] #62329 closed, assigned to BogdanUngureanu, lukaszwilczakwilnet

[2022-04-13 22:52] arinoch opened #62752 "Nav Unification: Allow to set an application password in Calypso"
### What

On atomic sites in wP Admin, you can set an application password for the local WP user. I'd like to see that brought into Calypso.

### Why

We want more users to take advantage of the features available in Pro. That's going to mean we have situations like in 8473519-hc where the user needs to add an application password. If we'd also prefer they use Calypso, we need to bring this capabi

[2022-04-14 00:07] lsl commented on #62264
The [PR here](https://github.com/Automattic/wp-calypso/pull/62685/files#diff-2a3f538d6d0056cd45d1482c83c382cb3d4df097d897ff93cefaf96648b784d8R22-R134) has the categories in but would be good to get the descriptions done at the same time before tagging with string freeze label.

[2022-04-14 00:44] arunsathiya commented on #52241
Requested in 34887095-hc.

[2022-04-14 01:17] cometgrrl commented on #62646
Jetpack team says they will have a fix for this soon. p1649892098202479-slack-CBG1CP4EN

[2022-04-14 01:26] arinoch opened #62753 "Make the sharing buttons (tools, Marketing, sharing Buttons) FSE compatible."
### What

Allow for users to relocate the sharing buttons if they're using an FSE theme.

### Why

I see requests in ticket/chats for the ability to move the sharing buttons, and we usually need to do that with CSS. Making them FSE compatible will give users more flexibility re: options for relocating them, plus require less HE assistance.

### How

On FSE sites, perhaps replace the section in mar

[2022-04-14 02:03] jamiepalatnik commented on #56180
Another request: 4934186-zd-woothemes

[2022-04-14 04:12] autumnfjeld commented on #62724
@fushar  I'm wondering if this work is needed at this time:

* Initially, for MVP we are only going to use the three new themes that are currently under development
* [Geologist has a query block built into it](https://github.com/Automattic/themes/blob/trunk/geologist-blue/block-templates/index.html), other themes might have blocks "built in" to the theme , perhaps these sorts of themes are not ap

[2022-04-14 05:12] thisissandip commented on #62646
4932959-zen

[2022-04-14 05:30] KokkieH commented on #62212
This appears to be fixed now.

The block no longer appears floating over the content in the editor, and when selected, I'm able to access the Settings sidebar without any issues. So I'm guessing the change to give the block a fixed position in the editor rather than floating also resolved this problem.

[2022-04-14 05:30] #62212 closed, assigned to nobody

[2022-04-14 06:10] taipeicoder opened #62754 "Site Vertical Screen: Track user input vs. the selected vertical"
## Description

At the moment, the site vertical screen tracks and stores the vertical data the user has selected from the suggestion dropdown. It would be great if we can track and compare if users are finding what they originally intended to find. We should add another event that tracks what the user has typed in compared to the vertical they ended up choosing.

For instance:
* User has typed in

[2022-04-14 06:45] emmnyc85 commented on #62641
@paulopmt1 - Thanks for sharing. As mentioned over Slack, I'm having trouble accessing Phabricator.

[2022-04-14 06:48] pauljacobson commented on #53626
I received a report of this issue too, in 4947106-zen

In this case, I was able to resolve the issue by enabling the _Discourage search engines from indexing this site_ option, saving the settings, and then deselecting that option (and saving the site settings).

![Capture_2022-04-14 at 09 41 32](https://user-images.githubusercontent.com/2912202/163329325-a9147607-1c00-4f20-a519-2ee762e0e820.jpeg)

[2022-04-14 06:58] Robertght opened #62755 "Atomic: "Edit Site" button doesn't update after theme switch to/from FSE"
### Quick summary

When someone installs a theme that requires a site builder(e.g. Elementor) like Hello Elementor, the "Edit site" button will link to this:

https://SITENAME/wp-admin/themes.php?page=gutenberg-edit-site

This will render this message:

`"Sorry, you do not have permission to access this page."
`

### Steps to reproduce

1. Go to https://wordpress.com/home/sitename
2. Click on "Edi

[2022-04-14 07:05] Robertght commented on #62755
4944953-zen

[2022-04-14 07:16] escapemanuele opened #62756 "Help Center: Align mobile icons notifications"
We should align the notification styles.
The cart icon has numbers in it, and the other two don’t (help center, and notification).

Related to pbAok1-2FX-p2#comment-5026

[2022-04-14 07:20] zdenys opened #62757 "Footer Credit: `Hide (Business Plan Required)` entry should be updated"
### Quick summary

At My Site → Appearance → Customize → Site Identity → Footer Credit, the current entry `Hide (Business Plan Required)` should be updated to something neutral like `Hide (Plan Upgrade Required)` (especially if we later introduce a Flexible Plan in addition to the current Pro Plan).

### Steps to reproduce

1. Navigate to My Site → Appearance → Customize → Site Identity → Footer C

[2022-04-14 07:34] edwinho89 commented on #62740
Sharing screenshot where padding set on group block is zero, however the mobile preview shows there are visible gap on the editor.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/34882260/163336521-68459438-8540-4afe-9af4-df766f770e82.png">

[2022-04-14 07:38] arthur791004 commented on #62653
Close as they shipped 🎉

[2022-04-14 07:38] #62653 closed, assigned to nobody

[2022-04-14 07:39] rw-ye commented on #57881
User asked about it here when they tried embedding a YouTube short: 4944840-zd-woothemes

[2022-04-14 08:02] arthur791004 opened #62760 "Provide input for credit of the vertical image"
## Description

As p1649829802361869-slack-CRWCHQGUB mentioned, we might need to show the source URL and photographer for the vertical images. So, the following changes propose to add these two fields when you edit the images in the Vertical Image Tools. Still in the discussion.

## Changes

* Get vertical Images API - support credit-related fields
  * D78682-code
* Vertical Image Tools
  * D78683

[2022-04-14 08:14] cpapazoglou opened #62761 "Marketplace: billing API documentation"
We will need to formalise the billing API that each 3pd will create so that WP.com uses to:

- [ ] provision a license
- [ ] cancel a license
- [ ] renew a license
- [ ] refund a license

[2022-04-14 08:44] #62619 closed, assigned to dsas

[2022-04-14 08:54] tyxla commented on #62755
Originally introduced in https://github.com/Automattic/wp-calypso/pull/59329 cc @Automattic/cylon

[2022-04-14 09:03] jorpdesigns opened #62762 "Admin Bar is missing on the front end for atomic sites on the Pro plan."
### Quick summary

Atomic sites on the new WordPress.com Pro plan seem to be missing the Admin Bar on the front end.

The bar displays for atomic sites on the biz and eCom plans. I and a few other HEs are able to reproduce but some other HEs aren't, not sure why.

I checked in Safari, Firefox and Chrome without any luck.

### Steps to reproduce

1. Set up a test site, add the Pro plan and make the

[2022-04-14 09:45] #62687 closed, assigned to ivan-ottinger

[2022-04-14 09:45] ivan-ottinger commented on #62687
The patch is now merged and deployed.

[2022-04-14 09:50] WBerredo commented on #62727
[Search Plugins > Plugin Details CTA (install/purchase)](https://mc.a8c.com/tracks/funnel/view.php?33856/2022-03-15/to/2022-04-13) funnel

[2022-04-14 09:51] cpapazoglou opened #62764 "Marketplace: show woo usp only for plugins with woo dependency"
Plugins that don't require `woocommerce` should not show the woocommerce USP in the plugin details sidebar. The following is an example of yoast

<img width="1158" alt="CleanShot 2022-04-14 at 12 51 41@2x" src="https://user-images.githubusercontent.com/12430020/163360945-ec6acfab-e73a-45ee-bbd8-ac863221bc48.png">

[2022-04-14 10:16] jorpdesigns commented on #62646
Reported in 4945585-zen. Shared workaround from [this comment](https://github.com/Automattic/wp-calypso/issues/62646#issuecomment-1098623338).

[2022-04-14 10:32] rickmgithub opened #62767 "File block also breaking layout grid borders"
### Quick summary

A file block has been added within the layout grid but it breaks through the border of the column next to it.
<img width="1941" alt="Markup 2022-04-14 at 11 24 00" src="https://user-images.githubusercontent.com/13706336/163371960-e170dea7-ac13-4b37-97cb-0bacb7b41d1c.png">

Sounds almost identical to - https://github.com/Automattic/wp-calypso/issues/68738

However, this relates t

[2022-04-14 11:34] filipanoscampos commented on #62477
The user came to chat to ask for updates about this.
35021637-hc.

[2022-04-14 11:46] kimerlin81 commented on #62069
I was able to reproduce this behavior for the Vote and Applause widget blocks on a simple and atomic test site:
![Screen Capture on 2022-04-14 at 07-26-29](https://user-images.githubusercontent.com/83732167/163383153-1fdc45f3-8335-4a3f-900c-95d7bb4271cd.gif)

It seems these Crowdsignal features were designed to save/display results when a post is published.
![Screenshot on 2022-04-14 at 07-33-27](

[2022-04-14 11:56] emmnyc85 commented on #62308
Nice work, @vinimotaa.
- I worry that 'A' may be misleading. For example, we aren't really driving them towards FB and Google plugins. By showcasing those, their expectations won't be aligned correctly with our offerings. For that reason, I recommend 'B'
- @allilevine - I'm not sure what to do here regarding showcasing to al customers or just Pro/Biz/eComm. I trust your perspective here given how

[2022-04-14 11:57] alinclamba commented on #62707
Hey! Making a friendly reminder here if anybody can have a look at this. 🙌

[2022-04-14 12:11] kimerlin81 commented on #62094
I was unable to reproduce this on any of my test sites. Unable to figure out a pattern either. leaving open for others to review.

[2022-04-14 12:12] vajrasar commented on #62288
Hi @arunsathiya 👋 Thanks for the detailed report.

I checked and I can confirm the issue on .com where you do not get the option to edit the "Blog" page (set as the Posts Page) on the Page Editor, and also you do not have any way to edit the Blog page template via Site Editor.

While on non .com sites you get the option to edit the "Blog" page, the changes you make are not visible. Hence, it does

[2022-04-14 12:20] vajrasar commented on #62288
cc: @Automattic/cylon

[2022-04-14 12:31] dpasque opened #62770 "Playwight: Add E2E test runs to backend WPCOM deployments"
### Details

Background: p5TWut-D7-p2

It would be really useful to have at least some E2E coverage run with each associated backend deployment! We don't need a lot of tests, just some essential, canary-like tests that target areas most at risk with backend changes (e.g. log-in).

The simplest path forward is to just run the tests post-deployment and then ping the deployer in Slack.

### Checklist

[2022-04-14 12:33] vajrasar commented on #62094
Hi @syds87 Like @Greatdane and @kimerlin81 I was also not able to replicate the issue either on Simple or AT site. I tested with different themes on both sites.

Closing this since the issue cannot be replicated. However, if you can replicate this on a new site, please consider creating maybe a screen recording while sharing the report. Thanks. 🙇‍♂️

[2022-04-14 12:33] #62094 closed, assigned to nobody

[2022-04-14 13:09] simison opened #62773 "Feature Request: improved social media preview for unlaunched site"
### What

When a new site is created, isn't launched, and is coming soon, the social preview is blank:

[FB linter example](https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fcardiiiiiiiiiioe11.wordpress.com%2F):

<img width="791" alt="image" src="https://user-images.githubusercontent.com/87168/163396462-ccfa3d9e-8802-4d21-8110-8817e0cda28d.png">

When it's an existing site with social p

[2022-04-14 13:21] csabarakasz opened #62774 "AMP Lightbox effect doesn't work on images if alignment is applied in Non-FSE themes"
### Quick summary

The Lightbox effect won't work on images if alignment is applied to the image.

https://user-images.githubusercontent.com/84539773/163399352-a3bfcef7-06e3-47ac-8452-3322e7859a36.mp4

Could replicate the issue on my test site. Atomic.

### Steps to reproduce

1. Use AMP Standard settings.
2. Insert images with AMP Lightbox effect.
3. Adjust the alignment on the image to None
4. L

[2022-04-14 13:33] lupus2k commented on #62497
Research post here: pb5gDS-1In-p2

[2022-04-14 14:00] masperber commented on #52100
I want to flag that our [support document on the Cookies and Consent Widget](https://wordpress.com/support/widgets/cookie-widget/) says the following:

This seems to imply that there is a way to add the Cookies and Consent Widget in the Site Editor, but that doesn't seem to be possible currently.

[2022-04-14 14:03] allilevine commented on #62497
Closed by pb5gDS-1In-p2
Search follow-up to be addressed in https://github.com/Automattic/wp-calypso/issues/62494

[2022-04-14 14:03] #62497 closed, assigned to lupus2k

[2022-04-14 14:33] masperber commented on #62571
I found an instance of this issue here: 35159666-hc

I starred a link to the page where the issue is present.

[2022-04-14 14:35] arunsathiya commented on #60741
For columns block that needs a gap, this PR released in Gutenberg 13.0.0 makes it possible without CSS:

- https://github.com/WordPress/gutenberg/pull/40122

[2022-04-14 14:59] dpasque opened #62778 "Flaky E2E: Support search"
### Spec file

support__popover-invalid.ts / support_home.ts

### TeamCity ID

7741506 (but there are many)

### Logs

It appears that the response we are waiting for is often not received:

[code]

### Tasks

- [ ] Try to reproduce the issue today (September 2022).
- [ ] Identify which line is the culprit.
- [ ] Determine a path to fix the call.

[2022-04-14 15:08] sixhours opened #62779 "Seller Experience: Make sure theme categories are not shown for this flow"
Not strictly related to this PR, but it looks like maybe we lost the logic from [this PR](https://github.com/Automattic/wp-calypso/pull/61964) during the Stepper transition? Or am I misreading?

_Originally posted by @blackjackkent in https://github.com/Automattic/wp-calypso/pull/62735#discussion_r850517240_

The new stepper flow for seller XP should not show categories during design selection, bu

[2022-04-14 15:31] vajrasar commented on #50171
Hi @devNigel and @alaczek thanks for the reports.

I checked this on my simple site and I was not able to replicate the issue on either draft/preview or published post on the following themes (based on this and [#3263](https://github.com/Automattic/themes/issues/3263) report):

- Blank Canvas
- Seedlet
- Mayland
- Maywood
- Radcliffe 2
- and some others

I'm closing this issue since this cannot be

[2022-04-14 15:31] #50171 closed, assigned to nobody

[2022-04-14 15:38] Addison-Stavlo commented on #62755
Looking further it seems like its an issue with `is_fse_active` property from the block-editor-settings endpoint.  Same repro as my comment above but I tried this out specifically in the API console for `is_fse_active` from this endpoint.

`is_fse_active` is always returning `true` for an atomic site that was transferred with an FSE theme, even after they switch to a non-fse theme. (and always `fa

[2022-04-14 15:59] CraigG58 commented on #44427
At the risk of repeating myself, please bear with me... I’m obviously not familiar with the internal workings of WordPress code, but I still can’t imagine why media file attachment status couldn’t be fixed programmatically after this bug is corrected, regardless of how it was uploaded (inside or outside the editor).

That's true in part, but for a given WordPress account I would assume there is a

[2022-04-14 16:00] allilevine commented on #62308
@vinimotaa B it is! 🙂

@emmnyc85 If we don't see a value in directing customers to Marketplace Tools, let's change it for all customers. But let me know if I'm missing something there.

[2022-04-14 16:01] emmnyc85 commented on #62308
@allilevine  Some customers are getting value but i worry that non Pro customers will be disappointed when they get to the marketplace given they can't purchase anything

[2022-04-14 16:05] ariel-maidana commented on #53626
Another report: 35161105-hc

Setting it to private and then public again worked.

[2022-04-14 16:09] emmnyc85 commented on #62308
Thinking about this again, @allilevine. I think we can change for everyone. That existing CTA goes to /billing-tools and that gets <100 visits/month according to GA https://analytics.google.com/analytics/web/?authuser=0#/report/content-pages/a10673494w77576050p202759623/_u.date00=20220301&_u.date01=20220331&explorer-table.filter=business-tools&explorer-table.plotKeys=%5B%5D/

[2022-04-14 16:12] allilevine commented on #62308
Okay! cc @lupus2k since it looks like you started work on this, also @galakhyati in case you can weigh in on this user experience.

[2022-04-14 16:18] dpasque commented on #55478
It looks like a completely empty search of just whitespace characters has also started to take a decent amount of time as well.

[2022-04-14 16:20] bobmatyas opened #62782 "[Bug]: Core Styles Adding Unremovable Gap Between Header and Content"
### Quick summary

Default CSS adds gap between header and content that can't be removed.

Tested with Twenty Twenty Two theme.

### Steps to reproduce

1. Create a template
2. Add header
3. Add block such as a "Cover Block" that you want to line up against header with post content
4. Observe gap between blocks

### What you expected to happen

I shouldn't have a gap between elements or if there i

[2022-04-14 16:22] CodeAllNightNDay opened #62783 "Illustratr Theme: Duplicate Gallery Block at top of post"
### Quick summary

I had a user who now has a duplicate Gallery showing at the top of a post. The gallery appears to be a duplicate of another gallery lower down the page. There is nothing in the editor to indicate the gallery should show at the top but it shows on the [live page.](https://lucanellacucina.com/2022/01/10/palermo-the-path-of-food-knowledge-and-people/)
4947736-zen

### Steps to repr

[2022-04-14 17:25] edequalsawesome commented on #62755
Also reported in 34963107-hc

[2022-04-14 17:37] cometgrrl opened #62786 "Investigate options for running E2E tests for backend WPCOM changes before deployment"
Building on https://github.com/Automattic/wp-calypso/issues/62770, let's see how we can move these tests before deployment instead of after.

[2022-04-14 18:01] Robertght commented on #62460
Thank you for reporting this!

I wasn't able to replicate this issue anymore.

[2022-04-14 18:01] #62460 closed, assigned to nobody

[2022-04-14 18:13] cuemarie commented on #56382
Requested here: 35161607-hc
No workaround provided due to Pro Plan's scope of support

[2022-04-14 19:02] JoshuaGoode opened #62788 "Editing Toolkit / Atomic: Cannot select layout/template or close out of Add a Page when Gutenberg is inactive"
### Quick summary

WPCOM Pro/BIZ/ECOM sites on the hosted platform (Atomic) can experience issues with the starter layout/template selector.

Sites that have the WordPress.com Editing Toolkit (full-site-editing) plugin active but the Gutenberg plugin inactive cannot proceed by the Add a Page template selector

![Screen Shot on 2022-04-14 at 14:58:26](https://user-images.githubusercontent.com/48878

[2022-04-14 19:30] miksansegundo commented on #53339
The issue on the settings preview described on this issue seems fixed after merging https://github.com/Automattic/wp-calypso/pull/56221 because the extra backward slashes in `\\d\\e` are no longer added [here](https://github.com/Automattic/wp-calypso/commit/87f5ebaf38e259fe43fbe440cfee246b6a2111d5#diff-5f85f701ad67f9af8dc5415b0ad69b67fd5597310567dbc56e426d377369269fL258).

I tested the issue follo

[2022-04-14 19:36] thesacredpath commented on #62646
Another report here: 4945993-zen

[2022-04-14 19:46] kimerlin81 opened #62791 "Editor: Inserting a Carousel (Coblock) into a Layout Grid block causes flickering and breaks the borders of the grid"
### Quick summary

When a Carousel Block (Coblock) is added to a Layout Grid block, it breaks the column border and causes flickering in the editor as shown here:

[https://user-images.githubusercontent.com/83732167/163463052-6ea9e967-cdaa-49df-a0a2-404d164f8e22.mp4](<https://user-images.githubusercontent.com/83732167/163463052-6ea9e967-cdaa-49df-a0a2-404d164f8e22.mp4>)

### Steps to reproduce

1.

[2022-04-14 20:00] lupus2k commented on #62494
Waiting for review on [this](D78826-code) to close this issue

[2022-04-14 20:04] lupus2k commented on #62494
This issue only refers to the backend search, the calypso search is already updated in #62685

[2022-04-14 20:38] csabarakasz commented on #41606
Here is another case where this would have been useful. 4942459-zd-woothemes

The user has two kinds of Premium content subscriptions: £4/ month and £5/ month (We don't know why...). When a user buys the £5 / month, but a post’s content is set to £4/ month, it won’t show up for them, even though they paid more, but technically it is a different subscription plan.

It would be nice to be able to ad

[2022-04-14 20:50] paulopmt1 opened #62796 "Marketplace: Add categories strings to be translated"
## Acceptance criteria

- Make a js file with translations strings, following [this pattern](https://github.com/Automattic/wp-calypso/pull/60417/files).
- Add these categories strings for a preemptive translation:

Discover
Top free plugins
Top paid plugins
Editor’s pick
——————–
All Categories
Analytics
Business
Customer Service
Design
Ecommerce
Education
Email
Financial
Marketing
Search Optimizat

[2022-04-14 21:09] csabarakasz opened #62803 "Add warning about losing Chat Support when user changes language settings (to one not supported)"
### What

When a user uses the WordPress.com Interface on a language that is not English, they will be automatically directed to Email support, even though their plan would provide live chat.

This can confuse to users because they know that they should have live chat, but they can't access it.

There is no reminder or warning for this. We could add an option based on the user's plan to the accoun

[2022-04-14 21:15] jeyip commented on #62755
@Addison-Stavlo This looks like it might be related to a previous discussion p1646421387522829/1646421378.255859-slack-CHN6J22MP

In essence, `is_fse_active` and the block editor settings endpoint might return stale data for some period of time.

@mattwiebe we punted work the aforementioned API endpoint because we didn't have concrete use cases at the time. This might be a legitimate use case. Alt

[2022-04-14 21:55] allilevine commented on #62264
Task list from SOTB:

- [ ] Preemptive strings https://github.com/Automattic/wp-calypso/issues/62796
- [ ] Discover "cards" are not yet showing. @vinimotaa Are we still working on icons/copy for these?
- [ ] CSS on dropdown
- [ ] Remove selected category on search
- [ ] Confirm the categories & tags on each category
- [ ] 4 items before the ------- on the dropdown

[2022-04-14 21:56] allilevine commented on #62796
From SOTB, we need a PR like this one: https://github.com/Automattic/wp-calypso/pull/60417

[2022-04-14 21:57] allilevine commented on #62495
We're going with the current "Featured" section.
We can also use the premium/popular categories we already have backend code for.

[2022-04-14 22:02] allilevine commented on #62496
We decided in SOTB to show the spinner for all searches, with review by @vinimotaa

[2022-04-14 22:26] samiff commented on #62646
Jetpack version 10.9-a.5 has been deployed to WoA sites which should correct this issue.

[2022-04-15 00:01] autumnfjeld commented on #62754
@taipeicoder  We've already added `calypso_signup_site_vertical_submit` in #62611  , do we just want to add a prop to this event?
e.g. `user_input` or whatever makes sense.

Checking with @that-mike-bal here p1649980844435679/1649835630.656169-slack-CRWCHQGUB

[2022-04-15 00:30] shaunkuschel opened #62809 "[Bug]: WC plugins from WP.com Marketplace don't have download links/access"
### Quick summary

When a WooCommerce extension (like WooCommerce Bookings, AutomateWoo, etc) are purchased from the WordPress.com Marketplace, the plugins are installed at the time of the purchase. However, if that plugin is deleted from the site, there does not appear to be any way for the user to download the plugin file (so it can be re-installed).

### Steps to reproduce

1. Purchase a WooCom

[2022-04-15 00:32] Gustavo-Hilario commented on #62788
Another report here: 35151425-hc

[2022-04-15 05:07] thesacredpath commented on #62788
Report here as well: 4948629-zen

[2022-04-15 06:33] zdenys commented on #59526
@cometgrrl as an FYI, we now have a WordPress.com version of the guide about Styles: https://wordpress.com/support/using-styles/

So I think we should use that link instead of the WordPress.org one https://wordpress.org/support/article/styles-overview/.

[2022-04-15 06:41] arthur791004 opened #62811 "Implement VerticalImagesStore to retrieve vertical images"
#### Changes proposed in this Pull Request

See D78843-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62812

[2022-04-15 06:43] arthur791004 opened #62812 "☂️ Verticalize images in previews"
## Description

Continues on https://github.com/Automattic/wp-calypso/issues/61228. As we have finished the investigation of verticalized images in previews, patterns, and headstart, we could start to work on the entire flow under the feature flag and then iterate on the results to get the best images replacement.

Here is the POC - D76068-code

## Acceptance Criteria

- [x] We're able to get the

[2022-04-15 07:05] jeroenpf commented on #62239
I've been looking into the way the theme preview tool works. There is an endpoint that generates a theme preview. This endpoint has the ability to 'inject' block patterns into the markup. For verticalization, the idea is that there will be a library of block patterns that can be combined. Each vertical's theme preview is composed of its own combination of appropriate block patterns.

Under the hoo

[2022-04-15 07:33] zdenys opened #62813 "Plans: Impossible to switch from biyearly (biannual) plans to yearly ones"
### Quick summary

It's currently impossible to switch away from biyearly (biannual) plans to yearly ones, even by using a direct Checkout link (as in 859-gh-Automattic/payments-shilling). So users cannot switch to the Pro Plan themselves.

### Steps to reproduce

On a site with a biyearly plan, navigate to one of these URLs:

- https://wordpress.com/checkout/pro
- https://wordpress.com/checkout/b

[2022-04-15 07:33] zdenys commented on #62813
4949557-zd-woothemes

[2022-04-15 08:38] cintacks opened #62815 "WooCommerce Blocks JS (wc-settings.js) being called even when plugin is not installed"
### Quick summary

Came across a user's site where their sidebar wasn't loading for Woo pages. It seemed related to this issue:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/6260

There's a 404 for `/packages/woocommerce-blocks/build/wc-settings.js`, but woocommerce-blocks was not installed on the store. I'm not sure where that reference is coming from in the first plac

[2022-04-15 09:09] devNigel opened #62816 "Form Block: Not able to add Submit button once removed"
### Quick summary

The Form blocks come with submit button that you can customize. Once you remove the button from the editor, it is not possible to add it back.

But on the live page, you will notice that the button still shows up. Essentially, a user loses the ability to customize the submit button if they accidentally delete it. They will have to recreate the form from scratch.

### Steps to re

[2022-04-15 09:13] retnonindya opened #62817 "Skatepark: Archive template issue (Template Archive has "Inherit query from template" OFF by default)"
### Quick summary

On theme Skatepark, the template Archive has "Inherit query from template" set to OFF by default. This makes no matter what month or what year the page Archive is/page with template Archive is, it will always display the *latest posts*.

### Steps to reproduce

1. Have a test site ready.
2. Make sure the test site has enough number of posts. It's better if the posts are from dif

[2022-04-15 10:19] arthur791004 opened #62819 "Vertical Images Tool: Support to edit orientations"
#### Changes proposed in this Pull Request

* Support orientations when uploading the image
  * D78849-code
* Support editing the orientations in the Vertical Images Tool
  * D78848-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62194

[2022-04-15 10:21] that-mike-bal commented on #62683
Hey there, I just want to make a quick note on the vertical selection UI.

Based on upcoming flows being goal focused, we likely won't need to map specific recipes to specific verticals. Each recipe *can* work across a wide variety of verticals pending on what type of site it is or what the user is trying to achieve with that site.

For the MVP: Since @iamtakashi created different recipes for each

[2022-04-15 10:35] #62690 closed, assigned to arcangelini

[2022-04-15 10:40] Arnodt02 commented on #50740
Another report in 4936393-zd-woothemes (simple site).
Clearing the page cache from the μ menu solved the issue.

[2022-04-15 11:58] #62688 closed, assigned to escapemanuele

[2022-04-15 13:28] zdenys opened #62822 "Themes: Update notification is not actionable unless in WP Admin view"
### Quick summary

If there is a theme update, Theme menu item on the left sidebar will show a related notification like ⓵

<img width="272" alt="Screenshot 2022-04-15 at 16 14 10" src="https://user-images.githubusercontent.com/39308239/163574954-bbbb9480-468b-4fb5-acb6-77563189b4e0.png">

It's not clear how to clear that notification from Themes section unless you switch to the Classic (WP Admin)

[2022-04-15 13:46] lupus2k opened #62824 "Marketplace: Add tags filter to search in backend"
Add tag filter to marketplace search to filter using single or multiple tags to be used in categories

[2022-04-15 13:47] lupus2k commented on #62824
This will be used in #62264

[2022-04-15 13:49] lupus2k commented on #62824
Needs review here: D78826-code

[2022-04-15 15:29] tvolpert commented on #62788
Another report: 35171057-hc

[2022-04-15 16:40] that-mike-bal commented on #62063
@liviopv I have added the category to (https://dotcompatterns.wordpress.com/) for you. Please add the category to the patterns that fit.

[2022-04-15 16:46] manRebollo commented on #62213
I found a very similar issue on a customer's site using theme **Shawburn**: 32165136-hc

The only difference is the content structure. **List View** shows `Columns > Column > Blog Posts`.

I reproduced the issue on a test site using the same theme, while the issue is not present with Twenty Twenty-Two:

![desktop-preview](https://user-images.githubusercontent.com/92953443/163597514-eaa48532-6f37-4

[2022-04-15 17:15] tvolpert commented on #62788
And here: 34937970-hc

[2022-04-15 18:35] sajmes commented on #57812
35149867-hc

Workaround provided.

[2022-04-15 19:33] markbiek opened #62827 "[Bug]: Public API template call throws 500 error when the anchor_podcast id is invalid"
### Quick summary

The public api template endpoint doesn't return anything when the anchor_podcast id is invalid.

### Steps to reproduce

Go to the template endpoint and specify an `anchor_podcast` id that doesn't exist.

https://public-api.wordpress.com/rest/v1/template/demo/mayland/hannah/?language=en&site_title=Mumbai&font_headings=Space%20Mono&font_base=Roboto&anchor_podcast=74835

### What

[2022-04-15 20:27] sirbrillig opened #62828 "Add unit tests for useCachedDomainContactDetails"
After the subtlety of the bugs fixed by https://github.com/Automattic/wp-calypso/pull/62790 I think we should add unit tests for this hook.

[2022-04-15 20:43] lupus2k commented on #62264
All these are added to #62685
- `Discover` already shows categories, still needs CSS
- CSS on dropdown is done but please check
- Remove Selected category on search

[2022-04-15 21:51] roo2 commented on #61350
I'd say that pbxlJb-10E-p wrapped up the idea of replacing template parts on block based themes.
Arthur has since done some spikes around headstart supporting a recipe with block patterns and replacing images which I believe were successful but we will now need to take into production.

[2022-04-15 22:01] ash1eygrace opened #62975 "Subscriber role shows nav links to screens the role doesn't have access to"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Invite a WordPress.com User as a Subscriber on an Atomic or Jetpack connected site via My Site > Users invite.
2. Log in to the Subscriber's WordPress.com account > Click on My Site > Choose the site you're subscribed to.
3. Click on the links you shouldn't have access to as a subscriber and get various permission on-page errors, banners, or

[2022-04-16 00:17] Gustavo-Hilario opened #62833 "Coherent: Header Image is not working"
### Quick summary

When setting a `header image`, the header image isn't showing up either on the site's customizer and home page.

### Steps to reproduce

1. Activate the `Coherent` theme.
2. Go to WordPress.com > My Sites > Appearance > Customize > Header Image.
3. Upload an image or try to use one of the suggested images.

No header image will appear there.

### What you expected to happen

The

[2022-04-16 01:43] jamiepalatnik commented on #56869
A user was looking for this feature: 34556864-hc

[2022-04-16 07:59] galakhyati commented on #62308
From my experience, I've rarely seen users clicking through the Marketing CTA and using the Business tools listed on the page.

I think we should redirect the CTA to all WordPress.com users to our Marketplace plugins. This can act as any upgrade CTA in case the user is on the Free/Personal/Premium plan.

[2022-04-16 08:49] edwinho89 opened #62835 "Importing from Wix site fishcare.com.au shows 502 bad gateway"
### Quick summary

Under "Import Content > Wix", typing a Wix site displays "502 Bad Gateway" message, however import works when you click "Yes! Start import" there.

### Steps to reproduce

1. Visit "My Site > Import" and and select Wix
2. Enter a site address from Wix, click Continue.
3. See result

### What you expected to happen

Preview on the Wix site should work.

### What actually happened

[2022-04-16 12:13] cecilearkay commented on #62791
Also reported in 4948539-zd

[2022-04-16 14:55] zdenys commented on #49899
4952570-zd-woothemes

[2022-04-16 15:05] ariel-maidana opened #62836 "Twenty Sixteen: changing the fonts in the Customizer doesn't impact the live site (Atomic)"
### Quick summary

Changing both the **Headings** and the **Base Font** in the Customizer shows in the preview, but doesn't impact the live site when using the Twenty Sixteen theme. This only affects Atomic sites.

### Steps to reproduce

1. On an Atomic site, activate the Twenty Sixteen theme.
2. Go to Appearance ---> Customize ---> Fonts.
3. Change the **Headings** and **Base** fonts.
4. Save th

[2022-04-16 17:37] ariel-maidana commented on #62836
**Update:*** The issue was solved by deactivating AMP in 4952555-zd-woothemes and the test sites.

[2022-04-16 18:13] ClassicRKR27 opened #62837 "Inline image link blocks width setting"
### Quick summary

A user discovered that when using an inline image with a link in a paragraph block, the link preview blocks the width option. (This is if the image is higher up on the page - if it's low on the page, the preview gets placed above the image which negates the issue.)

### Steps to reproduce

1. Create a paragraph block
2. Add an inline image to the paragraph and then link it elsew

[2022-04-16 18:20] jamiepalatnik commented on #56468
Another report: 34350562-hc
Some legacy widgets (not all) are invisible in Customizer and Widgets preview unless clicked. Hovering will reveal a small outline of the widget (but not its full size). When clicked, it is possible to edit as usual.

Noting that this is happening on an AT site, not a simple site.

[2022-04-16 19:04] vajrasar commented on #62372
Thanks @sophiegyo for the details report.

I checked for the issue with the steps on my Simple and AT site on Libre 2, Varia, Blockbase, T19, and Radcliffe. While, I can see that in all the cases the 8-column images are seen in tiny thumbnail patterns (both desktop and mobile), I could not replicate the mobile-view (issue) that you mentioned.

I checked on my iPhone (Safari). Can you please check

[2022-04-16 19:12] vajrasar commented on #62420
Thanks @nerdysandy for the report.

I can confirm that this is indeed the case, and needs to be investigated for a consistent experience irrespective of the view.

Clicking on FAB icon while being on Default View opens a popup where you can then click on the "More Help" section to reach the dedicated help page inside WordPress.com.

<img width="389" alt="Screen Shot 2022-04-17 at 00 40 13" src="ht

[2022-04-16 19:48] vajrasar commented on #62431
Thanks @masperber for the report.

I can confirm the issue as I was able to replicate this both on my AT and Simple sites. Also, it does not seem to be theme-dependent.

Two things to note:

1. Even when the page reloads on submission without any action, the submission is recorded in the "Feedback" section on the WordPress.com dashboard, and also the email is sent to the intended address (about th

[2022-04-16 20:11] vajrasar commented on #62545
Thanks @happychait for the details bug report and the comments.

I checked and I was able to replicate all the parts of the issue ("Move To" not working either on wp-admin widgets section and also not on the Customizer section, whereas the "Move to icon" works in the customizer and wp-admin widgets section as expected).

However, on the simple site, the issue (as above) persists, and the only chan

[2022-04-16 20:53] tvolpert commented on #62788
one more: 35182158-hc

[2022-04-17 07:14] syhussaini commented on #62788
One more 4953566-zen

I was able to replicate the issue from my end.
The pop-up window that appears when creating a new page cannot be closed. I tried to select a different theme; that didn't work either.
![page bug](https://user-images.githubusercontent.com/8070771/163704615-3742974a-1d8f-44ae-adc3-95fd3b60a7ef.gif)

[2022-04-17 15:22] supernovia opened #62838 "NUX: /new displays legacy plans"
### Quick summary

Legacy plans are offered when starting from wordpress.com/new

### Steps to reproduce

1. Start at wordpress.com/new
2. Name a site
3. Pick a domain
4. Choose a theme*
5. Choose a legacy plan

### What you expected to happen

If we intended to leave this route to legacy offerings, cool. Still, I would at least expect "Free" to have the correct info.

*There's [another bug](https

[2022-04-17 15:28] supernovia opened #62839 "NUX: with /new, every theme looks like Zoologist"
### Quick summary

When going through the /new signup, the design page offers several themes to our users, but all of them look like Zoologist.

### Steps to reproduce

1. Start at wordpress.com/new
2. Choose a site name
3. Choose a domain
4. On the design step, look at the themes offered.

### What you expected to happen

I'd expect several theme options

### What actually happened

Every theme s

[2022-04-17 15:45] jorpdesigns commented on #51540
Reported here: 4954015-zd. Suggested workaround.

[2022-04-17 18:10] cuemarie opened #62840 "Ads: See stats distinguished by first-party ads (Automattic) and third-party ads"
### What

User wants the Ad statistics "to distinguish the first-party Ads (by Automattic) and Third-party Ads (products)"

### Why

They are concerned that Third-Party Advertisers are not fairly paying out for ad impressions on their site.

Request made here: 4954159-zd-woothemes

### How

_No response_

[2022-04-17 19:25] supernovia opened #62841 "Rebalance Theme: .author positioning breaks in post carousel block"
### Quick summary

When using Rebalance with Post Carousel, the author meta doesn't appear properly.

### Steps to reproduce

1. Use rebalance
2. Set up a post carousel block
3. Make sure to toggle the option to display author
4. View the carousel

### What you expected to happen

I would expect to see the author name in the carousel block by the other meta.

### What actually happened

The author

[2022-04-17 21:13] zaerl commented on #62240
Published article at pcmemI-vm-p2.

[2022-04-17 21:38] sophiegyo commented on #62757
Related: https://github.com/Automattic/wp-calypso/issues/62595

[2022-04-18 01:18] #61183 closed, assigned to worldomonation

[2022-04-18 01:18] #61189 closed, assigned to nobody

[2022-04-18 01:18] #61181 closed, assigned to nobody

[2022-04-18 02:26] supernovia opened #62842 "Dorna, Hari, etc: Comment form labels overlap on mobile"
### Quick summary

The labels in the Leave a Reply area overlap on mobile devices.
<img width="338" alt="Screen Shot 2022-04-17 at 8 14 58 PM" src="https://user-images.githubusercontent.com/3476361/163743947-7fef14ef-2106-4d12-8ef9-20e6a45c17d5.png">

### Steps to reproduce

1. Start with a site that has posts.
2. Enable Dorna.
3. Use a mobile phone to find a post, then scroll down and look at the

[2022-04-18 03:56] arthur791004 commented on #62760
Close as it shipped 🎉

[2022-04-18 03:56] #62760 closed, assigned to arthur791004

[2022-04-18 06:05] arthur791004 commented on #62811
Close as it's shipped 🎉

[2022-04-18 06:05] #62811 closed, assigned to arthur791004

[2022-04-18 08:50] vishnugopal opened #62844 "Fix Medium exports and NaN links in images"
See: pdtkmj-4U-p2#comment-153

Suggested fix: let's not import attachments that have NaN in the URL.

[2022-04-18 08:50] vishnugopal opened #62845 "Fix Medium imports not importing all images from Medium CDN"
See: pdtkmj-4U-p2#comment-154

[2022-04-18 09:28] arthur791004 opened #62846 "Vertical Images Tool: Add copyright-free reminder"
#### Changes proposed in this Pull Request

See D78913-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62194

[2022-04-18 09:39] arthur791004 commented on #62819
Close as it's shipped 🎉

[2022-04-18 09:39] #62819 closed, assigned to arthur791004

[2022-04-18 10:45] rachelwinspear opened #62847 "Boardwalk: Column margin issue"
### Quick summary

Theme Boardwalk shows additional margin-bottom after Column Block.

### Steps to reproduce

1. Activate Boardwalk theme
2. Go to a post or page
3. Add a Paragraph Block
4. Below add a Column Block and add content
5. Add a new Paragraph Block below

You will see the space above and below the Column Block is different, whereas it should be consistent throughout the site.

Screensh

[2022-04-18 10:56] markbiek commented on #62714
Got the worked I did and Andres did together into a single PR and the component & styles are in good shape.

Now I'm working on pulling in the data the component needs. I'm creating a data store for the product list and then creating another one for the eligibility stuff the component needs.

[2022-04-18 12:29] #61564 closed, assigned to JulianBustamante

[2022-04-18 12:29] #61563 closed, assigned to JulianBustamante

[2022-04-18 12:41] kettultim commented on #57812
4944479-zd-woothemes

Same user as earlier in the issue thread is pinging again about a fix: https://github.com/Automattic/wp-calypso/issues/57812#issuecomment-965134686

[2022-04-18 12:47] cpapazoglou commented on #60699
Asked Yoast for resolution here pcSRhZ-3B-p2

[2022-04-18 13:08] #62641 closed, assigned to paulopmt1

[2022-04-18 13:44] #62595 closed, assigned to bangank36

[2022-04-18 14:19] #62702 closed, assigned to escapemanuele

[2022-04-18 14:33] #62796 closed, assigned to paulopmt1

[2022-04-18 15:20] cpapazoglou commented on #61355
Diff created D78930-code

[2022-04-18 15:54] allilevine commented on #62824
@lupus2k Thanks for committing this change, can we close the issue?

[2022-04-18 15:56] desnum commented on #40574
Another case in 34570476-hc

[2022-04-18 16:00] epeicher commented on #62723
Diff created D78936-code

[2022-04-18 16:30] #62187 closed, assigned to nobody

[2022-04-18 16:53] bobmatyas opened #62858 "[Bug]: Kingsley - "Header and Footer Only" Template Turns Main Sub-Menu White"
### Quick summary

On Atomic sites using "Kingsley" theme, pages created using "Header and Footer Only" template don't render the navigation menu properly. The sub-menu renders with a white background which is unreadable.

### Steps to reproduce

1. Create a Pro/Atomic site
2. Select "Kingsley" theme
3. Create several pages with child pages
4. Add to menu

### What you expected to happen

Sub-page

[2022-04-18 16:54] gutenberg-plugin-upgrade-bot[bot] opened #62859 "Gutenberg: v13.1.x plugin upgrade"
Previous upgrade: #62433
Release notes: [v13.1.1](https://github.com/WordPress/gutenberg/releases/tag/v13.1.1)

**Install and activate**

- [x] Install and activate v13.1.0-rc.1 on edge (D79199-code)
- [x] Install and activate v13.1.0 on edge (D79747-code)
- [x] Activate v13.1.0 on production (D79201-code)
- [x] Request v13.1.0 AT upgrade (p9o2xV-25u-p2)

**Testing**

- [x] v13.1.0 Desktop viewpor

[2022-04-18 18:40] jeyip commented on #60932
I can reproduce this consistently. The problem is that the iframe attempts to navigate itself to a different origin than the page in which it is embedded .

Ex. The page origin is `https://wordpress.com/site-editor/testsite.wordpress.com`, but the embedded iframe wants to navigate to  `https://testsite.wordpress.com/wp-admin`. Working on a fix now.

[2022-04-18 19:19] markbiek commented on #62714
I've got a chain of 3 PRs for this issue:

1. #62862 (ready for review/merge, merges into the branch for the next PR)
1. #62861 (wip, merges into the branch for the next PR)
1. #62821 (wip, merges into trunk)

[2022-04-18 19:20] andres-blanco opened #62863 "Stepper: Store Actions for Transfer Site & InstallPlugins components on stepper"
We should implement 3 actions to be able to recreate the TransferSite  & InstallPlugins components:
 - `initiateAtomicTransfer`
 - `requestLatestAtomicTransfer`
 - `requestAtomicSoftwareStatus`

This is related to:
 - https://github.com/Automattic/wp-calypso/issues/62716
 - https://github.com/Automattic/wp-calypso/issues/62717

[2022-04-18 19:22] upwardmomentum84 opened #62864 "Skatepark: Duotone still applying to images even after clearing duotone setting"
### Quick summary

Using Skatepark theme. When you set the duotone filter on images to "clear", they do not reflect the change on the live site. The editor does show the images as expected (with the duotone filter removed).

### Steps to reproduce

1. Install and activate Skatepark.
2. Edit site with Site Editor.
3. Insert various blocks with images such as a Cover block, Post Featured Image block

[2022-04-18 20:03] masperber opened #62867 "Site Stats: More specific user location (state, region, province)"
### What

User would like more specific details about the location of their site visitors. For example, they would like to know the state, province, or region within a country where the visitor resides.

Request context: 35200541-hc

### Why

Adding more specific location details will allow users to gain more specific knowledge about their site visitors.

### How

_No response_

[2022-04-18 20:52] allilevine commented on #62495
After discussing with @paulopmt1 we're going with these sections (renamed):

- Top Premium Plugins
- Editor’s Pick
- Top Free plugins

[2022-04-18 23:46] #61198 closed, assigned to p-jackson, fushar

[2022-04-19 00:16] supernovia commented on #62269
Hey there, the payment button block has seen some updates since then. I can't seem to duplicate this issue. Can you confirm whether you're still running into this?

[2022-04-19 00:20] supernovia commented on #62269
It looks like this block had a UI update, and I can't duplicate this anymore.  I'll close this out, but let us know if you're seeing it still. Thanks!

[2022-04-19 00:20] #62269 closed, assigned to nobody

[2022-04-19 00:27] roo2 commented on #53626
@p-jackson it looks like we are seeing cases where the blog_id isn't matching on launch 🎉 2c352-pb

[2022-04-19 01:05] supernovia commented on #62358
Right now Voice Memos _does_ let me share to WordPress. It creates a new post, but does not upload the media, even on a plan that allows audio uploads.

[2022-04-19 02:57] arthur791004 commented on #62846
Close as it's shipped 🎉

[2022-04-19 02:57] #62846 closed, assigned to arthur791004

[2022-04-19 03:25] danielk-am opened #62872 "Display anchor link (or ID) for Group blocks in List View"
### What

I would like an anchor link (or ID) added to the Group block to be displayed in List View. This would be similar to how the Heading block works right now.

### Why

This might make it easier to identify each "section" of the page/layout in the List View. Also, might be better for page jumps to occur at the group level than adding it to the heading as users can set padding to the group bl

[2022-04-19 03:47] roo2 commented on #62115
I just want to get these performance testing scripts merged to mshots and then let's close this spike https://github.com/Automattic/mShots/pull/61

[2022-04-19 05:48] roo2 commented on #61350
We've investigated various aspects of this
pbxlJb-1l7-p2
pbxlJb-1nH-p2

I think we can close this spike ticket in favor of future work

[2022-04-19 05:48] #61350 closed, assigned to roo2

[2022-04-19 06:15] inaikem commented on #62356
Related internal discussion thread: p1650329093764139-slack-C0761SX4K

Moving this to the triaged queue for Quality Squad review / escalation.

[2022-04-19 06:24] inaikem commented on #62358
Pinged Interstellar asking for a confidence check on next steps: p1650349282203829-slack-C03B55A0PAR

Possible next steps: open an issue in `wordpress-mobile/WordPress-iOS` and move this issue to the [HE User Waiting](https://github.com/Automattic/wp-calypso/projects/112) board.

[2022-04-19 06:41] inaikem commented on #62358
I created a feature request in the `wordpress-mobile/WordPress-iOS` repo (above). Closing this issue and making a note in the [HE Cross-repo Watchlist](https://github.com/Automattic/wp-calypso/projects/116#card-80802245).

@JessBoctor would you like to update the user directly to let them know this is being handled in the app repo?

[2022-04-19 06:41] #62358 closed, assigned to nobody

[2022-04-19 06:51] aneeshd16 commented on #62277
We shipped this on 8th April (https://github.com/Automattic/wp-calypso/pull/62593#event-6395446518), closing this issue. Thanks for the feedback and please feel free to tag me in any future issues. 🙂

[2022-04-19 06:51] #62277 closed, assigned to nobody

[2022-04-19 07:18] thehenrybyrd commented on #32286
I'm still able to reproduce this, though the permalink I'm getting is `__trashed` with a number appended. This has also been brought up in both WP app repositories:
https://github.com/wordpress-mobile/WordPress-Android/issues/12359
https://github.com/wordpress-mobile/WordPress-iOS/issues/14423

[2022-04-19 07:20] inaikem commented on #62439
I tried to replicate with multiple Poll blocks on both a "normal" private Simple site and private P2 (pc4f5j-ip-p2).

@cuemarie, are you still able to replicate this on your end? If so, let's get this under the eyes of the Crowdsignal and P2 folks to get a better understanding of where the issue lies!

[2022-04-19 07:29] inaikem commented on #62461
@glendaviesnz 👋  This appears to be an edge case and I'm not 100% sure how we should proceed. Based on the work you did on the core Gallery block refactor, is there anything you can suggest as a next step?

[2022-04-19 07:40] inaikem commented on #62475
There are not currently any template/part revisions…but there is an open feature request for that!

- Relabelling this as a feature request.
- Closing in favour of: https://github.com/Automattic/wp-calypso/issues/57198
- Leaving a note there to echo the above sentiments.

[2022-04-19 07:40] #62475 closed, assigned to nobody

[2022-04-19 07:40] inaikem commented on #57198
+1 to this! For completeness, once the feature is implemented, it would be great to ensure template and template part revisions are reflected in the Activity Log and [public support docs](https://wordpress.com/support/activity) as per other page/post revisions!

Context: https://github.com/Automattic/wp-calypso/issues/62475

Cc: @ariel-maidana

[2022-04-19 07:57] inaikem commented on #62477
Pinged Quality Squad to see if we can track down the 404ing issue and progress this: p1650354933893929-slack-CQD1HH4MA.

Leaving the issue in the new queue while we wait for an update there.

[2022-04-19 08:17] inaikem commented on #62477
- Cleared user logged in sessions and revoked app permissions.
- Asked them to clear caches, completely remove and then reinstall the app and, if they encounter the same error, to try a totally different network connection. Ticket: 4906246-zd-woothemes

Await feedback.

[2022-04-19 08:44] bogiii opened #62875 "Progress screen: update wording on the progress screen"
More info: pcmemI-uh-p2

[2022-04-19 08:53] inaikem commented on #62485
I was able to replicate the issue on my AT site. Per [our support doc](https://wordpress.com/support/wordpress-editor/blocks/layout-grid-block/#:~:text=Using%20the%20block%20settings%20sidebar%20you%20can%20switch%20between%20desktop%2C%20tablet%2C%20and%20mobile%20breakpoints%20by%20clicking%20the%20appropriate%20buttons.), "Using the block settings sidebar you can switch between desktop, tablet,

[2022-04-19 08:56] inaikem commented on #62416
Great suggestion! Moving across for prioritisation.

[2022-04-19 08:57] KokkieH opened #62877 "Skatepark: Archive Page Isn't Filtering By Tag/Category"
### Quick summary

Appears to be identical to https://github.com/Automattic/themes/issues/5606 - on category and tag pages, posts aren't actually being filtered by tag/category. When editing the archive template in the site editor, the Query Loop block has the option, `Inherit query from template` switched off by default, but that needs to be enabled for category/tag pages to work correctly.

###

[2022-04-19 08:58] inaikem commented on #62417
Moving across for prioritisation.

[2022-04-19 08:58] inaikem commented on #62418
Moved across across for prioritisation.

[2022-04-19 08:59] inaikem commented on #62422
Moved across across for prioritisation.

[2022-04-19 09:00] alshakero opened #62878 "Remove "new masterbar" popover for new users"
See quote below:

See
<img width="300" src="https://user-images.githubusercontent.com/115071/163891291-2237fdfc-d609-4dc2-89fb-99b2b5706abd.PNG" />

Can we remove the master bar notice, since for that user everything is new so there is no need to tell them about the new mobile toolbar.

_Originally posted by @enejb in https://github.com/Automattic/wp-calypso/issues/62605#issuecomment-1101843205_

[2022-04-19 09:01] inaikem commented on #61594
Thank you, @daria2303. I'm marking this as closed for now.

[2022-04-19 09:01] #61594 closed, assigned to nobody

[2022-04-19 09:04] inaikem commented on #62631
@fullofcaffeine 👋 Just a quick nudge from me on this.

I'm marking as triaged for now so we can get this prioritised!

[2022-04-19 09:04] lsl commented on #62264
Meant to close https://github.com/Automattic/wp-calypso/pull/62685. Please see the note [here](https://github.com/Automattic/wp-calypso/pull/62685#issuecomment-1102332757).

Added a new PR (https://github.com/Automattic/wp-calypso/pull/62873) to handle just the category switcher addition. This should be good to merge after review. Tested against site, no site, jetpack site. I noticed a couple of q

[2022-04-19 09:52] lsl commented on #62264
Follow up PR https://github.com/Automattic/wp-calypso/pull/62881 to merge in all the tag search stuff on top of https://github.com/Automattic/wp-calypso/pull/62873. Looks like it needs an e2e test fix but its working really well - nice work @Rolilink / @lupus2k!

[2022-04-19 09:58] druesome opened #62882 "Dorna: Some elements on comments form overlapping on mobile devices"
### Quick summary

On a site using the Dorna theme, some elements on the comments form are overlapping on mobile devices, particularly the checkboxes for "Notify me of new comments via email." and "Notify me of new posts via email."

Logged in view:

<img src="https://d.pr/i/34tpFg+" width="300" />

Logged out view:

<img src="https://d.pr/i/eAxE8L+" width="300" />

Ticket: 4954454-zen

### Steps

[2022-04-19 09:58] csabarakasz commented on #52100
4958120-zd-woothemes Site with free plan and Remote FSE theme.

[2022-04-19 10:06] #62764 closed, assigned to WBerredo

[2022-04-19 10:11] nagpai commented on #62788
35207260-hc

[2022-04-19 10:11] kingsleyinfo opened #62883 "Ability to opt out of subscription pre-renewal notifications"
### What

The ability of a user to disable subscription renewal notifications.
When it's time for subscription renewals we send an email a few days/week before the due date.

A user is complaining that they are getting too many emails and would like these subscription notification emails turned off as they already have auto-renewal set up.

### Why

This would give the user the option to opt-out o

[2022-04-19 10:13] nagpai commented on #62788
![image](https://user-images.githubusercontent.com/4162931/163982091-474adb1f-254d-4f82-b647-32a6faab2c46.png)

[2022-04-19 10:19] Robertght commented on #62521
I tested this on a self-hosted site with Twenty Twenty-Two and I can confirm this happens there too.
Gutenberg version 13.0.

I believe this is the equivalent for this issue: https://github.com/WordPress/gutenberg/issues/36307

cc @Automattic/cylon,  @zachspears

[2022-04-19 10:33] Robertght commented on #62618
Thank you for reporting this!

The Tiled Gallery block is a Jetpack block: https://jetpack.com/support/jetpack-blocks/

I can replicate this on a self-hosted environment

https://user-images.githubusercontent.com/6737345/163985402-65d6d569-9091-464d-a656-449e6b3458c7.mp4

I wasn't able to find a report about this, but I'm wondering if this is worth moving it over to the Jetpack repo for now. cc @j

[2022-04-19 10:43] Robertght commented on #62623
@bogiii or @zaerl is this a good candidate for your team to handle going forward?

[2022-04-19 11:03] Robertght commented on #62639
@janmckell I'm not able to replicate this on a test site. Were you able to replicate this as well?

If yes, could you share the steps again?

[2022-04-19 11:17] #62723 closed, assigned to epeicher

[2022-04-19 12:40] galakhyati commented on #61209
https://user-images.githubusercontent.com/7382505/164006098-b8c2bac8-8038-497f-aa02-e032eaaf9e83.mp4

Here is my screencast video.

[2022-04-19 13:34] kerrynicl commented on #62649
Hi @kuropixel  There seems to a be JP identity Crisis in Darc for that user's domain that when fixed, resolves the plan slug issue on the site. Doesn't seems bug related so I'll be closing this for now

[2022-04-19 13:34] #62649 closed, assigned to nobody

[2022-04-19 13:38] janmckell commented on #62639
Thanks Robert.

Yes, I've been able to replicate. I go to 'Pages', 'Add a new page', then try to add a pre-designed page (See screenshot below). Once I have the pre-designed page loaded, anything that I try to click on, edit or if I do get it edited, and preview, the error shows up.

![Markup 2022-04-19 at 09 33 47](https://user-images.githubusercontent.com/84089207/164016237-efdf6475-4b39-4cc5-b4

[2022-04-19 14:06] kerrynicl commented on #62651
Was able to reproduce Reblog button not showing on front page
<img width="980" alt="Markup 2022-04-19 at 09 02 51" src="https://user-images.githubusercontent.com/83325600/164022591-9978824a-acf1-4519-b3f4-628e289ca0bf.png">
<img width="828" alt="Markup 2022-04-19 at 09 04 22" src="https://user-images.githubusercontent.com/83325600/164022600-26c2e260-f71b-43cc-8242-c268b18df023.png">

[2022-04-19 14:20] kerrynicl commented on #62662
Hi @rickmgithub Does this happen on the front end or just the editor for you?
When I tested it only appears blurred in the editor until its previewed then it appears crisp.

https://user-images.githubusercontent.com/83325600/164025302-2a05e774-6f72-4fa5-ab7a-89d8a46da838.mp4

[2022-04-19 14:39] kerrynicl commented on #62803
Hi @csabarakasz I did some testing and I do see a warning before chat starts :
![Annotation on 2022-04-19 at 09-37-22](https://user-images.githubusercontent.com/83325600/164029418-885cf469-fda4-42c8-9995-2b7bd33ee40e.png)

As well as I was able to access chat with a non english language :
<img width="1506" alt="Markup 2022-04-19 at 09 35 44 (1)" src="https://user-images.githubusercontent.com/83325

[2022-04-19 15:08] kerrynicl commented on #62752
Adding Screenshot users are able to add application Passwords in WP-admin
<img width="1019" alt="Screenshot on 2022-04-19 at 10-05-21" src="https://user-images.githubusercontent.com/83325600/164035421-73fb4adf-b7fb-4758-bfdf-b3d4d2de2a92.png">

[2022-04-19 15:30] csabarakasz commented on #62803
Hi @kerrynicl! Thanks for looking into it. The user's interface was in Italian and the Help bubble only showed email support. When I switched the user's interface to English, the bubble showed the chat possibility.

Ticket: 4948819-zd-woothemes
User ID: 178673276

I did further testing, and I could access the live chat on the Pro plan with IT as the interface language. I had to push Continue first

[2022-04-19 15:35] #61355 closed, assigned to cpapazoglou

[2022-04-19 16:11] #62817 closed, assigned to nobody

[2022-04-19 16:28] allilevine commented on #51326
Typing "ecommerce" and pressing enter in the Marketplace now surfaces WooCommerce:

<img width="1107" alt="Screen Shot 2022-04-19 at 12 27 17 PM" src="https://user-images.githubusercontent.com/1689238/164051124-9bc25525-4c44-42ed-86cd-a857c4828ae8.png">

[2022-04-19 16:28] #51326 closed, assigned to nobody

[2022-04-19 16:29] Robertght commented on #62839
Pinged here: p1650385699101919-slack-C7YPUHBB2

[2022-04-19 16:29] Robertght commented on #62838
Pinged here: p1650385699101919-slack-C7YPUHBB2

[2022-04-19 16:34] BogdanUngureanu opened #62888 "Payment blocks product management: "Add new subscription" should open the add payment modal"
### What

When the user is in Customizer and clicks the "Add new subscription" from the payment block product management (in editor), they are currently redirected to /earn/payment-plans.

Besides doing this, we should also open the add payment plan modal so that the user shouldn't need to click again on the button

### Why

It avoids requiring the user to click again on the button from the /earn

[2022-04-19 16:36] #45367 closed

[2022-04-19 17:46] allilevine commented on #17738
This was fixed at some point, possibly by the /plugins to Marketplace redesign. In any case I can't replicate it because we no longer suggest WP.org plugins that way.

[2022-04-19 17:46] #17738 closed

[2022-04-19 17:48] allilevine commented on #62281
Looks like I duplicated this issue, closing in favor of: https://github.com/Automattic/wp-calypso/issues/62644

[2022-04-19 17:48] #62281 closed, assigned to nobody

[2022-04-19 17:56] paulopmt1 commented on #62495
[Fixed here](https://github.com/Automattic/wp-calypso/pull/62873/files#diff-6750c272a1df0c496a26adc7ae59a20a6f9a7f1ca37f751b869ee40714e355f6R89) by @lsl, closing it.

[2022-04-19 17:56] #62495 closed, assigned to paulopmt1

[2022-04-19 17:58] #62863 closed, assigned to andres-blanco

[2022-04-19 18:10] allilevine commented on #62809
I was able to reproduce this. I think ideally deleting the plugin without removing the purchase wouldn't be possible. They should be "managed plugins" like Jetpack, that you can't delete and which show this notice in wp-admin:
<img width="286" alt="Screen Shot 2022-04-19 at 2 07 11 PM" src="https://user-images.githubusercontent.com/1689238/164068265-113e2c27-252f-4e60-95d5-eb0641848172.png">

@ian

[2022-04-19 18:16] allilevine opened #62891 "Marketplace: Add category cards"
We need to move the Marketplace categories from the dropdown into a visible toggle group.
P2: pdh6GB-Mu-p2
Figma: https://href.li/?f84fqtCG4pCnCh2Hq0But5-fi-1810%3A22660

Before:
<img width="1134" alt="Screen Shot 2022-05-09 at 2 17 18 PM" src="https://user-images.githubusercontent.com/1689238/167472091-3110af9b-eb09-42db-bcc0-61995117a9b1.png">

After:
![image-4](https://user-images.githubusercon

[2022-04-19 18:17] allilevine commented on #62264
I've opened https://github.com/Automattic/wp-calypso/issues/62891 to add the category cards.

[2022-04-19 18:44] vajrasar commented on #62837
Thanks @ClassicRKR27 for the report.

I can confirm the issue happening on the Simple and the AT sites, and this does not seem to be theme-dependent.

A TLDR of the issue: When you add an inline image to say a Paragraph block, clicking on it shows the Width option of the image. But in case you link that inline image to something you then cannot see the Width option because clicking on the inline i

[2022-04-19 19:03] jp-imagines commented on #58341
User had a similar request in 4958263-zd-woothemes
Specifically, they requested a feature where you could "pin" a post or page to the top of the WP Admin or Calypso list to make it easier to find _without_ needing to search.

Relatedly, I'm not sure if the WP Admin/Core search behavior has changed since @KokkieH opened this issue. When I search for posts/pages in WP Admin, the results are always o

[2022-04-19 19:04] vajrasar commented on #62816
Hey @devNigel thanks for the report.

I can confirm the issue on my Simple, AT, and self-hosted installation.

[2022-04-19 19:04] lupus2k commented on #62640
Needs review on D79053-code

[2022-04-19 19:14] cuemarie commented on #62762
**Replicated?** ✅
**Browser(s) Tested:** Firefox, Chrome

 **Screenshots from Test** WPcom admin bar appears on Simple Pro site:

<img width="1254" alt="Markup 2022-04-19 at 11 53 43" src="https://user-images.githubusercontent.com/27249804/164076150-5bb033e8-b3d1-4ff8-85a4-ec10ac785216.png">

After activating hosting features, I see the WPorg admin bar:

<img width="1252" alt="Screen Shot 2022-04-

[2022-04-19 19:14] #62762 closed, assigned to nobody

[2022-04-19 19:33] vajrasar commented on #62835
Hey @edwinho89 thanks for the report.

I created a new Wix site and tried to replicate the issue but could not. I'm able to see the preview.

<img width="779" alt="Screen Shot 2022-04-20 at 01 01 40" src="https://user-images.githubusercontent.com/2210243/164081536-885680c6-a795-4665-95eb-340962622c6d.png">

Can you please check if you can replicate the issue maybe on your own test site?

[2022-04-19 19:34] lupus2k commented on #62308
PR updated here #62789

[2022-04-19 19:36] cuemarie commented on #62740
**Replicated?** ❌
**Browsers Tested:** Firefox
**Themes Tested:** Zoologist

**Notes:**

I gave this a try following the steps outlined above, and was not able to replicate the issue. Steps tried:

1. Add group block containing content to empty page
2. Set group to `Inherit default layout`
3. Publish page and compare published result on mobile with Mobile Preview in editor

Tried this both with an

[2022-04-19 19:44] ClassicRKR27 opened #62894 "FSE theme is replacing images upon size change"
### Quick summary

I played into this ticket and it's a bit of a strange issue; one that I haven't been able to replicate on my own sites but we do have clear evidence of it happening here. Essentially, when trying to switch their site to an FSE theme, some of the single image blocks completely change the image when trying to resize them. Here is a video of the issue in action for for this post(p1

[2022-04-19 19:55] kathrynwp opened #62895 "Hari: Form fields extremely hard to see"
### Quick summary

The default form field borders are too light, and there is no background colour on the form fields themselves, making it extremely hard to see the fields

With default colour scheme:

![Contact_–_Global_Styles_Demo](https://user-images.githubusercontent.com/7662449/164084622-bc462b18-8d4d-43b1-b387-8449933c4a11.jpg)

With a different background colour chosen by user:
![Point_Gre

[2022-04-19 20:03] cuemarie commented on #62767
**Replicated?** ❌
**Browsers Tested:** Firefox
**Themes Tested:** Independent Publisher 2, Rockfield, Zoologist
**Environments Tested:** AT, Simple

**Notes:** Was not able to replicate this on my test sites.  I included trying to nest the Layout Grid inside of a Group block, and adjusting the widths of the columns to very narrow, but so far the File block has responded just like everything else.

[2022-04-19 20:23] cuemarie commented on #62774
**Replicated?** ✅
**Browsers Tested:** Firefox
**Themes Tested:** Independent Publisher 2 - issue replicated. // Zoologist - _could not replicate._
**Environments Tested:** AT

**Notes:**

First tested this with Zoologist theme activated, and the AMP lightbox effect worked no matter the alignment settings on my images.

After switching to **Independent Publisher 2**, the image with alignment set w

[2022-04-19 20:30] kathrynwp commented on #53027
Also requested in 34795374-hc

[2022-04-19 20:31] ariel-maidana commented on #62431
Another report here: 4958833-zd-woothemes

[2022-04-19 20:48] cuemarie commented on #55478
**Replicated?** 🟨 _Somewhat_ - I was able to trip up the Support Card search with lots of spaces, but not with `;;;ppp;;;`
**Browsers Tested:** Firefox, Chrome (on Mac OS)
**Environments Tested:** AT, Simple

**Notes:**

**;;;ppp;;;**
Searched for `;;;ppp;;;` in FireFox and Chrome on Simple and AT sites, and the longest I had to wait was 10 seconds to see `Sorry, there were no matches. Here are so

[2022-04-19 21:06] cuemarie commented on #55478
@worldomonation Since this original report is a bit old, I wonder if the original invalid-characters issue is solved now. Can you test again on your end to see if you're still running into the issue?

@dpasque thanks for moving this to the triaging board. I had some success replicating, but it wasn't very consistent. Are you seeing more consistent wait times when running 'a completely empty search

[2022-04-19 21:07] glendaviesnz commented on #62461
@inaikem do you know if there are any old versions of the post that include the images - I think somewhere it mentioned there were previous versions that could be restored, but when restored the same thing happened? If you were able to get me the raw content of an old post revision with the images included I would have a better chance of trying to work out what has gone wrong.

[2022-04-19 21:10] enejb commented on #62878
Thanks for fixing this.
I tested this fix and it worked as expected for me.

[2022-04-19 21:19] lsl commented on #62494
Should we wait for the outcome of pdh6GB-Ax-p2 before attempting this one?

[2022-04-19 21:28] #62878 closed, assigned to alshakero

[2022-04-19 21:31] allilevine commented on #62496
If we can't add this to all Calypso search inputs, let's use a prop to only show it on /plugins.

[2022-04-20 01:54] Greatdane commented on #50574
Another with the same error; 4957050-zd-woothemes

[2022-04-20 02:12] roo2 opened #62898 "Support unique block pattern source site for verticalization"
We want to have a unique patterns source site for the block patterns which will be used to create v13n recipes.

slack discussion around supporting only one pattern source site p1650359918242949/1650352427.538429-slack-CRWCHQGUB

### block-patterns API diff
D79074-code

### mc recipe tool diff
D79177-code

### Calypso diff
TBA

[2022-04-20 02:17] autumnfjeld commented on #62683
@that-mike-bal @Automattic/ganon

We don't want to assign a vertical to a recipe. Let's stick with our original plan, as described in the MVP pbxlJb-1tU-p2,  of showing three types of sites per vertical.

![image](https://user-images.githubusercontent.com/5665959/164133000-287de049-5fbd-4a91-9a5e-dfa1d5c522da.png)

We need to think of "growing verticals" as a continuous process, we should be addin

[2022-04-20 02:28] edwinho89 commented on #62835
Hi @vajrasar ! Oh interesting. I used affected user's website https://www.partisanmed.com/ and it has the same issue.

Looking over DARC, I'm quite certain it is a Wix site over there.

[2022-04-20 02:42] inaikem commented on #62872
Tested on P2, Simple, AT and Self-Hosted sites (thank you, @supernovia!)

As this is a request that affects all instances of WP and not just WPcom, we raised it as a request in the core Gutenberg repo here: https://github.com/WordPress/gutenberg/issues/40456

Closing this issue and creating a reference in the [HE Cross-repo Watchlist](https://github.com/Automattic/wp-calypso/projects/116).

[2022-04-20 02:42] #62872 closed, assigned to nobody

[2022-04-20 03:06] roo2 opened #62899 "Add a data-hello attribute to test the deployment process"
Add a `data-hello="world"` attribute to the h1 title of the my-home page https://wordpress.com/home/$site
<img width="1402" alt="Screen Shot 2022-04-20 at 1 03 54 pm" src="https://user-images.githubusercontent.com/22446385/164142976-dae727f0-d038-4f05-88e7-ffec9f0d4458.png">

[2022-04-20 05:30] Robertght commented on #62813
@Automattic/shilling is this ok to be moved to your repo?

[2022-04-20 05:41] Robertght commented on #62815
I'm not able to replicate this anymore.

@kettultim can you see if this is still an issue on your end?

[2022-04-20 05:44] Robertght commented on #62883
I've seen several cases in the past as well where users wanted to avoid these notifications.

[2022-04-20 05:54] Robertght commented on #62894
@ClassicRKR27 it looks like a glitch indeed, but I cannot replicate this on my end at the moment.

I noticed the src of that thumbnail gets changed to this for some reason: https://perjonssontest.files.wordpress.com/2021/02/db5ac-e5d_2012_08_12_1391.jpg?w=300

The site in question appears to be a Simple one.

I believe it may be a glitch with the current image ID.

Have we suggested to delete that

[2022-04-20 06:34] sophiegyo commented on #62788
Another incident in 16601533-hc for me.
I was able to replicate on my own AT site:
![image (1)](https://user-images.githubusercontent.com/36608681/164165175-e8e9f99f-8e22-4042-8572-e73aa02a5b27.png)

Both sites using Gutenberg 13.0.0, but two different (?) versions of the WordPress.com Editing Toolkit:

* User: WordPress.com Editing Toolkit 3.30687
* Me: WordPress.com Editing Toolkit 3.31093

[2022-04-20 06:38] 1dr0 commented on #62788
Another one was caught at 4953809-zen.

[2022-04-20 06:44] paulostp commented on #52100
4960117-zd

Personal plan with Quadrat White

[2022-04-20 08:00] yansern commented on #62657
Deployed.

[2022-04-20 08:00] #62657 closed, assigned to ivan-ottinger

[2022-04-20 08:23] i11za commented on #52100
Another report here: 35219220-hc

Site with eCommerce plan / Twenty Twenty Two theme. Recommended to use a plugin instead.

[2022-04-20 08:37] cpapazoglou commented on #62809
Totally agree that Marketplace plugins shouldn't be _deletable_. @jmdodd is there a way to make Marketplace managed plugins behave the same as "Jetpack"?

[2022-04-20 09:00] simison commented on #62838
There's no traffic going into this flow since March, apart from AnchorFM folks and those won't see the plans grid at all.

[2022-04-20 09:00] #62838 closed, assigned to nobody

[2022-04-20 09:04] simison commented on #62839
There are no customers going into /new flow other than Anchor FM folks, and for those the design picker works — tested just now:

<img width="1908" alt="image" src="https://user-images.githubusercontent.com/87168/164192234-50c4e0ec-f872-4dbc-889e-211746650bbf.png">

You can test using URL `https://wordpress.com/new?anchor_podcast=PODCAST_ID` (see test ID from p58i-a3Z-p2)

FYI @ianstewart in case

[2022-04-20 09:05] #62839 closed, assigned to nobody

[2022-04-20 09:10] filipanoscampos commented on #62703
The ticket that is related to this bug is this one: 4941812-zd-woothemes
It would be great if we could update this user on future developments.

[2022-04-20 09:20] arcangelini commented on #62700
This is being addressed here: https://github.com/Automattic/wp-calypso/issues/62779

[2022-04-20 09:20] #62700 closed, assigned to arcangelini

[2022-04-20 09:27] kdevnel opened #62903 "Media Library: Video file accepted on WP Admin but not through Calypso"
### Quick summary

A user reported a file that they couldn't upload through Calypso in the Media Library. I have a copy of the file and can confirm this is the case.

### Steps to reproduce

1. Visit Media Library in Calypso
2. Upload the media file
3. See the error
4. Attempt via Classic View/WP Admin and the file is accepted
EDIT: the cause seems to be special characters, specifically `'` in the

[2022-04-20 09:29] Robertght commented on #62903
It could be related to the recent Jetpack update. Similar case: p9o2xV-21I-p2#comment-5794

cc @coder-karen @sdixon194

[2022-04-20 09:43] arthur791004 opened #62904 "Verticalize patterns in block preview"
#### Changes proposed in this Pull Request

D78994-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62812

[2022-04-20 10:01] #62875 closed, assigned to bogiii

[2022-04-20 10:12] janmckell commented on #62903
Update about a workaround from 4952508-ZD:

"...tried using the 'media with text' option, and it allowed me to upload the video right there, so I am thinking the issue is isolated to the videopress option."

[2022-04-20 11:18] Robertght commented on #62903
I tried to replicate this and it looks like I was only able to replicate it with the user's video(attached in the ticket)

The closest previous thing I could find is this: https://github.com/Automattic/wp-calypso/issues/5435 but it doesn't appear to be relevant anymore.

I believe this needs more troubleshooting. Here are more details we could gather:

 - What device was this video made on?
 - Is

[2022-04-20 11:22] Robertght commented on #62639
As discussed in Slack, the issue happens on Jan's end only on Firefox(latest version, 99) but not in Chrome.

I tried to replicate this locally and on her site but no dice.

I'm closing this for now but please re-open if more cases emerge.

[2022-04-20 11:22] #62639 closed, assigned to nobody

[2022-04-20 11:39] Robertght commented on #62803
This is what I saw initially on non-English account:

![image](https://user-images.githubusercontent.com/6737345/164221801-2e8144ee-5611-4d22-8789-e96b6c32077a.png)

Then:

![image](https://user-images.githubusercontent.com/6737345/164221851-a79680d6-8155-4863-8e13-a9a031808a69.png)

And:

![image](https://user-images.githubusercontent.com/6737345/164221895-f3fecd47-f999-4c22-b899-1418966b46fa.png

[2022-04-20 11:51] Robertght commented on #62662
Adding to @kerrynicl's question,  was the Photon module or Lazy images turned off in the process?

[2022-04-20 11:55] Robertght commented on #61615
I'm moving this to the Prioritized board for now.

Another similar report: https://github.com/Automattic/wp-calypso/issues/62744

[2022-04-20 11:59] #59830 closed, assigned to nobody

[2022-04-20 12:18] Robertght commented on #60909
I cannot replicate this anymore. Please re-open if you see more cases.

[2022-04-20 12:18] #60909 closed, assigned to nobody

[2022-04-20 12:22] Robertght commented on #50499
I cannot replicate this anymore. Closing for now.

[2022-04-20 12:22] #50499 closed, assigned to nobody

[2022-04-20 12:48] Robertght commented on #57170
I've moved this to the Triaged column for now as we cannot start with a classic theme in my tests.

[2022-04-20 12:52] Robertght commented on #61139
I cannot replicate this. Closing.

[2022-04-20 12:52] #61139 closed, assigned to nobody

[2022-04-20 13:24] dpasque commented on #55478
I have a somewhat similar experience. It seems vaguely related to the amount of whitespace characters but also varies a lot in its execution time. I just got one that took about 20-30 seconds on the home page. I effectively did this just by holding down the space bar on the search field.

![whitespace_search](https://user-images.githubusercontent.com/26772342/164240362-a7209908-7f0b-4900-96b9-9ce6

[2022-04-20 13:36] inaikem commented on #62461
@Automattic/dotcom-triage-pa-group, I'm EOD at the moment, is someone around to help answer Glen's question?

[2022-04-20 13:46] filipanoscampos commented on #62461
@glendaviesnz

What was happening was that, when we attempted to restore to the previous version, the Galleries would still be broken.

We can write to the user and ask them if they can share a post with us we can experiment with.
Do you think that could work?

[2022-04-20 14:25] allilevine opened #62910 "Marketplace: Edit categories"
Add:
- `Booking & Scheduling`
- `Shipping & Delivery`
- `Donations`

Change:
- Combine `eCommerce & Business`
- Change Financial to `Finance & Payments`

[2022-04-20 14:57] worldomonation commented on #55478
Thanks for testing @dpasque!

I also gave it a whirl using Firefox Nightly 101.0a1 (2022-04-19) (64-bit) and observed largely what Dan did - that is, the message appears much quicker than it used to when the report was filed.

I typed a 207-character sequence of space characters, split into three roughly equal segments (hit spacebar for some time, wait a second to let the animation play and repeat

[2022-04-20 14:59] Gustavo-Hilario opened #62911 "FSE > Site Editor > Post Title block: add styling options like strikethrough that are currently available on other blocks"
### What

`Post Title` block should have more styling options, like strikethrough. More options are currently available on other blocks like `Headings` and `Paragraph`.

**Paragraph and Heading styling options**
![Markup on 2022-04-20 at 09:50:29](https://user-images.githubusercontent.com/50875131/164259046-ccbe7576-2e5c-437f-9c3b-81a3f1aa5089.png)

**Post Title styling options** -- only heading s

[2022-04-20 15:06] Rolilink opened #62912 "Marketplace: Categories page with no selected site feel slow / unresponsive."
When navigating to a [category page with no selected site](https://wordpress.com/plugins/popular ) on a user with many sites, the UI freezes / feels slow and CPU is at 100%. Let's research why this is happening and fix this. I found this one on an account with 40+ sites.

p1650466334044759-slack-CKZHG0QCR

## Acceptance Criteria
- [x] Visiting `/plugins` or `plugins/:plugin` should open the site s

[2022-04-20 15:10] markbiek opened #62913 "Seller Experience-Stepper: Products List data-store"
### What

Let's create a data-store for dealing with products list data.

### Why

The first pass will just be the basic product list but the store will provide a framework for porting over all the selectors from [client/state/products-list](https://github.com/Automattic/wp-calypso/tree/trunk/client/state/products-list)

This data will be used as part of #62714

### How

_No response_

[2022-04-20 15:12] cpapazoglou commented on #62761
After discussing about it, we want to suggest an alternative solution that doesn't rely on WP.com to make (and wait) for API calls pdh6GB-FR-p2

[2022-04-20 15:13] #62725 closed, assigned to arcangelini

[2022-04-20 15:14] markbiek opened #62914 "Seller Experience-Stepper: WooCommerce upgrade eligibility data store"
### What

Add a data store for the WooCommerce upgrade eligibility requirements data.

### Why

This will be used by the  WooCommerce confirm step in #62714

### How

_No response_

[2022-04-20 15:15] markbiek commented on #62914
Note that the PR above will need to be adjusted once #62909 is merged since there's a little overlap between the two.

[2022-04-20 15:30] allilevine commented on #62912
I'm seeing this on /plugins as well.

[2022-04-20 15:49] JoshuaGoode commented on #61974
Encountered this on a fully reverted site during some testing.

Couldn't find a quick workaround other than waiting but will dig in more later.

[2022-04-20 15:51] Addison-Stavlo opened #62915 "Edit Site front-end admin link broken in some cases."
It was reported that our "Edit Site" admin button / link on the front-end of sites does not always lead to where expected.  (p1650392267606899-slack-C01DF571R5Y)

![image](https://user-images.githubusercontent.com/28742426/164270830-5536d5ae-4d93-425c-a99f-e4ef3b748ee5.png)

Instead of leading to the expected `wordpress.com/site-editor/{siteUrl}`, it has reported in some circumstances to lead to a

[2022-04-20 15:57] lupus2k opened #62916 "Add marketing/tools description string for preemptive translation"
Added a preemptive translation for the `/marketing/tools` description to use when `Yoast` is released

Old string: `We've added premium plugins to boost your site's capabilities. From bookings and subscriptions to email marketing and shipment tracking, we have you covered.`

New string: `We've added premium plugins to boost your site's capabilities. From bookings and subscriptions to email marketi

[2022-04-20 16:09] that-mike-bal commented on #62683
We can do this with the recipes/layouts @iamtakashi put together for us as soon as the recipe tool is ready to go.

[2022-04-20 16:26] markbiek opened #62918 "Seller Experience-Stepper: Site feature updates to site data-store"
### What

We need to add the ability to check available site features to the site data-store.

### Why

This will allow us to make a selector to see if the site requires an upgrade which we need in the WooCommerce Confirm step #62714

[2022-04-20 16:31] Addison-Stavlo commented on #62755
I just retested the sites I noted above and can confirm this is the case. After the time has passed, they are now returning the correct data.

[2022-04-20 16:43] andres-blanco opened #62922 "Stepper: Add AtomicSoftwareStatus selector to data-store"
Implement the AtomicSoftwareStatus selector in order to check if Woo transfer is ready.

It will be used here: https://github.com/Automattic/wp-calypso/issues/62716

[2022-04-20 16:46] Addison-Stavlo commented on #57441
Closing as this toggle DNE anymore

[2022-04-20 16:46] #57441 closed, assigned to nobody

[2022-04-20 16:50] Rolilink commented on #62264
Merged the new categories so closing this one 🎉

[2022-04-20 16:50] #62264 closed, assigned to lsl, Rolilink

[2022-04-20 16:55] #57028 closed, assigned to nobody

[2022-04-20 16:55] #58049 closed, assigned to nobody

[2022-04-20 16:58] Addison-Stavlo commented on #61007
There is now information about block based themes in this section.

Im going to remove this issue from our board since there doesn't seem like much for us to action here.

Can we close this at this point @simison ?

[2022-04-20 16:59] #54465 closed, assigned to nobody

[2022-04-20 16:59] #61007 closed, assigned to nobody

[2022-04-20 16:59] Addison-Stavlo commented on #54465
closing as this is a core issue and has since been updated

[2022-04-20 17:23] vajrasar commented on #62835
@edwinho89 I checked again using the user's site (as you mentioned) and it does not show the issue for me.

<img width="786" alt="Screen Shot 2022-04-20 at 22 52 35" src="https://user-images.githubusercontent.com/2210243/164287775-2b372e1d-764c-433c-bf24-d56fef2fe261.png">

I'm closing the issue for now, but feel free to re-open if you can replicate this on any other instance. 🙇‍♂️

[2022-04-20 17:25] JoshuaGoode commented on #62459
The uploader checks Scan for signatures so this seems to be something we need our Scan & Security friends to review with us.  Seems it might be hitting a false positive.

[2022-04-20 17:35] #62916 closed, assigned to lupus2k

[2022-04-20 17:51] villanovachile commented on #53716
Another report in 35225411-hc

[2022-04-20 17:57] wpshellbelle commented on #55175
Another report at 35224064-hc

[2022-04-20 18:03] dpasque opened #62924 "Editor Tracks Events: "wpcom_block_editor_template_part_choose_existing" and "wpcom_block_editor_template_part_replace" no longer firing in site editor"
### Quick summary

Two Tracks events we monitor in the site editor are...
- wpcom_block_editor_template_part_choose_existing --> fires when adding a Template Part block and selecting "Choose"
- wpcom_block_editor_template_part_replace --> fires when you select a Template Part block and click replace (and pick a new part)

On March 3, 2022, these seemed to stop firing.

Given that [Gutenberg 12.7.0

[2022-04-20 18:31] #62918 closed, assigned to markbiek

[2022-04-20 19:43] JoshuaGoode opened #62928 "Plugin Uploads / Atomic Transfer: Plugin upload installation fails when transferring private Simple sites"
### Quick summary

***Since the process transfers the site to Atomic, users can try uploading the plugin again and it will not be impacted by this issue.***

Simple sites can transfer to the Atomic platform in various ways, one is by uploading a plugin manually via My Sites > Plugins > Upload.

Uploading a plugin there initiates an Atomic transfer and the marketplace-styled installer.

In the back

[2022-04-20 20:47] glendaviesnz commented on #62461
If you are restoring and opening straight away in the editor then the editor might be rewriting the block content. We would need to try and get the raw post content of the old version of the post without loading it in the editor - not sure what the easiest way to do that is.

If you can find a post where we have access to a previous revision that has the image links, and get their permission to ha

[2022-04-20 22:29] Rolilink commented on #62496
@allilevine @lsl actually the `<Spinner/>` component is already in the `Search` one, I just needed to pass the `searching` prop to enable it.

[2022-04-20 23:39] jamiepalatnik commented on #47220
Another request for MailerLite integration: 4962472-zd-woothemes

MailerLite has released a [new version of the Mailerlite](https://www.mailerlite.com/blog/introducing-new-mailerlite) and the JavaScript tracking snippet doesn't have any UUID.

In the Mailerlite widget, there is an option to add an account ID and UUID but the new MailerLite tracking snippet doesn't have any UUID. So it seems that u

[2022-04-21 01:45] roo2 commented on #61526
**Future performance improvement:**

In the verticals selector, we currently send a request to the server whenever the user types and then wait to show them results. We added a spinner to make this experience nicer.

https://user-images.githubusercontent.com/22446385/164354876-cb3e5785-a83e-40c6-8aa0-eabfe96d7bce.mov

I realized that it would be possible to avoid this loading experience entirely i

[2022-04-21 02:09] lsl commented on #62912
Not able to repro on chrome or firefox. Any other hints? My test user has >200 sites for ref though most are not atomic.

[2022-04-21 03:10] lsl opened #62933 "Marketplace: Search on enter mobile usability"
We recently merged a [search on enter](https://href.li/?https://github.com/Automattic/wp-calypso/pull/62573) change and while testing I noticed the mobile flow might need something more.

It’s hard to see it when testing on a desktop browser using mobile views because the onscreen keyboard doesn’t show up. On mobile you end up getting very little feedback a search has completed and it almost looks

[2022-04-21 03:22] taipeicoder commented on #61526
I like the idea of offloading more data processing to the client side! There are some considerations that we will need to weight against to see if it's worth the trade-off:

The API is reusable across technologies, meaning that other teams (e.g.: mobile) can also access the same functionalities without having to re-implement them. This is especially important as the suggestion "algorithm" grows in

[2022-04-21 03:31] lsl opened #62935 "Marketplace: Prepare the Plugin Browser UI for scaling and advanced search"
In SOTB, we identified the marketplace / plugins code we think we need to refactor or replace, in order to scale the Marketplace UI and search. p1650403911852059-slack-CKZHG0QCR

- [x] Rework or replace UrlSearch (at least in the marketplace codebase) with something other than the HOC it is today https://github.com/Automattic/wp-calypso/issues/63013
- [ ] Rework how search is executed, at the mome

[2022-04-21 03:31] lsl opened #62936 "Marketplace: Search improvements"

[2022-04-21 03:31] lsl opened #62937 "Marketplace: Routing improvements"

[2022-04-21 03:31] lsl opened #62938 "Marketplace: PluginsBrowser improvements"

[2022-04-21 03:35] lsl commented on #62938
Decided this needs to be one issue for the time being.

[2022-04-21 03:35] #62938 closed, assigned to nobody

[2022-04-21 03:35] lsl commented on #62937
Decided this needs to be one issue for the time being.

[2022-04-21 03:35] #62937 closed, assigned to nobody

[2022-04-21 03:36] lsl commented on #62936
Decided this needs to be one issue for the time being.

[2022-04-21 03:36] #62936 closed, assigned to nobody

[2022-04-21 04:52] zachspears opened #62939 "[Bug]: "Please moderate" Emails are blank."
### Quick summary

Reports of some emails sent to users are completely blank. Specifically, "Please Moderate" emails that are sent when a visitor posts a comment.

### Steps to reproduce

1. Make a post on a Premium Site.
2. Make sure your settings are set to receive an email for new comments on the site, and require comment approval
3. Using another account or email address, comment on that post.

[2022-04-21 05:22] Greatdane commented on #62928
Confirmed, thanks for the super clear steps!

<img width="976" alt="Markup 2022-04-21 at 14 20 54" src="https://user-images.githubusercontent.com/5075840/164378833-e257d4f4-ab0e-4ef4-946c-1432e0f004b9.png">

[2022-04-21 05:28] thesacredpath commented on #62788
Another report here: 4953554-zen

[2022-04-21 05:29] Greatdane commented on #62300
@rickmgithub closing this for now as no reply and unable to replicate.

[2022-04-21 05:29] #62300 closed, assigned to nobody

[2022-04-21 05:30] Greatdane commented on #61557
Closing this for now.

[2022-04-21 05:32] Greatdane commented on #61873
Going to close this then in favour of https://github.com/Automattic/block-experiments/issues/171

[2022-04-21 05:32] #61873 closed, assigned to nobody

[2022-04-21 06:00] Greatdane commented on #61781
Closing this as no response from @gwensmithx and unable to replicate.

[2022-04-21 06:13] Greatdane commented on #61654
I was able to confirm this behavior in the site editor.

It looks like a core issue, as the same behavior happened on a self-hosted site. Added to core and cross-repo watch list;
https://github.com/WordPress/gutenberg/issues/40500

[2022-04-21 06:21] Greatdane commented on #59570
Closing this again for now, as no more reports and unable to replicate.

[2022-04-21 06:36] Greatdane commented on #62696
Also unable to replicate and no reply from @kettultim - closing.

[2022-04-21 06:54] Greatdane commented on #62767
I can confirm this. It looks more related to embed (such as a PDF) rather than the file block itself;

See:

<img width="1913" alt="Markup 2022-04-21 at 15 54 24" src="https://user-images.githubusercontent.com/5075840/164392332-b1136ed4-53bf-4216-abbc-3b8600183bf7.png">

[2022-04-21 07:05] Greatdane commented on #62903
I also had an error with the video provided in the ticket, however, I think it relates to the naming of the file, rather than the file itself. The name was very long and contained a number of non-alpha characters. Changing the name of the file allowed a successful upload.

Console Error:

[code]

[2022-04-21 07:11] taipeicoder commented on #62582
Thanks everyone for the feedbacks of this initial work. Will close this issue as we wrap up the first build phase and stage a CfT in the upcoming weeks.

[2022-04-21 07:11] #62582 closed, assigned to taipeicoder

[2022-04-21 07:15] taipeicoder commented on #61526
Thanks everyone for the reviews of this initial work! As we move towards a more iterative cycle, we will be closing this issue and create new ones as needed. We have plans of staging a CfT in a week or two, and we'll pick it up from there.

[2022-04-21 07:15] #61526 closed, assigned to taipeicoder

[2022-04-21 07:22] taipeicoder opened #62940 "[Spike] Site Vertical Screen: Optimize suggestions experience"
## Description

From the discussion [here](https://github.com/Automattic/wp-calypso/issues/61526#issuecomment-1104623034), the vertical suggestion component currently makes API requests as users type. As a result, users will often see the loading spinner, which can feel sluggish. We would like to find ways to improve the loading experience for users.

[2022-04-21 07:24] taipeicoder commented on #61526
@roo2 I have created a [spike](https://github.com/Automattic/wp-calypso/issues/62940) for what you mentioned. I feel that it's something very worth exploring 😄

[2022-04-21 07:28] Greatdane commented on #61654
Closing, Core said this is intended behaviour; https://github.com/WordPress/gutenberg/issues/38802#issuecomment-1040353976

[2022-04-21 07:28] #61654 closed, assigned to nobody

[2022-04-21 08:01] BobRademaker commented on #60699
Forwarded this to our plugin team to see if we can fix this in a future release.

[2022-04-21 08:27] #61908 closed, assigned to BogdanUngureanu

[2022-04-21 08:30] zdenys opened #62941 "Domains: `Cancel transfer` link is not working for inbound domain transfer"
### Quick summary

The `Cancel transfer` link in Calypso for an inbound domain transfer is not functional/clickable. The HTML code doesn't even have an <a> tag.

![image](https://user-images.githubusercontent.com/39308239/164412704-bb93cab4-656e-4c53-8696-d3079f6fadd7.png)

### Steps to reproduce

Check the Calypso domain page for a domain in `pending_start` status.

### What you expected to happe

[2022-04-21 08:30] zdenys commented on #62941
4951952-zd-woothemes

[2022-04-21 08:42] vishnugopal commented on #62238
Discussion:
- Running into issues with the Redux store. Sometimes the fetching initial state is empty. Maybe it's a localhost development issue.
- Some developer experience issues as well. Need to restart the Calypso server to see changes.
- Tasks are clear, but the work is taking longer than expected.

[2022-04-21 09:06] vishnugopal commented on #62240
Discussion:
- A spike is available at https://github.com/Automattic/vger/
- A crawler is also implemented above.
- Finding "interesting images" could be a hard problem.
- Identifying "uninteresting images" could be easier.
- Spike for using Vision AI for classification is pending.
- AWS is less expensive, but less accurate.
- What is the policy of our company if we want to pay for some plan?
- Is

[2022-04-21 09:09] rickmgithub opened #62942 "Podcast Block not showing new episodes"
### Quick summary

When a new podcast is released on Podbean/Anchor.FM (it may include other external podcast hosts) the new episode does not show up as an option in the podcast player block.

### Steps to reproduce

Podcasters adds a new episode at their remote host.
The episode appears in the RSS feed.
It does not show as an option to select in the podcast player block or appear as the lastest e

[2022-04-21 09:14] vishnugopal commented on #61065
Discussion:
- To get a theme preview, we do a request to a site to get the HTML.
- This HTML is then changed (fonts, site title, etc.) using injection in the HEAD in a single method (with like a zillion parameters).
- We are now refactoring that single method to change colors (or even other CSS query parameters for later)
- This is injected into a style element in the HEAD.
- It's hard to do too m

[2022-04-21 10:07] syhussaini commented on #50360
I tested this on my own Business site and found a similar behavior.
I also noticed the following options under the post:

- View
- Statistics
- Comments
- Copy link

Statistics display a blank page.
Comments display: _Oops! You don't have permission to manage comments.

Please see attached screenshots for reference.

![Screenshot_20220421-152522_Chrome](https://user-images.githubusercontent.com/80

[2022-04-21 10:13] sanjeev00733 commented on #62788
Another report in #33458462-hc

[2022-04-21 10:17] sanjeev00733 commented on #62788
One more report today in #31123303-hc

[2022-04-21 10:32] zdenys commented on #60483
In a [wider context](https://wptavern.com/duckduckgo-and-brave-move-to-bypass-google-amp-pages-by-default):

[2022-04-21 10:39] KokkieH commented on #62867
Another request in https://wordpress.com/forums/topic/can-i-identify-my-viewers/?view=all

Earlier requests on the retired wpcomideas at pKdGS-Wt-p2 and pKdGS-1Ig-p2

[2022-04-21 11:11] delputnam commented on #62941
Thanks for the report @zdenys. We (Nomado) are working on it.

[2022-04-21 11:32] IoanaAMuresan commented on #62788
One more instance of this: #4964320-zd-woothemes

[2022-04-21 12:23] benchilcote commented on #62939
Another case: 33290575-hc
I tested and was able to reproduce.  Here's a screenshot of an email I received in my testing: https://d.pr/i/g2NO1a

[2022-04-21 12:44] daria2303 commented on #62788
4964395-zd-woothemes

[2022-04-21 13:26] Addison-Stavlo commented on #57739
It looks like the footer credit settings between the customizer and front-end work, however the site editor's representation seems stale and disconnected from this system. 🤔

[2022-04-21 14:14] cuemarie opened #62954 "Activity Log: Some theme link directly to Github, .org instead of the Theme Info page"
### Quick summary

Under Jetpack > Activity Log, the link to the theme `Stow` directs to `https://github.com/Automattic/themes/tree/master/stow` instead of the usual `https://wordpress.com/theme/stow/` info page

<img width="941" alt="Markup 2022-04-21 at 07 06 56" src="https://user-images.githubusercontent.com/27249804/164476916-3815ec1e-593e-4b1f-934b-6aef8bb52af0.png">

### Steps to reproduce

[2022-04-21 14:22] cuemarie commented on #62439
Thanks @inaikem ! Returning to the Poll I built this issue for, p9aQKR-1Ze-p2 , I found that I need to submit my answers again to see the results - which makes me wonder if the Polls timed out or something after a certain amount of response (we were all live voting at one time - perhaps there's something going on there?)

When I resubmit a vote this time, the poll records my vote as the 6th vote:

[2022-04-21 15:53] #62922 closed, assigned to andres-blanco

[2022-04-21 16:12] #62941 closed, assigned to nobody

[2022-04-21 17:10] valterlorran commented on #33768
I believe that the best option is by merging both lists into one and using the `columns` style to create the columns automatically:

[code]

Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/columns

[2022-04-21 18:03] #43265 closed

[2022-04-21 19:14] andres-blanco opened #62958 "Stepper Store: adding tests to the getAtomicSoftwareStatus selector"
Adding tests is always good and more so on this changing code base. This issue is for adding tests for the `getAtomicSoftwareStatus` selector.

[2022-04-21 19:16] #62779 closed, assigned to valterlorran

[2022-04-21 19:51] danielmx-dev opened #62959 "[Bug]: Purchase detail page not loading when accessed directly under certain conditions"
### Quick summary

If you have purchases on multiple sites, there may be times when the purchase detail page for certain sites won't load when accessed directly through the direct URL (which is usually provided in email receipts and pre-renewal reminders). Instead of loading the detail page, the browser will redirect you to the list of all purchases page.

This only happens when using a direct URL

[2022-04-21 19:55] sirbrillig commented on #62959
I bet this is where the redirect happens:

https://github.com/Automattic/wp-calypso/blob/7c3e055e3fe7920543d18f4e0e0fe51f0f978774/client/me/purchases/manage-purchase/index.jsx#L158

That occurs if the purchase is invalid, and I do see that the `ManagePurchase` component uses `getSelectedSiteId` before defaulting to the purchase's site ID:

https://github.com/Automattic/wp-calypso/blob/7c3e055e3fe7

[2022-04-21 20:19] Gustavo-Hilario opened #62961 "FSE > Template Part: Adding an option to make site's header and footer to stick"
### What

I wish we could implement a way to create sticky headers and footers on block-based themes.

### Why

Help pings to create sticky headers/menus is a common request we get in the CSS Guild, but it is still not possible with Full Site Editing. This feature would give users a feature that is so common across websites.

### How

I'm not sure if that would be something possible to implement f

[2022-04-21 20:22] sirbrillig commented on #62959
https://github.com/Automattic/wp-calypso/pull/62963 seems to fix it but I want to experiment more because I'm not sure why it was that way in the first place.

[2022-04-21 21:48] creativecoder commented on #62915
I think this is a duplicate of #61953?

[2022-04-21 21:52] creativecoder commented on #61953
This seems to be related to sites with mapped domains. If I'm right about that, there are two problems causing the issue:

- Calypso isn't redirecting to the primary mapped domain properly when the *.wordpress.com subdomain is used in the url.
- The Edit site link (at the bottom right) should be using the mapped primary domain, not the *.wordpress.com subdomain.

Here's an attempt to fix the first

[2022-04-21 21:56] cometgrrl commented on #62431
@yansern I think you all have some other maintenance work in progress related to the contact form, pinging you in case it makes sense to look at this one at the same time.

[2022-04-21 22:32] sirbrillig commented on #62959
True, but it turns out that some of its information may still be incorrect because much of it is based on the `siteId` prop so this is even more important to fix.

[2022-04-21 22:41] sirbrillig commented on #62959
I think I grok it now. https://github.com/Automattic/wp-calypso/pull/62963 should resolve the issue.

Basically, when we reach the purchase page we only have a purchase ID, so we need to load a list of purchases to get the rest of the purchase data to display. There's no single purchase API endpoint so originally, the page did this by loading all the user's purchases, but this could be very slow f

[2022-04-21 22:56] #62959 closed, assigned to sirbrillig

[2022-04-21 23:10] cometgrrl commented on #62903
Putting this at low priority since it seems related to the special characters in the filename, which seems like it would be a) rare and b) has an easy workaround.

[2022-04-21 23:23] sirbrillig opened #62967 "We fetch tax location for each payment method in checkout when it is not needed"
When checkout loads, and on every focus (and possibly some UI changes too), the `ExistingCardLabel` for each saved payment method makes a network call to `https://public-api.wordpress.com/rest/v1.1/me/payment-methods/XXXXX/tax-location`. This is needed by the payment method label to display the button for editing tax information, but since that button is always hidden in checkout, those network ca

[2022-04-21 23:23] sirbrillig commented on #62967
https://github.com/Automattic/wp-calypso/pull/62627 refactors the code that does this but will not actually solve the problem.

[2022-04-21 23:34] cometgrrl commented on #62816
@yansern one more bug for the contact form!

[2022-04-21 23:49] cometgrrl commented on #62840
@gravityrail Is this something the WordAds team would work on, or should we keep it assigned for a dotcom/forge team?

[2022-04-22 04:38] nagpai commented on #62788
#4963556-zen

[2022-04-22 04:58] Greatdane commented on #62788
This doesn't have an effective workaround (other than enabling Gutenberg, but we can assume a user wanted it disabled for a reason), and it is generating quite a few reports, so I have changed priority to high.

[2022-04-22 05:13] #62754 closed, assigned to taipeicoder

[2022-04-22 08:23] as-esu commented on #47992
4966339-zen
as a workaround, they are using _Icon & Text_ display style.

[2022-04-22 09:08] cecilearkay commented on #62815
@Robertght Pretty sure this got fixed with: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/6260 so I'll close it.

[2022-04-22 09:08] #62815 closed, assigned to nobody

[2022-04-22 09:16] aleone89 commented on #59421
Another report of this here: hc-35244013

[2022-04-22 09:24] kdevnel commented on #62662
I have checked and wanted to provide some specifics.

- The images blur somewhat on the live site no matter what size image I tried to use
- Photon and lazy images turned off made no difference
- The issue seems to be with the image size chosen from the srcset - it is being limited to either 1024 or 1200 px wide which might explain it

I'm not sure if there is a solution here but I am going to sug

[2022-04-22 09:42] MaxPhilip commented on #53102
4966920-zd

[2022-04-22 12:49] escapemanuele opened #62971 "Mobile nav bar: show 'My Profile' instead of the user display name"
### What

Related to pbAok1-2FX-p2#comment-5045

RIght now we show the user display name in the navbar.
![image](https://user-images.githubusercontent.com/52076348/164717475-0d918b84-c166-46a7-8e37-23b21678388f.png)

We would like instead to show 'My Profile'

[2022-04-22 13:23] simison opened #62973 "Adjust how welcome guidance is shown in the editor"
Slack convo at (p1650559200031119-slack-C025Q5RK2) highlighted a few small things to change about how the Welcome tour appears to customers, with some considerations about the future direction with the ongoing Help center project (pbAok1-2D2-p2).

<img width="455" alt="image" src="https://user-images.githubusercontent.com/87168/164715445-0b1f9286-645d-4526-944b-731e72977e94.png">

- [x] We shouldn

[2022-04-22 13:42] zdenys commented on #60483
4963054-zd-woothemes

[2022-04-22 14:49] sirbrillig commented on #62813
I've moved it to our board to discuss in our next hangout.

I believe this is happening because our billing system does not support plan upgrades that are also term downgrades. In this case the user would be trying to upgrade from one plan with a longer term (eg: premium biennial) to another plan with a shorter term (eg: pro annual).

It is possible, however, to change the term length of the curre

[2022-04-22 15:24] jamiepalatnik commented on #52100
Another report: [31226778-hc](35213338-hc)

Site is using Russell theme.

No alternative to offer other than switching to another theme.

[2022-04-22 15:31] allilevine commented on #62912
I've been seeing it in Firefox, just by going to /plugins. 🤔

[2022-04-22 15:43] allilevine commented on #62640
We're keeping this issue open because we enabled the Spotlight JITM, but it's not disabling when Sensei Pro is installed (or when Sensei is removed).

[2022-04-22 15:48] allilevine opened #62977 "Marketplace: Add Yoast upsell to marketing/traffic and /stats"
We'd like to add an upsell banner for Yoast SEO Premium to:
- Tools -> Marketing -> Traffic
- Stats (/stats/day), replacing the Parse.ly banner

<img width="1130" alt="Screen Shot 2022-07-07 at 2 44 49 PM" src="https://user-images.githubusercontent.com/1689238/177846952-afb33635-faf8-4111-b12a-afa3986bdda7.png">

We'll add the same banner in both places.

If https://github.com/Automattic/wp-calyps

[2022-04-22 16:11] guarani opened #62978 "[Bug]: Password-less account is described as having a password set"
### Quick summary

After logging into WordPress.com with an account that has no password set, under profile photo → Security, it says "You have a password configured..."). This seems inaccurate since the user hasn't yet set a password.

### Steps to reproduce

1. Start at https://wordpress.com/log-in
2. Enter the email address of an WP.com account that was created without a password (e.g. via the

[2022-04-22 16:19] wpshellbelle commented on #57812
reported in 34342004-hc

Recommended the same workaround to preview from the pages or post list

[2022-04-22 16:57] Addison-Stavlo commented on #62915
seems to be. I will close this one in favor of that issue. thanks!

[2022-04-22 16:57] #62915 closed, assigned to nobody

[2022-04-22 17:51] allilevine commented on #61617
@cpapazoglou Is this required for an MVP?

[2022-04-22 19:17] creativecoder commented on #61953
And here's a fix for the second issue: D79368-code

[2022-04-22 19:40] anomiex opened #62981 "[Bug]: `@automattic/format-currency` has an undeclared dependency on `tslib`"
### Quick summary

`@automattic/format-currency` has an undeclared dependency on `tslib`

### Steps to reproduce

1. Create a new project with this `package.json`
[code]
2. Create this `index.js`
[code]
3. Do `npm install` or whatever.
4. Run it as `node index.js`

### What you expected to happen

[code]

### What actually happened

[code]

### Context

_No response_

### Browser

_No response_

#

[2022-04-22 19:40] anomiex commented on #62981
@manzoorwanijk You're the TypeScript guru and you did the conversion of the package, so pinging you.

[2022-04-22 20:21] creativecoder commented on #61953
D79368-code is deployed, so this this issue should be resolved.

I'll, also continue with https://github.com/Automattic/wp-calypso/pull/62964, which should help prevent this from happening in the future.

[2022-04-22 20:21] #61953 closed, assigned to creativecoder

[2022-04-23 00:15] manzoorwanijk commented on #62981
It's just a dependency issue. `tslib` must be defined in `dependencies` and not in `devDependencies`. The linked PR fixes the issue.

[2022-04-23 03:20] sarahcada commented on #62788
Another at 5161341-zd-woothemes
The workaround of enabling Gutenberg helped.

[2022-04-23 06:35] arunsathiya opened #62985 "Me: Broken menu items on the left when it's collapsed"
### Quick summary

The left menu on the "Me" dashboard is broken when the menu is collapsed previously on a site dashboard.

<img width="1299" alt="image" src="https://user-images.githubusercontent.com/18581859/164883037-d4f73fc4-be70-4be4-9b5c-850fa0e40b65.png">

### Steps to reproduce

- On a WordPress.com site dashboard, collapse the menu on the left using the bottom-most icon.
- Visit https://

[2022-04-23 07:22] arunsathiya opened #62986 "[E-mails] [New post] Show post shortlink"
### What

Request to show the post's shortlink on "New post" email template. The old template does, example:

<img width="501" alt="image" src="https://user-images.githubusercontent.com/18581859/164884622-e4186e93-2756-44fe-977e-f6b7d5880907.png">

The refresh does not show it:

![image](https://user-images.githubusercontent.com/18581859/164884680-4e57ddcb-c1f0-45a8-8b70-9a6ccd055682.png)

### Why

[2022-04-23 07:22] arunsathiya commented on #62986
Got the request in 5088534-zen.

[2022-04-23 07:23] arunsathiya commented on #62986
@Automattic/dotcom-triage-pa-group, I'll let you triage as needed, but FYI: I have added it to Apex's Email templates board for now.

[2022-04-23 10:58] daria2303 commented on #54913
I got another one: 4928969-zd-woothemes reopenin

https://user-images.githubusercontent.com/11535091/164891679-3f493726-a71a-4d2c-b0e0-02378fb0b017.mov

[2022-04-23 11:41] cintacks opened #62987 "Jetpack Search filtering functionality not returning intended results"
### Quick summary

Please note: This is possibly site-specific.

blog.podbean.com has a Jetpack Search widget installed in their sidebar that returns incorrect results based on post type filters.

- Assumed functionality: filter by `post`, `page`, and `media` would return results matching `post` OR `page` OR `media`
- Actual functionality (on [blog.podbean.com](http://blog.podbean.com/)) appears t

[2022-04-23 13:14] tehjaymo commented on #60377
This request is also covered in this issue from 2020: https://github.com/Automattic/wp-calypso/issues/44263

[2022-04-23 15:18] ariel-maidana commented on #62883
User request: 4956085-zd-woothemes

[2022-04-23 19:18] JessBoctor commented on #62986
I had a user come in and request this as well. 35259635-HC

[2022-04-23 20:38] JessBoctor opened #62989 "[E-mails] [New comment] [New like] Should include "Great posts worth seeing from user" paragraph"
### What

The new liked and comments post notifications no longer include a preview of content from the user who is liking or commenting. I had customer come into chat requesting that the `Great posts worth seeing from {user}:` section be added back. Here is a screenshot from the old email notification:

![Great-posts-from](https://user-images.githubusercontent.com/12505355/164945243-caffdc8f-2151

[2022-04-23 20:38] JessBoctor commented on #62986
Moved my comment to a new GH Issue, since this is separate from the shortlink issue. https://github.com/Automattic/wp-calypso/issues/62989

[2022-04-24 01:28] mdtanjid0 commented on #60623
35261790-hc

[2022-04-24 01:52] formosattic commented on #62986
Note to @Automattic/dotcom-triage-pa-group: looks like will need to be transferred to  Jetpack, see https://github.com/Automattic/jetpack/issues/24036.

[2022-04-24 01:52] formosattic commented on #62989
Note to @Automattic/dotcom-triage-pa-group: looks like will need to be transferred to  Jetpack, see https://github.com/Automattic/jetpack/issues/24036.

[2022-04-24 02:10] kelasante commented on #62939
It looks like this specific bug has been fixed - https://apexp2.wordpress.com/2022/04/12/consolidated-feedback-from-call-for-testing-e-mail-templates-round-2/

However, users still have feedback about changes to the email template.

[2022-04-24 02:20] formosattic opened #62990 "[E-mails] [New post] Post content either missing new lines or excessive new lines or whitespace."
### Quick summary

Following the visual refresh, see pdDOJh-fZ-p2, the blank lines in a comment are being skipped/eaten in the email notification.

Note to @Automattic/dotcom-triage-pa-group: looks like this will need to be transferred to Jetpack, see https://github.com/Automattic/jetpack/issues/24036.

### Steps to reproduce

1. Enable comment notification on a test site
2. Comment on a post with

[2022-04-24 08:38] formosattic commented on #62939
Note to @Automattic/dotcom-triage-pa-group: if it applies, this may need to be transferred to Jetpack, see https://github.com/Automattic/jetpack/issues/24036.

[2022-04-24 10:14] formosattic opened #62992 "[E-mails] [New comment] [Pingback] Bring back or make it easier to find the commenter's profile and primary site"
### What

Context: 4964208-zd-woothemes

Note to @Automattic/dotcom-triage-pa-group: looks like this may need to be transferred to Jetpack, see https://github.com/Automattic/jetpack/issues/24036.

### Why

No clear info on the commenter, so author can't easily interact with them.

| Old  | New |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/164971

[2022-04-24 10:33] adelineyaw commented on #52100
Another report: 5031409-zen
Site is using Blank Canvas (Personal plan)

[2022-04-24 10:35] fresatomica opened #62993 "Feature Request: Add support for embedding Facebook Watch videos"
### What

A user on Twitter suggested we added support for embedding Facebook Watch videos:

https://twitter.com/ronniedk/status/1518166054299656192.

### Why

Facebook Watch is growing more popular and folks would like to be able to share those videos on their sites.

### How

_No response_

[2022-04-24 11:44] roo2 commented on #60523
reopening this issue for ngan and miguel

[2022-04-24 13:11] csabarakasz opened #62994 "[E-mails] [New post] Featured image is not showing"
### Quick summary

When a new post is published with a Featured Image, the image does not show in the post content in the email.

Featured Image added:
![CleanShot 2022-04-24 at 15 05 18](https://user-images.githubusercontent.com/84539773/164978144-a7f98b3e-8922-4c64-a0fd-d6e5f15b57eb.jpeg)

Image not included in the mail.
![CleanShot 2022-04-24 at 15 06 43](https://user-images.githubusercontent.c

[2022-04-24 13:17] csabarakasz commented on #62994
Image not showing 4961553-zd-woothemes
Image not showing 4964624-zd-woothemes AT site, theme: MH magazine

[2022-04-24 13:21] csabarakasz opened #62995 "[E-mails] Empty list items for "Great content you might have missed" when post/page with no title included"
### Quick summary

When subscribing to a new blog, the confirmation email does not show `Great content you might have missed` area.

![CleanShot 2022-04-24 at 15 04 13](https://user-images.githubusercontent.com/84539773/164978519-e9d37e97-cc2f-45e0-b97d-e9671fcb3afa.jpeg)

### Steps to reproduce

1. subscribe to a new blog that has posts already
2. email shows incorrectly

### What you expected to

[2022-04-24 14:25] kathrynwp opened #62996 "[E-mails] [Liked post] Generic Gravatar"
### Quick summary

Since the email notifications for WP.com were overhauled last week, email notifications for Likes are missing the user's Gravatar.

### Steps to reproduce

Receive an email notification for a Liked post.

### What you expected to happen

The email should display the Liker's Gravatar

### What actually happened

The email displays a generic Gravatar instead

![_Team_Canada__eh___

[2022-04-24 14:31] sourourn opened #62997 "Email template refresh: Remove "Comment" & "Like" button when Comments, Likes are disabled"
### What

User has disabled comments on all posts. However when they publish a new post, there is a "comment" button that shows at the bottom of new post notifications. See screenshot: https://d.pr/i/hhRc54

### Why

User would like to not show the option to comment anywhere on the post, including in the post notification email. Right now when someone clicks on "Comment" it leads to the full post

[2022-04-24 17:13] ccwalburn opened #62998 "Classic Block: Can't select multiple lines of text and style them all at once"
### Quick summary

When selecting multiple lines of text in a Classic block and then styling it using one of the toolbar options (like Bold, Italic, Alignment options) it only affects the first highlighted word or line.

### Steps to reproduce

1. Create a new post
2. Add a Classic Block
3. Enter several lines of text separated by a Return
4. Highlight all of the text
5. Click the Bold link in the

[2022-04-24 18:54] isocialtish commented on #62992
This also came up in 5163951-zen

[2022-04-24 19:28] isocialtish commented on #62992
Another instance of a user missing the section with more info about the person commenting: 5164300-zen (this person was using the email address field to then send an email)

[2022-04-25 04:01] arthur791004 commented on #62904
Close as it's shipped 🎉

[2022-04-25 04:01] #62904 closed, assigned to nobody

[2022-04-25 05:12] mxhassani opened #62999 "Email template visual refresh: Link to gravatar"
### Quick summary

The new liked and comments post notifications no longer link the user profile picture of the user who is liking or commenting to their Gravatar profile.

![image](https://user-images.githubusercontent.com/81776920/165024302-88415029-897e-4e24-93d0-abfc3ebdaa7a.png)

### Context

Had a user in 32722498-hc mentioning that there is no way to learn more about the subscriber from the

[2022-04-25 06:37] #62981 closed, assigned to manzoorwanijk

[2022-04-25 07:14] yansern commented on #62679
Closing.

[2022-04-25 07:14] #62679 closed, assigned to mashikag

[2022-04-25 07:15] yansern commented on #62939
Fixed with D79214-code.

[2022-04-25 07:15] #62939 closed, assigned to nobody

[2022-04-25 07:18] yansern commented on #62999
Marking as duplicate of https://github.com/Automattic/wp-calypso/issues/62996

[2022-04-25 07:18] #62999 closed, assigned to nobody

[2022-04-25 07:21] cpapazoglou commented on #61147
Closing this as we are currently looking into using elastic search https://github.com/Automattic/wp-calypso/pull/62777

[2022-04-25 07:21] #61147 closed, assigned to nobody

[2022-04-25 07:25] yansern commented on #62997
Also disable like button when like is disabled.

[2022-04-25 07:26] yansern opened #63001 "[E-mails] Broken site logo."
Details in pdDOJh-fZ-p2#comment-189

[2022-04-25 07:33] yansern opened #63002 "[E-mails] [New post] Missing tags"
See https://wordpress.com/forums/topic/new-format-for-emailed-blog-entries-missing-tags/.

[2022-04-25 07:35] yansern opened #63003 "[E-mails] Review post content paragraph / line-break parsing/styling."
See pdDOJh-fZ-p2#comment-175.

[2022-04-25 07:36] yansern opened #63004 "[E-mails] Commenter's language being used in New Comment mail."
See pdDOJh-fZ-p2#comment-172

[2022-04-25 07:43] yansern opened #63005 "[E-mails] Should Powered By footer be disabled / given an option to / for paid users."

[2022-04-25 07:54] i11za commented on #60875
Another request/report here: 35265234-hc

[2022-04-25 07:54] yansern commented on #62996
@Automattic/apex Wondering if there's a disparity with the Liker's ID when e-mails are sent out from `email-overrides.php`.

[2022-04-25 08:01] yansern commented on #62990
Similarly, review post content paragraph / line-break parsing/styling. pdDOJh-fZ-p2#comment-175

[2022-04-25 08:02] yansern commented on #63003
Consolidating into https://github.com/Automattic/wp-calypso/issues/62990.

[2022-04-25 08:02] #63003 closed, assigned to nobody

[2022-04-25 08:04] yansern commented on #62995
From the screenshot, the list of post is missing but the section exists or?

[2022-04-25 08:05] arthur791004 opened #63006 "Get the image dimension in block pattern"
#### Changes proposed in this Pull Request

* Get the image dimension in the block pattern
  * D79391-code
* Add vertical selector and image info when viewing the single pattern
  * D79393-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62812

[2022-04-25 08:18] inaikem opened #63007 "Theme: Hemingway Rewritten code editor text is white, rendering it "invisible""
### Quick summary

The Block Editor's Code Editor View's `textarea` content is styled as white, leading to text appearing invisible to users unless highlighted.

### Steps to reproduce

1. Install Hemingway Rewritten on an Atomic site
2. Open a page or post and click into the Code Editor View.
3.  Enter text. The text is white.

### What you expected to happen

I expected the text to be grey.

###

[2022-04-25 09:38] IoanaAMuresan commented on #62894
Customer in this ticket 4958975-zd is back, asking to be kept in the loop when we have a fix on this.

[2022-04-25 10:03] cpapazoglou commented on #61617
No @allilevine  it's not required for an MVP. It can become a blocker when vendors request their payout.

[2022-04-25 10:47] ivan-ottinger commented on #63001
It looks like the issue is site-specific. I run a couple of tests with Atomic site and the Site icon loaded from `https://*.wpcomstaging.com/` domain correctly.

The site where the issue was reported on doesn't display the Site icon in General Settings:

![Markup on 2022-04-25 at 12:37:57](https://user-images.githubusercontent.com/25105483/165073859-5f3121d7-df74-448d-ba5a-23d2b97dbb4c.png)

On th

[2022-04-25 11:26] csabarakasz commented on #62995
Thank you for the clarification question, @yansern ! Yes, the list of posts is missing even though there are other posts on the site: https://csabarakasz.wpcomstaging.com/blog

(This is a test site only.)

[2022-04-25 11:34] yansern commented on #62989
1. The section is showing, but the posts entries are empty. (Verify if that is the case or the person modified the screenshot). TODO: Find out where the link is.

2. The section doesn't show at all. Find out what are the exact situations, is it because there are no posts, or there are posts but some glitch caused it not to show.

[2022-04-25 11:58] ivan-ottinger commented on #63001
I run another test with a test site where I changed the Primary address from `*.wpcomstaging` one to a custom domain. As soon as I made the change, the `*.wpcomstaging` address of the Site icon stopped working.

The cached Site icon URL (available at `https://i0.wp.com/[SITE].wpcomstaging.com/wp-content/uploads/2022/03/[SITE_ICON].jpg?ssl=1&w=240`) is still loading correctly, but as far as I know,

[2022-04-25 12:10] #62971 closed, assigned to escapemanuele

[2022-04-25 12:17] cpapazoglou commented on #62592
Let's also cleanup the code from other instances calling `WPCOM_Marketplace_Yoast_Premium_Plan_Manager`

[2022-04-25 12:32] cpapazoglou commented on #62578
Thanks for reporting, actually we do have added documentation links in the past but they don't appear now. Seems like a regression
![image](https://user-images.githubusercontent.com/12430020/165088990-05adb74e-4d39-4fa9-8585-b1177a4d51d1.png)

- [ ] Find out what is causing the regression and fix it
- [ ] Add documentation copy & links in thank you page

[2022-04-25 12:35] cpapazoglou commented on #33066
This is resolved by the new marketplace thank you page

<img width="845" alt="CleanShot 2022-04-25 at 15 34 57@2x" src="https://user-images.githubusercontent.com/12430020/165089976-5428facf-37f3-4014-acbe-e60018fcb49d.png">

[2022-04-25 12:35] #33066 closed

[2022-04-25 12:39] cpapazoglou commented on #61209
Indeed, that is the expected experience. Instead of forcing the user to bundle a domain we now try to educate them about the value of the custom domain. Closing now, please reopen if that's not the case.

[2022-04-25 12:39] #61209 closed, assigned to nobody

[2022-04-25 12:42] Nic-Sevic opened #63009 "BRC misreporting FSE compatibility/edit button available for non-fse themes"
### Quick summary

BRC is not consistently/correctly reporting whether themes are FSE supported or not.

On my test site all themes are showing as not supported and FSE is marked not active regardless of site editor accessibility in dashboard. On another HE's site all (tested) themes are showing compatible and FSE is marked active even for incompatible themes (storefront).

### Steps to reproduce

[2022-04-25 12:46] galakhyati opened #63010 "Need to upload the plugin again in WP-Admin interface when attempting to replace an existing plugin"
### Quick summary

After the user uploads the plugin on the Calypso interface, they're then taken to the WP Admin interface and need to upload the plugin file again. This is a repeat of the action we're expecting the users to perform, which can be frustrating if this needs to be done for multiple plugins.

### Steps to reproduce

1. Install a plugin on your atomic site.
2. Try to upload another ve

[2022-04-25 12:49] cpapazoglou commented on #62727
I think we can close this for now and just create the A / B experiment when we need it.

[2022-04-25 12:49] #62727 closed, assigned to nobody

[2022-04-25 13:01] galakhyati opened #63011 "[Storefront] Edit button on Storefront theme lands on broken page"
### Quick summary

When I click on the Edit button on the theme from the My Site → Appearance → Themes page, it takes me to a broken Full Site Editing page, even though the theme isn't supported by FSE.

### Steps to reproduce

1. Click on the Edit button on the Storefront theme.
2. It takes me to https://wordpress.com/site-editor/galakhyatiatomicsite1.wpcomstaging.com URL.

### What you expected

[2022-04-25 14:35] fredrikekelund commented on #62989
5162715-zen

[2022-04-25 15:14] #62913 closed, assigned to markbiek

[2022-04-25 15:49] jjchrisdiehl opened #63012 "[Bug]: Payment Blocks: No longer allow cloning card payment methods into or out of India"
### Quick summary

As reported here (pNPgK-5LT-p2), it appears that Stripe allows our platform to use access tokens to pull in customer card data if they already entered it elsewhere, but in the case of this customer in India, Stripe does not allow for this cloned card process to happen due to newer India data regulations.

Error message:

https://stripe.com/docs/connect/cloning-customers-across-a

[2022-04-25 15:50] allilevine opened #63013 "Marketplace: Rework or replace UrlSearch wrapper"
Currently `PluginsBrowser` is wrapped in the UrlSearch HOC:

https://github.com/Automattic/wp-calypso/blob/bf1b6bfda7dcf18b282a77b446a531632eddf47a/client/my-sites/plugins/plugins-browser/index.jsx#L742

The way this HOC is constructed is a blocker to scaling search. We should replace it or refactor it as a hook.

Acceptance criteria:
- [ ] Remove or replace this wrapper for the Marketplace search

[2022-04-25 15:56] allilevine opened #63014 "Marketplace: Rework how search is executed"
Search should happen on `onSubmit` or `onKeyDown`, not on render:

https://github.com/Automattic/wp-calypso/blob/1e93977869117ca8c957b6039807bf956538407c/packages/search/src/search.tsx#L199-L215

Acceptance criteria:
- [ ] No `onSearch` calls on render.
- [ ] Test component is working on the sites mentioned below.
- [ ] Get at least one team calypso member review
- [ ] Please ask @Rolilink for a r

[2022-04-25 16:13] blackjackkent commented on #62712
Closed by #62772

[2022-04-25 16:13] #62712 closed, assigned to markbiek

[2022-04-25 16:16] blackjackkent commented on #62435
Closing since we can no longer reproduce. (Maybe something was fixed on Anchor's end.)

[2022-04-25 16:16] #62435 closed, assigned to nobody

[2022-04-25 16:23] jeherve commented on #62997
Also in

4963821-zd-woothemes
4962551-zd-woothemes
4962942-zd-woothemes

[2022-04-25 16:29] kathrynwp commented on #53680
Two more reports today:

8626259-hc - please let them know in 5166552-zen if fixed. They say the pages have been coming and going from the list in Calypso

5165263-zen

[2022-04-25 16:34] sixhours commented on #61465
I see a `site_vertical_id` under the site's `options`, with an integer that I think corresponds to the site vertical I picked ("Dogs", in this case):

<img width="247" alt="Screen Shot 2022-04-25 at 12 30 09 PM" src="https://user-images.githubusercontent.com/2124984/165133348-49a0d9ff-7bce-472e-a736-28b0cfc5800b.png">

I need to confirm this ID matches what we're using in the store of verticals, b

[2022-04-25 16:40] sixhours commented on #61465
Yep, `886` matches the Google AdWords data on which the new verticals API is based, so I think we can close this out:

<img width="490" alt="Screen Shot 2022-04-25 at 12 39 51 PM" src="https://user-images.githubusercontent.com/2124984/165134536-ca9f5a80-dd6b-4499-9540-99d47d632885.png">

API ref: pbxlJb-1oG-p2

[2022-04-25 16:40] #61465 closed, assigned to nobody

[2022-04-25 16:41] DustyReagan opened #63015 "[Bug]: When a blogger plan attempts to purchase a non .blog domain, add pro plan to cart instead of personal"
### Quick summary

On a "Blogger" plan, if you go to [purchase a domain](https://wordpress.com/domains/add/), the copy states a "Pro plan required", but when you click Select, a Personal plan is added to the cart.

![domain-pro-personal](https://user-images.githubusercontent.com/140841/165134519-8c3329fb-fb53-4672-86b5-278cb3280fd8.png)

### Steps to reproduce

1. Using a blogger plan site.
2. Go

[2022-04-25 16:58] valterlorran commented on #33768
I fixed the issue by editing the theme description with the html that I [mentioned above](https://github.com/Automattic/wp-calypso/issues/33768#issuecomment-1105480713). However it is not working on the Calypso theme show case, seems to be some sort of cache.

**Before**
<img width="506" alt="Screen Shot 2022-04-25 at 11 19 48" src="https://user-images.githubusercontent.com/1234758/165134386-a9795

[2022-04-25 17:18] vykes-mac commented on #62181
Looking at this a little it seems the issue doesn't happen in core. What I've discovered so far is that

- The method `useEffect` anonymous function is being called multiple times when a navigation block is added.
- This method in term calls `selectBlock` which highlights the selected navigation block.
- Because this method is called multiple times even when you select another block it's executed

[2022-04-25 17:23] edequalsawesome commented on #62631
@brookewp Hey! It looks like it's a combo of things (and not really hex transparency at all, sorry about that!) -- the original CSS that was used was this:

[code]

That value should have been `rgba(255 255 255 / 88%)`, which *does* work, so the `hex alpha transparency for colors` request can be ignored 😄

[2022-04-25 18:04] #62710 closed, assigned to nelsonec87

[2022-04-25 19:48] monsieur-z opened #63020 "[Bug]: Coupon for yearly product isn't discarded in checkout page when switching to monthly term"
### Quick summary

Let’s assume there’s a yearly term product in the cart, and that a coupon for this specific product has been applied (coupon’s available for the yearly term only). When switching the term from _One year_ to _One month_ in the term dropdown, the coupon is still applied, while it shouldn’t for the monthly term.

This seems to only happen when the term selection is made through a d

[2022-04-25 20:12] DavidRothstein commented on #63020
Some discussion on this here: p1650914923579369-slack-C0117V2PCAE

[2022-04-25 20:14] #62566 closed, assigned to vykes-mac

[2022-04-25 20:17] sirbrillig commented on #63020
Mentioned by @DavidRothstein in Slack, it looks like this was intentional behavior added to the coupon system so that the same coupons could be used for monthly plans: D49095-code

Later, the coupon system was modified to allow for coupons per term length (pau2Xa-2lC-p2) but possibly only for wpcom plans and not for Jetpack plans. However, if that's accurate, it should be impossible to create a co

[2022-04-25 20:18] sirbrillig commented on #63020
cc @Automattic/martech since they generally manage the coupon tool and organized all the above-mentioned changes.

[2022-04-25 20:22] Lazza commented on #21246
It's a bit weird to see that this bug was not considered in over 4 years.

Recently I switched from being a paying user of WP.com (for several years) to hosting WP myself. If customers do not get any kind of support, it's not worth paying for it.

[2022-04-25 21:27] mxhassani commented on #59456
Similar request in 32998888-hc

[2022-04-25 21:35] allilevine commented on #62912
Timebox investigation - 1 hour, check if it's caused by having too many Atomic sites.

[2022-04-25 21:38] allilevine commented on #63013
UrlSearch is using Lifecycle methods; add to hook instead. Might need wide testing; could create new one just for Marketplace.

Adds ?s= to search URL.

[2022-04-25 21:57] lsl commented on #62935
Sprint call: I'll create an issue for controller/index, @Rolilink will create an issue for the plugins browser refactoring.

[2022-04-25 22:25] BabylonCS commented on #62992
Another report about this here: zen-5162274

[2022-04-25 22:28] kelasante opened #63026 "Unable To Download Form Responses as CSV in Feedback"
### Quick summary

When downloading Form responses in Feedback, a user gets an error **_This site can’t be reached. The webpage page might be temporarily down or it may have moved permanently to a new web address._**

I am able to replicate the issue on my Simple test site
<img width="857" alt="Markup 2022-04-25 at 11 05 03" src="https://user-images.githubusercontent.com/74204272/165138388-c1b81c0

[2022-04-25 22:43] khristiansnyder opened #63027 "WP-Admin shows plan expiration banner for monthly plans"
### Quick summary

Monthly business plan customers are seeing a notice about plan expiration in WP-Admin, which is misleading as auto-renew is enabled then, in this case, the customer just renewed a couple of days ago.

#5162147-zen
#5165138-zen

1. Have a site on a monthly biz plan
2. Check renewal notice on WP-Admin pages

### What you expected to happen

I expect the notice to not be there, per

[2022-04-25 23:29] lsl commented on #62912
I'm guessing it is just the number of atomic sites, we probably make Jetpack requests to each site to check current active plugins. That would be slow in a loop.

For scope, the /plugins (no site) route sees basically no traffic, probably only us testing:

![Screenshot 2022-04-26 at 09-06-41 Funnel Browse All Page Views](https://user-images.githubusercontent.com/811776/165188878-c9629b95-701d-4d6d

[2022-04-26 00:45] sstabrizi commented on #62992
I have another report of a user requesting the commenters' info back as well. They were using the email address for the commenter to reply without having to view the comments directly. Essentially, it was a time-saver to have it listed in the email.

33627678-hc

[2022-04-26 00:59] sstabrizi opened #63029 "[E-mails] [New Comment] [Pingback] Make commenters' name/username clickable like it used to be in previous versions."
### What

Some users would like the username of the commenter to be clickable like it use to be in previous versions.

### Why

This is a convenience feature and was useful to see information about the individual that commented on the site.

### How

Previous Email (with commenter hyperlink):

<img width="788" alt="Markup 2022-04-25 at 18 55 01" src="https://user-images.githubusercontent.com/25855

[2022-04-26 01:40] lsl opened #63030 "Marketplace: Controller / routing refactor"
Subtask of https://github.com/Automattic/wp-calypso/issues/62935 to focus on routing / controller code. Both are tightly coupled so hard to split this work up in a non conflicting way, there is quite a bit I'd like to change in these but will focus on easy wins / rescope as needed.

#### Refactor [the index](https://github.com/Automattic/wp-calypso/blob/0b1198ce5237a2540aaeeff024da4d5532a84acb/cli

[2022-04-26 01:43] autumnfjeld commented on #62613
A related comment from James Weber (don't know his github handle)
We should also think about this for the future (revisit in 2022 Q3 or Q4):

<img width="780" alt="image" src="https://user-images.githubusercontent.com/5665959/165202157-fc396dcf-0366-4390-a315-b5ed1fc39287.png">

[2022-04-26 01:58] lsl commented on #62935
Added https://github.com/Automattic/wp-calypso/issues/63030

[2022-04-26 02:15] autumnfjeld opened #63031 "Design pickers: Mobile web design picker should show mobile designs as default, not desktop"
# Description

Currently, the Design Picker on mobile web shows desktop thumbnails.  We should be showing mobile layouts.  I think this means we need to generate mShots preview for a mobile viewport. See 42PgVsdlQ1v2wpk6lmmrnq-fi-1697%3A54129

### Current (before)
Note the preview on the right shows the mobile layout.
<img width="392" alt="image" src="https://user-images.githubusercontent.com/5665

[2022-04-26 05:27] worldomonation opened #63036 "Flaky E2E: Validate post"
### Spec file

specs/editor/editor__post-advanced-flow.ts

### TeamCity ID

7782243

### Logs

[code]

![image](https://user-images.githubusercontent.com/6549265/165227983-9216fd14-1e58-4317-8bf5-9476f65c94f8.png)

[2022-04-26 05:28] as-esu commented on #57812
zen-4966789
provided the workaround

[2022-04-26 05:29] worldomonation commented on #57503
Issue reproduced frequently enough to warrant #63036.

[2022-04-26 06:00] jeroenpf opened #63039 "Add color information to wpcom url-analyzer"
Color detection for the [url analyzer has been implemented in mShots.](https://github.com/Automattic/mShots/issues/51) The color information for a given URL has to be added to the URL analyzer endpoint in wpcom. This can be done when the url-analyzer in mShot has been deployed to production.

**Todo:**

- [x] Deploy mShots url-analyzer to production
- [x] Consume the mShots url-analyzer endpoint o

[2022-04-26 06:45] kdevnel commented on #54473
I'm reopening this since it came up with a couple of users using FSE themes. With the customizer disabled and the default being "Homepage displays latest posts" sending users to the Classic View of the reading settings to change this is a bit jarring.

Context: 34326647-hc

[2022-04-26 07:12] #62115 closed, assigned to roo2

[2022-04-26 07:52] formosattic commented on #62942
Will close this in favor of https://github.com/Automattic/wp-calypso/issues/50740 , I've added the clear cache workaround in the other issue.

Will add this report to the other thread.

[2022-04-26 07:52] #62942 closed, assigned to nobody

[2022-04-26 07:53] formosattic commented on #50740
+1 4936393-zd-woothemes (posted in https://github.com/Automattic/wp-calypso/issues/62942).

Added workaround in the initial post.

[2022-04-26 07:53] simison opened #63040 "[Bug]: "more" share button has empty tooltip"
### Quick summary

"More" share button has an empty tooltip:

<img width="1077" alt="Screenshot 2022-04-26 at 10 46 24" src="https://user-images.githubusercontent.com/87168/165249829-ce02c35f-fcf5-4882-8c8d-17497864f937.png">

### Steps to reproduce

1. Go to Sharing buttons settings (`https://wordpress.com/marketing/sharing-buttons/SITE`)
2. Click "add more button"
    <img width="1098" alt="Scre

[2022-04-26 08:18] mxhassani commented on #62975
Similar issue here: 5166577-zen
Was able to replicate on test site

[2022-04-26 08:23] formosattic commented on #62992
Checked this again, it looks like the main issue is the Gravatar that can't be clicked, but even so, having the info (commenter's email, primary site) right into the email would be more convenient for blog owners.

![image1](https://user-images.githubusercontent.com/15944096/165255418-c4113ba0-62a0-4127-9aa1-86e1ab5b6821.png)

[2022-04-26 08:27] formosattic commented on #63029
This is closely related to https://github.com/Automattic/wp-calypso/issues/62992 , but will keep this separate right now as this is more specific.

[2022-04-26 08:59] formosattic commented on #62994
Confirming this is still happening.
![image1](https://user-images.githubusercontent.com/15944096/165263050-7bec5767-1718-41b0-9fdc-fc2718890a5e.png)

Related: https://github.com/Automattic/jetpack/issues/24036

[2022-04-26 09:03] vinnykaur commented on #52117
Also here: zd-5037279

[2022-04-26 09:15] formosattic commented on #62995
Strange, I tested by subscribing to a Simple, Atomic site, but the list of posts shows ok.

| Simple  | Atomic |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/165266398-40699f35-bb19-4b12-86f2-9846283282d9.png)  | ![image2](https://user-images.githubusercontent.com/15944096/165266414-e9de4bb7-2189-4d8a-a19f-5ccced3a38f6.png)  |

Yet, when I subscr

[2022-04-26 09:26] formosattic commented on #62996
I'm seeing the same generic Gravatar for `New subscriber!` notification.
![image1](https://user-images.githubusercontent.com/15944096/165268532-78c7d54d-577f-444b-9145-87659f2abd4d.png)

[2022-04-26 09:41] #57131 closed, assigned to vishnugopal, bogiii

[2022-04-26 09:53] fresatomica commented on #62989
Reported here: https://wordpress.com/forums/topic/new-like-notification-email-lacking-vital-information/?view=all

[2022-04-26 09:56] formosattic commented on #62989
Could this be related to https://github.com/Automattic/wp-calypso/issues/62995#issuecomment-1109554544

I tested by liking and commenting, and made sure that my visitor account had some live posts in its primary site, but still not seeing any section `Great posts worth seeing from {user}:`

| Comment  | Like |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/

[2022-04-26 10:13] formosattic commented on #62954
This is possibly an issue for a few other themes themes, I noticed the same with all the themes I tested:
* Twenty Twenty-Two (Blue) links to https://github.com/wordpress/twentytwentytwo/
* Dalston links to https://github.com/Automattic/themes/dalston
* Archeo links to https://github.com/Automattic/themes/tree/trunk/archeo
* Remote links to https://github.com/Automattic/themes/tree/trunk/remote

O

[2022-04-26 11:01] dolgelukkig commented on #57812
hc-32366897

provided workaround

[2022-04-26 11:06] #61909 closed, assigned to nobody

[2022-04-26 11:08] BogdanUngureanu commented on #61909
Closed since we don't need to make any changes for this. The implementation for donations already existed, we exposed the donation type in the API.

[2022-04-26 12:12] tellisbethel commented on #53626
Another report here: 34900628-hc
Toggled between Coming Soon and Public.

[2022-04-26 12:16] cpapazoglou commented on #62912
I don't have strong feelings for the logged-in `/plugins` page. The added benefit it has is that site administrators can manage (install, activate, deactivate) a single plugin in all their connected sites. And the "install" part only works for free plugins, since premium plugins will require a distinct purchase flow for each of their sites.

I would agree, adding the site selector step to the `/pl

[2022-04-26 12:23] valterlorran commented on #33768
The cache seems to have cleared itself, and now it's working on the Calypso theme showcase.

[2022-04-26 12:23] #33768 closed

[2022-04-26 12:43] mashikag commented on #62997
This issue was addressed in D79437-code

[2022-04-26 12:43] #62997 closed, assigned to mashikag

[2022-04-26 13:40] sixhours opened #63049 "Anchor: Add unit tests"
We should add new or migrate existing unit tests for the Anchor-related hooks introduced in #63017.

[2022-04-26 14:13] #62958 closed, assigned to valterlorran

[2022-04-26 14:46] kylemcph opened #63050 "Unable to launch free site"
### Quick summary

Some sites are unable to launch. All known sites are free sites and this bug is not consistently replicated.

### Steps to reproduce

I am not able to replicate for a newly created test site but can show what happens for affected sites.

1. Start a free WordPress.com site
2. Navigate to WordPress.com > My Sites > Settings > Launch Site

### What you expected to happen

A page si

[2022-04-26 15:15] daria2303 opened #63053 "[E-mails] Pingback emails are badly formed"
### Quick summary

The pingback emails are badly formed, user reports it has changed recently.

### Steps to reproduce

n/a

### What you expected to happen

Emails are formed as pingbacks notifications, not empty.

### What actually happened

"This email is a multi-part MIME message as the text/plain part looks OK, but the text/html part is truncated before is really gets to say anything, just af

[2022-04-26 15:18] sixhours commented on #62668
Hrm, something that just occurred to me as I was looking at this. Unlike the onboarding flow, this flow needs to handle site creation, too; we won't have a ready-made site when someone lands on the first step of the flow. right now we're passing in a `siteSlug` parameter but that won't exist when someone clicks on the link from Anchor.

When would be the better place to handle site creation? Upon

[2022-04-26 15:56] sirbrillig opened #63058 "Postal code remains in checkout data store when setting country without postal codes"
To reproduce:

- Add a product to your cart and visit checkout.
- In the contact/billing section, enter a country which has postal codes (eg: 'United States') and a valid postal code (eg: '10001'). Press Continue.
- Click to edit the contact/billing section again, and change the country to one that does not have postal codes (eg: 'Macau'); the postal code field will disappear. Press Continue.
- No

[2022-04-26 15:58] blackjackkent commented on #62668
Good question. 🤔 How are we addressing this in the existing Gutenboarding code?

[2022-04-26 16:06] JoshuaGoode commented on #41428
Overall, this should be resolved in the context of the original issue.

Essentially Atomic sites use Atomic site meta now for their Calypso storage indicator, not `Site Upload Space Quota`, `max_storage_bytes`, `storage_used_bytes`.   That's only used for VideoPress uploads on Atomic.

I'd need to test, though.

[2022-04-26 16:13] #62828 closed, assigned to sirbrillig

[2022-04-26 16:39] escapemanuele opened #63059 "Help Center: Add More resources"
### What

We need to add the `More resources' section:
![image](https://user-images.githubusercontent.com/52076348/165349853-f2237e50-c120-40ee-bb01-6e0e1fdf7776.png)

Objects that need to be added can be found at the bottom of https://wordpress.com/help

![image](https://user-images.githubusercontent.com/52076348/165350044-de562b3c-8ef2-4606-8f94-20e1ef3d07f5.png)

[2022-04-26 16:42] escapemanuele opened #63060 "Help Center: Add help-center entry point to Checkout"
We need to add the help center icon in the navbar in checkout (`https://wordpress.com/checkout/YOUR_WEBSITE.wordpress.com`)

Also, the help center needs to be aware of it and present contextualized resources.

[2022-04-26 16:55] jjchrisdiehl opened #63061 "[Bug]: Payments Block - Admin email unsubscribe page is outdated/broken"
### Quick summary

The Payments block, formerly Simple Payments, will send email updates to the address associated with the block's Stripe connection notifying them of recent payments received. This email has an unsubscribe link that appears to work as intended, but, the unsubscribe page that the customer is redirected to has a few flaws:

- Apparently, the resubscribe button does not work as expe

[2022-04-26 17:03] dpasque opened #63062 "FSE Template Parts: On mobile viewport, long usernames run over "actions" button"
### Quick summary

In the Template Parts list in the FSE, if you have a longer username, it will run over the three-dots "actions" button on mobile viewports.

The button is still clickable, it's just hard to see.

![Screen Shot 2022-04-26 at 11 51 45 AM](https://user-images.githubusercontent.com/26772342/165354109-945ed552-068b-4606-abab-37978884c1e6.png)

### Steps to reproduce

1. Go to the sit

[2022-04-26 17:26] jeyip commented on #62411
@vykes-mac and I are planning to work on this

[2022-04-26 17:37] sirbrillig commented on #62813
From discussion:

1. From what we know, [not supporting biennial Pro plans is intentional](pdgrnI-jS-p2#comment-583), although that would neatly solve this.
2. Since we don't support upgrades with term downgrades, the system is working as intended and this is not a bug.
3. This option is not available to users but an HE can fix this by either changing a user's plan directly to Pro or by changing t

[2022-04-26 17:39] masperber commented on #61392
33280681-hc another issue with a 463 area code not being accepted as a 2FA method

[2022-04-26 17:48] sirbrillig commented on #63020
Discussion: this needs to be fixed at the very least inside the coupon admin tool. Either we need to disallow Jetpack products from creating term-specific coupons there, or we need to make it so that Jetpack can create term-specific coupons.

Generally @Automattic/martech deals with this tool, so we'll see if they can fit this in to their schedule.

[2022-04-26 17:49] Gustavo-Hilario commented on #62788
Another case on 35292375-hc

[2022-04-26 17:51] bobmatyas opened #63063 "[E-mails] [New post] RTL subscription emails sent LTR aligned"
### Quick summary

Since the redesign of subscriptions, new post emails sent in Hebrew (Right to Left) are sent Left to Right

### Steps to reproduce

1. Set blog language to Hebrew
2. Add Hebrew language content to post
3. Observe that new post email is sent with improper text direction

### What you expected to happen

Emails should respect proper RTL/LTR direction based on site's language setti

[2022-04-26 18:19] griffbrad commented on #61392
Submitted a patch upstream that should address this problem:
https://github.com/AfterShip/phone/pull/291
Once merged, we'll bump Calypso to the new version and update this issue.

[2022-04-26 18:49] kathrynwp opened #63064 "Paying for WordPress.com products: provide option to save payment method"
### What

User was upset to discover that their credit card details had been saved without their active consent. They asked us to consider making it opt-in at the time of purchase.

### Why

Customers may be surprised to have a charge made on their card if they did not explicitly opt in to using that card for future purchases.

### How

35292704-hc

[2022-04-26 18:54] tvolpert commented on #62788
Another one here: 35293158-hc

[2022-04-26 20:11] sixhours opened #63066 "Anchor.fm - Audit Tracks events for parity with old `/new` flow."
Similar to #62713, we should ensure any Tracks events for the Anchor.fm flow are still firing in the stepper framework, with the same event names and props.

[2022-04-26 20:16] that-mike-bal opened #63067 "Marketplace Landing Pages"

[2022-04-26 20:30] nicolynramos commented on #51540
Another report here: 35128024-hc. Workaround helped but very inconsistent after, had to upload multiple times before it would take.

[2022-04-26 20:38] that-mike-bal opened #63069 "Marketplace Phase 2"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-04-26 20:56] autumnfjeld commented on #62369
Adding some requests from this post from @that-mike-bal 👍  pbxlJb-1Ga-p2#comment-1480

*  basic cropping/focal point adjusting tools when uploading photos
* It would also be great to be able to drag and drop multiple photos for uploading in the tool. I think editing them one by one is fine but from a workflow standpoint, most people will download several from a site and then go to upload them.

[2022-04-26 21:01] that-mike-bal commented on #62369
It would also be great if there was a way to "fork" or duplicate an image so we could have multiple versions. That would also require some kind of logic for knowing

- When to pull which variation - maybe orientation for now
- Not using multiple variations of the same image when populating a recipe

[2022-04-26 22:12] lsl commented on #62912
Is there a way to find out how many people leverage this? I would rather not take something useful away from people if we can help it, even if this code is very hard to maintain going forward.

I was wondering if we could, as an alternative, split the code base a bit and run with a bunch of duplication. That approach would lock in `/plugins (nosite)` pretty much as is but let us iterate on a new p

[2022-04-26 22:17] csabarakasz commented on #62995
@formosattic Thank you for your reply and research. I can confirm that 372-2 was untitled. This might be the reason.

I am not sure what happened with the other Title because it seems to be pointing to root, so maybe the Home page, which did have a title.

I have a title to all my posts/ pages, test subscribed again and the issue still persisted, but that might be because of site cache.

Also, I n

[2022-04-27 02:22] ha-eun-park opened #63074 "Blank Canvas: Archive page only showing one post without title"
### Quick summary

When using the Blank Canvas theme, the **Posts** page only displays the content of one post, without titles.

<img width="1536" alt="Screenshot on 2022-04-26 at 19-02-58" src="https://user-images.githubusercontent.com/96960321/165425793-95b8b925-57a0-4ff9-b291-97d61dab8e0b.png">

When the site is first created, the homepage displays the latest posts correctly. However, when a ne

[2022-04-27 02:46] rw-ye commented on #62987
Another user report here:
5171006-zd-woothemes

Theme: Twenty Sixteen

I could also reproduce on my own test site using a different theme: Toujours

[2022-04-27 03:29] hgwaltney commented on #60875
Another request/report: 5170707-zen

[2022-04-27 05:05] autumnfjeld opened #63076 "i18n Verticals List API & UI"
# Description
Note: We will ship MVP to English only users, but soon after ship to all languages.

<img width="1143" alt="image" src="https://user-images.githubusercontent.com/5665959/169082560-5211a44d-be56-4ac7-a5a4-fbe097e7fc30.png">

The foundations of the v13n UI & API are now in place. See CfT pbxlJb-1Fl-p2 for background) and now we can begin work on these features for i18n.  This could get

[2022-04-27 05:17] #62899 closed, assigned to miksansegundo

[2022-04-27 06:22] Greatdane opened #63078 "FSE: Site Editor page title incorrect in Calypso"
### Quick summary

When you load the site editor on a simple site/in calypso the page title (what you see in the browser tab) shows incorrectly, it is labeled as 'new' rather than 'site editor'

This just happens on Simple sites as Atomic sites are directed towards `wp-admin` page, while simple stays as `https://wordpress.com/site-editor/SITENAME`

Calypso;

<img width="911" alt="Markup 2022-04-27

[2022-04-27 06:44] bangank36 commented on #60523
Diff D79572-code

[2022-04-27 06:50] aisajib commented on #62788
Ran into it here: 35143390-hc

The site didn't even have Gutenberg installed for some reason. Running `plugin symlink gutenberg --activate` in CLI fixed the issue.

[2022-04-27 06:54] sanjeev00733 commented on #62788
Another one in #35298623-hc

[2022-04-27 07:52] mashikag commented on #62996
Hey @formosattic ! 👋  Can you help me with identifying the subscriber username from your example? It does not seem to be "Oo Long". I just want to make sure the user has actually custom image gravatar. I was not able to repro the issue for "New subscriber" email, despite being able to repro the issue with post liked email notification.

<img width="626" alt="Screenshot 2022-04-27 at 09 51 09" src=

[2022-04-27 08:01] lsl commented on #58898
Just came across this while searching for something else, this might need reprioritizing or could be closed out?

[2022-04-27 08:17] simison opened #63081 "[Bug]: Crowdsignal blocks appear uncategorized"
### Quick summary

When opening site editor (e.e. `https://wordpress.com/site-editor/SITE`), I see warnings at console:

<img width="760" alt="image" src="https://user-images.githubusercontent.com/87168/165473086-e21c8849-a8f9-4bda-8053-4280d746ac93.png">

When opening block sidebar, I see all the blocks as uncategorized:

<img width="337" alt="image" src="https://user-images.githubusercontent.com

[2022-04-27 08:45] cintacks opened #63082 "Slideshow Block incorrectly calculating height"
### Quick summary

The Slideshow Block height is too high on specific pages (could be site-specific). Could be an issue with the number of gallery images - seems to be affects by positioning of pagination controls.

### Steps to reproduce

1. Go to https://uknorthwalesholidayrentals.co.uk/abi-horizon/
2. Remove `display:none` for .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_pagination.s

[2022-04-27 08:58] BogdanUngureanu opened #63083 "Dotcom Marketplace Onboarding: Add "Product Bundles" to the Dotcom Marketplace"
We'll pick the **[Product Bundles](https://woocommerce.com/products/product-bundles/)** extension from the Phase 2 of the punchlist(TBD).

**FG page with all the instructions - PCYsg-AhC-p2**

Here are 2 examples (one from Bespin and one from Explorers) of recent integration works:
https://github.com/Automattic/wp-calypso/issues/62302
https://github.com/Automattic/wp-calypso/issues/62311

It might

[2022-04-27 09:02] KokkieH commented on #45586
Another report in https://wordpress.com/forums/topic/importing-from-wix-3/?view=all

[2022-04-27 09:05] p-jackson commented on #53626
Thanks @roo2 I only just checked this! Good to see that hypothesis came to something! Next up I'll make a diff that consistently uses the same method during launch: either always use the blog id parameter, or always use the "current blog". Rather than using a mixture of both ways to apply the change to the site.

[2022-04-27 10:07] Robertght commented on #62882
Thank you for reporting this @druesome ! I'm closing it in favor of this one: https://github.com/Automattic/themes/issues/5894

[2022-04-27 10:07] #62882 closed, assigned to nobody

[2022-04-27 10:24] Robertght commented on #63007
It looks like the user switched to Baskerville 2.

I tried to replicate this but I wasn't able to in the end. I believe this may have been a combination of colors/settings or a plugin causing this, but I know we also have this which is slightly related:

https://github.com/Automattic/themes/issues/3480

I'm going to close this one for now as the theme is also retired.

[2022-04-27 10:24] #63007 closed, assigned to nobody

[2022-04-27 10:37] Robertght commented on #63011
Thank you for reporting this @galakhyati! I believe this could be related to this one: https://github.com/Automattic/wp-calypso/issues/62755

@Addison-Stavlo I can see the error message is slightly different therefore I'm not if we should close this one in favor of the above.

Also, I noticed Nic opened a new report about this inconsistency regarding FSE for some non-FSE themes: https://github.com

[2022-04-27 10:49] lsl commented on #62912
I think I saw this today, wild speculation, don't quote me:

Looked like a problem with infinite scroll (or at least the code that loads search results) or the wordpress.org api responses themselves.

Search requests were spamming the network log in one instance and in another the page just locked up (probably making requests).

Could it be something like the request is slow so calypso re-tries be

[2022-04-27 10:49] ivan-ottinger commented on #63053
Thank you for the report. I have added the issue to our project board and will investigate it further.

The root cause will be likely similar to an issue we had with "Comment moderation" email template which we fixed in D79214-code#1649763.

[2022-04-27 11:01] Robertght commented on #62822
Thank you for reporting this @zdenys! @Automattic/serenity is this something that could be done from your side of things?

[2022-04-27 11:21] arthur791004 commented on #63006
Close as it's shipped 🚢

[2022-04-27 11:21] #63006 closed, assigned to arthur791004

[2022-04-27 11:29] tellyworth opened #63090 "Editor: Errors embedding Tumblr posts"
I'm unable to embed some Tumblr posts in wordpress.com posts. The problem seems limited to specific sites (perhaps only one). It produces console errors and the editor becomes unresponsive.

#### Steps to reproduce

1. Start a new post at https://wordpress.com/post on a test site
2. In the content, post the URL `https://bookshelfporn.com/post/70949053173` or `https://bookshelfporn.com/post/5999634

[2022-04-27 11:39] ivan-ottinger opened #63091 "[E-mails] [New post] Post content is stretched wide in some cases"
### Quick summary

There's a report of post content being stretched wide in the "New Post" email template when displayed in some email clients, mostly the Mail app in macOS. So far, the issue was reported by one user only and it looks like the root cause is in one of the elements in the post content.

Details: pdDOJh-fZ-p2#comment-222 (original report)

### Steps to reproduce

It is not yet clear

[2022-04-27 12:28] nagpai commented on #53424
It looks like the embeds are working correctly when I tested. I seem to see it in the editor as well.

However I am keeping this issue open, since we have a user case where the front end starts showing `bad request` intermittently.

In one of the cases I added `&nd=1` at the end of the URL within the block settings and then it started working.

5169089-zen

[2022-04-27 13:28] mashikag commented on #62996
The email notifications for Likes were addressed and fixed in D79542-code.

@formosattic please confirm whether you are able to reproduce the missing gravatar image on the "New Subscriber" notification email, or whether perhaps the subscriber user used in [your report](https://github.com/Automattic/wp-calypso/issues/62996#issuecomment-1109566222) did not have any gravatar image.

[2022-04-27 13:52] #62280 closed, assigned to WBerredo

[2022-04-27 14:55] #62578 closed, assigned to WBerredo

[2022-04-27 15:02] #63027 closed, assigned to nobody

[2022-04-27 15:12] mreishus opened #63101 "Flaky E2E: specs/onboarding/signup__wpcc.ts: Signup: WordPress.com WPCC: Signup via /start/wpcc"
### Spec file

specs/onboarding/signup__wpcc.ts

### TeamCity ID

_No response_

### Logs

https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Pre_Release/7807456?showRootCauses=false&expandBuildChangesSection=true&expandBuildTestsSection=true&showLog=7807456_2106_296.2084.2086.2087.2104&logFilter=debug

![2022-04-27_10-01](https://user-images.githubusercontent.com/937354/165551372-85b

[2022-04-27 15:21] kettultim opened #63102 "Exclude featured images from lazy loading [Dara Theme]"
### What

In the Dara Theme, the slideshow powered by featured images should not be lazy loaded by Jetpack.

Example: https://shottr.cc/s/73Mf/SCR-20220427-meqp.png

### Why

Lazy loading the featured image slideshow creates a dark image flash/blank image (on slower connections) when first loading the site. This was easily replicable on my test site by:

1. Add a post with a large featured image
2

[2022-04-27 15:32] creativecoder commented on #53953
Testing with Safari 15.4 with "Prevent cross-site tracking" on, I'm not able to immediately reproduce this either.

Please let us know if users are still seeing the bug.

[2022-04-27 15:38] mashikag commented on #63001
The issue was reported more than once:
- 4961613-zd-woothemes
- 4961553-zd-woothemes
- 5162594-zd-woothemes

[2022-04-27 15:44] Addison-Stavlo commented on #57739
In testing the footer credit setting from the customizer is correctly applied to the front-end. I believe this was updated in wpcomSH and has resolved this discrepency.

[2022-04-27 15:44] #57739 closed, assigned to nobody

[2022-04-27 15:49] Addison-Stavlo commented on #57880
👋  Sorry for the late reply here, but we did add an "FSE" card to the blog-RC to tell whether or not FSE is active:

![Screen Shot 2022-04-27 at 8 49 14 AM](https://user-images.githubusercontent.com/28742426/165559255-7e300985-9e73-433b-a4c1-115f8b446377.png)

It lives near the bottom of the RC on the right hand column.

[2022-04-27 15:49] #57880 closed, assigned to nobody

[2022-04-27 15:51] #57159 closed, assigned to nobody

[2022-04-27 15:58] Addison-Stavlo commented on #53953
I am no longer seeing the cookie banner on my new FSE sites.

Im going to close, but if this does happen to remain an issue I expect the upcoming iframe removal will resolve (as noted in the original description)

[2022-04-27 15:59] Addison-Stavlo commented on #54768
I am no longer seeing the cookie banner on my new FSE sites.

Im going to close, but if this does happen to remain an issue I expect the upcoming iframe removal will resolve (as noted in the original description)

[2022-04-27 15:59] #54768 closed, assigned to nobody

[2022-04-27 16:02] Addison-Stavlo commented on #53953
Since we can no longer repro, haven't seen a report for 4+ months, and have [other fixes noted](https://github.com/Automattic/wp-calypso/issues/53953#issuecomment-1111145947) for this broswer specific issue:

I am going to close this. Please feel free to reopen if users are still seeing this bug.

[2022-04-27 16:02] #53953 closed, assigned to nobody

[2022-04-27 16:06] JoshuaGoode opened #63106 "FSE / Atomic: Theme paths sometimes fail to transform on transfer, can break references to Header and Footer template parts"
### Quick summary

**_Additional testing is necessary to determine if this is intermittent or consistent._**

**_A workaround is available, see below._**

**_a11ns, see p9F6qB-9aB-p2#comment-46790 for extended notes and details._**

---

When Simple sites go Atomic, we attempt to update theme paths in the DB ( r225839-wpcom / D60384-code ).

However, this does not always work as expected and some

[2022-04-27 16:15] lakellie commented on #63029
Another user report in 5172602-zen

[2022-04-27 16:26] JoshuaGoode commented on #63106
I've reproduced consistently so far.  It continues to only impact certain templates such as Home and Page on my sites using Blank Canvas.

However, this may be a race condition.

[2022-04-27 16:41] mashikag opened #63111 "[E-mails] Horizontal margin/padding is not applied correctly on mobile gmail client."
### Steps to Reproduce

Open any of the notification emails using the new email template in gmail client on a mobile device.

### A clear and concise description of what you expected to happen.

To have less horizontal padding on mobile view, just like in Apple Mail.

### What actually happened

Same amount of horizontal whitespace was applied as on desktop view.

### Other information

Brought up

[2022-04-27 16:43] anuguywp commented on #54913
Played into 4928969-zd-woothemes that was referenced by @daria2303, wanted to add that going to the post and liking it from there does the same thing

https://user-images.githubusercontent.com/92202095/165575665-3426980b-063a-48ca-8b1f-bd2fd9a8a842.mp4

.

[2022-04-27 16:59] mxhassani commented on #50740
Similar case here: 30792949-hc
The simple site workaround helped.

[2022-04-27 17:03] thekingsprojects commented on #62788
Another case in 35304953-hc . Reactivating Gutenberg fixed it.

[2022-04-27 17:11] JoshuaGoode commented on #63106
@creativecoder identified issues with a regex query, p9F6qB-9aB-p2#comment-46829

[2022-04-27 17:31] #63059 closed, assigned to escapemanuele

[2022-04-27 17:57] Rolilink commented on #62912
Doing some queries against the tracks database maybe! Querying users that have triggered the `calypso_plugin_install_click_from_sites_list ` and doing a unique count through users ids? we will have to check if they are non a11n.

[2022-04-27 18:00] thekingsprojects commented on #62791
Another case here: 28524806-hc (follow-up 5172767-zen)

Noticed that the constant flickering seems to be worst in Google Chrome (which this user was using); changing the size of the carousel didn't stop it (it was already size S). I haven't seen the flickering in Firefox, but the broken grid is still there.

[2022-04-27 18:01] ianstewart opened #63113 "Woo Flow: Button styles misaligned"
These buttons …

![image](https://user-images.githubusercontent.com/545779/165590407-d4a49ba7-6c1a-47a6-a4a0-51f91ab1a4d3.png)

Are missing spacing between them on this screen …

![image](https://user-images.githubusercontent.com/545779/165590354-f93df338-ce1d-47a7-9f51-782a65b0f2bf.png)

[2022-04-27 18:02] Rolilink commented on #62912
There is some usage:

![Screen Shot 2022-04-27 at 1 00 45 PM](https://user-images.githubusercontent.com/1035546/165590435-494a1cf8-58c9-45a1-bd9b-4dc420afc674.png)

[2022-04-27 18:18] renata-franco commented on #58786
Hello there. I worked with the user from [this chat](33620567-hc) today and it looks like the issue is that they had the Gutenberg plugin deactivated. Once I activated the pages can be created once again.

[2022-04-27 18:23] jeyip commented on #60932
@arinoch @Jaccuse tested on dotcom and this should be fixed now

[2022-04-27 18:31] mashikag commented on #63001
Today I investigated a bit into the 4961553-zd-woothemes issue. I tried to reproduce what the user has experienced but to no avail.

I ran a script to send myself a "New Post" email from the user's site for the exact same post as can be seen in the user's report. However all the logos were correctly displayed to me.

See my note on the 4961553-zd-woothemes ticket itself for more descriptive explan

[2022-04-27 18:36] griffbrad commented on #61392
Fixed in #63104.

[2022-04-27 18:36] #61392 closed, assigned to nobody

[2022-04-27 19:14] villanovachile commented on #63001
Regarding 5162594-zen. Thanks for looking into this and catching that! I re-uploaded the site icon in the customizer, and it is now displaying properly in Calypso, and pulling from the correct domain (not *.wpcomstaging.com).

Does anymore testing need to be done on this site, or shall we conclude that this issue for the user should be resolved?

[2022-04-27 19:30] mashikag commented on #63001
I think the issue for the user in zen desk can be resolved, if that is what you are asking about @villanovachile. 😅

However this issue should still remain open as it affects more than one user, and it is still not clear what is causing the issue. It is very likely other users will experience same issue in the future too until it is resolved the proper way.

[2022-04-27 19:33] villanovachile commented on #63001
@mashikag sorry just to clarify, it sounds like the there were two separate issues going on here:

1. The site icon was broken in Calypso due to caching of the site icon when switching primary domains.
2. The site icon is currently broken for some users in the outgoing emails (possibly unrelated to issue #1).

With regards to this specific user, issue #1 has been resolved, however, issue #2 is lik

[2022-04-27 19:40] sixhours commented on #62713
Posted here: paYKcK-1AT-p2

[2022-04-27 19:40] #62713 closed, assigned to sixhours

[2022-04-27 19:47] kathrynwp opened #63115 "FSE: User unable to edit templates or add new ones"
### Quick summary

A user is not able to edit templates or add new ones.

### Steps to reproduce

I've **not** been able to reproduce while in the user's account; I was able to add a template called "test template" to their site and edit it.

In two different browsers, they get JavaScript errors when trying to edit a template or add a new one.

Here's an example of errors they saw in Chrome when t

[2022-04-27 19:52] edequalsawesome commented on #63115
For context, I duplicated this in Firefox (100.0b9) and Chrome (100.0.4896.127)

I had different errors than the user, though!

![JavaScript Errors](https://user-images.githubusercontent.com/4000628/165619856-bfa9130d-852a-488e-abcd-3eb149bc0b73.png)

[2022-04-27 20:45] KirkwallDay commented on #62987
Another instance here: 34536599-hc

[2022-04-27 21:01] #62411 closed, assigned to jeyip, vykes-mac

[2022-04-27 21:30] creativecoder commented on #63106
Attempting a fix in D79640-code

[2022-04-27 21:51] creativecoder commented on #63106
Fix has been deployed.

[2022-04-27 21:52] Addison-Stavlo commented on #54467
Closing this since we have the help-center/welcome-tour project ramping up and are tracking elsewhere.  paYE8P-1xk-p2

[2022-04-27 21:52] #54467 closed, assigned to nobody

[2022-04-27 21:55] creativecoder commented on #63106
For anyone that runs into this and the site is already transfered, you can easily fix it by doing the following

- Open the Site editor
- Select the "Code editor" view from the "Options" menu (three dots in the upper right)
- Look for the Template Part block, ``
- Remove the `pub/` or `premium/` prefix from the theme slug, e.g. change `pub/remote` to `remote`
- Repeat for any other template parts

[2022-04-27 21:55] ianstewart opened #63117 "Signup: Long passwords overlap eye icon"
#### Steps to Reproduce

1. Open https://wordpress.com/start/ in a logged out browser
2. Enter a password whose length exceeds the width of the password field

#### Result:

![image](https://user-images.githubusercontent.com/545779/165637690-75a327b6-71d5-495b-973b-efa597159ae4.png)

[2022-04-27 22:40] Addison-Stavlo commented on #58786
Closing this as duplicate in favor of https://github.com/Automattic/wp-calypso/issues/62788

[2022-04-27 22:40] #58786 closed, assigned to nobody

[2022-04-27 22:50] Addison-Stavlo commented on #62788
From the code side this seems to be deeper than the starter page templates. It seems the welcome-tour store may not be initializing on atomic sans Gutenberg. You can notice nothing happens when you select "Welcome Guide" from the top toolbar ellipses menu in this state. With gutenberg disabled, it silently fails. With Gutenberg enabled, it works fine.

Looking at the error from these starter page

[2022-04-28 00:02] jjchrisdiehl commented on #50064
Circling back to this, this issue is a bit sticky.

I've identified three areas that handle the price creation separately, all three pass in the price and currency and then construct the layout within React.

[Purchases section](https://github.com/Automattic/wp-calypso/blob/f94ff293bdff7327ca791e20f276828fb8756899/client/my-sites/plan-price/index.jsx#L98-L99) `<PlanPrice>`

![image](https://user-i

[2022-04-28 00:35] noahtallen commented on #62788
Copy/pasting another comment here: @p-jackson found that when you register a script, but WP can’t find one of the requested dependencies, it fails to load the script. Wpcom NUX seems to rely on a script that isn’t present when gutenberg is deactivated (wp-react-i18n). So the next step would be figuring out if we can get wpcom-nux to stop relying on that script since there’s no guarantee that our p