[2022-07-04 04:58] p-jackson opened #65181 "Sites Management Dashboard: navigate to dashboard from the "All My Sites" button in the Calypso sidebar"
Users will eventually access the sites management dashboard via the "All My Sites" button in the site switcher that appears in the Calypso sidebar.

![Image](https://user-images.githubusercontent.com/1500769/177084207-15ce1626-9aee-44e2-92fe-f5b19a8b37fd.gif)

We will be launching the dashboard to customers as a separate task, so initially this will be behind a feature flag.

Depends on https://gi

[2022-07-04 06:55] p-jackson opened #65183 "Sites Management Dashboard: allow user to return to dashboard after clicking "New site" button"
The "New site" button added in https://github.com/Automattic/wp-calypso/pull/65182 takes the user from the dashboard to the site creation flow. But the button in the top left of the flow that's supposed to return the user to where they came from isn't taking the user back to the dashboard.

<img src="https://user-images.githubusercontent.com/1500769/177098841-55aa4b67-5611-4171-8f2c-cd2d97725563.p

[2022-07-04 07:10] dzver commented on #63644
Tagging @bubel because he contributed to this work and might be the best to check it out.

[2022-07-04 07:35] syhussaini commented on #65082
I just played into this ticket and asked them to ensure they are not using any VPN when trying to make the payment to isolate the issue. see 5335014-zen for further notes.

[2022-07-04 07:39] ivan-ottinger commented on #64996
https://github.com/Automattic/wp-calypso/pull/65124 is now deployed → Closing this issue.

[2022-07-04 07:39] #64996 closed, assigned to ivan-ottinger

[2022-07-04 07:51] rinazrina opened #65184 "Unable to delete videos from Media library on Private Atomic sites"
### Quick summary

When an AT site is on Private mode, deleting videos keeps failing. Deleting from Calypso doesn't do anything, and deleting from WP-Admin throws an error.

This only occurs on Atomic sites.

Deleting the video is working when the site is set to Public or Coming Soon.

### Steps to reproduce

1. On an Atomic site, go to Settings > General > Privacy > set the site to Private
2. Go

[2022-07-04 08:00] autumnfjeld opened #65185 "Add hotjar and fullstory scripts to all onboarding screens."
# Description
a8c has a hotjar account to see how users interact with UI screens, and I'd like to use this to look at the new onboarding screens.  As far as I understand ( p1656921618725409/1656401763.910439-slack-CRNF6A9DX) hotjar scripts need to be added to pages, to new stepper framework.

Here's an example of a working heatmap on wordpress.com landing page
<img width="904" alt="image" src="htt

[2022-07-04 08:15] mmtr opened #65186 "Lack of Atomic revert warning before cancelling a marketplace plugin"
### Quick summary

We should display a warning before proceeding with the cancellation of a marketplace plugin that would cause the Atomic site to be reverted to Simple, like we do when a user tries to cancel a plan that would trigger an Atomic revert.

This is what we display right now when cancelling the last marketplace plugin:
<img width="500" alt="Screen Shot 2022-07-04 at 10 05 38" src="http

[2022-07-04 08:26] lsl commented on #65184
@panos, wondering if this is a similar issue to what you fixed in D82754-code?

[2022-07-04 08:45] #56161 closed, assigned to StefanNieuwenhuis, escapemanuele

[2022-07-04 09:18] arcangelini opened #65187 "Task: Deprecate v1.1 endpoints `help/tickets/mine` and `help/olark`"
### Details

With the release of the new V2 endpoint D83399-code we now need to update the V1.1 endpoints to reflect these changes and clean up any loose ends.

### Checklist

- [ ] Deprecate the endpoints by adding notes
- [ ] Upgrade the logic to use the new class
- [ ] Create tests for the helper script and endpoint.

### Related

_No response_

[2022-07-04 11:11] mmtr commented on #65151
Created D83634-code to solve this.

[2022-07-04 11:58] jorpdesigns opened #65192 "VideoPress: Upgrade prompt still appears on atomic sites."
### Quick summary

Even though VideoPress is included by default on atomic sites, there is still an upgrade prompt visible in Jetpack performance settings.

I was able to reproduce on Business, eCommerce and Pro atomic sites. I couldn't reproduce on simple sites (i.e. Premium and simple Business plans) as Jetpack performance settings are inaccessible.

Slack thread: p1656925986266089-slack-C03TY6J

[2022-07-04 12:03] mpkelly commented on #53805
Hi @the-misha! I have tried to reproduce this issue just now without success. I was using macOS Monterey and tried Chrome and Firefox. Can you retest it and let me know if there is a problem? Given the timeframe, I think it might have been fixed already.

Apart from the bug, I noticed a couple of other issues:

1. When there is a lot of content in the Calypso Sidebar, after you scroll down to **Se

[2022-07-04 12:41] louinel commented on #50306
Another case here: 5346943-zd-woothemes

[2022-07-04 12:48] mpkelly commented on #49848
Hi @worldomonation, I have tried reproducing this using the steps you added. I couldn't send a second invite because of a validation check.

![image](https://user-images.githubusercontent.com/6851384/177157929-3e9bb072-64fb-4939-b30e-623c6f940bfe.png)

So it looks like it's fixed already. Can you retest and close it if you're happy with the current solution?

[2022-07-04 12:58] mzorz opened #65193 "Removing a block(s) with keyboard selection + backspace/delete does not reflect on preview or publish"
### Quick summary

Basically, there’s a draft post I was working on on our team’s p2 and it had a block I wanted to remove. I try removing it by deleting the words (i.e. using backspace)  and then hit save -> preview. The block is still there. See` p1656926868073789-slack-gutenberg-on-dotcom`

EDIT: another person said to have observed the same thing. See `p1656925260500609-slack-C010KDAPG49`

###

[2022-07-04 13:32] mmtr opened #65194 "Limited Atomic post-revert emails have incorrect wording"
### Quick summary

After automatically reverting an Atomic site when a user cancels the last purchase that supports the Atomic feature, we send an email notifying that the revert has been completed.

This email assumes that (1) we have deactivated a plan, (2) the site is now on a Free plan, and (3) it can restores a backup. All of them are wrong when cancelling a marketplace plugin from an Atomic

[2022-07-04 13:48] Copons opened #65195 "Marketplace: Add Mailpoet"

[2022-07-04 13:48] Copons opened #65196 "Marketplace: Software installation should not treat warnings as errors."

[2022-07-04 14:20] gcsecsey commented on #63903
This issue might still be blocked by some meta fields not being synced: pdh6GB-Ax-p2#comment-2104

[2022-07-04 14:28] vindl opened #65197 "Sites Management Dashboard: technical exploration of Jetpack's dashboard"
Let's investigate the [cloud.jetpack.com](cloud.jetpack.com) dashboard to determine if their approach to loading sites can be extended to fit our use case. This would mainly entail expanding it to work with simple sites.

We should compare it with the existing way of loading the site data in Calypso and weigh the trade-offs. Feel free to propose another solution/alternative if you have more ideas.

[2022-07-04 14:33] cpapazoglou commented on #64838
Temporary Workaround: Re-add the subscription with the previous expiry date.

[2022-07-04 14:43] #64628 closed, assigned to nobody

[2022-07-04 14:55] #65028 closed, assigned to mreishus

[2022-07-04 14:59] vindl opened #65198 "Sites Management Dashboard: restore the ability to connect a Jetpack site"
We had the ability to connect a Jetpack site from Calypso, but that has been removed since. Let's explore the option of adding it back as a continuation of `+ New Site` efforts in the dashboard.

Check this comment and discussion above for more details: pbNhbs-1Yo-p2#comment-9228

cc @SaxonF

[2022-07-04 15:24] mpkelly commented on #51996
Hi @DavidRothstein! I am taking a look at this one now.

Regarding your remark "but the problem is that auto-renew actually is on" above, which system are you referring to, and is the status reflected somewhere in the data available in Calypso?

I checked through the code and can see this toggle still using the negated value of `isExpiring` which you last changed in 2019:
![image](https://user-ima

[2022-07-04 15:39] wojtekn opened #65199 "AMP: Disable AMP on 10% of existing simple sites"
### Details

Once AMP has been disabled for all new sites in #64002 and disabled for 2% in #64003, we want to disable it for more sites.

### Checklist

- [x] Update AMP eligibility logic so that 10% of "old" sites can't use AMP

### Related

See project thread: pdKhl6-48-p2

[2022-07-04 15:40] wojtekn commented on #65199
It's done D83635-code

[2022-07-04 15:42] wojtekn opened #65200 "AMP: Disable AMP on 50% of existing simple sites"
### Details

Once AMP has been disabled for all new sites in https://github.com/Automattic/wp-calypso/issues/64002, disabled for 2% in https://github.com/Automattic/wp-calypso/issues/64003, and disabled for 10% in https://github.com/Automattic/wp-calypso/issues/65199, we want to disable it for more sites.

### Checklist

- [x] Update AMP eligibility logic so that 50% of "old" sites can't use AMP

[2022-07-04 15:46] #65199 closed, assigned to wojtekn

[2022-07-04 15:48] cpapazoglou commented on #64972
@emmnyc85 I believe we should only target the following segments?:
- free plan
- starter plan

[2022-07-04 15:57] emmnyc85 commented on #64972
Correct, @cpapazoglou. Let's aim for 7/13 launch as that's a week after the product change occurs, and we want to ensure it functions effectively first

[2022-07-04 16:08] andres-blanco commented on #63704
This will probably be included in release 6.8 on August 9. https://github.com/woocommerce/woocommerce/issues/33267#issuecomment-1170872005

[2022-07-04 16:17] andres-blanco commented on #65133
Context: paYKcK-1yx-p2

[2022-07-04 16:28] sirbrillig commented on #53356
We need to also make sure that however we do this it supports logged-out purchases like Jetpack checkout.

[2022-07-04 16:36] andres-blanco commented on #65110
We should figure out how syncing between wpcom <-> github is done currently for public themes.

[2022-07-04 16:51] andres-blanco commented on #65137
After completing this issue we should ping Ian to do a quick test before deploying.

[2022-07-04 16:54] andres-blanco opened #65204 "Seller experience: create funnel to track current premium themes trend"
We should create a funnel to see our current stats on Premium Themes purchases. That way we can measure the impact when we implement the subscription model.

Once the funnel is created it should be added to the FG.

Related to https://github.com/Automattic/wp-calypso/issues/65133

[2022-07-04 17:34] paxblueribbon commented on #57660
Reported in

35979867 - hc
5347868 - zen (followup)

[2022-07-04 17:54] vykes-mac commented on #63210
fixed in this PR https://github.com/Automattic/wp-calypso/pull/65141

[2022-07-04 17:54] #63210 closed, assigned to vykes-mac

[2022-07-04 17:56] gutenberg-plugin-upgrade-bot[bot] opened #65207 "Gutenberg test, please ignore"

[2022-07-04 17:59] worldomonation opened #65208 "E2E: re-enable overhauled Plans specs."
### Details

Undo the changes in https://github.com/Automattic/wp-calypso/pull/64330 as the overhauled Plans revert is on hold pending some more data.

Reference: p58i-cxt-p2

### Checklist

- [ ] re-enable all specs.

### Related

https://github.com/Automattic/wp-calypso/issues/62492

[2022-07-04 18:04] obenland commented on #65151
Is that the case? Looking at the rewind debugger for a Starter plan site that was transferred on June 28, it looks like it does get a daily backup done. 2cd1a-pb/#plain

[2022-07-04 18:05] worldomonation commented on #62492
This project has delivered all of its deliverables - the only thing left is to re-enable the specs that were disabled.

[2022-07-04 18:18] msilbers opened #65209 "Post Excerpt Block: Allow Manual Excerpts"
### What

Right now, it seems that the Post Excerpt block will not use manual excerpts customers set, and so manual excerpts can't really be used on FSE sites.

Our docs do say:

But since this seems true for all FSE themes, it would be great if we had another option here. The More Block would display the beginning of each post and does not make it easy to set a custom excerpt.

### Why

It seems

[2022-07-04 18:41] jamiepalatnik commented on #62755
Another report: 35979045-hc

Edit button on Themes page links to /themes.php?page=gutenberg-edit-site with error "Sorry, you are not allowed to access this page."

Storefront theme. Advised to go to Appearance > Customize to access Customizer instead.

[2022-07-04 18:57] msilbers commented on #65042
- [ ] 5341159-zd-woothemes

[2022-07-04 19:36] #65134 closed, assigned to valterlorran

[2022-07-04 19:38] jamiepalatnik opened #65212 "Edin: Buttons block missing Dimensions section"
### Quick summary

The Buttons block seems to be missing Dimensions section when Edin theme is active.

### Steps to reproduce

1. Activate the Edin theme.
2. Add a Button block.
3. Check block settings sidebar.

### What you expected to happen

The Dimensions section should appear as shown in documentation: https://wordpress.com/support/wordpress-editor/blocks/buttons-block/

### What actually ha

[2022-07-04 20:45] ktyfuller604 commented on #57812
30711073-hc

Using preview from the Posts list page worked.

Firefox: 102.0
Opera: 88.0.4412.53

OS: Windows 10

[2022-07-04 21:03] yansern commented on #63063
This patch is now merged & deployed.

[2022-07-04 21:03] #63063 closed, assigned to mashikag

[2022-07-04 21:13] Jaykame commented on #64037
5347860-zd applied workaround and it works after that.

[2022-07-04 21:23] obenland commented on #65153
It looks like this is another symptom of Starter plans not being eligible for Atomic. #65092 added an exception for it, but that exception gets checked inside that modal, not before it's loaded.

[2022-07-04 21:26] wprhunt opened #65214 "Redirect to WooCommerce -> Home after Woocommerce Bookings purchased (role issue)"
### Quick summary

After the purchase of the WooCommerce Bookings plugin through the WordPress.com dashboard, there becomes a role issue with the WordPress.com user and all links in the wp-admin/ redirect to WooCommerce -> Home (wp-admin/admin.php?page=wc-admin)

### Steps to reproduce

Haven't been able to reproduce yet but my assumption would be:

1. Be on the Pro plan with a new site
2. Purcahs

[2022-07-04 21:47] Gustavo-Hilario commented on #64947
I could also replicate this issue with the `Button 2` theme. If we add several single image blocks on top of each other, the images will be glued with no space below each of them.

Customer report: 5348246-zen
Theme: Button 2

Screenshot:

![Markup on 2022-07-04 at 18:47:00](https://user-images.githubusercontent.com/50875131/177219134-95137031-4a5c-4484-902a-9c9a60428134.png)

Workaround: User the

[2022-07-04 22:00] cuemarie commented on #64967
I just took the following steps:

- SU to the user's site.
- Go to Posts / Pages > Classic Editor.
- Selected "Add New"

The editor opened with the **Visual Editor**, not the Text Editor.

<img width="1227" alt="Markup 2022-07-04 at 14 54 09" src="https://user-images.githubusercontent.com/27249804/177219622-0c28542f-72a2-45e6-8c5d-d75afde22fb9.png">

However, when I select `Classic Editor` underne

[2022-07-04 22:07] obenland commented on #65194
Patch in D83666-code

[2022-07-04 23:51] Greatdane commented on #64967
Moving it back to the triage queue to see if someone else can replicate on their own site.

[2022-07-04 23:53] cuemarie commented on #55549
👍  Similar request here: 5337354-zd-woothemes

User asked "I wanted to ask if you can tell.me what url most of my story downloads are coming from." and mentioned that "Tracking the numbers really helps me know what stories are popular and which are not."

[2022-07-05 00:28] zachspears opened #65216 "Option for spacing inbetween numbered list."
### What

Requested in 5345970-zd-woothemes user is requesting the ability to add a "space" in-between numbered list items. Though I actually think the best implementation of this would be to allow a numbered list to start at a specific number. This way a user could break the list to include another block such as a spacer block or a contextual video, and then continue the list where they left off.

[2022-07-05 01:12] vykes-mac commented on #63082
@cuemarie are you still able to reproduce this issue? I can't seem to repro it. I've tried AT, Simple and Jetpack Site and can't get to break.

[2022-07-05 02:05] lsl opened #65217 "Marketplace: Improve explanation about github release URL"
The FG page lists "Github Release URL" as required information, PCYsg-IFB-p2

There is an explanation provided but it's not entirely clear that we use this release mechanism for plugin installation and updates as a managed atomic plugin.

- [x] Update the release url explanation with more context
- [x] Cross reference PCYsg-IVH-p2 (using the github access token / url) inside the review phase check

[2022-07-05 03:28] ouikhuan commented on #51442
See more details on D83673-code

[2022-07-05 04:42] lsl opened #65219 "Marketplace: Update cats"
As part of https://github.com/Automattic/wp-calypso/issues/64995

Update categories as required, per pdh6GB-1kr-p2, likely:

- [x] Add `live-chat` and `crm` tags to customer service category and rename it to `Live Chat & CRM`.
- [x] Add `Events Calendar` category, see pdh6GB-1kr-p2#comment-2208
- [x] Update Booking & Scheduling category tags, see pdh6GB-1kr-p2#comment-2208
- [x] Rename Education t

[2022-07-05 04:48] kuropixel commented on #52241
- [ ] Also requested in 35880860-hc

[2022-07-05 06:16] jimmy319 commented on #64347
It's very likely that this issue has been fixed by the 1Password plugin.

[2022-07-05 06:21] #51442 closed, assigned to ouikhuan

[2022-07-05 06:23] ouikhuan commented on #64364
It's been deployed and fixed so I'll close the issue for now.

[2022-07-05 06:23] #64364 closed, assigned to ouikhuan

[2022-07-05 06:24] mzorz commented on #65193
Updated the issue description to add:

cc @annemirasol (reporter)

[2022-07-05 06:26] jimmy319 commented on #64277
Related [PR](https://github.com/Automattic/wp-calypso/pull/64931) is merged and deployed to production. The changes have been verified in production.

[2022-07-05 06:39] ouikhuan commented on #64182
We’ve reverted to the mShots implementation so closing this issue.

[2022-07-05 06:39] #64182 closed, assigned to ouikhuan

[2022-07-05 07:14] pauljacobson commented on #64366
We have another report of this issue in 5325894-zen that @sharonlaker19 reported here: https://github.com/Automattic/jetpack/pull/2651#issuecomment-1166438559

It looks like this issue was addressed back in 2015, and seems to be recurring.

[2022-07-05 07:17] lsl opened #65221 "Marketplace: Investigate translation techniques in premium plugins"
In order to understand how to support i18n users in the marketplace we need to know how 3pd's are currently managing translation in the wild. We want to know whether we need to provide auxiliary support through community, machine or paid translation.

We need a general idea about answers to the following questions across multiple plugins from external 3pd's:

- [ ] What languages/locales does the

[2022-07-05 07:25] autumnfjeld opened #65222 "[ON HOLD Prototype: verticalize patterns with images in the Editor pattern inserter"
# Description
This work is proposed in our Ganon post MVP draft

![image](https://user-images.githubusercontent.com/5665959/177273163-77760ab8-8a77-43ef-9efb-5e7d64f2b171.png)

# A/C

[2022-07-05 07:34] #64277 closed, assigned to jimmy319

[2022-07-05 07:35] #64347 closed, assigned to jimmy319

[2022-07-05 07:54] pauljacobson opened #65223 "Non-FSE themes don't support border radius edits in the Image Block"
### Quick summary

A user in 5348907-zen asked for help accessing the border radius feature available in the Image Block. The user's site is using the Intergalactic 2 theme. The option is not available when this theme is active.

The option is, however, available on FSE-enabled themes.

### Steps to reproduce

1. Enable Intergalactic 2 theme on a site (Independent Publisher 2 is another option I t

[2022-07-05 08:14] lsl commented on #65217
Partly explained this internally here PCYsg-IVH-p2 would be good to cross reference this in the submission flow as well. (added task above)

[2022-07-05 08:32] mmtr commented on #65151
Yeah, I noticed that too. Looks like there is a cron job making backups on those sites, and the only restriction was the inability to trigger a one-off backup which is what D83634-code covers.

[2022-07-05 08:38] sudeepbaral commented on #63881
- [ ] Reported in 5348960-zd, the user embedded posts from their own site

Suggested the user to disable Jetpack Lazy Load for Images

[2022-07-05 09:18] #65085 closed, assigned to mmtr

[2022-07-05 09:28] #65151 closed, assigned to mmtr

[2022-07-05 09:37] #65120 closed, assigned to mmtr

[2022-07-05 10:01] edwinho89 commented on #60138
Also reproducible on Karuna theme in 5347358-zd-woothemes

Maybe related to https://github.com/Automattic/wp-calypso/issues/60747 ?

Possible CSS workaround to inherit changes made on editor:

[code]

[2022-07-05 10:33] lsl opened #65228 "Update sms 2fa rate limit error text to match real rate limit"
The error message "You can only request a code via SMS once per minute. Please wait and try again." needs updating to say five minutes instead of one to reflect the real rate limit.

Context: pciE2j-1dS-p2

Parent: https://github.com/Automattic/wp-calypso/issues/64841

[2022-07-05 10:49] dsas opened #65230 "Add Product CSV Import Suite to Marketplace"
https://woocommerce.com/products/product-csv-import-suite/

D83766-code

[2022-07-05 10:50] bubel commented on #63644
Thanks for the ping. I'll take a look.

[2022-07-05 11:11] bubel commented on #63644
This has been resolved.

[2022-07-05 11:11] #63644 closed, assigned to bubel

[2022-07-05 11:22] gmovr opened #65233 "Pricing grid overlaps table in Firefox when setting the top part of the grid to flex"
Related to https://github.com/Automattic/wp-calypso/pull/65188

Setting a flex wrapper works in most browsers (Chrome, Safari, etc.) -- but in Firefox, this causes the top section to overlay the table (see screenshot below).

![Image](https://user-images.githubusercontent.com/52675688/177315916-97c1fab4-7bd5-4674-9a9d-8b1e72b5fe4a.png)

By having this flex container, we can have the call to action

[2022-07-05 11:26] fstath commented on #64324
Another report in the forums:
https://wordpress.com/forums/topic/welcome-message-2/

OS: Windows 10
Browser: Chrome 103

[2022-07-05 12:04] gcsecsey commented on #64574
@SaxonF yep, we can easily use the TextHeighlight component from the '@wordpress/components' package.

I've made a quick proof of concept, eg. searching for woocommerce would result in these highlighted fields:
<img width="1062" alt="CleanShot 2022-07-05 at 14 01 53@2x" src="https://user-images.githubusercontent.com/11555574/177323038-5494d4a7-df24-4f66-a6b4-9c9e39a76c07.png">

What do you think a

[2022-07-05 12:06] cecilearkay commented on #65192
Reported in 35709254-hc

[2022-07-05 12:10] gcsecsey commented on #64574
I've added the POC on the `add/marketplace-search-highlight-poc` branch: https://github.com/Automattic/wp-calypso/commit/3cbde5591f74c1b82a3a109d8712af8469236f5d

[2022-07-05 12:32] #65163 closed, assigned to p-jackson

[2022-07-05 12:39] autumnfjeld commented on #64998
@fushar and @taipeicoder   After talking to @simison today  I fleshed out this issue and we have go ahead on the technical foundations.  Ashar: please make the  research on the API a priority and comment in pbAok1-2WW-p2 as we discussed in Ganon sync.   Mikael can answer questions if you need additional guidance. :)

[2022-07-05 12:42] #64853 closed, assigned to valterlorran

[2022-07-05 12:48] mmtr opened #65235 "Marketplace plugins remain active after cancelling a plan"
### Quick summary

https://github.com/Automattic/wp-calypso/pull/59910 introduced a new mechanism that deactivates all the active marketplace plugins on a site when deactivating the required plan needed for them to work.

However, looks like it only covered the removal flow. When cancelling a plan, the marketplace plugins remain active.

To clarify, we have two deactivation flows:
- **Removal flow

[2022-07-05 12:58] markbiek commented on #64781
@andres-blanco The last thing to do is fix the Typescript errors in [proof-of-concept](https://github.com/Automattic/wp-calypso/tree/poc/stepper-data-store). I wasn't able to get to it last week because of my AFK.

[2022-07-05 13:13] aisajib commented on #57036
We had another report here that might be related to this issue: 5345709-zd-woothemes

@fullofcaffeine would you mind taking a look to see if it's related? The only way to remove the yellow highlight was to remove the code via the Code Editor.

I'm not reopening this bug in case it isn't related.

[2022-07-05 13:44] #63199 closed, assigned to danielbachhuber

[2022-07-05 14:11] vinimotaa commented on #64972
<img width="1215" alt="image" src="https://user-images.githubusercontent.com/97929097/177347807-5912df22-4b8e-4e51-842b-b336a9212a60.png">

Would that be something like this?

@cpapazoglou @emmnyc85

[2022-07-05 14:29] mashikag opened #65237 "Blog RC: Replace 'site_goals' with a constant"
Context: D83215-code#1738462

[2022-07-05 14:33] mashikag opened #65238 "Blog RC: Use "human-friendly" goals' titles instead of goal keys"
Context: p7DVsv-eBD-p2#comment-41232

[2022-07-05 14:35] mashikag opened #65239 "Blog RC: Consider collecting information on when the Goals were updated and then display the information to HEs on the Blog RC"
Context: p7DVsv-eBD-p2#comment-41232

[2022-07-05 14:37] mashikag opened #65240 "Blog RC: Add link to the `Site goals`"
Context: p7DVsv-eBD-p2#comment-41232

[2022-07-05 14:40] mashikag opened #65241 "Redundant scrollbar in Goals Capture screen"
There’s a small scrollbar visible for no good reason on Chrome at popular screen size pdDOJh-sJ-p2#comment-355

[2022-07-05 14:41] mashikag opened #65242 "Loading text when redirecing to DIFM step should not be some irrelevant text"
Or show no text at all.

pdDOJh-sJ-p2#comment-352

[2022-07-05 14:43] #65153 closed, assigned to obenland

[2022-07-05 14:50] emmnyc85 commented on #64972
Thanks, @vinimotaa. Let's please remove 'You can now' and just start with 'Extend' and see if that gets us to 2 lines, instead of 3 :)

[2022-07-05 14:56] dsas opened #65243 "create-marketplace-product command doesn't execute create_store_product_entry_from_plan non-interactively"
The create-marketplace-product command calls `create_store_product_entry_from_plan` which has interactive prompts. We should make this non-interactive too.

Simply passing --yes to the `create_store_product_entry_from_plan` call will not suffice as some of the questions are not yes/no and one of those that are should always be answered with a no ('multi')

[2022-07-05 14:59] mashikag opened #65244 "Provide `useSiteGoals` hook for Editing Toolkit"

[2022-07-05 15:14] dsas opened #65245 "create-marketplace-product command when used non-interactively will set multi=1"

[2022-07-05 15:21] daria2303 opened #65247 "Calypso: Upgrades > Domains view not loading"
### Quick summary

User has very many domains on one site but the Upgrades > Domains page doesn’t load. After some times it gives a screen to buy a new domain, however, I managed to load it once. The request is timing out with a 504 error.
![Annotation on 2022-07-05 at 17-14-47](https://user-images.githubusercontent.com/11535091/177360946-7c204e85-ef99-4063-8de1-03f4d58f4826.png)
![Annotation on 2

[2022-07-05 15:22] FreedomFighterSparrow commented on #63063
Thank you, guys! We will test soon :-)

[2022-07-05 15:33] mashikag opened #65248 "Add align tool (wide & full) to Form block"
Created from a draft note from `Apex: Inbox (Backlog)` project.

[2022-07-05 15:43] mashikag opened #65250 "Fix additional Cookie widget issue"
Created from a draft note in `Apex: Inbox` project.

Fix additional Cookie widget issue outlined in p1642422409018200/1642421912.017800-slack-C02TCEHP3HA

[2022-07-05 15:46] Joshgrygiel commented on #65247
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Tested on User Site ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I can not replicate the issue on a testing site as this bug seems to be caused by the user having many domains connected to the same site, however I was able to recreate the issue on the users site specif

[2022-07-05 15:48] vinimotaa commented on #64972
<img width="1118" alt="image" src="https://user-images.githubusercontent.com/97929097/177367047-7e99babb-00c4-4ff3-b08c-3ada98e5cebd.png">

Nice!

My only thought on this is that - from this copy, it doesn't sound like a "benefit was unlocked" for me, but more like, "oh, by the way, you can purchase our plugins".

Any thoughts?

[2022-07-05 15:57] Joshgrygiel commented on #65192
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - NO
- Tested on Simple - NO
- Tested on AT ✅
- Tested on Self-hosted - N/A

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the VideoPress upgrade prompt does show within JetPack settings on all atomic plans

📌 ACTIONS
- Closed as duplicate in favor of this report: https://github.com/Automattic/jetpack/issue

[2022-07-05 15:57] #65192 closed, assigned to nobody

[2022-07-05 16:12] Joshgrygiel commented on #65184
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - N/A

📌 SCRUBBING
- Tested on Simple - N/A
- Tested on AT ✅
- Tested on Self-hosted - N/A

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm when the AT site is set to private and the video file is attempted to be deleted from the media library, in the Calypso view it does appear the file was deleted, however after refreshing the page it retu

[2022-07-05 16:51] danielbachhuber commented on #65166
@SaxonF @vindl @p-jackson Couple of implementation questions:
1. Is it fine to use `site.plan.product_name_short`, or do we need to generate our own Plan labels?
2. Should the site thumbnail link to anything?

[2022-07-05 17:01] #60138 closed, assigned to nobody

[2022-07-05 17:28] JessBoctor opened #65255 "Developer Mode for Atomic Sites"
### What

A way to disable tools that help with site performance but can sometimes hinder site development. Things like caching or minification of CSS and JS

### Why

It would help to draw more freelance and third-party developers to working within WP.com

For context, check out #7279290-HC

### How

Most likely this would be another option in My Site > Settings > Hosting Configuration

[2022-07-05 17:48] gutenberg-plugin-upgrade-bot[bot] opened #65256 "Gutenberg: v15.1.x plugin upgrade"
Previous upgrade: #
Release notes:

**Install and activate**

- [ ] Install and activate v15.1.0-rc.1 on edge (######-code)
- [ ] Install and activate v15.1.0 on edge (######-code)
- [ ] Activate v15.1.0 on production (######-code)
- [ ] Request v15.1.0 AT upgrade (######-p2)

**Testing**

- [ ] v15.1.0 Desktop viewport E2E
- [ ] v15.1.0 Mobile viewport E2E
- [ ] v15.1.0 WPCOM core (######-code)

[2022-07-05 17:54] obenland commented on #65194
Diff in D83666-code

[2022-07-05 17:57] obenland commented on #64101
@fgiannar @marcuswisecaesar Have we received any additional reports or can this be closed now?

[2022-07-05 18:02] gutenberg-plugin-upgrade-bot[bot] opened #65258 "Gutenberg: removal test ticket (please ignore)"

[2022-07-05 18:03] fullofcaffeine commented on #65258
This was mistakenly created while testing a script change (D83655-code). 🤦🏻 Closing.

[2022-07-05 18:03] #65258 closed, assigned to nobody

[2022-07-05 18:41] #65130 closed, assigned to jeyip

[2022-07-05 18:43] gutenberg-plugin-upgrade-bot[bot] opened #65260 "Gutenberg: v15.1.x plugin upgrade"
Previous upgrade: #
Release notes:

**Install and activate**

- [ ] Install and activate v15.1.0-rc.1 on edge (######-code)
- [ ] Install and activate v15.1.0 on edge (######-code)
- [ ] Activate v15.1.0 on production (######-code)
- [ ] Request v15.1.0 AT upgrade (######-p2)

**Testing**

- [ ] v15.1.0 Desktop viewport E2E
- [ ] v15.1.0 Mobile viewport E2E
- [ ] v15.1.0 WPCOM core (######-code)

[2022-07-05 18:44] gutenberg-plugin-upgrade-bot[bot] opened #65261 "Gutenberg: test please ignore"

[2022-07-05 18:46] #65261 closed, assigned to nobody

[2022-07-05 18:49] gutenberg-plugin-upgrade-bot[bot] opened #65262 "Gutenberg: v15.0.x plugin upgrade"
Previous upgrade: #
Release notes:

**Install and activate**

- [ ] Install and activate v15.0.0-rc.1 on edge (######-code)
- [ ] Install and activate v15.0.0 on edge (######-code)
- [ ] Activate v15.0.0 on production (######-code)
- [ ] Request v15.0.0 AT upgrade (######-p2)

**Testing**

- [ ] v15.0.0 Desktop viewport E2E
- [ ] v15.0.0 Mobile viewport E2E
- [ ] v15.0.0 WPCOM core (######-code)

[2022-07-05 18:53] #65135 closed, assigned to valterlorran

[2022-07-05 19:18] marcuswisecaesar opened #65263 "[Bug]: Prompted to Upgrade to install WooCommerce on Starter, after installing WooCommerce Extension"
### Quick summary

When testing the Marketplace Plugins on the Starter Plan, I am able to successfully install the WooCommerce Bookings.  But under Plugins - WooCommerce is listed as Free and available if I upgrade to the Pro Plan, even though it is already installed and active.  I know that core Woo is not included in the Marketplace but shouldn't it be removed from the options if it's already in

[2022-07-05 19:29] marcuswisecaesar opened #65264 "[Bug]: Limited Atomic - Setting up already activated WooCommerce on a Starter Plan leads to a prompt to upgrade to Pro and install Woocommerce"
### Quick summary

After installing the WooCommerce Bookings extension I began setting up WooCommerce with my basic store information. Once I reached step 3 of the 4 step process I was prompted to install WooCommerce and upgrade to the Pro plan.  I had already installed WooCommerce Bookings and did not expect this.

### Steps to reproduce

1. Start with a Starter Plan site with the [Marketplace Pl

[2022-07-05 19:44] danielbachhuber commented on #63819
@mtias @lamosty @saygunnyc Could one of you make a final call on: 1) whether my change as proposed is sufficient, or 2) whether there's additional work you'd like done (and what that work should be)? Thanks!

[2022-07-05 19:51] obenland commented on #65264
Based on the screenshot it looks like you were in the `woocommerce-installation` flow in Calypso. The WooCommerce menu item should stop linking to that flow when the WooCommerce plugin is active.

Is it possible this might be a timing issue where the site has not fully transferred and the plugin is not active yet?
Alternatively, it's also possible the admin menu hasn't refreshed after the transfer

[2022-07-05 19:54] obenland commented on #65263
@mreishus I wonder if we should add an exception for WooCommerce in `maybe_limit_to_marketplace_plugins()`?

It won't help with any other plugin dependencies but at least it would cover most of the paid plugins we have available now.

[2022-07-05 20:21] mreishus commented on #65263
I think that's a good idea.

[2022-07-05 20:27] mreishus commented on #65263
When I tried it, it removed Woocommerce from the "Editor's pick:" section:
![2022-07-05_15-25](https://user-images.githubusercontent.com/937354/177410460-fc03ed1b-4e28-4f46-bbb6-3a5f30d21d31.png)

If you manage to find `/plugins/woocommerce/<site>` somehow (I don't see anything linking there), you're not prompted to buy anything. There's one slider which we could lock down
![2022-07-05_15-26](http

[2022-07-05 20:36] obenland commented on #65263
Yes, let's add that exception and handle the toggle

[2022-07-05 20:43] danielbachhuber commented on #63626
Based on @p-jackson's [extensive research](https://github.com/Automattic/wp-calypso/pull/65104#issuecomment-1170735113), solving this with two changes:

- [x] Resetting to the default color when the user clicks "Clear" https://github.com/Automattic/wp-calypso/pull/65107
- [ ] Adding 'Transparent' as an option to the color palette.

I haven't found a formal API for the latter, so started a Slack th

[2022-07-05 20:44] #65207 closed

[2022-07-05 21:02] csabarakasz commented on #62043
@arunsathiya I could not reproduce this error again on my test site.

[2022-07-05 21:19] metabreakr commented on #57812
34332568-hc

[2022-07-05 21:36] desnum commented on #64918
I ran into a case with this in 35990166-hc:

 <img width="1025" alt="Screen Shot 2022-07-05 at 4 40 41 PM" src="https://user-images.githubusercontent.com/43796228/177420309-3a6af9ae-2d5b-466d-be02-873667eb088d.png">

The URL for the embed fails in this particular page, but it works on others. And this particular page allows embeds for other URLs, just not this one.

The current workaround is to us

[2022-07-05 21:40] obenland commented on #65264
It makes sense to refresh admin-menu after a plugin was activated either way. I'm not sure we do that after a transfer though?

[2022-07-05 21:41] ianstewart opened #65267 "Theme Showcase: Theme upload upgrade button asks for site before checkout"
#### Steps to reproduce

1. Starting at theme showcase on a free site
2. Click upload button
3. Click banner suggesting a plan upgrade
4. BUG: See "Select a site to open Checkout"

#### What I expected

To go to checkout.

#### What happened instead

I saw this screen.

![image](https://user-images.githubusercontent.com/545779/177421148-4ed4effb-e558-4c76-a26b-d67788b8b4e4.png)

[2022-07-05 21:53] bluefuton commented on #63644
Thanks for fixing this @bubel!

Can we refer to the changeset here so others can see how it was resolved?

[2022-07-05 21:59] SaxonF commented on #65166
Do you hav an example of what this looks like?

Same as title, let's link it off to the single site admin

[2022-07-05 22:08] danielbachhuber commented on #65166
Sounds good 👍

Here's what I see on my dashboard:

<img width="1318" alt="image" src="https://user-images.githubusercontent.com/36432/177425029-f62e31a0-0ef8-4923-8661-08c5d3839b59.png">

I'm not sure what all of the potential values are. Someone might have easy access to that, or we could do a research spike to figure it out.

[2022-07-05 22:27] obenland commented on #65194
Fixed in D83666-code

[2022-07-05 22:27] #65194 closed, assigned to obenland

[2022-07-05 22:52] pablohoneyhoney commented on #65162
Do you think `Sites` is too redundant reading it three times?

A related note on language: https://buildp2.wordpress.com/2022/06/24/multi-site-management-i1-2/#comment-315

[2022-07-05 23:15] SaxonF commented on #65162
@pablohoneyhoney good point, could probably simplify to "manage" and "Search..."

[2022-07-05 23:58] nelsonec87 commented on #65133
Initial findings here: paYKcK-1Qr-p2

[2022-07-06 00:29] cuemarie commented on #58391
Ran into this vague error message here as well: 5351965-zd-woothemes

Tried lots of troublehshooting steps to no avail; thanks to @jartes comment, I've asked the user to try enabling this setting as well. They are the user that set up the FB connection, but the post has a different author.

Not sure if this error message only happens in this kind of situation, but clearer error messages could have

[2022-07-06 04:45] happychait opened #65277 "The + icon on the Navigation Menu doesn't add menu items in the Blockbase themes"
### Quick summary

In the Site Editor, selecting the Navigation Menu block and clicking the + icon only brings up this toolbar, but we can't create new menus, or add menu items.
![Uploading Captured at 06-07-2022 at 16.34.24@2x.png…]()

### Steps to reproduce

1. Open the Site Editor
2. Select the Navigation menu block in the header
3. Click the + icon on the Navigation block to add menu items.

#

[2022-07-06 04:49] SaxonF commented on #65166
We should use whatever logic is currently being used on My Plan page, which maybe is the same?

<img width="1240" alt="image" src="https://user-images.githubusercontent.com/1072756/177471029-d345e9e2-e019-4dc8-93da-5a9b5a36ae5a.png">

[2022-07-06 04:51] SaxonF commented on #64574
Looks good to me!

[2022-07-06 05:13] inaikem commented on #57660
@cometgrrl 👋 Would it be possible for you to help nudge this along?

[2022-07-06 05:15] jordesign commented on #65277
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

On Atomic and Self Hosted - the error was only present with the Gutenberg plugin activated

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to recreate this consistently when Blockbase and the Gutenberg plugin were both active

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Closed as could not replicate (please reopen

[2022-07-06 05:30] Robertght commented on #57812
5350470-zen Windows 10 and Firefox 102. Clearing the cache didn't help.

[2022-07-06 05:59] fgiannar commented on #64101
@obenland I've asked for additional reporting of IDCs in newly created AT sites here: p9F6qB-90M-p2#comment-47735

So far no such cases have been reported, so I believe we can close this if @marcuswisecaesar also agrees.

[2022-07-06 06:05] mriyazuddin commented on #60747
- [ ] #5347358-zd

[2022-07-06 06:06] rinazrina commented on #64994
Encountered in 35991764-hc -- Revelar theme

- [ ] Follow-up: 5351895-zd-woothemes

We'll need to follow up with this user once the patch is deployed.

[2022-07-06 06:37] kuropixel commented on #62755
- [ ] Another report. 5352251-zen

Third party theme "Node". Advised to use Customizer via Appearance > Customize as a workaround.

[2022-07-06 06:42] nagpai commented on #53626
35994310-hc

Did the privacy settings back and forth..well.. somersault .. worked fine after that.

[2022-07-06 06:46] jromales commented on #62755
Another report in 5352281-zd-woothemes. They're using 3rd party `Neve` theme and I shared the workaround to access through Appearance → Customize

[2022-07-06 06:49] jromales commented on #62755
Another report in 35973630-hc using 3rd party `ExpertHive` theme. I shared the workaround to access through Appearance → Customize in the meantime

[2022-07-06 07:50] #65186 closed, assigned to mmtr

[2022-07-06 08:02] lsl opened #65278 "Marketplace: Add to the search result review process"
Action this: pdh6GB-1kr-p2#comment-2143

- [x] Update the snapshot task PCYsg-ID9-p2 to include reviewing search categories (proposing and implementing category changes based on that month's data).

[2022-07-06 08:05] lsl commented on #64995
Might also be able to do this at the same time: https://github.com/Automattic/wp-calypso/issues/65278

[2022-07-06 08:10] taipeicoder opened #65279 "Enable generated design picker in the Write flow"
## Description
Currently, the generated design picker is only applied to the Build flow. We want to enable it for the Write flow as well, so that they can have parity on the design picking experience.

## Acceptance Criteria
- [x] Users see the generated design picker in the Write flow, given that the selected vertical is eligible.

[2022-07-06 08:26] i11za commented on #64691
I'm closing the original ticket 5301448-zd-woothemes, please update the user once/if there's a fix. Thanks!

[2022-07-06 08:35] mpkelly commented on #50740
Hi @daledupreez, I want to propose a different approach to the two above.

I don't think an arbitrary timeout will ever work well: it won't be very effective if it is too small, and if it's too big, it will lead to more support tickets. I think users expect newly added content to show instantly, which is how most apps work these days. Ideally, our cache would be based around events instead of time

[2022-07-06 08:47] yansern opened #65281 "Goals Capture: DIFM first, Import second."
For the Goals Capture i2 screen.
As long as DIFM is chosen, go to DIFM.
Else, as long as Import is chosen, go to Import flow.

[2022-07-06 08:49] yansern opened #65282 "Goals Capture: Enable Goals Capture i2 on Dev, WPCalypso & Horizon (and update E2E)."

[2022-07-06 08:49] yansern opened #65283 "Goals Capture: Enable Goals Capture i2 on Staging & Production."

[2022-07-06 09:00] #63082 closed, assigned to vykes-mac

[2022-07-06 09:01] #64997 closed, assigned to phcp

[2022-07-06 09:30] mmtr opened #65285 "Premium themes cannot be purchased on Limited Atomic sites"
### Quick summary

When trying to purchase a Premium theme on an Atomic site with a lower-tier plan, we trigger this error that prevents the theme from being purchased:

<img width="500" alt="Screen Shot 2022-07-06 at 11 26 22" src="https://user-images.githubusercontent.com/1233880/177518397-c86386b5-301b-4cc0-97ce-9d02a5ca1009.png">

It only happens when purchasing from the theme details page, an

[2022-07-06 10:20] filipanoscampos commented on #57812
Another one here 5351540-zd-woothemes.

If possible, please notify user once this is solved:

- [ ] 5351540-zd-woothemes

[2022-07-06 10:23] vishnugopal commented on #59527
We've pushed a merge to Gutenberg that fixes the remaining issue here, and we're waiting for a Gutenberg release to confirm this is fixed on WPCOM.

[2022-07-06 10:30] epeicher commented on #63169
This task has been solved as part of #65249 because it was similar functionality.

[2022-07-06 10:41] Lazza commented on #51274
I am not sure I understand what you mean by "atomic sites", I am afraid.

I have checked the website of the EU Parliament, they use an in-house solution but that looks pretty similar to the Embed Privacy plug-in, which works quite well.

In the end, I had to migrate away from WP.com because it makes it blatantly impossible to respect EU laws, in particular the GDPR. Even emojis are loaded from ser

[2022-07-06 11:10] ivan-ottinger commented on #65281
This means that:
- when the goal combination user selected includes DIFM, the Intent should be set to DIFM (regardless of other goals selected)
- when the goals combination user selected includes Import, the Intent should be set to Import (regardless of other goals selected)
- if both: DIFM and Import goals are selected at the same time, DIFM has the priority and the DIFM Intent will be set.

Do I

[2022-07-06 11:11] yansern commented on #65281
Yes that's right.

[2022-07-06 11:15] rcrdortiz opened #65288 "Marketplace CLI: Create a store vendor information command"
## Description
We need to create a Marketplace CLI command that we can call to create the store vendor information for a given product instead of manually executing a query.

## Implementation
- Create a CLI command for adding vendor information.
- Link the command to the create-marketplace-product command so that we don't need to manually invoke it.

[2022-07-06 11:39] mpkelly commented on #51996
I tested this with a Pro Plan purchase today. This diff shows how the JSON data changes when manually disabled vs when a payment method has been removed:

![image](https://user-images.githubusercontent.com/6851384/177533419-6af59da0-cd33-41c8-97e2-dc9e7d1a3b9d.png)

I think the issue is that this is still **"1"** on the right side
[code]
This value should be reflected in the UI, but currently it i

[2022-07-06 11:44] donalirl opened #65289 "Plugins > Installed Plugins > Add New Redirects to Calypso for Local Users"
### Quick summary

Local users on atomic sites (i.e. users created without a WordPress.com account, while SSO is off) are redirected to Calypso, but cannot use Calypso screens without a WordPress.com account.

### Steps to reproduce

1. On an atomic site, turn off SSO
2. Go to SITE-URL/wp-admin/users.php
3. Click Add New and invite a new local user
4. In an incognito window, log into SITE-URL/wp-a

[2022-07-06 12:20] danielbachhuber commented on #65170
@vindl Is there a point of reference you can share regarding what you'd expect out of a technical exploration?

[2022-07-06 13:04] marcuswisecaesar commented on #64101
We can close this, thank you @fgiannar !

[2022-07-06 13:18] #64885 closed, assigned to epeicher

[2022-07-06 13:18] #63169 closed, assigned to epeicher

[2022-07-06 13:42] danielbachhuber commented on #65170
Also, a couple more ideas to throw into the mix:
* Pull the `og:image` from the site's homepage.
* Overlay the site icon on the primary background color for the site.

To support the evaluation process, it might be helpful to:
1. Identify a few representative WordPress.com users.
2. For each user, prepare mockups of each thumbnail approach — to let us see what they would see.

[2022-07-06 13:48] mmtr opened #65295 "Upgrade banner missing in the Install Theme page for Limited Atomic sites"
### Quick summary

The `/themes/upload` page seems to be missing an upgrade banner when visited from an Atomic site on lower-tier plan. It also shows a weird message that looks related to the Atomic eligibility warnings modal.

### Steps to reproduce

- Go to https://wpcalypso.wordpress.com/themes/upload
- Select an Atomic sites with a lower-tier plan (e.g. Starter plan)

### What you expected to

[2022-07-06 14:24] danielbachhuber commented on #65166
It looks like the 'My Plan' page displays the `<MyPlanCard>` with a `currentPlan`:

https://github.com/Automattic/wp-calypso/blob/40156979bf8342920559ce02e5acd2802c118013/client/my-sites/plans/current-plan/purchases-listing.jsx#L336-L361

The `currentPlan` can be pulled from the `site` object:

https://github.com/Automattic/wp-calypso/blob/7655b6d1f326371990851da10ebb97f133fbdc17/client/state/site

[2022-07-06 14:49] obenland commented on #64101
Great! Thanks so much for all your work on this!

[2022-07-06 14:49] #64101 closed, assigned to nobody

[2022-07-06 14:51] #64624 closed, assigned to nobody

[2022-07-06 15:02] danielbachhuber commented on #65166
I tried with the following:

[code]

However, I discovered `getCurrentPlan()` returned `null` for all of my sites. This leads me to believe some additional data hydration needs to happen (aka more API requests).

Until we decide the additional API requests are necessary, I think we should stick with `site.plan.product_name_short` (which was probably created for this purpose).

[2022-07-06 15:15] #65285 closed, assigned to mmtr

[2022-07-06 15:18] pottedmeat commented on #49151
Patch created in D83788-code

[2022-07-06 15:26] mreishus commented on #65263
Yes, I believed they fixed it. Note that a WoA Dev site might not have the latest wpcomsh on it and needs to either be manually updated or reverted/retransferred. Should we close?

[2022-07-06 15:34] obenland commented on #65263
Yes, WooCommerce now shows up in the Installed Plugins Screen and the toggles are gone in the single plugin screen:

<img width="1093" alt="image" src="https://user-images.githubusercontent.com/1398304/177588626-d78f3b7e-1508-4b9b-a9a6-4bd2e9b49bce.png">

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/1398304/177588493-8faf527b-45cc-4f7b-b052-0c1eba62bc94.png">

[2022-07-06 15:34] #65263 closed, assigned to mreishus

[2022-07-06 15:43] #65267 closed, assigned to nobody

[2022-07-06 15:44] mrfoxtalbot opened #65299 "The collapsed Nav Unification leaves a blank gap in the editor"
### Quick summary

When the Unified Navigation is collapsed in the editor, it leaves a blank space.

Here is a video of what this looks like on a simple site:

https://user-images.githubusercontent.com/4452464/177590631-a8e40a1d-9550-4808-8432-55a84f8caf76.mp4

Here is a video of how the collapsing navigation works in core. Notice how the area available for the editor is increased when the sidebar

[2022-07-06 16:07] #65264 closed, assigned to mmtr

[2022-07-06 16:55] upwardmomentum84 opened #65609 "Videomaker: Group Block Not Showing Correct Color in Editor When Set to Use Custom Primary Color"
### Quick summary

Editor is not reflecting the proper color set as the background color for a group block when the color is set to use the "Primary" color. The editor shows the group block with a black background color. Live version of page shows correct color.

### Steps to reproduce

1. Activate `Videomaker White` theme.
2. On a page, add some paragraph blocks and group them.
3. Set the group b

[2022-07-06 17:14] #65295 closed, assigned to mmtr

[2022-07-06 17:17] mtias commented on #63819
What's the character per line we are achieving on new post emails?

[2022-07-06 17:28] pablohoneyhoney commented on #63819
For context:

Though it's a bit sloppy actually, Substack uses these widths:
- Browser/desktop: 728 width / 609 image width
- Email/desktop: 550 width

@saygunnyc:

- Let's set the content width to be wider than 488 in desktop. Considering content width as the text and images box, not the white container. The white container needs to grow as well alongside the content width.
- Let's make sure all

[2022-07-06 17:49] obenland commented on #58998
This is now in production.

[2022-07-06 17:49] #58998 closed, assigned to mreishus, mmtr, obenland

[2022-07-06 17:56] obenland commented on #65026
Fixed in https://github.com/Automattic/wp-calypso/pull/65059

[2022-07-06 17:56] #65026 closed, assigned to DustyReagan

[2022-07-06 18:02] obenland opened #65310 "[Bug]: WooCommerce Subscriptions in staging mode after install"
### Quick summary

When purchasing the WooCommerce Subscriptions plugin on a site without a custom domain it displays an error message in wp-admin about the site being a duplicate and the plugin being in staging mode.

### Steps to reproduce

1. Create a new site on a Starter plan or Pro plan (no custom domain).
2. Purchase WooCommerce Subscriptions from the Marketplace
3. Click "Manage Plugin" af

[2022-07-06 18:07] obenland opened #65311 "[Bug]: WooCommerce Subscriptions not translated"
### Quick summary

It looks like there are either no translations for the WooCommerce Subscriptions plugin in wp-admin or they're not being loaded correctly.

Tried with German, Spanish, and French, none have translations.

### Steps to reproduce

1. Select a language other than English in https://wordpress.com/me/account
2. Create a new site on a Starter plan or Pro plan (no custom domain).
3. Pu

[2022-07-06 18:17] phcp opened #65312 "[Subscriber Welcome] Investigate missing link-desc for Unsubscribe button"
### Quick Summary

This is a follow-up issue from the patch D81824-code. The link description on Subscriber Welcome templates was added in this patch, but based on review comments one link-desc is missing. The Unsubscribe link, has the description defined on code, but in some scenarios it may not add to the data in the URL. It requires a quick investigation to make sure it's still an issue or not.

[2022-07-06 18:29] sirbrillig commented on #53356
This will require quite a few changes. A list, so far:

- https://github.com/Automattic/wp-calypso/pull/65273
- D83797-code: Checkout: Add order_id to /me/transactions response
- D83802-code: Checkout: Change redirect endpoint to replace :orderId placeholder

[2022-07-06 18:33] edequalsawesome commented on #62782
Came up in 35997697-hc

[2022-07-06 18:36] nicolynramos commented on #54147
Another here: 5353812-zen

[2022-07-06 18:41] phcp opened #65313 "[All] Define and add link descriptors to Great Posts links"
### Details

This is a follow-up issue from the patch D81824-code. On Subscriber Welcome email there is a list of top posts from the blog, this task meant to add the link-desc for these links. The list is rendered on `HTML_Email` class, inside the`blog_top_posts` property. This list will also be used on the new Emails i2 templates.

![Image](https://user-images.githubusercontent.com/3113712/177620

[2022-07-06 18:54] obenland opened #65314 "After Marketplace Plugin Purchase: Add progress bar visual for Atomic transfer"
On the thank you page after a Marketplace plugin purchase we currently disable the "Manage Plugin" button during the site transfer to Atomic. All other buttons and links remain active however, leading to situations where customers could navigate away from that screen and come across confusing situations, like the WooCommerce menu item still linking to the woocommerce-installation flow, or the plug

[2022-07-06 19:11] #65136 closed, assigned to valterlorran

[2022-07-06 19:18] cuemarie commented on #62755
Another report: 35999719-hc

Third party theme `Dhor`. Sent to Appearance > Customize instead.

[2022-07-06 20:07] brandonpayton commented on #65128
This has been fixed via 1017-gh-Automattic/wpcomsh.

[2022-07-06 20:07] #65128 closed, assigned to nobody

[2022-07-06 20:12] #65165 closed, assigned to sejas

[2022-07-06 20:38] zaguiini opened #65323 "Sites Management Dashboard: Manage filter state through query parameters"
### What

It should be possible to open the sites list (`/sites-dashboard`) in a certain state.

### Why

This would allow for a better user experience: imagine scenarios where people bookmark the sites list link at a certain state and they want to quickly apply the same filters.

Another very common scenario is to share a link with the filters so other people could see the same page as the sender

[2022-07-06 21:00] worldomonation opened #65324 "Titan Mail: dialog is not formatted for mobile viewport size"
### Quick summary

Titan Mail dialog appears in mobile sized viewport as a full-sized desktop dialog and thus is indismissable.

From: p1657140943900189-slack-C029GN3KD

### Steps to reproduce

1. Using mobile browser (or a simulated mobile browser via Developer Console), sign up for Titan Mail.
2. visit `/home`.

### What you expected to happen

Dialog boxes that appear when using a mobile-sized

[2022-07-06 21:01] happychait commented on #63262
Another report in 35882779-hc

[2022-07-06 21:06] cometgrrl commented on #64697
FYI, while this is important, @jordesign and I agreed it's not a `blocker`, so we're lowering it to `high`.

[2022-07-06 22:27] cometgrrl commented on #64756
@Automattic/martech-decepticons Y'all were flagged in [Slack](p1655730230235099/1655499865.537459-slack-C02FMH4G8) as possibly being the right team to look into this one. Is that correct?

[2022-07-06 22:29] TeniCola commented on #57390
- [ ] Another user asking for a follow for this issue -- 5354565-zen

They're on a Personal plan, so CSS isn't feasible as a workaround unless we applied the feature as coutesy.

Meanwhile, in addition to the user's site, I was also able to recreate this behavior with the Cover block on a test site, and it happened in the editor view as well as the live site.

[2022-07-06 22:34] cometgrrl commented on #64964
@griffbrad is this something the Calypso team could look into?

[2022-07-06 22:38] danielbachhuber commented on #65197
@vindl Given we're already pulling live data into the dashboard, is there a specific problem you'd like to solve by using Jetpack's approach instead?

[2022-07-06 23:39] p-jackson commented on #65200
D83697-code

[2022-07-07 00:10] #65200 closed, assigned to wojtekn

[2022-07-07 02:29] hacchism commented on #62755
36002816-hc

Another report AT site using Dyad 2.

[2022-07-07 04:13] vajrasar commented on #65193
📌 Changes to the main report
- I changed the title of the report

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate the issue.
- The issue can be seen when a new post is created (P2/Simple/AT/Self-hosted) (with or without Gutenberg plugin installed), and you try to remove some line

[2022-07-07 04:17] nagpai opened #65330 "Domain Transfer: Free domain credit is not restored if domain transfer fails"
### What
If a user attempts a domain transfer using free credits, and if for some reason the transfer fails, the domain credit is still consumed.

### Why
The user is asked to pay when they reattempt. This leads to confusion and bad user experience. It would then require a HE to reinstate the credit.

### How
Context : 32396698-hc

[2022-07-07 04:18] halleshubham commented on #16631
@tyxla can you tell me if there's way to simulate a Jetpack site on local calypso setup?

[2022-07-07 04:24] halleshubham commented on #16631
I was able to simulate, thanks @tyxla - will give this issue a try

[2022-07-07 04:46] DavidRothstein commented on #51996
Thanks @mpkelly -- I don't remember exactly, but I think you're probably right that the `auto_renew` field you identified is the correct one to look at!

The word "cancel" is very ambiguous sometimes, so it depends what you mean :smile: If you mean actually removing the subscription, then definitely not.  If you mean turning off auto-renew, then maybe -- see 265-gh-Automattic/payments-shilling.  B

[2022-07-07 04:47] lsl opened #65331 "Marketplace: indicate translation level of plugins"
We want to indicate a plugins supported locales when viewing the plugin data.

This can be hidden for english users but should be displayed if a user has non english browser configs or a non english user locale.

- [ ] Show supported locales on plugin view screen
- [ ] Maybe: warn if plugin translations are not available in their locale
- [ ] Differentiate between localized support help and transl

[2022-07-07 04:49] p-jackson commented on #65323
Good idea! I also like the idea of a `?s=` query param that remembers the search field. We do that in Calypso views like:
- `/posts/{ siteSlug }?s=search+term`
- `/themes/{ siteSlug }?s=search+term

Would it be nicer to just use a path slug to represent the tab? e.g. `/sites-dashboard/coming-soon`. That way we don't have to decide what the name of the query param would be 😄 i.e. would it be like `

[2022-07-07 05:22] vishnugopal commented on #64278
This is fixed!

[2022-07-07 05:22] #64278 closed, assigned to zaerl

[2022-07-07 05:37] devNigel commented on #62755
Another one: 35998041-hc

They are using third-party theme `Bosa Shopper`

[2022-07-07 05:54] csabarakasz commented on #64691
Same issue: 36003887-hc

[2022-07-07 06:06] Greatdane commented on #64691
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Calypso bug. Moved to high priority, as although there is a simple work-around, it is not obvious to the user and is causing longer chats and frustrated users!

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-07-07 06:09] taipeicoder commented on #65279
🚢

[2022-07-07 06:09] #65279 closed, assigned to taipeicoder

[2022-07-07 06:27] hacchism commented on #54871
Another report on 5353879-zd-woothemes

[2022-07-07 06:55] SaxonF commented on #65162
An extension of the previous concept including moving the add site button to a more prominent position. Still faces the challenge of the conflicting "my sites" tab vs "sites/my sites" heading for sidebar. The sidebar could open up over the top of the global bar which may improve things but still not perfect.

![image](https://user-images.githubusercontent.com/1072756/177709135-41988d6f-1a03-48b5-a

[2022-07-07 06:57] tyxla commented on #16631
Thanks @halleshubham, let me know if you need anything in the meantime!

[2022-07-07 07:01] SaxonF commented on #65166
@danielbachhuber I'm going to request an annoying change, especially after looking into the icons, and that is to bring back the old "P2" and site status labels instead of icons. My thought process is that this is a more familiar interface for people initially and doesn't detract from other important information right now. We may want to revisit when we look at monitoring tools.

What do you think

[2022-07-07 07:04] rcrdortiz commented on #65243
Fixed in: D83764-code

[2022-07-07 07:04] #65243 closed, assigned to rcrdortiz

[2022-07-07 07:38] p-jackson commented on #65168
A previous iteration of the design had a control to sort the sites by `Last updated`, so I'd actually missed the fact that the later mockups with the row view were using `Last publish`.

I actually prefer last _updated_. So a site would count as "updated" when one of these things happen
- post published
- published post is saved
- page published
- published page is saved
- theme changes
- widgets

[2022-07-07 07:42] csabarakasz commented on #63199
Hmm, seems like it wasn't clear enough for some users: 28440419-hc The new description text was there, but the user is still "struggling with this for weeks". :/

[2022-07-07 08:00] csabarakasz commented on #63199
About the previous issue. The photo worked after the user created a Gravatar profile. I wonder if we could include a sentence about that too. What do you think @danielbachhuber ?

[2022-07-07 08:12] edwinho89 opened #65333 "Enable Public Post Preview"
### What

Having a way where we can share direct link to draft post to specific viewers without publishing posts for review.

Similar feature as this plugin: https://wordpress.org/plugins/public-post-preview/

### Why

A great, useful way of sharing preview of draft post as review, without publishing post publicly.

36004760-hc

### How

_No response_

[2022-07-07 08:20] zaerl commented on #64278
Fixed in D82261-code.

[2022-07-07 08:27] halleshubham commented on #16631
@tyxla Here is Pull Request: https://github.com/Automattic/wp-calypso/pull/65332

Is it automatically into Automattic's workflow, or do I need to do anything more to make it happen ?

[2022-07-07 08:29] #62845 closed, assigned to jimmy319

[2022-07-07 08:29] #62622 closed, assigned to vishnugopal, zaerl

[2022-07-07 08:38] mpkelly commented on #60705
Hi @filipanoscampos, we have looked at this change internally and decided not to go ahead with it. The problem is that we only have the date the account was created available, and this can be confusing if the account exists across multiple sites. Ideally, we'd have the date the user was added to a specific site but don't appear to track this date.

For posterity: part of our internal discussion is

[2022-07-07 08:41] vishnugopal opened #65334 "Test"

[2022-07-07 08:44] filipanoscampos commented on #60705
That is a pity, thanks for updating me @mpkelly

[2022-07-07 08:49] heavyweight commented on #57660
I'm investigating this issue.
I'm able to reproduce this consistently in 2 scenarios:

**Scenario 1**
- Go to the site editor and dismiss the welcome modal
- Reload the page
- The welcome modal will appear again

**Scenario 2**
- Go to the site editor and dismiss the welcome modal
- In the navigation menu go to post or pages
- Click to edit a post or page
- The welcome modal will appear again

Fro

[2022-07-07 08:52] #64774 closed, assigned to bogiii

[2022-07-07 08:57] vishnugopal commented on #63319
Archiving this as the project is on hold.

[2022-07-07 08:57] #63319 closed, assigned to zaerl

[2022-07-07 08:57] vishnugopal commented on #64887
Archiving this as the project is on hold!

[2022-07-07 08:57] #64887 closed, assigned to jimmy319

[2022-07-07 09:00] vishnugopal opened #65335 "For anything other than WordPress transfers, redirect them to the design picker"

[2022-07-07 09:01] vishnugopal opened #65336 "Change the screen where we ask for the URL. Use the one for the light importer"

[2022-07-07 09:03] vishnugopal opened #65337 "Document Improvements in WordPress Migrator"
## Objective

WordPress migrator is our most used importer, so improving this is essential. We need to document specific improvements that we'll be targeting to fix.

## How does success look like?

- Improving success metrics of the WordPress migrator
- Reducing support volume
- Solving a few of the long standing pain points.

## Approach

- [ ] Come up with SPIKEs we need to work on.
- [ ] Estim

[2022-07-07 09:04] vishnugopal opened #65338 "Study Superstack flow in detail"

[2022-07-07 09:05] vishnugopal opened #65339 "Understand current state of design for Superstack"

[2022-07-07 09:05] vishnugopal opened #65340 "Work out a flow for building a unified importer for Superstack"

[2022-07-07 09:46] yansern commented on #65035
Livro, even though it's dark. Context: p1657186628974399/1657105135.538679-slack-C02M88KJ684

For `write` intent.

@simison has got this set up in one of his fantastic spreadsheet (onebin link). 2cd81-pb/

[2022-07-07 09:53] gmovr opened #65341 "Add-ons bug in signup flow if user goes to cart, and then back to add-ons route."
Just noticed a bit of a bug/issue:

If you select an add-on and go to checkout, then going back to the flow will not let you add other add-ons to your cart, until the previous one is "removed" from cart on the checkout page. The previously selected add-on that lingers in the cart is not shown as selected on the add-ons page either. This happened to me with any add-on combination.

![Kapture 2022-0

[2022-07-07 10:09] vajrasar commented on #65193
@a

In the video you shared, it seems you are selecting the blocks to delete via mouse, and not keyboard arrow key selection.

Here are detailed steps to replicate:

1. Create a new post, and put some content on it.
2. Say you have two consecutive blocks of text on the content that you want to remove.
3. Place the cursor on the starting of the first line of text.
4. Use the keyboard to select that

[2022-07-07 11:04] danielbachhuber commented on #63199
@csabarakasz Is there a specific change you'd suggest?

[2022-07-07 11:08] danielbachhuber commented on #65166
@SaxonF I'm open to it! I'll put together a pull request for it. The labels are certainly clearer than the icons.

[2022-07-07 11:20] daria2303 opened #65344 "Site Editor: white stripe below footer not removable"
### Quick summary

There is a white stripe under the footer if the site is created in the Site Editor that is not removable from the editor and hard to address via CSS.

### Steps to reproduce

1. Add footer in the Site Editor
2. Give it a background color other than white

### What you expected to happen

There isn't anything below the footer. Footer touches the bottom line of the viewport.

###

[2022-07-07 11:22] gavande1 opened #65345 "Marketplace: Product Licensing - Sync vendor webhook url"
## Summary

We are planning to reuse existing infra on WCCOM for onboarding vendors and gathering their information. WCCOM also allows 3PD to get their API/Secret keys from dashboard to call relevant api. This API/Secret key are also used for authentication. We need to implement mechanism of syncing API/Secret keys and basic info about vendor to WPCOM on WCCOM side.

Related to pdh6GB-1dL-p2#comme

[2022-07-07 11:24] gavande1 opened #65346 "Marketplace: Product Licensing - Create database tables for mapping vendor to a wpcom user"
## Summary

~~We need to create database table for storing basic information related to 3PD's and their API/Secret keys in WPCOM.~~

We decided to move on with an OAuth approach https://github.com/Automattic/wp-calypso/issues/65346#issuecomment-1209006731

Related to pdh6GB-1dL-p2#comment-1951

[2022-07-07 11:43] gavande1 opened #65347 "Marketplace: Product Licensing - Implement API route for getting subscription information"
## Summary

We need to create a WPCOM API through which vendors can get the subscription details (status, dateStart, dateEnd for a specific product & site. The GET an endpoint will include the siteUrl, productSlug in the URL.

Related to pdh6GB-1dL-p2#comment-1951

[2022-07-07 11:43] gavande1 opened #65348 "Marketplace: Product Licensing - Implement API authentication using API/Secret when calling get subscription information route"
## Summary

Implement Basic Auth using API/Secret keys issues to vendors for validating if requests are valid and we need to protect API routes like getting subscription information.

Related to pdh6GB-1dL-p2#comment-1951

[2022-07-07 11:43] gavande1 opened #65349 "Marketplace: Product Licensing - Create database table for storing info related to Webhooks for each subscription event"
## Summary

As part of building mechanism for broadcasting realtime subscription events to vendors, we need to create database table for storing information related to all events. We would need to store information like request url, request time, requests params, raw response, response time, response code etc.

Related to pdh6GB-1dL-p2#comment-1951

[2022-07-07 11:49] upwardmomentum84 opened #65350 "Jetpack Carousel: Space Around Rounded Images Open Carousel Even If Image Has a Custom Link"
### Quick summary

When Jetpack Carousel feature is enabled, the space around rounded images open the image in the carousel. This happens when the image style is set to rounded.

### Steps to reproduce

1. Make sure Image Gallery Carousel option is enabled. For simple sites this is in: Settings > Media. For atomic sites this is at the top: Jetpack > Settings > Writing.
2. Add a Gallery block and s

[2022-07-07 12:03] gmovr commented on #64121
Ref Experiment: 834-gh-Automattic/martech

[2022-07-07 12:21] ai2n commented on #59259
Noticed the same thing is happening for Post/Comments/Query Title when you set the color:
https://d.pr/v/1fpI1m

Might be related.

[2022-07-07 12:22] gavande1 opened #65351 "Marketplace: Product Licensing - Implement broadcasting subscription event using Webhook"
## Summary

As part of Marketplace licensing, We need to notify vendors in realtime about status of each subscription so they can take appropriate action on their side. We need to build mechanism where we can create such broadcast system using webhooks where we can notify vendors when status of subscription changes. We should notify vendors to their given URL for subscription event like created, c

[2022-07-07 12:36] ivan-ottinger commented on #65035
To make sure I understand correctly: there's no need to implement anything extra in the code, right? 🤔

[2022-07-07 12:43] dsas commented on #65230
Feature check: D83827-code & 1028-gh-Automattic/wpcomsh

[2022-07-07 13:01] vindl opened #65353 "Site Switcher: add tracking for clicks"
It seems like we have no track events tracking for the following two items that will be useful for gauging the impact of changes shipped with Sites Management Dashboard:

- Switch Site clicks,
- All My Sites clicks.

Let's verify if that's actually the case, and if true, add the missing event tracking to Calypso.

One way to observe the events being fired in real-time as you use the app is to set

[2022-07-07 13:05] yansern commented on #65035
Yup, this means Mikael has gotten the things he needs in Tracks set up to build that spreadsheet.

[2022-07-07 13:05] wojtekn commented on #61398
This is fixed now.

[2022-07-07 13:05] #61398 closed, assigned to wojtekn

[2022-07-07 13:15] andres-blanco commented on #65204
@valterlorran can you follow up with your findings here?

[2022-07-07 13:17] chriskmnds opened #65354 "Add-ons: Refactor usage of Redux - consider migrating to the packaged wp/data stores"
Now that the [add-ons code](https://github.com/Automattic/wp-calypso/pull/64289) lives in trunk, we can revise the usage of Redux for state handling and consider migrating to `@wordpress/data`.

Calypso has a [data-stores package](https://github.com/Automattic/wp-calypso/tree/trunk/packages/data-stores) that already includes a store for `products` (one of the main state slices used in hooks/compon

[2022-07-07 13:23] chriskmnds opened #65355 "Add-ons: Move add-ons grid, card, and hooks code to a package"
Now that we shipped the add-ons code, we can consider extracting reusable parts into a package. This should lead to better code hygiene and solidify reusability further (and outside of Calypso).

Related (may need alignment): https://github.com/Automattic/wp-calypso/issues/65354

[2022-07-07 13:27] andres-blanco opened #65356 "Seller Experience: Info button is always on "modal opened" state"
Currently the info button is in it's opened state all the time.

The button should look like this
<img width="837" alt="image" src="https://user-images.githubusercontent.com/375980/177784555-87580c61-3835-4cf0-9dcf-fa702ad35fe7.png">
 when the modal is closed and like this
<img width="433" alt="image" src="https://user-images.githubusercontent.com/375980/177784804-a63e448e-d838-43dc-be34-05dd7048a

[2022-07-07 13:31] andres-blanco opened #65357 "Seller Experience: Missing horizontal rule below top bar."
There's a missing horizontal rule below the top bar.

This is what it looks like now:
<img width="1663" alt="image" src="https://user-images.githubusercontent.com/375980/177785721-d1be8c36-fa21-45b1-bad0-9befeeaf3c7a.png">

This is what it should look like:
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/375980/177785893-2923325a-780b-4408-b8e1-4aa9e2413a54.png">

ref:

[2022-07-07 13:36] andres-blanco opened #65360 "Seller Experience: Remove the Info button entirely."
There was a discussion: p1657194626934629/1657140724.592239-slack-C0Q664T29 where it was suggested that we remove the (i) button entirely.
<img width="97" alt="image" src="https://user-images.githubusercontent.com/375980/177786791-c61df3a1-9b33-4e51-9adc-5ac8f2a6bd59.png">

We could use your input here @SaxonF

[2022-07-07 13:38] #57660 closed, assigned to nobody

[2022-07-07 13:40] andres-blanco opened #65361 "Seller Experience: The preview in design picker is not full screen"
What we have now:
<img width="1587" alt="image" src="https://user-images.githubusercontent.com/375980/177787216-d58733a8-d628-4468-9b36-363e9d5daaec.png">

vs what's in the Figma:
<img width="1182" alt="image" src="https://user-images.githubusercontent.com/375980/177787553-6dd70416-84e2-42cb-aa38-9049704c9a07.png">

Notice how there's not a device picker and a no browser URL bar.

ref: 0EogtxvlmxM

[2022-07-07 13:44] gmovr opened #65362 "The launch flow doesn't auto-populate the domain in the search box"
It seems, that the launch flow should auto-populate the users domain. With the "skip domain" option re-launched, this causes confusion. Users need to type a domain (or re-type their existing free domain) to see the free plan option.

Reported on Slack, i.e. here: p1657197802509839-slack-C031TFM2NKC

https://user-images.githubusercontent.com/52675688/177788955-b06a7cd0-e98d-4631-85a8-91369efec598.m

[2022-07-07 13:44] valterlorran commented on #65204
I noticed that we have two funnels that we could use, instead of creating a new one. More context here: p1657050795979579-slack-C0Q664T29

[2022-07-07 13:47] chriskmnds opened #65363 "Add-ons: Review hooks/components introduced, optimise caching/memoization where relevant"
Do a general review of the various hooks & components introduced for the add-ons pages. There's likely some caching/memoization prospect that we ignored/missed.

[2022-07-07 13:50] andres-blanco opened #65364 "Seller Experience: Behaviour of the "Included in Pro plan" link."
When you click in the `Included in the Pro plan` it takes you right into checkout. At this point it would be better to see a more info tip. See video p1657140724592239-slack-C0Q664T29 at around 6.00 min.

<img width="638" alt="image" src="https://user-images.githubusercontent.com/375980/177789317-bc2e8d3a-a6f7-41d7-8653-9ae8eee8e68a.png">

cc @SaxonF

[2022-07-07 13:56] jamiepalatnik commented on #30453
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested in Chrome, Safari, and SU on the user's site from [the most recent report](https://github.com/Automattic/wp-calypso/issues/30453#issuecomment-1152228256).
- Could not replicate in any of my tests.

📌 ACTIONS
- Closed as

[2022-07-07 13:56] #30453 closed

[2022-07-07 14:03] gcsecsey commented on #65235
Thanks for the detailed summary @mmtr! I've reproduced the issue, and indeed the plugins aren't removed when cancelling a plan.

To resolve this issue, I think we just need to add the same prop (`activeSubscriptions`) and the dialog component to the [cancel-purchase](https://github.com/Automattic/wp-calypso/tree/trunk/client/me/purchases/cancel-purchase/index.jsx) page as well. I've added this bug

[2022-07-07 14:18] renata-franco commented on #65001
📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes/No

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this.

Simple site on Firefox:

<img width="747" alt="imagen" src="https://user-images.githubusercontent.com/81378719/177791426-68276909-2c68-48cc-b4f7-3095d49a48a3.png">

Simple site on Chrome:

![imagen](https://user-ima

[2022-07-07 14:42] jp-imagines commented on #54610
Came across a report of this in 5354922-zd-woothemes.
I was able to reproduce the same on both a Simple and Atomic test site, with the exact same behavior as in the video above. The upload date is correct while uploading, but once the upload finishes it switches to yesterday's date.

If you click on a media file and click `Edit`, the correct upload date is shown in the file details.

[2022-07-07 14:51] #65008 closed, assigned to nobody

[2022-07-07 15:15] andres-blanco commented on #65356
I will keep this in the inbox for later, but it wont be necessary since we are temporarily removing the [i] button. p1657205822497629/1657140724.592239-slack-C0Q664T29

https://github.com/Automattic/wp-calypso/issues/65360

[2022-07-07 15:16] vindl opened #65367 "Sites Management Dashboard: cross-browser testing"
Once the i1 of the project is completed and before we release it to customers, let's do cross-browser testing.

Browser list:
- [x] Google Chrome
- [x] Mozilla Firefox
- [x] Safari
- [x] Opera
- [x] Microsoft Edge

List based on https://wordpress.com/support/browser-issues/.

[2022-07-07 15:29] renata-franco commented on #65044
📌 SCRUBBING

- Tested on Simple ✅
- Replicable on Core - No

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I cannot replicate this on simple sites. I also checked the chat and the site of the user reporting this and they have an extra empty button block in the code of the post. From what I read in the conversation in Happy Chat, the user duplicates the same post/page again and again and this includes the

[2022-07-07 15:29] #65044 closed, assigned to nobody

[2022-07-07 15:38] #65314 closed, assigned to nobody

[2022-07-07 15:54] gmovr opened #65369 "Implement Tracks events for interaction with add-ons page/cards i.e. clicks"
Reported by @michaeldcain in p1657208883483729-slack-C031TFM2NKC

We should track interactions (i.e. clicks on cards) and send this to Tracks. Eg. with the add-on name/ID as props.

[2022-07-07 16:03] jgcaruso commented on #54610
A year later I'm a bit more familiar with Calypso code, so I'm making an attempt to fix this now. @jp-imagines thanks for updating the issue to bring it back to my attention 😂

[2022-07-07 16:06] sirbrillig opened #65371 "Masterbar cart preserves open state after products are removed"
Originally reported in https://github.com/Automattic/wp-calypso/pull/65180

To reproduce:

- Add a product to the cart and then manually visit `/domains/add/:site`.
- Using the masterbar cart, remove the product from the cart.
- Once the masterbar cart disappears, immediately click to add a domain to the cart.
- Notice that the masterbar cart opens up on its own.

Expected behavior: the masterbar

[2022-07-07 16:08] emmnyc85 commented on #64972
Thanks, @vinimotaa. How would you adjust? I wrote this to make it clear that they need to purchase vs setting the wrong expectations. I'm sure there are better ways to approach though. Interested for your thoughts

[2022-07-07 16:36] obenland opened #65375 "Task: Remove Plan_Manager class"
### Details

Since we switched Atomic to using feature checks, the `Plan_Manager` class in the atomic lib is no longer needed.
Let's remove its last uses and then the class itself.

### Checklist

- [x] Update `get_atomic_v2_blog_type` (D83351-code)
- [x] Remove code that sets `plan_slug` (D82683-code)
- [x] Remove plan slug support from `wpcom_product_has_feature()` (D84148-code)
- [x] Remove `at

[2022-07-07 17:01] pauljacobson commented on #65082
I haven't reproduced this issue on my side because I'd need to be signed into the user's account in the app on my device.

[2022-07-07 17:06] cuemarie commented on #65082
@pauljacobson Gotcha, thanks for the quick reply! We'll see if someone in PQAs who has better luck with GPay can reproduce this. So far it's a tough one to replicate- hopefully we get more details from the user as well that might lend more insight. 👍

[2022-07-07 17:17] dsas commented on #65230
Make available to all: D83877-code

[2022-07-07 17:26] zaguiini commented on #65353
I was looking at what events we currently dispatch and although they're not track events, apparently we already have the means to understand the impact:

![image](https://user-images.githubusercontent.com/26530524/177833550-5d5dd494-f110-4790-838e-6b9925221904.png)

We're dispatching a GA event on the `Clicked Switch Site` action, and a pageview for `/home`. Isn't that enough? Do we want to use sp

[2022-07-07 17:48] mreishus opened #65380 "Manage Plugins: All sites view: "Edit all" and automanaged text"
### Details

* Visit /plugins/manage with "All My Sites" view
  * All plugins say "Auto-managed on this site", which doesn't seem true. It's probably auto managed on some sites but not others. What does "this site" refer to when I'm on an all sites view, anyway?
  * Click "Edit All". All buttons are disabled. This is probably because there are at least some sites that I cannot perform these action

[2022-07-07 18:06] zaguiini commented on #65353
I tried creating a funnel in Tracks: https://mc.a8c.com/tracks/funnel/view.php?35091/2022-06-30/to/2022-07-06.

The problem with that funnel is that there's no guarantee that the user clicked on the `Switch Site` button, then clicked on the `All My Sites` button -- and I doubt that's good enough. However, the GA implementation might be good enough:

![image](https://user-images.githubusercontent.c

[2022-07-07 18:35] #65357 closed, assigned to valterlorran

[2022-07-07 18:39] #65360 closed, assigned to andres-blanco

[2022-07-07 18:46] jp-imagines opened #65384 "Site Editor: See which templates use a given template part"
### What

Within the Site Editor, possibly on the list of Template Parts, it would be great to see a full list of templates that use any given template part (if any).

### Why

This would make it much clearer _where_ a template part is being used and whether or not it's being used at all.

For example, this would also remove any guesswork if you have multiple customized "header" template parts and

[2022-07-07 18:48] vinimotaa commented on #62977
[Link to Figma file](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=2353%3A25060)

[2022-07-07 18:54] vinimotaa commented on #62977
Good question! @jeremyanderberg thoughts?

[2022-07-07 18:57] jeremyanderberg commented on #62977
@allilevine @vinimotaa That is a good question. :) Not sure it matters much here, but let's add it in to be safe. Thanks for pointing out!

[2022-07-07 19:47] KirkwallDay opened #65385 "[Bug]: WooCommerce gets a bit confused when the site reverts from Limited Atomic."
### Quick summary

If a WooCommerce plugin is installed, and then the purchase is removed and the site reverted, the WooCommerce plugin screen contains a generic error message, and the Start a Store button is grayed out.

### Steps to reproduce

1. Have a site on a starter plan.
2. Purchase WooCommerce Subscriptions (I think this will happen with any WooCommerce plugin though)
3. Let the site go t

[2022-07-07 19:48] vparkhere opened #65386 "No indication that required plan is charged yearly when display monthly price for paid plugin"
### Quick summary

When the "Monthly Price" option is toggled, there's no mention that the required Starter plan is charged on a yearly basis.
<img width="927" alt="Screen Shot 2022-07-07 at 12 44 38 PM" src="https://user-images.githubusercontent.com/11635760/177859193-a6c0fbd6-4eeb-4cf8-b379-6104f920c1be.png">

### Steps to reproduce

1. Go to https://wpcalypso.wordpress.com/plugins/woocommerce-s

[2022-07-07 19:54] allilevine commented on #65221
@lsl How would you say this fits into our priorities, for adding 3PD plugins? Is it up to the 3PD partner to decide what translations to offer, or something that should be enforced?

[2022-07-07 21:16] daledupreez commented on #50740
I dug into this further yesterday, and I think we can move towards a better default experience by reducing the cache timeout to something like an hour. As per a discussion I had with @mpkelly, we likely need to tackle this as follows:
1. Add instrumentation so we understand how many outbound requests we're currently making for the podcast player, and what responses we're getting back (primarily wh

[2022-07-07 21:29] cuemarie opened #65389 "Add Built-In QR Code Generator for sharing pages and posts"
### What

A built-in WordPress feature (on Simple and Atomic) that generates a QR code for a specific page or post users can share.

### Why

Customer shared feedback that this is an expected technology at this point: 35711059-hc

Having to direct customers to third-party plugins or free online tools adds an extra step. Seems like this could be a nice feature to add.

### How

Packaging this with

[2022-07-07 21:42] zaguiini commented on #65353
Created the PR: https://github.com/Automattic/wp-calypso/pull/65388

[2022-07-07 21:59] vindl commented on #65170
I'm not sure if I understand the question. Are you asking for similar posts to use as a reference point or something else?

[2022-07-07 21:59] chiape commented on #57812
+1 5355923-zd (Firefox)

Shared the workaround!

[2022-07-07 22:11] mxhassani opened #65392 "Email tempates: Add the option to show tags"
### What

The new email template doesn't show the post tags and there isn't a way to activate that.

![image](https://user-images.githubusercontent.com/81776920/177879649-0dfc55ec-cf12-4323-8628-530861101c58.png)

Making it an opt-in feature could be useful.

### Why

Some users put more work into tags and categories and publish with the intent to advertise content that way

### How

As a checkbox

[2022-07-07 22:13] worldomonation opened #65393 "Flaky E2E: Click on the My Plans tab"
### Spec file

specs/plans/plans__legacy-renew.ts

### TeamCity ID

8189730

### Logs

[code]

[2022-07-07 22:14] worldomonation commented on #65393
This step has a failure rate of 49/1000, which is just under 5%.

That is an unacceptably high flakiness rate and I would say this is high priority.

[2022-07-07 22:21] JessBoctor opened #65394 "Apostrophe-2 Theme: Featured images are not shown in Blog Posts Block"
### Quick summary

When you add a blog posts block to a page while using the Apostrophe-2 theme, the featured images are not displayed

### Steps to reproduce

1. Start with a site with published blog posts with featured images
2. Create a page and add the blog posts block
3. Choose to display the images, in any position
4. Publish page, you will see the images
5. Activate https://wordpress.com/th

[2022-07-07 22:25] obenland opened #65395 "Task: Review usage of wpcom_product_has_feature()"
### Details

Let's review our usage of `wpcom_product_has_feature()` within `wpcom`. The function evolved quite a bit since we first started using it, accepting `Store_Subscription` objects now and also receiving a sister function in `wpcom_purchase_has_feature()` that might be more appropriate in some places.

### Checklist

- [ ] Update usages of `wpcom_product_has_feature()` where we use produc

[2022-07-07 23:45] vykes-mac commented on #65170
@vindl does considering third party services out of the scope here?

[2022-07-08 00:37] jeyip commented on #64131
Created a draft phab diff to address this problem D83905-code

[2022-07-08 02:26] p-jackson commented on #65035
👋
This page (PaWIov-3k-p2) has instructions on how to use the `wp linguine send-file` command to kick off the translation process.

It'll return an ID that you can use to track the task, and once complete, run the `wp linguine headstart-deploy` command you see in D69509-code.

[2022-07-08 02:29] p-jackson commented on #64747
Since this is reportedly only happening on simple sites, then I don't think we should attempt to fix this at all given that we're hoping that AMP will be removed from all simple sites very soon.

[2022-07-08 02:34] vindl commented on #65353
Let's just go with the tracks events, no need to export/import the GA historical data.

[2022-07-08 03:32] edwinho89 commented on #65214
35675805-hc

[2022-07-08 03:48] lsl commented on #65221
We discussed this a lot more on p2 in the end pdh6GB-IF-p2, lets close in favor of https://github.com/Automattic/wp-calypso/issues/65331 - which is a lot more concrete as far as first steps go.

[2022-07-08 03:48] #65221 closed, assigned to nobody

[2022-07-08 03:56] DavidRothstein commented on #65341
I did a little debugging and I think the culprit is this code: https://github.com/Automattic/wp-calypso/blob/6f9e2334a78baf2a34c39a8d9441907d9adaa4e3/client/signup/navigation-link/index.jsx#L110-L112

When the user clicks "Go to checkout" on the add-on page, it hits that code and submits the step with the _default_ dependencies (i.e. not including whatever add-ons the user just selected), thereby

[2022-07-08 04:28] edwinho89 commented on #65214
Maybe related to https://github.com/woocommerce/woocommerce/issues/32045 ?

[2022-07-08 04:33] taipeicoder commented on #65185
HotJar and FullStory scripts are live in production. That being said, FullStory data capture is currently paused due to account limitations. Given that we can already see interaction sessions via HotJar, should we just use that and remove FullStory?

[2022-07-08 04:45] SaxonF commented on #65198
Left a comment here pbNhbs-1Yo-p2#comment-7355

[2022-07-08 05:25] helenaartmann commented on #59363
Another case here: 5358224-zn

[2022-07-08 05:53] devNigel commented on #64084
Please follow up with the below user on a new ticket once the bug is resolved.

- [ ] 5240176-zd-woothemes

[2022-07-08 06:41] ai2n opened #65398 "[Bug]: Some blocks like Post / Comments / Query Title do not save the text color properly, it's reset and then visible correctly only on refresh."
### Quick summary

Testing on an atomic site with Zoologist theme, when you go to the Full Site Editor, and open the Style settings, then click on the Blocks options to customize blocks, these blocks (and possibly others):
- Post Title
- Comments Title
- Query Title

don't save a custom text color properly, it gets reset on save.

See video:

https://user-images.githubusercontent.com/88684520/1779

[2022-07-08 07:10] chriskmnds commented on #65341
Nice sleuthing @DavidRothstein ! You have a real knack for problem-solving :D

I think you narrowed in on the culprit - however, I'm not sure if `NavigationLink` should behave differently there. It does execute the `goToNextStep` callback after submitting the default dependencies it seems (from what I understand, the part you link to). and that's where we supposedly submit the `cartItem`, [here](h

[2022-07-08 07:44] #65281 closed, assigned to ivan-ottinger

[2022-07-08 08:33] devNigel opened #65400 "Calypso: Pages not listed"
### Quick summary

The pages were not loading for the user in Calypso dashboard. Cleared cache, tried from multiple browsers, but the issue was still there. I was not able to reproduce the issue on my end.

When the user checked on Google Chrome console, it showed this error:

for a code from WordPress.com.

![image](https://user-images.githubusercontent.com/33957570/177950201-ea62a687-cab6-4db9-a

[2022-07-08 08:50] wojtekn commented on #63199
@csabarakasz @danielbachhuber I've tested the workflow for the WP.com account that uses an email address not registered with Gravatar, and it worked fine for me - I was able to upload my photo to WP.com without creating a Gravatar profile.

[2022-07-08 08:57] ivan-ottinger commented on #65281
At the end it wasn't necessary to check for the `signup/goals-step-2` feature flag - as both goals (DIFM and Import) can be selected simultaneously on the Goals Capture i2 screen only. Goals Capture i1 screen is navigating to DIFM and Import flows using direct links.

[2022-07-08 09:07] tyxla commented on #16631
Thanks for the contribution @halleshubham - I've run the checks on your PR and taking a look now.

[2022-07-08 09:37] #65230 closed, assigned to dsas

[2022-07-08 09:50] taftina commented on #52209
Another one here: 5352488-zd

[2022-07-08 10:03] wojtekn opened #65402 "AMP: Disable AMP on 100% of existing simple sites"
### Details

Once AMP has been disabled for all new sites in https://github.com/Automattic/wp-calypso/issues/64002, disabled for 2% in https://github.com/Automattic/wp-calypso/issues/64003, disabled for 10% in https://github.com/Automattic/wp-calypso/issues/65199, and disabled for 50% in https://github.com/Automattic/wp-calypso/issues/65200, we want to disable it for all sites.

### Checklist

- [

[2022-07-08 10:39] mpkelly commented on #57399
Hi @worldomonation, I've just been through your repro steps above, but I could delete the account successfully. I used a brand new user account and only bought a domain which was cancelled before I deleted the account.

![image](https://user-images.githubusercontent.com/6851384/177975920-e6eec77c-ff08-4d96-b49c-4b9e3aa3b44d.png)
Do you want to retest it and let me know if you still see an issue?

[2022-07-08 10:46] donalirl commented on #57399
It looks like the cases I reported are for atomic, so you could test closing an account with a Pro plan purchase after making the site atomic. I didn't realize the original issue was for simple sites - I'm happy to open a new issue if needed!

[2022-07-08 11:07] mpkelly commented on #57399
@donalirl, yes, this content you posted above (contact support) is shown if the user account is linked to an atomic site.

There are three possible states for this page:

1. if atomic, then show the "Contact support" button
2. else, if not atomic but has cancellable purchases (refundable purchase/premium theme), then show the "Manage purchases" button
3. otherwise, show the "Close account" button

[2022-07-08 11:11] wojtekn commented on #65402
D83926-code

[2022-07-08 11:18] jeherve commented on #52105
Closing as duplicate of https://github.com/Automattic/jetpack/issues/11396

[2022-07-08 11:18] #52105 closed, assigned to nobody

[2022-07-08 11:25] jeherve commented on #34324
I'm afraid we will not be able to add additional, non contact-info related blocks to the Contact Info Block. This could break the contact info container structured data, and thus stop Google and other search engines from being able to easily parse the block and extract data from it.

This is why the type of block you can add to the existing block is limited.

I hope this clarifies things a bit.

[2022-07-08 11:47] Addison-Stavlo commented on #57449
Regarding this bug, that PR was a red herring. The changes there are suggested as an improvement to the tracking system, but in testing make no functional difference (with this specific bug nor with async actions). We can close it or merge it, but it really doesn't seem to make any difference.

Regarding the tracking system and the Cart block - IIRC from our investigations the issue was not with d

[2022-07-08 11:56] #16631 closed

[2022-07-08 11:57] #64975 closed, assigned to danielbachhuber

[2022-07-08 12:20] #65353 closed, assigned to zaguiini

[2022-07-08 12:37] #64456 closed, assigned to pablinos, danielpost, gmjuhasz

[2022-07-08 12:37] jeherve commented on #50571
This is already possible, thanks to the Carousel feature. You can enable the Carousel view for single image blocks by linking the image to its attachment page; when you do so, the carousel view will be triggered when clicking on the image.

[2022-07-08 12:37] #50571 closed, assigned to nobody

[2022-07-08 12:41] mpkelly commented on #63880
I am looking at this now. I was able to reproduce it using the steps above. Even after removing the `margin-top: 20px` there is still an issue with wrapping on smaller screens:
![image](https://user-images.githubusercontent.com/6851384/177994055-d60765cf-fa8d-407e-b8db-200bf46833c0.png)

[2022-07-08 12:43] danielbachhuber commented on #65167
@vindl @p-jackson I think I've added all of this live data as I've worked on #65166... this issue is probably safe to close.

[2022-07-08 12:52] rachelwinspear opened #65405 "Header missing on homepage and header settings missing from customizer"
### Quick summary

All pages show header and navigation except for the homepage, and #header is missing entirely in the HTML on the homepage.
There is no `<header>` section at all on the homepage. There is an `entry-header` but no `header`.

Header settings are missing from the Customizer

Theme: Morden

### Steps to reproduce

1. Site was imported from AIOWPM / Theme: Morden
2. The homepage does

[2022-07-08 13:07] vajrasar opened #65407 "FSE/FSE themes: Submenu creation, and submenu background and text color issue"
### Quick summary

On the Twenty Twenty Two (TT2) theme using the Page (Large Header) template we cannot create a submenu item.

To create submenu via Site Editor you will need to change the page template > create the submenu > save the menu.

If you use the same submenu then in the Page (Large Header) the background and text/link color of the submenu always remains white.

### Steps to reproduce

[2022-07-08 13:13] jp-imagines commented on #44844
Another request in 36016507-hc.

[2022-07-08 13:14] chriskmnds opened #65409 "Add-ons: Fix/add automated tests for Calypso & Signup"
There's a new admin page and a step in Signup for purchasing add-ons. The latter (and potentially both) is subject to an [ExPlat test](https://github.com/Automattic/wp-calypso/pull/65343). Once that's decided, let's review the code ([admin page](https://github.com/Automattic/wp-calypso/pull/64289) & [signup](https://github.com/Automattic/wp-calypso/pull/64451)) and determine the level of testing w

[2022-07-08 13:15] chriskmnds commented on #65409
CC @worldomonation

[2022-07-08 13:44] #65341 closed, assigned to chriskmnds, ciprianimike

[2022-07-08 13:47] bogiii commented on #65339
For now, there are two available screens:
<img width="878" alt="Screenshot 2022-07-08 at 15 46 33" src="https://user-images.githubusercontent.com/1241413/178004540-27fad185-76b2-4fde-b2c2-6b7e606eaf89.png">

<img width="878" alt="Screenshot 2022-07-08 at 15 46 52" src="https://user-images.githubusercontent.com/1241413/178004555-1318c483-abd9-4a25-990d-692571331aa1.png">

[2022-07-08 13:50] andres-blanco commented on #65361
Closing this issue for the time being since more changes might be inline for this component. Context: p1657140724592239-slack-C0Q664T29

[2022-07-08 13:50] #65361 closed, assigned to valterlorran

[2022-07-08 14:02] pablohoneyhoney opened #65410 "Reviewing Texts in the Add-ons page for Free Flow"
This is the flow I'm currently seeing (will open a separate issue for UX/Visual details):

<img width="1224" alt="Screen Shot 2022-07-08 at 9 38 18 AM" src="https://user-images.githubusercontent.com/25516611/178003244-d628bd42-9508-47af-a430-a0008ac53d19.png">

<img width="1296" alt="Screen Shot 2022-07-08 at 9 38 24 AM" src="https://user-images.githubusercontent.com/25516611/178003253-bfc97aed-67

[2022-07-08 14:06] vinimotaa commented on #65025
Hi folks, here is an update on this issue:

https://dotcommarketplacep2.wordpress.com/2022/07/08/marketplace-free-to-paid-nudge/

[2022-07-08 14:27] andres-blanco commented on #65204
A new funnel was created and the link can be found here p1657290414468079/1657050795.979579-slack-C0Q664T29.

[2022-07-08 14:27] #65204 closed, assigned to valterlorran

[2022-07-08 14:30] danielbachhuber opened #65411 "Sites Management Dashboard: Better abstraction for `isComingSoon`"
In #65359, I copy and pasted this bit of code for determining whether a site `isComingSoon`:

https://github.com/Automattic/wp-calypso/blob/03c84dd2376999ab07b6e6a74c4c3fbb22a8d282/client/sites-dashboard/components/sites-table-row.tsx#L73-L74

The code originated from `SitesTableFilterTabs`:

https://github.com/Automattic/wp-calypso/blob/d1fdb9ac04c87b6b2c83c5d39b647fa9961c84a5/client/sites-dashbo

[2022-07-08 14:47] #65137 closed, assigned to valterlorran

[2022-07-08 14:49] sirbrillig opened #65413 "Why does Google Workspace contact email field sometimes show validation error immediately?"
Originally reported here: pbLl1t-1c9-p2#comment-991

[2022-07-08 15:05] KirkwallDay commented on #65407
Ran across an instance of this here: 5357738-zen

Gave this CSS as a workaround:

[code]

User would like to be notified when the bug is fixed so they can remove that code.

- [ ] 5357738-zen

[2022-07-08 15:12] pablohoneyhoney commented on #65162
I'm not sure I agree with this. It could sound too incremental but we don't doo enough incremental work and expect the larger speculation will fix our problems later. Let's tackle now with the best UX now. afaik, the implementation of a better UX on this is fairly trivial. In other words, the current state of the sidebar can use help, and this work can significantly improve what's there, both in t

[2022-07-08 15:52] danielbachhuber commented on #65166
@SaxonF @vindl I _think_ I have a reasonably solid pass on all elements of the Sites Table. You can see all of the latest on horizon.

A couple of questions:
1. Do we want to keep this issue open for polish work, or should we create separate follow-up issues?
2. Is there anything else you'd like to see for this issue?

[2022-07-08 16:29] michaelpick commented on #65410
Thanks for the prompts and feedback, @pablohoneyhoney! I'm working through some ideas for iteration on this and will share them here ASAP.

[2022-07-08 16:58] vindl commented on #65166
@danielbachhuber

1. Let's create follow-up issues.
2. We can consider this done and close it. It went above the initial requirements, so you should check whether we should close https://github.com/Automattic/wp-calypso/issues/65167 based on the work shipped here.

[2022-07-08 17:02] vindl commented on #65167
Sounds good. 👍

[2022-07-08 17:02] #65167 closed, assigned to danielbachhuber

[2022-07-08 17:05] #65166 closed, assigned to danielbachhuber

[2022-07-08 17:06] vindl commented on #65170
@vykes-mac any alternative idea that you have and that looks viable is very much in scope. The point is to gather as many as possible and to pick the best one, or give up on the implementation if nothing looks feasible or worth it.

[2022-07-08 17:13] vindl commented on #65170
That P2 post is a good start! I think the high-level summary of what I was looking for is outlined in the `Done Is` criteria.

A more detailed version of the post format that I had in mind:
- Description of the problem that you are trying to solve.
- List of a potential solutions that you considered.
  - Outline which solutions are blocked or not viable, and provide rationale.
  - If they seem via

[2022-07-08 17:17] vindl commented on #65175
Thanks, @SaxonF! I'm moving this to the dev view.

[2022-07-08 17:20] danielbachhuber commented on #65197
@zaguiini When you document your findings, here's a post format you could use:

- Description of the problem that you are trying to solve.
- List of a potential solutions that you considered.
  - Outline which solutions are blocked or not viable, and provide rationale.
  - If they seem viable, provide a high-level implementation plan.
- For the remaining viable solutions (if any), summarize the pr

[2022-07-08 17:20] vindl commented on #64747
I'll still pull it to our board so that we can keep track of it and close it once the removal is done.

[2022-07-08 17:34] mikeicode commented on #64682
I've stopped using this effect completely for DIFM-L site builds because of this issue and have noticed it caused the repeating issue on previous sites I built.

TL;DR this issue affects many sites, anyone who has used this feature in the past (they won't all have noticed and reported the issue).

[2022-07-08 17:52] valterlorran commented on #65110
I thought that we maybe could create a private repo to act as an npm package. What do you think?

[2022-07-08 18:25] sbathompson-he commented on #56869
This happened here as well. 36018297-hc
Lost the customer, but the Byrne theme does not offer this option. We had to manually import the content.

[2022-07-08 18:33] Addison-Stavlo commented on #58408
this probably doesn't make sense anymore after the full FSE rollout and other event data that is present.

[2022-07-08 18:33] #58408 closed, assigned to nobody

[2022-07-08 18:40] andres-blanco commented on #65110
Progress was made here: p1657305456885959/1657289218.505249-slack-C0Q664T29. Once a P2 is created detailing the flow it will be linked from here.

[2022-07-08 18:43] markbiek commented on #65100
First P2 draft here: paYKcK-1R4-p2

[2022-07-08 18:48] zaguiini commented on #65197
Replied in: pdKhl6-sZ-p2

[2022-07-08 19:04] #63875 closed, assigned to donlair

[2022-07-08 19:09] mikeicode commented on #64682
I ran into this using Hever pdEkSe-EW-p2

Used the following which is more specific than the CSS above, this targets only Cover blocks set to "Fixed" (parallax).

[code]

[2022-07-08 19:46] pablohoneyhoney opened #65416 "Reviewing UI/UX in the Add-ons page for Free Flow"
This is the flow I'm currently seeing (text related notes in #65410)

<img width="1224" alt="Screen Shot 2022-07-08 at 9 38 18 AM" src="https://user-images.githubusercontent.com/25516611/178058425-c1d0a8cd-0980-4522-9a9a-22beb9f8aa52.png">
<img width="1296" alt="Screen Shot 2022-07-08 at 9 38 24 AM" src="https://user-images.githubusercontent.com/25516611/178058433-743c5dcb-4c95-4ff5-b809-235a28c40

[2022-07-08 20:54] DavidRothstein commented on #65416
There's also a UX issue here on mobile specifically -- once you scroll down to the bottom of the list and select an add-on, you are kind of stuck, until you realize you have to scroll all the way up again to find the new "Go to checkout" button.

Probably some kind of checkout option towards the bottom of the screen would help with this (and might be somewhat helpful at desktop widths too).

This

[2022-07-08 20:56] DavidRothstein commented on #65410
:+1: See also a previous comment about why we really might not want to mention the "$50.00 each" there: pdgrnI-1m8-p2#comment-2406

[2022-07-08 21:22] allilevine commented on #64995
I started running queries for this but I couldn't get data for June 28-30. I got a `Cannot cast 'test' to INT` error.

Posted some results through the 27th here: pdh6GB-1kr-p2#comment-2200

[2022-07-08 21:37] cuemarie commented on #63262
This issue presented for myself and the next HE at the end of this chat: 36018994-hc

Could consistently replicate the issue on the user's site. I checked JP Debugger for sign of the wrong connected URLs per @KirkwallDay 's note above, but I anything there that didn't match my other test sites.

That said, **disconnecting Jetpack and Reconnecting resolved the issue on my end** - letting user know

[2022-07-08 23:14] JoshuaGoode opened #65418 "Everything Import / Migrator / Migration Tool: Cannot Migrate if Domain is Using WPCOM Name Servers or is Mapped/Registered at WPCOM"
### Quick summary

`This site is already hosted on WordPress.com`

![Screen Shot on 2022-07-08 at 19:07:07](https://user-images.githubusercontent.com/4887830/178080494-f611da0c-b205-48d3-88e8-828ee8925b9b.png)
`

### Steps to reproduce

1. Have a self-hosted site
2. Have a domain that is pointed to the self-hosted site but is...
  * Registered at WPCOM
  * Mapped at WPCOM
  * Possible: Using WPCOM

[2022-07-09 00:29] tmmbecker commented on #51371
@pablinos I've been troubleshooting this same issue on https://thefifthestate.com.au/ and I have been able to reliably reproduce this problem as I direct access to the customer's Facebook account. I experienced the exact same problem that @jorpdesigns described. I get all of the [proper](https://d.pr/i/xOvbkd) [steps](https://d.pr/i/MMsaZd) in the flow, the user connection is created and I get a [

[2022-07-09 00:41] jeyip commented on #57812
I started taking a closer look at this again since we've free up some bandwidth. I'm consolidating potential causes of the issue below:

- Browser Problems noted [here](https://github.com/Automattic/wp-calypso/issues/57812#issuecomment-963872826) and [here](https://github.com/Automattic/wp-calypso/issues/57812#issuecomment-964428601). It should be noted that others could _not_ solve the problem by

[2022-07-09 02:26] cuemarie opened #65419 "Blockbase/FSE themes - Navigation Block: Site Editor does not accurately show changes made in Display module for nav block"
### Quick summary

Changing font size, color, and other Typography styles for the Navigation block results in some changes showing in the Site Editor, and others are only visible on the live site.

### Steps to reproduce

1. Install theme Meraki on a test site
2. Open Site Editor and create a navigation block with a few menu items
3. Under the nav block's block settings, adjust all settings under

[2022-07-09 05:34] nagpai opened #65420 "WhatsApp button: Confusing UI"
### Quick summary

The WhatsApp button block creates a `send message` block with a `WhatsApp button` block nested within it.

When a user tries to delete the block it reappears on reload of editor. Because of the UI of gutenberg, users typically end up deleting the Button block and not the parent send message block that remains invisible. The whatsapp button gets added again

### Steps to reproduc

[2022-07-09 08:05] filipanoscampos opened #65421 "[FSE]: Global Styles link color setting overrides color set for Navigation items"
### Quick summary

On Atomic sites, the color set for Links under the global site styles overrides the color set for the navigation items.
From my tests, this only affected Atomic sites, non-Atomic sites with the same FSE themes did not have this issue and it was possible to set a color for the navigation items.

### Steps to reproduce

1. On an Atomic site with an FSE theme, open the site Editor

[2022-07-09 08:49] devNigel commented on #65400
@halleshubham I was not able to reproduce the issue on the user's account or on my account.

I should have clarified that I am not sure how to reproduce this bug, but it is real and happened to the user.

[2022-07-09 09:26] devNigel opened #65422 "Text not responsive in FSE themes"
### Quick summary

The text on FSE themes is not responsive. This makes it quite large on mobile screens.

Even if you use `EM` or `REM` unit for the font-size, there is no difference on the rendered font-size with respect to the screen width.

Meanwhile, in Classic themes such as Twenty Twenty, the  `EM` or `REM` unit for the font-size actually reduces font-width with respect to the screen width.

[2022-07-09 11:11] MartynT50 commented on #52105
Interesting that this has been closed, together with the duplicate. I have seen no activity showing that this issue has been fixed or even acknowledged. Then again my experience with jetpack on the WP forums or via direct email is exactly the same.

[2022-07-09 12:55] jeherve commented on #52105
@MartynT50 The original issue, https://github.com/Automattic/jetpack/issues/11396, is still open. We'll post there as soon as we iterate on this. If you're interested in changes to that block, I would recommend hitting the Subscribe button on the original issue to get updates.

[2022-07-09 14:16] TPilgs commented on #57812
Another instance here: 5355710-zd

User mentioned they were able to access the preview on their mobile and iPad but still nothing on desktop.

[2022-07-09 14:23] MartynT50 commented on #52105
OK. Thanks

Sent from my iPhone

[2022-07-09 15:22] zaerl commented on #45586
After an initial analysis, It seems that this bug is random. I tried all the URLs reported here and I can't reproduce them. I do indeed see that there has been some errors in the near past.

`It looks like we're unable to reach that website address at this time.`

This means that the server tried to load the website but something happened on the other side. There can be multiple possibilities. I w

[2022-07-09 15:44] arunsathiya opened #65423 "Cover block: Ability to add a link"
### What

An ability to add a link to the cover block, like how it's possible on the image block.

### Why

Customer request: 5358288-zen.

### How

_No response_

[2022-07-09 15:44] arunsathiya commented on #65423
- This is a tracker for WordPress.com feature requests, while the feature will be built upstream: https://github.com/WordPress/gutenberg/issues/12684

[2022-07-09 15:55] eduardozulian commented on #51371
I asked the customer that @jorpdesigns helped if they are an admin but given @tmmbecker's reply, it might be another issue.

@Automattic/dotcom-pa-group would you mind checking this report and see if any extra triaging (including setting a priority) needs to be done?

[2022-07-10 05:48] rw-ye commented on #65421
5361706-zd-woothemes

Shared the workaround.

[2022-07-10 06:40] rw-ye commented on #62755
5362374-zd-woothemes

Theme: eighties

Advised user to access the customizer via Appearance > Customize.

[2022-07-10 08:01] rw-ye commented on #63262
5362554-zd-woothemes

I tried disconnecting and reconnecting Jetpack and that appears to have fixed it.

Awaiting confirmation from the user.

[2022-07-10 08:02] IoanaAMuresan opened #65424 "Site Editor: add option to duplicate custom template"
### What

Customer this week (5360890-zd) asked for a way to duplicate an FSE template; I expected to find the option in the 3 dots next to the template - but there was no such option. Next, I expected to see the possibility to create ALL types of templates under the Add new button - but regular page, 404 etc. did not appear there.
I provided a convoluted workaround that involved copy pasting code

[2022-07-10 08:05] kuropixel commented on #61937
Baskerville 2 theme is also affected. This may also be affecting the headstart function for simple sites with these themes as well.

[2022-07-10 08:12] csabarakasz commented on #64691
Another Elementor > Kit Library opening issue:

- [ ] 5362513-zd-woothemes

[2022-07-10 09:56] Nic-Sevic commented on #41428
Tried to test this and it appears to be working. When I upload videos via calypso, they go straight to VideoPress and I'm not seeing the reported site storage drop anywhere in the dash.

[2022-07-10 10:04] MaxPhilip commented on #53102
Another report: 5361297-zd

[2022-07-10 11:40] tellisbethel commented on #63812
- [ ] This seems to have cropped up again: 5333190-zd-woothemes

From the user: "July 6th 2022, there were total of 2 visitors only but the country of origin of those 2 visitors involve 4 different countries, i.e. India, Malaysia, Romania and United States."

![image](https://user-images.githubusercontent.com/1767799/178143296-03d25dab-6b02-4185-a1c0-57411eb0b161.png)

[2022-07-10 12:00] sharonlaker19 commented on #62279
+1 at 5362766-zen

[2022-07-10 12:37] Nic-Sevic commented on #3140
A maybe similar case here: p9F6qB-9M6-p2
In this one no role change was necessary to remove the site owner. This is still happening on this site even after verifying that the owner is correctly assigned everywhere on our end and resetting roles

[2022-07-10 12:55] donalirl commented on #62755
Seen in #5362860-zen with wpcom Libretto theme

[2022-07-10 14:05] ccwalburn opened #65425 "Donations Block: Add option to choose default payment term (one-time, monthly, annual)"
### What

The Donations block currently displays the One-Time tab as the default. Some website owners would prefer it to default to one of the recurring payment tabs: Monthly or Annual.

### Why

This allows website owners to default the Donations block to the payment term they would prefer their visitors select.

### How

Add an option in the Settings section of the sidebar to select the default

[2022-07-10 14:59] masperber opened #65426 "Twenty Twenty theme - Page Optimize "Concatenate Styles" option causes Video Blocks to align left"
### Quick summary

With the Twenty Twenty theme activated, the Page Optimize "Concatenate Styles" option causes Video Blocks to align to the extreme right side of the page. Interestingly, this does not show in the Customizer... only the live site.

### Steps to reproduce

1. Start a site with the Twenty Twenty theme active
2. Install and activate the Page Optimize plugin if not already installed.

[2022-07-10 14:59] ktyfuller604 commented on #65421
5363094-ZD

Shared the CSS workaround.

[2022-07-10 15:51] aisajib commented on #65082
📌 SCRUBBING
- Tested on Calypso ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this on a test account. Here's the eCommerce plan on the checkout page in INR:

<img width="653" alt="Markup 2022-07-10 at 21 45 32" src="https://user-images.githubusercontent.com/2541844/178152057-9dd327b0-e0c6-4de5-b933-7c1ae207f1a2.png">

When the Google Pay prompt shows up, I see this:

<img width="1145" a

[2022-07-10 16:19] aisajib commented on #65093
📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
I wasn't able to reproduce this issue on two simple and one self-hosted site I've tested on. Here's how I see it:

<img width="880" alt="Screen Shot 2022-07-10 at 10 17 27 PM" src="https://user-images.githubusercontent.com/2541844/178152999-d89390f2-02e4-47c8-b212-db

[2022-07-10 18:27] aisajib opened #65427 "Libre 2: Full-width, No Sidebar template isn't actually full width with the over block"
### Quick summary

The Libre 2 theme includes a template called “Full width, no sidebar”. However, that template is not really full-width. Instead, the “Default template” is the one that’s full-width, if there is no sidebar active (no widgets added).

### Steps to reproduce

* Activate the Libre 2 theme: https://wordpress.com/theme/libre-2/
* Open a page in the editor
* Add a cover block, and set

[2022-07-10 21:35] ktyfuller604 commented on #57812
Another report: 5363611-zd

I asked them to share their browser/OS when I provided the workaround.

[2022-07-10 23:03] manRebollo opened #65428 "Button block not following Letter Case settings in some themes"
### Quick summary

The text in a Button block will display in all-caps, regarding of the typed text or the setting under Typography > Letter Case, in themes such as Archeo and Skatepark.

### Steps to reproduce

1. Edit a Post or Page.
2. Add a Buttons set with at least one Button block.
3. Type lower case text in the Button.
4. Preview the Page or Post.

### What you expected to happen

If the Bu

[2022-07-10 23:50] jordesign commented on #46974
Closing in favour of https://github.com/Automattic/wp-calypso/issues/22911

[2022-07-10 23:50] #46974 closed

[2022-07-11 01:02] happychait commented on #62975
Another report in 5354848-zen

Subscriber invited to this site is actually able to see the nav links that are meant for the Contributor role, in combo with https://github.com/Automattic/wp-calypso/issues/63978

[2022-07-11 01:02] happychait commented on #63978
Another report in 5354848-zen

[2022-07-11 01:46] taipeicoder commented on #65024
Closing, thanks @arthur791004 !

[2022-07-11 01:46] #65024 closed, assigned to arthur791004

[2022-07-11 02:06] maxlaf commented on #65214
Another case in 5364213-zen

No Woo extensions aside from WCPay.

[2022-07-11 03:46] happychait commented on #65422
- [ ] to be followed up in 5360883-zen

[2022-07-11 03:52] p-jackson commented on #65183
Technically **My Sites** is the proper noun for the main Calypso area
<img src="https://user-images.githubusercontent.com/1500769/178184244-795b1886-0d02-4a37-be85-16378c589760.png" alt="CleanShot 2022-07-11 at 15 37 51@2x" width="50%">

But you make a good point, it does sort of work good enough at the moment. The confusion isn't helped by the fact the title of the dashboard is **My Sites** 😅
<im

[2022-07-11 04:18] roo2 commented on #53626
I see that 35171142-hc actually occurred before the fix went in, same for 35282172-hc. It looks like the other issues where related to jetpack/cloudflare/the ETK being uninstalled.

As far as I can tell, the original issue was fixed by https://github.com/Automattic/wp-calypso/pull/63947 🎉

I'll close this issue, I think the other issues can just be discussed as normal in #wpcom-support, I get a pi

[2022-07-11 04:18] #53626 closed, assigned to roo2

[2022-07-11 05:56] bperson commented on #63812
@tellisbethel Sadly, this is a case of another stats issue where - if a logged in user visits from a VPN ( or through multiple IPs that are geolocated in different parts of the globe ) - we'll end up with those discrepancies between countries and visitors. There is no plan to work on that in the near future.

[2022-07-11 06:28] zaerl commented on #65064
D82922-code and D82637-code have been deployed. This issue can be closed.

[2022-07-11 06:28] #65064 closed, assigned to zaerl, jeroenpf

[2022-07-11 06:30] zaerl commented on #63805
The last diffs have been deployed. This issue can be closed.

[2022-07-11 06:30] #63805 closed, assigned to zaerl

[2022-07-11 06:37] #65288 closed, assigned to rcrdortiz

[2022-07-11 06:57] Robertght commented on #51641
5355191-zen

[2022-07-11 07:23] SaxonF commented on #65162
@pablohoneyhoney I don't think these are perfect either but here's a few more concepts to look at:

Reverting back to using bottom space
![image](https://user-images.githubusercontent.com/1072756/178207475-7bcacd16-baea-411d-a27b-2f9e6da6d812.png)

Top actions bar
![image](https://user-images.githubusercontent.com/1072756/178207507-f573d593-c6ce-4386-85c9-129b894f90c4.png)

Removing sidebar title

[2022-07-11 07:29] sudeepbaral opened #65430 "Subscribe Block showing HTML text formatting tags in CTA Button text in the live site"
### Quick summary

CTA Button in Subscribe Block displays HTML Text Formatting tags in the live site when the texts are italicized or bold but  not on in the editor. This happens across many themes.

![Markup on 2022-07-11 at 1:00:32 PM](https://user-images.githubusercontent.com/3326057/178209137-2376ebad-7fb1-4259-bb13-aa883cd073fe.png)

### Steps to reproduce

1. Edit a Page/Post
2. Add Subscrib

[2022-07-11 07:45] druesome commented on #3140
Seems that in the case above, the non-owner admin was able to delete the site owner because the endpoint was returning the owner's local user ID, rather than their WordPress.com ID.

More details here:

p9F6qB-9M6-p2#comment-47991

[2022-07-11 08:58] mpkelly commented on #63880
I've taken another look at this and identified a potential fix which allows for any number of colour under the **Colours** section without them being cut off or overflowing into the section below.

The main issue I can see is the use of a fixed height without any way to handle overflow e.g. `overflow: auto`. But it also looks like the `margin-left` and `padding` can be removed too:

**Before**

![

[2022-07-11 09:00] gcsecsey commented on #64571
Diff created: D83978-code

[2022-07-11 09:15] rcrdortiz opened #65432 "Marketplace: Add Per Product Shipping as a product."
We need to add the Per Product Shipping plugin as a Marketplace sellable plugin.

[2022-07-11 09:28] wojtekn commented on #65402
r248776-wpcom

[2022-07-11 09:28] #65402 closed, assigned to wojtekn

[2022-07-11 10:08] miksansegundo commented on #64978
There are still pending translations for FR, HE, JA:

[Choose a category that defines your website the best.](https://translate.wordpress.com/projects/wpcom/-all-translated/828361)
[What’s your website about?](https://translate.wordpress.com/projects/wpcom/-all-translated/828360)
[We will use this information to guide you towards next steps.](https://translate.wordpress.com/projects/wpcom/-all-tra

[2022-07-11 10:22] bogiii opened #65435 "Subscriber form: Build a simple HTML form"
Branch: https://github.com/Automattic/wp-calypso/tree/add/subscriber-package

[2022-07-11 10:23] bogiii opened #65436 "Register library package: @automattic/subscriber"
Branch: https://github.com/Automattic/wp-calypso/tree/add/subscriber-package

[2022-07-11 10:24] bogiii opened #65437 "Subscriber form: Add Upload a CSV file functionality"
Branch: https://github.com/Automattic/wp-calypso/tree/add/subscriber-package

[2022-07-11 10:26] bogiii opened #65438 "Subscriber form: Hydrate screen with adding form validation"
Branch: https://github.com/Automattic/wp-calypso/tree/add/subscriber-package

[2022-07-11 10:30] donalirl commented on #57399
I see. We've had self-serve atomic cancellations for 8 months now: p7DVsv-deH-p2 so it's possible that the Close Account flow wasn't addressed? I think #1 from your list should show the Manage Purchases button, not Contact Support.

Maybe @mmtr has an opinion on this.

[2022-07-11 10:54] mmtr commented on #57399
Exactly. This is also similar to https://github.com/Automattic/wp-calypso/issues/55573 where users cannot just delete an Atomic site and are asked to contact support.

I agree with @donalirl's suggestion, and in both cases users should see a "Manage purchases" button like we do on Simple sites so they can cancel their purchases before proceeding:

Close account (all sites are Simple) | Delete site

[2022-07-11 11:20] rcrdortiz commented on #64128
We should also take into account Marketplace theme installations.

[2022-07-11 11:26] dsas commented on #64128
I'm not sure that's strictly relevant to this ticket. Installing plugins on an already atomic site doesn't follow this code path, it's only used for installing plugins as part of the atomic transfer. Installing a premium theme won't take a site atomic.

[2022-07-11 11:27] danielbachhuber opened #65440 "Sites Management Dashboard: Clean up styling around site name"
<img width="841" alt="image" src="https://user-images.githubusercontent.com/36432/178254224-a0275b1e-ec28-472e-b71a-8e0eed4f887e.png">

**Done is:**
* There's a bit of margin between the site name and site launch status label when the two are stacked.
* We have a design solution for somewhat long domain names.

[2022-07-11 11:44] wojtekn commented on #64516
@p-jackson changes are live now 🙂

[2022-07-11 11:44] #64516 closed, assigned to p-jackson

[2022-07-11 11:58] rcrdortiz commented on #64128
The Software Installation component should not depend on who/what code path is calling it. At the moment it's only being called from the atomic transfer but isn't limited to it.

[2022-07-11 12:01] emmnyc85 commented on #64972
Thanks, @vinimotaa. What are our copy recommendations? It says new right above the headline text too

[2022-07-11 12:13] emmnyc85 commented on #64972
Just to keep track:
- We removed 'and themes'
- I just **added a comment / ask** to change 'in our marketplace' to 'on the plugins page' as that is clearer for the customers. They have no knowledge of a marketplace or where it lives cc: @vinimotaa

[2022-07-11 12:21] #54610 closed, assigned to jgcaruso

[2022-07-11 12:26] #64817 closed, assigned to heavyweight

[2022-07-11 12:31] lucasmendes-design commented on #65410
Thanks for the feedback

And reinforce what you are getting in the button. Select Premium Themes or Get Premium Themes

Got it 👍🏼

We had a discussion about the plan's name and the concept of Add-ons. We used the term "add to your plan" because one thing is attached to another (even with a Free plan you can buy and pay monthly). We also thought to change the name from "Free" to "Flexible" to match

[2022-07-11 12:41] lucasmendes-design commented on #65416
Agreed, The CSS I tried to use something like "< >" because it's similar to HTML and CSS. I'll find a better one, otherwise, I'll do a specific icon for each one.

Got it!

I think we need to balance the layout and how we can sell the add-ons with enough space, I'll iterate on that for the next launch when we have more add-ons to offer.

Thanks for this @DavidRothstein. It makes a lot of sense to

[2022-07-11 12:50] dsas commented on #64128
Now I've looked at it, it looks like I'm wrong anyway - Store_Product_Marketplace_Plugins goes via a different route but does queue the same `marketplace_post_transfer_manage_software` async job.

I agree with that in theory, but that assumes the correct model is a single "marketplace software installation component", and I don't know whether I agree with that.

[2022-07-11 13:22] vindl commented on #64149
Removal deployed to 100% of existing sites.

[2022-07-11 13:22] #64149 closed, assigned to nobody

[2022-07-11 13:23] #64577 closed, assigned to nobody

[2022-07-11 13:24] vindl commented on #64577
Google sign-in migration landed in production today.

[2022-07-11 13:28] rcrdortiz commented on #64128
If the component can't install themes it should be named Marketplace plugin installation instead of software. If I recall correctly, that specific naming was chosen because of it being able to install themes in the future and just being limited to plugins, at least that was the answer I got when I was reviewing the feature.

[2022-07-11 13:29] zaguiini commented on #65173
Thanks, @danielbachhuber. This state if particularly useful for https://github.com/Automattic/wp-calypso/issues/65169.

[2022-07-11 13:40] dsas commented on #64128
All of that might be fine. What this ticket is about though is refactoring the implementation detail of installing plugins. How installing themes is modelled and implemented is somewhat related, but definitely feels like a separate ticket.

[2022-07-11 13:44] vinimotaa commented on #64972
![modal](https://user-images.githubusercontent.com/97929097/178278216-bc216107-7eeb-4955-b849-99b58de06bb8.png)

Copy updated @emmnyc85!

https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=2442%3A35703

[2022-07-11 13:45] vindl commented on #65162
I wanted to add another point that we should consider. When the user has only one site, the state that all new users end up with, the Site Switcher is not visible, and `Add New Site` is presented differently.

No site switcher at the top:
<img width="271" alt="Screenshot 2022-07-11 at 14 47 33" src="https://user-images.githubusercontent.com/1182160/178277175-7aa7cf0e-40c6-4177-bf85-32d7fb308259.pn

[2022-07-11 13:50] emmnyc85 commented on #64972
Thanks, @vinimotaa. Should the plugins page be hyperlinked just in case that's where a user decides to try to click? Or will drawing attention to that cause confusion?

[2022-07-11 14:12] ianstewart opened #65446 "Consider incorporating Payments Setup into My Home Checklist"
Starting a site with a Payments Block pre-added to your home page adds a card to My Home about "How to set up an online store" but does not add it to the checklist.

![image](https://user-images.githubusercontent.com/545779/178284597-ed0734de-326e-432e-860a-6789c28a5618.png)

Task: Consider how this task might be connected to the checklist instead.

[2022-07-11 14:17] zaguiini commented on #65197
Replied in pdKhl6-ty-p2.

[2022-07-11 14:17] ianstewart opened #65447 "Pull together Payments Blocks video tutorials into Video Library UI"
We have many Payments Block and eCommerce video tutorials in our support site.

https://wordpress.com/support/video-tutorials-add-payments-features-to-your-site-with-our-guides/

![image](https://user-images.githubusercontent.com/545779/178285357-6aec7f0c-46fc-43c7-a977-395a3c145511.png)

## Task

Pull these tutorials together into our Video UI in Calypso. (Screenshot below of how it works with Bl

[2022-07-11 14:18] dsas opened #65448 "Add WooCommerce Additional Variation Images to dotcom marketplace"
Add https://woocommerce.com/products/woocommerce-additional-variation-images/ to the wpcom marketplace

D84004-code
D84083-code
p9o2xV-2fK-p2
D84245-code

[2022-07-11 14:19] #65197 closed, assigned to zaguiini

[2022-07-11 14:29] ianstewart opened #65449 "First Product Modal pops up unexpectedly while editing homepage and is confusing"
This modal popped up unexpectedely about a minute into looking at my homepage after coming through the Seller Onboarding flow.

![image](https://user-images.githubusercontent.com/545779/178287859-7bbed5f9-75c4-4d1b-b234-5809b12d935c.png)

## Issues

1. Took about 30–60 seconds for it to appear.
2. The content is confusing. I didn't do anything like add a product. It just popped up.
3. If you click

[2022-07-11 14:33] ianstewart opened #65450 "TourKit: one gif has the wrong highlight colour"
One gif in the Editor Tourkit has the wrong colour of buttons. Or, at least, all the other ones are blue.

This one is pink.

![image](https://user-images.githubusercontent.com/545779/178288836-bfe599ae-f447-473b-8114-18046175116f.png)

The previous one is blue.

![image](https://user-images.githubusercontent.com/545779/178288894-f5ddf731-771b-4382-97a3-5dbea4e271d8.png)

[2022-07-11 14:43] rcrdortiz opened #65452 "Marketplace CLI: Add command for adding product to features check/list."

[2022-07-11 14:44] ianstewart commented on #65447
Potentially really great place to launch instructions about how to setup payments blocks.

![image](https://user-images.githubusercontent.com/545779/178291001-9f91a914-344a-4bf2-a512-16ba3042be2b.png)

![image](https://user-images.githubusercontent.com/545779/178291098-7062315c-00d5-459d-8eb1-c1aaff8978e9.png)

[2022-07-11 14:48] ianstewart opened #65453 "Earn Page Upgrade Flow does not take you back to starting point"
#### Steps to reproduce

1. On a free site visit Tools > Earn
2. Click the upgrade button
3. Upgrade to starter
4. BUG: wind up on outdated thank you page that won't get you back to the Earn Page

#### What I expected

1. To see the new thank you page.
2. And have a path to getting back to the action on the Earn page.

Would have been fantastic to get back here or maybe right into the stripe flow?

[2022-07-11 14:52] emmnyc85 commented on #64972
Got it - thanks for clarifying!

[2022-07-11 15:09] sharonlaker19 commented on #62755
+1 in 36038792-hc using the Dara theme. Recommended Appearance > Customize.

[2022-07-11 15:20] jamiepalatnik commented on #51371
Another report: 36037823-hc

[2022-07-11 15:37] daria2303 opened #65455 "Launching free site flow: very hard to find the free plan"
### Quick summary

If a user wants to launch a free site they are able to go to step 2 by selecting "Choose my domain later" but then they are not able to select a free plan. They have to try to find a domain, scroll down to find "skip purchase" > click "start a free site". It's very hard to find.

https://user-images.githubusercontent.com/11535091/178300437-e7a1bf61-d8c9-4b74-81ee-3475aad7b0c4.mp

[2022-07-11 15:49] ianstewart opened #65457 "Plugins: Incompatible plugins should not be featured as prominently as they are"
It shouldn't be as easy as it is to find incompatible plugins. Perhaps they should only be appearing with searches that directly match the name?

## Example

Two incompatible plugins appear here:

![image](https://user-images.githubusercontent.com/545779/178304552-4144b41c-16b1-473c-b68c-d7943d8fb07f.png)

[2022-07-11 15:51] ianstewart commented on #65457
Another example:

![image](https://user-images.githubusercontent.com/545779/178305154-fd717bdb-e243-427b-8528-41327aa5aafd.png)

[2022-07-11 15:54] ianstewart opened #65459 "Remove Classic Editor from Top Free Plugins"
If we're featuring our top free plugins, we should curate the list, and feature Classic Editor less prominently in the list.

![image](https://user-images.githubusercontent.com/545779/178305699-c6740792-7ff4-428a-b6cf-d3ca0700e301.png)

[2022-07-11 15:58] ianstewart opened #65460 "Widow in Headline at bottom of /plugins"
The "free." here should not be on its own line

![image](https://user-images.githubusercontent.com/545779/178306433-f42aba4a-b465-4194-bf15-6cf55dd66f21.png)

[2022-07-11 16:07] worldomonation commented on #65409
@chriskmnds Thanks for the heads up!

I agree, let's prepare something so that it can be merged together with the PR that enables the screens in question.
How do you see me fitting into the overall project?
1. advise how to go about making changes so that it doesn't break Pre-Release Tests before or after the feature is enabled.
2. work with whoever is implementing the feature on the same branch t

[2022-07-11 16:12] wpshellbelle commented on #57812
Another report at 8961853-hc
Provided workaround and this worked for them.

[2022-07-11 16:20] ianstewart opened #65461 "Marketplace: Missing paragraph break or break element in WooCommerce Subscriptions"
![image](https://user-images.githubusercontent.com/545779/178310975-c655d250-7423-463c-9b76-0704b08c6096.png)

There should be a linebreak before the heading.

[2022-07-11 16:29] ianstewart opened #65463 "Marketplace: Active plugin with Autoupdates not appearing as such in "Installed on" card."
I expected to see an Active and Autoupdates indicator here immediately after an upgrade.

![image](https://user-images.githubusercontent.com/545779/178312652-245bf8e5-219b-4275-9b38-8d571b83b950.png)

[2022-07-11 16:31] ianstewart opened #65464 "Plugins: Installed on card border should be full-width"
The bottom border here is not full-width. It seems as if it should be.

![image](https://user-images.githubusercontent.com/545779/178312995-f9844f5e-46d3-4763-8ef1-255d051f44dd.png)

[2022-07-11 16:33] tbradsha commented on #34324
It looks like the original issue was renamed; the actual issue is that there's a permanent empty paragraph block within the Contact Info block. The Form block not being able to be added was more of an example/side-issue (which, fair enough, doesn't need to be added).

[2022-07-11 16:38] wojtekn commented on #65181
@p-jackson I started reviewing this one and found that the Switch Site selector has more responsibilities. It's not only used to switch sites in the default context, but it supports other contexts too: switching sites from `/media/`, `comments/all`, and more. Thus I tried to hook our dashboard into the current selector logic:

https://github.com/Automattic/wp-calypso/pull/65462

It works, but we w

[2022-07-11 17:05] dsas opened #65466 "Skip plugins properly when installing marketplace plugins"
We had an alert about a failed marketplace plugin install (see p1657553976645749-slack-CJS75TX3R). This was because a 3rd party plugin already installed, fataled when any wp-cli command was used.

@csmcneill discovered that the installation worked when ran like this:

`wp --skip-plugins --skip-themes plugin symlink woocommerce-composite-products --activate`

We should change `Marketplace_Software_

[2022-07-11 17:14] jeherve commented on #34324
I wasn't able to reproduce this on my end. Do you still experience this issue?

[2022-07-11 17:17] #34324 closed

[2022-07-11 17:27] michaelpick commented on #65410
## Casing for the term ‘add-ons’ and other product naming

We currently appear to use sentence case for add-ons, so that it’s rendered ‘Add-ons’ in isolation or at the start of a sentence, but ‘add-ons’ midway in a sentence.

For specific add-on names it looks like we also use sentence case, so starting a sentence we’d render one of the add-ons as ‘Premium themes’, but if used midway into a senten

[2022-07-11 17:29] michaelpick commented on #65410
### Premium themes copy

#### Current copy

#### Example shared above
No example, but mention that:
- Risk of implying other themes aren’t beautiful
- Confusing copy with multiple pricing ($2/month OR $50/theme)

#### Suggested copy
**Headline**
- Premium themes
- Premium Themes ((<— if we’d like to standardize on title case))

**Body copy (variations)**:

((Use of collection to avoid any confusio

[2022-07-11 17:30] michaelpick commented on #65410
### Remove Ads / Ad-Free copy

#### Current copy

#### Example shared above

#### Suggested copy
**Headline:**

((or Ad-Free if we decide to title case individual add-ons))

#### Body (variations):

((I’m not a huge fan of ‘letting’ people do things, it feels ever so slightly paternalistic. However, it does make for concise copy. This approach also paints a nice mental picture of the reader browsi

[2022-07-11 17:31] michaelpick commented on #65410
### Custom CSS copy

#### Current copy

#### Example shared above

#### Suggested copy
**Headline:**

**Body variants:**

#### Notes
- I think we need to tread a line here given what we know about the makeup of our Free user base (i.e. the majority are not hugely technically savvy)
- OTOH, the last thing we want is people upgrading to a CSS upgrade who have no idea what CSS *and* don’t plan to lea

[2022-07-11 17:32] michaelpick commented on #65410
## Other

Let me know if you'd like me to take a look at CTA and transactional microcopy, too and I can add a few additional thoughts.

If it's more helpful, I'd be happy to gather my personal preferences/suggestions from the above, but I wanted to give you the initial latitude to foster conversation.

[2022-07-11 18:59] lucasmendes-design commented on #65410
Amazing Michael, I'm having a look and will put some of the copy in context to better visualize these options 👍🏼

[2022-07-11 19:01] #65323 closed, assigned to danielbachhuber

[2022-07-11 19:07] Addison-Stavlo commented on #59526
Updating the title of this issue to reflect its current state.

Lets update this link now point to dotcoms documentation. https://wordpress.com/support/using-styles/

[2022-07-11 19:10] allilevine commented on #64995
It turns out there was an event where the `results_count` was `test`. Asked about it here: p1657565533967789-slack-C029JEQRVRT

I added `and element_at(eventprops, 'results_count') != 'test'` to the query to work around it.

[2022-07-11 19:14] halleshubham commented on #59955
@tyxla I think this one can be closed, ain't it?

[2022-07-11 20:33] danielbachhuber commented on #64515
@p-jackson As far as I can tell, D22775-code needs to remain on WPCOM because https://github.com/Automattic/jetpack/pull/23871 didn't get synced to WPCOM.

Is this correct? If so, the only necessary change is 1031-gh-Automattic/wpcomsh

[2022-07-11 20:39] #64995 closed, assigned to allilevine

[2022-07-11 21:18] noahtallen commented on #63611
I'm guessing it doesn't. That could also be awkward to do, considering that much of ETK is a collection of "mini react apps." Or my other thought is that Gutenberg might add that provider. Most (all??) of everything in Gutenberg would be rendered within the Gutenberg react tree after all

[2022-07-11 22:21] danielbachhuber commented on #27701
@vindl Given the above ^, did you have an opinion on how we'd resolve this issue?

[2022-07-11 23:05] danielbachhuber commented on #65175
I looked into some potential approaches we could take.

In #65191, I discovered a feedback form tied to the cancellation workflow:

![image](https://user-images.githubusercontent.com/36432/178370671-bbc5fb15-0932-4d96-bc9f-02d3ad82d01d.png)

It connects to a `submitSurvey` action:

https://github.com/Automattic/wp-calypso/blob/86c748a2a368a4f7b119debfff8ba234ed4a2af9/client/components/marketing-su

[2022-07-11 23:29] cometgrrl commented on #55463
Marking this done, although the current destination board is different, this has been implemented.

[2022-07-11 23:29] #55463 closed, assigned to nobody

[2022-07-11 23:29] #55464 closed, assigned to nobody

[2022-07-11 23:42] phcp opened #65471 "[All] Create Unsubscribe reusable template"
### Context
The new email templates will require some additional work to create reusable templates from small parts of the emails. That will make it easier to reuse layouts across all templates. This task proposes a new template for the Unsubscribe area, which is placed at the bottom of the emails. The emails include:

- New Comment Like E-mails
  - Possible design mistake: `Want Less? Modify your

[2022-07-11 23:46] phcp opened #65472 "[New Liked Comment] Display Great Posts on template"
### Details
The New Liked Comment template should display the **Great Posts** list, which will be placed bellow the content, in the email body. There is an existing layout for this on `new-follower.php` → `missed-content-container`, it can used as a starting point.

![Image](https://user-images.githubusercontent.com/3113712/179616269-082b7d15-4f79-4ee0-ae04-d66bed5bfb84.png)

**Figma reference:**

[2022-07-11 23:49] jeyip commented on #59526
Holding this as an issue that @edanzer and I can tackle in onboarding

[2022-07-12 00:01] vykes-mac commented on #49486
The issue seem to be on both Simple and Atomic sites. To reproduce go to > All posts page > Change View to Classic > Select on3 of the post > View all post to go back. Change view back to default, then return from a post again and it will go back to classic view.

[2022-07-12 00:01] vindl commented on #65175
@danielbachhuber here is another recent example from the Site Editor feedback form: https://github.com/Automattic/wp-calypso/pull/56667. The responses from it ended up in a separate Zendesk queue.

[2022-07-12 00:04] SaxonF commented on #65162
@vindl Good pickup. Yes the behaviour should be the same whether you have one site or many. In the short term we can add the site switcher back to accounts with a single site. This does emphasise the point above about a broken top bar UX though.

[2022-07-12 00:08] lucasmendes-design commented on #65416
I followed the same pattern on the pricing page (Choose + Name of the add-on).

✔

I'm creating new icons for Free Ads

✔

### **Web flow**

Once the user select a add-on, the button changes to secondary to primary. If we want to create friction we can also try to use the Skip action on subtitle, the same rationale for Pricing page ([example](https://d.pr/i/165B6B))

https://user-images.githubuser

[2022-07-12 00:15] lucasmendes-design commented on #65410
Hi @michaelpick, here is an example of your suggestion.

<img width="1456" alt="pricing - white version" src="https://user-images.githubusercontent.com/98343583/178379117-788c9c58-9c27-414f-9c68-b60865825d9f.png">

About the tooltip, is this what you envisioned? I think it's a great idea to explain to our customer what is CSS. Sometimes we take for granted some terms that our users don't understan

[2022-07-12 00:19] vindl commented on #27701
It would probably make more sense to develop our own fixes or version of this block. However, this falls into new feature development territory a bit, so I'll assign it back to the team that's owning the Blocks work. They might be in a better position to make this call.

[2022-07-12 00:32] phcp opened #65475 "[All] Create Followers Blog URL reusable template"
### Details
The new email templates will require some additional work to create reusable templates from small parts of the emails. That will make it easier to reuse layouts across all templates. This task proposes a new template for the Followers Blog URL area, which will be placed above the action button, in the email body. There is an existing layout for this on `new-follower.php` → `follower_bl

[2022-07-12 00:48] vindl commented on #65162
And here is another inconsistency 😅: when viewing the sidebar from wp-admin `Switch Site` is replaced with `Browse Sites`. Clicking on it navigates to `/home` (the view that the new dashboard will replace):

<img width="270" alt="Screenshot 2022-07-12 at 02 44 41" src="https://user-images.githubusercontent.com/1182160/178384184-bdf42d1c-5e23-4431-9fd9-70e9f17e92d7.png">

This was likely a compromi

[2022-07-12 01:46] supernovia commented on #59456
We have another case here:
https://wordpress.com/forums/topic/galleries-8/

[2022-07-12 02:21] p-jackson commented on #64516
🥳

[2022-07-12 03:11] p-jackson commented on #65181
I had a conversation about this somewhere with @SaxonF and @vindl but frustratingly I can't find the link now 😩

Personally, I'm _not_ in favour of just replacing the fallback site switcher with our multi-site dashboard. At least not in a way that drops the entire dashboard in where the fallback site switcher used to be

When you navigate to `/sites-dashboard` (later, `/sites`) you aren't in the m

[2022-07-12 04:02] SaxonF commented on #65181
Agreed. I'd like to see us look more holistically at the global navigation and IA at some point, and that would include a refresh of the "site switcher"

![image](https://user-images.githubusercontent.com/1072756/178406091-faedeb04-b54f-443f-bd05-7a47406ca376.png)

[2022-07-12 05:27] vishnugopal opened #65476 "Document code flow for WordPress migration"

[2022-07-12 05:30] jordesign commented on #54911
Another case in #5366656-zen

[2022-07-12 05:35] vishnugopal opened #65477 "wordpress-importer does not work in PHP 8"
The wordpress-importer plugin does not work with PHP8

There is already a fix for this that is merged into the master branch, but no new version has been released since February 2020. We should push for the release of a new version.

[2022-07-12 05:38] nagpai commented on #65115
Maybe related - 36044582-hc
Changing tertiary color via customizer does nothing
Theme: Payton

[2022-07-12 07:08] wojtekn commented on #65181
@p-jackson @SaxonF, thanks for your feedback. I understand that our new Sites Dashboard is not a replacement for the current site switcher, and then the dropdown menu shown in the previous comment will perform that function instead.

I should clarify my previous comment - currently, I hooked our new dashboard into the "All My Sites" link that is available in the current switcher. I didn't replace

[2022-07-12 07:13] tyxla commented on #59955
@halleshubham I think so, but I'll let @escapemanuele @alshakero confirm that there's nothing else to be done on it before closing.

[2022-07-12 07:18] cpapazoglou commented on #64697
After some thought and discussions https://github.com/Automattic/wp-calypso/issues/64697#issuecomment-1171184129, it's better to handle this per case. The workaround is removing `wordpress-seo` and uploading it rather than installing it.

[2022-07-12 07:18] #64697 closed, assigned to cpapazoglou

[2022-07-12 07:50] pauljacobson opened #65478 "iOS WordPress.com app: Image and gallery blocks not loading after edits in web app"
### Quick summary

Our user reported that Image and Gallery Blocks are not loading in the iOS WordPress.com apps after the posts containing these blocks are edited in the web app at https://wordpress.com

Once the post is edited in the web app, Image and Gallery Blocks render like this:

![IMG_7139](https://user-images.githubusercontent.com/2912202/178436638-bc6a09c8-c0a0-441f-b4e2-2ff225cf67d1.jp

[2022-07-12 07:59] essleeung commented on #64869
Another one here- 5365919-zd-woothemes

[2022-07-12 08:02] cpapazoglou commented on #65299
No we are not working on this, it's on maintenance mode 😅

@mrfoxtalbot I could not reproduce the issue. I tried on a free (simple) site both from the Calypso editor (iframed) and the
WP-Admin editor.

https://user-images.githubusercontent.com/12430020/178440393-13380e53-5523-4450-bc92-2a8df16ddd6b.mp4

[2022-07-12 08:13] cpapazoglou commented on #65459
@gcsecsey using ES can we exclude specific plugins from category searches?

[2022-07-12 08:14] cpapazoglou commented on #65457
Loosely related to https://github.com/Automattic/wp-calypso/issues/65459

[2022-07-12 08:16] cpapazoglou commented on #65460
We should use the `preventWidows()` there.

[2022-07-12 08:35] Robertght opened #65479 "[Bug]: Marketplace: WooCommerce Subscriptions navigation menu label issue"
### Quick summary

After installing WooCommerce Subscriptions on the site(non-AT), we'll see the subscriptionsstaging label merged in the WooCommerce Nav menu.

### Steps to reproduce

1. Create a site with the Starter plan.
2. Search for the WooCommerce Subscriptions plugin and install it.
3. Look under WooCommerce tab and see this

![image](https://user-images.githubusercontent.com/6737345/17844

[2022-07-12 08:36] cpapazoglou commented on #65299
The problem is related to an `auto-fold` class being added to that test site.
![CleanShot 2022-07-12 at 11 33 09@2x](https://user-images.githubusercontent.com/12430020/178447382-83c8f061-dcd1-43a4-8de2-ffa95fbc9c40.png)

Don’t remember how `auto-fold` is added, but anyway when `auto-fold` and `folded` it should get `left:36px`.

We should add this rule to `wp-content/mu-plugins/masterbar/admin-men

[2022-07-12 08:37] cpapazoglou commented on #65299
@halleshubham can you try tackling this?

[2022-07-12 08:41] cpapazoglou commented on #60769
Now we have launched Yoast Seo Premium, let's try tackling this. It is still depending on https://github.com/Automattic/wp-calypso/issues/63714.

cc @WBerredo

[2022-07-12 08:48] rcrdortiz opened #65481 "Marketplace: Add AutomateWoo - Refer A Friend add-on to Dotcom Marketplace."
Tracking issue for adding the Marketplace product.

[2022-07-12 09:16] halleshubham commented on #65299
Sure! @cpapazoglou

[2022-07-12 09:54] #60677 closed, assigned to mpkelly

[2022-07-12 10:19] sharonlaker19 commented on #62755
5365720-zen, Storezia theme.

[2022-07-12 10:25] #64611 closed, assigned to KokkieH

[2022-07-12 10:45] #64969 closed, assigned to KokkieH

[2022-07-12 10:45] #64988 closed, assigned to KokkieH

[2022-07-12 10:52] escapemanuele commented on #59955
Yes, this can be closed!

[2022-07-12 10:53] escapemanuele commented on #59955
Already taken care of

[2022-07-12 10:53] #59955 closed, assigned to nobody

[2022-07-12 11:05] #64976 closed, assigned to KokkieH

[2022-07-12 11:10] wojtekn commented on #64515
@danielbachhuber I've double-checked it, and I see that https://github.com/Automattic/jetpack/pull/23871 is not a part of the code synchronized to WPCOM. It looks like we need to leave the WPCOM-specific fix in place.

[2022-07-12 11:30] rcrdortiz opened #65486 "Marketplace: Add vendor information command should correctly add the vendor information"
## Description
The current add vendor information command is not able to create the record.

[2022-07-12 11:42] lucasmendes-design commented on #65416
Btw, where is Help Center came from? I think we should get rid of that or use the same links as [WordPress Support Add-on](https://wordpress.com/support/add-ons/) for that. But, I think we're not using this anymore. cc @DavidRothstein @gmovr

<img width="416" alt="image" src="https://user-images.githubusercontent.com/98343583/178481749-844be005-4f40-4391-9bf5-f8d631ea2b5f.png">

[2022-07-12 11:46] #64633 closed, assigned to danielbachhuber

[2022-07-12 12:14] gcsecsey commented on #63167
https://github.com/Automattic/wp-calypso/issues/65459 is a follow-up issue for this one.

[2022-07-12 12:26] cpapazoglou opened #65487 "Marketplace: replace paid plugins references to premium plugins"
### What

We should move away from calling them paid plugins and relabel them as premium plugins. These are all handpicked, and we expect to maintain a high bar for quality so customers should see these all as premium. Paid is a result of these being premium

### Why

Related convo: pdh6GB-1yG-p2

### How

Searching for `paid plugins` in Calypso and replacing it with `premium plugins` should be en

[2022-07-12 12:32] danielbachhuber commented on #64515
Shipped 1031-gh-Automattic/wpcomsh, so I think we're all set here.

[2022-07-12 12:32] #64515 closed, assigned to danielbachhuber

[2022-07-12 12:43] danielbachhuber commented on #61578
Thanks for the reports, everyone.

It seems like this was fixed in Gutenberg 12.9. [Here's a similar report](https://github.com/WordPress/gutenberg/issues/39847) and [here's the fix for that report](https://github.com/WordPress/gutenberg/pull/39269).

I wasn't able to reproduce the bug on my Simple site:

https://user-images.githubusercontent.com/36432/178492163-ac1cc1ed-5f6b-4aac-8947-c6bce7c278b

[2022-07-12 12:43] #61578 closed, assigned to danielbachhuber

[2022-07-12 12:53] cpapazoglou commented on #64972
@vinimotaa I noticed that typography and the background color of the image are different than the original `AnnouncementModal` component found here https://wpcalypso.wordpress.com/devdocs/blocks. Is that on purpose? If yes, can we make sure that:

1. When the design of the component changes, communicate clearly which are the changes. We might need a separate issue for this.
2. Use colors found in

[2022-07-12 12:57] dsas opened #65489 "Review D84083 - add WC Additional Variation Images to features list"
D84083-code

[2022-07-12 12:59] zaguiini opened #65490 "Sites Management Dashboard: select only used fields when requesting `/me/sites`"
### Details

As a result of the exploration done in pdKhl6-sZ-p2, @vykes-mac proposed selecting only a subset of the fields when requesting `/me/sites`. That will greatly decrease the average response time for that specific endpoint, resulting in a faster experience for the end-user.

Some preliminary tests (10 requests sample) showed that requesting only the used fields would almost halve the res

[2022-07-12 13:01] ivan-ottinger opened #65491 "[New Liked Comment] Fix missing styles"
### Details
The styles of the "New Comment Like" email are missing:

![Image](https://user-images.githubusercontent.com/25105483/178496096-30194823-1cac-4ba9-adf3-6b005074c959.png)

[2022-07-12 13:07] ivan-ottinger opened #65492 "[New Liked Comment] Add RTL support"
### Dependencies

Depends on #65538

### Details
The "New Comment Like" email template doesn't support RTL at the moment.

Related patch that introduced RTL support to other email templates: D80544-code#change-QuCcMAyb43Vw - we can use it as a reference.

[2022-07-12 13:12] markbiek opened #65493 "Update PHPDoc for the "wp headstart run" command"
### Overview

The `wp headstart run` command is still using the old-style PHPDoc with `@synopsis`. If we update to the [documentation standard](https://make.wordpress.org/cli/handbook/references/documentation-standards/#command-annotation), we can provide more details about the different command options and what they do.

### Context

There was an attempt to do this once before in D82626-code but

[2022-07-12 13:36] #64894 closed, assigned to heavyweight

[2022-07-12 13:40] #65489 closed, assigned to dsas

[2022-07-12 13:46] ivan-ottinger commented on #65491
Patch is now ready for review: D84082-code.

[2022-07-12 13:46] galakhyati opened #65495 "The button text overlapping on mobile"
### Quick summary

The buttons block placed on the page when viewed from a mobile browser, the text on the button is a little long and it results in overlapping text.

### Steps to reproduce

1. Add multiple buttons in a single row.
2. Add the text on the buttons a little longer text.
3. View the page on a mobile browser.
4. The button text overlaps.

### What you expected to happen

I expect the

[2022-07-12 14:00] emmnyc85 commented on #64972
@vinimotaa - What @cpapazoglou  shared above doesn't render great. The text is off. Let's make sure it looks [like your version](https://github.com/Automattic/wp-calypso/issues/64972#issuecomment-1180428309)

[2022-07-12 14:13] sixhours opened #65496 "Premium Theme: Cultivate"
The Cultivate premium theme needs the following:

* [x] Headstart annotations (don't forget to submit for translation)
* [x] Demo site creation
* [x] GlotPress Project creation
* [x] Launch process

Cheat sheet: paYKcK-1Pt-p2

Premium theme launch guide: PNEWy-eBM-p2

Slack request: p1657517600657999-slack-C0Q664T29

[2022-07-12 14:28] vinimotaa commented on #64972
@cpapazoglou - thanks for highlighting the blue, and that's fine to keep the one we have in place. As per typography size, I've been using the size and type from our design system. What I have changed from the original modal overall was the title size to accommodate longer titles. The first modal (you can see below) uses a 44px font which I think is way too big for the size of the title we have.

[2022-07-12 14:28] epeicher commented on #64799
Hi @vinimotaa, @SaxonF,

Please find a screenshot with an initial version of the checkbox, please note that until the user does not tick the checkbox the button will not be enabled.

Any comments? 😄
|Unticked | Ticked|
|-------|------|
|![CleanShot 2022-07-12 at 16 24 00@2x](https://user-images.githubusercontent.com/3519124/178513484-88c9f08a-cbc3-4c66-bc6b-61ee2f58c6b6.png)|![CleanShot 2022-07-12

[2022-07-12 14:29] vinimotaa commented on #64972
Using the original Figma component, this is how it would look like:

<img width="1075" alt="image" src="https://user-images.githubusercontent.com/97929097/178514632-957d906f-1d81-4694-ae23-455a298cbe29.png">

[2022-07-12 14:39] emmnyc85 commented on #64972
can we make the header look better please? it's over 4 lines and should be on 2-3 probably, @vinimotaa

[2022-07-12 14:41] Nic-Sevic opened #65498 "CSS upgrade isn't removed after downgrade from atomic plan"
### Quick summary

Came across a case here where the CSS upgrade wasn't removed after the pro plan was cancelled and site reverted: p1657582838702019-slack-C03TY6J1A

Discussed with @jmdodd here: p1657620528009779-slack-C036E4KFP2L
Key points:
- no check to see if it actually deleted the option: (see links to code in thread above)
- This probably needs to be retroactively fixed for any sites that

[2022-07-12 14:43] mmtr opened #65499 "Manage plugins screen takes a long time to load after purchasing a marketplace plugin"
After purchasing a paid plugin from the marketplace, if you go to `/plugins/manage/:site`, the screen takes a long time to load with no loading animations. Sometimes I'm even redirected to `/plugins/:site` even when the site is already transferred to Atomic and the plugin is already installed.

Let's investigate why this happens and see if we can avoid that waiting time. If it strictly needed for

[2022-07-12 14:51] gcsecsey commented on #64614
I've verified that traintracks event are sent correctly. I've added a query for all marketplace search events in HUE, editor id 51836.

[2022-07-12 14:53] saygunnyc commented on #63819
Based on @pablohoneyhoney 's feedback above, sharing specs for each below.
As summary,

- Adjusted all emails to have the same content width and margins. –New post was larger than the others originally.
- Using **720 px** for desktop browser and **640 px** for desktop email. And keeping mobile the same _–**327 px** with **24 px margins**._

Link to Figma – c5bt2O2vWhTlhSREC89Bw2-fi-1045%3A9272

![

[2022-07-12 14:55] gcsecsey commented on #64614
It seems that traintracks events are stored differently than regular tracks events (PCYsg-5h0-p2). Therefore, traintracks events are only accessible via custom queries, and don't need to be registered on the Tracks event dashboard. With this information, I've closed the above 2 PRs that were open for registering the events.

[2022-07-12 15:01] sophiegyo opened #65500 "Theme: Twenty Twenty-Two, Archeo, Pendant - Simple sites missing Featured Image function"
### Quick summary

Featured Image function is missing in the block editor, for pages, posts and custom post types like Jetpack portfolio.

**NOTE:** I also reliably replicated this with Archeo theme and Pendant theme on a Simple site.
*I don't know if there are other FSE themes which don't include it.*

Affects:

**SIMPLE sites only, with theme Twenty Twenty-Two active.**
*Could not replicate on s

[2022-07-12 15:29] Addison-Stavlo commented on #58120
Closing this, as updates since then have made this prop potentially useful again.

[2022-07-12 15:29] #58120 closed, assigned to nobody

[2022-07-12 15:35] Babylon1999 commented on #57812
One more here zd-5367245

Provided the workaround.

[2022-07-12 15:47] Joshgrygiel commented on #65495
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested on Twenty Twenty Two theme, added multiple buttons through the `Buttons Block` within a `Row` as seen here:

![buttonstest](https://user-images.githubusercontent.com/88345647/178532742-6e34f897-f1c3-4846-acf3-9558a0718ae2.png)

This resul

[2022-07-12 15:47] #65495 closed, assigned to nobody

[2022-07-12 16:22] zaerl commented on #63202
See p1657642907423269/1651264773.045379-slack-C01A60HCGUA

[2022-07-12 16:33] Joshgrygiel commented on #65500
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm while having Twenty Twenty-Two, Archeo, or Pendant active on a simple site, there is no option to set a featured image for any taxonomy type:

![tttsimplenofeaturedimage](https://user-images.githubusercontent.com/88345647/178544676

[2022-07-12 16:48] Zackaryjacob opened #65502 "greate exspanceve growth uass"
greate exspanceve growth uass

_Originally posted by @milkyway1 in https://github.com/github/site-policy/issues/122#issuecomment-585313435_

__Originally posted by @ziachowdury in https://github.com/github/site-policy/issues/563__

[2022-07-12 16:51] cuemarie commented on #65042
📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - **Yes**

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was not blocked by https://github.com/Automattic/wp-calypso/issues/64682 in testing this
- I found that any new cover block added to any test site also zoomed in on the image when `Fixed background` was enabled. However, it's unclear at the m

[2022-07-12 17:02] Joshgrygiel commented on #65421
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm only on Atomic sites (Simple/SH work as normal) with the FSE theme Twenty Twenty Two active: the global style overwrites any custom color applied to the navigation block. The change reflects normally in the editor:
![fseeditorheade

[2022-07-12 17:08] michaeldcain commented on #65498
From planning:

If we switch this to use WPcom_Feature (?) gating, then we won't need to deal with the outdated options. After we fix this, let's open an issue to track an enhancement that nudges the CSS Add-on for users that had access via a plan and now no longer do.

[2022-07-12 17:17] lucasmendes-design commented on #65410
if this is not a problem @michaelpick , I think we can increase the length (just a bit) of the copy for **Ads Free**. The ideal length for Ads Free is two lines, IMO.

I choose this copy because of this `Explanatory but jargon-free; calls out flexibility and affordability as two of the things mentioned often in customer feedback`. This concept is good because add-ons are not well explained anywher

[2022-07-12 17:26] michaeldcain commented on #65413
From planning:

We don't have enough information to know why the validation is failing for Google Workspace emails (primary or alternate) at this time. We think that since the standard domain registration field doesn't have an "alternate email" address, that if a user purchases a domain, then separately purchases a Google Workspace email, that field is now blank and invalid.

The error notice is t

[2022-07-12 17:29] michaeldcain commented on #65371
From planning:

Lower priority, since most places in Calypso use the Checkout URL method to manage the cart. Should be a quick-ish fix though to update the state when the masterbar cart is hidden.

[2022-07-12 17:47] cuemarie commented on #65214
📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Was not able to replicate this. Summary of test:

- On a site with WooCommerce active and set up, I tested /wp-admin and WooCommerce pages - all behaving normally.
- I then purchased the WooCommerce Bookings plugin via the Plugins page.
- After purchasing that, all WooCommerce and wp-admin pages continued operating like normal.
- Able to

[2022-07-12 17:49] daledupreez commented on #60705
I was not able to find a relevant enhancement request in WordPress Core, so I created [issue 56207](https://core.trac.wordpress.org/ticket/56207) to request the feature. It's possible this won't be added to Core, in which case we will need to consider whether this is a feature we want to add to WordPress.com.

[2022-07-12 17:59] cuemarie commented on #64967
📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- **Could not replicate**. Steps taken:

1. Open Premium Site
2. Switch to Lodestar (user's theme)
3. Posts > Add New > Classic Editor

**Result**: New classic editor post opens in `Visual` mode, not `Text` mode.

Editor saves preference:
- `Save Draft` while in `Visual` mode has the Classic editor re-open in `Visual` mode.
- `Save Dra

[2022-07-12 17:59] #64967 closed, assigned to nobody

[2022-07-12 18:13] #64781 closed, assigned to markbiek

[2022-07-12 18:24] Robertght commented on #65394
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- It appears that the Featured images can be visible on the blog posts block, but only if the Featured images are set to be displayed on Pages from the Customizer > Content options:

![image](https://user-images

[2022-07-12 18:24] #65394 closed, assigned to nobody

[2022-07-12 19:02] annezazu commented on #65042
Hi hi! I don't have access to the various zendesk tickets and am not sure what p2 is being referenced since nothing is linked. The Cover block had some style changes in 5.9 (wouldn't impact this) and can now use a featured image in 6.0 (again wouldn't impact this afaik) so I'm not quite sure what's different here.

I did try various sized images using WordPress 6.0.1 and wasn't able to notice anyt

[2022-07-12 19:21] jeffgolenski commented on #65162
Hey folks — apologies I missed the ping for this earlier @SaxonF @vindl. We're also exploring this from a different angle. It may be best if we sit down to discuss the issues we've heard from customers, the IA, and how we can build something scalable for both out products.

I do love these explorations, but also agree with @pablohoneyhoney's feedback above. For Jetpack, "Add new site" is not funct

[2022-07-12 19:58] JessixBlade commented on #59793
-Another request for this hc-35662154
-Also requesting a possible ETA for this if there is one at this time
-Thank you

[2022-07-12 19:59] #65393 closed, assigned to worldomonation

[2022-07-12 20:12] halleshubham commented on #64632
@tyxla I'm currently into this issue, thinking of possible solution to be: Make sidebar open in "Reader" irrespective of it's position in "My Sites". (is it fine?)

While trying to access the selector getIsSidebarCollapsed, it errors out saying - "Invalid Hook Call Warning"
Also, I noticed that the version of react in Reader is older one (uses React Component) than the one used in "My Sites".

Can

[2022-07-12 20:42] sirbrillig commented on #53356
I hit a snag which is that this solution also has to work for free purchases, and currently it appears that free purchases do not create an `A8C\Billingdaddy\Purchases\Order`, so the pending page won't be able to poll for their success.

It looks like the `Purchases\Order` for paid purchases might be [created and saved](https://opengrok.a8c.com/source/xref/wpcom/wp-content/lib/billingdaddy/src/api

[2022-07-12 20:52] dcoleonline commented on #64917
I believe this was also the issue in 5365410-zd
They've manually fixed it on their site.

[2022-07-12 21:13] catscheer commented on #52100
@simison and @ivan-ottinger weighing in on this from a legal perspective. If you haven't read the answer from Holly to whether or not we still need the C&C banner, you can find it here https://wp.me/p4H3ND-18w. The TL;DR was that yes, we still need to provide some kind of cookie banner option for users to enable on sites that aren't showing our ads. The point of the banner is not to control any co

[2022-07-12 21:25] connorhipps commented on #64918
It looks as though this issue was reported on another site as listed here: 5351542-zd-woothemes

[2022-07-12 22:02] worldomonation commented on #65409
I went and checked how the Add-ons page behaves on both `wpcalypso.wordpress.com` and production.

![image](https://user-images.githubusercontent.com/6549265/178602433-59688620-7680-49c3-8d8b-34ebf8eea0e1.png)

Confirmed that e2e test accounts do not see this A/B test.

As for the paths that would be suitable to test - we currently have a spec to cover the signup process as a new user. I feel that

[2022-07-12 22:05] danielbachhuber commented on #63881
This issue was fixed in https://github.com/Automattic/jetpack/pull/24989, and is slated to be released in Jetpack 11.2

[2022-07-12 22:05] #63881 closed, assigned to danielbachhuber

[2022-07-12 22:11] ccwalburn commented on #64869
It's been determined that this is not a bug. The Cookies and Consents banner is not available by design.

Because the Starter plan does not include the No Ads feature, we manage the consent banners based on whether or not ads are displayed. When ads are displayed on a site and the site is viewed by visitors from GDPR (General Data Protection Regulation) IP addreses, we will automatically display a

[2022-07-12 22:11] #64869 closed, assigned to nobody

[2022-07-12 23:49] SaxonF commented on #65162
Just following up here, @jeffgolenski  and I quickly caught up and have started a cross team discussion around how to best move forward and collaborate on this.

[2022-07-13 00:02] alaczek commented on #65496
Thanks, Caroline! For the record, this theme needs all the steps listed here: paYKcK-1Pt-p2 :)

[2022-07-13 00:13] manuelrebollo-a11y opened #65510 "Gutenberg Accessibility: Group block does not report contents to screen readers"
### Quick summary

A user without eyesight, using a screen reader with braille display to navigate FSE, reported Group blocks are confusing because they won't report nesting levels, nor their contents.

### Steps to reproduce

1. Access Gutenberg using a screen-reader.
2. Open List View.
3. Navigate a page structure with Group blocks.

### What you expected to happen

The screen reader should repo

[2022-07-13 00:15] rinazrina commented on #62755
Another one: 36051202-hc using NewsCard (3rd party theme)

[2022-07-13 01:34] tellyworth opened #65511 "[Bug]: page template on scheduled post leads to publishing before scheduled date"
### Quick summary

In a nutshell: creating a template from a future scheduled post seems to cause two problems:

1. An error message and apparent "stuck" state when attempting to schedule the post.
2. (High priority) The post is published immediately even though the scheduled date is in the future and the UI indicades the post has not been published yet.

This happened on my personal dotcom blog,

[2022-07-13 03:29] roo2 commented on #64998
Posting my dev todo list here for more visibility on progress:
- [x] Add unified design picker and feature flag (copy static design picker)
- [x] Remove redundant code and features
- [x] Restyle and update text to match new layout
- [ ] Implement categories with new component
- [ ] Add generated designs
- [ ] Ensure preview and design selection works
- [ ] Update style to closely match designs
- [

[2022-07-13 04:17] lsl commented on #46182
Posted an update to the [Jetpack issue](https://github.com/Automattic/jetpack/issues/24832#issuecomment-1182735309) - that one looks limited to Firefox.

We could probably close this but it looks like there are still a few Opera reports unresolved here so leaving open.

Could we differentiate any future reports for Firefox and post those over in https://github.com/Automattic/jetpack/issues/24832.

[2022-07-13 04:51] jordesign commented on #62782
Closing this to consolidate into #64438

[2022-07-13 04:51] #62782 closed, assigned to nobody

[2022-07-13 04:57] jordesign commented on #64438
It looks as though this is related to the `block_gap` functionality Gutenberg - but if I'm honest - I can't tell if/where it is being worked on and/or if this is a core issue - or something Themes need to opt in to.

@annezazu can you provide any insight to if the issue mentioned here is something being addressed in core? Potentially related issues I see are:

* https://github.com/WordPress/gutenb

[2022-07-13 05:01] jordesign commented on #64551
Hey @renata-franco  - could you please clarify what you mean by 'core but not self-hosted' ?

[2022-07-13 05:04] jordesign commented on #64531
I can see there is an open Gutenberg issue for this:
https://github.com/WordPress/gutenberg/issues/22718

[2022-07-13 05:15] jordesign commented on #64404
@Addison-Stavlo according to the triage it was able to be recreated in Blockbase and TwentyTwentyTwo as well - so it sounds like it might be wider reaching.

[2022-07-13 05:20] Robertght commented on #51371
@pablinos any updates on this?

[2022-07-13 05:29] jordesign commented on #30252
I'd be inclined to agree we can close this out - with the Core issues closed, limited recent reports, and the fact it appears resolved.

Will leave it up to you @arunsathiya

[2022-07-13 05:31] jordesign commented on #48548
No more reports in a month - so I'm happy to close this for now. It will still be findable un Bugomattic searches and can be re-opened if needed.

[2022-07-13 05:31] #48548 closed, assigned to nobody

[2022-07-13 05:32] jordesign commented on #64358
Transferring to Jetpack as it seems this could be handled for all instances where Publicize bubbles up?

[2022-07-13 05:49] jordesign commented on #64553
This is likely something that would need to be proposed in core - but I'll keep it here as a Feature Request for now.

[2022-07-13 06:04] Zackaryjacob opened #65512 "Strongbone"
Previous upgrade:
Release notes:

**Install and activate**

- [ ] Install and activate [v#.#.#]-rc.1 on edge (######-code)
- [x] Install and activate [v#.#.#] on edge (######-code)
- [x] Activate [v#.#.#] on production (######-code)
- [x] Request [v#.#.#] AT upgrade (######-p2)

**Testing**

- [x] [v#.#.#] Desktop viewport E2E
- [ ] [v#.#.#] Mobile viewport E2E
- [ ] [v#.#.#] WPCOM core (######-co

[2022-07-13 06:07] Zackaryjacob opened #65513 ";)"
Previously, we passed the string `72` to the `Gravatar` component, which caused the following warning:

This PR ensures that we pass an integer to `Gravatar`.

To test:
- Checkout `people/invite-grav-int` branch
- Create an invite to a WordPress.com site
- In the invitation email that you receive, get the invitation key from the URL
- Go to `/accept-invite/$site/$invite_key`
- Check the console
-

[2022-07-13 06:07] #65513 closed, assigned to nobody

[2022-07-13 06:28] syhussaini commented on #65082
I was able to reproduce this with the following steps:

1. Open WordPress.com on a mobile browser (Chrome)
2. Proceed to checkout with any of the active purchases.
3. The currency initially shows in INR, but upon selecting GPay as the payment method, it switches to USD

_See the image below for reference_
![image](https://d.pr/i/Qrr2Ia+)
_Please [click here](https://d.pr/i/Qrr2Ia) if you are unabl

[2022-07-13 06:48] edwinho89 opened #65514 "Ixion: Colors in Links & Buttons does not apply on Buttons blocks"
### Quick summary

"Links & Buttons" under "Customize > Colors & Backgrounds" does not apply to button blocks.

Users are required to manually adjust individual button block background colors.

- [ ] 5365968-zd-woothemes

### Steps to reproduce

1. Insert button blocks on any pages, posts on site
2. Visit  "Customize > Colors & Backgrounds" and change "Links & Buttons" color
3. Save changes on Cus

[2022-07-13 06:54] nagpai commented on #65400
Another issue here 35976851-hc

Unable to replicate in Support sessions login / proxied browser.

Browsers: Brave / Chrome on Linux

I suspect hyperallergic privacy settings of local browser blocking scripts.

a. Console Error on Brave

![image](https://user-images.githubusercontent.com/4162931/178667366-5806b202-d8f2-45a0-a7a0-2e4d331a5d7b.png)

b. Chrome privacy settings

![image](https://user-i

[2022-07-13 06:57] taipeicoder opened #65515 "Support replacing site tagline in the site preview API"
## Description
Currently, the site preview API support replacing the site title with the one provided by the user during the onboarding step. Since we also ask users for the site tagline, it would be nice for the site preview API to support replacing the site tagline as well (if available). See Payton as an example.

![Image](https://user-images.githubusercontent.com/797888/178670055-93769eb8-2210

[2022-07-13 06:58] lsl opened #65516 "Browser back button loses react state after moving to 2fa step during login"
### Quick summary

When logging in to an account with 2fa enabled if you use the browser back button from the 2fa stage the login ui breaks preventing changing your email / account without a page reload.

This is pretty obscure and unlikely to be causing issues for anyone but it is the same broken state we encountered recently with another 2fa issue (p58i-cye-p2) and I don't think it's intentional

[2022-07-13 07:04] nagpai commented on #65400
Update : User did a plugin dance and found Elementor core was the culprit. I am not sure if it was Elementor or Its combination with Page optimize.

[2022-07-13 07:10] cpapazoglou commented on #65346
There is already a `store_vendors` table in WPCOM which I _think_ we can update.

[2022-07-13 07:19] cpapazoglou opened #65518 "Marketplace: Product Licensing - Create an openapi like documentation"
### What

In order that Vendors adapt our licensing system it would be valuable for them to have a documentation / playground where they can:

- Understand what APIs are available and how to use them eg https://github.com/Automattic/wp-calypso/issues/65347
- Be able to trigger test webhooks https://github.com/Automattic/wp-calypso/issues/65351

### TODOs

- [x] Create a new page in developers.word

[2022-07-13 07:22] cpapazoglou commented on #65004
I have also added a docs issue. I think this is now completed?

[2022-07-13 07:22] zaerl opened #65519 "Add support for UTF-16 XML WordPress import file."
See the follow-up in p1651264773045379-slack-C01A60HCGUA.

D84096-code

[2022-07-13 08:29] miksansegundo opened #65521 "CSS issues in RTL for the onboarding flow"
### Steps to reproduce

1. Set language to Arabic or Hebrew
2. Create new site at /start
3. Select domain and free plan
4. Select "Build" from the Where to start page.
5. See issues

### What I expected
**Goals screen**
![image](https://user-images.githubusercontent.com/1881481/178669679-85c09d09-6e96-4696-a4fb-eee7313c7635.png)

- [x] The heading text is not aligned right.
- [x] The blue button s

[2022-07-13 08:36] keoshi commented on #65162
Hey, all! Quick drive-by feedback on these latter options:

![image](https://user-images.githubusercontent.com/390760/178687524-7e8d4d61-9319-45c9-9a5f-74d0399792e7.png)

Specifically on the favicon vs text ratio, I'd point out that while the site image can be distinct, the site URL is the unique identifier. From that perspective, it seems important to give the text column a bit more room so longe

[2022-07-13 08:45] rakshitwesley opened #65522 "Activity Panel: Empty column appearing on right side of WooCommerce product pages."
### Quick summary

WooCommerce product pages display an empty column on the right side. This only happens when SSO is disabled.
![download](https://user-images.githubusercontent.com/95758851/178689063-f3b8259a-c831-477e-9203-9950af9976f2.png)
.

### Steps to reproduce

1. Navigate to WooCommerce products page (wp-admin/edit.php?post_type=product) or product editor

### What you expected to happen

[2022-07-13 08:48] rakshitwesley commented on #65522
36054494-hc

- [ ] 5370741-zd-woothemes

[2022-07-13 08:49] cpapazoglou opened #65523 "Marketplace: launch on Personal & Premium"
### Details

Following the guidelines here pdh6GB-1xy-p2, let's launch the ability to install premium plugins in Personal & Premium plans

Related convo: pdG1ka-at-p2#comment-302

Gathering all related diffs here

- Calypso for advertising  and requiring Personal rather than Business for free users
https://github.com/Automattic/wp-calypso/pull/66122

- WPCOM to allow plugin purchases in Personal /

[2022-07-13 08:59] mpkelly commented on #64435
Hi @Robertght, I've taken a look at this, and I don't think there is anything we can do about it. There are certain security restrictions in place when you embed another website within a second site, as we do when you go to `/view/DOMAINNAME`, and these are controlled by the site that gets embedded. All social media sites have blocked users from clicking these share buttons when in embed mode. One

[2022-07-13 09:03] michaelpick commented on #65410
Thanks, @lucasmendes-design! Here's what I've got:

### Ads free explanatory copy

Your suggestion makes sense. By character count the current copy runs:

- 76 characters for CSS supporting copy
- 80 characters for Premium themes
- 57 characters for Ads Free

**Current copy:**
Ensure a clean, ad-free experience for your site visitors

**A few ideas to increase the line length of the latter while s

[2022-07-13 09:04] mmtr commented on #65395
Is it the goal to only accept `Store_Product` objects? If so, I don't think that's doable without adding extra complexity to the codebase since there are some instances where we only have the product slug / ID available (e.g. all `activate_product`/`deactivate_product` callbacks), so we should add a `get_store_product` call to use the product directly.

IMO it's better if `wpcom_product_has_featur

[2022-07-13 09:13] janmckell opened #65525 "WooCommerce Subscriptions installed without access to WooCommerce Payments also"
### Quick summary

You can go through a limited installation of WooCommerce Subscriptions with the Starter plan (and it correctly installed WooCommerce as well), but then needed to activate to Pro to install something like WooCommerce Payments — installing our own extensions should be limited, or we should automatically install WooCommerce Payments.

### Steps to reproduce

1. Started at Plugins
2

[2022-07-13 09:24] edwinho89 opened #65526 "Cutoff when Adding Menu on Navigation block with "always" Overlay Menu"
### Quick summary

With "Always" setting on overlay menu under navigation block, the popup to insert link is hidden or cutoff to the left.

- [ ] 5369973-zd-woothemes

### Steps to reproduce

1. On Site Editor or Page, add a navigation block
2. Set "Overlay menu" on navigation block as "always"
3. Click on the hamburger icon on navigation block to view menu
4. Click 'plus' icon to insert new menu

[2022-07-13 09:25] janmckell opened #65527 "WooCommerce hung on 'Payments' screen in quick install flow"
### Quick summary

Setting up WooCommerce gets hung up on the Payments setup screen because it can’t load the plugins.

### Steps to reproduce

1. Started at WooCommerce option (in WP dashboard)
2. Began quick WooCommerce install flow
3. At 'Setup payments' the screen hung, since WooCommerce Payments were not installed

### What you expected to happen

I'd be able to set up payment options for Woo

[2022-07-13 09:31] janmckell opened #65528 "Plugin installation via 'set up marketing tools' fails"
### Quick summary

Going through the WooCommerce setup asks if we want to install plugins, via 'Set up marketing tools', like MailPoet, but then says we’re not allowed to manage plugins, once we click into it.

### Steps to reproduce

1. Started at WooCommerce option (in WP dashboard)
2. Began quick WooCommerce install flow
3. When clicking on 'set up marketing tools', I'm taken to a screen that r

[2022-07-13 09:37] rcrdortiz commented on #65432
Add to marketplace product catalog: D84080-code

[2022-07-13 10:00] #64614 closed, assigned to gcsecsey

[2022-07-13 10:02] rcrdortiz commented on #65432
Add to marketplace feature list: D84151-code

[2022-07-13 10:18] taipeicoder opened #65530 "Set the site title default to My store/blog/site"
## Description
In the Write and Seller flow, users will be asked to give a title (and tagline) to their site. Currently, if users have previously selected a site vertical, we would prepopulate the site title with the site vertical name, which can be confusing. From the conversations [here](p1656580666415949-slack-CRNF6A9DX) and [here](p1657620988192529-slack-CRWCHQGUB), it was decided to change th

[2022-07-13 10:24] mpkelly commented on #63880
As per discussion with @creativecoder and @daledupreez, code exists separately for Simple and Atomic sites. The issue is reported and confirmed for Atomic sites, and I have also checked the Customizer for Simple sites. The spacing is a bit tight, but the colours overflow correctly. So I plan to fix this for Atomic sites.

![image](https://user-images.githubusercontent.com/6851384/178711072-4a200e9

[2022-07-13 10:29] gavande1 commented on #65004
Yes. I am marking as completed. If child issues are needed in any case then you created them under above tasks.

[2022-07-13 10:29] #65004 closed, assigned to gavande1

[2022-07-13 10:39] gcsecsey commented on #64571
WPCOM changes deployed: r248930-wpcom

[2022-07-13 10:43] rcrdortiz commented on #65432
Add to marketplace feature list in wpcomsh: 1034-gh-Automattic/wpcomsh

[2022-07-13 10:50] rcrdortiz commented on #65486
Fixed here 718-gh-Automattic/dotcom-manage

[2022-07-13 10:50] #65486 closed, assigned to rcrdortiz

[2022-07-13 11:00] #60695 closed, assigned to miksansegundo

[2022-07-13 11:06] #65395 closed, assigned to mmtr

[2022-07-13 11:07] #64895 closed, assigned to heavyweight

[2022-07-13 11:10] neilmccreadie commented on #65522
Another instance in 36055657-hc,  toggling SSO resolved this.

[2022-07-13 11:35] mashikag commented on #65491
Patch was now accepted, landed and deployed. 🚀

[2022-07-13 11:35] #65491 closed, assigned to ivan-ottinger

[2022-07-13 11:43] grbicsanja commented on #65162
Looking at the proposals, I have a few thoughts:

- The goal here is to have users access the Sites management tool.
- Along the way, we want to make Add new site equally important (correct me if I'm wrong)
- We do not want to disrupt the way users switch between the sites but complement it

Thoughts on the iterations:

![Slice 3](https://user-images.githubusercontent.com/90194580/178725791-6f8c8c

[2022-07-13 11:50] #65452 closed, assigned to rcrdortiz

[2022-07-13 12:00] grbicsanja commented on #65162
Also, did you plan to do any usability testing for these changes? [We use Maze for this](https://jpopdesignp2.wordpress.com/resources/design-team-handbook/#async-usability-testing) and so far it's been pretty easy and straightforward.

[2022-07-13 12:41] phcp opened #65538 "[New Liked Comment] Update template layout"
### Context
The New Liked Comment template should be updated on top of the initial version `wpcom-notifications/html/comment-like.php`. The visual changes are listed below and the styling details are available in Figma.

**Figma reference:** c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A21504

### Screenshots

#### Existing layout (production)
<img width="442" alt="image" src="https://user-images.githubusercon

[2022-07-13 12:49] bogiii opened #65540 "Subscriber form: Localise hardcoded strings"

[2022-07-13 12:52] gcsecsey commented on #64571
While working on the Calypso part, I've found out that the language codes doesn't match between Calypso and WPCOM. I've created this diff to resolve the issue: D84165-code

[2022-07-13 12:54] phcp opened #65541 "[New Liked Comment] Update email subject"
### Context
**Email Templates I2** project will provide a visual refresh to Like and Comment emails. This task proposes to update the subject on New Like on a Comment emails to the following format:

**[`{SITE_NAME}`] `{USER}` liked your comment on `{POST_TITLE}`**

Layout reference: c5bt2O2vWhTlhSREC89Bw2-fi-2169%3A12886

[2022-07-13 13:03] bogiii opened #65542 "Subscriber form: UX error and limit notification handling"

[2022-07-13 13:04] bogiii opened #65543 "Subscriber form: Improve UX for removing selected CSV files"

[2022-07-13 13:06] bogiii opened #65544 "Subscriber form: UX introduce in progress state"

[2022-07-13 13:10] bogiii opened #65545 "Users > Email Followers: Introduce "Add Subscribers" button into current followers screen"

[2022-07-13 13:12] arunsathiya opened #65546 "Atomic: Show a banner that private sites won't show the media library files"
### What

Atomic sites (sites with a plugin or third-party theme installed) won't show the images on the media library if the site is marked as private. We should show a banner/notification at the product-level (on the media library) that the site has to be marked as public or coming soon for the images to be visible.

### Why

These reports usually end up with support advising the user to mark th

[2022-07-13 13:13] arunsathiya commented on #65546
Feature request is not an ideal label but I'll leave it as such.

[2022-07-13 13:13] arunsathiya commented on #65546
Tagging @Automattic/reactor for routing to the involved product teams.

[2022-07-13 13:24] markbiek opened #65547 "Test issue, ignore"
Test issue, ignore

[2022-07-13 13:24] #65547 closed, assigned to nobody

[2022-07-13 13:33] sixhours commented on #65496
Ahh, so it's not quite launch ready, gotcha. 👍

[2022-07-13 13:53] synora commented on #57812
Another one 34877036-hc
The workaround is also possible via wp-admin.

[2022-07-13 14:07] renata-franco commented on #64551
I wrote that incorrectly. I meant:

`I was able to replicate this issue on WordPress.com, but not on Self-Hosted`

I've updated the comment.

[2022-07-13 14:22] miksansegundo commented on #65521
Most of the issues were not reproducible in the local dev environment because the HTML links to the right CSS files `rtl.css` on the onboarding screens but this is not the case in the rest of the environments. Specifically, in all the screens after the domain selection, the HTML links to the CSS files `min.css` instead of `rtl.css`. For instance:

- The intents screen `/setup/intent`
- The goals s

[2022-07-13 15:03] JoshuaGoode commented on #65546
Hmm, perhaps we can fix the underlying problem.

The media library thumbnails aren't displaying because these sites were Public or Coming Soon before going Private.

While Public/Coming Soon, the Photon Subsizes feature was enabled which offloads intermediate thumbnail generation to Photon. Additionally, some Jetpack-based blocks always use Photon.  HEs can fix this by having the feature deactivat

[2022-07-13 15:05] JoshuaGoode commented on #52520
We can reduce the impact a bit by ensuring that Photon Subsizes is deactivated when a site is marked Private. Ideally, it would also be reactivated when set to Public.

@brandonpayton, I can try rounding up a WPCOM team to work on this but they might have questions for you.

[2022-07-13 15:05] wpshellbelle commented on #57812
Another report at 35991878-hc
I was able to duplicate issue. Provided workaround and this worked for this customer.

[2022-07-13 15:29] masperber commented on #55116
Closing since this seems to have been resolved in https://github.com/WordPress/gutenberg/issues/42058 :)

[2022-07-13 15:29] #55116 closed, assigned to nobody

[2022-07-13 15:41] vajrasar commented on #65067
Thanks for sharing @gwensmithx

Could be a useful addition.

[2022-07-13 16:05] vajrasar commented on #65152
Thanks @janmckell

Can you please elaborate on how Blockquote serves as a workaround (even if not perfect)? I tried to use the Tab for indentation using Blockquote block, but that also does not work.

[2022-07-13 16:11] #60064 closed, assigned to nobody

[2022-07-13 16:13] dsas commented on #65466
D84192-code will fix this in it's entirety

[2022-07-13 16:50] msilbers commented on #64917
- [ ] 5372892-zd-woothemes

[2022-07-13 16:57] markbiek opened #65553 "Theme/Plugin Bundling: Add plugins taxonomy to the theme showcase"
Related to #65100

In order to store a theme's bundled plugins, we're going to add a new "plugins" taxonomy to the theme showcase.

Any themes with associated plugins can have a new term added to them with the plugin slug. For the initial implementation, most themes will likely have only a single plugin term and that term will be “woo-commerce”.

We also need to make sure that the terms can be ord