[2021-03-22 20:16] obenland commented on #49944
Ah, I see, thanks for that.

Should we limit it to the posts list then? Not sure we should make it easier to wholesale opt out of it on Simple Sites.

[2021-03-22 20:24] brandonpayton commented on #51263
As mentioned here (p9GEWz-zG-p2), if you see another user site like this, please pass to the Atomic platform team so we can investigate before anyone works around the issue by forcing plan changes. Thank you!

[2021-03-22 20:55] ghost commented on #49944
Yes, makes sense to limit to the posts/pages list view.

[2021-03-22 21:34] ramonjd commented on #45692
I think we can close this since the ptk is fairly mature. There's a separate issue for the unicode issue:

[2021-03-22 21:34] #45692 closed

[2021-03-22 22:18] ianstewart opened #51290 "Theme Showcase: Remove Nessie image"
When no themes are found we should not be showing this Nessie illustration. We removed most of these a few years ago, iirc. It appears this one has stuck around. :)

![image](https://user-images.githubusercontent.com/545779/112065340-81f6e880-8b32-11eb-836c-58a068956643.png)

[2021-03-22 22:19] supernovia commented on #44994
I still see this too from the themes page, regardless of theme. Spotted while testing something else, so I don't know if users will see it, but for what it's worth I haven't been seeing this for a while.

[2021-03-22 22:26] andrewserong commented on #50407
Update: https://github.com/Automattic/jetpack/pull/19197 has been merged, but not yet deployed to wpcom. I'll keep this issue open until it lands.

[2021-03-22 22:36] #35742 closed

[2021-03-22 22:36] #35744 closed

[2021-03-22 22:37] #35743 closed

[2021-03-22 22:37] #35745 closed

[2021-03-22 22:50] creativecoder commented on #50102
PR to fix: https://github.com/Automattic/wp-calypso/pull/51291

[2021-03-22 22:54] worldomonation commented on #45871
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I tried the same steps today and found a newer UX has been quietly implemented for this use case.

1. launch Gutenboarding as logged in user.
2. name the site some name.
3. remove all alphanumeric text from the search box.
4. enter non-alphanumeric text.

With Japanese-Kanji script and

[2021-03-22 22:55] #45871 closed

[2021-03-22 23:04] worldomonation commented on #43762
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

With the following versions:
Gutenberg: v10.2.1
CoBlocks: 2.5.3
Editing Toolkit: 3.2798

I took the following steps to reproduce:
1. create a site that is Coming Soon.
2. create a new post.
3. insert the Blog Posts block type.
4. click on the block.
5. under the Block settings, scroll u

[2021-03-22 23:04] p-jackson commented on #51056
@autumnfjeld should I close this as not relevant? We won't clean up the modal code until we have a version of the welcome guide that works on desktop and mobile. Feels like that will happen in the fullness of time without keeping this ticket around to track it.

[2021-03-22 23:05] worldomonation commented on #43762
Removing stale to keep this active as I believe this warrants a look.

[2021-03-22 23:13] worldomonation commented on #45665
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I tried to reproduce this issue today with the following versions:
Gutenberg: v10.2.1
CoBlocks: 2.5.3
Editing Toolkit: 3.2798

1. start a new post.
2. enter some content by adding blocks into the post eg. Image, Paragraph.
3. save draft.
4. enter code editor.
5. insert some `&nbsp;` tag

[2021-03-22 23:14] #37543 closed

[2021-03-22 23:35] p-jackson commented on #50877
D59151-code is ready for review

[2021-03-23 00:11] worldomonation opened #51294 "CoBlocks: Placeholder text within CoBlocks are not localizing when UI language is changed."
### Steps to reproduce the behavior

This is an offshoot of the issue first reported at #37543. That issue dealt with localization of the help text, which remained in English despite UI language being changed.

This issue is for the text block placeholder text which are blocks embedded within the CoBlocks.

1. Start a new post.
2. Insert a selection of CoBlocks (eg. Hero block)
3. Save post as dra

[2021-03-23 00:41] worldomonation commented on #45658
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this today with the following versions:
Gutenberg: v10.2.1
CoBlocks: 2.5.3
Editing Toolkit: 3.2798

I had no issues connecting my LinkedIn account to the site, nor did I have issues sharing the post automatically to LinkedIn.

Seeing that I could not reproduce t

[2021-03-23 00:41] #45658 closed

[2021-03-23 00:58] autumnfjeld commented on #50364
This is complete. Analysis summary can be found at:
pbAok1-1Dh-p2#comment-4164
pa1C6h-W7-p2

[2021-03-23 00:58] #50364 closed, assigned to nobody

[2021-03-23 01:07] supernovia commented on #45586
Another case here: https://wordpress.com/forums/topic/problem-transferring-site-from-wix/  -- we'll update if we can get it imported

[2021-03-23 01:11] supernovia commented on #45586
And another case here: https://wordpress.com/forums/topic/wix-import/

[2021-03-23 01:16] autumnfjeld commented on #51056
@p-jackson  Sounds reasonable to me.  I'll close.

[2021-03-23 01:16] #51056 closed, assigned to nobody

[2021-03-23 02:21] p-jackson commented on #50877
This shipped in #51055 and D59151-code
We ended up showing the same welcome experience (either modal or tour) to AnchorFM users because the AnchorFM specific onboarding content has been removed. So it only depends on whether you're on mobile or not.

[2021-03-23 02:21] #50877 closed, assigned to autumnfjeld

[2021-03-23 03:53] autumnfjeld commented on #50358
Some points of investigation from Ganon estimation discussion:
- Could jetpack be the culprit
- Could public-api manipulation be the culprit
- Changes to 3rd party cookie requests
- Custom post types
- Start with tracing data

Start with at least Size M due to unknowns/need to investigate.

[2021-03-23 03:57] autumnfjeld commented on #50953
Ganon Estimation Session:
This will likely be a part of estimation of https://github.com/orgs/Automattic/projects/147#card-56634511

[2021-03-23 04:47] #49743 closed, assigned to joanrho, autumnfjeld

[2021-03-23 04:50] autumnfjeld commented on #50876
This work was done  in:
https://github.com/Automattic/wp-calypso/pull/51055
https://github.com/Automattic/wp-calypso/pull/51293

[2021-03-23 04:50] #50876 closed, assigned to nobody

[2021-03-23 05:01] p-jackson commented on #50362
Call for testing done and feedback collected

[2021-03-23 05:01] #50362 closed, assigned to p-jackson

[2021-03-23 06:39] kaitohm commented on #51188
Noting this user is missing the Links in the nav, while another admin on the site DOES see it. 3839654-zd-woothemes
They are confused by this, as they would expect all admins to have the same view.

[2021-03-23 07:01] yoavf commented on #45586
@supernovia I should have closed this issue as it was resolved on our end a few months ago. But two recent reports tell me that this might be a new problem. Please share those URLs with us when the customers do - we'll take a look.

[2021-03-23 10:17] zdenys opened #51305 "Google Calendar Block: Links within events are not clickable"
### Steps to reproduce the behavior

1. On a page or post, embed a Google Calendar that has at least one event that contains links in the description
2. In the Editor, click the event, and then on the link it contains
3. View the page/post on the front-end, click the event, and then on the link it contains

#### What I expected to happen
Clicking the link within the event should open the destinati

[2021-03-23 10:17] zdenys commented on #51305
Reported in 3845264-zd-woothemes

[2021-03-23 10:36] cpapazoglou commented on #50765
If we are going to suggest to plugin developers to make a change, let's propose to **them** that they use JS to get the sidebar width which is something they should have done in the first place IMO. We could also think about using a CSS Variable but it won't be IE11 compatible.

[2021-03-23 11:38] Nic-Sevic opened #51308 "Private posts scheduled for the future are automatically published"
### Steps to reproduce the behavior

1. Create a new post/page, set to private and for a future date
2. Click the publish button in the upper right
3. Check page/post list and see in published section

#### What I expected to happen
the post should go to the scheduled section like public posts do
the publish button should say "Schedule" for both AT and simple sites

#### What actually happened
On

[2021-03-23 11:52] getdave commented on #51283
Reopen as we are waiting for the JP release to declare this fully "Done". However, the fix should now be in place on Atomic.

[2021-03-23 11:58] #51283 closed, assigned to getdave

[2021-03-23 12:12] cathymcbride commented on #40195
https://github.com/Automattic/wp-calypso/issues/44994 is a dupicate of this as well.

[2021-03-23 12:51] simison opened #51311 "Site setup complete; crashing customer home after launch"
Customer home checklist crashes after site launch for sites without menu.

### Steps to reproduce the behavior

1. Go to wordpress.com/new/
2. Enter a site name
3. Pick a free domain
4. Pick a design with the blank canvas theme, one of these will do:

    <img width="500" alt="Screenshot 2021-03-23 at 14 44 50" src="https://user-images.githubusercontent.com/87168/112148607-bd52ef00-8be6-11eb-8fe6-

[2021-03-23 13:00] tyxla commented on #50298
Thanks, @stephanethomas, we appreciate that!

Do you have any suggestions for someone familiar with these flows that we could ping to take a look instead?

[2021-03-23 13:12] stephanethomas commented on #50298
@scruffian maybe ☺️.

[2021-03-23 13:14] kdevnel opened #51312 "Block editor settings sidebar collapsed by default leads to lack of feature knowledge"
**What**
I believe the setting sidebar in the block editor shouldn't be collapsed by default or at least should be highlighted somehow - as a new user I have no indication that this exists or even contains additional block settings.

**Why**
Running a test as a brand new user who purchases an eCommerce plan I decided to try and add a post. This was easy enough - I added a few paragraphs and a more

[2021-03-23 13:52] ivan-ottinger opened #51315 "Navigation block: making the block more self-explanatory"
I have been testing the Navigation block and found it a bit confusing. I wasn't sure how to use the block properly.

- I think we should make it more clear **where the Navigation block boundaries are**. The users may incorrectly add blocks inside the Navigation block _thinking_ they are adding blocks to the page/post - below the vertical Navigation block.

For example, in my test I added Spacer bl

[2021-03-23 14:20] alshakero commented on #51311
I tried reproducing this in Chrome, FF, Edge, and Safari and couldn't. And because the error seems to involve React DevTools, I tried to repro on FF and Chrome with RDT installed, and still couldn't reproduce it.

Might there be any more context?

[2021-03-23 14:23] scruffian commented on #50298
It's been four years since I worked on this. I don't remember anything about it :)

[2021-03-23 14:46] ciampo opened #51318 "Create "Domain Picker stability" milestone"
## What

Create a milestone to group =folder structure refactor, semantics rewrite, unit and integration tests issues

## Why

Helps visualise it as a overall goal

## A/C

- [x] Create milestone
- [x] Add all issues (completed and open)

[2021-03-23 14:47] synora commented on #31779
@gwwar Can we get an update on this?
See also: https://github.com/Automattic/wp-calypso/issues/21246

[2021-03-23 15:04] annemirasol commented on #32079
Confirming that this still happens for WordPress.com sites.

When removing a user, admin is offered the option to reassign or delete posts, neither of which happens.

[2021-03-23 15:07] tyxla commented on #24019
Thank you @sirbrillig and team! Absolutely outstanding work with this one 👏  ❤️

[2021-03-23 15:16] gwwar commented on #31779
@obenland @simison would y'all like to help triage this one

[2021-03-23 15:19] flootr commented on #32079
I'll have a look at this as I'm working on this piece of Calypso currently

[2021-03-23 15:20] mmtr commented on #49128
Fixed in r223208-wpcom.

[2021-03-23 15:20] #49128 closed, assigned to BogdanUngureanu, mmtr

[2021-03-23 15:33] sirbrillig commented on #50647
The weird imports should be fixed by https://github.com/Automattic/wp-calypso/pull/51321 and https://github.com/Automattic/wp-calypso/pull/51320 which also adds `jest` to the `devDependencies`, but I don't understand the mentions of enzyme and postcss. `composite-checkout` does not use those packages.

How do I get these warning messages to display? Running `yarn` at the root of the monorepo menti

[2021-03-23 15:34] razvanpapadopol commented on #41066
https://github.com/Automattic/wp-calypso/pull/50998 should fix this one. Let's keep it on hold until the PR gets merged.

[2021-03-23 15:49] ianstewart opened #51322 "Launch: Coming Soon label in sidebar takes seconds to full minute to disappear"
### Screenshot

![image](https://user-images.githubusercontent.com/545779/112175416-39d4d600-8bc5-11eb-9544-9aeb185ad0a1.png)

### Steps to reproduce the behavior

1. Create a new site
2. Launch site
3. Observe how long it takes for the label to disappear from the sidebar

**Note:** Tested using my typical a12n account setup.

[2021-03-23 15:53] ciampo commented on #51229
In order to fully extract the Design Picker to a separate package (`@automattic/design-picker`) , the following files/components need to be extracted too:

**To a new package `@automattic/calypso-a11y` (which needs to be created):**

- `client/lib/a11y`

**To `@automattic/components`:**

- `calypso/components/jetpack-logo`

**To `@automattic/onboarding`:**

- `/components/badge`

**To `@automattic

[2021-03-23 15:55] rickmgithub opened #51325 "Submit button vanishes"
### Steps to reproduce the behavior

I created a native contact form on a free site with the theme: Rebalance.

I added an “outline style” in the block settings.

when I view the published page the submit button disappears.

It reappears when you go back and select the “fill” style.

Video here – https://d.pr/v/FVK6TM

#### What I expected to happen
The button to remain

#### What actually happene

[2021-03-23 16:01] creativecoder commented on #51311
I was able to reproduce locally in Firefox, selecting the Fredrickson theme.

I’m not clear about the detailed workings of the checklist these days, but generally what’s happening is
- The first task has an id of `start_site_setup`
- The task is autocompleted (since it's actually resolved during the onboarding flow), and a request is made to the `/checklist` endpoint to mark it's completion
- The

[2021-03-23 16:06] ianstewart opened #51326 "Plugins: Search results for "ecom" and "ecommerc" do not surface WooCommerce"
### Steps to reproduce the behavior

1. Go to plugins screen in calypso
2. Search for `ecom` or `ecommerce`

#### What I expected to happen

For WooCommerce and any other non-extension `ecommerce` plugins to be surfaced in search results as I typed.

#### What actually happened

No WooCommerce.

![image](https://user-images.githubusercontent.com/545779/112178164-90dbaa80-8bc7-11eb-9c1f-d4d3b8d0cf4

[2021-03-23 16:08] ianstewart opened #51327 "Plugins: WooCommerce onboarding does not launch after installation"
### Steps to reproduce the behavior

1. Go to plugins screen in Calypso
2. Install WooCommerce

#### What I expected to happen

One of the following options

1. That I be directed automatically to the WooCommerce Onboarding flow similar to actions in the Ecommerce Plan on WP.com or when installing Woo on a self-hosted site.
2. That I am offered direction via the UI on how to get to the Onboarding

[2021-03-23 16:16] ciampo opened #51328 "Domain picker: remove temporary @wordpress/compose types patch"
## What

The Domain Picker package at the moment uses a [hardcoded type patch](https://github.com/Automattic/wp-calypso/blob/refactor/domain-picker-folder-structure/packages/domain-picker/src/types-patch.ts) for the `@wordpress/compose` package, while waiting for the package to update its types

## Why

The correct types should be added upstream, and code should be as DRY as possible

## A/C

- [

[2021-03-23 16:32] #51191 closed, assigned to BogdanUngureanu

[2021-03-23 16:45] zdenys opened #51331 "Editor: Impossible to select multiple Separator Blocks at once"
### Steps to reproduce the behavior

1. Add a [Separator Block](https://wordpress.com/support/wordpress-editor/blocks/separator-block/)
2. Add a [Paragraph Block](https://wordpress.com/support/wordpress-editor/blocks/paragraph-block/) (for simplicity, but could be any block)
3. Add another [Separator Block](https://wordpress.com/support/wordpress-editor/blocks/separator-block/)
4. Try selecting al

[2021-03-23 16:47] ianstewart opened #51332 "Themes: Recommended Themes does not include Storefront or other Woo Themes when WooCommerce is active"
### Steps to reproduce the behavior

1. Create a site on WP.com
2. Install WooCommerce
3. Visit themes showcase on WP.com

#### What I expected to happen

WP.com Themes would recommend Storefront or other WooCommerce themes when WooCommerce is active.

#### What actually happened

![image](https://user-images.githubusercontent.com/545779/112184758-83c1ba00-8bcd-11eb-8db2-d3c8617db988.png)

[2021-03-23 16:54] zdenys opened #51334 "List Block: Impossible to paste text that was copied from any other block"
### Steps to reproduce the behavior

1. Add a [Paragraph Block](https://wordpress.com/support/wordpress-editor/blocks/paragraph-block/) and type some text
2. Copy the text by selecting it with your mouse
3. Add a [List Block](https://wordpress.com/support/wordpress-editor/blocks/list-block/)
4. Paste the copied text

#### What I expected to happen
See the text pasted
#### What actually happened
No

[2021-03-23 16:56] ianstewart opened #51335 "Themes: Do not feature Varia parent theme on Atomic."
### Steps to reproduce the behavior

Potentially related to the installation of WooCommerce and how Storefront is surfaced in that instance. See https://github.com/Automattic/wp-calypso/issues/51332

1. Create a site on WP.com
2. Install WooCommerce
3. Visit themes showcase on WP.com
4. Click the more button to show all themes
5. See Varia prominently featured

#### What I expected to happen

Vari

[2021-03-23 17:01] zdenys commented on #51312
Definitely! I encountered this today in 28593742-hc.

[2021-03-23 17:04] zdenys commented on #50710
Encountered in 28593742-hc. Related issue is also this one where the right-sidebar is closed by default: https://github.com/Automattic/wp-calypso/issues/51312

[2021-03-23 17:36] #45557 closed

[2021-03-23 17:39] worldomonation commented on #45593
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I tried to reproduce this issue today with the following versions:
OS: macOS Big Sur 11.1 (20C69)
Browser: Firefox Nightly 89.0a1 (2021-03-23) (64-bit)

Across all levels of zoom, the placeholder text remained in the same position relative to the text.

As I was not able to reproduce th

[2021-03-23 17:39] #45593 closed

[2021-03-23 17:40] worldomonation commented on #35741
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-03-23 17:40] #35741 closed

[2021-03-23 17:43] worldomonation commented on #45514
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue remains reproducible with the following versions:
Gutenberg: v10.2.1
CoBlocks: 2.5.3
Editing Toolkit: 3.2810
OS: macOS Big Sur 11.1 (20C69)
Browser: Firefox Nightly 89.0a1 (2021-03-23) (64-bit)

Removing the `Stale` label in the interest of keeping this issue open.

[2021-03-23 17:52] worldomonation commented on #47694
Possibly related to #27701 which is a long-standing issue.

Closing in favor of the existing issue.

[2021-03-23 17:52] #47694 closed, assigned to nobody

[2021-03-23 17:54] worldomonation commented on #27701
Removing the Stale label as Facebook (among other media embeds) continue to provide less than ideal experience.

When embedding a link, the block turns to a simple paragraph of the embedded URL. The blocks do not render as expected in Preview nor in Published mode.

[2021-03-23 18:20] scinos commented on #50647
`npx @yarnpkg/doctor packages/composite-checkout` should show the errors.

They are "errors" because a dependency of `composite-checkout` (`calypso-build` in this case) is saying "whoever imports me needs to import these packages as well". Most likely nothing will break if `composite-checkout` don't specify those dependencies, but it is theoretically possible that a future version of `calypso-buil

[2021-03-23 18:29] creativecoder commented on #49944
Note that the "Default editor for all users" setting is an Atomic sites only provided by the Classic editor plugin. There is no longer an equivalent setting for Simple sites, since we disconnected and started removing the editor preference as part of the Calypso editor deprecation. (Given how long it took to untangle the editor preference code, I don't think we should add it back!).

I would stron

[2021-03-23 18:33] creativecoder commented on #49944
Note that we still have a list of user ids for those we contacted regarding the Calypso editor deprecation; those could be used as a starting point for targeting messaging related to toggling to wp-admin pages to access the classic editor.

[2021-03-23 18:42] chad1008 opened #51340 "Nav Unification: Jetpack Security settings are duplicated for Atomic Sites"
### Steps to reproduce the behavior

1. Using a WoA site, navigate to Jetpack > Settings > Security
2. For the same site, in a new tab, navigate to My Site > Settings > Security
3. Note the available options on each screen. "Downtime monitoring," "WordPress.com log in," and "Prevent brute force login attacks" are all present on both menus

#### What I expected to happen
These options to exist on a

[2021-03-23 18:43] davipontesblog opened #51341 "Nav Unification: Unnecessary "Import" flow opening a new tab"
On Tools > Import, "Choose from full list" opens a new tab. This seems unnecessary in the nav unification context now.

#### Steps to reproduce

1. Starting at URL: https://wordpress.com/
2. Tools > Import
3. Click on "Choose from full list"

#### What I expected

To see the new page on the same tab.

#### What happened instead

It opens a new tab

[2021-03-23 18:47] chad1008 opened #51342 "Nav Unification: Jetpack Performance settings are duplicated for Atomic sites"
**Steps to reproduce the behavior**
1. Using a WoA site, navigate to Jetpack > Settings > Performance
2. For the same site, in a new tab, navigate to My Site > Settings > Performance
3. Note the available options on each screen. "Search/Jetpack Search" and "Performance & Speed" sections are shown on both screens

**What I expected to happen**
These options to exist on a single screen, without dupl

[2021-03-23 18:48] AtrumGeost opened #51343 "Navigation can be improved in: "Users > My Profile" and "Users > Personal Settings""
**What**

1. Click on "Users > My Profile" or  "Users > Personal Settings"
2. Notice that you are taken form the WordPress.com Dashboard (Nav Unification) to the https://wordpress.com/me navigation

On Atomic sites, this can also create confusion since editing "My Profile" won't work the same as on /wp-admin/profile.php

**How**
It would be great if we can:

- Have the same navigation experience (

[2021-03-23 18:49] macmanx2 commented on #45586
Hi there @yoavf, for https://wordpress.com/forums/topic/problem-transferring-site-from-wix/ that's https://ebonyro1.wixsite.com/ebonynikita to PcQxzG-5-p2

I tried repeating the import 10 times per our internal workaround, but no luck. :(

[2021-03-23 18:49] davipontesblog opened #51344 "Nav Unification: Site Health odd screen break point"
Tools > Site Health could use some better handling of screen breakpoints:

<img width="1060" alt="Screen Shot on 2021-03-23 at 14-33-00" src="https://user-images.githubusercontent.com/31009008/112201302-7e249e00-8be6-11eb-9ce5-d4bb0ebfb643.png">

### Steps to reproduce the behavior

1. Go to https://wordpress.com on an atomic site.
2. Click on Tools > Site Health
3. Reduce screen size to see how t

[2021-03-23 18:50] AtrumGeost commented on #49689
Related: https://github.com/Automattic/wp-calypso/issues/50568

[2021-03-23 18:50] worldomonation commented on #51082
Refactoring how the hooks, browser instance and contexts are managed after feedback in #51209.

[2021-03-23 18:55] davipontesblog opened #51345 "Nav Unification: Jetpack Search odd flow/ lost focus in navigation"
If I have Jetpack Search and click "Settings" while in My Site > Jetpack > Search, it takes me to a Settings screen that should show as My Site > Settings on the navigation on the left - but it looks like I am nowhere in navigation:

<img width="1058" alt="Screen Shot 2021-03-23 at 14 19 57" src="https://user-images.githubusercontent.com/31009008/112202235-84ffe080-8be7-11eb-8d68-25579b4fad84.png"

[2021-03-23 18:57] chad1008 opened #51346 "Nav Unification: Writing Settings are duplicated for Atomic sites"
**Steps to reproduce the behavior**
1. Using a WoA site, navigate to Jetpack > Settings > Writing
2. For the same site, in a new tab, navigate to My Site > Settings > Writing
3. Note the available options on each screen. Many are duplicated, sometimes with different options provided:

- "Media" exists on both screens, but in Jetpack has an additional option to display comments in the carousel
- In

[2021-03-23 18:57] AtrumGeost opened #51347 ""My Site" button behavior"
**What**
Before Nav Unification, the "My Site" button would always direct to "My Home".

Now, if you are already in the WordPress.com Dashboard (Nav Unification) clicking on "My Site" doesn't do anything.

I'm not sure if this intentional, so I checked the Reader button, and I  can see when I'm on the Reader, clicking on the "Reader" button brings me back to "Followed Sites".

**Why**
It would be

[2021-03-23 18:58] ianstewart opened #51348 "WooCommerce: Default Product Price in £ in $ locale"
I believe this may be related to our WPcom environment and not WooCommerce.

### Steps to reproduce the behavior

1. Create a site on WP.com
2. Upgrade to Business Plan and Install WooCommerce
3. Create a new product
4. See error

#### What I expected to happen

Product prices would be in $ as a default.

#### What actually happened

![image](https://user-images.githubusercontent.com/545779/112202

[2021-03-23 19:00] davipontesblog opened #51349 "Nav Unification: Loss of current item focus on navigation"
This is happening across several different areas of navigation on atomic sites. The issue happens when you click somewhere on a screen in calypso or WP Admin, and you're taken "somewhere else", and this "somewhere else" is not indicated on the navigation on the left.

This creates a disconnected user flow and confusing as to where in the UI the user is.

Here are some examples:

- `Appearance > Ad

[2021-03-23 19:19] desnum opened #51350 "Inconsistent sub-menu items between the dropdowns and horizontal tabs"
Most of the dashboard tabs have sub menu items, that are replicated by horizontal tabs. But these are not always consistent.

**What**
Can we make each menu tab consistent vertically and horizontally?

**Why**
For consistency

**Examples**

The Upgrades menu sub-items vertically and horizontally listed
<img width="527" alt="upgrades" src="https://user-images.githubusercontent.com/43796228/11220538

[2021-03-23 19:55] jackiejade commented on #51188
Another user looking for this: 28019006-hc

[2021-03-23 20:04] metabreakr commented on #38310
#3848003-zen

At least one author is not shown in any stat displays.

[2021-03-23 20:05] #50647 closed, assigned to sirbrillig

[2021-03-23 20:11] obenland commented on #51188
@tjcafferkey @mmtr Could we prioritize this to just after we did the next rollout bump?

[2021-03-23 20:19] obenland commented on #50765
We're modifying admin menu in quite unexpected ways here, I think it's reasonable to assume the menu width is constant. Can we maybe offer them a patch here that would fix the issue?

[2021-03-23 21:08] #50102 closed, assigned to creativecoder, alshakero

[2021-03-23 21:52] ciampo commented on #51229
Update: I spent today working on this task, and I reached a point where my changes were getting a bit out of control.

I think that we under-estimated the complexity of this extraction (we gave it an 8, but I believe it's _at least_ a 13, if not a 21 depending on how proper we want this extraction to be):

- The `calypso/components/jetpack-logo` component is heavily used across the codebase, and i

[2021-03-23 22:05] emilyaudela commented on #43152
This [doc](https://wordpress.com/support/paid-newsletters/) has been translated.

[2021-03-23 22:05] #43152 closed

[2021-03-23 22:09] emilyaudela commented on #50418
Updated the string in GlotPress [here](https://translate.wordpress.com/projects/wpcom/ja/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=304926&filters%5Btranslation_id%5D=9838430). The updated translation should show up in 24 hours.

[2021-03-23 22:09] #50418 closed, assigned to nobody

[2021-03-23 22:17] ChrissiePollock opened #51357 "Featured Images Next to Posts Missing"
* Go to My Site>Posts>All Posts
* Note that one can see:

![screenshot](https://d.pr/i/2wDjXI+)

But there are no Featured Images. An example of a site where the old navigation menu exists shows featured images:

![screenshot](https://d.pr/i/DMJPvF+)

I'm not totally sure if this is a bug or Feature Request.

The issue was brought to light in #28602207-hc

[2021-03-23 22:31] alshakero commented on #50958
I tried reproducing this on Atomic and simple sites in Chrome and FF but to no avail. I asked here (p1616538590273200/1615399513.417100-slack-C03TY6J1A) for more details.

[2021-03-23 23:16] tanjoymor opened #51358 "TheFour: Button block settings not holding for live site"
### Steps to reproduce the behavior

1. Add a button block
2. Change the settings: Outline, Text color, Background color
3. See error

#### What I expected to happen

I expected the site to reflect the button settings I applied: https://d.pr/i/qEQlpC

#### What actually happened

The settings were ignored: https://d.pr/i/ug7gNL

Reported here: 28601731-hc
Reproduced in my own test site.

[2021-03-24 00:02] scosgro opened #51360 "Predefined Layout "Resume with Contact and Social Links" comes with broken Image Block"
### Steps to reproduce the behavior

1. Site - Pages - Add new page.
2. When it prompts you to select a predefined layout, select the Resume with Contact and Social Links option (under Featured at the moment, and also under About):

![image](https://user-images.githubusercontent.com/30731356/112233854-6fdf7d80-8bf8-11eb-8c60-07b14ccfad22.png)

3. Go to edit that page, and decide you don't want the

[2021-03-24 00:30] #20473 closed

[2021-03-24 00:41] retnonindya commented on #51263
Thank you, @brandonpayton! I have informed HEs on the Slack announcement channel to pass the issue to the devs for further checking.

[2021-03-24 01:20] andrewserong commented on #50919
D59099-code has been deployed, so I have an update for Gutenboarding to use the override ready for review in #51361

[2021-03-24 02:21] #47688 closed, assigned to nobody

[2021-03-24 02:31] autumnfjeld commented on #45949
@ramonjd @p-jackson This can be closed right?
Related PRs/Issues
https://github.com/Automattic/wp-calypso/pull/49860
https://github.com/Automattic/wp-calypso/issues/50608

[2021-03-24 02:33] ramonjd commented on #45949
Thanks for the ping @autumnfjeld ! Closing.....

[2021-03-24 02:33] #45949 closed

[2021-03-24 02:44] andrewserong commented on #50919
Fixed in #51361

[2021-03-24 02:44] #50919 closed, assigned to andrewserong

[2021-03-24 03:04] p-jackson commented on #42679
@autumnfjeld yep the previews reflect the theme, but not the current colour scheme, like what's been selected in the customiser.

![Screen Shot on 2021-03-24 at 16:02:52](https://user-images.githubusercontent.com/1500769/112248246-84844a00-8cba-11eb-84ad-39bd12d6d17e.png)

![Screen Shot on 2021-03-24 at 16:03:32](https://user-images.githubusercontent.com/1500769/112248279-9108a280-8cba-11eb-8e77-4

[2021-03-24 03:14] bluefuton commented on #48649
Thanks @simison! @kangzj is going to work on a PR for this one.

[2021-03-24 03:18] andrewserong commented on #42679
I imagine it should be possible to add an additional param to pass in colour information to then apply to the preview in the `template/demo` endpoint. I guess the thing to be careful with for then passing into mShots is that the more specific the preview, then the more screenshots that get generated and we lose the benefit of caching between different sites, which could result in a longer load tim

[2021-03-24 03:25] p-jackson commented on #42679
Was just thinking that. And then with the advent of global styles, does that mean we have to pass the entire jsonified global styles config as a query param? May as well say goodbye to caching at that point.

[2021-03-24 03:29] andrewserong commented on #42679
Exactly. At some point, maybe it'd be worth trying out live previews? Though that then comes with an entirely different set of performance penalties. Ah, trade-offs! 😅

[2021-03-24 04:44] p-jackson opened #51362 "Welcome Guide: welcome guide opens automatically after atomic transfer, even for existing users who have already dismissed it"
### Steps to reproduce the behavior

1. Created a site via [wp.com/new](wp.com/new) using an existing account
2. Visited homepage in editor, saw no welcome guide (which is expected, the guide's been dismissed by this account long ago)
3. Upgraded to Business Plan
4. Installed WooCommerce plugin
5. Visited homepage in editor ...

#### What I expected to happen

Shouldn't see the welcome guide, we'r

[2021-03-24 05:02] arunsathiya commented on #38550
I cannot see this issue anymore, cannot see the issue that @JoshuaGoode reported about liking on live site either! 🎉 Closing.

[2021-03-24 05:02] #38550 closed

[2021-03-24 05:28] autumnfjeld commented on #42679
Thanks for educating me @p-jackson 😊. I hadn't thought about / realized how custom colors (or other site customization) would also impact the thumbnail previews being non-accurate.

[2021-03-24 06:02] andrewserong commented on #50407
The fix has now been deployed to wpcom, so the upgrade nudge isn't displayed for the Cover block by default, thanks to the CSS loading fix that also fixes styling for other Jetpack blocks (e.g. Donations, Contact Form).

I noticed a separate issue, though, which is that the upgrade nudge behaviour when you click to upload a video doesn't appear to be working. In the post or page editor, if you sel

[2021-03-24 06:30] #50400 closed, assigned to aneeshd16

[2021-03-24 06:38] Robertght commented on #51248
Another case in 3838269-zen where the link color remains white whatever we chose.

Theme Shawburn.

[2021-03-24 06:46] razvanpapadopol opened #51363 "Move Launch store from 'data-stores' package into the 'launch' package"
**Task Details**
`@automattic/data-stores` package (see [Readme](https://github.com/Automattic/wp-calypso/blob/trunk/packages/data-stores/README.md)) is _used to fetch data from various WordPress.com REST API endpoints_ so the only stateful information stored there should be about data fetching (request, response, loading, error).

We know that the `Onboard` store belongs to Gutenboarding because

[2021-03-24 06:47] annemirasol commented on #32079
Thanks for taking this on!

A somewhat related issue, the reason I stumbled onto this issue -- 2221-gh-Automattic/p2
Essentially, some users are asking if reassigning or deleting content can be made purely optional when removing a user from a blog.

[2021-03-24 07:10] razvanpapadopol commented on #51229
Thanks, @ciampo, for this thorough analysis.

When working on this we should keep in mind that we want a component (or package) that is decoupled from any stateful data structure (eg: `Onboard` store) and has a simple API so it can be used in other contexts as well (more importantly, in `/start` Onboarding flow at the moment). So I'd still propose the API from https://github.com/Automattic/wp-caly

[2021-03-24 07:59] jeyip commented on #50659
Created a preliminary phab diff. Not certain if it's fully functional, but I'm planning to test it tomorrow with PCYsg-3Ri-p2. Feedback for the initial draft is welcome.

[2021-03-24 08:21] yoavf commented on #45586
Thanks - I can confirm the issue with this site, and am looking at it.

[2021-03-24 09:04] hacchism commented on #50418
Thanks @emilyaudela✨

[2021-03-24 09:23] zdenys commented on #39850
Keeps happening. I had a Quick Start session in 3849138-zd-woothemes and no default pages were created after the user went through the initial checklist and completed some items.

[2021-03-24 09:34] mmtr commented on #49292
Fix ready for review/testing: D59229-code

[2021-03-24 09:51] mmtr commented on #49292
Fixed in r223260-wpcom.

[2021-03-24 09:51] #49292 closed, assigned to mmtr

[2021-03-24 10:31] kosiew opened #51366 "Ability to see CSS revisions (Atomic)"
### Steps to reproduce the behavior

1. On an Atomic site head over to Appearance > Customizer
2. Open "Additional CSS" panel. If this is your first time adding CSS here you will need to add some, save and refresh to enable the "CSS Revisions".

#### What I expected to happen
At step 2, CSS Revisions should be visible

#### What actually happened
CSS Revisions is missing

`wp-admin/themes.php?page

[2021-03-24 10:39] oandregal commented on #51246
https://github.com/WordPress/gutenberg/pull/30088 landed as part of Gutenberg 10.3 and should prevent the site editor from crashing. A different issue, though, is that when users are moved to atomic their user styles aren't going to be pulled because of:

As you pointed out, the user data is stored as a CPT (`post_type = global_styles` and `post_name = wp-global-styles-<theme-stylesheet>` [see](ht

[2021-03-24 11:06] BogdanUngureanu opened #51367 "Atomic: 'My Site' link does not redirect the user to the AT site home page"
### Steps to reproduce the behavior

1. Go to an AT site and click on a WP-Admin page (e.g. Posts > Categories).
2. Click on 'My Site' link.

#### What I expected to happen
The user should be redirected to https://wordpress.com/sites/site_name.wpcomstaging.com

#### What actually happened
The user remains on the same page

#### Browser / OS version
Chrome 89.0.4389.90 / MacOS
#### Is this specific

[2021-03-24 11:11] tjcafferkey commented on #51357
Hey @ChrissiePollock if you are viewing your posts on a Simple site you should get the Calypso view which does indeed have featured images.

For Atomic sites if you go to Posts > All Posts you get the WP Admin screen which doesn't include this view. This was introduced as part of https://github.com/Automattic/wp-calypso/issues/51283.

In order for us to show featured images in the all posts view o

[2021-03-24 11:29] synora commented on #51188
Another report #3844279-zen.

[2021-03-24 12:27] simison commented on #42679
@andrewserong yeah, the performance hit of live-previews is annoyance here indeed. This will be an issue in core as well so it has to be worked out eventually. Here's one recent discussion about using grid format in Gutenberg: https://github.com/WordPress/gutenberg/issues/20477#issuecomment-795347905

I would imagine using the live rendering some day again, but as it is today, it's not ready for i

[2021-03-24 12:36] simison commented on #33798
cc @daledupreez or @michaeldcain an old issue and I'm not sure it's a problem anymore, but would your team be able to triage this? Thx!

[2021-03-24 12:39] simison commented on #51121
@daledupreez hi! Could your team triage this one? I'm marking it "high" meanwhile because it seems pretty bad. Thx!

[2021-03-24 12:40] simison commented on #51121
Wouldn't this impact any TLD, not just `.ca`?

[2021-03-24 12:42] simison commented on #50833
@ilyasfoo @mattsherman what are good next steps for addressing the issue discussed above?

[2021-03-24 12:46] simison commented on #50809
You can also load Jetpack wp-admin screen with `&calypso_env=local` (or was it `=development`, worth checking with Jetpack Crew team) URL param and it'll open all connection links correctly.

[2021-03-24 12:47] simison commented on #49794
This should be sorted already in https://github.com/Automattic/wp-calypso/pull/49745, right @ramonjd ? Feel free to re-open if not.

[2021-03-24 12:47] #49794 closed, assigned to nobody

[2021-03-24 12:48] ChrissiePollock commented on #36462
I can still replicate this. Any updates on when a fix might occur? Customer is an artist, and people are getting lost in the pop-ups on the site. They want the link none and don't want to manually switch all their galleries to columns and single images, although at this point that seems to be the best solution.

[2021-03-24 12:53] tyxla commented on #50298
Bummer 😉  Perhaps @yansern - I think you touched that part of the code recently?

[2021-03-24 13:06] klimeryk commented on #51121
It's not a domains issue exactly - it seems some Jetpack (and/or Atomic?) provisioning process assumes the domain will be fully provisioned ASAP, but some TLDs (.ca apparently being one of them) can take a few minutes to be provisioned (and DNS to start resolving). It's nothing we can improve on our side - it's a registry limitation. The process on Jetpack's side (or Atomic, I'm really not an expe

[2021-03-24 13:09] klimeryk commented on #51121
Side-note: we have a `@Automattic/cobalt` ping for such cases :) And we get automatic pings also for all issues marked with `Domains` label - no need to ping just the team lead, unless no one replied in a reasonable timeline and things really need escalation 🙇‍♂️ (just trying to make sure Dale as the team lead is not overloaded with pings)

[2021-03-24 13:09] eduardozulian commented on #37433
I experience this again when going over an Empathy Flow Testing so I'm reopening the issue.

Note that this only happens on WordPress.com. Self-hosted sites are fine.

Context: p7DVsv-aWu-p2

[2021-03-24 13:14] vindl commented on #51246
For templates and template parts we are saving the theme info in the `wp_theme` taxonomy. Would it make sense to align the approaches?

We are going to update these values during atomic transfers/reversals (https://github.com/Automattic/wp-calypso/issues/50659) so it would be much easier if we could query all of the CPTs by taxonomy.

[2021-03-24 13:29] simison commented on #51121
Yep! Thanks! I know some teams prefer pings to go via lead for less noise, and some via big-group ping. I'll make a note to ping you either via label or team handle going forward. 😃

Thanks for elaborating on the issue! It does still sound pretty heavily domains issues to me but I understand it can be framed differently as well. 😆

If I understood it right, this kind of process would be good:
- On

[2021-03-24 13:30] simison commented on #51121
@klimeryk do you happen to have a list of problematic TLDs? That might help in prioritizing and understanding how wide impact this currently has.

[2021-03-24 13:30] eduardozulian opened #51368 "Choose a Domain: grayed out search field doesn't encourage searching for URLs"
When using the new onboarding, it's not super clear how one could change the list of suggested URLs under the  **Choose a Domain** page. The grayed-out field feels like a sub-heading or even an input field on a disabled state.

### Steps to reproduce the behavior

1. Go to https://wordpress.com/new/
2. Type your site title. In my case, _I am Testing_
3. Get to the **Choose a Domain**  page

#### W

[2021-03-24 14:42] #51144 closed, assigned to ciampo

[2021-03-24 14:59] vindl commented on #50659
Another thing that might need to be updated is the `post_content` of `wp_template` CPT which will contain theme data in template part attributes. Example:

[code]

[2021-03-24 15:05] yoavf commented on #45586
For this site, the issue was due to some posts requiring a subscription to view.
The underlying problem was fixed, and the importer should work again as expected. I let the user know in the thread.

[2021-03-24 15:07] jeyip commented on #50659
Oh that’s silly. I forgot to include a link to the Phab diff. D59225-code 😅

Thanks for the callout @vindl! I considered that and attempted to handle it in the diff. 🙂

[2021-03-24 15:16] mmtr commented on #49756
Published paYJgx-1tw-p2 for gathering wider feedback.

[2021-03-24 16:16] oandregal commented on #51246
Thanks for the pointer, Marko. I saw you created https://github.com/WordPress/gutenberg/issues/30191 and I added it to the task list for 5.8.

[2021-03-24 16:25] tjcafferkey commented on #51188
This has been fixed for WPCOM Simple sites and will be fixed for Atomic on the next WPCOMSH deployment which should be soon.

[2021-03-24 16:36] mmtr commented on #51188
The fix for Atomic is now live.

[2021-03-24 16:58] alshakero commented on #49374
OK so there seems to be two problems.

**1. Users are waiting for five seconds before being redirected**

I wanted to get rid of or at least shorten the waiting time in this ugly state. Because even if we stylize the iframe to be smaller, people will have to wait for 5 seconds before they're redirected. See why below.

I found this [PR](https://github.com/Automattic/wp-calypso/pull/41006). Since w

[2021-03-24 17:17] pablinos commented on #49133
Hi @sarayourfriend! Both @retrofox and I have had a look at this, and we're struggling to replicate it. The sparkline colour is the same as the icon colour on the left

<img width="275" alt="image" src="https://user-images.githubusercontent.com/96462/112354018-33795380-8cc4-11eb-8eb8-fc744b1aeb4e.png">

I can see things looking a little washed out in general, and that the sparkline is not the same

[2021-03-24 17:29] obenland opened #51371 "Publicize: Add Support for New Facebook Pages"
Facebook is rolling out a new version of their Pages feature, changing the permissions that apps need to add content.

There is some [more information about page access tokens](https://developers.facebook.com/docs/pages/access-tokens), but I think the solution is to adapt the code to get and store these tokens if they’re not available the next time we attempt to call the API on behalf of a given u

[2021-03-24 17:33] sarayourfriend commented on #49133
I think it may have been fixed by https://github.com/Automattic/wp-calypso/pull/49988

[2021-03-24 17:36] sourourn commented on #50740
User came back to follow up again: #28165381-hc

[2021-03-24 17:45] #49925 closed, assigned to nobody

[2021-03-24 18:01] ChrissiePollock commented on #51357
Thanks. It was Atomic.

[2021-03-24 18:37] pablinos commented on #49133
I think you're right. Fantastic. I'll close this then.

[2021-03-24 18:37] #49133 closed, assigned to retrofox

[2021-03-24 18:43] pablinos commented on #49944
Yes, this is the issue, that they go to `wp-admin`, and with nav unification enabled, click to go to the posts list, and end up in Calypso. They would get a pop-up at this point, that does mention the setting but doesn't link to it.

[2021-03-24 19:08] stephanethomas commented on #46251
That's just an idea but maybe we could inject the list of users in the shopping cart when the `modify_shopping_cart_args()` method is called in the Store product (G Suite and Google Workspace), and of course only if the cart item is for a renewal.

[2021-03-24 19:13] mattsherman commented on #50833
@ilyasfoo @simison Looking at the recently added `calypso_woocommerce_setup_timeout` Tracks event, and the `working_on` property, almost all of the timeouts are occurring when installing the `woocommerce` plugin (roughly 10 a day). Also, almost all timeouts occur when the `engine_state` is in the `INSTALLING` state, though there are a handful in the `ACTIVATING` and `INITIALIZING` states.

@ilyasf

[2021-03-24 19:32] creativecoder commented on #51311
Digging into this over the last day, I'm increasingly convinced the root cause is how we duplicate checklist logic between server and client. The [entire get-task.js file](https://github.com/Automattic/wp-calypso/blob/37f6e8f4a1a5008763fe390d182b63033371dfc4/client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js) (the origin of the JS error) bolts on information about tasks that com

[2021-03-24 19:53] ChrissiePollock commented on #49944
Just jumping here as an HE to say that the bulk editing option is pretty important. People are always messing up tags and categories and the ability to add the Featured tag in bulk to posts they want highlighted in their themes is pretty big. Thanks for all the hard work you are doing.

[2021-03-24 20:13] csonnek commented on #45586
@yoavf the user reported back: "Only the pages transferred but not all of the elements like the pictures or titles. Also the main homepage did not transfer over."

https://wordpress.com/forums/topic/problem-transferring-site-from-wix/#post-3653577

I'm not sure if those items are meant to be transferred to show exactly like their Wix site, so could you advise if this is the expected behavior or if

[2021-03-24 20:14] ktyfuller604 commented on #49944
The following information came out of the work we're doing on the Support Site to reflect the nav unification project.

The "Edit Posts Screen in WP Admin" support guide is ranked second in Google when searching the phrase "Edit Posts in WordPress", resulting in about 500 hits a week to the English version of this page directly from Google. For the time being, I've set up a redirect for this doc t

[2021-03-24 20:28] chrisroundhill commented on #45356
Hi,

I received another report of this issue here:

#3850312-zen

[2021-03-24 21:16] noahtallen commented on #49374
I'm absolutely fine removing the polling code. The reason we added it was to try to fix a bad IE11 canary test. Since we're deprecating IE11, I think we should be ok reverting anything that was added just to try to fix that. (Mentioned this in the PR too.)

@jsnajdr would know more about this -- I think he's working on resolving related issues with cookies.

[2021-03-24 21:33] susanjanec commented on #50574
I landed on ticket 3812953-zen and wanted to clarify the status of this issue, as I'm not clear. Can someone advise? Thanks!

[2021-03-24 21:34] sirbrillig commented on #46251
That's a really good idea. The renewal always passes through the shopping-cart endpoint, after all, and the endpoint has the ability to discover the list of users.

[2021-03-24 22:12] ChrissiePollock commented on #49944
Another document affected is the [one for emojis](https://wordpress.com/support/emoji/) and for [enabling Markdown for posts and pages](https://wordpress.com/support/wordpress-editor/blocks/markdown-block/#enabling-markdown). We changed the guide to turn on the advanced dashboard in account settings, but it's not ideal.

[2021-03-24 22:24] alshakero commented on #49374
That's awesome, thanks! I'll update the PR to remove the entire polling code 🎊

[2021-03-24 23:02] sethmclellana8c opened #51379 "Bug: Copy-paste won't insert into bulleted list, cut-paste works"
### Steps to reproduce the behavior

1. Created a new p2 post
2. Type something
3. Create a bulleted list with some elements in it
4. Type something outside the list
5. Try to copy-paste text from outside the list into a spot on the bulleted list. Doesn't work for me.
6. If you cut-paste (versus copy-paste) onto list, it works.
7. Copy-paste will paste outside the list to outside the list.

#### W

[2021-03-24 23:09] ramonjd commented on #49794
Yes, thank you! Closed by https://github.com/Automattic/wp-calypso/pull/49745

[2021-03-24 23:13] scosgro commented on #48611
+1 to this. Ran into another user looking for chronological order, and our only workarounds are a bit hacky.

[2021-03-24 23:37] JoshuaGoode opened #51381 "Atomic / Nav Unification: Jetpack Stats page inaccessible"
On some Atomic sites, `/wp-admin/admin.php?page=stats` is inaccessible and returns a 403 with the following message.

`Sorry, you are not allowed to access this page.`

![Screen Shot on 2021-03-24 at 19:27:43](https://user-images.githubusercontent.com/4887830/112396704-084c2f80-8cd7-11eb-8f07-71673c9c9f68.png)

Visiting the page with `/wp-admin/admin.php?page=stats&disable-nav-unification` appende

[2021-03-25 00:02] donalirl opened #51382 "Change Title of Users/ People Page"
### Steps to reproduce the behavior

1. Go to Users
2. See title of the page is People

Should we sync up the title of the Users/ People page? It's not a cohesive experience to click on Users and see a page titled People. It would flow better if 'People' was renamed to 'Users'.

#### Does this happen on simple or atomic sites or both?

Both

#### Level of impact (Does it block purchases? Does it a

[2021-03-25 00:55] arunsathiya commented on #38349
<img width="1130" alt="image" src="https://user-images.githubusercontent.com/18581859/112402614-d9fc3d80-8d32-11eb-904c-c672468b6dc8.png">

This appears okay now. Closing.

[2021-03-25 00:55] #38349 closed

[2021-03-25 01:00] arunsathiya commented on #35521
Thanks @Aurorum! I do not see an issue on English (UK) mode anymore either. Closing.

<img width="733" alt="image" src="https://user-images.githubusercontent.com/18581859/112402935-71fa2700-8d33-11eb-8e55-395886b3ad1c.png">

[2021-03-25 01:00] #35521 closed

[2021-03-25 01:02] arunsathiya commented on #35506
I do not see this issue anymore.

<img width="465" alt="image" src="https://user-images.githubusercontent.com/18581859/112403117-d4ebbe00-8d33-11eb-8313-2fbbd763493c.png">

[2021-03-25 01:02] #35506 closed

[2021-03-25 01:05] p-jackson commented on #50363
Fixed by #50971

[2021-03-25 01:05] #50363 closed, assigned to nobody

[2021-03-25 01:07] p-jackson commented on #49865
Task was merged as part of #49860

[2021-03-25 01:07] #49865 closed, assigned to roo2

[2021-03-25 01:08] arunsathiya commented on #32111
Tested again, same issue.

[2021-03-25 01:18] arunsathiya commented on #34641
Google Ads credit is no longer available - p7DVsv-8Wc-p2. Closing.

[2021-03-25 01:18] #34641 closed

[2021-03-25 01:41] inaikem commented on #50312
@getdave, do you need any help with this? Do let me know!

[2021-03-25 02:11] thesacredpath commented on #51252
Report here as well: #3851156-zen

Told user we would update them via ticket once this is fixed.

[2021-03-25 02:21] annacmc commented on #47989
Tested this out on a Premium Plan site with a series of class names, and was unable to repro as above. Closing this up.

[2021-03-25 02:21] #47989 closed, assigned to nobody

[2021-03-25 02:30] donalirl opened #51386 "Change Edit CSS to Additional CSS under Appearance"
### Steps to reproduce the behavior

1. Go to Appearance
2. Click on Edit CSS
3. Land on Additional CSS

Should we sync up the titles used here? It's not a cohesive experience to click on Edit CSS and see a setting titled Additional CSS. It would flow better if 'Edit CSS' was renamed to 'Additional CSS' because that's what this feature does - adds additional CSS to a theme.

#### Does this happen

[2021-03-25 02:42] annacmc commented on #50421
I can replicate this: Tested this on a WPCOM simple site and could repro. I tested:

On a simple site post = did not have the slug editing field until post was saved as a draft
On a simple site page = Immediately had the slug editing field, before page was saved as a draft

However, I tested this on an Atomic testing site and a WordPress.org (localhost, not JP connected) site and experienced the s

[2021-03-25 02:42] inaikem commented on #51155
@creativecoder, agreed. We also have the Unified Nav modal in place, too, which should be a higher priority to get in front of users than this IMHO.

[2021-03-25 02:44] galakhyati commented on #51381
Got another case here: 28626674-hc

In this case, when adding the code for disabling WPCOM admin bar, it shows the stats on the domain/wp-admin dashboard widget as well as on the `/wp-admin/admin.php?page=stats` page too.

[2021-03-25 03:04] annacmc commented on #48840
I was not able to repro this any longer using WordPress Mac Desktop app 6.12.0 on a WordPress.org site with Jetpack 9.5.2. I have previously noted this issue before, and it seems to have been resolved with a recent update. Going to close this up.

 @macmanx2 are you still able to repro this with your testing sites? Is so, we could re-open.

[2021-03-25 03:04] #48840 closed, assigned to nobody

[2021-03-25 03:28] annacmc commented on #49800
Tested an unable to repro. On both my simple, and Atomic testing site the color changes behaved the same. There has been some refactoring of color annotations and other color palette updates to Varia child themes since this issue was opened, it seems likely the issue has been resolved in this time.

Closing up as "[Closed] Not Reproducible" at this time, but @bsanevans feel free to re-open if you'

[2021-03-25 03:28] #49800 closed, assigned to nobody

[2021-03-25 03:38] annacmc commented on #49963
Tested on a non-A11n account, and was unable to find the Jetpack mobile theme anywhere.

This may be because of the new Nav unification roll out which at the time of the issue opening, was only on A11n accounts. Have tagged this with the Nav Unification label as it may be something which shouldn't be back, and is only temporarily being obscured by the latest nav updates - would be a good thing to

[2021-03-25 03:41] inaikem commented on #44795
Trailing periods are not permitted in Calypso but are added in the backend. A recent report can be found here: 382665-ZD.

I'll do a bit more research here and direct/re-label this issue from there.

[2021-03-25 03:55] annacmc commented on #47838
Tested this and all three child themes ( Bookshop, Homestore, and Galleria) are showing up in the search results for me from https://wordpress.com/themes/ on a WordPress.com eCommerce plan. Closing with `[Closed] Not Reproducible` label as issue appears to be resolved now.

[2021-03-25 03:55] #47838 closed, assigned to nobody

[2021-03-25 03:57] inaikem commented on #44795
Discussing here: p2MSmN-8lK-p2

[2021-03-25 05:30] kaitohm commented on #49800
I just double checked. The behavior on Atomic sites now matches Simple sites. I agree - issue has resolved itself somewhere. All good now.

[2021-03-25 05:57] jsnajdr commented on #49374
This bug affects only Atomic sites. Simple sites load the frame from a `*.wordpress.com/wp-admin` domain that always has 1st party valid auth cookies. With the Nav Unification project shipping, we are sending more and more Calypso navigations directly to wp-admin for Atomic sites. Like the entire Posts list.

Considering the above, what if we gave up iframing the Atomic Gutenberg completely and we

[2021-03-25 06:06] druesome commented on #36274
@david-binda I just got another report of this happening in 28628867-hc.  User says they entered a bunch of tags and wasn't able to save their draft.  They said they added 17 or so tags.  Reducing the number allowed them to save.  Site is https://photoferret1.com/

[2021-03-25 07:10] andrewserong commented on #42679
It’s an interesting idea. We guarded the existing code a little bit by only rendering within a known set of sites rather than passing in an arbitrary site, where it might not be guaranteed to work properly (e.g. calling out to Atomic sites is probably a no-go).

Before venturing further into making screenshots unique to the site, we might want to look at the math on number of individual sites x re

[2021-03-25 07:25] yansern commented on #50298
Thanks for the ping @tyxla.

Just doing a quick skim at `WPCOM_Social_Login_Endpoint`, a WP user is tied the social account user via `service_user_id` not the e-mail address.

The only instance I see the social connection being removed (See `remove_all_wpcom_social_connections`) is when a WP user closes the account.

I think in order to fix this, when a WP user changes their e-mail, the `service_u

[2021-03-25 07:30] kdevnel opened #51387 "Notification emails: Block colour settings are preserved for background colour but not text colour causing poor contrast"
### Steps to reproduce the behavior

1. Add a new post and add a paragraph block near the top (so it will be seen in a post notification email)
2. Apply a dark background with light text to the block colour settings
3. Publish
4. Check the email notification

#### What I expected to happen
I would expect 1 of 2 possibilities to happen:

1. That both the background colour and text colour from the b

[2021-03-25 07:41] mrfoxtalbot opened #51388 "Unified Navigation: Not enough space for columns in wp-admin/edit.php columns on small screen"
The new unified navigation is considerably wider than the core one, which leaves less space for columns and can make for an awkward reading experience. This is what it looks like at 960px wide:

![Screen Shot on 2021-03-25 at 08:26:41](https://user-images.githubusercontent.com/4452464/112435706-63b50680-8d45-11eb-94b4-f653a901c2bf.png)

Here is an animation:

![collapse-earlier](https://user-image

[2021-03-25 08:04] kosiew opened #51389 "Calypso Media add free Pexel image search returns limited images if interface language is not English"
### Steps to reproduce the behavior

1. Set the interface language to English
2. Go to WordPress.com > My Site > Site > Media >
3. Click to add new image from Pexels
4. Search for `goat`

Repeat the above on another site, but at set interface language to Brazilian Portuguese, at step 4, search for `goat` or `cabra` or `bode`

#### What I expected to happen
Both to return the same results

#### Wha

[2021-03-25 08:42] Robertght opened #51390 "Nav unification: Dutch interface display issue for the "Pages" menu item"
### Steps to reproduce the behavior

1. Go to your account settings and set the Interface language to Dutch(Nederlands)
2. Click back to see the main dashboard of your site
3. You'll see this for the Pages menu item:

![image](https://user-images.githubusercontent.com/6737345/112443870-1ab97e00-8d56-11eb-8caf-e2b084ee1c13.png)

Pagina&#039;s

#### What I expected to happen
To see the Pagina's menu

[2021-03-25 08:46] simison commented on #49374
The problem is that without iframe customers lose several features that are built in calypso and work over the iframe: help FAB and calypso media library as two biggest.

Eventually we want to remove the iframe for all sites but that needs more work (pbAok1-gS-p2).

[2021-03-25 08:49] ciampo commented on #51229
TODO:

- Create new issue for 1-3, add our findings (for each section of the issue), and mention that when triaging, it will need to be split into smaller issues

- [Part of current draft PR]: update package.json deps + update generate screenshots scripts

- Follow-up cleanup PR with non-breaking changes:
    - Keep randomisation logic in the design picker package, but leave the storing (onboard d

[2021-03-25 09:44] zdenys commented on #27932
Most recently this topic has been re-discussed here p7DVsv-aXZ-p2

[2021-03-25 09:47] tjcafferkey commented on #49944
@sfougnier @obenland what do you think to this as a solution? We'd maybe need input from design for this.

I anticipate that we could maybe pick this issue up next week given it's a high priority so just trying to nail down a decision since @creativecoder's thoughts on the matter.

[2021-03-25 09:55] david-binda commented on #36274
@druesome my understanding of this issue is that it was WPCOM specific, due to it's multisite nature and global tags turned on (+some custom logic in a mu-plugin). https://photoferret1.com/ is hosted on Atomic, so the issue is likely different.

[2021-03-25 10:27] razvanpapadopol commented on #49048
An awesome on-screen guide is already included by @ollierozdarz in i1: p9Jlb4-2qt-p2

[2021-03-25 10:30] ilyasfoo commented on #50833
@mattsherman

On the top of my head, I think of logging the list of installed & activated plugins, since that might have something to do with a support case mentioned by selectedselections. I'm thinking we might need to use logstash here to be able to view the details of each case.

For now, we do have a rough approximation by observing trend for `calypso_woocommerce_setup_timeout` vs `calypso_woo

[2021-03-25 10:30] ilyasfoo commented on #50833
@mattsherman I have a [WIP PR](https://github.com/Automattic/wp-calypso/pull/51394) is here for adding more debug info.

Since WooCommerce plugin makes up the most of the timeout cases, I'll be looking to see if there are more info to be captured for plugin status from `client/state/plugins/installed` tomorrow.

[2021-03-25 10:34] jartes commented on #51263
Another report on 28605955-hc. Did the plan dance and solved the issue.

I tried to install the theme via CLI (uploading the theme to the media library and referring it as the zip URL) and the theme was installed correctly and listed on CLI, but was not displayed on the Themes page. They had Nav Unification enabled. Hope this helps to inestigate.

[2021-03-25 10:44] alshakero commented on #49374
I was thinking of a way that avoids the iframe altogether for users that are unlikely able to use it. This is a variation of this solution, but isn't the criteria too broad? I don't know the stats, but I imagine people who disable 3rd party cookies are a minority. If we could run the cookies check in Calypso in the background and adjust the URLs accordingly that would be more precise IMO.

We can

[2021-03-25 10:48] simison opened #51396 "Editor: show site logo in place of W icon"
### What
For sites with site icon set, let's show the site icon in place of W icon in the header.

### Why
- This will align us with core which already shows site icon.
- Site icon will make it clearer which site you're editing in case you have multiple sites.

### How

[`__experimentalFullscreenModeClose`](https://github.com/WordPress/gutenberg/search?q=__experimentalFullscreenModeClose) button c

[2021-03-25 10:53] rickmgithub opened #51397 "All posts missing in the dashboard since nav unification"
Since nav unification launch
On this site - https://militarygogglebox.com
Premium plan / Simple site
In the dashboard all posts are not showing anymore.
The user has 11711 posts
It lists as having no posts
Switched to advanced view in the account settings and the posts re-appear again
Screenshot -

<img width="1437" alt="Markup 2021-03-25 at 10 52 53" src="https://user-images.githubusercontent.com

[2021-03-25 11:10] vindl commented on #51396
The linked code is in `edit-site`, it might be better to use the one provided in `edit-post`. It exports `__experimentalFullscreenModeClose` button which accepts optional `icon` prop, and we should be able to reuse it here and feed it to `<MainDashboardButton.Slot>` in ETK plugin override (that was the intended usage when the slot was made at least).

[2021-03-25 11:51] zdenys commented on #39850
Another case just now during a Quick Start session 3852524-zd-woothemes

[2021-03-25 12:12] mtias commented on #51396
This is tiny effort for a relatively bit impact, let's prioritize updating it :)

[2021-03-25 12:30] alshakero commented on #50958
It seems @creativecoder couldn't reproduce either (thanks for testing Grant!). We both tested on the sites in the ticket. I also tested on every site in every ticked that mentioned this issue.

I think this issue is closable, WDYT @lakellie?

[2021-03-25 12:36] WunderBart commented on #51161
Before the next (v10.4) upgrade: Make sure to test https://github.com/WordPress/gutenberg/pull/30231. Context: p1616675249116100-slack-C7YPUHBB2. cc @simison

[2021-03-25 12:57] poojashetty18 commented on #49779
Also reported on 28634983-hc

[2021-03-25 13:04] simison commented on #51121
@olaolusoga @ianstewart thoughts on design needs here? See [my comment for proposed solution](https://github.com/Automattic/wp-calypso/issues/51121#issuecomment-805822599). When dev will look into this, they might find some other solutions tho.

[2021-03-25 13:04] #42638 closed

[2021-03-25 13:10] razvanpapadopol commented on #41976
Feature no longer active

[2021-03-25 13:10] #41976 closed

[2021-03-25 13:12] carinapilar commented on #50421
Hm, interesting, when I first tested and reported this, it wasn't possible to replicate on Atomic and WordPress.org sites. I wonder what changed.

[2021-03-25 14:05] tjcafferkey commented on #50765
There is an on-going discussion at the following link trying to come up with a suitable solution for this. pbAPfg-1tk-p2

[2021-03-25 14:13] razvanpapadopol opened #51401 "Design picker: support light and dark background"
### What
`DesignPicker` component should support two themes: **light** and **dark**.

### Why
We need to re-use the component in other flows such as `/start`.

### A/C
- [ ] Design labels should be accessible color-wise when used on a darker background (eg: white). We use colors from the `@calypso/color-themes` package.
- [ ] Check the default border color and the color when a design is focused/ho

[2021-03-25 14:26] razvanpapadopol opened #51403 "Design picker: add integration test"
### What
`DesignPicker` component should be covered with integration tests.

### Why
The component is being used in critical user flows such as onboarding.

### A/C
- [ ] Add an integration test to `DesignPicker` component that should check the following:
  *  all the designs are rendered
  * `onSelect` callback is called when clicking on a design
- [ ] should accept designs and render them.

[2021-03-25 14:36] adamziel commented on #41272
Actually I was thinking about using WP filters to reason about the rendered block without even touching the React part. But I don't think that would fix the problem in `/wp-admin` so good call choosing the React route. I think `withProxy` is a good way to approach this problem.

I am not aware of any, you may have no other way than going through PHP. As in block -> API endpoint on the atomic site

[2021-03-25 14:44] kwight commented on #36274
@druesome do you know if they got the error given by the OP? If not, a new issue would be best.

[2021-03-25 14:44] razvanpapadopol opened #51404 "Design picker: cleanup after extraction to package"
### What
Clean-up after the `DesignPicker` extraction to a package.

### Why
Keep the code maintainable and documentation updated.

### A/C
- [ ] Extract the randomization logic from `client/landing/gutenboarding/index.tsx` to the `DesignPicker` package and update `getAvalableDesigns` function to support returning also randomized designs. Design randomization and persistence should work as before

[2021-03-25 16:31] ianstewart commented on #51121
I suspect this requires looking into the various warnings or notices we throw now and that this may be more like a missing case. (There's quite a few cases now.)

There's some design work happening now related to some other atomic projects that may touch on this. And we should have a design for an ideal state, ideally. :)

[2021-03-25 16:35] JoshuaGoode commented on #49779
Another report on 22453215-hc

User was trying to edit via a mobile browser in this case.

This renders mobile browser editing practically impossible.

p1616689690065700-slack-C02FMH4G8 for internal discussion, additional information + screenshots.

Update: Adding screenshot here

![ar_nav_uni_2](https://user-images.githubusercontent.com/4887830/112549690-91756c00-8d94-11eb-985a-32a703c13582.png)

[2021-03-25 16:57] jamiepalatnik opened #51408 "Accessibility: Screen reader no longer reads text in Paragraph block when editing"
### Steps to reproduce the behavior

1. Using JAWS screen reader, go to a Paragraph block with text to edit.
2. Edit text.

#### What I expected to happen

Screen reader should read out text letter by letter so that user can edit. This allows the user to correct typos and make other changes.

#### What actually happened

The cursor moves as expected but the screen reader only reads the first lette

[2021-03-25 17:23] obenland commented on #49779
@tjcafferkey Could we prioritize that among the top of the list? Looks like it has the potential of impacting a lot of customers

[2021-03-25 17:50] #51151 closed, assigned to stacimc

[2021-03-25 18:05] macmanx2 commented on #48840
Yes, essentially this is fixed now by this informative alert:

<img width="274" alt="Screen Shot 2021-03-25 at 11 04 34 AM" src="https://user-images.githubusercontent.com/4856235/112521615-f2cc1980-8d59-11eb-9c78-f44ade09069a.png">

[2021-03-25 18:07] zdenys opened #51412 "WordAds: text under Terms of Service should be on one line to avoid confusion that there is a missing second checkbox"
**What**
If you take a look at the bottom of the WordPress.com > My Sites > Tools > Earn > View Ad Dashboard > Settings, the text below `Terms of Service` is on two lines.

![](https://d.pr/i/pb4Zdx+)
_Link: https://d.pr/i/pb4Zdx_

**Why**
One could think that there should be a second checkbox below the first one but that is missing for some reason.

**How**
Placing the text `I have read and agree

[2021-03-25 18:07] zdenys commented on #51412
Reported in 27204997-hc

[2021-03-25 18:30] obenland commented on #50765
Brainstorm Force has added compatibility with the wider nav in their Starter Templates plugin and will push out an update soon

[2021-03-25 18:30] mattsherman commented on #49925
I have verified in production that this is fixed.

[2021-03-25 18:35] ericamQA opened #51413 "Install Theme: theme isn't shown in Theme Library unless activated immediately"
### Steps to reproduce the behavior

1. Go to Appearance --> Themes --> Install New
2. Choose theme file to upload. Example theme [here](https://wordpress.org/themes/green-shop/)
3. Once theme installs successfully, do not click to "Activate" the theme right away
4. Instead, click the back arrow

#### What I expected to happen

One would expect (as 3853984-zen did) that once the theme was installe

[2021-03-25 18:37] simison commented on #51121
Honestly, anything is an improvement that just isn't being completely broken after the eCommerce plan purchase, so even just not communicating about it and letting the primary domain switch with some delay. Note that I don't know if we're talking about 5min, 1h, or 1d kind of delay.

[2021-03-25 18:39] metabreakr commented on #32007
28641126-hc

[2021-03-25 19:04] mattsherman commented on #50833
That's a good idea.

[2021-03-25 19:04] mattsherman commented on #50833
Great. Thanks for digging into this more!

[2021-03-25 19:10] ericamQA opened #51415 "Blog Posts Block: Excerpt Word Limit Ignored for Posts with a Custom Excerpt"
### Steps to reproduce the behavior

1. Add a Blog Post Block to a page
2. Limit the number of words in an excerpt to a certain number such as 13
3. Edit a post and add a custom excerpt with more words than you set in the block above
4. View the page with Blog Posts Block and notice that the full custom excerpt is shown and "read more" or "continue reading" button is missing from the post that has

[2021-03-25 19:18] #45607 closed

[2021-03-25 19:39] alshakero commented on #49840
I tried to reproduce this but I can't. Neither on simple nor Atomic sites. I created a page with the same theme as the issue here, I added all kinds of videos and Blog Posts block, and still can't reproduce.

I also installed MedieElement.js plugin (mejs) in an attempt to recreate the same env (because the error contains mejs), and still wasn't able to get it.

Here is the page https://omar9735677

[2021-03-25 20:15] Aurorum commented on #51390
PR for this issue in #51418 :)

[2021-03-25 20:51] kwight commented on #41272
@apeatling have you or your team had any experience/gotchas recently with making [authenticated API calls from gallery blocks](https://github.com/Automattic/wp-calypso/issues/41272#issuecomment-801881305) in Jetpack?

[2021-03-25 21:03] noahtallen commented on #49374
More and more browsers like Brave are blocking 3rd-party cookies out of the box (I have to disable brave checks to use calypso.live, for example.)

If I'm not mistaken (@jsnajdr can correct me), we are moving away from cookies to JWT for Calyspo to work around these issues?

[2021-03-25 21:06] michaeldcain commented on #33798
@daledupreez it might be best to add a `redirect_to` parameter to the domain mapping CTA so that post-Checkout, it will return the user to the domains page.

[2021-03-25 21:08] apeatling commented on #41272
Personally I haven't, but asking the rest of the team in Slack. We've worked mostly on the core Gallery block.

[2021-03-25 21:08] josephscott commented on #49374
To be clear, this is entirely incorrect.  Third-party cookies are [disabled by default already in Safari](https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/), and [Chrome is going to remove support for third-party cookies next year](https://blog.chromium.org/2020/01/building-more-private-web-path-towards.html).

In short, third-party cookies are dead.  All users will have the

[2021-03-25 21:21] daledupreez commented on #51121
For context, delays of a few minutes are not uncommon for a number of gTLDs, which includes .blog -- we've seen slowness from the CentralNic registry services in general. However, there are a handful of TLDs, mostly ccTLDs, where delays up to an hour are possible.
We dug into the messaging for this in #40516, but decided not to get overly specific.

[2021-03-25 21:23] daledupreez commented on #33798
@leonardost and @klimeryk, has your recent work either improved the situation or confirmed this is no longer an issue?

[2021-03-25 21:45] obenland commented on #31779
Pointing Comments back to wp-admin might be most expedient way to avoid running into this

[2021-03-25 21:45] #50958 closed, assigned to alshakero

[2021-03-25 21:47] Lazza commented on #31779
I respectfully disagree: end users cannot use `wp-admin` to leave comments on WP blogs.

[2021-03-25 21:59] obenland commented on #49790
Patch in D59339-code ready for review. @johngodley @simison

[2021-03-25 22:05] obenland commented on #38499
I've put https://github.com/Automattic/wp-calypso/issues/50519 on the project board for Manage, which will remove the My Site drawer. We'll close this ticket once that's done. /cc @simison

[2021-03-25 22:07] obenland commented on #51348
Where does the currency information come from?

[2021-03-25 22:28] obenland commented on #51381
Rather than [bringing back the menu item](https://github.com/Automattic/jetpack/blob/66a1be724db0038d90286b4fea01978c954625b4/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L399), could we update the Jetpack Dashboard to not show the "View detailed stats" button in Jetpack > Dashboard when the masterbar module is active? /cc @jeherve

![Untitled](https://user-images.git

[2021-03-25 22:28] Aurorum commented on #51252
Been thinking about this one again, and I think that displaying the "Top Posts & Pages" information will be a little tricky because it doesn't seem like that information is provided by the API, nor is it something that seems to be included within Jetpack, so I think that's something I'm not able to add.

The "Top Sharing Services" is significantly easier to add though - I wonder if there'd be bene

[2021-03-25 22:33] Aurorum commented on #51381
Even if it isn't included within the menu, should it not still be available through the direct link? I could imagine that may be helpful, at least until all the information provided on that page is available through Calypso (see #51252).

[2021-03-25 22:54] JoshuaGoode commented on #51381
We still have users that try to access that page or have it bookmarked @obenland

For whatever reason, they prefer it over the WPCOM version.

[2021-03-25 23:05] klimeryk commented on #27481
Patches ready for review: https://github.com/Automattic/wp-calypso/pull/51424 🙇‍♂️

[2021-03-25 23:24] autumnfjeld opened #51425 "New Page Layout Picker: change page layout ( for page with user content)"
## Description
There has been much discussion on how to let a user "start over" if they change their mind about the page layout pattern they have chosen. The start over may be an immediate "undo" after selecting a page pattern, or it may be a more complicated start over after the user has edited content in the page pattern.

This ticket is a placeholder for a bigger project that address what shoul

[2021-03-25 23:35] klimeryk commented on #33798
I have mapped a subdomain like this many times recently and did not notice this issue. This looks like the purchase was not recognized as a mapping at all 🤔 Maybe it's only this way on Atomic sites? (looking at the wpcomstaging.com subdomain on the screenshot). @leonardost, could you double-check me here? 🙏

[2021-03-26 00:01] dereksmart opened #51428 "Nav Menu disappears on Jetpack sites after resizing window?"
### Steps to reproduce the behavior
Here's a video. Seems to only happen on wide views (1400pxish). And only happens after viewing a site with unified menu, and then viewing a Jetpack site. It also works to resize the window while viewing a unified site, and then navigate to a Jetpack one.

1. Start in a wide window, maybe 1400px+ wide?
2. Go to a site with unified menu
2. Resize the window width

[2021-03-26 00:26] goblinartificer commented on #48319
#3853673-zen reports this on a Simple site, and specifically says that after this error, they are no longer able to reopen the desktop app if they close it

[2021-03-26 00:40] donalirl commented on #51040
This also came up in #28644743-hc

[2021-03-26 00:52] donalirl opened #51429 "Nav Unification: Use wp-admin comments screen for WoA sites"
### Steps to reproduce the behavior

On a WordPress.com Atomic site with WooCommerce installed and at least one published customer product review:

1. Go to Comments which is also where product reviews are shown by Woo
2. Notice that it does not show the reviews in the Calypso version
3. Go to Account Settings and enable the Dashboard Appearance toggle
4. Go to Comments again (now showing WP Admin

[2021-03-26 03:01] autumnfjeld opened #51431 "New Page Layout/Pattern Picker: ensure previews are maximum size possible and the entire page is viewable"
## Description

The new Page ~Layout~ Pattern Picker launched last week (March 2021) which removed the large preview from the flow of picking a page pattern from the Page Picker. Instead the user sees a grid or list of "previews" but these are small and perhaps hinder the user from getting the best impression of what each page really looks like.

To mitigate the much smaller previews, we should op

[2021-03-26 03:51] autumnfjeld opened #51433 "Page Layout Picker: show previews for both mobile and desktop"
## Description
The new Page Layout/Pattern Picker launched last week (March 2021) and the Call for Testing feedback pointed out that design previews are only shown for desktop.  A better user experience would include both mobile and desktop in some fashion.  Additionally some improvements could be made the the UI/UX flow on mobile.

## Proposed improvements
* Show mobile previews on mobile (deskto

[2021-03-26 04:47] goblinartificer commented on #50928
This is true of a lot of other file formats, including .ics!

[2021-03-26 06:03] roo2 commented on #46629
Oops I missed the ping to follow up on that community contributor PR to fix this, it needs a rebase from them and then hopefully can be merged or I can create a similar fix for this.

https://github.com/Automattic/wp-calypso/pull/46757

[2021-03-26 06:18] jsnajdr commented on #51428
Fixed in #51364

[2021-03-26 06:18] #51428 closed, assigned to nobody

[2021-03-26 06:59] pauloeaquino opened #51435 "Nav Unification: Add option for re-publicize to wp-admin for Atomic sites"
### Steps to reproduce the behavior

1. Go to My Sites -> Posts
2. View post options

#### What I expected to happen

I expected there to be an option to "Share" as per our support document here, https://wordpress.com/support/publicize/#sharing-your-content-again

![screenshot](https://d.pr/i/4ydjwy+)
_Note: Example screenshot is displaying a simple site_

#### What actually happened

I found no o

[2021-03-26 08:01] roo2 opened #51436 "After canceling payment in `/new` flow, launching site from launch checklist fails"
If payment was cancelled after selecting a paid plan in the `/new` flow, the user will be unable to launch their site from the launch checklist on the homepage. Launching from the editor still works as expected.

### To reproduce
* Navigate to the plans step of the `/new` flow
* Select a paid plan
<img width="1045" alt="Screen Shot 2021-03-26 at 4 21 28 PM" src="https://user-images.githubuserconte

[2021-03-26 08:29] roo2 commented on #42510
I retested but you can still access the `/start/new-launch` feature from the site setup checklist on the site home page and this bug is still present. You have to click through to the payment step and then use the browser back button ( or X button I believe ).

<img width="1044" alt="Screen Shot 2021-03-26 at 4 23 31 PM" src="https://user-images.githubusercontent.com/22446385/112604253-a5d36a80-8e

[2021-03-26 08:46] mmtr commented on #51381
Another option is to do what @mrfoxtalbot suggested in https://github.com/Automattic/wp-calypso/issues/49756, and make sure that Jetpack Stats redirects to the Calypso Stats.

In general, as discussed in paYJgx-1tw-p2, anytime we unregister a page because there is already an equivalent one that we favor, we should either redirect users visiting the unregistered one to the registered one, or keep t

[2021-03-26 08:52] razvanpapadopol commented on #51436
I'm not sure if this is directly related to the New Onboarding and it looks very similar, like a variation of https://github.com/Automattic/wp-calypso/issues/50273. Could you try to reproduce it also on the site creation `/start` flow?

[2021-03-26 08:57] razvanpapadopol commented on #42510
That's right. Thanks for spotting the mistake, @roo2! With D57607-code we've fixed the bug only when launching from the editor. I've updated now my previous comment.

[2021-03-26 09:34] rachelwinspear opened #51439 "Nav Unification: Menu tab 'Page' incorrect in Dutch"
### Steps to reproduce the behavior

1. Go to account with the language set in Dutch
2. You will view the menu tab 'Page' incorrectly showing in the left-hand menu.

#### What I expected to happen

I expect the page tab to say `Pagina's`

#### What actually happened

It says `Pagina&#039;s`

I am able to replicate on test site:

![Screenshot](https://d.pr/i/wYAtjm+)
*If you are unable to see this

[2021-03-26 09:43] jeherve commented on #51381
That can certainly be done, but I'm not sure I'd recommend doing that alone. Stats are an important part of many folks' sites, important enough that they bookmark the URL. If we were to remove that button, I would recommend creating the redirection @mmtr mentioned above.

That said, if we decide to hide that button from the Jetpack dashboard, we'll also need to remove it from the dashboard widget,

[2021-03-26 09:44] mrfoxtalbot opened #51440 "Re-enable Full Screen toggle when using the editor in Calypso"
The editor's option to toggle Full Screen mode is only showing if we create a new post via WP-Admin. If we open the editor via wordpress.com/post this option is hidden.

![Screen Shot on 2021-03-26 at 10:37:49](https://user-images.githubusercontent.com/4452464/112613185-1eb1d280-8e20-11eb-9a5f-0105d76f51cf.png)

The rationale for this was to prevent users from seeing the Calypsfied navigation whil

[2021-03-26 09:47] aleone89 commented on #50333
This has been reported here: https://wordpress.com/forums/topic/posts-dont-finish-saving-in-block-editor/ > I'm asking how the content was generated in the first place (i.e. has this been copied and pasted from anywhere.)

[2021-03-26 09:49] simison commented on #50358
Related convo in paYE8P-PE-p2

[2021-03-26 10:14] supernovia opened #51441 "Nav Unification: Add crosslinks to switch between page versions"
## What
On pages that we've decided to link to wp-admin or calypso based on the toggle, add a tracked link to switch back to the other version of that page.

## Why
We're encountering cases where people prefer some features in Calypso and other features in wp-admin. Before, they could just have two tabs open and use whichever dashboard they preferred for the task at hand. Now they either have to t

[2021-03-26 10:22] simison commented on #42679
@andrewserong Right, fair points! Lots of potential complexity with theme switching, Atomic, and whatnot.

At the same time, here we are talking just about 2 options that matter for templates (footer/header color are not relevant in our case) so it's best not to overcomplicate it too early considering global styles. We'll figure it out when the time comes.

For caching we still have most sites hav

[2021-03-26 10:27] jeyip commented on #50659
## Update
Running the async job in D59225-code and pointing it at a simple site was working. Pointing the job at an atomic site, however, was not updating database values as expected.

This was because the methods we were using, like `wp_update_post`, were actually accessing a "cached" database on simple site infrastructure that mirrors the atomic site's database, and not the atomic site's live da

[2021-03-26 10:47] adamziel commented on #41272
Noodling on this some more, I think there were some other cases where images became photonized, including some where the actual post contained fragments like `src="{photon url}"`. Updating the Jetpack Gallery Block should be enough to solve this specific issue, but WP filters may be necessary to address any and all instances of the private site+photon problem cc @mreishus

[2021-03-26 11:17] jeyip opened #51442 "Site Editor: adjust template parts theme paths for site content export"
### Description
Currently our FSE theme paths are prefixed with pub/ on Dotcom  for simple sites. This affects how our theme template parts taxonomies are saved, and it impacts the loading of template parts in the editor and the front end.

Everything works fine for simple sites since correct paths are established when the site created. However, if we export the template / part data, FSE theme pat

[2021-03-26 11:21] fresatomica commented on #50058
Reported here: https://wordpress.com/es/forums/topic/errores-3/.

[2021-03-26 11:32] robfelty opened #51443 "Cannot assign a category to a page when language is set to German"
### Steps to reproduce the behavior

1. Go to edit a page which has categories enabled (e.g. on the Field Guide)
2. Notice that the category panel shows up
3. Change user language to German
4. Reload the page you want to edit
5. Notice that the category panel is now missing, and cannot be added via the preferences (German: Einstellungen)

#### What I expected to happen
I expected to be able to add

[2021-03-26 12:14] pablinos commented on #49944
I got a modal that mentioned the setting. Could we just add a link to that which takes you to the Dashboard Appearance toggle?

As a first solution that is.

[2021-03-26 12:20] pablinos opened #51444 "Calypsoify: Remove unnecessary parameter from external links"
**Task Details**
In #50923 we added the `calypsoify=0` parameter to ensure that Calypsoify was disabled on those links. As Calypsoify now has to be explicitly enabled, this isn't necessary anymore, so we should remove this code.

**Related to**
#50923

[2021-03-26 12:23] Aurorum commented on #51439
Duplicate of #51390, though should be fixed by #51418! :)

[2021-03-26 12:38] jsnajdr commented on #49374
@simison With the Nav Unification project shipping, I'm afraid we already gave up on providing these extra features for Atomic sites. The sidebar links that lead to the editor (directly or through a Posts list) already link directly to wp-admin pages.

<img width="435" alt="Screenshot 2021-03-26 at 13 20 16" src="https://user-images.githubusercontent.com/664258/112630829-722f1b00-8e36-11eb-8ef0-b4

[2021-03-26 12:55] carinapilar commented on #49840
@alshakero, I'm still able to replicate this issue. It happens when accessing a page where you have a Blog Posts block, and a Video widget with a Youtube video on it.

I tested on a Free site, using Karuna. Created a new page, added the Blog Posts block, and in the Customizer I added a Video widget on the footer - added a video to the widget using a link from Youtube.

I got the error mentioned ab

[2021-03-26 13:05] rezzap opened #51447 "Upgrades: Purchasing Just a Domain Flow doesn't let you complete the purchase"
### Steps to reproduce the behavior

1. Go to My Sites > Upgrades > Domains
2. Click on Manage All Your Domains and 'Add a domain'
3. Type in your desired domain and select.
4. Click on 'Just buy a domain' You'll see a screen here about your site is getting ready.
5. You'll then be brought to 'Select a Site to Open Checkout'
6. Select a site and see 'You have no items in your cart'
7. Click on bro

[2021-03-26 13:48] retrofox commented on #48220
I've created a PR that tries to tackle this issue, in case you get the chance to take a 👀. 🙇‍♂️

[2021-03-26 14:12] klimeryk commented on #51447
I can't reproduce this - neither with my test (no nav unification) or a8c (nav unification) accounts. I've also tried on the user's account (nav unification enabled) but was not able to reproduce either 🤔 Maybe the bug that was causing this was fixed by someone in the meantime? Can you still reproduce?

[2021-03-26 14:15] creativecoder commented on #49840
I updated the issue description to indicate that that the problem happens when there's a video widget and the Blog Posts block displaying at the same time.

[2021-03-26 14:37] BogdanUngureanu commented on #49779
This can be reproduced on new accounts on all WP-Admin pages with RTL layout, however you can be also reproduce it on older accounts by following these steps:

* Go to your account settings in https://wordpress.com/me/account
* Toggle and un-toggle the “Show advanced pages" option
* Change the language to a RTL language
* You will notice that the content has a left margin. To better observe this,

[2021-03-26 15:16] chrisroundhill opened #51450 "Site with high volume of pages and child pages has erratic and/or slow loading Pages screen"
### Steps to reproduce the behavior

1. Go to Pages screen with lots of child pages
2. System loads in child pages.
3. Scroll down and on AJAX load it will change what pages are shown

#### What I expected to happen

Consistent pages

#### What actually happened

Different pages display

### Context

3853002-zen

#### Browser / OS version
Firefox 86 / Win10

#### Does this happen on simple or atom

[2021-03-26 15:22] retrofox commented on #49148
I'd like to confirm the following are the styles we'd like to implement.

Warning | Error
-------|--------
![image](https://user-images.githubusercontent.com/77539/112654089-cd104480-8e2d-11eb-9e58-1c1dafa974ab.png) | ![image](https://user-images.githubusercontent.com/77539/112654113-d39ebc00-8e2d-11eb-922a-87373d8868aa.png)

cc @sfougnier

[2021-03-26 15:42] darnelldibbles-zz commented on #51189
A user brought this up in https://wordpress.com/forums/topic/unified-navigation-delete-a-site/ and was totally confused.

[2021-03-26 15:47] darnelldibbles-zz commented on #51252
We have another user bring this up in https://wordpress.com/forums/topic/unified-navigation/page/2/#post-3653791

[2021-03-26 15:47] obenland commented on #31779
This issue seems to be specific to editing existing comments from within Calypso. Is that not the case?

[2021-03-26 15:58] Lazza commented on #31779
The issue is not specific to Markdown, the tags get stripped after they are converted to HTML.

They get stripped on the front end as well, see for instance #21246.

To be fair I don't know if the cause is the same, but the final result is the same. Stripped tags while they should be preserved.

[2021-03-26 16:24] razvanpapadopol opened #51453 "Remove e2e specific properties from production build"
## Overview

We currently have ~50 occurrences of `data-e2e-*` attributes in `*.jsx` and `*.tsx` files in wp-calypso. These are used exclusively for e2e testing.

Since we run e2e tests against dev and wpcalypso env, does it make sense to cleanup these from the production build to decrease bundle size using some build plugin like https://www.npmjs.com/package/babel-plugin-react-remove-properties ?

[2021-03-26 16:58] khristiansnyder commented on #49779
Ran into this in #23303481-hc. Right to Left language on an AT site broke the mobile WP-Admin with extra margin added there.

[2021-03-26 17:25] obenland commented on #49944
Adding that link to the modal should be part of that, I think that was also something we discussed in a demo meeting.
That won't help the folks who have dismissed that by now, though. What are our options for pointing to that setting?

[2021-03-26 18:47] JoshuaGoode commented on #51189
Highlighting that this can prevent users from launching their site or setting it to Coming Soon, Public, or Private.

[2021-03-26 18:49] supernovia opened #51457 "Nav Unification: PressThis is missing in Advanced mode"
### Steps to reproduce the behavior
1. Go to https://wordpress.com/settings/writing/ -- notice the Press This bookmarklet is an option at the bottom of the page.
2. Enable the advanced navigation mode at https://wordpress.com/me/account
3. Try to find the Press This option for that site

#### What I expected to happen
I would expect it to show up on Tools, or the site's Writing settings

#### What

[2021-03-26 18:53] supernovia commented on #51095
One of our volunteers [mentioned a stats page discrepancy in our feedback thread](https://wordpress.com/forums/topic/unified-navigation/page/2/#post-3653791)

She also [mentions](https://wordpress.com/forums/topic/unified-navigation/page/3/#post-3654353):

[2021-03-26 18:55] supernovia commented on #51095
A user [complained in this thread](https://wordpress.com/forums/topic/unified-navigation/page/3/#post-3654264) that the newer Stats and Insights page is slow, and they don't like it. We can try to get more feedback on that if you're interested, but they did find the previous stats page more useful.

[2021-03-26 20:13] JoshuaGoode opened #51459 "Nav Unification: All in One SEO plugin settings page leads to a blocked page and error."
While nav unification is active, users that activate the All in One SEO plugin will be greeted with "Sorry, you are not allowed to access this page" as they attempt to access the plugin's setup wizard at `wp-admin/index.php?page=aioseo-setup-wizard`

### Steps to reproduce the behavior

1. On an Atomic site, install https://wordpress.org/plugins/all-in-one-seo-pack/
2. You'll likely see the error

[2021-03-26 20:45] scosgro commented on #59396
Another report in 28656961hc

[2021-03-26 21:49] supernovia opened #51464 "Account Settings: Please Save on Toggle"
Our forums volunteer sent in feedback about the toggle at https://wordpress.com/me/account, which does not automatically save when changed.

This is inconsistent with other areas of Calypso, like our [AMP settings](https://wordpress.com/settings/performance/), [Testimonial and Portfolio Settings](https://wordpress.com/settings/writing/), and the [Discussion Settings](https://wordpress.com/settings

[2021-03-26 21:51] ianstewart commented on #51335
@jeffikus @simison @jffng  I _think_ — or rather I **_think_** —  we can perhaps retire Varia on WP.com and it's child themes would still work? That appears to be the case with the themes named Superhero and Sidekick. It would need testing but that could be a simple solution to this that would be generally good for everyone. It's not intended that users should be activating Varia.

[2021-03-26 22:25] supernovia commented on #51095
More stats feedback from our [feedback thread](https://wordpress.com/forums/topic/unified-navigation/page/3/#post-3654107):

[2021-03-26 22:31] JoshuaGoode commented on #51381
Bringing over feedback @supernovia shared on the related issue regarding feature parity https://github.com/Automattic/wp-calypso/issues/51095

---

https://github.com/Automattic/wp-calypso/issues/51095#issuecomment-808444400

---

https://github.com/Automattic/wp-calypso/issues/51095#issuecomment-808445396

---

https://github.com/Automattic/wp-calypso/issues/51095#issuecomment-808560354

[2021-03-26 22:37] supernovia opened #51468 "Nav Unification: No direct access to /wp-admin/index.php"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account and enable the advanced dashboard.
2. Try to navigate to /wp-admin/index.php without knowing the link

#### What I expected to happen
Based on this issue, I would expect a wp-admin link:
https://github.com/Automattic/wp-calypso/issues/50945

#### What actually happened
There isn't a link to wp-admin's main dashboard, ev

[2021-03-26 23:01] Aurorum commented on #51381
@mmtr Looking at the feedback, it seems the main source of dismay is that Stats in Calypso doesn't provide all the information contained on `/wp-admin/admin.php?page=stats`. I wonder if this approach might not be ideal until the equivalent data is fully available in Calypso, and as there seems to be a fair amount missing currently, if it might not be better just to ensure `/wp-admin/admin.php?page

[2021-03-26 23:15] Aurorum commented on #51468
I might be a little confused (please forgive me if so!) but where should the link to this page be located? If my understanding is correct, https://github.com/Automattic/wp-calypso/issues/50945#issuecomment-796866194 rules that it shouldn't be included in the sidebar so would probably have to only be available with the direct URL.

That being said, this could be a case where something like #51441 c

[2021-03-27 03:45] kosiew opened #51472 "Theme Editor, wp-admin/theme-editor.php is missing (Atomic)"
Theme Editor, wp-admin/theme-editor.php is missing

#### What I expected to happen

Able to edit theme via Theme Editor or wp-admin/theme-editor.php

#### What actually happened

Error: `Sorry, you are not allowed to access this page.`

#### Does this happen on simple or atomic sites or both?
Atomic Site

[2021-03-27 07:22] rezzap commented on #51447
@klimeryk  I'm still replicating the same issue on my end. It's only when using the 'add a domain' button from https://wordpress.com/domains/manage though. It doesn't seem to matter which site I select from the list though to get there.

[2021-03-27 08:04] rezzap commented on #51435
Another report of this in 26103277-hc.

[2021-03-27 08:59] Aurorum commented on #51472
I can't seem to reproduce this issue, even with Nav Unification enabled, on my Atomic site - I wonder if there's only certain cases where this occurs?

<img width="1852" alt="Screenshot 2021-03-27 at 08 56 12" src="https://user-images.githubusercontent.com/43215253/112715797-5ed58b80-8eda-11eb-9760-0e511f2ba29a.png">

Interestingly though, if I include the `wordpress.com` subdomain into the addres

[2021-03-27 10:47] zdenys commented on #51435
28367777-hc

[2021-03-27 11:05] Thelmachido commented on #51188
Reopening this one because some sites are not showing the links option in Dashboard as expected.

If the site had never used or added links, the [Links section](https://en-support.files.wordpress.com/2008/12/links-full-screen.png) will be missing in the Dashboard. You will only be able to view the links by opening this link ` /wp-admin/link-manager.php`. Once you add a link then you will have the

[2021-03-27 15:56] zdenys commented on #39850
Another case 3858578-zd-woothemes

[2021-03-27 16:21] marcuswisecaesar commented on #51381
Stats feedback

I also prefer the look of it (but that's something that won't kill me if it can't be recovered.)

Source: 3850326-zen

[2021-03-27 16:23] marcuswisecaesar commented on #51095
I also prefer the look of it (but that's something that won't kill me if it can't be recovered.)

Source: 3850326-zen

[2021-03-27 17:16] supernovia commented on #51468
Ah, I must have misunderstood this:

to mean there would still be a link for WP-Admin. If we're wanting to avoid duplicates, instead of "Home" it can say "Dashboard" or something like that?

Having users build their own menu of browser bookmarks seems counter to simplifying the navigation experience. Those using the "advanced" toggle probably want to be able to access the wp-admin dashboard direct

[2021-03-27 23:11] jamiepalatnik commented on #51435
Another report: 28678981-hc

User also reported that the post was not automatically shared either when it was first published because social buttons are greyed out and cannot be enabled. Could this be related? Screenshot: https://d.pr/i/WVIqha

[2021-03-28 00:07] supernovia commented on #51095
I'm trying to get more specific feedback on which graph they are referring to here.

Source: [a comment on a forums thread](https://wordpress.com/forums/topic/cant-access-stats-page-or-classic-editor/#post-3653693)

[2021-03-28 05:22] andrewserong commented on #42679
Very good point, thanks for clarifying! Yes, in the shorter term it’d be good for us to look into whether we can pass in the selected colour scheme in an extra param in a simple way to cover the main existing case for a site having different colours :)

[2021-03-28 07:30] ramonjd commented on #45948
@andrewserong What do you think, could we close this? Or move over to View's backlog?

[2021-03-28 10:47] poojashetty18 commented on #50961
Got a request on 28668778-hc as the scale option is not available on the Calypso edit media library option. For now, shared a direct link as a workaround

[2021-03-28 14:40] JenSwish commented on #51371
3818513-zen

[2021-03-28 18:02] mrfoxtalbot opened #51475 "SoundCloud embed block is too tall in the editor"
**Quick Description**: The SoundCloud embed block is way too tall in the editor, but the actual content of the block is pretty short.

**Affects**: Simple sites only, all themes.

More detail:

This is affecting ALL the themes I tested, including Seedlet and all the Varia themes I tested, as well as TwentyTwenty and TwentyEleven:

![Screen Shot on 2021-03-28 at 19:51:45](https://user-images.github

[2021-03-28 21:32] jerrysarcastic commented on #46645
Also reported in the WordPress.com public support forums:

- https://wordpress.com/forums/topic/unified-navigation/page/5/#post-3655386
- https://wordpress.com/forums/topic/unified-navigation/page/5/#post-3655419

[2021-03-28 22:03] andrewserong commented on #45948
Thanks for the ping @ramonjd — we've largely done this one! We can always improve it, but I think the original objective is complete. I'll close it, but let's open up additional issues for features we'd like to add as we encounter them.

[2021-03-28 22:03] #45948 closed

[2021-03-28 22:44] p-jackson commented on #50953
I test this and things seem less broken now. Maybe this is just a recent changes in Gutenberg have improved this? #50358 isn't fixed yet so can't be that.

With tt1 theme:
- Change background colour in the site editor ☑️
- Colour changes are reflected in the editor ☑️
- Changes saved without issue ☑️
- Changes reflected on front-end ☑️

With seedlet theme it's a little bit more broken:
- Change ba

[2021-03-28 23:00] p-jackson commented on #50953
Found this code that was overriding the colours on the seedlet front end:

<img width="816" alt="Screenshot 2021-03-29 at 11 59 17 AM" src="https://user-images.githubusercontent.com/1500769/112771042-38ecea00-9086-11eb-922e-d151d982d3fa.png">

Not sure what that's about, but appears to be a seedlet issue, not a Global Styles issue.

Are you still able to reproduce this issue on Atomic @vindl?

[2021-03-28 23:51] alaczek opened #51476 "Signup/Site Editor: Add three new Starter Designs"
We've converted three of our existing Starter Designs to use a block-based theme, so that they can be added to the Site Editor signup flow.
1. https://vestablockstarter.wordpress.com/
2. https://easleyblockstarter.wordpress.com
3. https://maylandblockstarter.wordpress.com/

![image](https://user-images.githubusercontent.com/4550351/112772350-fa523200-907b-11eb-939d-0d9d96521b93.png)

![image](http

[2021-03-29 00:21] jordesign commented on #51189
Another case in #28694037-hc.

This seems like potentially a bit of a blocker - if it is stopping users from being able to access their Site Privacy and/or launch their site without HE assistance?

[2021-03-29 01:17] creativecoder commented on #51396
Draft PR for this started at https://github.com/Automattic/wp-calypso/pull/51477

The `__experimentalFullscreenModeClose` component isn't all that helpful, as it outputs a fully formed button with a link that exits the editor (rather than open the sidebar menu). But it's not difficult to use the same general approach to fetch the site icon and using it for toggling the menu.

Note that the way the

[2021-03-29 07:02] vindl opened #51482 "Site Editor: site icon not displayed when set"
If you set the site icon in core it will replace the default WordPress button in the browsing sidebar toggle. The same thing should happen in WP.com integration but it's not working as expected currently.

**Note 1:** It's not possible to set site the icon in core through UI with FSE is enabled at the moment, since we hide the Customizer menu item. You can still reach it directly by appending `wp-

[2021-03-29 07:04] rachelwinspear commented on #51252
Another case #3859675-zen
`I’m talking about the old ‘classic’ dashboard stats, where you could see what posts had been shared and how many shares.`

[2021-03-29 09:09] #51229 closed, assigned to ciampo

[2021-03-29 09:40] razvanpapadopol opened #51485 "Focused Launch: support Recommended plan based on selected_features"
Blocked by #47817

### What
Similar to how we've added recommended plan to Step-by-step launch (https://github.com/Automattic/wp-calypso/pull/45718), we should do it for Focused Launch. The "Recommended" option will replace "Popular" option in both Summary View and Details view.

### Why
Users should get a plan recommendation based on the selected features at site creation.

### A/C
- [ ] use "Rec

[2021-03-29 09:42] mmtr commented on #49944
In pbAPfg-1sT-p2#comment-2951 I suggested to add a "configure menu" link in the menu itself which will point to `wordpress.com/me/account`:

![image](https://user-images.githubusercontent.com/1233880/112818439-d1ce3600-9083-11eb-9034-42688a1d963b.png)

[2021-03-29 10:31] mmtr commented on #51188
That's the intended behavior @Thelmachido. We don't what to show the Links section to users who have not used it, since the feature was deprecated a long time ago. See https://github.com/Automattic/wp-calypso/issues/48177.

The Links Manager was itself removed from core [8 years ago](https://core.trac.wordpress.org/ticket/21307#comment:73) and replaced with a plugin. Users looking into this featur

[2021-03-29 10:31] #51188 closed, assigned to nobody

[2021-03-29 10:51] mmtr commented on #49963
@annacmc I'm unable to reproduce it, or maybe I'm missing a testing instruction step. This is the menu I get:

<img width="352" alt="Screen Shot 2021-03-29 at 12 50 28" src="https://user-images.githubusercontent.com/1233880/112826504-5b363600-908d-11eb-8e2d-d6b98087cfa4.png">

Should I see the Mobile settings there? Note that Nav Unification is disabled for Jetpack sites, so not sure if this is re

[2021-03-29 10:53] mmtr commented on #51189
Internal discussion: p9Jlb4-2qr-p2

[2021-03-29 10:57] mmtr commented on #51252
Thanks for reporting this, @ccwalburn! We're already tracking this in https://github.com/Automattic/wp-calypso/issues/51095, so I'm going to close this out as duplicate.

[2021-03-29 10:57] #51252 closed, assigned to nobody

[2021-03-29 11:17] mmtr commented on #51441
Internal discussion: p9Jlb4-2qr-p2

[2021-03-29 11:18] #51390 closed, assigned to nobody

[2021-03-29 11:18] #51439 closed, assigned to nobody

[2021-03-29 12:07] #48220 closed, assigned to retrofox

[2021-03-29 12:17] razvanpapadopol commented on #47741
On hold until we do #51175

[2021-03-29 12:32] #49148 closed, assigned to retrofox

[2021-03-29 12:52] razvanpapadopol commented on #45038
@alaczek @ianstewart is there an updated list of categories we want to be displayed for filtering designs or https://github.com/Automattic/wp-calypso/issues/45038#issuecomment-678866574 shows the most recent list?

We've seen in the [designs config file](https://github.com/Automattic/wp-calypso/blob/trunk/packages/design-picker/src/available-designs-config.json) some other categories as well. Eg:

[2021-03-29 12:58] #50399 closed, assigned to belcherj

[2021-03-29 13:05] simison commented on #45038
Just heads up that Ian is AFK this week. :-)

I don't think those categories in the design config file were ever used and were just for an example initially, but I could be wrong, it's been a while. :-)

[2021-03-29 13:06] carinapilar commented on #49963
Yes, it was showing in there, I'm not being able to replicate this anymore.

It wasn't showing with the Nav Unification, and I tested again now on a non-A11n WordPress.com account, where the Nav Unification isn't enabled yet, and I don't see the Mobile menu anymore.

[2021-03-29 14:00] lakellie commented on #50958
Just following up here as I was AFK last week. Can confirm the issue seems to have been resolved before it was investigated and the feature is now working on my test sites. Thanks for checking into it!

[2021-03-29 15:24] hambai commented on #44795
@klimeryk do you think we can fix this within the scope of the https://github.com/Automattic/wp-calypso/projects/107 project?

[2021-03-29 15:29] obenland commented on #49790
Fixed in r223492-wpcom.

[2021-03-29 15:29] #49790 closed, assigned to nobody

[2021-03-29 16:03] bobmatyas commented on #51371
3809836-zen

[2021-03-29 16:12] mikeicode opened #51510 "Nav Unification: Custom post type 'Projects' missing in theme 'Dream City'"
Theme 'Dream City' by developer https://cmsmasters.net has a custom post type 'Projects'. This menu item isn't visible in the menu, even with Advanced pages option selected.

### Steps to reproduce the behavior

1. AT site with Dream City enabled
2. Enable Dashboard appearance > Show advanced dashboard pages
3. View menu (Nav Unification)

#### What I expected to happen

Should be a link "Projects

[2021-03-29 17:25] obenland opened #51513 "Nav Unification: Maintain menu item focus between Calypso & wp-admin"
Reported in p1617037801187100-slack-C01APA37DDW

### Steps to reproduce the behavior

1. Go to wordpress.com
2. Using the keyboard, navigate to "Feedback"
3. Once loaded, use the keyboard to navigate to "Comments"
4. Focus is reset and lost from the menu

#### What I expected to happen
That I could navigate to the Comments menu item from the Feedback menu item.

#### What actually happened
Focus g

[2021-03-29 18:10] retrofox commented on #49180
@sfougnier  can you help us to define how it should look? Keep the colors defined by the nav unification, or should we apply neutral colors here too?

[2021-03-29 19:31] lakellie commented on #50928
Another report in 3863712-zen (Atomic site)

[2021-03-29 19:40] kwight opened #51517 "Chat: Time out error on Olark chat endpoint."
Reported by @beaulebens  in p1617045246024900-slack-C029GN3KD

The Olark endpoint can time out with a 504 error. Reported using Chrome on iOS.

![Image from iOS](https://user-images.githubusercontent.com/349751/112890512-d4cd2480-908b-11eb-9ec0-fd5d5b13cbfb.png)

[2021-03-29 19:41] kwight commented on #51517
This might be the call: https://github.com/Automattic/wp-calypso/blob/38c37bbfe35b8c741c4e346637987ddc0fb3ab59/client/state/happychat/user/actions.js#L29

[2021-03-29 19:43] chad1008 opened #51518 "Embeds: Anchor.fm Episode Links fail to embed properly"
### Steps to reproduce the behavior

1. Create a new post on a WordPress.com site
2. Open Anchor.fm and view an individual episode. Click the option to copy the link (not the embed, that's an iframe that will fail on Simple Sites) You can use this as a test if you'd like: https://anchor.fm/chad-c6/episodes/This-is-my-new-post-etqa7h
3. Return to your new post in the editor. Paste in the episode UR

[2021-03-29 21:18] kwight commented on #36274
I'm going to close this again – @druesome if there's still an issue, feel free to reopen if the user got the same error, otherwise a new issue would be better. 👍

[2021-03-29 21:19] khristiansnyder commented on #51459
Also ran into this in #28711490-hc .

[2021-03-29 21:29] mreishus commented on #41272
In https://github.com/Automattic/jetpack/pull/19212, I am trying to use "Jetpack block <--> Jetpack Endpoint <--> WPCOM Endpoint" relaying, but I'm running into authentication troubles. This is getting to be pretty complex.

My other idea was handling the authentication and resizing of images on the backend (see p2 comment: pMz3w-b58-p2#comment-86884). If files.wordpress.com can return 403s or 200

[2021-03-29 22:24] #48649 closed, assigned to nobody

[2021-03-30 00:51] orenwolf commented on #46536
@obenland This is absolutely still happening. I'm betting related to WordPress/gutenberg#26476 and WordPress/gutenberg#26554 - editors cannot pull the full list of authors (we have hundreds on our site) - they receive:

[code]

[2021-03-30 01:22] autumnfjeld commented on #50484
Ganon discussed this and estimated as S (it is well defined, requiring less than a week to ship) to complete @ianstewart 's MVP suggestions made on Feb 27 2021.

[2021-03-30 01:41] bluefuton commented on #50104
@mrfoxtalbot can you clarify this for us? Is the problem that when you toggle off "Enable instant search" or "Improve WordPress.com search performance" for a WordPress.com site, it has no effect on the front end of the site and Instant Search remains active?

[2021-03-30 04:14] joweber123 opened #51530 "Redirect Flag - Disparity between Calypso & WP Admin"
~~When the 'Show advanced dashboard pages.' option is enabled~~ on a simple site **with a mapped/registered domain**, a redirect flag will appear in the user's sidebar when accessing ~~the theme~~ a WP Admin page.

### Steps to reproduce the behavior

1. Go to WP Admin of a site with a mapped/registered domain
2. Check under the domain title in the upper lefthand corner to see the 'Redirect' flag.

[2021-03-30 04:37] retnonindya opened #51532 "Blocks: Copy-paste two blocks generates one block only when pasted"
A user reported unexpected behavior on copy-pasting blocks:

When selecting texts on multiple blocks and copied it, the result is only one block.

### Steps to reproduce the behavior

1. Open/create new post/page with multiple Paragraph blocks or a mix of Heading block and Paragraph block.
2. Select the texts that you want to copy
3. Click CMD + C (or Ctrl + C) to copy
4. See "Copied X blocks to c

[2021-03-30 04:47] p-jackson commented on #50426
I've got a WIP for this over at #51531. It's a mixture of relying on redux and DOM state, so I'll need to add some e2e tests so we get notified when this breaks.

There are two existing tracks events
- `wpcom_block_inserted`, when a block is inserted
- `wpcom_block_picker_block_inserted`, when a block is replaced

and I'm adding a new `insert_method` prop to these events that can be either:
- `hea

[2021-03-30 05:21] mrfoxtalbot opened #51533 "Nav Unification: Inconsistencies on the Import and Export sections"
There are a few inconsistencies in the way the Import & Export links will change from simple to AT sites depending on the state of the Dashboard Appearance toggle.

## How it works on simple sites:

By default, both the Import & Export links will take to Calypso.

If we activate the Dashboard Appearance toggle, the Import link will take to `/wp-admin/import.php` but the Export link will still show

[2021-03-30 06:03] jordesign opened #51534 "AMP 2.0 - inconsistent top padding with Hever theme"
Testing AMP 2.0 and found a discrepency in the padding at the top of the site in the Reader view.

https://bakingidea.wordpress.com/2021/01/23/buttercream-cakes-or-fondant-cakes/amp/
VS
- https://bakingidea.wordpress.com/2021/01/23/buttercream-cakes-or-fondant-cakes/amp/?amp-next=1

AMP 2.0 seems to include some additional CSS:

[code]

Screenshots:
<img width="680" alt="Screen Shot 2021-03-30 at

[2021-03-30 06:11] joweber123 opened #51535 "Nav Unification: Atomic sites with AMP can have oversized site icons."
### Steps to reproduce the behavior

1. On an Atomic site with AMP activated, switch from Reader Mode to either Standard/Transitional.
2. Refresh the page.
3. See the size of the site icon change in the site's dashboard admin sidebar.

#### What I expected to happen
No change to the site icon when switching between AMP modes.

#### What actually happened
It looks like when  Standard/Transitional i

[2021-03-30 06:25] kaitohm opened #51537 "AMP 2.0 - cover block content disappears"
### Steps to reproduce the behavior

1. Make a new post.
2. Add a Cover block with a solid background color
3. Check AMP version

#### What actually happened

AMP off: Red background and black text

<img width="1133" alt="amp-off" src="https://user-images.githubusercontent.com/49054298/112942487-2698ac00-916b-11eb-96aa-00021ffd9d90.png">

Current version of AMP: No background, black text

<img wid

[2021-03-30 06:30] mrfoxtalbot opened #51538 "Nav Unification: The site's plan is no longer visible on the navigation"
In the old Calypso Navigation, a site's plan would show next to the "plans" tab, which made it more convenient by reducing the room for confusion (users will often have multiple sites with different plans) and saving then need to navigate to Upgrades > Plan just to see the plan.

![Screen Shot on 2021-03-30 at 08:23:29](https://user-images.githubusercontent.com/4452464/112943235-86726100-9131-11eb

[2021-03-30 06:44] Robertght commented on #33371
Another case found in #21196495-hc

[2021-03-30 06:44] Robertght commented on #49840
Another case found in #21196495-hc

[2021-03-30 06:54] kavyagokul opened #51539 "AMP 2.0 - validation fails with error"
### Steps to reproduce the behavior

1. Go to 'https://validator.amp.dev/
2. Enter a URL that has AMP 2.0 (one with ?amp-next=1 appended)
3. Validation fails with this warning

#### What I expected to happen
Validation passes

#### What actually happened
Validation failed

#### Browser / OS version
Firefox developer edition 88.0b2 / Archlinux

#### Does this happen on simple or atomic sites or bot

[2021-03-30 06:59] erricgunawan commented on #51539
I can confirm this happens to me too.
On Simple site.

#### Browser / OS Version:
Chrome Version 89.0.4389.90 (Official Build) (x86_64)
macOS Catalina 10.15.7

[2021-03-30 07:23] simranvijwani commented on #51537
I found a similar bug of content disappearing:

When adding animation in the Cover Block, Image Block, and Gallery block, the blocks' content disappears.
On the Amp page, when you click on the block area, the image shows up. The block is present on the page, and its HTML code is present in the inspector. However, it does not show up on the page.
I think it affects all the block that supports anima

[2021-03-30 07:25] pauljacobson opened #51540 "Profile Image: Error when trying to upload WordPress.com account profile image"
## Profile Image: Error when trying to upload WordPress.com account profile image

Our customer reported that when they attempt to update their profile image in their WordPress.com account settings, they are unable to do so. Instead, they see the following error: "Hmm, your new profile photo was not saved. Please try uploading again."

I disconnected and reconnected Jetpack for the site, and confi

[2021-03-30 08:03] fylgjur commented on #45114
Just returning to say it does still occasionally happen. Maybe once a week or so, I'll suddenly see the page jump/zoom on load. It's not something that affects work any more.

[2021-03-30 08:19] cpapazoglou commented on #51535
Thanks for reporting this! It's very interesting that if something else than "Reader" is selected then the masterbar module doesn't load at all.

![](https://cln.sh/DmRygl+)

[2021-03-30 08:35] cpapazoglou commented on #51510
I can confirm that this is the menu missing from the user's site

![](https://cln.sh/MMk5du+)

[2021-03-30 08:45] cpapazoglou commented on #51472
@kosiew, how do you access the Theme Editor?

In my case it works by going Appearance -> Theme Editor

![](https://cln.sh/lZN7aF+)

I am closing it now, please reopen it if you still experience a problem.

[2021-03-30 08:45] #51472 closed, assigned to nobody

[2021-03-30 08:51] roo2 commented on #51436
hey @razvanpapadopol I tried the same steps from the `/start` flow but launching the site worked correctly, for some reason this only happens when using the `/new` flow.

[2021-03-30 08:55] cpapazoglou commented on #51447
Removed nav unification label as it could be initially reproduced **on an account without nav unification enabled**.

[2021-03-30 09:09] sophiegyo commented on #50239
I added another comment to the original thread in pKdGS-1UL-p2#comment-6395 but noting here too: 28719578-hc

[2021-03-30 09:44] BogdanUngureanu commented on #49779
Hi @mrfoxtalbot, we've tracked down the cause of this issue to a conflict with Page Optimize plugin. Until the conflict is resolved, for a quick workaround for it, you can go to Settings > Performance and you can either disable 'Concatenate styles' or add `colors,jetpack-admin-menu,admin-bar,dashicons` in the CSS exclude list.

Updating the CSS exclude list is preferred because disabling the CSS c

[2021-03-30 10:20] tjcafferkey commented on #51510
Thanks for raising, we need to investigate this further to find out the impact this is having and whether this is something that all plugins/themes are suffering from or if it's just this specific theme.

If it's the latter and only this theme is suffering, then according to ThemeForest this theme has had 400 sales in 4 years if that is a figure worth taking into account when gauging impact.

[2021-03-30 10:48] simison opened #51544 "Distclean doesn't work; missing lerna"
Running `yarn distclean` fails with missing Lerna:

[code]

Suppose `npx rimraf node_modules` gets rid of Lerna and then at the end `lerna clean` doesn't work anymore?

I don't have Lerna installed globally and I expected not to have ([it's not mentioned in docs either](https://wpcalypso.wordpress.com/devdocs/docs/install.md))

cc @Automattic/team-calypso

[2021-03-30 11:04] simison commented on #50426
Thanks @p-jackson ! Sounds good — yeah I'm personally interested in header vs quick-inserter mostly myself.

Do inserters inside Buttons block and Social icons block get tracked in this group as well? I don't remember if FSE Navigation block had any of these inserters but if it does, same question. :-)

<img width="225" alt="Screenshot 2021-03-30 at 14 03 02" src="https://user-images.githubusercon

[2021-03-30 11:34] alshakero commented on #49374
TIL. Thanks!

I removed the 5000ms polling logic [here](https://github.com/Automattic/wp-calypso/pull/51370) (thanks @noahtallen!). Sadly, the error still shows up, although for a much shorter time.

https://user-images.githubusercontent.com/17054134/112982216-86d42180-915c-11eb-8b0a-b4943f9999db.mov

[2021-03-30 11:53] scinos commented on #51544
It is not required to have `lerna` installed.

`yarn distclean` expands to a series of commands, the first one being `yarn run clean` which eventually does `lerna run clean --stream`. In other words, `lerna` is executed before wiping out `node_modules`.

`yarn distclean` seems to work for me. However, I've seen the behavior you describe when running `yarn distclean` with an incomplete (or missing)

[2021-03-30 11:56] pablinos commented on #50347
In reviewing what to work on next, I did a quick test of `get_blog_ids_with_sticker` using the `publicize-connections-to-purge` sticker from the job. It returned fine, but suspiciously with exactly 1000 IDs.

It might well be that the object cache is causing the problem here and that we should call `stop_the_insanity` and use the other recovery techniques to re-queue the job as we start hitting th

[2021-03-30 11:57] razvanpapadopol commented on #51436
Unfortunately, I'm still unable to reproduce this one but I believe we should first manage to reproduce consistently https://github.com/Automattic/wp-calypso/issues/50273, and then check if something is different in this case that involves `/new`.
cc: @ciampo

[2021-03-30 12:04] simison commented on #51517
@mattwondra hi! Does this fall under your purview?

[2021-03-30 12:15] simison commented on #51544
I indeed had a pretty old setup (maybe a couple months) and I updated dependencies only after running distclean. Just wanted to clean before refreshing deps. :-)

Feel free to close if it's non-issue. :-)

[2021-03-30 12:22] simison commented on #49374
I think the next step would be applying the `style="clip(...` thing described in https://github.com/Automattic/wp-calypso/issues/49374#issuecomment-802584542 while the iframe loads? cc @roo2 @creativecoder

[2021-03-30 12:32] scinos commented on #51544
I was about to fix it by replacing `lerna run clean` with `npx lerna run clean`, which will download `lerna` if it is not in `node_modules`. In theory it should fix the issue. The problem then is that `npx lerna run clean` will launch a bunch of scripts from `./packages/`, which in turn also assumes some modules are installed (mainly `tsc`). So fixing this will uncover more problems.

We could add

[2021-03-30 12:32] #51544 closed, assigned to scinos

[2021-03-30 12:35] simison commented on #51544
Sounds good, thanks for looking into it!

[2021-03-30 12:38] rosepajaroja opened #51548 "Error Connecting Site to Facebook"
### Steps to reproduce the behavior

1. Go to 'Tools' and click 'Marketing'.
2. Click on 'Connections' tab
3. Click 'Connect' button next to 'Facebook.'
4. Follow the prompts to login to Facebook.
5. See error:

![Alt text](https://d.pr/i/2feXW9/qAXXEqx1FN+)

6. Click 'Close' and comes another error:

![Alt text](https://d.pr/i/m1XaR8/rPBvL4fJKT+)

#### What I expected to happen

Success message a

[2021-03-30 13:00] retrofox commented on #49179
It seems to get the proper contrast to me. The computed color is `rgb(100,105,112)`...

<img width="1792" alt="Screen Shot 2021-03-30 at 9 56 06 AM" src="https://user-images.githubusercontent.com/77539/112992088-3f3e9d00-913e-11eb-9063-dd0c126c48fa.png">

that matches with what @Aurorum pointed us above `#646970`.
With these values, [the contract checker is ok](https://webaim.org/resources/contras

[2021-03-30 13:00] #49179 closed, assigned to nobody

[2021-03-30 13:10] adamziel commented on #41272
Actually I think it's photon that handles the resizing on that domain. I am not sure how authentication is handled, but I would guess it happens on some earlier layer.

The problem is that I may be logged in as a user on myatomicsite.com, but not be logged in on wordpress.com

It is a bit of a rabbit hole, yes. I wonder if you'll need to update the atomic proxy endpoint to accept requests from Jet

[2021-03-30 13:11] adamziel commented on #41272
If, for any reason, this doesn't work in the end, there is always the route of creating a custom xmlrpc method that would do the same thing as the endpoint.

[2021-03-30 13:31] retrofox commented on #49205
I wonder why there are some `--blue` colors. Is that ok?

![image](https://user-images.githubusercontent.com/77539/112996020-30f28000-9142-11eb-9957-e14daa6ecd6e.png)

For instance, the box-shadow in wp-admin is #e14d43, while in the calypso app it's rgb(107, 191, 242)
![image](https://user-images.githubusercontent.com/77539/112996797-e02f5700-9142-11eb-8400-e8041fe0c54f.png) vs ![image](https://u

[2021-03-30 13:32] nickpagz commented on #51535
Adding another instance of this issue from a user in chat #28268296-hc
In this case however, the image was extremely large and obscuring some of the menu items.

[![oops - image missing](https://d.pr/i/yRVONo+)](https://d.pr/i/yRVONo)

[2021-03-30 13:39] benchilcote commented on #51258
I have another similar case.  A user has embed blocks with links to internal pages on their site.  On Firefox the preview box is displayed but on Chrome, the embeds display as block quotes.   In doing some testing, I found that embedded links to an internal page only displayed as a preview in the editor and as a link or block quote on the live page - in both Firefox and Chrome.

The CSS in Firefox

[2021-03-30 13:55] AtrumGeost commented on #38807
Got another case here:

3866983-zd-woothemes

The user purchased a Biyearly Personal plan on an Atomic site.

[2021-03-30 14:13] Nic-Sevic commented on #51095
3855307-zen
<img width="698" alt="Old Stat Interface" src="https://user-images.githubusercontent.com/47717887/113003273-3b7d3b80-917b-11eb-9902-9c92c7afb706.png">

[2021-03-30 14:15] tjcafferkey commented on #49756
Closing in favour of https://github.com/Automattic/wp-calypso/issues/51381

[2021-03-30 14:15] #49756 closed, assigned to obenland

[2021-03-30 14:19] cpapazoglou commented on #49364
Hey @jmdodd, I wonder if you could give us some technical direction here. Is my suggestion above a good practice for Atomic?

[2021-03-30 14:26] kspilarski opened #51553 "Atomic / Nav Unification: Dashboard Appearance Enabled not applied to Comments"
### Steps to reproduce the behavior

On an Atomic site:

1. Go to Comments - list of comments will appear (Calypso style)
2. Go to /me and enable dashboard appearance and save
3. Go back to Comments - list of comments will appear (Calypso style instead of WP-admin ).

#### What I expected to happen

Enabling dashboard appearance will make the comments section look like WP-admin:

<img width="1009"

[2021-03-30 14:55] mmtr commented on #50568
I also noted we have the same problem with Posts > Tags (WP Admin) and Settings > Writing > Tags (Calypso).

As suggested, we should have in consideration the "show advanced pages" setting:

- If toggle is disabled -> keep Calypso links in menu.
- If enabled -> keep WP Admin links in menu.
- In any case, both screens should be accessible via direct link.

[2021-03-30 15:25] #49180 closed, assigned to retrofox

[2021-03-30 15:26] stephdau commented on #49454
Sorry for the late reply, I was AFK on vacation.

@obenland : how do they consume AK stats outside of wp-admin: as far as I know, they do not. Or they do via https://akismet.com/account/

@tjcafferkey : I'm not sure how to find this out, we're not really involved in WPCOM dev besides pushing the latest plugin version to it.

[2021-03-30 15:27] stephdau commented on #49454
One thing I do know: we've received no questions/concerns about the stats now being inaccessible.

[2021-03-30 16:10] sixhours commented on #40195
I've been tinkering with the CSS and I'm confused as to why we're using absolute positioning for the search box in the `SitesDropdown` component. The markup appears to support static positioning, and using simpler CSS fixes the bug in both places and allows for more flexibility:

<img width="402" alt="Screen Shot 2021-03-30 at 12 04 09 PM" src="https://user-images.githubusercontent.com/2124984/113

[2021-03-30 16:40] michaeldcain opened #51556 "Checkout: give user option to empty cart when exiting Checkout"
We're seeing increased reports of users misunderstanding the abandoned cart notifications and emails throughout the product - sometimes leading to duplicate purchases. This might be related to thinking that leaving Checkout equates to "emptying my cart" or not understanding that clicking a CTA in our product adds an item to the user's cart.

#48335 deals with making it easier to edit the cart from

[2021-03-30 16:41] retrofox commented on #30426
It works as expected to me for **Simple** sites. The app did two POST requests. The first one with an ID `22498`, and the second one with the proper markup that's used to render the UI.

In **Atomic** sites, the error is silent, but it's possible to inspect the error response:

![image](https://user-images.githubusercontent.com/77539/113024696-6f496880-915d-11eb-88c3-08356deecd22.png)

[2021-03-30 16:45] lakellie commented on #48111
Just noting here we had an impacted user reach out in #3862007-zen who is considering migrating off WP.com since they have not seen any progress towards a resolution

[2021-03-30 17:34] metabreakr commented on #51510
The same issue occurs in the "Pet Rescue" theme by the same theme author:

- http://documentation.cmsmasters.net/pet-rescue/#!/portfolio_setup
- https://themeforest.net/item/pet-rescue-animals-shelter-charity-wp-theme/9347370

26945339-hc / 3867663-zen

[2021-03-30 17:56] obenland commented on #49454
Thanks Stephane! Let's not worry about it then

[2021-03-30 17:56] #49454 closed, assigned to nobody

[2021-03-30 18:03] alshakero commented on #49374
Since I touched on this issue and have some context, I created this [PR](https://github.com/Automattic/wp-calypso/pull/51558) for the clipping tweak, to save the next person some time. Should be fairly easy to review.

[2021-03-30 18:22] obenland commented on #51538
Thanks Alvaro, closing in favor of #49660

[2021-03-30 18:22] #51538 closed, assigned to nobody

[2021-03-30 18:26] obenland commented on #51535
Received another report (p1617127529205600-slack-C01APA37DDW). With the site icon impeding the admin like that, let's bump it in priority and find a way to enqueue the styles with AMP in Standard mode.

[2021-03-30 18:38] michaeldcain commented on #51212
We discussed this in today's planning call and think this behavior is leading to a lot of the user reports of duplicate purchases and "I didn't add this to my cart" that Happiness is having to deal with. Two possible solutions that were discussed:

- Clicking the nudge would take you to the /plans page, where the plan CTAs are modified to add the plan to your cart and take you to the domains page.

[2021-03-30 18:55] nickpagz commented on #50126
User reported the same error here: #3864457-zen

I've been able to reproduce this on a test site, but noticed a strange behavior. I used the same theme, Hemingway Rewritten, and used the user's same images. However, I was also able to reproduce with the Blur image recommended in the Header Image section in the Customizer, but cropped to a size of 1280x425. The default "Blur" image had no issues. S

[2021-03-30 19:32] creativecoder commented on #51311
D59219-code has been deployed, so I'm closing the issue.

Though https://github.com/Automattic/wp-calypso/pull/51324 still needs a review.

[2021-03-30 19:32] #51311 closed, assigned to creativecoder, alshakero

[2021-03-30 20:10] katiebethbrown commented on #36274
@kwight - I've got an atomic site in chat seeing the same error when adding a tag to posts in 27939677-hc. Happens with just a single tag, and I can replicate in a support session as well.

<img width="612" alt="terms" src="https://user-images.githubusercontent.com/42279181/113050760-70c95f80-9162-11eb-8291-c69d1339f583.png">

<img width="1002" alt="Screen Shot 2021-03-30 at 2 22 59 PM" src="https

[2021-03-30 20:14] selectedselections commented on #50301
Reported again in hc-26136349

[2021-03-30 20:55] sirbrillig commented on #38807
Should be fixed by D59519-code

[2021-03-30 21:32] sirbrillig commented on #51212
The tricky thing here is that we'd need to preserve the query string across several possible pages, and we'd have to make sure that all possible routes to add products to the cart are capable of the new behavior; not all these routes are links as some are form submissions with multiple layers of code.

[2021-03-30 21:33] annezazu commented on #50426
I think that's fine for the screenshot you shared.

I actually am curious more so about the various ways people insert things including the other methods you listed like slash inserter rather than just those two! All of them provide insights into the common pathways people interact with blocks.

[2021-03-30 21:37] sirbrillig commented on #51212
A potential third option is to just let users add a domain to their cart without a plan, and rely on code within checkout to get them to add a plan.

For example, if the user enters checkout without owning a plan or without a plan in the cart, and they are in the user cohort where they can't buy a domain without a plan, then we could display a modal saying "You need to add a plan to complete check

[2021-03-30 21:38] mattwondra commented on #51517
Not explicitly, no. But I have some familiarity with the code paths and checked it out. I'll update the Slack thread above with links to some of what I'm referencing below.

I looked at **Grafana stats for the endpoint** — For API successes, the 95th percentile timings seem in line with recent trends (so majority of cases should not be impacted). The 99th percentile timings are significatly elevat

[2021-03-30 21:39] emilyaudela opened #51561 "Nav Unification: Introduction modal has truncated text in non-English languages."
### Steps to reproduce the behavior

1. Go to WordPress.com
2. Change your user language to one of the following languages: Russian, German, Dutch, or French.
3. Activate the Nav Unification Customer Modal
4. The text in the first screen is cut off in languages with a lot of text expansion.

#### What I expected to happen

I expected to see the entire message or to be able to scroll down and see t

[2021-03-30 21:41] ericamQA commented on #46802
Another report in 26272052-hc **who would like to be emailed when this is resolved.**

[2021-03-30 21:52] obenland commented on #46802
@ebinnion Has your logging enhancement yielded any fruits yet?

[2021-03-30 21:53] pablinos commented on #49944
I'm going to put this half baked thought out there, but could we use what's left of Calypsoify to work out what the navigation links should be?

One of Calypsoify's remaining uses is to know where to send someone to as they close the editor. I wonder if that could be extended for the navigation. For the links in the menu that go to wp-admin, such as tag and category management, we could add the Ca

[2021-03-30 22:36] vindl commented on #50953
I just tested this again and I can no longer reproduce the original issue! 🥳

Let's cc @Automattic/theam. I think we can file an issue for it in https://github.com/Automattic/themes/ and close this one.

[2021-03-30 22:51] #40804 closed

[2021-03-30 22:51] #43465 closed

[2021-03-30 23:00] donalirl opened #51563 "Support Ratings During Automated Transfer or Introduce a Pre-AT Warning"
### Steps to reproduce the behavior

1. Enable [ratings](https://wordpress.com/support/ratings/) on a simple site
2. AT the site by installing a plugin

#### What I expected to happen

I expected ratings to be unaffected, or at the very least for there to be a warning before installing the plugin that ratings would disappear (similar to how there is a warning for other lost features like the follo

[2021-03-30 23:20] katiebethbrown commented on #51535
Another report in 28654297-hc

[2021-03-30 23:35] noteeth commented on #48316
Re-opening this issue after another instance popped up here 3868287-zd
Site migrated in with `full-site-editing` disabled and was stuck at "coming soon" despite being launched.  Public was not an available option until enabling `full-site-editing`.

[2021-03-30 23:35] pablinos commented on #49145
It seems like the white triangles in the Jetpack logo are causing problems here. I had a look at the branding for Jetpack and couldn't find one where the triangles were part of the same path, so it could sit on any colour background.

Does anyone (@Automattic/jetpack-design perhaps) know where we might be able to find an SVG like that?

[2021-03-30 23:46] tellisbethel commented on #51535
Another report here: 28728773-hc . This instance made large areas of the dashboard inaccessible as well:
![image](https://user-images.githubusercontent.com/1767799/113070439-ee0fc700-9198-11eb-8b56-4bdbd549f835.png)

[2021-03-31 01:10] p-jackson commented on #50953
Reported the seedlet issue here Automattic/themes#3588

[2021-03-31 01:10] #50953 closed, assigned to p-jackson

[2021-03-31 01:58] nagpai commented on #51095
#28597112-hc

According to the user `Sharing stats` available under WP admin is missing

[2021-03-31 06:11] nagpai commented on #51435
Atomic site. but the option does not appear within https://wordpress.com/posts/<site address>

#28664043-hc

[2021-03-31 07:43] kdevnel opened #51566 "Notifications: Gallery blocks display tiny images on mobile email notifications"
### Steps to reproduce the behavior

1. Create a new post on a simple site
2. Add a gallery block with 2 images - it can be 1 or 2 columns
3. Publish the post
4. Check email notification post on a mobile -

#### What I expected to happen
The gallery would display much like it does on a website - images in columns that are easy to see

#### What actually happened
The images are tiny on mobile when

[2021-03-31 07:43] #50104 closed, assigned to nobody

[2021-03-31 07:45] kdevnel commented on #51566
cc: @inaikem

[2021-03-31 07:53] cpapazoglou commented on #51561
I marked this as High, cause if we are not fixing it now that there are still Users who haven'd dismissed it then probably there is no reason fixing it as new users don't see that modal at all.

[2021-03-31 08:08] simison commented on #48316
@vindl can you help triage this? Thanks! We probably just need [the same changes as were done for some designs](https://github.com/Automattic/wp-calypso/issues/48316#issuecomment-781846373) done also for FSE designs.

Feel free to open new issue and close this, or re-use this if you prefer.

[2021-03-31 08:13] cpapazoglou commented on #51553
I can confirm that it works as expected for Simple sites but not for Atomic.

[2021-03-31 08:41] ramonjd commented on #48316
Are we talking about the TwentyTwentyOne theme?

I've thrown up a patch here: D59544-code

[2021-03-31 09:04] simison commented on #51335
@jeffikus I'll add this to our backlog but I have a hunch that the theme team would already know what to do to _"retire Varia on WP.com"_, and for us, it's gonna be a learning curve. Wanna grab this for your backlog instead?

[2021-03-31 09:06] simison commented on #51263
@obenland @brandonpayton any updates on this?

[2021-03-31 09:09] #49488 closed, assigned to nobody

[2021-03-31 09:10] vindl commented on #48316
I suspect this is not related to FSE, but it's referring to ETK plugin under its old name.

@noteeth could you clarify if `full-site-editing` here refers to:
- plugin that has `full-site-editing` slug (now called Editing Toolkit Plugin)
- Legacy Dotcom FSE sticker
- Core FSE (under development, shouldn't be live yet)

[2021-03-31 09:11] simison commented on #49073
@obenland @pmcpinto hi! Do you know what's going on with this issue, is it a nav unification problem, or WooCommerce problem, or something else?

Who could look into it?

[2021-03-31 09:19] mrfoxtalbot opened #51568 "Nav Unification: Portfolios & Testimonials should also default to wp-admin on AT sites."
Currently, the "Portfolios" menu item links to `wordpress.com/types/jetpack-portfolio/`, on both simple and AT sites.

Now, features added by third-party plugins will extend not just pages and posts listings, but also the Portfolios and Testimonials CPTs. If a user needs to access these, they will need to switch the Dashboard Appearance toggle in order to get to `wp-admin/edit.php?post_type=jetpac

[2021-03-31 09:24] folletto commented on #49145
Sure thing.
I attached the icon here (ZIP and SVG code below).

While WP Admin uses a font to create the icon, I re-created this setting it at 20x20 pixels to match, even if of course being an SVG it can scale properly.

[jetpack-wpadmin-icon-simplified.svg.zip](https://github.com/Automattic/wp-calypso/files/6235429/jetpack-wpadmin-icon-simplified.svg.zip)

<img width="403" alt="Screenshot 2021-03

[2021-03-31 09:24] JanaMW27 commented on #51212
Can we discover how the nudge performs? How many people click it? How many people finish the purchase journey with a domain and a plan? Cherry on top: how many people request a refund?

Knowing these metrics will help us create a flow that is a better experience and make sure that we are at least retaining upsells.

[2021-03-31 09:40] pmcpinto commented on #49073
👋 we already have this on our backlog ([658](https://github.com/Automattic/wc-calypso-bridge/issues/658)). We plan to take care of it during this sprint.

[2021-03-31 09:43] pablinos commented on #49145
At first glance, that looks pretty perfect. Thanks @folletto. I'll add you as a reviewer on the PR in case you want to take a look.

[2021-03-31 09:46] folletto commented on #49145
Could you please ping the whole Jetpack Design Team for review? It's better than just me getting the request :)

[2021-03-31 09:47] daledupreez commented on #51212
Note that all users are now allowed to purchase domains without a plan, with the only restriction for most users being the fact that they can't use the domain as their primary domain (with a small number of users exempt from that restriction). We do try and upsell those users into a plan in checkout, but that's relatively passive. (For much more context, see P6Ya1B-Nh-p2.)

[2021-03-31 09:56] JanaMW27 commented on #51212
I have put together a prototype with the flow that I think may work best.

Here it is: https://www.figma.com/proto/KuWn3U5BIgr6sxcafpNkFj/Upgrade-nudge-flow?node-id=1%3A171&viewport=420%2C-74%2C1&scaling=min-zoom&page-id=1%3A98

 The idea is to change the label on the plan selection instead of having upgrade having Add to cart, and once they click on it, we will direct them to the domain section.

[2021-03-31 11:33] ivan-ottinger commented on #50740
Another report: 3846904-zd-woothemes

Even though the RSS feed is correct, it seems to take several hours until the newest episode shows up.

It looks like when we clear the site cache through the μ menu (Simple site), it helps to resolve the issue. Regardless, the user is frustrated that their newest episode displays everywhere else correctly (e.g. iTunes), but is still not updated on their site.

[2021-03-31 11:36] mmtr commented on #51535
We have hotfixed this for Atomic sites on 659-gh-Automattic/wpcomsh. A proper fix will be included in the next Jetpack release (https://github.com/Automattic/jetpack/pull/19357).

[2021-03-31 11:53] #50000 closed, assigned to retrofox

[2021-03-31 11:58] tjcafferkey commented on #50847
Discussion moved to here paYJgx-1ua-p2

[2021-03-31 13:21] #49310 closed, assigned to cpapazoglou

[2021-03-31 13:36] ciampo commented on #51318
@Automattic/luna since there's no PR associated to this issue, I thought we could review directly here.

I created the milestone and added all the domain-picker-related issues:  https://github.com/Automattic/wp-calypso/milestone/349

[2021-03-31 13:55] ciampo commented on #40970
@razvanpapadopol and @alshakero , is #50998 potentially fixing this issue too? Or is it unrelated?

[2021-03-31 14:31] aleone89 opened #51581 "Nav Unification: Add Quick Edit"
Now that Nav Unification is launched, users who would automatically revert to wp-admin are now noticing things that may not be there, but maybe a handy feature.

**What**

A way to edit some of the smaller pieces of information regarding a post via a Quick Edit system  Posts > All posts:

<img src="https://cdn-std.droplr.net/files/acc_662189/NPmIy9" />

<img src="https://cdn-std.droplr.net/files/a

[2021-03-31 14:40] cpapazoglou commented on #50765
@mrfoxtalbot since we rolled out to 100% are there any other reports besides https://wordpress.org/plugins/folders/ ?

[2021-03-31 14:44] jeffikus commented on #51335
@simison @ianstewart we're checking on if there are any implications on Atomic before doing a retirement as usual.

[2021-03-31 14:49] #41066 closed

[2021-03-31 14:58] #51561 closed, assigned to cpapazoglou

[2021-03-31 15:15] #49149 closed, assigned to retrofox

[2021-03-31 15:24] dereksmart opened #51584 "Free Atomic: Upsell banners showing the wrong logo (Jetpack)"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

/plugins/site
![image](https://user-images.githubusercontent.com/7129409/113169086-45eb1400-9213-11eb-8d00-0e455f254810.png)

/hosting-configuration/site
![image](https://user-images.githubusercontent.com/7129409/113169213-61561f00-9213-11eb-9e19-60ea556483ea.png)

### What I expected on the WordPress.com site

#### What

[2021-03-31 15:29] dereksmart opened #51585 "Free Atomic: Activity Log Banner"
Activity Log is different based on their plan. We need to ensure that after they purchase Yoast and are migrated to Atomic infrastructure that the view and upgrade options are maintained.

### What plan tier is the site on?
Free

### Where are you seeing the issue?
/activity-log/site

### What I expected on the WordPress.com site

#### What I expected on the Atomic site

![image](https://user-imag

[2021-03-31 15:33] dereksmart opened #51587 "Free Atomic: Show Footer credit"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

On WP.com we display a footer credit back to WordPress.com that is managed by the Customizer. This is not present on Atomic sites.

For feature parity this needs to be enabled for Free sites that are on Atomic.

#### What I expected on the Atomic site
![image](https://user-images.githubusercontent.com/7129409/113170616-b

[2021-03-31 15:34] pauljacobson commented on #51566
I have a very similar report in 3870080-zen for this post (and previous posts on this site): https://keurwood.com/2021/03/30/5-week-pupdates-tiva-x-creed-f4-pomskies/

### Screenshots

Mobile email -

![img_4606](https://user-images.githubusercontent.com/2912202/113170809-92ecdb80-924f-11eb-9f2c-7f4a5da6eec4.png)

Desktop Gmail -

![img_4607](https://user-images.githubusercontent.com/2912202/11317

[2021-03-31 15:35] dereksmart opened #51588 "Free Atomic: Ensure Backups works as expected"
### What plan tier is the site on?
Free

#### What I expected on the Atomic site
Backups are only available for Business Plans. However backups are used for the revert process to downgrade from Atomic to WP.com simple.

- Ensure the user is presented with the same upgrade screens
- Ensure that backups are functional so they can be used internally
- Ensure users don't get notifications or other pro

[2021-03-31 15:39] dereksmart opened #51589 "Free Atomic: Do not allow Additional CSS"
### What plan tier is the site on?
Free

### Where are you seeing the issue?
This feature is in the customizer found at Appearance > Edit CSS

#### What I expected on the Atomic site
To show some sort of upgrade notice, such as the one currently shown:
![image](https://user-images.githubusercontent.com/7129409/113171599-9fecd900-9215-11eb-8e1a-809b15032e26.png)

#### What actually happened
Additio

[2021-03-31 15:40] dereksmart commented on #51588
For Atomic sites with free plan we currently don't setup Rewind.
However, we probably need to further investigate this (because of the assumption that all WoA sites need backups to rollback eg in case the site gets hacked).
Furthermore, Atomic uses rewind in order to setup the domain as primary for Atomic V2 platform.

[2021-03-31 15:44] dereksmart opened #51590 "Free Atomic: Premium Themes"
### What plan tier is the site on?
Free

### Where are you seeing the issue?
/themes/site

#### What I expected on the Atomic site
Only themes available to Free users are available.

#### What actually happened
Not seeing upgrade banners?

#### Is this specific to the applied theme? Which one?

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
![image](https://u

[2021-03-31 15:46] dereksmart opened #51591 "Free Atomic: Do we show Ads?"
### What plan tier is the site on?
Free

### What I expected on the WordPress.com site
To show wordpress.com ads, and offer users a way to add an upgrade to hide them.

#### What I expected on the Atomic site
Not sure!

#### What actually happened
No ads are shown.

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

[2021-03-31 15:52] dereksmart opened #51592 "Free Atomic: Google Analytics Restriction"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

Tools > Marketing features > Traffic

#### What I expected on the Atomic site
To not have access to the Google Analytics feature as a Free Atomic site.
![image](https://user-images.githubusercontent.com/7129409/113173469-65843b80-9217-11eb-8c4b-e9e94b25f44d.png)

#### What actually happened
The feature is available
![ima

[2021-03-31 15:55] dereksmart opened #51593 "Atomic Free: Restrict VideoPress access"
VideoPress is already blocked on the backend, but we need to reflect this properly in the Calypso UI.

### What plan tier is the site on?
Free

### Where are you seeing the issue?
Media > Videos

#### What I expected on the Atomic site
![image](https://user-images.githubusercontent.com/7129409/113173784-bd22a700-9217-11eb-88cb-b4898826f1c2.png)

#### What actually happened
![image](https://user-im

[2021-03-31 15:57] dereksmart opened #51594 "Free Atomic: File storage - Adhere to limits"
Free : 3GB
Personal : 6GB
Premium : 13GB
Business/ e-Commerce : 200 GB

These limits need to be enforced and taken into consideration before a site moves to a Free tier of Atomic.

### What plan tier is the site on?
Free

### What I expected on the WordPress.com site

#### What I expected on the Atomic site

#### What actually happened

#### Is this specific to the applied theme? Which one?

####

[2021-03-31 15:59] dereksmart opened #51595 "Free Atomic: Gutenberg Block plan restrictions"
We need to maintain upgrade routes for the following blocks. Note that the plans listed are where they should be restricted

* Video
  * Free
  * Personal
* Donations
  * Free
* Open Table
  * Free
  * Personal
* Payments
  * Free
* Pay with Paypal
  * Free
  * Personal
* Calendly
  * Free
  * Personal

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
![image](

[2021-03-31 16:01] sirbrillig commented on #51212
Looks good to me! (FWIW that's effectively option 1 of the list above.)

[2021-03-31 16:38] jp-imagines commented on #51435
Another report in 28748346-hc.

[2021-03-31 16:40] apeatling commented on #51085
Possible duplicate https://github.com/WordPress/gutenberg/issues/29243

[2021-03-31 16:49] retrofox commented on #49199
How should we fix this visual issue?

[2021-03-31 17:05] michaeldcain commented on #51106
@Automattic/jetpack-voyager would this be something you're able to triage?

[2021-03-31 17:19] katiebethbrown commented on #51429
Another report in 3869798-zd-woothemes

[2021-03-31 17:45] synora opened #51596 "Logos Block: Black and White Style Setting Turns Images Black"
### Steps to reproduce the behavior

1. Start a new site on a Free, Personal, or Premium plan
2. Choose the Balasana theme
3. Open a page/ or post and add a Logos Block
4. Choose any of the Balasana images to add to the Logos Block
5. Choose the Logos Block's Black and White Style Setting

#### What I expected to happen
To turn the images black and white

#### What actually happened
Images are com

[2021-03-31 18:24] khristiansnyder commented on #51095
#3858433-zen

Passing along some additional feedback from a customer that prefers the detailed old stats view:

[2021-03-31 18:24] Aurorum commented on #51584
Hi @dereksmart, just of curiosity, how is it possible to turn a site on the Free Plan into an Atomic one? Is it just a matter of a paid plan expiring?

[2021-03-31 19:45] synora commented on #48093
Noting that I'm able to replicate this still.

[2021-03-31 20:05] mikeicode opened #51601 "Gallery Block: Can't click the Upload / Select / Insert buttons to replace images"
The Gallery block has a replace button on images. After clicking that button it’s not possible to use the buttons to change the image itself.

![https://d.pr/i/H8FyIr](https://d.pr/i/H8FyIr+)

Video: https://d.pr/i/xXtJ4F

### Steps to reproduce the behavior

1. Add a Gallery block with images to a page
2. Click the pencil icon / Replace button
3. Try to click Upload / Select / Insert from URL but

[2021-03-31 20:19] ghost commented on #49180
The hover on white areas should likely match that of the hover styles in other white backgrounds of the admin interface:

<img width="428" alt="Screen Shot 2021-03-31 at 4 14 28 PM" src="https://user-images.githubusercontent.com/67021691/113205336-2ddbba80-923c-11eb-9e35-fde881605f7d.png">

<img width="278" alt="Screen Shot 2021-03-31 at 4 13 03 PM" src="https://user-images.githubusercontent.com/6

[2021-03-31 20:36] CompChris commented on #51435
Another report: 28653208-hc

[2021-03-31 21:34] mreishus commented on #41272
I'm moving off this issue for now.

## Fixes implemented

**Tiled-gallery blocks on private atomic sites will no longer use the photon proxy to resize images.**
  * ( https://github.com/Automattic/jetpack/pull/19201 ).
  * This will be released with the Jetpack update on April 6, 2021.
  * PRO: Users will be able to see the images when they couldn't before.
  * CON: Users will download full sized

[2021-04-01 00:25] sirbrillig commented on #51212
I've more or less implemented the flow described above here: https://github.com/Automattic/wp-calypso/pull/51609

Although it needs a few UI tweaks, it works and I think it's a much improved flow.

[2021-04-01 00:28] kaitohm opened #51610 "Parent-Child page listing only loads after scrolling through pages"
### Steps to reproduce the behavior

1. Have a site with multiple Parent-Child pages
2. Load My Sites > Pages
3. Child pages will initially be shown as "- page title"
4. Only after you start scrolling through the list of pages do you have the Calypso visual listing of parent-child relationships.

#### How child pages look on loading Pages

<img width="1012" alt="before-scroll" src="https://user-im

[2021-04-01 00:39] autumnfjeld opened #51612 "Welcome Tour: fix cursor on last slide over "Did you find this guide helpful?""
### Description
The last slide of the welcome tour has a thumbs up / thumbs down rating.  The cursor should be clickable over the icons, but not on the prompting text

Size: XS

Reference
p1616988418253100-slack-CRWCHQGUB

[2021-04-01 02:07] ebinnion commented on #46802
I spent some time debugging and tracing tonight. I was able to reliably reproduce the issue with the following:

- Create LinkedIn connection
- Go to LinkedIn and revoke connection
- Go to Publicize Report Card and test connection, which should update WPCOM that the connection is broken
- Go to `/marketing/connections/$site` and refresh the connection

After dropping some debug code, I can verify

[2021-04-01 02:31] ilyasfoo commented on #50833
#51394 is merged, I'll be monitoring logstash logs with the filter `feature: calypso_client and message: "woocommerce setup timeout"`. Logs with timestamp starting from 1st April 2AM should be logged by users.

[2021-04-01 02:42] kaitohm opened #51615 "Allow 4K resolution videos in VideoPress"
### Description

A user is seeing a drop in video quality between VideoPress and other SNS platforms.
As phones can now shoot in 4k, we should be able to support this on our platform, too.

### References

Internal discussion already started here: pxWta-Qo-p2
VidePress reduces video quality to 720p.

I'm starting this GitHub thread, so we can collect user interactions where they request this.

Sta

[2021-04-01 02:51] katiebethbrown commented on #48316
I ran into this on a user site earlier, but I can't find the interaction so I was testing and I can replicate on [a test site](https://testlaunch960883515.wpcomstaging.com/).

To replicate:
- AT an unlaunched site
- then deactivate the FSE/WET plugin
- Check the site and see it becomes public even though it isn't launched
- Check the settings, and it shows as unlaunched, with the message about bei

[2021-04-01 04:13] inaikem commented on #48316
In direct relation to @katiebethbrown's testing above: 28755935-hc

[2021-04-01 05:28] inaikem commented on #51095
Dropping a reference from #51252 here: 3851156-zen.

I have advised them we are working on this.

[2021-04-01 06:35] andrewserong commented on #50407
@jeyip I managed to come up with a fix for the Cover block video uploading issue where it displays the server-based error message instead of overriding the error message in Jetpack before the file is uploaded. It turns out that the Site Editor in Gutenberg isn't server rendering the `allowedMimeTypes` setting, whereas this does get rendered for the post and page editor. I've submitted a fix over i

[2021-04-01 07:23] rezzap commented on #51447
@cpapazoglou Apologies, that was supposed to read consistently on an account **with** nav unification enabled. I have not been able to reproduce this on an account using the old flow where nav unification is disabled.

I'll re-add that tag for now.

[2021-04-01 08:36] cpapazoglou commented on #51447
Thanks @rezzap for following up on this! I just tested with nav-unification disabled (both in Calypos and WPCOM) and I also get the same problem

Starting the flow from `/domains/manage` end up in `/checkout/no-site?signup=1` where selecting any site will result to **You have no items in your cart**

https://user-images.githubusercontent.com/12430020/113266071-7dbe8e00-92dd-11eb-9d66-fc1b69421227.

[2021-04-01 08:47] yansern commented on #49466
This PR fixes general flakiness in the Gutenboarding spec: https://github.com/Automattic/wp-calypso/pull/51573
This PR fixes the iframe context switching flakiness: https://github.com/Automattic/wp-calypso/pull/51580
This phab patch removes the signup limit: ~~D59543-code~~ D59614-code
Slack discussion: p1617136625041200-slack-C1A1EKDGQ

[2021-04-01 08:54] #51468 closed, assigned to nobody

[2021-04-01 09:33] ivan-ottinger commented on #50542
Just noting here that we had a user report in 3870069-zd-woothemes. They found the Preview confusing as it doesn't provide the expected results.

As a workaround, I suggested them to use the mobile view tool that is built in the browser.

[2021-04-01 09:34] pauljacobson opened #52084 "Customizer > Menus: Default category pages omit correctly categorized posts"
A customer reported that an automatically generated category page omits posts that are correctly categorized, and should otherwise be included in the list of posts on the page.

## Steps to replicate

The posts that are omitted are the following:

<img width="1705" alt="Markup 2021-04-01 at 12 01 58" src="https://user-images.githubusercontent.com/2912202/113273770-a5b1ef80-92e5-11eb-97d5-1bdcc3b66

[2021-04-01 09:45] ivan-ottinger commented on #35800
Another report (iPad Pro): 3864419-zd-woothemes

[2021-04-01 10:08] cpapazoglou commented on #51510
@mrfoxtalbot We have spotted the problem and it will be fixed with the next Jetpack Release (Scheduled: April 6, 2021). Till then could HEs use the `?disable-nav-unification&calypsoify=0` flag to find the missing links and share them with the customers?

[2021-04-01 10:42] #51535 closed, assigned to mmtr

[2021-04-01 10:55] WunderBart commented on #51161
Due to a regression in v10.3 that affected 9 themes, we've decided to revert production to v10.2. See p1617267873288500-slack-C7YPUHBB2 for more info.

[2021-04-01 11:05] Aurorum commented on #50945
Some potential solutions:

1) Just ensure that activating the "Dashboard appearance" toggle means that the **default page is the WP-Admin Dashboard**, and rely on people using the direct link if they want to access "My Home" (effectively the opposite of the original intention of this issue). This will mean that people will miss out on key announcements in that section unless they're regularly acce

[2021-04-01 11:17] hambai commented on #51447
Okay I have a PR that fixes the issue ready for review

[2021-04-01 11:24] razvanpapadopol opened #51624 "Design Picker: extract Badge from gutenboarding to package"
### What
Extract Badge component from Gutenboarding to `design-picker` package.

### Why
We might need to use the same badge in other contexts, outside of Gutenboarding.

### A/C
- [ ] Extract `client/lib/a11y` to a separate new package (@automattic/calypso-a11y)
- [ ] [Requires 1] Extract `<JetpackLogo />` to `@automattic/components`
- [ ] Extract `<Badge />` component to the @automattic/onboardi

[2021-04-01 12:10] alshakero commented on #40970
@ciampo it's unrelated. This is about free domains like omar.home.blog. I think *.home.blog is like *.wordpress.com, they're free subdomains.

[2021-04-01 12:20] cpapazoglou commented on #51367
Actually this is expected. "My Site" means that you are in the "My Sites" section which shows the sidebar of that site. On the same note, it doesn't redirect to any page if you were already on Calypso eg "Media" screen. It will redirect if you are on "Reader" or "Me" though.

[2021-04-01 12:20] #51367 closed, assigned to nobody

[2021-04-01 12:27] cpapazoglou commented on #51345
@davipontesblog can you confirm this is still happening? I can't reproduce it..

[2021-04-01 12:37] ivan-ottinger commented on #49952
Another case where this feature would help: 28744518-hc

[2021-04-01 12:54] davipontesblog commented on #51345
Not happening anymore, I do see the focused item "Settings" in the nav. Thanks for checking!

[2021-04-01 12:54] #51345 closed, assigned to nobody

[2021-04-01 12:55] StefanNieuwenhuis commented on #51403
Something to consider: Isn't there a way to use the original JSON-file instead of mocking it?

[2021-04-01 13:07] david-szabo97 commented on #51482
Here are my findings:

Site logo and site title are fetched from the `index` endpoint. In the case of a typical Gutenberg development environment that is `http://localhost:8888/index.php?rest_route=/`.
![image](https://user-images.githubusercontent.com/2256104/113298552-41e6f100-92fc-11eb-86a7-8eb949fdc371.png)

On WP.com this endpoint should live at `https://public-api.wordpress.com/wp/v2/sites/_

[2021-04-01 13:46] david-szabo97 commented on #51482
A quick hack that leverages that the endpoint is preloaded: D59634-code

In this case it won't fire a request but load the preloaded endpoint.
https://github.com/WordPress/gutenberg/blob/14f54442424f1490c74b983bc17c7b9c4968287c/lib/full-site-editing/edit-site-page.php#L112

[2021-04-01 13:47] david-szabo97 commented on #51482
Looking forward to any thoughts @mattwiebe @Addison-Stavlo @jeyip

[2021-04-01 13:48] vindl commented on #51482
cc @creativecoder since he is working on a similar issue in https://github.com/Automattic/wp-calypso/issues/51396.

[2021-04-01 14:04] arunsathiya commented on #30282
The logo remains grey as of today. Still pending design input.

<img width="687" alt="Screenshot 2021-04-01 at 7 33 54 PM" src="https://user-images.githubusercontent.com/18581859/113305974-33f79700-9321-11eb-86a2-392393fda68d.png">

[2021-04-01 14:04] arunsathiya commented on #30265
<img width="640" alt="Screenshot 2021-04-01 at 7 34 11 PM" src="https://user-images.githubusercontent.com/18581859/113306012-3e199580-9321-11eb-9a51-d9de3ad67a6d.png">

Remains grey as of today, still pending design input.

[2021-04-01 14:07] arunsathiya commented on #30195
Ran into the stale status ping, tested, still an issue.

<img width="278" alt="Screenshot 2021-04-01 at 7 37 16 PM" src="https://user-images.githubusercontent.com/18581859/113306403-ac5e5800-9321-11eb-9393-657e773c6629.png">

[2021-04-01 14:08] arunsathiya commented on #29826
Tested again. Only `{site} is being deleted.` is shown. `has been deleted.` does not appear anymore. All good!

[2021-04-01 14:08] #29826 closed

[2021-04-01 14:13] strarsis commented on #29264
Can this also be used for just setting the background color?
This can be very useful when the themes needs individual styling controls, e.g. for particular lines of text.

[2021-04-01 14:13] nbloomf opened #51627 "User not prevented from purchasing the same email address twice before provisioning completes"
### Steps to reproduce the behavior

- Purchase a domain and a gsuite license
- After purchase completes, navigate to /domains, click "Manage email accounts", and click "add new users"
- Add a new gsuite license using the same email address.

#### What I expected to happen

Either to be warned that an account with that address is already being provisioned, or for the purchase to be converted to a

[2021-04-01 14:50] edequalsawesome opened #51629 "Posts can be edited to have no category"
### Steps to reproduce the behavior

1. Create a new post from Posts > Add New
2. Do not assign a category
3. Publish the post
4. Un-check the default category that was saved when the post was published
6. Update the post

#### What I expected to happen
The default category would be assigned to the post again, which is what happens on a self-hosted site

#### What actually happened
The category is

[2021-04-01 14:55] nbloomf opened #51631 "Fix confusing error when attempting to renew a Google Workspace account before it is provisioned"
### Steps to reproduce the behavior

1. Purchase a domain with a gsuite subscription
2. Immediately after purchase, navigate to /purchases and attempt to renew the gsuite subscription

#### What I expected to happen

I'm not sure what I expected, but I was confused by what actually happened, which was...

#### What actually happened

The cart is emptied and I see this error message:

![Screen Shot

[2021-04-01 15:06] ciampo opened #51632 "Design Picker: add design randomization to `/with-design-picker` onboarding flow"
## What

After extracting the `<DesignPicker />` component and using it in the newly created `/with-design-picker` onboarding flow, we should make sure that the designs shown in this new flow are randomised

## Why

This is needed to achieve feature parity with the design step in Gutenboarding

## A/C

- [x] Requires #51501 and #51404 to be solved first
- [ ] Add design randomisation to `/start/wi

[2021-04-01 15:07] ciampo commented on #51404
Opened https://github.com/Automattic/wp-calypso/issues/51632 to track the randomization of the design in the onboarding flow separately, removed it as an A/C for this issue

[2021-04-01 15:26] david-szabo97 commented on #51396
My approach that I explore in https://github.com/Automattic/wp-calypso/issues/51482#issuecomment-811920019 is quite hacky but I think we need to solve the endpoint issue somehow. Since there are other data that we use from that endpoint, for example the site's title.

[2021-04-01 15:51] pablinos opened #51634 "Write Button: Ensure that the Dashboard Appearance setting is honoured"
#51058 has been solved within Calypso by #51108, but with people switching between `wp-admin` and Calypso now that the unified navigation is live, the Write button in the toolbar of `wp-admin` needs to be updated to make sure that it respects the Dashboard Appearance setting also.

This isn't an urgent fix as if someone navigates to a Gutenframe URL, they will be redirected to `wp-admin` with the

[2021-04-01 15:56] #51058 closed, assigned to pablinos

[2021-04-01 16:01] Nic-Sevic commented on #13392
New case 3872607-zen where this is not working in preview but is on live posts

For simple sites and Ecom: editor preview not working but works live
For AT Business sites: editor preview works and live works

Not working view:
<img width="679" alt="Markup 2021-04-01 at 18 52 56" src="https://user-images.githubusercontent.com/47717887/113321682-82eefd80-931c-11eb-808a-0f23587d6546.png">

Working Vi

[2021-04-01 16:42] #49250 closed, assigned to nobody

[2021-04-01 16:54] sanjeev00733 commented on #51381
Another report in #28759706-hc
Follow up here #3872283-zen

[2021-04-01 16:58] #37277 closed

[2021-04-01 17:04] brandonpayton commented on #51263
Hi @simison, we don't have any updates on this yet, though we've looked. It appears to be some kind of race or caching issue and is super rare. This happened 4 times out of 14499 transfers since March 1.

[2021-04-01 17:32] retrofox commented on #49180
Thanks, Saul. Addressed here https://github.com/Automattic/wp-calypso/pull/51630

[2021-04-01 17:40] #51510 closed, assigned to mmtr, cpapazoglou

[2021-04-01 17:50] adamziel commented on #41272
This sounds like authenticating using the blog token, I guess the endpoint would have to be adjusted to respect that.

[2021-04-01 17:53] jeherve opened #51636 "Actions: add tasks to clean up submitted PRs"
It would be nice to have a gardening that would handle some of the cleanup work we must do on PRs.

Something like https://github.com/Automattic/action-repo-gardening should do the trick.

This action is already in use in the Jetpack repo as well as the VaultPress repo.

[2021-04-01 19:48] mikeicode commented on #51371
Unable to connect to Facebook, stopped working when the page was changed to the new layout.

3873779-zd-woothemes

[2021-04-01 20:47] pablinos opened #51639 "Write Button: Ensure Atomic sites are sent to wp-admin"
Atomic sites should always default to the `wp-admin` version of the editor, but the Write button currently links to the Gutenframe version unless the Dashboard Experience toggle is on.

We need to check if it's an Atomic site and if so, use the same link as the new post link in the admin menu. It would be good to investigate if we could do this in general, so that the logic of which link to use is

[2021-04-01 20:49] kwight opened #51640 "Tags: Saving a post on a WoA site can result in an intermittent error."
We recently fixed a bug in which [WP.com](<http://WP.com>)'s global handling of terms was conflicting with core's "split terms".

However, it appears this may need additional handling for Atomic, as we've a couple of reports of the same error popping up for Atomic since the fix went out on [WP.com](<http://WP.com>). It's also possible that the cause is unrelated, since I'm not sure if or how [WP.c

[2021-04-01 20:52] supernovia commented on #51095
Another stats complaint [here](https://wordpress.com/forums/topic/unified-navigation/page/6/#post-3657231):

[2021-04-01 20:52] kwight commented on #51640
[Reported](https://github.com/Automattic/wp-calypso/issues/36274#issuecomment-806389360) by @druesome :

[Reported](https://github.com/Automattic/wp-calypso/issues/36274#issuecomment-810545318) by @katiebethbrown :

<img width="612" alt="terms" src="https://user-images.githubusercontent.com/42279181/113050760-70c95f80-9162-11eb-8291-c69d1339f583.png">

<img width="1002" alt="Screen Shot 2021-03-30

[2021-04-01 20:53] kwight commented on #36274
It looks like the additional reports are specific to Atomic; I'm closing this issue, and we can follow up further in https://github.com/Automattic/wp-calypso/issues/51640.

[2021-04-01 20:53] #36274 closed

[2021-04-01 21:10] jordesign opened #51641 "'You need a higher level of permission' when editing categories through term.php"
### Steps to reproduce the behavior

This takes place in certain sites - but can't be recreated in all sites. In most examples it is occurring on WPCOM Simple Sites.

1. Go to Posts > Categories (terms.php)
2. Click on  a Category to edit it
3. Make a change and click 'Update'

#### What I expected to happen

Category term to be updated

#### What actually happened

* Page reloads with error messa

[2021-04-01 21:13] noahtallen commented on #35310
Closing this now that I've migrated all the monorepo apps to use `install-plugin.sh`

[2021-04-01 21:13] #35310 closed

[2021-04-01 21:13] arcangelini commented on #51095
Another report here:

3873781-zen

[2021-04-01 21:14] jordesign commented on #51641
Listing other reports here for additional context:

* 8299800-hc
* 15875814-hc
* Blog RC 33712681
* 3578800-zd-woothemes
* 3676259-zd-woothemes
* 3843505-zd-woothemes
* https://wordpress.com/forums/topic/cant-edit-categories-need-higher-level-of-permission/ (Sep 2019)

[2021-04-01 22:13] supernovia commented on #13901
Another [request to search through comments](https://wordpress.com/forums/topic/unified-navigation/page/6/#post-3656967)

[2021-04-02 00:41] scosgro opened #51646 "Reader: Shortcodes appear as plain text in the WordPress.com Reader on Atomic site posts"
### Steps to reproduce the behavior

On Simple Sites, shortcodes are interpreted correctly. Can only replicate this on ATomic.

1. On an Atomic site, create a new post. Add some Lorem text to it, and add a Shortcode Block with a shortcode (like a Display Posts Shortcode). Example:
[display-posts orderby="title"]
or
[archives]
or
a Recipe https://wordpress.com/support/recipes/#example-of-a-complete

[2021-04-02 00:47] jordesign commented on #51060
Just pinging here for an update - to see if this is something likely to be able to be worked on?

[2021-04-02 03:48] creativecoder commented on #51482
To solve this issue in the short term for WP.com, I think something like D59634-code is what we should go with for now. It addresses the troubles I was having resolving Simple vs. Atomic API calls with #51477, so that's helpful!

Long term, I'm not convinced that the site icon url belongs at the root endpoint. It seems like it might belong in settings? But there's a lot of issues to work out--for

[2021-04-02 05:51] Robertght opened #51650 "Post carousel block: double arrows showing up"
### Steps to reproduce the behavior

1. Create a post Carousel block
2. Preview this through multiple themes: Adventure(bug already reported - behaves differently), Maywood, Hever.

#### What I expected to happen

To have only one set of arrows

#### What actually happened

I've ended up with two sets of arrows:

![https://d.pr/i/AQvpxz](https://d.pr/i/AQvpxz+)
Direct Link: https://d.pr/i/AQvpxz

[2021-04-02 07:55] nagpai commented on #50560
Another issue here
#3870912-zen

Site is atomic and has a wpcomstaging URL.

`Error connecting to WordPress.com` in their Anchor dashboard.

[2021-04-02 08:00] #51636 closed, assigned to jeherve

[2021-04-02 08:27] StefMattana commented on #51371
#3853988-zen

[2021-04-02 09:37] david-szabo97 commented on #51206
The error is:

[code]

The link works fine if you access your site using `subdomain . wordpress.com`. It breaks if you access it through `wordpress.com/site-editor/_YOUR_SITE_`. Which makes sense since we are using `sameorigin`.

"Manage reusable blocks" breaks for the same reason.

Accessing the site editor through `wordpress.com`, the editor is iframed so the link is trying to navigate the ifram

[2021-04-02 10:42] #32111 closed

[2021-04-02 10:49] fstath commented on #50333
Here's a video recording of the issue:
https://vimeo.com/531940690

[2021-04-02 11:03] fresatomica commented on #49729
Reported here: https://wordpress.com/forums/topic/classic-editor-scroll-bar-for-text-missing/

[2021-04-02 11:12] Aurorum commented on #50945
Out of curiosity, would option two not essentially be the outcome of something like the proposed design in #51441 or #51189 though?

[2021-04-02 11:31] razvanpapadopol opened #51651 "Domain picker: explain why a domain is unavailable"
Follow up of https://github.com/Automattic/wp-calypso/issues/41219

Explain why it is unavailable. The list of explanations is https://github.com/Automattic/wp-calypso/blob/trunk/client/lib/domains/registration/availability-messages.js#L40-L390.

[2021-04-02 11:31] razvanpapadopol commented on #41219
Closing this one and we'll continue to track the follow up in #51651

[2021-04-02 11:32] #41219 closed

[2021-04-02 11:43] fresatomica commented on #51634
This was reported here: https://wordpress.com/forums/topic/unified-navigation/page/6/#post-3658232.

[2021-04-02 15:29] rcanepa commented on #51106
Just in case someone is not aware, @robertf4 created a card for this issue on our Maintenance board 1164141197617539-as-1200094501156158.

[2021-04-02 16:01] rcanepa commented on #51106
@eeeeevon13 I noticed that the upgrade button we show on the Backup section points to `https://jetpack.com/upgrade/backup/?site=SiteSlug` rather than to the checkout page. Should we change that as well?

[2021-04-02 17:59] mattwondra commented on #51517
The poor performance has sustained. Looking at the p95 graph with the past few days included, it seems clearer that the performance has been getting worse slowly over the past few weeks. So maybe there wasn't a single code change, but we've hit a tipping point from some slower growth (a side effect of some new feature as it's being adopted, or a slower launch rollout like Nav Unification?)

<img w

[2021-04-02 18:29] jeyip commented on #50407
Thanks for following up on this @andrewserong! It looks like I'm late to the party because https://github.com/WordPress/gutenberg/pull/30436 was merged, but I really appreciate the help. If anything else comes up, I'll do my best to respond a bit faster next time 👍

[2021-04-02 19:40] metabreakr commented on #45881
11649536-hc

https://www.whatsmybrowser.org/b/SGCL0 — clearing browser cache worked for this user.

[2021-04-02 20:09] metabreakr commented on #50928
8083194-hc (Atomic)

[2021-04-02 21:19] creativecoder commented on #51482
Just found this [trac ticket](https://core.trac.wordpress.org/ticket/50606) and [this comment](https://github.com/WordPress/gutenberg/pull/22952/files#r591129982) as well, further confirming the "hacky-ness" of putting the site icon in the root endpoint and depending on `context=edit` for it to load.

It seems like we should start working on a long term solution for this sooner rather than later.

[2021-04-02 21:21] Thelmachido opened #51660 "Coming Soon Mode: Users can find a blog that's in coming soon mode in Reader and follow it."
### Steps to reproduce the behavior

1. Go to 'Reader' search for a blog that is currently set to coming soon.
2. You will be given an option to follow the blog.
3. Checked the notifications on the blog owner's account and it looks like another user liked a post and then followed the blog.

#### What I expected to happen
I expected to find the blog in Reader but not have the option to follow the b

[2021-04-03 02:30] creativecoder commented on #51482
I dug into this a little, and here's a Gutenberg PR that removes the need for transforming `/` into `/?context=edit`, which should fix this issue with the site icon: https://github.com/WordPress/gutenberg/pull/30482

[2021-04-03 03:30] creativecoder commented on #51396
https://github.com/Automattic/wp-calypso/pull/51477 is working as is for Jetpack/Atomic sites, but not for Simple sites because root endpoint with the site icon isn't preloaded correctly. A couple possible solutions:

- Adding middleware for wpcom to transform the API request (a bit hacky, but it works): D59634-code
- Updating how Gutenberg gets the icon to only add the `context=edit` parameter wh

[2021-04-03 07:47] ajaykj opened #51662 "Nav Unification: Log out button on Me page doesn't log out user completely out of Atomic."
The Gravatar in the top-right hand section (both from Calypso and WP Admin) is now redirecting to the https://wordpress.com/me page. This causes the user to not log out completely from the site.

### Steps to reproduce the behavior

1. Go to any site in Calypso e.g. https://wordpress.com/home/
2. Click on the Gravatar in the top-right hand section
3. Click the "Log Out" button
4. Visit the homepag

[2021-04-03 08:23] zdenys commented on #50722
I'm not reporting it as a new issue just yet but I will if needed.

On a Simple Site (not WoA) with Business Plan there is no way to search for third-party themes, but only for the WordPress.com ones.

In 3837900-zd-woothemes user has one WoA site with Astra theme installed and another Simple site where they would want to install the same theme by making an internal search in Themes section, but n

[2021-04-03 08:38] zdenys opened #51663 "Nav Unification: Simple sites are seeing the core Themes page instead of the Calypso themes showcase."
### What plan tier is the site on?
Business
### Where are you seeing the issue?

1. Toggle on `Advanced Dashboard Pages` in https://wordpress.com/me/account
2. Navigate Appearance > Themes
3. See no `Add new`, `Add new theme`, or `Upload` button

### What I expected on the WordPress.com site
See `Add new`, `Add new theme`, or `Upload` button to add a third-party theme
#### What I expected on the A

[2021-04-03 08:39] zdenys commented on #51663
Encountered in 3837900-zd-woothemes

[2021-04-03 08:59] sophiegyo commented on #51662
I had another report of this here (but specifically with Microsoft Edge - perhaps the user's other browsers have Do Not Track inactive?) : 28794205-hc

[2021-04-03 12:59] liviopv opened #51664 "PDF Embeds: file loads incorrectly on iOS"
### Steps to reproduce the behavior

1. Embed a PDF file on a post or page https://wordpress.com/support/embedding-a-pdf-file/
2. Open the page/post on an iOS device

#### What I expected to happen

The PDF should load as an embed  as it does on desktop, or it should load as a downloadable link like on Android

#### What actually happened

The file displays only the first page of the PDF, with no

[2021-04-03 14:58] arunsathiya commented on #28646
Remains an issue. Tested.

[2021-04-03 16:23] desnum commented on #51371
3877233-zen

[2021-04-03 16:36] philnick206 commented on #43492
Reported in #28786358-hc

[2021-04-03 16:58] dcoleonline commented on #51381
Another request in 28800282-hc

[2021-04-03 17:10] JoshuaGoode commented on #51095
Add more recent interactions from the related issue at https://github.com/Automattic/wp-calypso/issues/51381

Follow up here #3872283-zen

[2021-04-03 17:35] villanovachile opened #51665 "Image Block: hyperlinks added to Image blocks without http(s) prefix append to page/page slug"
#### Steps to reproduce

1. Create new post or page
2. Add an image block, and insert an image
3. Add link to image block, using a URL without http:// or https://. An example is shown here:
![](https://d.pr/i/s2mQwi+)
Image Link: https://d.pr/i/s2mQwi

#### What I expected
I expected the image to link to automattic.com and intuitively account for the lack of the https:// prefix

#### What happened

[2021-04-03 18:37] JoeCodeswell opened #51666 "Markdown substitutes &gt; for > inside codefence"
#### Steps to reproduce

1. Starting at my blog post URL: https://joecodeswell.wordpress.com/2021/04/02/help-for-ember-cli/
2.  find "Available commands in ember-cli"
3.
4.

#### What I expected
[code]

#### What happened instead
After Updating, the Block Editor (in Markdown mode) replaced `>`   WITH  `&gt;`

[code]

#### Browser / OS version
Chrome Version 89.0.4389.114 (Official Build) (64-bit)

[2021-04-04 01:32] ramonjd commented on #46177
I think this issue is still valid, though a tad stale.

Some thinking might be required in relation to merging the fonts and other metadata currently stored in the static json with the incoming response.

Happy for others to close this issue though. I'd consider it low prio.

[2021-04-04 02:17] inaikem opened #51668 "Line breaks in blogname / site title break the Customizer"
As the title says, adding a line break in blogname / site title break the Customizer. In the case of 3876753-ZD, this results in the Customizer page loading but only showing the "Widget" setting option on the left and a blank frame on the right:

https://d.pr/i/cBxRrF

Removing the user-added line break in the blogname/site title resolved the issue. For example, from:

[code]
...to:

[code]

A sim

[2021-04-04 02:19] inaikem commented on #51668
@brandonpayton, @ramonjd, requesting a quick confidence check on the above, as it appears to have been resolved in the linked GH issue above.

Further details here: p1617499593487000-slack-C03TY6J1A

Thanks to @retnonindya for the help in diagnosing this one!

[2021-04-04 03:47] ericamQA commented on #46802
Another report, says they've been experiencing this for 6+ mos in 3867441-zen

[2021-04-04 06:47] marutim opened #51669 "Blog posts block: "Choose specific posts" dissapears for pages after saving the page settings"
### Steps to reproduce the behavior

1. Create a page and add the blog posts block.
2. Select the post type to "pages" or "pages + Posts".
3. Scroll up and enable the choose specific posts settings .
4. Add the combination of posts and pages to the box.
5. It works as intended and the posts and pages get populated.
6. Save the page and check the front page. It works as intended.
7. Now, refresh th

[2021-04-04 08:54] Robertght opened #51670 "Cover block: Content misalignment for Free & Personal plan sites"
### Steps to reproduce the behavior

1. Make sure your site has a Personal plan
2. Create a cover block and check if the content is center aligned

---

1. Create a new site on WP.com with a free plan.
2. Add a cover block to a page.
3. Change the background colour in the placeholder.
4. Start typing and notice that the text defaults to right-align.

#### What I expected to happen

To have the con

[2021-04-04 09:14] inaikem commented on #51670
Confirmed: I was able to replicate on WPcom Free and Personal sites. Unable to replicate on Premium, or Atomic sites.

The bug is apparent after an image has been set: https://d.pr/i/jl6yTp

[2021-04-04 09:24] Sandkorner commented on #51532
I guess a workaround here is, or maybe it is intended as so, to use the copy option from the above toolbar for several blocks at once.

Like so: https://snipboard.io/SxI5DP.jpg

This will show also in the left bottom corner, that 2 blocks (or more if you wish) were copied.

After that you can normally paste (command/control + V).

[2021-04-04 10:25] Sandkorner commented on #51670
I had a few cases already as well. Both Cover Block text forced to the right from the shown extra element. Personal plans on both sites.

[2021-04-04 12:57] carinapilar commented on #49963
Although it doesn't seem this is available anymore, we got another user with this issue. Account and site were created a month ago, they already have the Nav Unification, but the Mobile menu shows up under Appearance. Ticket is here: 3816124-zd-woothemes

[2021-04-04 13:29] ChrissiePollock opened #51671 "Can't Edit Media With Bulk Actions"
I enabled the enhanced dashboard appearance then went to Posts in wp-admin and saw that I could bulk-select posts and see the Edit option.

![screenshot](https://d.pr/i/RD8EOM+)

I then went to https://testsite/wp-admin/upload.php and bulk-selected images, but there was not edit option

![screenshot](https://d.pr/i/kVJdIv+)

I expected there to be an edit option.

[2021-04-04 13:42] Aurorum commented on #51671
Hi! I'm a little confused about what functionality is missing here - could you please clarify what  the "Edit" option should offer the ability to do in this scenario?

[2021-04-04 15:28] ersatzpenguin opened #51672 "Nav Unification: "Show Advanced" Option Hides "Add New" Theme Button on Simple Biz Sites"
### Steps to reproduce the behavior

1. Enable the "Show advanced dashboard pages" option in account settings.
2. Navigate to a simple AT site.
3. Open the "Themes" page.
4. Try to add/upload a theme.
5. See error

#### What I expected to happen
I expected to be given the option to upload a theme, which is present in the Calypso themes page for simple Business plan sites, and which looks like this

[2021-04-04 16:09] synora commented on #51566
@davemart-in or @obenland would either one of you be able to look into this or at least let us know which team could do so?

[2021-04-04 16:18] sarahfg commented on #35963
again at 3880038-zen . Really freaking the user out to see a deleted file with stats as "downloaded"

[2021-04-04 19:18] kcswong commented on #50574
Checked back up on 3812953-zen and noticed that the connection wasn't through the master user, reconnected to correct site owner and issue seems resolved for this particular site. Replied to the user to let them know.

[2021-04-04 19:41] bhairavee23 commented on #49622
Hi, I don't see a PR on this issue so working on it as my first issue. Let me know if anyone else is working

[2021-04-04 21:49] katiebethbrown commented on #51381
Another report in 3866599-zd-woothemes

They access the wp-admin stats page daily via a saved link. They do not like the Calypso stats page layout, and would like it to show their site icon as the favicon like the wp-admin page did (which it can't b/c it's loading from WordPress.com and not their custom domain).

[2021-04-05 00:44] retnonindya commented on #51670
Confirmed. I tested on my Personal test sites and I able to replicate it.

[2021-04-05 01:25] yashitamittal11 commented on #51670
Another one - #3878569-zen

[2021-04-05 02:19] devNigel commented on #50928
Another report: 3877713-zen ( Atomic )

[2021-04-05 03:04] edwinho89 commented on #46140
Another report in #3881084-zen (Intergalactic 2 theme)

[2021-04-05 07:16] hacchism commented on #51381
Another report in #28821709-hc

[2021-04-05 07:47] hacchism opened #51673 "Stats: "Average per day" in Insights for current month is inaccurate"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/stats/insights/DOMAIN.COM
2. Click on "Average per day" tab in "All-time views"
3. Check the number for current month

#### What actually happened

It shows a number that makes no sense. For example, for the user I chatted with today, they have gotten 3,760 views until the end of April 4th. And given that today is April 5th, the a

[2021-04-05 08:10] BogdanUngureanu commented on #51663
Since the site is still a simple site, these pages are not available. In my opinion, `Add new`, `Add new theme`, or `Upload` could be linked instead to `https://wordpress.com/themes/upload/:site-name` where the user will be prompted with this confirmation message:

WordPress.com Subdomains: Your subdomain will change from demo-site.wordpress.com to demo-site.wpcomstaging.com.
Questions?: Contact s

[2021-04-05 11:07] Nic-Sevic commented on #51670
A note to clarify: this appears to be only happening in the editor. It appears to display as expected on live site:
https://d.pr/i/sQWuDA

[2021-04-05 11:18] davemart-in commented on #51566
I'm not 100% sure. cc @kwight and @apeatling. It seems like someone was working on galleries lately.

[2021-04-05 11:40] Aurorum commented on #51673
I believe that the issue in this case is that the number is calculated with the total number of days in the month instead of how many days have already passed in the month.

[2021-04-05 11:49] #51447 closed, assigned to nobody

[2021-04-05 12:22] davipontesblog commented on #50945
Thanks for asking @mrfoxtalbot! I think option 1 is not ideal because the calypso My Home is the default landing page for the WordPress.com product - having users rely on a link to get there provides additional challenges for any marketing campaign or new feature we may want to promote with our user base.

Option 3 is very hidden, I prefer option 2 - it's only an extra click for those who want tha

[2021-04-05 12:42] simison commented on #51670
cc @WunderBart @fullofcaffeine any recent Gutenberg upgrades affecting this?

cc @Automattic/view-engineering  since this is happening only on free & personal sites, could this be due to upgrade nudges somehow?

[2021-04-05 12:45] simison commented on #51660
I believe we have a sticker to exclude from Reader, which we could add on site creation, and remove on site launch?

[2021-04-05 13:32] #49200 closed, assigned to sarayourfriend