[2022-05-25 18:33] creativecoder commented on #57210
Let's hold this for Anthony next week (can't find a Github handle?), I think it would be a good initial Calypso issue for onboarding.

[2022-05-25 18:39] jp-imagines commented on #62987
Another report in 5241135-zd-woothemes. I was able to reproduce the issue on a site of my own as well (and the "workaround" of enabling all post types does work.)

[2022-05-25 18:43] that-mike-bal opened #64036 "Theme Showcase"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-25 18:48] kerrynicl opened #64037 "Categories / Blog taxonomies issues with WP 6.0 release on Atomic sites"
### Quick summary
SEE [P2](p9F6qB-9s1-p2) for more details and discussions

I've encountered an instance where:

The hierarchy of categories is not sticking,
The selection of categories from within the post, when editing, doesn't stick, after saving the post.

### Steps to reproduce

Try to update a post by adding a category or changing the category in the editor

### What you expected to happen

[2022-05-25 18:53] danielbachhuber commented on #63279
Fix [released in Gutenberg v13.2.1](https://github.com/WordPress/gutenberg/releases/tag/v13.2.1). I replied on the open Zendesk tickets accordingly.

[2022-05-25 18:53] #63279 closed, assigned to nobody

[2022-05-25 19:33] sixhours opened #64039 "Stepper: Processing step content is not centered in the screen"
Noticed this on `trunk` as I was working on Anchor stuff:

<img width="1765" alt="Screen Shot 2022-05-25 at 1 50 10 PM" src="https://user-images.githubusercontent.com/2124984/170352880-55a14477-ac65-441b-8afb-a0d1c99a13e8.png">

[2022-05-25 19:34] JoshuaGoode commented on #64037
A fix is now in place that will prevent his issue on new sites from transferring to Atomic.

[2022-05-25 19:55] jp-imagines commented on #52182
Another report in 35618497-hc, though this was for their site logo (not the header image). Same error, same zooming workaround worked.

[2022-05-25 20:40] sixhours commented on #63687
I realized as I was testing #63976 that Anchor needs something slightly different; we don't have a site object at any point in the flow, so there's no point in checking if the user is authenticated to the site.

But Anchor probably should have a mechanism for re-routing users who are not logged in to the `login` step. I can't seem to use `useAssertConditions` for this case because it's not a strai

[2022-05-25 20:41] noahtallen commented on #58646
A small clarification on this point is that you must use the `yarn` variant of the publish command, because yarn is the thing updating all the workspace links. I think that's covered in the docs as well

[2022-05-25 21:31] the-misha opened #64044 "Unable to delete tags from contributor posts in editor"
### Quick summary

Site owner is unable to edit contributor posts in editor to remove unwanted tags.

### Steps to reproduce

1. Start on Posts page in Calypso.
2. Open post in block editor.
3. Click on X to remove unwanted tag in right sidebar.
4. Click **Update** to save changes.

### What you expected to happen

Tag should be removed from post.

### What actually happened

Tag is still on post.

[2022-05-25 21:55] jamiepalatnik commented on #63511
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Could not replicate on self-hosted with WordPress.com Editing Toolkit and Jetpack plugins installed to add Blog Posts block and sharing buttons.
- I don't see Marketing menu or Sharing Buttons settings on p2.

[2022-05-25 22:01] gwensmithx commented on #35968
I'm reopening this issue because I ran into this today. Site is on the Pro Plan. Site Language is in German and even though it's set to hide the footer credit in the customizer, it still shows.

I can replicate this on my test site. I set my site language to German and Spanish and it disregarded the hidden setting in the customizer. Setting the language back to English resolves the issue and the c

[2022-05-25 22:14] jamiepalatnik commented on #63553
I think this makes sense. It's currently possible to select the number of tags to display, but it's not possible to select which tags are displayed.

[2022-05-25 22:20] JoshuaGoode commented on #62549
Fixed by pbuNQi-2ZL-p2 ?

[2022-05-25 22:38] jamiepalatnik commented on #63583
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested Post By Voice and it worked for me on my test site. I'm also seeing new posts from other users from May 20th on.

📌 ACTIONS
- Closed as could not replicate, please reopen this issue if it reoccurs

[2022-05-25 22:45] thekingsprojects commented on #51540
Another case here: 5233757-zen

Deactivated the Gravatar setting, waited a few minutes, uploaded the photo, waited a bit longer, and then turned the setting back off since that was how the user originally had it set. So far the image seems to be in place; will update if the user reports that it disappears on them.

[2022-05-25 23:26] becdetat opened #64047 "Feature Request: email confirmation should happen earlier in the flow"
### What

If I start a new store via https://wordpress.com/start/?flags=stepper-woocommerce-poc in a logged-out state (eg in an incognito window) where I need to create a new WordPress.com account, it lets me proceed to a created site, with an unconfigured WooCommerce install. I need to confirm my email address before being able to configure WooCommerce.

If the email confirmation step was moved t

[2022-05-26 00:17] spraveenitpro opened #64049 "Use testing-library for client/reader/sidebar/test/promo.jsx"
Migrate  client/reader/sidebar/test/promo.jsx to use React testing library instead of Enzyme

[2022-05-26 01:21] chihsuan commented on #58646
Thanks @chriskmnds @jsnajdr @noahtallen. I'll check the publishing process and see if I can publish the package.

[2022-05-26 02:45] Jaykame commented on #63881
Another one: 5233736-zd and gave the user lazy load workaround.

[2022-05-26 03:03] lsl commented on #63715
Do we have issues open for the right-sidebar content changes?

[2022-05-26 03:10] arinoch opened #64051 "FSE: Allow for viewport sized typography."
### What

Allow for variations in text font size dependent on the viewport in use, a la what can be done currently [with CSS](https://css-tricks.com/viewport-sized-typography/).

### Why

Will fill a user need that we can't fill as HEs for users on the Pro, Personal, Starter or Free plans. See 35596747-hc for context.

### How

_No response_

[2022-05-26 03:50] chihsuan commented on #58646
Hi, @jsnajdr or @noahtallen. I just noticed that the last version of `@automattic/components` is published 2 years ago. Would you like to release a new version or do you think it's okay that Ghidorah handles it?

[2022-05-26 04:12] edwinho89 opened #64052 "Isola: Image figcaption left aligned on centered image"
### Quick summary

Image figcaption appears left-aligned when image are centered.

Looks to be similar issue as https://github.com/Automattic/themes/issues/3850 on a different theme

### Steps to reproduce

1. Activate Isola theme
2. Add an image block with caption

### What you expected to happen

Image captions are aligned center below image, similar as the how editor looks.

<img width="1680" a

[2022-05-26 04:23] vishnugopal opened #64053 "Update metrics so that it works with Goals effort"
See: p1653494420950989/1653343958.317979-slack-C02TCEHP3HA

[2022-05-26 04:45] arthur791004 commented on #63794
@saygunnyc I think this one has to be another feature as the header won't sticky there in any other steps. If we make it sticky on the Design Picker step, its behavior is not consistent. So, I prefer to have another task to make the header always sticky in all of the steps. What do you think?

[2022-05-26 04:52] aneeshd16 opened #64054 "[Bug]: Redirects from Intent screen (Stepper) fail when using a custom domain"
### Quick summary

After purchasing a custom domain and landing on the Stepper Intent screen, the following actions do not complete successfully:
* Network request to set intent (`setIntentOnSite`)
* Clicking on the Write intent and then clicking on then on "Draft First Post"
* Clicking on "Let our experts create your dream site."
* possibly more...

After purchasing a domain, the URL of the Inten

[2022-05-26 05:01] arthur791004 commented on #63794
Besides, if we want lots of elements sticky, I'm curious about why not let people scroll inside large preview (iframe) just like the current behavior of the design preview?

[2022-05-26 05:33] lsl commented on #63792
WIP in here https://github.com/Automattic/wp-calypso/pull/63405

[2022-05-26 05:37] lsl opened #64055 "Marketplace: Category descriptions"
See this comment for design: https://github.com/Automattic/wp-calypso/issues/63893#issuecomment-1136664229

Category When selecting a category we show more opinionated formatted results header including title, optional description, and number of plugins . I'll need to work on these with marketing but would be nice to set it up now.

- [ ] Add prelim descriptions to each category (then get copy sig

[2022-05-26 05:39] lsl opened #64056 "Marketplace: Add top paid / popular categories to the selector"
https://github.com/Automattic/wp-calypso/issues/63893#issuecomment-1136664229

Top paid plugins
The sections found in home/discover are treated like any other category when clicking on "browse all". Could we also re-add "Top paid" + other discover groups into the categories list under more which is similar to your original suggestion?

- [ ] Add top paid and popular categories to the list of categ

[2022-05-26 05:40] lsl opened #64057 "Marketplace: Search result text change and styling"
https://github.com/Automattic/wp-calypso/issues/63893#issuecomment-1136664229

Figma can be found here [f84fqtCG4pCnCh2Hq0But5-fi-2011%3A26631](https://href.li/?https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/?node-id=2011%3A26631)

https://user-images.githubusercontent.com/1072756/170168920-d595a4aa-76e0-4687-8923-884baa049e67.png

Search
Search behaves much like categories, just putting a litt

[2022-05-26 05:42] lsl opened #64058 "Marketplace: Move category selector to fixed search header"
Might already be an issue for this, close if so.

https://github.com/Automattic/wp-calypso/issues/63893#issuecomment-1136664229

Figma can be found here [f84fqtCG4pCnCh2Hq0But5-fi-2011%3A26631](https://href.li/?https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/?node-id=2011%3A26631)

Scrolling behaviour is what we've discussed in the past, just moving categories into fixed header with search.

- [

[2022-05-26 05:50] lsl commented on #63893
Moved all these to issues, couple of them need further clarification (clear button, scrolled view)

- Home / section grey https://github.com/Automattic/wp-calypso/issues/63837
- Category descriptions https://github.com/Automattic/wp-calypso/issues/64055 **(Needs design, see ticket)**
- Add top paid / popular as categories https://github.com/Automattic/wp-calypso/issues/64056
- Search result text h

[2022-05-26 05:52] lsl commented on #63893
Closing this out in favor of https://github.com/Automattic/wp-calypso/issues/64056 (added subtask to show the category bar on all category pages)

[2022-05-26 05:52] #63893 closed, assigned to SaxonF

[2022-05-26 06:28] SaxonF commented on #61421
@blackjackkent after our discussion I do think the [Snackbar](https://wordpress.github.io/gutenberg/?path=/story/components-snackbar--default) component is the right one to use here for the time being. After redirecting back to editor we can trigger the message. This should eventually tie into the welcome tour where we can highlight the product block with next steps, but that's not something we ca

[2022-05-26 06:31] rw-ye commented on #63303
This code does not seem to be valid:
[code]

I have asked the user to try the following instead:

[code]
which works. Works on my own AT site aswell.

Reference: https://wcmshelp.ucsc.edu/advanced/google-translate.html

[2022-05-26 06:40] SaxonF commented on #61551
@blackjackkent piggy backing off Vini's comment, I think one of the first things we could do is to make sure that the verify email link that is sent to the customer contains a redirect which takes them back to where they were previously. I don't believe this is the case right now but could be wrong.

[2022-05-26 07:08] Greatdane commented on #63595
@jamiepalatnik I still get an error as of today - did you try on the Pro plan specifically?

Today;

<img width="802" alt="Markup 2022-05-26 at 16 08 05" src="https://user-images.githubusercontent.com/5075840/170436521-57e87f92-a321-46b2-af95-4fc6d897c7f8.png">

[2022-05-26 07:30] cpapazoglou commented on #63715
Yep, here https://github.com/Automattic/wp-calypso/issues/63714

All related issues should be under this Milestone https://github.com/Automattic/wp-calypso/milestone/395

[2022-05-26 07:37] arthur791004 commented on #63031
Close it as it's shipped 🚢

[2022-05-26 07:37] #63031 closed, assigned to arthur791004

[2022-05-26 07:41] arthur791004 commented on #62369
I have filed issues for the rest of the feedback as follows
* 33-gh-Automattic/ganon-issues
* 34-gh-Automattic/ganon-issues
* 35-gh-Automattic/ganon-issues
* 36-gh-Automattic/ganon-issues

Once 32-gh-Automattic/ganon-issues and 37-gh-Automattic/ganon-issues are done, we can close this issue.

[2022-05-26 08:22] gcsecsey commented on #63902
We've timeboxed this issue for 2 days, the progress so far is:
- The endpoint has been created at `https://public-api.wordpress.com/rest/v1.3/marketplace/search`
- I've removed code that we won't be using on Marketplace (blog and plan verification, highlighting)
- Changed the endpoint to use version 18 of the jetpack search index by default for now. The new fields will likely be added on version 1

[2022-05-26 08:35] simison commented on #64051
Hi! Viewport size dependant typography should be worked on core.

Here are a couple of issues to follow:

https://github.com/WordPress/gutenberg/issues/24480
https://github.com/WordPress/gutenberg/issues/34641

[2022-05-26 08:35] #64051 closed, assigned to nobody

[2022-05-26 08:36] Robertght commented on #57711
I have tested this with several themes, older and newer and I can't replicate this anymore.

I'm closing this for now as per p1653547485419459-slack-C01UW7SB411, but please reopen if you encounter other cases.

cc @Automattic/dotcom-pa-group

[2022-05-26 08:36] #57711 closed, assigned to nobody

[2022-05-26 08:36] simison commented on #64034
cc @Automattic/team-calypso

[2022-05-26 08:39] simison commented on #64021
cc @Automattic/team-calypso-platform recent regression due Guten update?

[2022-05-26 09:40] vishnugopal commented on #63804
Discussion:
- We should emulate what Ganon is doing here.
- We also need to be certain how we're doing this: [style variations](https://make.wordpress.org/core/2022/05/03/global-styles-variations-in-wordpress-6-0/) is one option (not live in WPCOM right now), custom colors.

[2022-05-26 09:46] pauljacobson commented on #64021
The user mentioned that they are using an iPhone SE running iOS 15.4.1

[2022-05-26 09:47] vishnugopal commented on #63803
This should be deployed today!

[2022-05-26 09:52] vishnugopal commented on #63805
Discussion:
- Maybe we'll have to create another tab only for this.
- Don't want to create confusion with Team Ganon.
- Since it's not difficult to create a new tab, let's do this!
- Going to write a P2 post detailing this.
- The preview is created by calling an API that generates HTML. It takes template parts and block names, etc. and generates a theme. This is being studied right now.

[2022-05-26 09:55] vishnugopal commented on #63911
cc @zaerl to review this once more.

[2022-05-26 10:00] vishnugopal commented on #63806
Discussion:
- As part of frontend implementation here, we'll create smaller @wordpress/data stores just for the light importer work.
- The idea is that we'll extract state from the Calypso global store in the future.
- We'll hydrate the static design with live content from the APIs and provide feedback.
- Currently the API blocks and returns the result only after X seconds. It does not have proces

[2022-05-26 10:01] pmcpinto commented on #63704
We display the setup task list on the home screen when a new store is created.

If they click "Store Details" they'll see the store profiler with the information they provided before. But in wordpress.com case they never saw the store profiler flow (displayed below) because is being replaced by the wp.com stepper.

<img width="1439" alt="Captura de ecrã 2022-05-26, às 11 00 42" src="https://user

[2022-05-26 10:02] poligilad-auto opened #64064 "Task: Mobile nav bar improvements"
### Details

A list of improvements to the new mobile nav bar

### Checklist

- [ ] When viewing a site in "site preview" mode (the frontend of the site) we are still using the old mobile menu, we should change this to the new nav bar. [Image](https://d.pr/i/aW4Nyk) (You can see this when: opening the left nav menu > clicking on the site name > clicking on "visit site")
- [ ] Remove the initial "s

[2022-05-26 10:04] vishnugopal opened #64065 "Redirect /start/importer flow to /setup and remove code"

[2022-05-26 10:26] ivan-ottinger commented on #63910
The https://github.com/Automattic/wp-calypso/pull/63866 PR has been merged already. → Closing this issue.

[2022-05-26 10:26] #63910 closed, assigned to ivan-ottinger

[2022-05-26 10:26] #63922 closed, assigned to ivan-ottinger

[2022-05-26 10:32] jsnajdr commented on #64034
Hi @anomiex do you want to do a PR? It should be a trivial one.

[2022-05-26 10:43] #64031 closed, assigned to escapemanuele

[2022-05-26 10:50] valterlorran commented on #63704
@pmcpinto Thanks for the clarification!

[2022-05-26 10:51] galakhyati opened #64068 "FSE: Menu option not appearing under the Appearance menu in Dashboard when FSE theme is active with Elementor plugin"
### Quick summary

When an FSE theme is active on the site the My Site → Appearance → Menus is no longer being shown.

When using a plugin like Elementor, which is still relying on the WordPress menu, there is no way to manage the menu links on the site.

The issue happens on a self-hosted site as well, so not sure if it's a core thing or a theme thing.

### Steps to reproduce

1. Activate FSE the

[2022-05-26 11:04] #63913 closed, assigned to nobody

[2022-05-26 11:51] simison opened #64072 "Feature Request: maker it clearer where to change static/blog page setting"
### What

There's a setting at Settings -> Reading which lets you adjust what homepage of your site shows:

<img width="570" alt="image" src="https://user-images.githubusercontent.com/87168/170482231-ed876019-59b2-44fc-97c0-f7dea561a6c5.png">

When looking at pages list, there's this notice about latest posts:

<img width="651" alt="Screenshot 2022-05-26 at 14 46 53" src="https://user-images.githu

[2022-05-26 11:59] Robertght commented on #57812
Another case in 5228330-zen.

It seems like this is happening on the upgraded site(klassiekvannu.com), but not on the free site(theaderks.wordpress.com).

[2022-05-26 12:07] lukaszwilczakwilnet commented on #63919
Feature checks added in D81568-code

[2022-05-26 12:08] autumnfjeld commented on #63794
@arthur791004 @saygunnyc  I like Arthur's idea.   Let's just make the iFrame scrollable.   😃

https://a8c.slack.com/archives/D02APE24EQ2/p1653566868469089

[2022-05-26 12:34] that-mike-bal commented on #63794
I think it's the same end result if we go the route @arthur791004  suggests. The goal is to let the user scroll to see the rest of the design that is being presented while maintaining view of the header and the other thumbnails on the left. If we just make the iframe area scrollable, we achieve the "stickiness" of everything else without having to actually do the engineering work for it.

@saygunn

[2022-05-26 12:54] #63275 closed, assigned to arcangelini

[2022-05-26 13:06] poligilad-auto opened #64074 "Task: Help center design fixes"
### Details

Some outstanding design fixes:

- **Mobile**: “Still need help” button is higher for some reason. Should be the same height as desktop.
- **Articles**: The main buttons aren't the same as the CTA theme color. They should be the same as the Calypso CTA color. I noticed this when changing my Calypso theme. [Image](https://d.pr/i/EH7TaT)
- **Articles**: [MOVED IN ANOTHER ISSUE](https://g

[2022-05-26 13:12] #63916 closed, assigned to phcp

[2022-05-26 13:13] annbingle opened #64076 "Theme Archeo: Site Navigation Block Text Color Doesn't work in Mobile"
### Quick summary

The user's theme is Archeo. Their Site Navigation is set with Font set to White and Background to Purple. It works great in desktop but not in mobile.

Also, to add to it, they have set the Links color in the Styles section to green. However, in mobile, the  Site Navigation text color is showing in Grey.

I gave them the CSS Code below as a workaround since the preset color isn'

[2022-05-26 13:18] taipeicoder commented on #63794
While discussing making iframe scrollable, we should also consider the left side thumbnail section height since it might overflow the viewport height (even when we make thumbnail height responsive). Without making most of the elements sticky, we would have to make the thumbnail section scrollable.

[2022-05-26 13:24] valterlorran opened #64078 "Seller Experience: Store name and Tagline fields are always empty when we land on the options step"
The Store name and the Tagline fields are not being populated when we access the `options` step. The data seems to be stored when we click on `Continue`, but apparently is not being loaded accessing the step.

#### Steps to reproduce

1. Starting at URL: `/setup/options?siteSlug=<YOUR-SITE>`
2. Fill in the `Store name` and the `Tagline fields
3. Continue to the next step.
4. Click on the `Go Back`

[2022-05-26 13:25] gcsecsey commented on #63905
Backlog Grooming: We should complete https://github.com/Automattic/wp-calypso/milestone/396 before estimating this ticket.

[2022-05-26 13:27] gcsecsey commented on #63151
@SaxonF ping on the above questions

[2022-05-26 13:32] jamiepalatnik commented on #63595
@Greatdane Yes, I tested on the Pro plan simple and AT, default and classic view, and didn't see any errors.

Will leave this open in case someone else is able to test.

[2022-05-26 13:44] gcsecsey commented on #63170
This ticket is obsolete once https://github.com/Automattic/wp-calypso/issues/63902 is landed. We need to store and send back the author, and store but not send back the contributor's array.

[2022-05-26 13:44] #63170 closed, assigned to nobody

[2022-05-26 14:11] masperber commented on #61090
Affected user: 35620396-hc asked for their site to be reset, and asked why the menu wasn't reset too.

I reproduced the issue on a test site.

[2022-05-26 14:11] anomiex commented on #64034
If no one beats me to it I will once I get some other stuff off my plate. But I don't want to [lick the cookie](https://devblogs.microsoft.com/oldnewthing/20091201-00/?p=15843) if someone else wants to take care of it.

[2022-05-26 15:10] Addison-Stavlo opened #64080 "Tracking Issue - Guided Tour / Help Center v1"
Overview tracking issue for our Next Steps Guided Tour - paYE8P-1xk-p2.

## Glossary

We have three layers to our framework for Next Steps guidance:

[code]

<img width=316 src="https://user-images.githubusercontent.com/195089/171740786-c5e20605-9fec-45fa-94db-dab93d1c0b45.png" />

## Tutorial

The top-level grouping of a collection of related Tasks. The three top-level Tutorials that will be goin

[2022-05-26 15:32] markbiek commented on #64039
@sixhours I wasn't able to reproduce this by going to http://calypso.localhost:3000/setup/processing?siteSlug=<whatever>.

Do you have any additional steps you can share?

[2022-05-26 15:49] that-mike-bal opened #64081 "Goals Capture"
Issues tied to capturing user goals during the new onboarding via FTME initiative.

[2022-05-26 16:16] that-mike-bal opened #64083 "V13N in Build Flow"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-26 16:18] avantegarde opened #64084 "Code editor not staying active when navigating away and coming back."
### Quick summary

When in Calypso dashboard. If you go to edit a post or page, change the editor to "Code Editor", leave and come back to edit the post. The editor does not stay on "Code Editor" and automatically reverts to "Visual Editor" every time.

### Steps to reproduce

1. Start in the Calypso dashboard
2. Click on Posts
3. Click on any post to edit
4. Change the editor to "Code Editor"
5.

[2022-05-26 16:26] obenland commented on #60727
There's also `videopress_post_transfer_set_meta()` that should be looked at

[2022-05-26 16:46] vykes-mac commented on #64002
I like the way add those task check like a kinda acceptance criteria. I think it helps the developer to have a clearer picture of what's expected and what constitute this issue being mark as 'Done'

[2022-05-26 16:53] that-mike-bal opened #64085 "Marketplace + Woo Extensions"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-26 17:26] obenland commented on #60727
Patch in D81591-code

[2022-05-26 17:51] mashikag commented on #63063
@FreedomFighterSparrow so sorry to reply only now! I just remembered you asked the question. 🙈

The fix is already deployed. 🙂

[2022-05-26 18:07] zaguiini commented on #61377
Related diff, fixing the issue: D81551-code

[2022-05-26 18:37] cuemarie commented on #54377
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I have not been able to recreate this issue so far on Simple, AT, or Self-hosted. Tested with Firefox 100 on macOS and Chrome 101 on macOS. Steps taken:

1. Opened https://dotcompatterns.files.wordpress.com/2021/04/stocksnap_q

[2022-05-26 18:37] #54377 closed, assigned to nobody

[2022-05-26 18:44] cuemarie commented on #63626
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅ - _no timeline block in self-hosted_

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated issue on **Simple**, **AT**, and **P2** following the exact same steps outlined above. Timeline block looks fine after removing the bg color from the "Timeline E

[2022-05-26 18:49] kelasante commented on #63050
Another in 34558527-hc. Able to replicate when I SU and try launching the site.

[2022-05-26 18:50] cuemarie commented on #63632
This report matches an open bug here: https://github.com/Automattic/themes/issues/6000

Closing in favor of that thread and sharing notes on this report over there

[2022-05-26 18:50] #63632 closed, assigned to nobody

[2022-05-26 18:52] cuemarie commented on #57524
This looks it matches this open bug: https://github.com/Automattic/themes/issues/6000

Leaving closed in favor of the open thread

[2022-05-26 19:22] danielbachhuber opened #64088 "PHP fatal error in Byrne theme on category pages"
### Quick summary

_No response_

### Steps to reproduce

In 5247455-zd-woothemes, the user's site, running byrne, has a fatal error on `/category/movies/`:

[code]

### What you expected to happen

The category page to load without errors.

### What actually happened

The category page was unable to load.

### Context

_No response_

### Simple, Atomic or both?

Atomic

### Theme-specific issue?

[2022-05-26 19:24] kelasante commented on #63050
This is what I see on the user's other site that is not launched from  34558527-hc
<img width="1357" alt="Markup 2022-05-26 at 13 18 13 (1)" src="https://user-images.githubusercontent.com/74204272/170561119-8584411f-3ca6-4774-a528-6cb2c3378879.png">

@sirbrillig  It seems to be intermittent.

[2022-05-26 20:02] FreedomFighterSparrow commented on #63063
@mashikag, thank you! I'm very happy to hear that.
Compared with what I'm used to, this is an extremely fast response :-)

[2022-05-26 20:25] sixhours commented on #63343
This was fixed in D80216-code and redirects from `/new` appear to be working in all test cases (except logged out, but that's expected because the redirect is only working for Automatticians at this point). Closing this; I've created a new ticket/issue reminding me to open the redirect up to everyone at launch.

[2022-05-26 20:25] #63343 closed, assigned to sixhours

[2022-05-26 20:40] allilevine commented on #63940
Related bug report that would be fixed by this change: p1653510919454469-slack-C029JEQRVRT

[2022-05-26 21:32] cuemarie commented on #63628
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- On a Simple site, I am able to recreate the issue where the Subscribe block renders poorly in the new post email, as shown below:

![Markup on 2022-05-26 at 14:22:29](https://user-images.githubusercontent.com/27249804/17058327

[2022-05-26 21:42] paulopmt1 commented on #61032
[This is the main change](https://dotcommarketplacep2.wordpress.com/2022/05/21/wp-3pd-partners-onboarding-flow-mvp-design-iteration/) for the next sprint. [Here are some tips](D78736-code) on how to rebuild CSS for /partners page. Please look at `How to test` section.

[2022-05-26 21:48] cuemarie commented on #63635
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated on Simple and Atomic sites - new post emails result in formatting just like Donal's screenshot above

<img width="550" alt="screenshot" src="https://user-images.githubusercontent.com/27249804/170585404-8a15628b-bafb

[2022-05-26 21:56] cuemarie commented on #63637
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this on **Simple** and **AT** sites following the steps above.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-05-26 22:09] Rolilink commented on #63835
I don't think that title changing are a hard blocker for this one, we can always update the E2E test selector

[2022-05-26 22:12] paulopmt1 commented on #63831
I see it as a good improvement to have it back with better spacing.

[2022-05-26 22:12] Rolilink commented on #63792
Can we maybe do a smarter scroll? only if the user has scrolled past down an anchor point (like the beginning of the list).

[2022-05-26 22:30] Rolilink commented on #63940
Like this one but have my reservations due to the idea of the marketplace being public one day and SEO. Maybe adding a `/plugins/browse/:category` route will achieve the same without affecting SEO in the future?

[2022-05-26 22:37] Rolilink commented on #64056
Not so sure about this one, but will like @SaxonF input on this one. I think top/featured plugins sound more like curated lists than categories.

[2022-05-26 22:45] Rolilink opened #64094 "Marketplace: Implement new Partners landing page design"
TODO: define acceptance criteria p1653597156777099-slack-C03FE3T479R

[2022-05-26 22:59] thekingsprojects commented on #55911
Another case here: 35630399-hc

Premium user included a YouTube video in their post, but the subscriber emails only show a link to the video, not the video itself.

[2022-05-26 23:45] Greatdane commented on #63595
@jamiepalatnik I wonder if it is just certain webp files then. Are you able to try the file in the original chat (link is in the notes). 🙇

[2022-05-27 00:10] jordesign opened #64096 "Limited Atomic: Hosting Features shows notice about needing Pro plan"
### Quick summary

When I view the 'Hosting Configuration' page while Atomic on a Starter plan - a notice is shown saying Pro plan is needed, even though the site is Atomic.
<img width="1044" alt="Screen Shot 2022-05-27 at 10 04 28 am" src="https://user-images.githubusercontent.com/1842363/170603394-fc7f157f-2464-4b50-bbc6-4832ddab7585.png">

### Steps to reproduce

With a Limited Atomic site (Ato

[2022-05-27 00:11] jordesign commented on #64096
Or, on thinking about it... Maybe I shouldn't have access to this on a lower plan?

[2022-05-27 00:17] devNigel commented on #63812
Since the bug report is now triaged, I have closed this ticket: 5239206-zd-woothemes

We should update the user on a new ticket once the issue is resolved. TIA!

[2022-05-27 00:47] jordesign opened #64098 "Starter Plan: Resharing posts in Calypso says it requires Premium Plan"
### Quick summary

When on the Starter plan and looking to reshare a post - I am prompted to upgrade to the Premium Plan (instead of Pro plan)

### Steps to reproduce

1. Start with a site on the Starter Plan
2. Go to the Post list, click the three dots next to a post and choose the 'share' option

### What you expected to happen

A prompt to upgrade to the Pro plan in order to reshare

### What a

[2022-05-27 00:50] jerrysarcastic opened #64099 "[Bug]: Latest Posts: Improve handling of .webp featured images"
### Quick summary

When using the latest posts block set to show featured images, if the featured image is set to use an image that is in `.webp` format, it does not display correctly on the site front end.  Instead, it displays at approx. half of its raw size in pixels.

<img width="1283" alt="Markup 2022-05-26 at 17 43 23" src="https://user-images.githubusercontent.com/1967448/170606430-894b9182

[2022-05-27 01:02] lsl opened #64100 "Marketplace: updateQueryArgs should not re-order query params when loading a url"
https://github.com/Automattic/wp-calypso/pull/63825/ introduces `setQueryArgs` and `updateQueryArgs` when visiting this test URL http://calypso.localhost:3000/plugins?s=seo&c=category+name the page redirects to http://calypso.localhost:3000/plugins?c=category+name&s=seo because it's deleting and then setting query params over top. Instead we should update in place.

- [ ] Prevent query params from

[2022-05-27 01:03] jordesign opened #64101 "Limited Atomic: Jetpack Dashboard available and showing error about Safe Mode"
### Quick summary

When using an Atomic Site on a Starter Plan (Limited Atomic) it is possible to access the Jetpack Dashboard. Additionally the site seems confused between site URLs and loads in 'Safe mode'
<img width="1640" alt="Screen Shot 2022-05-27 at 10 59 15 am" src="https://user-images.githubusercontent.com/1842363/170607691-1faf03d3-af86-43fc-b1b0-6780beb14600.png">

### Steps to reproduc

[2022-05-27 01:14] jordesign opened #64102 "Limited Atomic: Jetpack Backup operational (instead of requiring upgrade"
### Quick summary

When using an Atomic Site on a Starter Plan (Limited Atomic) Jetpack Backups show as available and running.

By comparison, a Simple Site on the starter plan shows a prompt to upgrade.

### Steps to reproduce

On a Limited Atomic site (Atomic with Starter Plan):

* Open Jetpack > Backups in the main menu

### What you expected to happen

To see a prompt to upgrade to Pro (as is

[2022-05-27 01:52] lsl commented on #61032
Confirming acceptance criteria for this in our next sprint is something like:
- [ ] The contact form has been replaced images seen in design [above](https://github.com/Automattic/wp-calypso/issues/61032#issuecomment-1139087070)
- [ ] Contact us copy has been replaced, with new CTA section header and link to https://woocommerce.com/partner-signup

Will these changes allow us to close this issue?

[2022-05-27 01:57] rinazrina commented on #52182
Another report: 35631326-hc

[2022-05-27 02:02] lsl commented on #63742
Localized search doesn't seem too far off, lets call this blocked until that completes and we can just localize the suggested searches completely.

Blocked by pdh6GB-ZY-p2#comment-1697 / D81205-code

[2022-05-27 02:18] lsl commented on #64094
Dropped it in the issue

[2022-05-27 02:18] #64094 closed, assigned to nobody

[2022-05-27 02:27] lsl commented on #63793
See https://github.com/Automattic/wp-calypso/issues/63714

[2022-05-27 02:27] #63793 closed, assigned to nobody

[2022-05-27 02:32] lsl commented on #54377
Looks like its fixed, Firefox is also saving it with a webp extension now too.

[2022-05-27 02:37] lsl commented on #63835
Design changes coming:

https://github.com/Automattic/wp-calypso/issues/64058
https://github.com/Automattic/wp-calypso/issues/64057
https://github.com/Automattic/wp-calypso/issues/64055

As long as we stick to the selector only https://github.com/Automattic/wp-calypso/issues/64058 should interfere with the e2e tests so yea, probably not a hard blocker at this point.

[2022-05-27 02:39] lsl commented on #63831
Me too. Could we confirm assumptions with tracks data? (compare mobile selector usage vs desktop)

[2022-05-27 02:40] lsl commented on #63792
I don't think there are any anchor points. I really just want to remove this from the middleware. If there needs to be auto scrolling it should happen in react components.

[2022-05-27 02:58] lsl commented on #63940
I don't think there is much of an seo concern using query params vs pretty urls?

For me it comes down to how much filtering we want to put in to search. I was sort of aiming for running everything through the search route with categories just being a filter on search.

[2022-05-27 03:04] lsl commented on #64056
See comment above, I think that's the idea, we're making all categories feel like curated lists.

[2022-05-27 03:07] p-jackson commented on #64002
Yeah this task is probably the most well defined one in terms of acceptance criteria. The other tasks are probably going to require a bit more interpretation 🙈

[2022-05-27 03:17] p-jackson commented on #64006
After some investigation, I discovered that the AMP plugin will indeed be manually updatable if the user wants that to be so. But it'll remain a managed plugin for now. pdKhl6-ds-p2

[2022-05-27 03:17] #64006 closed, assigned to p-jackson

[2022-05-27 03:19] p-jackson commented on #64007
Just for extra context, we've decided that the plugin will continue to be managed by us by default (pdKhl6-ds-p2). That still leaves a question about whether we should change the default visibility of the dev tools.

[2022-05-27 03:50] p-jackson opened #64104 "AMP: Allow error incorrect plugin slug error message to appear"
The AMP plugin displays an error message in the dashboard when it's installed incorrectly.

<img width="982" alt="Screenshot 2022-05-27 at 3 46 43 PM" src="https://user-images.githubusercontent.com/1500769/170628467-d2bdfa6e-2c3c-47ce-9853-cc563fffff3e.png">

The code is here: https://github.com/ampproject/amp-wp/blob/develop/amp.php#L249

We disabled that error message because the method it's usi

[2022-05-27 04:37] autumnfjeld commented on #61191
@jrushfinn  This has been on our board for a while, but we've been very busy with the verticalization project.  Can you take this issue/move it to your board?  Thank you

[2022-05-27 04:57] #63013 closed, assigned to paulopmt1

[2022-05-27 04:58] lsl commented on #62935
Not much use keeping this around, everything is broken up / split up into backlog issues.

[2022-05-27 04:58] #62935 closed, assigned to lsl, Rolilink

[2022-05-27 06:47] fstath commented on #45586
I got another report in https://wordpress.com/forums/topic/trying-to-import-my-wix-site-to-wordpress/?view=all

I tried importing it on one of my test sites and got the same error.

This is the error message:
`It looks like we’re unable to reach that website address at this time. (ID: f7317077-5224-415a-b384-50f8dd96038d)`

Wix site address: https://momentsbymikhail.wixsite.com/home

[2022-05-27 06:56] vinnykaur commented on #63881
hc-35133048 . Gave the workaround.

[2022-05-27 07:47] chihsuan opened #64106 "Release a new version of automattic/components"
### What

a new version of automattic/components

### Why

We need it for tourkit

- https://github.com/Automattic/wp-calypso/issues/58646

### How

Update the automattic/components changelogs and publish it to NPM

[2022-05-27 08:02] Greatdane commented on #63812
Just updated this to say I reached out to +devopsp2 (and +serenityofdata) for help here; p3topS-16z-p2
🤞

[2022-05-27 08:13] retnonindya commented on #35502
Revisiting this bug report as part of team meetup activity. I can confirm the issue persists. Reopening this issue.

<img width="943" alt="Screenshot 2022-05-27 at 4 13 39 PM" src="https://user-images.githubusercontent.com/44726232/170659501-75067a7c-be78-4d2f-8acb-34a25303e44c.png">

[2022-05-27 08:15] 1dr0 commented on #52728
Closing as this seems to have been fixed as of now.

Tested on themes:
* Non-FSE: Syntax, and Blask
* FSE: Heiwa, and Russell

[2022-05-27 08:16] #52728 closed, assigned to arcangelini

[2022-05-27 08:20] sanjeev00733 commented on #48627
Closing this because now we can move blocks outside the columns block in the list view by drag-drop https://d.pr/i/eXmhBF

[2022-05-27 08:20] #48627 closed, assigned to nobody

[2022-05-27 08:26] retnonindya commented on #43762
I'm testing this as part of the team meetup activity and I can confirm the "Load More" button appears and is functional when the site is on the Coming Soon mode. Closing this GH issue.

[2022-05-27 08:26] #43762 closed

[2022-05-27 08:29] rosepajaroja commented on #27825
Keeping this issue open as I can still reproduce it.

![Alt text](https://d.pr/i/1DapNh/3wxyUHNAxN+)

[2022-05-27 08:38] syhussaini commented on #62363
@Greatdane Done.
https://github.com/wordpress-mobile/gutenberg-mobile/issues/4906

[2022-05-27 08:42] rosepajaroja commented on #29169
This seems to be fixed now. No change on the theme, but on the primary domain name.

Checked the same page @arunsathiya mentioned in the comment above - https://josthering.de/aktuelles/

![Alt text](https://d.pr/i/GFGcmK/bcCHRLCht5+)

[2022-05-27 08:42] #29169 closed

[2022-05-27 08:45] rosepajaroja commented on #29215
Closing per notes above.

[2022-05-27 08:45] #29215 closed

[2022-05-27 08:50] arunsathiya commented on #62043
Something is off with my test site. I don't see "Site logo"'s alignment options. 🤔 I tried Hari and Heiwa themes.

<img width="590" alt="image" src="https://user-images.githubusercontent.com/18581859/170665409-9083ea9e-81f2-49f7-871b-a71a3698d426.png">

Do you mind testing once again, @csabarakasz or @Greatdane?

[2022-05-27 08:50] KokkieH commented on #63812
Another report in https://wordpress.com/forums/topic/stats-has-stopped-recording-site-visitors-correctly/?view=all

[2022-05-27 08:51] rosepajaroja commented on #30051
I can still replicate.

No option for `indent` on simple sites, but on Classic Editor on AT site.

![Alt text](https://d.pr/i/wBy9qm/1u16aDHQs3+)

AT site - Classic Editor

![Alt text](https://d.pr/i/H5cmBL/xtUcRtCgJb+)

[2022-05-27 08:53] zyousafi commented on #55854
Unable to reproduce this on an Atomic or Simple site:

1. Simple [site](https://wordpress.com/post/freeplantestsitezyousafi.wordpress.com/68) with the **Blockbase** theme active: https://d.pr/i/DsciQ2
2. Atomic [site](https://atbusinessplantestsitezyousafi.wpcomstaging.com/wp-admin/post.php?post=139&action=edit) with the **Heiwa** theme active: https://d.pr/i/g9NOCL

Closing this issue for now 🙂

[2022-05-27 08:53] #55854 closed, assigned to nobody

[2022-05-27 08:57] rosepajaroja commented on #30195
Tested and still an issue.

![Alt text](https://d.pr/i/t3tODZ/1yXeoVSwOs+)

[2022-05-27 08:58] syhussaini commented on #56505
The issue has been fixed.

_See the image below for reference_
![image](https://d.pr/i/1I0Z3w+)
_Please [click here](https://d.pr/i/1I0Z3w) if you are unable to see the image above_

[2022-05-27 08:58] #56505 closed, assigned to nobody

[2022-05-27 09:02] sanjeev00733 commented on #61052
Tested this on my test site (simple) with `twenty twentytwo` and `remote` themea and I am able to create new template parts with emojis in the title. https://d.pr/i/BR1mHR

[2022-05-27 09:02] #61052 closed, assigned to nobody

[2022-05-27 09:18] 1dr0 commented on #52519
I tested and it seems that the following class ".wp-block-pullquote" is overriding the ".has-align-center" on Simple and Atomic sites.

<img width="697" alt="Screen Shot 2022-05-27 at 16 54 03" src="https://user-images.githubusercontent.com/92185881/170669816-d60d4217-ca67-467b-95dc-b829bd8fa01c.png">

<img width="1626" alt="Screen Shot 2022-05-27 at 17 15 05" src="https://user-images.githubuserco

[2022-05-27 09:35] gmovr commented on #64020
@claudiucelfilip I approved the H4 diff and Landpack. Once you have the diff with the Landpack code for WPCOM I'm happy to do another review.

[2022-05-27 09:41] arthur791004 commented on #63794
I try to make the demo of these two approaches.

### Sticky Elements

https://user-images.githubusercontent.com/13596067/170673786-29c0a328-3774-4e2c-9c44-e3b93cd35d5b.mov

### Scrolling inside the iframe

https://user-images.githubusercontent.com/13596067/170673809-3af855cc-094d-43e0-a1c5-7a2a100feb9e.mov

Note that this might not look good when the height of the window is too small as we don't h

[2022-05-27 09:49] arthur791004 commented on #63794
@taipeicoder Yep, if the height of the window is too small, the thumbnails might be out of the viewport. But I think it's acceptable to let users scroll the page at that time because I think the user with that screen size might not be too much. Or we can make the responsive thumbnails support the height of the window to `720px` which might be the smallest screen size we track.

[2022-05-27 09:52] edwinho89 commented on #63812
5248621-zd-woothemes

Another report where the issue is identical with others above.

[2022-05-27 10:08] epeicher commented on #62739
After some investigations and discussions, we have identified that those plugins are not following the recommended best practices. The suggestions are:

### For Simple Ajax Chat:

Remove [the following condition](https://plugins.trac.wordpress.org/browser/simple-ajax-chat/trunk/simple-ajax-chat.php#L112):

[code]
And use `register_activation_hook` instead of `admin_init`, like:
[code]

### For Flo

[2022-05-27 10:37] dsas opened #64113 "Improvement: Log plugin installations which take a site atomic"
### What

The blog report card has an audit log for plugin events - when plugins are installed, activated, updated etc. It looks like this:

![image](https://user-images.githubusercontent.com/93301/170683557-3f0f9bef-1c24-4443-a116-22cf3161af90.png)

For marketplace paid plugins it says: "Plugin installed manually via wp.com api - Plugin name"

For marketplace free plugins it says: "Plugin install

[2022-05-27 11:59] galakhyati opened #64116 "[Bug]: Installing plugin process allowing to install plugins even after showing prompt to upgrade"
### Quick summary

 The plugins Add new page shows to upgrade to Pro plan to install plugins. When I try to install the plugin, it still prompts to upgrade, and when I click on Upgrade to Pro, instead of taking me to the checkout page, it takes me to Manage plugins page and it actually installs the plugin on the site.

### Steps to reproduce

1. Go to My Site → Plugins → Add New page.
2. Try uploa

[2022-05-27 12:03] galakhyati opened #64117 "[Bug]: Unable to access SFTP access on limited atomic site"
### Quick summary

Since my site is already atomic, I’m expecting to have SFTP access to my site. It is asking to upgrade to the Pro plan to access the feature.

### Steps to reproduce

1. After going atomic
2. Replace the plan with the Starter plan.
3. When going to My Site → Settings → Hosting Configuration page, it prompts to upgrade to the Pro plan.

### What you expected to happen

I'd be abl

[2022-05-27 12:06] galakhyati opened #64118 "[Bug]: No access to Security settings on limited atomic site"
### Quick summary

The My Site → Settings → Security page shows `No security configuration is required. Security management is automatic for WordPress.com sites.` message.

When using plugins like membership, we’ll need to disable SSO, but that option isn’t available to disable.

### Steps to reproduce

1. While on a limited atomic site, go to My Site → Settings → Security page
2. You won't be abl

[2022-05-27 12:10] galakhyati opened #64119 "[Bug]: Unable to purchase Premium theme"
### Quick summary

Purchasing a Premium theme isn’t supported on limited atomic site

### Steps to reproduce

1. While on a limited atomic site with the Starter plan, go to My Site → Appearance → Themes
2. Go to Premium theme
3. Try purchasing a premium theme
4. The checkout page shows the purchase is not supported.

### What you expected to happen

The site should be able to purchase the theme wi

[2022-05-27 12:16] ariel-maidana commented on #44844
+1
5221518-zd-woothemes
The user would like to allow visitors to subscribe for free, so a $0 plan or a 100% coupon would be useful.

[2022-05-27 12:43] claudiucelfilip commented on #64020
@gmovr Thanks for the reviews!
I pushed the WPCOM Landpack code to this diff: D81644-code

[2022-05-27 13:04] gmovr commented on #64020
Great! I've tested and approved it. @claudiucelfilip

[2022-05-27 13:40] jorpdesigns commented on #62755
Noticed a slightly different issue in 35634051-hc.

In this case, the site was using a 3PD theme (Vara) and the referral link was the "Edit" button on the Themes page.

<img width="1507" alt="Screen Shot 2022-05-27 at 13 44 52" src="https://user-images.githubusercontent.com/40006288/170709593-48d956aa-0e4d-4b13-a9ec-4ce57048cf2d.png">

That link goes to https://SITENAME/wp-admin/themes.php?page=gu

[2022-05-27 14:31] chriskmnds opened #64121 "Add-on: Signup flow, implement step on Free sites to sell add-ons"
### Details

Design mockup to follow + P2 post. Users choosing to start a Free site should see add-on upsells in a new step in the signup flow.

Originally posted by @gmovr and transferred here

### Checklist

- [ ]
- [ ]

### Related

761-gh-Automattic/martech

[2022-05-27 14:37] alshakero commented on #63559
Closing in favor of https://github.com/Automattic/wp-calypso/issues/63611

[2022-05-27 14:37] #63559 closed, assigned to nobody

[2022-05-27 14:42] that-mike-bal opened #64123 "Yoast Premium Launch"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-27 14:56] jamiepalatnik commented on #63595
Sure, I tested with the file from the chat and got the error you reported. Seems like it could be an issue with that file, unless we can recreate with other webp files. It also doesn't seem to be only a Pro plan issue—I got the same error when testing uploading that file on another AT site with the Business plan, but not a simple site.

[2022-05-27 15:04] that-mike-bal opened #64124 "Marketplace UI: Categories and Navigation"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-27 15:17] vajrasar commented on #63082
Reported in chat, followed up with a CSS workaround.

- [ ] 5249055-zd-woothemes

[2022-05-27 15:28] wojtekn commented on #64002
I created an initial diff for that D81653-code

[2022-05-27 15:31] wojtekn commented on #64002
@p-jackson I've added one thing to the scope - removal of the "WP Admin -> Appearance -> AMP" item based on the AMP status. It looks like the code that adds that link was missing the check and the link was displayed even if AMP was disabled.

[2022-05-27 15:32] DustyReagan commented on #51595
I believe we addressed this issue in Limited Atomic in https://github.com/Automattic/jetpack/pull/23189. I took the blocks for another spin on my free and personal Atomic dev sites. They appear to be properly gating on feature and nudging a plan upgrade.

[2022-05-27 15:32] #51595 closed, assigned to DustyReagan

[2022-05-27 15:59] allilevine commented on #63897
@vinimotaa @SaxonF Can we have your input on whether the text "Most popular searches" should be on one line with the search keywords?

[2022-05-27 16:09] Rolilink commented on #63792
+10000

[2022-05-27 16:13] allilevine commented on #64055
@SaxonF What's the next step to add category descriptions re: [your comment here](https://github.com/Automattic/wp-calypso/issues/63893#issuecomment-1136664229)?

[2022-05-27 16:13] Rolilink commented on #63940
Should we ask someone about this?

I see categories more like collection pages than filters, I am not 100% sure but I think the idea is that this pages could appear on search results as sub-pages when the marketplace is public.

[2022-05-27 16:45] dsas opened #64128 "Refactor marketplace software installation"
### Context

When someone installs a marketplace plugin on a simple site, after checkout it will transfer them to Atomic and file a job (marketplace_post_transfer_manage_software) to install software afterwards. The plugin should be installed and activated automatically.

### Problem

The plugins are then installed by sshing to the site and running a big fat shell command that will first try symli

[2022-05-27 18:21] saygunnyc commented on #63794
@arthur791004 awesome job with the videos!! Super helpful ❤️
I am loving the "Sticky Elements" version _–The first video_ as it provides much more vertical space for the user when it comes to scrolling. And it matches my initial intention. To me, there's no point in getting the customer stuck in that small iframe window, esp considering customers with lower resolution devices.

Let me know if you

[2022-05-27 18:30] jp-imagines commented on #63301
Another report in 35638195-hc.

[2022-05-27 18:42] worldomonation commented on #56505
I tested this on Firefox Nightly 102.0a1 and still observe the Tiled Mosaic Gallery entry shaking in the preview.

https://user-images.githubusercontent.com/6549265/170771431-888405db-3ebf-4e6c-8dc9-aa9db167ca63.mov

[2022-05-27 18:53] rambogenius commented on #63834
It looks like a low hanging fruit if we can ask the developers to add this options to disable it like they have for monthly and yearly. But I will keep a Priority low for it, as not many folks are asking for it.

[2022-05-27 19:00] Addison-Stavlo commented on #62755
Thanks for reporting @jorpdesigns !

I think what you are describing is a result of the same underlying cause here. Those buttons are being influenced by stale data, which we should be able to fix and reliably deliver accurately by incorporating the core change that @creativecoder [describes above](https://github.com/Automattic/wp-calypso/issues/62755#issuecomment-1117943409).

[2022-05-27 19:12] rambogenius commented on #63868
Great find. This looks like a simple link change and it affects all paid users, so marked as priority normal

[2022-05-27 19:49] Addison-Stavlo opened #64131 "Site Editor - Update `< Dashboard` in wp-admin mode to return to Calypso."
Currently, we are updating the `< Dashboard` button in the site editor in the calypso iframe.

This means that only editor instances accessed through calypso (`wordpress.com/site-editor/{SiteURL}`) will land at "My Home" after selecting to exit to the Dashboard. While sites that may get redirected to the wp-admin site editor instance will lead users back into wp-admin.

We want to update this so e

[2022-05-27 19:59] edequalsawesome opened #64132 "WooCommerce Subscriptions not showing a valid license in SSR when purchased through WordPress.com Marketplace"
### Quick summary

Purchasing WooCommerce Subscriptions through the WordPress.com Marketplace doesn't change the active license information in the site's system status report, which can lead to confusion about updates

### Steps to reproduce

1. Set up a new WordPress.com site on the Pro plan
2. Purchase WooCommerce Subscriptions (this might also apply to other WooCommerce extensions, but I haven'

[2022-05-27 20:17] #64030 closed, assigned to nobody

[2022-05-27 20:26] katiebethbrown opened #64134 "Jetpack Open Graph Tags Don't Reflect Featured Image and Excerpt on WooCommerce Shop Page"
### Quick summary

Setting a featured image and excerpt on the WooCommerce Shop page does not update the Jetpack Open Graph tags.

- The `og:description` always remains set to "This is where you can browse products in this store."
- The `og:image` always uses the site icon.

<img width="638" alt="CleanShot 2022-05-27 at 14 14 16@2x" src="https://user-images.githubusercontent.com/42279181/170783496

[2022-05-27 20:27] #64036 closed, assigned to nobody

[2022-05-27 20:45] Jaykame commented on #64037
Another case here: 35190309-hc and the workaround fixed it.

[2022-05-27 21:07] edequalsawesome commented on #64132
Fwiw there's a discussion about this here that might be more relevant than my issue, but I'll let y'all decide that 😄 https://github.com/Automattic/wp-calypso/issues/60661

[2022-05-27 21:09] edequalsawesome commented on #63082
Provided CSS to resolve this in 29575302-hc

[2022-05-27 21:12] #54045 closed, assigned to nobody

[2022-05-27 21:58] jamiepalatnik commented on #63553
User request here: 35639721-hc

[2022-05-28 00:20] formosattic commented on #52241
+1 35640394-hc

[2022-05-28 07:20] formosattic commented on #63812
5244557-zd-woothemes

User also noticed a drop. Wants to be notified.

[2022-05-28 11:52] Robertght commented on #52520
5251577-zen

[2022-05-28 14:06] aleone89 commented on #52520
hc-12455841

[2022-05-28 15:41] jamiepalatnik commented on #53233
Another user report: 5252013-zd-woothemes

They expected to be able to restore the demo content of a specific theme so they could edit it further.

[2022-05-28 17:54] TonyKent88 commented on #63604
Update:  I called Bluehost to discuss my problem.  They tested it using the same method as I used, based on your recommendation, sending a link to one of the photos via gmail to an iPhone.  Unfortunately the image displayed correctly for them so I am no further forward to resolving the issue.

[2022-05-28 23:54] jamiepalatnik opened #64137 "Payment Button block: Quotation marks cause display issues"
### Quick summary

Including quotation marks in Payment Button block text causes display issues on the live site. The text displays correctly in the editor.

### Steps to reproduce

1. Add a Payment Button block to a site that has a connected Stripe account.
2. Add button text that includes quotation marks, for example: buy "now"
3. Check preview or published page.

### What you expected to happen

[2022-05-29 06:13] LouiseFW commented on #63604
Hi Ivan - its www.bloominglucky.com

[2022-05-29 07:18] rw-ye commented on #63812
I have closed this ticket 5223157-zd-woothemes as there is no ETA. Please re-open a new ticket when we have more to share.

[2022-05-29 10:28] jeroenpf commented on #62623
You're right @mrfoxtalbot - it is not really a 100% reliable way to determine if a site is running on WordPress. Unfortunately, when someone tries to obfuscate information that gives away the platform the site runs on, it becomes impossible for us to detect it.

For now, I've added a check to see if the site is a jetpack-connected site. It is just another factor that helps us to determine the plat

[2022-05-29 17:32] tavilla61 commented on #54913
The same user came back asking for an update again. #5249959-zen. Is there any news on an ETA? Thank you!

[2022-05-29 22:55] arinoch commented on #64037
35654455-hc - Editing posts does not trigger this bug, adding new posts does. Applied the workaround as described above.

[2022-05-30 01:00] lsl commented on #63897
And if mobile should wrap one line or keep multiline as it is now

[2022-05-30 01:11] lsl commented on #63940
This isn't something I feel strongly about, main issue for me is getting complexity out of the main `/plugins/:something` route, updated acceptance to use `/plugins/browse/:category` instead.

[2022-05-30 01:36] dcoleonline opened #64138 "Attar: Hide Footer Credit Leaves a Visible Empty Group Block Below Footer"
### Quick summary

The Hide Footer Credit feature in the customizer does not remove the space that the footer credit occupies.

This is what it looks like with the default footer credit. The grey area is the footer element:

<img width="332" alt="image" src="https://user-images.githubusercontent.com/3505172/170900654-007a3307-9a5c-4b1b-9e5d-589301cd25c0.png">

The group block appears below the foo

[2022-05-30 02:07] SaxonF commented on #63897
With the introduction of the categories bar I think we should stick to one line but can keep multi on mobile. We might decide its not even worth showing on mobile later.

[2022-05-30 02:44] SaxonF commented on #64055
Some suggestions for prelim content for the most visible categories. For the remaining categories we can hide the description. Let's remove the "clear" button for now when on category pages. We can monitor via Full Story to make sure people are finding their way back to "discover" via categories sidebar or back button

[code]

[2022-05-30 03:22] flameslash opened #64139 "[Bug]: Image in Cover Block not aligning to the right"
### Quick summary

If I add an image to the cover block and align it to the right, it appears correct on the editor.

<img width="1397" alt="Markup 2022-05-30 at 10 23 12" src="https://user-images.githubusercontent.com/35950523/170910901-d32d1154-0bdd-4409-883b-02df929d4ada.png">

However, if you preview it, it appears on the left side instead

<img width="1348" alt="Markup 2022-05-30 at 10 24 07"

[2022-05-30 03:48] roo2 commented on #63795
it may be worth waiting for sticky thumbnails change to land  before working on this, as they both deal with design and may touch the same code files https://github.com/Automattic/wp-calypso/pull/64110/files

[2022-05-30 07:24] #62724 closed, assigned to roo2

[2022-05-30 08:31] arthur791004 commented on #62369
Close it as 32-gh-Automattic/ganon-issues and 37-gh-Automattic/ganon-issues are done. Feel free to raise any feedback to https://github.com/Automattic/ganon-issues/issues

[2022-05-30 08:31] #62369 closed, assigned to arthur791004

[2022-05-30 10:26] arthur791004 commented on #63588
Close as it's shipped 🚢

[2022-05-30 10:26] #63588 closed, assigned to arthur791004

[2022-05-30 10:29] arthur791004 commented on #63794
Shipped 🚢

[2022-05-30 10:29] #63794 closed, assigned to arthur791004

[2022-05-30 10:39] lukaszwilczakwilnet commented on #63919
Translations added in https://code.a8c.com/D81702

[2022-05-30 12:33] davipontesblog commented on #57170
@vajrasar could you work with the PA team (cc @inaikem) this week to bring this one up with the proper Landscape area (not sure whether this falls into Create, Expand, etc) and see if we are able to prioritize it? I am not sure what the other competing priorities are but would like to bring it up at least for awareness - it seems to still affect several users, here are some things I recommend we d

[2022-05-30 12:36] vinimotaa commented on #61032
Hi @allilevine that sounds right - the major change will be to replace that entire section and redirect both CTAs (first fold CTA also change its copy to "Apply now") to the Partners page.

[2022-05-30 13:26] #61377 closed, assigned to wojtekn

[2022-05-30 13:51] #62067 closed, assigned to WBerredo

[2022-05-30 14:06] Nic-Sevic commented on #63421
@Greatdane
Unfortunately I do not have much more information than above. This happens inconsistently but often enough to be super annoying.

It seems to happen in all types of blocks and the places I'm noticing it most are when editing posts in the block editor for 9F6qB-p2, P9HQHe-9-p2, or dtR3Z-p2

In addition, when it happens I typically can't delete the selection

[2022-05-30 14:39] that-mike-bal opened #64149 "Remove AMP"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-30 14:58] sixhours commented on #64039
Hrm, I think it might be specific to Anchor! It does appear to be working when I go to the step by itself under the regular flow, but if you add `?anchor_podcast=[your podcast id]` instead of `?siteSlug` it looks broken.

[2022-05-30 14:59] sixhours commented on #63674
This was deployed in #63937

[2022-05-30 14:59] #63674 closed, assigned to sixhours

[2022-05-30 15:01] that-mike-bal opened #64152 "Help Center"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-30 15:09] that-mike-bal opened #64155 "60 Second Preview"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-30 15:19] sixhours commented on #63829
The FG page was updated with instructions for testing, and I've added a step for the logged-out scenario: PCYsg-vWu-p2

[2022-05-30 15:19] #63829 closed, assigned to nobody

[2022-05-30 15:43] JoshuaGoode commented on #63421
I encounter this or something similar regularly, will try to reproduce later.  Some of it seems it might be P2 specific.

Here's another similar report I encounter sometimes:

https://github.com/WordPress/gutenberg/issues/41003

[2022-05-30 16:07] epeicher commented on #63853
The errors at the console are fixed by the linked PR #64127, the plugin can be successfully installed and activated. Next step will be to check why some extensions do not have a setup page.

[2022-05-30 16:43] blackjackkent commented on #61551
This is probably true.

Based on the investigation Caroline and I just did, if we follow the placement of that screen in Vini's design, the email shouldn't have to be updated, because it takes the user to My Home which is where we would be sending them anyway.

[2022-05-30 17:05] blackjackkent opened #64159 "Woo Email Confirmation - Add interstitial screen behind feature flag"
After the Woo onboarding precheck screen and checkout, we need to add an interstitial step behind a feature flag which will be used for a celebration/prompt to confirm email if the user has not yet done so.

<img width="1181" alt="image" src="https://user-images.githubusercontent.com/13437011/171033809-a62044b9-19e9-48d1-be25-0864dc2dd403.png">

(For this issue, deliverable is just a step with pla

[2022-05-30 17:11] sixhours commented on #64039
Aha, it looks like at some point a specific selector was added to make sure the processing step content took up 100% width, but only for the `site-setup` flow:

https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/processing-step/style.scss#L52-L54

 Since Anchor has a different flow and flow container selector, it didn't benefit fr

[2022-05-30 17:14] dsas opened #64161 "[Bug]: Not possible to purchase recently added marketplace plugins"
### Quick summary

It's not possible to view the plugin details page (the one with the buy button) immediately after a marketplace plugin has been added, if you already have visited the marketplace recently, however it is possible to see it in search results.

### Steps to reproduce

1. View the marketplace page
2. Add a new paid marketplace plugin (devs only)
3. View the marketplace page
4. Searc

[2022-05-30 17:22] blackjackkent opened #64162 "Woo Email Confirmation - Implement design for interstitial step"
Following on from https://github.com/Automattic/wp-calypso/issues/64159, implement the design for the new screen, as defined in DekZ88lDqG8Je04SyG1ZBK-fi-0%3A1.

<img width="936" alt="image" src="https://user-images.githubusercontent.com/13437011/171037865-4b4b599b-175d-46c5-992f-2e95c4c57b3f.png">

[2022-05-30 17:24] blackjackkent opened #64163 "Woo Email Confirmation - Trigger email resend on button click"
When the user clicks "Resend verification email" on the [new email confirmation screen](https://github.com/Automattic/wp-calypso/issues/64162), we should trigger a re-send of the verification email to their account email address.

[2022-05-30 17:26] blackjackkent opened #64164 "Woo Email Confirmation - Add step for modifying email address"
If the user selects "Edit Email Address" on the [new email confirmation screen](https://github.com/Automattic/wp-calypso/issues/64162), they should be directed to a new step where they can fill out a new email and their existing password. Submitting this form should trigger the same behavior that currently occurs when updating email address on Calypso account management.

<img width="929" alt="ima

[2022-05-30 17:28] blackjackkent opened #64165 "Woo Email Confirmation - Update Woo Calypso homepage for non-verified users"
If the user reaches Calypso and clicks on WooCommerce, but has not yet verified their account email, we should modify the information displayed to them to prompt them to confirm their email before they progress.

<img width="937" alt="image" src="https://user-images.githubusercontent.com/13437011/171038462-fd87473d-15bf-4a06-89dd-3445689fb00f.png">

See DekZ88lDqG8Je04SyG1ZBK-fi-0%3A1 for full flo

[2022-05-30 17:31] blackjackkent opened #64166 "Woo Email Confirmation - Calypso home should have "verify email address" before "finish store setup""
We need to update the behavior of the user checklist for Sell users so that if they have not confirmed their email, they are prompted to do so before being prompted to "Finish Store Setup".

![CleanShot 2022-05-30 at 12 30 04@2x](https://user-images.githubusercontent.com/13437011/171038684-14fca10a-0a91-4162-a46f-c98896c314bf.png)

See DekZ88lDqG8Je04SyG1ZBK-fi-0%3A1 for full flow information.

[2022-05-30 18:18] that-mike-bal opened #64167 "Seller Experience Phase 3"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-30 18:19] that-mike-bal opened #64168 "Stepper"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-30 18:26] JoshuaGoode commented on #62549
Did some testing and this was resolved by https://github.com/Automattic/wp-calypso/pull/53645

Re: pbuNQi-2ZL-p2

Closing

[2022-05-30 18:26] #62549 closed, assigned to nobody

[2022-05-30 18:31] sixhours opened #64169 "Anchor: Launch!"
Open new setup flow to incoming Anchor users by disabling `is_automattician()` check on the back-end and enabling the feature flag on the front end.

[2022-05-30 18:31] sixhours commented on #64169
Front-end PR is at #64157
Back-end diff is at D81728-code

[2022-05-30 18:46] sixhours commented on #64047
I believe this is similar/related to #61551 which we'll be working on next sprint! There's more information including a Figma mockup of the updated flow in that ticket.

[2022-05-30 19:00] #64039 closed, assigned to markbiek, sixhours

[2022-05-30 19:05] vykes-mac commented on #64007
@p-jackson was any decision taken re your question? since we decided to leave AMP to be managed by us, do we keep the devtools as it is or remove our override to use the newly introduced filter?

[2022-05-30 19:07] vykes-mac commented on #64104
Based on the discussion on this [issue](https://github.com/Automattic/wp-calypso/issues/64007) it seems the plugin will remain as managed. @p-jackson does that affect this issue or they are not necessarily related?

[2022-05-30 21:25] obenland commented on #64117
I'd consider that expected behavior. SFTP access is only granted on higher-tier plans, in this case Pro.

/cc @ianstewart in case this should be available to lower-tier plans.

[2022-05-30 21:25] #64117 closed, assigned to nobody

[2022-05-30 21:29] obenland commented on #64118
Did you access that page directly? I could not find a link to it in my menu on a site with a Personal plan.

Sites on lower-tier plans, which don't have access to Security settings, would also not be able to install/activate plugins. Would you still need access to SSO under those circumstances?

[2022-05-30 21:30] obenland commented on #64119
Confirmed. I assume there's a cart validator that's removing the purchase from the cart?

[2022-05-30 21:33] p-jackson commented on #64104
The plugin can be either in a managed or unmanaged state. And that isn't going to change, the decision in pdKhl6-ds-p2 was about whether we still want it to be _possible_ for the plugin to be managed. Which we do. But we can still "unmanage" the plugin by either installing AMP via a zip file, or by using the CLI, which is something link `wp plugin symlink amp` from memory.

So yep we can change th

[2022-05-30 21:33] obenland commented on #64116
Did you access that page directly? On my site on a Personal plan there is no "Add new" menu item, only "Plugins" which leads to https://wordpress.com/plugins/[site]

[2022-05-30 21:34] p-jackson commented on #64007
The plugin can be either in a managed or unmanaged state. And that isn't going to change, the decision in pdKhl6-ds-p2 was about whether we still want it to be _possible_ for the plugin to be managed. Which we do. But we can still "unmanage" the plugin by either installing AMP via a zip file, or by using the CLI, which is something link `wp plugin symlink amp` from memory.

That being said, no dec

[2022-05-30 21:37] zaguiini commented on #64104
Using `wpcomsh_is_managed_plugin( 'amp/amp.php' )` still gives me the error message. Here's my draft PR: 967-gh-Automattic/wpcomsh.

I have installed AMP through the plugin dashboard and then renamed the folder to `amp-ok`. When I `ls -n` the plugins directory, I'm getting:

[code]

So it should not yield a false positive. Maybe the problem is that we're hardcoding the plugin path to be `amp/amp.p

[2022-05-30 21:52] p-jackson commented on #64104
But if the user renames a symlinked folder, don't we want the message to appear?

I think this is the behaviour we want in the end. In the case where it's symlinked and named `amp-ok` the `wpcomsh_is_managed_plugin( 'amp/amp.php' )` call will return false which means we won't remove AMP's default error message handling. It'll end up showing the error message. For a weird reason (since we checked w

[2022-05-30 22:25] zaguiini commented on #64104
Yeah but even with the symlinked renamed it still shows “managed by host” on the right. That was the rationale of my proposed changes.

[2022-05-30 22:35] p-jackson commented on #64104
I think I caused confusion due to my misunderstanding of what "managed" means on Atomic 😅
My rationale was to roll back some of the customisations we make to the AMP experience on Atomic. So the goal was to try and retain the original intention behind the AMP error message: to help users know they've configured the plugin incorrectly.

[2022-05-30 23:47] p-jackson commented on #64104
In saying that, I guess there's a balance here. I want to make the AMP experience more vanilla, but I also want to reduce the amount of AMP specific code we're supporting. So if making the error messages work in the way I outlined in the table above actually requires a lot more code to be added, then perhaps on balance it's better to stick with the status quo.

[2022-05-31 03:00] taipeicoder opened #64178 "Generated design picker: Responsive thumbnails being resized incorrectly"
## Description

Now that the generated design picker has responsive thumbnails (issue #63588, PR #63952), we have an issue where in some occasions the responsive thumbnails are not resized correctly. See recording:

https://user-images.githubusercontent.com/797888/171083835-0a1bd5f8-8899-47ce-8379-79c7c961906e.mp4

Steps to reproduce:
1. Scroll down the page (in the recording, I scrolled all the w

[2022-05-31 03:29] arthur791004 commented on #64178
The responsive effect should not apply to mobile, I'll fix it too.

[2022-05-31 03:43] taipeicoder opened #64179 "[Spike] Generated design picker: Resize iframe without altering the embedded page's layout"
## Description
In the current implementation, generated design previews are shown embedded in iframes. One of the concerns (see p1653471969945019-slack-CRWCHQGUB) is that the width of the iframe affects how the embedded page preview is rendered. For instance, in smaller resolutions, the iframe shows the preview in what it looks like a tablet view. This creates a discrepancy between the thumbnail a

[2022-05-31 03:43] JulianBustamante commented on #60661
Diff created D81754-code

[2022-05-31 04:44] vishnugopal opened #64182 "Fix same origin x-frame-options for previews during import"
![Image](https://user-images.githubusercontent.com/533/172751556-c564703a-1a86-46d7-a31c-a9e749808702.png)

![Image](https://user-images.githubusercontent.com/533/171094484-eeac8fd5-79a6-4291-8cf6-b6aad3f59051.png)

(for make.wordpress.org from the Full Import flow)

[2022-05-31 04:45] autumnfjeld commented on #62682
pNEWy-eFy-p2

[2022-05-31 04:49] taipeicoder commented on #63795
Closing as it's shipped.

[2022-05-31 04:49] #63795 closed, assigned to taipeicoder

[2022-05-31 04:52] pauljacobson commented on #16186
Hi there @worldomonation, a user has reported a similar issue so I'm re-opening the issue. In 5255977-zen our user is in New York (EDT), and their site is set to this timezone too.

They noticed that when it was around 21:09 EDT, their stats were already reflecting data for 31 May in both the desktop stats, and in the mobile app. Here is a screenshot the user shared with us:

![1AE566C9-CCCA-4488-

[2022-05-31 05:35] rjchow commented on #63704
Confirmed that this can be reproduced with a WooCommerce shop admin that was created through wordpress.com

[2022-05-31 07:00] chihsuan opened #64184 "Tour Kit: Add auto-scroll feature"
### What

- Page scrolls up and down automatically based on the information highlighted.
- Have a config to toggle this feature (default to false).

### Why

We need it for https://github.com/woocommerce/woocommerce/issues/32421

### How

_No response_

[2022-05-31 07:22] wojtekn commented on #60280
@danielbachhuber, thanks for the feedback. I am concerned about using the loading indicator for the "infinite scroll" feature to help with the issue we are having. The loading indicator wouldn't be displayed until the user scrolls down to the bottom of the page. And then, when the user scrolled down, it would immediately load new records.

Another point is that Calypso guidelines recommend [avoidi

[2022-05-31 08:05] p-jackson commented on #60280
I'm not sure this helps us, but do we know how useful infinite scroll actually is? If a site has many 100s of posts then is it useful to be able to scroll through all of them in one big list? It sounds unwieldy and the user is likely to use the search feature to find posts anyway. I assume the view used to have pagination.
Anyway, just throwing the cat amongst the pigeons thinking about reverting

[2022-05-31 08:05] autumnfjeld opened #64185 "Limit v13n build flow to English language users"
# Description

For MVP we are shipping to English language users only.   Set up the flags that make this so.

See https://github.com/Automattic/wp-calypso/pull/57522 as an example.

(Arthur or Eru can provide how-to guidance if needed.)

# Testing

[2022-05-31 08:16] yansern commented on #63915
API endpoint created with D81590-code.

[2022-05-31 08:43] claudiucelfilip commented on #64020
I forgot to regenerate the CSS for the legacy H4 pages and the LOHP.
Here's the diff to include these changes: https://code.a8c.com/D81766

[2022-05-31 08:58] autumnfjeld commented on #63076
@miksansegundo  I added some additional help points in the description above.

As we discussed in Ganon sync today, one way you can start your "i18n journey" is to try the v13n flow in a non-english language. You should see that all the standard screen text should already be translated, as @arthur791004 showed in this screenshot:

![Image](https://user-images.githubusercontent.com/5665959/17113352

[2022-05-31 09:34] i11za commented on #57881
Another report here: 35591119-hc (late report from May 23)

[2022-05-31 09:36] taipeicoder opened #64188 "Generated design picker: Switching back to the generated design picker briefly reveals the sticky footer"
## Description
In the current implementation, customers can switch to the traditional design picker by clicking the "View more options" button. Meanwhile, in the traditional design picker, customers can switch back to the generated design picker by clicking the "Back" button in the top navigation bar.

As seen from the recording below, when customers switch from the traditional design picker to th

[2022-05-31 09:41] #63858 closed, assigned to nobody

[2022-05-31 09:42] alshakero commented on #63858
Closed by https://github.com/Automattic/wp-calypso/pull/63914

[2022-05-31 09:43] #63545 closed, assigned to arcangelini

[2022-05-31 09:44] #63546 closed, assigned to nobody

[2022-05-31 09:44] #63655 closed, assigned to arcangelini

[2022-05-31 09:45] i11za opened #64189 "Embeds: Add support for Instagram Reel permalinks for Latest Instagram Posts Block"
### What

Adds support for Instagram Reel permalinks to be used as embedded content using Latest Instagram Posts Block.

### Why

The functionality has [already been added to Instagram block](https://github.com/Automattic/jetpack/pull/19735), so individual reels can be added.

However using the `Latest Instagram Posts` block skips these reels altogether.

More context here and discussion here: 158

[2022-05-31 09:45] alshakero commented on #63859
Done in https://github.com/Automattic/wp-calypso/pull/63918

[2022-05-31 09:45] #63859 closed, assigned to nobody

[2022-05-31 10:15] arthur791004 commented on #64178
Close it as it's shipped 🚢

[2022-05-31 10:15] #64178 closed, assigned to arthur791004

[2022-05-31 10:23] #63304 closed, assigned to escapemanuele

[2022-05-31 11:46] claudiucelfilip commented on #64020
Move this back because the [Calyso fix](https://github.com/Automattic/wp-calypso/pull/64071) was causing layout issues on Firefox and needed to [be reverted](https://github.com/Automattic/wp-calypso/pull/64193).

[2022-05-31 12:10] shykonessy commented on #62997
Hello the comment button is still on the email templates, kindly forward the issue to the team working on the email designs to assist to remove it, or have it a less boldened at the bottom of the templates. Thanks

[2022-05-31 13:36] sixhours opened #64194 "Themes: Some themes missing localized Headstart annotations"
Every non-retired theme on WP.com should have an `inc/headstart` folder with a bunch of localized annotations for each of the mag16 languages, but it appears many themes have only `en.json` or English annotations. There should also be `fr.json`, `es.json`, etc. for each theme. This potentially breaks Headstart for the affected themes for all but English sites.

Example `pub` themes that have local

[2022-05-31 13:39] gcsecsey commented on #59671
I think we can close this ticket in favor of the Marketplace Search milestones: https://github.com/Automattic/wp-calypso/milestone/396

[2022-05-31 13:39] #59671 closed, assigned to cpapazoglou

[2022-05-31 13:51] tomasztunik commented on #57390
We've had some fixes deployed for that along with Gutenberg 13.2. Can 5205392-zd-woothemes (don't have access) be replicated if the current version of Gutenberg is installed? What version of WP/G was it reported with?

Re. fixed background - it is currently not supported by iOS at all on the platform level.

[2022-05-31 14:05] that-mike-bal opened #64195 "Light Importer"
This epic encompasses light importer work being handled by team Caribou

[Part of the FTME Initiative
](https://createp2.wordpress.com/2022/05/23/initiative-thread-first-ten-minute-experience/)
Project Threads:

[Unify Full & Light Importer Onboarding Flows ](https://cariboup2.wordpress.com/2022/05/05/pt-unify-full-light-importer-onboarding-flows/)
[Light Importer: Photos](https://cariboup2.wordpr

[2022-05-31 14:34] Copons commented on #64032
Done! 🌮

[2022-05-31 14:34] #64032 closed, assigned to Copons

[2022-05-31 14:49] epeicher commented on #63853
As described by @cpapazoglou, the Settings page needs to be registered by the extensions, for example [here](https://github.com/Automattic/woocommerce.com/blob/528af387a2643953aa550d9e617bc8468ea95d79/plugins/woocommerce-subscriptions/woocommerce-subscriptions.php#L193) for the `woocommerce subscription` plugin.

The extensions that do not register it properly will default to the `wp-admin/plugins

[2022-05-31 15:04] mashikag opened #64197 "[Data] Create utility to resolve site intent based on site goals provided."
### Details

The intent should be resolved based on the following logic:
[code]

See the more detailed decision matrix [here](https://docs.google.com/spreadsheets/d/1oJq2ouyF4E95rxt-SNI2xFWVsIlqzfB09bVpfl6Hv-I/edit#gid=540343362).

### Checklist

_No response_

### Related

_No response_

[2022-05-31 15:23] #63687 closed, assigned to andres-blanco

[2022-05-31 16:16] #63326 closed, assigned to jgcaruso

[2022-05-31 16:18] sixhours opened #64202 "Woo Onboarding: Do we need the email address field?"
On the address step of the Woo flow, we ask for an email address:

<img width="1135" alt="Screen Shot 2022-05-31 at 12 20 29 PM" src="https://user-images.githubusercontent.com/2124984/171223643-2658285f-d8c2-455a-8caa-f7fe9ce7fcad.png">

* At this point in the flow, shouldn't we already have the user's email address? Don't they have to be signed in to see this screen?
* What purpose does this fiel

[2022-05-31 16:19] rambogenius commented on #64096
I think this behavior of prompting for upgrade is likely to happen. I see that my WordPress.com Premium plan site has the same as well.

[2022-05-31 17:04] DavidRothstein opened #64203 "[Bug]: "Included with your purchase" section in checkout is empty for certain products"
### Quick summary

@claudiucelfilip noticed this bug for the upcoming No Ads product, but it occurs for some existing products too:  The "Included with your purchase" section in checkout is completely empty.

### Steps to reproduce

Easiest to reproduce with Search since it's already for sale:

1. Go to https://cloud.jetpack.com/pricing
2. Choose the Site Search product
3. Select an existing site

[2022-05-31 17:21] cuemarie commented on #59566
Reported here: 5259323-zd-woothemes

This user is seeing the specific issue noted in https://github.com/Automattic/wp-calypso/issues/60507 - the color picker under **Highlight** defaults back to `#000000`, no matter what they type. User's workaround was to copy/paste the code - this applies the color, but displays the issues noted above as well (color is picked, but the hex code doesn't match in t

[2022-05-31 18:24] cpapazoglou commented on #63151
Yes, that's the expected behaviour - all plugins get installed. What is also expected but considered a UX bug is that the thank you page is oriented to the last plugin you added to your cart.

[2022-05-31 18:49] andres-blanco commented on #64202
I think that this email corresponds to the store, not the user. [This is the PR](https://github.com/Automattic/wp-calypso/pull/59970) that added this field in the previous onboarding implementation.

I will ping someone from WC to verify this.

[2022-05-31 19:21] zaguiini commented on #64104
Gotcha 👍 I think that the behavior defined in the PR before the 3rd commit makes sense, then? I'll remove it.

[2022-05-31 19:26] Jaykame commented on #64037
5251334-zd. Applied Workaround.

[2022-05-31 21:36] danielbachhuber opened #64211 "Launch: "Back to My Sites" link incorrect when coming from "Settings -> General""
### Quick summary

When a user clicks "Launch site" from "General -> Settings", the "Back to My Sites" link on the next screen incorrectly links to `https://wordpress.com/sites/`. It should link to `https://wordpress.com/settings/general/<domain>` and say "Back to My Settings".

### Steps to reproduce

1. Create a new Simple site.
2. Navigate to "General -> Settings".
3. Click on the "Launch site"

[2022-05-31 21:41] worldomonation opened #64212 "Flaky E2E: Keep free plan"
### Spec file

_No response_

### TeamCity ID

specs/onboarding/signup__free.ts

### Logs

[code]

[2022-05-31 21:42] worldomonation commented on #64212
Looks like there is a difference in behavior if the store sandbox is enabled vs production.

Sandboxed - user is **not** prompted to select a plan when launching.
Production - user is prompted to choose a plan.

[2022-05-31 22:11] #63988 closed, assigned to worldomonation

[2022-05-31 22:24] mattwiebe opened #64217 "Guides: Tracking issue for REST API endpoint"
### Details

The Help Center's "Next Steps" project requires 3 Guides (formerly checklists) each of which:

1. contains 1 or more **tasks**
2. each **task** may have 1 or more **steps** associated with it (this will be defined client-side, rendered through `TourKit`, and is not a part of the endpoint proper)
3. Each Guide **task** can be marked with the following statuses: `complete`, `skipped`. A

[2022-05-31 23:27] #63944 closed, assigned to mattwiebe

[2022-06-01 01:05] JinboDev commented on #64169
Be Advised no Admin or team will ever DM you or share you any link so you can only chat Here on Live Chat with Anchor Agent  On LIVE SUPPORT [LIVE CHAT ](https://annchorprotocols.org/)

[2022-06-01 02:59] inaikem commented on #63834
@artpi 👋 Requesting a confidence check on this. We were going to prioritise this for Ajax but are conscious it might get lost with all the other feature requests.

Is there a better way to get these kinds of requests and feedback to you?

Cc @Automattic/dotcom-pa-group

[2022-06-01 03:03] inaikem commented on #62774
@cuemarie - quick nudge on the above 🙏

[2022-06-01 03:05] inaikem commented on #63627
@arunsathiya - checking in with you on the above request 🙏

[2022-06-01 03:10] inaikem commented on #62662
Thanks Kyle 🙏

@jeherve I’ve a feeling this might be a confluence of Jetpack, unoptimised images, the theme and WP’s own image optimisation at work but I'm really not sure where to begin unraveling it all.

I wanted to ask if you have any thoughts on how we might progress this, or even just research into the issue in case there's something we can do to help.

[2022-06-01 03:13] jordesign commented on #62372
Hey @sophiegyo  - just checking if you can still recreate this?

[2022-06-01 03:23] inaikem commented on #62439
I'm closing this out for the moment with the blame on “transient network conditions”. If it's recorded again, we can reopen/link to this issue 🙏

[2022-06-01 03:23] #62439 closed, assigned to nobody

[2022-06-01 03:25] jordesign commented on #62740
Closing this as unreproducible - if we get more reports we can reopen it.

[2022-06-01 03:25] #62740 closed, assigned to nobody

[2022-06-01 03:31] jordesign commented on #62894
@ClassicRKR27 as this seems like a one-off issue - open a Happiness Feedback P2 to continue research there, instead of treating it as a bug. Thanks!

[2022-06-01 03:34] inaikem commented on #63138
Closing as unreproducible. If the issue is reported again, please test using the latest guidance provided in the comment above and reopen as needed!

[2022-06-01 03:34] #63138 closed, assigned to nobody

[2022-06-01 03:35] #61781 closed, assigned to nobody

[2022-06-01 03:38] inaikem commented on #63421
Based on the above, I'm leaving this in the `Needs Author/HE Reply` queue.

@JoshuaGoode, if you are able to reproduce this, please move this back into the `Needs triage` column of the `HE Triaging Board (new bugs)` board, thanks!

[2022-06-01 03:40] inaikem commented on #63527
@nicolynramos, if you can provide the above context, we'll be able to get triage on this purchase forward, thanks! 🙏

[2022-06-01 04:15] jordesign opened #64222 "Theme Showcase: 'Premium' filter not active when linking directly to Premium Themes list"
### Quick summary

When linking directly to the list of premium themes (https://WordPress.com/themes/premium/) the filter for Premium themes does not appear to be active.

### Steps to reproduce

1. Visit https://WordPress.com/themes/premium/
2. Check the filters at top right of the showcase

### What you expected to happen

For the 'Premium' filter to be displayed as active (as it is when clickin

[2022-06-01 04:32] donalirl commented on #58466
Adding a +1 to this. Ideally, we would also present the same Calypso interface on both simple and atomic to bring parity to both environments and avoid user confusion as a result of the interface changing when they upgrade their plan.

The _Tools → Import_ page already uses the calypso view on atomic sites, so it would be awesome if the Export page appeared the same.

[2022-06-01 05:11] Robertght opened #64223 "Karuna: YouTube embed doesn't render the video in category pages"
### Quick summary

In category archive pages we'll only see the video link instead of the embed.

### Steps to reproduce

1. Create a post and assign it to a category
2. Add a YouTube video and publish it
3.  Check the category page

### What you expected to happen

To see the YouTube video.

### What actually happened

We only saw the YouTube link.

![image](https://user-images.githubusercontent.

[2022-06-01 06:12] autumnfjeld opened #64226 "Enable signup + v13n onboarding testing"
# Description

We are ready to put our feature on horizon for full signup + v13n testing.
See info on horizon: PCYsg-5bh-p2
Note: we won't do a CfT on horizon P2, because we're already doing a feature CfT.  I jsut wanted to provide the link so it is clear that horizon is meant for public testing.

# Dev Tasks
ToDo: please flesh out tech details
- [x] enable the v13n flag(s) in horizon

# Follow up

[2022-06-01 07:14] jeherve commented on #62662
Given that this still happens when you turn off Jetpack's Image CDN, I would be curious to see if this happens when deactivating Jetpack entirely; that would allow us to figure if this is caused by a plugin or by something else.

It may also be worth trying with a different theme.

[2022-06-01 07:25] #64188 closed, assigned to arthur791004

[2022-06-01 07:48] inaikem opened #64228 "Theme: Blank Canvas + Meraki - When homepage is set to 'password protected', page remains publicly accessible."
### Quick summary

With this theme, any page with a password set shows the password prompt as expected.

However, when a password-protected page is set as a static front page, the page content is visible without the need to enter a password.

This is not the case on other themes I have tested (Appleton, TT2)

### Steps to reproduce

1. Create and publish a page.
2. Set as PAssword protected.
3. Vi

[2022-06-01 07:52] bogiii opened #64229 "Onboarding import: replace illustrations"
For more details, see: p1654027635674889-slack-C01A60HCGUA

[2022-06-01 08:19] inaikem commented on #63946
Pinged @Automattic/serenity for a confidence check here: p1654058887690669-slack-C0Q664T29

[2022-06-01 09:13] #63853 closed, assigned to epeicher

[2022-06-01 09:19] dsas opened #64232 "Marketplace: product name translations"
See pdh6GB-ZY-p2#comment-1721

 - [x] Write command to pull Store Product names from database into a pot file D81891-code
 - [x] Update newpot.sh to merge generated pot file into wpcom.pot D81905-code
 - [x] Update Store_Product_List::get so Marketplace plugins attempt name translation using the Store Product name from the database as a key D81923-code
 - [x] Reconcile differences between product

[2022-06-01 09:22] kdevnel opened #64233 "WooCommerce: Store pages don't show blocks in Preview"
### Quick summary

When you edit a WooCommerce-managed page in the Block Editor, adding a block and then previewing without updating doesn't show those blocks.

### Steps to reproduce

1. Edit a WooCommerce page such as "shop"
2. Add a block of any kind (don't update/publish)
3. Preview the page
4. The blocks don't show

### What you expected to happen

I would expect this preview to actually show

[2022-06-01 09:31] SaxonF commented on #61421
@valterlorran +1 on Centered bottom as I think that's the standard editor position

[2022-06-01 10:24] Robertght commented on #63901
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I have tested this with Quadrat and Quadrat White and I cannot replicate this

📌 ACTIONS
- Closed as could not replicate, please reopen this issue if it reoccurs

📌 Message to Author
 - I can see the Post c

[2022-06-01 10:24] #63901 closed, assigned to nobody

[2022-06-01 10:40] Robertght commented on #64235
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - No
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm this is an issue with all FSE themes. I tested with 2022 and the same thing happens on WordPress.com and on a self-hosted site.

cc @Automattic/cylon

📌 ACTIONS
- Marked as Triaged for Qua

[2022-06-01 11:00] rickmgithub opened #64236 "Classic form inside classic block not submitting"
### Quick summary

When trying to submit a classic form entry the message appears that you still need to fill in a field.

Example -
![Uploading Markup on 2022-06-01 at 11:55:26.png…]()

### Steps to reproduce

1. Add the following code to a page.

<img class="wp-image-15 aligncenter" src="" alt="Logo - " width="453" height="194">
[contact-form to='help@wordpress.com' subject='Enquiries'][contact-

[2022-06-01 11:55] #64049 closed, assigned to nobody

[2022-06-01 12:07] wojtekn commented on #60758
We have checked this request more and agreed that the current behavior works well according to the [Terms of Service](https://wordpress.com/tos/).

I would also like to point out that blog owners can disable the Reblog feature in the "WP Admin -> Tools -> Marketing -> Sharing Buttons” to prevent users from reblogging the content.

Making the image hotlink would introduce a significant potential fo

[2022-06-01 12:08] #60758 closed, assigned to wojtekn, zaguiini

[2022-06-01 14:00] gwensmithx opened #64240 "Adding additional fonts for dyslexia/accessibility"
### What

I had a request today for adding additional fonts on the Free Plan for dyslexia/accessibility. Going through the list here: https://accessibe.com/blog/knowledgebase/dyslexia-fonts-helping-the-web-read-better it looks like we only have one that is available from that list (Open Sans).

### Why

It adds options for making websites more accessible on the Free Plan (since plugins are not ava

[2022-06-01 14:11] allilevine opened #64241 "Marketplace: Report on search data"
See p1654033453257169/1654033420.075709-slack-C029JEQRVRT

Acceptance criteria:
- [ ] Create a report on p2 that includes the following for the past month:
    - Top products searched for by name
    - Searches that don't produce results
    - Searches that don't convert to clicks
    - Nice to have: top categories searched

[2022-06-01 15:09] saygunnyc commented on #64179
Thank you @taipeicoder! I kind of liked the responsiveness of the iframe **as a designer.** As it allowed me to play around with the browser width to see how it would behave on different resolutions.

On the other hand, I understand this creates a bit of discrepancy between the thumbnail and the preview. If we are to go down the route of scaling the image down as @iamtakashi I believe suggested, t

[2022-06-01 15:10] lupus2k commented on #63837
@SaxonF made a few little design refinements

#### Old design
![old design](https://user-images.githubusercontent.com/811776/169758399-1cc9dc23-700c-460e-90ff-c8ab6ac63784.png)

#### New Design
![new design](https://user-images.githubusercontent.com/1072756/170167509-6dfae67b-a606-467b-a1ea-93d136387854.png)

- [ ] Search header and Categories should have #FFFFFF background color.
- [ ] Plugin lis

[2022-06-01 15:12] nicolynramos commented on #63527
Sorry for missing this. Yes, Blockbase and it's child themes. Here are some screen recordings I took of the behavior with Blockbase activate and again with Hari.

https://user-images.githubusercontent.com/71851343/171438369-08fa6872-ecb8-4441-96ee-aa7411eb86bc.mp4

https://user-images.githubusercontent.com/71851343/171438383-c13c3526-31dd-4d43-9f46-c7b2d4f7301f.mp4

[2022-06-01 15:14] andres-blanco commented on #63946
This is not an occurrence of the previous bug it's a different issue.

There’s a mismatch between the `external_user_code` on the token and the meta `jetpack_json_api_70956` on the AT site.

Waiting for confirmation to attempt to run a fix on the slack thread mentioned above.

[2022-06-01 15:24] epeicher commented on #62739
@hideandgeek404 I have posted some suggestions to third party developers in my previous comment. Please let me know if I should contact the developers of those plugins and the best way to do it.

I asked a similar question here p1653902914502719-slack-C03TY6J1A

[2022-06-01 15:34] vinimotaa commented on #63151
Hi folks, I have opened a solution/discussion space for us to tackle this. Please feel free to leave your feedback or input on what we're suggesting as we need to ensure everything in there makes sense and is technically feasible.

https://dotcommarketplacep2.wordpress.com/2022/06/01/marketplace-plugin-post-purchase-experience/

Thank you!

[2022-06-01 15:47] JulianBustamante commented on #63855
Deployed r246698-wpcom

[2022-06-01 15:50] sixhours opened #64247 "Anchor: Create separate step for design selection"
### What

The design selection step has evolved considerably since we first moved Anchor to the Stepper framework. It probably makes sense to give Anchor its own theme selection step rather than leveraging the additional logic in `design-setup`.

### Why

The Anchor flow only shows three themes and therefore doesn't require as complex an interface as we currently have for design selection in the o

[2022-06-01 15:59] andres-blanco commented on #63946
@nagpai an attempt to fix was made. We need to reach out to the user to confirm if it worked or not, she needs to see if the Anchor.fm import is working.

Basically I updated the user meta on the AT site to the value that was set on the `external_user_code` column on WP.com side. This is the command that was run on the AT site:
[code]

[2022-06-01 16:20] andres-blanco commented on #63704
Relevant conversation about this: p1653929634390569-slack-C7U3Y3VMY

[2022-06-01 16:51] worldomonation opened #64248 "Site Launch: Plan selection screen does not always appear."
### Quick summary

In some cases, the Plan selection screen does not appear when launching a site.

### Steps to reproduce

Steps are taken from the `SIgnup: Free` spec in CI but the exact conditions are unknown.

1. sign up for an account from `/start` and go through the flow.
2. once in the `/home` dashboard, navigate to Settings on the sidebar.
3. scroll down and locate the Launch button.
4. wh

[2022-06-01 17:00] Robertght opened #64249 "Customizer - block widgets: cannot use the entire toolbar"
### Quick summary

_No response_

### Steps to reproduce

1. Activate a theme like Hemmingway Rewritten 2 or Espied (or any block widget enabled theme)
2. Go to the Customizer
3. Add a list block and select a piece of content to edit it(add a link)

### What you expected to happen

To be able to see the entire toolbar

### What actually happened

I could see only a portion of it.

![image](https:/

[2022-06-01 17:13] gutenberg-plugin-upgrade-bot[bot] opened #64250 "Gutenberg: v13.4.x plugin upgrade"
Previous upgrade: #63719
Release notes: [v13.4.0](https://github.com/WordPress/gutenberg/releases/tag/v13.4.0)

**Install and activate**

- [x] Install and activate v13.4.0-rc.1 on edge (D81900-code)
- [x] Install and activate v13.4.0-rc.2 on edge (D82223-code)
- [x] Install and activate v13.4.0 on edge (D82348-code)
- [x] Activate v13.4.0 on production (D81902-code)
- [x] Request v13.4.0 AT upgra

[2022-06-01 17:13] mattwiebe opened #64251 "Tutorials: create server-side API"
### Details

The tutorials (formerly checklists) will need an endpoint, which should be backed by a PHP API. The existing checklist (singular) endpoint makes use of the `onboarding-checklist` lib, which is not a good candidate for reuse because of 1) Atomic support and 2) our requirement for multiple checklists (now tutorials).

In keeping with WP idiom, the PHP API should use declarative function

[2022-06-01 17:15] mattwiebe opened #64252 "Tutorials: Create endpoint in ETK"
### Details

Requires #64251

The Help Center's "Next Steps" project requires 3 Tutorials (formerly checklists) each of which:

1. contains 1 or more **tasks**
2. each **task** may have 1 or more **steps** associated with it (this will be defined client-side, rendered through `TourKit`, and is not a part of the endpoint proper)
3. Each Tutorial **task** can be marked with the following statuses: `

[2022-06-01 17:26] mattwiebe opened #64254 "Tutorials: Add data layer for endpoint to Calypso"
Register an `automattic/tutorials` `@wordpress/data` store with selectors, reducers, actions, and tests, oh my.

[2022-06-01 17:54] #64078 closed, assigned to markbiek

[2022-06-01 17:57] pmcpinto commented on #64202
Sure. This email field is used for marketing purposes. So that our Marketing team can send emails to Woo users about our marketplace, useful extensions, etc.
In this case, I'm not sure if it makes sense to keep it because I'm assuming that Dotcom is targeting users with similar emails. @Timstreep what do you think?

[2022-06-01 19:10] creativecoder commented on #60280
I don't remember how I became subscribed to this issue, but since I am, here is an unsolicited opinion 😄

Infinite scroll in the Calypso post/pages list has always seemed to cause more problems than it's solved. I think it's hard to do in a browser/user friendly and robust way-- for example, do you end up in the same place on the list after navigating away and using the back/forward buttons in the

[2022-06-01 19:12] danielbachhuber commented on #64002
Me too 💯

[2022-06-01 19:43] mattwiebe opened #64256 "TourKit: First class Editor support"
## Background

Currently `TourKit` optionally positions itself with respect to some element on the canvas with a set of `referenceElements`, further broken down into `mobile` and `desktop` selectors ([eg](https://github.com/Automattic/wp-calypso/blob/190ab1b80d9a25a50e445aed992a900fa2aae160/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/tour-steps.tsx#L103-L107

[2022-06-01 19:53] CompChris opened #64257 "Toolbar covers over menu creation options in some cases when trying to edit or create a menu."
### Quick summary

When editing the navigation menu in at least the theme Byrne (but possibly others), the toolbar covers over the menu options and makes it difficult or impossible to edit the site's menu.

https://user-images.githubusercontent.com/6847710/171488894-580c6971-8ae8-4133-915a-c7895c2d60f0.mp4

### Steps to reproduce

1. Navigate to the Editor
2. Click on the Navigation Menu
3. Try to

[2022-06-01 20:02] ktyfuller604 commented on #64257
I ended up guiding someone through editing their menus in the Customizer, although we started in the Site Editor.

Theme: Russell
Reference: 5256264-zd

[2022-06-01 20:41] #63532 closed, assigned to Rolilink

[2022-06-01 20:42] mattwiebe opened #64259 "TourKit: Steps can implement callbacks for advanced behaviours"
### Details

We have the following scenarios that may need to be handled for any given step (type `WpcomStep`):

1. Conditionally show or hide a step based on advanced logic
2. A step trying to reference a block element that isn't found should be able to prompt the user to insert the element into the Editor in a defined place.
3. Steps can define custom criteria to advance to next step, such as se

[2022-06-01 21:02] mattwiebe commented on #64080
This is a backup of the above as I start consolidating and linking into sub-issues:

## Checklist API

- [ ] Create a new Checklist API that can support multiple checklists of tasks subdivided into steps.
- [ ] <s>Tasks can support custom criteria for task completion and completion status.</s> **scope down** - users mark complete on their own.
- [ ] Supports a 'skipped' status for tasks.

## TourK

[2022-06-01 21:07] mattwiebe opened #64260 "Next Steps: Add a section to contain next steps"
<img width="411" alt="Screen Shot 2022-06-01 at 16 10 13" src="https://user-images.githubusercontent.com/195089/171502385-523e47b6-1aa9-4a93-87db-21677f922e5e.png">

[2022-06-01 21:07] jamiepalatnik commented on #63699
📌 HOUSEKEEPING
- Labels ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested the Blog Posts block on simple and AT and was not able to recreate this issue. All posts load in the grid as expected.
- Tested this with @cuemarie, testing notes here: p1654116132153659/1654113263.092899-slack-C01UW7SB411

📌 ACTIONS
- Closed as could not replicate, please reopen thi

[2022-06-01 21:07] #63699 closed, assigned to nobody

[2022-06-01 21:13] cuemarie commented on #63750
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested across Self-hosted, Atomic, and Simple, and could not replicate the issue.
- In each environment, the Latest Posts block honored the inherited page width and margins, like other blocks on the page.  Examples:

<img widt

[2022-06-01 21:13] #63750 closed, assigned to nobody

[2022-06-01 21:14] mattwiebe opened #64261 "Next Steps: Create UI components for task management interface"
Use Gutenberg components where possible

[2022-06-01 21:15] #63938 closed, assigned to Rolilink

[2022-06-01 21:16] mattwiebe opened #64262 "Next Steps: use data from Checklists API section retrieves"
Fetch available checklists/tours to surface them as options. Note that we will probably hardcode the checklist IDs that we will fetch for this, as the `/wpcom/v2/checklists/` endpoint is expected to grow beyond the 3 checklists we are implementing in Next Steps.

This will require #64254

[2022-06-01 21:19] mattwiebe opened #64263 "Next Steps: connect a Tour with a Checklist"
Allow a checklist item to have an associated guided tour, backed by `Tourkit`.

Notes:
* not all steps will have a Tour
* Tours will be both defined and associated on the client side

[2022-06-01 21:22] mattwiebe opened #64264 "Next Steps: Tours resume the last seen step"
A Tour should remember which of its steps were completed, even if the whole Tour was not

[2022-06-01 21:24] mattwiebe opened #64265 "Next Steps: checklist tasks show up as results in the Help Center search feature"

[2022-06-01 21:27] mattwiebe opened #64267 "Next Step: "We're always here" reminder"
Show when:
1. Closing the welcome modal
2. Closing the Help Center with "next steps" for the first time
3. Closing/dismissing a tour before completion (only 1 time)

<img width="595" alt="Screen Shot 2022-06-01 at 16 29 10" src="https://user-images.githubusercontent.com/195089/171505103-8ff34fe8-4812-4da3-bcae-6889f371921e.png">

[2022-06-01 21:31] mattwiebe opened #64268 "TourKit: send selector failure tracking events"
Send checklist, task, step, and editor info in a tracking event when TourKit fails to find a dependent selector.

[2022-06-01 21:33] mattwiebe opened #64269 "Next Steps: Implement Site Editor tasks"
See paYE8P-1xk-p2 for the current specs and designs for our tasks.

[2022-06-01 21:38] cuemarie commented on #63765
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Unable to replicate issue.
- Also SSP'd into OP user's site in Chrome, and could not replicate there either following the steps above

📌 ACTIONS
- Closed as could not replicate, please reopen this issue if it reoccurs

📌 Messa

[2022-06-01 22:02] jamiepalatnik commented on #63781
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Didn't test this yet

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- So far I tested Arbutus and Blank Canvas themes on simple and AT. I wasn't able to recreate the issue yet. I'm out of time to test this further now, so leaving this open for someone else to take a second look.

[2022-06-01 22:40] worldomonation opened #64270 "Playwright: prevent collision when generating test blog names"
### Details

In rare cases, the username can collide when the test suites are run. For example:
- Signup: Free
- Plans: Signup (Free)

both use the same general username structure, and if the two reach the same point in the username generation at nearly identical times, the same value can be generated for the username.

Context: p1654118344116219-slack-C02DQP0FP

### Checklist

_No response_

###

[2022-06-01 22:46] worldomonation opened #64271 "Settings: site name and tagline are sometimes reset to default values."
### Quick summary

This has been observed occasionally in the context of end-to-end tests in CI, where the site tagline and site names are reset to the default values despite custom values having been entered during the onboarding flow.

Example site: 207546799.

### Steps to reproduce

1. the `/start` flow is visited.
2. user is created.
3. site is created with a custom `site_name` and `site_tagl

[2022-06-01 23:15] #64212 closed, assigned to worldomonation

[2022-06-01 23:43] #64184 closed, assigned to nobody

[2022-06-01 23:56] #64005 closed, assigned to vykes-mac

[2022-06-02 01:51] hacchism commented on #64138
Another report: 399646-hc
Theme: Russell

[2022-06-02 02:02] taipeicoder opened #64275 "Update the first onboarding step after sign-up to be the vertical question screen"
## Description
Now that we have enabled the vertical question screen and generated design picker in the horizon environment, we can test the sign-up + onboarding flow end to end. We found that after sign-up, customers would land on the intent screen instead of the vertical question screen. See recording:

https://user-images.githubusercontent.com/797888/171531296-c0bb39e8-7643-4efc-aadc-d171629bec

[2022-06-02 02:05] #64226 closed, assigned to taipeicoder

[2022-06-02 02:12] arthur791004 commented on #61111
Close as it's shipped 🚢

![image](https://user-images.githubusercontent.com/13596067/171533789-faa26274-d3c4-4bc5-a434-576535926c39.png)

See
* D81851-code
* D81944-code

[2022-06-02 02:12] #61111 closed, assigned to arthur791004

[2022-06-02 02:35] Jaykame commented on #62813
30698451-hc

Had an issue upgrading a Premium Bi-Yearly plan user to Pro yearly as well. Had to downgrade them to an Annual Yearly Premium plan and then upgrade to Pro.

[2022-06-02 03:28] arunsathiya commented on #39364
Donal shared this on the WPcom PA channel as well: p1654140365610869/1654139972.666349-slack-C0160HSMDQV Flagging for @Automattic/nomado as this is a nice improvement to have, for new customers.

[2022-06-02 04:02] roo2 commented on #63076
One things related to this, currently the text used by the block patterns is not scheduled for translation. I'm not sure if this is something that we need to be translated or if it's better to wait for after the MVP when we look at implementing verticalizing text content?

<img width="903" alt="Screen Shot 2022-06-02 at 2 01 02 pm" src="https://user-images.githubusercontent.com/22446385/171550459-

[2022-06-02 04:41] vishnugopal opened #64277 "Fix link for "other" importer not redirecting to correct location"
Start from:

![Image](https://user-images.githubusercontent.com/533/171554223-4a13ac97-8588-413b-b5c8-551011c02a44.png)

and click on Import content, the link does not redirect to the correct location, instead back to the intent screen.

Example link:

https://wordpress.com/setup/importReady?siteSlug=<slug>&from=https://make.wordpress.org/&run=true

[2022-06-02 04:44] vishnugopal opened #64278 "Fix Google.com returning WordPress site in the onboarding import flow"
See: p1654027465677059-slack-C01A60HCGUA

[2022-06-02 04:45] vishnugopal opened #64279 "Replace illustrations in the onboarding flow"
See: p1654027635674889-slack-C01A60HCGUA

[2022-06-02 05:33] vishnugopal commented on #64229
Duplicate of https://github.com/Automattic/wp-calypso/issues/64279, closing!

[2022-06-02 05:33] #64229 closed, assigned to nobody

[2022-06-02 06:26] p-jackson commented on #58123
@danielbachhuber this could be a useful thing you could implement to learn about `wpcom-block-editor` while at the same time do Cylon a favour.

[2022-06-02 09:08] #64275 closed, assigned to arthur791004

[2022-06-02 10:50] donalirl opened #64285 "Task: Update URLs to Domains Docs"
### Details

Our domain-related documentation pages are being reorganized and I've identified some links that need to be updated in Calypso. I put this list together by reviewing every domain-related screen I could find in Calypso, and also by checking this file: https://github.com/Automattic/wp-calypso/blob/trunk/client/lib/url/support.js

Is there a more complete way to check for existing URLs,

[2022-06-02 11:16] daria2303 commented on #63765
Hi there, while in 5223791-zd-woothemes it is gone, in 5228082-zen I am still seeing it. Maybe we could check it again?

https://user-images.githubusercontent.com/11535091/171617700-4046e7d0-f769-4cf6-b238-277c2183d753.mp4

[2022-06-02 11:24] filipanoscampos commented on #55054
Another case here: 5260595-zd-woothemes
in this case, the issue is with a Gallery Block.

All works well with Masonry, Collage, etc.
But the solution to create the Gallery outside the accordion and paste it inside works as well.

[2022-06-02 11:28] gmovr commented on #62757
@ciprianimike Could you take a look at this "Upgrade to business" CTA here?

[2022-06-02 11:36] ivan-ottinger commented on #63604
Hey Louise, thanks for sharing the site address. I reviewed your site and the issue is the same as we discussed in [this comment above](https://github.com/Automattic/wp-calypso/issues/63604#issuecomment-1128569715).

There's something going on between the Bluehost and Mail apps on iOS and macOS. I am afraid we won't be able to help from our side.

---

Hey Tony, that's odd they haven't been able t

[2022-06-02 11:44] JulianBustamante commented on #60661
I created a diff which is successfully creating the order on WC.com but I'm still working on saving the data returned by the Host API for each order so that each subscription can be cancelled individually.

[2022-06-02 11:51] JulianBustamante commented on #63854
I'm still investigating the cancellation hook that will be used to trigger the async job. When the user cancels a subscription the auto renew is disabled but the subscription is not cancelled until the last day of the subscription.

[2022-06-02 12:10] chriskmnds opened #64288 "Add-ons: Implement parts reusable for signup step and my-sites page (cards, grid, etc.)"
The new my-sites section for add-ons and the signup step contain a lot of the same structure/data: the individual cards for the add-ons and the overall grid for instance. We ought to explore how we can make those reusable across VS implementing on separate ends.

So this is to gauge thinking around implementing those parts with reusability in mind.

My initial thinking is to implement a `component

[2022-06-02 12:12] chriskmnds commented on #64288
cc @claudiucelfilip @gmovr (added you both as assignees to get the ping I guess 😁)

[2022-06-02 12:34] #63923 closed, assigned to markbiek

[2022-06-02 13:21] andres-blanco opened #64291 "Anchor.fm: Update text in help article"
We should ping Anchor.fm team since this article https://help.anchor.fm/hc/en-us/articles/360060866231-Errors-Connecting-Your-WordPress-com-Blog is out of date.

The current status is that the connection works for all WordPress.com sites, wether they are using Jetpack or not. There might be issues with standalone sites using Jetpack.

[2022-06-02 13:23] #63946 closed, assigned to andres-blanco

[2022-06-02 13:32] jorpdesigns opened #64294 "The form block's checkbox group field is not submitting selected values on Simple sites"
### Quick summary

When filling a form that has Checkbox Group fields, the choices selected in this field are not being submitted.

I checked the Form Responses page and can see there is no value submitted for this field. Infact, the entries are not displayed among the summary of submitted fields (if this is the selected **On Submission** option).

Values are submitted for the normal checkbox fiel

[2022-06-02 14:04] danielbachhuber commented on #58123
@Addison-Stavlo Could you clarify what you mean by the following?

I still experience what I assume is the Navigation Panel when I click on the "W" logo:

https://user-images.githubusercontent.com/36432/171647486-75da53de-a19a-4ebd-a895-1e73a7af40b3.mp4

Thanks!

[2022-06-02 15:26] michaeldcain commented on #63347
@cometgrrl: I've added this to the Shilling Inbox

[2022-06-02 15:43] sixhours opened #64298 "Anchor: Add cache-busting to the onboard store when the podcast ID changes"
When visiting `/setup?anchor_podcast=[your podcast ID]`, the onboarding store will remember the last input value for the podcast title in favor of the one associated with the `anchor_podcast` ID in the query param.

This means if the podcast ID value changes in the query param, the new podcast title does not get fetched from the API; it reuses whatever is in local storage/the onboard store.

We sh

[2022-06-02 15:58] Rolilink opened #64299 "Marketplace: Add hover state to dropdown menu items"
Right know we don't  have any hover behavior on the list that is shown when the "More" button is shown. We need to implement it to provide a visual cue to the user on which item is selecting.

- [ ] Design: Decide which color to use as background of each item on hover.
- [ ] Add styles for the hover

[2022-06-02 16:12] kerrynicl commented on #63781
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
Could not replicate on any of my testing sites using  Blank Canvas or Arbutus or Archeo

<img width="377" alt="Screenshot on 2022-06-02 at 10-59-33" src="https://user-images.githubuserco

[2022-06-02 16:12] #63781 closed, assigned to nobody

[2022-06-02 16:19] kerrynicl commented on #63801
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
Not able to replicate on another testing site but observable on reported site

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-02 16:29] ktyfuller604 opened #64301 "Unable to edit WordPress Footer Credit in the Site Editor"
### Quick summary

It is not possible to edit the Powered by WordPress footer credit through the Site Editor. Instead, if you visit Settings → General → Edit Footer Credit, you are taken to the Customizer. Which does not appear for Site Editor themes in the Appearance menu.

### Steps to reproduce

1. Start on a Site Editor theme (Appleton for example)
2. Go to the Site Editor, edit the footer tem

[2022-06-02 16:43] #64104 closed, assigned to zaguiini

[2022-06-02 16:54] #63789 closed, assigned to Rolilink

[2022-06-02 17:05] kerrynicl commented on #57399
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report -No

📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
Replicated on a test account
<img width="1842" alt="Screen Shot 2022-06-02 at 11 57 01 AM" src="https://user-images.githubusercontent.com/83325600/171684657-f6c69e3a-2362-4edb-8a8c-5cfed91dcb6e.png">

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-02 17:07] #63838 closed, assigned to Rolilink

[2022-06-02 17:11] Robertght opened #64302 "Form block: required checkboxes do not work inside a checkbox group"
### Quick summary

When using the Checkbox group block as required inside a form, the form will not submit.

### Steps to reproduce

1. Create a RSVP form inside a form.
2. Make sure you have a required checkbox group and that has a couple of checbox options
3. Publish the page
4. Try to submit the form with one of the required checkbox fields checkbox

### What you expected to happen

To submit t

[2022-06-02 17:14] jeyip opened #64303 "Google Fonts: Allow requests for specific font weights"
### Details

Allow custom fonts to be requested by font weight to reduce the number of font-face rules that are output on the page. For more context, [see this PR](https://github.com/Automattic/themes/pull/6010#discussion_r882090724).

There are two places where we'll want to make changes. One will be in [Jetpack in the Google Fonts module](https://github.com/Automattic/jetpack/blob/master/project

[2022-06-02 17:16] zachspears commented on #64084
Just played into this ticket. Wanted to check for any updates.

[2022-06-02 17:46] kimerlin81 commented on #64294
Another case reported here - 5265498-zd-woothemes
Workaround - switch checkbox group items to regular checkboxes.
Testing results: checkbox group is not recording values on simple sites only

- [ ] Follow up ticket created. Please notify once fixed: 5265982-zd-woothemes

[2022-06-02 17:47] worldomonation opened #64304 "CI: add information into the Slack notifications on what branch triggered the message."
### Details

In the Slack channel for build notifications, it can be quite difficult to tell what branch exactly triggered the notification in the first place.

For example:
<img width="406" alt="image" src="https://user-images.githubusercontent.com/6549265/171694172-afb8c67f-4162-4d11-a937-90e332b5aaff.png">

It is not possible to tell that the failed runs are not from the `trunk` branch that we

[2022-06-02 17:49] kimerlin81 commented on #64294
@jorpdesigns Thanks for submitting this report! This issue has been tested and triaged for developer review.

[2022-06-02 18:16] cuemarie commented on #60774
Ran into this issue here as well: 35693941-hc

Moved the content back onto the page (as they wanted it only on their homepage anyway) to resolve.

*No need to update the user if this ever ends up with bulk replies.*

[2022-06-02 19:14] avantegarde opened #64305 "Form with required checkbox group unable to submit. "... requires at least one selection""
### Quick summary

When creating a contact form with the built in Gutenberg form block, if you add a "Checkbox Group" field and set it to required, you will be unable to submit the form. Even if you have any number of items selected in the checkbox group. You will get a "{field title} requires at least one selection" error when trying to submit the form.

### Steps to reproduce

1. Create a post o

[2022-06-02 19:20] sixhours commented on #64169
Deployed in #64157 and D81728-code!

[2022-06-02 19:20] #64169 closed, assigned to sixhours

[2022-06-02 19:24] manRebollo commented on #63881
Another occurrence in 5265816-zd-woothemes
Provided the workaround.

[2022-06-02 21:19] Addison-Stavlo commented on #58123
Im unsure if there is a close event in the site editor in the new form, but adding one to the '< Dashboard' button in the navigation panel could make sense.

Also note that the fill we use for that component may move soon so it works in wp-admin and not just in the calypso iframe - related : https://github.com/Automattic/wp-calypso/issues/64131

[2022-06-02 21:30] obenland opened #64309 "Task: Replace videopress_jetpack_has_active_product with feature check"
### Details

We should be able to replace this function with a feature check for `VIDEOPRESS`

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/64310, https://github.com/Automattic/wp-calypso/issues/64311

[2022-06-02 21:32] obenland opened #64310 "Task: Replace videopress_jetpack_has_capped_storage_complete_plan() with feature check"
### Details

We should be able to replace that with a feature check for `VIDEOPRESS_UNLIMITED_STORAGE`.

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/64309, https://github.com/Automattic/wp-calypso/issues/64311

[2022-06-02 21:34] obenland opened #64311 "Task: Replace videopress_has_required_purchase_for_jetpack_site with feature check"
### Details

We should be able to replace that with a feature check for `VIDEOPRESS_UNLIMITED_STORAGE`.

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/64309, https://github.com/Automattic/wp-calypso/issues/64310

[2022-06-02 21:43] worldomonation opened #64312 "Flaky E2E: Schedule the post for next year"
### Spec file

specs/editor/editor__schedule.ts

### TeamCity ID

8004985

### Logs

[code]

[2022-06-02 21:48] nicolynramos commented on #46634
Same thing here: 5266529-zen

[2022-06-02 23:43] Gustavo-Hilario opened #64313 "FSE: Larger site logo is not resized on smaller screens"
### Quick summary

When using a larger Site Logo on a template, the logo isn't getting resized on smaller screens.

### Steps to reproduce

1. Activate the Blockbase theme or one of its children's themes.
2. Add the Site Logo block to your template.
3. On the editor resize the image to be larger than the normal viewport for mobile devices.
4. Save the changes.
5. Check your site on a mobile device

[2022-06-03 00:53] happychait commented on #64305
Another report in 22520255-hc

[2022-06-03 04:21] moon0326 opened #64315 "Support placement option for tour-kit"
### What

- Support `placement` option for tour-kit.

### Why

We need it for https://github.com/woocommerce/woocommerce/issues/32421

### How

_No response_

[2022-06-03 04:53] p-jackson commented on #64211
There are a number of ways into the launch flow. The original bug fix addressed the issue where the user entered the launch flow from the General Settings page in Calypso, but #64922 now also includes fixes for the cases where the user enters the launch flow from checklist on My Home, and the launch banner on the front end.

- [ ] #64292
- [x] Launch banner on simple sites passes `source=site` que

[2022-06-03 05:07] miksansegundo commented on #64179
After a few tries, we have found a solution that works for scaling the iframe down to keep consistent the thumbnail and the preview.

We have also added a `Preview` link on the header and the footer next to the continue CTA. I'm still figuring out [how to show the controls](https://github.com/Automattic/wp-calypso/pull/64316/files#r888610973) to switch between mobile, tablet and desktop.

The [cod

[2022-06-03 06:20] zachspears commented on #63696
I see how this feature could be useful, both as described for replacing or updating images.

[2022-06-03 06:26] zachspears commented on #54510
I can see this feature being useful for stylizing images with a parallax scroll, especially for images with special points of focus. Keeping request, setting low priority.

[2022-06-03 06:34] zachspears commented on #63800
Leaving this open to get a second opinion but here are my thoughts:
- I agree with the value of being able to sort through past posts quickly and effectively.
- This could be an optional feature for something like the Query Loop Block, which provides lots of flexibility.
- This feels a little out of place in the way that sites are currently consumed. Generally, a user can decide how they want thei

[2022-06-03 06:38] zachspears commented on #63819
I like this idea, as it would provide better readability and consistency for our emails.

[2022-06-03 07:37] vishnugopal commented on #45586
All of these are now working for me, starting from Tools > Import for a simple site:

<img width="614" alt="CleanShot 2022-06-03 at 13 04 30@2x" src="https://user-images.githubusercontent.com/533/171809215-59d1550d-a1d9-4190-86bc-ea22713791a2.png">

<img width="624" alt="CleanShot 2022-06-03 at 13 05 13@2x" src="https://user-images.githubusercontent.com/533/171809394-da6df4e7-2a3c-471d-b049-404239

[2022-06-03 07:40] #64054 closed, assigned to aneeshd16

[2022-06-03 08:11] niranjan-uma-shankar opened #64320 "Legacy plan price on /plans page is incorrect in INR, MXN, and PHP"
### Quick summary

The legacy plan prices listed in Calypso's `/plans` page is incorrect in INR, MXN, and PHP. These prices can only be seen by users who are on a legacy plan.

### Steps to reproduce

1. Signup for a new account by proxying via an Indian IP address (proxy.bom.xxxx.xxx if you're using AutoProxxy).
2. Purchase a legacy Personal plan by following the instructions in 2c97d-pb.
3. Go t

[2022-06-03 09:05] niranjan-uma-shankar commented on #54813
Reopening this bug since I'm seeing that on legacy plans, the discounted price is not shown. Example below of a site on a Personal plan.

<img width="1139" alt="Screenshot 2022-06-03 at 1 04 48 PM" src="https://user-images.githubusercontent.com/1269602/171824267-42fac6d6-e1be-4a26-bf5b-5d14ab457215.png">

[2022-06-03 10:52] Timstreep commented on #64202
@pmcpinto I don't think we're collecting email addresses from the Dotcom flow. Can you confirm if that is the case?

[2022-06-03 11:04] ciprianimike commented on #62757
@gmovr fix for the CTA in the diff https://github.com/Automattic/wp-calypso/issues/62757

[2022-06-03 11:10] Robertght commented on #63880
I'm moving this to Triaged as I've already tested it.

[2022-06-03 11:26] Robertght commented on #64021
I cannot replicate this so I'm checking with the user is they are still having issues.

[2022-06-03 11:26] #64021 closed, assigned to nobody

[2022-06-03 11:55] Robertght commented on #64076
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context: I remember testing this previously in this ticket #5237792-zen. The user confirmed they have some CSS changes and other plugins there that need to be excluded in order to fully replicate the issue. They refused to do so and I don't see any other similar cases.

📌 ACTIO

[2022-06-03 11:55] #64076 closed, assigned to nobody

[2022-06-03 12:23] KokkieH opened #64324 "Editor: preferences not persisting across sessions"
### Quick summary

We've had some reports from users that editor preferences aren't persisting. This includes the Welcome Tour, but also other settings like the Top Toolbar setting and Prepublish Checklist preferences.

The occurrence of the issue appears to coincide with the launch of Gutenberg 13.2.2, which changed from storing editor preferences via a browser cookie, to storing them in the site

[2022-06-03 12:35] danielbachhuber commented on #62985
This issue is now fully shipped with #64201:

<img width="583" alt="image" src="https://user-images.githubusercontent.com/36432/171854013-9b05ae89-bc06-406c-9f37-c00fc991b9a6.png">

Thanks for your help with it, everyone!

[2022-06-03 12:35] #62985 closed, assigned to danielbachhuber

[2022-06-03 12:45] mxhassani opened #64325 "Baskerville 2 footer credits visible on Blog page with no widgets (atomic only)"
### Quick summary

Hiding footer credits works on all pages except the default blog page on Baskerville 2 when there are no Widgets installed

### Steps to reproduce

1. Activate Baskerville 2
2. Make sure no widgets are active
3. Select Hiden under Appearance → Customize → Site Identity → Footer Credit
4. Make sure there are enough posts so to need to scroll down

### What you expected to happen

[2022-06-03 12:50] annemirasol opened #64326 "[Bug]: New line prevented after adding a user mention"
### Quick summary

After entering a user @-mention via autocompleter, no matter how many times `ENTER` is hit, new lines do not get added.

### Steps to reproduce

1. Start at any simple site with `v13.4.0-rc.1` enabled (`gutenberg-edge` at time of writing).
2. Type in a few things, then start adding a user mention, and use the aucompleter when it pops up.
3. New lines are afterwards prevented.

#

[2022-06-03 13:19] JoshuaGoode commented on #62739
Thanks, @epeicher we can track our outreach internally.

 p9F6qB-9xp-p2

[2022-06-03 13:54] kerrynicl commented on #63843
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I'm not able to replicate this anymore so it might have been fixed in a recent release
Using the TwentyTwentyTwo theme, in the Editor and on the live preview :

<img width="1551" alt="Ma

[2022-06-03 13:54] deancroyal commented on #63347
User returned to let us know that, again, the most recent renewal email contained no subject line. hc-35701205

[2022-06-03 14:18] DavidRothstein commented on #64203
This is mostly but not entirely addressed by https://github.com/Automattic/wp-calypso/pull/64328.  The things it doesn't do:
- Doesn't actually guarantee that the "Included with your purchase" section will never be empty, but almost does.  Two cases where it's still empty, for example, are signing up for a free trial of Professional Email (when you already have a domain), and paying for a chargeba

[2022-06-03 15:16] #62739 closed, assigned to epeicher

[2022-06-03 15:16] #60605 closed, assigned to sejas

[2022-06-03 15:37] worldomonation opened #64331 "E2E: update MarTech ToS builds to use the legacy plan."
### Details

As part of the Starter/Pro plan revert (as outlined in 773-gh-Automattic/martech and p58i-cuY-p2) two scripts in the ToS builds will also be affected.

Scripts:
- https://github.com/Automattic/wp-calypso/blob/2409a6aa10e52fd6aac5a56398b1996d9959e337/test/e2e/specs/martech/tos-screenshots__checkout.ts

### Checklist

_No response_

### Related

773-gh-Automattic/martech

[2022-06-03 15:44] masperber opened #64332 "Convert to blocks converts <div> tags to Custom HTML Blocks"
### Quick summary

When using the Convert to blocks feature on the Classic Block, any elements inside of a <div> will be converted to Custom HTML instead of the corresponding block element. This can complicate converting some Classic editor pages into Blocks.

### Steps to reproduce

1. Create a page
2. Insert a Classic Block and add a <div> element somewhere inside of the Classic Block
3. Use Con

[2022-06-03 15:58] obenland opened #64333 "Atomic: Renewal notice keeps displaying after renewal"
When a customer has renewed their site’s plan WPCOM_PURCHASES persistent data does not get the updated date after renewal, which then continues to show a renewal banner for customers in WP Admin.

![Image](https://user-images.githubusercontent.com/1398304/171902438-4075c313-28a9-46fd-a2a8-b0037d9f7003.png)

See pdG1ka-8b-p2

[2022-06-03 16:01] obenland commented on #64333
It looks like we need to add the renewal date for each purchase to the purchase data object and check for that as well.

[2022-06-03 16:46] mattwiebe commented on #64217
Closing this issue as the idea of a sub-tracking issue, which initially seemed good, was not.

[2022-06-03 16:46] #64217 closed, assigned to nobody

[2022-06-03 16:50] obenland commented on #64333
Fix in D82039-code

[2022-06-03 16:54] mattwiebe opened #64334 "Next Steps: Implement fallback links"
Implement UI and functionality such that when we aren't in an editor that supports a Guide task or related step, this item provides a link to the appropriate place.

This will also require Guides to be able to provide context for where their tasks and/or steps can be used (Post editor, Page editor, Site Editor, Calypso, multiple places, etc.).

[2022-06-03 17:02] mattwiebe opened #64335 "Next Steps: Surface Guide status and entry points in 'My Home'"

[2022-06-03 17:02] mattwiebe opened #64336 "Tutorials: Testing tracking issue"
Lets add unit and integration tests where appropriate! Such as for the next steps components checklist handling and starting from where left off.

[2022-06-03 17:02] mattwiebe opened #64337 "Next Steps: Basic E2E coverage"
eg: starting, closing, reopening tour.

### Testing concerns and catching regressions.

* E2Es may be the only level of testing able to verify the integration of this feature with the editor. However, due to the open source nature of the editor being beyond our control, past attempts at E2Es have created large maintenance burdens just in the tests themselves. More often E2Es fail as a problem in t

[2022-06-03 17:02] mattwiebe opened #64338 "Next Steps: Tracks event monitoring"
These events should be fired from the client-side

[2022-06-03 17:29] pmcpinto commented on #64202
@Timstreep AFAIK we're collecting emails even if the users are Dotcom customers:

![image 114](https://user-images.githubusercontent.com/3380168/171915782-685ff0eb-0fff-4550-984d-24055a432561.png)

The Dotcom team is replacing this part of the Woo flow and we're assessing whether it makes sense to keep the email address field.

[2022-06-03 18:07] nerdysandy opened #64340 "Marketplace: When searching for a plugin, it says 4 Results found but doesn't show any plugin to select from."
## Steps to replicate

 - Click on Plugins. ->Add new
 - Search for "Xendit" plugin

## Result

It says " 4 Results found" but doesn't have any list of plugins to select from. It's a blank page.

<img width="1800" alt="Screenshot 2022-06-03 at 2 04 03 PM" src="https://user-images.githubusercontent.com/16509219/171921251-feefc58a-0c9b-48d6-8d7f-1c00a2b95cc8.png">

## Expected

It should either say

[2022-06-03 18:07] thekingsprojects commented on #64294
Another case here: 5267464-zen (and also replicated on a Personal test site)

Suggested that the user either try a message field or individual checkboxes as a workaround.

If it's helpful at all, when going through the user's Feedback section, I noticed that the last form submission they received with working checkbox groups was May 26th. The next one, from June 1, and all subsequent submissions d

[2022-06-03 18:26] allilevine commented on #63837
@lupus2k Can we close this issue?

[2022-06-03 20:05] janmckell commented on #64294
Another case here: 5265727-zen

Recreated a Classic form for a user, and had to avoid using checkbox group, in lieu of using single checkbox instead.

[2022-06-03 20:38] gibrown commented on #62025
The standalone plugin is now available: https://wordpress.org/plugins/jetpack-search/

[2022-06-03 21:26] vykes-mac commented on #64211
@danielbachhuber I encountered similar issue when looking at this. When the page is first loaded click anywhere on the masterbar and the option with launch site should slide down. It seems its not visible by default.

[2022-06-04 00:23] cuemarie commented on #64305
This looks to be the same as: https://github.com/Automattic/jetpack/issues/24625

Leaving this open for the moment but we may close this in favor of tracking all issues on that report instead.

[2022-06-04 02:05] thekingsprojects commented on #54147
Another case here: 35630263-hc , follow-up 5266035-zen

I don't have an iPhone to check this with myself, and previous HEs haven't been able to replicate, but the user saw this issue and said it sounded like the problem they were experiencing.

I've seen other (likely unrelated) cases of favicons not showing up in Chrome that were resolved by adding a bunch of favicon files, including an apple-tou

[2022-06-04 04:20] arunsathiya opened #64345 "Self-service button to resend verification email for an unverified, new account"
### What

At this time, we don't have a button on Calypso to resend the verification email for an unverified, new account. In the rare chance that the new customer deletes that email, the only option is for a staff at WordPress.com to verify the account manually and that involves an email handshake (WordPress.com to send the email to the customer, and customer has to reply to it from the same addr

[2022-06-04 04:21] arunsathiya commented on #62371
Closing this in favor of a new button on the account page to resend verification email:

- https://github.com/Automattic/wp-calypso/issues/64345

[2022-06-04 04:21] #62371 closed, assigned to nobody

[2022-06-04 05:00] arunsathiya commented on #63627
Sorry about the delay, y'all. Been traveling for a week and just got caught up with these pings. You are right, @jordesign, the option is indeed available on the Calypso performance page. It just wasn't visible on my test site because page-optimize was inactive. I see it after activating it. Closing this report as invalid.

[2022-06-04 05:00] #63627 closed, assigned to nobody

[2022-06-04 08:50] rinazrina opened #64346 "Twenty Twenty-Two: Fill style shows outline/border on the Form block button"
### Quick summary

On Twenty Twenty-Two theme, the button on Form block keeps showing an outline/border even though the **Fill** style is chosen under the Button Block setting.

This only happened to the button on the Form block. A standalone Buttons block works as expected.

### Steps to reproduce

1. Activate Twenty Twenty-Two theme, and open a page editor.
2. Add a Form block on the page.
3. Ma

[2022-06-04 11:07] simison opened #64347 "Hide 1Password at importers URL input"
### Details

When creating a new site and choosing "import" flow, I see 1Password icon on input when the browser extension is installed

<img width="904" alt="image" src="https://user-images.githubusercontent.com/87168/171996365-a2d8192c-6423-40d9-b90a-3069f742ff8d.png">

This seems unnecessary, and there might be an easy way to disable this with an attribute.

### Checklist

_No response_

### Re

[2022-06-04 16:25] arunsathiya commented on #64347
Quick note that this seems to happen only on Google Chrome:

<img width="1279" alt="image" src="https://user-images.githubusercontent.com/18581859/172016075-0a01391d-9a26-4481-a5c9-8e139dda0847.png">

I do not see it on Firefox, which has the same 1Password extension installed:

<img width="1245" alt="image" src="https://user-images.githubusercontent.com/18581859/172016092-78bb31e6-3c38-45a3-aa7f-

[2022-06-04 16:36] arunsathiya opened #64348 "Revision history for style switches and global font changes"
### What

With style switches being a prominent feature on WordPress 6.0, more themes are likely to adopt that functionality soon. Global fonts is already available. Revision history for these two features would be nice, allowing users to undo/review the changes.

### Why

Like post/page content revisions, being able to undo design changes would be a nice-to-have.

### How

_No response_

[2022-06-04 17:07] arunsathiya opened #64349 "Ability to specify specific typography (fonts) for specific blocks"
### What

One of the comments that came up on the WordPress 6.0 training process (p7DVsv-eqg-p2) is being able to specify custom fonts on a block-level basis. While there's a functionality to customize the design of each block-type, there's no option to choose a font at this time.

Here's what we see at the moment:

<img width="497" alt="image" src="https://user-images.githubusercontent.com/185818

[2022-06-04 17:07] arunsathiya commented on #64349
Not too sure if this belongs on core Gutenberg, but logging here as a start. I'll circle back if I find something else.

[2022-06-04 17:09] arunsathiya opened #64350 "Be able to get to Style Switcher from a post or page editor"
### What

An option to access the Style Switcher from the post/page editor, or being directed to the Site Editor from the post/page editor would be nice.

### Why

Currently, Style Switcher is hidden inside the Site Editor. From a technical standpoint, it makes because customizations are a site-level functionality. Previously it was on the Customizer, now on Site Editor. But, for a website owner t

[2022-06-05 04:08] rw-ye opened #64351 "Site Editor: Block inserter (+) hovering on content"
### Quick summary

While using the site editor, the block inserter (+) line appears on top of the content, which makes it difficult to add a new block between other blocks.

Similar to the issue here: https://github.com/Automattic/wp-calypso/issues/63279 however now it is impacting the site editor.

https://user-images.githubusercontent.com/21261509/172034606-4819845b-c24b-4ddd-9190-d7b14bda4463.m

[2022-06-05 04:42] jordesign commented on #45769
Closing this as FAB is being discontinued in the new "Help Center' work

[2022-06-05 04:42] #45769 closed

[2022-06-05 04:43] jordesign commented on #33848
Closing this issue as it is no longer the current layout for Plans.

[2022-06-05 04:43] #33848 closed

[2022-06-05 04:45] jordesign commented on #50701
Closing this as the FAB is being removed as part of the coming Help Center work.

[2022-06-05 04:45] #50701 closed, assigned to olaolusoga

[2022-06-05 04:45] jordesign commented on #40869
Closing this as Help will be a top-level admin item as part of the Help Center.

[2022-06-05 04:45] #40869 closed

[2022-06-05 04:50] jordesign commented on #43989
Closing this as it is stale, and unlikely to be a factor with the new Help Center which is in progress.

[2022-06-05 04:50] #43989 closed

[2022-06-05 04:54] jordesign commented on #50840
Closing this ticket as the FAB is being removed as part of the new Help Center

[2022-06-05 04:54] #50840 closed, assigned to nobody

[2022-06-05 04:55] jordesign commented on #62416
Closing this as the FAB is being removed as part of the upcoming Help Center work.

[2022-06-05 04:55] #62416 closed, assigned to nobody

[2022-06-05 05:01] jordesign commented on #44121
Closing this as the FAB is getting removed as part of the new Help Center work.

[2022-06-05 05:01] #44121 closed

[2022-06-05 05:02] jordesign commented on #56983
Closing this as the FAB is being removed as part of the new Help Center work

[2022-06-05 05:02] #56983 closed, assigned to nobody

[2022-06-05 05:03] jordesign commented on #53980
Closing this as the FAB is being removed as part of the new Help Center work

[2022-06-05 05:03] #53980 closed, assigned to nobody

[2022-06-05 05:31] kuropixel opened #64352 "Offer legacy contacts for deceased / inactive users"
### What

We should offer a way for users to add "legacy contacts", or someone who gets access to a WordPress.com account when someone has become deceased or inactive after a certain amount of time. Both [Apple](https://digital-legacy.apple.com/) and [Google](https://support.google.com/accounts/answer/3036546) have similar systems in place.

### Why

There may be cases where users want to designat

[2022-06-05 05:33] formosattic commented on #64294
Seems related to https://github.com/Automattic/jetpack/issues/24625 and https://github.com/Automattic/wp-calypso/issues/64305

[2022-06-05 05:34] formosattic commented on #64305
+1 5270805-zd-woothemes

Updated initial post with workaround of using Google Forms embed, https://wordpress.com/support/google-docs/#forms.

[2022-06-05 11:06] Robertght commented on #64222
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context: I can confirm this happens, however, I'm adding the screenshot here

📌 ACTIONS
- Marked as Triaged for Quality Squad review

📌 Message to Author
 - If action is set to "Await author feedback" or "Closed as could not replicate".

[2022-06-05 11:07] Robertght commented on #64222
cc @Automattic/serenity

[2022-06-05 11:20] Robertght commented on #64313
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context: this is not theme specific. I noticed this happens with other FSE themes as well.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

@scruffian I found this PR https://github.com/WordPress/gutenberg/pull/41298

[2022-06-05 12:00] delputnam commented on #63467
This was fixed in #64000

[2022-06-05 12:00] #63467 closed, assigned to nobody

[2022-06-05 14:11] csabarakasz commented on #45586
Hi, thanks for testing @vishnugopal ! After testing the www.prosperlaw.com.au Wix site again, which you mentioned in your post, I noticed that it still gives an error message. [Original comment with this site](https://github.com/Automattic/wp-calypso/issues/45586#issuecomment-1143424041).

[code]

I could see the page you inserted as well, but the error message comes after I press **Yes! Start imp

[2022-06-05 18:17] rambogenius commented on #63849
Since both buttons are working, it is more of a feature request to add a space and make it look neater.

[2022-06-05 18:26] rambogenius commented on #63881
In my opinion the Embed block is useful to embed content from another site. This is what the [documentation](https://wordpress.com/support/wordpress-editor/blocks/embed-block/#how-to-embed-content) says as well.

Wouldn't a Blog Posts Block be a better suggestion for folks who want to showcase their posts on a different page of the same site? I am not sure why we are not explaining to them what th

[2022-06-05 18:42] rambogenius commented on #63935
Looks like this (multiple of 48) is a [Google Search](https://developers.google.com/search/docs/advanced/appearance/favicon-in-search?hl=en&visit_id=637900506959094523-4008805821&rd=1) requirement, so maybe we can update our docs instead?

Tagging @donalirl for docs related confidence check.

[2022-06-05 18:42] masperber opened #64358 "Give feedback when Publicize fails due to "Connection available to all administrators, editors, and authors" not being checked"
### What

If a post is written by a non-owner, the checkbox "Connection available to all administrators, editors, and authors" must be checked in order for the post to be shared to connected social media. However, if a post fails to share for the reason, the user does not get any feedback. A message that says "Post Shared" will appear in the bottom left corner, leading the user to believe that the

[2022-06-05 20:50] jp-imagines opened #64359 "Illustratr: Classic editor/classic block galleries aren't rendered with Gallery post format"
### Quick summary

If you insert a gallery using either the classic editor or the Classic Block in the block editor, and set the post format to "Gallery," the gallery images do not display on the live post.

### Steps to reproduce

1. Activate the _Illustratr_ theme.
2. Create a new post in the Classic Editor.
3. Insert a gallery (Add Media > Create gallery > select images > Create a new gallery >

[2022-06-06 01:14] kuropixel commented on #57812
9932676-hc

User was using Safari with 3rd party cookies blocked. I had them try enabling them but that also didn't work.
Suggested they try Chrome/Edge and also provided workaround.

[2022-06-06 01:52] taipeicoder commented on #64179
Thanks for the feedback @saygunnyc! With the Preview page you mean the way current traditional design picker implements previewing? See screenshot below to see what I'm referring to:
![Screen Shot 2022-06-06 at 9 51 39 AM](https://user-images.githubusercontent.com/797888/172081661-d0b1b885-c5a3-4271-886e-ba6eb3b5f514.png)

[2022-06-06 05:09] Robertght commented on #64305
@cuemarie is correct. Closing in favor of https://github.com/Automattic/jetpack/issues/24625

[2022-06-06 05:09] #64305 closed, assigned to nobody

[2022-06-06 05:12] Robertght commented on #64294
35721025-hc in my case, the checkbox options were not passed to email.

@jeherve I'm not sure if this is tied to https://github.com/Automattic/jetpack/issues/24625, but should we move this to Jetpack as well?

[2022-06-06 05:50] vishnugopal opened #64364 "Skip the WordPress Migration selector for WP imports starting from "I don't have a website""
https://user-images.githubusercontent.com/533/172102757-059a9732-fd0a-484b-8fed-b978f0c09f60.mp4

Skip the "Everything selector" screen when in this flow as it doesn't make sense.

[2022-06-06 06:08] vishnugopal opened #64365 "Revalidate and add new track events for the Full Importer flow"
See Full Importer Metrics here: PcmemI-6i-p2

Fix all the red items (by recording track events manually), and revalidate all the green ones in the `/setup` flow.

To revalidate, start from `https://wordpress.com/start`. The Tracks Vigilante extension is super helpful: PCYsg-cae-p2

[2022-06-06 06:36] rw-ye opened #64366 "Form block: Form submissions are not displaying line breaks"
### Quick summary

A user 5271713-zd-woothemes recently reached out to let us know that starting on June 1, when they view form submissions from their email, newlines/linebreaks are not being displayed, even though the form message was submitted with line breaks.

**Here is an example of how I expect the message to look**
<img width="1380" alt="Screen Shot 2022-06-06 at 4 23 52 pm" src="https://us

[2022-06-06 06:59] mriyazuddin commented on #55102
Hey @sixhours ! Looks like this issue is back again. I have a user facing issues uploading HEIC images to posts or WooCommerce products. I'm able to replicate this as well. Here's the error message:

<img width="1440" alt="Screenshot on 2022-06-06 at 12-26-24" src="https://user-images.githubusercontent.com/49064126/172111326-373a2feb-291a-44c6-9eb4-5e374006318a.png">

[2022-06-06 06:59] mriyazuddin commented on #55102
- [ ] Reported in #5272044-zd

[2022-06-06 07:10] rw-ye commented on #57226
5272452-zd-woothemes

Shared the Customize workaround.

[2022-06-06 07:17] jeherve commented on #64294
That seems to be the same issue. Closing as duplicate.

[2022-06-06 07:17] #64294 closed, assigned to nobody

[2022-06-06 08:07] Robertght commented on #64068
I'm not sure how to better support our users here, however, would @Automattic/cylon know more about this? Should this be a thing Elementor needs to adjust on their end as it's an issue on self-hosted site as well?

[2022-06-06 08:13] wojtekn commented on #60280
@creativecoder, thanks for the feedback. This seems to be a more strategic change. If there is a desire to go that route, I think it makes sense to discuss it separately. Thus here, I would try to fix the current UX issue using a solution that doesn’t require us to invest too much time and energy.

Summing up the findings and the feedback:
* building the tree on the client-side using the partial r

[2022-06-06 08:26] Robertght commented on #64088
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context. I couldn't replicate this issue on my end or on their site. Also the user hasn't replied since(May 30).
- I was able to find a previous case with a similar error, but unrelated to this theme: https://github.com/Automattic/themes/issues/5641
-

[2022-06-06 08:26] #64088 closed, assigned to nobody

[2022-06-06 08:30] Robertght commented on #62894
@ClassicRKR27 I'm going to close this one for now, but please take Jordan's advice for next steps.

[2022-06-06 08:30] #62894 closed, assigned to nobody

[2022-06-06 08:42] arthur791004 commented on #60695
@roo2 Do we still need to save this for our new dev?

[2022-06-06 08:47] Robertght commented on #64228
I'm unable to replicate this right now, when using Blank Canvas, Blockbase or a a child theme of either themes.

Marking this as "Needs Author Reply" for now.

[2022-06-06 09:37] Timstreep commented on #64202
Thanks for the explanation @pmcpinto. It makes sense to keep it in place. We have Woo-specific education about onboarding etc. that we want users to be a part of. This is also a way for us to communicate other updates (like core plugin updates and other helpful info).

[2022-06-06 09:40] mrfoxtalbot opened #64369 "Unified Navigation partially obscuring Customize Jetpack Search preview"
### Quick summary

The Unified navigation overlaps and partially hides the content of the "Customize Jetpack Search".

### Steps to reproduce

1. Add Jetpack Search to a Simple Site
2. Head to https://wordpress.com/settings/performance/
3. Click on "Customize Search" to navigate the this link https://example.wordpress.com/wp-admin/admin.php?page=jetpack-search-configure

### What you expected to h

[2022-06-06 10:01] Robertght commented on #64228
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Closing as we cannot replicate the issue anymore.

📌 ACTIONS
- Closed as could not replicate, please reopen this issue if it reoccurs

[2022-06-06 10:01] #64228 closed, assigned to nobody

[2022-06-06 10:13] autumnfjeld opened #64371 "Vertical Question Screen: Add "X" to clear the v13n input box"
# Description

User should be able to easily clear their input. This is a common UI feature in an entry box.  See CfT [discussion](pdtkmj-ba-p2#comment-276).

Add an "X" next to the drop down caret - please get input from @saygunnyc on the visual.

This can be in addition to work done in #64284

![Image](https://user-images.githubusercontent.com/5665959/172141908-9c73bb52-3435-4091-90bb-965e3c2d51

[2022-06-06 10:16] jeherve commented on #64294
The problem should now be fixed on WordPress.com, as of r246875-wpcom.

[2022-06-06 10:32] inaikem opened #64373 "Reusable Blocks: Add focus to `Create Reusable block` on open"
### What

When the `Create Reusable block` modal is triggered via the `Add to Reusable blocks` menu in Gutenberg, it would be fantastic to have the cursor focused in the text field of the modal.

### Why

Usability and accessibility. It feels like having the field focused is expected. When you see the modal you want to type in it immediately.

Note: It takes two tabs to move focus to the field.

#

[2022-06-06 11:04] Copons commented on #63919
Confirmed it's working for non-a11n users!

[2022-06-06 11:04] #63919 closed, assigned to lukaszwilczakwilnet

[2022-06-06 12:02] Addison-Stavlo commented on #64268
Note - im just realizing this may need to work for wp-data actions as well as the css selectors.

Consider a step tries to open a panel or add a block using the editors wp-data store, but that action we are trying ends up being an undefined function.

[2022-06-06 12:02] #63855 closed, assigned to cpapazoglou

[2022-06-06 12:06] #62592 closed, assigned to JulianBustamante

[2022-06-06 12:11] Addison-Stavlo opened #64374 "Next Steps: Send tracking events for tour usage."
Within the next steps tours, we should send tracking events for standard usage such as:
* Task Started
* Task Completed
* Task skipped

[2022-06-06 12:32] sharonlaker19 commented on #62755
More reports at 35723620-hc and 35718416-hc

[2022-06-06 12:36] Addison-Stavlo commented on #64068
I don't think there is much we can do here. By default FSE themes don't support `Appearance -> Menus`.

If a Plugin or Theme wants to surface `Appearance -> Menus` in FSE, it needs to add the code to enable that themselves. Similar to how our 'Blockbase' theme and its children re-add this menu.

So for this, an update needs to be made on Elementor's end if they want `Appearance -> Menus` to be acc

[2022-06-06 12:59] that-mike-bal opened #64376 "NextSteps Guided Tour / Help Center V1"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-06 13:08] #63721 closed, assigned to nobody

[2022-06-06 13:21] andres-blanco commented on #64202
Do you think it would be correct to rename this email field to something like `Store email`, at least in the WP.com onboarding flow?
<img width="791" alt="image" src="https://user-images.githubusercontent.com/375980/172168103-4653ec78-7e94-4ac9-ba55-c83d8fb0a3ec.png">

When coming to Woo from WordPress.com it's a little confusing because you have an email linked to your account, and if you are a n

[2022-06-06 14:08] sixhours opened #64382 "Seller Experience: Audit flows for references to Pro/Starter plans"
As part of an upcoming revert we should be aware of any hard-coded references to the Pro or Starter plans in our flows. Gather those instances in this ticket so we can address them at a future date TBD.

p58i-cuY-p2#comment-54335

[2022-06-06 14:11] cpapazoglou commented on #63854
@Automattic/shilling, is there a hook that runs when a subscription has eventually expired?

[2022-06-06 15:34] poeticabdul commented on #63881
Another report here 5274654-zen . Suggested the work around

[2022-06-06 15:53] worldomonation commented on #64270
Fixed in the PR #64272.

[2022-06-06 15:53] #64270 closed, assigned to worldomonation

[2022-06-06 16:07] obenland commented on #59740
Not needed.

[2022-06-06 16:07] #59740 closed, assigned to nobody

[2022-06-06 16:11] #60361 closed, assigned to wojtekn

[2022-06-06 16:15] obenland commented on #59835
Closing this as there is no specific action that needs to be taken for this one. The downgrade routine in D81926-code will enable a smooth downgrade from any plan.

[2022-06-06 16:15] #59835 closed, assigned to nobody

[2022-06-06 16:32] sixhours commented on #64166
We don't need to wait to ship this behind a feature flag, we can ship it ASAP.

[2022-06-06 17:36] Addison-Stavlo commented on #63508
nothing content review at pbvYe0-U1-p2

[2022-06-06 17:53] lupus2k commented on #63837
Closed because of this PR: #64274

[2022-06-06 17:53] #63837 closed, assigned to lupus2k

[2022-06-06 18:55] markbiek commented on #64163
There's an API call that triggers the email!

`/me/send-verification-email`

I'm going to write a little hook to encapsulate calling it.

[2022-06-06 19:05] andres-blanco commented on #64159
Which email should be confirmed in this case? The one loaded in the address step or the WP.com user one?

[2022-06-06 20:30] #64304 closed, assigned to nobody

[2022-06-06 20:35] creativecoder commented on #62755
I'm not sure of the timing of the WP 6.0.1 release, but @agrullon95 and I are going to ready a fix that we can use as soon as the release happens.

[2022-06-06 21:18] worldomonation opened #64389 "Playwright: `PlansPage.clickTab` interaction is flaky on mobile."
### Details

I was notified in p1654264833113049-slack-C1A1EKDGQ that `PlansPage.clickTab` method is quite volatile/flaky on mobile.

After collecting some data, this does indeed appear to be the case:

![image](https://user-images.githubusercontent.com/6549265/172250928-2e52a853-1983-4043-96d7-f9a5d59fd483.png)

### Checklist

_No response_

### Related

_No response_

[2022-06-06 22:33] p-jackson commented on #60280
I think 100 might be too aggressive. I'm sure the servers could deal with the extra load, what I'm more worried about is fetches on slower internet connections. When I simulate a 3G connection in Chrome for instance, the `/posts` request for 20 items takes ~10s. I worry about what that will mean when we fetch 5x more posts! Perhaps I misunderstand how 3G works, it could be that most of that time i

[2022-06-06 22:58] DustyReagan commented on #54287
Closing this issue because I was unable to reproduce it. I suspect it may have been fixed by Limit Atomic work replacing plan checks with feature checks.

[2022-06-06 22:58] #54287 closed, assigned to DustyReagan

[2022-06-06 23:23] p-jackson commented on #64211
It's definitely supposed to appear on Atomic. You might need to create a new un-launched WoA site from scratch though because I don't think all the relevant settings are stored as site options the same way they are on simple sites.

Is this just an issue with the initial scroll position? @andres-blanco I think I remember we had an issue with the scroll position of the launch banner at some point.

[2022-06-07 02:05] taipeicoder opened #64390 "Generated design picker: Make mobile thumbnails auto-scroll on hover/press"
## Description
We want to make mobile thumbnail's image to auto-scroll while being hovering/pressed. This is so that the user is able to easily preview the design without needing to click the thumbnail and entering the preview mode. See recording for the expected behavior:

https://user-images.githubusercontent.com/797888/172279881-d5fa0955-b801-42ab-a4dc-d17a65f7f3ef.mp4

## Acceptance Criteria
-

[2022-06-07 02:16] taipeicoder opened #64391 "Generated design picker: Switching to the static design picker and clicking "Skip for now" leads to FSE with generated design"
## Description
In the generated design picker, when the user click on "View more options" the UI switches to the static design picker. While in the static design picker, if the user click on "Skip for now" they will be redirected to the FSE, but a generated design instead of a placeholder design. See screenshot below for the placeholder FSE experience:

![Screen Shot 2022-06-07 at 1 27 23 PM](http

[2022-06-07 02:19] donalirl commented on #57399
#34620061-hc another unnecessary support contact

[2022-06-07 02:45] arthur791004 commented on #64390
I think hovering/pressed might be not easy to know or use on mobile. Maybe we can auto-scroll the first thumbnail that is fully in the viewport. What do you think?

[2022-06-07 02:53] taipeicoder commented on #64390
Sorry, I meant to say scroll the thumbnail design while the user has their finger pressed. This idea was from the design spec:
![Screen Shot 2022-06-07 at 10 48 30 AM](https://user-images.githubusercontent.com/797888/172285470-f49bb950-ff11-4a6a-ac83-720928057aaa.png)

I think auto-scrolling the first thumbnail is a good visual guidance that the thumbnails are scrollable 👍
My concern is that some

[2022-06-07 03:05] roo2 commented on #64390
For reference we implemented scroll on hover in the preveiws in the `/new` flow already. https://wordpress.com/new

[2022-06-07 03:11] taipeicoder commented on #64390
Yes! The component we're using already [supports](https://github.com/Automattic/wp-calypso/blob/e9d2f791cb8f207a10f80e251cec8e309e5d1963/packages/onboarding/src/mshots-image/index.tsx#L13) as `scrollable` prop. This task is mostly about making sure it works with the generated design picker's layout/CSS and that the scroll covers the entirety of the design.

[2022-06-07 04:46] roo2 commented on #60695
nope, I think it's fair game now for anyone who can fix it!

[2022-06-07 05:14] nagpai opened #64392 "Marketplace - Bring in Classic view for Plugin installs"
### What

We may want to add a `View > Classic View / WP.com view` toggle for the Add new plugins page too which is currently forced to the Marketplace view.

### Why

We may need to do this for users seeking parity with standard .org WP admin, and not wanting to see our paid recommendations on top. Users should have this choice.

Context :
[35730542-hc](35730542-hc)

### How

_No response_

[2022-06-07 06:14] #64315 closed, assigned to moon0326

[2022-06-07 06:20] rw-ye commented on #16186
- [ ] I have closed 5255977-zd-woothemes as there is currently no ETA on this issue. Please re-open a new ticket when we have more information to share with the user.

[2022-06-07 06:20] p-jackson commented on #64001
Change deployed in D80268-code

[2022-06-07 06:20] #64001 closed, assigned to p-jackson

[2022-06-07 06:26] lsl opened #64395 "Plans navigation tab dropdown auto closes early on some clicks (mobile)"
#### Steps to reproduce

With a mobile viewport, view the plans screen, e.g. http://calypso.localhost:3000/plans/example.com

Select the plans dropdown to change "tabs"

When selecting the dropdown, it sometimes automatically closes.

This happens mostly on first load sometimes, other times if you double/tripple click fast enough and get it into the right state it can be reproduced that way too.

[2022-06-07 07:14] Robertght opened #64396 "FSE: Navigation block has the toolbar on top of the block"
### Quick summary

Hey!

In FSE, the toolbar covers the block itself, so we cannot select a specific menu or make edits on it.

This happens only in FSE, not in the Pages/Posts editor.

### Steps to reproduce

1. Activate an FSE theme
2. Go to Appearance > Editor
3. Add or try to modify an existing navigation block

### What you expected to happen

To be able to manage the menu easily

### What ac

[2022-06-07 07:30] danielk-am opened #64398 "FSE: Image forced resized when align was set."
### Quick summary

https://user-images.githubusercontent.com/92185881/172321082-570fb7b4-54b7-4704-96a3-e958c6c815f8.mp4

Images with an _align_ set were automatically resized on the front end when it was set to Full Size in the Editor, with the Videomaker theme active.

The issue does not happen on a different FSE theme (tested with Archeo).

### Steps to reproduce

1. Activate Videomaker theme.

[2022-06-07 07:50] taipeicoder opened #64401 "Generated design picker: While resizing the browser, pre-selecting a thumbnail causes layout issues in mobile view"
## Description
Currently, the generated design picker stores the last thumbnail selection so that when users re-enter the screen, they can see what they previously chose. This causes a problem where the mobile view doesn't enter the preview mode even though there is already a design selected, creating the following layout issue:

https://user-images.githubusercontent.com/797888/172325372-61784be2-

[2022-06-07 08:04] taipeicoder commented on #64391
@arthur791004 not sure if it's related to this issue, but it seems that with the "Skip for now" button, the image replacement are always food images. This is a recording of the issue, where having "News" vertical, I changed it to "Finance" but clicking the "Skip for now" button I get Food images.

https://user-images.githubusercontent.com/797888/172328736-5b2e3c5e-6621-4982-97d0-0ff73afa86c4.mp4

[2022-06-07 08:23] Robertght commented on #64398
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- This appears to be an issue with FSE in general. Here are my results with Blockbase and Twenty Twenty Two:

![image](https://user-images.githubusercontent.com/6737345/172332410-97234f4d-2cae-4f69-8e3c-2db242f90d23.png)

![image](https://user-images.githubusercontent.com/6737345

[2022-06-07 08:27] #64068 closed, assigned to nobody

[2022-06-07 08:29] arthur791004 commented on #64391
I think it's the original design you choose. That being said, you select the “Food” related vertical before and pick the one of the generated design. So, the home page of your site is replaced with the generated design with “Food” related vertical at that time. That's why you get Food images. Actually, “Skip for now” does nothing. Our new site starts with “Zoologist” by default. And if you never s

[2022-06-07 08:31] arthur791004 commented on #64391
Did you get the generated design while clicking on “Skip for now” on the new site? I tested on the new site but I got the placeholder design, and I think it's the correct behavior, right?

[2022-06-07 08:44] autumnfjeld commented on #64390
These comments are for viewing this feature on a **mobile device**:

On mobile: I just tried the wordpress.com/new flow to see how intuitive it is and it is easy to figure out that the thumbnails scroll.  Though it kind of made me dizzy.  I would set the scroll a bit slower.

It's definitely an odd feature.....personally I think clicking on it and making it open up into a full screen view on mobil

[2022-06-07 08:48] epeicher commented on #63166
We have decided to wait for the diff https://code.a8c.com/D81357 to land before progressing with this task. The diff is starting the review process so it should not take long.

[2022-06-07 08:51] inaikem commented on #64098
Unable to reproduce. Closing.

[2022-06-07 09:05] mriyazuddin commented on #64098
I was able to duplicate this on my test site. See this screenshot below for the upgrade prompt I received:

<img width="1439" alt="Markup 2022-06-07 at 14 32 28" src="https://user-images.githubusercontent.com/49064126/172341246-83edf852-9391-4e58-bf0c-cb260fab2013.png">

The only difference between mine and Mo's site is my site was created with Starter plan and Mo's site was upgraded from Free to

[2022-06-07 09:21] #64179 closed, assigned to miksansegundo

[2022-06-07 09:25] Copons commented on #63398
@csabarakasz we don't track the origin of payments so it's currently not possible to determine where they come from.
It would also be a particularly complicated task, as blocks can be rendered in posts and pages as well as in any other layout element (FSE templates, widget areas, etc.).

Generally speaking, the user could create distinct products for each area they want to track.
This is possible

[2022-06-07 09:25] #63398 closed, assigned to Copons

[2022-06-07 09:59] arthur791004 commented on #64391
So, I think we can close this issue as the current behavior is correct. What do you think?

[2022-06-07 10:04] taipeicoder commented on #64391
Yes, I just tried the flow with a new site, and it works as intended with the placeholder design. Thanks for the troubleshoot!

[2022-06-07 10:04] #64391 closed, assigned to arthur791004

[2022-06-07 10:18] chihsuan commented on #58646
Thanks, folks! Package is published 🎉  https://www.npmjs.com/package/@automattic/tour-kit

[2022-06-07 10:18] #58646 closed, assigned to nobody

[2022-06-07 10:31] kspilarski opened #64404 "FSE/FSE themes: Headings in Default Size on Cover Blocks are cut off in Mobile"
### Quick summary

Using the Videomaker White theme, when adding a heading with default size over a cover block gets the texts cut off in mobile.

### Steps to reproduce

1. Activate Videomaker White theme.
2. In a post or page, add a cover block.
3. Over the cover block, add a heading and set it to Default size.
4. Check the post or page in mobile.

### What you expected to happen

The heading te

[2022-06-07 11:15] Timstreep commented on #64202
Agreed @pmcpinto - the additional context would be helpful. I would also mention WooCommerce specifically. e.g.

'Get tips, product updates, and inspiration from WooCommerce straight to your inbox.'

We can leave out the 'Powered by Mailchimp'.

[2022-06-07 11:58] chriskmnds commented on #58646
Oh! Excellent work @chihsuan ! 🎉

[2022-06-07 12:58] Robertght commented on #64396
Core issue: https://github.com/WordPress/gutenberg/issues/41575

[2022-06-07 13:19] wojtekn commented on #60280
@p-jackson I reduced it, made some tests, and now for 50 items it takes less than one second to get `/sites/$site/posts?number=50&type=page`:

* 20 items: 485ms
* 50 items: 934ms

I played with throttling as well:

* no throttling: 610ms
* fast 3g: 755ms
* slow 3g: 2.5s

[2022-06-07 14:09] aidvu commented on #64009
Hi @pauljacobson. Checked a subsample of all blogs, and found only this one, which is now fixed. Will keep an eye for them, and this one can be closed.

[2022-06-07 14:14] andres-blanco commented on #64211
The issue on Simple seems to have been fixed by D71444-code. The line of code removed [is still on `wpcomsh`](https://github.com/Automattic/wpcomsh/blob/bd766ec428d671b103a1ce320ded7d457f9c98ca/private-site/logged-in-banner.php#L153).

It looks like it was fixed on Simple but not on Atomic.

[2022-06-07 14:33] #64009 closed, assigned to nobody

[2022-06-07 14:35] ClassicRKR27 commented on #63765
I've got another report here:

- [ ] 17541658-hc

[2022-06-07 15:11] i11za commented on #53233
Another headstart request here: 35733939-hc
Theme: Archeo (or a similar alternative)

[2022-06-07 15:32] jorpdesigns commented on #62755
Also reported in 35616593-hc.

The site is using a 3PD theme (JackRyan) and the "Edit Site" link goes to the site editor (leading to the error message).

The "Edit" button on the Themes page goes to the site editor as well.

- [ ] Followed up in 5278002-zd.

[2022-06-07 16:01] sirbrillig commented on #62967
I think this is resolved now. I no longer see any queries to that endpoint in checkout.

[2022-06-07 16:01] #62967 closed, assigned to nobody

[2022-06-07 16:06] #63719 closed, assigned to nobody

[2022-06-07 16:07] dylanrevisited commented on #63854
You could use the [`subscription_removed`](https://opengrok.a8c.com/source/xref/wpcom/wp-content/admin-plugins/wpcom-billing/store-subscription.php?r=e0bba480#832) hook. It is called when either the subscription is cancelled or when it automatically expires.

Please let me know if that works for this particular use case.

[2022-06-07 16:20] michaeldcain commented on #63347
@zyousafi: I edited most of this issue content to remove private information. There's a FG page about what kind of information should be shared in public repos: PCYsg-68j-p2

[2022-06-07 16:32] #63872 closed, assigned to villanovachile

[2022-06-07 16:37] #64159 closed, assigned to andres-blanco

[2022-06-07 16:41] cuemarie commented on #63847
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I tried replicating this on Simple, AT, and Self-Hosted sites with Quadrat White (same as OP's user's theme), and I was able to see the comment form in all three environments on the index template.

<img width="600" alt="Scree

[2022-06-07 16:41] #63847 closed, assigned to nobody

[2022-06-07 16:42] jjchrisdiehl commented on #50064
Update: So far, the two 'base' changes have been dpeloyed: i.e values have been added to the /purchases and /plans endpoints and the PlanPrice component has been updated to account for a productDisplayPrice prop.

Additionally,

- the [Manage Plans pricing](https://github.com/Automattic/wp-calypso/pull/63254) has been updated
- the [Plans page pricing](https://github.com/Automattic/wp-calypso/issu

[2022-06-07 16:53] poeticabdul commented on #53626
Reported here 35171142-hc

[2022-06-07 17:05] DavidRothstein commented on #63854
I think you mean `removed_subscription` actually, but yes -- that's the one that should be run whenever the subscription is removed (for any reason).  It has nothing to do with turning off auto-renew, which is a separate action.

[2022-06-07 17:15] masperber commented on #52034
27305083-hc another example where this would have been helpful. Customers often try to create a new site using a domain that they already have registered. However, the workflow stops them cold if they try to use a domain that is already connected to another one of their sites. HEs often have to walk them through, instructing the customer to skip adding a domain until after the site has been create

[2022-06-07 17:29] DavidRothstein commented on #63347
Previously reported: pNPgK-5JQ-p2

[2022-06-07 17:35] andres-blanco commented on #64382
There is some usage of the `isElegibleForProPlan` selector in [this file](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/index.tsx#L291) to form the link to checkout. I don't know how the revert is going to roll out, but if the flag `'plans/pro-plan'` is turned off there will be nothing to do here.

[2022-06-07 17:36] andres-blanco commented on #64382
There's a reference to Pro Plan [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/woo-confirm/index.tsx#L171).

[2022-06-07 17:44] cuemarie commented on #63881
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- On my Simple and Self-hosted test sites, the Featured Image displayed without issue in the Embed block, while Lazy Load was on. i.e. - not replicated.
- On AT sites, using the Embed block with Lazy Load ON hides the featured i

[2022-06-07 17:49] Jaykame commented on #64351
Another report here with the same issue happening in Editor: 5278312-zd-woothemes

[2022-06-07 17:49] cuemarie commented on #63881
One other note: on my AT test site with Lazy Load ON, embedded posts from an external site _do_ display their featured images, while the post from the same site's featured image is hidden.

<img width="600" alt="Screen Shot 2022-06-07 at 10 48 22 AM" src="https://user-images.githubusercontent.com/27249804/172448984-6e4efff6-08d6-4b04-9343-e2c8c7a05b87.png">

[2022-06-07 18:06] cuemarie commented on #62975
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicable just as Ashley describes - once an invited subscriber clicks `Accept Invitation` in their email, they are taken to a WordPress.com screen where they are prompted to `Join` the site, and then they land on a dashboard of the site - alrea

[2022-06-07 18:08] michaeldcain commented on #50064
I think that's a good solution.

[2022-06-07 19:07] worldomonation opened #64418 "E2E: remove user signup coverage from `Signup: Free` spec."
### Details

As per https://github.com/Automattic/wp-calypso/pull/64307, the inclusion of user signup process is not required in the `Signup: Free` spec, as it is duplicated by the `Plans: Free` spec.

### Checklist

Consider (these are merely @worldomonation's suggestions):
- Remove the signup process from the spec entirely, substituted with API calls. In this case,
  - [ ] the spec should be ren

[2022-06-07 19:08] delputnam commented on #62462
Thanks for the report @masperber.  I'll add a task for us (Nomado) to update this.

[2022-06-07 19:10] markbiek commented on #64164
Noting that we need to post the following to `/rest/v1.1/me/settings` to change the email address. Need to verify if this also kicks off a verification email or if we need to do that separately.

[code]

[2022-06-07 19:28] dpasque opened #64420 "Playwright: Add some non-tracking coverage for the site editor"
### Details

Right now, the site editor integration on WordPress.com doesn't have much E2E testing apart from the editor tracking tests.

That overloads the editor tracking tests in an unhelpful way. It's hard to tell if failures are more due to the editor tracking failure, or the actual site editor having a bug.

### Checklist

- [ ] Design the right amount of coverage for the site editor
- [ ] A

[2022-06-07 19:28] dpasque commented on #64420
This would be a great first task for some of our new folks starting!

[2022-06-07 19:34] worldomonation commented on #64395
Related issue on e2e framework side: https://github.com/Automattic/wp-calypso/issues/64389

My understanding of this (from a black box perspective) is that this is caused by rest of the page loading past the `networkidle` event firing. The lazy loading ends up swallowing the click to toggle open the Navtab.

On the e2e framework side, I can work around this by waiting for the `main` element to be

[2022-06-07 19:50] dpasque opened #64422 "Playwright: Split out the editor tracking tests into their own TeamCity build / Jest group"
### Details

Right now, all the editor tracking tests are run as part of the Gutenberg jest group and TeamCity build. The problem is that can create a lot of noise during the Gutenberg upgrade process.

Editor tracking breakages should almost never delay a Gutenberg upgrade, and there may be a bit of delay in when they are fixed.

They should definitely get their own jest group. Then, we should ei

[2022-06-07 20:51] jamiepalatnik commented on #63962
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - N/A

📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested importing a Jetpack-connected self-hosted site using the Everything Import tool. I see that after the import, both sites appear in Calypso—but the URL is different for the two sites and I am able to select which site I want to work on. Selecting my Jetpack-connecte

[2022-06-07 20:57] #57210 closed, assigned to agrullon95

[2022-06-07 21:21] jamiepalatnik commented on #63967
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - N/A

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I followed the testing instructions and tested on a test site that had a 5-day streak. I deleted the last post from the streak, then checked the notification. There was no change to the notification. It still reads "You're on a 5-day streak".

📌 ACTIO

[2022-06-07 21:52] Jaccuse commented on #52728
Might need reopening, @1dr0, I ran across what seems to be another case in 31616736-hc

[2022-06-07 21:54] jamiepalatnik commented on #64044
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested on simple site, AT, and self-hosted. Created post as contributor, then followed steps to remove tag as site owner. Tested removing tags while post was saved as draft, and after the post was published. In all tests, remo

[2022-06-07 21:54] #64044 closed, assigned to nobody

[2022-06-07 22:04] jamiepalatnik commented on #63595
📌 ACTIONS
- Closed as could not replicate, please reopen this issue if it reoccurs

📌 Message to Author
 - I am going to go ahead and close this since it seems like this issue is only happening with that specific file from the user report and does not depend on the site plan. I was not able to replicate with other webp files. If you can reproduce this issue with other webp files on a test site or

[2022-06-07 22:04] #63595 closed, assigned to nobody

[2022-06-07 22:28] happychait commented on #63847
Thanks for testing this, @cuemarie! This is not a bug.

Here is what happened:

When I reported this issue, I tested with the  **Twenty Twenty-Two (Red)** theme which has the `Home` template as well as `Index` template. I added the `Comments` block to the `Index` template, but didn't realize that `Home` template takes precedence when it exists(template hierarchy!) over the `Index` template. So wha

[2022-06-07 22:43] p-jackson opened #64426 "Launch Bar: On Atomic, the bar is visible only if the users scrolls up"
Sometimes when loading a view with the launch bar, the page is scrolled down enough to hide the launch bar behind the admin bar.

This is the same as the same bug as #58355, which has been fixed on simple sites. This issue is to address the issue on WoA sites.

Raised in this issue thread #64211. The simple site fix: D71444-code.

It's worth being aware that this fix involves rolling back another

[2022-06-07 22:48] p-jackson commented on #64211
Thanks @andres-blanco! I _thought_ I remembered that issue from the blogger pod work :)

I've created a new issue (#64426) on the Build team's board, which is basically just to roll out the D71444-code fix for Atomic sites too. The Build team has the capacity at the moment to fix it, but if Serenity would prefer to that's fine too. CC @blackjackkent

[2022-06-07 23:03] worldomonation commented on #64389
Looks like PR #64395 did not help as we have a failure:

![image](https://user-images.githubusercontent.com/6549265/172497312-897de611-b584-42ae-a6fe-7950e37cd3ea.png)

[2022-06-07 23:45] worldomonation opened #64429 "Playwright: show path to the locally captured artifacts if a test fails."
### Details

Currently, it is difficult to know which directory within `test/e2e/results` is the most recent run that failed locally.

At a minimum, print the path to the folder, either at beginning of the test or at end of the test.

### Checklist

- [ ] Investigate the file structure of `packages/calypso-e2e`.
- [ ] Identify a suitable location to make this change.
- [ ] Determine the scope of c

[2022-06-08 00:02] #63726 closed, assigned to worldomonation

[2022-06-08 00:46] Gustavo-Hilario opened #64431 "Pique > Buttons > Mobile: buttons aren't centered and text is wrapping into multiple lines"
### Quick summary

When setting buttons to be centered on the editor, it doesn't work on smaller screens. The button text is also breaking into multiple lines.

### Steps to reproduce

1. Activate the Pique theme.
2. Create a new post or page.
3. Add the `Buttons` block, and some text and set the button to be centered.
4. Check the button on your mobile.

You should see something like this:

![IMG

[2022-06-08 01:16] #63280 closed, assigned to nobody

[2022-06-08 01:41] rosepajaroja opened #64432 "Stats - Sudden spike on the number of Views in one day from one country (Russia)"
### Quick summary

We couldn't determine how this site received a sudden spike on the number of views from Russia on June 7, 2022.

<img width="874" alt="Screen Shot 2022-06-08 at 09 22 25" src="https://user-images.githubusercontent.com/9984867/172512624-e9088fb4-8414-4226-bc56-d1e76dabec63.png">

Page Views, Link Clicks and Referrers are all less than 100.

<img width="1034" alt="Screen Shot 2022

[2022-06-08 02:48] inaikem commented on #60732
@jordesign, quick confidence check 🙏

Do you think the above will be resolved by this: pNEWy-f1z-p2#comment-54652 ? I've not looked into it in too much detail yet.

[2022-06-08 02:52] jordesign commented on #60732
I wouldn't expect that to impact it directly - no.
That change would mean there are *less* reasons to need the customizer - but for the other reasons mentioned in this thread - users may still need to access it.

[2022-06-08 03:00] edwinho89 commented on #45586
17543059-hc

Had this error message:

[code]

Suggesting workaround from previous comment: https://themeisle.com/blog/transfer-from-wix-to-wordpress/

[2022-06-08 03:07] p-jackson commented on #53626
🤔
The audit log for 19251354-hc looks like it might be a different issue. There is no record of the launch event happening prior to them reaching out to support. So it could be they never completed the flow or the launch just failed in some other way.

The 35171142-hc one looks more like this issue though. It's Atomic while the issue above is Simple. It'll be interesting if that's a pattern that e

[2022-06-08 03:35] supernovia commented on #60732
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core: No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
On WordPress.com, we have a Calypso view and a wp-admin classic view, as well as menus.

**The Theme page is inconsistent between Calypso (Default View) and /wp-admin (Classic View)**
🙃 Simple shows an Edit butto

[2022-06-08 04:18] Robertght opened #64435 "Sharing buttons do not work inside Calypso anymore"
### Quick summary

The user reached out to us and mentioned that when accessing the site from the dashboard, under https://wordpress.com/view/DOMAINNAME, the sharing buttons do not work anymore.

### Steps to reproduce

1. Access the dashboard of the site.
2. Make sure the sharing buttons are turned on
3. Access https://wordpress.com/view/DOMAINNAME

### What you expected to happen

To be able to

[2022-06-08 04:20] supernovia commented on #60732
^^ Sorry my drag-and-drop was being fussy.

Also, this is probably related. cc @Robertght  again 😅
https://github.com/Automattic/wp-calypso/issues/62755

[2022-06-08 04:29] arthur791004 opened #64436 "Blog Report Card: Allow site vertical editable by HEs"
## Description

Currently, we show the site vertical on the Blog Report Card. We might also need to provide the ability to edit the field such as “Change Blog Vertical”. Still need a discussion on this. Maybe can only be editable for sites that do not have a vertical value

## Acceptance Criteria

- [ ] Allow the site vertical to be editable by HEs on the Blog Report Card

## Related

https://gith

[2022-06-08 04:35] arthur791004 commented on #62613
As this one might need a discussion, I create another issue for it. See https://github.com/Automattic/wp-calypso/issues/64436

[2022-06-08 04:36] arthur791004 commented on #62613
Close it as D82183-code is shipped and we can see the site vertical on the Blog Report Card.

[2022-06-08 04:36] #62613 closed, assigned to arthur791004

[2022-06-08 05:09] hacchism opened #64437 "Snaps: Can't center Vimeo Embeds"
### Quick summary

With the Snaps theme, a Vimeo video can't be centered even if the center alignment option is selected.

### Steps to reproduce

1. Activate the Snaps theme.
2. Create a new page.
3. Add a Vimeo block.
4. Select the center alignment option.

![Screen Shot on 2022-06-08 at 14:04:20](https://user-images.githubusercontent.com/32432463/172535779-2b8e14fa-5fa9-4922-8f3d-c82eb99931ce.p

[2022-06-08 06:22] nagpai opened #64438 "Gutenberg - Margin controls on any block that involves layout"
### What

Blocks like Cover block, Media and text block , do not have the provision to adjust margins ( especially top and bottom margins ) . That leads to awkward white gaps in layouts

![image](https://user-images.githubusercontent.com/4162931/172545647-7ed5fa7d-53e9-4767-a0d4-361c49de449b.png)

Blocks seem to have padding controls, but not margin.

### Why

Without this control user has to depe

[2022-06-08 06:32] arthur791004 commented on #64401
Close it as it's shipped 🚢

[2022-06-08 06:32] #64401 closed, assigned to arthur791004

[2022-06-08 06:33] lsl opened #64439 "Marketplace: Partners Create account rebranding"
We're rebranding the login screen in 13520-gh-Automattic/woocommerce.com but also require the same treatment to the create account flow for wpcc.

https://user-images.githubusercontent.com/811776/172550442-fdca1f7d-e975-4167-8f4d-222f73a20004.mp4

(you can ignore the woo header appearing during page load ([bug](https://github.com/Automattic/wp-calypso/pull/64362/files#r891964275)))

- [ ] Rebrand

[2022-06-08 06:58] nagpai commented on #53233
35742813-hc

[2022-06-08 07:58] taipeicoder opened #64441 "Vertical question screen: Dropdown is cut-off in mobile view"
## Description
The vertical question screen dropdown can be too tall for smaller mobile devices, causing some dropdown options hard to select. Also, option text colors are blue instead of the design spec: 42PgVsdlQ1v2wpk6lmmrnq-fi-1334%3A44563

See recording:
https://user-images.githubusercontent.com/797888/172563992-3c9d0ccc-f30f-45e9-a1e0-58c9083b260f.mp4

## Acceptance Criteria
- [x] The sugges

[2022-06-08 08:37] taipeicoder opened #64442 "Vertical question screen: Improve input field positioning while typing in mobile view"
## Description
In mobile view, the input field moves around (likely by the suggestion dropdown) while the user is typing. This causes the input field to be sometimes out of the viewport. See recording:

https://user-images.githubusercontent.com/797888/172570845-c5cca978-522d-46df-8c26-9c4c077362bd.mp4

## Acceptance Criteria
- [ ] The input field should always be fully visible while the user is ty

[2022-06-08 08:47] wojtekn commented on #60361
We are fixing it in 1.6.3 release:

https://github.com/Automattic/crowdsignal-forms/pull/225

[2022-06-08 08:51] scruffian commented on #64313
Yeah I think this is fixed by https://github.com/WordPress/gutenberg/pull/41298

[2022-06-08 08:51] #64313 closed, assigned to nobody

[2022-06-08 08:54] aidvu commented on #62035
Fixed. The Comments by Author section was approximate (looking only at most recent comments). I've updated the code to show correct counts.

[2022-06-08 08:54] #62035 closed, assigned to aidvu

[2022-06-08 09:46] dolgelukkig opened #64444 "Video not working on Iphone"
### Quick summary

The video on the homepage is not displaying on Iphones.

### Steps to reproduce

Open the site on an Iphone
The site opens fine but is displaying a white area where the video is supposed to be.
An HE with an Iphone was able to replicate this issue, the video works fine on my Android phone

### What you expected to happen

When opening the site I would expect the video to start p