[2021-05-24 19:27] jeffgolenski commented on #47334
Good stuff @p-jackson — thanks for that added work. Really like the "show me what's next" to push the forward motion of the flow.

![Screen Shot 2021-05-24 at 3 26 13 PM](https://user-images.githubusercontent.com/214813/119397639-6b8d1a80-bca4-11eb-96b5-d2f212fcee26.png)

Do we happen to have data on how many people were launching, and then clicking "Show site setup" & "skip site setup" before? Se

[2021-05-24 19:46] kristenzuck opened #53127 "Menu: Non Linking Menu Item"
Users often request adding an item to their menu which is unclickable and or non linking, to act as a category title of sorts for sub menu items.

Currently there is a workaround where you add # as the URL in the Custom Link menu option. If someone does happen to click on it, it will technically jump to the top of the page, although it isn't usually noticeable since most nav bars are at the top of

[2021-05-24 20:11] sirbrillig opened #53128 "Refactor lib/signup/cart to TS"
`lib/signup/cart` is one of a couple places in calypso that accesses the shopping-cart endpoint directly without going through the `@automattic/shopping-cart` package. However, this means that it is subject to bugs that would otherwise be prevented by that package. For example, https://github.com/Automattic/wp-calypso/pull/53093

https://github.com/Automattic/wp-calypso/pull/52355 added unit tests

[2021-05-24 20:19] kathrynwp commented on #47562
I think this is well worth keeping open. We now have a paid podcasting course on WordPress.com and providing this option would be useful for overcoming the current very cumbersome stats method described above.

[2021-05-24 20:32] chad1008 commented on #43183
Another report of confusion about the non-primary domain appearing: 28451445-hc

[2021-05-24 20:48] jordesign commented on #43540
Using the existing card designs seems sensible given the speed of the work we're doing. Good call!

[2021-05-24 20:50] kathrynwp commented on #50053
Until we have a decent number of themes fully supporting FSE, I would lean toward adding a ribbon or other type of highlight – rather than hiding other themes behind some type of toggle. This would shine a positive spotlight on themes that let folks take full advantage of the FSE functionality ("bonus!"), rather than reflecting a lack (i.e. a dearth of themes missing the feature).

I think we woul

[2021-05-24 21:00] ClassicRKR27 commented on #53116
It appears there may be another instance of it here: 4012645-zd-woothemes

[2021-05-24 21:17] cbauerman commented on #46802
So, I did some digging into the "Invalid/missing request nonce." and discovered that, unfortunately, due to the way Support Sessions work you will **always** get that as an error when in a session as a user. Basically the request is made unauthenticated, and the nonce provided from Calypso will not work since it was created for a user. This is unideal for us, since it blocks debugging these issues

[2021-05-24 22:47] pauloeaquino commented on #43183
A report here in 28561930-hc (which was a while back before I knew this GH issue existed). User concerned about the default site address showing instead of their primary domain.

[2021-05-24 23:42] hacchism commented on #53100
Another case in forum: https://wordpress.com/ja/forums/topic/%e6%96%b0%e8%a6%8f%e3%82%82%e7%b7%a8%e9%9b%86%e3%81%a7%e3%81%8d%e3%81%aa%e3%81%8f%e3%81%aa%e3%82%8a%e3%81%be%e3%81%97%e3%81%9f/

System: Mac, Safari 14.1

[2021-05-25 00:13] hacchism commented on #53100
Another case: 4001047-zd-woothemes
Simple or Atomic: Simple site

For now, I asked the user to try clearing cache also asked for more info such as device, browser, OS they are using.

[2021-05-25 00:48] katiebethbrown commented on #53100
Another report in 20356509-hc (simple site)

Safari 14
OS X 10.15.7
Javascript enabled - Yes
Cookies enabled- Yes

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Safari/605.1.15

[2021-05-25 01:29] p-jackson commented on #47334
Surprisingly we do not have that data (at least easily accessable). Adding in #53134.

[2021-05-25 01:30] donalirl commented on #28322
#8238506-hc

[2021-05-25 01:36] fullofcaffeine opened #53135 "Gutenberg: v10.7.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/52595
Release notes: [v10.7.0-rc.1](https://github.com/WordPress/gutenberg/releases/tag/v10.7.0-rc.1), [v10.7.0](https://github.com/WordPress/gutenberg/releases/tag/v10.7.0), [v10.7.1](https://github.com/WordPress/gutenberg/releases/tag/v10.7.1).

- [ ] Install and activate
  - [x] Copy & install v10.7.0-rc.1 (D61793-code, D61795-co

[2021-05-25 01:42] fullofcaffeine commented on #52595
I've created the tracking issue for v10.7.x, [here](https://github.com/Automattic/wp-calypso/issues/53135). I'll keep this open until we update **edge** to v10.7.x, which is blocked until we ship https://github.com/Automattic/wp-calypso/pull/53131/. v10.6.x never got beyond edge due to blockers listed above (also see: p1621444728022400/1621357342.009900-slack-C7YPUHBB2).

[2021-05-25 01:50] retnonindya commented on #52209
28925731-hc

Simple site.

And, I'm not sure about the error, but here goes...

First error: The user mentioned the text "Updating failed. Sorry, you are not allowed to edit this post" appears *within the sentence/paragraph* of their blog post -- in contrast with the usual pop-up/modal.

Second error: The error displayed using banner as usual.

As of now, I suggested them to clear browser cache.

[2021-05-25 03:13] autumnfjeld commented on #47334
Just a lil summary at this point in the thread discussion.
This thread has led to some great, albeit complex discussions, which have exposed a number of user facing problems:
   * Menu Editing is confusing and it is difficult for us to even decide how to present that to users (to be or not to be in the site checklist?)  .  Also to be noted that some of this pain will be alleviated with FSE.
   * S

[2021-05-25 03:27] kosiew commented on #53100
Another report - #4007631-zen, Safari browser.

Clearing browser cache worked for them.

[2021-05-25 04:43] p-jackson commented on #53036
Fixed by #53101

[2021-05-25 04:43] #53036 closed, assigned to jordesign

[2021-05-25 06:19] kspilarski commented on #50709
Same case as 28057166-hc.

[2021-05-25 07:15] kuropixel commented on #52556
4017013-zd
I've got a user experiencing this issue again it seems.
The user was reporting 4.4K views for the month of May via the insights tab.
On my side, I saw 4.6K. We both exchanged screenshots and the user tried from various browsers and machines but was unable to see the latest stats/insights.

[2021-05-25 09:38] #52608 closed, assigned to alshakero

[2021-05-25 10:01] autumnfjeld opened #53138 "My Home: remove the "Site created" checklist item"
### Overview
This is part of [My Home 🏠 Pod short-term design improvements](pd2qGl-2P-p2#short-term-goals)

My Home: Remove the "Site created" checklist item
![image](https://user-images.githubusercontent.com/5665959/119479368-e8e38880-bd93-11eb-9c37-e4ed823369b7.png)

### User facing acceptance criteria
User has gone through site onboarding
When they land in My Home
Then they see the Site Checkli

[2021-05-25 10:03] autumnfjeld opened #53139 "My Home Template ticket"
⚠️ This is a My Home template ticket made by @autumnfjeld ⚠️
![bitmoji](https://sdk.bitmoji.com/render/panel/c7cb9dee-3c6f-488e-96e3-76db13f87c0d-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=34)
### Overview
This is part of [My Home Pod short-term design improvements](pd2qGl-2P-p2#short-term-goals)

My Home:

### User facing acceptance criteria
Given that the user has

[2021-05-25 10:04] kosiew commented on #53089
Hi @KirkwallDay ,

Can you clarify what you meant by inline embed?
If possible, please link to a help document so that I can test with the same block.

[2021-05-25 10:09] davipontesblog commented on #47992
Moving back to Prioritization since it's been reopened.

[2021-05-25 10:11] davipontesblog commented on #45317
Moving back to triaging board since it's been reopened.

[2021-05-25 10:19] kosiew commented on #53102
Hi @Nic-Sevic ,

Can you provide more details to reproduce this?

I could not reproduce it with these conditions:
1. simple site
2. prevent cross site trackin
3. site set to private

![Screenshot](https://d.pr/i/53Nddr+)
*if image does not load, please click on this link  : https://d.pr/i/53Nddr*

[2021-05-25 10:45] carinapilar commented on #53100
Got another 4 reports:

- 4011145-zd-woothemes
- 4013072-zd-woothemes
- 4016076-zd-woothemes
- 4012924-zd-woothemes

[2021-05-25 11:05] autumnfjeld opened #53141 "My Home (pre-launch): visual cleanup, reducing unneeded elements"
### Overview
This is part of [My Home Pod short-term design improvements](pd2qGl-4i-p2)
pd2qGl-4i-p2#reducing-unneeded-elements
My Home: **pre-launch** visual cleanup, reducing unneeded elements

![image](https://user-images.githubusercontent.com/5665959/120263101-651f2400-c2de-11eb-8650-ac42693008bc.png)

### Task List
- [x] Removing non-essential icons #53569 #53570
- [x] Rename the "Create a lo

[2021-05-25 11:23] rinazrina commented on #47855
I got another report here: #21083114-hc

[2021-05-25 11:35] tyxla commented on #48407
Addressed by @jsnajdr in #52060.

[2021-05-25 11:35] #48407 closed, assigned to nobody

[2021-05-25 11:36] cpapazoglou commented on #46077
I have update the code here D61740-code, it's ready for review.

After a short convo (p1621940313143500/1621935668.137700-slack-C01VDMPHG69) about hiding the profile fields from WP Admin, @mmtr suggested:
- Hide these fields for all WP.COM users editing their own profile
- Hide these fields for administrators trying to edit another WP.COM user
- DO NOT Hide these fields for administrators trying t

[2021-05-25 12:38] #47437 closed

[2021-05-25 12:53] retrofox commented on #51826
I'm not sure about this, Allison. I think we should check whether the Jetpack site is not an Atomic one. [Here the PR](https://github.com/Automattic/wp-calypso/pull/53144).

[2021-05-25 13:49] deancroyal commented on #53100
WordPress.com forums: https://wordpress.com/forums/topic/website-problem-21/

User resolved themselves. Attempting to gather more information within the thread.

[2021-05-25 14:11] KirkwallDay commented on #53089
Hi @kosiew ,

It's just the basic file block, but when embedding a PDF there is a block setting to "Show inline embed." After inserting the block and selecting your file, look for the setting in the block settings here:
![Annotation on 2021-05-25 at 08-07-47](https://user-images.githubusercontent.com/49131029/119512720-cf5d2500-bd30-11eb-8691-8c6dfbea3062.png)

[2021-05-25 14:15] jsnajdr commented on #14694
@richardkang112 You're welcome to work on this issue! Let me know if you need any assistance.

You can start with the existing PR (#29745) by @yg-apaza and improve it a bit: to allow the dot char only if the record name is SRV. And not for any other types like A or MX.

[2021-05-25 14:19] AtrumGeost commented on #52240
Got a user asking about this feature in a Quick Start session:

4017795-zd-woothemes

The user was considering this plugin which looks like a good option:

https://wordpress.com/plugins/filebird/

The plugin helps categorize images without changing the folders (or creating new ones). It would be great to have that as a built-in function: a way to "categorize" images.

[2021-05-25 14:38] mmtr commented on #50701
@olaolusoga if you have time, can you take a look at this issue so we can pick it up during our next iteration?

[2021-05-25 14:45] mmtr commented on #52283
@brandonpayton can you advise about how long would it take to migrate the comments done by members of the site during the AT transfers? Also, can you point us at the piece of the code where we should implement it? Thanks!

[2021-05-25 14:48] simison commented on #52985
Samsung A71 on Firefox or Chrome. Likely .com simple site.

Sorry can't see what site it was anymore. :-(

[2021-05-25 14:48] cpapazoglou commented on #50709
Possibly related to https://github.com/Automattic/wp-calypso/issues/46077

[2021-05-25 14:59] cpapazoglou commented on #51864
This will be resolved as part of https://github.com/Automattic/wp-calypso/issues/46077

[2021-05-25 14:59] #51864 closed, assigned to nobody

[2021-05-25 15:04] mmtr commented on #51828
@allilevine FYI, I'm fixing a similar issue in https://github.com/Automattic/wp-calypso/pull/53146, maybe there are some changes there that may be helpful here.

[2021-05-25 15:23] joashrajin opened #53149 "Jetpack :: Form Blocks :: Additional CSS Classes do not load on the Front-end"
### Steps to reproduce the behaviour

1. Add a Contact Form Block (or any other Form Block - RSVP etc)
2. Go to Block > Advanced > Additional CSS Classes and add any Custom Class here.
3. Publish the page.
4. Open the Page on the Front-end and check the Source-code for the Additional Class.

#### What I expected to happen

The Additional CSS Class should load on the Front-end too

#### What actual

[2021-05-25 15:25] allilevine commented on #51828
Thanks, definitely!

[2021-05-25 16:58] kwight commented on #52012
We discussed this today. The first step would be to see if the WP.com Customizer iframe has a mechanism like `wpcom-block-editor` does, for passing Calypso data back and forth with the iframe. Assuming that doesn't already exist, it wouldn't be worth implementing it from scratch just for this; in that case, the next step would be getting something working using the existing `customizer-fixes` plug

[2021-05-25 17:00] niranjan-uma-shankar opened #53156 "iframe messages in console when logging in to WP.com"
### Steps to reproduce the behavior

1. At https://wordress.com/log-in, sign in to an account which has multiple mapped domain sites.
2. Observe browser console messages

#### What I expected to happen

No console warnings

#### What actually happened

I saw a bunch of iframe related console warnings for each mapped domain site. These errors are likely due to the attempt to iframe mapped domain si

[2021-05-25 17:01] mbrod90 opened #53158 "Can not load with yarn"
Newbie here!

### Steps to reproduce the behavior

I pulled down wp-calypso and installed yarn.
In my terminal I put yarn start and I am getting the following message.
The engine "node" is incompatible with this module. Expected version "^14.16.1". Got "16.2.0" Commands cannot run with an incompatible environment.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

[2021-05-25 17:16] danielwrobert commented on #52985
@simison Feel free to use the un-launched test site I posted above (https://test211367648.wordpress.com/) and let us know if you can reproduce it there.

[2021-05-25 17:22] metabreakr opened #53159 "CSS syntax error in tag 'style amp-custom'."
### Steps to reproduce the behavior

Starting on May 24, users on both simple and Atomic sites have begun reporting the following error in Google Search Console:

[code]

However, Google's AMP validator does not show this issue. For example:

* https://search.google.com/test/amp?id=YR_WK0XZPRuocs-ngvW2og
* https://search.google.com/test/amp?id=kqjl40NtoMKUEGOPmeuTBA

### Context

C03TY6J1A/p162186

[2021-05-25 17:42] michaeldcain commented on #52611
From our planning call:

The right solution might be to just remove the notice from the up-sell. If that doesn't break anything, then we celebrate.

[2021-05-25 18:34] #53128 closed, assigned to sirbrillig

[2021-05-25 20:22] kriskarkoski commented on #53159
This issue is also being tracked here: https://github.com/Automattic/jetpack/issues/19922

[2021-05-25 21:05] supernovia commented on #52209
Noting I've seen another case where people are getting this when trying to edit a page. edit.php lists the affected page as the posts page with a little round ℹ️  icon and says it cannot be edited. But Customizer does not list that page as the posts page.  It's probably a different issue, but as it has the same error I will note it here as well:
3960837-zd-woothemes

[2021-05-25 21:13] autumnfjeld commented on #52991
@p-jackson    Just want to make sure we get HE/business/eyes across this. I wasn't sure if anyone is actually aware we're ready to ship this.  Maybe a P2 for HE? If you didn't already have that in the works.

cc: @jordesign

[2021-05-25 21:16] KirkwallDay commented on #53100
Another report here:
29790229-hc

Details:
Screen Resolution:
1600 x 900
Browser Size:
1327 x 779
User Agent:
Safari 14.1 on Mac OS X 10.15.7

[2021-05-25 21:35] darnelldibbles-zz commented on #53100
Another instance in the forums: https://wordpress.com/forums/topic/page-edit-screen-is-blank/#post-3683867

[2021-05-25 21:40] #52595 closed, assigned to fullofcaffeine, WunderBart

[2021-05-25 23:11] supernovia opened #53167 "Editing front page without a posts page set: "Sorry, you are not allowed to edit this item""
### Steps to reproduce the behavior
I have not been able to duplicate this on a test site yet, but we have a handful of reports now. Here are the symptoms:

- Click edit on the front (static) page. Note this is happening to users AND superadmins, so editor does not seem to matter.
- See the error "Sorry, you are not allowed to edit this item."
- If you view /wp-admin/edit.php?post_type=page , noti

[2021-05-25 23:13] supernovia commented on #53167
Another case here:
https://wordpress.com/forums/topic/unable-to-edit-page-2/

[2021-05-25 23:53] worldomonation opened #53168 "Playwright: Migrate wp-likes-spec.js"
**Task Details**
Migrate the test wp-likes-spec.js.

**Related to**
#52849

[2021-05-26 00:01] worldomonation opened #53170 "Write up Playwright code style."
**Task Details**
There is enough difference between the Playwright and Selenium frameworks that I think an update to the code style (including naming variables, etc) should be updated.

**Related to**
Parent: #52464

[2021-05-26 00:13] jordesign opened #53171 "My Home: Add better indication that a site is in 'Coming Soon' mode"
Immediately after onboarding the user lands on My Home with a success message and is prompted to start their site. Would it be possible to add some further clarity about the fact that their site is not yet launched/public?

<img width="1579" alt="Screen Shot 2021-05-26 at 9 43 18 am" src="https://user-images.githubusercontent.com/1842363/119583297-a197df00-be09-11eb-8aac-0c51fd047473.png">

There

[2021-05-26 00:32] jordesign opened #53172 "My Home: Make 'Edit Homepage' more inclusive for users who are starting a blog"
During the onboarding checklist we currently prompt users to 'Edit your homepage`. This makes sense if the user is building a 'site' with a traditional homepage - but could be a bit of a roadblock to users who intend on starting a blog.

Really - they want to get started with adding post content...

<img width="1034" alt="Screen Shot 2021-05-26 at 10 20 59 am" src="https://user-images.githubuserco

[2021-05-26 00:47] jordesign opened #53173 "Editor Navigator Sidebar: 'Back' link refers to 'All Page' when editing page after Theme Activation"
### Steps to reproduce the behavior

1. Activate a 'Recommended' theme from the Theme Showcase
2. Click on  'Edit Homepage' in the modal
3. Click the WP/Site Icon at top right to reveal the Navigator sidebar.

#### What I expected to happen

When editing Homepage from My Home - the link shown is 'Dashboard'.

#### What actually happened

The link shown is to 'All Pages'. This is consistent with th

[2021-05-26 00:52] deancroyal commented on #53100
Forums: https://wordpress.com/forums/topic/cant-edit-posts-6/

[2021-05-26 01:06] jordesign opened #53174 "Theme Showcase: Make it clearer how to close the "Thanks for choosing' modal"
### Steps to reproduce the behavior

1. Starting at URL: https://wordpress.com/themes/
2. Activate a theme.
3. 'Thanks for choosing' modal appears

#### Issue

Currently two options are displayed as buttons (actions differ depending on the theme) but there is no clear option to jus close the modal and remain on the showcase page

<img width="1010" alt="Screen Shot 2021-05-26 at 11 02 20 am" src="h

[2021-05-26 01:06] deancroyal commented on #53100
Forums: https://wordpress.com/forums/topic/i-cant-edit-or-create-new-posts/

[2021-05-26 02:28] jordesign opened #53175 "Theme Showcase: Indicate if the current theme is active when viewing showcase page"
When viewing Theme Showcase pages there is a different state in the top bar depending on whether the theme is currently active or not. There is no other indication in the single Theme page that the theme you're currently viewing is active?

### Theme Inactive

<img width="1573" alt="Screen Shot 2021-05-26 at 11 02 36 am" src="https://user-images.githubusercontent.com/1842363/119592368-b1b8ba00-be1

[2021-05-26 02:59] jordesign opened #53176 "Theme Showcase: Selecting a filter (Free | Premium) clears the results and ignores the search terms"
### Steps to reproduce the behavior

1. Go to https://WordPress.com/themes/
2. Click on 'Show all themes' to bring up the search and filtering.
3. Start typing a search term and confirm that the themes shown are changed to match the search term
4. Click one of the filters at the top right (All | Free | Premium)

#### What I expected to happen

I expect that clicking the filter will retain my resul

[2021-05-26 03:16] richardkang112 commented on #14694
@jsnajdr Thank you for the hints. I implemented a possible fix to my own branch, and I'd like to test if the issue will be resolved or not. Could you invite me to a test WordPress site?

[2021-05-26 06:02] jordesign commented on #51119
@autumnfjeld Will this be addressed with the current working being done to sync checklist?

I've been able to recreate this by installing a plugin on a site that was 'Coming Soon'. The badge in the sidebar didn't return until I refreshed the page.

https://user-images.githubusercontent.com/1842363/119609805-8645c780-be3b-11eb-8769-d7a57a56a7a7.mp4

[2021-05-26 06:05] jordesign commented on #52630
I'm not aware of any user enquiries regarding this. It seems it wouldn't hurt to have it back - but pretty low priority. Shifting this to 'future'.

[2021-05-26 06:08] jordesign commented on #47013
Perhaps something for @jeffgolenski to consider in his design work for the Primary/Secondary/Tertiary areas?

We do already highlight WPCOM features in the tertiary area - so this could be a part of that?

[2021-05-26 06:10] jordesign commented on #52996
Based on existing conversations about the 'Edit Menu' item of the checklist - I think it i important that we keep a link to the support doc for Menus in the list for both states.
https://github.com/Automattic/wp-calypso/issues/52706

[2021-05-26 06:14] jordesign commented on #47604
Based on current plans - I'd say that @jeffgolenski's work on the refresh will address this problem (amongst others).
pd2qGl-4i-p2

Closing this for now.

[2021-05-26 06:14] #47604 closed

[2021-05-26 06:31] jordesign commented on #41895
This will be worked on as part of @jeffgolenski's design tweaks to My Home.
pd2qGl-4i-p2

[2021-05-26 06:34] jordesign commented on #52906
Looks like the video isn't coming any time soon - so shifting this to the Future...

[2021-05-26 06:46] daria2303 commented on #53116
4012645-zd-woothemes - user added screenshot:
![Screen Shot 2021-05-25 at 2 36 42 pm](https://user-images.githubusercontent.com/11535091/119614622-c9ce1080-bdfe-11eb-8bfd-e11a79945519.png)

[2021-05-26 06:50] jordesign commented on #53021
Happy to help with review of these if needed.

[2021-05-26 07:14] fresatomica commented on #53100
One more from the forums:
https://wordpress.com/forums/topic/unable-to-add-new-post-3/

[2021-05-26 07:56] autumnfjeld opened #53178 "My Home (post-launch): visual cleanup, reducing unneeded elements"
### Overview
This is part of [My Home Pod short-term design improvements](pd2qGl-4i-p2)
pd2qGl-4i-p2#reducing-unneeded-elements
My Home: **post-launch** visual cleanup, reducing unneeded elements

![image](https://user-images.githubusercontent.com/5665959/120263287-bf1fe980-c2de-11eb-9385-9f6fbe278916.png)

Most of this ticket may come for free from work in the[ pre-launch ticket](https://github.c

[2021-05-26 07:58] #50578 closed, assigned to alshakero

[2021-05-26 08:00] p-jackson commented on #52630
IMO this doesn't really feel like part of the My Home pod work and is more a bug that needs fixed as part of Nav Unification. @mmtr I see you added it to the "Back to Basics: My Home Pod" project, do you feel differently? Or perhaps @simison has an opinion on whether this is in scope for us.

[2021-05-26 08:36] mmtr commented on #52630
@p-jackson Correct, this is a Nav Unification issue. I was under the impression that those issues are now spread across different teams, so since the issue is specific to My Home, I thought it was a good fit for the My Home pod.

For context, I'm currently on an on-call rotation and as part of my duties I triage Nav Unification issues, which is why I moved the issue to a different project. If you

[2021-05-26 08:53] aneeshd16 commented on #52959
Duplicate of #33077

[2021-05-26 08:53] #52959 closed, assigned to aneeshd16

[2021-05-26 09:02] p-jackson commented on #52630
You could be right, I'll wait for @simison to chime in. Thanks!

[2021-05-26 09:12] simison commented on #52630
@p-jackson @autumnfjeld  @jeffgolenski  I think it's better My home pod owns this. It's important you consider the flows around my home as well, and not only the square visible area of my home. That might bring you to work in the editor, or in the navigation, for example.

[2021-05-26 09:13] p-jackson commented on #52991
Card has been deployed in #53035. Tracking post for feedback/metrics pd2qGl-4V-p2

[2021-05-26 09:13] #52991 closed, assigned to nobody

[2021-05-26 10:14] tyxla commented on #24004
I'm going to be working on this one.

[2021-05-26 10:17] cpapazoglou commented on #50709
On Atomic sites (only), administrators may edit User information (First Name, Last Name, Public Display Name) from `https://wordpress.com/people/edit`. While this works perfectly for other Users it doesn't work for administrators changing their own information. These Users get an error `Current user can not edit blog owner` while they are indeed the blog owners.

The problem seems to be in a condi

[2021-05-26 10:41] cpapazoglou commented on #50709
Created a fix here D61899-code

[2021-05-26 11:22] taggon commented on #50560
I created a hack for mitigating the problem: pd2HMz-g-p2
Hope this works.

[2021-05-26 13:03] cpapazoglou commented on #46077
Since https://github.com/Automattic/wp-calypso/issues/50709, I had some second thoughts on this. Please read more here pd2C0z-1T-p2

[2021-05-26 13:29] desnum commented on #52209
**INTERACTION**: 21281692-hc, simple site.

**ISSUE**: when editing the homepage it says: "Sorry, you are not allowed to edit this item."

**NOTICED**: Toggled on advanced WP Admin settings and saw an info bubble that says "The content of your latest posts page is automatically generated and cannot be edited" next to the homepage

**WORKAROUND**: created a Posts Page and set it in Homepage Setting

[2021-05-26 14:19] sixhours commented on #52757
Heads up, as we're working on annotations going forward, make sure if you're introducing new content to the annotations you're running our spam-flagging unit tests:

1. With the new Headstart annotations applied to your sandbox, run `bkismet --type=unit-tests` from the theme's parent directory (so if a free theme, from `/pub`, premium from `/premium`, although I'm not sure it matters)
2. If you se

[2021-05-26 14:34] niranjan-uma-shankar opened #53194 "Investigation: Logmein links to be added to email messages"
Similar to the work done in to append logmein to Calypso links, we also need to audit all email messages(transactional and marketing) and find out if there are links there to which we should append logmein. For example, should we append logmein to the following emails?
* Magic link emaill
* "Immediate login" links
* Notification emails for likes, comments, follows etc.
* Email sent for egging the

[2021-05-26 14:34] mreishus commented on #52799
Noting that this allows a configuration with undefined behavior to be expressed in the system: `show_on_front: pages` with `blog-homepage` tag.

[2021-05-26 14:41] blackjackkent commented on #52012
I looked into the Calypso/wp-admin bridge approach yesterday but it doesn't seem like there's a similar thing already implemented forthe Customizer and as Kirk said, i don't think we have the bandwidth to fully implement that right now. So I'll be working on adding an addition to `customizer-fixes` (in both trunk and wpcomsh) that checks the theme being activated and displays a confirmation dialog

[2021-05-26 14:42] carinapilar commented on #52209
The recent reports seem to be a new issue. It seems some kind of conflict with this new (it seems to be new) _"The content of your latest posts page is automatically generated and cannot be edited"_ message in WP-Admin, somehow conflicting with Calypso's interface.

This is happening at some point when what you have in Calypso doesn't match the Reading settings for homepage/blog pages, you make ch

[2021-05-26 14:50] carinapilar commented on #53100
Another 3:
4015343-zd-woothemes
4017750-zd-woothemes
4013010-zd-woothemes

[2021-05-26 15:04] simison commented on #52216
Non sandboxed, happens in both proxied and non-proxied, Chrome and Firefox.

Looks like it's jumping between `https://public-api.wordpress.com/wp-admin/rest-proxy/?v=2.0` and `https://horizon.wordpress.com/site-editor/[MY SITE]`

[2021-05-26 15:06] #42052 closed

[2021-05-26 16:29] kylemcph commented on #53167
User reached out in 29787241-hc with the same issue. I was able to replicate on a test WPcom simple site.

Steps to replicate:
1. Customize > Homepage Settings > set a page as posts page, save changes.
2. Customize > Homepage Settings > change setting to display latest posts
3. Try to update the page set as posts page in step 1. This produces the same Sorry, you are not allowed to edit this item.

[2021-05-26 16:36] lizswafford commented on #52209
Interaction: 29358550-hc simple site

Issue: The homepage cannot be edited.

Error: Sorry, you are not allowed to edit the item.
Error: The content of your latest posts page is automatically generated and cannot be edited.

Workaround: create or assign a new page to be the homepage, assign a posts page.
This allows the original homepage to be edited.

[2021-05-26 17:43] niranjan-uma-shankar commented on #52944
This is being discussed in pcNnmV-5l-p2.

[2021-05-26 18:34] simison commented on #53118
We will likely return to launch flow btw, just the button needs new placement.

[2021-05-26 18:37] TeniCola commented on #39153
Hi team, I had another user who _did_ manage to find this option in their site -- we're following up in 4021146-zen. In the preceding livechat when we asked why they wanted this feature, they explained:

I will let them know the bug has been reported, and that they can save the blocks from the code editor in the meantime. But if we don't intend to fix this, it may be worth making the call and remo

[2021-05-26 18:50] synora opened #53198 "Blogger.com Importer Adds Additional Characters to Text"
A user reported seeing a number of unwanted special characters crop up in post titles and content after they imported their site from Blogger.com. It's unclear what caused these special characters to appear after importing.

Examples:
![Annotation on 2021-05-26 at 14-49-15](https://user-images.githubusercontent.com/10015451/119715129-a6708900-be31-11eb-89dd-407d5a935c77.png)

and

![Annotation on

[2021-05-26 19:06] blackjackkent commented on #52012
Diff opened at D61935-code - I ended up going with option #2 of the three options expressed in the issue for possible expected behaviors here, so the customizer displays a confirmation dialog indicating that the homepage replacement will occur if the user proceeds.

[2021-05-26 19:11] sajmes commented on #53220
@nsakaimbo - I have a report of a similar issue with logs available: 4011602-zd-woothemes

[2021-05-26 19:20] sixhours commented on #52757
And that's a wrap! In a future sprint we will likely take another look at more themes and demo sites, and make further changes to Headstart annotations to make the Headstart experience better. We can manage all that in a future ticket, since this one's getting unwieldy. :) Closing it out.

[2021-05-26 19:20] #52757 closed, assigned to sixhours

[2021-05-26 19:22] sixhours commented on #52757
Good to note for posterity, I've also sent all the updated annotations for translation.

[2021-05-26 19:35] sixhours commented on #46299
Annotations were added in D61755-code

[2021-05-26 19:35] #46299 closed

[2021-05-26 20:10] carinapilar commented on #52209
The issue related to homepage/posts page settings, from the reports above, is now here: https://github.com/Automattic/wp-calypso/issues/53167

[2021-05-26 20:18] lakellie opened #53199 "Crowdsignal: "Create A Poll" button is broken on simple sites"
### Steps to reproduce the behavior

1. Go to My Sites > Feedback > Crowdsignal
2. Click on "Create a Poll"
3. See error: "Cannot load polls." https://d.pr/i/tc2nE3

### Context

User report in 4017593-zen

#### Is this specific to the applied theme? Which one?

Happening on all themes

#### Does this happen on simple or atomic sites or both?

Simple

#### Level of impact (Does it block purchases?

[2021-05-26 20:31] lizkarkoski commented on #53100
Another one in 4011888-zen
I asked for their specific setup details. User reports basic cache clearing and browser trouble shooting did not work.

[2021-05-26 21:15] worldomonation opened #53200 "Playwright: Migrate to Jest"
**Task Details**
There is a current PR open (#52786) that proposes to move our E2E tests from `mocha` to `jest`.

Seeing that there is little in the way of existing infrastructure compared to Selenium, look at jumping ship first.

**Related to**
Parent: #52849

[2021-05-26 22:19] desnum commented on #53106
**INTERACTION:**  4018618-zen

**ISSUE:**  Post notification emails don't show post formatting for captions (the caption font below the image is not smaller than the body text). See side-by-side comparison:

<img width="1297" alt="Screen Shot 2021-05-26 at 6 16 29 PM" src="https://user-images.githubusercontent.com/43796228/119738529-d712eb80-be4e-11eb-9148-c8ddc54f9103.png">

**WORKAROUND:** Advis

[2021-05-26 23:41] autumnfjeld opened #53202 "My Home: Investigate WooCommerce site setup checklist"
From [Atomic site checklist original issue](https://github.com/Automattic/wp-calypso/issues/50523#issuecomment-836595977)

This task is simply verifying if the Woo Commerce checklist works as expected.

If the checklist is not working, then let's make a new ticket with the details of what needs to be done.

[2021-05-27 00:12] fullofcaffeine commented on #46583
This is the tracking issue for this project: pc9Uba-8b-p2. Its ethos was to "move tests upstream" (from Calypso E2Es).

We wanted to do that by implementing a build process similar to what is currently working on Jetpack in repos that don't have it, and move all Gutenberg tests in Calypso, "upstream" to their "origin". We already incorporated that as a principle we follow as part of our platform w

[2021-05-27 00:12] #46583 closed

[2021-05-27 00:55] hacchism opened #53204 "Billing: cancelling bundled domain after plan was upgraded gives partial refund"
### Steps to reproduce the behavior

1. Purchase a paid plan and register a domain by using the plan's domain credit
2. Upgrade the plan.
3. Cancel the domain within 96 hours

#### What I expected to happen

User shouldn't get any refund. It just should clear their plan's domain credit.

#### What actually happened

User got a partial refund for the domain registration.

### Additional info

- Hap

[2021-05-27 02:54] happychait opened #53205 "Ixion: No padding in the Group block"
### Steps to reproduce the behavior

1. Activate Ixion theme.
2. Add a page
3. Choose a page template that has a Group block. Or Group some blocks and set the background color.
4. Publish the page.

#### What I expected to happen

Some padding between the borders of the Group block and content.

#### What actually happened

Content sticks to the border of the Group block.

#### Screenshot / Video:

[2021-05-27 06:38] worldomonation commented on #53200
A proof of concept PR has been put up, that does the following so far:
- launch browser
- runs the suite
- closes browser

There are issues with migrating our current system of hooks to Jest:
- a new mechanism to pass test pass/fail status needs to be developed.

[2021-05-27 06:40] kosiew commented on #52377
Hi @sowmya2709 ,

Thanks for reporting this and the detailed steps.

I tested this with Gutenberg version 10.7.1 and could not reproduce this.

![Screenshot](https://d.pr/i/j5wDwz+)
*if image does not load, please click on this link  : https://d.pr/i/j5wDwz*

I am closing this.
If you are still encountering this, can you add more details for me to reproduce this.
Thanks.

[2021-05-27 06:40] #52377 closed, assigned to nobody

[2021-05-27 06:59] rezzap commented on #53102
Triaging this issue and replicated this only on a site with a mapped custom domain which would indicate the 3rd party cookies is definitely related

There's a very similar issue reported on mobile that seems related to this in https://github.com/wordpress-mobile/WordPress-iOS/issues/15596

I can get the images to be kept in place if I set the site to be public temporarily and then move back to pri

[2021-05-27 07:00] autumnfjeld opened #53211 "Placeholder: My Home stats cards"
Placeholder ticket for stats card improvements. Design in-progress.

### Overview/Description
This is part of [My Home Pod short-term design improvements](pd2qGl-2P-p2#short-term-goals)
ToDo: update when design is done

**Stats card enhancements**
* Pre-launch: Remove. Doesn’t assist in getting customers’ site launched ✅
* Post-launch no traffic: Introduce actionable stats messages to help custome

[2021-05-27 07:06] autumnfjeld opened #53212 "My Home (pre-launch): visual refresh & style update"
### Overview
This is part of [My Home Pod short-term design improvements](pd2qGl-2P-p2#short-term-goals)
Styling updates to My Home **(pre-launch view)** to create a more light, airy and modern UI.

![image](https://user-images.githubusercontent.com/5665959/119781985-fc672e80-bf0e-11eb-9cd4-338e00393928.png)

### User facing acceptance criteria
Given that the user has gone through site onboarding

[2021-05-27 07:09] kosiew commented on #52387
Hi @edwinho89 ,

Thanks for reporting this and the detailed steps.

I am closing this since it's not reproduceable.
It is important anyway as a report of an issue (you did manage to reproduce it once).

If you or anyone encounters this again, can you add more details for us to reproduce this.
Thanks.

[2021-05-27 07:09] #52387 closed, assigned to nobody

[2021-05-27 07:18] autumnfjeld opened #53213 "My Home (post-launch): visual refresh & style update"
### Overview
This is part of [My Home Pod short-term design improvements](pd2qGl-2P-p2#short-term-goals)
Styling updates to My Home **(post-launch view )** to create a more light, airy and modern UI.  Much of this work may come for free from the pre-launch view ticket https://github.com/Automattic/wp-calypso/issues/53212.

![image](https://user-images.githubusercontent.com/5665959/119782370-756686

[2021-05-27 07:24] sophiegyo commented on #53116
Another likely instance from someone who found it in Safari on iPad - they've already confirmed that Chrome and Firefox on the iPad work fine:
4008181-zen

[2021-05-27 07:31] jsnajdr commented on #14694
@richardkang112 I invited you to a testing site with a custom domain. Let me know how it works for you. Looking at the patch in your fork, it looks good :+1:

[2021-05-27 07:36] yansern commented on #52985
It appears that when `admin-bar.css` is loaded the header button goes away. D61661-code#1269965

[2021-05-27 07:39] rezzap commented on #53089
I was able to reproduce the issue using the inline embed only on simple sites. Did not reproduce this on an atomic site.

Steps:

1. Create a new post or page and add a cover block.
2. Inside the cover block, add a file block.
3. Make sure this file block has the option enabled to show inline embed.
4. Save as draft and move away from the editor.
5. Re-open the editor, see the error.

This does no

[2021-05-27 08:06] kosiew commented on #53089
More testing notes:

1. reproduced on Simple Site, Gutenberg 10.5.4
2. [could not reproduce on AT site, Gutenberg 10.5.4 ](https://wpstore101.wpcomstaging.com/wp-admin/post.php?post=5932&action=edit)

[2021-05-27 08:11] fresatomica opened #53215 "Plans Page: Plan Business displays incorrect info about live chat availability"
There are two different pages for plan upgrades:

- sites that do not have an upgrade yet,
- sites that do have an upgrade already.

The issue is only with those that have no upgrades yet.
The information bubble for live chat on plans Business and eCommerce shows the availability from Monday to Friday, instead of 24/7.

<img width="1188" alt="Screen Shot 2021-05-27 at 09 47 16" src="https://user-i

[2021-05-27 08:32] rezzap commented on #53159
Closing this issue so it can get tracked in the Jetpack issue referenced above.

[2021-05-27 08:36] kosiew commented on #52267
Hi @dpasque ,

Thanks for reporting this and the detailed steps.

I reproduced this on a Jurassic Ninja site too.
I am closing this and reporting this as a Gutenberg issue - https://github.com/WordPress/gutenberg/issues/32265 instead.

[2021-05-27 08:36] #52267 closed, assigned to nobody

[2021-05-27 08:47] kosiew commented on #52268
Hi @dpasque,

Thanks for reporting this and the detailed steps.

### Tests
Reproduced on AT site with Gutenberg 10.7.1
Reproduced on Simple with Gutenberg 10.5.4

Not reproduceable on Jurassic Ninja site with Gutenberg 10.7.1

[2021-05-27 08:50] StefanNieuwenhuis opened #53217 "Design Picker: Release Blank Canvas Design"
### What
We want to release the blank canvas design.

### Why
As discussed in this thread (p1621960527164600-slack-C01VA100LEA), the results from the call for testing (see p58i-axH-p2) are positive and the Blank Canvas Design can be deployed with confidence.

### Acceptance Criteria
* [ ] `is_alpha` flag is removed from the available designs config

[2021-05-27 08:52] as-esu commented on #52209
Another report here: 4021406-zd-woothemes
The user has only a homepage set in Customizer, the Blog post page is set to empty.
I asked the user to change homepage and blog post page settings in Customizer and try to edit the page again.
The error message does not seem to be related to a browser since the user tried to open the page in two different browsers as well as the mobile app.

[2021-05-27 08:56] kosiew commented on #52269
Hi @dpasque ,

Thanks for reporting this and the detailed steps.

Test note:
Reproduced on AT site with Gutenberg 10.7.1
Reproduced on Simple with Gutenberg 10.5.4

Conversation block is not available on Jurassic Ninja sites.

[2021-05-27 09:06] kosiew commented on #52270
Hi @dpasque ,

Thanks for reporting this and the detailed steps.

Reproduced on Simple with Gutenberg 10.5.4

On AT site with Gutenberg 10.7.1
  I could only enter 1 speaker's dialogue.
  Pressing Enter would not move to the next speaker.

  ![Screenshot](https://d.pr/i/ikxjSH+)
*if image does not load, please click on this link  : https://d.pr/i/ikxjSH*

I am reclassifying this as a bug.

[2021-05-27 09:07] mmtr commented on #53167
Possibly related to https://github.com/Automattic/wp-calypso/issues/52692, which was fixed by https://github.com/Automattic/jetpack/pull/19900 and D61647-code.

[2021-05-27 09:10] #51585 closed, assigned to mmtr

[2021-05-27 09:17] talldan commented on #52267
Please could you remember to strip out mentions of WordPress.com when transferring bugs.

[2021-05-27 09:20] pauljacobson commented on #53220
@nsakaimbo I have another report in 4017755-zen where the user reported the following:

The site is on a WordPress.com Premium plan, and doesn't support plugins. The user also seems to be using the block editor.

[2021-05-27 09:26] rezzap commented on #53204
I wasn't able to reproduce this to get a refund while using credits or running the purchase through a credit card, but the one thing I did notice is that the domain credit did not get cleared on cancellation.

Can you confirm the exact steps that were taken to cancel the domain so we can try to reproduce this to receive a refund @hacchism? From the chat, it sounds like the refund was processed on

[2021-05-27 09:36] pablinos commented on #51589
Could you trigger a sync if the option wasn't there? It would be another API request, which would slow things up the first time, but it would also safeguard against the option being deleted/corrupted in some way.

[2021-05-27 09:44] rezzap commented on #46949
I could still reproduce this on Chrome using Android 10 on a Samsung S9+.

[2021-05-27 09:50] mmtr commented on #51957
I cannot longer reproduce this one. Likely fixed by https://github.com/Automattic/wp-calypso/pull/52776

[2021-05-27 09:50] #51957 closed, assigned to nobody

[2021-05-27 09:57] mmtr commented on #51930
@annbingle is this issue still reproducible for you? It works as expected on my tests 🤔. It has been probably fixed by 687-gh-Automattic/wpcomsh, so I'm closing this one out. Feel free to reopen if this is still an issue.

[2021-05-27 09:57] #51930 closed, assigned to nobody

[2021-05-27 10:07] mmtr commented on #51592
I wonder if we can close this as duplicate of https://github.com/Automattic/wp-calypso/issues/51828? cc @allilevine

[2021-05-27 10:13] mmtr commented on #51590
I think things have been improved in last weeks, since I do see the upgrade banners now on my Free Atomic site. However, there are still some differences on how individual themes are presented:

Simple (Free) | Atomic (Free)
--- | ---
<img width="1264" alt="Screen Shot 2021-05-27 at 12 10 35" src="https://user-images.githubusercontent.com/1233880/119808952-e8a6d280-bee4-11eb-9470-a8e0c12ea145.png"

[2021-05-27 10:15] scinos opened #53222 "Drop support for IE11 and multi-target builds"
**Task Details**
We want to drop support for IE11. It will allow us to drop support for multi-target builds, simplifying our code and (in theory) making the build process faster.

### Drop support for IE 11:

* [x] Implement redirect to `/browsehappy` for fallback browsers (#53221)
* [x] Ensure that the production browsehappy page routes to Calypso instead of Atlas (done in pMz3w-dyS-p2)
* [x] Ena

[2021-05-27 10:16] cpapazoglou commented on #50709
Be ware that if https://github.com/Automattic/wp-calypso/issues/46077 is fixed, admins will only be able to change their data through `https://wordpress.com/me`. Thoroughly discussed in pd2C0z-1T-p2

[2021-05-27 10:18] mmtr commented on #51584
This should've been fixed by https://github.com/Automattic/wp-calypso/pull/53146.

Correct.

[2021-05-27 10:18] #51584 closed, assigned to nobody

[2021-05-27 11:14] cpapazoglou commented on #46077
Deployed r226375-wpcom for **testing** the async jobs in production

[2021-05-27 11:47] hacchism commented on #53204
@rezzap Thanks for looking! I couldn't reproduce the issue on my end either. So I thought this would be something related to the specific currency or payment method(or partner).

One thing I noticed now in this specific user's case was that they upgraded to Premium first, and then to Business next. And their domain was registered at the same timing as the first Premium plan purchase(with the plan'

[2021-05-27 12:38] pauljacobson opened #53223 "Post publication dates: Dates incorrectly formatted in the editor"
One of our customers reached out to us about their posts that seem to be published a day later than their intended publication date. During the course of troubleshooting this issue with the customer, they pointed out a weird formatting issue affecting the publication dates for their posts.

### Steps to reproduce the behavior

1. Go to _Posts_
2. Click on a post to open it in the editor
3. Take a

[2021-05-27 13:28] mmtr commented on #51440
Unfortunately there is another problem.

The Calypso editor is actually the WP Admin Calypso rendered through an iframe, so allowing users to disable the full screen mode would make the WP Admin menu visible within the iframe. While both the WP Admin and the Calypso menus are visually the same, a navigation performed within the iframe can lead to unexpected side effects (e.g. browser URL doesn't c

[2021-05-27 13:55] luanluta commented on #53167
Another use facing the same issue here 6597431-hc. We set a Post page so they can continue working on their site. They were happy with this.

[2021-05-27 13:58] StefanNieuwenhuis opened #53226 "Disable alpha templates feature flag"
### Why
1. While developing Calypso, we want to stay as close to production as possible to minimize collateral damage from bugs.
2. With the introduction of Horizon, we have access to a beta testing platform where we can test new features (e.g. a new design or template). The [feature flag](https://github.com/Automattic/wp-calypso/blob/trunk/config/horizon.json#L48) stays enabled.

### What
We want

[2021-05-27 14:12] #53217 closed, assigned to StefanNieuwenhuis

[2021-05-27 14:27] #53167 closed, assigned to BogdanUngureanu

[2021-05-27 15:24] michaeldcain opened #53229 "Checkout: add visual transition between summary and edit states for Checkout steps"
When a user clicks "edit" on any step in Checkout, we should include an animation to highlight the step's mode changing.

Reported: p58i-az5-p2

[2021-05-27 15:40] cpapazoglou commented on #50709
Deployed r226399-wpcom

[2021-05-27 15:40] #50709 closed, assigned to cpapazoglou

[2021-05-27 16:18] chrism245 commented on #52209
3147099-hc simple site.
Suggested to clear browser cache and cookies, and they will contact us once they can do it.

[2021-05-27 17:13] mreishus commented on #52799
Followup issues:

- TwentyTwenty -> Spearhead (their menu still has 'blog' linking to nowhere)
- Spearhead -> TwentyTwenty (should Add a 'blog' item to their menu)
- "'Blog', 'Home'" menu, order changed
- Helper text next to "Home" on Calypso Pages view not always working (example: "Seedlet Theme")

[2021-05-27 17:13] brandonpayton commented on #52283
Hi @mmtr, I believe it is a relatively simple change. We have an UPDATE query that zeros comment user_id's, and it can probably be changed to avoid zeroing the user_id's of site members.

Here's a p2 comment that links to the relevant source:
p9F6qB-6M2-p2#comment-38963

Thank you!

[2021-05-27 17:28] worldomonation commented on #52464
One suggestion for deriving selector names within objects:
- reference css selector. if not possible, then;
- summarize the function of the selector.

Never include the term 'selector' in the name if the selectors are placed in its own object named `selectors`.

[2021-05-27 17:52] wynwin commented on #52838
Big  +1 to this issue. I just ran into this with a Quick Start/Concierge user. They could not figure out how to replace the "W" logos (primary menu also set as social menu) with the needed social icons and it was a real big blocker for them.

[2021-05-27 18:17] allilevine commented on #51592
Yep looks like it. Closing 👍

[2021-05-27 18:17] #51592 closed, assigned to nobody

[2021-05-27 18:28] razvanpapadopol commented on #47810
Still relevant as we may want to iterate on the checkout modal.

[2021-05-27 18:35] KirkwallDay commented on #53220
Another instance of this issue here: 4015340-zen

It is a simple site, so no plugins, and they get the "You have one or more plugins that prevent editing content within Wordpress Deskstop continue in an external browser ?" error when trying to edit a page.

[2021-05-27 18:37] happychait commented on #52209
User from [three days ago](https://github.com/Automattic/wp-calypso/issues/52209#issuecomment-847470017) returned to report the same issue in 29829242-hc.

Clearing cache in Safari did not help. I suggested trying Firefox.

[2021-05-27 18:47] pablinos commented on #51440
Yes, I think that's the reason for keeping it fullscreen currently, as otherwise someone can get stuck in the iframe. We could make sure that navigation links break out of the iframe, but as @mmtr says, these are workarounds that are avoiding the bigger issue of the iframe itself.

There are a couple of features that are only loaded when the editor is within the iframe. If we can find a way to loa

[2021-05-27 19:15] sajmes commented on #53116
Another report here, though this is on an existing page. Safari and Classic Block. Firefox works in this case: 4013213-zd-woothemes

I tested and could not replicate on a simple site in Safari 14.0.3 using Seedlot theme and testing on a new page.

[2021-05-27 19:33] michaeldcain commented on #52799
I started these in D62000-code

[2021-05-27 20:43] kwight opened #53233 "Themes: Headstart is not effective for some Atomic site contexts."
Mentioned again by @kathrynwp during a demo call:

Headstart is not usable for Atomic sites in some situations, so we'll need to do an audit. Can we do the following when the target is an Atomic site:

* Headstart on theme switch
* Headstart on signup (eg. a Business plan is purchased during signup? although think the user would still start on a Headstarted Simple site until a plugin or theme was

[2021-05-27 20:50] kwight commented on #45317
@obenland FYI fo visibility, @taggon for flow patrol consideration.

[2021-05-27 20:52] kwight commented on #52982
Horizon is considered a non-production testing environment, so low priority.

[2021-05-27 21:28] Aurorum commented on #52444
PR for this issue in #53234. :)

[2021-05-27 21:37] Aurorum commented on #47830
Hi @liviopv, I wonder if this is a separate issue in relation to how the URL is formatted.

Following the steps in your video, when I submit `https://happexp2.wordpress.com`, that also fails for me.

<img width="1300" alt="Screenshot 2021-05-27 at 22 34 17" src="https://user-images.githubusercontent.com/43215253/119899982-c8eec900-bf3b-11eb-8c58-ccd97db4850c.png">

However, when I submit `http://h

[2021-05-27 21:56] kwight commented on #14896
I think we'll have no choice but to lock down direct links too as the next step – I could see us causing problems by promoting themes in email blasts with direct links, for example.

[2021-05-27 22:00] ckmccoy2 opened #53235 "Image Caption overlapping with paragraph text"
### Steps to reproduce the behavior

1. Go to https://whenthecurveslineup.com while in Safari
2. Click on any recent post
3. Scroll down to any image caption text
4. Image caption text appears to be overlapping with the paragraph block text below.

#### What I expected to happen
The caption text to be separated from the paragraph block text

#### What actually happened
Text overlapped as seen here

[2021-05-27 22:01] roundhill commented on #52949
It's merged! Closing.

[2021-05-27 22:01] #52949 closed, assigned to roundhill

[2021-05-27 22:01] roo2 commented on #50484
hmm you're right @david-szabo97, I'm taken to the page editor as well.

I thought that earlier I had been redirected to `site-editor` 🤔...  but now it's definately taking me to the page-editor as well

[2021-05-27 22:14] roo2 opened #53236 "My Home: "Update your homepage" link should go to the site editor for Site Editor blogs"
Clicking the "Update your homepage" link in the checklist should take you to the _site editor_ for _block based_ sites. Currently it takes you to the _page editor_.

Originally raised here https://github.com/Automattic/wp-calypso/issues/50484#issuecomment-844023956
<img width="834" alt="Screen Shot 2021-05-28 at 10 13 28 AM" src="https://user-images.githubusercontent.com/22446385/119903825-6595830

[2021-05-27 22:14] roo2 commented on #50484
I created a new issue for just fixing this link https://github.com/Automattic/wp-calypso/issues/53236

[2021-05-27 22:32] kwight commented on #52209
Tagging @obenland FYI, and @taggon for Flow Patrol consideration.

[2021-05-27 23:43] p-jackson commented on #47334
The changes to the "edit your menu" task discussed here have shipped: #52990
It doesn't address every problem with editing menus, or even the original task as described by the title ("remove 'edit your menu' checklist item"), but it has implemented the changes as discussed here. So I think it's right to close this issue now.

[2021-05-27 23:43] #47334 closed

[2021-05-28 00:26] rosepajaroja commented on #49103
A similar issue occurred on this site lovewisewomenministries.org.

(It's resolved now.)

[2021-05-28 01:32] #52444 closed, assigned to nobody

[2021-05-28 02:13] #52041 closed, assigned to taggon

[2021-05-28 02:34] taggon opened #53238 "Live chat information bubble contains error"
Originally reported on p8HJWS-Jg-p2

![붙여넣은_이미지_2021__5__28__오전_11_35](https://user-images.githubusercontent.com/212034/119921473-063d7000-bfa9-11eb-8a68-00ed2fd2ea48.jpg)

[2021-05-28 02:41] taggon commented on #52610
The fix has been shipped! :)

[2021-05-28 02:41] #52610 closed, assigned to taggon

[2021-05-28 05:53] worldomonation opened #53242 "Playwright: create helper function to generate consistent suite names"
**Task Details**
As suggested by @WunderBart as a [comment](https://github.com/Automattic/wp-calypso/pull/53169#discussion_r639636628), the suite name can potentially be generated programmatically.

Look at implementing this as `DataHelper.createSuiteTitle`.

**Related to**
#52849

[2021-05-28 06:45] Aurorum commented on #53238
Duplicate of #53215 - both issues should be fixed by that PR!

[2021-05-28 08:31] mmtr commented on #51440
I think so, yeah.

Not sure if they are listed anywhere, but off the top of my head:
- Calypso media modal
- Calypso revisions modal
- Support chat
- Plan upgrades can be purchased within the Calypso editor when inserting Premium blocks.

[2021-05-28 09:01] roo2 commented on #52707
just got around to retesting this and can confirm that I'm seeing this checklist item behave as expected 👍

[2021-05-28 09:08] razvanpapadopol commented on #44151
@StefanNieuwenhuis, @alshakero, with D61607-code deployed, is this issue completed? ✅

[2021-05-28 10:11] #14694 closed

[2021-05-28 10:36] zdenys commented on #53116
Another case here 3698589-hc They indeed have the Classic Blocks. Editing works in Chrome, but not in Safari 14.1 on Mac OS X 10.15.7.

![image](https://user-images.githubusercontent.com/39308239/119971495-b61ad980-bfb9-11eb-9ace-c5d6a7071345.png)

[2021-05-28 10:44] jsnajdr commented on #14694
We'll also need to update our backend to support the `.` SRV record. Currently Calypso is getting the following error from the REST endpoint:
[code]

[2021-05-28 10:49] vinnykaur commented on #35365
One more - 4539122-hc

[2021-05-28 11:28] carinapilar opened #53248 "Map Block: locked Mapbox Access Token"
### Steps to reproduce the behavior

1. In a post/page add a Map Block.
2. In the Editor sidebar open the section Mapbox Access Token.
3. Try to paste an access token or try typing/pasting anything into the text field

#### What I expected to happen
You should be able to type/paste into the text field.

#### What actually happened
You cannot type/paste anything into the Mapbox Access Token field.

[2021-05-28 11:33] simison commented on #53116
Is it correct that we have "use only classic blocks" for editing setting somewhere?

Thinking if difficulties to duplicate are due to us trying to place this block via inserter, vs it being there by default instead of the default paragraph block?

[2021-05-28 11:41] mrfoxtalbot opened #53249 "Actionbar is not visible unless you log into AT site"
Due to the way Atomic sites work, visiting the WordPress.com dashboard alone will not have them logged into the AT site itself (via SSO). This only happens when they visit a /wp-admin section.

One of the side effects of this is that a user who logs into their WordPress.com site but does not visit a /wp-admin section (such as wp-admin/edit.php) will NOT see the action bar.

Before logging into the

[2021-05-28 12:03] razvanpapadopol commented on #44430
Patch in D61839-code accepted and ready to 🚢

[2021-05-28 12:10] alshakero commented on #44430
Here is how it looks right now.

![water861730831 wordpress com_ (1)](https://user-images.githubusercontent.com/17054134/119982030-9f2ab600-bfbe-11eb-9514-a21453bda29c.png)
You can also see the actual site here: Pd6a5N-5-p2.

[2021-05-28 12:17] simison commented on #44430
It's not amazing looking, but that's expected. Fine to ship, and it sounded like Ian is ok with it too.

- Overall not needing to delete a bunch of posts is better as an experience
- We know we'll work on placeholders (https://github.com/Automattic/view-design/issues/274)
- We know we'll replace this default layout with something else (https://github.com/Automattic/wp-calypso/issues/52580)
- We kn

[2021-05-28 12:36] #53109 closed, assigned to razvanpapadopol

[2021-05-28 12:44] cpapazoglou opened #53252 "Team member form: refactor to avoid errors"
Let's introduce some type safety here https://github.com/Automattic/wp-calypso/blob/b60ce2cb01488ecb7018083b39ebedd5f77a35a9/client/my-sites/people/edit-team-member-form/edit-user-form.jsx and also make sure no duplicate fields are pushed to `allowedSettings`

E.g:

[code]

_Originally posted by @tjcafferkey in https://github.com/Automattic/wp-calypso/pull/53230#discussion_r641417325_

Also

[code

[2021-05-28 12:49] razvanpapadopol commented on #50430
Fixed in https://github.com/Automattic/wp-calypso/pull/52434

[2021-05-28 12:49] #50430 closed, assigned to jeyip, StefanNieuwenhuis

[2021-05-28 12:50] #44151 closed

[2021-05-28 13:15] StefanNieuwenhuis opened #53254 "Signup flow: Reset the store while changing flows."
### The problem
When a user:
1. tries to launch a site (via `/start/launch-site`)
2. abandons the flow halfway (i.e. the site isn't launched)
3. continues to create a new site **with a paid plan** via `/start`
4. the paid plan goes missing from the cart

### The fix
The fix is quite simple: Remove the `siteSlug` when transitioning from a launch flow to an onboarding flow.
This is what we did in th

[2021-05-28 13:32] #44430 closed

[2021-05-28 13:34] donlair commented on #52985
The fix for this is now deployed.

[2021-05-28 13:48] cpapazoglou commented on #46077
Deployed r226450-wpcom that enables syncing to Atomic.

**Next Step**: Hide these fields from `wp-admin/profile.php` for WordPress.com connected users.

[2021-05-28 14:57] DanielSmithMichigan commented on #52926
@sixhours Should this be closed out?

[2021-05-28 15:59] mmtr commented on #53249
I think this a duplicate of https://github.com/Automattic/wp-calypso/issues/52046, so I'm closing it. @mrfoxtalbot feel free to reopen if this is a different issue!

[2021-05-28 15:59] #53249 closed, assigned to nobody

[2021-05-28 16:07] DavidRothstein opened #53256 "Earn: Site owners with many subscribers shouldn't have to scroll so many times to get to the download CSV option at the bottom of the page"
The Earn page (`https://wordpress.com/earn/payments/[site]`) has infinite scroll and currently loads 50 new subscribers at a time.  That means that for site owners with many subscribers, it takes a very long time to scroll down and get to the bottom of the page (where the download CSV option appears).

The feature request is to make this process faster.

Moving the download CSV option higher is pr

[2021-05-28 16:08] syds87 commented on #51640
Similar case seems to be reported in 29842652-hc. This just happens with a few categories, when trying to save as draft.

[2021-05-28 16:18] Aurorum commented on #48702
PR for this issue in #53257. :)

[2021-05-28 17:21] AtrumGeost commented on #45342
+1 to this. I got a user who wanted to manually add a plan to a customer who doesn't have a credit card but wanted to directly pay to the site owner:

4022052-zd-woothemes

[2021-05-28 17:40] xpurichan commented on #50126
Another report in 4024246-hc.

[2021-05-28 17:53] JoshuaGoode opened #53258 "Settings / Site Address: Cannot change free site address"
@katiebethbrown reported a live chat user encountered issues changing their `.wordpress.com` site address and minified react errors present. ( p1622222175215100-slack-C03TY6J1A )

After, multiple HEs were able to reproduce and consistently see `Minified React Error #31` in the console and `We're sorry, but an unexpected error has occurred.`

@katiebethbrown reports seeing the minified errors acros

[2021-05-28 17:54] xpurichan commented on #50126
I wrote some instructions for my customer so feel free to copy+paste the workaround:

[code]

[2021-05-28 17:56] katiebethbrown commented on #53258
User report in 9409813-hc

They are looking to change their wpcom subdomain, but are getting errors.

[2021-05-28 17:56] JoshuaGoode commented on #53258
Screenshot from @katiebethbrown seeing a variation of the error just visiting the domains page.

![image](https://user-images.githubusercontent.com/4887830/120023948-7b667080-bfbc-11eb-9a40-930065241b89.png)

[2021-05-28 19:12] #53258 closed, assigned to nobody

[2021-05-28 19:35] samiff commented on #53258
@katiebethbrown @JoshuaGoode Thanks for catching this one. https://github.com/Automattic/wp-calypso/pull/53259 just landed in produciton and should fix the issue. Could you please follow up with any users that were having trouble changing their site addresses, thanks ❤️

[2021-05-28 19:43] ianstewart commented on #52988
Let's take a look at adding the following …

- Independent Publisher 2
- Twenty Sixteen
- Ryu
- Twenty Fifteen

Open to starting with others but those are known popular, and aesthetically pleasing, designs. (But maybe capping at a number of 5–7 to start with.)

[2021-05-28 20:58] DavidRothstein commented on #52473
Pinged on it again: pNPgK-4vm-p2#comment-22089

It might just fall on us to be the authority and make it up ourselves :smile:  But I believe we could just block the case where a user changes their plan **and** tries to downgrade the billing term also (that is hopefully the only thing that is broken, and we can probably get away with just not offering it).  So in my opinion:
1. "What about changing

[2021-05-28 22:13] kristinaquinones opened #53264 "Bari Theme on Simple sites: Page-Level Preview does not reflect Theme Options selected in Customizer"
### Steps to reproduce the behavior

1. Activate **Bari Theme**
2. Click **Customize Site**
3. Go to Content Options
4. Under Featured Images, *deselect* _display on single posts_ and _display on pages_
5. Click Save Changes
6. Back in Calypso, edit an existing page or create a new one
7. Add a featured image if there isn't one already.
8. Preview the page.

#### What I expected to happen

When yo

[2021-05-28 22:41] obenland commented on #51095
Is this fixed by https://github.com/Automattic/wp-calypso/pull/52822?

[2021-05-29 02:00] kaitohm commented on #52701
Similar request on 4019861-zd-woothemes : The user would like to be notified when someone cancels their subscription - not necessarily just when the renewal failed.

[2021-05-29 02:18] devNigel commented on #53220
Another report: 4021349-zen

[2021-05-29 05:37] hacchism commented on #51388
Another report: 4027410-zen

I also suggested disabling some columns through the Screen Options so the Title column would appear bigger on the user's end.

[2021-05-29 09:40] MaxPhilip commented on #53100
One more: 4027753-zd (Simple site)

For now, asked user to clear cache and get back to us with more information if that doesn't help.

[2021-05-29 10:31] swoodipto opened #53266 "Pay with PayPal Block: Increase button font size"
**What:**
The "Pay with PayPal" text in the button should be a bit larger or there should be an option to change the "Pay with PayPal" button font size.

**Why:**
The button text is too small as of now:

![Markup on 2021-05-29 at 15:57:26](https://user-images.githubusercontent.com/29238672/120066980-dbc9e080-c096-11eb-83a3-079638628783.png)

**Additional context**
I tried to check if it's possible

[2021-05-29 10:35] swoodipto commented on #53266
Follow up 4028027-zen

[2021-05-29 13:58] kspilarski commented on #50061
"_The person will still remain a member of this site_." is confusing to users.
(Reported in 4028271-zd).

[2021-05-29 14:30] zdenys opened #53267 "Set featured image: different behavior on Atomic and Simple sites"
**What**
The experience of setting a featured image on Atomic (WoA) and on Simple site differs.

On Simple site we only have one panel named `Set featured image` that when clicked opens the menu to pick the image from Media, Google Photos or Pexels. All good and clear.

https://user-images.githubusercontent.com/39308239/120073867-da061a00-c0a2-11eb-9268-d148f8e276db.mov

On Atomic site we have the

[2021-05-29 18:03] ChrissiePollock opened #53268 "Coraline theme has a donation button conflict"
This issue was reported on #28430086-hc and I was able to replicate on a test site.

### Steps to reproduce the behavior

1. Go to a site on the Business or eCommerce plan.
2. Set the theme to one that has a right sidebar on the front page. I personally used Simple Writer and also tested with Highstarter.
3. Notice that the widgets show on the homepage. The homepage was set for posts to show.
4. A

[2021-05-30 00:03] hacchism commented on #53204
Another instance: 29836299-hc

The user followed the exact same steps as I described above. So I guess the issue is tied with this particular pattern.

[2021-05-30 10:30] Aurorum commented on #39912
PR for this issue in #53269. :)

[2021-05-30 11:45] Aurorum commented on #20733
This should be easy to fix, and while I agree that the current state is confusing, I do wonder if people might not be equally confused if this was replaced to say "Europe". My instinct would be to say "why do I have a low number of views from Europe and so many more from countries actually within Europe?".

I'm still not sure of the answer to that question; for example, I have 1319 views from the

[2021-05-30 17:56] azollafox opened #53270 "RSS Feed Block: Better Error Messaging Needed"
### Steps to reproduce the behavior

1. Go to a new post or page editor
2. Add an RSS feed URL without the HTTP in the URL
3. See error message on published site
4. Update the URL in the RSS feed to include HTTP and save
5. See error message corrected

#### What I expected to happen

I expected that if a URL requires HTTP or HTTPS in front of it in the block editor I'd see an error message prompti

[2021-05-30 22:42] joweber123 commented on #50927
+1 Just had a user request this in a Quick Start session.  It looks like we **do** support this in the [social icons block ](https://wordpress.com/support/wordpress-editor/blocks/social-links-block/#list-of-supported-icons)but not yet in the social menu.

[2021-05-31 03:29] p-jackson commented on #52995
Working on changes here: D62067-code

@yaelirub the logic I'm using to hide this card
<img width="354" alt="118771339-c8b05700-b8c5-11eb-900c-eb290a9582b4" src="https://user-images.githubusercontent.com/1500769/120135535-93d8c400-c224-11eb-8bcf-f0372d6be75d.png">
 on My Home is to check whether any of these oauth clients are currently connected to the user's account:
- Android app
- iOS app
- Andr

[2021-05-31 03:32] devNigel commented on #51787
Any update on this? 3929902-zc came back for an update on this issue.

They would like to be notified once it is fixed.

[2021-05-31 05:27] Robertght commented on #53116
Another case in 4022479-zen

[2021-05-31 06:52] aneeshd16 commented on #33077
Hi all! This issue has been fixed via D61523-code. The change specifically fixes the login flow when clicking on the "Log In" button in the action bar and should work across all browsers. 🎉

[2021-05-31 06:59] fresatomica commented on #53100
Another one, resolved by clearing the cache: https://wordpress.com/forums/topic/unable-to-post-or-to-edit/.

[2021-05-31 07:45] mmtr commented on #51095
@obenland not yet, we still need to implement the Shared tracking on Atomic sites.

[2021-05-31 10:02] alshakero commented on #44151
Yes!

[2021-05-31 11:15] StefanNieuwenhuis opened #53280 "Editor: Delay welcome tour when combined w/ Blank Canvas"
![image (3)](https://user-images.githubusercontent.com/12104589/120184128-e9a37100-c210-11eb-941d-f8763cbd3c7e.png)

### Why
After creating a new site with the Blank Canvas Flow, the Welcome Tour is displayed instantaneously.
In order to make the modal more appealing to users, we want to add a delay. This will increase the user-engagement.

### What
Add a delay of [tbd] ms before displaying the We

[2021-05-31 12:34] simison opened #53283 "Add font weight to font-pairings"
@kjellr in p9Jlb4-2yR-p2#comment-3996 :

Defined here for design picker at signup:

https://github.com/Automattic/wp-calypso/blob/badb8669bf5c25f7b13be8fbf68f6f15ee992208/packages/design-picker/src/available-designs-config.json#L8-L11

.com font styles picker is this:

<img width="309" alt="Screenshot 2021-05-31 at 15 28 43" src="https://user-images.githubusercontent.com/87168/120193768-76582a00-c

[2021-05-31 13:04] fresatomica commented on #53100
Two more from the forums: https://wordpress.com/forums/topic/cant-write-posts-2/

[2021-05-31 13:43] cpapazoglou commented on #53267
~~@retrofox, do you remember if there was a technical reason for not being able to have the same UX in Calypso block editor and WP Admin block editor?~~

[2021-05-31 13:54] cpapazoglou commented on #53267
It seems that https://github.com/Automattic/jetpack/pull/19778 will resolve that inconsistency when Jetpack 9.8 is released on 2021-06-01. It is possible that the inconsistency was introduced cause the code of the above PR was deployed in WPCOM prior the Jetpack release.

@zdenys, can you also check it for yourself by installing the Jetpack Beta plugin https://jetpack.com/download-jetpack-beta/ an

[2021-05-31 13:54] #53267 closed, assigned to nobody

[2021-05-31 16:07] LauraSWP opened #53285 "Add SFTP and Database Quicklink to the Atomic sites Dashboard"
**What**
A new quick link that links to the Hosting Configuration screen (SFTP and Database)

**Why**
A lot of Atomic users do not how to locate SFTP and when they install a lot of plugins, they usually add more menu items making it difficult when trying to find it. Also, "Hosting and Configuration" does not specify that SFTP is there.

**Additional context**
![imagen](https://user-images.githubus

[2021-05-31 16:58] liviopv opened #53286 "Nav Unification: duplicate Marketing sections"
Whenever WooCommerce's active, the site will show a "Marketing" navigation item that can be easily confused with My Site > Tools >  Marketing.

We should adjust one of the labels to make it easier for to users understand what they will find there, or move the WooCommerce Marketing tab (My Site > Marketing) into the main My Site> Tools > Marketing section.
What

**Additional context**
After I point

[2021-05-31 17:20] ianstewart opened #53287 "Custom Fonts: Add additional fonts"
Stubbing out an issue to add additional fonts to the Custom Fonts and Global Styles lists on Dotcom.

P2 ref: p9Jlb4-2yR-p2
cc @kjellr

[2021-05-31 17:22] kwight commented on #53174
Yep, it's strange that this modal doesn't have an `X`.

[2021-05-31 17:41] metabreakr opened #53288 "Flickr: Single images do not open in new tabs"
### Steps to reproduce the behavior

1. Add a Flickr block
2. Embed a URL, such as https://flic.kr/p/2m2MzMe
3. Preview the page
4. Observe that the block links to Flickr, however not in a new tab

#### What I expected to happen

I expected block options to set the link to open in a new tab, or open in a new tab by default.

#### What actually happened

The existing tab loaded Flickr.com; had to u

[2021-05-31 17:42] worldomonation opened #53289 "Playwright: look into storing logged in state to avoid repeated login process"
**Task Details**
Playwright has a section under [`Authentication`](https://playwright.dev/docs/auth) that covers storing and sharing the logged in state so tests don't have to repeatedly do so.

Look into implementing this to reduce/eliminate the steps at beginning of each suite/subsuite for logging in.

**Related to**
#51082

[2021-05-31 17:43] worldomonation commented on #53033
Reopening as more tests can be written for other files in the module.

[2021-05-31 18:06] worldomonation commented on #47829
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I am hesitant to close accessibility related issues as stale, especially an issue like this which appear to be self-contained and small in size.

I would like to propose tagging this issue with a Good First Issue label and have this triaged by the Luna team. How does that sound?

[2021-05-31 18:13] worldomonation commented on #47769
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue appears to have some activity, possibly related to the pod work. If so, the stale label should be removed.

[2021-05-31 18:21] worldomonation commented on #47757
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I tested this on the WordPress.com 6.14.0 app running on macOS Big Sur 11.3.1 (20E241).

Clicking on the `Add Site` from the sidebar launched a new browser tab with the new Gutenboarding flow.

As I had not been able to reproduce this issue, I am applying the label `Closed - Not Reprodu

[2021-05-31 18:21] #47757 closed, assigned to nobody

[2021-05-31 19:24] ciampo commented on #47829
cc @razvanpapadopol

[2021-05-31 20:22] worldomonation commented on #47720
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

The issue described by the reproduction steps still occur at this time, as expected.
Given the 'pod work' session in effect, is this something that may benefit from prioritization?
If there is no plan to scope out work for this issue at this time, I am proposing to have this closed with

[2021-05-31 20:23] worldomonation commented on #46971
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-31 20:23] #46971 closed

[2021-05-31 21:01] supernovia commented on #17191
I ran into a case of this today in this thread:
https://wordpress.com/forums/topic/images-missing-after-import-from-self-hosted/

The images all have Jetpack paths on them, and the import was huge (five separate files) so going through to fix them manually would be extremely tedious. Do we still have scripts that can help this user, and can we also fix our import script to watch for Jetpack URLs?

[2021-05-31 22:43] happychait commented on #28322
29896666-hc

Disabling "Prevent cross-site tracking" helped as a workaround.

[2021-05-31 23:56] paxblueribbon opened #53292 "Import: Wix site failing to import"
### Steps to reproduce the behavior

Create new blog
go to Tools > Import
Click Wix
Input wix site gretheangen.wixsite.com/minside

#### What I expected to happen
New WordPress.com site to roughly match Wix site.

#### What actually happened
A few text fields match, but none of the appearance matches, and none of the posts are imported

#### Is there any console output or error text?
No

#### Leve

[2021-06-01 03:23] goblinartificer opened #53294 "Sidebar: Upgrades lags on showing correct plan for AT sites"
No steps to reproduce, this has just happened three times in support in the last couple of weeks.

In all cases:

- Business plan recently purchased
- Sidebar displays Free instead
- Resolves on its own eventually, which seems like some kind of caching.

The plan appears correct on the Plans page, but the sidebar still says Free. at_options in CLI shows the correct plan slug, and everything else s

[2021-06-01 03:30] autumnfjeld opened #53295 "My Home: WordPress App Card on mobile browser"
This card contains links to app stores and getting a download link to install mobile apps.

This card was reported as missing on mobile browser: pd2qGl-4i-p2#comment-154 , while it is shown on desktop and tablet view.

I investigated and it looks like there are different ways of displaying this card depending on viewport size.  Unfortunately didn't see comments in code explaining the biz logic mot

[2021-06-01 04:22] p-jackson commented on #53295
Here's the big "go mobile" card that can appear at the top of My Home
<img width="583" alt="Screenshot 2021-06-01 at 4 09 06 PM" src="https://user-images.githubusercontent.com/1500769/120265273-c271a000-c2f3-11eb-9c72-146fc5881181.png">

And here's the smaller "go mobile" card that can appear at the bottom right of My Home
![preview-118771339-c8b05700-b8c5-11eb-900c-eb290a9582b4](https://user-imag

[2021-06-01 05:14] ramonjd commented on #45629
This is caused by CSSTidy "optimizations".

Working on a fix here: https://github.com/Automattic/jetpack/pull/19993

[2021-06-01 06:26] pauljacobson commented on #53220
I have another report here: 4015991-zen

[2021-06-01 07:45] StefanNieuwenhuis opened #53297 "Editor: There is a delay in opening the pattern modal after onboarding"
### Why
Due to the delay in opening the Pattern Modal, the user assumes nothing happens and is able to start editing right away. The modal prevents this and catches them by surprise, which causes confusion and frustration.

### What
While landing in the editor after creating a new site with the Blank Canvas Design, the Pattern Modal appears (as implemented in #49048). But it appears with a delay (

[2021-06-01 10:08] andfinally commented on #17191
Hi @supernovia, it's a while since I worked in this area, but I'm pretty sure the media import does take Photon URLs into account.

There's only one image in the media library, though there were over 7,000 attachments in the import file I looked at. The original image URLs are all coming back with 403s – according to the thread, this is because the site was hacked, and the hosts have blocked publi

[2021-06-01 10:29] Robertght commented on #53220
Another report in #4030143-zen

[2021-06-01 11:57] cpapazoglou commented on #53294
The plan shown in the sidebar depends on the data synced to the Atomic site
https://github.com/Automattic/jetpack/blob/e754e80326402bce81f3e8aee8e6a58940dd0b9f/projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php#L251

It seems that data are updated only on `jetpack_heartbeat`
https://github.com/Automattic/jetpack/blob/529d07f441bb4667acd773918563296878e19cb4/projects/

[2021-06-01 13:04] mikeicode commented on #52556
29720458-hc Customer returned saying this has happened the last 3 months, the insights total are incorrect for the monthly views.

[2021-06-01 14:09] roo2 opened #53306 "Editor crash if welcome tour is shown on atomic site with gutenberg disabled."
The welcome tour uses the`i18n-utils` package which uses the `getLocaleData` function from the `@wordpress/i18n-utils` library.

`getLocaleData` isn't present in older versions of `@wordpress/i18n-utils` but is available at least in version `3.20.0`.

However, it appears that the version of the `@wordpress/i18n-utils` package that is loaded, is dependent on whether or not gutenberg is installed.

[2021-06-01 14:26] roo2 commented on #53306
I had some ideas on how to better implement getting the localeSlug in the ETK, this might be worth another look https://github.com/Automattic/wp-calypso/issues/52598

[2021-06-01 14:29] roo2 commented on #53306
It appears that this is caused because the dependency extraction plugin used to build the ETK does not actually keep track of minimum version dependencies for `@wordpress/*` packages (as far as I can tell) 🤔
 https://github.com/WordPress/gutenberg/tree/HEAD/packages/dependency-extraction-webpack-plugin/README.md

[2021-06-01 14:51] sixhours commented on #52926
Yep! :D

[2021-06-01 14:51] #52926 closed, assigned to sixhours

[2021-06-01 15:04] roo2 commented on #53306
I can't find a way to exclude the `@wordpress/i18n` package from the dependency extraction plugin, and I can't find a way to specify a minimum required version when using that plugin.

I think the solution has to be removing the dependency on the `getLocaleData()` function by changing how this is implemented.

[2021-06-01 15:19] mrfoxtalbot opened #53308 "Professional (Titan) email failing to show validation message for the "Full name" field."
When signing up for Professional (Titan) email, if we leave the "Full Name" field empt, the "Add Professional Email" button will just not work, but no error message will be displayed.

![titan-email-validation](https://user-images.githubusercontent.com/4452464/120347923-fdc49c80-c2fc-11eb-9acb-1de04f4ebbbb.gif)

This validation error notice/message will only show if the user has clicked first on t

[2021-06-01 15:29] porada commented on #52605
Correction: VideoPress isn’t even its own block—it’s turns into an instance of the Embed block.

[2021-06-01 15:46] metabreakr commented on #51037
4034873-zen

[2021-06-01 17:22] liviopv commented on #36197
Yet another 29912451-hc

[2021-06-01 17:31] sixhours opened #53312 "Theme Showcase: Add tracking to demo preview links from theme sheets"
<img width="1660" alt="Screen Shot 2021-06-01 at 1 28 01 PM" src="https://user-images.githubusercontent.com/2124984/120366328-859aae80-c2dd-11eb-89af-21c89f8f2cb1.png">

We don't record Tracks events when someone clicks on the "Open live demo" or screenshot (circled areas on the above screenshot) to preview a site's demo from the Showcase. We probably should for clarity in the event we decide to w

[2021-06-01 17:33] sixhours commented on #37658
There is no tracking on that "Open Live Demo" button, so I've added an issue to track it in #53312

[2021-06-01 17:41] gravityrail opened #53313 "cloud.jetpack.com prompts to install as WordPress PWA on mobile"
Any site with a manifest.json can provide icons and naming for when a user chooses to install it as a Progressive Web App. cloud.jetpack.com uses the Calypso manifest.json unmodified which results in confusing behaviour.

### Steps to reproduce the behavior

1. Go to cloud.jetpack.com on Android+Chrome
2. Browse around until you get the install prompt for "WordPress.com"
3. Click to install

####

[2021-06-01 17:55] pbking commented on #59396
Welp.
I added the support to enable global styles:
[code]

But what I see (on my sandbox) is this:
![image](https://user-images.githubusercontent.com/146530/120368867-93056800-c2e0-11eb-8515-964dd8ee96dc.png)

Something seems to be getting buggered up in [the plugin](https://github.com/automattic/wp-calypso/tree/trunk/apps/editing-toolkit).  So I got said plugin running locally with the theme and

[2021-06-01 17:58] kriskarkoski opened #53315 "FSE: Index name and description"
During team testing of Full Site Editing there was general confusion over what the default Index template was used for.

Here's the description in the FSE dropdown and Block Editor sidebar:

![Screen Shot 2021-06-01 at 1 54 27 PM](https://user-images.githubusercontent.com/1900444/120369204-f2fc0e80-c2e0-11eb-85a7-242b2b8648d4.png)

It's unclear from this where this would be used on the site. Is it

[2021-06-01 18:04] kriskarkoski opened #53316 "FSE: Update default template part names"
### Steps to reproduce the behavior

1. Go to https://horizon.wordpress.com/site-editor/
2. Click on dropdown next to Index > Browse All Templates > Theme > Template Parts > Header
3. Note the default template is named `header`.

The same can be seen for Footers (`footer`) and General (`navigation`)

#### What I expected to happen

I expected the default name to be properly capitalized at a minimu

[2021-06-01 18:06] lizswafford opened #53317 "SyntaxHighlighter Code Block - Adapt colors to dark mode and dark theme color schemes"
Feature Request to allow the SyntaxHighlighter Code Block to have a light and dark mode to make it easier to read, especially on sites with a dark background color.

Or to have color customization options for the block background and text so the user can choose which background color to display that better matches the site color palette.

The current SyntaxHighlighter Code Block always appears wit

[2021-06-01 18:08] andres-blanco opened #53318 "Question: Is there documentation about Source Maps?"
While setting up the dev environment I realized that source maps where not enabled by default, so after reading the webpack config files I found that starting calypso like this: `SOURCEMAP=source-map yarn start` did the trick. Since I didn't find this documented I have some questions:

1. is this the correct way to start a dev env with source maps?
2. is there a reason why this is not enabled by d

[2021-06-01 18:12] kriskarkoski opened #53319 "FSE: Improve visibility when editing template parts"
### Steps to reproduce the behavior

1. Go to Site Editor
2. Click on W > Template Parts > Header > header (or any template part)
3. It is unclear in the editor that you are editing a template part with the sidebar closed.

![Screen Shot 2021-06-01 at 2 06 16 PM](https://user-images.githubusercontent.com/1900444/120370592-c8ab5080-c2e2-11eb-8ccf-673c4fcea6c7.png)

#### What I expected to happen

I

[2021-06-01 18:12] pbking commented on #59396
Further investigation informs me that... strangely and for reasons I can't yet explain... the directory 'twentytwentyone' seems to have some magical power to break it per the above.

I copied the theme (as modified noted above) to another folder and activated it and ... it worked perfectly.

[2021-06-01 18:18] kriskarkoski opened #53320 "FSE: Add common actions like delete and revisions to template parts"
### Steps to reproduce the behavior

1. Go to Site Editor https://horizon.wordpress.com/site-editor/
2. Click on W > Theme > Template Parts > Headers > Template (ex. `header`)
3. With the sidebar open (gear cog) not that common actions for posts/pages are not available, including the ability to delete a template or to access revisions.

#### What I expected to happen

To be able to access common f

[2021-06-01 18:29] kriskarkoski opened #53321 "FSE: Pressing Delete on default Template Part closes Site Editor"
There's some sort of specific conditions involved here that I haven't been able to fully uncover, but I can reproduce this on a new FSE site with the default template parts.

### Steps to reproduce the behavior

1. Go to https://horizon.wordpress.com/site-editor/
2. Click on W > Template Parts > Header > `header`
3. Click the top-level group block and press delete on your keyboard

![Screen Shot 2

[2021-06-01 18:36] yaelirub commented on #53295
When you say "having" do you mean at the time they view my home page?

Honestly I want to share that if it was up to me, I wouldn't have gone into so much trouble creating a logic conditioning the display of the bottom card at all.  I would just always display it. I'm trying to think of the problem this conditioning is trying to solve and I can't come up with anything that will justify the work. I

[2021-06-01 19:09] michaeldcain commented on #48335
This was fixed in #52850

[2021-06-01 19:09] #48335 closed, assigned to nobody

[2021-06-01 19:24] pbking commented on #59396
Further research shows that when the global-styles plugin is making the call to determine what to show it results in an error when using the twentrytwentyone theme:

[code]

[2021-06-01 19:24] Addison-Stavlo opened #53322 "Site Editor on Atomic - notifications shortcuts interfere with typing"
Similar to what was previously noted for simple sites accessing the site editor through wp-admin (fixed by D60728-code), trying to type in the Site Editor loaded in wp-admin of an Atomic site is hindered by notification shortcuts (like "n").

To Reproduce:
1. Create a FSE test site.
2. Upgrade plans and install a plugin to migrate to Atomic.
3. Load the site editor in wp-admin, select a paragraph

[2021-06-01 19:48] JoshuaGoode commented on #49103
We're still discussing the instance mentioned above internally at p9F6qB-6Yd-p2 as there are additional posts that are having this issue.  Seems like it's not consistent. The Subscribe button isn't hidden as it isn't present in the HTML -- so it appears it's not being generated at all.

[2021-06-01 20:27] JoshuaGoode commented on #49103
After review, confirming this can happen on both Simple and Atomic sites.

In the example Atomic request, p9F6qB-6Yd-p2, the user had ~42 posts with a Premium content block set to a specific plan ID.  Let's say it was ID 123.

If we inspect the post in the code view, we can see the following bits of lines spread out within the block.

First, for the main parent Premium content block:
``

However,

[2021-06-01 20:47] cbauerman commented on #53313
We had[ previously added Jetpack Cloud specific manifest values](https://github.com/Automattic/wp-calypso/pull/42509). However, due to a routing overlap ( pMz3w-ddz-p2 ) the WordPress.com/Blue Calypso app was the only app handling `calypso/manifest.json`. In other words, it has never worked 🤦

Now that I have requested help with the routing, the Jetpack Cloud PWA has the following:
* Correct title

[2021-06-01 20:47] #53313 closed, assigned to nobody

[2021-06-01 20:56] pbking commented on #59396
Aaaaaand all of the above was because I wasn't sandboxing the api endpoints.

[2021-06-01 21:04] worldomonation commented on #53286
To chime in, this is making my code for Playwright migration a lot more difficult than it should be, as often my code will click on the WooCommerce's `Marketing` instead of the one I'd want under `Tools > Marketing`.

[2021-06-01 21:12] yansern commented on #52985
Found the culprit.

This seems to be caused by AMP requiring core's admin-bar's stylesheet as a dependency.
See: https://github.com/ampproject/amp-wp/pull/4382/files#diff-4d201f41a17fa3b698d9548b8d417866cb3f03780acd8692b7accac477efeb65R115

A WPCOM site with AMP enabled will exhibit this issue.

Update: More context here: p1622582091014800-slack-CME773H8S

[2021-06-01 21:25] JoshuaGoode opened #53324 "Editor: Issues loading editor while WordPress.com Editing Toolkit is active, Gutenberg deactivated - c.getLocaleData is not a function"
We've recently encountered an issue on select WordPress.com on Atomic sites.

With the WordPress.com Editing Toolkit plugin, `full-site-editing`,  active and the standalone Gutenberg plugin deactivated, a user might encounter `The editor has encountered an unexpected error `.

![image](https://user-images.githubusercontent.com/4887830/120392441-80019080-c2fe-11eb-9f78-50652209fa40.png)

With the f

[2021-06-01 21:26] JoshuaGoode commented on #53324
Hit enter prematurely, filling in the rest of the details now!

[2021-06-01 21:34] kwight commented on #52848
A high-level overview of the process:

* Begin with a starter demo site (eg. rileystarter.wordpress.com).
* Do a fork of Blank Canvas.
* Replace necessary strings (`blank_canvas_`, `blank-canvas`, etc)
* Update color annotations values.
* Update color globals for the block editor (`variables.css`).
* Update fonts.
* Ads need to be taken into consideration for colors (TBD).
* Pull in homepage conte

[2021-06-01 21:40] JoshuaGoode commented on #53324
Highlighting that if a user encounters this, activating the Gutenberg plugin resolves the issue for now.

[2021-06-01 21:41] tanjoymor commented on #28322
Another case: 4640124-hc

Disabling "Prevent cross-site tracking" helped as a workaround.

[2021-06-01 21:48] gravityrail commented on #53313
Gotcha, thanks @cbauerman

[2021-06-01 22:20] p-jackson commented on #53295
Thanks for noticing that! This large card currently only shows on mobile so only needs to show one of the stores. If I make it appear on desktop too then it'll need to show both store buttons.

It means they have a "connection" as listed in the `/me/security/connected-applications` page

![Screen Shot on 2021-06-02 at 10:10:44](https://user-images.githubusercontent.com/1500769/120396594-ee8c3000-c

[2021-06-01 22:20] #52927 closed, assigned to DanielSmithMichigan

[2021-06-01 22:23] DavidRothstein commented on #52473
I guess this is related to (and will "fix") https://github.com/Automattic/wp-calypso/issues/51037.

[2021-06-01 22:26] carladoria commented on #50306
Also reported in 29916388-hc
They have 53 images and the issue happened when adding image 54
suggested they split their gallery

[2021-06-01 22:34] yaelirub commented on #53295
Do you know if it will return connected even if the app was deleted? From the list of my apps and the little test I just did , it seems like it still shows even if I delete the app.

[2021-06-01 22:38] p-jackson commented on #53295
Yes that makes sense thinking about how oauth works. When I tested logging out of the app it removed the connection, but I guess deleting the app doesn't give us any opportunity to clean up the oauth connection.

[2021-06-01 22:40] yaelirub commented on #53295
We would definitely want to show the prompt to people that deleted the app 😬

[2021-06-01 22:59] nsakaimbo commented on #47720
Hi, @worldomonation - thanks for checking in. Just a heads up that we're planning on releasing a complete overhaul of the application in a few weeks (currently in internal testing) that addresses this and myriad of other issues. I think labeling this as `Closed - Won't Fix` is appropriate.

[2021-06-01 23:01] p-jackson commented on #53295
If the user tries out the app, decides it's not for them, and deletes it; that feels very much like "dismissing" the card to me. Which is something we allow the user to do.

![Screen Shot on 2021-06-02 at 10:47:53](https://user-images.githubusercontent.com/1500769/120399392-03b78d80-c390-11eb-88b1-8f5919ec7a0a.png)

The "Hide this" button allows the user to remove the app promotion forever. So I t

[2021-06-01 23:01] nsakaimbo commented on #53220
Hello! Just a heads up that we're aware of this issue and are planning on releasing a complete overhaul of the application in a few weeks (currently in internal testing) that addresses this and myriad of other bugs. Once that version is released, we expect to be able to safely close this issue.

[2021-06-01 23:33] #48702 closed, assigned to nobody

[2021-06-01 23:38] gwensmithx opened #53325 "FSE: Center-aligned blocks like nav block and social icons jump to the left when editing"
### Steps to reproduce the behavior

During team testing we were able to reproduce this issue. When using one of the header or footer patterns, and choosing a center-aligned layout, when you click on the nav block or social icons (there are possibly others) you will notice it jumps to the left in the editor. Then it will re-center after you click off the block.

Videos of this:

https://user-image

[2021-06-01 23:39] pbking commented on #59396
Change can be found: c-D62156

[2021-06-01 23:42] worldomonation commented on #47720
That's excellent to hear, exciting times!

I suppose then, could it make sense to close out many other WordPress.com Desktop app-related issues as well?

[2021-06-02 00:09] p-jackson commented on #52936
So turns out this issue isn't unique to the "launch your site" task. The task descriptions don't change after the task has been complete.

The email verification task is still telling the user to verify, although it is clear from the disabled button that it doesn't need to be done again.
![Screen Shot on 2021-06-02 at 11:55:22](https://user-images.githubusercontent.com/1500769/120403966-6f522880-c

[2021-06-02 00:30] jordesign commented on #53324
Another instance of this in 29850535-hc

Can confirm that activating the Gutenberg Plugin resolves it

[2021-06-02 00:33] JessBoctor opened #53326 "Jetpack Form can have issues in mobile app browsers"
### Steps to reproduce the behavior

1. Send this link to yourself through a mobile app: https://itspremiumsandbox42.blog/2021/06/02/mobile-contact-form-test/
2. Fill out the form
3. Submit the form
4. See error `the link you followed has expired` or the form redirects to a blank version of itself
5. Check the website 'Feedback' and see the form submission is not there

#### What I expected to hap

[2021-06-02 00:36] happychait commented on #3185
29917834-hc

[2021-06-02 05:17] p-jackson commented on #53138
I've implemented this change in D62160-code

The checklist now looks like this when creating a new site.

https://user-images.githubusercontent.com/1500769/120427656-64fa5380-c3c6-11eb-9416-25791913296c.mov

If we decided (for whatever reason) to revert this change then we might want to be careful to only put it back in place for new sites. The existing code had logic to only show the task for sit

[2021-06-02 05:23] kristarella commented on #52556
Related to @kuropixel post above for ticket 4017013-zd

I am seeing something different to what the user sees - they sent a screenshot less than an hour ago.

**User screenshot**
![Monthly Insights (0601210](https://user-images.githubusercontent.com/2031017/120427791-eb5a6980-c3b5-11eb-8a2b-24ea993f3ccb.JPG)

**My screenshot**
![image](https://user-images.githubusercontent.com/2031017/120427814-f6

[2021-06-02 07:33] Aurorum commented on #53312
PR for this issue in #53330. :)

[2021-06-02 08:05] simison commented on #52985
What's the solution? All simple sites have AMP enabled I believe.

[2021-06-02 08:12] cpapazoglou commented on #46077
Here is the Simple sites part of hiding the fields D62166-code

[2021-06-02 09:14] mrfoxtalbot opened #53331 "Domains: Show Expiration Date as well as "Next Billing Date""
When the automatic renewal is active, users do not have a way to check the actual expiration date of their domain, only the renewal date.

Account > Purchases :
![Screen Shot on 2021-06-02 at 10:49:00](https://user-images.githubusercontent.com/4452464/120452862-d02a3280-c392-11eb-95b8-94b6b8c0e670.png)

Upgrades > Domains:
![Screen Shot on 2021-06-02 at 11:06:58](https://user-images.githubusercont

[2021-06-02 09:24] roo2 commented on #53324
We independently stumbled across this and I did some investigation yesterday https://github.com/Automattic/wp-calypso/issues/53306

[2021-06-02 09:41] cpapazoglou opened #53334 "Interface Language: Disable admins from being able to change another connected user Interface language through /wp-admin/user-edit.php"
### Steps to reproduce the behavior

1. Go to /wp-admin/users.php of an Atomic site
2. Select another connected user but yourself
3. Change their Language

#### What I expected to happen
I should not be able to change the interface language of any connected user as this is centrally managed from their calypso preferences https://wordpress.com/me/account

#### What actually happened
I could not onl

[2021-06-02 09:47] roo2 commented on #53324
temporary fix PR https://github.com/Automattic/wp-calypso/pull/53335

[2021-06-02 09:51] roo2 commented on #53324
this is triggered by code in the new user welcome tour, for new users it is automatically opened but existing users can trigger it by opening the tour from the menu.

[2021-06-02 09:54] alshakero opened #53336 "useDispatch and wp.data.dispatch sometimes return null for unregistered stores"
### Steps to reproduce the behavior

1. Create an ephemeral site.
2. Go to the editor in wp-admin
3. In DevTools console, type `wp.data.dispatch('bad-store-name')`.

#### What I expected to happen

`wp.data.dispatch` should return `{}`, as it does on simple sites (most but not all of the time).

#### What actually happened

It returns null.

### Context

See p1622528224027600-slack-CBTN58FTJ for c

[2021-06-02 10:21] yansern commented on #52985
The solution is to hook into some filter and remove the `admin-bar` dependency from `amp-icons` from the WPCOM side.
In the middle of figuring this out lol.

[2021-06-02 11:18] MaxPhilip commented on #53102
Two more tickets with the same issue. While sites are private no images are loading in Safari (tested on Mac, iPhone and iPad), same 403 error shown in browser console. As soon as site is published the images are loading fine. When disabling the "block cross site tracking" option all images are loading fine on private sites.

4026397-zen
4034674-zen

Both sites are using custom domains registered

[2021-06-02 11:22] StefanNieuwenhuis commented on #49062
@razvanpapadopol Double check: Is this the preferred way of fixing this? Thanks so much 🙏

[2021-06-02 12:01] carinapilar opened #53339 "Wrong Date Format on Settings for Localized Sites"
We weren't able to replicate this issue yet, it has been originally reported in 2017, here: p2UL9c-3iW-p2

At some point, a user with a site set with the `pt-br` language gets the Date Format set to `j de F de Y` which returns something like `2 02America/Fortaleza June 02America/Fortaleza 2021`, here's an example:

![DateFormatIssue](https://user-images.githubusercontent.com/16104522/120476361-e0d

[2021-06-02 12:15] cpapazoglou commented on #46077
And here is the Atomic part https://github.com/Automattic/jetpack/pull/20007

[2021-06-02 12:20] jsnajdr commented on #28322
For @JoshuaGoode and other reporters sharing customer chats: I wasn't able to reproduce the white screen issue. And the known information is very vague: basically it can happen on any site at any time. Especially on Simple sites, there shouldn't be any 3rd party cookie issue, as everything is loaded from a `wordpress.com` domain or subdomain.

One thing that would help tremendously would be lookin

[2021-06-02 12:54] richardkang112 commented on #41706
Hi. May I work on this issue? @donalirl

[2021-06-02 13:22] #53252 closed, assigned to cpapazoglou

[2021-06-02 13:30] allilevine commented on #53334
@cpapazoglou Thanks for catching this! There's also this possibly related issue where non-admin users can't install languages (e.g. even if centrally managed from Calypso): https://github.com/Automattic/jetpack/issues/19829

[2021-06-02 13:51] jeffgolenski commented on #53295
Thanks for diving in @p-jackson

Ace. Well done.

I'm wondering if we could narrow this down a bit.

How about:

1) Large screens: We randomly show the large CTA in the primary CTA area. When that happens, like you said, the smaller card won't appear.
2) Mobile (tablet and phone): If we see the customer is viewing My Home in the browser on a mobile device, we only show the large version in the pri

[2021-06-02 13:52] jeffgolenski commented on #53295
Just a note for this action. I'm currently exploring new ways for this to work, so this experience will be enhanced soon

[2021-06-02 14:54] xpurichan commented on #53220
Received another report in 4037933-zd. This customer is using Linux Debain 10. They did mention that version 14 was working fine, and the problem began after updating to 15. Now versions 13, 14, and 15 do not work for them even with a clean install.

![Screen Shot 2021-06-02 at 10 52 44 AM](https://user-images.githubusercontent.com/33190975/120503003-e931e400-c390-11eb-915a-32cc58f4775d.jpg)

I ha

[2021-06-02 15:36] kriskarkoski commented on #52044
Ran into this in 4038037-zen. User had one block displaying square corners and another rounded, but Border Radius setting appeared as 0 on both. On the rounded button dragging the slider up then back to 0 removed the radius.

[2021-06-02 15:42] KirkwallDay commented on #53100
Another occurrence here: 26226273-hc
Browser and OS details:
Screen Resolution:
1920 x 1080
Browser Size:
1820 x 886
User Agent:
Safari 14.1 on Mac OS X 10.15.7

[2021-06-02 16:24] stephanethomas commented on #53308
Note this is a general issue with both the Titan and Google Workspace forms. We should trigger validation as soon as the user clicks on the `Add Professional Email` or `Add Google Workspace` button.

[2021-06-02 16:35] jeffgolenski commented on #52936
Great thoughts here @p-jackson @roo2! For the short-term, I think each individual action needs to be broken down into past-tense, but also provide different direction.

Since the checklist effectively disappears after launch, I don't want people getting comfortable using the checklist as a place to keep coming back to perform edits. Example: After they name their site, I don't want them to keep co

[2021-06-02 16:44] jeffgolenski commented on #52936
@michaelpick @sethmclellana8c — would love your thoughts on the above convo. Mainly differentiating between current and past-tense states of the checklist. Keeping in mind that customers can visit the checklist post launch as well.

[2021-06-02 17:07] jeffgolenski commented on #53141
**RE: mobile app card**

Per a convo with some of the mobile team, we'll most likely keep, but change the sub title on the small app card. Waiting to see what they feel is best to help market the app. pd2qGl-4i-p2#comment-191

[2021-06-02 17:10] jackiejade commented on #50928
4038229-zen (AT)

[2021-06-02 17:27] nsakaimbo commented on #47720
Yep - we expect to close the majority - if not all - existing issues. 😄 It's a massively improved experience and we're looking forward to getting it in the hands of our users.

[2021-06-02 17:28] samiff commented on #48477
Noting that this came up in JP 9.8 internal testing: p8oabR-FS-p2#comment-5363

I'm able to reproduce the issue of being redirected to wp-admin from Calypso when SSO is off.

[2021-06-02 17:28] worldomonation commented on #47720
That's awesome! I look forward to seeing the revamped app :)

In the meantime, I will close this issue with the Won't Fix label. Thanks for following up!

[2021-06-02 17:28] #47720 closed, assigned to nobody

[2021-06-02 17:36] nickpagz commented on #14896
FWIW, this kills HE work-flow when helping users in tickets or chat. Just saying.
I understand if it HAS to be done, but would be great if the themes were directly accessible.

[2021-06-02 17:50] sixhours commented on #52799
This last piece is part of an upcoming sprint: ` When we're ready, add the Auto Loading Homepage tag to any themes in the Theme Showcase that we want to move to the "Recommended themes" section.`

So I'm going to close this out and call it done. Thanks all for your help!

[2021-06-02 17:50] #52799 closed, assigned to sixhours

[2021-06-02 18:10] jeyip commented on #51200
D60951-code has been merged, but, because of limitations to how faithfully we could reproduce the lossless revert in a sandboxed environment, we've found a bug. We'll be addressing it before we close out this issue.

If a full site editing CPT exists before a simple -> atomic transfer, any subsequent updates to the same CPT while on the atomic site don't show up when the site undergoes an atomic -

[2021-06-02 18:20] kathleenjross commented on #43183
Related issue in 29932954-hc

The user is selling a book on their site, using the Payments block; it is a one time purchase. However, they pointed out that the email receipt uses subscription language - "You've subscribed to Book Order" is the subject line of the email, as well as the line items in the receipt body.

<img width="641" alt="screen-shot-2021-06-02-at-12 05 01-pm" src="https://user-im

[2021-06-02 19:02] jeyip opened #53347 "Full Site Editing: Template Part Area Terms aren't migrated during a lossless revert"
### Description

Lossless reverts don't seem to correctly carry the `wp_template_part_area` tax term back to the simple site. This happens regardless of whether or not the template part existed before the AT.

### Steps to reproduce the behavior

1. Create a template part of type general on the template.
2. Upgrade and initiate the Atomic Transfer.
3. Update that template part's area from "general

[2021-06-02 19:03] sixhours commented on #52012
We chatted about this in Slack; a quick summary:

* When you "Try & Customize" a theme, you're brought to the Customizer where you'll see your existing content skinned with the new theme. Clicking Activate & Save will save your site AND run the autoloading hompage/template-first themes (TFT) actions to swap your homepage.
* It doesn't make sense to run the TFT actions on save here, because the goa

[2021-06-02 19:06] yaelirub commented on #53295
I totally get that. I just worry that the conditioning will not work as expected. I think that someone could have had a connection to the app because they tried it ages ago. Just having an oauth connection doesn't mean they're an active app user. We have improved our app tremendously in the last couple of years so I'd prefer to just display it unless the user has specifically chosen to dismiss the

[2021-06-02 19:27] DavidSaladu commented on #51787
4037950-zen also notified us that the issue is still appearing and reminded us of the issue.

They would like to be notified once it is fixed as well.

[2021-06-02 19:27] creativecoder commented on #45513
Still relevant, the v3 endpoint should be deprecated and replaced.

[2021-06-02 19:42] jeffgolenski commented on #53295
@yaelirub Absolutely. I can get behind that reasoning! Maybe it boils down to simply allowing customers to dismiss either card depending on which one is displaying. Rather than make assumptions we can just ask for their input.

This opens up a new door in my brain. I think I'm going too far down the rabbit hole, but imagine if we could see that they once had used the app, but no longer do. We coul

[2021-06-02 19:43] andres-blanco commented on #21075
I confirm that this bug exists and it's reproducible.

A different theme needs to be used since the one cited above (photo-blog) does not exist anymore. You can use this: https://wordpress.com/theme/ovation

 I am searching for possible fixes, seems complex

[2021-06-02 19:45] blackjackkent commented on #52012
Nope, that covers it. Thank you again for the help/insight, @sixhours !

I'm going to work on building a new diff that short-circuits our custom logic for that hook if the user is on the Customizer.

[2021-06-02 19:56] jffng commented on #59396
Tested and verified the above patch adds the ability to change the heading and base font for twentytwentyone.

[2021-06-02 19:57] deke207 opened #53350 "Embed Block : WordPress.com Embeds Breaking In Editor Mixed Content Issue"
#### Steps to reproduce

1. Starting at URL: [Test Site](https://mrfoxtestingsite.wordpress.com/2021/06/02/blank-embeds/)
2. Enter editor
3. Embed source [Link](https://wpcommaven.com/2020/10/28/getting-ones-head-around-the-full-block-editor/)

#### What I expected: Embed preview to show in embed block in editor.

#### What happened instead: Block returns no preview.

#### Browser / OS version: Ch

[2021-06-02 20:32] metabreakr opened #53351 "Post Streak notifications still show in Calypso when "Site Achievements" are turned off"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/notifications
2. Uncheck "Site Achievements" for both Reader and Email
3. Go on a post streak
4. Observe notifications still appear in Calypso

### Context

29765137-hc

[2021-06-02 20:38] the-misha opened #53352 "Site tagline dropping characters from text"
#### Steps to reproduce
1. Starting at URL: https://testymctestface157859255.wordpress.com/wp-admin/post.php?post=27&action=edit
2. Change Post Template to Portfolio, then click Edit.
3. Type text into Site Tagline block.

#### What I expected
The text "Because super cool taglines are seriously super cool."

#### What happened instead
The A, R, and S characters are dropped from the string past the

[2021-06-02 21:19] anomiex opened #53353 "calypso-build: Build fails in a monorepo with linked packages"
### Steps to reproduce the behavior

1. Unzip [test.zip](https://github.com/Automattic/wp-calypso/files/6587417/test.zip)
2. Change to the `test/app/` directory.
3. Do `yarn install` or `pnpm install` or `sed -i.bak -e 's/link:/file:/' package.json; npm install`.
4. Do `node_modules/.bin/calypso-build`.

#### What I expected to happen

It would build successfully.

#### What actually happened

[co

[2021-06-02 21:25] kwight commented on #53100
@obenland for triaging visibility, @taggon for pod consideration.

[2021-06-02 21:34] sajmes commented on #51435
I see this is being worked on, but dropping another report here: 4038428-zd-woothemes

[2021-06-02 21:41] ianstewart commented on #52848
I mentioned this on our call but I think there is prior art in this repo for doing some of this with PHP. I don't know how valuable it is. It's pretty old, and based on a particular theme, [_s](https://github.com/Automattic/_s).

It's the code that handles all this.

![image](https://user-images.githubusercontent.com/545779/120555927-68d7a700-c3c1-11eb-9d88-73f3d621d238.png)

[2021-06-02 22:05] kwight commented on #14896
Ah, good point – that's more important than me worrying about potential future what-ifs. 👍

[2021-06-02 22:59] p-jackson commented on #53295
Yep that's right, on iOS or Android we can just show the store button that's specific to them.

[2021-06-02 23:12] yaelirub commented on #53295
@jeffgolenski , we really believe that the apps can serve and benefit Dotcom users especially with all the improvements we made and are constantly making but we also know that a large portion of them don’t even know we have an app or have used it a long time ago.
I truly appreciate the conversation as well. Thank you so much for listening and being creative with solutions 🙏

[2021-06-02 23:19] p-jackson commented on #52936
Makes sense @jeffgolenski, adding incomplete/complete variations for each card fits in well with the current code structure so no problems there. When the time comes I think I'll do a p2 with every task listed so we can see every change.

[2021-06-02 23:44] annbingle commented on #53294
Same issue report here 4038326-zen

[2021-06-03 00:15] sirbrillig opened #53356 "Checkout: Update all payment processors to redirect to pending page on success"
Currently the credit card payment methods in checkout operate as follows:

Submit the payment to the transactions endpoint; when we get a successful response, call the payment complete callback and redirect to the thank-you page.

However, the redirect payment methods (eg: Giropay, Bancontact, PayPal) operate differently; they receive a redirect URL from the transaction response, then redirect to

[2021-06-03 01:22] roo2 commented on #53306
closed by https://github.com/Automattic/wp-calypso/pull/53335

[2021-06-03 01:22] #53306 closed, assigned to nobody

[2021-06-03 01:32] annezazu commented on #50246
This is happening with the Site Tagline block when using Template Editing mode on WordPress.com. Would it be advantageous to create a new issue or can someone dig into a fix? For now, reopening :)

[2021-06-03 01:38] nickpagz commented on #14896
I was also referring to #52686 which `...forces logged in users to select a site context when visiting...`.
Again, not ideal when helping user's. Suggesting a bunch of themes (via links) to users now requires we either a) strip out our test site slug from the url via some sort of Alfred workflow, or b) we SU as the user and copy the links from the theme section on their site. Testing option a) now

[2021-06-03 01:47] eamcgill90 opened #53358 "Basic importer not importing content from .com to .com sites"
I saw this issue a few times today and reported here as well: pbkcP4-iw-p2

### Steps to reproduce the behavior

1. Go to Tools > Export on any WordPress.com site
2. You can either export all content, or a portion of the content (i.e. just posts)
3. Download the backup (all xml files I tested with were populated with content)
4. Import backup into a new WordPress.com site

#### What I expected to

[2021-06-03 02:39] donalirl commented on #41706
All good with me @richardkang112

[2021-06-03 03:56] jeyip commented on #51200
D62074-code has been released

[2021-06-03 04:09] ramonjd commented on #50246
I just pilfered @vindl's work from D60728-code

https://github.com/Automattic/jetpack/pull/20014

Not sure if that fits in with the way Jetpack does things.

It did occur to me that we could put the check inside a filter and apply it, but we'd need to do it on WPCOM and Atomic/Jetpack anyway so I don't think it'd be more efficient.

[2021-06-03 05:28] stefancln commented on #53100
Another here 4038307-hc

[2021-06-03 07:27] autumnfjeld commented on #53295
I think there are a number of themes that have been exposed here, bigger than the original purpose of this ticket.  So success on a good discussion!! 😄

* I'm not sure we need to intertwine the logic of the two cards. So for now let's treat them as separate entities, as they currently are, not intertwining their visibility.  Or similarly they could each have their own dismiss mechanism--separate f

[2021-06-03 07:51] p-jackson opened #53364 "The welcome guide isn't translated on atomic sites when the Gutenberg plugin is deactivated"
### Steps to reproduce the behavior

1. Go to an atomic site
2. Deactivate the Gutenberg plugin
3. Switch the language to non-`en`
4. Open editor and show the welcome guide

#### What I expected to happen

The welcome guide should be translated

#### What actually happened
<img width="1275" alt="Screenshot 2021-06-03 at 11 45 54 AM" src="https://user-images.githubusercontent.com/1500769/120607749-

[2021-06-03 07:52] mrfoxtalbot opened #53365 "FSE: Increase top margin in header so that the toolbar does not obscure the content of the blocks"
In the regular editor, there is enough margin between the post title and the first block to accommodate the toolbar for that first block:

<img width="600" alt="Screen Shot 2021-06-03 at 09 50 11" src="https://user-images.githubusercontent.com/4452464/120608106-1cd44300-c451-11eb-870a-5f77f3e420dc.png">

This is not the case with the HEADER block/part in full site editing. The lack of top margin/p

[2021-06-03 09:32] michaelpick commented on #52936
I like the solution you've outlined, Jeff, and how it teaches the user to fish rather than increases dependency on the checklist or My Home outside of its intended purpose.

For the checklist itself, I'd say that consistency in the experience trumps a switch in the tense here. Most of us are familiar with checklist to-do items, and the idea of completing them without the task description itself ch

[2021-06-03 09:53] p-jackson commented on #52936
On this a11y point, unfortunately not. My Home is really lacking a number of basic a11y features e.g.  tab navigation, visible focus, semantics for checklist etc.
It's one of the things I've got in my head that I'd like to improve while we're working in this area.

[2021-06-03 10:29] daledupreez commented on #52682
I am going to close this out as we rolled this out to all users on 2021-05-25. (The change was made in some of our APIs.)

[2021-06-03 10:29] #52682 closed, assigned to daledupreez

[2021-06-03 10:45] michaelpick commented on #52936
Ah! If there isn't a better solution that lets us keep consistency, that could make the case for switching tense after all.

A few ideas:

### Consistency focused

One way to handle it would be to keep things as consistent with the original wording as possible:

- Name your site > Named your site
- Update your homepage > Updated your homepage
- Edit the site menu > Edited the site menu
- Launch yo

[2021-06-03 11:30] kjellr commented on #53287
For quick reference: Here are the three new font additions, and three new pairings.

## New Fonts

Inter|DM Sans|Bodoni Moda
---|---|---
<img width="215" alt="gliphs-1-1" src="https://user-images.githubusercontent.com/1202812/120637276-b2b1a300-c43c-11eb-9919-3168b54bd788.png">|<img width="215" alt="gliphs-6" src="https://user-images.githubusercontent.com/1202812/120637278-b2b1a300-c43c-11eb-859f-

[2021-06-03 12:13] joashrajin opened #53373 "Editor: Cannot Paste using right-click on Safari when there is no content in a text based blocks (Paragraph, List, Heading, Quote, etc.)"
### Steps to reproduce the behaviour

1. Open up a page using Safari & add a Paragraph Block to your page
2. Copy some text (any text) and try to paste it using right click on the paragraph block
3. The paste button should be greyed out if the Block is empty. The workaround is to type any text and then it will let you paste

#### What I expected to happen
The Paste option should work, the same as

[2021-06-03 12:16] kriskarkoski commented on #38697
Potentially another case in 4030166-zen when sharing to LinkedIn

[2021-06-03 12:37] jordesign commented on #52806
Closing this as https://github.com/Automattic/themes/pull/3875 has been merged and resolves this for Seedlet.

The broader issue is covered in https://github.com/Automattic/themes/issues/3887

[2021-06-03 12:37] #52806 closed, assigned to jordesign

[2021-06-03 12:43] jackiejade commented on #53116
Another case in 4040113-zen

[2021-06-03 13:12] zdenys commented on #53267
Tested it on Jurassic Ninja with Jetpack Beta. I can see the right behavior now, exactly as on a Simple Site 🎆  🥳  🤝  Thank you!

[2021-06-03 13:28] swoodipto opened #53376 "WhatsApp Button Block: Icon & text overlapping for RTL language"
### Steps to reproduce the behavior

1. Go to **My site > Settings > General**
2. Change site language to an RTL one, like Hebrew for example
3. Create a new page or post and add the **WhatsApp Button Block**
4. Check the preview on the live site

#### What I expected to happen

The icons and text should not overlap, as it does for LTR languages (English for example).

![Markup on 2021-06-03 at 18

[2021-06-03 13:30] swoodipto commented on #53376
This can be patched using this custom CSS for Premium & the above sites:
(Reversed the left and right padding)

[code]

[2021-06-03 13:44] mmtr opened #53377 "Atomic: WP Admin sessions are closed after logging out from WP.com when SSO is disabled"
### Steps to reproduce the behavior

1. Disable SSO on an Atomic site (Settings > General > Security > WordPress.com log in)
1. Make sure you're logged in into both Calypso and WP Admin.
1. Go to https://wordpress.com/me and click on the "Log out" button.
1. Go to WP Admin.

#### What I expected to happen

Since SSO is disabled, the WP.com session and the WP Admin session are decoupled, so I shoul

[2021-06-03 13:45] StefanNieuwenhuis opened #53378 "Signup: Existing email address validation message rings wrong"
### Why
The user is "welcomed" with a wrong ringing message and we want to change this in order to improve the user-friendliness of the signup.

### What
When a user tries to create a new account with an existing email address, a verification error message _"Choose a different email address. If this is you log in now."_ is shown and it doesn't ring very well.

<img width="352" alt="Screenshot 2021

[2021-06-03 13:45] StefanNieuwenhuis commented on #53378
This is a two-step 🚀
The first part, _"Choose a different email address."_, is a validation message returned from the backend.
The second part, _"If this is you log in now."_, is directly added in the frontend.

So both need to be updated.

[2021-06-03 13:57] StefanNieuwenhuis opened #53379 "Login: Include "send me a login link" in password validation message"
### Why
_Prioritizing_ the send me a login link by including it in the password validation message will improve the user's login experience.

### What
<img width="387" alt="Screenshot 2021-06-03 at 15 47 47" src="https://user-images.githubusercontent.com/12104589/120657037-6c803200-c484-11eb-8328-7d1f9c8ec1b6.png">

When the user enters a wrong password, the validation message should include a _se

[2021-06-03 14:06] #53312 closed, assigned to nobody

[2021-06-03 14:20] kwight commented on #40310
Work by @Aurorum continues here: https://github.com/Automattic/wp-calypso/pull/40793

[2021-06-03 14:39] StefanNieuwenhuis opened #53380 "Login: Hints for username/email address"
### Why
We want to improve the Signup/Login UX for our users.

### What

Customers are not guided in case of easy-to-catch typos, like gmail.com vs gmai.com (example)

![image](https://github.com/Automattic/wp-calypso/assets/52076348/80c23ec3-320b-44b4-badb-2a5d70184c4d)

Figma: zccgVq6oS7TzXOvVnx2Pib-fi-4_2

### Acceptance Criteria
* [ ] The user gets hints in case of easy-to-catch typos

### Rel

[2021-06-03 14:54] StefanNieuwenhuis commented on #53380
[Mailcheck](https://github.com/mailcheck/mailcheck) is a NPM lib that takes care of this but isn't maintained in over 5 years. I wonder if there are alternatives (already) used by us. @razvanpapadopol, @yansern  do you have any ideas?

[2021-06-03 15:18] kwight opened #53383 "Editor: Expose the sidebar on first load of the editor."
We currently have the editor sidebar hidden when the user first loads the editor. Let's revert this behaviour.

This should involve reverting https://github.com/Automattic/wp-calypso/pull/43716

See: pd2qbF-5L-p2

[2021-06-03 16:32] ianstewart commented on #52988
@sixhours I think you have a list where you've double-checked some of our blog themes for inclusion here? IP2, Dyad-2, and one other?

[2021-06-03 16:44] kriskarkoski commented on #43055
I believe this is standard core behavior. The most-recent caption is stored in the library and will be added to a new gallery, but changes are not synced to allow a gallery to be customized. I would close this as working as expected.

[2021-06-03 17:37] niranjan-uma-shankar commented on #52940
Implemented in D62219-code.

[2021-06-03 18:53] khristiansnyder commented on #52182
Another report in 4022360-zen

[2021-06-03 19:47] michaeldcain commented on #14896
@nickpagz can you use the logged-out view of the Showcase (via an incognito browser)? It doesn't require a site context for either the themes list or single theme pages, and I believe the links are all the same.

[2021-06-03 19:58] worldomonation commented on #47718
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue is being closed due to an upcoming revamp of the WPCOM desktop app.
If this issue should remain open, please feel free to re-open this bug.

[2021-06-03 19:58] #47718 closed, assigned to nobody

[2021-06-03 19:58] worldomonation commented on #47719
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue is being closed due to an upcoming revamp of the WPCOM desktop app.
If this issue should remain open, please feel free to re-open this bug.

[2021-06-03 19:58] #47719 closed, assigned to nobody

[2021-06-03 21:17] jeffgolenski commented on #52936
@michaelpick Thanks for the great breakdown there. I think you list of personality flavored reads very nicely. Feels natural and    concise!

[2021-06-03 21:25] jeffgolenski commented on #53295
Solid breakdown @autumnfjeld. Sorry—my mind moves at a hundred kilometers a minute. Thanks for wrangling us back in!

As you mention, let's fix up the missing small card on mobile devices for now. I'll continue to think on the larger relationship. I think with the concepts I'm working on for better navigation of the primary CTA cards, will alleviate @p-jackson from pulling his hair out writing log

[2021-06-03 22:23] fullofcaffeine opened #53394 "Gutenberg: v10.8.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/53135.
Release notes: [v10.8.0-rc.1](https://github.com/WordPress/gutenberg/releases/tag/v10.8.0-rc.1), [v10.8.0](https://github.com/WordPress/gutenberg/releases/tag/v10.8.0), [v10.8.1](https://github.com/WordPress/gutenberg/releases/tag/v10.8.1).

- [x] Install and activate
  - [x] Copy & install v10.8.0-rc.1 (D62496-code, D62496-c

[2021-06-03 22:24] fullofcaffeine commented on #53135
Next one: https://github.com/Automattic/wp-calypso/issues/53135.

[2021-06-03 22:25] fullofcaffeine commented on #53135
Next one: https://github.com/Automattic/wp-calypso/issues/53394.

[2021-06-03 23:47] p-jackson commented on #53295
Yes please 😅

Here's a teeny tiny diff that just the smaller "go mobile" card appears on all devices, including mobile D62243-code

[2021-06-04 00:35] kristarella opened #53397 "Editor: Custom Color missing in block settings"
### Steps to reproduce the behavior

1. Edit post or page
2. Add or edit any block that uses Color in block settings (paragraph, heading, table, columns, group, list, verse, button etc)
3. Open Color section in Block settings sidebar
4. Only the 4-5 colored circles are present, Custom Color link is missing

#### What I expected to happen

To be able to choose a custom color

![image](https://user-

[2021-06-04 00:49] kaitohm commented on #53397
Another report: 28982151-hc
Will need a follow-up once resolved: 4042010-zd-woothemes

[2021-06-04 00:51] chrisfromthelc commented on #53397
I've run into a similar issue with the custom font size missing.

Previously:

<img width="345" alt="Screenshot on 2021-06-03 at 17-42-45" src="https://user-images.githubusercontent.com/8002138/120729111-31392f80-c493-11eb-8dd4-7f1dc90a0fa9.png">

Currently:
<img width="155" alt="Screenshot on 2021-06-03 at 17-41-26" src="https://user-images.githubusercontent.com/8002138/120729130-38603d80-c493-11

[2021-06-04 01:16] kristarella commented on #53397
+1 user report 28834643-hc
followup 4042087-zd

[2021-06-04 01:21] kristarella commented on #53397
+1 29026451-hc
followup: 4042101-zd

[2021-06-04 01:53] #53238 closed, assigned to taggon

[2021-06-04 02:29] kosiew commented on #53397
24352467-hc

[2021-06-04 02:55] retnonindya commented on #53397
10455731-hc

Followup email: 4042211-zd-woothemes

[2021-06-04 03:52] formosattic commented on #53397
29890517-hc (email follow-up: 4042305-zd-woothemes)

[2021-06-04 03:55] KokkieH commented on #53397
We've had a report via Twitter DM as well

[2021-06-04 03:55] galakhyati commented on #53397
24383007-hc
Follow up: 4042300-zd-woothemes

[2021-06-04 04:03] deBhal commented on #52705
D62239-code resolves the `save_post_page` case by listening for the `jetpack_post_saved` action and forwarding the `page` changes to the onboarding checklist.

I'm marking this complete for now, assuming that the Jetpack Crew have p9dueE-2SE-p2 and we can re-open it if it looks like we need to look into making that sync more consistent.

[2021-06-04 04:03] #52705 closed, assigned to deBhal

[2021-06-04 05:25] devNigel opened #53399 "Cover Block, Group Block, Media & Text Block: No changes in editor with Full Width and Wide Width"
### Steps to reproduce the behavior

1. Go to a Simple site.
2. Use any theme. I was able to confirm the issue with TTO, Rivington, and Spearhead.
2. Add a Cover block in a Page or a Post.
3. Apply Wide Width or Full Width. You will notice it has no effect on the editor window.
4. If you check the live page, you can see the changes.

Screen recording: https://d.pr/i/dPJcNh

#### What I expected to

[2021-06-04 05:47] p-jackson commented on #52192
Agreed. I think when I say "works on .org" I really just mean "doesn't crash on .org". The only .org use case I care about is the ability to load ETK on vanilla WP in a docker container so we can run tests.

---

So turns out we can't just do the `function_exists()` trick and call `is_a11n()` directly on Atomic. The `is_a11n()` function depends on secret configuration that just doesn't exist on At

[2021-06-04 06:07] devNigel commented on #53397
27634680-hc
Follow up: 4042064-zd

[2021-06-04 06:16] mrsjaved commented on #53397
another report:
29625113-hc
Follow-up: 4042427-zd-woothemes

[2021-06-04 06:30] mrsjaved commented on #53399
Another exact same issue reported here:
29346209-hc

Follow-up: 4042491-zd-woothemes

I was able to reproduce it with Veni and Blank Canvas theme.

[2021-06-04 07:07] jordesign commented on #52531
Trying to recreate this and narrow down when it happens.

Jurassic Ninja:
* Does not occur with base install with TwentyTwenty active
* **Does** Occur as soon as I have Gutenberg plugin active

Presuming this means it is a Gutenberg bug?

[2021-06-04 07:11] retnonindya commented on #45317
Hi team! I would like to ask your assistance on this user's issue:
3983254-zd-woothemes (refer to @bobmatyas' comment above.)

The user requested us to assist on trashing/deleting the problematic page. Problem is, we can't trash/delete it.

I tried using Calypso-display and WP Admin-display, both to no avail.

When in Calypso-display, there will be a quick "Trash is failed" notification; then the

[2021-06-04 07:14] KokkieH commented on #53397
https://wordpress.com/forums/topic/text-color-16/

[2021-06-04 07:19] galakhyati commented on #53397
another one:
29961226-hc

Follow up: 4042561-zd-woothemes

[2021-06-04 08:22] folletto commented on #51202
I'd start by noting that it should be just simply possible to change what the screen reader says, as the toggle is just a checkbox underneath, and checkbox are accessible.
See for example the guidance here: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/checkbox_role

As for the change of the label themselves, I'm not sure. I feel that talking of "billing" is a bit unclear.

[2021-06-04 08:28] folletto commented on #51202
I'd start by noting that it should be just simply possible to change what the screen reader says, as the toggle is just a checkbox underneath, and checkbox are accessible.
See for example the guidance here: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/checkbox_role

But...

That interaction is not one option on/off, it's a choice between two options. So semantically, the p

[2021-06-04 08:29] kdevnel commented on #53397
Additional report:
26703114-hc

Follow up: 4042684-zd-woothemes

[2021-06-04 08:30] teofilushansl commented on #50306
User report: 4012386-zen
51 images on the gallery and when the user tried to add the 52nd image, the block breaks. Another HE able to replicate it (53rd image)
Suggest creating a separate gallery.

[2021-06-04 08:44] #53308 closed, assigned to daledupreez

[2021-06-04 08:49] zdenys opened #53401 "Black overlay / veil in the Editor in Safari, Chrome, Firefox"
### Steps to reproduce the behavior

Open any page in the Editor

#### What I expected to happen

#### What actually happened

User sees a black overlay

### Context

Given the timing, I'm not sure if it's related to the latest update of Gutenberg to v10.7.1 on all Simple Site.

#### Browser / OS version

Safari 13 https://www.whatsmybrowser.org/b/M0113

#### Is this specific to the applied theme?

[2021-06-04 08:50] zdenys commented on #53401
23659372-hc (4042723-zd-woothemes)

[2021-06-04 08:54] kriskorn commented on #53397
Another report: 29872281-hc
I also added a high priority label, as this is affecting all Simple sites as far as I can see.

[2021-06-04 08:54] nagpai commented on #53397
Another report
27864513-hc

Followup: 4042727-zen

[2021-06-04 09:07] joashrajin commented on #53220
Another report here: 4042200-zd-woothemes

They claim the issue only started happening recently.

[2021-06-04 09:16] edwinho89 commented on #52209
4040672-zen simple site.

Affected user is on Windows WordPress.com desktop app v6.15.0 which is interesting.

Had asked user to logout, then login again if it helps (as an act of clearing cache)

[2021-06-04 09:23] edwinho89 commented on #53397
4042224-zen

Added comment to p7DVsv-bR1-p2#comment-36218 , as it appears to be affecting simple sites (related to recent Gutenberg update?)

WoA site is not affected as tested at current time.

[2021-06-04 09:55] joashrajin opened #53403 "Twenty Eleven: Image Block caption color is white in Gutenberg"
This might be fixed in https://github.com/WordPress/gutenberg/pull/28233, but I am reporting it here in case it isn't

### Steps to reproduce the behaviour

1. Create a new page and add an Image Block, then add an image to it
2. You should then notice that the caption has this CSS Code applied to it in the editor:
[code]
3. On the frontend, the colour is correct

#### What I expected to happen
The

[2021-06-04 10:00] MaxPhilip commented on #53397
Another report 4042748-zen

[2021-06-04 10:02] KokkieH commented on #53397
https://wordpress.com/forums/topic/colour-change-5

[2021-06-04 10:08] daria2303 commented on #51429
Another one: [28271626-hc](https://hud.happychat.io/chat/28271626)

[2021-06-04 10:10] daria2303 commented on #53397
Another one: 28271626-hc

[2021-06-04 10:12] zdenys commented on #53373
I can see the same behavior with other blocks: [Quote Block](https://wordpress.com/support/wordpress-editor/blocks/quote-block/), [List Block](https://wordpress.com/support/wordpress-editor/blocks/list-block/), [Heading Block](https://wordpress.com/support/wordpress-editor/blocks/heading-block/), [Media & Text Block](https://wordpress.com/support/wordpress-editor/blocks/media-text-block/). Possibl

[2021-06-04 10:40] carinapilar commented on #53339
When troubleshooting this situation, we're actually getting double slashes, when following these steps:

1. Change your account's language to PT-BR, Português do Brasil
2. Go back to My Sites, create a new site
3. Go to Settings > General > Writing, change the Data Format to Custom

That's when you get `j \\d\\e F \\d\\e` Y in there:

![DateFormatIssue3](https://user-images.githubusercontent.com/1

[2021-06-04 10:41] teofilushansl commented on #53397
Another User report: 4042337-zd-woothemes

[2021-06-04 10:54] swoodipto commented on #53397
Another report: 29628727-hc

[2021-06-04 10:57] WunderBart commented on #52985
FYI this seems to have been causing our mobile E2Es to fail against trunk since May 29th https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_mobile/6245917

<img width="408" alt="Screenshot 2021-06-04 at 12 59 04" src="https://user-images.githubusercontent.com/1451471/120791650-c0e2ea80-c534-11eb-8912-88a04e852577.png">

Some slack context:
- p1622745527036300-slack-C1A1EKDGQ

[2021-06-04 11:09] syds87 commented on #53397
Another report: 16444673-hc

[2021-06-04 11:25] yansern commented on #52985
This just increases the urgency of getting it fixed. On it.

[2021-06-04 12:01] Robertght commented on #53397
A new report in 24442742-hc

[2021-06-04 12:33] syds87 commented on #53397
New report in 29958094-hc

[2021-06-04 12:34] simison commented on #53397
Release with fix: https://github.com/WordPress/gutenberg/releases/tag/v10.7.2 — not on .com yet.

Core equivalent of this issue was in https://github.com/WordPress/gutenberg/issues/32410

[2021-06-04 12:36] kdevnel commented on #53401
Another report here - 15274367-hc

Confirmed they're using Safari 13 too.

Follow-up: 4043163-zd-woothemes

[2021-06-04 12:50] kdevnel commented on #53401
Marking that this _may_ be relating to the release that also caused this issue #53397

[2021-06-04 12:55] Robertght commented on #53401
Another report in 29965793-hc

Safari 13.1.2

**LE: My user confirmed it was fine after they cleared the cache. I think the fix from #53397 might be the one.**

[2021-06-04 12:58] #52192 closed, assigned to p-jackson

[2021-06-04 13:02] Addison-Stavlo opened #53410 "Full Site Editing: Stats (Tracking Issue)"
**Task Details**
This issue will be to help track issues and PRs related to FSE stats tracking on dotcom.  pbAok1-2c4-p2

* [x] Add editor type to events tracking. #53411 (https://github.com/Automattic/wp-calypso/pull/53384)
* [x] Enable Undo/Redo tracking in Site Editor. #53412 (https://github.com/Automattic/wp-calypso/pull/53405) (https://github.com/Automattic/wp-calypso/pull/53733)
* [x] Fix `i

[2021-06-04 13:02] kdevnel commented on #53401
Clearing cache didn't work in my case but I can't be confident on that.

[2021-06-04 13:06] Addison-Stavlo opened #53411 "Add `editor_type` to editor tracking events."
**Task Details**
Add a way to determine which editor (site vs. post) a tracking event comes from.  A property for which post type is being edited in the post editor may also be useful.

**Related to**
#53410

[2021-06-04 13:08] Addison-Stavlo opened #53412 "Enable undo/redo tracking in site editor."
**Task Details**
Update Undo/Redo tracking events so they work in the site editor as well.

**Related to**

#53410

[2021-06-04 13:13] Addison-Stavlo opened #53413 "Undo/Redo events affecting Reusable Block and Template Part content triggers block inserted tracking events."
When an "undo" or "redo" event happens that affects a Reusable Block or Template Part's content, a (or multiple) "wpcom_block_inserted" tracking event fires.

To Reproduce:
* Debug log wpcom editor tracking events.
* Add a template part or reusable block to the post/page editor.
* Update inner block content of a paragraph.
* Hit "undo"
* Notice 'wpcom_block_inserted' event in the log just after th

[2021-06-04 13:16] zdenys commented on #53401
Another report 7635061-hc

Safari 14, Operating system OS X 10.14.6.

[2021-06-04 13:23] simison commented on #52192
Deployed. PR https://github.com/Automattic/wp-calypso/pull/52230 and summary p58i-aHm-p2,

[2021-06-04 13:29] Addison-Stavlo opened #53414 "Site Editor Stats - wrong `inserter_method` for inserting blocks via sidebar."
When we insert a block from the block inserter sidebar in the Site Editor, the tracking event's `inserter_method` property is set a "quick-inserter" as opposed to "header-inserter" (as seen in post editor).

To Reproduce:
* Enable editor tracking debug logs.
* Load the site editor and insert a block from the sidebar inserter.
* Notice the `inserter_method` in the log has the incorrect value.

Rela

[2021-06-04 14:03] Marcia-HC commented on #53373
I encountered a ticket about this issue here: 4042813-zen

[2021-06-04 14:07] cpapazoglou opened #53415 "Color Schemes: Users on Atomic sites with the default color scheme not applied"
Related convo: p1622813175341200-slack-C01VDMPHG69

After a quick debug zoom call with @cavalierlife, I noticed that **classic-dark/colors.css** wasn't loading in their Atomic site.

### Steps to reproduce the behavior
- User who hasn't ever selected color schemes
- Go to `/wp-admin`
- The masterbar is not black and the horizontal lines from the Site Card are missing
- **classic-dark/colors.css**

[2021-06-04 14:11] cpapazoglou commented on #53415
In `wp-content/mu-plugins/jetpack/plugins-xmlrpc.php` we are defaulting to `null`
`$color_scheme       = isset( $calypso['colorScheme'] ) ? $calypso['colorScheme'] : null;`

We should change that to `classic-dark`

[2021-06-04 14:44] mikeicode commented on #53401
25804507-hc

Safari 14.0 on Mac OS X 10.15.6

[2021-06-04 14:54] joashrajin commented on #53397
4042145-zd-woothemes

[2021-06-04 15:30] dhackneya8c commented on #53397
New report in 22423676-hc

[2021-06-04 15:33] jartes opened #53419 "After changing site address, media images URLS are renamed if they contain the site URL"
### Steps to reproduce the behavior

1. Create a new site (Simple): example.w0rdpress.com
2. Upload an image with the site URL on the file name: image_example.w0rdpress.com.jpg (URL of the uploaded image: https://example.files.w0rdpress.com/yyyy/mmmm/image_example.w0rdpress.com_.png)
3. Go to Settings → General → And change the site address to another one: examplerenamed.w0rdpress.com
4. Go to Med

[2021-06-04 15:35] ersatzpenguin commented on #53397
Another report of the font-size option missing mentioned by @chrisfromthelc here: 18400546-hc

Also confirmed that the font-size issue is confined to Simple sites. AT sites seem unaffected.

[2021-06-04 15:37] JoshuaGoode commented on #53419
An internal discussion where we identified the issue and fleshed out the specifics more and have examples: p1622818373444800-slack-C03TY6J1A

User ticket will be added shortly.

Overall, it seems whatever search-replace is occurring on a site address change is a bit overbearing and will change file names themselves.

Using internal file tools, we can see the files are still present but use the old

[2021-06-04 15:43] yansern commented on #52985
The proper phab patch fix has landed: D62348-code

[2021-06-04 15:49] kcswong commented on #53397
Report in 29692355-hc, follow up in 4043620-zen

[2021-06-04 15:49] jartes commented on #53419
User ticket: 4043622-zen

[2021-06-04 15:53] sethmclellana8c opened #53420 "Slideshow won't scroll through images"
### Steps to reproduce the behavior

1. I created a post yesterday (pd2qGl-6k-p2)
2. I was able to Publish the Post yesterday
3. I was able to browse the slideshow yesterday
4. Today I reloaded the post and when I click on the arrows, the slideshow doesn't go to the next photo

I tried disconnecting and re-connecting to the proxy, with no success. A fellow a11n was able to see the slideshow at the

[2021-06-04 15:56] lizswafford commented on #44844
Also got this request today 29420704-hc.

[2021-06-04 16:08] JoshuaGoode commented on #53419
Internal P2 thread: p2EDhh-1hT-p2

[2021-06-04 16:23] syds87 commented on #53403
A similar case seems to be happening on 29394749-HC with a different theme (Gema)

[2021-06-04 16:38] ericamQA commented on #53419
I tested this and could not reproduce. The updated site address takes me to the file but the file name remained the same. This is a simple site on a free plan. I'll leave open for now though since others have reproduced the issue.

[2021-06-04 16:44] JoshuaGoode commented on #53419
Reproduced just now for good measure.

To reproduce, I took a site with a free site address as primary, `test355863330.wordpress.com`

I then uploaded an image titled `image_test_test355863330.wordpress.com.png`

I then changed my site address to `test3558633301.wordpress.com`

The led to the image file name being replaced and is now broken: `https://test3558633301.files.wordpress.com/2021/06/imag

[2021-06-04 16:45] synora commented on #53084
Noting the site for the post being referenced in the reply above mine is now public.

[2021-06-04 16:51] ericamQA commented on #53403
Reproduced. Tested on a few other themes too and, even on a dark background, the same problem didn't happen in themes I tested with, other than TwentyEleven.

[2021-06-04 16:56] ericamQA commented on #53401
### Unable to replicate in Safari Version 14.0.3 with MacOS 11.2.3

![No-Black-Overlay](https://user-images.githubusercontent.com/44411833/120836984-313d3c00-c534-11eb-86a4-663ba20ae2d9.png)

[2021-06-04 16:57] jackiejade opened #53422 "Editor: Captions on image block showing white by default"
### Steps to reproduce the behavior

1. Go to Pages > Add New
2. Click on + to add an image block and select an image
3. Try to add a caption to the image
4. You can type below the image, but there is no box to tell you you can, and when you type the font shows up in white by default.
5. Change text color using the options:
6. https://d.pr/i/E8yK3T

#### What I expected to happen
It should be blac

[2021-06-04 17:03] ericamQA commented on #53373
### I was able to replicate in Safari 14.0.3 and MacOS 11.2.3 while triaging

![No-copy-paste-option](https://user-images.githubusercontent.com/44411833/120837795-2931cc00-c535-11eb-9639-945b6e58686d.png)

[2021-06-04 17:07] jp-imagines commented on #53401
24621745-hc

Safari 14.0 on Mac OS X 10.14.6

Notably, only this user's simple site was affected. Their other AT site was not affected with the same computer/browser.

[2021-06-04 17:22] carinapilar opened #53424 "Spotify: Embedding Playlists Stopped Working"
### Steps to reproduce the behavior

1. Add the Spotify block
2. Paste the link to a public playlist into the field
3. Hit the button to embed

#### What I expected to happen
Normally, it should show the playlist when you hit Embed.

#### What actually happened
It shows `Sorry, couldn't find that.`

### Context

#### Is there any console output or error text?
Yes, it shows a 404 error for the Spot

[2021-06-04 17:33] ezebecke commented on #53401
4043806-zd

Safari 14.0

[2021-06-04 17:35] synora commented on #53248
Just noting that I'm still able to replicate this on both simple and Atomic sites.

[2021-06-04 17:40] xpurichan commented on #53401
20841838-hc
Safari 13.1 on Mac OS X 10.13.6
Clearing cache did not resolve, suggested using another browser in the meantime.

[2021-06-04 17:43] ericamQA commented on #53351
Testing (for triage) but it will take me posting several days in a row to see if I get a notification or not, after turning the notifications off. Will report back.

[2021-06-04 17:52] ericamQA commented on #53424
### Reproduced for triage

![Spotify-Playlist-Not-Found](https://user-images.githubusercontent.com/44411833/120843457-1ec70080-c53c-11eb-9d61-268e3b801577.png)

[2021-06-04 18:05] deancroyal commented on #53397
WordPress.com forums: https://wordpress.com/forums/topic/heading-and-text-block-colours-no-longer-allow-custom-hex-code/

[2021-06-04 18:08] carinapilar opened #53425 "Captions: Invisible on Some Themes"
### Steps to reproduce the behavior

1. Add a Video block, embed a Youtube video for example
2. Or add an Image block
3. Add a caption to the video, or the image

#### What I expected to happen
To see the caption text.

#### What actually happened
Caption text is invisible:

![CaptionIssue1](https://user-images.githubusercontent.com/16104522/120844991-8f731a80-c546-11eb-936d-b9b25a620e47.jpg)

###

[2021-06-04 18:08] synora commented on #53270
I'm able to duplicate this as well when inserting a feed using the RSS Block.

[2021-06-04 18:16] fullofcaffeine commented on #53424
Related: https://github.com/WordPress/gutenberg/issues/22302.

[2021-06-04 18:18] ericamQA commented on #53425
Closed in favor of https://github.com/Automattic/wp-calypso/issues/53422

[2021-06-04 18:18] #53425 closed, assigned to nobody

[2021-06-04 18:20] mikeicode commented on #53401
15113330-hc
Safari 14.0 on Mac OS X 10.15.7

[2021-06-04 18:39] folletto opened #53427 "Calypso Green: WP Admin back button should not open a new tab"
<img width="355" alt="Screenshot 2021-06-04 at 19 33 56" src="https://user-images.githubusercontent.com/4389/120847755-d1fb1e00-c56b-11eb-8e32-420abfe38f6e.png">

Going to WP Admin from Calypso Green should just navigate back to the self-hosted WP Admin page, it should not open a new tab as it breaks the flow.

Note that:

* If the user came from WP Admin, we should be able to send them back to th

[2021-06-04 18:41] csonnek commented on #53100
More reports (two different site owners) here: https://wordpress.com/forums/topic/i-can-not-edit-my-site-and-i-can-not-add-a-new-post-and-i-can-not-edit-my-old-posts/

[2021-06-04 18:42] shaunandrews commented on #53427
Yes, please! I have enough tabs open already. :)

[2021-06-04 18:42] #51817 closed, assigned to nobody

[2021-06-04 18:46] synora commented on #53326
@JessBoctor I just finished testing the form and it's working as expected via Gmail, Slack, and the WordPress App (iPhone).

[2021-06-04 18:46] joashrajin commented on #53397
New report: 4042945-zd-woothemes

[2021-06-04 18:48] sethmclellana8c commented on #52936
- Agree with @michaelpick 's comment above that checklists and "Complete" tags are pretty universally understood. So we shouldn't fuss too too much.
- I agree the email card reads much more naturally, as you pointed out @jeffgolenski  .
- I hadn't thought about the subtle effect of "being trained to go to the checklist to do things", though I agree this could be an issue for some users and we defi

[2021-06-04 18:48] carinapilar commented on #53422
Got 2 users reporting this too:

28619507-hc
29970127-hc

Happens on Video blocks too, captions are also invisible. But only on specific themes, for the users I got, it was on Lodestar and Twenty Fourteen.

[2021-06-04 18:49] deancroyal commented on #53397
WordPress.com forums: https://wordpress.com/forums/topic/captions-and-colors-in-wordpress/

[2021-06-04 18:52] ericamQA commented on #41726
Closing as this was fixed for WPcom.

[2021-06-04 18:52] #41726 closed

[2021-06-04 18:54] synora commented on #43055
I just ran a quick test of this and that's exactly how it works.

[2021-06-04 18:54] #43055 closed

[2021-06-04 18:59] DavidRothstein commented on #53204
Right, I think this does require upgrading the plan in order to trigger -- it's a known issue (see pNPgK-543-p2).

[2021-06-04 19:02] joashrajin commented on #53008
4042945-zd-woothemes

[2021-06-04 19:05] synora commented on #48008
Remove stale status as I'm still able to replicate this.

[2021-06-04 19:07] synora commented on #47988
@razvanpapadopol this issue has gone stale. Is it still relevant or can be closed?

[2021-06-04 19:09] synora commented on #47965
@nsakaimbo It looks like this issue has gone stale. Is it still relevant or can it be closed?

[2021-06-04 19:11] synora commented on #47769
@razvanpapadopol Can the stale label be removed?

[2021-06-04 19:16] synora commented on #47675
Hi @sarayourfriend and @tyxla this issue has gone stale. Is it still relevant or can it be closed?

[2021-06-04 19:28] ianstewart commented on #52837
Quick mockup of the recommendation:

![image](https://user-images.githubusercontent.com/545779/120853324-0efdeb00-c541-11eb-9686-151987f33060.png)

- Moved Classic Dark to the front of the list.
- Renamed to Default.

[2021-06-04 19:31] ianstewart commented on #52837
Looks like these last two images are off-grid.

![image](https://user-images.githubusercontent.com/545779/120853554-787df980-c541-11eb-9810-7e79858482c2.png)

If it's a simple fix we should fix it in the same PR, or if it's non-simple, or we want a cleaner PR, we can fix it later in another Issue+PR.

[2021-06-04 19:46] sirbrillig commented on #53356
We have to make sure that whatever we do also supports alternate implementations of checkout like the one-click upsell and anywhere else that might use `CheckoutProvider`.

[2021-06-04 19:47] andres-blanco commented on #52837
It seems like replacing the current css rules for `.form-radios-bar .form-radio-with-thumbnail` by
[code]

So I will include it in this PR

[2021-06-04 20:01] sajmes commented on #53401
More reports here:

20837428-hc - Safari 14.0
27824089-hc - Safari 13.1.2 (also same report here: 4046052-zd-woothemes)
27478199-hc - Safari 13.1.2

[2021-06-04 20:11] #53242 closed, assigned to nobody

[2021-06-04 20:37] jp-imagines commented on #52209
29972536-hc

Simple site. Chrome 91.0 on Windows 10. Clearing cache did not resolve the issue.
User was able to edit by switching to Firefox.

[2021-06-04 21:47] nsakaimbo commented on #47965
Hi, @synora - Thanks for checking in. We will be re-instating within the next couple weeks, but until then doesn't hurt to leave this issue open for tracking purposes.

[2021-06-04 21:55] JoshuaGoode opened #53429 "Like button / Accessibility: Frame missing title attribute"
On both Simple sites and Jetpack/Atomic sites, the Like button renders in a frame which is missing a Title attribute.

Users that check their sites using WCAG accessibility test tools will receive a notice WCAG notice like the following.

**Frames must have title attribute**
"Ensures <iframe> and <frame> elements contain a non-empty title attribute. Applicable success criteria: 2.4.1, 4.1.2"

The

[2021-06-04 22:07] ericamQA commented on #47654
Unable to reproduce. Closing.

[2021-06-04 22:07] #47654 closed, assigned to nobody

[2021-06-04 22:10] ericamQA commented on #43194
Removing stale label, this is still a relevant enhancement request.

[2021-06-04 22:14] ericamQA commented on #47927
I'm not able to reproduce this and it hasn't been touched or added to in a while. Closing for now.

[2021-06-04 22:14] #47927 closed

[2021-06-04 23:25] taggon commented on #49041
I found the same issue can be reproduced on WordPress.org with the AMP plugin. The Gutenberg on my atomic sites works when both the AMP plugin and the CoBlocks are turned off. It doesn't work with either of those.

Here's the plugins of my atomic site.
![Plugins_‹_Podcast_testing_—_WordPress](https://user-images.githubusercontent.com/212034/120871357-6306df00-c5d6-11eb-97e0-7ec0f8579b8f.jpg)

This

[2021-06-04 23:38] fullofcaffeine commented on #53422
Seems to be a Gutenberg core issue. Reported here: https://github.com/WordPress/gutenberg/issues/32470.

[2021-06-04 23:53] formosattic commented on #53422
4043511-zd-woothemes (on Twenty Twelve)
4062551-zd-woothemes (on Twenty Sixteen)
4063827-zd-woothemes (on Edda)

[2021-06-05 00:57] kaitohm commented on #53397
This issue has now been resolved. I've responded to all tickets and forums linked above, letting users know the issue has been resolved. I have not responded to any chats where no follow-up tickets was listed.

[2021-06-05 00:57] #53397 closed, assigned to nobody

[2021-06-05 01:27] sanjeev00733 commented on #53401
Another report in 29974882-hc
Safari 13.1.2

[2021-06-05 01:46] annbingle opened #53431 "Customizer: Changes are not being Saved"
Have seen this issue in 3 interactions now, 2 chats and 1 ticket in which any changes made on their Customizer doesn't get saved when clicked on the Save Changes button. The settings go back to default.

### Steps to reproduce the behavior
(In one of the issues we encountered so far) This is when changing the Colors settings in the Customizer.

1. Go to Appearance > Customize.
2. Click on Colors &

[2021-06-05 01:48] annbingle commented on #53431
The issues observed on the following tickets:
4044491-zen
4044298-zen
4042732-zen

[2021-06-05 02:13] hacchism commented on #53204
Another instance: 4044623-zen

@DavidRothstein It's good to know that this was logged already there. Not sure if you would like to keep this open or not. I'd defer to you👍

[2021-06-05 03:30] kristarella commented on #52907
user request that may be related 4043165-zd

[2021-06-05 04:04] kosiew opened #53432 "TwentyTwelve - caption is missing for image block in Editor"
### Steps to reproduce the behavior

On a site with TwentyTwelve theme

1. Create new post
2. Add an image block
3. See error

#### What I expected to happen
Caption is visible and can be edited

#### What actually happened
Caption is missing

#### Does this happen on simple or atomic sites or both?
Both

#### Is there any console output or error text?
No

#### Level of impact (Does it block purch

[2021-06-05 04:41] AashikP commented on #52983
Just wanted to add that after reverting a site, when all other themes are gone, you can view the site Editor Option again.

![https://d.pr/i/gv2DSZ+](https://d.pr/i/gv2DSZ+)

ref pca54o-1mt-p2#comment-1951

[2021-06-05 05:18] bsanevans commented on #53401
User on 4043806-zd-woothemes (also listed above) sent us the following information:

- Issue started on June 3. They post everyday, so no that was when it started.
- Issue only happens for them when they have more than a certain amount of content. (They said it starts at around 325 words and if they have more than one image.)

[2021-06-05 06:04] kaitohm commented on #53401
Noting we'll want to respond to 4043896-zd-woothemes and let them know once the issue has been resolved.

[2021-06-05 09:34] zdenys commented on #53399
Seen during Quick Start session 4044952-zd-woothemes

I also noticed it happens for some Block Patterns too. They don't display full or wide width in the editor but display as expected on the front end.

[2021-06-05 09:41] zdenys commented on #53399
Another case 4044948-zd-woothemes

The Block Patterns are not displayed full width despite being set as such in the Editor. They display well on the front end.

So the bug is affecting the [Group Block](https://wordpress.com/support/wordpress-editor/blocks/group-block/) too, and [Media & Text Block](https://wordpress.com/support/wordpress-editor/blocks/media-text-block/), not only [Cover Block](ht

[2021-06-05 10:20] Robertght opened #53433 "Inconsistent likes stats/notifications"
A user noticed the stats aren’t sending them all the likes notifications.

I'm opening this issue as a result of the post and for tracking other similar ones in one place.

Post: p2EDhh-1hF

[2021-06-05 11:10] Robertght commented on #53401
Another report in 29980505-hc / Followup: 4045268-zen

[2021-06-05 12:59] carinapilar commented on #53422
Another one with Canard: 4043777-zd-woothemes

[2021-06-05 14:16] zdenys commented on #53399
29923269-hc

[2021-06-05 15:08] villanovachile commented on #53397
Another report 4041989-zd

Responded to user letting them know the issue has been resolved

[2021-06-05 15:12] ericamQA commented on #53422
A similar thing is happening on theme TwentyFifteen (at least) but for the "Add Title" field prompt which is also displaying as white text on a white background.

![Add-Title-Is-White-On-White](https://user-images.githubusercontent.com/44411833/120896206-88074c00-c5ee-11eb-9955-131e2ec5ecf4.png)

I thought I'd add it here to help flesh out the scope of this issue and that it may not be limited to

[2021-06-05 15:21] AtrumGeost commented on #53431
Got another report here:

29967785-hc

I tried deactivating all the plugins and the issue persisted:

https://user-images.githubusercontent.com/3696121/120896454-46bf6e00-c5e7-11eb-8331-759ec98bfb33.mp4

The user asked us to notify when this is solved:

Follow-up: 4045664-zd-woothemes

[2021-06-05 15:47] villanovachile commented on #53422
Another report: 4044737-zen

[2021-06-05 16:06] deancroyal commented on #53422
WordPress.com forums: https://wordpress.com/forums/topic/edit-corrupts-my-existing-site/

Theme: Independent Publisher 2

Example of caption with white font.

<img width="400" alt="Screen Shot 2021-06-05 at 9 01 16 AM" src="https://user-images.githubusercontent.com/13387217/120897754-9f3d3e00-c5dc-11eb-99b0-5f5ec3716dea.png">

Once text is selected with mouse and cursor.

<img width="400" alt="Scr

[2021-06-05 17:07] zdenys commented on #53399
By the way, also most of the Block Patters look all cramped together and not full width as they should in the Block Inserter.

https://user-images.githubusercontent.com/39308239/120899652-81ea8d00-c639-11eb-8822-e34c06ae4e6b.mov

If you preview the page/post, the frontend is not affected, only the Editor view.

[2021-06-05 17:44] sanjeev00733 commented on #53422
Another report in 4044127-zen

[2021-06-05 19:24] JessBoctor commented on #53431
Helped with this issue yesterday in #28549294-HC and came across it on a different site today in #29985650-HC. Both were atomic sites.

I found that the issue was being caused by the `theme_mods_{currentTheme}` setting in the options table being set to `-`.

Screenshot here:
![Annotation on 2021-06-05 at 12-22-24](https://user-images.githubusercontent.com/1398304/121056526-22909800-c773-11eb-83fb-

[2021-06-05 19:38] JessBoctor commented on #53431
Just thought I would mention, I did a test and can produce the behavior by manually changing the `theme_mods` option in the DB to `-`

[2021-06-05 21:17] jordesign opened #53434 "My Home: Have 'Name your site' task direct users to the Customizer panel instead of Calypso Settings"
Suggested change to the link in the "Name your site" CTA button.
We can get a win by directing users to use the Customizer for this - where they will see a preview of the change being made.

HOWEVER, a complicating factor in the current flow involved with that CTA:
Name your site CTA --> Settings Page --> Wizard Help module --> Return to My Home.
This needs thought/discussion before we decide to c

[2021-06-05 21:24] jordesign commented on #53434
May just be a case of redirecting the link on the button - but do we need to consider the tour?

<img width="1065" alt="Screen Shot 2021-06-06 at 7 17 58 am" src="https://user-images.githubusercontent.com/1842363/120905744-8ba2dd80-c697-11eb-98e5-8530fc5f6dfb.png">

[2021-06-05 23:14] jordesign commented on #53434
I've got a PR for the link change - but it doesn't address the need for the tour/wizard steps.
#53435

[2021-06-06 00:34] ericamQA commented on #53431
Another instance here: 29988408-hc

Atomic, third party theme (OceanWP)

[2021-06-06 01:21] gwensmithx commented on #50917
This seems to be happening on both AT and Simple Sites as reported #4044979-zen

[2021-06-06 04:46] #40833 closed

[2021-06-06 04:47] indolering commented on #40833
Closed due to spam.

[2021-06-06 04:52] Jaccuse commented on #53431
I found another case here: 4043466-zen

This one relates to the site's menus, it is a Simple site.

Steps to reproduce:

1.  Go to Appearance -> Customize -> Menus, pick any menu
2. Select a menu area for that menu, either Primary or Social
3. Save the changes
4. Check the published site or reload the customizer.
5. Both menu areas will be empty.

[2021-06-06 08:37] Agepeuve commented on #53431
Another case in 4043466-zen.

[2021-06-06 09:10] bisko opened #53436 "Unable to scroll sidebar menu on mobile"
### Steps to reproduce the behavior

1. Open the site sidebar menu in Calypso
2. Try to scroll down and choose the bottom-most item
4. See attached video

#### What I expected to happen

To be able to choose the past item in the list.

#### What actually happened

See that you can't choose the last item, because the browser UI pops up and covers the last item

### Context

I'm trying to change my

[2021-06-06 10:19] louinel commented on #53431
Another case here: 4045394-zen.

[2021-06-06 12:19] liviopv opened #53437 "Gemma: Numbered List Block starts with "0" instead of "1" in Safari"
### Steps to reproduce the behavior

1. Open a new page or post
2. Add a numbered list using the List Block
3. Publish the post/page
4. Open the post/page in Safari

#### What I expected to happen

The numbered list should start at "1" like on any other browser

#### What actually happened

The numbered list started at "0" in Safari

### Context

#### Browser / OS version

Mac 11.3.1 / Safari 14.1

[2021-06-06 13:08] AtrumGeost commented on #38807
Hi folks!

I encountered this issue again, but this time with a Jetpack plan that was purchased on an AT site:

4047311-zd-woothemes

[2021-06-06 15:16] kathrynwp commented on #53401
Ran into this with a Quick Start user running Safari earlier today but did not get the version number at the time.

4047461-zen

[2021-06-06 16:25] liviopv commented on #53401
Safari 13.1 on both:

- 29997009-hc
- 14094825-hc

[2021-06-06 19:58] kathrynwp commented on #53422
Another report in 4043773-zen

[2021-06-06 20:12] hanananah commented on #53431
Another case: #29987019-hc / #4047801-zen

[2021-06-06 20:34] katiebethbrown commented on #49063
Reported in 4047073-zd-woothemes

User is frustrated that their reusable block changes don't show in preview.

Their feedback (translated):

[2021-06-06 21:08] umitkutlu895 opened #53438 "Another case: #29987019-hc / #4047801-zen"
Another case: #29987019-hc / #4047801-zen

_Originally posted by @hgwaltney in https://github.com/Automattic/wp-calypso/issues/53431#issuecomment-855456188_

[2021-06-06 21:11] louinel commented on #53422
Another case here: 4047515-zen

[2021-06-06 23:45] carinapilar commented on #53422
Another 2 reports:
- 4044574-zd-woothemes with Mistylook
- 4044649-zd-woothemes with Spatial

[2021-06-06 23:56] carinapilar commented on #53401
Got a report for Chrome version 67.0.3396.87 on 4042122-zd-woothemes.

And another 3, one is from Safari on an iPad:
4045820-zd-woothemes
4044049-zd-woothemes
4046985-zd-woothemes

[2021-06-07 01:09] formosattic commented on #53422
18577569-hc

[2021-06-07 01:32] autumnfjeld commented on #53434
@jordesign

Good call out!!

We also need to consider the user flow here.
CURRENT:
My Home Checklist --> Name your site CTA --> Settings Page --> Wizard Help module --> Return to My Home.

PROPOSED (not fleshed out, needs discussion):
My Home Checklist --> Name your site CTA --> Customizer --> Then what? --> Return to My Home?
(As you [pointed out in your PR](https://github.com/Automattic/wp-calyp

[2021-06-07 02:07] umitkutlu1 commented on #53422
Kathryn ***@***.***> schrieb am So., 6. Juni 2021, 21:59:

[2021-06-07 02:45] adelineyaw commented on #53431
Adding more cases:
4046845-zen
4042773-zen
4046092-zen
4045264-zen
731632-hc / 4049137-zen
30030311-hc / 4052407-zen
22409075-hc
7879291-hc / 4068911-zen

[2021-06-07 03:57] tellyworth commented on #53399
I just ran into the same issue with the core image block. Theme is Twenty Twenty One.

Wide/Full size appears unchanged both in the editor and in the pop-up preview. I only see the correct alignment after publishing the post and checking it on the front end.

[2021-06-07 04:52] yashitamittal11 opened #53441 "Audio block caption added in Classic editor not visible in block editor"
The user has added audio captions in the classic editor. They have switched to the block editor. However, the audio captions added via the classic editor don't show on the block editor. They do show on the published page.
Screenshot -

![published post](https://user-images.githubusercontent.com/21078987/120962289-10b3f280-c77d-11eb-8318-1c4b8d398b5f.jpg)

#### Steps to reproduce

I tried to add au

[2021-06-07 04:53] inaikem commented on #53429
Requested a confidence check here before actioning this request: p1623041552252500-slack-C7YPUHBB2.

[2021-06-07 05:09] #53432 closed, assigned to nobody

[2021-06-07 05:15] autumnfjeld commented on #52995
Given recent discussion and work on this, should we close this?
https://github.com/orgs/Automattic/projects/252#card-62139652

Or should we keep it open for the possibility of using tracks event to provide more refinement?  e.g. `wpandroid_application_opened`

[2021-06-07 05:26] #53399 closed, assigned to nobody

[2021-06-07 05:27] inaikem commented on #53441
@yashitamittal11, I tested but was unable to replicate.

- On a test site I created an audio block in the Block editor, added a caption and saved the post (the user's post was created in Gutenberg).
- I then edited my post via the Classic editor's visual view. The original caption was still present and I made an edit to the caption text.
- Switched to the Classic editor text view and I saw the ori

[2021-06-07 05:39] inaikem commented on #41825
@noahtallen, I'm checking in to see if this issue is still relevant or can be closed as part of WPcom triage. Please let me know! 🙏

[2021-06-07 05:43] yashitamittal11 commented on #53441
@inaikem Thanks. I have suggested the user add the audio block again. They just mentioned the issue on a single post so it seems okay to add the audio block again. However, it will be a bit cumbersome if the issue is on multiple posts.

[2021-06-07 05:47] inaikem commented on #47656
Hi @kriskarkoski, just checking in to see if this issue is still relevant. Please let me know! 🙏

[2021-06-07 05:51] yashitamittal11 opened #53442 "List block - Add alphabetical list option"
**What**
The user wants an option to add an alphabetical list via the List block.

**Why**
The List block only allows an option to add an unordered list and an ordered list. Some users also want the option to alphabetize the list.

**How**
Add the alphabetize option to the list block controls.

![list controls](https://user-images.githubusercontent.com/21078987/120965143-1102bc80-c782-11eb-9293-b5

[2021-06-07 05:54] inaikem commented on #47608
Hi folks, just checking in for WPcom triage to see if this issue is still active or can be closed/merged. Thanks 🙏

[2021-06-07 06:05] inaikem commented on #47736
Trying to replicate for WPcom Triage but have yet to receive my confirmation email. I'll be back to complete testing as soon as I can.

[2021-06-07 06:30] kaitohm commented on #53401
Two more reports on these Japanese forum posts.

## Report 1

* https://wordpress.com/ja/forums/topic/%e6%96%b0%e8%a6%8f%e6%8a%95%e7%a8%bf%e3%81%8c%e3%81%a7%e3%81%8d%e3%81%aa%e3%81%84%e4%bb%b6%e3%81%ab%e3%81%a4%e3%81%84%e3%81%a6/
* Safari, 13.0.5
* macOS Mojave, 10.14.6
* User said Safari on iPad works fine

## Report 2

* https://wordpress.com/ja/forums/topic/imac-bigsur-11-4%e3%81%aesafari%e3%81

[2021-06-07 06:53] kspilarski commented on #53401
Same case in Safari 13.1 on 21047201-hc.

[2021-06-07 06:53] autumnfjeld commented on #52706
@deBhal working on this in D62307-code

[2021-06-07 07:05] poojashetty18 commented on #53401
Another report on 4046548-zen

[2021-06-07 07:18] poojashetty18 commented on #53422
Another report in 4047164-zen

[2021-06-07 07:23] fresatomica commented on #53422
Another report here: https://wordpress.com/forums/topic/image-captions-12

[2021-06-07 07:31] simison commented on #53401
@Automattic/crowdsignal hi! I'm suspecting this is from a crowdsignal block but I haven't investigated, you you help to have a look?

[2021-06-07 07:34] fstath commented on #53422
Two more reports in this forum thread:

https://wordpress.com/forums/topic/captions-not-showing-up-and-cannot-add-new-captions-2/

[2021-06-07 07:58] edwinho89 opened #53444 "Editor: "Add Title" Label is Missing in Page and Post Editor"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/themes
2. Scroll to the bottom, click on "Show all themes"
3. Activate any older WordPress.com themes after Redhill theme.
4. Go ahead create a new post/page, or edit existing post/page without any page titles.

#### What I expected to happen

The "Add title" label is visible on the top of editor, so you know where to add page/pos

[2021-06-07 08:08] edwinho89 commented on #53444
Initially reported in 8000150-hc

[2021-06-07 08:14] edwinho89 commented on #53401
Another report on 26391342-hc

User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.1 Safari/605.1.15

[2021-06-07 08:31] kaitohm commented on #53401
Another report on 25262268-hc (Follow-up: 4048922-zd-woothemes)
Safari Version 13.1.2 (13609.3.5.1.5)

[2021-06-07 08:35] khristiansnyder opened #53447 "Saving certain site settings (E.g. in Advanced General) breaks/reverts theme"
### Summary

On a simple and AT sites, when any setting is changed in _Advanced General_, the theme breaks and completely reverts to a different theme or just shows broken/blank homepage for the site.  I tested with Karuna and Twenty Twentyone active and after saving some new sittings in Advanced General, my test site switched to Twenty Fifteen.
WP-Admin/themes shows an error: `The active theme is

[2021-06-07 08:36] #53442 closed, assigned to nobody

[2021-06-07 08:46] simison opened #53448 "Block widget editor on .com enters constant refresh loop"
This can be harder to replicate, but we're seeing the experimental block widget editor on .com go into a refresh-loop:

https://user-images.githubusercontent.com/87168/120986777-9dfb4500-c785-11eb-9830-8f2839b02ea6.mp4

https://user-images.githubusercontent.com/87168/120986781-9e93db80-c785-11eb-92b9-83aa62f21544.mp4

via p58i-axR-p2/#comment-50850

The feature is going to be released in WP 5.8 Ju

[2021-06-07 08:48] simison commented on #53448
Block editor has a similar issue (https://github.com/Automattic/wp-calypso/issues/53448) but Jacopo mentioned (p58i-aCg-p2#comment-50871) it doesn't seem exactly the same:

[2021-06-07 08:59] vajrasar commented on #53431
Another case with the theme set as Gema here: 29953587-hc / 4048963-zen

[2021-06-07 09:03] poojashetty18 commented on #53447
Another report on 30008759-hc
Theme: Verity

The AT site user also made changes to Advanced General settings and changed the New User Default Role from "Customer" to "Vendor"

[2021-06-07 09:07] tyxla commented on #47675
I'm fine to close it. We can re-open if we need it in the future 👍

[2021-06-07 09:07] #47675 closed, assigned to nobody

[2021-06-07 09:25] edwinho89 opened #53451 "Allow Changing Merchant Name or Statement Descriptor on Email Receipts using Payments Block"
Please, be as descriptive as possible. Issues lacking detail, or for any other reason than to request a feature, may be closed without action.

What
Allow users the option to add their own merchant name, or renaming statement descriptor when sending email receipts to customers using Payments Block.

Why
More Personalised

How
[Stripe has this option](https://support.stripe.com/questions/update-bus

[2021-06-07 09:28] jartes commented on #53431
Another one on 29843673-hc using Storefront. Restoring the site to the previous day solved the issue

[2021-06-07 09:46] khristiansnyder commented on #53403
Just came across this on an AT site and the **Gazette** theme. Image block captions are white in the editor against a white background.

[2021-06-07 10:14] davemart-in opened #53454 "New user confirmation screen pauses out"
## Steps to reproduce

1. Create a new user on a WP.com account.
2. Check your email for the new user invite email and click the "Accept Invitation" button.
3. You should see a screen similar to the screenshot below. Click the "Accept Invitation" button.
4. The button changes color and the button text changes to "Joining..." and then nothing happens.

## Screenshot

![image](https://user-images.gi

[2021-06-07 10:38] inaikem commented on #53429
Raised in turn here: p1623041552252500-slack-C7YPUHBB2

[2021-06-07 10:43] rickmgithub commented on #53401
Another report
#30010350-hc

[2021-06-07 11:02] KokkieH commented on #53422
@mrfoxtalbot we shouldn't be posting in the Gutenberg repo with user reports, adding Zendesk and Happychat IDs that the community there don't have access to, so it might be good to keep this open in parallel with the GB issue for the purpose of user follow-up on our end once this is fixed.

On that note, some more reports from our forums: https://wordpress.com/forums/topic/i-can-not-add-captions-t

[2021-06-07 11:22] susanjanec commented on #53422
Another report in 4047316-zen

[2021-06-07 11:29] JuniorTak commented on #53431
Another case here 4047544-zen, the theme is Dara, the plan  Personal.

[2021-06-07 11:33] fresatomica commented on #53100
Another one: https://wordpress.com/forums/topic/page-blanche-4/

[2021-06-07 11:56] poojashetty18 opened #53459 "wp-admin: Post title appear vertically on smaller screens"
### Steps to reproduce the behavior

1. Go to siteurl/wp-admin/edit.php
2. The post titles appear vertically

![Screen-Shot-2021-06-07-at-12 01 59](https://user-images.githubusercontent.com/44837596/121012104-6ce03c00-c7a8-11eb-8994-221272776fed.png)

#### What I expected to happen

Titles should appear horizontally by default

### Context:
Additionally, when user checked their site from an iPad,

[2021-06-07 12:08] cpapazoglou commented on #53447
I have been looking to the issue, but still don’t have a clue.
It’s unrelated to nav-unification or the menu entry “Advanced General”.

Just a hint: It doesn't reproduce on eCommerce plans.

[2021-06-07 12:27] cpapazoglou commented on #53447
`validate_current_theme` returns `false` because `file_exists( get_stylesheet_directory() . '/style.css' )` is `false`.

It seems that `stylesheet` option gets empty when saving the form in `wp-admin/options-general.php`

![](https://cln.sh/PuhYRb+)

[2021-06-07 12:27] khristiansnyder commented on #53459
I've been noticing this for a bit as well and have received complaints in chat. It would be great if the Title column could have some sort of minimum width set.

[2021-06-07 12:29] simison commented on #52868
This was at https://wordpress.com/pricing/

Thanks for the patience with the reply. :-)

[2021-06-07 12:29] adelineyaw commented on #53422
Another two reports:
4046610-zen
29885328-hc / 4049443-zen

[2021-06-07 12:51] JoshuaGoode commented on #53429
Noting that this probably belongs over in the Jetpack repo. I'll check and move over as necessary.

[2021-06-07 13:01] keoshi commented on #51202
FWIW, I do not get that with Mac's Voiceover feature. What I hear is

As @folletto said, that still doesn't tell the whole story because what is the alternative when yearly billing is off, what does that mean? Do I pay on a daily basis? Can I simply _not_ have the product if I can't pay it yearly?

Love this suggestion, we should ship this today!!

Styling aside, I've created this codepen prototyp

[2021-06-07 13:14] eeeeevon13 commented on #51202
@keoshi it's cool that we made the toggle accessible but the reason I made it two radios to begin with was for the same reason that @folletto mentioned here, it's not an on/off situation, it's a choice between two options, so the two radios are more semantic.

I'm totally down with trying the Pay Monthly / Pay Yearly wording.

With the two radio buttons, nothing is ever "off" there is always a sel

[2021-06-07 13:19] katiebethbrown commented on #53447
If the `stylesheet` option is empty, could that also be what's causing the `theme_mods_{themeslug}` option to get overwritten with `-`, causing the issues we're seeing saving customizer changes?

https://github.com/Automattic/wp-calypso/issues/53431

If I'm reading it right (I might not be), JP sync uses the `stylesheet` option to sync the theme_mods:

https://github.com/Automattic/jetpack/blob/05

[2021-06-07 13:32] cpapazoglou commented on #53447
I am not sure yet if these issues are related. FWIW, saving the form in `wp-admin/options-general.php` will both empty the `stylesheet` and `theme_mods_{themeslug}` as a result of both of them being in the `$allowed_options` `array`.

I am now trying to find how they get added there.

[2021-06-07 13:40] kspilarski commented on #53422
Same case as 29673768-hc with Twenty Sixteen theme.

[2021-06-07 13:45] keoshi commented on #51202
I'm ok if we want to make the choice super explicit, but I was approaching this from an accessibility point of view which the prototype hopefully answers. Having two radios feel unnecessarily busy to me without adding more meaning.

Also interested in how people are going to perceive this change, interact with this format, and how that impacts our conversions. Because this is no longer strictly ab

[2021-06-07 13:46] AtrumGeost commented on #53424
Got another report here:

4045363-zd-woothemes

[2021-06-07 13:48] cpapazoglou commented on #53447
Tested in an Atomic site, disabling Gutenberg plugin resolved the problem...

[2021-06-07 13:59] yansern commented on #38442
Update: Images are converted from regular urls to photon CDN urls on the client-side, not server-side.
The function that needs to be fixed is `makeImageSafe()` in `client/lib/post-normalizer/rule-content-make-images-safe.js`.

[2021-06-07 14:08] cpapazoglou commented on #53447
I just booted a local Gutenberg 10.7.2 and the problem reproduces clearly over there!

[2021-06-07 14:13] porada commented on #52868
Closing due to possible scope creep and conflicts with the existing cookie bar advancements in progress (`pau2Xa-2lc-p2`).

This version of the cookie bar appears only on AMP pages and there is very little we can do in this context without redesigning the whole bar.

[2021-06-07 14:13] #52868 closed, assigned to porada

[2021-06-07 14:13] cpapazoglou commented on #53447
Here is the offending code
https://github.com/WordPress/gutenberg/blob/27afc4d43f02713fd40f4a35b6f6f8fabc175d0f/lib/rest-api.php#L190-L217

which is already fixed in https://github.com/WordPress/gutenberg/pull/32229

[2021-06-07 14:17] yansern commented on #38442
Slack discussion to fix this within the reader component by adding a additional normalization rule instead of touching a global library like `makeImageSafe()` here: p1622850673109200-slack-C020SHYRB24

[2021-06-07 14:18] porada commented on #50134
Can’t reproduce. This could have been a temporary regression.

<img width="1067" alt="Screenshot" src="https://user-images.githubusercontent.com/2060580/121032736-d7df4200-c7ab-11eb-89e5-7387641765f6.png">

[2021-06-07 14:18] #50134 closed, assigned to porada

[2021-06-07 14:26] tellisbethel opened #53466 "Tiled Gallery: Block can't be selected directly (only through List View)"
### Steps to reproduce the behavior

1. Open Block Editor
2. Add `Tiled Gallery` block
3. Click away from the block
3. Try clicking the block to select it
4. Block is unresponsive

#### What I expected to happen
The block should have been highlighted/outlined and the usual floating block edit menu should have appeared.

#### What actually happened
Nothing. The block remains unselected after clicki

[2021-06-07 14:26] abcrsol commented on #53431
Another case reported here #4047879-zen | Personal plan | Theme: Radcliffe 2.

[2021-06-07 14:30] CGastrell commented on #53401
Couldn't replicate, Safari 14.03, simple site. Tested @Automattic/crowdsignal blocks and didn't get any problems. I do see the same kind of errors on the console ("Blocked a frame with origin [site URL here] from accessing a frame with origin wordpress.com. Protocols, domains, and ports must match") but that didn't bring functionality issues.

[2021-06-07 14:44] tellisbethel commented on #53466
User would like to be notified of any progress please! 4049412-zd-woothemes

[2021-06-07 14:59] kwight commented on #52531
@jordesign That would make it sound like a regression since the last core Gutenberg merge, yes.

[2021-06-07 14:59] #51819 closed, assigned to allilevine

[2021-06-07 15:02] cpapazoglou commented on #53447
As it seems these two issues are unrelated. #53431 is still reproducible with Gutenberg disabled.

[2021-06-07 15:03] cpapazoglou commented on #53447
Related convo about pushing a custom build for Simple sites p1623062896261500-slack-C7YPUHBB2

Atomic Sites will need to wait for the next release of Gutenberg on Wednesday Jun 9.p1623080514158400/1623076293.157800-slack-C45SNKV4Z

[2021-06-07 15:11] donlair commented on #42896
@simison I'm going to remove this from the Flow Patrol board since the work in the PR immediately above here will enable the preferred long-term fix of adding AMP to the preview dropdown.

[2021-06-07 15:19] syds87 commented on #53431
Another case reported here: #4049887-zen | Premium plan | Theme: Redhill

[2021-06-07 15:38] rossanafmenezes commented on #53431
Another case reported here: 4049893-zen

[2021-06-07 15:59] nickpagz commented on #53431
Another case here #30015580-hc. Site menus on GeneratePress theme.

Fixed using the work-around for AT sites.

[2021-06-07 16:03] jeffgolenski commented on #53434
@jordesign Thanks for logging this.

As mentioned above by folks, the issue here isn't the quick change, it's the overall checklist experience.

Options:

1) Current: Settings area redirect

**Pros**: CTA takes customer to settings, allows for name change, and brings them back to my home checklist. We have full control there so the guided tour isn't a problem and we can keep people on task. The qu

[2021-06-07 16:05] nickpagz commented on #53431
Believe this is happening here as well:
#30014756-hc

Premium plan, Shoreditch theme. Background images not saving.

[2021-06-07 16:07] JoshuaGoode commented on #53431
29991578-hc, Premium plan, Twenty Twenty-One.

[2021-06-07 16:11] vajrasar commented on #53422
Another one with Ovation theme here: 4048659-zen

[2021-06-07 16:12] JoshuaGoode commented on #53431
Checked in on this internally in triage:  p1623082129032400-slack-C02FMH4G8

[2021-06-07 16:25] AtrumGeost commented on #53401
Got some other reports here:

4050149-zd-woothemes

28503058-hc

17612291-hc

I wasn't able to replicate the issue when SSP'ing to the user site with Safari.

[2021-06-07 16:27] cpapazoglou commented on #53431
On a second thought, I believe https://github.com/Automattic/wp-calypso/issues/53447 is the root cause.
While Gutenberg 10.7.1-10.7.3 is live any user that submits the form in `/wp-admin/options-general.php` will have the following

- their site theme will revert to the default
- their theme mods will be lost

**While pushing a new Gutenberg version will resolve the issue for users submiting the f

[2021-06-07 16:36] lizswafford commented on #53431
Another report in 30015931-hc  Personal plan  Coutoire theme.
And, possibly the same for 24845270-hc.

[2021-06-07 16:44] richardkang112 commented on #41706
@donalirl Could you please check out my branch [here](https://github.com/richardkang112/wp-calypso/tree/fix/collapsible-menu-items-labelled-incorrectly) and find out how it's read by apple voiceover if you don't mind?  The following is the before and after for Chrome Screen Reader:

Before:
"List item lists one items. Posts. Heading 2 collapsed list item."

After:
"List item lists one items. Posts

[2021-06-07 17:01] cpapazoglou commented on #53431
For Atomic sites, a quick fix could be

- Do a full site backup
- Restore to a time prior to user having submitted the form in `/wp-admin/options-general.php`
- Go to https://wordpress.com/hosting-config/
- Open phpMyAdmin
- Run `SELECT option_value FROM wp_options WHERE option_name = 'theme_mods_{replace_with_current_theme}';`
- Copy the value
- Restore back to the full site backup
- Go to phpMyA

[2021-06-07 17:08] simison commented on #53434
Also with FSE site name will be just directly on the editor canvas for them to modify, although anything we can do to help customers before that's reality is a plus.

[2021-06-07 17:11] kelasante commented on #53422
Another report with retired Button theme here: 4047749-zen

[2021-06-07 17:14] sirbrillig commented on #38807
@AtrumGeost Thank you for the report. That's troubling, as both D59519-code (which prevents atomic sites from purchasing plans that are not Atomic supported plans) and D57102-code (which prevents purchasing Jetpack products or plans on Atomic sites) should make that impossible...

Looking at it now I see that the Jetpack team added an exception which allows overriding the Jetpack plan guard in D60

[2021-06-07 17:28] katiebethbrown commented on #53431
For now we've been pulling a known good copy of the option from a backup and manually restoring it. Full steps here:

p9F6qB-70P-p2

The catch is that if they edit the options-general.php page again it breaks again and we have to repeat the process.

[2021-06-07 17:57] kathrynwp opened #53473 "Global Styles: Make it easier to find"
Users running [most](https://github.com/Automattic/themes/issues/3202) themes on WordPress.com that **don't** have a Fonts panel in the Customizer instead have the option to change their Base & Heading font via a Global Styles panel in the post and page editor.

![Edit_Post_‹_Global_Styles_Demo_—_WordPress_com](https://user-images.githubusercontent.com/7662449/121069517-92b31400-c79b-11eb-8234-cef

[2021-06-07 18:11] jinnypark commented on #53422
Another report here: 40453980-zen with pub/twentysixteen theme.

[2021-06-07 18:16] sajmes commented on #53422
Also seeing this here 470432-hc with Dyad 2 theme. White text in editor but captions visible as expected when previewed/published.

[2021-06-07 18:24] sajmes commented on #53401
30017386-hc Safari 13.1
30018392-hc Safari 13.1 and Chrome

[2021-06-07 18:30] kathleenjross commented on #53422
Seeing in 16393934-hc with the AltoFocus theme

[2021-06-07 18:31] supernovia commented on #53100
Is there any way to just ... force browser cache for wordpress.com to clear?  We're seeing this pop up all the time :(

[2021-06-07 18:34] sourourn commented on #53431
Another report: #29971486-hc premium plan, promenade theme.

[2021-06-07 18:36] katiebethbrown commented on #53431
Another report: 28810026-hc
Simple site.

[2021-06-07 18:49] mreishus commented on #52848
D62155-code

[2021-06-07 18:50] cpapazoglou commented on #53431
There has been a fix just shipped for Simple sites
p1623090391082100/1623077046.081200-slack-C02A41GCS

[2021-06-07 18:53] kwight commented on #53473
I absolutely love this idea. We can include a zoomed-in screenshot of the editor with the button circled, or something.

[2021-06-07 19:01] ianstewart opened #53474 "Custom Fonts: Replace current Google Fonts list in Customizer with new list from Global Styles"
P2 ref: p58i-aGQ-p2

Now that we have new fonts in the Global Styles list, let's take a look at making sure they match up in the Customizer as well.

**Current Global Styles List**

How to see:
1. Activate a "recommended theme on Dotcom" like Mayland.
2. Visit the editor and click the global styles icon in the toolbar.

![image](https://user-images.githubusercontent.com/545779/121073751-8bd6d200-c

[2021-06-07 19:02] jinnypark commented on #53422
Another report with pub/twentynineteen theme in 4046345-zen.

[2021-06-07 19:05] jinnypark commented on #53422
Another report with premium/obsidian in 4046329-zen.

[2021-06-07 19:08] msilbers commented on #53422
Reported in 28815890-hc using Twenty Eleven

[2021-06-07 19:08] ianstewart commented on #53474
**Quick thoughts on logic for swapping out the list:**

1. For all users who have never used custom fonts in the customizer, hide old list and replace entirely with new list.
2. For users who have used custom fonts in the customizer, hide all fonts that are not currently set, and fill out the rest of the list with the new list.

That seems like an MVP to me. It does leave the question of what to d

[2021-06-07 19:09] kathrynwp opened #53476 "Global Styles: Add font preview in dropdown lists"
The list of fonts in the Global Styles dropdown menus for headings and base font all appear in the same serif font.

![Edit_Page_‹_Global_Styles_Demo_—_WordPress_com_and_Slack_____jupiter___A8C](https://user-images.githubusercontent.com/7662449/121074578-0eb05a80-c7a2-11eb-83b5-c180aee65714.jpg)

This makes it cumbersome and time-consuming for users to pick a font they like, as they need to actual

[2021-06-07 19:15] allilevine commented on #51594
The sites/site/media-storage API endpoint is returning the correct limit (3GB) but the limit does not seem to be enforced, at least on a free Atomic developer blog. I was able to upload 3.5GB and check the disk usage via SSH.

[2021-06-07 19:19] jinnypark commented on #53422
Another one with pub/mistylook in 4044574-zen.

[2021-06-07 19:26] KirkwallDay commented on #53100
Another report here 26391216-hc:
Specs:
Screen Resolution:
1440 x 900
Browser Size:
1440 x 862
User Agent:
Safari 11.0 on Mac OS X 10.13.3

[2021-06-07 19:29] jinnypark commented on #53401
Another report in 4046431-zen. Asked them for more info about the browser specs.

[2021-06-07 19:29] ianstewart commented on #53434
All these Pros seem possible with the existing Customizer tours and a redirect (assuming we can pass the correct value to the customizer and back to Calypso) on save from the customizer, back to the checklist?

This feels like an even trade with the settings page. I'd argue it's harder to get off track from customization tasks in the customizer. The worst-case scenario is they explore tasks like …

[2021-06-07 19:34] msilbers commented on #53401
I got two reports of this

1782276-hc using Safari
30017967-hc

[2021-06-07 19:35] noahtallen commented on #41825
Cool! I think this probably falls under @Automattic/cylon right now. I'm not sure if the issue was fixed, but i'd guess that if it has been broken for so long (over a year), it would be more confusing to fix it at this point maybe. If folks have a non-FSE site and it suddenly gets "fixed" to be FSE, that'd be confusing, I think :)

I have also never heard any customer reports of this issue, so it'

[2021-06-07 19:43] ianstewart opened #53478 "Themes: Retire Brompton and Redhill"
![image](https://user-images.githubusercontent.com/545779/121078436-985e2900-c79e-11eb-9e06-f1cba7b1dbdb.png)

These ones are looking a bit less-fresh than others. With new themes launching, let's retire these ones for new users.

[2021-06-07 19:46] kjellr commented on #53478
👍 👍

[2021-06-07 19:48] serabi commented on #53401
Report of this on 4046358-zen, but confirming browser with user still.

[2021-06-07 20:07] #53326 closed, assigned to nobody

[2021-06-07 20:13] kwight commented on #52792
@blackjackkent This will be your project to lead starting Monday. 🚀  @onuro may or may not have some fine-tuned designs to work from; regardless, we can start with existing Calypso components for the general idea.