[2021-08-11 10:11] Nic-Sevic opened #55372 "FSE: no (clear?) way to rename or delete template parts"
### Steps to Reproduce

1. create a new template part
2. go to templates menu and try to rename or delete
3. Doesn't seem to be an option for either

### What I expected to happen

You should be able to click on the template part and be able to edit it either in the editor or via a submenu

### What actually happened

clicking the template part opens it for internal editing but I couldn't find a w

[2021-08-11 10:14] Nic-Sevic opened #55374 "FSE: no option to update when change block padding settings"
### Steps to Reproduce

1. open page template
2. select a block and try to adjust padding width without making other changes
3. see that option to update doesn't happen until other changes are made

![padding](https://user-images.githubusercontent.com/47717887/129011948-a3f8b819-fdf9-43ea-a0fc-d1791f809156.gif)

### What I expected to happen

any change to settings should prompt ability to update

[2021-08-11 10:20] mmtr commented on #55204
@onuro Correct, although we already display that info in the current UI when a user wants to cancel a plan on a Simple site:

<img width="1268" alt="Screen Shot 2021-08-11 at 12 16 05" src="https://user-images.githubusercontent.com/1233880/129012507-e9ed3561-d8f9-4221-94c8-f8354e3c6cdf.png">
<img width="1271" alt="Screen Shot 2021-08-11 at 12 16 32" src="https://user-images.githubusercontent.com/1

[2021-08-11 11:09] carinapilar commented on #55335
It's interesting that I see post likes on the notification area for our P2s.

[2021-08-11 11:20] mmtr commented on #55191
Following the discussion in D65285-code, we're finally dropping the support for `GET` requests on the new endpoint.

Calypso will use the existing `rest/v1.2/sites/:site/transfers/latest` endpoint to determine the current revert status, and the new `wpcom/v2/sites/:site/atomic/revert` endpoint will only `POST` requests which will initiate the revert process.

[2021-08-11 12:01] andres-blanco commented on #51787
I added some more logging since this issue cannot be easily reproduced. Please, keep the reports coming to this issue so we can inspect the new logs.

D65365-code

[2021-08-11 12:08] mikeicode opened #55376 "Gema: Customizer Colors & Backgrounds layout issue"
### Steps to Reproduce

1. View the Customize > Colors & Backgrounds
2. Look at the layout of the color circles

### What I expected to happen

Should look like other themes:

![Screen Capture on 2021-08-11 at 08-01-52](https://user-images.githubusercontent.com/10353785/129025928-73f758f7-3d7e-4178-be2b-ff20b81cb412.gif)

### What actually happened

Looks like this:

![Screen Shot on 2021-08-11 at

[2021-08-11 12:54] razvanpapadopol opened #55377 "Login: use reskin variant everywhere"
At the moment, we're using `/log-in/new` when the user going through the reskin signup form and choosing to log in. Once we have all other signup flows reskined, we should consider using the reskin styling directly on `/log-in` page. Blue login won't be available anymore.

1. Do we plan to link to this page from the "Log in" link in the LOHP header and other landing pages like https://wordpress.co

[2021-08-11 13:36] #55369 closed, assigned to BogdanUngureanu

[2021-08-11 13:40] RafaelFunchal opened #55379 "The session is terminated when trying to buy any upgrades without activating the account"
### Steps to Reproduce

1. Create a new account.
2. Try to buy any upgrade without activating the account.

### What I expected to happen

A friendly message asking to activate the account first by checking the message sent to the email address informed when signing up.

### What actually happened

I was kicked off of the current session, and the log-in form was presented on the page.
I had to act

[2021-08-11 13:48] RafaelFunchal commented on #53879
Maybe we could stick to the WP.com address a little longer and switch to the custom domain only when launching the site.

[2021-08-11 13:49] daledupreez commented on #54105
I believe this issue was addressed by #54313, as I can no longer reproduce the issue -- I am correctly returned to the domain management page when I follow the steps in the issue.

I am going to mark this as addressed.

Fixed by #54313

[2021-08-11 13:49] #54105 closed, assigned to nobody

[2021-08-11 15:02] dpasque commented on #55215
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-11 15:12] dpasque commented on #55248
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-11 15:25] kwight opened #55384 "Subscriptions: Test Atomic upgrades."
Let's verify that all is well with subscriptions when a Simple user upgrades their account and ends up on Atomic.

* Are all subscriptions carried over?
* Do users have clear access to management tools?
* Do new (Atomic) posts get to subscribers as expected?
* Anything else we can think of!

[2021-08-11 15:57] #55086 closed, assigned to nobody

[2021-08-11 16:44] AtrumGeost opened #55385 "Customizer: Cannot add a Tag menu item if there's already a Category with the same name"
### Steps to Reproduce

1. Create a tag and category with the same name, for instance `WordPress`.
2. Got to "My Site" > Appearance > Customize > Menus > Primary
3. Try adding the `WordPress` **tag** to the menu
4. Notice the WordPress category item is added instead

![Screen Capture on 2021-08-11 at 11-42-22](https://user-images.githubusercontent.com/3696121/129069379-9622f43b-89b8-42da-a34c-5315

[2021-08-11 16:51] khristiansnyder commented on #55193
I had a customer with this a few days ago. Fixed it by manually adding the Akismet plan.

[2021-08-11 17:05] AtrumGeost opened #55388 "Have a way from the WordPress.com Dashboard (Calypso) to access the WP Admin Menus editor"
### What

There's not a way to access a "Screen Options" dropdown to select the option to access the WP Admin version for menus when going to "My Site" > Appearance > Customize > Menus

### Why

Users with a lot of menu items find it easier to edit from the WP Admin screen

### How

Not sure how 😆  Could the "My Site" > Appearance > Customize > Menus option lead to the WP Admin screen same as the

[2021-08-11 17:33] #54718 closed, assigned to nobody

[2021-08-11 17:40] kathrynwp commented on #55344
Also reported in 4213922-zen (Simple Site)

Replicated on test site (Simple)

[2021-08-11 17:48] kathrynwp opened #55389 "Widget Blocks: Plans below Business should not be prompted to install Classic Widget Plugin"
### Steps to Reproduce

1. Visit Appearance > Customize > Widgets

### What I expected to happen

If I'm not on a Business plan or above, I should not see a prompt to install the Classic Widgets plugin, as plugins cannot be installed at all on plans below Business.

### What actually happened

I saw a prompt to install Classic Widget Plugin:

![Personnalisez__Viewing_as_esl32__ELUSA_SPORTS_ET_LOIS

[2021-08-11 18:47] yansern commented on #55365
After some digging, it appears that the old [customize-direct-manipulation](https://github.com/Automattic/customize-direct-manipulation) plugin is interfering with the customizer on Gutenberg core.

I have tested preventing the old customize-direct-manipulation scripts from loading on my sandbox and the customizer on WPCOM still continue to work just fine. And on top of that, it resolves the probl

[2021-08-11 18:55] saygunnyc commented on #38710
Once in post details on a P2 that I'm a member of.

<img width="1270" alt="Screen Shot 2021-08-11 at 2 54 38 PM" src="https://user-images.githubusercontent.com/78876323/129086729-8823386a-9793-4004-8913-1cb79cc6a8a9.png">

[2021-08-11 18:58] saygunnyc commented on #38710
Oh wow, it seems like we might have even more discrepancies between the two. Perhaps depending on a global level user, site settings? Note that I wasn't able to find any regarding the action bar behavior.

👍

[2021-08-11 19:01] saygunnyc commented on #38710
I couldn't agree more with this sentiment! I am leaning towards questioning the need for the action bar as well. It also creates confusion over sites where users have a subscription form block and gets even more confusing when the user also has follow widgets, where all of those serve the same purpose.

[2021-08-11 19:30] hngdny commented on #55344
SImilar issue on 4212151-zen (Simple Site)

Confirmed issue can be replicated on test site (Premium).

[2021-08-11 19:52] blackjackkent opened #55394 "Subscriptions - Document behavior/structure of subscribe.wordpress.com code and calypso subscription management"
We are putting together a number of P2 posts documenting the code structure of various features relating to subscriptions in Calypso and elsewhere, as part of the subscriptions pod's discovery phase.

[2021-08-11 19:56] blackjackkent commented on #55394
@andres-blanco has already put together an initial post regarding WPCOM's Reader tool for managing followers - dgv5Y-p2?p=194

We are still working on documentation for the action bar code (Andy) and subscribe.wordpress.com (me); for me at least this will probably bleed into 20% time to finalize the writeup, as the code is very long and somewhat convoluted.

[2021-08-11 20:25] noahtallen commented on #50031
I believe this still exists

[2021-08-11 20:31] arcangelini commented on #55248
Spent some time investigating this. It looks like this may be core-related. I tested on my WordPress.org site and found the same thing:

<img width="429" alt="Markup 2021-08-11 at 16 29 56" src="https://user-images.githubusercontent.com/33258733/129098904-f031eebc-a802-492a-be60-f02d04c8055b.png">

[2021-08-11 20:34] mdrockwell opened #55395 "Google Scholar Icon in Social Links Menu"
### What

Add support for linking to Google Scholar within the Social Links Menu with a icon specific to the service.

### Why

Currently, linking to Google Scholar adds a generic Google icon.

#4215253-zen

### How

_No response_

[2021-08-11 21:06] worldomonation commented on #54421
Reopening the issue as it is reproducible again.

Browser: Firefox Nightly 92.0a1 (2021-07-23) (64-bit)
OS: macOS Big Sur 11.4 (20F71)

[2021-08-11 21:07] worldomonation commented on #54421
Adding prioritization `Normal` as it impacts all users that use the Click to Tweet coblock, but there is a workaround available.

[2021-08-11 21:15] cfinke commented on #55193
I've deployed a fix on the Akismet side that should fix this issue. Can someone confirm?

[2021-08-11 21:54] ccwalburn commented on #55365
Another report here: 4212068-zen

[2021-08-11 21:57] kwight commented on #55384
I think we're good here! 🎉

I created a Simple site, then subscribed three users by email only and two WP.com test users that I have. After upgrading to Premium and activating a newly-uploaded theme, I published a new post. All of the expected users received it, and the Users section in Calypso still listed all of the correct subscribers. I then remove some followers, and published another post –

[2021-08-11 21:57] #55384 closed, assigned to nobody

[2021-08-11 22:07] DanAntion commented on #51787
Thank you.

I am going to ask my readers to let me know. I have to say, most have given
up, but I take this as encouraging news.

Dan
------
Daniel Antion
***@***.***

On Wed, Aug 11, 2021 at 8:01 AM Andrés Blanco ***@***.***>
wrote:

[2021-08-11 22:23] autumnfjeld commented on #55300
@donalirl  Just wanted to flag this with you as it seems aligned with the [Trail Markers ](https://href.li/?https://docs.google.com/spreadsheets/d/14dlqA7_3n9UF7-to-nHW2tKB6vlEuBnXcKNSGKbFg6g/edit#gid=0) work.  We'll be thinking of ideas like this from a blogger perspective in the Blogger Experience pod. :)

[2021-08-11 22:34] saygunnyc commented on #55384
Do you know how this might have happened? I thought it would be there by default on Simple Sites. Is there maybe a setting somewhere else that switches it on and off?

I don't think we have anything like that, but I am not sure. @inaikem would know better. However +1 to that. Assuming I am a blog owner who relies on the action bar for following actions on my site _– also worth exploring this and f

[2021-08-11 22:43] autumnfjeld commented on #55300
Agreed @arthur791004 .  Maybe ping Krista in slack, with a link to your comment above, to get her input when you are ready for that.

![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=30)

[2021-08-11 22:54] chrisfromthelc commented on #49043
@DavidRothstein There is an exception to this; on a free site, the domain mapping is still $13.

We could change it to something like:

<img width="546" alt="Screen Shot 2021-08-11 at 3 38 15 PM" src="https://user-images.githubusercontent.com/8002138/129112870-007c2417-c07e-4893-a055-295a79208b63.png">

I whipped up a draft PR in #55399 if it looks like this is a good direction to go in.

[2021-08-11 23:43] donalirl commented on #53953
Seen in #27321767-hc on a classic block in Safari 14.1 on Mac OS X 10.15.7. Cross-site tracking in Safari preferences was enabled. Turning it off made the error go away.

[2021-08-12 01:07] arinoch opened #55403 "Block Widget Editor: Unable to edit the legacy text widget block in Firefox"
Users of Firefox version 91 are unable to edit the legacy text widget in block widget mode. They are required to install the classic widget plugin in order to make any changes.

Additional Note: Legacy text widget is not available by default in the block editor. I needed to switch to classic widgets to add it in my testing.

#### Steps to reproduce
1: If not already installed before the conversion

[2021-08-12 01:30] #55282 closed, assigned to lsl, deBhal

[2021-08-12 01:30] arinoch commented on #55403
Additional testing: This appears to also be present in self-hosted WordPress.

[2021-08-12 01:33] lsl opened #55405 "Investigation: Test woo for any concerns we have about HE's testing woo on plans"
Now we have #55282 sorted, lets take Woo for a spin and see if we can break anything. Specifically would like to give people the go ahead without any restrictions, so lets try to break things and fix them / or at least be clear about what's broken / shouldn't be used at this stage.

[2021-08-12 01:34] donalirl commented on #55300
This is awesome! Very much aligns with Trail Markers and the HG post.

However, please do not link out to a blog post from 2014 in the interface! Can you link to https://wordpress.com/support/posts/tags/ instead? Happy to make any updates to that doc as necessary as well.

[2021-08-12 02:18] lsl opened #55406 "Disable premium theme access in Woo site setup wizard"
We can probably ignore this if we disable the wizard completely.

There is a theme selection area during the woo onboarding / setup wizard. These premium themes from the woo marketplace need to be hidden in time for September 1.

cc @ola / @ianstewart in case you have further clarification (read: I'm not 100% I've read this request right)

Context: p1628694937002000-slack-C029UPVMGTW

[2021-08-12 02:25] lsl opened #55407 "Update woo reference in monetize your site support page"
The [monetize your site support page](https://wordpress.com/support/monetize-your-site/) needs updating to reference all plans instead of just business and ecommerce plans.

- [ ] Text update
- [ ] Request translation

Before:
![Screenshot 2021-08-12 at 12-21-04 Monetize Your Site](https://user-images.githubusercontent.com/811776/129128832-911cc1ad-2e08-4244-acb8-c99e074efa30.png)

pdhcfv-4-p2

[2021-08-12 02:27] lsl opened #55408 "Update the "Navigating WooCommerce on WordPress.com" support page"
TBD, we probably need to rework the [navigating woo on wpcom page](https://wordpress.com/support/new-woocommerce-experience-on-wordpress-dot-com/) significantly with new screenshots and explaining away any differences between atomic/simple (if there are any)

- [ ] Text update
- [ ] Screenshots
- [ ] Request translation

Before:
![Screenshot 2021-08-12 at 12-27-18 Navigating WooCommerce on WordPre

[2021-08-12 02:35] lsl opened #55409 "Update pay with paypal support page"
The [pay with paypal support page](https://wordpress.com/support/pay-with-paypal/) references WooCommerce plan restrictions, this needs updating.

The displayed comparison table will also need updating, or at least crop out the woo mentions as these will no longer be valid.

- [ ] Text update
- [ ] Comparison table
- [ ] Request translation

Before:
![Screenshot 2021-08-12 at 12-32-35 Pay with Pay

[2021-08-12 02:37] p-jackson commented on #50365
I've merged the fix for the difference between editor preview and frontend WordPress/gutenberg#33944

[2021-08-12 02:42] lsl opened #55410 "Update Blocks > Payments support page"
The [Blocks » Payments support page](https://wordpress.com/support/wordpress-editor/blocks/payments/) needs updating similar to #55409 to both update the plan limitation and the comparision table.

- [ ] Rephrase plan limitation
- [ ] Update comparision table (or crop woo mention out)
- [ ] Request translation

Before
![Screenshot 2021-08-12 at 12-39-12 Payments](https://user-images.githubusercont

[2021-08-12 02:54] lsl opened #55411 "Update storefront link reference to wp.com/themes link once available"
The [Plugins support page](https://wordpress.com/support/plugins/) references a woocommerce.com storefront link, once available update it to a wp.com/themes link. This link is also on the [third party plugin support page](https://wordpress.com/support/plugins/) (copy pasted)

- [ ] Link fix https://wordpress.com/support/plugins/
- [ ] Link fix on https://wordpress.com/support/plugins/third-party-p

[2021-08-12 03:09] lsl opened #55412 "Update woo commerce quick start video in the add payments support page"
The [payments quick start support page](https://wordpress.com/support/video-tutorials/video-tutorials-add-payments-features-to-your-site-with-our-guides/#woo-commerce-quick-start) has a video about setting up woocommerce.

- [ ] Determine if this video actually needs updating - potentially not going to be that out dated by our work
- [ ] Update if required

Before:
![Screenshot 2021-08-12 at 13-07

[2021-08-12 03:15] arthur791004 commented on #55300
@kristastevens Do you have any ideas for https://github.com/Automattic/wp-calypso/issues/55300#issuecomment-895684683? Also, [here is the screenshot after adding the new copy](https://github.com/Automattic/wp-calypso/issues/55300#issuecomment-896535182)

[2021-08-12 03:19] lsl opened #55413 "Update the com vs org support page woo references"
The [com vs org](https://wordpress.com/support/com-vs-org/) support page references woo commerce as a business plan option and that no plugins are available on "WordPress.com" this should be changed in light of the marketplace / woo work happening. (How, I'm not quite sure yet)

- [ ] Update woo references
- [ ] Update plugin references
- [ ] Request translation

Before
![Screenshot 2021-08-12 at

[2021-08-12 03:23] lsl opened #55414 "Update the plan features page to reference woo extensions properly post woop"
The [plan features page](https://wordpress.com/support/plan-features/#woo-commerce-extensions) discusses WooCommerce extensions, this should reference Woo being available on all Plans and make some kind of a distinction about which extensions are available and which are not.

- Update text
- Request translation

Before
![Screenshot 2021-08-12 at 13-21-14 WordPress com Plans](https://user-images.gi

[2021-08-12 03:34] edwinho89 commented on #55193
Hi @cfinke ! I confirm the issue has been fixed, as confirmed by recent reported user above (and my own test site) . Thank you!

[2021-08-12 03:39] arthur791004 commented on #55300
@donalirl Do we have a related link under https://wordpress.org/support/ ? If so, it's easier to add the link in the editor!

[2021-08-12 04:04] kuropixel commented on #55193
@cfinke The user I reported above's site does not display the error message anymore. My test site is also showing ok. Appreciate the help.

[2021-08-12 04:57] lsl opened #55415 "Add calypso flag for woop"
Add a `woop` feature flag to calypso so we can make changes early

[2021-08-12 05:01] lsl opened #55416 "Make use of an existing hook in woo or create one to disable the extensions page on wpcom/atomic"
This needs some investigation up front - can we create a generic solutions?

- Blocking routes in woo
- or Blocking urls directly in wp-admin
- How should we do the same for atomic? new plugin / wpcomsh addition?

Before:
![Screenshot 2021-08-12 at 15-31-20 WooCommerce extensions ‹ Woo on Plans Test Site — WordPress](https://user-images.githubusercontent.com/811776/129143188-d88ef22f-c284-4336-82a

[2021-08-12 05:21] donalirl commented on #55300
Please use this link: https://wordpress.com/support/posts/tags/ That's our official .com doc on tags.

We want to avoid using any more .org links (and we're looking at ways to change existing .org links to .com equivalents.)

[2021-08-12 05:34] lsl opened #55417 "Disable woo data request during onboarding"
After completing your address in the first step of the woo onboarding wizard you are prompted for permission to collect data. This isn't required on wordpress.com and should be disabled.

The need for this may be circumvented if we replace the onboarding flow entirely. TBD

Before:
![Screenshot(22)](https://user-images.githubusercontent.com/811776/129143270-a6ea0bb5-cf68-4c86-97de-e3def382e00d.png

[2021-08-12 05:52] lsl opened #55418 "Remove install plugin prompt from woo"
The extensions page suggests installing a plugin to manage automatic updating of themese, clicking this link results in a 404.

In wpcom we don't need to add extra plugins to manage theme updates and in atomic we probably want to either auto install this on Atomic transfer or manage the updates ourselves in another way.

- [ ] Disable the nudge on wpcom
- [ ] Disable the nudge on atomic?

@cpapazo

[2021-08-12 06:03] lsl opened #55420 "The Woo setup wizard doesn't save on the first step"
We may remove this wizard entirely but for the moment it doesn't save when attempting to move passed the first step, looking at the errors, it's attempting to make requests against public-api to wc-like endpoints. I'm going to guess and say this is related to 377-gh-Automattic/multiwoo

Lets see what @eoigal comes up with before looking at this too closely.

Tracking the api fix in https://github.

[2021-08-12 06:08] lsl opened #55421 "Force woocommerce marketplace suggestions = no"
There is a siteoption to disable marketplace suggestions, lets force this to always "no" with an options filter.

[code]

Before:
- find where / how this is used

[2021-08-12 06:14] lsl commented on #55416
Potential fix: rewrite rules in site options

[2021-08-12 06:16] kosiew commented on #55259
Hi @kcswong  ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-08-12 06:17] lsl opened #55422 "Disable woo onboarding wizard"
Need more context here but for now: investigate how woo onboarding wizard works / is loaded we may want to keep parts of it and modify, or replace it entirely, or just remove it.

Before:
![Screenshot 2021-08-12 at 16-16-18 Profiler ‹ WooCommerce ‹ Woo on Plans Test Site — WooCommerce](https://user-images.githubusercontent.com/811776/129147226-b446f97b-ee74-4c93-a736-c5146b90ea15.png)

[2021-08-12 06:19] lsl opened #55423 "Audit / Test Woo on plans current functionality"
Take stock of what works / doesn't work in a basic store setup:

- [ ] Add a product
- [ ] Add a digital product
- [ ] Add a customer
- [ ] Create an order
- [ ] Add a payment method (WC Pay)
- [ ] Pay using that method
- [ ] Pay for a 0 dollar item
- [ ] Pay for a digital goods item and download it

[2021-08-12 06:23] kosiew commented on #55263
Hi @joweber123 ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.

Triaging for developers' further investigation.

[2021-08-12 06:23] lsl opened #55424 "Woo API Access"
There is going to be a few of these reports so I'm setting this ticket up to track the woo errors we come across without api calls working.

See 377-gh-Automattic/multiwoo for more details

cc @eoigal

[2021-08-12 06:25] lsl opened #55425 "Fix "There was an error getting your inbox""
Most likely caused by lack of api access, see https://github.com/Automattic/wp-calypso/issues/55424

cc @jordesign

Before:
![screen-shot-2021-08-12-at-12 50 33-pm](https://user-images.githubusercontent.com/811776/129147715-09ea69de-3730-4a84-aa9b-de675ecd2b86.png)

[2021-08-12 06:40] lsl opened #55426 "Enabling woocommerce payments results in a "connection error""
"Error determining the connection status." can be seen when attempting to enable WC Payments in the payments setting screen.

Did some digging, most likely API related, see https://github.com/Automattic/wp-calypso/issues/55424

An internal request hits an endpoint that isn't exposed:

[code]
cc @jordesign

Where to toggle enable:
![Screenshot 2021-08-12 at 16-37-48 WooCommerce settings ‹ Woo on Pl

[2021-08-12 06:53] lsl opened #55427 "Disable woo status report page"
Users shouldn't need this information on wpcom. Disable this page entirely.

Route:
[code]

Before
![Screenshot 2021-08-12 at 16-52-10 WooCommerce status ‹ Woo on Plans Test Site — WordPress](https://user-images.githubusercontent.com/811776/129151195-ccf6fc6c-fcea-4749-9df8-91192344db60.png)
![Screenshot 2021-08-12 at 16-53-24 WooCommerce status ‹ Woo on Plans Test Site — WordPress](https://user-i

[2021-08-12 07:00] lsl opened #55428 "Woocommerce sidebar navigation"
We want to add a WooCommerce menu item for all plans.

The menu item should link to WooCommerce if it is installed. If it is not installed it should like to the /woocommerce-installation/ route in calypso for activation.

Place this menu item behind the `woop` config flag as the WooCommerce installer needs to be updated to handle non atomic sites.

There are three places in code that need updating

[2021-08-12 07:11] kosiew commented on #55279
Hi ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a AT site.

Triaging for developers' further investigation.

[2021-08-12 07:17] Greatdane opened #55429 "Categories and Tags still mentioned in Settings > Writing, needs rewording"
### Steps to Reproduce

1. Go to a WordPress.com website
2. Navigate to Settings → Writing
3. The subheader/page description says 'Manage **categories**, **tags**, and other settings related to your site's content.'

See here:
https://d.pr/i/v7kVdB

### What I expected to happen

Categories and Tags should not be in the sub-header/page description.

They are now under Posts → Tags And Posts → Cate

[2021-08-12 07:18] jordesign opened #55430 "Feature Request: Geolocation in Gutenberg"
### What

Add Geolocation for posts to the Gutenberg Editor (as we used to have it in the WPCOM Editor)

### Why

We used to be able to geolocate posts within the WPCOM Editor (which has now been deprecated). This would be super useful for many types of bloggers - but particularly travel bloggers.

https://wordpress.com/support/geotagging/

### How

No idea on the logistics - but it would be super

[2021-08-12 07:20] jordesign commented on #55429
I feel like this could be simplified to something like:

"Manage settings related to your site's content."

@Automattic/editorial could you please review?

[2021-08-12 07:31] jordesign opened #55431 "Feature Request: Custom Emoji"
### What

Would it be possible to give users access to Custom Emoji like we have in P2?

### Why

Could be a great touch to give users access to standard emoji - but also potentially others.

ref: p7DVsv-cnw-p2#comment-37054

### How

We have this in place internally - but I'm not sure of the mechanism. Is it worth a spike to see if/how it could be included for all WPCOM users? Could be cool for w

[2021-08-12 07:32] #55287 closed, assigned to nobody

[2021-08-12 07:36] jordesign opened #55432 "Feature Request: Reblog Block or pattern"
### What

A block which pulls in all your  reblogged posts

### Why

This could be a great way for users to have a dedicated page/section for posts they have reblogged. Something like a 'Recently Reading' section.

Has great potential to build community if it encourages reblogging to happen more often - and become a part 'how' to blog on WPCOM.

ref: p7DVsv-cnw-p2#comment-37054

### How

I don't k

[2021-08-12 07:52] erricgunawan commented on #55344
Possible similar issue on 4215164-zd-woothemes (Simple site/Premium).

Confirming with the user.

[2021-08-12 07:54] lsl opened #55433 "Fix Woo report errors in wc-admin"
Seeing a few recurring errors in the php error logs that look like they're coming from woo reports on load. Probably load order errors not sure about a fix yet.

[code]

SQL_BIG_SELECTS prevents queries that are likely to examine more than `max_join_size` rows in the database.

[2021-08-12 07:56] retnonindya opened #55434 "Page Break block: Possible to add stylization?"
### What

Page Break block displays page number as pagination system. Is it possible to make it stylized and make it displaying arrow or other style?

### Why

Mostly, on design-wise. Some folks might dislike the page number. For example, this one:

![Screenshot 2021-08-12 at 3 45 11 PM](https://user-images.githubusercontent.com/44726232/129158167-c45e7762-789a-4d91-a53a-aeeff576bc32.png)

Some fo

[2021-08-12 08:23] thabotswana opened #55435 "Feature Request: arXiv Icon in Social Links Menu"
### What

Add support for linking to arXiv (https://arxiv.org/) within the Social Links Menu with a icon specific to the service.

### Why

Currently, linking to arXiv adds a paper clip, unlike the GitHub link that uses the actual GitHub icon.

4215253-zen

### How

Here is the arXiv favicon:

https://arxiv.org/favicon.ico

[2021-08-12 08:24] simison commented on #55300
Worth considering what of this can be suggested directly at Gutenberg as well, even if the docs link would be different from ours.

[2021-08-12 09:32] cpapazoglou commented on #55418
Here is a related atomic discussion p9o2xV-1A4-p2. My take is that since folks are buying a plugin from us and installing it on our infrastructure then it should be as a managed plugin. They should not worry whether to update it or not.

[2021-08-12 09:38] arthur791004 commented on #51834
@ollierozdarz Do you have any idea for this design?

[2021-08-12 09:51] pauljacobson opened #55437 "Customizer (Block Widgets): Missing widget entries for YouTube embeds"
### Steps to Reproduce

1. Head to Appearance > Customize > Sidebar, and open block widgets
2. Scroll down to locate YouTube widgets in the widget list in the sidebar
3. The YouTube embed widgets are not available in the list of editable widgets.

See here:

https://user-images.githubusercontent.com/2912202/129175710-49e8a4d8-5e15-41de-9cc0-498dd00f6365.mp4

and here:

![Capture_2021-08-12 at 12 4

[2021-08-12 09:54] pauljacobson commented on #55365
Another report here: 1459030-hc (follow-up in 4216613-zen).

- The site uses Twenty Sixteen.
- I was able to reproduce this issue using Firefox Developer Edition v92.0b2 on macOS 11.5.1

[2021-08-12 10:29] yansern commented on #55365
D65402-code deployed.

[2021-08-12 10:34] flootr opened #55438 "Migrate `client/state` to `import/order`"
related to #54448 split `client/state` into separate directories to make it easier to review

- [ ] client/state
- [x] client/state/account-recovery #55439
- [x] client/state/account #55440
- [x] client/state/action-log  #55441
- [x] client/state/action-watchers #55442
- [x] client/state/active-promotions #55443
- [x] client/state/activity-log #55460
- [ ] client/state/admin-menu
- [ ] client/stat

[2021-08-12 10:39] #52877 closed, assigned to chriskmnds

[2021-08-12 10:56] rossanafmenezes opened #55444 "Add Watermark to images"
### What

Add Watermark to images directly from Media Gallery

### Why

We have a lot of users who use their sites as portfolios. We also see a lot of requests to be able to disable right-click on images from users with simple sites and we know this does not prevent image theft. A user asked if they could add a watermark to their images already on their site as opposed to having to remove all imag

[2021-08-12 11:11] chriskmnds opened #55448 "Signup: Ensure all links from signup to login point to the reskinned page"
Deployed. I think we missed a spot though:

<img width="925" alt="Screenshot 2021-08-12 at 2 03 51 PM" src="https://user-images.githubusercontent.com/1705499/129186567-30271214-85bf-49e1-a485-5e72e6b428d9.png">

🤷‍♂️ I'll create a ticket. It should be trivial to address if my senses are correct.

_Originally posted by @chriskmnds in https://github.com/Automattic/wp-calypso/issues/54646#issuecommen

[2021-08-12 12:09] mmtr opened #55452 "Atomic Downgrade: Make site private while reverting/importing"
The lossless import task that runs as part of the Atomic site lossless revert can take a long a time. Unfortunately, during such time, some content may be unavailable because it's not been imported yet.

Due to that, some customers may prefer to have their site private until the lossless revert is completed. A subset of these customers may also prefer to check their site before it's public again,

[2021-08-12 12:44] kdevnel opened #55455 "Atomic Downgrade: Ensure public documentation is updated"
### Details

We are making a major change to the cancellation/downgrade flow for Atomic sites. To support this, we will need to ensure any relevant documentation is updated to reflect the new process.

At the moment, it seems the only document that would needs to be updated - https://wordpress.com/support/manage-purchases/#downgrade-your-plan

### Checklist

- [ ] reach out to documentation guild

[2021-08-12 13:14] #49505 closed, assigned to arcangelini

[2021-08-12 13:26] jp-imagines commented on #54678
Another report in 4214651-zen.

[2021-08-12 13:44] ivan-ottinger commented on #49226
Issue is fixed by https://github.com/Automattic/wp-calypso/pull/55378

Please feel free to review the above PR to see the implementation details.

[2021-08-12 13:44] #49226 closed, assigned to nobody

[2021-08-12 13:48] #55448 closed, assigned to chriskmnds

[2021-08-12 14:15] kwight opened #55456 "Subscriptions: Emails link to the Subscription Management page."
The [Subscription Management page](4C8E-p2) is an old, out-of-date standalone page available for managing subscriptions, since superseded by the Reader and its management tools. Let's update the email templates to point to `/following/manage` instead (if the user has an actual WP.com account).

<img width="772" alt="Screen Shot 2021-08-12 at 7 16 10 AM" src="https://user-images.githubusercontent.c

[2021-08-12 14:19] kwight commented on #51566
Closing – anyone feel free to reopen if there are some steps to replicate.

[2021-08-12 14:20] Nic-Sevic commented on #46132
We have a similar case happening here for the posts screen only. It stops when WooCommerce is deactivated. In each post the user has Featured product blocks.
p9F6qB-7jl-p2
4216516-zd-woothemes

[2021-08-12 14:25] kristastevens commented on #55300
@arthur791004, we should probably use this link in the editor: https://wordpress.com/support/posts/tags/

[2021-08-12 14:26] kwight commented on #55362
Ooooh, yes please – I'm not sure My Home existed/was useful when I did that notif. 🙃 My Home is a much better destination. 👍

[2021-08-12 14:36] kristastevens commented on #55429
@jordesign, thanks for the ping! That works perfectly!

[2021-08-12 14:40] JoshuaGoode commented on #46132
To clarify, it appears Calypso has issues with characters within the post.  This then causes the Post page (published or drafts -- whichever the post belongs to) loads a blank screen.

![Screen Shot on 2021-08-12 at 10:38:02](https://user-images.githubusercontent.com/4887830/129216248-f6807cc2-b03d-4f1e-86a9-a9c57eacf72b.png)

A blank screen appears with the following in the console.

The script i

[2021-08-12 14:51] allilevine commented on #55193
Thanks @cfinke! Closing, details here: pZbK5-6nk-p2

[2021-08-12 14:51] #55193 closed, assigned to allilevine

[2021-08-12 15:05] carladoria commented on #55344
Another issue in [4217003-hc](4217003-zd-woothemes)
Suggested Instagram plugins, IMHO, if they have other widgets, it is not worth changing them to the whole classic view for one widget until this is fixed.

[2021-08-12 15:13] dsas opened #55462 "Atomic downgrade: Remove atomic/revert endpoint"
Atomic downgrade introduced a new atomic/revert endpoint in #55191. We have decided to go in a different direction (pdgTfM-X-p2#comment-31) now so should remove it.

[2021-08-12 15:20] inaikem opened #55463 "Templates: Add a new bug reports to the the `HE Triaging Board (new bugs)` project"
Please add new issues created using the "Bug report" button at `/wp-calypso/issues/new` to the `HE Triaging Board (new bugs)` project at: `/Automattic/wp-calypso/108`. Thanks!

Discussion here: p1628779696120400-slack-C01UW7SB411

Cc: @davipontesblog

[2021-08-12 15:20] inaikem opened #55464 "Templates: Add a new feature requests to the the `HE Triaging Board (new bugs)` project"
Please add new issues created using the "Feature report" button at `/wp-calypso/issues/new` to the `HE Triaging Board (new bugs)` project at: `/Automattic/wp-calypso/108`. Thanks!

Discussion here: p1628779696120400-slack-C01UW7SB411

Cc: @davipontesblog

[2021-08-12 15:34] kwight commented on #50560
@yansern @sixhours Can you make sure this is on someone's board please?

[2021-08-12 15:43] kwight commented on #54402
I could see the default wording being easily tweaked to remove the awkward "howdy" and possessive "my" references.

[2021-08-12 16:10] dsas commented on #55203
@mmtr has identified that's done by a POST to /rest/v1.X/me/purchases/:purchase/delete, see [#1](https://github.com/Automattic/wp-calypso/blob/c66aa82fd226fe35315cc0964195aaf83112692f/client/me/purchases/remove-purchase/index.jsx#L127), [#2](https://github.com/Automattic/wp-calypso/blob/c6d25085e3431e8831ee670d4a9efdff6e8a687f/client/state/purchases/actions.js#L87-L108)

[2021-08-12 16:49] pablinos commented on #36305
I've been taking an initial look at this to see what the differences are. The screenshots in the description are broken, but I grabbed a couple move:

| Atomic | Simple |
|---------|--------|
|![atomic](https://user-images.githubusercontent.com/96462/129235636-19c34cd9-4518-4630-aec6-dcaa716a8ea5.jpg)|![simple](https://user-images.githubusercontent.com/96462/129235722-ac12ea4a-b5a0-4839-a61f-7e039

[2021-08-12 16:56] kspilarski commented on #55367
Thank you! I had an issue uploading images the other day, so I opted for Droplr. Later on I learned that GH was down. Thanks Jeremy!

[2021-08-12 17:33] AtrumGeost opened #55468 "Thumbnails for YouTube embeds look pixelated when the iframe is too small"
### Steps to Reproduce

1. Add a Columns Block with 3 columns
2. Insert a YouTube block with its respective video on each Column
3. Ser the Columns Block to Wide Width (optional)
4. Publish and notice the YouTube Thumbnails

### What I expected to happen

For the YouTube thumbnails to look good:

![Screen Shot 2021-08-12 at 12 27 54](https://user-images.githubusercontent.com/3696121/129241539-5386

[2021-08-12 17:37] DanAntion commented on #51787
I added a request to readers on  my blog post today -
https://nofacilities.com/2021/08/12/to-the-north-shore/

As of 1:30 pm on 8/12/21, here are the relevant comments:

https://manjameximexcessive6.wordpress.com/

"Indeed – no notification about your TD post in my mail either today, which
is what I rely on lately. I thought today’s Thursday Doors were cancelled!
I don’t go to Reader much any more

[2021-08-12 17:44] andres-blanco opened #55470 "Subscriptions: 3rd party cookie problem Action Bar"
### Steps to reproduce the behavior

1. Open a chrome incognito window and make sure that you have 3rd party cookies disabled
2. Log in to wp.com
3. Navigate to a site that's on Simple with a custom domain. eg: https://debs-world.com/join-me/
4. Click Follow on the Action Bar

#### What I expected to happen
To subscribe as a follower of the site

#### What actually happened
I got a popup asking fo

[2021-08-12 19:16] philnick206 opened #55472 "Pingbacks not working between Simple and WoA sites"
### Steps to Reproduce

I tested this using a post on a WoA site: [https://philnickbiz.wpcomstaging.com/2021/06/25/my-story-1/](<https://philnickbiz.wpcomstaging.com/2021/06/25/my-story-1/>)<br>(the site above and the post has comments & trackbacks enabled)

**Test 1**

Post on a simple site with a link to the post above: [https://philnicktesta.home.blog/2021/08/08/trying-a-pingback/](<https://phi

[2021-08-12 21:48] eduardozulian opened #55477 "Stats: HTML entity not stripped from title in the post stats page"
It is possible to add custom HTML such as `<em>` or `<i>` to post and page titles and they will be rendered correctly when you visit the post.

Examples from WordPress.com:

- https://wordpress.com/forums/topic/italics-in-post-title/
- https://wordpress.com/forums/topic/how-do-i-italicize-in-the-title/

The individual post stats page does not strip the HTML.

### Steps to reproduce the behavior

1

[2021-08-12 22:02] DavidRothstein commented on #49043
Yes, that's true (although it's a lot less common) -- but even then, I'm not sure it's that important to talk about "starting a new subscription"?

Let me elaborate on my comment above a bit more:

This is the text we currently use when removing and refunding a plan within the refund window:

![cancel-refund-personal](https://user-images.githubusercontent.com/235183/129275305-013d7d0b-f28f-4d6e-9a

[2021-08-12 22:08] DavidRothstein commented on #49043
We should probably look a bit into the origin of the current "without purchasing a new subscription" wording though.  It may have been added as an attempt to make people understand that even though they were removing their subscription early (before the expiration date) they still wouldn't be able to just get it back for free.  But if that's the goal, I think there is probably still a better way t

[2021-08-12 22:35] worldomonation opened #55478 "Support: invalid search keyword query should have a hard timeout"
### Steps to Reproduce

1. start at /home.
2. in the support card, search for an invalid term like `;;;ppp;;;`.
3. wait until the request is resolved.

### What I expected to happen

The text `Sorry, there were no matches. Here are some of the most searched for help pages for this section` should appear within a reasonable amount of time.

### What actually happened

The placeholder animation cont

[2021-08-12 22:46] geektzu opened #55479 "The Tiktok embed block does not work on WP.com reader"
### Steps to Reproduce

1. Make a post with Tiktok embed block on a P2. The Tiktok will work on the post.
E.g:
{p73hfx-44X}-p2

Tiktok displayed correctly like this screenshot: https://d.pr/i/ydVosb

2. When the post is read from WP reader. The Tiktok block does not show up correctly. E.g
https://wordpress.com/read/blogs/{blog-id}/posts/{post-id}
Screenshot:
https://d.pr/i/2AAGBH

### What I expec

[2021-08-12 23:06] paxblueribbon opened #55482 "Facebook Widget Shows Text Only - No Feed"
### Steps to reproduce the behavior

1. Go to user's sidebar https://conejovalleydotphysicals.com/
2. See that facebook widget shows a link, not the feed or box displayed  here https://jetpack.com/support/extra-sidebar-widgets/facebook-like-box-widget/
3. Check user's customizer, see that widget is configured correctly.

#### What I expected to happen
See the FB Widget as a box or show their feed

[2021-08-13 00:24] fullofcaffeine commented on #54859
This is done 🎉. Next one: https://github.com/Automattic/wp-calypso/issues/55285.

[2021-08-13 00:24] #54859 closed, assigned to nobody

[2021-08-13 01:18] tanjoymor opened #55484 "Melody: Two dates on posts on AT sites"
### Steps to Reproduce

1. Activate the Melody theme on an AT site
2. Set the Homepage to display latest posts
3. Make sure you have a Published post that's also be edited and Updated with a different date

### What I expected to happen

Just the Publish date to display on posts the way it does on Simple sites, like the theme demo site.

On Simple sites it works like this: https://d.pr/i/lbJ76n an

[2021-08-13 01:31] lsl commented on #55418
Agree, thanks for the link, good discussion there. For this ticket specifically we'll just hide the nudge.

[2021-08-13 01:33] lsl opened #55485 "Remove `unsafe-woop-test` blog sticker from blog reportcard"
Once we're past the initial testing and ready for a more general cft,

- ~Remove `unsafe-woop-test` blog sticker from blog reportcard (revert r230186-wpcom)~
- ~Enable woo on simple based on the WOOCOMMERCE_ACTIVE sticker alone. (need new diff for this)~

Update:
- [x] Remove both `unsafe-woop-test` and `WOOCOMMERCE_ACTIVE` stickers from blog rc.
- [x] Remove mu-plugin code that enables woo based

[2021-08-13 01:41] lsl opened #55486 "Woo atomic transfer test"
We need to try out an atomic transfer on a simple site with woo installed and enabled with a basic store already setup.

### AT Upgrade
- In a woo test site
- Create one product
- Create one order
- Create one customer
- Initiate atomic transfer

- [ ] Get a snapshot of `show tables` on both simple and atomic to compare / request them being included in the atomic transfer.
- [ ] Get a snapshot of

[2021-08-13 02:18] edwinho89 opened #55487 "Cover block: Allow adding multiple images and work as a Carousel block"
### What

I would like the cover block the option to include adding multiple images, so images can be rotated in a form of carousel

### Why

The current post carousel block has this option, however not as ideal as implementing cover block with carousel feature.

### How

Similar feature as this plugin: https://wordpress.org/plugins/gutenslider/

[2021-08-13 02:31] arthur791004 commented on #55300
@kristastevens Yeah, I use that link 👍

[2021-08-13 02:36] edwinho89 commented on #55487
31072522-hc

[2021-08-13 02:37] lsl commented on #55405
Ran through a few screens we had concerns about and attempted to break things.

There were a few errors but nothing damaging.

Added notes to @deBhal's [p2 post](pdhcfv-26-p2) and tickets for problems already identified: pdhcfv-26-p2#comment-33

[2021-08-13 02:37] #55405 closed, assigned to lsl

[2021-08-13 05:11] pablinos opened #55488 "Plans: Ensure WoA sites always use WordPress.com plans"
During our work recently on closing the differences in the experience between WordPress.com simple and Atomic sites, we discovered that Atomic sites without a plan would report as being `jetpack_free`.

As a result there are checks in the code base that look for this plan and whether the site is Atomic, but other parts of code that assume these are Jetpack sites and not WordPress.com.

This comple

[2021-08-13 05:15] lsl opened #55489 "Searching customers fails with error"
On the Add Order screen, searching for a customer when you have none generates an sql error.

[code]

Before
![Screenshot(27)](https://user-images.githubusercontent.com/811776/129308095-86f20728-35f4-4ad4-b455-42f9089c3298.png)

[2021-08-13 05:17] lsl opened #55490 "Saving products in woocommerce result in classic-editor errors"
While saving seems to succeed, an error is generated, potentially related to GB on wpcom

This happens saving both orders and products.

[code]

[2021-08-13 05:20] lsl opened #55491 "Cart and checkout do not load for woo on plans"
Woo on plans sites load the homepage when attempting to visit the cart or checkout.

Before:
![Screenshot(28)](https://user-images.githubusercontent.com/811776/129308544-7754a31a-65e5-4a7e-9f98-de317f431414.png)

[2021-08-13 05:25] lsl opened #55492 "Customers page does not load anything"
Suspect api access #55424

Before

![Screenshot 2021-08-13 at 15-24-16 Customers ‹ WooCommerce ‹ Woo on Plans Test Site — WooCommerce](https://user-images.githubusercontent.com/811776/129308887-08b08639-d334-4f12-acf9-58d94f445372.png)

[2021-08-13 05:48] #55305 closed, assigned to lsl

[2021-08-13 06:00] autumnfjeld commented on #50365
@p-jackson  This can be moved to Done, ya?
Also it looks like the issue/PR aren't automatically linked since PR was in a different repo (at least I think that is what is going on).  I've added an explicit reference to this issue in the PR.

[2021-08-13 07:51] Aurorum commented on #55477
PR for this issue in #55495. :)

[2021-08-13 08:34] p-jackson commented on #50365
@autumnfjeld No doesn't look like we can link PRs in different organisations, but I wouldn't have linked these two anyway. The PR fixes one issue, but doesn't solve the original problem that it was unexpected for the text to be truncated, even though it's by design. We could still make a decision that we're not going to address that though.

Also, Kathy set up a system where issues wouldn't close

[2021-08-13 09:07] zdenys opened #55497 "Theme Showcase: Live demo opens externally on Atomic sites"
### Steps to Reproduce

1. Go to WordPress.com > My Sites > Appearance
2. Click `...` on one of the themes and then on `Live demo`

### What I expected to happen

The Live demo should open in a modal and stay that way.

### What actually happened

The Live demo opens briefly in a modal, but then redirects and opens in a new tab.

### Context

Observed during a Quick Start session 4218872-zd-woothe

[2021-08-13 10:07] p-jackson commented on #44658
I think breaking the "reblogging" feature out of the "likes" module (option 3) is a big undertaking, and would probably have product implications too i.e. the user can switch the likes module on/off in Jetpack so we'd need to migrate things if we broke it into a seperate module.

If you think of Likes (with a capital L) as the name of the module that's an umbrella module for liking and reblogging,

[2021-08-13 12:32] dpasque commented on #55263
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-13 12:34] aleone89 commented on #53159
Hello there's been another report in forums here: https://wordpress.com/forums/topic/css-syntax-error-in-tag-style-amp-custom-malformed-media-query/

[2021-08-13 12:48] dpasque commented on #55463
@Automattic/quality-squad Pinging us as this would be good for us to take!

[2021-08-13 13:06] dsas commented on #55203
I have had another look at this and haven't yet found how refund happens when removing a plan via the API

[2021-08-13 13:37] mmtr commented on #55203
Seems we have a different endpoint for that: https://github.com/Automattic/wp-calypso/blob/49ea2453c8d150e169d841b105ccd23a69e9a0b6/client/lib/wpcom-undocumented/lib/undocumented.js#L1986-L1996

[2021-08-13 13:44] zdenys commented on #50560
Another case 13550084-hc. I suggested they host the podcast on WP.com (they didn't know it was an option).

[2021-08-13 16:12] #54351 closed, assigned to nobody

[2021-08-13 16:21] jonny-a8c commented on #55482
Advised the user to remove any restrictions that prevents their Facebook page from being viewed as an anonymous user: https://www.facebook.com/help/537592652938493/

[2021-08-13 18:31] mreishus commented on #51787
It sounds like there are two separate phenomenon happening:

- (1) Users are still following the blogs but are no longer receiving notifications
- (2) Users are unfollowing blogs they don't intend to

For (2), note that any blog admin with the `remove_users` capability can "delete followers", or force followers to unfollow their blog. From the follower's perspective, it would look like they random

[2021-08-13 18:47] DanAntion commented on #51787
I also have no other admin users on my blog. In fact, I have no other users
at all.

I would also like to point out, in case you aren't aware of previous
emails, that some of these users have resubscribed numerous times, only to
repeatedly be dropped.

Thank you for your work and the update. I do appreciate that.

Dan
------
Daniel Antion
***@***.***

On Fri, Aug 13, 2021 at 2:31 PM Matthew Reishu

[2021-08-13 19:36] Aurorum commented on #35935
PR for this issue in #55503. :)

[2021-08-13 20:27] mattwiebe commented on #55030
This should be fixed by https://github.com/WordPress/gutenberg/pull/33919

[2021-08-13 20:50] csonnek opened #55504 "Follow Blog Widget: Subscribers without a WordPress.com account can't subscribe"
### Steps to Reproduce

1. Set the Follow Blog Widget in a sidebar
2. View the widget on the front end of the site both logged into WordPress.com and logged out - contrary to the [support document](https://wordpress.com/support/widgets/follow-blog-widget/) the widget is the same (prompting the email entry field) regardless of logged in status.
3. Subscribe to the site via that widget using A) an e

[2021-08-13 20:58] RealCarFax opened #55505 "Block Editor not loading for Simple site"
### Steps to Reproduce

1. Start on https://wordpress.com/home/
2. Click on Pages (Sivut)
3. Click on Edit (Muokkaa) under one of the pages or alternatively click on Add New (Lisää uusi)

### What I expected to happen

The block editor should load

### What actually happened

Only a white page loads, the favicon and site title appear in the browser tab, but nothing else beyond that.

### Context

[2021-08-13 22:39] JoshuaGoode opened #55512 "Widgets: Restore or deprecate legacy Podcast Widget"
WordPress.com previously offered a Podcast Widget but this appears to be no longer available within the new block widget editor.

Documentation: https://wordpress.com/support/audio/podcasting/#podcast-widget

The widget is available on Atomic if the Classic Widgets plugin is active and the WordPress.com podcasting feature is enabled.

If this widget will no longer be available, we will want to ope

[2021-08-13 22:46] autumnfjeld opened #55513 "Edit site title. I want to edit tagline too but the popup guide blocks the tagline"
TODO: Autumn will finish this description

![image](https://user-images.githubusercontent.com/5665959/129424951-ef606339-0a6c-4d99-9e1c-e98adace6834.png)

[2021-08-13 22:55] eduardozulian opened #55514 "Reader: Posts loaded with "New Post" button are already marked as seen"
When you use the "new post" button, the new posts that appear in the feed are already marked as seen with the `.is-seen` class.

I cannot reproduce the issue in the internal A8C tab.

### Steps to reproduce the behavior

1. Go to https://wordpress.com/read
2. Wait for new posts to appear
3. Tap the "new post" button on the upper right
4. Check the posts just loaded in the feed

#### What I expecte

[2021-08-13 23:09] autumnfjeld opened #55515 "Add "interactive" to Welcome Tour slide. And maybe a sentence: "Try each suggestion for yourself.""
The Welcome Tour is meant to be interactive, but the user may not realize that.  We don't prompt them at all to "try it for yourself while going through the tour"

BEFORE
![image](https://user-images.githubusercontent.com/5665959/129426124-43c0faf1-47f0-4aef-bf14-ed144f63554f.png)

PROPOSED
new copy: "Continue on with this short, interactive tour to learn the fundamentals of the WordPress editor."

[2021-08-14 06:31] kdevnel commented on #51610
I came across this here also - p9F6qB-7iD-p2

It doesn't look like this issue was triaged originally so I've put it in the triaging queue. I can confirm all the same behaviour - only once the parent page loads does the correctly visual hierarchy appear in Calypso.

[2021-08-14 07:54] kosiew commented on #51610
Hi @bsanevans,

Thanks for reporting this and the detailed steps.

@kdevnel ,
Thanks for moving this to Needs Triaging.

Triaging for developers' further investigation.

[2021-08-14 09:03] formosattic commented on #46077
The merge of profile makes sense if there's only one site, but users with multi-sites might want to have a separate profile for each site.

Even if we were to enable the Display Name fields in WP Admin, it sounds like it'd be challenging (and overkill?) to find a way to reflect that in WordPress.com.

A quick workaround is to add another admin user by:

* creating another WordPress.com account, th

[2021-08-14 09:47] getdave commented on #54981
Is this specific to Calypso or does this happen on a fresh install of WordPress? I ask because this might be a Gutenberg Core issue.

[2021-08-14 10:03] allanftd commented on #55505
User followed up on email since they have an event today. Suggested workaround - check if page editor works on the app. 4220624-zen

[2021-08-14 13:18] ClassicRKR27 commented on #53159
Hi there, it appears that this is another report here: 4216020-zd-woothemes

[2021-08-14 15:07] kdevnel commented on #50868
I also just came across a new occurrence of this. Since we redirected all Widget editing links to the Customizer it is no longer possible to reach the /widgets.php page where you can manage inactive widgets unless you enter that domain name directly.

This is the interface you get at that URL on a self-hosted site:

![Markup on 2021-08-14 at 17:06:37](https://user-images.githubusercontent.com/2205

[2021-08-14 15:41] lizswafford opened #55517 "Services Block: Include option to replace image"
### What

Request to add an option to replace an image previously added to the Services Block.

### Why

Add a Services Block to a post or page.
Insert the image, heading, and text.
It is not possible to replace the inserted image.
To replace the image you need to add the block again, choose the new image, and copy and paste the heading and text.

(#31127840-hc)

### How

Request to add a Replace

[2021-08-14 20:11] nickpagz commented on #55279
We had directed this user to check with Apple and Stripe as it may be related to one of those. Apple directed the user to Stripe, and Stripe responded by pushing back on us, saying it is related to the modal window not coded correctly, which seems likely, tbh.
#4207539-zen

FWIW, Chrome on iOS 14 also does the same.

Also, and possibly un-related, in desktop Chrome console window, the following er

[2021-08-14 23:42] hacchism commented on #47992
Another case in 31132154-hc. I could see the issue on all browsers(Chrome, Firefox, Safari).

The user was okay with switching to a different button style so I suggested that.

[2021-08-15 00:31] donalirl commented on #53609
I was able to recreate this consistently.

When you are highlighting text, if you trigger the border box around the paragraph block, it seems to confuse the selection and cause the wrong text to be bolded/linked. Video:

https://user-images.githubusercontent.com/30727666/129463349-b02ed6de-bcec-4317-a84c-526b0da00984.mp4

If you take the same action, being careful not to trigger the border box aro

[2021-08-15 08:12] inaikem commented on #55463
For reference, the Bugomattic link that adds the project, labels and calls the report template:

https://github.com/Automattic/wp-calypso/issues/new?projects=Automattic/wp-calypso/108&labels=User+Report%2C+%5BType%5D+Bug&template=happiness-bug-report.yml

[2021-08-15 08:14] inaikem commented on #55464
For reference, the Bugomattic link that adds the project, labels and calls the report template:

https://github.com/Automattic/wp-calypso/issues/new?projects=Automattic/wp-calypso/108&assignees=&labels=%5BType%5D+Feature+Request&template=feature_request.yml&title=

Would it be possible to add `User+Report` to the query string so we can track the report as coming from Happiness?

[2021-08-15 13:13] msilbers commented on #39180
This was reported in:

2753307-zen / March 2020
2753361-zen / March 2020
2730062-zen / March 2020

3242958-zen is RESOLVED / reported August 2020
3334566-zen is RESOLVED / reported October 2020
3725026-zen is RESOLVED / reported February 2021
3791547-zen is RESOLVED / reported March 2021
3820615-zen is RESOLVED / reported April 2021

Resolution steps are only internal, and can be found on P5PDj3-4

[2021-08-15 16:07] msilbers opened #55519 "Perennial: Accordion block arrows do not display"
### Steps to Reproduce

1. On a WOA site, add an Accordion block on any page
2. Switch to the Perennial Premium theme
3. View the page with the Accordion block (a Coblocks block, available only on Atomic sites)

### What I expected to happen

There should be an arrow indicating you can click for more details, which does show on other themes

### What actually happened

No arrow displays

The block

[2021-08-15 16:15] KirkwallDay commented on #55085
Closing the ticket here: 4186148-zen. A new ticket will need to be created to follow up with the user once the issue is fixed.

[2021-08-15 19:05] msilbers commented on #55344
reported in #4222192-zen
There's no available workaround since it's a Simple site

[2021-08-15 19:27] amustaque97 commented on #45004
Hi @sirbrillig, Yeah even I was wondering why it is not happening for me. Perhaps it looks like it can only be tested with the real payment where the payment processor will return to the summary page (not sure exactly). Though, I have added to `window.scrollTo(0, 0)` in the `performRedirect` function function as you mentioned in the comment. Hopefully, it should work.

After making changes I tried

[2021-08-15 19:29] DanAntion commented on #51787
Here's one more responding to my request for input:

P.S.I’m not getting notifications of your posts."

That's from https://marianallen.com/ and I happen to know she has followed
my blog many times. I doubt very much that she is accidentally unfollowing
my bog.

Dan
------
Daniel Antion
***@***.***

On Fri, Aug 13, 2021 at 2:31 PM Matthew Reishus ***@***.***>
wrote:

[2021-08-15 23:17] joweber123 commented on #44844
Another request to add a 'free' option to this block. 4222848-zen

They would specifically like to only show content once someone has signed up for Mailchimp or to follow their site.

[2021-08-16 00:01] p-jackson commented on #43972
Most of the a11y issues initially identified with the nav sidebar were fixed, and this was the last remaining one. It only happens on Mac FF. It's an issue with Gutenberg modals in general and a fix would come with tradeoffs e.g. one option is to use `<button>` instead of `<a>`, which would worsen a11y in favour of improving a11y in this way.

I think the proper solution to this is to replace our

[2021-08-16 00:12] jordesign commented on #55504
Doing some further testing here...

I can confirm this behavior on my test site P14ISG-2H-p2 (free/simple)

Widget Settings:

<img width="303" alt="Screen Shot 2021-08-16 at 10 02 08 am" src="https://user-images.githubusercontent.com/1842363/129496668-12c1874c-70fd-4da4-a928-546bf2d5ea64.png">

Result:
Regardless of whether the user is logged in or not - they see the message for logged-out users.

[2021-08-16 01:43] katiebethbrown opened #55522 "The Four: Clicking the Hanburger Menu on Mobile Opens the Menu, But Clicking It Again Does Not Close the Menu"
### Steps to Reproduce

1. Open a site with The Four theme ([theme demo](P85sMh-5-p2))
2. View it in a mobile viewport (device or using dev tools)
3. Click on the hamburger icon to open the menu
4. Click on the hamburger icon again (ostensibly to try and close the menu)

### What I expected to happen

The mobile menu to close.

### What actually happened

Nothing at all. The only way to close the

[2021-08-16 02:30] inaikem commented on #55384
To the best of my knowledge, there is nothing resembling the Action Bar or an automatic platform-level subscribe prompt after a site goes Atomic.

The only persistent cross-plan subscription method I can think of right now is a [Subscription Form block](https://wordpress.com/support/wordpress-editor/blocks/subscription-form-block/) added via Block Widgets to a site's sidebar/footer area. This woul

[2021-08-16 02:54] kuropixel opened #55523 "Jetpack Social Icons widget not saving or displaying"
### Steps to Reproduce

1. Go to widgets in customizer
2. Add the social icons (jetpack) widget
3. Input some links to Facebook, Instagram, etc.
4. Save and view the site.

### What I expected to happen

The social icons widget should display on the web with any input links that were saved.

### What actually happened

None of the social icons appear on the site. Also, when returning to the widget

[2021-08-16 04:25] p-jackson commented on #51834
An earlier design from #11593 did have a vertical bar separating the buttons, and no oval.

What about something like this?
<img width="248" alt="Screenshot 2021-08-16 at 3 57 58 PM" src="https://user-images.githubusercontent.com/1500769/129511156-4f38ddc6-5671-42fd-bc2d-2c684c6afd4b.png">

I like removing the oval because it starts to feel messy having both the vertical bar _and_ the oval around

[2021-08-16 05:15] p-jackson commented on #49849
This problem appears to have been worse before nav unification rolled out.
You can still see this if you append `?disable-nav-unification` to the url
<img width="286" alt="Screenshot 2021-08-16 at 4 58 06 PM" src="https://user-images.githubusercontent.com/1500769/129513319-dafb0420-225e-48a0-bf06-c1886badf663.png">

However there was some rationale to how it was. In this video you can see that alt

[2021-08-16 05:15] #49849 closed, assigned to nobody

[2021-08-16 06:25] hacchism commented on #53204
Another instance: 4224556-zen

[2021-08-16 07:49] rickmgithub opened #55524 "Google changing podcast RSS feed specs for recommendations"
### What

Google's new podcast recommendation requirements

### Why

As we keep moving more into podcasting with the acquisition of Pocketcasts, should we check that we are up to date with Google's new requirements and if we're not, if we can add them?

Here is Google's forum post with the details - https://support.google.com/podcast-publishers/thread/120525009/upcoming-changes-in-google-podcastin

[2021-08-16 08:37] tjcafferkey commented on #55157
I think once all of the details and questions have been ironed out we can turn them into individual GH Issues with proper user stories as a team and use Githubs native Milestone feature to track them rather than an Epic issue.

[2021-08-16 08:48] klavdijas opened #55526 "Videopress File Size 0.00 B on AT sites"
### Steps to reproduce the behavior

1. On an atomic site with Videopress is on
2. Upload an MP4 (any size)
3. Give it time to convert
4. Refresh page
5. Click the video, and press Edit in the top left to see details
6. Notice: File Size 0.00 B | https://d.pr/i/NIbwBz

#### What I expected to happen
To see something like: File Size 16.03 MB
#### What actually happened
The size displayed is 0
####

[2021-08-16 08:54] Robertght commented on #49528
Great work on this one! This still needs some adjustments on the responsive side of things as it would look like this for posts/pages with longer titles:

![image](https://user-images.githubusercontent.com/6737345/129537825-c27a4daa-adb4-48da-8fea-8dd53d387a50.png)

[2021-08-16 10:39] jordesign commented on #55515
I like the idea of encouraging/prompting action. Something like 'Give it a try' or 'try it out!'

[2021-08-16 10:41] jordesign commented on #55513
ooh - yes please. This is a real 'back to basics' one...

That being said - Is this step of the checklist something we should revisit the idea of sending folks to the Customizer to change (as we investigated in the My Home pod)?

[2021-08-16 10:44] jordesign commented on #53172
It looks like we'll know the user intent (based on https://github.com/orgs/Automattic/projects/272#card-66764022) so that will be handy for this to be considered once that is possible.

[2021-08-16 10:45] jordesign commented on #51249
This one definitely needs some further testing - to narrow down the instances in which it happens. Generally with headings - if there is a custom font size set - it is an inline style - so by nature it *stays* big even when the screen is smaller.

[2021-08-16 10:46] jordesign commented on #55345
Removing this from the 'Blogger Experience' board as it is being covered by Flow Patrol (thanks).

[2021-08-16 10:49] jordesign commented on #55281
Noting this user testing here: pdgK6S-1u-p2

[2021-08-16 12:26] DanAntion commented on #51787
Here's two more comments from today's post -
https://nofacilities.com/2021/08/16/hot-muggy-buggy  (if you read the
comments, you might be able to gauge the sentiment of your users).

http://marianallen.com/

" I didn’t get a notice for the Saturday post, but I got one for today, so
… yay? 'At least they’ve mastered irony.i If that ain’t a Wednesday
one-liner, I don’t know what is. LOL"
======

htt

[2021-08-16 14:48] daria2303 commented on #52182
another report but only for Safari, in Chrome it is working: 31027667-HC

[2021-08-16 15:14] dsas commented on #55204
In store admin the form is processed by `wp-content/admin-plugins/wpcom-store-admin/wpcom-store-admin-page.php`, the interesting part starts on the "refundtxn" case of the action switch.

 * Gets the refund value and transaction id and calls `WPCOM_Store::refund_payment`:
   * Get the payment processing class for this method (subclass of `WPCOM_Billing_Payment_Processor`)
   * Call the `refund` me

[2021-08-16 16:43] dsas commented on #55203
Via the API, a refund is done as part of cancelling an upgrade rather than [deleting a purchase](https://github.com/Automattic/wp-calypso/issues/55203#issuecomment-897767072), use of the [store admin](https://github.com/Automattic/wp-calypso/issues/55204#issuecomment-899592767) is different again.

The upgrade cancellation is implemented by `WPCOM_JSON_API_Upgrades_Cancel_Endpoint`
 *  It gets a `

[2021-08-16 16:59] sixhours commented on #55244
Hello @amustaque97 ! Since the Customizer is part of WordPress core, it's not possible to develop a solution for this in the local Calypso environment. It would have to be a PHP-based plugin of some kind, and unfortunately we don't have a way for open-source folks to contribute to that part of WordPress.com. :(

[2021-08-16 16:59] kelasante commented on #27402
A similar request in 4223233-zen

[2021-08-16 17:40] aerych opened #55533 "Notifications: Some comment notifications show an incorrect like status."
Some comment notifications do not show the correct like status. The comment always appears as if it has not been liked.

### Steps to reproduce the behavior

1. Open the Notifications panel in your browser.
2. Find a comment notification where you’ve been @mentioned and have already liked the comment and tap to expand the detail.
3. Note that the like button does not show you’ve liked the comment

[2021-08-16 18:04] KirkwallDay commented on #54268
Similar feature requested here: 4222013-zd

They'd like it if their scheduled posts would post when scheduled, not on the next site visit.

[2021-08-16 18:10] mreishus commented on #46132
I was able to fix the issue in the most recent comment (posts page -> host missing) here: https://github.com/Automattic/wp-calypso/pull/55476.
The root cause was posts with thumbnails that had invalid URLs, for example, a url like `?v=123456`. Calypso was assuming a host name would always exist, like `https://example.com/picture.gif?v=123456`. When it was missing, the white screen crash would happ

[2021-08-16 18:33] sixhours commented on #52696
It looks like this may have been fixed; I'm unable to reproduce the overflow in Chrome or Firefox:

<img width="1679" alt="Screen Shot 2021-08-16 at 2 30 42 PM" src="https://user-images.githubusercontent.com/2124984/129612563-d585bf38-11f5-4484-8d2d-96d011de42e6.png">
<img width="1680" alt="Screen Shot 2021-08-16 at 2 30 59 PM" src="https://user-images.githubusercontent.com/2124984/129612567-d75b0

[2021-08-16 19:04] sixhours commented on #55345
The fix here is simple, but figuring out where that fix should live is less so. 😅 I'm going to spin up a PR for the Editing Toolkit for now.

[2021-08-16 19:18] kwight commented on #55394
Reader: pdgv5Y-38-p2
subscribe.wordpress.com: pdgv5Y-7F-p2

[2021-08-16 19:18] #55394 closed, assigned to blackjackkent

[2021-08-16 19:30] kwight opened #55536 "Subscriptions: Determine most common terminology around subscriptions."
With our use of "follower", "email follower", and "subscriptions", we may not be meeting our users with the terminology they're used to on other platforms. Let's investigate other platforms, and see if we should be updating our terms.

Additionally, let's observe where other platforms are placing subscriber management in their navigation hierarchy. We currently have ours under "Users", which many

[2021-08-16 19:45] kwight opened #55538 "Subscriptions: Allow users to add a custom message to subscription emails."
Users often request the ability to customize the templates and/or content of the subscription emails we send upon a new post being published.

One step forward is to allow a text field to users in which they can add a custom message, and then have that message display at the start of the email template.

We'll need to take into account possible abusive use-cases, and make sure of proper escaping a

[2021-08-16 19:57] kwight opened #55540 "Subscriptions: Refresh the email templates."
The email template we use to send Followers a new post is looking very dated. Let's update this template to look more modern, and possibly bring it more in line with P2 templates (which are quite lovely).
Let's also keep in mind updating the links included in the template; some (such as the Manage Subscriptions link) may best be redirected somewhere else (in Calypso).

| Current | P2 |
| --- | ---

[2021-08-16 20:25] mikeicode commented on #52696
@sixhours

Appears to have been resolved with this:

[code]

For this similar issue:

https://github.com/woocommerce/woocommerce-admin/issues/7035

I'll close this, thanks! :)

[2021-08-16 20:25] #52696 closed, assigned to sixhours

[2021-08-16 20:25] metabreakr opened #55541 "Navigation block: allow for collapsed (i.e. responsive) vertical menus on desktop/tablet"
### What

Allow for drop-down menus, akin to HTML select boxes

### Why

In instances where a user is trying to add a vertical menu, and they might just like a select box, this would be helpful. Just a plain, ordinary drop-down.

For example, I am trying to create multiple group blocks, each with their own title and menu below. A drop-down would be useful here to ensure that each group remains in

[2021-08-16 20:54] davipontesblog commented on #42973
Added to Subscriptions pod for consideration. Please note this is possibly related to this existing Jetpack repo issue from 2015: https://github.com/Automattic/jetpack/issues/3019. It continues to come up with users, though not very often.

[2021-08-16 20:56] davipontesblog commented on #42973
Added priority High as there is no workaround available currently. pciE2j-oG-p2 for internal context.

[2021-08-16 21:51] Gustavo-Hilario commented on #55283
Another report here: 650590-hc - Simple site.

[2021-08-16 23:22] autumnfjeld commented on #55432
This sounds like something that would need P2 discussion and definition. Is that correct?   If so let's file it in "For the future" until the idea is more concrete.

[2021-08-16 23:29] deBhal opened #55543 "Woo Atomic Downgrade Test"
In a new business plan site without woo, go atomic and install woo.

Set up a basic store as before.
Initiate atomic downgrade
 Snapshot options in atomic and the now simple site
 Snapshot tables in atomic and now the simple site
 Compare & note down what is missing.

[2021-08-16 23:30] JoshuaGoode commented on #46132
Confirmed this fixed things up.  Before the fix, I Inspected previous reports. Some were not related to the original issue and those that were were no longer experiencing it as they removed the offending content.

[2021-08-16 23:30] #46132 closed

[2021-08-17 00:51] roo2 commented on #44658
@kraftbj I've got a draft fix for this up, it's basically
* Enable the likes module if like button is displayed OR reblog button is displayed
* pass a `?hide_like_button=true` flag to the front end via the query string.

If the reblog button is disabled, and like button is enabled, `hide_like_button` would be true.

It's implemented in D65521-code and https://github.com/Automattic/jetpack/pull/207

[2021-08-17 00:55] roo2 commented on #44658
@p-jackson

I found that we're currently using the query string to pass the `lang` to the front end, so it looked like using the query string here might make sense here too.

There is javascript loaded (it appears for both wpcom and non wpcom sites) from widgets.wp.com so I've updated that in  D65521-code.

[2021-08-17 01:14] deBhal opened #55544 "Fix Woo Atomic Upgrade"
Upgrading a Woop simple site to atomic fails somewhat spectacularly.

We need to figure out why and fix it (or get it fixed).

![Your_Site_‹_Jules_Aus_Test_eCommerce_—_WordPress_com_and_Woop_and_Debug_–_Jetpack_Tools](https://user-images.githubusercontent.com/5952255/129648467-4d0b8e1e-70ad-4894-88ea-86517ebe4da6.jpg)

[2021-08-17 01:34] lsl commented on #55543
+ Follow up: contact / sync with who needs to fix problems

[2021-08-17 01:56] autumnfjeld commented on #51834
Looks good to me!  Think its ok to ship. :)

[2021-08-17 02:20] roo2 commented on #44940
It looks like the issue here is that the theme makes it look like the "Featured Post": "My Favorite Pankake ..." section is dynamic. The user assumed that by adding the "featured" tag to a post, the post would take that place. But the section is actually just static content.

So there are a few things that we could do to improve this experience and I think we should have further discussion before

[2021-08-17 02:52] lsl opened #55545 "Limit number of products per plan level"
Needs scoping.

Feature gate, limit number of products you can create under certain plan levels.

Unless there is an easy hook for this we probably need something done on the woo side as well as the .com side.

[2021-08-17 02:54] lsl opened #55546 "Limit payment options to WC Payments"
Needs scoping.

Limit payment options to WC payments only when on simple site plans. Implement nudge to atomic/business in other options place.

[2021-08-17 02:57] lsl opened #55547 "Change WC payments transaction costs based on plan level"
Needs scoping.

Depending on the plan level we need WC payment transaction costs to change.

It has been suggested the earn blocks do something like this already.

- [ ] Loop in Woo / @bmccotter before getting too far on this, re paJDYF-2LT-p2#comment-8549

[2021-08-17 03:13] autumnfjeld commented on #55362
Cool, let's send user to My Home instead of the Customizer.

@kristastevens could you help us with new copy for that?  To replace  the copy that @p-jackson points to above with the pink arrow.

[2021-08-17 03:51] autumnfjeld commented on #53172
I think current work by Ollie in the Blogger pod is addressing this--e.g. designs on the way to tailor this experience.  Do you think we can close this @jordesign , since this is actively being addressed?

[2021-08-17 03:59] autumnfjeld commented on #55513
Yes.  https://github.com/Automattic/wp-calypso/issues/53434 Perhaps better to close this, and keep that prior ticket alive.

[2021-08-17 04:28] bluefuton opened #55548 "Reader: Gutenberg gallery caption background is longer than the images"
### Steps to reproduce the behavior

1. Create a post with a two-column gallery in the Gutenberg editor.
2. View the post in the Reader.

#### What I expected to happen
Nice, neat backgrounds underneath the image captions.

#### What actually happened
The gradient extends beyond the gallery:

<img width="801" alt="Screen Shot 2021-08-17 at 14 47 57" src="https://user-images.githubusercontent.com/1

[2021-08-17 05:47] autumnfjeld commented on #55431
Love this idea, but not sure if we have bandwidth to do the discover and then dev work in the Blogging Pod. Also not sure it fits in "Back to Basics".

[2021-08-17 06:15] Robertght commented on #55306
Thank you for sharing this Nick! The error message you got only showed up for me when I started to type the new address, but this came up after I was done:

![image](https://user-images.githubusercontent.com/6737345/129672746-42a8cdb2-1d4e-4356-afc3-eba461a511fa.png)

I'm not sure if this should be an option on AT sites for the staging domain, but I'm checking with Flow patrol.

[2021-08-17 06:32] Robertght commented on #55316
Thank you for reporting this Denys! I can confirm the same thing on my end, regardless of the browser.

[2021-08-17 06:48] Nic-Sevic commented on #53978
I reached out to LinkedIn again since we didn't receive a response last time: 4227338-zen

[2021-08-17 07:04] Greatdane commented on #35026
Another 30766845-hc (Simplified Chinese)

[2021-08-17 07:24] lsl commented on #55418
D65585-code

[2021-08-17 07:35] jordesign commented on #55431
Fair call - happy for it to be de-prioritised from the pod.

[2021-08-17 07:35] jordesign commented on #53172
That works for me - closing in favour of Ollie's work.

[2021-08-17 07:35] #53172 closed, assigned to nobody

[2021-08-17 07:39] jordesign commented on #55306
Maybe something Explorers/Simple > Atomic Pod can pick up?

[2021-08-17 07:50] formosattic commented on #55333
Thanks for the report.

Looks like the root issue is actually that Customize only offers the legacy Pay with PayPal block, so some options are missing.
![image](https://user-images.githubusercontent.com/15944096/129685446-1454f92c-7573-4e9e-8857-688c66485f96.png)

#### Legacy
![image](https://user-images.githubusercontent.com/15944096/129685588-669ca04e-de3d-4575-9fc2-1ff1e106f944.png)

#### Curre

[2021-08-17 07:52] inaikem commented on #55283
@Robertght: One for FP/Create to investigate 🙏

[2021-08-17 08:09] arthur791004 commented on #44658
If we can ensure that this HTML would only be loaded in iframe, then I'm okay with using query string for that. Because query string might be omitted and if we don't have `hide_like_button=true` in the query string, like button will show and looks strange. Also, there is inconsistent because we have some likes data coming from `/likes` API but `hide_like_button` comes from the query string. It mig

[2021-08-17 08:24] #55340 closed

[2021-08-17 08:51] formosattic commented on #55366
Thanks for the report @Nic-Sevic.

Based on the latest of the ticket, it sounds like the issue might be specific to the user's setup.

I'm closing this for now. Please feel free to re-open if you have further findings to add.

[2021-08-17 08:51] #55366 closed, assigned to nobody

[2021-08-17 08:58] flootr commented on #48409
still relevant

[2021-08-17 09:06] retnonindya opened #55549 "File Download and Stats: Display "Referrer" for file download"
### What

To have "referrer" section on File Download

### Why

On File Downloads section on Stats, we only have two information: File name and number of downloads.

Sometimes, though, users might see their file(s) get downloaded while there is no visit to their website. This type of situation can happen when:

- The file URL is shared on other platforms, or the URL is accessed directly (not by vi

[2021-08-17 09:13] formosattic commented on #55370
Thanks @Nic-Sevic for reporting this and the detailed steps.

I could not reproduce this (with theme Blockbase, Mayland (Blocks), Seedlet (Blocks)) and am closing this for now. Please feel free to re-open if you have further findings to add.

![image](https://user-images.githubusercontent.com/15944096/129698143-ca425d91-3c68-40b0-96a8-2f16ad6fce2e.png)

[2021-08-17 09:13] #55370 closed, assigned to nobody

[2021-08-17 10:05] zdenys opened #55550 "P2020 Commenting: Preserve formatting when selecting text to be quoted and clicking `Reply`"
### What

Preserve the formatting in full when selecting text in the post/page and clicking `Reply`.

### Why

Currently, if you select any text in the post or page that is formatted (e.g. bold, italic, hyperlinked, etc.) and then click the `Reply` button, the text you selected gets added into a [Quote Block](https://wordpress.com/support/wordpress-editor/blocks/quote-block/) but all the formattin

[2021-08-17 10:06] formosattic commented on #55371
Thanks @Nic-Sevic!

I was able to reproduce. I've edited the title and notes to make some details clearer.

Issue happens anywhere, not just footer, but I've only managed to reproduce with some menu items, it's inconsistent.
![troubleshooting](https://user-images.githubusercontent.com/15944096/129706777-749dd033-53a2-497d-89e0-ea3672ed228e.gif)

When adding menu with "Add existing menu" or "Add al

[2021-08-17 10:10] liviopv opened #55551 "Stow: link color is the same as base text color"
### Steps to Reproduce

1. Apply the Stow theme to a site
2. Open the editor and create an hyperlink in a paragraph block

### What I expected to happen

The linked text should have a different style than the base text to indicate it's a link

### What actually happened

The linked text and the base text look the same. Screenshot https://d.pr/i/vY8aRA

### Context

Customer report #31170486-hc

##

[2021-08-17 10:15] zdenys opened #55552 "P2020 Commenting: Allow quoting selected text multiple times and clicking `Reply` to have it added as a new Quoted Block"
### What

Allow quoting selected text multiple times and clicking `Reply` to have it added as a new Quoted Block

### Why

Currently, it's only possible to select any text in the post or page once and click `Reply` button to see it being added as a [Quote Block](https://wordpress.com/support/wordpress-editor/blocks/quote-block/) in the comments section. Once you've done it once, if you select any

[2021-08-17 10:24] formosattic opened #55553 "Block Widgets: Easier way to go from Customize to WP Admin view"
### What

On Simple sites, when users go to `Customize > Widgets`, there should be an easy path to the WP Admin view of block widgets.

### Why

In Customize, the block settings (like for Image, Paragraph) aren't accessible, it makes it impossible to edit those blocks.

Right now, the only way is to manually go to the WP Admin view, `https://example.wordpress.com/wp-admin/widgets.php`

WP Admin vi

[2021-08-17 10:28] #55203 closed, assigned to dsas

[2021-08-17 10:28] #55204 closed, assigned to nobody

[2021-08-17 10:32] razvanpapadopol opened #55554 "Feature Request: Happiness Gardeners first example"
### What

A new welcome tour

### Why

This new feature doesn't have any guidance

### How

Video

[2021-08-17 10:53] mmtr opened #55555 "Atomic Downgrade: Create `wpcom/v2` endpoints to cancel/delete a purchase"
### Details

We've decided to integrate the Atomic revert functionality into the API endpoints called by Calypso to cancel/delete a purchase. That way, Calypso will be abstracted from the revert process, and will always call the same API endpoints when a user wants to cancel/remove a purchase, regardless of the site type.

However, requests to remove/cancel plans from an Atomic site won't be perfo

[2021-08-17 10:56] klavdijas commented on #55526
It's being worked at https://github.com/Automattic/wp-calypso/issues/54434 Closing as a duplicate.

[2021-08-17 10:56] #55526 closed, assigned to nobody

[2021-08-17 11:30] mmtr opened #55556 "Atomic Downgrade: Inform users about queued cancellations/removals"
As noted in pdgTfM-X-p2, the action of cancelling or removing a plan from an Atomic site won't be immediate, since we need to revert the Atomic site into the Simple sites infra and that takes a few minutes.

Due to that, once the user has submitted the cancellation/removal form, we need to indicate that the changes will take some some time. We can also let them know that they don’t need to be conn

[2021-08-17 12:00] kristastevens commented on #55362
I think @p-jackson's idea of inviting users to write a post would be great. How about:

Start drafting your first post! Need some inspiration? Check out our [library of writing prompts](https://wordpress.com/dailypost/prompts/).

[2021-08-17 13:14] #55477 closed, assigned to nobody

[2021-08-17 14:19] sixhours commented on #54434
On my WordPress.com site, the API is returning a file size of `0.0 B`, which bypasses checks on the frontend that are looking for an empty value or value of `0`. I also noticed that for these documents, the file size value in the `/wp-admin` media library is not shown, leading me to believe it's also seeing an empty value from the API; it's just doing a better job of hiding it:

<img width="1379"

[2021-08-17 14:30] kwight commented on #55463
Weird, at https://github.com/Automattic/wp-calypso/issues/templates/edit, I don't see this as an option, and it's not mentioned at https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository either. Strange that this would only be supported when creating an issue directly by URL (like we do with Bugomattic) – a

[2021-08-17 14:31] hngdny commented on #44716
Reports of this happening on 4215831-zen

[2021-08-17 14:47] saygunnyc commented on #54981
Hey @getdave, when I tried on a hosted WordPress I didn't experience the same issue. However, when I chatted with @shaunandrews about the issue, he was able to replicate it on WordPress as well, and the problem seemed to resolve when he disabled Jetpack. I haven't personally had the chance to test but it seemed like this has something to do with Jetpack.

[2021-08-17 14:49] dcoleonline opened #55559 "Unable to Delete P2 with 0 Spaces"
### Steps to Reproduce

1. Create a new p2 at https://wordpress.com/start/p2/p2-site?ref=p2-lp
2. Delete the initial space
3. Attempt to delete the hub p2
4. Receive an error message that

### What I expected to happen

The hub p2 would be possible to delete.

### What actually happened

The hub p2 with 0 spaces could not be deleted.

![image](https://user-images.githubusercontent.com/3505172/1297

[2021-08-17 14:54] sixhours commented on #54434
Found `/rest/class.json-api-endpoints.php` is where we're getting the data from; it has a special process for WordPress.com media:
<img width="870" alt="Screen Shot 2021-08-17 at 10 49 03 AM" src="https://user-images.githubusercontent.com/2124984/129748417-7d17ed91-78b4-4b15-8446-6e447d5c05f7.png">

Core function `wp_get_attachment_metadata` returns `NULL` for non-image file types, which results i

[2021-08-17 14:56] synora commented on #55497
There must have been a glitch in the matrix (j/k). I tried this out with a few themes and I'm unable to replicate this issue.

https://user-images.githubusercontent.com/10015451/129749576-82337f08-6cd6-40ce-ad07-86547ed8689a.mp4

I'm closing the issue for now but it can be reopened if there are further reports.

[2021-08-17 15:00] synora commented on #55383
Triaged. Can replicate.

[2021-08-17 15:04] synora commented on #55385
Triaged. Able to replicate on Simple sites. Works as expected on Atomic.

[2021-08-17 15:07] synora commented on #55429
Closing as this is fixed.
<img width="612" alt="Screen Shot on 2021-08-17 at 11-06-48" src="https://user-images.githubusercontent.com/10015451/129751663-abb9838a-c168-4e33-b7bc-b04ef214e90f.png">

[2021-08-17 15:07] #55429 closed, assigned to jordesign

[2021-08-17 15:11] zdenys commented on #55497
I actually reproduced it today once again during a Quick Start session with a customer. I can see you are trying under `All Themes` section, not the `Recommended` one.

I can reproduce 100% of the time.

- I use Chrome 92
- On AT site I navigate to Appearance > Themes (and by default, I am in the `Recommended` tab)
- I have Storefront theme active
- I click three-dots on theme Twenty Twenty and ca

[2021-08-17 15:20] saygunnyc commented on #55384
This would be a great start! Is there a way to track this?

This would be a great action number 02, **not forcing the action bar, esp. to new users**, and give them the opportunity to shape their sites however they want, and then the existing users can have the option to remove it or choose to use it consciously given they already have other widgets and blocks as well to pick from.

Removing is ne

[2021-08-17 15:33] synora commented on #55505
I'm able to replicate this from my end (both in and outside a Support Session in the user's account).

Screenshot of console errors:
<img width="1617" alt="Screen Shot on 2021-08-17 at 11-31-48" src="https://user-images.githubusercontent.com/10015451/129755872-3f83b39a-4db2-4109-9f63-5f51f3128cf7.png">

I'm using Chrome Version 92.0.4515.107 (Official Build) (x86_64).
My machine: MacOS BigSur v 11

[2021-08-17 15:41] sixhours commented on #54434
Looks like file size was added in Automattic/jetpack#18637 and modified slightly for WP.com in Automattic/jetpack#18690 -- so only a few months ago. We started showing file sizes in the media library in #49500.

I wonder if this addition wasn't tested with non-image file types, and if the zero bytes bug above is making this more obvious. 🤔

For that reason, I think the fix is to correct the logic

[2021-08-17 15:42] davipontesblog commented on #44940
Great! One idea that comes to mind is replacing that group of blocks with a "Post Carousel block": https://wordpress.com/support/wordpress-editor/blocks/posts-carousel-block/
Which would make it for a more dynamic take on this design. The theme would need to register a featured post once activated though in terms of demo content, which may be complicated to implement.

[2021-08-17 15:55] synora commented on #55497
Wow! Thanks for the updated steps. I can replicate this exactly when Storefront is active on my AT site. I can't replicate this with Perennial or Twenty-Twenty as active themes though. Keeping the issue open.

[2021-08-17 15:59] davipontesblog commented on #52013
Changing priority to High as there is no workaround for this.

[2021-08-17 16:08] nicolynramos commented on #51730
4226071-zd

[2021-08-17 16:37] DjamWork commented on #55344
Seems like another issue reported in #4215164

[2021-08-17 16:41] kwight commented on #42973
We're not likely to get to this for the Subscriptions pod, but I've kept it on our board in case we do. 👍

[2021-08-17 16:50] kwight commented on #49255
This was fixed at some point; the default "Subscribe" text is now shown correctly in the post preview and the front-end once published.

[2021-08-17 16:50] #49255 closed, assigned to nobody

[2021-08-17 17:30] RealCarFax commented on #55344
Another report of this issue here: #31171597-hc
Moved it to a ticket here so we can follow up: #4228897-zd

[2021-08-17 17:32] tellisbethel commented on #53953
User just reported this in 30139159-hc. (Using Classic Block on Safari 14.1 on Mac OS X 10.15.7.)

Switching to Chrome alleviated the issue for now. I also suggested they clear their cache (which they preferred not to do initially) and turn off cross-site tracking just in case, but I'm not sure they gave these options a try.

[2021-08-17 18:18] tbradsha commented on #35026
It seems to be there for me, both in "Popular languages" and "Asia-Pacific":
![image](https://user-images.githubusercontent.com/32492176/129779290-e2573be9-262d-44d2-8a95-bcd8a7bd40e9.png)

[2021-08-17 18:28] allilevine commented on #36321
I've opened a patch to make the UI changes for Simple sites here: D65448-code

[2021-08-17 18:53] twstokes opened #55563 "Account closure: Disable autocorrect for account name"
### Steps to reproduce the behavior

1. Go to [wordpress.com/me](https://wordpress.com/me)
2. Click on Account Settings
3. Scroll down to and click "Close your account permanently"
4. Click Close account
5. Click Continue on the "Are you sure?" dialog
6. Type account name in the "Confirm account closure" dialog

#### What I expected to happen

No autocomplete / autocorrect suggestions from browser

[2021-08-17 20:00] kwight commented on #55540
Edit: In fact, there are _plenty_ of templates needing a refresh – see this [Figma](crtNho9opJSnM80QsE275F-fi-2%3A51).

<img width="1990" alt="Screen Shot 2021-08-17 at 12 59 43 PM" src="https://user-images.githubusercontent.com/349751/129792327-346b042f-c4ee-4f5f-9b4b-675c3836e424.png">

[2021-08-17 20:03] coreymckrill commented on #55540
Sorry if this isn't the right spot for this, but I'd love to see the way the daily and weekly digests are rendered get an overhaul too. Right now they are just a group of single new post email templates stacked together, so you get the site header and the unsubscribe / "powered by WordPress" stuff repeated for each post. Not only is that a lot of extra clutter, but it means the email tends to get

[2021-08-17 20:03] sixhours commented on #54434
I may have found a solution based on some MGS searching: p9zhOE-iF-p2#comment-2281

We don't store attachment metadata on upload so it doesn't exist for non-image files. However, we could make an HTTP call to the file and check the content headers for that information if we don't have the metadata stored:

`$filesize = wp_remote_head( wp_get_attachment_url( $media_id ) )['headers']['content-length

[2021-08-17 20:04] kwight commented on #55540
@saygunnyc Do you see yourself wanting to re-use some P2 templates, or going from scratch? I see some value in the former, but don't want to limit us if they're not appropriate or helpful.

[2021-08-17 20:09] saygunnyc commented on #55540
Same page with you. I'd say TBD at the moment. You likely won't be surprised to hear but there are also many different email templates we use across WordPress.com. – [these](pbvYe0-hS-p2#comment-590) being the latest. So worth taking the time to look at what's good/what's not good in others with the goal of driving towards some kind of parity.

[2021-08-17 20:11] saygunnyc commented on #55540
@coreymckrill would you feel comfortable with adding screenshots of those emails within the Figma file @kwight shared above? You can just dump them in or feel free to share them here, and I can add them over to the document.

[2021-08-17 20:18] chiape commented on #55344
A similar issue was reported on #4216194-zn

[2021-08-17 20:37] coreymckrill commented on #55540
Sure, here's a screen shot of the transition between posts that have been aggregated into a weekly digest (from the WordPress.org [Team Updates](https://make.wordpress.org/updates/) site). Will this work?

![weekly-digest](https://user-images.githubusercontent.com/916023/129796389-bd8e53e4-7aa3-4968-930d-2d0b2b73c045.jpg)

The modern P2 templates still do the same thing:

![p2-weekly-digest](https

[2021-08-17 21:31] kwight commented on #40354
D65614-code adds the site host value as a search parameter to the redirect URL, loading the Manage page with just the visited site in the results.

[2021-08-17 21:58] saygunnyc commented on #55540
Looking at exact emails and posts,
1 - https://make.wordpress.org/updates/2021/08/17/plugin-review-team-update-16-aug-2021/
2- https://make.wordpress.org/updates/2021/08/17/themes-team-update-august-17-2021/

These actually are posts and new post email templates–_not a combination of multiple posts_, so if WordPress.org is technically a blog under dotcom, I believe you can expect these emails to a

[2021-08-17 22:37] coreymckrill commented on #55540
I would guess that the only structural difference between Daily and Weekly digests is the subject line. Other than that they are both just aggregated single posts.

[2021-08-17 22:38] fullofcaffeine commented on #55285
RC1 caused an issue with Phab/arc that required us to mark `build/components/index.js` as binary in `svn` as a workaround. More details in this thread: p1628806905156300-slack-C7YPUHBB2.

[2021-08-18 01:02] gwensmithx opened #55565 "Cover Block Does Not Go Full Width on Storefront Theme"
### Steps to Reproduce

Using Storefront theme, a full width cover block using a full width page does not go full width.

1. Activate Storefront theme
2. Create a New page and select the full width template
3. Add a cover block and add an image - make the image full width.
4. You will notice the image does not go full width. Instead it goes to the left and there's a large space to the right
5. If

[2021-08-18 02:50] roo2 commented on #44658
I first thought to use `hide_like_button` because it would default to false. When it comes to deployment, `widgets.wordpress.com` will be deployed first as part of D65521-code, when this is deployed but https://github.com/Automattic/jetpack/pull/20722 has not yet been deployed, no value will be passed to the front end. Therefore `hide_like_button` will be `false` which is the same as current behav

[2021-08-18 03:11] autumnfjeld opened #55566 "Editor settings sidebar: Featured image missing grey placeholder box"
## The same issue reported in gutenberg https://github.com/WordPress/gutenberg/issues/30904

We should probably try to implement a core first solution (in which case we could close this ticket and work on the GB issue).  [Ian's suggestion](https://github.com/WordPress/gutenberg/issues/30904#issuecomment-839033426) is a nice one, though quite wordy to put all that text in the sidebar.  What about a

[2021-08-18 03:23] Greatdane commented on #35026
Yes, this ended up being unrelated! (Jetpack reconnect fixed things)

[2021-08-18 04:25] p-jackson commented on #55362
Linking to the writing prompts is cool 😎 We don't know whether the user getting this notification is a "blogger" or not, so writing a post might not be the first thing they want to do (or at all). But given it's one of a few options in this notification I think it's an improvement over directing users to the customiser.

[2021-08-18 04:28] arthur791004 commented on #51899
@nickpagz Yeah, I agreed with you. I think the original design is that you need to highlight the text before clicking on the **Press This** button as the description said. Maybe we should update the description to ensure people understand that they have to highlight the text before **Press This**. Or we should assume the user wants to highlight all of the pages without highlighting everything. @si

[2021-08-18 05:48] inaikem commented on #55344
@yansern, @sixhours, would it be possible for one of your pods to give this one a quick review?

We're up to 10 reports over the past 7 days and I've just added this into our "[Needs reply](https://github.com/Automattic/wp-calypso/projects/112)" project. Thanks!

cc/ @Robertght

[2021-08-18 07:14] zdenys commented on #51556
I've been seeing several reports from users confused about how to empty the cart. 4219885-zd-woothemes

[2021-08-18 07:55] rocky-III commented on #48111
I have this problem as well with a lot of external audio files

https://tomraftery.com/2005/11/02/wordpress-podcasts-not-showing-up-fixed/

[2021-08-18 08:00] arthur791004 commented on #43814
@ash1eygrace We have fixed this issue!

[2021-08-18 09:23] martynmjones opened #55568 "WooCommerce product reviews not appearing on the comments screen"
### Steps to reproduce the behavior

1. A site that includes WooCommerce
2. Leave a review for a product
3. Visit "Comments" in Calpyso
4. Notice the product reviews don't show up

#### What I expected to happen

Product reviews are saved as comments and I would expect them to appear on this screen. The user who reported this says that previously reviews did show up here.

#### What actually happe

[2021-08-18 09:30] daria2303 commented on #50560
another report 4230136-zd-woothemes
"error connecting to WordPress, try again later"

[2021-08-18 10:15] mmtr opened #55569 "Atomic Downgrade: Ask for feedback during plan cancellation/removal dialog in one single step"
In order to provide users the ability to cancel/remove a plan from an Atomic site without HE intervention, we need to add some extra steps to the current plan cancellation/removal dialog (e.g. loss content warning https://github.com/Automattic/wp-calypso/issues/55239, or backup download https://github.com/Automattic/wp-calypso/issues/55240).

However, that could lead to a very long dialog with man

[2021-08-18 10:34] mmtr opened #55570 "Atomic Downgrade: Inform Business plan features during cancellation/removal"
When a customer starts the process to cancel/remove a **Business plan** from their Atomic site, we need to inform them that they will lose access to plan features like being able to run custom plugins and themes that will impact their site. This allows them to both retain their data, and to decide whether or not they want to continue having access to advanced hosting features.

**Links**
- Figma f

[2021-08-18 10:55] mmtr opened #55573 "Atomic Downgrade: Allow users to delete Atomic sites"
Let's provide customers the ability to delete their Atomic sites without HE intervention. To that end, once users are able to cancel/remove plans from Atomic sites (https://github.com/Automattic/wp-calypso/issues/55194), we should remove the restrictions that are currently in place in "Settings > General > Delete your site immediately".

Additionally, we could also add an extra option to the rever

[2021-08-18 11:46] Robertght commented on #12821
This is still happening.

[2021-08-18 11:55] cpapazoglou opened #55574 "Marketplace: Create a WPCOM API serving the wpcom extensions offered to the Marketplace."
**Tasklist**

- [x] Return all results
- [x] Return results filtered by a term
- [x] Return item by id or slug
- [x] Tests
- [x] #57318

**Acceptance Criteria**

- [x] The results schema should be the same as .org results for consistency
- [x] We will use a static json file for storing plugin details
- [x] The endpoint might be used in a logged out landing page, it should be publicly available
- [

[2021-08-18 11:58] cpapazoglou opened #55575 "Marketplace: Purchase & Install paid plugin Flow"
First Exploration
- [x] Add a static UPS Shipping method button in `/marketplace/test` and complete the purchase flow in an ecommerce site. The plugin should get installed / activated (as it is already a managed plugin).

Acceptance Criteria
- [x] In a site that already has WooCommerce installed, I can buy extensions. Buying an extension also installs / activates it in my site.
- [x] In a site wit

[2021-08-18 12:15] cpapazoglou opened #55576 "Marketplace: New Plugins List page v0.5"
**Tasks**
- [x] We need to make sure that both Atomic & Simple sites can reach the plugins Calypso page. 746-gh-Automattic/wpcomsh
- [x] #57067
- [x] #57100
- [x] #57101

Final designs: oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A46946

[2021-08-18 12:15] cpapazoglou opened #55577 "Marketplace: New Plugin Details page"
Final designs: oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A46946

- [x] New Layout (wider, 2 columns)
- [x] Header with summary
- [x] CTA Actions (Install)
- [x] Description (includes plugin cover image) / FAQ's
- [x] Secondary Info
- [ ] Make sure that author link redirects to our plugin search results showing plugins of that author eg for yoast `https://api.wordpress.org/plugins/info/1.2/?action=query_plug

[2021-08-18 12:18] cpapazoglou commented on #55157
I have created a [milestone](https://github.com/Automattic/wp-calypso/milestone/361) containing the open issues.

I am closing this.

[2021-08-18 12:18] #55157 closed, assigned to nobody

[2021-08-18 12:27] kdevnel opened #55579 "Jetpack Carousel: Conflict with other swiper carousels"
### Steps to Reproduce

It appears that if other plugins are using the swiper carousel that Jetpack is conflicting with it. This seems related to the following PR - #20268

It seems that in the case I came across, the CSS for the carousel arrows is still applied to a slider added by the Colibri page builder. This leads to doubling of arrows in some cases.

### What I expected to happen

Jetpack ca

[2021-08-18 13:20] rinazrina opened #55580 "Audio block: uploading audio file directly to posts/pages doesn't work"
### Steps to Reproduce

1. Open an existing post or page editor
2. Add an Audio Block
3. Click Upload and select an audio file (such as .mp3 file) from local drive
4. Update the post/page to save the changes
5. Check if the audio file is working

### What I expected to happen

The audio file is uploaded and the play button is working

### What actually happened

The audio file is not uploaded and

[2021-08-18 13:53] kdevnel opened #55582 "WooCommerce 5.6.0: default pages installed and activated after update"
### Steps to Reproduce

1. Start with Woo below 5.6.0
2. Delete one or more of the default store pages
3. Update Woo to 5.6.0
4. Allow some time for DB updates etc.

### What I expected to happen

I only expected the new Refund and Returns Policy page to be installed as a draft (it was) but none of the other pages to be impacted.

I would expect that we may create those other pages as drafts, but

[2021-08-18 13:59] sixhours commented on #55344
I'm doing a quick dive into this to gauge the scope of the issue; will add my notes here.

Confirmed this only happens with this version of the Instagram widget; the other ones connect/embed as expected:

<img width="384" alt="Screen Shot 2021-08-18 at 9 57 59 AM" src="https://user-images.githubusercontent.com/2124984/129911651-5802bb6a-bae5-4342-b1f9-2017b360bf15.png">

[2021-08-18 14:04] danmaze opened #55583 "Feature Request: Add best visitors ever to WordPress.com stats insights page"
### What

A user would like a best visitors ever item added to the stats insights page under the section titled "All-time posts, comments, views, and visitors."

### Why

The user requested this feature in 4229655-zen. I'm not sure this is a feature that's particularly useful and I wonder why they'd like to have that additional information on the stats page. I'll be following up with that question

[2021-08-18 14:20] tjcafferkey opened #55584 "Marketplace: Add a Calypso feature flag for Marketplace V1 work"
### What

Add a feature flag in the Calypso repository for Marketplace V1 work going forward

### Why

So we can safely start implementing features behind this flag ensuring they are not user facing.

### How

_No response_

[2021-08-18 14:22] tjcafferkey opened #55585 "Marketplace: Remove Plugin page redirect to WP Admin on Atomic"
### What

Remove the redirect that happens on Atomic when you visit the Plugins page in Calypso only when the feature flag is active

### Why

We will need the Calypso Plugins page accessible by Atomic users for the Marketplace V1 as this is where users are going to be purchasing WPCOM plugins from.

### How

_No response_

[2021-08-18 14:24] tjcafferkey opened #55586 "Marketplace: Add UPS Shipping to Marketplace test view"
### What

Add UPS Shipping extension to Calypso to consume so we can test the purchase flow

### Why

Whilst the marketplace endpoints are still in development we need to mock the UPS Shipping (which exists in the product_store) extension data to test the flow with a real plugin.

### How

_No response_

[2021-08-18 14:25] razvanpapadopol opened #55587 "Welcome tour: top buttons are not always visible on mobile"
### Steps to reproduce the behavior

1. Open the website on a mobile browser. I've checked this with Chrome browser.
2. Open WordPress.com > My Sites > Pages > Add New Page (and select blank layout) or a Post.
3. Click on the three dots on top-right corner and open **Welcome guide**.
4. You'll see the welcome guide is shown with the following behavior:
  * the top buttons are showing up briefly on

[2021-08-18 14:27] kwight commented on #55362
Right – the nice thing about redirecting to My Home is that it will present whatever's appropriate.

[2021-08-18 14:27] tjcafferkey opened #55588 "Marketplace: Research - Modify WooCommerce_Host_Service class to provision licenses"
### What

Modify WooCommerce_Host_Service class to provision licenses for Woo extensions when they are purchased on subscription

### Why

We need a way to manage licenses for Woo extensions and this is the most appropriate place for it 2a04c-pb/

### How

We may need assistance from the Alphamattic team for this.

[2021-08-18 14:29] tjcafferkey commented on #55577
Blocked until designs are finalised

[2021-08-18 14:31] kwight commented on #55540
I think so – my error message would imply it's all part of the same system. 🙃

<img width="328" alt="Screen Shot 2021-08-18 at 7 24 07 AM" src="https://user-images.githubusercontent.com/349751/129917006-f0ea6c6a-fd76-4f9c-9d91-3b546882e2b9.png">

[2021-08-18 14:32] sixhours commented on #55344
So this is happening because `window.wpWidgets` is `undefined`, so the widget fails to save because it has nothing to save to:

https://github.com/Automattic/jetpack/blob/ba2dd6c30be137baad96aafb2466d0aed7e182e5/projects/plugins/jetpack/modules/widgets/class-jetpack-instagram-widget.php#L476-L479

I suspect we need to figure out how to access`window.wpWidgets` from within the block editor. Instagr

[2021-08-18 14:38] tjcafferkey commented on #55574
D65426-code

[2021-08-18 14:39] kwight opened #55590 "Subscriptions: Pending tab missing when subs are pending on the Subscription Management page."
The Subscription Management page (subscribe.wordpress.com) should display a Pending tab when subs are, well, pending. I've tried subscribing to WordPress.org's Team Updates, and got the error that I have too many subs pending (https://make.wordpress.org/updates/?subscribe=many_pending_subs#blog_subscription-2) – but I have no Pending tab showing for my user.

| Form | Management |
| --- | --- |
|

[2021-08-18 14:39] kwight commented on #55590
@andres-blanco Do I have this right? I've never actually seen the Pending tab myself. 🙃

[2021-08-18 14:47] sixhours commented on #55344
Confirmed the widget works as expected when I disable the widget block editor. That's another workaround for folks on the Business plan who want to install the Classic Widgets plugin: https://wordpress.org/plugins/classic-widgets/

<img width="288" alt="Screen Shot 2021-08-18 at 10 46 39 AM" src="https://user-images.githubusercontent.com/2124984/129919713-39f9a63b-77d2-486a-8385-e88cb2d93320.png">

[2021-08-18 15:23] sixhours commented on #55344
Ahh, I just realized those blocks are only available for Premium plans. 😕 That's a bummer, because now we have two widgets that do essentially the same thing, but one is behind a paywall, and one is not (but is broken).

I'm trying to see if there's a hacky way to include the widgets.js base from core in the Instagram widget so it has access to that store when the Instagram widget is active.

[2021-08-18 15:53] cpapazoglou commented on #55584
We already have a feature flag https://github.com/Automattic/wp-calypso/pull/55156

[2021-08-18 16:04] daria2303 opened #55591 "Edin theme: images in checkout page display very small and not consistent"
### Steps to Reproduce

1. Add product to the cart
2. Proceed to checkout
3. See the image https://snipboard.io/nWQHxO.jpg it is very small
4. Not reacting to CSS, seems limited by table

### What I expected to happen

Image is bigger, resonable size, all images are the same size in checkout page.

### What actually happened

Images are very small and have different sizes
https://snipboard.io/nWQH

[2021-08-18 16:38] sixhours commented on #55344
I need to step away from this; it looks like it's on Create's backlog, but a summary of what I've found:

* This is caused by using this widget in the block editor
* There are workarounds for Business customers (install [Classic Blocks plugin](https://wordpress.org/plugins/classic-widgets/)) and Premium customers (use the newer block widgets instead)
* The widget is trying to save to `wpWidgets` i

[2021-08-18 17:19] sajmes commented on #55344
Likely similar issue here: 31196600-hc. User requests to be notified when this is resolved.

[2021-08-18 17:22] jeyip commented on #54459
We're seeing some oddities with block-specific global styles on atomic + simple sites. More context [here](https://github.com/Automattic/themes/issues/4435).

[2021-08-18 17:44] csonnek commented on #55344
Noting another report in the forums: https://wordpress.com/forums/topic/instagram-widget-201/

[2021-08-18 18:51] amustaque97 commented on #55587
Hi, I will be working on it. Perhaps by tomorrow, I will raise a PR addressing this issue fix.

Thank You

[2021-08-18 19:23] kwight commented on #55540
@saygunnyc For prioritization, I'd say "Confirm Follow", "Follow Confirmation", and "New Post" would be the top three – this covers the most common user flow. "New Comment" and "New Like" would probably be the close 4 and 5 (I don't think there's any reason we can't get all five of these done this pod).

[2021-08-18 19:30] sixhours commented on #38807
<img width="1127" alt="Screen Shot 2021-08-18 at 3 13 55 PM" src="https://user-images.githubusercontent.com/2124984/129958206-db2a680b-bb2a-4982-a238-0dec6947cb60.png">

I removed my Business plan without downgrading from Atomic, and it looks like I'm unable to select the Premium or Personal plans to upgrade, only Business or eCommerce. I'll explore and see if there are other potential avenues for

[2021-08-18 19:41] kwight commented on #55540
After those, I'd say the three site owner-specific ones (leaving the non-existant Contributed Post Approval out of scope), then the invites, then the digests. So, in a more readable list:

* New Post
* Confirm Follow
* Follow Confirmation
* New Comment
* New Like
* New Email Follower
* New WordPress.com Follower
* Comment Moderation Request
* Invited as Follower
* Accepted Follow Invite
* Invited

[2021-08-18 19:45] cuemarie commented on #52209
Another issue, simple site: 31168527-hc / 4231915-zen
Chrome, editing in Calypso. Working on detailed browser info and helping them download a different browser to try for now.

[2021-08-18 19:58] jp-imagines commented on #55580
Probably another report in 31183964-hc (also on Chrome 92).

[2021-08-18 20:12] sixhours commented on #38807
Any time I'm redirected to the WP.com Plans screen, I'm not able to upgrade to anything other than Business or eCommerce, so that's good. I see all the plans, but my only options with "Upgrade" buttons are Business or eCommerce.

We might consider hiding the plans the user is ineligible for, or adding messaging to that effect, but I think the core bug here is fixed.

@AtrumGeost It looks like this

[2021-08-18 20:18] sixhours commented on #38807
Found an upsell that leads me to checkout, where sometimes it shows the Business plan in the cart, and other times it shows a compatibility error:

<img width="1376" alt="Screen Shot 2021-08-18 at 4 14 11 PM" src="https://user-images.githubusercontent.com/2124984/129965970-193c1003-a367-404f-872c-931db61aed9b.png">

Errors:
<img width="1665" alt="Screen Shot 2021-08-18 at 4 16 19 PM" src="https://

[2021-08-18 20:29] sixhours opened #55596 "Theme Showcase: Upsell nudge sometimes errors for non-Business Atomic"
<img width="1376" alt="Screen Shot 2021-08-18 at 4 14 11 PM" src="https://user-images.githubusercontent.com/2124984/129965970-193c1003-a367-404f-872c-931db61aed9b.png">

**To reproduce:**

* Switch to a site with no Business plan, but still on Atomic (*.wpcomstaging.com URL)
* Go to `/themes`
* Note the upsell above the Showcase and click on it
* You'll be brought to checkout, where hopefully you

[2021-08-18 20:45] sirbrillig commented on #55596
Nice find. FWIW that error is returned by the shopping-cart endpoint when you a customer tries to add a Jetpack product to their cart, the purchase is not a logged-out Jetpack purchase, and their site is not allowed to have Jetpack products (a site that's allowed to have jetpack products is defined as a Jetpack site that's not an Atomic site).

So, just as you said, this fails because that URL is

[2021-08-18 20:52] sixhours opened #55597 "Media Library: Sometimes files don't have a file size stored in metadata"
This is a follow-up "nice to have" based on a bug reported in #54434 where non-image file types like PDF were 0.00 B file size.

Based on my research, we don't always store attachment metadata on upload, so the file size doesn't exist in metadata for doc files. This also happens for some video uploads on Atomic sites as per #55343

We could make an HTTP call to the file and check the content heade

[2021-08-18 21:06] sixhours commented on #55102
Good to note this is only happening for Atomic sites. On a Simple site, I'm not able to upload a HEIC file regardless of how I go about doing so; I tried a few ways in the editor with the Image block, both selecting a file and dragging and dropping:

https://user-images.githubusercontent.com/2124984/129971862-60716c20-163c-41d5-a394-323fa47c9db9.mov

[2021-08-18 21:11] chad1008 opened #55598 "Gutenberg: v11.4.x plugin upgrade"
Previous upgrade:  #55285
Release notes: [v11.4.1](https://github.com/WordPress/gutenberg/releases/tag/v11.4.1)

- [x] Install and activate
   - [x] Copy & install 11.4.0-rc.1 (D65925-code, D65927-code)
   - [x] Activate 11.4.0-rc.1 on edge (D65931-code)
   - [x] Copy & install 11.4.0 (D66190-code, D66225-code)
   - [x] Activate 11.4.0 on edge (D66226-code)
   - **Skipped:** Activate 11.4.0 on pro

[2021-08-18 21:16] KirkwallDay commented on #55335
This is triaged so closing 4204718-Zen for now, they will need a new follow-up ticket to notify them once this is resolved.

[2021-08-18 21:24] kwight commented on #21536
D65679-code is a work-in-progress.

[2021-08-18 21:29] chad1008 commented on #55285
This is done! Next update will take place in #55598

[2021-08-18 21:29] #55285 closed, assigned to nobody

[2021-08-18 21:30] kwight commented on #55590
Hunh, and now it works fine. Not sure if I did something with a different email? ¯\_(ツ)_/¯ Closing.

[2021-08-18 21:30] #55590 closed, assigned to nobody

[2021-08-18 21:43] autumnfjeld opened #55599 "View post should open post url in a tab"
## Description
After user clicks to publish a post from the editor, then sees the "publish sidebar" , clicking "View post" should open in a new tab.  The UI with the "View post" button is shown in the image below.

### Current behavior
Clicking "View post" opens the post in the same tab. The problem with this is that the context of being in WordPress is poor: There's no way to go back unless you u

[2021-08-18 21:44] KirkwallDay commented on #55283
This is triaged, so closing 4226506-zen for now, please create a follow-up ticket to notify them when it is resolved.

[2021-08-18 21:46] kathrynwp commented on #55132
Ran into this in 31163404-hc (Atomic site)

[2021-08-18 21:49] saygunnyc commented on #55540
Sharing some initial explorations for the prioritized Confirm Email template along with some thoughts on what might be customized –once we have that project kicked off thinking it would be helpful to align on day 1 and future customizations while deciding on the default template.  _“Where do those settings be for customizing” is not a part of this._

**Existing Email**
<img width="668" alt="Existi

[2021-08-18 22:00] kathrynwp commented on #55132
Please follow-up with above user in 4232170-zen when fixed. In the meantime, they can use the Customizer as a workaround, where the bug isn't present.

[2021-08-18 22:07] worldomonation opened #55600 "Playwright: Investigate a subset of tests for everyday commits"
### Details

There has been extensive discussion on pMz3w-dAG-p2 related to test isolation and how best to achieve this goal.

One notable factor oft mentioned is that of signup and site creation numbers, where e2e tests are creating a non-trivial number of users and sites.

To reduce the impact of e2e testing on production database, look into the following checklist.

### Checklist

- [ ] Is it f

[2021-08-18 22:29] mxhassani opened #55601 "Woo block Product Categories List not differentiating between Level3 and Level4 category in Hierarchy view"
### Steps to Reproduce

1. Create 4 WooCommerce product categories, each one nested under the previous one created, like follows:
 	- Level 1
		- Level 2
			- Level 3
				- Level 4
2. Add a product to the last category
3. To a page, add the block Product Categories List
4. Under the block settings > List settings > Display style, pick "Dropdown"
5. Again under the block settings > Content, switch

[2021-08-18 22:48] jeyip commented on #54459
## Status Update

- We hotfixed global styles on atomic sites earlier this week. Most user customized global styles should be loading properly now. The core fix is still awaiting feedback.
- Grant has a PR in progress to
- We're investigating block-specific global styling problems alongside the themes team for the button block, cover block, and site title block. These, to me, seem like relatively

[2021-08-18 23:50] jerrysarcastic commented on #55437
Also reported in https://wordpress.com/forums/topic/cant-find-a-widget-2/

I noted that in the Customizer the widget is not visible so settings cannot be edited for example (the use wanted to update the block to show a different video) even though it is visible in the sidebar.

As a workaround the user was able to edit the YouTube block as normal by visiting the widgets page in wp-admin using `htt

[2021-08-18 23:54] jerrysarcastic commented on #53609
Also noting this is very familiar to this issue in the Gutenberg project:  https://github.com/WordPress/gutenberg/issues/33712

[2021-08-19 00:54] synora commented on #55132
I've also added this issue to the "User Waiting" board to remind us to reply to the user.

[2021-08-19 00:59] synora commented on #55468
Is this still happening for the user? I tested this and here's what I'm seeing within the editor:

<img width="810" alt="Screen Shot on 2021-08-18 at 20-57-43" src="https://user-images.githubusercontent.com/10015451/129991029-0308c1e0-fd6c-40e1-b006-49948ddcce66.png">

And on the published post:
<img width="1055" alt="Screen Shot on 2021-08-18 at 20-57-51" src="https://user-images.githubuserconten

[2021-08-19 01:08] annbingle commented on #51706
hc-31202113

[2021-08-19 01:18] donalirl commented on #53609
A possibly related case of this in #31086630-hc

[2021-08-19 01:24] synora commented on #55389
Triaged and tested this and it does appear for English sites.
I've mentioned this issue at p1629336152061400-slack-archives

[2021-08-19 01:38] roo2 commented on #55365
One thing that customizer-direct-manipulation was responsible for, was applying the `customizer_direct_manipulation_steps` filter that `wpcom's customizer-extra-guides.php` (2a061-pb) uses to add custom help guides to the customizer. ( currently we have custom code for connecting social media and adding menus ).

I think that probably it's ok if those custom guides aren't shown for a while but we

[2021-08-19 01:52] synora commented on #55580
Triaged. I can replicate this, however, it works as expected when I:
1. Go back into the editor
2. Toggle on and then off the Autoplay and Loop audio settings of the Audio Block.
3. Update the page/post

What @rinazrina expects to happen is what I expect as well.

[2021-08-19 02:19] nickpagz commented on #51899
@arthur791004 I think an update to the messaging would be better. Tbh, clicking the Press This button without first highlighting text as a way to copy the entire page content is poor form, IMO, and akin to copying content, even if there's a referral link (which the user may be able to remove before publishing anyways?). Just my 2 cents.

[2021-08-19 04:10] roo2 commented on #55365
Actually it looks like the default customizer guide is broken too, let's work out how to get it working again.

[2021-08-19 04:14] autumnfjeld commented on #55365
@yansern  What about exploring WHY that plugin was causing the problem?  The removal of the plugin means the customizer guides are gone.

[2021-08-19 06:02] autumnfjeld opened #55603 "Hero Flow: Write & Build intent screen"
# Hero Flow v1:  Write & Build intent screen
## This is [iteration #2](pdgK6S-78-p2#write-build-intent-screen) in  production of Hero Flow v1.  👏

![image](https://user-images.githubusercontent.com/5665959/133527358-1ac8f422-35ed-4d2a-ba89-26414f205bde.png)
**Write Flow:**
Finish Signup -> Intent Screen -> Click Write -> Land in editor with default blogger theme

**Build Flow:**
Finish Signup -> I

[2021-08-19 06:54] autumnfjeld opened #55604 "Tech Foundations: Add the design picker in the onboarding flow"
# Blogger Experience Pod: tech foundations for the blogger onboarding flow

### Details

In preparation for the blogger onboarding flow we want to prototype a flow that includes the design picker. This work will focus on flows and  mechanics, not design.  From Ollie: Would be good to get the devs to try inject this into the flow. I haven't got a FINAL design for how categories will look, but that

[2021-08-19 07:16] klavdijas commented on #54434
The problem with Videopress File Size 0.00 B on AT sites #55343 occurs after the domain change, before Videopress File Size was correct. Videopress file size that were uploaded prior to domain change still show correct file size.

[2021-08-19 07:32] tjcafferkey commented on #55584
@cpapazoglou thanks! for our work we will proceed with `marketplace-test` feature flag and close this issue then :)

[2021-08-19 07:32] #55584 closed, assigned to tjcafferkey

[2021-08-19 07:40] retnonindya commented on #52347
I just want to inform that there's a user report: 4232022-zen

[2021-08-19 07:55] Greatdane opened #55605 "[Simple Business Plan Only] Tags link exists under Pages"
### Steps to Reproduce

1. Start at My Sites
2. Go to Pages
3. Go to Tags

This loads a wp-admin version of the Tags page,

![menu](https://d.pr/i/Aw76uk+)
*Image link: https://d.pr/i/Aw76uk*

### What I expected to happen

The tag page currently exists under My Site → Posts → Tags for **ALL** plans.

### What actually happened

Tags should not exist under the Pages sidebar menu

### Context

Test

[2021-08-19 08:38] Greatdane commented on #55605
There has been an ongoing discussion on if this is caused by certain themes, such as the Prosperity theme (themes that allow pages to become featured content).

However, I tried various themes on simple/atomic Business sites and nothing seemed to change.

slack-p1629357981052400

[2021-08-19 08:59] kosiew commented on #55582
Hi @kdevnel ,

Thanks for reporting this and the detailed steps.

Closing this to https://github.com/woocommerce/woocommerce/issues/30532

[2021-08-19 08:59] #55582 closed, assigned to nobody

[2021-08-19 12:13] inaikem commented on #55463
This is all quite new to me. I pulled together the various chats we've been having across GH and Slack into this thread.

I'd like us to put this on hold for the moment while I get some consensus on our next steps: pcLjiI-i3-p2

[2021-08-19 12:13] inaikem commented on #55464
I pulled together the various chats we've been having across GH and Slack into this thread.

I'd like us to put this on hold for the moment while I get some consensus on our next steps: pcLjiI-i3-p2

[2021-08-19 12:31] AtrumGeost commented on #55468
Hi @synora !

Thanks for checking. This is still happening on my test site:

pb330S-mO-p2

[2021-08-19 12:56] Nic-Sevic commented on #11116
another case here: 29988221-hc

[2021-08-19 13:02] simison opened #55608 "Help FAB contact form; search input visually broken"
### Steps to reproduce the behavior

1. Open help FAB and click "contact us"
    <img width="336" alt="image" src="https://user-images.githubusercontent.com/87168/130072816-fb0e9914-453f-4c11-9c34-b5ff28e3cc57.png">

2. Click site name to change to another site, note how search input falls down

    <img width="353" alt="Screenshot 2021-08-19 at 16 00 08" src="https://user-images.githubusercontent

[2021-08-19 13:05] davipontesblog commented on #47926
@belcherj , @sandymcfadden does https://github.com/Automattic/wp-calypso/pull/55562 address this feature request?

[2021-08-19 13:11] DanAntion commented on #51787
I think you should read this post - at least the beginning. This is a woman who has followed me for a long time. She is an avid supporter and participant in a blog challenge I manage. As you will read, she was dropped from following me and several other blogs.

https://manjameximexcessive6.wordpress.com/2021/08/19/thursday-doors-19-8-21-betnava-maribor/

I'm not sure you understand or appreciate t

[2021-08-19 13:13] BogdanUngureanu commented on #55555
@mmtr @dsas I've created D65705-code that contains the existing endpoint refactor and the new endpoint for /cancel subscription.

[2021-08-19 13:57] thabotswana commented on #55283
Another report - 4233594-zen

[2021-08-19 14:13] aleone89 commented on #50126
Another report in the forums here. https://wordpress.com/forums/topic/error-cropping-image-2/

Zooming in and out of the browser makes the cropping tool appear.

[2021-08-19 14:16] sandymcfadden commented on #47926
Hey @davipontesblog that PR does address a lot of this. People will be able to log in with both Google and Apple social logins now. Magic link logins still won't work however.

In https://github.com/Automattic/wp-calypso/pull/55212 we updated that magic link flow as well giving instructions on how to set a password on the web and use it to log in instead, while it doesn't resolve the issue it does

[2021-08-19 14:35] #53436 closed, assigned to sixhours

[2021-08-19 14:43] sixhours commented on #55596
That's very likely, since the logic for upsells is scattered all over the place. 🙃

[2021-08-19 14:45] sixhours commented on #38807
I'm going to close this as fixed! Please feel free to reopen if you run into a situation where someone was able to purchase a Premium or Personal plan from a non-Business Atomic site *after* April 9, 2021. Thanks!

[2021-08-19 14:45] #38807 closed

[2021-08-19 14:52] #54434 closed, assigned to sixhours

[2021-08-19 14:56] sixhours commented on #54434
Gotcha. I suspect at the root of it, the issue is the same -- at some point along the way, we fail to record the `filesize` to metadata on upload. I opened #55597 to follow up, investigating why we don't always store the filesize metadata for uploaded media.

[2021-08-19 14:57] kwight commented on #51787
We actively working on it @DanAntion , our apologies for the frustration!

[2021-08-19 15:02] kwight commented on #55540
These look fantastic @saygunnyc , thank you! I notice your buttons are square, compared to the pill style of P2; is that intentional, or a problem one way or the other? We're happy implementing whatever you think is best. 👍

I think the first step would be to have a slot for custom text in the New Post template (in addition to existing template content) – any other customizations in other template

[2021-08-19 15:24] StefanNieuwenhuis opened #55610 "Welcome Tour: Tour stays in front of the menu on smaller screens"
### Steps to reproduce the behavior

1. Open a browser and switch to a mobile viewport
2. Go to the Editor.
3. Open/Activate the Welcome Tour
4. Click on a menu item
5. The menu opens **behind** the Tour.

#### What I expected to happen
When the Welcome Tour is open, and you click on a menu item, the Tour should be minimized.

#### What actually happened
When the Welcome Tour is open, and you clic

[2021-08-19 15:35] davipontesblog commented on #47926
Awesome! I will close this issue then and just create a new one for the Magic link portion by itself, to improve focus here.

[2021-08-19 15:35] #47926 closed

[2021-08-19 15:44] sixhours commented on #55102
Confirmed I'm only able to upload an HEIC by dragging and dropping into Image blocks (Image, Image Compare, Media & Text, Gallery, etc.) on an Atomic site, not via the Media Library. That seems to indicate this is a core issue with the editor not performing checks on the file type before uploading via drag-and-drop into blocks.

Confirmed this is happening on a non-Atomic WP install with my person

[2021-08-19 15:45] davipontesblog opened #55611 "Feature Request: Desktop app doesn't support the magic link by email login"
### What

Users are requesting to be able to use the email magic link option on Login on the desktop apps

### Why

It's consistent with our login options on the browser versions of our application.

### How

Related: https://github.com/Automattic/wp-calypso/issues/47926

User reports:
- 24955718-hc

[2021-08-19 15:46] davipontesblog commented on #47926
New issue here: https://github.com/Automattic/wp-calypso/issues/55611

[2021-08-19 16:09] KirkwallDay commented on #55283
Closing 4196951-zen for now, please create a follow-up ticket to notify them when this issue is resolved.

[2021-08-19 16:10] michaeldcain commented on #51556
@zdenys: we made it easier to empty the cart in #52850 (as the video in the ticket shows). This issue is related to exiting the cart. Can you give more context as to why the users are having an issue emptying their carts? The trash icon is now always shown and quite evident. We could make it a text link, but I'm inclined to think that it'd be more likely to be missed.

[2021-08-19 16:30] sixhours commented on #55102
It looks like we add HEIC file types to the restricted list for simple sites, which is what prompts this error no matter how you try to upload them:

<img width="795" alt="Screen Shot 2021-08-19 at 11 53 57 AM" src="https://user-images.githubusercontent.com/2124984/130101414-b23998dd-be97-4f32-a305-ca53ddfbb301.png">

I confirmed this by adding this restriction to one of my Atomic sites with the M

[2021-08-19 16:54] #47516 closed

[2021-08-19 17:15] sixhours commented on #55102
Reported the editor issue here: https://github.com/WordPress/gutenberg/issues/34181

[2021-08-19 17:27] sirbrillig commented on #47159
Still probably an issue

[2021-08-19 18:13] CodeAllNightNDay commented on #55344
Similar issue here: 11239374-hc
Same exact behavior as on 4212151-zen

Simple Site with Premium plan on Olsen theme.

[2021-08-19 19:35] andres-blanco commented on #51787
Most of the users experiencing the issue seems to come through an endpoint that I've only managed to hit by using the Follow widget: ![image](https://user-images.githubusercontent.com/375980/130132407-bef4af44-f122-4742-af79-173031c3c21e.png). The endpoint is: `https://public-api.wordpress.com/rest/v1/sites/YOUR_SITE/follows/[new|delete]`

I will keep investigating to see if we can find a solid en

[2021-08-19 19:49] DanAntion commented on #51787
That would make sense, as I think that's the follow widget that initiates a
link with the Reader. Many of these users complain that they can't find my
posts in the Reader.

People have been trying to unfollow my blog and re-follow it. That seems to
work, initially, but then they get dropped again. Some have never lost
contact. Some have been dropped more than a couple dozen times since this
starte

[2021-08-19 19:54] thisissandip opened #55613 "Block Widgets: Author Grid widget block runs into an unexpected error"
### Steps to reproduce the behavior

1. Go to Appearance > Widgets
2. Select a Widget Area
3. Add Author Grid Widget Block
4. See error: `The editor has encountered an unexpected error.`

#### What I expected to happen

The Author Grid Widget Block should appear in the widget area.

#### What actually happened

Author Grid widget runs into an unexpected error

### Context

#### Browser / OS versio

[2021-08-19 20:04] worldomonation commented on #53732
No longer relevant due to shift away from inheritance.

[2021-08-19 20:04] #53732 closed, assigned to nobody

[2021-08-19 20:04] worldomonation commented on #53601
No longer relevant due to shift away from inheritance.

[2021-08-19 20:04] #53601 closed, assigned to nobody

[2021-08-19 20:04] #54769 closed, assigned to nobody

[2021-08-19 20:52] kwight commented on #40354
D65614-code has been merged.

[2021-08-19 20:52] #40354 closed

[2021-08-19 21:03] mreishus commented on #55389
some discussion in p2 comments here p7DVsv-cqD-p2#comment-37128

[2021-08-19 21:11] sixhours commented on #55102
We might be able to extend the media uploader on Atomic sites with a small plugin using the `editor.MediaUploader` hook and checking the MIME type before uploading with `onFilesPreUpload`; this silently filters out anything with a `image/heic` file type, for example:

[code]

[2021-08-19 21:17] hacchism commented on #55344
Another report from 4227590-zen

[2021-08-19 21:20] worldomonation commented on #53955
It looks like Playwright 1.14 has resolved the crash, see #55617.

[2021-08-19 21:30] jordesign opened #55618 "Feature Request: Investigate re-enabling 'Discover' in the reader on web"
### What

Bring back 'Discover' section to the Reader

### Why

This will help with the BloggerExperience pod's efforts to increase community engagement with bloggers. It looks like Discover is currently disabled as the site feed it references is no longer being updated.

### How

See if we can being 'Discover' on the web app into parity with what is shown currently in the mobile app.

[2021-08-19 21:34] jordesign commented on #55618
Just doing some quick logistical digging - we _could_ refer to a different Blog Id to get the feed in

/client/reader/discover/controller.js (ln 16).

And the 'Discover' can be re-enabled in the sidebar in

/client/reader/discover/helper.js (ln 22).

![image (1)](https://user-images.githubusercontent.com/1842363/130147330-b99e6142-eaaa-4116-9b94-e4a50be27b20.png)

[2021-08-19 21:45] kwight opened #55619 "Action Bar: Icons are misaligned when the bar is collapsed."
The Action Bar can be collapsed into a more compact, icons-only rendering. However, when in this state, the icons are misaligned.

<img width="348" alt="Screen Shot 2021-08-19 at 2 44 04 PM" src="https://user-images.githubusercontent.com/349751/130148485-2d75baee-91bc-49f0-b794-bdcf04af121e.png">

[2021-08-19 21:55] ccwalburn commented on #36197
Another request here 28989540-hc

[2021-08-19 21:55] allilevine commented on #36321
@jordesign The patch was accepted 🎉 what timeline should we follow for giving Happiness a heads up, launching, and updating the docs?

[2021-08-19 23:20] klavdijas commented on #55597
The problem with VideoPress file showing 0.00 B file size is that video on an atomic site is not working - it shows only picture (thumbnail of video) with no play button to start video.

[2021-08-19 23:35] jordesign commented on #36321
Thanks @allilevine  - I'll post a heads up to Happiness today - then we can could roll it out on Monday?

[2021-08-20 03:26] deBhal opened #55625 "Consider Upgrades"
A future concern is Woo upgrades. I _think_ we just need a clear plan here along with a clearly responsible party.

![WooCommerce_settings_‹_Jules_Aus_Test_eCommerce_—_WordPress](https://user-images.githubusercontent.com/5952255/130175158-176c6493-26c8-4c7f-84dd-6d8b6e4af9b6.jpg)

As an example picked at random, this upgrade updates all the subscription data for a woo site:
https://github.com/wp-p

[2021-08-20 03:41] alaczek commented on #55084
I don't know if it would make sense to tackle this tbh. This is how this works across all our themes, so would we make this change in this single case?

I have a feeling it might - the idea is that by serving other potentially interesting pieces of content you can keep a visitor on your site longer.

[2021-08-20 04:46] p-jackson commented on #51834
Heads up, this was not XS 😞
The masterbar touches a lot more areas than I realised. We have nav-unification to deal with, and Jetpack sites (not on wpcom) can also be using the masterbar.

[2021-08-20 05:47] klavdijas commented on #55597
But this VideoPress file showing 0.00 B can be played and viewed in editor, where the information about the video are displayed.

[2021-08-20 05:51] klavdijas commented on #55597
Pdf, jpg, png files on this site were not affected and are working fine.

[2021-08-20 06:14] mzitinfo commented on #55344
Hi, I've had this exact issue with the Instagram widget for a few months now on my test sites, so I don't think it's due to the implementation of block widgets. Related interactions were in 3977474-zen and 4023101-zen.

[2021-08-20 06:50] jeherve commented on #55463
It's worth noting that issue forms are still in Beta, so this may be added in later.

I've created this issue to pass on that feedback to the GitHub team:
https://github.com/github/feedback/discussions/5210

Until then, I would recommend relying on GitHub actions to automatically add labels to a project board based on the content of the issue (and thus the content you've added to the issue form).

[2021-08-20 08:25] retnonindya commented on #55084
Thank you for sharing your insights, folks! And yes, this falls on non-urgent request, even if this would go to `wontfix` situation, I am personally okay with it. I'd figure this can be a huge thing to tackle, just for this one theme.

This is a good insight! For SEO-conscious folks, knowing Related Posts can help to improve their website interactions is a good thing!

Again, I really appreciate y

[2021-08-20 08:31] #43814 closed

[2021-08-20 09:03] arthur791004 commented on #55357
After investigating, the problem is because of `is-type-rich`.

Our blocks have following styles
[code]
See: https://github.com/Automattic/themes/blob/b22e12b419835a8f286a30228a22a703386df738/photos/blocks.css#L42

However, we use `translateOEmbedApiRequest` to translated oEmbed requests to standard embed requests on the **SIMPLE SITES**. But it doesn't return any type and fallback to default 'ric

[2021-08-20 09:04] retnonindya opened #55626 "Ovation: "Like" text on comment section stays in dark color despite the background color"
### Steps to Reproduce

1. On AT site, activate theme Ovation
2. Edit the colors and background on Customize. Choose dark-colored background
2. Check comments on blog posts (if there is no comment, try add one.)
3. Notice the 'Like' text on the comment in dark color (screenshot below)

<img width="656" alt="Screenshot 2021-08-20 at 4 58 18 PM" src="https://user-images.githubusercontent.com/4472623

[2021-08-20 09:27] zdenys commented on #51556
I cannot tell for sure. Could it be that the message banner about the presence of purchases in the cart is not actionable enough to them? It is clear enough to me though since it has the link `View your cart`.

![image](https://user-images.githubusercontent.com/39308239/130210858-b987ac1e-bc3e-4c3d-83a4-1925a44d3f2f.png)

Could it be that that banner is not displayed on all screens in Calypso and

[2021-08-20 09:31] liviopv opened #55627 "Purpose: Subscription Form Block submit button is misaligned with the email input field"
### Steps to Reproduce

1. Apply the Purpose theme to the site
2. Add a Subscription Block

### What I expected to happen

The Submit Button should be correctly aligned with the input field, either displaying on the same line, or below it.

### What actually happened

The Submit button displays with a weird alignment.

![Markup on 2021-08-20 at 10:20:16](https://user-images.githubusercontent.com/1

[2021-08-20 09:57] edwinho89 opened #55628 ""The editor has encountered an unexpected error." when Featured Image Panel is open"
### Steps to Reproduce

1. Create a new post, or open any existing posts
2. Expand "Featured Image" panel
3. See error

### What I expected to happen

Featured image panel open without any issue

### What actually happened

Editor crashed with "The editor has encountered an unexpected error."

https://user-images.githubusercontent.com/34882260/130215287-6fcf61cd-dfc5-4d7a-af9b-106d523e1ea7.mp4

##

[2021-08-20 10:04] liviopv commented on #55627
Possibly related:
https://github.com/Automattic/wp-calypso/issues/52309
https://github.com/Automattic/jetpack/issues/19563

[2021-08-20 10:35] dsas commented on #55462
See D65781-code for diff

[2021-08-20 12:31] zdenys commented on #53233
31228642-hc We had to manually export demo from a theme demo and import it into their AT site. Not very efficient.

[2021-08-20 14:11] dsas commented on #50881
This is happening because there are scheduled posts in the simple DB. These are copied across to the atomic db and the scheduled posts published (and any notifications sent) on atomic when the posts reach their publication date. When the site is reverted back to simple infra, the simple db is activated again with it's pre-atomic content, and so if the scheduled posts are now in the past they will

[2021-08-20 14:18] sixhours commented on #55102
Core's media library treats HEIC uploads like this:
<img width="659" alt="Screen Shot 2021-08-19 at 12 46 49 PM" src="https://user-images.githubusercontent.com/2124984/130247273-7ad16c45-6187-4bae-9956-a001dc14ed88.png">

You can still upload them, but a warning is shown noting that they're not viewable in the browser.

[2021-08-20 15:06] ClassicRKR27 commented on #51787
It seems that this is another report of it, though the user wants to unsubscribe from their own blog. The audit trail shows that they keep getting resubscribed: 4227985-zd-woothemes

[2021-08-20 15:12] andres-blanco opened #55632 "Subscriptions: Detected unsubscriptions with blog_id 0"
In the effort of trying to find out what causes the behavior described in this issue https://github.com/Automattic/wp-calypso/issues/51787 additional logging was added to the `wpcom_subs_unsubscribe` function D65365-code and D65595-code.  @mreishus found that  several records appeared that where trying to unsubscribe from `blog_id == 0` .

There are two ways to end up in this state inside the file

[2021-08-20 15:41] dpasque commented on #55580
Tagging @Automattic/flow-patrol-create based on issue content, but also adding Manage tag because it's media related.

[2021-08-20 15:46] dpasque commented on #55512
Putting in front of Blogger Experience in case this seems like something that could be related to that work. If not, let me know and I can move this around!

[2021-08-20 15:49] dpasque commented on #55505
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-20 15:53] dpasque commented on #55403
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-20 16:04] yansern commented on #55505
For that particular site, the post/page ID 18 is causing out of memory errors. Something to do with a paragraph block if I'm not mistaken.
<img width="1344" alt="2021-08-20_17-59-42" src="https://user-images.githubusercontent.com/1287077/130261630-e2b38121-aacb-4e73-80e5-56c0c1edd854.png">

[2021-08-20 16:24] StefanNieuwenhuis opened #55634 "Editor Welcome Tour: Enhance keyboard navigation via arrow keys and Esc"
### What
We want to make the Welcome Tour more accessible by allowing navigation via left/right keyboard keys and minimizing via Esc. We are improving navigation via tab and space/enter keys in a separate issue. This is in addition.

### Why

Navigating the tour contents feels cumbersome and can be enhanced by allowing navigation via arrow keys and closing/minimizing via Esc.

### How

A few detai

[2021-08-20 16:27] StefanNieuwenhuis opened #55635 "Editor Welcome Tour: Focus on the first element when the tour is opened"
### Why
The Welcome Tour currently does not receive focus when first opened (either via the sidebar or reloading a page with the tour opened). Ideally, the tour should receive the focus at least when loaded from the sidebar, so that keyboard navigation can be initiated immediately.

### What
Focus on the first element when the tour is first opened. Then, the user can initiate navigation (w/ keyboa

[2021-08-20 17:08] #45004 closed

[2021-08-20 17:36] ivan-ottinger commented on #55505
Turns out the content of the page with ID 34 is repeated over and over again (hundreds of times or so) which is likely resulting in those memory errors on other pages as well.

Not sure how this could have happened in the first place, but I believe that if we can somehow cut out the extra lines of content from the page with ID 34, all should be back to normal.

Maybe we could run some DB query, or

[2021-08-20 17:47] dpasque commented on #55468
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-20 17:59] dpasque commented on #55385
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-20 18:14] dpasque commented on #51610
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-20 19:06] cuemarie commented on #53102
4194815-zd-woothemes
Safari 14.1 on macOS
Custom domain registered with WP.Com

I have asked the user to try enabling cross-site cookies in Safari and switching their primary domain as potential workarounds.

[2021-08-20 19:26] dpasque opened #55639 "Playwright: Give each TeamCity agent its own user"
### Details

We continue to look into ways to mitigate data isolation issues in our E2E tests, as discussed in issue #54992.

One relatively low-effort and low-maintenance way to make a small improvement would be to give each TeamCity agent its own default user to use. This way, runs happening across multiple agents won't fight with each other.

### Checklist

Suggested approach
- [ ] Make 8 copie

[2021-08-20 19:28] dpasque commented on #54992
Option 1 has hit some snags re: clean-up and throttling - see discussion in pciE2j-qP-p2.

We will for the time being pursue a lightweight version of option 2, as tracked in issue #55639.

[2021-08-20 19:43] sixhours commented on #55559
Moved to 3589-gh-Automattic/p2

[2021-08-20 19:43] #55559 closed, assigned to nobody

[2021-08-20 20:08] worldomonation opened #55641 "Playwright: refactor how dummy test files are passed around in the system."
### Details

Currently, the test files are generated by methods within `MediaHelper`, and only the full path is returned to the caller.

As a result the caller (which may be a test script, `calypso-e2e` library file, or something else) needs to perform a series of possibly unreliable operations to extract the following:

- file extension
- file name
- base name

Refer to this diagram taken from th

[2021-08-20 20:10] razvanpapadopol commented on #45699
Feature Picker may continue to be used in post-site creation onboarding.
cc: @Automattic/ganon-bloggers

[2021-08-20 20:20] worldomonation opened #55642 "Playwright: finish migration of Editor: Media Upload spec"
### Details

This portion of the Editor: Media Upload spec (renamed `Blocks: Media Upload`) needs to be migrated:

[code]

Context: Selenium iteration of the test file used to add a block, upload a media file, then remove the block.
Playwright version of the test file adds a block, uploads a media file, publishes the post, then verifies whether blocks show as expected.

It may be useful to spin th

[2021-08-20 21:02] eduardozulian opened #55643 "Search for post/page/product title returns inconsistent results for words with accents"
Languages like Portuguese use a lot of accents. Search for post/page/product title returns Inconsistent results for words with accents.

This started as a product issue for the Woo app https://github.com/woocommerce/woocommerce-ios/issues/4801 but @koke quickly identified that this only happens on WP.com sites, both simple and Atomic.

Tested:

* On both Calypso and the WP Admin interface for WP.c

[2021-08-20 21:56] worldomonation commented on #55641
TypeScript interfaces and classes [stack overflow](https://stackoverflow.com/questions/40973074/difference-between-interfaces-and-classes-in-typescript)

[2021-08-20 23:54] supernovia commented on #55613
Noting another case here:
https://wordpress.com/forums/topic/author-grid-error/

Thanks @thisissandip for filing this!

[2021-08-21 07:01] hacchism commented on #53626
Another case on #4237346-zen
Simple site

[2021-08-21 09:06] ideabusiness commented on #54154
I get the same error message

[2021-08-21 09:50] kspilarski commented on #55344
Same case as 4238135-zen.

[2021-08-21 17:52] dcoleonline commented on #55344
4236596-zen

[2021-08-22 09:08] kspilarski opened #55645 "WP-admin Users Customer shipping address Name not updating"
### Steps to reproduce the behavior

1. Go to 'wp-admin'
2. Click on 'Users'
3. Look at a User's Name
4. Under the username, click Edit
5. Scroll down to  Customer shipping address and change First Name and Last Name, then save.
6. Go back to Users > All Users

#### What I expected to happen

The new first name and last name set will be displayed under Name in Users > All Users.

#### What actuall

[2021-08-22 09:26] #19024 closed

[2021-08-22 15:34] synora commented on #53626
Simple site report at #4238213-zen

[2021-08-22 16:58] KirkwallDay opened #55646 "Having more then one "<" character in a row on post title causes Twitter to discard text in publiscize."
### Steps to Reproduce

1. Create a new post, title it something like "Test < Test 1 << test 2 <<< test 3"
2. Publish this post and use publicize to post to twitter. Make sure the tweet box is the same as the title.
3. The tweet in the resulting post will show "Test < Test 1" and that's it. The post will still embed properly.
Screenshots:
The Tweet Text:
![Screen Shot on 2021-08-22 at 10-57-05](ht

[2021-08-22 17:43] mrfoxtalbot opened #55647 "Page List block inside Vertical Navigation block shows horizontally"
### Steps to Reproduce

1. Insert a Vertical Navigation Block.
2. Select the "Display All pages" option.
3. Check the way pages are listed (it will be horizontal).

### What I expected to happen

I would expect menu items to be listed vertically.

### What actually happened

They were listed horizontally. This seems to be coming from the fact that that "Page List Block" is being used there.

![Scr

[2021-08-22 20:10] sourourn opened #55648 "Blog posts block: posts belonging to more than one category won't appear twice"
### Steps to reproduce the behavior

1. Go to Posts and create a post
2. Allocate two categories to the post (eg: category 1 and category 2)
2. Open a page add two blog posts blocks. Select category 1 under the first blog posts block and category 2 under the second blog posts block. Let's say you want to display all posts under category 1 under one heading (block posts block for category 1) and th

[2021-08-22 21:56] p-jackson commented on #50365
Fix will ship in Gutenberg 11.4

[2021-08-22 22:12] #46384 closed

[2021-08-23 00:21] #51834 closed, assigned to p-jackson

[2021-08-23 03:05] joweber123 commented on #44844
Another request to add a 'free' option to this block. 31138506-hc

They would like to allow users to see premium content if they sign up as a subscriber on the site but not charge any money for this.

[2021-08-23 03:48] #55486 closed, assigned to deBhal

[2021-08-23 03:48] #55543 closed, assigned to nobody

[2021-08-23 03:49] #55418 closed, assigned to lsl

[2021-08-23 04:08] inaikem commented on #48643
I was able to verify this bug still exists on my WPcom test sites.

[2021-08-23 05:18] arthur791004 commented on #51249
Actually, I found that some of the themes don't setup `word-break` for the div block and it uses the default value `normal` which generated some horizontal scroll or didn't show the entire text. On the other hand, some of the themes setup `word-break` in the parent block. For example, Independent Publisher 2 add `word-break: break-word;` to `entry-content` and heading tag `h1` inherits this attrib

[2021-08-23 06:05] Greatdane commented on #55365
By customizer guide, do we mean the little blue edit pencils? Because they are now missing for the widgets.

This is causing some confusion for users, especially non-advanced. I believe many users accessed the widgets by clicking the blue edit pencils, and some do not know how to edit widgets otherwise.
see: 4238136-zd-woothemes.

[2021-08-23 06:37] lsl commented on #55427
Not required for atomic only.

[2021-08-23 06:37] #55427 closed, assigned to nobody

[2021-08-23 06:42] lsl commented on #55417
Can skip this for now (atomic only)

[2021-08-23 06:42] #55417 closed, assigned to nobody

[2021-08-23 06:54] lsl commented on #55486
pdhcfv-2Z-p2

[2021-08-23 07:32] jsnajdr commented on #49237
This was fixed by adding an OAuth/Cookies toggle to dev mode to switch between authentication methods in #53402.

[2021-08-23 07:32] #49237 closed, assigned to jsnajdr

[2021-08-23 07:48] #55181 closed, assigned to scinos

[2021-08-23 07:59] Greatdane opened #55653 "[Block Widgets] Long text gives a '414 request-uri too large' error when loading classic editor"
### Steps to Reproduce

1. Load a simple site with classic widgets already active, or an Atomic site with the classic widget plugin
2. Add a text widget and enter lots of text (bug came with 205 lines of text)
3. Save the text widget
4. Disable classic widget plugin, and go back to My Site → Appearance → Customize → Widgets
5. The widget will now show '414 request-uri too large'

### What I expect

[2021-08-23 08:00] ivan-ottinger commented on #55505
I have created a new post draft with the selected content of the broken page (ID 34). By “selected content” I mean that I left out all the repeated content.

The draft can be found in `Posts → Drafts` and it has a title "Page draft".

The reason I created the page as a post is that the block editor isn’t working properly for the user.

We can ask the user to check if the new draft contains everyth

[2021-08-23 08:19] arthur791004 commented on #51249
I also found that it would make page broken and generate the horizontal scrollbar if the heading (not wrap in the cover) is multi-line text without spaces. Thus, I propose the changes on Gutenberg to fix this problem. See: https://github.com/Automattic/wp-calypso/issues/51249

[2021-08-23 08:37] Sandkorner commented on #51787
Not sure if that is exactly the same (4240614-Zen)
User is experiencing problems with subscribers subscribing and at the same time some of the subscribed ones are getting un-subscribed. Several have manually subscribed again.

[2021-08-23 08:42] Nic-Sevic commented on #50508
Another case here where the user wasn't seeing the option on the pages or posts screens with sso off - 4241854-zd-woothemes

[2021-08-23 09:23] #54614 closed, assigned to nobody

[2021-08-23 10:00] inaikem commented on #55384
I've asked both Flow Patrol pods to see if they're able to join the discussion here: p1629711376015500-slack-C029WGXE5T4.

[2021-08-23 11:42] tjcafferkey commented on #55585
There's no elegant or easy way to achieve this. We need to force Calypso within the `Atomic_Admin_Menu` class for `plugins.php` when a feature flag is enabled in Calypso. Jetpack has no way of knowing if this flag is enabled and AFAIK there's no convention for Atomic feature flags.

There are a number of ways we can do this for when we're in development mode (env variables etc) but we ideally need

[2021-08-23 13:09] Copons commented on #54820
Fixed by #55043

[2021-08-23 13:09] #54820 closed, assigned to blackjackkent

[2021-08-23 13:25] poligilad-auto commented on #51162
Hey @razvanpapadopol. I reached out to @onuro to get his opinion as he is part of the FSE pod and this is related to that.
He thinks we should add a W button to exit the editor, like in the desktop version. I agree this is a good solution and is consistent between platforms.

As to how it looks like. I think we have 2 options:
1. A slimmer version for mobile as we have less space in the top nav ba

[2021-08-23 13:36] #55345 closed, assigned to sixhours

[2021-08-23 13:40] robertbpugh commented on #5086
We did this idea! Although, it's not working as well as we'd hoped. If you have any ideas on how to improve, please let us know here: pbNhbs-19s-p2. Going to close this ticket.

[2021-08-23 13:40] #5086 closed

[2021-08-23 14:12] #55438 closed, assigned to flootr

[2021-08-23 15:17] sbathompson-he commented on #54678
This user reported this as well: 29125295-hc
As a fix, we set the disable block widgets sticker in the BlogRC. They are able to see the visibility now, however, even though the visibility is set correctly in the Customizer, it is still not correct on the site.

[2021-08-23 16:14] sajmes commented on #55344
Another report 31276528-hc

[2021-08-23 16:51] dsas commented on #55452
Site visibility can be done with the blog_public setting. `WPCOM_JSON_API_Site_Settings_V1_4_Endpoint` has a good description of the values, and is also an API endpoint for changing the setting if that's useful..

[2021-08-23 17:01] #53955 closed, assigned to nobody

[2021-08-23 17:08] worldomonation opened #55661 "Playwright: stand up task/infrastructure for WPCOM tests."
### Details

The next big target for Playwright would be for WPCOM tests.

Currently the `trunk` [branch](https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_desktop?branch=%3Cdefault%3E&buildTypeTab=overview&mode=builds) in WPCOM Tests/Gutenberg tests doesn't appear very active with a lot of permanent failures.

Generally, it looks to be in worse shape than calypso e2e tests

[2021-08-23 17:26] msilbers opened #55662 "Editor: Add Option to set default Preview behavior"
### What

A customer has requested an option to be able to choose if Previews open in a new tab or the same tab, though this is ultimately a simple/atomic parity issue.

### Why

Customers want to be able to Preview in a new tab, or choose how they Preview. While the option to choose would be great, getting both views with the same options would be an ideal first step.

### How

From wp-admin/clas

[2021-08-23 19:40] RealCarFax commented on #55505
I've just done this here: https://woothemes.zendesk.com/agent/tickets/4220624

[2021-08-23 20:31] allilevine commented on #36321
I've deployed the patch: r230650-wpcom
But I missed that it required a sync with Jetpack, so I'm keeping this issue open to resolve that. See https://github.com/Automattic/jetpack/pull/20800

[2021-08-23 21:14] jordesign commented on #54194
With more of these links to inline/modal docs being used now - I'm wondering if the Trail Markers pod ha bandwidth to pick this up?

[2021-08-23 22:18] saygunnyc commented on #55540
Thank you so much, @kwight!

Yes, that's intentional to have parity with the button styles we use over WordPress.com. And the color used here is Blue 50 for a similar reason.

As the next steps, I am planning on P2ing the first 3 templates this week. While also planning to move forward with the remainder list, I'm still finding myself a bit unsure about using standard font vs. "Recoleta" over the

[2021-08-24 01:20] katiebethbrown opened #55669 "Rowling: Block Widgets Break Theme Styling on Categories Block"
### Steps to Reproduce

When the change from Classic to Block widgets took place, category widgets were converted to a heading block and a categories block.

The heading block then loses the styling from the theme, which has to be added manually. There doesn't seem to be a way to code the theme's custom colors into the CSS either, so if they change colors in the customizer they will need to manual

[2021-08-24 01:31] roo2 commented on #51249
I wasn't able to reproduce this with twenty-twentyone or blank page theme on chrome with cover block or outside of it. Do we have more info about which themes this might affect?
<img width="766" alt="Screen Shot 2021-08-24 at 11 31 10 am" src="https://user-images.githubusercontent.com/22446385/130541017-6fc8b883-a951-4cc4-a517-b69d0155a685.png">

[2021-08-24 01:53] donalirl commented on #54194
Just want to point out a specific issue as well. Throughout the docs there are callout blocks to highlight pieces of information, such as this from [the Media doc:](https://wordpress.com/support/media/#delete-files-from-media)

![image](https://user-images.githubusercontent.com/30727666/130542868-f918630c-7f00-47a2-bce6-81cd8084eee8.png)

They don't appear great in the modal:

![image](https://use

[2021-08-24 02:16] jordesign commented on #55372
Template Parts can be edited/deleted/renamed directly from WP Admin - so I'm uncertain of the need to be able to do it from within the Site Editor.

@annezazu Is this something that is likely to differ between the Core implementation and what we do on WPCOM?

[2021-08-24 02:18] jordesign commented on #55374
Recreated and confirmed: It looks like changing the padding on elements in the Site Editor does *not* register as a change which allows saving.

[2021-08-24 02:21] lsl commented on #55545
pdgAPm-7-p2#comment-59

[2021-08-24 02:21] #55545 closed, assigned to nobody

[2021-08-24 02:23] inaikem commented on #55553
Please also see this internal thread started by @Nic-Sevic for further context: p7DVsv-cqD-p2#comment-37163.

[2021-08-24 02:29] inaikem commented on #55487
Nice idea for a new feature, although I'm not sure if it's better suited as a feature request for the Cover Block or Carousel Block!

[2021-08-24 02:35] jordesign commented on #55437
Testing this - it appears that the YouTube widget *is* in place but it doesn't show the preview of the player which makes it *hard* to select the block (but not impossible). If a caption is on the embed - you can see it in place in the Block Widget Editor.

<img width="295" alt="Screen Shot 2021-08-24 at 12 27 55 pm" src="https://user-images.githubusercontent.com/1842363/130546530-2c3b3183-dad5-4d

[2021-08-24 02:42] arthur791004 commented on #51249
@roo2 The problem only happens when you view the post. In editor mode, it works well.

[2021-08-24 02:43] cuemarie opened #55670 "Add Key Words to Chat Transcript Emails sent to Users"
### What

User requested a way to put keywords in the auto-emailed chat transcripts after chats

### Why

All the subjects of transcript emails look the same, which makes referring back to them more difficult for the user; this leads to them returning to chat to repeat the question or get help finding the answer.

### How

_No response_

[2021-08-24 02:46] inaikem commented on #55517
Hi Liz, thanks for submitting this feature request!

As the Services block is provided as part of the CoBlocks plugin on WordPress.com, I've gone ahead and raised an issue in that repo: https://github.com/godaddy-wordpress/coblocks/issues/2004. I'll be closing this request now.

As a quick note on process here in GitHub, please embed images _directly_, as opposed to linking via Droplr, Cloudup, et

[2021-08-24 02:46] #55517 closed, assigned to nobody

[2021-08-24 02:56] jordesign commented on #55437
I've opened a new issue in the Gutenberg repo to track this instead.
https://github.com/WordPress/gutenberg/issues/34252

[2021-08-24 03:01] jordesign commented on #55549
Not sure on the logistics of this - but it seems it would be a nice additional feature. 👍

[2021-08-24 03:02] inaikem commented on #55524
@kwight, just pinging to get on your radar. It'd be great to have us aligned with Google's updated spec above!

[2021-08-24 03:19] jordesign commented on #55605
I'm unable to recreate this *except* for when using a theme with Featured Content (like Prosperity).
@Greatdane are you still having this occur - and on more than one site?

[2021-08-24 03:24] inaikem commented on #55579
@kdevnel thanks for reporting this. I'm not sure the PR you mentioned above is related as it's from December 2017. Would you mind double checking that for me?

Also, if you have the screenshot you tried to add to the report, please drop it in as a comment. The upload looks to have failed 😞

[2021-08-24 03:24] jordesign commented on #55541
Shifting this over to the Gutenberg repo:
https://github.com/WordPress/gutenberg/issues/34253

[2021-08-24 03:24] #55541 closed, assigned to nobody

[2021-08-24 03:31] inaikem commented on #55579
Regarding the above, this should be the correct PR: https://github.com/Automattic/jetpack/pull/20268 (H/T @jordesign)

@jeherve, is this something you could take a look into? Please let me know if requests like this are better directed elsewhere if not! 🙏

[2021-08-24 03:43] p-jackson opened #55671 "Task: Add new tracks events to be used to create new blogger success metrics"
### Details

We want to develop blogger success metrics. There are existing tracks events that can help us develop these higher level success metrics, however there are some gaps.

This task is to add tracks events to plug those gaps.

Something that complicates this work is tracks events are associated with the user that carries out the action. But in the case of likes for instance, we want that

[2021-08-24 03:45] inaikem commented on #55601
Transferring to `woocommerce/woocommerce-gutenberg-products-block`

I was also able to reproduce on the following browsers (all macOS 11.3):

- Safari 14.1
- Firefox 90.0.2 + 91.0.1
- Chrome 92.0.4515.159

Safari screenshot:

![wc-blocks-dropbown-safari-14 1](https://user-images.githubusercontent.com/66711744/130552528-81d42ffc-bcd5-4cc1-9799-27e6061c0ec1.png)

[2021-08-24 03:57] inaikem commented on #55601
As a quick note on process here in GitHub, please embed images directly, as opposed to linking via Droplr, Cloudup, etc 🙏

(Internal thread for reference: pbg9X-fWF-p2)

[2021-08-24 03:57] #55601 closed, assigned to nobody

[2021-08-24 05:18] worldomonation opened #55673 "Playwright: Media (Edit) spec occasionally fails"
### Details

Spec occasionally fails due to the images in the gallery having been cleaned out (likely due to semi-regular cron job) which means the safest way to ensure the test doesn't flake out is to upload the image used in the test.

### Checklist

- [ ] upload image in the test
- [ ] Playwright mobile passes.
- [ ] Playwright desktop passes.

### Related

_No response_

[2021-08-24 05:46] #53926 closed, assigned to nobody

[2021-08-24 06:38] inaikem commented on #55627
Although this might be theme-related, I'm first transferring this to the Jetpack repo, where the Subscription Form Block is developed 🙏

[2021-08-24 06:57] inaikem commented on #55628
Thanks for reporting the issue, @edwinho89 🙏 I was unable to replicate:

- On my test site using content from the affected post on the user report above
- Directly on the customer site using the exact approach you demonstrated in your screenshot.
- Directly on the customer site with an existing post.

Looking at their activity log, they have had several plugin updates since the original report and

[2021-08-24 06:57] #55628 closed, assigned to nobody

[2021-08-24 08:03] donalirl commented on #54194
Another issue is buttons:

On the support site:
![image](https://user-images.githubusercontent.com/30727666/130580077-d424e1d9-73af-44fe-891c-de15d9742fa7.png)

In the modal:
![image](https://user-images.githubusercontent.com/30727666/130580120-e7c6a297-c488-4fad-8a03-a4779b46d9f4.png)

[2021-08-24 08:22] Greatdane commented on #55605
I think we can close this out. Perhaps it was a caching issue on the dashboard. The link is no longer there under Pages.

[2021-08-24 08:22] jeherve commented on #55579
We've done more work to address more potential conflicts with other plugins. The latest patch on this issue is https://github.com/Automattic/jetpack/pull/20599 , and it will ship with next major release of Jetpack, scheduled for September 7. I would consequently recommend waiting until then; the problem should then be solved.

[2021-08-24 08:22] #55579 closed, assigned to nobody

[2021-08-24 08:43] razvanpapadopol opened #55679 "Customizer: re-add user guiding"
### What
Let's add back the functionality to show Dotcom user guides in the Customizer. They were removed when fixing https://github.com/Automattic/wp-calypso/issues/55365

### Why
Our users need UI guidance on this screen.

### Context

see: 4238136-zd-woothemes.

_Originally posted by @Greatdane in https://github.com/Automattic/wp-calypso/issues/55365#issuecomment-903469480_

### Screenshots
- M

[2021-08-24 08:51] razvanpapadopol commented on #55679
A solution is currently WIP in D65828-code

[2021-08-24 08:52] #55605 closed, assigned to nobody

[2021-08-24 10:01] liviopv opened #55680 "Customizer > Colors & Backgrounds: individual colors options can't be selected when using a screen reader software"
### Steps to Reproduce

1. Select a theme that has color options available Customize > Colors & Backgrounds
2. Using a screen reader software (like Mac OS' Voice Over), navigate using Tab to My Sites > Appearance > Customize > Colors & Backgrounds
3. Navigate using Tab through the options in the screen
4. The individual color options (the circles) will not be found by the screen reader software

#

[2021-08-24 10:48] tellisbethel commented on #54990
I believe I've encountered a version of this bug here: 4233694-zd-woothemes
The only difference is that when selecting the text colour, the text changes to the wrong colour in the editor (instead of not changing at all), but then reflects the correct colour when previewing or on the live site.

[2021-08-24 11:23] jeherve opened #55682 "WordPress.com Block Editor: wp.editor.RichTextToolbarButton is deprecated"
The WordPress.com Block Editor pulls the `RichTextToolbarButton` element from `@wordpress/editor`:
https://github.com/Automattic/wp-calypso/blob/fb55dd173718474002a6204905974f2d9a669314/apps/wpcom-block-editor/src/default/features/rich-text.js#L5

However, that element should now be pulled from `@wordpress/block-editor` instead.

This consequently causes some `Deprecated wp.editor.RichTextToolbarB

[2021-08-24 11:27] Copons commented on #55081
Hi @alshakero, sorry for the delay, the notification fell through the cracks. 🙇‍♂️

I'm not quite sure how to solve this on Atomic, to be honest. Partly because I don't know almost anything about Publicize, and partly because I'm really bad at Atomic. 😬

The original fix was very straightforward though.
In REST context, just force support of the featured image (through the Core's [`rest_prepare_th

[2021-08-24 12:21] liviopv commented on #55437
Also reported on 31277089-hc.
Loading the Block Widgets editor from `/wp-admin/widgets.php` shows the Youtube Blocks correctly.

I'm seeing this error in the console, which seems to be related:

`customize.php:1
Refused to execute script from 'https://artists.youtube.com/' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.`

I updated the core issue as

[2021-08-24 12:29] chriskmnds commented on #55679
We can close this as it's been addressed by reverting D65402-code in D65686-code.

[2021-08-24 12:29] #55679 closed, assigned to yansern, chriskmnds

[2021-08-24 12:36] chriskmnds commented on #55365
Reopened as reintroduced by reverting D65402-code in D65686-code.

[2021-08-24 12:47] Robertght commented on #52728
Another case in 4238984-zen

[2021-08-24 12:56] andres-blanco commented on #51787
Based on the collected logs I drafted a potential fix for this issue that is now deployed. I will keep an eye on the logs to see if it mitigates the issue.

D65844-code
pdgv5Y-aG-p2

[2021-08-24 13:35] leogermani commented on #48129
Keeping this issue alive

[2021-08-24 13:36] DanAntion commented on #51787
Thank you!

I hope it works.

Dan
------
Daniel Antion
***@***.***

On Tue, Aug 24, 2021 at 8:56 AM Andrés Blanco ***@***.***>
wrote:

[2021-08-24 13:45] zdenys opened #55683 "Legacy Widgets: displaying in Customizer, but not displaying on frontend if nested within another Block"
### Steps to Reproduce

1. Add a [Facebook Page Widget](https://wordpress.com/support/facebook-integration/#facebook-page-widget) (or any other legacy widget) as a block widget
2. Save changes
3. See the widget in the Customizer preview
4. Visit the site frontend in a separate tab and see the widget there too
5. Back in the widget area, select the block widget added previously and click the Transf

[2021-08-24 13:57] dpasque commented on #55524
Putting on the Manage pod queue to start to help give it some visibility - we can move it around as needed!

[2021-08-24 14:01] Nic-Sevic opened #55685 "AT: Gutenberg plugin causing `The editor has encountered an unexpected error`"
### Steps to Reproduce

I'm not really sure how to lay out steps for this. We've have at least 2 cases where users are having the editor crash when trying to edit any post or page. Both have tried clearing cache, different browsers, and creating new pages all with the same result. HEs have not been able to duplicate the results but it happens for the users consistently.

One 4216726-zd-woothemes r

[2021-08-24 14:11] zdenys commented on #55683
Additionally tested with [Follow Blog Widget](https://wordpress.com/support/widgets/follow-blog-widget/) and [Twitter Timeline Widget](https://wordpress.com/support/widgets/twitter-timeline-widget/) and can confirm the issue is happening for them too.

https://user-images.githubusercontent.com/39308239/130632031-eae74878-c401-4b09-87c6-10b5007edfb8.mov

[2021-08-24 14:21] Nic-Sevic commented on #55553
To add more context: It looks like when users have many widgets or widgets that end up displaying very long they are not loading properly in the customizer. The load time is very slow and when you try to scroll through it becomes very hard to see where one widget ends and another begins. Without being able to switch to the wp-admin page it's very hard to find or edit specific widgets

I noticed th

[2021-08-24 15:09] macmanx2 commented on #44575
commenting to keep this open, still would be good to have

[2021-08-24 15:09] macmanx2 commented on #45446
commenting to keep this open, still would be good to have

[2021-08-24 16:18] edwinho89 commented on #55628
Hi @inaikem - Interesting! Looks like the only custom plugin updated from 4 days ago was Yoast, and I'm pretty sure it was failing back then (hence, the video)

Will keep an eye out if anything arises, thank you for taking your time! :)

[2021-08-24 16:49] annezazu commented on #55372
I do not see a reason for why this would differ but would have to check with WPCOM product folks. For now, I do want to note one outstanding issue related to the name change properly propagating (that's the only issue I've found related to this): https://github.com/WordPress/gutenberg/issues/29844

[2021-08-24 18:14] JoshuaGoode commented on #53027
Related internal discussions:

pKdGS-1Ow-p2
p7DVsv-6DY-p2

Example: p1629823693259100-slack-C03TY6J1A

---

Adding for searchability:

Some users request an option to redirect a secondary domain or subdomain to a specific URL.  Often, this will be a subdomain that they want to redirect to a specific URL on their primary domain.

**Example:**
User would like to redirect/forward `subdomain.example.t

[2021-08-24 18:46] allilevine opened #55690 "Quick Switch: Remove modal announcement"
### Steps to reproduce the behavior

- Go to a Calypso screen that has the Screen Options component rendered on it
- See the Quick Switch announcement modal:

<img width="833" alt="Screen Shot 2021-07-22 at 15 03 00" src="https://user-images.githubusercontent.com/1233880/126643568-526bc176-df9c-4a99-8b46-43518c3abc7a.png">

#### What I expected to happen

No modal should appear, as per p1629828083

[2021-08-24 20:32] #51260 closed, assigned to sixhours

[2021-08-24 20:37] #55673 closed, assigned to worldomonation

[2021-08-24 20:49] ahmadbaig1 commented on #55344
Report 4242292-zen

[2021-08-24 21:34] worldomonation opened #55694 "Playwright: clean up configuration files"
### Details

There are a lot of things in the configuration files that are duplicates, unused, or inconsistent.

eg. see the following example:

[code]

In the default configuration for the suite, there are also lots of the above:

[code]

Standardize the format and schema for various items, so that it is predictable.

### Checklist

_No response_

### Related

_No response_

[2021-08-24 21:39] worldomonation opened #55695 "Playwright: create test to iterate through all sidebar menu and submenu items"
### Details

This idea arose in p1629759153112200-slack-C01QG4Y91RR, after #54987 was merged into trunk.

Such a test could serve multiple purposes:

1. check that all pages accessible from the sidebar are loading and indeed accessible.
2. serve as verification of any future `SidebarComponent` changes.

If the purpose was for 2. alone, a better solution is to implement a Jest unit test for the `ca

[2021-08-24 21:59] JoshuaGoode opened #55696 "Widgets: Legacy Video Widget Embeds conflict with Mailchimp block"
Pages with the Mailchimp block prevent legacy video widget embeds from loading.

### Steps to Reproduce

Start with a Simple site.

You will need a site that previously added a YouTube embed via the legacy Video widget.

Or, you will need to deactivate the widget block editor to add a legacy Video widget.

1.  Create a page with a connected Mailchimp block.
2. Ensure a legacy Video widget is in pl

[2021-08-24 22:07] Jaccuse commented on #50740
Another report here: 31300702-hc
Same user as in @kuropixel's comment above https://github.com/Automattic/wp-calypso/issues/50740#issuecomment-893180751

[2021-08-24 23:01] worldomonation opened #55699 "Gutenboarding: acquire intent placeholder text is not localized to Spanish"
### Steps to Reproduce

1. start at https://wordpress.com/new
2. click the language switcher at top right.
3. select Español.

### What I expected to happen

Placeholder text for the site title (acquire intent) is localized to Spanish.

### What actually happened

Placeholder text remains in English.

### Context

Playwright automated e2e testing.

### Operating System

Windows, macOS, Linux

###

[2021-08-25 00:57] andrewserong commented on #46952
I believe this one was resolved by @ramonjd's PR: https://github.com/Automattic/wp-calypso/pull/54636 which switched the dotcom patterns to be fetched using the user locale, for consistency with patterns sourced from the .org patterns directory. I'll close this issue out now, but feel free to re-open if it's still an issue / anyone wants to pick it up and investigate further.

[2021-08-25 00:57] #46952 closed

[2021-08-25 02:52] retnonindya commented on #55685
I _think_ I got the same reports too.

Both sites are AT, and both have Gutenberg plugin active. Unfortunately:
- One is unresponsive, #31303779-hc and...
- Another one left the chat (I asked them to clear browser cache), #24261600-hc

... So I can't confirm with them.

I deactivated Gutenberg and I'm going to check with them again.

[2021-08-25 03:05] lsl opened #55702 "Conditionally enable woop code in wc-calypso-bridge"
Update: See https://github.com/Automattic/wp-calypso/issues/55738 for pre-reqs.

- [x] In wc-calypso-bridge, add a persistent data lookup to check whether to enable woop code. If you can, define a constant, if its already defined, error. per p1629948821008900/1629875515.411900-slack-C7YPW6K40

----

Background:

p1629786333131000-slack-C029UPVMGTW - We discussed feature flagging woop code in wc-ca

[2021-08-25 04:10] roo2 commented on #55357
I put some logging in to confirm what's going on

It looks like for the _independent publisher 2_ theme, `current_theme_supports( 'jetpack-responsive-videos' )` is returning true which causes `jetpack_responsive_videos_embed_html` to be called which ultimately wraps the video in a `'<div class="jetpack-video-wrapper">'` block. This doesn't happen for the working "_blank canvas_" theme.

I saw that

[2021-08-25 05:49] Robertght commented on #55683
Thank you for reporting this @zdenys ! I can confirm this is an issue on the Simple sites although I wasn't able to replicate this  on a self-hosted site.

@Automattic/quality-squad is this something you can take a closer look at? Thanks!

[2021-08-25 05:52] Robertght commented on #55646
I think this is Publicize territory. @jeherve is that true?

[2021-08-25 06:00] Robertght commented on #55647
I could reproduce this as well and I can see there's a [PR](https://github.com/WordPress/gutenberg/pull/34226) already submitted for it. I suppose we have to wait until the change gets implemented into the core.

[2021-08-25 06:08] Robertght commented on #55653
I can't replicate this on a self-hosted website, but I noticed there's a similar error message here(although the context is different):

https://github.com/WordPress/gutenberg/issues/12226

[2021-08-25 06:21] Robertght commented on #55662
Thank you for flagging this @msilbers! I think this would be a really quick win.

@Automattic/ajax is this something you can handle in the near future?

[2021-08-25 06:40] Robertght commented on #55669
Thank you for flagging this @katiebethbrown !

I'm not able to replicate this using the legacy widgets option and when trying to switch between the legacy/block widgets, I don't see any changes.

I'm flagging this here(p2-p7DVsv-cqD#comment-37381) for discussion as I'm not entirely sure it's theme-specific.

[2021-08-25 07:07] jeherve commented on #55646
Yup. It would be interesting to know if this happens with other social networks as well, so we can now if the title is stripped on Twitter's end, or on WordPress.com before it gets sent to all Social Networks.

[2021-08-25 07:21] Robertght commented on #55685
Thank you both for flagging this. I added this for Flow Patrol Manage for now.

[2021-08-25 07:31] lsl commented on #55702
This needs more definition, likely want something generic in MC other pods can use.

[2021-08-25 08:27] #49466 closed, assigned to yansern

[2021-08-25 09:34] arthur791004 commented on #55357
@roo2

Great point! The `jetpack-responsive-video` will get the width from parent and apply to iframe. But the independent publisher 2 sets the width to `jetpack-video-wrapper` to `1100px` at [here](https://github.com/Automattic/independent-publisher-2-wc/blob/ba17aa477e5f7b51613daa39ff42fc2ae27fbccc/style.css#L3270) and causes the height of iframe overflow the content because the height depends o

[2021-08-25 09:38] jsnajdr commented on #23785
This has been solved over the last few years by consistently marking which pages are intended for logged-out users and redirecting all other pages to login page.

[2021-08-25 09:38] #23785 closed

[2021-08-25 10:23] zdenys commented on #55648
Seems to be a duplicate of https://github.com/Automattic/newspack-blocks/issues/675 that hasn't gotten any attention so far 😞

[2021-08-25 11:02] roo2 commented on #55357
@arthur791004

Ahh so that's what's happening!

I think we need to change the way that independent publisher increases the size of the video to a way that is compatible with the `jetpack-responsive-videos` script. If we could get the `margin-left: -180px; width: 1100px` rule applied to the parent element (`.wp-block-embed__wrapper`) then I think that would fix it.

I've created a test in my sandbo

[2021-08-25 11:02] arthur791004 commented on #55566
Working this one on https://github.com/ampproject/amp-wp/pull/6563

[2021-08-25 11:04] jeherve commented on #55357
Would it be an option to remove support for Jetpack Responsive Videos in the theme, and instead switch to the more recent and more block-compatible core feature, Responsive embeds?
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#responsive-embedded-content

[2021-08-25 11:08] zdenys opened #55706 "Plugins: Enable searching for plugins on Simple Sites with fewer or no clicks"
### What

Reduce the number of clicks required for searching for plugins on Simple Sites

### Why

On a Simple Site, searching for a plugin requires at least two clicks:
- Click the search icon on the right and it enables the text field for typing the query
- Click inside this text field to actually start typing

https://user-images.githubusercontent.com/39308239/130779262-6fd5318a-fe9f-4ef5-8455-

[2021-08-25 11:19] jeyip commented on #54459
## Status Update

There's one more outstanding PR to address whereby block-level global styles are displaying color options in an unexpected way. https://github.com/WordPress/gutenberg/pull/34293

Once resolved, I believe we can close out this ticket.

[2021-08-25 11:27] roo2 commented on #55357
@jeherve

it looks like the theme has enabled responsive embeds  via `add_theme_support( 'responsive-embeds' );` https://github.com/Automattic/themes/blob/trunk/independent-publisher-2/functions.php#L101

But I see it also supports `jetpack-responsive-videos` https://github.com/Automattic/themes/blob/trunk/independent-publisher-2/inc/jetpack.php#L52

I'm not sure what the difference is between `je

[2021-08-25 12:05] jeherve commented on #55357
In Jetpack's Responsive videos we try to account for the Core Responsive embeds and bail:
https://github.com/Automattic/jetpack/blob/e13487d0dbbe4c743739b6f1a3e37c143a8c2614/projects/plugins/jetpack/modules/theme-tools/responsive-videos.php#L27-L30

Maybe we should pick one and stick it to it in the theme.

`jetpack-responsive-videos` is an old implementation, pre-Gutenberg, and was meant to ensur

[2021-08-25 12:24] razvanpapadopol commented on #51162
First one looks good but we might need to increase a bit the horizontal padding for accessibility reasons. Anyway, I'll check the implementation looks like while also considering the various header combinations as discussed in https://github.com/Automattic/wp-calypso/issues/50758

[2021-08-25 13:34] ClassicRKR27 opened #55708 "Audio player in Marquee not appearing on Simple Sites with static home page"
### Steps to Reproduce

1. Change theme to Marquee in simple site (tested in Premium)
2. Add audio to theme options "Player Attachment IDs"
3. Set homepage to static
4. Open site and you'll see that the audio player is not functional - track list icon shows but does not function, cannot play music
5. Switch back to "latest posts" and audio appears

### What I expected to happen

Audio should show

[2021-08-25 13:47] dpasque commented on #55683
Tagging @Automattic/flow-patrol-create based on issue content.

[2021-08-25 13:50] dpasque commented on #55647
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-25 13:57] Copons opened #55709 "Full Site Editing on Dotcom: Gathering Feedback (Tracking Issue)"
- [x] Add a new editor plugin in the Site Editor with a "leave feedback" form in the sidebar, where users can tell us their opinions about the Site Editor (see [example implementation](https://github.com/Automattic/wp-calypso/pull/55609)).
- [x] Add HotJar or Fullstory to the Site Editor.
- [x] Tweak the Snapshots tool to return launched FSE sites.
- [x] Create relevant Tracks funnels.

More conte

[2021-08-25 14:02] #55690 closed, assigned to allilevine

[2021-08-25 14:07] mreishus commented on #36226
We have a fix merged in Gutenberg! https://github.com/WordPress/gutenberg/pull/33931
It's scheduled for 11.5, and 11.4 isn't released yet; so it may be a few weeks before 11.5 is released. Then, we'll have to wait for .com to pull in the latest Gutenberg. I'm unsure when we'll exactly see the fix land on .com.

[2021-08-25 14:11] alshakero commented on #51610
Fix is in https://github.com/Automattic/wp-calypso/pull/55711

[2021-08-25 14:32] KirkwallDay opened #55712 "Load images on scroll in the media library instead of a Load More button."
### What

Have more media load as you scroll on the media library, rather then use a load more button at the bottom.

### Why

It helps remove an extra click (or multiple clicks) and saves users time when adding old photos. This was requested here: 4227712-zen.

They said it used to be this way before the last WordPress.com update.

### How

Currently when you get to the bottom of the media librar

[2021-08-25 14:46] zdenys commented on #52347
Just noting that it's related to https://github.com/Automattic/wp-calypso/issues/46634 which has more comments. The underlying issue may be the same.

[2021-08-25 15:22] dolgelukkig opened #55714 "The site title font changes when changing the page."
### Steps to Reproduce

When you change the page for a brief moment the site title is using a different font.
The font used was Montserrat, it also happened with other custom fonts.

video: https://d.pr/v/JYtC5X

I was able to reproduce on my test site, both Atomic and Simple
video: https://d.pr/v/jKagPQ

Why is this happening and how do we stop it from happening?

### What I expected to happen

I

[2021-08-25 15:53] dpasque opened #55715 "Playwright: [Meta] Migrate editor-related specs in specs/specs-wpcom"
### Details

There are a lot of test specs in `specs/specs-wpcom` that still need to be migrated to Playwright. This task focuses on migrating editor and block related specs.

It makes sense to test plan map and migrate all the editor related tests together, and use this as a chance to simplify those tests and prune duplicates with other tests.

Then once we have everything together in the Playwri

[2021-08-25 15:56] ckmccoy2 commented on #55714
For what it's worth, the user noted that the same momentary font change happens with the menu as well, which can be seen in the screen recording

[2021-08-25 16:00] dpasque opened #55716 "Playwright: Make a real domain mapping e2e test"
### Details

The old domain mapping script `wp-manage-domains__map-a-domain-spec.js` does not actually map a domain, it just goes to that page and enters a domain name.

We should migrate that script to a script that actually creates a domain mapping.

Here's my proposal of how this could work:
- Use a different user than the default user so that we don't mess up any domain purchasing flows runnin

[2021-08-25 16:14] worldomonation opened #55717 "Playwright: Increase uniqueness of test filename"
### Spec

wp-media__edit-spec.ts

### Suite

Media (Edit)

### Framework

Playwright

### Logs

[code]

[2021-08-25 16:15] worldomonation commented on #55717
The issue is due to an intermittent conflict of the filenames when test files are generated. The timestamp alone is not unique enough, so look at adding a suffix of randomly generated integer from 100-999 (like with the `getBlogName` method).

[2021-08-25 16:34] worldomonation opened #55718 "Playwright: investigate viewport"
### Details

Currently, the screen size for Playwright tests are set through a command line argument to the browser instance.

Look into if a viewport can be used instead.

### Checklist

_No response_

### Related

_No response_

[2021-08-25 16:36] jeffgolenski opened #55719 "Jetpack Pricing: Small language change on pricing page"
### What

Under Backup Daily and Backup Real-time we say "Unlimited site storage." Should be "Unlimited backup storage"

### Why

"Unlimited site storage" makes it sound like we're hosting a customers' site. Changing it to "Unlimited backup storage" is more relevant.

### How

Visit https://cloud.jetpack.com/pricing

**Current:**
![unlimited-before](https://user-images.githubusercontent.com/214813

[2021-08-25 16:41] gravityrail opened #55723 "Loading Tracks twice on WPCOM?"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Load any wpcom blog page, e.g. http://goldsounds.blog/
2. Inspect the DOM or network for "w.js"
3. You will see two copies of w.js are loaded:

[code]

and

[code]

This results in stats like `initial-visibility` firing twice with different random numbers, among probably other side-effects:

[code]

The datestamped w.js request comes from cl

[2021-08-25 16:48] carladoria commented on #55344
another report in 31315988-hc

[2021-08-25 18:00] #55714 closed, assigned to nobody

[2021-08-25 18:49] KirkwallDay opened #55726 "Exford and Alves themes do not respect full width column blocks in the editor."
### Steps to Reproduce

1. Have a site on Exford or Alves and add a new page.
2. Make a new column block in the editor and make it full width.
3. The column will not expand to full width in the editor, in preview it will look fine, however.

I tested Exford and Alves, it's possible there are other themes affected by this as well.
Exford:
<img width="1505" alt="Screen Shot on 2021-08-25 at 12-44-09

[2021-08-25 18:54] worldomonation opened #55727 "Playwright: run some Playwright tests as canary"
### Details

Currently a small set of canary tests are run on CircleCI using the existing infrastructure (mocha/magellan/Selenium).

Look at several possible solutions to a set of Playwright canary tests on CircleCI.

### Checklist

- [ ] Define what existing Playwright tests should be canary.
- [ ] Run Selenium canary, then run Playwright canary?
- [ ] Move entire canary to run just Playwright?

[2021-08-25 19:14] #55719 closed, assigned to cbauerman

[2021-08-25 20:02] thesacredpath opened #55728 "Blog Posts Block when set to Projects will not accept Project tags for filtering"
### Steps to Reproduce

Had a user trying to use Blog Posts Block to show some projects on their main page, but when they set it up and tried to add the tag they had put on the projects they wished to show, it would not add and would not show those projects. I confirmed this on the user's site, and also on my test site.

1. Create some portfolio projects and add a tag to them
2. Start a page and a