[2022-01-20 17:39] msilbers commented on #59985
+1 from me. Experienced this on my own site trying to set up a page

[2022-01-20 18:08] kwight opened #60307 "Seller Experience: Decide where in the WP.com codebase we can commit i18n strings."
Since we want to launch the seller experience MVP in all mag16 languages as soon as possible, let's try something new: commit all the strings we know we'll need based on designs, regardless of development. We would need to find out where in the translation paths would be appropriate for a dummy file, and then pull all the strings from our designs and add them to a file in that path.

[2022-01-20 18:35] WBerredo commented on #58501
When the user clicks on a plugin card, there is a redirect to the Plugin Details page, which lead us to two ways of sending info:
* via URL
* via global state (redux) *

In order to not pollute the URL with internal state, I would propose to save the breadcrumbs into the global state, which would allow us to solve the breadcrumbs problem in a more generic way.

https://github.com/Automattic/wp-cal

[2022-01-20 19:08] StephNathai commented on #59955
Hi @alshakero. I have a solution for this but unfortunately due to my companies proxy settings, I am unable to complete the install to run the repo/run the tests. My code is only adding null checks to account for the optional scenarios. Will creating a PR run the tests automatically? If so, please let me know if it's ok to proceed with the PR or if I should pass on this issue, thanks.

[2022-01-20 19:19] jjchrisdiehl opened #60310 "[Bug]: Auto-renewal toggle message has incorrect styling"
### Quick summary

When turning off auto-renewal a modal box appears with information regarding how the purchase will be affected.

It appears that the modal window is breaking its bounding box and ought to be narrower.

### Steps to reproduce

- Go to http://calypso.localhost:3000/me/purchases
- Click on a subscription
- Turn on or off auto-renewal

### What you expected to happen

I expected a n

[2022-01-20 19:37] obenland commented on #59190
@SaxonF We're considering this for our next sprint, starting January 31st. Is there a design version that is more current than the one in the "Woo on Atomic Review" figma that we should be looking at?

@ianstewart @allilevine

[2022-01-20 20:27] ezebecke opened #60312 "Form block inside FSE "On Submission" actions not working"
### Quick summary

Forms have three optional actions "on submission"

- Show summary of submitted fields
- Show a custom text message
- Redirect to another page

None of them seem to work when adding this block inside an FSE template.

### Steps to reproduce

1- Add Form block to template
2- Test live form with any selection "on submission" option

### What you expected to happen

The form should

[2022-01-20 20:33] TPilgs commented on #59787
Another report here: #4705682-zen using the Hever theme.

[2022-01-20 20:34] #60267 closed, assigned to sirbrillig

[2022-01-20 21:12] sirbrillig commented on #59773
This may be fixed by #60100.

[2022-01-20 21:23] sirbrillig commented on #48892
This is complete since we have the mini-cart now.

[2022-01-20 21:23] #48892 closed, assigned to nobody

[2022-01-20 21:32] obenland opened #60315 "Optional Zip Code Field"
Not all countries have a zip code. Let's make this an optional field so customers from those countries can submit the form.

[2022-01-20 21:43] obenland commented on #59926
Define done:

- [ ] Add tracks event for hit a snag
- [ ] Add tracks event for about to redirect
- [ ] Add tracks event for wc-admin loading (if there isn't one we can use)

[2022-01-20 21:45] #56805 closed, assigned to nobody

[2022-01-20 21:51] kwight opened #60316 "Anchor: The user is dropped in Home instead of the editor."
While testing https://github.com/Automattic/wp-calypso/pull/60271, I noticed that prod is dropping a new Anchor signup user in My Home, instead of in the editor with the home page. I don't know if this is intentional or not. 🙃

[2022-01-20 21:59] blackjackkent commented on #60152
Did some research on this and found the documentation for the design picker at PCYsg-D3C-p2 - further discussion at p1642707515042000-slack-C0Q664T29 regarding the specific blog where these themes are stored. Basically, each theme is a post on an internal Wordpress.com site; themes with the `auto-loading-homepage` feature term are included in the design picker and the categories are automatically

[2022-01-20 22:00] edequalsawesome opened #60317 "FSE: Customizer Link Removed When WooCommerce is Active"
### Quick summary

By default, FSE on WordPress.com still shows the link to the Customizer -- however, if WooCommerce is active, it overrides that to replace it with a "Customize WooCommerce" link, which eliminates the Customizer link.

### Steps to reproduce

1. Create a new site with the WordPress.com Business plan
2. Make the site AT from `Settings > Hosting Configuration`
3. Activate Blockbase

[2022-01-20 22:14] allilevine opened #60318 "Woo Installer: User saw "We've hit a snag" error"
### Quick summary

See: p1642572097155400-slack-C02DQP0FP
The user saw [the "We've hit a snag" error](https://d.pr/i/nW6hSB) when going through the Woo installer flow.

What we know:
- The user previously had WooCommerce installed
- Deactivating all plugins didn't resolve the issue.
- Manually installing WooCommerce did resolve the issue, but skipped the installer.

### Steps to reproduce

TBD

##

[2022-01-20 22:15] allilevine commented on #59926
Opened https://github.com/Automattic/wp-calypso/issues/60318

[2022-01-20 22:28] p-jackson commented on #60255
@vindl is Twenty Twenty-Two the only theme that will need to be specifically added for `fse-eligible` users? I'm guessing that all other themes are universal, so we can show them to everyone regardless of their eligibility. But I don't think the Twenty Twenty-Two theme is universal right? So may need to be hard-coded into the design picker.

[2022-01-20 22:30] jeyip commented on #60254
Draft PR for a dotcom specific temporary solution

[2022-01-20 23:15] lsl opened #60320 "Checkbox css on business info step"
Need more space below label and less space between each option.

![Screenshot(53)](https://user-images.githubusercontent.com/811776/150437276-19490e18-81ca-4340-a388-c973aa7e9f2b.png)

[2022-01-20 23:28] Greatdane commented on #60286
4703767-zd-woothemes has been replied to, thanks all for the quick team effort!

[2022-01-20 23:38] lsl commented on #60320
Looks like this was fixed already (would have been looking at old commit state)

[2022-01-20 23:38] #60320 closed, assigned to nobody

[2022-01-20 23:52] Greatdane opened #60323 "Plugin Marketplace - Simple sites show 'Untested with your version of WordPress' for all plugins"
### Quick summary

On the calypsofied plugin marketplace (https://wordpress.com/plugins/site_url), if you visit this on a simple site, nearly all plugins say `Untested with your version of WordPress`. I assume this is because a simple site has an unrecognized WordPress version?

It makes it look like WordPress.com is using an outdated version on WordPress.

Image of a Simple site (all plans, inclu

[2022-01-21 00:00] cometgrrl commented on #60072
After chatting with @delputnam, it seems this behavior is working as designed. The redirect is intended to be to a domain or directory path, not a file (as in this example, it's redirecting to a .html file).

More context here: p2MSmN-1kA-p2#comment-3401

[2022-01-21 00:34] CodeAllNightNDay commented on #60272
Same issue here. In addition to the font colors in the editor not being reflected on the live page (homepage), the fonts do not either. The theme in this instance is Redhill. 33772054-hc

[2022-01-21 01:35] #60253 closed, assigned to jeyip, zaguiini

[2022-01-21 01:56] worldomonation commented on #59918
Reopening because it failed once more in https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_desktop/7282137?buildTab=tests#%2Fscreenshots.

[2022-01-21 02:36] happychait commented on #56181
Another in 33755215-hc

[2022-01-21 02:54] lsl commented on #60228
Closing now as https://github.com/Automattic/wp-calypso/pull/60231 is merged but this state management problem doesn't look fully resolved:

https://github.com/Automattic/wp-calypso/pull/60322#issuecomment-1018026954

[2022-01-21 02:54] #60228 closed, assigned to lsl

[2022-01-21 02:56] jeyip commented on #60254
` Ensure that wpcom_page_edit and wpcom_block_edit events fire for Template and Template Part save actions in the Site Editor.`

This should be handled by the current state of D73505-code.

`Add new events to track Template and Template Part block edits separately.`

This still needs to be done.

@creativecoder @zaguiini

[2022-01-21 04:07] creativecoder commented on #60255
I've created an initial PR for this at https://github.com/Automattic/wp-calypso/pull/60330

So far it covers

- Adding the specified percentage of users to the FSE beta (creates their site as an FSE site by adding the `fse-eligible` sticker and setting the `wpcom_is_fse_activated` option)
- Redirecting to the Site editor after site setup, when the theme supports it

[2022-01-21 04:15] creativecoder commented on #60255
@p-jackson There are plans for more "block-only" themes that require the Site editor, besides Twenty Twenty Two, but none have launched on WP.com yet, to my knowledge.

You can identify these themes by looking for the `block-templates` tag, indicating they support FSE features, and that they do not have a stylesheet or template of `blockbase` (are **not** children of blockbase or blockbase, itself

[2022-01-21 04:17] lsl opened #60331 "Woo installer text color on inputs"
![Screenshot 2022-01-21 at 15-15-21 Add WooCommerce to your site — WordPress com](https://user-images.githubusercontent.com/811776/150464872-6a3646fd-6c24-40d7-a67e-621d6bc79e17.png)

Input fields are using black while the rest of the page uses a grey.

@SaxonF Is this something we should change?

[2022-01-21 04:23] p-jackson commented on #60255
@creativecoder Great! I was just able to achieve that locally by specifying the extra filter here:

https://github.com/Automattic/wp-calypso/blob/39467cea5d88fe61ee55147968e46fea5cfbf6db/client/signup/steps/design-picker/index.jsx#L62

Like this:

[code]

There's something wrong with the Twenty Twenty-Two thumbnail though, so I'll dig into that.

<img width="1250" alt="Screenshot 2022-01-21 at 5 2

[2022-01-21 05:20] xmha97 opened #60332 "Feature Request: Support In-app sock5 proxy"
### What

Support In-app sock5 proxy:

![image](https://user-images.githubusercontent.com/23485114/150469448-2feecd9d-435c-4a75-a502-8d1141bd9f60.png)

### Why

Because WordPress is blocked in my country I want to bypass limitations.

![image](https://user-images.githubusercontent.com/23485114/150470463-b653d587-12c9-4f73-9dd3-7ef6106a1000.png)

### How

Like Spotify app:

![image](https://user-im

[2022-01-21 05:25] masperber opened #60333 "Site Backups for Simple Business and eCommerce Sites"
### What

A major product gap right now is that site backups are not available at all on Simple Business and eCommerce sites. The Jetpack Backup feature is not enabled if a site is not made Atomic by either installing a plugin, activating hosting configuration, or manually activating Jetpack backup.

This is a problem because we promise to provide site backups to our users in [our pricing document

[2022-01-21 05:26] JulianBustamante commented on #60033
Deployed r238660-wpcom

[2022-01-21 05:32] Greatdane commented on #60187
Thanks @carinapilar - I am going to close for now, while you weren't able to replicate (or I wasn't either). Perhaps the underlying issue has been sorted. If it comes up again, we can re-open!

[2022-01-21 05:32] #60187 closed, assigned to nobody

[2022-01-21 05:54] flameslash commented on #58599
Reporting this for 4682909-zd-woothemes

[2022-01-21 06:47] JulianBustamante commented on #59938
Diff created D73549-code

[2022-01-21 07:33] galakhyati opened #60335 "Editing Tiled Gallery shows The editor has encountered an unexpected error"
### Quick summary

When editing an existing Tiled Gallery and adding a new image to the gallery it is showing the `The editor has encountered an unexpected error` error.

I was not able to replicate the issue on my test Atomic site.

The user didn't have any extraordinary plugins installed. Even after deactivating them the issue persisted.

Screencast video on how I was able to replicate the issue

[2022-01-21 08:02] #60178 closed, assigned to zaerl

[2022-01-21 08:02] #60177 closed, assigned to zaerl

[2022-01-21 08:19] zaerl opened #60336 "Add back button on onboarding routes"
A back button that cancels every possible running action. All "Cancel" buttons are removed on the new UX, so the user can't interrupt what is going on.

- [x] Blogger
- [x] Medium
- [x] Squarespace
- [x] WordPress
- [x] Wix

[2022-01-21 10:10] IoanaAMuresan commented on #57812
Another instance: 33778550-HC

[2022-01-21 10:21] cpapazoglou commented on #60323
"Untested with your version of WordPress" means that the plugin developer hasn't tested their plugin against that WordPress version.

Since on WPCOM we are always using the latest versions (even beta, before releasing them to Atomic), there will be often cases that this message appears on Simple sites. Simple sites are now in `5.9` while Atomic sites in < `5.9`.

As you can see, there are develope

[2022-01-21 11:39] vindl opened #60339 "FSE Rollout: remove AMP and Menus from Appearance menu"
Currently, these two items are present in the Appearance menu and they don't appear in Core. AMP doesn't work as expected and leads to a non-existing Customizer page, and we don't really need Menus anymore. Let's remove them both:

<img width="437" alt="Screenshot 2022-01-21 at 12 38 12" src="https://user-images.githubusercontent.com/1182160/150520947-835da06d-3c33-4ead-91cc-ab51f384f56f.png">

[2022-01-21 12:25] WBerredo commented on #59670
Figma design: f84fqtCG4pCnCh2Hq0But5-fi-301%3A1775

[2022-01-21 12:32] annchichi commented on #59022
Heya @simison, I want to double-check if the issue is solved. :)

-  @enejb and I were not able to replicate it. It seems okay with browsers like Chrome, Safari, Firefox, and Brave.
- Also, regarding the copy, I wonder if 'Please enable "third-party cookies"...' makes it a bit hard to grasp for general users.
Do we want to encourage them to switch to using the 'normal' one instead of the incognito

[2022-01-21 14:34] klimeryk commented on #18283
@jartes, please don't re-open old issues, but start new one. The context is different, it's not useful to re-open a year-old issue.

[2022-01-21 14:34] #18283 closed

[2022-01-21 15:32] cpapazoglou commented on #58298
It seems that this is now resolved pdh6GB-6Z-p2#comment-421

[2022-01-21 15:32] #58298 closed, assigned to SaxonF

[2022-01-21 15:37] cpapazoglou commented on #58293
@SaxonF one note to the above font sizes is that `input` items like the search box can't have `font-size < 16px`. At least in ios, ipados breakpoints using anything less than 16px will result in the web page being zoomed in when focusing on that input.

[2022-01-21 16:08] chad1008 commented on #59794
I'm able to reproduce with and without a custom domain. I'm not seeing a connection to any of the recent Gutenberg releases, going back as far as 12.0

[2022-01-21 16:12] bogiii opened #60342 "Import Everything - Update permission check logic when a user tries to import from the site and doesn't have the right permission"

[2022-01-21 16:57] #60315 closed, assigned to obenland

[2022-01-21 17:11] escapemanuele opened #60345 "Tour Kit/Welcome Tour: Introduce mobile & desktop classNames for Steps"
### What

Introduce mobile & desktop classes for Steps to manage better what CSS style to apply to a specific step based on the viewport.

So, what we want is to have more granular className definitions, something like:
[code]

With that, it should be easier for the consumer to customize the appearance.

- Make granular desktop/mobile CSS classes possible for Steps
- Update the Welcome Tour config

[2022-01-21 17:31] razvanpapadopol commented on #54118
It looks like this was fixed somewhere else.

[2022-01-21 17:31] #54118 closed, assigned to nobody

[2022-01-21 17:51] carinapilar commented on #57369
Another case on 33777379-hc - with the Ovation theme.

[2022-01-21 17:53] mreishus commented on #59245
* videomaker (but not videomaker-white) is in the softlaunch list
* @scruffian added videomaker and videomaker-white to the store tables, unsure if they're synced to production yet
* Mappings added here: D73577-code

[2022-01-21 18:09] DustyReagan commented on #59516
Tried reproducing but I'm seeing a white screen on site switching. Will investigate further.

https://user-images.githubusercontent.com/140841/150578233-046199e4-5cde-46b3-a1f2-cbd9d73bc1d2.mp4

[2022-01-21 18:54] cuemarie commented on #52728
@Nic-Sevic Thanks for sharing this!

For anyone here - does this mean that PDFs not displaying on live sites is now the intended design? I'm not sure if we're expecting a "solution" that allows PDFs to display again, or if this security change means that this features is going away.

[2022-01-21 19:27] supernovia opened #60347 "Tag Cloud Block: Outline style isn't displayed on live site (Simple Sites)"
### Quick summary

The tag cloud block offers an Outline option. Selecting that option displays the correct style in the editor (albeit with the theme's default colors). But the live site ignores that style:

<img width="1230" alt="Screenshot of the editor" src="https://user-images.githubusercontent.com/3476361/150586912-7c31b684-db67-42e5-9052-49a5fa53a998.png">

<img width="1340" alt="Screenshot

[2022-01-21 19:41] mreishus commented on #59025
Looking into adding support for premium themes to the design picker (which is powered by the demo api: `/rest/v1/template/demo`):

It looks like the sites that are supported by the demo API have "starter" sites that are separate from the demo sites. These sites are listed in `class-nux-starter-designs.php` on wpcom. For example, here's rockfield:
![2022-01-21_13-33](https://user-images.githubuserc

[2022-01-21 19:52] scruffian commented on #59245
There are synced to production. I think they are ready to launch

[2022-01-21 20:47] kimerlin81 commented on #59770
@rambogenius Thanks for submitting this bug report and including such helpful screenshots. I've triaged this as a bug for our development team to review. We don't have an ETA available, but this issue will be updated with any findings.

[2022-01-21 20:50] #58868 closed, assigned to worldomonation

[2022-01-21 21:11] kimerlin81 commented on #59825
Thanks for submitting this detailed bug report @mxhassani!

I'm able to reproduce this as shown below:

https://user-images.githubusercontent.com/83732167/150600569-a5067470-175f-4df3-9ed7-67abfed03471.mp4

I wonder if the search and replace feature can be used to help the user instead of them having to manually remove that from each block. Perhaps using the method mentioned in the `Updating Speci

[2022-01-21 21:36] allilevine opened #60349 "Woo installer: remove unused code"
### Details

We've added a new WooCommerce install flow so we can remove most of /my-sites/woocommerce (except the new landing page, `WoopLandingPage`).

### Checklist

- [x] Check with Matt Sherman about removing required-plugins-install-view.jsx.
- [x] Test that the new flow starting at /woocommerce-installation/< site id > still works and doesn't throw errors.
- [ ] Follow up: move the landing

[2022-01-21 22:05] DustyReagan commented on #59516
Discussion about the blank screen when switching sites here: p1642787762096000-slack-C029UPVMGTW
PR with the fix here: [Woo installer: Remove plugins loaded check #60348](https://github.com/Automattic/wp-calypso/pull/60348)

There does still seem to be an issue with business profile data not switching when the site switches, so this issue remains open.

[2022-01-21 22:08] kimerlin81 commented on #59852
Thanks for submitting this bug report @1dr0!

I was unable to replicate this on my test site which was set to the same theme, plan and customizer settings as the user.

While this issue does seem to be specific to just this user, I don't believe it's theme-specific. I tested by changing this users theme to several other themes including 2015 and Lovecraft and I found the behavior to be the same:

[2022-01-21 22:08] #59852 closed, assigned to nobody

[2022-01-21 23:05] DustyReagan commented on #59516
How to reproduce the bug. You need 2 similar sites ready to install WooCommerce (I used simple Business sites on Calypso trunk).

1. Start installing WooCommerce on site A, "Continue" all the way to "One final step" and the use the "back" link to go back to your dashboard.
2. "Switch sites" and select your site B.
3. Start installing WooCommerce on site B, "Continue" all the way to "One final step

[2022-01-21 23:11] cometgrrl commented on #60118
@Automattic/shilling  Can you take a look at this one?

[2022-01-21 23:29] sirbrillig commented on #60118
While this bug is being investigated, a workaround is to have any affected customer input the country code manually. So in this case, start entering the phone number as `+52` (which I believe is Mexico) and then the rest of the number. Starting with `+` should disable the country code guessing system which seems to be misbehaving.

[2022-01-21 23:47] #59249 closed, assigned to worldomonation

[2022-01-21 23:55] edequalsawesome commented on #59566
Also reported in 4709174-zen

[2022-01-22 00:08] DustyReagan commented on #59516
A final note before the weekend. I'm seeing the wrong siteId first appear [here](https://github.com/Automattic/wp-calypso/blob/29291fd2a64b741e5eb9110eebea0efca9d6313a/client/signup/steps/woocommerce-install/step-store-address/index.tsx#L49) right before the address step moves on to the info step.

[2022-01-22 00:50] jeyip commented on #60254
Second phab diff attempt
D73604-code

[2022-01-22 01:19] ktyfuller604 opened #60352 "Widget Visibility: Widget disappears if set to Static Page"
### Quick summary

This is a relatively recent bug, the report came from someone who had the widget visibility set and everything working as expected about a month ago.

### Steps to reproduce

1. Select a theme with a widget area (Edin, Plane and Storefront were tested)
2. Add a widget (tested with Nav Widget, and Image widget) and modify the widget visibility to only show on a specific static pa

[2022-01-22 03:57] galakhyati opened #60353 "Image block transform block option giving error on hovering on the options"
### Quick summary

User has Image block within a Layout Grid which is within a Group block.

When they try to click on the Transform option on the Image block and hover on the options listed they are seeing the message `The editor has encountered an unexpected error`.

I was able to replicate the issue on the user's site. User's site screencast video:

https://user-images.githubusercontent.com/738

[2022-01-22 04:56] rosepajaroja commented on #53088
This could be related ZD-4707018. Facebook and Embed block don't seem to work.

I did a couple of tests:

On simple sites:

Both Facebook and Embed blocks change to Paragram Block after clicking "Embed" button, and it will display a text link.

On AT sites:

It will show an error:

![Alt text](https://d.pr/i/ibMXtV/kaTooqIPmQ+)

[2022-01-22 05:29] danielk-am opened #60354 "Sharing Buttons showing blank page when editing "More" buttons with "Official Buttons" selected as Button style."
### Quick summary

https://user-images.githubusercontent.com/92185881/150625951-bacd31ee-5872-411c-9978-5bd21ff57497.mp4

Marketing > Sharing Buttons

Clicking on Edit "More" buttons with the "Official Buttons" option selected for "Button style" leads to a blank page (throws errors in the browser console log, as seen in the other notes section below).

The screen recording shows the expected behav

[2022-01-22 05:31] 1dr0 commented on #60354
First encounted in 4709492-zen.

[2022-01-22 07:01] p-jackson commented on #60216
👍

Probably worth noting that this will also remove the same back button events from the domain step subsections. Which look like this:

https://user-images.githubusercontent.com/1500769/150628550-14014927-bfbc-44a8-948f-1a5521c3e6ea.mov

I don't think anyone's running analysis on these back steps right now though. Pretty sure we'd know about any project around this area.

[2022-01-22 09:55] danielk-am opened #60355 "Blocks and Widgets are not displayed when Visibility rules are set on themes with Widget areas in Simple sites"
### Quick summary

https://user-images.githubusercontent.com/92185881/150633437-bf3d3654-ccd7-45e3-8b9b-1a1ad2d037cc.mp4

https://user-images.githubusercontent.com/92185881/150633455-b80aa9e1-0683-44d9-8ff7-a1e0212e8a5a.mp4

Blocks and Widgets are not displayed when Visibility rules are set on themes with Widget areas in Simple sites.

The first screen recording shows the visibility rules that wer

[2022-01-22 09:56] 1dr0 commented on #60355
First encountered in 4705683-zen. The user claimed that the visibility rules issue first started about 24 hours ago (which is, Jan 21, 2022).

[2022-01-22 10:07] edwinho89 commented on #56468
Another report on 4691463-zd-woothemes

User is using the retired "Hearts and Style" premium theme, if it relates to that.

It is also weird that legacy widgets aren't being shown on the theme sidebar, until you convert into a block widget - https://d.pr/v/0payUu

[2022-01-22 10:34] zdenys commented on #55815
4709728-zd-woothemes

[2022-01-22 10:41] mrfoxtalbot opened #60356 "Refactored Gallery Block: Inconsistent last image width"
### Quick summary

### Description

When using the "classic" Gallery Block, if there was a single image on the last row, it would scale up to use up all the available space. Example:

![Screen Shot on 2022-01-22 at 11:17:19](https://user-images.githubusercontent.com/4452464/150634523-624ad939-bb23-416c-8537-84af09dfb161.png)

This was also the case when the gallery block's width was set to "wide".

[2022-01-22 10:55] kavyagokul commented on #60355
Also seen in 4709322-zen.

[2022-01-22 12:10] zdenys opened #60357 "Professional Email: Shows for free site addresses but cannot be added"
### Quick summary

https://user-images.githubusercontent.com/39308239/150637998-d480d48c-44f6-415f-a491-27bface4f034.mov

### Steps to reproduce

- On a Free Plan site navigate to `https://wordpress.com/domains/manage/{FREESITEURL}/edit/{FREESITEURL}`
- Alternatively, go to Upgrades > Domains > three dots next to the free site address > Change site address and then click Back at the top to end up

[2022-01-22 12:19] zdenys opened #60358 "Domains: DNS records management should not show for free site addresses"
### Quick summary

_No response_

### Steps to reproduce

*   On a Free Plan site navigate to `https://wordpress.com/domains/manage/{FREESITEURL}/edit/{FREESITEURL}`
*   Alternatively, go to Upgrades > Domains > three dots next to the free site address > Change site address and then click Back at the top to end up on the same screen

![DNS-free-site-address](https://user-images.githubusercontent.c

[2022-01-22 12:22] carinapilar opened #60359 "Domain Cancellation Survey"
### What

Add to the domain cancellation survey the reason _"won't be using the domain anymore"_ or _"don't need the domain"_.

### Why

Although there's an option for _"something not listed here"_, we're losing the opportunity to get stats for one of what seems to be the most common reason to cancel a domain.

### How

Here's how the survey looks like now:

![DomainCancellationSurvey](https://use

[2022-01-22 12:27] zdenys opened #60360 "Cart: Graphic glitch in the modal window (vertical grey stripe is displayed next to the prices)"
### Quick summary

_No response_

### Steps to reproduce

- Add an item to the cart (such as a plan or a domain)
- Exit the cart but keep the items there
- Click the 🛒 cart icon in the toolbar to see the preview of what's there

### What you expected to happen

No vertical grey stripe should display to the right of the prices

### What actually happened

An odd vertical grey stripe is displayed to

[2022-01-22 12:30] zdenys commented on #60360
Seems to be an unnecessary padding on the `ul` element.

![image](https://user-images.githubusercontent.com/39308239/150638584-ab9d7201-74c9-4ff9-aa28-c11c8c705504.png)

[2022-01-22 12:48] benchilcote commented on #60355
I did some testing and could not reproduce consistently.  I tested with Twenty Fourteen and could not reproduce.  I added the Follow Blog and a custom navigation widget and in both cases, visibility settings were followed.  I tested with showing / hiding if page is front page.

Might also be related to https://github.com/Automattic/wp-calypso/issues/60352

[2022-01-22 12:59] benchilcote commented on #60355
Another report 4707259-zen

[2022-01-22 13:43] zdenys opened #60361 "Hello Dolly Plugin: When active it hides the Screen Options and Help tabs in Installed Plugins section"
### Quick summary

When the plugin is active, it overlaps/hides the Screen Options and Help tabs in Plugins > Installed Plugins section. That prevents users from [switching back to WordPress.com view](https://wordpress.com/support/dashboard/#switch-to-word-press-com-view).

![image](https://user-images.githubusercontent.com/39308239/150640724-34e2aeff-ac9b-40ab-8a30-009aa5516d3c.png)

I think it s

[2022-01-22 14:12] zdenys opened #60362 "Jetpack: Add Jetpack Search Widget should not be displayed for themes that don't support widgets"
### Quick summary

If the site's theme doesn't support widgets (such as all the new Full Site Editing themes), having the link `Add Jetpack Search Widget` at `{SITEURL}/wp-admin/admin.php?page=jetpack#/performance` makes no sense. It attempts to open `{SITEURL}/wp-admin/customize.php?autofocus[panel]=widgets` but opens the Customizer and since there is no Widget section, it is confusing.

https://

[2022-01-22 15:27] jartes opened #60363 ""Empty" Sidebar displayed on Coming Soon mode with the Twenty Fifteen Theme"
### Quick summary

When using the Twenty Fifteen theme and the Coming Soon mode, an "empty" sidebar is being displayed on the Coming Soon page:

![Screenshot on 2022-01-22 at 16-18-32](https://user-images.githubusercontent.com/1046943/150644485-4554c532-b72b-40f2-b216-e57c9989ce30.png)

### Steps to reproduce

1. In a Simple or Atomic site, activate the Twenty Fifteen Theme.
2. In Settings → Gener

[2022-01-22 15:38] ChrissiePollock commented on #57991
Another case - #4707262-zen

[2022-01-22 17:02] ash1eygrace commented on #60354
Also, encountered in 4709492-zen.

[2022-01-22 18:07] delputnam commented on #60358
Thank you for the report @zdenys! Nomado will work on a fix asap.

[2022-01-22 20:06] carinapilar opened #60364 "Atomic: Bad Experience on Non-wordpress.com Domain Change"
### What

When a site is ATed, the domain change from a non-wordpress.com address is quite disruptive.

### Why

When the site has a .wordpress.com domain, that part only changes to _".wpcomstaging.com"_, but if the site had one of the other extensions we offer, such as ".food.blog" for example, the address is changed to "dotfooddotblog.wpcomstaging.com", which is very different from the original.

[2022-01-22 21:01] arinoch commented on #60364
This is an address generation issue, and affects atomic and simple sites. What happens is if a user creates a site and goes straight to a custom domain, we try to base the WordPress.com address off that domain--assuming, for whatever reason, that that address will never be seen.

If a user on the Personal plan creates a site and goes directly to also registering mygruvysite.com, we give them mygru

[2022-01-22 22:46] ChrissiePollock opened #60366 "Can't Disable Auto-Renew on Domain"
### Quick summary

When I try to disable the domain auto-renew on a Premium Site, it tells me the renewal is off, yet it's still there even after refreshing the page.

Screencast is too large to add. It's on https://d.pr/i/X2NMWz

![screenshot from https://d.pr/i/X2NMWz](https://d.pr/i/X2NMWz+)

### Steps to reproduce

1. Click on a domain from Upgrades>Domains
2. Turn off auto-renew
3. Give a rea

[2022-01-23 01:40] retnonindya commented on #60355
Another report:
4710583-zd-woothemes

[2022-01-23 03:18] syedshaon commented on #60355
Another issue 4709789-zen

[2022-01-23 04:20] gavande1 commented on #60137
The issue has been discussed here: p9o2xV-1Of-p2

[2022-01-23 07:29] Agepeuve commented on #59566
Another case in the ES forums - https://wordpress.com/es/forums/topic/no-puedo-cambiar-color-de-fondo-de-los-bloques-o-resaltar-en-otro-color-alguna-palabra/

[2022-01-23 10:02] i11za commented on #52204
Another report here: 4712061-zd-woothemes
Discussed internally: p1642922057054200-slack-C03TY6J1A

[2022-01-23 10:07] inaikem commented on #60072
Docs update request:

1427-gh-Automattic/en.support-docs-content

[2022-01-23 11:26] renata-franco commented on #53846
Another one here: 4668106-zd-woothemes

[2022-01-23 13:41] Nic-Sevic commented on #60185
@Greatdane - Yes, just to clarify which support they should be reaching out to. If they turn to Jetpack they'll just get sent back to wpcom since it's hosted by us for these sites

[2022-01-23 15:06] fresatomica commented on #59494
Another report: https://wordpress.com/forums/topic/colors-and-capitals/?view=all

[2022-01-23 15:24] Sandkorner commented on #59396
Another issue it seems.

4712079-ZEN

Theme: Twenty Twenty One

User has active Editing Toolkit plugin:

<img width="791" alt="Screenshot 2022-01-23 at 17 17 09" src="https://user-images.githubusercontent.com/71094068/150685437-8ac6e28a-ac7d-4070-a877-e14a8f9d3062.png">

Still no option for Global Styles in the editor.

[2022-01-23 15:56] yoavf commented on #60355
This should be fixed now with D73402-code

[2022-01-23 15:56] #60355 closed, assigned to nobody

[2022-01-23 15:56] yoavf commented on #60352
This should be fixed now with D73402-code

[2022-01-23 19:01] bogiii opened #60370 "Alignment style issue with the author mapping screen"
<img width="885" alt="Screenshot 2022-01-23 at 19 46 58" src="https://user-images.githubusercontent.com/1241413/150693774-2a4dd914-47fb-4aa6-8f76-b5732ba44339.png">

[2022-01-23 19:03] bogiii opened #60371 "Extract out common bits from each file importer"
- [x] Reuse the logic of [handling job transition](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/import-from/wix/index.tsx#L34-L36)
- [x] Consume existing **SitesItem** type instead of newly introduced **Site** | #60459
- [x] Prepare params method should map existing `supportedContent`, `unsupportedContent` (see the current implementation)

[2022-01-23 19:20] zachspears opened #60372 "Block Widgets encountering errors when setting visibility."
### Quick summary

When setting visibility for a Block Widget the block will error out with "This block has encountered an error and can't be previewed."

This issue does not apply to all blocks. I have not had the chance to set all blocks but here are a few examples:
- Tag Cloud Block: ✓
- Archive Block: ✓
- Paragraph Block: ×
- List Block: ×

### Steps to reproduce

1. Create or edit a Simple si

[2022-01-23 20:08] bogiii opened #60373 "Missing “Cancel import” action from each file importer"
<table>
<tr>
<td><img width="987" alt="Screenshot 2022-01-23 at 19 47 09" src="https://user-images.githubusercontent.com/1241413/150696229-3a0f9fea-4b42-4f66-9cad-8ad39b795023.png"></td>
<td>
<img width="968" alt="Screenshot 2022-01-23 at 21 09 41" src="https://user-images.githubusercontent.com/1241413/150696258-5e381652-9ec7-4940-8294-ca67d676363f.png">
</td>
</tr>
</table>

[2022-01-23 20:15] bogiii opened #60374 "Add missing "Error state" screen on each file importer (after file upload)"
Upload failure is handled already, but importing error is not handled. This issue is to handle that.

The possibility of importing errors also needs to be investigated a bit. We need a test case to replicate this.

[2022-01-23 21:17] #60282 closed, assigned to p-jackson

[2022-01-23 21:38] arinoch opened #60375 "HTML Block: Formatting is forced when custom HTML is added."
### Quick summary

when adding custom HTML to an HTML block on both atomic and simple sites, paragraph formatting is automatically applied. This interferes with the formatting the custom HTML is intended to have, and removing it is overwritten upon refresh by the editor.

### Steps to reproduce

1: Create, or access, a testing site--either simple or atomic.
2: Add the HTML block to a widget area o

[2022-01-23 21:44] arinoch commented on #60375
It appears that if you remove the tags, then save the changes, the tags are removed. If  you refresh for any reason, say to edit another widget/block later, you will need to remove the tags again before saving.

[2022-01-24 01:42] Greatdane commented on #57812
Another; 33802091-hc

[2022-01-24 02:47] arinoch opened #60376 "Retired themes: Warn before we let the user switch out."
### What

display a warning when a user is on a retired theme and wants to switch to a newer/different theme advising that the theme they're currently using is retired, and if they leave, they can't go back.

### Why

We're negatively impacting user experience presently by keeping the fact their theme is retired away from them. A user in 4710869-zd-woothemes found out their theme was retired becau

[2022-01-24 03:41] formosattic opened #60377 "Email notifications: add option to not send notifications for specific posts"
### What

Users regularly, though maybe not that frequently, ask about publishing a post without sending notifications to users.

Related interactions:

* https://wordpress.com/forums/topic/how-to-publish-without-notifying-subscribers-2/
* https://wordpress.com/forums/topic/can-i-publish-a-post-without-notifying-my-blog-followers/
* https://wordpress.com/forums/topic/how-to-post-without-sending-em

[2022-01-24 04:17] autumnfjeld opened #60379 "Forge Data Onboarding"
## Forge Data Onboarding

To be done sometime in Feb or March 2022.

To help smooth the data learning process for new devs, Kurt Rimbach has just created a great Data Onboarding Guide: PdqkMK-2u-p2

Please take a day or two to run through the document and do the Data Exercise (copied from the Guide) for a part of the Blogger or Build Flows.

### Data Exercise
The data exercise below runs through a

[2022-01-24 05:08] autumnfjeld opened #60380 "[Bug]: when previewing a theme in the Design Picker the page is scrolled and hides the top nav area"
## Description

How to reproduce
* Go to Design Picker in the /start flow
* select a theme to preview
* see that the preview view is scrolled slightly such that the top nav is cut off

![Screen Capture on 2022-01-24 at 16-07-04](https://user-images.githubusercontent.com/5665959/150725449-29ce2eb3-952e-4be1-929c-9254e6a7625a.gif)

[2022-01-24 05:11] lsl commented on #59516
Oh wow, it's worse than I thought. :smile:

We might need to switch to using the site id dependency value all the way through. I thought the issue was in the landing page but it looks like its actually in the signup framework.

[2022-01-24 05:39] formosattic opened #60381 "Stats: Show report of site views per day"
### What

Have view or option to download site view per day.

Right now, the closest to that is from the Jetpack Stats.
![image1](https://user-images.githubusercontent.com/15944096/150727457-66f09761-8d6f-42db-98b2-57c8b85547c0.png)

On WordPress.com stats, we only show average per day:
![image1](https://user-images.githubusercontent.com/15944096/150727699-14ea9a5b-18fc-4caa-befd-abc9b4d6f2e4.png)

[2022-01-24 06:01] arthur791004 commented on #60216
I think it's okay. As you said, “it's not really going back a step.”, going back from the domain step subsections is not really going back a step either.

Or maybe we should have the rule to define semantic `stepSectionName` and replace the current one with `/design-picker/preview?theme=...`. Then, we can add `stepSectionName` to the prop of the event.

[2022-01-24 06:18] p-jackson commented on #60216
🤷 I kinda like the url the way it is right now

[2022-01-24 06:19] JulianBustamante commented on #59943
@cpapazoglou Could I have the steps to reproduce this issue added to the description?

[2022-01-24 06:35] lsl commented on #59516
@DustyReagan I noticed we're not limiting the hook's update tracking state to site id, maybe that's being copied over?

e.g. if true, this might fix https://github.com/Automattic/wp-calypso/pull/60383

[2022-01-24 07:02] ahmadbaig1 commented on #59985
+1. Experienced the same while testing FSE. The only way to recover was to reload the page.

[2022-01-24 07:11] p-jackson opened #60384 "Add sticky header to the table of cron jobs"
D73622-code

[2022-01-24 07:24] formosattic commented on #60272
Looks like this the same as https://github.com/Automattic/themes/issues/2367

I'll leave for a triager to review more closely.

[2022-01-24 07:31] #59370 closed, assigned to nobody

[2022-01-24 07:32] ahmadbaig1 opened #60385 "Navigation Block: Menu list not being updated in the "Select Menu" part."
### Quick summary

The navigation block was not able to select/show the correct list of menus on the site on the Editor, or on the Live Site.
When I selected the "Primary" from the "Select Menu" part of the Navigation block, no menu item was showing on the editor.
This is mostly because the menu "Primary" had already been deleted, and there was a new menu "Primary New" that was not showing up in t

[2022-01-24 08:24] inaikem commented on #60356
This issue is tracking an issue in another repository (WordPress/gutenberg#38156).

All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the external repository.

[2022-01-24 09:12] jsnajdr opened #60386 "[Bug]: The Marketplace plugin install thank you page doesn't scroll"
### Quick summary

After installing a plugin on my Atomic site, I see a Thank You page which doesn't scroll, although it has content that overflows:

<img width="872" alt="Screenshot 2022-01-24 at 10 02 07" src="https://user-images.githubusercontent.com/664258/150753801-75b3e5f7-ab38-4063-b4d4-2f3fb1f6acdf.png">

### Steps to reproduce

1. Go to Plugins section of an Atomic site.
2. Upload a plugi

[2022-01-24 09:18] cpapazoglou commented on #60386
Also, let's see what's going wrong with "Back to plugins" which should be aligned to the left like
<img width="1596" alt="SS 2022-01-24 at 11 17 54" src="https://user-images.githubusercontent.com/12430020/150754847-25524106-be0a-4201-a376-de59c01f38cb.png">

[2022-01-24 10:51] #60386 closed, assigned to gavande1

[2022-01-24 12:56] #60272 closed, assigned to nobody

[2022-01-24 14:53] cpapazoglou commented on #59943
This messaging and call to action seems appropriate
https://github.com/Automattic/wp-calypso/blob/f2e6f88ae65c8571bbac21b284c29b48ec987598/client/my-sites/site-indicator/index.jsx#L194-L216

[2022-01-24 14:56] arcangelini commented on #59757
OK, the first PR is published and ready for review. I decided to break this into chunks, let me know your thoughts on this.

### PR 1

* Create the package with basic functions (theme-based colors, README, only dot links)
* Update the Welcome Guide to use this new package and remove the original pagination

### PR 2

* Work out how to handle the PREV/NEXT buttons
* Update the DotPager component to

[2022-01-24 14:57] #54761 closed, assigned to michaeldcain

[2022-01-24 15:09] kerrynicl commented on #60376
We don't really keep it from users, They would just have to click on the theme's info (see screenshot)
<img width="864" alt="Markup 2022-01-24 at 10 05 08" src="https://user-images.githubusercontent.com/83325600/150808379-9052b8f2-7be0-4384-a933-5d29f3d27b0b.png">

But I do see what you are saying so i suppose you mean another sticker right here to say that is retired?
<img width="1051" alt="Marku

[2022-01-24 15:34] JoshuaGoode commented on #53518
This is expected if the associated Jetpack module is inactivate on the site, especially if the site is in WPCOM's private mode.

[2022-01-24 15:39] kerrynicl commented on #59469
I'm not able to replicate on any of my test sites so I'll be closing this issue for now.

[2022-01-24 15:39] #59469 closed, assigned to nobody

[2022-01-24 15:46] delputnam commented on #60359
We're not capturing the selected reason from this form at all. The purpose of this form is to guide the user to the correct action if they don't understand that there might be a better option than canceling to accomplish their goal since we had a number of users mistakenly canceling their domains when they really just wanted to transfer  it or they didn't understand the implications of the canceli

[2022-01-24 15:46] #60359 closed, assigned to nobody

[2022-01-24 15:58] delputnam commented on #60358
It appears that you could get to the settings page for a free URL subdomain by either manually typing in the full path of the URL or by using the back button from the change site address page. The back button should really take you back to the domain list again.

#60365 Fixes both the back button and prevents access to the page by typing in the full path. In both cases, you will now be redirected

[2022-01-24 15:58] #60358 closed, assigned to nobody

[2022-01-24 16:01] kerrynicl commented on #60366
Hi There! @ChrissiePollock  Can you see if this still exists for you? I'm not able to replicate on my test sites:
![Screen Capture on 2022-01-24 at 10-50-19](https://user-images.githubusercontent.com/83325600/150818302-ef425abb-cf38-491b-a32b-eb0625a5a21a.gif)

[2022-01-24 16:18] delputnam commented on #60366
I cannot replicate this issue either.

[2022-01-24 16:21] kerrynicl commented on #60364
Perhaps even a warning to atleast notify what the user's domain might be changing to would be ideal here

[2022-01-24 16:28] JoshuaGoode commented on #56705
Until a dashboard exists, users can utilize WP_DEBUG to do this on their own: https://wordpress.com/support/wp-debug/

[2022-01-24 17:04] JoshuaGoode commented on #53627
Hi there! Please make these requests on our internal Atomic requests P2 when possible @carinapilar. Opening an associated GH issue is great for tracking and additional visibility but the main request should be on the P2.

I believe @bazza worked on this back in July 2021.

Moved to p9F6qB-5Oz-p2

[2022-01-24 17:10] BogdanUngureanu commented on #44293
Closing this as I'm unable to reproduce this anymore. It's possible that the issue was caused because an older Gutenberg's version from 2020.

[2022-01-24 17:10] #44293 closed

[2022-01-24 17:39] Addison-Stavlo commented on #60254
Note that neither of these events are registered in tracks so all descriptions, notes, property descriptions, etc. are all blank making it a little difficult to interpret some of the intended functionality here.

One thing I notice is that `wpcom_page_edit` and `wpcom_post_edit` are completely separate events.  The `post_type` event property is always `page` for the page event and always `post` fo

[2022-01-24 17:56] JoshuaGoode commented on #59396
@Sandkorner For your user's case with `twentytwentyone`, this is because the site had the incorrect version symlinked.

The Atomic platform serves two versions of the theme, the upstream version from WordPress.org and a special WPCOM version.

In some cases a WPCOM site might end up with the WPORG version symlinked.

To resolve, we can break the symlink and then install the theme from Calypso -- t

[2022-01-24 18:14] delputnam commented on #60364
I understand the frustration here and I agree that switching from the nice clean free URL to the wpcomstaging.com URL is frustrating. Finding a nice clean _and unique_ subdomain quickly gets complicated. For example, if the user selected `amazing.food.blog` as their free URL, we are much more likely to have an unused subdomain like `amazingdotfooddotblog` (since the FQDN is guaranteed to be global

[2022-01-24 18:14] #60364 closed, assigned to nobody

[2022-01-24 18:19] kwight commented on #60307
Asking for the i18n team's input: pxLjZ-6Mo-p2

[2022-01-24 19:10] jp-imagines opened #60410 "Alt text field inheriting theme color from the Customizer"
### Quick summary

The "Alt text (alternative text)" setting on image-type blocks (Image, Gallery, Cover, etc.) should display in the default black text. However, on some themes, it seems to be "inheriting" one of the colors set at My Site > Appearance > Customize > Colors & Backgrounds.

### Steps to reproduce

1. Activate Apostrophe 2 or Balasana. Unsure which other themes may also be affected.

[2022-01-24 19:10] #60173 closed, assigned to lsl

[2022-01-24 19:17] kwight opened #60413 "Seller Experience: Show a celebratory modal on product publish."
Let's show a celebratory modal on product publish from the editor.

![image](https://user-images.githubusercontent.com/13437011/155621428-c7e945f5-34ba-4eb1-87e8-23605f217e09.png)

After hitting save for the first time on an editor where the user has the "sell" intent and a Payments block in the editor body, the user should be greeted with a modal. The modal guides them towards previewing their pr

[2022-01-24 19:21] cuemarie commented on #53626
Atomic Site: 33630997-hc
Switched to Coming Soon -> Public and that resolved

[2022-01-24 19:41] vindl commented on #60254
I'll update the issue summary to reflect some of the changes in tasks based on our latest discussions.

[2022-01-24 19:49] vindl commented on #60254
Leaving these here for future reference

These events are already recorded in `wpcom_page_edit` with prop `post_type = wp_template` and `post_type = wp_template_part`. We could add a separate event for them for convenience, but it's not strictly necessary.

After looking into the code I agree that we don't need to add new events for this. `wpcom_block_edit` will already be recorded for Templates a

[2022-01-24 20:36] Addison-Stavlo commented on #60254
@jeyip opened this PR earlier today for this: https://github.com/Automattic/wp-calypso/pull/60408

It is working well 😁

[2022-01-24 20:48] #60118 closed, assigned to nobody

[2022-01-24 21:19] #60254 closed, assigned to jeyip

[2022-01-24 21:22] kwight opened #60416 "Seller Experience: Add a checkout step to the WooCommerce path."
If a user selects "Start with more", they are sent down a WooCommerce path. If they need to upgrade, they will be immediately sent to a checkout flow, that should then (upon upgrade completion) proceed to the "tell us about your business" step.

See the "starts with more" flow at paYKcK-1cv-p2

[2022-01-24 21:23] kwight commented on #60416
#60181 should give some prior art about how to wire up the checkout in the middle of a signup flow.

[2022-01-24 21:25] kwight commented on #60416
See p1643053099252100-slack-C0117V2PCAE for some Slack chat background from a payments team.

[2022-01-24 21:40] pablinos commented on #58391
Looking at the code it seems this has been the error message for at least the last 5 years, so probably when the feature was first built. A version of it was introduced in #14550 for example.

It could be improved. I'm not sure if we have better information at this point, so suggesting that they reconnect with Facebook, or contact support, as @devNigel suggests, might be appropriate.

[2022-01-24 22:12] michaeldcain commented on #59902
Fixed:
<img width="1083" alt="Screen Shot 2022-01-24 at 5 12 42 PM" src="https://user-images.githubusercontent.com/942359/150873673-184d0112-c229-4faa-8985-542c209d98c1.png">

[2022-01-24 22:12] #59902 closed, assigned to nobody

[2022-01-24 22:24] ezebecke opened #60418 "Set Dimensions on blocks "Columns" "Group""
### Quick summary

The Dimensions panel doesn't seem available on some themes. Tested on "Twenty Twenty" and “Radcliffe 2". This might be a thing of older themes not supporting it. [This GH comment](https://github.com/WordPress/gutenberg/issues/28356#issuecomment-946458689) might suggest that.

### Steps to reproduce

1- Activate  "Twenty Twenty" or “Radcliffe 2"
2- Add a Column block and look for

[2022-01-24 22:30] Rolilink commented on #59926
To track the `wc-admin` loading we can use the `wcadmin_page_view` event with the path attribute being `home_screen`.

[2022-01-24 22:31] #59926 closed, assigned to allilevine

[2022-01-24 22:43] arinoch opened #60419 "Make early WordPress releases available to atomic users as an option."
### What

Allow atomic users to switch from the current stable version to a beta or prerelease version of WordPress.

### Why

This will allow users who want to to experiment with new features, developers who use our platform to begin work on integrating their projects with new WordPress, and more technical users to preview/test drive new features without needing to leave the wpcom environment.

#

[2022-01-24 22:46] arinoch commented on #60419
reading the thread at p1643045988024400-slack-C03TY6J1A reminded me that I was going to write this in response to p9o2xV-1Mq-p2. Since I didn't, now I did.

[2022-01-24 23:20] carinapilar commented on #53627
Ah, yes, I remember seeing that a bit after opening this request.

Since the request on the P2 was already marked as done, was a year old, and our Bugomattic tool only searches on GH repos, my thought was that opening this here would be more appropriate, so other HEs would be able to find that it's been reported already and contribute with new user interactions. 🙂

[2022-01-24 23:27] JoshuaGoode commented on #53627
Totally understandable and there should be Github issues opened for things like this for tracking and visibility.

However, for Atomic-specific platform changes, there must be an open Atomic request P2 post open for it as well. That will help ensure the Atomic platform team reviews it as a WordPress.com product team cannot make this change.

Feel free to open new Atomic requests in these cases.  O

[2022-01-24 23:46] noahtallen commented on #60375
Is it crucial for it to be a widget area, or does this also apply for HTML blocks in normal posts?

[2022-01-24 23:51] cometgrrl commented on #59526
Per https://github.com/WordPress/gutenberg/pull/37176#issuecomment-988425669, this page has not been made live yet by the core team.

Moving to the cross-repo tracking board.

[2022-01-24 23:56] carinapilar commented on #53627
Understood, although my understanding is that even in this case as an HE my responsibility is only to report to GH, then Bug Herders/PAs would triage and move to a P2 if necessary, but I'll keep that in mind for the next time. 😌

[2022-01-24 23:59] DustyReagan commented on #59516
I feel like it's happening outside of `useSiteSettings`, because it looks like it's being passed the wrong `siteId` as a parameter when the switch happens. But I'm not sure. 😞 I was thinking maybe it has something to do with the [flow-controler](https://github.com/Automattic/wp-calypso/blob/0011565890b9f25695b74c59d0c6dee4218e1446/client/lib/signup/flow-controller.ts). Just a hunch at this point.

[2022-01-25 00:04] the-misha commented on #59363
Also ran into this, as documented [here](p1642711188132200-slack-C0160HSMDQV).

[2022-01-25 00:31] cometgrrl commented on #59563
@formosattic Based on your callout that you tested on .org and simple for the expected, does that mean this is reproducible only on atomic sites?

[2022-01-25 00:32] #55955 closed, assigned to worldomonation

[2022-01-25 00:47] adelineyaw commented on #52728
Another report: 4710700-zen

I've made a comment to this related p2: p3btAN-1Ab-p2#comment-15424

[2022-01-25 00:51] roo2 opened #60422 "Make a placeholder change to get used to the deployment process - Griffith"
Add a `data-hello="world"` attribute (or something like that) to one of the elements on My Home and ship it!

"My Home" is https://wordpress.com/home/$yourTestSite.wordpress.com

This is a safe change to Calypso that'll be instructive for:
- making a change, and testing it locally
- making sure we have all the GitHub permissions right so you can create PRs
- see the sorts of tasks that run in CI
-

[2022-01-25 00:52] roo2 opened #60423 "Make a placeholder change to get used to the deployment process - Ashar"
Add a `data-hello="world"` attribute (or something like that) to one of the elements on My Home and ship it!

"My Home" is https://wordpress.com/home/$yourTestSite.wordpress.com

This is a safe change to Calypso that'll be instructive for:
- making a change, and testing it locally
- making sure we have all the GitHub permissions right so you can create PRs
- see the sorts of tasks that run in CI
-

[2022-01-25 01:08] roo2 commented on #59924
closed by D73127-code

[2022-01-25 01:08] #59924 closed, assigned to roo2

[2022-01-25 01:45] autumnfjeld opened #60424 "Intent Screen Iterations: analysis and suggestions on A/B tests to run"
## Description
TODO
Iterating on the Intent Screen P2: pdgK6S-un-p2

## Tasks
- [ ] tracks & funnel analysis
- [ ] P2
- [ ] decide on what we should change & get buy in
- [ ] run A/B test
- [ ] make sure not to conflict with Importers or othe intetn screen work

[2022-01-25 02:39] vindl commented on #60255
Pretty much what Grant said already. That's currently the case, but in the future, all of the themes will be like TT2 (block-based, non-Universal), while Universal themes are more of an intermediate concept for easier transition during the rollout.

[2022-01-25 03:18] creativecoder commented on #60255
@vindl Clarification question about this requirement... should FSE enrolled users see

1. All themes + "block-only" themes like Twenty Twenty Two, or
2. Only block themes (a.k.a. Blockbase universal themes + block-only themes like Twenty Twenty Two)?

The way the v1.2/themes endpoint is implemented right now is a bit limiting and doesn't support getting classic and block themes in a single request

[2022-01-25 03:41] inaikem commented on #59562
Note, this issue is related to the WordPress.com Editing Toolkit, so most likely specific to WPcom vs Core.

[2022-01-25 03:52] p-jackson commented on #60255
If it's "1." (which was my understanding from the issue description) could we also exclude "block-only" for now and protect the shipping date. And then follow soon afterwards with a change to the themes endpoint so it can return _all_ themes? Splitting seems like it'd de-risk both features and I think the FSE changes to `/start` still make sense without Twenty Twenty-Two.

[2022-01-25 04:19] retnonindya commented on #53626
4714924-zd-woothemes

Doing the usual site privacy switcheroo helped

[2022-01-25 04:45] rw-ye commented on #52182
Another report: 33603431-hc

Suggested the workaround of zooming out which worked.

[2022-01-25 04:49] #60423 closed, assigned to fushar

[2022-01-25 04:55] Greatdane commented on #58971
Google replied with these questions;

_Check all of the plugins and theme you are using for usage of the menu_order filter. It is highly likely a callback hooked to menu_order isn't returning as expected_

_Which other plugins do you have active on the site? Is there a chance one of them is using the filter incorrectly? We should report it there when we identify one._

Does Gutenburg use any of th

[2022-01-25 05:00] goblinartificer commented on #58971
4717341-zen and 4717256-zen reports today

[2022-01-25 05:14] lsl opened #60428 "Paypal setup task needs removing for non business plans"
This paypal setup flow needs disabling for non business plans.

https://user-images.githubusercontent.com/811776/150915280-125f3444-7c1b-4096-acff-63c66fbde300.mp4

[2022-01-25 05:16] simison commented on #60375
Does this happen only on .com or also self hosted Gutenberg?

[2022-01-25 05:19] lsl opened #60429 "WooCommerce menu missing after transfer"
Woocommerce menu missing after transfer

https://user-images.githubusercontent.com/811776/150915788-5fa0beb1-bfd5-4986-ac66-7963dccf6bdc.mp4

Transfer finishes around 53s.

Not sure why menu isn't showing up, could be caching, could be network miss, could be timing.

[2022-01-25 06:08] lsl commented on #59683
#60382

[2022-01-25 06:08] #59683 closed, assigned to lsl

[2022-01-25 06:23] formosattic commented on #59867
Able to reproduce, can confirm that the first Video block won't play at all on iOS and Chrome. In my case, the Video block was just a black box.

| iOS & Chrome (What happened)  | iOS & Safari (Expected display) |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/150922122-992afa7f-7c21-4160-8cad-c84e27594863.png) | ![image3](https://user-images.githu

[2022-01-25 06:38] retnonindya commented on #58971
Another incident:
33585425-hc

[2022-01-25 06:48] lsl opened #60430 "Install flow snag debugging"
p1643093344157100-slack-C029UPVMGTW

Not sure what we can do here, should probably check safari install flow is working.

[2022-01-25 07:16] formosattic commented on #58742
This looks very similar to https://github.com/Automattic/wp-calypso/issues/58835#issuecomment-1009730632 , Widget block editor also crashed on Simple site using Twenty Fourteen. Will close this one in favor of the other bug report.

Also noting that I can't reproduce this issue on Simple or Atomic site.

@jartes : is there any way you can see if you can reproduce the issue? If so, can you share th

[2022-01-25 07:16] #58742 closed, assigned to alshakero

[2022-01-25 07:19] formosattic commented on #58835
Widget block editor seems to crash inconsistently.

I followed the steps from the initial report but not getting any errors.

But I checked the case in https://github.com/Automattic/wp-calypso/issues/58835#issuecomment-1009730632 , and Widget block editor on the user's site is still loading blank.

[2022-01-25 07:30] retnonindya opened #60431 "FSE: Pagination Block: Setting the pagination to "Arrow" and "Chevron" causing raw HTML code displayed"
### Quick summary

On Pagination Block (Query Pagination Block,) when the pagination is set to use "Arrow" or "Chevron", the pagination will have raw HTML displayed on the live site.

### Steps to reproduce

- Open Editor, then check Query Loop Block. The block usually has Pagination Block. If it does not have any Pagination Block, you can add one.

- Then, on the block sidebar, set the pagination

[2022-01-25 07:42] formosattic commented on #59972
Discussing this internally: p2EDhh-1qG-p2

[2022-01-25 07:44] #60422 closed, assigned to taipeicoder

[2022-01-25 07:45] daria2303 commented on #58594
[4700701](4700701-zd-woothemes)
It appeared again: https://d.pr/i/03vzCd ?

[2022-01-25 07:49] formosattic commented on #52190
This makes a lot of sense as our doc is adapted to the experience on WordPress.com.

[2022-01-25 07:53] formosattic commented on #52191
This makes a lot of sense as our doc is adapted to the experience on WordPress.com.

[2022-01-25 07:53] vindl commented on #60255
@creativecoder In that case we can proceed with option 2. The way tracking is currently set up in the PR, `calypso_fse_enrolled` will fire after leaving the plans screen and before the design selection step. With option 1, we could record some users as FSE-enrolled, but they might pick a classic theme and effectively opt-out (note that this can still happen later in the Theme Showcase, but it's le

[2022-01-25 07:57] i11za opened #60433 "Redundant notice in Media Library following removal of legacy unlimited upload plan"
### Quick summary

A site had a legacy "unlimited upload space" Business plan, until the plan was adjusted to monthly billing, and as a result the legacy plan was removed, leaving the site in the general 200GB max like everyone else.

They're above max storage, and this notice is showing on their Media Library:

![image](https://user-images.githubusercontent.com/84193945/150933411-40d6d781-cf34-40

[2022-01-25 08:30] arinoch commented on #60375
@noahtallen - HTML blocks in posts appear to be fine. Just widgets seem to have the problem. Although, the HTML block in posts on simple sites has its center tags stripped, in contrary to [this doc](https://wordpress.com/support/code/). No additional tags are added.

@simison- Self-hosted appears also to be affected, but again just the HTML block in a widget--posts are fine. Extra paragraph tags a

[2022-01-25 08:37] edwinho89 opened #60435 "Slow Performance When Editor Contains Gallery Blocks"
### Quick summary

When editing posts with gallery block, typing appears to be slowing down, or stuttering when typing them.

While editing posts without gallery block, typing appears to be handling normally without the slowness.

### Steps to reproduce

1. Create a new post, add some contents like paragraph blocks as you would.
2. Add gallery block with multiple images.
3. Add more contents after

[2022-01-25 08:47] formosattic commented on #59975
This makes a lot of sense as our doc is adapted to the experience on WordPress.com.
I updated the initial post with the Jetpack link.

[2022-01-25 09:03] formosattic commented on #59976
This makes a lot of sense as our doc is adapted to the experience on WordPress.com.

I updated the initial post with the Jetpack links.

Also, emphasizing that we only want to change link for **Learn More**, the links for **Privacy Information** can stay as is.

[2022-01-25 09:52] formosattic commented on #59563
@cometgrrl, yes, I updated the initial post for clarity.

The issue happens on Simple, and Atomic sites (regardless of WordPress.com Editing Toolkit activated or not).

My testing on a .org self-hosted site with FSE Beta works fine and shows what's expected.

[2022-01-25 09:55] cpapazoglou commented on #60137
On the meantime we probably should add a fallback slug with `woocommerce-com` prepended to check against the installed plugins.

p9o2xV-1Of-p2#comment-5500

[2022-01-25 10:33] gavande1 opened #60437 "Marketplace: Add/update pricing for Yoast premium plugin"
### Details
Yoast premium is already added to store products in WPCOM. We need:
- add a monthly plan for the Yoast premium to WPCOM Store. We also need to update the yearly pricing.
- update the annual price

You can find pricing information: pdh6GB-cN-p2
More on adding / updating store products here: PCYsg-rD-p2 and PCYsg-CJy-p2

[2022-01-25 10:38] gavande1 opened #60438 "Marketplace: fix `accounting_product_variation_slug` for Yoast Premium Yearly Plan"
### Details

Right now, the `accounting_product_variation_slug` is set to `yoast-premium` for the yearly plan. We need to update it to `yoast-premium-yearly` for better visibility.

We probably need to have a utility script to fix the slug. e.g. D65487-code

[2022-01-25 10:38] #60342 closed, assigned to bogiii

[2022-01-25 11:11] gavande1 opened #60441 "Marketplace: Verify License provisioning for Yoast Premium plugin"
### Details

We need to check if License provisioning is still working as expected. The current implementation for provisional licenses for Yoast Premium is located here: `async-jobs/includes/wpcom-marketplace.php`

[2022-01-25 11:16] gavande1 opened #60442 "Marketplace: Add Yoast Premium to the Marketplace Endpoint"
### Details

In order to sell Yoast Premium, we need to show the product on the front end. To show products on the front end, we need the product information on the API endpoint `https://public-api.wordpress.com/wpcom/v2/marketplace/products`.

While adding products, we need to take care of the following:
- [ ] Add yoast premium plugin definition (statically) (let's ask marketing for content). Yoa

[2022-01-25 11:21] gavande1 opened #60443 "Marketplace: Update the plugins screens to accommodate new plugins."
### Details

Right now, we have only 6 plugins on Marketplace and all of them are featured right now. Now on, we are going to add a few plugins in Marketplace every two weeks. That's great! However, there is a problem that we can't display all paid plugins in the featured section. we probably need a page where we can display all paid plugins.

We should also add the button `View All` or something

[2022-01-25 11:32] gavande1 opened #60444 "Marketplace: Support adding a domain in the purchase flow"
### Details

This is front-end issue is where we need to handle purchase flow for Yoast Premium. It's worth noting that, the Yoast Plugin requires to have a **primary domain** when purchased. So, we need to allow users to purchase a domain along with the plugin. This would be our first bundled product in Marketplace.

The purchase flow is already built earlier, but we need to make adjustments acco

[2022-01-25 11:37] gavande1 opened #60445 "Marketplace: Yoast Premium sales metrics through WPCOM"

[2022-01-25 11:51] Rolilink commented on #60429
This happened to me too when testing the "we hit a snag" track events implementation

[2022-01-25 12:52] chriskmnds commented on #60345
@escapemanuele I've updated the description and title on this.

I thought about this some more, mainly in the context of our recent chat in the other PR. This is ok to work on for now, as it will help with a further refactor next. However, I think Tour Kit should not control things this way (mobile/desktop) next, but instead just let the consumer decide what steps/classes to include in a single co

[2022-01-25 12:53] jackiejade opened #60447 "Widget Visibility effecting actual visibility in Customizer"
### Quick summary

When widgets are added to the Customizer and visibility is selected for a static page, the widget becomes "invisible" in the Customizer. The widget is still visible on the front end of the site but it does not show in the Customizer, unless you hover.

### Steps to reproduce

1) navigate to the Customizer > Widgets
2) Add a widget
3) Select Visibility and set to a static page
4)

[2022-01-25 12:57] KokkieH commented on #59985
+1. Just ran into it myself on my blog.

[2022-01-25 13:01] cpapazoglou commented on #60323
One idea would be checking against the same WordPress version as in Atomic, @WBerredo is that something we can do? Or avoid checking beta / rc versions.

[2022-01-25 13:29] cpapazoglou commented on #60444
@SaxonF are we going to use the figma designs / flow here oU6nEIeiKSg8CayhEtgR6b-fi-6450%3A42026 ?

Also, can you suggest how users will buy a new domain in this flow? Are we redirecting them to the domains page?
<img width="1581" alt="SS 2022-01-25 at 15 28 41" src="https://user-images.githubusercontent.com/12430020/150985666-863f12b9-6a93-4805-93ae-ad15dbde36db.png">

or do we have a more standa

[2022-01-25 14:16] escapemanuele opened #60454 "Welcome Tour: onStepViewOnce callback has tourSteps as side-effect"
### What

We introduced the `onStepViewOnce ` callback in [#59719](https://github.com/Automattic/wp-calypso/pull/59719).

In the Welcome Tour the callback function uses `tourSteps`, but that is a side-effect, as it is coming from the outer context. We should rethink this approach.

[2022-01-25 14:41] kspilarski commented on #43131
I have the same issue in connecting Instagram on my AT site. Selecting an account, or adding a new account shows "Embedding", then it goes back to "Select your Instagram account" again.

<img width="1623" alt="Screen Shot 2022-01-25 at 1 59 50 PM" src="https://user-images.githubusercontent.com/36863633/150997920-cdbe847d-5b45-4915-b9ce-5400fd3a6eb5.png">

<img width="1650" alt="Screen Shot 2022-01

[2022-01-25 14:55] #59670 closed, assigned to WBerredo

[2022-01-25 15:16] #59700 closed, assigned to escapemanuele

[2022-01-25 15:16] #59763 closed, assigned to escapemanuele

[2022-01-25 15:23] bogiii commented on #60237
I can not reproduce the issue anymore. 🤷‍♂️

[2022-01-25 15:23] #60237 closed, assigned to nobody

[2022-01-25 16:03] #60370 closed, assigned to bogiii

[2022-01-25 17:16] #49797 closed, assigned to BogdanUngureanu

[2022-01-25 17:21] #59899 closed, assigned to gcsecsey

[2022-01-25 17:23] DavidSaladu commented on #52347
The issue seems somehow logical and at this point, I'm somehow hesitant to consider it myself a bug. It happened as well in 4707132-zd-woothemes and I noticed that the icons did appear correctly by opening a lone post directly, but broken when opened through the blog post block. Having it on a page it makes sense that pages have to be enabled for it.

In fact, after disabling pages and testing a p

[2022-01-25 17:31] BogdanUngureanu commented on #44290
I wasn't able to trigger the API call from the front-end, probably because the block has been refactored in the meantime. Closing this since no changes are required. :)

[2022-01-25 17:31] #44290 closed

[2022-01-25 17:41] dcoleonline commented on #52728
Reported in 32784736-hc

[2022-01-25 17:43] obenland commented on #59742
Closing in favor of #51594

[2022-01-25 17:43] #59742 closed, assigned to nobody

[2022-01-25 17:46] cuemarie commented on #53595
I believe I encountered close to this issue today, here: 33855257-hc

Safari didn't crash, but this user in Safari couldn't open either of their 2 posts that contained PDFs. The PDF settings defaulted to `Show inline embed`, and when I disabled this for them, they could get back into the posts.

With the latest updates to the PDF embed (not showing inline embed on front end sites anyway), I wonder

[2022-01-25 17:54] jmdodd commented on #51594
What is the expected behavior for a site with a Free plan but 6 GB of media uploaded while it had a Personal plan (example)? Should this site be eligible to upgrade?

[2022-01-25 18:21] obenland commented on #59190
@SaxonF Have you had a chance to take a look at this yet?

[2022-01-25 18:24] #59927 closed, assigned to worldomonation

[2022-01-25 18:24] #59929 closed, assigned to worldomonation

[2022-01-25 18:45] eduardozulian commented on #59581
Also reproduced during our team testing: p7BLOB-4mD-p2#comment-5292

[2022-01-25 18:46] Addison-Stavlo commented on #58971
https://github.com/Automattic/wp-calypso/pull/60462 should fix this issue.

[2022-01-25 18:59] creativecoder commented on #60255
PR now updated

- Triggers `calypso_fse_enrolled` for all new sites, adding the `site_enrolled` property as true/false, depending on fse enrollment for the user.
- Show only block-based theme (universal and block-only) in the design picker step for FSE enrolled users/sites

[2022-01-25 19:00] sirbrillig commented on #52215
Even though a good deal of checkout remains dependent on calypso, the largest parts of this have been completed, so I'm going to close this for now.

[2022-01-25 19:00] #52215 closed, assigned to sirbrillig

[2022-01-25 19:20] #58971 closed, assigned to mattwiebe

[2022-01-25 19:29] allilevine commented on #59478
@lsl Have these been added/identified in https://github.com/Automattic/wp-calypso/issues/59926?

Transfer completes - redirect
Install completes - redirect

[2022-01-25 19:40] kathrynwp commented on #60240
Also encountered in 4719818-zen

Switched to Reader mode as workaround

[2022-01-25 19:43] allilevine commented on #60331
This is the color I see on other /start inputs:
`var( --color-neutral-70 )`

[2022-01-25 19:45] WBerredo commented on #60323
The version we use on atomic currently is `5.8.3`. While the version is used on simple sites is `5.9-beta4-52009`.
So even if we remove the beta check we would still be showing less coverage in free sites than atomic sites.

There is a possibility to know which version atomic is using? It would be more trustworthy info.

[2022-01-25 19:46] darnelldibbles commented on #57687
User in https://wordpress.com/forums/topic/colors-and-capitals/?view=all is also reporting the same issue is still occurring. Tried the copy and paste method as well.

[2022-01-25 20:27] metabreakr commented on #51284
This appears to be the same as @ivan-ottinger's issue: https://twitter.com/FUNG14/status/1486055460251873283

[2022-01-25 20:36] SaxonF commented on #59190
Hey @obenland , I think we can have something for you by the end of the week.

[2022-01-25 20:37] cometgrrl commented on #60375
@kerrynicl or @arinoch Can you please file a new bug at [WordPress/gutenberg](https://github.com/WordPress/gutenberg), and put this one on the [HE Cross-repo Watchlist ](https://github.com/Automattic/wp-calypso/projects/116)?

[2022-01-25 20:38] SaxonF commented on #60444
Good questions @cpapazoglou . I'm off today but can look at this tomorrow .

[2022-01-25 20:40] metabreakr commented on #46802
Another report here: https://twitter.com/douglaskarr/status/1486049605498417152

[2022-01-25 20:50] csonnek commented on #52728
Another report: https://wordpress.com/forums/topic/adding-media-adding-buttons-to-home-page/?view=all

[2022-01-25 20:58] allilevine commented on #59478
Started PR here: https://github.com/Automattic/wp-calypso/pull/60467

[2022-01-25 21:01] worldomonation commented on #57333
Done.

[2022-01-25 21:01] #57333 closed, assigned to nobody

[2022-01-25 21:18] obenland commented on #58433
Discussed in State of the Board and it looks like we don't use subsets anymore. Closing.
p1643144965204000-slack-C029UPVMGTW

[2022-01-25 21:18] #58433 closed, assigned to nobody

[2022-01-25 21:27] obenland commented on #60318
Let's timebox the effort to reproduce the error to an hour.

[2022-01-25 22:02] thekingsprojects opened #60469 "Gallery: Unable to rearrange images by dragging and dropping in "Edit gallery" modal"
### Quick summary

Slideshow gallery blocks (possibly also other gallery blocks), as well as galleries added to a Classic block, cannot have their images arranged by dragging and dropping in the "Edit gallery" modal (the wp-admin–style verison).

### Steps to reproduce

1. Add a gallery to a page (example: Slideshow block) and add images to it.
2. Save the page and leave the editor.
3. If you're u

[2022-01-25 22:18] JoshuaGoode commented on #53627
I'd recommend reporting directly to the Atomic folks over on our internal P2, doesn't look like this was ever moved to the right place.

Anyway, thank you for reporting it.  We did indeed deploy WebP for GD. Closing this issue.

[2022-01-25 22:18] #53627 closed, assigned to nobody

[2022-01-25 22:59] p-jackson opened #60471 "Use PTK to queue demo site content for translation in glotpress"
D73773-code

[2022-01-25 23:05] p-jackson opened #60472 "Patterns Toolkit dashboard in MC shares recommended theme code with WPCOM project"
D73774-code

[2022-01-25 23:33] arinoch commented on #60375
https://github.com/WordPress/gutenberg/issues/38229

[2022-01-25 23:39] arinoch commented on #60375
While we wait for core to take a look, can we address the <center> and </center> tags being stripped out of simple sites? That seems to be an oversight only discovered as a result of my testing this issue.

[2022-01-26 00:30] cometgrrl commented on #59564
This seems like it might be an upstream Gutenberg/core issue. @zdenys have you tried to reproduce on a self-hosted or jurassic.ninja site?

[2022-01-26 00:32] cometgrrl commented on #59566
Added to the HE Cross-repo Watchlist.

This issue is tracking an issue in another repository. All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the outside repository.

[2022-01-26 00:48] cometgrrl commented on #59801
Given that there are some simple workarounds, a lot of specifics required to hit this bug, I'm reducing the priority to low.

[2022-01-26 00:59] cometgrrl commented on #59977
The ⓘ has been replaced by "learn more" links that all point to wordpress.com articles. This is no longer reproducible as written.

[2022-01-26 01:03] inaikem commented on #57170
Reopening the issue for review. @Greatdane, can you and @Automattic/dotcom-triage-pa-group try to reproduce @ahmadbaig1's new report above?

@chad1008, if there are any recent updates you can think of that might be related, we'd appreciate any help!

[2022-01-26 01:16] worldomonation commented on #59830
I attempted to reproduce this.

Browser: Google Chrome 97.0.4692.99

There are two scenarios as far as I can tell - accounts with only one site, and accounts with multiple sites.

## Single site

https://user-images.githubusercontent.com/6549265/151086711-45b3ee1d-2d4c-4562-a982-9201b16a1f54.mov

## Multiple site
https://user-images.githubusercontent.com/6549265/151086583-dc03a666-93c6-4ea1-81d4-f

[2022-01-26 01:27] cometgrrl commented on #59830
@backwardstruck Can you see if this is still reproducible for you? If so, we'll need more details, as it's working for us.

[2022-01-26 02:31] autumnfjeld commented on #51787
@DanAntion : @arthur791004 and I are going to be handling this issue going forward until it is resolved.  Right now we are looking at how cookie expiration might be at fault.  A cookie stored in your browser keeps you logged in so to speak, and this [comment you left](https://github.com/Automattic/wp-calypso/issues/51787#issuecomment-871370679) provides some clues that perhaps you were logged out

[2022-01-26 02:39] p-jackson opened #60477 "Fix incorrect grammar in `site-setup` flow's page title"
### Steps to reproduce

- Begin at `/start`
- Go through the onboarding flow, creating a site, until you get to the step where you are asked to choose between "build" and "write"
- Take a look at the page title

### What I expected

The page title should use correct English grammar i.e. "Set up your site"

### What I saw

The title is: "Setup your site".  But "Setup" is a noun in English.

<img wi

[2022-01-26 02:40] kuropixel opened #60478 "Live Chat blocks "Add record" on domain records page"
### Quick summary

A user in live chat brought to my attention that the "Add record" button when managing domain records is hidden when live chat is open.

### Steps to reproduce

1. Have live chat open as a user
2. Navigate to domains, then go to manage records page
3. The "Add a record" button is hidden because of the live chat window.

### What you expected to happen

Users should still be able

[2022-01-26 02:48] DanAntion commented on #51787
Thank you very much for this update!

Dan

[2022-01-26 04:00] SaxonF commented on #60323
One option is to move that message to the plug-in detail page closely mapped to the install button.

Also, for plugins that we feature or are in the popular list I wonder if it's worthwhile creating a process around which we test those internally?

[2022-01-26 04:14] edwinho89 commented on #58083
33396918-hc

User reported having similar issues when attempting to add links to a paragraph.

It is unclear to how user add links to their post (asking for it) however the scenario above is similar.

[2022-01-26 05:51] Robertght commented on #57226
New case in 4717524-zen

[2022-01-26 07:02] zdenys commented on #59564
I have not, @cometgrrl. I reported it directly on this repo since I tried only on WP.com.

[2022-01-26 07:12] nagpai commented on #53626
#32946607-hc

[2022-01-26 07:35] Greatdane commented on #60072
@cometgrrl, @delputnam, we have recently had another example of a user not wanting to share a file directly, but a google doc. Because the URL does not end in a "/" the redirect is not working.

See; p2EDhh-1qV-p2

An example would be this text page URL
https://docs.google.com/spreadsheets/d/e/2PACX-1vT3ohhKd2BxUinxkgSln6OG_l3ln5njr1tROtGgM3OhYOhJGCO1Z8uZwcMDBcjvzvMoKD-3Y8KRu_Ut/pubhtml?gid=0&sing

[2022-01-26 07:59] Greatdane commented on #57170
@inaikem I played around with the above two themes (Outspoken and Port), but was unable to replicate on my test site. I wonder if this is just something affecting older sites (both reports are from blogs > 5 years old with retired themes)

[2022-01-26 09:04] devNigel commented on #60072
Re-opened this issue. I think we should revisit the use-case of Site Redirect subscription. It does not make sense to assume Site Redirect will be only used by users to point to a WordPress site hosted elsewhere. That comment is also almost 8 years old and WordPress.com has come a long way since then.

[2022-01-26 09:28] jasmussen commented on #58921
Thank you for the report! I'm not able to reproduce:
![test](https://user-images.githubusercontent.com/1204802/151137626-723819ae-f9fb-4531-8aa7-8a489a452a45.gif)

Are you able to provide some example markup I can copy, perhaps a theme wherein it's broken?

[2022-01-26 10:05] cpapazoglou commented on #57762
As per p1642483663013800-slack-C08JMM3LN

There are scorecards created for `wordpress-com` and `product=wp-marketplace`.

For the time being reports attribute 100% in WordPress.com but this will be fixed to attribute 30% to WordPress.com and 30% to 3pd (including WooCommerce.com).

[2022-01-26 10:05] #57762 closed, assigned to nobody

[2022-01-26 10:42] liviopv opened #60483 "AMP: turn off "Redirect mobile visitors to AMP" on Atomic sites by default"
### What

When a site is moved to the Atomic platform, the AMP plugin is automatically installed and configured to `Redirect mobile visitors to AMP` on AMP > Settings > Other with no warning to the user.

This feature makes the site load only AMP versions on mobile, which can cause numerous issues considering the number of plugins and themes that are not compatible with AMP.
![Markup on 2022-01-26

[2022-01-26 10:44] fjorgemota commented on #57991
Another case - 4712777-zd-woothemes

[2022-01-26 10:49] cpapazoglou commented on #60323
@SaxonF there is a paradox happening here:
- Simple sites are on `5.9-beta4-52009` and most plugins are **untested**
- Atomic sites are on `5.8.3` and most plugins are **tested**

Trying to install a plugin from as a simple site will transfer the site to Atomic, in which case the plugin would be tested. So, what we should really do is check against the version of WordPress in which the plugin will

[2022-01-26 11:47] SaxonF commented on #60323
That sounds fine to me but I also lack a lot of historical context so might not be the best person to ask in this case.

I'm sure we'd find out pretty quick if we need to surface more info via feedback, error logs pertaining to plugins etc

[2022-01-26 12:43] daria2303 commented on #53102
4713402-zd-woothemes

[2022-01-26 13:41] vindl opened #60490 "[Bug]: Dashboard button doesn't work in FSE Beta"
### Quick summary

There is an edge case in Site Editor that breaks the functionality of the Dashboard button.

### Steps to reproduce

1. Use a test site with FSE enabled.
2. Open the Site Editor.
3. Click on the Template dropdown in the top toolbar.
4. Click on "Browse All Templates".
5. Click on Dashboard menu item.

### What you expected to happen

The app navigates back to the My Home screen.

[2022-01-26 13:42] simison commented on #60375
`center` tag is HTML4, not quite sure if it's worth adding support for 90's tech anymore. :-)

[2022-01-26 14:17] sixhours commented on #59966
This was closed in #59678

[2022-01-26 14:17] #59966 closed, assigned to sixhours

[2022-01-26 14:17] sixhours commented on #59991
Closed in #60251

[2022-01-26 14:17] #59991 closed, assigned to sixhours

[2022-01-26 14:18] sixhours commented on #59999
Calling this fixed by #60251

[2022-01-26 14:18] #59999 closed, assigned to nobody

[2022-01-26 14:27] cpapazoglou opened #60493 "Marketplace: support Vendor information for each wpcom store product"
For attributing revenue to the correct vendor of each product we will need a way to link each product with their vendor (eg `woocommerce`, `yoast`).

Related convo: pdh6GB-1b-p2#comment-514

[2022-01-26 14:37] sixhours commented on #59951
Strand IDs for ref:
Byrne: 100777
Payton: 105540
Kerr: 105541
Skivers: 105542
Baxter: 105543
Alonso: 105544

[2022-01-26 15:04] zaerl opened #60495 "No redirect after importing file uploaded"
#### Steps to reproduce
- Go to http://calypso.localhost:3000/start/importer/capture?siteSlug=SITE_SLUG
- Add an URL of importing flows that need a file upload (Blogger, Medium, Squarespace)
- Click "import your content"
- Select a valid file
- Close the page or refresh it
- Now the upload pane shows "Success! File uploaded." and you cannot move further

[ImporterDrag](https://github.com/Automatti

[2022-01-26 15:07] dpasque commented on #60490
This is a duplicate of #60110, closing in favor of that one!

[2022-01-26 15:07] #60490 closed, assigned to nobody

[2022-01-26 15:44] dpasque commented on #56144
It seems like this remains unreproducible, and the potentially related issue has been fixed in recent Gutenberg upgrades, so closing this issue for now.

If this crops up again, please feel free to re-open!

[2022-01-26 15:44] #56144 closed, assigned to nobody

[2022-01-26 15:49] dpasque commented on #55610
Bringing priority down to Normal due to availability of easy work around.

[2022-01-26 15:53] dpasque commented on #55021
Moving to Ganon initially as the above investigation indicates this has to do with the navigation in the `/start` flow rather than specifically adding professional email.

[2022-01-26 15:56] dpasque commented on #52191
Switching prioritization to Normal for now due to the ability to still find these docs when searching WordPress.com support, and that the .org docs still have relevant, although not the best, information.

[2022-01-26 16:05] dpasque commented on #50273
In retesting this, this appears to now be fixed (could be from linked PR, or the reworking and redesign of the `/start` flow)

[2022-01-26 16:05] #50273 closed, assigned to nobody

[2022-01-26 16:16] davipontesblog commented on #58328
This is what I see now with WordPress 5.9 in WordPress.com simple site:

<img width="955" alt="Screen Shot on 2022-01-26 at 11-14-31" src="https://user-images.githubusercontent.com/31009008/151202016-e6c30c87-c49c-400c-aad4-f54380e1735b.png">

It does take me to the site editor too. Closing this as done.

[2022-01-26 16:16] #58328 closed, assigned to nobody

[2022-01-26 16:18] #46658 closed

[2022-01-26 16:24] davipontesblog commented on #22426
Since this is available on the Form block from Jetpack, I am closing this as "won't fix". This issue relates to the classic editor contact form it seems.

[2022-01-26 16:24] #22426 closed

[2022-01-26 16:24] griffbrad commented on #58511
@enejb Feel free to reach out to @Automattic/team-calypso-frameworks for review as well. Sounds like an interesting issue. I’m not totally sure that _all_ modals should use browser history in this way. Looking at Gutenberg, for example, rendering the modal component also typically doesn’t push a change to the URL.

[2022-01-26 16:24] davipontesblog commented on #50680
Closing as this is no longer offered.

[2022-01-26 16:24] #50680 closed, assigned to niranjan-uma-shankar

[2022-01-26 16:25] davipontesblog commented on #49394
Closing as this is no longer offered.

[2022-01-26 16:25] #49394 closed, assigned to nobody

[2022-01-26 16:25] davipontesblog commented on #34375
Closing as this is no longer offered.

[2022-01-26 16:25] #34375 closed

[2022-01-26 16:33] arinoch commented on #60375
Apparently this is a known gutenberg issue. We now follow https://github.com/WordPress/gutenberg/issues/33832

@simison - The test code I used came from a user's site (not sure if it's part of the original code or was added by the user--it was a piece of embed code), but given that it's still in active use I think it being stripped might pose questions. Not married to the idea, just noting the onl

[2022-01-26 16:35] ClassicRKR27 commented on #60469
I've got another report here: 33364218-hc

[2022-01-26 16:42] delputnam commented on #60478
Nomado is tracking this on our Asana sprint board now.  We'll update the issue once we've merged a fix.

[2022-01-26 16:52] liviopv commented on #60483
33604686-hc

[2022-01-26 17:02] obenland commented on #58142
We could add a late filter to `admin_notices` and only display one.
For AMP we could pre-populate the `dismissed_wp_pointers` option with it's notice id to permanently dismiss it.

[2022-01-26 17:06] dpasque commented on #59315
It sounds like this needs to be tested for reproducibility, and based on that might be able to be closed or have its priority lowered. I'm not entirely sure what the full workflow is from the comments above though, awaiting more input on that!

[2022-01-26 17:07] sixhours commented on #59245
@scruffian took care of this and both Videomaker and Videomaker White are launched! 🥳

[2022-01-26 17:07] #59245 closed, assigned to nobody

[2022-01-26 17:08] backwardstruck commented on #59830
Hi! Thank you for looking into this issue. I feel like it was still
happening last week but I just tested again. It seems to be working fine
now. Feel free to close the ticket.

On Tue, Jan 25, 2022, 20:27 cometgrrl ***@***.***> wrote:

[2022-01-26 17:13] dpasque commented on #3140
@Nic-Sevic 👋  I was looking through this issue and chat transcript, and from what I can tell, it actually looks like the transcript may have documented different behavior than this?

Reading through the transcript, it looks like the user was actually _unable_ ultimately to remove the owner from the WordPress.com site ownership. Does that sound right? I might be misunderstanding! Thanks! 😄

[2022-01-26 17:24] jartes commented on #18283
@igotdes thank you so much for the heads-up and the complete explanation 😄

And yes, it totally makes sense to open a new issue and mention this one.

[2022-01-26 17:49] sixhours commented on #59996
This is fixed by D73399-code and https://github.com/Automattic/wp-calypso/pull/60263

[2022-01-26 17:49] #59996 closed, assigned to mreishus

[2022-01-26 18:19] gutenberg-plugin-upgrade-bot[bot] opened #60500 "Gutenberg: v12.5.x plugin upgrade"
Previous upgrade: #59840
Release notes: [v12.5.4](https://github.com/WordPress/gutenberg/releases/tag/v12.5.4)

**Install and activate**
- [x] Copy & install v12.5.0-rc.1 (D73827-code, D73829-code)
- [x] Activate v12.5.0-rc.1 on edge (D73830-code)
- [x] Copy & install v12.5.0 (D74290-code, D74295-code)
- [x] Activate v12.5.0 on edge (D74301-code)
- [x] Activate v12.5.0 on production (D74302-code)

[2022-01-26 18:22] mattmiklic commented on #55141
I like the more visual header, rotating headline/subhead, and QR code.

Re: linking the app store buttons to apps.wordpress.com, maybe http://apps.wordpress.com/get/ would be better as it would take the user directly to the app store if they're on iOS or Android?

[2022-01-26 18:33] #59938 closed, assigned to JulianBustamante

[2022-01-26 18:40] enejb commented on #58511
Thanks for the offer to help @griffbrad. Will pong team calypso for a review as well.
I agree that it might not apply to all modals but we can implement it as a prop and then easily added to the modals that should have it.

[2022-01-26 18:44] ClassicRKR27 commented on #59787
I've got another report here also with the Hever theme: [33616556-hc](https://hud.happychat.io/chat/33616556)

[2022-01-26 18:48] jrushfinn commented on #55141
@mattmiklic Thanks for taking a look.

Sorry, yes that's the URL I meant to put! I was also envisioning this as a desktop-only design. It looks like this is the banner on mobile web and it does seem to link directly to the app store.
![IMG_1175](https://user-images.githubusercontent.com/88454344/151226834-6fb068a2-8729-4374-a8fc-b5e1e3de31b5.jpg)

[2022-01-26 18:58] daledupreez commented on #55021
Might this issue be rendered obsolete by the new hero flow? The URL we build for the post-checkout redirect uses `siteId` and not `siteSlug`. (I was testing signup and checkout flows earlier today.)

Ganon should be able to confirm, but truly squishing the bug may depend on the rollout of hero flows.

[2022-01-26 18:58] zaguiini commented on #58663
I'll work on adding TT2 right now.

[2022-01-26 19:03] zaguiini commented on #58682
I believe we can close this now.

[2022-01-26 19:06] sixhours commented on #59319
Tested and I'm still able to reproduce this if I'm using a non-Atomic Jetpack site and I reenable premium themes for it in Calypso (they're currently hidden). Leaving open for now.

[2022-01-26 19:13] ChrissiePollock opened #60503 "Image Missing in Layout Grid on Quadrat-Green"
### Quick summary

The image appears in the Editor, but not on a published page.

### Steps to reproduce

1. Make sure you are using the Quadrat-Green theme
2. Add a Layout Grid
3. Add an image
4. Publish the page
5. Notice the image is missing

### What you expected to happen

I expected to see the image just as it shows in draft.

Here it is in TwentyOne (my screenshot doesn't show the phone # o

[2022-01-26 19:14] kathleenjross opened #60505 "Block-Based Themes: Search Results Archive Page is limited to 10 results, no pagination"
### Quick summary

User reached out in 33876389-hc, pointing out that the search results page was limited to 10 results, even though their search term yielded 16 results in their Posts area. I was able to confirm this issue on my test site, using their theme, Geologist (Cream), but I also tested with several other block-based themes.

### Steps to reproduce

1. Test on site that has more than 10 p

[2022-01-26 19:24] tvolpert commented on #60503
I briefly played into this ticket at the same time as Chrissie somehow, and discovered that it has something to do with the circle mask on the image. If you remove the class `is-style-circle-mask` from the `figure` element in dev tools, the picture shows up. I couldn't find any CSS rules relating to that class, so I'm not sure how it's hiding the image.

[2022-01-26 19:43] JulianBustamante commented on #59938
Deployed r239000-wpcom

[2022-01-26 19:46] jp-imagines opened #60506 "Shoreditch: Headers & Links color inherited by editor elements"
### Quick summary

If you set a custom "Headers & Links" color on the Shoreditch theme, various elements of the block editor inherit or reflect this color selection:
* Top settings button backgrounds (undo, redo, list view, Jetpack menu, etc.) on hover
* Right-side settings pane accordion headers on hover
* Right-side settings pane text
* Block toolbar button backgrounds on hover
* Empty "layout"

[2022-01-26 19:46] #60265 closed, assigned to blackjackkent

[2022-01-26 19:47] jackiejade opened #60507 "Color Picker for Paragraph Block: Hex Color code input not working as expected"
### Quick summary

When going to edit the color of text in a paragraph in the page/post editor, if you want to put in your own hex color code, you are unable to type into the box. The box keeps defaulting to #000000 As seen in this screencast:
https://d.pr/i/sxLf0K

### Steps to reproduce

1. Write a new paragraph of text using a Paragraph block
2. Highlight a word that you'd like to change color

[2022-01-26 19:49] jackiejade commented on #60507
Forgot to put the user transcript: 33875036-hc

[2022-01-26 19:53] CompChris commented on #59787
Another report (Twenty Twenty-One) - 31664225-hc

[2022-01-26 19:54] ClassicRKR27 commented on #59787
Another one here for Shoreditch: [33004462-hc](https://hud.happychat.io/chat/33004462)

[2022-01-26 20:04] chad1008 commented on #59840
Closing this and continuing with the next version in https://github.com/Automattic/wp-calypso/issues/60500

[2022-01-26 20:04] #59840 closed, assigned to nobody

[2022-01-26 20:07] tellisbethel commented on #60469
Another report here: 4723208-zd-woothemes
Suggested user try the Block Editor which they're fine with now, but would like to know when a fix will become available.

[2022-01-26 20:08] #60331 closed, assigned to DustyReagan

[2022-01-26 20:09] sixhours commented on #14896
I can't reproduce it now. Closing!

[2022-01-26 20:09] #14896 closed

[2022-01-26 20:12] kathrynwp opened #60508 "Stewart - Sidebar content not aligned properly in the editor"
### Quick summary

After activating Stewart on a Simple WordPress.com site, the sidebar content is aligned at the bottom, instead of the top on desktop. Other overlapping occurs in both mobile & tablet previews.

### Steps to reproduce

1. Activate Stewart on a Simple site
2. Choose the option to replace the homepage content with the demo content

### What you expected to happen

At this point I w

[2022-01-26 20:16] kathrynwp opened #60510 "Stewart: Group block in demo content shows error"
### Quick summary

After activating Stewart and choosing to use its demo content on a Simple WordPress.com site, the group block below the Site Title displays a block error.

### Steps to reproduce

1. Activate Stewart on a Simple site
2. Choose the option to replace the homepage content with the demo content

### What you expected to happen

No block errors should be present

### What actually ha

[2022-01-26 20:41] ChrissiePollock commented on #60366
{code: 200, headers: [{name: "Content-Type", value: "application/json"}],…}
body: {success: true, upgrade: {ID: "10823473", user_id: "27047333", blog_id: "72350984", product_id: "6",…}}
success: true
upgrade: {ID: "10823473", user_id: "27047333", blog_id: "72350984", product_id: "6",…}
ID: "10823473"
active: "1"
amount: 18
attached_to_purchase_id: "10708692"
auto_renew: "0"
bill_period_label: ""
b

[2022-01-26 20:47] delputnam commented on #60366
Thanks for walking me through this @ChrissiePollock

To summarize the issue we found: the domain in this test renews with the plan so it's not possible to enable/disable auto-renew for the domain separately.  In this case, we shouldn't be showing the auto-renew toggle at all.

Nomado will add this to our next sprint and will update this issue when we deploy a fix.

[2022-01-26 21:03] happychait commented on #57680
A customer asked about it in 33878296-hc

[2022-01-26 21:19] kwight commented on #60154
Closed by #60222

[2022-01-26 21:19] #60154 closed, assigned to nelsonec87

[2022-01-26 21:27] blackjackkent commented on #60152
The majority of the work for this issue was completed in #60415, which implemented the "recommended" theme and put the logic in place to sort a separate theme category to the top when the user is in the 'sell' intent. Currently it is using the "Business" category for this purpose since it's all still behind a feature flag anyway, but can be updated in future when the designers have put together th

[2022-01-26 21:30] katiebethbrown opened #60515 "Additional CSS Section In Customizer Jumps When Scrolling"
### Quick summary

Scrolling through Additional CSS added in the Customizer isn't smooth. The scroll jumps back up, making it difficult to review all the code and keep a visual placeholder.

GIF - notice the line numbers as I scroll down:

![CleanShot 2022-01-26 at 14 25 35](https://user-images.githubusercontent.com/42279181/151249620-bb745839-e2f4-4ce2-96c1-7e6363e7e25e.gif)

### Steps to reprodu

[2022-01-26 21:33] the-misha commented on #59787
Another one, on Shawburn: 12851682-hc

[2022-01-26 21:33] vindl commented on #60255
All tasks done.

[2022-01-26 21:33] #60255 closed, assigned to p-jackson, creativecoder

[2022-01-26 21:35] sirbrillig commented on #59773
This might actually be a more fundamental issue of async payment methods and checkout thank-you pages: If you are directed to a thank-you page other than the pending page, then it's likely the next page will load before the purchase actually completes. Because of this, any data fetched by that page (eg: the cart) will not be aware of the completed purchase.

That said, I wasn't able to reproduce t

[2022-01-26 21:35] #59773 closed, assigned to sirbrillig

[2022-01-26 21:37] vindl commented on #60110
Pulling this to our board.

[2022-01-26 21:45] p-jackson commented on #60255
Is there a tracking issue for allowing enrolled users to choose classic themes? Or are we just happy that this will happen naturally when we get to 100% rollout?

[2022-01-26 21:45] DustyReagan commented on #60429
I time-boxed some research into this one. It seems this only happens (and happens consistently) on transfers. It doesn't happen on installs on existing Atomic sites. Additionally, it doesn't appear to be related to timing.

I experimented by removing the auto redirect in React, then waited a long moment after the transfer finished, opened a new tab, then went to wp-admin (I tried wc-admin too) on

[2022-01-26 21:53] happychait commented on #52728
Another report in 33878839-hc

[2022-01-26 21:55] khristiansnyder commented on #55739
I would love to see a notice of some sort to help show users how to set a primary domain. I came searching for an open report today as I've realized  I have had a lot of interactions lately with users wondering why their site is using the free site address despite having a custom domain added. Going through the dashboard, it is not very intuitive or obvious on how to change their primary domain.

[2022-01-26 22:08] mattmiklic commented on #55141
Ahh right! That makes sense to me.

[2022-01-26 22:10] mattmiklic commented on #55188
I don't know if there's been any discussion or changes to the subtitle text since that was mocked up, but it still seems like a good choice to me.

[2022-01-26 22:14] #58663 closed, assigned to creativecoder, jeyip, zaguiini

[2022-01-26 22:23] kwight commented on #59315
To replicate:

* Create a new free site.
* Upgrade to a Business plan.
* Install a plugin (to trigger an Atomic transfer, and a new site domain).
* Go directly to the front-end in a new tab – notice the "Coming soon" (which is a logged-out view of an unlaunched site).
* Go back to the site's Home, and click "WP Admin Dashboard" under the Quick Links.
* Load the front-end in a new tab, and see the

[2022-01-26 22:23] #59315 closed, assigned to nobody

[2022-01-26 22:44] kwight opened #60517 "Seller Experience: Simple versus power choice buttons are incorrectly aligned."
The buttons are currently aligned to the top of their section, whereas in the Figma, they're aligned to the top of the description section.

| Current | Figma |
| --- | --- |
| <img width="662" alt="Screen Shot 2022-01-26 at 2 40 21 PM" src="https://user-images.githubusercontent.com/349751/151259673-e47c5e0b-8a72-4424-8c45-ecf9c5381ce4.png"> | <img width="638" alt="Screen Shot 2022-01-26 at 2 40 2

[2022-01-26 22:46] kwight commented on #60517
I'm not sure which this should be – it looks like the intent selection (the same component we're using for the simple vs. power choice) has the button aligned at the top:

<img width="642" alt="Screen Shot 2022-01-26 at 2 44 02 PM" src="https://user-images.githubusercontent.com/349751/151259886-437e0091-9ca7-4c84-b4f2-dad55760bde2.png">

@SaxonF do you prefer we stick with the existing component a

[2022-01-26 22:50] kwight opened #60518 "Seller Experience: The Woo icon is not sharp."
We are currently using the Woo PNG icon from the Figma, and it is not sharp:

<img width="602" alt="Screen Shot 2022-01-26 at 2 48 41 PM" src="https://user-images.githubusercontent.com/349751/151260245-b84cc80d-2619-4968-a417-bcb03785bd1f.png">

We'll need to replace it with an SVG-based icon, if we can.

[2022-01-26 23:03] SaxonF commented on #60517
@kwight Let's stick with existing component alignment. Thanks!

[2022-01-26 23:05] Nyiriland opened #60519 "[Bug]: Customizer CSS Auto-Complete Not Working"
### Quick summary

Writing CSS in the customizer, the text used to auto-complete.
(this demo is from a site hosted on Pressable)
![Screen Capture on 2022-01-26 at 17-53-40](https://user-images.githubusercontent.com/3835008/151262106-d339517d-5674-4d41-813d-ae52d9af8ccf.gif)

This is not happening anymore.
(this demo is from a simple site on wp dotcom)
![Screen Capture on 2022-01-26 at 17-56-21](ht

[2022-01-26 23:14] #60517 closed, assigned to nobody

[2022-01-26 23:38] delputnam commented on #60072
Nomado will add this to our backlog for consideration in a future sprint later in 2022. But as we have a very full roadmap, this one is likely to remain a low priority for the time being.

If there are additional reports of this issue, it would be helpful to note them here to aid in prioritization.

[2022-01-26 23:59] p-jackson commented on #60384
Mis-closed

[2022-01-26 23:59] #60471 closed, assigned to p-jackson

[2022-01-27 00:13] supernovia opened #60521 "FSE: Try the Site Editor = The page requested does not exist (Simple Site)"
### Quick summary

At wp-admin/themes.php, I see a button that says

Try the Site Editor is a button. If I click it, I am sent here:
/wp-admin/themes.php?page=site-editor-toggle

That page says: "The page you requested does not exist, or you do not have have the necessary privileges to access it."

### Steps to reproduce

1 - Create a free site
2 - Go to wp-admin/themes.php
3 - Look for the "Try t

[2022-01-27 00:31] roo2 opened #60523 "Add data-hello="world" attribute to the wp-admin options screen in order to test wpcom deployment process"
You can access the wp-admin options screen by:
Opening a sandboxed test site.
Going to settings->general
Opening "Screen Options" in the top right corner of the screen
Selecting "Classic View"
<img width="1100" alt="Screen Shot 2022-01-27 at 10 27 04 am" src="https://user-images.githubusercontent.com/22446385/151269746-deafc167-cbc8-4bc7-81ca-e763edae88e7.png">

You will then be taken to the wp-ad

[2022-01-27 00:34] cometgrrl commented on #60119
@Automattic/jetpack is this something y'all could look into?

[2022-01-27 01:55] lsl commented on #60429
Thanks for looking into this.

Not likely - that initial redirect is where users are sent on a redirect chain to pick up auth cookies.

[2022-01-27 05:53] SaxonF commented on #60444
@cpapazoglou @gavande1 as a first release, do we need to package up domain purchase with Yoast or can we simply point people to domain management screen if they want to change their domain first? Once they purchase their domain they will have to make their way back to the plugins page but I'm assuming that might be an edge case, especially if we direct people to add a domain first as part of onboa

[2022-01-27 05:56] Greatdane commented on #60232
Confirmed with txt/jpg/pdf files.

Atomic download the file directly, while Simple load the file within the browser.

[2022-01-27 06:28] lsl commented on #59478
First two I think so, thanks for tidying that overlap up.

I'm not sure about the "Landing page impression in wp-admin" using @Rolilink's [suggestion](https://github.com/Automattic/wp-calypso/issues/59926#issuecomment-1020616330) to:

I couldn't see any tracks numbers that looked correct.

That said, `calypso_woocommerce_dashboard_redirect` should cover this use case good enough for my needs.

[2022-01-27 06:40] lsl commented on #60429
Went through a bit of our menu code across jetpack / wpcom / wc-bridge, turning up empty, can't see why it wouldn't show unless the plugin hasn't been activated. (which it has by the time we redirect :shrug: )

Certainly looks that way.

[2022-01-27 06:45] lsl commented on #59478
@allilevine tagged the last two as done per https://github.com/Automattic/wp-calypso/pull/60467 this should be enough I think (at least to gauge where problems are / where to look closer / repro issues)

[2022-01-27 07:00] arthur791004 commented on #60216
Close it as https://github.com/Automattic/wp-calypso/pull/60230 is shipped!

[2022-01-27 07:00] #60216 closed, assigned to arthur791004

[2022-01-27 07:01] jeyip opened #60530 "Convert client/my-sites/themes Files to Typescript"
### Details

After working extensively in the Calypso themes showcase, there was discussion amongst myself and other developers about how Typescript could be beneficial for code clarity and developer experience. ( context [here](https://github.com/Automattic/wp-calypso/pull/57293#issuecomment-957877028), [here](https://github.com/Automattic/wp-calypso/pull/57293#issuecomment-958046627), and in p16

[2022-01-27 08:26] jeherve commented on #60119
This is something that has come up in the past, https://github.com/Automattic/jetpack/issues/10984, as well as #46420 and #54321.

I would recommend closing this as duplicate of https://github.com/Automattic/jetpack/issues/10984

[2022-01-27 08:49] gavande1 commented on #60283
Waiting for the diff D73710-code to merged in.

[2022-01-27 09:01] zdenys commented on #49899
4724764-zd-woothemes

[2022-01-27 09:06] #60478 closed, assigned to nobody

[2022-01-27 09:06] druesome commented on #60469
Reported here as well: 4723208-zd-woothemes

Offered workaround for user which involves converting the slideshow to a gallery block, reordering them, then converting back to a slideshow.

Feel free to share this screencast:

https://d.pr/i/MkOrTt

[2022-01-27 09:07] rinazrina commented on #59787
Another case (Twenty Twenty) - 4724100-zd-woothemes

[2022-01-27 10:11] escapemanuele opened #60537 "Tour Kit: Improve mobile swipe gestures"
@annchichi [pointed out](https://github.com/Automattic/wp-calypso/pull/60233#discussion_r792828795) how we could improve the mobile experience working on the swipe gestures.

[2022-01-27 10:19] escapemanuele opened #60538 "App Banner: Change dismiss text"
@annchichi  proposed to change the dismiss text from "No, thanks" to "Not now" to evaluate the timing of this banner

[2022-01-27 10:28] cpapazoglou commented on #60302
Here is fieldguide for notifications PCYsg-g8e-p2

[2022-01-27 10:32] cpapazoglou commented on #60302
👋 @yaelirub I saw you have assigned this issue to @emilylaguna, will your team be working on this?

[2022-01-27 10:44] cpapazoglou opened #60539 "Support retrieving product ( plugin / themes / services ) presentation page translations from the WooCommerce.com API. Support mag16 languages."

[2022-01-27 10:44] cpapazoglou opened #60540 "Add a way to filter WPCOM and WCCOM results both in the API and in the WooCommerce.com frontend. We should have a way to show WCCOM results in WooCommerce.com and WPCOM results in WordPress.com"

[2022-01-27 10:44] cpapazoglou opened #60541 "Currently API supports getting products by `id`, we will also need to support getting products by `slug` so that we can continue having the slug in the URL like in `https://wordpress.com/plugins/woocommerce-subscriptions`"

[2022-01-27 10:44] cpapazoglou opened #60542 "Add a `store_products` key to the WooCommerce.com products appearing in WPCOM. This is needed to link them with the correct WPCOM plan / pricing. In the future we might want to streamline this."

[2022-01-27 10:44] cpapazoglou opened #60543 "Push plugin `title`, `short_description`, `description` for translation."

[2022-01-27 10:44] cpapazoglou opened #60544 "Create two separate description fields that will hold either WooCommerce.com or WordPress.com specific content. It seems that some description hold very WooCommerce.com specific content. In that case it would useful if we could move that content to a separate field."

[2022-01-27 10:55] jordesign commented on #60058
Thanks to @scruffian for the assist - the handling of fonts in the site editor is a know issue - and is addressed in this PR

https://github.com/WordPress/gutenberg/pull/36394

[2022-01-27 11:05] cpapazoglou commented on #60540
@mattyza just wondering, is the WooCommerce.com Rest api actually used in the WooCommerce.com frontend or in any other services?

[2022-01-27 11:41] #60211 closed, assigned to kwight

[2022-01-27 11:52] liviopv opened #60547 "Atomic: WooCommerce stock options behave inconsistently when WooCommerce Payments is active"
### Quick summary

When WooCommerce Payments is active, the stock options on Product Data > Inventory will show a `Stock Status` option even when the `Enable stock management at product level` option is checked.
<img width="900" alt="Markup 2022-01-27 at 11 44 03" src="https://user-images.githubusercontent.com/14153300/151352573-78abf2b5-d0a3-4d08-8083-018912e96f45.png">

Changing the Stock Status

[2022-01-27 12:06] fresatomica commented on #32642
This has been reported again on the forums: https://wordpress.com/forums/topic/stats-going-through-the-roof/.

An attachment page is drawing lots is getting a lot of views, but the only place to see it is under Author's views:
<img width="364" alt="Screen Shot on 2022-01-27 at 13-02-31" src="https://user-images.githubusercontent.com/40177971/151355436-9f82d70d-9362-446f-929c-63542195b67b.png">

Th

[2022-01-27 13:28] KokkieH commented on #60058
Noting a user report of this in Twenty Twenty-Two in https://wordpress.com/forums/topic/twenty-twenty-two-theme-fonts/?view=all

In the case of Twenty Twenty-Two there is no Fonts section in the Customizer, so the workaround isn't available.

[2022-01-27 13:52] annchichi commented on #60537
Hey there, here is a short recording. This isn't a must-have as we have the 'next' for now. :)

Current:
https://user-images.githubusercontent.com/13378873/151371351-f9543569-eb5e-404c-ab31-ba9e7a401651.MP4
Hey there, here is a short recording.

Expected behavior:
- Users can swipe to advance to the next tooltip. Note: honestly, I initially overlooked the 'next' button as I was swiping. But that c

[2022-01-27 13:54] annchichi commented on #60538
Thanks for this! "No, thanks" feels like it's the end of the conversation. I'd proposed we change it to "Not now," which offers another chance to show mobile app better timing. We can test this for sure.  :)

[2022-01-27 14:27] essleeung commented on #57711
Another report here: 4722065-zd-woothemes
I wasn't able to replicate this on my test site. The user adds a cover block and it looks fine in the preview, but the live site shows opacity as 0.5-1.0 and you can't see the image underneath the overlay.

| Expected      | Actual |
| ----------- | ----------- |
| <img width="1157" alt="Screenshot 2022-01-27 at 10 23 20 PM" src="https://user-images.github

[2022-01-27 14:40] #60129 closed, assigned to escapemanuele

[2022-01-27 14:53] allilevine commented on #59478
@lsl We noticed that we don't get the site info in the recorded tracks event. See p1643228088275100/1643227044.271100-slack-C029UPVMGTW

[2022-01-27 15:03] emilylaguna commented on #60302
👋 @cpapazoglou Yes, I'll be working on this, this week.

[2022-01-27 15:12] gcsecsey opened #60552 "Marketplace: don't show Marketplace products on Jetpack sites"
The plugins browser has a guard condition to prevent showing Marketplace products on Jetpack sites:
https://github.com/Automattic/wp-calypso/blob/b04a7ff6afb3475990589b9d1efd55af67ea92d3/client/my-sites/plugins/plugins-browser/index.jsx#L221

However, when searching for plugins, the search results still contain Marketplace products:
![image](https://user-images.githubusercontent.com/11555574/15138

[2022-01-27 15:20] Nic-Sevic commented on #3140
@dpasque The related slack thread here can help clarify: p1640080100394100-slack-C03TY6J1A
I may have forgotten details by now but essentially, they were able to remove the site owner user from the site after changing the role. They were not able to remove the WordPress.com account from the site ownership on our side. They shouldn't have been able to remove them from the site at all though.
@hidea

[2022-01-27 15:20] gcsecsey opened #60553 "Marketplace: Featured WP.com and WP.org products in plugins browser"
We are currently showing a featured section with paid plugins and we have hidden the featured free plugins. Should we try enabling again the featured free plugins?

section missing
![SS 2022-02-03 at 11 02 08](https://user-images.githubusercontent.com/12430020/152311961-29dce466-3ed6-4ec4-8f02-07936a902ec7.png)

[2022-01-27 15:28] gcsecsey opened #60554 "Marketplace: cache different types of productsList"
This is a follow-up for #59899

Update the caching logic so that different types of the `productsList` query can be stored simultaneously. This could further reduce the data transferred and speed up navigation between pages.

Currently, these are the types that could be cached:

| `type` | description | where it's used |
| --- | --- | --- |
| `all` | fetching the complete products list | plugins b

[2022-01-27 15:32] dpasque opened #60555 "Flaky E2E: Close account is interrupted by a Calypso redirect navigation"
### Spec file

wp-gutenboarding__happy-paths.ts

### TeamCity ID

7312768

### Logs

[code]

If you watch the video, it's clear that there's a redirect back to home that occurs, detaching the element.

This means in this flow, we probably need to wait when logging in for the redirect to home before progressing on to the close account page.

[2022-01-27 15:32] cpapazoglou commented on #60302
That's great! While in Bespin we have no **Notifications** expertise, please let us know if we can help!

[2022-01-27 15:41] #59710 closed, assigned to arcangelini

[2022-01-27 16:15] #60155 closed, assigned to nelsonec87

[2022-01-27 16:19] kwight opened #60556 "Seller Experience: Add a theme selection step to the simple path."
Let's add our theme selection step to the simple path. The categories on the left will take care of themselves once commerce themes are added to the showcase and appropriately tagged.

See: https://github.com/Automattic/wp-calypso/issues/60152

<img width="1022" alt="Screen Shot 2022-01-27 at 8 18 33 AM" src="https://user-images.githubusercontent.com/349751/151399274-18d428c4-8572-4660-8084-e57ca6

[2022-01-27 16:26] kwight opened #60557 "Seller Experience: Remove all preemptive translations."
We currently have some preemptive translations active at `/client/signup/translations/seller-experience.js`. Let's make sure these are all removed towards the end of the seller experience project, as the strings land elsewhere in production.

See: pxLjZ-6Mo-p2

[2022-01-27 16:28] kwight commented on #60307
Guidance from @dlind1 :

With the seller intent strings being in Calypso, we've added them under `/client/signup/translations`.

[2022-01-27 16:28] #60307 closed, assigned to kwight

[2022-01-27 16:33] #56709 closed, assigned to StefanNieuwenhuis, escapemanuele

[2022-01-27 16:41] kwight opened #60558 "Seller Experience: Verify Tracks events in the seller intent."
I'm assuming that a lot (most?) of our Tracks events are already being included as part of the signup framework and existing components, but let's not assume: let's verify that each step of the seller intent has appropriate Tracks coverage.

[2022-01-27 16:48] desnum commented on #58594
Another case in 31192207-hc. Error message:

[code]

[2022-01-27 16:59] philnick206 opened #60561 "Site shows Coming Soon but is Public, cannot change the settings to Coming Soon"
### Quick summary

This simple site is public but is showing as Coming Soon in Calypso. If you try to change the Privacy settings for the site to Coming Soon, it immediately reverts to Public again.

![CleanShot 2022-01-27 at 16 52 46](https://user-images.githubusercontent.com/51966986/151406577-7f1d7e0b-5d7d-4789-a247-4b8eb2821f1b.gif)

![CleanShot 2022-01-27 at 16 53 59](https://user-images.gith

[2022-01-27 17:09] jp-imagines opened #60563 ""Home page / Archive" stats show "We don't have that post on record yet" when using a posts/archive homepage"
### Quick summary

This appears to be a recent issue – one user that reported it mentioned noticing this change within the past week or so.

When the homepage is set as a "posts page" (blog archive), it is displayed on `/stats/day/{site}` as *Home page / Archives`. Clicking on that entry should bring up the insights for the site's homepage, but instead leads to a possibly invalid URL:

`https://wo

[2022-01-27 17:41] obenland opened #60568 "Woo Installer: Use siteSlug instead of site"
It looks like other onboarding flows are using a `siteSlug` parameter to pass on the site context from step to step, including the new seller experience onboarding flow that is being worked on by @Automattic/serenity.

@lsl said [switching should be easy enough](https://github.com/Automattic/wp-calypso/pull/60383#discussion_r793194786), so let's try doing that in the interest of more conformity.

[2022-01-27 17:44] obenland opened #60569 "Woo Installer: Make back button work landing page agnostic"
The seller experience onboarding flow will likely link into the woop flow to get customers set up with their store.

Currently the back link in the address step is hard-coded to point to the `woocommerce-install` landing page, so customers coming in from the seller experience flow won't be able to step back into that.

Let's update that backUrl parameter to point to wherever customers arrived from

[2022-01-27 17:48] #58682 closed, assigned to creativecoder, jeyip, zaguiini

[2022-01-27 18:03] worldomonation opened #60572 "Playwright: Refactor `CloseAccountFlow` to use `visit` instead of UI navigation."
### Details

We are seeing increased occurrences of the CloseAccountFlow flaking out in recent days, especially after https://github.com/Automattic/wp-calypso/pull/60329 has been merged in to fix the failing Pre-Release Tests build.

With recent changes to the framework, we are in a good state to move off of purely UI navigations. Consider:
- using a `visit` method to navigate to the `/me` endpoin

[2022-01-27 18:04] dpasque commented on #3140
@Nic-Sevic Ah, that clarifies so much, thank you for the extra info! This definitely looks like it needs some extra investigation to figure out how this ultimately ended up happening. Maybe some Jetpack team eyes?

[2022-01-27 18:09] worldomonation commented on #60572
Duplicate of #60555.

[2022-01-27 18:10] worldomonation commented on #60555
I'll take this on today.

[2022-01-27 18:14] cometgrrl opened #60574 "Unable to update notifcation settings for followed sites (Intermittent)"
### Quick summary

I'm trying to update my reader subscriptions and notifications, and I'm seeing a repeated error:

`Sorry, we had a problem updating that subscription. Please try again.
`

Note: the issue is really neither simple vs atomic since it relates to the reader, and not my site

https://user-images.githubusercontent.com/86427589/151417027-ca953d31-eb3b-4d4b-b5d6-680d13a76788.mov

### St

[2022-01-27 18:14] sirbrillig opened #60575 "After checkout completes but before the post-checkout redirect there is no UI to imply that a redirect is pending"
I think this is the issue:

1. The payment is submitted and the transaction completes.
2. Checkout marks the transaction as complete locally, triggers a refresh of the shopping-cart (so that the post-checkout page has correct data), and redirects to the post-checkout page.
3. Because this particular post-checkout page is outside of calypso, this redirect takes a few seconds as the Jetpack site loa

[2022-01-27 18:18] carinapilar commented on #60563
The same thing happens on my personal site, which is Atomic.

[2022-01-27 18:28] #55952 closed, assigned to worldomonation

[2022-01-27 18:31] JoshuaGoode opened #60577 "Calypso / Themes: Cannot navigate away from theme page, My Sites button broken on theme pages"
### Quick summary

It seems users can get stuck in navigation loop when directly visiting theme pages.

https://user-images.githubusercontent.com/4887830/151420827-0393f818-883d-4ffb-a19f-3f4e8251c7b7.mp4

### Steps to reproduce

1. In a new tab visit a theme page directly. E.g. https://wordpress.com/theme/stewart/
2. Select the site you're working on (Why does it do this? It would be nice to just

[2022-01-27 18:45] kwight opened #60578 "Woo Onboarding: Back link is hard-coded to the landing page."
The Woo onboarding flow at `/start/woocommerce-install` has a Back link which is hard-coded to the new WooCommerce landing page. This should be dynamic, as we'll also be using this onboarding flow for other projects, such as the seller experience.

![2022-01-27 10 41 06](https://user-images.githubusercontent.com/349751/151423513-94c0e880-bc2e-46be-9857-fb36ca6b8fe4.gif)

[2022-01-27 18:47] jeyip opened #60579 "Tracks: Add actions properties to editor save click event"
### Details

We now record tracks events whenever the save / update button is clicked in the post editor, page editor, or site editor. It's meant to compare engagement across the various tools.

It would be nice to have more information about the event itself and what changes are being made (whether the entity is being published, scheduled, updated, etc.)

Context: p1643142650300400/1643060972.246

[2022-01-27 18:51] kwight commented on #60578
Closing as duplicate of #60569

[2022-01-27 18:51] #60578 closed, assigned to nobody

[2022-01-27 18:57] khristiansnyder commented on #52182
Any updates on this? Still run into this from time to time. #29284878-hc today.

[2022-01-27 18:59] kwight opened #60580 "Seller experience: Consider incorporating the videos UI for education."
We now have a videos UI feature that could help educate sellers going through the seller experience onboarding. Let's consider how we can incorporate it, and what videos we have underway that could be appropriate.

See: p1643295428315000/1643266622.311500-slack-C029UPVMGTW

[2022-01-27 19:06] worldomonation opened #60582 "Flaky E2E: Insert a Legacy Widget"
### Spec file

specs/specs-wpcom/wp-widgets__spec.ts

### TeamCity ID

7309843

### Logs

Log:
[code]

![image](https://user-images.githubusercontent.com/6549265/151426858-31e7ce2f-5399-439c-ba4a-2667329f5cd6.png)

[2022-01-27 19:17] worldomonation commented on #60582
It has to do with English US/UK, where English UK uses `dialogue` and English US uses `dialog`.
![Screen Shot 2022-01-27 at 11 15 58 AM](https://user-images.githubusercontent.com/6549265/151428272-21f0f88e-96e8-4158-9b0b-b494b849d68d.png)

![Screen Shot 2022-01-27 at 11 16 23 AM](https://user-images.githubusercontent.com/6549265/151428267-f586d488-1d78-4428-bd64-cc4f9cac14d0.png)

[2022-01-27 19:59] katiebethbrown commented on #59568
We've run into this issue working on a new Team51 site as well.

I've tested, and I cannot replicate on a Pressable site or an Atomic site. Both of those correct save and use the variables.

The variables are only stripped when added to Additional CSS on simple sites.

[2022-01-27 20:52] csabarakasz opened #60585 "Warning when duplicating Pay with PayPal block."
### What

Add a warning message or label when we notice that the user initiates to duplicate a Pay with PayPal block. Most users, when creating multiple PWPP blocks on their pages/posts, will create one from scratch. After that, they will duplicate the existing one and do slight changes to the block. This will cause multiple PWPP blocks with the same product ID, but they are meant to sell differen

[2022-01-27 21:13] kwight commented on #50279
This checklist no longer exists, and launching the site shows an appropriate card on seeing My Home.

[2022-01-27 21:13] #50279 closed, assigned to nobody

[2022-01-27 21:29] kwight opened #60586 "Anchor: Allow users to connect an existing account as their podcasting site."
Anchor users currently have no choice but to create a new WP.com site when they want to use our integration. Both sides have gotten user feedback requesting the ability to use existing accounts for the imports.

The primary concern with using existing accounts would be making sure the user can differentiate their imported content (and that nothing is overwritten). Inserting the posts with a `podca

[2022-01-27 21:30] kwight opened #60587 "Anchor: Import any new episodes as soon as they're published."
Anchor users get their episodes imported and generated into posts automatically on signup, but once that's happened, they need to do any other new (or old) episodes by hand.

If the Anchor => WP.com flow took advantage of OAuth, then Anchor could hit a POST endpoint of ours that would do the work – but currently that flow only uses the RSS feed from our side.

Another option would be some sort of

[2022-01-27 21:31] khristiansnyder commented on #60483
I agree with this as well. I have had quite a few users in chat lately wondering why their mobile site doesn't match their desktop site's theme.

[2022-01-27 21:32] kwight commented on #50560
See also 507-gh-Automattic/dotcom-manage for more troubleshooting background.

[2022-01-27 21:32] #60555 closed, assigned to dpasque

[2022-01-27 21:34] allilevine opened #60588 "Woo installer: "Please select an item in the list" error on business info step"
<img width="483" alt="Screen Shot 2022-01-27 at 4 33 42 PM" src="https://user-images.githubusercontent.com/1689238/151447449-411fc087-cea5-406b-9a21-0a19376c9984.png">

To reproduce:
- Go through the Woo installer flow and don't select anything for "Which platform is the store using?"
- Click Continue

[2022-01-27 21:34] kwight opened #60589 "Anchor: Investigate what is required to support standalone Jetpack users."
Our Anchor integration is not currently supported for standalone Jetpack users – but nothing stops them from trying (any WP.com user can go to `anchor.fm/wordpressdotcom` and select a connected Jetpack site during the OAuth process). Let's find out what would be required to properly support these sites.

[2022-01-27 21:37] obenland commented on #60588
With the forms now being converted to actual forms, I recon we could probably remove the manual validation we're doing and rely on `required` attributes in inputs? cc @lsl

[2022-01-27 21:37] glendaviesnz commented on #57711
@essleeung I wasn't able to replicate this either. Is the issue visible on a public page on the users site?

[2022-01-27 21:46] kwight opened #60590 "Anchor: Hannah sites have extra content in the post excerpts."
Sites based on Hannah will have an extra "Summary" word in their post excerpts.

<img width="2253" alt="Screen Shot 2021-03-16 at 10 50 55 AM" src="https://user-images.githubusercontent.com/349751/111356664-d1767980-8645-11eb-8130-0d2bd490a7b2.png">

[2022-01-27 21:46] vindl opened #60591 "FSE beta: wrong theme link leading to wp-admin"
The following link is leading to wp-admin Site Editor instead of the Calypso integration. We should fix that and point it to `wordpress.com/site-editor/...`

<img width="1230" alt="download" src="https://user-images.githubusercontent.com/1182160/151448929-cb7081c6-1149-477a-aa41-d7b53dc33778.png">

[2022-01-27 21:47] kwight opened #60592 "Anchor: Hannah could use the podcast description in its summary section."
The Hannah starter design has a section right below the hero image that could be used to add the podcast description (which is usually a longer chunk of text found in the RSS feed).

<img width="2275" alt="Screen Shot 2021-03-16 at 10 55 16 AM" src="https://user-images.githubusercontent.com/349751/111357305-7002da80-8646-11eb-933d-dbce0b1d144f.png">

[2022-01-27 21:49] kwight opened #60593 "Anchor: Add support for episode embeds."
Anchor sharing URLs such as `https://anchor.fm/kwight/episodes/Aww-yeahhhhh--Podcast-enmene` don't work as one-line embeds or in the Audio/Embed blocks; let's add support.

Brought up by Chad Chadbourne in p1617045615027600-slack-C01FD4FGD7X

See: 538-gh-Automattic/dotcom-manage

[2022-01-27 21:52] kwight opened #60594 "Anchor: Don't offer to convert a wordpress.com podcast post to an Anchor podcast."
I just saw this promo in the sidebar after publishing a podcast episode on wordpress.com. Seems like it could be targeted better, since my post was already a podcast, and it only had eight text words in it.

<img width="277" alt="Screen Shot 2021-09-15 at 9 30 03 PM" src="https://user-images.githubusercontent.com/435369/133681193-ed53bcf6-09aa-4441-8ff4-34008a0f33fe.png">

See: 571-gh-Automattic/d

[2022-01-27 22:08] worldomonation opened #60595 "Flaky E2E: Login via popup to like the post"
### Spec file

specs/specs-playwright/wp-likes__post-spec.js

### TeamCity ID

7302780

### Logs

Link: https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_Playwright_desktop/7302780?buildTab=tests#%2Fscreenshots;%2Ftrace;%2Flogs.tgz!%2Flogs.tgz

Logs:
[code]

[2022-01-27 22:14] worldomonation commented on #60572
@dpasque I'm going to re-open this issue, since I think the changes I proposed is still worth doing to make this flow behave more reliably.

[2022-01-27 22:33] the-misha opened #60597 "Video in Cover block not displaying on mobile"
### Quick summary

Video in Cover block on homepage displays correctly on desktop site, but shows as a black block on mobile (iPhone).

### Steps to reproduce

Load site on iPhone.

### What you expected to happen

Video in Cover block should autoplay.

### What actually happened

Site displays a black rectangle where the Cover block video should be.

### Context

Customer report: 4726583-zd-wooth

[2022-01-27 23:15] cometgrrl commented on #60072
This is very interesting. It does seem like a corner case, I wonder how many people use site redirects in this manner?

[2022-01-27 23:25] cometgrrl commented on #59564
@zdenys Thanks, I will check it out to see if we need to move this over or not.

[2022-01-27 23:34] cometgrrl commented on #59564
Turns out this is already reported [here](https://github.com/WordPress/gutenberg/issues/38218).

I'll move this one to the cross-repo watchlist.

[2022-01-27 23:46] DavidSaladu opened #60602 "Twenty Seventeen won't allow comments in the homepage"
### Quick summary

The twenty seventeen theme doesn't display the comments section on the home page, even if the "allow comments" check box is ticked.

This only seems to affect the home page as the rest of the pages will display the comments area as expected (if the checkbox is enabled). Other themes (twenty fifteen seem to allow that as well.)

Screencast: https://d.pr/i/advfH0/2bzSn6D6im

### S

[2022-01-27 23:48] katiebethbrown commented on #59568
I wanted to add - the customizer save doesn't indicate that there was any issue. The save completes and there are no changes.

The missing variables only become obvious once you reload the page, so anyone working in the Customizer could make quite of bit of progress, and have it removed without ever being aware of it.

![CleanShot 2022-01-27 at 16 01 44](https://user-images.githubusercontent.com/4

[2022-01-28 00:14] dcoleonline commented on #60507
another in 4725572-zen

[2022-01-28 00:24] moon0326 opened #60604 "Country list dropdown on woocommerce-install page is interrupted by Chrome's autofill suggestions"
### Quick summary

It's hard to choose a country from the country dropdown on the `woocommerce-installation` page due to Chrome's autofill suggestions.

### Screenshots

![Screen Shot 2022-01-27 at 4 12 52 PM](https://user-images.githubusercontent.com/4723145/151465145-83bc54cd-64ed-4ec7-b234-63e9ba64bcfe.jpg)

### Steps to reproduce

1. Add 3~4 address on chrome://settings/addresses
2. Sign up fo

[2022-01-28 00:53] autumnfjeld commented on #57667
@worldomonation Also note that we are phasing out  the /new flow (e.g. Gutenboarding flow) so this issue will become obsolete: pbxNRc-1eh-p2

[2022-01-28 01:01] worldomonation commented on #57667
@autumnfjeld  Good to know, thanks for the heads up.

[2022-01-28 01:14] cometgrrl commented on #59787
@jordesign since it looks like this will be fixed in Gutenberg 12.5 and WP 5.9.1, should we move this to the cross-repo watchlist?

[2022-01-28 01:39] cometgrrl commented on #60062
This is reproducible on jurassic.ninja, and a core bug and needs to be filed in the [WordPress/gutenberg](https://github.com/WordPress/gutenberg/) repro.

[2022-01-28 01:55] adelineyaw opened #60605 "Updating podcast image in Media settings does not update the image in the podcast RSS feed"
### Quick summary

If you try to update the podcast image in Media settings it does not make any changes to the podcast RSS feed. Podcast cover image settings remain the same in Writing settings.

### Steps to reproduce

1). Set up Podcast feed in My Site(s) → Settings → Writing.
2). Add podcast cover image.

![podcasting-bug](https://user-images.githubusercontent.com/7424885/151473223-1251ba17-c4

[2022-01-28 02:13] adelineyaw opened #60606 "Form Block text formatting options"
### What

It would be good if we provided options for adding links to and adjusting the font size of form block labels.

### Steps to reproduce
1). Add a form block in the editor
2). Try to change the font size of a field’s label. There seems to be no option within the editor to do so.
3). Try to highlight a text in a field’s label, and add a link to it. There seems to be no option to do that.

##

[2022-01-28 02:21] moon0326 commented on #60604
I'm closing it as this issue should be fixed in [Gutenberg](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/form-token-field/token-input.js#L61)

[2022-01-28 02:21] #60604 closed, assigned to nobody

[2022-01-28 02:26] adelineyaw commented on #39956
User report: 4722807-zd-woothemes

For further context/testing, the user report was originally mentioned here: pd4QKa-rX-p2

[2022-01-28 03:13] lsl commented on #60588
My first pass at validation on these screens was to turn them into forms and add `required`. :smile:

The issue was that we can't style those errors in the same way as the rest of calypso, e.g. settings screen:

![Screenshot 2022-01-28 at 14-02-32 My Profile — WordPress com](https://user-images.githubusercontent.com/811776/151480068-febeb151-0fb0-458e-b972-dc2bafced122.png)

The issue in this case

[2022-01-28 03:27] #59367 closed, assigned to taipeicoder

[2022-01-28 03:27] #59516 closed, assigned to DustyReagan

[2022-01-28 03:34] rw-ye commented on #59985
I ran into this issue while using my testing site.

## Another Workaround

Set the `display` property of the `components-modal__screen-overlay` class to `none`.

Run the following in the browser console:

[code]

- We can then '**Update**' the page, without losing any unsaved changes.

https://user-images.githubusercontent.com/21261509/151482642-abceca6a-4eca-4c3b-8a6e-3d2ab20b3a4d.mov

[2022-01-28 04:16] essleeung commented on #57711
@glendaviesnz They had it set in their drafts for us to test and didn't want it on their live site.

[2022-01-28 04:55] vishnugopal opened #60608 "Investigate FSE Compatibility"
## Answers to initial FSE compatibility questions: ##

### **Are imported sites FSE enabled?**
Importing a site does not change the FSE status of a site. Whether or not a site supports FSE depends on which theme is selected. If an FSE theme is selected, it automatically enables the editor. Importers (except the full site migration) do not affect anything related to themes and theme settings.

###

[2022-01-28 05:03] p-jackson opened #60610 "Patterns Toolkit dashboard in MC shares recommended theme code with WPCOM project"
D73774-code

[2022-01-28 07:42] niranjan-uma-shankar opened #60614 "ToS acceptance tracking: Move screenshots to a separate folder"
### Quick summary

Follow up issues to fix for the ToS acceptance tracking screenshot feature introduced in https://github.com/Automattic/wp-calypso/pull/57741.

### Steps to reproduce

This issue is for tracking purposes. For the ToS acceptance tracking screenshot feature, we are currently storing the screenshots in the root e2e folder. It would be better to move these to a separate folder, as me

[2022-01-28 07:45] niranjan-uma-shankar opened #60615 "ToS acceptance tracking: Replace fetch with cURL"
### Quick summary

Follow up issues to fix for the ToS acceptance tracking screenshot feature introduced in #57741.

### Steps to reproduce

This issue is for tracking purposes.

Replace `fetch` which uploads the screenshots to the specified endpoint with `cuRL`, as mentioned in [this comment](https://github.com/Automattic/wp-calypso/pull/57741#discussion_r794083059):

[2022-01-28 07:48] niranjan-uma-shankar opened #60616 "ToS acceptance tracking: Move the script out of e2e folder"
### Quick summary

Follow up issues to fix for the ToS acceptance tracking screenshot feature introduced in #57741.

### Steps to reproduce

This issue is for tracking purposes.

As noted in [this comment](https://github.com/Automattic/wp-calypso/pull/57741#discussion_r794085736):

[2022-01-28 08:07] marutim opened #60617 "Paragraph block: Missing link color option"
### Quick summary

The option to choose a color for the link with paragraph block is missing with themes like twenty twenty-one and stow. The option is available with themes like Bryne.

### Steps to reproduce

1. Activate the twenty twentyone or Stow theme
2. Go to a page/post. This can be replicated by adding a new page/post or editing an existing one.
3. Select the text and add the link
4. Go t

[2022-01-28 08:12] marutim commented on #60617
Issue reported: 4724468-zd

[2022-01-28 08:32] cpapazoglou opened #60618 "Plugin Details: make sure content displays correctly in all breakpoints"
It seems that the content cuts off in some breakpoints

![image](https://user-images.githubusercontent.com/12430020/151513610-344cad5f-9bea-47d6-95ce-254f39289cf1.png)

- [ ] Apply the mobile styles to that breakpoint
- [ ] Check the rest of the breakpoints whether they display correctly

[2022-01-28 08:48] Robertght commented on #56183
#20285281-hc

[2022-01-28 09:35] Robertght commented on #60617
Asked here: p1643357420150959-slack-C029FM1EH

Tested with Twenty Twenty-Two and Quadrat and the Link color option is present.

[2022-01-28 09:46] Robertght opened #60619 "Marketplace: Add a Paid/Free filter"
### What

I noticed we have Free and Paid/Premium plugins, therefore it would be a really nice addition to be able to filter the plugins based on the Free/Paid(Premium) state.

### Why

This could help users find the needed functionality and quickly gain access to Premium plugins features.

### How

Rought example:

![image](https://user-images.githubusercontent.com/6737345/151524689-683d20e3-2961

[2022-01-28 11:40] fjorgemota opened #60621 "Invalid SSL certificate at domain wpcomjs.com"
### Quick summary

The SSL certificate of the domain wpcomjs.com linked at the README of this repository is invalid. It looks like a generic SSL certificate valid only for wordpress.com and its subdomains.

### Steps to reproduce

1. Visit the README of this project;
2. Click on the wpcomjs.com link at the top of the README;

### What you expected to happen

The browser redirected to https://www.n

[2022-01-28 11:47] #58058 closed, assigned to gavande1

[2022-01-28 12:22] simison commented on #59501
Happening with "Blank" option when creating a new FSE site via https://horizon.wordpress.com/start/domains

![image](https://user-images.githubusercontent.com/87168/151546184-eb8432ee-fff3-4a3a-80df-5a8e49b6af9e.png)

[2022-01-28 12:28] rickmgithub opened #60622 "Newsletter sign-up block documentation and way it shows in blocks"
### Quick summary

A user came through asking about whether a contact form would automatically add people to their post update list on their WordPress site.

My understanding is it doesn't and it doesn't say it would anywhere I could see.

I then saw there was a Newsletter sign-up block which links with other email newsletter services.

I couldn't find any documentation on the "newsletter sign-up"

[2022-01-28 12:35] #60241 closed, assigned to nobody

[2022-01-28 13:00] csabarakasz commented on #60585
https://hud.happychat.io/chat/28628202

Another day, another of the same issue! Duplicating the PayPal block is causing issues to the user.

[2022-01-28 14:02] Robertght opened #60623 "Themes: Try & Customize not available on all themes"
### Quick summary

As discussed in p1643257193253600-slack-C029FM1EH, I'm raising this as a report so it can be looked into going forward.

### Steps to reproduce

Some themes have the Try & Customize options while others, especially new ones(Varia/Blocksbase) do not.

### What you expected to happen

See it as others that have it

### What actually happened

No option is provided

### Context

_N

[2022-01-28 14:13] dpasque commented on #60572
Oh yes, good call! I had considered doing this at the time, but I wasn't sure we wanted to do this for all the flows and wanted to get that quick fix out asap. I really like this idea!

[2022-01-28 14:47] #59041 closed, assigned to bogiii

[2022-01-28 15:12] mreishus commented on #60623
Hello,
We did this intentionally in this issue: https://github.com/Automattic/wp-calypso/issues/59991
I believe it's related to the FSE changes. [From this WordPress.org blogpost](https://make.wordpress.org/core/2022/01/07/state-of-the-customizer-with-block-themes-in-wordpress-5-9/)

I believe we're trying to stay consistent with that. @sixhours would know more but isn't available today.

[2022-01-28 15:38] sashastone commented on #60347
A customer came into chat today with same issue. I tested on a simple site, and had the same result that @supernovia is reporting. Here's a screencast: https://d.pr/v/dkQ941

Related ticket: https://woothemes.zendesk.com/agent/tickets/4728907

[2022-01-28 15:45] kbrown9 opened #60626 "[Bug]: Akismet Anti-Spam missing from Jetpack menu on Jetpack sites"
### Quick summary

When the Akismet plugin is active on a Jetpack site, the Akismet Anti-Spam submenu item is displayed under the Jetpack menu:

<img width="166" alt="Screen%20Shot%20on%202022-01-28%20at%2010-29-24" src="https://user-images.githubusercontent.com/50059399/151576586-7aa77b97-240b-457e-b0e9-10f1c0654596.png">

In Calypso, the Akismet Anti-Spam submenu item is not displayed:

<img wid

[2022-01-28 16:10] sirbrillig opened #60628 "No validation error for empty cardholder name on add-card form"
Originally reported by @vitozev in Slack.
![Screen Capture on 2022-01-28 at 10-15-08](https://user-images.githubusercontent.com/2036909/151581758-cb9373d5-3371-4c21-b1a8-a84fa9ddfda0.gif)

[2022-01-28 16:16] sirbrillig opened #60629 "Add warning when deleting payment method assigned to a subscription"
When a payment method is removed, it will be removed from any active subscriptions that it is assigned to. However, this could be confusing for users if they don't realize that this may cause their subscription not to auto-renew.

It may be a good idea to warn a user before the payment method is deleted, perhaps with a confirmation modal, that the payment method is assigned to something.

[2022-01-28 16:27] liviopv commented on #60483
4724908-zen

[2022-01-28 16:42] dpasque opened #60630 "Playwright: Investigate cookie authentication with stale cookies"
### Details

I've noticed when running locally that sometimes when using older cookies I had locally on my machine, the tests are getting redirected to login, and then failing because it's not expecting that.

We might be missing some error checking/handling when looking for cookies in our set-up authentication functions.

### Checklist

_No response_

### Related

_No response_

[2022-01-28 17:06] #60067 closed, assigned to sirbrillig

[2022-01-28 17:17] #49103 closed, assigned to BogdanUngureanu

[2022-01-28 17:20] davipontesblog commented on #60110
I also noticed a bug there when I click “Dashboard” it takes me to /wp-admin/index.php instead of `My Site > My Home` which should be the default wpcom experience.

[2022-01-28 17:42] Robertght commented on #60510
Hey @kathrynwp! Thank you for reporting this!

I'm not able to replicate the issue anymore. Could you double-check if it's still happening, please?

[2022-01-28 17:48] #60575 closed, assigned to sirbrillig

[2022-01-28 18:13] #60595 closed, assigned to worldomonation

[2022-01-28 18:57] liviopv commented on #60483
33913047-hc

[2022-01-28 19:21] allilevine commented on #53626
@Automattic/quality-squad I think this would be a great issue to prioritize because of the number of HE reports it's generating. It does have a workaround, however.

[2022-01-28 20:16] DavidRothstein commented on #60629
Somewhat related internal issue: 265-gh-Automattic/payments-shilling

Also some discussion in the recent Slack thread (p1643386707312529/1643360903.748149-slack-C0117V2PCAE), including @sirbrillig's point about the need to consider backup payment methods in any messaging here.

[2022-01-28 20:36] DavidRothstein opened #60635 "[Bug]: PayPal button is inheriting the Calypso theme colors on the Change Payment Method page"
### Quick summary

When changing the payment method on an existing subscription, the PayPal button is supposed to be yellow (like it is in checkout).  Instead it seems to be inheriting the button colors from whichever Calypso theme you're using.

This is not only incorrect, but can also can lead to very poor visual contrast depending on which theme you're using.

### Steps to reproduce

1. Buy a s

[2022-01-28 20:48] zaguiini commented on #60591
I can't reproduce this. Both call-to-actions point to `wordpress.com/site-editor/%s`:

### 1

![image](https://user-images.githubusercontent.com/26530524/151619302-44d3778d-d777-4466-a1fc-0e78dea1db95.png)

### 2

![image](https://user-images.githubusercontent.com/26530524/151619356-3625db3b-91a2-48d7-a31f-2b22a36eddc5.png)

[2022-01-28 21:03] jp-imagines opened #60637 "Sharing Buttons: "Official Buttons" style causing buttons to not display or flash"
### Quick summary

There seems to be some errors generated when using the "official" sharing buttons, particularly for Facebook.

The user who I spoke with said that their Facebook sharing button did not display at all on the live site and was absent in the Sharing Buttons settings page.

On my device (in Chrome and Firefox), the Facebook sharing button "flashes" a few times before loading fully o

[2022-01-28 22:45] mreishus opened #60639 "dotcom: Custom Domain Upsell code impacting PHP load times"
## Some simple sites load slower than others

On WordPress.com, I noticed one of my simple sites has various URLs loading significantly slower than other sites.
* `/wp-admin`
* `/wp-admin/?service-worker`
* `/wp-admin/post-new.php` (used by https://wordpress.com/post/<SITE>).

For example, `/wp-admin/?service-worker` loads in 8 seconds on one of my simple sites, and in less than 1 second on most o

[2022-01-28 23:36] creativecoder commented on #58930
I'm thinking we should go ahead with this now that we're rapidly rolling out FSE for new sites: https://github.com/Automattic/wp-calypso/pull/60642

[2022-01-28 23:43] cometgrrl commented on #59972
This seems like an edge case so I am going to close it for now.

[2022-01-28 23:43] #59972 closed, assigned to nobody

[2022-01-29 00:49] zaguiini commented on #60591
Will pair with @jeyip on Monday.

[2022-01-29 00:49] zaguiini commented on #60110
Will pair with @jeyip on Monday.

[2022-01-29 01:08] creativecoder commented on #60591
At least for the "Edit" link at the top of the Themes showcase with the active theme, what might be happening is that there's some logic in https://github.com/Automattic/wp-calypso/blob/ed605c861a0363155c28d4738a6333e720401ba2/client/state/selectors/get-preferred-editor-view.js that looks for `wp-admin/edit.php` in the posts menu item.

This would happen after you used the "Classic view" of the po

[2022-01-29 02:23] creativecoder commented on #58667
Closing this, as it seems we'll be combining signup flows in the near future, making this update to /new unnecessary. (pbxNRc-1eh-p2)

[2022-01-29 02:23] #58667 closed, assigned to nobody

[2022-01-29 02:56] creativecoder commented on #58328
Thanks @davipontesblog !

This was updated in https://github.com/Automattic/wp-calypso/pull/59745

[2022-01-29 03:00] creativecoder commented on #60254
Note that @jeyip [followed up here](https://github.com/Automattic/wp-calypso/pull/60463) to get this working in the Page and Post editors, as well (in addition to the Site editor).

[2022-01-29 03:14] rosepajaroja commented on #53626
Similar issue reported here - hc-33883002 (AT)

I am not sure if this is a one-time thing, but this workaround fixes it:

1 - Switch site's privacy from Public to Coming Soon.
2 - Change primary domain name of the site to wpcomstaging.com.
3 - Switch site's privacy from Coming Soon to Public. (Should work)
4 - Change primary domain name back to custom domain name.

[2022-01-29 03:37] galakhyati commented on #60353
Another user gets the same error when trying to add the Carousel block by browsing through the blocks to add.

I was able to replicate the issue on my test AT site:

https://user-images.githubusercontent.com/7382505/151645752-05c97650-e855-42f4-860d-c64a5f78fc75.mp4

Here is a recording the user shared with us:

https://user-images.githubusercontent.com/7382505/151645880-2780052a-8aa6-4d78-899b-a1

[2022-01-29 06:34] nagpai commented on #53626
#4727225-zen

doing the privacy settings somersault helped like always.

[2022-01-29 06:44] essleeung commented on #60617
Found this here as well: 33335748-hc

Ended up giving the user CSS to change the link for Hever header.

Tested on my test site and link color doesn't work for Hever (headers/paragraphs), but does for Byrne.

Screenshot of Hever header below:
<img width="1617" alt="Screenshot 2022-01-29 at 2 43 43 PM" src="https://user-images.githubusercontent.com/39225086/151650762-e136ad9c-e191-45bb-a286-e6354fc

[2022-01-29 10:15] filipanoscampos commented on #60335
We have a similar issue on a Simple site.
Reported here 4689855-zd-woothemes.

They shared the following error with us:

`Pa@https://s0.wp.com/wp-content/plugins/gutenberg-core/v12.4.1/vendor/react-dom.min.edd8b7a6.js?m=1624062436h:7:36479
Me@https://s0.wp.com/wp-content/plugins/gutenberg-core/v12.4.1/vendor/react-dom.min.edd8b7a6.js?m=1624062436h:7:12897
Pv/<@https://s0.wp.com/_static/??-eJyl0s0O

[2022-01-29 12:45] simison opened #60646 "[Bug]: Cookie banner keeps showing up"
### Quick summary

No matter what site or page I visit, the cookie banner seems to be popping up much more frequently.

<img width="848" alt="Screenshot 2022-01-29 at 13 37 08" src="https://user-images.githubusercontent.com/87168/151661258-08086b09-d7ef-4e45-9d83-04c2d0929b76.png">

Happens across the front of the site and wp-admin in the editor.

I'm already logged in with my main account and acc

[2022-01-29 13:53] jartes commented on #58599
Another one on: 33923468-hc

[2022-01-29 17:58] darnelldibbles commented on #60469
Another report in the forums: https://wordpress.com/forums/topic/edit-54/?view=all

[2022-01-29 20:03] Gustavo-Hilario opened #60648 "Widgets > Music Player (Legacy): Unable to reorder tracks"
### Quick summary

Users cannot drag and drop to reorder songs on their `Music Player` block.

### Steps to reproduce

1. Go to WordPress.com > My Sites > Appearance > Customize > Widgets.
2. Add the `Music Player` block and add some audios there.
3. Drag and drop an audio file and you won't be able to change the order.

### What you expected to happen

I expected to be able to order the audios as

[2022-01-29 21:17] darnelldibbles commented on #52728
Another report here: https://twitter.com/elevennames/status/1487469354769920009

[2022-01-30 03:02] kuropixel commented on #36197
Another request: 33860275-hc

[2022-01-30 10:12] tellisbethel commented on #60617
Another user report here: 4730572-zd-woothemes

In testing I found that though the link was the wrong colour (grey) in the editor, it was the colour they wanted (white) in the preview. I've asked them to confirm since this my be okay with them until there's a resolution. (Note: The on-hover is still grey for these links.)

[2022-01-30 10:45] kspilarski opened #60649 "Unbabel: New Ticket not Translated"
### Quick summary

Creating a new ticket does not get translated.

### Steps to reproduce

Following the steps from Field Guide: _"I need to create a new ticket for a localized user. Can I use Unbabel?"_

1. Zendesk > +Add to create a new ticket
2. Add subject line, requester's email address, select Form
3. Select Internal Note and add the purpose of the new email
4. Submit as New

### What you ex

[2022-01-30 11:29] poeticabdul opened #60650 "[Bug]: Pause button visible on playing videos on mobile devices"
### Quick summary

On mobile devices, the pause button is shown at the center of playing videos. The pause button is supposed to disappear when the video is playing and reappear when the screen is touched. This happens regardless of the theme.

![Screenshot_20220130-152333](https://user-images.githubusercontent.com/4719037/151697749-65e66704-f4b5-43c7-9b42-86d563ed34f7.jpg)

### Steps to reproduce

[2022-01-30 16:45] kathrynwp commented on #60510
@Robertght Thanks for trying to replicate!

Strangely, I'm no longer able to get **Stewart** to come up, in order to try activating it on another site. I've tried several different sites now:

![WordPress_Themes_‹_Global_Styles_Demo_—_WordPress_com](https://user-images.githubusercontent.com/7662449/151708723-9fe23162-a000-4d8d-9597-9c48a41d3a8c.jpg)

[2022-01-30 16:59] Sandkorner commented on #52182
Another one: 4733592-ZEN
I had my browser on 100%, but needed to play with the zoom to have the crop rectangle to show up.

[2022-01-30 16:59] philnick206 opened #60651 "Edda theme: Music player widget does not show player controls"
### Quick summary

The Music player widget is missing the player controls on Edda:

![CleanShot 2022-01-30 at 16 52 25](https://user-images.githubusercontent.com/51966986/151709160-fcd8028e-42c4-44c6-8f01-80380631f141.jpeg)

Here is what the same widget looks like on Twenty Twenty One:

![CleanShot 2022-01-30 at 16 56 44](https://user-images.githubusercontent.com/51966986/151709182-53084568-5bd8-4

[2022-01-30 18:11] KirkwallDay commented on #60372
Legacy Widget "Top Posts & Pages" also gets moved to the inactive widget area when visibility settings are applied. From the same user as the original report.

[2022-01-30 18:12] rachelwinspear commented on #50164
New case: 4731857-zen

[2022-01-30 23:17] lsl opened #60654 "Improve currency handling in revenue dropdown"
The business info step in the woocommerce installer renders a revenue dropdown based on the address you specify in the previous step.

At the moment it [falls back](https://github.com/Automattic/wp-calypso/blob/10ce7ed85b9c2e679f40274757b88d8814822904/client/signup/steps/woocommerce-install/step-business-info/revenue-options.js#L67) to USD values if it doesn't have a currency conversion rate. When

[2022-01-30 23:25] lsl opened #60655 "Include more currencies in the revenue dropdown"
- [ ] Expand the number of currencies supported by the revenue dropdown

https://github.com/Automattic/wp-calypso/blob/10ce7ed85b9c2e679f40274757b88d8814822904/client/signup/steps/woocommerce-install/step-business-info/revenue-options.js#L6-L20

Context https://github.com/Automattic/wp-calypso/pull/60066#pullrequestreview-859985725

[2022-01-30 23:40] lsl commented on #60349
@mattsherman just in case, but this should be fine, the code is leftover from the old store on wpcom feature, its not in use and now that we've [re-implemented](https://github.com/Automattic/wp-calypso/tree/trunk/client/signup/steps/woocommerce-install) the functionality under /start it can be deleted.

[2022-01-30 23:42] lsl commented on #59190
@SaxonF could you update this issue with the new design / figma links? re changes in p1643266622311500-slack-C029UPVMGTW

[2022-01-30 23:59] SaxonF commented on #59190
We're changing direction with this a little bit. We want to start creating some consistency when it comes to empty states and upsell opportunities in the platform. We're going to use the same pattern found in the domains page when no domains have been added. In this case we'll add an extra content section below.

![image](https://user-images.githubusercontent.com/1072756/151723220-00d8f395-708e-43

[2022-01-31 00:33] jerrysarcastic commented on #60469
Another report here, and confirming this bug also affects editing and reorganizing images in galleries created in the classic editor:  https://wordpress.com/forums/topic/problem-with-editing-galleries

Also noting that this seems to be reported to WordPress core here:  https://core.trac.wordpress.org/ticket/54902

[2022-01-31 01:16] jordesign commented on #59787
Thanks @cometgrrl - great point. There doesn't seem to be an open PR or issue to reference - but we can keep an eye for this when 5.9.1 rolls out!

[2022-01-31 03:47] donalirl commented on #59977
Re-opening for two reasons:

1. On Simple sites, 'Testimonials' and 'Portfolios' still link to a Jetpack doc on custom post types, when they should link to their respective WordPress.com docs on Testimonials and Portfolios.
2. On Atomic, no changes appear to have been made. Issue still reproducible.

cc @cometgrrl

[2022-01-31 05:16] rw-ye commented on #52728
Another report: 4734865-zd-woothemes

[2022-01-31 06:40] SaxonF commented on #60553
Could you expand on this a little bit @gcsecsey ? By `plugins browser page` do you mean in wp-admin?

[2022-01-31 09:55] gcsecsey commented on #60553
We've discussed this as a follow-up ticket to #59899 on last week's demo (the recording's [linked on this P2](pd8D2H-Z1-p2), this discussion starts at 7:50).

Sorry @SaxonF, I've rewatched the recording now, and we might be only meant to create a segment for the marketplace products within the API response. @cpapazoglou could you please clarify, I may have misunderstood on the call? 🙂

[2022-01-31 10:10] druesome commented on #52728
Another report: 4732235-zd-woothemes

[2022-01-31 10:27] jartes commented on #60469
Another one on: 4725719-zd-woothemes

[2022-01-31 10:36] cpapazoglou opened #60659 "Marketplace: Remove woocommerce.com dependency from WordPress.com pageloads"
Marketplace remote requests to woocommerce.com are not meant to be initiated on frontend or backend pageloads. We expect for them to run while in Calypso (async) or in Store Admin.

![image](https://user-images.githubusercontent.com/12430020/151778936-f8f1c3fe-7f28-4d7b-818c-acde9b724b8d.png)

Related convo: p3topS-XP-p2

[2022-01-31 10:52] filipanoscampos commented on #60469
Another case here:
4725596-zd-woothemes

[2022-01-31 10:55] vinnykaur commented on #44844
Another request to offer discount codes with the premium content block. 33906129-hc

[2022-01-31 11:09] cpapazoglou opened #60661 "Marketplace: Sync WP.com purchases with WC.com"
Related convo: pdtkmj-2M-p2#comment-91
Suggested solution: pdtkmj-2M-p2#comment-97

- [x] Record the transaction order at WooCommerce.com, with an additional meta field that the order originates from WordPress.com. If you’re using the host plans API, this is already included.
- [ ] Add a small helper plugin alongside WooCommerce to adjust the display of this button inside the “WooCommerce > Extens

[2022-01-31 11:12] cpapazoglou commented on #60553
@SaxonF can we reframe this issue to

“We are currently showing a featured section with **paid** plugins and we have hidden the featured **free** plugins”, should we try enabling again the featured free plugins?

[2022-01-31 11:28] sgomes commented on #60646
To clarify, are we talking about the Calypso cookie banner or the WordPress.com one?

The Calypso cookie banner will only show up in Calypso pages, like `wordpress.com/log-in`, but you seem to be referring to sites hosted on wpcom instead?

[2022-01-31 11:59] tellisbethel commented on #60469
Another report here: 4719838-zd-woothemes
Follow-up/check-in from user here: 33951067-hc

[2022-01-31 12:01] MaxPhilip commented on #60648
Another case here ZD-4734532

[2022-01-31 12:41] simison opened #60665 "[Bug]: FSE sites — footer credit link opens site name and logo in customizer"
### Quick summary

When clicking Footer credits link, I get customizer but no footer credit settings available

FYI @vindl /Cylon to triage.

### Steps to reproduce

Go to settings and click this:

<img width="807" alt="Screenshot 2022-01-31 at 14 39 42" src="https://user-images.githubusercontent.com/87168/151795425-ac610ea4-1355-4926-a073-9d9db3cc4652.png">

End up here:

<img width="359" alt="Sc

[2022-01-31 13:23] cpapazoglou commented on #60493
@michaeldcain can we go ahead and add a `vendor` column in the `store_products` table?

[2022-01-31 13:24] cpapazoglou commented on #60444
@SaxonF can you let us know when this is ready for development?

[2022-01-31 13:26] cpapazoglou commented on #60441
Here is an interesting thread regarding provisioning pcSRhZ-Y-p2

[2022-01-31 13:43] cpapazoglou commented on #60323
Discussed it in pod call, let's remove that kind of information from Simple site users.

[2022-01-31 13:58] cpapazoglou commented on #59753
Discussed this again in a pod call, we will be offering only email support for monthly plans - if user doesn't have annual plan they don't get live chat support. Let's update the plugin details page.

[2022-01-31 14:15] cpapazoglou commented on #60552
What if we allow the search visibility so that users have a chance to check "Keep me updated" as @WBerredo  suggested?

<img width="1095" alt="SS 2022-01-31 at 16 15 14" src="https://user-images.githubusercontent.com/12430020/151809309-16abc956-401c-47e6-b095-c375ad2bfe9c.png">

[2022-01-31 14:27] #60635 closed, assigned to michaeldcain

[2022-01-31 14:44] #60336 closed, assigned to zaerl

[2022-01-31 16:04] gcsecsey opened #60672 "Marketplace: Create filter for marketplace products in WP.com products API response"
The `products` public API endpoint has a parameter which filters the results for a given type.

Currently, it only supports filtering for jetpack products:
[code]

When displaying marketplace products, we only have the option to query all products and then filter the list on the client side. We should create a filter similar to the existing `jetpack` one, to reduce the response size:
[code]
This e

[2022-01-31 16:05] allilevine commented on #59190
- [ ] To do: see what we can repurpose from /domains/manage/< site id >
- [ ] See if we have a 3-col content section component and/or child components we can use.

[2022-01-31 16:20] #57224 closed, assigned to escapemanuele

[2022-01-31 16:34] obenland commented on #51594
Discussed this in the Limited Atomic planning and agreed to
* put in the effort to get this right, rather than to continue papering over storage limits
* tell customers the actual space they use to limit surprises
* do more research on how we communicate the need for plan upgrades for sites that exceeded storage

[2022-01-31 16:40] obenland commented on #51593
Let's check `upload_file_types` to make sure that video extensions are not part of that.

[2022-01-31 16:41] kwight opened #60675 "Seller Experience: Move user into the editor with the block inserter open."
Once the user selects a theme, let's drop them into the editor with a new page, and the block inserter open, pointing to payments blocks.

<img width="963" alt="Screen Shot 2022-01-31 at 8 39 58 AM" src="https://user-images.githubusercontent.com/349751/151835102-8a19e0f8-3039-4240-8259-b8468b9c5402.png">

[2022-01-31 16:42] obenland commented on #51587
We should check persistent data, have wp.com set persistent data based on the plan, and have wpcomsh read that data and display the footer if the plan indicates it should.

[2022-01-31 16:44] kwight commented on #60675
Another option for this is to open the page with a Payments block already inserted (we're not teaching the user to fish, but it's another step reduced). @SaxonF @ianstewart any preference here?

[2022-01-31 17:02] arunsathiya opened #60676 "[Bug]: "Display" and "Activity" buttons not visible in full after completing WooCommerce installation flow"
### Quick summary

After completing installation of WooCommerce from the "WooCommerce" menu on the left, the "Display" and "Activity" options at the top right of the WooCommerce Home page are not visible entirely. The installation flow may not be relevant/necessary here, but I wanted to make a note.

### Steps to reproduce

- Start with a WordPress.com site on the WordPress.com Business plan or hi

[2022-01-31 17:10] zaerl opened #60677 "[Bug]: wrong parameters name"
### Quick summary

In a JSX svg a `fill-rule` property must be written as `fillRule`. See https://github.com/Automattic/wp-calypso/blob/trunk/client/blocks/login/two-factor-authentication/push-notification-illustration.jsx#L39-L58

### Steps to reproduce

1. Visit /log-in/push
2. Check the JS console

### What you expected to happen

1. The JS console to not print an error

### What actually happe

[2022-01-31 17:11] arunsathiya opened #60678 "Back button on "Contact support" view of the "WooCommerce on plans" installation flow doesn't lead back to the expected page"
### Quick summary

On the "WooCommerce on plans" installation flow, click on "Contact support" and then click on "Back". It's expected that the back action leads back to the last view/page, but it shows the final confirmation screen to go Atomic.

### Steps to reproduce

- Start with a WordPress.com Business plan site or higher.
- Click on WooCommerce menu on the left.
- When the "WooCommerce on p

[2022-01-31 17:15] mrfoxtalbot opened #60680 "Confusing UI when trying to edit "Handled by WordPress.com" DNS records"
### Quick summary

This is somewhere between a bug and an enhancement.

The new UI to manage custom DNS records will show a "Handled by WordPress" message, but users are still able to click on the three dots menu and the EDIT and DELETE buttons will show, just inactive:
![uneditable](https://user-images.githubusercontent.com/4452464/151840209-2bcc2d31-de8a-4846-8c0f-d59969f73dcb.gif)

This UI is d

[2022-01-31 17:20] kwight commented on #60416
Not needed, as it's part of the WooP onboarding flow.

[2022-01-31 17:20] #60416 closed, assigned to nobody

[2022-01-31 17:22] allilevine commented on #60678
Thanks for catching this @arunsathiya! It looks like the link is hard-coded here:
https://github.com/Automattic/wp-calypso/blob/21f7f7b865bb2aa5a210289115c6ce0f04f71c6d/client/signup/steps/woocommerce-install/components/support-card/index.tsx#L33

[2022-01-31 17:31] gcsecsey commented on #57749
As this issue currently has low priority, it's not certain that we will pick this up in the following sprint. In the previous sprint, I've been working on getting the author name from the search string reliably.

I've created a regex pattern that returns any string that's between quotes and after the author: prefix. Eg.: for `author:"Automattic"` it will produce `Automattic` as the author name. Th

[2022-01-31 17:44] philnick206 commented on #60650
Reported in #4736178-zen for Chrome on Android

I cannot repro this on iOS with Firefox or Chrome.

[2022-01-31 17:46] delputnam commented on #60680
Thanks for the report and the additional perspective on this one.  I can see how this can be confusing.  I'll create a task for us (Nomado) to make a fix (of some sort).

[2022-01-31 18:24] allilevine commented on #60678
Maybe we could change this to have query params like the link to checkout:

https://github.com/Automattic/wp-calypso/blob/d52b28102f86507d5a025c962e2041763122ab89/client/signup/steps/woocommerce-install/hooks/use-woop-handling/index.ts#L181

[2022-01-31 18:28] enejb commented on #60537
@escapemanuele I wonder if we could use the new swipeable component here.
See https://wpcalypso.wordpress.com/devdocs/design/swipeable?

[2022-01-31 18:43] cometgrrl commented on #59977
Ah, I see what happened.

This is what I see at settings -> writing on my simple site:

<img width="600" alt="Screen Shot 2022-01-31 at 10 41 28 AM" src="https://user-images.githubusercontent.com/86427589/151853398-defeefe7-8b0c-48dc-a19b-697c6e49e569.png">

The "learn more" directly to the right of "Enable Testimonials for this site." goes to https://wordpress.com/support/testimonials/, however,

[2022-01-31 19:11] arunsathiya commented on #60678
@allilevine I am not too sure I understand this idea, but I'll give a fresh look tomorrow morning. For now, I have a `window.location.pathname`-based approach that works: https://github.com/Automattic/wp-calypso/pull/60682

If the other idea is preferred, or if you have anything else to share, let me know! Feedback welcome!

[2022-01-31 19:12] metabreakr commented on #53088
Also reported here: https://wordpress.com/forums/topic/pdf-file-display-on-blog-post-not-working/

This issue is discussed in p3btAN-1Ab-p2

[2022-01-31 19:15] brinbliss commented on #58599
Found another at 33958191-HC

[2022-01-31 19:25] #58501 closed, assigned to WBerredo

[2022-01-31 19:37] Gustavo-Hilario commented on #52520
Another report here: 4735355-zen

[2022-01-31 19:45] arunsathiya opened #60684 "[Bug]: Blank page when refreshing the confirmation stage of WooCommerce installation flow only for sites that don't have a sufficient plan"
### Quick summary

For sites that don't have a sufficient plan (WordPress.com Business plan or higher), visiting the last step of the WooCommerce installation flow and refreshing that page results in a blank, white page.

### Steps to reproduce

- Start with a site on the free, WordPress.com Personal plan or WordPress.com Premium plan.
- Click on WooCommerce menu on the left.
- Complete on-screen

[2022-01-31 20:11] ariel-maidana opened #60685 "Larger Alt text box in Media Library"
### What

A client says the one-line "Alt text" box, when editing an image from the Media Library, makes it difficult to edit and suggests a larger box, the same size of the "Description" text box.

![imagen](https://user-images.githubusercontent.com/4965723/151864556-12fce262-1c5c-4f0e-a053-198375892233.png)

### Why

This could make it easier for the users to edit alt text.

### How

Changing th

[2022-01-31 20:11] ariel-maidana commented on #60685
33952206-hc

[2022-01-31 20:27] #60582 closed, assigned to worldomonation

[2022-01-31 20:48] #55951 closed, assigned to worldomonation

[2022-01-31 21:04] sixhours commented on #60316
Aha, ran into trouble with git bisect because some versions of older Calypso will not spin up. But as I was combing through the history, I found #56596 which sounds like the culprit. Testing it now.

[2022-01-31 21:15] allilevine commented on #59190
Remove woop references from image folder we use (move up a folder, see ).

[2022-01-31 21:21] katiebethbrown opened #60687 "FSE: Form Blocks Added To Footer Template Part Show As Shortcodes on 404 pages"
### Quick summary

Jetpack Form Blocks added to the footer template part aren't displaying correctly on 404 pages. Instead the shortcode displays:

![CleanShot 2022-01-31 at 14 08 45@2x](https://user-images.githubusercontent.com/42279181/151873702-962f50d4-352c-42fb-89df-dc68b1259ab4.png)

The form _does_ show in the Site Editor when reviewing the 404 Template:

<img width="1426" alt="CleanShot 20

[2022-01-31 21:27] allilevine commented on #60569
History API, pass params from URL.

[2022-01-31 21:33] allilevine commented on #60318
Follow-up: log as a Calypso error.

[2022-01-31 21:35] allilevine commented on #60429
This might be a wider Atomic-Calypso issue that needs to be resolved.

[2022-01-31 21:37] allilevine commented on #60430
Closing for now, couldn't reproduce issue.

[2022-01-31 21:37] #60430 closed, assigned to nobody

[2022-01-31 21:39] allilevine commented on #60655
Needs upstream WooCommerce fix.

[2022-01-31 21:48] sixhours commented on #60316
It seems like this decision was made on purpose, as part of consolidating the `/start` and `/new` signup flows: paYE8P-11m-p2#comment-959 and #56596

Later, sites enrolled in FSE beta were re-pointed to the site editor, while the rest point to My Home: #58976 based on discussion in p1638990744138800-slack-CHN6J22MP

My theory is sites that are created through the Anchor flow do not get flagged as

[2022-01-31 22:21] DustyReagan commented on #51593
This seems to be testing correctly for me. @tjcafferkey I see this issue was marked as closed, then re-opened, is there a way to reproduce this that I missed?

Atomic Free

![atomic-free](https://user-images.githubusercontent.com/140841/151882202-e00f2332-4016-47c7-a969-98623ba8f5be.png)

Atomic Personal

![atomic-personal](https://user-images.githubusercontent.com/140841/151882205-decaf294-d6ee-4

[2022-01-31 23:38] worldomonation commented on #59985
Still reproducible.

This is an user-facing issue that potentially leaves users with a poor experience of our platform. My opinion is that a bugfix for this should be prioritized.

[2022-02-01 00:06] samvaidya commented on #59787
Another case on the Coutoire theme:  #4737838-zen

[2022-02-01 00:14] SaxonF commented on #60675
Related discussion here https://wp.me/paYKcK-1dX#comment-1124

I think block insertion requires more education but I do agree in the long run guiding people towards doing it themselves is the better option (e.g. via tour kit). For now though, I do think starting with payment block already inserted is the better experience to start with.

[2022-02-01 00:16] lsl commented on #59483
Scope for Sprint 3:

Our "done" for this sprint / issue = Have under test that the landing page "Setup my Store" click loads the `/start/woocommerce-install` url.

Stretch / if we have time:
- Address step confirms + validates
- Business step confirms + validates
- Confirm step confirms
- Install only step redirects to wc-admin

Definitely out of scope for Sprint 3:

Testing Atomic transfers is no

[2022-02-01 00:16] SaxonF commented on #60553
Thanks for clarifying! I've added to the [design backlog](https://github.com/orgs/Automattic/projects/346/views/4)

[2022-02-01 00:28] lsl commented on #60568
This switch involves reversing parts of https://github.com/Automattic/wp-calypso/pull/58561 to move the woo installer back to `siteSlug` from `site`. Since then there are likely many more references to `site` so we will need to find those too.

Around the same time this took place there was a fix from @roo2 to make it so the siteSlug is passed along to every step in the URL instead of using the on

[2022-02-01 01:38] donalirl commented on #59977
Hmm, that looks like you are switched to the Classic WP Admin view. However, it's the Default Calypso view this is concerned with:
![image](https://user-images.githubusercontent.com/30727666/151900631-2090ba5d-c53f-41a2-aadd-c34466db0261.png)

To get back to that view, you can click on Screen Options in the top right corner, and select 'Default View'.

[2022-02-01 01:41] SaxonF commented on #60444
Ok so based on previous conversations I think we've come to the agreement that we should provide some guidance within a confirmation step before installing Yoast SEO but rely on the existing manage domains experience as a first step.

Ideally we build this in a way that can be used for other plugins that may require certain conditions to be met.

**User doesn't have a custom domain**
![image](http

[2022-02-01 02:22] dlind1 commented on #58898
`Points And Rewards` is fully translated and everything is configured properly.
I've created PRs to fix the inclusion of languages folder in the release ZIP for three extensions:
https://github.com/woocommerce/woocommerce-deposits/pull/405
https://github.com/woocommerce/woocommerce-min-max-quantities/pull/146
https://github.com/woocommerce/woocommerce-bookings/pull/3264 (regression issue)

[2022-02-01 02:44] kuropixel commented on #55175
Another case reported: 33962863-hc

CLI showing a different display name than what we're seeing on WPcom profile. There's also no way to change it from Users page in Classic view.

[2022-02-01 03:06] lsl commented on #59190
We were thinking about this one https://github.com/Automattic/wp-calypso/issues/60349

I wonder if we should be pushing people through the installer when they click install from that plugin page / marketplace? Might be a bit early for now but I think I'd prefer that approach longer term.

[2022-02-01 03:09] #60137 closed, assigned to gavande1

[2022-02-01 03:09] lsl commented on #60588
#60607

[2022-02-01 03:09] #60588 closed, assigned to lsl

[2022-02-01 03:12] adelineyaw opened #60695 "Page Layout options - not visible on smaller screens"
### Quick summary

It’s not possible to see all page layout options on some screen resolutions.

### Steps to reproduce

1). Go to My Site(s) → Pages.
2). Click on Add new page.

### What you expected to happen

I expect to see all Page Layout options as seen here: [https://wordpress.com/support/page-layouts/#viewing-page-layouts](https://wordpress.com/support/page-layouts/#viewing-page-layouts)

[2022-02-01 03:44] nagpai opened #60696 "Add verification support for Naver - popular in Korea"
### What

User suggested adding verification tag for Naver, which is popular in South Korea, for simple sites. (other than Google, Bing and Pinterest)
#31969823hc

### Why

Popular social media in korea

### How

_No response_

[2022-02-01 05:38] #58982 closed, assigned to nobody

[2022-02-01 06:46] lsl commented on #59190
From @SaxonF, icons we can use for the headers in the footer:

Run Your Store From Anywhere
[code]

Learn with a global community
[code]

Customize and extend
[code]

[2022-02-01 06:56] lsl commented on #59190
Top section mostly figured out in https://github.com/Automattic/wp-calypso/pull/60697 though there are a couple more [todo's](https://github.com/Automattic/wp-calypso/pull/60697#issuecomment-1026528667) to go.

[2022-02-01 07:09] IoanaAMuresan commented on #60435
Just played into this ticket -> dropping in to say we're well past SLA (-20h) even with a recent message send by Richard yesterday. I'm setting this on hold for 3h for now.

[2022-02-01 08:25] happychait commented on #52241
33961463-hc which was followed up in 4737092-zen

[2022-02-01 09:00] cpapazoglou opened #60699 "Yoast wpseo_installation_successful page has no right padding"
It looks like `/wp-admin/admin.php?page=wpseo_installation_successful` page in  Yoast Premium doesn't display well in some breakpoints:

![SS 2022-02-01 at 11 01 33](https://user-images.githubusercontent.com/12430020/151939791-8a77672e-2342-4d8b-9675-5ed1843d952b.png)

related convo: p1643666403243409-slack-C029JEQRVRT

[2022-02-01 09:17] essleeung commented on #60561
Seems to be the same as this issue: https://github.com/Automattic/wp-calypso/issues/53626

[2022-02-01 09:18] essleeung commented on #53626
Another one here: 4735122-zd-woothemes
Privacy somersault.

[2022-02-01 09:19] escapemanuele commented on #60537
Thanks for the suggestion @enejb, it is absolutely worth a try!

[2022-02-01 10:16] philnick206 commented on #60469
Reported here: 4720318-zen

[2022-02-01 10:53] simison commented on #60646
I tested again and I see it when I open editor, not other Calypso pages. The cookie banner shows up from within iframe so gets loaded in wp-admin.

<img width="1186" alt="image" src="https://user-images.githubusercontent.com/87168/151955412-4bf18da6-01f0-4978-99db-60b08c142564.png">

Perhaps this gets loaded for each new site separately? I would expect to accept cookies once on WP.com.

Accepting

[2022-02-01 11:08] sgomes commented on #60646
To confirm, it looks like the cookie bar in question is not the Calypso one, but rather the a8c one, and is in all likelihood unrelated to the recent changes to the Calypso cookie bar (since those changes didn't affect the actual cookie aspects).

This looks like something that needs a closer look from someone with plenty of WordPress.com editor experience.

[2022-02-01 11:18] csabarakasz commented on #59388
Same issue: 4736871-zd-woothemes

[2022-02-01 12:00] csabarakasz opened #60702 "Event Countdown Block numbers don't show up in iOS safari"
### Quick summary

The Event countdown block numbers don't show up on a mobile device when using iOS Safari. It works properly when using other browsers on iOS, for example, Firefox, Chrome or Brave.

### Steps to reproduce

1. Example site: https://basia-andrzej.com/
2. Edit homa page. Edit countdown block. Update the dates. Save and click preview. Mobile preview on desktop works and Web develope

[2022-02-01 12:17] filipanoscampos opened #60703 "Display image title on the page editor"
### What

Currently, when we add an image to a page or post, it is shown generically as an image, with no mention to the title of the image added.
![Screenshot 2022-02-01 at 12 13 31](https://user-images.githubusercontent.com/2540430/151966509-dc2899d0-e66e-4e42-89f0-6376a6f16c56.png)

It would be great if users could see the title of the image they added, somewhere. Either by selecting the specif

[2022-02-01 12:17] WBerredo opened #60704 "`Installed on * site(s)` bug"
Related convo p1643686380322949-slack-C02JPCHEKDY

[2022-02-01 12:23] filipanoscampos opened #60705 "Display date a specific user was added to a site under User list"
### What

WordPress.com site admins can access a full list of all the users on a site, but they have no way to know when a specific user was added from the WordPress.com dashboard.

### Why

It would be helpful for websites that manage many users, and sometimes users with similar usernames and emails, to be able to know when specific users were added to the site.
that.

It was also requested by a

[2022-02-01 13:04] Addison-Stavlo opened #60706 "FSE on Dotcom - Unresolved default Template Part area classification."
### The Problem:

Default template parts supplied by FSE themes are mapped to an area classification via the theme.json file.  This tells the editor whether to surface them as a 'header', 'footer', etc. On dotcom, this now seems to be unresolved (was working previously), as all default template parts now show under the 'General' classification.

### To Reproduce:

* Create a new FSE site on dotcom

[2022-02-01 13:39] Nic-Sevic commented on #36197
another : 4739436-zd-woothemes

[2022-02-01 13:51] daria2303 commented on #52728
4708055-zd-woothemes

[2022-02-01 14:31] filipanoscampos commented on #60469
Apparently, this is also affecting audio playlists.

Here is an example:
31580021-hc

[2022-02-01 14:36] gcsecsey commented on #60444
I searched the existing support pages, and I've found this article on setting up primary domains: https://wordpress.com/support/domains/#set-a-primary-address

@cpapazoglou @SaxonF Do you think this would be a good article to redirect to from the modal, or should we create a new article that highlights the importance of a primary domain?

[2022-02-01 14:39] sixhours commented on #60316
Alrighty, pinned this down. My theory was correct; where users are redirected is determined by the design they choose and whether the design supports full-site editing. In the case of Anchor, they have three potential designs to choose from, pulled from this list. Example of an Anchor theme:

https://github.com/Automattic/wp-calypso/blob/trunk/packages/design-picker/src/available-designs-config.js

[2022-02-01 14:40] i11za commented on #53716
Another report in 33967221-hc and followed up in 4739002-zen.

[2022-02-01 14:45] cpapazoglou commented on #60283
Just noticed that D73710-code seems merged

[2022-02-01 14:55] #60618 closed, assigned to WBerredo

[2022-02-01 15:28] Addison-Stavlo commented on #60706
ON further investigation it seems that the ` WP_Theme_JSON_Resolver::theme_has_support()` method introduced in core 5.9 is checking the public api and not the actual theme for the site in quesiton.

[2022-02-01 15:34] #60518 closed, assigned to nelsonec87

[2022-02-01 15:52] kwight opened #60710 "Seller Experience: The simple path is not free."
We currently show the simple path (which uses Payments blocks) as being free, but to use a Payment block or any sort, you need to be on a paid plan. Let's duplicate the markup for the Woo path, but change it to "paid" (linking to the same place, the `/plans/` page.

<img width="616" alt="Screen Shot 2022-02-01 at 7 49 24 AM" src="https://user-images.githubusercontent.com/349751/152002257-571276a5-

[2022-02-01 15:54] kwight commented on #60556
We will not be doing this for the MVP. See: paYKcK-1fc-p2

[2022-02-01 15:54] #60556 closed, assigned to nelsonec87

[2022-02-01 16:05] nelsonec87 commented on #60710
I think we should link to `/plans/<site-slug>` instead of `/plans/` in both cases, otherwise the user is sent to "Select a site to open Plans" page.

[2022-02-01 16:09] DavidRothstein commented on #60628
We can hopefully just throw an exception when there is no cardholder name (similar to what we do for country/postal code).

[2022-02-01 16:17] carinapilar commented on #59566
Got another one on 33973744-hc - the workaround didn't work, I had to use the Tab to move to the color field, paste the code, and leave the field, that was what made the color change stick.

[2022-02-01 17:45] obenland opened #60713 "Marketplace: Yoast Premium needs to reprocess SEO data after activation"
### Quick summary

On a test site I added a Toast Premium subscription to transfer a sub-business plan site to Atomic. After navigating to the Coast dashboard I noticed a banner informing about the need to reprocess SEO data because permalink changed.

WP.com doesn't allow changing permalinks, so I wonder if that SEO data processing can be automated after transfer?

<img width="1070" alt="image" s

[2022-02-01 17:45] sixhours commented on #50560
Came at this with fresh 👀 and documented my testing so far here: pc4f5j-13S-p2

[2022-02-01 17:50] obenland opened #60714 "Marketplace: Yoast Premium warns of "Huge SEO issue" on sites with coming soon mode"
### Quick summary

On a test site I added a Yoast Premium subscription to transfer a sub-business plan site to Atomic. After navigating to the Yoast dashboard I noticed a banner informing about a huge SEO issue because robots are blocked.

<img width="804" alt="Screen Shot 2022-02-01 at 9 46 26 AM" src="https://user-images.githubusercontent.com/1398304/152022708-cdad1bad-41a5-4ed4-9a28-731f67bec5c

[2022-02-01 17:54] DustyReagan commented on #59834
It looks like D71358-code will move this issue forward from the back-end, but the UI will need some work to improve the user experience. Let's reexamine this issue after the patch lands.

[2022-02-01 18:03] Addison-Stavlo commented on #60706
D74195-code should resolve this issue overall.

I also noticed a second issue causing this to still not work as expected on blockbase and some of its children well as https://github.com/Automattic/themes/pull/5441

[2022-02-01 18:18] chickee0311 commented on #60714
![](https://github.trello.services/images/mini-trello-icon.png) [Removing the redirects for premium theme pages #60716](https://trello.com/c/MNSn8U4x/70-removing-the-redirects-for-premium-theme-pages-60716)

[2022-02-01 18:36] kwight opened #60717 "Seller Experience: Go from the "simple vs. more" screen to the site editor."
We will be dropping the theme selection step from the MVP, so we need to take a user that selects the "simple" path and drop them into the site editor (note that's the _site_ editor, not a page editor, now that FSE is active). There will be separate issues for wiring up a Payments block pattern in that editor.

We'll need to automatically assign a theme at this step; let's assign Zoologist for now

[2022-02-01 18:38] kwight commented on #60675
Closing in favour of https://github.com/Automattic/wp-calypso/issues/60717

[2022-02-01 18:38] #60675 closed, assigned to nobody

[2022-02-01 18:40] obenland opened #60718 "Marketplace: Yoast Onboarding not filled after subscription is added manually"
### What

On a test site I added a Yoast Premium subscription to transfer a sub-business plan site to Atomic. After navigating to the Yoast dashboard I noticed a banner informing about the need to configure Yoast SEO.

<img width="806" alt="Screen Shot 2022-02-01 at 9 46 12 AM" src="https://user-images.githubusercontent.com/1398304/152030200-d2a77a24-75db-4366-86b3-5caf35798490.png">

**I don't kn

[2022-02-01 18:48] kwight commented on #60710
Yes! I wasn't sure if we have it at this point, but yes, we do.

@nelsonec87 another thing to add to this, which should probably just be the same PR: it's possible that a user arrives at this point already having a paid plan, in which case we should change the text for both choices to "Included in your plan".

[2022-02-01 18:53] jrushfinn commented on #55141
Hi @roo2 , I wanted to follow up here and see if the proposed changes in the comments above work for you. Let me know how else I can help here!

[2022-02-01 19:20] yaelirub commented on #60469
Another report in the form of app review, even though its on mobile web
<img width="647" alt="Screen Shot 2022-01-31 at 2 04 41 PM" src="https://user-images.githubusercontent.com/1335657/152036199-76a06bc2-31bd-405c-a90c-fed44a9dcf90.png">

[2022-02-01 19:39] ClassicRKR27 commented on #58923
Let me know if I need to create a new GH issue for this, but I have another report of this happening here: 30905638-hc

[2022-02-01 19:41] vindl opened #60723 "FSE: show block-based themes in the showcase for all users"
### Details

As the next step of the rollout, we need to show block-based themes to all users. If they activate such a theme, they should get the FSE experience. The same goes for activating universal themes, the only difference being that they were already visible in the showcase.

Potential ways to approach this:

- Stop hiding FSE themes for non-enrolled sites.
- Make sure that sites get sticke

[2022-02-01 19:52] ClassicRKR27 commented on #58923
I've got another instance here: 18816813-hc

Seems to be happening with the Elementor Pro plugin exclusively so far; not sure if it is affecting other plugin uploads.

[2022-02-01 19:54] ahmadbaig1 opened #60724 "Editor: Settings sidebar broken when a Slideshow block is added to Layout Grid"
### Quick summary

Adding a Slideshow block inside a Layout Grid column causes the Editor to break. The editor's sidebar settings panel disappears and the page becomes too wide to handle!
A video on how to replicate and the issue-

https://user-images.githubusercontent.com/40609190/152040045-72a917a3-b05f-4d36-9461-9f2bd96ebd5b.mp4

If you check with browser inspect you'll see that the Slideshow b

[2022-02-01 20:01] kwight commented on #60316
I'd say number 3 in the long run, and number 2 now – dropping Anchor users in My Home does not honour our agreement with them, so let's fix that quickly. And sure, in the long run, updating the Anchor themes to be based on FSE-compatible themes would be a good move. Thanks for sorting this out!

[2022-02-01 20:04] ahmadbaig1 commented on #60724
I just found out that this has been already reported here- https://github.com/Automattic/wp-calypso/issues/39956
Can someone please merge the two issues?

[2022-02-01 20:17] allilevine commented on #59190
@lsl Can you expand on this? Do you mean that we should redirect people to this Woo installer flow when they click to install the plugin? Are you still in agreement about linking the colophon to the plugin page?

[2022-02-01 20:21] ahmadbaig1 opened #60726 "Form Block: Please add country code dropdown select option to phone number in the form block."
### What

I would like the form block to have the country code dropdown selector for the phone number field.

### Why

A user requested this.
Many users who fill in their phone numbers in the contact form do not add their country code.
For websites that are international, this would be an issue as the site owner is left guessing the country code.

### How

It could look something like this-
![Uplo

[2022-02-01 20:32] mreishus opened #60727 "Limited Atomic: videopress_post_transfer_set_blog_upload_space() should look for videopress capability"
In `woa-post-transfer.php`, `videopress_post_transfer_set_blog_upload_space()` checks `woa_has_atomic_subscription( $blog_id )` and if it passes, it updates the site's blog_upload_space to 2TB to allow for unlimited videopress uploads.

This function is operating off the logic: "If we have an atomic subscription, which is a Business, Ecommerce plan, or Marketplace addons product, then allow for un

[2022-02-01 20:34] wpshellbelle commented on #52728
Another report at 4678870-zen

[2022-02-01 20:37] lakellie commented on #56550
4739753-zen

[2022-02-01 20:37] kathleenjross commented on #58923
User had something similar in 31061287-hc when trying to install Popup Builder. The `/wp-admin/plugin-install.php` workaround worked.

[2022-02-01 20:44] TPilgs opened #60728 "Customizer accent color on Atomic sites with Boardwalk theme"
### Quick summary

Changing accent color on Boardwalk theme on AT sites can make the background of the customizer buttons hard to read or completely unreadable.

### Steps to reproduce

1. Start from an Atomic site
2. Install the Boardwalk theme
3. Change "Accent Color" under Customizer > Colors and Backgrounds.
4. Go to a page editor and check the styles of the buttons on Hover.

In addition, thr