[2022-06-08 11:33] #62342 closed, assigned to epeicher

[2022-06-08 13:01] andres-blanco commented on #64211
The fix is relatively easy, the difficulty is testing and verifying that we don't break more than we fix.

CC @sixhours since Ros is AFK.

[2022-06-08 13:19] daledupreez commented on #64034
Closing this issue as it was fixed by #64243.

[2022-06-08 13:20] #64034 closed, assigned to anomiex

[2022-06-08 13:25] allilevine opened #64448 "Marketplace: Change plugin card bg to match design"
We changed [the plugin list background here](https://github.com/Automattic/wp-calypso/pull/64274), but the card background should be #FFF with a stroke color of #DCDCDE

Figma: f84fqtCG4pCnCh2Hq0But5-fi-2011%3A27881
![image (10)](https://user-images.githubusercontent.com/1689238/172627596-8fdc2fa0-4e2d-4923-883a-ecb380d237d7.png)

[2022-06-08 14:17] gmovr opened #64450 "Update isEligibleForProPlan selector to check if siteId is Pro as well"
We should update [the selector](https://github.com/Automattic/wp-calypso/blob/7230004683df9f72426fb675298801fba91f3da0/client/my-sites/plans-comparison/is-eligible-for-pro-plan.ts#L7-L17) ` isEligibleForProPlan` to also return `true` if the current site is on a pro plan.

As an extra check, to not just rely on the `isEnabled( 'plans/pro-plan' );`

[2022-06-08 14:20] gmovr commented on #64450
cc: @cpapazoglou

[2022-06-08 14:27] keoshi opened #64452 "Jetpack Social: make confirmation dialog more compact"
Upon selecting a social media account and giving permissions of the app, back on Jetpack cloud, this is the confirmation dialog:

![image](https://user-images.githubusercontent.com/390760/172640682-de4d071f-8106-45d9-9efb-1d9f719bc3f9.png)

The modal is very large right now, taking almost the entire available width. We should make that more compact.

[2022-06-08 14:30] keoshi opened #64454 "Jetpack Social: add scary styling to disconnect buttons"
Once connected to one or more social media channels, the “Connect” and “Disconnect” buttons have the same exact styling:

![image](https://user-images.githubusercontent.com/390760/172642209-294d3b96-d389-4847-90fb-66aadb740341.png)

We should probably style them as `is-scary` to highlight the severity of the action, especially when there's no confirmation afterwards. Here's how that would look lik

[2022-06-08 14:33] keoshi opened #64456 "Jetpack Social: remove or conditionally hide share buttons sections"
The "(Add a) sharing button" link on the Social page goes to an error page because there’s no equivalent path on Calypso Green (`https://cloud.jetpack.com/sharing/buttons/SITE_URL`).

![image](https://user-images.githubusercontent.com/390760/172643089-e8c7e4a4-138e-4b1d-bf26-6c9304065cea.png)

This also refers to a feature only available on Jetpack-the-plugin, so I’d think about making it conditio

[2022-06-08 14:41] #64165 closed, assigned to nelsonec87

[2022-06-08 15:48] kelasante commented on #53027
Another request in 35746989-hc. Shared Site redirect and Cloudflare as options.

[2022-06-08 15:48] mikeicode commented on #64313
I ran into this today using the theme Meraki, the resized logo was too large on mobile so I used CSS to set the max-width.

[code]

[2022-06-08 15:58] claudiucelfilip commented on #64450
Changes have been pushed to: https://github.com/Automattic/wp-calypso/pull/64457

[2022-06-08 16:27] valterlorran opened #64459 "Stepper: Create an hook to redirect users"
We should have a hook to redirect the user instead of repeating the function in every component that we need it.

https://github.com/Automattic/wp-calypso/blob/ae525099b3679d28f330562d36e5c8d8af7547ba/client/landing/stepper/declarative-flow/internals/steps-repository/woo-verify-email/index.tsx#L15-L17

[2022-06-08 16:27] renata-franco commented on #57493
I got a chat here with this issue: 35747805-hc
No updates?

[2022-06-08 16:37] lukaszwilczakwilnet commented on #62888
PR in Jetpack: https://github.com/Automattic/jetpack/pull/24670

[2022-06-08 16:54] #64162 closed, assigned to valterlorran

[2022-06-08 17:20] sixhours opened #64461 "Woo Onboarding: Add user feedback when sending the email verification request"
On the email verification step, when a user clicks the "Resend email verification" button, we should provide feedback that the verification was sent correctly or a helpful error explaining why it failed.

[2022-06-08 17:22] galakhyati commented on #64084
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the issue on Firefox v100.0.2. Although on v101.0 (x64) I was not able to replicate the issue. The Editor status was unchanged (Code Editor) on editing the post again.

Screencast grab:

https://user-images.githubuserco

[2022-06-08 17:23] markbiek commented on #64164
After some discussion, the consensus is that the password field isn't necessary.

Details in p1654701980575359-slack-C0Q664T29

[2022-06-08 17:24] vykes-mac commented on #64007
Issue fixed here 971-gh-Automattic/wpcomsh

[2022-06-08 17:24] #64007 closed, assigned to vykes-mac

[2022-06-08 17:25] sixhours commented on #64461
For the design, I would leverage the existing work done for input verification on the WooCommerce Address info step.

[2022-06-08 17:26] worldomonation commented on #64271
After discussion with @dpasque we know a bit more about the behavior of the Writing screen.

When the site metadata fields load, they _appear_ to be disabled, but in reality they are not. Therefore, when the page initially loads, Playwright locates input fields, checks whether it is disabled (to which the response is they are not) and proceeds to set the fields with test data.

However, once the l

[2022-06-08 17:44] galakhyati commented on #64137
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the issue on Atomic as well as on self-hosted (Pressable) site. And not on a simple site.

[2022-06-08 17:53] vinimotaa commented on #63151
@cpapazoglou any feedback/thoughts on this C.?

I am [leaving the Figma file here](https://www.figma.com/file/HOg65lHD0QOfaq0QtzKQbC/Dog-Fooding?node-id=37%3A1366) for further discussions!

[2022-06-08 17:57] #64389 closed, assigned to worldomonation

[2022-06-08 18:03] markbiek commented on #64164
@vinimotaa @SaxonF My plan was to display something like this after the "Send verification" button is clicked

![image](https://user-images.githubusercontent.com/917632/172686037-7bdb46b0-9b76-45ae-8f11-b16d21d96352.png)

Let me know if you'd prefer a different approach.

[2022-06-08 18:04] cuemarie commented on #39772
I ran into this issue here: 35748568-hc

Will recommend the user manually filter their activity log until they get a few days away with fewer events

[2022-06-08 18:18] vinimotaa commented on #64164
Hi @markbiek - thanks. Where would this message appear? Can you give a bit more context?

[2022-06-08 18:28] markbiek commented on #64164
Hi @vinimotaa!

There isn't a next step or place for the user to go once they click the "Send verification" button.

So my thought was to hide the "Send" button and display the above message in its place.

[2022-06-08 19:04] markbiek commented on #64164
@vinimotaa One other note. I don't think we need the "Confirm my email later" link at the top on this screen.

They'll only be coming to this screen from
![image](https://user-images.githubusercontent.com/917632/172696206-1a5d0f33-0ee6-4c1e-ac12-10f456c3e519.png)
or
![image](https://user-images.githubusercontent.com/917632/172696239-0173e06a-5d23-4267-90ea-1079eac2f78d.png)

So they could conceiva

[2022-06-08 19:39] zaguiini commented on #62651
Apparently reblogging on non-single post views (index, archive) is disabled: 6786-wpcom has more information about it. I'll see if the blockers are still there and perform changes as needed.

[2022-06-08 19:58] worldomonation opened #64466 "Playwright: update RestAPIClient to use updated username scheme introduced in #64272"
### Details

https://github.com/Automattic/wp-calypso/pull/64272 introduced a new username scheme to eliminate username collisions.

As a result RestAPIClient is now logging errors that it failed to clean up the test user account and site.

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-06-08 20:27] cpapazoglou commented on #63151
Hey @vinimotaa this is my backlog for reviewing, I will let you know this week!

[2022-06-08 20:35] KirkwallDay commented on #64084
I sent a reply to the user to let us know what browser version they are using specifically and will ask them to update if necessary. I left instructions to report back here when we have a response.

[2022-06-08 20:54] worldomonation opened #64467 "Playwright: create a single method to generate new test user data."
### Details

Currently, a spec developer must call these functions individually if intending to create a new user in the flow:

[code]

This is tedious and prone to errors, especially around template strings.

Create a single method to return an object containing all necessary data to create a new test user in the script.

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-06-08 21:04] #53350 closed, assigned to nobody

[2022-06-08 21:11] obenland commented on #60727
Fixed in D81591-code

[2022-06-08 21:11] #60727 closed, assigned to obenland

[2022-06-08 21:16] dsas commented on #53256
However this is implemented, for testing the implementation, does anyone have any idea if there's a nice way to create lots of test subscriptions?

[2022-06-08 21:46] worldomonation commented on #57930
We've worked around this issue by forcibly dismissing the popup.

See https://github.com/Automattic/wp-calypso/blob/57e3319cf3e8318c8329819bc1dff6e23ae33349/packages/calypso-e2e/src/lib/components/editor-welcome-tour-component.ts for details.

[2022-06-08 21:46] #57930 closed, assigned to dpasque

[2022-06-08 23:02] worldomonation opened #64471 "Playwright: promote logging to a standalone module."
### Details

Currently, we have a [single method](https://github.com/Automattic/wp-calypso/blob/c60b75afb372f2a5d2982204248b8bd7e98d9a5f/packages/calypso-e2e/src/lib/test-account.ts) which performs logging function in `TestAccounts`.

If we can promote this logging method to a full-fledged module, it can replace the numerous `console.log` usages scattered throughout the framework.

### Checklist

[2022-06-08 23:07] worldomonation commented on #64271
Immediately after https://github.com/Automattic/wp-calypso/pull/64458 was merged into `trunk`, we see the spec fail again:

![image](https://user-images.githubusercontent.com/6549265/172732189-55ce6f4a-29b8-414a-9327-611ba1b2391c.png)

[2022-06-08 23:10] #64033 closed, assigned to lupus2k

[2022-06-08 23:19] DustyReagan commented on #64310
Patch here: ⚙ [D82265 Remove videopress_jetpack_has_capped_storage_complete_plan](https://code.a8c.com/D82265)

[2022-06-08 23:38] gmovr commented on #63186
@chriskmnds  I believe this issue is redundant now. Moving it to the backlog for now.

cc: @dkd903

[2022-06-09 00:04] vinimotaa commented on #64164
Hey @markbiek - not trying to make things harder, but I put some thought into this; "My plan was to display something like this after the "Send verification" button is clicked".

I liked the suggestion of having a simple alert message - but I'm thinking of a case where a user doesn't receive the email once they are at the "edit email" screen. For that ideally, we should give them the option to res

[2022-06-09 00:17] vinimotaa opened #64474 "Marketplace: Edit marketplace CTA on /marketing/tools"
This is a quick fix on the Marketplace CTA on /marketing/tools.

_Current design:_
<img width="1071" alt="image" src="https://user-images.githubusercontent.com/97929097/172737713-c37ee133-3444-4949-b4a8-e14a8dc4dbf1.png">

1 - We need to change the title colour from this light grey to #101517
2 - We need to replace this illustration. The new one can be [found here](https://www.figma.com/file/f84fq

[2022-06-09 00:54] zachspears commented on #63841
Since the Quick Switcher was organized this way initially and caused additional issues and usability problems for users, I am going to go ahead and close this Feature Request. Thank you for submitting. :)

[2022-06-09 00:54] #63841 closed, assigned to nobody

[2022-06-09 01:14] zachspears commented on #63883
I feel that adopting this language would provide unnecessary complexity. `Type "/" to choose a block` is simply more clunky. I have checked for additional reports of confusion and did not find anything. I will leave this open for a second opinion, but I believe in this case that the simple explanation is better as it is more succinct.

[2022-06-09 01:26] zachspears commented on #63973
I really love this idea! Since this is already in the works at https://github.com/WordPress/gutenberg/issues/16484 as noted by @pablohoneyhoney I am going to close this issue.

[2022-06-09 01:26] #63973 closed, assigned to nobody

[2022-06-09 01:36] zachspears commented on #64014
I can certainly see how this would be frustrating for users. I think it would be excessive to have a popup when changing a Primary Domain to have a warning regarding such a small feature. However, changing the Primary Domain does have other ramifications such as SEO taking some time to take effect regarding the change.

I think one of the following solutions could be impactful:
- Add an informatio

[2022-06-09 01:56] zachspears commented on #64102
Hey, @jordesign can you clarify how a site would become Limited Atomic? I am having trouble activating Atomic without adding the Pro plan. Thanks!

[2022-06-09 01:59] igotdes commented on #35367
Another user asked about this. They were wondering about the sudden drop in their stats, and the biggest difference seems to be from the “WordPress Android App” referrer:

![Markup on 2022-06-09 at 09:59:02](https://user-images.githubusercontent.com/74066241/172748047-3b456d42-ac09-464e-9415-c43f5e7b1e60.png)

[2022-06-09 02:01] jordesign commented on #64102
Hey Zach - feel free to move this one to Triaged - it will be dealt with directly by the Limited Atomic team

[2022-06-09 02:30] vishnugopal commented on #64182
We may need to revert back to the old mShots-based implementation here as there's no way to work around browser security.

Just FYI, using iframes for external website previews may be a bad idea in the future. cc @simison

[2022-06-09 02:36] vishnugopal commented on #62623
This might have produced an unintended result, see bug report here: https://github.com/Automattic/wp-calypso/issues/64278

[2022-06-09 02:39] JulianBustamante commented on #63854
Diff created D82269-code

[2022-06-09 03:51] jsnmoon commented on #63746
Dupe of #63745.

[2022-06-09 03:51] #63746 closed, assigned to nobody

[2022-06-09 03:55] 1dr0 commented on #63765
Encountered here 35740447-hc. I have tested this on Chrome which is still showing the modal after clicking on close and refreshing the page.

[2022-06-09 04:40] bluefuton commented on #59431
Thanks for fixing the upsell @elliottprogrammer!

Reopening the issue because the screen shown to existing users still has the wrong styling:

<img width="793" alt="Screen Shot 2022-06-09 at 16 35 18" src="https://user-images.githubusercontent.com/17325/172765469-66cf3b12-851e-4f52-ae2c-9819206e434c.png">

[2022-06-09 05:39] lukaszwilczakwilnet commented on #59399
PR for change: D82252-code

[2022-06-09 06:19] #64448 closed, assigned to allilevine

[2022-06-09 06:40] lsl commented on #64439
Made a very minor start on this in https://github.com/Automattic/wp-calypso/pull/64477 branched off from https://github.com/Automattic/wp-calypso/pull/64362 while wondering if I could switch over which step styling is being applied but it looks a bit more complicated than that (the style is chosen way further up the stack and I'm hesitant to keep adding "isPartnerSignup" everywhere.

Wondering if

[2022-06-09 07:28] wojtekn opened #64479 "[Bug]: Theme Showcase: "Free" and "Premium" filters are not selected when page is loaded by direct link"
### Quick summary

We can use a filter to switch between Free and Premium themes on the Theme Showcase page. There is also an option that allows showing All themes. The filter works well - when it's clicked, the URL of the page changes, the themes are filtered according to the selection, and the proper filter is marked as active. However, the filter is not marked as active when the pre-filtered pa

[2022-06-09 07:34] jordesign commented on #63868
Thanks @wojtekn - will get it deployed soonish

[2022-06-09 08:17] wojtekn commented on #63199
I've reviewed this issue and reproduced it. The feature behavior and messaging may be confusing.

### Background

The toggle feature enables/disables the Gravatar profile completely, and this change happens on the Gravatar service side. The photo upload feature uses Gravatar service to upload images and there is no alternative there. When a user tries uploading a photo while Gravatar is disabled,

[2022-06-09 08:32] sudeepbaral commented on #64084
The user replied back and shared they are using latest version of Firefox. They shared the following:

- Firefox 101.0 (64-bit)
- Chrome (Version 102.0.5005.63 (Official Build) (64-bit))
- Edge (Version 102.0.1245.33 (Official build) (64-bit))
- PC OS is Windows 10 Home, version 21H2, OS build 19044.1706

They shared the problem started after they recently factory-reset their Lenovo laptop (DESKTO

[2022-06-09 08:47] arthur791004 commented on #64441
Hmmm...it might still be not easy to use on mobile devices. For example, if the height of the dropdown list is related to the viewport, it will only show 3 suggestions in the viewport at the beginning. And when the user scrolls down, we might need to adjust the height to show more results. Also, there is a virtual keyboard on the mobile device when you focus on the search input and I remember that

[2022-06-09 09:15] simison commented on #64182
Honestly mshots is too slow for this, so it might make sense to chance the design then.

[2022-06-09 09:24] vishnugopal commented on #62623
We are planning to revert this change because of the above regression. Workaround for users could be to start from "I don't have a site address"

<img width="1267" alt="CleanShot 2022-06-09 at 14 54 17@2x" src="https://user-images.githubusercontent.com/533/172813794-7e9d00a4-41e1-42a4-ad61-65c318380094.png">

[2022-06-09 09:40] #64279 closed, assigned to jimmy319

[2022-06-09 09:42] vishnugopal commented on #62845
See: D82197-code

[2022-06-09 10:09] wojtekn commented on #63146
I've started looking at this today. It seems that the request came from this plugin instructions:

https://essential-addons.com/elementor/docs/login-register-form/

It explicitly asks the user to enable the "Membership: Anyone can register" option. I see this option when I directly navigate to my Atomic site's `/wp-admin/options-general.php`, but I can't see it anywhere in Calypso. This means it c

[2022-06-09 10:54] arthur791004 commented on #64441
I propose a quick fix to adjust the height of the dropdown based on the visual viewport. See https://github.com/Automattic/wp-calypso/pull/64485

[2022-06-09 11:22] nefeline opened #64487 "[Bug]: Intermittent Bell notifications for new comments and mentions"
### Quick summary

We have received a report of intermittent bell notifications for new comments and mentions. The problem doesn't seem to be related to the activation of the settings itself, as they are all active on https://wordpress.com/me/notifications and https://wordpress.com/me/notifications/comments. Instead, there seems to be a problem with the process responsible for dispatching those no

[2022-06-09 12:31] #64422 closed, assigned to dpasque

[2022-06-09 12:43] markbiek commented on #64164
@vinimotaa That seems like a great way to handle and I don't think it will require much extra effort.

Thank you!

[2022-06-09 13:09] #63339 closed, assigned to alshakero, escapemanuele

[2022-06-09 13:18] autumnfjeld opened #64489 "Vertical Question Screen: Update copy above the verticals list input field"
# Description
Part of Verticals in Onboarding project.
See slack convo: p1654780247602049/1654775253.343659-slack-CRWCHQGUB and CfT feedback pdtkmj-ba-p2

Let's make it clear to users they can both type and select in this input field:
![image](https://user-images.githubusercontent.com/5665959/172855959-39ceadfc-368c-445b-ac80-4544ddbc1054.png)

<img width="976" alt="image" src="https://user-images

[2022-06-09 13:29] dsas commented on #49796
I can't reproduce this @ahmadbaig1, the Stripe connection has had a good overall this year, I doubt this bug would've made it through that. I'll close this issue, but please feel free to reopen if you can reproduce.

[2022-06-09 13:29] #49796 closed, assigned to nobody

[2022-06-09 13:32] dsas commented on #47643
This was fixed in January by #22236

[2022-06-09 13:32] #47643 closed, assigned to dsas

[2022-06-09 13:38] dsas commented on #43075
This was fixed in February by [Jetpack 22626](https://github.com/Automattic/jetpack/pull/22626)

[2022-06-09 13:38] #43075 closed

[2022-06-09 13:41] dsas commented on #41579
I don't think the New category exists now, but the Premium Content block is in the Grow category rather than Earn which could do with being tidied up

[2022-06-09 13:42] danielbachhuber commented on #60280
What about a combo approach?
1. Increase the number of requested items to 50.
2. Display a loading indicator.

One downside of only increasing the number of requested items is that we haven't truly "fixed" the problem. We've only solved it for another subset of users. By including a loading indicator too, we've solved the user experience gap for everyone.

I don't strongly feel this is a good idea

[2022-06-09 13:47] gcsecsey commented on #63887
Grooming discussion:
 - make these changes behind a feature flag
 - we have another story for handling multiple sites with the installed plugin

[2022-06-09 14:01] vinimotaa commented on #64164
Hi @markbiek yes definitely!

[2022-06-09 14:04] vinimotaa commented on #64164
no worries M., hit me up for anything!

[2022-06-09 14:06] allilevine opened #64493 "Marketplace: Unlink the commas in the submission success footer links"
See p1654783207348819-slack-C029JEQRVRT

[2022-06-09 14:07] allilevine opened #64494 "Marketplace: Apply should be Applying on Submission success page"
"Thank you for apply to join the WordPress.com marketplace." should be "Thank you for applying to join the WordPress.com marketplace."

[2022-06-09 14:19] elliottprogrammer commented on #59431
@bluefuton, thanks for examining this further 👍,
I guess my question is: When Jetpack Search is owned and activated, what do we want the Search UI to looks like?  Do we want the owned/activated Search interface to look just like the Upsell card?
Like for example, when comparing to the other Jetpack products, such as Backup and Scan, They all have an upsell card to show the user when the product is

[2022-06-09 14:22] masperber commented on #60732
35750982-hc Twenty Twenty Two theme. Another instance where there is no link to the Customizer, but the customer needed to use the Customizer to change a setting. In this case, the setting was the WooCommerce Store Notice.

[2022-06-09 14:31] Copons commented on #59399
Closed by D82252-code

[2022-06-09 14:31] #59399 closed, assigned to lukaszwilczakwilnet

[2022-06-09 14:35] daria2303 commented on #63765
I am reopening it as there are more cases.

[2022-06-09 15:04] metabreakr commented on #62217
5282061-zen

User-provided images were ~11000px in width (panorama), which required me to manually optimize them.

[2022-06-09 15:46] WBerredo commented on #63544
All the resources for this task can be found here: p1654789544319819-slack-C02JPCHEKDY

[2022-06-09 15:47] #63544 closed, assigned to WBerredo

[2022-06-09 16:00] #64467 closed, assigned to worldomonation

[2022-06-09 16:03] #64466 closed, assigned to worldomonation

[2022-06-09 16:11] muffinpeace commented on #63604
Hi @ivan-ottinger, we've gotten feedback from a user that having images shown specifically when Full Text is enabled isn't a good experience as it decreases CTR and traffic, as subscribers don't have any reason to check the post. Should this have its own Feature Request?

[2022-06-09 16:26] #64232 closed, assigned to dsas

[2022-06-09 17:22] vykes-mac commented on #61331
Code fix done here D81524-code

[2022-06-09 17:22] #61331 closed, assigned to vykes-mac

[2022-06-09 17:26] pottedmeat commented on #49151
This is triggered when the Stripe account that was connected to this site is connected to another and then this site tries to create a new plan. The error message was improved in D68911-code.

[2022-06-09 17:30] pottedmeat commented on #61154
Potentially related to 869-gh-Automattic/payments-shilling

[2022-06-09 17:32] metabreakr commented on #53626
Hmm, for 19251354-hc the site was definitely set to public.

I have another user in 35282172-hc as well.

[2022-06-09 17:49] #64310 closed, assigned to DustyReagan

[2022-06-09 18:21] markbiek opened #64507 "Add `--force` option to the `wp headstart run` command"
### Details

Let's add `--force` option to `wp headstart run`.

Specifying this option will allow running headstart on theme demo sites.

If `--force` is present, we should let the user know which applicable target checks are being skipped and ask for additional confirmation.

See `class-headstart-helpers.php` line 131 for where the check is occurring.

### Checklist

_No response_

### Related

_

[2022-06-09 18:43] wojtekn commented on #60280
The fix is not only about increasing items per page. I think the more critical part of the fix is aligning the number of items per page with a top limit of items that make a list eligible for a hierarchical view. That way, we are fixing the confusing behavior from the initial report:

To give more background on the confusing behavior - if those are not aligned, the user sees the chronological list

[2022-06-09 18:46] sixhours commented on #64211
@p-jackson If y'all have the capacity I say go for it! 👍

[2022-06-09 19:37] sixhours commented on #64166
This is being worked on in D82158-code

[2022-06-09 19:44] sixhours commented on #64202
It sounds like the answer to the original question is "yes, we need to keep the email field." Good to know! We might want to consider changing the field title to be more specific ("Store email"?) but if not, I think we can close this.

I would hold off on adding more steps/fields to this flow for now. /cc @ianstewart let us know what you think about adding the above checkbox to the WooCommerce onb

[2022-06-09 22:51] lupus2k opened #64512 "Marketplace: Replace form and update contact us in Partners landing page"
Let's check how we can update https://wordpress.com/partners/ to match Figma design
Figma: SJ6I0rUUtHNdHMF2KMMJig-fi-456%3A10269

Changes here: D82360-code

#### Screenshot
![image](https://user-images.githubusercontent.com/1044309/170585491-0911f60f-e815-4eb0-9d40-aa818e993106.png)

#### Tasks
- [ ] The contact form has been replaced images seen in design [above](https://github.com/Automattic/wp-

[2022-06-09 23:38] worldomonation commented on #57795
Done in https://github.com/Automattic/wp-calypso/pull/63987.

[2022-06-09 23:38] #57795 closed, assigned to nobody

[2022-06-09 23:39] worldomonation commented on #62397
Duplicate of https://github.com/Automattic/wp-calypso/issues/64271, closing in favor of that issue.

[2022-06-09 23:39] #62397 closed, assigned to worldomonation

[2022-06-09 23:46] p-jackson commented on #63146
Calypso doesn't have a mechanism that allows 3rd party plugins to add controls to Calypso views. That might have been something we were interested in allowing in the very early days of Calypso, but I can't seem to find the readme for that anymore so it must have been removed from the repo.

In saying that the issue has been triaged so perhaps, so maybe it's a functionality that Dotcom Janitors are

[2022-06-09 23:48] jordesign commented on #63868
Fix is deployed now

[2022-06-09 23:48] #63868 closed, assigned to jordesign

[2022-06-09 23:54] cuemarie commented on #63644
**Triage update** - I still haven't received any emails with "Boost your site traffic via social media"  in the subject - however, my crowdsourcing worked, and @happychait shared that they received this email on June 1, and it did contain `SET IN TEMPLATE` at the beginning of the message preview:

![Markup on 2022-06-09 at 16:51:43](https://user-images.githubusercontent.com/27249804/172963623-08ea

[2022-06-10 00:33] zaguiini commented on #62651
The reason it was disabled was that the reblogging UI was not ready to work on pages with multiple posts.

In my tests, I:

- enabled reblogging on the home page again;
- created 1 post;
- clicked on the `Reblog` button...

It worked fine. However, when I:

- created 2 posts;
- scrolled down the page;
- clicked on the 2nd post...

The reblogging form that open was related to the topmost post, not

[2022-06-10 01:07] danielbachhuber commented on #60280
Correct — it would mean the REST API request would map 1-to-1 to core's query for a hierarchical Posts List: https://github.com/WordPress/wordpress-develop/blob/96d6eae6013121394ed0a166459f5376567ffd36/src/wp-admin/includes/class-wp-posts-list-table.php#L170

[2022-06-10 02:32] edwinho89 commented on #30453
Looks to be coming back in 35762049-hc

[2022-06-10 02:58] arunsathiya commented on #64084
I tested a bit as well and have narrowed this down to happening **only on Simple**. Atomic and self-hosted sites are fine.

[2022-06-10 03:07] mriyazuddin commented on #50740
- [ ] Another one reported here: 5266213

[2022-06-10 03:20] p-jackson opened #64515 "Remove wpcom overrides for forcing post thumbnail support with Publicize feature"
**This task is blocked on Jetpack 11.1 being released.**
Scheduled for July 5

Now that [Jetpack is ensuring that the "featured image" UI appears in the editor whenever the Publicize module is enabled](https://github.com/Automattic/jetpack/pull/23871), we can now remove our wpcom specific hacks.

#### Tasks

- [x] Rollback the WoA fix 884-gh-Automattic/wpcomsh
- [ ] Rollback the Simple sites fix D

[2022-06-10 03:25] nagpai commented on #64392
Calypso Plugin install page was drawing a blank due to Perfmatters performance plugin . User had to fall back on WP admin plugins page to install plugins
28412938-hc

[2022-06-10 03:48] lsl commented on #61032
Closing in favor of https://github.com/Automattic/wp-calypso/issues/64512

[2022-06-10 03:48] #61032 closed, assigned to lupus2k

[2022-06-10 04:27] p-jackson opened #64516 "AMP: Update support docs after feature is removed"
The support site has a page about AMP.
https://wordpress.com/support/amp-accelerated-mobile-pages/

The page is split into two sections: one for managing AMP on Simple sites, and one for managing on WoA.

Once AMP has been removed from Simple sites we need to update the support site to reflect this.

[2022-06-10 04:29] KokkieH commented on #63406
@vykes-mac My test site was on Hever when I made that screen recording, but I'm not able to replicate it in that theme any more. Also checked Maywood - working correctly there as well.

I can still replicate it in Blask, Gateway.

[2022-06-10 04:32] p-jackson commented on #64516
Change request has already been made: 1603-gh-Automattic/en.support-docs-content 🎉

[2022-06-10 05:12] p-jackson commented on #57292
The "My Sites" button was recently changed in Calypso so that it always sends the user back to "My Home". It was done to fix #49847, and "My Home" was chosen because it's the default sub-section within "My Sites" and clicking "My Home" should feel like being taken back to the "top" of "My Sites". In the same way that clicking the top-level "Reader" link always takes the user back to the top-level

[2022-06-10 06:59] taipeicoder opened #64518 "[Spike] Generated design picker: Improve iframe preview CSS overrides"
## Description
Currently, the generated design picker displays previews in an iframe that is auto-resized based on its embedded page's height. Note that this is only for the desktop view. This creates a tricky situation where if the embedded page's layout style uses `vh` as unit, the reference will be to the iframe and not the user's browser viewport. To get around this issue, we currently overrid

[2022-06-10 08:28] alshakero opened #64519 "Task: Help Center: Redirect from "Still need help?""
At the moment, we don't have the possibility of running the help center in an Atomic website, as requests to the public api are banned.
The solution for now is to redirect the user to `https://wordpress.com/help/contact` in a new tab. when clicking `Still need help?`

[2022-06-10 08:36] alshakero opened #64520 "Task: try to get the help center to work when these lines fail"
### Details

In Atomic, even with cookies allowed, some of [these line](https://github.com/Automattic/wp-calypso/blob/trunk/packages/help-center/src/components/help-center.tsx#L29-L35) are failing and resulting in infinite loading, some of these lines will never work in Atomic and we need to handle their failure gracefully.

Find out the faulty lines, and please try to work around them, I highly s

[2022-06-10 09:50] dsas opened #64522 "Dotcom Marketplace: Add woo "Product Filters" to the Dotcom Marketplace"
We'll add the **[Product Filters](https://woocommerce.com/products/product-filters/)** Woo extension to the marketplace

FG page with all the instructions - PCYsg-AhC-p2
Preflight - pdh6GB-1a0-p2

Here are 2 examples of recent integration works:
https://github.com/Automattic/wp-calypso/issues/63083
https://github.com/Automattic/wp-calypso/issues/63300

- [x] Add constants D82454-code
- [x] Add map

[2022-06-10 10:42] galakhyati commented on #30453
The same user as @edwinho89 came back to chat with the same issue.
Chat: 35765005-hc
They shared their browser details here: http://supportdetails.net/KZDGFAF1
Reopening the bug.

[2022-06-10 10:48] Copons commented on #55570
@dsas @mmtr What do you think would be good next steps for this issue?

[2022-06-10 11:41] mmtr commented on #55570
@Copons I'd be a good idea if a designer could take a look and update the mockups to accommodate the latest pricing, plans, and feature changes into the design.

From a technical perspective, it'd be also great to explore whether this step can be rendered dynamically based on the current plan and its features to avoid hardcoding the highlighted features which would make hard to maintain future pla

[2022-06-10 12:08] iamtakashi commented on #64518
Thanks for looking into this issue. Much appreciated!

I don't know how this has been done under the hood, but I just wanted to note that the issue seems to be happening in all the cover block instances that its height isn't specified in `vh` unit as well.

In case it's helpful, these are the cover block patterns used in the recipes for the MVP.
* https://patternboilerplates.wordpress.com/2022/04/

[2022-06-10 12:37] arunsathiya commented on #63849
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 SCRUBBING

- Tested on P2 - Not applicable
- Tested on Simple - Not applicable
- Tested on AT - Not applicable
- Tested on Self-hosted - Not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

Shared above. I was the OP.

📌 ACTIONS

- Pretty sure we had a space in the past, so this is a bug/regression.
- Flagging this for @Auto

[2022-06-10 12:53] arunsathiya commented on #64101
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 SCRUBBING

- Tested on P2 - Not applicable
- Tested on Simple - Not applicable
- Tested on AT - Issue says Limited Atomic but I am not sure how to create such a site
- Tested on Self-hosted - Not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

None.

📌 ACTIONS

- Pinging OP for reproduction steps: @jordesign, could you help

[2022-06-10 12:54] arunsathiya commented on #64102
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 SCRUBBING

- Tested on P2 - Not applicable
- Tested on Simple - Not applicable
- Tested on AT - Issue says Limited Atomic but I am not sure how to create such a site
- Tested on Self-hosted - Not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

None.

📌 ACTIONS

- Moving to Triaged column of the board per [this comment](http

[2022-06-10 13:15] arunsathiya commented on #48548
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on P2 - Did not try
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

- Can reproduce the bug on simple, Atomic and WordPress.org
- iframe embed as suggested by Jotform team works as expected on a WordPress.org site. On Atomic too.
- Asked them for help with embed

[2022-06-10 13:32] arunsathiya commented on #64132
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

- Did not do anything here.

📌 ACTIONS

- Closing this in favor of the work that's happening at https://github.com/Automattic/wp-calypso/issues/60661

📌 Message to Author

Thanks for that link, @edequalsawesome!

[2022-06-10 13:32] #64132 closed, assigned to nobody

[2022-06-10 14:29] arunsathiya commented on #52276
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Did not test

📌 SCRUBBING

- Tested on P2 - Did not test
- Tested on Simple - Did not test
- Tested on AT - Did not test
- Tested on Self-hosted - Did not test

📌 FINDINGS/SCREENSHOTS/VIDEO

Did not test.

📌 ACTIONS

- @Automattic/greenhouse, could you advise on @pauljacobson's [comments/questions](https://github.com/Automattic/wp-caly

[2022-06-10 14:36] #64450 closed, assigned to claudiucelfilip

[2022-06-10 15:02] thedebian commented on #52276
Hi,
I'm not sure we could really answer the question, but it seems VTT files are usually unsupported.
We added support only for the video block, when they're uploaded as a text track for a VideoPress video (and, as pointed out, they need to be encoded without BOM, if UTF-8).
As far as I'm aware of, VTT files can't be uploaded to the media library, I'm not sure about other blocks.

[2022-06-10 15:17] masperber opened #64524 "[A11y] Theme Dynamic News Missing Label for Header Search Button"
### Quick summary

In the Dynamic News theme, the Header Search Button is missing a label. Though this theme is retired, this bug should still be fixed for accessibility reasons.

### Steps to reproduce

1. Install Dynamic News on a site.
2. Enable Header Search from Customize > Theme
3. Inspect element on the Search button.

### What you expected to happen

The element

[code]

Should have a <lab

[2022-06-10 15:56] wojtekn commented on #63146
@p-jackson, thanks, leaving it for Dotcom Janitors then.

The workaround you showed is clean. It is accessible from UI and doesn't require playing with the URL.

[2022-06-10 16:21] cpapazoglou commented on #63854
This is ready to be merged.

[2022-06-10 16:30] JoshuaGoode commented on #64134
Duplicate on the Jetpack repo: https://github.com/Automattic/jetpack/issues/18071

[2022-06-10 16:49] DustyReagan commented on #64311
We weren't able to remove `videopress_has_required_purchase_for_jetpack_site` because it contains logic to check previous "upsold" subscriptions for a valid legacy VideoPress plan. However, we were able to refactor it to remove the `videopress_jetpack_has_active_product` function call, the hardcoded date checks, and simplify it a bit for clarity. D82361-code

[2022-06-10 16:49] #64311 closed, assigned to DustyReagan

[2022-06-10 16:56] villanovachile commented on #63633
Fix merged & deployed in #63692

Closing issue!

[2022-06-10 16:56] #63633 closed, assigned to villanovachile

[2022-06-10 17:07] eduardozulian commented on #57226
Another report in 35768076-hc

[2022-06-10 17:23] danielbachhuber opened #64527 "Clicking "Upgrade to the Pro Plan" banner on "Settings -> Hosting Configuration" unexpectedly ends up in Site Switcher"
### Quick summary

When I click on the "Upgrade to the Pro Plan" banner on "Settings -> Hosting Configuration":

<img width="1261" alt="image" src="https://user-images.githubusercontent.com/36432/173118505-1c76584a-034d-4b4c-81ba-b38864288f3a.png">

I unexpectedly see "Select a site to open Checkout":

<img width="689" alt="image" src="https://user-images.githubusercontent.com/36432/173118579-5f89

[2022-06-10 17:25] dpasque opened #64528 "Test issue -- please ignore, will be deleted soon"
Body of test issue. Is it `markdown`?

[2022-06-10 17:38] #64312 closed, assigned to worldomonation

[2022-06-10 17:47] wojtekn commented on #60280
@danielbachhuber, I'm trying to understand it better - in that approach, would you remove the complete recalculation of hierarchy on the client-side (https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/pages/helpers.js) and remove the chronological sort, so the page list in Calypso would mimic the one from /wp-admin/ ("Classic view")?

[2022-06-10 18:01] lupus2k commented on #64512
Hey, @SaxonF or @vinimotaa can you provide us both images from the new section for retina devices? If I export them from Figma there are small for retina devices.

I already uploaded 2x images but are just resized from the original and don't look good on retina.

[2022-06-10 18:12] masperber opened #64531 "Classic Block Placed Inside of Group Block will Duplicate Text Included Before a Read More Tag"
### Quick summary

If a user places a Classic Block with a Read More tag inside of a Group Block, then the content before the Read More tag will be duplicated.

I did not test whether this also affects Classic Blocks placed inside of other types of blocks, such as a Column Block.

### Steps to reproduce

1. Insert a Group Block
2. Insert a Classic Block inside of the Group Block
3. Insert some con

[2022-06-10 18:41] danielbachhuber commented on #60280
@wojtekn I think some of that code would need to remain in place. The client would _receive_ the pages in the correct order, but would still need to build the hierarchical display.

Oh! I didn't realize Calypso's behavior departed from core.

If we changed the chronological sort to hierarchical, I suppose we'd need to:

1. Track down the original decision for chronological (and whether it was inte

[2022-06-10 18:49] tyxla commented on #63849
Thanks for the ping @arunsathiya!

Looking at the components, this doesn't seem to be related to the button component at all and occurs only in the media library.

It's not immediately clear where / when it was introduced.

For fixing it, I'd recommend going to https://github.com/Automattic/wp-calypso/blob/dac30586cd5253c2bf463635e869a364e24bcdcc/client/my-sites/media-library/style.scss#L22 and ad

[2022-06-10 18:55] carinapilar opened #64532 "Navigation Block: Add Automatically Add Pages Option"
### What

Add the option to automatically add new pages to menus when using the Navigation block.

### Why

The option to automatically add new pages to menus was a feature from the Customizer, which now only works on older themes, FSE and the Navigation block don't offer this. Since we're now using FSE and new themes more every day, this option in the Customizer became confusing and obsolete, use

[2022-06-10 19:20] vykes-mac commented on #63406
I have created a fix here D82416-code

[2022-06-10 19:35] #64163 closed, assigned to markbiek, sixhours

[2022-06-10 20:03] worldomonation opened #64535 "Block Widget: text in block layout is stretched when in mobile layout"
### Quick summary

The block inserter in Block Widget editor is poorly formatted and difficult to use when in mobile layout.
![Screen Shot 2022-06-10 at 12 56 44 PM](https://user-images.githubusercontent.com/6549265/173141927-dc0bbe94-77cd-4c4e-b0d0-d18ca4d5abce.png)

### Steps to reproduce

prereq. use a mobile device or mobile layout emulation in Developer Tools.
1. log in.
2. navigate to Appear

[2022-06-10 20:06] worldomonation opened #64536 "Block Widget: add block button must be clicked twice when in mobile layout"
### Quick summary

If user is in the mobile layout, the `+` button must be clicked twice in order to bring into view the block inserter.

https://user-images.githubusercontent.com/6549265/173142791-4e91d048-1638-44de-a65e-2e777deeae3a.mov

### Steps to reproduce

prereq. use a mobile device or mobile layout emulation in Developer Tools.
1. log in.
2. navigate to Appearance > Widget.
3. click on th

[2022-06-10 20:31] zaguiini opened #64537 "Google Sign-in: Migrate deprecated APIs in Jetpack Connection iframe"
### Details

We're using deprecated Google APIs in the Jetpack connection iframe as reported in pdKhl6-hF-p2.

### How to reproduce the issue

1. Set up a [jurassic.ninja site](https://jurassic.ninja/specialops/) _WITHOUT_ Jetpack installed. Just untick the checkbox;
2. Grab the credentials and open WP admin in Incognito Mode;
3. Open the developer tools and paste the following snippet so you are

[2022-06-10 20:43] ash1eygrace commented on #30252
Thanks for the ping, @arun! I see there are a few reports above that are happening on non-Atomic sites, so it doesn't seem Atomic specific), but FWIW, I spot-checked some of the interactions and specific sites above to get more context.

Based on my understanding, we're expecting to see all pages to show in the Page Attributes dropdown when initially clicked open? If so, while I don't see all the

[2022-06-10 21:07] zaguiini opened #64538 "Google Sign-in: Migrate deprecated APIs in Continue with Google sign-in button"
### Details

We're using deprecated Google APIs in the WPCOM as reported in pdKhl6-hF-p2.

The new APIs do not return the ID token -- the one that conforms to the OpenID protocol and contains user information -- by default, so the least effort path possible was to introduce an intermediary endpoint where we exchange authorization codes for tokens (access and ID) before continuing with the flow.

#

[2022-06-10 21:08] #64241 closed, assigned to Rolilink

[2022-06-10 21:19] ccwalburn commented on #63082
- [ ] Instance reported here: 5287074-zen

Provided CSS workaround.

[2022-06-10 22:34] Rolilink opened #64540 "Marketplace: Move components into it's own modules"
### Details

Following phase 1 here pdh6GB-14m-p2 lets move the components into it's own folders

### Checklist

- [x] PluginSingleListView
- [x] FullListView
- [x] SearchListView

### Related

_No response_

[2022-06-10 22:42] Rolilink opened #64541 "Marketplace: Create DiscoveryPage component"
### Details

Following pdh6GB-14m-p2 we have to create a component that encapsulates the state and renders the Discovery Page
<img width="1239" alt="Screen Shot 2022-06-10 at 5 38 55 PM" src="https://user-images.githubusercontent.com/1035546/173159323-bcb0694d-53ea-40df-8813-ea3a2912a0c4.png">

### Checklist

- [ ] Group state selection and data fetch logic inside this component
- [ ] Page should

[2022-06-10 22:46] Rolilink opened #64542 "Marketplace: Create SearchResultsPage component"
### Details

Following pdh6GB-14m-p2 we have to create a component that encapsulates the state and renders the search results.
<img width="1238" alt="Screen Shot 2022-06-10 at 5 45 59 PM" src="https://user-images.githubusercontent.com/1035546/173159799-473e8973-8eaa-4abc-887b-0aa8db6d9563.png">

### Checklist

- [ ] Group state selection and data fetch logic inside this component
- [ ] Page should

[2022-06-10 22:52] Rolilink opened #64543 "Marketplace: Create CategoryResultsPage component"
### Details

Following pdh6GB-14m-p2 we have to create a component that encapsulates the state and renders the Discovery Page

### Checklist

- [ ] Group state selection and data fetch logic inside this component
- [ ] Page should look the same as it was before the refactor
- [ ] It should live in it's own folder

### Related

_No response_

[2022-06-10 22:57] Rolilink opened #64544 "Marketplace: Revisit and clean up the SearchBoxHeader component"
### Details

Lets research which improvements can be done to the `SeachBoxHeader` component and let's group search logic there.

pdh6GB-14m-p2

### Checklist

- [x] Move input clean logic into the `SearchBoxHeader` component.
- [ ] ~Research what else could be cleaned up or encapsulated in the component add the findings as a P2 post.~ (wasn't needed)

### Related

_No response_

[2022-06-10 23:01] Rolilink opened #64545 "Marketplace: Implement the PluginsNavigationHeader"
### Details
![Screen Shot 2022-06-10 at 6 10 22 PM](https://user-images.githubusercontent.com/1035546/173161288-5b0b9570-4b23-49d6-bdd3-402c0f36f90c.png)

Lets centralize all the logic of the navigation header into one reusable component.

pdh6GB-14m-p2

### Checklist

- [x] Encapsulate breadcrumbs logic.
- [x] Component shouldn't need to get too many props.
- [ ] ~Research to find more opportunit

[2022-06-10 23:06] Rolilink opened #64546 "Marketplace: Implement NoticesSection Component"
### Details
Lets encapsulate Notices, Announcements and Upgrade Nudge functionality into a `NoticeSection` component.
![Screen Shot 2022-06-10 at 6 14 02 PM](https://user-images.githubusercontent.com/1035546/173161519-5e797b0d-594a-493e-8caf-5ca54936fb3a.png)

pdh6GB-14m-p2

### Checklist

- [ ] Should encapsulate state selection for notices ~and the upgrade nudge~.
- [ ] Should be able to render

[2022-06-10 23:21] Rolilink opened #64547 "Marketplace: Discovery page route should render the DiscoveryPage component"
### Details

Discovery page routes should render the DiscoveryPage component instead of the PluginsBrowser one.

pdh6GB-14m-p2

### Checklist

- [x] `plugins/` and `plugins/:siteId` should render the DiscoveryPage component
- [x] Render the whole page from the DiscoveryPage component.
- [x] Remove unused code from `PluginsBrowser`.

### Related

_No response_

[2022-06-10 23:28] Rolilink opened #64548 "Marketplace: Search Results routes should render SearchResult page"
### Details

Search result page routes should render the SearchResultsPage component instead of the PluginsBrowser one.

pdh6GB-14m-p2

### Checklist

- [x] `plugins/` and `plugins/:siteId` with a search query param should render the `SearchResultsPage` component
- [x] Render the whole page from the `SearchResultPage` component.
- [x] Remove unused code from `PluginsBrowser`.

### Related

_No res

[2022-06-10 23:34] Rolilink opened #64549 "Marketplace: Categories results routes should render the CategoriesResultsPage component"
### Details

Categories results page routes should render the `CategoriesResultPage` component instead of the `PluginsBrowser` one.

pdh6GB-14m-p2

### Checklist

- [ ] `plugins/browse/:categories` and `plugins/browse/:categories/:siteId` should render the `CategoriesResultPage` component
- [ ] Render the whole page from the `CategoriesResultPage` component.
- [ ] Remove unused code from `PluginsB

[2022-06-10 23:45] #63191 closed, assigned to Rolilink

[2022-06-10 23:52] Rolilink commented on #63191
Added phases as milestones:
https://github.com/Automattic/wp-calypso/milestone/400
https://github.com/Automattic/wp-calypso/milestone/401
https://github.com/Automattic/wp-calypso/milestone/402
https://github.com/Automattic/wp-calypso/milestone/403

[2022-06-11 05:23] devNigel opened #64551 "Add Block modal from the + icon in the Editor does not load properly on mobile view"
### Quick summary

The Add Block modal that opens up on clicking + icon on the browser does not show properly. The issue can be reproduced in mobile browsers or by resizing desktop browser when in the editor.the

### Steps to reproduce

1. Open WordPress editor in a mobile browser or desktop browser resized to mobile widths.
2. Click on + icon on the editor.
3. You will notice that the Add Block m

[2022-06-11 06:28] formosattic commented on #59570
+1 with theme Dorna, 5286915-zd-woothemes

[2022-06-11 07:35] formosattic commented on #57277
+1 5288416-zd-woothemes
Suggested using non Yahoo address.

[2022-06-11 10:05] gmovr commented on #63875
Closing due to revert.

[2022-06-11 10:27] gmovr commented on #63501
Closing this due to revert :)

[2022-06-11 10:27] #63501 closed, assigned to nobody

[2022-06-11 10:27] arunsathiya commented on #57660
- Quick note that there's a similar/larger issue here: https://github.com/Automattic/wp-calypso/issues/64324

[2022-06-11 10:28] gmovr commented on #64020
Closing this as we're reverting

[2022-06-11 10:28] #64020 closed, assigned to claudiucelfilip

[2022-06-11 10:29] arunsathiya commented on #64324
- [ ] Another report of welcome tour at the bottom left on the editor not going away: 5288361-zen

[2022-06-11 10:51] arunsathiya commented on #64134
- Since this is already being tracked on Jetpack, I'll close this issue. https://github.com/Automattic/jetpack/issues/18071
- Feel free to reopen if I missed something.

[2022-06-11 10:51] #64134 closed, assigned to nobody

[2022-06-11 14:36] kspilarski opened #64552 "In WP-admin Categories are not shown in Posts"
### Quick summary

In WP-admin, Categories are not shown in Posts. Bulk deletion and bulk editing are affected.

### Steps to reproduce

1. Assign posts to any category.
2. Go to WP-admin  > Posts
3. Under Bulk Actions, select Edit then Apply
4. The posts that are assigned to a category don't show that they are already in that category.

### What you expected to happen

The categories the posts ar

[2022-06-11 16:36] supernovia opened #64553 "Group block: Add link settings"
### What

Add a link setting to the group block, along with inherent link style settings

### Why

Users sometimes like to group an image and text together, and make the entire thing clickable. Cases might include things like a logo with a tagline, or a banner-type ad that includes text, or a "Contact us!" link with text and a stock photo image of an operator. Things like that.

A user asked about

[2022-06-11 17:22] arunsathiya opened #64554 "Editor preferences not saving as expected"
### Quick summary

- Editor preferences are saved on the WordPress server since Gutenberg 13.2.0 but I am not able to get it working so far: https://github.com/WordPress/gutenberg/pull/39795
- I tested a simple site, an Atomic site and two WordPress.org sites (on jurassic.ninja and Pressable)
- It's not working on any of these sites.

### Steps to reproduce

- Start on a page and make changes to t

[2022-06-11 17:24] arunsathiya commented on #64554
- Since I can reproduce this on core Gutenberg as well, I have submitted an issue upstream: https://github.com/WordPress/gutenberg/issues/41676
- At this stage, we'll need to wait for comments on that core issue.
- FYI @Automattic/team-calypso

[2022-06-11 17:27] arunsathiya commented on #64554
- I guess I'll close this in favor of https://github.com/Automattic/wp-calypso/issues/64324

[2022-06-11 17:27] #64554 closed, assigned to nobody

[2022-06-11 17:27] arunsathiya commented on #64324
- Quick note that I can consistently reproduce this issue on WordPress.org sites too, so I created an upstream issue here: https://github.com/WordPress/gutenberg/issues/41676

[2022-06-11 17:32] masperber commented on #55116
Here's a video showing some testing for this bug. I've narrated the video explaining what I'm doing as I'm trying to drag and drop.

The line that appears when you drag and hover an item in List View appears one element below where the dragged item will actually go if you release it.

https://user-images.githubusercontent.com/12906034/173198539-bda5c037-4c87-4af8-8ea6-31755cc34be6.mp4

Also, there

[2022-06-11 19:47] edequalsawesome opened #64555 "FSE Welcome Tour reopens after page refresh"
### Quick summary

When on a simple site with a WordPress.com Pro plan, the Welcome Tour modal will re-open when the page is refreshed, regardless of how it is closed.

### Steps to reproduce

1. Create a new site with a WordPress.com Pro plan
2. Set the site theme to an FSE theme
3. Go to `Appearance > Editor`
4. Close the Welcome Tour modal
5. Refresh the page, with or without making changes to

[2022-06-11 20:00] tvolpert opened #64556 "Karuna theme: post author not shown if only one"
### Quick summary

In the `Karuna` theme, when there's only one author for your published posts, the author name will not be displayed on blog index pages, even when the box is checked in the customizer. Changing any published post to have a different author will cause them to be displayed, even if that particular post doesn't appear in the list (IE it's too old)

### Steps to reproduce

1. activa

[2022-06-11 20:57] villanovachile commented on #52347
Another report in 5289633-zen

[2022-06-11 21:08] jamiepalatnik commented on #64435
- [ ] User in 5277549-zd-woothemes requested a follow-up when this is fixed.

[2022-06-12 02:27] creativecoder commented on #62755
Here's the draft PR for the fix: https://github.com/Automattic/wp-calypso/pull/64497

[2022-06-12 03:29] arunsathiya commented on #64555
- I'll close this as we are tracking this here already: https://github.com/Automattic/wp-calypso/issues/57660
- There's also this one that feels like a larger issue: https://github.com/Automattic/wp-calypso/issues/64324

[2022-06-12 03:29] #64555 closed, assigned to nobody

[2022-06-12 07:06] FreedomFighterSparrow commented on #63063
Hi,
Unfortunately, the latest email still arrived LTR-aligned - any idea what could be wrong? Is there a setting missing on my end? Thanks!

![Screenshot 2022-06-12 at 10-04-14 פוסט חדש והימים ימי ראשית הקיץ ומה אתם יודעים על הזכויות שלכם - dror snir@kolzchut org il - Kol-Zchut Ltd  (CIC) Mail](https://user-images.githubusercontent.com/3416107/173221649-6fb3e15c-fdad-489a-b19b-7c36aae12378.png)

[2022-06-12 08:06] formosattic opened #64558 "Bell notifications: Newly published posts show in full"
### Quick summary

If you're subscribed to a blog, and not set to be notified about the new posts, the notifications will show the post in full even.
It'll show in full even if the More block is used, or if the theme has excerpt by default (like Barnbsbury)

I'm not sure if this is a bug or should be a feature request.

Some ideas for improvements:

* Have Reader option to only show excerpts in th

[2022-06-12 08:07] rickmgithub commented on #50740
Another report 5266213-zd

[2022-06-12 09:18] formosattic opened #64559 "Legacy widgets: Follow Blog is missing"
### Quick summary

_No response_

### Steps to reproduce

In widgets, search for `Legacy` or add a `Legacy Widget` block, look for Follow Blog ([see doc](https://web.archive.org/web/20211027085408/https://wordpress.com/support/widgets/follow-blog-widget/)).

### What you expected to happen

Follow Blog should be in the options, although not sure if it's missing on purpose.

### What actually happe

[2022-06-12 09:49] mashikag commented on #63063
Hi again! 😃  The subscription e-mail was sent to an e-mail address associated with a wpcom address? If so what is the user's language preference?

<img width="1027" alt="Screenshot 2022-06-12 at 11 47 32" src="https://user-images.githubusercontent.com/2019970/173227492-ccb7b4e9-181e-4fc5-a156-fbbb5a62d893.png">

Subscriber's language preferences override language site's preferences.

[2022-06-12 11:15] FreedomFighterSparrow commented on #63063
No, it's a general google group as well as some other non-wp users.

By the way, even though that's changing backward comptability - why does it make sense to align the mail according to the user's language? I understand aligning the "frame" of the email, but not the headline and the text itself.

[2022-06-12 11:31] Robertght commented on #64233
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this on a self-hosted site as well.

📌 ACTIONS
- Transferred to XYZ external repo: [link](https://github.com/woocommerce/woocommerce/issues)

[2022-06-12 11:41] Robertght commented on #64236
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I believe this is related to this: https://github.com/Automattic/jetpack/issues/24625#issuecomment-1147129112
I was not able to replicate it so I'm closing it for now.

📌 ACTIONS
- Closed as could not replicate, please reopen this issue if it reoccurs

[2022-06-12 11:41] #64236 closed, assigned to nobody

[2022-06-12 11:44] Robertght commented on #64257
Thank you for reporting this @CompChris ! I noticed this too late, but I reported it here: https://github.com/Automattic/wp-calypso/issues/64396 and it was reported to Core: https://github.com/WordPress/gutenberg/issues/41575

The workaround, for the time being, is to enable the 'top toolbar' mode there.

[2022-06-12 11:44] #64257 closed, assigned to nobody

[2022-06-12 13:58] zyousafi opened #64560 "Theme Editor: Broken image icon appears before emojis when Syntax Highlighting is enabled"
### Quick summary

When using the Theme Editor on a WordPress.com site, emojis appear but they show a broken image icon before the emoji itself in the editor.  This only happens when **Syntax Highlighting** has been enabled via the `wp-admin/profile.php` page  Here's an example of what that looks like:

![Google Chrome 2022-06-06 000453](https://user-images.githubusercontent.com/36741730/173235313

[2022-06-12 20:33] metabreakr opened #64561 "Exiting editor results pages/posts show in classic view despite user preferences"
### Quick summary

When a user edits their pages/posts from Calypso, and then chooses to close the editor, they are returned to the _classic view_. This is despite their preference set to _default view_.

https://user-images.githubusercontent.com/39252765/173252434-daea1cb5-2918-48f7-9fae-aec6cd40bf2c.mp4

### Steps to reproduce

1. Browse pages/posts in the default view (i.e. Calypso)
2. Edit a p

[2022-06-12 22:15] aidvu commented on #52556
The Traffic/Insights discrepancies should be fixed with D82402-code.

As for the "miscounts" or different results seen by HEs and customers, the stats queries are cached. They are not real-time, but should be close enough.

[2022-06-12 22:38] #52556 closed, assigned to aidvu

[2022-06-12 23:23] p-jackson commented on #60240
Still relevant since Storefront users are likely on WoA where (1) existing sites will keep AMP, and (2) new sites can still choose to install AMP if they want to. Luckily since they have the full AMP plugin experience they can switch modes to fix things.

[2022-06-12 23:53] devNigel opened #64563 "Reader: Custom excerpts are not shown on the website version"
### Quick summary

The custom excerpts are not showing on the WordPress.com Reader website version. However, on the mobile app, the custom excerpts are shown. I was able to reproduce this issue with multiple blogs.

### Steps to reproduce

1. Create a post on a new Simple or AT site.
2. Make sure to set a custom excerpt.
3. Check the WordPress.com Reader feed here: https://wordpress.com/read
4. Ch

[2022-06-13 02:03] edwinho89 commented on #50750
35784854-hc

[2022-06-13 06:11] zyousafi commented on #50740
The user came back in 5266213-zd and confirmed that it takes anywhere from 6 to 12 hours.  Longer than 6 for sure, but not more than 12

[2022-06-13 07:16] wojtekn commented on #64002
This is launched now, closing.

[2022-06-13 07:16] #64002 closed, assigned to wojtekn

[2022-06-13 07:43] inaikem commented on #14624
@michaeldcain, just a quick check-in: what's the best way to keep this on the team's radar?

[2022-06-13 08:34] formosattic opened #64568 "Notifications: in Classic View, the orange dot shows even when there's no Unread"
### Quick summary

![image1](https://user-images.githubusercontent.com/15944096/173311406-7dec84f9-0f5d-492a-bfb6-1ceee6e6deec.png)

I'm not sure if the orange dot is controlled in Calypso or Jetpack, searching for `<span id="wpnt-notes-unread-count"` doesn't yield a clear answer, https://github.com/search?p=1&q=org%3AAutomattic+wpnt-notes-unread-count&type=Code

Pinged on Slack for more pointers:

[2022-06-13 08:42] edwinho89 commented on #63881
5292468-zd-woothemes

[2022-06-13 08:53] jorpdesigns commented on #63881
- [ ] Reported in 5292470-zd. Suggested disabling JP Lazy-load

[2022-06-13 08:56] formosattic commented on #11116
I did a quick test:

* Simple site, no option to see the subscribers email address
* Atomic site, the Users page in Classic View will display the email address

[2022-06-13 09:16] wojtekn commented on #64003
I've created a diff D82438-code

[2022-06-13 09:51] gcsecsey opened #64571 "Marketplace Search API: fix locale support"
D81357-code is landed with the following issue:

We should update the endpoint to return fields with the correct locale based on the `lang` query parameter. We can validate this functionality via adding unit tests in `MarketplaceSearchTest.php`.

[2022-06-13 11:05] gcsecsey commented on #63902
Diff deployed: r247247-wpcom

[2022-06-13 11:12] gcsecsey opened #64573 "Marketplace search: adopt WP.org ranking"
D81357-code is landed with the following issue:

When searching for eg. "woocommerce", the WooCommerce plugin is not being returned as the no.1 result. This is because the Jetpack Search algorithm is not the same as the search algorithm for wp.org:

As a first step, we need to replicate the ranking of WP.org.

[2022-06-13 11:14] gcsecsey opened #64574 "Marketplace search: add highlighting to search results"
D81357-code is landed with the following issue:

We should add highlighting functionality to the API endpoint, similarly to how it's handled on the v1.3 site search endpoint.

[2022-06-13 11:45] danielbachhuber commented on #64426
Fixed with 982-gh-Automattic/wpcomsh

[2022-06-13 11:45] #64426 closed, assigned to vykes-mac

[2022-06-13 12:01] danielbachhuber commented on #64211
This is now shipped with wpcomsh v2.9.23

[2022-06-13 12:01] #64211 closed, assigned to danielbachhuber

[2022-06-13 13:23] ianstewart opened #64576 "Test issue. Delete later."
Test issue. Delete later.

[2022-06-13 13:23] #63801 closed, assigned to danielbachhuber

[2022-06-13 13:56] that-mike-bal opened #64577 "Google Auth"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-13 14:03] that-mike-bal opened #64578 "Sites Management Page i1"

[2022-06-13 14:07] #63915 closed, assigned to nobody

[2022-06-13 14:07] #64197 closed, assigned to mashikag

[2022-06-13 14:16] yansern commented on #60335
Marking this a duplicate of https://github.com/Automattic/wp-calypso/issues/50306.

[2022-06-13 14:16] #60335 closed, assigned to yansern

[2022-06-13 14:23] #64164 closed, assigned to markbiek

[2022-06-13 14:24] markbiek commented on #64164
Fixed by #64462

[2022-06-13 14:34] danielbachhuber opened #64579 "AMP: Redirect legacy AMP URLs to their non-AMP equivalent"
Unfortunately, WordPress' canonical redirect doesn't handle automatically redirecting AMP URLs to their non-AMP equivalents.

Thus, we'll need to write some code to redirect legacy AMP URLs to their non-AMP equivalents (e.g. `/2012/08/09/hello-world/amp/` -> `/2012/08/09/hello-world/`).

To make matters more challenging, we'll need to support the various permalink structures WordPress supports.

A

[2022-06-13 14:35] danielbachhuber commented on #64003
@p-jackson @wojtekn We'll want to solve #64579 before landing this patch.

[2022-06-13 14:35] #61551 closed, assigned to valterlorran

[2022-06-13 14:56] obenland opened #64581 "Remove premium themes and their parents on downgrade"
### Details

Currently we only switch to the Twenty Twenty-Two theme when a site loses access to premium themes, leaving any premium themes available to be switched to again. We should check all installed themes and remove any theme that's also available in the `premium/` theme directory.

I've not been able to use the `manage_software` endpoint to remove premium themes in testing, however that mi

[2022-06-13 14:57] obenland opened #64582 "Remove custom themes and their parents on downgrade"
### Details

Currently we only switch to the Twenty Twenty-Two theme when a site loses access to custom themes, leaving any custom themes available to be switched to again. We should check all installed themes and remove any theme that's not available in the `pub/` theme directory.

I've not been able to use the `manage_software` endpoint to remove premium themes in testing, however that might hav

[2022-06-13 15:02] obenland opened #64583 "Revert site on loss of ATOMIC feature"
### Details

There is a function called `revert_atomic_site_on_subscription_removal()` that does what it says that we should replace with a feature callback in the downgrade routine.

It'll be a bit of a challenge to untangle some of the setup work it does for `woa_revert()`, but with a bit of luck that might be the extend of the work needed. `woa_revert()` queues a separate revert job so we'll en

[2022-06-13 15:15] ianstewart opened #64584 "Another Test Issue — Delete later"
Testing.

[2022-06-13 15:26] jenhooks opened #64698 "Vimeo thumbnail does not show up in Jetpack Subscription Emails"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Activate Jetpack Subscriptions on a test site and subscribe to the site with an email address
2. Create a new post, embed a Vimeo video by pasting the video URL (such as `https://vimeo.com/112836958`)
3. Publish the post
4. Check your inbox for the Jetpack Subscription email

### A clear and concise description of what you expected to happen

[2022-06-13 16:09] mashikag commented on #63063
Very good question. I am not able to answer this myself. I share your point of view. I tried not to question the implementation, instead I just ensured the RTL styling is applied to the new e-mail templates the same way it was applied to the old ones. I am not RTL user myself, and it is hard for me to argue about this one.

Never-the-less we have an issue that the RTL styling is not applied at all

[2022-06-13 16:10] danielbachhuber commented on #62431
Debugged this issue a bit this morning.

The immediate reason why the contact form doesn't render the success message or submitted values is because `$form->hash` doesn't equal `$_GET['contact-form-hash']`:

https://github.com/Automattic/jetpack/blob/c1d59e2ef96a580fff595bf0fcfc77e8f1c7de89/projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php#L2407

The hash is generated when `Gr

[2022-06-13 16:39] FreedomFighterSparrow commented on #63063
You're right, it's best not to open a wider front...

Our blog is here: blog.kolzchut.org.il
It seems like the language is correctly set:
![image](https://user-images.githubusercontent.com/3416107/173398806-2bedf4e7-447f-40b9-b62d-ce8b52ecfd39.png)

Looking at the email's source, I do not see any dir/direction/lang instructions anywhere - please find attached (files renamed as .txt to bypass GitHu

[2022-06-13 16:58] markbiek commented on #64271
@worldomonation Thanks for the screenshare to show me the issue.

And extra thanks to you and @dpasque for all the details!

I agree that checking the title & tagline in the hook seems like the best way to fix it. I'll give that a shot and see how it goes.

[2022-06-13 17:37] sixhours opened #64587 "Woo Email Verification: Email notification should go to My Home rather than `/plans`"
Was testing the flow and I noticed that the link in the email to confirm the email address redirects to `/plans/my-plan/[siteSlug]` rather than `/home/[siteSlug]`:

<img width="955" alt="Screen Shot 2022-06-13 at 1 35 26 PM" src="https://user-images.githubusercontent.com/2124984/173413584-26507729-0ee4-4bc3-bd90-418113d77df9.png">

This may mean changing that link for everyone since this is a comm

[2022-06-13 17:37] #64461 closed, assigned to sixhours

[2022-06-13 17:58] anuguywp commented on #39772
I ran into the same issue here: 5294095-ZEN

User has 1000+ recent events, and Activity Log can't load.

Will recommend the user manually filter their activity log until they get a few days away with fewer events - to do this they'll need to manually filter with a link like https://wordpress.com/activity-log/domain.com?group=plugin to see a filtered page, and then they can move around within the f

[2022-06-13 18:25] gutenberg-plugin-upgrade-bot[bot] opened #64588 "Gutenberg: v13.5.x plugin upgrade"
Previous upgrade: #64250
Release notes: [v13.5.2](https://github.com/WordPress/gutenberg/releases/tag/v13.5.2)

**Install and activate**

- [x] Install and activate v13.5.0-rc.1 on edge (D82733-code)
- [x] Install and activate v13.5.0 on edge (D83064-code)
- [x] Activate v13.5.0 on production (D82734-code)
- [x] Request v13.5.0 AT upgrade (p9o2xV-2bQ-p2)
- [x] Install and activate v13.5.1 on edge

[2022-06-13 18:27] sixhours commented on #64587
Digging into this deeper, it looks like the email link points to a specific URL that handles the verification, then redirects to `/plans`. We need to change that redirect behavior rather than the link in the email.

[2022-06-13 19:36] sixhours commented on #64382
Looks like these changes should take effect June 16, so we should plan to roll out any copy/wording changes shortly after: p7DVsv-eGr-p2

[2022-06-13 19:41] sixhours commented on #64166
Closed in D82158-code

[2022-06-13 19:41] #64166 closed, assigned to valterlorran

[2022-06-13 20:10] ClassicRKR27 commented on #63881
@rambogenius sorry for the late reply (I missed it), but honestly I hadn't thought of that - I wasn't aware of that part of the documentation for the Embed Block so I didn't think to suggest it. Though some of the replies since then seem to suggest that it's happening for outside sources as well.

[2022-06-13 20:10] JulianBustamante commented on #63854
Deployed r247296-wpcom

[2022-06-13 20:16] sixhours commented on #64587
Think I found the redirect's source at `wpcom/wp-activate.php#296`; that line is checking for the eCommerce plan and redirects to WooCommerce admin; if not on the eComm plan, it redirects to `/plans/my-plan`.

So it looks like we need to check against the site intent rather than the plan purchased, and update that redirect to point to My Home rather than the WC admin.

[2022-06-13 20:48] jp-imagines commented on #56468
Another report in 35793057-hc. User couldn't find widgets to delete them because of this. Simple site, affected `/widgets.php` and the Customizer.

[2022-06-13 20:50] #57493 closed, assigned to wojtekn

[2022-06-13 20:54] p-jackson commented on #64579
Thanks for testing! This is definitely not something we want to happen. We've tested and talked about this p7DVsv-eFN-p2#comment-41061 and p58i-cbk-p2#comment-53891 and found that redirection was working on Simple sites and only Atomic was affected. But since we're not removing the plugin on existing AMP sites they wouldn't be affected.

What sort of site did you discover this on? It's not somethi

[2022-06-13 20:55] worldomonation opened #64591 "E2E: run Pre-Release Tests against the target branch."
### Details

Currently, Pre-Release Tests target is locked to `https://wpcalypso.wordpress.com` which is fine for the purposes of checking changes `after` has been merged into `trunk`, but this fails to be useful for situations where a developer would want to check their changes in the feature branch are kosher.

### Checklist

_No response_

### Related

_No response_

[2022-06-13 21:06] worldomonation opened #64592 "Playwright: run Pre-Release Tests with mobile viewport as well."
### Details

Currently, we run the Pre-Release Tests only with the `desktop` viewport.

Consider adding support for the `mobile` viewport size as well.

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-06-13 21:07] danielbachhuber commented on #64579
It was the first Simple site I listed in D82438-code

It might be helpful to track down the exact code handling the redirection to confirm. When I worked on this previously (removing AMP from a VIP Go site), core didn't handle the redirect automatically, and I had to write custom code for it.

[2022-06-13 21:12] #61095 closed, assigned to nobody

[2022-06-13 21:13] worldomonation commented on #59013
Superseded by https://github.com/Automattic/wp-calypso/issues/64271, where we find the behavior is in fact a bug.

[2022-06-13 21:13] #59013 closed, assigned to nobody

[2022-06-13 21:14] worldomonation commented on #57033
Closing as it has been quite some time and the Domain Signup spec needs a rework.

[2022-06-13 21:14] #57033 closed, assigned to nobody

[2022-06-13 21:14] worldomonation commented on #61172
Duplicate of https://github.com/Automattic/wp-calypso/issues/58683.

[2022-06-13 21:14] #61172 closed, assigned to nobody

[2022-06-13 21:33] michaeldcain commented on #14624
@inaikem: It's in the Payments backlog, and additionally tracked via the links above. If we're seeing more requests than the original 1/day estimate, we could talk about re-prioritizing it for future work. Do you have an idea of the number of times HEs are fielding these requests?

[2022-06-13 21:47] edequalsawesome commented on #63297
Another case in 5292396-zen

[2022-06-13 22:21] sbathompson-he commented on #39772
Reported here 5294718-zd-woothemes
The workaround above worked though. Thank you!

[2022-06-13 22:52] bluefuton commented on #59431
Thanks @elliottprogrammer! We would like to offer a richer experience in the future, but at this point I would settle for:

4. Use the correct fonts and font colors (and ideally a better Search logo) on the card for existing users

At a glance it seems the header font should be Recoleta and even that would be a nice improvement.

[2022-06-13 22:59] vykes-mac commented on #63406
fix shipped here D82416-code

[2022-06-13 22:59] #63406 closed, assigned to vykes-mac

[2022-06-13 23:38] danielbachhuber commented on #58123
@Addison-Stavlo Is #64594 roughly what you wanted?

[2022-06-14 00:02] thekingsprojects commented on #64324
Another user report here: 5290231-zen

They shared browser details (and do appear to be using Win10): https://www.whatsmybrowser.org/b/67OBE

[2022-06-14 02:30] lsl commented on #64474
- Assuming the button color should remain the same (based on user theme selection).
- #101517 == `--studio-gray-100`
- Image:
![Frame](https://user-images.githubusercontent.com/811776/173480767-e9c2e2e9-41b8-4767-9afd-58f792bf804d.svg)

[2022-06-14 03:11] devNigel opened #64596 "Multiple Blocks: Typography appearance settings is overridden by Styles Typography Links settings"
### Quick summary

The Styles Typography setting is overriding the Typography settings in Site Title Block.

The Block level settings should have higher priority.

### Steps to reproduce

1. On a simple or AT site with FSE theme, go to Appearance > Editor.
2. On the Site Title block settings > Typography > Appearance, set it to something like Bold. You can see it works.
3. Next, go to Styles tab >

[2022-06-14 03:44] arthur791004 commented on #64441
Close it as all of the tasks are done 🎉

[2022-06-14 03:44] #64441 closed, assigned to arthur791004

[2022-06-14 04:06] roo2 commented on #63119
hmm I just haven't been able to view dM0oz-p2, I'm getting a 403 error there but I caught up on the thread p1651027873414889-slack-CRWCHQGUB.

I've added patternboilerplates.wordpress.com to  the list of sites being translated in the block-patterns project in D82185-code after discussion pxLjZ-76c-p2 I made them aware of the issue with the duplicate titles, "Contact 7" etc, but they didn't object

[2022-06-14 04:26] KokkieH commented on #63406
Thank you!

[2022-06-14 04:29] roo2 commented on #63119
diff to add dotcomverticalposts.wordpress.com to be translated D82515-code.

[2022-06-14 06:51] gcsecsey commented on #63166
D81357-code is now landed and deployed: r247247-wpcom

[2022-06-14 06:55] lsl opened #64598 "Marketplace: Partners /log-in/en screen fix localization"
Bug from https://github.com/Automattic/wp-calypso/pull/64362

When on a localized login screen, clicking the suggestion to go to the english version of the page breaks the rebranding dropping you back into woo branding.

Something to do with a difference between `/log-in` and `/log-in/en`.  or possibly nested redirect url?

[2022-06-14 07:17] lukaszwilczakwilnet opened #64599 "Marketplace: replace product_type in filter on MC product page"
Context: D82252-code

@dsas introduced a new constant in D81923-code called WPCOM_MARKETPLACE_PRODUCT_TYPES that will contain in the future all product types associated to the Marketplace, I think we should use it here too - we currently have two product types: marketplace_plugin and marketplace (it should associated to Yoast).

[2022-06-14 07:20] lsl commented on #63611
Does ETK configure a `<LocaleProvider />` like [the readme suggests](https://github.com/Automattic/wp-calypso/blame/trunk/packages/i18n-utils/README.md#L13-L16)?

[2022-06-14 08:04] lukaszwilczakwilnet commented on #64599
Changes: D82523-code

[2022-06-14 08:20] #63854 closed, assigned to JulianBustamante

[2022-06-14 08:27] edwinho89 commented on #59388
- [ ] 5294515-zd-woothemes

[2022-06-14 10:00] rcrdortiz opened #64600 "One-time donations is shown as a subscription in the Earn section"
One-time donations also show as a subscription, which is confusing;

<img width="763" alt="Markup 2022-05-13 at 13 46 56" src="https://user-images.githubusercontent.com/5075840/168213062-7885b6d0-5f94-45ee-8197-17964ac44cf5.png">

_Originally posted by @Greatdane in https://github.com/Automattic/wp-calypso/issues/63267#issuecomment-1125653525_

[2022-06-14 10:01] rcrdortiz commented on #63267
This seems like a different issue not related to the original issue.

This seems like a different issue not related to the original problem. I've created [a separate issue for it.](https://github.com/Automattic/wp-calypso/issues/64600)

[2022-06-14 10:16] rickmgithub opened #64602 "Fade transition for Post Carousel Block"
### What

To have the same transition options in the Post Carousel Block as can be found in the slideshow block.

### Why

They feel the options are limited and would like the option.

### How

_No response_

[2022-06-14 10:26] escapemanuele opened #64603 "Help Center: Help icon is not centered"
As in the screenshot, the help icon is not centered.

![image](https://user-images.githubusercontent.com/52076348/173556196-33738b04-1440-4455-b539-8914defa105e.png)

[2022-06-14 10:36] arthur791004 commented on #64185
🚢

[2022-06-14 10:36] #64185 closed, assigned to arthur791004

[2022-06-14 11:13] bogiii opened #64608 "Import onboarding: fix issue with cached SVG illustrations"

[2022-06-14 11:55] ivan-ottinger commented on #63604
Hey @muffinpeace 👋🏼

Thank you for the comment. Yes, this can go to a new Feature request. There's also a [related issue](https://github.com/Automattic/wp-calypso/issues/62994#issuecomment-1131427030) where the new Feature request can be mentioned.

[2022-06-14 12:13] #62928 closed, assigned to sejas

[2022-06-14 13:06] KokkieH opened #64611 "Theme Showcase: Remove CSS forum card from theme showcase Support page"
When visiting the Support tab for a WordPress.com theme in the theme showcase, it shows an option to post to the WordPress.com Theme forums for help.

![Videomaker_Theme_‹_kokkiestrialtestsite_—_WordPress_com](https://user-images.githubusercontent.com/11873759/175947604-613241c3-5363-491c-8fa5-d45d4c79a5ed.png)

We're retiring the CSS subforum (see pbvpgB-1PF-p2) as it doesn't really serve a purpo

[2022-06-14 13:11] #64271 closed, assigned to markbiek, worldomonation

[2022-06-14 13:12] #64493 closed, assigned to lupus2k

[2022-06-14 13:13] #64519 closed, assigned to arcangelini

[2022-06-14 13:13] #64520 closed, assigned to arcangelini

[2022-06-14 13:56] valterlorran commented on #64459
I think it's a great idea 👍

[2022-06-14 13:59] markbiek commented on #64459
Oh, wait! There's already a `redirect` function in `steps-repository/import/util.ts`!

[2022-06-14 14:49] danielbachhuber commented on #62431
@sejas Yep, closing in favor of https://github.com/Automattic/wp-calypso/issues/60774

[2022-06-14 14:50] danielbachhuber commented on #60774
Some additional debugging at https://github.com/Automattic/wp-calypso/issues/62431#issuecomment-1154111872

Pull request started with #24727

[2022-06-14 15:02] gcsecsey opened #64614 "Marketplace Search: Register traintracks events for search"
According to PCYsg-bor-p2: we need a render and an interaction event

D81357-code added the `wpcom_marketplace_search_traintracks_request` Train Tracks event. We also have the railcar that contains all the required data for the interaction event. We should also register a render event that fires when the search result is displayed.

We need to register these events to differentiate Marketplace sea

[2022-06-14 15:51] Joshgrygiel commented on #64596
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS
- Confirmed the steps outlined result in the styles tab settings overwriting the appearance settings of the Title Block through the FSE editor

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Added to 'HE Cross-repo Watchlist' project b

[2022-06-14 16:01] obenland commented on #57468
Fixed in D82096-code.

[2022-06-14 16:01] #57468 closed, assigned to obenland

[2022-06-14 16:06] that-mike-bal opened #64617 "GA4 on WordPress.com"
See PT here: https://martechp2.wordpress.com/2022/03/30/project-thread-google-analytics-4-ga4-on-wordpress-com/

#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-14 16:09] obenland commented on #64096
This is working as expected. Hosting Configuration is a feature only available on higher-tier plans.

[2022-06-14 16:09] #64096 closed, assigned to nobody

[2022-06-14 16:11] obenland commented on #64116
@galakhyati Have you had a chance to review this yet?

[2022-06-14 16:15] #62431 closed, assigned to danielbachhuber

[2022-06-14 16:28] cuemarie commented on #64332
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- **Could not replicate.** Created a Classic Block that contained a heading, text, an image, and text with a link in all test sites, and each one Converted to Block with no issue. Example on AT site:

https://user-images.githubu

[2022-06-14 16:28] #64332 closed, assigned to nobody

[2022-06-14 16:32] obenland opened #64620 "Delete SFTP users on plan downgrade"
### Details

When a site cancelled their Business plan the SFTP users should go away.

See pdG1ka-8n-p2#comment-189

### Checklist

_No response_

### Related

_No response_

[2022-06-14 16:34] that-mike-bal opened #64621 "Plans Overhaul Revert"
[Reverting back to old plans on June 16th, 2022](https://pricingandpackaging.wordpress.com/2022/06/09/old-plans-coming-back-on-june-16/)

#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-14 16:36] cuemarie commented on #64340
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- **Could not replicate.** I tested this on AT, Simple, and Self-Hosted (just in case), and I was able to see search results in all three scenarios. Example below from my AT test site:

![Markup on 2022-06-14 at 09:33:20](https:

[2022-06-14 16:36] #64340 closed, assigned to nobody

[2022-06-14 16:40] supernovia commented on #64240
👋  Hi! @gwensmithx!  We currently support Google Fonts, but just a curated set of them, so I've been checking to see if there are any others that could be added to the collection. Open Sans was the only one on the list that's there that I could see so far.

The article suggests sans-serif is good. Google Fonts has several of those, though I'm not sure which ones would be best for this need:
https:

[2022-06-14 16:47] cuemarie commented on #64301
Thanks for this report, @ktyfuller604 ! This reflects the discussion and work being done on an existing issue, so I'll close this in favor of that one. https://github.com/Automattic/wp-calypso/issues/59363

[2022-06-14 16:47] #64301 closed, assigned to nobody

[2022-06-14 16:56] supernovia commented on #30051
I think this has pretty well been triaged, but I'll note a handful of related issues from Gutenberg:

[First-line indent slider option for paragraphs #34688](https://github.com/WordPress/gutenberg/issues/34688)
[Consider an option to use indentation instead of space between paragraphs #37462](https://github.com/WordPress/gutenberg/issues/37462)
[Tracking: extend layout options in Gutenberg #39336]

[2022-06-14 17:12] supernovia commented on #64348
@arunsathiya would this fit under this more general request for an FSE revision history?
https://github.com/Automattic/wp-calypso/issues/57349

I think it would, and I'm asking on that issue if those would be included, but if you think there's an extra case for having these separate, we can re-open this.

[2022-06-14 17:12] #64348 closed, assigned to nobody

[2022-06-14 17:13] that-mike-bal opened #64623 "Email Form Unification"

[2022-06-14 17:14] #64351 closed, assigned to nobody

[2022-06-14 17:21] Joshgrygiel commented on #64568
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Tested on User Site  ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could not validate this issue on either my test sites or on the user's site through the Classic View:

![Annotation on 2022-06-14 at 12-17-15](https://user-images.githubusercontent.com/88345647/17363

[2022-06-14 17:42] that-mike-bal opened #64624 "Linguine 2.0"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-14 17:52] cuemarie commented on #55102
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- **I can confirm that HEIC images are not supported by WordPress.com, or on a Self-hosted site.**
- That seems to be the conclusion of the conversation above, and by design.
- I believe the issue that needs to

[2022-06-14 18:51] #64459 closed, assigned to markbiek

[2022-06-14 18:58] that-mike-bal opened #64626 "Localized Screenshots"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-14 18:59] that-mike-bal opened #64627 "Headstart Translations"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-14 19:00] that-mike-bal opened #64628 "Continuous Docs Translations"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-14 19:25] DustyReagan commented on #64309
Completed in D82510-code and D82570-code.

[2022-06-14 19:25] #64309 closed, assigned to DustyReagan

[2022-06-14 19:46] obenland commented on #64581
We decided that this is not necessary to do after all (p1655229938211899-slack-C02V49GM0PN). Sites get reverted right after downgrade anyway, and in cases where a plan gets removed from Store Admin we can assume that HEs have next steps for that site.

[2022-06-14 19:46] #64581 closed, assigned to nobody

[2022-06-14 19:46] obenland commented on #64582
We decided that this is not necessary to do after all (p1655229938211899-slack-C02V49GM0PN). Sites get reverted right after downgrade anyway, and in cases where a plan gets removed from Store Admin we can assume that HEs have next steps for that site.

[2022-06-14 19:46] #64582 closed, assigned to nobody

[2022-06-14 19:51] edequalsawesome opened #64629 "Limited AT: User can change Permalinks"
### Quick summary

When a site is AT'd with a lower plan, the permalinks for the site can be changed regardless of the plan used

### Steps to reproduce

With a Limited AT Site:

1. Go to `Settings > Permalinks`
2. Change the Permalink structure

### What you expected to happen

The `Settings > Permalinks` area of WP Admin wouldn't be available, as changing the permalinks is limited to Business an

[2022-06-14 19:54] edequalsawesome opened #64630 "Limited Atomic: Local users can be created in WP Admin"
### Quick summary

When a site is AT with a lower plan, local users for WP Admin can be added that aren't connected to WordPress.com

### Steps to reproduce

On a Limited AT site:
1. Go to Users > All Users
2. Change the view to Classic View from the View tab at the top right
3. Add a new local user

### What you expected to happen

All accounts would be added using the WordPress.com interface to

[2022-06-14 20:05] JoshuaGoode commented on #53555
Closing in favor of the newer duplicate, only because it seems to have some progress and a PR pending.  https://github.com/Automattic/wp-calypso/issues/61974

[2022-06-14 20:05] #53555 closed, assigned to nobody

[2022-06-14 20:05] edequalsawesome commented on #64116
@obenland I was able to duplicate it -- here's a GIF showing my flow with a Premium plan site:

![2022-06-14 16 04 10](https://user-images.githubusercontent.com/4000628/173678817-2f1b2a00-9924-4901-8ec0-bc46211ead84.gif)

I also didn't need to click on the Upgrade Plan button -- just waiting a few seconds got me past that.

[2022-06-14 20:19] JessBoctor commented on #42727
I had this issue come up with a site that was not using a map with a boundary.

Chat: 30565410-HC

Business listing they were trying to embed: https://www.google.com/maps/place/Lake+Calhoun+Executive+Center,+3033+Excelsior+Blvd+%23190,+Minneapolis,+MN+55416/@44.9477451,-93.3180783,17z/data=!3m1!4b1!4m5!3m4!1s0x87f62760afe0ac67:0xfc31d164b9149159!8m2!3d44.9477451!4d-93.3180783

Iframe code:

[code]

[2022-06-14 20:49] ebinnion opened #64632 "Reader: Collapsed sidebar is confusing and cannot be expanded"
### Quick summary

When I go to the reader at wordpress.com/read, I see something like this:

<img width="187" alt="Screen Shot 2022-06-14 at 3 43 27 PM" src="https://user-images.githubusercontent.com/1126811/173685113-05514940-ba3f-4758-a609-281ed4f4a9dc.png">

From my perspective, it's just a bunch of icons that I'm not even sure what they do. Each icon seems to represent a site that I follow th

[2022-06-14 20:53] ebinnion opened #64633 "My Sites: Sidebar external links overlap awkwardly with collapsed sidebar"
### Quick summary

When going to the my sites view, something like `/stats/day/$site`, and with a collapsed sidebar, the external link icon overlays that regular icon which doesn't look great.
<img width="744" alt="Screen Shot 2022-06-14 at 3 50 47 PM" src="https://user-images.githubusercontent.com/1126811/173686562-ec9679a5-0549-41b3-904f-86f7c7dd1e75.png">

### Steps to reproduce

1. Spin up a J

[2022-06-14 21:23] danielbachhuber commented on #58123
Shipped! 🚢 🚢 🚢

[2022-06-14 21:23] #58123 closed, assigned to danielbachhuber

[2022-06-14 21:25] obenland commented on #64620
Fixed in D82561-code

[2022-06-14 21:25] #64620 closed, assigned to obenland

[2022-06-14 21:29] worldomonation commented on #63986
So, it looks like the current implementation already uses `RestAPIClient.sendRequest` deep down, so this is no longer relevant.

[2022-06-14 21:29] #63986 closed, assigned to nobody

[2022-06-14 21:38] obenland commented on #60814
Diff in D82580-code

[2022-06-14 21:38] gwensmithx commented on #57390
Hi all - let me know if you want a new report opened for this but it appears this is affecting other browsers now too - I've tested on Chrome and Firefox and also using Windows w/ Chrome on Browserstack.

We had multiple reports today of images in the Cover Block suddenly being very zoomed in. Customers noticed this after making an unrelated change to their page and clicking update.

I'm able to r

[2022-06-14 21:40] daledupreez commented on #55283
We've now worked out that the bug stems from situations where we can't determine a geolocation. When this happens, we're not recording those as views from an unknown location, which gives us a big discrepancy between page views and geolocated page views. The core problem was spelled out in pMz3w-fmu-p2#comment-99270.

I have now put forward two related changes to support this more clearly:
 * D825

[2022-06-14 22:04] paulopmt1 opened #64634 "Marketplace: 2FA checking rebranding"
We're rebranding the login screen in 13520-gh-Automattic/woocommerce.com but also require the same treatment during the 2FA validation flow for wpcc.

![image](https://user-images.githubusercontent.com/1044309/173696627-9e14a815-cee5-4df4-840a-da7e03c0047a.png)

### Requirement

- [ ] Rebrand the wpcc woo branded 2fa validation step
- [ ] Make sure we're reusing the code [from/on here](https://git

[2022-06-14 22:09] cuemarie commented on #63199
Ran into this issue again here: 35241120-hc

I think your proposed solution @wojtekn would help a lot! It's definitely not clear that Gravatar is necessary for you to have a profile photo at all - it reads more like a third party integrated service. It would also be great to link to our Gravatar support document from here, to help users find more info on this! (-> https://wordpress.com/support/gra

[2022-06-14 22:12] worldomonation commented on #54992
It has been 6 months and we actually can do a good chunk of the original proposal with [`RestAPIClient`](https://github.com/Automattic/wp-calypso/blob/trunk/packages/calypso-e2e/src/rest-api-client.ts):
- set up a new site
- tear down after the test run

The limitation currently is that we do not have access to schedule async jobs from the framework (nor is this really a good idea IMO) thus the cl

[2022-06-14 22:13] worldomonation commented on #54776
This isn't really important for now.

[2022-06-14 22:13] #54776 closed, assigned to nobody

[2022-06-14 22:24] worldomonation commented on #61166
@dpasque With your Editor Tracking project winding down, would you say these have been completed?

[2022-06-14 22:24] worldomonation commented on #61168
Done - see pciE2j-NW-p2.

[2022-06-14 22:24] #61168 closed, assigned to nobody

[2022-06-14 22:54] zaguiini commented on #64537
Created a diff in D82582-code.

[2022-06-14 23:30] nelsonec87 commented on #64194
Some findings:
- The current process for sending the annotations for translation (p6nuNy-IQ-p2) is not being followed correctly (or at all for several themes).
- The process is pretty "manual", so it's easy to forget or get lost (p1642437768052000-slack-C02AED43D)
- Also, sending the file to linguine is not enough, since they are not sent to translation regularly (p1634719053153500-slack-C02AED43D

[2022-06-14 23:34] marianearchimbaud opened #64635 "Limited Atomic: Performance & Speed settings are still available"
### Quick summary

AT'd site with Premium plan still show option to
Enable or disable site accelerator (Speed up image load times, Speed up static file load times) and enable or disable Lazy load images.
<img width="647" alt="Screenshot on 2022-06-14 at 18-15-52" src="https://user-images.githubusercontent.com/72237737/173704647-c9a3f6ac-3a78-422a-88b8-7361fcdb7fe2.png">

### Steps to reproduce

Vi

[2022-06-14 23:52] marianearchimbaud opened #64636 "Limited Atomic: Storage limits are not being updated after removing the atomic plan"
### Quick summary

The site used to have an eCommerce site and then a Premium plan was applied.
I was expecting to see a storage limit downgrade from 200 GB to 13 GB.

### Steps to reproduce

Visit the Media Library to review the see the used and available storage limits

### What you expected to happen

13 GB of storage limit
![Uploading Screenshot on 2022-06-14 at 18-50-58.png…]()

### What actu

[2022-06-15 00:11] Gustavo-Hilario opened #64638 "Gallery block: Carousel feature is missing when gallery is within a Reusable block"
### Quick summary

When a `Gallery` block is within a `Reusable` block, the carousel feature can't be used.

### Steps to reproduce

1. Create a new page/post.
2. Add a Gallery block. Add some images to the Gallery block.
3. Turn the Gallery block into a `Reusable` block.
4. Save the change and preview the page.
5. Click on one of the images from the Gallery block.

Here is a screencast:

https://

[2022-06-15 00:34] marianearchimbaud commented on #64116
I was not able to reproduce this. I see a white screen on the Installed plugins section, though. For the record,  the site is indeed atomic:

<img width="1214" alt="Screenshot on 2022-06-14 at 19-33-18" src="https://user-images.githubusercontent.com/72237737/173711826-598cfc52-de2d-48be-a41c-5db685386bcf.png">

<img width="909" alt="Screenshot on 2022-06-14 at 19-26-37" src="https://user-images.gi

[2022-06-15 01:47] jordesign commented on #64101
@arunsathiya  It was set up to test following these instructions:
pdLHpo-1q-p2

For the purposes of it being worked on - we can consider it triaged though.

[2022-06-15 02:44] Jaykame commented on #39772
Another issue with too many activities causing the page to not load reported here: 5298341-zd-woothemes

The workaround worked though. Thanks.

[2022-06-15 02:45] JulianBustamante opened #64639 "Add unit tests to Marketplace Event Handlers"
The marketplace event handlers require unit tests to make sure any further changes do not introduce errors.

[2022-06-15 02:47] JulianBustamante commented on #64639
Diff created D82596-code

[2022-06-15 03:05] inaikem commented on #62757
@ciprianimike, per the suggestions in the linked diff, we'd love to see this messaging (or the underlying triggers) to be more plan agnostic. Is there a way we can support you to do this via Happiness?

[2022-06-15 03:21] jordesign commented on #64235
@annezazu @jeffikus Not sure if this should be considered a T22 issue, or Core Gutenberg/FSE issue. Any suggestions?

[2022-06-15 03:33] lsl opened #64641 "Marketplace: email me a link rebanding for partner signup flow"
Rebrand the email me a link screen linked to on the rebranded login screen https://github.com/Automattic/wp-calypso/pull/64362

![Screenshot 2022-06-15 at 13-33-02 Log In — WordPress com](https://user-images.githubusercontent.com/811776/173731397-d7c5f5ae-b72e-417a-9ee1-fc50ad32f831.png)

Should look like the screen rendered on /log-in/new

![Screenshot 2022-06-15 at 13-35-53 Log In — WordPress co

[2022-06-15 03:38] jordesign commented on #64222
Noting this is also the case for the 'Free' Filter. Therefore...

/themes/premium/{SITE_URL} or /themes/free/{SITE_URL}

[2022-06-15 03:38] jordesign commented on #64479
Closing in favour of https://github.com/Automattic/wp-calypso/issues/64222

[2022-06-15 03:38] #64479 closed, assigned to nobody

[2022-06-15 03:43] jordesign commented on #63891
Pinging @Automattic/editorial  for some advice on how to word this accurately?

[2022-06-15 04:27] alaczek commented on #63434
Marl download seems to be working now, but I can still see the issue on [Hari](https://wordpress.com/theme/hari/).

[2022-06-15 04:35] lsl opened #64642 "Marketplace: partner signup handle localized partner-signup redirects"
- [ ] Correctly check the redirect param for localized links e.g. when logged out, going to the localized version of this page, https://woocommerce.com/es-es/partner-signup/ it should use the rebranded flow.

(note, we don't need to handle the localization of this page / flow, but we should probably handle the redirect properly since that url responds with a redirect to the login flow all the same

[2022-06-15 04:35] lsl opened #64643 "Marketplace: partner signup handle confirm oauth screen"
When going through the rebranded flow as a logged out user on woocommerce.com/partner-signup once logging in you're given this confirmation screen, this will need rebranding / explaining as I don't think we can/should auto authorize woocommerce.com.

**Reminder this only shows up the first login to woocom so if you're testing it, test with a fresh account.**

![Screenshot 2022-06-15 at 14-22-59 Au

[2022-06-15 04:50] lsl commented on #64643
@SaxonF / @vinimotaa not sure how we should handle this one. There might be a more generic "Approve" / "Deny" screen but I haven't looked yet. And similarly, there might be a way for us to side step this but I haven't looked yet / don't think we should.

[2022-06-15 05:28] annezazu commented on #64235
I'm afraid this isn't a bug but this is actually working as intended from what I can see. Essentially, the user is setting a homepage page. When that page is set, it is then displayed when going to Appearance > Editor as that is designed to show what is set to the homepage. From there, when they navigate to the more _general_ template for individual pages (1:41), it's then showing placeholder cont

[2022-06-15 05:28] rw-ye commented on #57390
- [ ] Follow-up in a new ticket for 5295697-zd-woothemes when the issue has been fixed.

[2022-06-15 05:31] p-jackson commented on #64579
Documenting a conversation with @danielbachhuber today:
- It could be a good idea to use temporary 302s initially during the rollout phase, only switching to permanent 301s after we're 100% confident everything has gone smoothly.
- Just rendering the non-AMP version of a page at the `/amp` URL and returning 200 is a bad idea, duplicating content on a site is an SEO no-no — we don't want Google to

[2022-06-15 06:09] 1dr0 commented on #57390
- [ ] The user may be encountering the same over here 5297555-zen.

[2022-06-15 06:15] roo2 commented on #63119
D82515-code merged ✅ , we now just need to wait until all content has been translated

[2022-06-15 06:27] devNigel opened #64646 "Mobile App: Subscribe Block is not available"
### Quick summary

[Subscribe Block](https://wordpress.com/support/wordpress-editor/blocks/subscribe-block/) is missing on the mobile app editor for both iOS and Android.

### Steps to reproduce

1. Open WordPress mobile app on iOS or Android.
2. Go to Pages > Add new.
3. Click on + icon and search for subscribe block.
4. You will notice that the block is not listed.

### What you expected to happ

[2022-06-15 07:37] pauljacobson commented on #57390
In 5296698-zen the user told us that they are using macOS Catalina, and are using Safari 15.5

[2022-06-15 08:04] #64603 closed, assigned to arcangelini

[2022-06-15 08:16] KokkieH commented on #64611
I've been looking into this some more, and it looks like we have the following versions for the support page:

**1.** WordPress.com Simple site, WordPress.com theme:
![Appleton_Theme_‹_kokkiestrialtestsite_—_WordPress_com](https://user-images.githubusercontent.com/11873759/173770433-d63ae6b2-d855-48f9-bf55-d78c91edefe0.png)

**2.** WordPress.com Simple site, non-WordPress.com theme with WordPress.

[2022-06-15 09:25] taipeicoder commented on #64442
Fixed with https://github.com/Automattic/wp-calypso/pull/64485

[2022-06-15 09:25] #64442 closed, assigned to nobody

[2022-06-15 09:51] wojtekn commented on #60280
@danielbachhuber, I feel this has become too complex for the initial issue. What if we take a step back and fix an original problem for now? A combination of two things causes the main issue:

* displaying 20 items per page,
* displaying hierarchical view only if all eligible items (up to 100) are loaded.

This behavior causes a chain of events in which the user first sees the chronological view.

[2022-06-15 10:13] #62888 closed, assigned to lukaszwilczakwilnet

[2022-06-15 10:14] Robertght opened #64655 "Global styles overrides individual link customizations"
### Quick summary

The Global styles takes over the Site title font options on AT sites only.

### Steps to reproduce

1. Activate an FSE theme like 2022 or Blockbase
2. Go into the editor and select the Site title block to edit it
3. Change the font weight and size to a value you'll recognize(black bold and 4rem)
4. See the changes - they should apply
5. Go back to the editor and under the Styles

[2022-06-15 10:15] Robertght commented on #64655
oops already a duplicate of https://github.com/Automattic/wp-calypso/issues/64596

[2022-06-15 10:15] #64655 closed, assigned to nobody

[2022-06-15 10:25] arunsathiya commented on #64249
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on P2 - No
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

Can reproduce on Atomic and WordPress.org sites with Espied theme.

<img width="617" alt="image" src="https://user-images.githubusercontent.com/18581859/173803729-772073c7-855b-425a-9b70-12d4ad75bd7b.png"

[2022-06-15 10:28] daledupreez commented on #50740
I've done some additional investigation, and it looks like the root cause is that the default WordPress caching for RSS feeds (which includes podcasts) is for 12 hours as per [this code](https://github.com/WordPress/wordpress-develop/blob/f3441e37eddc5f98ffbe2c51ceebf800797e6d7f/src/wp-includes/feed.php#L817). As far as I can tell, we're not overriding that for podcasts, which matches the experien

[2022-06-15 10:35] arunsathiya commented on #64285
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

- Not applicable

📌 ACTIONS

- Assigning this to @Automattic/nomado.

[2022-06-15 10:36] arunsathiya commented on #64285
For some reason, I am not able to assign a group. Wonder if GitHub stopped offering that option? 🤔 Assigning this to Del for now.

[2022-06-15 10:37] danielbachhuber commented on #64579
Also worth noting: because we only need to set up redirects on Simple sites, and Simple sites only have one permalink structure, we can use a regex approach instead of re-registering `add_rewrite_endpoint()`. The latter would be more helpful for supporting multiple permalink structures.

[2022-06-15 10:40] Robertght commented on #63527
@nicolynramos I have tested this and I can only replicate it on your website, but I'm not 100% why. I did find another report [here](https://github.com/WordPress/gutenberg/issues/37387) which is an indication it's more of an editor problem, not a theme-specific one.

Closing this for now.

[2022-06-15 10:51] danielbachhuber commented on #60280
@wojtekn I'm amenable to your proposed solution. I agree a "proper fix" would require a full re-implementation, which is a path we don't want to go down right now.

[2022-06-15 11:00] Robertght commented on #62774
Reported it here: https://github.com/ampproject/amp-wp/issues/7154 as it happens on self-hosted sites.

[2022-06-15 11:03] arunsathiya commented on #30439
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Can reproduce but feels expected. More on that below.

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

I tested with the theme reported: Baskerville 2 on a simple site. Cannot reproduce.
<img width="903" alt="image" src="https://user-images.githubusercontent.com/18581859/173811

[2022-06-15 11:03] #30439 closed

[2022-06-15 11:16] arunsathiya commented on #64359
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

- I can reproduce only on Illustratr. A few other gallery post-supported themes that I tried, Sketch and Snaps, do not show this behavior.
- Cannot reproduce with Illustratr (downloaded from Illustratr WordPress.com theme page

[2022-06-15 12:03] #64025 closed, assigned to escapemanuele

[2022-06-15 12:57] nelsonec87 commented on #64298
I couldn't come up with an optimal solution for this one yet...

We can always use the title from Anchor, but it would generate strange behavior:
- Calypso fetches the title
- I want a different one and change it
- Click continue - the changed title is stored
- Clicking Back would fetch the title again and replace the user input.

The problem is to differentiate the the original title from a diffe

[2022-06-15 13:09] cpapazoglou commented on #64571
Let's test if this related diff fixes the issue

[2022-06-15 13:29] cpapazoglou commented on #64573
Let's see if D82452-code fixes the ranking or else adjust the boost in fields.

[2022-06-15 13:49] gcsecsey commented on #64614
The event is currently rejected in Tracks, etlmessage is `eventname or eventprops failed "^[a-z_][a-z0-9_]*$" pattern`.

We should also fix the event to not get rejected.

[2022-06-15 13:50] chriskmnds opened #64660 "Promo Card readme and docs mention "Pro" in sample code"
Promo Card readme and docs mention "Pro" in sample code: https://github.com/Automattic/wp-calypso/blob/trunk/client/components/promo-section/promo-card

Looks like only documentation, so can probably address after revert.

[2022-06-15 13:57] #61166 closed, assigned to nobody

[2022-06-15 14:01] valterlorran commented on #64587
Closed in D82567-code

[2022-06-15 14:01] #64587 closed, assigned to valterlorran

[2022-06-15 14:19] chriskmnds opened #64662 "Newly created e-commerce site show up as “Free” in the sidebar"
Site on a new e-commerce plan (after signup or upgrade) shows up as "Free" in the sidebar. Media:

![Image](https://user-images.githubusercontent.com/1705499/173850266-fc9db8fc-d03e-4e34-b168-385e34be551e.png)

[2022-06-15 14:38] sixhours commented on #64247
This will be closed by #64653

[2022-06-15 14:56] that-mike-bal opened #64663 "Easy Renew (No Login Required)"

[2022-06-15 14:57] that-mike-bal opened #64664 "Multi-Domain Purchases"

[2022-06-15 14:57] that-mike-bal opened #64665 "Multi-domain bundle discount"

[2022-06-15 14:58] that-mike-bal opened #64666 "Expand Registry Premium Domain Support"

[2022-06-15 14:58] that-mike-bal opened #64667 "Suggestion/Search Improvements"

[2022-06-15 14:59] that-mike-bal opened #64668 "Registrar API (DSAPI)"
A multiphase initiative to develop an API which will allow other business units to register domain name through the Automattic registrar accreditation.

The initial MVP will be limited but it will allow for the registration and basic management of domains and be supported by the tools that we've built for compliance with ICANN and registry contacts including contact validation, messaging, etc. Exp

[2022-06-15 15:20] lupus2k opened #64670 "Marketplace: Change message when user is already a vendor on submission success page"
We need to show a different message when on `/marketplace/submission-success` when user is already a vendor.
Message on returning: `Great! You’re already a vendor! Here is what you can do next while we’re still working on building your Product Dashboard.`

#### Before and after
Before | After
--- | ---
![image](https://user-images.githubusercontent.com/402286/173861632-800d225d-61f8-45f8-9a99-b437

[2022-06-15 15:25] obenland commented on #60814
Fixed in Diff in D82580-code

[2022-06-15 15:25] #60814 closed, assigned to obenland

[2022-06-15 15:45] shaunandrews opened #64673 "Signup: Password hide/show toggle interferes with Safari's password tools"
### Quick summary

<img width="77" alt="image" src="https://user-images.githubusercontent.com/191598/173869392-01bfdce5-35fc-4d08-9b48-56156ba6ef82.png">

When creating a new account at `https://wordpress.com/start/user` the little "eye" icon (which hides/shows the password text) interferes with Safari's password management. This makes it hard to use my stored passwords, or have Safari suggest a n

[2022-06-15 16:09] obenland commented on #64583
Fixed in D82508-code

[2022-06-15 16:09] #64583 closed, assigned to obenland

[2022-06-15 16:10] Addison-Stavlo commented on #57163
There is a related core issue/request here - https://github.com/WordPress/gutenberg/issues/36537

Cylon is not currently working towards this and I'm going to remove it from our board.

[2022-06-15 16:10] blackjackkent commented on #64222
Pulled this into Serenity's board - we'll look into it next sprint. :)

[2022-06-15 16:12] sajmes commented on #57812
35811290-hc

Chrome. I could not replicate when SU so cannot provide steps to help replicate.

[2022-06-15 16:49] arunsathiya commented on #63823
- Looks like these are expected - https://github.com/Automattic/wp-calypso/issues/64026#issuecomment-1137332946

[2022-06-15 17:03] Addison-Stavlo commented on #59084
Tested this today and can repro.

An example that will show this is the "Center-aligned header with logo and social icons" pattern.

![Screen Shot 2022-06-15 at 1 02 54 PM](https://user-images.githubusercontent.com/28742426/173884549-a5c9ce45-47e1-4822-a216-ff95e696b05f.png)

cc @ianstewart

[2022-06-15 17:08] arcangelini opened #64676 "HelpCenter: make all article links open in new tab"
### Details

Some of the buttons inside the articles open a new support article on the same page (external support page). Instead, we need to either:

1. Open them in the help center instead. (if we do this, I'm wondering what would happen with the "back" button. Assuming we would just go back to the initial "Help" screen as this is the simplest)
2. Open them in a new tab.

### Checklist

_No resp

[2022-06-15 17:12] Addison-Stavlo commented on #57997
Note this entry point was removed and as a follow up / clean up we can remove the hiding of this now non-existent submenu page.

[2022-06-15 17:13] Addison-Stavlo commented on #61107
adding https://github.com/Automattic/wp-calypso/issues/57997 to the list above.

[2022-06-15 17:23] #59075 closed, assigned to nobody

[2022-06-15 17:31] daledupreez commented on #63891
I am going to ping @Automattic/nomado, @wensco, and @semihakocer on this issue, as they're the team with the best insight into how we're currently communicating domain-related details to users.

[2022-06-15 17:33] Addison-Stavlo commented on #58329
I am not currently able to repro and think this has been resolved in the last 7+ months.

[2022-06-15 17:33] #58329 closed, assigned to nobody

[2022-06-15 17:35] Addison-Stavlo commented on #59295
note this has been done months back.

[2022-06-15 17:35] #59295 closed, assigned to nobody

[2022-06-15 17:36] #59326 closed, assigned to nobody

[2022-06-15 17:37] Addison-Stavlo commented on #59814
has been since resolved.

[2022-06-15 17:37] #59814 closed, assigned to nobody

[2022-06-15 17:37] Addison-Stavlo commented on #59816
has been since resolved.

[2022-06-15 17:37] #59816 closed, assigned to nobody

[2022-06-15 17:38] Addison-Stavlo commented on #59817
long since resolved.

[2022-06-15 17:38] #59817 closed, assigned to nobody

[2022-06-15 17:41] #60579 closed, assigned to jeyip

[2022-06-15 17:50] valterlorran opened #64677 "Seller Experience: Improve the search in the country dropdown"
It's challenging to find a state since it uses "—" to separate the country from the state, which is not a simple "-" and if you type for example "Brazil São Paulo" it won't find it because it's missing the "—". It's probably because the search is trying to match precisely "Brazil — São Paulo".
We should improve the pattern matching to allow us to find the country/state without having to add "—" in

[2022-06-15 18:02] jp-imagines commented on #60875
Closing in favor of an older issue with some more discussion: #56869

[2022-06-15 18:02] #60875 closed, assigned to nobody

[2022-06-15 18:31] Robertght commented on #64431
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context. I found another case here: https://github.com/Automattic/themes/issues/2044

📌 ACTIONS
- Closed as duplicate of https://github.com/Automattic/themes/issues/2044

[2022-06-15 18:31] #64431 closed, assigned to nobody

[2022-06-15 18:43] Robertght commented on #64437
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context. I'm not able to replicate this and alignment worked ok regardless of the option.  Here's the center-aligned option:

![image](https://user-images.githubusercontent.com/6737345/173901319-28cf

[2022-06-15 18:43] #64437 closed, assigned to nobody

[2022-06-15 18:52] Robertght commented on #64235
Thank you @annezazu! TIL on the above so if there isn't anything else to add here, we can close it.

Should this part be more explicit in the documentation though?

[2022-06-15 18:56] that-mike-bal commented on #63823
Yes @arunsathiya - we are working with a tool called Zenhub that integrates with Github and will be adding epics and labels to make it easy to organize  projects and initiatives at a high level. They will start empty but the plan is for leads to include a high level description of the project and links to relevant p2 posts.

[2022-06-15 19:01] Robertght commented on #39772
Based on [this](https://wordpress.com/support/activity/) it's expected that we display only the most recent 1000 logs, however,  the poor loading part might be a different issue.

[2022-06-15 19:12] #55283 closed, assigned to daledupreez, alshakero

[2022-06-15 19:19] #63683 closed, assigned to WBerredo

[2022-06-15 19:47] daledupreez commented on #62661
For reference, I explored this exact question internally with the Jetpack team: p1HpG7-fuT-p2

[2022-06-15 19:53] daledupreez commented on #62508
I started exploring this internally for the web view: p5PDj3-51e-p2

This is something my team may look into over the next month or two.

[2022-06-15 19:56] daledupreez commented on #61999
Closing this issue as it was fixed by #62514.

[2022-06-15 19:56] #61999 closed, assigned to nobody

[2022-06-15 20:36] delputnam commented on #58729
This page shouldn't be accessible any longer. The SSL status is now just a sub-section on the management page with a single "Learn more" link that goes to: https://wordpress.com/support/https-ssl/

<img width="1052" alt="Domains_‹_A8C_Test_Site_—_WordPress_com" src="https://user-images.githubusercontent.com/1379730/173922096-d0bddda8-54c1-4701-9610-bf915223e2cb.png">

I'll mark this closed, but if

[2022-06-15 20:36] #58729 closed, assigned to nobody

[2022-06-15 20:51] Addison-Stavlo commented on #64404
It could be a number of things. But given that its only happening with Videomaker (is that correct?) it could be a specific theme issue. If its not happening with other themes, it doesn't sound like an editor or block issue.

[2022-06-15 20:51] francoishvz commented on #54990
Another instance here: 35792663-hc

Workaround was to pick a custom color.

[2022-06-15 21:10] saygunnyc commented on #64179
Yes, although this would work much better once we switch to a new window and full-screen preview. Sharing @SaxonF 's current/latest design below. Not sure about the latest on device previews there though.

<img width="955" alt="Screen Shot 2022-06-15 at 5 04 37 PM" src="https://user-images.githubusercontent.com/78876323/173929727-c1079716-6d5b-4257-b525-e0eb4537ed2d.png">

[2022-06-15 21:15] danielbachhuber commented on #60240
I spent a bit of time debugging this today.

In my local test environment, I:
1. Installed and activated WooCommerce via git clone: `git clone git@github.com:woocommerce/woocommerce.git`
2. Installed and activated the Storefront theme via git clone: `git@github.com:woocommerce/storefront.git`
3. Installed and activated the latest version of the AMP plugin: `wp plugin install --activate amp`
4. Vie

[2022-06-15 21:16] gwensmithx opened #64682 "Cover Block: Background Image is Repeated When Fixed Background setting is ON but Repeated Background is OFF"
### Quick summary

I ran into an issue today where the Cover Block background image was repeating only when the Fixed Background option is toggled ON even though Repeat Background is toggled OFF. When the Fixed Background option is OFF then the image fills the space and does not repeat. As soon as the Fixed Background option is toggled on, the image repeats, regardless of whether the Repeat Backgr

[2022-06-15 21:19] saygunnyc commented on #64371
Sharing below:

<img width="2041" alt="ClearCTA" src="https://user-images.githubusercontent.com/78876323/173931696-35bf874d-7d9f-408e-8587-308e148669b8.png">

Here's a link to the Figma 42PgVsdlQ1v2wpk6lmmrnq-fi-2834%3A66374

[2022-06-15 21:28] gwensmithx opened #64684 "Option to Select Overlay Color on Blog Posts Block when the setting "Media Behind" is chosen."
### What

On the Blog Posts block, when the setting in the toolbar "Media Behind" is selected, a dark overlay is placed on the image so the blog excerpt can be read over top. There is no option to select the color of the overlay however - it is automatically transparent black.

### Why

It adds further customizability to the Blog Posts block and allows people to choose an overlay color like they c

[2022-06-15 21:35] kelasante commented on #63082
Another report here - 35813792-hc

Shared CSS workaround.

[2022-06-15 21:37] JulianBustamante commented on #64639
Deployed r247466-wpcom

[2022-06-15 22:37] sstabrizi commented on #64552
Another report in 35810422-hc.

I'd add one more related issue. When looking under Pages > (Click Page Title) > Categories, the same behavior happens as above. If you select a category, as soon as Update is clicked the category is removed from the editor, but the post still shows in the category feed. This also means it's not possible to uncategorize a post.

[2022-06-16 01:36] annezazu commented on #64235
Yes! I think that makes sense to update for docs. It's included in wporg (but lightly): https://wordpress.org/support/article/template-editor/#how-to-edit-templates-via-the-site-editor

[2022-06-16 02:16] #64494 closed, assigned to lupus2k

[2022-06-16 02:16] #64670 closed, assigned to lupus2k

[2022-06-16 02:22] taipeicoder opened #64688 "[Spike] Generated design picker: Browser back button should behave as the screen back button"
## Description
There are some parts in the generated design picker where the browser back button behavior doesn't match the screen back button. These are the two instances of when it happens:

1. When users switch to the static design picker via the "View more options" button.
  * Screen back button: Goes back to the generated design picker.
  * Browser back button: Goes back to the intent capture

[2022-06-16 02:36] taipeicoder commented on #64489
Personally, I like the simplicity of 2, but I feel that we will have to make it extra obvious to the customers that they can type in. Option 3 gets my vote. @roo2 @arthur791004 @miksansegundo  @bangank36 let me know what you think!

[2022-06-16 02:59] arthur791004 commented on #64489
I'm leaning towards 2. And maybe we can change the placeholder of the input to 1

[2022-06-16 03:19] saygunnyc commented on #64489
Let's keep it as that's the only place we give users an idea about what they can write _–Cafes, Education, Photography..._ Ideally we update these with top selected categories.

[2022-06-16 03:21] taipeicoder opened #64689 "Generated design picker: Desktop full-screen preview"
## Description

From the issue https://github.com/Automattic/wp-calypso/issues/64179, we want to introduce a full-screen preview in the desktop view. This will allow users to preview the selected design in different device resolutions, and other options that we might introduce in the future.

This task is currently waiting for design specs.

[2022-06-16 03:21] bazza commented on #64432
If the site is not private then it can receive traffic from anywhere in the world without any need for permission or explanation.
 As such, I don't think this is a valid bug report.

[2022-06-16 03:26] dev-sabbir opened #64690 "Error message regarding internationalized domain name should point to IDN specific support documentation"
### What

When a user tries to add an internationalized domain name for their WP.com site, they see an error similar to the following:

![screenshot](https://d.pr/i/x2NCoX+)

**Image Link:** https://d.pr/i/x2NCoX

We can add a [link to the support documentation regarding IDN](https://wordpress.com/support/domains/connect-existing-domain/#internationalized-domain-names-id-ns) with the error message

[2022-06-16 03:32] aisajib opened #64691 "Calypso: Some Third Party Plugin (Elementor) Navigation Links lead nowhere in Calypso, work in WP-Admin"
### Quick summary

On WordPress.com sites with Elementor installed, some links under My Site → Templates do not work when on Calypso. For example, Templates → Theme Builder doesn't work. It links to whatever page you're on Calypso. But if you navigate to /wp-admin, the links work correctly.

In this screenshot, check out the link at the bottom. This is on Calypso.
<img width="450" alt="Screen Shot

[2022-06-16 03:32] saygunnyc commented on #64441
This is great for now. The Google example is def a better mobile user experience. Let's work on improving after the MVP.  I will provide designs.

[2022-06-16 03:45] druesome commented on #64691
Just to add more info from my findings here, other links under the Elementor Templates menu such as Kit Library and Add New also don't work as expected.  They link to the last page you're on in Calypso.

<img src="https://d.pr/i/yly07m+" width="500" />

While looking into this, the bug also affects another plugin called [Fonts Plugin | Google Fonts Typography](https://wordpress.org/plugins/olympus

[2022-06-16 03:47] saygunnyc commented on #64390
Sharing thoughts below:

💯 @autumnfjeld I think it should be much slower. I also think we should get rid of the reverse scroll animation once the user is out. It's a bit too much_–two scrolls up and down at the same time_. Instead, we could perhaps quickly fade to the initial state?

I am not sure if we need this as it's to me almost impossible to not trigger the scroll as you scroll down checking

[2022-06-16 04:11] nagpai opened #64692 "FSE - Bring ability to change font size in nav menu"
### What

there is currently no Fse block control to change font size of navigation menu items. It would be good to have this.

### Why

It will reduce dependency on custom CSS

#35816011-hc

### How

_No response_

[2022-06-16 04:15] arunsathiya commented on #64690
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

- Not applicable.
- +1 to having a "learn more" button that links out to the support document.

📌 ACTIONS

- Marking this for @Automattic/nomado for consideration.
- Assigning to @delputnam.

[2022-06-16 04:25] delputnam commented on #64690
I think the easiest thing to do is to create a new section about what constitutes a "valid" domain name on WordPress.com at the moment and add a "Learn more" link to this section.

I'll create a task for Nomado to handle this at some point. We'll update this issue when we merge the fix.

[2022-06-16 04:34] nagpai commented on #64692
Sorry It seems that the parent nav block seems to have the typography setting.

[2022-06-16 04:34] #64692 closed, assigned to nobody

[2022-06-16 06:25] miksansegundo commented on #64489
My vote is for option 2 because `Search for' sounds very common for a search box.

Maybe it could sound more engaging by using _your_ in `Search for your category`.

[2022-06-16 06:32] alinclamba commented on #50574
If this is not the right place to post this, please let me know.

We have a new case with this issue. They use the Pay with PayPal block and they get this error:

`We are sorry, there was a configuration problem. Please contact the site owner. Error:SP22`

I was able to replicate this on a clean and newly created Jurassic Test Site.

**User:**
- Ticket: 5300383-zd-woothemes
- Page link where the i

[2022-06-16 06:37] taipeicoder commented on #64489
How about we go with option 2 and also consider @roo2 suggestion of highlighting the input field text on focus, and even when users click on the chevron to show the dropdown?

[2022-06-16 08:16] dsas commented on #50574
@alinclamba SP22 means that WP.com doesn't think the site has a valid WP or Jetpack plan. Can you run through the [steps in this comment](https://github.com/Automattic/wp-calypso/issues/50574#issuecomment-1135856728) and let me know whether that resolves it?

[2022-06-16 08:41] vishnugopal commented on #63806
Discussion:
- Better to have a separate data store `analyzer`.
- Lots of bootstrapping involved here related to `@wordpress/data` resolvers etc.

[2022-06-16 08:41] devNigel opened #64697 "Yoast SEO Premium does not auto update if user purchased it directly from Yoast"
### Quick summary

The user had Yoast SEO free plugin whose updates were managed by WPcom. They purchased Yoast SEO Premium directly from Yoast.

The Yoast SEO Premium plugin was outdated ( 18.5 )and there was no way to update it to the latest version ( 18.7 ) . The auto-update settings said:

I had to run `plugin symlink wordpress-seo-premium` in CLI to get the Premium plugin updated.

Creating b

[2022-06-16 08:44] arunsathiya commented on #64697
Note for the next triager: p1655348649822299-slack-C03TY6J1A

[2022-06-16 08:56] vishnugopal commented on #63319
Discussion:
- More fixes done to Lambda, performance fixes.
- Takes time to download images when loading web pages.
- Have 2 diffs that are open to integrate the MC tool with photos.
- The photos are selected based on ratio and how big the image is. And similar aspect ratio is picked.
- If we don't have enough images, then we default to the ones in the vertical.

[2022-06-16 09:10] vishnugopal commented on #63122
Discussion:
- No progress on this ticket for now. Will update next week!

[2022-06-16 09:35] vishnugopal opened #64700 "Change plan upgrade back to the old legacy plans"
See: pdtkmj-c5-p2

[2022-06-16 09:37] #64074 closed, assigned to arcangelini

[2022-06-16 09:43] jimmy319 commented on #62844
Related diff: D82197-code

[2022-06-16 10:06] rosepajaroja commented on #54913
User came back again zd-5249959 asking for update. Do we have any ETA? Thank you!

[2022-06-16 10:34] arthur791004 commented on #64688
If we want their behaviors to be the same, we have to update the URL when the content of the step is changed.

Here is my thought

[code]

[2022-06-16 11:17] alinclamba commented on #50574
@dsas I followed all the steps, I've got the site [sync fixed,](https://d.pr/i/oQphnJ) but the issue with SP22 persists [here](https://precise-flatworm.jurassic.ninja/5-2/).

[2022-06-16 11:24] dsas commented on #50574
Thanks for following up @alinclamba  Definitely sounds like a separate bug then.

[2022-06-16 11:51] #64608 closed, assigned to bogiii

[2022-06-16 11:53] zaguiini commented on #64537
As of the May release of Jetpack (p7H4VZ-3uJ-p2#comment-10418), Jetpack no longer uses iframe connections. There would still be some older plugins out there that would use the iframe, but by far the usage of the iframe connection is quite down according to the `wpcom_jpc_iframe_loaded` event on Tracks.

Based on that and the fact that the iframe only appears when activating the plugin for the firs

[2022-06-16 11:54] miksansegundo commented on #64688
Thanks @arthur791004 for these detailed examples.

These changes will delay the deployment because of the testing. Do you think they are worth it?  I like the option with sub-routes because adds clarity to the paths that we have in the code.

Another option is [rewording the "back" button](https://cftp2.wordpress.com/2022/05/31/cft-verticals-in-the-build-flow/#comment-371), which is a much safer o

[2022-06-16 12:18] alinclamba opened #64702 "Pay with PayPal block: Configuration error — "Error:SP22" when trying to check out"
### Quick summary

Using Pay with PayPal block, when checking out, I get the following error:

`We are sorry, there was a configuration problem. Please contact the site owner. Error:SP22`

I thought it was related to [this issue](https://github.com/Automattic/jetpack/issues/25011), but it looks like it's a different bug.

The issue was reported here: 5300383-zd-woothemes, but I was able to replica

[2022-06-16 12:25] gmovr commented on #64288
https://github.com/Automattic/wp-calypso/pull/64289

[2022-06-16 12:25] dpasque commented on #58121
@Addison-Stavlo -- that's a great question! We're going to have a few follow-up conversations soon to try to lock in the current big picture priority of monitoring these events right now. I think whether these are worth it will depend on what our conclusions are there! These seem like worthwhile events to monitor, but they also might just be noise for right now.

Either way, we can pull this off t

[2022-06-16 12:26] dsas commented on #64522
Just waiting for wpcomsh deployment before deploying this.

[2022-06-16 12:50] bogiii commented on #64700
Import onboarding:
- I've made a change to upgrade the plan to Business: https://github.com/Automattic/wp-calypso/commit/73ea8b08fd965411d9443fa2486b7798825c2e24

- But, there is even better solution, but I'm not sure are we going to turn off Pro plan from the environment configuration. If so, we don't need to introduce any change: https://github.com/Automattic/wp-calypso/blob/trunk/config/develop

[2022-06-16 13:10] dsas commented on #64702
Looks like this is a longstanding bug in security tier 1 and security tier 2 plans (D78341-code) which has been replicated in the new feature checking system (D76205-code).

According to the [plan comparison](https://jetpack.com/features/comparison/) and the [support page](https://jetpack.com/support/jetpack-blocks/pay-with-paypal/), so we’ll have to make the code match that - all current security

[2022-06-16 13:33] gmovr commented on #64527
This is true for all plans -- I was noticing it the other day. The site has to be passed in, example below:

https://wordpress.com/checkout/site.wpcomstaging.com/pro

I think it's just this CTA (I went through ~~all~~ the ones I could find the other day). :)

[2022-06-16 13:56] ivan-ottinger commented on #64698
Thanks for the ping Karen. 🙂

Yes, that's correct. Our team worked on the new email templates project recently (pdDOJh-99-p2). To add a bit more context, this specific issue isn't related to the new email templates, but to the way the Vimeo block is represented in emails instead.

In other words, the Vimeo block wasn't displayed as a thumbnail with the old email templates either:
![Markup on 2022-

[2022-06-16 13:57] cpapazoglou commented on #64697
We shouldn’t symlink a plugin that is not purchased through [WordPress.com](http://wordpress.com/) and therefore shouldn’t be managed from [WordPress.com](http://wordpress.com/)

Here is why their Yoast SEO Premium doesn’t auto-update:
https://yoast.com/help/how-can-i-update-my-premium-plugin/#h-auto-updates-in-wordpress-5-5

**Yoast SEO** (free) is registered as managed in our Atomic infrastructu

[2022-06-16 14:02] #64444 closed, assigned to nobody

[2022-06-16 14:08] DustyReagan commented on #57278
I had a go at this. The plan expiring email update is here D82674-code and the Calypso update here [#64674](https://github.com/Automattic/wp-calypso/pull/64674).

[2022-06-16 15:06] jamiepalatnik commented on #63765
Noting that this issue might be related: https://github.com/Automattic/wp-calypso/issues/64324
Asked about this here: p1655391908616619-slack-C01UW7SB411

[2022-06-16 15:16] gcsecsey opened #64704 "Marketplace search: fields are missing from API response"
This is a follow-up issue of #63902

When querying ES, the fields added in D81205-code show up:

WPSH:
[code]

Result:
[code]

But when querying the same fields through the marketplace search endpoint, some fields are missing from the response.

Marketplace search query:
[code]

[code]

[2022-06-16 15:16] renata-franco commented on #64531
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

It looks like the duplicated content appears in the post list view, but not when visiting the post itself. Also, it seems to happen with all themes? I tried Blank Canvas, TwentyTwenty Two, Livro, Barnett, Penscratch 2, Twenty

[2022-06-16 15:22] jamiepalatnik commented on #64527
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - N/A

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT - N/A
- Tested on Self-hosted - N/A

📌 FINDINGS/SCREENSHOTS/VIDEO
- I tested clicking the "Upgrade to the Pro Plan" banner on "Settings > Hosting Configuration" on a site with the free plan, Starter plan, and Premium plan. In each case, I was taken to the site switcher. This did not h

[2022-06-16 15:29] arunsathiya commented on #64324
Update to my [previous comment here](https://github.com/Automattic/wp-calypso/issues/64324#issuecomment-1152969148): it's not happening on core, I was [testing incorrectly earlier](https://github.com/WordPress/gutenberg/issues/41676#issuecomment-1156268422). It's happening just on WPcom.

[2022-06-16 15:36] renata-franco commented on #64551
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this issue on Core, but not on Self-Hosted. The Self-Hosted site loads the block differently. See GIF below. It has an easy workaround: installing the app and adding the blocks from there. Screenshot be

[2022-06-16 15:38] gcsecsey commented on #64704
I've realized that the `_source` fields from ES haven't been added to the API results previously, presumably Jetpack search didn't need to provide any source fields earlier. I've created a diff which adds the `_source` fields of each hit to the `fields` array in the response: D82729-code

[2022-06-16 15:48] andres-blanco opened #64705 "Themes: Something is wrong with replace homepage functionallity"
The **Replace my homepage content with the [THEME] homepage.** does not work with some themes, I've reproduced the issue with Archeo, Remote and Skatepark.
@sixhours noted that this might be related to themes that don't include a static home page, If we choose to replace homepage in one of the mentioned themes above and go to the customizer and selecting "Your latest posts", they work as expected.

[2022-06-16 15:49] SeywardDarby commented on #63891
Editorial team here — I am happy to propose language, but I want to make sure I've got this right: Registering a domain will only replace the free address *if* the user also has a paid plan or an add-on. What add-on(s) are we talking about?

[2022-06-16 15:49] blackjackkent opened #64706 "Seller Experience - Add feature flag for updated theme preview screen"
As described in paYKcK-1Hs-p2, we will be updating the onboarding Stepper process to include a new preview screen when the user is selecting a theme:

<img width="958" alt="image" src="https://user-images.githubusercontent.com/13437011/174112430-6dd799c8-815b-4bea-8adb-2adaff727eab.png">

For this issue, we need to introduce a feature flag behind which we can develop this new screen incrementally.

[2022-06-16 15:53] renata-franco commented on #64552
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate the categories issue on Simple, AT, and Self-Hosted. The selected posts to edit in bulk do not appear in the categories they already have assigned, none of them, actually.

Regarding th

[2022-06-16 15:55] #63921 closed, assigned to mashikag

[2022-06-16 16:16] vajrasar commented on #39956
Hi everyone 👋

Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread. Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-06-16 16:19] markbiek commented on #64202
Noting some ideas we kicked around here during our sprint demo:

@andres-blanco suggests updating the label to make it clear that this is the _payment_ email and not related to the WordPress.com account email.

@blackjackkent also had the idea of having a button that says "Use my WordPress.com email". Clicking the button would pre-fill the email address box with the user's current email.

[2022-06-16 16:36] mashikag opened #64707 "[UI] [Data] Implement navigation flow for 'Goals Capture' step"
### Details

Implement navigation flow, to and out of, for 'Goals Capture' step.

**Important: Keep the flow implementation under development config flag.**

![Screenshot 2022-06-16 at 18 22 39](https://user-images.githubusercontent.com/2019970/174119134-d717556a-b611-40aa-9ce9-d7b36b2860cc.png)
[post-verticals routing comment](https://github.com/Automattic/wp-calypso/pull/64656#discussion_r898690

[2022-06-16 16:42] #62485 closed, assigned to Addison-Stavlo

[2022-06-16 17:02] worldomonation commented on #56449
No longer relevant due to refactors to the hook since the issue was created.

[2022-06-16 17:02] #56449 closed, assigned to nobody

[2022-06-16 17:02] worldomonation commented on #55695
Doubtful if this is useful, so assigning Low priority.

[2022-06-16 17:27] #64522 closed, assigned to dsas

[2022-06-16 18:01] renata-franco commented on #64552
Oh, thanks @sstabrizi. Can you please create a new bug for that other one?

[2022-06-16 18:22] #63940 closed, assigned to Rolilink

[2022-06-16 18:51] renata-franco commented on #64552
I checked with one of my colleagues, @sstabrizi and we will let the developers decide if this should be a different bug as one is happening in Calypso and the other one in WP-admin. In the meantime, thank you so much for sharing the screenshots!

[2022-06-16 19:26] jboland88 opened #64712 "[Bug]: White screen when switching site context from purchase cancellation page."
### Quick summary

Switching sites when at the path `/purchases/subscriptions/:site/:purchase_id/cancel/` results in a white screen.

### Steps to reproduce

1. Choose a site that has cancellable purchases.
2. Navigate to Purchases for that site, select the purchase and click on "Cancel" or "Cancel and Refund" from the purchase page. This will take you to the `/cancel` page.
3. From the cancel pag

[2022-06-16 20:28] danielbachhuber opened #64713 "Add support for `--blog=<id>` as a WP-CLI global argument"
### Details

From p9dueE-5ey-p2#comment-8086, we'd like to allow a user to use `--blog_id=<id>`, instead of `--url=<url>`, to run WP-CLI against a specific blog.

First, we'll need to work through allowing registration of custom global arguments: https://github.com/wp-cli/wp-cli/issues/5649

Once that WP-CLI issue has some resolution, this is how the code _probably_ should work (untested):
1. Regi

[2022-06-16 20:44] Robertght commented on #62017
I can confirm this happens with Videomaker and Baxter as well.  I can change it through the Customizer colors and use a different Foreground color, but that's not ideal.

It's this that doesn't work as expected(doesn't follow the colors set within the editor):

[code]
Should this be fixed inside Blockbase premium?

cc @Automattic/serenity @jeffikus

[2022-06-16 20:45] danielbachhuber opened #64714 "Add logging to determine frequency and nature of WP-CLI `--url=<url>` mismatch"
### Details

From p9dueE-5ey-p2#comment-8086: because of WPCOM's custom `sunrise.php`, sometimes WP-CLI's `--url=<url>` argument is unexpectedly transformed to another URL.

This is problematic because the user could end up running their command on a different site than they'd expect.

The problem may be ameliorated by #64713. However, to understand the problem further, we'd like to add some loggi

[2022-06-16 21:05] that-mike-bal commented on #63262
I ran into this issue with staging sites for themes that are being worked on by a vendor and @KirkwallDay helped me out.

Caught a recording of it on one site:
![Weird redirect from editor](https://user-images.githubusercontent.com/89872780/174163205-60bffa44-6f42-4535-a20d-9f76fff67e90.gif)

 James found some issues on his end before asking me to click a link to reconnect Jetpack which seemed to

[2022-06-16 21:19] blackjackkent opened #64715 "Seller Experience - Build new design picker UI"
Following on from https://github.com/Automattic/wp-calypso/issues/64706 as part of the new Seller Experience theme picker designs described in paYKcK-1Hs-p2, we need to update the UI for the design selection screen:

![image](https://user-images.githubusercontent.com/13437011/174166051-6aecf135-ad0a-4586-95ba-a9d8d9b651bf.png)

Requirements:
* General design tweaks
* Restore the category picker on

[2022-06-16 21:43] blackjackkent opened #64717 "Seller Experience - Update design preview UI"
Following on from https://github.com/Automattic/wp-calypso/issues/64706 as part of the new Seller Experience theme picker designs described in paYKcK-1Hs-p2, we need to update the UI for the design preview screen in onboarding:

![image](https://user-images.githubusercontent.com/13437011/174170284-a32f8b97-e2d5-45c6-a8bf-4a7c2b77b375.png)

Requirements:
- Should display site preview in the same ma

[2022-06-16 22:42] WBerredo commented on #63715
Yes, we can do that.

With the current structure of our requests, we don't have a way to know which one is the primary category.
We can use the first as you suggested, but I don't know how accurate it would be, as we have some tags as `automattic` for example.

cc: @SaxonF

[2022-06-16 22:44] escapemanuele opened #64720 "Help Center: Add dot before WordPress to issimplesite"
Theoretically, this is a security vulnerability. A host ending with `wordpress.com` could also be `vulnerablewordpress.com` or `my.evilwordpress.com`.

We could add the `.` at the beginning of the string to ensure that it's always going to be a subdomain on the `wordpress.com` TLD.

_Originally posted by @tyxla in https://github.com/Automattic/wp-calypso/pull/64562#discussion_r898888778_

[2022-06-16 22:59] vykes-mac commented on #62318
This issue was fixed in the newspack-block repo https://github.com/Automattic/newspack-blocks/pull/1173

[2022-06-16 23:10] ai2n commented on #64638
Same issue here #35824034-hc except it was with social links inside a reusable block. They were missing entirely, and visible only when converted to regular blocks.

Sounds like the reusable block itself might have a problem. Bumping priority as this is going to be really painful if that's the case.

[2022-06-17 01:07] jordesign commented on #63891
+1 to this - I think just removing it would be ok.

Especially when you consider that for some users - the domain registration is not actually *for* replacing their site URL - they've got it pointed somewhere else.

[2022-06-17 01:18] #61957 closed, assigned to nobody

[2022-06-17 01:28] creativecoder commented on #64705
All of these themes use the setting `"show_on_front": "posts"` in their headstart annotations (which are used for replacing the home page content, iirc). We don't really have a good mechanism for making an existing site "look like the demo" in this case, since it would require inserting dummy posts onto the site to show up on the front page.

See this issue, which is basically the same underlying

[2022-06-17 01:33] lsl opened #64722 "Marketplace: improve handling of dynamic categories"
Following up on https://github.com/Automattic/wp-calypso/pull/64719

For dynamic categories
- [ ] ensure category selector remains in view and the dynamic category is added to the front?/end? of the category selector (or something like this, I think we were planning to do the same for popular etc pages)
- [ ] update useCategories usage/implementation to expect dynamic categories (vague because not

[2022-06-17 01:38] ebinnion opened #64723 "Editor: Introductory tour doesn't dismiss"
### Quick summary

When I go to create a post at `wordpress.com/post/$site` I see a tutorial at the bottom. I can't seem to dismiss thing thing so that it doesn't show up on subsequent page loads whether I click the X, skip, or go through the tutorial.

[Video demo](https://user-images.githubusercontent.com/1126811/174205132-4e82b1df-aedc-4bc1-8a69-33e4544f3d16.mov)

### Steps to reproduce

1. Go

[2022-06-17 01:42] lsl commented on #63715
Breadcrumb implementation isn't setup well to handle this, its built like a page history tracker or something resembling that. Doing this is likely a task to redo the whole thing in more explicit terms. (Specify the whole list of breadcrumbs for each page view type) - this is actually something I'd like to do, the breadcrumb.push() thing is quite broken in places.

Please create a new issue if you

[2022-06-17 01:49] taipeicoder commented on #64688
Seems that the level of effort for this task is relatively significant for what's (IMO) a nice enhancement. Shall we go with a simpler solution for now (rewording the button text) or leave it as it is? cc: @saygunnyc

[2022-06-17 03:31] arunsathiya commented on #64723
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

- Can reproduce the error.

📌 ACTIONS

- Closing in favor of the known report here: https://github.com/Automattic/wp-calypso/issues/57660

[2022-06-17 03:31] #64723 closed, assigned to nobody

[2022-06-17 04:29] p-jackson commented on #56797
See #63874 for details, but in the end we decided to disable the What's New button on Atomic for now. Better than having a broken button. The What's New feature will ultimately find its way into the Help Centre which is also going to have to figure out how to make this work. Better to piggy back off that work.

[2022-06-17 04:29] #56797 closed, assigned to vykes-mac

[2022-06-17 04:34] zachspears commented on #64189
If possible ( I know there are restrictions Meta places on their API's ) I think this would be a great addition!

[2022-06-17 04:42] zachspears commented on #64345
This is an important addition to make it easier HE's to help users get verified in this unique case. Given the rarity of the occurrence, I am setting this to Low Priority.

If many cases are added, we can adjust the priority accordingly.

[2022-06-17 04:47] arthur791004 commented on #64371
Close it as it's shipped 🚢

[2022-06-17 04:47] #64371 closed, assigned to arthur791004

[2022-06-17 04:58] zachspears commented on #64349
This is a great observation. I am going to mark this as a Normal priority and follow up with the team working on Styles to see if this is currently on their radar and possibly a redundant Enhancement request. :)

[2022-06-17 05:22] zachspears commented on #64373
This is a great idea, and I agree with the usability implications. Marking as Normal Priority!

[2022-06-17 06:13] cpapazoglou commented on #61617
Since the vendor registration form for Tipalti might make the vendors drop off before completing sign-up, we can move the whole step after the registration or even after the product submission launch.

[2022-06-17 07:45] autumnfjeld commented on #64489
My vote is also 2 : "Search for a category"

Remember that thing called Google 🤣 , it's called search, and it is all about typing stuff in.  So search seems an appropriate word.

A blinking cursor (or a static cursor) in the input field is a good indicator that the field can take typed input.

[2022-06-17 07:54] arthur791004 commented on #64489
I think we can go with option 2 and see is there any further feedback!

I think maybe we don't need the chevron icon as the suggestions will show automatically when you focus on the input 🤔

[2022-06-17 07:58] epeicher commented on #64704
Changes deployed r247563-wpcom

[2022-06-17 07:58] #64704 closed, assigned to gcsecsey

[2022-06-17 08:26] fstath commented on #45586
I got another report at https://wordpress.com/forums/topic/importing-site-from-wix/?view=all

Wix URL: https://www.highrockyhomes.com/

[2022-06-17 09:01] autumnfjeld commented on #64489
I believe this issue is `In Progress` so moving it out of `Ready for Dev`

[2022-06-17 09:38] p-jackson opened #64731 "AMP: Add removal notice to settings screen"
We want users who have an interest in AMP to be aware that the feature is no longer available on Simple sites. At the same time, we don't want to unnecessarily notify a lot of users who probably weren't aware of AMP in the first place.

We are going to add a message to the `Settings -> Performance` screen that will replace the AMP toggle.

![Image](https://user-images.githubusercontent.com/1500769

[2022-06-17 10:15] arthur791004 commented on #64489
@@saygunnyc As most of us are leaning toward option 2, so I've shipped with "Search for a category". Let's see if any feedback!

[2022-06-17 10:15] arthur791004 commented on #64489
Close it as it's shipped!

[2022-06-17 10:15] #64489 closed, assigned to arthur791004

[2022-06-17 10:59] #64720 closed, assigned to escapemanuele

[2022-06-17 13:30] Copons opened #64738 "Dotcom Marketplace: Add "All Products for WooCommerce Subscriptions" to the Dotcom Marketplace"
We'll add the **[All Products for WooCommerce Subscriptions](https://woocommerce.com/products/all-products-for-woocommerce-subscriptions/)** Woo extension to the marketplace

FG page with all the instructions - PCYsg-AhC-p2

Here are 2 examples of recent integration works:
https://github.com/Automattic/wp-calypso/issues/63083
https://github.com/Automattic/wp-calypso/issues/63300

- [x] Preflight:

[2022-06-17 14:59] arunsathiya commented on #63849
Oh actually, this seems fixed both on the block-level popup and on the media library at https://wordpress.com/media

<img width="581" alt="image" src="https://user-images.githubusercontent.com/18581859/174323879-1b664bc5-645a-44d0-8b9c-d08f021751ad.png">

<img width="1030" alt="image" src="https://user-images.githubusercontent.com/18581859/174323916-f6cf50fd-fd27-47a8-a7d0-4320c92c435a.png">

Mark

[2022-06-17 14:59] #63849 closed, assigned to nobody

[2022-06-17 15:21] rinazrina opened #64741 "Mobile Browser: block color setting is not working"
### Quick summary

Clicking the Color Setting on any blocks via mobile browser doesn't do anything.

### Steps to reproduce

1. Open a mobile browser. I've checked this with Chrome browser.
2. Open WordPress.com > My Sites > Pages or Posts > open a new page/post or open an existing page/post.
3. Add a Paragraph block or any block that has the Color setting, such as Heading block or Buttons block.

[2022-06-17 17:55] andres-blanco commented on #64705
We where thinking around this issue with @sixhours and found that the setting `show_on_front: posts` is not being set for this themes because the `blog-homepage` tag on the `style.css` is missing, if you add it the homepage you end up is closer to what you would expect. Since theme files are heavily cached you can test this behaviour following this instructions:
1. Set up a new site.
2. Sandbox pu

[2022-06-17 17:55] #64634 closed, assigned to lupus2k

[2022-06-17 18:28] wongasy opened #64747 "AMP: Extra <amp-consent> rendered above <html> causing invalid AMP"
### Quick summary

AMP post markup is malformed for all posts on some sites. Specifically there's an extra `<amp-consent>` node rendered above the start of the HTML document, which results in failure in [AMP validation](https://validator.ampproject.org/).

**Problem Markup:**
<img width="1053" alt="invalid-amp-consent" src="https://user-images.githubusercontent.com/104910361/174354655-fc9b6f7c-fb0

[2022-06-17 19:37] andres-blanco commented on #56869
I've made some progress on this: paYKcK-1Mb-p2

[2022-06-17 20:17] semihakocer commented on #63891
This copy is proof of product to make sure customers understand the product value and keep renewing under the purchases page. This is the only page they'll review after purchase/at renewal time/cancellation etc.
I'd vote against removing the copy in this case and move on with @wensco suggestions listed [here](https://github.com/Automattic/wp-calypso/issues/63891#issuecomment-1158035458).

[2022-06-17 20:24] msilbers opened #64750 "Gif/Giphy Block: Add Alt Text field"
### What

Right now the Giphy block doesn't allow you to set alt-text anywhere, and it seems to pull alt-text from the image on giphy itself. Alt text should be contextual so this seems unexpected and is sometimes very lacking, and this should have an option for people to add their own alt-text related to their content.

### Why

This is an accessibility issue, all images and gifs should have prop

[2022-06-17 20:44] ebinnion opened #64751 "Nav Unification / Sidebar: Mailpoet icon does not show when on WordPress.com"
### Quick summary

When in wp-admin for my Atomic or Jetpack site, I see the MailPoet icon in the sidebar. When on WPCOM, I see a settings cog icon.

We should probably show the MailPoet icon here since this is one of our plugins.

<img width="576" alt="Screen Shot 2022-06-17 at 12 50 33 PM" src="https://user-images.githubusercontent.com/1126811/174398472-44dbacf3-4a5e-4e78-8277-0aa226c2de28.png">

[2022-06-17 23:03] DustyReagan commented on #63875
I think the revert might be postponed? p58i-cxt-p2 Feel free to close again if I'm mistaken. 😅

[2022-06-17 23:04] supernovia opened #64752 "Editor: Can't use keyboard's down arrow to scroll in a longer post (Simple Sites)"
### Quick summary

The down arrow key does not work for scrolling in a longer post.

### Steps to reproduce

1. Start at wordpress.com/post on an account that has a simple site
2. Create a long post (I used Lorem)
3. Scroll to the top and bottom with your mouse
4. Try scrolling to the top, then to the bottom, using keyboard arrows

### What you expected to happen

I would expect the down arrow to

[2022-06-17 23:50] helenaartmann commented on #60774
Got a user reporting the form does not confirm it was sent when added to their widgets: #5306610 - zen.

[2022-06-18 00:29] ebinnion opened #64756 "Start: Blank page caused by IndexedDB state"
### Quick summary

I noticed that when I was logged in to my account and then went to `/start` that I got a blank page. Further, when I went to the sidebar in my sites and clicked to "Add new site" I got a similar blank page.

After debugging, it appears that the issue was something in the `signup` IndexedDB value. I was able to "fix" the state by deleting the signup key and then trigger the issue

[2022-06-18 02:18] thekingsprojects opened #64758 "Buttons Block: Open in new tab option de-selects itself when adding link"
### Quick summary

When adding a link to a button in the Buttons block, confirming the link can de-select the "Open in new tab" option if it was already selected.

### Steps to reproduce

1. Create a page or post and add a Buttons block to it. Add some text to the button.
2. Click on the "link" icon in the toolbar to choose what the button links to.
3. Paste or type in a link or page name, but don

[2022-06-18 04:19] edwinho89 opened #64759 "Display image caption under featured image"
### What

Allow displaying image captions under featured image, if caption is added to media library

### Why

Some image in media library contains image captions, it'd be nice to populate captions automatically without the need to enter manually. (just as what we have for image block)

Requested in 5306388-zd-woothemes

### How

_No response_

[2022-06-18 04:45] nagpai commented on #63798
Sorry about the late reply here. It is difficult for me to reproduce the issue now. To describe how it looked. - A horizontal banner ad stretched the width of the website on responsive mobile view and pushed the actual website outside the viewable screen.

In other words, the widget should not show rectangular wide ads on mobile device, else it will cause the layout to break.

[2022-06-18 06:25] vishnugopal commented on #64700
Let's hold off on committing anything, it seems the change might not go through after all: p58i-cxt-p2

[2022-06-18 07:04] edwinho89 commented on #49486
Reported in 5291550-zd-woothemes

The same user had two other bug reports similar to this issue: https://github.com/Automattic/wp-calypso/issues/63422 and https://github.com/Automattic/wp-calypso/issues/64561

[2022-06-18 08:09] #63527 closed, assigned to nobody

[2022-06-18 08:32] Robertght commented on #64558
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - not tested

📌 SCRUBBING

- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm unable to replicate this at the moment on my end on Simple sites.

📌 ACTIONS
- Await author feedback

📌 Message to Author
 - Could you share more details about the testing sites used and the notification settings at the time? Also, has the follower  subscr

[2022-06-18 08:39] Robertght commented on #64559
The Follow Blog widget was retired a while back and we have a PR in place here:

https://github.com/Automattic/jetpack/pull/21184/

pdf5j4-4C-p2

[2022-06-18 08:39] #64559 closed, assigned to nobody

[2022-06-18 08:54] Robertght commented on #64561
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Seems like it's indeed an issue only on some sites only. Closing in favor of https://github.com/Automattic/wp-calypso/issues/49486

📌 ACTIONS
- Closed as duplicate of #49486

[2022-06-18 08:54] #64561 closed, assigned to nobody

[2022-06-18 08:56] Robertght commented on #49486
Thank you @edwinho89! I just noticed another issue which I closed and it appears to happening only on some sites.  This workaround did it for me, but I'm checking with the user in the ticket above to see if that sticks with them:

1. I went to the Posts page and clicked on View.
2. I selected the Classic view
3. I selected the Default view
4. I accessed a post and then I clicked on the site logo a

[2022-06-18 09:22] formosattic opened #64760 "Media: Image Privacy setting doesn't save"
### Quick summary

_No response_

### Steps to reproduce

1. In Calypso, go to Media
2. Edit an Image
3. Set the Privacy to **Public** or **Private**
4. Click Done

![image1](https://user-images.githubusercontent.com/15944096/174431393-ea2f2aa6-b61d-48dc-ac40-14d6d75095f0.png)

### What you expected to happen

Privacy status to be be saved.

### What actually happened

Privacy status goes back to

[2022-06-18 12:52] fstath commented on #64752
The user the initially reported this came back with more information. Their post consists of only 239 words but it is split into 49 paragraphs.

Forum thread: https://wordpress.com/forums/topic/why-cant-i-scroll-on-draft-posts-in-mac/?view=all

[2022-06-18 13:29] arunsathiya commented on #60732
- [ ] Another case of Customize missing on the sidebar on Payton: 5307053-zen

It was needed because Colors option on the Customizer shows some settings that are available only there. The option we see there does not match what we have on Global Styles on FSE/Site Editor. So, the only way to update the primary/secondary colors is to visit the Customizer: https://wordpress.com/customize or via http

[2022-06-18 13:40] ClassicRKR27 commented on #58382
I have another report here: 5307463-zd-woothemes

On top of that, I am able to replicate this consistently with one of my test accounts (`blakebays30`) - I just created it for the purposes of testing and I haven't once been able to get the link to work (including opening Incognito windows repeatedly in order to try and make sure it wasn't a browser cache issue).

[2022-06-18 14:42] kimerlin81 commented on #64324
Welcome tour modal reappearing after being completed and dismissed reported

- [ ] Once fixed, please follow up with user in ticket [p7DVsv-eD3-p2](5307577-zd-woothemes)

[2022-06-18 15:34] thekingsprojects commented on #64324
Another report of the modal reappearing when dismissed, and request for follow-up: 5307692-zen

[2022-06-18 20:04] thekingsprojects commented on #62755
- [ ] Another case here: 5307838-zen

Gave user the option to edit with Appearance > Customize instead.

[2022-06-19 05:29] kuropixel commented on #64552
Adding the ticket for previously reported 35810422-hc:
 5301111-zen

 They'd like to be notified when the bug is fixed.

[2022-06-19 10:34] syhussaini commented on #62661
Google reCaptcha on Forms sounds like a great idea. Having an option to enable it on login, registration and other forms on the site will be highly useful.

[2022-06-19 11:37] tellisbethel commented on #63696
I've come across another case here which I've been able to replicate: 5307516-zd-woothemes
I uploaded an image, deleted it, tried to upload another with the same name, and the original image was loaded.

[2022-06-19 12:37] csabarakasz commented on #63696
User affected by this as well: 5307516-zd-woothemes

[2022-06-19 15:37] cpapazoglou opened #64763 "Launch Yoast SEO Premium"
After resolving any feedback from the CfT(pdtkmj-dp-p2) we should should launch Yoast SEO Premium.

- [x] Align with HEs by posting a heads up post and slack message in wpcom-support
- [x] Align with marketing so that they schedule posting a marketing article
- [x] Remove the flag from the backend, and switch `$use_staging` to `true` in `WPCOM_Marketplace_Yoast_Premium_Plan_Manager`

[2022-06-19 16:10] cpapazoglou commented on #64161
That's probably due to wpcom `products` still cached in Calypso Indexed DB. @WBerredo , @gcsecsey any ideas here?

[2022-06-19 16:12] cpapazoglou commented on #62584
This is not relevant anymore

[2022-06-19 16:12] #62584 closed, assigned to nobody

[2022-06-19 16:17] cpapazoglou commented on #62577
We already have clear rules (p9o2xV-1A4-p2#comment-4954).

Vendors should provide us with GH repo and share an access token for accessing it (reading it). We find the latest release, using the version number of that release. These need to use version numbered releases, and the zips be packaged just like a dotorg repo plugin or theme zip.

[2022-06-19 16:17] #62577 closed, assigned to nobody

[2022-06-19 16:23] cpapazoglou commented on #63151
This is still under discussion pdh6GB-11q-p2#comment-1946

[2022-06-19 17:29] gmovr commented on #64527
@danielbachhuber -- Yes, it will (the name of the plan), but we can still fix this prior.

cc: @chickee0311  Can you take a look at this one? We'll sort it for the Pro plan for now. I _think_ just removing the `href` prop will then default to the Pro plan, but I haven't looked too closely.

[2022-06-19 17:58] gmovr commented on #64288
@paulbonahora @victorespigares  @lucasmendes-design  -- Could we get some design review and content for this screen?

@chriskmnds -- We'll launch with premium themes, custom CSS, and no-ads at first, so we don't have to worry about the storage requirements (space selection etc), so it will limit scope of the UI a bit. We can revisit storage.

[2022-06-19 18:01] gmovr commented on #64121
@paulbonahora @victorespigares  @lucasmendes-design  -- Could we get some design review and content for this screen - ref the PR posted above.

In the above free flow, we're checking for a config flag, gating it from the regular `/free/` signup flow. This should be ready to be deployed soon, so we can test in parallel with the rest of the changes. :)

cc: @chriskmnds

[2022-06-19 19:33] jp-imagines commented on #57812
- [ ] 5309681-zd-woothemes

Chrome/Safari on a Mac. Not able to replicate on my end.

[2022-06-19 21:07] arinoch opened #64764 "2FA: No prompt to enter the SMS code when logging into your account."
### Quick summary

Users are not getting prompted for the 2FA codes we send them via SMS. This is impacting things such as account recovery, as it is also preventing them from using their backup codes.

### Steps to reproduce

1. Create an account on WordPress.com, plus site.
2. Enable SMS-based 2FA.
3. Log out of that account, or try to log into that account in another browser/an incognito window

[2022-06-19 22:24] arinoch commented on #64764
One more in 5308067-zd-woothemes.

[2022-06-19 22:26] kuropixel commented on #64764
Adding info for 5309092-zd: User mentioned they tried with Firefox and it worked instead of Edge.

[2022-06-19 22:40] arinoch commented on #64764
Updated the main issue to specify so far Edge is affected. May also be Chrome, but that's pending.

[2022-06-19 22:56] #61974 closed, assigned to danielbachhuber

[2022-06-20 01:28] devNigel commented on #52100
Another case: 5308833-zd-woothemes

The site is using FSE theme Dora on the Starter plan. Informed they have to upgrade to Pro plan and use a plugin.

[2022-06-20 04:52] cat-og commented on #60747
This came up again, Hever theme: zd-5310412

[2022-06-20 04:58] vishnugopal commented on #64182
^ cc @saygunnyc

I'll revert to mShots for now because a broken preview is worse than a slow one imo.

[2022-06-20 05:40] rinazrina commented on #64741
Another report: 29963214-hc

[2022-06-20 06:16] goblinartificer opened #64767 "Jetpack CDN: GIF timing not preserved with optimization"
### Quick summary

_No response_

### Steps to reproduce

1. Upload a GIF with two frames, with variable timing between them (i.e. one frame lasts longer than the other)
2. Check the post/page preview with and without the Jetpack CDN enabled.

### What you expected to happen

The GIF should display with its original timing.

(Note: It does display correctly for a test GIF on my site linked below,

[2022-06-20 07:29] #63902 closed, assigned to gcsecsey

[2022-06-20 07:55] miksansegundo commented on #64688
We have ready a [PR](https://github.com/Automattic/wp-calypso/pull/64709) with the simplest solution. There are screenshots showing how it looks. cc: @saygunnyc

[2022-06-20 08:01] sophiegyo opened #64768 "Cookie acceptance widget [Customizer]: Make the cookie acceptance widget a separate section, not a widget"
### What

User request: 5296745-zen

Current status:

In order to add a cookie acceptance widget, it needs to be added under Customize > Widgets > widget area.
https://en.support.wordpress.com/widgets/cookie-widget/

User's suggestion:

Create a dedicated section in the Customizer for managing the cookie widget, so that it doesn't get hidden/forgotten under Widgets > whichever widget area was sele

[2022-06-20 09:09] Nic-Sevic commented on #58375
To clarify there are a few things that are happening with these revert > re-transfer > restores

When a site is re-transferred after a revert, new JP tokens are assigned. After that 2 tings can go wrong:
1. The site might be restored to a backup point that was made while the temporary site was active. Reactor reached out to the backup team about hiding these invalid points so those sort of restore

[2022-06-20 09:42] Nic-Sevic opened #64772 "Unable to delete selection with links when editing"
### Quick summary

When editing a post or comment on p2 you can select a paragraph/line/etc but then cannot delete the selection if it has links inside. Instead you either need to delete the block or delete character by character.

This may be related to this bug : https://github.com/Automattic/wp-calypso/issues/63421

### Steps to reproduce

1. Type out a paragraph in a p2 comment or post with a

[2022-06-20 10:02] bogiii opened #64774 "☂️ Light importer: Colors flow"
### ⚠️  The project is on pause, and the current work is on [the backup repo](https://github.com/Automattic/wp-calypso/tree/backup/design-picker-updates) ⚠️

- [x] Create Analyzer `@wordpress/data store` | #64776
- [x] Capture screen, match with a new design
- [x] Capture screen, setup "Don’t have a site address?” (framework nav back button as well)
- [x] #64887
- [x] #64775
- [x] #64813
- [ ] [In

[2022-06-20 10:22] bogiii opened #64775 "Create a configurable progress component"

[2022-06-20 10:22] rcrdortiz commented on #63267
@Greatdane & @rw-ye This issue has been solved, feel free to reach out to the user.

[2022-06-20 10:22] #63267 closed, assigned to rcrdortiz

[2022-06-20 10:32] bogiii commented on #63806
The colors API has been tested and introduced in the Analyzer data store. The code is under the `update/import-light-screens` branch.

The rest work related to the first phase of Light importer (importing colors) can be tracked under the umbrella issue: https://github.com/Automattic/wp-calypso/issues/64774

cc @vishnugopal

[2022-06-20 10:32] #63806 closed, assigned to bogiii

[2022-06-20 11:03] jorpdesigns commented on #62755
Another case here (using the Astra theme): 35828823-hc.

They were able to access theme options from Appearance → Customize.

- [ ] Follow up ticket created in 5311123-zen.

[2022-06-20 11:13] miksansegundo commented on #63076
We still have strings pending for translation:

<img width="1484" alt="Screen Shot 2565-06-20 at 12 44 48" src="https://user-images.githubusercontent.com/1881481/174585368-14f8e347-c609-45f7-a778-02e794a9bb31.png">

<img width="1481" alt="Screen Shot 2565-06-20 at 12 42 32" src="https://user-images.githubusercontent.com/1881481/174584959-a32ebf87-86c7-40dd-a3c2-ccac09a7ffeb.png">

I have checked m

[2022-06-20 12:30] bobmatyas opened #64778 "Argent: Blog Posts Block Excerpt Text Wrapping Exceeds Container Width"
### Quick summary

In the Blog Posts block, excerpts exceed the width of container on live site.

## Screenshot

### Editor
![image-1](https://user-images.githubusercontent.com/45246438/174601563-00e4fd45-dd0a-46d7-bf61-0841e2bc7102.png)

### Live Site

![image-2](https://user-images.githubusercontent.com/45246438/174601603-c4fe989a-b075-4125-8f64-e72788ffc053.png)

### Steps to reproduce

1. Sele

[2022-06-20 12:40] kimerlin81 commented on #61785
Another report of this. Shared option 1 workaround

- [ ]  please update user in 5311021-zd-woothemes once this is fixed

[2022-06-20 12:49] thehenrybyrd commented on #64772
I'm running into something similar, but in more situations.

I was able to reproduce the links situation though:
1. In a paragraph block, select text that includes/contains links.
2. Try deleting said text.
3. Note that some of the time, the text is deleted, and sometimes it isn't. This seems somewhat dependent on the amount of text and what's at the beginning and end of the text.

In this video,

[2022-06-20 13:15] cecilearkay commented on #58594
I have a similar issue in 35291073-hc

I took videos from both **Custo > Widgets** (https://d.pr/v/fMKcc7) and **Appearance > Widgets** (https://d.pr/v/9YPrpE)

[2022-06-20 13:37] ckmccoy2 commented on #64764
5308941-zd (one of the cases mentioned above) is also reporting that they are able to login in, but seem to get timed out after varying amounts of time.

[2022-06-20 14:45] #59735 closed, assigned to nobody

[2022-06-20 14:47] markbiek opened #64781 "Feature Request: Ability to pass data to a Step via the `navigate()` function"
### What

Using the new `StepperInternal` data store (#64745), let's add the ability to pass data from the stepper flow (using the `navigate()` function) directly to a step.

### Why

This will make it easier to do things like displaying different copy on a step depending on the context (error messages, Anchor vs Seller, etc).

### How

There is a functional proof-of-concept in https://github.com/

[2022-06-20 15:29] #60774 closed, assigned to danielbachhuber, sejas

[2022-06-20 15:46] blackjackkent opened #64782 "Seller Experience - Add Design Preview info dropdown"
Following on from https://github.com/Automattic/wp-calypso/issues/64717, as part of the new Seller Experience theme picker designs described in paYKcK-1Hs-p2, we need to add a dropdown to the design preview screen with information about the selected theme:

<img width="850" alt="image" src="https://user-images.githubusercontent.com/13437011/174882159-083c392d-b6dc-4dc7-a873-912ffedea207.png">

Req

[2022-06-20 15:51] blackjackkent opened #64783 "Seller Experience - Add modal popup when user must upgrade to select theme"
Following on from https://github.com/Automattic/wp-calypso/issues/64717, as part of the new Seller Experience theme picker designs described in paYKcK-1Hs-p2, we need to add a modal which will appear when the user must upgrade their plan in order to use the selected theme:

(NOTE: This should be behind a feature flag separate from the one governing our theme picker updates as a whole, as we would

[2022-06-20 16:12] jp-imagines commented on #59860
- [ ] Another request in 5304320-zd-woothemes. User moving from the Classic editor/block to regular blocks, and is disappointed about the lack of an indent option.

[2022-06-20 16:29] obenland commented on #51956
Page Optimize is part of the Free set (see `atomic_get_plugin_details()`) so I'd expect that to be available to all WoA sites, regardless of plan.
CoBlocks will only get activated for parity on sites that also had it on Simple.

[2022-06-20 16:29] #51956 closed, assigned to obenland

[2022-06-20 16:30] blackjackkent commented on #64194
@nelsonec87 will follow up with i18n team to see current status of ongoing project related to this; if things are well in hand, we can close this issue.

[2022-06-20 16:34] blackjackkent commented on #64047
Closing this issue, as we deployed a number of issues last sprint related to refining the user experience around email confirmation; will follow up on future issues if need be!

[2022-06-20 16:34] #64047 closed, assigned to nobody

[2022-06-20 16:37] blackjackkent commented on #63703
As part of our further seller experience redesigns as described in paYKcK-1Hs-p2, this screen will ultimately be going away entirely, so I'm going to close this issue.

[2022-06-20 16:37] #63703 closed, assigned to nobody

[2022-06-20 16:38] blackjackkent commented on #64291
This has been updated; closing this issue.

[2022-06-20 16:38] #64291 closed, assigned to nobody

[2022-06-20 17:31] metabreakr commented on #64764
Possible report in 5307570-zen

[2022-06-20 17:33] masperber commented on #62755
35854285-hc

Another case, using the third-party Shoptimizer theme. No follow-up needed.

[2022-06-20 17:35] metabreakr commented on #64764
Another is 35752735-hc

[2022-06-20 18:00] obenland commented on #64101
@jordesign Is there a reliable way to reproduce this?
I tried following the instructions in pdLHpo-1q-p2 to make a new site Atomic via enabling/disabling an eCommerce plan, but that left me with a clean state for Jetpack

[2022-06-20 18:12] supernovia commented on #57660
Thanks for your work on this folks! We have another case here:
https://wordpress.com/forums/topic/stop-welcome-to-wordpress-popup/

[2022-06-20 18:19] #64247 closed, assigned to nobody

[2022-06-20 18:27] ccwalburn commented on #52074
Had a report here: 35757754-hc
Added the CSS as a workaround.

[2022-06-20 18:29] vindl commented on #64003
@p-jackson What do you think about reducing this to 5% to start with? (or even lower, ramping up is the easy part 😄 )

[2022-06-20 18:47] #57278 closed, assigned to DustyReagan

[2022-06-20 19:08] allilevine commented on #62267
Closing, I'm no longer seeing this issue:

<img width="1132" alt="Screen Shot 2022-06-20 at 3 07 31 PM" src="https://user-images.githubusercontent.com/1689238/174664721-a9af039b-ce4c-40ef-bf94-b9ba50662075.png">

[2022-06-20 19:08] #62267 closed, assigned to nobody

[2022-06-20 19:08] zaguiini opened #64787 "Google Sign-in: Introduce authorization code exchange endpoint in WPCOM"
### Details

Part of https://github.com/Automattic/wp-calypso/issues/64538.

The starting point is to introduce an endpoint where we can exchange the auth code (the response of the Google authorization process) for tokens in the back-end.

This endpoint will receive the auth code in its body (for security reasons) and exchange it for tokens (access and ID tokens) with the Google APIs. Here's an ex

[2022-06-20 19:14] zaguiini opened #64788 "Google Sign-in: Migrate the pop-up flow to the new Google Identity Services API"
### Details

Part of https://github.com/Automattic/wp-calypso/issues/64538 and blocked by https://github.com/Automattic/wp-calypso/issues/64787.

We want to adapt the Sign in with Google button so it works with the new Google Identity Services API.

The plan is not to introduce any changes, leaving the UX as it currently is. This ticket should handle the scenarios where a pop-up is presented to th

[2022-06-20 19:22] zaguiini opened #64789 "Google Sign-in: Migrate the redirect flow to the new Google Identity Services API"
### Details

Part of https://github.com/Automattic/wp-calypso/issues/64538 and blocked by https://github.com/Automattic/wp-calypso/issues/64788.

We want to adapt the Sign in with Google button so it works with the new Google Identity Services API.

The plan is not to introduce any changes, leaving the UX as it currently is. This ticket should handle the scenarios where the redirection flow is act

[2022-06-20 19:31] zaguiini opened #64790 "Google Sign-in: Replace the migration feature flag with an experiment"
### Details

Part of https://github.com/Automattic/wp-calypso/issues/64538 and blocked by https://github.com/Automattic/wp-calypso/issues/64789.

In https://github.com/Automattic/wp-calypso/issues/64788 we're introducing a feature flag so we can conditionally display the migrated Sign in with Google flow. This is necessary so we don't disrupt the experience for the users while we're migrating to t

[2022-06-20 19:34] zaguiini commented on #64537
Can be done after https://github.com/Automattic/wp-calypso/issues/64788. The code will almost be identical, bar the feature flag/experiment. This flow is already deprecated and will fall into disuse as fewer people are using Jetpack <10.8 and the flow is not used in more recent versions of the plugin.

[2022-06-20 19:38] zaguiini opened #64791 "Google Sign-in: Remove the migration feature flag and obsolete code"
### Details

Part of https://github.com/Automattic/wp-calypso/issues/64538 and blocked by https://github.com/Automattic/wp-calypso/issues/64790.

Once we have enough data to gauge the impacts of the migration, we can remove the feature flag. We can monitor `calypso_login_social_login_success` and `calypso_login_social_login_failure` on tracks.

If it proves to be a success, let's remove the deprec

[2022-06-20 20:14] lucasmendes-design commented on #64121
Hi @claudiucelfilip @gmovr, I tried to test it, but the add-on step didn't appear. I followed these instructions:

Proposed Changes
WIP

Addresses https://github.com/Automattic/wp-calypso/issues/64121

Testing Instructions
Go to /start/plans?flags=signup/addons-step

Select a Free plan

You should see the Addons step

Select a few addons and continue

You should see the addons in your Shopping car

[2022-06-20 20:16] #64706 closed, assigned to valterlorran

[2022-06-20 20:29] saygunnyc commented on #64489
2 is the right choice. Thanks for participating all! 😄

[2022-06-20 20:33] saygunnyc commented on #64182
Yes, let's 💯 plan on re-visiting this design. I also am not fully convinced if the preview is adding value other than confirming it's the right site address.

[2022-06-20 20:38] saygunnyc commented on #64688
I'm leaning towards leaving it as is until we fix the browser button behavior as I believe the issue is not how the "< Back" button on UI works –it works as expected, it is how the browser back functions. cc @taipeicoder @miksansegundo

[2022-06-20 21:07] p-jackson commented on #64003
@vindl If we're worried about a dip in blog traffic then a very small rollout will make that difficult to see. But in principle, I'm fine with it. We can ramp up in arbitrarily large jumps so it ultimately doesn't slow down the rollout if we don't want it to.

I'll update the task description to 2%

[2022-06-20 21:15] anuguywp opened #64793 "Advanced Comment formatting and Editing similar to https://disqus.com/"
### What

Ticket: 5311890-zen

User mentioned that a reader commented the following:

Right now we have a the policy in the following document that comments are owned by the site owner: https://wordpress.com/support/comments/#edit-or-delete-a-comment-you-made

The two other solutions seem to be to either suggest enabling [Markdown](https://wordpress.com/support/wordpress-editor/blocks/markdown-blo

[2022-06-20 21:21] arinoch commented on #64764
Update: User in 5308067-zd-woothemes says it happens in firefox as well. I'm going to ask for more detailed FF browser info.

[2022-06-20 21:22] zaguiini commented on #64787
Diff for review: D82912-code.

[2022-06-20 21:32] KirkwallDay opened #64794 "Dimensions block setting on Cover Block doesn't allow changing of unit type when unlinked."
### Quick summary

When trying to add padding or margin to a cover block, the dimension unit will not be set if the settings are unlinked.

These are the settings I'm referring to:
![Screen Shot 2022-06-20 at 3 25 07 PM](https://user-images.githubusercontent.com/49131029/174679711-e8c9d78a-c881-40ec-966c-c687a248f4bb.png)

This also affects "Post Featured Image", blocks as these appear to be cover

[2022-06-20 21:52] KirkwallDay commented on #63262
Forgot to re-open this, in case this new info helps anyone find out why the sites had the incorrect site URL when going AT.

[2022-06-20 21:59] vindl commented on #64731
@p-jackson @wojtekn Could we add a tracks event for this upsell to the task list? (it can be a separate GH issue too, doesn't hurt to have more granular tasks) We could track _clicks_ and possibly _views_.

What it can help us answer is:
- how many users click on it?
- what's the percentage of users that click after seeing the nudge?
- what's the percentage of users that end up upgrading after cli

[2022-06-20 22:12] kuropixel commented on #64764
Update: User in 5308941-zen mentioned they've tried with both Chrome and Firefox, but no luck.

[2022-06-20 22:31] mreishus commented on #53515
As of today, my Atomic site on a **premium plan** is showing the GA feature highlighted when given the link above:

![Image](https://user-images.githubusercontent.com/937354/174684666-32f80313-6091-4fb8-b585-c4acde891e6c.png)

My Atomic site on a **free plan** is showing a new style plan comparison page. I'm not sure if this is the bug or if the page does not support highlighting features given in

[2022-06-20 23:22] obenland commented on #64333
I mean that feels like a pretty strong possibility. I'd be fine with deferring the purchase update job by 10 seconds or something and have the job itself use `send_reads_to_masters` to improve the likelihood of renewal purchases being synced after the DB update.

[2022-06-21 01:48] devNigel opened #64796 "Image Compare Block: Block Width setting missing on Atomic sites when CoBlocks is active"
### Quick summary

Image Compare Block is missing width settings on Atomic sites. They are available on simple sites.

### Steps to reproduce

1. On an AT site, create a new page.
2. Add Image Compare block, you will notice that it does not have Block Width options.

1. On a Simple site, create a new page.
2. Add Image Compare block, you will notice that it has Block Width options.

### What you e

[2022-06-21 01:57] #64688 closed, assigned to miksansegundo

[2022-06-21 02:18] jordesign commented on #64101
@obenland Interesting - I can no longer recreate using the same process either. I just sent an invitation to the site which *does* display that behaviour in case that helps. But if it was just a once-off I guess we can close this.

[2022-06-21 04:43] cpapazoglou opened #64799 "Marketplace: Add a required checkbox in the Checkout"
### What

Add a required checkbox in the checkout stating
"By clicking here, you agree that an account may be created on a third party developer’s site related to the products you have purchased."
![CleanShot 2022-06-21 at 07 38 43@2x](https://user-images.githubusercontent.com/12430020/174717534-1238eb72-76d7-4a0b-bc07-761e2b9bda20.png)

This checkbox should appear only if the checkout contains ma

[2022-06-21 06:13] arthur791004 commented on #63118
More context: p1655427741505269-slack-CRWCHQGUB

[2022-06-21 06:26] roo2 commented on #63119
it looks like everything's been translated for the mag-16 languages in glotpress except for the new philosopher quotes used by the example posts, which is queued for translation 👍

[2022-06-21 06:53] SaxonF commented on #63715
@lsl sounds good. Let's leave out for now.

[2022-06-21 07:22] epeicher opened #64801 "Marketplace search: filter by author in the new endpoint"
This is a follow-up of https://github.com/Automattic/wp-calypso/issues/63166

Implement the filter by author functionality in Calypso using the new `/marketplace/search` endpoint

[2022-06-21 07:24] epeicher opened #64802 "Marketplace search: Use wpcom.req client to access the new endpoint"
Use the `wpcom.req` client instead of the current `fetch` client to access the endpoint. That way we can have the benefits of using the common client.

[2022-06-21 07:48] #63166 closed, assigned to epeicher, gcsecsey

[2022-06-21 08:01] dsas commented on #64702
@alinclamba I'll be working on a fix today

[2022-06-21 09:17] #64802 closed, assigned to epeicher

[2022-06-21 09:18] cpapazoglou commented on #64763
I have followed up to an issue identified and waiting for a response from Yoast (pcSRhZ-5r-p2)

[2022-06-21 09:40] dsas commented on #64702
Opened D82928-code for review

[2022-06-21 10:04] flameslash commented on #48623
Not sure if this is still open but I had a chat 35860695-hc which describes this issue.

They also mentioned that most of their posts containing Chinese characters were directly copied and pasted into the editor.

[2022-06-21 10:09] escapemanuele opened #64807 "Happychat Connection: Update and improve tests"
We have [ some tests](https://github.com/Automattic/wp-calypso/blob/update/help-center-socket-exhaustion/client/lib/happychat/test/index.js#L47) that were really useful while building the happychat connection inside the help center.

It would be really nice to move them to our `happychat-connection` package and improve them, to also reflect what we did for `[useHappychatAvailable](https://github.c

[2022-06-21 10:12] taipeicoder opened #64808 "Vertical step: Pre-selected vertical not being populated correctly in the input field"
## Description
In the vertical question step, when a site vertical has already been set, then the input field will be pre-populated with the vertical text. Currently, there is an issue where even though the vertical text is being pre-populated in the input field, the value is not correctly set to the component state, causing the selected vertical being cleared when the user clicks on the Continue

[2022-06-21 10:13] wojtekn commented on #60280
Thank you! I'm closing it as it is fixed by https://github.com/Automattic/wp-calypso/pull/64286 now.

[2022-06-21 10:13] #60280 closed, assigned to wojtekn

[2022-06-21 10:47] arthur791004 commented on #64808
This is caused by https://github.com/Automattic/wp-calypso/blob/a8b9ea1ad2779a1e4cda4bce3881c390e3855924/client/landing/stepper/declarative-flow/internals/steps-repository/site-vertical/form.tsx#L30 that was introduced from https://github.com/Automattic/wp-calypso/pull/64699. I'll fix it later.

[2022-06-21 11:51] vajrasar commented on #60119
Another instance here:

35858932-hc

- [ ] 5313472-zen

[2022-06-21 11:57] bogiii opened #64813 "Summary screen, match with a new design"
<img width="705" alt="Screenshot 2022-06-21 at 13 58 15" src="https://user-images.githubusercontent.com/1241413/174793827-3742724b-8ce9-4455-aaf0-444a4cfbcdfb.png">

[2022-06-21 12:05] autumnfjeld commented on #61305
Closing this since we will be moving to the idea of "Tailored Copy" for specific patterns and usage of generic copy.

[2022-06-21 12:05] #61305 closed, assigned to nobody

[2022-06-21 12:33] autumnfjeld commented on #60424
Closing since Goals Screen is launching next week, and will replace Intent Screen.

[2022-06-21 12:33] #60424 closed, assigned to autumnfjeld

[2022-06-21 13:12] mmtr commented on #64333
Created D82940-code to add these changes.

[2022-06-21 13:25] #64702 closed, assigned to dsas

[2022-06-21 13:30] csabarakasz commented on #63199
Same:  35857735-hc

[2022-06-21 13:36] #63715 closed, assigned to WBerredo

[2022-06-21 14:07] heavyweight opened #64817 ""What’s new" modal redesign"
### What
We need to redesign the "What's new" modal according to the new guidelines.

[2022-06-21 14:12] Gustavo-Hilario commented on #52520
Another report: 5305472-zen

[2022-06-21 15:23] Copons opened #64823 "Marketplace: Scaling Product Addition"
Project thread: pdh6GB-PL-p2

[2022-06-21 15:43] essleeung commented on #64764
Another case here: 5314299-zd-woothemes
User doesn't get the popup in Chrome, but gets in in Edge. They turned it off for now.

[2022-06-21 16:08] andres-blanco commented on #56869
Headstart dependency for this process was removed in D82671-code

[2022-06-21 16:09] andres-blanco commented on #53233
I am working on the theme switch part of this issue: https://github.com/Automattic/wp-calypso/issues/56869

[2022-06-21 17:07] obenland commented on #62207
Closing in favor of https://github.com/Automattic/wp-calypso/issues/64101

[2022-06-21 17:07] #62207 closed, assigned to nobody

[2022-06-21 17:56] michaeldcain commented on #63347
@DavidRothstein noted that this might be related to Professional Email subscriptions - additional information being added to the P2 post.

[2022-06-21 17:57] #37085 closed

[2022-06-21 18:04] FreedomFighterSparrow commented on #63063
Hi @mashikag, any updates on this? Can this issue be reopened? Thank you!

[2022-06-21 18:29] DavidRothstein commented on #63347
Note this also causes the first paragraph of the email (the one that would explain the product that is being renewed) to go missing also.

[2022-06-21 18:33] kbrown9 commented on #64101
Hi @obenland! I'm not working on Sync and IDCs now, so I'm not up-to-date with what's going on there. @fgiannar and @sergeymitr might be better able to answer your question.

[2022-06-21 19:01] upwardmomentum84 opened #64830 "Premium Themes Not Showing On Atomic Site"
### Quick summary

On Atomic sites, some Premium themes do not show up in search.

### Steps to reproduce

1. On an Atomic site, go to Appearance > Themes.
2. Search for a theme such as "Maywood", "Skivers" or "Kerr". (these were the ones not working on my site but there may be more or different ones for you).
3.

### What you expected to happen

The theme to show below like it does with the Premi

[2022-06-21 19:45] DustyReagan commented on #64116
I'm having trouble reproducing this. @edequalsawesome How did you take your Premium site Atomic? Maybe that's the key to reproducing this issue.

[2022-06-21 20:01] michaeldcain commented on #63347
Adding defaults in D82966-code

[2022-06-21 20:49] supernovia commented on #64563
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - My core site does not show my custom excerpt in the web or app version of the reader.

📌 SCRUBBING
- Tested on P2 🙅  P2 doesn't have custom excerpts
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context: I tested in .Org, Simple, and Atomic
- Uploaded file (if needed)

The web version of

[2022-06-21 20:57] tvolpert opened #64831 "Include Apple's Numbers format(.xlsx) as an accepted file type"
### What

I had a user request that we add `.numbers` to our list of [Accepted File Types](https://wordpress.com/support/accepted-filetypes/)

Chat transcript: 35864156-hc

### Why

They have complex REGEX-based functions that they don't believe would work if they saved them in `.xlsx` format for upload. They would like to manage all of their files in one place instead of directing users to Dropbo