[2021-12-17 20:00] DavidRothstein commented on #50909
No -- I just meant that restoring the original wording ("Save X% for 12 months") could be confusing because with monthly plans in the mix, it's no longer clear whether that's referring to the savings you get for the first year of an annual subscription (i.e. the 20% in the above example) or the savings you get from choosing to buy an annual subscription as opposed to paying for a monthly subscript

[2021-12-17 20:14] masperber opened #59362 "Custom font is shown in the editor but not on the live site"
### Quick summary

In 7188885-hc, this user has set their font to Overpass in their customizer. On the live site and in the customizer preview, the font is not shown, but it is shown in the editor.

User is using the Russell theme. I switched the site to the Quadrat theme and the site could once again set custom fonts. After switch back to Russell, the issue came back.

On my test site, I could no

[2021-12-17 21:11] allilevine commented on #58385
Latest PR: https://github.com/Automattic/wp-calypso/pull/59274

[2021-12-17 21:27] creativecoder opened #59363 "FSE Beta: Footer credit looks different in the editor vs front-end of the site"
### Quick summary

When using a theme that support block templates, the Footer credit looks different in the Site editor vs the front end of the site.

| **Editor** | **Front-end** |
| - | - |
| <img width="1261" alt="Screen Shot 2021-12-17 at 13 40 36" src="https://user-images.githubusercontent.com/1699996/146602174-347d70e5-ba2f-4893-b562-bda7ef0bf572.png"> | <img width="941" alt="Screen Shot 20

[2021-12-17 21:30] creativecoder commented on #59363
Note that this is currently caused by how we inject the WordPress.com footer credit for FSE sites. We need to represent this visually in the editor, rather than only through filters on the server-side.

[2021-12-17 21:58] edequalsawesome opened #59364 "South Sudan shown as an invalid country when chosen at checkout"
### Quick summary

When trying to complete checkout after selecting South Sudan in the Country field on the checkout page, an error appears saying the selection is invalid

### Steps to reproduce

1. Go to `Upgrades > Plans`
2. Add any plan to your site's cart
3. Go through checkout and choose South Sudan as the country

### What you expected to happen

I'd be able to continue checkout

### What a

[2021-12-17 23:17] JoshuaGoode opened #59366 "Atomic Domains: Improve Calypso's error messaging for issues setting a primary domain"
### Quick summary

Users might encounter issues setting a primary domain if the domain has already been used with another Atomic client.

In these cases, Calypso shows a success message: `Primary domain changed: all domains will redirect to [domain]`

However, the domain is not set as the primary.

![Screen Shot on 2021-12-17 at 18:06:59](https://user-images.githubusercontent.com/4887830/146618228

[2021-12-17 23:33] simison opened #59367 "Anchor FM banner at my home doesn't open in new tab"
All the other "external" banners at my home open in a new tab — except AnchorFM. Let's have it open in a new tab as well.

There's some confusion introduced by new banners, but it's also common confusion to close the page when the brand has changed entirely (from WP.com to AnchorFM) and then they've accidentally closed their way back to WP.com as well.

<img width="1066" alt="Screenshot 2021-12-18

[2021-12-18 00:23] cometgrrl commented on #59235
Lowering this to low priority since it doesn't impact any functionality.

[2021-12-18 00:50] autumnfjeld commented on #58355
Should we close this issue?

[2021-12-18 00:59] mrfoxtalbot opened #59370 "Nav Unification does not scroll down at wordpress.com/view on small screens"
### Quick summary

When visiting wordpress.com/view using a small screen, the Unified Nav will not scroll down. See video below:

https://user-images.githubusercontent.com/4452464/146623394-c38c8905-346f-429a-b3bd-2965b86d8553.mp4

The scroll does work on all other sections, the problem only occurs in wordpress.com/view

### Steps to reproduce

1. Visit wordpress.com/view on a small screen (one wh

[2021-12-18 01:10] tanjoymor commented on #53613
I believe this is another case of a similar issue 4621965-zd but it is much more random. Basically refreshing the page or resizing the browser even a tiny bit fixes the gallery display. I'm unable to reproduce it on a test site using the same Lovecraft theme. The Blog sticker for `disable-widget-block-editor` was turned on a month ago to try to fix it, but it hasn't helped.

In reviewing this hist

[2021-12-18 02:36] #58675 closed, assigned to jeyip

[2021-12-18 03:11] vindl opened #59371 "FSE Beta: periodically autosave entities in the Site Editor"
Core currently doesn't have drafts and autosaving in the Site Editor. Adding that will probably take a while, so we should look into some temporary measures that could make things better for WP.com.

@mtias proposed the following:

We should investigate ways to implement this and assess the UX consequences of this change.

[2021-12-18 03:12] vindl commented on #59371
Comment thread discussion p58i-bAv-p2#comment-52747

[2021-12-18 12:12] Gustavo-Hilario opened #59372 "Media & Text: Image size isn't changing according to the selected option"
### Quick summary

After adding the `Media & Text` block, we have an option to choose the image size, but that isn't working and doesn't make any difference to the image size users see on their pages.

### Steps to reproduce

1. Start by creating a new page on a simple site
2. Add the `Media & Text` block
3. Upload or select one of the images from your `Media Library`
4. Click on the image, and yo

[2021-12-18 13:41] carinapilar opened #59373 "Domain Management: Invisible Options Depending on Color Scheme"
### Quick summary

The domain options aren't visible depending on the color scheme you have on your WordPress.com account.

### Steps to reproduce

1. Access your account's settings: https://wordpress.com/me/account
2. Change the color scheme to the Nightfall option
3. Check the Domains page of site with a domain/mapping upgrade
4. Click on the 3-dots icon to see the domain options

### What you e

[2021-12-18 17:53] ChrissiePollock opened #59375 "Request for Tag Cloud Widget -- Larger Font, Tags Label, and Framed Boxes"
### What

A customer finds our new Tag Cloud block for the widget area to be very hard to read.

### Why

This will make it look like the former widget.

![Screen Shot 2021-12-18 at 8 53 50 AM](https://user-images.githubusercontent.com/2545184/146651010-3c1f7113-fd28-411a-8b67-98dcb53fdd78.png)

 The issue is from #4620964-zen.

### How

_No response_

[2021-12-18 18:17] AtrumGeost opened #59376 "Donations block "is-selected" class not grabbing the right color variable on Varia themes"
### Quick summary

When having a Varia theme active, the donations block won't provide visual feedback about the selected amount

### Steps to reproduce

1. Activate a Varia-child theme like Morden or Shawburn
2. Add a Donations block to a page or post
3. View the page
4. Notice selecting a donation amount doesn't provide any visual feedback

Notice the CSS code:

![Screen Shot on 2021-12-18 at 13

[2021-12-18 19:04] benchilcote commented on #58391
Reporting another case: #4622907-zen

User is attempting to republicize a post which is approximately 1 year old.  They are getting this error message:

"Something went wrong. Please don't be mad"

Also, I had the same feeling as @devNigel  - I think the error message could be improved.

[2021-12-18 19:23] carinapilar opened #59377 "Query Loop Block: Option to Exclude Content"
### What

It would be nice if the Query Block had an option to add a category or tag for posts you want to exclude.

### Why

This came up when working on an FSE exercise, if you create a custom blog page, and set up an area for featured posts with a Query Loop (using a featured tag), you might want to exclude posts from that tag on a list of posts below that featured area. This was something avai

[2021-12-18 19:26] carinapilar commented on #59363
Just noticed this when doing some FSE training. It's especially confusing because it's a regular Paragraph block on the editor, not something like a "Footer Credit" block as it happens with other FSE blocks.

[2021-12-18 21:23] carinapilar opened #59378 "Confusing Free For One Year Messaging"
### What

Improve the wording about _free domain on the first year_ at the checkout.

### Why

It's quite common to get users confused with the _Free For One Year_ messaging found in the checkout. Sometimes they reach out after making a payment saying they weren't expecting to pay now, but in a year, because it said the first year was free.

To see what I mean follow the steps below:

1. Go to one

[2021-12-18 21:56] simison opened #59379 "[Bug]: Navigation: unread comments indicator broken hover state"
### Quick summary

In the wp-admin version of unified navigation, unread comments bubble looks broken when hovering it:

<img width="168" alt="Screenshot 2021-12-18 at 23 54 23" src="https://user-images.githubusercontent.com/87168/146656445-3a5eef61-dcb8-4cda-9263-0034b00c87f9.png">

<img width="166" alt="image" src="https://user-images.githubusercontent.com/87168/146656452-2b8b0925-8593-4bce-b648

[2021-12-18 22:51] RealCarFax opened #59381 "WhatsApp Button Block missing +357 country code"
### Quick summary

_No response_

### Steps to reproduce

After inserting the WhatsApp button block into a page or a post, open up the settings in the right panel. There you will see fields for Phone Number. The first field helps you select a country code - if you search through this list you will see that the country code +357 for Cyprus is missing.

### What you expected to happen

The country c

[2021-12-18 22:59] simison opened #59382 "[Bug]: Page template picker: doesn't scroll to up when changing categories"
### Quick summary

Page template picker doesn't scroll up when changing categories.

https://user-images.githubusercontent.com/87168/146657671-28c231ee-6524-4c0b-b604-2da62d5030a5.mov

### Steps to reproduce

- Create a new page
- See page template picker
- Scroll down in one category
- Pick another category
- Stays scrolled down in new category

### What you expected to happen

Jump up.

### What

[2021-12-18 23:06] simison opened #59383 "Feature Request: combine "about" and "link in bio" categories"
### What

While we don't have that many link-in-bio and about page templates, we could consider combining these into one "about" category.

Alternatively, we could surface link-in-bio also in about but that seems excessive? One of the templates already shows up in both.

<img width="1930" alt="Screenshot 2021-12-19 at 01 01 01" src="https://user-images.githubusercontent.com/87168/146657786-7986b18

[2021-12-18 23:44] simison opened #59384 "Feature Request: allow resetting the site"
### What

Add a feature that allows you to "clear all you've done" for the site and reset it to the state where it was when we created it.

### Why

Sites with paid Activity log feature can revert to any point, but we could offer a simplified version for everyone which allows returning to the starting point.

Knowing you can easily "reset" the site can make it easier to try things out, and makes i

[2021-12-18 23:45] kuropixel opened #59385 "Italian localization issue verb conjugation for blog subscribe emails"
### Quick summary

Subscribe to a blog on WordPress.com using the subscribe form. If the language is set to Italian, the email the user receives has a message with conjugation errors.

### Steps to reproduce

1. Subscribe to a site and have your WordPress.com account be set to Italian
2. After subscribing, you will receive a notice from WordPress.com with a message that has the conugation error.

[2021-12-18 23:47] simison opened #59386 "[Bug]: link in bio template shows up with white heading in Blank canvas theme"
### Quick summary

When adding "Antonio Miller" page template (or pattern), it shows up with a transparent heading in Blank canvas theme:

![image](https://user-images.githubusercontent.com/87168/146657837-f1b77c27-326b-4a8f-aafa-2d6c83c6fead.png)

### Steps to reproduce

- A site with blank canvas theme (non-blockbase version)
- Add new page
- From templates, pick "Antonio Miller"
- Note transpar

[2021-12-19 02:37] hacchism opened #59387 "Active tab color for Donation Block"
### Quick summary

On some themes(like Radcliffe 2, Independent Publisher 2), if you choose white as site background, an active tab for Donation Block gets invisible as both background and text color become white.

### Steps to reproduce

1. Activate Radcliffe 2 or Independent Publisher 2.
2. Create a new page and set up a Donation Block.
3. Go to `Customize > Color & Backgrounds` and make sure to

[2021-12-19 03:26] happychait commented on #53716
Another report in 33220585-hc and followed up in 4620193-zen

[2021-12-19 03:41] rw-ye opened #59388 "Event Countdown Block: Countdown not showing on iOS/Safari"
### Quick summary

The Event countdown block does not show a countdown when viewed from iOS/Safari

Asked HEs to test in Slack: p1639883276147800-slack-C03TY6J1A

### Steps to reproduce

1. Create a new page, or open an existing page.
2. Add the Event Countdown block to the page.
3. Publish page.
4. View page on an iOS device with Safari browser.
5. The numbers for the countdown timer are missing.

[2021-12-19 10:28] Nic-Sevic opened #59389 "Parity issue between wp-admin and calypso storage notice"
### Quick summary

The storage information given in calypso and wp-admin don't match
This is an issue for the user knowing the true amount of space they're using.

context: this came up in an AT req where the site

### Steps to reproduce

1. open a site that has exceeded the storage limit on their plan
2. see that calypso media gallery is displaying 100% used
3. see that wp-admin displays the true

[2021-12-19 14:40] dolgelukkig commented on #51540
33269903-hc suggested workaround.

[2021-12-19 15:19] nickpagz commented on #57339
Similar issue in 4624365-zd. Visibility settings are saved in widgets.php, but don't take effect on the live site. Changing the settings in the Customizer works as expected. In other other words, setting a visibility rule in widgets.php for a widget is saved but has not effect. Go into the customizer, and the rule is the same. Change the rule (to trigger a change), set it back to the same rule mad

[2021-12-19 15:56] nickpagz commented on #53743
Similar issue on #4624480-zen, though I didn't get an error. The block (any inactive block) moves from Inactive to the desired area, even after clicking on **Update**. However, refreshing the page shows the block reverting back to Inactive blocks.
I tried to replicate on a test site, same theme (retired - TheFour), and same legacy widgets, etc., but couldn't replicate. Logging here for posterity.

[2021-12-19 16:51] creativecoder commented on #58877
For the wp-admin part of this issue, D71950-code is ready for review.

[2021-12-19 17:53] jp-imagines opened #59390 "Scheduled post calendar missing has-events dot"
### Quick summary

When scheduling a post or page for later publishing, you're presented with a calendar dialog to select the post's publish date. If there are other posts scheduled to publish on a given day, a small "dot" is displayed beneath that date (displayed with the CSS class `has-events`).

If you schedule a post/page to publish on February 28/29th or March 1st, this dot doesn't appear. I

[2021-12-19 20:12] mxhassani commented on #55132
Similar case: 4624470-zd

[2021-12-19 20:49] ccwalburn commented on #58073
Hi @roo2
We have a report of this issue again where the Reblog button appears on the page when it is first loaded, but then disappears when the page is refreshed. Could you take a look to see if this is related to this issue/fix?

Reported here: 32937406-hc
Follow up: 4624525-zen

[2021-12-20 01:04] creativecoder opened #59391 "Site editor: add plugin info to options menu"
### What

In the post editor, we display plugin info about Gutenberg, ETK, etc, in the options menu (3 dots at the top right of the screen)

<img width="317" alt="image" src="https://user-images.githubusercontent.com/1699996/146697907-da39e081-b6dd-4e3b-b4f1-9c71d4c8f115.png">

Let's add this to the Site editor, as well.

### Why

As more users use the Site editor, and we continue to debug more is

[2021-12-20 03:16] southp commented on #50909
It looks like we need one fix and two decisions here:

* Fix: Bring back the slashed-out emphasis to the 1st year discount to /plans like we used to be.
* Decision 1: Do we want to update the wording so we cover both the 1st year discount and the saving done by subscribing annually?
* Decision 2: Do we want to do the same to LOHP and the other landing pages?

Does that sound correct?

If so, for t

[2021-12-20 03:35] southp commented on #54813
I think the easiest way moving forward for now is to keep the tooltip as it is and bring back the crossed-out price. What do you think, @DavidRothstein @niranjan-uma-shankar @paulbonahora ? If we agree, I'll start prioritizing it :)

[2021-12-20 04:52] vishnugopal commented on #38152
@jeroenpf Please include some docs of your discovery of the current logging here. 🙏🏽

[2021-12-20 06:32] jeroenpf commented on #38152
For now, we do not have proper error logging mechanisms that allow us to easily retrieve user-friendly errors. We do however log information about the imports and attachment downloads in Logstash and have a Grafana dashboard with some insights in the performance of imports:

- [Logstash import debugging](https://logstash.a8c.com/logstash/app/discover#/?_g=(refreshInterval:(display:Off,pause:!f,val

[2021-12-20 08:13] niranjan-uma-shankar commented on #50909
@donlair I see what you mean that the two % discounts could be confusing. What do you feel about calling out the actual monies saved with the annual plan instead of percentages. For example, can we say "You're saving INR 1920 by paying annually"? We could also drop this line altogether and go for the 20% bit as you suggested. I leave it to the P& pod to take a call on the copy.

Based on what we d

[2021-12-20 08:41] niranjan-uma-shankar commented on #59353
Thanks for the context @DavidRothstein, I understand this better.

I agree with you that the second option makes more sense, but if the first was a deliberate business decision, then I trust the decision.

For the first option, I am a bit confused why the pro-rata credits is more than the actual money paid because I thought that there's a 1:1 match between pro-rata credits and actual money paid. H

[2021-12-20 09:15] scruffian commented on #59396
This looks like an issue with the Editing Toolkit and corresponding features, not a themes issue, so I've moved it to wp-calypso.

[2021-12-20 09:20] cpapazoglou opened #59397 "Marketplace: advertise the discount on annual plans"
Users selecting an annual paid plugin subscription will also benefit from a discounted price. How can we advertise that discount?

|Monthly | Annually|
|-------|------|
|<img width="1199" alt="SS 2021-12-20 at 11 20 47" src="https://user-images.githubusercontent.com/12430020/146743462-0fbfa413-f49b-4d85-aa93-2e50b2cc1a55.png">|<img width="1191" alt="SS 2021-12-20 at 11 21 07" src="https://user-ima

[2021-12-20 09:25] cpapazoglou opened #59398 "Marketplace: revisit CTA wording "Pay and install""
Let's find alternatives to "Pay and install". BTW, this CTA:

- leads you to checkout to pay for the subscription
- installs & activates the plugin

![SS 2021-12-20 at 11 26 17](https://user-images.githubusercontent.com/12430020/146744217-51414c24-310e-4b62-a2e4-49c51d32d963.png)

Related convo: pdtkmj-2M-p2#comment-57

[2021-12-20 09:30] cpapazoglou commented on #59398
I was suggested to go with "Purchase and activate"

[2021-12-20 09:32] gavande1 opened #59399 "Marketplace: Add filter for marketplace products on MC pricing page"
### Details

We need to have a filter that will allow us to see marketplace product's price on mc page. See pdh6GB-a7-p2#comment-358 for more context.

![CleanShot 2022-02-21 at 14 09 37@2x](https://user-images.githubusercontent.com/12430020/154952869-c788b561-ea54-4bd5-ac3b-4279f67ba761.png)

the codebase is in the sandbox `missioncontrol` PCYsg-306-p2#troubleshooting-mc-issues-on-sandbox

[2021-12-20 09:54] niranjan-uma-shankar commented on #54813
+1 and I believe these are the scenarios here:

1. If user is subscribed to a monthly plan and is on the monthly plans tab OR user is subscribed to an annual plan and is on the annual plans tab, we'll show the crossed-out price with pro-rata credits applied.
2. What should we do when the user switches tabs? So, user subscribed to a monthly plan views the annual plans tab, can we show the pro-rated

[2021-12-20 09:57] paulbonahora commented on #50909
What if we showed "First year discount included" for the annual discount? In that way we:
- Show only one discount % (annual savings) and avoid confusion in that regard.
- Ensure consistency at checkout?
@DavidRothstein , @niranjan-uma-shankar , what do you think?

[2021-12-20 10:10] niranjan-uma-shankar commented on #50909
Just to clarify, are you proposing that in the UI below, we replace the "You're saving 39% ..." text with "First year discount included"?

<img width="257" alt="Screenshot 2021-12-17 at 3 01 44 PM" src="https://user-images.githubusercontent.com/1269602/146534938-8dff9014-f55e-484e-8c07-475e76718e36.png">

[2021-12-20 10:12] i11za commented on #58599
One more report in 33287867-hc

[2021-12-20 11:25] mtias commented on #59383
It could be combined in name "About & Link in Bio" or "About & Bio". I don't mind extra categories, though it seems reasonable they'd be one after the other in that case.

[2021-12-20 13:03] #59039 closed, assigned to bogiii

[2021-12-20 13:18] kspilarski opened #59405 "Add notice on plans that don't support code"
### What

Add warning or notice to upgrade when adding a code to a plan that does not support it.

### Why

To avoid confusion. User thought it's possible to add an iframe code on their non-Business plan, as they were able to add it in an HTML block and see the preview in the editor.

4626264-zen

### How

When adding a non-supported code to non-Business or eCommerce plans, add a notice to upgrade

[2021-12-20 13:28] gcsecsey commented on #59195
We don't need the following fields in Marketplace products responses:

- `banners`: We will show a banner video instead
- `requires`: Marketplace products are tested and working with WP.com
- `requires_php`: Marketplace products are tested and working with WP.com
- `tested`: Marketplace products are tested and working with WP.com

I've removed these fields from the issue description.

[2021-12-20 13:36] cpapazoglou opened #59406 "Marketplace: Banner video of paid plugins"
- [x] find a way to fetch featured video from the API OR use hard coded data
- [x] add banner video in API `marketplace/products`
- [x] render the video in Calypso

[2021-12-20 13:40] retrofox commented on #58226
should we close it?

[2021-12-20 13:48] cpapazoglou commented on #59292
Let's also show the price in top right instead of inside the table of sites.

[2021-12-20 14:02] andres-blanco opened #59407 "Videos UI: create new project to translate wpcommedia"
We need to implement translations for strings on wpcommedia.wordpress.com.

In order to do this we need to add a new script to fetch the course video strings from wpcommedia and add it to wpcom.pot, it seems straight forward, but please do tell me if there are any caveats to the process.

The script to modify is this opengrok: /bin/cron/i18n/newpot.sh

[2021-12-20 14:24] #51714 closed, assigned to nobody

[2021-12-20 14:50] andres-blanco opened #59412 "Videos UI: Reflect video order changes."
Allow the videos UI to immediately reflect any updates made to the data via the upcoming new management interface.

[This PR](https://github.com/Automattic/wp-calypso/issues/59407) was submitted but it didn't work as good as expected (you needed to reload the page). We should have a fix so that when the order changes are reflected as all the other changes.

[2021-12-20 14:55] WunderBart commented on #57605
It's done! 🚀

[2021-12-20 14:55] #57605 closed, assigned to WunderBart

[2021-12-20 14:57] andres-blanco commented on #59412
A description of what is needed to be done is here: https://github.com/Automattic/wp-calypso/pull/59328#issuecomment-996985554

[2021-12-20 14:57] andres-blanco commented on #59412
diff: D71972-code

[2021-12-20 15:07] jartes commented on #43183
Had another chat (33287846-hc) where the user is selling items that only require one-time payment, and wanted to change the email working from "subscription" to something more appropriate.

[2021-12-20 15:13] stephanethomas opened #59414 "[Bug]: Fix checkout which freezes when G Suite is removed from shopping cart"
### Quick summary

The following error is triggered in the checkout when G Suite is removed from the shopping cart by the backend - when the corresponding domain registration is removed by the user:

![image](https://user-images.githubusercontent.com/594356/146788136-2996edf5-e49f-49f5-80dd-3d90aacb592b.png)

### Steps to reproduce

1. Open the [`Domain Search` page](https://wordpress.com/domains/

[2021-12-20 15:16] stephanethomas commented on #59414
Well, actually it also happens for Professional Email:

![image](https://user-images.githubusercontent.com/594356/146789969-131858f5-d506-47ec-9125-393a453790fb.png)

[2021-12-20 15:26] andres-blanco opened #59415 "Videos UI: Configure translations to go through Weekly Hit."
Once https://github.com/Automattic/wp-calypso/issues/59407 is done we should add the project to the Weekly Hit.

[2021-12-20 15:28] andres-blanco opened #59416 "Videos UI: Enable fetching data from course management."
Currently the UI is still using hardcoded values. Once translations are done we should start fetching data from wpcommedia.wordpress.com

[2021-12-20 15:31] andres-blanco opened #59417 "Videos UI: Create documentation for course management."
Once everything is tied up together documentation should be written covering at least this topics:
 * Course management overview.
 * Course creation.
 * Course metadata.
 * Assigning and ordering videos to courses.
 * Video metadata.
 * I18n.

[2021-12-20 16:55] sirbrillig commented on #59414
I'm going to research this today but I wonder if it was related to https://github.com/Automattic/wp-calypso/pull/58834...

[2021-12-20 17:01] arinoch commented on #59405
See also: #56742

[2021-12-20 17:09] KirkwallDay commented on #58971
Another case at 32398606-hc

However, they did not have Google Site Kit installed, it was just Full Site Editing conflicting with Gutenberg.

[2021-12-20 17:29] sirbrillig commented on #59414
It was indeed caused by that change, because now the code that would redirect you back to the plans page when you have an empty cart will not trigger since there is an error in the `removeProductsFromCart` action:

https://github.com/Automattic/wp-calypso/blob/77238537a28244bfcf4bdd3c2be1380b11892ce4/client/my-sites/checkout/composite-checkout/hooks/use-remove-from-cart-and-redirect.ts#L53-L61

Ho

[2021-12-20 17:36] #59412 closed, assigned to andres-blanco

[2021-12-20 17:54] dcalhoun opened #59421 "Reader: Newly Followed Site displayed twice under /following/manage"
_This issue was found in a recent backlog sweep, and updated to only reflect 1 issue at a time.  2nd issue opened and linked in comments below._

### Quick summary

Following a site can sometimes result in the site's posts missing from the Reader posts list and the site displayed twice under "Manage" followed sites.

### Steps to reproduce

1. Log in to a WordPress.com account.
2. Visit the [_Mana

[2021-12-20 18:10] #59414 closed, assigned to sirbrillig

[2021-12-20 18:15] sirbrillig commented on #59414
Changing the errors to info messages is a little more complex so for now I'm just going to solve this by showing the empty cart page in case of an error.

[2021-12-20 18:35] CompChris commented on #50560
#31204048-hc - Same trouble

[2021-12-20 19:05] #58720 closed, assigned to worldomonation

[2021-12-20 19:30] #57567 closed, assigned to blackjackkent

[2021-12-20 21:07] autumnfjeld opened #59428 "Update calypso links to use primary domain, such that we don't link to unresolved newly registered domains"
## Description

Some TDL can take up to 30/40 minutes (tens of minutes) to register.   In Dec 2021, D71776-code addressed this issue by ensuring that we don't set a user's primary domein to their custom domain unti the DNS for that domain resolves.   See slack convo: p1639684065272700/1639671882.216800-slack-C029SB8JT8S

From @p-jackson  p1639686740275000/1639671882.216800-slack-C029SB8JT8S

As a

[2021-12-20 21:23] #48650 closed, assigned to michaeldcain

[2021-12-20 23:52] sirbrillig commented on #59414
To be clear, the problem with making the notice not an error has to do with how the shopping-cart endpoint works:

When you click to remove the domain, what actually happens is that the cart without the domain is submitted as a new cart to be updated; then when trying to add the G Suite product, it fails with the above mentioned error because the domain has been removed.

So the action of updating

[2021-12-21 00:48] happychait commented on #43919
Another report in 33297742-hc

Viewers can't really view the private Atomic sites.

[2021-12-21 01:09] worldomonation commented on #58367
Done in https://systemsrequests.wordpress.com/2021/12/14/discontinue-builds-on-wp-e2e-tests-canary-on-circleci/.

[2021-12-21 01:10] #58367 closed, assigned to nobody

[2021-12-21 01:38] bluefuton opened #59431 "[Bug]: Jetpack Search section is visually different to other Jetpack sections (e.g. Backup)"
### Quick summary

At https://wordpress.com/jetpack-search/, there is a Jetpack Search section that currently looks like this:
<img width="811" alt="Screen Shot 2021-12-17 at 17 21 53 17 24 57" src="https://user-images.githubusercontent.com/17325/146855776-5146ec94-eb47-4690-96f8-02a170e4cfaf.png">

It appears to be a styling regression, as it originally had the same fonts as the Activity Log and

[2021-12-21 05:43] jordesign commented on #49952
Closing this in favour of https://github.com/Automattic/wp-calypso/issues/32792

[2021-12-21 05:43] #49952 closed, assigned to nobody

[2021-12-21 05:43] jordesign commented on #59384
Closing this in favour of the existing open issue - https://github.com/Automattic/wp-calypso/issues/32792

[2021-12-21 05:43] #59384 closed, assigned to nobody

[2021-12-21 05:45] jordesign commented on #32792
Noting this is still a great idea :) Good news is that there is that we have HE-facing tools for both:
- Emptying Simple Sites
- Resetting Atomic sites

So the functionality is there - it's a matter of figuring out a design solution for making them user-facing.

[2021-12-21 06:41] inaikem opened #59434 "Cover block: Nested block font colour is always set to white in the editor but not accurately displayed on the frontend."
### Quick summary

When a Heading or Paragraph Block is nested inside a Cover Block, the font is shown as white in the editor. The same content shows as black when the post/page is viewed/previewed.

### Steps to reproduce

1. Add a Cover Block and add some media to it or set a background colour.
2. Add 2x Heading or Paragraph Blocks.
3. Set one to use the text colour of your choice and leave the

[2021-12-21 07:21] danielk-am opened #59435 "YouTube Embed Block - Aspect ratio reverts to original whenever Editor is loaded (after Updating)."
### Quick summary

After publishing a page with an embedded YouTube block (changed the class to display a custom aspect ratio), the block automatically reverts to the original class when the Editor is refreshed.

The front end will display the newly saved aspect ratio, only for the Editor to revert it to the original on the next autosave.

I have included a screen recording (1m35s) that demonstrat

[2021-12-21 08:01] cpapazoglou opened #59437 "Marketplace: Clicking exit (X) in checkout page redirects to the success page (thank you or install)"
Clicking exit (X) in checkout page redirects to the success page (thank you or install)

![SS 2021-12-21 at 10 02 48](https://user-images.githubusercontent.com/12430020/146893393-7d63760a-da67-4245-a1e1-048af19c3b10.gif)

[2021-12-21 08:15] kriskorn commented on #51121
This has been fixed in D71776-code.
More information can be found in p7DVsv-dpb-p2 and p7DVsv-dpb-p2#comment-38958.

[2021-12-21 08:15] #51121 closed, assigned to nobody

[2021-12-21 09:04] Robertght commented on #58535
@michaeldcain is this something the team can look into in the near future?

[2021-12-21 09:10] escapemanuele opened #59439 "Welcome Tour: Add custom CSS classes to tour steps for extra margin"
### Details

With [59450](https://github.com/Automattic/wp-calypso/pull/59450), we added in tour-kit CSS classes for each step:
- `tour-kit-step` as the default
- is-step-[Current step index]
- tour-kit-step__[Id of the step from the tour config]
- if the tour has a custom CSS class, then {Custom CSS class}__step
- optionally, the CSS class provided in the config for the step

We should now update

[2021-12-21 09:52] Agepeuve commented on #52520
Another case in 33288403-hc. We ended up switching to Coming Soon for now.

[2021-12-21 10:16] Nic-Sevic commented on #27481
This appears to still be happening on AT sites. I tested with both a site owner and a non-owner admin. No notice is given that a user is an upgrade owner and they are able to be removed by all other admins.

The plan does stay active but the previously mentioned management issues remain

[2021-12-21 10:29] Nic-Sevic commented on #3140
Another instance of this here: 33285431-hc

I couldn't duplicate on a test site but here another admin was able to change the site owner role and then delete them

[2021-12-21 11:13] jartes commented on #53595
Another report on 4626133-zen

Tested on that site with Safari Version 15.1 (17612.2.9.1.20).

This is the error that I'm getting (I've masked the site and file URLs):

[code]

[2021-12-21 11:21] zdenys commented on #59435
Originally reported in 4625074-zd-woothemes. If we fix it, we should let the user know about it.

[2021-12-21 11:27] gavande1 opened #59444 "Marketplace: Remove option will remove plugin from site while subscription being active"
### Details
When paid plugin is installed, if the user clicks on the remove button then the plugin will be removed from the user's site. This function appears to be working fine but it leaves the subscription dangling.

![](https://cloudup.com/cwI2UikF7JN+)

### Possible Solutions
- We should alert users that you will lose access to the plugin while the subscription is active and it will keep rene

[2021-12-21 11:36] cpapazoglou commented on #59444
This is the solution. The same should happen with "Autoupdates", since it's a managed plugin you can't control the autoupdates.

[2021-12-21 11:38] #59300 closed, assigned to cpapazoglou

[2021-12-21 11:39] rickmgithub opened #59445 "A showcase of theme patterns"
### What

When some users, probably ones with longer histories of WordPress, come through to us looking for a new theme, they are sometimes not convinced by the themes we show on the theme page now.

Many of the new ones look very simple. As one user said yesterday, "they all look office like".

With the old style pre-set themes with sliders, menus and columns already set up, there was some wow fa

[2021-12-21 11:39] #58995 closed, assigned to cpapazoglou

[2021-12-21 12:16] mmtr commented on #52630
I took a look at the trends of the `wpcom_site_launched` event over the last couple of years and it seems that it has not been affected by the lack of the progress bar introduced by the Nav Unification release.

Nav Unification was released in March 2021, and although the number of site launches we had in April and May was lower than in March, the monthly trend looks better and/or similar to the o

[2021-12-21 12:26] tyxla commented on #58965
I accidentally got to work on this one as a side task, so I'll be filing a PR.

[2021-12-21 12:30] tyxla commented on #58965
Addressed in #59447.

[2021-12-21 13:34] simison commented on #52630
Let's hold on with this; we need design team to look how we might do one-click entries to "my home" / "launchpad" / "help center" and progress bar like this should be part of the considerations.

[2021-12-21 13:36] simison commented on #52630
Thank you @mmtr for analysis. I wouldn't except movements in high-level metric like site launch, and UI choices like this mostly impact how confident people feel when navigating around our interfaces, and how clear our navigations are.

[2021-12-21 13:40] andres-blanco commented on #59407
Script to extract values implemented in D71983-code

[2021-12-21 13:59] andres-blanco commented on #59407
Modify `newpot.sh` to add strings to GlotPress: D72069-code

[2021-12-21 14:03] #59301 closed, assigned to kwight

[2021-12-21 14:36] #50631 closed, assigned to dsas

[2021-12-21 14:38] aleone89 commented on #59434
Just to add, I am also experiencing this issue and can replicate consistently as well.

[2021-12-21 14:52] mmtr commented on #49364
On my tests, that's not the case. As of https://github.com/Automattic/jetpack/pull/18586, the "Settings > Hosting Configuration" menu always shows up in Calypso, even when the `masterbar` module is disabled.

It's only missing in WP Admin, but when a user disables the `masterbar` module, I think they intentionally want the default Core navigation in WP Admin. That was the case at least before Nav

[2021-12-21 14:52] #49364 closed, assigned to nobody

[2021-12-21 15:02] jorpdesigns commented on #59388
Same issue in [33306032-HC](https://mc.a8c.com/support-stats/happychat/transcript.php?id=33306032)

[2021-12-21 15:58] #59302 closed, assigned to cpapazoglou

[2021-12-21 16:07] kspilarski opened #59452 "Add warning for domain transfer options to non-domain owner"
### What

1) If the user is not the domain owner, add warning on Domain Transfer page that only the owner can transfer, or don't allow "Continue" or "Get authorization code" buttons to be clicked.
2) Change wording on error message when non-domain owner wants to transfer to another registrar with "get authorization code".

### Why

To save time and avoid confusion.

### How

Domain Transfer page:

[2021-12-21 16:13] allilevine opened #59455 "Woo Installer: Change copy to include redirect language"
See p7DVsv-dp5-p2#comment-38967

On the Confirm step domain change warning, change "will no longer work" to "will redirect to your new subdomain example.wpcomstaging.com".

[2021-12-21 16:20] jorpdesigns opened #59456 "Gallery Block Doesn't Show Carousel When Added As Widget"
### Quick summary

When the Gallery block is added as a widget, the images don't show in a carousel.

The carousel shows if the block is added to a page. The images are set to link to a media file and carousel has been enabled in Media settings.

### Steps to reproduce

1. Navigate to Settings → Media and ensure the **Enable Carousel** box is checked.
2. Navigate to Appearance → Widgets and add th

[2021-12-21 17:11] Robertght commented on #57927
I'm going to close this for now due to inactivity, but please reopen if necessary.

[2021-12-21 17:11] #57927 closed, assigned to nobody

[2021-12-21 17:12] autumnfjeld commented on #59124
Thanks for following up with these @arthur791004 .

Looks better to me.

[2021-12-21 17:21] Robertght commented on #59366
@Automattic/pod-domains is this something you can take a look into?

[2021-12-21 17:23] Robertght commented on #59373
cc @delputnam

[2021-12-21 17:28] delputnam commented on #59366
I've added a task for us to handle this at some point. It's a low priority at the moment though.

[2021-12-21 17:29] rcrdortiz commented on #50847
I've checked that both Calypso and wp-admin are using the same tracking event names when dealing with JITM nudges.

[2021-12-21 17:34] Robertght commented on #59385
cc @Automattic/i18n if we can get a second look on it.

[2021-12-21 17:52] Robertght commented on #59370
I cannot replicate this on my end. I also tried on the website above and there's no difference on my end.

I'm wondering if this is dependent on the device's OS and/or the browser. (I have used Chrome 96 with macOS Monterey)

[2021-12-21 17:59] arcangelini commented on #57415
Change ready in Jetpack waiting on review Automattic/jetpack#22094
Also ready on WPCOM for simple sites ready to review D72102-code

I will close this when both are deployed : )

[2021-12-21 18:35] sirbrillig opened #59464 "Shopping cart errors are re-shown on every page until the cart changes or page reloads"
If you do something that causes a shopping-cart error, that error is saved in the shopping-cart manager for that site, and then the error is displayed by the `CalypsoShoppingCartProvider` on any page that mounts it. However, if you close the error message and then navigate to another page inside calypso which mounts a `CalypsoShoppingCartProvider`, it sees the error and displays it again, and so o

[2021-12-21 18:50] sirbrillig commented on #59464
This probably doesn't happen very often and there's an easy workaround (reload) so it's not a high priority.

One solution might be to remove errors from the cached shopping cart response after they are displayed. We could add a new action to the shopping cart manager called something like `clearMessages`.

[2021-12-21 19:31] #59455 closed, assigned to DustyReagan

[2021-12-21 19:45] thebud15 opened #59469 "Unable to double click to select text in FSE"
### Quick summary

When trying to double click a word or highlight text using my mouse, I was unable to do so within the FSE (tested on themes Quadrat White and Geologist Cream)

### Steps to reproduce

1. Activate FSE and a FSE-first theme (such as Quadrat or Geologist)
2. Add written content to a new page or post.
3. Try to highlight words by double clicking or dragging your mouse across this te

[2021-12-21 19:51] thebud15 commented on #58845
I encountered a similar issue when testing this.

I first activated Geologist and was met with a "The block has encountered an error and cannot be previewed" message in place of a Post Title block. I removed and re-added this block successfully.

Once I changed themes again to the FSE-first theme Quadrant, the error re-appeared.

Here's how that looked:
<img width="1636" alt="Screen Shot on 2021-1

[2021-12-21 20:26] allilevine commented on #58385
Closed by https://github.com/Automattic/wp-calypso/pull/59274

[2021-12-21 20:26] #58385 closed, assigned to allilevine

[2021-12-21 21:59] cometgrrl commented on #59174
@annemirasol Looks like this might be a P2 bug, do you want us to move it over?

[2021-12-22 00:28] Greatdane commented on #59372
Reproduced. As noted, changing the image size does seem to affect the quality/resolution of the image, but not the actual size.

[2021-12-22 00:31] Greatdane commented on #59375
The new tag cloud block looks/behaves differently compared to the old tag cloud widget.

[2021-12-22 00:47] p-jackson commented on #57260
Fixed by D71479-code

[2021-12-22 00:47] #57260 closed, assigned to roo2

[2021-12-22 01:08] Greatdane commented on #59390
Confirmed on Simple, Atomic **and** self-hosted sites.

[2021-12-22 01:22] Greatdane commented on #59445
Anecdotally, it also feels like some of the older theme demo sites had more content on them compared to the newer themes.

For example;
1C2ZN-p2
PdqK6C-6-p2

[2021-12-22 01:50] openfist commented on #57449
This issue has returned 33312461-hc. Can we reopen this case?

[2021-12-22 03:33] p-jackson opened #59477 "[Bug]: Paxon theme info page links to the wrong demo site"
### Quick summary

Paxton theme info page has the wrong demo site link

<img width="1553" alt="Screenshot 2021-12-22 at 4 05 59 PM" src="https://user-images.githubusercontent.com/1500769/147030895-9026eb7e-71fb-4a93-ad5c-13892091aaa5.png">

This is probably driven by the fact that the Theme API is returning the wrong `demo_uri` for Paxton.

### Steps to reproduce

1. Visit Paxton theme info at `/t

[2021-12-22 05:35] hacchism commented on #53626
4628432-zen (Simple site)

[2021-12-22 05:41] lsl opened #59478 "Analytics for the install flow / steps / user actions"
Add or improve tracks events for each step / action in the new installer flow.

- [x] Confirm click is provided by `submitSignupStep` usage [via this event](https://github.com/Automattic/wp-calypso/blob/90de6e7a658d438677bf81571f0ff30b21fc3e4c/client/state/signup/progress/actions.js#L71).
- [x] [Transfer](https://github.com/Automattic/wp-calypso/blob/57a61c13796924c35e41da868df1edd395e4ec4f/client

[2021-12-22 05:42] rambogenius opened #59479 "Add Seach feature in Activity Log"
### What

User in chat hc-33300647 came and wanted to search activity log for a particular user and suggested:
you need to keep a search filter at the top of the list.

### Why

To make it easier to search activities using search terms like username

### How

_No response_

[2021-12-22 05:42] ghost opened #59663 "Add Seach feature in Activity Log"
### What

User in chat 33300647-hc came and wanted to search activity log for a particular user and suggested:
you need to keep a search filter at the top of the list.

### Why

To make it easier to search activities using search terms like username

### How

_No response_

[2021-12-22 05:52] ghost opened #59480 "Upgrade success message shows price of plan not the amount user paid"
### Quick summary

User had WordPress.com Business plan and they paid to upgrade to eCommerce plan and were confused when they saw this:
![image](https://user-images.githubusercontent.com/25743084/147042055-aea366cf-6c7c-49d7-97a3-d3bc5e0809c6.png)

They paid us 3,467.00 Kr to upgrade. The pro rated credits from WordPress.com Business plan were adjusted here. But the success message shows them the

[2021-12-22 06:21] lsl opened #59481 "Investigation: Save woo onbarding answers to the site post install"
Initial idea is to thread the site options to both the transfer and install endpoints and save them against the site post transfer.

There is also talk of creating a new Woo endpoint to formalize this onboarding data https://github.com/Automattic/wc-calypso-bridge/issues/769#issuecomment-992052733. We would then need to call this on the backend as users won't have auth cookies by the time we want

[2021-12-22 06:28] lsl opened #59482 "Woo Installer: Set step / flow lastmodified date"
- [ ] Update [lastModified](https://github.com/Automattic/wp-calypso/blob/0fddb301aa1dbaddbc9431586d4fbd20161347bd/client/signup/config/flows-pure.js#L422) to the release date (2021-12-21) - this is just to help provide an audit trail, it may also show up in tracks (but I'm not sure)

[2021-12-22 06:30] lsl opened #59483 "Woo Installer: Add e2e test flows for the installer"
We need to add e2e tests covering the new installation flows.

- [x] Using playwright
- [ ] ~Free > Confirm > Checkout > Transfer > Redirect to Woo~ See note [below](https://github.com/Automattic/wp-calypso/issues/59483#issuecomment-1026342356).
- [ ] ~Business (simple) > Confirm > Transfer > Redirect to Woo~ See note [below](https://github.com/Automattic/wp-calypso/issues/59483#issuecomment-10263

[2021-12-22 06:35] Robertght opened #59484 "Subscription Form block: Success message text does not update"
### Quick summary

I noticed the Subscription form block success message does not update on WordPress.com websites.

Self-hosted websites are not affected.

cc @jeherve for a second look

### Steps to reproduce

1. Add a Subscription form block on the homepage
2. Change the Success message text from the sidebar
3. Check if the message shows up in the frontend after adding an email addres

### What

[2021-12-22 06:35] lsl opened #59485 "Investigation: Iterate on woop confirm step CTA text"
"Sounds Good" for something potentially destructive isn't great copy. We should aim to make the copy more serious at least e.g. "Confirm". Another option is to make it more dynamic to account for the warnings in play. "Change Domain & Install", "Upgrade & Install".

<img width="1148" alt="image" src="https://user-images.githubusercontent.com/1398304/149399970-62193716-302c-4412-b6bd-ea881a7be2ab.p

[2021-12-22 06:47] kosiew commented on #59390
#4600509-zen experienced the same too

[2021-12-22 07:02] #55485 closed, assigned to nobody

[2021-12-22 08:15] #58965 closed, assigned to tyxla

[2021-12-22 09:41] mmtr commented on #54422
As noted in p7DVsv-dqj-p2, we shipped the changes to hide retired themes from WP Admin and make them impossible to activate. As usual, HEs will still be able to activate retired themes via Blog RC. Sites marked with the test blog sticker a8c-test-blog will also be able to see and activate retired themes.

If for any reason the HEs workload is drastically affected by these changes, we can revisit t

[2021-12-22 09:41] #54422 closed, assigned to mmtr

[2021-12-22 10:52] simison opened #59487 "[Enhancement]: Video URL copy paste turns into shortcode, not video block"
### Quick summary

Uploading a video to your site and copy-pasting its url into editor shows up as video _shortcode_ like it's 2017. Let's turn it into a video block instead.

### Steps to reproduce

1. Upload video
2. Copy its URL, e.g. `https://videos.files.wordpress.com/NSYwpKYu/screen-recording-2020-03-03-at-18.30.22.mov`
3. Copy-paste the URL into editor
4. Get an embed block with shortcode:

[2021-12-22 10:57] niranjan-uma-shankar commented on #59349
Fixed with https://github.com/Automattic/wp-calypso/pull/59403

[2021-12-22 10:57] #59349 closed, assigned to nobody

[2021-12-22 11:55] jorpdesigns opened #59490 "Can't disable "Read More" link in the Blog Posts block when using the Barnsbury theme."
### Quick summary

When using the Barnsbury theme, the Blog Posts block shows the "Read More" link when this setting has been disabled.

The link doesn't show in the Editor but you can see it in the front end.

### Steps to reproduce

1. Activate the Barnsbury theme.
2. Ensure you have a couple of posts added with minimum 50 words (to trigger "Read More" link).
3. Add a Blog Posts block and disabl

[2021-12-22 12:06] cpapazoglou commented on #59437
:wave: @sirbrillig! We are experiencing a problem with the `redirect_to` parameter in checkout. We have used it so that users are redirected to specific pages **after a subscription is paid with success.**

The problem is that is also used for when user exits the checkout here
https://github.com/Automattic/wp-calypso/blob/ff92f590e6b06d47e56c312c1ba2f723b03dae51/client/my-sites/checkout/composite-

[2021-12-22 12:17] cpapazoglou commented on #59437
I created a PR so that we can test any regressions.
https://github.com/Automattic/wp-calypso/pull/59491

[2021-12-22 12:28] poojashetty18 commented on #55815
Another report on 4631228-zen

[2021-12-22 12:38] #59415 closed, assigned to nobody

[2021-12-22 12:39] andres-blanco commented on #59407
This is mostly done, waiting for confirmation to close the issue. Relevant slack thread: p1639754484172000-slack-C02AED43D

[2021-12-22 12:55] mmtr commented on #52368
@dsas I guess it refers to support Atomic sites without any paid plan (something that we're preventing after our work on the Atomic Downgrade pod, but we still have a large backlog of Atomic sites without a plan).

In theory, JITMs should just work for those sites, but we may have an edge case there.

[2021-12-22 13:00] Robertght commented on #47109
I can't seem to replicate this anymore, but I'm wondering if someone from the @Automattic/shilling team can review this.

[2021-12-22 13:04] fresatomica opened #59494 "Uppercase button doesn't work on simple sites."
### Quick summary

When formatting text in any block, the uppercase button does not work. You can see the CSS class in the inspector, but the text appears in lowercase.

### Steps to reproduce

1. Create a post and add some text.
2. Highlight the text and from the block toolbar choose the option "Uppercase".
3. Preview or publish the site.

### What you expected to happen

The selected text should

[2021-12-22 13:17] emmnyc85 commented on #59232
Are we able to collect email addresses from customers who are interested and then upsell them once this is ready? @cpapazoglou

[2021-12-22 13:23] retrofox commented on #59481
I'm researching the site options/settings approach.

[2021-12-22 13:27] Robertght commented on #48597
I cannot replicate this anymore, so I'll close it, but please reopen it if other cases arise.

[2021-12-22 13:27] #48597 closed, assigned to nobody

[2021-12-22 13:37] Robertght commented on #59370
Yes, I tried to "break it" a few times, but I had no luck:

https://user-images.githubusercontent.com/6737345/147101128-6a54c128-0724-475b-9db9-3b6fb55b1a04.mov

[2021-12-22 13:38] mrfoxtalbot opened #59496 "Converting a old Gallery block to individual Image blocks does not work"
### Quick summary

If you have a **Gallery block** that was created with versions of Gunteberg older than 12.1.0 and try to convert it to individual Image blocks, it will not work.

Instead of creating multiple Image blocks, one per image in the gallery, it will replace the entire gallery with a single empty block, as seen below:

![Kapture 2021-12-22 at 14 16 45](https://user-images.githubusercon

[2021-12-22 13:49] cpapazoglou commented on #59232
Good idea @emmnyc85!

We can add a tracking event and collect UserIds which we can later use to target and show an announcement modal or extract and find their emails for email campaigns.

[2021-12-22 13:52] emmnyc85 commented on #59232
Can we say the following and add a check box so we have permission?

[2021-12-22 13:55] andres-blanco commented on #59407
Added linguine ingredient: D72152-code

[2021-12-22 13:56] andres-blanco commented on #59407
Translate strings fetched from wpcommedia: D72150-code

[2021-12-22 13:57] Robertght commented on #59496
This was discussed briefly here: p1640179670059400-slack-C01UW7SB411 however, I wasn't able to replicate this.

PInging @glendaviesnz for a second look. Does this appear to be familiar with the new gallery/old gallery compatibility?

[2021-12-22 14:05] #49205 closed, assigned to mmtr

[2021-12-22 14:42] dsas commented on #52368
I've just double checked and they do already work @mmtr. They should work in theory too - as part of Atomic Downgrades we added a JITM!

I'll close this issue now then.

[2021-12-22 14:42] #52368 closed, assigned to dsas

[2021-12-22 16:01] kathrynwp commented on #59377
Totally agree that this is much-needed and useful option that users will want. Came across the same common use case during testing with @jp-imagines

The Blog Posts block is currently "smart" enough to automatically exclude posts already displayed on the same page via blocks like Posts Carousel (to avoid repetition), but having **manual** control over this in the Query Loop block as Carina suggest

[2021-12-22 16:18] sirbrillig commented on #47109
I'm happy to let this be closed for the time being. I've never been able to reproduce it either, so presumably it's an edge case. We can reopen it if we find a reproduceable case.

[2021-12-22 16:18] #47109 closed

[2021-12-22 16:46] NoHopeRadio commented on #59388
Another report in 23591328-hc

[2021-12-22 17:25] fullofcaffeine commented on #59496
I'm not able to replicate, either 🤔 . Here's a screencast of my attempt to reproduce:

https://user-images.githubusercontent.com/81248/147131624-079ee9e6-7ac1-4713-9d1c-3466f95a57e9.mp4

[2021-12-22 17:58] fullofcaffeine commented on #59496
Thanks for the additional details, Alvaro!

Do you happen  know what version? I did try creating the gallery in 11.9.1, as you can see in the screencast above.

[2021-12-22 18:33] carinapilar opened #59501 "FSE Beta: Upgrade Nudge on Cover Blocks Breaks Layout in Site Editor"
### Quick summary

There's an upgrade nudge on Cover blocks shown only in the Site Editor.

### Steps to reproduce

1. Use a test site on a Free plan
2. Activate a theme and choose to have the homepage set with its content
3. Open the Site Editor

### What you expected to happen

To see in the editor the content as it shows on the live site.

### What actually happened

It shows an upgrade nudge o

[2021-12-22 18:37] carinapilar opened #59502 "FSE Beta: Missing Code Editor"
### What

There's no Code Editor in the Site Editor.

### Why

When trying to check why a block was working and another same one was broken, I went straight to the 3-dots icon to check the Code Editor, but it's not there.

[2021-12-22 18:41] Joshgrygiel commented on #36197
Another here: 33323382-hc

[2021-12-22 18:47] delputnam commented on #59373
We (Nomado) have a task to address this.

[2021-12-22 18:47] carinapilar opened #59503 "FSE Beta: Footer Template/Area Isn't Full Width"
### Quick summary

It doesn't seem the Footer Template/Area can be set as Full Width.

### Steps to reproduce

1. Open the Site Editor
2. Click on the Footer area/template (it won't offer any settings)
3. Select the Group block inside the Footer area/template
4. Set a color background on that Group block
5. On its Layout setting, set it as 100% wide

### What you expected to happen

To get a Full

[2021-12-22 18:51] #59496 closed, assigned to nobody

[2021-12-22 20:02] jordesign opened #59504 "Baskerville 2: Grey background color added to Horizontal Rules"
### Quick summary

The CSS for Baskerville 2 now seems to add a grey background color to HRs. This is effecting other elements/ blocks like the CoBlocks 'Dynamic HR' block.

### Steps to reproduce

1. Activate Baskerville 2 theme.
2. Create a page/post with a 'Dynamic HR' block. Confirm it appears with no background in the editor
![Uploading Screen Shot 2021-12-23 at 6.50.07 am.png…]()

### What y

[2021-12-22 20:05] ariel-maidana commented on #50574
Another user reported. They had the price set to $0: 3003423-hc

[2021-12-22 21:11] jsnmoon commented on #59336
I can confirm that the instant search toggle is incorrectly disabled post-transfer; it seems like the transfer job did not correctly migrate the `instant_search_enabled` site option.

I was able to re-enable it in the performance settings page on my first try, however.

[2021-12-22 21:27] michaeldcain commented on #59477
This should be fixed now. Lots of discussion in the following:

- p1633446049102100-slack-C9EJ7KSGH
- p1640193676083500-slack-C02JQ08G0

[2021-12-22 21:27] #59477 closed, assigned to nobody

[2021-12-22 21:34] DavidRothstein commented on #59353
Pro-rated credits are based on the "value" of what the user owns, not on what they paid.  Imagine you bought a car for a really low price and then go to trade it in for a newer car later -- you'd probably be mad if the dealer said "your old car is worth $15000 to me, but I know you paid less for it originally so because of that I'm offering you less money on the trade-in".

The flash sale you link

[2021-12-22 21:37] DavidRothstein commented on #54813
There was concern about it before, at least (see last bullet point of https://github.com/Automattic/wp-calypso/pull/49884#issuecomment-778190295).

[2021-12-22 21:43] glendaviesnz commented on #59496
@mrfoxtalbot looking at your screen recording it looks like for some reason the gallery has not been automatically updated to v2 as there is an `Update` option in the block toolbar:

<img width="695" alt="Screen Shot 2021-12-23 at 10 30 41 AM" src="https://user-images.githubusercontent.com/3629020/147157982-39ec0cd0-a978-49b8-a882-792622687dcd.png">

It looks like there was an issue with transform

[2021-12-22 21:46] DavidRothstein commented on #59278
I think this is partially (maybe not entirely) covered by https://github.com/Automattic/wp-calypso/issues/53256?

[2021-12-22 22:16] #58331 closed, assigned to retrofox

[2021-12-22 22:17] #58226 closed, assigned to nobody

[2021-12-22 22:18] lsl commented on #58226
I think we ended up with something like this anyway for UI effects but we don't require it anymore.

[2021-12-22 22:28] #59285 closed, assigned to nobody

[2021-12-22 22:45] csmcneill opened #59508 "Block themes may be incompatible with WooCommerce Bookings's calendar"
### Quick summary

When a Block theme is used in conjunction with [WooCommerce Bookings](https://woocommerce.com/products/woocommerce-bookings/?aff=10486&cid=1131038), the calendar is not displayed.

### Steps to reproduce

1. Install Arbutus
2. Install Bookings
3. Create a Bookable product
4. Access the product from the front-end
5. The calendar does not appear as expected
6. Change the theme to

[2021-12-22 22:57] hacchism commented on #59508
**Additional Info:**

The user(mentioned in the Context section above) tried Twenty Twenty-One and Alves too. The issue couldn't be replicated with these two themes though they are also block-based themes.

[2021-12-22 23:08] cometgrrl commented on #59445
FYI: @ianstewart / @simison

[2021-12-22 23:15] cometgrrl commented on #59372
This appears to me to be the same as [Automattic/jetpack#21887](https://github.com/Automattic/jetpack/issues/21887).  I will move this to cross-repro tracking.

All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the outside repository.

[2021-12-22 23:47] lsl commented on #57423
Looks like you've got some of this started in https://github.com/Automattic/wp-calypso/pull/59505

[2021-12-23 00:08] Greatdane commented on #59479
Moving this to Jetpack repo for visibility.

[2021-12-23 00:20] Greatdane commented on #59469
I am unable to reproduce this. I seem to get the same functionality on FSE or non FSE sites.

@thebud15 Have you tried a different test site and it happens on all? Any other blocks present or embedded? Also using the same browser and OS as you.

[2021-12-23 00:39] jordesign opened #59513 "WSOD for Blockbase themes on Atomic sites"
### Quick summary

With any Blockbase theme active on an Atomic Site - no content loads on any pages. Just a blank white page.

### Steps to reproduce

1. Activate a Blockbase child theme (Russell etc) on an Atomic Site
2. View site

### What you expected to happen

Site to load with the theme active

### What actually happened

White screen is displayed

### Context

Customer report: 33311940-hc

[2021-12-23 00:50] annbingle commented on #59513
Got this issue here in 33326436-hc The site loads just fine on Twenty Twenty One but not on Blockbase.

[2021-12-23 01:01] pauloeaquino commented on #59513
Encountered in 32804082-hc

[2021-12-23 01:25] brittanygray902 commented on #59469
I was able to replicate this when using the them Blockbase.

Site Plan: Business
Initially I deactivated all plugins (except Gutenberg) and the issue continued to persist.

I was going on to my site to see if I can replicate and show you but now I am seeing this, when trying to enter FSE:
https://d.pr/v/LcOTa4

Essentially, what I am seeing now is that it will not even load for me.

@thebud15  May

[2021-12-23 03:42] lsl opened #59515 "Woo Installer: Premium plans with mapped domains are not prompted for plan upgrade"
Premium plan sites with mapped domains are treated as though they're able to be auto transferred instead of prompting for business upgrade.

https://user-images.githubusercontent.com/811776/147185569-3f6ad4d9-278c-4447-ad7b-606fa6c92d17.mp4

The above is caused by the way we're [filtering out](https://github.com/Automattic/wp-calypso/blob/1a7ef02d12b750ec6f1bdab83a96271c693f39d3/client/signup/step

[2021-12-23 03:44] lsl opened #59516 "Woo Landing page selected site not tracking changes to selected site"
You can get in a situation where the landing page sends you to the wrong installer flow if you switch sites before clicking on the CTA.

Update: the original issue referenced here is no longer happening but we do seem to have a similar issue that needs resolving: https://github.com/Automattic/wp-calypso/issues/59516#issuecomment-1018928262

[2021-12-23 03:45] lsl commented on #59515
p1640223795136500-slack-C03TY6J1A @essleeung

[2021-12-23 04:43] essleeung commented on #59515
Another user in chat had the same behaviour - 21908068-hc

[2021-12-23 05:39] jordesign commented on #59513
This has been resolved with a revert of GB 12.2.2

[2021-12-23 05:39] #59513 closed, assigned to nobody

[2021-12-23 06:43] arthur791004 commented on #59229
This should also apply to the top-right button when the user previews the theme.

Can the user pay for the theme rather than upgrade the plan? I'm not familiar with this part but I think the flow might be different. If we allow the user to pay for a theme, we should let the user go to next step (complete the Hero Flow) after checkout. However, if we request the user to upgrade the plan, I think it

[2021-12-23 07:11] rinazrina commented on #36795
Got another report here: 4628601-zd-woothemes
They'd like quick access to edit a page.

[2021-12-23 07:19] lsl commented on #59515
I've deployed D72103-code to remove the menu option.

While testing my fix #59517 I noticed a secondary issue with premium sites after upgrading to business. The transfer starts and completes but the software status endpoint never issues `applied: true`. Since we're missing the same [process timeout](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/woocommerce-install/transf

[2021-12-23 07:59] vishnugopal opened #59518 "E2E tests for the new Wix and Medium importer workflow"

[2021-12-23 09:09] lsl commented on #59515
Likely culprit is leveraging blog sticker caching to check plan level instead of looking at the plan level. Fine in most conditions, after a site upgrade - not so much.

p1640250185127800-slack-C029UPVMGTW

[2021-12-23 09:31] cpapazoglou opened #59519 "Breadcrumb: first item should always be black and not grey"
When "Plugins" is both the first and the last item it appears grey. First item should always be black

![image](https://user-images.githubusercontent.com/12430020/147220094-cff3f603-7766-4cb7-9bca-6ff4b95722dc.png)

[2021-12-23 09:41] DavidSaladu commented on #56923
This user 33160578-hc  would be interested as well.

[2021-12-23 09:45] zdenys opened #59520 "Detect non-external video URLs and convert them to Video Block"
### What

When pasting a URL of a video uploaded to the site, we should recognize that it’s not an external URL and generate a Video block instead of Shortcode Block.

### Why

Take these steps:

*   Upload a video to Media
*   Copy its full URL
*   Paste the URL into the new line on your page or post
*   You’ll see it turn into a shortcode URL

This way you get an older video player interface.

!

[2021-12-23 09:46] sharonlaker19 commented on #55283
A user came back to check on this at 4633070-zen

[2021-12-23 09:54] keoshi opened #59521 "[Bug]: Onboarding: Arial showing up instead of System Font"
### Quick summary

After going through the first steps of the Onboarding process, Arial is displayed in the domain selection screen instead of the system font.

![image](https://user-images.githubusercontent.com/390760/147221424-5999117c-c304-4e21-bfd1-366ba56e8d6b.png)

### More details

Note: this issue is likely to NOT show up on all browsers and configurations, and even affect different parts

[2021-12-23 10:20] keoshi opened #59522 "[Bug]: Onboarding: Navigating back after selecting theme resets the filter"
### Quick summary

When selecting a theme, we offer a category or theme-type filtering on the side. This makes it pretty easy to hone in on specific themes that are of interest to you.

However, when selecting category and a theme afterwards, the “Go Back” link sends me to the unfiltered view, making it extra hard to go back and forth between a larger preview and a filtered list of themes that fit

[2021-12-23 10:34] #59437 closed, assigned to cpapazoglou

[2021-12-23 10:34] keoshi opened #59523 "[Bug]: Onboarding: Themes order is random"
### Quick summary

When trying out different themes by going back and forth between the theme list and the larger previews, the themes order is reset and appears to be random.

This makes the UI behave in unpredictable ways, which is super frustrating if you're going through all themes and trying to keep track which ones you've already tried.

Related: https://github.com/Automattic/wp-calypso/issu

[2021-12-23 10:35] #57758 closed, assigned to cpapazoglou

[2021-12-23 10:35] #59292 closed, assigned to cpapazoglou

[2021-12-23 10:44] keoshi opened #59524 "[Bug]: Theme selection: replacing home page doesn't work"
### Quick summary

When changing themes, we give customers the option to replace their entire homepage with the sample content that each theme brings in.

In my testing, selecting this option didn't have any effect on the homepage's content nor was there a draft with my old homepage.

#### Video

https://user-images.githubusercontent.com/390760/147229170-8577b183-fc48-4207-9dc7-593f7ce25155.mov

#

[2021-12-23 11:07] mzitinfo commented on #57687
User in 4633341-ZD reported that the issue used to be solved for some time, but now it's occurring again. They're using the copy & paste workaround now.

[2021-12-23 11:12] zdenys opened #59526 "FSE: Update Global Styles Welcome Guide Docs URL"
Update: The link now works, but lets update it to point to dotcom docs - https://github.com/Automattic/wp-calypso/issues/59526#issuecomment-1180763386

### Quick summary

The `Learn more` screen of the Style Welcome Guide has the hyperlinked text `Here’s a detailed guide to learn how to make the most of it.` that points to https://wordpress.org/support/article/styles-overview/ That page loads "Oop

[2021-12-23 11:46] zdenys opened #59527 "FSE beta: Exporting templates doesn't work"
### Quick summary

Within Site Editor, the Export feature doesn't work and result in "Zip Export not supported" message.

### Steps to reproduce

1. Open Site Editor
2. Click three dots menu at top right
3. Click `Export`

### What you expected to happen

Be able to download the templates and their parts.

### What actually happened

"Zip Export not supported" message is displayed in lower left co

[2021-12-23 12:07] zdenys opened #59528 "FSE beta: Changing fonts in Customizer and previewing are inconsistent"
### Quick summary

Navigating to a different page in Customizer after saving fonts results in the old font in the Preview panel.

### Steps to reproduce

1. Go to My Site → Appearance → Customize → Fonts
2. Chose a different font for either Body or Heading
3. See the preview of the new font on the right side
4. Navigate to a different page of the site withing Preview on the right
5. Save changes
6

[2021-12-23 12:30] cpapazoglou commented on #57949
Let's replace the plugin only for future ecom subscriptions.

[2021-12-23 12:46] cpapazoglou commented on #58457
@vajrasar can you please help us with an optimum solution here? Can we use zendesk to forward issues to 3pd?

[2021-12-23 12:50] cpapazoglou commented on #58539
@SaxonF can you please chime in here?

[2021-12-23 13:00] cpapazoglou commented on #58942
We can add a key returned by the error and provide a more meaningful message to the user, suggesting that they can use WP Admin if they insist uploading it.

[2021-12-23 13:55] ccwalburn commented on #58073
I did some more testing on this and found the issue is not specific to the retired theme, Twenty Ten. I tested on Twenty Eleven, Twenty Sixteen, and Twenty Twenty-one, and can recreate the issue on all of them.

Steps to recreate the issue:

1. Enable the Reblog Sharing button
2. Create a post
3. View the post from the front-end.
4. Refresh the browser window several times

Sometimes the Reblog bu

[2021-12-23 14:05] #50847 closed, assigned to rcrdortiz

[2021-12-23 14:43] simison commented on #59523
Random order was on purpose but something has broken to stop order being remembered between sessions.

[2021-12-23 15:33] i11za opened #59537 "Posting Spaceless Text Results in Longer Excerpt/Preview Text and/or Disables "Read More" Link/Button"
### Quick summary

When spaceless text of any length is used in a post, post excerpts/preview text character limit is not respected, the entire post is displayed on the posts page, and no 'Read more' links or buttons are enabled in themes where this feature is available.

This applies to both new as well as edited posts. Adding spacing only in the first paragraph doesn't change this, seems like an

[2021-12-23 15:49] #59464 closed, assigned to sirbrillig

[2021-12-23 17:11] dlind1 commented on #59385
@kuropixel I'm having some trouble finding those strings, could you tell me what's the English text for the email? Having the exact steps to reproduce it would also be helpful. 🙂

[2021-12-23 18:09] #59515 closed, assigned to lsl

[2021-12-23 18:57] sstabrizi opened #59540 "Duotone: Overlay not showing as expected on the front end."
### Quick summary

Duotone is working properly when added to a cover block in the editor. However, when looking at the cover block on a live site duo tone is not applied at all.

### Steps to reproduce

1. Add Cover block.
2. Add Duotone of choice.
3. Update the page.
4. View the page live and see that Duotone isn't applied.

### What you expected to happen

Duotone settings should be the same on

[2021-12-23 20:04] cuemarie opened #59542 "Blockbase theme not saving color customization changes"
### Quick summary

On a site with Blockbase installed, changes made under Appearance > Customize > Colors are not preserved after moving away from the page or refreshing the customizer.

### Steps to reproduce

1. Open a site with Blockbase theme
2. Head to Appearance > Customize > Colors
3. Change primary and secondary colors
4. Save Changes
5. Refresh customizer

### What you expected to happen

[2021-12-23 20:56] KirkwallDay commented on #59542
This doesn't seem to replicate on simple sites, so this could be an Atomic only issue.

[2021-12-23 20:57] cuemarie commented on #59542
Agreed, just was returning to say this isn't present on my Simple site. Thanks @KirkwallDay !

[2021-12-23 22:04] cuemarie commented on #59542
Looks like this was solved with the redeployment of Gutenberg v12.2.0 on the Atomic platform. Discussed here: p1640295784107400/1640295514.106300-slack-CB0B2G43X

Closing now!

[2021-12-23 22:04] #59542 closed, assigned to nobody

[2021-12-24 02:45] goblinartificer commented on #58450
This has popped up a few times today (the persistent, unclosable messages), including 33338129-hc (in Edge) and 4635276-zen (on a Mac, collecting browser information now). Reopening!

[2021-12-24 06:12] Greatdane commented on #58450
User came back with the following device info;

[code]

[2021-12-24 09:27] zdenys commented on #56688
Another case where a Social Icons Block added as a widget on a Simple Site with WordPress.com Personal Plan has all but the first icon with unnecessary top padding:

![image](https://user-images.githubusercontent.com/39308239/147339854-e0ed68c4-09d5-4335-9137-3ceaa5285ec3.png)

Although in the backend icons look fine. But there is also no way to change the padding in the block settings and CSS is

[2021-12-24 10:17] gavande1 commented on #59195
Diff created at D72248-code

[2021-12-24 10:30] sharonlaker19 opened #59553 "Posts on this day - like Facebook memories"
### What

User sent an email asking for the ability to access the posts they created on the same day in the past - like Facebook memories in 4635585-zen

### Why

- They believe it's a good way to reblog and revive some of their old content and also resend it to their subscribers.
- They have been blogging for over 10 years so it's too time-consuming to look through all their content manually.

##

[2021-12-24 12:48] #59444 closed, assigned to cpapazoglou

[2021-12-24 12:48] #58654 closed, assigned to cpapazoglou

[2021-12-24 12:52] gavande1 commented on #58701
Diff created:  D72233-code

[2021-12-24 12:53] gavande1 commented on #58701
Deployed at r237280-wpcom

[2021-12-24 12:53] #58701 closed, assigned to JulianBustamante

[2021-12-24 16:59] cuemarie opened #59560 "Unable to permanently close "If you want to edit the gallery you just added in the mobile app, please make sure you use version 18.2 of the app or above, to avoid losing any data" messages"
### Quick summary

The new Gallery block displays the message "If you want to edit the gallery you just added in the mobile app, please make sure you use version 18.2 of the app or above, to avoid losing any data".

We've had a user report to us a few times that they're unable to close out of these error messages, after a week or so of hitting 'X' on all the posts where they appear.

![Markup on 2

[2021-12-24 17:00] cuemarie commented on #59560
This may be a single user issue, but I wanted to create a separate place to track it, as currently we're trying to track it in the comments of https://github.com/Automattic/wp-calypso/issues/58450 , and that's causing some confusion.

Wondering if anyone with Edge 96 + Win 10 recreate this issue?

[2021-12-24 17:02] cuemarie commented on #58450
Hi! I've created a separate issue to track any instances of an inability to close out of these messages here ⬆️

It seems that some users are reporting confusion around the messages in general, and even multiple messages appearing in a row.  That seems like good conversation for this thread.

Meanwhile, if anyone comes across an instance of a user not able to clear these messages out after several

[2021-12-24 17:07] cuemarie commented on #58450
4635276-zen has replied letting us know that the messages are no longer showing.

From what I can tell, the inability to close out of the messages still seems unique to the user in 33338129-hc (Edge), which we can track on the other report.

[2021-12-24 17:07] #58450 closed, assigned to nobody

[2021-12-25 02:36] formosattic opened #59561 "AMP, Related Posts: On AMP posts, have Related Posts with AMP links"
### What

Example post: https://wordpress.com/blog/2014/04/11/announcing-daily-post-makeover/amp
![image1](https://user-images.githubusercontent.com/15944096/147376181-71c34013-07fc-4548-a2df-b32d2a40a53d.png)

The Related Post links to non-AMP, post. Could it be converted to serve an AMP post?

I'm not sure if that's how AMP is suppose to work, or if there are limitations to it and how Related Po

[2021-12-25 08:40] formosattic opened #59562 "FSE Beta: Highlight - Color Picker looks broken"
### Quick summary

_No response_

### Steps to reproduce

1. Add a Headings or Paragraph block
2. Select Highlight option

### What you expected to happen

Have a clear cue of where to click to select a custom color.

### What actually happened

The color picker actually works the display looks strange, just a thin column.
![image1](https://user-images.githubusercontent.com/15944096/147380929-2a36

[2021-12-25 08:53] formosattic opened #59563 "FSE Beta: GIF block display"
### Quick summary

_No response_

### Steps to reproduce

1. Activate FSE Beta
2. Add a GIF block

### What you expected to happen

Expected view.

It should look similar to what happens on a .org (self-hosted site) with [FSE/WordPress.com Editing Toolkit plugin](https://wordpress.org/plugins/full-site-editing/)

![image2](https://user-images.githubusercontent.com/15944096/147381425-10227f8b-3cb9-

[2021-12-25 09:26] kuropixel commented on #59385
@dlind1
My apologies!

The message should be able to be reproduced by visiting https://ricciolidifuoco.com, scrolling down towards the bottom, and subscribing with an email. If the language is set to Italian, the phrases that were underlined in red should show up.

I happened to do it in English, so I attached the English phrasing.
<img width="614" alt="Screen Shot 2021-12-25 at 18 16 57" src="htt

[2021-12-25 14:05] zdenys opened #59564 "Editor: Link control modal partially hidden by List View if the browser window is narrow"
### Quick summary

Link control modal is partially hidden by List View if the browser window is narrow.

### Steps to reproduce

1. Open a page or post that has a hyperlink located towards the left side
![link01](https://user-images.githubusercontent.com/39308239/147386489-b3a538f2-371a-431f-95fc-f56d074324ef.png)
2. Click on the link to display the Link control modal
![link02](https://user-images

[2021-12-25 14:57] zdenys opened #59565 "FSE beta: Custom colors added in Styles > Colors > Palette disappear after clicking Done"
### Quick summary

Custom colors added to Styles > Colors > Palette disappear after clicking Done

### Steps to reproduce

- Open Site Editor
- Click Styles > Colors > Palettes
- Click + next to Custom section
- Add at least one color
- Click Done

### What you expected to happen

Colors added should stay

### What actually happened

Colors added disappear

https://user-images.githubusercontent.co

[2021-12-26 02:18] formosattic opened #59566 "InLine Color Picker behaves erratically, closes unexpectedly"
### Quick summary

Color picker can't be set manually, it works by pasting it but is erratic (see below notes)

Issue already reported in the Gutenberg repo, but posting here for reference and track reports:

* https://github.com/WordPress/gutenberg/issues/37628
* https://github.com/WordPress/gutenberg/issues/37018

### Steps to reproduce

1. Add text in Paragraph block
2. Use Highlight, then try

[2021-12-26 14:55] WBerredo opened #59567 "Plugins Browser: Fix plugins search pagination"
Currently the plugins search is the union of paid and free plugins, which is made in two different requests. The paid plugins results always prepends the free ones independent of which page. Given this behavior we need to address some points:

1. Should the paid results be fixed on the top? Ex: when we are on the second (third, etc) page we are still seeing the same paid plugins we saw on the firs

[2021-12-26 15:14] cuemarie commented on #53626
4638090-zd-woothemes
Directed to resave settings

[2021-12-26 15:50] cuemarie commented on #50306
Reported here: 4637726-zd-woothemes
Broke around 59-60 images. I was able to replicate the issue on their site.

They've started creating a second tiled gallery as a workaround

[2021-12-26 16:14] poeticabdul commented on #52209
Another report here: 4638679-zen

Suggested they clear their browser cache and if it persists try in Firefox or Safari browsers.

[2021-12-26 16:43] renata-franco commented on #52182
Here is one, with Chrome as well 33363337-hc

[2021-12-26 23:34] ccwalburn commented on #57339
Another report here: 4638925-zen
Customizer workaround didn't work

[2021-12-27 06:53] danielk-am opened #59568 "Customizer > Additional CSS -- Variables not saving in Premium."
### Quick summary

Customizer > Additional CSS -- Variables not saving in Premium.

Variables not saving for both root (global) and local (within classes) when saving on a Premium plan.

The above works on Atomic sites (tested on Business).

**Expected:** Screen recording (on a Business plan) [35s]:

https://user-images.githubusercontent.com/92185881/147443401-5e5916b2-29cf-4260-a59b-51c92189fc17.

[2021-12-27 08:25] cpapazoglou opened #59569 "Plugin Details: activate / deactivate plugin throws a console error"
![SS 2021-12-27 at 10 46 45](https://user-images.githubusercontent.com/12430020/147453602-cfc2d69e-7add-466a-8453-2fa02175ecec.gif)

[2021-12-27 08:42] retnonindya opened #59570 "FSE: Switching template on post/page to default template/template generated by the theme failed with error "Updating failed. Invalid parameter(s): template""
### Quick summary

Cc. @vinnykaur as the first responder

Switching post/page template from "Default theme" to any template created by the theme will render the error `Updating failed. Invalid parameter(s): template` and the post/page can't be updated.

### Steps to reproduce

1. Create a page or post.

2. Click the dropdown block on "Template" section. Choose the one that was created by default.

[2021-12-27 09:59] gavande1 opened #59571 "Plugin Details: Replace `author_link` with `author_profile` after adding missing fields in api endpoint"
### Details
With the issue https://github.com/Automattic/wp-calypso/issues/59195 being merged in, we need to change the properties on the frontend as well.

We need to replace followings on frontend:

`author_link` -> `author_profile`

[2021-12-27 10:51] liviopv commented on #59251
Also reported in 4633660-zen. Switching priority to "High" since it breaks the theme page for customers.

This did not work for me @nelsonec87. Which sidebar are you referring to?

[2021-12-27 14:33] #59569 closed, assigned to cpapazoglou

[2021-12-27 15:47] carladoria commented on #57711
Another report in [4638455-zen](4638455-zd-woothemes)

[2021-12-27 15:58] vinnykaur commented on #59570
When I tried with the Russell theme, creating a custom template worked from this link:

`YOURSITEADDRESS.WORDPRESS.COM/wp-admin/edit.php?post_type=wp_template`

But not from within the post.

Also, when I assign a custom template to a post, it shows the same error.

https://user-images.githubusercontent.com/49183855/147487930-d243ef2a-9a95-452a-96bc-033019735a16.mp4

[2021-12-27 16:10] JoshuaGoode commented on #59251
Seems related: https://github.com/Automattic/wp-calypso/pull/58973

@kwight

[2021-12-27 17:07] nagpai commented on #59570
I got this error today when I was trying out FSE (as a part of my training) on Blockbase theme

1. Create a page with default theme and publish it
2. Change the template to any others - I chose`Header and Footer only`
3. I see this error

![image](https://user-images.githubusercontent.com/4162931/147492405-791c43eb-ed5c-4b04-a441-fc19acea9223.png)

[2021-12-27 18:56] msilbers commented on #59251
also reported internally on pd4QKa-kC-p2 but I was unable to reproduce it at the time (Nov 16)

[2021-12-28 00:15] samvaidya commented on #50164
Another case reported here:  33316605-hc

Follow-up ticket:  4640753-zen

[2021-12-28 00:39] kelasante opened #59579 "Photos Theme: Unable To Scroll Down to Bottom of Dropdown Menu in Resized Browser Windows"
### Quick summary

On a site that has the Photos Theme with a drop-down menu with a lot of menu items (> 10), you are unable to scroll to the bottom of the menu if the browser window has been resized.

### Steps to reproduce

1. Activate the Photos theme on a site and create a drop-down menu that has more than 10 items. eg. https://colotestrodeo1345again.com/
2. Resize your browser window by reduc

[2021-12-28 02:10] Greatdane opened #59580 "FSE - Add revision history"
### What

FSE should have a revision history like pages and posts, so users can see what they have done, and can go back through revisions if they wish to revert to a previous state.

### Why

I recently checked my FSE test site and noticed the header and footer had somehow reverted, losing all my work. I found it extremely difficult to find out when (and why) this happened.

I realized activity l

[2021-12-28 03:59] hngdny commented on #59570
This is affecting a Simple Site (Premium) user with the Zoologist theme (FSE is not enabled) :

4640480-zd

1. Created a new blank page
2. Changed template to 'Blank'
3. Getting error `Updating failed. Invalid parameter(s): template`

I was able to replicate this on my test site (Zoologist, Premium plan)

[2021-12-28 04:55] supernovia commented on #59570
I'm seeing this on two simple sites, the one mentioned here:
https://wordpress.com/forums/topic/publishing-failed-invalid-parameters-template/

and on my test site. I tried enabling FSE on a test site to see if that would fix it. It didn't make a difference.

[2021-12-28 07:21] retnonindya opened #59581 "Full Site Editing/FSE: Creating New Template Issue"
### Quick summary

Creating a new template is quite tricky. There is a "Add New" button that somehow will only open the Front Page template (what if the user wants to create a completely new template?) -- and the button will go missing once the Front Page template is created -- and creating a new template from the page/post editor sidebar pops up an error.

### Steps to reproduce

There are two wa

[2021-12-28 07:31] nagpai commented on #51136
Maybe related to
https://github.com/Automattic/page-optimize/issues/59

[2021-12-28 08:01] hngdny commented on #55568
Another report here:

4641547-zen
32410459-hc

They will use the wp-admin workaround to view their comments for now.

[2021-12-28 08:23] formosattic commented on #59434
The dynamic colour change is also controlled by the Opacity set in the Cover block.
![troubleshooting](https://user-images.githubusercontent.com/15944096/147544521-58fbf07a-9382-46f8-ab16-b611b85d797e.gif)

From my testing the default color set renders is consistent:

| Editor  | Preview |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/147545051-33

[2021-12-28 08:40] formosattic commented on #59435
Thanks, I'm able to reproduce.

Updated the initial post with the a shortcode workaround, and notified the user.

[2021-12-28 08:58] formosattic commented on #59501
Looks like this is already fixed. I'm unable to reproduce.

![troubleshooting](https://user-images.githubusercontent.com/15944096/147547820-89d63393-54c3-4381-9674-b42cc982a2aa.gif)

Closing, but open if it happens again.

[2021-12-28 09:11] carinapilar commented on #59501
I can still replicate this. I followed the steps below now:

1. I have Quadrat White now.
2. Created a new page with a Cover block.
3. Set that new page as the site's homepage.
4. Open the Site Editor from Appearance.

And this is what I get:

![CoverNudge](https://user-images.githubusercontent.com/16104522/147549477-56ec2519-affd-4416-96a8-f171be01ab97.jpg)

[2021-12-28 09:31] formosattic commented on #59503
@carinapilar, not sure if this has changed but I'm only seeing an option to set width in `px`.
![image1](https://user-images.githubusercontent.com/15944096/147549742-959b1bd8-91c0-46b8-a753-1ec5e8e2aed1.png)

I agree with the issue that there's so obvious ways to set the footer to full-width.

I find that a confusing part is that the Group block doesn't consistently offers the option of setting th

[2021-12-28 09:42] carinapilar commented on #59503
Yeah, it's very confusing, you need to click on that little `px` indicator to change it to `%`. I wasn't able to get the full-width option on a Group block. 😕

[2021-12-28 09:47] formosattic commented on #59526
Issue is still happening.
![troubleshooting](https://user-images.githubusercontent.com/15944096/147553213-c5804cb9-cfec-420a-b302-45a2a166f3b9.gif)

[2021-12-28 09:52] formosattic commented on #59527
Also able to reproduce this issue.

[2021-12-28 10:08] formosattic commented on #59501
Thanks @carinapilar!

I removed the Premium plan on my test site, and was able to all the upsell nudges.

I updated the steps in the initial post to include the "Free plan" requirement.

[2021-12-28 10:22] formosattic commented on #59503
Thanks, I see it now, and yeah, setting it 100% doesn't work for me either.

![image1](https://user-images.githubusercontent.com/15944096/147556326-b913cbf5-f468-41e7-afa7-08cbd362f2a5.png)

[2021-12-28 10:42] escapemanuele opened #59583 "Tour kit: improve steps unicity with tour id"
### Details

[59450](https://github.com/Automattic/wp-calypso/pull/59450) adds unique CSS classes to each step in the tour, based on the id provided in the config.

If there were 2 tours on the same screen, both containing steps with the same ids, they would have the same CSS classes.

We should make the classes more tour-specific

[2021-12-28 11:41] sharonlaker19 commented on #45154
We got another request for this feature on 4641017-zen

[2021-12-28 12:11] poeticabdul opened #59584 "FSE: Unable to save navigation block"
### Quick summary

I created a new site secondfsesitegh.wordpress.com with no plan using the flow here https://horizon.wordpress.com/new. When I try to add a navigation block to a page by editing the template, I get an error “Saving failed. Updating failed. Invalid parameter(s): template”. The navigation doesn’t get added when I reload the page.

<img width="1408" alt="Screenshot at Dec 28 11-43-2

[2021-12-28 13:44] sharonlaker19 commented on #59133
Another report at 32324118-hc

[2021-12-28 15:12] cpapazoglou commented on #58505
@emmnyc85 any ideas on which pages the new announcement modal should appear?

Currently it will show up only in `Plugins` page. I was wondering whether it makes sense showing it also in `Home`? I am only worried it might be too obtrusive.

[2021-12-28 15:29] cpapazoglou commented on #59571
It seems that Calypso doesn't use `author_profile`. Or `author` related info are extracted from `author`
https://github.com/Automattic/wp-calypso/blob/28d742ee438b6d829599306cabc71f0a986ca96f/client/lib/plugins/utils.js#L172-L176

[2021-12-28 15:29] #59571 closed, assigned to nobody

[2021-12-28 15:45] cpapazoglou opened #59591 "Plugins Browser: move billing period switcher to a better place"
|Current | Designs|
|-------|------|
|<img width="557" alt="SS 2021-12-28 at 17 45 39" src="https://user-images.githubusercontent.com/12430020/147583183-b44e9fe8-eac7-442d-a5f7-b10803e2c26b.png">|<img width="410" alt="SS 2021-12-28 at 17 46 43" src="https://user-images.githubusercontent.com/12430020/147583263-5a0a5163-4493-4575-a0fe-2461c6590e20.png">|

[2021-12-28 16:15] kelasante commented on #59560
This issue occurred again in 31830429-hc. The user has the WordPress app installed on their device (version 18.8). They mentioned that they do not use the mobile app to edit their pages. They use their Mac to edit. However, every time they try and add a gallery block on their Mac, they see this message:

<img width="753" alt="Markup 2021-12-28 at 08 26 54" src="https://user-images.githubuserconten

[2021-12-28 18:15] andres-blanco commented on #59416
D72303-code

[2021-12-28 19:05] NoHopeRadio opened #59595 "Navigation Block: Cannot Remove Menu Copies on non-FSE themes, wp_navigation not accessible"
### Quick summary

When adding a menu to the navigation block, if you select a classic menu, it creates a new copy of that menu.

<img width="727" alt="Image of a Navigation Block showing two menu items followed by Classic option" src="https://user-images.githubusercontent.com/71042895/147598012-4df9044b-e117-437a-a655-2a7950bc9918.png">
<img width="571" alt="After selecting the option in the clas

[2021-12-28 20:37] andres-blanco commented on #59251
[The PR](https://github.com/Automattic/wp-calypso/pull/58973) that fixes this issue is updated and waiting for review.

[2021-12-28 23:14] purplepioneer opened #59605 "[Bug]: WordPress.com media library doesn't load, redirects to https://wordpress.com/media/example.com?retry=1 which is a blank white page"
### Quick summary

When you open the media library for a site (including Jetpack connected sites) from Calypso/the WordPress.com dashboard, the media library does not load.

You are redirected to https://wordpress.com/media/example.com?retry=1 which loads to a blank white page.

### Steps to reproduce

1. Start at the WordPress.com dashboard/calypso https://wordpress.com/stats/day/example.com
2. C

[2021-12-28 23:27] JenSwish commented on #59605
4643880-zen

[2021-12-28 23:29] annbingle commented on #59605
Reported in this as well 31840874-hc Thank you :)

[2021-12-28 23:29] paxblueribbon commented on #59605
reported in 32971285-hc

[2021-12-28 23:31] helenaartmann commented on #59605
reported in 29636886-hc

[2021-12-28 23:32] metabreakr commented on #59605
Just wanted to chime in that for a user in 33366440-hc using `wp-admin` was a viable workaround. Shared direct link to `wp-admin/upload.php`.

[2021-12-28 23:44] cuemarie commented on #59605
Reported here, Simple Site: 28199356-hc
Follow up ticket created: 4643885-zd-woothemes

`wp-admin` did not work
Switching themes to default also did not help (Tried Twenty Twenty One, Geologist, then returned them to their retired theme. No change with any themes)

[2021-12-29 00:17] cuemarie commented on #59605
Reported here, Simple site: 33393939-hc
Follow up ticket here: 4643852-zd-woothemes

[2021-12-29 00:46] sirbrillig commented on #59605
The error is:

I believe this was caused by [this commit](https://github.com/Automattic/wp-calypso/pull/59594/commits/d6492c9cc3bda946c7b3604d044b6ddcc8939d1d) since apparently `state` is sometimes undefined. It should be fixed by [this commit](https://github.com/Automattic/wp-calypso/pull/59604/commits/7a1dd4cf109260eae347737737fdd5a916d8def9) now.

[2021-12-29 00:46] #59605 closed, assigned to nobody

[2021-12-29 01:17] thebud15 commented on #59469
@Greatdane Seems like it works fine on another test site of mine, so it might just be a site-specific fluke.

[2021-12-29 02:36] retnonindya opened #59607 "Calypso: Unable to install plugin from Plugins area"
### Quick summary

Happens both on Simple site (when they are trying to install a plugin) and on AT site (when they are trying to install a plugin)

### Steps to reproduce

1. Go to Plugins: https://wordpress.com/plugins/DOMAIN
2. Choose the plugin you want to install
3. Click "Install and activate"
4. Page redirecting to https://wordpress.com/marketplace/PLUGINSLUG/install/DOMAIN?retry=1
5. Error

[2021-12-29 02:40] flameslash commented on #59607
reporting for 4644200-zd-woothemes

[2021-12-29 02:42] sirbrillig commented on #59607
Hopefully will be fixed by https://github.com/Automattic/wp-calypso/pull/59608

[2021-12-29 02:49] #59607 closed, assigned to nobody

[2021-12-29 04:29] 1dr0 commented on #59560
This issue also occurred on 28169261-hc.

Current workaround:
What I did was to deactivate CoBlocks plugin, and reactivate it, and the errors no longer show up on both the user's and my side.

[2021-12-29 06:10] gavande1 commented on #59232
@SaxonF Can you provide designs for `please check the box below if you'd like us to keep you updated` as @emmnyc85 mentioned above?

[2021-12-29 13:01] #59398 closed, assigned to JulianBustamante

[2021-12-29 13:14] #58506 closed, assigned to JulianBustamante

[2021-12-29 13:44] cpapazoglou commented on #59567
I have create a PR to fix (1) & (2) https://github.com/Automattic/wp-calypso/pull/59592 which is currently a blocker.

We can then follow up on (1) & (3).

[2021-12-29 14:11] KokkieH commented on #59570
Another case in https://wordpress.com/forums/topic/how-to-hide-blog-page-titles-and-featured-images/?view=all, simple site using Russell theme

[2021-12-29 14:13] sophiegyo opened #59613 "Feature request: convert between post & page post types"
### What

User request in 33401614-hc - add one-click option to switch between page and plugin.

There is a [manual method](https://wordpress.com/support/post-vs-page/#converting-a-post-to-page-or-vice-versa) but on Business/eCommerce sites with plugins, the Post Type Switcher plugin is listed as incompatible due to content loss, memory loss, and no revert option.

Would it be possible for us to h

[2021-12-29 15:07] #57759 closed, assigned to cpapazoglou

[2021-12-29 15:07] #59519 closed, assigned to cpapazoglou

[2021-12-29 15:08] #58505 closed, assigned to cpapazoglou

[2021-12-29 15:44] andres-blanco opened #59615 "Videos UI: Include translations in wpcom."
For translated strings from the project `wpcom/video-courses` can be used from wpcom they must be added as a `supplemental_glotpress_project` here: `wp-content/lib/i18n-deploy/includes/projects/project-wpcom.php?r=228174#13`.

This was discussed here: p1640193144191700/1639754484.172000-slack-C02AED43D

[2021-12-29 15:46] #59416 closed, assigned to andres-blanco

[2021-12-29 15:47] #59407 closed, assigned to andres-blanco

[2021-12-29 15:55] jartes opened #59617 "Editor header: buttons background colors not following the color scheme"
### Quick summary

The "Block inserter" and the "Publish/Update" buttons are not following the "dashboard color scheme" that is set under the account settings page (https://wordpress.com/me/account), and their background color is always pink (`#c9356e`) regardless of the color scheme that is selected:

![Markup on 2021-12-29 at 16:48:17](https://user-images.githubusercontent.com/1046943/147679937-

[2021-12-29 15:58] lunasera41 commented on #50560
4645330-zen - same issue with Spotify button not showing up.

[2021-12-29 17:12] fullofcaffeine commented on #59151
We had to briefly revert 12.2.0 on AT sites due to issues found post-deployment, but it was eventually redeployed. more details in the following debrief post: p9oQ9f-Se-p2.

[2021-12-29 17:12] #59151 closed, assigned to nobody

[2021-12-29 17:13] gutenberg-plugin-upgrade-bot[bot] opened #59618 "Gutenberg: v12.3.x plugin upgrade"
Previous upgrade: #59151
Release notes: [v12.3.0](https://github.com/WordPress/gutenberg/releases/tag/v12.3.0), [v12.3.1](https://github.com/WordPress/gutenberg/releases/tag/v12.3.1), [v12.3.2](https://github.com/WordPress/gutenberg/releases/tag/v12.3.2)

**Install and activate**
- [x] Copy & install v12.3.0-rc.1 (D72331-code, D72333-code)
- [x] Activate v12.3.0-rc.1 on edge (D72334-code)
- [x] Co

[2021-12-29 18:53] #58704 closed, assigned to kwight

[2021-12-29 19:21] michaeldcain commented on #59524
@alaczek @kjellr: IIRC, themes with a blog homepage (e.g. Geologist) require the `blog-homepage` tag to work properly on theme switch. I've added the tag to the Geologist (and variants) and Zoologist showcase pages, but they'll need to be added to the stylesheets too.

[2021-12-29 21:12] jordesign commented on #59503
Hey @carinapilar  - were you using a Blockbase child theme for this? Sounds like it might be
https://github.com/Automattic/themes/issues/5180

[2021-12-29 21:12] ClassicRKR27 commented on #58921
I have another report of this here: 31276571-hc

@edequalsawesome was able to give me the following CSS workaround:

`/* adjust z-index for cover block overlay on front page | XXXXXX-hc eD */
.home .wp-block-cover .wp-block-cover__gradient-background {
	z-index: 0;
}`

[2021-12-29 22:24] #57322 closed, assigned to nobody

[2021-12-29 23:08] enejb opened #59624 "Search field zooms in on Mobile Web (iPhone)"

[2021-12-29 23:08] enejb commented on #59624
See

https://user-images.githubusercontent.com/115071/147709670-b4743867-54b5-46bb-8e5a-e1f9deb4e9f4.mp4

[2021-12-30 03:20] #59232 closed, assigned to gavande1

[2021-12-30 04:24] nagpai opened #59627 "Show an upsell message or error when users embed custom code in simple site"
### What

Users are not shown any message that custom code is stripped when they try to copy it. the result is just some awkward code appearing on the front end.

### Why

Simple sites do not permit custom embeds / scripts.

User has suggested here that there should be an error message shown. I think it can be an interesting upsell opportunity

31193174-hc

### How

_No response_

[2021-12-30 04:34] arinoch commented on #59627
See also: #56742

[2021-12-30 07:37] gavande1 opened #59628 "Marketplace: paid plugin details has broken ui when currency symbol is big"

[2021-12-30 07:43] gavande1 commented on #59628
### Details

The UI is kind of broken when there big currency symbol on the plugin details page and a `plan upgrade required` message needs to be displayed.

![](https://cldup.com/74V5j4Ipob.png+)

[2021-12-30 08:03] #59567 closed, assigned to cpapazoglou

[2021-12-30 08:12] vishnugopal opened #59630 "Add additional fields to the backend API for the analyze-url endpoint"
- Add favicon field
- Add name field

[2021-12-30 08:13] gavande1 commented on #59195
Deployed r237402-wpcom

[2021-12-30 08:13] #59195 closed, assigned to gavande1

[2021-12-30 08:40] cpapazoglou commented on #59628
I think that moving the `Plan upgrade required` to a separate line is the safest solution
<img width="368" alt="SS 2021-12-30 at 10 40 11" src="https://user-images.githubusercontent.com/12430020/147735580-9b517c17-6649-46b5-bd1a-00ee725d6767.png">

[2021-12-30 09:14] nagpai opened #59635 "Payment block: For one-off payments, remove requirement of WP.com account"
### What

Users are prompted to create a WPcom account even if they are paying for something as a one-off ( Say someone purchasing a book on a simple site ) . This is unnecessary since the use case here does not involve recurring payments, nor member access. The use case is similar to that of a Paypal block.

It would be good to have an option where if Frequency is One off, have a toggle to disabl

[2021-12-30 12:37] poojashetty18 opened #59642 "Related posts are not visible on Geologist"
### Quick summary

A user came on chat(33337894-hc) mentioning that the related posts are not visible on their existing themes i.e Geologist, Zoologist, Blockbase themes.

I could recreate the issue on my test site

### Steps to reproduce

1. Activate any of the new block-editor themes ( I tested Geologist, Zoologist, Blockbase)
2. Have a few posts published with related content( categories, etc)

[2021-12-30 12:58] #59628 closed, assigned to cpapazoglou

[2021-12-30 13:07] #59591 closed, assigned to cpapazoglou

[2021-12-30 13:18] NatzJoy opened #59644 "Unexpected behavior in Global Styles with color editing in Exford Theme"
### Quick summary

A ticket has been logged in Zendesk for this user here: https://woothemes.zendesk.com/agent/tickets/4642213

When navigating to _Appearance →Customizer →Colors & Backgrounds_ and selecting the option to edit the Background color in the first circle, nothing happens. When clicking it again and the color dropper appears, if you change the color to any random color it only proceeds

[2021-12-30 13:55] carinapilar commented on #59503
It seems to be the same thing @jordesign, yes. Since there are no background color options for the template parts, I set that up on a Group block inside of it, which will then make visible the padding mentioned on the other issue.

[2021-12-30 14:44] zdenys commented on #58680
On AT site with Geologist theme, there is a mismatch of how Menus preview between Customizer and Site Editor.

![image](https://user-images.githubusercontent.com/39308239/147761712-270c0cb0-0c4d-4830-848f-9394dad0b7a1.png)

Also, notice that [Subscription Form Block](https://wordpress.com/support/wordpress-editor/blocks/subscription-form-block/) by Jetpack doesn't render properly in Customizer and

[2021-12-30 16:19] Nic-Sevic commented on #52027
I can confirm this is also happening for AT sites.
Have a related case here which seems to be working as long as `page-optimize` is off... Not clear why though

When I test on my own AT site it only displays polls when in transitional mode, not standard

[2021-12-30 17:57] andres-blanco commented on #59337
Actually this is really useful since this provides a way to set the poster from the web ui instead of loading a new image.

### Instructions
1. Go to a video and click in `Set in Media Library`.
2. Select the video you want to edit ![image](https://user-images.githubusercontent.com/375980/147776546-ab0a80b6-fca2-4b40-bb6b-ebf8aeaa772f.png)
3. Press the `Edit` button on the top bar: ![image](https:

[2021-12-30 17:58] andres-blanco commented on #59337
Read from thumbnail implementation D72351-code

[2021-12-30 19:08] brinbliss commented on #53626
29128948-HC
Re-set to Coming Soon, saving, and then back to Public.

[2021-12-30 19:47] jp-imagines opened #59646 "Block color options cut off for right to left (RTL) languages"
### Quick summary

If you select a right-to-left (RTL) language as your _Interface Language_, the user interface is horizontally flipped: elements which appear on the right are on the left, and vice versa.

In the block editor, after selecting a block with color controls, these settings are found in the left-hand side settings pane. However, the color options and the color picker dialog are comple

[2021-12-30 20:02] jordesign commented on #59503
OK thanks for clarifying - looks that way to me too. I'll close this issue in favor of https://github.com/Automattic/themes/issues/5180 - which _is_ on the list of fixes to hopefully come soon.

[2021-12-31 00:52] jsnmoon commented on #59431
It looks like this is as intended, at least according to #58028. At the time of writing, the Jetpack Search section differs significantly from the other two Jetpack products:

@Automattic/jetpack-voyager, are these differences intentional?

[2021-12-31 06:57] kosiew commented on #59508
Hi @csmcneill ,

Thanks for reporting this.

I could not reproduce this on my test site and am closing this for now.

![image](https://user-images.githubusercontent.com/29057562/147808521-0c72d37e-aae1-4665-87a1-cef1713a1334.png)

https://wpstore101.wpcomstaging.com/product/bookable-product-require-confirmation/

Please feel free to re-open if you have further findings to add.

[2021-12-31 06:57] #59508 closed, assigned to nobody

[2021-12-31 07:00] kosiew commented on #59520
Hi @zdenys ,

Thanks for reporting this and the detailed steps.
Triaging for developers' further investigation.

[2021-12-31 07:17] kosiew commented on #59528
Hi @zdenys ,

Thanks for reporting this and the detailed steps.

This issue is fixed already.

![Screen Capture on 2021-12-31 at 15-12-19](https://user-images.githubusercontent.com/29057562/147809329-9a9cd08a-62db-4e2d-b773-f55dee8769eb.gif)

[2021-12-31 07:17] #59528 closed, assigned to nobody

[2021-12-31 07:33] kosiew commented on #59553
Hi @sharonlaker19,

Thanks for reporting this.

Triaging for developers' further investigation.

[2021-12-31 07:50] kosiew commented on #59560
Hi @cuemarie,

Thanks for reporting this and the detailed steps.

I, however, could not reproduce this on a Simple site on a Microsoft Edge on a Windows 10 machine.

Microsoft Edge 96.0.1054.62

@kelasante,

I also could not reproduce this on Google Chrome.

In both Chrome and Edge, I see the the message once and after I click on `x`, it does not appear again on editing the posts or creating new g

[2021-12-31 08:37] sophiegyo commented on #56931
I could be wrong but I think this issue is coming up again.
User report in 4640822-zen and I'm able to replicate both on wpcom and a self-hosted site.

[2021-12-31 08:41] hngdny commented on #59388
Another report in 4646154-zen

[2021-12-31 09:07] #56931 closed, assigned to nobody

[2021-12-31 15:11] sharonlaker19 commented on #57449
Another report at 4649687-zen

[2021-12-31 19:07] #59480 closed, assigned to michaeldcain

[2021-12-31 19:35] #57415 closed, assigned to arcangelini

[2022-01-01 06:13] flameslash commented on #51540
4648202-zd-woothemes suggested workaround as well

[2022-01-01 21:34] CodeAllNightNDay commented on #50574
Had a report but I'm not seeing the issue now when checking their site. 4651995-zen

[2022-01-01 22:13] CodeAllNightNDay opened #59650 "Stow Theme Cookie and Consent Banner Only Shows in the Customizer"
### Quick summary

I have a user whose cookie and consent banner is not showing the live site. I have re-verified the widget has been added and is set to show on the homepage.
4642656-zen

### Steps to reproduce

1. Visit https://deborapannozzo.com/
2. Switch to user
3. Open customizer

### What you expected to happen

The cookie and consent banner to show on the live site.

### What actually happ

[2022-01-01 23:34] devNigel commented on #51666
Another report: 4651172-zen

[2022-01-01 23:59] formosattic commented on #51666
Looks like it's a Gutenberg issue, https://github.com/WordPress/gutenberg/issues/24282

Flagged for a bug herder to review.

[2022-01-02 01:51] devNigel opened #59652 "Incorrect number of mailboxes in Billing History for Google Workspace Starter purchase"
### Quick summary

User had purchased the first license of Google Workspace Starter on 2021-12-15 by paying the promotional price $36.

Then on 2021-12-16, user purchased the second license by paying the actual price $72.

In total, the user had purchased only 2 licenses. However, the Billing History indicates that the user purchased 2 mailboxes in the second purchase.

Store Admin is showing the

[2022-01-02 16:35] ChrissiePollock opened #59653 "Latex Displays Wrong on Button 2 Theme"
### Quick summary

When adding  LaTeX within a post, the final result shows the equal sign at the same level as denominators using the Button 2 theme. It shows properly with other themes.

### Steps to reproduce

1. Set your site to the Button 2 theme.
2. Create a post.
3. Add the code: `A = $latex \bf\displaystyle\frac{1}{2}$ × $latex \bf\displaystyle\frac{1}{4}$ = $latex \bf\displaystyle\frac{1}

[2022-01-02 18:38] cuemarie opened #59654 "Provide ability to hide post categories/tags from subscriber notification emails"
### What

Provide the ability to enable/disable inclusion of post details (categories, tags, etc) in the notification email that goes out to subscribers

### Why

For users who use Categories and Tags as backend organizing more than for their site visitors' reference, the categories and tags are unnecessary reading for the user in the email, and feel in the way.

### How

_No response_

[2022-01-02 18:46] cuemarie commented on #59654
User report: 33251836-hc

Screenshot of their email:
![Markup on 2022-01-02 at 11:45:25](https://user-images.githubusercontent.com/27249804/147886150-44ca8a3e-494c-4d23-a635-e45bd556a155.png)

In the meantime, I recommended they add more content to their Post Excerpt, to guide their visitors' experience a bit more.

[2022-01-03 03:55] formosattic commented on #50306
+1 4654850-zd-woothemes

On Simple site, gallery of about 50+ images.

User wishes to be notified when issue is fixed.

[2022-01-03 06:27] KokkieH commented on #59570
https://wordpress.com/forums/topic/template-3/?view=all, simple site on Zoologist

[2022-01-03 08:19] cpapazoglou opened #59655 "Marketplace: update USPs"
- [x] Replace `30 day money-back guarantee` with `7/14d-day money-back guarantee.`
- [x] Replace `Handled by WooCommerce.` with `Live chat support 24x7`
- [x] Add a link `How to get help!` `https://wordpress.com/support/help-support-options/` in Support section

![SS 2022-01-03 at 10 20 39](https://user-images.githubusercontent.com/12430020/147910783-98db20df-43e1-43b9-8144-8459d44ad978.png)

[2022-01-03 08:39] cpapazoglou opened #59656 "Marketplace: Add business plan price in usp"
Let's add the Business plan price in the CTA area, which should depend on the billing interval.

<img width="365" alt="SS 2022-01-03 at 10 41 21" src="https://user-images.githubusercontent.com/12430020/147912207-55c6775a-96b7-4dbf-8728-f8df4622fdb6.png">

[2022-01-03 08:52] cpapazoglou opened #59657 "Marketplace: Add a home banner advertising the paid plugins"
Let's add the content of our announcement modal
<img width="902" alt="SS 2022-01-03 at 10 52 50" src="https://user-images.githubusercontent.com/12430020/147913097-f4926264-baa5-4156-a693-c4eb672d1f71.png">

to the home announcements banners section
![SS 2022-01-03 at 10 55 07](https://user-images.githubusercontent.com/12430020/147913270-bbb08ed8-4c73-4aec-9b36-42d260217936.png)

[2022-01-03 08:56] cpapazoglou commented on #59657
@emmnyc85 any clues on which of the two home sections to use?

[2022-01-03 08:58] cpapazoglou opened #59658 "Marketplace: when rewinding use a hook to remove paid plugin if subscription is not currently active"
When a marketplace subscription has expired, and after say a day the user restores the site back to the date when they had the subscription (purchased via Dotcom Marketplace) active the plugin should not get restored.

[2022-01-03 08:59] retnonindya opened #59659 "Calypso: Manage Plan button on "Plans > My Plan" is unresponsive"
### Quick summary

Not sure if this is a feature request or a bug, but I decided to opt for the latter. Do let me know if this is not the correct place. Thank youuu! Also, this is non-urgent.

TL;DR, this button -- "Manage plan" -- is not working/unresponsive.

![Screenshot 2022-01-03 at 4 53 55 PM](https://user-images.githubusercontent.com/44726232/147913199-e36d2657-4f82-4ce1-8081-2331b412d929.p

[2022-01-03 09:02] aleone89 commented on #59570
There's another report of this here: https://wordpress.com/forums/topic/new-post-updating-failed-invalid-parameters-template/?view=all > with the Russell theme.

[2022-01-03 09:10] cpapazoglou opened #59660 "Marketplace: Simple sites with marketplace subs should get atomic on biz plan upgrade"
We are using a `site-plugins` selector to identify the installed plugins. Instead we should also use a `subscription-active` selector.

- [ ] If site doesn't have  business / ecom subscription but has a marketplace subscription, we should show "upgrade to business" to reactivate this plugin.
- [ ] All simple sites with marketplace subscriptions that buy business plan should get Atomic (so that plu

[2022-01-03 09:15] cpapazoglou opened #59661 "Marketplace: Purchases - Avoid removing plan with active marketplace subscriptions"
Letting the user know that they already have Marketplace subscriptions active and that they should first remove them is the way to go. Probably, we can also add a "Remove all" shortcut.

Related convo: pdtkmj-2M-p2#comment-69

[2022-01-03 09:18] cpapazoglou commented on #59660
This issue will be obsolete if we resolve https://github.com/Automattic/wp-calypso/issues/59661

[2022-01-03 09:18] #59660 closed, assigned to nobody

[2022-01-03 09:20] emmnyc85 commented on #59657
It might look redundant / like too much from one cross-sell to have it in those two sections, especially since they can seem to be right on top of each other.
- I agree with including this in the Banner section, primarily as the first item shown.
- What about adding a Quick Link too? 'Explore plugins' and then that drives to the modal on the plugin page

[2022-01-03 10:05] jeherve commented on #59484
Since the block is developed in the Jetpack repository, I'll move the issue there.

[2022-01-03 12:04] artpi commented on #54038
This is more complicated
In order to make the saved credit cards work, we always clone the payment method. What I'm suggesting in this task is to saved that cloned payment method within the customer.

In order to stop cloning payment methods, we would have to reorganize how we process payments.
This would be a significant task, but it is also solved by Woo transition

[2022-01-03 13:37] cpapazoglou commented on #59658
Proposed solutions:
- by using a hook after rewind completes with success we can check for active subscriptions and remove the rest marketplace plugins

[2022-01-03 13:51] cpapazoglou commented on #59661
We can use something similar to get all marketplace subscriptions
https://github.com/Automattic/wp-calypso/blob/d13a5fb94cb84b168c66e70714a349d546f0bc30/client/my-sites/plugins/plugin-site-jetpack/index.jsx#L38-L44

[2022-01-03 14:12] cpapazoglou opened #59670 "Marketplace: collect jetpack self hosted intentions to buy a plugin"
Jetpack self hosted users are not able to buy wpcom plugins yet. This a feature for the future 🤣! Right now we are blocking them with a message `This plugin is supported only in WordPress.com sites for the moment.`. It would be great if we could collect users intentions so that we target them when the feature is actually supported.

Can we say the following and add a check box so we have permissio

[2022-01-03 14:17] cpapazoglou opened #59671 "Marketplace: research a recommendation / search engine (eg algolia / Jetpack search )"
Adding some prior art
p9xfpQ-gB-p2

[2022-01-03 14:34] mattgawarecki commented on #59431
Personally I'm not a fan of the difference here, and I'm not certain it's anything Voyager explicitly left in. Let's ping @Automattic/jetpack-design -- they might want to take a swing at re-designing this prompt.

[2022-01-03 15:02] dcoleonline commented on #44844
noting 3308550-hc here, as it could have helped them to find a solution within WordPress.com instead of seeking out a plugin/newsletter

[2022-01-03 16:16] sixhours opened #59674 "Premium theme emails contain outdated forum links"
Noted by @happychait here: pdgA0m-9X-p2#comment-98

Emails following a premium theme purchase read like so:

We need to update the email templates to reflect new links.

The first link `http://theme.wordpress.com/themes/[theme-slug]` should point to `https://wordpress.com/themes/[theme-slug]`

The forums link is a question mark. Do we want to continue to use the premium-themes.forums.wordpress.com

[2022-01-03 16:21] sixhours commented on #59674
For the forums, I'd suggest we remove the link from the email or find a new place to send folks with premium theme issues. The current premium themes forum requires we set up a new forum for each new premium theme, adding time and complexity to the launch process.

[2022-01-03 16:35] kjellr commented on #59524
Ah ok cool, thanks @michaeldcain. I'll add this to the theme dev team's board so they can be aware and make updates to Geologist and its variants.

[2022-01-03 16:42] kwight opened #59675 "Videos UI: The "request translation" prompt is not being displayed."
At least in Arabic, the prompt to request a translation added in https://github.com/Automattic/wp-calypso/pull/59155 is missing:

<img width="1463" alt="Screen Shot 2022-01-03 at 8 37 34 AM" src="https://user-images.githubusercontent.com/349751/147956340-114c7bea-717c-4163-9340-4735508b09e5.png">

[2022-01-03 16:49] sixhours opened #59678 "Theme Showcase: Premium themes lack indicators"
Noted by @bryanford here: pdgA0m-9X-p2#comment-101

We show "Included" text for premium themes at `wp-admin/themes.php` when you have a Premium plan:

<img width="1395" alt="Screen Shot 2022-01-03 at 11 51 48 AM" src="https://user-images.githubusercontent.com/2124984/147957293-d345e697-8cec-4080-af09-dbf22ae0b0e1.png">

but there's no corresponding indicator in the Calypso Theme Showcase:

<img wi

[2022-01-03 17:51] kimerlin81 commented on #59561
@formosattic Hi! Thanks for submitting this FR. I was able to reproduce this, so I've moved this request over to the Feature Request board for consideration. No ETA is available.

[2022-01-03 18:10] kimerlin81 commented on #59564
@zdenys Thanks for submitting this report with great detail. I was able to reproduce this issue, so I've triaged it for our developers to review.

[2022-01-03 19:57] #59675 closed, assigned to andres-blanco

[2022-01-03 20:10] kwight opened #59681 "Videos UI: Opening the video UI invalidates the wordpress.com HTTPS certificate."
I'm not sure how or why, but opening the video UI invalidates the wordpress.com HTTPS certificate (at least in Chrome).

![2022-01-03 12 08 18](https://user-images.githubusercontent.com/349751/147975365-d45599a7-c157-452a-a00a-e10d3fabecd2.gif)

[2022-01-03 20:10] kathrynwp commented on #52728
This bug came up again during a WordPress.com live webinar.

[2022-01-03 21:03] arinoch commented on #59570
+1 for Russel. 4649640-zd-woothemes

[2022-01-03 21:05] sixhours commented on #59255
This was fixed by re-uploading a new image to the Showcase:
<img width="1352" alt="Screen Shot 2022-01-03 at 4 04 48 PM" src="https://user-images.githubusercontent.com/2124984/147980216-f05747af-694f-4a58-8806-638fe7a17d11.png">

[2022-01-03 21:05] #59255 closed, assigned to nobody

[2022-01-03 21:11] sixhours commented on #59258
Hmm, I wonder if this is a network lag/disconnected sandbox issue. The modal resolves to this for me:
<img width="363" alt="Screen Shot 2022-01-03 at 4 10 37 PM" src="https://user-images.githubusercontent.com/2124984/147980787-1a97464b-2f5a-4211-a75a-c544229dd5c6.png">

[2022-01-03 21:16] JoshuaGoode commented on #56927
Related issue: https://github.com/Automattic/page-optimize/issues/55

Seems like it's breaking a good chunk of our themes and, even when styles seem to be working, can break mobile menus.

cc: @brandonpayton

[2022-01-03 21:17] JoshuaGoode commented on #57369
Related:

https://github.com/Automattic/wp-calypso/issues/56927

https://github.com/Automattic/page-optimize/issues/55

[2022-01-03 21:23] sixhours commented on #59674
The code for these emails resides in `/mu-plugins/premium-themes.php`; I started a diff at D72411-code.

[2022-01-03 21:29] obenland commented on #59481
Checking with Atomic team if we can add these options to the option allow-list for atomic transfers: p9o2xV-1L5-p2

[2022-01-03 21:35] DustyReagan commented on #57423
Adding options fields to API using a filter. proof of concept: D72195-code

[2022-01-03 21:35] obenland commented on #57422
It looks like the current version of the Woo flow has the product type as a checkbox list. Let's figure out how we want to go about that in Calypso.

<img width="1020" alt="Screenshot on 2022-01-03 at 15-25-00" src="https://user-images.githubusercontent.com/1398304/147982795-68d5535d-0195-4a6a-ae9e-52297f9d5d9a.png">

[2022-01-03 21:38] kwight commented on #59251
Fixed in #58973 .

[2022-01-03 21:38] #59251 closed, assigned to nobody

[2022-01-03 21:40] obenland opened #59683 "Woo Installer: Transfer step needs process time out escape hatch"
Transfer step needs process time out escape hatch in case of problems with the transfer process (same as install step)

[2022-01-03 22:02] kwight commented on #59337
Amazing, so much better than the manual screenshot process. ❤️ Diff approved, merge away.

[2022-01-03 22:05] connorhipps opened #59684 "Cover Block Color Overlay Working Unexpectedly"
### Quick summary

The user's Cover Blocks are working differently than they once were. Previously, when the Cover Blocks were set to "Hover Reveal" under Styles, the image would only dim and overlay a color when hovered over. Now, there is a constant color overlay, whether hovered over or not. https://cln.sh/oZBAYr

### Steps to reproduce

1. Start at https://wordpress.com/pages/littlefinchdesign

[2022-01-03 22:20] kwight commented on #59615
D72326-code

[2022-01-03 22:20] #59337 closed, assigned to nobody

[2022-01-03 22:28] kwight opened #59685 "Videos UI: Create a demo video of adding a new course."
Let's create an internal demo video for creating a new course – from uploading and sequencing the videos in the course management UI, to displaying them on wordpress.com. This should be followed up with an internal P2 post announcement about the feature.

[2022-01-03 22:33] kwight commented on #59417
Let's also add a demo walkthrough video: #59685

[2022-01-03 23:04] DustyReagan commented on #59481
For reference the fields were looking at saving when going from simple to Atomic are:

'woocommerce_store_address',
'woocommerce_store_address_2',
'woocommerce_store_city',
'woocommerce_default_country',
'woocommerce_store_postcode',
'woocommerce_onboarding_profile', // This is all the business profile data serialized.

The idea is we'll save these fields in wp_options while the site is Simple and

[2022-01-04 03:31] arinoch opened #59690 "Email Forward: Error out when NS != WordPress.com"
### What

When a user's nameservers aren't pointed to WordPress.com, disallow the purchase of email forwarding.

### Why

email forwarding won't work until and unless the domain's set back to our nameservers, which means the user's essentially wasting money. This is a bad experience we can avoid.

### How

_No response_

[2022-01-04 03:38] arinoch commented on #59690
For context only: 4656890-zd-woothemes

[2022-01-04 04:03] roo2 commented on #56303
fixed by #59499

[2022-01-04 04:03] #56303 closed, assigned to roo2

[2022-01-04 04:03] roo2 commented on #59351
fixed by #59499

[2022-01-04 04:03] #59351 closed, assigned to nobody

[2022-01-04 05:19] roo2 commented on #58073
thanks for re-reporting this @ccwalburn I've reproduced this and am trying to work out what's happened. It does appear to be failing to load intermittently.

[2022-01-04 05:46] roo2 commented on #58073
It looks like it was It looks like the change D71144-code fixed a race condition related to the like button but introduced this race condition which is causing the reblog button to sometimes not be shown.

When I reverted the diff in my sandbox, I found that this issue no longer occurred ✅

My next step is to properly grok the change and work out how we can fix the original race condition without

[2022-01-04 06:07] rw-ye opened #59691 "Modal to upgrade to Business plan could indicate the price and duration of the Business plan"
### Quick summary

While on the premium plan, the modal to upgrade to Business could indicate the price of the Business plan being added. Indicate if the plan is monthly/annual

![Markup 2022-01-04 at 13 36 58](https://user-images.githubusercontent.com/21261509/148015767-c66f5120-5e71-4d77-a259-db060d7242ef.png)

### Steps to reproduce

1. Create/open a site on a Premium plan.
1. Select a plugin f

[2022-01-04 06:07] sarahcada commented on #57102
I'm reopening this since the selection doesn't seem to persist.

**Steps to replicate**: From Plugins > Add New, select Annual in the switcher component.
**Expected**: The price shown will be Annual.
**Actual**: The price shown is Monthly; switcher is back to monthly.

(That said, the selection from the plugin's screen *will* persist after clicking Purchase and activate.)

![Screen Capture on 2022

[2022-01-04 06:36] nagpai opened #59694 "Marketplace : Option to switch to Annual billing for Plugin"
### What

While upgrading from simple site on a monthly plan, the checkout page gives an option to switch the Business plan to Annual.

There is no such option for the plugin, it remains stuck on Monthly, even If I change the Plan to annual.

### Why

User should have a choice to set the tenure of the plugin purchase too.  Else it is confusing to the user at checkout.

### How

![image](https://us

[2022-01-04 07:17] jeroenpf commented on #59630
I added two fields. The diff: D72416-code

Please review :-)

[2022-01-04 07:42] cpapazoglou opened #59695 "Marketplace: clicking manage on thank you page returns permissions error"
I got to this screen from the thank you page in my marketplace testing.
- create new free site
- checkout from marketplace with plugin and business plan
- click manage button from thank you confirm page

props to @ianstewart for uncovering this

![image](https://user-images.githubusercontent.com/12430020/148025637-4a74e5b9-fd4e-4586-b4ae-102a3ee7066b.png)

[2022-01-04 07:43] formosattic commented on #59566
Tested, and it' still an issue.

[2022-01-04 07:48] formosattic commented on #59565
Was able to reproduce as well.

[2022-01-04 07:56] cpapazoglou commented on #59695
While we are waiting for a `plugins` response here
https://github.com/Automattic/wp-calypso/blob/eec276502e92c508728555fdc12900672e33365f/client/my-sites/checkout/checkout-thank-you/marketplace/marketplace-thank-you.tsx#L126-L133
we are also falling back to `wp-admin/plugins.php` after 10secs. Probably, there will be some Atomic site transfers that take longer than 10secs and visiting `wp-admin/pl

[2022-01-04 08:04] formosattic commented on #59568
Able to reproduce.

Pointing out that this is something we support, see https://wordpress.com/support/editing-css/#preprocessor :

[2022-01-04 08:25] formosattic commented on #59570
I was able to replicate as well. Set to High priority.

[2022-01-04 08:32] flameslash opened #59696 "Marketplace: When installing a free plugin, a Business monthly plan is being added in checkout instead of annual"
### Quick summary

If you are on a Premium plan or lower and try to install a free plugin, the Business plan upgrade added to checkout is on monthly instead of annual.

### Steps to reproduce

1. Open a site with Premium plan
2. Go to the Plugins Marketplace and select one of the free plugins (I selected Yoast SEO)
3. Click Upgrade and Activate
4. Business upgrade modal will show - click Upgrade a

[2022-01-04 08:58] formosattic commented on #59617
Looks like this is now fixed.

What I see with Classic Blue color scheme:
![image1](https://user-images.githubusercontent.com/15944096/148034245-b56f8bda-9e9b-496b-bf20-46bdfa12c15e.png)

Closing, but open if it happens again.

[2022-01-04 08:58] #59617 closed, assigned to nobody

[2022-01-04 09:40] #59656 closed, assigned to gcsecsey

[2022-01-04 09:46] cpapazoglou commented on #59696
👋 @flameslash! Thanks for testing this! Can you elaborate why the plan added to cart **should be** annual rather than monthly? The idea here is letting the user continue with a low upfront cost, after 1 month they can decide to renew to annual.

[2022-01-04 10:26] sgomes commented on #58073
Race condition bugs are the worst 😞 Let me know if you need any help grokking my fix or working on a new one, @roo2!

[2022-01-04 11:16] aleone89 commented on #53088
There's been a report of this here: https://wordpress.com/forums/topic/loaded-new-post-but-its-not-opening-on-page/?view=all - the user was using a PDF, and have suggested just placing the link of the PDF into the post.

[2022-01-04 11:26] chriskmnds commented on #59583
I believe we can close this for now. Thanks for opening though. :-)

[2022-01-04 11:26] #59583 closed, assigned to nobody

[2022-01-04 11:41] as-esu commented on #54990
4657930-zen
I could reproduce the issue using the Karuna theme, but only if I choose the suggested colours.
Picking custom colour, reflected changes in the editor.

[2022-01-04 11:46] chriskmnds opened #59700 "Tour Kit: Introduce on-step-view logic / callback handler"
### Details

As part of the extraction, we will need a callback handler that will execute once per step view. This was originally used in the welcome tour [to record a track event once per slide view](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/tour-card.js#L42), so we ought to migrate that over to tour-kit

[2022-01-04 11:48] roo2 commented on #58073
thanks @sgomes , I had a look at it today but couldn't quite crack it. What I know so far is:

When hard reloading the page, or loading it for the first time, the `batchRequest`'s success function ( defined  in `likes-rest-nojquery.js:1137`) is called before `updatePostFeedback`. This results in `reblog_path` being set in `this.cache` ( `likes-rest-nojquery.js:925`)👍

What happens when the page is

[2022-01-04 12:05] liviopv commented on #41760
I had a chat 33477270-hc with the issue above and it turned out that it was a problem with the file.

In my case, the user was "changing" .m4a files into .mp3 by editing the file name from Finder, which created a .m4a file labeled as .mp3. Switching it back to .m4a by renaming the file fixed the issue.

[2022-01-04 12:26] liviopv commented on #51730
Also on 33477270-hc.

Uploading to the media library works and I'm able to upload using the Audio Block after adding the MIME Type to the site using a plugin, but the playback is inconsistent. It works sometimes on Chrome, but it never works on Safari.

[2022-01-04 12:53] chriskmnds opened #59703 "Tour Kit / Welcome Tour: Refactor backend API support"
### Details

We currently register an endpoint in the ETK Welcome Tour to control the tour visibility/open status. I believe this is used for reopening the Welcome Tour after a set time. This is something we need to abstract from the wp/data store, hence aiding to extract Tour Kit implementations into a standalone package (we plan on having an NPM package "wpcom-tours" with the various tour config

[2022-01-04 13:03] renata-franco opened #59706 "Button 2: Fancy Cornered images on sidebar do not get fancy at the bottom"
### Quick summary

Theme Button 2 has a bug when using Fancy borders on the sidebar for an image, the borders only get fancy at the top, not the bottom of the images.

### Steps to reproduce

1. Activate Button 2 theme.
2. Go to My Site → Appearance → Widgets → Sidebar.
3. Add an Image Block.
4. Select "Fancy" Style for the image.
5. Update Sidebar.
6. Check the homepage.

### What you expected to

[2022-01-04 13:08] kimerlin81 commented on #59581
Thanks @retnonindya -

I was able to reproduce the add new template (front page template only) and the missing new template button issues on both Atomic and Simple test sites.

I was only able to replicate the save error in step 6 when I tested on a Simple test site.

[2022-01-04 13:35] dolgelukkig opened #59707 "Media in Media & text block overlaps text in Cubic theme"
### Quick summary

When adding the Media and Text block to a post or page the image overlaps the text. It happens whether the image is aligned to the left or to the right but it's worse with the left alignment.  It looks alright in the editor.
![Uploading Markup on 2022-01-04 at 14:23:24.png…]()

This is when the Cubic theme is activated

### Steps to reproduce

Activate the Cubic theme
Create a p

[2022-01-04 14:18] carladoria opened #59709 "Blank Canvas: Underlined on post titles don't show on mobile view"
### Quick summary

Post titles are underlined on desktop but not on mobile view.

### Steps to reproduce

1. Activate Blank Canvas
2. Set homepage to show latest posts
3. Review how post titles show on desktop. They show an underline. REview how this show on mobile view.

### What you expected to happen

Posts should also show underline on mobile view as in desktop

### What actually happened

Pos

[2022-01-04 14:22] escapemanuele opened #59710 "Tour Kit: Multiple custom CSS classes for each step"
### Details

Until now, we could provide a custom CSS class (in the config) to be applied to a particular step or to the parent class under [config.options](https://github.com/Automattic/wp-calypso/blob/trunk/packages/tour-kit/src/types.ts#L16-L18)
This could be improved giving the possibility to pass an array or CSV of CSS classes.

[2022-01-04 14:42] allilevine commented on #57422
Does this step need to include a question about Industry?

<img width="577" alt="Screen Shot 2022-01-04 at 9 34 24 AM" src="https://user-images.githubusercontent.com/1689238/148075834-fc856977-d758-4253-8e37-79d969895ca4.png">

[2022-01-04 14:44] cpapazoglou opened #59711 "Plugin Details: show "Description" header tab only when there are more tabs"
In Plugin Details page we render the plugin sections like Description, Installation, FAQ etc.
When there is only a Description tab, the Header seems obsolete.
Let's remove it.

![image](https://user-images.githubusercontent.com/12430020/148076179-05d2961c-1f0a-4af5-97e9-7b374adc61ea.png)

[2022-01-04 14:52] sixhours opened #59712 "Premium themes: Document the newest complete process for adding a new premium theme"
The current process looks something like this:

* Add theme to softlaunch filter
* Publish Showcase page
* Add the theme product to the Store
* Add the theme to MC
* Network Activate the theme

But I'm not confident of the order of operations. We need a FG page documenting these steps and their sub-steps in order.

[2022-01-04 15:04] gcsecsey commented on #59406
I've looked into how the video URL is stored on WC.com

So far I’ve found that the `featured_video` field is a meta field on the WC product: https://github.com/Automattic/woocommerce.com/blob/545d225703bb2e9b616ffe4edf558089e195584e/plugins/wccom-plugins/product-page/includes/class-product-data.php#L297

As we're already getting the `description` field dynamically from the WC.com REST API, the res

[2022-01-04 15:11] sixhours commented on #58780
Related PRs/diffs:

- [ ] D70966-code - H4: Update /pricing to re-add theme references
- [ ] D70969-code - Signup: Re-add premium themes reference
- [ ] D71301-code - Update Logged-out Homepage based on updated components
- [ ] #59006 - Plans: Update feature list and FAQs with premium theme info

[2022-01-04 15:15] sgomes commented on #58073
Thank you, @roo2 ! You did a lot of excellent initial work there :)

The hard reload appears to be a red herring; in my testing, I was able to reproduce the problem even with empty cache + hard reloads. There's something else at play; it's a tricky problem, but I'll attempt to explain.

The issue appears to happen when the response to the initial batch request arrives after the `loadLikeWidget` me

[2022-01-04 15:23] retrofox commented on #57422
Do we know how the data is structured into the site options? Some of them are pretty simple like Dusty explains [here](https://github.com/Automattic/wp-calypso/issues/59481#issuecomment-1004414672).

[2022-01-04 15:37] Robertght commented on #59566
Another case here: 4650946-zen

[2022-01-04 15:40] retrofox commented on #57422
oh right, it's stored in the `woocommerce_onboarding_profile` option.

[2022-01-04 15:43] gcsecsey commented on #59406
Here's the diff for the manually added video URLs: D72459-code

[2022-01-04 15:53] sixhours commented on #59674
Marketing will check on this to see if these are being tracked, if we should keep it, or if we can let go.

[2022-01-04 16:11] andres-blanco commented on #59681
The warning is due to the wpcommedia videos urls are being generated(/wp-content/lib/courses/courses.php?r=237551#164) with `http` instead of `https`. There are two ways to go around this warning:
1. replace the http by https. (https://wpcommedia.files.wordpress.com/2021/11/video-1.mp4)
1. use the `video_highest_resolution_mp4` function to generate the video url from the CDN. This is the one that

[2022-01-04 16:20] #59624 closed, assigned to nobody

[2022-01-04 17:13] kspilarski opened #59718 "Media: Add option to apply same texts to Caption and Alt text"
### What

In Media, add the option to apply or enable the use of same texts for Caption and Alt text.

### Why

There are times when texts were added as captions, and alt text box is excluded and left blank. If the image file is missing, it won't show an alt text.
There is also a user case when texts were intended as captions, but were added in alt text (the image added to a post didn't show the t

[2022-01-04 18:10] sgomes commented on #58073
Fix at D72467-code.

[2022-01-04 18:14] sixhours commented on #59156
Putting this back in the Inbox for now since it's no longer a blocker for launch.

[2022-01-04 18:14] sixhours commented on #59674
Marketing has given us the go-ahead to remove this email entirely so I'll plan to do that as part of D72411-code.

[2022-01-04 20:22] lakellie opened #59726 "Billing: When a site is disconnected from Jetpack, Calypso says Jetpack plan is expired (even if it's not)"
### Quick summary

If a user attempts to manage their Jetpack purchase in Calypso, and the site is not currently connected to Jetpack, the user will see some messaging letting them know that they need to reconnect the site in order to manage their purchase. However, it appears that messaging has been coded to always say the plan is expired - regardless of whether or not the plan is actually expire

[2022-01-04 20:36] Rolilink commented on #57422
In the original flow there are two tabs for the Business Details - Step should the Free Features one be included? It seems to be optional tho.

![Screen Shot 2022-01-04 at 3 24 58 PM](https://user-images.githubusercontent.com/1035546/148120566-0f06eae3-07f4-4590-8baa-4330a5a7dae4.png)

[2022-01-04 21:02] zaguiini commented on #59260
### Tests

- ❌  `v12.0.0`;
- ✅ `v12.3.0-rc.1` (`gutenberg-edge` sticker applied);
- ✅  `trunk`.

Fixed by https://github.com/WordPress/gutenberg/pull/37484.

[2022-01-04 21:02] #59260 closed, assigned to nobody

[2022-01-04 21:07] sirbrillig commented on #58479
https://github.com/Automattic/wp-calypso/pull/58467 has merged, so this work can now begin.

[2022-01-04 21:09] kwight commented on #58206
Closed in #59675 .

[2022-01-04 21:09] #58206 closed, assigned to blackjackkent

[2022-01-04 21:14] kwight opened #59729 "Videos UI: Consider removing the chapter animation when loading."
If only some videos have been completed, the chapters section will animate open on load. It can feel a little janky, but doesn't hurt anything – @ollierozdarz , any preference? Should we remove any initial animation on page load?

[2022-01-04 21:27] allilevine commented on #57422
@Rolilink I missed that! One of the features is Woo Payments, which we're already installing in this flow. It might be cool to install more plugins based on customer answers in a future iteration but for now I don't think we need the Free Features tab to accomplish our goal of getting some customer information.

<img width="507" alt="Screen Shot 2022-01-04 at 4 16 17 PM" src="https://user-images.g

[2022-01-04 21:29] kwight commented on #58876
The course management system is now live.

[2022-01-04 21:29] #58876 closed, assigned to nobody

[2022-01-04 21:38] obenland opened #59730 "Task: Enable Woo sidebar nav item for Atomic free sites"
### Details

Once #58173 is merged we'll have an upgrade flow in place on the landing page, and we can show the nav item to Atomic free sites.

<img src="https://user-images.githubusercontent.com/140841/141382857-92bdbc8c-9535-4174-8800-df02a3563362.png" width="200" />

### Checklist

_No response_

### Related

_No response_

[2022-01-04 21:41] obenland opened #59731 "Task: Revist install_plugin capability for use on endpoints"
### Details

The install_plugins capabilities is heavily filtered out of WPCOM. It's also filtered out of Atomic sites without a Business or Ecommerce plan.

We can retrieve the install_plugins capability from a Jetpack (WoA in our case) site by using the API endpoint '/jetpack/v4/connection/data'. We experimented with that in D70860-code. Alternatively, we can use the raw Jetpack shadow site data

[2022-01-04 21:51] kwight opened #59733 "Seller Experience: Create wireframes for the seller intent signup flow."
We'll need basic wireframes for our MVP of the seller experience: a screen flow from the intent selection in onboarding, to the editor (likely with a single Simple Payments block already loaded).

See: pdgAPm-45-p2#comment-120
See: p9Jlb4-3nd-p2

[2022-01-04 21:52] obenland opened #59734 "Limited Atomic: Plugins page"
### Details

A couple of issues here:

- [ ] The Calypso Plugins page should still be shown to premium plans on atomic, attempting to install a plugin should require a marketplace purchase or a business plan upgrade like normal (minus the AT step).
- [ ] The wp-admin plugin page should redirect to calypso when a user attempts to load the page on a premium atomic site.

### Checklist

_No response_

[2022-01-04 21:54] obenland opened #59735 "Limited Atomic: Add Premium plans to the list of plans eligible for Atomic Transfer"
### Details

Add Premium plans to the list of plugins eligible for Atomic Transfer.

See `woa_get_atomic_subscription_ids()`.
See p9o2xV-1Bd-p2.

### Checklist

_No response_

### Related

_No response_

[2022-01-04 21:57] kwight opened #59737 "Seller Experience: Document how to create a new intent in the signup framework."
While we're adding a new intent for sellers, we can rely on the prior art of the Blogger Experience pod that created the Build and Write intents. Let's augment the existing Field Guide page with step by step instructions for adding a new intent to the "hero flow".

See: PCYsg-D3I-p2

[2022-01-04 22:15] kwight opened #59738 "Anchor: Signup from Anchor is broken."
Attempting to sign up for WordPress.com coming from Anchor is completely broken, showing a block error with a console message of `cannot set properties of undefined (setting 'anchorFmPodcastId')`.

<img width="1720" alt="Screen Shot 2022-01-04 at 2 10 28 PM" src="https://user-images.githubusercontent.com/349751/148130905-4c19be37-61ce-4dfd-9843-382fbaa135f5.png">

Reported by @hacchism in p1641247

[2022-01-04 22:28] kwight commented on #59681
Ah – then maybe we can just add a `preg_replace` around L139 in `fetch_videos()` to swap the protocol to HTTPS (because it looks like that change alone still produces valid URLs). Nice find. 👍

[2022-01-04 22:39] obenland opened #59739 "Limited Atomic: Add support for premium plan slugs"
### Details

(More than a few issues need to be broken off for this, just using it to track all the spots found so far that will need)

There is a "blog type" variable passed through the atomic transfer process, this is then used to set the plan level of the site in atomic persistent data used by wpcomsh to determine the plan level in an atomic context. We need to add support for premium plan leve

[2022-01-04 22:42] obenland opened #59740 "Limited Atomic: Handle woo subs on plan reactivation"
### Details

I don't know if this is needed for business / premium plans but wanted to track it somehwere,

See `A8C\Atomic\Plan_Manager::reactivate_plan()`.

### Checklist

_No response_

### Related

_No response_

[2022-01-04 22:44] obenland opened #59741 "Limited Atomic: Site rewinds"
### Details

Follow up with @fgiannar (re D57811-code ) if supporting site rewinds for premium plans make sense.
If so, add premium plan slug to ` wpcom_transfer_provision_callback_handler()`.

See p9o2xV-1Bd-p2

### Checklist

_No response_

### Related

_No response_

[2022-01-04 22:47] obenland opened #59742 "Limited Atomic: Storage level eligibility"
### Details

Each plan level has different storage quotas.

Update the transfer manager and any eligibility checks to account for different plan level values, at the moment only business level restrictions are checked.

- [ ] `Transfer manager::can_be_transfered()`
- [ ] ` woa_transfer_validate()`
- [ ] Confirm eligibility is checked during /initiate-transfer api call

Storage space quotas per /pr

[2022-01-04 23:39] sirbrillig commented on #59738
Based on that error, this could be related to https://github.com/Automattic/wp-calypso/pull/59547 and this line: https://github.com/Automattic/wp-calypso/blob/f9a4773683019b3d52177a1a9dd4ac05acd4db58/client/landing/gutenboarding/hooks/use-step-navigation.ts#L78

[2022-01-04 23:54] #59738 closed, assigned to kwight

[2022-01-04 23:56] sirbrillig commented on #59738
I believe this is fixed now but please re-open if the issue persists.

[2022-01-05 00:54] sirbrillig commented on #58479
I added commits to https://github.com/Automattic/wp-calypso/pull/57520 that update the e2e tests to use the new system (however, those tests are disabled, so it's possible that my changes won't be as effective as I hope).

[2022-01-05 01:12] jeyip opened #59744 "Launch Checklist: Update Edit Homepage title and button text when using Site Editor"
### Details

The CTA button and card title should have their copy updated when the site editor is enabled.

<img width="1075" alt="Screenshot 2021-12-16 at 18 43 06" src="https://user-images.githubusercontent.com/1182160/146422175-aea29a2f-474b-40e9-bc24-62a489d1f767.png">

See https://github.com/Automattic/wp-calypso/pull/59323#pullrequestreview-834528482 for more context.

### Related

_No respo

[2022-01-05 04:13] arthur791004 commented on #58763
https://github.com/Automattic/wp-calypso/pull/59645 is working on this.

[2022-01-05 06:40] KokkieH opened #59748 "Huntt theme: Archive pages don't load when pressing Back button in Safari"
### Quick summary

In the Huntt premium theme (retired), when clicking Back in the browser to return to the archive page after viewing a single post or portfolio project, the archive page sometimes just doesn't load, and a refresh is needed to have it load again.

### Steps to reproduce

1. View any archive page, i.e. the posts page or the `/portfolio` page
2. Click through to view a specific post

[2022-01-05 06:56] roo2 commented on #58073
Nice work @sgomes I had some minor feedback but it looks really good and solves the issue perfectly 👍

[2022-01-05 07:50] donalirl commented on #59566
Seen in #33488011-hc

[2022-01-05 08:46] Nic-Sevic commented on #58417
Another case here: p1641361706369300/1641361533.369200-slack-C03TY6J1A

I can also confirm it missing on all my test sites

[2022-01-05 08:48] ahmadbaig1 commented on #51540
4659515-zd Suggested workaround.

[2022-01-05 09:23] #59655 closed, assigned to cpapazoglou

[2022-01-05 10:34] kimerlin81 commented on #59595
@NoHopeRadio  - Thanks! I was able to reproduce this on simple and atomic sites.

[2022-01-05 10:43] cpapazoglou opened #59752 "Marketplace: Paid plugins stats"
On the main plugins page (e.g., https://wordpress.com/plugins/), the Featured plugins (or so-called paid extensions) have low or no star ratings. On the other hand, Popular (or so-called free/ freemium plugins) have a higher star rating. Also, some plugins include the number of ratings and the number of installations, but those are missing for the Featured plugins. It would be great if we can have

[2022-01-05 10:47] cpapazoglou opened #59753 "Marketplace: live chat isn't supported on monthly plans"
The plugin details page mentions Live chat support 24 x 7 but the checkout page for the same plugin mention Customer support via email. This inconsistency can cause confusion for the user.

|Plugin Details | Checkout|
|-------|------|
|![image](https://user-images.githubusercontent.com/12430020/148205311-b1225690-bd5d-4c86-bf4d-67d097e82843.png)|![image](https://user-images.githubusercontent.com/1

[2022-01-05 11:33] cpapazoglou opened #59755 "Marketplace: mini cart allows plans to be deleted even when there is a marketplace product in cart"
When there is a marketplace product in cart and the `Business` plan, the plan should not be removable.

![SS 2022-01-05 at 13 33 40](https://user-images.githubusercontent.com/12430020/148211196-6c9bc19b-6fcc-4d9d-b4dd-227938413753.png)

related convo: https://github.com/Automattic/wp-calypso/pull/59732#issuecomment-1005607732

[2022-01-05 11:36] chriskmnds opened #59756 "Tour Kit / Welcome Tour: Extract editor tour configs and logic from ETK to a standalone package"
### Details

As part of the extraction, we'd want to move all the logic for wpcom tour configurations and their display/activation logic to a standalone package (that we can import and use in ETK or elsewhere).

This is part of milestone 3 in the "Tour Kit: Foundations [phase 1] project thread" (to be linked).

A bit of investigation, clarification is needed.

### Checklist

TBD exactly. Rough ske

[2022-01-05 11:42] cpapazoglou commented on #59753
In my opinion, whoever buys a plan & a marketplace product, they should get live chat support regardless of plan interval (monthly or annual).

In that case we should be adjusting the checkout usps to reflect that they will be getting live chat support on top of customer support via e-mail.

[2022-01-05 11:58] cpapazoglou commented on #58895
thanks @poligilad-auto for raising this. I will add some backstory here.

We have got some new checkout confirmation designs as part of the marketplace focus. On the process, we figured out that there was an initiative creating this new component and so we reused it for the marketplace purposes.

https://github.com/Automattic/wp-calypso/blob/0000000000000000000000000000000000000000:/client/my-site

[2022-01-05 12:08] chriskmnds opened #59757 "Tour Kit / Welcome Tour: Extract pagination component into a package"
### Details

The [pagination component](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/pagination.js) used in the welcome tour was borrowed/copied from the Gutenberg [Guide](https://github.com/WordPress/gutenberg/tree/4bbfbc13603d28fcc45368c529954164bf8581de/packages/components/src/guide) component (as per the

[2022-01-05 12:34] #59482 closed, assigned to retrofox

[2022-01-05 12:45] sgomes commented on #58073
The above change has been deployed to production as 237627-wpcom. Please give it a try when you get a chance!

[2022-01-05 13:49] arunsathiya opened #59759 "Feature request: to be able to send out blog post emails based on category"
### What

Users would like to send out default blog post emails (powered by Jetpack) based on categories.

### Why

Visitors don't want to receive all blog posts, rather only categories that they are interested in. At this time, it's not possible to achieve that using WordPress.com default emails, rather have to use a third-party service like Mailchimp and Mailerlite, which is cumbersome because e

[2022-01-05 13:49] arunsathiya commented on #59759
Requested here: 33490023-hc.

[2022-01-05 13:56] mattgawarecki commented on #20480
This appears to be driven by code in another repository. Automatticians can look at line 234 of `wp-login.php`, which takes action on the results of the `login_errors` filter.

[2022-01-05 14:01] arunsathiya opened #59761 "Feature request: Stats: Average view time per visitor, bounce rate and other metrics"
### What

I had a chat with a customer who wanted to see more metrics like "average view time per visitor" and "bounce rate". I am not too sure if the feature request fits here, or on Jetpack repository, but following Bugomattic process, I am flagging it here.

### Why

Metrics like this would give users more insights into how their audience are engaging with the website, and to plan on where to i

[2022-01-05 14:01] arunsathiya commented on #59761
Came up here: 33377995-hc.

[2022-01-05 14:22] andres-blanco commented on #59681
D72526-code

[2022-01-05 14:29] escapemanuele opened #59763 "Welcome Tour: Slide view tracking records only first step view"
### Quick summary

In `tour-card.js` we record the event `calypso_editor_wpcom_tour_slide_view`.
It should record one event per slide view per session, but it instead is now broken and only records the first view.

Related to [59700](https://github.com/Automattic/wp-calypso/issues/59700)

### Steps to reproduce

1. Open Welcome Tour
2. Check when `recordTracksEvent` is called

### What you expecte

[2022-01-05 15:05] Rolilink opened #59766 "Woo Installer: Industry Step"
Create the about your business step in the new woo installer. seen in the original flow
![Screen Shot 2022-01-04 at 11 58 41 AM](https://user-images.githubusercontent.com/1035546/148240061-20ac0c37-809d-4550-8538-c6757c4d6143.png)

This component needs to:
- [ ] Show a list of industries so the user can select multiple ones.
- [ ] Save the user selection.
- [ ] Show the user selection when visited

[2022-01-05 15:46] tbradsha opened #59768 "[Bug]: Nav unification menu doesn't update after installing Jetpack CRM"
### Quick summary

I'm not quite sure where the failure lies, but essentially the Jetpack CRM menu items don't show after install until one refreshes the page.

It only did this on the initial Atomicization + install + activate.

### Steps to reproduce

1. Create a new WordPress.com site with a Business plan
2. Go to plugins and search for CRM
3. Installed Jetpack CRM from the search results

Duri

[2022-01-05 15:47] #58499 closed, assigned to JulianBustamante

[2022-01-05 15:52] devNigel opened #59769 "Cover Block: The image is not shown on Firefox when Duotone filter is applied."
### Quick summary

The cover block image does not load in the Firefox browser after you apply the Duotone filter on it.

### Steps to reproduce

1. Add Cover block to a page or a post.
2. Apply Duotone filter and publish the page.
3. Observe the page on Firefox and Chrome.
4. You will notice that the image is loading on Chrome, but not in Firefox.

Screenshot from Chrome:

![image](https://user-im

[2022-01-05 16:03] kwight commented on #59738
Yep, all good again – thanks @sirbrillig !

<img width="1271" alt="Screen Shot 2022-01-05 at 8 02 38 AM" src="https://user-images.githubusercontent.com/349751/148249104-4fc85507-e0d8-406c-8544-03911c0ac739.png">

[2022-01-05 16:08] cpapazoglou commented on #17490
Closing this as "Back" is now handled here

https://github.com/Automattic/wp-calypso/blob/72ce1941439b08128fb68842f7524c152d2618a1/client/my-sites/plugins/plugin-details.jsx#L179-L189

always leading to the Plugins List
![SS 2022-01-05 at 18 08 19](https://user-images.githubusercontent.com/12430020/148249931-7d261569-e8a0-4079-8ddc-347fa0fb2d0e.gif)

[2022-01-05 16:08] #17490 closed

[2022-01-05 16:20] ghost opened #59770 "Slideshow Block does not load on older versions of iPads"
### Quick summary

A customer shared that their visitors with version 10.3.4 are seeing a blank homepage and their Slideshow is not visible. Other pages with single images load fine. Site: http://philliphowe.art

But the Slideshow block loads fine on ipad version 13.3.1 and  15.2.

I tested on BrowserStack and found that versions below 12 are having this issue. Sharing screenshots further.

### St

[2022-01-05 16:57] cpapazoglou commented on #20275
I am closing this cause I can't reproduce it anymore. If that's not the case, please reopen it.

[2022-01-05 16:57] #20275 closed

[2022-01-05 17:59] zaguiini commented on #59371
Discussion: paYE8P-1np-p2

[2022-01-05 18:11] the-misha commented on #59388
Also here: 4629479-zd-woothemes

[2022-01-05 18:17] DustyReagan commented on #59481
D72489-code adds these fields to the whitelist.

[2022-01-05 18:20] cpapazoglou commented on #39585
I am closing this, cause since then a user just needs to upgrade to a business plan
<img width="1599" alt="SS 2022-01-05 at 20 19 22" src="https://user-images.githubusercontent.com/12430020/148268419-c5abf12d-f4a5-4f01-ba0f-29c11e8f442b.png">

Please reopen if I am missing something.

[2022-01-05 18:20] #39585 closed

[2022-01-05 18:27] sirbrillig opened #59773 "Investigate cart not updating post-checkout if using 3DS in signup"
From https://github.com/Automattic/wp-calypso/pull/59746#issuecomment-1005966624

[2022-01-05 18:28] sirbrillig opened #59774 "Masterbar should probably not be visible on post-checkout pending page"
Split from https://github.com/Automattic/wp-calypso/pull/59746

[2022-01-05 18:31] cpapazoglou commented on #40336
This should be working correct now!

[2022-01-05 18:31] #40336 closed

[2022-01-05 18:40] cpapazoglou commented on #43230
This is still relevant for the Marketplace efforts

[2022-01-05 18:44] cpapazoglou commented on #44627
Plugins Browser got redesigned as part of the Marketplace
![Uploading SS 2022-01-05 at 20.44.34.png…]()

[2022-01-05 18:44] #44627 closed

[2022-01-05 18:46] #59681 closed, assigned to andres-blanco

[2022-01-05 18:46] cpapazoglou commented on #50663
Closing this as we don't have suggested terms in the new design
<img width="1590" alt="SS 2022-01-05 at 20 44 34" src="https://user-images.githubusercontent.com/12430020/148271690-6726b77a-157e-4c23-bf5d-0efdf2674496.png">

[2022-01-05 18:46] #50663 closed, assigned to nobody

[2022-01-05 19:08] andres-blanco commented on #59737
I've updated PCYsg-D3I-p2

[2022-01-05 20:13] ariel-maidana opened #59777 "Cover block with Duotone filter doesn't show background image in Firefox"
### Quick summary

On a site with the Barnsbury theme active, cover blocks with a Duotone filter don't show the background image in Firefox.

This is the cover block in the editor:

![Duotone 01](https://user-images.githubusercontent.com/4965723/148282075-f732175b-8763-477f-af79-4d4e0e55e632.png)

This is the cover block when viewing the page:

![Duotone 02](https://user-images.githubusercontent.c

[2022-01-05 20:57] ianstewart opened #59778 "Add New Page: Add tracks events to category selection"
We don't appear to have tracks events for category selection. It would be nice to have for quick analysis of category popularity.

![image](https://user-images.githubusercontent.com/545779/148288380-c00e2ca2-87c3-4f00-8200-3189bb7e9260.png)

[2022-01-05 20:58] ianstewart commented on #59383
Combining them makes sense, keeping the full "Link in Bio" phrasing.

[2022-01-05 21:54] tavilla61 opened #59780 "Button Block visible in Editor, but not in Preview or on the live site"
### Quick summary

The Button Block is within a Media & Text Block, and is visible in the editor, but not when previewing or visiting the live site. It seems to be taking on the background color of the Media & Text Block.
<img width="1856" alt="Screen Shot on 2022-01-05 at 14-02-31" src="https://user-images.githubusercontent.com/33466168/148294561-9251ccdd-5fe5-4267-a676-4ee7066b1f7a.png">
<img wi

[2022-01-05 23:54] jordesign opened #59787 "Duotone image filter not working on Simple Sites or AT sites with Gutenberg active"
### Quick summary

Duotone image filter appears to not display on the front end on Simple Sites, or when the Gutenberg plugin is active on AT sites. Image appears correctly (duotone) in the editor, but displays in full color on the front end.

### Steps to reproduce

1. Start a new page on a Simple Site, or Atomic site with Gutenberg plugin active
2. Insert an image and make it duotone
3. Publish

[2022-01-05 23:54] jordesign commented on #59787
Nothing that we will need a core GB issue for this - but I wanted to open a stub for us to track things here.

[2022-01-05 23:56] cuemarie opened #59788 "Blockbase on Non-FSE Sites: Link Previews prioritize image on page over Site Icon when no featured image is set"
### Quick summary

Not sure if this is a bug or intended behavior, but it doesn't quite match our documentation, so I wanted to report it.

On a non beta-editor site with a Blockbase theme installed, the theme seems to recommend images added to the page rather than the site icon for link previews, when no featured image is added to the homepage.

### Steps to reproduce

1. Activate a Blockbase the

[2022-01-06 00:06] jordesign commented on #59787
Turns out there is an issue already.....
https://github.com/WordPress/gutenberg/issues/37598

[2022-01-06 00:13] arinoch opened #59789 "SFTP: Allow for public key login."
### What

Allow users to upload a public key for login to their SFTP environment.

### Why

Increases site security, and may be a popular feature for more technical users, such as developers.

### How

_No response_

[2022-01-06 00:14] arinoch commented on #59789
Requested by a user in 4663184-zd-woothemes.

[2022-01-06 02:53] kosiew opened #59793 "Embed Block: add support for https://live365.com/"
### What

[Embed Block](<https://wordpress.com/support/wordpress-editor/blocks/embed-block/>)<br>Please add support for [https://live365.com/](<https://live365.com/>)

### Why

Customer request - #4656710-zen

### How

n/a

[2022-01-06 05:14] masperber opened #59794 "Manage Reusable Blocks causes Grey Screen of Death"
### Quick summary

4659976-zen / 33326429-hc
Choosing `Manage Reusable Blocks` from the block options menu causes a grey screen of death with `<site> refused to connect`

https://user-images.githubusercontent.com/12906034/148331454-f5536af7-efe5-4ace-a9b0-26d3b6819462.mp4

Other methods of reaching the Manage Reusable Blocks page do not cause this issue.

### Steps to reproduce

1. Open a Post wit

[2022-01-06 05:33] arthur791004 commented on #58372
Close it as D71330-code and https://github.com/Automattic/wp-calypso/pull/59060 are shipped 🎉

[2022-01-06 05:33] #58372 closed, assigned to arthur791004

[2022-01-06 05:43] Robertght commented on #35942
Another request here: 4663612-zen

[2022-01-06 08:01] cpapazoglou commented on #59755
After discussing with @sirbrillig we should move this logic

https://github.com/Automattic/wp-calypso/blob/ba2918dad5f3fb44745ad62a6b3a0f88eb8b6a89/client/my-sites/checkout/composite-checkout/components/wp-order-review-line-items.tsx#L179-L182

from the client to the server side like it's done in the `shopping-cart.php?r=237353#1885`

[2022-01-06 08:09] cpapazoglou commented on #52510
Just tried installing Mailpoet from my second "invited" account through Calypso and seems working:
- The button appears
- Installation goes through as expected

<img width="1333" alt="SS 2022-01-06 at 10 08 38" src="https://user-images.githubusercontent.com/12430020/148350316-40b55742-3384-48f7-874f-329ca94727c8.png">

<img width="1588" alt="SS 2022-01-06 at 10 09 03" src="https://user-images.gith

[2022-01-06 08:09] #52510 closed, assigned to nobody

[2022-01-06 08:14] zdenys commented on #59787
It has been reported already some time ago and transferred to Themes repo 🤷‍♂️ https://github.com/Automattic/themes/issues/5259

[2022-01-06 09:20] #57102 closed, assigned to gavande1

[2022-01-06 10:01] gavande1 commented on #59406
Deployed r237701-wpcom

[2022-01-06 10:26] #59406 closed, assigned to gcsecsey

[2022-01-06 10:47] liviopv opened #59800 "List of Pages (/pages) doesn't load on Calypso"
### Quick summary

In the past two days, I had 3 chats where the users cannot load the list of Pages in Calypso. In all cases, I was not able to reproduce in a support session, but the user was experiencing it consistently. Browser/network troubleshooting didn't seem to affect the user's experience, but sometimes, switching devices has, but not consistently in all cases.

All users have been able

[2022-01-06 10:48] carinapilar commented on #56180
Another request on 33512532-hc

[2022-01-06 11:33] Robertght commented on #59800
Another case in #4664556-zen

[2022-01-06 11:51] carinapilar opened #59801 "Editor Keeps Scrolling Up"
### Quick summary

When you have a specific combination of blocks, you can't scroll down, once you do the page jumps up.

### Steps to reproduce

1. Create a new post
2. Add a Carousel block, select the Full Scroll variation when creating the block
3. Select some images, and choose the XL Size option in the settings
4. Add some Paragraph blocks under the Carousel block
5. Add a Spacer block at the

[2022-01-06 12:24] carinapilar commented on #59800
Not sure if it's the same issue, but we also got a report on 31841098-hc - but for Posts, when using Firefox.

[2022-01-06 12:37] gcsecsey opened #59804 "Display billing period switcher on free plugins page, send billing period to checkout page"

[2022-01-06 12:40] cpapazoglou commented on #59696
Let's add the Billing interval switcher to free plugins too.
https://github.com/Automattic/wp-calypso/blob/72ce1941439b08128fb68842f7524c152d2618a1/client/my-sites/plugins/plugin-details.jsx#L221-L230

Also, the redirect to checkout should respect the the billing interval switcher state here

https://github.com/Automattic/wp-calypso/blob/b16a0769a4d4df7c0656b9fbf830e489441579da/client/my-sites/plu

[2022-01-06 12:40] gcsecsey commented on #59696
Currently on free plugins the billing period switcher isn't displayed.

| Free plugin | Paid plugin |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/11555574/148384296-d090f920-a4b2-45d4-b413-b3af15bba91e.png) | ![image](https://user-images.githubusercontent.com/11555574/148384331-19105c01-cab5-41b5-85af-b0cc08783535.png) |

We could add it to free plugin pages as well to strea

[2022-01-06 12:41] kimerlin81 opened #59805 "Simple Sites Only: Unable to edit page/post that has no content"
### Quick summary

When you create a new page or post where the content area is empty, you will not be able to load the page and edit it afterward.  This is currently only happening on simple sites.

### Steps to reproduce

1. Add new Page/Post
2. Insert a title
3. Save as draft or publish page
4. Click Edit page
5. Notice the page never loads (see video below)

https://user-images.githubuserconte

[2022-01-06 12:46] Robertght commented on #59800
Another one with Pages here: #15669416-hc

They were using Firefox 63 but even after updating the pages wouldn't show up. The drafts are visible though.

Weirdly on Chrome, their site can't be accessed at all.

[2022-01-06 12:50] cpapazoglou commented on #59397
Here is how it displays in the start new site
<img width="1573" alt="SS 2022-01-06 at 14 44 24" src="https://user-images.githubusercontent.com/12430020/148385005-e79b534f-1cac-4aa6-ad0f-c36b8b04804e.png">

we are using a select dropdown in mobile breakpoints so replicating above is not straightforward.
<img width="606" alt="SS 2022-01-06 at 14 49 18" src="https://user-images.githubusercontent.com/

[2022-01-06 12:52] gcsecsey commented on #59711
Let's also remove the margin/padding below the tabs, when no tabs are displayed.

[2022-01-06 12:53] rickmgithub commented on #59800
Another here - #4664723-zd

They can't access posts or pages. I can replicate this on Firefox and Chrome on my Mac.

[2022-01-06 12:53] kimerlin81 commented on #59805
Affected user - 4664361-zd-woothemes

[2022-01-06 13:11] cpapazoglou commented on #57816
@dlind1 this issue aims in having translations ready for the WPCOM Marketplace, not creating the mechanism. Let's create the translations for the woocommerce.com and then we will find a way how to reused them in WPCOM Marketplace. Probably we can start with our current supported extensions and our next batch (pdh6GB-9D-p2#comment-335).

[2022-01-06 13:18] vajrasar commented on #58457
We can take the following approach

- We generate tickets related to the user query in ZD and route it to the platform that the third-party support team uses to provide support to the users.
- There exists a macro in ZD related to the third-party that helps with adding relevant tags, and note template.
- We establish a way on how the third-party can send the email back to us (if the user asks any

[2022-01-06 13:32] aleone89 commented on #59800
This is also starting to be mentioned on Twitter:

https://twitter.com/DimitheGreat85/status/1479072222274891778
https://twitter.com/judefire33/status/1479059429412773892
https://twitter.com/sacosw/status/1479059849854033924

[2022-01-06 13:41] rickmgithub commented on #59800
Another but on posts - #27137708-hc

I was able to view it this time and switched to the wp-admin classic view for them which then gave them access on a browser refresh

[2022-01-06 13:54] kwight opened #59808 "Videos UI: Long titles can be cut off."
Video titles can be cut off, if long enough – which can happen with certain languages that tend to have more characters than English. A long English title can be made more concise in the management system, but this isn't an option for translations.

Reported by @emilyaudela in pdgK6S-jM-p2#comment-763

![long-titles](https://user-images.githubusercontent.com/349751/148393061-bb8ad474-8925-47bd-a83

[2022-01-06 13:55] kwight commented on #59808
@ollierozdarz How do you feel about multiple lines vs. the ellipsis approach?

[2022-01-06 13:55] klimeryk commented on #59800
FWIW, this has been escalated to both Calypso and Sysops and they're looking into it: p1641475924057700-slack-C02AVAR9B and p1641468811026200-slack-C02DQP0FP.

[2022-01-06 14:17] essleeung commented on #59800
I was able to see the Pages, but user can't. Potentially another case here 4664779-zd-woothemes.
Have also asked user to clear browser cache.

[2022-01-06 14:25] aleone89 commented on #59800
Another report on the forums here: https://wordpress.com/forums/topic/cannot-access-posts/?view=all#post-3774681

[2022-01-06 14:36] klimeryk commented on #59800
Should be fixed now - please ask affected users to refresh (ideally, hard refresh, clean cache, etc.).

[2022-01-06 14:36] #59800 closed, assigned to nobody

[2022-01-06 14:52] tbradsha commented on #40336
🥳

[2022-01-06 14:54] marianearchimbaud commented on #59805
I faced the same issue with this user 30018712-hc

[2022-01-06 14:54] aleone89 commented on #59800
This also came up the forums in the following places.

https://wordpress.com/forums/topic/editor-wont-load-2/?view=all
https://wordpress.com/forums/topic/lochranhanratty-blog-allposts-is-not-loading/?view=all
https://wordpress.com/forums/topic/edit-my-pages/?view=all
https://wordpress.com/forums/topic/edit-process-cant-load/?view=all
https://wordpress.com/forums/topic/unable-to-edit-pages-stated-i

[2022-01-06 15:18] nickpagz commented on #59805
Another report in 17636354-hc

Additional testing notes from a slack thread:
"It’s still happening on my test site as well, so definitely seems to be a different issue. It also seems the post or page can be published or draft, and have a page title - but as long as the content area is empty, the editor won’t load from calypso."

"Interestingly, adding any content fixes it, even if the content is t

[2022-01-06 15:19] ClassicRKR27 commented on #59805
Had another incident here where the Drafts were not visible until switching to Classic View: 33158110-hc

The issue is now resolved for this user.

[2022-01-06 15:32] cpapazoglou commented on #59755
Here is the diff and testing instructions
D72599-code

[2022-01-06 15:48] LauraSWP commented on #59805
These users had similar issues and clearing cache fixed it:
- 28592169-hc
- 33516961-hc
- 33513649-hc

[2022-01-06 15:50] artpi commented on #41176
There are ongoing issues with INR support due to changing legal landscape around the particular API we are using

[2022-01-06 15:53] artpi commented on #41824
I am closing this issue since it does not look like it's a problem any more

[2022-01-06 15:53] #41824 closed

[2022-01-06 16:01] artpi commented on #49015
This seems the same as #44844

[2022-01-06 16:14] artpi commented on #53256
This is not size S. The button is at the end to make you load the entire list because CSV is rendered on frontend.

[2022-01-06 16:18] artpi commented on #52184
This is related to:
https://github.com/Automattic/wp-calypso/issues/41633

[2022-01-06 16:55] cuemarie commented on #59560
Hey @kosiew! Thanks for taking a look at this. Given our inability to reproduce, my gut here is that this was a single user issue, in the instance I reported.

This user is with us a lot, so I've scanned their last few interactions with us since their original reports, and as far as I can tell they haven't brought it up again.  Do you think this is worth opening up with them further, or would you

[2022-01-06 16:58] Addison-Stavlo opened #59813 "Tracking Issue - 5.9 FSE Issues"
FSE Beta Sites:
* https://github.com/Automattic/wp-calypso/issues/59814

Non-beta Sites:
* https://github.com/Automattic/wp-calypso/issues/59817

Legacy FSE Sites:
* https://github.com/Automattic/wp-calypso/issues/59816
* NOTE - Expected other bugs regarding template parts in legacy FSE, but unable to test without accessing a page. Ideally we are able to migrate legacy FSE sites before 5.9 is laun

[2022-01-06 17:00] Addison-Stavlo opened #59814 "FSE Beta Sites - Duplicate Editor buttons in 5.9"
Running 5.9 on dotcom for an FSE beta site, we can see that there are multiple "Editor (beta)" buttons available:

![Screen Shot 2022-01-06 at 11 56 50 AM](https://user-images.githubusercontent.com/28742426/148420767-95b1da69-925c-451a-83f7-50d76b1bb186.png)

Only 1 of these 3 takes the user to the calypso integrated site editor.

We need to handle this conflict and remove the duplicates.

[2022-01-06 17:04] allilevine opened #59815 "Woo Installer: Release plan for Woo onboarding steps"
We need to clean up where the `woop` config flag is used.

[2022-01-06 17:04] allilevine commented on #59815
PR: https://github.com/Automattic/wp-calypso/pull/59785

[2022-01-06 17:08] Addison-Stavlo opened #59816 "Legacy FSE - page list empty on 5.9"
Running 5.9 on dotcom and loading a legacy FSE site gives this result in the calypso page list:

![Screen Shot 2022-01-06 at 12 05 06 PM](https://user-images.githubusercontent.com/28742426/148421907-87deaf8a-76ed-4c60-a730-0997c45fe701.png)

Once moving back from 5.9, the home page shows up in the list as expected.

[2022-01-06 17:20] Addison-Stavlo opened #59817 "Universal 'Classic' Sites - Site Editor button in 5.9"
Running a universal theme in 'classic' mode has a site "Editor (beta)" button available when running WP 5.9:

![Screen Shot 2022-01-06 at 12 19 35 PM](https://user-images.githubusercontent.com/28742426/148423604-f26f9ca0-1b02-4a73-b36c-212f0be2c186.png)

This should not be available for sites outside of the beta.

Possibly related - https://github.com/Automattic/wp-calypso/issues/59814

[2022-01-06 17:26] ahmadbaig1 commented on #51787
4665392-zen

[2022-01-06 17:49] Camaropilot commented on #54785
I would like to add a +1 to this issue. User in Italy says: "people now need to have the option of: accepting cookies, customize cookies, or reject"
4665472-zen

[2022-01-06 18:09] Addison-Stavlo opened #59818 "Site Editor "< Dashboard" button fails on template/part navigation views."
### Reproducing the Issue

In a FSE beta site open the site editor through calypso. Click the "W" button in the top left to open the navigation sidebar.

The "<Dashboard" button works when we are on the site editor screen. Hovering the "< Dashboard" button in this state shows the proper exit to calypso home:

![Screen Shot 2022-01-06 at 12 59 54 PM](https://user-images.githubusercontent.com/287424

[2022-01-06 18:13] kwight opened #59819 "Videos UI: Some courses jump layout width when loading a video."
When creating a new course, I noticed that the videos were jumping width (from narrow to the correct width) whenever selecting a new videos to play. This does not happen with the one course currently in production at My Home.

| Production | Localhost |
| --- | --- |
| ![2022-01-06 10 05 12](https://user-images.githubusercontent.com/349751/148430092-8a3ba791-ead5-407e-860e-449b816c329c.gif) | ![20

[2022-01-06 18:14] kwight commented on #59819
It seems the width of the initial `<video />` element might not be the full width of its container, but I'm not sure why that would be different between courses. The two videos on localhost are the same width two (which is the same width as the production videos). 🤔

[2022-01-06 18:31] artpi commented on #59278
The button is at the end to make you load the entire list because CSV is rendered on frontend from the data you loaded

Same as #53256

It would require just looping through the entire list and loading it over API to generate CSV, but wouldn't be too much work

[2022-01-06 18:43] JoshuaGoode opened #59820 "Plans: Manage plan reporting incorrect ownership information, prevents plan management under Plans > My Plan"
### Quick summary

My Sites > Upgrades > Plans > My Plan - https://wordpress.com/plans/my-plan/SITE - is displaying incorrect ownership information and preventing plan owners from clicking `Manage plan`.

Attempting to `Manage plan` there displays:

![Screen Shot on 2022-01-06 at 13:15:13](https://user-images.githubusercontent.com/4887830/148433781-61b657f0-e18b-4c65-a6ec-aa64bc52d700.png)

The wo

[2022-01-06 18:54] kwight commented on #59819
The smaller loading video can be reproduced by network throttling.

[2022-01-06 18:59] #59815 closed, assigned to Rolilink

[2022-01-06 19:07] kwight opened #59821 "VIdeos UI: Managing a video's info and poster is frustrating."
Because the course videos are kept in the Media Library, having to jump back and forth from a course post and the media list (and beyond) is awkward and full of friction. Let's add two links to the video sorting UI, to give the user direct access for updating info and the poster.

<img width="861" alt="Screen Shot 2022-01-06 at 11 03 15 AM" src="https://user-images.githubusercontent.com/349751/148

[2022-01-06 19:10] kwight commented on #59821
The Change Thumbnail link should go right to the open Edit modal in Calypso, but this is currently not possible. We might be able to add the open modal behaviour with a query param, or a worst case scenario we would just link to Calypso's media manager.

[2022-01-06 19:12] zaguiini commented on #58930
I'd prefer keeping `Recommended` and removing the FSE tab if running an FSE theme. We might decide to show more than only block-based themes in the tab so naming back-and-forth would hurt UX.

[2022-01-06 19:15] zaguiini commented on #59371
One way of doing that would be to implement changesets.

The idea is to initially implement a single draft state so one could have an immediate backup point. From there, we could extend this functionality by implementing multiple draft versions and, most importantly, finally allowing previews directly in the browser instead of inside the editor.

The draft state would contain several bits of chang

[2022-01-06 19:20] Addison-Stavlo commented on #58930
Why not just have `Recommended` always show the same recommended themes, and the "Full Site Editing" tab only FSE. That way it would not be redundant, and the recommendations would always be consistent.

[2022-01-06 19:23] mikeicode commented on #59805
I’ve run into this on multiple sites today. I’m building new DIFM-L sites and start by creating blank pages. Then when I returned to edit the page it wouldn’t load. FF & Chrome. Tried clearing the cache in Chrome, no change.

[2022-01-06 19:26] sguzovskaia commented on #59805
Another one: 16272182-hc
Creating a new blank page or trying to edit the draft without content results in this bug.
Workaround in this case: creating another page with the Coming soon template worked.

[2022-01-06 19:42] jeyip commented on #58930
I vaguely remember working on something related a few months ago when I was making modifications to the theme showcase beta badges. I'm trying to find discussions related to this but am having some trouble. I'll update with comments if I uncover any links, but if I recall correctly, this was the ideal state.

If normal recommended themes + FSE beta themes is something that isn't too critical to su

[2022-01-06 19:43] jordesign commented on #59787
Bringing over the interactions from https://github.com/Automattic/themes/issues/5259 as this is a GB issue instead of theme issue:

* #4634506-zen
* #4634686-zen
* #4644527-zen
* #4634686-zen
* #4636226-zen
* https://wordpress.com/forums/topic/duotone-now-not-working-on-my-site-suddenly/?view=all#post-3773186
* #4652083-zen

[2022-01-06 19:50] JoshuaGoode commented on #59820
#### Findings
The button checks for product ownership and disables if the user isn't:
https://github.com/Automattic/wp-calypso/blob/40853249648188a38f4ccbdb205f8e2b108a7c7f/client/my-sites/plans/current-plan/purchases-listing.jsx#L219

Something somewhere is causing `isProductOwner` to return false in the context of this page.

https://github.com/Automattic/wp-calypso/pull/59549 and the related PR

[2022-01-06 20:03] jordesign opened #59824 "cli"

[2022-01-06 20:09] jordesign commented on #59824
OPened (somehow) in error

[2022-01-06 20:09] #59824 closed, assigned to nobody

[2022-01-06 20:11] mxhassani opened #59825 "Classic block → Convert to blocks not responsive when the block contains a specific string"
### Quick summary

Any Classic Block containing this string `<p> </p>` **in the HTML** code can't be converted to blocks. The button "Convert to blocks" is visible, clickable, but does nothing, not even a console error.

### Steps to reproduce

1. Add Classic block
2. Edit it as HTML (or skip 1. and add an HTML block)
3. Add `<p> </p>`
4. Optional: Add anything else
5. Go back and edit the block v

[2022-01-06 20:25] kwight commented on #59821
Edit Video link: D72634-code

[2022-01-06 20:50] sajmes opened #59827 "Arbutus menu locations not functioning as expected"
### Quick summary

A user reported not being able to hide their primary menu which was being displayed in the footer (social menu location) of their simple site using Arbutus despite not being set to do so.

When the no menu is set to display in the primary menu location, the menu still displays there as well.

I could replicate on my own site.

### Steps to reproduce

1. Set a primary menu and to

[2022-01-06 21:04] sguzovskaia commented on #59805
4666024-zen
Site is on Business plan pre-Atomic: homepage without content is not opening to edit. Going AT resolved this.

[2022-01-06 21:43] metabreakr opened #59829 "Libre 2: Drop-down menus don't scroll on some viewport/screen sizes"
### Quick summary

Depending on the size of a user's browser window, a drop-down submenu cannot be scrolled if the menu items aren't visible outside the viewport. This seems to be an issue with the ratio of the screen size, though that's conjecture on my part.

Here's a screencast:

![Screen Capture on 2022-01-06 at 14-32-27 (3)](https://user-images.githubusercontent.com/39252765/148456170-2660738

[2022-01-06 21:48] backwardstruck opened #59830 "[Bug]: Hello! The write post button isn’t working https://wordpress.com/read"
### Quick summary

The write post button isn’t working for me on https://wordpress.com/read

@astralbodies was also able to confirm.

It's happening on Chrome and Safari so far. With AutoProxxy turned on.

If I right click and open the link in a new tab (while hovering over the button) I can still get to the form. So the Gutenberg editor is still fine. It looks like the button itself is broken. It

[2022-01-06 21:54] obenland commented on #55547
It looks like the referenced work has been completed. How does that affect this ticket?

[2022-01-06 21:55] obenland commented on #58430
Where should that text live instead?

[2022-01-06 22:02] DavidRothstein commented on #53256
I think the size S was specifically for this:

Although apparently not so small that someone actually bothered to try it :smile:

[2022-01-06 22:06] donalirl commented on #43919
#4663722-zen

[2022-01-06 22:11] retnonindya commented on #59659
Closing in favor of #59820

[2022-01-06 22:11] #59659 closed, assigned to nobody

[2022-01-06 22:20] Rolilink opened #59833 "Woo Installer: Address Step - Add Country/Region Dropdown"
<img width="647" alt="Screen Shot 2022-01-06 at 4 15 25 PM" src="https://user-images.githubusercontent.com/1035546/148460619-83187363-c0be-47cd-8bac-c521b61c2fda.png">

- [ ] Country dropdown should show both country and region like in the original wizard.
- [ ] It should save `woocommerce_default_country` as a `country_code:state_code` pair.

related convo: p1641503438069500-slack-C029UPVMGTW

[2022-01-06 22:24] allilevine commented on #58430
@obenland In the step itself, as opposed to this config file for the steps. I should've linked to [the comment](https://github.com/Automattic/wp-calypso/pull/58024#discussion_r755124589) that prompted this.

[2022-01-06 22:34] obenland opened #59834 "Limited Atomic: Plan information in sidebar doesn't update"
Removing your subscription on an atomic site leaves the sidebar and calypso assuming you're on a business plan even though you're not. Guess it's checking AT status and making an assumption.

[2022-01-06 22:36] obenland opened #59835 "Limited Atomic: Ensure downgrade path from business to premium works smoothly"
Ensure downgrade path from business to premium works smoothly as HE's will need this option

[2022-01-06 23:14] JoshuaGoode commented on #59834
Atomic sites rely on the `jetpack_active_plan` option for the plan info and capabilities.   At least the plan info in the sidebar.

IIRC, that only syncs up on a daily heartbeat or after a plan upgrade.

For testing, and a workaround for HEs, you can force it to sync up by going to My Site > Jetpack > Dashboard.

[2022-01-06 23:24] JoshuaGoode commented on #59834
A little more context for some of the options.

- `jetpack_active_plan` would definitely be what's changing, or not changing, things in the sidebar and some of the site's capabilities. Waiting for the daily heartbeat or manually syncing it by visiting Jetpack's dashboard is possible but I'm not sure what plan options ya'll are setting.

https://github.com/Automattic/wp-calypso/issues/53294#issueco

[2022-01-06 23:43] autumnfjeld commented on #59383
To confirm, we will

* combine the About & Link in Bio categories into a single category
* this combined category will be titled "About & Link in Bio"

[2022-01-07 00:26] JoshuaGoode commented on #59820
Fixed via https://github.com/Automattic/wp-calypso/pull/59831

p1641514577014100/1641493829.006200-slack-C02FMH4G8

Thanks, @cbauerman!

Closing.

[2022-01-07 00:26] #59820 closed, assigned to cbauerman

[2022-01-07 00:49] essleeung commented on #53626
Another one here- 32219231-hc
Did the Public- Coming soon- Public settings save to fix it.

[2022-01-07 01:02] autumnfjeld commented on #57667
Hi @worldomonation  @Automattic/ganon-bloggers  could work on this.   I'd just like to clear up a few points of confusion:

* Gutenboarding is /new (not /start). Is your mention of /start in the issue description a mistake?
* As far as I understand we don't provide any external links to wordpress.com/new -- /new is for existing users only, accessible via CTAs in Calypso.   So we wouldn't expect an

[2022-01-07 01:08] gutenberg-plugin-upgrade-bot[bot] opened #59840 "Gutenberg: v12.4.x plugin upgrade"
Previous upgrade: #59618
Release notes: [v12.4.1](https://github.com/WordPress/gutenberg/releases/tag/v12.4.1)

**Install and activate**
- [x] Copy & install v12.4.0-rc.1 (D72914-code, D72917-code)
- [x] Activate v12.4.0-rc.1 on edge (D72920-code)
- [x] Copy & install v12.4.0 (D73384-code, D73388-code)
- [x] Activate v12.4.0 on edge (D73389-code)
- [x] Activate v12.4.0 on production (D73391-code)

[2022-01-07 01:47] donalirl commented on #59805
Seen in #33503649-hc. Confirmed in Support Session. Clearing cache on user end did not help.

[2022-01-07 02:55] arthur791004 commented on #59805
I'm sorry about this as I shipped https://github.com/Automattic/wp-calypso/pull/59525 yesterday to avoid the white screen between loading placeholder and loaded editor. However, it only works when the page/post is new (without title and content) or the page/post has any content. Otherwise, the page/post will keep showing the loading placeholder. I'll fix this issue soon 🙇

[2022-01-07 03:20] roo2 commented on #59428
As far as I can find out, All of the links in calypso are already using the _Primary_ domain, and so, no further action is needed since @delputnam's fix here D71776-code

[2022-01-07 03:20] #59428 closed, assigned to roo2

[2022-01-07 03:43] arthur791004 commented on #59805
This issue should be fixed. Could you help me to check it, thanks!

[2022-01-07 04:28] arunsathiya commented on #56972
4664133-zen as well. Let them know we don't have a workaround at this time.

[2022-01-07 04:48] nickpagz commented on #59805
@arthur791004 I'm on weekend so can't do much testing atm, but I tried again on my test site where I first tested this and it seems to be working now without any issues. Seems to be fixed now, though I've only tested on a simple site. Not able to test on Atomic atm.

[2022-01-07 07:04] donalirl commented on #59805
@arthur791004 It is indeed working again for the simple site case I reported - thank you!

[2022-01-07 07:20] arthur791004 commented on #59805
Thank you for checking again 👍

[2022-01-07 08:54] #59695 closed, assigned to cpapazoglou

[2022-01-07 10:15] kimerlin81 commented on #59805
Update: Where this wasn't an issue affecting Atomic sites yesterday, it seems to now only be affecting Atomic sites.
This issue is now fixed on Simple sites. I've confirmed by checking pages created yesterday on my simple test sites and on sites from various user reports. I also created new pages on Simple sites today (following the steps above) and they load fully after a slight delay.

[2022-01-07 10:20] arunsathiya opened #59846 "Multiple themes: Spacer block crashes"
### Quick summary

The "Spacer" block crashes on adding to a page or post with Hemingway Rewritten theme.

### Steps to reproduce

- Start with a WordPress.com site.
- Activate Hemingway Rewritten theme on it.
- Create a page or a post.
- Add a "Spacer" block.
- See that it crashes on adding to the page/post.

### What you expected to happen

The block does not crash.

### What actually happened

[2022-01-07 10:32] IoanaAMuresan commented on #59800
Another instance here: 33530086-HC - today (Fri); customer could work in classic view but issue persists even when using another machine.
(I created a ticket for following up.)

[2022-01-07 10:41] chriskmnds commented on #59757
bumping this to `[Pri] High` cause we need this extracted and  cleaned up as part of the variant extraction.

[2022-01-07 10:43] arunsathiya opened #59849 "Feature request: Social icon for Xing.com on Social Icons Block"
### What

Icon requested for xing.com (a social network) for the [Social Links block](https://wordpress.com/support/wordpress-editor/blocks/social-links-block/).

### Why

Customer request: 33529163-hc.

### How

_No response_

[2022-01-07 10:43] arunsathiya commented on #59849
I think this block is Jetpack feature. So, may be moved there?

[2022-01-07 10:51] kimerlin81 commented on #59805
4666917-zd-woothemes reported, but when I just tested on their end this issue seems to be resolved.
However, I can still reproduce this on my Atomic test sites after clearing cache so I don't believe this is fully resolved.
I'm not sure why some Atomic users are not affected by this.

[2022-01-07 11:08] marutim commented on #59846
I can replicate the same issue with Dara theme.

<img width="1065" alt="image" src="https://user-images.githubusercontent.com/3498917/148535376-5169d538-f426-4b71-b839-dbbf8a919e7a.png">

[2022-01-07 12:36] danielk-am opened #59852 "Blocks saved in Customizer > Widgets, but not showing up in Appearance > Widgets."
### Quick summary

https://user-images.githubusercontent.com/92185881/148543238-7dde144d-c00c-4d42-afa2-d11e9b16d55c.mp4

A screen recording of the issue above (2m 33s).

### Steps to reproduce

1. Customizer > Widgets
2. Add image block. Save.
3. Appearance > Widgets
4. Blocks saved in Customizer were not appearing. Added new blocks, the Editor froze.

### What you expected to happen

Blocks save

[2022-01-07 13:11] cpapazoglou commented on #58322
@JulianBustamante what is the status here? do you need any help?

[2022-01-07 13:12] artpi commented on #58266
Same as https://github.com/Automattic/wp-calypso/issues/41606

[2022-01-07 13:32] cpapazoglou commented on #59755
Deployed r237804-wpcom

[2022-01-07 13:32] #59755 closed, assigned to cpapazoglou

[2022-01-07 14:03] allanftd opened #59855 "Spacer block not working on sites using multiple themes"
### Quick summary

When adding a Spacer block on pages or posts of sites using Ixion theme, it displays an error "This block has encountered an error and cannot be previewed."

32466914-hc

### Steps to reproduce

1. Edit a page or post
2. Add a Spacer block
3. The error message "This block has encountered an error and cannot be previewed." shows up where the Spacer block was added. There's no way

[2022-01-07 14:16] rickmgithub opened #59856 "Add VK and GETTR to sharing buttons / Social Icons Block"
### What

#4667266-zd

Request to add VK and GETTR to the share buttons.

I noticed that VK is part of the social icons block - https://wordpress.com/support/wordpress-editor/blocks/social-links-block/#list-of-supported-icons

But they were asking about adding these to official sharing buttons.

### Why

The user feels these are growing networks

### How

_No response_

[2022-01-07 14:19] #59819 closed, assigned to andres-blanco

[2022-01-07 14:43] #59696 closed, assigned to cpapazoglou

[2022-01-07 14:55] allilevine opened #59857 "Woo Installer > Address step: Validate fields"
In the Woo onboarding steps we validate that most of the address information is entered:
<img width="514" alt="Screen Shot 2022-01-07 at 9 54 46 AM" src="https://user-images.githubusercontent.com/1689238/148561720-21befd10-8ff9-4b87-acfb-a480533b00f4.png">

- [ ] Validate that address line 1, country / region, city, and post code have been provided.

[2022-01-07 15:10] retrofox commented on #57423
Another round here https://github.com/Automattic/wp-calypso/pull/59858

[2022-01-07 15:16] rickmgithub opened #59860 "Add first line indent to typography on paragraph block"
Update: request currently tracked in Gutenberg: https://github.com/WordPress/gutenberg/issues/37462

### What

When a paragraph block is created add an option to indent the first line.

![Markup 2022-01-07 at 15 13 54](https://user-images.githubusercontent.com/13706336/148564202-ab4e6f54-747c-42c5-9dc6-6272e27711b2.png)

### Why

User 4667852-zd-woothemes requested the feature to make the text loo

[2022-01-07 15:58] sajmes opened #59862 "An 'About' Block Pattern using layout grid appears incorrectly on Shoreditch"
### Quick summary

The Block Pattern shown in the screenshot displays incorrectly when used with Shoreditch (and possibly other themes).

The content overlaps horizontally.

<img width="1920" alt="Screenshot on 2022-01-07 at 10-54-17" src="https://user-images.githubusercontent.com/76757079/148569898-1aa26f4b-2661-4d52-99a0-531a0690be84.png">

### Steps to reproduce

1. Use the Block Picker to add