[2021-03-02 22:21] supernovia commented on #50421
From my test site:
<img width="1218" alt="Screen Shot 2021-03-02 at 3 20 39 PM" src="https://user-images.githubusercontent.com/3476361/109723280-1b9e2c00-7b6b-11eb-8feb-472b62021186.png">

[2021-03-02 22:42] carladoria commented on #50672
another one 27821778-hc / 3788021-zen

[2021-03-02 22:43] jeyip commented on #50506
cc @cathymcbride I reproduced this following the given instructions. Feel free to change the priority, but I set it as "low" because:

- I can introduce a new subscribe button manually
- I can recover the block successfully
- The frontend of the site continues to render the block correctly, with or without recovering the block

I can't tell if it's a themes issue or a gutenberg issue without deepe

[2021-03-02 22:45] JoshuaGoode commented on #50672
Discovered that deactivating Jetpack's `publicize` and `sharedaddy` modules can restore the block back to working order.

[2021-03-02 22:53] tavilla61 commented on #50672
Another one:  28136657-hc / 3788030-zen

[2021-03-02 23:06] dkoo commented on #50672
Reassigning to @apeatling since this appears to be isolated to Atomic + WP.com environments. Please feel free to bring me back in if a resolution might require anything on the Newspack Blocks side.

[2021-03-02 23:10] psealock commented on #50550
Wow 😮 amazing, thank you @mmtr!

[2021-03-02 23:11] sbathompson-he commented on #50672
Saw on these two chats too, they are on the ticket now. Zen - 3786938 & 3787936

[2021-03-02 23:27] Addison-Stavlo opened #50678 "Feature Picker - Confusion with selected, hover, and focus states on items"
In the features section of the onboarding, we can see the combination of selected, hover, and focus states int he GIF below:

![a11y-focus](https://user-images.githubusercontent.com/28742426/109728423-23b69580-7b84-11eb-9a8f-ad78c82d5636.gif)

As you can see one selected item is lightly outlined in blue, while the most recently selected item has a much larger blue border to it (that also oddly goe

[2021-03-02 23:35] jeyip commented on #36274
Trying to reproduce this issue but not having any luck.  🤔 cc @StefanNieuwenhuis Would you mind giving this a test as well when you get the chance?

- There was some investigation that happened quite a while ago. Don Park and @lakellie pointed to [check_assign_terms_permission()](https://github.com/WordPress/WordPress/blob/3cdbafe16408c54c8f6bad02cb94df9d55a04bd1/wp-includes/rest-api/endpoints/cla

[2021-03-03 00:08] Addison-Stavlo opened #50679 "Onboarding Designs - TT1 blocks content heading too large"
In site editor testing it was noted how large the TT1 blocks starter content heading is:

![Screen Shot 2021-03-02 at 2 48 05 PM](https://user-images.githubusercontent.com/28742426/109731798-f40a8c00-7b89-11eb-9403-2fc6a1ecb4fa.png)

As seen above this heading takes up over half the vertical real estate of a page, and seems very excessive compared to the sizes of items in the header and on the pag

[2021-03-03 00:13] obenland commented on #50579
Did some trouble-shooting today. I couldn't reproduce it on simple or a self-hosted site, only on Atomic.

[2021-03-03 00:14] jamiepalatnik commented on #50672
Another report: 28072414-hc
Deactivating Sharing and Publicize modules resolved the issue as a temporary workaround.

[2021-03-03 00:34] bluefuton opened #50680 "Quick Start/Concierge: no daytime sessions available in UTC+13"
### Steps to reproduce the behavior

1. Go to http://calypso.localhost:3000/me/concierge
2. Try and book a session

#### What I expected to happen
I can book a session during my daytime or evening in NZ.

#### What actually happened
The latest timeslot I can book is 5:15am on any day.

### Context
I found this while testing an OSS Citizen PR, #38919.

#### Level of impact (Does it block purchases?

[2021-03-03 00:38] joweber123 commented on #50672
Another one: 27749652-hc / 3788209-zen

[2021-03-03 00:44] jerrysarcastic commented on #50672
Also reported in https://wordpress.com/forums/topic/theme-not-displaying-all-posts/

I let the user know about the sharing/publicize settings workaround and will follow up once this issue is closed.

[2021-03-03 00:53] sirbrillig commented on #24019
The last thing is to remove `CartData` from `CheckoutSystemDecider`, but this is harder than I anticipated because it's been utilized for siteless and registrationless checkout. I'm working on the problem in https://github.com/Automattic/wp-calypso/pull/50681

[2021-03-03 01:21] gwensmithx commented on #50672
Also reported here #3788229-zd / #28138200-hc

I've turned off sharing and that worked for now.

[2021-03-03 01:31] devNigel commented on #50672
Another report: 19914821-hc

Suggested them to keep sharing and publicize features disabled as a workaround.

[2021-03-03 01:42] JoshuaGoode commented on #50672
After extensive review, we narrowed it down to publicize and sharedaddy modules conflicting with the block.

@leogermani then identified https://github.com/Automattic/jetpack/pull/18654 as being the source of the issue which landed with Jetpack 9.5.

Potential PR for a fix: https://github.com/Automattic/jetpack/pull/18987

[2021-03-03 01:46] autumnfjeld opened #50682 "New Page Layout Picker: clicking undo after selecting a layout"
## Description
There has been much [discussion](pbAok1-1ZZ-p2#comment-4183) on how to let a user "start over" if they change their mind about the page ~layout~ pattern they have chosen.  The start over may be an immediate "undo" after selecting a page pattern, or it may be a more complicated start over after the user has edited content in the page pattern.

This ticket covers the immediate "undo"

[2021-03-03 02:09] ilyasfoo commented on #50616
Changes made in 594-gh-Automattic/wpcomsh make it such that WooCommerce menu item is always shown (both in calypso and wp-admin) to replace the existing WooCommerce menu in calypso for nav unification. Showing the menu in wp-admin prior to WooCommerce plugin install was actually a side-effect, but we end up ok with it since it provides more consistency across both menus (as we think it is in line

[2021-03-03 02:21] leogermani commented on #50672
Potential workaround (it would be great if someone could confirm it): Manually set a post excerpt for the page where the block is being added. This will use the excerpt in the OG tags and will not trigger the problem.

[2021-03-03 02:23] desnum opened #50683 "Anchor: Episode descriptions from Anchor.FM are missing hyperlinks"
### Steps to reproduce the behavior

1. Go to 'Anchor.FM'
2. Create a podcast episode where the description has a URL in it
3. Publish the episode on Anchor.FM
4. Select the prompt to post it to WordPress
5. Check the post on your WordPress.com site

#### What I expected to happen
- the URL in the episode description would be hyperlinked

#### What actually happened
- the URL in the episode descri

[2021-03-03 03:07] fullofcaffeine opened #50684 "Regression test to make sure wpcom/etk loads more than the default patterns."
Related to the bug we experienced on GB 9.7.2: p1610667250003600-slack-CBTN58FTJ.

Fixed here: https://github.com/Automattic/wp-calypso/pull/48940.

Possible ways to test it:

- The obvious way would be an E2E that iterates through the patterns in the pattern inserter and verifies them. This would be added as an E2E test in Calypso;
- A PHP test that exercises the rest endpoint setup [here](https:

[2021-03-03 03:30] yashitamittal11 commented on #50672
Another one- #3788484-zen

[2021-03-03 03:32] druesome commented on #50672
#28140411-hc

[2021-03-03 03:38] pauloeaquino commented on #50672
#28139941-hc

[2021-03-03 03:44] kraftbj commented on #46928
Going to reopen this to track that we're going to have to rework this due to https://github.com/Automattic/wp-calypso/issues/50672

How do other meta generators handle this? Yoast's social tags? This wouldn't be a problem only with Jetpack so I wonder if others have figured something out.

[2021-03-03 03:50] kraftbj commented on #46928
One potential solution. In JP's OP functionality, we check `post_password_required()` and do not attempt to add a description to passworded posts. Could we check if a premium block is in the excerpt-defining HTML and opt out of providing a description? Or something to that effect.

[2021-03-03 04:15] tarunvijwani commented on #50672
Another one here #3788538-zd / #28140771-hc

[2021-03-03 04:22] rinazrina commented on #50672
Also reported in:
- #27099768-hc
- #28140261-hc

[2021-03-03 05:04] Jagjeet opened #50686 "Spinner not centered while loading images in Post Carousel Block"
### Steps to reproduce the behavior

1. Add one or more new Posts with featured images
2. Add new Post or Page
3. Add a Post Carousel Block
4. Before the images load, note the position of the spinner. If necessary, it may be necessary to reload the page.

#### What I expected to happen
Expected spinner to appear in the center of the block in the page editor

#### What actually happened
Spinner app

[2021-03-03 05:23] joweber123 opened #50687 "Backups: Jetpack connection has failed"
When a site is taken from Simple to Atomic by clicking the Jetpack > Backup button, until the first backup is available, the user sees the message "Jetpack connection has failed".
![Markup on 2021-03-03 at 14:09:23](https://user-images.githubusercontent.com/24914028/109755821-12c05f80-7c2a-11eb-91b4-95c8c9e31916.png)

### Steps to reproduce the behavior

1. Create a Simple Site with the Business p

[2021-03-03 05:28] Jagjeet opened #50688 "Error loading block error while changing alignment on RSS block"
### Steps to reproduce the behavior

1. Add new Post or Page
2. Add a RSS Block
3. Enter a valid RSS URL
4. After the block loads, click the Change Alignment button and select any of the alignment options.

#### What I expected to happen
The appearance of the block updates with the alignment as specified by the option chose.

#### What actually happened
The block displays the following error:

"Er

[2021-03-03 05:32] Jagjeet opened #50689 "Error loading block error while changing alignment on block"
### Steps to reproduce the behavior

1. Add new Post or Page
2. Add a Calender Block
3. After the block loads, click the Change Alignment button and select any of the alignment options.

#### What I expected to happen
The appearance of the block updates with the alignment as specified by the option chose.

#### What actually happened
The block displays the following error:

"Error loading block: I

[2021-03-03 05:39] pablinos commented on #50683
This probably isn't specific to Anchor, because I don't think we render links in the podcast description for the block at all. What do you think about moving this to Jetpack, which is where the block lives?

The potential solution would be to look for URLs in the description and turn them into links.

[2021-03-03 05:52] ollierozdarz commented on #45038
@simison, yep we've got a few simple designs to choose from (depending on if we use one or two column layout) which I can surface.

I think the Themeshaper (@ianstewart) himself is our best bet at accurately answering this 🙂

[2021-03-03 06:11] erricgunawan commented on #50672
3787467-zen

[2021-03-03 06:28] hacchism commented on #45047
Adding a new comment here so it won't be auto-closed. The issue should remain open as it hasn't been fixed yet.

[2021-03-03 07:11] kriskorn commented on #50672
22676002-hc

[2021-03-03 07:14] jeyip commented on #50298
Apparently there _is_ information about other social sign-in methods hidden away under the "Me" Page > Security > Social Logins sub-menu.

<img width="1280" alt="Screen Shot 2021-03-02 at 11 27 38 AM" src="https://user-images.githubusercontent.com/5414230/109767788-efa39a80-7bac-11eb-8d34-b5cde911f4e2.png">
<img width="1281" alt="Screen Shot 2021-03-02 at 11 27 59 AM" src="https://user-images.gith

[2021-03-03 07:29] retnonindya opened #50691 "Nav Unification: Inconsistent WooCommerce's menu items"
During the testing for nav unification on WoA/Atomic site (websites on WordPress.com with customized plugin/theme installed) using Jetpack Beta Tester plugin, we found inconsistencies on WooCommerce's menu items/submenu.

## Steps to reproduce the behavior

First, open WordPress.com dashboard, ensure the website is Atomic, and Jetpack Beta Tester plugin is installed and active. Ensure WooCommerce

[2021-03-03 07:30] yashitamittal11 commented on #50672
#3788744-zen

[2021-03-03 07:30] retnonindya commented on #50616
I just realized James has opened a GH issue here 🤦  So sorry! This is my report:
https://github.com/Automattic/wp-calypso/issues/50691

[2021-03-03 07:31] #50691 closed, assigned to nobody

[2021-03-03 07:31] retnonindya commented on #50691
Closing in favor of https://github.com/Automattic/wp-calypso/issues/50616

[2021-03-03 07:48] kriskorn commented on #50672
28144240-hc

[2021-03-03 07:56] druesome commented on #50616
@ilyasfoo When you say "prior to WooCommerce plugin install" do you mean the act of installing the plugin?  In my case, my site already had it installed and was fully setup.  When I deactivated it, the WooCommerce menu item remained.  Clicking on it, it took me to this link:

https://wordpress.com/woocommerce-installation/siteurl.blog

Then redirects to this:

https://siteurl.blog/wp-admin/admin.p

[2021-03-03 08:04] druesome opened #50692 "Nav Unification: When clicking on Jetpack, Jetpack > Dashboard, Jetpack > Settings, Plugins Menu is Highlighted"
When I click on Jetpack, Jetpack > Dashboard or Jetpack > Settings, the Plugins menu item is highlighted rather than Jetpack. It is only when I click on Jetpack > Activity Log and so forth that Jetpack becomes highlighted.

### Steps to reproduce the behavior

1. Go to wp-admin
2. Click on Jetpack, Jetpack > Dashboard, or Jetpack > Settings

#### What I expected to happen

For the Jetpack menu ite

[2021-03-03 08:07] Robertght commented on #50672
Another one in #28144913-hc

[2021-03-03 08:12] devNigel commented on #50672
Another one: 28135224-hc

[2021-03-03 08:34] ddc22 commented on #50273
![](https://github.trello.services/images/mini-trello-icon.png) [Site creation (/start): flow stuck on previous site launch](https://trello.com/c/SjLOY37z/19-site-creation-start-flow-stuck-on-previous-site-launch)

[2021-03-03 08:38] tjcafferkey commented on #50564
Clicking "My sites" from the `/me` page after clicking the Account Settings menu item will take you back to your site.

[2021-03-03 08:43] designsimply commented on #19932
It's been a while but I just saw this and ran through the steps again. I tested sharing a blog post to a Facebook Page from a WordPress.com Business site (with plugins installed) and the result looked the same to me regardless of whether or not the title started with a "[" character or not. ([48s](https://user-images.githubusercontent.com/1119271/109778187-c2adb280-7bc1-11eb-8455-046cebed42eb.mp4)

[2021-03-03 08:43] #19932 closed

[2021-03-03 08:59] mmtr commented on #50665
Thanks for reporting this, @coder-karen. I don't feel this issue has been introduced by the nav unification menu, since the current existing menu in Calypso also displays the same external icon without any additional indication:

Current menu | New unified menu
--- | ---
<img width="299" alt="Screen Shot 2021-03-03 at 09 58 57" src="https://user-images.githubusercontent.com/1233880/109780228-17bfe

[2021-03-03 09:01] dolgelukkig commented on #50672
Another one #27943142-hc follow-up ticket here #3788965-zen

[2021-03-03 09:07] cpapazoglou commented on #50174
Thanks @bsessions85. Let's move on with the title of the item. Regarding hierarchy, the endpoint already serves `type:"menu-item"` for top level and `type:"submenu-item"` for next level.
![](https://cln.sh/JmMexl+)

If you have drafted a PR, can you relate it to this issue?

I am closing this one as we are not currently going to make changes to the API.

[2021-03-03 09:07] #50174 closed, assigned to nobody

[2021-03-03 09:11] cpapazoglou commented on #50564
This not a regression of "nav-unification". The "Account Settings" menu already existed as "Personal Settings" which exhibited the same behavior.

![](https://cln.sh/BdoeLB+)

I agree that the redirection is not expected, I would propose removing that menu which is Account wide related from the menu. Removing the "nav-unification" label for the moment.

[2021-03-03 09:15] cpapazoglou commented on #50564
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/50566

[2021-03-03 09:28] worldomonation opened #50693 "Playwright: Investigate migration path."
Topic came up in biweekly team meeting for .com quality squad.

Due to the sheer amount of work required to shore up flakey e2e tests based around Selenium, consider spending time investigating whether it is possible for existing infrastructure to support both WebdriverJS and Playwright tests in parallel.

[2021-03-03 09:34] getdave commented on #50565
@tbradsha I tested this on my Simple site and it took me to `https://wordpress.com/me`. That is expected. Simple sites have never had access to the WPAdmin profile.

Can you isolate what caused you to end up in `/wp-admin/users.php?page=grofiles-editor`? Any special plugins? Is this a fresh Simple site? Can you still replicate this?

[2021-03-03 09:36] #50546 closed, assigned to worldomonation

[2021-03-03 09:36] cpapazoglou opened #50695 "CSS issues on WP Admin with Jetpack modals"
While navigating around on Atomic site, I landed on "/wp-admin/admin.php?page=jetpack#/dashboard" and I was shown a modal. This modals has hardcoded `left: 160px` whereas the nav is now `272px`. Searching the codebase for `left: 160px` will probably reveal more cases.

I can't find solid steps to show the modal again though...

![](https://cln.sh/5qCOjj+)

[2021-03-03 09:36] #50336 closed, assigned to nobody

[2021-03-03 09:38] getdave commented on #49517
@frontdevde When you're around could you advise on whether we can remove this from our backlog? If not what specific tasks remain? Thank you.

[2021-03-03 09:39] getdave commented on #50080
I will start preparing this.

[2021-03-03 09:40] cpapazoglou commented on #50565
The user went directly to `/wp-admin/profile.php` and got redirected to `/wp-admin/users.php?page=grofiles-editor`.

Prior to "nav-unification" `/wp-admin/profile.php` redirected to `https://wordpress.com/me` (at least for simple sites). I suppose we should honor that and do the same.

[2021-03-03 09:45] cpapazoglou commented on #50562
Can we elaborate on that? Simple sites already don't show the Jetpack dashboard. Atomic sites show the Jetpack dashboard as they did prior to "nav-unification". Are we sure that removing it will not result to any "feature-loss" for customers?

[2021-03-03 09:53] cpapazoglou commented on #50519
This is part of calypsoify and it is removed while `nav-unification` is active here

https://github.com/Automattic/jetpack/blob/75adba6a8e9bd27d0d53b48c8f9556749d9a78aa/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L735-L740

[2021-03-03 09:54] jeherve commented on #50672
Everyone: as you receive more reports from customers, **could you ask them to try this work-around**, and see if that fixes the problem for them?

https://github.com/Automattic/wp-calypso/issues/50672#issuecomment-789375532

[2021-03-03 09:54] StefanNieuwenhuis commented on #36274
@jeyip sure! I'm unable to reproduce it but I did some digging on the `check_assign_terms_permission()` method to provide some context on the checks/prerequisites.

After retrieving the taxonomies names, we check if the current user has permission to assign them to the post. This happens  [here](https://github.com/WordPress/WordPress/blob/3cdbafe16408c54c8f6bad02cb94df9d55a04bd1/wp-includes/rest-a

[2021-03-03 09:57] #50202 closed, assigned to getdave

[2021-03-03 10:01] cpapazoglou commented on #50616
I cannot reproduce this. Can you retry today without Jetpack Beta, now that Jetpack 9.5 is released?

I have tried in a Business site which is the only (?) environment that you can install / activate / deactivate / remove WooCommerce and I have tried almost all flows.

[2021-03-03 10:02] cpapazoglou commented on #50616
@mattsherman can you please also take a look? Maybe I am missing something.

[2021-03-03 10:04] kriskorn commented on #50672
28148080-hc

[2021-03-03 10:12] jartes commented on #50672
@jeherve Tested the suggested workaround on one interaction and I can confirm that it worked.

28140710-hc | Follow-up 3789141-zen

[2021-03-03 10:17] liviopv commented on #23139
Bringing this up again because Google Workspace seems to be no longer using a TXT record for verification. Instead, it users an MX record by default.

A sample MX Record value would be `l62cuqt32vfbkqdbrqmsakeqaptsp5qgzayeyd43cv7qs3mqmi7q.mx-verification.google.com` with Priority 15.

Here's a screenshot of the new instructions from the Google Workspace console:

![Screenshot](https://d.pr/i/KTvRl

[2021-03-03 10:18] cpapazoglou opened #50697 "Browse Sites link is missing and add new site is always showing in Atomic sites"
props: @davemart-in

The problem is that we removed the `wpcom_site_count` from wpcomsh

`/blob/17d7ffd4375cbbea2226115f16170e93771207ba/feature-plugins/masterbar.php#L135-L137`

We haven't witnessed that problem cause the `wpcom_site_count` is already cached in our sites..

### How to replicate
- Create a new Atomic site
- Go to WP Admin of that site

[2021-03-03 10:26] ciampo commented on #50430
I was able to reproduce by following the updated instructions:

https://user-images.githubusercontent.com/1083581/109791959-4d6acd80-7c13-11eb-9746-b431818a5405.mp4

[2021-03-03 10:27] carinapilar commented on #50421
That's right, the issue only happens _before_ you save the post as a Draft. This doesn't happen with pages though, and also doesn't happen on Atomic and WordPress.org sites. This behavior is only happening when creating posts on a Simple site.

[2021-03-03 10:28] cpapazoglou opened #50698 "Replace "Add new site" with "Add New Site""
Code is here

https://github.com/Automattic/jetpack/blob/3eaa2c3b05aed96556bf24d80326f9c334ac8c8d/projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php#L104

![](https://cln.sh/02ZzMk+)

[2021-03-03 10:30] ciampo opened #50699 "Missing translations for empty cart copy"
## What

While testing for another bug in https://github.com/Automattic/wp-calypso/issues/50430#issuecomment-789608303_, I came across this un-translated text, shown to the user when the cart is empty:

"If you were trying to add something to your cart, there may have been a problem. Try adding it again."

### Video / screenshot

Scrub to the end of the video:

https://user-images.githubuserconten

[2021-03-03 10:36] mriyazuddin commented on #50672
Another one here. The workaround did work.

17383059-hc | Follow-up: 3788463-zen

[2021-03-03 10:50] michaeldcain commented on #50699
We merged a new string for this error state in https://github.com/Automattic/wp-calypso/pull/50465. The translations should be available in 1-2 weeks.

[2021-03-03 10:59] getdave opened #50701 "`?` icon covering parts of the UI"
See p7DVsv-aFw-p2#comment-34809.

Can we remove the help icon from these Admin screens.

[2021-03-03 11:00] vindl opened #50702 "FSE: open site editor when editing pages"
When FSE experiment is enabled on Dotcom we should redirect page edit links to the Site Editor instead of the default Block Editor.

[2021-03-03 11:00] inaikem opened #50703 "Blocks: Possible to accurately copy/paste Heading Blocks plus formatting when using keyboard shortcuts?"
### Request
Is it possible to enable `CTRL/CMD + C` to copy a Heading block + formatting, both of which are retained on paste either using the `CTRL/CMD + V` shortcut, the browser's `Edit > Paste` or mouse/touchpad right-click?

### Currently
When using `CTRL/CMD + C` and `CTRL/CMD + V` keyboard shortcuts on a Paragraph block, text and formatting is copied, and a correctly formatted Paragraph bloc

[2021-03-03 11:02] mmtr opened #50704 "Nav Unification: Exclude Jetpack sites"
It has been decided to exclude Jetpack sites from the Nav Unification until we establish launch criteria and a timeline that works for everyone. See p1HpG7-bjx-p2#comment-45060

[2021-03-03 11:15] cpapazoglou opened #50705 "Reader: Dropdown Sections should not appear as selected"
### Steps to reproduce the behavior

1. Go to `https://wordpress.com/read/conversations`
2. Click on "Lists"

#### What I expected to happen
List section should open without being selected

#### What actually happened
Lists sections opened but it was also selected

Also, refreshing that page should show as selected only the currently open item (in that case only Conversations).

### Context
This r

[2021-03-03 11:19] yoavf opened #50706 "Movable Type importer: better file validation"
In the wp-admin Moveable Type importer, we should fail right after the file upload, if the file isn't of the expected type.

Right now we will still show a broken author selection screen (and will fail after that step):
<img width="947" alt="Screen Shot 2021-03-03 at 12 42 26" src="https://user-images.githubusercontent.com/844866/109795715-f1f30c80-7c1f-11eb-90e0-ee405d8592b3.png">

**Steps to rep

[2021-03-03 11:46] klimeryk commented on #27481
Hmm, looks like it's not as bad as I feared. For domains we _do_ seem to show this quite helpful error:

<img width="748" alt="Screenshot 2021-03-03 at 11 44 01" src="https://user-images.githubusercontent.com/3392497/109801116-f1ee0f00-7c15-11eb-8c2f-496906de4ee8.png">

But looks like for whatever reason we are not checking if the user has any other upgrades (like a paid plan, email, etc.). That d

[2021-03-03 11:47] Copons opened #50708 "Headstart: Avoid hardcoded styles in demo content"
Assigning custom hardcoded styles (colors, fonts, etc.) to demo blocks gets in the way of the user experimenting with Global Styles.
E.g. the user tries to change the global font size, but the blocks with an hardcoded font size will overrule the global style, and won't change, leaving the user confused.

[2021-03-03 11:48] davipontesblog opened #50709 "User management: Not possible to update user info on "Team" tab on atomic sites"
### Steps to reproduce the behavior

⚠️ Issue → Trying to change the "author name" on a blog, there is a disconnect between the calypso People > Team page capabilities, and the site WP Admin page, under Users > Profile. Public display name cannot be updated in calypso, only on WP Admin.

None of these two places update the public display name on an atomic site:
- https://wordpress.com/people/edit/

[2021-03-03 11:59] getdave commented on #50616
Can I please check this has been tested by following the WooCommerce instructions on the Beta 2 post?

p7DVsv-auI-p2#testing-woocommerce

If not then the report may be invalid.

@mrfoxtalbot That is expected. If Woo isn't installed then this menu item exists as a prompt to trigger the install process. It's a Woo requirement which they added.

[2021-03-03 12:02] Copons opened #50710 "FSE Onboarding: No hints about a dashboard"
The FSE onboarding throws the user straight into the Site Editor, without passing through, or even hinting about, a dashboard.
Once the user is in the Site Editor, there are no visual clues that they can even leave it.
The WP icon, that serves as a "menu/back" button, doesn't convey any meanings for unaware users (see https://github.com/WordPress/gutenberg/issues/29509).

If by chance they manage

[2021-03-03 12:07] getdave commented on #50569
This fix would only be possible on Simple at this point @tjcafferkey due to Jetpack release schedules.

[2021-03-03 12:17] ciampo commented on #50699
Thank you for the explanation @michaeldcain !

Have you considered using the [`hasTranslation()`](https://github.com/Automattic/wp-calypso/blob/trunk/packages/react-i18n/README.md#hastranslation) function?

[code]

[2021-03-03 13:16] davipontesblog commented on #36274
@fernmed would it be possible to follow up with the user here to ask if we can try to reproduce the error on their site? I think this would involve making an update on a post, or maybe creating a draft would suffice... @jeyip is this correct?

[2021-03-03 13:21] joweber123 commented on #50616
@getdave @cpapazoglou I rechecked and I was not on the Woo version outlined in the post. With the correct Woo version uploaded (after deleting the current Woo version) **I am unable to reproduce this** now. You can disregard this report.  Sorry for the confusion!

[2021-03-03 13:26] cpapazoglou opened #50713 "Jetpack Dashboard shows Plugins menu as selected"
### Steps to reproduce the behavior

1. On Atomic, go to `/wp-admin/admin.php?page=jetpack#/dashboard`

#### What I expected to happen
Jetpack menu item to be selected

#### What actually happened
Plugins menu item was selected

#### Does this happen on simple or atomic sites or both?
Only on Atomic

![](https://cln.sh/dCEQ9X+)

[2021-03-03 13:30] StefanNieuwenhuis commented on #36274
This is correct! It would be great if we can get some data from the [Dev Tools](https://developers.google.com/web/tools/chrome-devtools) console & network tabs. This helps us to narrow down the issue.

[2021-03-03 13:32] cpapazoglou commented on #50616
That's great news, thanks for checking again! Since nav-unification is enabled for Simple and Atomic (not Jetpack) where Woo version is specific, I guess we don't need to investigate it more. I am closing the issue as non reproducible on latest version.

[2021-03-03 13:39] simison commented on #50562
That sounds like a bug to me that will just be greatly amplified by Nav unification.

[2021-03-03 13:46] jeherve opened #50714 "Publicize: errors when trying to connect to Twitter"
### Steps to reproduce the behavior

1. Go to Marketing > Connections in Calypso
2. Try to connect a new Twitter account.
3. You'll receive the following error: `There was a problem connecting to Twitter to create an authorized connection. Please try again in a moment.`

This also seems to be an issue when trying to publicize posts on a site with an existing connection to Twitter. In those cases,

[2021-03-03 13:58] JoshuaGoode commented on #50672
Reopening the issue for searching and troubleshooting purposes until we see the Jetpack update deployed to Atomic.

[2021-03-03 14:04] Nic-Sevic commented on #50714
getting a report of this here with the 2 latest posts: 3789645-zen
They can toggle twitter publicize on in the editor and update but then it is automatically toggled back off.

[2021-03-03 14:11] jartes commented on #50672
Another one on 28153283-hc. Adding the excerpt on the page worked.

[2021-03-03 14:20] xpurichan commented on #50672
Another encounter on 28123608-hc. Follow up is 3789783-zd.

Interestingly they claimed that the blog posts block loaded properly on their "Start" (home) page, but not on a separate "Blog" page they had created. I didn't see this myself.

[2021-03-03 14:21] Thelmachido commented on #50672
Another encounter on 153666-hc. Follow up is 3789790-zd.

[2021-03-03 14:38] Gilmoursa commented on #50672
I saw a similar situation in 22599439-hc

[2021-03-03 14:43] syds87 commented on #50672
Similar situation on 3789681-zd and 3789273-zd.

Tested the suggested workaround and it worked for both of them.

[2021-03-03 14:44] cpapazoglou opened #50715 "Explore opening "Manage Blogs" link in the primary site"
### Steps to reproduce the behavior

1. Go to `/me`
2. Click on "Manage Blogs"

#### What I expected to happen
To see the "My Blogs" screen and be able to easily navigate back

#### What actually happened
A new tab opened with `https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs` where the "nav-unification" is not enabled

### Context
Related convo p7DVsv-auI-p2#comment-35000

### Sol

[2021-03-03 14:47] amamujee commented on #50714
I also had the same issue and was able to reproduce it.

[2021-03-03 14:47] jartes commented on #50672
Another one on 28137681-hc.

Their theme didn't support excerpts on pages, so added excerpt support by adding

`add_post_type_support( 'page', 'excerpt' );`

via the Code Snippets plugin.

[2021-03-03 15:03] sanjeev00733 commented on #50672
Another one in #3788720-zen

[2021-03-03 15:05] metabreakr commented on #50672
28154698-hc with a follow-up in 3789964-zen

[2021-03-03 15:06] tjcafferkey commented on #50697
@cpapazoglou can you demonstrate this for me please, or provide some replication steps?

On WP Admin screens the "Switch site" link is still in the top left of the nav just says "Browse sites" instead and it takes me to `https://wordpress.com/home` whereas on Calypso it shows me the available sites list.

Thanks

[2021-03-03 15:10] getdave commented on #50713
Confirmed. Can replicate.

[2021-03-03 15:14] tjcafferkey commented on #49313
Completed and deployed to WPCOM as part of D57911-code

[2021-03-03 15:38] cpapazoglou commented on #50697
We are doing 2 checks for `wpcom_site_count`

https://github.com/Automattic/jetpack/blob/bcf999945e90dee6df7be63126c120aa9a76d083/projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php#L67

https://github.com/Automattic/jetpack/blob/bcf999945e90dee6df7be63126c120aa9a76d083/projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php#L102

This option

[2021-03-03 15:48] sirbrillig commented on #27481
I can't think of a case where we should allow users with a paid upgrade to be removed from the site to which that upgrade is attached (and therefore no longer able to manage their payment). I will double check with the rest of the team but I'd say this is unintended behavior.

[2021-03-03 15:52] xpurichan commented on #50672
Reported in 3790103-zen. Provided the Publicize/Sharing module deactivation workaround.

[2021-03-03 16:08] #49390 closed, assigned to ciampo

[2021-03-03 16:08] #49256 closed, assigned to ciampo

[2021-03-03 16:09] #50534 closed, assigned to ciampo

[2021-03-03 16:18] cathymcbride opened #50718 "READER - Move subscription management to a single location"
What
Managing your subscriptions can be difficult. One reason could be that these are currently manages in (at least) 3 places. If you visit subscribe. wordpress. com or https://dashboard.wordpress.com/wp-admin/index.php?page=subscriptions&option=settings - you'll see UI for Sites, Comments, and Settings. Both `sites` and `settings` will redirect you to the reader to manage them,  while you _can_

[2021-03-03 16:29] razvanpapadopol opened #50719 "Focused Launch: Domain details view design parity (Part 1)"
### Steps to reproduce the behavior

1. Open Focused Launch
2. Open Domain Details View

#### A/C

- [ ] _Free_ label should be aligned to left, same as price labels for other domain suggestions
- [ ] _Free_ label color should be green, same as the _Included with annual plans_ text for paid suggestions
- [ ] _Included with annual plans_ text should be displayed after price

#### Screenshot / Video

[2021-03-03 16:31] zdenys commented on #35800
Another case 28154596-hc.

[2021-03-03 16:39] ccwalburn commented on #47919
Just helped a user with the same issue after following the instructions here: https://wordpress.com/support/audio/spotify/#embedding-in-a-widget

The playlist doesn't display the actual list of songs in the Sidebar using the Text Widget like it does in the Spotify block on a page. I got the same results on Chrome, Safari, and Firefox. This is how it looks:

![screenshot](https://d.pr/i/ArH3kv+)
Im

[2021-03-03 16:48] geekinthegirl commented on #43919
Another case of this here: 28150171-hc

The user's site is private but already launched. Reinviting their 'viewer' user as a contributor worked as a workaround for now.

[2021-03-03 17:08] ezebecke commented on #50672
27660928-hc Follow up created in 3790369-zd

[2021-03-03 17:11] getdave commented on #50713
It looks like the menu slug is incorrect on WPAdmin. If in `projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php` I use `jetpack` the menu works as expected. What I'm not sure about is why we are doing the other thing...

[code]

[2021-03-03 17:33] rossanafmenezes opened #50722 "Adding a New Theme redirects to a confusing screen"
While on our Virtual Team meetup we came across a sequence of screens while adding a new theme which can be very confusing to users.

### Steps to reproduce the behaviour

1. Go to Appearance - Add New Theme (under the Appearance menu)
2. See the message: No themes found. Try a different search.

![iMarkup_20210303_122714](https://user-images.githubusercontent.com/30724184/109846183-ed2c5980-7c1b-

[2021-03-03 17:35] susanjanec commented on #50714
Reported in 8045722-hc - they are unable to connect a new account, but see a previous Twitter account that is no longer connected.

[2021-03-03 17:39] edequalsawesome commented on #48177
@sfougnier FWIW, when a new site is created on WordPress.com (either a simple site or a site that starts off AT'd with the eCommerce plan), it looks like we add links to the blogroll during the site creation process, so as of right now it looks like all sites will be shown to have active links.

I just created a simple site a few minutes ago, and these links were added by default:

[![Automaticall

[2021-03-03 17:43] zdenys commented on #50714
28061144-hc

[2021-03-03 17:54] Addison-Stavlo opened #50724 "Site Editor + Onboarding - 'Closed Connection' on first editor load."
This problem was observed in FSE testing.  I am unable to repro although I have tried the signup flow a couple times on throttled settings.

After initial site creation, the first editor load in the iframe takes a long time and eventually errors with the screen showing that the connection was unexpectedly closed:

![Screen Shot 2021-03-03 at 12 48 25 PM](https://user-images.githubusercontent.com/2

[2021-03-03 18:04] Addison-Stavlo opened #50725 "Site Editor - Saving ("update design") crashes / WSODs the editor."
This issue was observed in Site Editor testing on dotcom.  After making changes to several templates and entities, saving through the 'update design' flow in the top right resulted in crashing the editor.

I have not yet been able to repro myself, but this was observed in p7DVsv-ayb-p2#comment-34941 with a console error seeming to stem from trying to use `find` property of `null` (I miss lodash al

[2021-03-03 18:05] mikeicode commented on #50672
28158915-hc shutting off the sharing worked. They would like a response when it's resolved so they can activate those again. 3790562-zd-woothemes

[2021-03-03 18:07] worldomonation commented on #50547
New WIP PR is here: #50690

[2021-03-03 18:09] apeatling commented on #50684
The e2e test might be problematic for iterating through patterns because themes can also add patterns. This would cause variable results in terms of patterns getting loaded. Would it be able to handle this?

[2021-03-03 18:10] apeatling commented on #50684
The PHP test seems smart. :+1:

[2021-03-03 18:12] cathymcbride commented on #45381
Since this hasn't come up since, I'm going to close. Please reopen if you feel strongly this needs to be fixed!

[2021-03-03 18:12] #45381 closed

[2021-03-03 18:14] synora commented on #40349
Reported in 3790548-zen.
@cathymcbride can we get this added to a team's project board to get some eyes on this?

[2021-03-03 18:24] cathymcbride commented on #50579
@obenland liviopv mentioned that in his original bug report, and I found the same thing. Does this need to be moved to another team?

[2021-03-03 18:27] cathymcbride commented on #50298
@griffbrad Does this need to go to Team Calypso or design?

[2021-03-03 18:34] lynnbgriffith commented on #50298
I’ve added it to our backlog but I don’t think anyone on our team has worked much with social login features, really. I think we have at least interacted with these bits of Calypso recently in the context of our reduxification work, though.
@tyxla or @flootr, feel free to reach out to other folks if you think there is a better place for this issue, but my impression is that this part of Calypso is

[2021-03-03 18:48] worldomonation opened #50728 "Webinar page: included video is private"
### Steps to reproduce the behavior

1. Go to `My Site > Pages`.
2. Click on `Add new`.
3. Go to `Contact > Webinar`
4. Scroll down the preview.

#### What I expected to happen
Video linked at the bottom of the page is viewable for users.

#### What actually happened
Video linked at the bottom of the page is private and not playable.

### Context
Back to basics user testing.

#### Browser / OS ver

[2021-03-03 18:54] kwight opened #50729 "My Home: Automatically dismiss the launch celebration card after seven days."
If a user completes the site setup checklist and/or launches their site, they're presented with the following cards.

<img width="1062" alt="Screen Shot 2021-03-02 at 1 31 02 PM" src="https://user-images.githubusercontent.com/349751/109856498-66bd4b00-7c0e-11eb-9f5f-75d1f3911080.png">
<img width="1063" alt="Screen Shot 2021-03-02 at 1 31 41 PM" src="https://user-images.githubusercontent.com/349751

[2021-03-03 19:01] mattsherman commented on #49433
I'm grabbing this first task. Other tasks should be able to be worked on in parallel by others

[2021-03-03 19:03] obenland commented on #50579
I wonder if Good Mountain might have time to take a look?

fwiw, I'm not sure I'd consider it a high priority item given that it's not breaking anything and it requires pretty specific steps to reproduce

[2021-03-03 19:14] JoshuaGoode commented on #50709
If we want to match Simple sites, Atomic sites should be syncing with the user's WordPress.com profile information and not allow connected admins to adjust things within People.

However, /me/account information is currently not syncing properly to Atomic sites.   There's an option issue for that at https://github.com/Automattic/wp-calypso/issues/46077

On top of fixing the error reported in this

[2021-03-03 19:15] Gilmoursa commented on #45389
I can add an image inside a classic block following these steps:

1 - add a classic block to a simple site post
2 - select the option to "add media"
3 - select an image
4 - click on 'edit'
5 - fill in the "caption" field
6 - click on 'insert'

[2021-03-03 19:18] #45389 closed

[2021-03-03 19:18] worldomonation commented on #50298
My anecdotal observation is that users tend to ignore warnings, notices or popups or do the minimum possible to dismiss it as soon as possible.

Since the behavior described in this issue has the potential to inadvertently lead to a situation like p1614671809072900/1614633457.071000-slack-C013QHLF28Y, I do not think a simple warning banner would suffice.

From my perspective, one of the following

[2021-03-03 19:19] kcswong commented on #50714
reported 23912631-hc
follow up 3790756-zen

[2021-03-03 19:25] JoshuaGoode commented on #14515
This is still a valid issue and there are other variants such as "not a valid zip file".

![image](https://user-images.githubusercontent.com/4887830/109860505-40a6a380-7c2c-11eb-906d-cf0d2a6c9106.png)

However, this is likely very low priority.

[2021-03-03 19:28] worldomonation opened #50732 "Calendar block: difficult to read when background color is dark"
### Steps to reproduce the behavior

1. Start a new post.
2. Insert a Group block.
3. Select the Group block.
4. From block options, change the background color to something dark eg. 0x000000

#### What I expected to happen
Text color of the `Calendar` block changes to show white outline at some threshold.

#### What actually happened
Text color remains the same as when the block was inserted, a g

[2021-03-03 19:31] JoshuaGoode commented on #18601
This is related to https://github.com/Automattic/wp-calypso/issues/30426

In a recent test, I was technically able to upload the .zip file via Calypso; however, it initially reported that the upload failed.  Upon refresh and checking my WP-Admin, it was there.

Here's the error I saw in Calypso:

![image](https://user-images.githubusercontent.com/4887830/109861209-0a1d5880-7c2d-11eb-810f-7a28d80a4

[2021-03-03 19:41] JoshuaGoode commented on #30426
There's a similar and older instance of this issue for Keynote and Zip files specifically on Atomic at https://github.com/Automattic/wp-calypso/issues/18601

[2021-03-03 19:47] JoshuaGoode commented on #32469
Confirming this is still present. Reproduced following steps shared

Still getting the response previously mentioned.

`{"code":400,"headers":[{"name":"Content-Type","value":"application\/json"}],"body":{"error":"server_error","message":"The Jetpack site is inaccessible or returned an error: transport error - HTTP status code was not 200 (500) [-32300]"}}`

Received the following error in Calypso.

[2021-03-03 19:49] obenland commented on #50714
Should be fixed as of 19:13 UTC.

[2021-03-03 19:49] #50714 closed, assigned to nobody

[2021-03-03 20:04] JoshuaGoode commented on #34155
Converting this to a feature request and adding context.

At this time, it is possible for sites to upgrade to a 2-year plan without issues but it requires that support, or some other source, provide them with a special link.  Users cannot upgrade to the two-year offering on their own without the link.

[2021-03-03 20:08] JoshuaGoode commented on #36309
Confirming that this is still relevant but likely due to the fact that the site address cannot be changed when a site on the Atomic platform. https://github.com/Automattic/wp-calypso/issues/36301

[2021-03-03 20:11] JoshuaGoode commented on #36315
There was a discussion, at some point, to expose a site reset option to users. That could potentially help achieve some parity but would be a bit more than what is offered to Simple sites.

Confirming that this is still a valid request and I'll share with the platform team.

[2021-03-03 20:19] JoshuaGoode commented on #36318
Confirming that this issue is still present and, Simple, the link just goes to the site's theme page.

**Simple:**

![image](https://user-images.githubusercontent.com/4887830/109866817-c548f000-7c33-11eb-8c1a-3aff45970d62.png)

**Atomic:**

![image](https://user-images.githubusercontent.com/4887830/109866760-b19d8980-7c33-11eb-837b-8ab6bb273d78.png)

[2021-03-03 20:27] bluefuton commented on #50718
Thanks for reporting this @cathymcbride! I'm also keen to see this consolidated (internal project proposal at p5PDj3-4lX-p2).

They'll only redirect you to Reader to manage if you're logged in to WordPress.com. If you're a logged-out user (for example, an email subscriber who does not have a WP.com account), you manage your subscriptions on subscribe.wordpress.com.

[2021-03-03 20:30] Gilmoursa commented on #50544
Only users on the Business or eCommerce plans should have the option to remove the WordPress.com footer credit.

[2021-03-03 20:32] JoshuaGoode commented on #36657
It appears that this was initially completed via https://github.com/Automattic/wp-calypso/pull/36663

However, we no longer launch sites private by default and utilize Coming Soon v2 for new and unlaunched sites.

Closing.

[2021-03-03 20:32] #36657 closed

[2021-03-03 20:46] JoshuaGoode commented on #36795
Confirming that this is still an issue and there's not a warning to users.

[2021-03-03 20:50] JoshuaGoode commented on #37390
Related to other issues such as https://github.com/Automattic/wp-calypso/issues/36795

There are many changes that occur when a site goes Atomic.

The warning was updated a bit but doesn't include more than what was available previously.

![image](https://user-images.githubusercontent.com/4887830/109870275-e57aae00-7c37-11eb-96f1-7453151782a9.png)

[2021-03-03 21:08] JoshuaGoode commented on #50687
This will also occur if when a site that does have backups reverts and goes Atomic again. When the site goes Atomic again, within a reasonable timeframe, it will have access to the previous backups available; however, they can't restore one immediately due to this.

We generally have to wait or perform a manual disconnect and reconnect to get it working faster.

I believe this message started appe

[2021-03-03 21:17] JoshuaGoode commented on #50672
Hi folks! Thanks for your continued reports.  We're waiting on the fix to be deployed in a Jetpack release.

In the meantime, let's stop deactivating the Jetpack modules and, instead, ask the user to use an Excerpt to the page(s) that are impacted by this issue.

[2021-03-03 21:27] JoshuaGoode commented on #50558
I believe this resolved itself and something hadn't synced up just yet.

As for the site this happened to initially, it was deleted.

I couldn't reproduce this either. However, I'll leave it open for now to make it easier to collect additional reports.

**Next steps:**
While we'll want to log the reports here, **_It might be best to ping the Atomic platform team if and when this happens so they ca

[2021-03-03 21:27] ianstewart commented on #49473
I was able to reproduce this today. This is what I saw after checkout.

![image](https://user-images.githubusercontent.com/545779/109874602-f1b13c00-7c34-11eb-910f-470ece198483.png)

[2021-03-03 21:27] michaeldcain commented on #49473
@niranjan-uma-shankar: is this something you guys can look at?

[2021-03-03 21:43] michaeldcain commented on #47017
I can't reproduce this with what appears to be a new language picker:

<img width="1552" alt="Screen Shot 2021-03-03 at 4 43 05 PM" src="https://user-images.githubusercontent.com/942359/109876268-946eb800-7c3f-11eb-9393-a7726e925a55.png">

[2021-03-03 21:43] #47017 closed

[2021-03-03 21:43] JoshuaGoode commented on #50338
Adding some clarity and context:

This impacts Atomic sites that were created after the point we started offering CoBlocks and installing it by default.

There are some sites that have installed the plugin on their own outside of that time period.

Additionally, the CoBlocks version Atomic sites are using is directly from the .org repo and is not the managed version we provide to Simple sites.  It

[2021-03-03 21:47] #49920 closed, assigned to ciampo

[2021-03-03 21:57] JoshuaGoode commented on #50338
In response to my comment above, I've opened a feature request in the CoBlocks repo at https://github.com/godaddy-wordpress/coblocks/issues/1843

While the actual options do not have major importance, I do not believe it would be a good idea to deactivate this as it provides the ability to activate and deactivate some features that are available to Atomic and self-hosted sites using the full plugi

[2021-03-03 21:57] ianstewart commented on #45367
The issue with the different names has been corrected here. I'll update the title to remove that.

Looks like the status issue remains. Featured in the popular list without indicating that its pre-installed …

![image](https://user-images.githubusercontent.com/545779/109877586-d0524f00-7c38-11eb-99bf-9448970fbc39.png)

And prompt to upgrade that doesn't note that it's installed …

![image](https:/

[2021-03-03 22:22] edequalsawesome commented on #50672
Another report in 23662876-hc -- let them know we'd follow-up with them when the issue was resolved in 3791190-zen

[2021-03-03 22:31] kwight commented on #50560
The user should be seeing a prompt to import any new posts published since their last visit to the Anchor dashboard.

<img width="1246" alt="Screen Shot 2021-03-03 at 2 21 06 PM" src="https://user-images.githubusercontent.com/349751/109880647-0e954180-7c2c-11eb-880e-cc77d3d04854.png">

I don't have any explanation for what they're seeing, and it's tough to figure out when it's happening on the Anc

[2021-03-03 22:39] #49430 closed, assigned to moon0326

[2021-03-03 22:43] selectedselections opened #50739 "Vimeo block: spacing issues around caption"
### Steps to reproduce the behavior

1. Go to any page or post
2. Embed a vimeo video link in vimeo block
3. Add a caption below
4. Preview or publish page

#### What I expected to happen

The caption should appear directly under the Vimeo embed

#### What actually happened

The caption has some padding above and below, creating some extra space that's not visible in the editor. This error is inco

[2021-03-03 22:46] kwight commented on #50279
It would be for all cases – the same problem exists for non-Anchor signups.

[2021-03-03 22:58] worldomonation commented on #50693
Couple of things:

1. getting tests to run under Playwright requires some scaffolding and stubbing, but it is a relatively straightforward task. This is illustrated by my trial project at #47874. The amount of scaffolding is not insignificant, but because Playwright is much more efficient and reliable at waiting for selectors and clicking them, the amount of code decreases compared to Selenium.
2.

[2021-03-03 23:04] designsimply commented on #4943
I say it's up to the Calypso team whether to close this case—I don't feel strongly either way but do want users to have the options they're after and think its verywaycool that Masonry and Stacked gallery blocks now have a custom URL option. I just tried it out and I love it!

I still think it's worth adding the option for setting custom URLs for each image to the core Gallery block but perhaps it

[2021-03-04 00:58] sbathompson-he opened #50740 "Podcast Block :: Not Showing Newest Podcast"
### Steps to reproduce the behavior

1. Go to the Users homepage but the newest podcast is not showing
2. Click on the Editor and it shows the newest podcast / Part-2
3. Readding the RSS feed, deleting the block and adding the feed or even creating a copy of the page did not resolve the issue
4. Here is a video of the issue

https://user-images.githubusercontent.com/18581859/173178831-e926f5e6-f01

[2021-03-04 01:15] devNigel commented on #50672
Another report:

* 28166191-hc
* 27574759-hc

Suggested adding an excerpt for the page.

[2021-03-04 01:21] andrewserong commented on #48881
Closing now as the fix for the `template/demo` endpoint was rolled out in D57481-code, so the affected patterns should work correctly once the new page layout picker is launched.

[2021-03-04 01:21] #48881 closed, assigned to andrewserong

[2021-03-04 01:22] sanjeev00733 commented on #50672
Another report in #24336406-hc. Adding excerpt to the page fixed the issue.

[2021-03-04 01:26] jeyip commented on #47247
I tracked things down to an older change that were made explicitly to solve another bug ( see 20390e6459a79be7f689c814708e49b8a0d8d6ed-GH-block-experiments )

[code]

To elaborate further, the original author left an additional message. "If a single column of a grid block contains a block followed by a cover block then the cover breaks out of the grid."

@johngodley I saw that you authored the com

[2021-03-04 02:57] nagpai commented on #50672
#28103426-hc

[2021-03-04 04:27] kavyagokul commented on #50672
Also 28167995-hc

[2021-03-04 05:51] getdave commented on #50713
It looks to be that the parent file we've used doesn't marry up with the `$jetpack_slug`. I don't fully understand why we would have used `https://wordpress.com/activity-log/` for the Jetpack slug.

We can no longer patch this directly in Jetpack. Therefore I've created 628-gh-Automattic/wpcomsh which "fixes" things temporarily by correctly assigning the parent file to match the slug.

I also expl

[2021-03-04 06:08] donalirl commented on #50672
#3790605-zen

[2021-03-04 06:36] nagpai commented on #50672
#28170460-hc - Atomic site - excerpt added

[2021-03-04 06:47] jsnajdr commented on #47659
HTTPS Everywhere released an updated ruleset few hours ago and I can confirm that the issue is solved for my local testing Chrome + HTTPS Everywhere.

The only other scenario where this private site login loop can happen now is when the browser genuinely blocks all 3rd party cookies. Safari does that by default. Chrome and Firefox do that only when you manually enable stricter-than-default privacy

[2021-03-04 06:50] getdave commented on #50701
Nice to have but I don't think this is causing any critical issues for HEs right @mrfoxtalbot ?

[2021-03-04 06:52] getdave commented on #50692
Thank you for reporting. Duplicate of https://github.com/Automattic/wp-calypso/issues/50713.

[2021-03-04 06:52] #50692 closed, assigned to nobody

[2021-03-04 07:42] jeroenpf opened #50744 "Blogger.com importer does not import videos"
The blogger.com importer is currently not importing videos that have been uploaded by the user on their Blogger site and added to a post. If possible, we should ensure the video is imported and added to the post properly.

Instead of a video, an empty separator div is added:

[code]

A video is represented in the exported content as follows:

[code]

### Steps to reproduce the behavior

1. On blog

[2021-03-04 08:04] jeroenpf opened #50745 "SquareSpace importer creates broken image gallery"
Posts on SquareSpace that have an image gallery are not imported properly. The way we import image galleries needs to be investigated and fixed.

When importing content that has an image gallery,  for each image two `img` tags get added. One of them is correct but the other one does not have a `src` attribute.

e.g.

[code]

Furthermore, some CSS originating from the export file is added as visibl

[2021-03-04 08:22] kosiew opened #50746 "Video views not counted in stats"
Customer in #3791371-zen says there have been 0 video views in the stats in the past few days.

I tested viewing and confirmed that video views are not counted.

The visits from Malaysia, Japan are mine:
![Screenshot](https://d.pr/i/MoX4uV+)
*if image does not load, please click on this link  : https://d.pr/i/MoX4uV*

### Steps to reproduce the behavior

1. View a post with videopress file
2. chec

[2021-03-04 08:32] johngodley commented on #47247
Can we move this to the block experiments repo? This, and other Layout Grid issues, can be looked at in a timely manner there alongside other changes to the block.

For reference, the change was made in https://github.com/Automattic/block-experiments/pull/38 to help with an issue on Firefox. The PR seems to describe the problem well, and @jasmussen may recall further details.

It is possible that

[2021-03-04 08:40] #49313 closed, assigned to tjcafferkey

[2021-03-04 09:26] jasmussen commented on #47247
I would echo John, we are working on the Layout Grid block in the block-experiments repository, and it's hard to catch bugs reported for Calypso here.

I have a fix in https://github.com/Automattic/block-experiments/pull/174, which to John's point needs to be tested a bit as it was added initially to fix a Firefox issue which I can, admittedly, no longer reproduce.

[2021-03-04 09:26] StefanNieuwenhuis commented on #50506
I've upscaled the priority since this issue has a direct impact on (paying) customers (see p1614755830083400/1614718793.075600-slack-C013QHLF28Y).

After merging https://github.com/Automattic/jetpack/pull/18936 &  D57652-code this issue is fixed now, hence I closed this issue.

[2021-03-04 09:27] StefanNieuwenhuis commented on #50506
I've upscaled the priority since this issue has a direct impact on (paying) customers (see p1614755830083400/1614718793.075600-slack-C013QHLF28Y).

After merging https://github.com/Automattic/jetpack/pull/18936 &  D57652-code this issue is fixed now, hence I closed this issue.

[2021-03-04 09:27] #50506 closed, assigned to nobody

[2021-03-04 09:29] mtias commented on #50679
I think it's fine to have an opinionated design element like this if it's part of why you would choose such a theme. We need more variety and perhaps optionality on the starter content in the home. Or other themes!

[2021-03-04 09:55] mmtr commented on #50713
This is really weird. We're using the `/activity-log` slug because that's usually the URL of the first submenu of the Jetpack menu, but it shouldn't really matter what we set there because we're migrating all the submenus using the `jetpack` slug to the new slug in https://github.com/Automattic/jetpack/blob/294ad77419b63293fde382ed6c4f268677dec72c/projects/plugins/jetpack/modules/masterbar/admin-m

[2021-03-04 10:40] javierarce commented on #50672
Another #3789096-zen. The workaround solved the issue.

[2021-03-04 10:44] inaikem opened #50750 "Reusable block: Add a persistent menu link to view/edit Reusable blocks"
### Request
Add a dedicated, persistent Reusable block navigation item in WP Admin and Calypso. Point this to the respective Reusable blocks view/edit screens.

This would allow users to to allow users to:

1. Quickly gain an overview of all Reusable blocks on their site via a dedicated menu link.
2. Quickly manage duplicates, edits.
3. If implemented in a tag/category view format, users could als

[2021-03-04 10:48] Nic-Sevic opened #50752 "Block posts block: when use category filter posts not displaying"
### Steps to reproduce the behavior

1. Go to a page and add a blog posts block with a category filter
2. increase the number of posts shown to 10
3. See posts in editor and none in preview/live
4. decrease number and see some posts start to appear (but not as many as should)

#### What I expected to happen
- the editor and preview/live site should display the same thing
- the number of posts disp

[2021-03-04 11:01] inaikem opened #50753 "Reusable Block: Adding block Reusable Block revisions"
### Request
Pages and posts have revisions which are accessible contributors and other higher user roles. I'd like to see the same functionality added to Reusable blocks, and better expose their view/edit options.

This would benefit users by:

1. Providing a granular a revision history in a familiar format.
2. Providing better visibility of what changes are being made by which user on multi-autho

[2021-03-04 11:05] mrsjaved opened #50754 "In Preview window while editing the page it does not display the blog posts on clicking the blog in main menu"
### Steps to reproduce the behavior

1. Open any simple test site
2. Create two pages one for home and one for blog posts
3. Set home as static and blog to display posts
4. Add both pages to the main menu of the site
5. Edit homepage page and click on the preview
6. Now click on Blog in the main menu and see if it displays the blog posts or it displays the homepage content

#### What I expected to

[2021-03-04 11:20] #50627 closed, assigned to nobody

[2021-03-04 11:21] yansern commented on #49775
With the PRs merged, what's left is cleanup `hasTranslation` once everything is in place.

[2021-03-04 11:21] mrsjaved commented on #50754
Reported here: 3792209-zd-woothemes

[2021-03-04 11:46] tyxla commented on #50298
I think this suggestion makes a lot of sense. It feels like the user would enter a very weird rabbit hole to change the email address that is the only connection to their account 🤷

[2021-03-04 12:10] simison commented on #47659
Thanks everyone for working on this!

@jsnajdr Since that's more generic issue that is also being worked on, I believe we can now close this issue?

[2021-03-04 12:38] mmtr commented on #50713
I confirmed the `jetpack_admin_menu` is unrelated (it gets triggered within `admin_menu` before `reregister_menus` runs). Not sure why, but apparently the issue is that the `jetpack#/dashboard` page ends up with `parent_file` being the Plugins menu slug, rather than the Jetpack menu slug. This is avoided if we don't change the Jetpack menu slug to `/activity-log` but no idea why. This is certainly

[2021-03-04 12:41] AtrumGeost commented on #50672
Reported in 28049316-hc

The workaround worked! Thank you!

[2021-03-04 13:10] davipontesblog commented on #39850
I just had this come up with another user in support. Reference: 3792490-zd-woothemes
No default pages created, had to do it for them. It seemed like they had indeed followed the Woo checklist in the new Woo Nav under WooCommerce > Home, and only had "Payments" left to set up.

[2021-03-04 13:25] davipontesblog opened #50757 "My Home: Launch button missing on atomic site"
I helped a user in support today and noticed something strange in "My Home":

<img width="1269" alt="Screen Shot 2021-03-04 at 07 53 07" src="https://user-images.githubusercontent.com/31009008/109969826-b9f4d380-7cca-11eb-8074-dfdb8d110594.png">

The site is not launched - shouldn't there be a CTA here for "Launch" in My Home? I can only see a CTA in `My Site > Manage > Settings`:

<img width="115

[2021-03-04 13:30] davipontesblog commented on #36318
@obenland I think it would just be easier here, and make the most sense to remove this "Need help setting up this site?" message, since it seems like it's something that is added to the simple sites, as opposed to something that core has. I agree with previous comments that this linking to the theme guide page doesn't seem very helpful in the current WordPress context.

[2021-03-04 13:31] StefanNieuwenhuis opened #50758 "Gutenberg mobile editor: Misaligned Header items"
The Header in the Gutenberg Editor on Mobile Web doesn't contain sufficient screen estate to align the items nicely.

<img width="488" alt="Screenshot 2021-03-04 at 14 17 34" src="https://user-images.githubusercontent.com/12104589/109970816-cd696400-7cf5-11eb-8174-c4e04ef1758b.png">

Steps to reproduce

1. Switch to a mobile viewport (I used Moto G4). Here's [a guide](https://developers.google.com

[2021-03-04 13:50] xknown commented on #30426
Sorry for the delayed reply. How did you test this? I was able to upload this without any issues on wp-admin (WP.com).

[2021-03-04 13:57] mmtr commented on #50713
Found it! We have a bug in `add_plugins_menu` which uses an incorrect slug: https://github.com/Automattic/jetpack/blob/4285c543fac82809bd640485c071138076c7900e/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L515

It should check against `plugins.php`:

[code]

[2021-03-04 14:19] mpmedialab commented on #35800
One more report → #3792547-zen

[2021-03-04 14:30] pauljacobson commented on #50672
3787228-zen - The workaround worked here too.

[2021-03-04 15:09] simison commented on #49048
x-linking the prototype https://github.com/Automattic/wp-calypso/issues/49141

[2021-03-04 15:22] kraftbj commented on #50672
The fix is being rolled out to WoA sites now. p9o2xV-1hK-p2

[2021-03-04 15:27] lynnbgriffith commented on #50298
Totally agree. Thanks for clarifying @worldomonation! I'd missed some of the context on this issue earlier.

[2021-03-04 16:27] edequalsawesome opened #50764 "Coming Soon: Launch Button Shown in Banner in Customizer Preview, But Does Not Work"
### Steps to reproduce the behavior

1. Create a site
2. Go AT before launching the site
3. Open the Customizer
4. Click the Launch Site button in the Customizer preview

<img width="2370" alt="Launch Button Shown in Preview" src="https://user-images.githubusercontent.com/4000628/109994609-78b8ef80-7cdb-11eb-8132-acf90f341f98.png">

#### What I expected to happen

Ideally I would expect the button

[2021-03-04 16:33] jeherve commented on #50672
The fix has now been deployed to all Atomic sites. I'll close this issue now.

[2021-03-04 16:33] #50672 closed, assigned to apeatling

[2021-03-04 16:33] davipontesblog opened #50765 "Nav Unification: Not enough screen space for some themes / plugins"
The starter templates screen in WP Admin gets cut on the left - the content bleeds behind the Nav sidebar.

<img width="1272" alt="Screen Shot 2021-03-04 at 12 24 03 PM" src="https://user-images.githubusercontent.com/31009008/109996533-b3278a00-7ce5-11eb-8ed7-73ce6cfd6541.png">

### Steps to reproduce the behavior

1. Install Astra theme on the site. Free version.
2. Go to My Site > Appearance > A

[2021-03-04 16:40] davipontesblog opened #50767 "Nav Unification: Sidebar continues scrolling infinitely past the bottom margin"
I am not sure how to reproduce this, but while working on a test site and using the Astra theme templates in My Site > Appearance > Starter templates, I noticed the nav sidebar would continue scrolling past the end point at the bottom. You can see this happen on the video below. Collapsing it, and then expanding it again fixes the issue.

https://user-images.githubusercontent.com/31009008/10999723

[2021-03-04 16:55] philnick206 commented on #48865
Reported in 3791787-zen

[2021-03-04 17:34] happychait commented on #34377
22151387-hc

[2021-03-04 17:40] DavidRothstein opened #50768 "Checkout: Error messages don't persist when the last item is removed from the cart"
### Steps to reproduce the behavior

Easiest to reproduce like this:

1. Add a domain to the shopping cart.
2. Add G Suite.
3. Remove the domain from the shopping cart.  This will automatically remove G Suite also, thereby emptying the cart.
4. You get redirected to the plans page.  Before the redirect, a brief red message (which comes from the server and explains why G Suite was automatically rem

[2021-03-04 18:07] DavidRothstein commented on #50768
I can't tell if this is related to https://github.com/Automattic/wp-calypso/issues/48654 and https://github.com/Automattic/wp-calypso/pull/48658 or not (it might be, but it sounds a little different).

See also pbaDsf-hg-p2#comment-1697

[2021-03-04 18:30] rossanafmenezes opened #50769 "Help Bubble flashes on the My Home Page."
When You go to the My Home page the Help bubble flashes for a bit and since it already shows on the More Help tab here:

![Screenshot 2021-03-04 at 12 48 19 PM](https://user-images.githubusercontent.com/30724184/110011614-a60e9900-7ced-11eb-972b-075c222e8b0a.png)

 it's probably not supposed to be showing at the corner. You can see it flashing on this Gif here:

![unnamed](https://user-images.gith

[2021-03-04 18:33] worldomonation commented on #49466
I've added the flakey e2e label to better track e2e tests that have been disabled, or marked as flakey.

[2021-03-04 18:37] zdenys opened #50770 "Blask: Slideshow block shakes/vibrates/flickers"
## Steps to replicate

1. On a Simple site, add a [Slideshow Block](https://wordpress.com/support/wordpress-editor/blocks/slideshow-block/) with a few images to a Page.
2. Preview the page on the front end

https://user-images.githubusercontent.com/39308239/109952086-1fef5400-7ce7-11eb-9367-e97cd2a3722d.mov

## Result

Slideshow block shakes/vibrates/flickers.

## Expected

See no vibration/shakin

[2021-03-04 18:43] rossanafmenezes opened #50771 "My Home - Elements spacing off"
In the My Home page, once you hide this:

![iMarkup_20210304_133929](https://user-images.githubusercontent.com/30724184/110013122-3f8a7a80-7cef-11eb-87cc-798a97cdc34a.jpg)

These two arrows show and they are a bit off (on this screenshot it's not so obvious but on a bigger screen it gets pretty
misaligned

![iMarkup_20210304_133958](https://user-images.githubusercontent.com/30724184/110013177-53ce

[2021-03-04 18:50] jeyip commented on #47247
Thanks for the responses @jasmussen and @johngodley. That makes total sense, and I'll move this issue now. I just found out about the block-experiments repo yesterday, but I'll definitely keep it in mind when we triage future tickets 👍

[2021-03-04 18:56] metabreakr opened #50772 "VideoPress not working when blocking third-party cookies in Chrome"
### Steps to reproduce the behavior

1. Go to https://tenacityofthesoul.net/test-video/ in a Chrome incognito browser window
2. Observe that the video shows only a black box, rather than the video

#### What I expected to happen

I expected to see a video poster image, and to play the video.

#### What actually happened

I saw a black box instead. Allowing access to all cookies resolves this issue

[2021-03-04 19:04] Addison-Stavlo commented on #50679
Agreed.  More variety and options would make this quite a bit more of an acceptable option.  As it stands right now its the only starter design for tt1-blocks which is kind of rough.

[2021-03-04 19:04] jeyip commented on #47247
I'm going to close this Calypso issue to avoid duplicate tracking, but everyone can follow along in the issue I created in the block-experiments repo https://github.com/Automattic/block-experiments/issues/176

[2021-03-04 19:06] #47247 closed

[2021-03-04 20:40] fullofcaffeine opened #50775 "Gutenberg: v10.2.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/50323
Release notes: [v10.2.0](https://href.li/?https://github.com/WordPress/gutenberg/releases/tag/v10.2.0), [v10.2.1](https://github.com/WordPress/gutenberg/releases/tag/v10.2.1)

### Process

- [x] Install and activate
  - [x] Copy & install v10.2.0-rc.1 (D58493-code, D58494-code)
  - [x] Activate v10.2.0-rc.1 on edge (D58496-cod

[2021-03-04 20:41] fullofcaffeine commented on #50323
This is done 🎉! Next one: https://github.com/Automattic/wp-calypso/issues/50775.

[2021-03-04 21:44] jeyip commented on #50430
Not the most familiar with calypso signup, but I'm going to start investigating this. 👍

[2021-03-04 21:57] khristiansnyder opened #50778 "Gutenberg v10.1.0 - Crashing editor/browser when latest Instagram posts block is added"
1. On both AT and simple sites with Gutenberg 10.1.0 active...
2. Add the Latest Instagram Posts block and connect it to an Instagram account and try to publish the page. (Or open a page where that block is already published)
3. The editor crashes and uses a tremendous amount of browser resources.

#### Browser / OS version

Chrome Version 88.0.4324.192 (Official Build) (x86_64)

#### Does this ha

[2021-03-04 22:23] jordesign commented on #50778
I've been able to recreate on a WPCOM simple site as well.

Different console error though..

[code]

[2021-03-04 22:42] jordesign commented on #50778
Also recreated on a Vanilla WordPress installation with TT1 active and only Jetpack and Gutenberg plugins installed.

[2021-03-05 00:28] designsimply commented on #25179
Looping back to note that even though this was marked as stale and closed, it does appear to have been fixed along the way somewhere. ([35s](https://user-images.githubusercontent.com/1119271/110049353-ecc0bb00-7d0e-11eb-91a1-bb0d8cb6159f.mp4))

I just wanted to say thanks for the bug report and the follow-up with the video too though!!! It's so helpful to have things like that in our bug reports.

[2021-03-05 00:31] gwensmithx commented on #50778
This seems to be related. I have a customer on a simple site and Instagram gallery block was crashing the homepage. I opened the Classic Editor and removed it.

#28053687-hc / #3794424-zd

[2021-03-05 00:46] fernmed commented on #36274
I made the request with the user for further testing.

3794477-zd

[2021-03-05 01:13] psealock opened #50781 "New Launch + Nav Unification: Blank white screen"
### Steps to reproduce the behaviour

This is Gutenberg's new launch flow. The error messages at the end suggest the problem may lie with Nav Unification.

[code]

1. Create a new site at https://wordpress.com/new?ref=calypso-selector
2. Choose a domain
3. Choose a theme
4. Choose a font
5. Choose some features. Here I selected ones that led me to the eComm plan, ie Store. I haven't tried other co

[2021-03-05 01:40] #45127 closed

[2021-03-05 01:57] roo2 commented on #49862
done 👍

[2021-03-05 01:57] #49862 closed, assigned to roo2

[2021-03-05 02:19] rodolfonei commented on #49622
Hi! I would like to work on this issue if it is available

[2021-03-05 02:30] autumnfjeld commented on #49864
Could we add a link to the PR that completed this?  😄

[2021-03-05 03:23] p-jackson commented on #50362
If only there was a BNF for human feedback 😔

[2021-03-05 04:51] jordesign commented on #50778
Another user affected in #28193265-hc. they're going to wait out the fix

[2021-03-05 05:03] ramonjd commented on #49404
I can't find anywhere that tell me there's a PHP function that does block validation (`parse_blocks`) seems to parse any old block. This does not mean that one doesn't exist :)

So if we do it clientside to make use of block validation methods, an MC might be a great way to get started. No idea how much of a time sink it would be. Maybe we could pinch the code from https://github.com/getdave/stand

[2021-03-05 05:07] happychait commented on #50772
23891221-hc > 3793531-zen

[2021-03-05 07:02] jeyip commented on #50430
- After some spelunking, the "empty cart" page is rendered under a variety of circumstances (see [here](https://github.com/Automattic/wp-calypso/blob/776d0bc5c75f94192d6b67eeee06e51dbcfccbbf/client/my-sites/checkout/composite-checkout/composite-checkout.tsx#L596-L632)).
- In our case, it turns out that the `@automattic/shopping-cart` library isn't loading the response cart with the selected plan p

[2021-03-05 09:39] getdave opened #50784 "Add support docs link to Account settings toggle"
We have [the link to the support doc for the Account settings WPAdmin toggle](https://wordpress.com/support/account-settings/#dashboard-appearance). Let's add a `Learn more` link to the end of the label text on the toggle linking out to this page.

[2021-03-05 10:12] zdenys opened #50786 "Audio block: Add option for hiding Download button"
**What**
It will be helpful to provide an option in the block settings to hide the download button to protect audio files from the immediate download.

**Why**
Some users want to protect their audio files from the immediate download.

**How**
There is currently a way to hide it via CSS p5nmAP-16N-p2 but it's be great to have the built-in option to do that within the Audio Block settings.

**Additi

[2021-03-05 10:18] cpapazoglou commented on #50722
Thanks for reporting! I suppose you tried this on an Atomic site, right? Also, can you confirm it is happening now again?

Can't reproduce it on my end, going to `/wp-admin/theme-install.php?browse=featured` works ok
![](https://cln.sh/dz4oWr+)

However, It doesn't work well with `/wp-admin/theme-install.php?browse=[UNEXPECTED_VALUE]`. Can you let us know the URL which you landed on?

[2021-03-05 10:29] #50704 closed, assigned to mmtr

[2021-03-05 10:39] ciampo opened #50787 "New Onboarding: plans billing period toggle translations inconsistencies"
## What

The "Monthly" / "Annually" labels for the plans grid billing period toggle are being translated inconsistently — e.g. sometimes as adjectives (as in "Monthly plan", sometimes as adverbs "Pay monthly"). This leads to inconsistent translations in the switch toggle, for example in the italian locale:

![image](https://user-images.githubusercontent.com/1083581/110104292-41177980-7da7-11eb-971

[2021-03-05 10:40] cpapazoglou commented on #50722
Setting priority to Normal, cause even if that still happens, users may click any category or search which load correctly.

[2021-03-05 10:41] ciampo commented on #50787
@razvanpapadopol and @ollierozdarz , do you have a preference between suggesting "Monthly" as an adverb (as in "Pay monthly") or as adjective (as in "Monthly plan") ?

[2021-03-05 11:13] getdave commented on #50750
@inaikem Can you confirm whether this is a _regression_? I'm able to access Resuable blocks via

`/wp-admin/edit.php?post_type=wp_block` on my site. Under what conditions were you not able to do this?

If this needs to be escalated urgently please ping me in `#nav-unification` on Slack.

[2021-03-05 11:17] getdave commented on #50781
We're working on a fix for this now.

Note accepting a variable to `document.body.classList.add()` is the cause. Ideally, we should avoid this as it's too easy to introduce an error, especially for IE11.

https://developer.mozilla.org/en-US/docs/Web/API/Element/classList

[2021-03-05 11:39] simison commented on #50430
This sounds like the impact is very limited and we can lower the priority. Lemme know if anyone objects though!

[2021-03-05 11:42] tjcafferkey commented on #50569
@getdave that's fine. There wouldn't be an issue releasing this to Simple Sites whilst at the same preparing the work in Jetpack for the next release, will there?

[2021-03-05 11:53] #50781 closed, assigned to mmtr

[2021-03-05 13:11] #50697 closed, assigned to tjcafferkey

[2021-03-05 13:27] #49360 closed, assigned to yansern

[2021-03-05 13:50] getdave commented on #50769
Known Issue not part of Nav Unification. It's because the `?` isn't hidden until the application detects that you've landed on the `Home` route. There is a slight delay due to the way routing works in Calypso.

[2021-03-05 13:53] jsnajdr commented on #47659
Yes, let's close this.

[2021-03-05 13:57] getdave opened #50791 "Decouple the Happy Chat button from the FAB and always show it when there’s an active chat session"
See p7DVsv-aFw-p2#comment-34942.

[2021-03-05 13:58] getdave opened #50792 "Show the Happy Chat sidebar if there’s an active chat."
See p7DVsv-aFw-p2#comment-34942

[2021-03-05 15:26] #50543 closed, assigned to sixhours

[2021-03-05 15:59] eidolonnight opened #50796 "Warn user about incompatible plugins during import"
#### Steps to reproduce

1. Using a WordPress.com Business site, click on My Site(s) → Tools → Import
2. Select the WordPress import option
3. Type in the site address where the content is currently hosted and click Continue
4. On the next screen, you’ll have two options under “What do you want to import?”. Select "Everything – All your site’s content, themes, plugins, users, and settings."

![ima

[2021-03-05 16:19] DavidRothstein opened #50799 "Checkout: Plan term discounts don't make sense if the product doesn't have a monthly option"
In https://github.com/Automattic/wp-calypso/pull/50795, we fixed the fatal errors when trying to purchase or renew a plan that doesn't have a monthly option.  But when trying to purchase a **new** plan in that case, the discounts shown don't make sense (because it's trying to compare to a non-existent monthly plan price):

![new-purchase-no-monthly](https://user-images.githubusercontent.com/235183

[2021-03-05 16:22] DavidRothstein commented on #50799
Looks like https://github.com/Automattic/wp-calypso/pull/50798 may fix this (not in an 100% ideal way, but by removing the "Save X%" in this case entirely, which seems good enough to call this fixed).

[2021-03-05 16:42] klimeryk opened #50801 "Nav Unification: Sidebar is empty on mobile viewports"
### Steps to reproduce the behavior

Switch to mobile viewport in developer tools of your browser.

1. Go to wordpress.com/home
2. Click on W logo top left corner.

#### What I expected to happen

To see the sidebar? List of sites?

#### What actually happened

Blank screen was shown.

#### Browser / OS version

Firefox 86, OSX

Safari 14 - **not reproducible/not affected**.

#### Is this specific

[2021-03-05 16:51] #50799 closed, assigned to nobody

[2021-03-05 17:05] michaeldcain commented on #36415
This is still a difference between Atomic/Jetpack and Simple. @obenland would it make sense to add it to https://github.com/Automattic/wp-calypso/projects/88?

[2021-03-05 17:07] sirbrillig commented on #50768
Ah... previously to https://github.com/Automattic/wp-calypso/pull/50465 we did not redirect if there were error messages shown (thanks to https://github.com/Automattic/wp-calypso/pull/44370) but now we probably do. That's a regression. I'll take care of it.

[2021-03-05 17:07] michaeldcain commented on #45077
Still an issue.

[2021-03-05 17:08] michaeldcain commented on #37270
Still a valid suggestion.

[2021-03-05 17:11] michaeldcain commented on #31379
I'll mark this as low priority, since it's technically valid, but doesn't prevent users from checking out.

[2021-03-05 17:29] supernovia commented on #49309
We spotted this too in a team testing session. After this bug, clicking Portfolio takes us to a Calypso page.

I see this on MacOS / Chrome, both current, btw.

[2021-03-05 17:49] fullofcaffeine commented on #50323
Re-opening due to https://github.com/Automattic/wp-calypso/issues/50778 (slack context: p1614895798108900-slack-CBTN58FTJ). A patch-release including the fix has been released already. I'll close once the update is done.

[2021-03-05 17:51] #50784 closed, assigned to nobody

[2021-03-05 17:53] #44834 closed

[2021-03-05 17:53] #40221 closed

[2021-03-05 17:53] #40217 closed

[2021-03-05 18:36] mattwondra commented on #50543
@sixhours Thank you so much for fixing this! 🙌

[2021-03-05 18:57] isocialtish commented on #49007
This came up in #28206056-hc. It was such a problem it was affecting their launch and I needed to offer a refund for a month of their Business plan

[2021-03-05 18:58] #50323 closed, assigned to nobody

[2021-03-05 19:13] sirbrillig commented on #50768
I realized that we can actually just solve this by making sure error messages persist across page loads, which they used to do. I created https://github.com/Automattic/wp-calypso/pull/50805 to fix this.

[2021-03-05 20:12] ianstewart commented on #50053
In developing this mechanism it may be worth exploring how we'd roll this out to signup variations as well.

[2021-03-05 21:04] DavidRothstein commented on #45076
Doesn't seem likely to actually be stale, so I'm leaving a comment to keep it open...

[2021-03-05 22:02] mattsherman opened #50809 "Store|Woo: Move `client/extensions/woocommerce/components/text-control` out of `client/extensions/woocommerce`"
Part of the Sunset Store project. See pbIJXs-sE-p2 for more details.

Now that Store has been removed from the user experience on WordPress.com (pbIJXs-Hj-p2), we should start removing unused code. Ideally, we will eventually get rid of `client/extensions/woocommerce` entirely. However, there are some files that are used elsewhere. We should move those out of `client/extensions/woocommerce`.

## T

[2021-03-06 01:31] kaitohm opened #50811 "Feature Request: The ability to change transparency in block color settings"
User would like the ability to change the transparency in the color settings on blocks. They think a slider would be good for this.

3790100-zd-woothemes

[2021-03-06 02:08] kaitohm opened #50812 "Find a way to allow VideoPress videos to work with trackers blocked"
Currently, VideoPress videos include a Google Analytics tracker. (Documented here: 814-gh-Automattic/greenhouse)

Browsers that block trackers (Such as DuckDuckGo, Brave etc.) cannot view videos, unless viewers know how to allow the use of these specific trackers.

A user would like this requirement removed, so that viewers can view their videos even with the trackers disabled.

User request: 3791

[2021-03-06 04:49] joweber123 commented on #50772
Another report here - 28214485-hc

[2021-03-06 05:53] olaolusoga commented on #46696
With FSE in a better shape, and having the pieces necessary for a true FSE experience, I question the value of the font pairing step in Gutenboarding. With Global styles, we can move the font selection step, and maybe preview into FSE where we could use a guidance system (TBD) to inform folks they can modify their site fonts with the global styles sidebar.

Also, with global styles getting the nee

[2021-03-06 11:01] mrsjaved opened #50813 "Jetpack share: Twitter handle is not included in tweet while sharing the post"
#### Steps to reproduce the issue

1. Open an AT site (preferably the one which was recently AT'd)
2. Make sure the site is public
2. Go to My Site -> Tools -> Marketing -> Sharing Buttons
3. Enable the Twitter share button and enable the option to show on the posts detail page.
4. In the "Twitter username" field add your Twitter handle.
5. Now view the post and tweet the post by clicking on the T

[2021-03-06 11:29] zdenys commented on #38847
Another case in 1010249-hc but it was for the domain, not subdomain: https://d.pr/v/RnXd0I

[2021-03-06 15:40] jartes opened #50814 "Nav Unification: symlinked WooCommerce.com themes included on eCommerce plan not listed"
### Steps to reproduce the behavior

1. Create a new site and add an eCommerce plan.
2. Go to **Appereance → Themes → Add new theme**
3. Search for any Storefront Child Themes [included in the eCommerce plan](https://wordpress.com/support/ecommerce-plan/#themes-amp-customization): Galleria, Homestore or, Bookshop.

#### What I expected to happen

Found any of the above themes in order to activate

[2021-03-06 15:42] serabi opened #50815 "Anchor.FM: Can't search for site/site list is broken"
### What I did:

1. Clicked the "Create a podcast episode" button after pressing "post" on a post
2. Was taken to the "Howdy! Anchor would like to connect to your WordPress.com site" dialogue
3. The display for the current site I was on was broken
4. When I clicked the arrow to find a different site, the display remained broken and there was no way for me to search for the specific site I wanted t

[2021-03-06 17:10] msilbers commented on #45661
Reported by a customer in 3793884-zd

[2021-03-06 18:04] mikeicode opened #50816 "Gallery Block: Attachment page links only work for newly uploaded images"
With the default Gallery block if you add an image from the Media Library or another source like Pexels the attachment page links don't work. There is no link added to the HTML. It appears they only work if you upload an image directly from your computer to the gallery.

I tested this on the Tiled Gallery block and that didn't have the same issue.

### Steps to reproduce the behavior

1. Shut off

[2021-03-06 18:21] tbradsha commented on #50565
I used to be able to go to WP Admin → Users and edit their profile, updating their display name or bio. This is no longer possible. Going to `/me` is for account-wide settings, so doesn't solve the issue here.

[2021-03-06 19:02] wpshellbelle commented on #36274
Another report at 3781308-zen

[2021-03-06 21:05] mikeicode commented on #46634
Ran into this 3798041-zd-woothemes

Missing icons:

![https://d.pr/i/XGxVr5](https://d.pr/i/XGxVr5+)

These are added with:

[code]

This font file isn't loaded on the page, resulting in this issue:

[code]

Another issue is the "More" button, that doesn't function correctly when you click on it here. Provided this CSS to hide the sharing from the Blog Posts block.

[code]

[2021-03-06 21:43] sirbrillig commented on #24019
The current plan:

- Remove CartData from checkout: https://github.com/Automattic/wp-calypso/pull/50681
- Move getRememberedCoupon to where it is used: https://github.com/Automattic/wp-calypso/pull/50817
- Remove CartData: https://github.com/Automattic/wp-calypso/pull/50818
- Remove CartStore 🎉 : https://github.com/Automattic/wp-calypso/pull/50819
- Remove unused functions from cart-values and pro

[2021-03-06 22:29] ChrissiePollock commented on #50616
I'm not certain if this is related, but I was in a Quick Start today, and the customer clicked on WooCommerce to set up a store, and it got stuck on the Building your Store screen. After a while, we resolved by adding the WooCommerce plugin from Tools>Plugins and activating. Even after that, the store was stuck until we opened wp-admin and started setting up from there.

[2021-03-07 01:59] gwensmithx commented on #50560
It seems there are a few issues open for Anchor.fm. This one seems to match exactly what a customer is experiencing that I chatted with today.

They are seeing the WordPress connection error in their Anchor.fm dashboard (screenshot is in ticket).

#3789782-zd

[2021-03-07 04:19] hacchism opened #50820 "Payments Block: Block account closure when a user has active recurring subscriptions"
**What**

We should block account closure when a user has active recurring subscriptions. Or alternatively, a recurring subscription should be canceled automatically when the WP.com account that owns the sub is closed.

**Why**

Currently, a user can close their WP.com account even if they still have active recurring subscriptions. Due to this, a user continues to be charged for the subscriptions

[2021-03-07 07:58] ivan-ottinger commented on #50812
The user suggested that we could display a message when the video is blocked:

[2021-03-07 09:59] inaikem commented on #50750
Hi Dave. I think there might be some misunderstanding, I said "able to access" _not_ "unable" above! If that's unclear please let me know and I'll rephrase the ask - this is a feature request not a bug report (for now, at least! 🙏)

[2021-03-07 13:16] syds87 commented on #50746
The same seems to happen for #3792309-ZD.

[2021-03-07 13:32] arunsathiya commented on #44777
This is still valid.

<img width="1569" alt="Screenshot 2021-03-07 at 7 01 29 PM" src="https://user-images.githubusercontent.com/18581859/110241576-89859180-7f77-11eb-8247-3073338b9451.png">

[2021-03-07 13:32] arunsathiya commented on #7969
I am closing this as the Calypso editor does not exist anymore. An equivalent Gutenberg editor request is here - https://github.com/Automattic/wp-calypso/issues/44777

[2021-03-07 13:32] #7969 closed

[2021-03-07 13:47] ivan-ottinger opened #50821 "Goodreads widget: "Currently Reading" and "Want to Read" options are not displaying any books in Customizer"
### Steps to reproduce the behavior

1. Go to Customizer → Widgets and add the Goodreads widget.
2. Add Goodreads user ID.
3. Select "Currently Reading" or "Want to Read" from the Shelf drop-down.
4. Observe.

#### What I expected to happen

The books should load properly.

#### What actually happened

No books loaded:

![Markup on 2021-03-07 at 14:42:00](https://user-images.githubusercontent.com/

[2021-03-07 14:51] arunsathiya opened #50822 "Account settings: Primary site dropdown's design appears broken"
### Steps to reproduce the behavior

- Start at https://wordpress.com/me/account
- Click on the `Primary site` dropdown

#### What I expected to happen

The dropdown appears without any unintended white spaces, and that the search works without any design breakage.

#### What actually happened

The dropdown design appears broken, both before and during the search process.

### Context

Found by ma

[2021-03-07 14:54] arunsathiya opened #50823 "Domains: CNAME label flows outside available space on mobile views"
### Steps to reproduce the behavior

- Start at https://wordpress.com/domains/manage
- Click on a domain name for which DNS is managed at WordPress.com.
- For a CNAME record on that page (add one if there isn't one), notice that the label overflows available space.

#### What I expected to happen

The CNAME label appears within the box.

#### What actually happened

Overflows available box space.

[2021-03-07 14:55] arunsathiya commented on #50823
<img width="1340" alt="Screenshot 2021-03-06 at 3 19 37 PM" src="https://user-images.githubusercontent.com/18581859/110244109-3e717b80-7f83-11eb-82f7-31b3b5eaaeac.png">

If I am seeing this correctly, the label is not centered on the desktop view either.

[2021-03-07 14:59] arunsathiya opened #50824 "Domains: Subdomains accessible when TLD is under maintenance, while root domain isn't"
### Steps to reproduce the behavior

- When a TLD is under maintenance, open https://wordpress.com/domains/manage and click on that root domain name.
- Notice that a maintenance message appears, which blocks the DNS management section.
- Try the same for a subdomain of that root domain, notice that it doesn't block the DNS management section.

#### What I expected to happen

If root domain's DNS m

[2021-03-07 15:04] arunsathiya opened #50825 "Domains: Removing the last MX record shows an incorrect email forwarding removal notice"
### Steps to reproduce the behavior

- On a domain with no WordPress.com email forwarding configured, visit https://wordpress.com/domains/manage
- Add third-party email providers' MX records
- Remove the MX records
- When removing the last MX record, notice that a popup about removing WordPress.com email forwards appears incorrectly

#### What I expected to happen

No such popup must be shown beca

[2021-03-07 16:40] linusrees commented on #50813
This is caused by a conflict with AMP. Disabling AMP allows the Twitter handle to be included. Possibly because AMP uses a limited set of HTML, JavaScript, and CSS. The bug can be repeated on many Wordpress.com sites by appending /amp to the end of the url.

On my site with the Wordpress.com business plan I can select three AMP template modes. Using AMP version 2.0.10 and with the setting in "Stan

[2021-03-07 16:45] happychait commented on #50772
Got a report in 9109924-hc

My user also sees `No videos played` in the Stats and would like to check if it's related to this issue.

[2021-03-07 17:22] synora opened #50826 "Nav Unification and Dashboard Color Schemes for "Updates" section for Atomic Sites"
The number of plugin/theme updates available is hard to see on the Aquatic Dashboard Color Scheme.

### Steps to reproduce the behavior

1. Apply the Aquatic Dashboard Color Scheme to your Atomic site
1. Visit https://wordpress.com/home/ and select an Atomic site
2. Try to read the number of "Updates" available to the navigation menu on the left
3. The "number" of updates is hard
4. Click on "Upda

[2021-03-07 19:50] brunoleal2003 commented on #35367
Hello, everyone. My name is Bruno. I am editor of a brazilian history popularization site. Well, I notice the same issue: a descrepancy between the Jetpack Stats and the Google Analytics Stats. There will always be a discrepancy. It's normal. But the discrepancy on my website is anything but normal. Jetpack/WP is registering 10x more pageviews than Google Analytics. This usually happens after a ne

[2021-03-07 20:29] adelineyaw commented on #50772
Another report 28245671-hc > 3801104-zen

[2021-03-07 20:39] p-jackson commented on #50361
Link to support site repo issue:
https://github.com/Automattic/en.support-docs-content/issues/1007

[2021-03-07 21:03] bluefuton commented on #796
Still an issue. In p5PDj3-4Sg-p2, @gibrown suggested reusing the Jetpack email processing for handling these.

[2021-03-07 22:02] #46632 closed

[2021-03-07 22:03] sdnunca commented on #46077
Besides the profile fields, the selected language is also not synchronized leading to a very confusing user experience.
I'll try to tackle this during the upcoming HW.

[2021-03-07 23:09] katiebethbrown commented on #48746
Another report: 28246365-hc

User has a domain registered here, pointing to another host via Cloudflare. I switched primary back to staging domain and reconnected JP so they could manage DNS.

[2021-03-07 23:56] happychait commented on #50812
Sounds similar to https://github.com/Automattic/wp-calypso/issues/50772

[2021-03-08 03:13] goblinartificer commented on #50746
Likewise in #28247524-hc . In particular, this user reports:

- they are using the `wpvideo` shortcode, and have found that the `videopress` shortcode never records views;
- they could see views as of yesterday, but now they're missing for the past few days back to March 1;
- neither of their usual shortcodes, nor the Video block now works;
- they tested in Firefox, Chrome and Safari for Mac and f

[2021-03-08 05:52] iamgabrielma commented on #45663
Another case on 3799618-zen

The Premium Content block not working on subscriber content page https://weekend-ish.com/subscribercontent/ . It's showing the sign up / log in buttons but just endlessly loops through it when paying visitors attempt to check the Premium content. I could replicate it by SSP via a paid visitor.

Also noting this warning:

`WARNING: /wordpress/plugins/jetpack/9.5.1/exten

[2021-03-08 05:58] goblinartificer commented on #50746
#3801055-zen

[2021-03-08 06:35] pablinos commented on #50778
Noting that [Gutenberg 10.1.1](https://github.com/WordPress/gutenberg/releases/tag/v10.1.1) has been released (p7DVsv-aMy-p2) to WordPress.com, which solves this issue.

[2021-03-08 06:41] scinos opened #50830 "e2e flaky test: [WPCOM] Managing Domains: (desktop): Adding a domain to an existing site @parallel > Empty the cart"
Test: [WPCOM] Managing Domains: (desktop): Adding a domain to an existing site @parallel > Empty the cart

Stats: 60 Runs 35 failed 19 successful 6 ignored

[2021-03-08 06:42] #50830 closed, assigned to nobody

[2021-03-08 08:06] jeroenpf opened #50832 "Tumblr media import issues"
When importing media posts (sound, video, image) from Tumblr, the actual media content of those posts does not get imported. The posts are created but have no title or content.

### Steps to reproduce the behavior

1. Go to Tumblr and create a couple of post with video, image, and audio content
2. Go to WordPress.com and choose the Tumblr importer in wp-admin
3. Authenticate the Tumblr user and im

[2021-03-08 08:22] jeyip commented on #50430
This turned out to be trickier than I thought, and I ended up learning a ton about the calypso signup flows. After lots of digging, here's what I found:

- At first, shopping cart logic or localStorage seemed like the probable cause of our problems. That turned out not to be the case.
- The issue seems to be that the `dependencyStore` slice of state accessed through[ client/state/signup/dependency

[2021-03-08 08:23] cpapazoglou opened #50833 "Clicking on WooCommerce to set up a store, got stuck on the Building your Store screen."
I was in a Quick Start today, and the customer clicked on WooCommerce to set up a store, and it got stuck on the Building your Store screen. After a while, we resolved by adding the WooCommerce plugin from Tools>Plugins and activating. Even after that, the store was stuck until we opened wp-admin and started setting up from there.

https://user-images.githubusercontent.com/12430020/110295010-44a23

[2021-03-08 08:23] simison commented on #50822
Cc @getdave can this be related to nav unification?

Cc @Automattic/team-calypso-components

Related? https://github.com/Automattic/wp-calypso/issues/50815

[2021-03-08 08:24] cpapazoglou commented on #50616
Thanks for checking in @ChrissiePollock! While this is not related to the nav-unification by itself (feature is not enabled for the customer) it certainly needs to be fixed. I have opened https://github.com/Automattic/wp-calypso/issues/50833 for this purpose.

[2021-03-08 08:24] #50616 closed, assigned to nobody

[2021-03-08 08:26] simison commented on #50815
Cc @Automattic/explorers @Automattic/serenity seems critical?

Related? https://github.com/Automattic/wp-calypso/issues/50822

[2021-03-08 08:33] Nic-Sevic opened #50834 "Embed block: embeds in columns misaligned in mobile"
### Steps to reproduce the behavior

1. Add a cover block with a column block and in one column a youtube embed and in the other column a paragraph block or another block

#### What I expected to happen

- Live mobile site should display the same as the editor preview
- customizer should show same as editor preview

#### What actually happened
- editor preview shows site well-aligned and as wanted

[2021-03-08 08:35] cpapazoglou commented on #50833
@mattsherman, just wanted to raise visibility on this one since it seems to be related to "Store" deprecation?

[2021-03-08 08:57] edwinho89 commented on #47745
Similar reported on 3801050-zen

[2021-03-08 09:10] retnonindya commented on #38807
28082325-hc

Site was on Premium plan on AT without BIZ situation.

[2021-03-08 09:16] mmtr commented on #50567
This is the default behavior of the menu in Core. Clicking on the parent menu will redirect users to the URL of the first submenu.

To solve this we should change the first submenu with a more generic sceen.

[2021-03-08 09:26] mmtr commented on #50801
I'm not able to reproduce this. Tested in Firefox 85 and 86.

https://user-images.githubusercontent.com/1233880/110301579-854d8880-7ff8-11eb-8549-4c44a1e28e4d.mov

Am I missing any testing step?

[2021-03-08 09:27] getdave commented on #48177
Given that 90% of users probably won't be making use of this feature I recommend **we remove the Links manager entirely**. As we cannot detect if the user is making use of the feature this is the only way forward.

Any users who need the screen can ask Happiness who can provide them with the direct link.

This obeys the 80/20 rule.

Given how close we are to launch however, I don't see us being ab

[2021-03-08 09:35] pablinos commented on #50815
That looks mainly like it's not loading the site's logo/favicon properly. I've checked it with my main Automattic account and a test account with multiple sites, and it renders ok for me.

Just noting that you can't search, it's dropdown that you have to scroll through, I'm guessing this problem was preventing the dropdown from scrolling? Perhaps there was a problem downloading some static assets,

[2021-03-08 09:40] mmtr commented on #50814
Yeah, this is because "Appearance > Add new theme" only list WP.org themes. See https://github.com/Automattic/jetpack/pull/18780.

@obenland @getdave should we rename the submenu to something else to avoid confusion?

[2021-03-08 09:48] klimeryk commented on #50801
No, there's nothing special that I'm doing (the API is not sandboxed, I'm using staging if that matters). I can easily reproduce 100% of the time. Tried different sites, checking if the cart abandonment notice was causing this (does not appear so) or sidebar warnings for domains (doesn't seem to be the case either).

OK, I _think_ figured it out - toggling uBlock Origin off seems to have fixed it.

[2021-03-08 09:48] #50801 closed, assigned to nobody

[2021-03-08 09:53] getdave commented on #50713
Deployed 628-gh-Automattic/wpcomsh to hotfix this.

[2021-03-08 10:19] simison commented on #25115
We changed new sites to be "public by default" instead of private, so the frequency folks hit this might've lowered. Still an issue of course.

[2021-03-08 10:25] klimeryk opened #50836 "Nav Unification: No menu item for webhooks"
### Steps to reproduce the behavior

1. Go to example.wordpress.com/wp-admin
2. Click on Settings

#### What I expected to happen

To be able to access `Webhooks` section as in current `wp-admin`:

<img width="168" alt="Screenshot 2021-03-08 at 10 23 19" src="https://user-images.githubusercontent.com/3392497/110308671-51726300-7ff8-11eb-8f10-437cc47d1a8c.png">

#### What actually happened

No `Web

[2021-03-08 10:32] simison commented on #50815
Could the image not load be 3rd party cookie issue? It would then replicate e.g. on Safari.

Separately, when the image doesn't load (for whatever reason), the site list shouldn't break too badly.

[2021-03-08 10:35] jsnajdr commented on #25115
A big part of this problem was solved a year ago by @jblz and @adamziel when implementing a media proxy endpoint for Atomic private sites in #39616 and followups. That allows to retrieve media files through a `public-api.wordpress.com` endpoint, solving the authentication and CORS problems present when Calypso tries to retrieve them directly.

This proxy should be extended to Simple sites, too, as

[2021-03-08 10:43] davemart-in commented on #48177
+1 to everything @getdave said. The links manager was [transitioned to a plugin](https://core.trac.wordpress.org/ticket/21307#comment:73) in Core 8 years ago.

[2021-03-08 10:49] klimeryk commented on #50824
Thanks for the report! This is by design. The subdomain is, by its nature, always a mapped domain. As such, it will not trigger any changes on the root domain. DNS editor is not impacted by registrar maintenance either. All mapping functionalities should work correctly even if the root domain (or TLD) is under maintenance 👍

[2021-03-08 10:49] #50824 closed, assigned to nobody

[2021-03-08 10:51] klimeryk commented on #50825
Yup, this is very much a bug. Looks like it goes all the way back to https://github.com/Automattic/wp-calypso/pull/6319? It's been always bugging me, but never got around to filing a report - thanks!

[2021-03-08 11:03] jartes commented on #50772
Another one on 21867305-hc

[2021-03-08 12:11] jartes commented on #50814
Thanks for checking @mmtr! So, in this case, if a user wants to install a bundled theme from the eCommerce plan, we would direct them to `wp-admin/themes.php`? Thanks!

[2021-03-08 12:31] WunderBart opened #50840 "Help FAB: Make possible to move/hide to uncover page content"
While in Editor, I noticed that the help FAB sometimes covers stuff and there's no way to uncover it (unless I remove the button via the Inspector 😉). As an example, here the text stays covered, even when resizing the window:

![Mar-08-2021 13-16-06](https://user-images.githubusercontent.com/1451471/110321262-b8e8dc80-8011-11eb-94b4-de4479435642.gif)

This is a mild case of inconvenience where jus

[2021-03-08 12:35] roo2 commented on #49706
created a diff to change it on the api side D58253-code

[2021-03-08 13:05] dougaitken commented on #29401
This came up again as someone asked how to view which site member published or changed a product - I forgot this was via the Posts/Pages filter.

[2021-03-08 13:08] simison commented on #50407
@apeatling could this be on the View backlog? It relates only to the site editor and not to the post editor. Checking how compatible rest of the aid blocks and their nudges would be good, too.

[2021-03-08 13:48] #50836 closed, assigned to nobody

[2021-03-08 14:04] simison commented on #36274
We have a job that tries to save a post as a draft via API and suffers from this frequently. If we just have a diff that adds logging in all the possible places where this might go wrong, we could try to capture what happens.

Discussed p1615189993041800-slack-dotcom and especially p1615196213117200-slack-create-gardeners

[2021-03-08 14:21] Nic-Sevic opened #50841 "Project type and category linked"
### Steps to reproduce the behavior

1. Create a project type (in portfolio)
2. Create a category with the same name
3. Update the name of one and see that other changes
4. Add project type in menu

#### What I expected to happen
category and project type should be able to be updated independently
should be able to add both to menu in customizer

#### What actually happened
the names update togeth

[2021-03-08 14:30] mmtr commented on #50713
Ii will be also fixed in Jetpack 9.6 by https://github.com/Automattic/jetpack/pull/19017.

[2021-03-08 14:30] #50713 closed, assigned to getdave

[2021-03-08 14:36] tbradsha commented on #50567
Indeed, in my ideal world the first submenu item would be something other than Marketing.

[2021-03-08 14:36] razvanpapadopol commented on #46869
@Automattic/luna, we may need to also rethink the store registering when we'll migrate from `registerStore` to `createStore` from `wp.data`. See pca54o-17m-p2

[2021-03-08 14:40] tbradsha commented on #50566
Yes, it's consistent with the account sidebar, but still disorienting/unclear what one would find at those links, followed by confusion of how to get back to the nav unification menu in #50564. Not a regression, but feedback. :^)

[2021-03-08 14:41] Gilmoursa commented on #50823
I'm not able to reproduce this issue on mobile. On desktop, I notice the issue but it is very slight.
![image](https://user-images.githubusercontent.com/10321421/110336000-706df680-7ff2-11eb-9098-440aed56931c.png)

[2021-03-08 14:55] Gilmoursa commented on #50822
Confirmed the issue using Google Chrome as well.

[2021-03-08 14:55] rinazrina commented on #59396
Another case: #3801920-zen

[2021-03-08 14:56] #14843 closed

[2021-03-08 15:01] sarayourfriend commented on #50822
Related PR: https://github.com/Automattic/wp-calypso/pull/50220

The fix should be as simple as modifying the value that PR introduces.

@flootr Do you have any insight into why that value was picked for this? Did this break since your fix?

[2021-03-08 15:13] DavidRothstein commented on #50820
We'll track blocking this in the API endpoint in the payments backlog here: c/Uv4KmiO5-tr

I think that would give an error message something like "This user account cannot be closed while it has active subscriptions" if the user tries to close their account in that situation.

Then we can leave this issue open if someone wants to fix it in a nicer way in Calypso, to give a more user-friendly proc

[2021-03-08 15:25] #50695 closed, assigned to cpapazoglou

[2021-03-08 15:39] obenland commented on #50814
"Browse Theme Directory"?

[2021-03-08 15:39] stephdau opened #50844 "Nav Unification: loss of ability to control several discussion options on simple sites."
With the removal of the "Discussion" option in the "Settings" menu, users are now expected to go to `wordpress.com/settings/general/[the site]`, and then click on the "Discussion" tab to get to `wordpress.com/settings/discussion/[the site]`.

Unfortunately, the Calypso Discussion screen is missing several features when compared to its Wp-Admin equivalent, **for simple sites**, such as the Akismet

[2021-03-08 15:50] keoshi commented on #40128
The button has since suffered some changes and the color on `:hover`/`:focus` is now much darker at `rgb(0, 113, 23)`. This gets a contrast ratio of 6.22, almost AAA level and comfortably above AA level.

![image](https://user-images.githubusercontent.com/390760/110344941-f35c7480-8025-11eb-86f4-3cedafe1c4a5.png)

![image](https://user-images.githubusercontent.com/390760/110344989-ff483680-8025-11

[2021-03-08 15:50] #40128 closed

[2021-03-08 15:51] Gilmoursa commented on #50778
Unable to reproduce in Gutenberg 10.1.1. Closing the issue

[2021-03-08 15:51] #50778 closed, assigned to nobody

[2021-03-08 15:57] #12481 closed

[2021-03-08 15:58] #12121 closed

[2021-03-08 15:59] #11657 closed

[2021-03-08 16:04] #6642 closed

[2021-03-08 16:07] michaeldcain opened #50845 "Customer Home: expiration notice shows 1-day after purchase for monthly plans"
The Customer Home expiring plan card shows when the expiration date is less than 30 days away. For monthly plans, this starts the days after purchase.

Reported in Slack: p1614084130027200-slack-CT1FP5D62

[2021-03-08 16:08] michaeldcain commented on #50845
Fixed in D58277-code

[2021-03-08 16:10] #1033 closed

[2021-03-08 16:12] edequalsawesome commented on #50815
FWIW, when I tried the same flow as @serabi, I was trying to connect with one site (`jpbeta.fancytest.site`) but, when I got to the connection flow, it tried to connect the site listed as my primary site on WordPress.com instead (`nearlycoherent.com`):

![Screenshot_2021-03-03 Authorize Anchor](https://user-images.githubusercontent.com/4000628/110347403-96999380-7ffe-11eb-87ec-f0303543d75a.png)

I

[2021-03-08 16:19] #41768 closed

[2021-03-08 16:21] michaeldcain commented on #36052
I can no longer reproduce this issue - closing.

[2021-03-08 16:21] #36052 closed

[2021-03-08 16:29] michaeldcain commented on #37980
This is still valid, but pretty low priority. My only concern with conditionally removing the "Apple" mention is that the logic of whether or not the button is actually available is inside a different component (`AppleLoginButton`), and making sure that they share the same logic (to prevent the much worse situation of not including "Apple" in the ToS when the button _is_ available) introduces a go

[2021-03-08 16:30] michaeldcain commented on #50699
@ciampo: TIL that `hasTranslation` exists :). I'll let the team know about it for future PRs.

[2021-03-08 16:32] #4221 closed

[2021-03-08 16:33] getdave opened #50847 "Nav Unification: Menu Item click - event tracking"
Prior to nav-unification each menu item had an explicit tracking event

eg https://github.com/Automattic/wp-calypso/blob/729bc1d55f73cbac61a2b68e03576d727c4474fe/client/my-sites/sidebar/index.jsx#L183

We need to find a way to track clicks in the dynamic menu served from the API.

[2021-03-08 16:33] #32087 closed

[2021-03-08 16:34] #22022 closed

[2021-03-08 16:35] getdave commented on #49643
This could be an issued with mapped domains.

[2021-03-08 16:35] #20334 closed

[2021-03-08 16:37] Gilmoursa commented on #50706
I tested this with a pdf with some dummy text in it. I was able to upload the file and start the import, and choose an author (PDF had no website content). The import finished and displayed 'All done. Have fun!' where clicking on 'Have fun' brought me to my site's homepage.

I got a different result from the initial issue report (above). However, I would also have expected to see some message that

[2021-03-08 16:38] getdave commented on #49756
Possibly related https://github.com/Automattic/wp-calypso/issues/49756

[2021-03-08 16:38] getdave commented on #49689
Possibly related https://github.com/Automattic/wp-calypso/issues/49756

[2021-03-08 16:38] michaeldcain commented on #50699
It looks like these translations are finished. I'm going to close this:

<img width="1373" alt="Screen Shot 2021-03-08 at 11 37 51 AM" src="https://user-images.githubusercontent.com/942359/110351434-d2cef300-8002-11eb-995b-da460be5d876.png">

[2021-03-08 16:38] #50699 closed, assigned to nobody

[2021-03-08 16:42] getdave commented on #49144
@scosgro Would you be able to re-rest this one for us. We believe it should now be fixed.

[2021-03-08 16:47] #20486 closed

[2021-03-08 16:48] getdave commented on #48243
@sfougnier Could you advise on an alternative fallback dashicon to use for Plugins instead of the "cog" (settings) icon? We can't pull through the custom icon registered by the Plugin so we need a good standard Plugin.

[2021-03-08 16:48] getdave commented on #49316
This should now be fixed.

[2021-03-08 16:48] #49316 closed, assigned to nobody

[2021-03-08 16:50] getdave commented on #49537
Jetpack not included in v1 launch so we'll wait for a more rounded solution for this when we know how Jetpack will be made compatible with Nav Unification.

[2021-03-08 16:52] cpapazoglou commented on #49316
Related issue https://github.com/Automattic/wp-calypso/issues/50373

[2021-03-08 16:54] getdave commented on #49364
@jonnyruzek Is this still an Issue for you? Is it still a problem?

[2021-03-08 16:56] #16396 closed

[2021-03-08 16:57] kwight opened #50848 "Imports: Certain plan upgrades interfere with imports."
A user can end up with a site in a broken state if they upgrade plans to Business or above while an import is in progress. The two actions should be mutually exclusive.

See: p9F6qB-6At-p2

[2021-03-08 17:00] keoshi commented on #31550
Created a PR to sort this issue here: https://github.com/Automattic/wp-calypso/pull/50849

[2021-03-08 17:00] cpapazoglou commented on #50722
@rossanafmenezes 👋 ! Can you please share more info here https://github.com/Automattic/wp-calypso/issues/50722#issuecomment-791323467?

[2021-03-08 17:03] #35672 closed

[2021-03-08 17:04] michaeldcain commented on #35672
Fixed in attached patch by the talented Mr. Sadowski.

[2021-03-08 17:10] michaeldcain commented on #50525
It looks like this was fixed in #50383.

<img width="601" alt="Screen Shot 2021-03-08 at 12 09 11 PM" src="https://user-images.githubusercontent.com/942359/110355412-32c79880-8007-11eb-820f-1099b36ff64e.png">

[2021-03-08 17:10] #50525 closed, assigned to taggon

[2021-03-08 17:18] simison commented on #49838
@worldomonation if this replicates across editor, it would be best to open issue in Gutenberg since we also just use those components from core. cc @ItsJonQ @sarayourfriend  :wave: who've worked on components recently.

[2021-03-08 17:22] simison commented on #50257
@ramonjd @apeatling ok if I add this to View backlog?

[2021-03-08 17:26] cpapazoglou commented on #50792
Closing this as we are going to decouple the Happy Chat button https://github.com/Automattic/wp-calypso/pull/50800#issuecomment-792793805

[2021-03-08 17:26] #50792 closed, assigned to getdave

[2021-03-08 17:33] sarayourfriend commented on #49838
Just want to note that this appears to be an issue with how Safari chooses to render it's zoomed out versions of pages. I note the same bug on GitHub's UI when zooming out on this page (note the extra line on the arrow's right side as well as the missing upper line):

<img width="90" alt="Captura de Tela 2021-03-08 às 09 32 07" src="https://user-images.githubusercontent.com/24264157/110358435-436

[2021-03-08 17:43] obenland commented on #50590
@michaeldcain Is this something that falls in area of expertise?

[2021-03-08 17:46] obenland commented on #14624
@michaeldcain Is this something that's on your roadmap?

[2021-03-08 17:55] klimeryk commented on #50823
Thanks for reporting! I was able to reproduce - it's indeed a small alignment issue, but it's a quickfix, so I created one here: https://github.com/Automattic/wp-calypso/pull/50846

[2021-03-08 18:11] michaeldcain commented on #50590
@obenland: it does. Thanks for the heads up - we'll triage it. Looks like [some unwrapped strings](https://github.com/Automattic/wp-calypso/blob/caab6d3b9b881b78fb6ca0f4d4d0b0224d9ce1ea/client/components/marketing-survey/cancel-purchase-form/index.jsx#L805).

[2021-03-08 18:17] noahtallen commented on #50822
Odd, it's working ok for me:

<img width="1727" alt="Screen Shot 2021-03-08 at 10 15 57 AM" src="https://user-images.githubusercontent.com/6265975/110363432-6a2e4900-7ff7-11eb-8cc9-db2e832c4420.png">

[2021-03-08 18:19] noahtallen commented on #50822
Actually, after switching to this tab to make the comment, it broke while I wasn't looking 🤣

<img width="367" alt="Screen Shot 2021-03-08 at 10 18 00 AM" src="https://user-images.githubusercontent.com/6265975/110363583-99dd5100-7ff7-11eb-8bb1-93d36e0ff3a4.png">

Maybe something is dynamically adjusting the style, which would explain why it can be in both states

[2021-03-08 18:21] simison commented on #50822
Hmm that sounds like a CSS loading order issue then 🤔  cc @Automattic/team-calypso-components

[2021-03-08 18:25] ianstewart commented on #39811
Re-opening this one as I think it's still valuable for WPcom users. It sounds like we have what we need from Themes to make this happen as well.

@simison I'm going to add this one to the Create backlog as we've chatted about this "user setup" kind of work fitting in there. And we can review with @jeffikus when we have a PR up.

[2021-03-08 18:25] michaeldcain commented on #49336
This would be owned by @Automattic/martech. @niranjan-uma-shankar do you know where it should be triaged?

[2021-03-08 18:33] obenland commented on #36301
Closing based on https://github.com/Automattic/wp-calypso/issues/36301#issuecomment-776702055

[2021-03-08 18:33] #36301 closed

[2021-03-08 18:33] obenland commented on #36309
Closing based on https://github.com/Automattic/wp-calypso/issues/36301#issuecomment-776702055

[2021-03-08 18:33] #36309 closed

[2021-03-08 18:34] ianstewart commented on #32792
This one's a bit stale but +1 to @davipontesblog. It's relevant _and_ in the wrong place — buried. Best considered as part of the onboarding flow. Adding it to the Create backlog for consideration later as part of ongoing onboarding efforts. cc @ollierozdarz

[2021-03-08 18:34] michaeldcain commented on #42877
@thehenrybyrd I can't reproduce this issue. If you renew a subscription from its subscription settings page, there should be a toggle immediately after returning to the page:

https://user-images.githubusercontent.com/942359/110365353-ee41fa00-8012-11eb-9527-3bff48512452.mov

If you're able to reproduce this, will you re-open the issue and include the site address/plan, or a video of the flow?

[2021-03-08 18:34] #42877 closed

[2021-03-08 18:39] michaeldcain commented on #39283
This will possibly be handled by Shilling's Subscription Management updates. I'll add it to our backlog.

[2021-03-08 18:42] michaeldcain commented on #35102
The notice styles now match the rest of Calypso, and the colors on the page are a little more muted.

<img width="1543" alt="Screen Shot 2021-03-08 at 1 41 16 PM" src="https://user-images.githubusercontent.com/942359/110366301-17af5580-8014-11eb-8549-fd54f20b35c2.png">

We have some upcoming work on Shilling to update these screens, so I'll go ahead and close this issue.

[2021-03-08 18:42] #35102 closed

[2021-03-08 18:43] simison commented on #49838
My hunch is that it's an edge case browser quirk that isn't worth fixing at our end. What do you think @sarayourfriend?

[2021-03-08 18:43] metabreakr commented on #49364
@getdave Yes, with the code snippet activated I cannot access this menu link. Still using bleeding edge Jetpack (Version 9.6-alpha-633183928-g277707b)

[2021-03-08 18:44] michaeldcain commented on #22424
From the comments on the backend diff, it looks like the speed was related to our testing tables. If this can't be reproduced, I'm going to close it.

[2021-03-08 18:44] #22424 closed

[2021-03-08 18:45] kwight opened #50852 "Anchor: Have the referring user site automatically selected in the OAuth site dropdown."
Currently, the OAuth site selector will load with the user's default site set at the top. A better user experience for those wanting to connect a new Anchor podcast to their site would be to have that site pre-selected instead.

See: https://github.com/Automattic/wp-calypso/issues/50815

[2021-03-08 18:45] obenland commented on #37246
I share Dave's concern.

@zdenys Is this something you can still reproduce? I just tested with a WoA site and a standalone Jetpack site on Core trunk and both were using the placeholder.

[2021-03-08 18:45] sarayourfriend commented on #49838
That is my position as well.

[2021-03-08 18:46] simison commented on #50772
Cc @josephscott for tracking 3rd party cookie issues.

[2021-03-08 18:47] simison commented on #50772
Cc @Automattic/greenhouse, it might make sense to show some readable error in this situation? It's for example all Safari users.

[2021-03-08 18:49] kwight commented on #50815
Correct, the expected behaviour is for the default site to be set at the top of the OAuth site selector (which is a dropdown, and not searchable as @pablinos has pointed out).

I'll close this since the original reported issue is not unexpected, and have opened https://github.com/Automattic/wp-calypso/issues/50852 instead to track improving the user experience with the referring site being preload

[2021-03-08 18:49] #50815 closed, assigned to nobody

[2021-03-08 18:51] worldomonation commented on #49374
I have reproduced this issue using Firefox, with Enhanced Tracking Protection enabled, on Atomic sites only. The initial description has been updated to reflect this.

[2021-03-08 19:11] obenland commented on #36240
Closing in favor of 186-gh-Automattic/dotcom-manage

[2021-03-08 19:11] #36240 closed

[2021-03-08 19:18] roundhill commented on #50772
I think we can fix this, thanks for the heads up

[2021-03-08 19:22] worldomonation commented on #49838
I think the assessment of this being an edge case not worth fixing is acceptable - I am unsure what the market share of Safari is for our platform, but it is likely not worth adding special cases and complexity to deal with this.

Let's label this with `Closed - Won't Fix` and close it?

[2021-03-08 19:39] worldomonation commented on #16396
Adding label `Closed - By Design` as reason for closure.

[2021-03-08 19:46] ianstewart commented on #33063
Closing this issue as the screen has changed. It still needs work! But the original issue has been corrected. (It no longer has an "error" message.)

[2021-03-08 19:46] #33063 closed

[2021-03-08 19:48] obenland commented on #36331
Let's remove the Ads section in Tools > Marketing > Traffic for WoA sites

[2021-03-08 19:54] #49838 closed, assigned to nobody

[2021-03-08 19:57] obenland commented on #36335
I updated the topic description to link to the Marketing > Traffic screen where the toggle is still visible for WoA sites.

That setting seems rather buggy anyway, these are screenshots for what I saw with the toggle enabled and disabled:

##### Enabled
![Screen Shot 2021-03-08 at 11 55 41 AM](https://user-images.githubusercontent.com/1398304/110374303-61dd0a80-8005-11eb-9d8b-8e076ee9c9b6.png)

##

[2021-03-08 20:06] jeyip commented on #36274
Great suggestion! I'm in the process of setting up a diff now, but it will definitely need a few extra set of eyes for code review. It'll be my first time using our logging platform and I also want to make sure we're capturing _all_ possible spots this error might be manifesting.

[2021-03-08 20:12] ianstewart commented on #33066
Edit: Moving my comment to another issue because it's not related enough. :)

[2021-03-08 20:18] NoHopeRadio commented on #47188
Reporting another incident at hc-28269170

[2021-03-08 20:21] ianstewart commented on #33067
Closing this one out as the screen has been cleaned up and simplified somewhat. (Though could still be improved.)

[2021-03-08 20:26] ianstewart commented on #35850
This is still live.

![2021-03-08 14 24 42](https://user-images.githubusercontent.com/545779/110377507-1aad4480-801a-11eb-856f-826be282f9bc.gif)

To reproduce:

1. Create a site on WP.com.
2. Click on a pre-created page in /pages to open page in Editor.
3. Click on Revisions in sidebar.
4. See bug.

[2021-03-08 20:30] #50768 closed, assigned to sirbrillig

[2021-03-08 20:32] startuptester opened #50858 "Liking a mention from the notification is not showing up in the notification after refresh"
### Steps to reproduce the behavior

So far I can only repro it on @mentions, but it's every time
1. From web, open an unliked mention from a notification and like the @mention from the notification
2. Refresh post
3. It is liked
4. View notification, it is not.

This comes from the initial report in the iOS and Android apps:
1. Like a mention from the app notification
2. View notifications from t

[2021-03-08 20:34] niranjan-uma-shankar commented on #25179
Good to hear it's fixed!

[2021-03-08 21:12] obenland commented on #36316
This would need close collaboration with the Atomic team and will likely e a multi-iteration project

[2021-03-08 21:17] obenland commented on #36320
Related: 143-gh-Automattic/dotcom-manage

[2021-03-08 21:24] bluefuton commented on #16396
Whilst the explanatory text is good, I do disagree with the closure of this issue. This is a thing we've seen users do and we shouldn't disregard that.

Users are accustomed to this behavior on other platforms (like Instagram) and we even handle hashtags added in this way in the body of posts on WordPress.com.

[2021-03-08 21:36] obenland commented on #36322
The mobile theme was deprecated in D57911-code. Would hiding this setting when the mobile theme is disabled be a satisfactory solution?

[2021-03-08 21:38] obenland commented on #36325
It would be helpful to have a full list of differences and then decide which one to go with

[2021-03-08 21:43] selectedselections commented on #50833
I ran into this issue here hc-27179103

Deactivating everything other than Woo in CLI allowed the progress to go further but then it stalled out again.

Clicking on Woo from the wp-admin dashboard just redirects me back to calypso each time.

[2021-03-08 21:48] obenland commented on #36197
@bluefuton Any idea what it would entail to make file download stats available to Jetpack sites?

[2021-03-08 22:24] bluefuton commented on #36197
@obenland the stats pixel is fired for downloads from files.wordpress.com only, so unfortunately we can't use that method to to count downloads for Jetpack sites (see p7DVsv-7a9-p2#comment-22648).

I asked Jetpack Crew about how we might be able to implement a similar count in Jetpack sites in p9dueE-Zn-p2 and the response was:

@mdrovdahl suggested using a redirect service to count downloads inst

[2021-03-08 22:31] worldomonation opened #50865 "Reduce the number of log in steps in calypso end-to-end tests."
Jetpack team has changed their end-to-end testing to reduce the frequency of user logging in prior to each test starting in this PR: https://github.com/Automattic/jetpack/pull/18866

The technical details of how this can be implemented will differ. However, reducing the number of times the log in method is called will definitely improve the runtime of our end-to-end tests, as well as eliminating o

[2021-03-08 22:32] #25562 closed

[2021-03-08 22:33] worldomonation commented on #50547
Blocked due to the PR being also blocked.

[2021-03-08 22:38] roundhill commented on #50772
Reopening because fix hasn't been deployed yet, should be out tomorrow.

[2021-03-08 22:39] roundhill commented on #50772
@happychait I think this may be another bug that we are working on fixing ASAP, will let you know.

[2021-03-08 22:41] worldomonation commented on #50693
Some more days spent at the helm of this issue, the status report is as follows (as of March 5):

- efforts were made to have the `playwright` demo work on CircleCI. However, this was unsuccessful due to issues with CircleCI and `xvfb`; specifically the error is that `xvfb cannot open display`. This is a common issue for those running a flavor of Linux, but not a common error on CircleCI. After a

[2021-03-08 22:52] ccwalburn opened #50867 "Nav Unification: Add VideoPress Options to Media Library"
**What**
The Media Library accessed from the Media section of the new Nav Unification dashboard does not show the VideoPress options for the individual media items. I currently refer users to the Media Library on the WP Admin dashboard to see that information. Now that the WP Admin link is gone, it will be harder for users to get that information.

**Why**
We refer users to the WP Admin Media Libr

[2021-03-08 22:53] ramonjd commented on #50257
Thanks for reminding me about that one. @simison I'll assign to myself.

[2021-03-08 23:02] ccwalburn opened #50868 "Nav Unification: Add a way to access Inactive Widgets from the Customizer"
**What**
The Widgets section in the Customizer doesn't offer a way to access the Inactive widgets so once Nav Unification is implemented, it will be more difficult for users to access that feature.

**Why**
Sometimes users want access to widgets they added in the past but no longer appear for one reason or another (ie., sometimes when changing themes users will lose widgets if the widget area does

[2021-03-08 23:05] obenland commented on #36197
Do you think it would be easier for Atomic sites where we'd have access to those logs?

[2021-03-08 23:13] bluefuton commented on #36197
Potentially. Worth exploring the possibilities with Systems (@bazza helped us set it up for WordPress.com Simple sites - see p56BUd-kz-p2).

[2021-03-08 23:16] ccwalburn opened #50869 "Nav Unification: Add Bulk Editing link to Pages and Posts"
**What**
The Pages and Posts options in Calypso don't offer bulk editing so once Nav Unification is implemented, it will be more difficult for users to access that feature.

**Why**
Sometimes users want to be able to bulk edit or delete their posts or pages.

**How**
We could add a "Bulk Edit" option after the "Add New" option that would link to the WP Admin Pages or Posts page:

![screenshot](htt

[2021-03-08 23:37] jeyip commented on #35850
I can reproduce the issue following the given the instructions on Firefox, Chrome, Edge, and Safari.

[2021-03-08 23:41] NoHopeRadio commented on #50834
Hi so, I think this is specific to inner container parameters of the cover block, and it looks like unsetting the width fixes the issue on _most_ screen sizes. There still seem to be some breakpoints where the old issue comes up again, when it gets very small and a point kind of in the middle:

https://user-images.githubusercontent.com/71042895/110396030-3fff7a00-803d-11eb-91a4-d5ce4f0050f9.mov

I

[2021-03-09 00:25] fullofcaffeine opened #50872 "Add regression test for the `Latest Instagram Blocks` deadlock issue"
Related issue: https://github.com/Automattic/wp-calypso/issues/50778.
Slack context: p1614895798108900-slack-CBTN58FTJ.

Add a regression E2E test to prevent the regression of a similar issue. The initial idea is to add it as part of the suite of block tests in https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/wp-calypso-gutenberg-upgrade-spec.js, since we already have the machine

[2021-03-09 00:48] worldomonation commented on #50693
One item done: getting `playwright` to install and run in the TeamCity environment.

Made a request on Systems P2 for administrator access for TeamCity as well as a new project.

[2021-03-09 01:19] autumnfjeld opened #50874 "Welcome Tour: on last slide add link to editor tutorials"
https://docs.google.com/spreadsheets/d/1sxmj0hRBKFMzaSpFRYfs0FPxNf7KD6x2VJ38IxW0-4A/edit?pli=1#gid=0&range=14:14

- [ ] The last page of the Welcome Tour includes: “Remember, your site is always private until you decide to launch.” Is it possible to link to our [support doc](https://wordpress.com/support/settings/privacy-settings/#launch-your-site) for making a site public so users know where to f

[2021-03-09 01:44] autumnfjeld opened #50875 "Welcome Tour: hover tips on minimize, close, maximize buttons"
To alleviate confusion and add clarity to the purpose of icon buttons, add labels on hover:
- [x] Minimize #51851
- [x] Close #51851
- [ ] Maximize (in the minimized state)

[Welcome Tour code](https://github.com/Automattic/wp-calypso/blob/578c58b8d687dbc28a59e4d06c2f875a655adfb3/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/tour-launch.js
):

See relevant ite

[2021-03-09 01:48] autumnfjeld opened #50876 "Welcome Tour: refactor variable naming to match core and rethink nux usage."
We are calling the wpcom component "Welcome Tour" while it is called [Welcome Guide in core](https://github.com/WordPress/gutenberg/blob/c88866cd91ea3eb7990a68978e03e2366ed7106c/packages/edit-post/src/components/welcome-guide/index.js#L21), makes sense to keep consistency.

Additionally the nux flag is being used to [track the state of the open/closed state of the tour](https://github.com/Automatt

[2021-03-09 01:55] autumnfjeld opened #50877 "Welcome Tour: show new Tour to all new users except NUX for mobile users"
## Show Welcome Tour to all new users (except AnchorFM)
- [x] verify we don't need to handle Anchor.fm users via NUX  ~~keep  NUX code for anchor users because custom content has been created in the NUX modal format and until new content is created for the Tour format we need to keep showing NUX for Anchor.fm new users~~
- [x] remove experiment code D53894-code (D59151-code)
- [x] update the block

[2021-03-09 02:38] ilyasfoo commented on #50833
@cpapazoglou Yes, this is related to Store deprecation. Thank you for creating this issue. However, I'm unable to reproduce this issue with my business site so far.

@selectedselections The link was supposed to only redirect back to calypso if WooCommerce plugin is not installed. Can you confirm whether that was the case? Also, are there any error logs or other detail that I can dig into?

[2021-03-09 03:11] jeyip commented on #35909
Although I'm not able to reproduce the original issue that throws `A valid email is needed to create a WordPress.com account`, I'm still able to replicate the problem where an emailed login link _does not_ connect a social account to an existing email. This happens for accounts with and without passwords. (Create a passwordless account at https://wordpress.com/start/simple/passwordless)

I agree w

[2021-03-09 03:15] jeyip commented on #35909
@deBhal no rush on this. Feel free to chime in when you're done with your mshots work, but when you get the chance, could you try to reproduce the original error?

[2021-03-09 04:09] autumnfjeld commented on #50426
Ganon estimates this as Size S (to us this means < week , well defined, and no core work).  We'll open another ticket if core work is needed. 😃

[2021-03-09 06:06] retnonindya opened #50881 "WoA (Atomic) Site Revert: Revert process sending out email notifications for scheduled posts"
When a simple site has scheduled posts and transferred to Atomic environment, the scheduled posts are kept on the scheduled process -- despite the posts themselves already published when the website is in AT environment.

When the revert occurs, the Simple site starts running its normal jobs and checks for scheduled posts that are upcoming or have missed their schedule. Since it has scheduled some

[2021-03-09 07:17] scinos commented on #50632
Looks like this will get solved by updating lerna to v4

[2021-03-09 08:08] StefanNieuwenhuis opened #50888 "Domain Picker: Integration testing"
### Why

There are countless reasons for adding integration tests to our components and packages but the main reason is to (re)gain confidence in our code. We want to have the confidence that the `<DomainPicker/>` component:
* Works as expected in any environment.
* Doesn't break when new features are introduced.
* Doesn't break when existing features are updated.

### What
We want to write a seri

[2021-03-09 08:18] #47101 closed

[2021-03-09 08:33] ciampo commented on #50699
@michaeldcain I learned about it just a few weeks ago too! I'm planning to write a little p2 about it soon enough

[2021-03-09 09:04] #31550 closed

[2021-03-09 09:06] flootr commented on #50822
@sarayourfriend iirc either the `<SitesDropdown />` or the `<SiteSelectors />` component is used at a bunch of different places throughout Calypso and a few of them apply CSS to make it fit. I think one of those usages was affecting the usage under `/me/account` and it was off for `10px` (see original value [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/components/sites-dropdown

[2021-03-09 10:01] tjcafferkey commented on #50569
This menu item already exists on Atomic sites.

I've worked on a diff for this on Simple sites here D58341-code which is in review.

[2021-03-09 10:03] #50791 closed, assigned to getdave, cpapazoglou

[2021-03-09 10:55] Nic-Sevic commented on #46802
Also happening here: 3803980-zen

User gets nonce error for all connection types but some (linkedin, twitter, tumblr) then produce pop-up to allow connection. FB does not.

[2021-03-09 11:09] tyxla opened #50892 "Docs: Document state and data approaches with examples"
We've recently been discussing with the rest of @Automattic/team-calypso-frameworks that our state and data approaches are too many, and for someone not familiar with Calypso it's not very clear what to go with.

To improve that, we should create a document where we clearly outline all current approaches and all deprecated ones, plus examples that demonstrate what is suggested to be used in a cert

[2021-03-09 11:29] tjcafferkey commented on #50569
@cpapazoglou if the Edit CSS menu item gets added to Atomic [here](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/custom-css/custom-css-4.7.php#L136) where is the best place to move the code in the above diff to so that it only gets applied to Simple Sites or reliably gets added to both Atomic and Simple (ie. we don't end up with duplicate menu items)

Adding it

[2021-03-09 11:45] cpapazoglou commented on #50569
Here https://github.com/Automattic/jetpack/blob/3eaa2c3b05aed96556bf24d80326f9c334ac8c8d/projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php#L17

would be a good place for adding Simple sites specifics.

If we were to add it in the generic class

https://github.com/Automattic/jetpack/blob/d5faf7b8b509e3fb9db892c63785aa039dbe65fb/projects/plugins/jetpack/modules/masterb

[2021-03-09 12:16] davipontesblog commented on #36322
I think this would work well!

[2021-03-09 12:19] vindl commented on #50659
After testing this with actual Atomic sites I confirmed that it's not causing issues with Site Editor loading template parts.

[2021-03-09 12:23] davipontesblog opened #50893 "[Test] New HE bug report"
### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

#### What I expected to happen

#### What actually happened

### Context

#### Browser / OS version

#### Is this specific to the applied theme? Which one?

#### Does this happen on simple or atomic sites or both?

#### Is there any console output or error text?

#### Level of impact (Does

[2021-03-09 12:26] #50893 closed, assigned to nobody

[2021-03-09 12:34] vindl opened #50894 "Site Editor: menu item positions on Atomic sites"
The test FSE sites mostly work fine when transferred to Atomic. However there is a problem with its wp-admin menu item positioning.

When viewing the menu in Calypso, it shows up as the first item after the site switcher. This is different than the state prior to transfer, at which point it's showing up after Appearance submenu.

<img width="270" alt="Screenshot 2021-03-09 at 13 28 09" src="https:

[2021-03-09 13:24] cpapazoglou commented on #49643
Indeed it happens to `http://automattic.com/wp-admin` and my personal blog where "Redirect" is also shown

![](https://cln.sh/jju9qn+)

[2021-03-09 13:27] cpapazoglou commented on #49517
From our chat with @frontdevde

[2021-03-09 13:29] simison commented on #50812
cc @Automattic/greenhouse

It should just work and quietly ignore stats in those cases.

[2021-03-09 13:33] davipontesblog commented on #50772
@roundhill the issue wasn't reopened so I did that just now. How can we track the deployment so that we know when to close?

[2021-03-09 13:46] getdave commented on #50080
@cpapazoglou This looks to be done. Can we close it out?

[2021-03-09 13:51] cpapazoglou commented on #49643
It's interesting that this was fixed in https://github.com/Automattic/jetpack/pull/18300 but the diff was never deployed in wpcom 😜! Deployed now!

[2021-03-09 13:51] #49643 closed, assigned to cpapazoglou

[2021-03-09 13:52] cpapazoglou commented on #50080
Sure

[2021-03-09 13:52] #50080 closed, assigned to nobody

[2021-03-09 14:11] Aurorum commented on #50867
PR for this issue in #50895! :)

[2021-03-09 14:14] niranjan-uma-shankar opened #50896 "Signup plans step in RTL: Scroller not working and a blue'ish layer"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/start/ar on a mobile screen size.
2. Signup and proceed to the plans step.
3. Click on the left arrow scroll

#### What I expected to happen

I expected the plan to the left of the Personal plan to come into view.

#### What actually happened

Clicking the left arrow did nothing. However clicking on the right arrow brings into vie

[2021-03-09 14:29] tbradsha commented on #49364
Note that this code is active on many user sites (not a majority, but it's also not rare).

[2021-03-09 14:40] ccwalburn commented on #50867
Thanks @Aurorum ! Can you include all of the VideoPress options?
![screenshot](https://d.pr/i/K6lJey+)
Image URL: https://d.pr/i/K6lJey

[2021-03-09 15:25] ianstewart commented on #37981
I think we updated this one in another issue. Regardless, I can no longer reproduce! :)

[2021-03-09 15:28] zdenys commented on #37246
I can agree on @davemart-in's point too. I can confirm that on Simple Site and WoA sites I can now see `https://` as a placeholder only, not as a value. So there is consistency and parity between the two types of sites. Hence the issue can be closed. Thanks for checking!

[2021-03-09 15:28] #37246 closed

[2021-03-09 15:30] ianstewart commented on #38037
It appears as if this one is still live. Or, at least, I can still see it in the template?

[2021-03-09 15:34] sixhours commented on #44627
This is still in progress. :)

[2021-03-09 15:53] ianstewart commented on #39342
This issue can still be reproduced.

At some point this year we will likely replace all these occurrences with [the Query Block](https://github.com/WordPress/gutenberg/issues/26316) (or a _Variation_ of it) — cc @alaczek  — but unsure of the specific timelines beyond that more general one.

[2021-03-09 16:00] bubel commented on #38037
I'm grabbing this one now and adding it to our internal email tracking board. It's in my hands, and I'll jump on it ASAP.

[2021-03-09 16:00] #38037 closed

[2021-03-09 16:04] msilbers opened #50905 "Shortcode/Embed: Bandsintown Tour Dates stopped working"
### Steps to reproduce the behavior

1. Grab a Bandsintown URL per these steps: https://wordpress.com/support/bandsintown-tour-dates/
2. Add it with a shortcode or just the link
3. See it try to load but never load, with errors in the browser console

Here's an artists with upcoming tour dates to test: https://www.bandsintown.com/a/3896-melissa-etheridge

### Context
I was updating support docs an

[2021-03-09 16:10] ianstewart commented on #38037
Thanks @bubel!

[2021-03-09 16:11] ianstewart commented on #41544
Closing this one as it's out of date and a no-longer-needed task for deployment.

[2021-03-09 16:11] #41544 closed

[2021-03-09 16:16] ianstewart commented on #42120
Closing this one out. We'll want to automate this one in the future, I think.

[2021-03-09 16:17] ianstewart commented on #42121
@ollierozdarz I think this one is on your radar now. :)

[2021-03-09 16:28] ianstewart commented on #42545
The flow has changed significantly but the same issue remains. If backout of the checkout screen in the launch flow I will not have the opportunity to go through the flow again.

[2021-03-09 16:32] #50049 closed, assigned to nobody

[2021-03-09 16:35] ianstewart commented on #40069
Let's close this one out!

[2021-03-09 16:35] #40069 closed

[2021-03-09 16:40] niranjan-uma-shankar commented on #49336
@michaeldcain I've added it to our Trello board for tracking, in the card c/gannizN2-tr.

[2021-03-09 16:42] #50590 closed, assigned to nobody

[2021-03-09 16:42] mreishus commented on #36274
Speculation: It sounds like it could be a data race where the capability for attaching the new tag is checked just before the new tag is created.

[2021-03-09 16:46] shaunandrews commented on #39342
The Navigation and Social Icons blocks have a new(-ish) empty state that shows a minimal visual representation of how the block _could_ look once setup:

<img width="435" alt="image" src="https://user-images.githubusercontent.com/191598/110505399-1a6d8180-80cc-11eb-87db-4ff99038eeec.png">

It might make sense to create and render a similar "skeletal" placeholder for the content blocks.

[2021-03-09 16:56] #43037 closed

[2021-03-09 16:57] ianstewart commented on #43587
@simison @alaczek this is still a good task worth prioritizing, I think.

[2021-03-09 16:59] ianstewart commented on #43774
I'm not able to reproduce this one so I'm closing it out.

[2021-03-09 16:59] #43774 closed

[2021-03-09 17:03] ianstewart commented on #44240
This issue can still be reproduced.

[2021-03-09 17:05] apeatling commented on #39342
I don't think we are going to work on this, and will replace with the Query block, so removing from backlog.

[2021-03-09 17:07] ianstewart commented on #44576
Closing this one out as we've made some changes to the underlying patterns. cc @alaczek who was working on some redesigning and re-thinking of some starter designs.

[2021-03-09 17:07] #44576 closed

[2021-03-09 17:09] DavidRothstein opened #50909 "First-year discount for plans is no longer shown on the plans page"
This was originally reported by @niranjan-uma-shankar at https://github.com/Automattic/wp-calypso/pull/49884#pullrequestreview-599497429 (it's a regression caused by that issue).

### Steps to reproduce the behavior

1. Start with an existing account that uses the INR currency.
2. Go to https://wordpress.com/pricing/ and notice that it shows a ₹800/month price (billed annually) for the Business pl

[2021-03-09 17:12] apeatling commented on #43555
@simison I don't think these projects should follow a person, and stay with the team working on it.

[2021-03-09 17:15] michaeldcain commented on #14624
@obenland Thanks for the heads up. I've added it to Shilling's project board. We'll discuss it in planning today.

[2021-03-09 17:15] #50018 closed, assigned to nobody

[2021-03-09 17:16] ianstewart commented on #50445
It may though that would invert the issue and we'd want to update Home to Dashboard everywhere else. :D

cc @olaolusoga @lcollette

[2021-03-09 17:23] ianstewart commented on #44703
Closing this issue as I think medium-term we'll likely take a different approach.

- Make it easier to package up themes with different home page patterns for distribution on WPcom and elsewhere.
- Make it easier to surface theme demo sites (now with increased home-page variety) in design picker screens during onboarding.

This would bring parity to for _setup_ of designs and sites on WPcom.

A fu

[2021-03-09 17:24] roundhill commented on #50772
Thanks, I swear I clicked the button! This should be fixed now!

[2021-03-09 17:25] DavidRothstein opened #50910 "Replace the "Discounts applied" wording in checkout that is used when a coupon is applied"
Currently when you get a discount due to a pro-rated upgrade, the crossed-out price in checkout says "Discount for first year" (or similar, e.g. "Discount for first month" if the billing term is monthly).

But when you have a discount due to a coupon, the wording changes to "Discounts applied" instead:

![discounts-applied](https://user-images.githubusercontent.com/235183/110510847-98805700-80d1-1

[2021-03-09 17:29] apeatling commented on #47439
Fixed

[2021-03-09 17:29] #47439 closed

[2021-03-09 17:36] roundhill commented on #50772
This should also be fixed now @happychait. Unfortunately the video plays stats from the last few days were not recorded :(

[2021-03-09 17:39] roundhill commented on #50772
Thought I'd add some details - this bug didn't have anything to do with 3rd party cookies - but the fact that Chrome does not allow access to localStorage in incognito mode. Our player was naively thinking it could use localStorage and an exception was being thrown when it tried to access it. We added some safe helper methods around localStorage access to fix the issue.

[2021-03-09 17:53] ianstewart commented on #43732
Closing this issue as I believe we've corrected it by serving layouts as patterns from our patterns site. cc @andrewserong

[2021-03-09 17:53] #43732 closed

[2021-03-09 17:53] #50845 closed, assigned to michaeldcain

[2021-03-09 17:54] apeatling commented on #49422
closing in place of https://github.com/WordPress/gutenberg/issues/28888

[2021-03-09 17:54] #49422 closed, assigned to nobody

[2021-03-09 17:58] #45363 closed

[2021-03-09 18:08] khristiansnyder commented on #45427
I ran into this today with a customer in #28291976-hc

➤User is getting an error working with donation blocks: "I'm getting a BD set up failed message when trying to use donations. It was working with stripe well then quit in last 24 hours"
➤I suggested they disconnect and reconnect Stripe, which leads to this issue: The user cannot disconnect from Stripe. Clicking disconnect and refreshing the pa

[2021-03-09 18:13] sirbrillig commented on #48335
@olaolusoga this is not high priority, but in case you have any thoughts about this.

[2021-03-09 18:30] cathymcbride commented on #49007
@isocialtish I believe this should have been fixed with Gutenberg 9.9. Do you happen to know what your user was using?

[2021-03-09 18:31] Addison-Stavlo commented on #50445
Its probably less of an issue being where it is located in the nav menu itself, but thoughts on surfacing it as "My Home" instead of just "Home" ? 🤔

[2021-03-09 18:37] sirbrillig commented on #50699
@ciampo I assume that only applies to translations through `useI18n`; do you know if there's a similar mechanism for `useTranslate`? And/or should we be switching to using `useI18n`?

[2021-03-09 18:47] cathymcbride commented on #45508
I'm going to close this based on the lack of feedback.

[2021-03-09 18:47] #45508 closed

[2021-03-09 18:56] michaeldcain commented on #50909
@paulbonahora: is this something that you can help Marketing triage? It's a regression caused by the monthly plans rollout.

[2021-03-09 18:56] DavidRothstein commented on #14624
This has been tracked internally for a while at c/a3sKJctz-tr

[2021-03-09 19:04] ianstewart commented on #45038
I think we're not too far off from what's above from @alaczek …

https://github.com/Automattic/wp-calypso/issues/45038#issuecomment-678866574

[2021-03-09 19:07] sirbrillig opened #50914 "Domains: Redirect from G Suite upgrade page to G Suite add page if domain is not in cart"
The Google Workspace upgrade page that's usually displayed between selecting a new domain and reaching checkout has a failsafe mechanism which will redirect back to the domains page if the cart does not contain a domain product. In https://github.com/Automattic/wp-calypso/pull/50738 I added a notice that's displayed when that redirect occurs, but probably even a better UX would be to redirect to w

[2021-03-09 19:18] michaeldcain commented on #44240
I believe we should be able to check if a menu is assigned on the user's site and conditionally switch the heading to say "Edit your site menu"

[2021-03-09 19:20] p3ob7o opened #50915 "Image block toolbar elements move around erratically"
#### Steps to reproduce

1. On a WordPress.com Atomic site, create a new post.
2. Insert an image block, upload an image.
3. Note the position of the buttons in the Image block toolbar once the upload is terminated.
4. CLick outside the block to deselect it, then click on it again.
5. Notice that the position of the buttons has changed.

#### What I expected

I expected buttons to stay put.

####

[2021-03-09 19:23] ianstewart commented on #44636
I think we can close this one though we should consider it an ongoing quality concern in general for everything new.

[2021-03-09 19:23] #44636 closed

[2021-03-09 20:14] Aurorum commented on #50867
I'm afraid that I've never successfully been able to connect a front-end setting to a backend change! I'll definitely experiment more regardless, but I feel like I should say that now since I don't think I'll be able to manage that anytime soon. :)

[2021-03-09 20:23] marcuswisecaesar opened #50917 "Gutenberg: Block Translation is Inconsistent"
### Steps to reproduce the behavior

1. Go to My Site > Manage > Settings
2. Click on Site Language and change to another language such as German, and also change your interface to match.
3. Open a page in the Editor and click in the Upper Left on the + button to add a block
4. See That some of the Blocks are not translated

#### What I expected to happen
I expected blocks to translate to my inter

[2021-03-09 20:41] kelasante commented on #49840
23779435-hc

YouTube video in the video widget in the sidebar does not load on the homepage. It loads in Customizer and on non home pages.

[2021-03-09 21:00] eeeeevon13 opened #50918 "Landing page post purchase should be recommendations not dashboard"
#### Steps to reproduce the issue

1. Go to set up jurasic ninja site
2. Purchase backups
3. You get dropped on dashboard instead of into the recommendations flow

#### What I expected
I expected to be dropped into the new recommendations flow

#### What happened instead
I got dropped on Wp admin dashboard

[2021-03-09 21:05] scosgro commented on #49144
On Atomic:

I'm still seeing, under Tools - Earn - View Ad Dashboard - Settings:

![image](https://user-images.githubusercontent.com/30731356/110537684-daac9700-80d7-11eb-9575-31eabaa44de4.png)

The Manage Ad Placements link goes to Tools - Marketing - Traffic, which only has two options for adjusting ad placements:

![image](https://user-images.githubusercontent.com/30731356/110537768-f6b03880-80

[2021-03-09 21:11] ianstewart opened #50919 "Gutenboarding Design Picker: Image not loading in Rivington Thumbnail"
### Steps to reproduce the behavior

1. Visit wp.com/new
2. Proceed to design picker
3. Notice that the Rivington design is missing an image

![image](https://user-images.githubusercontent.com/545779/110538378-9aeeab00-80e9-11eb-8557-c6130e4438bd.png)

#### What I expected to happen

The image loads here on the fonts screen …

![image](https://user-images.githubusercontent.com/545779/110538445-ac3

[2021-03-09 21:31] blackjackkent commented on #45607
Picking this up as part of Serenity's deep dive this sprint into some outstanding issues. I was able to reproduce it on the atomic site on my account so hopefully I'll be able to nail down something concrete this week.

There's been a lot of discussion on this topic so a quick summary of where we seem to be at at this point -
* This is the expected behavior if the user has the "Classic Editor" plu

[2021-03-09 21:44] eeeeevon13 opened #50921 "Can we drop users down the page to the area where time zone is set?"
We a banner in Jetpack Cloud, letting users know that their timezone on the site vs computer are different. There is a link to where to rectify the situation. Currently it drops you on the top of the page, can we drop you into the section where the action can be taken?

What
Can we use an anchor link to drop users into the section of the page where the timezone is set , instead of at the top? It w

[2021-03-09 21:56] kwight commented on #41272
@adamzelinski I'm not sure if I'm missing something here – I can't seem to replicate (new site, transfer to Atomic, add tiled gallery with new images):

<img width="1551" alt="Screen Shot 2021-03-09 at 1 48 39 PM" src="https://user-images.githubusercontent.com/349751/110543270-f5363e80-80de-11eb-8f39-a79ba1eda867.png">

"Coming soon" is the same as "private" now, is that correct?..

[2021-03-09 22:26] ramonjd commented on #41272
👋 Coming soon used to be equivalent to private mode beneath the chassis.

Last year we switched Coming soon "mode" to public not-indexed. So the resources are still public, but the pages/posts are "hidden" behind a Coming Soon site.

So I think it's strictly related to a site that's been explicitly set to private in the settings.

[2021-03-09 22:32] obenland commented on #40535
Based on the JS error in the screenshot this seems to be a bug with the cookie banner widget. I wonder if it just didn't mount in the customizer, causing the error and https://github.com/Automattic/jetpack/pull/16927 fixed that.

@kristarella I've not been able to reproduce the bug based in the steps in the ticket description. Would you mind testing again and see if https://github.com/Automattic/j

[2021-03-09 22:33] obenland commented on #42973
I'm almost certain this is a duplicate of Automattic/jetpack#3019.

[2021-03-09 22:35] ghost commented on #41272
I think you've tagged the wrong adam here sorry @kwight @adamziel

[2021-03-09 22:48] sbathompson-he commented on #48072
A user reported this error on Zen - 3807272

[2021-03-09 22:54] serabi commented on #48072
Error reported in 28213642-hc

[2021-03-09 22:57] obenland commented on #36318
Fixed in r222427-wpcom and r222429-wpcom

[2021-03-09 23:17] obenland commented on #36322
Fixed in r222431-wpcom.

[2021-03-09 23:17] #36322 closed

[2021-03-09 23:19] marcuswisecaesar commented on #41606
Another customer requesting that we offer grandfathering/multiple plans: 3804189-zd

[2021-03-10 00:04] isocialtish opened #50927 "Social Menu: Add icon for TikTok"
In the social menu, when you add a link to a TikTok profile an icon for TikTok should display

![Screen Shot on 2021-03-09 at 14:03:28](https://user-images.githubusercontent.com/6664819/110555201-4135b300-80e0-11eb-8b27-344452d2a8ac.png)

[2021-03-10 00:55] glendaviesnz commented on #44677
This is caused by the fact that the `getMediaLibrarySelectedItems` selector in `client/my-sites/media-library/content.jsx` returns empty sometimes even when gallery has items, particularly on first page load. Loading the media browser a second time usually loads the selected images as expected:

![media-bug](https://user-images.githubusercontent.com/3629020/110558923-3181a180-81a8-11eb-8eda-571a5b

[2021-03-10 01:40] xpurichan opened #50928 "Media Uploads: Uploading .zip files in Calypso fails with "error occurred while uploading""
### Steps to reproduce the behavior

Trying to upload a .zip file from Calypso fails

1. Visit https://wordpress.com/media/ (requires a website with a Personal or higher level plan [per our support guide](https://wordpress.com/support/accepted-filetypes/#documents))
2. Upload a .zip file
3. The error "1 file could not be uploaded because an error occurred while uploading." will display on the page

[2021-03-10 01:49] p-jackson commented on #49617
#49970 has deployed

[2021-03-10 01:49] #49617 closed, assigned to ramonjd

[2021-03-10 01:53] noahtallen opened #50929 "Nav Unification: Reader Chevrons overlap with wp-admin style"
Let me know if this is already reported; couldn't find any existing reports.

### Steps to reproduce the behavior
1. Open reader.
2. Open one of the collapsed items, such as "Automattic" or "Followed Sites"
3. Chevron styles overlap with wp-admin flyout style:

<img width="350" alt="Screen Shot 2021-03-09 at 5 49 18 PM" src="https://user-images.githubusercontent.com/6265975/110563417-22dfaf80-8100

[2021-03-10 01:59] glendaviesnz commented on #44677
@tyxla, it looks like this issue may have originated with the update to move the media store calls to redux. The items currently in the gallery are added to the store selected items correctly [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/gutenberg/editor/calypsoify-iframe.tsx#L294), but when the image browser dialog opens the [getMediaLibrarySelectedItems](https://github.com/Au

[2021-03-10 04:36] thesacredpath commented on #50746
Another report with video stats gone:

#28302845-hc
#3807826-zen

[2021-03-10 04:40] katiebethbrown commented on #48839
We aren't actually reverting expired sites right now. They stay as Atomic without a plan (see p9o2xV-1gd-p2), with the plugins deactivated and any third-party or premium themes are switched back to a default free theme.

@jordesign is right - as long as the site remains Atomic there isn't any content less. Things may not look the same, but the content itself is all still there and the plugins and

[2021-03-10 05:56] #50632 closed, assigned to scinos

[2021-03-10 07:10] cpapazoglou commented on #50767
Thanks for reporting! This is happening to WP Admin, I am removing the label as it seems unrelated to nav-unification (which had scroll issues in Calypso).

[2021-03-10 07:14] cpapazoglou commented on #50928
I am removing Nav Unification label, as it is unrelated to the bug itself.

[2021-03-10 07:18] cpapazoglou commented on #50869
Thanks for reporting @ccwalburn! Indeed bulk editing is a much needed feature and we could port it to Calypso All Posts screen. Adding a new menu should be avoided though. On the meantime, advanced users can change their dashboard appearance through https://wordpress.com/me/account so that "All Posts" redirects to WP Admin

![](https://cln.sh/aM9o1v+)

[2021-03-10 07:37] cpapazoglou commented on #50769
Fixed here https://github.com/Automattic/wp-calypso/pull/50800

[2021-03-10 07:37] #50769 closed, assigned to nobody

[2021-03-10 08:31] getdave commented on #50202
In response to several concerns about this change, I added this PCYsg-vFf-p2#toggle-copy-wpadmin.

[2021-03-10 09:13] #50037 closed, assigned to tjcafferkey

[2021-03-10 09:13] #50379 closed, assigned to cpapazoglou

[2021-03-10 09:33] edwinho89 commented on #48072
Another report in 28213642-hc

Embeds are shown correctly when viewed on Safari.
Embeds are shown as links when viewed on Chrome.

[2021-03-10 09:52] #50629 closed, assigned to nobody

[2021-03-10 10:06] StefanNieuwenhuis commented on #50888
I found a great book on Unit/Integration testing principles and this is what they write about integration tests:

longest **happy flow and any edge cases that can’t be covered by unit tests**. The longest
happy path is the one that goes through all out-of-process dependencies.

Source: https://livebook.manning.com/book/unit-testing/chapter-8/80

I believe the longest happy flow in the domain picke

[2021-03-10 10:08] klimeryk commented on #49128
@getdave Domain-only sites are one of our flows in signup. See wordpress.com/domains. It's definitely much smaller than our other flows (in term of users), but it's there. See P6Ya1B-gw-p2.

This change drastically changes that behaviour, because these "sites" should not allow adding posts, etc. - _just_ managing the domain or adding a plan (see the original screenshot). The site is "forced" to al

[2021-03-10 10:19] simison commented on #41272
Could private-media-proxy be part of the solution here? https://github.com/Automattic/wp-calypso/issues/25115#issuecomment-792660145

Either by letting Photon retrieve images via that, or receiving resized images directly via that endpoint?

[2021-03-10 10:27] niranjan-uma-shankar opened #50938 "Monthly price toggle: Annual payment discount percentage does not match"
### Steps to reproduce the behavior

1. Proxy through an India IP and go to https://wordpress.com/start
2. Signup and proceed to the plans step of the signup flow
3. Click on the "Pay monthly" toggle option

#### What I expected to happen

The tooltip to show the annual payment savings as 50%.

#### What actually happened

The tooltip shows the annual payment savings as 43%. In INR, we offer a 20%

[2021-03-10 10:50] tjcafferkey opened #50939 "Nav Unification: Duplicate menu items in Appearance based on theme"
### Steps to reproduce the behavior

1. On a Simple site (Premium plan)
2. Go to Appearances > Themes and activate the Ovation theme
3. Head to a WP Admin screen e.g. Settings > Media
4. Hover over Appearance menu item. Observe the duplicated sub menu items.

#### Context

<img width="889" alt="Screen Shot 2021-03-10 at 11 40 19" src="https://user-images.githubusercontent.com/8639742/110618495-b23

[2021-03-10 11:10] inaikem commented on #49944
I wonder how many users will really be affected in this first phase of the roll-out? My guess it that we won't likely see a truly representative number of chats/tickets until we move to 25, 35, 50%.

If it's easy enough to make the change now before we progress too far with the launch, I believe the effort spent will be worth pain saved. As @getdave noted above:

[2021-03-10 11:17] simison commented on #44240
There are quite a few things going on here simultaneously, and I think the incorrect copy is the least of our problems:

- How customers know where to create or edit their site's navigation? I believe the current checklist item is mostly "patching" this confusion.
- On the flip side, while they now know where to edit the menu, editing navigation is really complex. It's adding to the confusion by i

[2021-03-10 12:15] cpapazoglou commented on #49355
The "Hourly views" is fixed by now.

Regarding My Home overflowing, lets show the `domain` as the Site Title when the latter doesn't exist.
![](https://cln.sh/rgp7rI+)

[2021-03-10 12:52] davipontesblog commented on #50772
Great! Thanks for clarifying @roundhill! I will close the issue now.

[2021-03-10 12:52] #50772 closed, assigned to nobody

[2021-03-10 12:57] simison commented on #43555
@apeatling oh sure, I had no intention for it to be carried over with a person. 😅  If I remember right, my reasoning was along the lines that this issue is actually about content and not about UI; so purely about our patterns/designs, just like the patterns have descriptions carried with them from the API, designs would need those too:

<img width="243" alt="image" src="https://user-images.githubu

[2021-03-10 13:07] davipontesblog opened #50945 "Nav Unification: Make calypso "My Home" always available"
### What
I noticed that the calypso “My Home” page is changed to the WP Admin “home dashboard" when you make the changes in "Account settings" to always show the WP Admin pages when possible:

<img width="825" alt="markup-2021-03-09-at-16 52 34-1" src="https://user-images.githubusercontent.com/31009008/110633511-37af5800-817f-11eb-8ee4-d14b2b6d1186.png">

**This is expected as per the scope of the

[2021-03-10 13:17] davipontesblog commented on #33066
Wanted to support this one again since it's still as relevant as it was when created.

[2021-03-10 13:25] #50823 closed, assigned to klimeryk

[2021-03-10 13:52] cpapazoglou opened #50950 "Links under Settings in Atomic sites with site / user language other than English are not working"
### Steps to reproduce the behavior

- Go to `/wp-admin/options-general.php`.
- Change the site language to Italian.
- Install [the WP Headers and Footers plugin](https://wordpress.org/plugins/wp-headers-and-footers/).
- Go to Settings > WP Headers and Footers
- Note the wrong URL. It should be `/wp-admin/options-general.php?page=wp-header-and-footer` instead of `/wp-admin/wp-header-and-footer`

#

[2021-03-10 13:58] getdave commented on #50950
I only see options for English. Why?

[2021-03-10 14:09] cpapazoglou commented on #50950
You will have to first change a language through `wp-admin/options-general.php` in that case. After doing so, the language gets "installed" and a User may select it in their User Options.

[2021-03-10 14:09] mmtr commented on #50950
You need to install the language on the site first. Try this:
- Go to `/wp-admin/options-general.php`.
- Change the site language to Italian.
- Install [the WP Headers and Footers plugin](https://wordpress.org/plugins/wp-headers-and-footers/).
- Go to Settings > WP Headers and Footers
- Note the wrong URL. It should be `/wp-admin/options-general.php?page=wp-header-and-footer` instead of `/wp-admin

[2021-03-10 14:43] kristastevens commented on #48839
Thanks, that's helpful, @katiebethbrown!

@jordesign, for this instance, is it possible to be more specific about what the user will lose access to? If we can communicate more clearly what's at stake, we might be able to persuade the user to retain auto-renewal.

``By canceling auto-renewal, your %(planName)s plan for %(siteDomain)s will expire on %(expiryDate)s. ' +
"When it does, you'll lose acc

[2021-03-10 14:49] cpapazoglou commented on #50765
The problem here is that some plugins are using `position: fixed` with `160px` sidebar width in mind. We will probably need to find a good solution to that problem.

![](https://cln.sh/ZvoxDR+)

[2021-03-10 15:00] tyxla commented on #44677
This is interesting 👍  Thanks for the ping @glendaviesnz!

Seems like it might be related to our recent reduxification work. I'll add this to my to-do list for tomorrow and will take a stab at it.

[2021-03-10 15:05] marianearchimbaud opened #50951 "Nav-Unification - Show advanced dashboard pages is not updating the Pages section"
The WP-Admin version on the Pages section was not available, even though the **_Show advanced dashboard pages_** option was enabled.

#### Steps to reproduce

1. Starting at URL: flbrecyclage.com
2. When clicking on Pages we were able to see this section: https://wordpress.com/pages/flbrecyclage.com
3. I enabled the **_Show advanced dashboard pages._**
4. I saw no changes even though I refreshed t

[2021-03-10 15:17] #50541 closed, assigned to alshakero

[2021-03-10 15:21] getdave commented on #50951
Noting that this shouldn't be possible at Nav Unification is turned _on_ for all API requests (API requests are used to build the menu in Calypso).

Let's wait to see if we have more reports of this.

cc @mrfoxtalbot as this may come up again.

[2021-03-10 15:30] getdave commented on #50765
There is a clear rationale for opening a discussion about reverting the Nav Unification design sidebar width to match Core. There is no possible way we can add edge cases for the whole Plugin/Theme repo all of which will assume the width supplied in the Core nav.

[2021-03-10 15:42] obenland commented on #50950
On first glance it seems to be an issue with the API's URL handler, but it's interesting that language changes the outcome here.

I'd be surprised if #50312 was related.

[2021-03-10 15:43] vindl opened #50953 "Site Editor: global styles are broken on Atomic sites"
This issue might be related to a degree to https://github.com/Automattic/wp-calypso/issues/50358 which is about Global Styles not being persisted on Simple sites.

After testing the same thing on Atomic, I noticed that it's actually even more broken:

<img width="333" alt="Screenshot 2021-03-09 at 13 38 51" src="https://user-images.githubusercontent.com/1182160/110655820-af04dc00-81bf-11eb-8726-88

[2021-03-10 15:46] mmtr commented on #50950
We definitely have a bug when migrating submenus:
https://github.com/Automattic/jetpack/blob/f2a92a279b42b13921789d8bcc6984dfb83a08f4/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L639-L652

That is not enough for submenus that have been registered with a hook (6th param of `add_submenu_page`), since the hook is still attached to the old slug: https://core.trac.wordpre

[2021-03-10 15:49] ciampo commented on #50699
Hey @sirbrillig, I would recommend asking Team Global directly ( cc @Automattic/i18n )

[2021-03-10 15:50] getdave commented on #50950
It looks like the 2nd arg of [`add_submenu_page()`](https://developer.wordpress.org/reference/functions/add_submenu_page/) which is `Menu Text` (which implies it should be translated!) is used to [build up the `$admin_page_hooks` global in Core](https://core.trac.wordpress.org/browser/trunk/src/wp-admin/includes/plugin.php#L1331). That value is then used when determining how to hook the submenu.

[2021-03-10 15:53] vindl commented on #50556
I think this is a duplicate and special case of https://github.com/Automattic/wp-calypso/issues/50358.

[2021-03-10 15:53] #50556 closed, assigned to nobody

[2021-03-10 15:53] vindl commented on #50575
I think this is a duplicate and special case of https://github.com/Automattic/wp-calypso/issues/50358.

[2021-03-10 15:53] #50575 closed, assigned to nobody

[2021-03-10 15:56] msilbers commented on #59396
reported by a customer in 3802882-zen

[2021-03-10 15:57] razvanpapadopol commented on #42545
This should be fixed in D57607-code by rolling out Focused Launch (pbAok1-1IU-p2) for Gutenboarding sites.

A dismissable checkout modal should be displayed when trying to launch from editor with paid plan or custom domain. There are just 2 unavoidable exceptions: having an eCommerce plan selected and launching from wp-admin.

Check Focused Launch instructions on [how to test the main user flows](

[2021-03-10 15:57] vindl commented on #50289
I think this is likely the special case of a more general problem with Global Styles that I'm tracking here https://github.com/Automattic/wp-calypso/issues/50358. Closing in favor of that issue, but feel free to reopen if that's not the case.

[2021-03-10 15:57] #50289 closed, assigned to nobody

[2021-03-10 16:01] cpapazoglou commented on #50765
It seems that we are going to have a problem with an unexpected number of plugins. For history we already had problems with Jetpack and Gutenberg

https://github.com/Automattic/jetpack/blob/16fd659047e04f94b8f3fb768dd15f665eee1291/projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css#L29-L49

I am also in favor of reverting both Calypso and WP Admin to `160px` width. In that case, w

[2021-03-10 16:02] mattsherman commented on #50833
Hmm... this sounds awfully similar to https://github.com/Automattic/wp-calypso/pull/50599

In that case, things never, ever, progressed to the WooCommerce onboarding wizard. In this case, it sounds like it sometimes is stalling out?

@ilyasfoo We could consider adding some Tracks events to the workflow... that would allow us to better pinpoint if there is a specific spot where things get stuck (we

[2021-03-10 16:05] cpapazoglou commented on #50951
This is certainly Atomic related.

[2021-03-10 16:07] cpapazoglou commented on #50765
FWIW, here is the issue in which we decided to go from `200px` to `272px`
https://github.com/Automattic/wp-calypso/issues/46912

[2021-03-10 16:17] mmtr commented on #50950
Hotfix (632-gh-Automattic/wpcomsh) and proper fix (https://github.com/Automattic/jetpack/pull/19114) ready for review.

[2021-03-10 16:18] selectedselections commented on #50833
Hi there @ilyasfoo !

I noticed the issue persisted after I installed WooCommerce from CLI. It took a few tries to get to the Woo settings in wp-admin. I was able to get there after the Store set up flow progressed a little further. So the timeline was like this:

1. Click set up store and see empty progress bar that doesnt move
2. Install WooCommerce from CLI
3. Click on Woo settings in wp-admin

[2021-03-10 16:25] ianstewart commented on #44703
For real this time. :)

[2021-03-10 17:01] getdave commented on #50765
@sfougnier Please could you let us know your thoughts?

[2021-03-10 17:28] getdave commented on #50951
WPCOMSH `feature-plugins/masterbar.php#L153-L166` shows where we access a user option `wpcom_is_nav_unification_enabled ` which determines whether or not to enable Nav Unification on WoA.

Where does this option get set?

We use [the `wpcom.getUser` Jetpack XMLRPC response](https://github.com/Automattic/jetpack/blob/57ca1d524a6f6e446c5a3891d3024c71a6b0684b/projects/packages/connection/src/class-ma

[2021-03-10 17:35] obenland commented on #50765
How does Astra handle collapsed admin menus?

Has this been the only report of the sidebar width breaking things or have there been more? Before we start re-examining a fairly fundamental decision from early with a project, I think we should be sure that it's causing unfixable headaches in more than one theme.

[2021-03-10 17:39] niranjan-uma-shankar commented on #49473
@michaeldcain @ianstewart Thanks for reporting!

I couldn't reproduce the issue. I'm still tracking this issue in the Decepticons Trello board in the card c/HsvxQWqD-tr.

Here's what I tried:
1. As a new user, I tried signing up, purchased a Personal plan, and waited for the Quick Start upsell page to show. This was the new navigation interface.

![scrollposqs](https://user-images.githubuserconten

[2021-03-10 17:44] yuliyan commented on #50699
@sirbrillig,

For `i18n-calypso` translations, you can use the following:
[code]

It's ok to switch, but I wouldn't say it's really necessary to do it right now. We plan to drop `i18n-calypso` (and `@automattic/react-i18n`) in favor of `@wordpress/react-i18n`, so eventually everything will be replaced, but I don't for certain how long it would take.

[2021-03-10 17:53] obenland commented on #50951
Would it make sense to delete the transient if [this check](https://github.com/Automattic/jetpack/blob/9a65c4bb54eb4f2ffdf6b970c05242f2e4ee4a18/projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php#L112) fails and re-query?

[2021-03-10 17:54] #50660 closed, assigned to nobody

[2021-03-10 18:00] mattsherman commented on #50833
Thanks for the detailed timeline @selectedselections -- that will help us track things down.

[2021-03-10 18:06] mattsherman commented on #50833
I just hit this when testing out another PR with a new Business site (I find that re-using sites can make reproducing things more difficult, since the state of things is often slightly different after you start manually trying to put things back in the correct state to reproduce something).

[2021-03-10 18:22] getdave opened #50957 "Force disable Nav Unification for `0` user ids"
See D58464-code.

Currently, it is possible for the `$user_id` to be `0` in `show_unified_nav` on Dotcom Simple even after the check...

[code]

We should force disable Nav Unification in this case as it is open to unintended activation.

See also p1615397375406600-slack-ajax and pMz3w-cJ1-p2

cc @jeherve

[2021-03-10 18:28] lakellie opened #50958 ""Select Frame" button is broken when editing thumbnail for videos in Calypso media library"
### Steps to reproduce the behavior

1. Go to the media library in Calypso
2. Check an existing VideoPress video (or upload a new one, if needed)
3. Click the video to select it, then click the "edit" button
4. Click "edit thumbnail"
5. Observe the "select frame" button is greyed out

#### What I expected to happen

To be able to pause the video on the frame I want - or somehow otherwise select a

[2021-03-10 18:31] jamiepalatnik opened #50959 "Media: Unable to edit video thumbnail"
### Steps to reproduce the behavior

1. Go to Media
2. Click on a video, then click Edit
3. Click Edit Thumbnail
4. Select Frame is greyed out

#### What I expected to happen

I would expect to be able to select a frame of the video to use as the video thumbnail.

#### What actually happened

Select frame is greyed out throughout the video runtime. Screenshot:
<img width="1082" alt="Select frame g

[2021-03-10 18:35] automattic-ian commented on #48072
Embeds are broken in chrome and Edge, (with no console errors) but show fine in safari and firefox. reported in 28317863-hc says it only started yesterday around 1PM CST.

[2021-03-10 18:39] apeatling commented on #43892
@ianstewart Could you manage this one? Added to view design backlog.

[2021-03-10 19:37] lcollette commented on #36407
I suggest we remove the Widget section from the Writing screen as that functionality is accessible through Jetpack settings.

[2021-03-10 19:56] daledupreez commented on #50155
This was addressed by a combination of #50700 and D57965-code, which were both deployed earlier this week.

While we don't have all the eligibility checks in place to prevent adding email for a domain, we now catch this before Email actually gets added to the shopping cart. (We're tracking more eligibility requirements in pbLl1t-kG-p2, which includes a few more checks.)

[2021-03-10 19:56] #50155 closed, assigned to nobody

[2021-03-10 20:16] jordesign commented on #49944
I don't know if/how we would get the stats on it - but the number of users on simple Sites who still use WP Admin to access the Classic Editor would be non-trivial.

I don't have a strong feeling on defaulting to WP Admin views for posts/pages overall - but I _do_ feel like we need to be aware of those who will still want to use the Classic Editor.

An escape hatch like @mrfoxtalbot mentioned woul

[2021-03-10 20:36] philnick206 commented on #50950
Reported in #3808636-zen

[2021-03-10 20:37] #50354 closed, assigned to mattsherman

[2021-03-10 20:37] supernovia opened #50961 "Nav Unification: Media link with advanced dashboard: Uploaded media doesn’t render until refresh on simple sites"
### Steps to reproduce the behavior

1. Ensure "Advanced Dashboard" setting is on
2. Start at My Sites, and select a simple site
3. Click Media
4. Click Add New
5. Try dragging and dropping an image, or selecting one.

#### What I expected to happen
The media I upload should appear in the section below.

#### What actually happened
It does not appear in the media library until I refresh the page.

[2021-03-10 20:47] ianstewart commented on #43892
Yeah, I think we can go through now and clean this up _some way_.

Rough plan.

- Quick audit of themes and levels using h2 in patterns.
- Do a pass on heading consistency in patterns.

[2021-03-10 20:48] cathymcbride commented on #15122
Closing due to age.

[2021-03-10 20:48] #15122 closed

[2021-03-10 21:28] ghost commented on #50765
+1 to these questions.

I would like to avoid reverting back to the original width. It seems a little short-sighted and will impact multiple things (ex: other components in the sidebar, the relationship of the navigation to the grid width of the rest of the screens).

[2021-03-10 21:32] obenland commented on #50961
From p1615410975146900/1615407960.146200-slack-C01APA37DDW:

While it might be a bug uncovered by nav unification, I’m not sure it’s caused by it. Appending any query parameters seems to cause it. I can replicate it with `/wp-admin/upload.php?foo=bar`

[2021-03-10 22:08] supernovia commented on #50961
@obenland do we know what's causing that string to be appended?

[2021-03-10 22:26] khristiansnyder commented on #50126
I ran into a similar case today, but the issue seems to be from the image being a super high resolution: 6605 by 3552 pixels. Using a smaller, pre-cropped image worked.

[2021-03-10 22:45] mreishus commented on #36274
## Steps to Reproduce

* Start creating a new post on a WPCOM simple site.
* Type something in the title and body
* Create a new tag and assign it to the post: `MyTag1`.
* Create a new category **with the exact same name of the tag you just made** and assign it to the post: `MyTag1`.
* Press publish and you should see the error message.
* If you are a WP.com SuperAdmin, this _might_ not work as yo

[2021-03-10 22:48] happychait opened #50964 "Update "Dashboard appearance" toggle description."
**What**
Modify the `Dashboard appearance` toggle description to something easier to understand. I propose:

**Why**
I believe the current description of this toggle is verbose, unclear, and difficult to comprehend.

Enabling this will replace your dashboard pages with more advanced wp-admin equivalents when possible. Learn more

It is not clear what's _advanced_ and how it compares to the existin

[2021-03-10 23:16] jeyip commented on #36274
~Oof this definitely seems like a problem. @mreishus While I think that what you've found is probably contributing to the problem we're seeing, there are a number of instances where users see the "Publishing failed." error where the post title and post tag / category added _do not_ match.~

~Here are a few examples I found:~

- ~17282693-hc~
  - ~Title: “TransAtlantic” at Boston Sculptors Gallery~

[2021-03-10 23:37] kcswong commented on #43966
@tbradsha can't replicate it now either,  must've been fixed by something else! Will close.

[2021-03-10 23:37] #43966 closed

[2021-03-10 23:50] mattsherman commented on #50833
We should also look and ensure that the initial state is loaded/available to us when the page initially renders, or that we are properly waiting for it. That refreshing the page (often) seems to fix the issue seems to suggest that perhaps the state isn't available initially. Just a thought. I can help dig into the code more tomorrow if you don't fix it all up before then, @ilyasfoo!

[2021-03-10 23:58] donalirl commented on #36274
Encountered in #27098180-hc. They initially got the error but were able to publish it the second time. There are no categories or tags assigned to the post right now.

[2021-03-11 01:36] retnonindya commented on #38807
Another one here:
27404333-hc

The user able to purchase Personal plan two times before they reached out to us for cancelation.

Also, they able to purchase Business plan (monthly) and canceled it without HE assistance (without revert.)

[2021-03-11 01:45] alaczek opened #50970 "Signup: Theme update for two starter designs"
**Task Details**
We've recently updated two starter sites to use Blank Canvas theme instead of Mayland:
* https://pollardstarter.wordpress.com/
* https://balanstarter.wordpress.com/

Headstart annotation will need to be updated so that newly created sites get created with the right theme, and Gutenboarding will need to be updated so that the preview in the design/font selection step uses the corre

[2021-03-11 01:56] scosgro commented on #45607
User in 28211610-hc came back again asking for an update. They're a repeat requester on this thread, and still aren't happy. Great timing, so appreciate you looking in, @blackjackkent!

[2021-03-11 02:25] alaczek opened #50972 "FSE: CoBlocks Masonry block looks broken in the editor"
The Masonry Gallery block is displaying as an unordered list in the editor.

### Steps to reproduce the behavior

1. On a site with Full Site Editing enabled, add Masonry Block to the post content
2. Add or upload images to the block. Note that they are displayed as an unordered list.
3. Save and preview the site. The images are displayed in columns (as expected).

![WiBomQJRyW](https://user-image

[2021-03-11 02:40] isocialtish commented on #30426
I just had this come up again in 3810685-zen. The user was able to bypass it and get the .ppt file to upload after installing the "Disable Real MIME Check" plugin.

[2021-03-11 03:08] happychait opened #50973 "Amazon Kindle embed doesn't unfurl within a reusable block."
### Steps to reproduce the behavior

1. Go to post or page editor, add Amazon Kindle URL like https://www.amazon.com/dp/B08X5Y1Z8N by itself.
2. You will see the Kindle preview unfurl.
3. Make it a reusable block.
4. The embed remains unfurled.
5. Now publish, and visit the post/page on the site.

#### What I expected to happen

Kindle preview to remain unfurled on the post/page even within the re

[2021-03-11 05:07] #50970 closed, assigned to nobody

[2021-03-11 05:10] #50257 closed, assigned to ramonjd

[2021-03-11 06:11] ollierozdarz commented on #45038
Cool. Thanks, @ianstewart!

[2021-03-11 06:16] ollierozdarz commented on #50787
Hey, @ciampo! I don't have a strong opinion about this, but I think it would be safest to stick with constancy and display it how control does — adverb (as in "Pay monthly").

[2021-03-11 06:21] ollierozdarz commented on #50513
Sounds great, @razvanpapadopol!

[2021-03-11 08:29] simison commented on #48649
cc @gibrown I added to Jetpack search board, but feel free to triage this separately. Seems like a good quick win to sort out.

[2021-03-11 08:34] simison opened #50979 "Customizing Jetpack search broken; modal gets hidden"
When customizing the Jetpack search, the modal doesn't stay open, making the experience feel very broken and overall hard.

1. Enable Jetpack search and click "customize" from settings:

    <img width="857" alt="image" src="https://user-images.githubusercontent.com/87168/110757986-ab6f6480-8254-11eb-9710-ae2809064616.png">

2. Land in the customizer, modal is not open:

    <img width="1756" alt=

[2021-03-11 08:34] kosiew commented on #44263
#3810829-zen - another request to publish post without notifying subscribers

[2021-03-11 08:39] #48177 closed, assigned to mmtr

[2021-03-11 08:46] #50380 closed, assigned to cpapazoglou

[2021-03-11 08:55] simison commented on #50775
This broken search block padding looks like the issue that's fixed in this release, right? If so, I won't bother opening issue for it:

Twenty Twenty One theme:
<img width="850" alt="Screenshot 2021-03-11 at 10 48 47" src="https://user-images.githubusercontent.com/87168/110761343-4e75ad80-8258-11eb-8b2f-22da8f54aa48.png">

Blank canvas theme:
<img width="174" alt="Screenshot 2021-03-11 at 10 17 13

[2021-03-11 08:56] zdenys opened #50980 "Editor: Shaking and horizontal scrollbar in the Block settings panel appear if account interface language is set to some non-English languages"
### Steps to reproduce the behavior

1. Set the interface language to be French in https://wordpress.com/me/account
2. Create a new Post
3. See that the right sidebar with the Block settings has the undesired horizontal scrollbar

#### What I expected to happen

No horizontal scrollbar

#### What actually happened

Undesired horizontal scrollbar appears in the right sidebar with the Block settings

[2021-03-11 09:01] mmtr commented on #50961
It's actually caused by Nav Unification. Both `return` and `from` query parameters are set by the nav unification feature in Calypso for all WP Admin URLs. See https://github.com/Automattic/wp-calypso/pull/50586 and https://github.com/Automattic/wp-calypso/pull/50839.

The `return` param is added for returning users back to Calypso after they're done in WP Admin after certain actions (e.g. after c

[2021-03-11 09:02] mmtr commented on #50961
I'd consider this rather urgent to fix, given it's caused by nav unification and the upload screen can be easily one of the most accessed pages.

[2021-03-11 09:49] getdave commented on #50951
I've tried and failed to replicate this. Here's the steps I took.

1. Ensure Toggle is `off`.
2. Create new site with Business Plan.
3. Install and Activate Plugin to go Atomic.
4. Check all menu links point to "Calypso" URLs (also check API Network request and IndexDB cache). All 👍
5. Switch the Toggle on `on`.
6. Reload.
7. Check all (expected) menu links point to "WPAdmin" URLs (also check API

[2021-03-11 09:58] getdave commented on #50951
I have one more theory I'm exploring now.

[2021-03-11 10:24] tyxla commented on #44677
Seems like we weren't handling deselection on successful image requests properly. Here's a fix: #50982

[2021-03-11 10:33] simison commented on #50979
I just learned that I can ping @Automattic/jetpack-search on these :-D

[2021-03-11 10:33] simison commented on #50979
This seems like worth having an E2E test making sure it doesn't break silently?

[2021-03-11 10:34] cpapazoglou commented on #50715
Actually, users (non a12s) are seeing the following

![](https://cln.sh/FUd6FB+)

which has nav-unification enabled and a way to go back "Browse Sites".

In that case, I think it's better not showing that page in the primary site since this is an overview of all sites.

[2021-03-11 10:34] #50569 closed, assigned to tjcafferkey

[2021-03-11 10:46] deBhal commented on #50758
This looks to be about having the cutoffs wrong/too small for the adaptive elements in our UI, leading to the elements wrapping around at screen sizes close to the transition points.

![Edit_Post_‹_Test_—_WordPress_com](https://user-images.githubusercontent.com/5952255/110772417-50b32880-82a7-11eb-9c56-ed3a9e00b097.jpg)

![Edit_Post_‹_Test_—_WordPress_com](https://user-images.githubusercontent.com

[2021-03-11 10:55] simison commented on #50758
I think for now we should just hide the button on mobile. It's still available in the customer home page.

@razvanpapadopol @ollierozdarz thoughts? What would be a good alternative placement for this in mobile screens, if any?

[2021-03-11 11:09] getdave commented on #50951
@mrfoxtalbot and I hopped on a call to debug this. Turns out that even by manually updating the user option on his Atomic site to `1` the API still returns the Calypso URLs on both Calypso and WPAdmin when the toggle is `ON`.

We tried forcing a Jetpack sync and various other things to no avail.

I still cannot replicate myself. @mrfoxtalbot is going to try and replicate on a fresh Atomic site.

[2021-03-11 11:13] getdave commented on #50951
Another clue - hitting `wp-admin/users.php` after toggling the toggle forces the Atomic site to update the user_option `wp_jetpack_admin_menu_link_destination` _immediately_.

[2021-03-11 11:31] getdave commented on #50951
Adding a Plugin/editing an existing Plugin to include the following code on any site that is displaying the problem will force it to use `wp-admin` links depending on what you return from the function

* `true` - force use WPAdmin links
* `false` force us Calypso links

[code]

This can be used to debug whether the option is the true cause of the wrong links being returned by the API on Atomic sit

[2021-03-11 11:51] ilyasfoo commented on #50833
@mattsherman Sorry, I wasn't able to get much into this today, I've only tested this 3 times (3 new sites) and able to reproduce it once. I noticed when the hangup happens, the `install` WPCOM API was not called despite the progress bar started progressing. The console does not show anything either.

I've tried to copy and diff the whole redux state where it works and didn't, but the diff was too

[2021-03-11 12:41] benchilcote commented on #36274
Another report 3791219-zen.

[2021-03-11 12:42] davipontesblog opened #50987 "Nav Unification: Hide the core "Links" sidebar item under a toggle in "Settings""
### What
The core "Links" item in the nav menu/sidebar provides little to no benefit to users in WordPress.com, and it's not aligned with how WordPress development is geared towards editing in the site and post editor. While this may be discussed in core as well, I wonder if a faster solution for WordPress.com could be applied by simply hiding it behind a toggle in the site settings page, under My

[2021-03-11 12:49] davipontesblog commented on #50987
@sfougnier would love your feedback here.

[2021-03-11 13:06] niranjan-uma-shankar opened #50988 "Nav Unification: Unable to add a new site"
### Steps to reproduce the behavior

1. Signup for a new account from https://wordpress.com/start
2. In Calypso sidebar, try to add a new site

#### What I expected to happen

I expected to see the option to add a new site in Calypso's sidebar

#### What actually happened

I'm not able to find the option when I have just a single site. However, if I have two sites, then I can see the option to add

[2021-03-11 13:16] davemart-in commented on #50987
Links was removed in Core like 8 years ago. Is there a good reason for keeping it around in Dotcom?

[2021-03-11 13:33] cpapazoglou commented on #50988
It seems we have closed https://github.com/Automattic/wp-calypso/issues/47183 without adding the Calypso counterpart.

We should create a component like the "Collapse menu" with icon `dashicons-plus-alt`.
https://github.com/Automattic/wp-calypso/blob/cc976b39207147a01207d0b33fefab336c7383e1/client/my-sites/sidebar-unified/index.jsx#L144-L148

The menu added in WP Admin is here https://github.com/A