[2021-02-04 02:10] inaikem commented on #47696
Closed and moved to `WordPress/Gutenberg`: https://github.com/WordPress/gutenberg/issues/28714

[2021-02-04 02:10] #47696 closed, assigned to nobody

[2021-02-04 02:11] inaikem commented on #46892
Triage: Wondering if this is still a current issue. I'm unable to replicate on my end, so a second/third set of eyes would be appreciated!

[2021-02-04 02:21] inaikem commented on #47685
Triage: confirmed as also present in WPorg sites.

Closing in favour of: https://github.com/WordPress/gutenberg/issues/24199

[2021-02-04 02:21] #47685 closed, assigned to nobody

[2021-02-04 02:33] p-jackson commented on #49678
Looks like the subscribe/follow difference is by design, h/t @andrewserong p1612383354077500-slack-C013QHLF2

The defaults are different on wpcom and wporg
https://github.com/Automattic/jetpack/blob/e13487d0dbbe4c743739b6f1a3e37c143a8c2614/projects/plugins/jetpack/modules/subscriptions/views.php#L658

[2021-02-04 02:33] #49678 closed, assigned to nobody

[2021-02-04 02:42] andrewserong commented on #49678
Added an issue for the difference between the editor and front-end here for tracking in Jetpack: https://github.com/Automattic/jetpack/issues/18704

[2021-02-04 02:54] inaikem commented on #47684
Triage: I was able to reproduce on WPcom and self-hosted sites. In addition:

- With the parent block set to `Show media on right`, a new nested Media & Text block aligns text on the left and media on the right by default. Changing alignment options does nothing.
- If the parent block is set to `Show media on left`, a new nested Media & Text block aligns text on the right and media on the left (as

[2021-02-04 02:54] #47684 closed, assigned to nobody

[2021-02-04 02:59] worldomonation commented on #16255
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 02:59] #16255 closed

[2021-02-04 03:00] worldomonation commented on #15707
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this with the current Media gallery.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 03:00] #15707 closed

[2021-02-04 03:02] worldomonation commented on #19671
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I notice that support chats now include an origin point. I assume this means this issue is resolved:
![Screen Shot 2021-02-03 at 1 19 39 PM](https://user-images.githubusercontent.com/6549265/106839072-51c2bb80-6652-11eb-9eed-6e85657a9804.png)

As there has been no recent activity on thi

[2021-02-04 03:02] #19671 closed

[2021-02-04 03:06] worldomonation commented on #20276
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This feature does not appear to be present in:
Gutenberg: v9.8.3
CoBlocks: 2.5.3
Editing Toolkit: 534725326

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please fee

[2021-02-04 03:06] #20276 closed

[2021-02-04 03:07] inaikem commented on #47680
Triage: Confirmed. I cannot replicate on WPorg sites. The "dissappearing nested image" occurs no matter how the parent and child block images are aligned:

![](https://d.pr/v/abIUxB)
[Direct video link.](https://d.pr/v/abIUxB)

[2021-02-04 03:09] worldomonation commented on #19487
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 03:09] #19487 closed

[2021-02-04 03:10] worldomonation commented on #16088
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 03:10] #16088 closed

[2021-02-04 03:27] p-jackson commented on #49678
Bug about a potential missing migration in Jetpack that caused the issue: Automattic/jetpack#18706

[2021-02-04 03:53] inaikem commented on #46947
Triage: @mrfoxtalbot I am unable to replicate. Can you please retest for me when you have a moment?

[2021-02-04 04:02] inaikem commented on #46656
Would it be possible to add a variation of the "request access" link for non-logged-in users?

It's not immediately apparent how folks can gain access with just the "login / start your website" buttons on the top right of the page (desktop).

[2021-02-04 04:32] worldomonation commented on #19195
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 04:32] #19195 closed

[2021-02-04 04:37] worldomonation commented on #21373
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue with modern `wp-calypso`:
![Screen Shot 2021-02-03 at 8 36 58 PM](https://user-images.githubusercontent.com/6549265/106845339-9739b580-665f-11eb-9b84-f5c150b16d4a.png)

As there has been no recent activity on this issue, the issue is being closed w

[2021-02-04 04:37] #21373 closed

[2021-02-04 04:48] worldomonation commented on #19190
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this in `wp-calypso` today:

https://user-images.githubusercontent.com/6549265/106846156-3317f100-6661-11eb-8733-b810c4f767b7.mov

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If wor

[2021-02-04 04:48] #19190 closed

[2021-02-04 04:51] jordesign commented on #41713
I don't know for sure - but I suspect it _might_ have something to do for previewing drafts or private pages (where a nonce might be used) ?

[2021-02-04 04:52] worldomonation commented on #17068
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 04:52] #17068 closed

[2021-02-04 04:55] jordesign commented on #47437
Thanks for clarifying @mrfoxtalbot. Confirming this is limited to Atomic / Jetpack sites.

[2021-02-04 04:57] worldomonation commented on #18859
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I checked the link and it points to https://authy.com/download/.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 04:57] #18859 closed

[2021-02-04 04:58] worldomonation commented on #16460
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 04:58] #16460 closed

[2021-02-04 04:59] worldomonation commented on #15887
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was unable to reproduce this issue.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-04 04:59] #15887 closed

[2021-02-04 05:01] worldomonation commented on #16186
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to identify a way to set User Account's timezone, separately from the site's time zone. Given that, I am guessing that this issue is no longer relevant.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducibl

[2021-02-04 05:01] jordesign commented on #48814
My labeling may have been incorrect - feel free to change. My logic was that this is something _could_ be addressed as part of Nav Unification - not necessarily that it was caused by it 👍

The AMP menu item will show up on Atomic sites when the AMP plugin (which we bundle and activate) is active.

@kriskarkoski may be able to clarify further though.

[2021-02-04 06:19] razvanpapadopol commented on #44219
We've re-introduced for now the top bar that shows up in control and in the rest of Calypso in #49567

[2021-02-04 06:39] razvanpapadopol commented on #48108
I don't think this is needed anymore since `wordpress.com/help` seems to always show the content translated in the locale set in the user's account.

[2021-02-04 06:44] razvanpapadopol opened #49698 "Focused Launch: Incorrect href on Help link in Summary view"
### Acceptance Criteria
1. [ ] The _Ask a Happiness Engineer_ link redirects to `https://wordpress.com/help/contact` in a new tab/window.
2. [ ] The _Ask a Happiness Engineer_ link complies with i8n standards (see #47947).

### Steps to reproduce the behavior

1. Create a free site on `/start`
2. Open Launch from editor top bar in Calypso or in wp-admin
3. Try opening _Ask a Happiness Engineer_ li

[2021-02-04 06:56] yashitamittal11 commented on #49007
#3710575-zen

[2021-02-04 07:32] donalirl commented on #46892
I don't think it is, since we haven't had any new reports in a long time. If it was still an issue, we would have continued to receive new cases. Probably safe to close.

[2021-02-04 08:13] jeherve commented on #41730
We've gone through different strategies over the years:

- When Jetpack was first released, its settings were scattered across core settings pages in wp-admin, to blend in with the rest of the core WP settings. This made sense on WordPress.com to avoid confusing site owners.
- Over time, we decided to also add those settings to the React dashboard in wp-admin, as a way to show folks the value of J

[2021-02-04 08:26] erricgunawan commented on #49616
@cathymcbride I still see a report here: 3703749-zen

This is a screenshot of the Cover Block in the Editor: https://d.pr/i/6Gp0vT and https://d.pr/i/DVfWJD (per user's note and samples, it doesn't always go black, sometimes it's white too, as in this particular sample).

And the screenshot of the actual look on the live page: https://d.pr/i/3eFWMW

This is on a Simple site with Personal plan.

Mo

[2021-02-04 08:38] philnick206 opened #49703 "Navigation Block: Social Icons added to navigation appear stretched"
### Steps to reproduce the behavior

1. Add Social Icons next to links in the Navigation block

#### What I expected to happen

- Social Icons would show in the correct shape/size

#### What actually happened

- Social icons background was stretched vertically on the Small and Normal size

### Context

Here is a comparison of the Social Icons block in the Navigation block and outside of the block:

[2021-02-04 08:43] EmreYigitAlparslan commented on #48770
@cathymcbride Since the pop-up didn't show up, I couldn't test if it is fixed. Let me know if there is a way the see that manually.

[2021-02-04 08:47] rinazrina opened #49704 "Reblog button is missing and the Like button is not working on mobile iOS"
### Steps to reproduce the behavior

1. Log into your WordPress.com account on iOS mobile browser
2. Go to a WordPress.com post/page that enables Reblog and Like buttons (e.g. https://rebornpipes.com/2021/02/03/new-life-for-a-patent-era-1915-18-dunhill-a-bruyere-66-standing-billiard/ and https://thepipesteward.com/2020/02/02/welcome/ )
3. Locate the sharing buttons below the post
4. Click on the L

[2021-02-04 08:48] inaikem commented on #46892
Understood, cheers!

[2021-02-04 08:49] #46892 closed

[2021-02-04 08:50] ramonjd commented on #46656
Hi @inaikem

The page works the same way as the previous page.

Once the user logs in, they should be redirected back to the private page and see this:

<img width="931" alt="Screen Shot 2021-02-04 at 7 49 34 pm" src="https://user-images.githubusercontent.com/6458278/106867869-38894000-6722-11eb-8b06-24067c45c3cd.png">

[2021-02-04 08:57] inaikem commented on #46656
Sorry Ramon, I should have been clearer. My meaning is that the "Build a website" text and login/sign-up buttons don't quite make it clear to logged-out/non-WPcom users that they need to login/sign-up to request access. They almost look like a separate call to action.

I'd like to suggest we look at adding to the copy for the logged-out screen, making it something closer to the following: _"This s

[2021-02-04 09:09] inaikem commented on #46947
Sure! I first added some internal links on a test post (on a WordPress.com test site) and verified they were working as expected.

Next, I switched primary domains to my free site address, cleared my cache and refreshed the above test post. The links on my test post were all pointed to my free site address, as opposed to the custom domain they were linked to before the switch.

Hope that helps!

[2021-02-04 09:19] simison opened #49706 "My home: swap "create a site menu" and "update your home page" order"
When creating a  new site, we show a checklist of next tasks at customer home:

<img width="1072" alt="Screenshot 2021-02-04 at 11 13 21" src="https://user-images.githubusercontent.com/87168/106870702-153aa280-66da-11eb-9b8a-4d0b63dc12ab.png">

See https://github.com/Automattic/wp-calypso/issues/47334 for context, but in gist is that editing menus is currently hard in Customizer, and should be int

[2021-02-04 09:27] ramonjd commented on #46656
Ah, makes sense 🙇

Thanks for the tip. I think that's pretty reasonable suggestion!

What about something like this?

<img width="1251" alt="Screen Shot 2021-02-04 at 8 26 39 pm" src="https://user-images.githubusercontent.com/6458278/106872380-573e0580-6727-11eb-815f-91d00c0074e8.png">

cc @joanrho

[2021-02-04 09:43] ramonjd commented on #46656
Tracking the copy change issue in D56478-code

Closing this issue for now as it related to the initial redesign delivery

[2021-02-04 09:43] #46656 closed

[2021-02-04 09:52] kriskorn opened #49707 "Blog Posts Block: Choose Specific Posts Endpoint Broken"
**Describe the bug**

When one toggles on _Choose Specific Posts_ and starts searching a post in the _Posts_ field, then there will only be a loading icon and no results are being shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Site -> Site -> Posts -> Add New Post/Page
2. Click on + icon to insert the Blog Posts block
3. In the sidebar settings toggle on the _Choose Specific

[2021-02-04 09:57] inaikem commented on #46656
Looks great, Ramon! Thanks for taking my suggestion on board 😁

[2021-02-04 10:03] sirreal commented on #49707
Thanks for the report, there's an issue with the endpoint we're working on: pMz3w-cyF-p2

[2021-02-04 10:12] sirreal commented on #49707
I'm going to transfer this to wp-calypso. It's an issue that only affects Newspack on Simple sites.

[2021-02-04 10:35] Aurorum commented on #49669
PR for this issue in #49709. :)

[2021-02-04 10:54] sirreal commented on #49640
@WunderBart is going to investigate this.

[2021-02-04 11:00] yansern commented on #48547
The quick fix is actually the better fix than the long term fix as it doesn't hinder the user from entering any site title they wish, while allowing users to continue create site.

[2021-02-04 11:00] #48972 closed, assigned to pablinos

[2021-02-04 11:03] Aurorum commented on #49179
Hi @simison, which colour scheme are you using in that screenshot? I've tried a couple, but they all seem to pass (as `--color-text-subtle` on white always should).

Classic Dark:
<img width="745" alt="Screenshot 2021-02-04 at 11 01 04" src="https://user-images.githubusercontent.com/43215253/106883745-4e721300-66d8-11eb-811e-a2c6ff770730.png">

[2021-02-04 11:08] yansern commented on #48547
Deployed.

[2021-02-04 11:08] #48547 closed, assigned to yansern

[2021-02-04 11:09] devNigel commented on #49299
Closing this. Reported on coblocks repository: https://github.com/godaddy-wordpress/coblocks/issues/1819

[2021-02-04 11:09] #49299 closed, assigned to nobody

[2021-02-04 11:39] benchilcote commented on #49690
I'm updating this, then closing it.  I tested on a self-hosted site and it is a core issue which has already been reported here:

https://github.com/WordPress/gutenberg/issues/26715

[2021-02-04 11:43] WunderBart commented on #49640
@simison @sirreal this is a [known issue](https://github.com/WordPress/gutenberg/issues/28024) that is being discussed in https://github.com/WordPress/gutenberg/issues/17640.

Closing in favor of https://github.com/WordPress/gutenberg/issues/17640.
/cc @talldan

[2021-02-04 11:43] #49640 closed, assigned to nobody

[2021-02-04 11:47] yansern commented on #49669
In the future, it might be worth considering standardizing footer padding across different viewport.

Mixins like `@mixin onboarding-block-margin` and `@mixin onboarding-body-margin` only catered for left & right margins, while top margin was decided by heading, and bottom margin is decided by each step's individual stylesheet.

A mixin to streamline all vertical (top/left) margins across multiple

[2021-02-04 11:47] yansern opened #49712 "New Onboarding: Standardize onboarding block vertical margins."
In the future, it might be worth considering standardizing footer padding across different viewport.

Mixins like `@mixin onboarding-block-margin` and `@mixin onboarding-body-margin` only catered for left & right margins, while top margin was decided by heading, and bottom margin is decided by each step's individual stylesheet.

A mixin to streamline all vertical (top/left) margins across multiple

[2021-02-04 11:58] StefanNieuwenhuis opened #49713 "Focused Launch - Summary View: Prices jump from monthly to yearly after selecting a free plan"
If the user has a monthly plan selected in the summary view and then clicks on the free plan, the price of the plans above jump from monthly to annually while staying in the summary view.

#### Acceptance criteria
* [ ] The list of plans in the summary view (either monthly or annually) remains the same after selecting a free plan.

#### Expected behavior
When the user selects a Free plan after sel

[2021-02-04 11:59] #49690 closed, assigned to nobody

[2021-02-04 12:13] #48544 closed, assigned to alshakero

[2021-02-04 12:29] sirreal commented on #49707
I started work in D56480-code, but I'm going to leave this for @Automattic/newspack folks who are familiar with these changes.

[2021-02-04 12:36] ciampo commented on #49713
cc @razvanpapadopol and @ollierozdarz  (although not a blocker for MVP)

[2021-02-04 12:43] #49538 closed, assigned to niranjan-uma-shankar

[2021-02-04 12:57] simison commented on #44219
@razvanpapadopol is the above PR enough to close this issue or was there more needed?

![image](https://user-images.githubusercontent.com/87168/108183109-7159e980-7112-11eb-844a-9983e533d16c.png)

[2021-02-04 13:04] Sandkorner commented on #46468
Had the same issue, that in Blog Posts block the load more posts button did not appear on the live site in private mode.

[2021-02-04 13:09] jeffersonrabb commented on #49707
I suspect all we need is to replicate [this fix](https://github.com/Automattic/newspack-blocks/pull/677) for `newspack-blocks/v1/specific-posts`. @dkoo is this accurate?

[2021-02-04 13:15] vindl commented on #49573
@mattwiebe might be related to https://github.com/WordPress/gutenberg/issues/28581?

[2021-02-04 13:17] #49257 closed, assigned to StefanNieuwenhuis

[2021-02-04 13:43] tbradsha commented on #48597
Yes, today for that user, the "All" section only has 5 notifications:

![image](https://user-images.githubusercontent.com/32492176/106900827-3b4d4c00-66b4-11eb-8b67-cb6922b72aab.png)

[2021-02-04 13:43] #49604 closed, assigned to frontdevde

[2021-02-04 14:03] theabhig commented on #46536
I've just come across this occurring on 3711714-zd

[2021-02-04 14:18] cathymcbride commented on #49704
Duplicate of https://github.com/Automattic/wp-calypso/issues/35140

[2021-02-04 14:18] #49704 closed, assigned to nobody

[2021-02-04 14:22] razvanpapadopol commented on #44219
That PR just enabled a way to abandon checkout (with X from top bar) without having to remove every product.

To achieve some level of cohesion with Gutenboarding we need to add some custom styling to Checkout. We did this once for the old checkout: https://github.com/Automattic/wp-calypso/pull/39447/files#diff-9e84174e2ab1e30e508aaac500ed88c71c22f15964a45eafa26bb7f3be25f15b

[2021-02-04 14:38] #49669 closed, assigned to nobody

[2021-02-04 14:57] nicelyj2 commented on #45881
27508571-hc Chrome 88.0 on Mac OS X 10.13.6
Premium Plan, 1 of 3 sites they have

[2021-02-04 14:57] ivan-ottinger commented on #40792
Another report: 27031401-hc

@kristarella, that workaround works great! Thanks so much!

[2021-02-04 15:08] synora opened #49717 "Two Headers Seen on Old Version of FSE"
Reported by @yashitamittal11:
"They have two headers added to the page. They want to remove one of the headers. When I try to edit the first header, I don't see the full contents. I only see the contents of the second header.
I am not sure why there are two headers on the page and how to remove the first one."

GIF: https://d.pr/v/KLI2Ul
3710570-zen
Site: pearsonpottery.com.au

[2021-02-04 15:16] metabreakr commented on #45881
17556496-hc

[2021-02-04 15:18] alshakero commented on #47576
Alright. I investigated and I couldn't track down any issues in the focused launch implementation. It's a translation issue for sure.

What I did is the following:

#### My setup
1. I set my language to Spanish.
2. I chose "You're almost there!" and "Name your site" phrases as my test phrases. They're both translated to Spanish [[1](https://translate.wordpress.com/projects/wpcom/es/default?filters

[2021-02-04 15:40] mattsherman commented on #49209
Thanks for giving Navigation a spin @psealock! 🙌

Indeed. I assume that the page gets re-set somewhere in the wc-admin initialization when it takes over as the Home page for WooCommerce... I need to dig into this.

Yes, I can confirm that Navigation works as expected in wp-admin. And, that it really doesn't need to "work in Calypso" as long as the top level "WooCommerce" menu item works properly.

[2021-02-04 16:19] rachelwinspear commented on #49007
Another report here: #3711599-zen

[2021-02-04 16:23] rachelwinspear commented on #49707
Also reported here: #3711457-zen

[2021-02-04 16:30] michaeldcain opened #49720 "Other Site Subscriptions: redirect to subscription list after removal"
When you delete a subscription to another site, we keep you on an empty page after it's been removed. Let's take folks back to the purchases tab after the subscription deletes.

![membership-removal](https://user-images.githubusercontent.com/942359/106923957-9a26bb80-66dc-11eb-9b97-4759ae30c9d1.gif)

[2021-02-04 16:33] #48770 closed, assigned to nobody

[2021-02-04 16:42] mattwiebe commented on #49573
Yup that's part of what I'm seeing. I thought the refresh of `tt1-blocks` might fix it, but only got part way there

[2021-02-04 16:47] allanftd commented on #49616
Hey @cathymcbride, thanks for the update! I tried again just now and, interestingly, the results are mixed. It got fixed for  3705346-zd but not for 3704445-zd.

[2021-02-04 17:35] TeniCola commented on #49707
Also reported here: 3712385-zen

User updates this block setting regularly and would like an update once fixed, so placing that ticket on hold

[2021-02-04 17:36] dkoo commented on #49707
That's correct—I'm working on a fix and expect to push a release to the source plugin today.

EDIT: Fix is here: https://github.com/Automattic/newspack-blocks/pull/689

Will be released later today, then we'll have to update the ETK plugin to pull down the fix.

[2021-02-04 18:14] kriskarkoski commented on #49604
Thanks for the fix @frontdevde, can confirm it's resolved this issue for me.

[2021-02-04 18:20] desnum commented on #49007
hc-26238505

[2021-02-04 18:28] sirreal commented on #49007
Some mitigation with styling D56058-code deployed in r220537-wpcom

[2021-02-04 18:46] worldomonation commented on #21005
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

It seems this issue was reported prior to the block editor and may no longer be relevant.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open

[2021-02-04 18:46] #21005 closed

[2021-02-04 18:56] ebinnion commented on #46802
Looking at the stats in our LinkedIn App, yes, it looks likely. I have some screenshots that I can share to p2 if you have a link handy?

[2021-02-04 18:56] cpapazoglou commented on #49539
Another workaround for the meantime is going to `https://wordpress.com/me/account` and switching on "Replace all dashboard pages with WP Admin equivalents when possible."

![](https://cln.sh/VCRxuz+)

[2021-02-04 19:07] cpapazoglou commented on #49262
After some fiddling with ALL the menu items I could find in a site with e-commerce plan with **nav-unification disabled** I have published my findings and a proposal here paYJgx-1lp-p2.

[2021-02-04 19:30] worldomonation commented on #16440
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce the issue in the Themes gallery:
![Screen Shot 2021-02-04 at 11 29 49 AM](https://user-images.githubusercontent.com/6549265/106945217-651a6900-66dc-11eb-850b-170cf212ab38.png)

As it was not reproducible, this issue is being closed with the label `Closed - No

[2021-02-04 19:32] kriskarkoski commented on #49084
Closing as a duplicate of https://github.com/Automattic/wp-calypso/issues/48597

[2021-02-04 19:32] #49084 closed, assigned to nobody

[2021-02-04 19:35] worldomonation commented on #17728
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce by uploading a video then selecting the video in a Video block type, then playing the video as myself. Stats page did not register my own play as a video playback count as expected.

As it does not appear the issue is reproducible, it is being closed with the la

[2021-02-04 19:35] #17728 closed

[2021-02-04 19:41] worldomonation commented on #20634
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue by opening a post, inserting an Image block then opening the Media Library. For good measure, I performed a search using the long text string and no errors were observed in the DevTools.

As this issue does not appear to be reproducible, it is bein

[2021-02-04 19:41] #20634 closed

[2021-02-04 19:43] worldomonation commented on #19797
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue appears to be with the older user interface. Additionally, Firefox 57 was the initial release of Quantum which was a large reworking of the browser core, which likely led to the layout issue.

As this issue is not reproducible, it is being closed with the label `Closed - Not

[2021-02-04 19:43] #19797 closed

[2021-02-04 19:49] obenland commented on #36199
It is, yes. Sounds good, thanks!

[2021-02-04 19:49] #36199 closed

[2021-02-04 19:53] obenland commented on #36374
Yes, Settings > Media will be accessible from both Calypso and wp-admin and will link to the wp-admin page with those settings.

[2021-02-04 19:53] #36374 closed

[2021-02-04 19:55] obenland commented on #46802
I don't think there's a P2 for this currently. Would you want to append this to p7fD6U-2Za-p2 ? Or create a new one?

[2021-02-04 20:09] joanrho commented on #46656
I think that's a reasonable change too. Thanks for the suggestion, @inaikem!

[2021-02-04 20:10] pablinos commented on #48841
I've update #49504 to open this up to all Jetpack plans. Jetpack redirects to Calypso for these settings, but there is a nudge to upgrade in the settings panel for sites that are currently ineligible for the feature. That will need a follow-up PR in Jetpack, but this change should fix the issue on the Calypso side.

[2021-02-04 20:22] mattwiebe commented on #48973
Re-opening because, in the process of deploying the latest `tt1-blocks`, this change got overridden. I've submitted an upstream patch: https://github.com/WordPress/theme-experiments/pull/196

The patch can be tested on dotcom: D56514-code

[2021-02-04 20:24] mattwiebe commented on #49667
Closing this, as the source has been discovered and a fix in progress: https://github.com/WordPress/gutenberg/pull/28731

[2021-02-04 20:24] #49667 closed, assigned to nobody

[2021-02-04 21:56] cathymcbride commented on #42148
@worldomonation this should be fixed from a recent check in. Can you verify that?

[2021-02-04 22:22] obenland commented on #49648
Thanks for pointing this out!

I was personally unable to reproduce that, but since [we're filtering that value](https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058aa6bc0e82b7/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nav-sidebar/src/components/nav-sidebar/index.tsx#L99-L105) and it defaults to wp-admin, I wouldn't be surprised if you managed to click i

[2021-02-04 22:22] obenland commented on #49648
I'm going to close this for now, I'm not sure there's much there that could be improved or fixed, I'm afraid.

[2021-02-04 22:22] #49648 closed, assigned to nobody

[2021-02-04 22:24] obenland commented on #49375
@ianstewart Where did we leave off on the issue of outdated blocks in page templates? Is that something View could look at?

[2021-02-04 22:29] obenland commented on #49221
This sounds like it's an issue with default content on new sites? @simison Is this something you're familiar with?

[2021-02-04 22:30] obenland commented on #49634
Are they accessible from wp-admin? [Edit] They are

[2021-02-04 22:44] happychait opened #49729 "Classic Editor: With the Firefox 85 update, the editor toolbar is not fixed at the top of the editor."
### Steps to reproduce the behavior

1. In the latest Firefox 85, go to WP Admin and open the classic editor.
2. Click on the editor area and scroll down.

#### What I expected to happen

The toolbar on the TinyMCE editor should stay fixed as it does on the earlier version of Firefox (84) as shown in this video:  https://d.pr/v/6V9tDm

#### What actually happened

The TinyMCE toolbar doesn't stay

[2021-02-04 22:48] lakellie commented on #49729
Another user report in 15610477-hc

[2021-02-04 22:57] obenland opened #49731 "Color Schemes: Adminbar missing background color with "dark" color scheme"
With a test user I noticed how the adminbar was missing its background color.

For some reason the background color is set to `dark`, I wonder if that is a deprecated value? Did we have a `dark` color scheme at some point?

### Steps to reproduce the behavior

1. On your sandbox run:
2. `$ wpsh`
3. `> update_user_option( USER_ID, 'admin_color', 'dark' );`
4. Load wp-admin on a test site
5. See adm

[2021-02-04 23:10] ebinnion commented on #46802
I responded in a comment on that p2. I may start out here by adding some more comprehensive logging so that we can come up with a better fix.

[2021-02-04 23:14] obenland commented on #49634
The `wpcom/v2/sites/BLOG_ID/post-counts/wp_block` request returns the correct number but the post request returns an empty result. I wonder if the capabilities are not mapped correctly in the post type registration.

[2021-02-04 23:15] obenland commented on #49634
FWIW Contributors by design don't have the caps to create/manage reusable blocks, but I was able to reproduce it for an Author level user.

[2021-02-04 23:24] worldomonation commented on #42148
I took a look. My understanding of the issue is that when entering the editor using an iOS browser, the editor is not sized for the mobile phone screen.

If my understanding is correct, then I can confirm the editor experience on iOS Safari is as I would expect. For more information, please see attached screen recording of my interactions:
https://d.pr/v/O72Sce

[2021-02-04 23:30] obenland commented on #49634
It looks like our API has a problem with non-public post types being accessed. Using `wp/v2/sites/BLOG_ID/blocks` works fine, maybe we should switch to that in Calypso.

[2021-02-04 23:36] worldomonation commented on #42148
I also checked the Column block type on mobile and tested the responsive breakpoints:
![スクリーンショット 2021-02-04 15 33 38](https://user-images.githubusercontent.com/6549265/106968914-aa4f9280-66fe-11eb-9f16-8a93633350a7.png)
![Edit Post ‹ Edwin's Test Site 1 — WordPress](https://user-images.githubusercontent.com/6549265/106968926-b0de0a00-66fe-11eb-94e5-86c6523981e8.png)

[2021-02-04 23:44] ilyasfoo opened #49734 "Store|Woo: Store deprecation tooltip is shown in ecommerce plan"
#### Steps to reproduce the behavior

1. Go to WordPress.com, navigate to a site with e-commerce plan.
2. Append `?disable-nav-unification` to the URL if you're an automattician.
3. Notice the tooltip for store deprecation is shown.
![image](https://user-images.githubusercontent.com/3747241/106969409-b92d5800-6785-11eb-9894-ffbb75c4e79e.png)

#### What I expected to happen

Store deprecation toolt

[2021-02-04 23:46] worldomonation opened #49735 "Layout Grid: in mobile browser, tapping responsive breakpoint highlights Desktop mode by default"
### Steps to reproduce the behavior

Prereq. tested on iOS Safari.

1. Create a post.
2. Insert the Layout Grid block.
3. Tap on the edge of Layout Grid block to show options.
4. Tap on the icon that appears to be a laptop.
5. Tap on Mobile.
6. Tap on anywhere else to dismiss the dropdown.
7. Tap on the edge of Layout Grid block to show options.
8. Repeat Step 4.

#### What I expected to happen
Re

[2021-02-04 23:51] worldomonation commented on #42148
I've also checked on desktop Firefox that following works:

1. insert Layout Grid block.
2. fill in some content in each of the columns.
3. from block options, select `Mobile` for Responsive Breakpoint.
4. enter preview.
5. change preview mode to `Mobile`.

The resulting preview is in line with the selected breakpoint.

[2021-02-04 23:55] obenland commented on #49682
I don't think we'll be able to get those kinds of icons into Calypso. There's just not a good way (that I can think of) to get those styles applied in Calypso.

If the font approach is not something that folks feel super strongly about, an SVG is probably the most portable way for custom menu item icons.

[2021-02-04 23:59] obenland commented on #49643
It's possible that we need to come up with a fancier way to get to the underlying `*.wordpress.com` domain than using [`site_url()`](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php#L190).

@katiebethbrown Is the site you found this on using a custom domain?

[2021-02-05 00:02] ollierozdarz commented on #49665
@simison great pickup! I think it'd be a shame to hide it since it may be valuable for some users.

This sounds like the most practical to me. I just had a look at Squarespace for an example, and the difference between their Desktop and Tablet views are quite noticeable. Even at our biggest viewport size if we can adjust Desktop and Tablet to have a 10%-20% size difference, then continue it as the

[2021-02-05 00:04] obenland commented on #49576
Duplicate of #47108.

[2021-02-05 00:04] #49576 closed, assigned to nobody

[2021-02-05 00:08] obenland commented on #49539
@patrycjakiljanska I added you to the site as an Editor. Please let us know if that didn't fix this issue for you.

[2021-02-05 00:08] #49539 closed, assigned to nobody

[2021-02-05 00:11] ollierozdarz commented on #49419
It looks like the [ticket](https://github.com/Automattic/wp-calypso/pull/48780#event-4257619646) I mentioned has been put on hold for now.

[2021-02-05 00:12] obenland commented on #49455
We could add a check for superadmins that are not members of the current site in `WPcom_Admin_Menu::should_link_to_wp_admin()` and return true regardless of toggle setting

[2021-02-05 00:15] ollierozdarz commented on #49713
@StefanNieuwenhuis @ciampo yeah, this is what I'd expect too.

If there technically **has** to be a delay pulling the updated price data back into the summary page, we could always use the grey skeleton loading state for the prices while they update?

[2021-02-05 00:17] obenland commented on #49381
Let's consolidate with #49577

[2021-02-05 00:17] #49381 closed, assigned to nobody

[2021-02-05 00:18] ollierozdarz commented on #49706
@simison +1 from me. Let's get some quicker psychological wins on the board with a user before introducing harder tasks which could result in churn.

[2021-02-05 00:19] obenland commented on #49364
It will resolve it on the Calypso side, it will still be hidden in wp-admin

[2021-02-05 00:24] obenland commented on #49235
This should be fixed with Jetpack 9.4 being out now. It's caused by Calypsoify being active together with nav-unification.

@rachelwinspear Please feel free to reopen if this still happens with latest Jetpack.

[2021-02-05 00:24] #49235 closed, assigned to nobody

[2021-02-05 00:26] andrewserong commented on #48883
Related issue with mShots: https://github.com/Automattic/mShots/issues/30

[2021-02-05 00:27] obenland commented on #49191
This will be solved as part of https://github.com/Automattic/wp-calypso/issues/49262

[2021-02-05 00:35] obenland commented on #49132
This should not be related to nav unification. I added color scheme tags in case it's related to that.

[2021-02-05 00:38] obenland commented on #49087
Just noting that any caching will need a lot of attention to cache clearing. With plugins and themes registering menu items, comment and updates getting bubbles, there's a lot that can change there.

[2021-02-05 00:39] obenland commented on #48814
Removed nav unification label so we can focus on regressions

[2021-02-05 00:41] ollierozdarz commented on #49141
👋 Catching up on this task. These designs may now be in a landscape ratio with the most recent changes, but that shouldn't change anything drastically. All I might add here is a ' + ' inside the blank design, since keeping it empty feels a bit like a bug, and I'd be interested it many users pay attention to the labels underneath.

<img width="427" alt="Screen Shot 2021-02-05 at 10 41 04 am" src="h

[2021-02-05 00:43] olaolusoga commented on #49706
What Ollie said. I'd also plus one[ Rick's comment](https://github.com/Automattic/wp-calypso/issues/47334) on removing the edit menu task all together. Editing menus is not great at the moment—we're making it better with Gutenberg—if we have to continue with customizer I wonder if there is a better moment in the user journey to expose menu management.

Also the [quick links has "edit menu"](https:

[2021-02-05 01:10] davemart-in commented on #49570
@aneeshd16, @dzver mind taking a look at this?

[2021-02-05 01:14] sirbrillig commented on #48892
Displaying cart items in calypso is rather complex. In theory, the main things are: product name followed by product price. However, there's a ton of product-specific data that must be considered such as:

- domain names for domain products
- number of licenses or seats for various products
- plan length descriptions
- relevant email addresses for email products
- text to differentiate renewals fr

[2021-02-05 01:17] ollierozdarz commented on #49311
@simison @olaolusoga.

For a quicker win for mobile, I've tried to break this down to three actions.

1. The quick win here is fix the button, since the long text is what's breaking the UI. If we add `max-width: 100%;` to the primary Pink `button`, this will automatically add truncation (ellipsis) after two lines, which I think it the right approach. This also fixes the FAB being pushed outside of

[2021-02-05 01:30] katiebethbrown commented on #45607
Another report (different user) - 26626130-hc

[2021-02-05 01:42] bobmatyas commented on #36274
Reported in #25586965-hc

[2021-02-05 01:56] andrewserong opened #49742 "Starter Page Templates: large iFrame preview is not rendering Google fonts"
### Steps to reproduce the behavior

1. Set your site's theme to one that uses Google Fonts, e.g. Balasana or Dalston
2. Go to add a new page
3. Select any of the page layouts, but the ones under About show the issue clearly
4. The text will be rendered in a system font, instead of the correct Google font

#### What I expected to happen

The preview to render with the theme's Google font

#### Wha

[2021-02-05 02:23] autumnfjeld opened #49743 "New Page Layout Picker: User Flow Acceptance Criteria"
Let's try out some BDD ([Behavior Driven Development](https://cucumber.io/docs/bdd/)) for the Page Layout Feature.  This just means writing acceptance criteria from a user's point of view.
This will be particularly helpful with keeping the Design Goals clear while we iterate over solutions in this early stage.
The final version can be linked to as Testing Instructions for the final  PRs for featur

[2021-02-05 02:33] dlind1 commented on #49636
Several translations in Gutenberg are using 업대이트하기 (see [here](https://translate.wordpress.org/projects/wp-plugins/gutenberg/dev/ko/default/?filters%5Bterm%5D=%EC%97%85%EB%8C%80%EC%9D%B4%ED%8A%B8%ED%95%98%EA%B8%B0&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_login%5D=&filter=Apply+Filters&sort%5Bby%5D=priority&sort%5Bhow%5D=desc))

[2021-02-05 02:48] obenland commented on #49396
Is this related to Nav Unification?

Something similar was also reported in https://github.com/Automattic/wp-calypso/issues/49634 where I tried to do some debugging.

[2021-02-05 02:53] obenland commented on #49442
Thank you for the detailed ticket and screenshots/videos!

[We decided to not port notices and banners to wp-admin in v1](https://github.com/Automattic/wp-calypso/issues/45574#issuecomment-740737681) to keep scope in check. I'm not sure how we can duplicate them without significant code duplication as well :(

[2021-02-05 02:53] obenland commented on #49442
I'm going to close this for now in favor of #45574 later on.

[2021-02-05 02:53] #49442 closed, assigned to nobody

[2021-02-05 02:55] obenland commented on #49631
This is probably closely related to https://github.com/Automattic/wp-calypso/issues/49310. Probably not duplicates but might be fixable with the same solution.

[2021-02-05 03:00] obenland commented on #49313
@getdave This should still be accessible with the toggle, right?

[2021-02-05 03:06] andrewserong commented on #48881
Looking into the issue in the screenshot separately in: 219-gh-Automattic/view-design — although this is specifically to do with the Masonry block, I get the feeling that fixing that display issue in the `template/demo` endpoint will resolve some other related issues.

[2021-02-05 03:08] obenland commented on #49238
Let's add a submenu item on WoA sites that links to `/wp-admin/theme-install.php` to give them the ability to install wp.org themes.

See paYJgx-1lp-p2 + its comments for reference.

[2021-02-05 03:09] mattsherman commented on #49682
For WooCommerce, I think we'd be okay with switching to SVGs, as long as https://github.com/Automattic/wp-calypso/issues/49145 is addressed. Of course, we wouldn't get the correct icons until we released a new version of WooCommerce (or, implemented a workaround in Calypso just to patch things up until it was included in a WooCommerce release), but I think that would be an acceptable limitation fo

[2021-02-05 03:17] sbathompson-he commented on #42056
Same issue with a user today.

This did work though: ```In the case of YouTube, using the shortcode worked, but must be in a Paragraph block, the Shortcode block won't work:
[youtube https://www.youtube.com/watch?v=BK4ftD33FUI]```

27349711-HC

[2021-02-05 04:23] ebinnion commented on #46802
Logging patch here: D56536-code

[2021-02-05 04:33] DavidRothstein opened #49746 "Can't add a domain mapping to the shopping cart on an existing site without a plan"
### Steps to reproduce the behavior

1. Start with an existing site that doesn't have a plan.
2. Go to Upgrades -> Domains -> "Add a domain to this site" -> "Use a domain I own" and try to map a new domain.
3. You get redirected to the Plans page with an empty cart; the domain mapping can't be added.

### What I expected to happen

Although domain mappings aren't allowed on sites without a plan, t

[2021-02-05 04:35] katiebethbrown commented on #48746
One cause of this is when the primary domain is pointed away from WordPress.com. That breaks the Jetpack connection and makes all Calypso settings inaccessible.

We generally resolve this by making the staging domain primary again, which allows us to reconnect so that the settings are accessible.

Could we approach this by detecting when the primary domain is pointed away and automatically falling

[2021-02-05 05:26] worldomonation commented on #18922
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I can still reproduce this issue on WPcom. Self-hosted sites do not share the same user interface.

https://user-images.githubusercontent.com/6549265/106993502-af790580-672f-11eb-961f-fd1f00776c01.mov

There has been no recent activity on this issue. Is there any work scoped to address

[2021-02-05 05:29] worldomonation commented on #17670
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this with Browser: Firefox Nightly 87.0a1 on OS: macOS Big Sur 11.1 (20C69).

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel f

[2021-02-05 05:29] #17670 closed

[2021-02-05 05:34] worldomonation commented on #21695
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not reproduce this issue on WPcom:
![Screen Shot 2021-02-04 at 9 33 24 PM](https://user-images.githubusercontent.com/6549265/106993974-bbb19280-6730-11eb-9d2b-c967710fc062.png)

As there has been no recent activity on this issue, the issue is being closed with the label `Closed -

[2021-02-05 05:34] #21695 closed

[2021-02-05 05:40] worldomonation commented on #20601
This issue is still reproducible, over 3 years later.

See screenshots:
![Screen Shot 2021-02-04 at 9 38 43 PM](https://user-images.githubusercontent.com/6549265/106994352-6f1a8700-6731-11eb-9a99-95c4565d1583.png)
![Screen Shot 2021-02-04 at 9 38 47 PM](https://user-images.githubusercontent.com/6549265/106994353-6fb31d80-6731-11eb-9083-ff1131fedc61.png)

[2021-02-05 05:45] aneeshd16 commented on #49570
Assigning this to myself. 👍

[2021-02-05 05:52] razvanpapadopol commented on #49713
By reading the **Expected behavior** section I understand the suggested solution is to keep showing monthly prices if the previously selected plan (before selecting Free Plan) was monthly. Changing the billing period from monthly to annual without the user explicitly requesting that may be confusing regardless of the jump/placeholder.

[2021-02-05 06:20] worldomonation commented on #18506
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This remains an issue in February 2021:
![Screen Shot 2021-02-04 at 10 19 48 PM](https://user-images.githubusercontent.com/6549265/106997156-3aa9c980-6737-11eb-80a0-c4ac9c9947a7.png)
![Screen Shot 2021-02-04 at 10 20 14 PM](https://user-images.githubusercontent.com/6549265/106997157-3b4

[2021-02-05 06:37] worldomonation commented on #2045
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

In the recent notification system, when marking a comment as Spam the section occupied by the comment notification turns a bright shade of red with large text to `Undo`.

Furthermore, it is possible to manage comments and un-spam it via calypso.

As it does not appear this issue is repr

[2021-02-05 06:40] worldomonation commented on #19356
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

In the current sidebar behavior, post options that slide in when `Publish` is clicked are hidden when publishing.

With that said, I would expect the options to be tweaked prior to the final click on the `Publish` button.

As there has been no recent activity on this issue, the issue is

[2021-02-05 06:40] #19356 closed

[2021-02-05 07:05] aneeshd16 commented on #49570
Thanks for raising this! This bug happens when the user chooses a `<x>.<y>.blog` free domain during signup.
The fix for this will be in 2 parts:
1. Backend: Better handling for these type of domains.
2. Calypso: Better handling of errors.

I'll post an update here when the fixes are ready!

[2021-02-05 07:37] pablinos commented on #41241
Ah yes, I see @shaunandrews updated it. That's a much simpler solution! Thanks all.

[2021-02-05 07:56] akirk commented on #49636
I've pinged the [Korean GTE](https://make.wordpress.org/polyglots/teams/?locale=ko_KR) on Slack and now 업데이트하기 has been approved. The new translation has been deployed but we'll have to wait for the next Calypso deploy for it to go live.

[2021-02-05 08:58] ciampo commented on #49713
Yes, @razvanpapadopol, that is the issue we're wanted to surface — basically, if the free plan is selected in summary view while displaying monthly prices, we should keep displaying monthly prices (instead of jumping to annually).

There won't be a delay necessarily, it's more of a "logic" issue

[2021-02-05 09:06] sirreal commented on #47336
I think this can be closed. We know and understand the underlying issue (one of the block used in the reusable block is disabled) but there are no plans to fix it. That seems acceptable as it's an internal block with minimal usage.

@gamebits Did you get your case sorted out? Replacing the old blocks for the newer ones should make sure you can keep this flow.

[2021-02-05 09:14] cpapazoglou commented on #49396
Definitely

[2021-02-05 09:55] mrfoxtalbot opened #49756 "Nav Unification: Add redirection from options-general.php?page=sharing to /marketing/sharing-buttons/"
The new unificed navigation will show Sharing Settings and Buttons in Calypso, but if we enter the direct wp-admin URL on a simple site (wp-admin/options-general.php?page=sharing), it will return this error:

![Screen Shot on 2021-02-05 at 10:44:45](https://user-images.githubusercontent.com/4452464/107017249-2e595700-679f-11eb-948a-5ba848a4db2a.png)

I tried the same on an AT site and got a differ

[2021-02-05 10:07] aneeshd16 commented on #49570
Fixes are ready!
Calypso: https://github.com/Automattic/wp-calypso/pull/49757
Backend: D56540-code
@dzver Can you please help with reviews here?

[2021-02-05 10:22] cpapazoglou commented on #49731
We certainly have `classic-dark` only now.
@frontdevde does it ring any bells?

[2021-02-05 10:35] cpapazoglou commented on #49615
That's expected. When navigating to a WPAdmin link you can no longer "Switch Sites" like you could in Calypso. Therefore "Browse Sites" which lands you to `https://wordpress.com/home` is more appropriate. Possibly, we will add the "Switch Sites" feature in WPAdmin in a future iteration but it is out of scope currently.

[2021-02-05 10:35] #49615 closed, assigned to nobody

[2021-02-05 10:39] #47049 closed

[2021-02-05 10:39] cpapazoglou commented on #49455
Instead of forcing WPAdmin links for certain sites, I am more in favor of bypassing the `admin-menu` rest api restrictions for superadmins or proxied users ( I am not sure what's the condition ) and let users decide if they prefer the Calypso or WPAdmin links.

This kind of bypass is already happening somewhere in the code and that's why we can access `/wp-admin` of these sites without being membe

[2021-02-05 10:47] cpapazoglou commented on #49453
@sfougnier is there a chance you can weigh in here?

[2021-02-05 10:58] cpapazoglou commented on #49355
Thanks for reporting!

I will leave some notes:

For
![image](https://user-images.githubusercontent.com/12430020/107024552-dcb9c800-67b0-11eb-924c-231a5bb38d23.png)
we should add a `min-height` to `.site__title` in WPAdmin.

The color-scheme issue should be now fixed, can you check again @Sandkorner?

For Hourly Views `/wp-includes/charts/admin-bar-hours-scale-2x.php` gets a 403 error.

[2021-02-05 11:05] cpapazoglou commented on #49568
When the customizer links to WP Admin it should  include a `return` query string
`/wp-admin/customize.php?return=[RETURN_URL]`

[2021-02-05 11:15] lsl commented on #49242
Do the parsers expose classes yet?

I'm thinking this could just be part of pattern translation. But that would need the class extract/replace functionality in the more general patterns code.

---

Your other remarks make me think the right move here is actually just to remove the alignment off the source site. That is, it doesn't make sense to be reversing design/structure (that's what the RTL cs

[2021-02-05 11:41] mmtr commented on #47049
I think there are a couple of things to follow up:
- Images contain English texts. Should we display them to users with a different language set?
- We need to make sure that new users don't get this modal, only existing users.

[2021-02-05 11:45] tjcafferkey commented on #47049
@mmtr yes you're right. I'll be creating separate issues for these to follow up.

[2021-02-05 12:14] lsl commented on #49021
I couldn't repro on a personal site (wp v5.6.1) but I can replicate on the demo page.

I **could** repro on the same site using the Gutenberg plugin v 9.9.0.

Similar situation with chrome (no issue).

OS: linux, theme doesn't seem to matter (see this in p2's as well).

My personal site uses a child theme of Twenty Twenty but Twenty Twenty has the same issue on .com.

**Definitely Gutenberg plugin

[2021-02-05 12:54] simison opened #49764 "Help FAB should show "close" icon when open"
When I open help FAB popover, the icon stays the same:

<img width="395" alt="Screenshot 2021-02-05 at 14 22 50" src="https://user-images.githubusercontent.com/87168/107033488-088f7a80-67be-11eb-90a0-83ac19ac037d.png">

It'd be clearer if it changed to "x" indicating that re-clicking it closes the modal:

<img width="341" alt="Screenshot 2021-02-05 at 14 51 55" src="https://user-images.githubuserc

[2021-02-05 13:03] cpapazoglou commented on #47049
We would need to iterate on the "new users" condition **the day** we actually launch to customers.

[2021-02-05 13:09] davemart-in commented on #47049
I don't think this is necessary. The text in the screenshot is UI based, not informational. User's don't need to be able to read the text within the image to understand what is going on.

[2021-02-05 13:11] gibrown commented on #2045
I was just able to reproduce it. There is an undo button, but if you take to long to read the message then that just disappears. Especially when combined with an errant keypress it is a pretty terrible experience.

[2021-02-05 13:19] mmtr commented on #47049
Right, the rollout will be gradual, so we have to handle that. The modal should show up if the nav unification has been enabled for the current logged user after they signed up.

- For the beta launch that is: is_a11n && registered_date <= January 21, 2021.
- For the first rollout (5% of single site users) that is: site_count == 1 && user_id % 100 < 5 && registered_date <= <first_rollout_date>
- E

[2021-02-05 13:47] rickmgithub commented on #49616
New cases....

Case 1:
#27530403-hc
It worked perfectly for the user but not for me.

Case 2:
#3712146-zd

[2021-02-05 13:50] simison commented on #49735
Layout grid issues could be here instead: https://github.com/Automattic/block-experiments/issues

cc @johngodley @jasmussen

[2021-02-05 13:54] simison commented on #49488
Potentially fixed in https://github.com/Automattic/wp-calypso/pull/49399? (issue https://github.com/Automattic/wp-calypso/issues/46114)

[2021-02-05 14:02] johngodley commented on #42148
This should now be fixed as part of https://github.com/Automattic/block-experiments/pull/161 - the preview dropdown is hidden on mobile, and the grid will display the mobile breakpoint by default.

I'll close this as resolved. If there are remaining problems please create an issue for them [here](https://github.com/Automattic/block-experiments). Thanks!

[2021-02-05 14:02] #42148 closed

[2021-02-05 14:08] ghost commented on #47049
Looks like the modal that accidentally debuted earlier was using the wrong image asset. We should be using these since there's no current plan to implement the visual changes:
[IMG.zip](https://github.com/Automattic/wp-calypso/files/5932960/IMG.zip)

[2021-02-05 14:09] dzver commented on #49570
Good job, @aneeshd16! 🚢

[2021-02-05 14:13] #49328 closed, assigned to yansern

[2021-02-05 14:17] geekinthegirl commented on #49707
One more here: 2607392-hc

But I'll follow up to let them know a fix is on the way.

[2021-02-05 14:18] simison commented on #49628
cc @Automattic/good-mountain  seems like an editor integration issue?

[2021-02-05 14:24] rachelwinspear commented on #49707
Also reported here: #24841148-hc

[2021-02-05 14:39] kingsleyinfo commented on #49707
Also reported here:  21875814-hc

[2021-02-05 14:50] Aurorum commented on #49764
PR for this issue in #49768. :)

[2021-02-05 15:23] sixhours commented on #40870
The last thing on this list is to add the Contact Support button to the top of the page, opposite the page title as we do for My Home and Plugins. This seems like something we need to get approval from Happiness Ambassadors for, because it could increase support load by making the direct contact option more prominent. @jordesign what do you folks think?

[2021-02-05 15:24] klimeryk commented on #49655
@getdave,. thanks for having a look! Yes, I can still reproduce. I've tried originally with Firefox 86.0b6 (Developer Edition), now I've also checked in stable (85.0.1) and Safari (14.0.2) and can trigger it in all.
My screensize might have to do something with it - it's a 13'' MBP (1440x900 Retina).

Happy to jump on a call to show to how I'm reproducing it - the key is to scroll the right (main)

[2021-02-05 15:26] ghost commented on #49453
I think moving to `https://wordpress.com/me` makes the most sense since My Blogs is account-specific and not site-specific. Mocked up in the Me sidebar here:

<img width="1440" alt="Desktop - Me" src="https://user-images.githubusercontent.com/67021691/107053207-90648d00-679c-11eb-8451-30e85f2a9b75.png">

[2021-02-05 15:33] tjcafferkey opened #49770 "Nav Unification: Customer modal image and pagination issues on Safari"
**What**
In Safari the aspect ratio of the image is incorrect and looks stretched (see screenshot below) and the pagination is not visible to the user.

**Acceptance criteria**
* Should the user visit Calypso on Safari (or any other supported browser) and see the customer modal, the images should not appear stretched and have the correct aspect ratio.
* Should the user visit Calypso on Safari mobi

[2021-02-05 15:35] simison commented on #49023
This seems like a theme issue — @scruffian @ianstewart ?

@scruffian please lemme know if I should stop pinging you, and ping someone else/group instead. 😅 (But also thanks for helping to triage these!!)

[2021-02-05 15:36] tjcafferkey opened #49771 "Nav Unification: Customer modal is using incorrect images"
**What**
For the nav unification customer modal, we are using the incorrect images. Please find the correct ones here: [IMG.zip](https://github.com/Automattic/wp-calypso/files/5932960/IMG.zip)

**Acceptance criteria**
* Should the user visit Calypso and see the customer modal. They should see the images in the attached [IMG.zip](https://github.com/Automattic/wp-calypso/files/5932960/IMG.zip) file.

[2021-02-05 15:37] sirreal commented on #49628
I'm able to reproduce the title issue on Simple sites.  Ellipsis in Cover block seems to work fine.

This appears to be Simple-specific.

[2021-02-05 15:47] mmtr commented on #49350
Reopening to denote that the fix for JP/AT sites depends on the next Jetpack 9.4.1 release

[2021-02-05 15:50] benchilcote commented on #49707
Reported here: #8129364-hc
Follow-up #3710890-zen

[2021-02-05 15:58] #49409 closed, assigned to ciampo

[2021-02-05 15:58] #49525 closed, assigned to ciampo

[2021-02-05 16:23] creativecoder commented on #49455
I wonder if that complicates troubleshooting for users, because it gives a different experience for super admins (HEs) compared to users.

---

Also, I wanted to connect that this proposed solution would also resolve this issue here (at least, I think it would?)

paYJgx-1lp-p2#comment-1626

[2021-02-05 16:38] simison commented on #48381
2895 is closed (https://github.com/Automattic/themes/issues/2895#issuecomment-774133421) and will ship next week 🎉

[2021-02-05 16:51] scruffian commented on #49023
Happy to keep triaging!

I've added it to the board.

[2021-02-05 16:54] kcswong commented on #49707
Reported: 27536286-hc
Follow-up: 3715480-zen

[2021-02-05 17:02] vindl commented on #49717
The first issue with two headers was solved by changing the title of Footer template part to the default value (it was edited to "Header" by mistake).

The second was which caused the footer to always be loaded for editing was solved in D56520-code by @Addison-Stavlo.

[2021-02-05 17:02] #49717 closed, assigned to vindl, Copons, Addison-Stavlo

[2021-02-05 17:12] scruffian commented on #48973
I think I just fixed this with D56369-code

[2021-02-05 17:33] Sandkorner commented on #49355
Both of these issues seem to be fixed as much as I can see on my end. Well done!

[2021-02-05 17:41] vindl commented on #48973
@scruffian @mattwiebe I just tested this with 9.9 on Dotcom and it appears to be working fine now.

[2021-02-05 17:41] #48973 closed, assigned to mattwiebe

[2021-02-05 17:42] obenland commented on #46802
Thank you!

[2021-02-05 17:59] obenland commented on #49455
That's a good point. Extending the check to include `is_a8c()` should help with that?

[2021-02-05 18:11] razvanpapadopol opened #49775 "Cleanup ETK fallback translations (ongoing)"
When new translations are ready, clean-up fallbacks. For each PR:
1. Check if PR translations have successfully landed in Calypso & ETK (check both, as they rely on 2 separate databases)
2. Create a cleanup PR which removes the `hasTranslation` check (+ the fallback translation)

* For some of the PRs below, there were no fallback translations so by cleaning up `hasTranslation` check we're actuall

[2021-02-05 18:33] sirreal commented on #49673
Filed https://github.com/WordPress/gutenberg/pull/28796 for upstream fix.
Simple hotfix: r220611-wpcom

[2021-02-05 18:50] vindl opened #49776 "Nav Unification: Site Editor is no longer pointing to Calypso"
Prior to Nav Unification, the Site Editor menu item in Calypso's sidebar was linking to `/site-editor` route. After the switch this has changed to `wp-admin` link, which circumvents our Calypso integration.

For context here is the Calypso code were we previously introduced that button: https://github.com/Automattic/wp-calypso/blob/3cb4af1850a6b3c7b24b6fe13801ef00930b3984/client/my-sites/sidebar/i

[2021-02-05 18:59] jeyip commented on #48145
@ianstewart template parts should be loading again on FSE enabled sites for seedlet-blocks and tt1-blocks themes

[2021-02-05 19:04] vindl commented on #48145
Closing this since it works for both themes now.

[2021-02-05 19:04] #48145 closed, assigned to jeyip

[2021-02-05 19:27] gamebits commented on #47336
I suppose, though I would check if the lack of failing gracefully is also occurring in the other issue I just linked to.

[2021-02-05 19:27] #47336 closed

[2021-02-05 19:45] sirbrillig commented on #49746
It's not clear from the name but the intent of `is_update` was to differentiate between cases when a cart is being modified during checkout and when it's being modified outside of checkout, specifically to fix one use case with the shopping-cart endpoint. First let me describe the bug as it existed.

Remember that the shopping-cart endpoint has no concept of "adding" or "removing" products; when y

[2021-02-05 20:02] tbradsha commented on #49707
Chat: 27065396-hc
Ticket: 3715924-zen

Edit: notified user that it's working again.

[2021-02-05 20:05] #48504 closed

[2021-02-05 20:17] ianstewart commented on #49375
View + Create. I've updated the source site for this here but we'll need a deploy to update wp.com/new so I'll move this to the Create Maintenance board for now as they've been helping out with that.

cc @simison and @apeatling as we've been talking about using our Patterns Toolkit to the deploys here a bit more and for automated updates to the source site for when blocks get outdated.

[2021-02-05 20:40] noahtallen commented on #49628
Similar, but only related to titles: https://github.com/WordPress/gutenberg/issues/20490

[2021-02-05 21:49] michaeldcain commented on #48894
@paulbonahora: is this something that y'all would want to prioritize? Specifically [the bug from David's comment](https://github.com/Automattic/wp-calypso/issues/48894#issuecomment-766932486)

[2021-02-05 21:54] davipontesblog commented on #17191
We haven't had any reports since Jul 20, 2019. Since much work has been put into our importers since that date, I will close this for now. Please reopen if needed.

[2021-02-05 21:57] supernovia opened #49779 "Nav Unification: New menu overlaps part of wp-admin in RTL"
### Steps to reproduce the behavior

1. Set interface to RTL
2. Go to wp-admin
3. Note part of the interface is covered by the menu

#### What I expected to happen
Menu should adjust from LTR to RTL so it doesn't overlap wp-admin

#### What actually happened
It overlaps

### Context
A user complained in the forum (we can follow up here too.)
https://wordpress.com/forums/topic/help-please-the-inter

[2021-02-05 22:04] joanrho commented on #49706
+1 swapping the order and also removing it as a task from the Customer Home checklist, unless users have more than one page (they wouldn't need a menu for a single page site, but they might need one if they have at least two published pages).

[2021-02-05 22:23] gravityrail opened #49781 "Submitted comments strip all line feeds / formatting"
### Steps to reproduce the behavior

1. Go to a blog post in the reader
2. Create a comment with line feeds, dash-bulleted lists, etc.
3. Submit the comment

#### What I expected to happen

My formatting to be preserved

#### What actually happened

All line-feeds are stripped. Reloading the page then shows the proper formatting.

### Context

#### Browser / OS version

Chrome 88 on macOS 11.1

[2021-02-05 22:43] noahtallen commented on #49707
We've merged a fix for this and are planning to deploy it on Monday.

[2021-02-05 22:54] dhackneya8c commented on #45663
I have another report of this issue - #27542495-hc

User is trying to login from the premium content block and being looped around with no content displaying once they go through the log in screen.

[2021-02-05 22:56] sirbrillig commented on #49746
I think I understand the logic now and D56590-code should fix the problem.

[2021-02-05 23:17] mrfoxtalbot opened #49783 "Nav Unification Welcome Screen: Show users how to toggle between Calypso and wp-admin screens"
Aside from the initial confusion caused by menu items being moved around, the first thing experienced users will think will be "_hang on, if there is just one single menu, how do I access wp-admin features such as the classic listing posts, the classic editor... etc?_".

<img width="812" alt="Screen Shot 2021-02-05 at 18 30 50" src="https://user-images.githubusercontent.com/4452464/107098851-8a0ff

[2021-02-06 05:39] joweber123 opened #49788 "Layout block: Hyphens Mobile Safari"
### Steps to reproduce the behavior

1. Add a Layout Block to a page.
2. Inside of this block, add a heading block with a long text.  Here is an example - "My name is James and I am a Happiness Engineer at Automattic."
3. Publish the page a view it in Safari on mobile.

#### What I expected to happen
On other mobile browsers, words are breaking with no hyphens.

#### What actually happened
In Safa

[2021-02-06 05:41] allanftd commented on #49616
Hi there,

One new case today:
3713781-zd - Cover block image is ok on live site but appearing as black box on the editor. Site theme is Sequential.

Thanks!

[2021-02-06 07:53] #47646 closed, assigned to nobody

[2021-02-06 09:41] davipontesblog commented on #36274
May be related to https://github.com/Automattic/wp-calypso/issues/49007

[2021-02-06 09:47] ahmadbaig1 commented on #46808
I'm sorry I missed noting it down, it should be Twenty Twenty or Hever as per my blog RC.

[2021-02-06 10:30] kmrpankaj commented on #49707
Also reported here 3713858-zen

[2021-02-06 12:36] aidvu commented on #48746
This is kinda hard, but doable. I'll let @klimeryk chime in if we have anything currently for similar situations.

Another way would be to stop tying specific upgrades like domains to a site. :) Did we ever go ahead and make that single domains page Igor?

[2021-02-06 14:02] mrfoxtalbot opened #49789 "Nav unification regression: Posts, Pages, Portfolios, Testimonials & Media show wp-admin styles"
There seems to be a regression in the way listings are showing. I am not sure if I am the only one getting this but wp-admin post/media styles seem to be showing across the board, instead of the equivalent Calypso ones:

![regression](https://user-images.githubusercontent.com/4452464/107120157-3ba03f80-688c-11eb-9f8f-85436fa685c9.gif)

Related https://github.com/Automattic/jetpack/issues/18304

[2021-02-06 15:23] michaeldcain commented on #10742
Just for context (and mostly some existing design work), bulk editing of posts was partially implemented in #18761 before the team was re-assigned. It was just removed in #45210. See: p8F9tW-fx-p2

Filippo also mocked up some updated bulk editing designs for the Purchases Management project. See: pbOQVh-oS-p2

https://cloudup.com/iZdXR-pV63m

[2021-02-06 15:29] #49789 closed, assigned to nobody

[2021-02-06 16:02] simison opened #49790 "Nav unification: P2 has "P2 editor" in the sidebar"
- Have a **non-a8c P2**, logged in with a8c user.
- In navigation, see "p2 editor"
    ![image](https://user-images.githubusercontent.com/87168/107123274-4ca97a80-68a5-11eb-93ca-888429c747c0.png)
- The link doesn't work :-( Tries to open `?site=p2editor`

cc @Automattic/lighthouse

[2021-02-06 16:04] zdenys opened #49791 "Editor: Right sidebar has horizontal scroll bar if browser window height is 768 px or less"
### Steps to reproduce the behavior

1. Use the latest version of Firefox browser
2. Open the Editor and make sure the right sidebar is open
3. Resize the height to 768px or less
4. See the horizontal scroll bar appear
![](https://d.pr/i/GwfQI7+)
_Link: https://d.pr/i/GwfQI7_

#### What I expected to happen
No horizontal scroll bar should appear

#### What actually happened
Horizonal scroll bar ap

[2021-02-06 16:10] lymarsh opened #49792 "Classic Editor toolbar does not remain sticky in Firefox"
User reports in ZenDesk ticket# 3711096 that when using the Classic Editor in Firefox, the toolbar doesn't remain sticky at the top when scrolling down on the post editor.

* User has and updated browser, cleared cache, cookies, rebooted, disabled browser addons but continues to have the issue.
* User tested on .com and .org - while .com continues to have the issue, .org is working as expected.
*

[2021-02-06 16:13] jartes opened #49793 "Nav Unification: wp-admin bar not displayed on small devices"
### Steps to reproduce the behavior

1. Open developer tools and simulate a mobile device (or resize the browser window).
2. On the Calypso home page, go to Plugins.
2. Check the top toolbar.

#### What I expected to happen

See the top toolbar to be able to click on the W logo and see the main menu.

#### What actually happened

The admin bar is hidden by some CSS.

#### Browser / OS version

Chr

[2021-02-06 16:16] zdenys commented on #48611
Came to report the same as I was willing to suggest [Blog Posts Block](https://wordpress.com/support/wordpress-editor/blocks/blog-posts-block/) as an alternative to this: [Show your Posts in Chronological Order](https://wordpress.com/support/show-your-posts-in-chronological-order/) but could not.

3716062-zen

[2021-02-06 16:27] jartes opened #49794 "Coming Soon: WooCommerce Store notice displayed"
### Steps to reproduce the behavior

1. On an Atomic site, enable the WooCommerce store notice ([steps to enable it here](https://docs.woocommerce.com/document/woocommerce-customizer/))
2. Set the site to Private (Manage > Settings).
3. Visit the site not logged in.
4. Check the Coming Soon page and see that the store notice is displayed.

#### What I expected to happen

The store notice should be

[2021-02-06 16:42] benchilcote commented on #49707
Reported 3712700-zen

[2021-02-06 18:48] eoinsav commented on #49707
3715621-zen

[2021-02-06 18:50] ezebecke opened #59396 "Atomic sites: Global Styles missing with some themes"
## Summary

Twenty Twenty-One has no option to change Global Styles. If we have changed the custom font while using a different block based theme, and now we want to change the font to the default theme font we need to change the theme, reset the font to default, and change our theme back to Twenty Twenty-One.

UPDATE: This issue is limited to Atomic Sites.

## Steps to replicate

1- Go to any pag

[2021-02-06 19:14] wpshellbelle opened #49795 "Earn Block: Stripe disconnected and paying subscribers missing after upgrading to the eCommerce plan"
We have ran into this issue a couple of times now where a customer runs into problems with the Premium Content Block (payments via Stripe) after upgrading to the eCommerce plan. In both instances that I know of, users were using the Premium Content blocks on the Premium plan. When they upgraded to eCommerce plan, Stripe is no longer connected and they can’t see their subscribers and it prompts the

[2021-02-06 22:30] wpshellbelle commented on #45881
Another in Chrome: 27561943-hc

[2021-02-07 01:41] serabi commented on #49616
User replied on 3712146-zd and the issue is resolved.

[2021-02-07 03:44] TravisH84 commented on #40376
Hello,

For what its worth I am also experiencing this bug on Windows 10, Wordpress 5.6.1, Jetpack V9.4, Wordpress.com desktop app 6.8.0. I am not sure it is entirely related to Classic Editor (although could be wrong), but I have the same consistent issue when using the Wordpress.com Desktop app it opens the post in a new browser window, but also in the app as a browser window like your image abo

[2021-02-07 10:48] jenlynnemc commented on #49707
Reported here 3719221-zen

[2021-02-07 11:28] ahmadbaig1 opened #49796 "Earn Block: Stripe Payments block, unable to select the payment plan if there's only one payment plan added."
### Steps to reproduce the behavior

1. One a new site, add the payments block, connect to Stripe (I set up the account right there).
2. Complete the Stripe process, create a new payment plan on Calypso Tools> Earn> Manage Payments.
3. The payment plan should be for a one-time payment.
4. Add the payment block to the page/post, try to select the only available plan.

#### What I expected to happen

[2021-02-07 14:25] Nic-Sevic commented on #48287
Same happening for me still
to add context, this happens only when there is a lot of CSS added, generally more than 200 lines

[2021-02-07 14:40] Nic-Sevic opened #49797 "Premium content block: add border for clarity"
### What
Seeing numerous reports of users having trouble adding content to the Premium Content block. It seems like it would be helpful to have a border around where content is supposed to go within the block to make it clear what content will be placed behind the paywall.

### Why
Users are having a hard time telling when content is added after the block vs inside it. This is because there is no

[2021-02-07 14:48] rachelwinspear commented on #48319
Another report, user is not able to edit pages and posts within the app, they get sent to a browser.
Simple site, no plugins.
3718543-zen

[2021-02-07 15:29] ahmadbaig1 commented on #48597
Reported here as well #3718019-zd .

[2021-02-07 15:35] xpurichan commented on #49729
Another report in 3717620-zd.

[2021-02-07 16:44] kriskarkoski commented on #49007
3719126-zen had this issue on 3 blocks

[2021-02-07 19:25] katiebethbrown commented on #49643
Sure. I just checked and I'm still seeing the issue on my simple site, and yes, it has a custom domain as primary.

I checked the console again and there are also warnings about mixed/insecure content related to the stats graph:

<img width="1382" alt="XaCLxC" src="https://user-images.githubusercontent.com/42279181/107157059-37812a00-693f-11eb-8f7b-4e72d74bdc11.png">

```Loading mixed (insecure) d

[2021-02-07 19:27] klimeryk commented on #48746
@aidvu, yes and no: https://wordpress.com/domains/manage
It's still being pulled from mapping records, AFAIK. So needs to be tied to a site. And there could be some checks on the backed to filter out Jetpack sites. But I'm sure that can be tweaked as needed. Let me know if you want to pair on this, but the code is in the usual place :)

Hmmm, I'm afraid not 🤔 But! We could add a Domain Medic check

[2021-02-07 20:42] kwight opened #49798 "Sharing: Twitter custom message is not respected."
If a custom message is entered for Twitter sharing before publishing a post, the tweet it produces will not have the custom message. Instead, the resulting text will match the post title.

| Custom Message | Result |
| --- | --- |
<img width="295" alt="Screen Shot 2021-02-07 at 12 38 32 PM" src="https://user-images.githubusercontent.com/349751/107158925-d6a72100-6941-11eb-8344-9d076d651265.png"> |

[2021-02-08 00:53] andrewserong commented on #49242
Not really, there are a couple of parsers that search for a class in the DOM to make sure they're updating the correct node, but we're not updating any class names yet. I think we'd also want to be pretty careful if we wind up replacing things in class names due to how frequently they seem to change / get deprecated for particular blocks. Fortunately, we seem to have managed pretty well so far wit

[2021-02-08 01:16] kaitohm opened #49800 "Some Brompton colors can be adjusted on Simple, but not Atomic sites"
### Steps to reproduce the behavior

1. Apply Brompton theme to simple site
2. Go to WordPress.com > My Sites > Design > Customize > Colors and Backgrounds
3. Confirm how color changes also apply to header and footer areas

Screen recording: https://d.pr/i/O4njIW

Do the same on an Atomic site, and notice the colors of the header and footer do not change

Screen recording: https://d.pr/i/ZdZilz

#

[2021-02-08 02:08] kaitohm commented on #49707
Another case here: 3717490-zd-woothemes (report pbEMJv-x8-p2)

[2021-02-08 02:31] becdetat opened #49802 "Store | Woo: Remove review count after store removal"
Similar to #48958 the reviews entry shows a count overlay which should be removed after store removal.

![image](https://user-images.githubusercontent.com/224531/107169293-416f5f80-6a09-11eb-9ac8-c24d30749d43.png)

[2021-02-08 03:10] jordesign commented on #40870
Thanks for the consideration @sixhours - It's probably something for me to flag with HappOps. I'll let them know.

[2021-02-08 04:13] ramonjd commented on #49316
I just noticed this bug too ¡Dios mio! It also affects [Romanian](https://translate.wordpress.org/projects/wp-plugins/jetpack/stable/ro/default/?filters[term]=Comments+%25s&filters[term_scope]=scope_any&filters[status]=current_or_waiting_or_fuzzy_or_untranslated&filters[user_login]=&filter=Apply+Filters&sort[by]=priority&sort[how]=desc).

It will affect all translations that have the string marker

[2021-02-08 04:18] ramonjd commented on #48141
I think we've settled this in https://github.com/Automattic/wp-calypso/pull/48979

[2021-02-08 04:18] #48141 closed, assigned to nobody

[2021-02-08 04:42] becdetat commented on #49432
per https://github.com/Automattic/wp-calypso/issues/49273#issuecomment-770601150

[2021-02-08 05:01] autumnfjeld commented on #49240
FYI: @joanrho and I are working on [user facing acceptance criteria ](https://github.com/Automattic/wp-calypso/issues/49743)that will help keep us on track for a single source of truth of user experience. And bonus, this issue can be linked to for pre-prod release testing criteria.

[2021-02-08 05:04] autumnfjeld commented on #49743
Thanks for the edits @joanrho I'll show this off to the team in this week's planning session!

[2021-02-08 06:27] #49570 closed, assigned to aneeshd16

[2021-02-08 07:15] ahmadbaig1 commented on #49707
Reported here as well- 3719525-zen
I've let them know this should be fixed by tomorrow.

[2021-02-08 08:24] ciampo commented on #47576
By looking at the code, we have an explicit check to use "Free" or "Default" depending on the domain picker variation.

In the summary view, we use the "individual-item" variation, while in the domain details view we use another variation — i assume this was done to respect the design spec. @razvanpapadopol  Probably better to leave it as it is, for the purpose of this issue?

[2021-02-08 08:33] Nic-Sevic commented on #48316
another public but not launched:
3720706-zen

[2021-02-08 08:51] poojashetty18 commented on #49707
Chat: 13838899-hc
Ticket: 3721491-zen

[2021-02-08 09:29] simison commented on #43532
This was reverted in https://github.com/Automattic/wp-calypso/pull/49683

[2021-02-08 09:45] Nic-Sevic commented on #49624
Additional report here but appears solved now; on Gutenberg 9.8.4:
3704809-zen

[2021-02-08 10:00] simison opened #49815 "Focused launch: sub-domain description text cuts mid-word"
On domain search, the text can cut out mid-words:

<img width="1044" alt="Screenshot 2021-02-08 at 11 56 56" src="https://user-images.githubusercontent.com/87168/107204142-ff441f00-6a04-11eb-9cc5-50f8a538b7b8.png">

![image](https://user-images.githubusercontent.com/87168/107204319-34507180-6a05-11eb-8a11-29382b08d135.png)

It's because of `word-break: break-all;` likely meant for domain names onl

[2021-02-08 10:03] simison opened #49816 "Domain Picker: "more domains" focuses button from middle of the list"
When in focused launch, and opening more domains:

<img width="926" alt="Screenshot 2021-02-08 at 12 02 27" src="https://user-images.githubusercontent.com/87168/107204693-a3c66100-6a05-11eb-8446-466a4c730444.png">

One of the buttons in the middle of the list becomes focused:

<img width="890" alt="Screenshot 2021-02-08 at 12 02 39" src="https://user-images.githubusercontent.com/87168/107204713-aa

[2021-02-08 10:05] simison opened #49817 "Focused launch: free sub-domain cuts to 2nd line too early"
Free default domain cuts half-through too early, while there would be enough space for it in one row:

<img width="657" alt="Screenshot 2021-02-08 at 11 56 09" src="https://user-images.githubusercontent.com/87168/107204890-e38d4880-6a05-11eb-9a5a-3dfc6a9ec231.png">

Using Chrome.

[2021-02-08 10:08] simison opened #49818 "Focused launch: unclear how to go back from plans/domains modal"
When in focused launch and opening plans- or domains modals, and then scrolling down, it's unclear how to go back:

![image](https://user-images.githubusercontent.com/87168/107205197-3cf57780-6a06-11eb-84a6-9eccdb540274.png)

<img width="1469" alt="Screenshot 2021-02-08 at 11 55 41" src="https://user-images.githubusercontent.com/87168/107205220-4252c200-6a06-11eb-986b-294b0b9889f7.png">

<img widt

[2021-02-08 10:16] ollierozdarz commented on #49818
Great pickup, @simison. Fixing '< Go Back' to the header could be the optimal solution here. Unsure about hiding the X as it leaves no exit point at all (probably good to keep users in, bad for overall UX). Go Back in header may solve it completely.

[2021-02-08 10:36] #49252 closed, assigned to ciampo

[2021-02-08 10:56] carinapilar opened #49821 "Nav Unification: Calypso Loading Speed"
### Summary
With Nav Unification available to A12s, it's easier to spot where it impacts our workflows. For example, we have P2s that have thousand of posts, I used to open WP-Admin to access the Posts page, to work on a new/draft post, and now it's redirecting me to Calypso. I would be worried with Calypso's performance issues, one of the P2s I opened took almost 30 seconds to load the Drafts (it

[2021-02-08 11:07] getdave commented on #49776
Thanks for flagging.

Essentially we now build the Calypso menu based on the admin menu generated by WPAdmin. The only thing is we customise the WPAdmin menu on a per-env basis to include particular links we need for WPCom.

Therefore you could use the established core methods to register your own admin menu item and it will be pulled over to Calypso. However, it would need to happen before Jetpac

[2021-02-08 11:36] tyxla commented on #48405
I'm gonna take a stab at this one.

[2021-02-08 11:50] getdave commented on #49435
@nsakaimbo Were you able to have a moment to confirm this?

[2021-02-08 11:51] razvanpapadopol commented on #49816
It makes sense to focus on the first of the newly added items if:
- the user pressed _View more results_ button using the keyboard
or
- the previously focused item was the last item before expanding suggestions (which is usually happening in the scenario above)

If clicking on the _View more results_ button I guess we should focus on the 1st item on the list or on the list itself 🤷🏼

The initial i

[2021-02-08 11:51] mmtr commented on #49120
Reopening to denote this is part of Jetpack 9.4.1 which is unreleased yet.

[2021-02-08 11:54] tjcafferkey opened #49824 "Nav Unification: Customer modal rendering in incorrect scenarios"
**What**
The nav unification customer modal appears to be rendering in scenarios that either are not appropriate or that do not display the nav unification change to the customer meaning they have no context of the modals purpose.

Context found here p58i-9Yg-p2

**Why**
We want the modal to only appear when the unified navigation does otherwise the user will have no context to the changes being a

[2021-02-08 12:07] mmtr commented on #49821
Thanks for the report, @carinapilar!

While this is not a problem caused by Nav Unification, it indeed makes more prominent that Calypso has some performance issues when loading posts that should be addressed.

In the meantime, you can still access the WP Admin pages by typing directly the URL in the browser (e.g. `/wp-admin/edit.php`).

You can also enable a setting in https://wordpress.com/me/ac

[2021-02-08 12:10] mmtr commented on #49790
@Automattic/lighthouse should that link have any restriction? When I worked on D55069-code I had the impression that the menu should be always enabled on P2 sites?

[2021-02-08 12:11] mmtr commented on #49783
cc @sfougnier

[2021-02-08 12:14] lamosty commented on #49790
What should be that page doing?

[2021-02-08 12:18] mmtr commented on #49779
https://wordpress.com/forums/topic/help-please-the-interface-covers-both-sides/

Are you sure this is caused by Nav Unification? The feature is currently only enabled for a12s, so I wonder if the user is experiencing a different issue.

I have confirmed though that the unified menu have issues on WP Admin links when using a RTL language such as Hebrew:

New unified menu in Calypso | New unified me

[2021-02-08 12:22] mmtr commented on #49127
This should be fixed now that Jetpack 9.4 is out.

[2021-02-08 12:22] #49127 closed, assigned to nobody

[2021-02-08 12:36] razvanpapadopol commented on #46839
The experiment was reviewed in p1612385166024600-slack-C7HH3V5AS and it's implemented in D56270-code

[2021-02-08 12:36] #46839 closed

[2021-02-08 12:40] evilluendas commented on #49790
It's for P2 Pattern management, which should be accessible by at least Admins and Editors in P2s, but I'm not 100% sure they're already active in non-a8c sites.

[2021-02-08 12:59] aidvu commented on #48746
This might be a nice idea to unblock HEs for such sites. Can do some pairing this week!

I was also thinking whether this is replacing one problem for another. I think either a "quick" fix to show all domains regardless of the Jetpack connection state, or fixing the connections somehow is better.

[2021-02-08 13:26] tyxla commented on #48405
I've gone with a simplistic approach in #49825.

[2021-02-08 13:34] kristenzuck commented on #40870
Hi @sixhours! @jordesign reached out to HappOps[ in Slack about this change](p1612753990070400-slack-CPJE78JQ5). We are all for making it easier for our customers to contact us :) That said, a couple questions for our planning:

1) Do you have an ETA of when you'd like to make this change? Wednesday launches are always best when possible for coverage reasons if there is an influx, but not required

[2021-02-08 13:51] mmtr commented on #49591
This will be solved by https://github.com/Automattic/wp-calypso/pull/49760

[2021-02-08 13:56] simison commented on #49790
Just to clarify that I had non-a8c P2, but logged in as a8c user.

[2021-02-08 14:15] #48381 closed, assigned to nobody

[2021-02-08 14:29] sixhours commented on #40870
No ETA at this point, just putting out feelers, so to speak. :)

I don't see why not. @lcollette @sfougnier any thoughts? Implementing this behind a feature flag for a subset of users for a few weeks to gauge impact seems like a good idea to me.

Yes indeed! I'll make sure there are Tracks events on the button.

[2021-02-08 14:32] kriskarkoski commented on #46330
Closing as a duplicate of https://github.com/Automattic/wp-calypso/issues/45085

[2021-02-08 14:32] #46330 closed

[2021-02-08 14:35] frontdevde opened #49826 "Nav Unification: address wp-admin side of WPCom Internal Color Palette update"
In https://github.com/Automattic/wp-calypso/pull/49489 @porada updates Color Studio to the latest version. This version brings with it color tweaks to the Blue that is used by some color schemes (see https://github.com/Automattic/color-studio/pull/37). For full context see p9Jlb4-28F-p2.

We need to update the wp-admin side as well to make use of Color Studio so this and future updates will make i

[2021-02-08 14:53] Aurorum commented on #47049
PR in #49827 to update those image assets. :)

[2021-02-08 14:53] Aurorum commented on #49771
PR for this issue in #49827! :>

[2021-02-08 14:55] #49764 closed, assigned to nobody

[2021-02-08 15:44] kristenzuck commented on #40870
Sounds great! Just keep HappOps posted as things develop then!

[2021-02-08 15:53] kriskarkoski opened #49830 ""WP Admin equivalents" setting not respected for widgets and menus"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account
2. Ensure the "Replace all dashboard pages with WP Admin equivalents when possible." setting is enabled
3. Open a site in Calypso or WP Admin
4. Note the links still point to Customizer such as Widgets and Menus (it may impact more links, but these are the two I immediately noticed)

#### What I expected to happen

Widg

[2021-02-08 15:54] dcalhoun commented on #49610
This no longer appears to occur. Closing this issue until it resurfaces.

[2021-02-08 15:54] #49610 closed, assigned to nobody

[2021-02-08 15:55] getdave commented on #49177
@obenland Can you and I triage this one please?

[2021-02-08 15:57] kriskarkoski opened #49831 "Gravatar hovercard opening on hover from account gravatar in admin bar"
### Steps to reproduce the behavior

1. Go to WP Admin
2. Hover over Gravatar at the top-right
3. Note a Gravatar hovercard appears

#### What I expected to happen

The gravatar to reflect the hover state indicating it's a link to wordpress.com/me, but not open the hovercard.

#### What actually happened

A gravatar hovercard opens

#### Browser / OS version

Chrome 87.0.4280.141, OS X

#### Does

[2021-02-08 16:03] TeniCola commented on #49707
Another report, 27578067-hc

[2021-02-08 16:08] obenland commented on #49177
I think High is appropriate, probably one of the first issues that should be looked at post launch.

[2021-02-08 16:36] happychait commented on #36274
5631180-hc

[2021-02-08 16:36] cathymcbride commented on #48287
So, yes. this appears to be a duplicate of #26287. Closing...

[2021-02-08 16:36] #48287 closed, assigned to nobody

[2021-02-08 16:38] cathymcbride commented on #36274
@davipontesblog perhaps? But this issue is quite a bit older.

[2021-02-08 16:50] cathymcbride commented on #49798
Closing as duplicate of https://github.com/Automattic/jetpack/issues/40663

[2021-02-08 16:50] #49798 closed, assigned to nobody

[2021-02-08 16:51] davipontesblog commented on #36274
Sorry, I referenced the wrong issue, just noticed this.

[2021-02-08 17:26] carinapilar commented on #49007
Another one on 27460617-hc with 2 Reusable blocks.

[2021-02-08 17:34] ianstewart opened #49836 "eCommerce: WordPress Dashboard link in WooCommerce screen links to wp-admin"
### Steps to reproduce the behavior

1. Create a site with the eCommerce Plan
2. Navigate to `/wp-admin/admin.php?page=wc-admin`
3. Click on WordPress dashboard link in sidebar

#### What I expected to happen

1.  The link would say "WordPress Home".
2. The link would lead to `wordpress.com/home`

[2021-02-08 17:44] cathymcbride commented on #46254
Closing based on the above.

[2021-02-08 17:44] #46254 closed

[2021-02-08 17:48] iandunn commented on #47659
I think @dd32 tracked it down to a bug w/ remote login, so it's not just a cookie issue? It happens to me constantly in regular (non-Incognito) windows.

It sounds like a lot of a12s are experiencing it too, xref `slack/archives/C025Q5RK2/p1611879396118300`.

[2021-02-08 17:50] cathymcbride commented on #45762
No further reports and I'm not reproing. Closing.

[2021-02-08 17:50] #45762 closed

[2021-02-08 17:51] #43627 closed

[2021-02-08 18:04] cathymcbride commented on #20533
No movement on this for several years. Closing...

[2021-02-08 18:04] #20533 closed

[2021-02-08 18:07] cathymcbride commented on #19579
no repro - closing

[2021-02-08 18:07] #19579 closed

[2021-02-08 18:24] razvanpapadopol commented on #47576
keeping this open until the translations are actually showing up
details: p1612799810346300/1612777345.329400-slack-C0KDTA48Y

[2021-02-08 18:58] evilluendas commented on #49790
As per @johngodley

In any case, I can definitely replicate: the `P2 Editor` link in the unified navigation in Calypso does nothing, but it should point to `wp-admin/edit.php?post_type=p2_pattern`. It does work if I'm in wp-admin though!

[2021-02-08 19:02] #38788 closed

[2021-02-08 19:12] noahtallen commented on #49707
This should be resolved in production now, thanks for your patience!

[2021-02-08 19:12] #49707 closed, assigned to jeffersonrabb, dkoo

[2021-02-08 19:16] simison commented on #43715
Note that coming soon mode is public by default now.

After launching customers can of course set site private, so perhaps this is a generic "private site" issue?

[2021-02-08 19:17] worldomonation opened #49838 "Gutenboarding: Start your website > Skip for now button outline is cut off in Safari under <100% zoom levels"
### Steps to reproduce the behavior

Prereq. Use Safari.

1. Go to My Site.
2. Click on Add Site.
3. When met with Gutenboarding and prompted to enter site name, reduce zoom level of browser to 90%.

#### What I expected to happen
All four sides of the outline of the `Skip for now` button remains visible.

#### What actually happened
Depending on the zoom level, outline of the button is not render

[2021-02-08 19:26] xpurichan opened #49839 "Publicize: Posts duplicated to Facebook"
### Summary

Customer reports that their blog posts are being shared to Facebook twice. Previously they did have duplicated connections from different WordPress.com accounts to their one Facebook page, but now they only have one and the issue continues.

I have confirmed that they only have one account connecting Publicize to Facebook, and I've checked the Publicize logs for clues. I still can't f

[2021-02-08 19:29] carinapilar opened #49840 "FSE Plugin: Preventing Youtube Videos to Load"
### Summary
When you add a Youtube video on the Video widget, it’s not loading the video on pages/posts with the Blog Posts block.

### Steps to reproduce the behavior

1. Add a Video widget with a Youtube video
2. Make sure the full-site-editing plugin is active, and add a Blog Posts block to a page or post
3. Check your site to see if the video loads on the page or post (or on the the home page

[2021-02-08 19:54] worldomonation opened #49842 "Domain: overflowing text inside post-purchase detail box"
### Steps to reproduce the behavior

Prereq. enable sandbox if not willing to use real card.

1. Create a free site with long domain name (eg. `superlongdomainnamethatisrealisticallyunfeasible`)
2. Go to My Sites > Upgrades > Domains.
3. Click on button labelled `Add a domain to this site`.
4. Enter some domain name to purchase.
5. Proceed through the checkout process.
6. Once purchase goes throug

[2021-02-08 20:09] amamujee opened #49843 "Slideshow block not appearing on P2 Post"
https://wp.me/p58i-9Zs

For this post, I had a slideshow block, but when I published the post it appeared as a blank image.
<img width="688" alt="Screen Shot 2021-02-08 at 3 04 03 PM" src="https://user-images.githubusercontent.com/1103209/107275352-a1710080-6a1f-11eb-9c3d-fb2421574ba3.png">

<img width="728" alt="Screen Shot 2021-02-08 at 3 03 51 PM" src="https://user-images.githubusercontent.com/

[2021-02-08 20:29] khristiansnyder commented on #36274
Had a user run into this when trying to save a draft today: #10661951-hc

[2021-02-08 21:04] chad1008 commented on #48977
I've gone ahead and closed the ticket related to this: 3642413-zen

Stats have looked normal since the original report. I'll leave the GH issue open in case it warrants further investigation, but unless noted otherwise, we're all set on the Happiness front.

[2021-02-08 22:15] worldomonation opened #49847 "Nav Unification: clicking on My Sites does not take user back to home dashboard"
Note: filing this under bug, but if this is expected updated behavior, please close.

### Steps to reproduce the behavior

1. Go to Dashboard.
2. Click on Nav SIdebar > Appearance > Themes.
3. Click on a theme.
4. Once in the theme details page, click on the `My Sites` at top left.

#### What I expected to happen
User is taken back to `My Home` dashboard (as it currently does in customer-facing ca

[2021-02-08 22:18] xpurichan commented on #34404
I have tested the behaviour for adding the Pay with Paypal block (formerly called Simple Payments) to a WordPress.com website with a free plan. I am able to add the block, but I get a prompt stating "Upgrade your plan to use this premium block" as seen here:

![Screen Shot 2021-02-08 at 5 16 46 PM](https://user-images.githubusercontent.com/33190975/107288495-27de1000-6a29-11eb-8327-a73b14b5362f.jp

[2021-02-08 22:19] ramonjd commented on #47659
I think D56176-code resolved the private login issue. However, as far as I know, there's an outstanding problem related to 3rd party cookies/ITP.

See discussion in:

p1611897603232600-slack-C02AVAR9B

Perhaps we could politely add it to the 3rd Party Cookie team's roadmap p1HpG7-b9q-p2

[2021-02-08 22:19] vindl commented on #49573
After some of the latest updates to Gutenberg and related themes, this issue is still present.

[2021-02-08 22:21] xpurichan commented on #36547
@kwight is this still needed?

[2021-02-08 22:24] donalirl commented on #49007
#18659345-hc

[2021-02-08 22:25] xpurichan commented on #40974
Per the above comment I'll close this request as the product is functioning "by design".

[2021-02-08 22:25] #40974 closed

[2021-02-08 22:32] xpurichan commented on #41204
@olaolusoga I'm checking in with you to see if the design names have been removed, or if that's still an ongoing effort? I was looking to close this issue if it is indeed fixed.

[2021-02-08 23:01] donalirl commented on #59396
Encountered in #18659345-hc as well

[2021-02-08 23:02] obenland commented on #33487
I was not able to reproduce it through SSP. Given the age of this ticket there's a good chance this has been fixed in the meantime. The 400+ posts of this user suggest so as well.

Closing for now, please feel free to reopen when this can be reliably reproduced again.

[2021-02-08 23:02] #33487 closed

[2021-02-08 23:06] obenland commented on #33008
@stephdau Is this banner something we could not show on WoA sites?

[2021-02-08 23:10] obenland commented on #32774
I've not seen that in a while. Do we even show this tip still?

[2021-02-08 23:10] olaolusoga commented on #41204
We can close for now. We'll reopen when issue comes up again. Thanks.

[2021-02-08 23:23] iandunn commented on #47659
🤔 , I logged out and then back in, since IIRC the last time I logged in was before that was deployed. I can access the FG  front-end again, but it's hard to say if it's actually fixed, since IIRC the problem wouldn't be triggered right away.

Even right after logging in, though, I'm still getting `403` errors with embeds and thumbnails on `a8ctv`. I'm using a regular window, and have Chrome config

[2021-02-08 23:26] xpurichan commented on #48816
I just tested this issue in version 6.9.0 of the WordPress desktop app (Mac OS). When I click on the button in step 2 I do see an error message quickly flash in the top-right corner of the page:
"Sorry, we could not send you an email"

After the error flashes I'm logged out of the app and presented with a login page.

Adding the "Type: Bug" to this report.

[2021-02-08 23:30] xpurichan commented on #48817
I just tested this behavior in the WordPress app version 6.9.0 on MacOS 10.15.7 and was able to replicate the problem exactly.

Adding the "Type: Bug" to this report.

[2021-02-08 23:34] ramonjd commented on #47659
Hmm, that is interesting. Thanks for the report, it'll be helpful for future debugging.

I just tried in FF and Chrome, and can login from the private page to a8ctv and other private sites without any issue.
I have experienced issues in the past when trying to login to private sites with custom domains.

[2021-02-08 23:58] xpurichan commented on #41597
This has been open for some time, so I wanted to note that I did retest the behavior and the "Sign me up to receive exclusive member updates." checkbox is still appearing.

Added the "Type: Task" to the report.

[2021-02-09 00:11] ramonjd commented on #48316
D55837-code has been shipped. If you see further instances of this, please let us know. Along with steps to reproduce. 🤞
Thank you!

[2021-02-09 00:14] xpurichan commented on #41760
I just replicated this issue on an Atomic site in Safari version 14.0.3.

I also noticed that the old Droplr image links in the original post were broken. I've taken new screenshots and replaced them.

Adding the "Type: Bug" to this report.

[2021-02-09 00:22] yashitamittal11 commented on #45085
Another one- #3720981-zen

[2021-02-09 00:23] xpurichan commented on #42226
I checked and our messaging is still the same/unchanged currently. I can definitely see how the updated wording would add clarity to the setting.

@Addison-Stavlo and @yansern I see you're on Gardening for the moment. Do either you think this is an enhancement that can be implemented, or something that we "won't fix"?

[2021-02-09 00:40] xpurichan commented on #42345
It seems the behavior of this bug has changed, but not for the better. Instead of the upgrade missing from the cart it is now added to the cart and the customer can complete checkout. In my test I went to:

https://wordpress.com/checkout/jetpack_backup_realtime_monthly/{site_url}

Replacing `{site_url}` with the domain of my Atomic site. This caused the "Jetpack Backup (Real-time)" product to be a

[2021-02-09 00:46] worldomonation commented on #49838
This issue is actually not limited to the Gutenboarding step; UI elements that have a thin outline on Safari, using non-standard zoom levels this can be reproduced consistently.

eg. wide version of the Block inserter:
![Screen Shot 2021-02-08 at 4 33 11 PM](https://user-images.githubusercontent.com/6549265/107298994-5957db00-6a2b-11eb-8467-d6a359bfc58c.png)

[2021-02-09 00:52] xpurichan commented on #42367
I tested this since we recently commited a change to the privacy page design and login prompts:
https://github.com/Automattic/wp-calypso/issues/46656

We still experience a login loop if "Prevent cross-site tracking" is enabled in Safari. However, there is a persistent "This website requires your permission to enable all features." message that loads to prompt the user to make an exception for Wor

[2021-02-09 01:17] worldomonation commented on #41862
Would be a good opportunity to address #18506 as well.

[2021-02-09 01:46] worldomonation opened #49848 "People: able to send invites to users already on site"
### Steps to reproduce the behavior

1. As `user 1`, go to My Sites > Manage > People.
2. Invite a new user, `user 2` as any role other than Follower.
3. As `user 2`, accept invite.
4. As `user 1`, invite `user 2` again in another role.
5. As `user 2`, click on `Accept invitation`.

#### What I expected to happen
User 2 does not receive the another invite in the first place.

This is my expectatio

[2021-02-09 02:26] xpurichan commented on #42404
It seems as though this bug has been fixed. I've followed the steps described above and I was able to add a functional slideshow block which worked in both the editor and actual page/preview. My tested was done in Google Chrome Version 88.0.4324.146. Screenshot:

![Screen Shot 2021-02-08 at 9 24 15 PM](https://user-images.githubusercontent.com/33190975/107307057-a055c880-6a4b-11eb-97a1-52c993dd2d6

[2021-02-09 02:26] #42404 closed

[2021-02-09 02:31] xpurichan commented on #42412
This issue has been open for some time so I wanted to retest it. I can confirm that the problem is still ongoing with no focal point being added to the images.

Adding the "Type: Bug" to this report.

@Aurorum it seems the above PR may have gone stale. Is this something that we plan to complete in the future, or a "won't fix"?

[2021-02-09 02:45] xpurichan commented on #42565
It appears this issue has been resolved. I tested this on an Atomic website and it properly displayed the checkbox list style with these themes:

* Eris
* Twenty Twenty
* Karuna
* Illustratr

If you do experience this issue please note the theme and consider reporting to the [Themes repository](https://github.com/Automattic/themes) if the issue seems isolated then.

[2021-02-09 02:45] #42565 closed

[2021-02-09 02:58] xpurichan commented on #47374
I've added the "Type: Enhancement" to this report, as I think this is the intended behavior for the text. I can certainly see the conundrum of the situation!

[2021-02-09 03:03] xpurichan commented on #47334
I'll close this report in favor of #49706 since it's being discussed there.

[2021-02-09 03:07] andrewserong commented on #48889
Since the page layout picker is going to be rebuilt and will likely use mShots screenshots, I think the higher priority issue to fix with this block, is the behaviour when rendered in the template/demo endpoint preview, tracked in 216-gh-Automattic/view-design

[2021-02-09 03:23] roo2 commented on #49240
From what I can understand on work required for:

It looks to me like the current usage of the API supports what we need pbAok1-1QJ-p2#comment-3946, we just need to align the categories with what joan's suggested in the final design p9Jlb4-27F-p2

[2021-02-09 03:50] worldomonation opened #49849 "Comment count is misaligned relative to side menu label"
### Steps to reproduce the behavior

Prereq. Log in as two different users using two different browsers.

1. As `user 1`, comment on an article written by `user 2`.
2. As `user 2`, refresh the dashboard.
3. New comment awaiting moderation is added to the queue. Check the sidebar.

#### What I expected to happen
Comment count shows a `1` beside My Sites > Comments.
The count is aligned with the cen

[2021-02-09 03:54] Aurorum commented on #42412
Hi! I'm still happy to help work on anything, and that PR should still work, but it needs to be reviewed by someone...it's probably slipped through the cracks, but I'm not sure who to ping and ask for that review.

[2021-02-09 04:01] alaczek opened #49850 "Featured Image: UI issues"
### Steps to reproduce the behavior

1. Open the post/page editor. In the sidebar go to Post > Featured Image
2. Note the weirdly aligned notice.
![image](https://user-images.githubusercontent.com/4550351/107313610-07748b00-6ae7-11eb-8e6d-f56844ab0f8d.png)

3. In the media modal, select or upload an image, and click Insert.
4. Notice the stacked buttons (and the link below) without any vertical sp

[2021-02-09 04:13] inaikem commented on #35026
Another: 3717374-zd

[2021-02-09 04:15] autumnfjeld opened #49851 "New Page Layout Picker: PTK categories endpoint"
Tracking Andy's suggestion pbAok1-1QJ-p2#comment-3945 for pre-work in ETK that would be needed to fetch list of layouts from dotcompatterns.wordpress.com so that the design urls can be passed to mshots.

From Andy, see pbAok1-1QJ-p2#comment-3945:

[2021-02-09 04:17] donalirl opened #49852 "Default Post Format Only Gives One Option - Standard"
### Steps to reproduce the behavior

1. Go to My Site → Manage → Settings → Writing
2. Click on Default Post Format dropdown
3. See that only Standard is available

#### What I expected to happen

To see the full list of post formats.

#### What actually happened

Only Standard was available. Interestingly, WP Admin Writing Settings show all the post formats.

### Context

Seen at #3718316-zen as

[2021-02-09 04:32] moon0326 commented on #49802
I'm gonna work on this change in this [PR](https://github.com/Automattic/wp-calypso/pull/49630) as the change is very similar

[2021-02-09 05:50] p-jackson commented on #49587
WIP PR #49860

[2021-02-09 06:00] #49802 closed, assigned to becdetat

[2021-02-09 06:00] #49734 closed, assigned to becdetat

[2021-02-09 06:03] p-jackson opened #49861 "New Page Layout Picker: rename the "homepage" layout category to "home""
We're changing the design of the layout picker: p9Jlb4-27F-p2

Part of the change is renaming the "homepage" layout category to "home". This seems like a change we can make right now while the new layout is being worked on #49587

[2021-02-09 06:07] p-jackson opened #49862 "New Page Layout Picker: remove "restaurant" page layout category"
Page layout picker re-design: p9Jlb4-27F-p2

- The "restaurant" category should be removed
- The 4 layouts currently in the "restaurant" category should move to "services"

[2021-02-09 06:12] p-jackson opened #49863 "New Page Layout Picker: reorder the list of page layout categories"
The page layout picker is being re-designed: p9Jlb4-27F-p2
The order in which the categories appear is being changed in accordance with layout usage data.

The new order will eventually be:
- Blank
- Featured
- About
- Blog
- Home (renamed from Home Page #49861)
- Gallery
- Services (includes the four layouts from deleted "Restaurant" category #49862)
- Contact

For this issue, just reorder the ca

[2021-02-09 06:22] p-jackson opened #49864 "New Page Layout Picker: add new descriptive names for each page layout"
As part of the page layout picker redesign (p9Jlb4-27F-p2), each layout includes a new descriptive name. e.g.
- "portfolio-8" -> "Tiled gallery with description"
- "Bowen" -> "Modern blog layout with subscription and intro"

The descriptive names are being worked on in this spreadsheet: 284dc-pb

These names should be added to the layout metadata somewhere, either replacing the existing names or a

[2021-02-09 06:27] p-jackson opened #49865 "New Page Layout Picker: add "featured" page layout category"
The page layout picker re-design (p9Jlb4-27F-p2) includes a new "featured" category that appears at the top of the category list.

The link to the featured layouts needs to be added to the modal and the fact that a layout is also featured needs to be added to the metadata layout somehow.

The list of featured categories is being worked on in this spreadsheet tab: 284dd-pb.  (Just want to flag that

[2021-02-09 07:24] yashitamittal11 commented on #49650
Another report - #27612087-hc

[2021-02-09 08:24] simison commented on #47334
@xpurichan Let's have this open — it's mentioned there but it's still significantly different design decision to swap list order vs remove one item.

Thanks for triaging! :-)

[2021-02-09 08:28] simison opened #49866 "New onboarding: consolidate new blue across UI"
## What

Requires #51102

Updates all New Onboarding flows to use the same shades of blue

## Why

Improve UI experience for the users

## A/C

- [ ] Refactor the code, switching from hardcoded values to the newly created shared variables
- [ ] Use the same shades of blue in new onboarding, step by step launch, and focused launch
- [ ] Sass variables should still be used (e.g. assign CSS variable

[2021-02-09 08:30] thehenrybyrd commented on #48894
Ran into this in #27616621-hc, worked around it via SA.

[2021-02-09 08:40] razvanpapadopol commented on #47181
New issue regarding the alignment of blue colors across Onboarding UI: https://github.com/Automattic/wp-calypso/issues/49866

[2021-02-09 08:42] razvanpapadopol commented on #49866
A related issue was created initially to cover Focused Launch but the scope should definitely be across onboarding & launch flows since they are sharing components: https://github.com/Automattic/wp-calypso/issues/47181

[2021-02-09 08:43] simison commented on #49866
Yap, feel free to re-arrange issues how it works best for you! :-)

[2021-02-09 08:44] #49358 closed, assigned to yansern

[2021-02-09 08:47] TeniCola opened #49867 "Cover Block: Minimum height settings no longer responsive to expand height to adjacent Column blocks"
### Steps to reproduce the behavior

1. Create or edit any post type, such as a page (also tested on posts and portfolio).
2. Create a container like a Column block, and insert a decent amount of content in one column (a few paragraphs, etc.)
2. In the other column, create a cover block with a fixed image, and set a "Minimum height of cover" in the sidebar settings, under Dimensions.
4. Publish or

[2021-02-09 09:02] TeniCola commented on #49867
Discussion of issue started in p1612860973106000-slack-triage, with details to my live site as a demonstration.

[2021-02-09 09:04] retnonindya commented on #47992
Hello! It seems like this now affecting **all** buttons. I can replicate it on my own site(s). This is the screen recording (GIF):
https://cldup.com/y5cMRtCQee.gif

You can see all social media accounts are checked, yet they are not visible when "Official Buttons" is selected.

![image](https://cldup.com/sXI_wdhB-Y.png)
*Direct link: https://cldup.com/sXI_wdhB-Y.png*

**Update**:

- This issue hap

[2021-02-09 09:30] razvanpapadopol opened #49870 "Focused Launch: HTTP error when opening flow"
When opening Focused Launch without a domain in cart, there is a 404 error caused by calling `https://public-api.wordpress.com/rest/v1.3/domains//is-available?is_cart_pre_check=true`

Hint: we shouldn't call `select( DOMAIN_SUGGESTIONS_STORE ).isAvailable()` with an empty string at  https://github.com/Automattic/wp-calypso/blob/801dd6abfed0e9b1feadef0e264d56fb8ab9d920/packages/launch/src/hooks/use

[2021-02-09 09:34] ciampo opened #49871 "Focused Launch: 404 error when opening Domain Details view too early"
## What

Domain details view in Focused Launch appears broken to the user if visited too early (e.g. when data from backend hasn't loaded yet)

1. Open Focused Launch modal
2. Quickly click on "view all domains" in order to open domain details view
3. Notice the 404 error in the console about the domains rest API

https://user-images.githubusercontent.com/1083581/107344093-5d830780-6ac2-11eb-8196-

[2021-02-09 09:46] cpapazoglou commented on #49211
This issue will be resolved by https://github.com/Automattic/wp-calypso/issues/49262

[2021-02-09 10:23] simison commented on #47992
Does the button still show up at the homepage of the site?

[2021-02-09 10:50] dolgelukkig commented on #49007
#27618315-hc

[2021-02-09 10:59] retnonindya commented on #47992
Hi @simison! Thanks for checking this issue. I'm already EOD so I can't confirm your inquiry. However, the buttons are visible on the live site -- so I presume it should be visible on posts and pages (live site/front-end view) 🤔

On Calypso-side, it's not visible on Chrome when viewed using non-A8C WordPress.com account.

[2021-02-09 11:15] ilyasfoo commented on #49424
I think it's better to keep it in Calypso, as it would require less amount of work to refactor since the existing code has tight dependencies with Calypso internals.

[2021-02-09 11:22] tyxla commented on #48408
All PRs have been merged, only the last one for final removal remains:  #49663

[2021-02-09 11:24] iamgabrielma commented on #49394
You'll find this in WordPress.com sites by going to the URL http://wordpress.com/ > My Sites > $SITE, not on self-hosted ones.

[2021-02-09 11:41] davipontesblog commented on #47992
Upon further scrubbing, I am not able to repro this on my end. Neither on atomic, or on simple sites.
When choosing the official buttons they do take a second or two to come up. I am using Chrome Version 88.0.4324.146 (Official Build) (x86_64).
Upon further inspecting a test site of mine, I found a hint that may explain what is happening here. On this older test site, I had two posts that were sti

[2021-02-09 11:48] rachelwinspear commented on #49007
#27620402-hc

[2021-02-09 12:22] #49677 closed, assigned to nobody

[2021-02-09 12:42] cpapazoglou opened #49878 "Checklist Progress Bar missing"
While exploring https://github.com/Automattic/wp-calypso/issues/49396, I noticed that we don't render

https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/sidebar/index.jsx#L287-L292

which shows as below

![](https://cln.sh/p9NnFh+)

"My Home" is now served from the `admin-menu` endpoint in wpcom. Even if we manage to render the progress bar we will still need to revise the UI

![

[2021-02-09 12:44] #49818 closed, assigned to alshakero

[2021-02-09 12:46] aleone89 commented on #49779
There's another report from a user here: https://wordpress.com/forums/topic/moving-a-blog-from-free-wp-com-to-wp-org-with-different-permalink/

[2021-02-09 12:49] #49815 closed, assigned to alshakero

[2021-02-09 14:15] paulbonahora commented on #48894
@michaeldcain, this is something we'd like to prioritize to fix sometime this month. Could you advice if this is something that'd be rather tackled by Payments or if we'd require help from MarTech?

[2021-02-09 14:18] #49771 closed, assigned to Aurorum

[2021-02-09 14:24] brbrr commented on #34404
To be fair, I don't think "Fixed" status fits into this issue. It isn't a bug, but rather an enhancement for E2E test coverage.

[2021-02-09 14:39] simison commented on #34404
@apeatling I'll put this on View backlog, but feel free to close if E2E coverage is already sufficient. Thx!

[2021-02-09 14:47] ciampo commented on #47576
@razvanpapadopol it seems like translations are now showing in production — should we close this issue?

[2021-02-09 15:30] mikeicode commented on #47247
Another, resolved with the CSS I posted above. 3725297-zd-woothemes

[2021-02-09 15:41] #49824 closed, assigned to tjcafferkey

[2021-02-09 15:51] danieldudzic commented on #46435
Hi all!

Thank you for bringing this to the attention of the Theme team.

We have looked at the issue together and were able to replicate it.

We believe that the culprit here are the templates themselves.

The faulty blocks have alignment set via Block settings.

A paragraph aligned to the left should and will display as aligned to the left both in LTR and RTL.

The resolution here is not a CSS f

[2021-02-09 15:57] dolgelukkig commented on #49729
Another user #22529379-hc

[2021-02-09 16:06] tjcafferkey commented on #49831
@kriskarkoski I can reproduce this on accounts that have the nav unification feature disabled. Am I ok to remove the "Nav Unification" label from this issue?

[2021-02-09 16:16] vindl commented on #49776
Thanks for the pointers! Cylon will handle this one in that case.

[2021-02-09 16:21] simison commented on #46981
Feedback: https://twitter.com/berkun/status/1358950705394929664

Might be something to do with how Jetpack registers blocks in non-standard way? cc @jeherve @kraftbj if you have this also on Jetpack backlogs?

[2021-02-09 16:42] jeherve commented on #46981
I don't believe it's related to Jetpack, it seems to happen with all blocks. Note how the third-party blocks are all ahead of core blocks in the screenshots below:

![image](https://user-images.githubusercontent.com/426388/107395685-54fbf280-6afd-11eb-863b-1f65b03a062d.png)

![image](https://user-images.githubusercontent.com/426388/107396521-1d417a80-6afe-11eb-8eb7-09d1c4ef5843.png)

I believe the

[2021-02-09 17:01] michaeldcain opened #49887 "Payment Methods: odd cursor behavior for EbanxTEF TIN field"
Try filling in this field, then moving the cursor somewhere before the last character and tap backspace. The character to the left of the cursor is deleted, but the cursor moves to the end of the string.

[2021-02-09 17:22] DavidRothstein commented on #49477
Closing this, since it's being tracked internally per above.

It seems to be a rare issue related to some incorrect billing records, but since the billing records in question aren't actually used directly for anything billing-related, we might not fix this anytime soon (unless it starts affecting a lot more people) since it's just a small mistake on the receipt.

[2021-02-09 17:22] #49477 closed, assigned to nobody

[2021-02-09 17:35] kriskarkoski commented on #49831
@tjcafferkey Yep, fine to remove. I wasn't 100% sure it was related but wasn't aware of any other recent changes to the nav so included it to be safe.

[2021-02-09 17:47] nsakaimbo commented on #49435
@getdave I'm not sure if this fix is supposed to have been shipped yet, but I just tested with a newly created Jetpack site and the bug is still present ("Reader" and "My Sites" buttons are broken) - I confirmed that the Jetpack version installed is v9.4.

[2021-02-09 17:49] vindl commented on #49573
cc @scruffian @jffng in case this needs to be fixed in tt1-blocks

[2021-02-09 18:14] michaeldcain commented on #49214
This is being tracked and worked on in c/EPIsnyN9-tr

[2021-02-09 18:30] #49746 closed, assigned to sirbrillig

[2021-02-09 18:38] michaeldcain commented on #42345
From our planning call: we need to decide what (if any) Jetpack products can be purchased on an Atomic site and then block the ones that shouldn't be via the `/shopping-cart/` endpoint.

[2021-02-09 18:42] simison commented on #46435
Nice sleuthing @danieldudzi! 👏  @ianstewart can your team review the templates here? See above comment.

[2021-02-09 18:49] michaeldcain commented on #48703
From Shilling's planning call:

Let's try to add a parameter (`include_expired`) to the `me/stored-cards/` endpoint to return expired cards, and then set that parameter to true for Payments Management screens. Stored cards are stored in state, so we'll want to make sure that the expired ones aren't returned anywhere unexpectedly.

[2021-02-09 18:51] apeatling commented on #46879
WFM

[2021-02-09 18:51] #46879 closed

[2021-02-09 19:10] michaeldcain opened #49890 "Checkout: focus invalid fields with validation errors"
Jump to error and/or show a notification when there are validation errors in netbanking

Try entering a garbage PAN number on the netbanking form; the pay button fails, but it's not obvious why unless you scroll up. This UX could be made a lot better.

Note: See if this happens for other errors

[2021-02-09 20:23] kwight commented on #36547
I'm not sure about all of them, but yes, e2e tests would still be helpful for most of it (not sure if FSE will be handled differently elsewhere).

[2021-02-09 20:24] tanjoymor commented on #41606
Another customer who was expecting this feature to be a default: 20283288-hc

[2021-02-09 20:40] Addison-Stavlo commented on #43919
Tested this today.  The problem still exists as described for `private` mode on atomic sites.

Also noting it looks like there is no "viewer" option for invites in the new "coming soon" mode version.  If this is an oversight we should create another issue for adding viewer support for "coming soon" v2 (public by default).

[2021-02-09 20:50] #49420 closed, assigned to moon0326

[2021-02-09 21:03] Addison-Stavlo commented on #43988
I can **kind of** repro - but it only seems to be on atomic, and only with "private" mode (not "coming soon").

1.  I have a new simple site that I enabled Business plan on, activated a plugin to initiate atomic transfer.
2. If I load calypso while the site is in "private" mode, there is no "Sharing Buttons" tab in Tools->Marketing
3. If I then change the privacy setting to anything else (includin

[2021-02-09 21:13] #48958 closed, assigned to moon0326

[2021-02-09 21:35] worldomonation opened #49894 "Launch: domain upsell repeats twice"
### Steps to reproduce the behavior

1. Create or select an unlaunched site.
2. Click on Sidebar > Site > Posts > Add new post.
3. Enter some text in the post.
4. Click on Masterbar > Launch.
5. Once launch flow takes over, click on `Skip Purchase`

#### What I expected to happen
Site is launched with the free .wordpress.com domain after the step.

#### What actually happened
Launch flow repeats a

[2021-02-09 21:44] klimeryk commented on #23852
Almost three years later (sigh) - but the bug has been fixed in the meantime thanks to the recent domain management revamp.
I've checked and the new (unverified) email address is automatically and instantaneously updated:

<img width="740" alt="Screenshot 2021-02-09 at 21 43 20" src="https://user-images.githubusercontent.com/3392497/107432501-f72cd200-6b1f-11eb-8a57-0d8188d9918b.png">

[2021-02-09 21:44] #23852 closed

[2021-02-09 21:46] klimeryk commented on #24374
The dashes filter has been removed from production so marking this as wontfix and closing.

[2021-02-09 21:46] #24374 closed

[2021-02-09 21:50] klimeryk commented on #34465
Blogger plan has been sunset so I'm closing this issue as wontfix.

[2021-02-09 21:50] #34465 closed

[2021-02-09 22:01] klimeryk commented on #34775
I've checked and the `isWPCOMDomain` check (that was failing before for .blog subdomains) has been fixed and the upsell is not shown in those cases anymore.

[2021-02-09 22:01] #34775 closed

[2021-02-09 22:04] klimeryk commented on #34779
<img width="727" alt="Screenshot 2021-02-09 at 22 04 26" src="https://user-images.githubusercontent.com/3392497/107434531-cc904880-6b22-11eb-9557-9aa5bfdab4ad.png">

Could not reproduce anymore 👍 Possibly the improved check mentioned in https://github.com/Automattic/wp-calypso/issues/34775#issuecomment-776273075 fixed this issue as well.

[2021-02-09 22:04] #34779 closed

[2021-02-09 22:11] klimeryk commented on #35369
It is more complicated under the hood - we cannot reliably check the availability of TLDs we don't support registering. ccTLDs (which is the most often case it seems) are also the least reliable too.

However, we did fix the bug where unsupported TLDs were mistakenly reported as always taken:

<img width="1060" alt="Screenshot 2021-02-09 at 22 09 36" src="https://user-images.githubusercontent.com/

[2021-02-09 22:11] #35369 closed

[2021-02-09 22:14] klimeryk commented on #36301
@aidvu, what do you think about this? I understand that most Atomic users probably always have a custom domain on their site and don't want to/care about the staging subdomain. But I can also see how they can be concerned with the previous name "leaking" through somewhere in the site's HTML or just for completeness' sake.
If it's an easy fix (maybe the backend supports this operation now?), then I

[2021-02-09 22:32] klimeryk commented on #36475
@danhauk, thanks for the designs! I totally agree this screen (and the mapping confirmation one that's very similar to it) needs some love. I like the mockups you've provided - the more vertical approach makes more sense.

I'd say yes, it's needed - to provide the context for the action. Users seem to be confused about mapping vs transfers. It is possible we link directly to this screen from some

[2021-02-09 22:35] klimeryk commented on #36481
This has been addressed with the domain management revamp 🎉

<img width="1055" alt="Screenshot 2021-02-09 at 22 35 31" src="https://user-images.githubusercontent.com/3392497/107437610-28f56700-6b27-11eb-96d1-62f471496336.png">

[2021-02-09 22:35] #36481 closed

[2021-02-09 22:39] stacimc commented on #49337
I'm unable to reproduce this. Would you mind re-testing this @druesome and letting me know if you can still see it? I'm wondering if the issue was resolved when the Premium Content block was moved from ETK to Jetpack.

[2021-02-09 22:40] klimeryk commented on #36662
@aidvu, what do you think about the issue here? Semi-related issue here: https://github.com/Automattic/wp-calypso/issues/36301
I'm not sure how this flow looks right now, but I remember that we explicit tell the user how/when the subdomain will be changed, right?

[2021-02-09 22:41] klimeryk commented on #36693
I've closed the parent issue and will close this one as well - this needs a proper design overhaul and there does not seem to be bandwidth for that right now.

[2021-02-09 22:41] #36693 closed

[2021-02-09 22:50] klimeryk commented on #36738
We've done an A/B test on that in the past and they proved _extremely_ effective (see internal reference p8kIbR-21-p2).

FWIW, the mobile vs desktop styling is basically the same here. The issue is that the logic to [calculate the percentage to show](https://github.com/Automattic/wp-calypso/blob/561e197b0aae52e2eda3d78ebdc444dcba6a9169/client/components/domains/domain-registration-suggestion/index

[2021-02-09 22:52] JessBoctor commented on #36274
Reported this issue in #3626777-HC. Customer added tags and categories that weren't saved, but the post published.

[2021-02-09 22:55] sirbrillig commented on #48966
https://github.com/Automattic/wp-calypso/pull/49897 converts the "add payment method" site-level form. That leaves the WooCommerce shipping labels system as the only place still using `PaymentMethodForm`.

[2021-02-09 22:55] klimeryk commented on #37268
Marking this as wontfix - I'm not sure what would be an actionable fix here. The user did not finish checkout, they don't own the custom domain, not sure why they'd expect it being mentioned as if they own it?
We do have already a notice with a reminder to finish checkout, though:

<img width="515" alt="Screenshot 2021-02-09 at 22 55 19" src="https://user-images.githubusercontent.com/3392497/10743

[2021-02-09 22:55] #37268 closed

[2021-02-09 23:01] ollierozdarz commented on #49285
👋 I think there are two solutions here that would solve this. Either let the long domain wrap to another line after a max-width or truncate with an ellipsis. Both have pros and cons, and I'm aware this is an edge case, so I'd be keen to try and make the go ahead solution fit with the existing framework as easily as possible 🙂

[2021-02-09 23:01] klimeryk commented on #45905
@niranjan-uma-shankar, I've been able to still reproduce it. But I'm not sure what would be a best change here. It does not feel like the best flow to change the address of the site. I wonder if we have enough data to figure out how many users try to search for a `*.wordpress.com` subdomain in cases like this?

As a quickfix - when the user triggers this state (clicked back after site creation) an

[2021-02-09 23:09] JoshuaGoode opened #49898 "Atomic Feature: Display an informative notice when site is disconnected and no longer available in Calypso."
**What**<br>When [WordPress.com](<http://WordPress.com>) on Atomic sites are completely disconnected from Jetpack, the user generally sees no notice. Instead, a user is presented with a notice that they have no [WordPress.com](<http://WordPress.com>) sites with no indication of next steps.

![Screen Shot 2021-02-09 at 18 07 06](https://uploads.linear.app/f629fcde-6f9b-48e8-8af3-60eed8823bff/c58b11

[2021-02-09 23:15] JoshuaGoode opened #49899 "Atomic Feature: Allow user to manage purchases while Jetpack is disconnected."
**What**
Allow WordPress.com subscriptions to be managed on a disconnected WordPress.com on Atomic site.

Related to issues described on #48746  and https://github.com/Automattic/wp-calypso/issues/44432

**Why**
When a WordPress.com on Atomic site's Jetpack connection is completely broken, some purchases are not manageable.

![Screen Shot on 2021-02-09 at 18:14:18](https://user-images.githubuserco

[2021-02-09 23:28] kriskarkoski commented on #49840
Is there a console error when this happens?

I have a possibly related issue where the YouTube video doesn't work in a video widget on simple sites when the Blog Posts block is on the page. In this scenario this following console error shows under `Uncaught TypeError: Cannot set property 'mejs' of undefined`:

<img width="436" alt="Screen Shot 2021-02-09 at 6 24 11 PM" src="https://user-images.git

[2021-02-09 23:32] happychait commented on #45881
Another in Chrome 27606964-hc

[2021-02-09 23:33] sirbrillig commented on #48421
Thank you, @c-shultz! I got busy this past month with some maintenance work we've been doing and I haven't had a chance to circle back to this until now. I may be doing something wrong, or something may have changed in the time since you wrote the above instructions, but when I visit the Store link in calypso for an e-commerce site I have, I don't see any way to get to "Settings":

<img width="115

[2021-02-09 23:57] c-shultz commented on #48421
Hey again, @sirbrillig!

I feel your pain with getting Store to work correctly. Are you using a local site? The easiest route for testing it in my experience is with a test site on the WP.com business plan.

But all the setup issues aside, it looks like the deprecation could make any further investment in Store unnecessary at this point. I see @mattsherman on the associated P2 posts (and PR: https

[2021-02-10 00:08] katiebethbrown commented on #48146
@obenland - With the toggle for wp-admin equivalents enabled I'm still seeing the Appearance submenu items for Widgets and Menus redirect to the Customizer instead of opening their respective wp-admin pages.

Is that the expected behavior?

[2021-02-10 00:11] sirbrillig commented on #48421
Thanks for the link! I read the associated posts and it does look like the page I'm concerned about will no longer be needed on or around Feb. 22, in which case I can just forget about this issue again for another month 😜 and then I should be able to remove the last instance of `PaymentMethodForm` from calypso. (Although if @mattsherman has more details, they are welcome.)

[2021-02-10 00:21] obenland commented on #48146
It is, yes.

[2021-02-10 00:41] obenland commented on #49790
@lezama It looks like the menu item is always registered for admins without any further checks. See `P2_Admin_Menu::remove_menus()`.

For some reason the `p2_patterns` CPT doesn't get registered on API request, which is why the menu item doesn't get added to the `p2editor` menu.

[2021-02-10 00:41] katiebethbrown commented on #48146
Thanks. I share the same concerns that @serabi shared above. With the toggle active it seems these links should load the wp-admin pages, since that's what the toggle suggests it does.

The only way to restore inactive widgets is on the `widgets.php` page directly, and plugins like WPML use `nav-menus.php` to [display menu translation settings that aren't available in the Customizer](https://wpml.o

[2021-02-10 01:06] worldomonation commented on #24604
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue on both Simple and Atomic sites.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-10 01:06] #24604 closed

[2021-02-10 01:43] supernovia commented on #59396
Adding to this, a user would like to change font pairings after changing themes, but can't because of this issue.
https://wordpress.com/forums/topic/changing-font-pairing/

I thought it might be some kind of regression of this:
https://github.com/Automattic/wp-calypso/pull/40652

But really if they could just access global styles (or even Fonts under Customize) they'd be okay.

[2021-02-10 04:00] TeniCola commented on #49867
Leaving a note that I plan to revise the content of this bug report with more details I've found after discussions in Slack, but I'll leave a TL;DR reminder:

The issue _isn’t_ that the minimum height is not being respected (as I originally thought), but that **the minimum height is not being responsive anymore**, when it should be for the Cover block. Additionally, there is reason why a workaroun

[2021-02-10 05:18] vinnykaur commented on #49007
#27639197-hc

[2021-02-10 06:04] poojashetty18 commented on #48894
Another report #3726088-zen, used the direct link as a workaround

[2021-02-10 08:12] cpapazoglou commented on #49238
Relates to https://github.com/Automattic/wp-calypso/issues/49262

[2021-02-10 08:30] ramonjd commented on #49851
Gathering ideas over at pbxlJb-Fh-p2 on whether we need to do this for the MVP, and how we'd organize our API calls when and if we get around to doing it :)

[2021-02-10 08:43] #48408 closed, assigned to tyxla

[2021-02-10 08:56] #49396 closed, assigned to cpapazoglou

[2021-02-10 09:16] cpapazoglou commented on #49435
@nsakaimbo
- Is nav-unification enabled on this site? It should not, since it is neither a Simple nor Atomic
- Using `?calypsoify=0` in the URL seems to resolve the issue for me

@mmtr is there a chance you know what is going wrong here?

[2021-02-10 09:21] reginabally opened #49915 "Nav Unification: Duplicate submenu items under Appearance for Jetpack sites"
The Customize and Header submenu items under Appearance is duplicate on one of my Jetpack sites (https://woo20200908.mystagingwebsite.com). The other Jetpack site (https://jptest20201202.mystagingwebsite.com) shows a duplicate Customize submenu item.

### Steps to reproduce the behavior

1. Log in to a WordPress.com account with a Jetpack site
2. Hover over the Appearance menu option
3. See that t

[2021-02-10 09:29] reginabally commented on #49915
It looks like the menu options were duplicating when I switched to another Jetpack site. Some of the duplicated menu items were removed once I switched to a Simple site.

Video recording: https://d.pr/v/u2pzw8/oMvmeKVkJA

[2021-02-10 09:37] reginabally opened #49916 "Nav Unification: Header and Background options did not open up the respective sections in Customizer for Jetpack sites"
### Steps to reproduce the behavior

1. Log in to WordPress.com with a Jetpack site
2. Click "Header" or "Background" under the Appearance menu
3. The Customize screen loads but did not open up the "Header" or "Background" section.

#### What I expected to happen

I would expect when I clicked on the respective submenu items under the Appearance screen, I'm able to see the respective customize opt

[2021-02-10 09:40] ciampo opened #49918 "Plans data-store: avoid hardcoding the free plan's path_slug"
## What

Add the `path_slug` property to the free plan data returned by calls to the plans REST APIs

Requires #49536 to be closed first

## Why

At the moment that value is hardcoded in Calypso, while it comes from the REST APIs for paid annual plans.
This change would help improving the quality of the code and allow for better TypeScript types in the plans data-store

## A/C

- [ ] The free plan

[2021-02-10 09:41] arunsathiya opened #49919 ""Edit CSS" menu item under "Appearance" menu appears twice"
### Steps to reproduce the behavior

- Start with a WordPress.com website that has plugins or a third-party theme installed. Sites without plugins or third-party themes are not affected.
- On the left menu, under `Appearance`, look for `Edit CSS` option.

#### What I expected to happen

The option appears once.

#### What actually happened

The option appears twice.

- One leads me to https://atom

[2021-02-10 09:44] ciampo opened #49920 "Plans data-store: improve tests coverage"
## What

The plans data-store tests need to be bolstered, after the recent code changes and support for billing period

Requires #49536 and #49918 to be closed first

## Why

This is a crucial aspect of the product and needs to be well tested. The current coverage is:

[code]

(The report was generated by running `./node_modules/.bin/jest -c=test/packages/jest.config.js --coverage packages/data-st

[2021-02-10 09:47] arunsathiya opened #49921 "Two "Performance" tabs; could be unified to one"
I want to start by noting that this is not a bug, but a suggestion/enhancement.

### Steps to reproduce the behavior

- Start with a WordPress.com website that has plugins or third-party themes installed.
- Visit the `Settings` > `Performance` tab on the left.
- Also visit the `Settings` > `General` tab on the left, but choose `Performance` at the top menu instead.

#### Suggestion

Could we move

[2021-02-10 09:48] cpapazoglou commented on #49830
@obenland I suggest that "Widgets" & "Menus" load the WP Admin screen and not the customizer when "Replace all dashboard pages with WP Admin equivalents when possible" is enabled for Atomic sites only.

Especially customers who use WPML will need `/wp-admin/nav-menus.php`.

[2021-02-10 09:48] reginabally opened #49922 "Nav Unification: rest_invalid_signature after exiting Customize screen on Jetpack sites"
### Steps to reproduce the behavior

1. Log in to a WordPress.com account with a Jetpack site
2. Click on Customize to go to the Customize screen
3. Click X to exit the screen
4. See the `rest_invalid_signature` on the browser

#### What I expected to happen

I would expect I can return to the WordPress.com dashboard after I clicked the X button.

#### What actually happened

I'm seeing a JSON API

[2021-02-10 10:02] Aurorum commented on #49919
Strange - I can't reproduce this, including with the Twenty Twenty-One theme. I wonder if there's something I'm missing or if another factor is involved?

<img width="259" alt="Screenshot 2021-02-10 at 10 01 14" src="https://user-images.githubusercontent.com/43215253/107494731-07c46300-6b87-11eb-92fb-d530c7e9c6cc.png">

[2021-02-10 10:04] johngodley commented on #49790
The menu page is added on A8C P2s and all P2020 sites for anyone with `manage_options` capabilities (i.e. admins). It is additionally disabled on P2020 if the user is not A8C.

The CPT is registered on API requests (it wouldn't work in P2 without it). However, there is a known issue where it doesn't get fully registered on a P2020 site if it's not also an A8C site. As patterns aren't available on

[2021-02-10 10:07] frontdevde commented on #49116
The problem with this issue is that so far I can't seem to reliably reproduce it. This makes it hard to figure out the root cause and also test potential fixes.

Over the course of reloading the page hundreds of times in Firefox for about ~20min, I've been able to reproduce the issue twice. What I did discover on those two occasions was that the `scroll` event listener wasn't added at all, while i

[2021-02-10 10:18] getdave commented on #49435
I've replicated this issue. The `Write` button (top right) uses a different URL than `Posts -> New`. Will update with more details.

To replicate:

* Create a site on J-Ninja,
* Enable Jetpack.
* Add a WordPress.com user.
* Enable SSO from Jetpack settings of the site.
* Click `Write`.
* You will go through to the editor loading screen but it will show "Loading failed". Sit tight  and wait.
* The

[2021-02-10 10:19] carinapilar commented on #49840
Ah, yes, it looks the same thing! I was able to replicate it on a Simple site too, like you said, and I also see that error in the console. And the Text widget loads fine.

[2021-02-10 10:23] rosepajaroja opened #49925 "Nav Unification: Create your Store button after upgrade to eCommerce directs to Crowdsignal Forms instead of WooCommerce"
### Steps to reproduce the behavior

1. Go to 'Plans' and click 'Upgrade' for eCommerce.
2. Follow the prompts for the upgrade.
3. Upon completing check-out, click 'Create your Store` button.
4. It redirects to Crowdsignal Forms.

#### What I expected to happen
1 - Directs to WooCommerce set-up.

#### What actually happened
1 - Directs to Crowdsignal Forms

https://www.loom.com/share/f7e161fd3ab44

[2021-02-10 10:37] frontdevde commented on #49116
OK, seem like the above assumption holds true:
When the issue occurs `config.isEnabled( 'nav-unification')` is evaluating to false at runtime.

I also found a reliable way to reproduce the issue: forcing the initial state hydration to be skipped. When we don't have the initial state hydration, the check always returns false at the time we run it. The check being false results in the scroll event l

[2021-02-10 10:39] rosepajaroja opened #49927 "Nav unification: Some Jetpack Submenus Hidden from Calypso"
### Steps to reproduce the behavior

1. Hover your mouse to Jetpack.
2. Two submenus will appear:

- Activity Log
- Back-up

#### What I expected to happen
Five Submenus to appear similar with the WP Admin:

- Dashboard
- Settings
- Backup & Scan (though this also directs to Back-up)
- Site Stats
- Back-up

#### What actually happened

Only two submenus appeared

https://www.loom.com/share/094abf3

[2021-02-10 10:55] tyxla opened #49929 "Framework: Remove `store` dependency"
#48213 removed the last usage of `createReducerStore` from `lib/store`. Let's remove `lib/store`!

[2021-02-10 10:59] mmtr commented on #49435
This is not a new issue introduced by the nav unification, since I was able to reproduce it in the _old_ navigation (currently enabled for all non-a12s). Furthermore, I believe this only happens on Jurassic Ninja sites since I cannot reproduce it on my local Jetpack site. Likely the "loading failed" screen displayed when going to the editor is caused by a cross-domain-origin issue which may be spe

[2021-02-10 11:18] mmtr commented on #49435
The issue is reproducible on Pressabe sites as well, so likely any Jetpack issue is affected by this.

I think we can close this issue as a duplicate of https://github.com/Automattic/wp-calypso/issues/36400. cc @getdave

[2021-02-10 11:18] cpapazoglou commented on #49211
We will need to add a link `People -> Advanced Users List [/wp-admin/users.php]` only for WoA.

[2021-02-10 11:26] klimeryk commented on #42949
Thank you for your insightful comment on the P2, @tanjoymor! Based on it, I'd say the root fix here would be to improve the onboarding experience instead - either make email verification a required step to sign up or at least emphasize the importance of inputting a valid email address (add some validation for typos like `@gmial.com`, etc.).

As such, I'll close this as a wontfix, but I'll be raisi

[2021-02-10 11:26] #42949 closed

[2021-02-10 11:33] klimeryk commented on #42857
I've tried to reproduce this issue but was not able to - the domain-only site was properly transformed to a regular one (with the custom domain attached). Please re-open if you encounter this issue "in the wild" 🙇

[2021-02-10 11:33] #42857 closed

[2021-02-10 11:34] carinapilar opened #49933 "Opening P2 Posts Scrolls Down to Comment Area"
### Steps to reproduce the behavior
1. Open a P2 post, this one for example: p7BcxG-2vx-p2

#### What I expected to happen
To stay at the top of the post.

#### What actually happened
It scrolls down to the comment area. Noticed that this seems to have started **today**.

#### Browser / OS version
Mac OS X 10.15.7
Chrome 88.0.4324.150

[2021-02-10 11:36] klimeryk commented on #42538
This should be fixed now with the new checkout launched and no back button - it's a close button, like Michael suggested above.

[2021-02-10 11:36] #42538 closed

[2021-02-10 11:45] klimeryk commented on #40967
I'm pretty sure this has been fixed with some improvements on the backend. I've tried reproducing the issue, but was not able to. The API request looks good too. I'm going to close the issue, but feel free to re-open if it can be reproduced. Happy to help with tweaking the API call or backend logic if that's the case 🙇

[2021-02-10 11:45] #40967 closed

[2021-02-10 11:48] klimeryk commented on #48746
Yup, definitely agree that fixing the connections would be the best solution here. If that's not possible short-term, we can look into showing all domains regardless of the Jetpack connection state. Happy to pair on it!

[2021-02-10 11:49] klimeryk commented on #40312
@Automattic/shilling, has this been addressed with the recent work on redesigning these screens? (or maybe it's on your radar?)

[2021-02-10 11:51] klimeryk commented on #39415
Closing this as wontfix - I agree there's a lot of potential here and the filters need improvements, but I'm not sure keeping this issue around will make that happen.

[2021-02-10 11:51] #39415 closed

[2021-02-10 11:55] simison commented on #46979
@ianstewart @apeatling what do you think if we simply disable these advanced blocks on block manager? They're still accessible but more hidden. There's probably a list of few blocks like this that are not necessary on .com (things like WordPress.tv embed). We would need to give heads-ups to happiness/docs people beforehand, of course.

<img width="633" alt="image" src="https://user-images.githubus

[2021-02-10 12:04] klimeryk commented on #38512
Working on a fix here: https://github.com/Automattic/wp-calypso/pull/49937
Will make the Create new site the only primary action and add a check for Titan as well (we're only checking for G Suite right now).

[2021-02-10 12:19] kriskarkoski commented on #49830
I'm curious, why only on Atomic sites? That doesn't seem to be respecting the current wording of the setting.

[2021-02-10 12:27] cpapazoglou commented on #49830
That's a good point @kriskarkoski, thanks for raising it.

I suggest doing so only for Atomic cause we:
1) want people to use the customizer for menus & widgets cause it is the way forward for Full Site Editing.
2) Atomic users may install 3rd party plugins that add features to these screens.

[2021-02-10 12:32] klimeryk commented on #49842
Thanks for reporting - hopefully, not many users register such long domain names (and we have data to confirm that), but nevertheless it's an easy fix, so I created https://github.com/Automattic/wp-calypso/pull/49940 to address it 🙇

[2021-02-10 12:59] #49929 closed, assigned to tyxla

[2021-02-10 13:20] cpapazoglou commented on #49147
This is now fixed:
1) Jetpack sites don't have an Upgrades -> Domains menu
2) switching from a simple / atomic domains page to a Jetpack site shows that Domains are not available for that site

![](https://cln.sh/j2xkrG+)

[2021-02-10 13:20] #49147 closed, assigned to nobody

[2021-02-10 13:22] aidvu commented on #36301
I think this is a `wontfix`. We rarely get these, and I don't think it's worth all the trouble it may cause with `siteurl/home` options.

[2021-02-10 13:26] aidvu commented on #36662
There's a warning now. 👍🏻 Can be closed.

[2021-02-10 13:27] cpapazoglou commented on #49919
Thanks @arunsathiya for reporting this.

I can't reproduce this either. It may a 3rd party plugin or theme issue. Can you reproduce this on a new Atomic site? If not, can you list here your themes / plugins?

[2021-02-10 13:36] #49116 closed, assigned to frontdevde

[2021-02-10 13:37] cpapazoglou commented on #49927
Thanks @rosepajaroja for reporting this!

This is the new default for Simple / Atomic sites where both Calypso & WP Admin will not show Dashboard, Settings, Site Stats.

For Jetpack sites:
- on Calypso you will still get the minimal menu
- on WP Admin you will get the Jetpack default menu

For more info p1HpG7-b2s-p2

[2021-02-10 13:37] #49927 closed, assigned to nobody

[2021-02-10 13:39] simison opened #49944 "Accessing the Classic editor to edit posts is difficult"
The classic editor is now extremely difficult to navigate to due to the navigation unification project redirecting posts/pages menus in wp-admin straight to calypso.

Via Slack p1612886623110100-slack-dotcom and p1612887909220500-slack-create-gardeners

[2021-02-10 13:39] aidvu commented on #49921
This doesn't really make much sense (although a good suggestion). They are 2 separate plugins. It would probably be a good idea to change the line under `Settings` to `Page Optimize` instead of `Performance`. /cc @brandonpayton

[2021-02-10 13:45] klimeryk commented on #37276
This has been changed to say `...30 minutes` in https://github.com/Automattic/wp-calypso/pull/39313. Marking as closed/resolved.

[2021-02-10 13:45] #37276 closed

[2021-02-10 13:49] klimeryk commented on #38500
Marking this as wontfix - we don't have the design resources to take this on (unless there are volunteers 🙏). Just wrapping it in a card does not seem like it will be a much better solution at this point (with the revamped domain management).

[2021-02-10 13:49] #38500 closed

[2021-02-10 13:50] cpapazoglou commented on #49925
Thanks @rosepajaroja for stopping by.

I couldn't reproduce this. Upgrading to an e-commerce plan and clicking "Create your Store" redirected me to `https://[DOMAIN]/wp-admin/admin.php?page=wc-admin&path=%2Fsetup-wizard`

![](https://cln.sh/MvodQd+)

Can you please let me know if `https://[DOMAIN]/wp-admin/admin.php?page=wc-admin&path=%2Fsetup-wizard` works on your site?

[2021-02-10 13:57] klimeryk commented on #40350
@davipontesblog, is this still an issue? IIRC, there were some changes made to make the change of subdomain clearer to the user.

[2021-02-10 14:16] cpapazoglou commented on #49364
Should we change the snippet to disable `nav-unification` also? Chances are that these customers will want to have a WordPress.org native experience.

[2021-02-10 14:20] cpapazoglou commented on #49206
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/49149

[2021-02-10 14:20] #49206 closed, assigned to nobody

[2021-02-10 14:23] pendantry opened #49946 "Enhancement to the Form block: Date Picker field"
The current iteration of the 'Date Picker' input field is wholly inadequate. It needs a lot of love.

### What (Required)

1. Ability to click on the year presented in the date picker, and change that (either through text input or by selection from a list)
![image](https://user-images.githubusercontent.com/77969662/107513420-1703da80-6ba0-11eb-9cc2-417f5dbd3fc7.png) (see Why/1 below)

2. Ability t

[2021-02-10 14:24] cpapazoglou commented on #49191
We should:

- add a link `Settings -> Advanced General Settings [/wp-admin/options-general.php]`
- add a link `Settings -> Advanced Writing Settings [/wp-admin/options-writing.php]`

only for WoA when we detect that a plugin has registered settings for these screens by checking

- `isset( $wp_settings_fields['general']['default'] ) || isset( $wp_settings_sections['general'])`
- `isset( $wp_setting

[2021-02-10 14:30] #49435 closed, assigned to mmtr

[2021-02-10 14:30] cpapazoglou commented on #49262
I have tracked down the Issues to be resolved in the description.

[2021-02-10 14:37] zdenys opened #49947 "Audio Block: Allow play in Editor"
When the audio file is added to the Audio Block in the editor, it cannot be played.

**What**
Allow playing Audio just like videos

**Why**
It's confusing to see the Audio Block with play controls but not be able to click them and play the audio.

![](https://d.pr/i/Z0YBTZ+)
_Link: https://d.pr/i/Z0YBTZ_

**Additional context**
Brought up in this conversation p1612967236170900-slack-C03TY6J1A by @

[2021-02-10 14:40] klimeryk commented on #37278
We should be able to use the [Page Visibility API](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API) to detect when the user comes back to the tab and then refresh the info. But I think that's the best we can do with the current implementation. The verification page is a separate landing page (within Calypso, but accessible logged out), so it's not easy to connect the two other

[2021-02-10 14:42] klimeryk commented on #37277
Now that we have `wordpress.com/domains/manage` to manage all domains, we could quickly and safely redirect the user there.
Originally we did not provide such a link because: we did not have that page. But also because there's no guarantee the user is logged in - or that they are logged in as the owner of the domain :) These seem like edge cases, but they show up in customer interactions frequent

[2021-02-10 14:57] #49591 closed, assigned to flootr

[2021-02-10 15:00] klimeryk commented on #49613
Thanks for reporting, @nbloomf 🙇 This is "expected" - if the nameservers are not pointing to us, allowing the users to change DNS records could make them think that this will actually change the active DNS records. But since the domain is pointing to different nameservers, those changes will not matter.

Not sure I understand the case here - if the nameservers were not pointing to us, why would yo

[2021-02-10 15:00] #49613 closed, assigned to nobody

[2021-02-10 15:10] getdave commented on #49944
@obenland For triage would you consider this a blocker? Bear in mind it looks like **31K customers affected on Atomic** (see Slack thread).

For context some users use the `WPAdmin` link currently in Calypso nav to allow them to get to the WPAdmin Posts listing so they can hit the `Classic Editor` link to edit each post.

Because we are defaulting to the Calypso Posts view this removes that option

[2021-02-10 15:21] getdave commented on #49944
Also we should consider the impact on folks using Page Builder plugins.

[2021-02-10 15:24] eduardozulian commented on #49947
There is some discussion happening also on https://github.com/WordPress/gutenberg/issues/9252

[2021-02-10 15:27] ghost commented on #49783
Thanks for the ping @mmtr. This is on my list to look into. I think there could potentially be a solution similar to what we end up doing in #49262 where we find a better solution to the toggle. We shouldn't have to _show_ users how to do anything, it should be clear enough from the main navigation.

[2021-02-10 15:29] getdave commented on #49776
@vindl See new documentation at PCYsg-v8B-p2#how-to-customise-the-menu

[2021-02-10 15:29] obenland commented on #49790
Sounds good. Adding an `is_a8c()` check should fix that then

[2021-02-10 15:31] mmtr commented on #49944
I'd be more specific and will change only the links of the "Posts > New", "Pages > New", etc. menu items, so we don't turn on the link destination preference.

In other words, I'd update [the `add_posts_page` and similar functions](https://github.com/Automattic/jetpack/blob/b4212cfa9738c40de50778b0eb7c54a3b587c60d/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L190), so

[2021-02-10 15:33] getdave commented on #49145
Is this blocking Woo compatibility?

[2021-02-10 15:36] klimeryk commented on #46947
Closing this as I cannot reproduce either. It's possible that one of the links were absolute links, `https://example.com/about` vs internal/relative one like `/about`. In which case they'd not be updated. But for relative links, it should simply work.

Please re-open if you can reproduce 🙇

[2021-02-10 15:36] #46947 closed

[2021-02-10 15:37] getdave commented on #49944
That seems like a simple fix which is limited in scope.

[2021-02-10 15:40] klimeryk commented on #40967
Noting that I was able to reproduce this thanks to steps from https://github.com/Automattic/wp-calypso/issues/46752. Basically, search for a digit/number-only query like `12390812391`. There will be no WPCOM suggestion... or there will be a random .blog subdomain 😓 However, I'll keep this one closed and investigate further in https://github.com/Automattic/wp-calypso/issues/46752, as the root issue

[2021-02-10 15:40] klimeryk commented on #46752
Related issue: https://github.com/Automattic/wp-calypso/issues/40967 (closed in favour of this one).

[2021-02-10 15:45] obenland commented on #49944
I wish that had come up when it first was introduced to the Calypso UI. IMO circumstances like this is exactly why there is a toggle in the first place, can we maybe find a way to make it more discoverable?

[2021-02-10 15:46] obenland commented on #49830
That's fine, let's also apply that to all environments.

[2021-02-10 15:50] zdenys commented on #39424
Duplicate sites are still being created in the most recent site creation flow. If you click the back button in the browser while on the checkout page, you start from scratch but the site you were working on was already created but you are not aware of it.

[2021-02-10 15:51] getdave commented on #49944
The toggle was always pretty hidden away. I think what we're going to find is more and more edge cases where the toggle is the only solution.

If we can ease the burden on the user for the key user journey's then the rest can be mitigated via "the toggle". Given 31k users are affected and they are all on higher-level plans it's probably one we need to address.

We could look at moving the toggle t

[2021-02-10 15:53] mrsjaved opened #49950 "Masonry Block: Gallery caption RichTextToolbar disappears on click"
### Steps to reproduce the behavior

1. Go to My Sites -> Posts, add a new post, or edit an existing post.
2. Add "Masonry Block" and select some images from the media library.
3. From block settings enable "Captions".
4. Click on the caption and you will notice the toolbar to make the caption bold, or add the link disappears.

#### What I expected to happen
It should display the inline toolbar li

[2021-02-10 15:59] ianstewart commented on #49894
@worldomonation I tried to reproduce this issue just now and couldn't. Are you still able to reproduce?

[2021-02-10 16:03] obenland commented on #49944
Agreed.

We should keep in mind that adding exceptions is a slippery slope and bears the danger of creating a fragmented UX, where we account for one plugin (classic editor) but not the other (page builders), and (unexpectedly) change the link destination of a single menu item but not others.

@davemart-in FYI. This one is an excellent example of the nitty gritty decisions we're facing now, partic

[2021-02-10 16:10] ivan-ottinger opened #49952 "Atomic Feature: Allow users to reset their site themselves"
Time-to-time we get requests to reset user's site. It would be great if the users were able to reset their site themselves.

Why

- Users will be more happy and in control - as they don't have to contact us.
- We will get less requests in chat and tickets.

How

The feature could be present on one of these pages as a box with short explanation and a button:

- https://wordpress.com/settings/genera

[2021-02-10 16:12] davemart-in commented on #49944
@obenland and @getdave this may come across as heretic, but is there a case to be made for just defaulting to the wp-admin screen for posts and pages?

What would the pros and cons be?

[2021-02-10 16:23] pendantry opened #49954 "Inline CSS is lost in a List block when amending the content of the list"
### Steps to reproduce the behavior

1. Add a list block

2. Enter text
![image](https://user-images.githubusercontent.com/77969662/107536026-3c511280-6bb9-11eb-9726-95ab8d350a00.png)

3. Select 'Edit as HTML' from 'More options'

4. Replace all occurrences of '&lt;li&gt;' with '&lt;li style="margin-bottom: 10px;"&gt;'
![image](https://user-images.githubusercontent.com/77969662/107536206-6c001a80-

[2021-02-10 16:29] kriskarkoski opened #49955 "post-count endpoint returns incorrect count"
In some cases the `post-count` API endpoint will return an incorrect count of posts for a site while the `posts` endpoint returns the correct number. This manifests by having the count next to a post status in Calypso at https://wordpress.com/posts displaying an incorrect number compare to the actual number of posts shown in WP Admin.

So far I have only seen this behavior on Atomic sites so I am

[2021-02-10 16:30] #33385 closed

[2021-02-10 16:55] getdave commented on #49783
@sfougnier For context here @obenland has asked that we proceed with the direction which @cpapazoglou summarised here (paYJgx-1lp-p2#comment-1661).

Given where we are with timelines it would be great if we could all rally around this route now in order to avoid increasing the scope beyond what can reasonably be managed by the team at this point.

If you were able to visualise an additional item t

[2021-02-10 16:56] getdave commented on #49262
## Status Update

To confirm @obenland has asked that we pursue the solution outlined at paYJgx-1lp-p2#comment-1661.

To that end @cpapazoglou has updated this Issue description with a task list.

Let's work towards this.

[2021-02-10 16:57] klimeryk commented on #47016
PR with fix: https://github.com/Automattic/wp-calypso/pull/49951

[2021-02-10 17:26] obenland commented on #49944
Pro | Con
-----|-----
Easier integration with plugins (Yoast, AIO SEO) | Change of UI with Atomic transfer
Same UI as Tags/Categories | Can't be toggled back to Calypso

These are the ones that came to mind for me. I think if we're okay with removing access to those Calypso screens for Atomic, it would make plugin integration much easier.

![image](https://user-images.githubusercontent.com/1398304

[2021-02-10 17:49] sirbrillig commented on #40312
Thanks for the ping. There's several questions here. We do have a plan for improving the payment management for multiple subscriptions, and we've been working on it, first by updating the code for adding and changing payment methods, which is nearly done. After that we plan to add checkboxes to allow updating one or all subscriptions at once, followed eventually by a way to cherry-pick individual

[2021-02-10 18:01] Addison-Stavlo commented on #46981
It seems like this behavior is pretty standard.  Any way I test it locally it seems 3rd party blocks appear before core blocks in the sidebar inserter.  And I don't see any block registration settings that would effect whether or not they appear before or after core blocks in their category.  It may just be simply due to timing of block registration.

So I'm not sure if this issue is actually an i

[2021-02-10 18:02] obenland commented on #49364
Nav unification is part of the masterbar module, so it'll disable it in wp-admin.

@jonnyruzek Is this fixe for you with Jetpack bleeding edge?

[2021-02-10 18:20] obenland commented on #48146
Makes sense, let's do that

[2021-02-10 18:22] cpapazoglou commented on #48146
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/49830

[2021-02-10 18:22] #48146 closed, assigned to tjcafferkey

[2021-02-10 18:24] obenland commented on #49830
I'd not consider this launch blocking at this point

[2021-02-10 18:51] metabreakr commented on #49364
@obenland With Jetpack Beta Tester 2.4.6 and bleeding edge Jetpack Version 9.5-alpha-554792241-gb4212cf this issue persists. The code snippet from above still hides the Hosting Configuration link.

[2021-02-10 18:55] obenland commented on #49364
It hides in Calypso?

[2021-02-10 19:01] metabreakr commented on #49364
Correct: https://d.pr/i/Q1arY2/xobnYwnMuC

[2021-02-10 19:06] razvanpapadopol opened #49958 "Focused Launch: existing paid plan is interrupting launch"
### Steps to reproduce the behavior

1. Go to `/start` and create a site with a paid plan
2. Open editor and click _Launch_ button in top bar
3. Pick a domain and click _Launch your site_

#### What I expected to happen
Site should be launched and I should get the Focused Launch Success view inside the editor

#### What actually happened
An empty checkout modal opens while launching and I get auto

[2021-02-10 19:06] Addison-Stavlo commented on #46981
It looks like with plugins we generally register scripts/blocks on the `init` hook.  While core blocks are not registered until the specific editors load and their `initializeEditor` functions run (ex https://github.com/WordPress/gutenberg/blob/f94414c86562bfd09c810f2f523fef66b8f81a5b/packages/edit-post/src/index.js#L94).  Thus the 3rd party blocks are registered earlier than core blocks, and core

[2021-02-10 19:20] saygunnyc commented on #49792
Are there any updates related to this bug report?

[2021-02-10 19:22] worldomonation commented on #49894
I noticed there are now two launch flows:
- one that looks like Gutenboarding.
- one that is the existing flow, shown in the issue video.

I re-tested both flows now and it would appear that it is no longer reproducible, at least in the two runs I made (1 of each flow).

Given that, let's close this as `Closed - Not Reproducible` for the time being, and if I encounter it again I'll re-open this is

[2021-02-10 19:24] worldomonation commented on #49894
2021 02 10 Old Launch Flow
https://user-images.githubusercontent.com/6549265/107560532-4f9cb780-6b92-11eb-8bf4-6e182125ef82.mov

2021 02 10 New Launch Flow
https://user-images.githubusercontent.com/6549265/107560673-7d81fc00-6b92-11eb-862d-86c5f6b03ec4.mov

[2021-02-10 19:24] #49894 closed, assigned to nobody

[2021-02-10 19:28] pablinos commented on #49944
I came across this problem yesterday while testing something, and I did find the toggle, but then that meant I was sent to wp-admin for everything, which wasn't what I wanted. I wanted to get to the classic editor by going to wp-admin, but not switch my entire experience. I'm not sure how typical that usage is.

A lot of people that use wp-admin and the classic editor, don't currently use Calypso

[2021-02-10 19:35] mattsherman commented on #48421
Yes, I can confirm that our (team Mothra on Isotope) plan is to totally remove Store on Feb 22.

We have an issue in our backlog to cleanup unused code after removal has been in production for a while. https://github.com/automattic/wp-calypso/issues/49433

Here's a P2 post with some more details on our removal plan: pbIJXs-Bt-p2

[2021-02-10 20:36] davipontesblog commented on #40350
Not really an issue, I had filed it as a feature request since I believe it brings better clarity to what domains work on the site when atomic. At the end of the day, the free .wordpress.com subdomain does continue to work for the given atomic site, but if we don't want to expose that information, I understand :) You can close it as a no-fix in that case.

[2021-02-10 20:43] mattsherman commented on #49145
I have brought up this specific question in the PR to use SVG icons for WooCommerce, to bring in PM and designer input.

https://github.com/woocommerce/woocommerce/pull/29094

[2021-02-10 20:50] davemart-in commented on #49944
cc'ing @sfougnier (sorry, I should have pinged you above).

[2021-02-10 21:02] davemart-in commented on #49944
@obenland, @kurt213 do y'all know if are there any stats available around how many people click "Classic Editor" (see screenshot) vs. those that just have the classic editor plugin enabled?

![image](https://user-images.githubusercontent.com/5634774/107571776-5985e100-6bb9-11eb-940d-804ee0a7e429.png)

[2021-02-10 21:14] nerdysandy commented on #9014
Closing it as duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/10188 or as something which is being tracked on that link.

[2021-02-10 21:14] #9014 closed

[2021-02-10 21:22] carinapilar commented on #49821
That's great to know, will keep that in mind, thanks @mmtr! :)

Do we have more details somewhere that explains how this option should work? I tried activating on my account, and most of the menus on Calypso stop working, such as Posts and Pages for example, and when using WP-Admin, Widgets and Menus under Appearance still load the Customizer.

[2021-02-10 21:49] carinapilar opened #49963 "Jetpack Mobile Theme is Back"
### Steps to reproduce the behavior

1. Access a non-A11n WordPress.com account
2. Go to your site's WP-Admin dashboard
3. Check the Appearance menu

#### What I expected to happen
To not see the Mobile menu option, that was retired years ago: https://github.com/Automattic/jetpack/issues/13385

#### What actually happened
It's showing for non-A11n WordPress.com accounts.

### Context
Not sure why

[2021-02-10 22:12] nerdysandy commented on #36462
I can still replicate it using the steps shared in the description above.

[2021-02-10 22:18] nerdysandy commented on #35034
Closing it because we're rolling out new nav unification where this doesn't apply.

[2021-02-10 22:18] #35034 closed

[2021-02-10 22:22] nerdysandy commented on #35759
I can see images being returned on Pexel too https://d.pr/i/6XJ2y5 Closing it as being non-replicable anymore

[2021-02-10 22:26] nerdysandy commented on #39283
It's still the same styling. This is why I removed the label ^

[2021-02-10 22:32] nerdysandy commented on #27259
I can no longer replicate it on both Simple and AT sites. Closing it because of that

[2021-02-10 22:32] #27259 closed

[2021-02-10 22:45] donalirl commented on #35369
Thank you @klimeryk!

[2021-02-10 22:56] nerdysandy commented on #31249
I can't replicate it. Also, when copy/pasting images from Facebook. For an image that doesn't have alt text, it adds it automatically https://d.pr/i/FrGQQH I tested this using Image and Media & Text block.

[2021-02-10 23:06] aamills commented on #45881
Another: 4110863-hc
Chrome Version 88.0.4324.150 (Official Build) (x86_64) on an Apple desktop computer running Big Sur Version 11.2.

Shared info about clearing browser cache or testing from anther browser, but they were unhappy about those options.

[2021-02-10 23:10] nerdysandy commented on #43972
@p-jackson Hi 👋 Do you think it is still relevant with the Nav unification being rolled out soon? This is how the new workflow would be https://d.pr/i/vitaeA

[2021-02-11 00:37] iandunn commented on #47659
A few days later and I'm experiencing this w/ the FG and A8CTV again :(

[2021-02-11 00:41] Addison-Stavlo commented on #49317
For clarification, should activating the "Blank Layout" theme make your homepage content blank?  Or not change the content?

Based on the behavior of the other recommended themes it is not clear to me which of the above should take place, so I would assume users may have the same confusion in which case the radio button modal might make sense? 🤔

[2021-02-11 01:10] ramonjd commented on #49851
I think we're tending towards the idea that we don't require an API refactor for the MVP, but it'd be a good idea to redesign it so that it performs well when we have more patterns and categories to present on the frontend.

A good candidate for collaboration with @Automattic/view-engineering

[2021-02-11 01:26] arunsathiya commented on #49919
This is very odd! I cannot reproduce at the moment either. I was testing with a fully reset Atomic website (AKA fresh Atomic website) when I found that bug. Not sure why it doesn't appear anymore. I will close this for now, but I can followup if I can consistently reproduce.

[2021-02-11 01:26] #49919 closed, assigned to nobody

[2021-02-11 01:43] p-jackson commented on #43972
@nerdysandy Does that mean that the in-editor sidebar is being removed as part of nav unification? My understanding was that the current in-editor sidebar would be replaced by a new one as part of full-site editing, as seen here pbAok1-1oJ-p2#comment-3154

[2021-02-11 01:58] #47655 closed, assigned to nobody

[2021-02-11 02:07] kaitohm commented on #48636
@jordesign  Thanks! I've gone and worked on this a bit more. Here are my findings.

### WPCOM site

* Issue is present with theme TwentyTwenty
* Issue is resolved with theme TwentyTwentyOne
* Issue only occurs with the native Archive page, and not the Blog Posts Block

### Base WordPress install

* I could not reproduce the issue on any theme. I tried TwentyTwenty, TwentyTwentyOne and Hever

Becau

[2021-02-11 02:28] vindl opened #49968 "Site Editor: footer column rendered twice on front end"
Part of the footer content for TT1b theme is duplicated on site's front end:

<img width="1386" alt="Screenshot 2021-02-11 at 03 24 09" src="https://user-images.githubusercontent.com/1182160/107596770-ffb50380-6c18-11eb-86b0-837161bedac8.png">

This bug is specific to Dotcom.

[2021-02-11 02:29] vindl commented on #49968
@ianstewart I'm guessing this was mistakenly placed in demo site post content?

[2021-02-11 02:53] vindl commented on #49968
That was it, I updated the starter site. Will commit new annotations for it tomorrow.

[2021-02-11 03:18] arunsathiya opened #49969 "Account Settings: Unable to cancel pending email change"
### Steps to reproduce the behavior

- Start at https://wordpress.com/me/account
- Initiate an email change for your account
- After the new address is entered, use the `Cancel` button next to the confirmation notice.

#### What I expected to happen

Cancellation button works.

#### What actually happened

Cancellation button responds with a console error instead. The error reads:

[code]

### Con

[2021-02-11 03:19] arunsathiya commented on #49969
These seem to be recent commits related to account settings: https://github.com/Automattic/wp-calypso/pull/49760, https://github.com/Automattic/wp-calypso/pull/49875 and https://github.com/Automattic/wp-calypso/pull/49949.

cc @yuliyan @flootr, could either of you help identify if these could be a cause? @cathymcbride as well, to help with triaging.

[2021-02-11 03:20] glendaviesnz commented on #49404
In theory we could use something similar to the block fixture parsing that we are adding to jetpack blocks

https://github.com/Automattic/jetpack/pull/18643/files#diff-3f90ae76bffe8f72fd44fb123a91f24295beef7c23bc313b577786540456945c

Which can can source post post content, parses it and outputs the migrated version fo the block. A could iterated through post content in a node.js cli via the WP api

[2021-02-11 03:49] xpurichan commented on #47334
I can understand that, and thank you for the feedback!

[2021-02-11 04:51] ramonjd commented on #48316
I've come across this a couple of times today again.

D55837-code did fix an edge case, which needed to be done, but I'm seeing it immediately after having created a site (only sometimes).

<img width="726" alt="Screen Shot 2021-02-11 at 12 23 36 pm" src="https://user-images.githubusercontent.com/6458278/107603404-c0220200-6c80-11eb-8a13-fdaa812c321c.png">

 It appears intermittent. For some reaso

[2021-02-11 05:50] mrsjaved commented on #49950
Related: https://github.com/godaddy-wordpress/coblocks/issues/1717

[2021-02-11 06:02] flootr commented on #49969
I'll have a look 👍🏻

[2021-02-11 06:13] andrewserong commented on #49404
Sounds like a good idea to explore! If we need to run in a web context that has access to everything that wpcom registers, another place to put the tool could be a page in MC under patterns-toolkit, and then build an ultra-simple UI for it.

I was wondering how much we can get away with if we set up the [editor store](https://github.com/WordPress/gutenberg/blob/f2d3c09139ac13c17389dc5f12ca7fd45076

[2021-02-11 06:40] mrfoxtalbot opened #49978 "Nav Unification: Redundant "Jetpack Backup" and "Jetpack Backup & Scan" menu items on AT sites"
### Steps to reproduce the behavior

The unified navigation on Atomic sites, has these two redundat/duplicated items under the Jetpack menu:

- "Backups & Scan"
- "Backup"

![Screen Shot on 2021-02-11 at 07:19:36](https://user-images.githubusercontent.com/4452464/107608057-21bf7d80-6c3b-11eb-8b2d-74ce8fb64e58.png)

They both take to the same place

![Screen Shot on 2021-02-11 at 07:20:00](https://

[2021-02-11 07:20] mrfoxtalbot opened #49979 "Nav Unification: Missing "Search" menu item under "Jetpack" menu on Atomic sites"
### Steps to reproduce the behavior

1. Check menu items available under "Jetpack" on an Atomic site.
2. Compare them to the items under the same menu on a simple site.

![screen-shot-on-2021-02-11-at-074822](https://user-images.githubusercontent.com/4452464/107610128-31da5b80-6c41-11eb-8310-3c06eabd6d72.png)

#### What I expected to happen
The "Seach" link should be visible on AT site, for consis

[2021-02-11 07:34] p-jackson commented on #49617
Was just testing this and I found it a bit jarring that after I'd entered my own site title during onboarding, but when my site was created and I landed in the editor the big heading at the top of the page is still "Alex Fredrickson". Feels like why ask me the name of my site if you aren't going to make it the site "title" (the `<title>` has been set of course, I just imagine a user will think of

[2021-02-11 08:14] razvanpapadopol commented on #47576
Fixed in https://github.com/Automattic/wp-calypso/pull/49812

[2021-02-11 08:14] #47576 closed

[2021-02-11 08:17] razvanpapadopol commented on #49169
No one was able to reproduce this again for more than a week. Closing it for now.

[2021-02-11 08:17] #49169 closed, assigned to nobody

[2021-02-11 08:19] akirk opened #49981 "Nav Unification: Announcement Modal has untranslated next/previous/finish buttons"
In the tour the content is translated but not the buttons [although the translation exists](https://translate.wordpress.com/projects/wpcom/-all-translated/3943/):

<img width="696" alt="Screenshot 2021-02-11 at 09 14 19" src="https://user-images.githubusercontent.com/203408/107614079-e6787b00-6c49-11eb-854d-23d341bcf767.png">

<img width="690" alt="Screenshot 2021-02-11 at 09 14 15" src="https://u

[2021-02-11 08:24] razvanpapadopol commented on #49589
Probably fixed in https://github.com/Automattic/wp-calypso/pull/49812

[2021-02-11 08:24] #49589 closed, assigned to nobody

[2021-02-11 08:44] #49969 closed, assigned to nobody

[2021-02-11 08:52] mmtr commented on #49821
When the toggle is enabled, the menu items with an WP Admin equivalent page will point to WP Admin.

Was that for a site with a mapped domain? If so, that's a known issue. We added some security measurements to how the unified menu is built which introduced a regression on WP Admin links for sites with a mapped domain. Should be addressed by https://github.com/Automattic/wp-calypso/pull/49924.

[2021-02-11 08:55] simison commented on #49617
I'm not entirely sure we should replace these in content via API — the best would be using Site title block instead, and I'm assuming at least when we have FSE, all templates will use that. @ianstewart would it be possible already now?

[2021-02-11 09:32] aleone89 commented on #45881
There's been another report of this here: https://wordpress.com/forums/topic/wordpress-wont-let-me-update-my-own-blog/ - asking the user for information on their environment to add to this thread.

Chrome: 88.0.4324.150

Extensions in use are:

Adobe Acrobat
Cisco Webex Extension
FromDocToPDF
Google Docs Offline
McAfee® Secure Search
McAfee® WebAdvisor

[2021-02-11 09:34] simison commented on #49617
To answer myself: no, the title block isn't available in block editor.

That said... it could be pretty useful for single site templates so perhaps it _should_ be available?

[2021-02-11 09:37] simison opened #49987 "Enable language picker in new onboarding"
We attempted to enable language picker in `/new` flow at https://github.com/Automattic/wp-calypso/pull/49674 — but had to revert due some bugs in https://github.com/Automattic/wp-calypso/pull/49683

Bugs are now sorted out I believe, so we can enable this again.

Test link for production version: https://wordpress.com/new?flags=gutenboarding/language-picker

P2 pbAok1-dn-p2

<img width="977" alt="

[2021-02-11 09:37] frontdevde commented on #49175
### How to reliably reproduce the issue:

- Load /home page with enough space for the entire sidebar to fit the screen
- Resize the window to make the height smaller than the sidebar
- Scroll down the page to the end and all the way up again
- Resize the window to make the height taller than the sidebar
- Scrolling the page now leaves the sidebar in a detached state

[2021-02-11 09:38] simison commented on #43532
I'll close this and have more focused task instead: https://github.com/Automattic/wp-calypso/issues/49987

[2021-02-11 09:38] #43532 closed

[2021-02-11 09:57] getdave commented on #49821
~I'll add a stub to the documentation page PCYsg-v8B-p2 which we'll need to populate with this info~. I added a new FAQ page (PCYsg-vFf-p2#how-do-i-access-wpadmin).

This query is going to be a common question in my opinion.

[2021-02-11 10:15] mmtr commented on #49944
**UPDATE:** the Classic Editor seems pretty accessible on my tests so we may not need any work at all. Please refer to my comment below (https://github.com/Automattic/wp-calypso/issues/49944#issuecomment-777371203) before reading this proposal.

---

I analyzed the current behavior in Calypso with the _old_ navigation and confirmed what @pablinos said above. Interestingly, we also redirect users t

[2021-02-11 10:18] getdave commented on #49435
This response from Kirk summarises the situation https://github.com/Automattic/wp-calypso/issues/36400#issuecomment-536083060

[2021-02-11 10:20] #49770 closed, assigned to tjcafferkey

[2021-02-11 10:23] simison commented on #49944
@lessbloat I think that might be good long term goal, but we're not ready for that yet. See pbAok1-gS-p2 for a list of experiences that would degrade or go missing:

Media modal and chat would be the biggest hurdles.

E.g. media modal is of course available in both WP Admin and Calypso, but Calypso one is way better and easier.

[2021-02-11 11:10] mmtr commented on #49944
After a deeper look, I noted that Calypso currently redirects to WP Admin if a user tries to create/edit a post through the `wordpress.com/post/:site/:postId?` URL if the site is ineligible for the Calypso editor, so I don't think we need to do anything?

https://github.com/Automattic/wp-calypso/blob/3a1d304bd61e8ce1e3d181b0df77da62e108b94e/client/gutenberg/editor/controller.js#L181-L191

I double

[2021-02-11 11:28] simison commented on #49944
@mmtr I'm not familiar enough with problem, just carrying over what was summarized to me in first two Slack convos I linked in issue description. :-)

[2021-02-11 11:42] mmtr commented on #49944
Alright, apparently users currently have the ability to use the Classic Editor on the WP Admin of Simple sites:

<img width="456" alt="Screen Shot 2021-02-11 at 12 39 08" src="https://user-images.githubusercontent.com/1233880/107632009-32391d80-6c66-11eb-9a15-93b85b5d23fe.png">

Was that deliberately kept after the classic editor deprecation? I'm not seeing that documented in https://wordpress.com

[2021-02-11 11:51] davemart-in commented on #49944
Distilling what I'm hearing from this conversation:

- If a customer is on Atomic and they have the Classic editor plugin installed, there is no issue.
- Customers on Atomic that don't have the Classic editor plugin installed and customers on simple who have been in the habit of A) clicking the "WP Admin" link at the bottom of the old nav, then B) Clicking into the wp-admin posts list screen, then

[2021-02-11 12:11] mmtr commented on #49944
I think this is incorrect, at least according to my tests. When the Classic editor plugin is not installed on my Atomic site, I don't see any Classic editor link when visiting `/wp-admin/edit.php`. The issue seems to be specific to Simple sites.

They still have the classic block, which is the "official" classic editor supported by us, at least according to the docs I linked above. ~I have the imp

[2021-02-11 12:22] ciampo opened #49991 "Plans data-store: is 'type' property needed in PlanFeature type?"
Seems like this is not needed, but we should investigate further in a separate issue

_Originally posted by @ciampo in https://github.com/Automattic/wp-calypso/pull/49595#discussion_r574458766_

[2021-02-11 12:28] aneeshd16 opened #49992 "Signup Domains Step: Suggestions show price as "free" for /start/free and /start/<monthly-plan> flows"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/start/free
2. Create an account.
3. Notice that the domain suggestions show the price as "Free".
4. Select a paid domain.
5. You are taken directly to the checkout page and the full price of the domain is applied.

This is also true for monthly plan specific flows which were added in #49601

#### What I expected to happen

If the

[2021-02-11 13:03] #49536 closed, assigned to ciampo

[2021-02-11 13:58] getdave commented on #49944
Note if we don't find any clear scenarios here then I'm going to add this as one of the items to test in our upcoming Beta 2 CfT.

[2021-02-11 14:09] razvanpapadopol commented on #49870
a fix is going to be released in https://github.com/Automattic/wp-calypso/pull/49961

[2021-02-11 14:10] razvanpapadopol commented on #49871
a fix is going to be released in #49961

[2021-02-11 14:44] getdave commented on #49175
I tried but could not replicate in either Chrome or Firefox. Is there anything else you've uncovered?

[2021-02-11 14:45] marianearchimbaud commented on #46205
Hi there!! I am not sure if this is the exact same issue, but I wanted to know if it was possible to add this request:
In the pricing page, we find this: https://wordpress.com/pricing/

And some uses are confused about these symbol/currency, as it also means "pesos".
Are we able to be a bit more specif with the currencies displayed here?
As this example? https://d.pr/i/HIrxW9
This issue was report

[2021-02-11 14:52] vindl opened #49994 "Site Editor: block patterns can't be inserted in Post Content block"
This is a Dotcom specific bug. After the latest updates in core we can insert block patterns in nested blocks, including template parts. However, for some reason inserting them in post content block doesn't work on Dotcom. This works fine in core with latest Gutenberg master.

[2021-02-11 15:07] frontdevde commented on #49175
Weird, I can still reliably reproduce the issue with the steps above.

Yes, after some sleuthing I've found the root of the issue: when resizing from a window where the sidebar doesn't fit to a window where it does, we don't remove the inline styles. I've found a solution, PR incoming.

[2021-02-11 15:21] getdave commented on #49826
To clarify this is not a blocker. There will be minor differences in color schemes between Calypso and WPAdmin.

We will continue on this if we’ve made sufficient progress on the blockers.

[2021-02-11 15:28] getdave commented on #49790
Just to be clear, since the `Blocker` label was removed this will now not be addressed at point of Nav Unification launch. If that is a major concern for anyone please let us know asap.

[2021-02-11 15:29] simison opened #49995 "Toggle component lost pointer"
Toggles lost pointer-cursor appearance on Calypso:

https://user-images.githubusercontent.com/87168/107658229-97a10480-6c8e-11eb-96cd-816bd835256b.mov

Works on Gutenberg:

https://user-images.githubusercontent.com/87168/107658255-9d96e580-6c8e-11eb-903b-28f44fb39a4d.mov

I assume we don't have the same CSS reset as core anymore?

[code]

cc @Automattic/team-calypso

[2021-02-11 15:31] aleone89 opened #49996 "Support user/mc/WP Admin switches to Super Admin Account (simple sites)"
_I'm not sure if this is something that will be cleared up when nav unification goes live and becomes universal._

When working with users sites, I've noticed that when I access certain parts of the backend of the site I'm redirected back to my own super admin account.

#### Steps to replicate

1. Go to a users site for example: https://landyourdreamjobs.wordpress.com/wp-Admin
2. Click on either o

[2021-02-11 15:32] sarayourfriend commented on #49995
Correct. I think we should open a PR in core to fix this (styles should be self-contained in component libraries and not depend on mysterious global stylesheets) but curious what the rest of Team Calypso thinks.

If we decide to do that, we can also implement a workaround for the time being in `_wp-components-overrides.scss`

[2021-02-11 15:34] johngodley commented on #49790
@getdave 👍  As far as I know the problem only affects an A8C user on a non-A8C P2020 site. I'll fix the P2 API issue above, and loop back here to see if it also fixes this problem, but otherwise it doesn't seem a blocker for nav unification.

[2021-02-11 15:40] mmtr commented on #49238
Reopening, since the fix will be included in the next Jetpack 9.4.1 release.

[2021-02-11 15:45] xpurichan opened #49997 "Subscription Email: Missing SSL on URL, showing http instead of https"
### Summary
A customer recently reported that one of their blog subscription emails was sent out and it contained a URL starting with `http` instead of `https`. This `http` URL was found at the bottom of the blog subscription email below the text "Trouble clicking? Copy and paste this URL in to your browser:"

Other HEs checked their own blog subscription notification emails and found they all had

[2021-02-11 15:46] simison commented on #49995
Meanwhile I'd short-term fix in Calypso, until long-term fix can be merged. It's better user experience to have pointer. :-)

[2021-02-11 15:52] vindl commented on #49968
Fixed in D56899-code.

[2021-02-11 15:52] #49968 closed, assigned to vindl

[2021-02-11 15:54] obenland commented on #49790
I can see the P2 Editor menu item on a non-a8c P2 with a non-a8c user (`obietester`).

![image](https://user-images.githubusercontent.com/1398304/107661689-5d0f7b80-6c3e-11eb-84f9-e1fd7a9f6d9f.png)

[2021-02-11 16:01] mmtr commented on #49790
I noted the menu is not registered in WP Admin when the `p2tenberg_admin_patterns` filter returns false (see `/wp-content/plugins/p2-editor/classes/p2-editor-admin.php#L38`), so we can likely do the same check in the `P2_Admin_Menu` class to mimic the behavior and make it more robust for future updates.

[2021-02-11 16:03] getdave commented on #49228
Sorry to delay here. Here's the launch date info: pbAPfg-Ou-p2#comment-2570

[2021-02-11 16:07] sarayourfriend commented on #43395
Closing as completed

[2021-02-11 16:07] #43395 closed

[2021-02-11 16:08] #43302 closed

[2021-02-11 16:08] #43303 closed

[2021-02-11 16:14] #38512 closed

[2021-02-11 16:16] johngodley commented on #49790
Oh, sorry, I didn't realise there was extra code in `class-p2-admin-menu.php` - I wasn't aware this existed, and obviously didn't read enough of the back-history to understand! The standard wp-admin menu will only appear for an A8C user on a non-A8C site, but the above file will change that on API requests. Adding an `is_automattician` there will mean it matches up with the rest of the P2 code.

T

[2021-02-11 16:34] deancroyal opened #50000 "Nav Unification: Active menu item, grey dotted border visible in dark-colored Dashboard color schemes"
### Steps to reproduce the behavior

1. Go to 'My Profile'. (wordpress.com/me)
2. Click on 'Account Settings'
3. Scroll to the bottom and choose 'Classic Dark' within the Dashboard color schemes; click Save interface settings to apply the color scheme.
4. Click on 'My Sites' to return to My Home.
2. Click on 'Purchases' menu item. (or any other menu item)
3. Click once more on 'My Home' menu item.

[2021-02-11 16:56] simison commented on #46854
Looks good!

- Should "Record flow start with props" include "has site title filled" or we can capture it with "Record site title change" anyway?

Are these not already in checkout related events?

How does it compare with current Calypso launch flow events? Will we be able to compare if customers get stuck to any specific decision?

[2021-02-11 17:10] sirbrillig commented on #46205
FWIW I _think_ the plans page is managed by @Automattic/martech-decepticons so perhaps they can weigh in here as well.

@michaeldcain did we ever create a new issue to track the plans page?

[2021-02-11 17:15] #49995 closed, assigned to sarayourfriend

[2021-02-11 17:42] nagpai commented on #49792
User reported that the issue has fixed itself.

[2021-02-11 17:43] #49918 closed, assigned to ciampo

[2021-02-11 18:08] pablinos commented on #49944
Could we start warning them now? If they click that link or in some other way end up navigating to wp-admin, we could show them a dialogue saying that soon they won't be able to do that but give them the opportunity to default to that experience? We did something similar with Gutenberg and it allowed us to collect opt-in/out stats too.

I think that's right @mmtr. It's slightly less efficient in s

[2021-02-11 18:12] scosgro commented on #36274
Another report in #3730058-zen

[2021-02-11 19:09] worldomonation commented on #22083
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue with an existing post on both SImple and Atomic sites. On both, the preview after setting the Featured Image features the correct image.

As the issue is no longer reproducible this issue is being closed with the label `Closed - Not Reproducible`.

[2021-02-11 19:09] #22083 closed

[2021-02-11 19:19] worldomonation commented on #14399
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce this issue:
![Screen Shot 2021-02-11 at 11 14 04 AM](https://user-images.githubusercontent.com/6549265/107686608-4d059500-6c5a-11eb-8730-7bedf0331d33.png)

Updated steps to reproduce:

1. Starting at URL: https://wordpress.com/me/notifications/subscriptions
2. En

[2021-02-11 20:31] cathymcbride commented on #49317
@ianstewart Can you address this? ☝️

[2021-02-11 20:40] ianstewart opened #50012 "Gutenboarding: Update starter designs to correct some button syntax issues"
The Headstart content for the following starter designs are out of date, creating an issue with misaligned buttons in the following designs when they're created via the WP.com/new flow.

- [x] https://alvesstarter.wordpress.com/
- [x] https://barnsburystarter.wordpress.com/
- [x] https://balasanastarter.wordpress.com/
- [x] https://maywoodstarter.wordpress.com/

**Note:** I also did a fresh update