[2021-12-03 11:08] Robertght commented on #57804
@Automattic/shilling is this something you can look into?

[2021-12-03 11:30] Robertght commented on #58648
Thank you for reporting this issue @filipanoscampos!

This appears to be specific to WordPress.com as I can't replicate on a self-hosted WordPress site.

[2021-12-03 11:38] Robertght commented on #58669
I can't seem to replicate this issue on my end at the moment.

@ClassicRKR27 could you share a little bit more details on how to replicate it?

[2021-12-03 11:49] Robertght commented on #58704
I can't seem to replicate this anymore. Could you give this another go @arunsathiya ?

[2021-12-03 11:51] Robertght commented on #58729
Thank you for reporting this @emilyaudela !

I can confirm this is a thing on my end as well.

[2021-12-03 12:23] Robertght commented on #58800
I was able to replicate this on a self-hosted site as well so I've reported it here:

https://github.com/WordPress/gutenberg/issues/37095

[2021-12-03 12:27] arunsathiya commented on #58704
@Robertght I can consistently reproduce the issue! It happens on Firefox, Edge, Safari, regular and private window, and even on a different device without work proxy or ad/tracker-blockers.

[2021-12-03 12:28] arunsathiya commented on #58704
This is a video of what I see: we can note that the issue occurs when leaving from wp-admin dashboard to themes page, but not from Calypso to themes page.

https://user-images.githubusercontent.com/18581859/144602545-a1c79ea3-13f5-4e2d-bac9-f4dc157884ba.mov

[2021-12-03 12:42] Robertght commented on #49023
This is still a thing. cc @jordesign

[2021-12-03 12:57] arcangelini commented on #57415
It does look like there are some inconsistencies around how the preview is showing in the Legacy block

| Jetpack | Simple site | Atomic |
|---|---|---|
| <img width="1391" alt="Markup 2021-12-03 at 13 32 33" src="https://user-images.githubusercontent.com/33258733/144603470-58bc13ff-4184-4602-b78f-b2ac82fc7da5.png"> | <img width="1105" alt="Markup 2021-12-03 at 13 33 47" src="https://user-images.g

[2021-12-03 13:31] sharonlaker19 commented on #57449
+1 at 33033942-hc

[2021-12-03 13:35] #58783 closed, assigned to WBerredo

[2021-12-03 14:39] jeherve commented on #57415
I'd say they're all a bit broken :) But maybe the Jetpack experience is a bit less broken at the moment?

[2021-12-03 14:54] andres-blanco opened #58812 "Videos UI: Register wpcom_courses_course_complete track event"
The track event added in D70952-code should be registered. And also PCYsg-DgC-p2 should be updated.

[2021-12-03 14:54] andres-blanco commented on #58812
667-gh-Automattic/tracks-events-registration

[2021-12-03 14:59] #58812 closed, assigned to andres-blanco

[2021-12-03 15:01] andres-blanco commented on #58777
`wpcom_courses_course_complete` Track event: https://github.com/Automattic/wp-calypso/issues/58812

[2021-12-03 15:17] Copons commented on #57820
Added this to our Iteration 3, but it's so minor that I'd just give this a quick investigation and only act if it's a quick win.

My hunch is that it'd be easier to make the Calypso version look like the wp-admin one, but it might be my front-end bias speaking.

[2021-12-03 15:20] andres-blanco commented on #58587
closed by: https://github.com/Automattic/wp-calypso/pull/58727

[2021-12-03 15:20] #58587 closed, assigned to nobody

[2021-12-03 15:30] jartes commented on #58742
Had another report on an Atomic site here: 4566493-zd-woothemes

I was able to reproduce on an Atomic test site, getting the following error:

[code]

[2021-12-03 15:32] jaswrks commented on #58806
Thank you for reporting. @southp Can Decepticons assist with this please?

[2021-12-03 16:02] mreishus commented on #58791
Some of this is already handled by #58747

[2021-12-03 16:11] sharonlaker19 commented on #58594
+1 at 31214254-hc

[2021-12-03 16:12] aerych commented on #57015
I'll defer to @unDemian as I'm a bit out of the loop these days.  cc @develric just in case there is anything relevant to y'all's interest here.

[2021-12-03 16:28] mreishus commented on #58791
Something strange is going on. See #58816

[2021-12-03 17:24] AtrumGeost opened #58819 "No option to add the Cookies and Consent Banner on Universal Themes without Widget Areas"
### Quick summary

While having a Universal Theme without Widgets active (which I think is any of the themes we have recently added starting with Geologist) the users won't have the option to add the Cookies and Consent Banner widget. Even when having FSE active.

### Steps to reproduce

1. Activate any of the recent themes starting with Geologist
2. Try adding the Cookies and Consent Banner
3. No

[2021-12-03 18:20] JoshuaGoode commented on #58712
Thanks for the report! Closing in favor of https://github.com/Automattic/wp-calypso/issues/56923

Your screenshots help paint a better picture, though.  Can you copy over your notes to a comment on that issue @masperber ?

[2021-12-03 18:20] #58712 closed, assigned to nobody

[2021-12-03 18:22] JoshuaGoode commented on #56923
Duplicate report with some additional context and screenshots: https://github.com/Automattic/wp-calypso/issues/58712

[2021-12-03 19:42] chad1008 commented on #58264
Reopening for the release of v12.0.2, which incorporates https://github.com/WordPress/gutenberg/pull/37010

[2021-12-03 20:17] andres-blanco commented on #58774
This is related to the way we are consuming course progressions. I will move the course completions information to the `/courses` endpoint.

[2021-12-03 20:25] andres-blanco commented on #58774
D71027-code

[2021-12-03 21:07] masperber commented on #56922
32749023-hc User has the same issue when adding or interacting with an Image block in their sidebar using retired theme Affinity.

I discovered that if the sidebar widget is edited through /wp-admin/ then the error does not occur. This seems to be a viable workaround for now.

[2021-12-03 21:58] chad1008 commented on #58264
Due some irregularities with e2e tests, v12.0.2 has been removed from edge tests, and v12.1.0-rc.1 is back on edge. See p1638560812232600-slack-CBTN58FTJ

[2021-12-03 22:16] cuemarie commented on #58594
268320-hc
Can work in Appearance > Widgets

[2021-12-03 22:31] cometgrrl commented on #58538
I was not able to reproduce this, however, for those that can, wouldn't a workaround be to refresh the page?  If so, I was thinking that this would be low priority.

[2021-12-03 22:56] mreishus commented on #58791
Ok, this should be resolved with this chain of PRs. However, some of them still need review+merging.

#58821 -> #58816 -> #58831

When that's done, we'll need to test the Theme Info page on Jetpack + Atomic.

[2021-12-03 23:13] pauloeaquino commented on #58594
Encountered in 24180832-hc (but when adding in a Buttons block)

[code]

[2021-12-04 01:19] worldomonation commented on #57958
Interestingly, I haven't seen this issue pop up at all since then. Granted the spec which includes this step (Signup: Paid) has been demoted to Quarantined tests, but they do still run every 3 hours, 7 days a week.

Will continue to monitor but if it isn't reproducible for some more time, it may be good to close this issue for now.

[2021-12-04 02:55] creativecoder commented on #58787
Potential fix at D71041-code.

Note that it's very possible this issue exists with other themes with starter content saved before Nov 28th, when D70425-code was deployed.

[2021-12-04 04:36] masperber commented on #56922
4567177-zen same issue when interacting with an Image block in the Customizer Widgets area. They are using a third-party theme Nucleare. Advised user to work around by going to /wp-admin/

[2021-12-04 06:46] kdevnel opened #58835 "Widget block editor: Error thrown in various scenarios with Image or Tiled Gallery Blocks"
### Quick summary

I am moving this issue from [this comment](https://github.com/Automattic/wp-calypso/issues/56922#issuecomment-984955683) as requested by @jeherve now that we have more details

Related to 4547072-zen

### Steps to reproduce

1. Activate Scratchpad theme.
2. Visit Customizer > Widgets
2. Add Tiled Gallery Block - see error immediately
3. Add image block
4. Try to Select Image, Up

[2021-12-04 06:47] kdevnel commented on #56922
@Camaropilot and @jeherve I've moved the issue reported [here](https://github.com/Automattic/wp-calypso/issues/56922#issuecomment-984955683) to it's own separate issue - #58835

[2021-12-04 10:54] carinapilar commented on #58594
Another report on 4557575-zd-woothemes.

[2021-12-04 11:04] jartes commented on #58835
Probably related (or same issue) as #58742

[2021-12-04 11:05] jartes commented on #58742
Another one on 33047027-hc

Installed Classic Widgets plugin as a workaround.

[2021-12-04 11:39] ajaykj commented on #53680
Another report in 30005213-hc. Twenty-Twenty theme.

[2021-12-04 13:30] iamgabrielma opened #58836 "Unable to register domain via "Best Alternative" at https://wordpress.com/domains/get/com"
### Quick summary

At the moment doesn't seem possible to register a domain by selecting "Best Alternative" via https://wordpress.com/domains/get/com . This was reported via 4566906-zen and we were able to reproduce it.

The console shows the following:

[code]

### Steps to reproduce

1 - Go to https://wordpress.com/domains/get/com
2 - Enter the domain testnewtest.com. (Checking availability some

[2021-12-04 13:46] ChrissiePollock commented on #55430
This is also requested in #4550686-zen

[2021-12-04 15:20] jackiejade commented on #58594
Another report: 33049946-hc

[2021-12-04 15:58] creativecoder commented on #58787
Resolved by D71041-code

[2021-12-04 16:57] MaxPhilip commented on #53750
Another case in 4568873-ZD. Let them know the workaround.

[2021-12-04 19:22] masperber opened #58837 "JavaScript when displayed on a Posts Page"
### Quick summary

JavaScript code does not seem to work when displayed on a site's Posts Page.

Here is a picture of my test site's Posts Page:

<img width="1264" alt="Screen Shot 2021-12-04 at 2 15 38 PM" src="https://user-images.githubusercontent.com/12906034/144721855-230dd6ce-df36-49ef-9c21-04964c549a66.png">

Here is a picture showing the individual post:

<img width="1267" alt="Screen Shot

[2021-12-04 20:10] NoHopeRadio commented on #41606
Another case where this was expected and taken for granted that it was already in place: 4547730-zen

[2021-12-04 20:23] jordesign commented on #49023
Thanks @Robertght  - as the /new/ flow might be on the way out (decision is pending) I might leave this issue as on hold for now.

[2021-12-04 22:41] happychait opened #58839 "Can't comment with Social Media accounts on Atomic sites."
### Quick summary

_No response_

### Steps to reproduce

1. Open the Discussion settings of the Atomic site:
2. In the `Comments` section enable the `Let visitors use a WordPress.com, Twitter, Facebook, or Google account to comment.` option.
3. Click the `Save settings` button.
4. Open a post to comment.

### What you expected to happen

The comment form should show the options to comment with Go

[2021-12-04 23:04] jamiepalatnik commented on #58594
Another report: 4568786-zd-woothemes

[2021-12-05 00:25] chrisfromthelc commented on #57804
I saw this pop up, so I updated the URL here: https://github.com/Automattic/wp-calypso/pull/58840

[2021-12-05 01:42] hacchism commented on #53626
Another instance: 4568840-zen

[2021-12-05 05:07] jordesign commented on #58698
Thinking on this a bit further and realising we may need to split these because different lists will be needed for:
* Users editing w/out FSE
* Users editing with FSE

[2021-12-05 08:46] poojashetty18 commented on #53626
4568840-zen (Simple site)

[2021-12-05 11:34] rickmgithub commented on #58594
Another one here - 4568590

Simple site. When I turned on the classic widgets there is no error. Instead is shows widgets titled "block" with block code inside them. I switched it back.

[2021-12-05 12:40] Nic-Sevic commented on #57449
another instance here: 33060339-hc
still happening with coblocks disabled which matches Joshua's findings

[2021-12-05 13:27] DanAntion commented on #51787
Just to let you guys know, I am still getting comments on a weekly basis
from followers who have been dropped from my blog.

I reported this problem at the end of March 2021 - that's almost nine
months ago! I've been dealing with this every month for almost nine months
and I think that is more than long enough.

Dan
------
Daniel Antion
***@***.***

On Thu, Oct 28, 2021 at 4:26 PM Jonny R. ***@***

[2021-12-05 13:41] i11za commented on #58594
Another report:

33000777-hc
4570668-zd-woothemes

Simple site, Radcliffe 2 theme. Was only able to replicate the error in Footer 1, but not in Footer 2 or Footer 3.

Recommended they use the Appearance > Widgets workaround for now.

[2021-12-05 15:18] kathrynwp commented on #58724
Seems like this is already being worked on here: https://github.com/Automattic/themes/pull/5148

[2021-12-05 15:19] i11za commented on #37080
Another report that seems to be related:

32672163-hc
4570439-zd-woothemes

It's still unclear whether this happened at the time of AT transfer, checking for more details.

[2021-12-05 15:34] ChrissiePollock opened #58842 "Add a locking option or at least edit history to notes in Simplenote"
### What

The customer wants to lock the notes written so no one else can change them or else if they do change or edit them it shows who did it.

### Why

They want to see what's going on with shared notes.

### How

_No response_

[2021-12-05 17:08] dolgelukkig commented on #57369
Another one with theme Hemingway Rewritten. I deactivated Page Optimize and AMP and that solved the issue
33037355-hc

[2021-12-05 17:16] happychait commented on #58839
Seems to be a Jetpack issue as a couple of us found out by testing further in p9F6qB-7Ma/#comment-44018

[2021-12-05 18:11] masperber commented on #56923
Copying context and screenshots from duplicate issue:

In WordPress Core, there is an option to disable multiple plugins through the bulk actions dropdown.

![](https://user-images.githubusercontent.com/12906034/144295716-9acf5204-00aa-41ad-9ce3-c4107fb8c0fb.gif)

On Atomic sites, this feature is not available.

![](https://user-images.githubusercontent.com/12906034/144295759-01d96332-9350-4820-a1

[2021-12-05 18:12] masperber commented on #58712
@JoshuaGoode comments and images copied. Thank you!

[2021-12-05 19:27] the-misha opened #58844 "Customizer menu editor hangs on load"
### Quick summary

When user selects Primary menu in the Customizer →  Menus, entire Customizer hangs, with no further interaction possible on the page, "Page Unresponsive" error message. Error duplicates this reliably, page reload required to get out of the hang. Other menus can be edited in the Customizer without a problem, and Primary menu can be edited from Appearance → Menus.

### Steps to re

[2021-12-05 20:02] i11za opened #58845 "FSE Site Editor (Beta): Editing the Post Title in Editor (Beta) Crashes the Editor"
### Quick summary

When editing a page/post in FSE Site Editor (Beta), editing the Post Title in Editor (Beta) crashes the editor.

### Steps to reproduce

1. Activate FSE Site Editor (Beta)
2. Add a new page/post or edit an existing page/post in Editor (Beta)
3. Edit Post Title

### What you expected to happen

Post Title is successfully edited.

### What actually happened

**1. Post Title block

[2021-12-05 22:37] JoshuaGoode commented on #58839
This appears to be theme-specific or another conflict as I cannot reproduce on my test sites.  I can try testing more later.

[2021-12-05 22:57] arinoch commented on #56742
Adding 4571217-zd-woothemes to the list of users who would benefit from this feature.

[2021-12-06 01:16] glendaviesnz commented on #58618
This is caused by a known incompatibility with the [new Gallery block and the WP core use_balanceTags option](https://core.trac.wordpress.org/ticket/54130).

We thought this only affected sites that had turned the deprecated `use_balanceTags` option on, but it turns out that the when `more` option is added to a post it forces the truncated content through the `force_balance_tags` option regardless

[2021-12-06 01:52] lsl commented on #58331
^ https://github.com/Automattic/wp-calypso/pull/58719

[2021-12-06 02:10] goblinartificer opened #58846 "Cover block: text changes color upon editing anything on the same page"
### Quick summary

Multiple users have reported that on live sites using the Cover block, the text has previously been white, and has since changed to grey or black (an unreadable color) after another unrelated element is edited.

- No change in the HTML of the block in Gutenberg seems to exist.
- The block looks the same with white text in the editor, it's the live view that has a different color

[2021-12-06 06:54] Robertght commented on #58800
This appears to be the expected behavior so I'll close it for now.

Ref: https://github.com/WordPress/gutenberg/issues/37095#issuecomment-986368214

[2021-12-06 06:54] #58800 closed, assigned to nobody

[2021-12-06 10:50] poeticabdul commented on #58594
Another report 4563565-zen

[2021-12-06 11:13] #58297 closed, assigned to gcsecsey

[2021-12-06 12:45] dlind1 commented on #56902
All the extensions should now be updated to include the `languages` folder in the release (see [this post](https://wooengineering.wordpress.com/2021/12/02/before-you-release-a-woo-extension/)). This is currently in progress.

[2021-12-06 13:13] gavande1 commented on #57755
The diff created at: D70920-code

[2021-12-06 13:19] cpapazoglou commented on #58322
We have decided:

- change the `install` endpoint to `POST` as @gavande1 suggested seems working for me.
https://github.com/Automattic/wp-calypso/blob/4537033c6794449ce0a10b69d72daf5fa658d553/packages/wpcom.js/src/lib/site.plugin.js#L74
and then `Jetpack_JSON_API_Plugins_Endpoint` in wpcom

so that we solve the `ads` problem. The cloudflare problem will be resolved in a separate issue as soon as w

[2021-12-06 13:24] cpapazoglou commented on #58508
Let's identify these scenarios and ask the user:

- (if plugin not already activated) Do you want to activate the plugin? -> activates the plugin
- Do you want to replace the plugin? -> redirects to WP Admin

[2021-12-06 13:27] Robertght commented on #58844
Hey @the-misha !

Thank you for reporting this!
I haven't seen other similar cases, however, could you share with us the following:

- Was a conflict test run in the process?
- Were you able to replicate this on a test website?
- If this doesn't help, could you include the interaction ID?

[2021-12-06 13:33] Robertght commented on #58704
I had another go at this and I can't replicate it in either Firefox(fresh installation) or Chrome.

@jordesign tested this as well but no dice

@mmtr for a second look if you have the bandwidth(thanks!)

[2021-12-06 13:45] Robertght commented on #58837
@masperber Custom code is allowed on Atomic sites, however, the current code is quite custom.

For further troubleshooting, the user will need the assistance of a developer, in this case, however, they can also consider using a plugin as a solution.

Ref: https://www.wpbeginner.com/wp-tutorials/how-to-easily-add-javascript-in-wordpress-pages-or-posts/

[2021-12-06 13:45] #58837 closed, assigned to nobody

[2021-12-06 13:56] Robertght commented on #58836
@Automattic/pod-domains is this something that can be looked into by your team?

[2021-12-06 14:34] chriskmnds opened #58858 "Tour Kit: Explore use in/for Guided Tours"
### Details

A few folks have raised concerns with the current [Guided Tours](https://github.com/Automattic/wp-calypso/blob/trunk/client/layout/guided-tours/README.md) (P2: PCYsg-ae7-p2) setup. It was also not exactly recommended when exploring similar functionality for the Welcome Tour (hence the [Tour Kit](https://github.com/Automattic/wp-calypso/tree/trunk/packages/tour-kit) package eventually

[2021-12-06 14:37] autumnfjeld opened #58859 "Blogger & Build Hero Flows: ship to all languages"
## Background
In  #56862 we released the Blogger & Build Hero flows to en users only.   Translations are now ready, and we can begin the process to release to all customers.
https://translate.wordpress.com/deliverables/overview
https://translate.wordpress.com/developer/arthur791004

## Prioritised Task List
- [x] #58872
- [x] Post a CfT pdtkmj-1y-p2
- [x] Fix draft post modal translations p1638860

[2021-12-06 14:56] mmtr commented on #58704
Cannot reproduce either, don't know what's causing this issue 🤔

This is the exact line of code where we modify the "Appearance > Themes" submenu:

https://github.com/Automattic/jetpack/blob/ec5d8c7ffa4e33c0b8c918eea36fbf826e6e63c4/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L343

Note how the slash (`/`) between `wordpress.com/themes` and the site domain is hardcode

[2021-12-06 15:06] tellisbethel commented on #58137
Hey @ivan-ottinger! I think I managed to reproduce the issue. I added an MP4 file via the File block onto a page that I had set to a draft. I then clicked the download button on that page's preview which opened the file in a new tab and played it. This generated the first download count in the Jetpack Stats. From there, I selected the video file from the Jetpack Stats section which opened the vide

[2021-12-06 15:11] rafaelgalani commented on #58836
I managed to reproduce it locally - it was apparently introduced by #54641, after adding `siteUrl` as one of the `providedDependencies` items. I'll create a PR to fix it.

[2021-12-06 15:28] andres-blanco commented on #58775
This diff and PR implements this change: D71068-code, https://github.com/Automattic/wp-calypso/pull/58863

[2021-12-06 16:07] kathrynwp commented on #58594
Another report in 31771460-hc

[2021-12-06 16:27] kwight commented on #56888
Integration with the hero flow is being handled in #58234 .

[2021-12-06 16:30] ivan-ottinger commented on #58137
Hey @tellisbethel! Thank you for the details! That helps.

I was able to reproduce the issue this time. It looks like I probably hadn't managed to reproduce it before because of a longer delay between opening the file link and the updates states being displayed on the Stats page.

I will take a closer look and update this issue once I know more.

[2021-12-06 16:47] #58724 closed, assigned to nobody

[2021-12-06 16:50] zaguiini commented on #58663
I'm planning on testing `Universal Blank` today. Any concerns?

[2021-12-06 16:54] creativecoder commented on #58663
Sounds good! The "Blank Canvas" theme from the normal (non-FSE) `/new` flow might be a good reference point to test against:

<img width="250" alt="image" src="https://user-images.githubusercontent.com/1699996/144888103-b054c643-d5f8-4f00-b583-add1a4fb9b95.png">

[2021-12-06 17:14] CodeAllNightNDay commented on #30200
This user would like for there to be a way to search for followers as well. 33080218-hc

[2021-12-06 17:21] #57804 closed, assigned to chrisfromthelc

[2021-12-06 17:55] khristiansnyder commented on #46623
I'm still seeing this issue on AT sites, making it confusing for users trying to update the color of list blocks. Text Color is listed twice, but it seems the second one is what is applied on the front end:
![Markup on 2021-12-06 at 09:52:16](https://user-images.githubusercontent.com/41035049/144896781-13d17aba-ce50-4d95-900f-2dce46ad6248.png)

[2021-12-06 18:01] creativecoder commented on #58787
Reopening, as there's another error showing for the Post Title block

<img width="300" alt="image" src="https://user-images.githubusercontent.com/1699996/144897817-3de40584-05f3-4dd2-9022-7c49cbaf19ed.png">

[code]

[2021-12-06 18:11] zaguiini commented on #58787
That is fixed in the latest version of Gutenberg. I saw that and simply running the latest version (not the production one) fixed it.

[2021-12-06 18:40] creativecoder commented on #58787
Thanks so much @zaguiini !

I've confirmed that when running Gutenberg trunk on the site I don't see the error... seems I can keep this closed after all.

[2021-12-06 18:40] #58787 closed, assigned to creativecoder, jeyip, zaguiini

[2021-12-06 18:57] sdixon194 opened #58900 "Jetpack Connection Card: Long Email Addresses Don't Wrap"
### Impacted plugin

Jetpack

### Steps to Reproduce

As initially reported during internal testing: p8oabR-L4-p2#comment-5663

When connecting to Jetpack, long addresses can break out of the container:

![Screen Shot on 2021-12-06 at 13:55:04](https://user-images.githubusercontent.com/33553323/144905361-8500eb96-149f-4624-bc56-de14c3ab4ffe.png)

### A clear and concise description of what you exp

[2021-12-06 18:57] metabreakr commented on #53102
32953245-hc

[2021-12-06 19:53] csonnek commented on #58594
Another report in the forums (Morden theme - footer widgets area). https://wordpress.com/forums/topic/bug-in-modern-theme/?view=all

Advising the workaround for now.

[2021-12-06 19:58] worldomonation opened #58868 "Flaky E2E: View site"
### Spec file

wp-user__notifications.ts

### TeamCity ID

7081414

### Logs

[code]

[2021-12-06 19:59] worldomonation commented on #58868
![image](https://user-images.githubusercontent.com/6549265/144913767-041b6d02-6c39-4894-99bf-fa93266c40e0.png)

[2021-12-06 20:01] worldomonation commented on #58868
The immediate problem is that number of comments on this post has grown to the point where `page.goto` isn't able to complete loading of the page.

[2021-12-06 20:38] zaguiini commented on #58663
## Testing Universal Blank
### Requirements

Tested both the editor + frontend

Default Content
- [x] Default content loaded for Universal Blank matches the Blank Canvas demo site (there is no demo site for Universal Blank yet)
- [x] No broken blocks on initial load

Block Patterns
- [x] "Footer" pattern looks like its preview
- [x] "Gallery" pattern looks like its preview
- [x] "Link in bio" patt

[2021-12-06 20:39] delputnam commented on #58836
I can confirm that this fixes the issue.  I'll go ahead and close this one, but please feel free to re-open if you see anything else wrong.

[2021-12-06 20:39] #58836 closed, assigned to nobody

[2021-12-06 20:54] zaguiini commented on #58663
https://github.com/Automattic/wp-calypso/pull/58869

[2021-12-06 21:03] kwight commented on #58206
Any progress on this @ollierozdarz ? If not, just let us know, and we can come up with something too. 👍

[2021-12-06 21:14] #58774 closed, assigned to andres-blanco

[2021-12-06 21:32] creativecoder opened #58870 "FSE Beta: Add Seedlet (Blocks) and Mayland (Blocks) themes"
### What

Add Seedlet (Blocks) and Mayland (Blocks) and themes as FSE Beta design choices. These are related to the original Seedlet and Mayland themes, but use Blockbase as a parent theme so they are "universal" and compatible with the Site editor in the FSE Beta.

### Why

Continue to increase the number of design choices for the FSE Beta.

### How

- Network activate themes (requires discussion

[2021-12-06 21:45] worldomonation commented on #58868
Immediate solution (actioned): create a new post for the tests to continue on.

[2021-12-06 21:45] worldomonation commented on #57958
Deciding to close this for now, since in the 3+ weeks since reporting it hasn't happened again.

[2021-12-06 21:51] worldomonation commented on #57958
Okay, as soon as I wrote the above and closed this issue, I found an instance of it happening.

TeamCity: https://github.com/Automattic/wp-calypso/pull/58833

@sirbrillig How would I be able to look up the logs for a run at 15:03 UTC on December 6?

[2021-12-06 22:03] sirbrillig commented on #57958
The easiest thing is probably to examine the visual recording of the e2e test run; you should be able to see the error message displayed on the page when signup fails. I'm not sure where to find that in this particular case.

Alternatively, we may be able to find an error in the server logs at that time, although some errors might not show up. Do you know what the username is for the user that ran

[2021-12-06 22:21] worldomonation commented on #57958
I will try looking in the trace file later today, that should tells us more.

The user that ran the test is `e2eflowtestingpaid1638802915108`.

[2021-12-06 22:22] kwight commented on #58775
@andres-blanco I don't see how they solve this issue? I'd expect #58863 to have a check and a fallback value.

[2021-12-06 22:25] kwight commented on #57246
We've determined that we need a non-dev to be able to:

* upload a video,
* create, update, sequence, and delete a course,
* add videos to courses.

[2021-12-06 22:25] #57246 closed, assigned to kwight

[2021-12-06 22:27] kwight opened #58873 "Videos UI: Try to implement course management with existing post types."
Let's try to implement course management with existing post types. This means `attachment` for videos, and `post` for courses. Both will need to have some custom meta fields added, as well as the ability to have tags assigned to attachments (the tag slug would effectively be the course slug).

[2021-12-06 22:34] kwight opened #58874 "Videos UI: Try to implement course management with custom post types."
Let's try building the course management with a plugin registering custom post types for courses and videos. Courses would have fields for:

* title,
* CTA action,
* CTA description,
* CTA URL

... while videos need fields for:

* title,
* description,
* duration in seconds,
* poster image,
* seconds to be considered a completed video.

[2021-12-06 22:35] the-misha commented on #58844
Hi, @Robertght! I did run conflict testing, and wasn't able to replicate the issue on a test site. However, the issue appears to have fixed itself in the intervening 24 hours. :)

[2021-12-06 22:35] #58844 closed, assigned to nobody

[2021-12-06 22:36] arinoch opened #58875 "Warn before nuking a user's existing MX records."
### What

When a user purchases email services from us, 1: check to see if they have existing MX records already (we do this, I believe, with email forwarding but haven't tested), and 2: warn them that by purchasing email service from us, whether hosted email through Google or titan or an email forwarder, that they're about to nuke their existing email if they have any.

### Why

I've seen inciden

[2021-12-06 22:38] kwight opened #58876 "Videos UI: Update library function to use the course management system."
Currently, our one course is hard-coded. Once we have a course management system built out, we'll need to switch the library over to using it.

[2021-12-06 22:46] creativecoder opened #58877 "FSE Beta: Hide block-only themes from non-FSE beta sites"
### What

Allow launching block-only themes (block-based themes that are not universal themes) on WP.com, but only allow them to be used on sites enrolled in the FSE Beta.

(Note this only affects Simple sites, Atomic will always be able to activate any theme the admin can install.)

### Why

Themes that are added to the FSE Beta (currently via the design picker step of the `/new` onboarding flow)

[2021-12-06 22:55] arinoch commented on #58089
I had an opportunity to test this while investigating another issue and can confirm this was fixed and I should not GitHub after dark. Closing this on my end.

[2021-12-06 22:55] #58089 closed, assigned to arcangelini

[2021-12-06 23:07] mreishus commented on #58791
All three PRs above are deployed.
Need to test the theme info page with actual softlaunched premium themes, in addition with jetpack and atomic.

[2021-12-06 23:07] worldomonation commented on #57958
Looking in the trace file, there are two identical errors at the plan selection screen:

[code]

[I've seen this before](p1637252482014700-slack-C1A1EKDGQ), but there was no solution that we reached in the thread. There is another [older thread](p1624280629449000-slack-C01VA100LEA) which also mentions the string `No current user found`, but that's in the context of Happychat.

What it sounds like

[2021-12-07 00:07] sirbrillig commented on #57958
That seems to confirm my suspicion that there was some sort of auth or race condition that was preventing the cart endpoint from working (since it require a user). I've seen suggestions of this before in various places but I haven't been able to track it down. I think the issue is with the user creation part of signup (and the links you shared above seem to agree) and I don't know much about that

[2021-12-07 00:12] worldomonation commented on #55954
So, it looks like our current `wp-like__comments-spec` covers this.

The course of action here would be:

- migrate the above specs to use TypeScript.
- ensure the specs run as part of `gutenberg` and `calypso-pr` groups.

[2021-12-07 00:44] autumnfjeld opened #58879 "Refactor the styles of Design Picker in Hero Flow into the package as we want to make it consistent in our site"
## Refactor Design Picker Styles

The following description was taken from https://github.com/Automattic/wp-calypso/pull/58622#pullrequestreview-823479835

I noticed in Ollie's mockups he's generally using two columns of thumbnails, and the width of the category sidebar is wider, like we use in /start. Since we're unifying the styles, this could be a good time to roll the style overrides we do in

[2021-12-07 01:04] worldomonation opened #58882 "Flaky E2E: Tracks "wpcom_block_editor_post_publish_add_new_click" event"
### Spec file

wp-editor__tracks-events.ts

### TeamCity ID

7079831

### Logs

[code]

[2021-12-07 01:48] happychait commented on #58839
Closing this as non-issue.

Chrome was blocking cookies. Enabling `Allow cookies` brought back the social options on the comments form in Chrome.

Works in Firefox too.

[2021-12-07 01:48] #58839 closed, assigned to nobody

[2021-12-07 01:54] worldomonation commented on #58882
@p-jackson Hi 👋  I know you originally implemented this back in https://github.com/Automattic/wp-calypso/pull/55697 and it appears that this test is one of the two that are permanently failing dating back to November 20.

I'm trying a few things to get this working again, but I am only able to get an `undefined` value for the event:

[code]

I see that when the `Add New Post` button is clicked tha

[2021-12-07 02:04] worldomonation commented on #58882
Other things I've tried:

- wrapping the call in a `Promise.all()`
- using `page.route()` to abort all requests arising from the click

[2021-12-07 02:50] arthur791004 commented on #58429
Close this issue as we have already shipped it and I've also updated the document in FG: PCYsg-D3C-p2.

[2021-12-07 02:50] #58429 closed, assigned to nobody

[2021-12-07 05:30] ollierozdarz commented on #58206
Nothing on it yet from my end @kwight. Happy to collaborate ideas back and forth.

[2021-12-07 05:31] ollierozdarz commented on #58763
Thanks @autumnfjeld. I say lets get this one resolved then I can look at designing something nicer as I clear my plate 🙂

[2021-12-07 05:38] ollierozdarz commented on #58372
Great work, @kristastevens! @autumnfjeld, Figma designs are now updated with the new copy.

[2021-12-07 05:50] Greatdane commented on #57687
This still appears to be a bug on `Gutenberg v12.1.0-rc.1` - re-opened and added tag `Gutenberg RC Testing`

[2021-12-07 06:42] sarahcada opened #58888 "Text highlight color picker link in Customizer tries to open a new tab"
### Quick summary

In Customizer, clicking on the color picker in text highlights brings up the warning about opening a new tab and navigating away from the page. This doesn't happen in the page/post editor.

### Steps to reproduce

1. Start at /wp-admin/customize.php
2. Go to any widget area and add any block that let you add text (Paragraph is easiest)
3. Select the text and click the downward a

[2021-12-07 07:15] unDemian commented on #57015
Sorry for the late response, I was AFK, I commented on https://github.com/Automattic/wp-calypso/pull/58324

[2021-12-07 08:38] devNigel commented on #56468
Another report: 32963141-hc

Follow up: 4575333-zen

[2021-12-07 08:48] poligilad-auto opened #58895 "Task: Update styling of all confirmation pages, based on new Marketplace confirmation page"
### Details

Following the [recent update](https://github.com/Automattic/wp-calypso/pull/58668) to the Marketplace confirmation page, we would like to apply this style to all existing confirmation pages.

We would need to make sure that all pages work correctly after this update.

@cpapazoglou, who do you think we can ping to look into this?

### Related

https://github.com/Automattic/wp-calypso/p

[2021-12-07 08:59] ivan-ottinger commented on #58137
Alright. Turns out that the Stats File Download feature was built in a way that _all_ file requests are recorded. This means that it doesn't matter if the user is logged in as administrator or any other (e.g. anonymous) user.

Also, every _file request_ is recorded. As a result, the download count is increased even if the file is opened in a browser (as opposed to being downloaded to the desktop f

[2021-12-07 09:19] cpapazoglou opened #58898 "Marketplace: Translate upcoming woo extensions"
We decided to include the following woo extensions in the Marketplace:

- [x] ~~Follow-Ups~~
- [x] ~~Checkout Field Editor~~
- [x] FedEx Shipping Method
- [x] WooCommerce Deposits
- [x] WooCommerce Points and Rewards
- [x] WooCommerce One Page Checkout
- [ ] ~~PayPal Payments Pro~~
- [x] WooCommerce Pre-Orders
- [x] Min/Max Quantities
- [x] Product Vendors
- [x] Jetpack Search (New)
- [x] WooComme

[2021-12-07 10:24] razvanpapadopol commented on #56709
This should be unblocked now since [mobile/desktop logic has been already introduced](https://github.com/Automattic/wp-calypso/pull/58658/commits/4b16993ba4668994e170e89303666dda2d12b645) by @escapemanuele in #58658

[2021-12-07 10:30] StefanNieuwenhuis commented on #56709
We should wait for #56347 to be shipped before merging this one since it contains changes relevant to this issue.

[2021-12-07 11:03] philnick206 opened #58904 "Paragraph block: when selecting multiple paragraph blocks you are not able you to change the typography settings"
### Quick summary

Selecting multiple paragraph blocks used to provide the option to change the typography settings on all the selected blocks. That option seems to no longer be available.

Example: https://en-support.files.wordpress.com/2020/12/settings_several_paragraphs.gif?w=666&zoom=2

![settings_several_paragraphs](https://user-images.githubusercontent.com/6737345/145019774-cef3f99a-e0ff-496

[2021-12-07 11:15] Robertght commented on #58904
I think this changed with the latest releases, but I can't seem to find one that matches the Gutenberg repo.

cc @Automattic/flow-patrol-create or @chad1008

[2021-12-07 12:37] andres-blanco commented on #58775
I was talking about the change from `duration` to `duration_seconds`. I will add the fallback to #58863

[2021-12-07 12:45] iamgabrielma commented on #58323
Adding here the case 4459815-zen so we can follow up when there's an update.

[2021-12-07 13:39] Nic-Sevic commented on #52596
p1638882010280300-slack-C03TY6J1A - similar case here where `full-site-editing` was deactivated after site launched but coming soon persisted in calypso. Site was set to public and displayed public.
To resolve had to activate fse plugin > set to private > save > set to public > save > deactivate fse plugin (because user didn't want, not because flag persisted)

[2021-12-07 14:23] retrofox commented on #55132
Ran into this in 4576379-zd-woothemes too

[2021-12-07 15:01] LauraSWP commented on #56922
Related: 3623900-hc They are tiled columns gallery blocks and editing anything and saving breaks the block. Adidng an image and trying to insert it also breaks it.

[2021-12-07 15:12] sixhours commented on #58792
Potential/partial solution started in D71093-code

[2021-12-07 15:14] #58163 closed, assigned to bogiii

[2021-12-07 15:52] creativecoder commented on #58870
Related discussion: pNEWy-exw-p2

[2021-12-07 16:07] chad1008 commented on #58904
Thanks for the ping @Robertght

This is a side effect of the move to the ToolsPanel UI that was introduced in Gutenberg 11.9: https://github.com/WordPress/gutenberg/pull/33744 (cc @aaronrobertshaw)

I am able to reproduce locally on a vanilla WP install running the Gutenberg plugin and on an Atomic test site.

Since this isn't isolated to wpcom, I've opened a core issue here:
https://github.com/Wo

[2021-12-07 16:57] creativecoder opened #58911 "FSE Beta: Move/rename the Site editor option menu item"
### What

Since the Site Editor wp-admin menu item was renamed to "Editor" and moved to the Appearance section, we have this situation

<img width="180" alt="Screen Shot 2021-12-06 at 14 44 07" src="https://user-images.githubusercontent.com/1699996/145072010-ec36d848-b46f-42fc-9b66-35eece52b3f2.png">

Note that the "Site Editor (beta)" item shows up only for proxied users on Simple sites, but for

[2021-12-07 17:33] gcsecsey commented on #56349
I’ve looked into this a bit, the existing `isMarketplaceProduct` function is in the `calypso-products` package, which contains only constant values and functions that select from those.
https://github.com/Automattic/wp-calypso/blob/1ea9195e359dd047b88952635054c8a1eab6d3a3/packages/calypso-products/src/is-marketplace-product.ts#L3-L5

I'm not sure which approach to choose to have the selector work

[2021-12-07 17:48] #58251 closed, assigned to kwight, andres-blanco

[2021-12-07 18:01] rcrdortiz commented on #48243
I've been taking a deeper look into the issue and these are my findings regarding badges:
* Popup builder uses JS code to set the badge count on runtime. We can't modify the badge parser since the title of the menu does not include the badge count.
* HubSpot badges are working as expected and the parser is picking them up correctly.
Do we have other examples of plugins with custom HTML code for ba

[2021-12-07 18:32] nelsonec87 commented on #58706
@sixhours What about this one?

![image](https://user-images.githubusercontent.com/3801502/145085992-9f108b58-4a7a-4d94-ab25-d7256caf3220.png)

May I remove it as well?

It seems the "Setup" option is shown only for premium themes

[code]

If it's not gonna be shown for premium, I can even remove this whole check.

[2021-12-07 18:58] DavidRothstein opened #58916 "[Bug]: Broken layout for the auto-renew toggle on the purchase management page"
### Quick summary

The auto-renew toggle on the purchase management page is badly misaligned, possibly a side effect of the recent backup payment method work (although I'm not sure).  There are some other minor layout issues as well.

### Steps to reproduce

Go to https://wordpress.com/me/purchases and click on a subscription.

### What you expected to happen

The toggle would be shown underneath

[2021-12-07 19:41] allilevine opened #58921 "Block editor: Cover block in layout grid has higher z-index than mobile navigation block"
### Quick summary

Reported in 4548665-zd-woothemes

Cover block in layout grid has higher z-index than mobile navigation block:
Menu closed | Menu open
------------- | -----------
<img width="427" alt="Screen Shot 2021-12-07 at 2 32 46 PM" src="https://user-images.githubusercontent.com/1689238/145094169-8d647cf0-0139-4185-9cdd-2ca72d9aef51.png"> | <img width="429" alt="Screen Shot 2021-12-07 at 2

[2021-12-07 20:05] msilbers opened #58923 "Plugins: Installs currently throw errors in Marketplace"
## Workaround

If the site is already Atomic, users can visit the WordPress core plugins page at `/wp-admin/plugin-install.php` to search for and install plugins.

---

### Quick summary

Customers cannot install plugins right now from the Plugins page/marketplace view.

### Steps to reproduce

1. Navigate to Plugins > Add New
2. Search for or click any plugin
3. Click on Install and Activate

###

[2021-12-07 20:10] sstabrizi commented on #58923
Another report in 32066768-hc

[2021-12-07 20:13] Robertght commented on #58923
I can confirm this is an issue. cc @cpapazoglou

[2021-12-07 20:16] ClassicRKR27 commented on #58923
Have two reports: 32860896-hc 4577410-zd-woothemes

[2021-12-07 20:18] autumnfjeld commented on #58879
@arthur791004 @p-jackson I copied details from Phil's comment into the issue description. Will let you guys update it if needed.    I think this isn't addressing bugs or user facing issues, so it is probably lower priority than feature work.

[2021-12-07 20:18] desnum commented on #58923
Another case in 32571118-hc

[2021-12-07 20:19] #58370 closed, assigned to worldomonation

[2021-12-07 20:19] AtrumGeost opened #58924 "Independent Publisher 2: Footer credit is always displayed on AT sites with infinite scroll"
### Quick summary

The option to hide the footer credit is not respected on AT sites with infinite scroll enabled.

### Steps to reproduce

1. On an AT site activate the Independent Publisher 2 theme
2. Make sure Infinite Scroll is enabled
3. Go to **My Site > Appearance > Customize > Site Identity** and set the Footer Credit to Hide
4. Notice the footer credit is still displayed:

![Screen Shot o

[2021-12-07 20:21] JoshuaGoode commented on #58923
#### Workaround

If the site is already Atomic, users can visit the WordPress core plugins page at  `/wp-admin/plugin-install.php` to search for and install plugins.

[2021-12-07 20:29] sstabrizi commented on #58923
Another report here 33101632-hc

[2021-12-07 20:35] lunasera41 commented on #58923
Another report here 4577346-zd-woothemes
Asked user to use workaround of accessing through ```/wp-admin/plugin-install.php```

[2021-12-07 21:02] kriskorn commented on #58923
Fixed via [Dispatch action to recognize plugin click on installation flow. #58926](https://github.com/Automattic/wp-calypso/pull/58926).
Closing the issue.

[2021-12-07 21:06] jjchrisdiehl opened #58927 "[Bug]: Popover component styling breaks on smaller browser sizes"
### Quick summary

The [Popover component's](https://wpcalypso.wordpress.com/devdocs/design/popover), and subsequently the InfoPopover component, functionality breaks when used in conjunction with media queries that hide the parent button that the Popover is linked to. This tends to happen on pages like Plans where the number of columns shrinks as the browser width is narrowed.

It appears that wh

[2021-12-07 23:13] creativecoder commented on #58911
Pinging @Automattic/cylon for ideas.

Maybe renaming this to something like "Full Site Editing (beta)"? What do you think?

[2021-12-07 23:17] creativecoder opened #58930 "FSE Beta: Recommended and Full Site Editing tabs are duplicated in the Themes showcase"
### What

**Current**

<img width="400" alt="Screen Shot 2021-12-06 at 14 43 28" src="https://user-images.githubusercontent.com/1699996/145072982-eed96c77-2a63-4033-8f2a-ec5b9028eac1.png">

The "Full Site Editing (beta)" and "Recommended" tabs in the Theme showcase currently show the same things for FSE Beta sites. This seems unnecessary.

How about removing the extra tab and renaming "Recommended

[2021-12-07 23:18] creativecoder commented on #58930
Pinging @Automattic/cylon for any feedback or additional ideas.

[2021-12-07 23:42] tanjoymor commented on #58594
Another report: 4571515-zen

Advised to access from Appearance > Widgets for now instead.

[2021-12-07 23:42] creativecoder commented on #58877
Work on the Calypso themes showcase started in D71156-code by @mattwiebe .

[2021-12-07 23:43] tanjoymor commented on #58594
Another report: 4557903-zen

Advised to access from Appearance > Widgets for now instead.

[2021-12-08 01:48] devNigel commented on #54678
Another case: 33104796-hc
Follow up: 4578129-zen

[2021-12-08 01:48] devNigel commented on #57991
Another case: 33104796-hc
Follow up: 4578129-zen

[2021-12-08 02:33] arinoch opened #58933 "WordPress for Mac 7.2: Previewing from the editor does nothing."
### Quick summary

the WordPress.com app for Mac, version 7.2, will not preview posts from the editor. Was reproduced by the HC who handled this ticket before me.

### Steps to reproduce

1: Open version 67.2 of the WordPress.com app, try to edit any post.
2: Choose to preview that post.

### What you expected to happen

The live preview of the post should load.

### What actually happened

Nothin

[2021-12-08 02:34] arinoch commented on #57812
+1: 4563212-zd-woothemes

both Safari and Firefox. Having them try the workarounds listed above.

[2021-12-08 03:05] nagpai opened #58935 "Feature Request: User facing Import stall / reset button"
### What

Currently after a user initiates an import there is no reset button

### Why

User suggested in 33105667-zen for a user facing reset button.

Currently they need to approach support, who can then reset importer state from Blog RC .

### How

_No response_

[2021-12-08 04:05] aaronrobertshaw commented on #58904
Thanks for the ping. I'll take a look and update the core issue directly 👍

[2021-12-08 04:48] Greatdane opened #58937 "Adding a Twitter Block to a widget on a simple site breaks the block."
### Quick summary

If you add a Twitter Block and enter a URL as suggested to a widget on a Simple Site, the block will glitch out. You are then unable to edit/delete the block.

Image:
<img width="1532" alt="Markup 2021-12-08 at 13 42 55" src="https://user-images.githubusercontent.com/5075840/145149499-7f5f8e1f-b022-48bf-8eb1-0234f60a685f.png">

Video:
https://user-images.githubusercontent.com/50

[2021-12-08 04:53] Greatdane commented on #58937
Update: The bug seems to have when you enter an INVALID URL into the Twitter feed. If you enter a valid URL, such as `https://twitter.com/PressSec`, the block behaves as intended.

On Atomic and self-hosted, entering an invalid URL gives an error rather than a glitch.

[2021-12-08 05:01] Greatdane commented on #57120
I cannot reproduce this and it looks like the initial site issue was solved; 4405470-zd-woothemes

I suspect it was some CSS or AMP options causing the menu not to appear. Closing for now.

[2021-12-08 05:01] #57120 closed, assigned to nobody

[2021-12-08 05:03] Greatdane commented on #58705
I agree that the search function could do with some love. For example, even if I search 'home' on my site, the page titled 'home' does not show up first. I am not sure which logic is used for searching.

[2021-12-08 05:20] Greatdane commented on #58686
Confirmed.

This could be a core Gutenberg issue as I also could not get it to work on as self-hosted site.

[2021-12-08 05:31] inaikem commented on #58937
@Robertght, maybe one for @Automattic/flowpatrol? 🙏

[2021-12-08 05:48] Greatdane commented on #58694
Confirmed;

https://user-images.githubusercontent.com/5075840/145155280-8af44668-f9fd-4244-a580-acb3028b4e81.mp4

[2021-12-08 06:02] nagpai commented on #52605
Issue fixed by this
1320-gh-Automattic/en.support-docs-content

[2021-12-08 06:02] #52605 closed, assigned to nobody

[2021-12-08 06:08] arunsathiya commented on #58704
Thanks for testing, @mmtr! @jordesign, @Robertght and I spoke here on Slack: p1638941988427700-slack-C01UW7SB411

We have narrowed down the issue to site addresses starting with `premium` and `free`. `personal`, `business` and `eCommerce` are fine. Example links:

- premiumtest974580663.wordpress.com
- free826406317.wordpress.com

These are fine:

- personal960590923.wordpress.com
- ecommerce96299

[2021-12-08 06:17] jordesign commented on #58704
@kwight @sixhours is it possible that the old URL routing/filtering for the Theme showcase used /free/ and /premium/ to show those sets of themes (before we removed premium themes) and those strings are now being removed on the Theme showcase?

[2021-12-08 06:45] gavande1 commented on #58701
Reserved for onboarding!

[2021-12-08 06:45] gavande1 commented on #58506
Reserved for onboarding.

[2021-12-08 06:49] gavande1 commented on #58505
The destination for the CTA will be the add new plugin page. @cpapazoglou Please correct me if I'm wrong.

[2021-12-08 06:50] gavande1 commented on #58505
Reserved for onboarding.

[2021-12-08 09:03] Robertght commented on #58888
Thank you for reporting this!

I can't seem to replicate it at the moment.

@sarahcada can you let us know if this occurs in Chrome?

[2021-12-08 09:16] Robertght commented on #58819
cc @jeffikus or @Automattic/flow-patrol-create

[2021-12-08 09:25] aaronrobertshaw commented on #58904
A WIP in progress fix is up in https://github.com/WordPress/gutenberg/pull/37216.

[2021-12-08 09:50] mmtr commented on #48243
I rather consider that a bad practice since it's not using the functions recommended and supported by Core to manipulate a  menu, so I agree we shouldn't expand our parser to support these edge cases.

Can you clarify what you mean with _the "dashicons-admin" namespace_? If they are using a Dashicon, wouldn't the logic execute [this path](https://github.com/Automattic/jetpack/blob/1cfa52e96e8d62f4

[2021-12-08 09:52] Robertght commented on #55087
This is a theme that was last updated in 2012.

I'm going to leave this open in case other cases arise, but chances are a newer theme will be required for a better experience in the end.

[2021-12-08 09:59] arunsathiya opened #58942 "Improve messaging for plugin upload failures that are due to Jetpack Scan"
### Quick summary

For plugin uploads that fail due to Jetpack Scan's vulnerabilities check, we could improve the messaging on the Calypso notification. At this time, it says "Upload problem: Invalid plugin"

### Steps to reproduce

- Get a plugin file that fails Jetpack Scan's checks. (related conversation here: p1638946968328900-slack-C029JEQRVRT)
- Upload at https://wordpress.com/plugins/upload

[2021-12-08 10:38] cpapazoglou commented on #56349
@gcsecsey all marketplace products should already be present in the persisted `productsList`. Maybe we can create a new state selector by filtering with `product_type: "marketplace_plugin"` in https://github.com/Automattic/wp-calypso/tree/1ea9195e359dd047b88952635054c8a1eab6d3a3/client/state/products-list/selectors and remove the `wp-calypso/packages/calypso-products/src/is-marketplace-product.ts`

[2021-12-08 13:42] dcoleonline commented on #51425
4578065-zen - noting a customer request to change their page layout after selecting a different one to begin with

[2021-12-08 13:45] TeniCola commented on #57711
Another report in 30053228-hc -- white default text in the editor view, but dark grey on live site, which made it illegible against the background.

I advised the user that the workaround solution was to manually apply the text color to their blocks inside the Cover block.

[2021-12-08 14:09] jp-imagines commented on #56468
Another report in 33113726-hc. User couldn't find a Mailchimp widget to remove it because of this.

[2021-12-08 14:16] gabriel-fuentes commented on #53626
4576782-zen

[2021-12-08 14:20] jp-imagines commented on #52240
Had another user asking about this in 33113449-hc.

Specifically, they were interested in being able to organize their media library to see which files were being used in Pages and which were being used in Posts (and I've definitely seen other users asking for a way to see which files are being used on the site vs. unused and can be deleted).

[2021-12-08 14:46] sixhours commented on #58706
Yep! That can be removed as well. :)

[2021-12-08 15:26] #58693 closed, assigned to mreishus

[2021-12-08 16:57] kwight commented on #58704
I can reproduce this by just trying to load `https://wordpress.com/themes/premium.wordpress.com`.

I'm 99% sure this problem is coming from here: https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/themes/index.node.js#L24 but I'm having a hard time creating and testing a fix; I think it needs something like this:

<img width="394" alt="Screen Shot 2021-12-08 at 8 56 18 AM" src="ht

[2021-12-08 17:00] blackjackkent commented on #57571
@kwight I spent some time looking into this yesterday and I'm not confident that there is actually a concept of localization for a timestamp like this. MomentJS's [internationalization tools](https://momentjs.com/docs/#/i18n/) relate to clock time, relative time ("an hour ago"), and dates and have nothing regarding duration, and when I googled outside their docs on the subject I didn't find any in

[2021-12-08 17:10] mikeicode opened #58957 "Blockbase & Child themes - WooCommerce badge size issue"
### Quick summary

The badges over WooCommerce products should be perfect circles but they currently aren't.

### Steps to reproduce

Look at a product with a "Sale" badge.

### What you expected to happen

Should be a perfect circle, like this Varia theme example:

<img width="727" alt="Screen Shot 2021-12-08 at 11 37 36" src="https://user-images.githubusercontent.com/10353785/145251388-91105052-

[2021-12-08 17:17] mikeicode opened #58958 "Blockbase & Child themes - WooCommerce quantity field is too small"
### Quick summary

The quantity field isn't long enough to be visible/usable.

### Steps to reproduce

Look at the quantity field on the following:

* single product page
* cart
* cart on mobile

### What you expected to happen

The quantity field should be long enough to display the numbers, like this Varia example:

<img width="854" alt="Screen Shot 2021-12-08 at 11 42 11" src="https://user-imag

[2021-12-08 17:39] mikeicode opened #58960 "Blockbase & Child themes - WooCommerce coupon field is too small"
### Quick summary

The coupon field in the cart is too small.

### Steps to reproduce

* Add a product to the cart
* View the cart

### What you expected to happen

The coupon field should be large enough to read the text and match the theme styling, Varia example:

<img width="910" alt="Screen Shot 2021-12-08 at 11 57 23" src="https://user-images.githubusercontent.com/10353785/145256473-f1bf2ecf-

[2021-12-08 17:46] mikeicode opened #58961 "Blockbase & Child themes - WooCommerce thumbnail size in cart affected by title length"
### Quick summary

The size of the image thumbnail in the WooCommerce cart is affected by the length of the product title, so if you use a long product title the image is too small.

### Steps to reproduce

* Add a product with a short title and another product with a long title to the cart
* View cart
* View size of thumbnail image
* Remove long titled product from cart
* Compare the image size

[2021-12-08 17:51] mikeicode opened #58962 "Blockbase & Child themes - WooCommerce buttons should use theme styles"
### What

I'd like to call this a bug but since it's style based I think it's a feature request.

Blockbase & Child themes WooCommerce product pages have the default Woo button color, this should instead be the default from the specific theme.

Currently:
<img width="753" alt="Screen Shot 2021-12-08 at 11 50 50" src="https://user-images.githubusercontent.com/10353785/145258053-6b5410d2-3e63-4feb-8

[2021-12-08 18:07] blackjackkent commented on #57852
I tested all Mag16 languages and all of the modal text and video API content is currently translated for all of them except for two (Hebrew and Japanese) - these latter two never got translated because we kicked the priority down [over on GlotPress](https://translate.wordpress.com/deliverables/overview/6915723/) because this wasn't going out to anyone but English-speaking users. Since we are now p

[2021-12-08 18:09] gcsecsey commented on #56349
Thanks @cpapazoglou for the great insight! I've created the selector, it works brilliantly.  🚀 I've also replaced the previous function with the selector, where it's been used before.

[2021-12-08 18:20] michaeldcain opened #58965 "Billing: remove "pending payments" code"
From https://github.com/Automattic/wp-calypso/pull/46546#issuecomment-976710285, we can probably go ahead and remove any code from the "Pending Payments" feature, since it's been disabled for more than a year and we don't have any short-term plans to implement those payment methods.

[2021-12-08 18:34] daledupreez opened #58967 "[Bug]: Introductory offer terms don't display when linked subscription is also in the cart/being purchased"
### Quick summary

When purchasing a Professional Email subscription with a free trial alongside a domain, we don't show any information about when we will start charging the user or explicitly describing the amount we will charge.

### Steps to reproduce

1. Navigate to Upgrades -> Domains for a site that has one or more domains
2. Click on the "Add a domain to this site" button
3. Click on the "

[2021-12-08 18:46] worldomonation opened #58968 "Flaky E2E: Notifications"
### Spec file

wp-user__notifications.ts

### TeamCity ID

https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/7097362

### Logs

Numerous modes of failure for this spec.
[code]

https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/7084434
[code]

[2021-12-08 19:06] JoshuaGoode opened #58970 "Feature Request / Feature Parity: Option to require users to be logged into a WordPress.com account to comment"
### What

A new option to require `Users must be logged in to WordPress.com to comment`.

Related internal discussion (note that some unrelated items where also discussed in the thread and can be ignored): p9F6qB-7Ma-p2#comment-43996

### Why

On WordPress.com Simple, the core WordPress option for `Users must be registered and logged in to comment` behaves differently than it does on Atomic, Jetpa

[2021-12-08 19:13] jordesign commented on #58704
Thanks @kwight  - much appreciated.

[2021-12-08 20:08] jordesign opened #58971 "Plugin conflict causing Fatal Error with Google Sitekit when the Site Editing beta is switched on"
### Quick summary

If using the ETK plugin, Gutenberg plugin, then activating the new Full Site Editor beta, a critical error occurs related to Site Kit.

### Steps to reproduce

1. Install and Activate the Full Site Editor and Gutenberg plugin.
2. Activate a block-based theme, such as Zoologist.
3. Enable 'Site Editor' via Appearance > Site Editor (beta)
4. Install and Activate Site Kit by Google

[2021-12-08 20:09] jordesign commented on #58971
Suggestion from the relate Sitekit issue.
https://github.com/google/site-kit-wp/issues/4485

[2021-12-08 20:25] worldomonation commented on #57660
The Welcome Tour seems to be disobeying the results of `nux?_envelope=1` request.

In Playwright, I intercept and modify the request to `nux?_envelope=1` such that it would return the following payload:
[code]

However, this **still** results in the Welcome Tour showing.

The LocalStorage values show that Welcome Tour is set to `true`, despite the tour having been dismissed repeatedly by the user.

[2021-12-08 21:05] masperber commented on #56559
33119373-hc Gets the same error when switching from an Image to a Carousel block.

I also reproduced the issue on my test site.

[2021-12-08 21:10] kwight commented on #57571
@blackjackkent Oh, interesting; right, because we don't want "2 minutes 12 seconds" or anything verbose like that. I think of some languages using `2h12m`, but we're not even going above a few minutes here. OK, let's hold on this for now.

[2021-12-08 21:15] cometgrrl commented on #58937
@Greatdane and @inaikem - since this only happens if you enter an invalid URL, I'm going to lower the priority to normal.

[2021-12-08 21:28] kwight commented on #57852
Wow, that looks amazing:

| Arabic | Korean | German |
| --- | --- | --- |
| <img width="1631" alt="Screen Shot 2021-12-08 at 1 21 07 PM" src="https://user-images.githubusercontent.com/349751/145286729-ad9438e7-d631-4fd1-9642-aed1fface3e6.png"> | <img width="1631" alt="Screen Shot 2021-12-08 at 1 22 30 PM" src="https://user-images.githubusercontent.com/349751/145286752-e9aa5c0b-c874-4143-a9ed-4315

[2021-12-08 21:31] thekingsprojects commented on #56468
Another report here: 22827547-hc

User was okay with just having me remove the widget for now, since it was hard for them to actually find in widgets.php.

[2021-12-08 21:35] kwight commented on #58206
@ollierozdarz @blackjackkent How about we pop up an [info notice](https://wpcalypso.wordpress.com/devdocs/client/components/notice/README.md?term=notice) upon opening the UI in a language other than English? It could say, "We're sorry, these videos are only available in English at this time. Please let us know at support@wordpress.com if you would like them translated to your language." Super long

[2021-12-08 21:52] Rolilink commented on #52506
This seems more like a feature request than a bug to me ... Adding the Feature Request label!.

[2021-12-08 22:13] rinaZC commented on #55080
Hi, I'm new to the community, and I'm wondering if I can try working on this issue?

[2021-12-08 23:32] Greatdane commented on #58971
Also this comment;

[2021-12-08 23:39] Greatdane commented on #58937
@cometgrrl - that makes sense! I only realized after adding 'High' that the issue was just for invalid URLs. Thanks :)

[2021-12-09 00:02] Rolilink commented on #52506
I confirmed this behavior is still happening, but this seem to be related to the gutenberg project, I created two issues over there:
https://github.com/WordPress/gutenberg/issues/37240
https://github.com/WordPress/gutenberg/issues/37241

[2021-12-09 00:11] Rolilink commented on #52507
This seems to be related with the CoBlocks plugin added the label, should we log this issue on the coblocks repo instead?

[2021-12-09 00:16] happychait commented on #40574
Another customer reported this in 33120735-hc

[2021-12-09 01:22] enejb opened #58982 "Mobile web: Update the plans page to reflect the new % savings"

[2021-12-09 01:23] enejb commented on #58982
As per pbxNRc-Hv-p2

[2021-12-09 03:11] Greatdane commented on #55283
@bazza I see this is in the 'in progress' board but I am not sure if it's actively being worked on? The user is pretty unhappy with the discrepancies. Not sure if an actual bug is causing the larger discrepancies recently.

[2021-12-09 03:33] arinoch commented on #57812
... Aaaaand the workarounds for 4563212-zd-woothemes worked intermittently. If I'm reading the translation correctly, it only works if they edit a page. But if they edit the same page again, it doesn't work. Leaving this here for further investigation.

[2021-12-09 03:53] jordesign commented on #58698
## Current FSE Support Docs

* https://wordpress.com/support/full-site-editing/ (overview of our FSE Docs)
* https://wordpress.com/support/full-site-editing-beta/ ( specific to the WPCOM beta test - but covers general stuff like the Site Editor etc). A variation on this would make a good inclusion for theme setup/support.
* https://wordpress.com/support/templates (Template Editing). This kind of t

[2021-12-09 04:52] vishnugopal commented on #28694
This is fixed in the new [onboarding importer flow](pcmemI-b6-p2). We plan to retire the Tools > Import flow, so I'm marking this as WONTFIX.

[2021-12-09 04:52] #28694 closed

[2021-12-09 05:08] Greatdane commented on #58732
Hey @brookewp, I am unable to replicate this following your steps. (see video). Could you provide more info? Is it happening on any theme you try? Does the text block have any changes?

https://user-images.githubusercontent.com/5075840/145337946-62408bb5-ff2b-49fa-a4ed-fc693d70532d.mp4

[2021-12-09 05:28] Greatdane commented on #58942
@cpapazoglou does this need moving to the Jetpack Repo or is it OK here?

[2021-12-09 05:31] arunsathiya opened #58984 "Support for hosting on sub-directory"
### What

Users would like to host their WordPress.com site on a sub-directory instead of a sub-domain.

### Why

For various reasons, mostly SEO I guess.

### How

Site appears at https://domain.com/blog instead of https://blog.domain.com

[2021-12-09 05:31] arunsathiya commented on #58984
33124233-hc.

[2021-12-09 05:45] devNigel opened #58985 "Maywood: Missing edit links on frontend when site is loaded in Mobile"
### Quick summary

The edit links on pages and posts of the site is missing for Maywood theme when the site is Atomic despite having third-party cookies enabled.

### Steps to reproduce

1. On an Atomic site, activate the Maywood theme.
2. On a mobile device, login to the WordPress.com account and then visit a page or post on the site.
3. You will notice that the edit link is missing.

If you test

[2021-12-09 05:54] Greatdane commented on #58845
I am unable to replicate with the Zoologist theme and FSE on (see video). Can you expand on Steps to reproduce? I added a new post, then added the post title block.

https://user-images.githubusercontent.com/5075840/145342147-b90effc8-6738-4f37-a7e3-0e690003f5b8.mp4

[2021-12-09 05:55] devNigel commented on #56923
Please follow up with this user: 4561158-zen once it is fixed.

[2021-12-09 06:17] sarahcada commented on #58888
@Robertght Yes, it occurs for Chrome (Version 96.0.4664.93)

![Screen Capture on 2021-12-09 at 14-14-04](https://user-images.githubusercontent.com/26526521/145344174-1b50faf3-7dd7-4912-b941-d2f617d9c361.gif)

[2021-12-09 06:37] gavande1 commented on #57762
My finding are described here: pdh6GB-9G-p2

[2021-12-09 06:40] gavande1 commented on #57762
As per discussion with the team, we also need to have following queries:

- share of each product between all active marketplace subscriptions. This will let us know the “performance” of each product
- number of sites with active marketplace subscriptions. This will let us know the performance of the marketplace
- have a price at the time of purchase in results

[2021-12-09 07:28] gavande1 opened #58987 "Marketplace: update notifications channels for failing jobs"
### Details
Currently, when async jobs fail related to the marketplace, the notification is sent to unrelated IRC & slack channels. It needs to change with the appropriate channel name when we don't notify unrelated channels.

### How
Right following is set in the woa async job.
[code]
We need to create a new slack channel `#marketplace-alerts` and update the notification destination to this chann

[2021-12-09 07:32] rcrdortiz commented on #48243
Yes, sure. The plugin is using the dashicon: "dashicons-menu-icon-sgpb" which qualifies as a dashicon for the logic but isn't being loaded since Calypso is not loading the necessary CSS. The result is an empty image.

Having said that, the condition found [here](https://github.com/Automattic/jetpack/blob/1cfa52e96e8d62f47d90c70c1bed8bd697c1c71c/projects/plugins/jetpack/_inc/lib/core-api/wpcom-endp

[2021-12-09 08:27] retnonindya commented on #58611
For a note; this issue happens on wpcourses.com website too, on the FAQ section
https://wpcourses.com/faq/

However, I can't use the workaround provided (the issue persists.)

[2021-12-09 08:41] gavande1 commented on #58987
Diff created at: D71248-code

[2021-12-09 08:52] cpapazoglou commented on #58942
It should be OK here since we need to change `class.jetpack-client.php` that resides in wpcom and not in Jetpack. Thanks for checking.

[2021-12-09 09:07] Robertght commented on #57106
Closing this one due to inactivity

[2021-12-09 09:07] #57106 closed, assigned to nobody

[2021-12-09 09:18] Robertght commented on #57360
I cannot replicate this anymore. I've tested it using Luxury:

![image](https://user-images.githubusercontent.com/6737345/145368289-9102de10-ad75-4f42-81f0-9e9494132f69.png)

[2021-12-09 09:18] #57360 closed, assigned to nobody

[2021-12-09 09:24] jorpdesigns commented on #42056
Another Youtube embed not working when added in a reusable block.

Used shortcode workaround.

zd-4581424

[2021-12-09 09:27] Robertght commented on #58038
Closing this one due to inactivity.

Please reopen if other cases arise.

[2021-12-09 09:27] #58038 closed, assigned to nobody

[2021-12-09 09:34] Robertght commented on #58442
Thank you for sharing this @retnonindya !

This is indeed questionable. I'm not sure how this feature is supposed to work, but since this is a Jetpack feature I'm pingin @jeherve for a second look.

[2021-12-09 09:40] Robertght commented on #58323
I'm closing this in favor of this one:

https://github.com/Automattic/themes/issues/1417

Another similar case: https://github.com/Automattic/themes/issues/810

[2021-12-09 09:40] #58323 closed, assigned to nobody

[2021-12-09 09:52] Robertght commented on #58595
Thank you for reporting this @cuemarie !

I can replicate this. I have opened another report here instead:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5344

[2021-12-09 09:52] #58595 closed, assigned to nobody

[2021-12-09 09:59] Robertght commented on #57927
@cat-og is there any news from the user?

[2021-12-09 10:13] mmtr commented on #48243
Is that a Core Dashicon? I don't see it in https://developer.wordpress.org/resource/dashicons 🤔 , which might be the reason why Calypso is not loading it. AFAIK, Calypso uses the same Dashicons than Core: [this CSS file loaded here](https://github.com/Automattic/wp-calypso/blob/1a3e2719d60c67018b60b7a89da9cb2d9db2a389/client/my-sites/sidebar-unified/style.scss#L2) is actually [provided by Core](ht

[2021-12-09 10:14] gavande1 commented on #58987
deployed r236299-wpcom

[2021-12-09 10:14] #58987 closed, assigned to nobody

[2021-12-09 10:35] #58572 closed, assigned to rcrdortiz

[2021-12-09 11:27] jeherve commented on #58442
I would expect that string to respect the site language, not the account's language. So I would not expect it to change when I change my account's language, since I may have different sites under my account, using different languages.

[2021-12-09 11:37] donalirl commented on #58984
Another request in #21849292-hc

[2021-12-09 12:13] cpapazoglou opened #58995 "Plugin Site List: Add manage subscription URL for paid plugins"
figma: oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A64025

we need to loop through site purchases and find out whether that site has an active purchase for that product slug

https://github.com/Automattic/wp-calypso/blob/7655b6d1f326371990851da10ebb97f133fbdc17/client/state/purchases/selectors/get-site-purchases.ts#L14

and then add a link to `https://wordpress.com/me/purchases/[domain]/[purchase_id]`

![SS 2

[2021-12-09 12:17] cpapazoglou commented on #56149
Let's try integrating with woocommerce.com if we can. Otherwise we will again fall back to this solution.

[2021-12-09 12:30] rcrdortiz commented on #48243
Sorry for not making that clear with my previous comment, it's not a Core Dashicon, that's why the plugin's custom CSS would need to be loaded if we want to show the correct icon.

I'll implement your patch.

[2021-12-09 12:37] cpapazoglou commented on #55588
How are we going to handle plugins that require a subscription key / license?
Can we use the fact that these plugins are "managed" so that we don't require subscription?

[2021-12-09 12:50] cpapazoglou commented on #57817
Let's use `Select2` https://select2.org/dropdown to offer a search in the dropdown.
<img width="1111" alt="SS 2021-12-09 at 14 49 55" src="https://user-images.githubusercontent.com/12430020/145399564-08b15c32-246c-4c1b-8647-28e80b0bfb72.png">

[2021-12-09 12:59] cpapazoglou opened #58998 "Marketplace: Allow paid plugins in lower tier than Business plan"
Marketplace plugins shouldn't require a plan upgrade since they do need a paid plugin subscription. Let's use a feature flag `marketplace-all-plans`.

- [ ] Remove all calypso requirements or references to buy a business plan (only for paid plugins)
- [ ] Remove the backend guard that doesn't allow users to buy a marketplace plugin if not on a biz / ecom plan (`shopping-cart.php`)

![CleanShot 202

[2021-12-09 13:22] kerrynicl commented on #58985
When using mobile APP Issue not specific to Maywood. Was able to reproduce on Varia, TwentyTwentyOne and Russell

[2021-12-09 14:13] WBerredo opened #59002 "Turn Plugins Browser into a functional component"
Turn the PluginsBrowser component into a functional React component to allow the usage of hooks.
This change is being needed now for #58656

https://github.com/Automattic/wp-calypso/blob/ddf71bb3fd5891b3ce84380da5ccbda1bce28ca7/client/my-sites/plugins/plugins-browser/index.jsx#L77

[2021-12-09 15:09] #52506 closed, assigned to nobody

[2021-12-09 15:22] sixhours commented on #58706
Closed by #58917

[2021-12-09 15:22] #58706 closed, assigned to nelsonec87

[2021-12-09 15:24] allilevine commented on #53626
4600039-zen

[2021-12-09 15:36] Rolilink commented on #52507
Created https://github.com/godaddy-wordpress/coblocks/issues/2195.

[2021-12-09 15:36] #52507 closed, assigned to nobody

[2021-12-09 16:32] rcrdortiz commented on #48243
@mmtr It turned out that your suggestion doesn't work. All the icons get overridden by the default icon.

<img width="1728" alt="Captura de pantalla 2021-12-09 a las 17 29 28" src="https://user-images.githubusercontent.com/1989914/145436606-0bb843c7-1246-401c-8613-c4ce0848ff47.png">

I think I'll just add the backend check I originally planned to add unless you have any other Calypso suggestions.

[2021-12-09 16:35] #57852 closed, assigned to blackjackkent

[2021-12-09 16:47] #58508 closed, assigned to cpapazoglou

[2021-12-09 16:48] mmtr commented on #48243
@rcrdortiz that's unfortunate 😭 . I was hoping that the default icon would be overridden by `dashicons.css` as long as it was set before loading that file, but seems there is some order precedence logic in CSS that is messing with my assumption.

[2021-12-09 17:02] mmtr commented on #48243
I had another idea. We can add the `dashicons-admin-generic` icon along with the icon set for menu at the API level:

[code]

That way, the API will return 2 classes for every icon:
<img width="638" alt="Screen Shot 2021-12-09 at 18 00 52" src="https://user-images.githubusercontent.com/1233880/145441921-1b19c8c7-aacb-4213-b44b-a08d5d192bf0.png">

And if the second class doesn't match any CSS selec

[2021-12-09 17:18] #58478 closed, assigned to blackjackkent

[2021-12-09 17:18] autumnfjeld commented on #58355
Adding my recent screenshots:

After I publish & view my post:

<img width="1043" alt="Writing an Intent" src="https://user-images.githubusercontent.com/5665959/145444219-1dbc8cc6-3eb8-43fe-8f7c-03da814f562c.png">

Then when I scroll up I can see the Launch Bar
<img width="1046" alt="Writing an Intent" src="https://user-images.githubusercontent.com/5665959/145444247-3c8434fe-7d91-4603-81dc-8255d6d

[2021-12-09 17:23] autumnfjeld commented on #58355
I think this is happening all the time. Not just sometimes.  For me it has been consistently reproducible.

Could also get ganon devs to have a look if necessary. :)

[2021-12-09 17:28] arcangelini commented on #57015
Fix has been published and everything should be resolved. Tested and verified.

To clarify, the only scenario that should show the UNSEEN count is for P2 and A12 sites. Otherwise, no count should show.

[2021-12-09 17:28] #57015 closed, assigned to arcangelini

[2021-12-09 17:32] Rolilink commented on #52502
This is also happening to me, but this seems to only happen if the hour input is not completed like in the video. When I do add the AM/PM to the input it behaves perfectly fine!.

[2021-12-09 17:40] #57838 closed, assigned to arcangelini

[2021-12-09 17:58] worldomonation opened #59013 "Flaky E2E: Validate blog name and tagline"
### Spec file

wp-signup__free.ts

### TeamCity ID

https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Pre_Release/7103035

### Logs

Logs:
[code]
Screenshot:
![image](https://user-images.githubusercontent.com/6549265/145450066-5bc13880-5697-4e70-aa45-83ed3813e598.png)

Video
https://user-images.githubusercontent.com/6549265/145450372-cf53815c-5bf8-4dd7-bd69-079714780928.mp4

[2021-12-09 18:20] kwight opened #59015 "Videos UI: Add a custom taxonomy for the course grouping."
eg. "Course Grouping" that both the course post and videos would be part of.

[2021-12-09 18:23] #58773 closed, assigned to worldomonation

[2021-12-09 18:26] arcangelini commented on #57725
I am still not seeing what is the issue here, but I would speculate they are being limited on how many of these widgets can be added. Maybe the next best step would be to try and replicate or duplicate the site to see if that is the case. In the meantime, they are welcome to use the Custom HTML widget or the Nav Menu widget as suggested before.

Closing for now, but please reopen if you are able t

[2021-12-09 18:26] #57725 closed, assigned to nobody

[2021-12-09 18:32] #55512 closed, assigned to arcangelini

[2021-12-09 18:33] worldomonation commented on #59013
@Automattic/ganon-bloggers More of a heads up that this was observed once in the linked TeamCity build.

The blog name in question is `e2eflowtesting1639052825440608`. I could not tell if it the name and tagline were sent as part of the network request in this screen:

![image](https://user-images.githubusercontent.com/6549265/145455270-44f21012-7f76-437a-8529-21523ef03a26.png)

[2021-12-09 18:54] vajrasar commented on #53799
User from 4370489-ZD reached us again on 4600548-ZD about this, as they are seeing the issue again. They are eager for a permanent fix. We'll need to update them too as soon as this gets fixed.

[2021-12-09 19:03] #58319 closed, assigned to WBerredo

[2021-12-09 19:10] jeyip commented on #58870
Documentation about the process of Network Activating themes https://themedevp2.wordpress.com/theme-creation-checklist/soft-launch/

[2021-12-09 19:20] jeyip commented on #58437
Solved with the release of 12.1 on simple sites

[2021-12-09 19:20] #58437 closed, assigned to jeyip

[2021-12-09 20:37] kwight commented on #59015
https://developer.wordpress.org/plugins/taxonomies/working-with-custom-taxonomies/

[2021-12-09 20:48] metabreakr opened #59020 "Reader feed not updating with new posts"
### Quick summary

User in 4569346-zen has a site that isn't showing the most recent posts in the Reader, or in Feed Lookup. Older posts (e.g. Nov. 2021 and earlier) are still visible.

Newer posts are only visible in the Reader when the feed URL is directly accessed.

When creating a test site on the user's account, Feed Lookup shows `No items found for http://inserttesturlhere.wordpress.com.` de

[2021-12-09 21:08] zaguiini commented on #58663
# Work in progress ⚠️

## Testing TT2

### Requirements

Tested both the editor + frontend

### Default Content

- [ ] Default content loaded for TT2 matches the TT2 demo site
- [ ] No broken blocks on initial load

### Problematic Blocks

### Block Settings
- [ ] Typography font size, line height, and font-weight block settings changes behave as expected
- [ ] Background color, text color, and li

[2021-12-09 21:20] kwight commented on #59015
D71309-code

[2021-12-09 21:20] simison opened #59022 "[Bug]: Google login — 3rd party cookie popover doesn't work on mobile"
### Quick summary

On desktop, we show a "3rd party cookies need to be enabled" popover for the Google Login button when hovering the button.

On a mobile browsers hovering isn't possible.  Pressing the disabled button just shows the popover for a split-second, and then it's gone.

Mobile users have no idea why the button stays disabled.

![image](https://user-images.githubusercontent.com/87168/14

[2021-12-09 21:20] simison opened #59023 "Google login: add loading state on slow connections"
### What

On slow connections, which especially tend to be mobile, Google login can stay disabled for a while until some scripts load:

<img src="https://user-images.githubusercontent.com/87168/145475371-cb6fef89-58c0-4b94-988e-fe73df933e17.png" alt="" width="350" />

<img src="https://user-images.githubusercontent.com/87168/145475390-209b1b2f-4dd0-440a-b60b-c943344743b8.png" alt="" width="350" />

[2021-12-09 21:48] creativecoder commented on #58911
Maybe also moving the Site Editor (beta) screen with the option to the Settings menu? What do you think, @mattwiebe ?

[2021-12-09 22:00] ccwalburn commented on #57036
Another report here: 33136915-hc
Follow up: 4601200-zen

Text is highlighted in the editor and shows with white font on the front end so it appears that the text disappeared.

I provided the CSS workaround.

[2021-12-09 22:53] autumnfjeld commented on #57702
I'll go ahead and close this.  We know to keep an eye out if it happens in the future.

[2021-12-09 22:53] #57702 closed, assigned to arthur791004, roo2

[2021-12-09 23:09] autumnfjeld opened #59025 "Design Picker: include Premium Themes in Premium and above plans"
## Design Picker: Premium Themes

Premium Badge and Tooltip shown:
![image](https://user-images.githubusercontent.com/5665959/145489832-5cab36ca-817d-44ef-8474-748cad63f92c.png)
![image](https://user-images.githubusercontent.com/5665959/145489851-c2955aed-1d1d-4240-8404-f41a3a8a19bf.png)

**Current Copy on tooltip (needs to be confirmed that this is final)**

"Premium themes are built by professio

[2021-12-09 23:25] kwight commented on #58355
@blackjackkent can you take a look when you're next in please?

[2021-12-10 00:25] jordesign commented on #57711
Another interaction from #4448278-zd

[2021-12-10 00:43] autumnfjeld commented on #59025
@kristastevens   This is the first pass at the tooltip copy:

"Premium themes are built by professional designers
with quality, functionality, and ease of use in mind."

Sound good?  Ideas for improvement?

![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=46)

[2021-12-10 01:07] happychait opened #59030 "On form submission, email a copy to the sender."
### What

On form submission, it would be nice to have an option to send an email copy to the submitter.

User request in 32222036-hc

### Why

So the form submitter can get an acknowledgement of their submission.

### How

_No response_

[2021-12-10 02:23] brookewp commented on #53626
4601296-zen

[2021-12-10 03:26] Greatdane commented on #58888
@Robertght - Continuing our conversation, I can replicate on Chrome;

https://user-images.githubusercontent.com/5075840/145512157-853ad70e-a96f-4f94-bb41-0aafe1515ae6.mp4

[2021-12-10 05:20] masperber opened #59034 "Posts with YouTube Blocks Do Not Display Embedded Video in Latest Posts Block"
### Quick summary

If a Post containing a YouTube Block is displayed on a Page using a Latest Posts Block, the YouTube video does not appear. Instead, only the video's URL appears

Here is a Post correctly displaying a YouTube video embedded with a YouTube Block.

<img width="891" alt="Screen Shot 2021-12-10 at 12 12 21 AM" src="https://user-images.githubusercontent.com/12906034/145520934-9a122909

[2021-12-10 05:45] vishnugopal opened #59036 "Develop new importer onboarding flow for Medium"
- [x] Add a new Medium workflow
- [x] Modify `importer-config` base strings
- [x] Add "Import content from X" drop area where a user loads a Medium (SquareSpace or other) export `.zip` file
- [x] Add visual style changes to standard `UploadingPane` component
- [x] Add visual style changes to standard `AuthorMapping` component
- [x] The top-left "Back" button should interrupt the file upload if any

[2021-12-10 05:46] vishnugopal opened #59037 "Make sure that all importing/onboarding metrics are verified"

[2021-12-10 05:52] vishnugopal opened #59038 "Make a integration test for the WordPress importer"
- [x] Basic flow, content only (see `small-export.xml` and `large-export.xml`)
- [x] Remove async-job custom filter and add async flag to queue import
- [x] Mock `wp_remote_get` and similar net functions
- [x] Mock `wp-import` enabling attachments
- [x] Advanced flow, import everything
- [x] D76226-code
- [x] D76923-code

Optional
- [x] Compare `wordpress-importer` plugin with recent version
- [x]

[2021-12-10 05:52] vishnugopal opened #59039 "Add Calypso Info in detail to Caribou Importers & Exporters Codebase Overview"

[2021-12-10 05:55] vishnugopal opened #59040 "Document important funnels for importing / onboarding work"
- [x] OKR Metrics pcmemI-j0-p2
- [ ] Project-based Metrics
- [ ] Health Metrics

[2021-12-10 05:58] vishnugopal opened #59041 "Develop new importer onboarding flow for Wix"
- [x] Register a new flow |  #58060
- [x] Feature flag | #58060
- [x] Progress component | #58060
- [x] Hooray component | #58180
- [x] Business logic | #58782
- [x] Show video while import is in progress - [Screenshot](https://d.pr/i/1ikEQ1) | #59122
- [x] Improve not-authorized page [Screenshot](https://d.pr/i/nwm3iR) | #59171
- [x] Wix flow UX improvements | #59238

[2021-12-10 05:58] vishnugopal opened #59042 "Develop new importer onboarding flow for WordPress"
- [x] Register a new WordPress flow | #59532
- [x] Feature flag | #59532
- [x] Content type selector screen | #59532
- [x] Setup logic for switching between chosen import types | #59559
- [x] Import everything flow | #59622
- [x] #60237
- [x] #60238
- [x] #60241 | #60446
- [x] #60342
- [x] Import content-only flow | #60290
- [x] #60397
- [x] https://github.com/Automattic/wp-calypso/pull/61123
- [x

[2021-12-10 05:59] Robertght commented on #58888
Noting that even if I save the widget first and try to apply the color after a refresh, the customizer page refreshes so it cannot be applied.

The only possible workaround is to do it through wp-admin/widgets.php

[2021-12-10 06:12] jordesign commented on #58594
https://github.com/WordPress/gutenberg/pull/37010 is now deployed on DotCom with the recent GB update - so this should now be resolved. I'm unable to recreate the issue any more.

[2021-12-10 07:02] as-esu commented on #57812
4575740-zen
Windows 10, Firefox 94
- They mention that when they update already published pages. Changes are not reflected when previewing published pages.
Suggested to preview option from the Pages section.

[2021-12-10 07:41] arthur791004 commented on #58302
Close it as https://github.com/Automattic/wp-calypso/pull/58486 is shipped!

[2021-12-10 07:41] #58302 closed, assigned to arthur791004

[2021-12-10 08:58] escapemanuele commented on #55826
![Screenshot 2021-12-10 at 09 56 14](https://user-images.githubusercontent.com/52076348/145546272-5e302269-288d-4ddb-8035-2a286d20c621.png)

Reopening this because the mobile gifs are not optimal, as they overlap with the header

[2021-12-10 09:03] edwinho89 opened #59051 "WooCommerce Payments: Uncaught Error: Class 'WC_REST_Payments_Fraud_Controller' not found in class-wc-payments.php:643"
### Quick summary

There have been about [7 tickets](https://woothemes.zendesk.com/agent/search/1?type=ticket&q=%22class-wc-payments.php%3A643%22%20order_by%3Acreated_at%20sort%3Adesc) on Zendesks having the same PHP error message from WooCommerce Payments as below.

[code]

Initially reported in Slack: p1639125932170000-slack-C3NCP7ZJ6
I think this bug repo can be moved under https://github.com/A

[2021-12-10 09:15] arthur791004 commented on #58372
I just want to confirm the final list for the blogger is as follows, right?
* Name your blog
* Preview your blog
* Browse themes
* Publish your first post
* Enable post sharing
* Launch your blog

Should we need the `Try the WordPress App` task as I see @kristastevens mentioned it [here](https://github.com/Automattic/wp-calypso/issues/58372#issuecomment-983951263)?

Besides, @kristastevens `Enable

[2021-12-10 10:32] mmtr commented on #48243
<img src="https://media4.giphy.com/media/13FrpeVH09Zrb2/200.gif">

TIL! I was under the impression that classes were applied according the order they appear on the `class` attribute, but wrong assumption again!

[2021-12-10 10:38] gavande1 commented on #57755
🚀 deployed r236373-wpcom

[2021-12-10 10:38] #57755 closed, assigned to gavande1

[2021-12-10 10:53] daledupreez opened #59055 "[Bug]: Stale content under /help/courses"
### Quick summary

The content under `/help/courses` hasn't been updated in a few years, and one of the Youtube videos is no longer available.

### Steps to reproduce

1. Go to wordpress.com/help/courses
2. See the second video is shown as unavailable

### What you expected to happen

I expected to see a valid video.

### What actually happened

The second video shows as unavailable.

### Context

[2021-12-10 11:18] Robertght commented on #58732
I can replicate this, but I can also replicate this on a self-hosted website with Gutenberg 12.1.0.

I reported it here: https://github.com/WordPress/gutenberg/issues/37278

I'm not sure if this is intended for now but pinging @chad1008 and @Automattic/flow-patrol-create for a second look.

[2021-12-10 11:27] Robertght commented on #59034
Thank you for reporting this @masperber !

This has been reported a while back here: https://github.com/WordPress/gutenberg/issues/26123

I'm going to mark this as a low priority until it gets more attention in the core of Gutenberg.

[2021-12-10 11:28] #58613 closed, assigned to dsas

[2021-12-10 11:39] Robertght commented on #59020
This issue seems specific to this website. @bluefuton or @Automattic/flow-patrol-create do you have the bandwidth to look into this a little closer?

[2021-12-10 11:57] dsas opened #59058 "Remove unused code from the SiteNotice component"
Following #52368 a lot of additional code from the `SiteNotice` component can be removed. None of the connected `clickDomain*` actions are used any more, and neither are the `hasDomainCredit`, `isPlanOwner`, `hasJitm` and `domainUpsellNudgeDismissedDate` props. Would you mind doing a follow-up finishing the removal?

_Originally posted in  https://github.com/Automattic/wp-calypso/issues/58652#issu

[2021-12-10 12:32] dsas commented on #52368
Does anyone have any idea what this is referencing?

[2021-12-10 13:24] simison commented on #59025
@autumnfjeld @ianstewart in the Gutenboarding user testing done by Boon (a while back now) this exact design was the source of confusion, and perhaps you could improve it in small tweaks?

Not saying this to block progress, just if you have already quick tweaks in mind it could be worth including them in this first iteration, or right next up at least. Would also love to see design explorations on

[2021-12-10 13:24] WunderBart commented on #57711
Sorry for the late reply, totally missed your ping, @inaikem! 🙈 AFAIK, the fix has been deployed as expected. Although, since the markup of the Cover block has changed, similar issue(s) might be appearing for some themes that provide customized styles for the Cover block. Would you be able to verify if the reporting user uses a specific theme that it might be related to?

[2021-12-10 13:26] simison commented on #59025
@autumnfjeld regarding copy — for free customers it would be important to convey they need to pay for the theme. For customers who already paid, how can we convey the value of their purchase to reassure them it was a good decision?

[2021-12-10 14:17] BogdanUngureanu commented on #48243
Silly question: couldn't we just add a custom css class in Calypso called `backup-placeholder-dashicon` and hardcode it for every menu item icon that starts with 'dashicon-'? We could scope it with the nav-unification CSS classes to be sure that it won't be used in Calypso from other places.

This way, we don't have to touch the API at all, since we can hardcode it directly in Calypso. Plus, this

[2021-12-10 14:34] #56340 closed, assigned to BogdanUngureanu

[2021-12-10 14:38] NeosinneR opened #59067 "[Bug]: Incorrect link when trying to buy Jetpack Security for multisite page"
### Quick summary

In WP admin of the multisite page, when I click on `Jetpack > Dashboard > Plans` I'm redirected to https://jetpack.com/redirect/?source=jetpack-plans&site=www.mailpoet.com.

When I click on the `Get Security` button to purchase `Security` plan, an error message is shown on the checkout:

<img width="880" alt="Screenshot 2021-12-10 at 14 15 13" src="https://user-images.githubuser

[2021-12-10 14:38] NeosinneR opened #79596 "[Bug]: Incorrect link when trying to buy Jetpack Security for multisite page"
### Quick summary

In WP admin of the multisite page, when I click on `Jetpack > Dashboard > Plans` I'm redirected to https://jetpack.com/redirect/?source=jetpack-plans&site=www.mailpoet.com.

When I click on the `Get Security` button to purchase `Security` plan, an error message is shown on the checkout:

<img width="880" alt="Screenshot 2021-12-10 at 14 15 13" src="https://user-images.githubuser

[2021-12-10 14:51] BogdanUngureanu opened #59068 "Feature Parity: Jetpack stats not available to all users on Atomic"
### What plan tier(s) are affected?

Business

### Steps to Reproduce

- Get an Atomic site and create a non-admin user.
- Login with the non-admin user
- Notice that the user has a Statistics menu available
- Click on Statistics and notice that the stats are not loading

### Expected (Simple)

On Simple all users with edit_posts permissions have access to statistics

### Expected (Atomic)

All us

[2021-12-10 14:51] chriskmnds opened #59069 "Tour Kit: Scroll references into view when positioning steps"
### What

Improve step positioning by scrolling reference elements into view when behind scrollbars.

### Why

Currently, highlighted reference elements stay out of view if behind a scrollbar + steps can go out of view if positioned near a reference that is out of view. Ideally, we ought to bring the reference into view to be visible when a step renders near it. This may happen behind multiple lay

[2021-12-10 16:17] Addison-Stavlo opened #59075 "FSE Beta: Site Editor entry point not apparent to users"
Whether FSE site creation lands on "My Home" or in the Site Editor, it is not clear to users how to find an enter this editor (currently hidden under "Appearance" -> "Editor (beta)").

In our future efforts for FSE onboarding and new user guidance, we should find a way to educate users about the site editor and where they can access it.

<img width="600" alt="image" src="https://user-images.github

[2021-12-10 16:18] WunderBart commented on #57660
Running some suites in parallel locally, I've noticed that the Welcome Tour pops up every time the same site is being tested against concurrently. When running suites synchronously 1 by 1, the popup never came up. I haven't dug any deeper, but maybe it rings a bell @worldomonation @arthur791004?

[2021-12-10 17:25] Robertght commented on #58732
I re-tested this and it appears to happen with TwentyTwentyOne and Varia(and the child themes).

cc @jordesign

[2021-12-10 19:09] chad1008 commented on #58732
I can also replicate, so I compared the CSS between Twenty Twenty (where the headings do wrap around floated images) and Twenty Twenty-One, where they do not. It's definitely dependent on the theme. If we want this to be consistent, I think determining the ideal default behavior and reporting issues for individual themes where needed is the best bet.

The culprit:
Twenty Twenty-One (and it sounds

[2021-12-10 19:47] arcangelini commented on #56292
Ran into some issues with the last patch. We are waiting on review and then should have this fixed with the following patch - D69984-code

[2021-12-10 21:02] zaguiini opened #59084 "[Bug]: Social Link block within patterns are left aligned on preview, but centered on live site"
### Quick summary

WPCOM block patterns that are using the `Social Links` block are displaying that specific block contents on the left inside the preview, while correctly displaying them centered on the live site.

This only happens on patterns that are not surrounded by a `Group` block.

| Editor | Live site |
| ------ | -------- |
| ![image](https://user-images.githubusercontent.com/26530524/14

[2021-12-10 22:00] masperber commented on #59034
Another instance: 32849925-hc. This is a brand new user.

[2021-12-10 22:08] cometgrrl commented on #58729
@Robertght Should we classify this as an improvement? I'm not sure it's a bug.

[2021-12-10 23:03] cometgrrl commented on #59020
It would be great if we could at least check and see if this is possibly affecting others.  If it is, the priority would be higher.

[2021-12-11 00:18] arunsathiya commented on #52241
32740445-hc.

[2021-12-11 04:28] Greatdane opened #59093 "Carousel Block crashes page if added when any other block is selected"
### Quick summary

**Note 1: This is a CoBlocks Block - so probably needs to be posted on there once it has been triaged/reproduced.**
**Note 2: I have reproduced this on self-hosted and Atomic sites.**

If you have a block already selected and then use the [ + ] button on the top left of the editor and choose Carousel Block the editor crashes with an error, `The editor has encountered an unexpect

[2021-12-11 08:26] dragstor commented on #58694
I just had a user on HC with this issue.

32127204-hc

[2021-12-11 09:58] devNigel commented on #58596
As a workaround, I suggested using the following CSS using browser extension such as User CSS:

[code]

[2021-12-11 11:05] devNigel commented on #47825
Another report: 4603868-zen

[2021-12-11 14:21] ChrissiePollock commented on #57812
Also happened in 4604011-zen.

[2021-12-11 15:53] rachelwinspear commented on #57415
Another report #33161828-hc

[2021-12-11 19:02] masperber opened #59096 "Remove link to rename a P2 domain"
### What

According to P2Help, P2 domains cannot be changed.

However, there is a link in **Settings > General** that seems to allow a user to change the P2's site address.

<img width="1259" alt="Screen Shot 2021-12-11 at 1 58 59 PM" src="https://user-images.githubusercontent.com/12906034/145688373-91bae9de-4a47-439d-81a3-ebe451318998.png">

Clicking this link does nothing. It just sends the user

[2021-12-11 19:18] Robertght commented on #58971
another case in 4604832-zen

[2021-12-11 23:42] vindl commented on #59075
Given the scope of our beta, I think the existing users should have some expectations and knowledge about that already. If they are used to Customizer, they will most likely check out the `Appearance` sub-menu and stumble upon the `Editor (beta)` that way.

Even without that, anyone intending to change their website's design is likely to pick Appearance or Pages.

Some things we could do to make t

[2021-12-12 04:27] mukundthanki opened #59097 "is_admin() function not working"
### Quick summary

Hi,

I am trying to hide some posts from a category on the front, but eventually, it hides from the admin view as well.

so I applied is_admin() conditional check, which works well for classic admin but not on calypso.
I am using the below code to hide posts:
[code]

Thanks

### Steps to reproduce

1. Create category "alerts" and assign a post to it.
2. Check if the post hides o

[2021-12-12 12:41] arunsathiya opened #59099 "Certain themes: Configured background color removes hover effect on button block, default color fine"
### Quick summary

On certain themes, configuring a background color on the button block removes the hover effect that's visible by default. Removing the color brings back the hover effect.

### Steps to reproduce

- Start with a WordPress.com site
- Add a button block to a page.
- Use theme Morden, Blank Canvas or Zoologist (tested 3 so far)
- On the button block, hover over it and you can notice

[2021-12-12 16:24] synora commented on #58845
@Greatdane 👋
I can replicate this on Zoololgist. After you've added the Post Title Block, save it, and leave the Site Editor. Open the Site Editor again, and the error message will appear.

https://user-images.githubusercontent.com/10015451/145720553-014bfa6e-57a5-449b-8473-aeb526b13827.mp4

[2021-12-12 16:44] kspilarski opened #59101 "Theme: Twenty Twelve, Thirteen and Fourteen show hyphens on justified texts"
### Quick summary

Using Twenty Twelve, Thirteen and Fourteen themes, justified texts show hyphens on the live page but not in the editor.

### Steps to reproduce

1. activate Twenty Twelve, Thirteen or Fourteen theme
2. in a page or post, justify texts and Update or Publish
3. compare page editor and live page display

### What you expected to happen

Justified texts won't show hyphens in both ed

[2021-12-12 18:24] dragstor commented on #58514
Another idea would be to add a (popup?) wizard that would guide them through the "What is SFTP?" and "Want to edit theme files or plugins via SFTP?" and the final one would be to actually acknowledge the risks and get the credentials.

Suggested flow of the "Create SFTP credentials" (popup?) wizard:
![SFTP Credentials Proposal - Step 1](https://user-images.githubusercontent.com/363811/145724439-94

[2021-12-12 18:31] C3G0 commented on #58509
Hi @andres-blanco, I created a PR for this https://github.com/Automattic/wp-calypso/pull/59098!

[2021-12-12 19:35] brittanygray902 commented on #55258
I have a user with the a site that is currently having this issue as well.

Site: https://herglassroom.com/

[2021-12-12 20:48] jerrysarcastic opened #59102 "Twenty Twentyone: custom font size settings in Table Block are ignored"
### Quick summary

When adding a table block to a page or post using the Twenty Twentyone theme, it is possible to set a custom font size for text in the table, and this is shown correctly in the editor view.

However, on the live site this setting is ignored and text is shown in the default font size instead.

### Steps to reproduce

- Start with test site using Twenty Twentyone theme
- create te

[2021-12-12 23:45] bluefuton commented on #59020
@metabreakr it sounds like this affects one specific website, so a post on +readersquad P2 with all the details is probably the best next step. There is also a Support FAQ there entitled "Posts missing or slow to appear?".

[2021-12-12 23:45] #59020 closed, assigned to nobody

[2021-12-13 00:09] jerrysarcastic opened #59103 "Twenty Fourteen: Like and Reblog buttons missing on posts that use a custom post type"
### Quick summary

On standard blog posts, like buttons/reblog are displayed as expected.
Ex from demo site: p1C2ZN-14-p2

However, if any other post type is selected, reblog and like buttons are not shown.  Examples from demo site:
- p1C2ZN-3y-p2
- p1C2ZN-3h-p2
- p1C2ZN-3d-p2
- p1C2ZN-6F-p2
- p1C2ZN-3m-p2
- p1C2ZN-3k-p2

### Steps to reproduce

Issue can be seen in demo site but if you need to re

[2021-12-13 01:17] kelasante commented on #46634
A similar report in 33065530-hc

[2021-12-13 05:04] p-jackson commented on #58882
Yes just tested it now manually and see that the `wpcom_block_editor_post_publish_add_new_click` event is still firing.

I remember this being a pretty hacky implementation to begin with! Not surprised that it's broken now. However we really would like to know if this tracks event breaks due to a Gutenberg upgrade, so the e2e test is appropriate.

What if we came up with a more place to stash the

[2021-12-13 06:43] lsl commented on #58331
Some context around what remains for this in here: https://github.com/Automattic/wp-calypso/pull/58848#issuecomment-992148918

[2021-12-13 07:45] ollierozdarz commented on #58372
@arthur791004 the WordPress App mention is [here in Figma](https://d.pr/i/9YNJ1G), you may be looking in the wrong spot 🙂

We'll definitely need it as it drives some important usage for our Mobile App.

[2021-12-13 07:50] ollierozdarz commented on #58206
@kwight that sounds like a pretty good idea. Do you know where I can see a demo of that info notice? I was thinking something like a snackbar-esqe notice that's not incredibly in your face and dismissible would do the job.

Some further simplification to that wording could be:

"These videos are currently only available in English. Please [let us know](support@wordpress.com) if you would like them

[2021-12-13 08:10] rcrdortiz commented on #48243
As I've mentioned:

Since your suggested `backup-placeholder-dashicon` starts with the letter b, wich is lower than `dashicons-admin-*` it would work.
I find this approach very fragile and error prone, if the class name gets changed, or if a browser applies styles in a different way, or any browser changes the implementation of applying styles, it could cause a regression bug. I think we should av

[2021-12-13 08:25] arthur791004 commented on #58374
Close it as https://github.com/Automattic/wp-calypso/pull/58741 is merged!

[2021-12-13 08:25] #58374 closed, assigned to arthur791004

[2021-12-13 08:37] arthur791004 commented on #58206
@ollierozdarz I think you can see the notice component [here](https://wpcalypso.wordpress.com/devdocs/design/notice) or maybe we can use the [banner component](https://wpcalypso.wordpress.com/devdocs/design/banner) stick to the top or bottom of the video section.

[2021-12-13 09:00] arthur791004 commented on #58372
Oh yes, I found I saw the old section last week 😅

[2021-12-13 09:16] donalirl commented on #57036
Seen in #33037279-hc. Provided CSS in the meantime.

[2021-12-13 10:33] #56922 closed, assigned to alshakero

[2021-12-13 10:35] alshakero commented on #56922
I closed this because fix is now in production! See p1638826754239900/1638538050.228400-slack-CBTN58FTJ

[2021-12-13 11:32] nelsonec87 opened #59113 "Remove Individual Purchase item from theme menu"
(One of the issues pointed out on pdgA0m-9H-p2)

* Visit `/?flags=themes/premium` to enable the feature flag on a free site.
* Open the themes list
* You'll see the Purchase item in the menu on premium themes

![image](https://user-images.githubusercontent.com/3801502/145801640-b227e8af-2056-4afc-bd17-4843304087ff.png)

Premium themes are not gonna be sold separately.

[2021-12-13 12:00] kdevnel opened #59117 "Alves Theme: White text colour causes issues with date picker in contact forms"
### Quick summary

When you choose a white theme font under Customize > Colors and Backgrounds this causes some issues with date pickers in the contact forms.

The month and day uses the body text colour but the actual date picker background stays white too instead of using the theme background colour which is likely to be dark.

### Steps to reproduce

1. Choose Alves theme
2. Under Customize > C

[2021-12-13 12:21] roo2 commented on #57260
@p-jackson I went through this with the zoologist theme,  it looks to me like it's just `{"trim_content": true}` being passed in that is causing the menus not to be setup, which would be as intended? When I made a request from my rest client with `{"trim_content": false}`, the menu was added as expected.

In the slack thread p1632210899071500-slack-CRWCHQGUB you mentioned originally testing it wit

[2021-12-13 12:49] Addison-Stavlo commented on #58930
I thought that recommended section was supposed to show either:
A ) Normal recommended themes + FSE beta themes - IF the site is running on a non-FSE theme.
B ) Just FSE themes - IF the site is running on an FSE theme.

But it looks like it is just showing B in all cases, which as you point out is a bit redundant with the FSE tab. 🤔

[2021-12-13 12:55] Addison-Stavlo commented on #58680
Another gap where we depend on the customizer is for setting the heading and base font groups.

[2021-12-13 13:07] retrofox commented on #58470
Is this issue done?

[2021-12-13 13:28] kristastevens commented on #58372
Hi @arthur791004, I defer to @autumnfjeld about the order, but my preference was for how they appear in the comment above:

* Name your blog
* Browse themes
* Preview your blog
* Publish your first post
* Enable post sharing
* Launch your blog
* Try the WordPress app

My rationale is that you'd typically browse themes before previewing your blog.

Great catch, @arthur791004! Here's some proposed c

[2021-12-13 13:45] dragstor commented on #58514
In addition to this, a new support doc about Symlinked Files and Folders is now live: https://wordpress.com/support/symlinked-files-and-folders/

[2021-12-13 13:50] cpapazoglou commented on #58651
Related diff D71420-code.

[2021-12-13 14:05] Rolilink commented on #58470
@retrofox I added this issue to track any design the transfer step will need on the previous cycle but it seems we never had one. I don't know if any changes on the progress bar this cycle will make this issue relevant again? maybe something to discuss on the state of the board.

[2021-12-13 14:06] Addison-Stavlo commented on #55982
related - https://github.com/WordPress/gutenberg/issues/36977 - the bottom positioning can obscure children blocks in popovers/dropdown as is the case when triggered with the navigation block.

[2021-12-13 14:13] kristastevens commented on #59025
This is a bit of a conundrum — we might want to consider the criteria by which something is considered a Premium theme. Currently the tool tip text says:

"Premium themes are built by professional designers
with quality, functionality, and ease of use in mind."

Our free themes are also designed by professional designers with quality, functionality, and ease of use in mind.

What specific criteria

[2021-12-13 14:17] #56349 closed, assigned to gcsecsey

[2021-12-13 15:17] retrofox commented on #58470
sounds like a good plan. Then we can decide what else we need, or otherwise close it?

[2021-12-13 15:19] autumnfjeld opened #59124 "Design Picker layout improvements"
This issue is to caputre Design Picker UI bugs reported by Mikeal p58i-bpK-p2#comment-52565.   Please refer to that comment for the visuals included that go along with the items below:

Issues to consider in improving the DP layout:
- [ ] Improve columnar layout for mid size and table size screens: Grid looks too small at around 800px width, I would’ve expected 1 column:
- [ ]  Improve layout of L

[2021-12-13 15:49] sixhours opened #59125 "Theme Showcase: Re-add prices"
As of 12/13/2021 we're going to plan to allow individual theme purchases. As such we should revert #58677

[2021-12-13 15:49] sixhours commented on #58670
We're leaving individual purchases alone for now! Closing this.

[2021-12-13 15:49] #58670 closed, assigned to nobody

[2021-12-13 16:13] metabreakr commented on #59020
Posted to p5PDj3-4ZQ-p2

[2021-12-13 16:32] mmtr commented on #50765
Now that https://github.com/Automattic/wp-calypso/issues/58572 has been fixed, and after confirming that the [URL popover issue](https://github.com/WordPress/gutenberg/issues/36953) is not caused by Nav Unification, I don't know what else we can do to improve the compatibility of our custom sidebar width with 3rd-party plugins/themes.

To recap, so far we've found conflicting styles in these plugi

[2021-12-13 16:33] #58916 closed, assigned to michaeldcain

[2021-12-13 17:04] sixhours commented on #58726
Since we're leaving individual prices for now, let's close this out.

[2021-12-13 17:04] #58726 closed, assigned to nobody

[2021-12-13 17:25] #55080 closed, assigned to nobody

[2021-12-13 17:38] worldomonation commented on #57660
@WunderBart I've only ever run my end-to-end tests synchronously (one spec file, in order) but without the `--runInBand` flag.

While we're on this topic, I had to come up with an alternative way to dismiss this pesky modal because the `page.on` construct to inspect _every_ network request would end up causing issues in a small number of cases as things currently stand. This would worsen to causin

[2021-12-13 17:39] worldomonation commented on #57660
Frankly, this would be much easier if the `show_welcome_guide` value was actually respected but it doesn't seem to be the case at all, sadly.

[2021-12-13 17:44] worldomonation commented on #58882
While I'm sure given enough time I would be able to come up with a fix, I think making this event persist across pages should definitely simplify this spec _and_ make it much more reliable!

Playwright is able to execute any arbitrary JavaScript via `page.evaluate` or `frame.evaluate` (as you probably know) so having the value stored in a slightly more persistent manner would help eliminate timing

[2021-12-13 17:45] worldomonation commented on #58968
Spec is quarantined; we need to rethink how this is run, as visiting and leaving the comment is often the weak point.

[2021-12-13 17:52] jackiejade opened #59130 "TikTok icon in social media menus"
### What

We have icons for all social media except TikTok, so when a user links to their TikTok account, it shows as a generic link icon instead of the nice icon like the others.

### Why

To be cohesive with the rest of our social media menu items.

### How

_No response_

[2021-12-13 17:54] obenland commented on #48243
A custom dashicon is probably enough of an edge case to where it's more fruitful to talk to the developer and encourage them to use more general best practices. I wouldn't worry too much about this specific case.

[2021-12-13 18:02] kwight opened #59131 "Videos UI: Use the video meta duration instead of a user-given value."
With getting our video meta data from actual media videos in `wpcommedia`, we won't need a `duration` field for course management. We'll still need the `duration_completed` value, which should fall back to 90% of the video duration.

[2021-12-13 18:33] worldomonation commented on #55639
Closing for now as it is unfeasible as per discussion we had with Sergio in a thread.

[2021-12-13 18:33] #55639 closed, assigned to nobody

[2021-12-13 19:05] zaguiini opened #59142 "Feature Request: SyntaxHighlighter dark mode"
### What

A dark mode for the `SyntaxHighlighter` block when the container (e.g. page or group) has a dark background.

### Why

Introducing a `SyntaxHighlighter` block on darker backgrounds causes unnecessary contrast between the page's background and the block's background.

![image](https://user-images.githubusercontent.com/26530524/145872656-3cf1d80a-04d1-4f36-8e1f-70a01c7a73b4.png)

### How

[2021-12-13 19:12] blackjackkent commented on #58355
Opened D71444-code with a fix that I believe addresses this issue. I could only reproduce this behavior when navigating to a post from the post editor.

[2021-12-13 19:19] zaguiini commented on #45484
This is very important. Currently, when you have a dark background along with a light text color, it's impossible to read any text inside the `Timeline Entry` without manually changing the text color:

![image](https://user-images.githubusercontent.com/26530524/145874460-62a983f1-5b0f-495f-84f8-addf7494cd15.png)

[2021-12-13 20:07] nbloomf commented on #57322
While looking into this I found what appears to be an unrelated bug in how we get the tax location info from a stripe payment method: D71451-code

[2021-12-13 20:09] nbloomf commented on #57322
I think this issue is fixed by https://github.com/Automattic/wp-calypso/pull/57041.

[2021-12-13 20:27] nbloomf commented on #57322
For real this time, I think this was fixed by D68482-code. At any rate I'm not able to reproduce the issue.

[2021-12-13 20:40] #57460 closed, assigned to worldomonation

[2021-12-13 20:44] kwight opened #59145 "My Home: The Earn card needs to be aware of "seller experience" efforts."
Our highest-clicked card from the My Home primary carousel is the Earn card, which links to `/earn/:site`. None of its content is yet aware or taking advantage of seller experience work or Woo integration.

![earn](https://user-images.githubusercontent.com/349751/145885822-a9b35dde-8f3a-4f71-80be-107628834c70.png)

[2021-12-13 20:54] #59113 closed, assigned to nelsonec87

[2021-12-13 20:55] #58665 closed, assigned to nelsonec87

[2021-12-13 21:26] noahtallen commented on #58522
I am closing this, as we have determined to skip Gutenberg v12.1 on WordPress.com in favor of 12.2. For more context: p9oQ9f-Rx-p2

[2021-12-13 21:26] #58522 closed, assigned to nobody

[2021-12-13 21:28] gutenberg-plugin-upgrade-bot[bot] opened #59151 "Gutenberg: v12.2.x plugin upgrade"
Previous upgrade: #58522
Release notes: [v12.2.0](https://github.com/WordPress/gutenberg/releases/tag/v12.2.0)

**Install and activate**
- [x] Copy & install v12.2.0-rc.1 (D71659-code, D71670-code)
- [x] Activate v12.2.0-rc.1 on edge (D71672-code)
- [x] Copy & install v12.2.0 (D72158-code, D72161-code)
- [x] Activate v12.2.0 on edge (D72165-code)
- [x] Activate v12.2.0 on production (D71676-code)

[2021-12-13 21:30] sixhours opened #59152 "Theme Showcase: Baxter's screenshot is broken on the individual theme sheet"
Skivers and Byrne are fine, but Baxter's theme screenshot is broken in both `/wp-admin/themes.php` and at `/theme/baxter/` in Calypso:
<img width="1438" alt="Screen Shot 2021-12-13 at 4 29 17 PM" src="https://user-images.githubusercontent.com/2124984/145891908-823ccc7e-c6fc-4c5a-97a7-eae33cba69ee.png">
<img width="377" alt="Screen Shot 2021-12-13 at 4 29 55 PM" src="https://user-images.githubuserc

[2021-12-13 21:35] sixhours opened #59153 "Atomic: Premium themes don't work after activation"
You can activate a premium theme on an Atomic site, but trying to Customize it or edit its appearance will revert your site to the default theme:

https://user-images.githubusercontent.com/2124984/145892775-bf4ffaeb-8240-4638-be8b-327da202a792.mov

Customizing it shows this message and offers a clue:

<img width="801" alt="Screen Shot 2021-12-13 at 4 32 55 PM" src="https://user-images.githubuserco

[2021-12-13 21:49] blackjackkent commented on #58206
@ollierozdarz I took @arthur791004 's suggestion of using the notice component and put this together:

![image](https://user-images.githubusercontent.com/13437011/145894330-ff2d3611-0b36-4f85-9642-ab2caeef7b80.png)

What are your thoughts on this solution?

/cc @kwight

[2021-12-13 21:50] p-jackson commented on #58882
This GH issue is fine. We've got a column on our board where I can put "we should really get round to fixing this" things, so I've put it there. Happy for it to be muted till then.

[2021-12-13 22:17] blackjackkent commented on #58355
(Kirk has pointed out that the above fix introduces a regression, so I will be doing further work on this.)

[2021-12-13 22:21] sixhours commented on #58792
This has been done! 🥳 r236255-wpcom

[2021-12-13 22:21] #58792 closed, assigned to mreishus

[2021-12-13 22:24] worldomonation commented on #57667
Yet another instance: https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Pre_Release/7122316?buildTab=artifacts#%2Fscreenshots

[2021-12-13 22:25] worldomonation commented on #58382
Observed in https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Pre_Release/7122316?buildTab=artifacts#%2Fscreenshots.

[2021-12-13 22:27] sixhours opened #59156 "Theme Showcase: Premium themes point to a Jetpack plan for Jetpack non-Atomic sites"
**What happened**

Trying to activate a premium theme on a Jetpack (non-Atomic) site sends you to checkout with a Jetpack plan in the cart that doesn't have access to premium themes.

https://user-images.githubusercontent.com/2124984/145899110-b69591b1-6d76-4cde-af9a-bf15b5ab7ec5.mov

https://user-images.githubusercontent.com/2124984/145899142-ac7438ba-0dd1-4532-a379-06017a6e3739.mov

**What I exp

[2021-12-13 22:56] roo2 commented on #57260
ah ok, I can reproduce the issue with the twentytwentyone theme, I can reproduce it in postman by making a request to change the theme ` POST .../themes/mine` and then a request to run headstart `POST .../theme-setup` in quick succession. This simulates what happens on the processsing screen after a theme is selected in the start flow.

The issue happens only when both requests are sent in quick s

[2021-12-13 23:32] sixhours commented on #59152
I suspected this was an issue with a corrupt featured image, so I re-uploaded a new one and it works:

<img width="1668" alt="Screen Shot 2021-12-13 at 6 31 47 PM" src="https://user-images.githubusercontent.com/2124984/145905694-87368396-a7d0-4499-b4c0-be19beefa29d.png">

Obviously it's not the right dimensions. :) /cc @onuro @alaczek could you try re-uploading and re-setting the featured image fo

[2021-12-14 01:25] autumnfjeld commented on #58372
How we determine if these items are "done"

Preview Blog
-  we think this means previwing https://wordpress.com/view/{site}

Browse Themes
- clicked the "Browse Themes" button on the card

Publicizie
- the user has visited https://wordpress.com/marketing/sharing-buttons/{site}

[2021-12-14 01:45] autumnfjeld commented on #59025
Great questions @kristastevens !!!   I think you're right in that we should expressthing something before "quality, functionality, and ease of use" because that should be a baseline for all themes.

Here are some thoughts on how a premium theme might be more attractive to a user.  I'm going to use clumsy language, but the idea is there. :)
- it is less common, could make your site stand out
- it w

[2021-12-14 01:54] autumnfjeld commented on #59025
@simison

This issue isn't for free plans.  That will come in a subsequent iteration.

See the description above written for this work:

![image](https://user-images.githubusercontent.com/5665959/145918491-a7d4c1a9-9972-4a68-8c1e-216091913ec9.png)

[2021-12-14 02:03] worldomonation commented on #56505
Repoening this issue as this issue is still present. It should not be closed.

The shaking of `Tiled Mosaic Gallery` affects every pattern below itself.

Firefox Nightly 97.0a1.

https://user-images.githubusercontent.com/6549265/145919468-34357431-5dbc-46a6-9897-2fc078546f4b.mov

[2021-12-14 02:04] autumnfjeld commented on #59025
@simison  Up until last week when I heard the term "Premium Theme" I interpreted that to mean the actual definition of the word premium "A better than average theme" , I didn't tie it to a plan.  (Yes, because I knew so little about what it meant! LOL)   The word is "polluted" perhaps by those who know the plan names so well, but I imagine many people might just read "Premium" the way I did.    Wh

[2021-12-14 02:09] autumnfjeld commented on #59025
The items in that [list](https://github.com/Automattic/wp-calypso/issues/59025#issuecomment-990971498) will be excellent to consider when we are trying to upsell to free plans.

[2021-12-14 03:56] alaczek commented on #59152
Fixed!

[2021-12-14 03:56] #59152 closed, assigned to onuro, alaczek

[2021-12-14 05:08] ollierozdarz commented on #58372
I think you're spot on @autumnfjeld. Let's keep it dead simple to begin with and just count them going off to 'view' the pages as done. 'Preview', 'Browse' are both good words we use because it's keeping the expectations light.

For Publicize, if we can't easily tell if they've connected it, then viewing will be fine IMO.

[2021-12-14 05:33] Robertght commented on #57812
4571601-zen:

[2021-12-14 06:58] arthur791004 commented on #58372
## Update

For “Enable post sharing”, we want the user to link their social accounts to share their new posts automatically. So, revert the copy to the original one and link to Publicize `/marketing/connections/<your_site>`. cc @kristastevens and maybe you have the better copy for **Publicize**

![image](https://user-images.githubusercontent.com/13596067/145948373-6af4344f-ca1a-40cb-818a-4b36cc0ea

[2021-12-14 08:07] dsas commented on #59058
Aside from the code removed in #59147 more code is basically useless. I'll have to see whether to restore it or remove it.

In the same notice.jsx file, [`discountOrFreeToPaid`](https://github.com/Automattic/wp-calypso/blob/e64ec136821355ae29226b39f0ab409f55ef64b3/client/my-sites/current-site/notice.jsx#L120) is a HTML string containing a nudge prompting people to claim a discount. however the onl

[2021-12-14 08:14] p-jackson commented on #57260
Ah yes, I wasn't sure about whether the theme change had anything to do with it. It could be that it's an async job associated with the _theme change_ that's breaking it.

All of these themes are `auto-loading-homepage` themes. I wonder if that `auto-loading-homepage` feature happens to be doing anything with the menus? If changing themes changes the homepage then maybe that results in some menu p

[2021-12-14 09:30] carinapilar commented on #53945
Since this issue seems to be a bit more complex than just the width of pages on Calypso, I expanded its title to general _"inconsistencies"_. You can also see layout differences between the My Home and other pages, like Posts for example, where on My Home you have a different structure and also a different background color.

I decided to reopen this issue after bringing this up on this post: p7DVs

[2021-12-14 10:40] #55575 closed, assigned to cpapazoglou

[2021-12-14 11:07] kylemcph commented on #55683
Another case was reported in 4611256-zen. Legacy widgets were not displayed within a column block. Widgets did display within the customizer. There was only 1 column set and moving widgets outside the column block forced legacy widgets to display on live site.

![2021-12-14 at 11 56](https://user-images.githubusercontent.com/38780306/145986946-41445025-d55f-41ae-b718-327712be06a7.png)

Moving the

[2021-12-14 11:28] carinapilar opened #59174 "Gallery: Link To Media File Breaks the Block"
### Quick summary

When you select _"Media File"_ on the block's _"Link To"_ option, once you edit the content again the block will break.

### Steps to reproduce

1. Go to a P2 post.
2. Add a Gallery block on a comment.
3. Add some images, and on the block's settings select _"Media File"_ on the _"Link To"_ option.
4. Save your comment.
5. Edit your comment.

### What you expected to happen

To l

[2021-12-14 11:34] jromales commented on #57170
A new report on 4609957-zd-woothemes - using retired `Temi` theme. I disabled Block Widgets in BRC and asked user to drag and drop from "Inactive Widgets" in the Classic Widgets interface.

[2021-12-14 11:34] gavande1 commented on #58651
Deployed r236534-wpcom

[2021-12-14 11:34] #58651 closed, assigned to gavande1

[2021-12-14 11:58] gavande1 opened #59176 "Marketplace: Wrong error page when uploading plugin and it's already installed"
### Details
It shows a wrong error page when you try to upload a plugin from calypso and it's already installed.

### Screenshot
![](https://cloudup.com/c-VZ5_UUGGD+)

[2021-12-14 12:28] dsas opened #59177 "[Bug]: Discount sidebar nudges are not displayed"
### Quick summary

If there was a currently active discount applicable to the current user, it was displayed in the sidebar just below the domain. This isn't working.

There's some [documentation on how this active discount feature is expected to work](https://martechp2.wordpress.com/2020/11/23/some-calypso-promo-nudge-documentation/) from last November.

It appears to have been broken accidentall

[2021-12-14 12:30] dsas commented on #59058
I filed #59177 to look at the issue with the discount nudge separately.

[2021-12-14 12:32] #50765 closed, assigned to mmtr

[2021-12-14 12:40] Addison-Stavlo commented on #58911
I think these both make sense and would be an improvement.

[2021-12-14 12:41] Copons commented on #50765
I agree that we shouldn't ask plugin developers to fix an issue introduced by us going off standard.

By the look of this, the problem happens with absolute/fixed elements such as banners or modals, that are typically positioned manually against the Core sidebar, which is traditionally complicated to handle (it has multiple different widths and collapsed states, triggered at different breakpoints

[2021-12-14 12:50] gavande1 commented on #59176
The issue was related to issue #59126 indeed. Handling it in the same PR. Closing this

[2021-12-14 12:50] #59176 closed, assigned to nobody

[2021-12-14 13:30] kristastevens commented on #58372
Hi @arthur791004, current copy is good! Thanks for asking!

[2021-12-14 13:36] kristastevens commented on #59025
This is helpful, @autumnfjeld, thank you!

@ianstewart would love the benefit of your history in themes here. From a strategic standpoint — what specifically sets a Premium theme apart from a free theme from the user's perspective? Are there specific features available only in Premium themes that might be attractive? What's the criteria we use to designate a theme as Premium? Thanks for your insig

[2021-12-14 13:48] paaljoachim commented on #57390
How is this issue coming along?

[2021-12-14 14:45] escapemanuele opened #59182 "Tour Kit: is-desktop and is-mobile classes"
### Details

As in [discussion](https://github.com/Automattic/wp-calypso/pull/59052/files#r766653667), PR [59052](https://github.com/Automattic/wp-calypso/pull/59052) introduced a new class `welcome-tour-card__overlay-controls__absolute` that doesn't respect CSS guidelines.

The correct approach should be to introduce two new modifiers in the tour-kit package: `is-desktop` and `is-mobile` and use

[2021-12-14 14:47] #59058 closed, assigned to dsas

[2021-12-14 15:03] cpapazoglou opened #59186 "Marketplace: fix automatewoo slugs"
While testing https://github.com/Automattic/wp-calypso/pull/59181
I noticed that `automatewoo` doesn't load. This a result of product names, slugs being wrong.
The plugin slug is `automatewoo`, thus it shouldn't include `woocommerce` or have a dash `automate-woo`.

This should be fixed both in the static product
[code]

and in the above store products
[code]

[2021-12-14 15:07] cpapazoglou commented on #59186
@gavande1 do you have capacity to address this?

[2021-12-14 15:14] #59002 closed, assigned to WBerredo

[2021-12-14 15:30] allilevine commented on #58384
Closed by #58709

[2021-12-14 15:30] #58384 closed, assigned to Rolilink, allilevine

[2021-12-14 15:36] arcangelini commented on #57415
OK the source of the issue appears to be the `setHeight` function for the preview iframe [which is in Gutenberg](https://github.com/WordPress/gutenberg/blob/trunk/packages/widgets/src/blocks/legacy-widget/edit/preview.js#L61). The preview is getting the height of the body of the iframe that is loaded with the widget instance. Since the cookie consent widget is not static on the footer it leaves th

[2021-12-14 15:41] jeherve commented on #57415
This doesn't look bad, nice work 👍

[2021-12-14 15:43] pablinos commented on #58470
This seems done. We can open separate issues for any specific problems we find.

[2021-12-14 15:43] #58470 closed, assigned to Rolilink

[2021-12-14 15:46] pablinos commented on #58387
Closing this for now. We open separate issues for the new landing page design and any specific problems we find.

[2021-12-14 15:46] #58387 closed, assigned to nobody

[2021-12-14 16:24] allilevine opened #59190 "Improve the WooCommerce in-app landing page"
## Note: Requires further design investigation and collaboration with Woo.

### What

The landing page at /woocommerce-installation currently looks like this:

<img width="1184" alt="Screen Shot 2021-12-14 at 11 22 10 AM" src="https://user-images.githubusercontent.com/1689238/146037830-4e27038b-f9d6-4979-8b58-74c79a18f578.png">

But to match the new designs it should look like this:

![image](http

[2021-12-14 16:50] kathrynwp opened #59193 "YouTube Block: Video won't play via Apple Voiceover on iOS"
### Quick summary

A WordPress.com user reports an accessibility bug with the YouTube block, whereby the video cannot be played with the usual manipulation.

### Steps to reproduce

1. Add a YouTube block to a page or post
2. User Apple's Voiceover on an iOS mobile device such as an iPhone or iPad, and try to play the video on the front end

### What you expected to happen

The video should play w

[2021-12-14 16:55] creativecoder commented on #58870
See pNEWy-exw-p2#comment-54040

We're going to forego launching these themes and use them as the base for similar replacements, instead.

Closing this issue; I'll open a separate one when the new themes are ready.

[2021-12-14 16:55] #58870 closed, assigned to nobody

[2021-12-14 16:59] mmtr commented on #54422
Seems that the discrepancy only affects retired free themes (even before retiring all premium themes). From a technical perspective, as noted above, it's working as expected. See PCYsg-4Xs-p2 (emphasis mine):

There has been a prior discussion (p2ZKRR-12p-p2) about whether the behavior of the retired free themes should follow the same logic performed on retired premium themes (they cannot be activ

[2021-12-14 17:11] gcsecsey opened #59195 "Plugin Details: add missing fields to Marketplace plugins"
While testing #59181 I've found that a number of fields are either missing or have different names/structure than in the WPcom API response. These cause some UI elements to not render on the page.

### Missing fields from WPcom

These fields are completely missing from the WPcom API response:

[code]

### Description field

Currently, there's a top-level description field in the response, which re

[2021-12-14 17:14] kwight commented on #58776
"Congratulations on completing the course!"?

[2021-12-14 17:29] cuemarie commented on #57058
Encountered this bug here: 33137250-hc

Additional issues with this Legacy Widget are present on this user's; the widget is not visible in the widget area until clicked on, and then the content itself needs to be selected before it appears.

[2021-12-14 17:53] sixhours opened #59196 "Themes: Add Kerr and Payton to the store"
Following instructions here: pdgA0m-90-p2

- [x] Add themes to the softlaunch filter and deploy (D71501-code)
- [x] Add themes to the sandbox store table
- [x] Move themes to the production store table
- [x] Add themes to premium themes page in MC
- [x] Map themes to `wp-premium-themes` product (D71526-code)

[2021-12-14 18:36] worldomonation commented on #55954
On second look, the Likes tests are already running for the `gutenberg` group.

I am marking this task as done at this in the context of WPCOM transition to Playwright. If we want to run these Likes tests on `calypso-pr` groups in the future, let's file a new task for that.

[2021-12-14 18:36] #55954 closed, assigned to worldomonation

[2021-12-14 18:38] worldomonation commented on #58683
Moving back to Todo.

1. some features that are targeted by test specs that are quarantined are in continuous state of flux and development.
2. some features appear to have intermittent problems that make this difficult.

[2021-12-14 18:40] worldomonation commented on #58882
Thanks @p-jackson. I have muted the tests in TeamCity for now, and if required will stop it from executing altogether.

[2021-12-14 18:52] mikeicode opened #59198 "Separator block: Left and right alignment options"
### What

Currently the Separator block is centered by default, there aren't options to set it to left or right alignment.

![Screen Shot on 2021-12-14 at 13:45:10](https://user-images.githubusercontent.com/10353785/146060762-6c46b69e-2664-47c3-8eea-86322e0f08e4.png)

### Why

So we could have this layout:

![Screen Shot on 2021-12-14 at 13:46:00](https://user-images.githubusercontent.com/10353785

[2021-12-14 19:12] Copons commented on #54422
@mmtr Thanks for the super detailed investigation!
I agree with you that we should retire these themes for real, but since we don't have enough historical context, we should proceed with extra care on this.
So let's bring @Automattic/theam into the mix! 💥

tl;dr

In Calypso, **for all sites**, retired themes...
* Are hidden from the theme showcase.
* When requesting them directly (`https://wordpre

[2021-12-14 19:35] #53170 closed, assigned to nobody

[2021-12-14 19:35] #57149 closed, assigned to nobody

[2021-12-14 19:45] allilevine commented on #58227
Closed by #58848

[2021-12-14 19:45] #58227 closed, assigned to lsl, allilevine

[2021-12-14 19:47] mreishus commented on #59156
I checked out calypso from 2021-08-03 (f4d1267be25) and found that the site was also prompting me to buy jetpack security real time:
![2021-12-14_13-44](https://user-images.githubusercontent.com/937354/146068670-0d79c05b-b907-445a-9de5-4ff2c56b8054.png)
This looks to be intentional:
https://github.com/Automattic/wp-calypso/blob/f4d1267be25215e78b151c43ca2ba98a38e2c95b/client/state/themes/selectors

[2021-12-14 19:48] mreishus commented on #59156
Premium themes were originally added to jetpack sites in #13621. There might be more information there..

[2021-12-14 19:51] obenland opened #59199 "Task: Site Keyring Library"
### Details

Implement a Site Keyring library associates a Keyring connection with a site.

The eventual goal of this work is the ability to share the connection with other users on the site (in the same way that Publicize connections already do this).

This is Phase 2 of the Site Keyring work: pb5gDS-fR-p2

## Requirements

Site Keyring Library that

1. Can associate a user’s Keyring connection w

[2021-12-14 19:53] mreishus commented on #59156
![2021-12-14_13-50](https://user-images.githubusercontent.com/937354/146069426-f6ed7b7d-0526-4ccc-8632-031cefeb0494.png)
^ Individual purchases not available on JP

I'm thinking we should restore old behavior by modifying plans-list.js to restore the `FEATURE_PREMIUM_THEMES` feature to the jetpack plans we removed it from (Business, Complete, Security Realtime) and re-add the check for this featur

[2021-12-14 19:54] edequalsawesome commented on #56779
I was able to duplicate this after a user reported seeing two new followers on their site in 4609237-zen -- I created a new site titled Unlaunched Test Site, and was then able to follow it from my test account. I then published a post, and I was able to see it on my test account, despite the site being unlaunched.

![2021-12-14 14 43 39](https://user-images.githubusercontent.com/4000628/146068776-

[2021-12-14 19:54] obenland opened #59200 "Keyring logging: Use logstash"
### What

A log of keyring connections and disconnections could be needed at some point, for instance if there was a need to audit a connection trail for security reasons or to investigate a security breach.

1. Investigate what logging is already in place for the keyring connection flow.
1. Add logstash entries when keyring connections are created or disconnected/deleted, if needed.

### Why

Cou

[2021-12-14 20:00] obenland opened #59202 "Task:"
### Details

In D42457-code we created a v2 endpoint for for /me/connections (used in Calypso for keyring connections).

When usage of the v1.1 endpoints drop off, we should remove them

- GET /me/keyring-connections
- GET /me/keyring-connections/{id}
- POST /me/keyring-connections/{id}/delete

Endpoint usage see 120-gh-Automattic/dotcom-manage

### Checklist

_No response_

### Related

_No respo

[2021-12-14 20:04] obenland opened #59203 "Instagram Connections: Send user email/notification when they need to reconnect"
### What

### Describe the problem

Instagram connections (used by the Instagram Widget and the Latest Instagram Posts block) [expire after 60 days](https://developers.facebook.com/docs/instagram-basic-display-api/overview#instagram-user-access-tokens).

We attempt to automatically refresh those tokens, but a high percentage of those refreshes fail.

Additionally, tokens for private Instagram feed

[2021-12-14 20:13] glendaviesnz commented on #58618
@jerrysarcastic this issue should be fixed now on WPcom simple sites.

[2021-12-14 20:45] sixhours opened #59205 "Kerr: Theme screenshot.jpg is corrupt/0B file size"
Not sure if it didn't get uploaded or what:

<img width="746" alt="Screen Shot 2021-12-14 at 3 44 02 PM" src="https://user-images.githubusercontent.com/2124984/146076692-45976c11-ea93-4c90-8c93-507198084fdf.png">

I think it's also supposed to be `screenshot.png` but I do not know for sure. /cc'ing @onuro and @alaczek to take a look.

[2021-12-14 21:09] sixhours commented on #58616
All of this has been done in the above PRs, it just needs testing. Closing this!

[2021-12-14 21:09] #58616 closed, assigned to mreishus, nelsonec87

[2021-12-14 21:11] arcangelini commented on #59034
Based on what was highlighted in the issue that @Robertght mentioned this is being filtered out in Gutenberg by `wp_kses_post`. This is a function that filters out all sorts of HTML from the content for security purposes. This may take some time for the Gutenberg team to work on. In the meantime, I will see if there is a way to adjust the output to possibly show a better preview. Such as an image

[2021-12-14 21:12] sixhours commented on #59156
Hmm, I think we need to double-check with @ianstewart and @robertbpugh before we go that route. We'd planned to sell individual themes to Jetpack users rather than making them part of a Jetpack bundle/plan. But if it's easier to go back to the bundle/plan method, and there's no downsides/objections, I'm all for it.

[2021-12-14 21:17] robertbpugh commented on #59156
Do you mind asking me on P2 so the answer is more visible to the division?
There are business people involved in these decisions that don't regularly
use GH.

Short answer is that Jetpack plans have totally changed since themes were
retired, so the only plan it can be included in now would be Jetpack
Complete which costs $100/month so you won't have many theme sales.

On Tue, Dec 14, 2021 at 4:12

[2021-12-14 21:18] sixhours commented on #59156
There are business people involved in these decisions that don't regularly
use GH.

Not at all!

[2021-12-14 22:26] mreishus opened #59210 "Theme Showcase: Re-add banner advertising Jetpack plans that include premium themes"
The theme showcase used to have a "Get Unlimited Premium Themes" banner for JP sites without premium themes:

![2021-12-14_13-42](https://user-images.githubusercontent.com/937354/146089315-a130a04b-5b8d-4ade-b9ef-8813050de8dd.png)

We removed the reference to premium themes, then removed the banner entirely in https://github.com/Automattic/wp-calypso/pull/56170. We'd like to re-add, except this ti

[2021-12-14 22:38] worldomonation opened #59211 "2FA: Intermittent `Your session has expired, please go back to the login screen.` upon TOTP code entry."
### Quick summary

Intermittently the MFA page displays an error banner stating that `Your session has expired, please go back to the login screen.` even when a valid TOTP code is entered.

This has been observed at a low-intermittent frequency in CI tests.

### Steps to reproduce

1. navigate to /log-in.
2. log in as a user with MFA set up with an authenticator app.
3. submit a valid TOTP code.

[2021-12-14 22:42] blackjackkent commented on #58355
After further discussion with Kirk, we've decided to merge the fix at D71444-code after all. That diff reverts a fix which was made to address https://github.com/Automattic/wp-calypso/issues/57156, so it reintroduces that issue but fixes this one which would have been visible to more people.

Further explained context - during the redesigned launchbar development we encountered intermittent issues

[2021-12-14 22:45] alaczek commented on #59205
Fixed!

[2021-12-14 22:45] #59205 closed, assigned to nobody

[2021-12-14 23:33] kosiew commented on #58559
Resolved here - #4567728-zen

TLDR;
The source GoDaddy site was no longer active or accessible to user -> import failed.

[2021-12-14 23:33] #58559 closed, assigned to nobody

[2021-12-15 00:08] autumnfjeld commented on #58355
@blackjackkent

The fix at  D71444-code fixed the issue.   I tested by going through the Blogger Flow, all the way to publishing & viewing a post and the launch bar showed as I expected.
   ![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=46)

![image](https://user-images.githubusercontent

[2021-12-15 01:38] cometgrrl commented on #58686
Filed issue: https://github.com/WordPress/gutenberg/issues/37387

This issue is tracking an issue in another repository. All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the outside repository.

[2021-12-15 01:51] autumnfjeld opened #59229 "Design Picker: include Premium Themes in all Personal & Free Plans with checkout flow"
## Design Picker: Premium Themes with a checkout flow

Project Thread: pdgK6S-sR-p2

We are waiting for this dependency, pdgAPm-2Q-p2#comment-116, to be completed, likely in Jan 2022.

This work is a follow up to Design Picker: include Premium Themes in Premium and above plans #59025.    This work will allow users on free & Personal plans to see Premium themes in the DP, and allow the user to sele

[2021-12-15 02:36] devNigel commented on #58758
Another chat: 32674462-hc

The presence on legacy Mailchimp block lead to confusion. User was not aware that the widget they added about an year ago had stopped working.

There should be a way to inform users when we deprecate some features or if something stops working.  Maybe a public changelog or something will be helpful for everyone.

[2021-12-15 03:20] inaikem opened #59230 "FSE: Not possible to save a Template Part from the New Template screen in Calypso"
### Quick summary

It is not possible to save a block/group as a Template Part using the normal right click behavior when creating a new Template via the new Template creation screen accessible from: `domain.com/wp-admin/post-new.php?post_type=wp_template`

Saving and loading an existing Template from the `Appearance > Templates` list permits saving as Template Part on right click at: `domain.com/

[2021-12-15 03:45] glendaviesnz commented on #56307
Closed by https://github.com/Automattic/wp-calypso/pull/56855

[2021-12-15 03:45] #56307 closed, assigned to glendaviesnz

[2021-12-15 03:49] jordesign commented on #56334
Just reviewing this - I wonder if My Home is the best place for this? Or if maybe it could be a Trail Marker in the Stats page itself? Similar to the suggestion in https://github.com/Automattic/wp-calypso/issues/56355 ?

[2021-12-15 03:50] jordesign commented on #56326
Closing this as resolved by https://github.com/Automattic/wp-calypso/pull/58129

[2021-12-15 03:50] #56326 closed, assigned to nobody

[2021-12-15 03:58] rw-ye commented on #57812
Another report: 33214138-hc

Suggested workaround.

[2021-12-15 04:20] jordesign commented on #56327
I really like this idea - but noting that the Subscription Block is from Jetpack so any change considered would probably be useful for all JP users.

[2021-12-15 04:24] jordesign commented on #14624
Just noting that auto-reverts for Atomic sites removes *one* difficulty with switching plans between WPCOM sites.

[2021-12-15 04:28] jordesign commented on #56296
Flagged this with Nomado for review (and to see if they have it covered elsewhere). cc/ @delputnam

[2021-12-15 04:35] vishnugopal commented on #58559
Interesting that the solution here is All in one Importer -> temporarily upgraded business plan for site -> import -> downgrade site to Premium.

[2021-12-15 04:39] delputnam commented on #56296
We've changed the term "domain mapping" in these emails so that they read "We noticed that you're connecting the example.com domain to your site foo.wordpress.com..."

We don't have any additional updates for these emails planned at the moment, but we are always happy to hear about improvements that reduce user confusion.

It would be great if you have specific examples or some feedback about what

[2021-12-15 05:59] arunsathiya commented on #59097
Thanks for submitting this issue upon on request!

We spoke about it internally. For sites being extended in this fashion, we recommend using the wp-admin dashboard view (classic WordPress view) instead of the Calypso view. Here's how you can switch to that view:

https://wordpress.com/support/dashboard/#access-wp-admin

For some additional context, some kind of way to avoid post showing up in the

[2021-12-15 05:59] #59097 closed, assigned to nobody

[2021-12-15 07:24] gavande1 commented on #59186
Diff created: D71570-code

[2021-12-15 08:19] aleone89 commented on #50909
Flagging there's another report here: https://wpcomhappy.wordpress.com/2021/10/07/pricing-packaging-international-discounts/

[2021-12-15 09:08] carinapilar commented on #56334
@jordesign, I think it makes sense to add as a Trail Marker in the Stats page, yes. 🙂

[2021-12-15 09:09] hngdny commented on #58819
This affected two Simple site users:

4601862-zen (workaround: theme change)
4605320-zen

[2021-12-15 09:32] #57756 closed, assigned to gcsecsey

[2021-12-15 09:38] cpapazoglou commented on #57760
@gcsecsey this code https://github.com/Automattic/wp-calypso/pull/59204/files seems like a good start!

[2021-12-15 09:51] cpapazoglou opened #59232 "Marketplace: don't allow Jetpack self hosted to buy plugins"
Currently paid plugins are installed as managed plugins through the activate function of a subscription. As a result they are not compatible with Jetpack self hosted sites. In https://github.com/Automattic/wp-calypso/pull/59191 we will make sure we don't display them but also let's make sure that users landing to paid plugin details page get a nice messaging like "Paid plugins are not yet availabl

[2021-12-15 09:54] aleone89 commented on #50909
This has been reported here: https://wordpress.com/forums/topic/pricing-scam/?view=all

[2021-12-15 10:41] donalirl commented on #56327
The block just got a  'Success Message Text' added  to the block settings: https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/CHANGELOG.md

so perhaps we could consider this complete?

[2021-12-15 11:10] carinapilar commented on #56327
@donalirl, I feel that the most important feature in this case would be having a way to redirect the subscriber to another page, and maybe be able to add a media file URL too, so I would vote to leave it open until we get those additional options.

[2021-12-15 11:18] pablinos commented on #58331
It's not clear to me what we need to do to complete this. To begin with, I think all errors on the transfer step should lead to the progress bar being replaced with an error, which includes a way to contact support and a way to get back to the app - exit the flow.

As an HTTP error, an error response, or a timeout can all be treated as unrecoverable, the process should be aborted. People could pro

[2021-12-15 11:18] carinapilar opened #59235 "Subscription Form Block: Missing Block Icon"
### Quick summary

The block icon is missing on the Subscription Form.

### Steps to reproduce

1. Create a new page.
2. Add a new block and search for the Subscription Form.

### What you expected to happen

To see the block's icon.

### What actually happened

The block's icon is missing.

### Context

Here are some screenshots:

![SubsFormMissingIcon](https://user-images.githubusercontent.com/1

[2021-12-15 12:02] Robertght commented on #58845
It looks like this is theme-dependent. cc @jordesign

[2021-12-15 12:09] Robertght commented on #59093
Closing this one in favor of this: https://github.com/Automattic/wp-calypso/issues/56559

[2021-12-15 12:09] #59093 closed, assigned to nobody

[2021-12-15 12:09] #48243 closed, assigned to rcrdortiz

[2021-12-15 12:21] Robertght commented on #56505
I'm not able to replicate this unfortunately using Firefox 12.1 and the following:

Gutenberg: v12.0.2
Editing Toolkit: 3.22012
WP AMP: 2.0.5
CoBlocks: 2.10.1

I'm wondering if this is dependent on the display.

cc @Automattic/flow-patrol-create  @Automattic/flow-patrol-spacelab for a second look.

[2021-12-15 13:00] #58656 closed, assigned to WBerredo

[2021-12-15 13:04] WunderBart commented on #57660
Just noting that even in this case, the site still might be "in use" by the CI from the same account, which means that the concurrent requests are still possible.

[2021-12-15 14:36] gabriel-fuentes commented on #57812
4614268 - zen

[2021-12-15 14:42] gabriel-fuentes commented on #57812
4610943 - zen

[2021-12-15 15:00] andres-blanco commented on #59131
This is implemented in D71461-code and the duration metadata is removed in D71617-code

[2021-12-15 15:01] kristastevens commented on #59025
Hi @autumnfjeld, I've got some copy options to choose from. Let me know what you think! Happy to tweak some more:

- Premium themes offer a sophisticated and fully customizable design aesthetic.
- Elevate your site's look and feel with a fully customizable Premium theme.
- Elevate your site's look with a stylish and functional Premium theme.
- Premium theme designs are modern, stylish, and fully c

[2021-12-15 15:56] sixhours commented on #59196
We ran into issues by Network Activating the themes before they'd been added to the store tables, and by my accidentally activating the wrong themes (there were same-name versions in `/pub`. For next time:

* Double check you're activating the right theme in Network Admin if there are multiple themes with the same name. View source to see which one is which.
* Don't Network Activate the themes unt

[2021-12-15 16:18] escapemanuele opened #59244 "Welcome Tour: Explore new design for Header controls"
### What

[Introducing new gifs ](https://github.com/Automattic/wp-calypso/pull/56347) for the mobile Welcome Tour, we encountered some problems with the tour overlay controls overlapping with the gifs.

We shipped a [quick solution](https://github.com/Automattic/wp-calypso/pull/59052), but that's not optimal.

We talked about this in the pod slack thread: p1639497273123400-slack-C029WSAQMT9

###

[2021-12-15 16:36] sixhours opened #59245 "Themes: Add Videomaker to softlaunch list, add to store, and Network Activate it"
Holding off on this until after the new year, there are a handful of sites already using `pub/videomaker`, some of which are Atomic and therefore affected by #59153 and we don't want to break things pre-holidays. Slack convo: p1639671491203600/1639670049.196400-slack-C029FM1EH

- [x] Add, commit, and deploy `premium/videomaker` to the softlaunch list (D71695-code)
- [x] Add Videomaker to store tab

[2021-12-15 16:41] kwight opened #59246 "Videos UI: Mousing over the My Home card does not prefetch the `courses` API call."
Calypso has a mechanism that will prefetch an API call on mouse hover – this would be great for the "Start learning" link on the My Home card for the Blogging Quick Start video, which currently only makes the API call as the UI is opening after click.

<img width="761" alt="Screen Shot 2021-12-15 at 8 40 37 AM" src="https://user-images.githubusercontent.com/349751/146227610-28a98062-79e7-4eb9-96e9

[2021-12-15 16:45] JoshuaGoode commented on #50509
Located an older internal report from 2017: 336-gh-Automattic/atomic

Essentially, we need to hide or change the WP-Admin > Help support links.

[2021-12-15 16:54] #57761 closed, assigned to WBerredo

[2021-12-15 17:06] autumnfjeld opened #59247 "Importer Message: The address you entered is not valid. Please try again."

[2021-12-15 17:09] autumnfjeld commented on #59247
I tried the new importer flow using my own personal website autumnfjeld.com and got what I feel is an incorrect message, because the address is indeed valid.    (FYI: I didn't expect the import to work, because it is a custom built site, but I was curious what the flow would be like)

![image](https://user-images.githubusercontent.com/5665959/146232286-497ae33e-4dbc-452a-a7b2-56336cf2b3ab.png)

[2021-12-15 17:11] autumnfjeld commented on #59247
cc: @vishnugopal  :)

[2021-12-15 17:16] #59196 closed, assigned to sixhours

[2021-12-15 17:23] #51556 closed, assigned to sirbrillig

[2021-12-15 17:43] worldomonation opened #59249 "CI: simplify WPCOM and Calypso configurations."
### Details

A lot of duplication currently exists within both WPCOM (`WPCOMTest.kt`) and Calypso (`WebApp.kt`).

For instance, the definition of artifact rules have two variations between the two:

Current
[code]

Older
[code]

Same goes for the command to actually execute the e2e tests; they are identical across all 6-8 instances between the files, the only difference is the specification of the

[2021-12-15 18:42] nelsonec87 opened #59251 "[Bug]: URL parsing is broken when site URL starts with "free""
### Quick summary

Trying to access: `https://wordpress.com/themes/free3nelsonec.wordpress.com` I'm redirected to `https://wordpress.com/themes3nelsonec.wordpress.com` (not found)
![image](https://user-images.githubusercontent.com/3801502/146245488-cd0f9f97-2c3a-481c-9405-b4a276e80522.png)

### Steps to reproduce

1. Create a free site starting with the word "free"
2. Go to calypso -> Appearance -

[2021-12-15 19:01] retrofox commented on #58331
![image](https://user-images.githubusercontent.com/77539/146248568-65ffa15c-c6ae-4add-a03d-060e6b6d49cd.png)

This is what we got now. It's almost the same Error component defined in the transfer step. Do you think it's good enough at least for now?

[2021-12-15 19:05] retrofox commented on #58331
Those seem pretty similar to me. I'm testing with a broken WoA site (status is `active`). The transfer object defines its status with `500`. I think we can check this property to catch it.

[2021-12-15 19:28] retrofox commented on #58331
Is this property defined? I'm testing with broken sites, and it doesn't seem to be.

[2021-12-15 19:41] nelsonec87 opened #59254 "Theme Showcase: Screenshots may appear too short for their given space at some screen widths"
### Details

On skivers's page (`/theme/skivers/<site>`), there is an extra space below the left screenshot:

![image](https://user-images.githubusercontent.com/3801502/146253802-f0816c18-efc8-4493-93be-12b5eac2867a.png)

The image seems to be shorter than the div's `min-height`.

[2021-12-15 19:44] nelsonec87 opened #59255 "Themes: Missing screenshot on theme page"
### Details

On the Baxter theme page, `/theme/baxter/<site>` ,the left screenshot is missing

![image](https://user-images.githubusercontent.com/3801502/146254239-ce7248c3-e1f2-4d77-93a2-c0f0fb4581a4.png)

[2021-12-15 19:55] sajmes opened #59256 "Zoologist sets logo to 64px width regardless of logo size used"
### Quick summary

When a logo is added to a site using Zoologist (or a site using another theme has a logo added and then switches to Zoologist), the logo is resized to 64px wide, regardless of whether the user tries to change this or use a larger image.

If the logo is then replaced with a larger version, it appears as the expected size in the customizer but still shows at the smaller 64px wide

[2021-12-15 20:02] nelsonec87 opened #59258 "Themes: Problem with modal after premium theme checkout"
### Details

After buying a premium theme (after checkout), I'm redirected to the themes page and a strange modal is shown for a while:

![image](https://user-images.githubusercontent.com/3801502/146255470-2ddfeb51-a0ef-4ac8-aff4-ed18f653ef28.png)

It's similar to the one that shows when it's simply activating a theme:

![image](https://user-images.githubusercontent.com/3801502/146256290-19e875ce-

[2021-12-15 20:10] mattwiebe commented on #58911
plus one to both 👍

[2021-12-15 20:33] creativecoder commented on #58911
Thanks for the input! I've updated the issue description and moved this into our backlog.

[2021-12-15 20:45] jerrysarcastic opened #59259 "Global Styles: Font changes not saved"
### Quick summary

When using a theme with Global Styles, it seems that font selections are not saved.  If you click the "Publish" button they appear in Gutenberg still, but if you reload the view it's returned to the default system fonts setting.

See video:

https://user-images.githubusercontent.com/1967448/146261112-2c2325e5-3200-4c28-9597-afe8ee5e3a7b.mp4

Note:  publishing the page (in additi

[2021-12-15 20:49] vindl opened #59260 "FSE Beta: content loss after Undo"
### Quick summary

The Post Content disappears from the site editor once you insert a block to the Document level and then Undo that operation.

### Steps to reproduce

1. Start at `https://wordpress.com/site-editor/{site-url}`
2. Insert any block to the top level of the template (Document).
3. Press Undo.
4. Notice that the whole Post Content section has disappeared.

### What you expected to hap

[2021-12-15 20:57] kwight opened #59262 "Videos UI: The prompt to request translated videos is always hidden."
In https://github.com/Automattic/wp-calypso/pull/59155, we've created a notice prompting those watching videos with a UI other than English to contact us for translation requests. Since it would be silly to show this notice in English (instead of the viewer's native language), we deployed the notice behind a flag to allow translations to happen.

When those translations are done for the mag16, the

[2021-12-15 21:15] pablinos opened #59265 "Atomic Transfers Endpoint: Remove the GET check for the site being Atomic"
After requesting a transfer to Atomic we would like to be able to poll the
status of the transfer. Currently the check will return 400 while the site
is not Atomic, so we can't get information about the current transfer. It
also means that when a site is reverted, we can't get information about
its latest transfer too.

D71691-code is the patch to remove that check.

[2021-12-15 21:37] sixhours commented on #59254
/cc @alaczek and @onuro for a more fitting screenshot here.

[2021-12-15 21:45] sixhours commented on #59255
Odd, the theme was missing its Featured Image. I re-set one in the Theme Showcase, but it needs to be resized to better fill out the space:

<img width="1677" alt="Screen Shot 2021-12-15 at 4 44 13 PM" src="https://user-images.githubusercontent.com/2124984/146269648-ca751457-1eff-4872-aac9-e69cb314e6d4.png">

@alaczek @onuro I think this is the same issue we just had in #59152 🤔 The screenshot ver

[2021-12-15 21:58] retrofox commented on #58331
First attempt for transfer: https://github.com/Automattic/wp-calypso/pull/59267

[2021-12-15 23:09] cuemarie opened #59278 "Improvements for [Tools: Earn: Payments] page for users with MANY subscribers"
### What

1. Add a search function to the Tools > Earn > Payments page that searches the list of subscribers
2. Add a "load more" button and stop the subscriber list from auto-loading, or move the management options out from the bottom of the page

![Markup on 2021-12-15 at 16:04:45](https://user-images.githubusercontent.com/27249804/146278676-a3f4416f-0c66-4216-af4c-cbc70e0c02a1.png)

### Why

Ca

[2021-12-15 23:17] csmcneill opened #59279 "Cannot Purchase Variable Products Using the Russell Theme"
### Quick summary

When purchasing a variable product on a WPCOM site and the [Russell theme](https://wordpress.com/theme/russell) is active, it generates an error reading `Please choose product options by visiting [product title]`.

### Steps to reproduce

1. Activate the Russell theme.
2. Activate WooCommerce.
3. Create a variable product.
4. Attempt to purchase that variable product.
5. Note th

[2021-12-15 23:26] arcangelini commented on #58819
By default, the Legacy Widget block is not enabled in all editors, only `widgets.php` and `customizer.php`. In order to get this block to appear it would require manually applying all the `wp-widgets` scripts/styles and registering the block. [The process is outlined in the support doc](https://developer.wordpress.org/block-editor/how-to-guides/widgets/legacy-widget-block/#using-the-legacy-widget-

[2021-12-15 23:31] Greatdane commented on #59093
@Robertght #56559 looks to have been closed by GoDaddy; https://github.com/godaddy-wordpress/coblocks/issues/2042

So I am wondering if this is a different issue? Console errors also seem to be different.

It may be prudent for me to post this on The CoBlocks repo if someone else can reproduce it when triaging?

[2021-12-15 23:37] kwight commented on #58206
Let's leave this open until it's actually readable in the mag16 languages.

[2021-12-15 23:43] mrfoxtalbot opened #59280 "[Block] Blog Posts - Featured Images hidden by Customizer settings: Customize > Content Options > Featured Images"
### Quick summary

The Blog Posts Block is showing featured images **in the editor but not in the public post**.

Editor view:

![Screen Shot on 2021-12-16 at 00:34:01](https://user-images.githubusercontent.com/4452464/146281218-bcdefbe5-6b4f-4a9f-af0e-0cd297238750.png)

Public View:

![Screen Shot on 2021-12-16 at 00:34:18](https://user-images.githubusercontent.com/4452464/146281237-c7987cd7-84ae

[2021-12-15 23:53] autumnfjeld commented on #59025
I'm diggin' this:

[2021-12-16 00:19] hacchism opened #59281 "Dynamic News: Email icon for Social Links Menu doesn't work"
### Quick summary

Email icon for Social Links Menu doesn't work on Dynamic News theme.

### Steps to reproduce

1. Activate "Dynamic News" theme.
2. Go to Customize → Theme and make sure to check off "Display Social Icons on header area".
3. Go to Customize → Menus and set up Social Links Menu.
4. Add a new custom link menu and put "mailto:YOUR_EMAIL" to the URL field and put "Email" to the Label

[2021-12-16 02:36] rinazrina commented on #58450
Just noting here that I got a user who keeps seeing the "Editing this Gallery in the WordPress mobile app requires version 18.2 or higher" messages when clicking their Gallery block on the page editor. They tried to dismiss them by clicking the X button, but the alerts keep repopulating.

The alerts disappear after they close the editor and reopen.

#33230297-hc

[2021-12-16 02:40] alaczek commented on #59254
Thanks for the ping! The height of the screenshot container is based on browser window width (36.15vw). Because these homepages aren't very tall, I'm finding it tricky to create a screenshot that would scale up nicely - at 2560px browser width, the screenshot would need to be 735px wide by 925px high, and it just doesn't match the design proportions. It works well only with sufficiently tall home

[2021-12-16 02:43] alaczek commented on #59255
The image going missing is very strange :| As for the size, I have the same notes as for Skivers. I can update the screenshots as soon as we have consensus.

[2021-12-16 03:19] glendaviesnz commented on #58450
One potential cause of this would be if they have some sort of browser extension that prevents the saving of data to local storage as the message sets a flag in local storage in order to know that the message has been displayed. Using an incognito tab may also cause it. However, I doubt this is the issue as otherwise, they would also get the "Welcome to the Editor" dialog every time they loaded Gu

[2021-12-16 03:44] nagpai commented on #50132
Another request 31548374-hc

[2021-12-16 04:23] SaxonF commented on #58505
Hey y'all, design using @emmnyc85 copy above.

![image](https://user-images.githubusercontent.com/1072756/146307614-10350c72-25ec-4d0d-b25c-a9d16b211beb.png)

**SVG for illustration**
[code]

[2021-12-16 04:37] vishnugopal commented on #59247
Interestingly, entering `http://autumnfjeld.com/` works!

Added to sprint to double-check cause.

[2021-12-16 05:03] Greatdane commented on #59130
![Uploading Markup 2021-12-16 at 14.03.23.png…]()

[2021-12-16 05:08] Greatdane commented on #59096
Moving this to the p2 repo.

[2021-12-16 05:32] Greatdane commented on #59174
Confirmed. Error seems to be;
[code]

Not sure if this is related to P2 only, but it only happens on comments as noted.

[2021-12-16 05:47] ollierozdarz commented on #58355
Also confirming this now works as expected. Great job!

[2021-12-16 05:47] kosiew commented on #59280
Hi @mrfoxtalbot ,

Thanks for reporting this and the detailed steps.

I could not reproduce this on a post - p9NNg0-Hv-p2
or on a page - P9NNg0-Hr-p2

Can you tell me more the steps to reproduce this?
 I want to make sure I understand you correctly.

[2021-12-16 05:50] poojashetty18 commented on #53626
4616795-zen

[2021-12-16 05:57] kosiew commented on #59278
Hi @cuemarie ,

Thanks for reporting this and advocating for our customers.

Triaging for developers' further investigation.

[2021-12-16 06:03] Robertght commented on #59093
No worries! I've linked these to the same issue on CoBlocks's end for now, however, although the error appear somewhat different the pattern seems to be the same.

I'll circle back once we hear back from the devs.

[2021-12-16 06:06] ollierozdarz commented on #58206
@kwight I think this solution will be fine. Are we able to move it to the top of the page please? (see below).

<img width="1672" alt="Screen Shot 2021-12-16 at 4 04 36 pm" src="https://user-images.githubusercontent.com/67085494/146317185-a87f6a9c-f297-4cc1-b9d8-df0a88a03dbc.png">

Also if we're open to adjusting the styles (since this screen is largely new), see above. [Figma](https://www.figma.c

[2021-12-16 06:17] lsl opened #59285 "Woo installer error handling"
Needed somewhere to track all these, this issue needs tidying up / splitting into distinct issues, this is probably going to make up our next sprint.

- Checkout decided "business bundle" didn't exist, threw up an `errorNotice`, cancelling and trying again worked. This is rather repeatable, just load the checkout a few times from the installer step, I think its something to do with the redirect ho

[2021-12-16 06:19] ollierozdarz commented on #59124
Agree. Let's make the designs turn from 2 col to 1 col at approx 116px (or closest breakpoint upwards if one is set).

This looked fine in my mobile test. Do we have any more info? If so, it's probably something @annchichi can add to her list.

Defer back to Dev to investigate/fix 🙂

This needs some more thought. I checked it out on various sizes and it doesn't appear too bad to me - but the sugge

[2021-12-16 06:30] kosiew commented on #59259
Hi @jerrysarcastic ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-12-16 06:36] kosiew commented on #59256
Hi @sajmes ,

Thanks for reporting this and the detailed steps.
This is similar to

https://github.com/Automattic/themes/issues/4852

Closing

[2021-12-16 06:36] #59256 closed, assigned to nobody

[2021-12-16 06:36] ollierozdarz commented on #58763
<img width="745" alt="Screen Shot 2021-12-16 at 4 36 17 pm" src="https://user-images.githubusercontent.com/67085494/146320516-85280188-05da-450a-b06a-dee34a2d17b5.png">

@autumnfjeld how about this?

[Figma](https://www.figma.com/file/EuqfSnWpfYx8fgiBlVmbuA/Blogger-Experience?node-id=3273%3A1563)

[2021-12-16 06:47] kosiew commented on #59235
Hi @carinapilar ,

Thanks for spotting and reporting this with the detailed steps.

I could reproduce this on a Simple site and AT site.

Triaging for developers' further investigation.

[2021-12-16 06:49] kosiew commented on #59230
Hi @inaikem ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-12-16 07:05] kosiew commented on #59193
Hi @kathrynwp ,

Thanks for reporting this and the detailed steps.
I managed to reproduce this on my iPhone.

Triaging for developers' further investigation.

[2021-12-16 07:07] kosiew commented on #59198
Hi @mikeicode ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-12-16 07:48] vishnugopal commented on #38152
We've decided to just log these errors in logstash. This will be helpful for debugging for HEs too. Once we get a volume of these errors, we can make a [dashboard as well in logstash](https://logstash.a8c.com/logstash/app/dashboards) to help HEs further.

[2021-12-16 08:28] arthur791004 commented on #59124
I think part of the issues mentioned above has already been fixed in https://github.com/Automattic/wp-calypso/pull/58444

Now, there is only 1 column if the screen width is smaller than 960px

I'm not sure about this one 🤔

This has already been fixed and looks as follow:

![image](https://user-images.githubusercontent.com/13596067/146334481-dab22768-62f6-4483-8b40-cfe52bc4c9ff.png)

I've adjusted

[2021-12-16 08:36] kosiew commented on #38152
Please include blog_id, date fields that will facilitate querying on the dashboard.

As an example, we currently use logstash to check emails sent to customers.
On the dashboard, we query by email and date range.

[2021-12-16 08:46] KokkieH commented on #53595
Another report in https://wordpress.com/forums/topic/edit-screen-blank/?view=all, and I've confirmed an a test site it still happens.

Current Safari version 15.0

[2021-12-16 08:58] gavande1 commented on #59186
Related diff created: D71715-code

[2021-12-16 09:03] gavande1 opened #59287 "Marketplace: Replace `wpcom-marketplace` blog sticker check with `is_automattician`"
### Details
We need to replace the `wpcom-marketplace` blog sticker check with `is_automattician` for CFT. So that other people can also test marketplace flow without adding blog sticker to their test site.

[2021-12-16 09:05] dsas commented on #50631
Looks like that the rule was added in 2018 as part of a big commit a2b8a31. It's in [calypso client/layout/style.scss](https://github.com/Automattic/wp-calypso/blob/666e1bf13f78b4304de41d7a5a666d6ec8d9d6df/client/layout/style.scss#L279)

[2021-12-16 09:08] gavande1 commented on #59186
deployed r236717-wpcom

[2021-12-16 09:10] DjamWork commented on #57036
Seems like another case here: 4615492
Provided CSS code

[2021-12-16 09:11] gavande1 commented on #59186
Deployed emergency fix: r236650-wpcom

[2021-12-16 09:16] gavande1 commented on #59186
Deployed one time fix at: r236718-wpcom

[2021-12-16 09:16] #59186 closed, assigned to gavande1

[2021-12-16 09:28] emmnyc85 commented on #58505
Thanks, @SaxonF. Looks good, but it's too long. Can we try just the following text?
`Now you can purchase plugins right on WordPress.com to extend your website's capabilities.`

[2021-12-16 09:40] mmtr opened #59290 "Themes: Different experience between Simple and Atomic when using the classic view"
### Quick summary

Atomic sites users don't get the same experience as Simple sites users when browsing themes through `wp-admin/themes.php`

### Steps to reproduce

- Go to https://wordpress.com.
- Switch to a Simple site.
- Go to Appearance > Themes.
- Use the "Screen options" tab and switch to the classic view.
- Take a look at the themes available.
- Now switch to an Atomic site, and repeat th

[2021-12-16 09:42] SaxonF commented on #58505
@emmnyc85 much better :)
![image](https://user-images.githubusercontent.com/1072756/146347204-4633f2d7-a9e8-4628-913b-e7beeb264488.png)

[2021-12-16 09:53] gcsecsey opened #59291 "Plugin Browser and Details: Show placeholder while prices are loading"
While testing #57760, I've found that when navigating to the plugin browser or the plugin details pages, the prices take a moment to show: https://d.pr/v/Z5qEjA

We should show the placeholders while the prices are still loading.

[2021-12-16 09:54] emmnyc85 commented on #58505
Looks great!

[2021-12-16 09:55] #57760 closed, assigned to gcsecsey

[2021-12-16 09:59] cpapazoglou opened #59292 "Marketplace: Paid plugin details in all sites view"
In all sites view "Sites List" doesn't render. It should render with a "Pay and install" button for eligible sites. The list shouldn't show Jetpack self hosted sites.

figma: oU6nEIeiKSg8CayhEtgR6b-fi-6757%3A53821

<img width="1601" alt="SS 2021-12-16 at 11 59 48" src="https://user-images.githubusercontent.com/12430020/146350326-96abc63c-4a66-4186-a6ec-3836d973cbad.png">

[2021-12-16 09:59] gavande1 commented on #59287
Diff created at: D71726-code

[2021-12-16 10:13] #58458 closed, assigned to jsnajdr, tyxla, chad1008

[2021-12-16 10:13] mmtr commented on #54422
I don't think we should. As an a11n, if I need to debug an issue or investigate an existing feature as part of an improvement task, I always prefer to get same behavior as our customers, so I won't make wrong assumptions.

[2021-12-16 11:01] Robertght commented on #58669
I'm closing it due to inactivity for now, but please re-open if necessary.

[2021-12-16 11:01] #58669 closed, assigned to nobody

[2021-12-16 11:03] #51341 closed, assigned to rcrdortiz

[2021-12-16 11:11] mmtr commented on #54422
Internal discussion: paYJgx-1EY-p2

[2021-12-16 11:15] Robertght commented on #59280
Thank you for following up on this one @mrfoxtalbot !

I can replicate this as well on my end now using Twenty Twenty-One. As this appears to be theme-specific(because the customizer options are not available with all of them) I'm pinging @jordesign and @jeffikus for a second opinion.

[2021-12-16 11:25] Robertght commented on #57884
I cannot replicate this anymore so closing it. Thank you @WunderBart !

[2021-12-16 11:25] #57884 closed, assigned to nobody

[2021-12-16 11:25] #52511 closed, assigned to rcrdortiz

[2021-12-16 11:40] Robertght commented on #48817
I cannot replicate this anymore with WordPress app 7.2.0.

Closing.

[2021-12-16 11:40] #48817 closed

[2021-12-16 11:44] Addison-Stavlo opened #59295 "Remove EKT Site Editor section after 12.2"
Once the Site Editor on dotcom no longer has to support any versions pre-12.2, we can remove the related section of overrides out of the ETK plugin.

Related - https://github.com/Automattic/wp-calypso/pull/58830 - PR conditionally loads the functionality until the above is the case.

[2021-12-16 11:50] Copons commented on #59290
I think this might be a very nasty technical challenge though.

What if we simply added a banner saying something like "browse all the themes in Calypso", linking to `https://wordpress.com/themes/:site`?

[2021-12-16 12:02] scruffian commented on #58819
There is no plan to add widgets to universal themes.

[2021-12-16 12:28] mmtr commented on #59290
Another option that was discussed yesterday: p1639581231333800/1639580038.330800-slack-C0113HTN28N

Completely dutch the WP Admin version, and incorporate the missing functionality (access to dotorg themes) into Calypso.

[2021-12-16 13:07] retrofox commented on #59265
Closing because of D71691-code

[2021-12-16 13:07] #59265 closed, assigned to pablinos

[2021-12-16 13:45] cpapazoglou opened #59300 "Plugin Details: Hide the billing switcher when plugin is activated and user already has a subscription"
![SS 2021-12-16 at 15 47 29](https://user-images.githubusercontent.com/12430020/146383611-9bd07ae4-4744-4ceb-9092-048fbebcf144.png)

[2021-12-16 13:50] andres-blanco opened #59301 "Videos UI: Default to select first video of the course."
Actually the first video is hardcoded to 'find-theme'. A better behaviour would be to select the first one coming from the API.

[2021-12-16 13:51] cpapazoglou opened #59302 "Marketplace: allow buying a monthly plugin with a yearly plan for personal/premium plans"
Steps to reproduce:
- on a site with a premium yearly plan
- try buying a monthly subscription paid plugin

<img width="1597" alt="SS 2021-12-16 at 15 53 47" src="https://user-images.githubusercontent.com/12430020/146384701-cd8c05d9-1cb7-4f0b-ad6c-65479f0e1ee3.png">

- [x] We need to add the business plan with the same period as the previous plan

[2021-12-16 13:54] gavande1 commented on #59287
Deployed r236746-wpcom

[2021-12-16 13:55] #59287 closed, assigned to nobody

[2021-12-16 14:03] dsas commented on #50814
It looks as though the themes page has been changed quit significantly since this was originally reported, Appereance → Themes → Add new theme no longer exists as a menu item, it's just Appearance → Themes

Installed themes such as the missing ones, are now available under 'My themes', so **this issue seems like it's now been alleviated a fair bit**. The themes are still not available under the ot

[2021-12-16 14:47] kwight commented on #58206
@ollierozdarz Sure, none of that should be a problem – @blackjackkent can you prepare a PR please?

[2021-12-16 15:24] arcangelini commented on #58819
It may be best to work on a replacement block to allow this feature to be used moving forward. @Robertght I would suggest maybe creating a feature request for a cookie and consent block. It may also be helpful to ask the FSE team to see if they are aware that the Legacy Widget block isn't enabled in the editor. Maybe @vindl has some insight?

[2021-12-16 15:25] scruffian commented on #58819
I agree a new block would be the way to go here.

[2021-12-16 16:23] sixhours commented on #59153
Experiments happening in 792-gh-Automattic/wpcomsh

[2021-12-16 17:31] supernovia commented on #48650
I ran across this today while looking to see what we already have re: this post

p1P4aZ-4BN-p2

https://wordpress.com/stats/day/annualstats/(siteadress)

[2021-12-16 17:44] vindl opened #59312 "FSE Beta: point Edit Homepage link to the Site Editor"
The following CTA button should point to the Site Editor for FSE Beta sites. With the latest Gutenberg updates the Editor got moved to the Appearance sub-menu, so it's harder for users to find now.

<img width="1075" alt="Screenshot 2021-12-16 at 18 43 06" src="https://user-images.githubusercontent.com/1182160/146422175-aea29a2f-474b-40e9-bc24-62a489d1f767.png">

[2021-12-16 17:47] vindl opened #59313 "FSE Beta: update Quick Start items"
With the latest Gutenberg updates the Editor got moved to the Appearance sub-menu, so it's harder for users to find now. To make that task easier, we should update the Quick Start links and surface it at the top. For example:

<img width="338" alt="Screenshot 2021-12-16 at 18 45 59" src="https://user-images.githubusercontent.com/1182160/146422451-3b5d896e-1602-4af7-a797-f3829b66375d.png">

[2021-12-16 17:57] kwight opened #59315 "New sites with custom domains might not be properly logged in."
Reported by @ianstewart

[2021-12-16 18:01] kwight commented on #59315
This may be related to domains or something: p1639671882216800-slack-C029SB8JT8S

Let's verify that when we are certainly logged in, we see the launch bar as expected.

[2021-12-16 18:05] sixhours commented on #59254
I wonder if we could just edit the showcase CSS to not expect a specific height/ratio there and have it grow/shrink on resize. (I feel like that came up when they were building out the showcase pages before, and is probably not as easy as I'm making it sound, too. 😅)

Let's set this aside for now, we have more pressing issues with theme activation on Jetpack and Atomic sites to work through.

[2021-12-16 18:05] kwight opened #59316 "Videos UI: A call to the courses API is being made when closing the UI."
An unnecessary call to the courses API is being made when closing the videos UI.

[2021-12-16 18:08] nelsonec87 commented on #59254
+1
In the long run it'd be better not to worry about every new theme screenshot ratio.

[2021-12-16 18:14] nelsonec87 opened #59318 "Themes: Payton thumbnail is missing"
### Details
Thumbnail for the Payton premium theme is not available, `400` response.

`https://wordpress.com/themes/<site>`

![image](https://user-images.githubusercontent.com/3801502/146425920-85762968-31dd-472a-bee9-02b7a695b5e5.png)

![image](https://user-images.githubusercontent.com/3801502/146426194-7ad8171c-a65f-4bfd-ba1b-cbc153b073a7.png)

[2021-12-16 18:23] nelsonec87 opened #59319 "Themes: Missing "Upgrade" label on first load"
### Details

When first accessing the url: `https://wordpress.com/themes/<external-jp-site>?flags=themes/premium`, the list of themes are shown, but the "UPGRADE" label is not (see Payton, Baxter, etc).

![image](https://user-images.githubusercontent.com/3801502/146427129-e81140df-4eff-48b1-928a-480e39e59eb8.png)

If I change to the Premium filter, the label appears:

![image](https://user-images.

[2021-12-16 18:42] nelsonec87 opened #59320 "Themes: Missing premium theme from feature list"
### Details

Missing "premium themes" feature from Plans page feature list.

1. Open a free site, use the `themes/premium` feature flag.
2. Go to Appearance -> Themes
3. Click the Upsell banner:
![image](https://user-images.githubusercontent.com/3801502/146429559-71fa3e05-a41e-4c2a-8486-eb5195b44c82.png)

4. Plans page is loaded, but the premium theme feature is missing

![image](https://user-imag

[2021-12-16 18:49] kwight opened #59321 "Videos UI: Videos UI is not available to Japanese users."
The Videos UI is not yet available to Japanese users. Once translations are done, that language gate should be removed.

[2021-12-16 18:55] kwight opened #59322 "Videos UI: The Blogging Quick Start slugs filter needs to have limited loading."
The filter that converts our course management video slugs to the original hard-coded slugs is located in `mu-plugins`, so that it can be effective for the library and the API. But it currently also gets loaded on all front-ends, so the file should bail loading if not in one of our needed contexts.

[2021-12-16 19:14] ClassicRKR27 commented on #55273
I've got another request here: 33243822-hc

[2021-12-16 19:43] sixhours commented on #59318
Fix for this in D71780-code

I think what's happening is folks working with these diffs need to use `arc patch-image` when they're applying the diff to their sandbox for deployment; `arc patch` won't bring over the image files.

[2021-12-16 19:44] sixhours commented on #59320
I think this will be fixed by #59006

[2021-12-16 19:46] kwight opened #59325 "Videos UI: Post content from the course management system is not translated."
With our new course management system, the text displayed in the UI comes from post content – this will need special consideration to be translated. We can look to the [Theme Showcase](https://theme.wordpress.com/wp-admin/edit.php?post_type=themedoc) as inspiration, since it's a similar situation.

[2021-12-16 19:48] kwight commented on #59325
We should also reach out to the i18n team to see how best to proceed.

[2021-12-16 20:07] Addison-Stavlo opened #59326 "Tracking various Site Editor entry points."
When we first added tracking for the Site Editor there was only one entry point and thus not much reasoning to track it.

In the time since we have been adding more entry points to the site editor throughout calypso, such as from theme switching, my home, front end, and various other places 'customize' links exist.

The question here is if we should be adding tracking for ALL site editor entry poi

[2021-12-16 20:18] worldomonation opened #59327 "Flaky E2E: Open and close SEO preview"
### Spec file

wp-seo__preview.ts

### TeamCity ID

https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_desktop/7132157

### Logs

[code]

Possibly related to https://github.com/Automattic/wp-calypso/commit/022d6c3866fbd22e632ef2863d803835bdcfa0f3, but not 100% established. Moderately strong possibility that it is related however, due to this failure cropping up for the firs

[2021-12-16 20:31] #58911 closed, assigned to zaguiini

[2021-12-16 20:55] kwight commented on #59015
We went with reusing the `post_tag` taxonomy due to the nature of `switch_to_blog` and custom taxonomies that aren't shared between both blogs: https://core.trac.wordpress.org/ticket/20541

[2021-12-16 20:55] #59015 closed, assigned to kwight

[2021-12-16 20:56] kwight commented on #59131
Done. 👍

[2021-12-16 20:56] #59131 closed, assigned to andres-blanco

[2021-12-16 20:57] kwight commented on #58206
The above PR is waiting on translations to ship.

[2021-12-16 21:00] kwight commented on #58249
This has been mostly accomplished in:

* D71461-code
* D71681-code
*D71617-code
* D71649-code
* D71552-code

... and [others](https://github.com/orgs/Automattic/projects/148#column-17091266). The main piece remaining is translation of the post content for the management site.

[2021-12-16 21:01] kwight commented on #58873
We ended up using the existing `attachment` type for the videos, and a new `wpcom_course` CPT for the courses themselves. Grouping is done with regular tags.

[2021-12-16 21:01] #58873 closed, assigned to andres-blanco

[2021-12-16 21:02] kwight commented on #58874
We ended up using the existing `attachment` type for the videos, and a new `wpcom_course` CPT for the courses themselves. Grouping is done with regular tags.

[2021-12-16 21:02] #58874 closed, assigned to kwight

[2021-12-16 21:03] kwight commented on #58876
This was mostly done in D71461-code, but a filter needed to be added to return the hard-coded course information until we can get Linguine translating the management system's post content.

[2021-12-16 21:04] kwight commented on #57790
This was done at some point.

[2021-12-16 21:04] #57790 closed, assigned to nobody

[2021-12-16 21:18] sixhours commented on #59318
Fixed in D71780-code

[2021-12-16 21:18] #59318 closed, assigned to sixhours

[2021-12-16 22:21] cometgrrl commented on #56779
@Automattic/flow-patrol-create Is this something you could look at? It's a little scary that people could gain access to unlaunched sites and their content through this bug.

[2021-12-16 23:13] #59312 closed, assigned to jeyip

[2021-12-17 00:26] kwight opened #59335 "Videos UI: Update the Field Guide page."
The Field Guide page for videos UI, at PCYsg-DgC-p2, needs to be updated with how the course management works.

[2021-12-17 00:36] kwight opened #59337 "Videos UI: Investigate the "set in Media Library" link for videos."
In the videos UI course management system, we need to add posters (a representative static image) for each video, and we've done this so far with the featured image. There's another related-sounding link on the video edit view called "set in Media Library" that should be investigated as another possible better way to handle posters.

<img width="832" alt="Screen Shot 2021-12-16 at 4 34 27 PM" src=

[2021-12-17 00:36] jsnmoon commented on #59336
@bluefuton: I transferred this issue into the Calypso repository for better visibility to teams working on Atomic.

[2021-12-17 03:00] arinoch commented on #57812
33247207-hc - The issue was secondary to the reason this user came into chat, it was something they mentioned after I fixed their actual issue. Using Opera 82 on Windows 10.

[2021-12-17 03:04] nagpai commented on #52205
26505497-hc

[2021-12-17 03:04] arinoch commented on #56742
33226448-hc was on the Business plan, and should have been switched to atomic when they tried to enter the code in this chat. They were not. This appears buggy to the user, who thought there was something wrong with the HTML block.

[2021-12-17 03:32] edwinho89 commented on #57812
24550100-hc - User is on Safari 15.1 on Mac OS X 10.15.7

[2021-12-17 08:04] jartes commented on #52074
Had one case here: 33250728-hc

Shared the following CSS code to hide these buttons, as they didn't want them:

[code]

[2021-12-17 08:46] Robertght commented on #49831
I can still replicate this.

[2021-12-17 08:56] Robertght commented on #49916
this appears to be fixed already as I tested with Storefront and Twenty Twenty-one.

[2021-12-17 08:56] #49916 closed, assigned to nobody

[2021-12-17 09:15] Robertght commented on #49839
Thank you for reporting this @xpurichan !

I could not find any other reports in the Jetpack repo.

I'm going to close this one for now as we have not received any other reports, but please reopen if there are any others.

[2021-12-17 09:15] #49839 closed, assigned to nobody

[2021-12-17 10:34] StefanNieuwenhuis opened #59345 "Refactor`imgNeedsPadding`"
Since `imgNeedsPadding` is a property of an image, doesn't it make more sense to extend the `getTourAssets` method and rename `imgSrc` to something more generic, like `asset`?

This `asset` prop contains the media (for any viewport) and its properties. WDYT?

_Originally posted by @StefanNieuwenhuis in https://github.com/Automattic/wp-calypso/pull/59294#discussion_r770518048_

[2021-12-17 10:54] niranjan-uma-shankar commented on #50909
In other places such as logged out pages(LOHP, /pricing) and signup flow plans step - we don't mention that the discount is first-year only. cc @paulbonahora is this something to be addressed?

On Calypso's /plans page, we mention that the discount is first-year only in the tooltip, so I guess that should suffice?

<img width="291" alt="Screenshot 2021-12-17 at 2 52 29 PM" src="https://user-images

[2021-12-17 11:11] chriskmnds opened #59347 "Tour Kit: Add a unique CSS class for each step"
### What

Introduce/require an ID for the steps and attach a CSS class derived to enable downstream customizations in simple implementations.

### Why

It's a small improvement but will help Tour Kit implementations target and style each step individually without needing to provide their own unique classes in step renderers.

Putting this together as per the steps below will help with other work a

[2021-12-17 11:41] liviopv commented on #59130
Another 4618358-zen

[2021-12-17 11:52] niranjan-uma-shankar opened #59349 "[Bug]: Wrong annual price in signup flow for INR, MXN, PHP currencies"
### Quick summary

INR, MXN, and PHP currencies get a 20% discount for the first year. The annual price in the "billed as annually" copy wrongly mentions the original price instead of the discounted price.

### Steps to reproduce

1. Set your currency to INR
2. Head to https://wordpress.com/start and begin a fresh signup
3. Proceed to the plans step of the signup flow

### What you expected to hap

[2021-12-17 12:03] chriskmnds commented on #59345
Thanks, @StefanNieuwenhuis for following up.

I'd punt on any refactors around this. From where I stand, the prop is on its way out. 🤷‍♂️
See https://github.com/Automattic/wp-calypso/pull/59294#discussion_r771325497

[2021-12-17 12:27] niranjan-uma-shankar opened #59351 "[Bug]: Paid plans don't take to the blogger onboarding flow"
### Quick summary

As a new user signing up on wordpress.com/start, purchasing a Personal, Premium or Business plan takes to a "Thank you" page instead of the blogger onboarding flow.

A note on Premium plan purchase - selecting "No" on the upsell that appears right after a Premium plan purchase correctly takes to the blogger onboarding flow, however purchasing the upsell takes to a Thank You page

[2021-12-17 12:45] roo2 commented on #59351
looks related to https://github.com/Automattic/wp-calypso/issues/56303

[2021-12-17 12:47] donlair commented on #50909
@niranjan-uma-shankar the two different savings percentages are confusing (the 20% and 39%). In this case, I'd remove the 39% annually bit and keep the "20% off" label since that's the only thing that's actually a discount.

If we want copy to explain the discount I'd go with something like "Buy today and save 20% for your first year" in the spot where you've got the 39% line. Or remove the "buy t

[2021-12-17 12:52] carinapilar opened #59352 "TextBook: Invisible Post Titles on Blog Posts Block Inside Posts"
### Quick summary

When you add the Blog Posts block inside a post, the post titles aren't visible.

### Steps to reproduce

1. Activate the TextBook theme on your site.
2. Create a new post.
3. Add the Blog Posts block on it - you would want to have a couple of published posts that would show on the block.
4. Publish the post and check the post on the live site.

### What you expected to happen

[2021-12-17 12:53] niranjan-uma-shankar commented on #59351
This seems to be a regression, since paid flows appear to have worked earlier. e.g. p58i-bpK-p2#comment-52457

[2021-12-17 13:04] niranjan-uma-shankar opened #59353 "[Bug]: Pro-rata credits calculation is wrong, leading to an unintended discount on plan upgrades"
### Quick summary

In INR, MXN, and PHP currencies, we offer a 20% first-year only discount. The pro-rata credits is wrongly calculated from the original price, leading to a bigger discount on plan upgrades than we intend to give.

### Steps to reproduce

1. In INR currency, head to wordpress.com/start and purchase a Business plan, which is INR 7.680 with a 20% first-year discount.
2. In Calypso,

[2021-12-17 14:29] #59182 closed, assigned to escapemanuele

[2021-12-17 14:48] allilevine opened #59357 "Woop landing page: WooCommerce nav item link doesn't have site id"
### Quick summary

<img width="727" alt="Screen Shot 2021-12-17 at 9 16 38 AM" src="https://user-images.githubusercontent.com/1689238/146561200-e3b0b80e-46ff-4436-92b3-1a253bed841e.png">

Clicking "WooCommerce" in the header of the Woop landing page (/woocommerce-installation/) opens an error page in Calypso dev. It should either not have a link because we're already on the page, or include the si

[2021-12-17 17:28] #59357 closed, assigned to allilevine

[2021-12-17 18:30] zaguiini commented on #59260
For me, the contents of the `Header` disappeared. I guess it's something with template parts? Maybe https://github.com/WordPress/gutenberg/issues/36788 will fix this problem.

[2021-12-17 19:39] #59313 closed, assigned to zaguiini

[2021-12-17 19:54] DavidRothstein commented on #59353
I don't think that's correct -- that would mean the user pays a total of 17,280 to get the eCommerce plan (i.e. full price) and never receives the first-year discount at all.

The correct way to do this is to either consistently **count** the 20% discount when determining the product value for upgrades, or consistently **not count** it, but we shouldn't mix and match.  So either of these:

1. 17,2