[2022-03-26 14:35] arunsathiya commented on #25066
The marketplace has changed significantly since this report. A newer issue is here:

- https://github.com/Automattic/wp-calypso/issues/62281

[2022-03-26 14:36] arunsathiya commented on #62281
Feel free to close if this is not as important, as we are already blocking the purchase on the second step. Just a nicer experience for our customers if we hide incompatible ones.

[2022-03-26 17:46] louinel commented on #39956
New case here: 4895797-zen

[2022-03-26 21:54] villanovachile opened #62282 "Plans: Blogger plan no longer allows uploading audio"
### Quick summary

The Blogger plan, now deprecated, no longer allows uploading audio files such as MP3s. This was working as recently as a month ago, but something has changed in the last month or so.

### Steps to reproduce

1. In the WordPress.com Dashboard go to Media, then click Add new.
2. Audio files are not selectable from the file selection dialogue.
3. Click the Audio tab in the Media Li

[2022-03-26 22:21] pendantry opened #62283 "[Bug]: Event Countdown block rendering problem after milestone is hit"
### Quick summary

![image](https://user-images.githubusercontent.com/77969662/160258806-b262962b-dd4f-41c0-8875-1d89e2249464.png)

Platform: Windows 8.1/ Firefox 98.0.2 (64-bit) / Twenty Ten theme (yes, I know it's a 'retired' theme)
(That's the only configuration I tried it on. Life is too short. Way too short.)

Example available at https://pendantry.wordpress.com/2022/03/22/using-leaf-appropri

[2022-03-27 01:03] donalirl commented on #60876
I tested the newly added links and they work well!

It doesn't look like Categories and Tags have received subtitles and links. Neither has the three subpages in the Marketing tab:

- Tools > Marketing > [Traffic](https://wordpress.com/marketing/traffic/):
-  Tools > Marketing > [Connections](https://wordpress.com/marketing/connections):
-  Tools > Marketing > [Sharing Buttons](https://wordpress.c

[2022-03-27 04:07] donalirl opened #62284 "Add Additional Support Links to Block Card Description"
_This is a follow-up to #56091 to add documentation links to the remainder of the blocks._

Has nested blocks:

- [x] [Media & Text Block](https://wordpress.com/support/wordpress-editor/blocks/media-text-block/) - core/media-text
- [x] [Payments](https://wordpress.com/support/wordpress-editor/blocks/payments/) - jetpack/payments-intro (has a support link already, but could be updated to match the

[2022-03-27 07:24] arcangelini commented on #60876
Yes, there are still 2 PRs awaiting approval to address these including jetpack backups.

[2022-03-27 13:49] joweber123 opened #62285 "Feature Request: Donations Block Add Support for Causes"
### What

In the donations block, add the ability for the user to add various "causes" so that visitors to the site that are donating can decide to which cause they want to give money.  This could be a simple dropdown that is visible to the visitor that they could select and then on the payments screen, it would add a note so that the user knows where to put this money.

### Why

As an example, in

[2022-03-27 14:22] philnick206 opened #62286 "Twenty Seventeen: Custom header image blurry on small screens"
### Quick summary

When viewing a site with a custom header image on Twenty Seventeen, the image is noticeably blurry.

### Steps to reproduce

1. Add a custom header image via the Customizer on Twenty Seventeen
2. View the site on desktop
3. View the site on mobile/use responsive design mode to see image on a smaller screen

### What you expected to happen

The header image should still look cris

[2022-03-27 14:27] arunsathiya opened #62287 "Full site editing: Template set for a blog archive page is "Home" while it could be "Archive""
### Quick summary

On a site with Full Site Editing enabled, a page that's marked as the blog archive gets the "Home" template instead of the "Archive" template. The latter is ideal because it's an archive page designed to show blog posts, and is not the homepage of the site. The homepage is an entirely different page.

### Steps to reproduce

- Start with a WordPress website and a core theme like

[2022-03-27 14:33] arunsathiya opened #62288 "Full site editing: Unable to view a page template if the page is marked as a blog archive"
### Quick summary

When a page is marked as blog archive, there's no way to open that page's editor view to view the applied template. It's possible only after un-setting the page as blog archive on the Customizer.

### Steps to reproduce

- Create a page and publish it. **Don't close the editor view of this page**
- Mark that page as the blog archive on the Customizer.
- Refresh the editor view o

[2022-03-27 14:40] arunsathiya commented on #62287
- Moved to core: https://github.com/WordPress/gutenberg/issues/39785

[2022-03-27 14:40] #62287 closed, assigned to nobody

[2022-03-27 14:43] arunsathiya commented on #62288
Interestingly, this does not happen on WordPress.org: I can access the editor view of a blog archive page fine.

<img width="706" alt="image" src="https://user-images.githubusercontent.com/18581859/160286833-268d0d07-a739-42a6-9df6-cd1a32e43914.png">

It's only on WordPress.com where I cannot open the editor view:

<img width="1154" alt="image" src="https://user-images.githubusercontent.com/185818

[2022-03-27 14:43] arunsathiya commented on #62288
- Found when reporting this issue: https://github.com/Automattic/wp-calypso/issues/62287

[2022-03-27 14:43] arunsathiya commented on #62288
Interestingly, this does not happen on WordPress.org: I can access the editor view of a blog archive page fine.

<img width="706" alt="image" src="https://user-images.githubusercontent.com/18581859/160286833-268d0d07-a739-42a6-9df6-cd1a32e43914.png">

It's only on WordPress.com where I cannot open the editor view:

<img width="1154" alt="image" src="https://user-images.githubusercontent.com/185818

[2022-03-27 16:58] kspilarski opened #62289 "Query Loop Block: Grid style preview improperly displays the layout styles"
### Quick summary

On simple sites, the Query Loop block style preview is incorrect.

### Steps to reproduce

1. On a simple site, add a Query Loop block on a page.
2. Select the Grid View.
3. Scroll down to see the preview of each style.

### What you expected to happen

The preview of each styles will be shown correctly.

### What actually happened

The preview of each style is not correct on si

[2022-03-27 17:00] janmckell commented on #57711
Another user affected by this: 4895541-zen

Gave CSS code for a temp fix:
.wp-block-cover.is-style-hover-reveal .has-background-dim {
  opacity: 0;
  transition: .3s;
}

.wp-block-cover.is-style-hover-reveal:hover .has-background-dim {
  opacity: 0.6;
}

[2022-03-28 01:25] helenaartmann opened #62290 "[Bug]: Blog posts block not retrieving posts"
### Quick summary

User came to chat complaining about the latest posts not showing up on their homepage. They are using the blog posts block and when I checked on the editor all the posts were there, but not on the homepage. I tried reproducing it on my test Business site and was able to. So, the blog posts block is not retrieving the posts and not even showing up on the live site.

I added the Q

[2022-03-28 01:31] donalirl commented on #52100
#52100-hc concerned about not being able to add a cookie banner. I promised we'd let them know when a new solution is ready.

[2022-03-28 05:45] as-esu commented on #53626
4899281-zen simple site

[2022-03-28 06:01] lsl commented on #62268
Can we make this part a stretch? Or at least rewrite as "begin implementation"? Thinking we might find some quick wins but a full implementation isn't likely.

[2022-03-28 07:49] jartes commented on #61464
Another one on 31358916-hc with `translatepress-multilingual` plugin.

[2022-03-28 07:52] cpapazoglou commented on #60769
Thanks @vinimotaa for working on this. Yes, a CTA sounds good. I wonder how could we enhance it by using a notice (or anything) which allows for some explanatory text. example
<img width="596" alt="CleanShot 2022-03-28 at 10 51 10@2x" src="https://user-images.githubusercontent.com/12430020/160351763-d39cb858-16a3-4335-9c73-a6c358368f86.png">

[2022-03-28 08:14] #62106 closed, assigned to worldomonation

[2022-03-28 08:14] worldomonation commented on #62106
Done.

[2022-03-28 08:22] rickmgithub opened #62293 "Barnsbury drop down menu colors"
### Quick summary

Drop down menu color changes to white on green after a right click

### Steps to reproduce

PROBLEM:
* Go to the main menu on - ontarioltc101.ca
* Click on an item to open a submenu.
You see the black text and grey back
* Now "right" click on one of the the top level main menu items without opening a new page
* Click again on the page somewhere without it reloading to click the

[2022-03-28 08:31] rickmgithub opened #62294 "Blog subscription at the WooCommerce checkout"
### What

Request

"I’d like Jetpack to tie in with WooCommerce by having the option of allowing a blog subscription sign-up at checkout, or for WooCommerce to have that facility as a free plugin. I know that people can use a MailChimp account plugin to do the same but that’s quite a lot of extra work for the shop-owner, and in the initial stages of developing a business when there are so many thi

[2022-03-28 09:14] kylemcph commented on #53626
User in 4913073-hc was waiting over a week for two sites to be made public before reaching out to support so I could perform the "Privacy somersault".

[2022-03-28 11:04] epeicher commented on #62206
When trying to activate the plugin using the `wp` cli, an error is returned. That could be the cause of the error.

2c0bc-pb

[2022-03-28 11:22] cpapazoglou commented on #62206
Nice sleuthing @epeicher. I can see that after activation `zerobscrm-dash` tries to do a redirect which is probably not expected when plugins are installed via CLI (related https://wordpress.org/support/topic/redirect-after-enabling-plugin-kills-wp-cli/).

@cleacos should we add a return early statement for CLI requests too here?
https://github.com/Automattic/zero-bs-crm/blob/4.10.1/includes/ZeroB

[2022-03-28 11:53] cleacos commented on #62206
@cpapazoglou Thanks

Yes, we could check for `WP_CLI` in that condition too. Added the issue to fix it.

[2022-03-28 11:55] cleacos commented on #62206
On the next release, we will add this too. (maybe this week, depending on other hotfixes we have to do)

[2022-03-28 12:21] cpapazoglou opened #62299 "Marketplace: Indicate that paid plugins require a plan upgrade"
Currently all plugins require a plan upgrade to business or ecommerce plan but we don't do a good job at indicating that for paid plugins

![CleanShot 2022-03-28 at 15 20 21@2x](https://user-images.githubusercontent.com/12430020/160396789-601ea0e6-3d51-4eb2-8735-338a0da6a038.png)

What would be the best design & language to make sure users understand that paid plugins also need a plan upgrade?

[2022-03-28 12:23] #61696 closed, assigned to mashikag

[2022-03-28 13:49] rickmgithub opened #62300 "Twenty Twenty : Image block rounding not working"
### Quick summary

Add an image block within a column in a group to a site with Twenty Twenty

Set it to be rounded.

The image shows elongated and not round as it does in the editor.

### Steps to reproduce

* There is an image of the user. It shows as a circle in the editor like this.
<img width="452" alt="Markup 2022-03-28 at 14 40 10" src="https://user-images.githubusercontent.com/13706336/160

[2022-03-28 14:06] cpapazoglou opened #62302 "Marketplace: add Australia Post and Royal Mail"

[2022-03-28 14:12] andres-blanco commented on #60733
Hey @hacchism ! Do we have any update on this issue? Thanks :)

[2022-03-28 14:24] Nic-Sevic commented on #52533
This happened again with the Rivington theme here: 34891552-hc
colors displayed incorrectly in customizer and on live site but correctly in editor

Workaround: changing one of the colors to a custom one got all to display correctly

[2022-03-28 14:49] kerrynicl commented on #62102
Closing in favour of - #61740

[2022-03-28 14:49] #62102 closed, assigned to rickmgithub

[2022-03-28 14:55] annezazu commented on #61517
Tried to replicate this and couldn't:
https://user-images.githubusercontent.com/26996883/160425108-17b87941-bf7e-4d91-b7bd-e9c93c789ba9.mov

I could replicate that if the name of the category didn't include the word being searched but did include it in the description, it wouldn't display (in the above description that would be "movie" or in my test case "blue"). The only way it'll show up when se

[2022-03-28 15:00] WBerredo opened #62304 "Bug: `calypso_plugins_search_results_show` event is not being sent anymore"
Related convo: p1648478993606059-slack-C029JEQRVRT

[2022-03-28 15:02] andres-blanco commented on #58364
I think everything in the list is done. The gate seems to only be up for Japanese: `wp-content/lib/home/cards.php?r=90e61e33#99`. I will look into the status on this translations.

[2022-03-28 15:05] delputnam commented on #61999
This is a great suggestion. Thank you for the feedback. I'll create a task for us (Nomado) to handle this in a future sprint. We'll update this issue once we have deployed the update.

[2022-03-28 15:06] allilevine commented on #62268
@lsl Definitely, thanks! I changed the issue title and that step.

[2022-03-28 15:46] blackjackkent opened #62305 "Seller Exp: create proof-of-concept stepper adaptation of Woo Onboarding"
To familiarize ourselves with the stepper framework and assist in the process of migrating existing onboarding behavior, let's create a proof-of-concept implementation of the existing Woo Commerce onboarding steps.

This should be built off of the code in https://href.li/?https://github.com/Automattic/wp-calypso/pull/61732.

[2022-03-28 15:58] allilevine opened #62308 "Marketplace: Add marketplace CTA on /marketing/tools"
Adjust CTA on /marketing/tools to focus on premium plugins, and link to the Marketplace. New copy:

<img width="1074" alt="Screen Shot 2022-03-28 at 11 51 36 AM" src="https://user-images.githubusercontent.com/1689238/160438419-c26cdfd6-afc8-4ba4-8d8e-5225b1fd30fe.png">

Acceptance criteria:
- [ ] CTA button links to the Marketplace
- [ ] Copy is updated.
- [ ] @emmnyc85 approval.

Change copy for

[2022-03-28 15:59] emmnyc85 commented on #62308
Thanks, @allilevine! Let's add an exclamation point after explore now. 'Explore now!'

[2022-03-28 16:01] allilevine commented on #62308
@vinimotaa I've added this to the design board in case you want to weigh in / swap out the graphic.

[2022-03-28 16:04] emmnyc85 commented on #62308
just adding that I changed this comment: https://github.com/Automattic/wp-calypso/issues/62308#issuecomment-1080829935

Up to @vinimotaa on whether an exclamation point looks good in a CTA

[2022-03-28 16:15] allilevine opened #62309 "Marketplace: Add marketplace CTAs to /posts and /pages"
Integrate a dismissable notice on /posts or /pages or in site editor for users who 1) have not visited /plugins in the past 30d, and 2) have created but not yet launched their site.

[2022-03-28 16:58] andres-blanco commented on #58364
It looks pretty much done in Japanese also
<img width="1205" alt="image" src="https://user-images.githubusercontent.com/375980/160449050-bbf6e180-5ec1-4607-8367-d44cf34103e9.png">

I will setup a diff to remove the JP gate.

[2022-03-28 17:12] #62173 closed, assigned to Addison-Stavlo

[2022-03-28 17:16] sixhours commented on #57456
Pretty sure I worked on this for 20% time a few weeks ago; will add the diff here and see if there are other functions I didn't cover with that work.

[2022-03-28 18:07] allilevine commented on #62308
@vinimotaa Thank you! I put it in "Next" on the Expand Design board. @emmnyc85 Do you have a preferred timeline?

I'll remove it from this sprint for now since it needs the new illustration.

[2022-03-28 18:10] allilevine opened #62311 "Marketplace: Add WooCommerce Product Add-ons"
Add Product Add-ons extension to the marketplace. Use WooCommerce extension logo.
https://woocommerce.com/products/product-add-ons/

Documentation: PCYsg-AhH-p2
URL: pdh6GB-yt-p2
Slug: woocommerce-product-addons
Name: WooCommerce Product Add-Ons

### Add billing products
 - [x] Post preflight p2, example pdh6GB-vf-p2
 - [x] Add product, yearly, monthly plans see docs PCYsg-CJy-p2

### Create store

[2022-03-28 18:29] #62304 closed, assigned to WBerredo

[2022-03-28 18:32] Addison-Stavlo commented on #61774
Awesome, this seems like a good fit for that. 😁

[2022-03-28 18:41] andres-blanco commented on #58364
D77686-code

[2022-03-28 19:04] villanovachile opened #62313 "Global Notice: Success/failure message momentarily covers "Add a record" button on DNS records page"
### Quick summary

On the DNS Management page, the success/failure message for adding/removing DNS records momentarily covers the Add a Record button.

### Steps to reproduce

1. Go to Upgrades > Domains > Domain > DNS Records > Manage
2. Either add a new DNS record or remove an existing DNS record
3. The resulting global notice of the success/failure, covers the Add a DNS record button, requiring

[2022-03-28 19:07] #62152 closed, assigned to sixhours

[2022-03-28 19:39] sixhours commented on #59316
I'm not seeing this behavior upon closing the videos UI; I do see a call to the block editor API but that's prevalent across My Home. Is it possible this was already fixed?

https://user-images.githubusercontent.com/2124984/160473835-fad6c714-f434-46a3-9ad5-d5a2f196036d.mov

[2022-03-28 20:20] #62111 closed, assigned to nobody

[2022-03-28 20:21] sixhours commented on #59316
Seeing this behavior on older versions of Calypso (ie. https://github.com/Automattic/wp-calypso/pull/59252) so I think this was fixed in a previous commit; will see if I can trace it back.

[2022-03-28 20:55] obenland commented on #60981
This is caused by the `install_themes` capability being disabled on sites with these plans.

Calypso sends two requests when switching themes on a WOA site, one to install the chosen theme and a second one to switch to that new theme.
On lower-tier plans it can't install the theme because that capability is unavailable and then the subsequent theme switch call returns an error ("Theme not yet avai

[2022-03-28 21:00] #58364 closed, assigned to andres-blanco

[2022-03-28 21:01] sixhours commented on #59316
Looks like this was fixed as part of the switch to a custom hook in #59514, so I'm going to mark this as closed!

[2022-03-28 21:01] #59316 closed, assigned to nobody

[2022-03-28 21:05] cleacos commented on #62206
Done, the release is already out!

[2022-03-28 21:13] allilevine commented on #62025
Start with timeboxed investigation: is this possible? Develop a plan.

[2022-03-28 21:20] allilevine commented on #62265
Open second ticket for designing micro interactions.

[2022-03-28 21:29] allilevine commented on #62268
Done: p2 what we can and can't automate. @cpapazoglou Let us know your ideas and thoughts :)

[2022-03-28 22:12] sbathompson-he opened #62318 "Blog Post Block Post Spacing"
### Quick summary

It appears the spacing on the last two posts in a blog post block is adding an extra space that is unwanted. Here is what it looks like.
<img width="624" alt="Markup 2022-03-28 at 13 03 55" src="https://user-images.githubusercontent.com/77308634/160495648-f1c08b9c-5d0f-4534-bcc6-695727cd32c4.png">
<img width="1629" alt="Screenshot on 2022-03-28 at 12-57-40" src="https://user-ima

[2022-03-28 22:28] supernovia opened #62319 "Paragraph Block: Add direction option to paragraph block, even if the site isn't set to an RTL language"
### What

Gutenberg has a feature that allows people to choose the direction of text on sites that have RTL languages as their default:
https://github.com/WordPress/gutenberg/issues/28221

Can we get that option somehow on non-RTL sites as well?

### Why

It's not entirely uncommon for a site made in one language to have blocks in another. Consider sites for people who want to learn an RTL languag

[2022-03-28 22:28] supernovia commented on #62319
Request here: https://wordpress.com/forums/topic/issue-with-title-and-punctuations-at-the-end-of-the-paragraph-in-hebrew/

[2022-03-28 23:20] supernovia commented on #44427
Noting discussion here: pc4f5j-1yn-p2

[2022-03-28 23:23] supernovia commented on #44427
Noting as well: while a standard WP install does seem to attach images, the unattached filter isn't working consistently. If I attach an image there, it still appears in an unattached list.

[2022-03-29 00:32] jamiepalatnik commented on #60747
Another report, Argent theme: 33988643-hc

Suggested using other blocks or custom CSS as a workaround.

[2022-03-29 01:52] arinoch commented on #61515
+1 in 4899578-zd-woothemes

[2022-03-29 03:31] autumnfjeld commented on #57595
@arthur791004  Do you think we can close this?  Or would it be good to flag with Team Vertex for their work pdDR7T-1l-p2

[2022-03-29 03:51] #61938 closed, assigned to taipeicoder

[2022-03-29 04:52] lsl commented on #62025
Timeboxed some thinking, suggested an alternative approach here: pdh6GB-s7-p2#comment-1079

[2022-03-29 05:06] lsl commented on #62177
Not much we can do here yet, p2 needs more discussion / clarification. I want to avoid Jetpack Search specific code inside the plugin browser one way or another but we can't make a decision on how to do that until the goals for adding this non plugin to the plugin marketplace are understood.

If it's just Jetpack Search product promotion we can do that with JITM's and avoid weakening marketplace b

[2022-03-29 05:41] worldomonation commented on #60630
Since the change to define stale cookie as 2 days, I think we've seen the behavior improve here. Closing for now.

[2022-03-29 05:41] #60630 closed, assigned to worldomonation

[2022-03-29 05:46] worldomonation opened #62325 "Playwright: if `PWDEBUG` environment variable is set, extend the default Jest timeout to near-infinite."
### Details

There are two layers of timeouts values used in the framework:

1. Playwright timeout;
2. Jest timeout;

Of the two, typically the first one to expire is the Playwright timeout (1). We currently use the default value of 30seconds for this, which means actions in Playwright wait a maximum of 30seconds before throwing a TimeoutError.

However, when the `PWDEBUG` env var is defined the P

[2022-03-29 06:08] arthur791004 commented on #57595
I think we could close it as there is no related report for a long time.

[2022-03-29 06:08] #57595 closed, assigned to nobody

[2022-03-29 06:11] lsl commented on #62227
- [x] Preflight  pdh6GB-y3-p2

[2022-03-29 06:19] sharonlaker19 opened #62327 "Argent theme: WooCommerce product page lost its margins and alignment"
### Quick summary

The product pages don't have margins on the Argent theme.

![product page argent theme](https://user-images.githubusercontent.com/71630911/160545382-fdb2fdaa-0853-4b4c-b666-896388d940cd.jpg)

### Steps to reproduce

1. Start with any website that already has some products created.
2. Switch the theme to Argent.
3. Check the product page layout on the new theme.

### What you exp

[2022-03-29 06:58] Greatdane commented on #53626
another: 4892067-zd-woothemes (turned on and off again)

[2022-03-29 07:15] autumnfjeld commented on #61628
Completed with https://github.com/Automattic/wp-calypso/pull/62201

[2022-03-29 07:16] #61628 closed, assigned to roo2

[2022-03-29 07:21] autumnfjeld commented on #57358
I'm going to close this due to all work going on with chaning paid plans, refactoring, and new onboarding flows.

[2022-03-29 07:21] #57358 closed, assigned to arthur791004, roo2

[2022-03-29 07:47] formosattic commented on #62064
Looks like this will need to be fixed at Gutenberg, see https://github.com/WordPress/gutenberg/issues/39836.

[2022-03-29 08:10] dsas opened #62329 "[Bug]: Confusing wording for one-off premium-content payments"
### Quick summary

The wording for one-off payments is possibly a little bit confusing on the /earn page. Is subscription the best description for a one-off payment to access premium content?

![image](https://user-images.githubusercontent.com/93301/160564394-8a47799d-51f8-4cce-887b-e5b1a2c39f61.png)

### Steps to reproduce

1.  Setup a wp.com simple or atomic site
2.  Go to wordpress.com/earn, co

[2022-03-29 08:13] formosattic commented on #44427
This still appears to be the case based on my testing.

I tried on self-hosted and atomic, with and without Gutenberg, and images were attached.

Noting that checking for unattached images is an advice shared in our doc, https://wordpress.com/support/media/view-all/#unattached-files , and we might indeed be sharing it more.

Reattaching media ([see guide](https://wordpress.com/support/media/view-a

[2022-03-29 08:26] emmnyc85 commented on #62308
@allilevine  / @vinimotaa - Thank you! Not urgent  - Within next two weeks?

[2022-03-29 08:36] mmtr commented on #62282
Probably caused by D76467-code which wasn't aware that the Blogger plan allowed audio uploads. Will take a look at this shortly.

[2022-03-29 08:52] kettultim commented on #59434
Another one: 34950507-hc

[2022-03-29 08:59] formosattic commented on #61957
Issue happens with just the Masonry block. (Edited title and initial post to reflect that)

I was only able to reproduce on Simple sites.

Note that the Masonry block had some major changes recently:
* https://wordpress.org/support/topic/masonry-blocks-no-longer-display-correctly/#post-15304335
* https://github.com/godaddy-wordpress/coblocks/issues/2078
* https://wordpress.org/support/topic/keep-m

[2022-03-29 09:07] kylemcph opened #62330 "Full-width Video distorted and condensed Karuna, Ixion, Dyad 2, Lodestar"
### Quick summary

When making a video full-width (and wide-width) with the Karuna theme it displays distorted. Specifically, the height is very thin.

### Steps to reproduce

1. Start a WordPress.com site
2. Ensure Karuna theme is active
3. Ensure no widgets are added to the sidebar so no sidebar displays
4. Create a new page and add a video block to the page, set as full-width

### What you expe

[2022-03-29 09:28] formosattic commented on #62008
Hi @kuropixel , thanks for the report, it looks like this string wasn't part of the translation we take care in-house, and indeed show untranslated:

 * https://translate.wordpress.com/projects/wpcom/de/default/?filters%5Bterm%5D=Try+it+Out&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_login%5D=&filters%5Bview%5D=&filter=Filter&sor

[2022-03-29 09:28] #62008 closed, assigned to nobody

[2022-03-29 09:57] formosattic commented on #61970
Doesn't look like it'll be an easy one to reproduce, as it'd require a domain that switched to status `Domain canceled at registry` (as in the user's case, 4858239-zd-woothemes). I've updated the title to clarify that.

Will tag this for Domains to check.

[2022-03-29 10:09] mmtr commented on #62282
Created D77727-code to fix this.

[2022-03-29 10:23] formosattic commented on #51699
I was able to reproduce this on a test site with 48 media items, so the issue doesn't seem related to the number of media files.

Calypso just seems to return a smaller set of results.

| Calypso -22 items  | WP Admin - 44 items|
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/160590548-98962f2b-3bc6-405f-a8a6-77f4fe02a732.png)  | ![image2](https://

[2022-03-29 10:23] #51699 closed, assigned to nobody

[2022-03-29 10:24] formosattic commented on #15233
Reposting some reports from https://github.com/Automattic/wp-calypso/issues/51699 :

* 4862523-zen
* 3877867-zd-woothemes

Bug triage notes:

I was able to reproduce this on a test site with 48 media items, so the issue doesn't seem related to the number of media files.

Calypso just seems to return a smaller set of results.

| Calypso - 22 items  | WP Admin - 44 items|
| ------------- | ---------

[2022-03-29 12:04] epeicher commented on #62206
Thank you very much @cleacos! Installing the plugin through the `wp` cli works as expected now.

Additionally, when testing using calypso we have found that the above error installing the plugin is still returned. Following the steps in the description returns the same error (now probably due to other logic).

After further investigations we have found (thanks to @cpapazoglou) that the following e

[2022-03-29 12:12] kdevnel commented on #61578
Confirmed another in 4898166-zd-woothemes
Workaround shared

[2022-03-29 12:25] cpapazoglou commented on #62268
@allilevine, @lsl is this a duplicate of https://github.com/Automattic/wp-calypso/issues/61531?

@allilevine did you mean to add a P2 link?

[2022-03-29 13:15] cpapazoglou commented on #62206
Sadly, many requests from WPCOM to Jetpack sites are xml-rpc requests @cleacos

[2022-03-29 13:27] ClassicRKR27 commented on #57711
I've got another instance here: 34895673-hc

[2022-03-29 13:32] wiesenhauss opened #62337 "Product Categories List block encounters error when added as a widget with visibility rule"
### Quick summary

34932041-hc

When used as a widget, the Product Categories List block preview is replaced by an error ("This block has encountered an error and cannot be previewed.") if the user tries to add a visibility rule:

https://user-images.githubusercontent.com/99455043/160619661-9a02ec7d-4b74-4cf2-ae19-63367f68aeb4.mp4

### Steps to reproduce

1. Add Product Categories List block as a

[2022-03-29 13:40] #53174 closed, assigned to sixhours

[2022-03-29 13:53] allilevine commented on #62268
Maybe, thanks! This might be more of a sub-task.

I meant we would write a P2 about what we can and can't automate. I updated my note.

[2022-03-29 14:21] tvolpert commented on #61578
Another report here 13494298-hc; I gave them the workaround

[2022-03-29 14:31] epeicher opened #62339 "Marketplace: Implement a more robust way to activate and deactivate plugins"
Currently, some plugins perform additional operations like redirects when being activated. Those additional operation can return errors to Calypso but the Plugins are correctly activated so those errors could be ignored.

This task is to find an alternative way to activate plugins and ignore those errors if the plugins are activated. Suggestions could be to check the plugin status after activation

[2022-03-29 14:35] sixhours commented on #57456
Looks like we still need tests for `fetch_courses`, `fetch_videos`, and `parse_video`

[2022-03-29 14:39] #62282 closed, assigned to mmtr

[2022-03-29 14:49] cpapazoglou commented on #62268
Cool, my impression is that we can tackle this in two phases:
1) what we can automate now so that the process is faster and more robust (this is what we are currently doing semi-manually PCYsg-CJy-p2)
2) what we will automate in the future so that products can be provisioned (created, prices updated) from WC.com

I believe we should work closely with @Automattic/shilling team to identify how we ca

[2022-03-29 14:56] cpapazoglou commented on #62339
Problems arose in that specific plugin cause there is a redirect in place that happens on plugin activation. That code should return early for `CLI`, `json`, and `xml` requests. Our current approach in activating / deactivating uses an `xml` request which (I suspect) not many other plugin developers will have in mind. With `json` being the most common, let's see if we can switch to that approach.

[2022-03-29 15:04] masperber opened #62341 "White Screen from wordpress.com/view link to view website"
### Quick summary

In Calypso, users can view their website when clicking on the site title in the upper left corner of the screen.

<img width="267" alt="Screen Shot 2022-03-29 at 10 58 19 AM" src="https://user-images.githubusercontent.com/12906034/160641651-1de9e9d1-1e15-49e8-a382-9a9048a2cdf0.png">

This link directs to https://wordpress.com/view/mygoovysite.com

Currently, when trying to open

[2022-03-29 15:05] tvolpert commented on #62341
Another report here: 34957530-hc

[2022-03-29 15:07] cpapazoglou opened #62342 "Marketplace: don't show eligibility modal when not needed"
For context, that was a Business site on Simple with a `.blog` domain. As it seems the eligibility modal shouldn't have been shown at all.

Related pdh6GB-wN-p2

[2022-03-29 15:10] delputnam commented on #61970
I don't think there is really anything we could do about this.

When a domain is canceled at the registry it's not always immediately available and when it starts to become available, there is propagation lag, caching, etc. that determine when it appears to be available for re-registration at various places around the web. In addition to this, we also cache the results of a search query for a shor

[2022-03-29 15:10] #61970 closed, assigned to nobody

[2022-03-29 15:24] mreishus commented on #62341
`Uncaught TypeError: translate is not a function`
`The above error occurred in the <WebPreviewContent> component`

[2022-03-29 15:36] allilevine opened #62343 "My Sites: Add global WooCommerce Colophon Logo"
There are two WooCommerce Logo components in My Sites:

https://github.com/Automattic/wp-calypso/blob/bc1fd8e98eadb891f7a2585eb68b222852c285e8/client/my-sites/woocommerce/woocommerce-logo.js

https://github.com/Automattic/wp-calypso/blob/f2e6f88ae65c8571bbac21b284c29b48ec987598/client/my-sites/store/components/woocommerce-logo/index.js

Possible third logo: https://github.com/Automattic/wp-calypso

[2022-03-29 15:51] mreishus commented on #62341
Confirmed that 051a33a5d84c5ba09b1297a634de9a326c220314 is the first commit with the error

[2022-03-29 15:56] mreishus commented on #62341
This fixes in my testing:
[code]
I'll spin up a PR

[2022-03-29 16:11] emilyaudela opened #62347 "Troubleshoot missing translations in the Editor Tour Guide"
Some of the strings for the editor tour guide aren't showing up, even though they are translated in GlotPress and the Full Site Editing.

See: https://a8c.slack.com/archives/C02AED43D/p1648545971261839

[2022-03-29 16:21] #47877 closed, assigned to ignaciodob

[2022-03-29 16:23] supernovia commented on #62319
Some of our volunteers have shared their "edit the html" workarounds:
https://wordpress.com/forums/topic/rtl-not-working-for-theme-independent-publisher-2/
https://wordpress.com/forums/topic/bilingual-posts-hebrew-english/

It'd be nicer still if it were easier for them to do that :)

[2022-03-29 16:26] paulopmt1 commented on #62311
Preflight: pdh6GB-yt-p2

[2022-03-29 17:28] alshakero commented on #62341
Closing as fixed by https://github.com/Automattic/wp-calypso/pull/62349. Thank you so much everyone!

[2022-03-29 17:28] #62341 closed, assigned to nobody

[2022-03-29 17:53] sixhours commented on #57456
Started working on this here: D77761-code

But I'm a bit blocked, because all these functions refer to/get data directly from the production blog ID, which (as far as I can tell) is inaccessible within the testing framework. More thoughts in that diff.

[2022-03-29 17:54] andres-blanco commented on #58250
In Arabic the Launch Bar looks completely broken:
<img width="1731" alt="image" src="https://user-images.githubusercontent.com/375980/160674716-9a944695-99b1-49b3-83ab-76d82dd0a4b0.png">

[2022-03-29 19:05] andres-blanco commented on #59246
Probably not worthwhile the effort, the endpoint being hit is just ~2KB of data.

Discussion: p1648575337851629-slack-C7YPUHBB2

[2022-03-29 19:05] #59246 closed, assigned to andres-blanco

[2022-03-29 19:23] upwardmomentum84 commented on #62300
Ran across this here in this ticket 4900721-zd-woothemes

The user is using Byrne theme.

[2022-03-29 19:50] kathrynwp commented on #62064
Another user reported this in 34395629-hc with the Eris theme.

[2022-03-29 20:26] kathrynwp commented on #62064
Also reported in 34964248-hc

[2022-03-29 20:41] allilevine opened #62355 "Marketplace: Add Jetpack Search JITM"
It's not a plugin, but we'd like to surface Jetpack Search in the Marketplace. See: pdh6GB-s7-p2#comment-1081

[2022-03-29 21:20] supernovia opened #62356 "Account Recovery Form: Redeemable Domains return as "Self hosted" which stops the recovery process"
### Quick summary

A user trying to regain access so they could redeem an expired domain received this message on the account recovery form:

### Steps to reproduce

1. Find a WWD domain that's in redemption. It will have other name servers
3. Fill out the account recovery form with the correct info
4. Note the error. The domain is in fact still in our system. Just expired.

### What you expected

[2022-03-29 21:22] supernovia commented on #62113
See also https://github.com/Automattic/wp-calypso/issues/62356

[2022-03-29 21:40] delputnam commented on #62356
After a quick look, it appears that the cause of this is that the recovery form expects the domain to still be in the mapped to the site.  For domains that are canceled, this is not the case...their mapping records are removed.  The immediate workaround would be to use the WordPress.com/wpcomstaging.com subdomain (which is still in the database).

In order to get the correct data, we'd have to che

[2022-03-29 22:31] JessBoctor opened #62358 "Share Media from other apps to a post with the block added"
### What

From a customer in #33138327-HC:

I would like to hit the share button on the voice memmo:
- Hit word press on the share sheet,
- Have a new post come up in the WordPress app with the M4a file already in the audio block

### Why

From the customer:
 I regularly post audio from my Voice Memos app. I have to save it from Voice Memos to the Files app, and then create a WordPress post in the

[2022-03-30 01:46] syhussaini opened #62363 "Donations Block in WordPress.com App"
### What

Can we please have the _Donations block_ added to the WordPress.com Mobile App?

### Why

The block will help the users manage the _Donations Block elements_ on the site pages/posts when editing the site on WordPress.com Mobile App.

### How

Currently, the _Donations Block_ is available on the Mobile browser.

![See this image for reference](https://user-images.githubusercontent.com/807

[2022-03-30 01:51] arunsathiya commented on #62363
I think we can move this to https://github.com/wordpress-mobile/WordPress-Android but someone from @Automattic/dotcom-triage-pa-group can confirm.

[2022-03-30 02:19] 1dr0 commented on #39956
Another new one over here: 4903431-zen
Provided columns block as the workaround.

[2022-03-30 02:46] lupus2k commented on #62227
- [ ] Catalog Mapping D77773-code
- [x] Generate store products
- [ ] Generate legacy store product

[2022-03-30 04:15] worldomonation opened #62366 "Flaky E2E: upload image file using Calypso media modal"
### Spec file

specs/blocks/blocks__media.ts

### TeamCity ID

7636892

### Logs

[code]

[2022-03-30 04:55] Greatdane commented on #62096
Can confirm the issue on WordPress.com sites but not self-hosted.

@Automattic/jetpack - I am not sure if this is a core Jetpack issue. While the block is from Jetpack, I cannot see comments even appearing for a tiled gallery on self-hosted Jetpack-connected sites.  Would the Calypso repo be the best place for this, or shall I transfer to the jetpack repo? Thanks!

[2022-03-30 05:03] Greatdane commented on #62363
@arunsathiya good question. However, the donations block is WordPress.com exclusive, so it would not be relevant to all sites on the android app.

@Automattic/penguin-team - Sorry, maybe the wrong team, but could you possibly provide input into where is best to have a feature request for the mobile app for a WordPress.com specific block? Or guide us in the right direction to whom may know? 🙇

[2022-03-30 05:14] Greatdane commented on #62300
@rickmgithub you mention skatepark and Twenty Twenty - is it happening on both?

Actually, any theme I choose the rounding seems to take the dimension of the image, so it is not always round

[2022-03-30 05:24] Greatdane commented on #62020
It looks to happen on all the themes tested, so I think it's a block bug rather than a theme issue. Leaving in `calypso` repo.

[2022-03-30 05:31] Greatdane commented on #62046
It looks like this is an issue with docker (I am not sure if we use docker or plexels does)
re; https://github.com/docker/for-mac/issues/2965

@geekinthegirl I am unable to replicate it. I am going to close it for now, but if you can reproduce it, can you check if the browser has any console errors as well? We can always reopen the issue with more info!

[2022-03-30 05:31] #62046 closed, assigned to nobody

[2022-03-30 05:34] lsl commented on #62231
Doing this in D77801-code but take note of my comment: D77801-code#1616810 as is_a11n checks don't work for atomic.

Not a real blocker imo, the goal here seems to be to remove front end feature flags and "deploy" the feature even though nothing is showing, I think that's a good idea, they'll still show in testing for simple sites so that's good enough imo.

[2022-03-30 05:44] Greatdane commented on #62094
Going to leave this open for another @Automattic/dotcom-triage-pa-group triager to test, we have had two reports, but I am unable to replicate myself.

[2022-03-30 05:56] arthur791004 opened #62369 "Feedback: Vertical Images Curator"
# Description
Collecting feedback for the Vertical Images Tool  See mc tools verticals/#/images
Add feedback in the comments and Ganon will triage and prioritize features. ❗ If possible PLEASE INDICATE YOUR REQUESTS AS
1.   I need this fix/feature to use this tool effectively & efficently
or
3. This is a nice-to-have feature

# Do for MVP (keep updating this as feedback rolls in)
- [x] It is not c

[2022-03-30 06:40] jeyip commented on #61648
Planning to work on this with @vykes-mac during his onboarding

[2022-03-30 06:40] arunsathiya opened #62371 "Account: Sometimes account verification emails aren't sent, or don't reach the customer"
### Quick summary

Account: Sometimes account verification emails aren't sent, or don't reach the customer. We should identify the underlying bug and fix it.

### Steps to reproduce

Don't have steps to reproduce here. Sign up for an account and see if you get a confirmation email.

### Context

- Came up in this discussion: p1648621206052699/1648617130.364579-slack-C02AVAR9B
- We can use this Git

[2022-03-30 06:42] sophiegyo opened #62372 "Tiled Gallery on wpcom Simple: with multiple columns it overflows screen edge, not visible"
### Quick summary

On a Simple site on wpcom, a tiled gallery set to 8 columns overflows the edge of the screen on a phone. I can't see all the images, they don't seem to resize responsively to my screen size. However, I can flick through them in carousel mode.

This is in contrast to Atomic and self-hosted, where all the columns do show on the mobile screen, but the images are tiny - it doesn't s

[2022-03-30 07:14] as-esu commented on #59434
4776594-zen
The black colour appeared on the front end even though white was specified in the editor for the **Paragraph** block nested within the **Cover** block. Grouping the **Paragraph** block and setting the white text colour for the Group solved the issue.
Theme: Twenty-Twenty.

[2022-03-30 07:54] zaerl commented on #62165
After this quick discussion (D77277-code#1608893), we have decided to:

- Restore the `wordpress-importer` plugin found in the test directory
- Remove all customizations found on pre-existing unit tests
- Leave fixes done for #61145

This is done to keep all files found on the `core` directory on par with the upstream version (as much as possible). However, I think this issue should remain open.

[2022-03-30 07:58] zaerl commented on #61145
@KokkieH the review is ok, the fix is online.

[2022-03-30 07:58] #61145 closed, assigned to zaerl

[2022-03-30 08:27] zaerl commented on #59527
@creativecoder after a study of the problem, these are my considerations:

The code can work using an async job and I've tested it in my diff. It is straightforward; it has the same interface as the main `export` endpoint; it sends a similar email with a link to an auto-expiring zip file. I only need an `action` on `gutenberg_generate_block_templates_export_file` in order to hook the process and r

[2022-03-30 10:26] KokkieH commented on #61145
Thank you! I've let the user know.

[2022-03-30 11:00] arthur791004 opened #62377 "Vertical Images Curator: Migrate to new verticals list"
Add a new endpoint to wpcom
* D77817-code

Migrate to the new verticals list
* D77819-code

[2022-03-30 11:09] arthur791004 commented on #62194
We already shipped the new version to support tagging. See D77653-code.

[2022-03-30 11:25] arthur791004 commented on #61237
Seems like the root cause is we [remove jquery from wpcom block editor](https://github.com/Automattic/wp-calypso/pull/60225). The `triggerOverrideHandler` disables the default behavior for Cmd + Click. If we remove the following click event handler, it would work correctly.

![image](https://user-images.githubusercontent.com/13596067/160823723-79c91e91-0285-4ed9-892d-83effccaadbc.png)

See https:/

[2022-03-30 11:40] Robertght commented on #53626
4906490-zen

[2022-03-30 11:56] vishnugopal commented on #62238
Discussion:
- The Stepper framework uses the @wordpress/data package and not traditional Redux, and this needs to be changed in the Importer flow.
- Need to get more familiarity with the Stepper framework.
- See: p1648499473044259-slack-C02T4NVL4JJ

[2022-03-30 12:08] vishnugopal commented on #62240
Discussion:
- Need to spy on the requests from Wix when a photos import is being run to understand more of the process.

[2022-03-30 12:16] vishnugopal commented on #62171
Discussion:
- This seems to be a backend issue.
- Needs further investigation.

[2022-03-30 12:27] gcsecsey commented on #62302
- Billing products created:
  `gpr select * from billing_products where product_slug='woocommerce-shipping-australia-post' or product_slug='woocommerce-shipping-royal-mail'`
- Billing plans created:
- Adding constants: D77792-code
- Adding mappings:D77822-code

[2022-03-30 13:41] jorpdesigns commented on #61464
Another report in 34977725-hc. Culprit was the Polylang Connect for Elementor plugin.

[2022-03-30 14:04] #60557 closed, assigned to nobody

[2022-03-30 14:28] kettultim commented on #60747
I replicated this issue today: 12488062-hc

CSS workaround:

[code]

[2022-03-30 14:35] dpasque opened #62383 "Flaky E2E: Advanced post flow needs to retry on publishing posts"
### Spec file

editor__post-advanced-flow.ts

### TeamCity ID

7656326

### Logs

The published post launched in a new browser shows "oops, that couldn't be found", which means we had a race condition before the post was saved to the database.

We should just add the retry and reload to that function!

[2022-03-30 14:59] Addison-Stavlo opened #62384 "Hide "Blank Canvas" from site creation design picker."
What:

* Hide 'Blank Canvas' from the design picker in onboarding.

This should NOT change:

* The "start from scratch" flow that triggers blank canvas should be left in place.
* 'Bank Canvas' should remain in the theme showcase.

Why:
pdqkMK-d7-p2#comment-214 for history.

[2022-03-30 15:14] jamiepalatnik opened #62386 "Eventbrite Multi Event: Not showing retired theme message on theme guide"
### Quick summary

The theme Eventbrite Multi Event is retired, but if you go to the theme guide on a site where the theme is active, it does not show that the theme is retired as expected.

### Steps to reproduce

1. Activate Eventbrite Multi Event on a site (eventbrite-venue via Blog RC)
2. Check the theme guide: https://wordpress.com/theme/eventbrite-venue/

### What you expected to happen

I e

[2022-03-30 16:04] sixhours commented on #57456
Chatted with @andres-blanco and we agreed refactoring the courses lib to filter the blog ID would be a good approach, so I've done this in D77761-code

[2022-03-30 16:25] edwinho89 commented on #57812
4902339-zd-woothemes

[2022-03-30 17:13] gwensmithx commented on #57198
+1 to this. I ran into this today trying to test out header and footer content. This would be a very valuable feature especially for sites that have a lot of template content.

[2022-03-30 17:17] allilevine opened #62391 "Marketplace: Add tracks events to popular searches link."
Track clicks on popular searches on /plugins.

##### Acceptance Criteria
- [x] Tracks clicks to links.
- [x] Tracks impressions (?).
- [x] Add tracks funnel for conversion - p1648682924434319/1648682866.884969-slack-CKZHG0QCR

[2022-03-30 17:51] cometgrrl commented on #61012
Closing as duplicate of 1565-gh-Automattic/p2

[2022-03-30 17:51] #61012 closed, assigned to nobody

[2022-03-30 17:58] jeyip commented on #62384
It appears that the "start from scratch" flow scaffolds a website with `zoologist` as the default theme. Here's what I did:

- Logged out of WordPress.com
- Navigated to wordpress.com
- Clicked on the "Start your website" button
- Created a new user
- Stepped through onboarding
- Clicked on the "Start from scratch" hyperlink

I'll create a separate issue that we can address if you're seeing the sa

[2022-03-30 18:02] cleacos commented on #62206
We've released a new JPCRM version with all these fixes. @cpapazoglou @epeicher

[2022-03-30 18:52] jeyip commented on #62384
It looks like the blank-canvas theme is only applied when clicking on the "Use a blank theme" button in the design picker screen.

<img width="1270" alt="Screen Shot 2022-03-30 at 11 51 17 AM" src="https://user-images.githubusercontent.com/5414230/160909386-9d99f8d1-0a41-4b30-9032-475fdde4133a.png">

We can remove this component from the design picker view `packages/design-picker/src/components/fe

[2022-03-30 18:54] ccwalburn commented on #59595
Another report here: 34982755-hc
I showed them how to delete them one by one from the Nav block.

[2022-03-30 19:27] epeicher commented on #62206
I tested and works as expected. Thanks @cleacos !

|Installing/Activating | Deactivating|
|-------|------|
|![CleanShot 2022-03-30 at 21 23 43](https://user-images.githubusercontent.com/3519124/160914958-fc2c16af-c56e-457e-893e-bef5c497978e.gif)|![CleanShot 2022-03-30 at 21 24 33](https://user-images.githubusercontent.com/3519124/160914967-71d638b7-8c0b-4dce-be01-121c2c3743b3.gif)|

[2022-03-30 19:27] #62206 closed, assigned to epeicher

[2022-03-30 19:43] Addison-Stavlo commented on #62384
Oh wow, good find!

[2022-03-30 19:47] allilevine commented on #62177
See: pdh6GB-s7-p2#comment-1081
We're going to wait until Jetpack Search is available as a standalone plugin.
In the meantime, we can add a JITM: https://github.com/Automattic/wp-calypso/issues/62355

[2022-03-30 19:47] #62177 closed, assigned to nobody

[2022-03-30 19:49] allilevine commented on #62025
See: pdh6GB-s7-p2#comment-1081
This is blocked until Jetpack Search is available as a standalone plugin.
We're also planning to add a JITM for Jetpack Search, but it needs design: https://github.com/Automattic/wp-calypso/issues/62355

[2022-03-30 19:57] EatonZ commented on #61145
(this is the user👋)
Hi, it appears this did not fix the problem. Is there a staged rollout with your updates or should the fix be live now?

[2022-03-30 20:32] zaerl commented on #61145
Can you please try again? The land didn't work the first time and I didn't notice.

[2022-03-30 20:54] EatonZ commented on #61145
@zaerl Ah, it's working now. Thanks!

[2022-03-30 21:25] zaerl commented on #61145
👍

[2022-03-31 00:07] #62232 closed, assigned to Rolilink

[2022-03-31 00:09] #62266 closed, assigned to Rolilink

[2022-03-31 00:36] worldomonation opened #62397 "Flaky E2E: Validate blog name and tagline"
### Spec file

 specs/onboarding/signup__free.ts

### TeamCity ID

7657813

### Logs

<img width="1619" alt="image" src="https://user-images.githubusercontent.com/6549265/160953138-21e5eed5-dfa8-4c7b-83a1-2f1304f7509f.png">

[code]

[2022-03-31 02:02] donalirl commented on #59794
I'm experiencing this on several WordPress.com sites now (simple, not atomic.)

[2022-03-31 04:00] arthur791004 commented on #62369
Also, we might need

* View by tags

[2022-03-31 04:15] #62231 closed, assigned to lsl

[2022-03-31 04:42] lsl commented on #61882
potentially progress? p9o2xV-1Wj-p2#comment-5749

[2022-03-31 04:55] #62325 closed, assigned to worldomonation

[2022-03-31 05:01] sstabrizi commented on #57881
Another request to add support YouTube short embeds here: 4909135-zd

[2022-03-31 05:07] #62230 closed, assigned to Rolilink

[2022-03-31 05:12] Greatdane commented on #62017
Confirmed on Byrne, Marl, and Zoologist, but Twenty Twenty-Two applied the colors correctly.

[2022-03-31 05:15] Greatdane commented on #62041
From going through the patterns, it looks like just WordPress.com/Calypso exclusive patterns are affected. Core ones are OK.

[2022-03-31 05:22] Greatdane commented on #62043
This seems to happen on Calypso only, core Gutenberg editor (self-hosted) works as intended.

[2022-03-31 05:24] Greatdane commented on #62043
Above video:

https://user-images.githubusercontent.com/5075840/160982419-189ff543-c670-40e2-9d95-03103559bb95.mp4

[2022-03-31 05:29] Greatdane commented on #62047
Confirmed.

Above video for reference;

https://user-images.githubusercontent.com/5075840/160982955-461c682e-7f6d-4764-8cea-98f4345b147b.mp4

[2022-03-31 05:45] Greatdane commented on #62076
Added to Gutenberg core; https://github.com/WordPress/gutenberg/issues/39924

[2022-03-31 05:57] Greatdane commented on #62098
I think this is just worded rather ambiguously. The wording to me doesn't indicate one month free, nor does it say that. However, the 'full price of' is confusing, because that is not the full pricing, is it just the price for one month. Changing this to 'enhancement' and we can work on getting the wording to be more clear.

[2022-03-31 06:16] lsl commented on #62268
Got some rough thoughts, will p2 + cc shilling tomorrow.

[2022-03-31 07:07] edwinho89 commented on #62318
Looks to be expected result as blog post tends to justify posts there. I replied to the user and shared screenshots as comparison on different columns.

[2022-03-31 07:42] Robertght commented on #39956
This happens with FSE, having a slideshow block inside a page template generates the same width error on the block.

Using the workaround from here does its thing nicely.

cc @Automattic/cylon in case you can take a closer look.

[2022-03-31 09:41] kylemcph commented on #55267
Another request via 34994489-hc.

[2022-03-31 10:13] cleacos commented on #62206
@epeicher Do you know if we have an event ( `wpcom_****` )to be able to track the JPCRM activations via Atomic site?

[2022-03-31 10:23] cpapazoglou commented on #62206
We don't track plugin activations through WP Admin. From Calypso though we have `calypso_plugin_activate_click` and `calypso_plugin_activated_success` which you may find useful when adding `plugin` as a property

<img width="1578" alt="CleanShot 2022-03-31 at 13 22 52@2x" src="https://user-images.githubusercontent.com/12430020/161033890-23481fea-fa08-4884-92b5-07b675e6f47a.png">

It seems like we

[2022-03-31 10:30] cleacos commented on #62206
Thank you! I see... we can say 0-3 activations per day.

Just exploring business opportunities on WP.com

[2022-03-31 10:36] Robertght opened #62405 "Hive: Image post format could break the homepage layout"
### Quick summary

_No response_

### Steps to reproduce

1. Make sure you have several posts
2. Create a post where you set a Slideshow block as the first element and publish it(do not set a featured image)
4. Check if the layout is being affected after the load of that particular post on the homepage

Note: Have the homepage display the latest posts.

### What you expected to happen

To follow t

[2022-03-31 10:38] rachelwinspear commented on #57493
Is there any update on this issue?
34972031-hc

[2022-03-31 10:51] kimerlin81 opened #62406 "Affinity Theme: Marketing banner covers navigation menu (Free Site)"
### Quick summary

On free sites where the Affinity theme is active, the marketing banner displays whether the user is logged in or out. This banner is covering the navigation menu on tablet/desktop screen sizes.

### Steps to reproduce

1. Create a free site
2. Activate the Affinity theme
3. Notice the banner as shown below:

https://user-images.githubusercontent.com/83732167/161037760-a4c72a66-e

[2022-03-31 11:14] simison commented on #62384
Oh, Zoologist! Why? :-D It looked sooo much like blank when in editor.

@ianstewart  do you know if Zoologist was a choice or an oversight? Any concerns switching it to Blank?

[2022-03-31 12:03] Addison-Stavlo commented on #62384
pdqkMK-d7-p2#comment-220 cc @simison  it sounds like the switch to Zoologist for that flow was known and possibly forgotten about?

[2022-03-31 12:29] Addison-Stavlo opened #62411 "Add new fonts to dotcom"
p9Jlb4-44k-p2 for context.

We want to enable the fonts listed above for all users on dotcom: IBM Plex Sans + Mono, Jost, Literata, Newsreader, and Texturina.

[2022-03-31 12:33] Addison-Stavlo opened #62412 "More Fonts for test sites"
A request from p9Jlb4-44k-p2

We want to make it easier for other A12s to test out other fonts we don't yet supply to users, a good way to do this could be gating the registration behind a new site sticker and adding a toggle to the RC. For starters we should look at registering all of google fonts behind a sticker check.

[2022-03-31 13:11] gcsecsey commented on #61692
Backlog Grooming: Let's try implementing the checkout modal:
- behind a feature flag
- only for users who already have 1 premium plugin

[2022-03-31 13:14] gcsecsey commented on #61993
Backlog Grooming: Let's discuss this further on our upcoming meetup.

[2022-03-31 13:22] nerdysandy opened #62416 "Live chat FAB: My Home section should have the FAB icon"
### What

When you go to the My Home section of your site at https://wordpress.com/home/siteurl, you will notice that there is no FAB icon at the bottom right corner. Whereas if you go to any other page/section like Pages, Posts, etc, they all have the FAB icon. We should add the FAB icon to My Home section too.

### Why

To keep it as a uniform experience throughout the product for our users. We

[2022-03-31 13:35] nerdysandy opened #62417 "Footer Links in Classic View should open in new tab"
### What

When you view the sections like Users, Pages etc in Classic View, you will three links in the Footer section like this:

<img width="1587" alt="Screenshot 2022-03-08 at 2 36 15 PM" src="https://user-images.githubusercontent.com/16509219/161066973-efd9999c-0c96-454d-a3f7-1d3588d499a7.png">

The Help and Support Link opens in a new tab which is expected behavior but the Tutorials and WordP

[2022-03-31 13:41] nerdysandy opened #62418 "Customizer: Access Live chat from Customizer"
### What

We found during our testing that it is not possible to access or continue chatting from the Live chat window when you access the Customizer section from Appearance ->Customize.

Is it possible to be able to do so? Can we add the FAB icon/chat window to the Customizer section too?

### Why

To keep it as a uniform experience throughout the product and also so that users don't lose the cha

[2022-03-31 13:55] nerdysandy opened #62420 "Live Chat: Different windows open based on Classic and Default View"
### Quick summary

If you access chat from within your account and click on Contact Us, you will notice that it takes you to a different window depending on whether you access it from Classic View or the Default View.

https://d.pr/i/ipIZwZ

(It wouldn't upload recording because of size limit, sorry)

### Steps to reproduce

1 - Go to your site account, click on the Fab icon to start chat, click o

[2022-03-31 14:10] valterlorran commented on #53626
Another: 4910318-zd

[2022-03-31 14:14] nerdysandy opened #62422 "Unify Chat Windows across all the access points"
### What

As of now, we have two types of chat windows within our product.

This is the chat window from the checkout page. When you type in the message, there is no indication that it went through or connected to Live chat. It also doesn’t collect any information from the user.
<img width="1370" alt="Screenshot 2022-03-08 at 2 30 24 PM" src="https://user-images.githubusercontent.com/16509219/1610

[2022-03-31 14:21] jeherve commented on #62096
The Carousel feature is indeed part of Jetpack, and separate from the Tiled Gallery feature (also part of Jetpack). I'll move this issue to the Jetpack repo.

[2022-03-31 14:51] alshakero commented on #61688
Closing as done in https://github.com/Automattic/wp-calypso/pull/61732

[2022-03-31 14:51] #61688 closed, assigned to escapemanuele

[2022-03-31 15:02] zoetropeexplosn opened #62424 "Espied Theme Portfolio Images Left Margin on size-big class images too far left"
### Quick summary

While working on this ticket: 4908542-zd-woothemes I found that the Espied theme's portfolio project page shows images that are unaligned in the block editor as running off the left side of the screen when viewing the live page. When images are center aligned in the block editor, they show as left-aligned on the live page. This seems to stem from a class `size-big` being added t

[2022-03-31 15:34] villanovachile commented on #62313
Fixed with #62360

[2022-03-31 15:34] #62313 closed, assigned to villanovachile

[2022-03-31 15:59] allilevine opened #62425 "Marketplace: Link to support pages in plugin search results"
See: pdh6GB-yY-p2#comment-1115

If a search term is better served by a support link than a plugin, highlight a support link in the results / Spotlight banner.
Needs a design.

[2022-03-31 16:02] #60876 closed, assigned to arcangelini

[2022-03-31 16:02] arunsathiya opened #62426 "Pro: Unable to upgrade to the Pro plan from the plugin installation modal when installing WordPress.com marketplace plugins"
### Quick summary

Starting with a free plan (the new kind) site, upgrading to the Pro plan from the plugin installation modal doesn't go through. The `upgrade and continue` button does not respond.

### Steps to reproduce

- Start at https://wordpress.com/start
- Create a free plan site.
- Click on the plugins area on the left and click on any plugin to install it.
- When prompted to upgrade to t

[2022-03-31 16:15] southp commented on #62426
In my case it adds the Business plan for me. This line will need to be updated: https://github.com/Automattic/wp-calypso/blob/trunk/client/blocks/eligibility-warnings/index.tsx#L91

[2022-03-31 16:16] arunsathiya opened #62428 "Pro: Unable to complete a site creation flow when connecting a subdomain"
#### Steps to reproduce

- Start at https://wordpress.com/start
- Choose the option to use a domain you own.
- Enter a subdomain like `new-pro-plan.workroom.blog`
- When prompted to choose a plan, choose `Pro` plan as that supports domains.

#### What I expected

Able to complete site creation flow and have the domain connected.

#### What happened instead

The site creation flow gets stuck in a l

[2022-03-31 16:17] arunsathiya commented on #62428
I am not sure what the behavior is when attempting to connect a root domain. I don't have one to test with at the moment.

[2022-03-31 16:19] arunsathiya commented on #62428
Seeing a similar behaviour if I choose the Free plan after entering the subdomain to connect.

https://user-images.githubusercontent.com/18581859/161102649-34065e73-b742-4df3-9164-e03e60182503.mov

Since domains are available only on the Pro plan, I believe we shouldn't show the plan selection screen, should add the Pro plan directly to cart.

[2022-03-31 16:23] #60981 closed, assigned to nobody

[2022-03-31 16:45] arunsathiya opened #62430 "Pro: Upgrade nudge on the media library of a free plan site says "Premium plan""
### Quick summary

On a free plan (doesn't matter if it's created before the Pro plan launch today, or the newer version) site, the media library has an upgrade nudge that says "Premium plan" instead of the "Pro plan"

### Steps to reproduce

- Start with a free plan site.
- Click on its media library and view the wp-admin version.

### What you expected to happen

Upgrade nudge says "Pro plan"

#

[2022-03-31 16:45] DavidRothstein commented on #62426
I can't reproduce this at all.  It adds a Pro plan to the cart for me...

[2022-03-31 16:49] arunsathiya commented on #62426
@DavidRothstein I just found that this does not happen if I try a WordPress.org plugin, but does happen if I try WooCommerce.com marketplace plugins: WooCommerce Subscriptions, WooCommerce Bookings, Table Rate Shipping, AutomateWoo, Shipment Tracking and Xero.

[2022-03-31 16:50] gmovr commented on #62426
Tested on desktop with Chrome. I can't reproduce it. Pro plan gets added to cart.

I tested with Yoast SEO
![Screenshot 2022-03-31 at 18 49 38](https://user-images.githubusercontent.com/52675688/161108335-f9867a63-1bcd-41d6-b66d-b08cb0ff0bfe.png)
.

[2022-03-31 16:51] gmovr commented on #62426
I can confirm with WooCommerce plugins, I see the button hanging and not responding @arunsathiya

[2022-03-31 16:56] cuemarie commented on #62426
Tried some different scenarios:

### Upgrade Banner on Plugins Page

1. Opened free fre-existing test site
2. Went to Plugins Page
3. Clicked Banner at top to upgrade to pro
4. **WordPress.com Pro added to cart correctly**

### Health Check Plugin

3. Open Health Check Plugin
4. Upgrade to Install
5. **WordPress.com Pro added to cart correctly**

### WooCommerce Plugin

3. Open WooCommerce Plugin

[2022-03-31 16:58] masperber opened #62431 "Jetpack Form Widget: On Submission Options Don't Work - Page Reloads"
### Quick summary

The Jetpack Form Widget has several On Submission options:

* Show a summary of submitted fields
* Show a custom text message
* Redirect to another webpage

<img width="998" alt="Screen Shot 2022-03-31 at 12 52 06 PM" src="https://user-images.githubusercontent.com/12906034/161108666-c5fb7f1b-6562-4420-8529-c49f9c604846.png">

If this form is added to a **Footer Widget**, these o

[2022-03-31 17:14] delputnam commented on #62428
Domains _can_ be used with the free plan.  They just can't be made primary.  This is the same as it has been in the past and there is no change to this policy.

We will have a look at the issue with the subdomain though.

[2022-03-31 17:53] chad1008 opened #62433 "Gutenberg: [v13.0.x] plugin upgrade"
Previous upgrade:  #62187
Release notes: [v13.0.0](https://github.com/WordPress/gutenberg/releases/tag/v13.0.0)

**Install and activate**

- ~Install & activate v13.0.0-rc.1 on edge (######-code)~
- [x] Install and activate v13.0.0-rc.2 on edge (D78526-code)
- [x] Install and activate v13.0.0-rc.3 on edge (D78654-code)
- [x] Install and activate v13.0.0 on edge (D78838-code)
- [x] Activate v13.0.0

[2022-03-31 18:22] DavidRothstein commented on #62428
I think this meant to say "Since domain **connections** are available only on the Pro plan", right?

In which case, I think it's actually a valid point?  (If you select Free on that page, the end result, I believe, is that it will add Pro to the cart for you anyway...)

[2022-03-31 18:25] delputnam commented on #62428
Yes.  Sorry.  I wasn't clear with my response either.  We're looking at the subdomain issues. (both the message and plan selection)

[2022-03-31 18:26] paulopmt1 commented on #62311
Product translation: https://code.a8c.com/D77927

[2022-03-31 18:26] paulopmt1 commented on #62311
Product translation: D77927-code

[2022-03-31 18:38] paulopmt1 commented on #62311
Product entry: D77960-code

[2022-03-31 18:48] andres-blanco opened #62435 "Anchor.fm: Clicking on Convert to blog post creates new sites"
@sixhours [noted](D77876-code) that using the Anchor.fm 'Convert to blog post' functionality on different episodes of the same podcast doesn't add posts to the same blog but instead tries to create new sites.

[2022-03-31 19:53] DavidRothstein opened #62437 "[Bug]: Monthly toggle showing for the Pro plan on the Plugins page: Conditionally remove it"
### Quick summary

This was deliberately removed in https://github.com/Automattic/wp-calypso/pull/62276, but may have removed too much, since the Marketplace Plugins themselves are supposed to be sold monthly: p1648748611396109-slack-C031TFM2NKC.  It has now been reverted in https://github.com/Automattic/wp-calypso/pull/62434.

I am not sure all the details of how this worked before, but my rough

[2022-03-31 19:54] andres-blanco commented on #58521
There are good docs over here: PCYsg-DgC-p2. I'll bring what's relevant to the README file and then link to the p2 post.

[2022-03-31 20:10] cuemarie opened #62439 "Poll Blocks on P2: Results only show first 5 responses"
### Quick summary

I put together a number of Poll Blocks on a P2 post for a team game, and 8 people voted in the polls, but only 5 results were tracked across each poll block.

Not sure if this is a unique issue for P2s, or because the post had multiple Poll Blocks set up in a row (9 total).

### Steps to reproduce

These are the exact steps I took:

1. Create a Post on P2
2. Set up 9 Poll Blocks

[2022-03-31 20:14] ianstewart commented on #62426
I can reproduce on a Personal Plan from this moment in the flow:

![image](https://user-images.githubusercontent.com/545779/161141660-988b7a5e-ca20-4a34-9ea1-9866cc1c1665.png)

[2022-03-31 20:57] #62391 closed, assigned to Rolilink

[2022-03-31 21:25] #62426 closed, assigned to michaeldcain, WBerredo

[2022-03-31 23:00] arcangelini commented on #62284
OK here are the troubles I ran into:

1. Markdown block already has a support link.
2. Group, Row and Reusable have variations so it does not allow me to extend the description.
3. Page break is not allowing the extension.

I will let you know when this is live, you may need to test the links just to be sure. Haha, I checked all the descriptions to make sure they appear correctly.

[2022-04-01 04:17] p-jackson commented on #53626
I've just read through the blogrc audit log for many of these sites. Something they _all_ seem to have in common, both simple and atomic, is that they change their primary domain _before_ launching. Whether that's through a domain purchase or by changing to a `.wpcomstaging.com` domain as part of AT. Either way it's a change of primary domain.

I still haven't reproduced it myself, but I'm wonderi

[2022-04-01 04:18] taipeicoder opened #62449 "☂️ Improvements to Verticals API behavior and data quality"
## Description
Iterate on Verticals API's behavior and data quality.

## Improvements
- [x] Use exact matching for synonyms instead of partial matching (D78006-code)
- [x] Matching synonyms to return the vertical name instead of synonym text (D78909-code)
- [x] Show featured verticals when user has not yet typed in any text (D78352-code)
- [x] Generate site verticals v2 synonyms without text split

[2022-04-01 05:28] vishnugopal opened #62450 "Fix import button grayed out when adding a plan during onboarding"
See: p1648720801226819/1648714363.657279-slack-C031TFM2NKC&channel=C031TFM2NKC&message_ts=1648720801.226819

[2022-04-01 05:57] lsl commented on #62268
pdh6GB-zZ-p2

[2022-04-01 06:09] Robertght commented on #61660
This shouldn't be an issue anymore so I'm closing it.

Ref: https://woocommerce.com/document/mini-cart/

[2022-04-01 06:09] #61660 closed, assigned to nobody

[2022-04-01 06:14] aleone89 commented on #59434
Another report here: hc-35007280

I had to write this CSS

`
.wp-block-cover__inner-container p {
    color: white;
}`

[2022-04-01 06:35] simison commented on #53626
I first thought this could be related to some Jetpack sync/Atomic issues (p9F6qB-90M-p2 or Slack p1648110864091759-slack-jetpack-developers), but it shouldn't have anything to do with Jetpack options sync since values are stored in Atomic persistent data, right? Do those persistent data tables use domains as a key in any way?

[2022-04-01 06:54] cpapazoglou commented on #62437
@WBerredo added this on our current sprint in case it's related to the feature checks you will be introducing.

[2022-04-01 07:18] donalirl opened #62452 "Update a Link on the Import Content Page"
### Quick summary

We have reorganized our docs on importing, and there's a doc link in the content importing screen on Calypso that needs a change.

### Steps to reproduce

1. Go to Tools → Import
2. Click "upload it to import content" link
3. Click "Need help exporting your content?" link

![image](https://user-images.githubusercontent.com/30727666/161214190-b78c191d-a53d-4d17-8a65-ad8d21ecdfd8.

[2022-04-01 07:40] edwinho89 commented on #57812
4911600-zd-woothemes

[2022-04-01 07:40] Greatdane commented on #61445
Added to Gutenberg core; https://github.com/WordPress/gutenberg/issues/39968

[2022-04-01 10:08] bogiii opened #62456 "Fix missing margin on the list of importers screen"
<img width="1129" alt="Screenshot 2022-04-01 at 12 07 16" src="https://user-images.githubusercontent.com/1241413/161243245-32f6442e-f23b-483f-8582-f80a5707e786.png">

[2022-04-01 10:44] thedevhaider commented on #62452
@donalirl Can I work on this issue?

[2022-04-01 11:27] kriskorn opened #62459 "Marketplace: Unable to install WPML OTGS Plugin ( Malicious Error )"
### Quick summary

When uploading the WPML OTGS installer plugin via https://wordpress.com/plugins/upload/ a malicious error is shown:

![otgs-plugin-malicious-error](https://user-images.githubusercontent.com/12064241/161253273-fc0ecf3c-0de9-4842-8a29-cb1473e51ff3.png)

### Steps to reproduce

1. Go to https://wordpress.com/plugins/upload/
2. Grab the `otgs-installer-plugin.3.0.1.zip` plugin file

[2022-04-01 11:33] rickmgithub opened #62460 "Zoologist: Navigation block hidden by controls"
### Quick summary

When adding a navigation block, the item in the block are hidden by the block pop-up overlay controls

### Steps to reproduce

* Set site as Zoologist
* Go home page->edit template (set as head and footer only)->Add a Navigation block or use existing and try to add an item
* The result is this -
<img width="797" alt="Markup 2022-04-01 at 12 24 27" src="https://user-images.github

[2022-04-01 11:51] dragstor commented on #53626
35010513-HC

[2022-04-01 12:03] gcsecsey commented on #62302
Translation mappings: D78034-code, needs review

[2022-04-01 13:09] filipanoscampos opened #62461 "Gallery Block: Image src URL replace with embed URL"
### Quick summary

We have two reported cases in which images previously added to a Gallery Block disappear from Simple sites.

### Steps to reproduce

Many attempts to reproduce this on simple sites have been made, yet I have not been able to until now.

Yet, since this is something that affects two different websites, there is definitely something causing this that should be looked into.

Both c

[2022-04-01 13:33] #62193 closed, assigned to epeicher

[2022-04-01 13:48] msilbers opened #62462 "Domain-only site cannot launch free site"
### Quick summary

Right now, if you have a domain-only connection, and try to launch a free site, it keeps redirecting to the domain's parked page, and does not add a site.

Note: It does work if you add a Pro plan and go through checkout, but not for a free site.

### Steps to reproduce

1. Start at wordpress.com/domains
2. Register a domain only, no site
3. Try to launch a free site (you may ne

[2022-04-01 14:00] #62284 closed, assigned to arcangelini

[2022-04-01 14:43] gcsecsey commented on #62302
Vendor info added:

[code]

[2022-04-01 15:14] gcsecsey commented on #62302
Marketplace product entries:

- Australia Post Shipping Method: D78036-code
- Royal Mail: D78043-code

[2022-04-01 15:48] #62265 closed, assigned to Rolilink

[2022-04-01 16:37] galakhyati commented on #62036
Unable to replicate the issue on Atomic as well as on Simple sites. Tested both the sites on Intergalactic 2 theme. Checked on Safari as well as on Chrome, worked fine on both the browsers. Closing the issue.

[2022-04-01 16:37] #62036 closed, assigned to nobody

[2022-04-01 18:05] ariel-maidana commented on #57812
4913509-zd-woothemes
Provided the workaround.

[2022-04-01 18:29] andres-blanco opened #62468 "Seller Experience: User with Pro plan is prompted to upgrade"
Going trough the `/start` flow with a Pro Plan in the seller intent prompts the user to 'Upgrade' if they want to choose the `More power` option. This shouldn't be the case because Woo is included in the Pro Plan.

What I see is:
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/375980/161321176-6b5e7ad8-44e3-43ee-b64b-6dc79186d867.png">

I expected to see `Continue` ins

[2022-04-01 19:08] andres-blanco opened #62470 "Seller Experience: The description reads "Requires a paid plan" even if user has purchased the Pro plan"
This was reported by @obenland:
<img width="1223" alt="image" src="https://user-images.githubusercontent.com/375980/161326355-7eef8893-0977-4178-a75d-2c17d42623ce.png">
On [WordPress.com](http://wordpress.com/) I went through "Switch Site" and "Add new site" to the onboarding flow.
There I encountered two variants, one where the plan step is first and one where the intent step is first.
On plan st

[2022-04-01 19:50] sstabrizi commented on #61464
Another report here: 34115768-hc

[2022-04-01 20:27] ariel-maidana opened #62475 "Activity Log doesn't log changes to templates in FSE sites"
### Quick summary

On FSE sites, important parts of the site are in the templates or template parts, not in the pages. If the Activity Log doesn't log changes to templates or template parts, important changes made to the site will not be accessible by users.

### Steps to reproduce

1. Open the Site Editor (Appearance ---> Editor).
2. Make a change to a template.
3. Go to Jetpack ---> Activity Log

[2022-04-02 01:55] edwinho89 opened #62476 "Marketplace: Display Reviews and Ratings on Plugins page"
### What

At the moment, viewing plugins on WordPress.com like https://wordpress.com/plugins/yith-woocommerce-zoom-magnifier only shows the current rating, however not in depth comparing to the reviews page on WordPress.org https://wordpress.org/support/plugin/yith-woocommerce-zoom-magnifier/reviews/

Reported in 35017210-hc

Also asked on Slack for visibility: p1648864046669349-slack-C03TY6J1A

#

[2022-04-02 04:29] 1dr0 commented on #62462
Something similar where the user wants to transfer an existing plan to their domain-only site right now.
4914872-zen

[2022-04-02 06:45] edwinho89 opened #62477 "Desktop MacOS App: error 310 when viewing Page"
### Quick summary

When viewing Page on the Desktop App, it displays the following error message as below

![image](https://user-images.githubusercontent.com/34882260/161370624-42fa8710-07f7-49d1-8dee-a77f918eda08.png)

[code]

In Bugomattic, there's a similar GH issue in https://github.com/Automattic/wp-desktop/issues/759 , but I'm not able to view nor access it.

<img width="1162" alt="image" sr

[2022-04-02 15:09] jartes commented on #59570
During some team testing, I found this error when trying to switch to a new page template on a simple site, and using the `Blank Canvas` theme.

[2022-04-02 15:52] Marcia-HC commented on #53248
New report @ 4915236-zd

[2022-04-02 21:30] jordesign commented on #62462
Scrubbed this and can confirm the behaviour (screencast attached). Things appear to work fine when adding the Pro plan - but *not* when trying with a free plan.

https://user-images.githubusercontent.com/1842363/161401767-e208640b-4a95-4c99-b0c6-511ec99d1d63.mov

[2022-04-02 22:18] delputnam commented on #62462
Thanks for the report.  We're (Nomado) already working on this.  We'll post an update here once this is fixed.

[2022-04-03 02:59] jordesign commented on #62462
Thanks Del!

[2022-04-03 04:48] 1dr0 commented on #39956
Another one here: 4916326-zen

Tested and provided the workaround by using Columns block.

[2022-04-03 08:08] formosattic commented on #62462
Updated the initial report with a workaround: HEs can add then remove the Pro plan in the SA, this will make the free site available.

[2022-04-03 08:45] formosattic commented on #62461
Not sure if we'll be able to replicate this as it seems caused by a core update.

Looking at the revision screenshot above, based on the the unordered list HTML removed, it looks like this is related to Gallery block refactor that was included in [WordPress 5.9](https://wordpress.org/news/2022/01/josephine/), more details:

* https://make.wordpress.org/core/2021/08/20/gallery-block-refactor-dev-no

[2022-04-03 12:32] syds87 commented on #57812
4915932-zd-woothemes
Provided the workaround.

[2022-04-03 12:43] csabarakasz commented on #52100
4914228-zd-woothemes

[2022-04-03 15:52] tavilla61 opened #62479 "Feature Request - Request for Atavist podcast or audio option"
A user requested an audio version of the Atavist Magazine. I'm not sure if this is the right place to put that suggestion or if it's a possibility.

Thank you!

[2022-04-03 15:58] tavilla61 commented on #62479
After looking into this more, I realized there already is a podcast. I'll close out this request.

[2022-04-03 15:58] #62479 closed, assigned to nobody

[2022-04-03 16:47] philnick206 commented on #62286
Hi @Robertght I was using an image that was 2000 ✕ 1200. But it is reproducible by skipping the crop as well. Here is a link to the image I used in the example: https://philnicktestahome.files.wordpress.com/2019/09/cropped-pexels-photo-2745258.jpeg

[2022-04-04 00:18] formosattic commented on #26908
Added to triage board for another review by @Automattic/dotcom-triage-pa-group .
We could consider merging https://github.com/Automattic/wp-calypso/issues/44427 to this one?

[2022-04-04 00:34] jordesign opened #62481 "504 errors on images in Media Library for AT sites when Photon/CDN is active"
### Quick summary

Multiple reports of users who can't upload images in Editor/Calypso. When checking the media library the images show up as blank grey boxes. Appears there are 504/timeout errors when requesting the images.
![Uploading Screen Shot 2022-04-04 at 10.31.30 am.png…]()

### Steps to reproduce

For affected sites - check the Media Library

### What you expected to happen

All thumbnail

[2022-04-04 00:38] jordesign commented on #62481
Also noting that we can't recreate this consistently - maybe one of the photon/CDN servers is down regionally?

[2022-04-04 00:40] khristiansnyder commented on #62481
I started to see this in chat around 23 UTC, April 2nd.

Users reported issues after trying to upload images, showing a broken link. Example:
![Markup on 2022-04-03 at 17:38:52](https://user-images.githubusercontent.com/41035049/161456522-f4560a37-9233-4dbe-80e2-151ae8c8ee25.png)

Starting to see some tickets with the issue being reported on simple sites as well, but I cannot replicate this at all

[2022-04-04 00:42] jordesign commented on #62481
Some other interactions:
#4918897-zen
#4918859-zen
#4918834-zen

[2022-04-04 01:12] donalirl commented on #62481
#34079307-hc
#35034892-hc

[2022-04-04 01:27] Greatdane commented on #62481
35035340-hc

[2022-04-04 01:49] jordesign commented on #62481
4918935-zd-woothemes
4918957-zd-woothemes
4918967-zd-woothemes
4918859-zd-woothemes

[2022-04-04 01:56] flameslash commented on #62481
4919008-zd-woothemes

[2022-04-04 02:27] donalirl commented on #62481
#35035552-hc
#33467613-hc

[2022-04-04 02:32] flameslash commented on #62481
32128731-hc

[2022-04-04 02:57] inaikem commented on #62481
#29700712-hc
#35035702-hc

[2022-04-04 03:13] Greatdane commented on #62481
4918791-zd-woothemes

[2022-04-04 03:20] 1dr0 commented on #62481
35035532-hc
35024418-hc
35035831-hc

[2022-04-04 03:54] donalirl commented on #62452
@thedevhaider Yes! This isn't something I need to give permission for. It's important that _someone_ gets it done ASAP :)

[2022-04-04 03:54] mdtanjid0 commented on #62481
35035483-hc
4919007-zen

[2022-04-04 05:45] roo2 commented on #62115
Wrote up my investigation here pbxlJb-1sw-p2

[2022-04-04 06:24] p-jackson commented on #53626
@simison The setting is only moved to persistent data when the site is atomic, otherwise it's just a regular old site option. The site option is intentionally not sync'd by Jetpack though since it's supposed to use persistent data. There could be issues with this approach, which is what's being investigated in 831-gh-Automattic/wpcomsh. But given that this also happens on simple sites I'm not sure

[2022-04-04 06:44] Greatdane commented on #62481
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-04-04 06:45] #62481 closed, assigned to nobody

[2022-04-04 07:54] #61231 closed, assigned to escapemanuele

[2022-04-04 08:52] aneeshd16 commented on #62277
Thanks for reporting this! We are tracking this issue here: pdh1Xd-LF-p2

This screen will be replaced soon (~1 week), so we will be making these changes to the new screen. More details here: pdh1Xd-LF-p2#comment-1015

[2022-04-04 09:00] #62456 closed, assigned to bogiii

[2022-04-04 09:11] #62450 closed, assigned to bogiii

[2022-04-04 10:01] thedevhaider commented on #62452
@donalirl Sure, I have attached the PR. As I am a first-time contributor, I need some approvals to run the workflows. Could you please guide me for the same?

[2022-04-04 10:18] tyxla commented on #62452
I'm on it @thedevhaider. Thanks for your contribution 🙌

[2022-04-04 10:22] pauljacobson commented on #62461
Hi @formosattic 👋

Thank you for the feedback. Based on the second post you linked to, it seems that one possible workaround is to make a minor change to an affected post (perhaps adding a space), and clicking _Update_. Have I understood that correctly?

[2022-04-04 10:34] filipanoscampos commented on #52100
Not an FSE friendly cookie widget, but a request for a Cookie banner that compiles with Italian law:
4882757-zd-woothemes

[2022-04-04 10:54] thedevhaider commented on #62452
Thanks, @tyxla, and @donalirl ❤️

[2022-04-04 11:35] jorpdesigns opened #62485 "Layout Grid Tablet and Mobile Breakpoint Buttons Not Working"
### Quick summary

When using the Layout Grid block, the buttons used to switch to the Tablet and Mobile breakpoints do not work.

The buttons are referenced in the guide here: https://wordpress.com/support/wordpress-editor/blocks/layout-grid-block/#resizing-the-grid

### Steps to reproduce

1. Create a new page or edit an existing one. Based on previous tests, the theme or site plan is irrelevant

[2022-04-04 11:57] formosattic commented on #62461
@pauljacobson : I shared the second link https://www.koberoku.com/content/why-wordpress-5-9-broke-your-galleries-and-how-to-fix-it , for the reference of the unordered list that is now gone.
I'm not sure that the fix suggested there would apply for WordPress.com, especially because the bug has the other odd behavior of replacing the image  URL with the link of an embed content on the same page. Bu

[2022-04-04 12:46] sguzovskaia opened #62486 "User asked to Upgrade again when using Import Everything from self-hosted WordPress site on Pro plan"
### Quick summary

User created the new site life11mumbai.wordpress.com and upgraded it to Pro plan. When trying to Import Everything from their self-hosted WordPress site, the user is asked to Upgrade again and is taken to the checkout page to purchase a Business plan.

### Steps to reproduce

1. Go to Tools → [Import](https://wordpress.com/import/). Under “I want to import content from:” select

[2022-04-04 12:56] sguzovskaia commented on #62486
Followed up with the user in zen-4919742 and asked them to activate the hosting access to see if it helps.

[2022-04-04 13:12] markbiek commented on #55383
It's worth nothing that the theme url we link to is the `theme_uri` field as returned from the `/themes` API call.

The value of that field comes from the `style.css` file of the theme itself.

For example, if we look at the **Archeo** theme in the API, we see that the theme uri is https://github.com/Automattic/themes/tree/trunk/archeo.
![image](https://user-images.githubusercontent.com/917632/161

[2022-04-04 13:14] pauljacobson opened #62488 "Pro plan: Jetpack import not available without WordPress.com Business plan despite Pro plan site being Atomic"
### Quick summary

Our user has two sites that they want to migrate to WordPress.com using the Jetpack importer. They have purchased a WordPress Pro plan for each site, and installed a plugin on each site. When they try to import from their self-hosted WordPress.org sites using Jetpack, they are prompted to upgrade to the WordPress.com Business plan.

### Steps to reproduce

1. Start at **Tools**

[2022-04-04 13:18] pauljacobson commented on #62488
It looks like this has been reported in #62486 so I'll close this issue in favour of the earlier report.

[2022-04-04 13:18] #62488 closed, assigned to nobody

[2022-04-04 13:20] pauljacobson commented on #62486
I have another instance of this issue here: #62488 with additional screenshots, and a suggested workaround.

[2022-04-04 13:38] allilevine opened #62490 "Marketplace: Indicate that popular search term has been clicked"
When a popular search term is clicked and we land on the results page, that search term word should no longer be a link. It should be unclickable with no underline. From pdh6GB-AJ-p2#comment-1158

<img width="646" alt="Screen Shot 2022-04-04 at 9 35 52 AM" src="https://user-images.githubusercontent.com/1689238/161556086-b03cb4d8-1b42-43ba-a4bc-e826e4b97a2c.png">

Acceptance criteria:
- [x] The sea

[2022-04-04 13:49] JoshuaGoode commented on #62207
Doesn't appear to be plan specific, can occur across any Atomic plan right now. Seems the `home` option isn't always updated fast enough.  Internal discussion: p9F6qB-90M-p2

[2022-04-04 14:20] #62366 closed, assigned to worldomonation

[2022-04-04 14:20] ClassicRKR27 commented on #62486
I played into 4919742-zd-woothemes - site is now AT but is still not allowing for the transfer without prompting for the upgrade.

[2022-04-04 14:24] blackjackkent commented on #55383
@markbiek I'm inclined to say fiddling with all the theme data itself is probably not the best plan. How complicated is the second option, to tweak the logic of the activity log itself? That seems like a better bet if we can swing it.

[2022-04-04 14:33] sixhours commented on #53998
Based on Happiness' response I don't think this is something encountered very often. @Robertght mentioned a different issue (the time it takes to complete a Headstart on theme switch) in the P2 post but it doesn't sound like the same thing. I'm going to close this for now; please feel free to reopen if this behavior causes user-facing issues!

[2022-04-04 14:34] #53998 closed, assigned to nobody

[2022-04-04 14:56] markbiek commented on #55383
@blackjackkent All of the activity log components are pretty generic so I don't think adding extra logic in there is the way to go.

_However_, if you trace things all the way down, those theme links in the text "Switched Whatever to Whatever" are ultimately rendered by the [Theme formatted-block](https://github.com/Automattic/wp-calypso/blob/trunk/client/components/notes-formatted-block/blocks.js

[2022-04-04 15:12] ivan-ottinger commented on #60774
I was able to reproduce the issue on a local Jetpack install.

---

**Initial investigation:**

It looks like the issue is coming from the [`if` condition](https://github.com/Automattic/jetpack/blob/a511be40d3468e2a3412b0c5a09a84b2bb51cd4d/projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php#L2153-L2158) in `projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php`

[2022-04-04 15:16] sixhours commented on #58250
Started a diff in D78118-code

[2022-04-04 15:35] worldomonation opened #62492 "[Meta] WordPress.com Plans E2E coverage"
### Details

Add some E2E coverage for the new WordPress.com Plans.

### Checklist

_No response_

### Related

pciE2j-Uk-p2

[2022-04-04 15:38] syds87 commented on #62486
I have a similar case reported in 4920605-zd-woothemes - the site is AT, but it's asking to upgrade to Pro when trying to import.

[2022-04-04 16:25] #58521 closed, assigned to andres-blanco

[2022-04-04 16:54] sixhours commented on #57456
With D77979-code landed, the Videos UI library has pretty good coverage. I think we can call this done!

[2022-04-04 16:54] #57456 closed, assigned to sixhours

[2022-04-04 17:54] allilevine opened #62494 "Marketplace: Add search by category"
Implement a category drop-down search tool for the Marketplace.

Acceptance criteria:
- [ ] There's a category drop-down on search pages that allows you to change from searching in "All Categories" to a specific category. Then the search results only load plugins with that category tag.

Screenshot:
<img width="955" alt="Screen Shot 2022-04-05 at 4 29 51 PM" src="https://user-images.githubusercont

[2022-04-04 17:56] allilevine opened #62495 "Marketplace: Change /plugins navigation sections"
New landing page sections (also new search categories, except Discover):

**Discover** - this is the landing page.
**Top free plugins** - this is a page where we'll display the Free Plugins by active installs data.
**Top premium plugins** - Premium plugins by active installs data.
**Editor's pick** - Handpicked.
**All categories** - Everything we have.

Hardcoded like current /plugins categories.

[2022-04-04 17:58] allilevine opened #62496 "Marketplace: Add loading spinner to search input"
Acceptance Criteria:
- [ ] There is a loading spinner that appears in the search field when a popular search term is clicked or enter is pressed. The spinner replaces the search icon.
<img width="532" alt="Screen Shot 2022-04-05 at 4 34 58 PM" src="https://user-images.githubusercontent.com/1689238/161844457-5893a6eb-f481-441a-8f34-9ffee4ce9ac6.png">

Let's see if we can re-use a spinner component.

[2022-04-04 18:13] allilevine opened #62497 "Marketplace: Research how we'll use plugin tags as categories"
To support https://github.com/Automattic/wp-calypso/issues/62264 and https://github.com/Automattic/wp-calypso/issues/62494 pre Woo integration we'll need to use tags as categories in the Marketplace.

We can likely use WooCommerce.com search api's or see if `wp_query` is an option.

Acceptance criteria:
- [ ] p2 a plan to use plugin tags, with implementation details -- for example, what new endpoi

[2022-04-04 19:29] markbiek commented on #55383
Double-checked and the only place the `FormattedBlock` component is being used is in the activity log. So I think it's safe to make the change I outlined above.

[2022-04-04 19:57] jffng opened #62501 "FSE: Remove "Nav Menus" panel from Customizer"
### What

For FSE enabled themes, remove the Menus panel from the Customizer:

From | To
--- | ---
<img width="486" alt="Screen Shot 2022-04-04 at 3 56 27 PM" src="https://user-images.githubusercontent.com/5375500/161621749-aa08b621-600f-4c36-be96-20d3ec164956.png"> | <img width="488" alt="Screen Shot 2022-04-04 at 3 56 07 PM" src="https://user-images.githubusercontent.com/5375500/161621759-464041

[2022-04-04 20:07] jjchrisdiehl commented on #50064
This is still a work in progress, so far the API has been updated to pass along the display price. Next step: update frontend to use new API values.

[2022-04-04 20:28] sixhours commented on #58250
Fixed in D78118-code

[2022-04-04 20:28] #58250 closed, assigned to sixhours

[2022-04-04 21:20] lupus2k commented on #62490
What do you think about making the selected one **bold**?

Like this:
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/402286/161634130-5ffc6401-fc3d-4ab1-b1ab-43cf0c3be025.png">

[2022-04-04 21:31] allilevine commented on #62490
@lupus2k I'd lean towards not bolding in case it shifts the other terms over. Do you have a branch where we can see it in action?

[2022-04-04 22:03] cometgrrl commented on #61312
When I click on the ? on the checkout/payment page, there's a contact us link that opens chat.

Can you see if this is still reproducing for you @mrfoxtalbot?

<img width="350" alt="Screen Shot 2022-04-04 at 2 58 10 PM" src="https://user-images.githubusercontent.com/86427589/161639558-6d8f9cab-308e-4984-b7b2-22681ebcd570.png">

[2022-04-04 22:58] noahtallen commented on #61237
Thanks for the ping. A fix: https://github.com/Automattic/wp-calypso/pull/62504

[2022-04-04 23:44] cometgrrl commented on #61312
I believe it's intended as the ? is present on all the previous screens with the same behavior. I think "Need help? Chat with us." is there to make it more obvious on that final screen how to get help if you need it.

[2022-04-05 01:41] donalirl opened #62506 "Enhance Error Message When Domain is Not Transferable"
### What

When a domain is less than 60 days old, it cannot be transferred between registrars. When a user attempts to transfer-in a domain that is less than 60 days old, they are presented with a generic error message that does not say why they cannot transfer in the domain:

`The domain DOMAIN.com is not transferable.`

![Annotation on 2022-04-05 at 11-17-40](https://user-images.githubuserconten

[2022-04-05 02:50] DavidRothstein commented on #56929
This is an internal issue, not a Calypso issue, but I guess it's OK to track here.

Assuming that "Jetpack Search for WordPress.com" is the one that is supposed to be used on Atomic sites (and I guess it is if that is what people are buying in Calypso and it's working there?) then I think it just needs to be added to the list of products in Store Admin that are supported on Atomic sites.  This wou

[2022-04-05 03:11] donalirl commented on #62452
Re-opening, as the modal still shows the old doc:

![image](https://user-images.githubusercontent.com/30727666/161671163-9c137933-dae4-4df4-9391-171a7f4ac711.png)

When you click Visit Article in the modal, the link goes to the correct doc. But the modal that appears first still shows the old content.

To make sure this wasn't cached, I checked in another account that hadn't opened that link befor

[2022-04-05 06:35] zdenys opened #62508 "Reader: Allow font family and size customization for improved readability"
### What

Allow customizing the font family and its size to improve readability, on all devices (mobile and desktop).

### Why

- Other feed readers such as [Feedly](https://blog.feedly.com/customize-your-feedly-with-the-look-and-feel-that-best-suits-you/) do offer this feature.
- Some customers are interested in this 4917130-zd-woothemes

### How

_No response_

[2022-04-05 06:51] #62490 closed, assigned to lupus2k

[2022-04-05 07:08] tyxla commented on #62452
Oh, you're right. We didn't update the article ID, let me file a quick fix for that.

[2022-04-05 07:12] kspilarski commented on #52100
4915537-zd

FSE theme: Twenty Twenty Two.

[2022-04-05 07:29] Robertght opened #62510 "Seller experience: Free plan sites show a ambiguous message on WooCommerce"
### Quick summary

When trying to complete the WooCommerce  setup, we're seeing this on a Free plan site:

![image](https://user-images.githubusercontent.com/6737345/161701427-9b53496a-639f-46f2-8a40-631acfa70ad5.png)

Other ref: https://github.com/Automattic/wp-calypso/issues/60429

### Steps to reproduce

1. All you need is a free plan site
2. Click on the WooCommerce page in the dashboard and f

[2022-04-05 07:33] #62452 closed, assigned to tyxla

[2022-04-05 07:36] autumnfjeld commented on #62237
@fushar & @Automattic/ganon

Just a heads up that we may try to deliver a "fancy version" of the DP for the Vertical Designs for MVP. It is not yet decided, but I'll present this in the MVP post.  It is work we would do in a month or so, nothing to worry about now, and I'll create an issue for it when the time comes.   The work @fushar  is doing in #62400 is still relevant for this stage of the pr

[2022-04-05 07:43] tyxla commented on #62452
Fixed in #62509. Let me know if there are any other troubles.

[2022-04-05 08:16] Robertght commented on #62510
13464870-hc

[2022-04-05 09:43] zdenys commented on #48746
4922231-zd-woothemes

[2022-04-05 09:49] escapemanuele opened #62511 "Stepper: Cleanup DesignSetup step"
### What

Cleanup `internals/steps-repository/design-setup/index.tsx`.

A couple of functions are defined inside the component when they can be out (pure functions).
Some functions can be moved in the design picker package.

[2022-04-05 09:51] zyousafi commented on #53626
Another issue reported here: #34478831-hc

The suggested workaround (i.e., toggle from Public to Private, and back to Public) worked for the user

[2022-04-05 10:11] daledupreez commented on #62113
My proposed back end changes are in D77946-code and are being discussed internally: pbMDNC-z5-p2

[2022-04-05 10:19] pauljacobson opened #62512 "Apostrophe 2: Theme not selecting first image as featured image when this feature is enabled in Customizer"
### Quick summary

Our user has reported that Apostrophe 2 is no longer selecting the first image in their posts as the featured image, despite it having done so until recently.

This is problematic for the user for two reasons:

- the incorrect featured image can affect click throughs to the posts; and
- the user has a backlog of posts that don't have manual feature image selections, so needing t

[2022-04-05 10:24] jeherve commented on #57449
I was able to narrow the problem down to the WordPress.com block editor functionality (developed [here](https://github.com/Automattic/wp-calypso/tree/trunk/apps/wpcom-block-editor)).

The script is loaded via the Jetpack plugin, on all WoA sites that are connected to WordPress.com, here: https://github.com/Automattic/jetpack/blob/4a9a5c19ffa1ad972c6e4adbf08e04173d8401b1/projects/plugins/jetpack/mo

[2022-04-05 10:46] filipanoscampos commented on #62461
@pauljacobson and @formosattic
Yes, in one of the cases the user made many changes to a post and the issue persisted.
So this workaround will not solve the issue at hand.

[2022-04-05 12:12] nagpai commented on #62486
Workaround for now is to add Business Plan, in addition to the Pro plan on the site (maybe for a 5 day validity). The import works after that.

4922680-zd

[2022-04-05 12:25] csabarakasz commented on #52100
4917434-zd-woothemes

Premium plan, no way to add cookies banner.

[2022-04-05 12:31] annbingle opened #62515 "Maywood Theme - Editor Background Color has changed from customized to white."
### Quick summary

The user has been seeing their Page and Post Editor with Black Background but they mentioned that after enabling SFTP in Hosting Configuration, the Editor is now in White Background.

However, the Live Site Background remains black which follows the Background color set in the theme.

HC - 35046621

### Steps to reproduce

1. Site: downtowncowtown.com
2. Theme: Maywood
3. On the

[2022-04-05 12:45] KokkieH commented on #62510
We've had a few threads in the forums. Listing below, but for now I'm advising them to upgrade and install WooCommerce from the Plugins page instead.

* https://wordpress.com/forums/topic/why-this-is-constantly-showing-we-have-hit-a-snag/
* https://wordpress.com/forums/topic/hit-a-snag/
* https://wordpress.com/forums/topic/couldnt-set-up-store
* https://wordpress.com/forums/topic/woo-commerce-cant

[2022-04-05 13:06] sajmes opened #62516 "Pingback alignment issue: Payton theme"
### Quick summary

When a pingback is added to a post on Payton, the pingback does not horizontally align properly with other comments.

The whole comment is slightly more left aligned than regular comments as there is no gravatar but the main issue is that `comment-meta` sits outside the column for comments entirely.

### Steps to reproduce

1. Set theme to Payton
2. Add and approve a pingback to

[2022-04-05 13:12] filipanoscampos commented on #56960
The user on 4923078-zd-woothemes, a follow-up to 4765045-zd-woothemes, reports the issue is still affecting them.
Particularly the issue with the sharing button for Press This as reported here: 4765045-zen.

[2022-04-05 13:23] zdenys commented on #57468
4923240-zd-woothemes

[2022-04-05 13:38] zdenys commented on #57468
4923320-zd-woothemes

[2022-04-05 13:38] ClassicRKR27 commented on #56960
Had another report of this here: [35053761-hc](https://hud.happychat.io/chat/35053761)

User provided this browser information: https://www.whatismybrowser.com/w/E94S8G5

[2022-04-05 14:20] JoshuaGoode commented on #62486
Video:

https://user-images.githubusercontent.com/4887830/161775267-35b5a27f-d06f-4279-9e84-ef996c4a01e2.mp4

[2022-04-05 14:29] vinimotaa commented on #62177
hey @allilevine and @lsl thanks for the discussion here around Jetpack!

What do we need from the Design team at this point? I understand that Jetpack isn't yet a conventional plugin, so for that reason, there are concerns about how we should still list it within the Marketplace?

Would that make sense to use the same card design as any other plugin, and just hide the info that doesn't apply to it

[2022-04-05 15:06] markbiek opened #62520 "[Bug]: Reader view endlessly reloads recent posts"
### Quick summary

When I go to https://wordpress.com/read, it just continuously reloads my recent posts. You can see the UI refreshing and all of the ajax calls in the dev console.

I'm assuming it's something unique to my account and probably related to all of the test sites I have.

https://user-images.githubusercontent.com/917632/161784632-2aaab6cf-5496-4784-8a45-b1bf696de643.mp4

### Steps to

[2022-04-05 15:06] leonardost commented on #60366
We looked at the remaining bundled domains in this situation (around 200) and it seems most of them had a plan expiration date manually set in the future by HEs in the past. So we believe it's better to handle them manually when the scenario occurs.

[2022-04-05 15:19] sixhours commented on #62470
On plan step first I selected Pro and then Sell in the intent step after, and arrived at my screenshot from above

I'm not able to reproduce this one, either, but I have a hunch. I've noticed sometimes when I drop out of the signup/intent flow without completing it, my information (site title, etc.) is still in state and I'm automatically brought back to the step where I dropped off. Maybe Konstan

[2022-04-05 15:22] mdtanjid0 opened #62521 "FSE :: Navigation Block :: Duplicate Menus."
### Quick summary

If we create a classic menu from the customizer and then use it via the Navigation block with FSE, the menu name gets duplicated and increments with every click.

I have created a short video to explain it better:

https://user-images.githubusercontent.com/54123436/161786246-c6986c48-36dc-4f43-974b-3fd8a0e7c0aa.mp4

### Steps to reproduce

1. Activate the Blank Canvas theme.
2.

[2022-04-05 15:59] obenland commented on #62470
That's definitely possible, I noticed the site title be pre-populated in some instances of creating a new site

[2022-04-05 16:27] sixhours commented on #58775
Started working on this here D78218-code

[2022-04-05 17:23] #59794 closed, assigned to mashikag

[2022-04-05 17:34] sixhours commented on #62430
Fix in D78222-code

[2022-04-05 17:46] thedevhaider commented on #62452
Ah! Missed it. Just saw the thread. Thanks, @tyxla for the quick fix ❤️

[2022-04-05 17:50] tyxla commented on #62452
Missed it myself too the first time 🤦 Thanks again @thedevhaider for contributing to Calypso 🙌

[2022-04-05 17:56] epeicher commented on #61800
P2 written to ask Atomic team for a potential solution pdh6GB-zu-p2

They suggested a change that has been implemented in the diff below.

Diff created pdh6GB-zu-p2

[2022-04-05 18:16] allilevine commented on #62177
@vinimotaa That's correct, we want to show Jetpack Search in search results, but it's not yet a standalone plugin. This is an example of how we show that in wp-admin: pdh6GB-s7-p2#comment-1081

That makes sense. We're just wary of confusing users by making this look like a plugin when it's not. But making changes to the card and clarifying on the details page sounds like it would help.

[2022-04-05 18:19] allilevine commented on #62309
@vinimotaa @emmnyc85 From the discussion here: pdh6GB-uo-p2#comment-1086 it should be a one-time dismissable notice.

Sorry about the confusing link to the modal! I hadn't updated the description.

[2022-04-05 19:02] JoshuaGoode commented on #62486
Resolved by the following

https://github.com/Automattic/wp-calypso/pull/62524
https://github.com/Automattic/wp-calypso/pull/62529

[2022-04-05 19:05] #62486 closed, assigned to nobody

[2022-04-05 19:41] sixhours commented on #58775
Fixed in 243193-wpcom

[2022-04-05 19:41] #58775 closed, assigned to sixhours

[2022-04-05 19:46] Addison-Stavlo commented on #57449
I don't follow, all of these blocks in the exception have different inner blocks. Why would specific inner block content matter for an exception that only considers the parent block's name for an early return?

[2022-04-05 19:56] senadir commented on #57449
Cart has 4 levels deep of inner blocks, all of those levels call `replaceInnerBlocks` by themselves, so unless the check traverse all the way up to the parent block (which it doesn't it only check the most immediate parent), you will need to check for all of those parents `woocommerce/cart`, `woocommerce/filled-cart`, `woocommerce/empty-cart`, `woocommerce/cart-order-summary`, `woocommerce/cart-it

[2022-04-05 20:21] JulianBustamante commented on #61564
Deployed r243196-wpcom

[2022-04-05 20:47] CodeAllNightNDay opened #62537 "Contact Form Block within Cover Block width issues on Twenty Twenty-Two (Swiss)"
### Quick summary

The user originally created a contact form as a template part and added it to the homepage template in the Site Editor. The form looks okay in the editor but the width is not applied on the live site. The user then deleted the template and tried to add the form directly to the homepage template but the issue persists.

The contact form styles from the template editor don't seem

[2022-04-05 21:20] allilevine opened #62538 "Marketplace: Font size in search input is less than 16px on mobile"
Search header input text is too small on mobile. Timebox research into this.

[2022-04-05 21:26] allilevine opened #62539 "Marketplace: remove spaces between commas from popular search terms"
The spacing between commas was in the original design, but @vinimotaa has approved removing them.

[2022-04-05 21:28] allilevine opened #62540 "Marketplace: Remove hyperlink from search button"
The search icon in the Marketplace search header should not be a link or button. Requested by design.

We don't want to change the Search component to make this change, so it may need to be a CSS solution.

[2022-04-05 21:32] allilevine opened #62541 "Marketplace: Clicking on search results doesn't navigate into search results"
When searching and then clicking on a plugin, then clicking on “Search Results” on the header navigation breadcrumb it doesn’t instantly navigate back to the search results page. You have to click it twice.

[2022-04-05 21:32] delputnam commented on #62428
We've deployed D78079-code which fixes the issue related to showing the error about the .blog subdomain.

[2022-04-05 21:42] Addison-Stavlo commented on #57449
I think the WHY is incorrect here.  After digging further it seems this errors before that early return check. Simply having ANY handler function here `() => {}` seems to trigger this error on inserting the Cart block, while removing all handlers from `insertBlock(s)` and `replaceInnerBlocks` seems to resolve the issue 🤔 .  Neither of these seem to be async actions either so im unsure about the ca

[2022-04-05 21:52] #61312 closed, assigned to nobody

[2022-04-05 22:08] #61237 closed, assigned to noahtallen

[2022-04-05 23:07] lsl commented on #62539
From @vinimotaa - Lets remove the spacing.

[2022-04-06 00:32] donalirl commented on #41508
Confirmed I can no longer recreate this! Seems fixed.

[2022-04-06 01:35] Rolilink commented on #62166
My gut tell me that we don't actually need the `useEffect` logic and that we can do this through the parent component, I am also migrating this logic into an `useSticky` hook  on #62532.

[2022-04-06 01:47] happychait opened #62545 "Cant "Move to" block widgets across widget areas"
### Quick summary

The `Move to` options on the WP-Admin widgets and Customizer widgets screens don't do anything!

### Steps to reproduce

1. Open the WP-Admin Widgets page from /wp-admin/widgets.php
2. Click on any widget, three dots, and select `Move to`

1. Open the Customizer → Widgets → any widget area → any existing widget.
2. Click on the three dots on any widget, and click on `Move to`

#

[2022-04-06 01:59] freelylovinglife opened #62546 "Hyperlink PoPup Enhancement"
### What

The  would like the ability to add a hyperlink that pops up instead of opening to a new page.   See the screenshot below.
<img width="626" alt="Screen Shot 2022-04-05 at 9 55 01 PM" src="https://user-images.githubusercontent.com/76487565/161880294-053936a0-62b1-4272-849c-b28c356378ce.png">

### Why

The user wants their site visitors to stay on the same page and view important informatio

[2022-04-06 02:00] happychait commented on #52241
Another one in 35049390-hc

Suggested Local by Flywheel for now.

[2022-04-06 02:37] jordesign commented on #61398
This is a CoBlocks block - can we please triage again on a self-hosted site with CoBlocks installed to see if the issue occurs in that instance?

If so - we'll need to open an issue in the CoBlocks repo
https://github.com/godaddy-wordpress/coblocks

[2022-04-06 02:53] jordesign commented on #61550
Noting there is an open issue in Gutenberg for this - we'll keep an eye on that.
https://github.com/WordPress/gutenberg/issues/38733

[2022-04-06 02:56] inaikem commented on #61473
@kimerlin81 👋 I'm moving this back into the "needs triage" queue to confirm that you tested and replicated on Simple, AT and self-hosted sites. I see you mention testing above but that aspect's not clear.

If the issue was replicated on a self-hosted instance we should move this to the Gutenberg repo as a core issue, thanks!

[2022-04-06 03:13] jordesign commented on #61744
I'm unable to recreate this on a self hosted installation - so it seems it is a WPCOM specific issue.

[2022-04-06 03:14] inaikem commented on #60360
Internal ping to help get this allocated to a team here: p1649214825571449-slack-C7YPUHBB2

[2022-04-06 03:26] inaikem commented on #61108
Transferring to the JP repo to see if it's possible for the team to prevent this behaviour for the form response CPT WP Admin listing page.

[2022-04-06 03:26] happychait commented on #62545
I tested a bit more with an Atomic site, and found the `Move to` doesn't work on the WP-Admin Widgets screen.

But in the customer, `Move to` menu option is unresponsive and does nothing, but the `Move to widget area` icon on the widget toolbar works as in this screenshot:
![Atomic Move to](https://user-images.githubusercontent.com/1519466/161889812-423d77c5-839f-4cbc-9dcf-62e1e41753f2.png)

[2022-04-06 03:42] lsl commented on #62540
@vinimotaa Is this about the blue line box shadow or the mouse cursor / clickability? both?

![Screenshot 2022-04-06 at 13-42-00 Plugins ‹ Site Title — WordPress com](https://user-images.githubusercontent.com/811776/161891439-cdc66bc9-20fd-40a3-ab26-54c98d5ad31b.png)

[2022-04-06 03:48] lsl commented on #62540
Potential fix in #62547 but I'm not sure if it's suitable as the button is still there / interactive.

Test with [calypso.live](https://calypso.live/?image=registry.a8c.com/calypso/app:commit-89ad88f6764392703f0725c6722e8186f0e63dd2).

[2022-04-06 04:48] p-jackson commented on #55081
I've got a fix for atomic: 884-gh-Automattic/wpcomsh
But I've also started a conversation about whether the fix should actually be for Jetpack sites more broadly p1HpG7-frH-p2

[2022-04-06 04:52] Greatdane commented on #61451
Moving this to the Jetpack repo as it is related to Jetpack's Activity Log.

[2022-04-06 04:59] Greatdane commented on #61398
Self-hosted Post Carousel block does not have author option;

<img width="2549" alt="Markup 2022-04-06 at 13 57 39" src="https://user-images.githubusercontent.com/5075840/161898957-2a0a0e08-4465-438b-bc5d-de1343b0805c.png">

Keeping in Calypso and added coblocks label.

[2022-04-06 05:16] Greatdane commented on #61473
I am unable to choose full width for any block in core with the example Karuna theme.

After [some reading](https://potatodie.nl/diffuse-write-ups/gutenberg-group-blocks-full-width-containers/#:~:text=We%20will%20also%20need%20theme%20support%20for%20full%2Dwidth%20alignment.%20Check%20if%20support%20is%20present%20by%20examining%20a%20Group%20block%3A), it looks like core only allows full width o

[2022-04-06 05:19] lsl commented on #62166
Moved this to the parent https://github.com/Automattic/wp-calypso/pull/62548 still needed access to the header component but `forwardRef` was able to clean that up a bit.

I didn't drop the useEffect, I think we need it to handle unregistering the scroll handler?

- [x] ~Code comment about what the `useEffect` is used for.~ - moved to parent
- [x] ~The `contentRef` prop is documented in the readme

[2022-04-06 05:28] lsl commented on #62268
Waiting on more feedback before nailing anything down but I think we've got a much clearer picture of what needs doing:

1. Move code maps to a db mapping table.
2. Create marketplace specific product addition commands that use the mapping table instead of expecting hard coded mapping.
3. Run the new commands via async jobs triggered by wccom hooks.

- [x] A list of what can be automated - see pdh

[2022-04-06 05:30] #62268 closed, assigned to lsl

[2022-04-06 05:35] lsl commented on #62541
When you click the plugins link the search term isn't cleared. Could be related or at least fix adjacent.

[2022-04-06 05:37] Greatdane commented on #62506
I am not sure if there is any public tag that states a domain is less than 60 days old so it cannot be transferred, although I assume it is relatively easy to extrapolate by using whois and looking at the `Creation Date`.

[2022-04-06 06:15] Greatdane commented on #59570
I am unable to replicate the issue, so it seems intermittent. @jartes are you able to replicate it consistently? If so, can you provide steps to do so?

[2022-04-06 06:40] jsnajdr commented on #60360
This is something that @sirbrillig will be interested in, as he implemented the mini-cart styles. I can't reproduce the bug and I'm not sure that the suspected padding is really a padding. When the list of items is too long to fit into the cart modal, this "padding" is exactly the place where a scrollbar would appear. So maybe it's a scrollbar glitch that appears only in some browsers on certain p

[2022-04-06 09:03] ivan-ottinger commented on #61605
## Spearhead
The underlying issue seems to be related to the dark-mode and is reported over here: https://github.com/Automattic/themes/issues/3410.

When the theme's dark-mode is used (e.g. when you have the dark-mode set in your OS preferences), the colors displayed in the block editor don't match with the colors/styles used in the front-end.

### Example

Front-end when the ☀️ **light-mode** is

[2022-04-06 09:35] #62113 closed, assigned to daledupreez

[2022-04-06 09:49] bogiii opened #62554 "Full importer: upgrade to the Pro plan instead of hardcoded Business"

[2022-04-06 09:52] ivan-ottinger commented on #61605
## Baker

In the Baker theme, the issue is likely related to the _Custom Colors_ set in _Customizer → Colours & Backgrounds_. When I change the _Background Color_ for instance:
![Markup on 2022-04-06 at 11:42:00](https://user-images.githubusercontent.com/25105483/161947233-c1fa48e4-a02f-4abf-bd64-5ee6fff3ae74.png)

it carries over to the blocks in the front-end:
![Markup on 2022-04-06 at 11:43:41]

[2022-04-06 10:26] KokkieH opened #62555 "Stewart: no spacing between text and right-aligned Youtube embed"
### Quick summary

When right-aligning a Youtube embed, text that wraps around it is completely against the video, making it appear as if the video is obscuring some of the text.

### Steps to reproduce

1. Add a Youtube embed block, and set it to right-aligned
2. Add some paragraph blocks below the video. To best observe the issue, set their alignment to Justified

### What you expected to happen

[2022-04-06 11:23] ivan-ottinger commented on #61605
### Blank Canvas (retired Seedlet-based theme)

@marcuswisecaesar

I tried to reproduce the issue according to the user's page that was mentioned in chat, but with no luck. With that said, when I reviewed the user's site, there was inconsistency in color settings:

When we look into _Customizer → Colours & Backgrounds_ on the user's site, here's what I see:
![Markup on 2022-04-06 at 12:56:58](http

[2022-04-06 11:58] ivan-ottinger commented on #61605
We changed it to #000001 and it works
The #000000 black is not a Tertiary color so I don't think it is this bug: https://github.com/Automattic/themes/issues/5585
Theme: Rockfield
It is an AT site

I was able to reproduce this issue.

Turns out this is not specific to the Rockfield theme only. There was a Gutenberg bug reported yesterday: https://github.com/WordPress/gutenberg/issues/40043.

Anothe

[2022-04-06 11:59] emmnyc85 commented on #61032
@allilevine - Can we re-engage on making copy changes to /partners? [I've made recommended edits here](https://docs.google.com/document/d/1zUykgSwi5R3qUh8wpZ4k1xuZU-yI0TGJnjG1TueW9Gc/edit) We let this slip through the cracks and want to prioritize getting this done over the next couple weeks please.

Once we have basic copy changes done, we can evaluate other changes to make. cc: @cpapazoglou

[2022-04-06 12:00] emmnyc85 commented on #61772
@allilevine - Thank you. I commented [here](https://github.com/Automattic/wp-calypso/issues/61032#issuecomment-1090186659)
Please let me know any questions for driving this forward. cc: @cpapazoglou

[2022-04-06 12:41] thehenrybyrd commented on #62363
@arunsathiya @Greatdane, https://github.com/wordpress-mobile/gutenberg-mobile/issues/ would be the ideal place for this :)
That repo is specifically for the implementation of Gutenberg in the mobile apps.

[2022-04-06 12:53] #62540 closed, assigned to lsl

[2022-04-06 13:09] gcsecsey opened #62558 "Checking out with multiple product only installs one of them"
The checkout page lets users exit it while keeping some items in the cart. Using this method, one can check out with multiple marketplace subscriptions. However, only the first plugin on the checkout page will get installed.

This is confusing, especially as the checkout page will get the redirect URL from the last checkout attempt. The Thank You page will show an endlessly loading button, as the

[2022-04-06 14:11] allilevine commented on #61772
@epeicher 👋 Was this issue completed by D77943-code ?

[2022-04-06 14:17] gcsecsey commented on #62302
The removal of the a11n checks are now deployed: r243237-wpcom

[2022-04-06 14:17] #62302 closed, assigned to gcsecsey

[2022-04-06 14:34] allilevine commented on #61032
@emmnyc85 Thanks for sharing the edits! My understanding was that we needed to redesign this page completely. I've put it on @vinimotaa's radar and I'm going to get a project thread ready for when we have designs.

I'd like to approach updating this flow holistically, working on this as the same time as https://github.com/Automattic/wp-calypso/issues/61617 so that the design, content, and function

[2022-04-06 14:37] obenland commented on #41508
Thank you!

[2022-04-06 14:37] #41508 closed

[2022-04-06 14:40] simison opened #62562 "[Bug]: Subscribe pattern broken by default"
### Quick summary

Subscribe pattern is broken in selector and when inserted on page

![Uploading image.png…]()

<img width="734" alt="image" src="https://user-images.githubusercontent.com/87168/162000461-5c86bea6-f9a6-4028-a106-5b90f3e3a417.png">

### Steps to reproduce

1. Open pattern sidebar
2. Explore
3. Subscribe category
4. Note one of the patterns
5. Insert on page

https://user-images.git

[2022-04-06 14:55] sirbrillig commented on #60360
@jsnajdr is right; what you're seeing is the scrollbar. It appears only when the list of items is too tall _and_ your OS settings display scrollbars (Mac OS defaults to hiding them). I'm not sure what the best UI fix would be for this... I can see if there's a way to hide the scrollbar even if the OS is set to display one, but that might be an accessibility problem. Maybe there's a way to style th

[2022-04-06 14:58] jamiepalatnik commented on #60623
Another request: 34616692-hc

[2022-04-06 15:11] epeicher commented on #61772
It was indeed so the new message should be in Production now. I am closing the task. Thanks for notifying!

[2022-04-06 15:12] Addison-Stavlo commented on #62384
closing with https://github.com/Automattic/wp-calypso/pull/62427 - will open a separate PR to follow up regarding these featured buttons.

[2022-04-06 15:12] #62384 closed, assigned to jeyip, vykes-mac

[2022-04-06 15:12] #61772 closed, assigned to epeicher

[2022-04-06 15:15] ivan-ottinger commented on #62562
There's a chance this issue is related to the recent PR: https://github.com/Automattic/jetpack/pull/23749 where the default Subscribe block was switched from _Compact_ to _Split_. As a result, the validation broke - as the older block version in patterns expects to include `"className":"is-style-compact"`.

I will check if this hypothesis is true with a couple of tests.

[2022-04-06 15:18] cpapazoglou commented on #61800
Deployed r243219-wpcom which activates the plugins through CLI and works for test users (me and @epeicher).

We still need to remove the test users checks.

[2022-04-06 15:26] Addison-Stavlo opened #62566 "Remove Featured Themes buttons from onboarding flow"
EDIT FROM @autumnfjeld : Note that this was **not** a "featured theme" button. [It was a blank canvas button, and something went wrong/bug that caused other themes to show up on the button.
](p1649256212441089/1649196665.454919-slack-CRNF6A9DX)

Currently in the onboarding design picker, themes marked as featured are added as separate buttons instead of the standard design previews. After some mor

[2022-04-06 15:58] sixhours commented on #58777
It looks like `wpcom_courses_course_complete` has been added to the list of Tracks events. I'll look into the Header/Footer component props.

[2022-04-06 16:02] sixhours commented on #58777
It looks like info about the Header/Footer component props have been added to the Videos UI README in #62467 so rather than duplicate that info in the FG I say we link to the README from the FG and call it good. I'll do that and close this out.

[2022-04-06 16:03] #58777 closed, assigned to sixhours

[2022-04-06 16:20] mashikag commented on #60210
`flickr` is not registered with `type` attribute set to `photo`. See the code [here](https://github.com/WordPress/gutenberg/blob/0c6b3b93badb9103736c09c544536593d440ce89/packages/block-library/src/embed/variations.js#L126) for reference.
Hence it is actually using the `preview.html`.

## In-Depth Issue Explanation
The resolution of the preview can differ for different aspect ratio's I believe. The

[2022-04-06 16:46] escapemanuele opened #62570 "Stepper: Fix preview page title in design step"
### Quick summary

The page header appears to be broken in design step preview page

![image](https://user-images.githubusercontent.com/52076348/162025552-8038ae7b-ce23-4586-9846-05397a46822f.png)

### Steps to reproduce

- Go to design step and switch to mobile

[2022-04-06 16:49] jp-imagines opened #62571 "List View: Blocks disappear when too many are shown"
### Quick summary

It seems that a recent change has made the List View pane open with all parent blocks "collapsed" by default. If you expand the hierarchy and the pane "fills up" (i.e. there are as many blocks showing as can be seen without scrolling), blocks lower down on the page disappear from the List View.

### Steps to reproduce

1. Navigate to any editor which supports the List View (Gute

[2022-04-06 17:14] simison commented on #62562
Gotcha, yeah you'll need a block transform if the default output has changed.

[2022-04-06 17:28] vinimotaa commented on #62309
got it @allilevine! is there any design requirement here? or the team is going to implement the modal we already designed?

[2022-04-06 17:30] vinimotaa commented on #62308
Hey @allilevine @emmnyc85 I requested a new illustration for this - in case we don't get it in time, let's just keep the one we have in place then we can replace it in the future.

[2022-04-06 18:01] vinimotaa commented on #62308
I designed this card to be more aligned with our overall new look&feel - I'll add the illustrations once that is ready!

<img width="848" alt="image" src="https://user-images.githubusercontent.com/97929097/162038849-ee4e3c12-6ce7-4dbb-bd76-dd69234e6492.png">

[Figma](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5?node-id=593:12805#176135037)

[2022-04-06 18:12] #62468 closed, assigned to andres-blanco

[2022-04-06 18:36] allilevine commented on #61032
@emmnyc85 Got it, thanks for clarifying! That sounds great to me.

[2022-04-06 19:02] andres-blanco commented on #60733
There seems to be no progress so I am closing this issue.

@hacchism if the user gets back to you please feel free to re-open 👍 .

[2022-04-06 19:02] #60733 closed, assigned to andres-blanco

[2022-04-06 19:04] markbiek commented on #14837
@blackjackkent I tried this a bunch of different ways and I can't reproduce it.

I'm also not sure where the view shown in the original post is. Is it possible things have changed and this isn't an issue anymore?

![image](https://user-images.githubusercontent.com/917632/162049397-87c18588-90c8-415c-8392-a42690a782ee.png)

[2022-04-06 19:13] #61748 closed, assigned to WBerredo

[2022-04-06 19:17] blackjackkent commented on #14837
Entirely possible - likely even, given that this was before we did a bunch of theme showcase updates a bit back. Feel free to close if you can't reproduce. :)

[2022-04-06 19:20] #14837 closed

[2022-04-06 19:28] Robertght commented on #62293
It appears to affect Varia themes, but I can't replicate with Blockbase/Blockbase child themes.

[2022-04-06 19:36] Robertght commented on #62327
Thank you for reporting this @sharonlaker19 !

It looks like there's a duplicate. I'm closing it in favor of this one: https://github.com/Automattic/wp-calypso/issues/62327

[2022-04-06 19:36] #62327 closed, assigned to nobody

[2022-04-06 20:18] ariel-maidana commented on #54434
A PDF upload appears as 0.00 B in the Media Library: 4926930-zd-woothemes

[2022-04-06 21:39] cometgrrl commented on #61861
This seems to be resolved. I do not see "Try & Customize" as an option for FSE themes.
<img width="285" alt="Screen Shot 2022-04-06 at 2 37 53 PM" src="https://user-images.githubusercontent.com/86427589/162076075-d749da83-6048-4975-84a0-f00d533219ed.png">

@lizswafford please re-open if you're able to reproduce this still.

[2022-04-06 21:39] #61861 closed, assigned to nobody

[2022-04-06 21:48] cometgrrl commented on #62098
This screen has already changed, not sure if we should update this or close it? @KirkwallDay  @Greatdane  What you think?

Here's what I see:
<img width="306" alt="Screen Shot 2022-04-06 at 2 46 24 PM" src="https://user-images.githubusercontent.com/86427589/162077360-632eb955-da39-4f6c-9cf3-694d226e3f76.png">

[2022-04-06 22:24] vinimotaa commented on #62539
@allilevine @Rolilink

Hey folx! What I discussed with @lsl was to remove the spacing in between the comas, but keeping the words seprate from each other:

Original design: shipping , seo , portfolio , chat , mailchimp
Oow it is: shipping,seo,portfolio,chat,mailchimp
How it should be: shipping, seo, portfolio, chat, mailchimp

I hope this makes sense! :)

[2022-04-06 23:24] lsl opened #62577 "Reduce brittleness in managed plugin handling"
While trying to get Sensei Pro in the list of managed plugins we uncovered a lot of complexity in the process p9o2xV-1Wj-p2#comment-5781

For the future I think we need to lay out some really clear rules about what constitutes a github release that atomic will accept and any plugin that wishes to be in the marketplace must follow those rules even if it means they have to create a new mirrored repo

[2022-04-06 23:46] sirbrillig commented on #62142
Working on this in https://github.com/Automattic/wp-calypso/pull/62576

[2022-04-07 01:08] Greatdane commented on #62363
@syhussaini Do you mind creating the issue again on https://github.com/wordpress-mobile/gutenberg-mobile/issues/ - Note, this is not an Automattic repo so lets say 'WordPress App' :)

[2022-04-07 01:36] autumnfjeld commented on #62194
@arthur791004

Do these instructions from D77653 apply to what is actually working at https://mc.a8c.com/verticals/images/
* Go to https://mc.a8c.com/verticals/images/
* Select any vertical
* Click Upload button to upload vertical images and you could see the image is added to the selected vertical
* Select any images to edit
* Click Edit to add tags and you could see the tags are added to specifi

[2022-04-07 02:00] donalirl opened #62578 "Marketplace: Include Documentation Throughout Purchase Flow"
### What

When purchasing a plugin in the marketplace, we could better highlight documentation for each plugin in the following places:

### Plugin Page in Calypso
Examples:
https://wordpress.com/plugins/woocommerce-product-vendors/
https://wordpress.com/plugins/woocommerce-pre-orders/
https://wordpress.com/plugins/wordpress-seo-premium/
https://wordpress.com/plugins/woothemes-sensei

A logical sp

[2022-04-07 02:01] lsl commented on #62539
Updated https://github.com/Automattic/wp-calypso/pull/62575

[2022-04-07 02:25] arthur791004 commented on #62194
@autumnfjeld I just found an issue that the uploaded images would be stored in my test sites. See the comment on D77819-code. But I have shipped the fixed version and also migrated the vertical list to the new one, you could try the instructions you mentioned again and check the result, thanks!

I'll add the short instructions to guide the user on how to use it and link to the FG (PCYsg-CME-p2) fo

[2022-04-07 02:26] arthur791004 commented on #62377
Shipped!

[2022-04-07 02:26] #62377 closed, assigned to arthur791004

[2022-04-07 02:34] kuropixel commented on #50687
Ran into this while doing team testing and was confused by the messaging of Jetpack connection failed. If possible, we should definitely change the wording/message.

[2022-04-07 03:27] nagpai commented on #53626
#35074234-hc

[2022-04-07 04:59] Greatdane commented on #26908
Definitely related, but unsure if fixing https://github.com/Automattic/wp-calypso/issues/44427 will also fix this. Keeping it open but we probably need to wait for https://github.com/Automattic/wp-calypso/issues/44427 to be fixed we can fully triage this.

[2022-04-07 05:00] Greatdane commented on #62546
Great idea for blog posts on the same site (like Wikipedia only does it for pages on the same site)

[2022-04-07 05:02] Greatdane commented on #62044
Closing in favor of https://github.com/Automattic/wp-calypso/issues/61490

[2022-04-07 05:02] #62044 closed, assigned to nobody

[2022-04-07 05:14] Greatdane commented on #62053
Confirmed on Simple and Atomic; https://d.pr/i/zBtFaZ

**However**, I don't think it is related to FSE. I invited an admin to an old site with an old theme, and still arrived in the post section.

[2022-04-07 05:27] Greatdane commented on #62058
This happens on self-hosted as well, so posted as a core Gutenberg issue here;
https://github.com/WordPress/gutenberg/issues/40125

Added to Cross-repo Watchlist

[2022-04-07 05:27] #62058 closed, assigned to nobody

[2022-04-07 05:45] Greatdane commented on #62126
This looks to work correctly for top level domains, but not Second-level domains (like `.co.uk`, `.co.jp` etc)

[2022-04-07 05:47] Greatdane commented on #62126
@Automattic/nomado may be interested in this

[2022-04-07 06:01] jordesign opened #62579 "Jetpack Server Settings showing on DotCom Atomic sites"
### Quick summary

On Atomic Sites on WordPress.com it is possible to view the Atomic hosting details under Settings > Jetpack

### Steps to reproduce

1. Open WordPress.com for an existing Atomic site (or create a new one)
2. Go to Settings > Jetpack and see the confirmation of Jetpack Connection
3. Click the chevron/arrow on the card - and see the server details.

### What you expected to happen

[2022-04-07 06:01] jordesign opened #62580 "Jetpack Server Settings showing on DotCom Atomic sites"
### Quick summary

On Atomic Sites on WordPress.com it is possible to view the Atomic hosting details under Settings > Jetpack

### Steps to reproduce

1. Open WordPress.com for an existing Atomic site (or create a new one)
2. Go to Settings > Jetpack and see the confirmation of Jetpack Connection
3. Click the chevron/arrow on the card - and see the server details.

### What you expected to happen

[2022-04-07 06:24] hacchism commented on #60733
@andres-blanco Sorry, I missed the pings. We haven't gotten a reply from the user. So for now, it's okay to close this issue. Thanks.

[2022-04-07 06:36] lsl commented on #62541
Not related to debouncing like I thought. Might be something in the header component.

[2022-04-07 06:43] devNigel commented on #58394
@delputnam AFAIK, PWPO is about setting domain primary without a paid plan. As seen in this notice, it should be possible to map a domain without a plan.

<img width="1141" alt="image" src="https://user-images.githubusercontent.com/33957570/162136308-dfe5d4fa-b864-4aeb-8cc1-6436555f0501.png">

`Domains purchased on a free site will get redirected to 1234testbing.wordpress.com`

[2022-04-07 06:58] devNigel commented on #58394
I reviewed it and looks like it is no longer possible to have new DWPO. Closing this.

[2022-04-07 06:58] #58394 closed, assigned to nobody

[2022-04-07 07:04] kriskorn commented on #62580
@Automattic/yamato-backup There was a this pull request - https://github.com/Automattic/wp-calypso/pull/61357 20 days ago and it seems it may have exposed the details on Atomic sites, which should be hidden. Could you please check, confirm, and prioritize hiding them? Thank you!

It is also related to this issue - https://github.com/Automattic/wp-calypso/issues/60820 in which you see the previous

[2022-04-07 07:18] taipeicoder opened #62582 "☂️ Improvements to Vertical question step"
## Description

Here we list the proposed improvements that can be done to the Vertical question step (`/stepper/vertical`).

### From https://github.com/Automattic/wp-calypso/pull/62365#issuecomment-1091118044:

- [x] Add a "Skip to My Home" button in the intent screen.
<img width="1083" alt="Screen Shot 2022-04-07 at 4 08 54 pm" src="https://user-images.githubusercontent.com/22446385/162131660-c

[2022-04-07 07:56] epeicher opened #62584 "Refactor marketplace installation and activation async job"
This task is a follow up to the comment in the diff D78308-code

That will require some refactoring because the return values by those functions mentioned in the comment are used later on to call different functions.

[2022-04-07 08:10] lsl commented on #62541
Probably good enough for now fix in https://github.com/Automattic/wp-calypso/pull/62583

[2022-04-07 08:16] edwinho89 opened #62585 "Marl Theme: Alignfull Group blocks creates additional right margin on mobile"
### Quick summary

When viewing sites on Marl theme on mobile, blocks with `alignfull` will create additional paddings to the right due to excessive `margin-right` value.

### Steps to reproduce

1. Visit Marl theme demo on mobile
2. On mobile, drag the screen to the left and right

### What you expected to happen

Everything fits perfectly within mobile width.

### What actually happened

Group b

[2022-04-07 08:16] edwinho89 opened #62705 "Marl Theme: Alignfull Group blocks creates additional right margin on mobile"
### Quick summary

When viewing sites on Marl theme on mobile, blocks with `alignfull` will create additional paddings to the right due to excessive `margin-right` value.

### Steps to reproduce

1. Visit Marl theme demo on mobile
2. On mobile, drag the screen to the left and right

### What you expected to happen

Everything fits perfectly within mobile width.

### What actually happened

Group b

[2022-04-07 08:18] lsl commented on #61883
Diff will need a rebase, but we can potentially get this done tomorrow if someone has time. https://github.com/Automattic/wp-calypso/issues/61882#issuecomment-1091255520

[2022-04-07 08:25] #61800 closed, assigned to epeicher

[2022-04-07 08:44] yansern commented on #60210
Hence it is actually using the preview.html.

That can't be true because if it was using `preview.html` it wouldn't use the image url from `thumbnail_url`.

![image](https://user-images.githubusercontent.com/1287077/162158662-64fe63bb-14ab-432d-a721-57373e404180.png)

[2022-04-07 08:46] ivan-ottinger commented on #62562
For completeness, adding findings that we discussed in p1649319850929269/1649256055.377839-slack-C02TCEHP3HA.

---

Regards the cause of the issue - at the end it looks like it could have been related to [the patch](https://github.com/Automattic/jetpack/pull/21273) that introduced the “Success message”.

Missing “Success message” is the reason why the block validation fails. As soon as I add the “

[2022-04-07 09:02] simison commented on #62578
@ianstewart @cpapazoglou this seems like a good small improvement for the Marketplace teams.

[2022-04-07 09:11] arthur791004 commented on #62194
I have already updated PCYsg-CME-p2 and here is the change for adding the short instructions. See D78355-code

[2022-04-07 09:12] Copons commented on #62329
If the product is a one-time payment, we should:

- Change the screen title from `Subscription Details` to `Product Details`.
- Change the `Stop Foobar subscription.` message to `Remove Foobar product.`.

[2022-04-07 09:17] arthur791004 opened #62587 "Add instructions to verticals images curator"
### Changes

See D78355-code

### Related

https://github.com/Automattic/wp-calypso/issues/62194

[2022-04-07 09:24] Robertght commented on #62327
Apologies! Copy-pasta error here.

https://github.com/Automattic/themes/issues/2412

[2022-04-07 10:06] kylemcph commented on #53626
#13817999-hc. "Privacy somersault" worked.

[2022-04-07 10:43] mmtr commented on #47659
Looks like right now Atomic sites don't support viewers on private sites according to https://wordpress.com/support/user-roles/#viewer:

See also https://github.com/Automattic/wp-calypso/issues/43919

So the workaround would be to prevent users of Atomic sites from inviting viewers. That doesn't solve the underlying issue but at least ensures that the created users can access the site.

[2022-04-07 10:46] dsas commented on #55570
(Screenshot of the screen from figma)
![image](https://user-images.githubusercontent.com/93301/162179921-c9ccc4e1-ce61-46cd-861a-809295696a80.png)

I think in the six+ months since the design was created, some things have changed around pricing plans and positioning of them:
 * Storage space has changed a couple of times recently and possibly may change further with a la carte add-ons
 * We don't

[2022-04-07 10:54] delputnam commented on #62126
Really good catch @jartes Thanks for the report. I'll create a task for Nomado to investigate this and we'll report back here.

[2022-04-07 10:56] yansern commented on #39956
A quick investigation shows that it's caused by a grid blowout. https://css-tricks.com/preventing-a-grid-blowout/

Swiper's resize observer updates the width of the slideshow wrapper when there is a change in the width, but the grid expands depending on the width of the content, which triggers the resize observer to expand further, repeating the vicious cycle until the width could not be expanded

[2022-04-07 11:14] yansern commented on #39956
Also reported in the Swiper library https://github.com/nolimits4web/swiper/issues/2914.

[2022-04-07 11:20] dragstor commented on #52241
Requested in 35077926-HC. Suggested https://localwp.com/

[2022-04-07 11:43] mashikag commented on #60210
### Thanks @yansern  !
You are actually spot on. Please discard my previous [comment](https://github.com/Automattic/wp-calypso/issues/60210#issuecomment-1090459679). Seeing the in-code definition of the flickr embed block variation I made an incorrect assumption about the value of the `type` prop. Thanks for correcting me @yansern! 🙇

The `type` prop is being set to `photo` in `edit.js` when we me

[2022-04-07 11:46] yansern commented on #39956
Fix is ready here. https://github.com/Automattic/jetpack/pull/23854

[2022-04-07 12:51] JulianBustamante opened #62592 "Marketplace: Trigger Yoast Premium license provision on plugin installation"
In order to get a license from the Yoast API, the async job `wpcom_job_marketplace_provision_yoast_plan_for_blog` needs to be called after the Yoast Premium plugin is activated/installed. Currently, the async job `wpj_wpcom_marketplace_atomic_site_provisioned` is added from the async job `wpcom-marketplace.php` but is not called from anywhere in the code.

[2022-04-07 14:02] mrfoxtalbot opened #62595 "The Pubilcize Social Previews nudge still mentions Business & Ecommerce plans"
### Quick summary

"Social Previews" is an advanced feature. The upgrade nudge still refers to "Business or Ecommerce". These two plans should be replaced with "Pro".

![Screen Shot on 2022-04-07 at 16:00:03](https://user-images.githubusercontent.com/4452464/162216939-667152c7-a62b-4dc1-af39-8274276ed8dc.png)

### Steps to reproduce

Open a post and check the "Social Preview" feature under the Pub

[2022-04-07 14:05] #62554 closed, assigned to bogiii

[2022-04-07 14:17] dpasque opened #62596 "Flaky E2E: Onboarding Import Can't Find Continue Button"
### Spec file

onboarding/start__importer.ts

### TeamCity ID

_No response_

### Logs

[code]

[2022-04-07 14:43] paulopmt1 commented on #61882
I can buy it from a11n user and it installs :)
Still investigating the problem while buying with a non a11n user:

![image](https://user-images.githubusercontent.com/1044309/162225790-89c3e27f-f659-4461-b953-85068c81c966.png)

[2022-04-07 14:46] escapemanuele opened #62597 "Stepper: Footer bar hides part of pages on mobile"
### What

While on mobile, the footer bar hides some part of a few pages.

Pages involved:
- intent
- store features
- blog flow -> blogger starting point

[2022-04-07 14:51] escapemanuele opened #62598 "Stepper: courses page maintains previous page scrolling on mobile"
### What

The video screen stays scrolled lower when going there from blog "next steps" (`bloggerStartingPoint`), instead of opening as "scrolled to top"

<img src="https://user-images.githubusercontent.com/52076348/162227476-abdb22e6-af86-46cc-964a-14151abc6dd5.gif" width="300" height="500">

[2022-04-07 15:01] mashikag commented on #60210
The following function seems a bit problematic to me.
![Screenshot 2022-04-07 at 16 54 32](https://user-images.githubusercontent.com/2019970/162228529-0bd98ba2-5b4b-4ed1-8ad2-f66e1c12c589.png)
It was introduced in [this PR](https://github.com/WordPress/gutenberg/pull/10958) by an outside Wordpress contributor.

I cannot grasp the context as to why the following would stand:

I also wonder why woul

[2022-04-07 15:01] #62166 closed, assigned to lsl

[2022-04-07 15:06] yansern commented on #60906
This is happening because in Slideshare's `scrollToSlide()` function, they call `element.scrollIntoView()`.

Unfortunately, there is a bug exploit where calling `scrollIntoView()` in child iframe can cause parent window to scroll to the element within iframe.

This scrolling into view happens when:
- when the page loads initially
- when the window is resized and their resize event listener calls `

[2022-04-07 15:10] yansern commented on #60906
One fix we can do, based on this PR https://github.com/Automattic/jetpack/pull/23853#issuecomment-1091858496, is to set `frameborder=0` in the shortcode iframe. This fixes scrolling on page load at least.

[2022-04-07 15:14] WBerredo opened #62599 "Retrieve feature checks for all sites in a single request"
Currently to retrieve the feature checks we have to do one request per site: https://public-api.wordpress.com/rest/v1.1/sites/{site_id}/features

We want to retrieve the feature checks for all sites of a user in a single request.

For more context: https://github.com/Automattic/wp-calypso/pull/62472

[2022-04-07 15:26] bogiii opened #62600 "Full importer: Upgrade plan: change wording from `See plans` to `See plan`"
We have recently changed our plan list to have only the Pro plan.
<img width="755" alt="Screenshot 2022-04-07 at 17 17 21" src="https://user-images.githubusercontent.com/1241413/162421696-5db7648c-0ae5-4056-a64c-bbb06d07d000.png">

[2022-04-07 15:43] yansern commented on #60210
Actually, we want to use `html` property, therefore skipping looking inside `getPhotoHtml` altogether.

Therefore, coming back to this line in `gutenberg/packages/block-library/src/embed/embed-preview.js.`:

[code]

So I would be curious to know why is flickr's type `photo`? How is this `type` assigned for embed block variations

Finding out how to set flickr's type to something else (`rich` as yo

[2022-04-07 15:50] #61522 closed, assigned to WBerredo

[2022-04-07 16:06] manRebollo commented on #55294
Hello! A customer found an occurrence of this problem, following up in 4929575-zd-woothemes
Original assessment in p1649337770668299-slack-C03TY6J1A

A few differences, though:
- The theme used is **Baskerville 2**.
- Misaligned **Play** and **Mute** buttons (they render partially, and lower than they should).

[2022-04-07 16:20] mashikag commented on #60210
I included the answer to this in this previous [comment](https://github.com/Automattic/wp-calypso/issues/60210#issuecomment-1091633871). I will re-write it below but with some additions.

## Why is flickr's type `photo`?

The type prop is being set to photo in edit.js when we merge the block's attributes with fetched preview properties (see [code](https://github.com/WordPress/gutenberg/blob/30c179

[2022-04-07 16:32] #61882 closed, assigned to lsl, paulopmt1

[2022-04-07 16:50] yansern commented on #60210
Ah, I understand you now! Sorry about any earlier misunderstanding on this part.

So this is coming from Flickr's API response.

In that case, feel free to introduce a new attribute, like `preferHtml: true`.

Since the attributes are merged in `getMergedAttributes()` together with the oEmbed response, the `EmbedPreview` should be able to access this attribute `preferHtml` attribute.

Add the neces

[2022-04-07 16:51] ai2n commented on #52347
Came across this in 35080932-hc

[2022-04-07 16:52] bogiii opened #62603 "Full importer: Upgrade plan: show proper currency code"

[2022-04-07 16:54] dragstor commented on #44091
I had this scenario:
1. User is logged in with any WordPress.com account
2. User opens an Account activation email
3. Email gets verified
4. The user is then redirected to their site dashboard (in this case, `https://wordpress.com/home?site=dragstortest.wordpress.com`), but since another user is logged in, a site selection screen is shown instantly

Here's a recording (mind the 00:13 when the "Ema

[2022-04-07 16:56] kerrynicl commented on #62571
Hi @jp-imagines  I've not been able to replicate this on any of my test sites. Would you mind sharing yours to investigate further?

[2022-04-07 17:44] #62541 closed, assigned to lsl

[2022-04-07 17:59] bogiii opened #62608 "Full importer: while WP Import Everything is in progress, the old migration screen shows an error"
<img width="494" alt="Screenshot 2022-04-07 at 20 00 53" src="https://user-images.githubusercontent.com/1241413/162267499-06c91106-4803-4bfe-b938-7836c93a8bb3.png">

[2022-04-07 18:09] yansern commented on #62562
Looking at this PR https://github.com/Automattic/jetpack/pull/21273/, this is happening because, [on the line](https://github.com/amustaque97/jetpack/blob/5710093f56c756dbfd15ca373bf71737984f876e/projects/plugins/jetpack/extensions/blocks/subscriptions/save.js#L135) that creates the `successMessage` shortcode attribute, it did not fallback to default success message coming from `defaultAttributes`

[2022-04-07 18:37] #61883 closed, assigned to lsl, paulopmt1

[2022-04-07 20:39] ai2n commented on #55814
Rant into this on 34886360-hc, and the above workaround did not work.

[2022-04-07 20:41] ckmccoy2 commented on #53451
Another request to be able to update payment descriptor here: https://woothemes.zendesk.com/agent/tickets/4929518

[2022-04-07 20:42] ckmccoy2 commented on #53451
Another request here: 4929518-zd

[2022-04-07 21:17] sirbrillig commented on #62510
It should be resolved, yes (at least as far as I'm aware). 👍

[2022-04-07 21:19] #62311 closed, assigned to paulopmt1

[2022-04-07 21:19] #62227 closed, assigned to lupus2k

[2022-04-07 21:38] cometgrrl commented on #62546
I wonder if the way the A8C glossary works on P2 could be re-used to support this?  See p9lV3a-2JO-p2.

[2022-04-07 21:56] #62539 closed, assigned to Rolilink

[2022-04-08 00:23] autumnfjeld commented on #61788
FYI @fushar :  This issue is still open, but it was moved to Done.

We have automation set up so that when you close an issue, it will automattically move to Done.  Thus the process is just to close the issue. 😄

Also nice to check off all the items in the AC (Acceptance Criteria) to make it clear that the items are done. 😄

[2022-04-08 01:31] worldomonation commented on #61936
Done!

[2022-04-08 01:31] #61936 closed, assigned to worldomonation

[2022-04-08 01:38] syhussaini commented on #60483
Another 35085939-hc interaction where the user did not like the site when AMP was active.
They loved the site after disabling the AMP.

The site was using an Astra theme.

[2022-04-08 01:55] 1dr0 commented on #57881
A new request for YouTube Shorts embed here: 34164221-hc

[2022-04-08 02:37] autumnfjeld opened #62613 "Add Site Vertical to Blog Report Card"
Per this suggestion from @nerdysandy

<img width="733" alt="image" src="https://user-images.githubusercontent.com/5665959/162352144-d9c5c9f6-50d3-45cd-af7b-0aeb4dd3809f.png">

NOTE: If we make this a new dev issue we need to add some nice guiding instructions on how to start, e.g. where Blog Report Card code lives, how site preferences work, etc.

## Acceptance Criteria
- [x] Blog Report card show

[2022-04-08 03:13] 1dr0 commented on #60483
Deactivated AMP fixed the WooCommerce's checkout page (Storefront theme).

35086502-hc

[2022-04-08 03:25] Greatdane commented on #62571
There looks to be something weird happening yea, but it is hard to reproduce, and moving up and down the list view (or closing some nested blocks) looks to bring back the 'missing' blocks'.

I managed to catch the footer disappearing on this video;

https://user-images.githubusercontent.com/5075840/162356738-0ee56ff4-5fd4-44e1-9f23-b5c6f1e1f0a1.mp4

[2022-04-08 03:31] Greatdane commented on #62571
I have now been able to reproduce on self-hosted as well. Moved this to Gutenberg core; https://github.com/WordPress/gutenberg/issues/40173

[2022-04-08 03:35] goblinartificer commented on #57680
and again in 33816111-hc

[2022-04-08 04:03] fushar commented on #61788
@autumnfjeld: Ah sorry, I thought moving it to Done will auto-close the issue 🤦

Checked all ACs and closing this issue!

[2022-04-08 04:03] #61788 closed, assigned to fushar

[2022-04-08 04:40] autumnfjeld commented on #61198
@arthur791004 & @fushar I think we can close this spike ticket now, and then I/we can create more specific issues for the project.  Do you agree?

[2022-04-08 05:03] autumnfjeld opened #62614 "Design Picker for Vertical Designs MVP [placeholder]"
# Description
This issue can be written up when Saygun and team finalize the layout of the Design Picker for our MVP release.
https://ganonp2.wordpress.com/2022/04/06/shipping-verticals-in-build-onboarding/

# Acceptance Criteria

# Dev Tasks

# Related

[2022-04-08 05:23] autumnfjeld commented on #61350
@roo2  Is this work still ongoing?  Or could we consider your post the outcome of the spike work: pbxlJb-10E-
p2

I do think we need to define some new github issues specifically about  the user's starer site. Hoping we are at a point where we can define more specific explorations.

[2022-04-08 05:41] arthur791004 commented on #62587
Shipped!

[2022-04-08 05:41] #62587 closed, assigned to arthur791004

[2022-04-08 05:54] KokkieH commented on #62510
I've followed up on the forums threads. Thanks @mrfoxtalbot

[2022-04-08 05:55] fushar commented on #61198
Yes, that makes sense!

[2022-04-08 06:01] Robertght commented on #62510
I can confirm this is working now as well as I'm seeing this before the checkout:

![image](https://user-images.githubusercontent.com/6737345/162374065-fde1fb0d-7b71-4a40-91eb-661a76fe33fa.png)

Closing this for now.

[2022-04-08 06:01] #62510 closed, assigned to nobody

[2022-04-08 07:46] arthur791004 opened #62615 "Remove deprecated vertical images tool"
## Changes

D78424-code

[2022-04-08 07:50] #62570 closed, assigned to escapemanuele

[2022-04-08 08:09] ivan-ottinger commented on #62562
Thanks for finding the root cause Yan!

👍🏼 I will create the PR.

[2022-04-08 08:39] vishnugopal commented on #62600
cc @saygunnyc What should be the new text here?

[2022-04-08 08:43] #47659 closed, assigned to mmtr, rcrdortiz

[2022-04-08 08:56] vishnugopal commented on #62238
Discussion:
* Have done a lot of research and figured out the history and plan behind stores (Flux deprecation, @wordpress/data move to the store, Calypso store).
* The idea is that we extract client-side data for imports from Calypso megastore and move it to @wordpress/data ministores.
* This refactoring will take a lot of time, so immediate next step is to just move the frameworks over (to Stepp

[2022-04-08 09:01] vishnugopal commented on #62240
Discussion:
* Using the sandbox to figure out what is being crawled by Wix importer.
* Am writing a P2 post which will describe this.
* Will create a new endpoint that can take in a URL and can crawl all child pages and import photos.
* Some classification of "interesting" photos will be necessary.

[2022-04-08 09:48] annbingle opened #62617 "Theme Argent - Gallery Block Images d"
### Quick summary

In the Projects page, when images are added in the content area using Gallery Block, the images are displayed on top of the portfolio page as well when published.

It is only observed with Theme Argent in AT site, non-AT site and Pro sites.

The issue are not observed using other themes.

### Steps to reproduce

1. Go to Appearance > Themes.  Activate Argent.
2. Go to Portfolio

[2022-04-08 09:58] anefzaoui opened #62618 "Media Gallery Shift+Click Selection in Reverse Order isn't working as expected"
### Quick summary

Expected is the keyword here, I am not sure if the current behavior is the intended behavior, but I'm seeing that people come to expect a different one.

When choosing images for a Tiled Galley Block, in the Media Gallery, When you shift+select a batch of media items from the end to the start, the order should remain End To Start, but that's not the case.
What happens is that if

[2022-04-08 10:37] mmtr opened #62619 "Premium Content management cards are visible for self-hosted Jetpack sites"
### Quick summary

The Premium Content block is not supported by self-hosted Jetpack sites, so we shouldn't display their management cards in Tools > Earn for those sites:

<img width="1127" alt="Screen Shot 2022-04-08 at 12 35 44" src="https://user-images.githubusercontent.com/1233880/162419570-d79c8dda-028e-48b5-b0b0-5f958c713be3.png">

### Steps to reproduce

1. Go to https://wordpress.com/earn

[2022-04-08 11:03] gcsecsey commented on #62437
@DavidRothstein I've tested the scenarios you've listed above, and I think the PR covers all cases. Nonetheless, please take a look at it just to be sure! 🙂

[2022-04-08 11:33] #61319 closed, assigned to mmtr

[2022-04-08 11:47] gcsecsey commented on #62038
I think we need a design decision to resolve this issue, as both the description and footer heights are dynamic.

Currently, there's a `margin-top: auto` rule on the additional info row. If we were to update that to `margin-bottom: auto`, it would fix the original scenario:
![image](https://user-images.githubusercontent.com/11555574/162427860-b3866740-b8e6-4d49-b3cb-8779d3517b3d.png)

However, it

[2022-04-08 12:04] alpavanoglu commented on #59566
I closed 4800099-zen. A new ticket needs to opened to inform the user when the issue is resolved.

[2022-04-08 12:10] zaerl opened #62622 "[Bug]: Medium exported images are not imported"
Medium export sometimes embeds some corrupted images files in the resulting `.zip` file. Confirmed that the images’ URLs are indeed corrupted in the exported .zip file.

See: `https://cdn-images-1.medium.com/fit/t/NaN/NaN/1*B4gAUyyY_0KhqRXPlJw8EQ.jpeg`

`/fit/t/NaN/NaN` is a "command" like `desat/multiply/red/60` that you can pass to the Medium CDN in order to generate thumbnails. That "command" r

[2022-04-08 12:17] mrfoxtalbot opened #62623 "Maintenance Mode plugins interfere with Jetpack Importer"
### Quick summary

I tried to import a WP.org site to WP.com using the "Full Import" feature but I encountered this error message:

![Screen Shot on 2022-04-08 at 14:04:24](https://user-images.githubusercontent.com/4452464/162432830-235dad24-1874-48c1-90f5-eb60fb2455ed.png)

The site I was trying to import was indeed built with WordPress, but it had "coming soon mode" active, using [WP Maintenance

[2022-04-08 12:34] vajrasar commented on #58457
@galakhyati can you check further on this?

@cpapazoglou apologies for missing pings on this. @galakhyati should be able to investigate on this.

[2022-04-08 12:35] zdenys commented on #60483
4932184-zd-woothemes with Astra theme

[2022-04-08 12:36] vajrasar commented on #60444
@gcsecsey If still required, @galakhyati should be able to help weight in here.

[2022-04-08 12:56] mashikag commented on #60210
PR fixing this issue was created in Wordpress/gutenberg: [https://github.com/WordPress/gutenberg/pull/40187](https://github.com/WordPress/gutenberg/pull/40187)

[2022-04-08 13:24] jp-imagines commented on #62571
Forgot to circle back here to note that I chatted with @kerrynicl about this yesterday. I was able to reproduce it again (along with another teammate) on Firefox and Chrome. I posted another video (outside the Site Editor) in WordPress/gutenberg#40173

Thanks @Greatdane!

[2022-04-08 14:25] saygunnyc commented on #62600
"Music Page | WordPress Pro"
Is that what you asked for?

[2022-04-08 15:23] ezebecke commented on #52100
Another report: 4929715-zd

Premium plan with "Byrne" theme.

[2022-04-08 15:47] ivan-ottinger commented on #62562
Unfortunately, using `success_message: successMessage || defaultAttributes.successMessage.default` on its own won't help because it is processed as a part of the block's `save()` function.

In other words, even though we have the correct `successMessage` available in `defaultAttributes.successMessage.default`, it is only passed to its shortcode attribute when we, for instance, add a new Subscribe

[2022-04-08 16:14] #59937 closed, assigned to dsas

[2022-04-08 16:28] edequalsawesome opened #62631 "New properties to add for CSS-Tidy"
### What

With FSE and Gutenberg, there's a number of properties being used in our themes and various blocks that can't be overridden on simple sites because they're not allowed in CSS-Tidy:

* gap
* aspect-ratio
* accent-color
* text-underline-offset
* hex alpha transparency for colors
* declaring css variables (they’re used in a lot of newer themes, so being able to override them directly would

[2022-04-08 17:06] dsas commented on #51357
This was resolved in November, see p7DVsv-dfi-p2

![image](https://user-images.githubusercontent.com/93301/162488842-ef12cf08-2d53-4f8c-bf2b-23dee69e60e3.png)

[2022-04-08 17:06] #51357 closed, assigned to nobody

[2022-04-08 17:49] paulopmt1 opened #62634 "Marketplace: Improve feedback screen after installing a plugin"
### Details

When we install a new plugin, the installation page redirects us to the "thank you" page, with the message "All ready to go!". This page is with the button `Manage plugin` on the loading state, and it finishes it after a few seconds (usually about 10 seconds).

## The problem 1

After installing [a paid plugin](https://wordpress.com/plugins/paid), we aren't in the "All ready to go" st

[2022-04-08 17:55] paulopmt1 commented on #62634
Hey @vinimotaa. I would appreciate your view here :)

[2022-04-08 20:26] edequalsawesome commented on #61464
Another report (with Polylang and Polylang Connect with Elementor) in 4930069-zen

[2022-04-08 20:37] allilevine opened #62638 "Marketplace: Find 20-30 most commonly used plugin tags"
Acceptance criteria:
- [x] Query for `hot_tags`: http://dd32.id.au/projects/wordpressorg-plugin-information-api-docs/
- [x] P2 20-30 of the top tags.

See p1649423763879979/1649360717.118219-slack-C029JEQRVRT
We can also check https://wordpress.org/plugins/browse/popular/

[2022-04-08 20:41] janmckell opened #62639 "Balasana: White screen after clicking to publish, update or preview"
### Quick summary

I'm seeing a white screen whenever I create a page, then try to Publish, Update, or Preview it. 4 out of 5 times, I got an error message when I tried to save the page. This is with the Balasana theme. I've tested on a Pro plan and I got the same behaviour. It pretty consistently spit out an error message for me, every time I 'Publish' or 'Update'.

### Steps to reproduce

Start

[2022-04-08 20:42] janmckell commented on #62639
One occurrence here: 4933092-ZD

[2022-04-08 20:47] JessBoctor commented on #57449
I had another report of this issue in #35059800-HC.

[2022-04-08 20:47] allilevine opened #62640 "Marketplace: Spotlight Sensei Pro with a JITM"
Acceptance criteria:
- [ ] Enable the Spotlight JITM we added, with this logic: if Sensei is installed, spotlight Sensei Pro (for all site types).

Remove a11n check.

See https://github.com/Automattic/wp-calypso/issues/61492

[2022-04-08 20:48] thekingsprojects commented on #62290
Another case here in this follow-up ticket: 4933076-zen

User's "My Words" page has a Blog Posts block on it that stopped showing posts (I inspected the page, and there's no HTML for the block at all). I checked for plugin and theme conflicts, and the posts still did not appear. Their current theme is Coutoire, but the posts don't appear when switching to Twenty Twenty-One either.

Strangely, I *c

[2022-04-08 20:59] allilevine opened #62641 "Marketplace: Update Partners landing page copy and form"
We need to update https://wordpress.com/partners/ to suit Marketplace needs and communication with 3rd-party plugin vendors. The code lives in WPCOM: `class-partners-page.php`

Current | Updated
------- | -------
Let’s partner to make the web a better place. | Let’s partner to build a marketplace for the WordPress.com community.
If you’ve got an idea, a product, or a business that can make the web

[2022-04-08 21:10] allilevine commented on #61032
@emmnyc85 @cpapazoglou I opened a separate issue for copy changes: https://github.com/Automattic/wp-calypso/issues/62641

[2022-04-08 21:17] allilevine commented on #62309
@vinimotaa The design need here is for a decision: is adding a dismissable notice here the right course? Is it too disruptive?

I'm not sure we can use the modal for a notice but @emmnyc85 let us know if that's what you had in mind.

[2022-04-08 21:18] sirbrillig commented on #60360
I think I have a solution: https://github.com/Automattic/wp-calypso/pull/62642

[2022-04-08 21:37] allilevine opened #62644 "Marketplace: Gray out incompatible plugins in search"
Some plugins are incompatible with WordPress.com (see https://wordpress.com/support/incompatible-plugins/). Currently we show a banner on the plugin details page, saying that it can't be installed. Let's gray out those plugins in search results so that the user isn't unpleasantly surprised when they get to the details page.

Slack thread: p1649419949583419-slack-C029JEQRVRT

Hardcoded plugins list

[2022-04-09 01:30] formosattic commented on #62461
Shared from internal convo with @Greatdane (p1649387812620979/1649032944.419269-slack-C01UW7SB411), here's a similar report, issue happened after changing theme: p2EDhh-1qk-p2

[2022-04-09 04:15] devNigel opened #62646 "Atomic, WooCommerce: error "Nonce verification fails" when leaving a product review and Jetpack is active"
### Quick summary

When Jetpack is connected and active, the review for the WooCommerce product fails to post. You will encounter `Nonce verification failed`.

### Steps to reproduce

1. On a WordPress.com Atomic site with WooCommerce products, try to post a review for a product.
2. You will encounter `Nonce verification failed`.
3. If you deactivate Jetpack plugin and try again, the review will g

[2022-04-09 07:36] zdenys commented on #53102
4932291-zd-woothemes

[2022-04-09 07:51] kylemcph commented on #57687
Another report in #4918022-zen.

[2022-04-09 08:05] jromales opened #62647 "The text in a Contact Form button isn't aligned when using Argent theme"
### Quick summary

When creating a Contact Form in a Simple site and using Argent theme, the Send or Submit button's text is not centered properly. I've reproduced the issue using my test site and using the same theme.

### Steps to reproduce

1. Create a site and use Argent theme
2. Create a page with a simple Contact Form with the default settings
3.  Preview the page

### What you expected to h

[2022-04-09 09:02] anefzaoui commented on #62618
`4934186-zn-woo` to follow up on once a PR with a fix is merged into trunk.

[2022-04-09 14:25] sajmes opened #62648 "Add heading block styles for individual heading tags in Global Styles"
### What

The Global Styles > Block > Heading > Typography settings currently do not allow users to set different styles/sizes for each heading tag on their site.

Currently, if a user has headings with different heading tags on their site and changes the font size for headings under Global Styles > Block > Heading > Typography, this changes the heading size for all tags.

Headings on test site pr

[2022-04-09 15:45] tvolpert commented on #62646
Another report here: 35102924-hc

[2022-04-09 16:56] kerrynicl commented on #62045
This does seem questionable. I was able to reproduce where changing the author there does change the author information on posts on the site.

[2022-04-10 01:37] arunsathiya commented on #51076
Staging requested on 35106803-hc to test a WooCommerce payments gateway conflict.

[2022-04-10 02:44] kuropixel opened #62649 "Legacy plan simple site showing as free, user's actions are limited"
### Quick summary

A user has a Premium plan on their site (4935731-zen) but the dashboard is acting like the site is a free plan. As a result, the user is unable to change themes or possibly other changes to their site. There doesn't seem to be any issues via Blog RC regarding sticker plans either.

### Steps to reproduce

1. Access the user's SA and confirm there is a paid legacy plan (Premium)

[2022-04-10 06:37] rw-ye commented on #57812
4935966-zd-woothemes
Workaround provided

[2022-04-10 07:22] pauljacobson opened #62650 "Baskerville 2: Dot separators in Separator Block not rendering in Chromium browsers"
### Quick summary

Our user reported that the dot separators in the Separator Block don't display on their site for them. they mentioned that they are using Chrome. They do see at least one other separator style, though. The user is using the Baskerville 2 theme.

If I test a different theme, such as Blank Canvas, the dot separator loads in Chrome. This appears to be an issue with the theme in Chr

[2022-04-10 09:24] renata-franco commented on #62618
The report came from this ticket: 4934186-zd-woothemes
Updated some of the things in the bug report! But everything looks great 😄

[2022-04-10 10:34] inaikem commented on #59434
Just a quick note to say both @vajrasar and I were _**not**_ able to replicate this on fresh Jurassic Ninja sites.

[2022-04-10 11:54] kylemcph commented on #53626
#4935503-zen. "Privacy somersault" worked.

[2022-04-10 19:26] KirkwallDay opened #62651 "Reblog Button doesn't show up on Latest Posts page."
### Quick summary

The reblog button will not show up on posts displayed on the latest posts page. This happens on Espied, Independent Publisher 2, and Twenty Twenty

### Steps to reproduce

1. Start a simple site (Reblog is not available on Atomic sites)
2. Make sure reblog is set in Tools > Marketing > Sharing Buttons
3. Make your homepage latest posts
4. View the homepage

### What you expected

[2022-04-10 20:30] aisajib commented on #2132
I just had a user reach out to us at 4937158-zd-woothemes notifying us that they don't see the "Me | Everyone" filter after upgrading to Pro (basically, after going atomic).

[2022-04-10 21:59] KirkwallDay commented on #44844
Had a strange situation happen here: 26976881-hc the subscription canceled, it was a one-time payment, but there's no way to re-add the subscriber without asking them to pay again. This feature would have solved the problem.

[2022-04-11 01:57] igotdes commented on #53626
Also reported in #4936779-zen (simple site). The workaround of setting to private and back to public helped.

[2022-04-11 02:27] arinoch commented on #57812
4936623-zd-woothemes

[2022-04-11 04:45] lsl commented on #62038
@vinimotaa / @SaxonF, I'm thinking sticky these to the bottom of each card and truncate long descriptions. Thoughts? Decisions?

[2022-04-11 05:57] arthur791004 opened #62653 "Make consistency of the vertical tags"
## Changes

* Get vertical tags API
  * D78021-code
* Apply vertical tags to the image curator
  * D78456-code

## Related

https://github.com/Automattic/wp-calypso/issues/62194

[2022-04-11 06:45] yansern commented on #62562
Yup, okay to close this. 👍

[2022-04-11 06:45] #62562 closed, assigned to ivan-ottinger

[2022-04-11 07:35] yashitamittal11 commented on #52100
Another report - #4935143-zen
Premium plan with FSE theme Russell

[2022-04-11 08:04] mashikag commented on #60210
I just found out that this issue is a duplicate of [the issue](https://github.com/WordPress/gutenberg/issues/11962). I will close this issue as a duplicate in favor of [the gutenberg issue](https://github.com/WordPress/gutenberg/issues/11962).

[2022-04-11 08:04] #60210 closed, assigned to mashikag

[2022-04-11 08:43] dragstor commented on #62646
Another one: 4937885-zd

[2022-04-11 08:51] bogiii commented on #62600
@saygunnyc, we are talking about the button text. Currently, the button says 'See plans', but we only have one plan (see screenshot above).

The question is, should we change to 'See plan', 'View plan details', or something else?

[2022-04-11 09:03] kylemcph commented on #53626
#34876815-hc. "Privacy somersault" worked.

[2022-04-11 09:04] dolgelukkig commented on #57812
24842553-hc
Provided workaround

[2022-04-11 09:22] emmnyc85 commented on #62641
Thanks, @allilevine! Can we please make one minor change below? (edited copy provided below)

Let’s partner to build a marketplace for the WordPress.com community.

If this doesn't look good, we can switch back to: Let’s partner to build a marketplace for WordPress.com.

cc: @vinimotaa

[2022-04-11 09:42] #62598 closed, assigned to arcangelini

[2022-04-11 10:00] ivan-ottinger opened #62657 "Email Templates: Use high-resolution Site Icons [all emails]"
The new email templates should have the Site icons in the high resolution - instead of current 32 x 32 px.

Originally reported in: pdtkmj-73-p2#comment-160

[2022-04-11 12:21] kylemcph opened #62661 "Add Recaptcha to contact form"
### What

I have seen multiple requests to add a reCaptcha to the form block.

### Why

Site managers are concerned about bots and automated submissions.

### How

The only current workaround is implementing a third-party plugin for this, meaning simple sites do not have the option. I've searched for open issues but haven't been able to find anything related to WP.com. Apologies in advance if this

[2022-04-11 12:37] rickmgithub opened #62662 "Large images become blurred when set to full width."
### Quick summary

A very large image is added 6000px width+

![SITE-CRH-Banniere-paysage-2-1 (1)](https://user-images.githubusercontent.com/13706336/162740190-96cb6ed8-a940-4484-9330-fb265ae9620e.png)

It's then added as an image block to a page.

The block is then set to full width and the image becomes blurred and loses all it's cripness
![Markup on 2022-04-11 at 13:34:49](https://user-images.g

[2022-04-11 13:02] #61774 closed, assigned to vykes-mac

[2022-04-11 13:02] #61648 closed, assigned to vykes-mac

[2022-04-11 13:03] #62462 closed, assigned to nobody

[2022-04-11 13:34] blackjackkent opened #62666 "Anchor.fm - Implement Anchor Onboarding in Stepper (UI only)"
The Anchor.fm partnership Onboarding process needs to be moved to the new stepper framework as part of the phase-out of Gutenboarding. For this issue, let's implement just the skeleton of the steps as a new flow, implementing UI and step navigation logic only.

[2022-04-11 13:39] aleone89 commented on #62646
Another report of this here hc-28467535

[2022-04-11 13:52] blackjackkent opened #62668 "Anchor.fm - Implement onboarding state management logic in Stepper framework"
As part of migrating Anchor.fm onboarding to the stepper framework, following on from https://github.com/Automattic/wp-calypso/issues/62666, implement any needed state management logic to carry all necessary site/user info from end to end in the flow.

[2022-04-11 14:28] blackjackkent commented on #61489
@allilevine Is this still being worked on by CrowdSignal? Trying to figure out what Serenity's role is here and don't want to step on anyone. 😄

[2022-04-11 14:47] blackjackkent opened #62669 "Anchor.fm - add new flow to stepper framework"
We need to add an Anchor.fm onboarding process as a new flow alongside site-setup in the Stepper framework, as part of our efforts to deprecate Gutenboarding. This should also include wrapping Anchor Stepper functionality in a feature flag if necessary.

[2022-04-11 14:50] blackjackkent opened #62670 "Anchor.fm - add submit logic to stepper flow."
Following on from https://github.com/Automattic/wp-calypso/issues/62666 and https://github.com/Automattic/wp-calypso/issues/62668, the new implementation of Anchor.fm onboarding in Stepper should finish by replicating the submit logic currently implemented in Gutenboarding, to trigger all necessary actions to start the user's site and import their episode information.

[2022-04-11 14:52] blackjackkent opened #62671 "WooCommerce Stepper Onboarding - Research submission process and create issues"
We need to acquire further information regarding what `/start` is currently doing when submitting the WooCommerce onboarding flow, so we can effectively replicate it in our Stepper implementation. Deliverable here is a set of new GitHub issues dividing up the work necessary to make the WC Stepper flow submittable.

[2022-04-11 14:54] #61818 closed, assigned to nobody

[2022-04-11 14:59] blackjackkent commented on #59321
Closed by D77686-code

[2022-04-11 14:59] #59321 closed, assigned to nobody

[2022-04-11 15:05] allilevine commented on #60429
@blackjackkent I realized this is another open WooCommerce installation flow issue. It happens consistently but has been difficult to debug.

[2022-04-11 15:30] ckmccoy2 opened #62673 "potential bug with byrne theme"
### Quick summary

With all plugins disabled, seeing the fatal error `Uncaught Error: Class 'WP_Theme_JSON_Resolver_Gutenberg' not found in /wordpress/themes/premium/blockbase-premium/inc/social-navigation.php:47` when Byrne theme is activated, but not when another default theme (like twenty twenty)

### Steps to reproduce

1. On the site [nigellaeatseverything.com](https://nigellaeatseverything.c

[2022-04-11 15:35] #61489 closed, assigned to nobody

[2022-04-11 15:39] andres-blanco opened #62674 "Seller experience: sell screen implies there are more plans than just Pro"
When going through the `/start` seller flow with a free plan we can arrive to this screen:
<img width="588" alt="image" src="https://user-images.githubusercontent.com/375980/162777021-b51ee5a8-8c48-4f2e-b4f1-f3d336644952.png">

#### What I expected
"Start simple" and "More power" to have the same subtitle: `Requires a Pro plan`

#### What I got
"Start simple" says `Requires a paid plan` and "More

[2022-04-11 16:11] allilevine commented on #62641
@emmnyc85 Thanks, updated in the description!

[2022-04-11 16:16] blackjackkent commented on #62305
Closed based on Nelson and Mark's work in https://github.com/Automattic/wp-calypso/pull/62385 and https://github.com/Automattic/wp-calypso/pull/62505. Further issues to follow with more detailed implementation.

[2022-04-11 16:16] #62305 closed, assigned to markbiek, nelsonec87

[2022-04-11 16:23] blackjackkent commented on #62470
Closing, as no one on the team has been able to reproduce; if we get further reports of this we can re-examine.

[2022-04-11 16:23] #62470 closed, assigned to nobody

[2022-04-11 16:46] gwensmithx commented on #20946
Just wanted to drop a note here that I ran into this scenario today. Site is on a Business Plan / Atomic and they're having issues with connecting the app. 35123753-hc / 4939292-zd for tracking purposes.

[2022-04-11 16:46] gwensmithx commented on #20946
Will send over the workaround Ed commented above!

[2022-04-11 18:14] mashikag opened #62679 "[E-mails] [Subscriber welcome] Revamp welcome email."
### Details

Subscriber welcome email should match the designs provided below.

Originally reported in: pdtkmj-73-p2#comment-160

### Related

D78623-code

[2022-04-11 19:11] #62674 closed, assigned to andres-blanco

[2022-04-11 21:15] saygunnyc commented on #62600
Thank you for clarifying @bogiii!
I think we're not changing the name of the plans page, and soon we will have add ons with plans. I think it's fine to keep it as is. "See Plans"

<img width="1192" alt="Screen Shot 2022-04-11 at 5 14 27 PM" src="https://user-images.githubusercontent.com/78876323/162834600-1c7dcd75-c801-4b69-bb09-4c8e053bdf91.png">

[2022-04-11 21:20] allilevine commented on #62495
@vinimotaa to determine editor's pick plugins.

[2022-04-11 21:57] cpapazoglou commented on #62644
I don't agree with hiding them. Not finding the plugin you want will decrease the trust users have in our marketplace. Also, without  educating the user, they will eventually  download it from .org and just upload it.

[2022-04-11 22:46] happychait commented on #55267
Another request in 35127760-hc

[2022-04-11 22:57] autumnfjeld commented on #62194
I reworded this to "users can upload any image from their local computer".

Users should only upload copyright free, but we won't build any blocking mechanism.  Maybe we can add a comment in the instructions "Be sure your image is copyright free". Low priority.

[2022-04-12 00:45] autumnfjeld opened #62682 "☂️ Team Lego Feature Issue Template"
# Description
Part of XXXXX project. (If applicable.)

Project Thread: xxxx

# Acceptance Criteria
- [ ] Feature should do this thing
- [ ] Approved by designer

# Dev Tasks
- [ ]  task/PR 1
- [ ]  task/PR 2

# Testing
* go to site
* instruction 1

# Related

[2022-04-12 01:38] autumnfjeld opened #62683 "☂️ Recipe Tool"
# Description

Part of Verticals in Onboarding bxlJb-p2
See PT: Verticalized pattern assembly to create page layouts: pbxlJb-XO-p2

Following the initial work in  #61788, we are ready to make this a user friendly tool with significant improvement in functionality. See MC tool  /verticals/#/recipes/

<img width="797" alt="image" src="https://user-images.githubusercontent.com/1525580/163349720-c9145

[2022-04-12 02:25] 1dr0 commented on #57881
One more here: 34368174-hc

[2022-04-12 02:42] lsl commented on #62644
I tend to agree with that, @vinimotaa / @SaxonF could we get a design for how an incompatible plugin should be rendered?

I'm guessing like normal in search results but when you click through to install it the install / price CTA is greyed out.

[2022-04-12 03:04] #26908 closed

[2022-04-12 03:26] p-jackson commented on #44427
Work-in-progress that fixes the underlying issue: D78584-code

Re-attaching existing media to posts will need to be done as a follow-up step. We can't know for sure that every image that's currently unattached is that way just because of this bug. It could also be because the file was originally uploaded via the media library (those images aren't attached to any post). So I don't think it's someth

[2022-04-12 03:42] lsl commented on #62638
https://dotcommarketplacep2.wordpress.com/2022/04/11/marketplace-plugin-categories/#comment-1202

[2022-04-12 03:43] #62638 closed, assigned to nobody

[2022-04-12 06:10] syhussaini commented on #52100
Here is another case where the user asks for Cookies and a Consent Banner #4940939-zen.

I guess we can build something into all the FSE based themes that should allow the users to activate/deactivate the cookies and consent banner with a toggle button in theme settings.

_I am just thinking out loud_

[2022-04-12 06:24] zdenys commented on #53102
4935151-zd-woothemes

[2022-04-12 06:31] arthur791004 commented on #62615
Close as it has shipped!

[2022-04-12 06:31] #62615 closed, assigned to arthur791004

[2022-04-12 07:04] lsl commented on #62264
WIP in https://github.com/Automattic/wp-calypso/pull/62685. Using category list cleaned up from p2 / https://github.com/Automattic/wp-calypso/issues/62638#issuecomment-1095940991

[2022-04-12 07:17] pauljacobson opened #62686 "Blocks: Option to display posts based on date similar to option to display posts based on category or tag"
### What

There is a gap in our blocks' functionality when it comes to displaying a list of posts based on publication date.

The analogy that blocks such as the [Blog Posts Block](https://wordpress.com/en/support/wordpress-editor/blocks/blog-posts-block/) and [Query Loop Block](https://wordpress.com/en/support/full-site-editing/theme-blocks/query-loop-block/) currently support is the option to di

[2022-04-12 07:19] lsl commented on #62264
Note there will be a few PR's for this one, https://github.com/Automattic/wp-calypso/pull/62685#issuecomment-1096217584

Breaking it down like this:
- Header + dropdown selector - https://github.com/Automattic/wp-calypso/pull/62685
- Category cards selector - TBD, partially implemented in https://github.com/Automattic/wp-calypso/pull/62685 but likely going to move that into a new PR
- Searching us

[2022-04-12 07:24] zdenys commented on #62686
It seems that the parameters (arguments from REST API) that would allow that functionality are `before` and `after` listed in this report:

- https://github.com/WordPress/gutenberg/issues/24934

They haven't been implemented. Commenting on the above core issue would help to raise awareness I hope.

[2022-04-12 07:24] ivan-ottinger opened #62687 "Email Templates: Update "New Subscriber" email template"
The "New Subscriber / Follower" email should match the design.

Originally reported in: pdtkmj-73-p2#comment-160

TODO:
- [x] The email title should be “New Subscriber!”
- [x] The email content should match the copy from design for WP.com user and for non-WP.com user
- [x] The opt-out message should match design
- [x] The "Manage" button should be labeled as "View site" and should lead to the subs

[2022-04-12 07:33] arthur791004 commented on #62582
I found that the new stepper framework seems to have to send an API request to save the selected value directly. However, it might be a little weird if the user doesn't complete the flow. For example, if the user picks the vertical, go to the next step a, back to the vertical step, and then close the page. IMO, we have to keep the site vertical null as they don't finish the site setup flow. Does i

[2022-04-12 07:45] #62428 closed, assigned to nobody

[2022-04-12 07:56] formosattic commented on #52100
The resolution seems to require more discussion involving different parties, see internal thread: pc4f5j-1F8-p2
I've also flagged this for the DotCom janitors at pc4f5j-1F8-p2#comment-2293

[2022-04-12 08:08] formosattic commented on #62189
The Spoiler block is still an internal block, and not available to the public in Calypso.

I see other reports for the Spoiler block on https://github.com/Automattic/p2 so will transfer this report there.

[2022-04-12 08:08] #61682 closed, assigned to nobody

[2022-04-12 08:24] formosattic commented on #62646
I was able to reproduce this on an atomic site.

Also tested on self-hosted with WooCommerce and Jetpack connected, but it worked fine there.

[2022-04-12 08:30] escapemanuele opened #62688 "Stepper: Throw error when accessing without siteSlug or siteId"
Following [this discussion](p1649730525734919-slack-C02T4NVL4JJ),
we can see that right now in the Stepper you can access the pages without a `siteSlug` or `siteId`, but that results in broken pages (like in the design setup).

That generates some confusion, as it is difficult for someone to tell what's the root of the problem.
In `/start` it is [immediately thrown an error](https://github.com/Aut

[2022-04-12 08:40] zaerl commented on #62623
The plugin is quite popular in the list of [maintenance plugins](https://wordpress.org/plugins/search/maintenance/) but not the only popular one. Of course, a custom handling can be made at BE level.

[2022-04-12 08:55] kettultim commented on #62064
I encountered this on `Blank Canvas` - images are overlapping as there's no viable breakpoint (the editor width is narrower than the frontend width. The frontend breakpoints degrade perfectly - this is an editor-only issue.

Example: https://d.pr/v/vflbfK

4925694-zd-woothemes

[2022-04-12 09:13] escapemanuele opened #62690 "Help Center: Design TODOs"
Here's a list of improvements for the Help Center:

Check the task if it has been implemented, or insert [👀  username] if you're working on that.

- [x] [👀  [escapemanuele](https://github.com/Automattic/wp-calypso/pull/62699)] Width of the container: How is the size determined? I see it’s relative to screen size now. I was thinking it could be 410px, like the width of the notification side panel.

[2022-04-12 09:15] formosattic commented on #62289
Updated the initial post to mention that issues also happens with:

* atomic with Gutenberg active
* self-hosted with Gutenberg active

Issue reported in the Gutenberg repo: https://github.com/WordPress/gutenberg/issues/40261

[2022-04-12 09:17] arthur791004 commented on #62197
This is on hold as it might be better to reply on the own information of the assets rather than additional data. See pbxlJb-1lY-p2#comment-1396

[2022-04-12 09:23] taipeicoder opened #62691 "Add a default value to the vertical question screen if site has already set a vertical"
## Description

This PR will fetch the site vertical from the user's site preferences and set it as the default value for the vertical question input. Most of the time, the site vertical will be empty, since the user has yet to set a vertical. However, if a user goes to the next onboarding step and comes back, it would be good to show their previous selected vertical.

## Acceptance Criteria
In ca

[2022-04-12 09:27] formosattic opened #62692 "[P2] Spoiler block: Copy/pasting two back-to-back spoiler blocks causes script to hang"
Issue initially reported ([here](5113-gh-Automattic/p2)) by @dpasque, but had to refile as the report was transferred to a private repo and couldn't be moved back to a public one.

### Quick summary

If you have two spoiler blocks back to back, select them both and copy in a published P2 post, and then try to paste elsewhere in a P2 editor, your webpage with freeze up with an unresponsive script!

[2022-04-12 09:34] #62603 closed, assigned to bogiii

[2022-04-12 09:34] #62608 closed, assigned to bogiii

[2022-04-12 09:41] #62600 closed, assigned to bogiii

[2022-04-12 09:49] formosattic commented on #62692
I'm on Firefox, and can't reproduce the issue.

I tested with the p2 at pciE2j-QC-p2 from the initial report and on a test page of my own:

https://user-images.githubusercontent.com/15944096/162931728-301e6cb2-3bf8-4cff-be09-5565fb95f8c8.mov

@dpasque, @Automattic/dotcom-triage-pa-group: could you give this another test in Chrome, and close if the issue no longer hapens. Thanks!

[2022-04-12 10:46] cintacks opened #62696 "Post Content Block is not looping correctly within Query Loop Block (content is duplicated) on frontend"
### Quick summary

Played into 4939190-zd-woothemes - `Post Content` Block is displaying the same content for each loop inside Query Loop block. No other blocks seem to be affected.

Only affects frontend. Preview within editor is correct.

### Steps to reproduce

[Livro theme]

1. Create Query Loop Block
2. Add Post Content block to Query Loop
3. Have at least 2 posts to loop through
4. Changes a

[2022-04-12 13:04] markbiek commented on #54291
@andres-blanco I'm not sure I understand the issue here. Do you have a screenshot or recording or anything?

[2022-04-12 13:04] #62511 closed, assigned to escapemanuele

[2022-04-12 13:10] dpasque commented on #62692
@formosattic I just re-tested in Chrome, and the script hang is still occurring! 😱

You are doing the workflow exactly how I am. 👍

Copying in my specific Chrome version in case it's helpful: Version 100.0.4896.75 (Official Build) (x86_64)

[2022-04-12 13:20] arcangelini opened #62700 "Stepper flow: designStep from sell flow categories"
### Quick summary

The current version of `/stepper` allows the design picker to change categories from the SELL flow. However, the `/start` version limits the category to `store` and does not allow it to be changed. We should probably make this match.

| /start | /stepper |
| - | - |
| <img width="1677" alt="Markup 2022-04-12 at 10 44 54" src="https://user-images.githubusercontent.com/33258733/16

[2022-04-12 13:21] andres-blanco commented on #54291
Things have changed since Jul 5, 2021. Thankfully, the issue is no longer with us.

[2022-04-12 13:21] #54291 closed, assigned to markbiek

[2022-04-12 13:23] markbiek opened #62701 "Tooling: Improved Anchor.fm developer documentation"
### Overview

While there is some information about the Anchor.fm _integration_, there isn't much developer-focused documentation.

We should write a Field Guide page which outlines the architecture of the integration, where all of the code lives, pitfalls of development, etc.

[2022-04-12 13:27] sixhours commented on #62701
Some things to add:

* How to find the Anchor podcast ID
* How to find a podcast episode ID
* How to access the Anchor flow, either directly via URI or from calls to action on the Anchor side.

[2022-04-12 13:52] alshakero opened #62702 "Task: Help center entry point on Mobile"
### Details

This task is a bit convoluted. We have two cases for Help center entry point. Mobile and Desktop.

### Desktop
This one is easy and already done using GB APIs [here](https://github.com/Automattic/wp-calypso/blob/add/new-mobile-menu-bar/apps/editing-toolkit/editing-toolkit-plugin/help-center/src/help-center.js#L60-L62).

### Mobile
On mobile, we'll have to avoid registering the entry p

[2022-04-12 14:09] CodeAllNightNDay commented on #57198
+1 I feel it would be much less complicated for the user to use a revision after they've already made a lot of changes to an FSE template.

[2022-04-12 14:38] rakshitwesley opened #62703 "Interface language changes while selecting a new page layout."
### Quick summary

Assuming the interface language is set to English and the site language is set to Arabic. Now, when we visit the dashboard everything appears in English, however, when we navigate to Pages > Add new, on this page the content is displayed in Arabic instead of English.
<img width="1643" alt="Screenshot on 2022-04-12 at 18-27-16" src="https://user-images.githubusercontent.com/95758

[2022-04-12 15:00] vinimotaa commented on #62038
hey @lsl I think is a good solution for the time being! At some point we'll slightly update these card designs with all the edge cases we're identifying.

[2022-04-12 15:01] vinimotaa commented on #62495
[Started a conversation here!](https://a8c.slack.com/archives/C029JEQRVRT/p1649718103638669)

[2022-04-12 17:40] muffinpeace opened #62707 "[Bug]: Annual Site Stats Insights Reporting Wrong Posts Number"
### Quick summary

_No response_

### Steps to reproduce

1. Check zen-4929036
2. Go to https://wordpress.com/stats/day/annualstats/ for the specific site
3. Notice the difference and small number shown there.

### What you expected to happen

Show an accurate number of posts published each year.

### What actually happened

Annual site stats are showing a very small number of published posts per

[2022-04-12 17:50] andres-blanco commented on #62671
P2 detailing the process. paYKcK-1xp-p2

[2022-04-12 18:09] vajrasar commented on #62696
Hey @kettultim thanks for the detailed report. I tried the steps on my end, but could not replicate the issue.

<img width="916" alt="Screen Shot 2022-04-12 at 23 38 42" src="https://user-images.githubusercontent.com/2210243/163026262-c9240f0e-40a7-4bac-a265-8fa3e8f92b75.png">

Did you try to replicate the issue on a new simple site? If yes, please share any contextual settings of the Query block

[2022-04-12 18:16] allilevine commented on #62644
Thanks @cpapazoglou @lsl. Looping in @galakhyati and @ianstewart since they raised this need.

@vinimotaa Graying out the search result seems like a good middle ground to me. We still show the plugin and a link to why.

[2022-04-12 18:18] andres-blanco commented on #62671
Here is a list of potential issues to break this up.
* Replicate a Progress bar component in the stepper: `client/signup/steps/woocommerce-install/transfer/progress.tsx`
* Replicate an Error component in the stepper: `client/signup/steps/woocommerce-install/transfer/error.tsx`
* Audit in detail all track events triggered. Multiple of these where seen in the code for different purpouses (redirects,

[2022-04-12 18:31] #62437 closed, assigned to gcsecsey

[2022-04-12 18:39] vajrasar commented on #62673
Hi @ckmccoy2 thanks for the report.

I tried to follow the steps shared on my test AT site with only Akismet and JP active with the Byrne theme and I do not see any error.

Since the error is related to Social Navigation, I also added a Social Icons menu to the site, and still, I do not see any error message.

If you can replicate the issue again please feel free to reopen this.

[2022-04-12 18:39] #62673 closed, assigned to nobody

[2022-04-12 18:50] andres-blanco opened #62710 "Stepper: Add progress bar to processing step"
Add a progress bar to processing step. This will be used for the WooCommerce migration.

For reference this is the progress bar component used in the `/start` WooCommerce flow: `client/signup/steps/woocommerce-install/transfer/progress.tsx`

Related to https://github.com/Automattic/wp-calypso/issues/62671

[2022-04-12 18:52] andres-blanco opened #62712 "Stepper: Create an Error component for the WooCommerce flow"
On `/start` there's a custom Error component: https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/woocommerce-install/transfer/error.tsx.

We should see if there's already something like this that can be adapted to on the Stepper or if a new one should be made.

Related: https://github.com/Automattic/wp-calypso/issues/62671

[2022-04-12 18:54] lupus2k commented on #62496
What do you think if we add this spinner not just when clicking popular search but when searching anything and hit enter (or click search)