[2022-02-15 07:23] formosattic commented on #60617
Thanks @retnonindya for sharing workaround.

Transferring to Theme repo.

More details in internal convo: p1643358912391089/1643357420.150959-slack-C029FM1EH

[2022-02-15 07:27] monicamacovei commented on #60469
Another case 4758039-zen

[2022-02-15 07:29] lsl commented on #60443
There was some existing/dead? code I was able to leverage to get this to where we want pretty quickly. https://github.com/Automattic/wp-calypso/pull/61102

- [x] There is a browse all link to the top featured/premium section that will link off to a page showing all premium plugins.
- [x] The premium plugins page will utilise the existing search view as shown below

Notes:
- The browse all link won

[2022-02-15 07:47] #55599 closed, assigned to fushar

[2022-02-15 07:48] csabarakasz opened #61103 "Contact Form does not render on FSE when home page is set to last blog post."
### Quick summary

User placed a Contact Form on the Index Template page with FSE. In Editor, the contact form renders as expected. On the live site, it only shows short code.

The user did not set the home page correctly. It was set to last blogs posts, which they did not have any. The site still showed the Index Template but the contact form did not render. When I created a new template with the

[2022-02-15 07:54] formosattic commented on #60953
Thanks @zdenys!

I confirm the same is happening with my test site.

![image1](https://user-images.githubusercontent.com/15944096/154015921-a3b77d82-f59a-47e8-b33a-b0827c51ae6f.png)

![image2](https://user-images.githubusercontent.com/15944096/154015978-6d94e2cc-abda-453d-b189-18b038e4e584.png)

[2022-02-15 07:58] cpapazoglou commented on #60923
Initially I thought that we will just show the spotlight to everyone. After thinking it a little bit more, I think we should be showing the spotlight plugin only for users who don't have it installed. Perhaps, we can have a list of spotlight plugins that will pop up a promoted plugin that is not installed. How does this sound @SaxonF ?

[2022-02-15 08:02] arthur791004 commented on #61030
Close it as it has been shipped.

[2022-02-15 08:02] #61030 closed, assigned to p-jackson

[2022-02-15 08:15] fushar commented on #52289
@autumnfjeld: we have shipped https://github.com/Automattic/wp-calypso/pull/52388.

Re: this AC

Is this still relevant? I don't have context on this, could you share the Project Thread? cc: @StefanNieuwenhuis @razvanpapadopol

[2022-02-15 08:17] devNigel opened #61104 "File Block: Opening editor with File block causes its file ID to get updated automatically"
### Quick summary

When you open a post or a page that contains a File block, it causes its file ID to get updated automatically. This triggers Update button to get activated automatically without the user making any edits on the page.

If the post or page does not contain File block, that does not happen. I was able to reproduce this behavior on both Simple and Atomic site.

### Steps to reproduc

[2022-02-15 08:37] #59985 closed, assigned to arthur791004

[2022-02-15 09:00] #58942 closed, assigned to epeicher

[2022-02-15 09:12] formosattic commented on #60844
Thanks for the detailed steps @carinapilar.

Confirming this is reproducible. Transferring to Theme repo.

https://user-images.githubusercontent.com/15944096/154029870-f42e0e4e-5ad7-40dd-89d4-c87881c77609.mov

[2022-02-15 09:24] taipeicoder commented on #54483
This seems to be taken care of. Closing :-)

[2022-02-15 09:24] #54483 closed, assigned to arthur791004

[2022-02-15 09:28] formosattic commented on #60435
I can confirm that the issue still happens on an atomic site.

[2022-02-15 09:37] formosattic commented on #60357
This is fixed now. I checked around, and not seeing any options to add an email if the site is on a Free plan.

https://user-images.githubusercontent.com/15944096/154034445-32075634-6c63-4e19-9455-ce0b422ee886.mov

[2022-02-15 09:37] #60357 closed, assigned to nobody

[2022-02-15 09:54] formosattic commented on #60878
The trash icon doesn't show now, though still appears in the code if I read it correctly.

![image1](https://user-images.githubusercontent.com/15944096/154037349-04ed2d12-e5b8-446d-a86e-c25aa97c55c8.png)

[2022-02-15 10:01] cpapazoglou commented on #58296
We are following the WordPress.org pattern here https://wordpress.org/plugins/woocommerce/

[2022-02-15 10:02] cpapazoglou commented on #60553
After bringing back the free featured, please make sure popular plugins are filtered with

https://github.com/Automattic/wp-calypso/blob/5de2130570dc8df22ee4c653b8ec25550b01eacf/client/my-sites/plugins/plugins-browser/index.jsx#L710

[2022-02-15 10:10] kimerlin81 commented on #57881
And another one:  4776540-zd-woothemes

[2022-02-15 10:10] razvanpapadopol commented on #52289
Hi @fushar and thanks for pushing this over the finish line 🏁 👏🏼
There was a PT (pbAok1-27t-p2) and also spec (pbAok1-28z-p2) for this project but they weren't updated in a long time.
Probably the FG documentation is more important at this point: PCYsg-DdX-p2

[2022-02-15 10:12] edwinho89 commented on #49015
Another request in 4707915-zd-woothemes

[2022-02-15 10:15] vindl opened #61107 "FSE: clean up unused code after the rollout"
The purpose of this issue is to track some placeholder code that we can clean up after FSE is fully rolled out:

- [x] Remove `is_core_fse_active` checks and replace usages with `is_fse_theme`. Follow up to this PR: https://github.com/Automattic/wp-calypso/pull/61040 - (WPCOM PR for removal: D83298-code)
- [x] Remove the `fse-eligible` sticker toggle in the Blog RC. (WPCOM PR for removal: D83050-c

[2022-02-15 10:31] formosattic commented on #60280
I wasn't able to reproduce on my test site, but can still see the issue on the user's site, so whoever will take a closer a look, I'd suggest checking the user's site in this ticket 4699873-zd-woothemes

As I understand, by "correct position", it's meant that the child pages aren't nested under the correct parent page. This was clearer when I checked on the user's site. The visual styling also loo

[2022-02-15 10:34] carinapilar commented on #39956
Helped fix some pages with this issue on 4760957-zd-woothemes - user complained that the content in the editor was gone, while it was just not showing. It also breaks the List View sometimes, so it's hard to navigate and delete the blocks.

[2022-02-15 10:35] tyxla commented on #61063
Thanks everyone for the reports, and for reverting the offending commit. I'll make sure to test thoroughly with comments 👍

[2022-02-15 10:37] mrfoxtalbot opened #61108 "Remove option to hide ALL columns in the Form Responses section"
### Quick summary

Currently, it is possible to hide all columns in the Form Responses section

https://mrfoxtestingsite.wordpress.com/wp-admin/edit.php?post_type=feedback&mode=excerpt which does not serve any purpose and can be very confusing for users to undo, if this happens to them accidentally.

![Screen Shot on 2022-02-15 at 11:18:14](https://user-images.githubusercontent.com/4452464/1540431

[2022-02-15 10:43] #60444 closed, assigned to gcsecsey

[2022-02-15 11:05] mrfoxtalbot opened #61111 "Postify feature in Form Responses not working"
### Description
Let's just remove this bit of code; it was added long ago and never shipped to customers. (see comment below)

### Quick summary

There is a vestigial beta feature under **Feedback > Form Responses** called **Postify (a8c)** (grunion-postify) that was never fully rolled out and that does not seem to be working at all.

![Kapture 2022-02-15 at 12 00 26](https://user-images.githubuse

[2022-02-15 11:16] Agepeuve commented on #57390
Another case in 33401257-HC

[2022-02-15 11:43] tyxla commented on #61063
I've opened a take 2 of this in #61112.

[2022-02-15 12:26] delputnam commented on #60878
The button appeared broken due to a PR that added the icon to a component that is used in multiple places. We (Nomado) removed the icon when it is used in the domain management pages during our last sprint.

[2022-02-15 12:26] #60878 closed, assigned to nobody

[2022-02-15 12:51] AtrumGeost commented on #32181
I ran a test and confirmed this is now fixed:

https://user-images.githubusercontent.com/3696121/154065579-cdea19fc-2be8-4df6-a386-073879f37df8.mp4

Closing the issue :)

[2022-02-15 12:51] #32181 closed

[2022-02-15 12:52] fashuvo commented on #60871
Another report on 28311099-hc.

User already tried restoring from auto-save and updating the post. I suggested them to not make any more changes.

[2022-02-15 12:55] AtrumGeost commented on #31575
I wasn't able to reproduce the issue. I'm closing it.

[2022-02-15 12:55] #31575 closed

[2022-02-15 13:17] kerrynicl commented on #61051
Another report here but map does not render at all even at 3 locations  Zen- 4778669
[Screengrab](https://d.pr/i/Tmnliz)

[2022-02-15 13:49] filipanoscampos commented on #52100
Here is a case of a user who needs to add a Cookie banner and is using a theme without a Widget area: 4777334-zd-woothemes

I am sharing this here since the previous issues were closed in favor of this one.
It would be great to have an alternative to offer our users, and not leave them without a solution.

[2022-02-15 14:04] vindl opened #61118 "FSE: Show a modal informing the customers about FSE activation"
As part of the FSE rollout, sites with Universal theme active will be automatically converted to FSE sites. This will introduce some changes that might not be immediately obvious, such as the addition of the Site Editor in the Appearance menu. In order to inform the users about the changes, we'd like to add a modal that will be displayed once they land on the My Home page.

Here are some additiona

[2022-02-15 14:07] vindl opened #61119 "FSE: update the messaging during FSE theme activation"
This is what we currently show when someone switches to an FSE theme:

![screenshot-2022-02-11-at-15 50 13-1-edited](https://user-images.githubusercontent.com/1182160/154077998-ce3408bb-f512-4ad5-a93d-c13fc2e2d71b.png)

@poligilad-auto proposed that we add the following text here:

You can check out the discussion in this thread for more context: paYE8P-1rO-p2

[2022-02-15 14:12] ccwalburn commented on #51413
Another instance here: 34206550-hc
The theme was not found in WordPress.com view even with a search.
We could only find the theme if we switched to Classic View.

[2022-02-15 14:32] zdenys opened #61122 "WordAds Signup: Make the Approved applications more visible than `You have no eligible blogs` message"
### What

Make the Approved applications more visible than `You have no eligible blogs` message.

### Why

At https://wordads.co/signup/ the top-most message is `You have no eligible blogs` even if one has already approved sites. This can be confusing.

In 4778267-zd-woothemes the user totally missed that their site was on the list of Approved applications.

![image](https://user-images.githubuser

[2022-02-15 14:51] nelsonec87 commented on #61016
Strange, for me the powerful button keeps working but, if:
1. I go back a few more times
2. Try go go through the seller flow again (without refreshing or anything)

The flow finishes _before_ asking the type of store.

I'm now investigating if there's a problem in the flow's step stack

[2022-02-15 15:05] sixhours commented on #61014
Going to close this out since the Home/featured image issue has been fixed by #61085. I'll follow up with the pattern updates in #61087!

[2022-02-15 15:05] #61014 closed, assigned to sixhours

[2022-02-15 15:06] ezebecke commented on #60469
Another report: 34207537-hc

[2022-02-15 15:09] poligilad-auto commented on #61118
This is the illustration, could you make it 170px wide please?

![Create a site](https://user-images.githubusercontent.com/83961704/154089863-84175520-9326-42a2-9821-9df749067874.svg)

[2022-02-15 15:19] #51590 closed, assigned to DustyReagan

[2022-02-15 16:57] #61026 closed, assigned to blackjackkent

[2022-02-15 17:21] aleone89 commented on #60871
Another possible related case here:

4781956-zen

With the above, the following happened:
1. Site went from Simple to AT
2. This disconnected Stripe
3. The premium content in the subscriber view was deleted

I had to AT Revert the site, re-create the plan > re-assign the plan to content.

[2022-02-15 18:19] escapemanuele commented on #61036
Discussion about the two modals (the Welcome Tour and the Core modal) is here: pbAok1-2vM-p2

[2022-02-15 18:30] cpapazoglou commented on #60718
@gcsecsey can you also create the calypso code changes so that we can resolve this issue?

[2022-02-15 18:40] blackjackkent commented on #61082
Preemptive translation PR open at #61129 - will open another PR to change this text in the flow as soon as that's been merged and translated.

[2022-02-15 18:42] andres-blanco commented on #61082
I guess then that https://github.com/Automattic/wp-calypso/issues/61023 should be postponed?

[2022-02-15 18:44] joshuatf commented on #60429
I have not tested this yet, however, I do wonder if this is a priority issue with the hook we introduced to remove the WC item when we don't detect it.

https://github.com/woocommerce/woocommerce-admin/blob/1b94c04b15d43a52a04c151d91b8e8fbf96220a9/src/Features/Homescreen.php#L121-L138

For context, we need to register the WC menu item when a user doesn't have default WC menu item capabilities but

[2022-02-15 19:01] mxhassani commented on #59794
Another report here 34209686-hc

Opening the link in a new tab (with a middle mouseclick) didn't show any errors, both for the wp-admin and Calypso versions.

Using `target="_blank"` on the links may solve this, and arguably make for a better feature (not having to close the current window)

[2022-02-15 20:04] sixhours commented on #61015
Fixed by #61087

[2022-02-15 20:04] #61015 closed, assigned to sixhours

[2022-02-15 20:58] #61016 closed, assigned to nelsonec87

[2022-02-15 21:20] ariel-maidana commented on #60871
Another possible related case (AT site):

4707915-zen

- They say subscribers have to wait one or two hours to access the content after it's posted.
- They say the issue is worse in the WP mobile app.

[2022-02-15 21:39] worldomonation commented on #60937
Fixed by https://github.com/Automattic/wp-calypso/pull/61081.

[2022-02-15 21:39] #60937 closed, assigned to nobody

[2022-02-15 21:54] noahtallen commented on #59794
This bit of code manages the reusable blocks href: https://github.com/Automattic/wp-calypso/blob/ecac55f67bc323bf52e8d40046d0e59c4b174f0d/apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js#L764-L786

Interestingly, the code above is supposed to update the link to point to a Calypso page (iirc). Plus, the code does `hyperlink.target = '_top';` to make sure the link opens in the `w

[2022-02-15 21:58] burgerberg opened #61139 "Widgets: No effect when changing images' settings"
### Quick summary

Changing settings of an Image block in the widget editor won't have any effect.

### Steps to reproduce

1. Go to _Appearence → Widgets_ and add an image to a widget area.
2. Click the settings icon (gear) to open the image block's settings.
3. Change the image's style, size, and/or dimension.
4. Save changes
5. Check the front end result.

### What you expected to happen

The s

[2022-02-15 22:15] allilevine commented on #60429
Thank you @ilyasfoo and @joshuatf!

It sounds like updating the hook to check different permissions might be the next step here. Is that correct, and who should make that change?

[2022-02-15 22:23] allilevine commented on #60743
@SaxonF Is there an issue for [this font simplification plan](https://github.com/Automattic/wp-calypso/issues/58293#issuecomment-1009651810)? It sounds like always loading Recoleta would solve our Firefox problem. 😄

[2022-02-15 22:46] kwight commented on #61082
Yes, and in fact, I'll just remove the issue entirely – we know we have a second iteration coming up soon, so we can just keep the file and replace it with fresh strings when @SaxonF posts his designs for v2.

[2022-02-15 22:47] kwight commented on #61023
See: https://github.com/Automattic/wp-calypso/issues/61082#issuecomment-1040873699

[2022-02-15 22:47] #61023 closed, assigned to nelsonec87

[2022-02-15 22:49] kwight commented on #60975
A first step here is to track down a Figma from the Blogging Experience and verify what the whitespace measurements should be (to see if we even have a problem here).

[2022-02-15 22:58] kwight commented on #61021
Cool, so this is an option (being followed by @sixhours in #61137).

[2022-02-15 22:58] #61021 closed, assigned to nobody

[2022-02-15 23:07] worldomonation opened #61140 "Playwright: use block smoke testing flow for `Blocks: Media (Upload)` spec."
### Details

As noted in https://github.com/Automattic/wp-calypso/pull/60864#discussion_r803093250, consider moving the media block tests to a block smoke testing flow to bring it in line with other block smoke testing specs.

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-02-15 23:16] cometgrrl commented on #61100
Per [this discussion](p1643411917536529-slack-C01LXBU1N21), updating doc links will be considered feature enhancements and not bugs. I've updated this accordingly.

[2022-02-15 23:31] vipulpradhan commented on #61018
User report: 4782455-zen

Was able to reproduce this issue on 'Pink' version as well. Tested and confirmed that the main 'Twenty Twenty-Two' theme does not have the grayscale duotone effect as default.

Because the user is on Personal plan, I advised switching to the main 'Twenty Twenty-Two' theme while preserving their homepage content.

[2022-02-15 23:45] Jaccuse commented on #36197
Another request here: 4783288-zen

[2022-02-15 23:55] thekingsprojects commented on #60871
Another case here (AT): 4782833-zen

Let user know that a fix for AT sites should be available tomorrow; they'd probably appreciate a direct follow-up, however.

(It looks like they may have overwritten some of their content trying to restore revisions, so they may have to restore those few posts manually after the fix is live.)

[2022-02-16 00:51] lsl commented on #58296
Yes there too. Do our users know they have their website hosted with Automattic?

[2022-02-16 01:03] SaxonF commented on #60743
@allilevine I don't believe there is yet. Might be something we can propose in the #dotcom-system Slack channel

[2022-02-16 01:12] #58222 closed, assigned to lsl, Rolilink

[2022-02-16 01:48] ai2n commented on #60385
Similar issue on #34204337-hc

[2022-02-16 01:49] ai2n commented on #60385
Similar issue on 34204337-hc

[2022-02-16 02:51] #61033 closed, assigned to lsl

[2022-02-16 03:41] fushar commented on #52289
Cool, thanks @razvanpapadopol!

Hmm @autumnfjeld, it seems that according to the linked PT, this whole thing is not necessary now as we have already rolled out blank canvas to 100% users? What do you think?

[2022-02-16 04:24] lsl opened #61142 "Plugins: Jetpack notice banner margins"
Jetpack notices need spacing

- View the plugin screen with a Jetpack (non atomic) site, likely needs a free plan. [Jurassic.ninja](https://jurassic.ninja/) sites work.

![Screenshot 2022-02-16 at 15-23-36 Plugins ‹ test — WordPress com](https://user-images.githubusercontent.com/811776/154195867-a1c411a4-6be8-4113-bf8d-b740ff9ae392.png)

Should match our other notices:
![Screenshot 2022-02-16 at 1

[2022-02-16 04:25] lsl opened #61143 "Breadcrumb styling should match domains pages"
Plugins, domains, and woo landing pages should should all use the same header component or at least match the look. cc @SaxonF

Plugins page bold the root heading
![Screenshot 2022-02-16 at 13-40-21 WooCommerce Subscriptions Plugin ‹ c3po - Simple Site - Mapped — WordPress com](https://user-images.githubusercontent.com/811776/154195964-9d28aa5f-cef0-48d9-98ff-6d937173ef83.png)

Domains pages bold

[2022-02-16 04:45] lsl commented on #60553
@cpapazoglou apologies, I saw your comment but then forgot about needing to fix #61098 while I was merging the other PR's I had open, I ended up shipping as is. I've added a follow up https://github.com/Automattic/wp-calypso/pull/61144 to always filter the popular plugins and remove duplicates.

[2022-02-16 04:57] KokkieH opened #61145 "Import: post_modified date not imported"
### Quick summary

When importing a WordPress XML export file, the `post_modified` and `post_modified_gmt` dates are rewritten to be the same as the `post_date` and `post_date_gmt`.

### Steps to reproduce

1. Make a modification to an existing post, so the last modified date is different from the publication date
2. Export the post. Check the XML file and make sure the `post_date` and `post_modif

[2022-02-16 05:05] lsl commented on #60443
Breadcrumbs was easy enough but need fallback text for when its unknown. For now I'm using "Plugins" - should never be shown to users but would rather this code didn't throw an error if it ever is.

[2022-02-16 05:08] DavidRothstein commented on #59937
Well, I guess "become obsolete" wasn't necessarily the best way to phrase it -- I should have said that it may automatically be fixed as a side effect of that work (or specifically, whoever works on that will have to make it possible for users without a plan to manage their Stripe account, and that should either fix the scenario here also or at least come extremely close to fixing it).

[2022-02-16 05:53] lsl opened #61147 "Plugins: Append .org data to .com responses and replace v1.2 endpoint usage with v2"
Plugin information is loaded using two different api endpoints, a "v1.2" and a "v2". The v2 endpoint is being used (was created for?) paid marketplace plugins. The browser list code is fragmenting as a result.

I think we should consider moving all plugin data lookups to v2 and appending the extra information required (currently the v2 endpoint is missing a fair bit of extra field from v1.2 - not

[2022-02-16 05:55] lsl commented on #61147
Added this to explorers board but this might be something better for bespin to tackle.

[2022-02-16 05:56] formosattic commented on #61018
+1 4780109-zd-woothemes
Sent CSS workaround.

[2022-02-16 06:43] stefancln commented on #51540
Another report in 4781320-HC - suggested workaround

[2022-02-16 07:00] vishnugopal commented on #60608
We're blocked on themes not being migrated at all (either FSE or not FSE).

[2022-02-16 07:07] vishnugopal commented on #60803
How do you put the colors into the custom color palette?
<img width="266" alt="CleanShot 2022-02-16 at 12 36 36@2x" src="https://user-images.githubusercontent.com/533/154213719-2d3f9012-e267-407d-bc5a-b1ed3e28da7a.png">

[2022-02-16 07:11] vishnugopal commented on #61065
<img width="884" alt="CleanShot 2022-02-16 at 12 41 03@2x" src="https://user-images.githubusercontent.com/533/154214182-032d817b-6126-4781-ae6c-41bd4683eac8.png">

Ganon is also working on this (verticalization), so this will require collaboration.

[2022-02-16 07:16] vishnugopal commented on #60803
Only 3 color items need to be extracted right now:

<img width="273" alt="CleanShot 2022-02-16 at 12 46 07@2x" src="https://user-images.githubusercontent.com/533/154214896-c266c704-be32-4f5e-a7f7-23d9108b8670.png">

[2022-02-16 07:21] devNigel commented on #58098
@roo2  Your observation is correct. I recently encountered a similar case here: 34030976-hc

I am able to reproduce this both on Simple and AT sites when I switch to Classic View on the Posts page. This forces editor to load in wp-admin URL instead of Calypsofied URL.

If we switch to WordPress.com view on the Posts page, the issue is not present.

[2022-02-16 07:28] simison opened #61150 "[Bug]: Jetpack blocks showing up first in global styles panel"
### Quick summary

Instead of the expected order, Jetpack blocks are showing up first in the Global styles panel:

<img src="https://user-images.githubusercontent.com/87168/154216226-50dbdee9-76ee-4061-b0f6-77d8a4f81034.png" width="300" />

Instead, the most important block should come first:

<img src="https://user-images.githubusercontent.com/87168/154216233-13d6b16c-7174-4bbd-bbda-e1d790ae7434.

[2022-02-16 07:57] edwinho89 commented on #30179
4757921-zd-woothemes

[2022-02-16 08:06] poligilad-auto commented on #61118
@vindl can we momentarily pause on this? Gathering some extra feedback from the design perspective.

[2022-02-16 08:10] zdenys commented on #43919
4783698-zd-woothemes Suggested they try inviting as Contributor as a workaround.

[2022-02-16 08:22] cpapazoglou commented on #60493
Tables are created here D75033-code

[2022-02-16 08:58] rinazrina commented on #35367
I got a user who would like to understand the exact source of referrers under "WordPress Android App," as they got a lot of traffic from that. I clarified that they're coming from Android Apps such as Google Quick Search box, however, the word "WordPress" confused them. I second that changing the Referrers group to "Android apps" would make much more sense.

[2022-02-16 09:16] zdenys commented on #60469
Another case 4774755-zd-woothemes. Suggested the workaround from [above](https://github.com/Automattic/wp-calypso/issues/60469#issuecomment-1022992827).

[2022-02-16 09:30] cpapazoglou commented on #58296
I see your point. There is an issue to address this https://github.com/Automattic/wp-calypso/issues/43230

[2022-02-16 09:38] cpapazoglou commented on #61147
The .org plugins results come from a different host `https://api.wordpress.org/plugins/info/1.2/` while marketplace plugins from `https://public-api.wordpress.com/wpcom/v2/marketplace/products`.

Consolidating the two endpoints into one, would require proxying all the .org plugins through WPCOM. Since we have an outstanding issue for using:
(a) [woocommerce.com api to get marketplace plugins](1239

[2022-02-16 09:39] gcsecsey commented on #60718
Yep, I've opened this PR with the Calypso changes: https://github.com/Automattic/wp-calypso/pull/61127

[2022-02-16 10:10] inaikem opened #61154 "Premium content: Unable to delete payment plan"
### Quick summary

- Unable to permanently delete an existing Premium Content plan.
- On page reload, the plan reappears in the list at `https://wordpress.com/earn/payments-plans/DOMAIN.TLD`

Additionally, editing the plan's description throws the following error on save, `Cannot read properties of undefined (reading 'id')`

### Steps to reproduce

1. Visit: `https://wordpress.com/earn/payments/DO

[2022-02-16 10:17] dwojcik1994 commented on #59034
Any updates in this topic? How to resolve this wordpress bug?

[2022-02-16 10:28] dsas commented on #60639
I've deployed D74917-code

[2022-02-16 11:37] zdenys commented on #53102
4774971-zd-woothemes

[2022-02-16 11:57] roo2 commented on #58098
raised a possible fix https://github.com/Automattic/wp-calypso/pull/61158

[2022-02-16 13:18] ClassicRKR27 commented on #60469
Another report here: 28719851-hc

[2022-02-16 13:42] #60718 closed, assigned to gcsecsey

[2022-02-16 14:17] gcsecsey commented on #60718
Deployed changeset r240191-wpcom

[2022-02-16 14:23] mmtr commented on #60965
D74991-code

[2022-02-16 14:23] mmtr commented on #61086
D75072-code

[2022-02-16 14:30] sixhours commented on #60978
We could do that, but I thought it made more sense to work with the signup infrastructure by formally "closing" the flow using `goToNextStep` rather than bailing out with a `page` redirect. Let's chat about it at some point, because I think we're talking about the same thing. :D

[2022-02-16 14:47] #55956 closed, assigned to dpasque

[2022-02-16 14:59] sixhours commented on #60978
Aha, wait, I get what you're suggesting now! So yes, we can make a one-line change to make sure the site title and tagline are submitted at the time of entry rather than at the end of the flow, by removing this line:

https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/config/steps-pure.js#L190

That does fix the bug. But the blogger flow also uses `goToNextStep` and takes advantage

[2022-02-16 15:09] gcsecsey commented on #61073
@cpapazoglou what should be the prices of the yearly and monthly products?

[2022-02-16 15:23] lupus2k commented on #58293
Closed by #61135

[2022-02-16 15:23] #58293 closed, assigned to lupus2k, allilevine

[2022-02-16 15:52] #55959 closed, assigned to dpasque

[2022-02-16 15:52] sixhours commented on #60975
Checking it against the Figma, looks like we could reduce the whitespace a bit:
<img width="400" alt="Screen Shot 2022-02-16 at 10 50 11 AM" src="https://user-images.githubusercontent.com/2124984/154302699-4f38bda2-bba8-404a-9ccf-3b49b33e86bf.png">

But I'm not sure that will be enough to bring the seller experience above the fold. Will tinker with it and find out.

[2022-02-16 15:56] kimerlin81 commented on #60626
@kbrown9 - Thanks for submitting this issue. I was able to reproduce this on a Jetpack site in Calypso: https://d.pr/i/8PTCwf

[2022-02-16 16:25] dpasque opened #61166 "PW Spec Migration: Editor tracking"
### Details

There remains on the old Selenium framework three specs related to testing event tracking in the editor:

- `wp-calypso-gutenberg-page-editor-tracking-spec.js`
- `wp-calypso-gutenberg-post-editor-tracking-spec.js`
- `wp-calypso-gutenberg-site-editor-tracking-spec.js`

We need to find a way to migrate these off Selenium.

We should use this chance to evaluate the test strategy of event

[2022-02-16 16:29] mattwiebe opened #61167 "Full Site Editing: use `full-site-editing` tag for Core FSE in the theme showcase"
### Details

Our Legacy FSE implementation is camped out on the `full-site-editing` tag from the theme showcase. It is used to preferentially show these themes to sites with Legacy FSE active. As the name implies, Legacy FSE is not under active development, and these sites will soon be migrated to Core FSE.

### Checklist

- [x] Assign `full-site-editing` tag to all Core FSE themes (that currently

[2022-02-16 16:29] dpasque opened #61168 "PW Spec Migration: Migrate the Jetpack Scripts"
### Details

Right now, there are a handful of specs on the Selenium framework in `specs-jetpack` that cover some jetpack integration on WordPress.com. We should understand the future of these specs and migrate them off of Selenium.

### Checklist

- [ ] Identify stakeholders for the tests
- [ ] Identify target end use case of these scripts
- [ ] Map desired coverage and create test plan map
- [ ]

[2022-02-16 16:36] dpasque opened #61169 "PW Spec Migration: Add more comprehensive FSE tests"
### Details

Right now, we only have a brief smoke test for the FSE integration on WordPress.com. We should extend that coverage. This provides a great opportunity to also get more folks involved in writing tests on Playwright.

### Checklist

- [ ] Identify current FSE stakeholders
- [ ] Work on test plan mapping with them
- [ ] Help them onboard to the Playwright framework
- [ ] Review any PRs a

[2022-02-16 16:42] katiebethbrown commented on #61103
Related:
- https://github.com/Automattic/jetpack/issues/22749

[2022-02-16 16:58] #60978 closed, assigned to sixhours

[2022-02-16 17:20] dpasque opened #61171 "PW Spec Migration: Gutenberg block upgrading"
### Details

On the selenium framework, `wp-calypso-gutenberg-upgrade-spec.js` tests how block markup goes through the upgrade by copying markdown from popular blocks and pasting them onto an edge site.

We have this covered in part by all the new block smoke test cases. However, this doesn't cover breakages caused by the block markdown going through the upgrade transformation.

We should add a ne

[2022-02-16 17:21] dpasque commented on #61171
@fullofcaffeine You had mentioned interest in tackling this script -- still interested? I would love to help out however I can! I can also walk through some of the new block classes we have that might help with making the `bin` script that could regenerate the post.

[2022-02-16 17:22] dpasque opened #61172 "PW Spec Migration: Empty out the quarantined run"
### Details

Right now, we have fragile scripts in a quarantined run so they don't disrupt the deployment process. We should revisit these scripts, see what we can stabilize, and what can be moved back out into pre-release tests or PR based tests.

### Checklist

_No response_

### Related

_No response_

[2022-02-16 17:48] obenland commented on #51595
In the context of Limited Atomic, this should be a non-issue once customers can upgrade to a Personal/Premium plan on Atomic?

[2022-02-16 18:17] #61019 closed, assigned to nelsonec87

[2022-02-16 18:35] #61082 closed, assigned to blackjackkent

[2022-02-16 18:37] obenland commented on #50558
Closing—it's been almost a year without additional reports.

[2022-02-16 18:37] #50558 closed, assigned to nobody

[2022-02-16 18:51] nelsonec87 commented on #61017
We could take advantage of this feature:

![image](https://user-images.githubusercontent.com/3801502/154321307-bcda8a35-4d15-411b-a94d-18b20b99a751.png)

Use the `WordPress.com Logo` for example, or add a new option focused on e-commerce sites.

This setting is not available on calypso. It redirects users to the customizer.

[2022-02-16 18:53] nelsonec87 commented on #61017
This information is stored in the `footercredit` option.

Is creating a new endpoint for setting this option a good choice?

[2022-02-16 18:55] jeyip commented on #54468
Revision for dotcom simple site integration ( [link](D74478-code) )

[2022-02-16 18:56] #59744 closed, assigned to jeyip

[2022-02-16 19:03] JoshuaGoode commented on #60871
This should be fixed on WPCOM Atomic shortly with the deployment of Jetpack 10.7-a.5

https://github.com/Automattic/jetpack/blob/8cd1d7faad7df76904963b2caed2d10bdef88eac/projects/plugins/jetpack/CHANGELOG.md

p9o2xV-1So-p2

[2022-02-16 20:00] mreishus commented on #60639
This looks to be solved with both patches now deployed.

[2022-02-16 20:00] #60639 closed, assigned to dsas

[2022-02-16 20:25] kwight opened #61178 "Seller experience: The "Buy now" button is not translated."
The "Buy now" button appears to be the only untranslated part of the commerce pattern. It should also be sentence-case ("Buy now").

<img width="1263" alt="Screen Shot 2022-02-16 at 12 23 29 PM" src="https://user-images.githubusercontent.com/349751/154351161-58801f17-4b85-45b9-b7c4-4024fc4a7395.png">

[2022-02-16 20:32] kwight opened #61179 "FSE: The footer and template switcher are untranslated."
I noticed today that when using a language other than English (FR in this case), the site editor's template switcher and the WP.com footer text are not translated (the footer text is properly translated on the front-end, however).

<img width="1654" alt="Screen Shot 2022-02-16 at 12 26 59 PM" src="https://user-images.githubusercontent.com/349751/154351747-c94fc698-d07d-4fa3-9774-9d18f09820cd.png">

[2022-02-16 20:51] sixhours commented on #61178
I've updated the pattern to use sentence case:
<img width="517" alt="Screen Shot 2022-02-16 at 3 41 32 PM" src="https://user-images.githubusercontent.com/2124984/154353560-6e0d907d-086a-4bd0-9c72-f2d76f3f7de3.png">

The button text differs from the other headings/paragraphs in that the default text comes from the block properties, so I suspect that's why it's not localized:

<img width="944" alt="

[2022-02-16 21:01] sixhours commented on #61178
Reading up on translations for the block patterns, it looks like strings from post content get automatically imported to GlotPress: PCYsg-t0E-p2t

So the next step is to figure out if the "Buy now" string is new and just hasn't been pulled into GlotPress yet, or if the automated process does not "see" strings that are block properties rather than block contents.

[2022-02-16 21:08] sixhours commented on #61178
OK, checked out the Glotpress importer on my sandbox and looked at all strings from the patterns site. The "Buy now" string does not show up in the output, which tells me it's probably not seen by the importer.

I also checked GlotPress itself, and the "Buy Now" string does not exist there yet.

There may be another way to add text to the button without using a block property, going to test that n

[2022-02-16 21:54] sixhours commented on #61178
I tried adding the button text string as a child element of the block rather than a property, like so:

[code]

But it just breaks the block.

Other button-based blocks (like the subscriptions block, which has a "Subscribe" string for the button) include the same strings in the block's properties AND its content/children, which is why their strings are available to the GlotPress importer. Example

[2022-02-16 21:59] katiebethbrown opened #61180 "Unsupported CSS Remains In the Customizer When a PreProcessor Is Set, But Doesn't Apply on the Live Site"
## Quick summary

On simple sites that support CSS (Premium plan, simple Business sites) unsupported CSS isn't removed by CSS Tidy on save when the SASS preprocessor is set.

This means that the code saves, and remains in the Customizer, but doesn't function on the site. There is no indication in the Customizer that it isn't working (other than the styles not being applied).

### Steps to reproduc

[2022-02-16 22:05] worldomonation opened #61181 "[Meta] E2E Training & Education"
### Details

As the migration project reaches the final stretches we as @Automattic/quality-squad want to shift our focus to empowering developers to write and maintain their own tests.

Project thread: pciE2j-JM-p2

### Checklist

_No response_

### Related

_No response_

[2022-02-16 22:07] worldomonation opened #61182 "Task: Include documentation under `test/e2e` inside Calypso dev docs."
### Details

We have a fairly robust (if a bit outdated) set of documentation at https://wpcalypso.wordpress.com/devdocs.

Our documentation that lives under `test/e2e` are separate from the above and it hurts discoverability of the docs.

### Checklist

- [ ]
- [ ]

### Related

_No response_

Parent: https://github.com/Automattic/wp-calypso/issues/61181

[2022-02-16 22:10] worldomonation opened #61183 "Task: Identify improvement areas for `test/e2e` documentation."
### Details

The framework used for end-to-end tests has been significantly altered and thus has resulted in the example codes contained in the documentation to be out of date.

Identify and issue updates for the code samples, recommendations, best practices and anything else that may require updates.

### Checklist

0

### Related

https://github.com/Automattic/wp-calypso/issues/61181

[2022-02-16 22:24] ianstewart opened #61184 "Theme Showcase: Theme switch UI can sometimes show an "only users who can switch themes on this blog can preview them" error."
Theme switch UI can sometimes show a only users who can switch themes on this blog can preview them error:

![image](https://user-images.githubusercontent.com/545779/154367361-aea4c6e8-2ffb-429f-8bd4-ef5e1a1e4e7f.png)

[2022-02-16 22:29] autumnfjeld commented on #52182
@JessBoctor Just a tip to directly insert images/gifs from dropler, rather than the link, as the [original link](https://github.com/Automattic/wp-calypso/issues/52182#issue-864345649) is now expired.

![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=246)![bitmoji](https://sdk.bitmoji.com/r

[2022-02-16 22:38] noahtallen commented on #60743
You could experiment with adding a link tag in this component to see if that fixes the issue: https://github.com/Automattic/wp-calypso/blob/f2e6f88ae65c8571bbac21b284c29b48ec987598/client/components/head/index.jsx#L22-L28

[2022-02-16 22:54] kwight commented on #60975
@sixhours I think that would have been an iPhone 8 in the Chrome devtools mobile view (or just 375px wide responsive).

As long as the mobile layout is reasonably matching the Figma, that was my biggest concern – we don't need to make changes at this point to keep Sell above the fold. Side note, I wonder if tiles (two across) would help? ¯\_(ツ)_/¯

Closing for now, it'll come up again if it's a pr

[2022-02-16 22:54] #60975 closed, assigned to sixhours

[2022-02-16 22:57] kwight commented on #61178
Good investigation @sixhours , so it sounds like GlotPress just doesn't support strings in block properties. 🤔  @dlind1 any ideas how we might best approach this?..

[2022-02-16 22:58] lsl commented on #61147
Definitely a valid call, code fragmentation is justifiable if we're ok with keeping the sources of truth separate.

My question is does that scale long term with say thousands of paid marketplace plugins?

How do we intend to serve search results?

I think we'd need to make secondary requests client side for any results in order to overlay prices.

We'd also be relying 100% on wordpress.org boosti

[2022-02-16 23:01] kwight commented on #61017
Hm, right, it sounds like adding a new commerce-focused value ("Start a store on WordPress.com") and then setting that value by API during our flow would be a good approach (likely one diff for adding the value, and another for adding the endpoint that sets the setting).

[2022-02-16 23:31] DustyReagan commented on #60966
I took at a stab at this by approaching from the WPCOMSH side here: 814-gh-Automattic/wpcomsh. Next step would be to create a WPCOM patch using class-purchases-features-map.php.

[2022-02-17 00:24] lsl commented on #60743
[code]

Tried this, didn't prevent rerender (Though I wonder if you mean to also disable the existing import?).

A few things around the web hint that dynamically styled components might be triggering this.

[2022-02-17 00:26] worldomonation commented on #61183
Documents that need to be updated:

[Overview](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/docs/overview.md)
- directory structure under `spec/`.

[Test Environment](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/docs/test_environment.md)
- broken link formatting under Custom Configs

[Running tests on your machine](https://github.com/Automattic/wp-calypso/blob/trunk

[2022-02-17 00:45] worldomonation opened #61189 "Task: Identify improvement areas for Field Guide documentation."
### Details

Similar to #61183, the documentation on Field Guide for WPCOM/Calypso end-to-end tests should be revisited.

Identify and issue updates for the code samples, recommendations, best practices and anything else that may require updates.

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/61181

[2022-02-17 01:08] noahtallen commented on #60743
good question. Though I didn't mean that, it seems like it could theoretically solve the issue if the root problem is FF trying to download the file a bunch of times

[2022-02-17 03:19] fushar commented on #57335
This issue will not happen anymore, as we only show block themes for new site creation. After site creation, we will be redirected to site editor and the Update homepage button will lead to the site editor as well, which does not depend on `page_on_front` anymore.

Closing this issue!

[2022-02-17 03:19] #57335 closed, assigned to fushar

[2022-02-17 03:28] desnum commented on #60385
This might be related: 34231950-hc

There were two menus with the same name. The one built in the editor had several pages and the one built in the customizer had invalid links. It's possible that the two having the same name is causing an issue with the menu being displayed on the frontend. I advised that they change the name of the menu they want to use, and remove the duplicates.

[2022-02-17 04:14] arthur791004 opened #61191 "Task: Refine mobile app card in My Home"
### Details

[Mural ideas](https://app.mural.co/t/a8c1359/m/a8c1359/1642775570168/adb041c3bcd97c52e5698c21ba19cbde07e15c61?sender=u74e9502380fc214159157096)

* Add QR code
* These app store badges should redirect to apps.wordpress.com not the app stores. On desktop, sending to the app stores is a poor experience.

### Checklist

- [ ] TBD

### Related

https://github.com/Automattic/wp-calypso/issu

[2022-02-17 04:15] arthur791004 commented on #55188
I create a new issue for https://github.com/Automattic/wp-calypso/issues/55188#issuecomment-1028580974. So this issue only focuses on new copy and it's done via https://github.com/Automattic/wp-calypso/pull/61151

[2022-02-17 04:15] #55188 closed, assigned to arthur791004

[2022-02-17 04:40] Greatdane commented on #56021
Going to close this.

[2022-02-17 04:40] #56021 closed, assigned to nobody

[2022-02-17 04:40] JulianBustamante commented on #60441
Diff created D75129-code

[2022-02-17 05:03] autumnfjeld opened #61192 "Ganon Task: Research & prep for verticals"
### Details

Research FSE themes vs blockbase themes and how we will best way to utilize headstart to produce dynamic content as our "short term solution".

## Reading:

* Headstart FG: PCYsg-7cr-p2
* Next steps solving “first impression problems” for FSE themes: pNEWy-eFy-p2  - the discussion here contains a lot of history, meaning a lot of people with deep or historical knowledge.
* Previously m

[2022-02-17 05:12] Greatdane commented on #59787
Closing now this is fixed on core! I cannot reproduce the original issue on WordPress.com

[2022-02-17 05:19] Greatdane commented on #58083
Looks like this will be fixed in core soon! https://github.com/WordPress/gutenberg/pull/37034

[2022-02-17 05:37] Greatdane commented on #57170
if @Automattic/dotcom-triage-pa-group are able to have a look at this again, that would be great! This issue seems like it only affects older sites who had a classic widget setup, making it very hard to reproduce.

[2022-02-17 05:47] Greatdane commented on #60877
Weirdly, on a self-hosted site, this seems to cause a critical error.

[2022-02-17 05:49] #60553 closed, assigned to lsl

[2022-02-17 05:56] roo2 commented on #53617
I found some very wierd behaviour with using tab on the primary cards slider in chrome.
In the video, I tab to the primary "Enroll today" button, then to the "Hide this" button, and then one more time. The slider scrolls unexpectedly, and even stays scrolled when I use the next and previous keys

https://user-images.githubusercontent.com/22446385/154414298-33cf1add-3914-4809-8ba0-0a9bc0197c30.mov

[2022-02-17 05:57] Greatdane commented on #60909
I tried to replicate this, but changing the success message worked for me. I got the correct message (I made sure I was logged out and used another email address);

<img width="577" alt="Markup 2022-02-17 at 14 54 34" src="https://user-images.githubusercontent.com/5075840/154414329-8f9c8105-3489-41b1-a20f-2459a0f42895.png">

This was on an Atomic site with the Blockbase theme.

@galakhyati - are y

[2022-02-17 05:58] autumnfjeld opened #61193 "FSE Themes: Add headstart posts content without navigation"
## Related

[2022-02-17 06:00] roo2 commented on #53617
I also tried using the tab key to go through elements on the page in Firefox on macos. I found that I couldn't tab to most of the links on the page. I find similar tabbing behavior throughout calypso in FF.

[2022-02-17 06:11] taipeicoder commented on #53617
Yes! I came across this issue as well. Will try to spend some time to look into this.

[2022-02-17 06:27] autumnfjeld opened #61194 "FSE themes in Design Picker onboarding"
### Details

d

### Checklist

- [ ]
- [ ]
d

### Related

FSE Themes: Add headstart posts content without navigation #61193

[2022-02-17 07:10] KokkieH commented on #60469
https://wordpress.com/forums/topic/dragging-and-dropping-images-in-a-gallery/?view=all

[2022-02-17 08:15] zdenys commented on #53102
4785282-zd-woothemes

[2022-02-17 08:26] autumnfjeld opened #61197 "Update Hero Flow field guide"
Tasks
- [ ] Replace Hero Flows with FTM flows
- [ ] Include statement that this change is being made to make the history clear
- [ ] Audit any out of date information

[2022-02-17 08:30] arthur791004 commented on #53617
I think we should set `tabindex` of non-active elements to -1 to remove them from the page tab sequence.

[2022-02-17 08:45] autumnfjeld opened #61198 "☂️ [Spike]: Verticalization of patterns to create themes in the FTM Design Picker"
## Description
Project Thread: pbxlJb-XO-p2
Design Concept: pbAok1-2rq-p2
Important reading for PTK tech: PCYsg-t0i-p2

## Acceptance Criteria
Create a Proof of Concept to demonstrate Verticalization of patterns in the Design Picker in FTM onboarding flows.

**An example scenario:**
8 A user has selected "Restaurants" as their vertical
* A Restaurant vertical is defined to be four block patterns f

[2022-02-17 09:14] edwinho89 commented on #60469
4783584-zd-woothemes

[2022-02-17 09:44] simison commented on #61038
This can be closed I suppose?

[2022-02-17 09:44] #61038 closed, assigned to nobody

[2022-02-17 09:50] monicamacovei commented on #60623
Another case here 4786128-zd

[2022-02-17 10:17] kingsleyinfo commented on #60469
Another report here: 4783584-zd-woothemes

[2022-02-17 10:25] kimerlin81 commented on #61180
Thanks @katiebethbrown! I was able to reproduce this issue [here](https://d.pr/i/yyGrVt), so it's been triaged as a bug.

[2022-02-17 10:39] jromales commented on #39956
Another report: [4786538](4786538-zd-woothemes)

[2022-02-17 10:56] kimerlin81 commented on #49847
This is a present issue as shown [here](https://d.pr/i/G6bK0C). Added to Triage board to get more eyes on it. Marking this Triaged for developers to review.

[2022-02-17 11:00] kimerlin81 commented on #60577
@JoshuaGoode - Thanks for reporting this issue. Being prompted to choose a theme when multiple sites are listed on an account appears to be expected behavior. When only one site is listed in My Sites, the user is sent directly to the theme page. I believe this prompt helps to prevent users from activating a theme on the wrong site.

As for the My Sites link being unresponsive, [this issue](https:/

[2022-02-17 11:14] zdenys commented on #56781
- [ ] We should follow-up with the user in 4775877-zd-woothemes once this is fixed

[2022-02-17 11:15] kimerlin81 commented on #60577
Reopening per this slack [thread](p1645096030633169/1643277764.247600-slack-C02DQP0FP)

[2022-02-17 11:16] #61066 closed, assigned to manzoorwanijk

[2022-02-17 11:42] vindl opened #61202 "FSE: infinite scroll not working"
cc @csabarakasz

p1645051036945269-slack-C01DF571R5Y

[2022-02-17 11:58] kimerlin81 commented on #61154
I was able to reproduce this [here](https://d.pr/i/LMXnhJ). Triaging for further review.

[2022-02-17 12:02] vindl opened #61203 "FSE: social icons disappear while editing the logo size"
1. Setup main and social menus in Customizer
2. Use FSE to resize logo
3. Social menu no longer works

@mikeicode

More context in this post: pdh1Xd-Bb-p2

[2022-02-17 12:05] vindl commented on #61203
One idea from @simison:

[2022-02-17 12:31] vindl opened #61205 "FSE: deprecate all classic themes"
As part of the FSE rollout, consider deprecating all classic themes so that it's possible to switch only to an FSE theme. We should have a discussion and decision re-evaluated with stakeholders and the Themes team when we are ready to start working on this. It depends on how good we feel about our FSE theme selection at that point in time.

[2022-02-17 13:13] arcangelini commented on #59977
Just reaching out to come to an understanding. I have read conflicting suggestions on how to handle the "Privacy Information". I do not believe there is a relevant privacy section for all these settings and this applies as well to the other pages - #59975 and #59976

The PR's I currently have will fix the links and preserve the privacy links pointing to the Jetpack privacy information. Should we r

[2022-02-17 13:16] epeicher opened #61207 "Marketplace: Show live chat support in plugin checkout if plan allows it"
### Details

The plugin details page mentions Live chat support 24 x 7 but the checkout page for the same plugin mention Customer support via email. This inconsistency can cause confusion for the user.

|Plugin Details | Checkout|
|-------|------|
|![image](https://user-images.githubusercontent.com/3519124/154488747-cebb81c0-19d5-45c2-952f-a44ecab9f698.png)|![image](https://user-images.githubuserc

[2022-02-17 13:33] galakhyati opened #61209 "Marketplace: Installing Yoast Premium on a site with no custom domain works"
### Quick summary

For a site with no custom domain when I try to purchase Yoast Premium plugin, and click on `Install Yoast Premium` button only adds the Yoast Premium to the cart.

Uploading Screen Capture on 2022-02-17 at 18-46-21.mp4…

### Steps to reproduce

1. Go to My Site → Plugins → Add New
2. Search for Yoast Premium
3. Click on the Purchase and Activate button
4. Takes to a dialogue box

[2022-02-17 14:24] zdenys commented on #49899
4788183-zd-woothemes

[2022-02-17 15:28] ccwalburn commented on #60871
Adding this ticket for a user who wants to be notified: 4775976-zen.
This is a follow up from the chat above: 33886268-hc

[2022-02-17 15:47] Copons commented on #60871
I've just double-checked the sites linked by @ccwalburn and @thekingsprojects, and the Premium Content issue reported for both seems to be solved.
Thanks for bearing the brunt of the regression we've introduced.
I'm finally closing this issue!

[2022-02-17 15:47] #60871 closed, assigned to Copons

[2022-02-17 16:24] sixhours commented on #61178
In looking at the block parser for buttons, we do account for placeholders. Inserting a button into a pattern reveals a translated placeholder:

<img width="497" alt="Screen Shot 2022-02-17 at 11 11 31 AM" src="https://user-images.githubusercontent.com/2124984/154522534-d44d3c96-cb1a-4d8d-bc54-9d24d7e4eb1a.png">

But the Recurring Payments button does not seem to behave like a regular button, so t

[2022-02-17 16:37] arunsathiya commented on #39956
Same issue on 4786962-zen. Advised to get rid of `Layout Grid` block in favor of a `Columns` block as the `Layout Grid` block isn't serving much purpose in this setup.

[2022-02-17 16:40] allilevine commented on #59691
Do we need the modal? The price is already in the CTA, could we add duration there?
<img width="334" alt="Screen Shot 2022-02-17 at 11 36 34 AM" src="https://user-images.githubusercontent.com/1689238/154528022-3c518de7-af60-4e93-bae0-0370175193b8.png">

[2022-02-17 16:57] sixhours commented on #61178
Yes, looking at the parser at `wp-content/lib/patterns/parser.php`, we've accounted for other Jetpack blocks (contact form, subscriptions) but not Recurring Payments. We probably need to add a for Recurring Payments, otherwise it falls back to the basic text parser, which won't find a block's properties. Will see if I can write one.

[2022-02-17 17:02] JessBoctor commented on #60469
I ran into this issue with a customer who was only using the Classic Editor, not switching from blocks:
21659148-HC

[2022-02-17 17:11] allilevine commented on #60619
This seems like it would be low impact after https://github.com/Automattic/wp-calypso/pull/61102 and https://github.com/Automattic/wp-calypso/pull/61098 make it easier to access the free plugin list.

[2022-02-17 17:15] allilevine commented on #43230
This seems like a high priority now that we're featuring premium plugins. We also want to feature our free plugins, and indicate support and ownership. See: p1645042945001419/1645042800.545619-slack-C029JEQRVRT

Do we have this data (support, ownership) for each plugin?

[2022-02-17 17:17] allilevine commented on #60179
This is still the current behavior. It seems like a good fix to ship to users, but will require wpcomsh knowledge and a release.

[2022-02-17 17:21] allilevine commented on #59694
Great questions. It definitely seems like this needs a design decision. Although maybe the checkout page needs clarification in general if users expect an annual plan to include an annual plugin subscription.

We need more information about what plugin subscriptions are, vs. plans. Are they also products?

[2022-02-17 17:24] allilevine commented on #57817
This may be difficult to align with a Marketplace UI sprint goal. It's not something we can ship to users.

[2022-02-17 17:33] mxhassani commented on #60724
Similar issue: 34248460-HC

[2022-02-17 19:01] #53545 closed, assigned to nobody

[2022-02-17 19:20] ariel-maidana commented on #60469
Another report here: 20263327-hc

[2022-02-17 19:32] allilevine commented on #61147
@cpapazoglou I think we're missing some context here. 🤔 I understand how adding an indexing engine will help us with serving search results, but how is filtering for WCCOM plugins related to how we pull in .org plugin data?

[2022-02-17 19:35] autumnfjeld commented on #56869
@cometgrrl  What should we do with tickets like this, that we've concluded we won't address right now.   Meaning does it sense to move them out of our Ganon column in https://github.com/orgs/Automattic/projects/343 ?

[2022-02-17 20:04] daledupreez commented on #59652
I did some additional investigation, and I believe that this issue was caused due to a bug that specifically meant we didn't track quantity upgrades like this correctly when an asynchronous payment method like PayPal was used. We corrected that issue for new purchases in D71445-code, which was deployed to production on 2022-01-13.

We do have some missing data for existing transactions like this o

[2022-02-17 20:04] #59652 closed, assigned to nobody

[2022-02-17 20:38] kwight commented on #60413
Could you give us an update here @blackjackkent ?

[2022-02-17 20:39] kwight commented on #50560
Can you give us an update here @andres-blanco ?

[2022-02-17 20:40] kwight commented on #61017
D75180-code for adding the new value.

[2022-02-17 20:41] kwight commented on #61178
Great @sixhours , sounds like a plan – go for it. 👍

[2022-02-17 20:43] kwight commented on #60270
I fix has been identified, and is slowly and carefully being rolled out over the next week or two (it ended up being fairly complicated). Once we know existing sites have been corrected, and new sites moving to WoA are behaving properly, we'll reach out to Anchor to remove the Atomic reference. cc/ @andres-blanco

[2022-02-17 20:59] jp-imagines opened #61213 ""My Themes" tab not working/loading"
### Quick summary

On atomic sites, the "My Themes" tab (in Calypso at Appearance > Themes) should display a list of installed themes. Currently, it seems to always display the full list of themes from "All Themes" instead.

### Steps to reproduce

1. On an atomic site, navigate to Appearance > Themes.
2. Click the "All Themes" tab.
3. Switch to the "My Themes" tab.

### What you expected to happe

[2022-02-17 21:00] kwight opened #61214 "Seller experience: Two "Home" pages is confusing."
We create a special seller experience homepage with a product on it in our flow. Because we're leaving the original homepage untouched as a safety measure, the user could be confused when going to the Pages view and seeing two identically-named pages. Let's change our page title to "Available now!" for more clarity (the title is not, by default, displayed in the editor or the front-end anyways).

[2022-02-17 21:01] lsl commented on #61147
I'm not sure about their plans but the .org plugin data could be added to the index along with the wpcom plugin data, merged at index build time. We could dump all that back out with the search results.

[2022-02-17 21:01] kwight opened #61215 "Seller experience: The simple flow pattern is applied to the homepage even when choosing Woo."
If a user selects the "more power" (Woo) option, and bails before doing anything else, they still get their homepage updated to the "start simple" commerce pattern. This should only happen if the user explicitly selects the "start simple" option.

[2022-02-17 21:31] sixhours commented on #61178
Started working on this in D75214-code

[2022-02-17 21:33] kwight commented on #59145
@ianstewart @SaxonF Any ideas on how to start spreading the word around Calypso once we've got the MVP launched? I wonder how good or bad an idea it would be to allow users to go straight to the intent flow with existing sites. 🤔

[2022-02-17 21:40] kwight commented on #61020
This is what it looks like now, after the recent pattern changes and work. It's still a lot of whitespace at the top.

![2022-02-17 13 36 55](https://user-images.githubusercontent.com/349751/154575295-07ca68e7-b8e1-4a17-bc6c-acc8ea380546.gif)

[2022-02-17 21:52] lsl commented on #43230
Do our customers know who Automattic is? A good first step might be to `.replace("Automattic", "WordPress.com")`.

(Though I really like the extra badge up in the corner idea too)

@allilevine "Do we have this data (support, ownership) for each plugin?"

Looks like we're loading this info straight out of .org's plugin endpoints so we have what you can see on wordpress.org.

[2022-02-17 22:00] kwight opened #61216 "Hero flows: Add a direct link option to WP Admin."
For those users that "know what they're doing", let's add a direct link to the current site's `/wp-admin`.

<img width="1440" alt="Screen Shot 2022-02-17 at 1 57 29 PM" src="https://user-images.githubusercontent.com/349751/154577970-d0c8dc9f-de36-4c90-a5bc-e63100ca1ecd.png">

[2022-02-17 22:02] kwight commented on #61216
@ianstewart and I saw this in a mockup by @SaxonF and thought it was a great idea to add sooner than later – @simison any concerns about us doing this in the next few days?

[2022-02-17 22:08] kwight opened #61217 "Seller experience: Investigate adding a new PayPal block that is just the button."
Our existing PayPal block isn't just the required transaction button, but the entire layout (and having been built before blocks were really composable in patterns, the layout is not modifiable). While work is planned down the road to deconstruct the existing block, let's investigate creating a new Gutenberg block that is just the button, so that it could be used in composable patterns for commerc

[2022-02-17 22:16] lsl opened #61218 "Breadcrumbs on mobile needs redesign"
https://github.com/Automattic/wp-calypso/pull/61102 Introduced new plugin pages with extended breadcrumbs, these don't look great on mobile. We should probably just match domains here (see second screenshot where it's just showing a generic "Back" link).

https://wordpress.com/plugins/new
![Screenshot 2022-02-18 at 09-15-32 Plugins ‹ Site Title — WordPress com](https://user-images.githubuserconten

[2022-02-17 22:17] kwight opened #61219 "Signup: Site building notifications may have inconsistent styling."
While running through signup, @ianstewart noticed that we might have inconsistent styling in the site building process (maybe a different font size or shade of black).

<img width="1091" alt="Screen Shot 2022-02-17 at 2 16 02 PM" src="https://user-images.githubusercontent.com/349751/154580153-0ec1d529-ae70-45bd-be43-747484d748ab.png">

[2022-02-17 22:25] lsl commented on #61218
Might be able to fix both https://github.com/Automattic/wp-calypso/issues/61143 and https://github.com/Automattic/wp-calypso/issues/61218 with one PR to use a single header component between the two pages.

[2022-02-17 22:25] lsl commented on #61143
Might be able to fix both https://github.com/Automattic/wp-calypso/issues/61143 and https://github.com/Automattic/wp-calypso/issues/61218 with one PR to use a single header component between the two pages.

[2022-02-17 22:44] lsl opened #61220 "Plugin browser redirects needed for different site types"
Plugin browser should redirect / load differently when switching between site types.

- While on a plugin page, switching to a p2 should either redirect to home or show no plugins
- While on the paid plugin page `/plugins/paid/:site`, switching to a Jetpack site should redirect to /plugins, or at least not allow people to purchase paid plugins (unless we support this? I got the impression we don't

[2022-02-17 22:45] lsl commented on #61220
@cpapazoglou thoughts / background? I'm not sure if my assumptions here are right/wrong.

[2022-02-17 22:49] lsl commented on #60443
Closing with https://github.com/Automattic/wp-calypso/pull/61102. There is some follow ups I'd like to do but set up tickets for those on [the board](https://github.com/orgs/Automattic/projects/290/views/20).

[2022-02-17 22:50] #60443 closed, assigned to lsl

[2022-02-17 22:56] allilevine commented on #57817
Low priority for HEs for now, but needs to be addressed eventually. See p1645133818142119-slack-C029JEQRVRT

[2022-02-17 23:19] spraveenitpro opened #61221 "[Bug]: The (?) That shows up in the bottom right corner of select media page overlaps the over buttons on mobile."
### Quick summary

The `?` that shows on the mobile when selecting image from pexels, overlaps like this over other buttons:

![](https://d.pr/i/2Oqnpc+)
[Direct Link](https://d.pr/i/2Oqnpc+)

### Steps to reproduce

1. Open WordPress.com on mobile phone and login
2. Now, create a new page by clicking the compose button on top
3. Now, try to add an image block and select free image from pexels lik

[2022-02-17 23:19] cometgrrl commented on #56869
I'll make a new "on hold" column, and move it over. Also, since we are actively deciding not to work on it, I will lower the priority.

[2022-02-17 23:27] alaczek commented on #61020
I agree the amount of whitespace on mobile is excessive. I updated the pattern to use the vh units and it helped, but what I'd really like to tackle is the while space above the pattern in the header. Blockbase comes with a few header patterns to choose from:
![image](https://user-images.githubusercontent.com/4550351/154588597-72088dae-89a3-4acc-b4b6-805dc4cfe8ae.png)

Would it be at all possible

[2022-02-18 00:44] cometgrrl commented on #59977
I think @simison would be the best person to answer.

[2022-02-18 00:56] worldomonation commented on #60868
This leads a bit into another point of contention that I'm brooding over - that we should discourage any more new `flows` from being added.

Reason being:
- it makes it too easy for folks to dump everything into a `flow` instead of `component`/`page`.
- flows are a bit brittle by the nature of our UI based test.

But on the other hand, flows like `CloseAccountFlow` does an excellent job of hiding

[2022-02-18 01:05] taipeicoder commented on #53617
@autumnfjeld I agree! We've done plenty of improvements over the last days, which covers the description checklist and a bit more than that. One outstanding issue is the positioning problem reported by both @roo2 and @arthur791004. I'm thinking we can create new GitHub issue for that and track it there, and close this one in the meantime (or move it back to the backlog as it's more of an umbrella

[2022-02-18 01:16] lsl commented on #61094
Changed scope a little after investigating the situation / learning more.

[2022-02-18 02:21] donalirl commented on #59977
Asked for any context we may be missing: p1645150864876209-slack-C2LPC2EMN

[2022-02-18 02:47] #58511 closed, assigned to andres-blanco, arthur791004

[2022-02-18 03:35] #58098 closed, assigned to roo2

[2022-02-18 04:09] edwinho89 opened #61227 "Embed Block - Allow hiding site title on embedded sites"
### What

It would be nice if there's a way if we can hide site titles of embedded pages on embed blocks.

<img width="618" alt="image" src="https://user-images.githubusercontent.com/34882260/154615842-eaed23f3-fc9b-4b23-9d6f-50a06607d1aa.png">

Reported in 34255759-hc

### Why

Just not wanting the site title to stand out, as it prompts visitors to click on the site title more than the title of t

[2022-02-18 04:58] Jaykame commented on #58535
Hi there, I replicated this issue on another case here: 4789408-zen

[2022-02-18 05:18] autumnfjeld opened #61228 "☂️ [Spike]: Verticalization of images in themes, templates, & patterns"
## Description
Project Thread: pbxlJb-Y8-p2
Part of Verticals in Onboarding project

## Acceptance Criteria

Create a POC that demonstrates the following:

* Identify a vertical, a theme, and relevant images for this prototype. Note that a theme may need horizontal, square or vertical image.
* For an identified vertical, say weddings or shoe stores, search the Vertical Images Source PduBjF-5-p2 an

[2022-02-18 08:06] cpapazoglou commented on #61147
The plan is to index all plugins (wporg & wpcom) in one engine and use this engine for all of our needs to retrieve plugin data in Calypso (search, plugins list, plugin details).

For context, here is a plan pdh6GB-gc-p2#comment-617 which will utilise Jetpack search. I will be having a call with Greg next week to unwrap this. I have invited you in case you wanna attend.

The priority in the Dotcom

[2022-02-18 08:13] #61036 closed, assigned to escapemanuele

[2022-02-18 08:19] zdenys commented on #57468
Another case where this would have been very helpful and would have avoided the extra interaction with the customer 12138111-hc

[2022-02-18 08:45] vishnugopal commented on #59038
Discussion:
- We have one diff up with the content flow for WordPress mocked.
- Let's get the diff merged with the WordPress content flow.
- The other content importers are somewhat easier to do since we've done the WordPress content importer so we'll tackle this next.
- We'll try to get the WordPress migrator after that. This requires an Atomic destination site.
- Not sure how to verify and asser

[2022-02-18 08:53] vishnugopal commented on #60608
Discussion:
- Turns out after further testing that migrating a theme that does not exist on WP.COM Atomic does not work.
- The theme simply doesn't exist. More here: pcmemI-ol-p2
- Plugins seem to be fine, just themes don't seem to work.
- Even custom themes (that are not in the WPCOM directory, and just in the dotOrg repo) are not being transferred over.
- Could this be a problem with Jurassic Ni

[2022-02-18 08:59] #59976 closed, assigned to arcangelini

[2022-02-18 09:02] tyxla commented on #61221
Nice find @spraveenitpro 👍

IMHO the inline help button shouldn't overlap the button, but should still be on the page. This could be achieved with some additional padding at the bottom for mobile perhaps?

I'd also ask for @enejb's opinion on what's best to be done here.

[2022-02-18 09:12] vishnugopal commented on #60371
Discussion:
- `supportedContent` is only for Wix.
- It's also used only for logging. Do we need this data in the future? (probably not)
- This was used at some point of time to see what list of apps (widgets/blocks equivalent) are there in Wix.
- Maybe let's ignore this for now. In the future, we can have this in the future if necessary.
- So let's remove this from the frontend if possible (or mak

[2022-02-18 09:24] simison commented on #59977
There was some project at Jetpack long ago to add privacy info links to all features across the UI, but we don't have the same in WP.com.

We can keep these links hidden on Atomic sites on WP.com and visible for Jetpack sites.

![image](https://user-images.githubusercontent.com/87168/154654699-9432f970-c89c-408a-bd4d-565aea11eb02.png)

@arcangelini I understood what this is about only when I saw t

[2022-02-18 09:27] escapemanuele opened #61231 "Welcome Tour: Show FSE slide if in Site Editor"
With PR [61157](https://href.li/?https://github.com/Automattic/wp-calypso/pull/61157), we made so that a user will see only the wpcom Welcome Tour, and not both the Welcome Tour and the core Welcome Guide) when entering the site editor.

What we want now is to add a slide to the wpcom Welcome Tour, to promote FSE now that the core Welcome Guide is gone.
We might reuse the content from the wpcore g

[2022-02-18 09:32] arthur791004 commented on #59568
This is CSS Tidy Related issue

[2022-02-18 09:33] mmtr commented on #60965
Nice catch @DustyReagan! I'll create a new diff to handle that.

I also noticed that we need to sync the purchases data after an Atomic transfer, which will be covered on a new diff as well.

[2022-02-18 09:42] arthur791004 opened #61232 "Additional CSS: CSS Tidy related issues"
### Details

CSS Tidy doesn't support following features
* gap
* touch-action
* custom properties (CSS variables)
* `@import`

Here are the issues related to CSS Tidy

* https://github.com/Automattic/wp-calypso/issues/50145
* https://github.com/Automattic/wp-calypso/issues/45409
* https://github.com/Automattic/wp-calypso/issues/61180
* https://github.com/Automattic/wp-calypso/issues/59568
* https:

[2022-02-18 09:46] arthur791004 commented on #59568
This is CSS Tidy Related issue.

Close it as duplicate with https://github.com/Automattic/wp-calypso/issues/45409

[2022-02-18 09:46] #59568 closed, assigned to nobody

[2022-02-18 10:12] Jaykame commented on #39956
Replicate same issue: 4789584-zen

[2022-02-18 10:41] carinapilar opened #61237 "View Page Links Stopped Opening on New Tab"
### Quick summary

When you publish a new post or page, the View Page link doesn't open the content on a new tab.

### Steps to reproduce

1. Start a new page or post
2. Publish the content
3. Click on the View Page link while holding Cmd/Ctrl

### What you expected to happen

To open the new page/content on a new tab. This was recently working, and it stopped for some reason.

### What actually h

[2022-02-18 10:49] cpapazoglou commented on #56238
@dlind1 we will no be shipping Checkout Field Editor in the marketplace.

Table Rate Shipping is already included though, are the translations resolved by now? Can we close this issue?

[2022-02-18 10:51] carinapilar commented on #38441
I'm not sure why this was closed, it also happens with Twitter embeds, which isn't related to the other GH issue.

The Center alignment option isn't working, and it seems that the only workaround is using CSS, which won't be available on Free and Personal sites. To replicate this, you can add a Twitter link to a page, and try to change its alignment using the following options on the block:

![Twi

[2022-02-18 11:35] #59753 closed, assigned to epeicher

[2022-02-18 11:59] aleone89 commented on #60469
Another report hc-34089789

[2022-02-18 12:33] dlind1 commented on #56238
Yes, closed.

[2022-02-18 12:33] #56238 closed, assigned to dlind1

[2022-02-18 13:46] cpapazoglou opened #61249 "Marketplace: add FedEx Shipping Method and WooCommerce One Page Checkout"
- [x] Adding in `store_products`. Prices can be found in the spreadsheet of next woo extensions (Pdh6GB-2Y-p2)
- [x] Adding in `https://public-api.wordpress.com/wpcom/v2/marketplace/products` endpoint (`featured: false`)

We will need plugin icons from the design team.

@emmnyc85 can we add tags for each a8c plugin in the google sheet?

Documentation: PCYsg-AhH-p2

[2022-02-18 15:26] zdenys commented on #56688
This is affecting many other themes:

- https://github.com/Automattic/themes/issues/4519
- https://github.com/Automattic/themes/issues/2806
- https://github.com/Automattic/themes/issues/5565

[2022-02-18 15:56] cpapazoglou commented on #43230
That's an interesting perspective. And I would agree. I would tend though to keep some source of truth like wordpress.org uses `Automattic`. The badge though can certainly reference `WordPress.com` like `WordPress.com Pick` or `Curated by WordPress.com`

[2022-02-18 16:42] mdrockwell opened #61257 "Support the Funding and Value Tags in our Podcasting Features"
### What

Add support for the [Funding](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#funding) and [Value](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#value) tags in our podcasting feature.

### Why

Donations is a great way for podcasters to earn revenue from their work, but at the moment the only way to facilitate that is to add links

[2022-02-18 16:44] dpasque opened #61258 "Playwright: Replace config with env vars, only encrypt secrets and accounts"
### Details

Right now, the configuration set up for E2E testing is a bit confusing for a couple reasons...
1. It is split between ENV variables and config files
2. The config files often confuse people in how they work together and how to combine them to get the desired configuration
3. The config files are full of unused, undocumented properties
4. We have to do semi-gross things in the TeamCity

[2022-02-18 17:32] dpasque commented on #60868
Yeah, the flows are a tricky area for sure! I agree that they can be wayyyy overused, which is just unhelpful! I do think that the editor might be one area where they are useful though because there's a lot of common re-used actions in the editor that might be used across a lot of different specs

[2022-02-18 18:16] carinapilar commented on #39956
Another case on 4790028-zd-woothemes

[2022-02-18 18:44] nelsonec87 commented on #61017
D75294-code for setting the option.

[2022-02-18 19:13] dpasque commented on #56753
Fixed!

[2022-02-18 19:13] #56753 closed, assigned to dpasque

[2022-02-18 19:27] worldomonation commented on #61258
If we ditch `config`, it would likely affect how `DataHelper` obtains values from the decrypted and public configuration files. Would there be a safe-ish replacement for it?

[2022-02-18 20:19] Rolilink opened #61264 "Move spotlight component into Paid list"
https://github.com/Automattic/wp-calypso/pull/61185#discussion_r809622650

@SaxonF: Are we able to move this under the "paid" list? (previously called featured).

Not so sure about the difference between the "Premium" and "Paid" lists

[2022-02-18 20:19] Rolilink opened #61265 "Add documentation to the Spotlight component"
https://github.com/Automattic/wp-calypso/pull/61185#discussion_r810106039

Can we please create:
- a README.md
- an `example.tsx` inside a docs folder
- add the component in `client/devdocs/design/index.jsx` so that it's visible in https://wpcalypso.wordpress.com/devdocs/design

you can use as a guide the `breadcrumb` component
https://github.com/Automattic/wp-calypso/blob/831b4c593e979f6b214724ff

[2022-02-18 20:19] Rolilink opened #61266 "Add tracking events to the Spotlight component"
https://github.com/Automattic/wp-calypso/pull/61185#discussion_r810112392

Since we are creating this new shiny component, I think it would worth also adding some track events for users who have clicked through it. This way we can measure the performance (click through rate) and run A/B tests later.

An example can be found here
https://github.com/Automattic/wp-calypso/blob/0178a4ae1aa2031071dc846

[2022-02-18 20:24] dpasque commented on #61258
Yeah, for sure!

So in this case, we would only be left with one decrypted file (as there's no public configuration anymore).

What I would recommend we do is create a typing to reflect the structure of that decrypted JSON file, and a file/module to wrap fetching those values from configuration. We could also include some existence and type checking on startup like we do with our ENV variables!

[2022-02-18 20:35] SaxonF commented on #61264
@Rolilink i believe they are the same :D I think it's "paid" in code and Premium as the title

[2022-02-18 20:40] Rolilink commented on #61264
Oh I was confusing "Premium" and "Featured" nvm that is quickly addressable! gonna close this one

[2022-02-18 20:40] #61264 closed, assigned to nobody

[2022-02-18 22:19] the-misha commented on #60469
Another report: 20166877-hc

User would like to be contacted when this is resolved.

[2022-02-18 22:49] #61167 closed, assigned to mattwiebe

[2022-02-18 23:39] worldomonation opened #61272 "Flaky E2E: Add Heading"
### Spec file

specs/editor/editor__post-basic-flow.ts

### TeamCity ID

7429305

### Logs

Link: https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_Playwright_desktop/7429305?showRootCauses=false&expandBuildChangesSection=true&expandBuildTestsSection=true

Logs:
[code]

[2022-02-18 23:44] worldomonation opened #61273 "Flaky E2E: Set page visibility to Private"
### Spec file

specs/editor/editor__privacy-private.ts

### TeamCity ID

7435456

### Logs

Link: https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_Playwright_mobile/7435456?showRootCauses=false&expandBuildTestsSection=true&expandBuildChangesSection=true

Logs:
[code]

[2022-02-19 00:01] #27512 closed

[2022-02-19 03:02] jessie-ross opened #61291 "[Bug]: Fatal error after upgrading to WC"
### Quick summary

Using the Calyso left-side menu "WooCommerce" link, I upgraded my Premium site. After the upgrade it left me in this state:

<img width="1727" alt="Screen Shot 2022-02-19 at 10 56 13 am" src="https://user-images.githubusercontent.com/971886/154783638-c324b23b-0e30-4bcf-878e-f4901a2a349a.png">

After refreshing the page things seem to be working.

See also this slack thread: p164

[2022-02-19 03:21] rw-ye commented on #44844
User asked about this here 4754839-zd-woothemes

[2022-02-19 07:37] zdenys commented on #56294
4793293-zd-woothemes

[2022-02-19 12:23] Robertght commented on #60858
This sounds very similar to this: https://github.com/Automattic/wp-calypso/issues/51787 or at least a potential cause.

cc @Greatdane @kwight

[2022-02-19 12:28] Robertght commented on #33077
@aneeshd16 I can see this has resurfaced since it was fixed last year. Should we open a new issue instead or keep this one going here?

[2022-02-19 13:29] eduardozulian opened #61292 "Lovecraft Theme: Items missing from entry meta on small screens"
### Quick summary

On Lovecraft, we always hide the 3rd element from the post meta section if the screen size is smaller than 600px. Checking the theme demo, the 3rd element is always a category, if categories are added to a post.

<img width="771" alt="Screen Shot 2022-02-19 at 09 57 41" src="https://user-images.githubusercontent.com/1136160/154802529-2398d049-feb9-41fb-bfd7-18356b47161e.png">

T

[2022-02-19 13:55] zdenys opened #61293 "Plans: Pro-rated credits notice should include a link to the public support page/worded differently."
### What

The pro-rated credits notice should be improved and include a link to the public support page. This would be in line with this project: p58i-bTH-p2

### Why

The current message about pro-rated credits is not clear enough:

[code]

It's not clear which upgrade it refers to. We HEs know it's only applicable to plans. Some users are confused about this and reach out in chat and tickets to

[2022-02-19 13:55] zdenys commented on #61293
4793346-zd-woothemes

[2022-02-19 14:33] zdenys commented on #61167
I've asked in p1645281008673749-slack-C029FM1EH if they can update this public-facing page: P2gHKz-nDl-p2 to include the above change. I'm not sure if that falls under your tasks though, so I thought I'd ping here just in case.

[2022-02-19 14:58] kspilarski opened #61294 "Gutenberg: Flowchart and Graph block"
### What

Add flowchart / diagram and graph blocks.

### Why

It's possible to add flowcharts and graphs using a plugin, image, document or link to the file. But it's currently not possible to create a flowchart or chart within the block editor, as there are no blocks available to create them. It'll be useful to display workflows visually, family trees, or something similar.

### How

<img width="

[2022-02-19 16:54] freelylovinglife commented on #56960
Find a report here that is still not resolved ZD - 4765045

[2022-02-19 16:58] thekingsprojects commented on #50306
Another case in 31160552-hc . Atomic site, gallery contains about 83 images.

I mentioned adding a second gallery as a workaround. User also mentioned that the error happens when trying to rearrange images more than one space at a time.

Error text from "Copy Error":

[code]

They'd like to be notified when this is resolved.

[2022-02-19 17:32] arunsathiya commented on #60748
4793467-zen.

I ran into a similar error when uploading Elementor Pro but it said `An error occurred while installing the plugin` along with `Upload problem: unknown` at the top right. Trying again showed `Upload problem: 403`. I may have soiled the test site because I have already installed Elementor Pro on this site using CLI.

@gavande1, for future reference, could I save any logs to help you t

[2022-02-19 19:26] sstabrizi opened #61295 "Pasting text from Microsoft Word creates an Image block instead of text in a Paragraph Block"
### Quick summary

I've had multiple reports (2) that pasting text from Microsoft Word generates an Image Block instead of pasting the text into the Paragraph Block.

### Steps to reproduce

I'm in chat so I've been unable to test.

### What you expected to happen

The text should have been added as text in a paragraph block.

### What actually happened

When pasting the test shows up as an image

[2022-02-19 20:05] carinapilar opened #61296 "Stewart: Archive Page Isn't Filtering By Tag/Category"
### Quick summary

The archive page on the Stewart theme is showing all posts, not filtering by tag/category.

### Steps to reproduce

1. Activate the Stewart on a site with a couple posts, in different tags or categories
2. Check an archive page - a tag or category page

### What you expected to happen

The archive page should show posts only from the specific category/tag.

### What actually hap

[2022-02-20 02:20] tanjoymor commented on #60724
Another case here 4792060-zen
I've also run into this issue on my own sites.

[2022-02-20 03:37] mriyazuddin opened #61297 "Calypso Media Library (Simple sites only): Unable to edit images, "We were unable to process this media item""
### Quick summary

On a simple site, using Spearhead theme and trying to edit an image results an error saying `We were unable to process this media item`. The error occurs while editing the image within a post as well as directly in the Media library. I was able to duplicate this issue on a test site as well. Upon checking the browser inspector I'm seeing Console errors.

![image1](https://user-i

[2022-02-20 03:58] Gustavo-Hilario opened #61298 "Blog Posts block: "Read More" link doesn't have CSS customization"
### Quick summary

When adding the `Blog Posts block` and enabling the `Read More` link, you will see the button design correctly on the editor, but once the page is published or if we can the preview, we will see that the customization isn't being applied.

### Steps to reproduce

1. Create a new page or post.
2. Add the `Blog Posts` block there.
3. Enable the `Show "Load more posts" Button` opti

[2022-02-20 06:02] ahmadbaig1 commented on #58535
Another one here- 4794713-zen

[2022-02-20 07:21] formosattic opened #61299 "Jetpack Backup: Streamline progress bar view"
### What

When a Restore is triggered under Backup, the progress bar shows more details, especially during the Streaming files stage, where it shows which file is processed.

### **Backup > Restore**

* Shows which file is processed
* Clearer messaging on how notification will happen

![Backup > Restore](https://user-images.githubusercontent.com/15944096/153744368-7c08034a-1de9-4783-8249-3d6a2ce2a

[2022-02-20 07:32] rw-ye commented on #51787
4759636-zd-woothemes user reported again:

[code]

[2022-02-20 07:53] retnonindya commented on #58937
This issue appears on this ticket:
4794666-zd-woothemes

There was a discussion about this behavior on Slack, and on the Slack thread, holding the key Command + A stopped the flickering. Also, the link on the Twitter widget is a no-longer-active Twitter account (hence, render as invalid.)

[2022-02-20 08:38] dolgelukkig opened #61300 "Add a confirmation email to the Subscription block when a user cancels their subscription"
### What

The user offers dance classes using the subscription block and is requesting the option that their subscribers receive a confirmation email when they cancel the subscription.
4794240-zen

### Why

It can be confusing to subscribers whether they are actually unsubscribed or not.

### How

A confirmation email is being sent when a user subscribes so why not have an email being sent automat

[2022-02-20 09:34] fresatomica commented on #61295
We've seen numerous reports of this on the forums: https://wordpress.com/forums/topic/pasted-text-becomes-image/?view=all.
https://wordpress.com/forums/topic/pasting-text-from-microsoft-word/

I tested this on MacBook but was unable to reproduce, not sure if it's something that only happens on Microsoft.

[2022-02-20 10:37] kspilarski commented on #39956
Same case in 4795977-zd.

[2022-02-20 11:57] fresatomica commented on #61295
Another report from the forums: https://wordpress.com/forums/topic/pasting-text-from-a-word-document-with-hyperlinks/?view=all

[2022-02-20 12:37] mzitinfo commented on #52591
Hi, for me this option does not appear from the single themes view either, for those themes that are affected. (I suspect this change only happened recently)

![Bildschirmfoto von 2022-02-20 13-21-26](https://user-images.githubusercontent.com/9356132/154842679-82eebba4-fffe-45f9-8479-96336d82c8cf.png)

Also, the option seems to be missing not just from recommended themes, but also for older ones (

[2022-02-20 13:22] rickmgithub commented on #51787
Case here - 4795669-zd

They provided a screenshot of the repeat emails.

[2022-02-20 14:12] ccwalburn commented on #60062
This user wants to be notified when this is resolved. 4684463-zen

[2022-02-20 14:25] ccwalburn commented on #56960
Noting that #58098 was fixed and closed but it appears that it only resolved the issue with the bookmarklet .
There is still an outstanding issue with the sharing button for **Press This** as reported here: 4765045-zen

[2022-02-20 16:43] philnick206 opened #61301 "Cubic theme: Categorey not showing on post"
### Quick summary

There seems to be inconsistent behavior of categories displaying (or not displaying) on posts on Cubic.

For example, when I have just the Uncategorized category set, no category is shown:
![CleanShot 2022-02-20 at 16 39 12](https://user-images.githubusercontent.com/51966986/154853611-7fc4420d-ea72-4290-8078-30aadf8458c8.png)
![CleanShot 2022-02-20 at 16 39 33](https://user-imag

[2022-02-20 18:08] jp-imagines commented on #52182
Another report in 4796753-zd-woothemes with the (retired) Puzzle theme.
I wasn't able to replicate on my end, but the user provided a screenshot of this error. Asked them to try zooming in/out in their browser.

[2022-02-20 19:43] jordesign commented on #61018
This probably needs to be transferred to the Themes GH repo - but I'm just pinging for a gut check.
p1645386161641019-slack-C029FM1EH

[2022-02-20 19:52] freelylovinglife commented on #60372
Issue happening with recent comment widget with this user: ZD-4794738

[2022-02-20 20:17] paxblueribbon commented on #61297
hc33978495 seeing this with the Apostrophe 2 theme as well.

[2022-02-20 20:27] jp-imagines opened #61302 "Query Loop meta/theme blocks: add option to display relevant fonticons"
### What

There are a handful of different theme/"meta" blocks that can be added to a Query Loop:

- Post Author/Post Author Name
- Post Date
- Post Categories/Post Tags

These display the relevant information in plain text (plus a Gravatar for the Post Author block) for each post. This same information is often displayed on the posts themselves and, depending on the theme, may also have an accomp

[2022-02-20 20:58] lsl commented on #61147
LGTM, sounds like a solid plan.

3.30 am my time but thanks for the invite! Looks like a few other explorers will be joining you.

[2022-02-20 21:24] ktyfuller604 opened #61303 "Tag Cloud: Rowling Default Settings not a Cloud"
### Quick summary

The tag cloud block does not show as a word cloud on the Rowling theme. It applies the Outline style instead.

### Steps to reproduce

1. Activate the Rowling theme on a Simple Site
2. Add a Tag Cloud block to the widget area
3. Review live site

### What you expected to happen

A tag cloud where different tags are different sizes based on the number of times the tags are used.

[2022-02-20 21:59] ktyfuller604 commented on #50132
Another request from someone with 4000+ followers here: 4796654-zen

[2022-02-20 22:10] p-jackson commented on #53617
With #61230 it looks like everything in this list has been addressed 🎉
If I'm right then feel free to close this one @taipeicoder 💪

[2022-02-20 22:51] ktyfuller604 commented on #55175
Had a report similar to this (bio was not updating). Same fix in CLI resolved the issue.

4789640-zen

[2022-02-21 01:24] #53617 closed, assigned to taipeicoder

[2022-02-21 01:31] autumnfjeld opened #61305 "☂️ [Spike]: Verticalized text in themes, templates, patterns"
## Description
Project Thread: pbxlJb-XO-p2
Part of Verticals in Onboarding project
This is lower priority than #61198 #61228 -- and likely those two pieces of work are needed before the verticalized text feature can be designed.   This may be as much of designing a data flow as a code task.

## Acceptance Criteria

Create a POC that demonstrates the following:

* Identify a vertical, a theme, and

[2022-02-21 02:32] roo2 commented on #56239
When I retested this it appeared that the endpoint was returning correct results, but the front end just wasn't handling the data yet. (tested a simple site with likes disabled sitewide)

I've created a fix and will also check atomic sites and sites with likes on a single page disable

https://github.com/Automattic/wp-calypso/pull/61306

[2022-02-21 03:33] Greatdane commented on #39956
Bring over reports from duplicate issue:

4792060-zd-woothemes
34248460-hc

[2022-02-21 03:34] Greatdane commented on #60724
Closing in favor of https://github.com/Automattic/wp-calypso/issues/39956

[2022-02-21 03:34] #60724 closed, assigned to nobody

[2022-02-21 03:36] Greatdane commented on #39956
Another report: 4796756-zd-woothemes

[2022-02-21 04:16] syhussaini commented on #56559
I am also experiencing the same issue 4795169-zen when hovering over the **Carousel** block. All other blocks work fine.

* Tried to add other blocks and found them working without any issues.
* Disabled the "Gutenberg plugin" to see if that helps. Still getting the same error.

Please see ticket 4795169-zen for the video of the activity.

[2022-02-21 04:21] taipeicoder commented on #61192
Tracking my progress here:

- [x]  Understand how headstart works,  so that you can start to understand the cons of using headstart as described in pNEWy-eFy-p2
- [x] Understand the anatomy of a TT2 (Twenty Twenty Two) theme, e.g. home template
- [ ] Understand how TT2 is different than previous themes (block base, universal, classic)
- [ ] Understand Phil's comment:  "Using the `headstart_source_

[2022-02-21 04:43] arthur791004 commented on #55021
Yes, I think we can close this issue as we redirect to Hero Flow after onboarding flow. If the user picks the paid domain, the URL of Hero Flow will use `siteId` rather than `siteSlug`. So, we can always fetch the correct site data no matter the `siteSlug` is changed or not.

[2022-02-21 06:59] Greatdane commented on #60469
Setting this to high priority based on the number of affected users.

[2022-02-21 08:30] sharonlaker19 commented on #61295
Another report at 31592894-hc, shared the recommended workarounds.

[2022-02-21 09:42] kingsleyinfo commented on #58535
Another one here 4798290-zen

[2022-02-21 09:59] mrfoxtalbot opened #61312 "Live Chat Support only partially available during Checkout"
### Quick summary

Users can access live chat support while they are in the checkout screen. They have two options for this, but only one of them takes them to chat. The other ones takes them to async support:

The **Need Help? Chat with us** text is a link (which is not entirely clear itself). Clicking on it WILL open Happy Chat:

![Screen Shot on 2022-02-21 at 10:59:39](https://user-images.githu

[2022-02-21 10:00] janmckell opened #61313 "FSE: Streamline the toggles in the block editor settings"
### What

There should be some consistency in the buttons used to toggle the options in the settings for Blocks.

There are three types of toggles:

![fse_testing_2](https://user-images.githubusercontent.com/84089207/154930112-5eaf79cc-c219-4318-945f-f2bae1bbef7c.jpg)

1. down chevron
2. plus sign
3. three vertical dots

### Why

It is not intuitive. How can a user visually know the reason for thr

[2022-02-21 10:05] cpapazoglou commented on #59397
I think we should be calculating the discount and price difference dynamically for each product.

[2022-02-21 11:06] escapemanuele opened #61315 "Stepper Flow: Rename intent-screen package to onboarding-components"
### What

We created the `intent-screen` package in [PR 61240](https://github.com/Automattic/wp-calypso/pull/61240).

Concern about the package naming has been raised [here](https://github.com/Automattic/wp-calypso/pull/61240#discussion_r810960027), so we should rename the package from `intent-screen` to `onboarding-components`.

[2022-02-21 11:08] escapemanuele opened #61316 "Stepper Flow: Add tests to intent-screen package"
### What

The new `intent-screen` package (to be soon renamed `onboarding-components`) needs some basic tests

[2022-02-21 11:09] escapemanuele opened #61317 "Stepper Flow: Expand the intent-screen README"
### What

The `intent-screen` package README has almost nothing in it at the moment, we should expand it a little to show how to use it

[2022-02-21 11:10] mmtr commented on #60965
Just created D75328-code which should cover the remaining scenarios.

[2022-02-21 11:38] #59734 closed, assigned to gavande1

[2022-02-21 12:18] xuexue28 commented on #60469
Another report here: 4789672-hc

[2022-02-21 12:24] cpapazoglou commented on #61249
@SaxonF can we generate icons for all upcoming woo extensions?

[2022-02-21 12:39] tyxla opened #61318 "Reader: Improve keyboard navigation accessibility"
### Quick summary

While reviewing #61112, @pento noticed that there are several accessibility issues with keyboard navigation around the reader.

This issue quotes @pento's thoughts from https://github.com/Automattic/wp-calypso/pull/61112#pullrequestreview-883931745.

### Steps to reproduce

When tabbing through tab-able elements in the reader list view, those elements can only be triggered by pr

[2022-02-21 12:45] gcsecsey commented on #60713
Probably the notice is shown because of the domain change, when transferring the site to atomic. We could follow-up with Yoast whether in this case, it's correct to show this notice, and if so, whether we can automate running this process.

[2022-02-21 13:02] gcsecsey commented on #60714
We've discussed on the Backlog Grooming session, that looking at the Yoast source code, it checks the `ignore_search_engines_discouraged_notice` WP option. We could enable this option when a site is set to Coming Soon mode, to make the notice disappear.

[2022-02-21 13:50] BogdanUngureanu opened #61319 "[Bug]: Pay with Paypal block: Block not saved in Widgets in Customizer"
### Quick summary

When adding a new Pay with Paypal block in the Site Editor and in Widgets page, the block does not appear after the user updates the page.

### Steps to reproduce

1. Go to Appearance > Customizer > Widgets
2. Add a new Pay with Paypal block and press Save
3. Go to the front-end and notice that the block is not displayed
4. Go to the editor and refresh the page. The block appear

[2022-02-21 14:50] #60809 closed, assigned to escapemanuele

[2022-02-21 15:17] Rolilink opened #61323 "Prevent yost premium WPCOM plugin network call for non a11n"
https://github.com/Automattic/wp-calypso/pull/61185#discussion_r810721196

[2022-02-21 16:24] filipanoscampos opened #61326 "Form Block: Drag "Select" Items to rearrange them"
### What

When a user adds a Form Block with the option to have a drop down with options visitors can select (Select), to change the items the user has added they need to delete them or edit them, but there is no option to rearrange them:
![Screen Capture on 2022-02-21 at 16-20-41](https://user-images.githubusercontent.com/2540430/154993327-11cfc154-08b4-46ed-83bd-d381a2c154bd.gif)

### Why

Some

[2022-02-21 16:36] #59757 closed, assigned to arcangelini

[2022-02-21 16:50] JoshuaGoode opened #61327 "Feature Request: Hide Activity Log theme update notices for managed themes on WPCOM Atomic"
### What

Hide update notifications in the Jetpack Activity Log for managed symlinked themes on WordPress.com Atomic sites.

WPCOM Atomic already hides these notifications on the individual theme management page and updates page.

Examples:

* `/wp-admin/themes.php?theme=twentyseventeen`
* `/wp-admin/update-core.php`

However, the Jetpack Activity Log will continue to log update notices when a ver

[2022-02-21 16:50] JoshuaGoode opened #61331 "Atomic Activity Log / Themes: Hide Activity Log theme update notices for managed themes"
### What

Hide update notifications in the Jetpack Activity Log for managed symlinked themes on WordPress.com Atomic sites.

WPCOM Atomic already hides these notifications on the individual theme management (`/wp-admin/themes.php?theme=twentyseventeen`) and updates (`/wp-admin/update-core.php`) pages.

However, the Activity Log will continue to log update notices when a version change is detected.

[2022-02-21 16:51] JoshuaGoode commented on #61327
I guess this is more of a bug so flipping it from a feature request to a bug and moving to Jetpack for review.

[2022-02-21 16:51] mxhassani opened #61328 "Feature Request: Social Links Block - Add custom social icon option"
### What

Social Links Block is limited to preset icons. What about adding an n+1 option to add a custom icon?

### Why

1- I just got a user in chat asking about adding an IMDB icon to the block. 34270343-hc
2- We have an open request to add a number of icons to the preset.

We can't include all icons but making it open-ended could add value to the block.

### How

We could add it to the end of t

[2022-02-21 16:57] BogdanUngureanu opened #61329 "[Bug]: Donations block: Editor Undo button is not working"
### Quick summary

When adding a new Donations block, the Undo button is not working.

### Steps to reproduce

1. Add a new Donations block
2. Press the Undo button
3. Notice that Donations block is not removed.

### What you expected to happen

The Undo should remove the Donations block.

### What actually happened

Nothing happens

### Context

_No response_

### Browser

_No response_

### Simp

[2022-02-21 17:37] sixhours commented on #61178
Fixed in D75214-code

[2022-02-21 17:37] #61178 closed, assigned to sixhours

[2022-02-21 18:17] #61017 closed, assigned to nelsonec87

[2022-02-21 18:23] #61214 closed, assigned to andres-blanco

[2022-02-21 18:53] blackjackkent opened #61339 "Spike: Redesign/improve UX for Seller Experience signup flow/email verification"
### What

Per discussion at p1645135600149819-slack-C0Q664T29, we need to clean up the user experience for users who are completing the Seller Experience signup flow following the WooCommerce path.

### Why

Specifically, when the user is required to verify their email as part of the Woo signup process, that verification ejects them out of the flow into a new tab and gives no obvious way of gettin

[2022-02-21 19:01] andres-blanco commented on #50560
The first batch of fixes was just run.

paYKcK-1lq-p2

[2022-02-21 19:04] Addison-Stavlo commented on #60723
Probably safe to close this now. 😁

[2022-02-21 19:04] #60723 closed, assigned to Addison-Stavlo

[2022-02-21 19:18] #58509 closed, assigned to nobody

[2022-02-21 19:29] WBerredo commented on #57749
Changeset deployed at WP.com: r240456-wpcom

[2022-02-21 20:54] lsl opened #61342 "Plugins error page to handle 404s"
This plugin 404's

https://wordpress.com/plugins/hide-wp-admin-wp-login-php/

- [ ] We should have some kind of plugins error page to handle failure modes like this.
- [ ] We should track these errors in tracks
- [ ] These errors shouldn't result in a wsod

![Screenshot 2022-02-22 at 07-55-11 Plugin — WordPress com](https://user-images.githubusercontent.com/811776/155025217-98106d5f-e646-4dc3-bdd5

[2022-02-21 20:54] lsl opened #61343 "Plugin won't load"
This plugin 404's, guessing due to the name somehow.

https://wordpress.org/plugins/hide-wp-admin-wp-login-php/

![Screenshot 2022-02-22 at 07-55-11 Plugin — WordPress com](https://user-images.githubusercontent.com/811776/155025217-98106d5f-e646-4dc3-bdd5-c34070a23189.png)

This issue should track fixing the plugin loading, I've created a separate issue to add a 404 page. https://github.com/Automa

[2022-02-21 20:58] markbiek opened #61344 "[Bug]: Incorrect module path in the Hello-World section example"
### Quick summary

Following the [Hello World guide](https://wpcalypso.wordpress.com/devdocs/docs/guide/hello-world.md).

At Step 5, setting the module path to `my-sites/hello-world` as per the tutorial causes the following error:

### Steps to reproduce

1. Follow the initial guide steps 1 - 4 to setup the "Hello World" section controller and route.
2. Add the following to the end of the `section

[2022-02-21 20:59] lsl opened #61345 "Add 1040 maxwidth to woo landing page footer section"
The footer section should match the max-width with our other pages. This will also align with the header text at the top of the page.

![Screenshot(69)](https://user-images.githubusercontent.com/811776/155025758-dab20e83-4799-4f77-b2a5-d38e15eada82.png)

- [ ] Add 1040 maxwidth to woo landing page footer section

p1645441249043699/1643696370.245229-slack-C02PMG4B19P

[2022-02-21 21:15] zaguiini commented on #60110
It looks like we're throwing away all information about the filled slot after clicking another item and that's why we're losing our override. The plugin is _registered_ even after clicking on `Templates`:

![image](https://user-images.githubusercontent.com/26530524/155026794-20823397-76a2-4649-b002-7c350fc9d4d3.png)

Being registered does not mean it's being rendered. It looks like we're causing s

[2022-02-21 21:20] markbiek opened #61347 "[Bug]: Issue with feature flag config in the Hello World section example"
### Quick summary

While working through https://wpcalypso.wordpress.com/devdocs/docs/guide/hello-world.md I ran into the following issue.

In Step 5 where you register the new section by adding

`const config = require('@automattic/calypso-config').default;`

to the top of `client/sections.js` which causes the following error on `yarn start`:

@noahtallen found [this section in webpack.config.js]

[2022-02-21 22:27] zaguiini commented on #60110
@diegohaz @sarayourfriend I see your names all over the slot implementation 😅  Maybe you could have more information on why ☝️  is happening and how to fix it?

[2022-02-21 22:51] mxhassani commented on #61295
Two other cases:
4799135-zen (< Predef here)
34291775-hc

### Another workaround would be to use the Classic block
it supports formating as expected.

[2022-02-21 23:21] #60164 closed, assigned to autumnfjeld

[2022-02-21 23:35] roo2 commented on #61198
I'm trying to confirm how exactly we define a vertical, for block based themes, would they also potentially define content for different template parts or block patterns defined by the theme?

I'm looking at [twentytwentytwo theme](https://github.com/WordPress/twentytwentytwo) and trying to make sense of it, it looks like we would have to update some patterns, for example, here the blog headline [

[2022-02-21 23:57] devNigel commented on #39956
Another report: 29620850-hc
Follow up: 4800911-zen

[2022-02-22 01:05] autumnfjeld commented on #61198
@roo2  This is how I am thinking about verticals at this _ early stage_:

* The existing block based themes in the DP (at wordpress.com/start/setup-site?siteSlug=somesite.wordpress.com ) are not really tailored to any vertical, they are super generic.   If someone picked "car racing association" or "restaurenat" most of the existing block based themes don't make sense
* Thus we know work will need

[2022-02-22 01:37] hacchism commented on #61295
Another report in 32252137-hc. Shared the recommended workaround.

[2022-02-22 01:53] roo2 opened #61350 "☂️ [Spike]: Verticalize starter content (headstart)"
## Description
As part of the verticalization in onboarding (build flow) we want to start understanding the technical aspects of copy injection into Block Patterns. PT: Verticalized text in themes & patterns: pbxlJb-YI-p2

## ToDo
- [x] Find out the background and approach that Mikeal and others invisioned for creating starter content for FSE themes pNEWy-eFy-p2
- [ ] Decide if we want to use head

[2022-02-22 02:21] #52289 closed, assigned to fushar, StefanNieuwenhuis

[2022-02-22 02:29] autumnfjeld commented on #60170
* Non-latin characters in thumbnails is an mShots issue, which requires 1) getting mShot works on new Apple M1 2) fixing the actual font issue in mShots @p-jackson  will create follow up issue or describe specifically in the comments here
* won't fix query block specifically, it will be absorbed into the Verticals work

[2022-02-22 03:20] marutim commented on #58599
Another report here: 34318181-hc

[2022-02-22 04:10] autumnfjeld commented on #52289
@fushar Adding tracking events is not to measure a before/after with regards to that PT.  Instead we're just wanting to observe how many users pick Blank Canvas vs other themes when they go through the /new site creation flow.

In general we hope that we present interesting themes for the user, so if a significant number of users are picking blank canvas instead of one of the offered themes, we kn

[2022-02-22 04:53] Greatdane commented on #61213
Another report: 4800974-zd-woothemes

[2022-02-22 05:05] p-jackson opened #61351 "[Bug]: Non-latin characters in Design Picker thumbnails appear as squares"
### Quick summary

Some thumbnails appear to be translated, but the text rendering is broken in non-latin scripts. E.g. Quadrat Red in Japanese

<img width="615" alt="Screenshot 2022-02-22 at 5 58 05 PM" src="https://user-images.githubusercontent.com/1500769/155065936-94626552-40dd-4a79-981c-1de7bba3acc1.png">

Interestingly, not every Quadrat variant is broken 🤔

### Steps to reproduce

1. Switch

[2022-02-22 05:07] p-jackson commented on #60170
Crossed out the last two remaining tasks.

[2022-02-22 05:07] #60170 closed, assigned to p-jackson

[2022-02-22 05:30] jordesign commented on #56157
I've opened this up as a core Gutenberg issue - as recommended by @simison
https://github.com/WordPress/gutenberg/issues/38973

[2022-02-22 05:30] #56157 closed, assigned to nobody

[2022-02-22 05:58] lsl commented on #60661
Do we need this sync? I was thinking we could disable the Woo extension page on wpcom unless they already have a wccom extension installed.

Main reason is to reduce confusion with the wpcom marketplace because the extension page funnels users to woocommerce.com which is not what we want.

It also needs to be disabled for woo's usage on limited atomic as those users can't install plugins via the p

[2022-02-22 06:48] autumnfjeld commented on #51787
Hi @DanAntion .  On Feb 7 we shipped a fix that we believe will address this dropped blog subscribers issue.  We found that in some cases where a user is logged out, and then logs in while on your page,  a call to unFollow was unintentionally called.  We fixed that, and also add more logging so we can more easily track the series of events that occur around login and follow/unfollow actions.

We h

[2022-02-22 07:08] autumnfjeld commented on #60858
@paxblueribbon. Thanks for reporting this.   What we have been tracking in #51787 is related to the action of following, not commenting.   We recently submitted a [fix for the follow widget.](https://github.com/Automattic/wp-calypso/issues/51787#issuecomment-1047476745)  Also see pbxlJb-UZ-p2#comment-1128

If we are seeing issues strictly related to user being dropped from a blog after making a co

[2022-02-22 08:24] cpapazoglou opened #61352 "Marketplace: hyperlink on split-lines cuts mid-word"
**Steps to reproduce**
- Visit `https://wordpress.com/plugins/wordpress-seo`
- Click **FAQs**
- Observe how blue word gets hyphenated and split properly while all the yellow words, mid-link get abruptly sp
lit

![image](https://user-images.githubusercontent.com/12430020/155091921-bc1ec4d7-dcff-4402-9eb5-1c073121cdd3.png)

props: @sethmclellana8c

[2022-02-22 08:42] retnonindya commented on #56279
I want to add another report, from my personal blog. Copying this blog post (from WP Courses blog):
https://wpcourses.com/2021/11/16/finally-figuring-out-podcasting/

Displays the rich preview on the editor. But it only displays the bare link on live site.

Website is using FSE, theme Byrne (I'm not sure if this is related)

[2022-02-22 08:54] tyxla commented on #61347
Hey @markbiek!

Thanks for bringing up the issue! Those docs haven't been updated in a while and I think it's good opportunity to iron out any inconsistencies.

The `sections.js` module is imported on the server-side, and because of that, it can't use the client-side config that's suggested in the documentation. The config data is exposed to the client by declaring a `window.configData` global var

[2022-02-22 09:19] #57749 closed, assigned to WBerredo

[2022-02-22 09:28] csabarakasz commented on #57170
More of this issue: 4796978-zd-woothemes theme (twenty sixteen)

As a temporary solution, I disabled block widgets in BlogRC.

[2022-02-22 09:44] cpapazoglou opened #61355 "Marketplace: Update Yoast SEO Premium content"
When discussions have finalised pcSRhZ-2k-p2, we should update the following in WPCOM for `wordpress-seo-premium`:

- [x] use same icon as Yoast SEO
- [x] short description `All the benefits of Yoast SEO Free as well as exclusive SEO features which unlock even more tools and functionality.`
- [x] banner
![image](https://user-images.githubusercontent.com/12430020/163364858-6edcce2e-23d8-4408-8c18-e

[2022-02-22 09:47] #60952 closed, assigned to bogiii

[2022-02-22 09:48] zdenys commented on #60483
Another case 4801498-zd-woothemes User doesn't like how the WooCommerce Checkout Page appears when AMP is active, but when they exit the mobile version, it looks good and they like it.

[2022-02-22 10:15] nagpai commented on #60483
34322040-hc - Images were not appearing in AMP mode and it seems `Redirect all mobile visitors to AMP` was enforced.

[2022-02-22 10:15] taipeicoder commented on #61351
Regarding not able to run the dev environment on a M1 Apple Silicon environment, the following dependencies were problematic:

* [sharp](https://github.com/lovell/sharp). As discussed in this [ticket](https://github.com/lovell/sharp/issues/2460#issuecomment-811046375), the solution is to upgrade the package from `0.25.2` to `0.28.0`.
* The `Dockerfile` tries to install `google-chrome-unstable` whi

[2022-02-22 10:39] mcsf commented on #61295
I see feedback from others being unable to reproduce the bug, so it would be useful to know if there are specific operating systems or versions of Word where this happens.

[2022-02-22 10:50] mxhassani commented on #61295
@mcsf Not sure about Word version, but all of the above hc links refer to Mac OS X
Not sure if it was already the case, I am able to replicate with Big Sur - Numbers: simple past to editor shows an image, past to a classic block shows a table.

[2022-02-22 10:59] mcsf commented on #61295
This is helpful, because I was still under the impression that Office was the only suite doing the weird trick of copying an image render of the content. If not, then we should move away from the current approach — which was to detect pastes from Word — to something based on the kind of content found in the HTML payload.

[2022-02-22 11:00] aneeshd16 commented on #33077
Thanks, I tried to reproduce using the user's instructions and could see the admin bar. The issue seems to be related to difficulties in commenting, so we should probably open another issue.

[2022-02-22 11:12] annemirasol opened #61358 "[Bug]: locale switcher does not change page content"
### Quick summary

The locale switcher banner -- the one that says `Also available in English` or equivalent -- changes the URL but not the page content. I am guessing a reload is needed, but either it does not perform one or it fails while doing so.

### Steps to reproduce

1. While logged out (e.g. in a fresh incognito window), navigate to `https://wordpress.com/log-in/<locale>`, where `<locale>

[2022-02-22 11:17] #60839 closed, assigned to bogiii

[2022-02-22 11:40] #60965 closed, assigned to mmtr

[2022-02-22 11:49] carinapilar commented on #61297
This doesn't seem to be specific to a theme, I was able to replicate with Quadrat and Hemingway Rewritten, from the Media Library on Calypso. The workaround is to edit the image through WP-Admin.

Got a report on 4794495-zd-woothemes

[2022-02-22 12:34] gavande1 commented on #60748
@arunsathiya, There 2 logs or screenshots that you could save to debug the issue. You could keep an open developer console while replication the issue.
- **Console Tab** - This helps to troubleshoot if there was any javascript error on the site
- **Network Tab** - You can log the specific network calls (uploading the plugin) requests and responses for future reference so that we troubleshoot the b

[2022-02-22 12:49] jsnajdr commented on #61347
I'm afraid that the capability to import the config module in `sections.js` has been broken in the last year or two and it will be hard to bring it back. There were refactorings that moved the config module to separate packages like `@automattic/calypso-config`, various webpack build modifications... One of them was the culprit.

The `sections.js` file is loaded into three environments:
- the bund

[2022-02-22 12:52] mzitinfo commented on #57687
User in 4801745-ZD reports that the issue still occurs for them. (They reported it in the past already)

[2022-02-22 13:03] epeicher opened #61365 "[Bug]: Plugins should display Live chat support only for annual plans"
### Quick summary

Currently, plugins display `Live Chat Support` depending on the billing period _of the plugin_ while it should depend on the billing period _of the plan_

That was done as part
- #61212

### Steps to reproduce

1. In a site with a monthly Business plan,
2. Go to Plugins and select a paid plugin
2. Select Annually period for the plugin

### What you expected to happen

There shou

[2022-02-22 13:16] #54652 closed, assigned to gavande1

[2022-02-22 13:17] epeicher commented on #61365
Found as part of #61259

[2022-02-22 13:33] ktyfuller604 commented on #57812
A report here 15847656-hc

Interesting note: When I gave them the direct link to the Preview option they were able to see the Preview, and when they went back to try to reproduce the issue (they thought they'd seen a different link in Preview), the preview worked for them.

[2022-02-22 13:37] Addison-Stavlo commented on #57834
I opened a quick PR for this. @zaguiini noted the override is working again with the latest changes in Gutenberg `trunk`, so it seems more important to get rid of this code before that change makes its way to dotcom.

https://github.com/Automattic/wp-calypso/pull/61368

[2022-02-22 13:44] zdenys commented on #55815
34325826-hc

[2022-02-22 13:57] JulianBustamante commented on #60441
Deployed r240502-wpcom

[2022-02-22 14:12] tyxla commented on #61347
Alternatively, what we often do in many of the sections is always register the section (just add it to the array of sections), but use the feature flags to decide whether to register some (or all) of its routes or not. For example:

https://github.com/Automattic/wp-calypso/blob/52eabb4e83c28e3ed79136fab8948b9f441cf3eb/client/my-sites/marketplace/index.js#L25

[2022-02-22 14:31] jsnajdr commented on #61347
Yes, that's exactly what I meant in my "make the route definitions conditional" proposal.

[2022-02-22 14:34] #61216 closed, assigned to sixhours

[2022-02-22 14:51] Robertght commented on #61213
Asking here for a second look: p1645512559450039-slack-C0Q664T29

[2022-02-22 14:56] #61207 closed, assigned to epeicher

[2022-02-22 14:59] cpapazoglou commented on #60661
yeah, we can explore that. In the long term, there is no point having two Marketplaces. The problem is that now, we don't offer all plugins that are currently offered through wccom marketplace.

[2022-02-22 15:00] markbiek commented on #61347
Thanks everyone!

Making the call to register the route conditional definitely seems like the way to go. I'll get a PR opened for that.

[2022-02-22 15:10] gcsecsey commented on #61249
The FedEx shipping method may not need a new icon as it's already distinct from the rest of the WC extensions. In the WCCOM response it has the FedEx logo as an icon:
![fedex logo](https://woocommerce.com/wp-content/uploads/woocommerce_uploads/2013/01/woo-FedEx-auxjb7.png)

[2022-02-22 15:33] cpapazoglou commented on #60283
Diff is deployed

[2022-02-22 15:33] #60283 closed, assigned to gavande1

[2022-02-22 15:41] mcsf commented on #61295
Ongoing fix at https://github.com/WordPress/gutenberg/pull/38992

[2022-02-22 15:53] dpasque opened #61370 "Playwright: Redesign the "Visit()" convention"
### Details

Many POM classes expose a `visit` method that navigates to that POM class by URL route.

By convention, these are traditionally parameter-less functions that go to a static route, and rely on redirection to take to the site-specific page.

However, there are pages that don't fit this mold. An example in the plugins page, which introduces two challenges...

1. There are several meaning

[2022-02-22 16:41] bogiii commented on #60803
More info here: `pcmemI-pn-p2`

[2022-02-22 16:46] mmtr commented on #61086
As noted in p1645540400624339/1645539860.904549-slack-C02ECE3ML, it's recommended to use an async job to run a backfill task, so I created a new diff to move the script added in D75072-code to an async job.

[2022-02-22 17:12] happychait commented on #52241
In 34329929-hc customer asked for duplicating their live site.

[2022-02-22 17:20] cpapazoglou commented on #60493
Added the vendor information for the current marketplace items

[2022-02-22 17:20] #60493 closed, assigned to cpapazoglou

[2022-02-22 17:22] sixhours commented on #61213
I traced this back to #60980; going to investigate that diff to see what might have changed/broken this.

[2022-02-22 17:30] mcsf commented on #61295
I've been testing [this fix](https://github.com/WordPress/gutenberg/pull/38992) in several environments, with different kinds of content, but I need all the testing I can get.

I've pushed my little VM to the limit, so anyone who has:
* a working copy of **desktop** MS Word **on Windows**, or
* a working copy of Google Chrome **on Windows** + access to the **in-browser** Word client

could test th

[2022-02-22 17:38] sixhours commented on #61213
This line is the issue:

https://github.com/Automattic/wp-calypso/pull/60980/files#diff-3e59937e475ddbe025a5e9ad02ba04982a7872f910c99164212098f138ac899cR218

Adding `! isAtomic` to that logic causes the ThemeSelection for "My Themes" to be passed list of all `wpcom` themes rather than themes specific to the site's ID for Atomic sites.

/cc @DustyReagan @mmtr could you take a look? I'm not sure why

[2022-02-22 18:05] #61344 closed, assigned to nobody

[2022-02-22 18:21] worldomonation commented on #58378
No longer relevant at this time.

[2022-02-22 18:21] #58378 closed, assigned to nobody

[2022-02-22 18:29] #61347 closed, assigned to markbiek

[2022-02-22 18:37] lunasera41 commented on #50740
Another report here: 30137359-hc

[2022-02-22 18:41] blackjackkent opened #61373 "Seller Experience - Open support links on Store Features page in new tab"
### What

The Store Features page of the Sell onboarding flow contains links to support pages for Payment Blocks and WooCommerce information. These links should open a new tab.

![CleanShot 2022-02-22 at 12 39 33@2x](https://user-images.githubusercontent.com/13437011/155197505-02c00795-dcca-4bb2-9f8e-373048b43309.png)

### Why

Opening these links in the same tab ejects the user from the onboardin

[2022-02-22 18:56] #61373 closed, assigned to markbiek

[2022-02-22 19:04] carinapilar opened #61377 "Publicize: Disabling Sharing Doesn't Work for Portfolio Projects"
### Quick summary

When you disable _"Share when publishing"_ when publishing Portfolio Projects, it still shares through Publicize.

### Steps to reproduce

1. Connect Twitter to publicize, from Tools > Marketing
2. Start a new Portfolio Project
3. From Jetpack settings in the editor, disable the _"Share when publishing"_ option
4. Publish the Portfolio Project

### What you expected to happen

T

[2022-02-22 19:12] andres-blanco commented on #60056
I changed my local Calypso to point to the `connecting-the-dots` course. I saw no inconsistencies while marking videos as viewed from my local Calypso and from wordpress.com (on the `blogging-quick-start` course).

@kirk, do you remember the specific setup you where using when this happened to you?

[2022-02-22 19:17] philnick206 commented on #52100
Adding this issue as another example of a customer wanting this: #4800058-zen

The use-case here is to have compliance with Google Analytics which is integrated on a simple site. I assume that the current widget wouldn't be compliant enough for GA, thus this seems like a legit scenario that is missing coverage, but I'm out of my depth.

[2022-02-22 19:37] chiape commented on #57812
4802697-zd-woothemes
Suggested above workarounds!

[2022-02-22 20:40] #61215 closed, assigned to nelsonec87

[2022-02-22 20:43] rachelwinspear opened #61382 "Dara: WordAds not resizing on mobile version"
### Quick summary

WordAds not resizing correctly on mobile version. Able to replicate on Android.

### Steps to reproduce

1. Enable the theme Dara on a site with WordAds
2. You will see the horizontal adds running off the screen

### What you expected to happen

I would expect the ad to be resized to fit the screen

### What actually happened

WordAd advert is not resized and runs off the screen

[2022-02-22 21:09] sethmclellana8c opened #61383 "Block functionality: Scrolling container for Table block"
### What

Vertical and horizontal scroll-bar should be visible (and actionable) for Table block within the window's viewport.

User should be able to scroll horizontally in a big Table via a slider at the bottom of the window.

Table shouldn't always expand, Table's viewport should truncate and switch to vertical scrolling so table isn't always expanded with all rows showing (making post incredibl

[2022-02-22 21:14] p-jackson commented on #61351
I also had success adding
[code]

to the top of the `Dockerfile`. I think it's instructing Docker not to take any hints from the host environment and to force `amd64`. And on `amd64`, `google-chrome-unstable` is available.

I think 😅  🤷

[2022-02-22 21:15] allilevine commented on #61266
We specifically want to track click-through rate here, so clicks on the CTA.

[2022-02-22 21:19] allilevine commented on #61323
We are seeing a warning that is displayed when a non automattician calls an http endpoint.
We need to find a way to not execute that http call, possibly with a feature flag. We'll need to modify the `useWPCOMPlugin` hook. Timebox an investigation.

[2022-02-22 21:21] worldomonation commented on #61095
Incidence of this test flaking out has increased.
Statistics from TeamCity across all branches:

14 failed
441 successful
145 ignored

[2022-02-22 21:22] worldomonation commented on #61272
Issue worked around in  #61376.

[2022-02-22 21:22] #61272 closed, assigned to worldomonation

[2022-02-22 21:22] #61273 closed, assigned to worldomonation

[2022-02-22 21:23] worldomonation commented on #61095
Muted test for now.

[2022-02-22 21:30] metabreakr opened #61384 "Zoologist: social links menu disappears when header is edited in site editor"
### Quick summary

The Zoologist theme uses the primary and social links menu, found in the Customizer. As soon as the header is edited, the theme will only render the primary menu. This is because only a navigation block is present in the site editor.

### Steps to reproduce

1. Activate Zoologist
2. Set both a primary and social links menu in the Customizer, and save changes.
3. Observe on the l

[2022-02-22 21:37] villanovachile commented on #60469
This issue should now be resolved with the release of 5.9.1: p9o2xV-1TP-p2

[2022-02-22 21:43] sixhours commented on #61184
I haven't been able to reproduce this, but I started looking into it.

This error comes from `wp-theme-preview.php` when `current_user_can_preview_theme` returns `false`. This is a filter applied to `current_user_can( 'switch_themes' )`.

The only place we use this filter is in the `site-preview.php` bin script, where we return `true` at the default priority -- IIRC this is done so we can preview

[2022-02-22 21:54] sethmclellana8c opened #61385 "Block feature: Filterable and sortable Tables"
### What

1. A single slider in a Table's block settings (side-menu) enables Table to be FILTERABLE and SEARCHABLE. Allows front-end user to sort columns (A-Z, Z-A, original order) AND user can type in search box which dynamically filters Table contents.

2. Option in Table settings to define how many results per page in the table (10, 25, 100, all)

### Why

Long Tables in WP are incredibly time

[2022-02-22 21:55] #60923 closed, assigned to Rolilink

[2022-02-22 21:56] #61265 closed, assigned to Rolilink

[2022-02-22 21:57] #58296 closed, assigned to Rolilink

[2022-02-22 22:03] sethmclellana8c commented on #61383
Pairs with this feature request for Filterable and Sortable Tables:
https://github.com/Automattic/wp-calypso/issues/61385

[2022-02-22 22:04] sethmclellana8c commented on #61385
Pairs with this feature request for Scrolling container for Table block:
https://github.com/Automattic/wp-calypso/issues/61383

[2022-02-22 22:04] sixhours commented on #61184
We apply another filter on `current_user_can( 'switch_themes' )` for Theme Butler, and that filter `show_theme_butler` occasionally returns `false` (example: in the Theme Preview plugin, it has a priority of 99, which I believe means it would run later than `current_user_can_preview_theme`). Maybe it's overriding the `current_user_can_preview_theme` filter.

This makes me think there may be a conf

[2022-02-22 22:49] #60166 closed, assigned to roo2

[2022-02-22 23:04] roo2 commented on #56239
It looks like this is something that was done intentionally in order to give people a consistent reader experience. https://github.com/Automattic/wp-calypso/pull/61306#issuecomment-1046415814 we also don't currently have a designer or anyone assigned to the reader project who is making these decisions so I think we should close this as won't fix.

I'd explain this as the "show likes button" settin

[2022-02-22 23:27] worldomonation opened #61387 "Playwright: auto-expand sidebar if collapsed."
### Details

#61322 showed that our current implementation of the sidebar does not take into account scenarios where the sidebar is toggled to a more compact mode, colloquially known as 'collapsed' mode.

### Checklist

- [ ] Ensure the sidebar is auto-expanded as part of the loading process.

### Related

_No response_

[2022-02-22 23:43] thekingsprojects commented on #59566
Another report here: 4800099-zen

The user is also experiencing an issue with color settings in the right settings panel, but that appears to be plugin-related in some way. Ideally, the Highlight issue would allow them to work around whatever *that* problem actually is.

Gave them the pasting workaround for now. They'd appreciate an update when we know more.

[2022-02-22 23:44] jeyip opened #61390 "Button Block: Font registered from webfonts API doesn't work"
### Quick summary

## Description
When a font is registered with the new webfonts API, the button block doesn't respect font selection.

This appears to be a conflict with button block styling specificity, and not the webfonts API.

![2022-02-22 14 51 10](https://user-images.githubusercontent.com/5414230/155233014-d2e6c751-ddfd-4f85-a446-3eab907f2fd4.gif)

### Steps to reproduce

1. Set up the new

[2022-02-22 23:46] alaczek opened #61391 "Onboarding: Payton screenshot looks off in design selection step."
### Quick summary

I just noticed this is how Payton looks in the design selection step:
<img width="536" alt="image" src="https://user-images.githubusercontent.com/4550351/155238340-4529af7b-ecd6-482d-9263-dd6d5ced07df.png">

I checked the demo site and it looks fine.

cc @p-jackson @Automattic/ganon

### Steps to reproduce

1. Start at wordpress.com/start
2. Pick "Write" or "Build" during the in

[2022-02-22 23:50] lsl commented on #60661
We can keep the page visible for now but I'm still not sure why we want wpcom purchases/subscriptions showing up on the extensions page. Do we need this?

[2022-02-23 00:03] devNigel commented on #39956
Changed priority to Blocker since it affects the functioning of the editor. I am also getting users asking for refunds since they have been waiting for over a week already.

User report: 34255092-hc

[2022-02-23 01:51] taipeicoder commented on #61351
Specifying the platform in the `Dockerfile` as mentioned above also works (and I think the better approach), the dev environment is now able to start but not working. I'm seeing the following error from `mshots.log`:

Still seems related to the M1 Silicon environment, as also reported in this [ticket](https://github.com/puppeteer/puppeteer/issues/7916).

[2022-02-23 02:10] noteeth opened #61392 "Indiana phone number not validating 2FA possible 463 area code issue"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/me/security/two-step
2. Select US for country code
3. add  phone number 4632105111
4. Click "verify by SMS"

#### What I expected

To be prompted to complete the verification process.

#### What happened instead
I saw the error, “That phone number does not appear to be valid”.

#### Screenshot / Video

<img width="1092" alt="Screen

[2022-02-23 03:12] edwinho89 opened #61393 "When viewing Lessons, WooCommerce PayPal Checkout Gateway displays Critical Error with Sensei LMS"
### Quick summary

When attempting to view lessons under Sensei LMS, the lessons lead to a 500/critical error from `class-wc-gateway-ppec-ips-handler.php:102`

Reported on 32606993-hc

Bug report should be moved under https://github.com/woocommerce/woocommerce-paypal-payments

### Steps to reproduce

Visit any of the lessons in https://jimsdigitalmarketing.com/course/facebook-ads/

### What you ex

[2022-02-23 03:27] KokkieH commented on #60469
Confirmed it's now working for me.

I've followed up on the forum threads reported above.

[2022-02-23 04:00] inaikem commented on #52182
@arthur791004, is there an update on this? Thanks!

[2022-02-23 04:12] KokkieH opened #61394 "Scratchpad: Gallery post format not working with tiled gallery or slideshow block"
### Quick summary

Scratchpad's gallery post format doesn't work with the tiled gallery or slideshow blocks, only with the core gallery block. The post format does work with tiled galleries and slideshows added in a classic block.

### Steps to reproduce

1. Create a post and add the Tiled Gallery or Slideshow block with a few images
2. Set the post format to gallery
3. Publish the post and view t

[2022-02-23 04:20] 1dr0 commented on #49015
Another request in #4804673-zen.

[2022-02-23 04:30] KokkieH commented on #60469
A user in https://wordpress.com/forums/topic/problem-with-editing-galleries/ confirmed that it's now working for them as well.

[2022-02-23 04:39] arthur791004 commented on #52182
@inaikem You can track the ticket [here](https://core.trac.wordpress.org/ticket/54308#ticket). As this issue is related to the core module, we need to wait for their review.

[2022-02-23 05:34] mriyazuddin opened #61395 "Blank Canvas: Setting the homepage to show latest posts, shows only the latest post on the homepage"
### Quick summary

Using Blank Canvas theme, if you set the homepage to set the latest posts, the homepage shows only latest post and not all posts. Changing the number of posts to be displayed in settings doesn't help either. Switching to another theme displays all posts on the homepage.

https://user-images.githubusercontent.com/49064126/155266572-4a9d7960-7173-463c-a667-d45f69fd2739.mp4

### St

[2022-02-23 05:39] 1dr0 commented on #61018
Also encountered on 4786473-zen (Personal).

Suggested to the user to activate the main Twenty Twenty-Two theme, as the "Pink" version defaults to duotone on all images.

[2022-02-23 05:44] devNigel opened #61396 "Stow: Tertiary color backgrounds are not visible on the site."
### Quick summary

On theme Stow, when Tertiary color is set as the background color, the background color is not working. I was able to reproduce this on Simple and AT sites.

I shared a workaround and let the user know that we will update them once it is fixed.

### Steps to reproduce

1. Activate Stow theme.
2. On the page editor, add a paragraph block.
3. Apply the same color set as Tertiary c

[2022-02-23 06:08] nagpai commented on #60483
33737724-hc - disabled redirect and switched to reader mode. Site had Varia theme base which is incompatible with AMP.

[2022-02-23 06:32] KokkieH opened #61397 "Customizer: Widgets panel not working on classic themes"
### Quick summary

The widgets panel in the Customizer isn't working on any classic theme, including Varia and Seedlet child themes, and default themes up to Twenty Nineteen

### Steps to reproduce

1. Activate any theme in the showcase starting from Spearhead or older.
2. Go to Appearance ->Customize
3. Click on Widgets
4. if the theme supports multiple widget areas, select a specific widget area

[2022-02-23 06:56] gavande1 commented on #55488
Diff created at D75518-code

[2022-02-23 07:10] syhussaini commented on #58937
I have come across this issue on this ticket 4803348-zd

I checked and found the block was continuously flickering and does allow me to select it. See https://d.pr/i/Lo5ktK

### Workaround
Disabled the Widget Block Editor from the Blog RC as per the slack thread added in 4803348-zd and removed the Twitter link.

[2022-02-23 07:19] csabarakasz commented on #61297
Same thing here: 4797233-zd-woothemes

Suggested WP-Admin workaround for now!

[2022-02-23 07:32] mriyazuddin commented on #61395
#4802954-zd

[2022-02-23 07:39] mriyazuddin opened #61398 "Post Carousel block does not display author names when typed in the Author field in Settings"
### Quick summary

On simple sites, the Post Carousel block doesn't display the author names in the Author field when we start typing in it. Even if you type the full name of the author it doesn't seem to take it and posts from other authors are also displayed in the carousel.

### Steps to reproduce

1. Creat a page, add Post Carousel block.
2. Try adding an author name in the block settings bar.

[2022-02-23 07:53] arthur791004 opened #61399 "Investigate how to use vertical images from Vertical Image Curator"
## Description

As we have the vertical image curator (See p9Jlb4-3ph-p2) now, we want to investigate how to use pull images from Vertical Image Curator and then we can use those data in the follow-up [task](https://github.com/Automattic/wp-calypso/issues/61401)

## Acceptance Criteria

There are different ways to provide the utils so that we can use the images from the Vertical Image Curator. Dra

[2022-02-23 07:53] arthur791004 opened #61400 "Investigate how to insert images into themes"
## Description

We have static themes (See Design Picker or Theme Showcase) and generated themes (See https://github.com/Automattic/wp-calypso/issues/61198) but the starter content might not be suitable for the specified vertical. Thus, we want to replace the starter content with vertical content and this task focuses on images. So, we need to come up with solutions to make sure it's feasible.

##

[2022-02-23 07:53] arthur791004 opened #61401 "Implement MVP to inject vertical images into themes"
## Description

After investigation of https://github.com/Automattic/wp-calypso/issues/61399 and https://github.com/Automattic/wp-calypso/issues/61400, we can provide the MVP to demo the output and verify the result is what we want or not.

## Acceptance Criteria

I think we can implement the PHP function to provide an MVP

### Create a PHP function and use unit tests to verify the result

Input:

[2022-02-23 09:43] daria2303 opened #61403 "Masonry block editing crashes editor"
### Quick summary

When we are editing Masonry block editor clashes.

https://user-images.githubusercontent.com/11535091/155294527-91505dfc-54d7-4bb1-8d1c-ad586d0da718.mp4

### Steps to reproduce

1. Add Masonry on Atomic site
2. Try to edit it as if you wanted to transform it but don't click anther block just yet
3. Wait a moment
4. "The editor has encountered an unexpected error"

### What you e

[2022-02-23 09:49] zdenys commented on #61295
4805355-zd-woothemes I suggested using the Classic Block which after the pasting can be converted into standard blocks.

[2022-02-23 09:53] Robertght commented on #61397
I also asked here: p1645600271357269-slack-C02DQP0FP

[2022-02-23 10:01] filipanoscampos commented on #61397
This user has reported another case of this bug, here: 4805334-zd-woothemes

[2022-02-23 10:06] taipeicoder commented on #61351
Here are the issues I've encountered while setting `mShot` on my local M1 Apple Silicon machine (`arm64`) via Docker:

1. The `sharp` library dependency in its current version attempts to build the library while installing it. The build fails due the missing dependency of the library `libvips`. The solution would be to upgrade the `sharp` library to a version that provides a prebuilt binary for `a

[2022-02-23 10:19] jeroenpf commented on #60608
While we are still waiting for feedback regarding issues with theme installations during the migration (pcmemI-ol-p2), I have tested the other importers.

The conclusion is that all importers other than the full site migration, do not affect anything related to FSE. Site settings, theme settings, colors, etc. are not influenced by importers. Under the hood, all these importers convert their conten

[2022-02-23 10:24] #61315 closed, assigned to arcangelini

[2022-02-23 10:49] poeticabdul opened #61405 "FSE: Managing menus shows refused to connect page"
### Quick summary

When in Site Editor and I click on manage menus in the navigation block, I get a refused to connect page.

![Screenshot at Feb 23 10-41-40](https://user-images.githubusercontent.com/4719037/155303885-1c01bf92-3e91-46f6-90b6-5cfc7338c311.png)

![Screenshot at Feb 23 10-43-21](https://user-images.githubusercontent.com/4719037/155304007-ff2117ce-ee3a-4019-bfed-8ace65f3925e.png)

##

[2022-02-23 11:17] #60993 closed, assigned to bogiii

[2022-02-23 11:40] bogiii commented on #60371
I will close this issue without removing the `supportedContent` and `unsupportedContent` fields. It required fields, so we need to leave it as it is.

[2022-02-23 11:40] #60371 closed, assigned to bogiii, jeroenpf

[2022-02-23 13:12] zdenys commented on #60483
4805532-zd-woothemes On a site with Storefront theme, the Standard mode in AMP stopped the menu button and checkout button from working on the mobile version. I recommended turning off AMP altogether.

[2022-02-23 13:14] mmtr commented on #61213
I don't know either (@DustyReagan might know more since he worked on the fix) but I just made a quick test removing the `isAtomic` check from that line and I've confirmed that it replaces the star icon + price (which is the intended behavior) with a `PREMIUM` label for free Atomic sites, so apparently it's needed 🤔.

With `isAtomic` check | Without `isAtomic` check
--- | ---
<img width="916" alt="

[2022-02-23 13:55] david-binda commented on #61397
Thanks for the ping! It might be related to 5.9.1 merge, but the root cause, IMHO, lies in some other code. It's being worked on in D75545-code

[2022-02-23 14:12] jartes commented on #38441
Had the same issue with a WordPress embed on 34345967-hc

The following CSS code fixed the issue:

[code]

[2022-02-23 15:10] zdenys opened #61409 "FSE: Consolidate Edit page / Edit Site / Edit buttons on the frontend"
### What

Currently, when viewing an FSE site one sees the `Edit page` button at the top, and then there are two more links in the Action Bar at the bottom right: `Edit Site` and just `Edit`.

![Edit page, site, action bar](https://user-images.githubusercontent.com/39308239/155346648-16af6620-1984-4bc4-b1da-4e7df3638494.png)

### Why

It's confusing to have multiple buttons.

### How

Consolidate

[2022-02-23 15:12] sixhours commented on #61213
The logic we need to work with to change what's shown there is in the individual theme card:

https://github.com/Automattic/wp-calypso/blob/trunk/client/components/theme/index.jsx

And I think this is related to a similar issue I ran into when adding the "Premium" flag in #60207

We're checking the `price` prop on the theme object to determine whether to show the price, which is set depending on t

[2022-02-23 15:13] nagpai commented on #61395
ref - p1645623821825529-slack-C03TY6J1A

[2022-02-23 15:16] dpasque opened #61410 "E2E Opportunity: Work with DIFM-lite folks to add flow coverage"
### Details

The new DIFM-lite flow looks like it could benefit from some coverage! Let's encourage those folks to write E2E tests and help them do it!
PR: p58i-cbu-p2

### Checklist

_No response_

### Related

_No response_

[2022-02-23 15:35] sixhours commented on #61213
My hunch is not right; this seems to have something to do with state management. I've found the price prop does get set and shown correctly if you visit the individual theme page, then go back to the themes list. Video demo:

https://user-images.githubusercontent.com/2124984/155351566-68ee6e14-3b30-4751-ae1d-12c456f39a98.mov

The price data isn't in state at first. Loading the individual theme pag

[2022-02-23 15:41] michaeldcain commented on #61154
@pottedmeat can you check to see if this is related to the user's Stripe connection (whether it's connected to the wrong email or has been reconnected)?

[2022-02-23 16:47] #61397 closed, assigned to david-binda

[2022-02-23 16:55] pottedmeat commented on #61154
I couldn't find any of the error messages we would expect to see if there wasn't post meta about the connected account. If an error was encountered, it should also have been reported to the user.

It's worth noting that the `Memberships_Product::delete` function assumes that `wp_delete_post` will be successful and has no error handling. This was the only area I could find when looking into it wher

[2022-02-23 17:00] pottedmeat commented on #61154
It's actually returning an error that is going unreported. This is the API response:

[code]

[2022-02-23 17:01] sixhours commented on #61213
I traced it back through multiple selectors to this `isPremium` check, where we do a `get` request for the theme's stylesheet that initially returns `false` for my free Atomic site:

https://github.com/Automattic/wp-calypso/blob/trunk/client/state/themes/utils.js#L23-L26

Since there's no stylesheet found, the theme is considered "not premium" and does not show the price correctly.

For free Atomi

[2022-02-23 17:11] sixhours commented on #61213
@DustyReagan this looks more complex than I thought (see above). :D I'm thinking we should revert #60980 since the broken "My Themes" tab feels more urgent than the upsell issue with the individual theme cards; what do you think?

[2022-02-23 17:17] pottedmeat commented on #61154
The data from `billing_connected_account_products`:

[code]

The blog ID it's sending when trying to delete: 200844921

`get_from_post` will return `null` if the billing connected account product site ID (128504108) is not equal to the blog ID (200844921)

[2022-02-23 17:48] gcsecsey commented on #60714
I've looked into this a bit further, and the `ignore_search_engines_discouraged_notice` option seems to only control whether the user has dismissed the notice before:
https://github.com/Automattic/wordpress-seo-premium/blob/d07f961a7a05ddaa4c27897520794e395c3525bc/wordpress-seo-premium/admin/class-admin-init.php#L433

The check for search engine visibility is done via the `blog_public` option, if

[2022-02-23 18:13] ccwalburn commented on #44844
Another request to offer free access to Premium content: 34350340-hc

[2022-02-23 18:59] metabreakr commented on #52182
https://wordpress.com/forums/topic/error-editing-image/

Theme: Chateau

[2022-02-23 19:18] cpapazoglou commented on #60661
If there is a way to make a distinction between wpcom and wccom purchases, we could hide the wpcom purchases. But, I imagine a user trying to follow docs, or getting help from support and not being able to find what they need. Hiding purchases will make things more obscure while following the **default** way to provision woo licenses (which tried to avoid initially) will simplify things for end us

[2022-02-23 19:50] DustyReagan commented on #60966
I think is issue is addressed with D75219-code and 814-gh-Automattic/wpcomsh.

[2022-02-23 20:30] Robertght commented on #60873
The Appearance > Customize appears to be a valid one now, however, if this keeps resurfacing, please open the report.

[2022-02-23 20:30] #60873 closed, assigned to nobody

[2022-02-23 20:32] NoHopeRadio commented on #56781
Another case in 31199305-hc.

[2022-02-23 20:37] vipulpradhan commented on #60870
User report: 4806055-zen
Another workaround in addition to above, is to use the Latest Posts Block.
Suggested both workarounds to the user.

[2022-02-23 20:43] blackjackkent opened #61419 "Seller Experience - Payment block upgrade message is obscured by toolbar"
When using the block editor to edit a Payments block (as in the site editor after onboarding through the Sell flow), a user with a free plan has the upgrade prompt obscured when clicking into the block. We need to update this design to make sure that call to action is not obscured.

![image](https://user-images.githubusercontent.com/13437011/155404927-e46a6c0e-a856-4e03-a465-683cbc5ee453.png)

(Fu

[2022-02-23 20:48] blackjackkent opened #61420 "Seller Experience - Payments Block Sidebar Needs Support Link"
We should add a link to Payments Block support information in the block editor sidebar when the user has the block selected.

![CleanShot 2022-02-23 at 14 46 21@2x](https://user-images.githubusercontent.com/13437011/155405428-60c09fd3-e9ef-4a52-b5e7-2d7dee38adb5.png)

Possibly this could be the same support link as is used on the "Store Features" page under "Start Simple"?

[2022-02-23 21:01] blackjackkent opened #61421 "Seller Experience - Provide more obvious "next step" after upgrading account from Payment Block"
After the user has selected "Upgrade" from the Payment Block while on a free site, and passed through the upgrade to a personal plan, they are returned to the block editor but without any noticeable call to action. We should provide a more direct "next step" to bring the user back into the "Sell" intent process.

![image](https://user-images.githubusercontent.com/13437011/155407412-d3ee2edf-dea6-4

[2022-02-23 21:05] blackjackkent opened #61422 "Seller Experience - Include "Connect to Stripe" menu item on sub-blocks of Payment Block"
When navigating the Payment Block in the block editor with a paid plan, the user's main visual cue is the button block, which is actually a sub-block of the Payment block as a whole. However, only the wrapper block has the "Connect to Stripe" menu prompt, but it is hard/unintuitive for the user to navigate to that particular level of the block hierarchy.

![image](https://user-images.githubusercon

[2022-02-23 21:22] arinoch commented on #61297
User in 4797233-zd-woothemes would like updated when the issue is fixed. workaround will do in the meantime.

[2022-02-23 21:27] michaeldcain commented on #61421
This was added by Marketing for redirects to Calypso (where they show a simple notice), but should be pretty reliable for any situation where Checkout uses the `redirect_to` query param (as this does).

[2022-02-23 21:40] blackjackkent opened #61424 "Themes Showcase - Remove categories from logged out view"
Currently the logged-out view of the theme showcase has an extra "categories" section that has unreliable behavior and doesn't match anything on the logged-in side; consequently, we should remove it and adjust the design as necessary to make it look clean.

![image](https://user-images.githubusercontent.com/13437011/155413051-8c04640d-24f8-44fc-bc22-0c42c2edc1c3.png)

cf. pdF78r-aq-p2#comment-170

[2022-02-23 21:41] blackjackkent commented on #61424
Grabbing this to work on at the start of the coming sprint. /cc @SaxonF - can we touch base to discuss any potential design tweaks around this change?

[2022-02-23 21:42] obenland opened #61425 "Make wpcom_site_has_feature() globally accessible"
D75219-code introduced `wpcom_site_has_feature()` as a library function, which means that every time it's used it has to be preceded by a call to load the library (see `mu-plugins/footer-credit/customizer.php`).

To enable more liberal use of the function I'd suggest we move the folder that contains `wpcom_site_has_feature()` to `mu-plugins` so it can also be used in all places. Same for wpcomsh,

[2022-02-23 22:04] tvolpert commented on #61295
I had two instances of this recently:
31490503-hc
34032942-hc

for the first user, right-clicking and using "Paste and Match Style" worked, but the second user got the same result with that flow.

[2022-02-23 22:10] Rolilink commented on #61323
Seems like we can use [Dependant Queries](https://react-query.tanstack.com/guides/dependent-queries) to address this one!

[2022-02-23 22:23] DustyReagan commented on #52214
Yoast 18.2 landed. Fix is in production. 🙌

[2022-02-23 22:23] #52214 closed, assigned to DustyReagan

[2022-02-23 23:11] SaxonF opened #61429 "Seller intent icon"
### Details

The sell intent icon isn't a great representation of the intent. Are we able to update using the following SVG?

[code]

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-02-23 23:13] DustyReagan commented on #61213
Thanks for looking at this @sixhours! And sorry for the delay! I had my head in another issue. This seems about as complicated as I remember! 😅 I think you're right about priorities. I can take a closer look tomorrow and setup a revert if necessary.

[2022-02-24 00:51] lsl commented on #60661
Not syncing them should have that effect.

I'm still not clear on why we need this purchase sync, isn't it going to confuse (or double count) woocommerce.com reporting data?

Re documentation I understand there might be some confusion in existing documentation but that seems more easily fixed by updating the documentation.

[2022-02-24 00:55] bsanevans commented on #33077
The issue on 4755512-zd-woothemes has now been identified as a separate issue. I'm closing this thread.
CC: @ChrissiePollock @Robertght @aneeshd16

[2022-02-24 00:55] #33077 closed

[2022-02-24 01:12] jordesign commented on #61396
I've found this to be the case on Hever as well. but not for Varia itself - so it seems specific to some child themes.
One thing I noted is that Varia does not include a Tertiary color itself - but the child themes do.

When the color is applied - a class is added to the element:

* `has-tertiary-background-color has-background`, or
* `has-tertiary-color has-text-color`

But then no color declarat

[2022-02-24 01:51] #61323 closed, assigned to Rolilink

[2022-02-24 02:25] nagpai commented on #51076
I hope this feature sees light of the day sooner 34337636-hc

[2022-02-24 02:41] arinoch opened #61433 "Payments: Allow the option for users to keep their real names hidden."
### What

I would like to see the option to use a user's display name, as we do on their site themselves, when a visitor invokes one of our payment methods (for example: PayPal block) as opposed to giving a user's real name to donators/subscribers.

### Why

Users will sometimes use our platform to write content anonymously, or under a pseudonym. For reasons that are the user's and the user's alon

[2022-02-24 02:52] arinoch commented on #61433
Discussed at length with a user in 4796982-zd-woothemes.

[2022-02-24 03:48] syhussaini commented on #52241
In 4807826-ZD the user would like to have a pre-production environment so that they can work on the changes without disrupting the existing site.

[2022-02-24 04:07] inaikem commented on #61297
User in 34356631-HC would also like a follow up once resolved via 4808129-ZD. Thanks!

[2022-02-24 05:11] Greatdane commented on #61209
@galakhyati can't see your screenshot, but according to this thread; pdtkmj-4i-p2 this looks to be intended, we should see this dialogue

![wordpress com_plugins_wordpress-seo-premium_theexperiencestoretestdomain blog_](https://user-images.githubusercontent.com/5075840/155461951-c0a38373-5d61-4b21-9b61-5ce197ac7c9f.png)

Are you seeing something or referring to something different?

[2022-02-24 05:23] Greatdane commented on #38441
Confirmed. Aligning right causes more issues;

<img width="2271" alt="Markup 2022-02-24 at 14 22 25" src="https://user-images.githubusercontent.com/5075840/155463046-aae579a7-a3c1-4bd4-862c-15ad523f6aae.png">

[2022-02-24 05:29] lsl opened #61434 "Upstream prematurely closed connection while reading response header from upstream"
I caught this error today while loading https://wordpress.com on my phone. The error looks like an nginx error but is being caused by something on the calypso server side of things (I'm pretty sure).

See slack convo for more context and pastebin for logs. It seems to be nothing new but relatively rare. It only happens on the /log-in route and looks like it might be some kind of memory issue (e.g.

[2022-02-24 05:35] Greatdane commented on #61405
Closing in favour of; https://github.com/Automattic/wp-calypso/issues/60932

[2022-02-24 05:40] Greatdane commented on #61433
Also discussed here; 293-gh-Automattic/dotcom-manage

[2022-02-24 05:45] Greatdane commented on #61328
Kept this open, but it feels very difficult to implement an open-ended block.

[2022-02-24 05:48] Greatdane commented on #60360
Do you still see this @zdenys - I am unable to replicate;

<img width="588" alt="Markup 2022-02-24 at 14 47 36" src="https://user-images.githubusercontent.com/5075840/155465661-13beed98-81fd-4453-a691-a9b51e5ead90.png">

[2022-02-24 05:52] Greatdane commented on #60361
Confirmed. Maybe we should ask Matt to update the plugin too 😅

[2022-02-24 05:56] Greatdane commented on #60362
Not sure if the @Automattic/jetpack team are aware of this.

I assume this affects all WordPress instances, so let me know if this should be transferred to the Jetpack repo.

[2022-02-24 06:02] vishnugopal commented on #60953
A diff is up here now for review: D75608-code

[2022-02-24 06:08] Greatdane commented on #60385
I think there is some confusion with all the different menu locations. @ahmadbaig1 - the menu located in the customizer is is the 'Classic' menu, but it still should show up.

As Chait mentioned the new menus location in `/wp-admin/edit.php?post_type=wp_navigation` should show up. I am going to close this for now, but we can re-open if we can replicate consistently.

[2022-02-24 06:08] #60385 closed, assigned to nobody

[2022-02-24 06:14] Greatdane commented on #59363
I can still see it. Perhaps there is a better way we can visualize the footer credit? As @carinapilar said, something like a `Footer Credit Block` that represents what is in the customizer.

[2022-02-24 06:19] Greatdane commented on #60973
To confirm, this is the Post Excerpt Block featured within the Query Loop @cuemarie ?

[2022-02-24 06:21] hacchism commented on #60733
The original site has been restored already: pcgXQF-sQ-p2

Now we have a new follow-up ticket open here(4808297-zen) as 4673508-zen was automatically closed.

[2022-02-24 06:26] Greatdane commented on #60410
Not just the alt text field, all fields that you can enter text within the editor. For example Excerpt;

<img width="357" alt="Screenshot 2022-02-24 at 15 25 35" src="https://user-images.githubusercontent.com/5075840/155469840-3ed8bf4c-53b6-40a6-9eff-67f4a7a15dae.png">

(If I do not highlight the text here, it is impossible to see).

[2022-02-24 06:33] #61094 closed, assigned to lsl

[2022-02-24 06:41] lsl opened #61435 "Plugin search input is sluggish on mobile android/FF"
Might just be me, see if you can replicate.

Typing in the search box sort of lags like its doing a lookup between each keystroke and that lookup is preventing rendering the next keystroke from being rendered.

Couldn't replicate on desktop.

[2022-02-24 06:50] Greatdane commented on #60418
@Robertght - do you have any more insight on this, please? Is it just newer, block-based enabled theme that have this function?

[2022-02-24 06:57] SaxonF opened #61436 "[Bug]: Returning from Woo seller flow back to simple"
### Quick summary

The "simple" sell intent button breaks if a user starts going down the Woo path but then backs out.

### Steps to reproduce

1. Create a new site via wordpress.com/start
2. Choose the sell intent
3. Select "more power" (Woo) option
4. Click back and choose "simple"
5. Notice the simple "Continue" button is broken

### What you expected to happen

The button should take someone d

[2022-02-24 07:05] Greatdane commented on #60469
Tested and can also confirm it is back working. @Automattic/dotcom-pa-group will now reply to all users noted on this issue. 👍

[2022-02-24 07:05] #60469 closed, assigned to nobody

[2022-02-24 07:37] Greatdane commented on #60431
I can no longer replicate this? I would if it has been patched with the other recent HTML issues? @retnonindya can you please check again?

[2022-02-24 08:00] fstath opened #61437 "Baskerville 2: Green arrows on social media button"
### Quick summary

Using the Social Icons block, the first icon appears with two green arrows.

### Steps to reproduce

1. Insert the Social Icons block in the widget area
2. Select one of the social icons
3. Save the changes and view the site

### What you expected to happen

The social icon to appear without the two green arrows.

### What actually happened

The social icon has two green arrows.

[2022-02-24 08:32] Greatdane commented on #60561
Closing: Duplicate of https://github.com/Automattic/wp-calypso/issues/53626

[2022-02-24 08:32] #60561 closed, assigned to nobody

[2022-02-24 08:37] vishnugopal commented on #59038
Discussion:
* Waiting for Francesco to update work here.

[2022-02-24 08:43] vishnugopal opened #61438 "Implement url-analyzer in mShots"

[2022-02-24 08:43] retnonindya commented on #60431
@Greatdane It is! It's fixed! 🎉  Thanks for keeping me in the loop, David! Yep, I can confirm there is no raw HTML appearing when the pagination is set to arrow or chevron! ✨  I'm going to close this GH. Thanks again!

[2022-02-24 08:43] #60431 closed, assigned to nobody

[2022-02-24 08:50] vishnugopal opened #61439 "Build dummy screens for Light Importer UI"
Based on these designs: TAK5FpwTvfbENJDfHc7Aq1-fi-3977%3A2909

[2022-02-24 09:02] vishnugopal commented on #61065
Fixed here: D75608-code

[2022-02-24 09:48] edwinho89 commented on #37469
Still experiencing this on 34360190-hc

Provided CSS as workaround below:

[code]

[2022-02-24 09:48] liviopv opened #61440 "DNS Editor visually removes underscores from SRV's Service field after saving"
### Quick summary

When adding an SRV record, the DNS editor will allow you to add an underscore in the "Service" field, like `_autodiscover`, but upon saving the record, it will remove it _visually_. The record will still be saved correctly with an underscore, the DNS section in Calypso will not show the underscore, leading to confusion

### Steps to reproduce

1. Go to My Site > Upgrades > Domai

[2022-02-24 10:44] yansern commented on #61150
Preliminary investigation shows that Jetpack blocks are being registered first before core blocks, hence it is showing first on the global styles panel.
<img width="905" alt="image" src="https://user-images.githubusercontent.com/1287077/155509482-1f6a0ae3-6c7f-46c0-80d1-a0696e3b5c25.png">
<img width="1126" alt="image" src="https://user-images.githubusercontent.com/1287077/155509450-46fc1355-e566-4

[2022-02-24 10:45] mmtr commented on #61086
D75452-code has landed, and the backfill script is running now. We expect it to finish in a few hours.

[2022-02-24 10:47] mriyazuddin commented on #59388
4808269-zen

[2022-02-24 10:53] CoachBirgit commented on #61295
**Also reported 4801745-ZD**

User is pasting content several years from Word to the block editor without big hassle, but recently, there must be a change, so the pasted text renders into an image block.

**MacOS + Chrome**

I could reproduce this behavior on my system:

Copy & paste unformatted text from Microsoft Word to WordPress Editor resulted into a rendered image with text as an image block

[2022-02-24 10:55] janmckell commented on #58845
4712639-zen

This error message was also seen here, but it is a simple site.

• The user gets a WSOD on the editor when they try to edit or just add a space and press the return button.
• User sees error as well: [](https://d.pr/i/XGnJyG)

Previous Steps taken

- cleared browser cache
- issue does not occur in Firefox
- User has a retired theme. I activated the same theme on my site but could not

[2022-02-24 10:58] philnick206 commented on #61062
Another report #4807036-zen

[2022-02-24 11:02] cpapazoglou commented on #60079
Resolved in 824-gh-Automattic/wpcomsh

[2022-02-24 11:27] jordesign commented on #60469
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.
Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-02-24 11:30] Copons opened #61442 "Seller Experience: Contextual help popover guidance in the editor"
Explore ways to add payment blocks guidance to the Help popover in the editor:
- For users that created their sites with "sell"/"start simple" intent.
- When a payment block is selected.

The Help popover should contain items related to payments blocks, or at least one item related to the Payment Button block (formerly known as Payments).

| Help Popover | Read More |
| - | - |
| <img width="273"

[2022-02-24 11:30] Copons opened #61443 "Seller Experience: Contextual help popover guidance in the editor"
Explore ways to add payment blocks guidance to the Help popover in the editor:
- For users that created their sites with "sell"/"start simple" intent.
- When a payment block is selected.

The Help popover should contain items related to payments blocks, or at least one item related to the Payment Button block (formerly known as Payments).

| Help Popover | Read More |
| - | - |
| <img width="273"

[2022-02-24 11:31] arthur791004 commented on #61399
See pbxlJb-14I-p2 and D75617-code

[2022-02-24 11:45] nelsonec87 commented on #61436
Seems to be a duplicate (#61016)

[2022-02-24 11:48] mxhassani commented on #52728
33485094-hc would want to be notified once fixed

[2022-02-24 11:50] Copons commented on #61443
GitHub borked up and created two of these (see https://github.com/Automattic/wp-calypso/issues/61442) 🙂

[2022-02-24 11:50] #61443 closed, assigned to nobody

[2022-02-24 11:54] Copons commented on #61422
I haven't tested it, but this might be solved with `supports: { __experimentalExposeControlsToChildren: true }`.
It's currently used by the Buttons and Social Links blocks in Core Gutenberg to expose the parent's alignment controls in the children's toolbars.

See PR when it was introduced: https://github.com/WordPress/gutenberg/pull/33955

[2022-02-24 12:26] carinapilar commented on #54383
Here's another example where we had to do a late refund for a domain because of the wording: 4786469-zd-woothemes

[2022-02-24 12:59] dlind1 commented on #58898
[woocommerce-shipping-fedex](https://translate.wordpress.com/projects/woocommerce/extensions/woocommerce-shipping-fedex/), [woocommerce-mix-max-quantities](https://translate.wordpress.com/projects/woocommerce/extensions/woocommerce-min-max-quantities/) and [woocommerce-xero](https://translate.wordpress.com/projects/woocommerce/extensions/woocommerce-xero/) are now fully translated, but require cod

[2022-02-24 13:13] mxhassani opened #61444 "Hever theme Navigation block: Sub menu background transparent when picking a suggested color"
### Quick summary

When using the Navigation block with the hever theme, the background of the submenu appear transparent:

![image](https://user-images.githubusercontent.com/81776920/155529880-c6ec6b88-efbb-43c3-92b5-d82800b5333e.png)

### Steps to reproduce

1. Activate the hever theme
2. From Gutenberg add a Navigation block
3. Add a menu element and a submenu to it
4. From the sidebar select a

[2022-02-24 13:17] mxhassani commented on #61444
Additional: found a report related to the opposite scenario: picking custom colors results in a transparent background. No theme specified. No follow up: https://github.com/Automattic/wp-calypso/issues/44839

[2022-02-24 13:21] cpapazoglou commented on #60079
824-gh-Automattic/wpcomsh is now merged and will be deployed today.

[2022-02-24 13:21] #60079 closed, assigned to cpapazoglou

[2022-02-24 13:25] syhussaini opened #61445 "Show/Hide on blocks on different device/screen types"
### What

I would like to have the option for every single block that would allow to hide/show the block based on device type in the FSE and the regular blocks.

### Why

This will give more control to the user to manage the content on the website. This way, they can decide to hide the content that may not be suitable for mobile viewers from being viewed when the site is viewed on mobile and vice

[2022-02-24 14:22] yansern commented on #61150
To answer as to why only blocks with block supports show up, it's because of the additional filtering.
<img width="783" alt="image" src="https://user-images.githubusercontent.com/1287077/155541941-84dc1c4c-007f-4f46-b276-b27f442f4228.png">

[2022-02-24 14:22] yansern commented on #61150
As for the fix, instead of using `getBlockTypes()`, use `getInserterItems()` instead, and `getInserterItems()` sorts by core and then non-core.

The fix should be done in Gutenberg core.

[2022-02-24 14:27] yansern commented on #61150
Using `getInserterItems()` work. After some cleanup, we'll create a PR at Gutenberg. cc @Automattic/apex

<img width="336" alt="image" src="https://user-images.githubusercontent.com/1287077/155542815-4964a66c-1e43-4b47-86ce-6920d286ca3a.png">
<img width="374" alt="image" src="https://user-images.githubusercontent.com/1287077/155542827-5d491ca0-376c-41ed-821a-46212a991716.png">

[2022-02-24 14:36] Robertght opened #61448 "Twenty Twelve: Buttons block inside widgets is not respecting the custom colors options"
### Quick summary

With Twenty Twelve, when we add a Buttons block and try to change the color options, it doesn't get applied despite having the right classes.

I'm reporting this here as Block widgets appear to be specific to .com.

### Steps to reproduce

1. Activate Twenty Twelve
2. Add a button block
3. Try to change the colors(text/background) of the buttons block

### What you expected to h

[2022-02-24 14:42] Robertght commented on #44839
I can confirm https://github.com/Automattic/wp-calypso/issues/61444 is the same issue as the website was using Hever at the time. Closing this one for now.

[2022-02-24 14:43] Copons commented on #61419
This seems to be caused by this code, but I'm not sure where it comes from:
[code]

Furthermore, the upgrade nudge button is incorrectly using some theme styles, such as the link underline (see [Blockbase](https://github.com/Automattic/themes/blob/de7a2473bb920fe3a8f5c33432bd2e7ad158e586/blockbase/sass/elements/_links.scss#L13-L22)):
<img width="127" alt="Screenshot 2022-02-24 at 14 33 07" src="ht

[2022-02-24 14:49] jrushfinn commented on #61191
@arthur791004 Thanks for creating a new issue here! Do you need any help from us at this moment?

Including @yaelirub and @mattmiklic for visibility

[2022-02-24 14:51] msilbers commented on #38697
reported in 34190442-hc

[2022-02-24 14:52] #44839 closed

[2022-02-24 15:18] kerrynicl commented on #60447
This seems to be affecting just Legacy Widgets but I was able to reproduce

[2022-02-24 15:27] aleone89 commented on #58845
This has also been reported here: zen-4764076 - I'm asking them for more details.

[2022-02-24 15:28] ghost opened #61449 "Theme File Editor and User Editor in WP-Admin Dashboard broken"
### Quick summary

I had two users back to back in chat. One was trying to edit their custom built theme using Appearance > Theme File Editor
Now they are trying to access the header.php it takes them to plugins page: https://wordpress.com/plugins/ and second has a LMS plugin and they were trying to edit their users in WP-Admin Dashboard User's tab and on editing the user it takes them to plugins

[2022-02-24 15:31] rambogenius commented on #61449
Cases hc-29445880 and hc-34313443

[2022-02-24 15:34] kerrynicl commented on #60515
I was able to reproduce on my test site with the same css. user has over 600 lines of code

[2022-02-24 15:41] Robertght commented on #61395
Thank you for reporting this @mriyazuddin I noticed there is no query loop block present on the Home template:

![image](https://user-images.githubusercontent.com/6737345/155557105-6f9e56e3-09fc-4a48-94ef-d58f8c859389.png)

Adding one does help and renders the other posts correctly. Could you please give this a try?

[2022-02-24 15:45] JoshuaGoode commented on #61449
Likely due to 825-gh-Automattic/wpcomsh

This started ater `wpcomsh` 2.8.72` was deployed @Automattic/bespin

[2022-02-24 15:46] inaikem commented on #61449
I can confirm this is also affecting user edit links in WP Admin on AT sites.

Cc @Automattic/quality-squad + @simison

[2022-02-24 15:53] JoshuaGoode commented on #61449
Users can utilize SFTP in the meantime.

[2022-02-24 16:01] kerrynicl commented on #60062
Refiled bug report on Gutenberg Repo - [GH- 39057](https://github.com/WordPress/gutenberg/issues/39057)

[2022-02-24 16:04] JoshuaGoode commented on #61449
It seems this also impacts the WP-Admin User list.

Accessing a specific user in the WP-Admin user list redirects to wrodrepss.com/plugins as well, as reported on p1645718431756679-slack-C03TY6J1A

[2022-02-24 16:12] desnum commented on #61449
Cases: 34365386-hc and 34366286-hc

[2022-02-24 16:12] kerrynicl commented on #60637
I'm able to reproduce the delay in loading buttons but not flashing

https://user-images.githubusercontent.com/83325600/155562781-79328b59-ba4e-4810-86de-238016b6dd42.mp4

[2022-02-24 16:21] poeticabdul commented on #61449
Reported here 34366965-hc

[2022-02-24 16:24] JoshuaGoode commented on #61449
`wpcomsh` 2.8.73` is deploying now and will be on all servers shortly.  It includes a fix. 827-gh-Automattic/wpcomsh

Thank you @cpapazoglou & @epeicher

I'll loop back once we're fully deployed.

[2022-02-24 16:28] ccwalburn commented on #61449
Another case here: 34365548-hc / 4809533-zen

[2022-02-24 16:35] JoshuaGoode commented on #61449
Fix is fully deployed.  Tested a few sites to confirm things are working properly now.

[2022-02-24 16:47] ccwalburn commented on #61449
Works for my reported case, too!

[2022-02-24 16:48] kerrynicl commented on #60521
Created a new free site and was not able to reproduce using the blank canvas or russell theme or twenty twentytwo. There was no notification on the page. I'll close this for now, but please reopen if you come across this again.
<img width="581" alt="Screenshot on 2022-02-24 at 11-47-52" src="https://user-images.githubusercontent.com/83325600/155569349-5effa454-5ef8-4f5a-b0d3-358787873cc4.png">

[2022-02-24 16:48] #60521 closed, assigned to nobody

[2022-02-24 16:48] hideandgeek404 opened #61451 "Activity Log items look like links but don't direct anywhere"
### Quick summary

When viewing the Jetpack Activity Log, there are certain actions that have link styling on their titles, these include but are not limited to "Feedback received", "Login succeeded" and "Page modified".

This can be confusing for the user as the titles look interactive and hovering over them makes the text darker as if it is interactive, but clicking on the link does nothing

<im

[2022-02-24 16:48] hideandgeek404 opened #62549 "Activity Log items look like links but don't direct anywhere"
### Quick summary

When viewing the Jetpack Activity Log, there are certain actions that have link styling on their titles, these include but are not limited to "Feedback received", "Login succeeded" and "Page modified".

This can be confusing for the user as the titles look interactive and hovering over them makes the text darker as if it is interactive, but clicking on the link does nothing

<im

[2022-02-24 16:49] hideandgeek404 opened #61452 "Activity Log items look like links but don't direct anywhere"
### Quick summary

When viewing the Jetpack Activity Log, there are certain actions that have link styling on their titles, these include but are not limited to "Feedback received", "Login succeeded" and "Page modified".

This can be confusing for the user as the titles look interactive and hovering over them makes the text darker as if it is interactive, but clicking on the link does nothing

<im

[2022-02-24 16:59] cpapazoglou commented on #61449
Fixed by 827-gh-Automattic/wpcomsh

[2022-02-24 16:59] #61449 closed, assigned to cpapazoglou

[2022-02-24 18:05] #60810 closed, assigned to escapemanuele

[2022-02-24 18:16] kerrynicl commented on #60623
Preview from wp-admin does allow some "Try and Customize" experience for users,  Is it possible to reinstate that with a notification that the theme is a FSE theme so customizations will need to be done in site editor( with link to site editor)

https://user-images.githubusercontent.com/83325600/155574064-be642a68-bbb0-45c0-bb58-96623b7584fe.mp4

[2022-02-24 18:35] gutenberg-plugin-upgrade-bot[bot] opened #61456 "Gutenberg: v12.7.x plugin upgrade"
Previous upgrade: #60969
Release notes: [v12.7.1](https://github.com/WordPress/gutenberg/releases/tag/v12.7.1)

**Install and activate**
- [x] Copy & install v12.7.0-rc.1 (D75661-code, D75673-code (D75663-code))
- [x] Activate v12.7.0-rc.1 on edge (D75680-code)
- [x] Copy & install v12.7.0 (D75962-code, D75963-code (D75972-code))
- [x] Activate v12.7.0 on edge (D75974-code)
- [x] Activate v12.7.0

[2022-02-24 18:42] obenland commented on #61086
Backfill is complete (p1645728008228899-slack-C02V49GM0PN)

[2022-02-24 18:42] #61086 closed, assigned to mmtr

[2022-02-24 18:45] kerrynicl commented on #60958
User suggesting site icon be used in email notifications and pingback previews as at the moment it will load other user's gravatar
site icon for pingback only seen on dashboard
![Annotation on 2022-02-24 at 13-35-43](https://user-images.githubusercontent.com/83325600/155586846-9bd2aeef-bbeb-4e9a-b9ea-51c0bd461781.png)

[2022-02-24 18:49] #61405 closed, assigned to nobody

[2022-02-24 18:51] andres-blanco commented on #50560
Progress on adding the token migration on Atomic transfer made here: D75586-code

[2022-02-24 18:54] kerrynicl commented on #61452
closing as duplicate: #61451

[2022-02-24 18:54] #61452 closed, assigned to nobody

[2022-02-24 19:05] kerrynicl commented on #61451
I'm not sure if those actions were ever clickable for this to be a bug but I'll keep this open as an update to those actions to be clickable would be nice

[2022-02-24 19:32] worldomonation opened #61458 "Flaky E2E: Configure the block"
### Spec file

specs/blocks/blocks__jetpack-earn.ts

### TeamCity ID

7465532

### Logs

[code]

[2022-02-24 19:32] worldomonation commented on #61458
Fix required due to changes in https://github.com/Automattic/jetpack/pull/22491.

[2022-02-24 20:03] noahtallen commented on #61434
cc @Automattic/team-calypso-frameworks

[2022-02-24 20:38] zaguiini commented on #60110
Just found the problem. Spinning a PR soon!

[2022-02-24 20:54] #61387 closed, assigned to worldomonation

[2022-02-24 21:04] zaguiini commented on #60110
There's our bugfix: https://github.com/WordPress/gutenberg/pull/39078

Do not forget to sync the most current ETK to your sandbox while testing on WPCOM. Otherwise, you'll not see the navigation drawer.

[2022-02-24 21:15] cuemarie commented on #60973
Hey @Greatdane ! Yes, thanks for clarifying - this is referring to the Post Excerpt Block featured within the Query Loop.

<img width="1250" alt="Markup 2022-02-24 at 14 14 10" src="https://user-images.githubusercontent.com/27249804/155608788-af3dfd1b-6f88-4c82-8a85-7bb3349f29b7.png">

[2022-02-24 21:41] spraveenitpro opened #61463 "[Bug]: Better error messages on the “Use a domain I own” page for domains that can’t be transferred."
### Quick summary

When you try to search for a domain from `Upgrades >> Domain >> Add a Domain >> Use a domain I own` followed by typing a domain name with TLD `.nl`, we get a error message: `This domain cannot be transferred.`

![](https://d.pr/i/6CrlVS+)
[Direct Link](https://d.pr/i/6CrlVS+)

This is not very useful or intuitive, we need error messages that are more descriptive like it is shown

[2022-02-24 21:46] JoshuaGoode opened #61464 "Atomic: Translation plugins conflicting with nav unification, preventing site and subscription management"
### Quick summary

@JessBoctor reported that some translation plugins are conflicting

In particular WPML as well as Polylang + Polylang (Polylang may sometimes require a specific language or PolyLang Connect for Elementor)

See internal discussion on p9F6qB-8EL-p2

### Steps to reproduce

1. Install Polylang + Elementor + Polylang Elementor Connector on a WPCOM Atomic site (WPML can also cause th

[2022-02-24 21:56] JoshuaGoode commented on #61464
Triagers and Devs, please refer to some of the internal discussion on p9F6qB-8EL-p2

[2022-02-24 22:41] edequalsawesome commented on #60702
I was able to duplicate this -- in Safari, the content of the `event-countdown__date` div is turned into a telephone number, which I think breaks the script that generates the countdown.

![Markup on 2022-02-24 at 17:29:30](https://user-images.githubusercontent.com/4000628/155619553-9e495fcf-fef1-4c3b-8f56-3507c0a00d88.png)

Transferring to the wp-blocks repo!

[2022-02-24 22:45] blackjackkent opened #61465 "Seller Experience - Capture industry vertical as part of Seller onboarding flow."
As a user going through onboarding I want to enter my industry so that I can see and use more relevant designs.

Add a required searchable dropdown "Industry" field to the screen that currently captures a user's store name and description; populate this dropdown with values from [Stripe’s merchant categories](https://stripe.com/docs/issuing/categories).

![image](https://user-images.githubusercont

[2022-02-24 22:49] blackjackkent opened #61466 "Seller Experience - Add a new Seller-related step to the editor welcome tour"
When first landing in the editor after picking the simple pathway, a user is greeted with a generic in-editor tour. Let’s add a step that is payment block specific.

When first entering the editor, I should be greeted with the in-editor tour. The second-to-last step in the tour should be focused on the Payments Block for users who arrived in the site editor as a seller who followed the "Start Simp

[2022-02-24 22:51] blackjackkent opened #61467 "Seller Experience - Add educational panel for users with "Sell" intent"
Within My Home we currently show a couple of educational panels that link off to support articles and video courses. Let’s add a seller specific panel that does the same.

As a user who has selected sell intent, show a seller focused panel on the My Home screen. Clicking learn more within this panel should open up [https://wordpress.com/support/video-tutorials-add-payments-features-to-your-site-wi

[2022-02-24 22:52] ai2n commented on #51917
Similar issue 32859904-hc

[2022-02-24 22:59] edequalsawesome commented on #60621
This is now fixed! p1645742790853769-slack-opers

[2022-02-24 23:03] DustyReagan commented on #61213
Can I get your [thoughts on this PR](https://github.com/Automattic/wp-calypso/pull/61468) @sixhours?

[2022-02-24 23:04] blackjackkent opened #61469 "Seller Experience - Add Payments Block content to editor help popup"
After [educating the user on the payment block as part of the in-editor tour](https://github.com/Automattic/wp-calypso/issues/61466), let’s make sure there is a way back to the support documentation via the help dialog.

When clicking the “?” button in the editor, the user should be greeted with a dialog containing a few links that might interest them. If they have selected the "sell" intent durin

[2022-02-24 23:04] edequalsawesome commented on #57226
Another report 4742076-zen

Original report: https://github.com/Automattic/wp-calypso/issues/60648#issuecomment-1027670158

[2022-02-24 23:05] blackjackkent opened #61470 "Seller Experience - Add Design Picker back into the Seller onboarding flow."
As a user going through onboarding I want to be able to choose a design for my product so that it best suits my needs.

If the user selects "Start Simple" in the Sell intent onboarding flow, they are directed to the design picker step; the "Store" category and its accompanyhing themes should be displayed by default.

Hovering over each theme shows “start with” and “preview” buttons. Clicking "prev

[2022-02-24 23:07] edequalsawesome commented on #60648
I was able to reorder the music tracks in the Widget panel of the Customizer, so that's been resolved, and I'm going to close this issue.

@druesome There was a different issue for the Choose Song link not working, so I copied your report over to there: https://github.com/Automattic/wp-calypso/issues/57226

[2022-02-24 23:07] #60648 closed, assigned to nobody

[2022-02-24 23:08] blackjackkent opened #61471 "Seller Experience - Add Woo upsell to My Home banner"
For "Sell" users that have a launched site that is using a product block (i.e. they took the "Start Simple" path during onboarding), we should display an upsell banner within My Home that directs them to the in-product Woo landing page.

Clicking “Learn more” should take the user to the Woo landing page (`http://wordpress.com/woocommerce-installation/{site-url}`). The user can close this banner vi

[2022-02-24 23:11] blackjackkent opened #61472 "Seller Experience - Customize Woo landing page for Sell users"
For "Sell" users that have a launched site that is using a product block (i.e. they took the "Start Simple" path during onboarding), we should display customized content on the Woo landing page - CTA text “Upgrade your store” with a sub message “Need more out of your store? Unlock the tools needed to manage products, orders, shipping and more.”

![image](https://user-images.githubusercontent.com/1

[2022-02-24 23:30] edequalsawesome commented on #60747
This is a core Gutenberg issue: https://github.com/WordPress/gutenberg/issues/38686

Closing this in favor of that issue.

[2022-02-24 23:39] NoHopeRadio opened #61473 "Block Alignment Settings Copied to Widget Area Cannot be Changed, Don't Reset to Default"
### Quick summary

This is a little esoteric and may soon be entirely irrelevant, however, it came up once and could again. So! Say you make a full-width block in a regular page in the block editor and then decide to copy and paste that block into the widget area.

<img width="2028" alt="a fully aligned columns block" src="https://user-images.githubusercontent.com/71042895/155623872-b94d95dc-6df3-

[2022-02-25 00:52] delputnam commented on #61463
Thank you for addressing this issue @spraveenitpro! 🙇

I think this looks like a really good solution.  The only change I would make is to the specifics of the message to show on the Use a domain I own page.  For this case, we'll already show that you will be able to connect the domain in the card directly above the transfer card, so I think we could limit the message to the reason why the domain

[2022-02-25 01:15] donalirl commented on #59975
Sorry to re-open but I just want to double-check as I'm getting an error on non-English interface languages.

In an English interface, the link works. However, switch to Dutch for example and the link leads to a page not found error at this URL:

https://wordpress.com/nl/en/support/wordpress-com-secure-sign-on-sso/

...notice the `/nl/en/`

The doc has an nl version: https://wordpress.com/nl/suppo

[2022-02-25 02:55] devNigel commented on #51540
Another report: 34373290-hc

The workaround fixed the issue.

[2022-02-25 03:39] arunsathiya commented on #50574
4807885-zen. Same error, advised to use Stripe's Donations block or [PayPal HTML button](https://wordpress.com/support/paypal/).

[2022-02-25 04:26] KokkieH commented on #61397
Thanks for the quick fix. I've let the users mentioned above know.

[2022-02-25 05:08] Greatdane commented on #60747
Re-opened and added to cross-repo watch list.

[2022-02-25 06:37] vishnugopal opened #61475 "Investigate other file imports and post tags/categories being associated correctly"
See https://github.com/Automattic/wp-calypso/issues/60953

The same issue that happens there for Blogger might happen for other file importers (Medium, say) for either tags or categories. Investigate and check both.

[2022-02-25 06:53] nagpai commented on #60483
34128628-hc

[2022-02-25 07:10] Greatdane commented on #60574
Ok, I was able to replicate it by spamming the follow buttons on/off quickly;

<img width="1182" alt="Markup 2022-02-25 at 16 08 24" src="https://user-images.githubusercontent.com/5075840/155670716-4cac33cb-dfa3-4cb7-8dbc-1f0fd2b096d3.png">

Could it simply be there is some type of time limit to avoid spammers doing mass follows/unfollows? (you mentioned you where updating many settings)

[2022-02-25 07:51] SaxonF commented on #61424
Will start thinking about this first thing Monday @blackjackkent

[2022-02-25 07:54] Greatdane commented on #60622
Changed this to a feature request - I agree it is not obvious what this refers to.

However, it looks like each of the 'form' options show up individually if you search any of the below;

<img width="829" alt="Markup 2022-02-25 at 16 53 38" src="https://user-images.githubusercontent.com/5075840/155676737-0add8b94-3d1c-43a6-bbca-ff5c120a6cf4.png">

[2022-02-25 07:56] Greatdane commented on #60808
@rickmgithub are you able to replicate this issue on another site? I am struggling to replicate it here..

[2022-02-25 09:16] mmtr commented on #58599
I think this has been fixed by https://github.com/Automattic/wp-calypso/pull/61200.

Apparently the issue was that Calypso failed to consider the site as an Atomic site and as result it displayed the Anti-spam settings which are only intended for self-hosted Jetpack sites:

https://github.com/Automattic/wp-calypso/blob/e32a8cc05b5e944fea0c2070f927d03ffc8d051d/client/my-sites/site-settings/form-sec

[2022-02-25 09:16] #58599 closed, assigned to mmtr

[2022-02-25 09:19] sanjeev00733 commented on #39956
Another report in #4808746-zen

[2022-02-25 10:17] taipeicoder commented on #61351
On the issue regarding non-Latin characters rendering incorrectly (rectangle boxes) - unfortunately, I was not able to reproduce the issue on my local environment. That being said, I do have some findings that came up while testing `mShots` on production.

To start, it's unlikely that the cause is missing installed fonts. This is supported not only by the fact that other themes' thumbnails render

[2022-02-25 10:33] galakhyati commented on #54773
Found this issue where the uploaded theme isn't showing in Calypso's My Site → Appearance → Themes → My Themes tab. I'm seeing this on an existing Atomic site where I have uploaded a couple of themes.

I had the same occurrence on a user's site who has uploaded a couple of themes too but was unable to access it from the Calypso interface.

They were only able to access them from Classic View/ WP-A

[2022-02-25 11:00] mriyazuddin commented on #61395
Hey @Robertght that indeed worked in the editor. However, when I looked at the front-end, there's no change. It still shows the latest post alone.

[2022-02-25 11:14] aleone89 commented on #56382
Another requirement for this here: hc-24805223 (TwentySixteen theme)

I supplied this CSS:

`.wp-block-button.is-style-outline a:hover,
.wp-block-button.is-style-outline a:visited {
    color: black;
    background: #ffef8e;
}`

[2022-02-25 11:19] #59975 closed, assigned to annacmc, arcangelini

[2022-02-25 11:26] mashikag commented on #61150
I created [the PR](https://github.com/WordPress/gutenberg/pull/39093) in WP/gutenberg but all the credit for the code change should go to @yansern 🏅

[2022-02-25 12:09] #60621 closed, assigned to nobody

[2022-02-25 12:09] fjorgemota commented on #60621
Nice! Closing the issue then =)

[2022-02-25 12:29] BogdanUngureanu opened #61483 "[Bug]: Pay with Paypal block: Invalid content when added from the Customizer"
### Quick summary

When a Pay with Paypal block is added through the Customizer widgets, the block becomes invalid when it's edited from Appearance > Widgets

### Steps to reproduce

1. Go to customizer
2. Add a pay with paypal block, fill out all fields and save
3. Go to appearance -> widgets
4. Get a ’This block contains unexpected or invalid content”

### What you expected to happen

The block

[2022-02-25 12:36] cpapazoglou opened #61484 "Marketplace: deprecate Yoast product with product_id 900"
Since we created two new monthly and annual Yoast products, we will have to deprecate the `Yoast Premium` subscription with product_id = 900. Right not it is surfacing in Store Admin and people can select the deprecated subscription.

![CleanShot 2022-02-25 at 14 37 44@2x](https://user-images.githubusercontent.com/12430020/155716438-5fbafeb8-f608-4a77-b55b-2fd838ef45d9.png)

[2022-02-25 12:40] carinapilar commented on #61018
I don't see any updates on the Slack thread mentioned above, so I'll share another report on 20512734-hc - user activated _Twenty Twenty-Two (Pink)_ and all images on the site turned into black and white. I recommended activating _Twenty Twenty-Two_ instead.

[2022-02-25 13:38] kimerlin81 commented on #60335
Another reported incident - 34371808-hc
This error also occurs when there's an attempt to change the block style.
Seems to be intermittent.

[2022-02-25 13:44] Robertght commented on #57812
#4798826-zen

[2022-02-25 13:57] #60441 closed, assigned to JulianBustamante

[2022-02-25 14:00] hideandgeek404 opened #61486 "Footer credit: "Hide (requires Business plan)" still shows even on sites with a Business plan"
### Quick summary

When choosing the "Hide Footer" option within the Customizer the dropdown options show "Hide (Business Plan Required)" despite the site being on the correct plan for this functionality. You can then not save the option to see if it is just visual.

### Steps to reproduce

1. Click `Appearance > Customize`
2. Click `Site Identity`
3. Scroll to the bottom of the options and click

[2022-02-25 14:06] Copons opened #61487 "Earn: Add tracks event to the Connect Stripe button"
The "Connect Stripe" button in `Tools -> Earn -> Collect Payments` doesn't have any tracks event.
Let's add one!

![image-10](https://user-images.githubusercontent.com/2070010/155728472-ae691afa-c092-4f61-8ecf-2225e63c2d36.png)

Note: this issue is related to https://github.com/Automattic/jetpack/issues/23117, so we might want to use a simila nomenclature.

[2022-02-25 14:15] zaerl commented on #59247
See D75705-code for a fix.

[2022-02-25 15:30] allilevine opened #61489 "Woo on Plans: Installation flow sometimes redirects to Crowdsignal"
### Quick summary

At the end of the /start/woocommerce-install/ flow, the user is sometimes redirected to Crowdsignal (/wp-admin/options-general.php?page=crowdsignal-settings) instead of WooCommerce.

### Steps to reproduce

1. Start the flow at `/woocommerce-installation/< site id >` or by choosing "Sell" during the /start signup flow.
2. Complete the flow.

### What you expected to happen

The

[2022-02-25 15:34] davipontesblog opened #61490 "Timeline Block: Incorrect layout in editor while Preview is fine"
### Quick summary

The timeline block is not showing the alternate layout as expected as shown [here](https://wordpress.com/support/wordpress-editor/blocks/timeline-block/#alternate-items) in the editor.
I checked the Preview mode and it shows OK in the front end.

Editor:
<img width="851" alt="Screen Shot on 2022-02-25 at 12-22-52" src="https://user-images.githubusercontent.com/31009008/155742491

[2022-02-25 15:44] allilevine opened #61491 "Marketplace: Add education footers"
### Details

We need to add some educational content to the /plugins homepage, in two footers.
<img width="773" alt="Screen Shot 2022-02-25 at 10 41 03 AM" src="https://user-images.githubusercontent.com/1689238/155743842-6a52b19a-4e7f-4bb7-ae89-f0243609f389.png">

For examples of components to re-use, see:
https://github.com/Automattic/wp-calypso/blob/c7e06d5e2fe1ca94643d16855209704c39452f30/clien

[2022-02-25 15:46] allilevine commented on #61491
@SaxonF Please drop links to relevant resources here 🙌 Also, is there an associated Figma?

[2022-02-25 15:48] allilevine opened #61492 "Marketplace: Make plugin spotlight dynamic using JITMs"
### Details

We added a plugin spotlight in https://github.com/Automattic/wp-calypso/pull/61185

We need to add a way to recommend a plugin in the spotlight based on what we want to promote, and user data.
We want to do that using JITMs. See: p1646080759414689/1646068211.854379-slack-C029JEQRVRT

[2022-02-25 15:50] cpapazoglou opened #61493 "Marketplace: Yoast Premium seems not getting installed"
Following the comments of the CFT pdtkmj-4i-p2#comment-99, I tried to install Yoast Premium by using the following methods:

- Checkout from wordpress.com
- Adding the subscription from Store Admin

either way, neither Yoast premium nor Yoast got installed in my site.

[2022-02-25 16:33] mattwiebe commented on #56975
We are not going to remove all of it, but rather we are going to remove all of the editor and REST API integration. The frontend will continue rendering the header and footer template parts that the user is accustomed to, while no longer being able to edit them. Users who need to edit their header or footer can be helped to switch to a Core FSE theme

Otherwise, here's a few more things:

- [ ] re

[2022-02-25 16:52] edwinho89 opened #61496 "Full Site Editing: Allow Import and Export of Templates, Template Parts, and Styles"
### What

The current [export](https://wordpress.com/support/export/) tools only includes posts, pages, comments, categories, and tags.

### Why

It'd be great if the import and export equally allows import and export on Templates, Template Parts, and Styles.

### How

_No response_

[2022-02-25 16:54] edwinho89 commented on #61496
May be related with https://github.com/Automattic/wp-calypso/issues/51442

[2022-02-25 17:43] zaguiini commented on #61118
@poligilad-auto is this ready to be worked on?

[2022-02-25 18:16] obenland opened #61499 "Replace existing checks based on `get_site_specific_features_data()` with `has_feature()` checks once available"
With `wpcom_site_has_feature()` in place now, we can start replacing calls to `get_site_specific_features_data()` with it. They are mostly used to gate Videopress and Gutenberg blocks, it looks like.

- [ ] Replace feature check in `class.videopress-gutenberg.php`
- [ ] Replace feature check in `class.jetpack-gutenberg.php`

There seem to be two cases where it's being used to offer the list of sup

[2022-02-25 18:30] obenland commented on #60966
Fixed in D75219-code, D75572-code, 820-gh-Automattic/wpcomsh, and 814-gh-Automattic/wpcomsh.

[2022-02-25 18:30] #60966 closed, assigned to nobody

[2022-02-25 18:41] cometgrrl commented on #60574
I suppose it's possible. I haven't tried to reproduce it since then. However, when it first happened, while I was updating the settings for a lot of followed P2s, I wouldn't have expected to trigger any rating limiting (like 5-10 sites changed in a minute, not 100+).

The frustrating thing is that if it is rate limited, the try again seems to cause it to continue. Not a pleasant user experience. M