[2021-10-30 04:43] #57361 closed, assigned to nobody

[2021-10-30 10:57] nerrad commented on #57449
Hmm, ya so that is concerning. Here's the latest testing (I deactivated all Jetpack modules for each site to try to eliminate some complexity):

### Atomic Site (https://nerradssuperstore.wpcomstaging.com/).

- Confirmed Jetpack 10.3-beta installed (via `jetpack_about` page).
- On both iframed and non-iframed editor instances, adding a Cart block results in some sort of infinite loop (reflected by

[2021-10-30 15:51] autumnfjeld opened #57488 "Hero Flows Tracks Events"
# Hero Flow Metrics
These metrics are part of
Hero Flow: Write & Build intent screen #55603
Hero Flow: Extended Write Flow #56568
Design Picker v2 #56567

Many Automatticians will be looking at metrics of the Hero Flow and we need to make sure we have clear tracks events that can be used in funnels and other metrics analysis.
This ticket will track all the ToDos and PRs related to Hero Flow metric

[2021-10-30 15:53] arunsathiya commented on #57486
In my test, the external link icons are missing. 🤔

<img width="219" alt="image" src="https://user-images.githubusercontent.com/18581859/139540265-739fc430-4aed-44ac-83c9-78648ab09129.png">

[2021-10-30 23:13] creativecoder commented on #57160
Thanks for clarifying! I updated the issue description with the correct visual.

[2021-10-31 05:27] formosattic commented on #32232
+1 4417856-zd-woothemes

Can't reproduce on my own site, but here's how it shows on user's site.

User Classic View shows content OK.

### Pages - "You haven't published any pages yet."
| Calypso | WP Admin |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/139569277-167348b3-bc19-4d7a-9bb2-2ef399c023a7.png)  | ![image2](https://user-images.githubuse

[2021-10-31 06:00] kuropixel opened #57489 "Classic blocks do not display content in preview for mobile or tablet in Calypso"
### Quick summary

Content inside a classic block does not display when users click "Preview" in the editor and choose mobile or tablet view. Instead, there is only a gray box showing "Classic".

### Steps to reproduce

1. Open a post or page in the editor.
2. Make sure there is a classic block with content inside
3. Click Preview> Mobile or tablet

### What you expected to happen

The content ins

[2021-10-31 06:07] kuropixel commented on #57489
Adding video recording.
https://user-images.githubusercontent.com/83020905/139570411-e76722b1-9454-4c5c-8387-64549f0182cb.mov

[2021-10-31 06:45] formosattic commented on #32232
4131001-zd  and 4107713-zen are the same site. I've checked, and the posts, pages are showing ok now.

My last report turned out to be a different issue, fixed by running domain medic.

I'll close this again as

[2021-10-31 06:45] #32232 closed

[2021-10-31 06:58] arinoch commented on #56742
It occurs to me that I didn't clarify my previous comment. Everything on [this page](https://wordpress.com/support/code/) can only be run if a user is on the business plan with plugins installed. So, similar to CSS, I'm proposing--and the user interaction linked above seems to indicate a need that--we broaden it to include the same upgrade/triggering method as was proposed for CSS. On premium and

[2021-10-31 06:59] retnonindya commented on #57489
Another report:
4417496-zd-woothemes

This causing confusion and concerns on users (they thought their (live) site won't be visible on mobile and tablet)

[2021-10-31 08:32] poojashetty18 commented on #46195
Another report here #4408361-zen

[2021-10-31 08:35] formosattic commented on #57360
Thanks @nerdysandy for the report and sharing a CSS fix.

Could you share screenshots of how the drop-down option is set?

I tested with a menu with a drop-down (set in Customize), and a Navigation block with the add submenu:
<img width="779" alt="Markup 2021-10-31 at 16 29 05" src="https://user-images.githubusercontent.com/15944096/139574555-ebbfa908-6d26-4049-9b65-edf3a797ea1c.png">

But whether

[2021-10-31 09:13] damiannep commented on #57449
Making a note of 4418000-zen, for us to notify the user when the issue is resolved.

[2021-10-31 09:37] Nic-Sevic commented on #55333
another here 4417081-zd-woothemes

[2021-10-31 09:40] formosattic commented on #57468
I agree, it'd make sense to have the previous active theme and plugins reactivated, either **automatically** or **with a notification** asking the user if they want that option.

[2021-10-31 11:30] roo2 opened #57490 "Error after clicking "Add Email" Upsel from the congratulations page"
#### Steps to reproduce

1. Starting at URL: `/domains/add/mapping/YOUR_SITE.wordpress.com`
2. type in a *.blog domain
3. Complete the Checkout
4. You will see a congratulations page
<img width="847" alt="Screen Shot 2021-10-31 at 9 23 13 pm" src="https://user-images.githubusercontent.com/22446385/139580708-1f2f9fcd-66b7-4d31-a96b-2117ab39a51c.png">
5. Click on "Add Email"

#### What I expected
Yo

[2021-10-31 12:32] poeticabdul opened #57491 "Blog Subscription: Subscribers not receiving confirmation email"
### Quick summary

Subscribers to blogs do not get confirmation emails despite a successful subscription and the notice "Congrats, you’re subscribed! You’ll get an email with the details of your subscription and an unsubscribe link."

### Steps to reproduce

1. Add a subscription form block to a Simple Site
2. Go to the live site and subscribe to the site
3. Note that you got a `Congrats, you’re s

[2021-10-31 12:37] poeticabdul commented on #55504
Similar issue here https://github.com/Automattic/wp-calypso/issues/57491, I used a WP.com account email and that also didn't get the confirmation email

[2021-10-31 13:12] poeticabdul commented on #57491
I got the email confirmation when I used an email associated to a WP.com account. I'll close this then and comment on this https://github.com/Automattic/wp-calypso/issues/55504

[2021-10-31 13:12] #57491 closed, assigned to nobody

[2021-10-31 13:33] rickmgithub commented on #51540
Also - 4416868-zd. Suggested Gravatar workaround.

[2021-10-31 15:04] Robertght commented on #57489
Thank you for reporting this. I asked [here](p58i-bmT-p2#comment-52200) as well.

[2021-10-31 16:53] poeticabdul commented on #57036
Another report here 4418142-zd-woothemes. Provided the workaround CSS

[2021-10-31 19:23] msilbers commented on #56559
This was reported in 32498798-hc by a customer. Although it was not the same action, all the errors listed above are exactly the same, and matches what's shown in the godaddy issue

The error occurs when trying to apply any filter (the color filters) to a Carousel block

[2021-11-01 00:22] #56832 closed, assigned to roo2

[2021-11-01 01:32] isocialtish commented on #57339
Another report in #32491956-hc when using wp-admin but it works in the Customizer.

[2021-11-01 01:56] donalirl commented on #38676
Again in #18160726-hc

[2021-11-01 02:02] retnonindya opened #57493 "Block Widget: Archives widget throwing error when Visibility feature is active."
### Quick summary

When activating Visibility for widget Archives on Block Widget, the widget crashed with error `Error loading block: Invalid parameter(s): attributes`

### Steps to reproduce

1. Open the website's Customize > Widgets, or go directly to /wp-admin/widgets.php
2. Add Archive widget block
3. On the widget block's settings, click tab "Advanced", then click "Visibility"
4. As soon as

[2021-11-01 02:50] formosattic commented on #51540
+1 25754073-hc
Gravatar workaround worked.

[2021-11-01 03:37] roo2 opened #57494 "final loading screen of intent flow sends the wrong tracks event"
#### Steps to reproduce
go to `/start/setup-site?flags=signup/hero-flow&siteSlug=YOUR_TEST_SITE.wordpress.com`
Choose `build` and open the dev tools network tab
Open the preivew for a design.
Select the design

* Notice that the `calypso_signup_skip_step` event fires ❌
* Notice that `http://pixel.wp.com/t.gif?` is called with `_en=calypso_signup_step_start, flow=setup-site, step=intent` ❌

#### Wh

[2021-11-01 05:09] roo2 commented on #57494
Also, when a users opens a theme preview and then selects the theme, the  `calypso_signup_skip_step` will inappropriately fire.

[2021-11-01 06:33] kangzj commented on #56741
Hi team, the fix is merged , and will be deployed to Atomic sites in Jetpack 10.3.

[2021-11-01 06:33] #56741 closed, assigned to nobody

[2021-11-01 06:55] kuropixel commented on #57489
Another report:
4419031-zd

[2021-11-01 07:12] edwinho89 commented on #54871
Similar issue reported on 4418035-zd-woothemes

[2021-11-01 08:24] hideandgeek404 commented on #57043
Another report in 4419422-zen using the Ryu theme

[2021-11-01 10:42] poeticabdul opened #57496 "Missing post categories"
### Quick summary

My Site > Posts > Categories is showing less number of categories than the user has. When you search for a "missing" category on the category page, the "missing" category shows up.

When editing a post, these "missing" categories are not part of the category options to select.

### Steps to reproduce

1. SU to user's dashboard
2. Go to Posts > Categories. Notice there are only a

[2021-11-01 10:57] simison opened #57498 "[Bug]: broken Crowdsignal nudge at sidebar"
### Quick summary

On my fresh Atomic sites on a business plan, I saw a nudge at sidebar:

![image](https://user-images.githubusercontent.com/87168/139661328-112052ce-e365-438f-963f-c585be53aa5a.png)

It leads to a broken page:

`https://wordpress.comhttps/mikaeltestingmailpoet.wpcomstaging.com/wp-admin/admin.php?page=crowdsignal-forms-settings`

### Steps to reproduce

1. Create business site, tu

[2021-11-01 11:17] tyxla commented on #55563
This is fixed by #57465 - thanks @spraveenitpro 🙌

[2021-11-01 11:17] #55563 closed, assigned to nobody

[2021-11-01 11:37] klimeryk commented on #38676
cc @Automattic/nomado, is this on your radar? 🙏

[2021-11-01 11:51] delputnam commented on #38676
Thanks for the ping @klimeryk   I'll add it to our list.

[2021-11-01 11:57] ellatrix commented on #57036
@fullofcaffeine There are still reports. Wasn't this fixed?

[2021-11-01 12:38] lunasera41 commented on #57339
@mreishus, I tested on a WordPress.com simple business test site, and I was able to save the visibility rule.

[2021-11-01 13:39] cpapazoglou commented on #57318
I have added "Dotcom Marketplace" as the parent page and changed the template to "Sidebar with subpages". Thanks @gavande1 !

[2021-11-01 13:39] #57318 closed, assigned to nobody

[2021-11-01 14:21] mreishus commented on #54678
I believe it's desired behavior that the visibility settings are not applied in the customizer. It's possible to create rules that would make widgets display only in very obscure conditions. If this is the case, we still want the widgets to be easily editable inside the editing interface: that the rules can be edited without having to navigate to the specific page where the rules are true for each

[2021-11-01 14:22] mmtr commented on #49830
Closing this one out, since “Appearance > Widgets” and “Appearance > Menus” now link back to classic “widgets.php” and “nav-menus.php” destinations for Simple and Atomic sites!

[2021-11-01 14:22] #49830 closed, assigned to mmtr

[2021-11-01 14:23] mreishus commented on #57330
Fixed by D69021-code

[2021-11-01 14:23] #57330 closed, assigned to nobody

[2021-11-01 14:35] mmtr commented on #50722
Closing this one out. It's no longer reproducible after https://github.com/Automattic/wp-calypso/issues/51441

[2021-11-01 14:35] #50722 closed, assigned to nobody

[2021-11-01 14:39] AtrumGeost commented on #49684
Got another report. The (simple) site has 190 published pages:

4415334-zd-woothemes

Asked them to set the parent page from the Quick Edit option on the Pages WP Admin dashboard.

[2021-11-01 14:42] mmtr commented on #50868
We recently shipped a fix so "Appearance > Widgets" now points to `widgets.php`. I guess we can close this issue then?

[2021-11-01 14:50] mmtr commented on #51790
Seems this one has been fixed, I cannot longer reproduce it.

[2021-11-01 14:50] #51790 closed, assigned to nobody

[2021-11-01 15:24] digitalwaveride commented on #57498
Thanks so much for the ping @simison ! 🙏

I reached out to the Dinobots team, they manage this campaign.
cc @withinboredom

[2021-11-01 16:08] #55576 closed, assigned to nobody

[2021-11-01 16:17] kwight commented on #57455
Make sure we have Tracks events for the My Home carousel too.

[2021-11-01 16:28] worldomonation commented on #57437
Reopening since the issue resurfaced in TeamCity 6915376.

Logs this time around:
[code]

[2021-11-01 16:29] sixhours commented on #53100
Since this hasn't come up in a while, I'm going to close this. We can always reopen a new issue if it continues. :)

[2021-11-01 16:29] #53100 closed, assigned to nobody

[2021-11-01 16:30] sixhours commented on #56194
Flow Patrol (Manage) will be working on a new internal tool over our next couple sprints, so I'm putting this back in the Inbox.

[2021-11-01 16:37] rambogenius commented on #54678
Another case in 4419471-zen

[2021-11-01 17:01] worldomonation opened #57503 "[Bug]: Intermittent Oops! that page can't be found when viewing just-published page."
### Quick summary

Intermittently in the context of end-to-end testing, viewing a published page immediately results in the generic `Oops! That page can't be found.` error.

### Steps to reproduce

1. start new post.
2. add some content. In the e2e test case - image and file blocks were added with content.
3. publish post.
4. click on the `View Post` button in the post-publish panel.

### What you

[2021-11-01 17:15] AtrumGeost opened #57505 "Make it more specific that the Export option allows to download a file and improve wording"
### What

Make it more obvious that the Export option allows to download the contents (posts, pages and media references)

### Why

The user said when reading "Export" they thought it was to directly move the information to another site. And they wanted to download the information. So they ignored the Export option:

32513188-hc

They also asked to add a clarification like the following ones:

- T

[2021-11-01 17:17] kwight opened #57506 "Videos UI: Add final call-to-action upon course completion."
Add final call-to-action upon course completion.

<img width="1584" alt="Screen Shot 2021-11-01 at 10 15 38 AM" src="https://user-images.githubusercontent.com/349751/139712325-baaf9373-d4ad-479d-8d88-1f76bfe319ba.png">

[2021-11-01 17:19] kwight commented on #57448
We'll also need to update the course descriptions and data from https://github.com/Automattic/wp-calypso/issues/57327.

[2021-11-01 17:35] worldomonation commented on #57503
I wonder if this is related to the fact that it just happens to be when the empty e2e test blog cron task is running.

[2021-11-01 17:48] cometgrrl opened #57509 "Audit E2E test data"
Review E2E tests and audit:

- test users
- test sites
- data within sites/blogs

This will be used to determine next steps for cleanup.

[2021-11-01 17:51] cometgrrl commented on #56706
This will be done after https://github.com/Automattic/wp-calypso/issues/57509

[2021-11-01 17:52] cometgrrl opened #57510 "Create plan for E2E test data clean up"
Following https://github.com/Automattic/wp-calypso/issues/57509, we need to create a plan on how to clean up E2E test data.  This should include test sites per https://github.com/Automattic/wp-calypso/issues/57519.

[2021-11-01 18:05] worldomonation opened #57511 "Task: Write up testing user naming convention"
### Details

Currently we do not have naming convention for test users in the Field Guide page.

### Checklist

_No response_

### Related

_No response_

[2021-11-01 18:15] cometgrrl commented on #57409
@scruffian Do you know if this is expected? Should CSS customizations be saved when switching themes on simple sites? If not, we'll close this issue.

[2021-11-01 18:36] autumnfjeld commented on #57490
I could also duplicate this issue.

![image](https://user-images.githubusercontent.com/5665959/139722970-2692ace5-251e-4d42-8457-baa5280da71f.png)

cc: @daledupreez

[2021-11-01 18:43] andres-blanco commented on #57327
Title: 5. Add social sharing buttons
Description: Make it easy for people to amplify your content—learn how to add sharing buttons so your readers can circulate your work on any social platform.
CTA/Button text: Watch the video

@provenself the part of the description that reads "content—learn" is correct or is it a typo?

[2021-11-01 18:45] daledupreez commented on #57490
Thanks for the report, @roo2 and the ping, @autumnfjeld!

We'll tackle this one tomorrow -- it looks like we're not loading some state that we need, or are not checking for it still being loaded.

cc @Automattic/letero

[2021-11-01 18:49] daledupreez commented on #57490
@roo2 and/or @autumnfjeld, as a quick follow-up, how quickly are you clicking on the "Add email" button? I am wondering whether this is strictly on the front end, or if we may be seeing a side-effect of some work from @Automattic/nomado to shift some aspects of the domain provisioning process to be asynchronous.

[2021-11-01 18:52] JoshuaGoode commented on #57299
This is due to recent VideoPress changes.

For WordPress.com on Atomic sites, the site must be public or coming soon with VideoPress enabled. The video must be uploaded to and transcoded by VideoPress recently. The output file should be a .m3u8 playlist file instead of .mp4.

#### Workarounds

Workarounds include setting the `videopress-legacy-transcode` sticker on a site and reupload the video. O

[2021-11-01 19:04] provenself commented on #57327
@andres-blanco no, that's correct! However, Automattic style uses spaces around the em-dash, so should actually be:

[2021-11-01 19:48] worldomonation opened #57513 "Flaky E2E: Close account"
### Spec file

wp-signup__domain.ts

### Suite or step

Close account

### Framework

Playwright

### Logs

Logs:
[code]

Run: 6916825

![wp-signup__domain-close-account](https://user-images.githubusercontent.com/6549265/139732252-d94506ca-fcde-4822-88e7-531632fab78a.png)

[2021-11-01 19:50] worldomonation commented on #57513
Context: Only on Signup: Domain flow.

Suspect it has to do with domains taking some time to 'provision' even if it's a fake purchase in the sandbox system, so by cancelling the domain purchase almost immediately after it is made the system still thinks the user has the domain active.

Reason for the hypothesis: if I log in to the test account after some time using a real browser, the domain no lo

[2021-11-01 19:54] worldomonation commented on #57513
@dpasque I feel like this is a case where we should try the use of an arbitrary `waitForTimeout` despite all its drawbacks. I think waiting 10 seconds after cancellation of the domain purchase could be useful here.

Alternatively, we quarantine this spec and discontinue running it as part of the PR build.

[2021-11-01 19:57] worldomonation commented on #55845
Generally speaking, it is preferable to navigate to the LoginPage endpoint and let the `revealLoginForm` handle the user account switch instead of using this cookie method.

The cookie method should be considered a nuclear option that will have its own fallout/consequences.

[2021-11-01 20:21] kelliepeterson commented on #38676
Documenting here: When it is time to do this let's limit this to a single instance *per user* that HEs can override. We don't want to create a situation where this can be abused and cause us more AGP overages.

[2021-11-01 20:33] supernovia commented on #53100
sixhours thank you!

[2021-11-01 20:40] samiff commented on #57449
Just noting that when we save the version number to `jetpack_options` in the local db, we are concatenating a unix timestamp as seen [here](https://github.com/Automattic/jetpack/blob/fb2ec69c45c3aff4eedc6a27675271208c6232ef/projects/plugins/jetpack/class.jetpack.php#L5219). This option value is what is displayed on the Site Health screen. So `10.3-beta:1635516828` and `10.3-beta:1635591756` should

[2021-11-01 20:53] nerrad commented on #57449
I see, it's really odd then that on the one site it works 🤔. However, I definitely am able to verify that deactivating Jetpack on the ephemeral site where the breakage happens is fixing things.

[2021-11-01 21:38] the-misha opened #57517 "Inconsistent italics in editor"
### Quick summary

Italics are not applying consistently to selected text in posts and pages.

### Steps to reproduce

1. Start new draft of post or page in Gutenberg editor.
2. Type a few lines of text.
3. Highlight a portion of the text.
4. Click the _**I**_ (italic) button in the toolbar, or press Ctrl-I/Cmd-I.

### What you expected to happen

The highlighted text should all be italicized.

##

[2021-11-01 21:43] blackjackkent commented on #57326
Server-side component deployed in D69391-code.

[2021-11-01 21:46] AtrumGeost commented on #57304
We got feedback from a user:

4419286-zd-woothemes

[2021-11-01 21:51] JoshuaGoode commented on #54201
4421243-zen

If the user selects multiple blocks while highlighting some text, they then get stuck in a multi-block selection mode and can't edit again unless they refresh.

Gutenberg: v11.7.1
Editing Toolkit: 3.17927
WP AMP: 2.0.5
CoBlocks: 2.10.1

Browser: Chrome 95 on macOS

#### Simulated Example

This video attempts to demonstrate the end result where they get stuck and have to exit the edito

[2021-11-01 21:54] cometgrrl opened #57519 "Design: Purge test sites automatically"
One idea is a checkbox for auto delete based on (configurable) TTL.

See pciE2j-AH-p2 for context and more ideas

- [ ] Design a mechanism to delete test sites automagically
- [ ] File a follow-on task to implement design

[2021-11-01 22:01] jsnmoon commented on #57486
@arunsathiya: The external links are only present for Atomic sites 🙂

[2021-11-01 22:41] erricgunawan commented on #54201
Just came across this so I'd also like to add that this also happens to me often.

I have no idea to reproduce and it's just that sometimes, it happens. What has been described in the many above reports, I might have actually done those too.

My workaround is usually selecting multiple blocks, then pressing Escape.

Somehow it just worked. Somehow it made the "Select" mode is chosen (because I pre

[2021-11-01 23:24] thesacredpath commented on #57304
Have another user that is not at all happy about having to preview mobile and tablet on the editor overlay, and wants to be able to preview that actual page in various screen sizes.

32516901-zd

[2021-11-01 23:36] jordesign commented on #55844
I"m going to close this issue - as things are being handled otherwise.
pd5cnk-56-p2

[2021-11-01 23:36] #55844 closed, assigned to nobody

[2021-11-01 23:52] provenself commented on #57327
Updated Video 4 has been uploaded to the media library—that's all of it!

[2021-11-02 02:14] p-jackson opened #57521 "Design Picker: when selecting Spearhead the new site will have no homepage, but My Home has an "Update homepage" button"
When a user selects a theme with no homepage (e.g. Spearhead) and lands on My Home, the site setup checklist has a button to "Update homepage", but there's no homepage to update. This is a bit weird.

pdgK6S-gm-p2#comment-568

[2021-11-02 03:44] goblinartificer commented on #50051
quick note that 4383017-zd-woothemes would like an update on this issue as well as #57308

[2021-11-02 05:02] kuropixel commented on #56468
I had a user with this issue. 32521196-hc

I was able to replicate it in the customizer on my end as well
<img width="830" alt="Screen Shot 2021-11-02 at 14 01 10" src="https://user-images.githubusercontent.com/83020905/139789322-f6bbd0a2-aecb-4785-82cf-adb9c94e18d1.png">

[2021-11-02 05:21] Greatdane commented on #12012
Requested here; 3540064-zd-woothemes

[2021-11-02 05:28] Greatdane commented on #19078
Unable to replicate. Script looks to work both in classic editor plugin and using the HTML block in the block editor.

Closing

[2021-11-02 05:28] #19078 closed

[2021-11-02 05:39] Greatdane commented on #57493
@retnonindya I am only able to replicate this on Simple sites, is this the same for you?

[2021-11-02 05:40] retnonindya commented on #57493
@Greatdane David! Yep, I managed to replicate this on Simple site, and it seems like this happens on Simple site only

[2021-11-02 05:55] Greatdane commented on #57517
@the-misha - I am unable to replicate this;

![Screen Capture on 2021-11-02 at 14-50-47](https://user-images.githubusercontent.com/5075840/139793468-f47ca77d-ee06-4f2e-8370-7ca00ecb07f9.gif)

I have tested this on various sites and themes (including Independent Publisher 2). Could you let me know some more information on what setting you used?

[2021-11-02 05:55] #57517 closed, assigned to nobody

[2021-11-02 06:01] Greatdane commented on #57505
Keeping this open, but I feel like some of the items are covered on the support page; https://wordpress.com/support/export/

[2021-11-02 06:11] Robertght commented on #35140
Flagging this for @Automattic/flow-patrol-create as well

[2021-11-02 06:58] essleeung opened #57524 "Karuna: Featured images of post excerpt shows unrelated images if using "Automatically use first image in post""
### Quick summary

User reported that the featured image is completely unrelated to the images in the post if the following options are selected in the customizer > content options

1. Blog display- post excerpt
2. Featured images- display on blog & archives / automatically use first image in post

Screenshot of settings
<img width="322" alt="Markup 2021-11-02 at 07 26 06" src="https://user-images

[2021-11-02 07:08] #50868 closed, assigned to nobody

[2021-11-02 08:35] aleone89 commented on #46085
Another report in the forums here: https://wordpress.com/forums/topic/layout-grid-block-issues/?view=all

[2021-11-02 08:55] aleone89 commented on #46085
Just to add to my findings, it looks like this is being caused by the following CSS:

[code]
Which is being loaded in this file: /masterbar-overrides/masterbar.css

I've done some investigation and it looks like this might be related:

https://github.com/Automattic/wp-calypso/pull/55525#issuecomment-902477515

Whereby the masterbar CSS is overriding some of the theme's CSS - but I'm not 100% on if

[2021-11-02 10:13] withinboredom commented on #57498
Ah, that's a very interesting bug. It appears it works if you click the banner from calypso, but is broken if you click the link in wp-admin.

[2021-11-02 10:14] withinboredom commented on #57498
This is likely related to the differences in how the JITM is parsed in javascript vs. php. I'll see if I can figure something out.

[2021-11-02 10:40] withinboredom commented on #57498
I'm going to disable the jitm for now until we reach a better solution for handling this: pd0D4C-bj-p2#comment-637

[2021-11-02 11:30] scruffian commented on #57409
I believe these customizations should be restored if you switch back to the original theme.

[2021-11-02 12:14] Robertght commented on #57409
I tested with TwentyNinteen and Seedlet and the Custom CSS code didn't return. We can restore them from the revisions instead.

[2021-11-02 13:07] alshakero commented on #55608
Closing as fixed by https://github.com/Automattic/wp-calypso/pull/55930

[2021-11-02 13:07] #55608 closed, assigned to nobody

[2021-11-02 13:34] mrsjaved opened #57539 "Calypso: Themes interface shows incorrect premium theme info"
### Quick summary

Please bear with me. This would be a confusing one.

Calypso interface displays incorrect information of the similar premium theme that was being sold and retired on our marketplace.

The context:
The customer bought the Pinboard theme directly from Themify. After installing and activating it, they get incorrect info about theme notice about retirement which is incorrect and mis

[2021-11-02 13:38] dpasque commented on #57513
Yeah - this has always been my experience when I was working with this spec - it just needs more time!

I think this could work!

Alternatively though, what do you think of perhaps a looping mechanism that refreshes the page after a second, looks for an element, then refreshes again, all with a timeout? I've thought it might be worth having a modularized library function for doing something like t

[2021-11-02 13:42] AllTerrainDeveloper opened #57540 "[Bug]: Safari does not show correctly annual benefits over monthly ones"
### Quick summary

In the comparison page for plans, while doing the [sign up flow](https://wordpress.com/start/plans?intervalType=monthly) we can see how Safari is not correctly rendering the comparison table in the monthly billing tab.

### Steps to reproduce

1. Using Safari, go to [signup flow](https://wordpress.com/start/)
2. Add a domain
3. Click on "pay monthly" tab.

### What you expected

[2021-11-02 13:48] sixhours opened #57541 "Verticals: Add a new screen to MC to house the UI"
@mreishus has already done this at `/vertical-images`

[2021-11-02 13:51] sixhours commented on #57541
This is done! ✅

[2021-11-02 13:51] #57541 closed, assigned to mreishus

[2021-11-02 13:55] sixhours opened #57542 "Verticals: Pull a list of the verticals from the verticals API into MC"
We're fetching the list of verticals from the API at `/lib/nux-helpers/all-verticals.php`

Ideally this list should be searchable since it's quite long, so we're investigating jquery ui autocomplete library to assist.

[2021-11-02 13:57] sixhours opened #57543 "Verticals: Build the UI markup/styles"
Wireframes for guidance:

Empty state:
![base](https://user-images.githubusercontent.com/2124984/139861429-db219146-a411-4126-aabb-b30688c32424.png)

Search results:
![search](https://user-images.githubusercontent.com/2124984/139861434-9221327f-6922-46f7-aa0a-a78a18120588.png)

Selected results:
![selected](https://user-images.githubusercontent.com/2124984/139861438-c9e352b1-1d7a-4378-b44c-e6d8528

[2021-11-02 14:05] sixhours opened #57544 "Verticals: Connect to Pexels search API"
We can leverage the same API for vertical images that we use for Pexels in Calypso. We need to add some data to the existing endpoint for robustness:

* Author
* Image orientation(s)
* Copyright/license information

[2021-11-02 14:18] sixhours opened #57545 "Verticals: Store image selections to wpcomverticals"
Once we've selected images from Pexels, clicking a "Save" button should send that data to our private storage site's media library at wpcomverticals.wordpress.com.

The images should be loaded into the media library with post meta data for their vertical flag, orientation, copyright, Author, etc.

[2021-11-02 14:18] #36063 closed

[2021-11-02 14:32] sixhours opened #57546 "Verticals: Add documentation to the FG or the MC page"
For posterity, it would be good to have a record of what this new tool does, what it's used for, and how it works under the hood. Let's add this documentation to the FG so future devs and designers don't have to guess.

[2021-11-02 14:35] jonny-a8c commented on #57409
@Robertght Thank you!

[2021-11-02 14:40] dpasque opened #57550 "Playwright: Redesign signup flows to account for new blogger experience onboarding"
### Details

Details of project: p9Jlb4-31T-p2

Onboarding is getting a new set of flows! These make some pretty significant changes such that we'll need to redesign our flows to...
1. Ensure the right coverage of the new onboarding branching paths
2. Handle loading and navigation across screens and for initial site creation

This issue will track the process of redesigning those tests!

### Check

[2021-11-02 15:02] #57067 closed, assigned to WBerredo, cpapazoglou

[2021-11-02 15:05] sajmes opened #57552 "Jotform link does not show in stats when clicked"
### Quick summary

A user reported that when visitors click on a button on their site leading to a Jotform (form is not embedded), those clicks are no longer counted. They report that they were previously counted.

I tested this on my own site. I created two buttons on a single post. One linked to YouTube and one to Jotform. Clicks on the YouTube button were counted in my stats. Clicks on the Jotf

[2021-11-02 15:37] dpasque opened #57555 "Playwright: Handling differing dialogs when removing domain from account"
### Details

TeamCity Info: Pre-Release Tests, no. 714, ID 6921871.

[code]

On some of our pre-release tests, we see this failure because a different dialog (can see in screenshots) popups some of the times, but not others.

### Checklist

_No response_

### Related

_No response_

[2021-11-02 15:41] sixhours commented on #57543
We're leaning toward not listing out the verticals since there are so many, and scrolling through that list is time-consuming. Instead, we'll rely on a search box with autocomplete/suggestion functionality.

A nice-to-have would be some kind of order of priority and a flag to note which verticals have images assigned to them already, and which ones do not.

[2021-11-02 15:43] sixhours opened #57556 "Verticals: Add priority ranking to the API"
This is a nice-to-have, but it may be useful to be able to sort the list of verticals by priority, and add some kind of indicator if they already have images assigned to them.

[2021-11-02 15:47] sixhours opened #57557 "Verticals: Add ability to flag images for different orientations"
Ideally, as we curate images, we'll flag them as being useful for specific crops (portrait, landscape, square) so we aren't trying to fit portrait-focused images into landscape-sized spaces, for example.

A second UI that shows each selected image, cropped to the desired orientation, with the ability to select which ones work would be useful.

Rough wireframe of this concept in action:

![images](

[2021-11-02 15:50] dpasque commented on #57555
Looking at the [remove purchase handling here](https://github.com/Automattic/wp-calypso/blob/trunk/client/me/purchases/remove-purchase/index.jsx), we see this dialog in the case when we are _not_ showing the non-primary domain dialog, which means in this case, we are showing the primary domain warning dialog.

It looks like this [primarily controlled by a flag ('calypso_allow_nonprimary_domains_wi

[2021-11-02 15:58] #54531 closed, assigned to worldomonation

[2021-11-02 15:58] #57437 closed, assigned to worldomonation

[2021-11-02 16:04] worldomonation commented on #57555
I thought this is the standard dialog box for cancellations?

My suspicion was that it had to do with the clicks occurring too fast, before the `Delete this domain` button is fully rendered and ready on the page.

[2021-11-02 16:18] creativecoder opened #57562 "Posts list block: add transform from display-posts shortcode"
### What

Add a transform for the [display-posts] shortcode to convert it into a Posts List block

### Why

Helps users migrate legacy content from shortcodes into a block format that is more powerful and easier to use.

### How

The `[display-posts]` shortcode plugin runs as an mu-plugin on Simple Sites and can be installed on Atomic sites ([support doc](https://wordpress.com/support/display-post

[2021-11-02 16:19] kimerlin81 commented on #57415
This is related to https://github.com/Automattic/wp-calypso/issues/56468

[2021-11-02 16:27] chad1008 commented on #56468
@kuropixel Your screenshot looks like it's from widgets.php in wp-admin, and not the Customizer, is that correct?

I'm able to reproduce it if I check widgets.php for the specific site referenced in the chat you've included, but not in the Customizer.

I also cannot reproduce on my own site, even if I activate the same theme (Edin) so there may be something very specific about that site we need to

[2021-11-02 16:46] kwight commented on #57327
The first course will be called "Blogging Quick Start" (p1635870290408700/1635868542.407800-slack-C029SB8JT8S).

[2021-11-02 16:46] #57327 closed, assigned to provenself

[2021-11-02 16:55] kwight opened #57567 "Videos UI: Add a loading state while waiting for the course endpoint results."
We should have a pulsing loading state for the course content while waiting for endpoint results.

<img width="700" alt="Screen Shot 2021-11-02 at 9 58 24 AM" src="https://user-images.githubusercontent.com/349751/139911079-3e88cfc1-96db-434b-9adc-224020554966.png">

[2021-11-02 16:56] kwight opened #57568 "Videos UI: Only display the "Blogging Quick Start" card for English users."
We won't have time for full translations by the MVP launch, so let's make sure the card only displays for English and English (GB) users.

[2021-11-02 16:57] msilbers commented on #56382
requested in 32531245-hc

[2021-11-02 17:09] kwight commented on #57567
@ollie any preferences for this? I know we use pulses in places like the editor:

<img width="600" alt="Screen Shot 2021-11-02 at 10 04 41 AM (2)" src="https://user-images.githubusercontent.com/349751/139912421-2c4014c7-6b1a-42ce-9979-fc00406572ef.png">

Are spinners still a thing in Calypso?.. 🤔

For the sake of the call-for-testing, we can do a simple pulse, and then update whenever there's some

[2021-11-02 17:16] kwight opened #57571 "Videos UI: Localize the video lengths."
As a followup to D69418-code, the `duration_seconds` property of videos will need to be localized client-side.

[2021-11-02 19:01] kwight opened #57574 "Videos UI: Trigger a new video to play when clicking a "Play" button."
We need to wire up a Play button for each video that loads and plays that video.

<img width="912" alt="Screen Shot 2021-11-02 at 11 59 56 AM" src="https://user-images.githubusercontent.com/349751/139928242-c6f3048b-3877-4615-aed1-a0005bfdf901.png">

[2021-11-02 19:26] ClassicRKR27 commented on #57304
Have another report of a user who is very unhappy about the changes here: 32187143-hc

[2021-11-02 19:36] katiebethbrown commented on #52520
Another report in 32534528-hc. We switched to Coming Soon to resolve.

[2021-11-02 19:42] sixhours commented on #57546
Started documentation here: PCYsg-CME-p2

[2021-11-02 19:54] #57448 closed, assigned to andres-blanco

[2021-11-02 19:55] kwight commented on #57448
True! And we do have proper mobile web styles coming: #57446

[2021-11-02 20:12] jp-imagines commented on #41606
Had another user asking whether this was possible in 32521841-hc. (Same situation as above: they wanted to have a monthly and yearly subscription plan, and have both types of subscribers view the same content.)

[2021-11-02 20:23] kwight commented on #57454
We only need one event at the moment, for marking a video as complete: D69488-code

[2021-11-02 20:26] kwight commented on #57456
Duplicate of #57454.

[2021-11-02 20:49] jonny-a8c commented on #53613
32500856-hc

Theme: Lovecraft

[2021-11-02 21:37] autumnfjeld opened #57582 "Blogger Flow: Update copy on starting-point screen"
# Blogger Flow: Update copy on starting-point screen
Part of Hero Flow: Write & Build intent screen #55603
![image](https://user-images.githubusercontent.com/5665959/139954978-2c8bc4e7-1527-4989-b401-16e4421aeaf1.png)

## Description
There are a couple issues with the current copy, which is "Nice job! Lastly, pick a starting point.":
* “Lastly” and “starting point” seem conflicting, and I don’t th

[2021-11-02 21:40] autumnfjeld commented on #57458
Removing the illustrations is paused for now.  We'll wait for more feedback from Design.

[2021-11-02 21:52] kwight opened #57583 "Videos UI: Consider giving video Play buttons a hover state."
The standard `<Button>` component has only a subtle border change for its hover state, which is not very effective with the darker background – let's consider adding a more visible hover state. It would also apply to the call-for-action button at the bottom of the UI.

<img width="912" alt="Screen Shot 2021-11-02 at 11 59 56 AM" src="https://user-images.githubusercontent.com/349751/139956882-417c2

[2021-11-02 21:52] autumnfjeld commented on #57582
@arthur791004 @ @roo2  FYI to do this before shipping, but not critical for HE testing. :)

[2021-11-02 21:54] kwight commented on #57583
What do you think @ollierozdarz ? We won't get to it before the call-for-testing, but certainly can as followup next week.

[2021-11-02 22:07] kwight commented on #57506
This will need a Tracks event too.

[2021-11-02 22:19] kwight commented on #57455
The Play button event is handled in https://github.com/Automattic/wp-calypso/pull/57580. The general `view` event for a videos UI and the "skip" link are in https://github.com/Automattic/wp-calypso/pull/57584.

[2021-11-02 22:28] kwight commented on #57455
This is already handled by My Home code: https://github.com/Automattic/wp-calypso/pull/57515/files#diff-a03e843a49e11b604e95003bca175823c7ebe7eac5a3cbf8fb1df7d0d1eea9a3R46

[2021-11-02 22:33] kwight commented on #57127
This will be handled in https://github.com/Automattic/wp-calypso/issues/57326.

[2021-11-02 22:33] #57127 closed, assigned to ollierozdarz

[2021-11-02 22:54] khristiansnyder opened #57585 "WordAds Breaking Mobile Posts Formatting"
### Quick summary

With Baskerville 2 active, WordAds is breaking the formatting of blog posts on mobile on the posts page.

### Steps to reproduce

1. With Baskerville 2 active and WordAds fully active, set the homepage to show the latest posts
2. Once ads are loading, check the mobile version of the page (be sure to refresh)
3.  Notice the bottom of the post is cut off.

### What you expected to

[2021-11-02 23:04] kuropixel commented on #56468
@chad1008

Thank you for replying.

Yes, my screenshot is from widgets.php, but the same issue happens in Customizer. My apologies for not being detailed on how to see this through customizer!

The only way I'm able to see the issue is:

1. Go to Customizer
2. Go to Widgets
3. You can only see Footer widgets by default, so you have to navigate on the site preview to "Music and Movement~" or "Orff-

[2021-11-02 23:34] roo2 commented on #57582
@autumnfjeld, I created https://github.com/Automattic/wp-calypso/pull/57586 to change the copy, one question is that the original copy had an explicit line break `Nice job! Lastly<br/> pick a starting point`.
<img width="576" alt="Screen Shot 2021-11-03 at 9 29 19 am" src="https://user-images.githubusercontent.com/22446385/139965929-870711aa-d8ee-4ffa-a8de-3fd34edf83e2.png">
<img width="1299" alt=

[2021-11-02 23:37] roo2 commented on #56831
@autumnfjeld do you still think we should add the custom timings?

[2021-11-02 23:39] autumnfjeld commented on #57582
Seems like a line break after "it's" makes sense .  Makes the line lengths balanced

[2021-11-02 23:46] autumnfjeld commented on #56831
I’d think this is a nice to have.  Not critical. If it was say 30 minutes
of work , then yes.

We can always come back to it.

On Tue, Nov 2, 2021 at 19:38 Eru Penkman ***@***.***> wrote:

[2021-11-03 00:05] ollierozdarz commented on #57583
@kwight let's do it. How can I access this UI in the browser so I can provide some styles?

[2021-11-03 00:06] ollierozdarz commented on #57458
Plot twist 🎥

[2021-11-03 00:21] roo2 commented on #57358
My takeaway from the slack thread is that the desired flow would be
* Plans page (select paid plan)
* Checkout page (remove paid plan)
* User is taken to calypso plans page
  * [ because we don't want to lose the possibility of them choosing a paid plan
  * Ollie Rozdarz: p1630580729094500/1630576003.088500-slack-C029SB8JT8S

Ollie assumed that the user would be taken back to the plans page in the

[2021-11-03 01:27] roo2 commented on #57358
I had another discussion in slack p1635900925442100-slack-C029SB8JT8S summary:
If we redirected to the `/start/domains` page, we have to make sure that [the steps we took to preventing creating duplicate ](https://github.com/Automattic/wp-calypso/pull/45040) sites are right for this use case.

Because this would be a change that might impact purchasing rates, we should discuss it in a P2 first.

S

[2021-11-03 01:29] edequalsawesome commented on #57539
I'm labeling this as Atomic, although it might end up being a Themes issue -- I think the easiest fix would be to verify the theme author or version in the `style.css` file, but I'm not sure if that sort of check is possible.

[2021-11-03 01:36] inaikem opened #57589 "Jetpack Search: Make it easier to surface content written in both UK or US English variations"
### What

Surface search results with both UK and US English variations of the search terms in Jetpack search.

### Why

Websites and P2s with globally distributed authors/contributors will have variations of both UK and US English spellings being used and searching for one version does not yield results in the other. This can lead to content and context being missed.

On a site where one variatio

[2021-11-03 02:15] arthur791004 commented on #57357
https://github.com/Automattic/wp-calypso/pull/57386 has deployed. I have tested with paid domain and paid plan on production about 5 times, but the BSOD doesn't appear.

[2021-11-03 02:15] #57357 closed, assigned to arthur791004, roo2

[2021-11-03 02:45] arunsathiya commented on #57486
@jsnmoon Thanks for letting me know, but I am not seeing that on an Atomic site. Neither on a Jetpack site.

| Atomic | Jetpack |
|------|------|
| <img width="486" alt="image" src="https://user-images.githubusercontent.com/18581859/140003343-3e6ebd08-1b6d-4c7c-8781-b64b738fddaa.png"> | <img width="450" alt="image" src="https://user-images.githubusercontent.com/18581859/140003334-9cdfab9f-1537-4ab

[2021-11-03 02:49] edwinho89 commented on #40574
Another issue reported in 26446143-hc

It is unclear what is the root cause (previous workaround above did not help)

However, a quick plugin dance by deactivating all plugins, and reactivating them again addressed the issue.

[2021-11-03 06:31] arthur791004 commented on #57357
After the checkout is completed, we use `page.redirect` to `/start/setup-stie?flags=signup/hero-flow` and it would not trigger the page reload, so the flags didn't work at that time. I think we don't need to fix this problem as `signup/hero-flow` is enabled on https://wpcalypso.wordpress.com/ and the user won't encounter this situation.

[2021-11-03 06:53] arthur791004 commented on #57521
When I select `Spearhead` and land on My Home, the "Update homepage" isn't shown on the site setup checklist now.

[2021-11-03 07:42] arthur791004 opened #57595 "Design Picker: Sometimes it would redirect to checkout page again"
#### Steps to reproduce

1. Go to `/start`
2. Select paid plan
3. Complete the checkout
4. When you get to the Design Picker, select an option or skip

#### What I expected

Redirect to My Home

#### What happened instead

Sometimes you will redirect to the checkout page again and show that you don't have any items in your cart. However, it's not easy to reproduce this situation.

![image](https:/

[2021-11-03 08:54] ollie commented on #57567
@kwight I think you meant to mention somebody else, but you have a thumbs up from me because of the kittie.

[2021-11-03 09:10] arthur791004 commented on #57335
Yep, I think it still has a chance that the user clicks “Update the homepage” before we get the response from `/sites` API. Then, `page_on_front` will be the incorrect one. But I think this one might be the corner case as `/sites` API returns immediately for the new user. Also, if I were the new user, I won't click “Update the homepage” so fast 🤣

[2021-11-03 09:14] alshakero commented on #57302
It seems this is a bug in the [translation of the string](https://translate.wordpress.com/projects/wpcom/ja/default?filters%5Bterm%5D=+made+your+first+post+on). The translation is the same for “your first post”, and “your nth post”, causing the translation to look like “You posted your 0th post” when users post their first post.

[2021-11-03 09:26] daledupreez commented on #57490
Fixed by #57565.

[2021-11-03 09:26] #57490 closed, assigned to nobody

[2021-11-03 09:50] jordesign commented on #54422
After the recent work on the Theme Showcase - the discrepancy between Calypso/WP Admin versions of each is now even more different. I'm not sure if that makes this issue more or less relevant.

[2021-11-03 09:55] jordesign commented on #54204
Can still replicate this behaviour on Safari at `/wp-admin/upload.php?preferred-view=classic`

[2021-11-03 10:10] jordesign commented on #50557
With no additional reports/feedback since March 13 - I'd propose we close this.

[2021-11-03 10:10] #50557 closed, assigned to nobody

[2021-11-03 10:12] jordesign commented on #49944
Now we're 6 months on from these reports - can we take it that users have adjusted to using the Calypso/WP Admin switcher to access the Classic Editor when needed?

@obenland @davipontesblog

[2021-11-03 10:16] jordesign commented on #49537
Seems worth further investigation with the picking up of Nav Unification work.

[2021-11-03 10:21] jordesign commented on #49275
I'm not currently able to recreate this behaviour.

[2021-11-03 10:31] jordesign commented on #50814
This issue is still in place - Storefront themes do not display in the Calypso theme showcase - only when viewing themes in WP Admin. Definitely still a low priority issue though.

[2021-11-03 10:34] jordesign commented on #54920
Can confirm this behaviour is still in place.

[2021-11-03 10:37] arcangelini commented on #52728
It looks like this is getting filtered before saving to the database and removing the `<object>`. I would assume this has to do with how [we block certain code on Simple sites](https://wordpress.com/support/code/#flash-and-other-embeds). I am not sure where this gets processed but I will dig a little deeper and see if that is the culprit.

<img width="1118" alt="Markup 2021-11-03 at 11 32 18" src=

[2021-11-03 10:45] jordesign commented on #52616
I'm no longer able to recreate this - in all my testing I am returned to My Home consistently (as expected)

[2021-11-03 10:45] #52616 closed, assigned to nobody

[2021-11-03 10:46] jordesign commented on #52291
Triaged and confirmed

[2021-11-03 11:55] ivan-ottinger commented on #57079
Here are the outcomes of initial investigation:

The code lives in Jetpack (`projects/plugins/jetpack/extensions/shared/external-media/sources/pexels.js`).

The `PexelsMedia` component is re-rendering every time we make a change to the searched term (even without hitting Enter or clicking on the `Search` button). During this time, the new search is happening (kind of) and the `previousSearchQueryV

[2021-11-03 13:01] BogdanUngureanu commented on #50564
Closing this since I'm not able to reproduce the issue anymore with the following testing steps:
- Went directly to WP-Admin on an Atomic site (a non-default site).
- Clicked on Feedback
- Clicked on Users > Account Settings
- Clicked on My Sites
- Went back to WP-Admin
- Clicked on Users > Profile
- Clicked on My Sites

In both cases I was redirected to wordpress.com/home/non-default-site.

[2021-11-03 13:01] #50564 closed, assigned to BogdanUngureanu

[2021-11-03 13:19] Copons commented on #52046
Just FYI, we have removed the Nav Unification label as this issue is about the masterbar rather than the unified sidebar.
If it was an error on our part, please feel free to readd the label! 🙇‍♂️

[2021-11-03 13:27] mikeicode opened #57601 "Professional mail password field Italian error message translation issue"
### Quick summary

The password field when signing up for Titan mail has a minimum 10 character limit, the error message in Italian is incorrect (it says the opposite).

### Steps to reproduce

1. Set your WordPress.com account to Italian
2. Start adding Professional mail: Upgrades > Emails
3. Try a password less than 10 characters, view error message

### What you expected to happen

Translation

[2021-11-03 14:02] JoshuaGoode opened #57602 "WordPress.com on Atomic / Jetpack: Create HE tool to reconnect Jetpack to WPCOM Atomic sites."
### What

An internal HE tool to allow for easier WordPress.com on Atomic Jetpack reconnections

### Why

Reconnecting Jetpack on WordPress.com on Atomic sites remains a top time-consuming pain point for users and our support teams.

Internal overviews:
p58i-a2c-p2 - extended pain points review.
P9HQHe-iZ-p2 - reconnection process.
p9F6qB-7xg-p2 - newer issues.

Work was done to help improve Jetpa

[2021-11-03 14:31] mmtr commented on #54204
Reopening, this still needs a counterpart fix in Jetpack (https://github.com/Automattic/jetpack/pull/21632).

[2021-11-03 14:37] tbradsha commented on #50564
Confirmed it's working now.

[2021-11-03 15:08] kwight commented on #57583
@ollierozdarz We just have a couple of fixes to https://github.com/Automattic/wp-calypso/pull/57515 in the next couple of hours, and then you'll be able to use that branch locally (or the calypso.live link).

[2021-11-03 15:15] WunderBart commented on #50972
@alaczek can we close this one as we're not activating CoBlocks for new sites anymore? cc @simison

[2021-11-03 15:23] WunderBart commented on #51294
I can see CoBlocks' blocks localized when changing the language to Polish. Maybe there's a translation missing for the Japanese pack? Could you confirm that, @worldomonation?

[2021-11-03 15:28] WunderBart commented on #51537
I can confirm it's been fixed with the [v2.1 update](https://github.com/Automattic/wp-calypso/issues/51537#issuecomment-834287524). Closing this one!

[2021-11-03 15:28] #51537 closed, assigned to nobody

[2021-11-03 15:37] kwight commented on #57583
@ollierozdarz it's been updated: https://calypso.live/?image=registry.a8c.com/calypso/app:build-18188

[2021-11-03 15:46] WunderBart commented on #45236
This one seems to be resolved now. Could you confirm please, @jeherve @ktyfuller604?

[2021-11-03 15:52] WunderBart commented on #51956
Regarding CoBlocks, we've just stopped activating a customized build of that plugin for Simple sites (p4TIVU-9QA-p2). Nevertheless, blogs before the cutoff date would still have that plugin active, which is an expected behavior AFAIK.

[2021-11-03 15:57] kwight commented on #57567
Doh! Sorry, I meant @ollierozdarz 🙃 But I agree, the kitty makes everything better. 🐈

[2021-11-03 15:59] obenland commented on #49944
Yeah, reading through [Dave's breakdown](https://github.com/Automattic/wp-calypso/issues/49944#issuecomment-777395147) makes me wonder if that's the case.

[2021-11-03 16:20] WunderBart opened #57605 "CoBlocks: v2.18.1 plugin upgrade"
This is a tracking issue for the CoBlocks plugin upgrade on WP.com Simple sites.
For the full list of previous tracking issues click [here](https://github.com/Automattic/wp-calypso/issues?q=label%3Acoblocks-upgrade+is%3Aclosed).

---

#### ⚠️ **Important update**
Since the 26th of October, we're no longer activating CoBlocks for newly created sites (p4TIVU-9QA-p2). We will only provide necessary u

[2021-11-03 16:27] worldomonation opened #57606 "Flaky E2E: Log in as test site owner"
### Spec file

wp-reader__view-spec.ts

### Suite or step

Log in as test site owner

### Framework

Playwright

### Logs

Run: 6918662

Logs:
[code]

[2021-11-03 16:38] helenaartmann commented on #57496
The theme is a retired Premium theme IPPO

[2021-11-03 16:44] #55837 closed, assigned to dpasque

[2021-11-03 17:01] jonny-a8c commented on #55815
4426886-zen

[2021-11-03 17:09] ChrissiePollock opened #57611 "Can't Add New Pexel Images When Updating Gallery"
### Quick summary

When I try to add Pexel images in the old Gallery block (and the new), I only get to choose one search result for images. For example, I wanted to add some snow pictures then some summer images. After I added the snow, I was not given an option to add images from another search. There was no longer a Pexels option.

### Steps to reproduce

Add a Gallery block.
Choose "Select Ima

[2021-11-03 17:23] worldomonation opened #57612 "Playwright: investigate if feasible to store cookies at time of docker image generation."
### Details

Expanding on #57569 in the comment https://github.com/Automattic/wp-calypso/pull/57569#issuecomment-958637538, it was suggested to investigate baking the authenticated cookies into the docker image itself.

### Checklist

_No response_

### Related

_No response_

[2021-11-03 17:35] supernovia commented on #46085
Closing this one out: the feed issue seems to be resolved

The layout issue is actually a problem with Hever, so I've filed a separate issue here:
https://github.com/Automattic/themes/issues/4978

If the feed problems return, let's open a separate issue for that, too.

[2021-11-03 17:35] #46085 closed

[2021-11-03 17:53] arcangelini commented on #52728
I found where it was being stripped and this indeed was the culprit. Because the `<object>` tag is probably being excluded for specific reasons globally across WPCOM I reached out to SIRT to get some direction on how to resolve this without whitelisting it across all of WPCOM. p3btAN-1zr-p2

[2021-11-03 17:54] dragstor commented on #51076
I got a chatter asking about this: **32552151-HC**, and had heard about the same request multiple times from various HEs.

[2021-11-03 18:03] worldomonation opened #57615 "Flaky E2E: Click and visit first support article"
### Spec file

wp-support__popover-spec.ts

### Suite or step

Click and visit first support article

### Framework

Playwright

### Logs

Logs:
[code]
Run: 6930397

[2021-11-03 18:03] worldomonation commented on #57615
Suspect maybe it's necessary to wait for the `Visit Article` button to be stable.

[2021-11-03 18:24] #57101 closed, assigned to cpapazoglou

[2021-11-03 18:27] darnelldibbles commented on #48643
Another report here: https://wordpress.com/forums/topic/quick-draft-body-text-always-incompatible-block-when-draft-opened/?view=all

[2021-11-03 18:32] Copons commented on #57498
I'm reopening this issue since it's indeed related to Nav Unification.

I'm still learning how to properly test stuff across WoA/JP/JITM and the likes, but I managed to backtrack the issue and found out how the situation diverges between Calypso and wp-admin.

### Why does it work in Calypso?

In a nutshell, the WPCOM sidebar consists of two main parts: the admin menu and the current site section.

[2021-11-03 18:56] worldomonation commented on #51294
Looks to be resolved now for Japanese at least - checked all coblocks.

[2021-11-03 18:56] #51294 closed, assigned to nobody

[2021-11-03 19:24] jordesign commented on #49944
Taking that as the ok to close this one 👍

[2021-11-03 19:24] fullofcaffeine commented on #57251
v11.8.0 is back in simple sites! AT upgrade has been requested, too! Special kudos to @david-binda  for all his help investigating and fixing the issue in WPCOM simple and WoA!

[2021-11-03 20:03] Robertght commented on #57060
We haven't heard back in two weeks so I'm closing this one for now, but please open it again if needed.

[2021-11-03 20:03] #57060 closed, assigned to nobody

[2021-11-03 20:04] #54307 closed, assigned to nobody

[2021-11-03 20:10] jonny-a8c commented on #53609
32553791-hc

The user is trying to select text to delete, and it ends up selecting the border like @donalirl demonstrated above. In this case, the user is trying to delete content but the entire block is being deleted.

[2021-11-03 20:19] worldomonation commented on #48093
CoBlocks without any content doesn't render, but from reading the previous comments it appears this is an expected behavior.

In terms of testing whether filled out pricing table shows on the page - the test for this is already implemented in https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/specs-playwright/wp-blocks__coblocks.ts. So we're good to close!

[2021-11-03 20:19] #48093 closed, assigned to nobody

[2021-11-03 20:23] worldomonation commented on #57485
TeamCity ID 6931057 failed to locate the iframe editor element with 105 seconds.

[2021-11-03 20:25] creativecoder commented on #49944
I think it's reasonable to close this--now that we have a toggle it's possible to click through to wp-admin to access the Classic editor, even if it is an extra step.

[2021-11-03 20:28] kwight opened #57617 "Videos UI: Multiple completed videos are not being merged."
Instead of multiple completed videos being merged and appended, each `mark_video_as_complete` call overwrites the previous, leaving only ever one value.

[2021-11-03 20:38] obenland commented on #49944
Yes, let's. Feel free to re-open if that comes back as an issue!

[2021-11-03 20:38] #49944 closed, assigned to nobody

[2021-11-03 21:21] worldomonation opened #57619 "Playwright: quarantine failing tests"
### Details

Prior to launching PR tests as the new canary, quarantine problematic tests into a task.

### Checklist

- [ ] name of the build
- [ ] which tests to quarantine
- [ ] how often to run

### Related

_No response_

[2021-11-03 21:39] kwight opened #57622 "Videos UI: Tracks view events are firing too much."
Tracks view events are (I think) firing on every re-render of the `<VideosUi />` component, including on every video selection (now in #57618).

<img width="750" alt="Screen Shot 2021-11-03 at 2 38 59 PM" src="https://user-images.githubusercontent.com/349751/140196730-b8d7c687-026c-42d6-8137-480335913f23.png">

[2021-11-03 21:52] autumnfjeld commented on #57490
@daledupreez I'd say not at all quickly, I was meandering around...it would have been 5-10 seconds or more. Definitely not immediately after page load.

[2021-11-03 22:21] roo2 commented on #57488
https://github.com/Automattic/wp-calypso/issues/57494 is related

[2021-11-03 22:26] roo2 commented on #57372
It looks like this is caused by feature flags in the query string and won't affect the feature once it goes live p1635921625070100-slack-CRWCHQGUB

[2021-11-03 22:44] #57622 closed, assigned to blackjackkent

[2021-11-03 22:51] autumnfjeld commented on #57356
@roo2 I do think this is only meant for users who have gone through the blogger flow.  So we could use the blogger intent flag (see D68408-code )  to determine whether we would show this modal.

[2021-11-03 22:51] creativecoder opened #57625 "Task: deprecate isSiteUsingCoreSiteEditor selector"
### Details

We now use the `wpcom/v2/sites/{site}/block-editor` endpoint as the canonical source of information about Core FSE features. The data from this endpoint is accessible using the `useBlockEditorSettings` hook and the `withBlockEditorSettings` HOC.

We should deprecate the `isSiteUsingCoreSiteEditor` selector and remove the dependency on the `is_core_site_editor_enabled` property of the

[2021-11-03 22:56] autumnfjeld commented on #57358
This sounds like something bigger than just Blogger flow related. So let's pause this effort and watch if this issue is brought up elsewhere.   And I think your idea to discuss this via P2 for a wider audience after we launch the hero flow is a great idea.

Thanks for investigating @eru!

[2021-11-03 23:04] creativecoder commented on #57625
This issue is partially addressed by https://github.com/Automattic/wp-calypso/pull/57626

[2021-11-03 23:08] romokebi commented on #56032
Hi, may I take this one? I have already a working solution in my local env.

[2021-11-03 23:30] isocialtish commented on #51758
This just happened on 30394303-hc using the Maywood theme.
I walked the user through adding the Custom color hex code instead of clicking on the color options being pulled from the Customizer and that fixed the issue for the.

[2021-11-03 23:59] jeyip commented on #57158
I can confirm this bug on **_both_** simple and atomic sites after following the "Steps to Reproduce" in google chrome.

[2021-11-04 00:16] roo2 commented on #56831
oh yes I think it will be straightforward to implement if we just use hardcoded times in javascript 👍

[2021-11-04 00:19] jeyip commented on #55982
Just to clarify, I could only see the "nudging" behavior when navigating to header template part editing through the ellipses menu.

<img width="1279" alt="Screen Shot 2021-11-03 at 5 15 36 PM" src="https://user-images.githubusercontent.com/5414230/140236592-1a32c915-70a2-4cff-9815-3ef2c0545ca5.png">

[2021-11-04 00:30] roo2 commented on #57356
I discussed this on a call with @autumnfjeld, we do want to limit the First Post Congrats Modal to only show for bloggers

[2021-11-04 00:33] jeyip commented on #57160
I'm having a tougher time replicating this problem. I tried to do so in production on FSE beta enabled themes (Quadrat, Blockbase, and Zoologist). I also tried testing Mayland Blocks locally with no luck. 🤔

[2021-11-04 00:53] jeyip commented on #57174
Neither the footer nor header block persist changes to background color. Confirmed on simple sites for Geologist and Zoologist.

[2021-11-04 03:03] p-jackson commented on #55277
Default has been updated by #57134

[2021-11-04 03:03] #55277 closed, assigned to p-jackson, alaczek

[2021-11-04 03:19] p-jackson commented on #57582
I'm trying to think about how translators will interpret the `{{br}}{{/br}}` in the text that needs to be translated. Maybe they'll try and place it at the same point in the sentence, but that isn't right. Since they don't have a dev environment they don't really have a way to know where the right place to put the line break would be.

@ollierozdarz asked for an explicit line break in the design p

[2021-11-04 03:32] arthur791004 commented on #57582
I agree with @autumnfjeld that we use the line break to make the line lengths balanced. So I don't think it should be English-only tweak. But as you said, the translator might try to place it at the same point in the sentence and the line lengths would not balance. Maybe we should use another way such as max-width to control the line lengths balance.

[2021-11-04 03:39] p-jackson commented on #57582
The thing is that we do want all of that space to be available for the text (except for some small amount of margin on the right-hand side). The German translation for instance could be much longer than English, and we wouldn't want it to prematurely wrap or hyphenate words when there's clearly more space for the words to fit into if it weren't for a max-width we'd set.

[2021-11-04 04:46] arthur791004 commented on #57356
I've asked a similar question p1634800345008200/1634613714.476700-slack-C029SB8JT8S to @ollierozdarz, and the modal can show to anyone who publishes the first post. IMO, this modal is the congrats modal and it can improve the experience for the user who published the first post. Thus, I think we can show the modal no matter what the intent is.

[2021-11-04 05:11] Greatdane commented on #57469
@carinapilar Testing on other themes, the sticky post stills shows for me again as the oldest post - the only difference with LIbre 2 is because there is no pagination, the post appears twice on the _same_ page, but it does not behave any different than other themes (other than the lack of pagination).

Closing, unless I have misunderstood - in which case, please let me know!

[2021-11-04 05:11] #57469 closed, assigned to nobody

[2021-11-04 05:16] Greatdane commented on #57524
User replied with more info;

[2021-11-04 05:33] Greatdane commented on #57524
It looks like after further communication, the issue may be more related to the images being loaded from an external WordPress.com site as the pages were imported. Going to close this as unable to replicate.

[2021-11-04 05:33] #57524 closed, assigned to nobody

[2021-11-04 05:49] Greatdane commented on #57585
@khristiansnyder I am unable to replicate this on my or the user's site;

<img width="536" alt="Markup 2021-11-04 at 14 46 07 (1)" src="https://user-images.githubusercontent.com/5075840/140264288-10da3b07-53d3-415b-bd6e-b1b260d78a0e.png">

Not sure if the user changed something.

[2021-11-04 05:49] #57585 closed, assigned to nobody

[2021-11-04 05:54] Robertght commented on #57602
@Automattic/happops-devs is this something that you could work on?

[2021-11-04 05:57] mrsjaved opened #57634 "Add SVG support in Calypso"
### What

Ability to add SVG support in Calypso from My Sites -> Media library.

### Why

A user was using the SVG support plugin but they were unable to upload the SVG file from My Sites -> Media -> Add New.

It works from WP - Admin -> Media but a bit confusing because users does not know the difference and expect it to work the same. When it does not, it creates confusion and frustration.

###

[2021-11-04 06:24] Greatdane commented on #56921
@Camaropilot TikTok is now added!

<img width="755" alt="Markup 2021-11-04 at 15 23 41" src="https://user-images.githubusercontent.com/5075840/140267545-83054642-d5de-4da2-8006-20b94a88e6bc.png">

[2021-11-04 06:24] #56921 closed, assigned to nobody

[2021-11-04 06:25] #48786 closed, assigned to nobody

[2021-11-04 08:19] cpapazoglou opened #57635 "WP.org Plugins don't have the correct language or all data"
- Let's pass the locale in the wp.org plugins api request. https://api.wordpress.org/plugins/info/1.2/?action=query_plugins&request[locale]=es_ES

- Let's make sure that all data is fetched for the plugin details page (eg active installations number)

[2021-11-04 08:35] ivan-ottinger commented on #57079
I am working on a PR and will add it here soon.

[2021-11-04 08:57] Agepeuve commented on #50306
Another report: 32561873-hc

[2021-11-04 09:02] dsas commented on #52368
Working on 3 `domain-upsell-nudge`, I've pushed the jitm infra changes to D69554-code and am working on the jitm itself.

[2021-11-04 09:35] BogdanUngureanu commented on #57273
The back-end needed to add this feature was deployed in rWP234502-wpcom.

The next step is to determine a Calypso UI for it, however the Atomic downgrade pod came to an end and, therefore, the work on the front-end is currently paused.

[2021-11-04 09:39] #54204 closed, assigned to mmtr

[2021-11-04 09:44] StefanNieuwenhuis opened #57639 "Help Center: (re)use screen reader text mixin"
See https://github.com/Automattic/wp-calypso/pull/47601#discussion_r530322185

[2021-11-04 10:40] adelineyaw opened #57641 "Stats link in Customize Toolbar redirecting incorrectly to Editor page"
### Quick summary

Stats link in the Customize Toolbar redirects incorrectly to the Editor page URL.

### Steps to reproduce

1. Go to `cristiankuhn.wordpress.com`
2. Scroll down the homepage until the floating Customize Toolbar appears (bottom right corner)
3. Click on (or hover) the Stats link
4. I am taken to the Editor link (and not the Stats page)

### What you expected to happen

I expected

[2021-11-04 10:41] pablinos commented on #55306
I think our current fix that improves the error message is good, but from a parity perspective, I wonder what it would take to allow this for Atomic sites.

There's a 1:1 relationship between the wordpress.com subdomain and the wpcomstaging.com one, so we could use the current mechanism to change the blog ID's subdomain and then have a way of informing the Atomic site that it needs to update.

It'

[2021-11-04 10:42] tellisbethel commented on #36795
I've got a user who is frustrated that they can edit directly from a given page on their lower plans, but don't have this option on their higher Business plan:

32534916-hc

[2021-11-04 10:55] roo2 commented on #57356
@arthur791004 thanks for the link! At first I thought the same, that it would be useful for anyone who published a first post. But I wonder if this congratulations modal would be appropriate for ecommerce sites. I haven't tested but I wonder if it could show "your first post is published" when they have uploaded their first product? (sorry, I should investigate that first... maybe it's not an issu

[2021-11-04 11:09] carinapilar commented on #57469
@Greatdane, yes, that's what happens. Libre 2 is different because there's no pagination, so the user complained that the post is duplicated. In my opinion, although it does seem expected, doesn't feel like an ideal behavior, if the theme loads the posts on the same page, it shouldn't load the sticky post again - or hide it from the top. But since that's the behavior for pagination, I guess it's n

[2021-11-04 11:10] Addison-Stavlo commented on #57194
With 11.8 on dotcom this issue is resolved.

[2021-11-04 11:10] #57194 closed, assigned to Addison-Stavlo

[2021-11-04 11:12] WunderBart commented on #45236
Thanks for checking, @ktyfuller604! I can reproduce too when enabling the Carousel - it still overrides the CoBlocks' `Link to` setting. Let's keep this one open then!

<img width="870" alt="Screenshot 2021-11-04 at 12 08 59" src="https://user-images.githubusercontent.com/1451471/140304002-45483c70-bdcb-4e8f-ac48-8ee2d78c94bb.png">

[2021-11-04 11:20] Addison-Stavlo commented on #57441
Im wondering the best way to clarify this screen, keeping in mind the toggle is also visible to atomic and self hosted users running the ETK plugin.

If we aren't too worried about atomic/SH users reading this verbage: "Note: this toggle is not visible to simple site users on dotcom" or something similar.  Otherwise, maybe something a bit more clever? 🤔

[2021-11-04 11:22] Addison-Stavlo commented on #56540
resolved with https://github.com/Automattic/wp-calypso/pull/57191

[2021-11-04 11:22] #56540 closed, assigned to Addison-Stavlo

[2021-11-04 11:29] arthur791004 commented on #57356
Yep, I'm thinking how to make it works.

[2021-11-04 13:34] Addison-Stavlo commented on #57174
I just tested and was able to repro on my local Gutenberg with tt1-blocks.  Updating to the most recent `trunk` of Gutenberg resolved the issue.  I think this was a temporary regression and should be resolved when the next Gutenberg version lands on dotcom.

[2021-11-04 13:45] mikeicode commented on #57496
Solved in the ticket:

I'll close this.

[2021-11-04 13:45] #57496 closed, assigned to nobody

[2021-11-04 14:37] philnick206 opened #57651 "Deleted image still shows in media library (classic and calypso views)"
### Quick summary

A deleted image file is still showing up in the media library on a site (with a blank thumbnail). This image was used in a post (body) and as a featured image on that post. The image was deleted a week ago.

### Steps to reproduce

1. Go to site and view Media Library or go to post with the deleted image

### What you expected to happen

The deleted image should not appear

###

[2021-11-04 14:56] mreishus commented on #57542
This is done w/ jquery autocomplete library.
Note that the google doc of verticals does not match the `verticals-master.csv` on the wpcom codebase
* google doc
  * 1100 verticals
  * includes priority information
* verticals-master.csv
  * ~1650 verticals
  * Does not include priority information

[2021-11-04 14:56] #57542 closed, assigned to mreishus

[2021-11-04 14:58] mreishus commented on #57545
This is done in conjunction with D69577-code, but it's possible to save duplicates.

[2021-11-04 15:24] kwight commented on #56888
Our goals have changed to being an internal call for testing on November 4, with a proper full launch (again, EN only to start) on November 15.

[2021-11-04 15:31] kwight commented on #56888
https://github.com/Automattic/wp-calypso/pull/57515 is currently being used as a simple gate for testing; using its `calypso.live` link will allow anyone to experience the My Home card and the subsequent modal that displays the videos UI.

The two biggest pieces of polish needed at this point are having the "modal" be fullscreen, and improving styling and layout at all screens (from mobile to 27"

[2021-11-04 15:40] #47821 closed, assigned to fullofcaffeine

[2021-11-04 15:40] #47822 closed, assigned to fullofcaffeine

[2021-11-04 15:40] #47823 closed, assigned to fullofcaffeine

[2021-11-04 16:06] jackiejade opened #57654 "Getting Started: Video Tutorials in Spanish"
### What

Possible area to increase support is to add Spanish video tutorials.

### Why

Many of our users are Spanish speakers and it would benefit them to have the video tutorials in Spanish. I know we have the pages translated but if we can start translating videos this might be a nice touch as well. Maybe even just Spanish subtitles would be helpful.

### How

_No response_

[2021-11-04 16:11] #56955 closed, assigned to cpapazoglou

[2021-11-04 16:35] Robertght opened #57657 "[Bug]: Thumbnail images size is inconsistent across themes when shared on social media"
### Quick summary

It appears that the size of the image shared on Linkedin(probably other platforms as well) is different for each theme, therefore in some cases, some thumbnails are blurrier than others.

The goal is to avoid the blurry images.

### Steps to reproduce

I encountered these examples:

Theme: Hever
https://datatriangle/

Shared image: https://datatriangle.files.wordpress.com/2021/1

[2021-11-04 16:36] worldomonation commented on #57503
Just occurred in TeamCity ID 6936403 and the time that it occurred at (0935 UTC-7) is nowhere close to the e2e blog purging time.

[2021-11-04 16:36] Robertght commented on #57657
@jeffikus should I move this to the theme's repo?

[2021-11-04 16:38] Robertght opened #57658 "this is a test"
### Quick summary

_No response_

### Steps to reproduce

test

### What you expected to happen

test

### What actually happened

test

### Context

test

### Operating System

_No response_

### Browser

_No response_

### Simple, Atomic or both?

_No response_

### Theme-specific issue?

_No response_

### Other notes

_No response_

### Reproducibility

Consistent

### Severity

One

### Avail

[2021-11-04 16:39] Robertght commented on #57658
this worked

[2021-11-04 16:39] #57658 closed, assigned to nobody

[2021-11-04 16:39] Robertght opened #57659 "testing with one label"
### Quick summary

https://atomicbobv22018.com/

_No response_

### Steps to reproduce

test

### What you expected to happen

test

### What actually happened

test

### Context

test

### Operating System

_No response_

### Browser

_No response_

### Simple, Atomic or both?

_No response_

### Theme-specific issue?

_No response_

### Other notes

_No response_

### Reproducibility

_No respon

[2021-11-04 16:40] #57659 closed, assigned to nobody

[2021-11-04 16:47] creativecoder commented on #54553
Note, I crossed off the Site editor preview functionality from this list, as that's likely a whole project in itself, so we can track it separately. The other two issues look good to start, in terms of improving Site editor design tools.

[2021-11-04 16:53] worldomonation commented on #57055
FYI, something like this should not be an end to end test, but rather an integration level test. Unfortunately we do not have proper infrastructure in place yet for writing integration tests easily, but it is something the Quality Squad wants to do in the medium-term.

[2021-11-04 16:58] worldomonation opened #57660 "Editor: Welcome Tour appears even if dismissed."
### Quick summary
The welcome tour modal appears when launching the editor even if the state is marked as 'dismissed'.

### Steps to reproduce

1. log in as `gutenbergSimpleSiteUser`. Login information is found in the encrypted configuration file.
2. click on Write on navbar.
3. wait until editor loads.

### What you expected to happen

A new, blank editor is loaded.

### What actually happened

W

[2021-11-04 17:00] kwight opened #57661 "Videos UI: The video changes on section click instead of the play button click."
The loaded video currently updates when a user clicks on the accordion section of a video – it should only update when the user clicks a corresponding play button.

[2021-11-04 17:02] kwight opened #57662 "Videos UI: Videos are not autoplaying on play button clicks."
Videos should autoplay when the user clicks a "Play video" button.

[2021-11-04 17:05] kwight opened #57663 "Videos UI: Make the My Home card first in the display sequence."
Let's make the My Home card first in the display sequence. First we'll need to verify that the cards we're bumping aren't important calls-to-action that would affect revenue, or cards that are part of ongoing A/B testing.

[2021-11-04 17:30] AtrumGeost opened #57664 "Media & Text block: Allow more freedom to use different image-related blocks"
### What

Allow to convert Media part of the Media & Text block into other Media related blocks like the Image Compare block

### Why

To allow more flexibility:

32569003-hc

### How

_No response_

[2021-11-04 17:44] creativecoder commented on #55982
I wonder if we could apply the same logic we use in the Site Editor to move the block toolbar below the block when there's not enough room on the screen.

| **Site Editor** | **Isolated Template Part** |
| - | - |
| <img width="454" alt="Screen Shot 2021-11-04 at 12 40 20" src="https://user-images.githubusercontent.com/1699996/140391313-8fafea8d-6a1b-453f-b8fa-02b5fba308ee.png"> | <img width="502"

[2021-11-04 17:58] creativecoder commented on #57158
I'm guessing this has to do with how the smaller preview is generated in the editor, since it works as expected in the editor (collapsing columns) if you resize the browser window itself. We'll likely need to address this in Gutenberg, as it doesn't appear to be WP.com specific.

[2021-11-04 18:08] NoHopeRadio opened #57665 "Gravatar: Cannot Upload New Profile Picture After Deactivating Gravatar Account"
### Quick summary

If a user chooses to opt-out of gravatar and load their profile image locally, they cannot load a new image in their site profile at https://wordpress.com/me .

I'm not sure if this is just a matter of time, that it takes a while for this to resolve, but immediately after disabling the account through gravatar.com and returning to the WordPress.com interface, the following error

[2021-11-04 18:16] creativecoder commented on #57163
Note that these formatting options for the List block come from the `RichText` component (https://github.com/WordPress/gutenberg/tree/trunk/packages/block-editor/src/components/rich-text) from the `@wordpress/block-editor` package.

We could propose adding some of these options to the Page List block in the Gutenberg plugin, though I think only a small subset of them make sense, like bold, italics

[2021-11-04 18:20] creativecoder commented on #57160
I've seen the cursor disappear intermittently like this, but it's hard to replicate (I usually use Firefox... not sure if it's browser specific or not). Also, I don't think this is specific to the Site Title block (though I could be wrong!)

[2021-11-04 18:22] worldomonation opened #57667 "Gutenboarding: This block has encountered an error and cannot be previewed."
### Quick summary

Rarely an error is shown when proceeding along Gutenboarding (as a signed out user) after filling out username/password details for a new account.

### Steps to reproduce

prereq. log out from WordPress.com.

1. navigate to `/start`.
2. choose a blog name.
3. select a free domain.
4. select the blank template.
5. select any font pairing.
6. select `Plugins` in the features page.

[2021-11-04 18:56] creativecoder opened #57670 "[Bug]: Zoologist "Replace my homepage content" preview is misleading"
### Quick summary

If I switch to a theme that displays posts on the Home page and select to use the theme's content, the preview shows looks different that the result.

**Preview**

<img width="350" alt="Screen Shot 2021-11-04 at 13 28 10" src="https://user-images.githubusercontent.com/1699996/140401187-46f21f07-fe1e-486f-a84a-d99df106574c.png">

**Result**

<img width="400" alt="  " src="https:/

[2021-11-04 19:00] creativecoder commented on #57133
I spun that out into another issue: #57670

---

That leaves the issue with Blockbase and Geologist not setting the homepage to show posts when switching to those themes:

Who is best to address that? cc @Automattic/theam @Automattic/flowpatrol @Automattic/flow-patrol-create

[2021-11-04 19:17] kwight opened #57671 "Videos UI: Every video section is a fixed height."
Currently, all video content sections are the same fixed 250px height. These need to have a proper dynamic height according to the content they contain.

<img width="785" alt="Screen Shot 2021-11-04 at 12 15 15 PM" src="https://user-images.githubusercontent.com/349751/140405344-eb8eb3d3-38a9-4d9d-aec7-564c8b78e6a9.png">

[2021-11-04 19:18] dpasque opened #57672 "Playwright: Move cookie saving details into `calypso-e2e` package"
### Details

[See this comment on this PR](https://github.com/Automattic/wp-calypso/pull/57569#discussion_r743027496).

It would be best to move the bulk of the cookie saving code into the `calypso-e2e` package, with a function like...

[code]

This would allow us to re-use code in calypso-e2e to do the logging in, and would allow us to better encapsulate the cookie file reading and ENV var settin

[2021-11-04 19:25] worldomonation opened #57673 "Flaky E2E: Revoke the invite for test user"
### Spec file

wp-invite__revoke.ts

### Suite or step

Revoke the invite for test user

### Framework

Playwright

### Logs

Logs:
[code]

ID: 6936188

Related to: #57438

[2021-11-04 19:26] sirbrillig commented on #56032
@romokebi PRs are certainly welcome!

[2021-11-04 19:39] #57190 closed, assigned to worldomonation

[2021-11-04 19:58] Robertght commented on #57657
cc @jordesign as well

[2021-11-04 20:02] Robertght commented on #57369
Thank you both!

I'm not entirely sure Page Optimize is the culprit here, as I couldn't replicate it after the report, but I'm wondering if this is something more related to AMP or a combo of sorts. cc @jordesign as it appears to be related to specific themes only

[2021-11-04 20:05] kwight opened #57676 "Video UI: Text for the draft post needs updating."
We currently have the skip link reading, "Skip and draft first post" – at some point it's been updated to simply "Draft your first post".

See: EuqfSnWpfYx8fgiBlVmbuA-fi-2119%3A1111

![image](https://user-images.githubusercontent.com/349751/140411868-1aff5afa-337f-4252-b5fc-003f1f6c4f5f.png)

[2021-11-04 20:11] #57615 closed, assigned to worldomonation

[2021-11-04 20:50] blackjackkent commented on #57641
Nice catch - I've opened a diff to fix this at D69646-code

[2021-11-04 20:55] jsnmoon commented on #57486
Very strange! It appears to be occurring only for ephemeral atomic sites.

You should be able to reproduce the bug by using my test site (ephemeral-jsnmoon-20211028.atomicsites.blog) or by spinning up a fresh ephemeral atomic site via MC tools.

At any rate, I'm marking this as a low priority bug since it doesn't seem to affect most atomic sites.

[2021-11-04 20:56] happychait opened #57680 "Domains: Redirect secondary domains to a specific page or URL"
### What

Customer wants to redirect secondary domains to a specific page or URL of the primary domain

### Why

This came up before in

p7DVsv-6DY
p7DVsv-6Ir
pKdGS-1Ow

but I don't see this in GitHub. So making this feature request here via Bugomattic.

User report: 4430312-zen

### How

_No response_

[2021-11-04 20:56] autumnfjeld commented on #57356
@arthur791004 I think these are great things to be aware of, but wondering if this is an edge case that isn't too critical.   It would be ok if the user switched to eCommerce and saw the congrats modal.  There wouldn't be any confusion or harm done.

[2021-11-04 21:00] autumnfjeld commented on #57582
Let's not let this block shipping the new text.  We can come back to line break discussions if this is taking too long.

[2021-11-04 21:06] blackjackkent commented on #57641
This fix has been deployed! @adelineyaw please let me know if you're still seeing any issue with it. :)

[2021-11-04 21:17] autumnfjeld commented on #55603
@roo & @arthur791004 I believe this work is done!  Do you agree we can close this umbrella ticket?  Any new issues we can consider followup issues.

[2021-11-04 21:50] kwight commented on #56769
This was deployed to Atomic sites today, wrapping up the project. ✨

[2021-11-04 21:50] #56769 closed, assigned to blackjackkent

[2021-11-04 22:50] jerrysarcastic commented on #54612
Also requested in https://wordpress.com/forums/topic/marking-posts-in-reader-as-read/

[2021-11-05 01:24] jordesign commented on #57657
My hunch is that this will come down to how the OG:image meta entry is handled.  TBH I'm not sure if that is handled on the theme level or not. Jeff might have a better idea.

[2021-11-05 01:26] romokebi commented on #56032
Thank you @sirbrillig, I have just opened it! ([PR](https://github.com/Automattic/wp-calypso/pull/57686))

[2021-11-05 03:26] roo2 commented on #57356
from my comment earlier:

I tested this and products are indeed saved as `post_type=product` so this shouldn't be an issue 👍

[2021-11-05 03:38] roo2 commented on #57356
@arthur791004 from that thread p1634800345008200/1634613714.476700-slack-C029SB8JT8S I don't think he explicitly said that we shouldn't limit it to the `site_intent=write` blogger flow, just that we shouldn't worry about limiting it to the site owner or show it when publishing a scheduled post.

@autumnfjeld what do you think, should we add the check that the user came from the blogger flow or jus

[2021-11-05 04:41] Greatdane opened #57687 "Unable to add/edit custom color (HEX/RGB fields) on text highlights in Calypso Editor."
### Quick summary

It is not possible to enter or delete the codes in the RGB or HEX boxes when choosing a custom color in the text highlight option.

Screenshot;
![Annotation on 2021-11-05 at 13-34-11](https://user-images.githubusercontent.com/5075840/140458696-4fabe8b2-71ff-44b6-99bb-cc31342578d9.png)

GIF:
![Screen Capture on 2021-11-05 at 12-23-23](https://user-images.githubusercontent.com/507

[2021-11-05 05:35] retnonindya commented on #53373
Another report in 32212993-hc
Safari 15.0
MacOS X 10.15.7

[2021-11-05 06:05] Robertght commented on #57641
Hey @blackjackkent!

Now it redirects me to the specific page/post stats. Is this the intended behavior?

[2021-11-05 08:33] blackjackkent commented on #57641
That is the behavior that it had previous to the bug being introduced, so that was the fix I implemented, yes. Obviously it can be further changed if needed though. 🙂

[2021-11-05 08:37] Robertght commented on #57687
I can replicate this as well on my end, but I'm not sure if this has been introduced with the recent release of Gutenberg.

cc @Automattic/flow-patrol-create

I asked here as well: p1636101465072700-slack-CBTN58FTJ

[2021-11-05 08:51] Robertght commented on #42845
I can't seem to replicate this anymore on my Jetpack site and the tour card only showed up once.

@jeherve can I get a confidence check on this one?

[2021-11-05 09:04] Robertght commented on #41326
I can confirm what @obenland mentioned above, yet the missing profile pic is still an issue.

[2021-11-05 09:05] MaxPhilip commented on #57687
Another report in 4428337-ZD. Simple site.
Copy-pasting worked as workaround.

[2021-11-05 09:17] Robertght commented on #44443
I'm adding this one to the board, but I reckon we can also recommend users to choose the app instead.

[2021-11-05 09:19] Robertght commented on #46531
It appears to remain an issue.

As a workaround please suggest using the app.

[2021-11-05 09:54] cpapazoglou opened #57692 "Announcement modal: add track events"
Let's add a track event to be triggered when dismissing a modal

https://github.com/Automattic/wp-calypso/blob/c82f0de12247e43fbd35b00a799e6ccba455b61b/client/blocks/announcement-modal/index.jsx#L49-L51

[2021-11-05 11:12] jeherve commented on #42845
👍 This seems good to close now.

[2021-11-05 11:12] #42845 closed

[2021-11-05 11:30] ivan-ottinger commented on #57398
**Solution 1**

The simplest solution could be to change

[code]
to

[code]

Result:
![Markup on 2021-11-05 at 12:22:36](https://user-images.githubusercontent.com/25105483/140503251-d3221e38-b5a4-49e3-b8a2-bbdfc60e422d.png)

---

**Solution 2**

I have also experimented with other approach where we would display the full text once the user clicks on the notification:

![Markup on 2021-11-05 at 12:

[2021-11-05 11:42] alshakero commented on #57687
Thanks for the great issue @Greatdane! It's so smooth to follow along and reproduce.

[2021-11-05 11:56] WunderBart commented on #57687
I can confirm that it was introduced with v11.8.0 and that it’s not WP.com specific. The custom color interface has changed and the previous one worked as expected. Here's how it looked in v11.7.1:

https://user-images.githubusercontent.com/1451471/140506874-235ffbb2-ffb1-4526-93df-07d21e11d94a.mov

[2021-11-05 12:14] WunderBart commented on #57687
Created an upstream issue https://github.com/WordPress/gutenberg/issues/36254

[2021-11-05 12:25] Robertght opened #57696 "Hyalite: the header image isn't showing up full screen"
### Quick summary

The full screen header image is only showing up correctly when we're proxied.

### Steps to reproduce

1. Start at https://israelpintor.com/collage/
2. Access the page with and without proxy

### What you expected to happen

To see the header image in full size

### What actually happened

The image showed up like this:

![image](https://user-images.githubusercontent.com/6737345

[2021-11-05 12:50] ivan-ottinger commented on #57398
Just noting here that I have already crated a PR (https://github.com/Automattic/wp-calypso/pull/57697) for the Solution 1. But we can still explore Solution 2 later.

[2021-11-05 13:04] Addison-Stavlo commented on #57024
I think 1196-gh-Automattic/happychat-hud may have solved this issue, unless there were more tools in need of updating.

[2021-11-05 14:01] Addison-Stavlo opened #57699 "FSE Beta - Update Site Editor admin bar buttons for Gutenberg changes."
Recent changes in Gutenberg have moved and renamed the "Site Editor" button in the admin bar:

![Screen Shot 2021-11-05 at 9 46 22 AM](https://user-images.githubusercontent.com/28742426/140520295-e5a3ce81-3687-4155-af89-3845d3bfe231.png)

I sync'd the most recent Gutenberg trunk to my sandbox to test how this effects dotcom.

Before:

![Screen Shot 2021-11-05 at 9 29 28 AM](https://user-images.git

[2021-11-05 14:12] BogdanUngureanu commented on #49537
Jetpack Boost is currently part of Jetpack menu. Updated the position only for Jetpack CRM.

[2021-11-05 14:18] sharonlaker19 commented on #57170
Just had a report on 20076058-hc
They're using the Colinear theme by Automattic

[2021-11-05 14:18] autumnfjeld opened #57702 "Welcome Tour showing behind "Your first post is published" modal"
# Description
 In new Blogger/Write flow: Welcome Tour appeared

![image](https://user-images.githubusercontent.com/5665959/140522265-e3af348a-c2b3-4f8e-b934-4025522f54f1.png?width=200)

### Steps to reproduce
* Go through Blogger Flow from intent screen:
* click write >
* Blog name >
* Draft First post >
* Land in editor >
* Write stuff in the editor >
* click Publish  >
*  **NOTE: The "first pos

[2021-11-05 14:31] autumnfjeld commented on #57356
@roo2 @arthur791004  Let's only show the the "Your first post is published" modal for the Blogger/Write flow.   It's a part of the Blogger flow, and while it wouldn't be a critical issue if it is shown to non-bloggers , I think we should keep it out of other experiences since we can easily use the `site_intent=write` flag to control who sees the modal.  So let's only show it to users who go throug

[2021-11-05 14:34] dpasque commented on #57409
Tagging @Automattic/flow-patrol-create based on issue content

[2021-11-05 14:36] dpasque commented on #57493
Tagging @Automattic/flow-patrol-create based on issue content

[2021-11-05 14:39] dcoleonline commented on #53799
4370489-ZD reached out again and ran into the same problem. I've asked them to use the Copy All Content feature so that they can move the content of their original draft into a newer draft so that the correct date will be assigned. I believe it should work in the interim, but they're eager to have this properly resolved. Let's be sure to notify them once there is a fix.

[2021-11-05 14:41] Addison-Stavlo commented on #57214
Note that the Nav sidebar is being removed from Gutenberg for 5.9.  As a result the "Browse all templates" button on Gutenberg's `trunk` branch currently leads to the wp-admin templates post management screen.

[2021-11-05 14:56] Addison-Stavlo opened #57703 "Site Editor Tracking - add tracking for 'isolated' template part mode."
In the Gutenberg plugin, an isolated mode for editing template parts in the site editor has recently been added.

This can be accessed through the ellipsis menu on the block toolbar for the template part block:

![Screen Shot 2021-11-05 at 10 37 02 AM](https://user-images.githubusercontent.com/28742426/140529260-792f2fec-2c12-4ab0-928c-47d90015cd47.png)

Which leads into the isolated mode:

![Scre

[2021-11-05 14:58] joelwills commented on #57398
Thanks, those look great! When the issue first occurred, I expected the answer to be what you are showing in Solution 2. However I think it would be good to not even need to do that, which you do with Solution 1. Other notifications (or at least mentions and new comments) are four lines in total, two for the person and post title and then two lines for the start of the comment. Like notifications

[2021-11-05 15:04] Addison-Stavlo opened #57704 "FSE Tracking - Add tracking for the save panel."
In our [previous work](https://github.com/Automattic/wp-calypso/issues/53410) to add Site Editor tracking to dotcom, one thing we overlooked was the save panel:

![Screen Shot 2021-11-05 at 10 59 21 AM](https://user-images.githubusercontent.com/28742426/140531651-58c2b0d7-1b8d-47b2-a23c-9a210bba4dde.png)

Tracking items being saved seems important and necessary for developing meaningful tracks fun

[2021-11-05 15:10] #57354 closed, assigned to sirbrillig

[2021-11-05 15:29] ivan-ottinger commented on #57398
Thank you for your feedback @joelwills! I will merge and deploy the CSS change once it is reviewed. Probably early next week.

[2021-11-05 15:31] #55184 closed, assigned to scinos

[2021-11-05 15:33] aleone89 commented on #57036
Hello,

This was reported on Forums here: https://wordpress.com/forums/topic/font-colour-formatting-on-posts/?view=all > something interesting has popped whereby the user has said that paragraph blocks, that were highlighted as above were changed into H5 blocks - is that possible?

[2021-11-05 15:39] emilyaudela commented on #57601
I have updated this in GlotPress from "più" to "meno", so it says "less than 10 characters" instead of "more than 10 characters".

<img width="430" alt="Screen Shot 2021-11-05 at 4 38 38 PM" src="https://user-images.githubusercontent.com/36699353/140537608-34f1fb0e-1495-4ce3-a239-7788a7895889.png">

[2021-11-05 16:00] AtrumGeost commented on #49056
Got another report here:

32265259-hc

The interface changed a bit but the issue persists:

https://user-images.githubusercontent.com/3696121/140540579-4aef27d4-35ed-4d6a-8a5f-f7064f7e0a38.mp4

[2021-11-05 16:47] jp-imagines commented on #53027
31709727-hc: user registered two domains on their site, and wanted to point one of them to a specific page on that site. Directed them to Cloudflare per Joshua's suggestions.

[2021-11-05 16:48] Robertght commented on #49056
This seems to be a duplicate of this one: https://github.com/Automattic/wp-calypso/issues/57687

Closing

[2021-11-05 16:48] #49056 closed, assigned to nobody

[2021-11-05 16:54] dsas commented on #52368
For 3 `domain-upsell-nudge` I now have three phab diffs to review: D69689-code, D69554-code & D69690-code, I've created a separate card to track that.

[2021-11-05 17:11] sajmes commented on #57043
32585656-hc Rebalance theme.

[2021-11-05 17:56] carinapilar opened #57706 "Gutenberg: Can't Select Text"
### Quick summary

At some point, when you make lots of changes in the editor, the ability to select the content within a block is lost.

### Steps to reproduce

1. Start a new post or page
2. Add different content, lots of it, remove them, change things, etc

### What you expected to happen

The editor to work as expected.

### What actually happened

At some point, you lose the ability to select

[2021-11-05 18:06] klimeryk commented on #57602
I'm happy to help make sure the tool is well integrated in our support flows, but the actual implementation should probably be done by a product team that knows the details, most likely the Atomic Team. @jmdodd, is this on your radar?

[2021-11-05 18:30] cometgrrl commented on #57687
This issue is tracking an issue in another repository. All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the outside repository.

[2021-11-05 18:43] zaguiini commented on #57484
@jeyip and I took a look at this issue and we discovered what's causing the problem.

Whenever someone buys a site with a mapped domain (let's use https://my-custom-domain.com for this example), the domain isn't immediately available -- there is a considerable gap between domain purchasing and global availability. Activating it takes a while.

Following the FSE onboarding flow, when someone finish

[2021-11-05 18:47] noahtallen commented on #57484
Thanks for investigating!

One thing I'm curious about is why it fails to load even now, a week after mapping the domain 🤔 Shouldn't the domain be publicly accessible by this point?

Or, another thought, I wonder if it's an issue with private sites. My site is still set to "coming soon". Does this prevent `?_wp-find-template` from finishing successfully in the context of the request from WordPress

[2021-11-05 18:52] noahtallen commented on #57214
That sucks, the nav sidebar is such a better experience imo. Now we have to eat the loading cost of the editor so much more frequently :/

[2021-11-05 18:55] zaguiini commented on #57484
It is. I can enter noahtallen.com and see the "Coming soon" message.

I'm not sure. I'm not able to access your site's template configuration, but I do have a site for myself and I can see it, even with it marked as "coming soon".

---

Apparently, that method of fetching the template it's pretty problematic. Will the proposed solution might fail on more exotic, custom themes structure? Is someone

[2021-11-05 19:13] mikeicode opened #57710 "Lodestar: Issues with header on scroll"
### Quick summary

Lodestar adds the classes `site-header-hidden` and `site-header-fixed` when scrolling the site. This feature can be buggy, sometimes the  `site-header-hidden` class isn't removed on scroll up.

Although this works fine on the default site setup we've run into issues with this on multiple sites, for example after adding CSS to hide the header image.

### Steps to reproduce

1. Ad

[2021-11-05 19:32] zaguiini commented on #57484
For WPCOM domains, I can retrieve the block template settings even though the site is marked as private.

For mapped domains that are private/"coming soon", I cannot retrieve the block template settings using the custom query parameter.

For mapped domains that are publicly available and passed the query parameter, it works.

[2021-11-05 19:37] noahtallen commented on #57484
Definitely, and FSE is already open source! :P

That's interesting. So If I set my site to public, it might start working.

[2021-11-05 19:39] noahtallen commented on #57484
I just tried it, but the site editor isn't working immediately. So it's probably not related to private sites 🤔

[2021-11-05 19:39] noahtallen commented on #57484
I think it could still be related to this:

[code]

why is it not loading the `https` link? In the browser, it will redirect http to https, but it doesn't do that in the context of the api call

[2021-11-05 19:41] hanananah opened #57711 "Cover Block Overlay – Color no longer applied when adding / editing Cover blocks"
### Quick summary

According to the [Cover Block support doc in the Overlay section](https://wordpress.com/support/wordpress-editor/blocks/cover-block/#overlay-color), the overlay color should default to grey. When adding new Cover blocks or editing existing ones, the overlay color is removed/unset and needs to be manually selected to add/restore overlay feature.

### Steps to reproduce

1. Open p

[2021-11-05 19:41] zaguiini commented on #57484
That's one of the problems, yes. The `post.link` attribute, for some reason, has the HTTP protocol, but the site editor is running on HTTPS. That would fix the problem of public sites. Private sites would still fail, though. I can't access the template URL when the site is private + mapped to a custom domain.

[2021-11-05 19:55] zaguiini commented on #57484
Won't work:
- Trying to fetch the template information from a mapped domain that is not activated yet;
- Trying to fetch the template information from a mapped domain that is marked as "coming soon";
- Trying to fetch the template information from a mapped domain from Calypso because of mixed protocols. `post.link` returns the HTTP link and we're not conforming protocols.

Does work:
- Fetch the t

[2021-11-05 20:23] noahtallen commented on #57484
I'm wondering if this still works on the local site/backend in question, because it theoretically has permissions to access the domain

[2021-11-05 20:38] cometgrrl commented on #17191
Closing this since there have been no objections. I know @vishnugopal and team are going to look into better error reports (#38152 or something similar).

Please file a new issue with as much info as possible if you run into a user with images not importing. Hopefully we can stamp out the various causes of this through specific bugs for each case.

[2021-11-05 20:38] #17191 closed

[2021-11-05 20:43] csonnek commented on #57687
Also reported in https://wordpress.com/forums/topic/please-fix-the-bugs-in-the-block-editor-which-i-by-the-way-hate/

[2021-11-05 21:25] fullofcaffeine commented on #57251
Re-opening as we are going to release 11.8.1 with a fix for p1636101465072700-slack-CBTN58FTJ.

[2021-11-05 21:36] mxhassani commented on #56586
A user seems to have ran into the issue. Reported here: 32568416-hc.
Testing on my own site with Page Optimize both on and off showed similar behavior.

**Workaround**
Change the AMP setting to Reader and pick one of the themes under Reader Theme.
Details in p1636146646186800-slack-C01UW7SB411

The user in the interaction would want to be notified once the issue is solved.

[2021-11-05 21:44] carladoria commented on #53716
another report at 32589000-hc  with Video block
VideoPress worked though

[2021-11-05 21:46] fullofcaffeine commented on #57036
@ellatrix It's possible these new reports are just users that hadn't noticed they had faulty `mark` tags before. As you probably know, the fix is not automatic, users should load the post and save it in order for the fixed marks to be persisted. I wrote about it here: p7DVsv-cYs-p2#comment-38208.

It's also possible it's an instance of what I described here: https://github.com/Automattic/wp-calyps

[2021-11-05 21:48] fullofcaffeine commented on #57036
Did you try editing the post and saving it? Did it fix the selection backgrounds?

[2021-11-05 21:50] fullofcaffeine commented on #57036
@poeticabdul @sguzovskaia Did you try editing the post and saving it? Did it clear the yellow backgrounds? I'd advise against using the CSS fix unless the aforementioned fix doesn't work, and if that's the case, we should investigate why. Please, let me know if the fix of opening the post, editing, and saving doesn't work. cc @inaikem

[2021-11-05 22:08] fullofcaffeine commented on #57687
This should be fixed in Gutenberg 11.8.1.

[2021-11-05 22:13] fullofcaffeine commented on #57251
11.8.1 with https://github.com/WordPress/gutenberg/pull/36263 has been released.

[2021-11-05 22:13] #57251 closed, assigned to nobody

[2021-11-05 23:09] jeyip commented on #50659
My mistake! Don't know how I missed this for _5 months_ 😅

https://media.giphy.com/media/xfAgILDksDJJu/giphy.gif

Yes -- we can definitely close this.

[2021-11-05 23:09] #50659 closed, assigned to creativecoder, jeyip

[2021-11-05 23:43] jeyip commented on #57174
11.8.1 just landed and it appears that dotcom simple sites still suffer from this problem 🤔

[2021-11-05 23:57] pauloeaquino commented on #53626
4433317-zen
Atomic

[2021-11-06 00:00] jeyip commented on #55372
You can rename a template part through the block settings menu.

![2021-11-05 16 55 58](https://user-images.githubusercontent.com/5414230/140590358-7a41687c-63b4-40f8-a70f-260acb4f7c2a.gif)

As far as I know, template parts can only be deleted from the template parts list page accessible through the wp admin dashboard (Appearance > Template Parts).

[2021-11-06 00:16] jeyip commented on #46816
Removing the full site editing tag. The full site editing plugin has been renamed to the editing toolkit plugin.

[2021-11-06 00:18] jeyip commented on #52983
@Copons can we close this?

[2021-11-06 00:27] jeyip commented on #55374
@creativecoder @zaguiini  This seems to fall under the purview of the site design tools pod.

I confirmed the problem as well. Curious if either of you have thoughts on priority -- I think normal or low makes sense since the workaround is relatively easy.

[2021-11-06 00:49] jeyip commented on #50408
I can't reproduce this problem anymore @mattwiebe. It appears to be fixed.

![2021-11-05 17 48 38](https://user-images.githubusercontent.com/5414230/140592198-c4675622-4aaa-4ee2-bb58-3e581cdddc5d.gif)

[2021-11-06 01:03] jeyip commented on #51939
Can reproduce this on dotcom simple sites and core Gutenberg, although it only affects the site editor and _not_ the frontend.

[2021-11-06 02:05] sarahcada opened #57718 "Highlight: allow entering of hex code for custom colors"
### What

Return the ability to manually enter the hex/RGB for custom color for Highlight/Text Color

### Why

Currently, when using setting a custom color in Highlight Tool, users need to use the color picker palette. They are unable to manually enter the hex code or RGB of their preference. If they do know the exact hex code, they'd have to carefully use the palette until they find a match. This

[2021-11-06 06:08] Robertght commented on #57711
Thank you for flagging this @hgwaltney !

I think this was changed in a previous release of Gutenberg as I can't replicate it with 11.7.1, but I can't pinpoint when was this changed.

cc @Automattic/flow-patrol-create

I also asked here: p1636178892096800-slack-CBTN58FTJ

[2021-11-06 07:41] Robertght commented on #57641
Thank you @blackjackkent !

I'm going to mark this one as fixed for now.

[2021-11-06 08:22] sarahcada commented on #57711
Adding another report at 4433797-zd-woothemes
For now the customer used the Overlay setting for each block in their newest post.

[2021-11-06 08:41] Robertght commented on #57706
Another potential case: 4432654-zen

[2021-11-06 08:46] Robertght commented on #57706
Also asked here: p1636188159097300-slack-CBTN58FTJ

[2021-11-06 09:41] adelineyaw commented on #57641
Thank you @blackjackkent! I've checked the user's site (PchyB6-5-p2) and only the three dots icon is shown and the Customize, Edit and Stats links are no longer visible. Is this to be expected with the latest fix?

Follow up: 4428691-zen

[2021-11-06 11:07] filipanoscampos commented on #57711
The user replied on this ticket: #4431371-zen
Unhappy with the suggested workaround. I tried to look for CSS to give a site-wide workaround but couldn't find any posts without the overlay.

I have asked the user to send an example and maybe we can look into a CSS workaround if the issue persists.

[2021-11-06 13:07] carinapilar commented on #57706
@Robertght, that case looks the same thing, yes, that's the exact same behavior I see when I have the issue on my sites.

[2021-11-06 13:54] benchilcote commented on #57711
I responded as well to user in #4431371-zen.  They have thousands of posts on their site, so this issue affects them in a substantial way.

Also - I did some of my own testing and was not able to reproduce the issue.  I created a test post on an Atomic site, added a cover block with a color overlay, and with nested paragraph and heading blocks, then published it.  After reloading the post on the f

[2021-11-06 14:10] kspilarski opened #57721 "Zoologist Theme: Color Customization"
### What

Show a preview of how the color looks like in the customizer.

### Why

It'll save time and it'll be handy to see how the color or color combinations will look like on the site while changing them in the Customizer instead of picking colors, saving the changes first, then refreshing to see how the final outcome looks.

### How

Changing primary, secondary, foreground, background, tertiar

[2021-11-06 14:13] #57601 closed, assigned to nobody

[2021-11-06 14:53] AtrumGeost commented on #57711
The user from 4431371-zd-woothemes shared a video and more details:

https://user-images.githubusercontent.com/3696121/140613889-cb270bfe-1fdd-478c-921b-e6ea01623a6c.mov

[2021-11-06 15:24] LauraSWP commented on #57711
Another case here, text color could not be changed 28161311-hc
Had to use a custom CSS class and a tempo CSS fix.

[2021-11-06 15:51] kspilarski opened #57722 "Canard: Red border color is automatically added to a button"
### Quick summary

Submit button in a poll block gets a red border color as soon as Canard theme is activated.

### Steps to reproduce

1. activate Twenty Twenty theme
2. in a page or post, create a poll block and notice how the Submit button looks like.
3. save
4. change theme to Canard
5. go back to the page or post with poll block and Submit button border color will be red.

### What you expect

[2021-11-06 16:04] benchilcote commented on #57489
Another report: 4430937-zd

[2021-11-06 16:12] Gustavo-Hilario commented on #57687
Also reported here: 4434473-zd-woothemes

[2021-11-06 16:15] kspilarski commented on #57489
4434500-zd

[2021-11-06 21:18] jordesign opened #57723 "Zoologist as default: Styling for default theme doesn't match showcase"
### Quick summary

When a new site is started with Zoologist (which is the default) the styling of fonts and colors doesn't match the showcase. It also feels a little messier than expected.

### Steps to reproduce

1. go to https://wordpress.com/start/
2. Start a site without selecting a theme - or by *specifically* selecting Zoologist
3. View site

Example site from this process:
PdvmeS-6-p2

###

[2021-11-06 21:20] jordesign commented on #57723
@alaczek @ianstewart @p-jackson Can you please take a look to see if anything Design Picker/Default theme is causing Zoologist to come through incorrectly?

[2021-11-07 03:04] inaikem commented on #56586
@mxhassani can you please open this as a new issue? It looks like the original was based on AMP being disabled and we'd want to keep a distinction here as you mention it in your notes above. Thanks!

[2021-11-07 03:14] hgwaltney commented on #57206
Sorry for the delay! I just tested this again and after purchasing the plan and domain, I was immediately put into the homepage editor for the new site. It is clear this time that it's the homepage I'm editing, and the theme's homepage demo content is already there. I wonder if whatever happened during our team testing was just a fluke!

[2021-11-07 05:40] formosattic opened #57724 "Atomic: "Blogs I Follow" widget is not supported"
### Quick summary

Just moving 272-gh-Automattic/atomic over to here

The Blogs I Follow widget has not yet been supported. Attempting to merge the authentication changes needed for it [broke Jetpack Plans](75-gh-Automattic/wpcomsh#issuecomment-302565209), so [further work](75-gh-Automattic/wpcomsh#issuecomment-307828132) is needed to straighten that all out.

`wpcomsh` PR: Automattic/wpcomsh#75
B

[2021-11-07 06:11] kuropixel commented on #50306
Another report: 4431741-zd

The workaround, for now, is creating a separate tiled image gallery block.

[2021-11-07 09:31] sharonlaker19 opened #57725 "Unable to add new Text widget to a simple site"
### Quick summary

A user on [this site](https://classicalpianists.wordpress.com/) is unable to add new Text widgets.

We've tried both the Block and Classic widget editors but the changes don't stick.

### Steps to reproduce

1. Go to https://classicalpianists.wordpress.com/
2. Navigate to Appearance > Customize > Widgets and choose any sidebar option.
3. Add a new Text widget with a title and so

[2021-11-07 09:32] formosattic opened #57726 "Penscratch 2: In editor, improve text color visibility"
### What

In the editor, the theme styles apply a light grey color to the text, it's hard to read.   Kind of related to https://github.com/Automattic/themes/issues/1905

### Why

Editor is hard to read.

### How

A temporary workaround is to turn off theme styles.
![image1](https://user-images.githubusercontent.com/15944096/140637795-3aade3f8-62fc-4211-9513-0c115ab445d7.png)

[2021-11-07 09:34] sharonlaker19 commented on #57725
Ticket: 4433312-zen

[2021-11-07 09:45] rw-ye commented on #56559
28121350-hc
4435639-zd-woothemes

Same error message when switching from the galley to collage. Tested it on my own AT site as well.

[2021-11-07 09:47] Nic-Sevic opened #57727 "WooCommerce blocks - Order by Menu not working"
### Quick summary

When you add a sortable woocommerce block to a page and select order by menu order from the sidebar options, the order does not match the menu order

### Steps to reproduce

1. add any sortable woocommerce block
2. select sort by menu order
3. see that some other order given

### What you expected to happen

the order should match the menu order in customizer

### What actually

[2021-11-07 10:44] daria2303 commented on #57725
* cache clearing doesn't solve it

[2021-11-07 10:53] philnick206 opened #57728 "Stack overflow Icon in Social Icons Block"
### What

Add Stack Overflow icon to Social Icons block and widget

### Why

Stack Overflow is a popular social site for asking questions and providing answers to technical questions.

https://stackoverflow.com/

### How

Example of icon here
![image](https://user-images.githubusercontent.com/51966986/140642080-21fc0aa3-1777-4180-a6f8-8965b6d0f74e.png)
:

[2021-11-07 15:36] ccwalburn commented on #51540
Another report here: 4436126-zen. Suggested Gravatar workaround.

[2021-11-07 15:36] ChrissiePollock opened #57730 "Gateway Theme Doesn't Offer Home Page Setting in Page Attributes"
### Quick summary

In the [theme setup](https://wordpress.com/theme/gateway/) it says:

1. Create a new Page, and assign it the “Home Page” template under Page Attributes. The title and content of this page will be displayed beneath the header, like this: (then shows how to add it).

But there is no option for that.

### Steps to reproduce

Start on your test site.
Make Gateway the theme.
Create a

[2021-11-07 18:29] sajmes commented on #50306
User report here: 4425315-zd-woothemes

They would like to be notified when resolved.

[2021-11-07 19:17] ccwalburn commented on #57304
Another user prefers the old preview as well. They have found that they can access the old preview by clicking the three dots next to the post title, but would prefer that it was readily available in the post.

4436607-zen

[2021-11-07 19:22] msilbers commented on #56382
Needed CSS for this in 4435312-hc but not outright requested

[2021-11-07 22:32] romokebi commented on #57161
Hi @msilbers, I've just checked and it looks like no emails are sent when I (as Admin) approve and publish a Contributor's post. Is this what I'm supposed to do in order to trigger it? Thank you and apologies if I'm missing something.

[2021-11-07 23:34] Greatdane commented on #54107
Another report: 4430152-zd-woothemes

The initial workaround worked.

[2021-11-08 01:03] NoHopeRadio opened #57731 "Blog Posts Page: Older Posts with Twitter Embeds not Rendering"
### Quick summary

On the blog posts page, on first load, Twitter posts will show in an attractive iframe-looking container. However, if there are older posts on a page, these will not load the embed container, and only show a text version of the Twitter content inside.

Other embeds I looked at (YouTube, Imgur) seemed to work, so I am not sure if this is just Twitter embeds or not.

https://user-

[2021-11-08 03:46] arinoch opened #57732 "Storefront: Add the option to enable post excerpts in the theme's customizer."
### What

On the page that shows a user's blog posts, give the option in the customizer to have that page show excerpts.

### Why

Currently, this is provided by a [plugin](https://wordpress.org/plugins/storefront-blog-excerpt/). I see no reason why it shouldn't be a native option with the theme. Product gap located by assisting in 32613713-hc, where the user was explicitly looking for this featur

[2021-11-08 04:43] scinos opened #57733 "Storybook is broken"
I get an error when running `yarn components:storybook:start`:

![image](https://user-images.githubusercontent.com/975703/140685575-5fa109af-2e03-401a-ab7d-0be663f27a34.png)

[2021-11-08 05:46] lsl commented on #55920
7-gh-Automattic/woo-on-plans

[2021-11-08 05:46] #55920 closed, assigned to nobody

[2021-11-08 06:46] sarahcada commented on #57718
Duplicate of #57687
Closing this one.

[2021-11-08 06:46] #57718 closed, assigned to nobody

[2021-11-08 07:15] sophiegyo commented on #52048
I was also not able to replicate this, but we had a similar report in 4434735-zen except there, the tags are reported to disappear on saving/publishing the post.

This browser info was provided: https://whatismybrowser.com/w/8YDRTNM

[2021-11-08 09:17] MaggieCabrera commented on #57723
I don't know what's causing this. I could reproduce with the same steps you recommend and then if I switch to Quadrat or Geologist those work fine, but going back again to Zoologist breaks the styles of the theme again:

<img width="730" alt="Screenshot 2021-11-08 at 10 14 34" src="https://user-images.githubusercontent.com/3593343/140715319-ed372b9b-e0f8-4985-bc83-9ec2e53036a5.png">

About the col

[2021-11-08 09:26] hideandgeek404 opened #57736 "Zooligist: reports of heading font changing"
### Quick summary

I have seen multiple reports of this but I put the other down to changes made by the user.

However, as this is the third I have seen I think it needs reported as a bug.

Reports suggest that, without any changes from the user, the headings on the Zoologist theme become smaller and less bold.

4434813-zen is one example of this.

### Steps to reproduce

I have been unable to rep

[2021-11-08 09:58] #56610 closed, assigned to nobody

[2021-11-08 10:28] inaikem opened #57737 "Customizer: Allow visibility of Site Title and Tagline to be independently set"
### What

Allow the visibility of the Site Title and Tagline to be independently set in the Customizer

### Why

For sites with a logo set, they might want to selectively make the Tagline visible but hide the Site Title (note: on some themes, showing all three elements results in an unsightly header area).

CSS aside (see further down), the only way to selectively hide the Site Title or Tagline is

[2021-11-08 10:32] vindl opened #57739 "FSE beta: Footer credit setting in Customizer not applied"
The current footer credit setting in the Customizer is not reflected on FSE beta sites.

Workaround: users must enable Site Editor, then manually edit or delete the block.

We should find a way to make this consistent.

[2021-11-08 11:04] devNigel opened #57740 "Twenty Seventeen: Borders are showing for linked transparent images"
### Quick summary

Bottom borders are showing up for linked transparent images in Simple sites. Previously, that was not the case.

### Steps to reproduce

1. With Twenty Seventeen theme active, upload an image with a transparent margin on all sides. Sample image is uploaded here:
![image](https://user-images.githubusercontent.com/33957570/140730152-41810de0-a734-44ff-a3b7-ff09618b9c0e.png)
2. Add

[2021-11-08 11:11] devNigel commented on #56673
I have closed a related ticket ( 4337048-zen )  since the bug report has been triaged.

Please update the user via a new ticket once the bug is fixed.

[2021-11-08 11:33] Copons commented on #52983
@jeyip Yup!
Blank Canvas is not used anymore, and anyway we sorted out the sidebar toggling the Site Editor item after a theme switch a long time ago already. 🙂

[2021-11-08 11:33] #52983 closed, assigned to nobody

[2021-11-08 11:59] #57733 closed, assigned to scinos

[2021-11-08 13:04] WunderBart commented on #57706
I can't seem to be able to replicate this. Does this happen in a specific browser? Also, does this happen on a Simple or Atomic site? (Or both?)

[2021-11-08 13:07] dlind1 opened #57743 "Plugins List: Fix the translations on the Plugins page"
There are some issues on the plugins list page:
1. “Try searching ‘ecommerce’” .
2. ‘Featured’ section and other section labels often have nonsensical translations like (‘Introduced’ or ‘Bookmarked’).

[2021-11-08 14:25] WBerredo opened #57746 "Plugin Details: Add star icons to plugin rating info"
Update the Plugin Details page to show the rating information with stars next to the rating value.

### Demo

<img width="160" alt="Screen Shot 2021-11-08 at 10 25 31" src="https://user-images.githubusercontent.com/5039531/140759289-618a5435-1933-4b12-920e-ba4276e879b9.png">

### Position

<img width="668" alt="Screen Shot 2021-11-08 at 10 26 26" src="https://user-images.githubusercontent.com/5039

[2021-11-08 14:29] WBerredo opened #57747 "Plugin Details: Customize site list styling"
Update the Site List section on Plugin Details to match the Figma layout at oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A49151.

### Demo

<img width="581" alt="Screen Shot 2021-11-08 at 10 31 39" src="https://user-images.githubusercontent.com/5039531/140760402-dfc774c4-84ba-43fa-88cb-4697dbb49bc1.png">

### Position

<img width="587" alt="Screen Shot 2021-11-08 at 10 30 38" src="https://user-images.githubuse

[2021-11-08 14:35] WBerredo opened #57748 "Plugin Details: Create placeholder loading page"
Update the Plugin Details page to show a placeholder (gray boxes) when the plugin information still loading.

[2021-11-08 14:36] WBerredo opened #57749 "Plugin Details: Update plugin author link to redirect to a WP.com page showing all plugins of the selected author"
Update plugin author link to redirect to a WP.com page showing all plugins of the selected author

We should parse the author from the `author_profile: https://profiles.wordpress.org/takayukister` field eg `takayukister` and use it in the `https://api.wordpress.org/plugins/info/1.2/?action=query_plugins&request[author]=takayukister` endpoint which will return all plugins that this author is a cont

[2021-11-08 14:47] cpapazoglou opened #57751 "Marketplace: Extensions icons"
While trying to implement the figma designs (oU6nEIeiKSg8CayhEtgR6b-fi-6693%3A53273) we have stumbled into an inconsistency.

![SS 2021-11-08 at 16 48 18](https://user-images.githubusercontent.com/12430020/140763243-c9788aa3-926a-4072-88fd-85a66258099b.png)

The WOO extensions icons are not square eg [https://woocommerce.com/wp-content/uploads/2020/06/Logo-Woo-Subscriptions-Dark.png?fit=300,200](h

[2021-11-08 14:53] WunderBart commented on #57711
Created an upstream issue: https://github.com/WordPress/gutenberg/issues/36310

[2021-11-08 14:54] nelsonec87 commented on #57557
@sixhours I believe it's coved by the current version :)

[2021-11-08 14:59] cpapazoglou opened #57752 "Marketplace: Exclude Featured plugins static list from the popular ones"
- Visit: `/plugins`
- See that Popular section includes some featured plugins (Contact Form, Yoast)

Let's try removing the featured plugins (which are hardcoded in WPCOM) from the Popular list.

![SS 2021-11-08 at 16 56 52](https://user-images.githubusercontent.com/12430020/140765044-744d093c-d0c4-4336-8a96-a34d7a29aa73.png)

[2021-11-08 15:06] cpapazoglou opened #57754 "Marketplace: Taxes for paid products"
- Check whether we need to charge taxes for selling WOO extensions or any other product.
- Is there a mechanism that handles taxes automatically depending on billing address?
- Document the outcome.

[2021-11-08 15:08] cpapazoglou commented on #57743
Just a reminder to translate the announcement modal strings too

![SS 2021-11-08 at 17 07 25](https://user-images.githubusercontent.com/12430020/140766626-73a9565c-9e70-4a18-9dfd-5ed46356b98f.png)

[2021-11-08 15:11] cpapazoglou opened #57755 "Marketplace: Subscription removal / expiration"
Make sure that plugin is removed when subscription is removed / has expired and users can't re-activate it.

[2021-11-08 15:13] sixhours commented on #57544
This has been done! You can see it in action at `/vertical-images` in MC.

[2021-11-08 15:13] #57544 closed, assigned to nelsonec87

[2021-11-08 15:14] sixhours commented on #57543
This part of the UI has been built. MC / `/vertical-images`

[2021-11-08 15:14] #57543 closed, assigned to nobody

[2021-11-08 15:15] cpapazoglou opened #57756 "Plugin Details: render paid plugins"
Since the description markup will be served from the WPCOM api we need to make sure that it displays as expected.

![SS 2021-11-08 at 17 16 16](https://user-images.githubusercontent.com/12430020/140767892-e7a9e4b4-1ba2-4d6a-8088-04d40946d444.png)

[2021-11-08 15:18] cpapazoglou opened #57758 "Plugin Details: Sidebar items"
We can add the Sidebar items as static texts for now since we will only have WOO extensions

![SS 2021-11-08 at 17 17 02](https://user-images.githubusercontent.com/12430020/140768200-f3c0424d-70cd-4b39-9a31-085174cfcbe4.png)

[2021-11-08 15:20] cpapazoglou opened #57759 "Plugin Details: Check / add the USPs under the CTA for a free and paid plugin"
Designs oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A46946

- Add the USPs (unique selling point) to the plugin details page
- Refine the copy. Let's see if we can remove any billing period references so that they are more abstract and we reduce complexity

<img width="795" alt="SS 2021-11-18 at 12 28 31" src="https://user-images.githubusercontent.com/12430020/142398414-5b22e4db-5b9d-4192-b11f-e78f963fdfb9.pn

[2021-11-08 15:22] cpapazoglou commented on #57759
@emmnyc85 can you chime in here regarding the copy?

[2021-11-08 15:24] cpapazoglou opened #57760 "Plugin Details: Add Pricing info"
![SS 2021-11-08 at 17 24 26](https://user-images.githubusercontent.com/12430020/140769375-34159f7d-d51f-43c7-b87e-076ce8a49cf7.png)

[2021-11-08 15:26] cpapazoglou opened #57761 "Plugins Browser: Add Pricing info"
![SS 2021-11-08 at 17 25 57](https://user-images.githubusercontent.com/12430020/140769594-868ed73a-8ba0-4f67-864b-a65cd1fad4f3.png)

[2021-11-08 15:28] cpapazoglou opened #57762 "Marketplace: Statistics for Marketplace Sales through WPCOM"
Provide an easy way to create reports for Marketplace products sold through WPCOM. Reports should include:
- site id
- user id
- current plan
- the plugin slug of the product bought

[2021-11-08 15:33] cpapazoglou opened #57763 "Plugin Install: check eligibilities"
Before we offer the ability to install a plugin we should be doing an eligibility check like here

https://github.com/Automattic/wp-calypso/blob/f2e6f88ae65c8571bbac21b284c29b48ec987598/client/my-sites/plugins/plugin-meta/index.jsx#L560

[2021-11-08 15:53] emmnyc85 commented on #57759
Typo on the first bullet in the read box. Should read: "1 year of plugin updates" instead of "plugins updates"

[2021-11-08 16:15] andres-blanco commented on #57574
closing, addressed in #57614

[2021-11-08 16:15] #57574 closed, assigned to andres-blanco

[2021-11-08 16:35] #57606 closed, assigned to worldomonation

[2021-11-08 16:37] ivan-ottinger commented on #57552
Initial investigation:

There was a similar case discussed in p56BUd-k3-p2 where the issue was likely caused by the tracked URL being blocked by Akismet. I have checked whether `form.jotform.com` (used in JotForm forms) is blocked and it doesn't seem to be the case here.

Clicks to the root `jotform.com` are tracked properly.

It is not yet clear where the issue is coming from.

[2021-11-08 16:39] #57557 closed, assigned to nobody

[2021-11-08 16:39] worldomonation opened #57768 "Flaky E2E: Click and visit first support article"
### Spec file

wp-support__popover-spec.ts

### Suite or step

Click and visit first support article

### Framework

Playwright

### Logs

Logs:
[code]
![image](https://user-images.githubusercontent.com/6549265/140781906-587a79a9-b817-464d-8101-26ab6bbbe592.png)

This is always because the 'Visit Article' button shifts when the placeholder elements are hidden from DOM in the article preview modal.

[2021-11-08 17:04] emilyaudela commented on #57302
The translation was using the wrong placeholder variable (`%1$d` instead of `%1$s`) which was causing it to break. I have updated the translation with the correct placeholder and it looks like it's fixed now.

<img width="373" alt="Screen Shot 2021-11-08 at 6 01 59 PM" src="https://user-images.githubusercontent.com/36699353/140785875-069999b2-797a-4635-a6aa-92bbaf4159c6.png">

[2021-11-08 17:04] #57302 closed, assigned to alshakero

[2021-11-08 17:05] #57673 closed, assigned to worldomonation

[2021-11-08 17:23] kwight commented on #57506
Each course would have its own URL that would be the action for that course.

[2021-11-08 17:26] kwight commented on #57663
Ping martech for some background.

[2021-11-08 17:29] kwight opened #57770 "Videos UI: Remove EN gating when UI translations are finished."
We'll need to acknowledge when the UI is in non-EN and the videos are only EN; "we're sorry!..". We can also add a button, "let us know if you want this video translated..." (could bump an MC stat).

How do captions fit into this?

[2021-11-08 17:32] worldomonation opened #57771 "Playwright: make retry mechanism generic."
### Details

In https://github.com/Automattic/wp-calypso/pull/57677 a physical retry mechanism was added.

This behavior is as follows:
1. load the target page.
2. perform action(s) against the target with a reduced timeout (eg. 5-10 seconds).
3. if action fails, reload the page.
4. repeat step 2 until successful, or until `retry` attempts are exhausted.

As per discussion in Slack (p1636391221268

[2021-11-08 17:33] kwight commented on #57246
We looked at re-using WP Courses' back-end, but felt that a standalone version particular to this project would be more appropriate. @provenself remind me if I've missed anything.

[2021-11-08 17:37] worldomonation commented on #56413
While we have reduced the cost of launching new browsers somewhat with https://github.com/Automattic/wp-calypso/pull/57569, this issue is still valid.

Just not at high priority level.

[2021-11-08 17:37] edequalsawesome opened #57772 "Lodestar: Embed in front page two-column panel not appearing correctly in Chrome"
### Quick summary

When using the Lodestar theme, the Google Map that is shown on the theme demo doesn't appear in Chrome correctly on larger screens -- when the screen is less than 960px and appearing with the content in a column, the Google Maps embed appears correctly.

I've also tested this with a YouTube embed, and the same thing happens with that as well.

### Steps to reproduce

1. Set your

[2021-11-08 17:52] kwight opened #57774 "Videos UI: Build Tracks funnels."
Let's build Tracks funnels for common expected questions, and add them to the Field Guide.

[2021-11-08 18:08] KirkwallDay commented on #50306
The user in 4425315-zd-woothemes reported back to us that when they use a mobile phone, they were able to edit the gallery. I've asked them to try the desktop app to see if that would work as well as a workaround.

[2021-11-08 18:15] msilbers opened #57775 "Stats: Ads section empty"
### Quick summary

Right now it seems that any site's stats display may be completely blank for the ads section if they have WordAds enabled and are receiving impressions.

### Steps to reproduce

1. Navigate to My Site > Stats > Ads
2. Check for some data in the charge

### What you expected to happen

To see some data, even if it says zero

### What actually happened

It shows completely blank,

[2021-11-08 18:19] jeyip commented on #50408
Closing this for now @mattwiebe. Feel free to reopen if the problem presents itself again.

[2021-11-08 18:19] #50408 closed, assigned to nobody

[2021-11-08 18:19] nicolynramos commented on #57775
Another instance: 30105566-hc

[2021-11-08 18:20] autumnfjeld commented on #57372
@roo2 Given your above comment can we close this?

[2021-11-08 18:21] worldomonation commented on #57396
Not observed after the one instance it was noted. Proposing to close.

[2021-11-08 18:21] #57396 closed, assigned to nobody

[2021-11-08 18:22] VKGteam commented on #52182
Hello, does it someone succeeded to fix this issue?

I tested patch from alshakero but in my case do not work.

Issue still exists.

[2021-11-08 18:25] dpasque opened #57777 "Playwright: Make TeamCity build info for I18N test"
### Details

Make new TeamCity build for Playwright I18N

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2021-11-08 18:33] khristiansnyder commented on #57775
Another in #4439332-zen

[2021-11-08 18:57] creativecoder commented on #55374
If this is not WP.com specific, I think the next step is opening a Gutenberg issue.

[2021-11-08 19:01] jeyip commented on #53320
Closing this in favor of https://github.com/Automattic/wp-calypso/issues/55372. The requests seems similar enough.

I'll leave a note in the other Github issue about how there have been multiple requests for the ability to manage template parts from within the site editor.

[2021-11-08 19:01] #53320 closed, assigned to nobody

[2021-11-08 19:02] jeyip commented on #55372
These features have also been requested in the past.

https://github.com/Automattic/wp-calypso/issues/53320

[2021-11-08 19:08] #57723 closed, assigned to nobody

[2021-11-08 19:12] sixhours commented on #57545
Calling this done! We can resolve the duplicates if we need to in a separate sprint/PR.

[2021-11-08 19:12] #57545 closed, assigned to nobody

[2021-11-08 19:18] sixhours opened #57778 "Verticals: Build user-facing API for devs"
We need to provide a way for devs to access the images from wpcomverticals and query for images by their vertical and orientation metadata.

This API will also assist in managing existing images via the vertical image curator tool, showing images that have already been added to the media library for each vertical.

[2021-11-08 19:19] autumnfjeld opened #57779 "Blogger Flows: calypso_signup_start & calypso_signup_step_start not firing as expected"
# Description
An audit of signup flows flow=onboarding and flow=setup-site showed that :
- [ ] calypso_signup_start[flow=onboarding] DID NOT FIRE
- [ ] calypso_signup_start[flow=setup-site] DID NOT FIRE
- [ ] calypso_signup_step_start [flow=setup-site, step=starting-point] DID NOT FIRE
- [ ] calypso_signup_design_preview_select DID NOT FIRE on the DP screen (in the intent=build flow)
- [ ] calypso

[2021-11-08 19:20] cuemarie commented on #53626
Simple Site: 30640684-hc
Toggling to Coming Soon > Public resolved the issue

[2021-11-08 19:24] msilbers opened #57780 "Chat Warning for WP-Admin: Showing Incorrectly"
### Quick summary

We've been hearing reports from customers that they are unable to scroll down in some pages or sections of their dashboard if they are in chat, and were finally able to pin it down to this warning we added when someone tries to go to wp-admin, I believe it was this: https://github.com/Automattic/wp-calypso/pull/50236

However, this is displaying without the customer clicking any

[2021-11-08 19:28] jeyip commented on #51903
From what I can tell, in the current version of Gutenberg, the page list block _does_ respond to "List" block style customization in the global styles menu.

[2021-11-08 19:47] mikeicode commented on #57775
31464029-hc

[2021-11-08 19:55] benchilcote opened #57781 "Jetpack Download Stats not being tracked"
### Quick summary

Downloaded files are not being tracked and displayed in Jetpack stats under File Downloads.

### Steps to reproduce

1. Create a post or page and add a file block
2. Add a supported file to the block and publish the page or post
3. From another browser, while not logged in as Admin, click the download link and save a file to your computer

### What you expected to happen

I woul

[2021-11-08 20:01] masperber commented on #57775
31843892-hc

[2021-11-08 20:11] the-misha commented on #57781
Another user report: 29967624-hc

[2021-11-08 20:11] nickpagz commented on #57775
Got another...
32632296-hc

[2021-11-08 20:16] KirkwallDay commented on #57775
Two more instances:
4439219-zen
4439623-zen

[2021-11-08 20:16] thekingsprojects opened #57782 "Jetpack Stats: File download stats missing from Stats and Insights"
### Quick summary

The "File downloads" section of the Stats and Insights page on Simple sites shows "no files downloaded", even when there should be downloads/were downloads visible. This happens when viewing today's stats as well as previous days/years/etc..

### Steps to reproduce

1. Log into a WordPress.com Simple site (Personal, Premium, etc.) that has had files downloaded in the past
2. Che

[2021-11-08 20:19] wprhunt commented on #57775
One more:
31435975-hc

[2021-11-08 20:20] thekingsprojects commented on #57781
Another report here: 32631632-hc

[2021-11-08 20:21] thekingsprojects commented on #57782
Whoops, missed that this was already reported while I was writing this up: https://github.com/Automattic/wp-calypso/issues/57781

This can be closed/merged in favor of that issue.

[2021-11-08 20:24] Addison-Stavlo commented on #55372
I think the interface is in a bit of redesign currently, so I don't have much of an opinion here.  But the navigation sidebar noted above has recently been removed in core so this flow to manage template parts from it doesn't really exist in this form.  There is an 'isolated' mode you can load a template part in, and the mentioned sidebar on the right seems like a logical place to have controls fo

[2021-11-08 20:32] autumnfjeld opened #57783 "Blogger Flow: process does not complete"
Reports of the Loading screen never ending when going through the writing intent flow.

**Reproduce:**
From Louis's slack comments:
* proxied not sandboxed was able to repro a couple of times.
* In local dev calypso.localhost
* See video from Louis:
p1636354685105900/1636353578.105000-slack-CRWCHQGUB

Screenshots from Louis's video:
![image](https://user-images.githubusercontent.com/5665959/140813

[2021-11-08 20:43] happychait commented on #57775
31692260-hc

[2021-11-08 20:45] AtrumGeost commented on #57781
We got another report here:

4438599-zd-woothemes

[2021-11-08 20:46] Gustavo-Hilario commented on #57775
Another report here: 32455499-hc

[2021-11-08 20:50] adelineyaw commented on #57641
Closing issue as user replied 4428691-zen saying their Stats are working fine again.

[2021-11-08 20:50] #57641 closed, assigned to nobody

[2021-11-08 20:58] happychait commented on #57775
32581613-hc

[2021-11-08 21:10] sixhours opened #57785 "Verticals: Resolve source of truth"
The spreadsheet and the current API differ significantly. The source of truth should be the current spreadsheet, which either needs to be made into its own API or merged with the existing API. Related to #57556

[2021-11-08 21:12] sixhours opened #57786 "Verticals: Light UX testing"
Ask folks who aren't yet familiar with the tool to give it a try and see if there's something we've missed.

[2021-11-08 21:13] autumnfjeld opened #57787 "Blogger Flow: hide floating FAB"
## Description
We want to hide the floating FAB in the Hero Flow onboarding screens.
This is high priority but NOT a blocker for shipping to users.

Slack decision making: p1636381518129000-slack-C029SB8JT8S
![image](https://user-images.githubusercontent.com/5665959/140817894-0269d23e-64c9-4ea8-ad14-8456eeb372d1.png)

Also, slack advice 😆 :
![image](https://user-images.githubusercontent.com/566595

[2021-11-08 21:13] sixhours opened #57788 "Verticals: Add management UI to MC tool"
Add a "Manage" tab to the UI where we show existing images stored for each vertical (will depend on #57785) and a button to delete them from the storage site.
D69884-code

[2021-11-08 21:14] dpasque commented on #57550
Alright, after gathering feedback from the team and looking at existing scripts, I wanted to propose a test plan map for the `signup__free` and `signup_paid` scripts.

The goal here is to get as much coverage in as few of flows and sites created. I'm also trying to balance out the scripts so that they have generally the same amount of content (one is not a lot longer than the other).

The current

[2021-11-08 21:14] cuemarie commented on #57775
26156839-hc

[2021-11-08 21:15] sixhours opened #57789 "Verticals: Create GET endpoint for fetching images by vertical ID"
Write an endpoint that lets us query for images in the storage site by vertical ID.

Bonus: Allow for querying by orientation, too.

@obenland suggests:

[2021-11-08 21:16] thekingsprojects commented on #57775
Another report from 17969185-hc

[2021-11-08 21:24] kwight commented on #57447
Closed in #57618

[2021-11-08 21:24] #57447 closed, assigned to blackjackkent

[2021-11-08 21:25] kwight commented on #57326
With #57515 being our deploy mechanism for the feature, let's call this done.

[2021-11-08 21:25] #57326 closed, assigned to blackjackkent

[2021-11-08 21:26] #57454 closed, assigned to kwight

[2021-11-08 21:29] KirkwallDay commented on #57775
Another report here: 32633286-hc

[2021-11-08 21:29] kwight commented on #57455
The initial round is in, let's be sure to keep adding them if we add any new elements to the feature.

[2021-11-08 21:29] #57455 closed, assigned to nobody

[2021-11-08 21:31] autumnfjeld commented on #55512
@dpasque I don't think we'd make this a priority any time soon, we are full on getting the new Blogger onboarding flows launched and debugged.

I can't judge the relevance of this off the top of my head, probably good to check with someone who is active in the podcasting realm. :)

[2021-11-08 21:32] thekingsprojects commented on #57775
And here 32631764-hc

[2021-11-08 21:35] autumnfjeld commented on #56833
@ianstewart @p-jackson I believe we can close this, correct?

[2021-11-08 21:38] chad1008 commented on #57251
v11.8.2 with https://github.com/WordPress/gutenberg/pull/36312 has been released

[2021-11-08 21:42] lsl commented on #57419
Use top part only for now

[2021-11-08 21:44] autumnfjeld commented on #56837
@ianstewart I believe these are no longer valid issues because we have replaced preview-on-hover with a click-thru to preview.  Those "full" previews look good to me.

I checked on:
Twenty Fifteen
Twenty Sixteen
Rockfield

[2021-11-08 21:44] #56837 closed, assigned to nobody

[2021-11-08 21:45] autumnfjeld commented on #57521
I will close this issue.

[2021-11-08 21:45] #57521 closed, assigned to nobody

[2021-11-08 21:47] kwight opened #57790 "Vidoes UI: Remove `videos.php` from the library."
Remove `videos.php` from the library if we've never ended up needing it.

[2021-11-08 21:49] kwight commented on #57250
We currently have one user attribute named `courses`, with course slugs as keys and the completed videos (slugs) for a course in an array.

[2021-11-08 21:50] autumnfjeld opened #57791 "Site Editing: Hide page title a Gutenberg issue"
## Helping out with dot org Gutenberg issue
#28564 Site Editing: Hide page title
https://github.com/WordPress/gutenberg/issues/28564

It’s tricky because it’s 3 features in one; sets the visible page/post title on some themes,  sets the <title> for SEO/social media/browser tab, generates the pretty URL

p58i-aJq-p2#comment-51784
p1629299093134800/1629170341.058200-slack-C029SB8JT8S

Just mentioned

[2021-11-08 22:00] kwight opened #57793 "Videos UI: Verify our build exactly matches the Figma."
Once we're at a proper level of polish where all media widths make sense, let's compare to the original Figma at EuqfSnWpfYx8fgiBlVmbuA-fi-2119%3A1111 and make sure everything is of the right size and proportions at the given width of the Figma.

[2021-11-08 22:02] arinoch commented on #57775
Reported as well in 21856637-hc.

[2021-11-08 22:05] worldomonation commented on #57660
Yet another occurrence for TeamCity ID 6949795, with the same user.

[2021-11-08 22:12] kwight opened #57794 "Videos UI: The UI needs to be displayed fullscreen."
We're currently embedding the Videos UI in a modal for My Home, which is awkward-looking – let's make it fullscreen as originally intended.

[2021-11-08 22:12] worldomonation opened #57795 "CI: remove Chromedriver from docker image."
### Details

We are now in a state where e2e tests for Calypso and Desktop app all run on Playwright.
The only time Selenium is used in the whole issue life cycle is during the canaries, which will be switched over to a Playwright-based suite soon as well.

If possible, let's remove Selenium Chromedriver from the docker image.

### Checklist

_No response_

### Related

_No response_

[2021-11-08 22:13] worldomonation commented on #57795
@dpasque The docker image used for the current canary is built from scratch over in CircleCI, correct?

[2021-11-08 22:27] #57619 closed, assigned to worldomonation

[2021-11-08 22:35] kwight opened #57799 "Videos UI: Styling and layout across all media widths needs improvement."
Our styling and layout across all media widths needs improvement. Mobile looks generally pretty good, but we move to two columns too soon. Let's get our layouts and proportions making sense first for this issue (so that it can be launched), and we'll more high-fidelity "pixel perfect" details after launch in https://github.com/Automattic/wp-calypso/issues/57793.

| 376px | 765px | 1021px | 1851px

[2021-11-08 22:41] wprhunt commented on #57775
Another two:
4439510-zd
4439749-zd

[2021-11-08 22:44] kwight commented on #57799
@ollie Do you have a preference for a breakpoint at which we go from single to two columns? Maybe 960px? Calypso breakpoints are here: https://github.com/Automattic/wp-calypso/blob/38c37bbfe35b8c741c4e346637987ddc0fb3ab59/client/assets/stylesheets/shared/mixins/_breakpoints.scss#L10

<img width="1055" alt="Screen Shot 2021-11-08 at 2 43 19 PM" src="https://user-images.githubusercontent.com/349751/

[2021-11-08 22:44] worldomonation commented on #57550
I think the outline generally looks good to me!

[2021-11-08 22:47] worldomonation commented on #57439
Monitoring for another 4 days to make two weeks; if no more occurrences I would chalk this up to a random failure.

[2021-11-08 22:50] kwight commented on #57583
@ollierozdarz I just noticed this in the Figma; is the white background button supposed to be the hover of the darker one?

| Standard | Hover |
| --- | --- |
| <img width="488" alt="Screen Shot 2021-11-08 at 2 47 01 PM" src="https://user-images.githubusercontent.com/349751/140830450-2fd6c0b5-92f4-4dcb-90ac-3e8bcb648fe9.png"> | <img width="472" alt="Screen Shot 2021-11-08 at 2 47 09 PM" src="https

[2021-11-08 22:54] kwight commented on #57794
There's a `BlankCanvas` component that might be of help.

[2021-11-08 23:19] katiebethbrown commented on #57780
I have had three reports:

32630994-hc

15611464-hc

32348799-hc

[2021-11-08 23:30] donalirl commented on #57711
Seen in #4440019-zen. The Cover blocks use the `is-style-hover-reveal` class on the Dalston theme. With the latest update, the overlay is faded grey by default. Before, the overlay appeared faded only on hover.

### Before (normal behavior):
![normal hover](https://user-images.githubusercontent.com/30727666/140834472-bc4a4af4-f0dc-4364-9d99-d6137aa9ba7e.gif)

### After (with the bug making it alwa

[2021-11-08 23:34] jordesign commented on #57781
With some checking - can confirm that the file downloads *are* being tracked by the system/API. The issue appears to be in pulling that information *in* to Calypso

[2021-11-08 23:34] dcoleonline commented on #57781
Also in 4440039-zen

They mentioned that their Search Terms went missing too. I'm not sure if anyone else has seen the same.

[2021-11-08 23:41] supernovia commented on #54046
We are seeing an issue similar to this in many, _but not all themes_, as well as with both the Latest Posts Block and Blog Posts Block. Even the RSS feeds sometimes skip Layout Grid content if the excerpt option is set.

Have a look at this test site, or try these steps to duplicate the issue:

** Prep some posts with content inside and outside of a grid **
- New post
- Put some content in the gri

[2021-11-08 23:44] enejb commented on #57192
Would it be possible to just make the mobile modal just be part of the tour experience instead of adding it on top?

It would also be great to have the content of the modal be mobile editor-specific. Since some of the images that we show to the user will not be that helpful since they show the desktop UI which is quite different from the mobile one.

[2021-11-08 23:53] supernovia commented on #54046
Noting one of our volunteers saw this issue when her RSS feed essentially disappeared after switching themes. :/
https://wordpress.com/forums/topic/layout-grid-block-issues/

Since it seemed theme related and the other thread was very tangled, we'd started a new one here to focus on potential issues with the theme and the layout block, and have realized it's happening in many themes and the feeds

[2021-11-08 23:55] supernovia commented on #54046
cc @kwight in case the scope of this changes its priority. Thanks for taking a look.

[2021-11-09 00:34] autumnfjeld commented on #57356
Make new issue for  site_intent=write flag to control who sees the modal. and then close this.

[2021-11-09 00:48] formosattic commented on #57739
+1 4437250-zd-woothemes

[2021-11-09 01:01] mxhassani commented on #54321
Seen here:
zd-4438746
Theme: Exford
Cover block, suggested turning on fixed background setting.

[2021-11-09 01:11] formosattic commented on #57775
+1 21022664-hc

[2021-11-09 01:13] supernovia opened #57803 "Import: Can't see connected Tumblr blogs"
### Quick summary

We have a few reports of users being unable to import Tumblr blogs. They go to the import page, click Tumblr, connect to their account and.... nothing. I confirmed this with my own site and account.

### Steps to reproduce

- **Prep:** Make sure you're logged into tumblr and have a site there with posts to import
- Start at https://wordpress.com/import
- Click _Choose from Full

[2021-11-09 01:54] inaikem commented on #57775
@Automattic/flowpatrol would you be able to help look into this?

Noting 21 user interactions/reports documented up to this point over the past 8 hours.

Cc: @Robertght

[2021-11-09 02:22] InsomniacSabbir commented on #57775
Another instance here: 32364855-hc

[2021-11-09 02:29] fashuvo commented on #57775
Another report at #4440073-zen

[2021-11-09 02:30] InsomniacSabbir commented on #57775
Another one here: 29195223-hc

[2021-11-09 02:34] InsomniacSabbir commented on #57775
Another one : 32358032-hc

[2021-11-09 02:34] TeniCola commented on #57781
Another case in 4439391-zen -- I advised them of the ongoing report, they may ask for a follow-up once this is resolved.

[2021-11-09 03:05] arthur791004 commented on #57779
I'm not sure but I think this one should be `calypso_signup_select_design` when you click `Start with Shawburn` and `calypso_signup_design_preview_select` when you click `Preview Shawburn`. Also, I think we cannot rely on Tracks Vigilante as I found that sometimes I can see the event fired via it but sometimes I can't. So, I think validating the events via Devtool Network Tab would be better.

##

[2021-11-09 03:22] retnonindya commented on #57775
Another one: 19698301-hc

[2021-11-09 03:30] Greatdane commented on #57775
Another one: 32637274-hc

[2021-11-09 03:55] dericleeyy opened #57804 "[Bug]: Stripe link for Payments is showing a TEST subdirectory https://dashboard.stripe.com/test/"
### Quick summary

In Calypso > Tools > Earn > Payments, the payment details link are showing a https://dashboard.stripe.com/test/ instead of https://dashboard.stripe.com/.

The URL seems to be hardcoded here:
https://github.com/Automattic/wp-calypso/blob/f2e6f88ae65c8571bbac21b284c29b48ec987598/client/my-sites/earn/memberships/index.jsx#L440

### Steps to reproduce

1. Go to calypso > tools > ear

[2021-11-09 03:58] JoshuaGoode commented on #57602
This would generally be outside the Atomic platform team's scope and more appropriate for a WPCOM-specific product team.

[2021-11-09 04:24] pauloeaquino commented on #57775
Encountered in 6206254-hc

[2021-11-09 04:36] devNigel commented on #57775
14937183-hc

[2021-11-09 04:46] devNigel commented on #57775
Got another chat: 31670045-hc

In this case, the earnings calculation is showing $0. The user says it used to be around $1.8. Though WordAds Admin shows $0 outstanding amount, it shows revenue earnings that sum up to around $1.8. Not sure if that is related to this bug.

[2021-11-09 04:59] kavyagokul commented on #57775
Also reported in 8289599-hc

[2021-11-09 05:33] mrsjaved commented on #57775
Another report here: 4438400-zd-woothemes

[2021-11-09 05:35] mriyazuddin commented on #57775
32638582-hc

[2021-11-09 05:36] inaikem commented on #57781
Closing in favour of #57782.

[2021-11-09 05:40] inaikem commented on #57782
Closing in favour of #@57781 🙏

@thekingsprojects, please feel free to to the same in the future. There's no problem with you closing an issue in that manner 👍

[2021-11-09 05:40] #57782 closed, assigned to nobody

[2021-11-09 05:40] inaikem commented on #57781
@Automattic/bug-herders, Adding this to our bulk reply board. Interaction links from #57782: 32631632-hc

[2021-11-09 05:41] wprhunt commented on #57775
One more for the pile:
4439865-zd

[2021-11-09 05:41] InsomniacSabbir commented on #57775
Another one here: 27592822-hc

[2021-11-09 06:00] kuropixel commented on #57775
Another one: 32173772-hc

[2021-11-09 06:02] devNigel commented on #57775
Another one: 25474705-hc

[2021-11-09 06:25] kuropixel commented on #57781
22007823-hc for simple site. "No files downloaded" showing in dashboard and stats also none showing for previous months.

[2021-11-09 06:35] ollierozdarz commented on #57583
@kwight the dark button is meant to be the state once a video is played. We had the idea of being able to check off the videos once someone has watched them, so basically applying a special class to the button to show it's been played.

https://d.pr/i/i2Xld5

[2021-11-09 06:36] ollierozdarz commented on #57583
As for Hover, if we haven't implemented anything yet, a simple bump in opacity down to 80% on the white button would be sufficient.

[2021-11-09 06:39] flameslash commented on #57775
Reporting this as well: 32639293-hc

[2021-11-09 06:42] Robertght opened #57812 "Preview of Draft posts returns 404 error"
### Quick summary

Similar to these previous cases:

https://github.com/Automattic/wp-calypso/issues/54107

https://github.com/Automattic/wp-calypso/issues/57011

### Steps to reproduce

In theory, we should be able to replicate by following these steps:

1. Create a draft post.
2.  Try to preview it in a separate window

This doesn't happen on my test site, but I found a few that were affected la

[2021-11-09 06:45] ollierozdarz commented on #57799
@kwight for the breakpoint, I think `1040px` will be nice. Anything smaller starts to get a bit funny.

The design is intended to sit in a centered max-width container of approximately 1160px. If we need to go out to 1280px (from the break-points above), that's Ok too. On XL desktops, this won't give us any issues 🙂

[2021-11-09 06:56] mrsjaved commented on #57775
another one: 4433399-zd-woothemes

[2021-11-09 07:03] Robertght commented on #57775
4440701-zen

[2021-11-09 07:07] Greatdane commented on #57775
4439294-zd-woothemes

[2021-11-09 07:10] edwinho89 commented on #57812
I'm seeing a pattern.. I had about 4 chats having similar issue when they're on `Safari 15.0, Mac OS X 10.15.7`

32601554-hc
32539363-hc
31736030-hc
24532616-hc

Switching to another web browser like Chrome, or updating to the latest OSX appeared to have fixed it.

[2021-11-09 07:15] Greatdane commented on #57775
4439302-zd-woothemes

[2021-11-09 07:35] tyxla commented on #57775
I'm working on a fix.

[2021-11-09 07:35] jromales commented on #57775
+1 30678579-hc

[2021-11-09 07:37] kylemcph commented on #57775
4439034-zd-woothemes

[2021-11-09 07:39] tyxla commented on #57775
Fix here: https://github.com/Automattic/wp-calypso/pull/57814

[2021-11-09 07:56] #57775 closed, assigned to tyxla

[2021-11-09 07:56] tyxla commented on #57775
Just landed this one, it will be in production within the next 15 minutes.

[2021-11-09 08:03] KokkieH commented on #57781
Another in https://wordpress.com/forums/topic/download-stats/?view=all

[2021-11-09 08:05] tyxla commented on #57775
The fix is in production! Please feel free to ping me if you see anything suspicious that's related.

[2021-11-09 08:25] Thelmachido commented on #57775
Thank you for working on this, the same issue yesterday +22237175 -hc

[2021-11-09 08:28] inaikem commented on #57775
Hi everyone 👋 Just a quick note to let you all know @Automattic/bug-herders are starting to work on email replies to affected users reported in this thread.

If you encounter any users still experiencing this issue. Please verify via support session and confirm they have cleared their cache before reporting the interaction here 🙏

[2021-11-09 08:53] KokkieH commented on #57781
Update: The user reported they're back now, and when I checked stats for [another site someone reported the issue on](https://wordpress.com/forums/topic/download-stats-gone/?view=all#post-3757011), I can now see them there as well. So this issue might have resolved on its own.

[2021-11-09 09:05] cpapazoglou commented on #57759
@emmnyc85, can we revise the copy so that it doesn't include the `1 year` so that we can use it both in yearly and monthly subscriptions?

[2021-11-09 09:10] inaikem commented on #57781
Resolved by #57814. Thank you for confirming, @tyxla!

 @Automattic/bug-herders are starting to work on email replies to affected users reported in this thread.

If you encounter any users still experiencing this issue. Please verify via support session and confirm they have cleared their cache before reporting the interaction here 🙏

[2021-11-09 09:10] #57781 closed, assigned to nobody

[2021-11-09 09:35] #55574 closed, assigned to gavande1

[2021-11-09 09:38] cpapazoglou opened #57816 "Marketplace: Translate Extensions title, description, short description"
We need to start translating the title and the descriptions of all the extensions supported in the WPCOM Marketplace in all WPCOM languages.

eg https://woocommerce.com/de-de/products/woocommerce-subscriptions/?quid=7c9602124304c317595e7f60f642ddd8

[2021-11-09 09:39] cpapazoglou commented on #57816
@dlind1 is this an issue you can start wrangling?

[2021-11-09 09:40] ivan-ottinger commented on #57079
The issue is now fixed by https://github.com/Automattic/jetpack/pull/21641.

[2021-11-09 09:40] #57079 closed, assigned to ivan-ottinger

[2021-11-09 09:42] cpapazoglou opened #57817 "Marketplace: add a separate dropdown in Store Admin for marketplace products"
Since marketplace products will be too many, it would be great if we could add a separate dropdown in Store Admin for adding subscriptions for the marketplace and remove the marketplace subscriptions from the default "Product" dropdown.

![SS 2021-11-09 at 11 41 52](https://user-images.githubusercontent.com/12430020/140900400-73036fa2-5554-493e-bd45-9ce328118e26.png)

[2021-11-09 09:42] arcangelini commented on #52728
Fix is set to be released in WordPress 5.9

We have a patch that is being reviewed currently to fix this. I will close the issue when it gets published. D69591-code

[2021-11-09 09:46] cpapazoglou opened #57818 "Marketplace: Add product Licenses to Blog RC"
After issuing a license for each 3d party plugin (eg yoast) it would be great to have these licenses appear in the Blog RC

- [ ] Plugin Name
- [ ] Plugin License

<img width="784" alt="SS 2021-12-09 at 14 54 51" src="https://user-images.githubusercontent.com/12430020/145400284-fc9b86a9-df75-44f0-99e4-d84037065220.png">

Related Convo: p1630972316129000-slack-C029JEQRVRT

[2021-11-09 09:52] #55894 closed, assigned to nobody

[2021-11-09 10:10] #56861 closed, assigned to nobody

[2021-11-09 10:22] emmnyc85 commented on #57759
Good catch. Can the language dynamically adapt based on whether it's a monthly or annual plan, @cpapazoglou?

[2021-11-09 10:30] mmtr opened #57820 "Stats: Sparkline is different between Calypso and WP Admin"
The stats sparkline rendered in Calypso does not fully match the one rendered in WP Admin:

Calypso | WP Admin
--- | ---
<img width="438" alt="Screen Shot 2021-11-09 at 11 25 18" src="https://user-images.githubusercontent.com/1233880/140907689-c26e224c-51eb-4e6d-b532-ce204db1b0aa.png"> | <img width="431" alt="Screen Shot 2021-11-09 at 11 25 24" src="https://user-images.githubusercontent.com/123388

[2021-11-09 10:44] carinapilar commented on #57706
@WunderBart, it's intermittent so it might be tricky to replicate. I experienced this issue on a Simple site, same as the users that reported this, not sure if it happens on Atomic too. It seems we're also all using Chrome.

[2021-11-09 10:56] cpapazoglou commented on #57759
Sure it can, I was just wondering whether we can simplify it. If not, we can code it so that it adapts based on the monthly/ annual switcher value.

[2021-11-09 11:02] arcangelini commented on #56673
It looks like the widget form is supposed to be looking for a PHP that is likely not available from the block editor `$this->wordads_active`.

Let me see if I can find a resolution for this.

[2021-11-09 11:10] dsas commented on #52368
### domain-upsell-nudge diffs
🚢 D69787-code - mark existing sidebar jitms as undismissable
D69689-code - refactor the product list to be accessible from serverside code
🚢 D69554-code - add registered_domain_within scoring rule
D69690-code - add jitm message for upselling domains
TBC - calypso - make sidebar jitms dismissable
TBC - jetpack/wpcomsh? - make sidebar jitms dismissable
TBC - calypso - c

[2021-11-09 11:17] klimeryk commented on #57602
Thanks for the reply, @jmdodd 👍 Just so that I understand the context here better: is this one of those issues that are not possible to solve permanently? In other words, the design of the process/system sometimes necessitates reconnecting it manually like this? If that's the case and we do indeed a tool for it for the foreseeable future, I'll cc @davemart-in to help figure out who would be best o

[2021-11-09 11:17] #57661 closed, assigned to andres-blanco

[2021-11-09 12:55] jmdodd commented on #57602
The reconnection process can require decisions that are not easily encoded for programmatic solution: matching usernames but different user IDs and email addresses, matching different emails but similar usernames, multiple usernames with numbers appended as the customer created test accounts on their WoA site, nothing matches but the customer has informed us that they switched from X.com to Y.com

[2021-11-09 13:13] yansern commented on #57305
This is default browser behaviour. WP or Gutenberg just outputs the link as-is.

You can test this on both Chrome & Firefox.
https://jsbin.com/yeroretoma/edit?html,output

The user should add protocols to the image link. Marking this as Won't Fix.

[2021-11-09 13:13] #57305 closed, assigned to yansern

[2021-11-09 13:17] ivan-ottinger commented on #41326
Turns out that the avatar is missing on other connected services as well; e.g. LinkedIn:

![Markup on 2021-11-09 at 14:13:11](https://user-images.githubusercontent.com/25105483/140930382-dd593c35-891e-4f63-97f0-b686f9c6a7ec.png)

`external_profile_picture` coming from `wpcom/v2/me/connections` is `null` on all services I tried to connect.

[2021-11-09 13:20] StefanNieuwenhuis commented on #56361
@razvanpapadopol, do you have more details/examples on which help links we have to address?

[2021-11-09 13:20] #54868 closed, assigned to BogdanUngureanu

[2021-11-09 13:21] #49537 closed, assigned to BogdanUngureanu

[2021-11-09 13:27] BogdanUngureanu commented on #49537
The menu will be repositioned in the next version of Jetpack CRM (4.6.0).

[2021-11-09 13:43] jamiepalatnik commented on #53626
Another report: 4437827-zd-woothemes

[2021-11-09 13:56] yansern commented on #57493
This seems to affect all dynamic blocks - blocks that requires server-side rendering. Calendar block is also another one of them that is affected.

What seems to be going on is that `rest_validate_object_value_from_schema()` is trying to validate block attributes against schema described in `block.json` files. And in those schema files, attributes related to block visibility do not exist, e.g. `co

[2021-11-09 14:09] vindl opened #57834 "FSE beta: remove W toggle override code"
After the removal of the browsing sidebar in core (https://github.com/WordPress/gutenberg/pull/36194) we no longer need to override the behavior of this button. We should spin up a janitorial PR to clean up our custom code.

[2021-11-09 14:10] #54920 closed, assigned to BogdanUngureanu

[2021-11-09 15:03] dpasque commented on #57079
Hurray, thank you so much!! 🎉

[2021-11-09 15:05] emmnyc85 commented on #57759
I looked a few other similar platforms for how they do this. Only woo is presenting these 'features' front and center. The length (i.e. 1-year) is probably redundant as it should be obvious you will get these items for as long as you are paying. So, we could remove them. If we want to maintain consistency with Woo, though, I think it's fine keeping them - FYI, @cpapazoglou

[2021-11-09 15:07] kerrynicl commented on #57781
Hi everyone 👋 Just a quick note to let you all know @Automattic/bug-herders have finished following up with affected users reported in this thread.

Thanks for all the reports!

[2021-11-09 15:09] sixhours commented on #57785
I compared the two lists with a spreadsheet diff and confirmed that all of the verticals listed in the spreadsheet are also listed in the current API.

Knowing this, I'll add a new column to the current API's source spreadsheet with priority information from the spreadsheet. Then we can look up verticals by priority rather than just ID.

[2021-11-09 15:56] sixhours commented on #57556
After chatting about it with the team, we're not going to add priorities to the API at this time; these values will probably change too frequently to keep the data current.

[2021-11-09 15:56] #57556 closed, assigned to nobody

[2021-11-09 15:57] sixhours commented on #57785
We're not going to add priorities at this time (see https://github.com/Automattic/wp-calypso/issues/57556#issuecomment-964285398), but the current API contains all the values from the secondary verticals list in the given spreadsheet, so it's safe to use. Marking this as resolved.

[2021-11-09 15:57] #57785 closed, assigned to sixhours

[2021-11-09 16:04] klimeryk commented on #57780
Thanks for creating the issue and the detailed description, @msilbers! It seems I misunderstood the nature of the issue in the beginning, but it's clearer now. I'm looking into it right now, as the stats after the weekend clearly show there's been some sort of change that triggered this behaviour (and I can easily reproduce it).

[2021-11-09 16:19] klimeryk commented on #57780
@mmtr, I think your PR https://github.com/Automattic/wp-calypso/pull/57642 introduced this regression, could you please have a look? This is a high priority issue and the number of affected users (and HEs) are rising 🙇‍♂️

[2021-11-09 16:21] MaggieCabrera commented on #57739
781-gh-Automattic/wpcomsh should fix this, as far as I know this only fails on Atomic sites.

[2021-11-09 16:33] #57780 closed, assigned to mmtr

[2021-11-09 16:34] arcangelini commented on #56673
OK, since the widget customizer is not able to grab the public variables, the function that determines if wordads is enabled automatically returns `true`.

`! defined( 'NOADVERTS' ) && ! defined( 'NOADSUPGRADE' ) && 1 != get_option( 'permanent_noadverts' )`

I have been trying to use some of the newer methods for determining if wordads is enabled, but when I try to grab the blog-id I continue to r

[2021-11-09 16:34] mmtr commented on #52291
Reopening, since we had to revert https://github.com/Automattic/wp-calypso/pull/57642 because of an unintentional regression.

[2021-11-09 16:36] autumnfjeld opened #57837 "Headstart annotations are creating a bunch of “Attempt block recovery” errors in the editor when applied to a site."
## Description
Using this ticket for Blogger Pod work accounting at the moment.   Not yet clear if Ganon  will dive in and fix the issues.  Please evolve this issue description as appropriate.

@alaczek reported [here](p1635979703466600-slack-C02A76B714Z) that headstart annotations are creating a bunch of “Attempt block recovery” errors in the editor when applied to a site.

A number of folks are

[2021-11-09 16:39] obenland commented on #52511
@Copons I'm not sure this affects a ton of sites, but might be a small fix that could be a good wpcomsh onboarding task

[2021-11-09 16:43] blackjackkent commented on #57799
Actually it looks like the standard set of breakpoints are now coming from Gutenberg ( https://wpcalypso.wordpress.com/devdocs/docs/coding-guidelines/css.md#media-queries ) which is slightly different numerically -

[code]

@ollierozdarz are you OK with 1080 instead for that break?

[2021-11-09 16:45] mmtr commented on #57780
Thanks for the ping @klimeryk. It was indeed caused by that PR, so I reverted it since it as a low priority change. The issue should be fixed now. Will investigate what was the underlying issue afterwards.

[2021-11-09 16:57] rachelwinspear opened #57838 "Pay with PayPal Legacy Widget - Create new product within widget area"
### Quick summary

When trying to add a Pay with PayPal Legacy Widget in the sidebar, it was not possible to create the new product directly, but only possible to select already created products from a dropdown.

User has to create the Pay with PayPal Block within a page to be able to then add it as a widget.

### Steps to reproduce

1. Create a Pay with PayPal Block within a page - save
2. Go to

[2021-11-09 17:15] klimeryk commented on #57780
Thanks for the quick revert! ❤️

[2021-11-09 17:19] kwight commented on #57583
Ah! Got it.

Great – so the 80% would be the regular, and the 100% would be the hover? (So the button gets brighter on hover.)

[2021-11-09 17:21] kwight commented on #54321
Hm, not sure – sounds like it could be a Photon thing (if noone wants to manually change every theme's media width).

[2021-11-09 17:23] kwight commented on #54046
@Automattic/quality-squad in case this needs further triage or prioritization.

[2021-11-09 17:24] jinnypark opened #57841 "[Bug]: Reader embeds a rogue Crowdsignal poll"
### Quick summary

A link to an inappropriate Crowdsignal poll was included in the Reader view of a user’s blog post, on a WP.COM site.

The user did not create that inappropriate poll. They only have Crowdsignal surveys at the end of the blog post, like this one: https://redeemedhyssop.org/2021/11/08/united-in-a-divided-world/

We've checked post history which did not include any trace of the off

[2021-11-09 17:32] zaguiini commented on #57484
There are several problems right now:
- The Gutenberg iframe attempts to make a request to the .wordpress.com subdomain. Unfortunately, because we've mapped a custom domain (ex. .blog), it is now the site's primary domain. As a result, the request is redirected from https://example-site.wordpress.com/?_wp-find-template=true to https://example-site.com/?_wp-find-template=true, which turns into a cr

[2021-11-09 17:43] worldomonation opened #57842 "Playwright: add `test/e2e/cookies` to .gitignore."
### Details

Add the `test/e2e/cookies` to `.gitignore` to avoid accidentally committing cookie files.

### Checklist

_No response_

### Related

_No response_

[2021-11-09 17:46] sixhours commented on #57789
Work started in D69780-code

[2021-11-09 17:51] worldomonation opened #57844 "Playwright: apply the retry mechanism to posts to `GutenbergEditorPage.publish`."
### Details

Occasionally (like in TeamCity ID 6954527) there are issues where the editor states the post is published, but when visiting the published post link the `Oops! That page can't be found.` error is shown.

The bug is outlined in https://github.com/Automattic/wp-calypso/issues/57503.

In an attempt to correct for this inconsistency of the WPCOM/Calypso backend in the e2e test, apply the

[2021-11-09 17:55] #57842 closed, assigned to worldomonation

[2021-11-09 17:56] #57768 closed, assigned to worldomonation

[2021-11-09 18:11] sajmes commented on #57711
Another report here: 32646497-hc

Text color was also affected but using the highlight option in the block settings allowed us to set the text color properly.

[2021-11-09 18:18] #57771 closed, assigned to worldomonation

[2021-11-09 18:22] #57662 closed, assigned to andres-blanco

[2021-11-09 18:25] worldomonation opened #57845 "Playwright: apply the retry mechanism to posts to `CloseAccountFlow`."
### Details

`CloseAccountFlow` occasionally enters a state where despite the purchases on the account having been cancelled, still thinks there are active purchases on the account.

See TeamCity ID 6956467.

### Checklist

_No response_

### Related

_No response_

[2021-11-09 18:40] kerrynicl commented on #57812
Here's another report - ZD- 4439905

[2021-11-09 18:51] Addison-Stavlo commented on #57214
Hopefully we wont have to eat too much editor loading in the end.  Other navigation patterns are being explored, such as this WIP PR for a mosaic view selection interface for templates: https://github.com/WordPress/gutenberg/pull/33770

[2021-11-09 18:55] worldomonation opened #57847 "Playwright: adjust expectation when navigating to WordPress.com dashboard in Signup: WPCC spec."
### Details

Currently test method calls this:

[code]

In TeamCity ID 6956467 a failure occurred where the `networkidle` never fired when navigating despite the home dashboard having been loaded.

In `LoginPage` a different, more reliable wait is used:

[code]

where the `landingURL` is a URL to wait on.

### Checklist

_No response_

### Related

_No response_

[2021-11-09 19:07] enejb opened #57848 "[Bug]: Single plugins header no back button"
### Quick summary

Currently, when you visit a single plugins page the back button doesn't exit any more.
See https://wordpress.com/plugins/akismet

### Steps to reproduce

Visit https://wordpress.com/plugins/akismet

notice that there is no back button in the header any more.

### What you expected to happen

There should be a back button in the header that takes you back to all plugins view.
htt

[2021-11-09 19:15] jinnypark commented on #57841
Noting additional information from the user in 4439330-zd-woothemes:

- The user first noticed this issue on Monday (11/8)
- The link to the offending poll was on every post that had the short link
- The user found a temporary fix by pasting as plain text when copying the short code from Crowdsignal to WordPress blocks.
- The link only showed up in the Reader, not on their website.

[2021-11-09 19:26] worldomonation opened #57851 "Flaky E2E: Click and visit first support article"
### Spec file

wp-support__popover-spec.ts

### Suite or step

Click and visit first support article

### Framework

Playwright

### Logs

Logs:
[code]
TeamCity ID: 6956799

[2021-11-09 19:28] worldomonation commented on #57851
Despite attempt in https://github.com/Automattic/wp-calypso/pull/57798 to use `Locator` API for better reliability _and_ stress testing the code multiple times, the intermittent failure reared its head soon after the change was merged into `trunk`.

At this point, several options:

- discard the test.
- quarantine the test.
- use a different keyword.

[2021-11-09 19:32] cometgrrl commented on #57711
This issue is tracking an issue in another repository. All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the outside repository.

[2021-11-09 19:37] kwight commented on #57568
Looks like we already have this covered client-side: https://github.com/Automattic/wp-calypso/blob/bddde839104ca200c2aae7a1a69a2a4d3264034e/client/my-sites/customer-home/cards/education/blogging-quick-start/index.jsx#L45

[2021-11-09 19:38] #57568 closed, assigned to nobody

[2021-11-09 19:39] kwight opened #57852 "Videos UI: Test with non-English locales and RTL."
While launching EN-only, we'll need to verify videos UI behaviour and content with other locales (and RTL) for when translations are complete.

[2021-11-09 19:48] paxblueribbon commented on #57711
reported in zd-4439451

[2021-11-09 19:50] autumnfjeld commented on #56567
Just adding a little housekeeping comment here:
@alaczek will take the lead on defining the theme categories and organizing that in theme taxonomy.  Once that is done @p-jackson can finish the dev work to plug the new categories into the Design Picker logic and UI.

![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?tran

[2021-11-09 19:58] carinapilar opened #57853 "Barnsbury: Doesn't Adjust Color Based on Background"
### Quick summary

Barnsbury doesn't adjust the text color when you have a dark/light background, as other themes do.

### Steps to reproduce

1. Activate Barnsbury
2. Create a new page, add a Cover block with text inside it
3. Choose a dark color on the Custom Color option as the Cover block background

### What you expected to happen

For the text inside the Cover block to be readable, as it pro

[2021-11-09 20:02] katiebethbrown commented on #52182
Another report in 31340801-hc.

I explained how to set browser zoom back to 100% and that allowed them to crop the image without error.

[2021-11-09 20:05] autumnfjeld opened #57855 "Blogger Flow: only show "First post published" modal for the Write Flow, e.g. site_intent=write"
## Description
The "First post published" congratulatory modal should only show to users who have chosen the Write flow.   More specifically, this modal can be conditionally show via the  `site_intent=write` flag.

![image](https://user-images.githubusercontent.com/5665959/140996452-4afbfad5-6a9c-4d70-ab03-bde57f03ff3d.png)

## Dev tasks
- [ ] use the `site_intent` flag to ensure the "First post p

[2021-11-09 20:07] chad1008 commented on #56468
Sorry for the delayed response @kuropixel, and thank you for the additional info. I am able to reproduce it on the customer's site in both widgets.php AND the customizer, but _only_ on that site.

As @kuropixel notes, Text Widgets are no longer an option under Legacy Widgets when adding a new one, so I can't fully test on a site that doesn't _already_ have text widgets in place.

Looking at the si

[2021-11-09 20:08] autumnfjeld commented on #57356
Closing this issue.  Opened https://github.com/Automattic/wp-calypso/issues/57855 to handle the `site_intent=write` task.

[2021-11-09 20:08] #57356 closed, assigned to arthur791004, roo2

[2021-11-09 21:02] jp-imagines commented on #57812
Another report in 4438942-zd.

[2021-11-09 21:07] #55306 closed, assigned to Rolilink, allilevine

[2021-11-09 21:09] autumnfjeld opened #57856 "[Bug]: Input field at wordpress.com/start is wrongly positioned at viewport widths < 960px"
### Quick summary

At wordpress.com/start:
*  Input field for domain name is positioned oddly at screen widths less than 960px (or around there).
* Back link and text are also positioned oddly

![image](https://user-images.githubusercontent.com/5665959/141003892-62e44798-c66f-44fd-a5b0-115553fae12c.png)
![image](https://user-images.githubusercontent.com/5665959/141003999-331b8a92-ca9b-46a3-beb9-ac

[2021-11-09 21:10] AtrumGeost commented on #57711
Got another report of a website with the Dalston theme having issues with the `is-style-hover-reveal` cover block style:

4441395-zd-woothemes

We have another issue possibly related:

p9cu9o-34L-p2

[2021-11-09 21:25] blackjackkent commented on #57799
In working on this, I also found that while the video content looks fine in a single column up to 1080px, the header content ("Watch five videos..." etc.) ended up with too much empty space at any size above roughly `$break-medium` (782px). In the PR I just created, I set different breakpoints for the header and video content accordingly.

I've added screenshots for all these cases to the PR at ht

[2021-11-09 21:52] alaczek commented on #57837
Steps to replicate:
1. Activate Payton or Kerr theme on your test site/sandbox (these are not launched so do this from the command line)
`wp theme activate pub/payton --url=[mytestsite].wordpress.com`
2. Run headstart on the site. For this either go to blog RC, or run this command:
`wp headstart run --url=[mytestsite].wordpress.com --user=myusername`
3. Go to the site and edit the generated home p

[2021-11-09 21:56] kwight opened #57859 "Videos UI: The desktop top links should be at the bottom on mobile."
The links that are at the top of the desktop mockups should be at the bottom for mobile:

<img width="743" alt="Screen Shot 2021-11-09 at 1 54 26 PM" src="https://user-images.githubusercontent.com/349751/141011267-c9a5eb56-a530-44e2-a6e6-ddcb40ae0c35.png">

[2021-11-09 21:59] kwight opened #57860 "Videos UI: The player and video sections have no side margin."
There should be a consistent margin all down each side on mobile.

| Current | Mockup |
| --- | --- |
| <img width="438" alt="Screen Shot 2021-11-09 at 1 57 05 PM" src="https://user-images.githubusercontent.com/349751/141011620-0594166c-1438-470e-a511-5f28d250b118.png"> | <img width="494" alt="Screen Shot 2021-11-09 at 1 57 19 PM" src="https://user-images.githubusercontent.com/349751/141011632-9ca

[2021-11-09 22:03] autumnfjeld commented on #57779
Yes, you are correct.  I meant calypso_signup_select_design

[2021-11-09 22:04] blackjackkent commented on #57663
I made a post on Martech's P2 at pau2Xa-3Bb-p2 asking for their feedback on this change. I've opened a diff at D69835-code which should implement the change, but it should not be merged until we've heard back from MarTech appropriately.

[2021-11-09 22:08] kwight opened #57864 "Videos UI: The gutter between the video and sections is too big."
The gutter between the player and video sections should be much smaller, proportionally to the side margins.

| Current | Mockup |
| --- | --- |
| <img width="1257" alt="Screen Shot 2021-11-09 at 2 07 18 PM" src="https://user-images.githubusercontent.com/349751/141012638-c16a92aa-6054-4424-9757-36b5420aa03c.png"> | <img width="1275" alt="Screen Shot 2021-11-09 at 2 03 18 PM" src="https://user-imag

[2021-11-09 22:11] kwight opened #57865 "Videos UI: Play buttons are very big at wider single-column widths."
Play buttons are very big at wider single-column widths (we stay single-column until 1080px to not crowd the player and sections side-by-side).

<img width="1185" alt="Screen Shot 2021-11-09 at 2 09 44 PM" src="https://user-images.githubusercontent.com/349751/141013057-53230677-71e4-4e92-8073-810d5fe5cae5.png">

[2021-11-09 22:13] kwight commented on #57865
@ollie I'm wondering if maybe over a certain width, we make the button centered and `max-width: 40%` or something?..

[2021-11-09 22:17] msilbers commented on #53575
Just had this issue with a customer in 32654003-hc using the Rowling theme. It's also happening here on my test site using Canape, seems to be unrelated to which theme is being used: https://melissasgutenbergteststuff.blog/new-blocks/

I have 48 published posts and Infinite Scroll is enabled. The customer has 111 and it will not load more at all, but does seem to try.

With some digging in Slack,

[2021-11-09 22:20] autumnfjeld commented on #57779
Thank you so much for investigating the Tracks Vigilante @arthur791004 !!

I did another audit, this time watching in the console.  I observed all the events firing, so that was good news.  I do have some requests for adding props:

- [ ] Please add intent prop to **every event** that is firing in flow=setup-site.   This will make it 100% clear to people where events are firing and it will be espe

[2021-11-09 22:21] worldomonation opened #57866 "Task: move skipped and intermittently failing tests to quarantine build"
### Details

In a followup to #57619, move the categories of tests mentioned above to a quarantined build.

### Checklist

_No response_

### Related

_No response_

[2021-11-09 22:24] allilevine commented on #57461
Fixed by https://github.com/Automattic/wp-calypso/pull/57561

[2021-11-09 22:24] #57461 closed, assigned to Rolilink

[2021-11-09 22:24] kwight opened #57867 "Videos UI: 1160px content width needs to match the Figma mockup."
The Figma mockup was designed at a content width of 1160px (content being the player + gutter + video sections). Let's match our layout proportions (margins, padding) to the mockup at that width.

[2021-11-09 22:25] msilbers commented on #53575
Also reported in 32653959-hc using the Oxygen theme

[2021-11-09 22:27] kwight opened #57868 "Videos UI: 375px content width needs to match the Figma mockup."
The Figma mobile mockup was designed at a content width of 375px (with a 20px margin down the sides). Let's match our layout proportions (margins, padding) to the mockup at that width.

[2021-11-09 22:29] kwight commented on #57794
Closed with #57840.

[2021-11-09 22:29] #57794 closed, assigned to andres-blanco

[2021-11-09 22:32] cuemarie commented on #57711
Another possible instance here: 30507333-hc

[2021-11-09 22:34] kwight commented on #57860
Closing in favour of #57868.

[2021-11-09 22:34] #57860 closed, assigned to nobody

[2021-11-09 22:34] kwight commented on #57864
Closing in favour of #57867.

[2021-11-09 22:34] #57864 closed, assigned to nobody

[2021-11-09 22:38] kwight opened #57869 "Videos UI: Verify behaviour on Firefox, Safari and Edge."
We've had reports in the call for testing that browsers other than Chrome might have some issues – let's verify the big (other) three.

[2021-11-09 22:39] rinazrina commented on #53575
I got another one here 31525068-hc using Escutcheon theme.
Follow up: 4443027-zd-woothemes

[2021-11-09 22:45] kwight opened #57871 "Videos UI: Consider an additional video section button for the related area of Calypso."
For videos about themes, it could be nice to give users another button (or link) to the appropriate section of our admin UI. Proposed in pdgK6S-jM-p2#comment-647.

![annotation-on-2021-11-09-at-14-02-42](https://user-images.githubusercontent.com/349751/141017538-7aed8b83-6b0e-4973-b195-62c6dbc4dc8b.png)

[2021-11-09 22:45] kwight commented on #57871
cc/ @ollierozdarz @ianstewart

[2021-11-09 22:54] kwight opened #57873 "Videos UI: When one video finishes, it does not autoplay the next video."
As a video ends, we should automatically open the next video section and play its video; A user should be able to start the first video and watch all of them straight through with no interaction.

[2021-11-09 23:53] arinoch opened #57876 "Atomic users' usernames/display names don't update when they change them on WordPress.com."
### Quick summary

If a user name or display name is changed in the WordPress.com profile, that change is not carried over to atomic sites. The change currently only reflects on simple sites.

### Steps to reproduce

1: Create a test account, or use a test account you don't mind changing the info for.
2: Create a site with the features required to make it atomic.
3: View people/team/yoursite.wpcom

[2021-11-10 00:03] ollierozdarz commented on #57799
@kwight yep, sounds great.

[2021-11-10 01:18] retnonindya opened #57880 "FEEDBACK REQUEST: FSE beta -- Activity log"
Hi, awesome FSE team! This is not a bug report; more a feature request -- and this is not super urgent, so feel free to take your time.

Now that we have FSE on WordPress.com and we have 10% of our customers having it, we can expect to see the numbers increasing as we improve FSE. With that in mind, can we have FSE-related log on:

- Blog RC (internal tool, for HEs), or...
- Jetpack Activity (user

[2021-11-10 01:46] jerrysarcastic opened #57881 "Feature Request: Add support for Youtube Shorts embeds"
### What

Add embed support for YouTube Shorts

### Why

This is a new format that YouTube seems to be offering.  As noted here it's still in beta and I do not see an oembed or iframe option available at this time: https://support.google.com/youtube/answer/10059070

Opening this now as a placeholder so we can explore how support can be added (I note they already support Tumblr out of the gate for

[2021-11-10 02:03] bluefuton opened #59336 "Jetpack Search: poor experience switching from Simple to Atomic on WP.com Business plan"
### Steps to Reproduce

1. On WordPress.com, create a new test site on the Free plan using a *.wordpress.com domain. Subscribe to a Jetpack Search plan via http://wordpress.com/jetpack-search.
2. Update your site to the Business plan. If your theme doesn't have a search box on the homepage, edit it and add one.
3. Navigate to your site and try a search. Instant Search should be already enabled and

[2021-11-10 02:51] katiebethbrown commented on #52182
Another report in 19941435-hc

Adjusting zoom allowed them to crop successfully.

[2021-11-10 04:24] alaczek commented on #56567
Yes! I have been thinking about this past couple of days and I came up with a proposal.

![image](https://user-images.githubusercontent.com/4550351/141049317-080221cd-2a8c-44e9-8137-12da97c3c754.png)

My guiding principle here was to put a theme in a category that most closely matches the screenshot, to align with customer expectations (so, for example, TwentyTwenty is in the Business category onl

[2021-11-10 05:13] retnonindya opened #57884 "Image Block: Text Over Image feature behaves unexpectedly (the opacity on the Cover block bumped to 100%)"
### Quick summary

When activating Text over Image feature in Image block, the block suddenly turned to Cover block (at this point, I feel this is part of the workaround/expected) and the block turned to black color (which causing confusion)

### Steps to reproduce

1. Create a page/post, add Image block and upload/insert image

2. Click "Text over Image" on the block toolbar
![Screenshot 2021-11-

[2021-11-10 05:23] reginabally opened #57885 "Notifications: Send notificatons on new comments pending to be approved"
### What

Please consider sending notifications when there are new comments pending to be approved.

### Why

It was reported in 4431963-zd-woothemes that the user relied on the Notifications tab in the WordPress mobile app a lot to reply to the comments on their site. They might miss the comments that are pending to be approved and would be great if they can see the notification on these pending

[2021-11-10 06:07] ollie commented on #57865
Sounds good but I'm not sure about centering it, it breaks away from the flow of the text and me personally might miss it, on the other hand it might look silly on the left. 🤔

[2021-11-10 07:09] Nic-Sevic commented on #55306
@allilevine Sorry I didn't respond when you tagged me! For some reason I only got a notification when the threads were closed. I think saying that "wpcomstaging can't be changed" works just fine, thank you for changing it!

[2021-11-10 07:28] KokkieH commented on #57881
Adding that we received the request for this [in the forums](https://wordpress.com/forums/topic/cant-embed-youtube-shorts-anymore/?view=all)

[2021-11-10 07:33] chriskmnds commented on #57192
Thanks for the comment @enejb! For the moment, we decided to not align the two this way. So we'll be keeping the banner as-is design-wise. There may be some logic changes on when the banner shows, etc. but will close this issue for now.

@poligilad-auto for more :-)

[2021-11-10 07:33] #57192 closed, assigned to nobody

[2021-11-10 07:55] KokkieH commented on #57881
A bit more detail:

There are two links for a Shorts video. The Youtube app, where one creates a Short, provides a sharing link structured like this:

https://youtube.com/shorts/uniqueCode

If you view a Short on a desktop browser, the link is similar to a regular Youtube video:

https://www.youtube.com/watch?v=uniqueCode

The latter embeds normally in the block editor, but the link provided by th

[2021-11-10 07:59] kosiew commented on #57634
Hi @mrsjaved ,

Thanks for reporting this.

We do not allow SVG upload due to security risks.

Here are some related references:

https://blog.online-convert.com/svg-file-and-its-danger/

p9zhOE-Ka-p2#comment-5775

If Customer makes a similar request, please advise of the risk and dissuade them or inform them of the necessary safety precautions to sanitize SVGs.

Closing.

[2021-11-10 07:59] #57634 closed, assigned to nobody

[2021-11-10 08:10] #57398 closed, assigned to ivan-ottinger

[2021-11-10 08:12] kosiew commented on #57651
Hi @philnick206 ,

Thanks for reporting this and the detailed steps.

I however could not reproduce this on a Simple site - https://wp20180808.wordpress.com/wp-admin/post.php?action=edit&post=2591

Closing this. Please reopen if you have additional context to add on reproducing the issue.

[2021-11-10 08:12] #57651 closed, assigned to nobody

[2021-11-10 08:14] kosiew commented on #57654
Hi ,

Thanks for reporting this and advocating for Spanish users.

[2021-11-10 08:25] ivan-ottinger commented on #57398
Successfully deployed to WPCOM.

[2021-11-10 08:30] arthur791004 commented on #57702
Hmmm...I'm not sure it's a bug or not. In this flow, the Welcome Tour shows when you land on the editor. Should we need to hide the modal after "first post is published" modal appears and show it again after "first post is published" modal is close?

I just found another case if you go through Blogger Flow and pick the “Choose the design” as the starting point, the Welcome Tour shows suddenly afte

[2021-11-10 08:35] cpapazoglou opened #57891 "Plugin Details: Add guard to the installing plugin page to avoid users from non-atomic plans to install."
Let's add a guard for users directly hitting `/marketplace/[pluginSlug]/install/[siteSlug]` to avoid installing plugins to sites with lower than Business plans

[2021-11-10 10:40] alshakero commented on #35140
Fix is ready in D69818-code

[2021-11-10 11:34] fgiannar commented on #57602
Atomic Jetpack **user** connections are already healing themselves when the following conditions are met:
- An existing user token on WPCOM
- The remote user email matches the WPCOM user email

p1HpG7-bKn-p2 - Self-healing user connections on WoA sites

The most popular cases where self-healing is **not** successful are:
- The domain is not pointing to our servers, aka it's not actually a WoA site

[2021-11-10 11:49] #55577 closed, assigned to WBerredo

[2021-11-10 12:04] yansern commented on #57339
Unable to replicate this issue as I believe https://github.com/Automattic/jetpack/pull/21549 has fixed it. Closing this issue.

[2021-11-10 12:22] yansern commented on #57489
Calypso preview modal has been removed in favour of Gutenberg's native preview and therefore this is no longer fixable.
User is advised to use the "Preview In New Tab" option instead.

[2021-11-10 12:22] #57489 closed, assigned to nobody

[2021-11-10 12:30] ivan-ottinger commented on #41326
Alright. This was a bit of a rabbit hole, but: [Instagram's API](https://developers.facebook.com/docs/instagram-basic-display-api/reference/user) doesn't provide a way to fetch profile picture unfortunately. We can only get the fields like username, ID, etc..

I have created a PR (https://github.com/Automattic/wp-calypso/pull/57900) that displays a Grid icon like this:
![Markup on 2021-11-10 at 13

[2021-11-10 12:40] sophiegyo commented on #54201
Report in 32664554-hc

User browser: Chrome 95.0
User OS: Windows 10

[2021-11-10 12:42] arcangelini commented on #56673
There is a patch that is being reviewed and should be deployed soon that fixes this - D69860-code

[2021-11-10 13:24] kerrynicl commented on #57812
Another report - ZD 4444438

[2021-11-10 13:31] arcangelini commented on #57304
As an encouragement, we have an update coming to Gutenberg that will extend the preview menu - https://github.com/WordPress/gutenberg/pull/36119

Once that is approved and published we can adjust the preview options with greater control and build a solution that is much more functional.