[2021-04-29 20:36] michaeldcain commented on #51832
I believe this is related to c/lSOH1Vyi-tr. I'll add it to the Shilling backlog to talk about it in our next planning call.

[2021-04-29 21:59] #51233 closed, assigned to StefanNieuwenhuis, razvanpapadopol

[2021-04-29 22:46] carolinacsousa opened #52432 "Mouse pointer changing when gallery block added"
#### Steps to reproduce

1. Starting at URL: https://thetestsite482116993.wordpress.com
2. https://testingdemosforothersin2018.wordpress.com/ (test site by HE)
3. https://wp202104.blog/20-2/ (test site 2 on Business plan)

#### What I expected
Regular mouse pointer.
#### What happened instead
It changes to a clickable pointer as if the content was clickable when it isn't.
#### Browser / OS version

[2021-04-29 23:31] bluefuton commented on #50680
I think it'd probably be best not to offer Concierge at all if there aren't slots in reasonable daytime hours.

[2021-04-29 23:55] jeyip commented on #50659
Potential fix D60384-code that changes migration code to adjust theme paths on atomic transfer

[2021-04-30 00:41] bluefuton commented on #52405
Thank you @Aurorum! We'd really appreciate your help on those :)

It's probably easiest if I give you some WordPress.com credits on an account you already have - just let me know the username and I'll arrange it for you.

[2021-04-30 00:44] #52049 closed, assigned to roo2

[2021-04-30 02:54] Aurorum commented on #52405
Thank you! My WordPress.com username is `torres126`.

[2021-04-30 05:00] bluefuton commented on #52405
Thanks @Aurorum! I've added 100 free credits for you, and you should be able to upgrade via https://wordpress.com/jetpack-search.

[2021-04-30 06:08] simison commented on #49178
These titles are still present and still redundant. :-)

[2021-04-30 06:32] cpapazoglou commented on #51435
~~Recent discussion p9dueE-2LC-p2 .~~

[2021-04-30 07:18] cpapazoglou commented on #49178
This PR should resolve it https://github.com/Automattic/wp-calypso/pull/52438

[2021-04-30 10:11] scinos opened #52442 "E2E: Flaky "Can Correctly Apply Coupon" in test/e2e/specs/wp-plan-purchase-spec.js (failure rate 30%)"
Full Spec path: "[WPCOM] Plans: (desktop): Viewing a specific plan with coupon: @parallel @jetpack > Can Correctly Apply Coupon"
[Test history](https://teamcity.a8c.com/test/7199180902701457093?currentProjectId=calypso_WebApp&branch=%3Cdefault%3E)
Failure rate: 30% (61 failed, 147 successful)

#### Failing spec details

From https://teamcity.a8c.com/buildConfiguration/calypso_RunCalypsoE2eDesktopT

[2021-04-30 10:14] scinos opened #52443 "E2E: Flaky "Can comment on the latest post and see the comment appear" in test/e2e/specs/wp-reader-spec.js (failure rate 22%)"
Full Spec path: Reader: (desktop) @parallel: Log in as commenting user: Leave a comment on the latest post in the Reader > Can comment on the latest post and see the comment appear"
[Test history](https://teamcity.a8c.com/test/1228284873185705986?currentProjectId=calypso_WebApp&branch=%3Cdefault%3E)
Failure rate: 22% (48 failed, 167 successful)

#### Failing spec details

https://teamcity.a8c.com/

[2021-04-30 10:51] KokkieH opened #52444 "Reader: Unable to add sites to a list using URL"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/read/list/new
2. Create a new list or edit an existing list
3. Click on the Sites tab
4. Type/paste the URL of a site you're following, that you want to add to the list in the search box
5. Click the Follow {site URL} link that appears

#### What I expected

For the site to be added to the list

#### What happened instead

I see th

[2021-04-30 11:34] yansern commented on #50430
This PR https://github.com/Automattic/wp-calypso/pull/52434 provides the fix and the full analysis of the problem. :)

[2021-04-30 11:48] yansern commented on #50431
Initially attempted in https://github.com/Automattic/wp-calypso/issues/50431.
Fixed in PR https://github.com/Automattic/wp-calypso/pull/52056.

[2021-04-30 11:48] #50431 closed, assigned to nobody

[2021-04-30 11:52] yansern commented on #52363
Fixed in https://github.com/Automattic/wp-calypso/pull/52433.

[2021-04-30 11:52] #52363 closed, assigned to nobody

[2021-04-30 12:17] daria2303 commented on #47992
I got this again, The official facebook sharing button not working, checked on my test atomic site - got the same
28673247-hc
3950434-zd-woothemes

[2021-04-30 12:21] aleone89 commented on #47992
I've just had a report of this here hc-24253342 on a simple site, the Facebook button as above wasn't showing.

[2021-04-30 12:59] galakhyati opened #52445 "Nav Unification: Access to the widgets showing on WP-admin Dashboard page"
There are multiple widgets showing by default as well as from plugins on the WP-Admin dashboard, that the users have been lost access since we've released the Nav Unification.

What:
It would be great to show the widgets that make most sense somewhere on our new dashboard as well as allow the plugins to show the widgets from them too. Link in case of users using LearnDash ProPanel plugin which sho

[2021-04-30 13:28] #49178 closed, assigned to tjcafferkey, cpapazoglou

[2021-04-30 13:48] michaeldcain opened #52449 "Checkout: audit and consolidate product sub-label logic"
In #52308#issuecomment-827985661, it was pointed out that a decent amount of conflicting logic has been introduced to handle product sub-labels in Checkout. We should attempt to untangle and streamline some of this before it becomes unmanageable.

I took screenshots of most of the Checkout variations (excluding P2 plans) that I could think of: https://cloudup.com/czHrGpBbDZJ

- [WP plans:](https:/

[2021-04-30 14:40] michaeldcain commented on #52449
We might be able to make other sub-label improvements while we're at it to help cut down on unintentional duplicate purchases. For instance, including the domain expiration as a sub-label line item: p1619792504234500-slack-C096PD42U

[2021-04-30 14:42] michaeldcain commented on #52449
/cc @saygunnyc, since we've talked about how to display more helpful information in Checkout

[2021-04-30 14:50] daria2303 commented on #49997
User came back unhappy about lack of solution, I followed up 3951216-zd-woothemes

[2021-04-30 14:51] DavidRothstein commented on #52449
We used to do something similar to that: https://github.com/Automattic/wp-calypso/pull/29266

It may have gone away with the new checkout, though?  I always felt it needed some more design work to improve the clarity anyway, though.

[2021-04-30 14:54] daria2303 commented on #47992
another one 3951216-zd-woothemes

[2021-04-30 15:31] #46934 closed

[2021-04-30 15:51] #52424 closed, assigned to nobody

[2021-04-30 16:02] Aurorum commented on #52405
Thank you! PR to resolve this in #52454. :)

[2021-04-30 16:06] RealCarFax opened #52455 "Embed Block: Facebook Embeds are not displaying"
#### Steps to reproduce

1. Open a new page or post
2. Paste a Facebook post link into the body of the page or post

#### What I expected
The embed block will generate, it should show the post (video, image, text, etc).

#### What happened instead
The post does not display embedded on the site, the area is blank.

#### Browser / OS version
All that I have tested - Firefox 88.0 (64-bit), Safari 14.

[2021-04-30 16:20] Gilmoursa commented on #52455
another report in #28881839-hc

[2021-04-30 16:21] katiebethbrown commented on #52455
Noticed some console errors on the support doc:

<img width="1159" alt="FBembedconsoleerrors" src="https://user-images.githubusercontent.com/42279181/116724396-d8f7a500-a99d-11eb-862f-6800854f61a4.png">

[2021-04-30 16:42] TheSteveK commented on #52455
Another user report 28832836-hc

[2021-04-30 16:42] #49369 closed, assigned to sirbrillig

[2021-04-30 16:45] JoshuaGoode commented on #52455
Reproduced on Atomic.

[2021-04-30 16:45] sirbrillig opened #52456 "Checkout: Tax contact field validation does not happen on contact step"
As a follow-up to https://github.com/Automattic/wp-calypso/issues/49369, we should also validate the "tax" contact field information at the end of the contact step in checkout like we do with domain contact information.

As of the above mentioned changes, tax contact details are now being validated, but only when the entire checkout form is submitted, which is poor UX since it means that you'll ha

[2021-04-30 16:48] JoshuaGoode commented on #52455
Reproduced on self-hosted.  Might not be WPCOM specific.

[2021-04-30 16:48] aisajib commented on #52455
Has this been fixed? I was able to view the embed just now on the support page.

<img width="750" alt="Screen Shot 2021-04-30 at 10 48 10 PM" src="https://user-images.githubusercontent.com/2541844/116727270-260f6180-aa06-11eb-86c5-e55d07b63b96.png">

[2021-04-30 16:50] RealCarFax commented on #52455
Strange, it still does not work for me: https://d.pr/i/BGU89t/Iunj6EqpqZ

[2021-04-30 16:53] JoshuaGoode commented on #52455
Doesn't appear to be WPCOM specific. I can reproduce on self-hosted and via a manual HTML embed using their JS SDK on a non-WP site.

Looks like Facebook's JS SDK and Social Plugins are failing:

- https://developers.facebook.com/status/dashboard/
- https://developers.facebook.com/status/issues/492652922187445/
- https://developers.facebook.com/support/bugs/484663959337678/

[2021-04-30 16:53] aisajib commented on #52455
Tried a few more things.

* Works for me on Chrome, proxied/unproxied/incognito
* DOES NOT work on Firefox (proxied)
* Does not work on Safari (unproxied)

[2021-04-30 16:54] aisajib commented on #52455
Thanks! That explains the intermittent behavior.

[2021-04-30 17:08] nerdysandy commented on #52455
Reported on #25212350-hc

[2021-04-30 18:03] ezebecke commented on #47992
Another report with Facebook button not displaying: 29330008-hc

[2021-04-30 18:09] worldomonation commented on #51082
Current Status (Week 17 of 2021):

PR(s) awaiting review:
#51285

PR(s) work in progress:
#51209

Overview
- browser, browser context and browser page management has been rebased and reworked since returning from parental leave.
- Playwright-specific mocha hooks have been implemented to simplify the test writing process.

What is next
- screenshot and video ability need to be implemented.
- page o

[2021-04-30 18:11] jaswrks commented on #52281
Awesome. Thank you. @marianearchimbaud I believe this can be closed now?

[2021-04-30 18:12] JoshuaGoode commented on #52455
Confirming that the Facebook embed issue is due to Facebook's outages reported at https://developers.facebook.com/status/issues/492652922187445/

This also impacts their chat embeds, official sharing buttons, page widgets, and more.

I'd expect any type of embed relying on Facebook's JS SDK and Social Plugins to have intermittent issues for now.

If a user reports sharing buttons issues, they will

[2021-04-30 18:13] worldomonation opened #52458 "[Meta] Code Coverage Investigation"
**Task Details**
Investigate the possibility and feasibility of incorporating code coverage metrics for Calypso E2E testing.

#### Rationale

Code coverage would illustrate what calypso components are being tested with e2e tests.
With this data, automation engineers would be able to develop e2e tests for critical paths that are missing test coverage.

#### Some ideas

`istanbul/nyc` was investigat

[2021-04-30 18:13] JoshuaGoode commented on #52455
Official sharing button isuses reported on 29330300-hc

I worked with the user to switch the button style under My Site > Tools > Marketing > Sharing Buttons to resolve.

[2021-04-30 18:25] marianearchimbaud commented on #52281
Perfect. I have just tested this, and it's working as expected:
https://wordpress.com/es/create-blog-referral/?aff=46628&sid=NKkk9vBIV18Z4m3GJPLZ
Screenshot: https://d.pr/i/nGPvfb

Thank you!!

[2021-04-30 18:25] #52281 closed, assigned to nobody

[2021-04-30 20:00] worldomonation opened #52460 "Triaging: auto-closing stale issues"
**Task Details**
Investigate possibility of auto-closing stale issues.

#### Rationale

Once an issue drops off the radar, (anecdotally) it is difficult for the issue to regain the traction it needs to be addressed.

There are many ways to measure the level of attention an issue gets, but one easy method is the last activity date. We currently run a Stale detection bot that has a 180 day threshold

[2021-04-30 20:04] worldomonation opened #52461 "[Meta] Triaging: apply stale bot functionality to PRs"
**Task Details**
Currently, a GitHub actions-based stale bot runs on *issues only*.

#### Rationale
PRs arguably have even shorter lifespan than issues.

As one anecdotal example, one of my PRs was left for one month which led to 7+ file conflicts when it was revisited.

#### Some Ideas

What to set the stale threshold?
- 10 days?
- 14 days?
- 30 days?

What action to take?
- simply notify?
- auto

[2021-04-30 20:09] worldomonation opened #52462 "[Meta] Review end-to-end accounts"
**Task Details**
The (encrypted) configuration file for e2e tests contain a lot of user accounts.

It is questionable whether many of these accounts are still being used for end-to-end testing.

#### Rationale

Our current Mailosaur plan has been beefed up as of March 2021, but there are numerous mailboxes that remain active and it is doubtful whether they see any use. Presumably each of the e2e u

[2021-04-30 20:15] worldomonation opened #52463 "[Meta] Improve E2E Stability"
**Task Details**
Current Selenium-based end-to-end test suites are often unreliable and produce noisy results.
This results in developers tuning out e2e failures. In some cases, the failures are real, but because of the test noise it is like looking for a needle in a haystack.

This issue will be a meta issue to track the various approaches the Quality Squad will take to improve test stability.

#

[2021-04-30 20:21] worldomonation opened #52464 "[Meta] E2E Documentation"
**Task Details**
Documentation across the board for calypso e2e tests are currently sub-par.

#### Rationale

New and trial engineers often have difficulty setting up their environment and/or looking for information because of the following:
- information is scattered across various resources (P2, Slack, GitHub, Field Guide)
- information is not up to date (stale documentation, old links, etc)
- i

[2021-04-30 20:23] worldomonation commented on #52464
Original card added by Cathy:
[code]

[2021-04-30 20:49] worldomonation commented on #20478
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 20:50] worldomonation commented on #21465
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 20:50] #21465 closed

[2021-04-30 20:51] worldomonation commented on #21622
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 20:51] #21622 closed

[2021-04-30 20:55] worldomonation commented on #21623
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 20:55] worldomonation commented on #21718
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 20:59] worldomonation commented on #21751
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:27] worldomonation opened #52466 "E2E Stability: reduce signup tests"
**Task Details**
Signup tests often cause noisy failures due to the cap in number of signups that can take place in a day.

Investigate ways to reduce the signup tests to create buffer room such that tests do not fail unexpectedly towards end of the day.

#### Rationale

Removing or increasing the limit has [previously been ruled out](p6fDka-AO-p2).
That leave us with the only other option, which

[2021-04-30 21:31] worldomonation commented on #21874
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:31] #21874 closed

[2021-04-30 21:32] worldomonation commented on #21896
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:32] #21896 closed

[2021-04-30 21:32] worldomonation commented on #21991
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:32] #21991 closed

[2021-04-30 21:32] worldomonation commented on #21994
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:33] worldomonation commented on #22010
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:33] #22010 closed

[2021-04-30 21:34] worldomonation commented on #22011
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:34] #22011 closed

[2021-04-30 21:34] worldomonation commented on #22057
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:34] #22057 closed

[2021-04-30 21:34] worldomonation commented on #22095
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:34] #22095 closed

[2021-04-30 21:35] worldomonation commented on #22103
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:35] #22103 closed

[2021-04-30 21:41] worldomonation commented on #22105
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:41] #22105 closed

[2021-04-30 21:41] worldomonation commented on #22155
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:41] #22155 closed

[2021-04-30 21:42] worldomonation commented on #22202
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:42] #22202 closed

[2021-04-30 21:42] worldomonation commented on #22212
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:42] #22212 closed

[2021-04-30 21:42] worldomonation commented on #22303
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:48] worldomonation commented on #22312
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:48] #22312 closed

[2021-04-30 21:49] worldomonation commented on #22413
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:49] #22413 closed

[2021-04-30 21:50] worldomonation commented on #22415
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:50] #22415 closed

[2021-04-30 21:50] worldomonation commented on #22418
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:50] #22418 closed

[2021-04-30 21:51] worldomonation commented on #22426
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:52] worldomonation commented on #22448
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-04-30 21:52] #22448 closed

[2021-05-01 10:26] ahmadbaig1 opened #52472 "Post Carousel block: Slider does not work with Page Optimize Async, Defer script execution enabled"
### Steps to reproduce the behavior

1. Add a Post Carousel block to your site (with more than 1 posts)
2. Change the Page Optimize plugin settings for `Non-critical script execution mode` to `Async` or `Defer`.
3. Visit the page and try to slide through the posts.

#### What I expected to happen

I expected the posts slider to work fine (as usual), and upon clicking, it should change the post tha

[2021-05-01 15:01] nickpagz commented on #50126
Another report:
#29130737-hc

[2021-05-01 16:56] sirbrillig opened #52473 "Checkout: do not show monthly plan option when upgrading from annual plan"
From an internal bug report:

1. Customer bought our annual Premium plan
2. Customer then upgraded to our monthly Business plan on the same website
3. This left the customer charged with both the annual Premium and monthly Business plans

Apparently this is not desirable. It looks like someone already took care of this in https://github.com/Automattic/wp-calypso/pull/47229 but maybe it has become

[2021-05-01 18:00] mrsjaved commented on #40833
Another request to add IG share and publicize feature.
3951638-zd-woothemes

[2021-05-01 18:37] JoshuaGoode commented on #50126
Reported on 29346062-hc

Screen Resolution:1366 x 768
Browser Size:1320 x 621
User Agent:Safari 14.1 on Mac OS X 10.14.6

Seems to have been due to window size.

[2021-05-01 22:16] sstabrizi commented on #52178
Site: ecclesiastesamplified.com - Atomic
Interaction: 29152016-hc
I was not able to replicate this on any site, I was just noting the bug as I encountered it during chat.

[2021-05-01 22:26] sstabrizi opened #52476 "Media: File upload doesn't work on Calypso Media link, but does when using wp-admin Media link."
### Steps to reproduce the behavior

1. Go to Media
2. Click on Add New
3. Select a .ZIP file to upload
4. See error 1 file could not be uploaded because an error occurred while uploading.
5. Go to wp-admin version of Media and upload a ZIP file and it works.

#### What I expected to happen

I expect the ZIP file to upload from either the Calypso or wp-admin version of Media.

#### What actually h

[2021-05-02 06:22] mrfoxtalbot opened #52477 "Add a "Cancel Domain" button or a link to /purchases on the domains/manage section"
### Steps to reproduce the behavior

1. Go to wordpress.com/domains/manage for a registered domain you own.
2. Notice how it is possible to renew the domain immediately and to toggle automatic renewal but there is no option to cancel the domain there. There is no link to the Purchases page either, where this could be done.

![Screen Shot on 2021-05-02 at 08:22:17](https://user-images.githubusercon

[2021-05-02 06:30] joweber123 commented on #52051
We can go ahead and close this issue then if this setting was intentionally moved to the wp-admin section. Thank you for the clarification.

[2021-05-02 06:30] #52051 closed, assigned to nobody

[2021-05-02 07:07] Nic-Sevic opened #52478 "Form block: separators don't align consistently"
### Steps to reproduce the behavior

1. Add a form block to a post
2. insert a few blocks, including separators
3. check preview compared to editor

#### What I expected to happen
separators should display as blocks and alignment should be consistent

#### What actually happened
separators show with no color on some themes (Purpose) and periodically show misaligned on all themes
This was the case

[2021-05-02 08:40] sowmya2709 opened #52479 "Pricing Table Block: Changing Alignment of "Buy Now" button reduces the cell height and also drops the button to the bottom border"
The button "Buy Now"  within the Pricing table has an option of alignment change, however, the alignment change causes the frame size to reduce and the button is at the bottom border or the pricing table cell.

### Steps to reproduce the behavior

1. Go to WordPress editor in edit mode
2. Add Pricing Table block
3. Select the button and change the alignment to left /right
4. Check the button movin

[2021-05-02 08:55] arunsathiya commented on #49497
Requested on 3951777-zen as well.

[2021-05-02 09:05] sowmya2709 opened #52480 "Pricing Table block: Hitting Enter in the pricing tile button adds more buttons in the tiles"
Hitting Enter in the pricing tile button adds more buttons to the tiles

### Steps to reproduce the behavior

1. Go to WordPress editor
2. Add Pricing Table block
3. Edit the button, add text
4. Hit enter

#### What I expected to happen
I expect  newline for text but not for button

#### What actually happened
Hitting enter while editing the text within the button adds more buttons to the tile

##

[2021-05-02 09:20] sowmya2709 opened #52481 "Pricing Table Block - Button within Pricing table , Width setting doesn't work at all. Nothing happens when changing width"
Button within  Pricing table,  Width setting doesn't work at all. Nothing happens when changing the width

### Steps to reproduce the behavior

1. Go to WordPress Editor
2. Add Pricing Table block
3. Click on the button
4. Add button text
5. Change button Width in Setting side menu bar to 75% / 100% / 25%/ 50%

#### What I expected to happen
I expect button width to change

#### What actually happ

[2021-05-02 09:44] sowmya2709 opened #52482 "Pricing Table Block : Default Style dropdown menu in Button Setting within Pricing table doesn't work."
Default Style dropdown menu in Button Setting within Pricing table doesn't work. Changing it doesn't do anything. There is a selection menu to select Fill/Outline. This dropdown is duplicate/redundant

### Steps to reproduce the behavior

1. Go to WordPress editor
2. Add Pricing plan block
3. Click on the button
4. Open the Settings side menu by clicking * at the top-right menu
5. Select the "Defa

[2021-05-02 10:03] sowmya2709 opened #52483 "Pricing Table Block: 'Pricing Table setting' doesn't have any settings option when there is single tile in Pricing Table"
'Pricing Table setting' doesn't have any settings option when there is a single tile in Pricing Table. It's just an empty collapsible block without any options to change settings or add 'Gutters' as its single tile. This block should be removed.

### Steps to reproduce the behavior

1. Go to Wordpress editor
2. Add Pricing Table block
3. Select pricing plan block
4. Change the number of tiles to S

[2021-05-02 10:39] sowmya2709 opened #52484 "Pricing Table Block: In 'Add Feature' field in Pricing Table tile, if I enter url etc, it extends beyond the frame when there are 4 tiles"
In the 'Add Feature' field in the pricing table tile, if I enter URL etc, it extends beyond the frame when there are 4 tiles

### Steps to reproduce the behavior

1. Go to WordPress Editor
2. Add Pricing Table block
3. Add 4 tiles and enter all the values in all the text and button
4. In 'Add Features'  enter a lengthy URL
5. Check the value in preview mode

#### What I expected to happen
I expect

[2021-05-02 11:02] sowmya2709 opened #52485 "Poll Block: Changing Poll block full width removed borders from sides"
Poll Block: Changing Poll block full width removed borders from sides

### Steps to reproduce the behavior

1. Go to Wordpress Editor
2. Add Poll block
3. Go to Settings menu using top menu* option
4. Add Borders to the poll
5. change the poll width to Full Width

#### What I expected to happen
I expect borders to be retaileds

#### What actually happened
The left and right borders are removed and

[2021-05-02 12:51] kriskarkoski commented on #52178
The above was me reopening this issue after talking with @sstabrizi, but I was logged into a different account due to some changes I'm working on :)

[2021-05-02 13:08] Aurorum commented on #52477
PR for this issue in #52486. :)

[2021-05-02 14:42] sdnunca commented on #50312
I have the following diff: D58714-code to address profile and language sync for Atomic sites ready.

Would deploying this affect your future development plans in any way?

[2021-05-02 15:06] AtrumGeost opened #52487 "WooCommerce: "We're here for help" pop-up blocks the screen when clicking on "Add products""
### Steps to reproduce the behavior

1. Install Woo on an AT site (Business plan)
2. Finish the setup wizard
3. Go to WooCommerce > Home
4. In the "Get ready to start selling" checklist click on "Add products"
5. Notice a "We're here for help" message shows which is cropped and blocks the whole screen

#### What I expected to happen

To be able to add products using one of the options on the scree

[2021-05-02 15:12] azollafox opened #52488 "Tortuga Theme: No edit button for logged in user on site"
### Steps to reproduce the behavior

1. Activate Tortuga on your site
2. Click on your site name to view your site
3. Click to view your site in a new tab
4. Scroll down the page. The edit button you expect to see won't be there

#### What I expected to happen
![edit is there](https://user-images.githubusercontent.com/7907292/116817946-d1b7cf00-ab36-11eb-952a-cda2190def82.jpeg)

#### What actually

[2021-05-02 17:07] sirbrillig commented on #31379
As of D60388-code we are now validating tax postal codes during a transaction using the same system we use to validate postal codes for domains. I was hopeful that would resolve this issue, but it seems that the postal code validation accepts `00000` as a valid US postal code.

[2021-05-02 17:09] sirbrillig commented on #51990
This should be resolved by https://github.com/Automattic/wp-calypso/pull/52475

[2021-05-02 22:19] happychait commented on #51662
Another report in 3909056-zen

[2021-05-03 00:30] kaitohm commented on #30051
Another request on 29157107-hc

[2021-05-03 04:55] retnonindya opened #52492 "Onboarding: Theme v. Page Layout naming"
This is not a technical bug; more of a... (Potential) confusion for users and for Support/HEs handling user's questions.

During Onboarding, when we arrived on "Choose a design" step (https://wordpress.com/new/design) we see several options that users can choose to have on their website.

![image](https://cldup.com/yLmreutVR0.png)
*Direct link: https://cldup.com/yLmreutVR0.png*

Note the options p

[2021-05-03 06:09] p-jackson commented on #47334
Makes sense. The task was already being hidden for the Blank Canvas theme and when using full-site editing. I agree the customiser is something we should be encouraging the user to check out much further down the track.

(for reference, the task is currently called "Edit the site menu"

Patch that removes the task: D60892-code
Follow up PR to remove the client-side code for this task: #52493

With

[2021-05-03 06:27] simison commented on #47334
Design discussion concluded that It would do more harm than good because it's basically impossible to know where to edit menus otherwise. Hence we only swapped its position lower recently.

We initially thought the requirement would be to add all new pages to menu by default (i.e. switch the setting for that on by default). HE feedback noted that being more confusing than helpful.

But would be co

[2021-05-03 06:30] autumnfjeld commented on #47334
FYI related: changing the copy to "Edit the site menu": https://github.com/Automattic/wp-calypso/pull/52077 was shipped a couple weeks ago

[2021-05-03 06:37] sowmya2709 opened #52494 "Form Blocks: None of the text field have length restriction setting in any of the forms"
None of the fields have length setting in any of the forms, for example - Appointment form, Name, Message etc has no length restriction

What
A setting to limit the length of the fields would be a nice feature for non-technical users who cannot use CSS classes. this could be a very basic limit, like Typography which lets you update the text size from small to large

Why
Not all users would be tech

[2021-05-03 06:42] jeyip opened #52495 "Full Site Editing: Custom post type and custom taxonomies not importing correctly"
### Description
Full site editing template and template part custom post types (CPTs) were not being imported properly on simple sites.

### Steps to reproduce the behavior

- Create a new FSE enabled site through https://horizon.wordpress.com/new?flags=gutenboarding/site-editor
- Select the TT1-blocks theme
- Complete the onboarding flow
- You'll be redirected to the site editor. Navigate to the

[2021-05-03 06:45] sowmya2709 opened #52496 "Form Blocks: Validate form fields on Tab out instead of validating them on clicking Submit"
Form field Validations should be on tab out, instead of button clicking

### Steps to reproduce the behavior

1. Go to Wordpress Editor
2. Add a form block that has email like Appointment form
3. Tab out without entering email field
4. Click Submit button

#### What I expected to happen
I expect the email field to be validated on tab out

#### What actually happened
Email is validated at Submit

#

[2021-05-03 06:48] jeyip commented on #52495
Potential fix at D60603-code

[2021-05-03 06:53] sowmya2709 opened #52497 "Form Blocks: Date Picker and Phone number fields take alphabet and special characters"
Date Picker and Phone number fields take the alphabets and all special characters

What
Date and Phone number fields can have settings option for basic field restrictions.  Such has, for phone number numeric and +/ - as special characters only. For Date picker, field length of 10 characters and only allow / or - as separators.

Why
This would help non-technical users to add some validations withou

[2021-05-03 08:17] kimclow opened #52498 "LeardDash / ProPanel Displays In WP-admin, but not Calypso [Feature Request]"
Recently we had a support query come through from a Customer who uses LearnDash on their website, and ProPanel to view the insights of the plugin.

Since we've moved customers over to Calypso, the ability to view these Insights is no longer available, and I think it may be worth exploring this, and adding the insights into Calypso.

What
Adding insights from ProPanel into Calypso here: https://wor

[2021-05-03 10:06] sowmya2709 opened #52500 "Form Block: Email errors are not validated in one go, its incremental validation"
Email errors are not validated in one go, its incremental validation

### Steps to reproduce the behavior

1. Go to Wordpress Editor
2. Add any form with email field
3. Enter email "abc abc def" and hit submit
4. Then change the email to abc@abc def
5. Hit submit
6. Then change email to abc@!@#$%^&*()abc
7. hit enter

#### What I expected to happen
I expect all the email validation errors to be di

[2021-05-03 10:23] sowmya2709 opened #52502 "Business Hours Block - Undo action when editing business block takes user to previous block instead of Undoing changes of current block"
Business Hours Block - Undo action when editing business block takes the user to the previous block instead of Undoing changes of the current block

### Steps to reproduce the behavior

1. Go to WordPress editor
2. Add business block
3. Edit the business block
4. Click on Add hours and add some value in the new hours' field
5. Click Undo/Back arrow on the top menu bar of the page

#### What I expe

[2021-05-03 10:34] susanjanec commented on #41606
Another customer who was trying to find out how to do this within the Content Premium block - 29372316-hc

[2021-05-03 10:36] sowmya2709 opened #52504 "Business block- There should be an option to add subscript/ text"
In this block there should be an option to add subscript/ text block that warns "Holiday hours my differ" or Anzac hours may differ etc

### Steps to reproduce the behavior

1. Go to Wordpress editor
2. Add business block
3. Edit hours etc
4. try adding a subscript or another text field etc for the block

#### What I expected to happen
I expect to have an option to add a text message  or subscript

[2021-05-03 11:00] sowmya2709 opened #52505 "Media Block : Media Library allows user to add duplicate files/images"
Media Library should check the file/image properties and not add to library if the image name and properties are the same

### Steps to reproduce the behavior

1. Go to Editor
2. Add a media block
3. Upload an image to the media block from the computer
4. Add another media block and upload the same image again
5. Check the Media library

#### What I expected to happen
I expect media library to not

[2021-05-03 11:24] simison commented on #52192
Depends on how you frame that. :-) If it's just "anyone using staging/wpcalypso", then it's an `isEnabled()` config check?

Wouldn't changes only in ETK suffice?

[2021-05-03 11:51] sowmya2709 opened #52506 "Reusable Block: when "Create Reusable Block" pop-up appears, the control is not in the text box. Save button should be before cancel button"
Reusable Block: when "Create Reusable Block" pop-up appears, the control is not in the text box when the pop-up loads
And also Save button should be before the cancel button in the pop-up

### Steps to reproduce the behavior

1. Go to Wordpress editor
2. Add Pricing plan block
3. Edit the pricing plan
4. Select pricing plan and click the More options menu in the  top menu bar
5. Select "Add To Reu

[2021-05-03 12:29] sowmya2709 opened #52507 "Pricing Table Block: The button in pricing plan tile should not move based on 'Add Feature' text"
The button in the pricing Table tile should not move based on the 'Add Feature' text

### Steps to reproduce the behavior

1. Go to WordPress editor
2. Add Pricing table  block
3. Select 4 tiles pricing table option
4. Edit pricing table items
5. Add random text in the 'Add Feature' item of each tile. Make sure the text content length is different for each tile
6. Check Buy Now button location in

[2021-05-03 12:40] AtrumGeost commented on #51189
Got another user who wanted to access the Coming Soon mode as they did before: 29367308-hc

[2021-05-03 13:34] jeherve opened #52510 "Plugins: no option to install / activate plugin when secondary user on Atomic site"
### Steps to reproduce the behavior

1. Start with an Atomic site.
2. Invite another WordPress.com user to join your site as an admin.
2. In a different browser, sign in with that other WordPress.com user, and ensure you can access `https://yoursite.com/wp-admin/admin.php?page=jetpack`, and that you're linked to WordPress.com there.
3. Go to https://wordpress.com/plugins/tinymce-advanced/ and sele

[2021-05-03 13:48] simison opened #52511 "Unmanaged Gutenberg install has upgrades but it isn't visible"
Was reported that:

but also that Gutenberg is in a weird state, where it has an update available but isn’t showing in all places `nourishedunion.com`

When looking at the wp-admin plugin updates page.

Few guesses:

- We have Gutenberg as a managed plugin, and it has an upstream update
- We haven't updated to that version .com-wide yet?
- WP detects the update and shows indicators for it in few p

[2021-05-03 14:29] synora opened #52513 "Cannot Increase Syndication Feed Beyond 150 Items on Simple Sites"
### Steps to reproduce the behavior

1. Select a simple site and navigate to Settings > Reading > Syndication feeds show the most recent
2. Change the number in the field to 151 or greater
3. Save the change

#### What I expected to happen
The "Syndication feeds show the most recent" setting to remain at 151.

#### What actually happened
The "Syndication feeds show the most recent" setting changes

[2021-05-03 15:06] msilbers commented on #51530
@blackjackkent if it helps, the Redirect flag should only be appearing if someone has a paid Site Redirect on their site: https://wordpress.com/support/site-redirect/

That used to be the case, but it seems that right now it's seeing any custom domain as a redirect.

[2021-05-03 15:08] blackjackkent commented on #51530
@msilbers Thanks for the extra info! I meant to comment here and forgot, but I have a diff open for this at D60809-code.

[2021-05-03 15:23] kwight commented on #52513
@michaeldcain Any idea who might be able to look at this?

[2021-05-03 15:53] metabreakr commented on #52476
I had a similar issue with a JPG file in 29363229-hc

Browser: https://www.whatsmybrowser.org/b/85P4F

[2021-05-03 15:59] synora commented on #52478
Something strange is definitely happening with the Separator Block when it's nested within a Form Block.
Here's what my test looks like within the editor:
![Annotation on 2021-05-03 at 11-56-18](https://user-images.githubusercontent.com/10015451/116900314-98e72b00-ac06-11eb-90a7-13f1c2df223a.png)

When I preview the post, the Separator Block doesn't appear at all:
![Annotation on 2021-05-03 at 11-

[2021-05-03 16:04] synora commented on #52476
Thanks for these reports. There's an open issue for this at https://github.com/Automattic/wp-calypso/issues/50928. I'll this issue in favor of 50928.

[2021-05-03 16:04] #52476 closed, assigned to nobody

[2021-05-03 16:25] #51990 closed, assigned to nobody

[2021-05-03 16:33] synora commented on #50034
Noting that I'm still able to replicate this issue. @simison is this something your team can look into?

[2021-05-03 16:37] synora commented on #52347
I'm able to replicate this thanks to your detailed steps @scosgro. @simison this is somewhat related to https://github.com/Automattic/wp-calypso/issues/50034 with sharing buttons working one way on AT sites but not on simple sites.

[2021-05-03 17:01] michaeldcain commented on #52513
Related issue: #37541

The 150 item WPcom feed limit was implemented here: p195om-1bH-p2. It looks like it can be overridden via filter priority. We could probably increase the limit to 350 for podcast feeds by default.

[2021-05-03 17:06] michaeldcain commented on #47832
I believe that there's a script that can be run to remove duplicate enclosure tags for a site: `bin/import/fix-duplicate-enclosures.php`

[2021-05-03 17:07] worldomonation commented on #38265
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-03 17:17] worldomonation commented on #38085
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-03 17:17] #38085 closed

[2021-05-03 17:22] worldomonation commented on #38084
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-03 17:22] #38084 closed

[2021-05-03 17:22] worldomonation commented on #37985
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-03 17:22] #37985 closed

[2021-05-03 17:33] worldomonation commented on #37976
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-03 17:33] #37976 closed

[2021-05-03 17:36] DavidRothstein commented on #52473
More context (internal) at pNPgK-5q8-p2

[2021-05-03 17:42] worldomonation commented on #37719
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-03 17:42] #37719 closed

[2021-05-03 17:44] synora commented on #52455
Embeds on https://wordpress.com/support/facebook-integration/facebook-embeds/ are working for me.
https://developers.facebook.com/status/issues/492652922187445/ says the issue has been resolved. Closing this issiue for now but we can always reopen if needed.

[2021-05-03 17:44] #52455 closed, assigned to nobody

[2021-05-03 17:45] worldomonation commented on #37536
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-03 17:45] #37536 closed

[2021-05-03 17:54] mikeicode commented on #51371
15698640-hc please follow up when resolved 3960591-zd-woothemes

[2021-05-03 18:12] msilbers opened #52519 "Pullquote Block: no longer has Center Align option"
### Steps to reproduce the behavior

1. Go to any post or page, new or old
2. Add a new Pullquote block
3. Click the alignment options from the toolbar
4. There is no Center Align option for the block

#### What I expected to happen

To be able to center a Pullquote block, like before.

#### What actually happened

No option to center

### Context

reported by a customer in 3954893-zen, reproduced

[2021-05-03 18:21] AtrumGeost opened #52520 "Atomic: Image thumbnails not loading when an AT site is Private"
### Steps to reproduce the behavior

1. On an Atomic Public site, upload images to the Media Library
2. Set the AT site to Private
3. Check the Media library
4. Notice thumbnails are not loading

#### What I expected to happen

For the thumbnails to load normally

#### What actually happened

The thumbnails are not displayed

### Context

User report:

29243073-hc

Explanation about what causes th

[2021-05-03 18:25] katiebethbrown commented on #48746
Another report in 1266520-hc / p9F6qB-6SP-p2

User migrated a site in, which broke Jetpack, so they weren't able to access their domain settings (or anything in Calypso at all).

I fixed the JP connection and they are back up and going.

[2021-05-03 18:37] yogesh889 commented on #16452
'BROWSERSLIST_ENV' is not recognized as an internal or external command.
I am getting this error again and again, please help me regarding this.

[2021-05-03 18:43] sixhours opened #52521 "Theme Showcase: Move "Install theme" button into header area"
We made a point of moving the primary action for installing plugins to the header like so:

<img width="1080" alt="Screen Shot 2021-05-03 at 1 04 55 PM" src="https://user-images.githubusercontent.com/2124984/116918096-7b718b80-ac1d-11eb-8994-5f1470ef4393.png">

My Home and Support pages follow a similar pattern, so we should do the same for Themes (`/themes`):

<img width="1368" alt="Screen Shot 2

[2021-05-03 19:11] mreishus opened #52524 "Theme Showcase: Encoding issues on hover tooltips"
### Steps to reproduce the behavior

1. Go to theme showcase
2. Hover over the screenshot of the seedlet theme
![2021-05-03_14-09](https://user-images.githubusercontent.com/937354/116921222-54b15600-ac19-11eb-934d-ad01d877473a.png)

#### What I expected to happen

- See tooltip text in the correct encoding

#### What actually happened

- See html codes like `&#8217;` in the tooltip

### Context

#

[2021-05-03 19:13] sixhours opened #52525 "Onboarding: Refresh font pairings?"
Switching between font options in the onboarding setup felt underwhelming. All the body copy fonts are sans-serif, so unless you have a discerning eye for typography, the differences are pretty minor and don't make the chosen design feel very "customizable".

And maybe it's just the theme I've chosen (Frederickson, I think), but the site title doesn't use the main heading font, so there's even les

[2021-05-03 19:16] msilbers commented on #51435
@cpapazoglou I was following along to read more, but it looks like that p2 post is about a totally different feature, Reblog, is that right?

[2021-05-03 19:27] Aurorum commented on #52521
Do you think that moving the button upwards could revive #40791 too by adding a "Previous theme" button next to the "Install theme" one?

[2021-05-03 19:32] mreishus opened #52526 "Theme Showcase: Theme menu has a blank option that's selectable"
### Steps to reproduce the behavior

1. Visit the theme showcase
2. Click on the vertical three dots in the bottom right of any theme's square
3. A popup menu appears
4. At the very bottom of the menu, there is a blank entry that is highlightable. If you click it, it asks you to activate the theme. Just seems odd and low-polish.

![2021-05-03_14-24](https://user-images.githubusercontent.com/937354

[2021-05-03 19:36] sixhours opened #52527 "How we present Blank Canvas based themes in signup/for new sites"
This is a long one, so please bear with me. :)

* Sign up for a new site on an existing user account
* Choose Fredrickson theme because I've actually been thinking about setting up a Linktree-style site, and this would be perfect! The thumbnail and preview look like this, for reference:

<img width="830" alt="Screen Shot 2021-05-03 at 3 31 28 PM" src="https://user-images.githubusercontent.com/2124

[2021-05-03 19:42] serabi commented on #52301
Another user report in 28690024-hc

[2021-05-03 19:46] sixhours opened #52528 "Font settings in the editor are buried"
### Steps to reproduce the behavior

1. Create a new site and edit a page/post
2. Figure out where to change your site's fonts. :) Experience tells me I'm looking for something called "Global styles" but those are inactive by default, and I wouldn't know to look for that label if I was new to WordPress.com.
3. You'll find Global styles under the ellipsis menu, quite far down the list of options:

[2021-05-03 20:10] allilevine commented on #50312
@sdnunca Thanks for the head's up! It looks like we're trying to solve the same issue in different ways. I don't think your changes will prevent us from moving forward with the Jetpack solution, but having both changing the user locale might eventually be an issue. I don't want to hold up your fix if it will solve the locale problem sooner, but then we do need to make a decision about whether this

[2021-05-03 20:20] sixhours opened #52531 "Editor: Social menu links move when editing"
### Steps to reproduce the behavior

1. Edit a page or post and add a Social Links block, and add some links to it
2. Center align the links in the block
3. Click on the block to edit one of the links; they'll jump to the left
4. Click outside the block to un-focus it; the links will jump back to center

https://user-images.githubusercontent.com/2124984/116928373-f8efc880-ac2a-11eb-9403-afc3981f43

[2021-05-03 20:27] sixhours opened #52532 "Customizer: Button vertical alignment is poor"
### Steps to reproduce the behavior

1. Go to the Customizer and click on Colors & Background
2. The "Default" color palette button vertical alignment looks unbalanced; ideally it should be centered:

<img width="301" alt="Screen Shot 2021-05-03 at 4 15 50 PM" src="https://user-images.githubusercontent.com/2124984/116928898-aa8ef980-ac2b-11eb-9433-1a9727dac599.png">

[2021-05-03 20:39] sixhours opened #52533 "Customizer: Custom Colors don't work on Atomic sites"
(I swear I saw this issue a few months ago but I couldn't find reference to it. Feel free to close it if it's a dupe, of course.)

### Steps to reproduce the behavior

1. Go to the Customizer using a theme that supports custom color palettes (I think all our modern themes do -- I'm using the Fredrickson theme)
2. Click on Colors & Backgrounds
3. Click on one of the available pre-made palettes
4. T

[2021-05-03 20:42] carinapilar commented on #14624
Is this also valid for WordPress.com Simple sites? It was requested by user on chat: 24205819-hc - it's between accounts though.

[2021-05-03 21:06] wprhunt opened #52535 ""Redirect" flag showing under the domain in the navigation menu for wp-admin pages"
## Steps to reproduce the behaviour

1. Log in to WordPress.com and access any site using a simple site and visit the /wp-admin for that site. (example: https://testingpremiumplan.wordpress.com/wp-admin/ )
2. Under the site title and domain, you will see the "Redirect" flag implying the site has a Site Redirect or that the primary domain set is a domain not pointed to WordPress.com

This only disp

[2021-05-03 21:10] ianstewart commented on #51930
Is this site set up with the same details mentioned in the comment below?

https://github.com/Automattic/wp-calypso/issues/51931#issuecomment-823439238

[2021-05-03 21:14] ianstewart commented on #15833
We no longer surface theme counts on WP.com. See the comment below.

https://github.com/Automattic/wp-calypso/issues/39898#issuecomment-596810675

Worth turning them back on if we can get the count right?

[2021-05-03 21:18] ianstewart commented on #51590
@dereksmart do you have a screenshot of what you expected to see vs what you saw? And/or steps to reproduce the issue?

It sounds the issue is that you expected to see a Premium Themes banner on a Free Plan but didn't?

[2021-05-03 21:22] Aurorum commented on #52524
PR for this issue in #52536. :)

[2021-05-03 21:24] mreishus commented on #52527
Agree this is confusing.
- `/new` lets me choose Fredrickson when I'm making a new blog. However, when I visit Appearance -> Themes, the Blank Canvas theme is selected.
- `/start` creates a site using Hever for me, and if I visit Appearance -> Themes, I don't see Fredrickson as a choice to switch to. Does Fredrickson only exist in `/new` signup, and if you missed that, you can't get it? (Possibly

[2021-05-03 21:30] mreishus commented on #52535
Possibly the same issue: https://github.com/Automattic/wp-calypso/issues/51530

[2021-05-03 21:41] p-jackson commented on #47334
I wonder if there's a way to do this generally, like remove it for all themes that don't have a menu. So that it doesn't show for e.g. Pollard

[2021-05-03 21:51] sixhours opened #52537 "Customizer: Logo behavior is inconsistent between themes"
Confusing things I noticed about logos when set from the Customizer:

* I have no control over the size or shape of the logo, short of some basic cropping; this is determined by the theme.
* If I change themes, my existing logo disappears and I have to re-set it by going back to the Customizer.
* The front end logo image is usually teeny, which makes it less useful for logos with words:

<img widt

[2021-05-03 22:03] ianstewart commented on #52527
This looks like a Theme Bug.

[2021-05-03 22:41] andrewserong commented on #52346
I _think_ this one might be resolved by https://github.com/WordPress/gutenberg/pull/31073 in Gutenberg 10.5, but I'll double check.

[2021-05-03 22:55] andrewserong commented on #52343
I believe this was a regression in Gutenberg v10.5.0 RC 1 reported in https://github.com/WordPress/gutenberg/issues/31070 and resolved in https://github.com/WordPress/gutenberg/pull/31073. I double checked on my test site, and this issue is no longer present as of Gutenberg v10.5.2 running on edge stickered sites (and also isn't present on v10.4.1 without the sticker present). Let us know if you s

[2021-05-03 22:55] #52343 closed, assigned to andrewserong

[2021-05-03 23:20] p-jackson commented on #52192
In the past I've had HEs mention to me that they prefer the `is_a11n` check to `is_proxied`. This is so they can use test accounts when they want to try things as customers see them. Requiring a proxy could also make it a little harder to test on mobile devices and non-retina screens p9Jlb4-2ur-p2#comment-3884
So that's my rationale for going with the `is_a11n` check. I have managed to get it work

[2021-05-04 00:15] DanielSmithMichigan opened #52539 "Plugin install button appears clickable during the installation process"
### Steps to reproduce the behavior

1. On a newly created business site, install the WooCommerce plugin
2. During installation, observe that the button still appears clickable.

https://user-images.githubusercontent.com/10274366/116947587-2ba9b900-ac4b-11eb-9ba9-87e1ec271439.mov

#### What I expected to happen

Ideally the cursor would change to show that the button shouldn't be clicked, and one

[2021-05-04 00:21] andrewserong commented on #52345
Similar issue to #52343

This appears to be working correctly now:

![image](https://user-images.githubusercontent.com/14988353/116948284-5551f700-acc2-11eb-8e5e-539002f510f4.png)

I believe this was a regression in Gutenberg v10.5.0 RC 1 reported in https://github.com/WordPress/gutenberg/issues/31070 and resolved in https://github.com/WordPress/gutenberg/pull/31073. I double checked on my test si

[2021-05-04 00:21] #52345 closed, assigned to andrewserong

[2021-05-04 00:26] DanielSmithMichigan commented on #17686
I think the steps to reproduce may be simpler than what is stated here:

1. On a new site with a business plan, add a plugin (ex: WooCommerce)
2. Wait until it's done
3. Navigate to a new plugin page
4. Install button is missing

https://user-images.githubusercontent.com/10274366/116948229-dec6e200-ac4c-11eb-87c6-26923b0600cc.mov

[2021-05-04 00:36] DanielSmithMichigan opened #52540 "Back button missing after installing plugin"
### Steps to reproduce the behavior

1. On a newly created business site, install the WooCommerce plugin
2. Wait until installation completes
3. Observe that the 'back' button is missing

https://user-images.githubusercontent.com/10274366/116948778-66612080-ac4e-11eb-8a1b-70ddf3083c8b.mov

[2021-05-04 01:41] kosiew commented on #51787
#3957016-zen
The ticket contains several followers who lost the site and had to refollow several times.

Customer requested to be updated when this issue resolves.

[2021-05-04 01:41] andrewserong commented on #52346
Similar issue to #52345

This appears to be working correctly now:

![image](https://user-images.githubusercontent.com/14988353/116952158-4c1a5780-accd-11eb-915d-9c16b1f0531c.png)

I believe this was a regression in Gutenberg v10.5.0 RC 1 reported in https://github.com/WordPress/gutenberg/issues/31070 and resolved in https://github.com/WordPress/gutenberg/pull/31073. I double checked on my test si

[2021-05-04 01:41] #52346 closed, assigned to andrewserong

[2021-05-04 01:54] katiebethbrown commented on #52209
Another report in 17894378-hc

Simple site. User editing in wp-admin. Asked for more detail but they left.

[2021-05-04 02:23] happychait opened #52542 "Publication: VideoPress doesn't load the HD version of the video on the Publication theme."
### Steps to reproduce the behavior

1. Activate Publication theme.
2. Add a VideoPress video to any page.
3. While the video is playing, you can right-click the VideoPress player to open the file directly. Use this to test which file was loading.

#### What I expected to happen

With the HD toggle enabled the VideoPress player, VideoPress should load the HD version of the video file like `..._mp4

[2021-05-04 03:15] autumnfjeld commented on #50489
@ollierozdarz  @jeffgolenski  Would this be in the My Home pod scope?  We are not sure if this is pre-launch or post-launch.

[2021-05-04 03:33] kangzj opened #52543 "Jetpack Search Setting: Disabling 'Enable Jetpack Search' doesn’t stick on simple sites"
### Steps to reproduce the behavior

1. Open a wp.com simple site with Jetpack Search plan
2. Go to Settings -> General -> Performance
3. Click the toggle to disable Jetpack Search
4. Refresh the page

#### What I expected to happen
The toggle stays unchecked after reloading the page.

#### What actually happened
The toggle is still checked after reloading the page. It seems the option jetpack_sea

[2021-05-04 03:36] autumnfjeld commented on #44537
@kwight closing this. :)  fixed in #47375

[2021-05-04 03:36] #44537 closed

[2021-05-04 03:39] autumnfjeld commented on #44540
@taggon  We are triaging for Pod work and think this might fall into the Flow Patrol pod work.

[2021-05-04 03:40] autumnfjeld commented on #44535
@kwight  Can this be closed since #43496 is closed?

[2021-05-04 03:42] #44535 closed

[2021-05-04 03:42] #44534 closed

[2021-05-04 03:48] autumnfjeld commented on #42910
Flakey e2e tests have been removed, so closing this.

[2021-05-04 03:48] #42910 closed

[2021-05-04 03:50] autumnfjeld commented on #44291
@deBhal confirms this is fixed.

[2021-05-04 03:50] #44291 closed

[2021-05-04 03:58] roo2 commented on #42495
closing in favor of https://github.com/Automattic/wp-calypso/issues/50757

[2021-05-04 03:58] #42495 closed

[2021-05-04 04:31] deBhal commented on #41898
The card is [here](/Automattic/wp-calypso/blob/trunk/client/my-sites/customer-home/cards/tasks/webinars/index.jsx): `client/my-sites/customer-home/cards/tasks/webinars/index.jsx` but it didn't turn up in my list when I dismissed all the cards, so it looks like the task here is to find the mechanism that determines which cards are shown and add the webinar into the rotation.

[2021-05-04 04:45] autumnfjeld commented on #41898
Getting up to speed on these kinds of things will be really helpful for informing design of what's "easy" to control in terms of content.

[2021-05-04 05:17] kangzj commented on #52543
[code]
It looks more of a business logic question than a bug.

[2021-05-04 07:41] devNigel opened #52546 "Obsidian: Button Blocks color settings are not reflected on live page."
Button block color settings are not reflected on the live page with the Obsidian theme both on Simple and AT site. Was not able to reproduce the issue with other themes.

### Steps to reproduce the behavior

1. Open a page or post in the editor.
2. Add buttons block.
3. Customize the color and background settings of the button.
4. On the live page, the color updates are not reflected.

#### What I

[2021-05-04 07:44] cpapazoglou commented on #51435
Thanks for following up @msilbers! You are right, they are different features. I got confused by the "Share" link 😞!

[2021-05-04 07:49] david-szabo97 commented on #51887
Anything that I need to do to reproduce this?

Inserted a Calendar block to the Footer template part and the template itself too, both work fine.

[2021-05-04 08:43] Aurorum commented on #47595
Was this fixed by #52055? I can't seem to reproduce it anymore.

[2021-05-04 08:56] jsnajdr commented on #47595
@Aurorum Yes, #52055 implemented the solution I proposed in https://github.com/Automattic/wp-calypso/issues/47595#issuecomment-770639660 -- `<BodySectionCssClass />` now owns all the `is-section-*` CSS classes.

But the `is-white-signup` CSS class will still stay on `<body>` even after navigation to `/home`. That shouldn't be an issue though: all rules, except one, are in the form `.is-section-sig

[2021-05-04 08:58] simison commented on #52192
I think we should assume nobody installs this on .org since it's not really optimized for that (it has things like .com plans grids, launch flows, coming soon pages, and such).

As for code publicity, wpcomsh is totally visible on all Atomic sites, hence public already. :-)

[2021-05-04 10:17] galakhyati commented on #45586
@yoavf another report found here: 29389857-hc

Wix site they are importing from: https://www.boomelectrical.com

https://user-images.githubusercontent.com/7382505/116989403-50576c80-acef-11eb-9564-e655ed9871ac.mp4

[2021-05-04 11:26] WunderBart commented on #52326
Good question! I do share that concern. IMO, the closer we simulate our actual user interaction the better. With the animations on, we're actually testing them (which kinda makes me think that testing the app **without** animations would be a whole separate test case). And since we're recording videos, in case of any failure we could easily verify if the animations are OK.
The `clickWhenClickable`

[2021-05-04 11:27] david-szabo97 commented on #51887
**UPDATE:** It shows a blank line because there are no posts on the site. So the calendar returns nothing in the editor. But for some reason, it renders the calendar on the frontend 🤔

[2021-05-04 11:29] lynnbgriffith commented on #52326
As long as the helper is working reliably, I’m totally fine with that. If it turns out to be a barrier to people writing reliable tests, though, I think the trade-off of using reduce motion would be a worthwhile one.

[2021-05-04 12:06] carinapilar commented on #51787
User came back on 29394594-hc for an update, and mentioned:

Their account's RC shows lots of subscribed/unsubscribed actions.

[2021-05-04 13:10] JoshuaGoode commented on #52520
Due to the restrictions Private on Atomic places right now, this is somewhat expected. Private is quite overbearing which is why Coming Soon v1 was replaced with v2 and also why we no longer set Atomic sites to be private by default.

Private deactivates many modules and prevents Photon from working properly.

#### Possible solutions

I suppose a workaround might be to deactivate the Photon subsiz

[2021-05-04 13:36] msilbers opened #52556 "Stats: Insights missing days of views, or taking a long time to update"
### Steps to reproduce the behavior

1. Go to Stats > Insights
2. Scroll to Views
3. Compare to Monthly views for previous month
4. We have many reports of these not adding up (see screenshots below)

### Context

p56BUd-nh-p2 has multiple reports
3953662-zen
3924210-zen
3918071-zen
3902502-zen
3901537-zen
3894897-zen
3894972-zen

#### Does this happen on simple or atomic sites or both?
Both

####

[2021-05-04 13:36] mikeicode commented on #51040
Can only edit the Poster image from Calypso also. 29396173-hc

[2021-05-04 14:14] mreishus commented on #52527
I also made a site with `/new` and choosing the "[Brice](https://github.com/Automattic/wp-calypso/blob/87083962f859b79de269733f89ed1f0eb4e576cf/packages/design-picker/src/available-designs-config.json#L149-L161)" design. When I was done, I visited Appearance -> Themes and the "Mayland" theme was selected, which confused me, because my site looked completely different from the Mayland thumbnail.

[2021-05-04 14:18] sixhours opened #52561 ""Launch" button is confusing"
Upon signing up for a new site, I'm dropped into the editor. I dismissed the welcome tour because I would do that normally, so I don't have much context about how my site exists in the system yet.

I'm presented with these actions at the top right:

<img width="365" alt="Screen Shot 2021-05-04 at 10 10 10 AM" src="https://user-images.githubusercontent.com/2124984/117017404-91d12300-acc1-11eb-82da-

[2021-05-04 14:29] mreishus opened #52562 "Customizer: Using the color customizer sometimes removes colors"
### Steps to reproduce the behavior

1. Go to `/new` and create a site using the Edison design.
2. Visit the customizer
3. Click colors & backgrounds
4. Click on the light blue color circle which matches the text of the blog title in the top left, the text of "Home" in the top right, and the underline under "Home" in the top right. It should read "Secondary Color"
under the 5 circles.
5. Click the

[2021-05-04 14:33] mreishus commented on #52562
I discovered that the Primary Color actually controls the text of the title and "home" text. But, out of the box, the primary color is black, but those elements are blue. Maybe a theme or design issue?

[2021-05-04 14:33] sixhours opened #52563 "Customizer: How do we present one-page themes?"
It appears one-page themes have a special set of Content Options in the Customizer that hide some of the things we don't want enabled by default:

<img width="298" alt="Screen Shot 2021-05-04 at 10 11 11 AM" src="https://user-images.githubusercontent.com/2124984/117016984-3f900200-acc1-11eb-9bff-c103abb0fc5f.png">

This introduces a lot of confusion when you get to the Customizer. It's better expl

[2021-05-04 14:39] sixhours opened #52564 "Theme Showcase: Theme switch modal window"
This modal is a wall of text, and I find it intimidating/a little scary. I have to read the options carefully to make sure I understand what's happening here, and I'm still not sure I do. The cognitive load factor is high.

<img width="509" alt="Screen Shot 2021-05-03 at 5 41 12 PM" src="https://user-images.githubusercontent.com/2124984/117020519-816e7780-acc4-11eb-9457-a88c657f5bd9.png">

1. Go t

[2021-05-04 14:49] sixhours opened #52565 "Theme Showcase: Better fit description content on single theme views"
### Steps to reproduce the behavior

1. On a Business or eCommerce site, install a new theme by going to Appearance -> Themes -> Install theme
2. Upload a theme ZIP file like Go from GoDaddy (here: https://wordpress.org/themes/go/)
3. Go back to Appearance -> Themes and click on the Info button on the right, under to Current Theme
4. You'll be brought to the theme info page:

<img width="1665" alt

[2021-05-04 15:19] WunderBart commented on #52442
It looks like the success notice doesn't always pop up after applying the coupon:

![image](https://user-images.githubusercontent.com/1451471/117027208-c7473200-acfc-11eb-9ec5-efba8c29e859.png)

The test is trying to dismiss it (IMO unnecessarily) and it fails since it's not there. The question is whether we want to handle/ignore it in the test or if we should actually fix the notice to appear 100

[2021-05-04 15:24] cpapazoglou commented on #52368
I created a POC of `free to paid` upsell nudges being displayed to WP Admin of Simple sites D60968-code

![](https://cln.sh/UXlY4b+)

[2021-05-04 15:27] sixhours opened #52566 "Theme Showcase: Advanced themes section is unbalanced for Atomic sites"
### Steps to reproduce the behavior

1. On a Business site with some custom themes installed...
2. Go to the Theme Showcase at `/themes`
3. Scroll down, and click "Show all themes"
4. Depending on how many themes you have installed and whether you have WooCommerce active, the grid will be off, with the installed/previously active themes at the top, followed by some whitespace, and a list of the av

[2021-05-04 15:31] sixhours opened #52567 "Theme Showcase: Advanced section is "alot""
<img width="1376" alt="Screen Shot 2021-05-04 at 11 22 27 AM" src="https://user-images.githubusercontent.com/2124984/117028500-c518af80-accb-11eb-9bd5-992356d75557.png">

When you go to Appearance -> Themes and click "Show all themes", you get a *lot* of content.

How many people make it this far in the flow?

How often do folks follow through with the "Let Our WordPress.com Experts Build Your Sit

[2021-05-04 15:33] supernovia commented on #52556
We have some cases here:
https://wordpress.com/forums/topic/insights-is-undercounting-views/

@kosiew thought it might be a lag. I'm also suspecting a lag since my users said their previous month's stats seem more accurate now.

[2021-05-04 16:01] ianstewart commented on #52527
@simison and I started talking about this issue in Slack I think there are some issues here to figure out from the onboarding side. (Let's keep the Design Selection label here for now though.)

[2021-05-04 16:04] mreishus opened #52568 "Theme Showcase: Idea: Show Theme Purpose on top level"
It actually took me a while to realize that some themes were build with a particular type of site in mind (For example, the Spearhead theme is created for podcast sites). I initially thought a theme was just a visual look that could be repurposed for any type of site.

As I browse themes, I can hover over the theme and read the alt text to see what its purpose is.
![2021-05-04_11-01](https://user-

[2021-05-04 16:05] ianstewart commented on #52124
Added the design selection label here as we're taking a look at some issues and wanted to capture this one. (I may recommend another Pod picks it up later, however.)

[2021-05-04 16:11] ianstewart commented on #40245
This seems like a regression and somewhat related to the following issues …

https://github.com/Automattic/wp-calypso/issues/51335

https://github.com/Automattic/wp-calypso/issues/51332

[2021-05-04 16:14] ianstewart commented on #52478
@jeffikus is this a theme bug?

[2021-05-04 16:20] ianstewart opened #52571 "Template Editor Tracking"
Let's make sure we have Tracking for the Template Editor that will be available from in the Gutenberg Plugin from 10.5.2 onward.

- [ ] Clicks on any of the UI.
- [ ] Templates created via UI.
- [ ] Ability to filter block usage by templates created via UI.
- [ ] Publish/edit stats for templates created via UI.
- [ ] Ability to filter sites in stats that have created templates using the UI.

**Not

[2021-05-04 16:23] vindl commented on #52571
Just a follow-up note that this will be hidden on Simple sites and WoA for now, most likely until it lands in core.

[2021-05-04 16:24] gwwar commented on #41898
Please see documentation in PCYsg-qpk-p2 (and child pages), there's also a development mode documented at PCYsg-qqj-p2

[2021-05-04 16:30] ianstewart commented on #49963
@kwight marking this one as Design Selection. Looks like Obenland just needs a review from someone to close this one out.

[2021-05-04 16:45] ianstewart commented on #52203
@jeffikus is this a theme bug?

[2021-05-04 17:16] kwight commented on #50176
Hi @pendantry , thanks for the report. I can see what you mean – it is very... real-time. 😄  There is a mechanism that holds the refresh until you stop typing, but as you note, it can be triggered pretty quickly.

Just to be sure you're not seeing a bug beyond the core WordPress behaviour, can I ask what theme you're using on your site? If you do have a video, or gif, that would be super helpful t

[2021-05-04 17:48] sixhours commented on #52528
It looks like the Global Styles are active in the menu for non-Atomic sites, or maybe non-Ecommerce sites, because I do see that menu when I create a new simple site. That said, it's one icon of many in that toolbar and still not very easy to find. :)

[2021-05-04 17:58] michaeldcain commented on #52259
Confirmed that it's tracked in the card above. I'm going to close this issue.

[2021-05-04 17:58] #52259 closed, assigned to nobody

[2021-05-04 18:03] michaeldcain commented on #52064
@victorespigares: this sounds like it might be a nice consideration for multi-site plans.

[2021-05-04 18:06] sixhours commented on #15833
What's the problem we're solving by doing that?

Is it a selling point for attracting more business? Bragging rights?

It feels like a statistic that's more important to us than to end users, but I could be wrong.

[2021-05-04 18:08] metabreakr commented on #50928
Reported in 23234992-hc (simple).

Browser: https://www.whatsmybrowser.org/b/IAPSQ

[2021-05-04 18:16] #52524 closed, assigned to nobody

[2021-05-04 18:18] retrofox commented on #51327
Could you provide a simple UI design for this purpose? I mean how we should do this?

[2021-05-04 18:19] kelasante commented on #44263
#27800257-hc - another request to publish a post without notifying subscribers

[2021-05-04 18:54] ianstewart commented on #51534
Just passing through and noticed this was still open. Closing.

[2021-05-04 18:54] #51534 closed, assigned to nobody

[2021-05-04 18:56] ianstewart commented on #51248
@jeffikus is this an All-Themes issue relating to our Custom Colours work?

[2021-05-04 18:59] ianstewart commented on #50209
@jeffikus is this a theme issue?

[2021-05-04 19:17] kwight opened #52574 "Themes: Consider adding a dedicated "gallery theme"."
We don't seem to have a good theme to build upon if the user is hoping to create a "gallery site": many images and pages representing artwork, that could be sold.

See: p8hWIX-3Bp-p2

[2021-05-04 19:32] #52443 closed, assigned to scinos

[2021-05-04 19:33] sixhours commented on #52562
Maybe related to #52533

[2021-05-04 19:49] jeffgolenski commented on #50489
@autumnfjeld thanks for surfacing this. @kwight brings up excellent points. 1) There's no indication of how many cards will display. 2) There's no clear way to resurface cards on demand if they hide them.

We have a flow for Jetpack that I designed that we may be able to adopt some patterns from which _may_ help. We display recommendations that customers can accept or dismiss with "not now" action

[2021-05-04 19:50] sixhours opened #52576 "Menu: How do you know"
The Navigation menu blocks offer several options, the most prominent is using an existing menu:

<img width="755" alt="Screen Shot 2021-05-04 at 3 31 02 PM" src="https://user-images.githubusercontent.com/2124984/117059898-4ed97480-acee-11eb-98f2-da29c9d870bd.png">

But for a brand new site, there's no reference to where that "Primary" menu came from, or how to change it. And in this case, the only

[2021-05-04 19:56] kwight commented on #52535
Closing for #51530

[2021-05-04 19:56] #52535 closed, assigned to nobody

[2021-05-04 20:01] DavidRothstein commented on #51832
I think it's the same as pNPgK-4ZM-p2 actually.  Or at least, that was the only way I could reproduce it -- specifically, if you cancel the plan and domain at the same time, everything works fine.  But if you cancel the plan first and then cancel the domain **after**, that's where you miss out on the second refund (the one for the domain).

In any case, I'll leave a comment on that internal issue

[2021-05-04 20:06] ianstewart commented on #37658
That seems like the simplest fix. Or finding an existing one at least and linking to it.

[2021-05-04 20:08] DavidRothstein commented on #51832
Done.  I'll close this issue now, since we're tracking it elsewhere and it's not a Calypso issue.

[2021-05-04 20:08] #51832 closed, assigned to nobody

[2021-05-04 20:12] kwight commented on #52564
I'm inclined to call it low priority – except when the confusion is maximum for the Blank Canvas theme ("I thought it was blank?!...").

<img width="590" alt="Screen Shot 2021-05-04 at 12 31 43 PM" src="https://user-images.githubusercontent.com/349751/117063892-4f681000-acda-11eb-9031-c9ca8854f71c.png">

[2021-05-04 20:13] DavidRothstein commented on #52064
There is probably room for some enhancements here.  But the general use case should be achievable now, because you can have multiple administrators on a site, and administrators can own and buy upgrades (https://wordpress.com/support/user-roles/#administrator).

So it should be possible to have a separate WordPress.com account for the billing email address, have that account be an administrator on

[2021-05-04 20:19] vindl commented on #51057
Thanks @creativecoder. I can confirm that this is no longer the case on my end and that the link points to `site-editor/{site}`. I'm pretty sure that I didn't have "Show wp-admin pages if available" setting on at that point (I didn't know it existed at the time). 😄

[2021-05-04 20:19] #51057 closed, assigned to creativecoder

[2021-05-04 20:51] kwight opened #52580 "Signup: Consider a newer default theme than Hever."
Hever is the theme assigned to all new signups – since all new signups go through our pre-Gutenboarding flow that gives the user no choice over design.

<img width="1408" alt="Screen Shot 2021-05-04 at 1 50 26 PM" src="https://user-images.githubusercontent.com/349751/117068137-bb994280-acdf-11eb-8e60-cf07048380b5.png">

Let's consider a newer theme, with more vibrant imagery – something a little m

[2021-05-04 21:00] ianstewart commented on #42182
@jeffikus is this issue part of the ongoing custom colours work?

[2021-05-04 21:00] kwight opened #52581 "My Sites: Consider linking to the current front-end site instead of the default site."
If I am on the front-end of a site of mine that is not my default site, I would expect that clicking on "My Sites" in the Masterbar would take me to My Home of the site I was just on – not the default site. This can cause confusion as I'm given menu items and settings not consistent with what I was expecting.

[2021-05-04 21:12] kwight opened #52582 "Customizer: Users have no path to edit the content."
We have this split responsibility of editing that is frustrating for (many? most? all?) users: content is edited in the block editor, while everything else is in the Customizer (or various WP Admin screens or settings). A user should be able to look at an element they want to change, and be able to easily change it (or, at least, get to where they can change it).

When in the Customizer, there is

[2021-05-04 21:20] ianstewart commented on #39588
@davipontesblog is this still reproducible and if so should it be moved to the Themes repo for maintenance?

[2021-05-04 21:21] ianstewart commented on #43232
@kwight or @obenland does the Dotcom themes api surface collections of themes by authors in any way?

[2021-05-04 21:26] kwight commented on #52582
I can see two blunt solutions: direct manipulation for each block, that links to the block editor (maybe just every "top-level" block I guess?), and a sidebar panel menu item that loads the current view in the editor.

| DM | Menu Item |
| --- | --- |
| <img width="800" alt="Screen Shot 2021-05-04 at 2 21 58 PM" src="https://user-images.githubusercontent.com/349751/117071806-6f9ccc80-ace4-11eb-88a

[2021-05-04 21:26] ianstewart commented on #21075
Adding this to the Design Selection program we're looking at for issue triage. Sounds fixed-ish? But we should test it. :)

[2021-05-04 21:32] ianstewart commented on #40310
Looping back to this one. (Hi, Lance. Apologies that the PR got stale Aurorum!) I think the modal in the PR is missing a Learn More link so that users can learn more about the "why" and the original more definite text? Checking to see what we have for docs on retired themes to link to.

We have https://wordpress.com/support/themes/ but that could use a refresh.

Edit: That's the page. :) Needs a r

[2021-05-04 21:37] kwight opened #52583 "Customizer: Revisit decision to disable the theme switching preview on WP.com."
Core WordPress has a feature in the Customizer to preview different themes on the content directly within the Customizer. This is disabled on WP.com, I think... because of performance? Let's consider revisiting that decision; maybe those concerns are no longer relevant, or our focus on promoting certain kinds of forward-looking themes means we could limit the available themes to a handful.

![twen

[2021-05-04 21:37] blackjackkent opened #52584 "Theme Showcase: "Blog" subject doesn't have very useful previews"
Poking around the theme showcase from the perspective of someone trying to set up a blog, selecting a theme is a little frustrating if you do not need/want your site to have a homepage. Pretty much none of the themes that are earmarked as "Blog" as a subject have a preview that gives any indication of what an actual blog post or list of posts looks like in the theme. I'm not sure how automated the

[2021-05-04 21:42] jeyip commented on #51200
Potential fix D60951-code that changes migration code to adjust theme paths on atomic revert

[2021-05-04 21:43] blackjackkent opened #52585 "Site Customizer: Should offer font pairing suggestions"
In the Gutenboarding site creation flow, we offer font pairing suggestions for users to ensure they have heading and body fonts that work well together. This always struck me as very helpful (as for me personally, font selection is an abject mystery which also has a huge impact on the success or failure of a site's design.) We should offer similar info to a user using the Customize tools to update

[2021-05-04 21:45] kwight opened #52586 "Editor: Provide a direct path to the Customizer."
When a user ends up in the block editor (intentionally or unintentionally), and wants to edit any aspect of their site managed by the Customizer, they have no direct path to that tool (nor any hints of how to get there otherwise). Let's consider adding a path in some way.

[2021-05-04 21:47] blackjackkent opened #52587 "Site Customizer: AMP tools could use clarification"
For a non-technical user, there is not really any indication or explanation as to what AMP is or why it might be useful for them to customize a design for it.

![image](https://user-images.githubusercontent.com/13437011/117073849-25bde180-acf8-11eb-827b-891a47c6db65.png)

(Compare this to the CSS customizer tab, where we have links to support documents to learn more about the subject:
![image](htt

[2021-05-04 21:47] kwight commented on #52586
I dunno – add a menu item to the Editor section? It would be (somewhat) discoverable, without adding something to the main UX view. ¯\_(ツ)_/¯

<img width="496" alt="Screen Shot 2021-05-04 at 2 43 51 PM" src="https://user-images.githubusercontent.com/349751/117074059-b2ac6f00-ace7-11eb-9358-b3357aa3c9d4.png">

[2021-05-04 21:53] kwight opened #52588 "Signup: Give users a way to remove all dummy content."
Headstart populates a new site with dummy content, to help the user visualize the theme's possibilities. If, however, a user just wants to start from scratch, they have to manually remove all of that content themselves.

Headstart already has functionality that would allow various UIs for this (there's already a "make your site look like the theme" section live on `wpcalypso.wordpress.com` that us

[2021-05-04 21:54] blackjackkent opened #52589 "Site Creation: Free domain option not obvious"
Several times, a while before I started at Automattic, I tried to create sites on WPCOM and bailed out of the process multiple times because I wanted to start with a free x.wordpress.com site and not buy a domain, and it was not obvious to me that I could do so at all.

(I eventually figured it out, but it took me three or four tries of bailing out of the process in frustration - not a great exper

[2021-05-04 22:01] kwight commented on #43232
Hm, good question – some sort of badge or filter would certainly make it easier.

[2021-05-04 22:03] kwight commented on #49963
@ianstewart I've added it to our review column. 👍

[2021-05-04 22:11] #52405 closed, assigned to nobody

[2021-05-04 22:53] DanielSmithMichigan opened #52590 "After page edit: not obvious what "Launch" does"
<img width="838" alt="image" src="https://user-images.githubusercontent.com/10274366/117079805-88b87400-ad0a-11eb-8972-ac7a4f5f6158.png">

**Context:**

Blog is private. User is editing a page and wants to save their changes. Options at the top of the page are "Update" and "Launch." If the user is not aware of the difference between a "public" and a "private" blog, then it's not clear which button

[2021-05-04 23:25] DanielSmithMichigan opened #52591 "Try & Customize option missing on Recommended Themes"
<img width="396" alt="image" src="https://user-images.githubusercontent.com/10274366/117081606-38431580-ad0e-11eb-90b3-df832ec5c46e.png">

<img width="401" alt="image" src="https://user-images.githubusercontent.com/10274366/117081617-3ed18d00-ad0e-11eb-815f-5fc5d1d13d78.png">

### Steps to reproduce the behavior

1. Go to theme selection page
2. Find a recommended theme
3. Click the 3 dots
4. Noti

[2021-05-04 23:29] DanielSmithMichigan opened #52592 "Theme Showcase: Make it easier to see my own content in the theme previews"
<img width="406" alt="image" src="https://user-images.githubusercontent.com/10274366/117081878-e0f17500-ad0e-11eb-8a0c-126648a30814.png">

I would like to optionally see my own content instead of the demo content in these theme previews.

Alternately, if we could make it easier to try out a lot of different themes, I think that might be helpful.

Possibly related issue: [Try & Customize option mis

[2021-05-04 23:44] DanielSmithMichigan opened #52594 "Feature Request: More tooling to control image dimensions when cropping site logo."
Context: I've selected a theme such as "Spatial." I've clicked "Select logo" from within customizer. I selected a pre-existing image and now I'm cropping that image.

Any/all of these options might help out in this process:
1. Specify a width/height
2. Specify a ratio of width to height
3. Lock the aspect ratio so that my cropped region is a square
4. Let me preview the site as I'm cropping the im

[2021-05-05 00:55] fullofcaffeine opened #52595 "Gutenberg: v10.6.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/51997
Release notes: [v10.6.0-rc.1](https://github.com/WordPress/gutenberg/releases/tag/v10.6.0-rc.1), [v10.6.0](https://github.com/WordPress/gutenberg/releases/tag/v10.6.0), [v10.6.1](https://github.com/WordPress/gutenberg/releases/tag/v10.6.1), [v10.6.2](https://github.com/WordPress/gutenberg/releases/tag/v10.6.2).

- [ ] Install

[2021-05-05 00:56] fullofcaffeine commented on #51997
Next one: https://github.com/Automattic/wp-calypso/issues/52595.

[2021-05-05 01:18] roo2 opened #52596 "When "WordPress.com Editing Toolkit" plugin is deactivated, site becomes public but settings page still shows launch button"
Originally reported in https://github.com/Automattic/wp-calypso/issues/48316

Coming soon is dependent on the full site editing plugin to work, but in atomic sites it is possible to deactivate the ETK plugin. In this scenario, the site will be public but the settings page UI indicates that the site is still "unlaunched"

We did discus this side effect of using the ETK to implement coming soon v2 p

[2021-05-05 01:19] roo2 commented on #48316
closing in favour of https://github.com/Automattic/wp-calypso/issues/52596 for the case where the ETK has been deactivated

[2021-05-05 01:19] #48316 closed, assigned to roo2

[2021-05-05 02:11] roo2 opened #52598 "Fix getting the `localeSlug` in the ETK"
### Issue

### Incorrect localeSlug on atomic sites

Currently in the ETK, when we want to get the `localeSlug` (for example to localize a url) we get it from the wordpress [`determine_locale`  function ](https://developer.wordpress.org/reference/functions/determine_locale/)

On wordpress.com this returns two character locales such as `fr`
on wordpress.org (atomic), it returns [POSIX](https://en.w

[2021-05-05 02:25] brandonpayton opened #52599 "Editing Toolkit Fatal on WoA sites: Calling non-existent get_blog_details() function"
### Steps to reproduce the behavior

1. Pick a WordPress.com-on-Atomic (WoA) test site
2. Open the post editor
3. Use WP-CLI access to list php-errors on the site via `wp php-errors`
4. See the fatal error logging like:

[code]

#### What I expected to happen

The editor would hit the site's `/wp-json/wpcom/v2/block-editor/nux?_locale=user` endpoint, and the endpoint would not fatal.

#### What ac

[2021-05-05 02:52] deBhal commented on #52598
+1. This gets super confusing on atomic sites. We've got `client/lib/i18n-utils`, `@automattic/i18n-utils` and ` @wordpress/i18n` (Gutenboarding even has it's own `locale-context` module too).

I'd love to see this issue addressed by extending the `@automattic/i18n-utils` scope to explicitly include atomic (arguably already covered by `and packages` in the README).

This would mean breaking the ca

[2021-05-05 03:10] #52085 closed, assigned to deBhal

[2021-05-05 03:39] p-jackson commented on #47334
@jeffgolenski just another data point to pile on the list of things to consider. In particular this sentence I think:

Having a task that drops users in the customiser doesn't feel like something we want, but also this ^^^

[2021-05-05 03:41] kosiew opened #52600 "Third consecutive separator block displays with double line"
### Steps to reproduce the behavior

1. Create new post
2. Click on + at the top left corner
3. Double-click on Separator block
4. On the third, it displays with 2 close thin lines

#### What I expected to happen
All separators have the same display

#### Screenshot

![Screenshot](https://d.pr/i/jtN3Vp+)
*if image does not load, please click on this link  : https://d.pr/i/jtN3Vp*

Reported in #395

[2021-05-05 03:51] p-jackson commented on #47759
So it looks like this difference between wep and desktop is by design. [The rationale was described above](https://github.com/Automattic/wp-calypso/issues/47759#issuecomment-785274464).

I think it makes sense to track this work in #47965 which already on the desktop app team's board and is labeled as a Feature Request, which I think is more appropriate.

[2021-05-05 03:51] #47759 closed, assigned to p-jackson

[2021-05-05 04:56] nagpai opened #52605 "Video Block: Include settings to resize video"
### Steps to reproduce the behavior

Add any video on your site using the Video block. (videos hosted with VideoPress)

#### What I expected to happen
I would like to see a block setting to edit the size of videos. It currently enforces full size.

#### What actually happened
It is currently not avaiable and users need to do the roundabout method of creating shortcodes and then using Shortcode blo

[2021-05-05 04:56] donalirl commented on #51189
Another case in #29409185-hc where a user could not set the site to private.

[2021-05-05 05:58] jordesign commented on #47604
This seems still relevant _if_ the current structure of My Home and the task list are retained. But possible we won't need to worry about it depending on changes that may happen to the checklist itself based on @jeffgolenski's work.

I'd place this as pretty low priority till we have firmer plans.

[2021-05-05 06:01] jordesign commented on #48804
This is a great idea - in terms of making it easier to point users to QS sessions.

Whether or not that upsell _should_ be shown here seems as though it is part of the bigger discussion around priorities for My Home and what prompts/banners we should be showing more broadly.

I suspect that part of the Back to Basics: My Home pod's work could/should be to seek some clarity around that prioritisati

[2021-05-05 06:06] jordesign commented on #47334
Agreed we need alternative guidance - adding and editing menus is a very high frequency question for HEs and something that is really unclear for users _unless_ we point them there somehow.

If we can have items be conditional like that - it seems like a BIG win

With Nav Unification - we now have Appearance > Menus _much_ more visible now. Perhaps we could be pointing user's there instead of the

[2021-05-05 06:08] jordesign commented on #44915
I like the idea of a prompt about the domain the site would be launching with here. Would be good for the My Home Pod to consider this.

[2021-05-05 06:09] arunsathiya opened #52606 "Google Workspace: Improve illustration on cancellation flow to indicate that access is not actually lost"
### Steps to reproduce the behavior

- Start with a Google Workspace license purchased on WordPress.com.
- Visit https://wordpress.com/me/purchases and initiate a cancellation process.
- Notice that the cancellation process shows that all access would be lost.

#### What I expected to happen

From our end as a reseller of Google Workspace services, user's license is cancelled, but the user receive

[2021-05-05 06:11] jordesign commented on #41896
I don't know if this is the _right_ solution - but it would definitely be good to highlight the current Front-Page setup and provide a link/instructions on how to change it somewhere.

[2021-05-05 06:43] kristarella commented on #36622
Received another report 3960932-zd

[2021-05-05 06:48] razvanpapadopol commented on #44684
This one is still relevant for now. It will be picked up or closed depending on the codebase where we'll decide to consolidate the onboarding flow. See pbAok1-29O-p2

[2021-05-05 06:51] razvanpapadopol commented on #46752
@hambai, @davipontesblog, can we close this one now?

[2021-05-05 08:11] claudiucelfilip commented on #52020
WP AMP 2.0.5 upgrade for Simple Sites has been deployed 🎉 :  D60522-code
The auto-sizing functionality should be working now on AMP.

[2021-05-05 09:33] #52442 closed, assigned to WunderBart

[2021-05-05 09:40] niranjan-uma-shankar opened #52608 "Domain-only flow: Back button not working on the theme selection step"
### Steps to reproduce the behavior

1. Go to the domain-only flow - while logged out, visit https://wordpress.com/start/domain.
2. Select any domain and proceed to the next step.
3. In the "Choose how you want to use your domain.", select "New site"
4. In the "Choose a theme" step, select any theme or skip.
5. In the plans step, click on the Back button to reach the "Choose a theme" step. Now cli

[2021-05-05 09:44] niranjan-uma-shankar opened #52609 "Logged out pricing toggle: scrolls to top"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/pricing
2. Scroll down a bit and click on "Pay monthly" in the pricing toggle.

#### What happened

The page scrolls to the top

#### What I expected to happen

For the page to not scroll to the top

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

![pricingtoggle](https://user-images.githubus

[2021-05-05 09:51] niranjan-uma-shankar opened #52610 "Domain suggestions are not loaded when clicking Back from checkout page"
### Steps to reproduce the behavior

1. Signup as a new user from https://wordpress.com, select a paid plan and proceed to the checkout page
2. Click on the browser back button

#### What I expected to happen

To be taken to the domain step of signup flow with initial suggestions loaded. You can check the expected behaviour in p7DVsv-9p1-p2.

#### What actually happened

The domain suggestions are

[2021-05-05 09:59] niranjan-uma-shankar opened #52611 "Quick start purchase shows two success notices"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/start and signup as a new user.
2. Purchase a Personal plan in the signup flow, and after successful completion of the purchase, you should then be shown the Quick Start upsell.
3. Purchase a Quick Start session from the upsell page.
4. After successful completion of the purchase, you will be taken to Customer Home

#### What I ex

[2021-05-05 10:13] davipontesblog commented on #46752
Thanks for the ping @razvanpapadopol. I have moved the issue to the HE triaging board so we can test if this is still happening.

[2021-05-05 10:18] davipontesblog commented on #41896
I am in favor of adding the ability to toggle pages "on" and "off" as either static pages, or post pages, from the My Site > Pages in calypso. As detailed here: https://github.com/Automattic/wp-calypso/issues/42016

[2021-05-05 10:20] davipontesblog commented on #51189
@tjcafferkey is this an issue that can be picked up by the Simple-Atomic parity Pod? It's affecting a lot of users.

[2021-05-05 10:31] davipontesblog commented on #39588
I just tested this on a site with the Hever theme (Varia child theme) and it is happening in the Editor, but not on the front end:

https://user-images.githubusercontent.com/31009008/117127887-12039100-ad73-11eb-9119-9886137eaa8a.mov

It happens with the Columns block here, in both Wide and Full-Width alignments.

[2021-05-05 10:33] davipontesblog commented on #51787
@4thhubbard this one needs to be investigated more to truly understand the volume of impact in Dotcom. Could you assign it to a Pod to prioritize? I already checked with @kristenzuck and there is not a ton we can see from the data we have, but I believe it may be affecting a lot more users, and they are just not reporting it.

[2021-05-05 10:43] tjcafferkey commented on #51189
@davipontesblog typically for short term fixes in situations like this we have added a "General" and "Advanced General" for Atomic sites to differentiate between the two screens until we have solution for 100% feature parity on one screen.

I've added this to our iteration board to be picked up this afternoon where we will implement the same solution mentioned above.

[2021-05-05 10:47] davipontesblog commented on #51189
This is fantastic. Thanks for considering the implementation in such quick time Tom.

[2021-05-05 10:51] jordesign commented on #52567
+1 to this - I noted in my testing as well. There is SO much visual noise when you're already looking for a theme.

[2021-05-05 10:53] jordesign commented on #52586
I love this idea. In my testing I noted that while getting users straight into editing content is good - it means there is NO clear way to edit the 'design'/theme of the site from there.

I mentioned this in Slack - but a real world example was my wife starting a site - and wanting to be able to Add a logo and set up brand colors immediately. Without guidance - there is NO way to know how to do th

[2021-05-05 10:57] jordesign opened #52613 "Mixture of Page Layouts and Themes in onboarding can be confusing"
In Gutenboarding the Design Selection step contains a mix of designs which map directly to themes ('Design' title matches the theme used) and ones which don't ('Design' name is unrelated to any theme).

This causes confusion when a user has spotted one of the designs (like Gibbs or Bryce) and wants to use it later on. It means an HE has to find the theme used by the design - let them know to activ

[2021-05-05 11:36] simison commented on #51787
I brought it up at flow-patrol pod yesterday as well. 👍  cc @yansern @porada @taggon

A good example of an unowned issue; I'll mark it with high priority for now for visibility, as it can indeed be quite widely spread depending on what's the bug/cause. Feel free to lower priority if it seems a more obscure case.

[2021-05-05 12:05] jordesign opened #52615 "Allow Site Logo to be resized (after upload) in the Customizer"
A very common request which HEs provide CSS solutions for is to resize the Site Logo within the header.
User's like to be able to be specific about the overall size of the logo to ensure readability and overall balance.

Would it be possible to have an option within the customizer which allowed them to resize the logo (in position) after it has been uploaded. Something as simple a a 'max-width' fi

[2021-05-05 12:12] razvanpapadopol commented on #50298
@simison, does it make sense to bring this one on the backlog of the newly formed pod-signup? Or course, we'll probably reach out to @yansern when stuck.

[2021-05-05 12:27] simison opened #52616 "eCommerce: "WordPress dashboard" link first opens wp-admin home, then Calypso home"
On Atomic site with eCommerce plan, from the WooCommerce sidebar, it's possible to end up in wp-admin home instead of Calypso home. That's super confusing and affects our highest-paying customers.

### Steps to reproduce the behavior

1. Create new eCommerce plan site
2. Click on "WordPress dashboard" from the sidebar in WooCommerce

   <img width="525" alt="Screenshot 2021-05-05 at 15 22 59" src=

[2021-05-05 13:21] porada commented on #52609
Addressed in D61015-code.

[2021-05-05 14:13] razvanpapadopol commented on #51270
@yansern, do you want to work on the follow-up to enable the test or we take it to the Signup Pod?

[2021-05-05 14:15] yansern commented on #51270
Take it to the signup pod! TQVM! :)

[2021-05-05 14:48] leonardost commented on #52477
Hi there! There is already a delete domain button at the bottom of the action list, did it not appear when you tested?

![Annotation on 2021-05-05 at 11-47-16](https://user-images.githubusercontent.com/5324818/117160753-c3b4b900-ad97-11eb-9b8c-5c691315a6af.png)

[2021-05-05 14:51] kelliepeterson commented on #52477
There is a cancel option on this page, at the bottom. Canceling a domain is a very disruptive action and customers all too often take that action when what they really want to do is to transfer it away or turn off auto-renew. This is why the cancel option is at the bottom of the page and not at the top.

RE: PR #52486 this page is the MANAGE Domain page. The purchases page is where you would manag

[2021-05-05 14:55] porada commented on #52609
It’s [now fixed](https://wordpress.com/pricing).

[2021-05-05 14:55] #52609 closed, assigned to porada

[2021-05-05 14:56] sixhours commented on #44755
I've tried this flow and I'm able to preview and activate Varia-based themes in the Customizer. They don't look like the demos, but they activate as expected...

@ianstewart can you confirm we need to hide the Try & Customize button for Varia themes? I have a PR ready to go, but want to make sure I understand the "why" before I dig deeper.

[2021-05-05 14:58] david-szabo97 commented on #51887
**UPDATE:** Created a PR 31504-gh-WordPress/gutenberg  that adds an empty state to the block. Since the Calendar is only shown when the site has at least one post. Now I just need to figure out why the calendar is still rendered on WPcom when there are no posts on the site 🤔

[2021-05-05 15:04] mmtr commented on #51662
Prepared a fix for this in 678-gh-Automattic/wpcomsh and D61021-code.

[2021-05-05 15:28] kwight commented on #52205
I think this has come up before (maybe @davemart-in had a previous attempt?) – it's kinda sad we haven't gotten to this one. 🤔  @4thhubbard and @obenland for visibility, in case we can fit it in somewhere.

[2021-05-05 15:30] kwight commented on #52315
I'm understanding that this is expected behaviour then, and can be closed as such? (Not optimum behaviour, but not a bug requiring fixing at this point.)

[2021-05-05 15:43] kwight commented on #52487
This seems pretty serious, like it could block a user from adding any products – @Automattic/woo-happiness-leads should this be escalated to a Woo engineering team?

[2021-05-05 15:50] DanielSmithMichigan commented on #51702
I'm going to give this one a shot. 🤞

[2021-05-05 15:51] kwight commented on #52070
Any idea if this is specific to WP.com, or is it all Gutenberg instances?

[2021-05-05 16:00] jp-imagines commented on #16743
Another report here: 3955910-zd

Confirmed via browser console's network tab the same "Invalid account address" error as above. User's email on WP.com and in ZD don't exactly match; could that be related?

[2021-05-05 17:44] belcherj commented on #47926
We are working on a new version of the WordPress Desktop that will address some of these issues.

[2021-05-05 19:04] jinnypark commented on #52556
Another case from Jetpack user (self-hosted) in 3955402-zen.
Jetpack debug shows site sync is up-to-date.

[2021-05-05 19:25] ianstewart commented on #44755
- All the recommended themes can be used with the customizer.
- They all have the try and customize button in the demo.
- You can click on active ones in the theme list to customizer them.
- And Calypso has a customize link in the component that lists the active theme.
- One difference that they have is that many/all of them offer the option to open page editor to edit the home page in the after-a

[2021-05-05 19:29] ianstewart commented on #44755
If this is the case, is this expectation being broken with all our themes on Dotcom? I don’t think we’ll fix that issue with a removal of the button. I could see us potentially changing that flow so perhaps worth keeping open for now. Not going to "wontfix" this one because the flow _does_ seem confusing and could be improved.

[2021-05-05 19:53] ianstewart commented on #47334
+1. We may turn on the new navigation screen from core later as well.

Menus are really complex. The view tutorial link is really small. Perhaps the this checklist item (or most of them? or all of them?) should get users to view a tutorial instead of dumping them into confusing UI with complex mental models. Tutorials or tutorial completion events could be followed with a try it yourself link, per

[2021-05-05 19:57] ianstewart commented on #49963
Thanks!

[2021-05-05 19:58] ianstewart commented on #43232
We may want to also introduce badges (or something) and filters for Block Themes in the next month or so as well. Seems timely.

[2021-05-05 20:37] kristinaplauche commented on #52487
I'm no longer a woo-happiness-lead, but I got this ping, so I'm happy to find some help in Woo.  Pinging some Ohana members to take a look: @johndcoy @DustinHartzler or @jesscga as a woo lead.

[2021-05-05 20:37] scosgro opened #52625 "Atomic Reset: WooCommerce link on dashboard fails after a site has been reset."
### Steps to reproduce the behavior

1. Create a new Business Plan site.
2. Click on WooCommerce, and follow the prompts to install/activate/setup WooCommerce (which will make it AT).
3. Reset your AT site by using the reset tool on the revert page (Blog Report Card - Revert this site - Reset site).
4. Go back to the WooCommerce link on the dashboard. It will go to https://wordpress.com/woocommerc

[2021-05-05 20:39] JoshuaGoode commented on #52625
Internal Slack thread for context: p1620247076363200/1620245418.351200-slack-C03TY6J1A

Copying over some of my notes for posterity.

---

To reproduce, I took a site without Woo on it.

I installed it via the My Site > Woo button which took me to https://wordpress.com/woocommerce-installation/

Then, I reset the site and attempted to do it again.

Something thought that Woo was installed and acti

[2021-05-05 20:43] metabreakr commented on #30051
3962145-zen

[2021-05-05 20:46] vindl commented on #52170
Closed by https://github.com/Automattic/wp-calypso/pull/52391 for now. We can reopen when if we revise the approach later.

[2021-05-05 20:46] #52170 closed, assigned to vindl

[2021-05-05 20:57] kwight commented on #52568
Some options are corner banners or additional info – except we need to remember that themes in general are intended to be more general. Descriptions can certainly be improved.

[2021-05-05 20:58] JoshuaGoode commented on #52625
Looks like this installation path queries Jetpack plugin list for the site https://github.com/Automattic/wp-calypso/blob/7305058b3afba928d1b377c19443fb08023e7281/client/my-sites/woocommerce/main.jsx#L30

It'll pull the plugin list from whatever was last synced.

If the site was recently reset, it'll assume WooCommerce is still installed on the site until Jetpack has synced up to the new version of

[2021-05-05 20:59] kwight commented on #52568
Perhaps considering the filtering and search for the advanced themes being brought back for the recommended themes.

[2021-05-05 21:00] kwight opened #52626 "Themes: Consider retiring more themes."
We need to retire themes that don't properly support blocks, of which we don't intend to fix.

Examples:
* Radcliffe 2

[2021-05-05 21:03] kwight commented on #52626
We have about 200 themes, and we don't want to drop down much lower than that (and some of the free themes are not so good at block support).

[2021-05-05 21:05] kwight commented on #52566
We may just be missing a "installed themes" heading.

[2021-05-05 21:09] kwight commented on #14837
Slugs may be involved, needs more investigation.

[2021-05-05 21:10] kwight commented on #43108
This will remain lower priority while we focus on higher return issues and projects.

[2021-05-05 21:12] kwight commented on #15833
Theme counts can vary for people between their own sites, because of various cutoffs.

[2021-05-05 21:12] #15833 closed

[2021-05-05 21:15] kwight commented on #43337
It looks like this is dealt with. 👍

[2021-05-05 21:15] #43337 closed

[2021-05-05 21:22] metabreakr commented on #50740
24226051-hc / 3967023-zen

[2021-05-05 21:28] kwight commented on #37476
We've never heard issues of "too many steps to activate", but we've had reports of accidental activation. 🙃

[2021-05-05 21:35] kwight commented on #51332
For what it's worth, they do show up under the advanced themes section.

[2021-05-05 21:37] kwight commented on #51332
These could be better exposed to plans other than eCommerce.

[2021-05-05 21:43] kwight commented on #51590
We likely have logic somewhere saying "if on Atomic, you get all Premium themes!" – which is no longer the case with free plans on Atomic. 🙃

[2021-05-05 21:52] kwight commented on #52126
It might be best to consider starting with a small subset first (to be sure of the UX – changing content for others is scary).

[2021-05-05 21:56] scosgro commented on #52556
Another report on 3961054-zd

[2021-05-05 22:01] kwight commented on #52521
@Aurorum Let's stick to just this button change as a first step (the "Previous theme" button needs more thought) – thanks!

[2021-05-05 22:42] #51997 closed, assigned to nobody

[2021-05-05 23:27] DanielSmithMichigan commented on #51702
@mreishus and I dug into this.

We found that Designer was intentionally disabled in Powerpack 2.0 (the eCommerce version), since it was buggy at the time.

p1557411041105300-slack-wpcom-paid-plans

It looks like it should be [easy to re-enable](https://href.li/?https://github.com/Automattic/wc-calypso-bridge/blob/557ddde3f3cb6c15bea5633f62cba6848a865d06/class-wc-calypso-bridge.php#L92), but the q

[2021-05-05 23:30] p-jackson opened #52630 "Navigation Menu: Setup progress bar missing from My Home menu item"
### Steps to reproduce the behavior

1. Head to Calypso on a site that hasn't finished the onboarding checklist (the one on the `/home` view)
2. Notice the progress bar that used to appear in the My Home menu item is no longer there
   ![](https://user-images.githubusercontent.com/1500769/117221551-992d3380-ae5d-11eb-9d53-6fe2a0b382c3.png)
3. Add the `?disable-nav-unification` query param to the u

[2021-05-05 23:59] p-jackson commented on #44894
The setup progress bar currently not appearing due to nav unification #52630

That issue should eventually be fixed, but it should be possible to work on this issue using the `?disable-nav-unification` query param.

[2021-05-06 01:02] #50874 closed, assigned to roo2

[2021-05-06 05:42] roo2 commented on #50757
hmmm it looks like the launch checklist is deliberately only enabled for dotcom/ simple sites. I'll have a bit more of a look into why this is

[2021-05-06 06:05] autumnfjeld commented on #50945
The My Home Pod is considering if this is part of our work.  @simison @tjcafferkey  Should we invest time to get consensus on a solution? Who makes the call on this discussion?

[2021-05-06 06:10] deBhal commented on #50945
It looks like this issue has been opened, fixed, and then re-opened in reverse.

Currently, wordpress/home/<site> lands on the calypso "My Home" page regardless of the toggle state, and it seems like the "fix" now is to revert the behaviour such that the enabling "Show wp-admin pages if available" causes wordpress/home/<site> to show the wp-adming home page (<site>/wp-admin/index.php)

@mrfoxtalbo

[2021-05-06 06:12] Robertght commented on #52242
Closing this as it appears to be fixed.

cc @michaeldcain  for a confirmation

[2021-05-06 06:12] #52242 closed, assigned to nobody

[2021-05-06 06:14] autumnfjeld commented on #44918
We can do an interim fix while @jeffgolenski works through My Home Pod design improvements.
The copy change suggested in the description of this PR:  "We're collecting your stats! Come back and see after a week."

[2021-05-06 06:22] deBhal commented on #42169
Maybe we need a little explanatory `(?)`?

[2021-05-06 06:24] roo2 commented on #50757
closing as duplicate/subset of https://github.com/Automattic/wp-calypso/issues/50523

[2021-05-06 06:24] #50757 closed, assigned to roo2

[2021-05-06 06:25] autumnfjeld commented on #50523
This ticket should be discussed in collaboration with My Home Pod & Simple to Atomic Parity Pod
cc: @tjcafferkey

[2021-05-06 06:49] p-jackson commented on #47334
Love it @jordesign! If it's quick to do it could be worth creating a PR just to see what it feels like.

[2021-05-06 06:49] jordesign commented on #52613
Closing in favour of #52492

[2021-05-06 06:49] #52613 closed, assigned to nobody

[2021-05-06 06:53] retnonindya opened #52632 "Feature request: Display Trophy Case or badges on blog/website"
This was an idea posted on Slack channel (channel: ideas) and I wonder if we can have this, just a fun way to motivate folks on blogging, and hopefully, creating their network and community within WordPress.com

Slack: p1620012085171500-slack-C01V08T6KKJ

**What**
In WordPress.com, we have badges/trophies when we posted X amount of posts, receive X amounts of likes, and even how many years we have

[2021-05-06 06:53] daria2303 commented on #51945
another one: 3964395-zd-woothemes

[2021-05-06 06:53] jordesign commented on #42373
closing in favour of #51290

[2021-05-06 06:55] daria2303 commented on #51408
3964395-zd-woothemes

[2021-05-06 06:59] simison commented on #52527
Assuming we ship design picker soon in signup flow, this step at Woo onboaridng is duplicative on .com and should likely be skipped. "I _just_ chose a theme and now you want me to choose again?"

Separately, our design picker doesn't have eCommerce theme as an option. See 52-GH-view-design

[2021-05-06 07:02] jordesign commented on #52537
In my experience the common questions are around logo sizing. From memory some the Varia themes limit the logo to 100px wide in instances - which is quite limiting.

We'll often help with CSS to resize logos (when possible) more to the user's liking. I've raised this as a separate issue in #52615

[2021-05-06 07:10] donalirl commented on #44755
I tried to reproduce this again just now, and Try & Customize is working as expected and just as you described. IIRC, it wasn't previewing the theme at all when I reported this 9 months ago, but it seems ok now.

[2021-05-06 07:23] jordesign commented on #47334
I think so.

As a total aside - this kind of small PR is _exactly_ the kind of thing I want to see how it's done (as a path to better understanding Calypso dev)

[2021-05-06 07:24] razvanpapadopol opened #52633 "Signup: make Skip more visible"
### What
Add a more clear Skip button to steps that can be skipped.

- Example of a step where the skip button is not in the first screen:
<img width="800" alt="Screenshot 2021-05-06 at 09 47 45" src="https://user-images.githubusercontent.com/14192054/117257201-4e5aee00-ae54-11eb-85a5-4d60ccc5b219.png">

- The button is currently at the very button of the screen where usually a "show more results"

[2021-05-06 08:09] WunderBart commented on #52020
Tested on my Simple site - looks like it's working now!  🎉  Thanks!

![May-06-2021 10-07-10](https://user-images.githubusercontent.com/1451471/117264006-1acb9400-ae53-11eb-896a-44e732e665c4.gif)

[2021-05-06 08:09] #52020 closed, assigned to nobody

[2021-05-06 08:18] akirk commented on #45586
For reference, the problem encountered in 29389857-hc was fixed.

[2021-05-06 09:16] allanftd commented on #51097
User in #3930597-zd followed up again on 29395362-hc. Informed them we're still working on it.

[2021-05-06 10:35] simison commented on #50945
I don't see how linking to the wp-admin dashboard instead of My home could possibly be any way better for most people as a default. Plugins rarely add any critical information on that page either — just switching to wp-admin dash when you install _some_ plugins seems wrong. Customer has already learned to use My home at that point, and might have unfinished todos (aka checklists) there. We should

[2021-05-06 10:40] #52477 closed, assigned to nobody

[2021-05-06 10:56] davemart-in commented on #52205
This would be good for a focus pod at some point.

[2021-05-06 12:46] davipontesblog commented on #50945
Aligned that we should always show the calypso My Home independent on the toggle. We may need to show the WP Admin "Dashboard" as a sub nav item just as we show "Updates" on atomic sites though.

[2021-05-06 13:10] Nic-Sevic commented on #51774
also seen here: 3941104-zen

[2021-05-06 14:17] pauljacobson opened #52637 "Coherent: Displaced blue lines related to links on the page"
Our customer reported that they saw blue lines on their pages, typically in the middle of page elements, that disappeared when they hovered their mouse over the elements.

### Steps to reproduce the behavior

1. Go to https://bigcasephoto.com/галерея/
2. You'd see blue lines across the images in the Tiled Gallery Block
3. When you move your mouse over the images, the lines disappear

Here's a demo

[2021-05-06 14:25] #51189 closed, assigned to tjcafferkey

[2021-05-06 14:36] tjcafferkey commented on #51189
This has been deployed to Simple sites, but will be available on Atomic sites in the next Jetpack release.

[2021-05-06 15:01] kwight commented on #23204
We need a more holistic approach to this problem, as opposed to just the button – we'll work on this though it seem like high ROI.

[2021-05-06 15:02] michaeldcain commented on #44188
@olaolusoga @saygunnyc: It'd be great to get some design consensus on this. Adding a semi-persistent cart icon would be a much better UX than the current approaches (popover icon when cart has items on `/domains`, persistent icon on `/plans`, and essentially no access anywhere else in Calypso), would allow us to clean up a bunch of code, and close some issues related to the popover cart. Now that

[2021-05-06 15:09] kwight commented on #52580
Even Twenty Twenty-One would be a more vibrant option (and more modern and maintained).

[2021-05-06 15:15] kwight commented on #50126
Let's check core for any existing issues.

[2021-05-06 15:18] #42373 closed

[2021-05-06 15:26] kwight commented on #52583
This could have been performance-related (loading 300+ themes at the time). If we want to focus on our "recommended themes", then loading twenty or so themes should be doable.

[2021-05-06 15:38] kwight commented on #52582
Also see: pd2qbF-i-p2

We also have guided tours in the Customizer! (It's currently only one step.) It could have a step that says "to edit these other things, go to the editor...". We could also have some form of inline documentation.

We can also better use this top section for links and more info.

<img width="510" alt="Screen Shot 2021-05-06 at 8 36 31 AM" src="https://user-images.githubuserco

[2021-05-06 15:40] kwight commented on #52585
All themes could have a Fonts panel for consistency (Varia-based themes do not), only the ones that are edited in the block editor will link there instead.

[2021-05-06 15:49] JoshuaGoode commented on #43131
This will no longer occur with the site uses Coming Soon v2.

This is somewhat expected behavior on Private as it is very restrictive and blocks many Jetpack modules, external requests, and more.

The recommendation is to use Coming Soon v2 powered by the WordPress.com Editing Toolkit plugin.

This might could be closed as won't fix due to the current nature of Private mode on Atomic.

I'd say lea

[2021-05-06 15:49] kwight opened #52641 "Editor: Consider replacing the "Edit Header" link in the editor preview with a "Try & Customize" button to the right."
The "Edit Header" is confusing and could be better handled by referring to the Customizer. (Maybe the button could better be "Customize theme").

<img width="1171" alt="Screen Shot 2021-05-06 at 8 48 07 AM" src="https://user-images.githubusercontent.com/349751/117327970-02a24780-ae48-11eb-8b86-bf95c8a1eaec.png">

[2021-05-06 15:50] JoshuaGoode commented on #43131
Seems to be a duplicate of https://github.com/Automattic/wp-calypso/issues/43982

However, that one is specifically for the widget rather than the block.

[2021-05-06 15:52] kwight commented on #52587
Better inline documentation would be a good first step, true.

[2021-05-06 15:53] JoshuaGoode commented on #43982
Adding my comment from the related issue specifically for the block instead of the widget: https://github.com/Automattic/wp-calypso/issues/43131

I'd say leave it open as a Simple/Atomic parity issue and to help decide the future of Private mode which can break many things.

[2021-05-06 15:56] kwight commented on #52588
We can also handle dummy content more in context – eg. only dummy images in the Media Organizer, only dummy posts in the post list, etc.

[2021-05-06 16:02] ianstewart commented on #52591
This makes sense to add as these themes use the Customizer for theme customization.

[2021-05-06 16:03] ianstewart commented on #52591
@sixhours we discussed potentially making these labels clearer across the board. Just wanted to note that here as one of the places that the label shows up.

[2021-05-06 16:04] ianstewart commented on #52592
Yes. :D I'm not sure about on this screen but this could be an option on the theme preview screens? We should take a look at this one.

[2021-05-06 16:06] ianstewart commented on #52594
I could see us tackling this in core, perhaps? Perhaps we could take a look at swapping in image blocks or logo blocks to handle this here as well? Worth taking a look at the core blocks for this functionality.

[2021-05-06 18:32] kwight opened #52645 "AMP: Setting changes are not reflected in the google.com version."
Reported by @NoHopeRadio :

### Expected behavior
There are several things related to this, but specifically, when updating the AMP settings at site.com, I expect them to update with the mobile site viewable at https://www.google.com/amp/s/site.com/%3Famp

### Actual behavior
In general, updates to the Google URL do not seem to occur except using one particular workaround related below.

### To Re

[2021-05-06 18:38] patrickmelville commented on #44781
3966802-zen

[2021-05-06 18:58] kwight opened #52646 "Twenty Twenty-One: No global style options."
https://github.com/Automattic/themes/issues/3202

[2021-05-06 19:13] apeatling commented on #52344
Does not seem to be an issue anymore.

[2021-05-06 19:13] #52344 closed, assigned to apeatling

[2021-05-06 19:27] carinapilar opened #52647 "Gallery Block: Image Size removed after 10.5.0 version"
### Steps to reproduce the behavior

1. Create a page or post
2. Add the Gallery block
3. Select some images
4. Select one of the images added in the block

#### What I expected to happen
To see the Image Size option on the block's settings.

#### What actually happened
It seems that option was removed after the 10.5.0 version.

### Context

#### Does this happen on simple or atomic sites or both?

[2021-05-06 19:32] sixhours commented on #44755
Since this is not currently an engineering issue I'm moving it back to the inbox for now.

[2021-05-06 19:35] sixhours commented on #44755
This is related to #52591 so I'm going to close this in favor of that ticket.

[2021-05-06 19:35] #44755 closed

[2021-05-06 19:36] sixhours commented on #52591
Also good to note this button shows up when you open a live demo of a theme from the single theme view:

<img width="1680" alt="Screen Shot 2021-05-06 at 3 36 32 PM" src="https://user-images.githubusercontent.com/2124984/117355656-de169180-ae80-11eb-9632-3e11aa32cad9.png">

[2021-05-06 21:33] DanielSmithMichigan commented on #51702
Where this ticket is now: We don't know if it's safe to turn Powerpack on, we need more information. (p7DVsv-6Ak-p2#comment-35952)

Next task to complete: Turn designer on in development environment and test it, to make sure all the features are still working even though this was disabled 3 years ago.

Other thoughts: In order to safely turn this back on, we could turn this on for a small percenta

[2021-05-06 23:24] jordesign commented on #50489
This one one of my thoughts about this top area as well. Would some kind of design pattern like sliders/slideshows use (little markers/bullets for the slides) potentially help with this? In essence giving access to _all_ the cards - but dismissing them puts them at the 'bottom' of the pile - but users can still look through them all?

[2021-05-06 23:29] DanielSmithMichigan commented on #52521
Current branch: https://github.com/Automattic/wp-calypso/tree/update/52521_install-theme-button-2

(In progress, not a pull request yet)

[2021-05-06 23:33] jordesign commented on #41702
This is a fantastic suggestion.

In terms of the 'My Home' pod - I think this example sets a great precedent of the kinds of tasks we should highlight for users as a 'Next Step' for certain processes.

I can imagine it might also be helpful for when users have mapped a domain but not yet pointed the domain Name Servers here

It's less about pushing them to do something new - and more about helping

[2021-05-07 00:09] jordesign commented on #50945
I'd be keen to see this happen. Some users _still_ want to access the WP Admin dashboard

[2021-05-07 01:16] happychait commented on #52209
13043817-hc

Suggested to clear browser cache and cookies and let us know if that doesn't help.

[2021-05-07 01:19] noahtallen opened #52651 "Slow performance opening the editor from Calypso"
### Steps to reproduce the behavior

1. Go to customer home
2. Do a hard refresh to clear caches. (e.g. ctrl-shift-r or cmd-shift-r)
2. Click on "edit home page"
3. Wait 5-10 seconds for anything to happen
4. The editor starts loading

#### What I expected to happen
There should not be a long delay at step 4.

#### What actually happened
There was a long delay.

### Context

I verified that the de

[2021-05-07 01:23] noahtallen commented on #52651
It's also possible that it wasn't a change in #51108, but one of the underlying promises that waits on, which causes the delay. Either  way, I'm not sure it makes sense to block render at all, since editor load performance is already so terrible

[2021-05-07 01:57] roo2 commented on #50523
We originally limited the checklist to simple sites in D41072-code the reason given was that "checklists don't fully work at the moment" in atomic. I'll take a look at what is not working on atomic sites, but it would be good to re-afirm that this is still a priority to fix, knowing that it was disabled explicitly @simison .

[2021-05-07 02:10] jordesign opened #52657 "Donations Block: Provide Date/Timestamp of donation/transaction on confirmation email"
#### Is your feature request related to a problem? Please describe.

When viewing the confirmation email for a donation (as the site owner) it isn't immediately clear when the transaction took place.

#### Describe the solution you'd like

Is it possible to include the date (or timestamp) of when the transaction took place in the email?

#### Describe alternatives you've considered

It *is* possib

[2021-05-07 03:18] roo2 commented on #50523
I enabled the checklist on atomic sites and tested it, there were quite a few issues:

Site created -> seems to work ✅
Name your site -> seems to work ✅
Update your homepage -> The link takes us to `wp-admin/edit.php` without a page selected ❌
Edit the site menu -> link works, but after editing the main menu, the task does not disappear.  ❌
Launch status -> seems to show launched before site is la

[2021-05-07 03:44] ollierozdarz commented on #52633
Good thinking @razvanpapadopol!

There's no **pretty** way to do this, since the start framework doesn't already have a pattern for skipping, so let's just move the Skip link under the heading and above the designs. I don't think this page will be in existence for too much longer (because of the Reskin), so it's not worth us making more complex changes 🙂

<img width="1435" alt="Screen Shot 2021-05

[2021-05-07 03:54] olaolusoga commented on #51327
Does this answer the question, @retrofox ?

`Recommend we start running the WooCommerce Onboarding Flow to match the Core and Ecommerce Plan experience when a user installs WooCommerce on WordPress.com.`

[2021-05-07 04:42] lsl opened #52652 "Logging in with Google doesn't work without third party cookies"
We use a google library to handle google sign in and it doesn't support third-party-cookie-free operation. It seems like this is [a won't fix issue.](https://github.com/google/google-api-javascript-client/issues/260#issuecomment-675055603)

I'm creating this issue to track further investigation and hopefully find a workaround / alternative approach.

~Secondary issue: need to confirm that a user c

[2021-05-07 05:00] pablinos commented on #52651
I'd agree, 10 seconds is not acceptable. Could there be something about requesting the Calypso preferences that is also causing the delay? A round trip API request doesn't usually take that long.

Before this change we were waiting for the editor preference, so I'd be interested to see if commenting out the additional request to get the Calypso preferences also solves the issue.

If the preference

[2021-05-07 05:20] Robertght commented on #52519
Hey! I tested this and the Center alignment feature is missing on a self-hosted website as well.

I found two more issues here:

https://github.com/WordPress/gutenberg/issues/22784
https://github.com/WordPress/gutenberg/issues/31558

cc @porada as I see you've assigned this to yourself as well.

[2021-05-07 05:31] Robertght commented on #52313
@galakhyati I was able to connect with Stripe from my end using Chrome(latest version).

Can you give this a second shot and let us know if this is still an issue on your end?

If the issue is still happening, we may need more details about it.

[2021-05-07 05:48] Robertght commented on #52125
I pinged @Nic-Sevic on the video above as it appears to be private for now.

I tried to replicate this on a self-hosted website and I'm only getting Wide and Full-width alignment as horizontal alignment when the Vertical variation is used.

![image](https://user-images.githubusercontent.com/6737345/117403495-ee764d00-af10-11eb-86e5-d40b8bafa99d.png)

This seems like a core GB feature, but please c

[2021-05-07 06:01] #52599 closed, assigned to nobody

[2021-05-07 06:01] Robertght commented on #52301
Hey @serabi !

I tested the websites above, and my own, and the stats appear to be back to normal. Can you confirm this is the same on your end please?

[2021-05-07 06:20] roo2 commented on #52599
Thank you for reporting and digging into this @brandonpayton!

I've applied a simple fix to check for the existence of the get_blog_details function and this fixed the error on atomic sites

Again, thanks for investigating this

https://github.com/Automattic/wp-calypso/pull/52653

[2021-05-07 06:21] Robertght commented on #52279
I can confirm this is happening only on WordPress.com sites.

[2021-05-07 07:17] jeherve commented on #52657
Moving this to the Calypso repo, since the emails are not managed via the Jetpack plugin.

[2021-05-07 07:25] jordesign commented on #52657
Thanks @jeherve !

[2021-05-07 08:01] simison commented on #50523
@roo2 I think the experience of it disappearing is quite jarring and lack of it on eCommerce is hurting us, so I'd definitely look at the underlying bugs and look at how much work it would be to fix those things. It seems like technical debt that the previous team decided to take in order to ship earlier, but it could be time to pay it back. Worth checking with them.

All that said, do prioritize

[2021-05-07 09:13] simison commented on #52651
@pablinos could you elaborate a bit on the original change reasoning? This is how I understood it, and please feel free to correct me or provide more context if I'm missing something:

### Problem

With the "advanced" toggle enabled, the "view pages" in this sidebar is linking to calypso when it should link to wp-admin (issue https://github.com/Automattic/wp-calypso/issues/51058)

   <img width="3

[2021-05-07 11:08] razvanpapadopol commented on #52172
With D61115-code and D60806-code deployed we need only to merge #52295 for a fully working FSE Blank Canvas design option.

[2021-05-07 11:13] BogdanUngureanu opened #52661 "Atomic: Feedback CTP Export CSV submenu with a blank page when there're no submissions"
### Steps to reproduce the behavior

1. Go to an AT or Jetpack site WP-Admin
2. Make sure you don't have any feedback form submissions (in the first submenu of Feedback CTP)
3. The `Feedback > Export` menu is displayed in the navigation.
4. Click on the `Feedback > Export CSV` submenu

#### What I expected to happen
Since on Simple sites the submenu is not displayed, we should remove it when there

[2021-05-07 11:28] pierlon commented on #51537
This should now be fixed in the newly released [v2.1](https://github.com/ampproject/amp-wp/releases/tag/2.1.0) of the AMP plugin.

[2021-05-07 12:13] tjcafferkey commented on #51826
@dereksmart please can you confirm if this is still an issue? I am not able to replicate and get the expected outcome.

<img width="1790" alt="Screenshot 2021-05-07 at 13 12 12" src="https://user-images.githubusercontent.com/8639742/117447887-f7c5e080-af35-11eb-80d3-587be13fbbb1.png">

[2021-05-07 12:15] tjcafferkey commented on #51819
@dereksmart can you please confirm if this issue still exists? I do not have the Permalinks menu item on my free site.

<img width="272" alt="Screenshot 2021-05-07 at 13 15 00" src="https://user-images.githubusercontent.com/8639742/117448175-512e0f80-af36-11eb-9d36-07cd13275f41.png">

[2021-05-07 12:34] tjcafferkey commented on #51826
I can confirm this happens on Free Atomic sites.

[2021-05-07 12:34] tjcafferkey commented on #51819
I can confirm this happens on Free Atomic sites.

[2021-05-07 12:51] rickmgithub opened #52664 "CoBlocks Masonry block: crops images with Tortuga theme but only on AT sites"
### Steps to reproduce the behavior

URL: jjsorel.com
Ticket: #3971052-zd

PROBLEM:
* On the home page at the bottom is a grid of book covers.
* On Firefox it shows the whole book cover like this - https://d.pr/i/I6UlRr
* On Chrome it crops them and makes them all square - https://d.pr/i/N1TkDJ

WHAT I FOUND:
* Images are in a masonry block
* Theme is Tortuga.
* It's only occurring in Chrome for m

[2021-05-07 13:17] sixhours commented on #52521
@DanielSmithMichigan You can go ahead and create a PR even if the branch isn't ready for review yet; that way tests can start running and a https://calypso.live URL will build. You can add an "In Progress" label so folks know it's not ready for review. :)

[2021-05-07 13:34] razvanpapadopol commented on #52633
Thanks for your input, @ollierozdarz!

The suggested change is ready to be tested in https://github.com/Automattic/wp-calypso/pull/52666

[2021-05-07 14:48] razvanpapadopol opened #52667 "New Onboarding: update Tracks event to record the selected design correctly"
**Task Details**
When firing `calypso_newsite_step_leave` Tracks event for step "DesignSelection", prop `selected_design` should have the value of the selected design slug.

At the moment, the event fires using the slug from the previously selected design. Accordingly, first time when interacting with DesignPicker, the event fires with `selected_design: undefined` prop.

[2021-05-07 14:59] jeffgolenski commented on #50489
@jordesign absolutely! thinking more on this today.

[2021-05-07 15:11] retrofox commented on #51327
with _WooCommerce Onboarding Flow_ we mean to the wp-admin wizard page, or it refers to another onboarding?

[2021-05-07 16:16] sixhours commented on #52532
Patch here: D61145-code

[2021-05-07 16:19] aleone89 opened #52674 "Columns block: Make column sticky"
**What**

A feature that would be really awesome would be the ability to make a column sticky on scroll.

**Why**

If a user has a long body content that stretches down the page, and is using anchor links/menu or in a left or right column to help to navigate to different parts of the page, having that column always visible would be useful.

This means the user wouldn't have to scroll up and down t

[2021-05-07 17:10] aleone89 opened #52676 "Navigation Block: "Existing menu" confusion as version in customizer is does not get updated to the page"
### Steps to reproduce the behavior

1. Go to Pages > Add new > Add a title > page content.
2. Add navigation block > choose "Existing Menu"
3. Choose a menu from the dropdown
4. Menu gets added > Save changes
5. Exit page
6. Go to Appearance > Customize > Menus > go to chosen menu
7. Change menu (add/remove menu items) > Publish changes
8. Go to Pages > click on previously created page that conta

[2021-05-07 17:19] jeffgolenski commented on #44915
The idea is great, but I want to give this a more permanent home with a revised IA. For now, feel free to add this and start collecting data on its usage.

I'm thinking more of that "site status" area I mentioned is going to be the best place for this since we'll have a quick glance at the customers' plan, domain, and email status. @jordesign @simison

[2021-05-07 17:59] aleone89 opened #52677 "Navigation Block: Adding a custom link, link text field is missing."
### Steps to reproduce the behavior

1. Go to Pages > Add new > Add a title > page content.
2. Add navigation block
3. Add link > custom link
4. Type in custom link
5. Link text gets add to the link and it also becomes the text for the menu item

#### What I expected to happen

To be able to add a link and text separately to form a menu item.

#### What actually happened

The link also became the

[2021-05-07 18:30] vindl commented on #52172
Thanks for the update @razvanpapadopol, and @Automattic/luna for you work on this! 🚀

[2021-05-07 19:22] carinapilar opened #52682 "Email: Add to the Upgrades Menu"
### What
For increased visibility, we could have an Email option, under the Upgrades menu.

### Why
It would bring more visibility to this feature, for users that have an email license, and might probably help sell more licenses. At this moment you have to go to Upgrades > Domains, which isn't intuitive, click on the domain, then on _"Manage your email accounts"_, and then you're redirected to a n

[2021-05-07 19:23] bobmatyas opened #52683 "Action Bar Not Working on Safari when Tracking Blocked"
### Steps to reproduce the behavior

* Setup a WordPress.com site with a custom domain.
* Open Safari.
* Enable "Prevent cross-site tracking"
* Clear cache and cookies.

To test:

* Visit site
* Login

Action Bar does not change

#### What I expected to happen

Once a user logs in, the "Follow..." bar should update to reflect it.

#### What actually happened

The Action Bar does not update after l

[2021-05-07 19:23] bobmatyas commented on #52683
Reported on 3955621-zen

[2021-05-07 19:29] ianstewart commented on #51327
![image](https://user-images.githubusercontent.com/545779/117499186-7a539d80-af40-11eb-8949-cf6d7966bff0.png)

This thing. I think (from the URL) it's the "Setup Wizard"? Looks like it runs in /wp-admin.

[2021-05-07 19:45] ianstewart commented on #51332
I think it would mean merely adding Storefront to our public themes repo? Perhaps we could use the theme showcase page to note it's intended use with Woo on Business or the eCommerce plan.

[2021-05-07 20:11] ianstewart commented on #46698
This one's in flux in core with many changes already. Closing it out.

[2021-05-07 20:11] #46698 closed

[2021-05-07 20:14] ianstewart commented on #44151
@simison with the design picker project progressing … want to just close this one out?

[2021-05-07 21:08] mreishus commented on #14896
PR Here: Visiting /themes while logged in forces you to select a site #52686

[2021-05-07 22:49] nicholasjeberlin opened #52687 "Calendly Block: Popup not working as expected when placed inside of a column block"
### Steps to reproduce the behavior

1. Create a page
2. Add a column block
3. Add the Calendly block within the column block
4. Embed an appropriate Calendly URL
5. Set Calendly block setting 'Styles' to 'Link'
6. Publish and view the page, click on the Calendly button

#### What I expected to happen

I expect a Calendly iframe to open up.

#### What actually happened

An iframe opens up with the

[2021-05-08 07:27] StefMattana commented on #51371
3955375-zen

[2021-05-08 11:22] zdenys opened #52692 "Blog Posts Page can be edited when it should not (on AT sites and Simple sites with `Show wp-admin pages if available` turned on)"
### Steps to reproduce the behavior

1. Create a page and add some content (at least a paragraph block)
2. Set the page as Blog Posts Page in WordPress.com > My Sites > Appearance > Customize > Homepage Settings > A static page > Posts page
3. Go to Pages and see no way to edit that page
![](https://d.pr/i/TxZZDl+)
_Link: https://d.pr/i/TxZZDl_
3. Now:
 - If you are on AT site, click Pages section

[2021-05-08 11:22] zdenys commented on #52692
Encountered in 29456314-hc

[2021-05-08 14:13] carinapilar opened #52693 "User Management: Access with custom user role doesn't load site on Calypso"
### Steps to reproduce the behavior

1. Install a plugin that creates a custom user role, such as this one for example: [Five Star Restaurant Reservations](https://wordpress.org/plugins/restaurant-reservations/)
2. Invite a new user to your Atomic site, using the plugin's role - for that plugin it's called "Booking Manager"
3. Accept the invitation and access WordPress.com with that "Booking Manag

[2021-05-08 15:35] nagpai commented on #51076
As per internal discussion (p58i-agZ-p2), the Atomic platform has a built in API provision to clone sites. This is used by Pressable already.

It may need some developer efforts to create a HE facing tool and eventually a user facing one.

[2021-05-08 16:49] creativecoder commented on #49944
One example of how this affects users: a user upgraded to a Business plan to install the Classic Editor plugin (presumably because they couldn't figure out how to access the Classic editor on their Simple Site).

p1620425008023600/1620424765.022100-slack-C025Q5RK2

[2021-05-09 05:37] Nic-Sevic commented on #52125
Sorry @Robertght! Here's the screencapture directly I'm not sure why the link is no longer working...

https://user-images.githubusercontent.com/47717887/117561679-94f15800-b0a1-11eb-99d5-8084e34a316c.mov

[2021-05-09 05:51] joweber123 commented on #48582
29470744-hc I have another report of this here.  I am unable to change the price either for this user.

[2021-05-09 06:10] joweber123 commented on #48582
I have done some further testing on an Atomic site and once a product is created I am unable to delete it and it Is not displaying on my live site. It is only showing the title and nothing else.

![Markup on 2021-05-09 at 15:09:55](https://user-images.githubusercontent.com/24914028/117562273-a43fc800-b0d8-11eb-9f6f-156ebda1268a.png)

[2021-05-09 06:21] Nic-Sevic opened #52694 "Post/Pages search on Atomic not providing correct results"
### Steps to reproduce the behavior

1. Go to an AT site and search either the posts or pages for a known title
2. See how you get a mix of results
3. Compare to same search on Simple site

#### What I expected to happen
The search functionality should behave the same on both AT and simple sites

#### What actually happened
the post search on AT sites doesn't seem to be looking for titles and does

[2021-05-09 12:42] WybeKoper opened #52695 "Survey on GDSE"
Hey there.

We are doing a survey on globally distributed software engineering focused on open source projects. If you have some spare time we would really appreciate your response. The form takes about 10 minutes. Thanks in advance!
Survey can be found [here](https://forms.gle/N1TnifRuCYHrCY9JA)

[2021-05-09 13:04] kathrynwp commented on #52537
Agree with all your comments, Caroline, and the size and shape are frequent issues our users come up against.

We have a bunch of CSS workarounds for them. If the theme _doesn't_ first downsize the logo to a small size, we can just provide some custom CSS to enlarge it, as Jordan mentioned.

But in the many themes that first downsize the logo, we can't even do that, since enlarging the logo with C

[2021-05-09 13:05] kathrynwp commented on #52615
Or rather than CSS, add a logo resizer, like Radcliffe 2 has.

![Customize__Radcliffe_2](https://user-images.githubusercontent.com/7662449/117573408-a2104600-b0a5-11eb-9351-7b22ed40401b.jpg)

[2021-05-09 15:10] fstath commented on #46182
Another report in https://wordpress.com/forums/topic/cant-see-notifications-6/

Using Opera 76.0.4017.107 on Windows.

@lsl login/logout trick worked for them.

[2021-05-09 19:43] mikeicode opened #52696 "Nav Unification: Overflow issue on WooCommerce setup pages"
On the WooCommerce setup page there is an overflow issue on the right side:

![https://d.pr/i/vHHYDP](https://d.pr/i/vHHYDP+)

This results in the help modal being offset to the right, and there is no way to close the button that is on top of the modal, so the modal can’t be closed.

![https://d.pr/i/URplcg](https://d.pr/i/URplcg+)

### Steps to reproduce the behavior

1. Install Woo on a Business

[2021-05-09 20:57] dlind1 commented on #48978
The problem is that while we support the locale in wordpress.com, there are no core translations for it on translate.wordpress.org and the language files can't be installed on an Atomic site. The same situation could happen for any locale which is available on wordpress.com, but not available on the Atomic site in the Site Language dropdown on `site/wp-admin/options-general.php` page. We're curren

[2021-05-09 22:12] p-jackson commented on #50358
Verified, thanks @vindl! pbAok1-26m-p2#comment-4407

[2021-05-09 22:12] #50358 closed, assigned to p-jackson

[2021-05-10 01:36] kaitohm commented on #51787
I've closed the ticket in our queue until we have more information we can share with the user. 3921279-zd-woothemes

Please ping me (or any other HE) if/when we have more information to share, so we can start a new ticket.

[2021-05-10 01:49] roo2 opened #52697 "Show welcome tour on new atomic sites"
### Background
We've decided to show the welcome tour to existing users when they create a new site. context: pbxlJb-Ly-p2

I implemented this by checking `get_blog_details()->registered` in #52139 but `get_blog_details()->registered` is not available in atomic sites, I released a patch to disable the check for atomic sites #52653.

Currently when an existing user makes a new Atomic site, it will

[2021-05-10 01:55] roo2 commented on #49048
related: we now always show the welcome tour on newly created simple sites, we have a task to always show the tour on new atomic sites as well https://github.com/Automattic/wp-calypso/issues/52697

[2021-05-10 02:31] katiebethbrown commented on #48746
Another report in 3975909-zd-woothemes

User mapped a domain, and then followed our steps to update DNS to point to the site here. They were surprised when the old site and their email stopped loading, and changed the DNS to point back to it, which broke Jetpack and left them with a completely inaccessible site here with just a JP connection error showing when they login to wpcom.

I set the stagi

[2021-05-10 03:52] p-jackson commented on #44894
I think I understand the issue now. The probably with the progress bar has been addressed in #44847, but this issue is a follow up to check whether the "skip for now" button is really supposed to be treated the same as completing the task.

or
Is that task supposed to stay as incomplete so messaging can be displayed to users at a later stage if it is initially skipped, in which case nothing furthe

[2021-05-10 04:47] p-jackson commented on #47595
The `is-white-signup` CSS class is no longer applied to `<body>` after navigating to `/home`. I don't know what commit changed this behaviour. But I know the class, which is added by SSR, is being removed by the client because of this logic. https://github.com/Automattic/wp-calypso/blob/d833d3c3f4d3a3029f0c90404f8fe4c6ef12ef49/client/signup/controller.js#L118
`removeWhiteBackground()` is being cal

[2021-05-10 04:47] #47595 closed

[2021-05-10 04:59] inaikem commented on #52214
Confirmed. Yoast’s floating “Save changes” button appears obscured behind unified navigation with the nav expanded:

## Image: Yoast + Nav expanded
<img width="909" alt="Yoast + Nav expanded" src="https://user-images.githubusercontent.com/66711744/117607791-51751780-b18f-11eb-865b-59258eeb16a1.png">

## Image: Yoast + Nav collapsed
![Yoast + Nav collapsed](https://user-images.githubusercontent.com

[2021-05-10 05:18] inaikem commented on #52520
Thanks for the context, @JoshuaGoode. Regarding this:

Do you know if there are any plans to upgrade Private on Atomic to its own v2 as with Coming Soon?

About this:

This feature does not work for private sites because Photon can only retrieve publicly available images.
Private sites. The Photon service requires public access to images, so private sites are not supported.

It feels like we need

[2021-05-10 05:30] autumnfjeld commented on #44894
Given that WP app is not really a step needed for site launch, is there a more appropriate location for this suggestion?  To me, as a new user, it is not related to the other items in the list.  It could even be a friction point: I'm a new user, focused on my desktop site creation progress and this odd item at the bottom of the list causes me to try to understand why I need the app, do I need to v

[2021-05-10 05:41] kaitohm opened #52701 "Premium Content Block: Send notice to site owner when payment fails"
### Feature request

User would like to b notified when payment renewals fail in the Premium Content Block and subscribers no longer have access to Premium Content.

In 29497034-hc , the user registers members on a separate network (facebook)'s members only area once they receive payment on WordPress.com. They would like to receive notifications when someone's payment doesn't go through (their sub

[2021-05-10 05:43] inaikem commented on #52214
Reported in Yoast's GH repo here: https://github.com/Yoast/wordpress-seo/issues/17008.

Keeping this issue open temporarily pending feedback here: p1620624644053300-slack-C0208US71GC

[2021-05-10 05:58] p-jackson commented on #44918
Got a PR up to update the new site case #52702
New sites are currently shown `No traffic yet, but you'll get there!` and I'm changing it to `We're collecting your stats! Come back and see after a week.`

The message in this GH issue's description (`No traffic this week, but don't give up!`) is actually what's being shown to sites older than a week. I feel like this should be updated too, but it fe

[2021-05-10 06:03] #52542 closed, assigned to nobody

[2021-05-10 06:17] autumnfjeld commented on #44918
Ohh, that's cool.  Prompts of encouragement! Particularly  if we can target it to customized suggestions: like we know the user doesn't post frequently or could add social media links

[2021-05-10 07:09] devNigel commented on #52078
Sorry I missed the ping @kriskarkoski .

I just tried on the same exact post shown in the recording https://d.pr/i/sJFMJ5

I am not able to reproduce the issue anymore.

[2021-05-10 07:40] Nic-Sevic commented on #51730
7291110-hc
Another report of m4a uploads not working; informed user of re-encoding workaround

[2021-05-10 07:45] zdavatz commented on #51730
1. Yes, please reopen, that is me who has the same issue:
2. ![latest-screenshot](https://user-images.githubusercontent.com/4953/117623776-8162f180-b174-11eb-9d3c-26569d9edd66.png)
3. This is my file: https://www.swisstransfer.com/d/5a3a1847-73e1-41a1-aade-4d5c35464b3a
4. `mplayer` on Linux plays the file just fine.
5. I am now re-encoding the file with: `ffmpeg  -i file.m4a -c:a aac -vn file.m4a`

[2021-05-10 07:47] poojashetty18 commented on #46077
Another report: 3976503-zen

[2021-05-10 07:51] roo2 opened #52705 "Onboarding checklist on atomic sites: Update your homepage"
### Task Details

The link for "Update your homepage" currently links to `/wp-admin/edit.php` without a page selected.
It should link to the editor for the homepage in calypso i.e.
`wordpress.com/page/_YOUR_SITE_/_HOMEPAGE_ID_`

Also the logic that detects when the task should be set to completed doesn't seem to be working. Once the homepage has been edited, the task should be marked as completed.

[2021-05-10 07:55] roo2 opened #52706 "Onboarding checklist on atomic sites: Edit the Site Menu"
### Task Details

On Atomic sites, the _Edit the Site Menu_ task is not being marked as completed even after the site menu has been edited.

Anchor.fm sites should start with the menu already marked as set up, I haven't tested if this is working or not on atomic.

- [x] _Edit the Site Menu_ is marked as complete after editing the items in a menu on atomic sites
- [x] _Edit the Site Menu_ is always

[2021-05-10 07:58] roo2 opened #52707 "Onboarding checklist on atomic sites: Launch your site"
### Task Details
On atomic sites, the _Launch your site_ task shows as completed even before the site is launched

### More info
It appears that the blog option `onboarding_checklist_task_site_launched` is being prematurely set to `1` (`wp-content/lib/onboarding-checklist/blog-tasks.php#76`)
We'll have to investigate why that is happening.

The launch button is currently not enabled in the editor

[2021-05-10 08:00] cpapazoglou commented on #52140
Exactly, removing a WP Admin core page doesn't sound like a good idea since 3d party plugins may add features to that pages. We will probably need to keep this page and remove the duplicate options from the other pages.

[2021-05-10 08:08] donalirl commented on #52140
I changed the title to better reflect what needs to be done here :)

[2021-05-10 08:17] p-jackson commented on #38097
I suspect test-flow flow was a signup flow that no longer exists. It would be available at `/start/test-flow` if it existed, but there's nothing there now.

I've retested this issue using `/start` and `/new` onboarding and everything works as expected
- Editing the homepage after immediately after landing in the editor after `/new` updates the checklist
- Updating the homepage after manually navig

[2021-05-10 08:17] #38097 closed

[2021-05-10 08:32] inaikem commented on #44795
Another user-report here: 29042957-hc

[2021-05-10 08:45] simison commented on #44430
Since we're moving to a design picker in signup (pbAok1-26U-p2) and sites won't have default headstart content, this problem will go away on its own.

Related https://github.com/Automattic/wp-calypso/issues/44151

[2021-05-10 09:07] p-jackson commented on #49622
I've submitted a fix for this #52708. Help with the review is very welcome!

[2021-05-10 10:12] anastas10s-afk commented on #53220
Hi there @nsakaimbo 👋

I am facing the same issue, no matter if I am trying to post to a P2 (DOTCOM infrastructure) or a .blog website I have over on a Business plan, again with WordPress.com

WordPress.com version 6.14.0 (stable channel)
macOS Big Sur 11.3 on M1 chip

Is there any update on this?

[2021-05-10 10:22] tjcafferkey commented on #52140
I am in favour of this solution. A lot of these options within Settings > Readings are referenced in tutorials (example [here](https://www.wpbeginner.com/beginners-guide/how-to-change-the-number-of-posts-displayed-on-your-blog-page/#:~:text=The%20first%20thing%20you%20need,button%20to%20store%20your%20settings.)) so it might  make the experience more confusing for users if we were to remove these

[2021-05-10 11:07] anastas10s-afk commented on #53220
The curious thing is that I get this same behavior in both the mobile and desktop app :/

mobile app version 17.1.0.3
iOS 14.5.1

[2021-05-10 11:30] cpapazoglou commented on #52368
After https://github.com/Automattic/jetpack/pull/19773, only the `domain-upsell-nudge` and `domainCreditNotice` will be missing from WP Admin. I am not sure though, whether there is enough value in adding them currently.

@tjcafferkey any suggestions here?

[2021-05-10 11:43] cpapazoglou commented on #51999
AFAIK, Site Health isn't a paid feature. On Business or eCommerce Plan it makes sense to have it available since 3d party plugins may brake things. Besides that, I don't see any point of removing this page for Free Atomic. Does the existence of this page on Free Atomic create any problems?

[2021-05-10 11:45] roo2 commented on #50523
Thanks @simison, I raised subtasks for the three not working tasks and spent some time investigating the code to see if there are other things that might be broken.

There are other possible onboarding tasks defined, but it appears that only the 7 that I mentioned before can be shown on the onboarding checklist 👍

[Update your homepage task](https://github.com/Automattic/wp-calypso/issues/52705)
[

[2021-05-10 11:51] #52078 closed, assigned to nobody

[2021-05-10 11:55] mrfoxtalbot opened #52710 "Unable to update themes by uploading theme zip via Calypso"
Since [WP v5.5](https://wordpress.org/support/wordpress-version/version-5-5/) it is possible to update a theme or plugin by re-uploading the zip file.  Before, this was not possible and a `Install problem: Theme already installed on site.` error message would appear.

As it turns out, this is still the behaviour when we try to upload a file to update an existing theme or plugin via Calypso to a Je

[2021-05-10 11:58] galakhyati commented on #52313
Hey @Robertght I tested again on Chrome browser (latest version) and still able to see the issue.

Here is a screencast video showing the same:

https://user-images.githubusercontent.com/7382505/117655545-d45c9900-b1b4-11eb-9c06-ba88c41d7201.mov

Chrome browser: Version 90.0.4430.93 (Official Build) (x86_64)
OS: macOS Big Sur v 11.3.1
Plan: WordPress.com Premium plan.
Site URL: khyatipremium.wordp

[2021-05-10 12:09] cpapazoglou commented on #51595
@retrofox will the above be resolved as part of https://github.com/Automattic/jetpack/pull/19762 ?

[2021-05-10 12:11] tjcafferkey commented on #52368
@cpapazoglou let's leave them until we know more about the value in adding them and leave this issue open.

[2021-05-10 12:14] retrofox commented on #51595
We need to check the proper plan for the paid block, but I think it should be handled by Automattic/jetpack#19762

[2021-05-10 12:17] davipontesblog commented on #51076
Related: https://github.com/Automattic/wp-calypso/issues/52241
With this ability described in this issue here, the one above becomes easier to implement.

[2021-05-10 12:20] cpapazoglou commented on #51587
Related https://github.com/Automattic/wp-calypso/issues/51929

[2021-05-10 12:27] cpapazoglou commented on #43982
Related to https://github.com/Automattic/wp-calypso/issues/43131

[2021-05-10 13:11] retrofox commented on #51595
The URLs are properly created for the upgrade button in the Jetpack PR. However, I think we need to start to handle some of these plans for Atomic sites. Currently, it's possible to upgrade only to `Business` or `eCommerce` plan.

[2021-05-10 13:18] retrofox commented on #51595
In my tesitng site:

<img src="https://user-images.githubusercontent.com/77539/117665249-0223ec80-b179-11eb-8962-59e3e092a3dc.png" width="800px" />

<img width="800px" alt="Screen Shot 2021-05-10 at 10 17 03 AM" src="https://user-images.githubusercontent.com/77539/117665182-f46e6700-b178-11eb-8dd6-70db33ecc1af.png">

[2021-05-10 14:30] jeffgolenski commented on #47334
Just jumping in @p-jackson @jordesign!

Love your thoughts here! While getting to the menu editor is fairly straight forward, I tend to agree with @ianstewart. The menu system itself is fairly complex and of course dumping people right into the customizer is another mental barrier that's been mentioned in this thread!

Short-term idea: I'm wondering if we could also entertain the idea of shifting

[2021-05-10 14:32] mmtr commented on #51662
This should be fixed now that 678-gh-Automattic/wpcomsh and D61021-code have been deployed.

[2021-05-10 14:32] #51662 closed, assigned to mmtr

[2021-05-10 14:35] retrofox commented on #51595
Although the [Automattic/jetpack#19762](https://github.com/Automattic/jetpack/pull/19762) will update the upgrade button URL, we need to handle the plans for Atomic sites since right now it isn't possible to buy a `Personal` plan.

So in the meanwhile, would you consider proper to offer to customers upgrading for the next lowest plan? For instance, if `Premium` is not supported for Atomic sites, l

[2021-05-10 14:44] cpapazoglou commented on #51595
Currently `Business` on Atomic seems the safest bet.

[2021-05-10 14:58] retrofox commented on #51595
Also, we can redirect to the plans page too.

[2021-05-10 15:58] the-misha opened #52720 "Feature request: Customize/Edit/Stats bar on AT sites"
**What**
User on a recent AT site notes disappearance of the [floating Customize/Edit/Stats bar](https://d.pr/i/nQCuLS) from their posts when viewed on the site, wants this turned back on.

**Why**
Convenience. User finds it easier to click "Edit" from the page than to go into the site dashboard, then to Posts.

**Reference**
29326215-hc

[2021-05-10 16:09] niranjan-uma-shankar opened #52721 "Forgot password page UX issues"
This is to track some of the UX issues in the "Forgot password" page, originally discussed in pau2Xa-2EA-p2/#comment-9627.

1. The background colour, masterbar colour, and button colour combinations in the “Forgot password” page don’t match with the color scheme of Calypso, especially the login page (which is likely from where users are entering the flow)

![kapture-2021-02-05-at-19 47 14](https:/

[2021-05-10 16:46] brandonpayton commented on #52599
Thank you, @roo2!

[2021-05-10 16:48] brandonpayton commented on #51662
Thanks for fixing this, @mmtr! The fix works well for me and should greatly reduce user confusion.

[2021-05-10 17:17] JoshuaGoode commented on #52520
I'm not aware of any WPCOM product team or pod actively working on that. This isn't in the infrastructure team's area and would be a change from a product team/pod.

What would be in their area, perhaps, is making `wpcomsh`  or something turn the special Atomic Photon-subsizes feature off and run `media regenerate` when a site switches to Private mode.

This is the most visible issue. Private mode

[2021-05-10 17:18] worldomonation commented on #52464
I have also updated documentation on the FG pages as well.

[2021-05-10 17:26] JoshuaGoode commented on #52520
Adding to my comments above:

There was a sprint to help with rendering and displaying images within certain blocks while in Private mode, since photon isn't available: https://github.com/Automattic/wp-calypso/issues/41272#issuecomment-811481221

However, the issue reported here is that the user switches to Private after uploading and using images.  Since the special Atomic Photon subsizes feature

[2021-05-10 18:02] kwight opened #52724 "Themes: Spike on surfacing patterns as themes in the Showcase."
We'll first need to do a spike on what's involved for surfacing patterns as themes. We'd like to let users see that there are more options when a single theme has multiple associated patterns; see pd2qbF-l-p2 for more context and details.

[2021-05-10 18:36] obenland opened #52726 "AMP: When disabled, redirect /amp/ URLs to original post"
On sites with AMP disabled, amp urls don't redirect to the original posts, resulting in 404 errors.

### Steps to reproduce the behavior

1. Go to https://wordpress.com/settings/performance and select a simple site that is not private.
2. Make sure the AMP toggle is off (See https://wordpress.com/support/amp-accelerated-mobile-pages/#turn-amp-on-or-off).
3. Attempt to load a post on that site with

[2021-05-10 18:49] kwight opened #52727 "Sidebar: Jetpack submenu stays open on site switch."
Reported by @4thhubbard:

When switching sites in Calypso, the Jetpack submenu gan get stuck in the open position. See video at 552-gh-Automattic/dotcom-manage

[2021-05-10 18:49] kwight commented on #52727
@Automattic/ajax I'm not sure if this is nav unification related?

[2021-05-10 19:35] chad1008 opened #52728 "File Block: PDFs are shown as embeds only in the editor on Simple sites"
### Steps to reproduce the behavior

1. Go to My Site > Pages and create a new page
2. Insert a file block
3. Add a PDF to the block. You an upload or select from media library, either is fine
4. The PDF link and download button are shown as expected
5. Above those, an embed of the PDF is displayed
6. Publish/update the page and view on fontend
7. No embed, just link and button, as expected

####

[2021-05-10 20:08] sirbrillig commented on #52473
As discussed on the internal post, before we take any action here, we need to better understand what exactly we're trying to do. The specific feature request was to prevent a user who has an annual Premium plan from purchasing a monthly Business plan. However, this brings up a lot of related questions:

- What about changing from an annual Premium plan to a monthly Premium plan?
- What about chang

[2021-05-10 21:24] kwight commented on #52710
I could see this being the case for JP sites that maybe haven't updated core yet, but that shouldn't be the case for Atomic sites.

[2021-05-10 21:50] kwight opened #52730 "Editor: Consider expanding the welcome tour for WP.com."
New users, when dropped in the block editor, get a welcome tour that's part of core. Let's consider expanding it for WP.com, so that it can include hints for styles, fonts, menus, and more.

See: p1620328395084600/1620328251.083900-slack-C0202PMUXLJ

[2021-05-10 22:07] #44894 closed

[2021-05-10 22:09] p-jackson commented on #44894
No nothing needs to be verified in the app. I think you're right we may want to move this out of the checklist.

In terms of the API though, I believe what we have now is fit for purpose.

[2021-05-10 23:23] vindl opened #52732 "Site Editor: crash after onboarding is complete"
If you create a new design through [Horizon flow](https://horizon.wordpress.com/new?flags=gutenboarding/site-editor) the Site Editor will crash when trying to load. Currently this is **not** happening only for TT1 blocks theme/layout, and all of the other layouts seem to be affected:

- Seedlet
- Vesta
- Easly
- Mayland
- Blank Canvas Blocks (not yet merged, but reproducible while testing the PR t

[2021-05-11 02:17] roo2 commented on #52705
We think that for keeping track of whether the homepage has been updated, we will need to (intercept the `save` event on the atomic site) and sync a flag from the atomic site to the cloud site.

We should already have access to the homepage ID

[2021-05-11 02:34] roo2 commented on #52706
we think the implementation will be:

* intercept the `customize_save_after` action in the atomic site
* save the value in the site option for the `site_menu_updated` task.
* sync the site option back to the cloud site

[2021-05-11 02:35] roo2 commented on #52706
sizing as small for assuming that we've done something similar for https://github.com/Automattic/wp-calypso/issues/52705

[2021-05-11 03:37] jordesign commented on #47334
I like this idea - taking people through the doc seems like a good plan.

[2021-05-11 03:59] lsl opened #52735 "Cookieless login wsod~"
Blocking all cookies in Chrome and attempting to login to WordPress.com results in console errors when accessing localStorage.

This is sort of expected from a technical viewpoint but the UX can be improved by giving the user actionable feedback, explaining whats wrong and how to fix things.

Ultimately I'd like to see if we can leverage the work @jsnajdr has been doing on oauth (e.g. #52548) to e

[2021-05-11 04:07] #49622 closed, assigned to nobody

[2021-05-11 04:07] bluefuton opened #52736 "Search: instant search toggle is not clear on Business plan"
### Steps to reproduce the behavior

1. Create a test site with a WordPress.com Business plan
2. Go to http://calypso.localhost:3000/settings/performance

#### What I expected to happen

I get Jetpack Search with my Business plan, but not Instant Search. If I need to upgrade to get Instant Search, I expect to be told that clearly.

#### What actually happened

There's a toggle for Instant Search (

[2021-05-11 05:03] autumnfjeld opened #52737 "Cannot launch site from My Home "Launch Site" button"
### Steps to reproduce the behavior

* Go to list of your sites in "My Sites" and click ADD NEW SITE
* Create new site
* Go to My Home
* Click on Launch y our site in the site setup checklist
* Click on "Launch site" button
* Get the "Horray" page and nothing else happens

#### What I expected to happen
My site would be generated

#### What actually happened
Site was never created. Stuck on this s

[2021-05-11 05:48] Robertght commented on #52313
Thank you @galakhyati ! I followed your video and I was able to connect with Stripe as well.

A few things that I noticed and I'm not sure if they make a difference for further testings (cc @kwight):

- I had a Stripe account previously and only created the Stripe express one afterwards
- After selecting the account and confirming the last screen, I'm getting returned to pick the Stripe account ag

[2021-05-11 06:25] cpapazoglou commented on #51595
Ahhh, yeah! Redirecting to plans page seems better! How would you feel keeping the Checkout Url with the correct plan and then when user lands in Checkout, redirect them to plans page if the cart doesn't have a valid plan? That way, when we properly enable all plans in Atomic, we won't need to change the code again.

[2021-05-11 06:28] david-szabo97 commented on #52732
Related issue: 31560-gh-WordPress/Gutenberg

The issue is already closed, fixed by two PRs. Once we have a fresh version of Gutenberg out on WPcom then this crash will go away.

[2021-05-11 07:12] cpapazoglou commented on #52727
Hmm, that's interesting!

Steps to Repro:
- Select a Jetpack site and expand "Upgrades" & "Jetpack".
- Now select a WPCOM site.
- Both "Upgrades" & "Jetpack" will appear as expanded and only one (the last) as selected.

So this selector
https://github.com/Automattic/wp-calypso/blob/78054ec40e0fa0a5583c5e91c5b5103b7bf7ace8/client/my-sites/sidebar-unified/menu.jsx#L51

returns `true` correctly for b

[2021-05-11 07:53] cpapazoglou commented on #52727
@kwight, I have drafted a PR to remedy this.

[2021-05-11 08:04] daria2303 commented on #51787
Another one, Premium:
28444483-hc
 3978411-zd-woothemes

[2021-05-11 08:24] lsl opened #52740 ""logmein" capability that maintains path location"
We need a way to log users into custom/mapped domains, a proof of concept for this is in D60553-code.

The solution in D60553-code should be modified to use a GET param instead of a path. The url path requested should be maintained on the resulting redirect.

e.g. if I visit `example.com/some/path?with-param=1&logmein`, it should return me to `example.com/some/path?with-param=1`, the exmaple imple

[2021-05-11 08:31] lsl opened #52741 "Investigation: obtain authenticated session on a mapped domain"
Using a chrome incognito window (no cookies pre-set, and 3rd party cookies disabled), signing into WordPress.com will only sign you into the WordPress.com domain (and subdomains, public-api etc).

This works relatively the same way with 3rd party cookies enabled, the difference is, when you then visit a mapped domain it won't be able to access your WordPress.com cookies from that third party conte

[2021-05-11 08:34] lsl opened #52742 "Merge the likes-new origin proxy into wp.com"
[likes-new](https://github.com/Automattic/likes-new) implemented an [origin api proxy](https://github.com/Automattic/likes-new/blob/trunk/class-origin-apis.php) for sending public-api requests through the mapped domain origin to issue first party logged in requests against the api while on the mapped domain.

These same requests made directly against public-api would be sent without any cookies du

[2021-05-11 08:37] jsnajdr commented on #52735
When "Block all cookies" is enabled, Chrome blocks a lot of other non-cookie things, too. Accessing `window.localStorage` or `window.sessionStorage` throws an exception. Service workers are not registered. We'll need to guard all accesses to `window.localStorage` with a try/catch block detection:
[code]

**Login with 3rd party cookies blocked**
The current `/log-in` dialog doesn't currently work o

[2021-05-11 08:43] razvanpapadopol commented on #49217
Now that we're using mShots, this should be fixed, right?
cc: @autumnfjeld @deBhal

[2021-05-11 08:58] razvanpapadopol commented on #50430
Added this to the Signup pod's board just to keep track of it.
@yansern @taggon, feel free to continue working on https://github.com/Automattic/wp-calypso/pull/52434 and ping us for reviews if needed 👷🏼

[2021-05-11 09:10] rickmgithub opened #52743 "File block with a PDF not rendering in Safari"
### Steps to reproduce the behavior

1. Add a file block with a PDF into a page on the Twenty Nineteen theme
2. Publish the page.
3. Come out of the page
4. Go back into the page and it will no longer load in the editor
5. Tried it on a test site with the same Prem plan and theme. Same occurs

Example - https://wordpress.com/page/premiumtestsite43646309867.wordpress.com/216
The page code was copie

[2021-05-11 09:26] razvanpapadopol opened #52744 "Onboarding: add support for FSE site creation"
**Task Details**
When creating a site on `/start/with-design-picker` with an FSE design selected (check `design.is_fse` property to be `true`), the site should be FSE enabled and the selected design should be correctly applied.

A similar change to support FSE was done for `/new` in https://github.com/Automattic/wp-calypso/pull/43349
* passing `options.enable_fse` when calling the API to create a

[2021-05-11 09:28] kingsleyinfo commented on #52647
The user responded to the ticket asking for an update or a workaround as this is important to them. Do we have any workaround on what they can do instead?

Note:
_Please provide an update to the user once we have one._

[2021-05-11 09:43] zdenys commented on #49501
3964121-zd-woothemes

[2021-05-11 10:22] carinapilar commented on #48978
Got a user request on 3974725-zen.

[2021-05-11 10:53] retrofox commented on #51595
That sounds good to me. Let me dig on this.

[2021-05-11 11:10] simison commented on #52744
@Copons  @vindl This might be good for your team to pick?

[2021-05-11 11:27] kosiew opened #52746 "Test issue please ignore"
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui

[2021-05-11 12:00] razvanpapadopol commented on #52172
We can consider this issue done since Blank Canvas experience is available in `/new`:
- default: https://wordpress.com/new/design
- with FSE flag: https://wordpress.com/new/design?flags=gutenboarding/site-editor

As a follow-up, I've created #52744 to add support for FSE site creation in `/start`

[2021-05-11 12:00] #52172 closed, assigned to alshakero

[2021-05-11 12:04] daria2303 opened #52747 "Business hours: 24 hour time format missing"
What
Add option to have 24h time format instead of only AM/PM in Business hours block

Screenshots:
https://d.pr/i/WLpRKq
https://d.pr/i/HwDYwr - while editing block it seems we will see hours like 18:00, 21:00, but it doesn't happen

Why
User report: 27601970-hc
AM/PM is not understandable in non-English speaking countries

[2021-05-11 12:09] kosiew commented on #52746
End of testing

[2021-05-11 12:09] #52746 closed, assigned to nobody

[2021-05-11 12:31] tjcafferkey commented on #52710
@mrfoxtalbot we could direct users to `/wp-admin/theme-install.php` for AT sites when they click "Install theme"?

![Screenshot 2021-05-11 at 13 30 51](https://user-images.githubusercontent.com/8639742/117815198-248f3600-b25d-11eb-8223-d33d69587325.png)

[2021-05-11 13:32] kriskarkoski commented on #52687
I have reproduced this and will leave the page up if it's needed for testing: P2UvKS-bS9Yl-p2

[2021-05-11 14:08] aneeshd16 commented on #52741
Thanks for putting this up @lsl!

If a domain is purchased during signup, the domain is activated only after the email address is verified. Effectively, the user exits the signup flow and then sees a prompt to verify the email address in "My Home". After the domain is purchased, it will still require some time for DNS changes to propagate. So maybe we can completely remove the signup flow from the

[2021-05-11 14:18] aneeshd16 commented on #52740
[ITP 2.2](https://webkit.org/blog/8828/intelligent-tracking-prevention-2-2/) has link decoration tracking, which restricts client-side storage when redirection happens to a URL containing a query parameter. There were some additional restrictions added in [ITP 2.3](https://webkit.org/blog/9521/intelligent-tracking-prevention-2-3/) also. AFAICT, this only applies to cookies set via JS code (`docume

[2021-05-11 14:42] pablinos commented on #49145
With the Jetpack PR and #51614, this should now be fixed

[2021-05-11 14:42] #49145 closed, assigned to allilevine

[2021-05-11 15:03] jjchrisdiehl commented on #50560
Another instance here

#29494701-hc

This appears to be a breaking bug, are there any possible work arounds?

[2021-05-11 15:10] mikeicode commented on #51371
I just contacted the customer I mentioned earlier here asking them to try the connection, waiting on a response now. 3960591-zd-woothemes

[2021-05-11 15:25] cpapazoglou commented on #51096
It seems that making most of the screens layout 100% in width is not the perfect solution as @folletto outlines here https://github.com/Automattic/wp-calypso/pull/52748#issuecomment-838382196

[2021-05-11 16:13] donlair commented on #52430
This is an intentional behavior introduced in [this PR](https://github.com/WordPress/gutenberg/pull/12205) to prevent text overflowing the button.

A possible alternate solution would be to use `text-overflow: ellipsis` instead, but it's not clear to me that that would be better.

[2021-05-11 16:29] kwight commented on #52710
Oh, not doubting you at all, rather agreeing that it's a problem. 🙃

[2021-05-11 16:38] kwight commented on #49501
More discussion around technical deployment of Reblogging: p9dueE-2LC-p2

[2021-05-11 16:56] #52532 closed, assigned to sixhours

[2021-05-11 16:56] #52641 closed, assigned to sixhours

[2021-05-11 17:19] josephscott commented on #52735
No, they should not be.  And given the current state of things, as you described, these should probably go away entirely.  They were developed back before Chrome announced complete removal of third-party cookie support and were designed to only deal with Safari ITP limitations at the time ( which have since become much tighter ).

It certainly isn't going to ever work in the way it did before.  Co

[2021-05-11 17:43] JessBoctor commented on #52182
I had another user report this in #28772653-HC. I advised them to crop the images before uploading to quickly change out the header images.

[2021-05-11 18:37] ianstewart commented on #41060
Not sure what is and isn't tracked at the moment so just going through the flow a bit with some first impressions.

Clicks on Media Library options here with a method (tracks event property?) of determining the source block or feature that led the user to the UI.

![image](https://user-images.githubusercontent.com/545779/117867018-6c15c200-b25d-11eb-9497-5b504e93af86.png)

Text entered in search c

[2021-05-11 18:41] retrofox commented on #51595
After diving into the code I think it should be tackled in a separate approach, probably here in calypso. For now, we are going to redirect to the plans page instead of the checkout one.

[2021-05-11 18:51] ianstewart commented on #44430
@simison I saw you re-opened https://github.com/Automattic/wp-calypso/issues/44151 — want to re-open this one as well?

I have a simple fix if we proceed with 44151 that would close this one again. We can just delete the two additional example posts from the source site. :)

[2021-05-11 19:20] kwight commented on #41060
I don't see any Track events related to Pexels under `/client/my-sites/media-library` (if we were already recording clicks, it would be [here](/client/my-sites/media-library)). @themeshaper 's list above would be good to implement.

[2021-05-11 19:22] sbathompson-he commented on #52687
Occurred here as well: HC-29533185

[2021-05-11 19:26] metabreakr commented on #50560
29346793-hc / 3982159-zen

User is not seeing any posts being populated (they have 2 published): https://snipboard.io/HjZ56K.jpg

[2021-05-11 19:36] kwight opened #52757 "Themes: Verify and improve Headstart annotations for the top twenty themes."
Let's make sure that we have valid, functional Headstart annotations for our top twenty themes. Selecting the top twenty themes could be done by various criteria: what's in signup for new users, or `/new` for existing users, by historic usage, etc.

See: p7DVsv-aHZ-p2#comment-35065

[2021-05-11 19:41] ianstewart commented on #52757
I might suggest top 20 themes that aren't Varia child themes. Those themes _should_ all have working Headstart annotations.

[2021-05-11 19:41] gwensmithx commented on #51787
Just a note that I've closed the ticket for now since it's been floating in the queue for awhile but I gave the customer the ticket number so they can reference that for an update at any point.

[2021-05-11 19:43] kcswong opened #52758 "Canard: overlapping menu"
User reported menu was overlapping content on their site in 6600877-hc, and I can see it happening in the theme demo as well [here](https://canarddemo.wordpress.com/):

![overlapping menu](https://d.pr/i/voVRLV+)

Here's how it should look:

![correct menu position](https://d.pr/i/RkOPOR+)

Seems to only be happening on the homepage.

Follow up email in 3982177-zen

[2021-05-11 19:56] kwight opened #52759 "Custom Colours: Fix broken functionality on Atomic sites."
Custom Colours started as a feature on Simple sites, and was then quickly ported to `wpcomsh` for use by Atomic sites. It was a rush job (I know, I was part of it), and some of it might not be working properly after a lack of maintenance (or bugs missed in the original implementation).

Let's:
* Verify functionality on Simple (so that we know we have a working model to begin with).
* Compare Simpl

[2021-05-11 20:04] kwight commented on #52759
Related smaller task: 482-gh-Automattic/wpcomsh

[2021-05-11 20:09] kwight opened #52760 "Headstart: Consider launching the Headstart-on-Demand feature."
"Headstart on Demand" is a feature that allows users themselves to reset their site to look like the theme demo. It's currently available on the `wpcalypso` environment at `/settings/theme-setup/<site>`.

<img width="700" alt="Screen Shot 2021-05-04 at 2 51 24 PM" src="https://user-images.githubusercontent.com/349751/117877975-168be600-b25a-11eb-8038-8181c1d2fc25.png">

[2021-05-11 20:14] kwight opened #52761 "Themes: Feature WooCommerce themes in the showcase."
We don't currently expose any WooCommerce themes in the showcase. If we did, they would serve as promotion for our eCommerce products (and at least Storefront works on ordinary sites as a free theme anyways).

Other than Storefront, eCommerce themes might be premium, so that could be a consideration. We should reach out to both the Themes team and Woo teams for additional context and info (for ins

[2021-05-11 20:15] kwight commented on #52761
@MindyPostoff do let me know if there's anything I missed or misunderstood above.

[2021-05-11 20:17] obenland commented on #41060
In MC there's
* /s/external-media-copy/
* /s/external-media-list/
* /s/external-media-search/

[2021-05-11 20:18] kwight commented on #52760
The feature hasn't been maintained for a couple of years (and I think pre-dates Atomic sites) – extra care will be needed in testing with our various plans and environments.

[2021-05-11 20:24] jordesign opened #52762 "Change Secondary CTA for support search on My Home to 'Contact Support'"
At the moment the CTA button for the secondary action on the help/support section of My Home is 'More Help' and links to /help.

We could provide a more immediate pathway to assistance (especially given users can *already* search our help docs from My Home) by instead changing the CTA to be 'Contact Support' and linking to /help/contact.

<img width="203" alt="Screen Shot 2021-05-12 at 6 18 55 am"

[2021-05-11 20:24] ianstewart commented on #52576
This part will not be a size small. :)

Definitely on the core roadmap. Definitely the plan, as I understand it, for the Gutenberg plugin to use Navigation Block derived menus as a default. There'll be a block-based screen for editing menus in June, I believe. And I think core might work on translating menus from the customizer to the block. Not sure on the last part there.

That all said, I think

[2021-05-11 20:32] aamills commented on #52758
Additional report here - 20288529-hc

[2021-05-11 20:34] ianstewart commented on #52761
Drafting an internal discussion that'll link back to this issue.

[2021-05-11 20:40] sixhours commented on #44183
In looking at this again, I'm inclined to say that "Edit" is a "good enough" label, given the technical complexities of both making the button copy too long for many languages, or making the button point to a specific post/page. We also don't know that this is actually a point of user confusion; I don't see any specific tickets or reports attached to this, so I'm assuming it's not something that c

[2021-05-11 20:50] MindyPostoff commented on #52761
I think you've got it all, from my perspective.

[2021-05-11 21:01] jeffgolenski commented on #52762
@jordesign Love it. I've got a few design enhancements I'm thinking on for this area as well. I'll save those for another issue!

[2021-05-11 21:16] ianstewart commented on #52761
Started a p2 post for this one. pNEWy-dXM-p2

[2021-05-11 21:44] niranjan-uma-shankar opened #52763 "WPCOM logged in users don't get cookies set when added as a user for a site"
### Steps to reproduce the behavior

1. Sign in to any WPCOM account on a browser that has 3rd party cookies _enabled_. Let's refer to this account as "user A". Keep this browser window open.
2. On a different browser or incognito window, sign in to a WPCOM account that has a .blog subdomain(say example.food.blog), navigate to `https://wordpress.com/people/team/{SITE_SLUG}` and add "user A" to thi

[2021-05-11 21:53] kwight commented on #50560
@jjchrisdiehl I've removed the BLOCKER label, it's more used for features not yet released (where the issue is so bad, the feature shouldn't be released until fixed).

@obenland I don't know about this – I think it could be a deeper bug with the Jetpack API and its handling of Atomic sites, but it'll take a good amount of digging and dedicated time to determine all of that. Definitely a bug people

[2021-05-11 21:55] p-jackson opened #52764 "My Home: Don't show stats card on un-launched sites"
### Describe the problem
For un-launched sites, the stats card on the My Home page always shows a placeholder message. The site has no traffic by definition, so the card will never show anything useful.
![Screen Shot on 2021-05-12 at 09:47:00](https://user-images.githubusercontent.com/1500769/117889046-041bb600-b307-11eb-8140-171b52d0b415.png)

At the very least this is taking up space we could us

[2021-05-11 22:14] obenland commented on #50560
Yeah I wonder if it's an authentication issue. @taggon is this something y'all would be able to look into?

[2021-05-11 22:19] michaeldcain commented on #52757
If y'all do a quick push on these, I'd be happy to join the fun.

[2021-05-11 22:20] niranjan-uma-shankar opened #52765 "Cannot log in to private .blog subdomain sites when third party cookies are disabled"
### Steps to reproduce the behavior

1. Open Chrome incognito window and enable the option to block third party cookies
<img width="642" alt="Screenshot 2021-05-12 at 2 16 15 AM" src="https://user-images.githubusercontent.com/1269602/117891580-be45fa00-b2d4-11eb-9e2f-a91b066d3312.png">

2. Navigate to an unlaunched .blog subdomain site such as `example.food.blog`.
3. Attempt to log in by clicking

[2021-05-11 22:30] villanovachile commented on #50560
User experienced issue with Anchor not being able to connect to WordPress.  According to Anchor, they do not support Jetpack sites: https://help.anchor.fm/hc/en-us/articles/360060866231?input_string=error+connecting+to+wordpress

#3982359-zen

[2021-05-11 22:44] obenland commented on #52511
Sounds to me like this would be a wpcomsh candidate?

[2021-05-11 22:57] ktyfuller604 commented on #47334
* From the survey at the bottom of the doc (albeit with a low take rate), the majority (around 70%) of the users found the doc helpful. Those that didn't find the guide helpful provided good feedback that the docs guild will integrate into the doc as part of our standard operating procedure for handling the feedback.
* As part of a separate project, I'm on a team is working on creating a new video

[2021-05-11 23:56] p-jackson opened #52767 "My Home: Idea, replace stats card with "changes since last visit" card"
### Overview
This is part of [My Home Pod short-term design improvements](pd2qGl-2P-p2#short-term-goals)

My Home Stats Card: Post-launch traffic: Display changes since last visit or over a time period (views, comments, etc)

### User facing acceptance criteria
Given that the user has launched their site
When they go to My Home
Then they see a stats card that
------ to do -------

### Figma Design

[2021-05-12 00:14] donalirl commented on #50560
Their Anchor integration stopped working when going atomic: #3976668-zen

[2021-05-12 01:59] lsl commented on #52741
Great point!

Ah yes, this is a bit of a show stopper. Thanks for thinking this through.

I wonder if it's worth investigating anyway but just for things we know the user must be logged in to view - e.g. wp-admin/editor/customizer etc?

It's possible we should just always push these routes though logmein on mapped domains if the user is missing a first party auth cookie.

i.e, replace the normal l

[2021-05-12 03:10] glendaviesnz commented on #52310
@alaczek - this should have been fixed by D60947-code & D60943-code. @alaczek please reopen if you still experience this issue

[2021-05-12 03:10] #52310 closed, assigned to glendaviesnz

[2021-05-12 03:23] xpurichan commented on #34742
This appears to have been resolved. For domain transfer-ins we state "Extends registration by one year" now, and for mappings we properly state "Free with your plan, but registration costs at your current provider still apply".

![Screen Shot 2021-05-11 at 11 22 38 PM](https://user-images.githubusercontent.com/33190975/117913656-c9d2fa00-b2af-11eb-8a82-2ca63116ef4f.jpg)

[2021-05-12 03:23] #34742 closed

[2021-05-12 03:28] xpurichan commented on #33798
I was not able to replicate this on my Atomic site. I used my `lillylearns.com` site, added the `test.lillylearns.com` domain mapping to it, and after I completed checkout I was taken to this page:

![Screen Shot 2021-05-11 at 11 26 39 PM](https://user-images.githubusercontent.com/33190975/117913950-58477b80-b2b0-11eb-94a5-d66bbb44c1e1.jpg)

[2021-05-12 03:44] deBhal commented on #52707
A couple of interesting results from initial investigations:

1) `get_blog_option( $blog_id, 'launch-status' );` for [my test site](julesaustestatomic.wordpress.com) gets two different results: When run against our live databases, we get a `launched`, but if we use the atomic cli tool to check on that site, it believes itself to be `unlaunched`. This might be normal, or it might indicate a syncing

[2021-05-12 04:29] jordesign commented on #52757
If part of the process of this is in recreating Home Page layouts using blocks - is this something we could enlist HE help with (the creation of the new sites to be used for the annotations)?

[2021-05-12 04:39] lsl commented on #52740
Thanks for linking to these, ITP will be a problem if we try to redirect people to these urls but if we e.g. link to them directly from calypso it shouldn't be an issue. Using location.href to inject these on click could potentially be a problem, something to test. Worst case, I think we'll need to push the logmein directive into the path instead.

[2021-05-12 04:51] lsl commented on #52735
@josephscott are the Like RLT's working around this limitation with popups currently?

[2021-05-12 06:46] StefMattana commented on #51371
Confirming that's working again for the user in ticket 3934605-zen :)

[2021-05-12 06:51] tarunvijwani commented on #52758
Another report: 29371746-HC

Sharing the below CSS code as a workaround:

.blog .featured-content .hentry:first-child {
    margin-top: 60px;
}

[2021-05-12 06:58] daria2303 commented on #51095
This user asking for update in 3978820-zd-woothemes

[2021-05-12 08:37] niranjan-uma-shankar opened #52773 "Login to private .blog subdomains briefly flashes the "Coming soon" page"
This behaviour is seen with 3rd party cookies enabled.

### Steps to reproduce the behavior

1. Open Chrome incognito window and disable the option to block third party cookies

<img width="653" alt="Screenshot 2021-05-12 at 11 33 32 AM" src="https://user-images.githubusercontent.com/1269602/117944378-d0eb1e00-b32a-11eb-9bc2-4ef2946085fb.png">

2. Visit a .blog subdomain private site such as examp