[2021-04-16 19:11] scosgro commented on #51838
Another report in 3878613-zd

[2021-04-16 19:25] scosgro opened #52025 "Premium Plan Downgrade: Videos no longer delete-able."
### Steps to reproduce the behavior

1. Create a WordPress.com Premium Plan site.
2. Upload some videos to your Media Library. Maybe make the media library larger than 3GB (user empathy challenge there)
3. Decide to downgrade to the free/Personal Plan. Your Media Library will now be full.
4. Go to your Media Library to try and delete some of the videos to free up space in your Media Library.

####

[2021-04-16 20:10] gwwar commented on #51838
cc @obenland @pento for triage

[2021-04-16 21:14] ianstewart commented on #33066
The status has not changed here. It's probably even a little more complicated than this issue suggests now.

The Core WordPress experience is something like this.

After activation some plugins redirect the user to a special flow (like WooCommerce) or throw a special modal (like BuddyPress) with special information or clear next steps. Some plugins also use WordPress notifications for providing ad

[2021-04-16 22:04] obenland commented on #33066
Back when I worked on [Shiny Updates](https://make.wordpress.org/core/features/shiny-updates/), those default next actions were added by hijacking the page load after a plugin was activated and redirecting it to a plugin's onboarding screen. Not sure how to replicate that in Calypso without dropping customers in wp-admin's plugin screen with those same parameters, which I imagine could be a little

[2021-04-16 22:10] obenland commented on #33066
Even doing the atomic transfer upon plan upgrade won't fix this since it would still happen for all sites that are not on a business plan yet. :(

Maybe we could change the CTA from Install to Upgrade Plan?

[2021-04-16 23:13] JoshuaGoode opened #52027 "Crowdsignal / AMP: Poll block not compatible with AMP, not visible."
I've yet to test on a WordPress.com on Atomic site but, on Simple, Crowdsignal polls do not load when in AMP view.

### Steps to reproduce the behavior

1. Create a post with a Crowdsignal poll.
2. View the post in normal view and then view it in AMP mode.  (You can append ?amp to the end of a post's URL to switch to AMP)
3. See error

#### What I expected to happen

A poll to be visible and usabl

[2021-04-17 00:18] supernovia commented on #50945
I'm wrapping up the feedback thread, and there were indeed a handful of folks asking about the old dashboard page who would like to have that option back.

IMO the best solution would be that if they have the Advanced dashboard enabled, show them the wp-admin version with link to the other version at the top of that page.

Thank you!

[2021-04-17 00:27] supernovia commented on #51457
If we have a toggle I think this would be a non-issue for now.

[2021-04-17 06:03] joweber123 opened #52030 "Use theme styles in Block Editor not working for older themes"
### Steps to reproduce the behavior

1. Go to the Block Editor > Preferences > Appearance and select 'Use theme styles'.
2. Click on 'Use theme styles'.

#### What I expected to happen
I would expect that the font that is set in the Customizer would be applied to the Editor.

#### What actually happened
A default sans-serif font is used instead for older themes. This is working properly for the Va

[2021-04-17 06:06] joweber123 commented on #52030
Potentially related https://github.com/Automattic/themes/issues/3280

[2021-04-17 07:32] nagpai opened #52031 "Subscription block : Misalignment of text field and placeholder in simple sites."
### Steps to reproduce the behavior

1. Create a free plan test site (simple) and activate TwentyTwenty One default theme
2. Create a page and add a subscription block. Looks like this

![Screen Shot on 2021-04-17 at 12:50:18](https://user-images.githubusercontent.com/4162931/115105276-88cf1a80-9f7b-11eb-8560-92b8dd15014c.png)

3. Publish the page.  the block alignment looks broken in the front en

[2021-04-17 10:46] augurlu commented on #51371
3911210 - zen

[2021-04-17 11:04] daria2303 opened #52032 "Gutenberg:"
### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

#### What I expected to happen

#### What actually happened

### Context

#### Browser / OS version

#### Is this specific to the applied theme? Which one?

#### Does this happen on simple or atomic sites or both?

#### Is there any console output or error text?

#### Level of impact (Does

[2021-04-17 11:17] daria2303 opened #52033 "Blog Posts Block: not showing featured image in preview and published page"
### Steps to reproduce the behavior

1. Premium site
2. Create posts with featured images
2. Create page with Blog Posts Block
3. Show featured image option enabled

#### What I expected to happen

Featured images are visible like in the editor: https://d.pr/i/7m1rwG

#### What actually happened

In the preview and published page images do not display: https://d.pr/i/ipx00v

### Context

#### Brow

[2021-04-17 15:04] zdenys commented on #39263
Another case in 3916139-zd-woothemes

[2021-04-17 21:25] mdrockwell opened #52034 "Add Option to Create New Site From Existing Domain"
**What**<br>There should be an option to create a new site using an existing domain domain. It would take you through the flow of giving the site a name, selecting your plan, etc. And then automatically move the selected domain to the new site.

**Why**<br>Users often purchase a domain on an existing site when they intend to create a new site with the domain. This would give them a quick and easy

[2021-04-17 21:35] supernovia commented on #45881
@jsnajdr just noting I'm opening this back up since we're getting new cases -- should we file a new issue instead?

[2021-04-18 07:56] sophiegyo commented on #28033
Another report here: 3916577-zen

User finds it still fails after 2 or 3 gb are downloaded - according to the user it times out on our end.

[2021-04-18 09:50] pauljacobson commented on #52084
The user has asked for a follow-up when the issue is resolved (or addressed).

[2021-04-18 10:00] arunsathiya commented on #51673
@tyxla When you have some time, could you help understand if WordPress.com desktop app might need a different patch? In this chat report 28810614-hc that @tarunvijwani and @sanjeev00733 worked on, user reported seeing incorrect "average by day" on the desktop app, but correct numbers on the web browser. So, is it just a case of the desktop app needing a restart so that the Calypso PR https://githu

[2021-04-18 20:38] katiebethbrown commented on #48746
Another report in 3919112-zd-woothemes

User mapped domain and set it as primary before configuring DNs, which broke JP and the site was no longer able to be managed or worked on in any capacity.

I set the staging domain as primary again to resolve while they work on updating the DNS for the mapped domain.

[2021-04-18 20:40] dpasque opened #52037 "Form Block: Unconfigured blocks shouldn't be turned into real forms"
#### Steps to reproduce

1. Starting at URL: Wordpress.com editor (wordpress.com/post/<etc>)
2. Add a form block
3. Don't configure it - leave it starting state where it asks you what kind of form you want to make (contact, registration, etc.)
4. Click preview or publish - your site now has a form that you didn't configure. See screenshot below!

#### What I expected
Because the form wasn't config

[2021-04-18 20:47] dpasque opened #52038 "Editor settings: select elements are cropping text letters that hang below font line"
#### Steps to reproduce

1. Starting at URL: Wordpress.com editor (wordpress.com/post/)
2. You can do this by editing any select element in the settings and changing the text to include any g's, y's, p's, q's, etc, but the easiest way is to add a form block
3. Open additional settings sidebar
4. Change the "On Submission" setting to "Redirect to another webpage"

#### What I expected
Text not to b

[2021-04-18 20:48] dpasque commented on #52038
It looks like this is coming from a generated CSS class that is adding "line-height: 1" to the option in the select element. Removing that styling removes the text cropping.

[2021-04-18 20:56] dpasque opened #52039 "Form Date Picker Block: Date picker doesn't work in page preview"
#### Steps to reproduce

1. Starting at URL: Wordpress.com editor (wordpress.com/post/)
2. Add a Date Picker block to a Form block.
3. Click preview to preview the page
4. Click on the date picker field in the preview.
5. Try to select a date

Note: this only affects preview. When you publish and visit the site, the date picker is functional.

#### What I expected
You can select dates in the Date

[2021-04-18 21:04] dpasque opened #52040 "Form Block: Dragging a new block from block sidebar into Form block leaves the sidebar stuck open"
#### Steps to reproduce

1. Starting at URL: Wordpress.com editor (wordpress.com/post/)
2. Add a Form block and pick a starting form configuration like a contact form.
3. Open the block-adding sidebar
4. Drag a sub-block like a Text or Email block into the form
5. Try to close the block sidebar by clicking the x in top left - won't close
6. Try to close the block sidebar by clicking anywhere in pa

[2021-04-18 21:26] NoHopeRadio opened #52041 "Image Captions: Bulk Editor does not add captions reliably"
### Steps to reproduce the behavior

1. Add 10-15 images to media library
2. After they have loaded, click on Edit
3. Update "Title" and "Caption" fields for each image, moving between them using the arrow on the image.
4. Click Done after all images edited, then check image captions

#### What I expected to happen
The images should be updates according to the values added.

#### What actually hap

[2021-04-18 22:52] dpasque opened #52043 "Form Block: Clicking "skip" link after adding creates a contact form"
#### Steps to reproduce

1. Starting at URL: Wordpress.com editor (wordpress.com/post/)
2. Add a Form block
3. Instead of picking one of the starting Form templates, click the "skip" link
4. A contact template form will pull in

#### What I expected
A more empty / blank starting form template to pull in. For example, maybe a form button with no text, and maybe optionally a single text input field

[2021-04-18 23:00] dpasque opened #52044 "Button Block: Default or reset button radius setting doesn't match what is in editor"
#### Steps to reproduce

1. Starting at URL: Wordpress.com editor (wordpress.com/post/)
2. A either a Button block or a Form block with a button
3. Select button and open the sidebar for advanced settings
4. Compare the border-radius setting to the border-radius of the button
5. Drag the border-radius slider, then hit reset
6. Both in starting and after reset, the setting will say the button has a

[2021-04-18 23:02] dpasque commented on #52044
It looks like the border-radius of 9999px is coming from the `.wp-block-button_link` class applied to the button.

When the setting is changed, it applies the border-radius value directly as an element style. However, if it's the starting value, it doesn't set anything directly on the element style, falling back to the value from the class style.

[2021-04-18 23:07] donalirl commented on #51189
This came up in #28904189-hc where we couldn't delete a site while the 'Show Advanced Dashboard Pages' toggle was on.

[2021-04-18 23:13] dpasque opened #52045 "Bug: Form Block: On long forms, you can't use the inline block addition button at the end because of the jump in viewport on parent Form block focus"
#### Steps to reproduce

1. Starting at URL: Wordpress.com editor (wordpress.com/post/)
2. Add a Form block
3. Add a lot of sub-blocks to that Form block, such that the top of the Form block is out of the viewport.
4. At the bottom of the Form block, click the inline add block button (the one in the Form block, not outside of it)
5. That will put focus on the parent Form block, which will jump the

[2021-04-18 23:20] donalirl commented on #51435
Another request to bring back access to re-sharing posts in #29091391-hc

[2021-04-18 23:25] wpshellbelle opened #52046 "Cookies / Admin bar: Atomic sites not seeing WordPress.com admin bar even though user is logged in"
### Steps to reproduce the behavior

1. Go to WordPress.com and confirm you are logged in as a user on an AT site
2. Visit your AT site (for example, visit https://example.com/ without accessing anywhere else in the same web browser) and check out the admin bar showing:

![](https://d.pr/i/KMxW6X+)

3. Visit WP Admin for that site: https://example.com/wp-admin
4. Visit https://example.com/ again.

[2021-04-18 23:33] dpasque opened #52047 "Suggestion: Form Block: Duplicating blocks with Unique CSS ID set should not duplicate the ID exactly"
#### Steps to reproduce

1. Starting at URL: Wordpress.com editor (wordpress.com/post/)
2. Add a Form block
3. On an input field block of some kind, modify the additional setting to add a Unique CSS ID
4. Duplicate the block
5. Check the ID of the duplicated block - it will be the same
6. Launch in preview - the IDs (and also names, and label "for"s) will be the same in DOM

#### What I expected
F

[2021-04-18 23:39] roo2 commented on #52017
We've optomized the size of preview images on the new page template selector dialog in #51854.

We could apply a similar treatment to the `/start` flow, just optimizing the available space on different breakpoints.

A separate work in progress is enabling previews with longer aspect ratios and a scroll preview on hover in production  https://github.com/Automattic/wp-calypso/issues/51925

[2021-04-19 00:02] #51802 closed, assigned to ramonjd

[2021-04-19 00:06] jerrysarcastic opened #52048 "Tags: New tags disappear after they are entered in Gutenberg"
When adding multiple tags to a new post, the option is given to either add a comma before entering the next tag, or clicking the return/enter key on the keyboard.

Oddly, when using the enter key to move from a just added tag so that a new one can be added, the first tag disappears.  It will reappear if you hit the enter key a second time, but the behavior is confusing to users, as reported here:

[2021-04-19 00:37] andrewserong commented on #50407
Closing now as this change has been rolled out to wpcom (as of GB 10.4.1)

[2021-04-19 00:37] #50407 closed, assigned to andrewserong

[2021-04-19 01:08] joweber123 commented on #51435
Another report here - 28704142-hc

[2021-04-19 01:37] pento commented on #51838
I was able to reproduce this on a WPCOM simple site (using Twenty Twenty One, rather than p2).

However, I was only able to reproduce it when not saving it before publishing, which makes me think it has the same root cause as Automattic/jetpack#18948.

Given the inconsistency that folks seem to be facing in reproducing the Jetpack issue, I wonder if this might be a race between MySQL replication a

[2021-04-19 01:47] ilyasfoo commented on #50833
Both PRs mentioned above was deployed around 16th April 3:00 AM UTC+0

[2021-04-19 03:30] autumnfjeld opened #52049 "Welcome Tour: show on all new sites"
**Task Details**
Currently the [Welcome Tour is shown only to new users](https://github.com/Automattic/wp-calypso/blob/1ecd0aae4fbf7772bec647abd2aefea82fe30cd9/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/class-wp-rest-wpcom-block-editor-nux-status-controller.php) when they arrive in the editor for the first time.
Instead we would like to show the Tour in the Editor for _any

[2021-04-19 04:28] aisajib commented on #51429
This came up just now on 29094378-hc.

[2021-04-19 04:40] Robertght commented on #48636
I was able to replicate this using Blank Canvas and Restaurant.

It happened after I found a case where a Layout Grid block was used so the common component here is the columns block that was used.

#3918799-zen

[2021-04-19 05:20] joweber123 opened #52051 "Nav Unification - No option for users to enable "Send an email when a post or page changes""
Previously in the wp-admin settings for a site, a user could enable the  "Send an email when a post or page changes".  This option does not appear to be available any longer without accessing that URL directly ( domain/wp-admin/options-writing.php) or enabling the "Show advanced dashboard pages" option.

### Steps to reproduce the behavior

1. Go to Settings > Writing
2. I would have assumed that

[2021-04-19 05:53] jsnajdr commented on #45881
@supernovia Opening a new issue with a clear up-to-date description would be preferrable. This one has almost 200 comments, some big part of it was already fixed, and it would be hard for anyone to figure out what exactly the issue is _today_.

[2021-04-19 05:54] jsnajdr commented on #46084
This is a long-term task that's still valid and will require some time to get fixed.

[2021-04-19 06:49] #51431 closed, assigned to roo2

[2021-04-19 06:51] jeherve commented on #52031
Transferring this to the Jetpack repo, where the block is developed.

[2021-04-19 07:16] ddc22 commented on #50273
Hey @ciampo I actually tried to reproduce this before but couldn't, I am currently blocked by some other work priorities. @southp will take over this issue from here onwards and update you on the progress!

[2021-04-19 08:05] JanaMW27 commented on #33066
Yes, currently there is no clear next step for the user once they install and activate the plugin. We are looking into introducing a SETUP cta for the Yoast project, that will be revealed after installation, so the user can click on it and go to set up the plugin.
Within the plugins experience we should look into:
- Aligning both experiences (calypso and core)
- Adding the next step once the plugi

[2021-04-19 08:42] ciampo commented on #50273
Thank you for the update! I know it may be a bit flaky to reproduce, let me know if you can't at all!

[2021-04-19 09:13] mrfoxtalbot opened #52057 "Inline Support: "Read More" links show empty support results for unavailable locales."
### Steps to reproduce the behavior

1. Set your account to a non-EN language
2. Open an inline support link
3. Click on the "read more" link

#### What I expected to happen

The inline modal window showed the EN version of a support article if that article is not available con the current account loca.es

#### What actually happened

The "read more" link directed to an empty search result, in the

[2021-04-19 09:28] fgiannar opened #52059 "Jetpack Connect: Unnecessary GET /sites/[SITE_ID] on "authorize""
### Steps to reproduce the behavior

1. Create a new JN site running **Jetpack >= 9.6.**
2. Enable the calypso flow by either using Safari or setting the `JETPACK_SHOULD_NOT_USE_CONNECTION_IFRAME` Jetpack Constant to `true`
3. Open your browser's dev tools (so you can monitor XHR requests) and Set up Jetpack
4. You will be redirected to "wordpress.com/jetpack/connect/authorize"
5. Notice the follo

[2021-04-19 09:50] tyxla commented on #46564
cc @Automattic/i18n and @yuliyan in case this is something interesting to consider.

[2021-04-19 09:57] mrfoxtalbot opened #52061 "The Dashboard Appearance toggle has no effect on the "Users" menu item on simple sites"
The Dashboard Appearance toggle will not change the menu item link from `wordpress.com/people/team` to `wp-admin/users.php`  on simple sites.

![users-toggle](https://user-images.githubusercontent.com/4452464/115218037-6b7a8780-a106-11eb-8def-b0f451a08d8c.gif)

Once the toggle is active,  would expect the ben taken to  wp-admin/users.php

Aside from sheer consistency, there are a few minor feature

[2021-04-19 10:13] tyxla commented on #51673
Hey @arunsathiya! The latest desktop app release was released before we merged #51677, so the fix should be in the next release.

[2021-04-19 10:44] simison commented on #52016
Latest design; p9Jlb4-2qt-p2 — those other ones you linked were older:

![image](https://user-images.githubusercontent.com/87168/115224348-6c66e580-a115-11eb-8368-834f54257a6e.png)

[2021-04-19 11:02] aneeshd16 commented on #49336
Hi @hacchism! Thanks for reporting. I am not able to reproduce this. After purchasing a QS session, I can see the "Cancel and Refund" option:
![image](https://user-images.githubusercontent.com/5436027/115226228-a0013a00-a12c-11eb-82c5-0ac4b0280fa7.png)

Is it possible for you to reproduce it again?

[2021-04-19 11:35] dcoleonline opened #52063 "Purchases: Optionally send receipts as a PDF"
**What**<br>A customer is asking for the option to receive their receipts as PDFs.

**Why**<br>They work for a company which has multiple sites under the same account. They need PDFs for their billing system. The receipts they get come as the body of an email, which causes them to have to log into [WordPress.com](<http://WordPress.com>), find the receipt, and print it as a PDF manually each time.

[2021-04-19 11:46] dcoleonline opened #52064 "Purchases: Allow for a separate billing email"
**What**
A customer requests to enter a billing email which is separate from their user account email.

**Why**
They work for a company which has multiple sites under the same account. They oversee the sites but do not handle billing.
It would simplify things if they could make sure that all billing-related items went to the correct department without manual intre

**Additional context**
Source: 2

[2021-04-19 11:56] WunderBart commented on #49592
Closing this one as we're tracking v2.10 upgrade in of https://github.com/Automattic/wp-calypso/issues/51867.

[2021-04-19 11:56] #49592 closed, assigned to WunderBart

[2021-04-19 12:14] #51663 closed, assigned to kwight

[2021-04-19 12:25] david-szabo97 commented on #50015
I couldn't reproduce. We had a couple of Gutenberg updates since this issue. So this might be fixed by now.

[2021-04-19 12:51] tarunvijwani commented on #51429
Another report in 28865312-hc

[2021-04-19 12:52] WunderBart commented on #37087
Closing as per pbAok1-1Jj-p2.

[2021-04-19 12:52] #37087 closed

[2021-04-19 13:15] tjcafferkey commented on #49660
**Planning meeting notes**
* Potentially look into creating a standard to pass additional data into markup which doesn't compromise security by allowing plugin developers to inject their own markup in to menu items.
* Potentially look at modifying the "badges" functionality to accommodate text.

[2021-04-19 13:21] WunderBart commented on #44781
Seems to be a jQuery Masonry issue: https://github.com/godaddy-wordpress/coblocks/issues/1658#issuecomment-806173647

[2021-04-19 13:24] tjcafferkey commented on #49157
@bluefuton can you double check if this is still an issue? As far as we know this has been fixed but would just like your confirmation on this before closing. Thanks!

[2021-04-19 13:29] tjcafferkey commented on #51150
@hambai we are about to pick up this issue in our iteration and see you've opened a WIP PR to close this.

Is there any update around this?

[2021-04-19 13:39] WunderBart commented on #45089
Same here - not sure how to reproduce. @lsl could you confirm this issue is still happening?

[2021-04-19 13:50] WunderBart commented on #50120
Duplicate of https://github.com/Automattic/wp-calypso/issues/45236

[2021-04-19 13:50] #50120 closed, assigned to nobody

[2021-04-19 14:07] WunderBart commented on #50972
👋 @alaczek, I couldn't reproduce this one on either Simple or Atomic site. Could you confirm this is still happening? Maybe specific to some theme?

[2021-04-19 14:15] WunderBart commented on #50303
Duplicate of https://github.com/Automattic/wp-calypso/issues/49950

[2021-04-19 14:15] #50303 closed, assigned to nobody

[2021-04-19 15:36] aleone89 commented on #51581
Does this mean when AT users click on posts, they'll go to wp-admin/posts.php ?

Ok, does this mean these features going from Calypso to WP Admin will only be visible via wp-admin?

I think I'm missing something here, I'm not sure how #51435 relates to this particular feature request?

That's correct. This ticket really isn't about features going from calypso to WP-Admin, but the other way round.

[2021-04-19 15:42] obenland commented on #51581
Yes, that is already live. If you encounter a WoA site that has their Posts menu item link to Calypso it should be considered a bug.

Yes, we want to remove the need for duplicate screens because one environment has a feature that the other doesn't have.

By fixing #51435 we can move simple sites over to using wp-admin for their posts/pages list as well, removing the need to port bulk editing to C

[2021-04-19 15:42] #51581 closed, assigned to nobody

[2021-04-19 16:53] noahtallen commented on #46027
Though this is a good request, I don't think this will be prioritized because of the work on Global Styles in core. That's a much more advanced system, and I imagine this global styles implementation will be deprecated at some point in the future.

[2021-04-19 16:53] #46027 closed

[2021-04-19 17:06] kwight commented on #44844
@kdevnel Correct, my suggestion was for us to add the $0 option to the block.

[2021-04-19 17:06] ciampo commented on #51979
Hey @Automattic/theam , do you have any advice regarding which font pairing (headings + base font) should be used when picking the Blank Canvas design option? (see [example](https://github.com/Automattic/wp-calypso/blob/trunk/packages/design-picker/src/available-designs-config.json#L8-L11) )

Thank you!

[2021-04-19 17:10] MaggieCabrera commented on #51979
@kjellr can you help here? I think he's not being tagged when you tag theam

[2021-04-19 17:10] kwight commented on #51662
@kriskarkoski Oh! That's just a legit bug then, and should be a separate issue.

[2021-04-19 17:27] kjellr commented on #51979
The theme uses [our usual System Fonts stack by default](https://github.com/Automattic/themes/blob/1558f1da743be0015273e3818cfbfe163b5f23b2/blank-canvas/variables.css#L7-L8), so I'd prefer to stick to that for both headings + body text. If for some reason we need to use other fonts, I think Source Sans Pro is a reasonable replacement.

[2021-04-19 17:46] ktyfuller604 opened #52070 "Editor: Right Click Paste doesn't work on Empty block (Safari)"
### Steps to reproduce the behavior

1. Make sure you have something in your clipboard
2. Add a new page or post while using Safari 14.0.3
2. Click on the Type / or select a block placeholder and right-click
3. Note the Copy/Cut/Paste options are unavailable
4. Type some text, and right-click again, note the options are available now

### Context

Reported by a user who was able to paste using thi

[2021-04-19 17:53] sixhours opened #52071 "Settings: Default category number bubbles need vertical alignment tweak"
### Steps to reproduce the behavior

Found this while working on #50568

1. Go to Settings -> Writing -> Categories on a site that has some posts assigned to the **default** category (other categories are fine)
2. Note the vertical alignment of the number label - the number should be centered in the bubble, but it's quite a bit off:

<img width="759" alt="Screen Shot 2021-04-19 at 1 47 13 PM" src=

[2021-04-19 18:32] Aurorum commented on #52071
PR for this issue in #52072. :)

[2021-04-19 18:50] Aurorum commented on #52057
Could this not create more confusion than the present system? Currently, users appear to have the choice whether or not to have that content translated through Google Translate, and I suspect that might still be regularly used. By forcing people to view the English version, they might miss out on that option.

<img width="743" alt="Screenshot 2021-04-19 at 18 06 19" src="https://user-images.github

[2021-04-19 19:10] chad1008 opened #52074 "Blog Posts Block: Sharing Buttons are shown regardless of Sharing Button settings"
### Steps to reproduce the behavior
1. Add a Blog Posts block to a page
2. Set the block to display a specific category of posts and to show excerpts (length of excerpt does not matter)
3. Publish the page
4. Open My Site > Settings > Sharing, and disable sharing buttons on archive/category pages
5. View your recently published page
6. Sharing buttons are still displayed

#### What I expected to h

[2021-04-19 19:28] sixhours commented on #50568
I'm seeing two issues here:

- [x] The sidebar navigation links to Categories and Tags management in `/wp-admin`, regardless of the Dashboard appearance settings. When the toggle is **off**, these should go to `/settings/taxonomies/categories/[site]` and `/settings/taxonomies/post_tag/[site]` respectively. When the toggle is **on** these should go to their respective screens in `/wp-admin` - Done

[2021-04-19 20:03] #52071 closed, assigned to nobody

[2021-04-19 20:13] Aurorum commented on #52057
Ah! Yep, I agree that it could be more prominent to avoid that issue of people missing it - at the very least, maybe a font size increase or colour change.

[2021-04-19 20:14] bsessions85 commented on #51916
I've been trying to test running visual regression tests on the page templates in the editor. I am seeing a lot of inconsistency there. Here is an example of some results. You can see in the image two versions I am seeing regularly and it seems to bounce back and forth between them. Occasionally I will also see other differences. This leads me to believe that testing in the editor may be too flaky

[2021-04-19 20:16] bsessions85 commented on #51916
It is also worth noting that I am running these within a docker container so that we don't get differences between environments.

[2021-04-19 21:24] darnelldibbles-zz commented on #36063
Received another request for it to not be a fallback option: https://twitter.com/_TrentShell/status/1384243629619773442

[2021-04-19 21:35] autumnfjeld commented on #50426
@simison @p-jackson Can we close this issue since work in https://github.com/Automattic/wp-calypso/pull/51531 is merged?

[2021-04-19 21:35] mreishus commented on #51533
### Summary of current state and desired changes

[code]

### Chesterton's Fence (Why is it currently this way? - querying @mmtr )

The code to control the Import/Export menus on simple sites is located [here, in jetpack](https://github.com/Automattic/jetpack/blob/825a47efe2869f32677224862d545530eeeadad0/projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php#L254-L257). N

[2021-04-20 00:47] tanjoymor commented on #48178
Reopening this issue, because although it's been removed from the Jetpack "menu" it's still located on the Jetpack > Dashboard: https://d.pr/i/JyKb3T and still leads to a Page not found error.

User report: #28012871-hc

[2021-04-20 01:28] sirbrillig commented on #43265
I'm very curious how this was possible because there is no endpoint that I can find that allows setting the stored contact details. 🤔

[2021-04-20 01:29] sirbrillig commented on #49369
Should be fixed by D60388-code

[2021-04-20 02:26] devNigel opened #52078 "Classic Block: Editor jumps when clicking anywhere on the Classic block text"
### Steps to reproduce the behavior

1. On a paeg or post, add Classic block and enter some paragraphs.
2. Save the page or post. Reload it.
3. Click anywhere on the Classic block, you will see the page jumps / scrolls down automatically.

#### What I expected to happen

Clicking on Classic jump shouldn't make the editor page jump.

#### What actually happened

Editor page jumped after clicking on

[2021-04-20 03:36] katiebethbrown commented on #48243
I'm seeing a similar issue with the HubSpot plugin that also might be related to dashicons:

When viewed from Calypso the icon isn't visible:
<img width="298" alt="unauthed" src="https://user-images.githubusercontent.com/42279181/115333578-23d01c00-a157-11eb-884a-38caf65051f4.png">

But it does display when on WP Admin pages:
<img width="309" alt="visibleicon" src="https://user-images.githubuserco

[2021-04-20 03:42] vinnykaur commented on #46077
hc-29115264 : Profile pic on email posts different from account profile pic

[2021-04-20 04:49] donalirl opened #52080 "Add Support for Voomly"
Voomly is a platform for online classes.

Voomly offers two embed options: link and iframe:

https://support.bryxen.com/en/support/solutions/articles/35000151438-how-can-i-share-my-voomly-video-

This request is to introduce support for Voomly embeds on simple WordPress.com sites.

This will allow site owners to showcase Voomly content.

**Additional context**
Requested in #26692391-hc

[2021-04-20 04:53] donalirl opened #52082 "Add Support for Sendfox"
Sendfox is an online marketing service for newsletters.

Sendfox has a WP plugin: [https://wordpress.org/plugins/wp-sendfox/](<https://wordpress.org/plugins/wp-sendfox/>)

This request is to introduce support for Sendfox embeds on simple [WordPress.com](<http://WordPress.com>) sites, simllar to currently-supported offerings like Mailchimp and Mailerlite.

This will allow site owners to embed Sendf

[2021-04-20 04:56] donalirl opened #52083 "Add Support for Microsoft Forms"
Microsoft Forms have an iframe embed option not compatible on simple WordPress.com sites.

This is a request to add support for embedding Microsoft Forms, similar to how we support embeds of other forms like Google Forms and Jotform, and other Microsoft tools like OneDrive PDF, Powerpoint, Excel, and Word.

**Additional context**
Requested in #26692391-hc

[2021-04-20 05:09] ollierozdarz commented on #52017
Nice, @ciampo !

Actually, after seeing your videos (the nitty gritty 😉), I wonder if the last step of showing 4 designs is actually necessary. Seeing 3 designs feels bigger and better in those scenarios, then once we hit the final breakpoint you lose a bit of value since the grid container is the same size but the designs get smaller.

Unless there's push back on this, I'd be up for making [1632,

[2021-04-20 05:34] pauljacobson commented on #52084
I received a similar request yesterday for another user who also reported that the Category Page links didn't display posts that were assigned to the particular categories. In this case, the category is "Tutorials".

The user mentioned several posts [here](https://tapavakos.gr/2019/01/20/%cf%86%ce%af%ce%bb%cf%84%cf%81%ce%bf-%ce%b1%cf%80%ce%bf%cf%83%cf%84%cf%81%ce%ac%ce%b3%ce%b3%ce%b9%cf%83%ce%b7%c

[2021-04-20 06:04] autumnfjeld opened #52085 "Gutenboarding Design Previews: uniform scroll speed on hover"
Continuing work from  https://github.com/Automattic/wp-calypso/pull/51918

Current:
In the Gutenboarding flow design selection screen,  each preview screenshot is a different height and the way the css animation is currently set up to use a fixed time for the animation,  means the scroll velocity is dependent on the screenshot height.
https://hash-a5b79c626dc0dd48962bca7ea6bef8c8195427f0.calypso.l

[2021-04-20 06:07] autumnfjeld commented on #52085
cc: @ollierozdarz

[2021-04-20 06:31] kosiew opened #52087 "eCommerce: Customer is unable to access Chat option at https://wordpress.com/help/contact"
### Steps to reproduce the behavior

1. SU to this user of this ticket - #3921327-zen
2. Go to https://wordpress.com/help/contact

#### What I expected to happen
Customer sees option to Chat

#### What actually happened
Customer only sees option to Send Email

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
![Screenshot](https://d.pr/i/ZBsVfL+)
*if image does

[2021-04-20 06:48] cpapazoglou commented on #51150
@daledupreez mentioned that they will be picking this PR as part of their current iteration, since the email pages will probably be ready next week. convo: p1618862347352500-slack-CJS75TX3R

[2021-04-20 07:13] retnonindya commented on #51746
Another report:
3892491-zd-woothemes

[2021-04-20 07:40] razvanpapadopol commented on #52017
Yes, this is exactly what happens in the proof of concept PR (#52068) by setting the minimum width of 295px per item. Just to confirm, the 3 columns as a maximum will apply in `/start` which has the max-width of the container 960px. On the other hand, in `/new`, where we have 1440px as max-width, having 4 columns makes sense.

Test link for `/start`: https://calypso.live/start/with-design-picker?b

[2021-04-20 07:41] cpapazoglou commented on #48178
That's interesting, this page cannot be found even with `nav-unification` disabled `https://wordpress.com/scan/[DOMAIN]?disable-nav-unification`!

It seems that we are returning a "Page not found" for all WPCOM (simple & atomic) sites

https://github.com/Automattic/wp-calypso/blob/e0bf4b63a7a09eaec5226826a0bae935edd03ec3/client/my-sites/scan/index.js#L36-L38

cc: @Automattic/jetpack

[2021-04-20 07:52] jeherve commented on #48178
cc @Automattic/yamato-scan, who may have more background on this.

[2021-04-20 08:39] razvanpapadopol commented on #52016
@kwight, we assume that Blank Canvas template is not going to be an option for the AnchorFM flavored onboarding. Is this correct?

[2021-04-20 09:08] #51963 closed, assigned to razvanpapadopol

[2021-04-20 09:56] daria2303 commented on #51829
3913675-zd-woothemes

Asking if this is still happening.

[2021-04-20 10:11] simison commented on #51916
cc @ockham who I believe was looking into visual diff testing of templates or blocks in the core. Have you noticed any similar flakiness?

[2021-04-20 10:13] simison commented on #50426
@autumnfjeld yep! I'll close this.

There are some follow-up questions in the post (pbAok1-28a-p2), these might need their own issues if they can be improved;

- What is the difference between `null` and `undefined` values?
- Can we capture when blocks are inserted from page template picker so that those wouldn't appear as undefined?

[2021-04-20 10:19] zdenys opened #52098 "Editor: Improve Contextual Tips Visibility"
**What**
The tips may be very unlikely to be seen if one just clicks the + button (main block inserter in top right) without typing anything. In this scenario, they are at the very bottom of the very long list of blocks.

**Why**
Tips are helpful but are not getting the deserved visibility IMHO.

**How**
It may be better to show them in the inline/quick block inserter (just above or below `Browse

[2021-04-20 10:23] fgiannar commented on #52059
Unfortunately the proposed fix doesn't solve this, as the request to the remote site is performed in order to [determine whether the user is connected](https://github.com/Automattic/wp-calypso/blob/trunk/client/state/jetpack-connect/actions/is-user-connected.js#L34).
This means that getting a `403` response is actually expected behaviour.

I'm leaning towards closing this and exploring alternative

[2021-04-20 10:39] simison opened #52100 "Cookie banner: FSE friendly way to enable and modify the banner"
Paid sites get a feature called "cookie banner". The code is Jetpack plugin and you enable & modify it via Customizer's widgets ([docs](https://wordpress.com/support/cookie-widget/)).

<img width="1481" alt="Screenshot 2021-04-20 at 13 33 47" src="https://user-images.githubusercontent.com/87168/115382634-94ba1700-a1dd-11eb-9aca-30b50038fe0f.png">

Widget is a bit odd place to control a site-wide b

[2021-04-20 10:55] davipontesblog commented on #45562
Closing as fixed as CoBlocks has been updated now.

[2021-04-20 10:55] #45562 closed

[2021-04-20 12:31] dolgelukkig opened #52105 "Address formatting in Jetpack contact info block"
The address part of the Jetpack contact info block is pre-formatted and it's not possible to change the order of the options.

As the fields have specific markup, the user doesn't want to use a wrong field for the wrong piece of content.
![image formatting](https://d.pr/i/OJlUDx+)
Direct link to image:https://d.pr/i/OJlUDx

What
The user should have the option to change the order of the address fi

[2021-04-20 12:31] davipontesblog commented on #49950
Closing as fixed as CoBlocks has been updated now.

[2021-04-20 12:31] #49950 closed, assigned to nobody

[2021-04-20 12:32] davipontesblog commented on #50294
Closing as fixed as CoBlocks has been updated now.

[2021-04-20 12:32] #50294 closed, assigned to nobody

[2021-04-20 12:36] WunderBart commented on #45236
CoBlocks have just been upgraded to v2.10.1 on Simple sites (p7DVsv-bbF-p2). In my testing, this issue can be resolved by enabling the Gallery Carousel setting (WP.com Settings > Media > Image Gallery Carousel > Enable carousel). This can be treated as a temporary workaround. Ideally, I think this should be addressed within the Gallery script (jetpack-gallery.js). cc @jeherve @tyxla

[2021-04-20 13:27] WunderBart commented on #51867
This one is done! 🥳

[2021-04-20 13:27] #51867 closed, assigned to WunderBart

[2021-04-20 13:35] claudiucelfilip commented on #52020
The issue is caused by the `value` attribute added by WP AMP 1.4.2 when the `Automatically fit text to container` is enabled. This attribute pass through the KSES sanitizer properly which escapes the whole block. The escaped version of the content is save and won't match what the Gutenberg save function generates.

@WunderBart I opened D60408-code to address this issue. Similar to another situatio

[2021-04-20 13:39] singerb commented on #48178
That would be @Automattic/jetpack-voyager

[2021-04-20 14:04] ersatzpenguin commented on #50739
The original user who reported this returned asking for an update. I ended up noticing something.

The issue appears to be that the `data-ratio` set for the iframe is always set to `0.563`.

This roughly corresponds with the padding in the `:before` element set for the block for 16:9 videos: `56.25%`. However, while that `:before` element (ex: `.wp-embed-responsive .wp-embed-aspect-21-9 .wp-block-

[2021-04-20 14:18] kwight commented on #52016
@razvanpapadopol Correct, Anchor flows have their own template automatically assigned.

[2021-04-20 14:20] kriskarkoski commented on #47643
29124921-hc. Their donation block was in a Cover block initially and broke the layout of all subsequent blocks. Even with moving it to the top-level it breaks the layouts and color settings of blocks that follow it.

[2021-04-20 14:28] rcanepa commented on #48178
We are taking a look at this now (I created a card on our maintenance board 1164141197617539-as-1200221780317813).

[2021-04-20 14:46] zdenys commented on #52087
Since it's user-specific, I suspect it may be due to the fact that they were blocked in chat as per User Note added on 2021-04-15.

[2021-04-20 15:04] StefanNieuwenhuis opened #52107 "New Onboarding: skip /new/style step if selected design has no font pairings"
### What

The blank canvas design uses system fonts, and therefore the font-picking step should be skipped automatically.

### Why

Since the blank canvas has no content, there is no need to select font pairings upfront.

### A/C

* [ ] The `fonts` option of a design configuration should become optional
* [ ] The Gutenboarding "style" step should be skipped when a design is selected, but its confi

[2021-04-20 15:12] retrofox commented on #49205
Hi, @cpapazoglou. How do you end up with this [color definition](https://github.com/Automattic/wp-calypso/blob/daa2bb3e7f04639c3acda6c1a5dced3a51bfcce8/packages/calypso-color-schemes/src/shared/color-schemes/_midnight.scss#L15-L30)?

[code]

This definition generates a blue palette, which causes this color inconsistency.

[code]

Also, I'm afraid copying and pasting the core color won't work strai

[2021-04-20 15:23] StefanNieuwenhuis commented on #51979
Thanks for helping out @MaggieCabrera & @kjellr! As proposed by @ollierozdarz, we skip the font pairings step in the onboarding flow, so the default fonts will be used. For more details, see #52107.

[2021-04-20 16:03] klimeryk opened #52110 "Show a notice in DNS editor for mapped domains"
What
Notice in DNS editor for mapped domains explaining that these records only apply as long as the domain is using our nameservers.

Why
See p99Zz8-1Hw-p2#comment-5088. For registered domains, the DNS editor is only visible when using our nameservers. But for mapped domains, we always show it, without context, so for users not familiar how it all works, it can be definitely confusing/misleading.

[2021-04-20 16:08] nickpagz commented on #48316
I'm not sure if this needs a separate issue reported or not, but logging here for now.
Similar to the [second comment](https://github.com/Automattic/wp-calypso/issues/48316#issuecomment-756320938) above, I helped a user "Launch" their site while in chat. The panel in Calypso said it was launched, ie Public, but it was still showing the Coming Soon banner on the site.
Interaction: #29114135-hc

[2021-04-20 16:15] mreishus commented on #51533
https://github.com/Automattic/jetpack/pull/19583

[2021-04-20 16:17] kwight commented on #51916
Hm, are those differences from the theme of the site? It looks like the test site has a different theme, which could be loading editor styles (accounting for the differences).

[2021-04-20 16:22] bsessions85 commented on #51916
@kwight, good question. I'll look in to that! thanks

[2021-04-20 16:35] kriskarkoski commented on #52078
@devNigel Did you happen to test this on core WP, such as Jurassic Ninja?

[2021-04-20 16:40] zdenys commented on #52045
Just noticed this issue so wanted to move it to https://github.com/Automattic/jetpack since Contact Form issues are handled there.

[2021-04-20 16:41] zdenys commented on #52040
Just noticed this issue so wanted to move it to https://github.com/Automattic/jetpack since Contact Form issues are handled there.

[2021-04-20 16:42] zdenys commented on #52039
Just noticed this issue so wanted to move it to https://github.com/Automattic/jetpack since Contact Form issues are handled there.

[2021-04-20 16:49] zdenys commented on #51931
From the screenshot I can see that the site has `wpcomstaging.com` address, so that hints it's an AT (WoA) site but maybe without a WordPress.com Business Plan? Those types of sites need to be reverted first in order to allow theme changes, if I am not mistaken.

[2021-04-20 17:47] marcuswisecaesar opened #52114 "WordPress.com/Plugins Loads as a WhiteScreen for HE's"
### Steps to reproduce the behavior

1. Go to WordPress.com/Plugins
2. See the Plugin page briefly, then see it disappear

#### What I expected to happen
The Plugin Page to load, as it does when I add a site URL to the end of the link.
![screenshot](https://d.pr/i/XYQML7+)
[Direct Link](https://d.pr/i/XYQML7)

#### What actually happened
Loading WordPress.com/Plugins/ loads a blank white page:
![s

[2021-04-20 18:13] sixhours commented on #52114
This should be fixed by #52115! :)

[2021-04-20 18:13] #52114 closed, assigned to nobody

[2021-04-20 18:32] mdrockwell opened #52117 "Social Icons Block: Mail Icon Links Shouldn't Require `mailto:`"
What
It can be expected that the mail icon would be used to link to email addresses. So if an email address is entered without the mailto: part, it should be added automatically upon publishing.

Why
Some users aren't aware of mailto: links.

[2021-04-20 18:39] davipontesblog opened #52118 "Completing a plan purchase: Full-screen "celebration page" loses the Calypso navigation"
**What**
When upgrading an existing site with a paid plan purchase, it shows a splash page that’s full screen and I don’t know where I am in the context of my site anymore. Could we not just redirect users to wordpress.com/plans/my-plan with a modal to celebrate the purchase? It may be better for scaling as an approach as well as we are re-using an existing screen.

<img width="1405" alt="Screen S

[2021-04-20 18:41] AtrumGeost opened #52119 "Choose a plan screen shows white text on white background"
### Steps to reproduce the behavior

1. Create a new user
2. Select a free domain
3. In Step 3 (Choose a plan) select "Pay Monthly": https://wordpress.com/start/plans?intervalType=monthly
4. Notice the tooltip next to the "Pay annually tab"

#### What I expected to happen

For the text inside the tooltip to be visible

#### What actually happened

![white font on white background](https://user-ima

[2021-04-20 18:43] jamiepalatnik opened #52120 "Manage Purchases: Not possible to access Domain Settings if you have previously selected a different site"
### Steps to reproduce the behavior

1. Go to the WordPress.com dashboard.
2. Select a site that does not have a custom domain associated with it.
3. Go to Manage Purchases and select a domain.
4. Click Domain Settings.

#### What I expected to happen

To see domain settings for the domain I selected.

#### What actually happened

It attempts to open the domain on the site that was previously sele

[2021-04-20 18:45] davipontesblog opened #52121 "Themes Showcase: Make it easier to find the ability to Search"
**What**
It's difficult to search for themes in WordPress.com. How does a user know where Premium themes are? We should change the layout of Themes to help place the search bar and toggles for Premium themes/ Free themes more prominently at the top, along with our "Recommended themes" which are important to show first.

<img width="1193" alt="Screen Shot 2021-04-20 at 2 43 48 PM" src="https://user

[2021-04-20 18:49] Nic-Sevic opened #52123 "Nav Unification: inconsistent page linking"
### Steps to reproduce the behavior

1. Publish a post or page from the editor
2. Click on the WP icon in the tool bar (upper left) and select all posts/ all pages
3. get taken to the WP Admin version of the page

#### What I expected to happen
should go back to the calypso version for simple sites

#### What actually happened
only after publishing a page you're taken to the wp admin version

###

[2021-04-20 18:50] davipontesblog opened #52124 "Premium plan purchase: There is no card in My Plan about Premium Themes"
**What**
The Premium plan page (My plan) https://wordpress.com/plans/my-plan/ does not mention Premium themes as a card. It would be nice to show a card there with a link to Premium themes search in Themes repo: https://wordpress.com/themes/premium/

**Additional context**
#dogfooding

[2021-04-20 18:54] Nic-Sevic opened #52125 "Button block: can't change horizontal alignment when vertical variation is selected"
### Steps to reproduce the behavior

1. Add a button block with multiple buttons
2. Change to vertical variation
3. try to change horizontal alignment from toolbar

#### What I expected to happen
should be able to align column of buttons left, center, or right

#### What actually happened
can't change horizontal alignment when vertical variation is selected

### Context
empathy testing

#### Scree

[2021-04-20 18:54] davipontesblog opened #52126 ""Classic" Themes: Offer the user an option to "headstart" the site with the demo content from the theme"
**What**
When using classic themes/advanced themes in WordPress.com, the themes that typically require a user follow the theme guide setup page to set up a homepage for example, we don't offer the user a way to "headstart" their site with demo content. We have the option to add the homepage layout for newer themes, but nothing for the advanced ones that don't utilize a block-based homepage layout.

[2021-04-20 18:55] AtrumGeost opened #52127 "The "Your site hasn't been launched yet" banner conflicts with sticky menus/nav"
### Steps to reproduce the behavior

1. Create a new site
2. Select a theme with the sticky menu like Stratford or Rockfield
3. Visite the new site, notice the "Your site hasn't been launched yet" banner and scroll down
4. Notice the gap between the sticky menu and the top of the site

#### What I expected to happen

For the sticky menu to stick at the top of the site without any gaps

#### What a

[2021-04-20 19:02] AtrumGeost opened #52128 "Latest Posts block: Post links/titles lead to the actual post exiting the editor"
### Steps to reproduce the behavior

1. Go to the editor and add the Latest Posts block
2. Click on a post title
3. Notice the link behaves like an actual link (forcing you to exit the editor), which is not an expected behavior inside the block editor

#### What I expected to happen

I was expecting to be able to select the post (or the block) to see the options the block provides me

#### What ac

[2021-04-20 19:19] retrofox commented on #50312
I recall something about conflicts between site and user timezone.

[2021-04-20 19:44] chad1008 commented on #51095
Slightly different symptom that @mrfoxtalbot mentioned might be related:

When manually navigating to /wp-admin, the **Stats by Jetpack** module is still available (may need to be activated through Screen Options).

However, the module displays an empty white box with no actual data:

<img width="710" alt="markup-2021-04-10-at-15 40 06" src="https://user-images.githubusercontent.com/13856531/11545

[2021-04-20 19:57] kwight commented on #43891
@ianstewart Would you call this a dupe of #43892, meaning the fix for that issue would fix this at the same time – or are they separate mechanisms?

[2021-04-20 20:03] bsessions85 commented on #51916
The theme was part of the problem. I didn't realize that different themes changed how it looks in the editor. It now looks better, but is still flaky. Things like images being slightly different or sometimes not loading  are the next challenge.

[2021-04-20 20:13] kwight commented on #39850
@moon0326 @timmyc With https://github.com/Automattic/wc-calypso-bridge/pull/671 merged, can we close this?

[2021-04-20 21:17] thebud15 commented on #46802
@ebinnion @obenland Just wanted to check if we had some updates on how this is coming together.

[2021-04-20 21:41] obenland commented on #52046
@wpshellbelle Is there any more information you can share as to how to reproduce this?

Does this happen on all your Atomic sites? Only with certain plugins enabled? Only with certain themes?

[2021-04-20 21:42] timmyc commented on #39850
I just spun up a new test site, and confirmed the fix in production. Default pages created ✅

![image](https://user-images.githubusercontent.com/22080/115467598-9f2cde80-a1e6-11eb-92cd-68eeb0c8f4d2.png)

[2021-04-20 21:51] obenland commented on #52051
@mmtr Did something revert or break [your commit from last week](https://github.com/Automattic/wp-calypso/issues/50217#issuecomment-818605628)? I also can't find that setting

[2021-04-20 21:53] #39850 closed

[2021-04-20 21:58] kwight commented on #51916
It's pretty scattered; themes _can_ enqueue styles into the editor to make it look more like the front-end – some themes do, some don't. Some do it well, some don't.

Does that have something to do with the origin? Some could be coming from URLs, Photon, or the media library directly. I know blocks like the Gallery block have pretty [awkward image handling by necessity](https://github.com/Automatt

[2021-04-20 22:08] autumnfjeld commented on #52049
I'm estimating this as Ganon Size S (well defined, few days work) based on the idea that we "simply" need to:
* get the site creation date,
* do  a little time math,
* determine that the site is new and user is viewing editor for this site for first time
* flag to show the welcome tour
For onboarding flows that drop user into the editor, this is straightforward because the site creation and viewin

[2021-04-20 22:14] obenland commented on #52061
There are a few pages where we don't swap with wp-admin equivalents, `plugins.php`, `tools.php`, etc.
The toggle is inherently inconsistent. Swapping `users.php` would create an inconsistency with `user-new.php`, so I'm not sure we'd actually be in a better spot.

Rather than spending time on splitting up screens, I'd love for us to work towards not needing the toggle in the first place

[2021-04-20 22:59] noahtallen commented on #51947
Looking at the video from the URL, the problem is that it didn't wait long enough for the editor to load after creating a site. It took a bit too long on the "step 2" part of the create site flow. (inside this function call: https://github.com/Automattic/wp-calypso/blob/8f2f25edfd8a7ad0fab997a741a1000dba2b781e/test/e2e/specs-gutenberg/wp-calypso-gutenberg-post-editor-spec.js#L440)

So I think we n

[2021-04-20 23:15] noahtallen commented on #51947
From what I can tell from the video, when the "published post" snackbar shows up, the driver does click it -- but the published post doesn't load. :thinking:

[2021-04-21 00:16] arunsathiya commented on #51673
That makes more sense, thanks @tyxla! Just to make sure I understand the releases part, was the last release of desktop app really in Aug 2020? 🤔 - https://github.com/Automattic/wp-desktop/releases

[2021-04-21 00:23] rinazrina commented on #51095
User report for the issue mentioned by @chad1008 above: #9297870-hc

And I can reproduce it on my test Atomic sites.

[2021-04-21 00:27] roo2 commented on #52049
hmm yea it looks like it's not too hard if we do like a _site_creation_time > time_welcome_tour_was_last_dismissed_ comparison.

Although, this would mean that if you create site A, then create site B, then dismiss the tour on site A, you wouldn't see the tour on site B. If we want to solve that problem, I think we would have to implement something on a per-site basis.

I feel like the purpose beh

[2021-04-21 01:05] autumnfjeld commented on #52049
Yep, it has to be on a per site basis.  Will need to reliably show the Tour on every new site, regardless of what the user has done before with any site/Welcome Tour.

100% spot on. 👍   But "some time" might be difficult for us to pin point right now.  We might need to gather feedback after launching.

You are right to be considering this scenario 😄 , but I don't think we should worry about this n

[2021-04-21 01:34] jerrysarcastic commented on #51189
Also reported (with some extra hate mail for the unification change) here:  https://wordpress.com/forums/topic/closing-a-free-blog-account/

For now gave workaround to turn off Advanced Pages setting temporarily

[2021-04-21 01:40] roo2 commented on #52049
hmmm I think that if we make the requirement to show on every single new site hard and fast then we will need a more complex implementation, adding a flag to each site to signify if the user has closed the tour _on that site_ yet or not. we'll have to think about sites created before this change and will probably have to handle atomic sites differently then simple sites, make sure the new flag get

[2021-04-21 02:34] autumnfjeld commented on #52049
Summarizing slack & call @roo2 and I had to discuss.

Is there a way we can do this without considering ` time_that_welcome_tour_was_last_dismissed`?

Something like  `if ( current_time - site_creation_time > N minutes) then showTour`.
Admittedly, that might not be a robust solution. What other data is available that is an indication of a new site?

I'm thinking of this in terms of this core task:

[2021-04-21 03:04] roo2 commented on #52049
yep I'll try a draft PR with the `if ( current_time - site_creation_time < N minutes) then showTour` 👍

[2021-04-21 03:18] deBhal commented on #52049
We could do a pretty direct per-user to per-user-site upgrade by changing the meta key to `$wpdb->get_blog_prefix() . '_wpcom_block_editor_nux_status'`, that'd just leave handling the existing cases.

Handling existing cases depends on how much effort we want to spend on it.

At the heavy end, we could write a job to go through every site for every user and copy the current value into the new one.

[2021-04-21 03:29] nagpai commented on #46077
#29044319-hc

Causing confusion to the user. Username changed in calypso, but  People >> team and WP admin (CLI ) show older username.

[2021-04-21 04:35] roo2 commented on #52049
created draft PR here https://github.com/Automattic/wp-calypso/pull/52139

[2021-04-21 04:55] donalirl opened #52140 "Consolidate Duplicate Options in Settings → Reading"
Go to Settings → Reading on a Simple Site. Almost all the settings here are also present in other areas, making this screen largely redundant:

* _'Your homepage displays'_ can be found at Customize  → Homepage Settings
* The next three options: _'Blog pages show at most', 'Syndication feeds show the most recent'_, and '_For each post in a feed, include'_ can all be found under Settings → Writing

[2021-04-21 05:21] ollierozdarz commented on #52017
Thanks @razvanpapadopol!

Would it make anything easier (more parity) for both flows to use 1440px max-width? I know some of the control flow pages are 960px, but the current domain variant page I see right now in /start is much wider anyway, and since the page title and subtitle are centre aligned, I feel like there's not a big issue with the inconsistency.

[2021-04-21 05:25] ollierozdarz commented on #52085
I think this is a great idea, @autumnfjeld. Some designs also have no scroll (as you will know!) since they're one page designs.

[2021-04-21 06:29] #50649 closed, assigned to nobody

[2021-04-21 06:37] simison commented on #32035
![image](https://user-images.githubusercontent.com/87168/115507701-1dd85900-a285-11eb-9ea2-881b51d62d39.png)

@pablohoneyhoney had this happen twice (on P2 I think). Grabbed this for Create to investigate.

Can you add:
- Browser
- If you're on flaky internet
- File size & format (png, jpg...)

Error itself seems to be coming from the API: https://github.com/WordPress/WordPress/blob/270f2011f8ec72

[2021-04-21 06:55] claudiucelfilip commented on #52020
D60408-code has been deployed 🎉

This fix only addresses the breaking block code, due to sanitisation. The actual auto-sizing functionality doesn't seem to work though on this version, and it seems to have on non-wpcom sites as well.
We'll aim to address this by upgrading to WP AMP 2.0.5, where the functionality seems to work properly there. The aim is to fully rollout this new version next week (

[2021-04-21 06:59] tyxla commented on #51673
Good question - actually, the WP.com desktop app has been part of Calypso since then, and the releases [can be found](https://github.com/Automattic/wp-calypso/releases) in the `wp-calypso` repo.

[2021-04-21 07:19] simison commented on #51916
It's also part of the equation that frequently breaks visuals in the editor because it's so hard to notice those differences when upgrading themes (think e.g. alignment breaking, extra spacing appearing).

[2021-04-21 07:37] inaikem commented on #50312
Another report here: site lang is TH, user lang is EN. Unified nav shows both languages: 29138126-hc

![Annotation on 2021-04-21 at 15-36-47](https://user-images.githubusercontent.com/66711744/115515233-83453d80-a2b7-11eb-8238-76ed281f933f.png)

[2021-04-21 08:08] arunsathiya commented on #51673
Ooh, that's helpful info, thanks @tyxla!

[2021-04-21 08:15] kylemcph opened #52144 "New post email notification: Image Captions displayed to the right of image"
### Steps to reproduce the behavior

1. Follow the test site
2. Publish a blog post with caption added to an image block
3. Check the email notification on mobile

#### What I expected to happen

The image captions would be displayed below the image, similar to how displayed on live site.

#### What actually happened

The caption is instead displayed awkwardly, with part of the caption to the righ

[2021-04-21 08:24] lsl commented on #52049
Both approaches work, I prefer the age of site approach because there is no need to store anything. But if you want the dismiss / view data then its probably going to come down to using meta info:

I'd just upgrade `wpcom_block_editor_nux_status` to be an array of blog id's the user has dismissed the tour on, handle both new and old formats, upgrade any old format user meta you encounter along the

[2021-04-21 09:20] razvanpapadopol commented on #49048
D60468-code is adding a flag `is_blank_canvas` to site options and together with <s>draft PR https://github.com/Automattic/wp-calypso/pull/52113 that adds</s> Blank Canvas design added to `/new`, we should have all the necessary pieces in place to start looking into this one.

[2021-04-21 09:49] cpapazoglou commented on #49205
I would lie if I say I remember anything of this... Searched through this PR https://github.com/Automattic/wp-calypso/issues/47103 but still can't find how the definition was generated...

@mreishus is there a chance you remember?

[2021-04-21 09:56] #50650 closed, assigned to scinos

[2021-04-21 10:15] devNigel opened #52149 "Google My Business: Flow is broken if there is no Google My Business under the connected Google account."
### Steps to reproduce the behavior

1. Go to Tools > Marketing > Connections
2. Connect Google My Business to a Google account that does not have a Google My Business account.
3. After approving connection from Google, WordPress.com asks to select a location. But there is none to select.
![image](https://user-images.githubusercontent.com/33957570/115537032-0797c080-a2b8-11eb-8a00-a625d684e2df.png

[2021-04-21 11:26] davidschwister-a8c opened #52154 "Video less than 1 GB failing to upload"
### Steps to reproduce the behavior

1. Search for video in blocks
2. Click to upload video
3. Receive error message that video failed to upload due to its size

#### What I expected to happen

I expected the video to upload so that I could post it.

#### What actually happened

The video failed to upload and I received and the attached error message.

#### Browser / OS version

Chrome / OS 10.14.

[2021-04-21 12:14] simison commented on #50358
PR: https://github.com/WordPress/gutenberg/pull/30888

[2021-04-21 12:44] razvanpapadopol commented on #52017
@ollierozdarz, I guess you're talking about the version you get when being assigned to the Treatment variation of `refined_reskin_v1` experiment, right?

#### We have `/start/domains` screen:
* title and subtitle aligned to the left
* max-width: 1200px
<img width="961" alt="Screenshot 2021-04-21 at 15 37 45" src="https://user-images.githubusercontent.com/14192054/115554829-8fc99600-a2b7-11eb-8b20-

[2021-04-21 13:07] davipontesblog commented on #52034
Just adding a comment that we now have the ability to create a new site from a new domain:

<img width="1033" alt="Screen Shot 2021-04-21 at 09 06 38" src="https://user-images.githubusercontent.com/31009008/115558667-f67f8d00-a280-11eb-87fd-185e634dd94e.png">

This request would allow this option for existing domains.

[2021-04-21 13:11] pablohoneyhoney commented on #32035
Correct, the text didn't provide any context of what was happening.

For clarity, my issue is on Safari Version 14.0.2, iMac Big Sur 11.1

The most recent case was in pcUGD5-19-p2

The only way I was able to include images was by uploading them through the Media Library, which is tedious.

[2021-04-21 13:20] klimeryk commented on #48225
Can't reproduce it anymore - might have gotten fixed by https://github.com/Automattic/wp-calypso/pull/51718.

[2021-04-21 13:20] #48225 closed, assigned to nobody

[2021-04-21 13:47] #48178 closed, assigned to nobody

[2021-04-21 13:50] rcanepa commented on #48178
The next Jetpack release will include a fix that prevents Atomic sites from seeing that link to Scan. There is no use in allowing users to visit that page since these Atomic site owners can't manually fix threats (we do it for them).

[2021-04-21 14:13] aleone89 commented on #43131
Another report here hc-29132828 - this time the user was trying to connect via a widget.

[2021-04-21 14:23] bsessions85 commented on #51916
@kwight  Here is an initial PR. Running the test command will give you a report of the differences. Re-running that command 2 or 3 times usually will yield failures of some sort. https://github.com/Automattic/wp-calypso/pull/52161

[2021-04-21 15:14] niranjan-uma-shankar opened #52165 "Signup: White flicker on clicking "Create account""
This issue documents an issue introduced with the merge of the reskin signup test PR https://github.com/Automattic/wp-calypso/pull/50512.

#### Issue description

When in `control` of the `refined_reskin_v1` experiment, clicking on "Create account" button in the user step showed a white flicker of the user step.

Screen recording - https://d.pr/v/2EYqcd

This issue was seen only in Chrome browser

[2021-04-21 15:15] niranjan-uma-shankar commented on #52165
Fixed with https://github.com/Automattic/wp-calypso/pull/52163

[2021-04-21 15:15] #52165 closed, assigned to niranjan-uma-shankar

[2021-04-21 15:23] edwinho89 commented on #52046
Hi @obenland I followed the same steps by logging in to a user on a private browser first, and was able to reproduce the same. If the user account had previously accessed wp-admin of the site in the current web browser, the WordPress.org bar will not appear.

The issue is reproducible on AT sites without custom plugins enabled, and on any themes.

[2021-04-21 15:46] olaolusoga commented on #52057
Thanks for surfacing.

Question: have customers raised this issue?

[2021-04-21 15:49] obenland commented on #52061
Let's just close this one for now and wait with opening more tickets until there is more of a coordinated effort around screen-by-screen parity.

Yes, the Simple/Atomic parity focus mentioned in p58i-aqv-p2 will work on that and I expect that effort to continue after that.
Ajax is currently working on defaulting the comment screen to wp-admin for Atomic sites (https://github.com/Automattic/wp-caly

[2021-04-21 16:37] sixhours commented on #51683
I need to do more testing to be sure, but it looks like the selector we're using to determine the edit URL is `isEligibleForGutenframe`:

https://github.com/Automattic/wp-calypso/blob/38c37bbfe35b8c741c4e346637987ddc0fb3ab59/client/my-sites/pages/page/index.js#L209-L216

But I think we need to use `shouldLoadGutenframe` introduced in https://github.com/Automattic/wp-calypso/pull/51108/files#diff-7

[2021-04-21 17:07] obenland commented on #52046
@edwinho89 Thanks so much for your update! It turns out I still need a little more handholding, I'm afraid :)

I looked at the store admin of the reported user to switch to the user to reproduce the bug. Once I’m logged in to Calypso, I switched the site specified in chat. Clicking on Plugins to get to their wp-admin drops me in a SSO error page.

Am I doing something wrong?

[2021-04-21 17:30] blackjackkent commented on #51464
Given the current structure of this page, the easiest approach seemed to be to remove the save button entirely and have all three controls in the "Interface Settings" section (Language, Advanced Dashboard Pages, and Dashboard Color Scheme) autosave on change. A PR for this is open at https://github.com/Automattic/wp-calypso/pull/52168 !

[2021-04-21 18:17] tavilla61 commented on #52117
I had another user with the same issue, and they weren't aware that they needed to add mailto: before the email address.

#3882134-zen

[2021-04-21 18:37] allilevine commented on #50312
## 4/21/21 Update

We're approaching this as an issue for all Jetpack sites, rather than just Atomic sites. While there are currently fewer noticeable language discrepancies on non-Atomic Jetpack sites, the unified nav will change that going forward. It's also an issue for wp-admin in general, as described here: https://github.com/Automattic/wp-calypso/issues/48980

With that in mind, here's the c

[2021-04-21 18:54] vindl opened #52170 "Site Editor: new page creation flows"
Our current page management flows in Calypso are not consistent:

- Onboarding flow lands users in the Site Editor with homepage loaded;
- Opening a page for editing will load it in the Site Editor;
- Creating a new page will load the **Post Editor**.

**Option 1:** Our plan so far was to connect the last item to the Site Editor too. For start it can load a page template with empty post content, b

[2021-04-21 19:00] vindl opened #52172 "Site Editor: add Blank Canvas and Blank Canvas Blocks themes"
### What
We need to add Blank Canvas and Blank Canvas Blocks themes to the FSE Horizon flow in a similar fashion as TT1 Blocks, Mayland Blocks, and Seedlet Blocks.

Here are the required steps:
1. Add Gutenboarding site designs for **both** designs(see PCYsg-r7w-p2):
    * Add a new “Blank Canvas Blocks” design to /new.
    * Add a new Gutenboarding site design.
    * Create a new starter site whe

[2021-04-21 19:17] #51683 closed, assigned to sixhours

[2021-04-21 19:19] vindl commented on #52170
This could also indirectly deal with https://github.com/Automattic/wp-calypso/issues/50201 by removing the need for the Launch button in the Site Editor.

[2021-04-21 19:21] mreishus commented on #49205
@cpapazoglou When I first ported ectoplasm over, there was the problem of wp-admin containing only 1 green color, but we needed several different shades of green in calypso. So I made the color studio thing here: https://github.com/Automattic/wp-calypso/pull/47122/commits/51136c1c909e26bd640d1a5a26804375b76052cc
Where those settings came from - I think I manually tweaked a existing color studio co

[2021-04-21 19:25] mreishus commented on #49205
See comments in PR above like https://github.com/Automattic/wp-calypso/pull/47122#issuecomment-722586458 and  https://github.com/Automattic/wp-calypso/pull/47122#issuecomment-722642540

[2021-04-21 19:45] sixhours commented on #46740
/cc @saygunnyc as this may be relevant to the work you're doing now :)

[2021-04-21 19:56] sixhours opened #52174 "Purchases: Show subtitles on /me Purchases screen to match"
We recently added subheadings to many pages across Calypso, including `/purchases/[site]`. There's another Purchases screen at `/me/purchases` that has the same content and could benefit from the same subheading. It should read:

`View, manage, or cancel your WordPress.com plan and other purchases.`

The subheading should probably also be present on the Billing History and Payment Methods screens

[2021-04-21 21:07] sstabrizi opened #52178 "Preview: Showing errors or out of date information."
I've had several reports that the preview function isn't working for some users, specifically when a post is unpublished or scheduled. For example, a title was updated to what is shown in the screenshot below:

<img width="509" alt="Screenshot on 2021-04-21 at 15-03-46" src="https://user-images.githubusercontent.com/25855381/115620915-0a43e700-a2b3-11eb-8db2-6e26a89fd6f4.png">

Once I hit preview

[2021-04-21 21:24] creativecoder commented on #46472
This still needs to be done (https://github.com/Automattic/wp-calypso/blob/6bfe8328c3762606eba59c2299fe2910545aea41/apps/wpcom-block-editor/src/wpcom/features/use-classic-block-guide.js)

[2021-04-21 21:25] creativecoder commented on #46576
Still relevant.

[2021-04-21 21:30] creativecoder commented on #46701
Still relevant.

[2021-04-21 21:38] ccwalburn opened #52180 "Billing: Homepage Banner Shows for Sites that Autorenew"
### Steps to reproduce the behavior

This message appears on the dashboard even for users who have autorenew on:

![screenshot](https://d.pr/i/5cxFk9+)
Image URL: https://d.pr/i/5cxFk9

#### What I expected to happen
I wouldn't have expected to see a message telling the user that they need to renew, but instead maybe a message telling them that it was about to renew.

#### What actually happened
T

[2021-04-21 21:42] mreishus commented on #51027
I'm not sure if preventWidows() can help here, since it seems to be about [changing spaces in text strings](https://github.com/Automattic/wp-calypso/blob/6cf0e7e28f2761fa6c9fb578e18daae021bda33a/client/lib/formatting/prevent-widows.js#L6-L18), but this is happening at the boundary between element text and an `<svg>`.
![2021-04-21_16-39](https://user-images.githubusercontent.com/937354/115624583-79

[2021-04-21 21:42] DavidRothstein commented on #52180
I think the issue is that it's a monthly plan.  When they added this message in https://github.com/Automattic/wp-calypso/pull/47375 they seem to have intentionally made it appear within 30 days (which probably makes sense for annual plans that already would have tried auto-renewing by then, and therefore would have already had a failed auto-renewal) but that doesn't make sense for monthly plans.

[2021-04-21 22:06] kwight commented on #51916
@bsessions85 Oh sweet, I'm curious to give it a run.

What are your early impressions at this point? Looks promising, or otherwise?

[2021-04-21 22:16] JessBoctor opened #52182 "Customizer: Can't crop header images."
### Steps to reproduce the behavior

1. Activate a theme that uses a custom header image:
2. Go to My Site > Appearance > Customize > Header Image
3. Click on `Add new Image`
4. Select and image and then click on `Select and crop`

#### What I expected to happen

To be able to crop the image to the correct header size and then save it to the header

#### What actually happened

When you get to the

[2021-04-21 22:53] supernovia commented on #51464
Thank you @blackjackkent !

[2021-04-21 23:03] michaeldcain commented on #52180
@kwight: is this something that y'all have the bandwidth to address?

[2021-04-21 23:19] jonnyruzek opened #52184 "Donations block: Clarification is needed for "This is not my email address!" link upon completion"
### Steps to reproduce the behavior

1. When logged in to WordPress.com, donate to a cause. For example: https://philippine-missionaries.com/donate-feed/
2. On the "Thank you" screen, there will be a `This is not my email address!` link
3. Clicking the link creates a new email with `Payments purchase from bad email undefined` as the subject line

#### What I expected to happen

"This is not my ema

[2021-04-21 23:54] supernovia commented on #45881
@jsnajdr thanks -- I haven't seen this again yet but was getting notifications. Should the next HE that sees this open a new issue and close this one?

[2021-04-21 23:59] supernovia commented on #2082
It's still a useful feature request even if no one can get to it. Un-staling!

[2021-04-22 00:50] olaolusoga commented on #52057
The max adjustment we should make is bolding the statement we want to highlight. if it's "You can view the original English version or you can view a Google Translate translation for this page." then we can bold that.

Anything more over-indexes on 1 qualitative data point, and we actually don't know if it's an issue.

Making color changes, or the text larger is excessive.

[2021-04-22 01:43] autumnfjeld commented on #50554
Estimation note: Ganon/ @roo2  reaching out for discussion

[2021-04-22 02:40] roo2 commented on #50554
@Addison-Stavlo @ianstewart we're doing some work to improve the size of the design previews:

Main issue discussing size increase https://github.com/Automattic/wp-calypso/issues/52017

We're also deploying [scroll on hover](https://github.com/Automattic/wp-calypso/pull/51261) to get a better preview

I'll close this one in favour of #52017. @Addison-Stavlo, if you want to create an issue just foc

[2021-04-22 02:40] #50554 closed, assigned to nobody

[2021-04-22 03:07] kosiew opened #52185 "Slideshow block - include option to display caption above, below image"
What
(Required) What is the feature you are requesting?  Add a concise description of the feature being requested.

For https://wordpress.com/support/wordpress-editor/blocks/slideshow-block/, please include option to control where the image caption will appear eg above image or below image.

Why
(Required) Why are you requesting this feature?  Add a concise description of the problem this feature

[2021-04-22 04:19] #44240 closed

[2021-04-22 05:29] ollierozdarz commented on #52017
@razvanpapadopol, sorry, I should have articulated my question better.

I was actually meaning the **/start** domains variation that I currently see:

<img width="1789" alt="Screen Shot 2021-04-22 at 3 17 30 pm" src="https://user-images.githubusercontent.com/67085494/115659514-029d4480-a37e-11eb-91d5-a009af3b8c5f.png">

This looks like it's 1280px max-width, so we have the jump from 960px to 1280p

[2021-04-22 06:18] pauljacobson commented on #50058
Just adding a note here that the customer in 3735715-zen (what I believe to be the original report), with a follow-up in 3927975-zen, has asked to be updated when this issue is resolved.

[2021-04-22 06:23] p-jackson commented on #50426
I don't know where both the `null` and `undefined` values are coming from! It should only be `undefined`. Maybe Tracks is doing something special with nullish prop values? Maybe we should use `'unknown'` instead.

Yep doable. Very wpcom specific, but I think [there's a filter that's set to `true` when the modal is adding blocks](https://github.com/Automattic/wp-calypso/blob/4d8155849c9a164f1b964ad

[2021-04-22 06:43] simison commented on #50426
I like your idea to explicitly setting _unknown_ also because it allows us to detect if null/undefined is coming from outside. I think `null` appears when the attribute is completely missing, for example, but not sure!

You didn't suggest "other" as a value but I wanted to mention specifically that "unknown" is also semantically better than "other" because we don't know which all future inserters

[2021-04-22 06:45] simison commented on #50426
👍 This would be a great addition, can you open up an issue for the Ganon board? Thx!

Do blocks inserted from pattern inserter also appear as undefined/null?

[2021-04-22 06:57] kosiew opened #52186 "Rockfield: Image looks zoomed in on iPad"
### Steps to reproduce the behavior

On iPad
1. Go to PbcDtQ-7-p2?demo

#### What I expected to happen
Image to look like this

![Screenshot](https://d.pr/i/WOjb0c+)
*if image does not load, please click on this link  : https://d.pr/i/WOjb0c*

#### What actually happened

![Screenshot](https://d.pr/i/UMivRy+)
*if image does not load, please click on this link  : https://d.pr/i/UMivRy*

### Context

[2021-04-22 07:55] #49660 closed, assigned to cpapazoglou

[2021-04-22 08:08] donalirl opened #52190 "Replace Editor Help Link with WP. com Resource"
### Steps to reproduce the behavior

1. Go to the WordPress editor
2. Click on the three vertical dots in the top-right corner
3. Scroll down to Help and click it

#### What I expected to happen

I expected to be taken to a WordPress.com resource.

#### What actually happened

It took me to:

https://wordpress.org/support/article/wordpress-editor/

### Proposed change

It would make more sense to

[2021-04-22 08:17] donalirl opened #52191 "Editor: Update Permalinks and Excerpt "Learn More" Links"
### Steps to reproduce the behavior

1. Go to the WordPress editor
2. In the Page/Post settings sidebar on the right, look for 'Permalinks'
3. Click the link "Read about permalinks(opens in a new tab)"
2. In the Page/Post settings sidebar on the right, look for 'Excerpts'
3. Click the link "Learn more about manual excerpts(opens in a new tab)"

#### What I expected to happen

I expected to be take

[2021-04-22 08:21] zdenys commented on #52046
@obenland you'd need to:

1. SU the user and you should land to https://wordpress.com/stats/day
![](https://d.pr/i/2C6yFB+)
_Link: https://d.pr/i/2C6yFB_
2. At this point, you don't need to click anything in Calypso but rather visit the user's site URL directly in a new tab
3. See that the toolbar is the WordPress.org one
![](https://d.pr/i/aVdlkX+)
_Link: https://d.pr/i/aVdlkX_
4. Visit WP Admin

[2021-04-22 08:22] simison opened #52192 "Enable Anti-aliasing in Dotcom"
Enable font smoothing CSS across all of .com admin interfaces, including —

- [x] Calypso
- [x] Calypso Jetpack green
- [x] Regular wp-admin, iframed block editor, and iframed Customizer
- [x] [All separate entrypoints](https://github.com/Automattic/wp-calypso/tree/4d8155849c9a164f1b964adcd4528f149399259d/client/landing)

Not in themes, nor at frontends of the sites.

Context p9Jlb4-2ur-p2

I did

[2021-04-22 08:40] inaikem commented on #50753
Closing in favour of: https://github.com/WordPress/gutenberg/issues/19149

[2021-04-22 08:40] #50753 closed, assigned to nobody

[2021-04-22 08:41] autumnfjeld opened #52193 "For discussion: Spam signups"
## Issue
Many junk accounts are being created with fake emails and we are not catching these.
A few common patterns that were [observed](pbAok1-23C-p2#comment-4208) by @westi .

* No sign of a private by default => launch step – I guess this is a new onboarding flow I’m not familiar with.
* Email addresses using randomly generated domains that are not even registered.

## Proposed Solution
Conside

[2021-04-22 09:01] #49577 closed, assigned to cpapazoglou

[2021-04-22 09:01] #52061 closed, assigned to nobody

[2021-04-22 09:21] zdenys opened #52196 "Reusable Block: Enhancement Ideas"
**What**
A user shared the following feedback about Reusable Blocks in 3919787-zd-woothemes

Initially posted here p1619080329205800-slack-C0160HSMDQV and got pointed here by @inaikem 🙌

**How**
Off the top of my head, to allow the implementation of ⓷ we could use [Block Patterns](https://wordpress.com/support/block-pattern/). A block pattern could contain a Reusable Block and any simple block.

[2021-04-22 09:29] kingsleyinfo commented on #52196
The user responded to the ticket with more feedback and use case. Just adding this here to provide more context to the request.

[2021-04-22 10:21] ciampo commented on #52017
I believe that changing the width to `1280px` or to `1440px` won't make much of a difference to Luna, especially since with #52068 we would be computing the size of thumbnails based on the size of the design picker grid container (and _not_ of the page)

This is tracked separately in #51401 (and we already a PR opened: #52162)

[2021-04-22 10:51] cpapazoglou commented on #51746
I have posted p9dueE-2LC-p2 for discussion since it feels we should move code to a more generic codebase.

[2021-04-22 11:23] swoodipto opened #52198 "Custom HTML Block: Undo action removes everything at once"
### Steps to reproduce the behavior

1. Open the Block Editor
2. Add the Custom HTML Block
3. Type in any code
4. Click Undo icon at the top left corner or click `command+Z` or `Ctrl+Z` on your keyboard

#### What I expected to happen

The codes added should disappear one step at a time. For example, in Paragraph Block if we add text in a new line in the same Paragraph Block by doing `Shift+Enter`

[2021-04-22 11:40] yuliyan commented on #52057
I've applied the style changes in D60527-code:
![image](https://user-images.githubusercontent.com/2722412/115708230-66247380-a378-11eb-8c34-2933a08097c3.png)

Could you confirm if that's how it's expected to look and will deploy it.

[2021-04-22 11:55] pauljacobson commented on #49779
Hi there @BogdanUngureanu I'm reopening this issue because I have an instance of this RTL issue that I haven't been able to resolve with the main the options described above.

### What I did

- Disabled Page Optimize plugin;
- Ran `wp cache flush`;
- Toggled and untoggled the _Show advanced dashboard pages._ option in Account Settings.

I cleared the site cache between each step, just for good mea

[2021-04-22 12:19] BogdanUngureanu commented on #49779
Hello @pauljacobson, looks like the issue is caused because the site language is RTL while the UI language is LTR. In order to avoid this issue, both account language in /me/account and site language have to be the same.

[2021-04-22 12:55] ekeng4488 opened #52200 "This is my first Introduction to github and i plan to contribute my best to this project in the nearest future wish me luck."
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2021-04-22 13:07] kdevnel opened #52201 "Twenty Nineteen Theme: Pull Quote styling when wide-aligned not showing in editor"
### Steps to reproduce the behavior

1. Add a pull-quote block to any page
2. Choose the "Solid Color" style in the editor sidebar (see image below)
3. Apply "wide-align"
4. See the issue

![Markup on 2021-04-22 at 15:03:47](https://user-images.githubusercontent.com/22053773/115719593-89512200-a37c-11eb-838d-22afbf280731.png)

#### What I expected to happen
The styling shows by default with italic

[2021-04-22 13:15] davipontesblog commented on #49944
I am changing the type from "Bug" to "Enhancement" for reporting reasons. If you think it needs to be labelled differently feel free to edit again :)

[2021-04-22 13:32] bsessions85 commented on #51916
At this point I don't think it is going to work well for the editor testing that we were hoping to get.  Things just don't load in there consistently enough to make it an effective tool. Every second or 3rd run will have something just slightly different from the reference file and it will fail. For example, in the image below, 3 of the 4 tests passed, but this one failed because things are indent

[2021-04-22 14:11] pauljacobson commented on #49779
Ah, right, thank you @BogdanUngureanu. I'll add that to my Nav Unification Troubleshooting Checklist. Is this a permanent issue, or will customers be able to mix languages and not have this sort of issue in the future?

[2021-04-22 14:21] tjcafferkey commented on #49779
@pauljacobson this issue is something we've outlined in the following P2 ( pbAPfg-1vM-p2 ) as one of the issues we'd like to see get tackled next when it comes to Nav Unification

[2021-04-22 14:21] xpurichan commented on #50928
Reported in 3929382-zd.

[2021-04-22 14:23] simison commented on #51916
Very surprising! Gutenberg version or theme didn't change in-between, right?

I would expect output to stay consistent of course — it's WYSIWYG editor after all. Would be good to get to the bottom of why it keeps changing.

[2021-04-22 14:26] #49779 closed, assigned to BogdanUngureanu, mmtr, tjcafferkey

[2021-04-22 14:40] StefanNieuwenhuis commented on #52049
Absolutely! For the [Blank Canvas Project](pbAok1-27t-p2), the goal is to show the Welcome Tour on every new site, so it has to be on a per-site basis, regardless of what the user has done before with any site/Welcome Tour. So, at least for this project, we shouldn't worry about the odd edge cases of "professional" WP devs.
I guess your Acceptance Criteria (https://github.com/Automattic/wp-calypso

[2021-04-22 14:57] bsessions85 commented on #51916
Not unless the Gutenberg version is on a/b test or something. The theme for sure isn't changing.

[2021-04-22 14:58] #51349 closed, assigned to tjcafferkey

[2021-04-22 15:52] aleone89 opened #52203 "Image block: Render Image caption style the same as the theme in use."
**What**<br>Image blocks render the style of an image caption in certain way, presumably by how a theme is adapted to use the block editor.

The classic block, when an image is added via the classic block, renders the style of the image caption as designed by the original theme.

Example:

![](https://uploads.linear.app/f629fcde-6f9b-48e8-8af3-60eed8823bff/3e4a98c2-700f-44b3-92f5-75309df118e4/6372

[2021-04-22 15:55] zdenys commented on #52030
I get the opposite result for [Blank Canvas Theme](https://wordpress.com/theme/blank-canvas), [Twenty Twenty-One Theme](https://wordpress.com/theme/twentytwentyone/), [Spearhead Theme](https://wordpress.com/theme/spearhead), [Seedlet Theme](https://wordpress.com/theme/seedlet), [Barnsbury Theme](https://wordpress.com/theme/barnsbury)

With the `Use theme styles` off, I see a default serif font in

[2021-04-22 17:14] kwight opened #52204 "Uploads: Removing a legacy unlimited upload plan will leave the site with limited upload space."
If a site has a legacy "unlimited upload space" Business plan, it will function correctly – unless the plan is removed (for example, in SA). Re-instating the plan will not restore the unlimited uploads, but leave the site in the general 200GB max like everyone else.

For background, see: p7DVsv-9r5-p2#comment-35626

[2021-04-22 17:46] benchilcote opened #52205 "Followers: block specific users from following"
What
Give users the ability to block specific users from following their site.

Why
In cases where a site owner does not want a user to follow them for various reasons.

How
There could be a text box to list usernames or emails - similar to when blocking users from commenting.

**Additional context**
This request was made from a site owner who is in a unique situation of being harassed by another

[2021-04-22 17:57] chrisfromthelc commented on #51787
#3905119-zen seems to be another occurrence of this. The site being targeted is a simple site (Premium).

[2021-04-22 18:04] kwight commented on #52180
@michaeldcain It should be straightforward to add a `! plan_will_renew()` type check, but I'm having a hard time finding where I can get that info, given the plan or subscription – any hints?

[2021-04-22 18:10] shilling commented on #52180
Why am I tagged on this? I have no idea what you guys are talking about.

On Thu, Apr 22, 2021 at 1:04 PM Kirk Wight ***@***.***> wrote:

--
Thanks,
Nadine

“Art enables us to find ourselves and lose ourselves at the same time.” --
Thomas Merton
View my artwork: https://charcoalatte.com

[2021-04-22 18:28] mreishus commented on #52204
* The site did have its blog_upload_space set to 2TB, which I generally considered as a stand-in for "unlimited". However, this user had 4TB worth of stuff uploaded and couldn't upload more.
* It's worth noting that it is currently impossible for the calypso media storage endpoint (WPCOM_JSON_API_Media_Storage_Endpoint) to return “unlimited” for simple sites. However, one of my planned future patc

[2021-04-22 18:29] msilbers commented on #44844
Adding my +1 to this issue! I've had at least 2 customers ask about this option. I suggested some alternatives (like password protected content, or refunding a purchase).

[2021-04-22 18:41] ersatzpenguin commented on #44844
I also had a user ask for this today, in 29170330-hc.

The user wanted to provide free access to folks to give feedback on the Premium Content they were setting up. I suggested assigning them a user role of editor so they could open up the posts etc where things are in Premium content blocks, but that seems excessive for just "review" purposes.

A manual way to add a user as a subscriber (without

[2021-04-22 18:45] olaolusoga commented on #52057
Agree. Looks great. Thanks

[2021-04-22 19:20] ebinnion commented on #46802
At the moment, we're still in the same spot. That being said, @cbauerman is going to be taking a pass at this shortly.

[2021-04-22 19:39] ralphm commented on #36063
Adding to that request by _TrentShell, I'd like to mention that it is surprising that adding security keys (Webauthn) in turn depends on having enabled TOTP first. So to add a security key, the order of setup is:

1. Phone number
2. TOTP
3. One or more security keys

What is the reasoning here?

[2021-04-22 19:40] vindl opened #52208 "Site Editor: cover block nested blocks alignment"
In our internal testing round the following issues was reported:

cc @davipontesblog

<img width="710" alt="screen-shot-2021-04-06-at-15 20 17" src="https://user-images.githubusercontent.com/1182160/115775459-30e94700-a3b3-11eb-84ca-1798f917186c.png">

We need to triage this and figure out if it's a theme issue (TT1 blocks) or something related to the editor and file issues and PRs in appropriate

[2021-04-22 19:58] jeherve commented on #52059
Given that the class is "only" used to bring in constants, maybe we could just copy them in `projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php` for a quick fix?

[2021-04-22 20:01] kwight opened #52209 "Editor: Users cannot edit post with error "Sorry, you are not allowed to edit this post.""
Some users since early April 2021 have started seeing the error "Sorry, you are not allowed to edit this post." when using the block editor.

There was [long-standing issue](https://github.com/Automattic/wp-calypso/issues/45881) that we believed fixed, but reports have started cropping up again of the same error. When adding a report, please try to determine their browser, whether they were in Gut

[2021-04-22 20:03] kwight commented on #52209
Copied from https://github.com/Automattic/wp-calypso/issues/45881 since April 2021:

11649536-hc
https://wordpress.com/forums/topic/i-hate-the-new-editor-2/
9086584-hc
3911399-zen

[2021-04-22 20:03] kwight commented on #45881
Let's continue with a new issue for cases since April: https://github.com/Automattic/wp-calypso/issues/52209

[2021-04-22 20:22] kwight commented on #52180
Sorry @shilling , you happen to have the username of an internal team of ours – apologies 🙃

[2021-04-22 20:33] supernovia commented on #52182
Possible cases here:
https://wordpress.com/forums/topic/i-cant-change-my-header-image-2/

And here:
3930683-zd-woothemes

[2021-04-22 20:40] shilling commented on #52180
No worries!

On Thu, Apr 22, 2021 at 3:22 PM Kirk Wight ***@***.***> wrote:

--
Thanks,
Nadine

“Art enables us to find ourselves and lose ourselves at the same time.” --
Thomas Merton
View my artwork: https://charcoalatte.com

[2021-04-22 20:42] supernovia commented on #52182
Noting I'm seeing an intermittent issue related to this, even when using the same thing. Possibly related to image size or format?

https://cloudup.com/cvPrt7xG2eH

[2021-04-22 21:15] supernovia commented on #52182
Another case here:
https://wordpress.com/forums/topic/cropper-tool-not-working-correctly/

This user was able to crop by making the original image smaller first.

[2021-04-22 21:19] supernovia commented on #52182
Another here:
https://wordpress.com/forums/topic/unable-to-crop-header-image-2/

Staff was having trouble replicating the issue on the site and we thought it might have something to do with the image size. @aleone89 thought it was because the image was portrait oriented so we might test that some more as well!

[2021-04-22 21:19] supernovia commented on #52182
One more here: https://wordpress.com/forums/topic/crop-header-function-not-working-in-twenty-ten/

We thought it was a retired theme issue, but now that we're seeing this in other themes as well we should report it here.

[2021-04-22 21:30] marianearchimbaud commented on #51388
Hi!!
I've been experiencing the same issue, and receiving feedback from users about this (29126689-hc)

From what I've seen, some plugins also add new columns to this section, like Yoast and this affects even more the title visibility.
I've been suggesting using the Screen Options for this, but I think that the Title from the posts section is the most important column, but is the most affected one

[2021-04-22 21:53] kwight commented on #51916
I tested this for a while today, and got basically the same results as @bsessions85. Almost all of the problems though, were with the one template Bowen. (I also got a rare problem with Rivington that appears to be the snapshot being taken before all of the images can load into the slider – I don't know if this is something that can be "fixed" by waiting a little longer).

The Bowen reference itse

[2021-04-22 22:11] michaeldcain commented on #52180
@kwight as @DavidRothstein mentions, the 30-day check isn't necessarily the issue (it's actually probably the right move, given that they either don't have auto-renew on, or something has failed with their renewal). I think just hiding this message for monthly plans (or moving the time check to < 7 days before expiration for monthly plans). There are probably some [utilities to check for monthly p

[2021-04-22 22:15] p-jackson commented on #50426
I think I feel victim to my own fallacious logic somewhere in there, but I'm not sure where 😅 So scratch all that!
Yes, we should be able to track block insertions that come from the page layout picker modal. I'll add it to the Ganon board. Along with a task to change `undefined` values to `"unknown"`.

No they're marked as coming from the inserter that was used to insert the pattern. Same as reus

[2021-04-22 22:15] #50426 closed, assigned to p-jackson

[2021-04-22 22:17] p-jackson commented on #50358
WordPress/gutenberg#30888 has merged, we just need to verify the bug has been fixed once the GB plugin is updated on wpcom

[2021-04-22 22:18] JessBoctor opened #52213 "Use existing Anchor FM Accounts with anchor integration"
### Steps to reproduce the behavior

1. Go to https://anchor.fm/wordpressdotcom
2. Click on 'Get Started

#### What I expected to happen

Be able to choose between an existing AnchorFM account and creating a new one

#### What actually happened

You can only use a new one

### Context

Customer requested to be able to use their existing account in #28638245-HC

[2021-04-22 22:25] sirbrillig commented on #46934
After some recent changes, calypso should have enough data now to be able to do this. Specifically:

- Shopping cart products already contain a `months_per_bill_period` which can be used to determine if a product renews monthly, yearly, or biannually.
- Since D59709-code, the site-specific products endpoint now returns `price_tier_list` and `price_tier_usage_quantity` which can be used to determin

[2021-04-22 22:42] fullofcaffeine commented on #51997
Smoke-test https://github.com/WordPress/gutenberg/pull/30438, as it should be enabled in dotcom for the 10.5.0 release. More details: p1619078723259800/1619044677.257100-slack-C7YPUHBB2 and p1619078653048200-slack-C01DF571R5Y. cc @simison @jeffikus

[2021-04-22 23:28] Jaccuse opened #52214 "Free Atomic: 'Save Changes' in Yoast settings showing partially under the nav"
### What plan tier is the site on?

Free

### Where are you seeing the issue?

Yoast SEO -> Search Appearance

### What I expected on the Atomic site

For the 'Save Changes' button to stay to the right of the nav

### What actually happened

Ability to see Site Health which includes all the information shown on the Info Tab.

### Screenshot / Video: If applicable, add screenshots to help explain y

[2021-04-22 23:42] sirbrillig opened #52215 "Remove, internalize, or move to packages all internal checkout dependencies"
Eventually it would be nice to move calypso checkout itself to an npm package so that it can be used outside of calypso. To begin with, we need to make sure all of checkout's dependencies are able to be resolved outside of calypso. This means:

- Removing dependencies that are unnecessary. Some dependencies may be simple helper functions that can have their code inlined into the places that they a

[2021-04-22 23:53] sirbrillig commented on #52215
https://github.com/Automattic/wp-calypso/pull/51084 created the `wpcom-checkout` package with item transformation functions.

https://github.com/Automattic/wp-calypso/pull/51281 moved part of `CartMessages` to the `wpcom-checkout` package, but more needs to be done there since the component necessarily relies on the notices module.

https://github.com/Automattic/wp-calypso/pull/51667 and https://g

[2021-04-23 00:07] vindl opened #52216 "Site Editor: redirect loop during signup"
A couple of folks ran into redirect loop after creating their site and landing into site editor.

I didn't run into it so far, and it seems like intermittently happens only for some folks.

https://user-images.githubusercontent.com/1182160/115799309-7bc98580-a3d8-11eb-84df-f37abfe0783d.mp4

[2021-04-23 00:37] vindl opened #52218 "Site Editor: preview button not visible"
Preview button is no longer visible in the Site Editor integration:

![no-preview](https://user-images.githubusercontent.com/1182160/115801334-c947f180-a3dc-11eb-9aac-b9109b879f76.png)

[2021-04-23 00:48] alaczek commented on #50972
This only happens in the FSE flow (details in p7DVsv-b73-p2), and I'm still experiencing issues, although it's a bit different now. Now when I insert the Masonry Block, it does not display in the editor at all, even when I added images. It does display in preview tho. Here's a quick video:

https://cloudup.com/cTn5UeRUWxN

[2021-04-23 00:52] scosgro opened #52219 "Olsen: Blog Posts Block - Read More button has alignment issues."
### Steps to reproduce the behavior

1. Activate Olsen. Make sure the site has multiple blog posts with content (featured images, some lorem ipsum, etc).
2. Create a new page, and add a Blog Posts Block to it. For best visibility of the bug, set it to 2 columns, 5+ posts, show featured image, show excerpt. Make sure "Add a Read More Link" is enabled, and the button says Keep Reading (default).
3.

[2021-04-23 03:15] dpasque opened #52220 "Media Library: Denied Google permissions or disconnected account leads to perma-loading state"
#### Steps to reproduce

1. Starting at URL: Wordpress.com admin or editor
2. Open the media library in some way - I did this original bug from a Cover block in the editor, but I think it's reproducible straight from the media library from the dashboard (more on why I can't reproduce later!)
3. Switch the source in the upper left hand corner to Google Photos
4. Click the button to connect your acc

[2021-04-23 03:19] dpasque opened #52221 "Media Library: Dates with single images assocaited are cut off in small thumbnail size"
### Steps to reproduce the behavior

1. Go to the Media Library
2. Upload a single image to associate with today
3. Change the thumbnail size slider to small
4. Notice the date text is cut off!

#### What I expected to happen
For the dates to have enough space

#### What actually happened
They were cropped off

### Context

#### Browser / OS version
Chrome 90.0.4430.72
Windows 10 Home 19042.928

#

[2021-04-23 03:20] dpasque commented on #52221
It  looks like this is happening because the div holding those dates has a fixed height of 30px  (from sorted-grid_label). Taking that off fixes this.

[2021-04-23 03:27] dpasque opened #52222 "Media Library: Add new button and thumbnail size slider are missing focus visual indicators"
### Steps to reproduce the behavior

1. Go to the Media Library
2. Tab to the "Add new" button and the thumbnail size slider
3. Note the lack of focus indicator

This is also true for the images, but that is being tracked in issue #42412

#### What I expected to happen
There to be the same blue outline focus indicator as the other buttons

#### What actually happened
There was none

### Context

#

[2021-04-23 03:34] dpasque opened #52223 "Cover Block: Deleting value for focal point picker setting causes block to error out due to React update depth error"
### Steps to reproduce the behavior

1. Add a Cover Block in the editor
2. Add an image to it
3. Open advanced settings sidebar
4. In focal point setting, pick either x or y, and just delete the value (like you were going to replace it)
5. Error! 😱

#### What I expected to happen
No error, and allowed me to update the focal point setting

#### What actually happened

1. The block gets replaced wit

[2021-04-23 03:41] dpasque opened #52224 "Cover Block: When you delete the value for minimum height setting, it always reverts back to pixels"
### Steps to reproduce the behavior

1. Go to editor
2. Add a Cover block, and pick an image
3. In advanced settings, change the minimum height unit to something like vh or em
4. For a lot of them, that will defualt in a value
5. Delete that value to enter a new one
6. As soon as you delete the value, it switches back to the px unit

#### What I expected to happen
It preserved the unit I picked

#

[2021-04-23 03:47] dpasque opened #52225 "Cover Block: Drag and drop targets seem off"
### Steps to reproduce the behavior

1. Go to editor
2. Add three Cover blocks (makes this easiest to see)
3. Try to drag either the top one between the other two, or the bottom one between the other two
4. The drag and drop behavior is somewhat unexpected, and your cursor location does not match what the outcome is!

Namely...

- When dragging down between the two others, you actually have to go

[2021-04-23 03:53] dpasque opened #52226 "Editor blocks: Make dragging and dropping to the beginning or end of pages more forgiving"
### What
In the editor, you can drag and drop blocks to the start and end of your page (or block list), but you have a very small target you have to hit - basically _exactly_ at the start of the first block, or the end of the last block.

It would be nice if dragging a block really anywhere above the starting block moved it to the start, and anywhere after the ending block moved it to the end.

##

[2021-04-23 04:01] dpasque opened #52227 "Pullquote Block: Converting to Tweet block and back causes citation to disappear in editor, but still show up on site"
### Steps to reproduce the behavior

1. Go to editor
2. Add a Pullquote block, add content and a citation
3. Convert it into a Click to Tweet block
4. Conver that Click to Tweet block back to a Pullquote block

#### What I expected to happen
The Pullquote looks like it did at the start

#### What actually happened
The citation is missing in the editor, but shows up in the preview and if you publis

[2021-04-23 04:16] lsl opened #52228 "E2E: Flaky Login steps - ElementNotInteractableError"
#### Failing spec details

From https://teamcity.a8c.com/viewLog.html?buildId=6126224&buildTypeId=calypso_RunCalypsoE2eMobileTests

This build had the login step failing for multiple spec's on `sendKeys` parts.

[code]

[2021-04-23 05:40] p-jackson commented on #52192
I've started a WIP (#52230) based on #52014.

Haven't implemented for masterbar or `/themes` yet, but it looks like applying the CSS rule in all the places shouldn't be too tricky (even if it just involves tracking down [all the uses of `subpixel-antialiased` in core](https://github.com/WordPress/WordPress/search?q=subpixel-antialiased) and overriding them).

The tricky bit is going to be enabling

[2021-04-23 06:22] #51429 closed, assigned to cpapazoglou

[2021-04-23 06:58] andrewserong commented on #51997
Hi folks, I wasn't quite sure where to report this because I'm not sure yet of the cause (e.g. is it a Jetpack bug or a Gutenberg one?), but with 10.5.0 RC 1 active, I notice some of the Jetpack Button blocks aren't rendering correctly. For example, the Premium Content block on the front end of a site running Barnsbury theme with the Gutenberg Edge sticker applied:

![image](https://user-images.gi

[2021-04-23 07:02] cpapazoglou commented on #49631
FWIW, this is not nav-unification related. **Me** section uses an other `sidebar` component which has it's unique logic for picking the selected menu item
https://github.com/Automattic/wp-calypso/blob/ce3d141a33cc033518100647a77f24a5b344f7bc/client/me/sidebar/index.jsx#L78-L99

Specific Purchases `/me/purchases/[DOMAIN]/[ID]` are missing from the `filterMap`. Also, `/me/purchases/payment-methods`

[2021-04-23 07:52] syds87 opened #52232 "Domains: New domain contact details - State field - missing Italian province."
### Steps to reproduce the behavior

1. Go to **Upgrades > Domain > Add new domain > to this site**
2. Type the name of the new domain and select an option
3. Once you are at step 2, choose **Edit** to change the **Contact information**
4. Select **Italy** in **Country**
5. The **State** field should also include a province called **Monza e Brianza** or **Monza e della Brianza**.

#### What I expe

[2021-04-23 08:28] fgiannar commented on #52059
Thanks a lot for your suggestion, Jeremy! I'm just not sure this will be needed, given that in our next release (9.7), with user-less being enabled by default it will be fixed anyway! (Checkout the internal link in the issue description for more context)

Except if we do this for 9.6.2 which is definitely possible.

[2021-04-23 08:30] #49309 closed, assigned to tjcafferkey

[2021-04-23 09:26] #51979 closed, assigned to ciampo

[2021-04-23 09:26] #52107 closed, assigned to ciampo

[2021-04-23 09:44] lsl commented on #52228
https://chromedriver.storage.googleapis.com/91.0.4472.19/notes.txt

Potentially related.

[2021-04-23 12:34] davipontesblog commented on #52208
@vindl I had a feeling this was already fixed, and I am pretty sure it has: https://github.com/Automattic/wp-calypso/issues/51670
I also can't replicate the issue anymore on Horizon.

[2021-04-23 12:34] #52208 closed, assigned to nobody

[2021-04-23 12:36] cpapazoglou commented on #51746
It seems that folks are leaning to move the code to Jetpack and consolidate this feature with the Reblog feature in the frontend p9dueE-2LC-p2#comment-4887. Since this maybe a long quests, I created a PR which will temporarily resolve the problem for Simple sites.

[2021-04-23 12:41] cpapazoglou commented on #49157
This issue is resolved now. There are both visual indicators and `aria-expanded` attributes

![](https://cln.sh/LiWXc0+)

[2021-04-23 12:41] #49157 closed, assigned to nobody

[2021-04-23 12:52] davipontesblog opened #52240 "Media library: Offer options to organize files"
Initially posted in Ideas P2 here: pKdGS-QC-p2

### What
User requested options for sorting items in the Media Library: “I was wondering if we can manage or media galleries? I’ve uploaded a series of images now and they are getting hard to sort among all other media files. Is there a way I can create folders/categories in the media gallery?”

Folders or categories. Better organization. Organize yo

[2021-04-23 12:54] #51150 closed, assigned to daledupreez

[2021-04-23 12:56] davipontesblog opened #52241 "Offer the ability to create and manage staging sites on WoA sites"
Initially posted in the Ideas P2 here: pKdGS-1OT-p2

### What
Offer users on WoA the ability to create and manage staging sites so they can try out other themes, plugins, etc, without having to make changes on their live site, or to create another site on WordPress.com and require another Business plan to do that.

**Additional context**
This has been mentioned in **54 comments** from July 2019 to

[2021-04-23 13:30] carinapilar opened #52242 "Null Placeholder on Pages Search"
### Steps to reproduce the behavior

1. Select a site and go to the Pages menu
2. Click on the search icon on the top right

#### What I expected to happen
To show _"Search pages..."_

#### What actually happened
It shows _"null..."_ - it shows correctly once you go to Posts, and then back to Pages.

### Context

#### Browser / OS version
Mac OS X 10.15.7
Chrome 90.0.4430.85

#### Does this happen

[2021-04-23 13:42] ciampo opened #52243 "Logging in isn't working in calypso.live without 3rd party cookies"
### Steps to reproduce the behaviour

1. Disable third-party cookies and visit any calypso.live link in an incognito window
2. Try logging in

#### What I expected to happen

I expected to be able to log in

#### What actually happened

I couldn't log in

### Context

Related to third party cookies. Reported in https://github.com/Automattic/wp-calypso/pull/52166#pullrequestreview-643039308

[2021-04-23 14:28] zdenys commented on #50980
Another case in 3885137-zd-woothemes where the Account Interface is set to Italian. The user sees:

1. the horizontal scrollbar in the Block settings panel
2. the shaking when a specific subsection of the Paragraph Block settings panel on the right is expanded ( `Impostazioni del testo` aka `Text settings`). When it's collapsed, there is no shaking.

I think the above explanation by @dlind1 applie

[2021-04-23 15:13] #50964 closed, assigned to blackjackkent

[2021-04-23 15:31] sixhours commented on #30426
Just confirming this is still an issue for Atomic sites:

<img width="664" alt="Screen Shot 2021-04-23 at 11 31 35 AM" src="https://user-images.githubusercontent.com/2124984/115894626-7b0c1000-a427-11eb-89e9-67e981ad5ccd.png">

[2021-04-23 16:10] sixhours commented on #30426
The filter is in an mu-plugin on WP.com simple sites, so my guess is similar logic needs to be added to wpcomsh for parity. Spinning up an ephemeral site to do some testing.

[2021-04-23 16:33] sixhours commented on #30426
Confirmed my ephemeral site does not allow PPSX file types at first:

<img width="1394" alt="Screen Shot 2021-04-23 at 12 26 28 PM" src="https://user-images.githubusercontent.com/2124984/115901713-8b27ed80-a42f-11eb-9c40-7d782888fbd3.png">

But patching it with the mu-plugin through the SH plugin allows the file type:

<img width="1399" alt="Screen Shot 2021-04-23 at 12 26 41 PM" src="https://user

[2021-04-23 16:43] synora commented on #15233
Reopening as I'm still able to replicate this.

[2021-04-23 16:49] sixhours commented on #30426
~~Started in Automattic/wpcomsh#674~~

Moved to Automattic/jetpack#19655

[2021-04-23 16:49] Aurorum commented on #52242
PR for this issue in #52244. :)

[2021-04-23 17:02] synora commented on #27825
Keeping the issue open as I'm still able to reproduce it.

<img width="825" alt="Screen Shot on 2021-04-23 at 13-01-04" src="https://user-images.githubusercontent.com/10015451/115905407-0ee3d900-a434-11eb-8d28-476fbe51ab51.png">

[2021-04-23 17:04] ericamQA commented on #46658
Unable to reproduce (testing with Dashboard Appearance setting both on and off) on Mac. Also tested in Windows 10, not reproducible. Closing issue.

[2021-04-23 17:06] synora commented on #37630
@sirreal Could we close out this issue? It's gone stale.

[2021-04-23 17:16] synora commented on #38237
@davemart-in this issue has gone stale. Is there any update on this issue or can it be closed?

[2021-04-23 17:37] synora commented on #44088
Hi, @glendaviesnz I noticed this issue has gone stale but is part of a project board. Is this something that's still being looked into or can we close it?

[2021-04-23 17:40] davemart-in commented on #38237
I'm guessing the earn and marketing section will bubble up as a priority at some point. When that happens, we should fix this. Until then, it will probably just sit unresolved.

[2021-04-23 17:48] synora commented on #44427
Removed stale label as I'm still able to replicate this issue.

[2021-04-23 18:01] ericamQA commented on #46420
### Removing, stale label.

I tested and was able to reproduce on some themes (Dara) but not others (Veni, Olsen)

**Dara (quality degraded)**

![Dara-pexels-quality](https://user-images.githubusercontent.com/44411833/115911398-098a8c80-a43c-11eb-8c95-ababdf7d53d0.png)

**Veni (quality retained)**

![Veni-Pexels-Quality](https://user-images.githubusercontent.com/44411833/115911510-2de66900-a43c-11

[2021-04-23 18:03] synora commented on #45382
The issue has gone stale and I'm unable to reproduce this issue. I'll close it for now but it can be reopened if it occurs again.

[2021-04-23 18:03] #45382 closed

[2021-04-23 18:13] synora commented on #45763
@ramonjd I noticed this issue has gone stale. Can we close it out or does it need to remain open?

[2021-04-23 18:23] ericamQA commented on #46344
**No longer able to reproduce.**

I was able to add an editor, login as that editor, and change the Author (while logged in as an editor). Screenshot below (with usernames redacted)

![Editor-Change-Author](https://user-images.githubusercontent.com/44411833/115914026-5f146880-a43f-11eb-935c-2a493171f83e.png)

[2021-04-23 18:35] ericamQA commented on #46126
Unable to reproduce on multiple atomic test sites, though OG report mentioned it's not consistent across all atomic sites. If we get more reports, we can reopen and gather more info to troubleshoot with. Closing for now.

[2021-04-23 18:36] ianstewart opened #52245 "Horizon Site Editor Flow creates un-used empty menus"
The New Onboarding flow that creates FSE sites on Horizon appears to be creating two menus by default. We can see this here when interacting with the menu in the Site Editor.

![image](https://user-images.githubusercontent.com/545779/115914880-21601180-a438-11eb-8db3-e3d885600276.png)

Or by manually visiting the Customizer on a fresh site.

![image](https://user-images.githubusercontent.com/54577

[2021-04-23 18:57] #46344 closed

[2021-04-23 18:57] #46126 closed

[2021-04-23 19:13] synora commented on #46737
@bluefuton I noticed you mentioned this issue in #48902, can this one be closed?

[2021-04-23 19:18] #51533 closed, assigned to mreishus

[2021-04-23 19:26] retrofox commented on #51327
Are we agree that

* The ability to add the WooCommerce plugin (or whatever actually) for non Jetpack sites is only possible **ONCE**, for Simple sites? Once the plugin is added, the site becomes an Atomic site, and the plugins page will be handled by wp-admin.
* For Jetpack sites, it's possible to keep installing/uninstalling plugins from the calypso app.

[2021-04-23 19:34] bsessions85 commented on #51916
So it turns out there is an issue with the latest version of backstopjs that causes that issue 🤦  I used an older version and everything is looking much better!

I took it a step further and loaded the editor outside of the iframe so that I can capture the whole template in the editor and am able to run tests against all the templates and they will pass!

I'm attaching the report so anyone can see

[2021-04-23 19:51] lynnbgriffith commented on #51916
@Automattic/team-calypso-platform I wanted to loop you folks in here because this could be helpful for Gutenberg release testing and as a complement to e2es in some situations.

@scinos I know you’ve got experience with visual regression testing, so wanted you to have the chance to evaluate the approach here so far and provide input.

[2021-04-23 20:23] desnum commented on #49779
![rtl-overlap](https://user-images.githubusercontent.com/43796228/115926017-19ac6700-a450-11eb-8acc-ad16fe60f5fd.jpg)

A case in 20651331-hc. The site language is Hebrew, and the account language is English. Toggling the wp-admin pages in account settings, with cache clearing between, didn't work in this case.

[2021-04-23 20:29] BogdanUngureanu commented on #49779
Hi @desnum, the account language and site language have to be the same in order to fix this issue.

[2021-04-23 21:42] vindl opened #52253 "Site Editor: verse blocks breaks after changing the padding"
1. Open up the Site Editor integration on Dotcom.
2. Insert a Verse block somewhere in the template.
3. Open up block settings and add custom padding for it.
4. Save changes.
5. Reload the page and notice that the block displays the following error message:

<img width="688" alt="Screen Shot 2021-04-23 at 11 40 43 PM" src="https://user-images.githubusercontent.com/1182160/115932487-577bb080-a48d-1

[2021-04-23 21:52] fullofcaffeine opened #52255 "E2E: Flaky spec report "Posts (desktop): Insert a payment button: Can publish and view content" wp-calypso-gutenberg-page-editor-spec.js"
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From https://teamcity.a8c.com/viewLog.html?buildId=6129557&tab=queuedBuildOverviewTab:

[code]

[2021-04-23 22:20] fullofcaffeine opened #52256 "E2E: Flaky spec report: "Pages (desktop): Public Pages: Can enter page title, content and image" in wp-calypso-gutenberg-page-editor-spec.js"
#### Failing spec details

From: https://teamcity.a8c.com/viewLog.html?buildId=6129664&

[code]

[2021-04-23 22:23] fullofcaffeine opened #52257 "E2E: Flaky spec report: "Pages (desktop): Insert a payment button into a page: Can publish and view content" in wp-calypso-gutanberg-page-editor-spec.js"
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From https://teamcity.a8c.com/viewLog.html?buildId=6129664:

[code]

[2021-04-24 00:48] ClassicRKR27 commented on #51787
#[3929902-zen](3929902-zd-woothemes) appears to have this issue as well.

[2021-04-24 06:50] hacchism opened #52259 "Billing: Incorrect refund amount when canceling auto-renewed plan with custom domain"
### Steps to reproduce the behavior

1. User has a Personal plan and a custom domain bundled with the plan
2. The plan gets auto-renewed
3. User cancels the plan renewal via https://wordpress.com/me/purchases

#### What I expected to happen

User should get a full refund for the plan renewal.

#### What actually happened

Instead,  user gets only a partial refund minus domain cost.

#### Level of

[2021-04-24 08:00] rickmgithub commented on #51097
Another incident #3930597-zd

In this case, the problem only occurs on AT sites. It works fine on simple sites. Changing theme makes no difference. It appears to be AT/Simple related

[2021-04-24 08:39] StefMattana commented on #51371
3934605-zen

[2021-04-24 08:41] zdenys opened #52260 "Nav Unification: Sidebar Oddly Collapsed"
### Steps to reproduce the behavior

1. SU the user from 3934837-zd-woothemes
2. Got to https://wordpress.com/me/account
3. See the left sidebar collapsed in an odd way

Issue happens on random screens, but the above one is the where I could reproduce consistently

#### What I expected to happen

See the uncollapsed sidebar

#### What actually happened

Sidebar collapsed in an ugly way

### Contex

[2021-04-24 08:53] zdenys opened #52261 "Nav Unification: Collapse State Not Preserved After Switching Site"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/home and pick any site you have
2. Click on `Collapse menu ` at the bottom of the left sidebar
3. Click `Switch Site` and pick another site
4. Click `Switch Site`again and select the previous site again
5. See the sidebar uncollapsed

#### What I expected to happen

See the sidebar collapsed

#### What actually happened

Sidebar u

[2021-04-24 09:04] zdenys commented on #52260
I was able to reproduce it on my own account once but not consistently after that. So it's still random for me 😞 . To do so I took these steps from https://github.com/Automattic/wp-calypso/issues/52261 while trying to reproduce that bug:

- Go to https://wordpress.com/home and pick any site you have
- Click on `Collapse menu` at the bottom of the left sidebar
- Click `Switch Site` and pick another

[2021-04-24 16:43] #51665 closed, assigned to nobody

[2021-04-24 17:00] #52127 closed, assigned to nobody

[2021-04-24 17:11] #52128 closed, assigned to nobody

[2021-04-24 20:30] msilbers commented on #51186
This was reported by a customer in #3898532-zen

The Redirect label appears any time they navigate to a wp-admin page and they said it makes them feel like they're being watched. This is for a WordPress.com simple site.

[2021-04-24 21:06] mrsjaved opened #52263 "Embed Amazon Kindle - We're sorry. This preview is unavailable."
### Steps to reproduce the behavior

1. Go to pages or posts.
2. Embed Amazon Kindle Book by copy pasting the link for example this: https://www.amazon.com/dp/B08QWH3817?ref_=k4w_embed_dp_err
3. Click on "FREE PREVIEW " under the embed either inside the editor or on preview.
4. See error:
Kindle
We're sorry. This preview is unavailable.

#### What I expected to happen
A preview of the book.

####

[2021-04-24 21:08] dpasque opened #52264 "Embed Blocks: Changing the value in any embed block when editing as HTML causes the block to error out"
### Steps to reproduce the behavior

1. Go to Wordpress.com page/post editor
2. Add some kind of an Embed block, like a YouTube embed
3. Edit it as HTML
4. Change the youtube value, like the id of the video
5. Click anywhere outside the block
6. It will encounter an error

#### What I expected to happen
It to update and point to the new video (or whatever the new content is in the given embed)

##

[2021-04-24 21:15] dpasque opened #52265 "YouTube Embed Block: Undo (ctrl +z) behaves unexpectedly - skipping videos, creating mismatched state between URL and video"
### Steps to reproduce the behavior

--- this workflow, although a bit contrived, shows all the behavior
1. Go to Wordpress.com page/post editor
2. Add a YouTube embed block
3. Add a video and click embed
4. Click the edit button and change the URL, click embed
5. Repeate step 4 with a third video
6. Undo - crtl + z ---> it will skip the second video and go all the way back to the first video
7. C

[2021-04-24 21:20] dpasque opened #52266 "Embed Block(s): If any embed block converts to a more specific type, undo (ctrl + z) just repeats a loop"
### Steps to reproduce the behavior

1. Go to Wordpress.com page/post editor
2. Add any kind of Embed block
3. Add a URL that will convert to a more specific block (like YouTube, Twitter, etc.)
4. Click "Embed"
5. Use ctrl+z to undo

#### What I expected to happen
It removes the block and returns to the editor view where you provide the URL to embed

#### What actually happened
You get stuck in a

[2021-04-24 21:30] dpasque opened #52267 "Embed Blocks: When converting to a paragraph, any styling on caption turns into visible HTML tags in the text"
### Steps to reproduce the behavior

1. Go to Wordpress.com page/post editor
2. Add any embed block (like YouTube, Vimeo, Twitter etc.)
3. Add a caption, and add some styling to it (like bold, or color)
4. Convert the whole block to a Paragraph block

#### What I expected to happen
The styling to either translate to the Paragraph block, or at least be stripped

#### What actually happened
All the

[2021-04-24 21:43] dpasque opened #52268 "YouTube Block: Add validation / warning behavior from old Gutenberg support docs with bad YouTube URL"
### What
In the older Gutenberg blocks, per the support guide, if a user adds a YouTube embed block and adds a URL with youtube.com as the domain, but the URL itself doesn't point to an embeddable resource, they would get an inline validation and warning.

[https://wordpress.org/support/article/youtube-embed/](https://wordpress.org/support/article/youtube-embed/)
![expected_bad_youtube](https://us

[2021-04-24 22:03] dpasque opened #52269 "Conversation / Dialogue Block: Converting an empty Dialogue block in a Conversation to a Paragraph sets the starting text as "undefined""
### Steps to reproduce the behavior

1. Go to Wordpress.com post/page editor
2. Add a Conversation block
3. Click skip upload to do a manual entry
4. Click on the empty Dialogue block and convert it to a Paragraph block
5. Its text will be "undefined"

#### What I expected to happen
An empty Paragraph block to pull in

#### What actually happened
A Paragraph block with the word "undefined" in it

[2021-04-24 22:14] dpasque opened #52270 "Conversation Block: Manual entry keyboard workflow is a bit unintuitive"
### What
The keyboard workflow for manually entering a Conversation block can be a bit confusing, specifically around entering speaker names.

Namely, after entering a frist speaker's name, it's difficult to add a new speaker on the next line using just the keyboard. This is because as soon as there is a speaker added, any time you are typing in a new speaker block, it pulls up a pop-up with exist

[2021-04-24 22:22] dpasque opened #52271 "Conversation Block: Editing a speaker entry inline will update all speaker entries that had that same name"
### Steps to reproduce the behavior

1. Go to Wordpress.com post/page editor
2. Add a Conversation block and click skip upload to do manual entry
3. Enter multiple lines of speaker and dialogue, with speakers with the same name
4. Go back and click on one of the speaker lines, and edit it to something else

#### What I expected to happen
That single speaker line to change.

For changing a single s

[2021-04-24 22:33] dpasque opened #52272 "Conversation Block: Arrowing through a speaker's name causes popup to re-flash open, poses epilepsy risk."
### Steps to reproduce the behavior

1. Go to Wordpress.com post/page editor
2. Add a Conversation block and click Skip upload to do manual entry
3. Enter several lines with different speaker names
4. Add a new line and type a name. Then arrow left and right through that name (as if you had entered a wrong letter and needed to arrow back to correct it)

#### What I expected to happen
The existing

[2021-04-24 22:39] dpasque opened #52273 "Conversation Block: Long speaker names overflow their container in sidebar"
### Steps to reproduce the behavior

1. Go to Wordpress.com page/post editor
2. Add a Conversation block.
3. Either manually enter a long speaker name (e.g. someone with a lot of lettered credentials after their name), or upload a .txt with a long speaker name
4. Open sidebar settings for the whole conversation block.

#### What I expected to happen
The Speakers list to show all the names correctl

[2021-04-24 22:42] dpasque opened #52274 "Conversation Block: Editing as HTML will always error and create invalid block."
### Steps to reproduce the behavior

1. Go to Wordpress.com page/post editor
2. Add a Conversation block, populate it somehow
3. Edit it as HTML
4. Just click outside the block

#### What I expected to happen
Nothing, or to allow edits in HTML form.

#### What actually happened
The block always, even without making changes, errors out as an invalid block.

### Context

#### Browser / OS version
Ch

[2021-04-24 22:53] dpasque opened #52275 "Conversation Block: Text after a line end (CR LF) in an uploaded .srt is left out"
### Steps to reproduce the behavior

1. Go to Wordpress.com post/page editor
2. Add a Conversation block
3. Upload an SRT that has multiple lines separated by a line end (like a CR LF) for a single caption.

Example .srt text:

This is a format that seemed common in sample .srt files that I looked up.

#### What I expected to happen
All those lines are pulled in as the dialogue.

#### What actuall

[2021-04-24 22:57] dpasque opened #52276 "Conversation Block: .vtt and .sbv files are not supported, even though inline help says they are."
### Steps to reproduce the behavior

1. Go to Wordpress.com Post/Page editor
2. Add a Conversation block
3. Upload a .vtt file or .sbv file

#### What I expected to happen
File is parsed

#### What actually happened
Error banner appears that says file type isn't supported. If it won't be supported, .vtt and .sbv should be removed from the help text.

### Context

#### Browser / OS version
Chrome 9

[2021-04-24 23:19] jamiepalatnik commented on #51189
Another report in 28267458-hc. Shared direct link to podcast settings and explained how to turn off Advanced dashboard pages as a workaround.

[2021-04-25 00:00] donalirl commented on #38676
Seen again at #27056029-hc

[2021-04-25 03:44] inaikem commented on #52260
+1 I have been able to reproduce on a test site 3/5 times when reloading a page/clicking to a new nav item.

[2021-04-25 07:47] Nic-Sevic opened #52277 "Obsidian : Jetpack sharing email captcha"
### Steps to reproduce the behavior

1. Select Obsidian theme
2. Display email icon in sharing and enable sharing buttons on page
3. View site in mobile mode and select email icon

#### What I expected to happen
The captcha should display left aligned 0px to not get cut off

#### What actually happened
the captcha displays left aligned 331px

### Context
3934693-zen
I offered them a CSS fix for no

[2021-04-25 13:17] Nic-Sevic opened #52278 "Masonry block: settings are confusing"
#### Steps to reproduce

1. Add a masonry block with wide width
2. add a masonry block with default width (no selection)
3. compare settings options

#### What I expected
You should have the same options for both, or at least consistent options

#### What happened instead
you can only select medium image sizes when it's set to wide or full width
* Full width also gives small as an option

It's not

[2021-04-25 15:27] Aurorum commented on #36536
This should be resolved by #52015!

[2021-04-25 18:00] ChrissiePollock opened #52279 "Arrows not Working on Reusable Block"
### Steps to reproduce the behavior

1. Create a new post.
2. Add a reusable block.
3. Note that the arrow options are not clickable. They are greyed out.
4. Add a few more reusable blocks.
5. Note their arrows are there and working properly.
6. Go to the original reusable block added and try dragging.
7. Note that the dragging works.
8. Note that after the block is dragged, the arrows become usab

[2021-04-25 18:04] michaeldcain commented on #49336
~I'm able to reproduce this on a non-a11n site:~

[2021-04-25 18:12] michaeldcain commented on #49336
Actually, ignore that. On a non-a11n site with a new Support Session purchase, I _do_ see the cancel and refund options for Support Sessions.

[2021-04-25 19:45] katiebethbrown commented on #46420
Had a similar discussion in Slack ( p1619358835492800-slack-C3GP81E05 ), regarding a site where the cover and image blocks show a noticeable decrease in quality over the originals. Some digging turned up this related issue:

https://github.com/Automattic/jetpack/issues/10984

What appears to be happening is that Photon is calculating the source image size based on the Media Width set in the theme.

[2021-04-25 21:45] autumnfjeld opened #52280 "🚧. Welcome Tour mobile version"
## 🚧. Task Details WIP
The Welcome Tour was shipped as desktop only, now we want to develop the mobile version.
Currently design is stretched very thin, so to move forward without formal design we propose to create a tech prototype and iterate over a working version with @ollierozdarz  to get to a shippable mobile version.

**Initial tasks**
- [ ] Spike using the nux modal with the welcome tour gi

[2021-04-25 22:47] ramonjd commented on #45763
Thanks @synora
I don't think it's a pressing issue, so I think it's fine to close and reopen as necessary later.
 I'll cc @autumnfjeld just in case.

[2021-04-25 22:48] ramonjd commented on #37630
I think we can close for now. Thanks again.

[2021-04-25 22:48] #37630 closed

[2021-04-26 00:37] kaitohm commented on #51787
Just noting 3885262-zd-woothemes will need a response from us, once this issue has been resolved.

2021-05-26: user checked-in again, 4014851-zd-woothemes

[2021-04-26 02:08] marianearchimbaud opened #52281 "Referral links lead to a - Not Page Found - when Interface language is not "English" (localized links)"
Referral links are not working as expected after copying them from the Earn section:

![](https://d.pr/i/4o5i6i+)
[image](https://d.pr/i/4o5i6i)

According to this previous report https://github.com/Automattic/i18n-issues/issues/150 the link is supposed to have this structure:
http://**fr.wordpress.com**/refer-a-friend/6kvPP1RioVR730bbl0AZ

### Expected behavior
Visiting a referral link should lea

[2021-04-26 02:13] pauloeaquino opened #52282 "Publication theme: Cover block full-width w/fixed background shows grey box over image"
### Steps to reproduce the behavior

1. Activate "Publication theme"
2. Add new page/post
3. Add cover block -> set alignment to "Full width" -> under Media Settings, toggle "Fixed background
4. Preview (or publish)

#### What I expected to happen
I expected to see the cover block display full width with a fixed background

#### What actually happened
A grey box appears over half the image

### Co

[2021-04-26 04:29] autumnfjeld commented on #45763
I think this was fixed, if memory serves me correctly @lsl or @deBhal fixed it.  I searched for some breadcrumbs to prove that, but no luck.

[2021-04-26 04:31] kosiew opened #52283 "Comment counts mismatch after going atomic"
Summary
-------

The user has +43K comments if we search for their email address, but only 116 under the "Mine" tab.

Steps to Reproduce
------------------

1.  Open the Comments section and check the **Mine** count
2.  Search for the user's email address and you'll see +43K

P2 post: p9F6qB-6M2-p2

Site Info
---------

*   Jetpack Debugger: [https://jetpack.com/support/debug/?url=https://tstoaddi

[2021-04-26 04:33] kosiew commented on #52283
Copying finding from P2
This happens during the transfer process because user_ids for comments are not guaranteed to match those that existed while the site was Simple (especially since we are changing user ids), nor is every WordPress.com user who commented on a Simple site created as a user on that site on transfer.
ref: p9F6qB-6M2-p2#comment-38769

[2021-04-26 05:14] inaikem commented on #46802
Nudging here as `3911669-zen` came back into play. Thanks!

[2021-04-26 06:44] cpapazoglou commented on #52261
The moment you click "Switch Site" the sidebar is **expanded** since the site-switcher belongs to the Sidebar. While I found this behavior logical, I get the User frustration. It seems I haven't meticulously taken into consideration Users with multiple sites.

Currently the `Sidebar Collapsed State` is like an account wide preference, meaning it applies to all sites and all environments Calypso, S

[2021-04-26 06:53] inaikem commented on #52261
It's a yes on both counts from me.

I would work on the principle that this user preference this should be the same across multiple sites once set. The only (big) reason I can think of altering an editorial flow/process from site to site is if different platforms are being used.

...with the proviso that in a purely WP environment, users might want to retain different block editor preferences base

[2021-04-26 07:12] cpapazoglou opened #52285 "E2E: Flaky "Like post as logged out user" in wp-likes-spec.js"
This spec seems to be flaky both in Mobile and Desktop so let's try to fix it.

#### Failing spec details

From https://teamcity.a8c.com/viewLog.html?buildId=6130744&tab=buildResultsDiv&buildTypeId=calypso_RunCalypsoE2eDesktopTests#testNameId4157685645184999963:

[code]

[2021-04-26 07:15] inaikem commented on #46253
Closing in favour of #43227

[2021-04-26 07:15] #46253 closed

[2021-04-26 07:16] inaikem commented on #48446
Closing in favour of #43227

[2021-04-26 07:16] #48446 closed, assigned to nobody

[2021-04-26 07:17] inaikem commented on #43227
I've merged the two issue above here.

[2021-04-26 07:49] #52260 closed, assigned to cpapazoglou

[2021-04-26 07:52] #52196 closed, assigned to nobody

[2021-04-26 08:14] inaikem opened #52287 "Failed renewal on a subscription does not cancel the subscription + User is able to resubscribe, breaking the site owner's plan settings."
Per 3934233-zen:

- User `xyz` is subscribed twice to the same plan
- The original subscription for was started on Aug 3, 2020 and although on a 1 month interval, is currently set to renew on Oct 3, 2020 with only 1x payment taken.
- The user's payment method failed and the card was declined several times, resulting in the subscription being suspended/paused.
- Although the plan settings do not al

[2021-04-26 08:21] daledupreez commented on #51150
Note that as things stand, this change is currently rolled out to WPCOM Simple sites, and should make it across to WPCOM Atomic sites in Jetpack 9.7 early in May.

@Automattic/ajax, if you feel this is of sufficiently high priority to move across to WPCOM Atomic sites before the Jetpack update, please feel free to step in!

[2021-04-26 08:25] cpapazoglou commented on #51150
That sounds enough! Thanks for working on this @daledupreez 👏

[2021-04-26 08:27] #49631 closed, assigned to BogdanUngureanu, cpapazoglou

[2021-04-26 09:10] pablinos commented on #50519
Ah, I see. I'm not sure this is Calypsoify related. It might be that we change behaviour based on Calypsoify as I know that we disable that menu on Atomic sites (or at least we did before the nav unification launch).

I think removing it would be a good idea. The My Sites link can simply redirect to Calypso, and that's one less menu to think about!

[2021-04-26 09:37] cpapazoglou commented on #50519
Could we replicate the UX of how it works in Simple & Calypso, meaning:
- While in the frontend, it redirects to Calypso
- While in WP Admin, it does nothing (since you are already seeing the unified sidebar)

[2021-04-26 09:41] #51746 closed, assigned to cpapazoglou

[2021-04-26 10:47] cpapazoglou commented on #52285
It proves that it was a temp backend problem
p1619432916021900-slack-C1A1EKDGQ

[2021-04-26 10:47] #52285 closed, assigned to nobody

[2021-04-26 10:50] pablinos commented on #50519
Does that depend on whether nav unification is active? Perhaps when it's inactive (on non-Atomic Jetpack sites) it redirects to Calypso?

[2021-04-26 11:08] cpapazoglou commented on #50519
Good point @pablinos, when it's inactive "Browse Sites" is missing. In that case, redirecting to Calypso sounds fine.

[2021-04-26 11:48] StefanNieuwenhuis opened #52289 "Blank Canvas in /new Design Picker: Create Tracking Events"
### What
We need to add tracking events to identify a site that has been creating using Blank Canvas.

### Why
In order to keep track of everything track of everything around the blank canvas.

### A/C
* [x] `calypso_newsite_complete` should include `is_blank_canvas` prop
* [x] `calypso_signup_complete` should include `is_blank_canvas` prop
* [x] Update the event as described above when fired in b

[2021-04-26 13:48] mrfoxtalbot opened #52291 "Open on background tab (CMD/WIN + Click) only works in WP-Admin"
I will often use CMD+Click (WIN+ Click on Windows) to open menu links on a background tab.

I have noticed that this only works if you are looking at a WP-Admin screen. If you are looking at a Calypso screen, the link will open in the current window.

I personally prefer having full control over these browser commands/shortcuts so I would like to be able to use the "Open in background tab" option

[2021-04-26 15:21] tjcafferkey commented on #52123
Do you have the WP Admin Dashboard Appearance toggle enabled in `https://wordpress.com/me/account` by any chance?

Also the video is private, any chance it can be made public?

[2021-04-26 15:32] kwight commented on #44844
@mrfoxtalbot I'll suggest we remove the high priority label since it's a feature request (albeit a popular one). We're trying to reserve that label for genuine "this is a fire that needs to be put out" situations.

[2021-04-26 15:38] sixhours commented on #50568
Closed by the above issues

[2021-04-26 15:38] #50568 closed, assigned to sixhours

[2021-04-26 16:00] WunderBart commented on #51947
Seems like this could be fixed by https://github.com/Automattic/wp-calypso/pull/52089/commits/abd6dd52c4e89068ffaf5861da2a9b0577cb6ca9 then! 🤞

[2021-04-26 16:53] michaeldcain commented on #43265
@sirbrillig are you saying that this behavior was a regression from old checkout for non-domain purchases?

[2021-04-26 16:58] Aurorum commented on #52281
PR for this issue in #52299. :)

[2021-04-26 17:02] #51946 closed, assigned to fullofcaffeine

[2021-04-26 17:11] brandonpayton commented on #51662
Somehow, this broke for WoA sites between February 15 and today. Clicking on the user avatar no longer shows the righthand slide-in menu with a button that logs out from the single WoA site.

Users have to be able to logout from their WoA sites somehow.

[2021-04-26 17:12] sirbrillig commented on #43265
No, non-domain purchases should be basically the same as old checkout in this regard, although the way the tax fields are presented with new checkout, it might feel like a regression. This issue is specifically for domain contact fields. I updated the text of the issue slightly to try to make that more obvious. (That said, however we fix it for domain contact fields we should make sure to also app

[2021-04-26 17:13] obenland commented on #52180
@simison This sounds like something that fits the My Home pod agenda?

[2021-04-26 17:18] serabi opened #52301 "Jetpack Stats module does not appear correctly on WP Admin for Atomic sites"
### Steps to reproduce the behavior

1. Go to a Business plan or higher site with plugins installed and load the WP Admin dashboard - i.e. siteurl.tld/wp-admin
2. Make sure the Jetpack module is activated under Screen Options. You will see a blank space instead of stats.

Here are screenshots from two sites hosted at WordPress.com:

<img width="694" alt="Screen Shot 2021-04-26 at 1 05 31 PM" src="

[2021-04-26 17:19] obenland commented on #51662
@mmtr It looks like that link was introduced in https://github.com/Automattic/jetpack/pull/18495?

[2021-04-26 18:04] mreishus commented on #50564
Re-testing today, this one is now working for me (without me making any changes): I am brought back to the previously selected site. (Note: I used Users > Personal Settings as Account Settings didn't appear for me).

Confirmed this is still an issue.  (Note: I used Users > Personal Settings as Account Settings didn't appear for me).

[2021-04-26 18:24] blackjackkent commented on #51530
I'm a little confused on the desired behavior here. 🤔

@joweber123 Is the issue that the "Redirect" link should not appear? Or that the wording is confusing and should be changed to something else?

[2021-04-26 20:20] noahtallen commented on #51947
Lovely!

[2021-04-26 20:36] glendaviesnz commented on #44088
This isn't being looked at as far as I am aware so I think we can close it.

[2021-04-26 20:36] #44088 closed

[2021-04-26 21:01] mreishus commented on #50564
My current understanding follows:

* Calypso has the concepts of a **default** site and a **selected** site.
* The **default** site is persisted and stored to our backend servers.
* The **selected** site only exists in front-end state and is lost when you leave calypso.
* Urls like `http://calypso.localhost:3000/stats/day/my-cool-site.blog` allow you to automatically set the **selected** blog by p

[2021-04-26 21:52] mreishus commented on #50564
~~* Calypso side: https://github.com/Automattic/wp-calypso/pull/52306~~
~~* Jetpack/wpcom side: https://github.com/Automattic/jetpack/pull/19672~~

[2021-04-26 23:56] sirbrillig commented on #46934
https://github.com/Automattic/wp-calypso/pull/52308 should fix this.

[2021-04-27 00:16] alaczek opened #52309 "Subscription Block: A couple visual issues"
I was recently testing site editor, and noticed a few visual issues with the Subscriptions Block.

The first issue is the input field width - it remains a fixed width regardless of container width. The other thing is input field background color - in FSE the background is transparent:

### Steps to reproduce the behavior

1. Create a new site using FSE signup flow.
2. Select Mayland in the design

[2021-04-27 00:50] alaczek opened #52310 "FSE / Query Block: Block breaks after editor reload"
### Steps to reproduce the behavior

1. Create a new site using the FSE flow. Also, make sure you have a couple of posts to test with.
2. In the site editor add a Query block to the Post Content.
3. Save and close the editor.
4. Preview the site - the posts should be displaying properly.
5. Open up the site editor again. Notice the Query block has an "Attempt block recovery" message.

#### Is this

[2021-04-27 03:01] donalirl commented on #52190
Closed in favor of p2rHU0-Tk-p2#comment-2738

[2021-04-27 03:04] donalirl commented on #52191
Closed in favor of p2rHU0-Tk-p2#comment-2738

[2021-04-27 03:20] galakhyati opened #52313 "Earn tab: Unable to connect to Stripe"
### Steps to reproduce the behavior

1. Go to WordPress.com > My Sites > Tools > Earn > Collect Recurring Payments > Connect Stripe
2. Enter your email address and try to log in.
3. See error message `There was a problem logging you in. Please try again in a few moments.`

#### What I expected to happen
Expected to login to Stripe and connect it to WordPress.com account.

#### What actually happen

[2021-04-27 03:50] kosiew commented on #52087
Tested and confirmed that unblocking chat at URC enables chat for Customer.

[2021-04-27 03:50] #52087 closed, assigned to nobody

[2021-04-27 03:52] kosiew opened #52315 "Premium: Customer is unable to access Chat option at https://wordpress.com/help/contact"
### Steps to reproduce the behavior

1.  SU to this user of this ticket - #3930016-zen
2.  Go to [https://wordpress.com/help/contact](https://wordpress.com/help/contact)

#### What I expected to happen

Customer sees option to Chat

#### What actually happened

Customer only sees option to Send Email

[2021-04-27 03:53] kosiew commented on #52315
Checked URC and there is no block on chat.

[2021-04-27 04:00] bluefuton commented on #46737
Hi @synora! This is part-resolved:

* https://github.com/Automattic/wp-calypso/pull/48902 added an accessible name for Reader Share
* https://github.com/Automattic/wp-calypso/pull/49691 aimed to add an accessible name for Comments but has not been completed/merged
* The Like button still does not have an accessible name

I've added a checklist to the issue description above.

[2021-04-27 05:57] nagpai commented on #50722
User was confused here
#29250358-hc

[2021-04-27 06:40] StefanNieuwenhuis commented on #51985
I've closed this issue in favor of #52172.

[2021-04-27 06:40] #51985 closed, assigned to nobody

[2021-04-27 08:19] simison commented on #52180
I think this would be good for My home pod, yeah. 👍

That said, I'd really welcome it if the team that normally would own this (Martech, Shilling?) tackles it this week because I bet you'd have way better context to make the right choices quicker. I.e. don't just punt because you can punt, but if you do, no worries. You folks likely anyway need to think about the right solution that the pod team j

[2021-04-27 08:24] inaikem commented on #52315
Per our support docs, _"Live Chat support is currently available in English. Spanish and Portuguese-speaking Business / eCommerce plan customers will also have access to live chat support in those languages, based on operator availability."_

I have tested but am unable to replicate the ability to access live chat with the interface set to an unsupported language.

[2021-04-27 08:26] #52119 closed, assigned to nobody

[2021-04-27 08:27] inaikem commented on #52315
NB, Additional related discussion here: pcbce7-1eC-p2

[2021-04-27 08:29] inaikem commented on #52178
Hi @sstabrizi! Please update this with an interaction link(s), and/or any test sites you were able to replicate this on.

I'm closing this for now but please reopen with the requested details, thanks!

[2021-04-27 08:38] inaikem commented on #52213
Thanks for the feature request, Jess! I'm closing this and pointing it to an existing task over at `dotcom-manage`: 500-gh-Automattic/dotcom-manage

[2021-04-27 08:38] #52213 closed, assigned to nobody

[2021-04-27 09:10] Nic-Sevic opened #52322 "Blank Canvas: Title display in editor doesn't match live/preview"
#### Steps to reproduce

1. On post/page with Blank canvas theme add title
2. compare alignment to preview/live page

#### What I expected
editor should display correct alignment

#### What happened instead
alignments don't match

#### Browser / OS version

#### Screenshot / Video
Preview:
<img width="1744" alt="Markup 2021-04-27 at 11 58 52" src="https://user-images.githubusercontent.com/47717887

[2021-04-27 09:35] kmrpankaj opened #52324 "Business Hour Block: Time validations are missing."
### Steps to reproduce the behavior

1. Go to 'My site > Page/Post > Add new page/post'
2. Add the block 'Business Hours'
3. Select the same value in the opening and closing time.
     * What I expected to happen
     It should show a validation to change the closing time to be different
     * What actually happened
     It let the user enter the same value for opening and closing hours.
     Scr

[2021-04-27 09:42] sowmya2709 opened #52325 "Navigation Block -> Setting -> Decoration settings do not apply to Sub menu items"
### Steps to reproduce the behavior

1. Add Navigation(Horizontal) block
2. Add a 'Custom Link'/Category/ Tag Link/Any block that allows sub-menu within navigation block
3. Add a few sub-menu items to 'Custom Link'/Category/ Tag link/Any other block
4. Select Settings option for Navigation Block and Go to Typography
5. Change Decoration to Under Line or Strikethrough in Edit mode

#### What I expe

[2021-04-27 09:53] mmtr commented on #52051
@obenland the commit is still there, but as noted in D58852-code, we moved the "Email Post Changes" settings to the WP Admin writing settings (`/wp-admin/options-writing.php`), which can be accessed from the menu only when the "show advance pages" toggle is enabled. They are not available in the Calypso writing settings (`https://wordpress.com/settings/writing`).

That means that in order to manag

[2021-04-27 09:56] WunderBart opened #52326 "E2E: Force reduced motion"
We're currently testing a [`waitUntilElementStopsMoving`](https://github.com/Automattic/wp-calypso/pull/52089/files) helper that should cover situations where E2E specs are flaky because of moving/animated elements. While this might be a good solution, an even better one could be forcing [reduced motion](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) (as it's done

[2021-04-27 10:04] sowmya2709 opened #52327 "Navigation(Horizontal)- In Edit mode, the navigation block text colour is not applied to Search block label, Page list"
In edit mode, when a Search Block/Page List is added to the navigation block, and then text color is applied to all navigation block contents(Custom link, category link, tag link, etc) except Search label and Page list. The text color gets applied in preview though. It should also be applied in edit mode

### Steps to reproduce the behavior

1. Add Navigation Block
2. Add Page List and Search bloc

[2021-04-27 10:11] mmtr commented on #51533
Sorry for not being able to reply earlier, I was AFK last week! The proposed changes (which have been already merged) look good to me. The reasoning behind forcing a Calypso link was to keep the behavior we had prior to nav unification which removed the WP Admin link in favor of a Calypso link (see `/wp-content/admin-plugins/calypso-redirects.php#L246`. If you tested that the WP Admin links works

[2021-04-27 10:18] StefanNieuwenhuis commented on #52289
Don't forget that we have to register the prop [in the Tracks Events Registration repo](https://github.com/Automattic/tracks-events-registration/).

[2021-04-27 10:22] sowmya2709 opened #52328 "Navigation Block - Search and Social icon blocks within the Navigation block are not aligned in line with other blocks"
Search and Social icon blocks within the Navigation block are not aligned in line with other blocks such as Custom link, category links, tag links, etc. There is no left spacing for these block types, however, others have left spacing of 2 points at least.

### Steps to reproduce the behavior

1. Add Navigation block and then add Search and social block within navigation block.
2. Add Category lin

[2021-04-27 10:29] sowmya2709 opened #52329 "Navigation Block- In Edit mode, on changing navigation block type to 'Premium Content', single Undo does not work"
On changing the navigation block type to 'Premium Content' and then doing 'Undo', does not revert back to the Navigation menu at a single attempt at undo. The user needs to click Undo 3 times

### Steps to reproduce the behavior

1. Add navigation block
2. Add some other blocks within the navigation block
3. Change the navigation block to "Premium Content" by clicking on the Navigation icon on the

[2021-04-27 10:37] sowmya2709 opened #52330 "Navigation(Horizontal)- Top menu -> Options -> 'Move To' option is not very intuitive"
Navigation BLock Top menu(not page menu) -> Options -> 'Move To': This just selects navigation block with top border and doesn't really indicate how to move or where to move, I can drag the navigation block but the 'Move To' options purpose is not easily understandable

### Steps to reproduce the behavior

1. Add navigation block
2. Add some other blocks within the navigation block
3. On Top menu

[2021-04-27 10:47] sowmya2709 opened #52333 "Navigation Block - Select Group/ Select column option for the navigation block is not very intuitive"
Select Group/ Select column option for the navigation block is not clear or not very intuitive

### Steps to reproduce the behavior

1. Add navigation block
2. Add some other blocks within the navigation block
3. Click on 'Transform To' or click on 'Select Group'

#### What I expected to happen
I expect some sort of indicator or help in terms of how/what got grouped, how columns are organized etc

[2021-04-27 12:53] mmtr commented on #51662
Yeah, in that PR we aligned the topbar links with the new unified admin menu links, so the user avatar redirects to `wordpress.com/me` instead of displaying a custom righthand slide-in menu. It seems that the logout button in Calypso does not close the WP Admin session on Atomic sites.

[2021-04-27 13:19] yansern commented on #37459
This is tested and now deployed in D58565-code.

[2021-04-27 13:19] #37459 closed

[2021-04-27 13:35] joweber123 commented on #51530
@blackjackkent The issue is that the redirect link appears at all.  I believe that it should not appear for the user.

[2021-04-27 13:36] joweber123 commented on #51530
Looks like this has been reported again here - https://github.com/Automattic/wp-calypso/issues/51186

[2021-04-27 13:38] sixhours commented on #48368
Looks like core uses two different hover colors on primary buttons; wp-admin (top screenshot) differs from Gutenberg, too:

<img width="626" alt="Screen Shot 2021-04-27 at 9 37 02 AM" src="https://user-images.githubusercontent.com/2124984/116250927-2ffe3f80-a73c-11eb-8b83-d45c4ded289c.png">
<img width="254" alt="Screen Shot 2021-04-27 at 9 37 17 AM" src="https://user-images.githubusercontent.com/2

[2021-04-27 13:57] tjcafferkey commented on #50722
@sfougnier If we come to pick this up during the Back to Basics initiative is this a solution you're happy with assuming we cannot easily combine both views (.com and .org) into a single view?

[2021-04-27 14:07] davipontesblog commented on #51189
@kwight  I suggest we treat this as a bug instead of a feature request. Some of our key user interface flows are blocked because of this:
- Deleting a site.
- Launching a site. (Just had this issue with an atomic user here: 29258970-hc)

Without HE intervention this is a blocker to launch sites for example, since My Home only mentions the site is not launched, but does not offer a way to "Launch"

[2021-04-27 14:08] tjcafferkey commented on #47051
On hold until Nav Unification is active on Jetpack sites.

[2021-04-27 14:32] pauljacobson commented on #52315
@inaikem This isn't a question of access to chat in languages other than English, but more as the customer put it:

Based on initial, internal discussions, it seems that the customer ought to be able to access live chat with a qualifying plan, regardless of the language their UI is set to. Reopening this issue so we can investigate further.

Here's the internal thread: p1619529856170500-slack-C6MM

[2021-04-27 14:47] kwight commented on #51189
Yep, I'd agree. The "turn it off, make changes, then turn it back on" workaround makes it not super-high priority, but is a terrible experience and HE drain nonetheless. So ifI understand correctly, the real fix is to port those missing Calypso tools to WP Admin? cc/ @tjcafferkey

[2021-04-27 15:10] davipontesblog commented on #51189
I'd say either that, or to trim out stuff that's already in the WP Admin Settings page from the Calypso one, repurposing it to show hosting-only options such as the ones mentioned here, delete the site, launch it, etc.

Specifically to the launching of the site, a good interim solution would be to stick a button on My Home where we already mention the site is not launched, since we are already usi

[2021-04-27 15:35] michaeldcain commented on #52180
As @simison pointed out in the comment above, we (I) already fixed this banner for monthly plans. I missed it before, but in the initial screenshot, the user is 5 days from expiration, which means that either the renewal has failed or auto-renew is on but won't succeed (i.e. a purchase made with credits).

I just double-checked with a monthly plan.

**> 7 days until expiration:**
<img width="1265"

[2021-04-27 15:36] jamiepalatnik commented on #51189
Just adding that there are a number of other settings that can't be accessed besides launching and deleting the site. In my report above I mentioned https://wordpress.com/settings/podcasting/ but there may be others as well.

[2021-04-27 15:57] carinapilar commented on #52315
This seems expected. [This doc about localized support](https://wordpress.com/support/help-support-options/#localized-support) mentions the following:

Since the user has a Premium plan, they will only get email support, in French. They would need to change the interface to English to get live chat. Or get a Business and eCommerce plan.

[2021-04-27 16:04] annezazu opened #52340 "Allow people to choose an emoji as their site icon"
**What**
@coreymckrill suggested the following and I wanted to pass it along as a great idea to explore:

**Why**

This would provide an easy, low friction way for people to add additional customization to their site and make it more their own. Not everyone can come up with an image/logo to upload that fits nicely at that small of a size.

**How**

This tweet might be helpful as a starting point:

[2021-04-27 16:21] #52017 closed, assigned to razvanpapadopol

[2021-04-27 16:54] creativecoder commented on #51057
This seems to be working as expected for me, I think we can close this.

The link to site editor depends on the "Dashboard appearance" setting in `/me/account`.

Be default, it points to `wordpress.com/site-editor/{site}`. But if "Show wp-admin pages if available" is set, then it goes to the wp-admin link instead. (Note it took a couple of refreshes for the setting change to take effect when I was

[2021-04-27 16:58] vindl commented on #50544
Closing in favor of 244-gh-Automattic/view-design.

[2021-04-27 16:58] #50544 closed, assigned to nobody

[2021-04-27 17:49] DavidRothstein commented on #52180
We discussed it more and need to reopen this; renewal attempts for monthly subscriptions start **on the day of expiration**, so (at least for a subscription with auto-renew on) it's still a bug to show this starting 7 days before expiration (there haven't been renewal attempts yet).

Probably the "pre-expiration" version of the banner (shown in the above screenshots) should never display for month

[2021-04-27 17:50] sixhours commented on #50826
I checked all color schemes, and it happens with the Light color scheme, too:

<img width="283" alt="Screen Shot 2021-04-27 at 1 47 23 PM" src="https://user-images.githubusercontent.com/2124984/116288307-6305fa80-a75f-11eb-89ae-2005310205d0.png">

And to a lesser extent with Powder Snow and Sunset:

<img width="287" alt="Screen Shot 2021-04-27 at 1 48 44 PM" src="https://user-images.githubusercont

[2021-04-27 18:24] sixhours commented on #50826
Taking another look, it seems we're using the wrong variable for the `.count` selector, which explains why some color schemes lack contrast. We were using `--color-sidebar-menu-selected-text` but in this case we want `--color-sidebar-submenu-selected-text` since it's under a submenu. So I think I can make a change to just the sidebar variables and it will fix all color schemes.

[2021-04-27 18:46] michaeldcain commented on #52180
Patch in D60688-code

[2021-04-27 19:01] #48368 closed, assigned to sixhours

[2021-04-27 19:12] vindl commented on #52170
After discussing this further today with @mtias @ianstewart @simison, it sounds like we might want to stick with Option 1 for Dotcom in the long-term.

In the short-term and for next testing rounds, it will be sufficient to replicate core flows (more in line with Option 2, but without changing the onboarding).

[2021-04-27 19:22] ianstewart opened #52343 "Site Editor: Custom Link Text Field Misaligned"
### Steps to reproduce the behavior

1. Create a site on WP.com with the site Editor
2. Add a custom link item block to your navigation block in the site editor
3. Open the block inspector
4. See error

#### What I expected to happen

What I see in core.

![image](https://user-images.githubusercontent.com/545779/116299947-e9bcd680-a763-11eb-947a-806cf6f1cbc0.png)

#### What actually happened

What

[2021-04-27 19:27] ianstewart opened #52344 "Site Editor: Mis-aligned Replace Image Button"
### Steps to reproduce the behavior

1. Create a site on WP.com with the Site Editor
2. Add an image or select one in the Site Editor
3. Open the block inspector
4. See error

#### What I expected to happen

Image Block Settings similar to the core experience.

![image](https://user-images.githubusercontent.com/545779/116300451-87b0a100-a764-11eb-9a2e-dec19d618fe9.png)

#### What actually happened

[2021-04-27 19:29] ianstewart opened #52345 "Site Editor: Arrows sometimes appear underneath select boxes in block inspector sidebar"
Stubbing out an issue reported by @alaczek. Arrows (as shown below) will sometimes appear in the Site Editor  with the Query Block.

![image](https://user-images.githubusercontent.com/545779/116300888-073e7000-a765-11eb-813f-c00206829f70.png)

I've been able to reproduce this myself but they will sometimes appear or disappear intermittently.

[2021-04-27 19:34] ianstewart opened #52346 "Site Editor: unexpected group block UI in block inspector"
### Steps to reproduce the behavior

1. Create a new site with the Site Editor on WP.com
2. Click on a group block
3. Open the block inspector
4. See error

#### What I expected to happen

Group Block UI in Core

![image](https://user-images.githubusercontent.com/545779/116301281-7f0c9a80-a765-11eb-90cb-b548a04e20bf.png)

#### What actually happened

Too-wide UI in block inspector.

![image](https

[2021-04-27 19:38] sstabrizi commented on #52182
I've got another case of this in 29265927-hc. It's a simple site using the Dyad 2 theme. I tried removing the header image and adding a new one. The crop screen loads, but no cropping tools show up. When I click Crop and Save the same error is displayed:

<img width="1961" alt="Screenshot on 2021-04-27 at 13-29-35" src="https://user-images.githubusercontent.com/25855381/116301931-d3138100-a75d-11e

[2021-04-27 19:55] NoHopeRadio commented on #51095
Hello, another user wanting to access Jetpack Advanced Stats
hc-28290617, zen-3943080

[2021-04-27 20:01] blackjackkent commented on #51464
Closed after merge of #52168

[2021-04-27 20:01] #51464 closed, assigned to blackjackkent

[2021-04-27 20:10] scosgro opened #52347 "Blog Posts Block and Sharing Buttons - Sharing Button Icons require being enabled on both Posts and Pages to function properly."
### Steps to reproduce the behavior

1. On a site that has multiple blog posts published, with featured images, create a page with a Blog Posts Block on it.
2. To replicate the bug fairly visibly, use this configuration, and publish the page:
![image](https://user-images.githubusercontent.com/30731356/116305637-e5d78700-a758-11eb-8268-8297ef7cd0a0.png)
3. Go to Tools - Marketing - Sharing Buttons,

[2021-04-27 20:16] michaeldcain commented on #52180
@ccwalburn this should be fixed now that the patch above has been deployed. Let me know if you see any more issues.

[2021-04-27 20:16] #52180 closed, assigned to nobody

[2021-04-27 20:43] wprhunt opened #52350 "[Feedback] Support icon is in the way of some page editor settings"
### Steps to reproduce the behavior

1. Edit any page on a site that has enough potential "parent" pages to select from
2. Go to Page Settings -> Page and expand "Page Attributes"
3. Try to select a page from the drop down and scroll through the pages and the ? icon will be in the way

### Potential solution

Add more space/padding below the page settings in the right sidebar so the ? icon and liv

[2021-04-27 21:06] happychait commented on #50964
Thanks for making this teeny change happen, @sfougnier and @sixhours.

[2021-04-27 21:14] wprhunt opened #52352 "[Feedback] Rename "Add new category" button when applying new categories"
### Steps to reproduce the behavior

1. Edit any post and add go to add a new category under Categories -> "Add New Category"
2. When creating a new category, the button to actually save the change is also titled "Add New Category"

#### What I expected to happen

This should be labeled something like "Save new category" to make it more distinct from the initial link to add a new category so its c

[2021-04-27 23:42] noahtallen commented on #52326
Do you think having animations enabled would give us more signals regarding broken features? What if an animation actually does break something?

[2021-04-28 00:49] jcortx commented on #46077
#29268011-hc

[2021-04-28 01:00] inaikem commented on #52315
Thanks for the input @pauljacobson , @carinapilar. I'm happy to leave this open to foster additional discussion. Leaving this for reference again: pcbce7-1eC-p2

[2021-04-28 01:45] deBhal opened #52361 "Nux: HTML Entity visible in Welcome Tour Header Element"
Update: This particular example has been fixed by updating the translations, so it's more a question of how many cases like this are there that we don't know about, and how can we avoid this sort of problem in the future.

Calypso doesn't seem likely to be the the right place to fix this, but I'll leave this issue open for now and let @Automattic/i18n transfer it somewhere more appropriate and clo

[2021-04-28 01:48] lsl commented on #52281
@jaswrks / @dlind1 please see https://github.com/Automattic/wp-calypso/pull/52299#issuecomment-827326437 a backend fix is required.

[2021-04-28 03:13] roo2 commented on #48316
@nickpagz I tried to reproduce that on a new AT site with a custom domain name but the site launched properly first time, do you remember if you launched the site yourself or if you let the user launch it? ( I'm trying to work out if the old wp-admin UI might have been used to set the `blog_public` status to public without launching the site )
It looks to me from the transcript and audit log like

[2021-04-28 03:42] katiebethbrown commented on #48746
Another report in 29271331-hc

User has primary domain pointed to another host with an A record. Setting the primary back to the staging domain reveals that they've also made database changes to the site here and possibly dropped required tables, so we aren't able to connect Jetpack to the staging domain either. This leaves their purchased domain and settings completely inaccessible.

[2021-04-28 04:52] roo2 commented on #48316
@katiebethbrown I replicated that by removing the FSE plugin, the site becomes launched.
When we were designing the new coming soon feature we made the choice to implement it in the ETK, and accepted the tradeoff that if the plugin were deactivated, coming soon mode wouldn't work properly. pbAok1-17l-p2#comment-2246
I think that the settings page having that launch button and hiding the settings i

[2021-04-28 06:44] p-jackson opened #52363 "Editor: The loading placeholder is missing a gap between the header and placeholder content"
### Steps to reproduce the behavior

1. Open site in Calypso
2. Add a new page or post
3. Wait while editor loads in iframe

#### What I expected to happen

See a visually pleasing placeholder

#### What actually happened

![Screen Shot on 2021-04-28 at 18:38:35](https://user-images.githubusercontent.com/1500769/116357902-29152100-a851-11eb-8fdb-5d02de87a8ad.png)

It'd be more apparent the white b

[2021-04-28 06:57] razvanpapadopol commented on #49048
There's a new design direction: p9Jlb4-2qt-p2#comment-3874

[2021-04-28 07:18] retnonindya commented on #47992
There is no detail on which browser the user is using and they are using Timepiece, but there is similar report about it here:
3929589-zd-woothemes

I able to see the sharing buttons, but the user couldn't. And the buttons are disappearing when I checked the Sharing Buttons section on the dashboard.

[2021-04-28 07:56] #52016 closed, assigned to ciampo

[2021-04-28 08:00] kdevnel commented on #52201
Hey @mrfoxtalbot, I can definitely still reproduce this.

Please make sure you have Twenty Nineteen Active, you add a pullquote block and set the block to any alignment. For me this immediately triggers the issue - the editor no longer displays the correct font styling but the front-end does.

This is confirmed with both an Atomic and Simple site.

[2021-04-28 08:45] tjcafferkey opened #52368 "Sidebar Upsell Nudge in WP Admin"
**What**
Show upsell nudges in in WP Admin sidebar when Nav Unification is enabled so it is consistent with Calypso.

![116316298-9730e980-a766-11eb-9c7f-13a73addccec](https://user-images.githubusercontent.com/8639742/116374167-f3971600-a805-11eb-85da-93a650ab65e7.png)

**Why**
Upsell nudges are a source of revenue and since the launch of Nav Unification more users are exposed to WP Admin where th

[2021-04-28 09:24] razvanpapadopol opened #52370 "Design Picker: improve tests to check computed styles"
**Task Details**
We can try improving the integration tests that cover `DesignPicker` theming. If possible, we should check computed styles for borders and text colors.

**Related to**
https://github.com/Automattic/wp-calypso/pull/52162#discussion_r621419908

[2021-04-28 10:22] krutidugade commented on #48316
Site - https://testvitaccess.wpcomstaging.com/
User reported in #29278526-hc that site is public but it isn't launched yet. I have activated plugin full-site-editing which resolved the issue and shows coming soon page.

[2021-04-28 10:42] sowmya2709 opened #52372 "Search Block - When there is no search button, search label should be automatically displayed and vice-versa"
When a search block is added and the search text field is without a button then it would be good to have the search label displayed automatically or the text within the text box should be set to "Type here to search"/ "Search here"

What:
In search block edit mode, it would be more intuitive,  if the search block is without a button then having search label/ textbox text "Search here"/ "Type here

[2021-04-28 10:50] sowmya2709 opened #52373 "Search Block -Changing settings to 25%, displays the Search button is a messy multi-line button"
Changing settings to 25%, displays the Search button as a messy  multi-line  button

### Steps to reproduce the behavior

1. Add a search bar
2. Select an option to have a search button
3. Go to Settings -> Change display setting to 25%

#### What I expected to happen
I expect the button to appear correctly without wrapping the word to the next line

#### What actually happened
In edit mode, "Sear

[2021-04-28 10:56] sowmya2709 opened #52374 "Search Block - Changing display setting to 50 or 75% doesnt have an impact on search block"
Changing display the setting to 50 or 75% doesn't have an impact on search block

### Steps to reproduce the behavior

1. Add Search Block
2. Select button outside option
3. Go to block Setting-> Display Setting
4. Change the setting to 25%, then to 50, then to 75, and then to 100

#### What I expected to happen
I expect the search block textbox and button to reduce in size based on the selection

[2021-04-28 11:11] sowmya2709 opened #52376 "Search Block - Centre aligned, Toggle Search bar is selected, the search label is on far left and the text box is centre aligned"
In Search Block edit mode with a display setting of 25%, make sure the centre aligned, Toggle Search bar is selected, the search label is on far left and the text box is centre aligned. This looks messy

### Steps to reproduce the behavior

1. Add Search Block
2. Enable search label
3. Go to Settings and change the Display setting to 25%
4. Change alignment to centre aligned

#### What I expected

[2021-04-28 11:16] bogiii commented on #46043
I was thinking about how we can improve the text on this screen, and I would not touch the heading "Import in progress" and instead add a note on the bottom.

Right after the checklist, I propose something like:

@yoavf @akirk, what do you think?

[2021-04-28 11:23] yoavf commented on #46043
Sounds good.

Actually - when migration is in progress, we intentionally block editing the site (since all their content and settings are going to be overwritten). So this issue is specifically about telling the user they can close the window and the migration will keep going.

For some background about how we disable editing, see #40295 (and #38298 before that).

[2021-04-28 11:24] akirk commented on #46043
For my taste it's a bit too verbose. What about this?

I think we send both an e-mail and a notification but IMO we don't need to make the distinction.

[2021-04-28 11:27] sowmya2709 opened #52377 "Search Block - Reusable search block is not displayed fully in Edit mode. However it appears correctly in preview mode"
The reusable search block is not displayed fully in Edit mode. However, it appears correctly in preview mode

### Steps to reproduce the behavior

1. Create a search block with some features and add it to reusable block
2. Navigate to another section of the page add a reusable search block
3. Check-in Edit mode and in preview mode

#### What I expected to happen
I expect to see the added reusable

[2021-04-28 11:41] frosty opened #52378 "App Banners sometimes get obscured by bottom toolbar on mobile browser"
### Steps to reproduce the behavior

1. On an iOS device, open Safari and navigate to WordPress.com. Log in if you aren't already.
2. Navigate to Stats, Reader, or Notifications for a site. You should see the "open in app" banner at the bottom of the screen. If you don't, you may have recently dismissed it. Try a different account (although I think new accounts don't see it straight away).
3. Tap

[2021-04-28 11:59] bogiii commented on #46043
I've played around, and there is the same case while importing from an XML file.

Probably we have a **winner**.
To be consistent, I'd show the same note.

[2021-04-28 12:19] Sandkorner commented on #51189
Another user who could not "Launch Site" because of the dashboard setting being on: 3944528-zen

[2021-04-28 12:36] vindl opened #52380 "Site Editor: unable to type N in wp-admin"
This is pretty much the same issue as https://github.com/Automattic/wp-calypso/issues/50246.

While the previous one was fixed for Calypso iframe integration, this is still present when loading the Site Editor through wp-admin. This can happen when wp-admin pages setting is turned on (Me > Account Settings > Interface Settings > Show wp-admin pages if available) or if the iframe fail to load for s

[2021-04-28 13:41] vindl commented on #52380
Fix proposed in D60728-code.

[2021-04-28 13:59] sixhours commented on #50964
All thanks goes to @blackjackkent :D

[2021-04-28 14:08] StefanNieuwenhuis commented on #52172
@yuliyan, since we're creating empty starter sites (since they don't have content), do we need to send it for translation?

[2021-04-28 14:09] #51947 closed, assigned to lsl

[2021-04-28 14:09] #51948 closed, assigned to lsl

[2021-04-28 14:09] #51992 closed, assigned to lsl

[2021-04-28 14:09] #52255 closed, assigned to lsl

[2021-04-28 14:14] ianstewart commented on #43891
This is a duplicate. I'll close it for now in favour of that issue.

[2021-04-28 14:14] #43891 closed

[2021-04-28 14:27] mrfoxtalbot opened #52384 "©Podcast block only shows one post regardless of "number of items" setting"
### Steps to reproduce the behavior

1. Insert a Podcast Block (Jetpack)
2. Paste a RSS audio feed (http://juliagomez.es/category/audio/ in my testing)
3. Try changing the number of podcast episodes to display

#### What I expected to happen
I expected it to change the number of episodes being listed, the way it does not Jetpack Sites:

<img width="798" alt="Screen Shot on 2021-04-28 at 16-14-43"

[2021-04-28 14:34] yuliyan commented on #52172
@StefanNieuwenhuis, I'm not sure if I understand the question correctly. If there'll be no content, then no strings will be extracted and sent for translation.

[2021-04-28 14:50] StefanNieuwenhuis commented on #52172
Thanks for your quick reply! The designs we're adding are completely empty so nothing has to be translated, but looking at the example diff (D59752-code), I realize that some metadata requires translation too. So we'll send it out for translation :)

[2021-04-28 14:56] mreishus commented on #50564
Will be fixed by Automattic/wp-calypso#52362

[2021-04-28 15:10] obenland commented on #51186
Closing in favor of #51530

[2021-04-28 15:10] #51186 closed, assigned to nobody

[2021-04-28 15:18] xpurichan commented on #51662
Another report in 3881455-hc

[2021-04-28 15:29] edwinho89 opened #52387 "Email (powered by Titan) : Managing Email Accounts on Titan Prompts Create New Email Account Popup"
### Steps to reproduce the behavior

1. Go to "My Sites > Upgrades > Domains" and click **Add** under the email column on the domain you would like to register.
2. Generate as many Mailbox as you like, then click "Add Email".
3. Complete checkout, then proceed to click on "Manage Email" > "Manage your email settings and accounts".
4. You will then be redirected to https://manage.titan.email/email-

[2021-04-28 16:17] #50826 closed, assigned to sixhours

[2021-04-28 16:25] brandonpayton commented on #52013
I do not believe this should be implemented because WoA sites are completely under users' control, and it would be easy to take replace comment content with something offensive after many people have liked it. Then all the people who liked the original comment would erroneously appear to have personally endorsed the offensive content.

[2021-04-28 16:39] brandonpayton commented on #52013
I guess one counter argument would be that the same concern applies to posts, and we do at least show the avatars of people who've liked posts.

[2021-04-28 17:03] zdenys commented on #59396
1080226-hc

[2021-04-28 17:18] brandonpayton commented on #52283
As a compromise, it would probably be reasonable to preserve comment user IDs for users who belong to the site. For comment user IDs that do not belong to the site (and thus aren't transferred with the site to the Atomic platform), we should continue clearing them so WordPress does not see a non-zero user ID and mistakenly think it can look up the user by ID.

[2021-04-28 18:17] jeherve opened #52394 "Jetpack Pricing page: wp-admin links do not respect the site's protocol"
#### Steps to reproduce

1. Starting with a brand new self-hosted site, using `http://`
2. Install Jetpack and start the connection process
3. Upon successful connection, you'll be redirected to cloud.jetpack.com/pricing
4. At the bottom of the page, the button back to wp-admin with the free plan uses `https://`, even though the site uses http.

Original report: p8oabR-F6-p2#comment-5251

[2021-04-28 19:14] CompChris commented on #51662
Report in 28746602-hc

[2021-04-28 21:16] cbauerman commented on #46802
Hey all, I just pushed a change ( D60745-code ) which [addresses the issue Eric reproduced above](https://github.com/Automattic/wp-calypso/issues/46802#issuecomment-811585182). Reconnecting via Calypso should now work if the underlying connection was successful.

However, there are likely more issues, so I will be digging into some of the individual reports and seeing if the fix helped.

[2021-04-28 21:23] #51027 closed, assigned to mreishus

[2021-04-28 23:48] goblinartificer commented on #46802
quick note just so it's recorded - also in 3834189-zen

[2021-04-29 00:17] #51612 closed, assigned to deBhal

[2021-04-29 00:26] fullofcaffeine opened #52400 "E2E: Flaky spec report: "Calypso Gutenberg Editor: Pages (desktop): Password Protected Pages: Publish a Password Protected Page, Can log in""
File name: `wp-calypso-gutenberg-page-editor-spec.js`.

This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From https://teamcity.a8c.com/viewLog.html?buildId=6144577&tab=queuedBuildOverviewTab:

[code]

[2021-04-29 00:28] fullofcaffeine opened #52401 "E2E: Flaky spec report: "Calypso Gutenberg Editor: Posts (desktop): Use the Calypso Media Modal: Can insert an image in an Image block with the Media Modal""
File name: `wp-calypso-gutenberg-post-editor-spec.js`.

This spec seems to be flaky so let's try to fix it.

#### Failing spec details

From https://teamcity.a8c.com/viewLog.html?buildId=6144577&tab=queuedBuildOverviewTab:

[code]

[2021-04-29 04:54] bluefuton opened #52404 "Settings: if Jetpack Search is turned off, Instant Search should appear untoggled too"
### Steps to reproduce the behavior

1. On a site with a Jetpack Search plan purchased, go to Settings > General > Performance
2. Click to deactivate Jetpack Search with "Improve built-in WordPress search performance." toggle

#### What I expected to happen

When I deactivate Jetpack Search, the Instant Search experience toggle should be untoggled too.

#### What actually happened

The Instant Sea

[2021-04-29 04:57] bluefuton commented on #52404
The original reporter also noted that the language used on the main toggle could be clearer - perhaps just 'Enable Jetpack Search'.

[2021-04-29 04:59] bluefuton opened #52405 "Jetpack Search: shows as active on your site even if toggled off"
### Steps to reproduce the behavior
1. On a site with a Jetpack Search plan purchased, go to Settings > General > Performance
2. Click to deactivate Jetpack Search with "Improve built-in WordPress search performance." toggle
3. Go to `/jetpack-search`

#### What I expected to happen

If I have an active Jetpack Search plan but have chosen to turn off Jetpack Search, the page should say that.

####

[2021-04-29 05:03] bluefuton commented on #52405
I believe the page only checks to see if there is a currently active JPS plan. It may not check whether the user has turned it off manually.

[2021-04-29 05:38] autumnfjeld commented on #49622
@bhairavee23 Howdy.  Are you still working on this? Could you link your PR if so?   Thank you!

[2021-04-29 05:52] kdevnel commented on #52201
Hey @mrfoxtalbot Confirmed on self-hosted too so it definitely seems to be a theme issue. I thought all theme bugs were now being tracked through here? Let me know if I need to do anything further with this, cheers!

[2021-04-29 06:02] lsl commented on #47001
Repro'd in chrome stable (v90) setting a custom UA string to match what we see in this issue.

Discovered this failure mode in #52367 when we included too much version info in .chromedriver_version which is used to set version info in the UA string our e2e tests use. The resulting UA looked like "Chrome/Google Chrome 90.0.0" instead of "Chrome/90.0.0". cc @scinos

Need to trace / debug further but

[2021-04-29 06:05] lsl commented on #47001
Nevermind... had some testing settings blocking things. Still can't repro.

[2021-04-29 06:37] Aurorum commented on #52405
Hi @bluefuton, I'd like to work on this and #52405 if nobody else is planning to, but since I don't have access to a site with a JPS plan, would it please be possible to invite me as an administrator to one?

[2021-04-29 07:16] inaikem commented on #14624
Sweeping feature requests for relevance. Looks good, keeping open.

[2021-04-29 07:24] inaikem commented on #51095
Sweeping feature requests for relevance. Looks good, keeping open.

[2021-04-29 07:28] inaikem commented on #42679
Sweeping feature requests for relevance. Looks good, keeping open.

[2021-04-29 07:31] yuliyan commented on #52057
D60527-code has been deployed to production a few days ago and text style changes are now live.

[2021-04-29 07:31] #52057 closed, assigned to yuliyan

[2021-04-29 07:34] inaikem commented on #47926
Sweeping feature requests for relevance. @elibud, @nsakaimbo,  @belcherj, was there any movement on this [following the message above](https://github.com/Automattic/wp-calypso/issues/47926#issuecomment-650197910)?

[2021-04-29 07:38] inaikem commented on #50722
Sweeping feature requests for relevance. Looks good, keeping open.

[2021-04-29 07:42] inaikem commented on #50945
Sweeping feature requests for relevance. Looks good, keeping open.

[2021-04-29 07:51] tjcafferkey commented on #52368
De-prioritising this due to pbAPfg-1xC-p2#comment-3035

[2021-04-29 08:15] inaikem commented on #44593
Sweeping feature requests for relevance. Looks good, keeping open.

Additional notes/comments following some quick testing:
&nbsp;

- When I purchase a session, a QSS card on the "My Plan" page will appear, which allows me to schedule it.
- Once I schedule a session I can manage the booking via the QSS card on the "My Plan" page.
- Post purchase and before scheduling there is no indication I have

[2021-04-29 08:28] inaikem commented on #50564
Sweeping feature requests for relevance. Looks good, and is set to be resolved soon. Thanks to everyone involved.

[2021-04-29 08:53] jeherve commented on #52384
Since the block is developed in the Jetpack repo, it's probably best to report it there. 👍 Transferring.

[2021-04-29 10:13] #52350 closed, assigned to nobody

[2021-04-29 10:33] #47019 closed

[2021-04-29 10:33] #52261 closed, assigned to mmtr

[2021-04-29 10:33] #52352 closed, assigned to nobody

[2021-04-29 10:33] hacchism commented on #52259
Hi @mrfoxtalbot!

The pattern I can see in both cases is:

**Currency** - GBP
**Payment Partner** - Stripe Ireland

[2021-04-29 10:37] pablinos commented on #33066
That makes sense to me. It seems like wasted effort to maintain two experiences like this, especially as one will only be seen for the first plugin installation. Interestingly, I can use the Calypso plugin management for my Jetpack site, so there's another fork in the experience.

Perhaps we make the plugins page a static CTA to upgrade as well as optionally install a plugin, and from then on we s

[2021-04-29 12:01] Robertght commented on #52182
Another one in 29303036-hc. They had to resize the image to a landscape size.

[2021-04-29 12:12] razvanpapadopol commented on #51270
Re-opened since the test needs some more tweaking: https://github.com/Automattic/wp-calypso/pull/51842#issuecomment-828951044
Also updated A/C

[2021-04-29 12:15] kdevnel commented on #52201
Closing in favour of https://core.trac.wordpress.org/ticket/53112

[2021-04-29 12:15] #52201 closed, assigned to nobody

[2021-04-29 12:22] cpapazoglou commented on #50564
@mreishus I am afraid that #52362 doesn't solve all scenarios. While it solves the scenario Calypso -> WP Admin -> Calypso it doesn't account for WP Admin -> Calypso. Meaning that if the site in Calypso is set to `X` and I directly visit WP Admin of `Y` and then click the link to My Account, then Calypso will load site `X` instead of `Y`.

Sending the WP Admin domain to Calypso while redirecting i

[2021-04-29 12:45] #51401 closed, assigned to alshakero

[2021-04-29 13:08] Nic-Sevic commented on #40493
Also happening here 29303995-hc;

Since when the payments block is in a columns block with more than 2 columns; advised user to set block settings outside columns and then move into columns

With the columns block set to 2 columns you can access the payment block settings already

[2021-04-29 13:13] daria2303 commented on #51787
3905119-zd-woothemes

[2021-04-29 13:20] alshakero opened #52416 "The plans grid in /start shows NaN instead of discounts for a moment"
![image](https://user-images.githubusercontent.com/17054134/116556852-363c1980-a8fe-11eb-9ca1-30586b8cfe7e.png)

### Steps to reproduce the behavior

1. Go to /start
2. Advance to the plans grid.
3. You see `NaN` before the discounts are calculated.

#### What I expected to happen
A more aesthetic intermediate state.

#### What actually happened

### Context

#### Browser / OS version
Chrome / mac

[2021-04-29 13:46] aisajib commented on #51097
The user in #3930597-zd was asking for a follow-up. I've let them know that we're still looking into this.

[2021-04-29 13:53] ivan-ottinger commented on #51284
I have encountered an issue that seems to be related - it is not possible to remove existing record that doesn't have correct address:

![Markup on 2021-04-29 at 15:48:19](https://user-images.githubusercontent.com/25105483/116561297-7ac9b400-a902-11eb-84d4-d9ce0431de72.png)

It is not clear how the record got there in the first place, but the user cannot remove it.

Console log error:

`POST https

[2021-04-29 13:57] Nic-Sevic opened #52418 "Post notification email: RTL titles not showing correctly"
### Steps to reproduce the behavior

1. On a RTL site create a title with a mix of RTL and LTR words
2. Publish and check email notification
3. see that word order isn't preserved

#### What I expected to happen
Word order of post title should be preserved in email notification

#### What actually happened
order was jumbled due to mix of alignments

### Context
3940969-zen

#### Browser / OS versi

[2021-04-29 14:52] kristenzuck commented on #50164
Removed the link to the follow up for security purposes.

[2021-04-29 15:25] liviopv commented on #50765
I spotted this issue with the [JobCareers theme](https://themeforest.net/item/jobcareer-job-board-responsive-wordpress-theme/14221636). The theme applies a fixed width of 160px to `#wpcontent` and `#wpfooter`, which overrides the style added by Jetpack.

I added this PHP snippet as a fix via Code Snippets:

[code]

3947858-zen

[2021-04-29 15:25] #51016 closed, assigned to nobody

[2021-04-29 15:36] StefanNieuwenhuis opened #52422 "Editor: Show patterns inserter modal after dismissing"
With the adjustment of the modal as the “pattern” view, we need a way for folks to access once closed. Following core’s lead around pattern directory work, we should introduce a button within the pattern inserter sidebar that allows folks to “browse all” patterns, which should resurface the modal. See: p9Jlb4-2qt-p2#comment-3874

[2021-04-29 16:01] metabreakr commented on #51248
A similar case in 29307623-hc with the Blank Canvas theme.

[2021-04-29 16:06] #46043 closed

[2021-04-29 16:22] sixhours opened #52424 "Export: Button placement looks off"
### Steps to reproduce the behavior

Noticed this during a team demo...

1. Go to `/export` on a simple site
2. Note the placement of the Export All button and the Download button below it
3. Those buttons should probably be aligned to the right for a cleaner visual design

<img width="808" alt="Screen Shot 2021-04-29 at 12 08 58 PM" src="https://user-images.githubusercontent.com/2124984/116584125

[2021-04-29 16:35] worldomonation commented on #49223
I retested this with the following:
- Browser: Firefox Nightly 90.0a1 (2021-04-28) (64-bit)
- Browser: Safari Version 14.0.2 (16610.3.7.1.9)

on both atomic and simple sites and was able to confirm the expected behavior of Twitter button.
Closing as not reproducible.

[2021-04-29 16:35] #49223 closed, assigned to nobody

[2021-04-29 16:46] kwight commented on #27825
Dropping this to normal priority – we've had little reports over three years. 🙃

[2021-04-29 16:48] kwight commented on #43227
While irritating, this should be a `normal` priority.

[2021-04-29 16:53] kwight commented on #52059
This seems more like a normal priority – feel free to bump back up if I've misunderstood the severity.

[2021-04-29 17:13] Aurorum commented on #52424
PR for this issue in #52427. :)

[2021-04-29 18:29] gibrown commented on #46974
shhhhhh

[2021-04-29 18:29] gibrown commented on #46966
shhhhh

[2021-04-29 18:35] mreishus commented on #50564
Ah, good point.
* Calypso -> WP Admin -> Calypso is fixed
* WP Admin -> Calypso is not

Possible avenues to fix:
* Reimplement something like Calypso side: #52306 + Jetpack/wpcom side: Automattic/jetpack#19672
* Investigate setting up routing middleware that sets the selected site from the referrer domain (Possibly like `siteSelectionQuery` in #52306, but using referrer instead)

My current iterat

[2021-04-29 18:58] michaeldcain commented on #52118
/cc @saygunnyc, since he's is starting to look into Thank You pages. I'll add this to the Shilling Backlog for a future project.

[2021-04-29 19:01] michaeldcain commented on #52287
Related: paIf5I-73-p2

[2021-04-29 19:05] vindl commented on #52380
Fix deployed.

[2021-04-29 19:05] #52380 closed, assigned to vindl

[2021-04-29 19:43] scosgro opened #52430 "Buttons: Width Options are not responsive/appear poorly on mobile."
### Steps to reproduce the behavior

1. Create a new page, and add a Buttons Block with some buttons, and a Subscription Form Block
2. Adjust the width options on all of your buttons. Some default, some 25%, 50%, 75%, 100%.
3. Publish the page, reduce the width of the screen to mobile
4. See error

#### What I expected to happen
The buttons to not turn vertical, based on their selected width (typi

[2021-04-29 19:53] metabreakr commented on #52209
23368054-hc

Browser: https://www.whatsmybrowser.org/b/3FE1H

[2021-04-29 20:30] dlind1 commented on #52281
The fix to correctly redirect wordpress.com/(locale)/refer-a-friend/(hashid) links was implemented in D60747-code.

[2021-04-29 20:34] michaeldcain commented on #52259
I believe this issue is described in pNPgK-4w6-p2 and tracked in c/333z4Rzk-tr, but I'll put it in the Shilling backlog to talk about it in our next planning call.