[2022-01-07 15:59] chriskmnds commented on #59710
Same also for the parent/frame class under `config.options`

[2022-01-07 16:14] carinapilar commented on #57369
Another one on 33506759-hc with Radcliffe 2 - fixed deactivating the AMP plugin.

[2022-01-07 16:20] #59347 closed, assigned to escapemanuele

[2022-01-07 17:17] obenland opened #59864 "Woo Installer > Address step: Fix country dropdown formatting and add label"
Let's either re-create a combined country/region dropdown like in WooCommerce, or reuse the existing separate ones in Calypso and combine/parse the data they provide.

[2022-01-07 17:24] #59805 closed, assigned to nobody

[2022-01-07 17:27] obenland commented on #59864
CLosing in favor of #59833

[2022-01-07 17:27] #59864 closed, assigned to allilevine

[2022-01-07 17:50] carladoria opened #59865 "Kingsley theme: Updating failed: Invalid parameters template"
### Quick summary

User in 4659213-zd-woothemes doesn't like the gap that shows in between their menu and the homepage content as seen in blue in
![Markup 2022-01-07 at 11 54 05](https://user-images.githubusercontent.com/23703267/148585127-4f2580c2-02ba-40ea-bcd3-7d65d3834957.png)
The theme's demo PdAUX2-2-p2d doesn't show it since it is using a Footer only template. The spacing seems to be a bloc

[2022-01-07 17:55] gravityrail opened #59866 "Site verification services in Calypso doesn't show verification status from wp-admin"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. in wp-admin, use the Site Verification Services to register the site with Google using the oAuth flow
2. Head to https://wordpress.com/marketing/traffic/(yoursite.com)
3. Scroll to Site verification services

### A clear and concise description of what you expected to happen.

Should see existing verification status, same as in wp-admin

###

[2022-01-07 18:03] khristiansnyder commented on #59133
Another report in #3078066-hc, but I have seen this a couple times a week over the last several weeks as well. Preview works fine from the Posts section of the dashboard, but not in-editor.

[2022-01-07 18:10] carinapilar opened #59867 "Video Block: Videos Not Loading on Mobile Chrome"
### Quick summary

Some Video blocks aren't loading when you access them through Chrome on mobile.

### Steps to reproduce

1. Create a new page
2. Add some Video blocks on it
3. Check the page on mobile, using Chrome

### What you expected to happen

For the videos to load.

### What actually happened

Some videos won't load, randomly.

### Context

From chat: 33247054-hc

When testing on iOs, th

[2022-01-07 18:19] khristiansnyder commented on #57812
Another report in #3078066-hc, but I have seen this a couple of times a week over the last several weeks as well. Preview works fine from the Posts section of the dashboard, but not in-editor.

[2022-01-07 18:32] samvaidya commented on #59846
Another user reporting this issue on the Hive theme (retired).

Follow-up ticket:  4668513-zen

[2022-01-07 18:35] fullofcaffeine commented on #59805
**UPDATE:** I spent some time trying to find the culprit for this issue and found out it's not related to Gutenberg, but was instead introduced [in this PR](https://github.com/Automattic/wp-calypso/pull/59525) and solved when @Addie [reverted](https://github.com/Automattic/wp-calypso/pull/59859) it earlier today. It's easily verifiable if you checkout 3624ae0393 locally, build Calypso, refresh and

[2022-01-07 18:48] ianstewart opened #59868 "Showcase: Add randomization or trending sort to (at least) recommended section of themes"
Add randomization or trending sort to (at least) recommended section of themes in order to improve design selection with so many themes sitting next to each other that look similar.

Ref: https://wp.me/p7DVsv-drn#comment-39052

[2022-01-07 19:54] thekingsprojects commented on #57226
Another case here: 32587376-hc

Using Customize > Widgets instead of widgets.php works as a workaround for this user.

[2022-01-07 19:54] Gustavo-Hilario commented on #42079
Another request here: 6536223-hc

The user is recovering from an illness and is naturally sensitive to light.

[2022-01-07 20:21] brinbliss commented on #53953
4668597-Zen

Safari 15.2 on MacOS Catalina 10.15.7.

Swapping to Firefox did not resolve the problem, nor did disabling cross-site tracking/clearing the cache.

[2022-01-07 20:26] jjchrisdiehl commented on #49562
Calypso portion of https://github.com/Automattic/wp-calypso/pull/52890 is now merged, this has removed the popover cart entirely. Considering this issue now closed.

[2022-01-07 20:26] #49562 closed, assigned to nobody

[2022-01-07 21:24] thekingsprojects commented on #59855
Another case here: 335393000-hc (3rd-party theme), and on my test Atomic site (retired Patch theme). When I switched to Quadrat Green on my test site they seemed fine, though. So it seems like it affects more than just Ixion, but not every theme.

User has a workaround of their own (Elementor includes some spacer blocks that mostly work) for the time being.

[2022-01-07 21:57] jjchrisdiehl commented on #54813
And

I advocate that we avoid using the 'crossed out pro-rate' approach from before as it led to a number of [support requests from confused customers](https://mc.a8c.com/support-stats/happychat/tags.php?filter-name=upgrade&). While it may make sense to those of us working closely with the plan pricing data, there is a percentage of our customers for whom this visual representation of the pro-rata

[2022-01-07 22:00] ccwalburn commented on #58073
I tested the posts where this issue was reported and the Reblog button is staying put. Thanks @roo2 and @sgomes !
4669026-zen

[2022-01-07 22:31] hacchism commented on #59846
Another user reporting this on the Gateway theme.

Follow-up ticket: 4669094-zen

Also, I've set this as a High priority considering the impact on users.

[2022-01-08 00:14] Greatdane commented on #51388
Another report; 33540924-hc

[2022-01-08 00:28] creativecoder commented on #58930
I think the end goal is for all "Recommended" themes to support FSE features, be it universal or block-only. Once we get past FSE being in beta, all new sites will use these themes, and we'll want to encourage existing sites to adopt them as well, to benefit from FSE.

So if that's the end goal, I think FSE Beta sites should reflect that now (all Recommended themes support FSE), since a primary go

[2022-01-08 02:32] sarahcada commented on #59855
Another case at 28311339-hc (Libretto theme). I was able to replicate on my Simple test site, but not on Atomic. It seems that this may be limited to just Simple sites.

[2022-01-08 02:33] formosattic commented on #59396
+1 33429033-hc

Theme: Exford

Global Styles showed up after activating plugin WordPress.com Editing Toolkit.

[2022-01-08 02:58] brookewp opened #59885 "FSE themes have generic social icon for social navigation menu"
### Quick summary

New FSE themes only show a generic social icon for all links. For FSE, social icons can be added through the site editor but there are some customers who don't have it enabled and only have the customizer option.

<img width="786" alt="Screen Shot 2022-01-07 at 11 29 38 AM" src="https://user-images.githubusercontent.com/35543432/148628967-4e085a1c-6bf7-405f-b332-bc5df095e135.png

[2022-01-08 03:35] edwinho89 commented on #59846
33345583-hc . User is on AT site, and using Apostrophe 2 theme.

I'm able to reproduce this on my test AT site, using Storefront theme as well.

Deactivating Gutenberg (currently v12.3.0) plugin on both AT site does fix the issue.

[2022-01-08 03:44] JulianBustamante commented on #58322
@cpapazoglou I was working with @gavande1 and finished the local Jetpack setup. I'm still gathering information about how the WP.com and Jetpack endpoints are working to make the required changes.

[2022-01-08 05:36] donalirl commented on #59560
Another case in #4666576-zen. I can successfully recreate by:

1. Editing the post
2. Selecting the gallery block
3. Adding an additional image via the media library to the gallery

Like other cases, the user does not use the WP mobile app at all, only desktop web.

However, the error messages can be closed, so maybe the title of this issue can be updated if that is consistent with other experienc

[2022-01-08 06:48] KokkieH commented on #52241
https://wordpress.com/forums/topic/planning-a-full-rebrand-and-relaunch-need-help-with-logistics/?view=all

[2022-01-08 07:23] sarahcada commented on #59855
Closing this in favor of #59846

[2022-01-08 07:23] #59855 closed, assigned to nobody

[2022-01-08 07:27] sarahcada commented on #59846
Listing reports from #59855:

28311339-hc: Libretto theme. Simple site only.
335393000-hc: 3rd-party theme, and on a test Atomic site (retired Patch theme), reported by @thekingsprojects
32466914-hc: Ixion, reported by @allanftd

[2022-01-08 07:40] sarahcada commented on #59846
A couple more reports:
4669149-zd-woothemes: Corporate (retired) theme
4669612-zd-woothemes: Suits (retired) theme

[2022-01-08 07:50] zdenys opened #59886 "Blockbase and its child themes: Color Customization not saving"
### Quick summary

Color Customization cannot be saved in Customizer for Blockbase and its child themes

https://user-images.githubusercontent.com/39308239/148636501-68e7f309-0936-4d06-9cee-e10a2df1be57.mov

### Steps to reproduce

1. Activate Blockbase or any of its child theme (Zoologist)
2. Visit My Site → Appearance → Customize → Colors
3. Change any of the colors (Primary, Secondary, etc.)
4.

[2022-01-08 07:58] Robertght commented on #59886
Thank you for reporting this @zdenys !

I have pinged here as well for a second look: p1641628637072800-slack-C0113HTN28N

[2022-01-08 08:03] zdenys commented on #59886
The most recent intervention around the same issue is this one https://github.com/Automattic/themes/issues/5001

[2022-01-08 08:54] Robertght commented on #59570
Tagging @Automattic/cylon and @Automattic/theam here

[2022-01-08 09:14] filipanoscampos commented on #59846
Another report here: 4660627-zd-woothemes.
The user is using a retired Premium theme, Photographer.

[2022-01-08 09:18] filipanoscampos commented on #58450
Hi! I have a user that was quite confused about the message here 4660627-zd-woothemes.
They sent a screenshot that I find illustrates how confusing this can be for our users:
![image](https://user-images.githubusercontent.com/2540430/148638903-572c399a-0836-4347-a5e9-6a212f7d493b.png)

I asked them to confirm the messages disappear after being dismissed, but it would be great if we could find a wa

[2022-01-08 10:27] mrsjaved commented on #59846
Another report here:
4669949-zd-woothemes

Using Plane theme.

[2022-01-08 11:22] susanjanec commented on #59846
Another report in 4666823-zd-woothemes

Using Twenty Fifteen theme

[2022-01-08 12:08] jackiejade opened #59887 "Earn Dashboard: History page"
### What

Users would like a way to look back at the history of their paying customers. Right now the earn dashboard only shows active paying subscribers, but when their plan expires, they drop off the page/list in the dashboard.

### Why

Users would like to be able to see their history of earnings and be able to filter by user.

https://wordpress.com/earn/payments

### How

I imagine this to loo

[2022-01-08 12:55] syds87 commented on #59886
Another case with the same issue on Quadrat theme was reported in #4669592-zd

[2022-01-08 15:01] synora commented on #59846
Another Atomic site report: 4670442-zd-woothemes
Using the Bloggy(retired theme)

[2022-01-08 15:31] nickpagz commented on #59846
Simple site, Rebalance theme. 4670402-zen

[2022-01-08 15:51] suyogyashukla commented on #59846
Another report in 4670108-zen, multiple sites. Themes: Redhill and Gateway.

[2022-01-08 17:50] KokkieH commented on #53088
Could this be related to #52728? PDF embeds via the File Block are also broken.

[2022-01-08 18:42] masperber commented on #59846
33549426-hc. AT site, Radcliffe 2 theme

[2022-01-08 19:12] Gustavo-Hilario commented on #59886
Another report here using the `Quadrat Black` theme: 4668262-zd-woothemes

[2022-01-08 21:07] thekingsprojects commented on #59886
Another case with Quadrat here: 33552853-hc

Was able to give the user a CSS workaround for now.

[2022-01-08 23:19] khristiansnyder commented on #59846
#33553316-hc
At
Twenty Fourteen

[2022-01-09 02:29] syedshaon commented on #59846
#4671099-hc
Nikau Theme

[2022-01-09 03:01] masperber commented on #56559
33555715-hc encountered this issue

[2022-01-09 04:24] retnonindya commented on #59846
4667552-zd-woothemes
Theme Beacon (retired Premium theme)

[2022-01-09 04:27] syedshaon commented on #59846
#4671247-zd
Theme: Attache

[2022-01-09 05:17] hacchism commented on #57812
4671397-zen

Suggested workaround. Still trying to get the user's machine and browser info.

[2022-01-09 06:47] rw-ye commented on #58942
Will need to re-open ticket with user: 4578518-zd-woothemes after a change is deployed.

[2022-01-09 08:09] formosattic opened #59889 "Various themes, Form block: outline of submit button is missing."
### Quick summary

Issues happens with certain theme.

Outline missing with Karuna (user report), Baskerville 2.
Outline shows fine with Twenty Twenty-One, Quadra, Barnsbury.
I just tested a few themes, so the issue might happens with others.

User says it looked ok as of a month ago, so this appears to be related to some recent updates.

### Steps to reproduce

1. Add a Form block
2. Set submit b

[2022-01-09 11:09] dolgelukkig commented on #59846
Simple site
4666321-zd
Theme: Twenty Twenty-One

[2022-01-09 11:46] mxhassani commented on #52728
Reported here 4672147-zd. No workaround works. Suggested converting to images.

[2022-01-09 18:08] msilbers opened #59890 "Media Deletion: Warn about Specific number of items being deleted"
### What

We do show a warning, but today a customer deleted all of their media because they were editing many at once, and clicked Delete while they were all open. This is the warning we show:

<img width="1046" alt="Screen Shot 2022-01-09 at 10 28 34 AM" src="https://user-images.githubusercontent.com/31680407/148693232-b803c949-0cb2-4d37-9f90-041970739599.png">

Ideally it would instead say "Are

[2022-01-09 19:05] jp-imagines commented on #50574
Another report of the `SP17` error in 33420332-hc. Site's Jetpack connection was perfect, but they are using Ezoic NS/proxy; unsure if that's affecting things.

This user was using the Pay with PayPal block for donations, so I suggested switching to the Donations block instead as a workaround.

[2022-01-09 19:20] wprhunt commented on #59846
Simple site
4672889-zd
Theme: Apostrophe2

[2022-01-09 19:54] KirkwallDay commented on #59846
Another instance here: 33565797-hc
Atomic
Theme: Twenty Seventeen

[2022-01-09 20:06] jerrysarcastic commented on #59846
Also reported in https://wordpress.com/forums/topic/this-block-has-encountered-an-error-spacer-block-only/

Simple site
Theme: Dara

[2022-01-09 20:16] jordesign commented on #59846
Also reported in 4672183-zd-woothemes
Simple site - Canard theme

[2022-01-09 20:28] NoHopeRadio commented on #59855
Another report in 33260326-hc (TwentySixteen theme) Business plan, not atomic.

[2022-01-09 20:47] khristiansnyder commented on #59886
Another case in #4669301-zen.

Console error has:` Failed to load resource: the server responded with a status of 500 ()`

[2022-01-09 21:08] kathrynwp commented on #59855
Another report in 4673087-zen

Simple site, Moka theme

[2022-01-09 21:09] kathrynwp commented on #59846
Another report in 4673087-zen

Simple site, Moka theme

[2022-01-09 21:10] kathrynwp commented on #59846
Another report in 33260326-hc
TwentySixteen theme - Simple site

@NoHopeRadio - here moved from #59855 since that was closed as a dupe!

[2022-01-09 21:31] ramonjd commented on #59846
Hmm, it looks like this PR will address the issue based on the reported JS error:

https://github.com/WordPress/gutenberg/pull/37774

[2022-01-09 21:39] jordesign commented on #59846
Thanks @ramonjd  - just noting the Gutenberg Issue for our reference to track as well.
https://github.com/WordPress/gutenberg/issues/37758

[2022-01-09 22:33] #58073 closed, assigned to nobody

[2022-01-09 23:01] lsl opened #59891 "Add Field guide page for woo on plans"
We need to document how the the woo installer works in the FG. (what endpoints, what code)

We should also document tracks events and funnels we use to track woop metrics.

e.g. https://wp.me/PCYsg-CqB

[2022-01-09 23:43] gabriel-fuentes commented on #59570
4673315 - zd

[2022-01-10 01:20] thebud15 commented on #59846
Came up in #33569153-hc
Simple site
Theme: Radcliffe 2

[2022-01-10 02:57] formosattic commented on #59846
+1 26384477-hc
Simple site
Theme (retired): Romero

[2022-01-10 03:55] ollierozdarz commented on #59808
@kwight, I think that will be fine 🙂

Here's what we can do:

<img width="429" alt="Screen Shot 2022-01-10 at 1 47 34 pm" src="https://user-images.githubusercontent.com/67085494/148716344-6c97c269-ddf4-47bd-8c0f-df6cee9c6509.png">

<img width="429" alt="Screen Shot 2022-01-10 at 1 47 43 pm" src="https://user-images.githubusercontent.com/67085494/148716365-2cec9dde-0576-4d31-bbde-c0e66a3b1298.png">

[2022-01-10 04:00] ollierozdarz commented on #59729
Good catch @kwight.

Yeah, I think this would be the best solution and feel the least clunky. I was just playing around with it a little and the ideal scenario would be for it to be loaded with the next available chapter open.

[2022-01-10 04:05] ollierozdarz commented on #59124
Yes! These are looking good @autumnfjeld @arthur791004!

[2022-01-10 04:08] ollierozdarz commented on #58355
@autumnfjeld just double checked it again and it's resolved for me. Can probably be closed.

[2022-01-10 04:20] gavande1 opened #59893 "Marketplace: V1 Launch Checklist 🚀"
- [x] Remove automattician check from backend
- [x] Merge https://github.com/Automattic/wp-calypso/pull/59900
- [x] Merge https://github.com/Automattic/wp-calypso/issues/59657 only after release of V1 to production

[2022-01-10 04:32] SaxonF commented on #59232
A few options for us to consider.

Hide button and use a toggle to capture interest
![image](https://user-images.githubusercontent.com/1072756/148718243-de16488e-8c5b-48d5-80ea-7a906ef4c7e4.png)

Keep button but in a disabled state
![image](https://user-images.githubusercontent.com/1072756/148718256-f1cf0180-0e1f-4ca6-96b7-960af793e1f1.png)

Keep the button in an active state but show dialog on cl

[2022-01-10 05:18] formosattic opened #59894 "Table block, Header section: option to set a custom color background"
### What

When Header section is enabled, have the option to set a custom color background for it.

Right now, the Color option will apply to the whole table.

![image1](https://user-images.githubusercontent.com/15944096/148721070-92d1e559-2ca2-41e6-9e9e-fc254fa261e3.png)

### Why

It would help to have the Header stand out more.

User report: 33542022-hc

### Workaround:

* The text is the in Hea

[2022-01-10 06:04] arthur791004 commented on #59805
@fullofcaffeine Thank you for updating the status of this issue 👍

[2022-01-10 06:16] arthur791004 commented on #58879
Close it as https://github.com/Automattic/wp-calypso/pull/59750 is shipped!

[2022-01-10 06:16] #58879 closed, assigned to arthur791004

[2022-01-10 06:26] lsl commented on #55547
We'll need to replicate their work - paJDYF-2LT-p2#comment-8804

[2022-01-10 07:00] SaxonF commented on #59766
@Rolilink some options for you

![image](https://user-images.githubusercontent.com/1072756/148727979-b2861add-944f-446d-8ded-8c16231e30e6.png)
![image](https://user-images.githubusercontent.com/1072756/148727991-89961ae3-6db8-4992-a862-ad93cf270bfb.png)
![image](https://user-images.githubusercontent.com/1072756/148727986-8a4f5be7-0961-46b2-a69b-4a4e4e53f0b0.png)

What Might be useful is if we buil

[2022-01-10 07:27] retnonindya commented on #59794
So! The ticket reopened (4659976-zd-woothemes)

I'm interested in Michael's hunch here:

I understand the issue can't be reproduced -- but I feel Michael's hunch here is correct: Blockception is the cause.

I asked the user to either delete the problematic Reusable Block: "Join /Trips and Give /Give Now 2" or edit the said block by converting the Reusable Block INSIDE the block (I lost count of ho

[2022-01-10 07:33] KokkieH commented on #53088
User report in https://wordpress.com/forums/topic/embedded-pdf-no-longer-displaying/?view=all

[2022-01-10 07:34] KokkieH commented on #52728
Report in https://wordpress.com/forums/topic/embedded-pdf-no-longer-displaying/?view=all

[2022-01-10 07:40] inaikem opened #59896 "Simple sites: Spacer Block shows editor error on all WordPress default themes 2011 - 2020"
### Quick summary

Adding or editing a Spacer Block on a Post or Page with any default WordPress theme from Twenty Eleven to Twenty Twenty installed and active throws the following error:

`This block has encountered an error and cannot be previewed.`

The block appears as normal when viewed via public links, shows no recovery options in the editor (per the screenshot below) and its height can be

[2022-01-10 07:54] inaikem commented on #59846
User report in 4674003-zen (Twenty Thirteen).

Confirmed as  affecting the following themes:

- Twenty Eleven
- Twenty Twelve
- Twenty Thirteen
- Twenty Fourteen
- Twenty Fifteen
- Twenty Sixteen
- Twenty Seventeen
- Twenty Nineteen
- Twenty Twenty

I reported in #59896 before being pointed here.

[2022-01-10 07:55] inaikem commented on #59896
Closing in favour of #59896.

[2022-01-10 07:55] #59896 closed, assigned to nobody

[2022-01-10 08:15] formosattic commented on #59570
+1 4673459-zd-woothemes

[2022-01-10 08:56] DavidSaladu opened #59897 "PODCAST anchor update on existing posts"
### What

Currently, when a new post is created and published there's an option to create a new podcast anchor which gets linked into the post. However, if a user wants to "change it" they need to copy and paste the post content into a new post so it provides again the option to record it, as switching to draft and republishing doesn't display that option anymore.

### Why

Posts can be modified a

[2022-01-10 08:57] emmnyc85 commented on #59232
Option 2 looks great. I like that it defaults to giving us the opportunity to reach out to customers again to drive marketplace awareness and sales. Thanks @SaxonF

[2022-01-10 09:02] cpapazoglou opened #59898 "Marketplace: Jetpack self hosted "Coming soon""
A few options for us to consider.

Hide button and use a toggle to capture interest
![image](https://user-images.githubusercontent.com/1072756/148718243-de16488e-8c5b-48d5-80ea-7a906ef4c7e4.png)

Keep button but in a disabled state
![image](https://user-images.githubusercontent.com/1072756/148718256-f1cf0180-0e1f-4ca6-96b7-960af793e1f1.png)

Keep the button in an active state but show dialog on cl

[2022-01-10 09:07] cpapazoglou commented on #59670
A few options for us to consider.

Hide button and use a toggle to capture interest
![image](https://user-images.githubusercontent.com/1072756/148718243-de16488e-8c5b-48d5-80ea-7a906ef4c7e4.png)

Keep button but in a disabled state
![image](https://user-images.githubusercontent.com/1072756/148718256-f1cf0180-0e1f-4ca6-96b7-960af793e1f1.png)

Keep the button in an active state but show dialog on cl

[2022-01-10 09:10] cpapazoglou commented on #59752
@SaxonF maybe https://github.com/Automattic/wp-calypso/issues/43230 is more relevant than ever, could it be our magical solution here?

[2022-01-10 09:16] cpapazoglou opened #59899 "Marketplace: don't query the product list on every navigation"
Navigating in Plugins Browser and any Plugin Details initiates a new network request to the product list. These requests seems to be using enough resources

size: 14kb (and it will soon get bigger by adding more products)
time: 1.3s - 1.6s for me  (and it will soon get bigger by adding more products)

https://github.com/Automattic/wp-calypso/blob/39be4be432483bd2e9b3172bb6f6de9e7fc048e8/client/my-

[2022-01-10 09:26] Thelmachido commented on #43183
Had another report where donation receipts are showing the default WordPress.com subdomain as the site address instead of the site's primary domain.

4673741 - ZD

[2022-01-10 09:41] bogiii commented on #59630
LGTM 🚢

[2022-01-10 09:42] SaxonF commented on #58296
Also related https://github.com/Automattic/wp-calypso/issues/43230

[2022-01-10 10:30] #56708 closed, assigned to escapemanuele

[2022-01-10 10:33] jeherve commented on #54785
Closing as duplicate of https://github.com/Automattic/jetpack/issues/20022

[2022-01-10 10:33] #54785 closed, assigned to nobody

[2022-01-10 10:59] aleone89 commented on #59886
To note, users experiencing this issue here: https://github.com/Automattic/themes/pull/5262 (WSOD) when FSE, would need to save fonts in the customizer in order to get FSE working on their site, this particular bug would hinder the above fix.

[2022-01-10 11:11] gavande1 commented on #59893
Deployed r237876-wpcom

[2022-01-10 11:12] #59657 closed, assigned to cpapazoglou

[2022-01-10 11:19] gcsecsey commented on #59893
Testing checklist:
- [ ] On the [plugins browser page](https://wordpress.com/plugins/?flags=marketplace-v1)
  - [ ] The new moadl appears:
  ![image](https://user-images.githubusercontent.com/11555574/148757746-1f3b4eb3-3950-4c98-a6b4-153248c585e3.png)
  - [ ] paid plugins appear
  - [ ] free plugins appear
  - [ ] pricing toggle works as expected
- [ ] Verify that there are no breaking changes on

[2022-01-10 11:24] #58642 closed, assigned to chriskmnds

[2022-01-10 11:36] gavande1 opened #59902 "Marketplace: place currency symbol as prefix for INR currency"
The currency symbol is displayed as a suffix instead of the prefix for INR currency.

Before:
![](https://cloudup.com/cMkLGUjePqk+)

Desired:
![](https://cloudup.com/cqqhe8edvKU+)

[2022-01-10 11:47] NatzJoy commented on #59846
Another report in 33575341-hc

Atomic site using the Stratford theme.

[2022-01-10 11:49] kingsleyinfo commented on #59846
I just came across this bug and was able to replicate it on my own site. However, adding the Spacer block when the block settings toolbar is not toggled does not throw an error
Recording here:

https://user-images.githubusercontent.com/12503321/148760673-2ffcafec-6b62-4d9d-878e-7db8d75eb720.mp4

+1 33316541-hc

[2022-01-10 12:07] chriskmnds opened #59905 "Tour Kit: Cleanup - update CSS --visible modifier to Calypso convention"
### Details

On a few instances we use `--visible` in the Tour Kit main [stylesheet](https://github.com/Automattic/wp-calypso/blob/trunk/packages/tour-kit/src/styles.scss).

- Let's refactor these to match the more recommended Calypso convention for such modifiers (e.g. `is-visible`).
- Also rethink whether `is-hidden` would be more suited in some cases e.g. on the main `tour-kit-frame` class.

##

[2022-01-10 12:10] cpapazoglou commented on #59893
Closing this issues as all dependencies have been deployed.

[2022-01-10 12:10] #59893 closed, assigned to nobody

[2022-01-10 12:21] gavande1 commented on #59658
Diff created: D72736-code

[2022-01-10 12:49] dragstor commented on #59846
Reported by the user from 33402750-HC as well.

I suggested the workaround by @kingsleyinfo :)

[2022-01-10 13:20] ccwalburn commented on #59846
Another report here 33578535-hc
Deactivating Gutenberg fixed it for this user.

[2022-01-10 14:05] #58806 closed, assigned to nobody

[2022-01-10 14:18] allilevine commented on #59891
I started documenting woop metrics here: PCYsg-Ega-p2

[2022-01-10 14:18] Addison-Stavlo commented on #58930
Hrm, that is a good point! My counter argument is that recommended themes are the themes WordPress.com knows give users the best possible experience when building their site. Whether a user is on the beta or not, this should still be the purpose of the recommended tab. Therefore, we shouldn't show only FSE themes in the recommended tab for beta users until we are confident that they present a bett

[2022-01-10 14:56] rachelwinspear commented on #59846
Simple site: 27630439-hc
Theme: Hive - Retired.

[2022-01-10 15:08] nickpagz commented on #59846
Atomic, dyad 2 child theme. 33497028-hc

[2022-01-10 15:30] kerrynicl commented on #59627
Closing in favour of [#56742](https://github.com/Automattic/wp-calypso/issues/56742)

[2022-01-10 15:30] #59627 closed, assigned to nobody

[2022-01-10 16:06] #58355 closed, assigned to blackjackkent

[2022-01-10 16:21] BogdanUngureanu commented on #59834
This will be fixed with D71358-code, which is currently in progress (needs really small adjustments).

[2022-01-10 18:26] worldomonation opened #59918 "Flaky E2E: Open and close SEO preview"
### Spec file

wp-seo__preview-spec.js

### TeamCity ID

7224714

### Logs

[code]

[2022-01-10 18:39] worldomonation commented on #59327
Duplicated by #59918

[2022-01-10 18:39] #59327 closed, assigned to worldomonation

[2022-01-10 18:43] worldomonation commented on #48847
Should be dealt with in #48847.

[2022-01-10 18:45] worldomonation commented on #57367
Parent: #57509

[2022-01-10 19:52] jackiejade commented on #59846
Another: 32613955-hc
Theme: Twenty Sixteen

[2022-01-10 19:56] mreishus commented on #59153
Some discussions of alternate methods here: pdgA0m-aH-p2
Our current proposed solution is to make a premium/blockbase-premium theme.

[2022-01-10 20:28] brinbliss commented on #58599
Another at 33585495-HC

[2022-01-10 20:37] jeyip opened #59920 "[Bug]: Block and Universal Themes Not Loading Front Page Properly on New Sites"
### Quick summary

The newly released Jackson, Ames, and Kingsley themes have a blank front page. There is no content.

The Quadrat theme displays a list of posts as the front page instead of its homepage.

<img width="1051" alt="Screen Shot 2022-01-07 at 4 28 06 PM" src="https://user-images.githubusercontent.com/5414230/148835936-fa347267-5b32-4d8c-a3ea-4a26a7ffebf3.png">

### Steps to reproduce

[2022-01-10 20:43] jeyip commented on #59920
D72661-code

[2022-01-10 21:33] kwight commented on #56888
PR to activate the videos UI on prod: https://github.com/Automattic/wp-calypso/pull/59747

[2022-01-10 21:36] kwight commented on #56888
Events are listed in the Field Guide (PCYsg-DgC-p2), along with some basic funnels; also see pdgK6S-m4-p2.

[2022-01-10 21:40] kwight commented on #59615
Closed in D72326-code.

[2022-01-10 21:40] #59615 closed, assigned to nobody

[2022-01-10 21:41] maciejpilarski commented on #59846
Another: 4674255-zd
Theme: ZoxPress

[2022-01-10 21:41] #59737 closed, assigned to andres-blanco

[2022-01-10 21:42] worldomonation commented on #58479
@sirbrillig Thanks for followup on this!

Struturally the cart looks to be part of the larger `NarbarComponent`, so I think it would have been better to have the `NavbarComponent` and `NavbarCartComponent` merged into one file. With that said, the current system is working fine, so if I do the merge it will be as part of fixing the `Domains: Add to current site` suite (which is part of the quarant

[2022-01-10 21:43] kwight commented on #59821
D72634-code added both an individual Edit link for each video, and a direct link to the Calypso media library for editing posters. Good enough for now.

[2022-01-10 21:43] #59821 closed, assigned to nobody

[2022-01-10 21:44] metabreakr commented on #54201
I encountered this issue myself when commenting in P2. While I have the ProWritingAid extension installed, I have since not been able to reproduce. Hitting ESC on my keyboard cancelled my comment reply and deleted its content 🥲

[2022-01-10 21:46] creativecoder commented on #59570
I think this is resolved by D72778-code.

[2022-01-10 21:46] kwight commented on #59417
The Field Guide has been updated as much as possible; we'll add the walkthrough video whenever that's done.

[2022-01-10 21:46] #59417 closed, assigned to kwight

[2022-01-10 22:04] worldomonation opened #59923 "2FA: Intermittent `the server responded with a status of 403` upon entering TOTP code."
### Quick summary

This is an issue that is intermittently observed on the P2 E2E tests against production.

### Steps to reproduce

1. navigate to `/log-in`.
2. enter credentials to log in as `p2User`.
3. using the TOTP secret key under the key `p2UserTOTP`, generate a code.
4. enter the code.

### What you expected to happen

`p2User` is permitted to log in.

### What actually happened

Login at

[2022-01-10 22:05] worldomonation commented on #59923
This appears to be related to #59211.

#59211 also arose from automated P2 E2E tests.

[2022-01-10 22:15] p-jackson opened #59924 "[Bug]: Creating site with `/start` doesn't set correct page on front when `lang="en-gb"`"
### Steps to reproduce

1. Set language to `en-gb`
2. Create a new site at `/start`
3. Choose the "build" intent
4. Choose "Ames" theme (this is the one I tested with, but others might have the issue too)
5. Check out the front end of the created site

### What you expected to happen

The homepage of the site has something on it. It shouldn't be blank.

### What actually happened

The homepage of

[2022-01-10 22:21] kwight opened #59925 "Videos UI: The UI is not scrolled to the top upon opening."
If a user opens the videos UI from some point scrolled down on the page, the UI will appear scrolled down as well. Regardless of where the user is when opening the UI, it should be scrolled to the top, so that its header is fully visible.

![2022-01-12 12 33 42](https://user-images.githubusercontent.com/349751/149219747-7434330d-e4b8-4b3e-a4ef-4f7b3ba95ea9.gif)

[2022-01-10 22:24] worldomonation commented on #59923
As far as I can tell, the TOTP setting used by `@automattic/calypso-e2e` which derives from [TOTP-generator](https://github.com/bellstrand/totp-generator) is as follows:
- 30 second interval
- `Date.now()`

The secret is stored as an alphanumeric string in lowercase letters.

I think this eliminates the possibility that:
- the token is generated using wrong interval
- token is expired due to wrong

[2022-01-10 22:42] lsl opened #59926 "Investigate woo transfer failures"
There is a significant portion of users who successfully kick off a transfer or install process but never reach the wc admin setup wizard.

Determine:
- Is the wc admin setup wizard always being shown?
- Is there any errors in the install / transfer flow?
- Is there a difference between drop offs on transfer vs install?

Note there is no major warning signal in the `calypso_atomic_transfer_initita

[2022-01-10 22:46] worldomonation opened #59927 "Flaky E2E: Publish and visit the post"
### Spec file

wp-blocks__coblocks__extensions__gutter-control.ts

### TeamCity ID

7220861

### Logs

[code]

https://user-images.githubusercontent.com/6549265/148850886-2a676fdd-bb44-4b37-9cab-821b46b1007f.mp4

![image](https://user-images.githubusercontent.com/6549265/148850631-f265e142-8a4b-4d1c-8dea-4f9e4a1c61e0.png)

[2022-01-10 23:10] worldomonation opened #59929 "Flaky E2E: Insert Cover block"
### Spec file

wp-blocks__coblocks__extensions__cover-styles.ts:

### TeamCity ID

7220861

### Logs

[code]

[2022-01-10 23:10] worldomonation commented on #59929
![](https://teamcity.a8c.com/repository/download/calypso_WPComTests_gutenberg_Playwright_desktop/7220861:id/screenshots/wp-blocks__coblocks__extensions__cover-styles-insert-cover-block.png)

[2022-01-10 23:10] worldomonation commented on #59929
![image](https://user-images.githubusercontent.com/6549265/148853174-f325d96b-7e12-4127-ad9b-9acaaad5ded0.png)

[2022-01-10 23:28] worldomonation opened #59930 "Flaky E2E: Navigate to the Block Widgets Editor"
### Spec file

wp-widgets__spec.ts

### TeamCity ID

7220861

### Logs

[code]

![image](https://user-images.githubusercontent.com/6549265/148854780-f0b2cc6f-a78b-4ba4-89a7-4e6f785b9b7d.png)

[2022-01-10 23:29] worldomonation commented on #59930
Why is the Welcome Tour showing in the Block Widget...

[2022-01-10 23:38] cometgrrl commented on #59390
I was able to reproduce this on jurassic.ninja, so I filed an issue for core.  https://core.trac.wordpress.org/ticket/54784

[2022-01-11 00:03] cometgrrl commented on #59390
@alshakero Pinged you on Slack, as you were mentioned as someone who might be able to look into this bug.

[2022-01-11 00:03] cometgrrl commented on #57660
@alshakero following up here on my slack ping, as you were mentioned as someone who might be able to look into this bug.

[2022-01-11 01:00] fullofcaffeine commented on #59846
This should be fixed in 12.3.2, which has just been released on WPCOM.

[2022-01-11 01:00] #59846 closed, assigned to nobody

[2022-01-11 01:13] autumnfjeld commented on #55599
Good for new Ganonites. :)

[2022-01-11 01:26] glendaviesnz commented on #59560
Thanks for reporting this. We were unable to replicate this at all across various browsers and different installs. It is very strange that this happens to just a very small number of users. For some reason it appears that the toggle that turns the notice off after the first display is not working, but because we can't replicate it, it is hard to come up with a reliable fix.

Given that number of u

[2022-01-11 03:43] lsl commented on #57423
Two more
- https://github.com/Automattic/wp-calypso/pull/59876
- https://github.com/Automattic/wp-calypso/pull/59880

[2022-01-11 04:07] KokkieH commented on #59570
I've followed up with the forum threads to ask them to try again.

[2022-01-11 05:18] roo2 commented on #59924
Oh dear, it looks like I introduced this in D71479-code, by calling `check_theme_switched` when we run theme setup.
When I reverted that diff in my sandbox I no longer saw the issue.

I also tested with the `es` spanish locale and confirmed that this cannot be reproduced for that locale. It actually seems to happen with the "English" language selected but _not_ with "English (UK)" selected ( in `/

[2022-01-11 05:23] lsl commented on #59483
TBD Will need to cover the new address / business info steps soon too.

[2022-01-11 05:25] Robertght commented on #59787
Another case in #4676859-zen

[2022-01-11 05:28] lsl commented on #59483
Video of flow available here: p7DVsv-dp5-p2

[2022-01-11 05:46] adelineyaw commented on #59388
I'm getting the same results on Android, reported here: 4676726-zen

[2022-01-11 06:17] SaxonF commented on #59397
@cpapazoglou while looking at this I also started exploring what it would look like with monthly/yearly more closely mapped to the price itself.

Using a toggle
![image](https://user-images.githubusercontent.com/1072756/148890985-4758e78d-33cb-4299-a4a5-28e2b85f2fe1.png)

Using a switch
![image](https://user-images.githubusercontent.com/1072756/148890782-2954fb6e-5f34-43d6-a915-22c21db50f26.png)

[2022-01-11 06:20] SaxonF commented on #59752
@cpapazoglou as mentioned in Slack I think for now we could remove ratings within the featured list as per you suggestion but keep them on the single plugin page. We should think more deeply about this as part of the featured plugin section iteration coming up.

[2022-01-11 07:00] SaxonF commented on #58293
@cpapazoglou as we discussed in our conversation yesterday we are trying to put more emphasis on our system this year. While we are revisiting the search placeholder it might also be a good time to revisit the page breadcrumbs so that they align with other parts of Dotcom (e.g. use the same component). Once small change you'll notice is that all breadcrumbs are the same size.

![image](https://use

[2022-01-11 07:39] inaikem commented on #59846
Thanks @fullofcaffeine.

Cc @Automattic/dotcom-pa-group to start the bulk reply process 🙏

[2022-01-11 07:42] kuropixel opened #59936 "Twitter block not embedding timeline on Simple and Atomic sites"
### Quick summary

A user reported that their Twitter widget (non-legacy) was not working.

On both my test sites simple and atomic, I was not able to embed a timeline using the Twitter block.

My test embed URL was https://twitter.com/wordpressdotcom/

I tried both the widgets.php method and going through the customizer widgets section, both not working.

https://user-images.githubusercontent.com

[2022-01-11 08:32] formosattic opened #59937 "Payments Blocks: users with expired eligible plan can no longer manage Stripe account"
### Quick summary

Based on a user report.

After having removed the Premium plan, the Premium Content subscription was still billing people.

But since the Premium plan was removed, they no longer had access to disconnect the Stripe connection.

### Steps to reproduce

I haven't reproduced this myself.

1. Create site with Premium Content
2. Connect to Stripe account
3. Use a test card to subscri

[2022-01-11 08:59] formosattic commented on #58835
On a Simple site, also ran into error 500 (same as in #58742) when visiting the widgets page. The page is just blank, but console shows error.

![image1](https://user-images.githubusercontent.com/15944096/148911434-8e110a7b-1a90-4c37-8184-e4645dd80f2f.png)

Widgets still load ok in Customize, so as workaround, can create widgets in a page draft, then paste the blocks via Customize.

Ticket: 467661

[2022-01-11 09:13] cpapazoglou commented on #57762
After preparing the the queries, let's connect with the Data team so that they prepare a scorecard for better visualization. We can later show Marketplace progress / performance by embedding this scorecard in our reports.

Scorecards:
- Marketplace gross sales
- Marketplace active users
- Marketplace active sites
- Number of Marketplace items sold

[2022-01-11 09:16] cpapazoglou opened #59938 "Marketplace: Make sure we are fetching / showing the latest data from woocommerce.com"
[Subscriptions extension](https://woocommerce.com/products/woocommerce-subscriptions/?quid=006223cb39b0c2ae5526ae8b4710a712) used to contain the following text

The text has been removed from the [woocommerce.com](https://woocommerce.com/products/woocommerce-subscriptions/?quid=006223cb39b0c2ae5526ae8b4710a712) page but it still displays in [wordpress.com](https://wordpress.com/plugins/woocommerce

[2022-01-11 09:18] arthur791004 commented on #59229
Note that we have two ways to use the premium themes

* Access premium themes for FREE with a premium or above plan
* Pay for the specified theme

![image](https://user-images.githubusercontent.com/13596067/148914635-5db1614e-0225-4f1a-bb30-624c5a3d4a73.png)

[2022-01-11 09:40] jeherve commented on #59936
This appears to be a long-standing issue with Twitter embeds in WordPress. I'll close this issue as duplicate of this Core ticket:
https://core.trac.wordpress.org/ticket/54789

[2022-01-11 09:40] #59936 closed, assigned to nobody

[2022-01-11 10:09] formosattic opened #59941 "Spacer block: atomic only, "This block has encountered an error and cannot be previewed.""
### Quick summary

On atomic sites with Gutenberg active, Spacer block crashes in the editor with notice:

`This block has encountered an error and cannot be previewed.`

The Spacer block is still present in the live view though.

### Steps to reproduce

1. On atomic site with Gutenberg active
2. Add a Spacer block

### What you expected to happen

![image2](https://user-images.githubusercontent.c

[2022-01-11 10:18] inaikem commented on #59941
Closing in favour of https://github.com/Automattic/wp-calypso/issues/59846

[2022-01-11 10:18] #59941 closed, assigned to nobody

[2022-01-11 10:18] inaikem commented on #59846
Via @formosattic: 4676893-zd-woothemes

[2022-01-11 10:45] cpapazoglou opened #59943 "Marketplace: handle disconnected wpcom jetpack sites"
If a wpcom site is unreachable or the jetpack connection is broken, we will need to figure out which strategy we will follow since:
1. we won't have any data about currently installed plugins
2. wporg plugin installs will fail
3. wpcom plugin checkouts will result in the plugin being installed (since we are depending on Atomic jobs there) but plugin will be shown as not installed again due to Jetp

[2022-01-11 11:13] gcsecsey commented on #59938
I think that we could also set lower stale times (eg. 6 hours) to make sure that even non-critical data is updated more regularly. This may not be an option though, if the woocommerce.com API's usage limits don't allow it.

On implementing a cache busting strategy, I think we would need to re-fetch the query only when a particular set of the non-critical fields are updated (description, rating, et

[2022-01-11 12:45] kriskorn opened #59944 "Enhancement: Customized 500 Error Page"
### Issue

At this moment we show the below error message when an Atomic site gets a 500 error:

![wpcom-500-error](https://user-images.githubusercontent.com/12064241/148940214-a279a0d2-6450-45db-8d7c-3210ca8a1f62.png)

The link goes here - https://wordpress.org/support/article/faq-troubleshooting/ and it does not help our users in any way.

---

### Solution

Instead, we should be linking to this

[2022-01-11 12:58] cpapazoglou commented on #57762
It would also be great aggregating which checkouts did occur a direct business plan upsell? In that case, the business plan will be included in the same receipt id as `wp-bundle-business-[interval]`

[2022-01-11 13:08] carinapilar opened #59945 "Checkout: Error When Applying Coupon on Expired Domain"
### Quick summary

The checkout shows a 500 error if you click to apply a coupon when trying to renew an expired domain.

### Steps to reproduce

1. Add to the checkout an expired domain
2. Add to the account's SA some paid credits
3. Add a discount coupon to the checkout

### What you expected to happen

To either apply the coupon, or show that it's not valid.

### What actually happened

It show

[2022-01-11 13:41] cpapazoglou commented on #59938
Demoting this to normal as:
- WPCOM cache has already cleared `https://public-api.wordpress.com/wpcom/v2/marketplace/products/902`
- Calypso cache impacts only users who have already seen that text which got cached. Deleting the `query-state-[siteId]` from the indexed db results in fetching the new (updated) data
![SS 2022-01-11 at 15 41 20](https://user-images.githubusercontent.com/12430020/14895

[2022-01-11 14:20] arcangelini commented on #52728
Followed up in D69591-code

A change has been posted to core and we should be able to update WPCOM with a similar solution as long as it is safe for our platform.

[2022-01-11 14:51] kriskorn opened #59947 "Feature Request: Application Passwords for Atomic Sites"
In order to connect Atomic sites to third-party services, users can create an _Application Password_ in `/wp-admin/profile.php`.

![wp-admin-application-password](https://user-images.githubusercontent.com/12064241/148960666-58e3dc07-97a2-4a59-9f78-625448b5e6d0.png)

To make this look better and more intuitive, we could move this to the **Hosting Configuration** page like this:

![app-password-host

[2022-01-11 15:12] kspilarski opened #59950 "Marketplace: Plugins Automatically Removed from Cart"
### Quick summary

After exiting the checkout page, then waiting a while or clicking on the cart icon in the masterbar, the plugins previously added to cart are automatically removed.

### Steps to reproduce

1. go to Plugins
2. select a plugin to purchase
3. click Purchase and activate and you'll be taken to the checkout page
4. leave the checkout page, wait a while or manually click cart in the

[2022-01-11 15:26] sixhours opened #59951 "Premium themes: Manually deploy Headstart translations"
We're waiting on finished translations from Linguine for the new premium themes. Once those are ready, someone with a sandbox will need to deploy the translations.

More details on process here: pdgK6S-qu-p2#comment-762

Eventually this process will be automated, but for launch, we'll probably need to do the deploy manually.

[2022-01-11 16:07] DavidRothstein commented on #59774
Note: This is specifically for the page shown after a pending payment (e.g. 3DS).

[2022-01-11 16:08] nbloomf commented on #59774
Here's a screenshot of what the page looks like with the masterbar:

<img width="992" alt="Screen Shot 2022-01-05 at 12 06 52 PM" src="https://user-images.githubusercontent.com/9310939/148978737-2e8f444f-d99d-4d48-9f2e-d2cd4aa278d6.png">

[2022-01-11 16:11] DavidRothstein commented on #59773
Discussion: This is reproducible from the new site signup flow specifically.

[2022-01-11 16:15] DavidRothstein commented on #59774
Related to https://github.com/Automattic/wp-calypso/issues/45077 (which even has a design).

[2022-01-11 16:19] Thelmachido commented on #59846
Another report here: 33598836 -hc

[2022-01-11 16:52] sirbrillig commented on #59773
This is probably the same bug that caused me to revert the original masterbar cart PR. You can read about it here: https://github.com/Automattic/wp-calypso/pull/59732

[2022-01-11 17:25] ianstewart commented on #58293
It would be good to add the old "learn more" explainer back as well. Example of how this works now with the Domains screen.

![image](https://user-images.githubusercontent.com/545779/148991450-be7cf030-c5e6-4bed-996d-daae64e5c9aa.png)

[2022-01-11 17:26] sixhours commented on #59153
`premium/blockbase-premium` theme created and working in D72750-code, we can close this! 🥳

[2022-01-11 17:26] #59153 closed, assigned to mreishus

[2022-01-11 17:39] escapemanuele opened #59955 "Welcome Tour: usePrefetchTourAssets refactor"
### Details

[usePrefetchTourAssets](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/hooks/use-prefetch-tour-assets.tsx) needs to be refactored to take into consideration future tour-kit variants.
Things to work on:
- `imgSrc` will be optional, because a tour could be without images. It'd currently break our ho

[2022-01-11 17:41] getdave commented on #59595
Actually you can delete Menus from the Nav block interface. I've had this question a few times so I made [a video to document it](https://www.youtube.com/watch?v=cWd1EXYhMQY&t=60s).

[2022-01-11 17:42] msilbers commented on #57812
reported in 27486484-hc and I could reproduce it using Mac OSX 11.4 and Chrome Version 96.0.4664.110

[2022-01-11 17:43] metabreakr opened #59956 "Blockbase: social menu links do not open in new tab even if link target is set"
### Quick summary

Once a social menu has been set, and the link target has been set to "Open link in a new tab", the menu links still open in the same browser tab.

### Steps to reproduce

1. Create a new social menu
2. Add custom links to Facebook, Twitter, etc.
3. Ensure that the links are set to "Open link in a new tab"
4. Visit site and click the links
5. Observe that the links do not open in

[2022-01-11 17:43] mrsjaved commented on #53451
Another request here:
4673733-zd-woothemes

[2022-01-11 19:13] Gustavo-Hilario commented on #47659
Hey, y'all 👋

I have another report here: #4678364-zen

I tested this issue with some colleagues, and we could reproduce it on several test sites. We were using Google Chrome and Firefox. Third-party cookies were enabled. Can you please check and advise?

[2022-01-11 19:21] brinbliss commented on #57369
4678742-ZD using the Alves theme. Page Optimize -> disabling Optimize Concatenate scripts and Concatenate styles restores AMP menus.

Seems to be related to #56927 as well.

[2022-01-11 19:28] masperber commented on #59560
Another report here: 28749386-hc

I tried to deactivate and activate CoBlocks as another HE suggested, but this didn't resolve the issue.

[2022-01-11 20:05] worldomonation opened #59960 "Block Widget: blank screen shown if in mobile viewport size"
### Quick summary

The Block Widget editor screen (Appearance > Widgets) is a blank, white screen if in mobile viewport.

### Steps to reproduce

1. log in.
2. navigate to Apparance > Widgets.
3. either resize browser window to a narrow size (simulating mobile viewport) or use the built-in profiles on Firefox/Chrome.

### What you expected to happen

Block Widget editor is resized for mobile viewp

[2022-01-11 20:28] DavidRothstein opened #59961 "[Bug]: Earn Tab: Existing subscribers can't be viewed or managed after disconnecting a Stripe account"
### Quick summary

After disconnecting a Stripe account, you can't sell new recurring payments subscriptions, but it has no effect on your existing subscribers.  Therefore, you should still be able to see a list of subscribers in Calypso, and manage them (for example, cancel their subscriptions per https://wordpress.com/support/wordpress-editor/blocks/payments/#canceling-subscriptions-and-issuing-

[2022-01-11 20:37] sirbrillig commented on #59950
cc @cpapazoglou I imagine this has to do with D72599-code

[2022-01-11 20:49] ianstewart commented on #59752
Plus one on the short-term solution and long term suggestion @SaxonF .

[2022-01-11 20:50] enejb commented on #58511
I reopened this issue since it is still broken for me.

See
https://user-images.githubusercontent.com/115071/149019129-4742936e-6df3-4d5f-ac37-ef0a7c117ca9.mp4

In this demo, I used the browser back button which takes me to `google.com` since that was the previous page that I was on before I opened up wordpress.com.

The same can be replicated if you use the back button on the desktop.
The fix her

[2022-01-11 20:59] worldomonation opened #59964 "Playwright: do not run Gutenberg steps in Calypso suites"
### Details

We've recently had instances where the Pre-Release tests flipped to failing due to issues caused by Gutenberg version upgrades.

- https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Pre_Release/7227129
- https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Pre_Release/7213984

While this is useful, Pre-Release tests is not the appropriate place to detect Gutenb

[2022-01-11 21:21] sixhours opened #59966 "Theme Showcase: Add badge indicating premium themes for premium or greater plans"
The Showcase does not highlight premium themes as premium once you've upgraded to a Premium or higher plan. It would be nice to add an indicator to show the value add, even post-upgrade. This may need some design thinking.

Free plan:

<img width="1184" alt="Screen Shot 2022-01-11 at 4 31 42 PM" src="https://user-images.githubusercontent.com/2124984/149024788-51be0861-12f7-4116-b137-647f66d3fdd3.p

[2022-01-11 21:53] #59729 closed, assigned to blackjackkent

[2022-01-11 21:59] mreishus commented on #58791
This is no longer an issue.

[2022-01-11 21:59] #58791 closed, assigned to mreishus

[2022-01-11 22:46] sirbrillig commented on #59950
It may be that when the cart item is added, the guard added in D72599-code works correctly, but then when the cart refreshes (eg: when clicking the cart icon), the `load` functionality of the cart endpoint does not correctly understand that the business plan is in the cart and removes the marketplace products. This would not show an error because way that the `load` functionality validates its pro

[2022-01-11 23:49] SaxonF commented on #59397
One more and I think this is the direction we'll go in after chatting with the design team
![image](https://user-images.githubusercontent.com/1072756/149039243-9a57d1d2-c3af-4955-9ede-a0ddc81463df.png)

[2022-01-11 23:50] sirbrillig commented on #59773
I started trying to create tests to reproduce this bug in D72869-code but I'm a little stuck. If someone else gets to this before me, feel free to take over.

[2022-01-11 23:52] sirbrillig commented on #59950
I started trying to create tests to reproduce this bug in D72869-code but I'm a little stuck. If someone else gets to this before me, feel free to take over.

[2022-01-12 01:03] annbingle commented on #58835
Reported here as well 19326339-HC . This is a simple site.

[2022-01-12 01:27] #59560 closed, assigned to nobody

[2022-01-12 02:24] alaczek commented on #59966
While we're at it, could we also fix some (glaring) design issues?

The star and the price and aligned:
![image](https://user-images.githubusercontent.com/4550351/149051859-1fab653a-c6bf-4486-a2a4-6267bf9aa0f0.png)

Both the star and the price are unreadable with active theme selection styling:
![image](https://user-images.githubusercontent.com/4550351/149052419-49f44701-0801-4ed1-8946-e3508defef6

[2022-01-12 02:45] edwinho89 commented on #59846
4673091-zd-woothemes

[2022-01-12 03:15] kosiew opened #59972 "Customer sees duplicate sites on their account"
### Quick summary

See #4678481-zen
Customer reports they see duplicate sites in their account

### Steps to reproduce

SU to user account.

### What you expected to happen

See only 1 site

### What actually happened

There are duplicate sites

### Context

_No response_

### Simple, Atomic or both?

Simple

### Theme-specific issue?

_No response_

### Browser, operating system and other notes

[2022-01-12 03:33] nagpai commented on #53626
#33077597-hc

Turn it on and turn it off... worked.

[2022-01-12 03:56] rw-ye commented on #52728
Another report here: 4673233-zd-woothemes

[2022-01-12 05:11] Greatdane commented on #59759
Closing in favor of https://github.com/Automattic/wp-calypso/issues/59654

[2022-01-12 05:11] #59759 closed, assigned to nobody

[2022-01-12 05:31] autumnfjeld commented on #59229
@arthur791004 Nice find!!!   @ianstewart was helpful in explaining why we should go with only offering upgrade to a paid plan, rather than offering to pay-per-theme: see slack convo p1639588915168600/1639587071.165900-slack-C029SB8JT8S

But maybe we could experiment with pay-per-theme pricing in a future iteration: p1639589182170200/1639587071.165900-slack-C029SB8JT8S.  We could measure if a user

[2022-01-12 06:34] donalirl opened #59975 "Replace SSO Jetpack Doc with WordPress.com Doc"
### Quick summary

On WordPress.com atomic sites, the WordPress.com Log In settings (SSO) links to a Jetpack doc. It is more helpful to link to the WordPress.com doc because this contains information specific to a .com website.

### Steps to reproduce

1. Go to Settings > Security
2. Under WordPress.com log in, click the (i) icon.
3. View the Learn More and Privacy Information links.

"Learn more"

[2022-01-12 06:36] Greatdane commented on #59846
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-01-12 06:44] donalirl opened #59976 "Atomic: Update Doc Links on Settings > Performance"
### Quick summary

There are three "Learn more" links under Settings > Performance on atomic sites. It would be more helpful to link to the WordPress.com doc because this contains information specific to a .com website.

### Steps to reproduce

1. Go to Settings > Performance on an atomic site.
2. Click the (i) icon next to three settings: site accelerator, lazy load images, fast ad-free video hos

[2022-01-12 06:52] sirbrillig commented on #59950
This should be fixed by D72875-code

[2022-01-12 06:55] donalirl opened #59977 "Update Doc Links on Settings > Writing"
### Quick summary

There are several "Learn more" links under Settings > Writing on both simple and atomic sites. It would be more helpful to link to the WordPress.com doc because this contains information specific to a .com website.

### Steps to reproduce

1. Go to Settings > Writing
2. Click the (i) icon next to the various settings
3. Note that most of the Learn more links lead to a doc on Jet

[2022-01-12 08:07] Robertght opened #59978 ""Filter by" section on the Activity log page has misaligned elements"
### Quick summary

Right now if we check the Activity log and pick a filter, we can see some misalignment going on:

![image](https://user-images.githubusercontent.com/6737345/149087820-05e7db92-aec8-4f1e-9824-f7c0ac1c6d89.png)

Also the X button appears to be not part of the filter(?)

### Steps to reproduce

1. Access the Jetpack > Activity log on an Atomic site
2. Select an activity type

### W

[2022-01-12 08:36] arunsathiya commented on #59950
I reproduced the same issue when testing something else:

https://user-images.githubusercontent.com/18581859/149092340-c913cdb7-2a4b-45b2-913b-ef595ecd86a6.mov

[2022-01-12 09:37] cpapazoglou commented on #57762
We shall not forget filtering out a12s from our queries.

[2022-01-12 12:21] roo2 commented on #59924
ok, Via a painful process of elimination, I think I've narrowed this down to being caused by the 'headstart_delete_posts' async job.

using `sandbox_async_job` I confirmed that if the job is not run, the issue will never happen (tested 10 times)
When the job is run manually in my sandbox the issue happens (maybe 1/3 times)

[2022-01-12 12:25] chriskmnds opened #59981 "Tour Kit: Cleanup - refactor Popper clipDimensions/styles checks"
Do we really need the ` clipDimensions && ` check or can we just do`...clipDimensions`? `...null` should be fine.

_Originally posted by @tyxla in https://github.com/Automattic/wp-calypso/pull/58854#discussion_r782103075_

[2022-01-12 13:32] AtrumGeost commented on #57036
Got another user here where they were getting the yellow highlight only in the Reader:

4679379-zd-woothemes

Replacing the <mark> tags with <span> helped solve the issue for this particular case.

[2022-01-12 14:04] nickpagz opened #59985 "[Bug]: Unable to close Google Photos or Pexels modal Windows while editing content"
### Quick summary

It is currently impossible to close the modal/popup windows when inserting an image in the editor if you choose Google Photos or Pexels Free Photos to insert an image.

### Steps to reproduce

1. Start a new page or post.
2. Insert an image block.
3. Click on "Select Image".
4. Choose Google Photos or Pexels Free Photos.
5. Try to close the modal window by clicking on the "close

[2022-01-12 14:18] khushbooag4 commented on #59944
I want to work on this issue??

[2022-01-12 14:31] filipanoscampos commented on #59787
Another case here 4681038-zd-woothemes with the Hever theme.

[2022-01-12 14:37] eduardozulian opened #59987 "Header Image: no option to choose from Pexels or Google Photos"
### What

_This was initially reported as a feature for P2020 but moved here_

When trying to add a custom Header Image to a P2, I realized there's no way to choose one from an open library like Pexels.

Steps to reproduce:

1. Open the Customizer
2. Click on Header Image
2. Click on Add New Image

I expected to have the same Add Image options we offer in the Image Block:

- Pexels
- Google Photos

[2022-01-12 15:15] sixhours opened #59988 "Theme Showcase: Remove forum references under Support tab for premium themes"
We won't have individual support forums for these themes, so this reference should be removed or re-pointed to the general support forums:

<img width="652" alt="Screen Shot 2022-01-12 at 10 10 32 AM" src="https://user-images.githubusercontent.com/2124984/149167936-abc9f6a9-c825-4ca5-b4bf-2318d52e58e7.png">

[2022-01-12 15:43] sixhours opened #59989 "Theme Showcase: Contact Us option does not show for Atomic sites"
Simple sites show an option to Contact us under the Support tab on individual theme screens:

<img width="825" alt="Screen Shot 2022-01-12 at 10 41 25 AM" src="https://user-images.githubusercontent.com/2124984/149173790-0ebf7a27-7b28-43f5-8d6c-e5afa182ff13.png">

But Atomic sites do not:

<img width="1039" alt="Screen Shot 2022-01-12 at 10 43 04 AM" src="https://user-images.githubusercontent.com/2

[2022-01-12 15:55] sixhours opened #59991 "Theme Showcase: Don't show "Try & Customize" in Live Preview for block-based themes"
Themes that primarily use blocks to make up their homepage content have a "How do you want to use [Theme Name]?" dialog that appears in the Showcase when you go to Activate it:

<img width="782" alt="Screen Shot 2022-01-12 at 10 57 29 AM" src="https://user-images.githubusercontent.com/2124984/149175244-9d761f4f-8b60-4137-854f-2a7d5cd8b457.png">

Using the Customizer to change their site will not w

[2022-01-12 15:58] #59752 closed, assigned to cpapazoglou

[2022-01-12 16:07] mreishus commented on #59989
Looks like it was added here:
https://github.com/Automattic/wp-calypso/pull/11294/files#diff-7877a61be37fa221346040d61b2baaf95670966105578f6625760f3c57b0b0c9R357-R358

It excludes Jetpack sites, but since Atomic sites are also technically Jetpack sites, those are also excluded.

[2022-01-12 16:10] sixhours opened #59993 "Theme Showcase: Vertical alignment of star icon and price needs design tweaks"
<img width="268" alt="Screen Shot 2022-01-12 at 11 09 45 AM" src="https://user-images.githubusercontent.com/2124984/149177980-699594cf-18ef-4312-9f1c-f119dc1de106.png">

The price and star icon are vertically off center here. The star also looks off center within its circle.

**To reproduce**

1. Visit the Theme Showcase with a free simple site
2. Make sure the `?flags=themes/premium` flag is pres

[2022-01-12 16:23] sixhours opened #59996 "Theme Showcase: Homepage activation options unavailable after purchasing premium theme"
When activating a new block-based theme on the WP.com simple site, you have the option to choose how you want your homepage to work:
<img width="784" alt="Screen Shot 2022-01-12 at 11 24 59 AM" src="https://user-images.githubusercontent.com/2124984/149180404-dbf5bae7-2203-4ed6-9f88-a755901fabb2.png">

However, when you purchase an individual premium theme, the theme is activated on your site autom

[2022-01-12 16:30] sixhours opened #59998 "Premium themes: Billing receipt email does not specify premium theme name"
Upon purchasing an individual premium theme, you get a billing receipt email like this one:
<img width="642" alt="Screen Shot 2022-01-12 at 11 30 14 AM" src="https://user-images.githubusercontent.com/2124984/149181541-aadb5353-aa37-4f05-a21d-cbd6e9213dfd.png">

It would be nice if the email specified which premium theme(s) you've purchased by name rather than the generic `Premium theme` line.

[2022-01-12 16:43] sirbrillig commented on #59950
Deployed the above diff. Hopefully this should be fixed now!

[2022-01-12 16:43] #59950 closed, assigned to cpapazoglou

[2022-01-12 16:44] sixhours opened #59999 "Premium themes: Try & Customize can lead to infinite loop between cart and Customizer"
Previewing a premium theme and starting the checkout process, then quitting the checkout process, can leave you going back and forth between the Customizer and checkout, with no way to get out except to open a new tab/window.

**Video demo:**

https://user-images.githubusercontent.com/2124984/149184496-30deecc5-c2b9-43b1-be6e-d0fceee8ec05.mov

**Steps to reproduce:**

1) On a site with the free pl

[2022-01-12 16:48] fullofcaffeine commented on #59618
Next one: https://github.com/Automattic/wp-calypso/issues/59840.

[2022-01-12 16:48] #59618 closed, assigned to nobody

[2022-01-12 17:22] abcrsol commented on #52728
Another here: zd-4679947

[2022-01-12 17:36] sixhours commented on #59320
Confirmed this was fixed by #59006

[2022-01-12 17:36] #59320 closed, assigned to nobody

[2022-01-12 17:59] sixhours commented on #59712
Doc is up here: PNEWy-eBM-p2

[2022-01-12 17:59] #59712 closed, assigned to sixhours

[2022-01-12 18:00] sixhours commented on #59674
This was closed as part of D72411-code

[2022-01-12 18:00] #59674 closed, assigned to sixhours

[2022-01-12 18:23] cometgrrl commented on #59960
I was able to reproduce this on my iPhone (using Chrome), the screen is unusable.

[2022-01-12 18:39] obenland commented on #59481
Fixed in D72489-code.

[2022-01-12 18:39] #59481 closed, assigned to retrofox, DustyReagan

[2022-01-12 19:39] obenland commented on #59833
Fixed in #59876.

[2022-01-12 19:39] #59833 closed, assigned to DustyReagan, Rolilink, allilevine

[2022-01-12 20:36] blackjackkent commented on #59808
@kwight @ollierozdarz I've done a considerable amount of digging and CSS-wise, this is harder to achieve than it seems. The only reliable, cross-browser way that seems to be available is a mechanism that involves absolutely positioning the ellipsis at the end of the container. This works consistently, but does have the downside of adding some extra spacing depending on the length of the words invo

[2022-01-12 20:53] kwight opened #60007 "Videos UI: The UI does not load at the top if called from a scrolled-down position."
If a user needs to scroll down to activate a videos UI, the UI will load at that scrolled-down point – instead, it should always load at the top.

![2022-01-12 12 33 42](https://user-images.githubusercontent.com/349751/149219747-7434330d-e4b8-4b3e-a4ef-4f7b3ba95ea9.gif)

[2022-01-12 20:53] sixhours opened #60008 "Kerr: No demo URI/link in Showcase"
The Kerr theme has no link to the demo site in the Theme Showcase; in the API data,`demo_uri` is `false`.

<img width="1490" alt="Screen Shot 2022-01-12 at 3 54 07 PM" src="https://user-images.githubusercontent.com/2124984/149222500-4b68a2e0-23a9-4996-80da-fdbea7c89153.png">

I thought it might have been a case of an improperly set site sticker, but I've fixed the sticker and it's still not appear

[2022-01-12 21:00] nicolynramos commented on #59886
Another case on 4682409-zen on Zoologist theme, however, no error message is shown- changes are made but do not save.

[2022-01-12 21:04] #58748 closed, assigned to chriskmnds

[2022-01-12 21:04] #58644 closed, assigned to chriskmnds, escapemanuele

[2022-01-12 21:09] mreishus commented on #59993
Gave it a try here but I'm not really sure about the correct approach: #60009
Open to suggestions / revisions etc. Note that this does not address the star within the circle

[2022-01-12 21:30] mreishus commented on #58793
I don't think we've seen any crashes on the theme info page in quite a while, and we have hidden premium themes from displaying from the showcase on standalone jetpack sites.

[2022-01-12 21:30] #58793 closed, assigned to nobody

[2022-01-12 21:49] mreishus commented on #59989
Fixed via #59995

[2022-01-12 21:49] #59989 closed, assigned to mreishus

[2022-01-12 21:49] mreishus commented on #59988
Fixed via #60000

[2022-01-12 21:49] #59988 closed, assigned to mreishus

[2022-01-12 22:13] ylevental opened #60012 "Orange dot on the notification bell always appears, even if there are no notifications"
#### Steps to reproduce

1. I am not sure, it only seems to work on certain accounts
2. I tried clearing cache, but it didn't work.  The problem appears on multiple browsers
3.  My wordpress.com username is yuvallevental

#### What I expected
I read all of the unread notifications, so there should have been no dot

#### What happened instead
The orange dot appeared anyway

#### Browser / OS versio

[2022-01-12 22:15] worldomonation commented on #59960
@Automattic/team-calypso I was informed that Team Calypso owns this feature - could I request someone look into this?

[2022-01-12 22:18] ylevental opened #60013 "[Bug]: Orange dot on the notification bell always appears, even if there are no notifications (Also see update)"
### Quick summary

The bug only appears on certain accounts.  I tried clearing cache, but it didn't work. The problem appears on multiple browsers.  My wordpress.com username is yuvallevental

**Update:** Now the orange dot is finally gone, but I am not sure what happened.  It appeared on multiple browsers.

### Steps to reproduce

1. I log in and see the orange dot.
2. I click on the orange dot a

[2022-01-12 22:18] #60012 closed, assigned to nobody

[2022-01-12 22:56] worldomonation commented on #59964
Closed by #60004.

[2022-01-12 22:56] #59964 closed, assigned to nobody

[2022-01-12 23:46] donalirl commented on #38676
#33627499-hc

[2022-01-13 00:37] glendaviesnz commented on #59560
The fix at https://github.com/WordPress/gutenberg/pull/37842 has been merged, so this issue should be resolved once the next release of Gutenberg gets deployed.

[2022-01-13 01:31] roo2 commented on #59924
ok, I've tracked down the exact spot where there is a race condition:
 * There is a 'before_delete_post' hook that resets `page_on_front` if the deleted post was the page on front (in the `headstart_delete_posts` thread).
 * Headstart changes the `page_on_front` (in the main thread)
 * When the delete hook is triggered for the old page, it is possible that the "is page_on_front" check will pass, t

[2022-01-13 01:34] worldomonation opened #60014 "Pay with Paypal: navigation confirmation dialog is triggered constantly"
### Quick summary

With the `Pay with Paypal` block added to the Gutenberg editor, navigating away form the editor in any form (return to dashboard, visit published page, etc) **consistently** triggers a navigation confirmation dialog.

### Steps to reproduce

1. start new post.
2. add the `Pay with Paypal` block.
3. fill out required details (name, price, email)
4. publish post.
5. once published

[2022-01-13 02:03] jjchrisdiehl commented on #48334
PR #52890 is merged and should resolve this issue, closing issue.

[2022-01-13 02:03] #48334 closed, assigned to fditrapani

[2022-01-13 02:08] jjchrisdiehl commented on #44188
Payton's PR #52890 has been merged, this can be considered 'fixed' for now. If adding a secondary notice to the sidebar is desired then please reopen.

[2022-01-13 02:08] #44188 closed

[2022-01-13 02:17] joweber123 opened #60015 "Theme Kerr - Subscribe Block Font Color"
### Quick summary

On the homepage demo of the Kerr theme, the subscribe block, the font is black and stays black even when inserting text.  This makes it hard to read.

![Markup on 2022-01-13 at 11:11:24](https://user-images.githubusercontent.com/24914028/149253474-44125b05-154e-41a7-8e17-642ba2305e8b.png)
k

### Steps to reproduce

1. Go to kerrdemo.wordpress.com and scroll down to the subscribe

[2022-01-13 02:27] jordesign commented on #59993
I came across this in testing too - and noted the alignment of the star _in_ the circle. I imagine that it is the SVG trying to render in pixels that is throwing it off?
<img width="477" alt="Screen Shot 2022-01-13 at 1 15 15 pm" src="https://user-images.githubusercontent.com/1842363/149254918-6b09a032-6473-49d4-a01b-476c1b543052.png">

[2022-01-13 04:11] mdtanjid0 commented on #57812
4681337-zen, I was not able to replicate the issue, but I have a couple of users today facing this issue.

[2022-01-13 04:11] arthur791004 commented on #58763
Close it as https://github.com/Automattic/wp-calypso/pull/59645 is shipped!

[2022-01-13 04:11] #58763 closed, assigned to arthur791004

[2022-01-13 04:21] edwinho89 opened #60016 "Blockbase theme: Multiple Levels of Submenu Appearing behind First Level Submenu"
### Quick summary

When creating multiple levels of submenus under Blockbase theme, the first submenu displays under parent menu as expected.

However, subsequent level of submenus appear behind submenus instead. Meaning, Submenus of submenus appearing on the left hand of first submenu.

https://user-images.githubusercontent.com/34882260/149257049-58712a9e-4a58-4924-bf75-77183b5373c7.mp4

### Step

[2022-01-13 04:58] Greatdane commented on #59652
Not sure if this is like an API issue with Google or just a Calypso Billing error.

CC: @arunsathiya (email lead)

[2022-01-13 05:02] #59857 closed, assigned to lsl, Rolilink, allilevine

[2022-01-13 05:07] #58322 closed, assigned to JulianBustamante, gcsecsey

[2022-01-13 05:10] Greatdane commented on #59650
I actually fixed this and emailed back the user. Not sure what the issue was, but removing the legacy widget (and the column block it was in) and adding it again seemed to fix it.

In the process, I did get an error, however. Pasting here for prosperity;

[code]

[2022-01-13 05:10] #59650 closed, assigned to nobody

[2022-01-13 05:17] nagpai commented on #57812
#29915099-hc
Safari browser with the usual allergy for cookies.
https://www.whatismybrowser.com/w/SEA6TDZ

Worked after disabling the option `block all cookies` and ` prevent cross site tracking`

[2022-01-13 05:30] Greatdane commented on #59777
Closing in favor of https://github.com/Automattic/themes/issues/5302

[2022-01-13 05:30] #59777 closed, assigned to nobody

[2022-01-13 05:36] gavande1 commented on #59658
Deployed r238080-wpcom

[2022-01-13 05:36] #59658 closed, assigned to gavande1

[2022-01-13 05:38] Greatdane commented on #59801
Can confirm on firefox only.

Video;

https://user-images.githubusercontent.com/5075840/149272057-3dc7efbb-8af5-4a11-a8ae-d881b50a9d96.mp4

[2022-01-13 05:44] Greatdane commented on #59937
Another report: 4674199-zd-woothemes

[2022-01-13 06:27] KokkieH commented on #53248
New report in https://wordpress.com/forums/topic/mapbox-token/?view=all, and also able to replicate it myself.

[2022-01-13 07:09] Greatdane opened #60019 "Block-Based Themes: Color Customizer is not saving the color."
### Quick summary

On block-based themes (tested Quadrant, Arbutus and Zoologist), if you go to **Appearance → Customize → Colors**, change the color and save the settings, the new colors are not actually saved. Reloading the page will revert back to the old colors.

Video:

https://user-images.githubusercontent.com/5075840/149282346-c1512dd0-bcb9-4416-8a8a-7e1798e7dc28.mp4

### Steps to reproduce

[2022-01-13 07:29] donalirl commented on #56122
Closing this as connected domains show an 'active' status now in the new interface.

[2022-01-13 07:29] #56122 closed, assigned to nobody

[2022-01-13 07:39] arunsathiya opened #60020 "Gazette: Sale price is not visible because it's white on a background of white"
### Quick summary

When a WooCommerce site is using Gazette theme, the sale price is not visible because it appears in white with a background of white.

### Steps to reproduce

- Start with an Atomic site.
- Install WooCommerce.
- Add a product with actual price and sale price.
- Use Gazette theme.

### What you expected to happen

Sale price is visible.

### What actually happened

Sale price is

[2022-01-13 07:45] #59630 closed, assigned to vishnugopal, jeroenpf

[2022-01-13 07:56] arunsathiya opened #60021 "Hever: When WooCommerce's "Store notice" is enabled, footer menu is not visible"
### Quick summary

On a site with Hever theme, enabling WooCommerce's "Store notice" hides the footer menu.

### Steps to reproduce

- Start with an Atomic site.
- Install WooCommerce and add a product.
- Activate Hever theme.
- Setup footer menu.
- Enable "store notice" on the Customizer.

### What you expected to happen

Footer menu is visible.

### What actually happened

Footer menu is hidden.

[2022-01-13 07:56] gavande1 opened #60022 "Marketplace: Fix failing jobs when site doesn't have any installed plugins."
After deploying #59658, the jobs have failed few times and giving the following error:

[code]

It's related to failing job alerts in #marketplace-alerts channel

[2022-01-13 07:59] gavande1 commented on #60022
Diff created: D72959-code

[2022-01-13 08:03] Greatdane commented on #59886
Another: 4680383-zd-woothemes

[2022-01-13 08:07] Greatdane commented on #60019
Closing in favor of https://github.com/Automattic/wp-calypso/issues/59886

[2022-01-13 08:07] #60019 closed, assigned to nobody

[2022-01-13 09:27] chriskmnds opened #60024 "Tour Kit / Welcome Tour: Enable spotlight effect in production and AB test"
### Details

We currently hide the spotlight effect in the welcome tour behind a feature flag (plain URL param). It is only visible to editor requests with the `?welcome-tour-next` param. We should plan to enable "welcome-tour-next" in production and AB test the effects on the various stats we collect.

This is a good opportunity to design (code/architecturally wise) and put whatever foundation we

[2022-01-13 09:44] essleeung commented on #59570
I created a new simple site on a free plan for Quadrat Black today. When I make edits to a template, I'm still getting the `Updating failed. Invalid parameter(s): template`.

[2022-01-13 09:56] #59661 closed, assigned to gcsecsey

[2022-01-13 10:05] arunsathiya commented on #59652
Everything looks okay to me too. I am not sure why Calypso billing history would show 2 additional licenses were purchased. I'll tag @Automattic/letero for help here.

[2022-01-13 10:09] gavande1 commented on #60022
Deployed r238091-wpcom

[2022-01-13 10:09] #60022 closed, assigned to nobody

[2022-01-13 11:49] scruffian commented on #59886
This should now be fixed

[2022-01-13 11:49] #59886 closed, assigned to nobody

[2022-01-13 11:53] kriskorn opened #60031 "[Bug]: Username and Site URL Change on Atomic Sites"
### Quick summary

When changing a username on an Atomic site that **has a matching WordPress.com site URL**, then the below two options should not be shown, as an underlying site address cannot be done:

* Yes, change atsiteurl.wordpress.com to match my new username and discard the old address
* Yes, change atsiteurl.wordpress.com to match my new username and create an empty blog with the old add

[2022-01-13 12:30] cpapazoglou opened #60033 "Marketplace: check copy and data fetched from woocommerce for all paid plugins"
Let's check if data for all 6 extensions are correct

- [x] Title
- [x] Short Description
- [x] Description
- [x] Tags
- [x] Ratings
- [x] Author
- [x] Last Updated
- [x] Version

@gavande1 I think it would make sense utilizing the "fetch description" mechanism to fetch most of the above data, right? It would also help with adding more extensions. Anyway, the priority here is to catch anything not

[2022-01-13 13:11] carinapilar opened #60039 "Plugin Content Breaks Simple Site Editor"
### Quick summary

When Atomic, if you create content with the _"Stackable - Gutenberg Blocks"_ plugin, once the site is reverted the plugin's content breaks the editor.

### Steps to reproduce

1. On an AT site, install the _"Stackable - Gutenberg Blocks"_ plugin
2. Create a couple of pages using the plugin's blocks
3. Cancel the plan and revert the site
4. Edit the pages again after the site is

[2022-01-13 13:15] chriskmnds opened #60040 "Welcome Tour / WPCOM Tours: Update Tracks events to handle multiple tour specs"
### Details

We currently record a number of registered Tracks events as users interact with the Welcome Tour. These aid in AB testing the impact of changes/functionality/content we ship in the tour. These are mostly passed along as callbacks to Tour Kit (and more in the way of that as the Wpcom Tour Kit variant is extracted). We should probably rethink and update these events to enable tracking a

[2022-01-13 13:39] kettultim commented on #50132
Is there an update on this issue? Another user request here: https://woothemes.zendesk.com/agent/tickets/4683577

I can see with a simple API call that we could return the entire follower list for export but there's no current way to do this within the admin. Right now, users are limited to the 1000 follower limit and they should be able to view and/or export the full list as necessary.

[2022-01-13 15:43] kwight commented on #59808
Hm, I don't like the floating ellipsis effect myself (and adding a JS dependency seems like super overkill, particularly when we're actively trying to _minimize_ our deps in Calypso). I think I'd vote to just remove the ellipsis handling (so display the full title always), and leave it up to the judgement of the person managing the course to decide what a reasonable length title would be.

[2022-01-13 15:55] obenland commented on #57423
This is completed now. Nice work @Automattic/explorers!

[2022-01-13 15:55] #57423 closed, assigned to nobody

[2022-01-13 16:22] arcangelini commented on #59710
[It looks like the `classnames` package we use for this already handles arrays being passed to it](https://www.npmjs.com/package/classnames#user-content-usage). Would this mean we just need to update the config interface to accept either/or ⇢ `className?: string | string[];` or is there a piece that I am missing.

[2022-01-13 16:59] obenland opened #60049 "Task: Add learn more icon to Woo Install title"
### Details

It would be good to add a "learn more" explainer to the WooCommerce title. Example of how this works now with the Domains screen:

![image](https://user-images.githubusercontent.com/545779/148991450-be7cf030-c5e6-4bed-996d-daae64e5c9aa.png)

### Checklist

- [ ] Linking to https://wordpress.com/support/introduction-to-woocommerce/

### Related

_No response_

[2022-01-13 17:40] blackjackkent commented on #59808
OK, I've opened a PR with this approach at #60051 . (@ollierozdarz please let us know if you have any further thoughts on this. :) )

[2022-01-13 18:10] KirkwallDay commented on #55325
I ran into a very similar problem on the Balasana theme with Navigation blocks in the footer: 33642308-hc They didn't display vertically even though that was set, and one didn't display at all. They were nested in column blocks if that helps.

[2022-01-13 18:11] KirkwallDay commented on #58648
Ran into another instance here: 33642308-hc In this case it was inside a re-usable footer block with a column layout.

[2022-01-13 18:37] kwight opened #60054 "Videos UI: Send i18n prompt users to the support contact form."
The CTA link in our prompt is to `mailto:support@wordpress.com` – email is not the most helpful place to send them. Instead, let's send them to our support contact form at https://wordpress.com/help/contact. This should be in their native language, and also offer live chat in some instances.

<img width="1382" alt="Screen Shot 2022-01-13 at 10 31 01 AM" src="https://user-images.githubusercontent.c

[2022-01-13 18:40] kwight opened #60055 "Videos UI: We do not have event tracking for the i18n prompt link."
We do not have Tracks event tracking for the i18n prompt link – let's add it.

<img width="1382" alt="Screen Shot 2022-01-13 at 10 31 01 AM" src="https://user-images.githubusercontent.com/349751/149389691-043f00fb-ea36-42f1-9f45-fd2189deffe3.png">

[2022-01-13 18:45] AtrumGeost commented on #59570
I was doing some dogfooding and found the same:

1. Open any published page and set the "Page without Title" template
2. Click on Update
3. Notice the error

![Screen Shot on 2022-01-13 at 13:42:51](https://user-images.githubusercontent.com/3696121/149390393-a67aaafa-7afb-4c17-9554-b8897898d6c3.png)

[2022-01-13 18:55] kwight opened #60056 "Videos UI: User progression for multiple courses seems unpredictable."
While preparing the walkthrough in p58i-bQA-p2, I was having trouble with predictable user progress checkmarks displaying when they should on a Calypso branch. I think we need to double-verify that user progress tracking is working as expected, regardless of the number of courses active.

[2022-01-13 18:56] AtrumGeost opened #60057 "FSE Beta: Custom palette colors go away when saving a change in the Customizer"
### Quick summary

The custom palette disappears when saving a change in the Customizer

### Steps to reproduce

1. Set a custom color inside FSE using the **"Styles" > Colors > Palette > Custom** option
2. Assign the color
3. Save the changes
4. Preview the site. All good!
5. Go to the Customizer and make a change, like the font, and save changes
6. Notice the custom color is gone

https://user-i

[2022-01-13 19:05] AtrumGeost opened #60058 "FSE Beta - Zoologist: The fonts are not easy to change"
### Quick summary

It is not very intuitive the option to change fonts since it relays on the Customizer

### Steps to reproduce

1. Inside the Site Editor try changing fonts by going to **"Styles" > Typography > Text**.
2. Notice the only font options are: Default, Body, Heading.
3. To actually change fonts you'll need to go to **"My Site" > Appearance > Customize > Fonts**

https://user-images.g

[2022-01-13 19:38] kwight commented on #59685
The video can be found in p58i-bQA-p2

[2022-01-13 19:38] #59685 closed, assigned to kwight

[2022-01-13 19:44] kwight commented on #59733
This is being worked on by @SaxonF . Serenity will start building in our next sprint starting Jan 15.

[2022-01-13 19:47] #60007 closed, assigned to nobody

[2022-01-13 19:52] kwight commented on #58511
@enejb Hm, I can't replicate this on dev tools nor on an actual device (iPhone with Brave) – any other tips to replicate?

[2022-01-13 19:56] obenland commented on #59485
@SaxonF Do you have any thoughts on a less casual button text for this screen?

[2022-01-13 19:58] enejb commented on #58511
Try using the browser back button instead of the one provided by the UI.

[2022-01-13 20:10] #59925 closed, assigned to blackjackkent

[2022-01-13 20:55] kwight commented on #60056
In fact, the first step to this issue is library unit tests for user progression tracking – I don't believe we have any yet.

[2022-01-13 20:59] zaguiini commented on #58680
I'm not sure about this. What if the user doesn't want to use FSE? Having the option to opt out of it seems better to me.

[2022-01-13 22:06] sixhours opened #60061 "Premium themes: Turn individual premium theme purchases off"
### What

We launched new premium themes with the ability to purchase them individually, but that was mainly for expediency. We'd like to not offer premium themes for individual purchase in the future.

### Why

To encourage folks to subscribe to plans instead.

### How

_No response_

[2022-01-13 22:22] kwight commented on #58511
Oh! The _browser_ Back button, I see what you mean. Yeah, being a modal for the current page, it doesn't make sense for the URL to change (so it can change back) – but being fullscreen, which it's always intended to be... makes it appear like a different view. Hm, I dunno – I'd prefer to keep it as is, since users can always use the UI Back button (they're not ever really stuck), but I get the con

[2022-01-13 22:24] nicolynramos opened #60062 "File blocks show error in editor when added in columns without file name"
### Quick summary

When you add a File block inside of a column and leave the file name blank, returning to the editor shows an error "This block contains unexpected or invalid content" with a button to "Attempt Block Recovery".

<img width="843" alt="Screenshot on 2022-01-13 at 16-01-28" src="https://user-images.githubusercontent.com/71851343/149417337-d3e734a2-4407-4bcf-902b-6847db07d9da.png">

[2022-01-13 22:28] ollierozdarz commented on #58511
Hmm yeah, I see what you mean. I agree with you @kwight, let's keep it how it is unless there are more issues/concerns down the road.

[2022-01-13 22:29] KirkwallDay commented on #53595
Another instance here: 33646033-hc I confirmed on a test site as well.
Users browser info: https://www.whatismybrowser.com/w/CT653AS

[2022-01-13 22:37] fullofcaffeine commented on #57036
if the `mark`s are rendering well in the Gutenberg editor and in the site frontend and appearing as yellow in the Reader, this looks more like a styling problem specific to the Reader app. By the looks of it, it seems Reader is stripping out all attributes from the `style` tag. Since this is not related to Gutenberg, could you create another Reader-issue reporting this?

[2022-01-13 22:40] ollierozdarz commented on #59808
Thanks for the info @blackjackkent!

Yeah, the best CSS solution outlined feels a bit clunky, and probably not worth all the extra work. Let's just show the full title to the authors discretion.

[2022-01-13 22:40] creativecoder opened #60064 "ETK plugin: update for Core FSE"
### Details

There are are a number of places the ETK plugin needs an update to stay current with Core + Gutenberg FSE features. Here's what I found so far:

### Checklist

- [x] [`remove_wp_admin_menu_items()`](https://github.com/Automattic/wp-calypso/blob/d265b765aa7086b5d58cbd62acdd1b1750a2c1c8/apps/editing-toolkit/editing-toolkit-plugin/dotcom-fse/class-full-site-editing.php#L583) can be remov

[2022-01-13 22:43] fullofcaffeine commented on #57036
@ccwalburn @donalirl Hi 👋🏻 did you instruct the user to load and save the post? Please see p7DVsv-cYs-p2 for further instructions.

[2022-01-13 22:44] fullofcaffeine commented on #57036
@AtrumGeost Please see https://github.com/Automattic/wp-calypso/issues/57036#issuecomment-1012581189.

[2022-01-13 22:48] creativecoder commented on #58680
I'm going to close this, as Core has settled on showing the Customizer based on if there are functions hooked into `customize_register` or not (https://make.wordpress.org/core/2022/01/07/state-of-the-customizer-with-block-themes-in-wordpress-5-9/), and I think we should stick with that.

I do think we need to clean up some related code in ETK, which I've created a separate issue for here: https://

[2022-01-13 22:48] #58680 closed, assigned to nobody

[2022-01-13 22:49] enejb commented on #58511
On desktop devices, this is not so much an issue but on mobile, the swipe to go back is very common user behaviour and it is currently broken.

I really think we should fix this. What is the concern about adding a URL parameter when a user navigates away?
This would also make the course linkable which is something that would make sense for educational content.

This way a HE could send the user li

[2022-01-13 22:53] tvolpert commented on #59787
Another case of this bug here: #4685220-zen with the Stow theme

[2022-01-13 23:10] CodeAllNightNDay commented on #59650
Thanks! @Greatdane

[2022-01-13 23:37] jordesign opened #60065 "TwentySeventeen: Unable to use 'highlight' text color on links"
### Quick summary

When using the TwentySeventeen - the inline 'Highlight' tool will not change the color links in paragraphs or headings. Background 'highlight' color works - but not the text color itself.

### Steps to reproduce

1. Activate TwentySeventeen
2. Add a new page and insert a paragraph or heading - and then link some of the text.
3. Use the inline 'Highlight' tool to set a custom tex

[2022-01-13 23:41] sirbrillig opened #60067 "Cancelling PayPal transaction during signup redirects to site picker instead of checkout"
Discovered by @nbloomf

From https://github.com/Automattic/wp-calypso/pull/59888:

Interesting! I reproduced this same behavior in production, so I don't think this is caused by this PR and I don't think it has to do with the `site_id`. I think this is because of this logic:

https://github.com/Automattic/wp-calypso/blob/a4fbce339753420b5f50f012b39bde91572857ed/client/my-sites/checkout/composite-c

[2022-01-13 23:44] sirbrillig commented on #60067
The solution is probably to avoid stripping the `signup=1&isDomainOnly=1` from the query string in the cancel URL. However, we have to be careful because stripping the query string was added after this bug: https://github.com/Automattic/wp-calypso/pull/51653#issuecomment-816761649 and this commit: https://github.com/Automattic/wp-calypso/pull/51653/commits/6aa46fe7acdd00b96481738b909c16840f89c4f2

[2022-01-13 23:56] #59930 closed, assigned to nobody

[2022-01-14 01:06] Greatdane commented on #59886
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-01-14 01:45] sirbrillig commented on #59773
It'd be nice if there was some way for the ShoppingCartManager to know that a site ID and its site slug are the same cart like the server does.

If the client fetches the cart using a site slug (ignoring the special slugs like `no-site` for the time being), then the returned cart will have the site ID in both the `cart_key` and `blog_id` properties of the response (at least in my testing; we shoul

[2022-01-14 02:30] p-jackson commented on #59924
Holy cow this is great digging @roo2!

What if we delayed the firing off the delete posts job until all of HS has finished running. That way we wait for everything that we want to be done synchronously to be finished first, and _then_ we say it's ok to start doing all of the long job processing?

[2022-01-14 02:45] p-jackson commented on #58859
Shipped by #59965

[2022-01-14 02:45] #58859 closed, assigned to p-jackson

[2022-01-14 05:10] devNigel opened #60072 "Site Redirect appends "/" to the destination URL"
### Quick summary

When you set up a Site Redirection for a destination such as `http://aozhou10btn.com/who-invented-the-internet.html` , WordPress.com automatically appends "/" to the URL.

 This causes 404 issues on servers that are not configured to automatically redirect to the correct URL on their end.

WordPress.com also does not allow users to prevent appending of "/" to the destination URL

[2022-01-14 05:29] roo2 commented on #59924
Ooo I didn't think of that fix, I think that makes sense, hmmm the only possible downside is that it may make it possible for the new user to see the soon-to-be-deleted posts on their new site.

Other options would be:
* Make the delete synchronous again
  * Would fix the issue but degrade performance
* Some kind of locking mechanism??
  * I haven't seen anything like this in wpcom yet, and even m

[2022-01-14 06:09] roo2 commented on #59924
I made a p2 post about this pbxlJb-SG-p2 especially trying to get help with the more advanced fixes

[2022-01-14 06:13] arthur791004 commented on #59808
I think we can just use the line-clamp property to do the multiline truncation with ellipsis. See https://css-tricks.com/almanac/properties/l/line-clamp/. If the browser doesn't support this property, then fall back to show the full title.

[2022-01-14 06:21] Greatdane commented on #59985
@nickpagz - for future reference, please be sure to report bugs through the Buggomatic workflow, thanks!

[2022-01-14 07:16] escapemanuele commented on #59710
Thanks for researching on this @arcangelini! 😄

I updated the issue, as we want to update the [parent optional CSS class](https://github.com/Automattic/wp-calypso/blob/trunk/packages/tour-kit/src/types.ts#L16-L18) as well.

So, as you can see [here](https://github.com/Automattic/wp-calypso/blob/trunk/packages/tour-kit/src/components/tour-kit-step.tsx#L28),  that frame CSS class is used for applyin

[2022-01-14 07:23] #59345 closed, assigned to escapemanuele

[2022-01-14 07:23] #59439 closed, assigned to escapemanuele

[2022-01-14 08:50] edwinho89 commented on #52728
4686073-zd-woothemes

[2022-01-14 11:38] liviopv opened #60079 "Plugins: "View version x.x.x details" shows blank screen for outdated plugins"
### Quick summary

On the plugins page, the link to view the details of an update for an outdated plugin shows a blank screen or an error message to the user.

The console shows the following errors:
![Markup on 2022-01-14 at 11:37:49](https://user-images.githubusercontent.com/14153300/149509570-1df05c0a-d3ec-44dc-b6a3-1265486d7db8.png)

### Steps to reproduce

1. Install an outdated plugin not ma

[2022-01-14 11:38] chriskmnds opened #60080 "Tour Kit / Welcome Tour: Remove/refactor store access in tour rating component"
### Details

We will be extracting [tour rating](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/tour-card.js#L183) into tour-kit for including as a last-step optional feature that variant implementors can enable. Tour rating is currently handled via a wp/data store access. I don't think Tour Kit should be regi

[2022-01-14 14:39] sashastone commented on #59852
I was curious if this was an issue with the theme. I tested it out with Twenty Fifteen, and had a similar issue: https://d.pr/v/ptTA2d

[2022-01-14 15:59] ivan-ottinger commented on #47681
As the feature request has been addressed in https://github.com/Automattic/jetpack/pull/22298, I am closing this issue.

Please note that the alignment feature isn't live yet. It will become available with the next Jetpack release.

[2022-01-14 15:59] #47681 closed, assigned to nobody

[2022-01-14 16:12] bobmatyas commented on #53104
This also affects Jetpack Professional.

[2022-01-14 16:29] escapemanuele opened #60091 "Tour Kit: Match spotlight overlay color and opacity with the app banner"
### Details

With pbArwn-3q4-p2 it was introduced an overlay for the App Banner.
After shipping [our PR](https://github.com/Automattic/wp-calypso/pull/58524) (App Banner before WelcomeTour), App Banner and Welcome Tour will be one after the other, so it would be best to make sure that the overlay opacity and color match

The App Banner overlay color and opacity can be found [here](https://github.c

[2022-01-14 17:26] StephNathai commented on #59955
Can I take a stab at this?

[2022-01-14 17:26] carinapilar opened #60092 "Arbutus: Submenus on Dropdown Showing on Left Side"
### What

When you create a submenu inside another one, the items are expanding to the left, not to the right as they usually do.

### Why

The arrow on the submenu also indicates that it would open to the right, but the menu shows the left:

![LeftSubmenuMenu](https://user-images.githubusercontent.com/16104522/149558499-c0f1d87d-cfd4-49be-8567-3d75f7231da8.jpg)

### How

Not sure if this is expec

[2022-01-14 17:29] metabreakr commented on #54031
+1 Contact Form 7 competes with the Form Block.

[2022-01-14 17:30] supernovia commented on #59570
Came here to say I've seen this as well in a few themes.

[2022-01-14 18:19] carinapilar opened #60093 "Apostrophe 2: Cookie Banner Showing in Front of Content"
### Quick summary

The cookie banner on a site with Apostrophe 2 is showing in front of the content.

### Steps to reproduce

1. Activate the Apostrophe 2 theme on a free site.
2. Check the live site.

### What you expected to happen

That the cookie banner would show on the bottom.

### What actually happened

The cookie banner is showing in front of the content.

### Context

It's the default ba

[2022-01-14 19:16] Jaccuse commented on #52728
Another report: 33661080-hc

[2022-01-14 22:11] mattwiebe commented on #59570
Ok I think we got to the bottom of this. Should be fixed, please reopen if it persists!

[2022-01-15 01:08] cuemarie opened #60101 "Twenty Twenty One: Post Carousel block won't display images at full-width"
### Quick summary

On sites with Twenty Twenty One theme installed, the Post Carousel block will not display images at full-width.

They seem to max out at a certain width and appear aligned left, leaving empty space on the right (more noticeable the wider your display gets)

### Steps to reproduce

1. Activate Twenty Twenty One on a site with at least one published post (with a featured image, if

[2022-01-15 02:16] fullofcaffeine commented on #57036
👋🏻 I'm closing this as the original issue should be fixed already. We might have some leftover unstyled `mark` tags in some posts, but that should be fixable by editing and saving the post (see p7DVsv-cYs-p2 for more details). If you see issues with the `mark` tag please triage it carefully and make sure it's really related to this issue before re-opening it or adding a +1.

[2022-01-15 02:16] #57036 closed, assigned to nobody

[2022-01-15 03:28] annbingle commented on #52520
Got the same issue here 33392114-hc. Setting it to Coming Soon fixed it.

[2022-01-15 03:31] nagpai commented on #59960
Reported in #4682098-zen

[2022-01-15 03:47] nagpai commented on #59960
I was unable to replicate the issue on a local WP site. (self hosted test)
Issue seems to be related to Gutenberg 12.3.2

On a localWP test site, I was not able to replicate it with the Gutenberg plugin disabled. (older Gutenberg version bundled with 5.8.2) .

On enabling Gutenberg 12.3.2 plugin, the widgets tend to show a background in desktop view, but then shows blank in mobile screen viewport.

[2022-01-15 03:49] nagpai commented on #59960
Workaround - open the widget editor from the customizer (for non FSE themes )
My Site(s) >> Appearance >> Customize >> Widgets.

[2022-01-15 04:30] sirbrillig commented on #59945
Reproduced. The error is on the server, `Failed to read coupon in the data store.` and is thrown supposedly when a coupon does not exist. I double checked that the coupons I was trying did exist, so it is mistaken and also a weird fatal error since normally when a coupon does not exist you get this nice error message:

<img width="646" alt="Screen Shot 2022-01-14 at 11 09 29 PM" src="https://user-

[2022-01-15 04:46] sirbrillig commented on #56209
This was done in https://github.com/Automattic/wp-calypso/pull/57212

[2022-01-15 04:46] #56209 closed, assigned to sirbrillig

[2022-01-15 05:20] kosiew commented on #60062
Hi @nicolynramos ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.
Triaging for developers' further investigation.

[2022-01-15 09:47] nagpai commented on #59960
Reported bug here in core Gutenberg repo
https://github.com/WordPress/gutenberg/issues/38002

[2022-01-15 10:27] #59905 closed, assigned to arcangelini

[2022-01-15 10:29] arcangelini commented on #56292
Users on free plans should no longer be able to add the Cookie Consent banner. Patch deployed - D72102-code

[2022-01-15 10:29] #56292 closed, assigned to arcangelini

[2022-01-15 10:47] arcangelini commented on #56688
From my testing, it looks like the styling is not being loaded until after the widget is saved and the customizer is reloaded. The PR has been merged into core and is live on WPCOM. It looks like we may need to take a closer look at this. Apex is now looking after the widgets so I will let @yansern and @ivan-ottinger weigh in on this.

[2022-01-15 13:55] as-esu commented on #53626
4686954-zen

[2022-01-15 15:00] Gustavo-Hilario opened #60103 "FSE: Template > Template Part: back button/link disappears when editing a template part"
### Quick summary

When editing a _template part_ from a _template_, the **Back** button disappears when you try to access block settings or make any edition. Therefore, there is no easy way to return to the template after editing a template part.

### Steps to reproduce

1. Edit or start a new _template_.
2. Edit a _template part_ from there.
3. When the template part loads, you’ll see a _Back_ b

[2022-01-15 15:24] Gustavo-Hilario opened #60104 "FSE > Query Loop: Unable start with a Grid View layout"
### Quick summary

After adding the block, if I change from Carousel View to Grid View, the option to choose and start with the Grid View layout is gone.

### Steps to reproduce

1. Go to WordPress.com > Appearance > Site Editor
2. Browse and pick a template to edit
3. Insert the _Query Loop_ block
4. You'll see an option to pick the _Carousel and Grid View_
5. If you select the _Grid View_, the o

[2022-01-15 15:31] Gustavo-Hilario commented on #60104
My apologies. I think I just got confused here. When picking the Grid View layout, we are already choosing it. So, I think we can close this.

[2022-01-15 16:55] ghost opened #60105 "Activity Log: add Export option"
### What

User requested in zen-4688050: Is there a way to export the Jetpack - activity log either we can export it or can we request the log from you ?

### Why

I have asked the user about this and will update it, once I know more.

### How

_No response_

[2022-01-15 19:19] desnum commented on #58391
Another case on 33675550-hc

[2022-01-15 20:40] csonnek commented on #53088
Reported in https://wordpress.com/forums/topic/embedding-a-pdf-file-not-working-after-changing-the-theme/?view=all

In my own testing using the File Block, Embed Block, and simply pasting the PDF file into the post editor [per our own support documents](https://wordpress.com/support/embedding-a-pdf-file/), it only will show the link to the file and not the embed.

Test post: p3jvOq-bW3G0-p2

[2022-01-15 21:48] khristiansnyder commented on #49063
Another case in #33595257-hc. Had user convert the blocks to regular blocks within the editor so they could save as a draft.

[2022-01-16 07:25] arunsathiya commented on #52241
Requested on 33681364-hc.

[2022-01-16 09:59] i11za opened #60106 "Twenty Seventeen: Theme bug on Calypso, social icon padding issue"
### Quick summary

Icons in Social Icons Block appear distorted when added to footer widgets area.

### Steps to reproduce

1. Activate Twenty Seventeen (although got a similar result on Twenty Nineteen) on either a Simple or Atomic site. If on Premium plan and higher make sure there's no Additional CSS related to Social Icons block.
2. Add a **Social Icons** block under *Appearance → Widgets → Fo

[2022-01-16 13:25] Nic-Sevic commented on #52728
Just surfacing this as it seems like it might be related to how this bug is fixed:
Looks like in the [newest Jetpack](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/CHANGELOG.md#106-a1---2022-01-11) there's this update
Security: PDF embeds now only display a link, to avoid issues with malicious PDFss that may run arbitrary code.

[2022-01-16 15:17] #60104 closed, assigned to nobody

[2022-01-16 15:46] Gustavo-Hilario opened #60107 "Query Loop: Post featured image alignment doesn't change when centering"
### Quick summary

If we change the post featured image to be centered in the template editor, the change isn't applied even after changing the image width.

### Steps to reproduce

1. Add a _Query Loop_ to a template.
2. Set the _Post Featured Image_ to be center.
3. It won't affect the image alignment in the editor.

Even after changing the image width, the images wouldn't be centered. However,

[2022-01-16 16:00] Gustavo-Hilario opened #60108 "FSE > Template Editor > Separator Block: the block disappears after selecting the wide line style"
### Quick summary

After setting the separator block to use the wide line style, the block goes away from the editor and published page.

### Steps to reproduce

1. Got to WordPress.com > Appearance > Site Editor, browser your templates and edit one of them.
2. Add a _Separator_ block.
3. In the block settings, select the _wide line_ style.
4. Separator block will completely disappear from both ed

[2022-01-16 21:09] kathrynwp opened #60109 "Shawburn: When setting Primary colour in Customizer, button hover turns white"
### Quick summary

When setting a Primary colour in Shawburn in the Customizer, hovering over any buttons turns the background white

### Steps to reproduce

1. Activate Shawburn on a Simple or Atomic site
2. Go to Appearance > Customize > Colors & Backgrunds
3. Choose a colour under Primary:
![Customize__Global_Styles_Demo_–_An_awesome_tagline](https://user-images.githubusercontent.com/7662449/14

[2022-01-16 22:06] bluefuton commented on #53104
On the subject of Jetpack Professional, @a8ck3n wrote:

[2022-01-16 22:38] ccwalburn opened #60110 "FSE: Clicking Dashboard link from Templates list page causes error"
### Quick summary

When I try to use the Dashboard link to go back to the dashboard from the Templates list page, I get an error and don't go back to the dashboard.

### Steps to reproduce

1. Select Appearance > Editor
2. Click Toggle Navigation to see the sidebar
3. Select Templates from the sidebar
4. Click the Dashboard link in the sidebar

### What you expected to happen

I expected to go bac

[2022-01-17 02:28] creativecoder commented on #58877
This should be resolved now, with D72860-code

However, ideally we would port the logic from D72860-code for the Calypso themes showcase, as well, replacing D71156-code, which would mean than we don't need to use the "Non-Universal FSE" tag on the theme's showcase post for block-only themes.

Context: pNEWy-ezX-p2

[2022-01-17 02:28] #58877 closed, assigned to mattwiebe, creativecoder, zaguiini

[2022-01-17 02:39] #59124 closed, assigned to nobody

[2022-01-17 02:42] autumnfjeld opened #60111 "[Core] Avoid empty translation to overwrite the domain configuration"
Tracking Gutenberg issue:  Avoid empty translation to overwrite the domain configuration

### Waiting for reply

https://core.trac.wordpress.org/ticket/54858#ticket

### Waiting for this issue and PR

* https://github.com/WordPress/gutenberg/issues/34101
* https://github.com/WordPress/gutenberg/pull/37686
* https://github.com/WordPress/gutenberg/pull/37704

### Related issue

D65529-code
D73128-co

[2022-01-17 03:48] autumnfjeld commented on #54483
@arthur791004 should this issue be closed? :)

[2022-01-17 04:01] autumnfjeld commented on #52289
@razvanpapadopol  Does this still need work? It seems like a great task for our new Ganon devs.  😄

[2022-01-17 04:12] p-jackson opened #60112 "Task: Logging/stats to determine how common an issue "giant queries" are for Headstart"
### Context

Headstart is the tool we use to populate sites with starter content. It's mostly associated with signup and onboarding because that's generally when we want to populate. a12s can also run it directly. It adds pages and posts to a site, copies settings, ensures the site and content are in the correct language, and all that fun stuff. For a more thorough introduction: PCYsg-7cr-p2

A He

[2022-01-17 04:27] autumnfjeld commented on #45038
@ianstewart @alaczek  Can this issue be closed?

[2022-01-17 04:32] autumnfjeld commented on #59367
Ganon will take this for a "new dev" issue.

[2022-01-17 04:33] #53211 closed, assigned to jeffgolenski

[2022-01-17 04:38] autumnfjeld commented on #55035
I could not reproduce this, the collapse/expand seems to be working perfectly.

[2022-01-17 04:38] #55035 closed, assigned to nobody

[2022-01-17 04:39] autumnfjeld commented on #36496
@enejb  Just came across this issue.   I think it could be closed, but maybe you can verify? 😄

[2022-01-17 04:41] autumnfjeld commented on #43540
I think we can close this, do you agree @simison

[2022-01-17 04:44] autumnfjeld commented on #60055
@kwight Would you mind if Ganon takes this issue, we have two new Ganon devs and this looks like a great introductory issue. :)

[2022-01-17 06:48] autumnfjeld commented on #54417
@razvanpapadopol Is this still an open issue? Is it something Ganon could help out with?

[2022-01-17 06:54] arthur791004 commented on #56264
Close it as all of the related PRs are shipped 🎉

[2022-01-17 06:54] #56264 closed, assigned to arthur791004

[2022-01-17 06:54] arthur791004 commented on #58262
Close it as https://github.com/Automattic/wp-calypso/pull/59747 is shipped 🎉

[2022-01-17 06:54] #58262 closed, assigned to nobody

[2022-01-17 07:00] p-jackson commented on #56264
Kudos and thanks for all the help with this @arthur791004 @roo2 @tyxla! We're now thousands of lines lighter in the signup framework!

FYI @simison

[2022-01-17 07:44] autumnfjeld commented on #58212
Sorry about the delayed reply. I have to go run through the events again, because some things still don't make sense. But this is low priority.

I've also updated the description to make it less confusing.

[2022-01-17 07:47] lsl commented on #59485
From @SaxonF change the headings to read: "Plan upgrade required"  and "Domain change required". This aligns both things as "warnings" and makes it more clear / hints that "somethings up" / needs attention.

I think this copy makes the most sense and we can probably leave the CTA as is.

[2022-01-17 07:57] SaxonF commented on #59485
@lsl we could probably also change the CTA to "Confirm" as you suggested so that its more task orientated just to be safe. What do you think?

[2022-01-17 07:59] autumnfjeld opened #60115 "Launch Pad Guide [placeholder]"

[2022-01-17 08:02] autumnfjeld opened #60116 "Verticals-in-onboarding Spike [placeholder]"

[2022-01-17 08:24] autumnfjeld commented on #57667
This slack discussion is for headstart erros and was addressed in this issue https://github.com/Automattic/wp-calypso/issues/57837

[2022-01-17 08:29] autumnfjeld commented on #57667
I replated these steps:

- log out of wordpress
- navigate to wordpress.com/new.
- choose a blog name.
- select a free domain.
- select the blank template.
- select any font pairing.
- select Plugins in the features page.
- select 'Free' plan.
- enter username/password to create a new account and create account.

I was taken to My Home, after the last step.  Signup worked as expected.

Closing thi

[2022-01-17 08:29] #57667 closed, assigned to nobody

[2022-01-17 08:57] #58274 closed, assigned to escapemanuele

[2022-01-17 08:59] formosattic commented on #50560
4692950-zd-woothemes , same issue described on https://help.anchor.fm/hc/en-us/articles/360060866231

![image1](https://user-images.githubusercontent.com/15944096/149738945-0488aac7-7614-4fd3-b958-a2243aff02ce.png)

[2022-01-17 09:18] sharonlaker19 commented on #42170
+1 at 33652083-hc , suggested Buttons block as a workaround.

[2022-01-17 10:19] ivan-ottinger commented on #56688
We have added this issue to our project board and will investigate further.

[2022-01-17 10:41] alshakero commented on #59955
Hi @StephNathai! Yes please do. If you need any help, feel free to reach out!

[2022-01-17 11:20] devNigel opened #60118 "Phone number field in Checkout adds 0s and 1s randomly for Mexico"
### Quick summary

On WordPress.com checkout page, the phone number field is inserting 0s and 1s when Mexico is selected.

![Screen Capture on 2022-01-17 at 16-45-04](https://user-images.githubusercontent.com/33957570/149760062-06225535-4143-4ff6-8f66-0fc82716f23c.gif)

### Steps to reproduce

1. Add a domain registration purchase to your WordPress.com account.
2. Go to the checkout page.
3. Selec

[2022-01-17 11:20] Nic-Sevic opened #60119 "Cover block/site accelerator: images blurry with Jetpack CDN on for cover blocks"
### Quick summary

It seems to be a trend that cover block images handled by Jetpack CDN are lower res than expected even if all the other images on the site display fine.

If there was a way to exempt cover block images from CDN that would be an okay workaround but there's not a way to select a specific block with the existing [photon skip code option](https://jetpack.com/2013/05/03/skip-a-image-

[2022-01-17 11:35] devNigel opened #60121 "Alignment issue for the List block on some themes"
### Quick summary

The list block is outdented on the following themes and it looks odd.

* Twenty Fifteen
* Twenty Sixteen
* Twenty Seventeen

### Steps to reproduce

1. Activate the theme on a simple or AT site.
2. Create a page and add the List block between Paragraph blocks.
3. You will notice that List block item bullets are outdented.

### What you expected to happen

The list block should a

[2022-01-17 11:51] kerrynicl commented on #59646
Hi @jp-imagines . Can you confirm if this issue has been resolved on your testing site? I've tested with my own site and the user's and I was not able to replicate as the options load to the right of the setting pane
![RTL block options](https://user-images.githubusercontent.com/83325600/149764425-ca9c9a92-2287-4d31-8738-b276b774ffa4.png)

[2022-01-17 11:52] ewebber commented on #59886
This is happening to me today, I cannot update the font or colors. Custom CSS says it's not updating but it is intermittently.
In Blockbase / Gutenberg / WordPress 5.8.3
![Screenshot 2022-01-17 at 11 51 56](https://user-images.githubusercontent.com/1002019/149764889-ad957789-7823-4197-8ae8-178eb2b0bd4d.png)

[2022-01-17 12:18] Nic-Sevic commented on #56503
also requested here it looks like: https://github.com/Automattic/wp-calypso/issues/52063

[2022-01-17 12:32] jorpdesigns commented on #52063
Received another request in 33701133-hc. The receipt available on the website didn't contain VAT info.

Was able to crop out the receipt alone and the user seemed pleased with that.

[2022-01-17 13:01] kerrynicl commented on #60110
Hi @ccwalburn Could you say if this happens on a specific theme? I tried testing in on my site but was not able to replicate. Could you say if the steps followed below are correct:

https://user-images.githubusercontent.com/83325600/149773624-bf81f604-64a3-4918-88d6-99a79e969651.mp4

[2022-01-17 13:04] vindl commented on #57024
Yes, the PR linked above resolves this issue. Thanks for pointing it out.

[2022-01-17 13:04] #57024 closed, assigned to nobody

[2022-01-17 13:11] scruffian commented on #59886
@ewebber what site is this on?

[2022-01-17 13:11] cpapazoglou commented on #56902
woocommerce-xero is in testing phase and will be merged soon. Closing this issue as there is nothing to be done here.

[2022-01-17 13:11] #56902 closed, assigned to dlind1

[2022-01-17 13:12] vindl commented on #58819
Thanks for reporting this, we were not aware of this gap. I don't have any additional insights to add, besides what was already pointed out above. We likely need a new block to handle this and it might be worthwhile to start a feature request for it in the Gutenberg repo, so I imagine this is something that self-hosted sites might need too.

[2022-01-17 13:25] vindl commented on #57214
This is no longer an issue since Core introduced a new Browsing Sidebar and full-screen template selector. We are exposing it as-is on WP.com now, meaning that Browsing Sidebar is again accessible via the W button.

[2022-01-17 13:25] #57214 closed, assigned to nobody

[2022-01-17 13:37] cpapazoglou commented on #59938
- There is a mechanism to delete the cache in the backend by `wp_cache_delete` the appropriate key that can be triggered manually. Let's also create a marketplace CLI tool that clears the cache for a given plugin slug or all
- We can lower the Calypso cache stale time to 2h

[2022-01-17 14:16] cpapazoglou commented on #59902
@michaeldcain do we support prefixing with the for certain currencies?

[2022-01-17 14:22] jp-imagines commented on #59646
@kerrynicl Looks like this has been fixed! I checked on my test account, and I'm seeing the same as in your screenshot now.

I'm following up with the original user now, and I'll mark this issue closed.

[2022-01-17 14:22] #59646 closed, assigned to nobody

[2022-01-17 14:50] escapemanuele opened #60129 "App Banner: Selector reads sessionStorage on every re-render"
### What

The `shouldDisplayAppBanner` selector is called in the main `Layout` component every time it's re-rendered.
The selector access session storage, to determine if it is in the Blogger flow or not. The problem is that reading from local storage on every Redux state change is very inefficient.

### Why

To improve performances, we should not access session storage inside the selector.

### H

[2022-01-17 15:19] Thelmachido opened #60130 "Search Block: Displaying HTML tags <em></em>"
### Quick summary

When you add the Search Block to a page the label will be wrapped in <em> tags as shown in the screenshot below:

![Screenshot on 2022-01-17 at 16_51_58](https://user-images.githubusercontent.com/41231764/149795045-76b3fcdc-e597-48c6-8e12-fa786f09eca2.png)

### Steps to reproduce

1. Create a site with a Business Plan
2. Activate Jetpack
3. Add the [Search Block ](https://wordpr

[2022-01-17 15:23] kspilarski opened #60132 "Masterbar Cart: Cannot Scroll"
### Quick summary

Scrolling is not possible with multiple items in the cart.

### Steps to reproduce

1. go to Upgrades > Domains
2. select multiple domains to add to the cart
3. click the masterbar cart
4. scroll down to view all domains added in the cart.

### What you expected to happen

Scrolling will be possible regardless of the number of items in the cart.

### What actually happened

With

[2022-01-17 15:28] sixhours commented on #60008
<img width="1354" alt="Screen Shot 2022-01-17 at 10 27 51 AM" src="https://images.githubusercontent.com/2124984/149797452-51ddc36b-2cea-49e7-b563-040de9615fb2.png">

It's there now. 🤷‍♀️ Must be some cache finally cleared.

[2022-01-17 15:28] #60008 closed, assigned to nobody

[2022-01-17 15:44] #55996 closed, assigned to nobody

[2022-01-17 16:08] fashuvo opened #60135 "Password-protected portfolio page still shows the portfolio items"
### Quick summary

If a page has the portfolio template selected and the page is password-protected, it still shows the portfolio items. Only the content added through the page editor is password-protected.

### Steps to reproduce

1. Activate any of [these themes](https://wordpress.com/themes/filter/feature:portfolio/) on the site.
2. Create a new page or edit any existing page.
3. Select the `po

[2022-01-17 16:11] kwight commented on #60055
@autumnfjeld Sure, go for it. 👍

[2022-01-17 16:15] kwight commented on #59808
Ooooh, great suggestion @arthur791004 ! @blackjackkent let's give it a shot, support looks fine these days.

[2022-01-17 16:25] jorpdesigns opened #60137 "Extensions Purchased from the Marketplace Don't Have "Installed" Label (On the eCommerce plan)"
### Quick summary

After a user purchases an extension from the marketplace, the extension appears on their marketplace with pricing still included instead of an "Installed" label.

This only happens on the eCommerce plan.

### Steps to reproduce

1. **Upgrade a new site to ecom plan**
2. Navigate to the Marketplace and purchase the WooCommerce Subscriptions extension (or any other extension, I on

[2022-01-17 16:28] kwight commented on #58511
I think the issue is that we're not going back – we're closing a modal (but you're right, kinda confusing for users since our modal is fullscreen, which looks an awful lot like you loaded a new screen). 🙃

This would also make the course linkable which is something that would make sense for educational content.

Again, it's that the modal is presented in the context of the page it's on – the cours

[2022-01-17 16:29] filipanoscampos opened #60138 "Pullquote block Shoreditch theme: Font size changes not showing on live site"
### Quick summary

When a site has the Shoreditch active, changes made to the typography size are not showing on the live site even after they are published.

### Steps to reproduce

1. From the page or post editor on a site with the Shoreditch theme active, either Simple or Atomic;
2. Add a Pullquote Block;
3. Change the font size settings by either choosing from the listed options or adding a cu

[2022-01-17 16:55] #59945 closed, assigned to sirbrillig

[2022-01-17 16:59] sixhours commented on #59993
Fixed by #60009. The star remains a little wonky but we're looking at a redesign of the theme price in upcoming revisions to the Showcase so I'm not going to worry about it for launch. In my testing, adjusting it 1px in the opposite direction still makes it look off-center. ;P

[2022-01-17 16:59] #59993 closed, assigned to nobody

[2022-01-17 17:32] allilevine commented on #53626
I haven't been able to reproduce this bug on a test site so far, but my guess is that it has something to do with our Launch flows. We handle launching a site differently from changing a site from "Coming Soon" to "Public" in Settings. Users can launch a site from either

Settings > General:
<img width="731" alt="Screen Shot 2022-01-17 at 11 58 59 AM" src="https://user-images.githubusercontent.com

[2022-01-17 17:35] sixhours commented on #59258
@mreishus Just to be safe, are you able to reproduce this issue? If not, I think this was a fluke.

[2022-01-17 17:51] mreishus commented on #59258
I see a modal with a waiting icon and the button reading "Activating theme..." for a while, then it changes to "Thanks for choosing Skivers".

https://user-images.githubusercontent.com/937354/149817653-a53980e9-ee96-4194-902c-fcce8a91f6e7.mp4

[2022-01-17 17:52] mreishus commented on #59258
Probably what's strange about it is the loading animation is subtle and the only text explaining what's happening is on the button.

[2022-01-17 18:02] sixhours commented on #59258
OK, the missing loader/icon in the original report appears to have been a fluke. I'm going to close this since it's behaving as expected for now!

[2022-01-17 18:02] #59258 closed, assigned to nobody

[2022-01-17 18:11] obenland opened #60143 "Confirm the emails mentioned in the woo setup modal are being sent to users."
Confirm the emails mentioned in the woo setup modal (after onboarding) are being sent to users.

<img width="555" alt="screen_shot_2022-01-17_at_4 19 04_pm" src="https://user-images.githubusercontent.com/1398304/149838110-3dba4b79-6403-4f32-9f65-2b8dc251eae4.png">

[2022-01-17 18:12] obenland commented on #60143
Let's find out if this will be a blocker for launching the onboarding flow in Calypso

[2022-01-17 18:13] obenland opened #60144 "wc-admin task card: Refer to the word "theme" in setup task that only includes the theme name."
wc-admin task card: Refer to the word "theme" in setup task that only includes the theme name.

[2022-01-17 18:14] obenland commented on #60144
@lsl Could you add a bit more context here? Maybe a screenshot?

[2022-01-17 18:17] obenland opened #60145 "Audit usage of Atomic_Plan_Manager::BUSINESS_PLAN_SLUG and ::ECOMMERCE_PLAN_SLUG"
There is at least two places that makes assumptions about the `else` condition.

1.  `WPCOMSH_CLI_ECOMMERCE_PLAN_PLUGINS` which disables deacrtivation of woocommerce. We'll likely need to move this into `WPCOMSH_CLI_DONT_DEACTIVATE_PLUGINS`

2. In the else of a ecomm check: 'The Business plan for <strong>%3$s</strong> expires in %2$s. Renew your plan to retain Business plan features such as custom

[2022-01-17 18:18] obenland commented on #60145
@lsl Is there still work to be done here?

[2022-01-17 18:20] obenland opened #60146 "Removing WooCommerce redirects to inaccessible screen"
Removing woocommerce from plugins screen in calypso/wpcom redirects you to a wc-admin page but you get a Not authorized error.

[2022-01-17 18:20] obenland commented on #60146
@lsl Is there still work to be done on this one?

[2022-01-17 18:24] obenland commented on #55547
Price tiers implementation: 1344-gh-woocommerce-payments

[2022-01-17 18:28] obenland commented on #59891
Discussed with @ianstewart, let's consider PCYsg-Ega-p2 as completing this task.

[2022-01-17 18:28] #59891 closed, assigned to nobody

[2022-01-17 18:59] vindl commented on #59371
We decided to punt this work for now based on the discussion in paYE8P-1np-p2.

[2022-01-17 18:59] #59371 closed, assigned to nobody

[2022-01-17 19:09] liviopv commented on #51787
Hi @kwight since you were the last dev to interact with this issue, I'm pinging to check if there are any updates on the work being done on this issue. Since it's a hugely disruptive issue for the sites affected, it would be good from a support perspective to have an idea of when or if this will be fixed.

[2022-01-17 19:13] michaeldcain opened #60148 "[Bug]: mini-cart hides mobile notification icon"
### Quick summary

On mobile, possibly when the user has a double digit number of drafts, the padding of the mini-cart icon causes the notification icon to not be displayed.

![image (11)](https://user-images.githubusercontent.com/942359/149825633-c15b57ac-2382-43ab-b23b-85700942f8cc.png)

### Steps to reproduce

1. Create a few drafts
2. Add a domain to your cart
3. Visit Calypso on a mobile devi

[2022-01-17 19:34] sirbrillig commented on #60148
Good eye. The notifications icon is being pushed off to the right of the page by the padding of each icon, even though the `header` element is using flexbox.

<img width="353" alt="Screen_Shot_2022-01-17_at_2_23_23_PM" src="https://user-images.githubusercontent.com/2036909/149827689-f335ec8d-a57e-4619-ba00-e1fe14a70b51.png">

I think this is mainly because the icons are being spaced with css paddi

[2022-01-17 19:49] kwight opened #60151 "Seller Experience: Add a feature flag."
Let's add a feature flag to Calypso for the Seller Experience project – maybe just `seller-experience`.

[2022-01-17 20:02] kwight opened #60152 "Seller Experience: Add an e-commerce category to the onboarding theme selection."
We'll need a new category of e-commerce themes in signup. @SaxonF will work with @alaczek to come up with the new patterns.

<img width="2109" alt="Screen Shot 2022-01-17 at 11 54 58 AM" src="https://user-images.githubusercontent.com/349751/149830707-27306dcf-d90f-4ac2-b44c-570aac7e2307.png">

[2022-01-17 20:05] kwight opened #60153 "Seller Experience: Add sellers to the existing intent capture screen."
We need to add sellers to the existing intent capture screen. As with all work until launch, it will need to be behind our feature flag (#60151 ).

<img width="1681" alt="Screen Shot 2022-01-17 at 11 53 39 AM" src="https://user-images.githubusercontent.com/349751/149831233-1d099805-3e73-4c74-9931-8e03cc9cf83f.png">

[2022-01-17 20:08] shaunandrews commented on #60148
Might be worth considering the removal of the cart icon on small screens; It also has the side-effect of displacing the write button, which is intended to remain horizontally centered on small viewports.

[2022-01-17 20:09] kwight opened #60154 "Seller Experience: Add the store name and tagline view."
The seller intent flow requires an optional store name and tagline view.

<img width="1663" alt="Screen Shot 2022-01-17 at 11 54 12 AM" src="https://user-images.githubusercontent.com/349751/149831520-1f0e749f-84db-4aca-ad13-3fb11e9caade.png">

[2022-01-17 20:12] kwight opened #60155 "Seller Experience: Offer users a simple or WooCommerce-based choice."
Our MVP will give users two choices for the kind of store they want to create: a simple store (based on Payments blocks), or a full-featured option (based on WooCommerce).

<img width="1567" alt="Screen Shot 2022-01-17 at 11 54 30 AM" src="https://user-images.githubusercontent.com/349751/149831920-29afdec9-73a5-4f00-862e-8c12a462ed76.png">

[2022-01-17 20:19] kwight commented on #56888
#59747 has been merged, completing this issue.

[2022-01-17 20:19] #56888 closed, assigned to nobody

[2022-01-17 20:25] kwight commented on #58511
@enejb We discussed this issue in our sprint planning meeting (paYKcK-1c8-p2), and decided to not take it on for the foreseeable future; if you choose to try it yourself, please do ping @Automattic/serenity for any help and reviews. 👍

[2022-01-17 20:26] kwight commented on #59733
Design preview: p9Jlb4-3BJ-p2#comment-4734

[2022-01-17 20:45] sirbrillig opened #60158 "Masterbar button alignment should be dynamic"
The buttons in the masterbar are spaced using CSS `padding` even though the masterbar container uses flexbox. The result is that the position and spacing of the buttons relies on a large number of small adjustments in button-specific overrides and media queries that fall apart if a button is added or removed.

Because of this issue, we've had to [hide the shopping cart button at small widths](http

[2022-01-17 20:53] #60148 closed, assigned to sirbrillig

[2022-01-17 20:55] lsl commented on #57422
I think you're aware already now, this question was only being used for marketing purposes so we dropped it in order to limiting ourselves to things that configure woo.

No need for a question about what to install, anything required for the baseline woo experience should be included by default for all plans (like wc pay), anything optional can be installed on a business plan / via marketplace.

[2022-01-17 21:14] obenland commented on #59766
Let's check with Zé from Woo how it's used and if this is strictly needed before moving forward.

[2022-01-17 21:17] obenland commented on #60143
Let's check with Zé from Woo if this is needed before moving forward.

[2022-01-17 21:21] kathrynwp commented on #53116
33710131-hc - happening in Safari, OK in Chrome

[2022-01-17 21:27] obenland commented on #59683
The installer for Atomic sites should already have a timeout handler, maybe that can serve as inspiration for this one.

[2022-01-17 21:39] enejb commented on #58511
@kwight Thanks for clarifying this. :)

I have added it to my to-do list, will ping your team when I have something to review. :)

[2022-01-17 21:55] leonardost commented on #59373
Hi! We just deployed a fix for this in #60149. It should have fixed the problem in other three dots menus as well 🙂 so I'll close this issue now.

[2022-01-17 21:55] #59373 closed, assigned to nobody

[2022-01-17 21:56] obenland commented on #59766
Blocking until we learned about the above ^

[2022-01-17 22:57] kwight commented on #51787
It's definitely something that should be fixed, but has proven really difficult to solve. It's been rotated through a couple of different devs/teams, and is due for another assignment, but I have no clear ETA on that.

[2022-01-17 22:59] obenland commented on #59766
@josemarques We're currently rebuilding WooCommerce's onboarding flow in Calypso to solidify WP.com customers' intent to create a store before moving them onto Atomic. Could you help us understand how the industry information is used and if it's strictly needed to be replicated in the Calypso version of that flow?

[2022-01-17 23:18] edequalsawesome commented on #41606
Also requested in 4695045-zen

[2022-01-17 23:18] autumnfjeld opened #60164 "[Ganon Task] Industry verticals in onboarding: technical strategy"
This is a planning ticket for ramping up to Verticals in onboarding.  Once we receive initial specs and requirements we can being planning technical strategy.   This ticket will close after Kickoff meeting.

Initial outline of verticals in onboarding pdqkMK-4W-p2

![image](https://user-images.githubusercontent.com/5665959/152089663-fb3ec66e-e943-49ed-a75f-339442ce9ddd.png)

[2022-01-17 23:23] DanAntion commented on #51787
I am the person who initially reported this issue. I don't want to dwell on the specifics, but this has been a problem for **over nine months**. I would think it would be time to focus on this a little more than what I've seen monitoring this thread.

I appreciate the work that has been done, but this is very frustrating, and it isn't just my blog.  I know it's probably the last thing you want to

[2022-01-17 23:30] autumnfjeld opened #60166 ""Add a new site" A/B testing /new vs /start"
## Description
This is part of the the FSE rollout, in that once the FSE beta prompt is removed from the /new flow, we can start the A/B test.  See recent FSE rollout timeline  p58i-bWs-p2

Redirect a portion of  logged in existing customers to /start instead of /new for an A/B test
See Mikael's overview post for more details: pbxNRc-1eh-p2
Slack convo with Mikael: p1642139591064500-slack-CRWCHQGU

[2022-01-17 23:33] autumnfjeld commented on #60166
## Description
Redirect all logged in existing customers to /start instead of /new
See a8cexperiments for more details: pbxNRc-1eh-p2

## Tasks
- [ ] a8cexperiments post (Mikael)
- [ ] Set up Abacus test
- [ ] AB test code, should be quickie (Ganon)
- [ ] After experiment, if the /start test does no harm; deploy the "Add a new site" button redirection (Ganon).

[2022-01-17 23:42] jerrysarcastic commented on #53595
Another report in https://wordpress.com/forums/topic/i-cant-change-one-page-of-my-website and I can confirm that I have the same issue if I try to edit a page with a PDF embed in Safari.

Safari 15.2 on Mac OS 10.15

[2022-01-18 00:41] autumnfjeld opened #60170 "Design Picker Thumbnail Translations"
## Details

The Design Picker in the `/start` onboarding flow is translated, but many of the thumbnails aren't.

<img width="1834" alt="Screenshot 2022-01-19 at 8 14 30 PM" src="https://user-images.githubusercontent.com/1500769/150082861-1d2e2768-70c5-4be7-9fd5-9ac188f7541e.png">

Some thumbnails look like they've been translated but the text rendering is broken in non-latin scripts. E.g. Twenty T

[2022-01-18 02:16] lsl commented on #55547
Didn't highlighter garble that link? (Points at a reno bot PR)

[2022-01-18 02:19] lsl commented on #60145
This issue represents the work required to figure that out :smile:

[2022-01-18 02:22] gabriel-fuentes commented on #59388
Another report here: 4696079 -zd

[2022-01-18 02:33] lsl commented on #60144
This was a drive by from @ianstewart, there was a setup card on the wc admin homepage that referred to setting up your theme but instead of saying "setup your theme" it said "setup hemingway" which didn't really explain what was happening unless you knew your theme name.

I believe this has been changed on the woo side:

![Screenshot 2022-01-18 at 13-20-32 Home ‹ WooCommerce ‹ wooptestupgrade — Wo

[2022-01-18 02:33] #60144 closed, assigned to nobody

[2022-01-18 02:42] lsl commented on #60146
Still an issue, the menu item is updating correctly but because our landing page redirects to wc-admin it fails.

https://user-images.githubusercontent.com/811776/149861067-8fa9d1da-8f08-40aa-b678-f5b66d36f3d8.mp4

I think the ideal fix is to remove the redirect from the landing page and let people view it if they go there via URL. The one blocker with that approach is site switching won't work ri

[2022-01-18 03:20] lsl commented on #60146
Messing around with this a bit more it looks like we redirect because we haven't updated plugin status on load - we're going by whatever is in global state on page load.

**A better fix might be to redirect only after fetching plugin status (again) on page load.**

[2022-01-18 03:23] lsl opened #60171 "Replace product type dropdown with checkboxes"
The "Which products will be listed" dropdown usage is confusing here, checkboxes make more sense. I think the design intention was to condense the two steps. Since we only have two supported options for now (physical and digital download) we have enough space on this step to show them along side the other options. Lets fix the UX for now, an extra step or more checkboxes for upsells can be added l

[2022-01-18 03:31] lsl commented on #60171
@SaxonF does this sound about right?

[2022-01-18 04:19] lsl opened #60172 "Address / Business info steps aren't setting profile data on atomic sites"
Noticed we can't test the new [bussiness info step](https://github.com/Automattic/wp-calypso/pull/59837) against existing atomic sites as it only updates site options on non atomic sites.

I think we're waiting on a Jetpack release of https://github.com/Automattic/jetpack/pull/22248 for this to be resolved. cc @DustyReagan

- [ ] Wait for Jetpack release to hit atomic.

[2022-01-18 04:47] taipeicoder commented on #59388
Another report in 4692420-zen.

The issue might be because mobile devices tend to mutate "potential" phone numbers by injecting additional HTML. In the cases I've observed, what's supposed to be:

[code]

Is mutated to:
[code]

As result, the following [code section ](https://github.com/Automattic/wp-calypso/blob/527d114e7c00ccbe7c109616b70d570812810a34/apps/editing-toolkit/editing-toolkit-plugin/

[2022-01-18 05:27] lsl opened #60173 "Enter key doesn't submit Address step, probably other steps too."
When on the enter address step, `/start/woocommerce-install/store-address`, the enter key doesn't submit the form and move to the next step. Suspect other steps work in a similar button click only way.

- [ ] Change these steps to html forms with submit button/handlers so enter keys presses while on an input get treated as a form submit click.

[2022-01-18 05:35] SaxonF commented on #60049
Given that we are working on an iteration to the WooCommerce landing page, and the page itself is the explainer, I think we can close this one off for now.

[2022-01-18 05:48] SaxonF commented on #60171
@lsl so you just mean changing the select to two checkboxes? That sounds fine to me.

[2022-01-18 06:05] roo2 opened #60174 "Headstart resets show_on_front even if a front page is set and --delete-content was not used"
Discovered this testing D73127-code, If you are using a theme which sets show_on_front to posts but have set up a front page manually, I would expect running headstart without --delete-content to maintain the homepage that you set.

I don't think that this has much if any impact on users at the moment.

#### Steps to reproduce

* On an existing site, create a new page and set it as the `page_on_fr

[2022-01-18 06:16] supernovia commented on #59996
This is the first thing I noticed, too. I tried adding a new page thinking I could find the home page layout there for Byrne, but no luck.

[2022-01-18 09:00] emmnyc85 commented on #58898
**Let's remove:** follow-ups, checkout field editor, paypal payments pro

**Let's add:**
Jetpack Search
WooCommerce Paid Courses

cc: @cpapazoglou, @dlind1

[2022-01-18 09:35] zaerl opened #60177 "Develop new importer onboarding flow for Squarespace"
- [x] Add a new Squarespace workflow
- [x] Add new `ProgressScreen` component
- [x] Add new `CompleteScreen` component
- [x] Add URL data to inner components

[2022-01-18 09:43] zaerl opened #60178 "Develop new importer onboarding flow for Blogger"
- [x] Add a new Blogger workflow

[2022-01-18 10:12] gavande1 opened #60179 "Marketplace: Don't redirect user to calypso when using /wp-admin/plugin-install.php screen"
### Details
Right now, we are redirecting users to the calypso plugin screen if they want to install a new plugin. However, users can still access the WP-Admin screen via the `/wp-admin/plugin-install.php` URL to install the plugin. So, when users use the WP-Admin screen to install a new plugin they are being wrongly redirected to the calypso screen when they click on the `Featured | Popular | Rec

[2022-01-18 10:18] gavande1 commented on #60179
Related slack convo: p1642485410090800-slack-C029JEQRVRT

[2022-01-18 10:38] cpapazoglou commented on #60137
Can you clarify how you navigated back to the Marketplace?

[2022-01-18 10:59] cpapazoglou commented on #60179
Probably we will need to change the following condition inside the `wpcomsh_update_plugin_link_destination` function in wpcomsh
[code]

[2022-01-18 11:02] cpapazoglou commented on #60033
@JulianBustamante is this still in progress or ready for review?

[2022-01-18 11:05] josemarques commented on #59766
@obenland this data should help to inform the next steps regarding features and which themes to suggest, although I'm not sure we're doing much with it atm. Regarding marketing it helps to target specific segments of merchants.

pinging @pmcpinto that might provide better insights on why we ask for this data.

[2022-01-18 11:05] jorpdesigns commented on #60137
I clicked on **Plugins** in the menu - https://wordpress.com/plugins/

[2022-01-18 11:32] liviopv commented on #50656
Also in 4690886-zen and I ran into this issue several times recently (I thought it was a feature!).

[2022-01-18 11:44] rinazrina commented on #58446
Another report here: 4695735-zd-woothemes

[2022-01-18 12:01] Nic-Sevic opened #60185 "Jetpack support wording on AT sites"
### Quick summary

Just a slight wording disparity on Atomic WordPress.com sites. On the Jetpack pages below the help section is directing to "prioritized Jetpack support". We may want this to refer to WordPress.com support instead. The link does appear to direct to the WordPress.com support pages.

{site address}/wp-admin/admin.php?page=jetpack#/my-plan
{site address}/wp-admin/admin.php?page=jetp

[2022-01-18 12:18] pmcpinto commented on #59766
Thanks for the ping.

Correct. Currently, we're only triggering 1-2 inbox notifications based on the industry. And this data point is also useful to understand the types of users who are starting a store with Woo. However, the degree of usefulness of this data point will probably increase in the coming quarters

[2022-01-18 12:30] kriskorn opened #60186 "[Bug]: Theme translations missing when site goes Atomic"
### Quick summary

On WordPress.com we use translations from the main WordPress.com project if translations are not available for a given theme, but when the site goes Atomic these no longer work. For example, a Simple site using the Geologist theme and set to Polish shows the translated version of "Leave a Comment" while it is Simple, but returns to English when it goes Atomic.

### Steps to repr

[2022-01-18 12:30] kriskorn opened #60189 "[Bug]: Theme translations missing when site goes Atomic"
### Quick summary

On WordPress.com we use translations from the main WordPress.com project if translations are not available for a given theme, but when the site goes Atomic these no longer work. For example, a Simple site using the Geologist theme and set to Polish shows the translated version of "Leave a Comment" while it is Simple, but returns to English when it goes Atomic.

### Steps to repr

[2022-01-18 12:39] carinapilar opened #60187 "Migration Question on Cancelation Survey"
### Quick summary

It showed a migration question on the cancellation survey, even though I didn't do any migration.

### Steps to reproduce

1. Start a new site, get a Biz plan, and AT the site.
2. Cancel the Biz plan, the site will be automatically reverted.
3. Get the Biz plan and AT the site again.
4. And cancel one more time.

### What you expected to happen

To not ask me about any migration

[2022-01-18 12:48] cpapazoglou commented on #60137
After checking out you should have landed to the thank you page
![SS 2022-01-18 at 14 43 38](https://user-images.githubusercontent.com/12430020/149939657-6f4cd70f-85c6-4579-bcee-b265392d65fa.gif)

- Did you click "X" or "Explore Plugins"?
- Is there a chance that you navigated to **Plugins** from another tab?

Sorry for following up with questions, it is just that I cannot reproduce it. It seems l

[2022-01-18 12:56] dragstor commented on #52241
Requested on:
-  19175884-hc
- 33720770-hc

[2022-01-18 13:03] mikachan commented on #52030
I've tested this in newer themes like Blank Canvas and I can see the correct custom font is applied via the presets `var(--wp--preset--font-family--heading-font)` and `var(--wp--preset--font-family--body-font)` from `global-styles-inline-css`. These font presets don't seem to exist for older themes like Twenty Seventeen and Twenty Twenty.

It looks like in the older themes, the custom fonts are ap

[2022-01-18 13:22] aleone89 commented on #57390
There was another report of this here: hc-33587816 - this user also reported that this happens with Chrome installed on an iPhone.

[2022-01-18 13:28] AtrumGeost commented on #58535
I got another report here:

4696463-zd-woothemes

The user purchased the Premium plan to add the Pay with PayPal block. I was able to reproduce the issue on my test site:

https://user-images.githubusercontent.com/3696121/149946166-9ab29b8b-32bc-4f82-b222-3fe5d50c5266.mp4

The block title won't be saved and the block won't be displayed on the actual site.

[2022-01-18 13:28] JulianBustamante commented on #60033
@cpapazoglou Diff created: D73235-code

[2022-01-18 13:58] jorpdesigns commented on #60137
Looks like I explained this wrong, my bad.

Here's a screenshot of my installed plugins:

<img width="1260" alt="marketplace1" src="https://user-images.githubusercontent.com/40006288/149950687-6178e61d-3afd-49b6-b5c9-08b2a69aceb9.png">

You will see that Woo Subscriptions is currently installed and active.

However, when you open the Plugins page, you see that Woo Subscriptions still shows pricing

[2022-01-18 14:02] cpapazoglou commented on #60137
Thanks for following up, that makes more sense now! I suspect that this is a site - not plan - related problem. Can you confirm:

- the same happens with any of your free plugins - they don't show as installed but show "Free"
- your Jetpack connection is broken? in which case we already have an issue https://github.com/Automattic/wp-calypso/issues/59943

[2022-01-18 14:07] cpapazoglou commented on #60137
nvm, I just used the su to your ecom site and I can see the bug which doesn't relate to a "Jetpack broken connection"

[2022-01-18 14:23] cpapazoglou commented on #60137
While I can't reproduce it on my "old" ecom site, I could reproduce it to a new ecom site.

[2022-01-18 14:26] cpapazoglou commented on #60137
It seems like the api response for `https://public-api.wordpress.com/rest/v1.1/sites/[SITE_ID]/plugins?http_envelope=1`
contains invalid slugs
![SS 2022-01-18 at 16 24 37](https://user-images.githubusercontent.com/12430020/149955573-461bd79e-3bfa-4ed7-85ff-6c9d883981ed.png)
`woocommerce-com-shipment-tracking` instead of `woocommerce-shipment-tracking`

[2022-01-18 14:27] kerrynicl commented on #60137
I was just able to replicate on my ecom site as well

[2022-01-18 14:35] cpapazoglou commented on #60137
Indeed, the problem is plan specific. Downgrading my ecom site to free and then upgrading to biz while also triggering an Atomic transfer results in all slugs of previously bought plugins to report correctly without the `-com-` interference.

[2022-01-18 14:37] razvanpapadopol commented on #52289
@autumnfjeld, thanks for checking this out. There has been some good progress in https://github.com/Automattic/wp-calypso/pull/52388 but it definitely needs a rebase and a re-check of the acceptance criteria. I agree it can be a good opportunity to play around with Tracks debugging.

[2022-01-18 14:49] cpapazoglou commented on #60137
I am getting mixed results.

- Downgraded again to free
- Removed all subs
- Upgraded to ecom
- Bought "WooCommerce Subscriptions"
- Plugin slug seems ok
<img width="1594" alt="SS 2022-01-18 at 16 48 11" src="https://user-images.githubusercontent.com/12430020/149959791-c6b18557-f589-4bfc-8941-02da07615fe2.png">

Can't identify yet what triggers this edge case with slugs containing `-com`

[2022-01-18 15:00] ccwalburn commented on #60110
Hi @kerrynicl I'm using the Zoologist theme. This is what happens for me:

https://user-images.githubusercontent.com/32983813/149961931-05b956f5-02c6-416f-9a08-1eaf7f204669.mp4

[2022-01-18 15:19] syedshaon commented on #52728
Another report: 4697471-hc

[2022-01-18 15:20] sixhours commented on #58780
All phase I updates have shipped! 🥳

[2022-01-18 15:20] #58780 closed, assigned to sixhours, nelsonec87

[2022-01-18 15:23] DustyReagan commented on #60172
That sounds correct. I'll watch for the release today.

[2022-01-18 15:44] michaeldcain commented on #14896
@sixhours: does this issue exist for the newly bundled A8C premium themes? If not, I think we can close it.

[2022-01-18 15:51] obenland commented on #59766
Thanks so much! That sounds to me like we could probably launch without it for now?

[2022-01-18 16:07] blackjackkent commented on #59808
Updated #60051 to use the line-clamp approach. Thanks for the suggestion, Arthur! 😄

[2022-01-18 16:14] #57422 closed, assigned to obenland

[2022-01-18 16:21] renata-franco opened #60200 "Footer Credit not displaying on Personal plan website"
### Quick summary

We are working on a ticket of a user that has Personal plan, and has always had this plan for this site, and the footer credit is not displayed.

I am the third HE going through testing on this and we cannot find the issue. So, I decided to report this as some kind of bug.

Edit: User reported that their site https://rosajiro.com/ also has this problem and uses the same theme: B

[2022-01-18 16:24] DavidRothstein commented on #60132
Discussion: Also makes it impossible to go to checkout from the masterbar cart.

[2022-01-18 17:51] #60049 closed, assigned to SaxonF

[2022-01-18 18:11] #59774 closed, assigned to nobody

[2022-01-18 19:01] ChrissiePollock opened #60209 "Blog Posts Merging Content in Query Block"
### Quick summary

The customer had two blog posts. They had the Query block on their home page. The first post was perfect. The second showed the Featured image and title of the second post, but displayed the content of the first post.

![Screen Shot 2022-01-18 at 12 21 29](https://user-images.githubusercontent.com/2545184/150001579-1dd93a3a-8ef1-4c6f-8a5b-e9a347d5cefa.png)

#741744-hc

### Steps

[2022-01-18 19:03] kimerlin81 commented on #60200
Unable to replicate. Notified @renata-franco via slack. P2 remains open for any findings to be reported.

[2022-01-18 19:03] #60200 closed, assigned to nobody

[2022-01-18 19:12] allilevine commented on #60143
Hi @lsinger 👋 We're currently rebuilding WooCommerce's onboarding flow in Calypso to solidify WP.com customers' intent to create a store before moving them onto Atomic. At the end of the flow we'll mark their onboarding profile as completed, and send them directly to the WooCommerce admin, skipping the WooCommerce setup wizard. Can you help us understand if that will affect the emails users receiv

[2022-01-18 19:15] #58430 closed, assigned to allilevine

[2022-01-18 19:16] jp-imagines opened #60210 "Flickr embeds are low quality in the editor"
### Quick summary

When you embed an image from Flickr, the image appears in the appropriate resolution on the live site. However, within the editor, the Flickr block is forced to a set of specific aspect ratios (regardless of the original image's aspect ratio), and the quality of the image is incredibly low.

### Steps to reproduce

1. Go to flickr.com. Search for an image, select any example, an

[2022-01-18 19:32] kwight opened #60211 "Anchor: Atomic sites should not have the Anchor prompt on My Home."
With Atomic sites being a regular source of issues with the Anchor integration, let's remove the prompt for My Home.

See: pc4f5j-13S-p2

![anchor](https://user-images.githubusercontent.com/349751/150005861-854f062d-5c3a-4a55-8e90-3b9b9c9d1aa8.png)

[2022-01-18 19:42] #60151 closed, assigned to blackjackkent

[2022-01-18 19:54] kwight commented on #51787
I'm sorry this has dragged on so long @DanAntion 😕 But I can tell you that it's on leadership's list for handling, and is understood to be a frustrating, long-running problem.

[2022-01-18 19:59] zaguiini commented on #59391
Done in D72561-code.

[2022-01-18 19:59] zaguiini commented on #56373
@creativecoder are we ever working on this epic again? 😄

[2022-01-18 20:00] zaguiini commented on #58663
So the only thing missing is TT2 now, right?

[2022-01-18 20:37] autumnfjeld opened #60216 "Add intent prop to calypso_signup_previous_step_button_click"
Add the  intent prop for the Design Picker(DP)  back button, e.g `calypso_signup_previous_step_button_click` such that the intent gets recorded when user clicks the back button on the DP screen.  We need to be able to know “user clicks back on the DP in the build flow, or in the write flow, or in any other flow”, otherwise we can’t do correct analysis.

See my analysis here on how I found this iss

[2022-01-18 21:05] #59485 closed, assigned to DustyReagan

[2022-01-18 21:11] allilevine opened #60218 "Woo Installer: Swap address and business info steps"
The address step needs to be first so that we can use the country data to populate the business info step revenue dropdown.

[2022-01-18 21:22] #59808 closed, assigned to blackjackkent

[2022-01-18 21:26] #60153 closed, assigned to nelsonec87

[2022-01-18 21:46] sirbrillig commented on #60148
https://github.com/Automattic/wp-calypso/pull/60168 re-displays the cart button at small widths, but keeps the alignment of the other icons.

[2022-01-18 21:47] ckmccoy2 commented on #60110
Same thing happens on my site: fseckm2.wordpress.com: https://d.pr/v/8ng34E

I'm using the Arbutus theme.

[2022-01-18 21:50] zaerl opened #60221 "Fix importer error display (displays WordPress importer errors for other importers as well)"
Importer upload error pane string refers to WordPress XML. All importers use this component, and so it must be changed because it displays a wrong error for all importers except WordPress.

Maybe a list of different errors must be created for every type of importer.

See: https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/importer/error-pane.jsx#L51

[2022-01-18 21:55] michaeldcain commented on #58535
@Automattic/ajax @Copons: I missed this in my notifications and David just found it. Do you think this falls within Ajax's front-end issues?

[2022-01-18 22:02] DustyReagan commented on #60172
So it looks like the data is saving on Atomic fine after the Jetpack update, but I'm seeing the "snag" error and a blank screen on wp-admin/admin.php?page=wc-admin&path=%2Fsetup-wizard

<img src="https://user-images.githubusercontent.com/140841/150024750-8f44402f-004a-47c8-ad85-78fc448dbe1e.png" width="300" />

I wonder if it's because we're missing the `completed` marker, or maybe `product_types`

[2022-01-18 22:25] metabreakr opened #60224 "Blockbase"
### Quick summary

In Blockbase, and its child themes (e.g. Geologist), Safari 15 displays an outline around the navigation block, presumably for accessibility. This differs from the focus appearance in other browsers, such as Chrome.

Chrome:
![lBXMxT](https://user-images.githubusercontent.com/39252765/150028192-7385c266-83db-4ade-9cc5-9d7bf0eb6d33.png)

Safari:
![ucgfxy](https://user-images.gith

[2022-01-18 22:42] DustyReagan commented on #60172
Yeah, I think this is why we're seeing a blank page when returned to wc-admin. If I manually update `product_types` to be an array instead of a string, the page renders correctly. Still not sure about the "We hit a snag" error though.

[code]

![wc-admin](https://user-images.githubusercontent.com/140841/150030375-36ed3cdb-e40d-45c2-b06f-c52b3ad94221.png)

[2022-01-18 22:46] the-misha commented on #59852
This may be related: 4690142-zd-woothemes

User had an un-deletable legacy Custom HTML widget showing in a footer widget area in _Appearance → Widgets_ which didn't display in the Customizer or on the live site. They edited the widget areas in the Customizer, which removed the duplicate.

[2022-01-18 23:10] #60218 closed, assigned to obenland

[2022-01-18 23:27] DustyReagan commented on #60172
Just another note. I didn't see the `completed` boolean in the profile array after installation. I added it manually and it seems to skip the wizard like anticipated.

[2022-01-18 23:29] DustyReagan commented on #60171
Just a note the `product_types` should be [saved as an array](https://github.com/Automattic/wp-calypso/issues/60172#issuecomment-1015899831). I wonder if that comes for free by switching from a dropdown to checkboxes?

[2022-01-18 23:31] lsl commented on #60172
Going by the video timestamp (28s end - 13s start = 15s you're hitting the [timeout](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/woocommerce-install/transfer/install-plugins.tsx#L18).)

The install only process should only take 1-2 seconds of polling, the install part of the process is near instant.

I'd guess the software endpoint is either not responding as applied or

[2022-01-18 23:38] DustyReagan commented on #60172
For what it's worth, I was testing a reverted site. Maybe some old stale data was the issue? 🤔 Probably needs more testing. However, I think this particular issue of data transferring on Atomic could possibly be closed, and new issues opened.

[2022-01-18 23:41] lsl commented on #60172
+1

[2022-01-18 23:41] #60172 closed, assigned to DustyReagan

[2022-01-18 23:42] lsl opened #60228 "Hide the onboarding setup wizard in wc-admin"
We set a completed flag in the business info step of the installer that should be hiding the woo side setup wizard display.

At the moment it [doesn't seem to be getting set](https://github.com/Automattic/wp-calypso/issues/60172#issuecomment-1015928401).

- [x] Figure out why this is the case and fix
- [ ] ~Once resolved, revisit https://github.com/Automattic/wc-calypso-bridge/pull/734 and https:/

[2022-01-18 23:51] lsl commented on #60171
Added as a task in the issue description.

[2022-01-19 01:09] roo2 commented on #60112
I'm just going through the "new starter" issues.
I think that adding a bump stat for queries that return a large number of results is a good starter issue.
It would be useful to have a list of all cases to consider, I'm so far only aware of _comments_ and _posts_ but there will be others.

Auditing headstart code for requests that return unbounded data could be interesting. I don't know if it's cl

[2022-01-19 03:28] arinoch commented on #51787
Adding one more (4668606-zd-woothemes) to the list, reported secondarily to another issue.

[2022-01-19 06:01] lsl commented on #60172
@DustyReagan I couldn't repro in prod or dev, maybe something on your end?

[2022-01-19 06:02] lsl commented on #60172
Follow up for complete happening here https://github.com/Automattic/wp-calypso/pull/60231

[2022-01-19 06:42] autumnfjeld commented on #58431
This has been completed in https://github.com/orgs/Automattic/projects/215#card-74831609 discussed here p1642443950420000-slack-C029FM1EH

[2022-01-19 06:42] #58431 closed, assigned to nobody

[2022-01-19 06:48] autumnfjeld commented on #55566
Work has been done on  D66398-code: Update AMP from 2.0.5 to 2.1.4,  but we'd like to pass this to the mobile web team.
pdgK6S-5M-p2

[2022-01-19 07:00] p-jackson commented on #55566
Just to add my 2c: D66398-code is a proof of concept, feel free to progress this in whatever way makes sense.

[2022-01-19 07:56] daledupreez commented on #58967
We deployed #59854 and the related back end change in D72681-code on 2022-01-12, so I am going to mark this issue as closed.

[2022-01-19 07:56] #58967 closed, assigned to daledupreez

[2022-01-19 07:59] daledupreez commented on #53837
We addressed this in #56951.

[2022-01-19 07:59] #53837 closed, assigned to nobody

[2022-01-19 08:06] kriskorn commented on #56574
Another report: 32868074-hc

[2022-01-19 08:13] lsinger commented on #60143
I'm not intimately familiar with the codebase, so I"m not sure if I'm the best person to ping. Adding @Automattic/proton and @Automattic/solaris to the conversation.

I took a look around myself and found the `WC_Emails` class, which does send a few kinds of emails, but I didn't find a reference to those described in the modals -- those sound like they might be marketing drip emails sent to the pe

[2022-01-19 09:19] jartes opened #60232 "File Block: download option not downloading directly the file on simple sites"
### Quick summary

When adding for example an image or a PDF file on the File block on a simple site, the download button is not downloading the file directly to the device. Instead, the file is opened/displayed on the browser, and the user needs to save it using the options from their computer.

### Steps to reproduce

1. On a Simple Site, create a post or a page.
2. Add a File Block, and upload

[2022-01-19 10:26] dsas commented on #58535
Looks like something for us @michaeldcain, it's on our backlog.

[2022-01-19 10:28] dsas commented on #58535
I can't reproduce the double typing thing. I can reproduce the not saving title/description on a simple site via standalone widgets page but standalone jetpack works fine.

[2022-01-19 10:55] elazzabi commented on #59794
Hello,

I can reproduce this issue, and I'm not using any blocks inside my block.

I'm using a custom domain on my site and using the `.com` editor. So my edit screen URL is something like: `https://wordpress.com/page/mydomain.com/2186`.

When I click on 'Manage Reusable Blocks', I get redirected to `the_site_name.wordpress.com.`, which is clearly not my custom domain. And the console shows:

[cod

[2022-01-19 11:21] sarayourfriend opened #60235 "[Bug]: Reader does not show the correct number of unread posts"
### Quick summary

I use Reader to keep up with P2. The "unread" count on Reader is helpful for me to know how much time I will need to dedicate to catching up. However, it is currently broken (or changed?) and no longer shows the correct number of unread posts. Right now I count 8 unread posts, 7 of which are cross-posts, but Reader doesn't display anything for the unread count next to the organi

[2022-01-19 11:28] kettultim commented on #60130
I'm not sure if this has been fixed or is a non-issue at this point. Tried to replicate and the search bar functionality is working as intended: https://prnt.sc/26fng9o

[2022-01-19 11:55] inaikem commented on #58819
@vindl, thank you! 👋  IIRC the Cookie & Consents Banner is a Jetpack widget, so would probably be best created there vs in Gutenberg directly. Cc @jeherve for a quick confidence check.

[2022-01-19 12:29] bogiii opened #60237 "Import everything - Preview of the atomic site shows login screen instead of the complete site preview"
From the Hooray screen after the successful process of the import, hitting the **View Site** button shows a preview with the login screen instead of the complete site preview.

<img width="1529" alt="Screenshot 2022-01-19 at 13 27 20" src="https://user-images.githubusercontent.com/1241413/150129832-04968430-be02-4037-9e2c-f066d86d46ee.png">

<img width="1528" alt="Screenshot 2022-01-19 at 13 27 43

[2022-01-19 12:29] #58504 closed, assigned to WBerredo

[2022-01-19 12:41] bogiii opened #60238 "Import Everything - Missing step for upgrading to the Business plan"
See more at: pcmemI-kH-p2#comment-496

[2022-01-19 12:48] daria2303 opened #60240 "Mobile menu not working in Storefront with AMP in standard mode"
### Quick summary

The mobile menu is not working in Storefront.

### Steps to reproduce

Activate the theme Storefront.
Add a Primary menu and also check the Handheld menu option
When visiting the site the mobile menu button is showing but not responding when clicked.

### What you expected to happen

I would expect the menu to open when the menu button is clicked on mobile devices.

### What act

[2022-01-19 12:49] daria2303 commented on #56586
Found @mxhassani error again and added it here: https://github.com/Automattic/wp-calypso/issues/60240

[2022-01-19 12:51] #59291 closed, assigned to WBerredo

[2022-01-19 12:52] bogiii opened #60241 "Import everything - Checkout "redirect_to" link is missing query params from the `start/from/importing` route"

[2022-01-19 13:01] #59711 closed, assigned to WBerredo

[2022-01-19 13:06] filipanoscampos commented on #60130
The user came to chat and I found the HTML tag was coming from the italics applied to the text "Looking back at the GDA archive".

Removing them solved it for now, yet this is something that shouldn't be happening given that the users have the option to edit the appearance of that text.

[2022-01-19 13:13] Copons commented on #58535
@michaeldcain Yeah this looks like a full-fledged Gutenberg issue, so it falls into Ajax domain.
Note that as per Artur triage, we are delaying most work on the Pay with PayPal block, and it's not part of our current iteration.

[2022-01-19 13:18] Robertght commented on #59788
I'm checking this further with @cuemarie async. Will follow up here.

[2022-01-19 13:22] Gustavo-Hilario commented on #58469
This issue was also reported here: https://woothemes.zendesk.com/agent/tickets/4699321

[2022-01-19 14:19] enejb opened #60246 "[Bug]: WordPress.com login translation link goes to a 404"
### Quick summary

When you visit WordPress.com/log-in

this link
<img width="481" alt="Screen_Shot_2022-01-19_at_6_14_10_AM" src="https://user-images.githubusercontent.com/115071/150148289-77599ae3-b11b-4e9a-8ede-d5fe6d21dab2.png">

takes you to
https://translate.wordpress.com/projects/wpcom/en/default/ which is a 404.

### Steps to reproduce

1. Start WordPress.com/log-in
2. Click the link at th

[2022-01-19 14:28] jeherve commented on #58819
This is a more general question about the future of some of our Legacy widgets in this new FSE world. This is discussed in pdf5j4-7f-p2 (as well as panfyZ-8L-p2 and pdf5j4-4C-p2 )

The future of the Cookie & Consents Banner is something that is tracked in #52100 at the moment. Maybe we should close this issue in favor of the other one?

***

Other related issue and discussion: #56292

[2022-01-19 14:32] barryhughes commented on #60143
In this case I don't *think* that the inbox is a traditional email inbox, but instead it is referring to the message inbox that appears on within the **WooCommerce ▸ Home** screen:

<img width="726" alt="woocommerce-home-inbox" src="https://user-images.githubusercontent.com/3594411/150150619-69806fe5-d55b-463a-aabe-635199e0eebb.png">

This as well as the [message you shared](https://github.com/woo

[2022-01-19 14:36] DustyReagan commented on #59926
Possibly related issue: p1642601539457200-slack-C029UPVMGTW

[2022-01-19 14:51] arcangelini commented on #52100
I think it may be best to get someone from ads or legal to weigh in on the need for this widget. I believe the features of this widget are extremely basic and do not meet the needs of GDPR any longer. The cookies that it sets when you "accept" the banner were only for advertising purposes — and we no longer read them because we have an updated GDPR banner that actually does give users some choice

[2022-01-19 14:57] gcsecsey commented on #59899
I've opened a discussion about the caching strategy [in this P2 thread](p7H4VZ-3lT-p2).As a temporary solution, I'm raising a PR which just avoids re-fetching the data on each page load by utilizing the Redux store.

[2022-01-19 15:12] zdenys opened #60249 "FSE: The alignment option is missing from the toolbar for blocks in Template Editor view"
### Quick summary

For blocks that have an alignment option in the block toolbar (e.g. Media & Text) disappears in the Template editing screen

Editor | Template Editor
--- | ---
![image](https://user-images.githubusercontent.com/39308239/150157394-f42091df-5f0c-4f30-b38f-93c222d069b7.png) |  ![image](https://user-images.githubusercontent.com/39308239/150157696-b1916682-1bbd-4480-a9b7-02e5faab48b7

[2022-01-19 15:25] allilevine commented on #60143
Thank you! 🙌 Sounds like we wouldn't need to worry about emails in that case.

@Automattic/isotope 👋 Can you help us confirm whether there will be any impact to this messaging or other communications from skipping the WooCommerce setup wizard?

[2022-01-19 15:30] zdenys opened #60252 "Quadrat and its child themes: Header triangle image looks different in the editor vs frontend"
### Quick summary

The header triangle image of the Quadrat theme looks different in the editor vs frontend. It's confusing and not clear how to customize it.

![image](https://user-images.githubusercontent.com/39308239/150162172-650281bb-5ac5-4ed6-9087-57dedb7d483a.png)

### Steps to reproduce

1. Activate a Quadrat (or any of its child themes like Quadrat Green etc.)
2. Open the Site Editor
3. L

[2022-01-19 15:34] vindl opened #60253 "FSE Rollout: remove opt-in screen from the /new flow"
### Details

The goal of this task is to default all English-speaking existing customers to FSE. It's currently already at 100% but we are still showing an opt-in screen that needs to be removed. While doing this we need to be mindful of preserving the existing stats tracking.

### Checklist

- [x] Remove the opt-in screen, everyone gets FSE beta by default
- [x] Ensure that the FSE beta tracks ev

[2022-01-19 15:39] vindl opened #60254 "FSE rollout: add tracking for page and block edits"
### Details

Currently, `wpcom_page_edit` events are fired only for the `Post Content` block within the Site Editor, which underestimates these activation metrics and makes it harder to compare them with the classic experience.

~We need to ensure that these events fire on Template and Template Part post type saves too. I think that we should keep the above events to have aggregate stats for FSE,

[2022-01-19 15:51] vindl opened #60255 "FSE Rollout: assign 10% of /start customers to FSE"
### Details

The goal of this task is to roll out FSE Beta to 10% of customers that enter the `/start` flow. Here are some requirements and constraints:

- no opt-in screen.
- We still show classic and universal themes in the design selection step. 10% of users will get FSE if they pick the Universal Theme. If not, they'll still get the FSE sticker and be able to switch to the block-based theme fr

[2022-01-19 15:54] #59766 closed, assigned to Rolilink

[2022-01-19 15:55] vindl opened #60256 "FSE rollout: remove the FSE option toggle and screen"
### Details

This amounts to rolling out FSE for all existing sites that have Universal Theme active. We should do this only after both `/new` and `/start` flows are released to 100% of users.

### Checklist

- [x] Remove FSE option toggle and screen from Atomic sites
- [x] Remove FSE option toggle and screen from Simple sites (proxied only)
- [x] Activate FSE by default for all sites on Universal

[2022-01-19 15:56] vindl commented on #54468
Moving this out of `On Hold` column since it's a priority for FSE rollout.

[2022-01-19 16:01] ivan-ottinger commented on #52100
If we decide to deprecate the _Cookie & Consents Banner_ widget, we will be glad to help with that in @Automattic/apex. 👍🏼

[2022-01-19 16:17] #60246 closed, assigned to nobody

[2022-01-19 16:21] mreishus commented on #59996
The root cause is different method of theme activations.

**When activating a theme without purchase**, calypso displays the modal, collects the input from the user, and POSTs to `/rest/v1.1/sites/<siteid>/themes/mine` to start the theme switch, including if the homepage should be switched or not.

**When buying an individual premium theme**, calypso POSTs to `/rest/v1.1/me/transactions` to proces

[2022-01-19 16:29] mreishus commented on #59996
Are there any ways to purchase premium themes that aren't through calypso? If we decouple the purchase and activation, those would be affected. WP-Admin, maybe?

[2022-01-19 16:30] lsinger commented on #60143
Looping in @garethallison as there's the possibility that this is connected to the onboarding email series.

[2022-01-19 16:34] Robertght commented on #59865
I tried to replicate this but I wasn't able to, however, I noticed this issue: https://github.com/Automattic/wp-calypso/issues/59570 which was already fixed a few days ago.

Note: I have tested this with FSE on and FSE off and I couldn't see the error.

If there are more reports, please reopen the issue.

[2022-01-19 16:34] #59865 closed, assigned to nobody

[2022-01-19 16:49] Robertght commented on #59885
I tested this with and without FSE and in both cases, social icons did render correctly:

![image](https://user-images.githubusercontent.com/6737345/150176317-4df05d84-3311-4527-8cf5-95879701b556.png)

I'm going to close this for now as I cannot replicate it, but please reopen it if there are more reports

[2022-01-19 16:54] #60132 closed, assigned to sirbrillig

[2022-01-19 17:04] #60054 closed, assigned to kwight

[2022-01-19 17:12] Robertght commented on #59788
I'm not sure if we do something specific with these themes, but after checking the [Images in Link Shares](https://developers.facebook.com/docs/sharing/webmasters/images/)  this appears to be the default behavior.

cc @jeffikus for a second opinion

[2022-01-19 17:14] jartes commented on #56559
I also had another report here: 4700710-zd-woothemes

But, in this case, it's happening when after "hovering" the option and the mouse "leaves" the Carousel option:

https://user-images.githubusercontent.com/1046943/150180175-c8c0706e-ac53-4365-b6f0-6440e9074a96.mp4

Error:
[code]

[2022-01-19 17:14] jartes commented on #59985
Another report on: 4700710-zd-woothemes

[2022-01-19 17:15] ahmadbaig1 opened #60257 "Social Icons Block: Add Apple Icon"
### What

Would love to have the Apple Icon in the Social Icons Block.
The Apple icon may show up when users share their Apple, music profile link, etc.

### Why

The Apple Icon is already there in Social Links Menu.

So, for consistency, it would be great if the icon is added to the social icons block too!

### How

This is how it usually shows up on the social links menu-
![Markup on 2022-01-19

[2022-01-19 17:15] ahmadbaig1 commented on #60257
User request at zen-4698685

[2022-01-19 17:23] kwight commented on #59733
@SaxonF posted designs at paYKcK-1cv-p2, with a Figma at 9XooISHKU1phs4Ju2Yyy5p-fi-211%3A4142

[2022-01-19 17:23] #59733 closed, assigned to kwight, SaxonF

[2022-01-19 17:28] #60158 closed, assigned to nobody

[2022-01-19 17:31] sirbrillig commented on #45077
https://github.com/Automattic/wp-calypso/pull/60169 removes the masterbar but adding a spinner is still probably a good idea.

[2022-01-19 18:02] scruffian commented on #58819
Closing in favour of #52100

[2022-01-19 18:02] #58819 closed, assigned to nobody

[2022-01-19 18:17] #58503 closed, assigned to JulianBustamante

[2022-01-19 18:42] blackjackkent commented on #60152
@kwight I did some digging on how this list is displayed and it seems like this might not require developer work?

The categories list is generated dynamically from the list of themes -- see [client/signup/steps/design-picker/index.jsx:99](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/design-picker/index.jsx#L99) and [packages/design-picker/src/hooks/use-categorization.ts

[2022-01-19 18:56] jjchrisdiehl commented on #45078
This issue was resolved by two code deployments at:

PR #59932

Diff D73225-code

Marking closed.

[2022-01-19 18:56] #45078 closed

[2022-01-19 18:57] sixhours commented on #59678
Closing as a duplicate of #59966

[2022-01-19 18:57] #59678 closed, assigned to nobody

[2022-01-19 20:11] mreishus commented on #59996
Created https://github.com/Automattic/wp-calypso/pull/60263 + D73399-code

[2022-01-19 20:14] creativecoder commented on #59391
Thanks @zaguiini !

[2022-01-19 20:14] #59391 closed, assigned to jeyip, zaguiini

[2022-01-19 20:14] mreishus commented on #59999
May be solved by #60251

[2022-01-19 20:16] kwight commented on #60152
Sounds like the next step to figure out – maybe they're categories or tags in the theme showcase? I don't remember how that works. See what it takes to get the top item to be Commerce with the recommended pill beside it.

[2022-01-19 20:20] p-jackson commented on #60216
I don't see any harm in adding the `intent` prop to this event, so worth adding I think.

I don't think adding this prop will make it specific enough. When you're in the full screen preview of the design picker and click back, you get a `calypso_signup_previous_step_button_click` event with `step=design-setup-site`.
<img width="1580" alt="Screenshot 2022-01-20 at 9 16 06 AM" src="https://user-imag

[2022-01-19 20:24] kwight opened #60265 "Seller Experience: Add the theme selection step."
The theme selection step will come after the "simple vs. more" step, and should have commerce-specific themes already selected and "recommended".

<img width="1222" alt="Screen Shot 2022-01-19 at 12 23 25 PM" src="https://user-images.githubusercontent.com/349751/150208065-7aa8210c-a004-4e19-9322-b5d9a6c2b4c2.png">

[2022-01-19 20:27] p-jackson commented on #60216
Is it possible to add the same event twice in the same funnel? I'm thinking of a two-step funnel:

1. `calypso_signup_intent_select` where `intent=build`
2. `calypso_signup_intent_select` where `intent=write`

This two-step funnel would show which percentage of users changed their minds from "build" to "write".
Pro: only two steps, I think we can be more confident it's working correctly
Con: it ca

[2022-01-19 20:44] sirbrillig opened #60267 "Add Tracks events to masterbar cart"

[2022-01-19 20:51] cuemarie commented on #53635
User impacted by this back in June asked about it again today here: 8136190-hc

[2022-01-19 20:52] kwight opened #60268 "Cart: Content overflows the modal when exiting checkout."
Content overflows the modal when exiting checkout. I got the modal by being in checkout with something in my cart, and then clicking the `X` in the top left to bail.

<img width="867" alt="Screen Shot 2022-01-19 at 12 50 23 PM" src="https://user-images.githubusercontent.com/349751/150211878-23dede53-479e-454c-b752-10dd346ea6ad.png">

[2022-01-19 21:16] #60268 closed, assigned to nobody

[2022-01-19 21:27] creativecoder commented on #56373
We still need to do this, but I'm not sure when we'll get to it.

[2022-01-19 21:28] creativecoder commented on #58663
For this issue, yes.

[2022-01-19 21:41] cuemarie commented on #44263
+1 as I'd love to see this as well! I've had many users who'd like more control over this. Thanks!

[2022-01-19 21:45] simison commented on #54468
PR at Gutenberg: https://github.com/WordPress/gutenberg/pull/36394

[2022-01-19 22:12] kwight opened #60270 "Anchor: Verify Anchor docs about Atomic support."
Currently, [Anchor's docs](https://href.li/?https://help.anchor.fm/hc/en-us/articles/360060866231-Errors-Connecting-Your-WordPress-com-Blog) about the integration say that Jetpack and Atomic are not supported – let's verify if this is true across the board, and let them know if any changes are required.

See: pc4f5j-13S-p2

[2022-01-19 22:22] connorhipps opened #60272 "Editor View Is Very Different From Live Page View in Barnsbury"
Updating to remove user content screenshots. This issue has been fully documented elsewhere.

[2022-01-20 00:11] autumnfjeld commented on #60255
@vindl  Some newbie questions. :). Is the following correct:
* 100% of users will see the mix of classic + universal themes (obviously 😄 )
* of the users that select a universal theme, 10% of these will be defaulted to the FSE editor
* 100% of of all users will get the FSE sticker so that they can select block-based themes (did you also mean so that these users can switch to using the FSE editor?

[2022-01-20 00:45] worldomonation commented on #55950
I'm going to split the spec file `wp-calypso-gutenberg-post-editor-spec.js` into multiple smaller specs, each standing on its own.

The way `wp-calypso-gutenberg-post-editor-spec.js` is written makes it difficult to:
- isolate the feature under test
- follow along the history of the spec file for a given feature

as well as making the resulting spec file overly long.

[2022-01-20 00:56] autumnfjeld commented on #60216
I do think this would work! And I think it is a better approach, because that is the core of what I wanted to check, did user switch intent (doesn't matter if they went forward/back three screens or one).  I will give it a try.   Thank you!

Great idea, I had similar thoughts (pdgK6S-ox-p2#comment-719), if we decide this is really importatnt to track this would be the way to go.

For now I'm just

[2022-01-20 00:58] worldomonation commented on #57667
Sorry for the late reply here.

The steps you've taken to reproduce the issue are correct; however as noted this issue is intermittent, one that appears to have occur at quite low frequency.

I've taken a look at all available end-to-ends where this spec was run, and it appears that this spec hasn't failed for some time. If it happens again, I'll file a new issue.

[2022-01-20 01:08] autumnfjeld commented on #60216
Ah, hmhh. Good point!  I wonder if the DP preview should have a different step name. ` step=design-setup-site-preview`.  Are there any downsides to doing this?   (I don't think it is too big of a deal, I'm trying to think of any critical analytics that would hinge on this. But it would indeed throw off stats if someone was purely looking to see how often a user clicks back from within the DP, but

[2022-01-20 01:17] hacchism commented on #53626
#33525394-hc

Did the Public- Private- Public settings save to fix it.

[2022-01-20 01:22] ilyasfoo commented on #60143
Perhaps @pmcpinto or @jarekmorawski may be able to answer that

[2022-01-20 01:52] emilyaudela opened #60277 "Bugs in domains-only signup flow"
### Quick summary

From the [domains landing page](https://wordpress.com/domains/), users can search for a domain and start the signup flow. The design and flow is inconsistent with the regular signup flow.

### Steps to reproduce

1. Start at https://wordpress.com/domains/
2. Enter a domain name in the domain name field and click Search
3. Select a domain from the proposed domain options
4. Click

[2022-01-20 02:13] jeyip commented on #60254
https://github.com/WordPress/gutenberg/pull/38097

[2022-01-20 03:09] p-jackson commented on #60216
- We're pushing the branching in the signup flow to the limits. From memory making it a sub-step simplified the branching (one less step to existing on a weird branch). But I could be overstating this issue.
- I think of the big preview as just another feature of the design picker component, not that it advances to a whole new screen. This means we could easily add this big preview to `/new` since

[2022-01-20 03:38] arthur791004 commented on #60216
I think adding something like `stepSectionName` to the event might be better to distinguish the design picker and its preview as we also have `stepSectionName` in another flow.

[2022-01-20 04:05] p-jackson commented on #60216
Oh no! lol. I was going to say it seems like a safe thing to just add, it'd be recorded for the other "sections" that are used, like in the domain step. Having it vary for each theme won't work for us though 🥲

[2022-01-20 04:45] autumnfjeld commented on #60216
Let's just remove that tracking from the back button on the preview, since as you said it's a subsection and not a step in itself.    I'm not too fussed that we need to track it.  I don't think it is going to tell us anything dramatic and exciting about our users or the Hero Flow UX.

[2022-01-20 05:01] rambogenius commented on #50994
33713820-hc the same user reported this again.

[2022-01-20 05:19] Greatdane commented on #60200
As we are unable to replicate, and it only affects one user (two sites), we can leave this closed. Have advised the user to try another theme for now.

[2022-01-20 05:52] rw-ye opened #60280 "Calypso: by default, Child pages aren't nested under the correct Parent page"
### Quick summary

User report: 4699873-zd-woothemes

When there are a lot of child pages, they re-arrange to the correct position, only after scrolling down the page.

https://user-images.githubusercontent.com/21261509/150281025-1a1ce23c-e7b8-4640-b86a-697259837a44.mov

### Steps to reproduce

1. Open a simple/AT site.
2. Go to **Pages**.
3. Create a lot of pages (~20+) with a majority of them be

[2022-01-20 06:01] Greatdane commented on #59794
Nice sleuthing @elazzabi !

I can also reproduce using a custom domain name, which looks to be the issue (same error message as above) - WordPress.com won't display the page (I guess for security reasons) as the domain names do not match.

[2022-01-20 06:18] mdtanjid0 commented on #57812
4681620-zen.

Suggested workaround. Still trying to get the user's machine and browser info.

[2022-01-20 06:22] autumnfjeld opened #60281 "Remove unused signup flows"
## Description

As per Tracks trends in 2b63f-pb, ecommerce-onboarding, simple, main, and developer flows don't seem to get any traffic.  We will remove these flows from the code.  See prior discussion & work: https://github.com/Automattic/wp-calypso/pull/60142#pullrequestreview-856523377

## Related
https://github.com/Automattic/wp-calypso/pull/60142
https://github.com/Automattic/wp-calypso/issue

[2022-01-20 06:45] p-jackson opened #60282 "Add theme demo sites to pattern toolkit page on MC"
D71707-code

[2022-01-20 07:07] gavande1 opened #60283 "Marketplace: Implement fail safe mechanism when fetching description from WCCOM"
### Details

When we are fetching descriptions from WCCOM API, we catch the response for 24 hours. This mechanism prevents repeated calls to WCCOM API. But it will keep making calls to WCCOM API if the server is down. So we need to update the cache mechanism to support failures. If the request fails, make sure it won’t be retried after a given amount of time has passed. If it fails consecutively,

[2022-01-20 07:52] Greatdane commented on #60185
@Nic-Sevic To confirm, the issue is just the wording? `Your paid plan gives you access to prioritized Jetpack support.` should be `Your paid plan gives you access to prioritized WordPress.com support.`?

The URL takes me to the correct WordPress.com support (https://wordpress.com/help?site=URL)

[2022-01-20 08:06] Greatdane commented on #60187
Hey @carinapilar I tried this a couple of times (AT, cancel, AT, cancel) but still got just these questions;

<img width="928" alt="Markup 2022-01-20 at 17 05 24" src="https://user-images.githubusercontent.com/5075840/150297919-8d0ebcf9-5531-4653-bdf6-3568e4946b34.png">

Can you reproduce it each time or is it possible something else on the site triggered the import? (I started with a fresh site)

[2022-01-20 08:41] jartes commented on #18283
Re-opening as this option is not available on Atomic sites again with the new domains pages redesign:

![Markup on 2022-01-20 at 09:39:06](https://user-images.githubusercontent.com/1046943/150303056-b02dafcf-ebb5-4fd4-b6ff-e17fd3a74d00.png)

Reported by a user here: 33654263-hc

[2022-01-20 09:28] joashrajin commented on #55568
+1 at 33758256-hc

[2022-01-20 09:36] jromales commented on #58535
Another report here: 4702682-zd-woothemes

They are on a Premium plan, and I disabled Widget Block Editor so user can add the block in the Customizer area as a temporary solution.

[2022-01-20 09:36] gavande1 commented on #60283
WIP Diff created: D73444-code

[2022-01-20 10:13] yashitamittal11 opened #60286 "Publicize: Not able to connect to Facebook"
### Quick summary

User is not able to connect to Facebook via Publicize.

### Steps to reproduce

1- Try to connect Facebook on Tools > Marketing > Connections

### What you expected to happen

I expect to be able to connect to Facebook.

### What actually happened

I am not able to connect to Facebook and see an error.
<img width="874" alt="Facebook error" src="https://user-images.githubusercont

[2022-01-20 10:18] inaikem commented on #60286
Further internal discussion here: p1642669356163700-slack-CB0B2G43X

[2022-01-20 10:23] nagpai commented on #60286
User report - #4703767-zen

[2022-01-20 10:28] pablinos commented on #60286
Fix being worked on here D73451-code

[2022-01-20 10:34] arcangelini commented on #59757
I spent some time browsing around WordPress.com to see if there were other versions of the `. . .` page controls. It would be helpful to know all the areas where this could be utilized to help shape the package/component. Here is what I found:

### DotPager
This is a component this is strictly being used on the home page of WordPress.com as a slider for the content. [You can see the code for this

[2022-01-20 10:42] vindl commented on #60256
Based on our Slack convo: Let's put this task on hold until other rollout tasks are finished.

[2022-01-20 11:03] roo2 commented on #55141
@mattmiklic, @yaelirub, I made this card last year to implement an improvement suggested by Matt in https://github.com/Automattic/wp-calypso/issues/54441#issuecomment-885804596 But it fell through the cracks as we changed pods.

Do you think that this is worth doing? Team Ganon has some new dev's starting next week who might be able to pick this up.

[2022-01-20 11:05] pablinos commented on #60286
Fix deployed r238579-wpcom

[2022-01-20 11:09] #60286 closed, assigned to pablinos

[2022-01-20 11:11] roo2 commented on #55188
@mattmiklic @yaelirub It looks like this one slipped through the cracks too, would you still like the copy on this card to be changed?

[2022-01-20 11:14] carinapilar commented on #60187
Hey @Greatdane! I also started with a fresh site, I only ATed the site, installed a plugin (for additional Gutenberg blocks), canceled the site, which was reverted, got the plan one more time and canceled again, nothing related with any import.

I tried again now and wasn't able to replicate, this time though, when ATing the site again Jetpack got disconnected for some reason, which I'm not sure i

[2022-01-20 11:30] pmcpinto commented on #60143
The trigger some Inbox (in-product) messages based on information collected through the profiler. But they're mainly educational content. It's ok to skip the profiler/wizard

[2022-01-20 12:14] vindl commented on #60255
Hi @autumnfjeld:

Correct! 😄

Yes. These users will get the `fse-eligible` sticker (adapting the Theme Showcase etc) and `wpcom_is_fse_activated` option set to `true` to activate the Site Editor for Universal themes.

I'm leaning towards limiting the sticker to 10% to keep things consistent with the existing FSE Beta rollout in `/new`. It will also make things easier to track since we won't miss u

[2022-01-20 12:17] kimerlin81 commented on #60200
This is not a bug. Brown flagged/Mature sites do not display the footer credit.

[2022-01-20 12:20] marutim opened #60291 "Primary domain change warning for .home.blog sites"
### Quick summary

If users with a free .home.blog default domain on a paid plan attempt to cancel the plan, they’ll see a warning message saying the address would be redirected to the .wordpress.com subdomain. However, that’s not the case.

### Steps to reproduce

   - Access a site with a paid plan and a free .home.blog subdomain.
   - Go to https://wordpress.com/me/purchases, click on the plan,

[2022-01-20 12:36] chriskmnds commented on #59757
Nice finding @arcangelini ! Yes, the more we can abstract and reuse these things the better. We could also explore making these buttons customizable/replaceable I guess - since we also render back/next buttons at the same place? But small steps, could be a follow-up :-)

I guess another option could be to also focus on Gutenberg and see if we can extract a component from Guide directly into `@word

[2022-01-20 12:46] WBerredo opened #60292 "Plugin Details: The last breadcrumb has a wrong reference"
The last breadcrumb (the one pointing to the current page) is not redirecting correctly on the Plugin Details page.

- When there is a selected site,  it points to: `/plugins/{site}/{plugin-slug}`. The expected URL is: ` /plugins/{plugin-slug}/{site}`
- Where there are no selected sites, it points to: `/plugins/undefined/{plugin-slug}`. The expected URL is `/plugins/{plugin-slug}`

[2022-01-20 12:59] gius80 commented on #59794
I don't think this is a domain issue. The problem here is that the url in  "Manage Reusable Blocks" button points to a `wp-admin` page (so not in calypso), which is a subdomain of wordpress.com, and because of the SAME ORIGIN policy, cannot be open inside the iframe).

[2022-01-20 13:05] zdenys commented on #55898
Another user who could have been served the support page link https://wordpress.com/en/support/changing-site-address/#a-note-on-wpcomstaging-com-addresses in the right place instead of generating a support ticket: 4704271-zd-woothemes

[2022-01-20 13:57] #60292 closed, assigned to WBerredo

[2022-01-20 14:26] razvanpapadopol commented on #54417
Yes, @autumnfjeld, this is still an issue in the `/start` framework. I've just re-checked and [this comment](https://github.com/Automattic/wp-calypso/pull/54117#issuecomment-878117715) continues to be applicable.

Right now it impacts a specific scenario (paid plan + free domain) in the `/start/launch-site` flow, but we'll need this to work if we plan to introduce other flows where steps get exclu

[2022-01-20 14:29] allilevine commented on #60143
Thanks! To clarify, we're still collecting most of the same information, just in Calypso / WordPress.com rather than the WooCommerce wizard. You can take a look at the questions by starting the flow at /woocommerce-installation/< site id > and enabling the "woop" flag: `?flags=woop`.

I'll close this issue for now but feel free to re-open if any other possibilities come up.

[2022-01-20 14:29] #60143 closed, assigned to allilevine

[2022-01-20 14:36] arcangelini commented on #59757
For the sake of getting this done sooner than later, I may stick with the original plan. Maybe if we get a good package built we could look on extracting it again and working for Gutenberg? It would be a double extraction haha

[2022-01-20 14:54] dpasque commented on #55950
@worldomonation

As a heads up -- this is what I already did in my initial test plan mapping! This issue wording may be kind of confusing, but this new spec is only intended to have _pieces_ of that original post editor spec.

Feel free to redesign my test plan map if you want! I just wanted to give you a heads up that I already did that splitting to potentially help save you some work!

Details o

[2022-01-20 15:14] mreishus commented on #59156
I believe #59208 is still mergable. It adds the premium themes capability to jetpack business and unlimited plans, however, standalone jetpack sites will still be hidden from seeing premium themes from other changes we made, so it won't actually expose the broken flow of premium themes on standalone jetpack.

[2022-01-20 16:09] #60171 closed, assigned to obenland

[2022-01-20 16:27] ianstewart opened #60302 "Notifications: Add Notification for Invites"
We can improve the UX of our Invite system by using User Notifications for **the invitee**.

When a **site owner** invites someone we alert the site owner that an invitation was successfully sent.

![image](https://user-images.githubusercontent.com/545779/150378793-2172518b-67d7-482f-90af-1ca1dbb5107e.png)

We'll send the invitee an email to let them know they've been invited.

![image](https://us

[2022-01-20 16:28] michaeldcain commented on #60281
I know there's not traffic to support it, but I kind of wonder if we should leave the `reader` flow. For a person that only wants to use our product as a feed reader, it's a good flow, low-maintenance (only a landing page and the account page), and drops the user directly into the reader.

I think the lack of traffic has to do with our having removed the logged-out reader landing page. To test thi