[2022-07-13 16:59] jeherve opened #65554 "[Bug]: A test issue"
### Quick summary

Ignore this, this is a test.

### Steps to reproduce

1. step 1
2. step 2

### What you expected to happen

step 3

### What actually happened

step 4

### Browser

_No response_

### Context

_No response_

### Platform (Simple, Atomic, or both?)

Simple, Atomic

### Other notes

_No response_

### Reproducibility

Consistent

### Severity

_No response_

### Available workarou

[2022-07-13 17:00] markbiek opened #65555 "Theme/Plugin Bundling: Verify new taxonomy is present in the theme detail API"
Related to #65100

After #65553 is complete, we need to verify that the new taxonomy is included in API calls to get the theme details. If it's not present, we'll need to update the API call to include it.

[2022-07-13 17:01] markbiek opened #65556 "Theme/Plugin Bundling: Data file to map plugins to stepper steps"
Related to #65100

We need to have a data file in the stepper which contains a mapping of plugin slugs and the stepper steps needed to go through for each plugin.

For example
[code]

[2022-07-13 17:03] #65554 closed, assigned to nobody

[2022-07-13 17:32] markbiek opened #65557 "Theme/Plugin Bundling: Add new plugin-bundle-flow"
Related to #65100

Bundled plugins will be installed using a new flow called `plugin-bundle-flow`.

Long-term, rather than being configured to include a static list of steps (like the site-setup-flow and anchor-flow, the new flow will dynamically handle going from step to step using the list of steps retrieved from the data structure described above. I envision us storing the current plugin slug a

[2022-07-13 17:33] danielbachhuber commented on #65490
Did a performance analysis with pdKhl6-v6-p2

[2022-07-13 17:35] markbiek opened #65558 "Theme/Plugin Bundling: Update the processing step to install other plugins"
Related to #65100

NOTE: We may not implement this for the first pass since we're initially only bundling WooCommerce.

We need to update the processing step so it can install any plugin that's bundled with a theme.

[2022-07-13 17:35] daledupreez commented on #50740
As a quick update on this, I captured a more detailed plan for this internally in pdP0P1-3w-p2, and I just deployed D84039-code to start gathering stats on the response codes (and volume) we are seeing at the moment.

[2022-07-13 17:37] markbiek opened #65559 "Theme/Plugin Bundling: Create themeInstallation step"
Related to #65100

Similar to the existing `processing` step, this theme will install the specified plugin in the background. TDB if this new step will be called _before_ moving into installing bundled plugins or if it will happen at the end of the process.

[2022-07-13 17:40] #65100 closed, assigned to markbiek

[2022-07-13 17:59] msilbers commented on #65042
- [ ] 5373274-zd-woothemes

The customers coming in are specifically saying that it looks different than previously. It used to be much less zoomed in.

[2022-07-13 18:14] brandonpayton commented on #52520
@JoshuaGoode, if there is an easy way to detect that a site is private, we can automatically disable Photon Subsizes via a filte. This seems like a good way to disable it without actually turning off the feature at the Atomic platform level. Then when the site is no longer private Photon Subsizes would begin working again.

Perhaps, setting a site to Private via Calypso could also queue a job to r

[2022-07-13 18:18] JoshuaGoode commented on #53626
Hi there @roo2

Does https://github.com/Automattic/wp-calypso/pull/63947 consider and work with Atomic sites as well?

[2022-07-13 18:30] gutenberg-plugin-upgrade-bot[bot] opened #65562 "Gutenberg: v13.7.x plugin upgrade"
Previous upgrade: #64956
Release notes: [v13.7.3](https://github.com/WordPress/gutenberg/releases/tag/v13.7.3)

**Install and activate**

- [x] Install and activate v13.7.0-rc.1 on edge (D84200-code)
- [x] Install and activate v13.7.0 on edge (D84587-code)
- [ ] Activate v13.7.0 on production (######-code)
- [ ] Request v13.7.0 AT upgrade (######-p2)
- [x] Install and activate v13.7.3 on edge (D84

[2022-07-13 18:56] JulianBustamante opened #65563 "Marketplace: Create script to sync existing woo subscriptions to wc.com"
WooCommerce extensions purchased through the WP.com Marketplace are going to be also registered into WooCommerce.com. There is an integration #60661 that registers all the new WooCommerce subscriptions on the Marketplace.

A one time script is required to register all the existing WooCommerce extensions subscriptions created before releasing the #60661.

[2022-07-13 19:00] Addison-Stavlo commented on #60997
The effect to note here is the semantic HTML element that wraps the Post Title. with H1, the post title is wrapped in an <h1> element, with H2, an <h2> element, etc. From this standpoint, the H* settings are working as expected for the Post Title block. These distinctions are important for the semantic site structure, SEO, etc.

The size of the individual post title block can be adjusted in the bl

[2022-07-13 19:51] dsas commented on #65525
The dependency on a payment gateway is documented [here](https://woocommerce.com/document/subscriptions/payment-gateways/). It seems reasonable to just install the [free WooCommerce Payments extension](https://woocommerce.com/products/woocommerce-payments/), it could be added as a dependency.

[2022-07-13 19:55] nelsonec87 opened #65565 "Theme Subscription: Gather information about the future subscriptions"
To implement single theme subscriptions, we need to define the subscription periods and prices so that we can create the billing plans.

*Each different period translates to one new billing plan for each currency.

Related to https://github.com/Automattic/wp-calypso/issues/65133

[2022-07-13 19:56] worldomonation opened #65566 "Flaky E2E: Revoke the invite for test user"
### Spec file

test/e2e/specs/users/invite__revoke.ts

### TeamCity ID

8218365

### Logs

[code]

[2022-07-13 20:01] nelsonec87 opened #65567 "Theme Subscription: New/updated UI"
The new theme subscriptions will need a new UI, so it's clear that it's a subscription and shows its period and price (and the multiple options depending on https://github.com/Automattic/wp-calypso/issues/65565).

Related to https://github.com/Automattic/wp-calypso/issues/65133

[2022-07-13 20:05] nelsonec87 opened #65568 "Theme Subscription: Send correct billing options to checkout"
After the user picks a theme subscription option from [the UI](https://github.com/Automattic/wp-calypso/issues/65567), the checkout page should have the correct details (e.g. subscription period, price, currency)

We also need to make sure the purchases are stored in the DB with all the right information attached after they're completed.

Related to https://github.com/Automattic/wp-calypso/issues/

[2022-07-13 20:09] nelsonec87 opened #65569 "Theme Subscription: Create billing plans"
After https://github.com/Automattic/wp-calypso/issues/65565, we can create the billing plans for the premium themes.

We may want to do it only in the test tables until it's all finished and tested and only then sync it to production.

Premium Themes:

- [ ] Alonso `670`
- [ ] Baxter `664`
- [ ] Byrne `665`
- [ ] Kerr `668`
- [ ] Payton `669`
- [ ] Skivers `666`
- [ ] Videomaker `671`
- [ ] Videom

[2022-07-13 20:13] nelsonec87 opened #65570 "Theme Subscription: Retire old plans"
After https://github.com/Automattic/wp-calypso/issues/65569 is tested and synced to production we need to retire old plans (one-time purchases billing plans).

Related to https://github.com/Automattic/wp-calypso/issues/65133

[2022-07-13 20:16] #65133 closed, assigned to nelsonec87

[2022-07-13 21:46] supernovia commented on #65042
@annezazu If it's only an issue happening with previously-created old cover blocks, would it make sense to just grab the affected code and work with that?

[2022-07-13 21:56] agrullon95 commented on #64131
Findings and questions (@jeyip and I):

Since calypso-related data would not be available in wp-admin, we decided to investigate how the site-editor inside the calypso iframe was retrieving its `closeURL` value. The `calypsoify-iframe.jsx` component is using the `getEditorCloseConfig` selector to retrieve the `closeURL`which was essentially the last non editor URL (The URL of the previous page*).

[2022-07-13 22:03] dhackneya8c commented on #57812
Another report in 36061760-hc. Shared WP-Admin workaround

[2022-07-13 22:42] pablohoneyhoney commented on #65410
A good example of rapid collaboration and permutations. Nice work!

- [ ] Let's add a period to the body copy sentence after `...free site`, right?

- [ ] And there's something unbalanced, mialigned with this combination of price and button.
<img width="905" alt="Screen Shot 2022-07-13 at 6 35 29 PM" src="https://user-images.githubusercontent.com/25516611/178848597-2d4065d6-f282-49e2-ac31-d7ccd5ae

[2022-07-13 23:02] pablohoneyhoney commented on #65410
BTW, how would these tweaks behave in smaller breakpoints?

[2022-07-14 00:43] #64992 closed, assigned to lupus2k

[2022-07-14 00:50] pablohoneyhoney opened #65574 "Improving Titles and Labels in Plugins Page"
Besides obvious design improvements to the https://wordpress.com/plugins/ page (for which we can open a different issue), it's worth adding slightly better labelling and titles for more context, storytelling, and precision to categories, actions, and the whole marketplace/plugins page. These below are only suggestions @michaelpick, hopefully the intent comes across.

- [ ] `Plugins you need to get

[2022-07-14 01:05] Zackaryjacob opened #65575 "### Description:"
### Description:
Rate limiting feature. It will allow 20 instant subscriptions followed by 1 subscription every 3s as per docs.

### Breaking changes:
- N/A

### New features:
- [x] rate limiting

### Fixes:
- [x] client does not panic when rate limit is reached and 429 status code is received
- [x] auth channel payload event name assignment fix to avoid invalid channel exception

### PR status:
-

[2022-07-14 02:42] jeyip commented on #64131
To clarify, here's a draft PR describing and fixing the bug we were seeing. https://github.com/Automattic/wp-calypso/pull/65577

[2022-07-14 02:53] annezazu commented on #65042
Yes! That would be very helpful to cross compare to see what might be at the root of this.

[2022-07-14 03:05] annezazu commented on #65042
To be safe/to not lose more time, I went ahead and opened an issue in the Gutenberg repo: https://github.com/WordPress/gutenberg/issues/42407 As a reminder, I cannot see the zendesk tickets so if folks can share examples of the block markup impacted by this issue in the Gutenberg one, that would be very helpful!

[2022-07-14 03:35] jordesign commented on #64551
Awesome - thanks Renata :)

[2022-07-14 04:06] SaxonF commented on #65162
@grbicsanja @jeffgolenski @keoshi Thanks for the input here.

TBH I think we're going to struggle to find a perfect short term solution. I would currently vote for just moving the "all my sites" link up above search and rethinking the copy as @grbicsanja suggested. We can also just make the add site button more prominent.

![image](https://user-images.githubusercontent.com/1072756/178893989-f712db

[2022-07-14 05:25] Robertght commented on #65478
- [ ] 5366775-zen

[2022-07-14 05:31] lsl commented on #65527
Could you provide a bit more info about how to reproduce this issue? I think I've followed the right steps but don't see any hanging issue.

[2022-07-14 06:00] Robertght opened #65579 "Classic themes: Padding issue on <mark> element when using inline colors(part 2)"
### Quick summary

This is a continuation of this issue: https://github.com/Automattic/themes/issues/4934

### Steps to reproduce

Create a line of text with no spaces
Add inline colors to the text
View published page

### What you expected to happen

To not have the paddding added on the highlighted items

### What actually happened

The highlighted items produce spaces:

![image](https://user-im

[2022-07-14 06:00] Robertght opened #78655 "Classic themes: Padding issue on <mark> element when using inline colors(part 2)"
### Quick summary

This is a continuation of this issue: https://github.com/Automattic/themes/issues/4934

### Steps to reproduce

Create a line of text with no spaces
Add inline colors to the text
View published page

### What you expected to happen

To not have the paddding added on the highlighted items

### What actually happened

The highlighted items produce spaces:

![image](https://user-im

[2022-07-14 06:07] Robertght commented on #65498
I've updated the Workaround details for now:

[2022-07-14 06:12] p-jackson commented on #65181
Thanks for taking the time to explain @wojtekn. TBH I read your initial comment too quickly, and I should have slowed down to fully understand. But the way you've laid out the 3 options is very useful.

I agree with you on option (1). Since we're planning on making more drastic changes later, it makes sense that we would keep something closer to the current behaviour for now.

[2022-07-14 06:30] Robertght commented on #64974
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2  - no
- Tested on Simple - no
- Tested on AT - no
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I cannot test this as I don't have an Ezoic account, but I've added it to the board
- Linking this as well in case they share a core issue: https://github.com/Automattic/wp-calypso/issues/6497

[2022-07-14 06:43] Robertght commented on #65289
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple - no
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I cannot replicate this on my end.

📌 ACTIONS
- Await author feedback

📌 Message to Author
 - Could you check if this is still an issue for you @donalirl ?

[2022-07-14 06:55] rcrdortiz commented on #65432
Remove automattician check: D84237-code

[2022-07-14 07:01] kuropixel opened #65580 "Unable to choose free plan after clicking "Choose my domain later" in new site flow"
### Quick summary

When attempting to create a new free site, the free site plan does not appear if a user clicks "Choose my domain later" link.
![CleanShot 2022-07-14 at 15 54 31@2x](https://user-images.githubusercontent.com/83020905/178920708-0f9a97fd-2b33-4817-8726-1049fa6b0d8a.png)

Video:

https://user-images.githubusercontent.com/83020905/178921642-cf9b0787-3f93-42af-988c-10a5ba832304.mp4

#

[2022-07-14 07:45] rakshitwesley commented on #65522
5375411-zd-woothemes

[2022-07-14 07:54] simison commented on #65410
That might be worse in some languages as the text gets longer: "0 EUR /kuukausi, laskutetaan vuosittain"

Putting the text under the button, with "$0" sized the same as the rest of the text might do the trick indeed.

[2022-07-14 07:57] arthur791004 commented on #65521
Discussion: p1657722599282629-slack-CRWCHQGUB

[2022-07-14 07:57] miksansegundo opened #65582 "rtl.css files are not loaded on the onboarding flow"
There seems to be a race condition issue when loading the `localeData` because the RTL is not detected correctly. Initially, the RTL is not detected because we use a string in `localeData` which takes time to be downloaded. Finally, when we are able to detect the RTL, the RTL CSS files are not updated because the update is async and the RTL state is not rechecked.

Potential solutions are:

1. Dou

[2022-07-14 08:05] cpapazoglou opened #65583 "Marketplace: Track user clicks to /plugins educational content"
### Details

In https://wordpress.com/plugins there is an educational "Learn more" section in the bottom with three linked articles. We want to know how many users click through these links

![CleanShot 2022-07-14 at 11 04 26@2x](https://user-images.githubusercontent.com/12430020/178933336-48e407fb-22bc-4bc2-9895-152eae757493.png)

The track event should be one, taking as a parameter the URL of th

[2022-07-14 08:19] #65477 closed, assigned to jeroenpf

[2022-07-14 08:39] vishnugopal commented on #65335
Discussion:
- Can we redirect to the design picker without setting the vertical?

[2022-07-14 08:42] cpapazoglou commented on #64972
@emmnyc85 I will change the `font-size` and proportion of the copy side and we should be OK.

@vinimotaa, for the future a figma link with notes for each change should be enough.

[2022-07-14 08:46] vishnugopal opened #65585 "Research on if it's possible to skip the screen where the customer picks the Free plan"
### Issues
After Jetpack is installed and connected, we will be brought to the Jetpack pricing page without any instructions, which is pretty confusing. Users might not know which plan they have to pick as well.
### Objective
We can consider adding the Jetpack Free plan for users by default if there's no active plan and maybe skip the Jetpack Plans page at all.
### Approach
- [x] See if there's a

[2022-07-14 08:49] emmnyc85 commented on #64972
@cpapazoglou thank you! will you please share an image here? I need it for a separate P2 update too ;)

[2022-07-14 08:50] vajrasar commented on #64764
@ckmccoy2 this issue does not seem related. Am I missing anything?

[2022-07-14 08:51] mmtr opened #65586 "Business plan still offered when upselling the Footer Credit removal"
### Quick summary

Both Simple sites and Atomic sites on a non-legacy plan (Free, Starter) are asked to upgrade to the Business plan when trying to hide the footer credit.

<img width="300" alt="Screen Shot 2022-07-14 at 10 46 17" src="https://user-images.githubusercontent.com/1233880/178942537-5829fff1-71a0-4b0d-a08e-58ffd33d5d6d.png">

They should be asked to upgrade to the Pro plan instead.

##

[2022-07-14 08:59] daria2303 commented on #62461
@glendaviesnz user is asking for an update, what are we planning for this issue? :)

[2022-07-14 08:59] wojtekn opened #65587 "[Bug]: "All My Sites" link leads to empty page when navigated from backup details"
### Quick summary

The "All My Sites" link and individual site links in the sidebar work contextually. When users are browsing backups on one site, they should be navigated to backups on the other site when they use the site switcher. The same behavior should happen when they use the "All My Sites" link.

### Steps to reproduce

1. Start at the site that has Jetpack backups support
2. Navigate to

[2022-07-14 09:06] vajrasar commented on #64764
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with the affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-07-14 09:07] halleshubham commented on #64632
@jordesign may be you can help?

[2022-07-14 09:27] Gustavo-Hilario commented on #65522
- [ ] Another report here 5375411-zen

[2022-07-14 10:00] epeicher commented on #64799
Additional note:

[2022-07-14 10:01] epeicher commented on #64799
The following P2 pdt2If-e4-p2 has been created for discussion

[2022-07-14 10:08] tyxla commented on #64632
Yes, that sounds like it makes sense.

Yeah, that's likely because we're trying to use a hook in a `Component` class, and that's not allowed in React.

I'm not sure what you mean, could you please elaborate?

[2022-07-14 10:17] janmckell commented on #65152
Thanks, @vajrasar

In the case of being able to add indentation, when you use blockquote, it adds a set number of spaces on the left, but it also styles the text, so there is no way to achieve the spaces, without the style, unless you add CSS to your site. See (1) from the image below.

If you want a set number of spaces, you'd need to type out, using your space bar, that number of spaces. See (2)

[2022-07-14 10:24] janmckell commented on #65527
Thanks @lsl This was discovered after following the steps at: https://github.com/Automattic/wp-calypso/issues/65525

So, this was done:

On a Starter site..

1.     Started at Plugins
2.     Installed WooCommerce Subscriptions
3.     WooCommerce automatically installed
4.     WooCommerce Payments did not automatically install
5.     When attempting to install WooCommerce Payments, I was asked to u

[2022-07-14 10:27] donalirl commented on #65289
Hi @Robertght , yes it's still an issue. I recorded a video to show what happens when clicking Add New after logging in as a local user on an atomic site:

https://user-images.githubusercontent.com/30727666/178961911-981a29a8-cdad-41c3-97ab-2e7de8024bc3.mp4

Maybe you were navigating to Plugins → Add New? To clarify, you need to navigate to Plugins, and then click the 'Add New' button at the top o

[2022-07-14 10:27] rcrdortiz commented on #65432
The plugin is now available for anyone to purchase.

[2022-07-14 10:27] #65432 closed, assigned to rcrdortiz

[2022-07-14 10:28] csabarakasz commented on #62755
Another report using Hever theme

- [ ] 25978377-hc

[2022-07-14 10:30] halleshubham commented on #64632
Another possible quick solution could be to append Collapse-Sidebar in reader menu, what do you think
@tyxla  ?

I've tried it on my machine, works quite smoothly.
<img width="761" alt="Screenshot 2022-07-14 at 3 58 40 PM" src="https://user-images.githubusercontent.com/3984908/178962512-c9092cd7-9299-48e6-9396-eb4e4f0faba4.png">

<img width="783" alt="Screenshot 2022-07-14 at 3 58 27 PM" src="http

[2022-07-14 11:10] taftina commented on #57812
5376069-zd

[2022-07-14 11:19] emmnyc85 commented on #64972
Thanks, @cpapazoglou.
A couple last min considerations:
- Should we change the image on the right to something celebratory a la 🎉
- The 2nd and 3rd lines of text plugins to Available don't look great. Should there be a tiny increase in space between the two?

cc: @vinimotaa

[2022-07-14 11:29] jordesign commented on #64632
Thanks for jumping into this folks - I'm afraid the technical aspects are a little above my head - but the theory of trying to have the sidebar *always* open in reader sounds like a good one to me.

[2022-07-14 11:44] halleshubham commented on #64632
@tyxla
Regarding:

I'm trying to find a way in order to capture-update the Sidebar's collapsed / open state, which is seemingly maintained in Newer ways of React & causing Hook issue while accessing / updating it. Wanted to understand how can we achieve that?

[2022-07-14 11:48] cpapazoglou commented on #64972
I am not sure what you mean, this is one paragraph. I think we are over optimising for english texts.

[2022-07-14 11:52] vinimotaa commented on #64972
Hey folks, I think if we increase bit the text box it would help. It seems we have some real estate available on the white hand side;

<img width="1246" alt="image" src="https://user-images.githubusercontent.com/97929097/178976301-88d0f237-e441-4b98-8b58-d68640f2fcf3.png">

[2022-07-14 11:53] emmnyc85 commented on #64972
Understood, @cpapazoglou. Will leave to our expert, @vinimotaa, to make any adjustments

[2022-07-14 11:54] SaxonF commented on #64438
Some adjacent thinking and exploration surrounding a more complete set of layout tools [here](https://github.com/WordPress/gutenberg/issues/42385)

[2022-07-14 12:01] emmnyc85 commented on #64972
Thank you both!

[2022-07-14 12:23] tyxla commented on #64632
Is this still a problem if we want to maintain an always-open sidebar for the Reader? If it is, perhaps it might be better if we have a PR in which to continue the discussion - it could provide us with a better context of where the problem is.

[2022-07-14 12:46] halleshubham commented on #64632
@tyxla I've done changes, this concept of React HOC was totally new to me.

I've basically wrapped Sidebar component into a funtional react, which updates the sidebar collapsed state before loading of Sidebar component.

Please have a look if it's the rightful way. Here is PR: https://github.com/halleshubham/wp-calypso/pull/new/fix/64632-reader-collapsed-sidebar-issue

[2022-07-14 13:03] halleshubham commented on #64632
I think it's automatically tracked by github, here: https://github.com/halleshubham/wp-calypso/commit/769117f3d4e642d22ac6e80a633a85c4e69a0edd
![Uploading Screenshot 2022-07-14 at 6.32.57 PM.png…]()

[2022-07-14 13:11] halleshubham commented on #64632
@tyxla sorry for that, I mis read stuff. :-)

[2022-07-14 13:11] autumnfjeld commented on #64978
@miksansegundo I think this issue should be in "In Progess", ya? Can you update it on the Ganon Board.

[2022-07-14 13:17] gmovr commented on #65233
Closed by https://github.com/Automattic/wp-calypso/pull/65188/ @chriskmnds  @ciprianimike

[2022-07-14 13:17] #65233 closed, assigned to ciprianimike

[2022-07-14 13:17] gmovr commented on #65233
@mtias

[2022-07-14 13:19] miksansegundo commented on #64978
@autumnfjeld done 👍

[2022-07-14 13:22] #64121 closed, assigned to chriskmnds, claudiucelfilip

[2022-07-14 13:22] #64288 closed, assigned to chriskmnds, claudiucelfilip, gmovr

[2022-07-14 13:23] cpapazoglou commented on #65235
I started working on it, just wanted to mention that we will need to remove both implementations once we offer premium plugins to free.

[2022-07-14 13:27] chad1008 commented on #64964
Sorry @griffbrad, I missed this ping until now somehow. Yes, I'm happy to take a look!

[2022-07-14 13:40] #64972 closed, assigned to cpapazoglou

[2022-07-14 13:43] sixhours opened #65597 "Premium Theme: Yuga"
The Yuga premium theme needs the following:

* [x] Sync Yuga to WP.com (**pending Theam approval**)
* [x] Demo site creation
* [x] Theme showcase draft
* [x] Headstart annotations (don't forget to submit for translation)
* [x] GlotPress Project creation
* [x] Launch process

Cheat sheet: paYKcK-1Pt-p2

Premium theme launch guide: PNEWy-eBM-p2

Slack request: p1657517600657999-slack-C0Q664T29

[2022-07-14 14:08] rcrdortiz opened #65599 "Marketplace: Created add-woocommerce-marketplace-product command POC"
## Description
We can have a command that fetches the necessary information from WooCommerce.com product API when adding a product to the WordPress.com marketplace.

[2022-07-14 14:15] #65466 closed, assigned to dsas

[2022-07-14 14:15] mzitinfo commented on #53102
Another one in 5368345-zd

[2022-07-14 14:33] #65448 closed, assigned to dsas

[2022-07-14 14:41] Zackaryjacob opened #65602 "I agree with @johnSchnake on this. Furthermore, the Cobra project is already strained so it would be difficult to have to maintain support for other flag forms."
I agree with @johnSchnake on this.  Furthermore, the Cobra project is already strained so it would be difficult to have to maintain support for other flag forms.

__Originally posted by @marckhouzam in https://github.com/spf13/cobra/issues/1746#issuecomment-1172435130__

[2022-07-14 14:42] #65602 closed, assigned to nobody

[2022-07-14 14:43] chad1008 commented on #64964
It looks like this may already have been [fixed](https://github.com/WordPress/gutenberg/pull/42005) in 13.6.0, which is currently live on Simple sites.

The lack of new reports since 13.6.0 hit Simple a week ago is also encouraging.

@Greatdane @aleone89 @rakshitwesley @eduardozulian can any of y'all confirm that affected users are no longer seeing this issue?

[2022-07-14 14:46] #49151 closed, assigned to pottedmeat

[2022-07-14 14:52] zaguiini opened #65603 "Sites Management Dashboard: control search through query parameters"
### Details

Extends https://github.com/Automattic/wp-calypso/issues/65323.

After basic search functionality was implemented https://github.com/Automattic/wp-calypso/pull/65505, we should extend it to be shareable and persisted through query parameters.

### Done is

- [ ] The app reads the `search` or `s` query parameter and applies the value to the input on load
- [ ] Typing on the search input

[2022-07-14 14:57] zaguiini opened #65604 "Sites Management Dashboard: use fuzzy search mechanism"
### Details

https://github.com/Automattic/wp-calypso/pull/65505 introduced a basic search mechanism.

That's a good start, but it's a very "dumb" search on exact substrings, and typos are punished.

Fuzzy search, on the other hand, provides a better UX because it searches by proximity and ranks the search by relevance, even if there are typing mistakes. It's already implemented in https://github.

[2022-07-14 14:59] zaguiini opened #65605 "Sites Management Dashboard: persist search term between tabs"
### Details

Extends https://github.com/Automattic/wp-calypso/pull/65505.

We should persist the search term between tabs so the user won't need to type the term on every switch.

### Done is

- [ ] Switching tabs don't erase the search term

[2022-07-14 15:02] zaguiini opened #65606 "Sites Management Dashboard: display amount of search results for query"
### Details

Extends https://github.com/Automattic/wp-calypso/pull/65505.

We should either update the count in the tabs or display a message alongside the search input informing the user of the number of sites that were returned according to their search.

@SaxonF, please let us know which approach is better for this case.

### Done is

- [ ] The user knows how many sites were returned from their

[2022-07-14 15:07] jamiepalatnik commented on #65344
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Need more information

📌 SCRUBBING
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- There is no option to add a background color to the footer in the Site Editor, so I think we need more information to test this.
- It seems the space below the footer added in the Site Editor will be whatever color is set as the

[2022-07-14 15:33] jamiepalatnik commented on #65350
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to reproduce this issue on simple, AT, and self-hosted sites.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

📌 Message to Author
 - Thanks for the clear steps to reproduce!

[2022-07-14 15:51] #65400 closed, assigned to nobody

[2022-07-14 16:55] Robertght commented on #65609
Thank you @jamiepalatnik ! I' moving this here and flagging it to Serenity as it's a Premium theme.

[2022-07-14 17:00] ktyfuller604 commented on #57812
26441629-zd

Firefox 83.0 on Windows 10.0.0

[2022-07-14 17:20] lucasmendes-design commented on #65416
**Collection of icons:**
<img width="419" alt="image" src="https://user-images.githubusercontent.com/98343583/179036614-69a956ad-d806-4277-bcae-5368eb2f2b6e.png">

**Icons in context:**
<img width="877" alt="image" src="https://user-images.githubusercontent.com/98343583/179036900-4890b8eb-9a38-4463-bc15-1d33e04e85e0.png">

[2022-07-14 17:20] Robertght commented on #64139
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can still replicate this but I can see it's a longstanding issue here: https://github.com/WordPress/gutenberg/issues/36624

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-07-14 17:21] CodeAllNightNDay opened #65610 "Natural Theme File Button No Longer Appearing"
### Quick summary

_No response_

### Steps to reproduce

1. Install the Natural theme on a simple site from Blog RC (retired theme)
2. Add the FIle Block
3. Select a file
4. Enable the "show download button" option.

### What you expected to happen

To see the "download" text enclosed in a button.

### What actually happened

The button doesn't display, even with the option toggled on
![Screen Sh

[2022-07-14 17:39] JessBoctor commented on #65522
I had a report of this in 4698240-HC. Activated SSO for the customer.

[2022-07-14 17:54] WBerredo opened #65611 "Plugin Details: Sidebar actions"
Implement the sidebar actions similar to the SiteList component:

- [ ] Activate button
- [ ] Deactivate button
- [ ] Autoupdate toggle
- [ ] Menu to other actions (delete, etc)

The actions should be the same as in #63888

![Image](https://user-images.githubusercontent.com/5039531/179050654-f6bcb11b-8c5e-44f1-84d8-6d0b203a377c.png)

![Image](https://user-images.githubusercontent.com/5039531/17905

[2022-07-14 18:24] danielbachhuber commented on #63819
@saygunnyc Thanks! Those look great.

I only started in May so I'm not super clear on what changes you'd like me to me, and to which emails. Would you be able to list those specific changes for me?

Happy to work through this 1-on-1 too, if you want to ping me in Slack.

[2022-07-14 18:53] Robertght commented on #65422
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I had a quick convo here(p1657823555188209-slack-C029FM1EH) and it appears to be a thing that'll be merged in Core.

https://github.com/WordPress/gutenberg/pull/39529

📌 ACTIONS
- Marked as Triaged for Qualit

[2022-07-14 18:59] danielbachhuber commented on #63626
The UX is a little convoluted, but the user will shortly be able to apply transparency with this approach:

![image](https://user-images.githubusercontent.com/36432/179061780-5f9171f5-5324-4405-bad5-a5e5bcf75782.png)

[2022-07-14 19:03] #63626 closed, assigned to danielbachhuber

[2022-07-14 20:19] worldomonation opened #65614 "E2E: update defaultUser in secrets."
### Details

As discussed in pciE2j-1ft-p2, the current `defaultUser` has reached a point where the number of sites under its name is over 1000, causing tests to flake out at times.

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-07-14 20:51] TeniCola commented on #64682
Another report in 36062397-hc

Provided the CSS workaround.

[2022-07-14 20:58] AMcGrady opened #65616 "Categories not updating"
### Quick summary

Regarding site: https://naomimoriyama.com/

Issue 1: User is unable to remove the Books category from the published post: "Love at first sight. Punkaharju Esker". It can be removed in the post editor or from the Quick Edit action in the classic view listing all posts. However once the change is updated the Books category is re-checked.

Issue 2: These 2 posts:
https://naomimoriy

[2022-07-14 22:03] jerrysarcastic commented on #45586
Also reported in https://wordpress.com/forums/topic/import-error-from-transfer

Shared the same workaround that others here have suggested

[2022-07-14 23:17] #65614 closed, assigned to worldomonation

[2022-07-14 23:48] bangank36 commented on #64960
I update dev tasks for tracking implementation progress
- [ ] Retrieve intent and currentStep value on Stepper's processing step
- [ ] Improve DIFM flow loading screen ( Goals -> Hire our experts )
- [ ] Improve loading screen from Domain -> Goals
- [ ] Improve loading screen on /wooConfirm step of sell flow, it saying 'Laying the foundations' when navigate to /checkout

[2022-07-14 23:55] vykes-mac commented on #63301
I'm not sure this is a bug as described seen in the video. The user selects an empty paragraph block which now has the focus, the only time the paragraph block lost focus was when another paragraph block captures the focus. As far as i can tell the + button shows up when you click any where in the editor that's not a block so that no block has the focus. It would be good to get other persons input

[2022-07-15 00:03] #65173 closed, assigned to vykes-mac

[2022-07-15 01:43] taipeicoder commented on #64689
Closing this since we have a new iteration on the design picker.

[2022-07-15 01:43] #64689 closed, assigned to nobody

[2022-07-15 02:12] glendaviesnz commented on #62461
@daria2303 as [noted here](https://github.com/Automattic/wp-calypso/issues/62461#issuecomment-1104442180), we would need access to a copy of the post with the image links included in order to try and work out why this happened. Because it is a strange edge case that we can't replicate we can't do anything else without that, unfortunately.

There is a slim possibility that it was related to this ot

[2022-07-15 03:05] lsl opened #65619 "Marketplace: install premium plugins popup close title text cut off"
This "Close" title text is being clipped by the border of this popup.

![Screenshot_2022-07-15_13-04-08](https://user-images.githubusercontent.com/811776/179141854-2980c06e-bf4a-4564-aa79-2a1e21e9a4dc.png)

- [ ] Make sure the title text is fully visible

[2022-07-15 03:19] lsl opened #65620 "Marketplace: Woo Subscription plugin installation and broken menus"
After installing the "WooCommerce Subscriptions" plugin, I clicked on "Manage plugin" and was taken to the `/plugins/manage` screen.

Once there I clicked the "WooCommerce" link in the sidebar and was taken to the subscription plugin screen `/plugins/woocommerce-subscriptions/:site`.

Once there, every WooCommerce link links back to the page I was on.

![Screenshot_2022-07-15_13-12-35](https://use

[2022-07-15 03:23] lsl opened #65621 "Marketplace: Menu badges don't render correctly for atomic sites on wp.com"
After installing WooCommerce subscriptions the menu contains notifications badges in menu items that don't render correctly on WordPress.com.

Notice "Subscriptionsstaging" and "Home 6", the 6 is meant to be a notification badge pointing out there 6 signup notifications. The staging word is likely some other kind of badge. I believe Woo Payments also has something similar on install.

![Screenshot

[2022-07-15 03:44] lsl opened #65622 "Marketplace: WooCommerce installation signup wizard isn't able to install woo payments"
When installing WooCommerce from the plugin screen in marketplace after installation you're [dropped into a broken state](https://github.com/Automattic/wp-calypso/issues/65620), after refreshing a couple of times you get redirected to the profile setup wizard in wc-admin. Following through this signup wizard you're prompted to install Woo Payments but this fails with an error.

This was on a site

[2022-07-15 04:07] lsl commented on #65527
Thanks, reproduced and found a few extra issues along the way. (Main one here https://github.com/Automattic/wp-calypso/issues/65622)

The error in this case is because the starter plan lacks the `manage_plugins` capability which the setup payments step is expecting.

Its possible installing Woo Payments will prevent this check taking place in the first place so hopefully adding Woo Payments to all

[2022-07-15 04:53] devNigel opened #65624 "When editing reply to comment from WP Admin, it opens the parent comment"
### Quick summary

When you edit your reply to a comment from WP Admin, it opens the parent comment in the editor. I was able to reproduce this issue on Atomic sites, but not on Simple sites or self-hosted WordPress installation in Jurassic Ninja.

### Steps to reproduce

1. On a Atomic site, go to a published post.
2. Post a comment there. Write something like "Parent comment".
3. Leave a reply t

[2022-07-15 04:59] SaxonF commented on #65567
**Onboarding**
Theme card
![image](https://user-images.githubusercontent.com/1072756/179152332-ee7ffc7b-93f2-4a35-9fa4-1d88e231074f.png)
- [ ] The theme card for a premium theme shows subscription price followed by plan upgrade nudge
- [ ] Clicking plan upgrade link takes them to checkout
- [ ] Completing checkout takes them back to the themes selection step of onboarding
- [ ] Hovering over the b

[2022-07-15 05:45] 1dr0 commented on #65522
Another report of this at 36023195-hc. Membership website. SSO has to be off.

[2022-07-15 06:24] cpapazoglou commented on #65621
@mmtr are there any discussions on how WooCommerce behaves on limited atomic?

[2022-07-15 06:25] cpapazoglou commented on #65622
I believe installing `WooCommerce Payments` together with WooCommerce _on any plan_ would be to WP.com benefit. What do you think @lsl ?

[2022-07-15 06:59] edwinho89 commented on #47302
36074230-hc

[2022-07-15 07:31] jeherve commented on #64438
36074196-hc

Workaround - CSS

[2022-07-15 07:39] devNigel opened #65629 "Post Featured Image block not aligned according to the settings in the Editor"
### Quick summary

On FSE  themes, the Post Featured Image block alignment setting is not working as shown in the editor. I was able to reproduce the issue on Appleton, Antonia and Twenty Twenty-Two on Atomic and Simple sites.

### Steps to reproduce

1. Activate an FSE theme.
2. Add Query Loop block with Post Featured Image and other blocks,
3. Change the alignment of Post Featured Image block. F

[2022-07-15 08:19] #65375 closed, assigned to mmtr

[2022-07-15 08:22] ajaykj commented on #65522
Another report of this in 36074614-hc.

- [ ] [5380778](5380778-zen)

[2022-07-15 08:23] mmtr commented on #65621
I think this is a duplicate of https://github.com/Automattic/wp-calypso/issues/65479. Can we close this one?

None that I'm aware of. AFAIK it should behaves normally, just like in a normal Atomic site.

I think this is a Nav Unification issue though, since the menu renders correctly in WP Admin. There is probably some misbehavior in the `admin-menu` endpoint that parses these badges and serialize

[2022-07-15 08:31] cpapazoglou commented on #65621
Ahh, yeah... Closing this in favor of https://github.com/Automattic/wp-calypso/issues/65479

[2022-07-15 08:31] #65621 closed, assigned to nobody

[2022-07-15 08:35] Robertght commented on #65522
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple - no
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Pinging here p1657874078342039-slack-C02FMH4G8 as I could replicate it with .com sites only.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-07-15 08:51] nagpai opened #65631 "Image block: Have Figure Caption font size settings."
### What

On FSE themes it looks like figcaption fonts are defaulted to use the global system base font for content. Figure captions font size can only be overridden by CSS, it seems.

### Why

There are a lot of use cases where users want a smaller or different font size for figcaptions. There seems to be no way to set this differently other than giving a CSS override ( defeats purpose of FSE )

[2022-07-15 08:57] rcrdortiz commented on #65288
Done here: 713-gh-Automattic/dotcom-manage

[2022-07-15 09:09] druesome commented on #65522
Just wanted to add that the issue is related to this PR:

https://github.com/woocommerce/woocommerce-admin/issues/7035

Specifically when this CSS:
[code]
was changed to
[code]

[2022-07-15 09:12] nagpai commented on #65631
Ah found this related issue on core Gutenberg.
https://github.com/WordPress/gutenberg/issues/34643

[2022-07-15 09:31] #65101 closed, assigned to mmtr

[2022-07-15 09:45] dsas commented on #65453
Looks like a duplicate of #50033, I'll close in favour of that.

[2022-07-15 09:45] #65453 closed, assigned to nobody

[2022-07-15 09:45] #65035 closed, assigned to mashikag

[2022-07-15 10:06] dsas opened #65634 "[Bug]: Possible to delete certain dotcom marketplace plugins"
### Quick summary

dotcom marketplace plugins are blocked from being deleted, this is because once deleted, purchasers can't reinstall them without renewing.

This only affects pro, business and ecommerce plans - other plans don't have the manage plugins capability.

The mechanism that prevents deletion [0] doesn't work for the minority of plugins which have differing plugin slugs and store slugs.

[2022-07-15 10:19] Robertght commented on #65405
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - np
- Tested on Simple - no
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I have created two new websites and activated Morden on the source site. I have exported and imported the site in a new on using AIOWPM and couldn't replicate the issue, which means this is probably a

[2022-07-15 10:19] #65405 closed, assigned to nobody

[2022-07-15 11:12] bogiii opened #65635 "Add subscriber feature: only users with verified email addresses can access the feature"
For more info, see: pcmemI-Nw-p2

[2022-07-15 12:02] synora commented on #65522
Another report at 5381371-zen but SSO is on for the user.

[2022-07-15 12:40] mashikag commented on #65541
The current titles for the email are as follow.

If post has no title:
[{SiteName}] {LikerName} liked one of your comments

Else if post has a title:
[{SiteName}] {LikerName} liked your comment on "{PostName}"

This means that the difference here is the missing quotation marks `"` around PostName.

Waiting for response on figma.

[2022-07-15 12:52] arunsathiya commented on #65384
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - yes, but this is not exactly a bug

📌 SCRUBBING

- Tested on P2 - no
- Tested on Simple - no
- Tested on AT - no
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO

- Not applicable.

📌 ACTIONS

- Needs to be tracked upstream on core Gutenberg repository.
- We can retain this issue on WordPress.com though, to track our customer

[2022-07-15 13:14] arunsathiya commented on #65428
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on P2 - no
- Tested on Simple - ✅
- Tested on AT - ✅
- Tested on Self-hosted - ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

- I can reproduce on Archeo and Skatepark. This is both on simple and self-hosted.
- I cannot reproduce on Twenty Twenty-Two.

📌 ACTIONS

- Transferring to themes repository.

📌 Message to Author

-

[2022-07-15 13:21] arunsathiya commented on #65455
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 SCRUBBING

- Tested on P2 - no
- Tested on Simple - not applicable
- Tested on AT - not applicable
- Tested on Self-hosted - not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

- I see the same behavior.

📌 ACTIONS

- Closing this because it's not exactly a bug. It's the intended behavior: p1656516851396149/1656503682.34624

[2022-07-15 13:21] #65455 closed, assigned to nobody

[2022-07-15 13:33] theRAGEhero opened #65638 "[Bug]: Cannot create or modify any post from the desktop app"
### Quick summary

Hello,
since one year, every time I use the desktop Wordpress app (on both Linux and Windows), I can't open or modify any post.

I allows me to login and to see the list of published posts and drafts, but when I click on Create o Modify it redirect me to the browser version.

From the Android app everything works fine.

Thank you

### Steps to reproduce

1. Open the desktop Word

[2022-07-15 14:18] #65013 closed, assigned to nobody

[2022-07-15 14:39] saygunnyc commented on #63819
Thank you @danielbachhuber ! Pinging @phcp and @yansern here as they have been working on the emails.

[2022-07-15 14:59] matiasbenedetto commented on #64682
A PR with potential fix for this: https://github.com/WordPress/gutenberg/pull/42470

[2022-07-15 15:08] dsas opened #65640 "Make the create marketplace product command do the managed plugin request to atomic"

[2022-07-15 15:16] cpapazoglou commented on #65235
After finishing a POC for the cancellation flow, it has occurred to me when while the plan is rendered unavailable when subscription gets removed (and thus we are removing the marketplace subscriptions) cancelling the plan will render it unavailable (remove it) in the next billing cycle. We shouldn't cancel the marketplace subscriptions just because the plan is cancelled. For example

**Scenario 1

[2022-07-15 15:50] #65460 closed, assigned to cpapazoglou

[2022-07-15 15:51] arunsathiya commented on #30252
Sorry I missed this, and thanks for the detailed inputs, @ash1eygrace! Agree on closing this out as well as this does seem by design, and the search input field should help. ✅

[2022-07-15 16:42] TPilgs commented on #65042
Another instance here: 34135037-hc

User requested to be notified if/when it's fixed.

[2022-07-15 17:12] JoshuaGoode commented on #65616
Hi @AMcGrady

Feel free to reach out internally, to at-help, about things like this. Or post on the internal requests P2. We

This can be fixed:

p9F6qB-9s1-p2#comment-47301

[2022-07-15 17:36] #59526 closed, assigned to edanzer

[2022-07-15 17:38] danielbachhuber commented on #65606
To whomever picks this up: this issue is probably impacted by #65644, so might want to wait until that lands.

[2022-07-15 18:33] markbiek opened #65645 "[Bug]: Missing content/functionality when visiting /themes while logged out"
### Quick summary

When visiting `/themes`  _while logged out_ and the search bar is attached to the top of the screen.

There is also functionality for theme searching/filtering that's not visible when logged out, though this may be by design.

![image](https://user-images.githubusercontent.com/917632/179288094-68d89c59-a156-4b24-9132-82b25eed7a28.png)

### Steps to reproduce

Visit `/themes` on

[2022-07-15 18:42] markbiek commented on #65645
As noted by @donlair , this could be a good opportunity to add a header footer that matches the rest of the logged out experience (items 1 and 2 on pcOTDw-gx-p2).

[2022-07-15 19:24] lupus2k commented on #65522
I commented @druesome [here](https://github.com/Automattic/wp-calypso/issues/65522#issuecomment-1185342505), the problem came from [this file](https://github.com/Automattic/wc-calypso-bridge/blob/master/store-on-wpcom/assets/css/admin/nav-unification.css).

Changing this:
[code]
to this:
[code]
Should fix the problem.

[2022-07-15 20:12] zaguiini opened #65649 "Social Authentication: Distinguish authentication flow when emitting Tracks events"
### Details

We have three separate authentication flows where we're handling social connections:
- log in (`/log-in`);
- sign up (`/start/user`);
- account linking (`/me/security/social-login`).

Right now, it's not possible to distinguish on Tracks from which flow the events are being fired.

The goal of this task is to add an event property (i.e. `flow_name`) where we can identify and filter th

[2022-07-15 20:14] moon0326 commented on #65522
Thank you, everyone!

The fix is included in [wpcomsh 2.5.0](https://github.com/Automattic/wpcomsh/releases/tag/v2.9.50), and it'll be released as soon as possible.

[2022-07-15 20:14] moon0326 commented on #65522
Thank you, everyone!

The fix is included in wpcomsh 2.9.50 and we'll release it as soon as possible.

[2022-07-15 20:53] sirbrillig opened #65650 "Visiting checkout with a dotcom domain for a wpcomstaging site appears to add an invalid cart item"
To reproduce:

1. Use a site that has a [your site here] .wpcomstaging.com site slug.
2. Visit `/checkout/[your site here] .wordpress.com` (without the space).

What I expected to happen: checkout loads an empty cart view.

What actually happened: checkout tries to add a product to the cart with the `product_slug` set to the `wordpress.com` domain name. It fails and you get an error message.

One

[2022-07-15 21:03] edequalsawesome commented on #63262
Had the same issue in 36080116-hc (Chrome on macOS) -- disconnecting and reconnecting Jetpack worked for the customer

[2022-07-15 21:05] halleshubham commented on #65371
I see that state is updated with false value when the cart is hidden, but it doesn't reflect.
Pleas find here:

https://github.com/Automattic/wp-calypso/blob/11a04f43d6c44bff2c8264418ce4fabd55db138d/client/layout/masterbar/masterbar-cart/masterbar-cart-button.tsx#L57

[2022-07-15 21:10] zaguiini opened #65651 "Social Login: Offer to create a new account if it doesn't exist"
### Details

If you try to social login (https://wordpress.com/log-in) using a social account (i.e. Google) that is not registered in WordPress.com, you'll get an error message saying that the account doesn't exist:

![image](https://user-images.githubusercontent.com/26530524/179310902-7bc60d99-35ab-48a6-b22c-86ece9e58a50.png)

While that's accurate, it's a below-average user experience because we

[2022-07-15 21:30] Jaykame commented on #57812
36080329-hc

Chrome Version 103.0.5060.114 (Official Build) (arm64). User is using Mac OS 12.4

I asked user to view their posts on the Classic view and that seem to did the trick for them.

[2022-07-15 21:45] sirbrillig commented on #65650
This might be caused by this code, which is used to find the product slug from the URL.

https://github.com/Automattic/wp-calypso/blob/11a04f43d6c44bff2c8264418ce4fabd55db138d/client/my-sites/checkout/utils.ts#L11-L12

Because the wordpress.com slug (probably `domainOrProduct` in that block) does not match the wpcomstaging.com slug (probably `selectedSite` in that block), it might assume that the

[2022-07-15 21:54] phcp commented on #63819
Hey @danielbachhuber!

The **New Post**, **New Subscriber**, **Confirm Subscription**, and **Welcome e-mail** [are in production](https://wordpress.com/blog/2022/05/19/your-website-looks-great-so-should-your-emails/), so those would be a good starting point. The width changes should follow [Saygun specs above](https://github.com/Automattic/wp-calypso/issues/63819#issuecomment-1181860518). It'd be

[2022-07-15 21:57] zaguiini opened #65652 "Social Sign Up: Offer to login if account already exists"
### Details

On https://wordpress.com/start/user, if a user tries to sign up with a social account that is already registered in WP.com, instead of being redirected to `/home`, they're sent to `/start/domains`.

That's fine if they don't have any site. The problem is that the session cookie is not set, so if they close that page and open https://wordpress.com/, they're shown the logged-out landing

[2022-07-15 21:57] supernovia commented on #53017
**Just noting another case here:**
https://wordpress.com/forums/topic/making-posts-public-without-paying-for-a-plan/
"I have created and ‘published’ blog posts, but they’re locked and not visible to external viewers. It seems I’m being forced into buying an annual hosting plan. What happened to the free blog platform, or what I am doing wrong?"

"Hello there, Let me just add that the links you sha

[2022-07-15 22:11] zaguiini opened #65654 "Social Sign Up: Warn the user about an already existing account"
### Details

If the user tries to log in with a social account, but that e-mail address is already associated, we display a message:

![image](https://user-images.githubusercontent.com/26530524/179317132-92a3f2d3-4d67-4b66-a325-5d1f4cae6203.png)

That's very good because then the user knows that they already have an account with us.

However, doing the same thing in `/start/user` produces a very d

[2022-07-15 22:22] mxhassani commented on #51371
Similar issue here: 5384307-zd-woothemes

[2022-07-15 22:29] thekingsprojects commented on #57812
Another case:

- [ ] 5385041-zen / 360805570-hc

User went quiet before I could get browser details, but they mentioned using Safari.

[2022-07-15 22:29] sirbrillig commented on #65650
This might be fixed by https://github.com/Automattic/wp-calypso/pull/65655

[2022-07-15 23:02] supernovia commented on #53017
[Another case here](https://wordpress.com/forums/topic/cent-link-pages-correctly/):

"all the links you have added to your menu are links to the editor-view of your pages"

[2022-07-16 01:47] devNigel opened #65656 "New posts email notifications have incorrectly encoded subject lines."
### Quick summary

The new posts email notifications for a user's blog have incorrectly encoded subject lines.

Looks like accent letters like `é` is causing the issue.

Screenshot:

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/33957570/179329844-3cbddc51-04c4-4756-83b0-976726199cd0.png">

Slack: p1657881921992959-slack-C03TY6J1A

Reporting this issue as bug as sugg

[2022-07-16 04:15] hacchism commented on #65522
Another report in 36081415-hc after the comment @moon0326 above. SSO is on for the user.

- [ ] 5386532-zen

[2022-07-16 05:10] moon0326 commented on #65522
✋

I've left a comment on the issue.

[2022-07-16 05:32] syhussaini commented on #65624
I am just checking if we have any updates on this one.

[2022-07-16 06:26] hacchism commented on #65522
Thanks @moon0326✨ I checked your comment on the ticket but adding the CSS code in `Appearance -> Additional CSS` wouldn't help as the issue is not on the front-end. For now, I'm going to suggest deactivating the problematic plugin👍

[2022-07-16 06:52] lsl commented on #65622
Yes but...

I thought there was a plan to integrate it into woo core. Did that not end up happening?

There is a permanent notification nudge until you go through KYC. Can we disable that?

Can woo pay be removed/hidden if people don't want woo pay installed? I seem to recall the post transfer atomic hooks needing to be repeatable (though I don't think they are repeated) - if they are repeated woo

[2022-07-16 07:12] vajrasar commented on #65522
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-07-16 08:33] arunsathiya commented on #52100
- [ ] 5380722-zen

[2022-07-16 09:00] edwinho89 opened #65657 "Justify contents vertically on column blocks"
### What

A good example would be like this P2: p9cu9o-3wc-p2 , where CSS is required to justify contents and align the bottom as below:

[code]

Reported on 5384203-zd-woothemes

### Why

Looks good on a column block!

### How

Apply the following CSS above on justify contents within column blocks

[2022-07-16 10:15] csabarakasz commented on #65522
A user reported the same issue. Report: 34773636-hc

It seems like the .woocommerce-layout__activity-panel-wrapper class' `height: calc(100vh - 92px);` value is causing the issue.

- [ ] followup ticket: 5389565-zd-woothemes

[2022-07-16 10:34] emmnyc85 commented on #64972
We should take the users to the plugin page

On Fri, Jul 15, 2022 at 4:29 PM Vini Mota ***@***.***> wrote:

[2022-07-16 10:35] emmnyc85 commented on #64972
*PAID plugins page :)

On Sat, Jul 16, 2022 at 12:33 PM Eric Miller ***@***.***> wrote:

[2022-07-16 11:40] vajrasar commented on #65522
cc @moon0326

[2022-07-16 12:36] moon0326 commented on #65522
Hi ✋

I've left a comment on the ticket. I'm not sure if there was a change, but I wasn't able to reproduce.

[2022-07-16 12:53] moon0326 commented on #65522
Thank you! In that case, we can suggest plugins such as https://wordpress.org/plugins/admin-css-mu/ to apply custom styles to the admin area.

[2022-07-16 15:21] Gustavo-Hilario commented on #56370
+1 for this feature here: 36085059-hc

The Query Loop blocks also don't offer this option.

[2022-07-16 18:47] halleshubham commented on #65371
@michaeldcain I hope you seen above comment.

[2022-07-16 21:26] thekingsprojects commented on #65522
This same user wrote back saying that the issue is still happening for them, and I've confirmed the issue is still present.

For now I've let them know a fix is coming, and suggested that they click the Activity button to expand the panel if they need to access the right edge of the screen.

- [ ] Follow-up: 5381371-zen

[2022-07-16 23:55] moon0326 commented on #65522
Thank you. The user can also expand the sidebar as a workaround. That might be easier.
![Screen Shot 2022-07-16 at 4 54 39 PM](https://user-images.githubusercontent.com/4723145/179375427-a87a8ad3-8d06-47b5-9dd2-fae2e374a85f.jpg)

[2022-07-17 05:52] hacchism commented on #63274
Another request in 36088885-hc.

User wanted to create a template that has a different background color than others.

[2022-07-17 08:14] dolgelukkig opened #65658 "User needs to use log in button to read premium content"
### Quick summary

When subscribers to premium content receive an email and click through to read the content they need to click the login button on the premium content block before being able to read the content even though they are already logged into WordPress.com.

### Steps to reproduce

- User posts a new post with premium content
- Subscriber receives an email with a preview and link to the

[2022-07-17 10:04] sharonlaker19 commented on #65656
I played into this ticket and ran some further tests, I was unable to reproduce on my AT site, [same as Nigel](p1657936762663119/1657881921.992959-slack-C03TY6J1A).

I tested:

- using the Classic Editor plugin.
- using the Hemingway Rewritten theme.
- using both the Classic Editor plugin and the Hemingway Rewritten theme at the same time.

The notification emails had the correct formatting in all

[2022-07-17 13:24] jp-imagines commented on #65384
Submitted here: https://github.com/WordPress/gutenberg/issues/42482

[2022-07-17 14:52] sharonlaker19 commented on #62755
I got a new report today in 36091830-hc

[2022-07-17 15:52] kspilarski opened #65659 "Cubic theme: A page blog posts block and featured image will not display the post title and post meta"
### Quick summary

In a page or portfolio with a blog posts block, the post title and post meta won't be displayed if you add a featured image.

### Steps to reproduce

1. Activate the Cubic theme
2. In a page or portfolio project, add a blog posts block
3. In the blog posts block Post Meta Setting, enable Show Date, Category, etc.
4. Publish the page or portfolio project and view it.
5. Then go b

[2022-07-17 16:28] Babylon1999 commented on #52117
One more here: Zd-5400625

[2022-07-17 16:54] mxhassani opened #65660 "Add browser theme color support to themes (Theming - iOS 15 Safari bezel color)"
### What

Add the option to select the browser theme color, to be able to do the following:
From:

![image](https://user-images.githubusercontent.com/81776920/179415410-a3ab1606-1e55-4f69-9c1d-943016304dc8.png)

To:

![image](https://user-images.githubusercontent.com/81776920/179415496-7da9d3e7-929c-4263-b31d-fd343d27cffb.png)

### Why

To respect style, branding, and theming guidelines:

https://

[2022-07-17 17:11] Babylon1999 commented on #57812
One more here: 5400889-zen

[2022-07-17 17:39] shohanhossainnab opened #65661 "Widget doesn't appear on the shop page when the visibility rule is set to 'page == shop'"
### Quick summary

When a visibility rule is set for a sidebar widget (Filter Products by Attribute) and the rule is set to 'if page' is 'shop,' the widget/sidebar doesn't appear on the shop page. However, if the rule is changed to 'if page' is 'Archive page,' the widget/sidebar appears correctly on the shop page.

### Steps to reproduce

1. Make sure the shop page is not set as the home page.
2.

[2022-07-17 19:20] jp-imagines commented on #65610
- [ ] Another report in 5398718-zd-woothemes.

This user is on the `Aquene` theme (Atomic site). I'm able to replicate the same on a test site: on some themes, the button has styling, but on `Aquene` all styling is missing (and it's styled as just a plain link instead).

[2022-07-17 19:45] mxhassani commented on #65042
Another one: 5401674-zd-woothemes

[2022-07-17 20:59] cuemarie commented on #65042
@annezazu Coming back to this after some time away from guild work, thank you for pushing forward with the Gutenberg issue!  Is this the kind of code that's helpful?

![Markup on 2022-07-17 at 13:45:03](https://user-images.githubusercontent.com/27249804/179424148-66e4a0e4-62b0-4803-9725-413fc63205fc.png)

Here's the full copiable code from the OP's cover block, I've just swapped the Image URLs wit

[2022-07-17 21:01] csabarakasz commented on #65522
- [ ] 5389565-zd-woothemes
Suggested the collapse menu workaround for now!

Thank you!

[2022-07-17 23:12] p-jackson commented on #65168
That sounds like a great option @wojtekn

[2022-07-18 01:11] nanoanno opened #65662 "Mini Cart Block pop-out is blank when running Page Optimize"
### Quick summary

When running the plugin Page Optimize, the Mini Cart block will display a blank pop-up for the cart.

### Steps to reproduce

1. Install Page Optimize.
2. Add the Mini Cart block to a page.
3. Add a product to the cart.
4. Click on the mini cart icon.
5. The pop-up will open up, but it is completely blank.
6. Disable Page Optimize and the pop-up appears with cart information, as

[2022-07-18 04:56] SaxonF commented on #65162
[This post](pdKhl6-vB-p2) also highlights a few edge cases we need to be wary of. For example, the existing "all my sites" link sometimes takes you to global level pages e.g. if you are on statistics and click that link you are taken to an overview of all sites. The behaviour is not consistent.

[2022-07-18 06:46] autumnfjeld commented on #65075
@miksansegundo I've just updated the Acceptance Criteria to make this work clearer.  I have already done the image sourcing necessary for this work.  Essentially the dev work is just making changes to the white list as Griffith said [here](p1658126401233769/1658118879.005949-slack-CRWCHQGUB)

[2022-07-18 06:56] Robertght commented on #65616
I have applied that fix for now, and I'm closing this one.

cc @AMcGrady

[2022-07-18 06:56] #65616 closed, assigned to nobody

[2022-07-18 07:54] dsas opened #65663 "[Bug]: Marketplace installs where site has plugin slug with special chars"
### Quick summary

Installing software from the marketplace skips all plugins except direct dependencies when executing the symlink command. Plugins which have en-dashes (\u2013 –) in their slugs will cause a spurious alert to be logged, and investigated.

Other special characters haven't been tested.

### Steps to reproduce

1. Get a Pro/Business/eCommerce site
2. Install a plugin with an en-dash

[2022-07-18 07:58] dsas commented on #65663
The error comes about when we generate a list of plugins to skip while installing. The list of skipped plugins is all plugins except direct dependencies. This looks like it's just theatre anyway. Plugins aren't going to need anything from their dependencies while being symlinked, the command doesn’t give any opportunity to do anything.

When the activation step is done, it excludes all plugins, in

[2022-07-18 08:29] Robertght commented on #65478
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅ but I couldn't replicate this so it might be .com specific only.

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the issue last week, but I do not know where to flag this forward. I'm checking here p1658132599176889-slack-C03U

[2022-07-18 08:41] Robertght commented on #65510
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Reported it here: https://github.com/WordPress/gutenberg/issues/42494

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to https://github.com/WordPress/gutenberg/issues/42494

[2022-07-18 08:50] daria2303 commented on #65344
@jamiepalatnik thank's for checking. I was not precise enough. The color is needed only to notice it and it needs to be added in a block inside the Footer, you are right. If the footer background is white it just looks like a must-have space but the HTML is there. One example is our team meetup project where we had this issue: https://polarismeetuptheme.wpcomstaging.com/
![Markup on 2022-07-18 at

[2022-07-18 08:56] Robertght commented on #65526
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I noticed a general inconsistency with this and other blocks as well. Seems to be an issue with other blocks as well but it's edge cases.

@annezazu do you know if this would fall into any ongoing PRs?

📌 ACT

[2022-07-18 09:19] bogiii opened #65666 "Rename 'Email followers' to 'Subscribers'"

[2022-07-18 09:29] cpapazoglou commented on #65528
@ianstewart it seems that WooCommerce is very dependant on other plugins. I can think of 2 different solutions:

- Hide sections that lead to installing non-marketplace plugins
- Change the messaging, including "Installing free plugins is available only in X, Y plans. Click here to upgrade."

[2022-07-18 09:31] edwinho89 opened #65667 "Expanding list view covers the overlay menu items on navigation"
### Quick summary

On Page editors, when clicked to expand Navigation block with "always" on overlay menu, the list view expands and covers the overlay menu items.

### Steps to reproduce

1. Create a page
2. Insert Navigation block with menu items
3. On the Navigation block, select "always" on overlay menu.
4. Expand list view on editor

### What you expected to happen

The page editor should red

[2022-07-18 09:33] bogiii commented on #65666
I've only renamed the tab name. The route remains `email-followers`.

I didn't want to touch the route because of potential regression. There is probably some redirection out of the module.

We can do it in the future once we familiarize ourselves with the full feature.

[2022-07-18 09:51] gcsecsey commented on #65235
@cpapazoglou thanks for breaking down these scenarios! It does seem like this will be a non-issue once we've launched to free, but we'll then need to remove the current implementation. Until then, as a temporary solution, maybe we should add some messaging around how the plan/subscription changes if they cancel?

[2022-07-18 09:53] pauljacobson commented on #57812
We seem to have another report of this here:

- [ ] 5374786-zen

The user tried in Edge and Chrome on Windows. They shared details about their Edge browser here: https://www.whatsmybrowser.org/b/MF2TS

[2022-07-18 10:03] rcrdortiz commented on #65599
724-gh-Automattic/dotcom-manage

[2022-07-18 10:03] #65599 closed, assigned to rcrdortiz

[2022-07-18 10:12] mmtr commented on #65235
I agree. Given that it has been working for a while like that without causing any major issue (as far as we know), and since the problem will resolve on its own after launching on Free sites, I don't think we need any temporary solution.

Let's just make sure that we revert the current implementation in https://github.com/Automattic/wp-calypso/pull/65404

[2022-07-18 10:32] rcrdortiz commented on #65481
https://github.com/Automattic/dotcom-manage/issues/725

[2022-07-18 10:40] rcrdortiz commented on #65481
1041-gh-Automattic/wpcomsh

[2022-07-18 11:19] mashikag opened #65669 "Goals Capture: Flashing loading screen after goals page opens"
### Quick summary

This is a regression.
Seems to be caused by: https://github.com/Automattic/wp-calypso/pull/64204

![2022-07-15_14-14-00 (1)](https://user-images.githubusercontent.com/2019970/179499616-e7a69d60-8a91-4b82-a439-3cb47a92cadb.gif)

Originally reported here: p1657883782562819-slack-C02TCEHP3HA

### Steps to reproduce

1. Open https://wordpress.com/setup/goals?siteSlug=<YOUR SITE>
2.

[2022-07-18 11:33] arunsathiya opened #65670 "Skatepark: Button to add new social icons not legible"
### Quick summary

The button to add new social icons is not legible on Skatepark theme. I have tested with Twenty Twenty-Two and Archeo, but they seem okay.

### Steps to reproduce

- Activate Skatepark on a simple site or an Atomic site.
- Add the "Social icons" block to the header area.
- Click on that block on the list view. Not the inner social icons.
- See that the "+" button to add more soc

[2022-07-18 11:33] arunsathiya commented on #65670
5364126-zen.

[2022-07-18 11:36] arunsathiya commented on #65670
Hmm, the bot marked it as a blocker because I set "No and the platform is unusable". Technically, it's not a blocker but the "+" button is not legible at all. So, I'll leave "No and the platform is unusable" as such but we could downgrade the priority to "High". I'll let the next PQA do that.

[2022-07-18 11:55] yansern opened #65671 "Goals Capture: Add combo & total prop to the track events."
### Details

Adding `combo` and `total` prop helps with answering metric combinations such as what is the popular goal combination and how many goals are generally selected.

### Checklist

- [x] Add `combo` prop stores comma-delimited goals in alphabetical order.
- [x] Add `total` prop stores total number of goals.

### Related

_No response_

[2022-07-18 12:14] bogiii opened #65673 "People UI: Rename 'Invites' tab to 'User Invites'"

[2022-07-18 12:15] danielbachhuber opened #65674 "Sites Management Dashboard: Filtering `sites` in the `SitesDashboard` component"
In https://github.com/Automattic/wp-calypso/pull/65644#discussion_r923078035, @p-jackson sez:

After I submitted the pull request on Friday, I had some later reflection wondering if the filtering of `SiteData[]` is happening at the right level.

To me, it seems like the application of `queryParams` should happen in `<SitesDashboard>`, and then the filtered `SiteData[]` passed into the child compon

[2022-07-18 12:15] bogiii opened #65675 "People UI: Rename 'Invite' button to 'Add User'"

[2022-07-18 12:20] #65671 closed, assigned to yansern

[2022-07-18 13:40] cpapazoglou commented on #65634
This check is happening in `wpcomsh.php#L383`

[2022-07-18 13:47] #65669 closed, assigned to mashikag

[2022-07-18 13:48] dsas commented on #65663
D84389-code

[2022-07-18 13:55] cpapazoglou commented on #64891
We might also utilise the WC.com API, 12902-gh-Automattic/woocommerce.com if it suits us instead of using ES.

[2022-07-18 13:58] dsas commented on #65634
This has been discussed here: p1657798282113709/1657791814.481889-slack-CJS75TX3R. To summarise, maybe we can install something in atomic metadata, or record the slugs in a new APD (most likely).

[2022-07-18 14:20] cpapazoglou commented on #65235
Thanks, let's close this for now.

[2022-07-18 14:29] yansern commented on #52100
I feel that the "when & where to show" the cookie banner is the difficult part to implement.

If we take this difficult part (when & where to show) out of the equation, perhaps we can start by first creating (or migrating the legacy widget) to a Cookie Banner Block and let users decide by themselves if they want to it to their site (either to FSE or Widgets Editor).

At least when the functionalit

[2022-07-18 14:37] JulianBustamante opened #65682 "Marketplace: Cancel order on WC.COM when WooCommerce plugin subscription is cancelled on WP.COM"
The Marketplace is registering in WC.COM the subscriptions to WooCommerce products through the Host API. This registration must be canceled when the subscription has been removed from the WP.com Marketplace.

[2022-07-18 14:39] JulianBustamante opened #65683 "Marketplace: Update domain on WC.COM when domain changes on WP.COM"

[2022-07-18 14:42] cpapazoglou commented on #65525
We can do one of the following:

1. Add it as a requirement for each WC.com extension
2. Automatically install whenever `woocommerce` gets installed

[2022-07-18 15:00] Addison-Stavlo opened #65684 "LaunchPad v1 - tracking issue"
Related to project thread - paYE8P-1Kg-p2
EDIT - Follow-up tracking moved to https://github.com/Automattic/wp-calypso/issues/67335

### For Initial CFT

#### LaunchPad Container
- [x] https://github.com/Automattic/wp-calypso/issues/66119 (https://github.com/Automattic/wp-calypso/pull/66194)
- [x] https://github.com/Automattic/wp-calypso/issues/66130
- [x] https://github.com/Automattic/wp-calypso/i

[2022-07-18 15:02] rcrdortiz commented on #65481
726-gh-Automattic/dotcom-manage

[2022-07-18 15:02] rcrdortiz commented on #65481
Product released.

[2022-07-18 15:02] #65481 closed, assigned to rcrdortiz

[2022-07-18 15:16] Addison-Stavlo opened #65685 "Spike/Prototype - LaunchPad checklist components"
We need to craft a checklist module that can be customized for different sets. Lets focus from the component side first and later adjust backend depending on what we need and how viable it is to use existing checklist or other prior work.

Some open thoughts about requirements:
* Supports multiple checklists. (Newsletter checklist, links-in-bio checklist, store setup checklist, etc.) - and a launc

[2022-07-18 15:24] Babylon1999 commented on #57812
Another case here: 5386158-zd

[2022-07-18 15:25] #64632 closed, assigned to nobody

[2022-07-18 15:37] Addison-Stavlo opened #65686 "Spike/prototype - LaunchPad Screen"
We need to give the LaunchPad a place to live!

What we know about requirements to explore solutions for:
* LaunchPad is full-width/height view screen - hiding calypso and wp-admin interfaces from view. Whether we do this with stepper, full screen overlays, or other solutions is open.
* Onboarding flow leads into the LaunchPad.
* LaunchPad is the landing point after navigating out of the editors a

[2022-07-18 15:43] manuelrebollo-a11y opened #65687 "Renaming "My Blogs" page to include "Sites" in the description"
### What

The [My Blogs](https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs) page creates confusion in some users, when they consider they host only sites and the "Blogs" description is detrimental to their SEO and visibility.

### Why

Despite explaining that being listed in this page does not tag any set of pages and posts as a "blog" or a "site" by itself, users such as the one in

[2022-07-18 15:49] blackjackkent opened #65688 "Seller Experience - Establish tracks funnel for user progression through design picker"
Let's set up a tracks funnel to analyze user behavior when selecting a theme in onboarding. This will be necessary to do the comparisons regarding conversion after deploying https://github.com/Automattic/wp-calypso/issues/65138.

[2022-07-18 16:02] obenland commented on #65395
Yes, that's what I meant, apologies for the ambiguity.
Thank you for that updating those!

[2022-07-18 16:14] KirkwallDay commented on #57812
- [ ] 5402057-zen
What is my browser link:  https://whatismybrowser.com/w/H72QLGR  (Firefox 102, Max OS X 10.15)

[2022-07-18 16:16] blackjackkent commented on #65567
@SaxonF Thanks! We realized as we were working on discussing our plans for this sprint that there is going to be the possibility of a user purchasing either a yearly or monthly subscription and these designs only assume the yearly subscription option. Can we get updated designs in that regard? :)

[2022-07-18 16:19] blackjackkent opened #65692 "Theme subscriptions - trigger premium theme deactivation process if subscription expires"
If a new theme subscription expires, we should trigger whatever process currently takes place when a user deactivates their premium theme.

Please document here or in P2 the existing process with as much detail as possible, and work with @ianstewart / @michaeldcain to learn more about how to trigger this dynamically at the end of a subscription (either by expiration or explicit cancel).

[2022-07-18 16:22] blackjackkent commented on #65569
We may be able to leverage work from the Ajax team for automating this process for future premium themes. (This should also be added to our premium theme launch checklist process once complete.)

[2022-07-18 16:27] blackjackkent commented on #65645
For our purposes for this issue, let's just focus on the functionality fix; other design updates will be in the works separately.

[2022-07-18 16:34] markbiek commented on #65493
Fixed by D84286-code

[2022-07-18 16:34] #65493 closed, assigned to nobody

[2022-07-18 16:35] blackjackkent commented on #65356
Let's reconsider this when we have Woo-specific themes.

[2022-07-18 16:41] blackjackkent commented on #65138
Since this modal will have to be further changed to support theme subscription work, we will deploy it from behind the feature flag at the same time the rest of those UI changes are released.

[2022-07-18 16:42] sixhours commented on #65567
We can put these updates behind the existing/unlaunched `signup/seller-upgrade-modal` feature flag.

[2022-07-18 16:46] blackjackkent commented on #64382
Follow up in plans working group channel in Slack with any changes that will be necessary for this process.

[2022-07-18 17:04] sixhours commented on #65565
Theme pricing is here: https://pricingandpackaging.wordpress.com/2022/05/31/pricing-scenarios-v1-0-combining-plans-and-add-ons/#comment-2386

[2022-07-18 17:37] markbiek commented on #65692
Additional details about testing this process: p1657743094375589-slack-C029JEQRVRT

[2022-07-18 17:38] sirbrillig commented on #65371
Thanks @halleshubham! That looks like a good place to try to fix this. Whoever picks up this issue can hopefully write a PR with that in mind!

[2022-07-18 17:40] jp-imagines commented on #64682
Another instance in 34152764-hc.

- [ ] ZD for follow-up if needed: 5404763-zd-woothemes

[2022-07-18 17:55] sejas commented on #65606
In https://github.com/Automattic/wp-calypso/pull/65644 the value is persisted on the URL, but not in the text input.

[2022-07-18 18:14] ktyfuller604 commented on #57812
- [ ] 5404339-zen

No additional details to provide

[2022-07-18 18:15] danielbachhuber commented on #65606
@sejas Oh, you're right. It was working for me the other day, but now it's not. I'll see about fixing that.

[2022-07-18 18:37] creativecoder opened #65697 "Task: Update how we determine that FSE is active on a site"
### Details

To determine if a site supports FSE features, so far, we've been using a custom endpoint: `/sites/${ site?.ID }/block-editor` and its `is_fse_active` property to determine theme support for FSE. [But as of WP 6.0.1](https://github.com/WordPress/wordpress-develop/pull/2675), we have a way to determine if the active theme uses full site editing by looking for the `block-templates` theme

[2022-07-18 19:07] andres-blanco opened #65698 "Theme card: Show subscription price"
The theme card for a premium theme should show subscription price followed by plan upgrade nudge. Clicking on this text should lead to checkout.

<img width="451" alt="image" src="https://user-images.githubusercontent.com/375980/179590286-5eeef905-e009-4076-ae13-81ace15a0d44.png">

This depends on design input in how to handle different pricing models (monthly, yearly).

Part of https://github.com

[2022-07-18 19:10] andres-blanco opened #65699 "Theme card: Redirection after theme purchase"
Make sure that after successful checkout after clicking on a Premium Theme Card redirects to the onboarding design picker.

Part of https://github.com/Automattic/wp-calypso/issues/65567

[2022-07-18 19:11] andres-blanco opened #65700 "Theme Card: Hovering over block icon should display a tooltip"
Hovering over the block icon (next to premium badge) shows a tooltip "This theme is full site editing capable"

<img width="406" alt="image" src="https://user-images.githubusercontent.com/375980/179597707-7576e7c6-a5f2-4c1c-aa13-297d05b0ff55.png">

This is part of https://github.com/Automattic/wp-calypso/issues/65567

[2022-07-18 19:14] andres-blanco opened #65701 "Checkout Modal: Revert to Recoleta font"
Revert preview header back to original Recoleta font.

<img width="804" alt="image" src="https://user-images.githubusercontent.com/375980/179599405-0adf3582-82ff-40c1-8f0a-b2fea40c177b.png">

Part of https://github.com/Automattic/wp-calypso/issues/65567

[2022-07-18 19:15] andres-blanco opened #65702 "Checkout Modal: Change CTA to "Purchase this theme""
Primary CTA should read "Purchase this theme". When clicked the Checkout Modal should appear.

<img width="427" alt="image" src="https://user-images.githubusercontent.com/375980/179599729-b06c8e4c-43b5-4ce5-a286-015325fcd48a.png">

Related to https://github.com/Automattic/wp-calypso/issues/65567

[2022-07-18 19:15] halleshubham commented on #65371
I don't know if I got it right, by the previous comment I meant:

 onClose event of the shopping cart - the state is already being updated - which should ideally be updating the component, isn't it ?

 @sirbrillig @michaeldcain

Let me know what do you think, so that I can tryout fix ?

[2022-07-18 19:20] andres-blanco commented on #65567
Figma link 0EogtxvlmxMGcnEEaMVECv-fi-16%3A413

[2022-07-18 19:21] andres-blanco opened #65703 "Checkout Modal: Clicking "Buy and activate theme" behaviour"
Clicking "Buy and activate theme" should:
1. Redirect user to checkout with the theme subscription added.
2. Bring the user back to the onboarding theme with the theme activated.

<img width="371" alt="image" src="https://user-images.githubusercontent.com/375980/179600149-94c972c8-b98e-42f0-90bb-64757c4ad360.png">

Related to https://github.com/Automattic/wp-calypso/issues/65567

[2022-07-18 19:22] andres-blanco opened #65704 "Theme Card: How to show that a theme is already purchased?"
If a theme has already been purchased then we need a new visual state for the Theme Card to reflect this.

Related to https://github.com/Automattic/wp-calypso/issues/65567

[2022-07-18 19:25] andres-blanco opened #65705 "Theme Showcase: theme cards should show premium badge"
Theme cards within the showcase show a premium badge rather than the price. Hovering over this badge reveals pricing details as shown in image.

<img width="319" alt="image" src="https://user-images.githubusercontent.com/375980/179601322-c9d3e527-efe1-4c60-8930-30c9721525c0.png">

Part of https://github.com/Automattic/wp-calypso/issues/65567

[2022-07-18 20:10] masperber opened #65706 "Unlaunched site is publicly accessible"
### Quick summary

Some WoA sites can be in a state where the site is publicly accessible even though the Launch Site button has not been clicked.

Workaround: Launch the site and then change the privacy setting to "Coming Soon."

### Steps to reproduce

I have not reproduced the issue independently.

### What you expected to happen

Site should be hidden behind a Coming Soon screen when the Launc

[2022-07-18 20:17] halleshubham commented on #65670
But I see no issues, here is screenshot:
![Uploading Screenshot 2022-07-19 at 1.46.31 AM.png…]()

[2022-07-18 21:00] xpurichan commented on #62545
Encountered on a Team 51 partner's website (Awesome.blog).

[2022-07-18 21:23] phcp commented on #65541
As Saygun mentioned in Figma, let's keep the subject as it is, so no additional work is required. We could either delete or move the task to done. @mashikag any preference when it comes to the board management?

[2022-07-18 21:25] phcp opened #65709 "[New Liked Comment] Define and add link descriptors to links/buttons"
### Details
It's necessary to introduce link descriptors on all links in the template to collect additional metrics on New Liked Comment emails.

### Checklist
- [x] Define link descriptors for all links in the template
- [x] Verify possible naming collisions
- [x] Include `data-tracks-link-desc` on all links
- [x] Verify if the descriptor is available in the URL event data

[2022-07-18 21:25] phcp opened #65710 "[All] Update footer layout"
### Details
The footer has a new proposed layout, now it's left-aligned with an addition of Jetpack and WP logos. It also includes two copies that may change depending on the email type:

#### New Like emails (comment and post)
- **Title:** Real-time notifications with the Jetpack mobile app
- **Subtitle:** See your likes, comments, and stats anywhere, anytime.
![Image](https://user-images.githubu

[2022-07-18 21:50] mreishus commented on #65449
Autosave only:
* #65707
Two optimizations I noticed while I was looking around:
* #65708
* #65712

I'll take a look at narrowing the condition to being only when a payments block is updated, but I'm not too sure if it's easily done.

[2022-07-19 00:31] devNigel opened #65714 "WordPress.com Contact Form: Add ability to upload images"
### What

The user wants the WPcom contact form: https://wordpress.com/help/contact to have image uploading functionality.

Right now, users are not able to attach images and have to wait to reply via email to attach screenshots. We could ask users to share image links on the contact form, but there are no instructions/suggestions to use free image hosting services to share screenshots.

user repo

[2022-07-19 01:43] xue28 commented on #64760
Another ticket here: 5404779-zen

Plan: Personal

[2022-07-19 02:31] essleeung commented on #49675
36104661-hc
This would have been helpful for this user.

[2022-07-19 02:44] rw-ye opened #65716 "[Gutenberg v13.7.0-rc.1] Site Editor returns 'The page requested does not exist'"
### Quick summary

While team testing for `Gutenberg v13.7.0-rc.1`, we discovered that opening the site editor with an FSE theme active on a simple site returns the error `The page requested does not exist`

<img width="1792" alt="Screen Shot 2022-07-19 at 11 34 21 am" src="https://user-images.githubusercontent.com/21261509/179652326-9ceefb51-11a2-4d42-8b96-9ce409604409.png">

### Steps to reprodu

[2022-07-19 04:07] Robertght commented on #52520
5371875-zen

[2022-07-19 05:32] SaxonF commented on #65704
Theme cards within onboarding
![image](https://user-images.githubusercontent.com/1072756/179672460-cf7b8fbc-0a50-4354-97aa-55b4ffe85905.png)

Theme cards within theme showcase
![image](https://user-images.githubusercontent.com/1072756/179672357-bd8be7d3-2d54-456d-832d-ed4613429cc8.png)

In future we'll have separate sections for exploring themes and managing purchased themes so this will be less o

[2022-07-19 06:06] xpurichan opened #65717 "Purchases page lacks pagination, attempts and fails to load direct links"
### Quick summary

For accounts which own large quantities of upgrades the https://wordpress.com/me/purchases fails to load. The page will attempt to load (displaying flashing grey elements on it) but will ultimately display no purchases and a "Looking to upgrade?" message:

![Screen Shot 2022-07-16 at 1 05 29 AM](https://user-images.githubusercontent.com/33190975/179679557-d807affe-f0a0-4572-9d2d

[2022-07-19 06:37] lsl opened #65718 "Marketplace: Query wccom for products based on categories"
We added new categories to products in 13159-gh-Automattic/woocommerce.com and should now be able to query them through `/wp-json/wc/store/products?_unstable_tax_wpcom_marketplace_categories=[array_of_term_ids]`.

- [ ] Update calypso to load category products using the woocommerce.com api above

[2022-07-19 06:41] lsl commented on #65718
I don't know if this is something we should be doing yet but I'm curious how far we can get. We should be waiting for elastic search but I don't know where that's at. We probably can't search this way but I think there is existing code seams we could implement something for the category lookups.

[2022-07-19 06:45] xpurichan opened #65719 ""Manage Purchase" links fail to load - related to high purchases on account"
### Quick summary

Related:<br>[https://github.com/Automattic/wp-calypso/issues/65717](<https://github.com/Automattic/wp-calypso/issues/65717>)

### Problem:

We found that recently (date unknown, but perhaps within the last couple of months) we can also no longer use links which previously would take us directly to a specific purchase, such as:<br>`https://public-api.wordpress.com/bar/?stat=groov

[2022-07-19 06:47] SaxonF commented on #65567
@blackjackkent that does complicate things a _little_ bit. Quick thoughts:

The existing theme page
![image](https://user-images.githubusercontent.com/1072756/179684026-85a749a5-2df2-4792-b016-9fb5a7e23e49.png)

The new purchase dialog
![image](https://user-images.githubusercontent.com/1072756/179684070-324508c9-27e6-461a-804c-59cb423ecb4c.png)

[2022-07-19 07:24] cpapazoglou commented on #65619
Not sure how, but this is fixed now 🙈

<img width="922" alt="CleanShot 2022-07-19 at 10 21 11@2x" src="https://user-images.githubusercontent.com/12430020/179691434-9985ddb4-4c07-4732-97fd-13b8110285f0.png">

[2022-07-19 07:24] #65619 closed, assigned to nobody

[2022-07-19 07:40] mmtr commented on #65634
I had one thought yesterday: what if we allow marketplace plugins to be reinstalled from Calypso if they have been purchased? That way we wouldn’t need to hide the delete link and thus we won’t need to maintain any marketplace plugins catalog data in wpcomsh, right?

[2022-07-19 07:49] Robertght commented on #65659
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm not able to replicate this consistently.
- The blog posts block layout also plays an important role here and the text appears to be either behind he image or on top, but most of the times, the layout

[2022-07-19 08:03] wojtekn opened #65723 "Feature Request: show site selector for "All My Sites" link in Stat Insights page"
### What

Currently, the "All My Sites" link in the site selector on the "Stats -> Insights" page redirects to the `/stats/day` page that shows aggregated day stats for all sites owned by the user.

In other places, "All My Sites" does the following:

* it redirects to "all sites version" of the page if there is one for a given entity. Example pages are `/posts/my` or `/stats/day`. Thus if you are

[2022-07-19 08:06] rcrdortiz commented on #65634
It could work yes. I have some questions not meant to challenge your hypothesis, it's simply things unknown to me. Does the FE store the purchases made by the user? Are they stored in calypso_store or somewhere else?

[2022-07-19 08:26] mmtr commented on #65634
Yes, we use this component to fetch them: https://github.com/Automattic/wp-calypso/tree/d998de12144419e20c200c5c5efa8e108335c216/client/components/data/query-site-purchases

[2022-07-19 08:28] mashikag commented on #65541
I would much prefer to have it just closed. It is good to keep it for future reference. 🙂

[2022-07-19 08:29] mashikag commented on #65541
Closing this issue as the current subject implementation is satisfactory. Hence no work required.

[2022-07-19 08:29] #65541 closed, assigned to mashikag

[2022-07-19 08:30] essleeung commented on #46536
Another report here- 5401675-zd-woothemes
Asked user to use classic view as a workaround.

[2022-07-19 08:41] #65380 closed, assigned to mmtr

[2022-07-19 08:55] autumnfjeld commented on #64960
@bangank36 & @taipeicoder  It might be a good idea to specify the tasks for each loading screen either as clear separate tasks in the issue description or create new separate git issues - so that multiple people could work on this if needed.   If that makes sense......

[2022-07-19 09:55] #64571 closed, assigned to gcsecsey

[2022-07-19 10:06] rcrdortiz opened #65727 "Dotcom Marketplace: Add "WooCommerce Stamps.com API" to the Dotcom Marketplace"

[2022-07-19 10:12] kspilarski commented on #65659
Sure!

I also found out that if a post has a featured image, on a page with blog posts block and featured image, the post tittle and meta won't show.

If a post has no featured image and you add it on a page with blog posts block (with or without featured image), the post title and meta will show.

<img width="2248" alt="Screen Shot 2022-07-19 at 12 07 04 PM" src="https://user-images.githubusercon

[2022-07-19 10:24] Robertght commented on #57812
5383032-zen

[2022-07-19 10:45] chad1008 commented on #65716
Thanks @rw-ye! This is an interesting one... sandboxes (mine, at least) appear to be immune. I can't repro there (which is why I didn't catch it when smoke testing before the edge release), but I can reproduce it on a normal Simple site.

This will need some investigation, thanks again for the report!

[2022-07-19 11:16] miksansegundo commented on #65075
D84444-code

[2022-07-19 11:20] rcrdortiz commented on #65727
729-gh-Automattic/dotcom-manage

[2022-07-19 11:24] rcrdortiz opened #65729 "Dotcom Marketplace: Add "EU VAT Number" to the Dotcom Marketplace"

[2022-07-19 11:40] ivan-ottinger commented on #65709
I have reviewed the links that are present in the current template and here are a couple of suggestions.

Each link in the screenshot below has its number - so it is easier to discuss the proposed changes:

![Markup on 2022-07-19 at 13:17:34](https://user-images.githubusercontent.com/25105483/179737815-6208630d-6722-43b2-a372-9737d2672e27.png)

Links:
1. We can keep the current `header-comment-lik

[2022-07-19 12:03] danielbachhuber opened #65733 "Sites Management Dashboard: Ensure back/forward history buttons work as expected"
The back/forward history buttons don't work as expected right now, and they should.

From https://github.com/Automattic/wp-calypso/pull/65644#pullrequestreview-1041945027

Guiding this issue is @p-jackson's comment in #65726:

It will also minimise the amount of "prop drilling" needed for basic things like selected tab state and filtered sites list.

It's also work reviewing p1658176514415419-slac

[2022-07-19 12:06] #65603 closed, assigned to danielbachhuber

[2022-07-19 12:06] #65605 closed, assigned to danielbachhuber

[2022-07-19 12:15] danielbachhuber commented on #65170
Closing — I think the P2 post and ensuing comments present a pretty thorough discovery pdKhl6-su-p2

[2022-07-19 12:15] #65170 closed, assigned to danielbachhuber, vykes-mac

[2022-07-19 12:17] danielbachhuber commented on #65606
@sejas This is now implemented with #65732

[2022-07-19 12:47] brinbliss commented on #58937
Same issue with the Twitter widget and flickering/crashing the browser tab. Used the `disable-widget-block-editor` workaround to clear the block.

- [ ] 5385926-zd-woothemes

[2022-07-19 13:09] markbiek commented on #65558
We should be able to modify `/atomic/transfers` to handle this. The advantage of that approach is we don't have to worry about plugin order.

paYKcK-1R4-p2

[2022-07-19 13:10] miksansegundo commented on #64978
There is still an open issue causing RTL CSS issues. I have created an [i18n issue](465-gh-Automattic/i18n-issues) and xposted it.

[2022-07-19 13:11] markbiek commented on #65559
This may not be necessary if we can modify `/atomic/transfers` as described by @obenland on paYKcK-1R4-p2.

[2022-07-19 13:12] markbiek commented on #65553
If we take the approach of modifying `/atomic/transfers` as described by @obenland on paYKcK-1R4-p2, we don't have to worry about the order of the plugins in the taxonomy.

The Atomic API will automatically handle installing everything in the correct order.

[2022-07-19 13:17] miksansegundo commented on #65521
I'm closing this because the remaining issues have been solved separately or we have created new issues.

[2022-07-19 13:17] #65521 closed, assigned to miksansegundo

[2022-07-19 13:27] danielbachhuber commented on #65490
I put together an improved version of this approach with #65736

[2022-07-19 13:41] jorpdesigns commented on #57812
Reported in 36109966-hc. They are using Firefox and are unable to preview published posts too. I could reproduce.

Browser details: https://www.whatismybrowser.com/w/QZ3ATGL

Asked user to switch to Classic View and they could preview from there.

- [ ] Follow up created in 5407454-zen

[2022-07-19 13:48] DavidRothstein commented on #65717
Likely related to pMz3w-fdO-p2_transactions/ and 1018-gh-Automattic/payments-shilling.

[2022-07-19 14:00] anaspk opened #65737 "WPcom login intermittently redirecting to CodePoet for a12s"
### Quick summary

A user is experiencing an intermittent issue where when they try to login to their WCCOM account using their WP.com account, instead of being taken back to their WCCOM account, they get redirected to a CodePoet URL.

### Steps to reproduce

We couldn't yet reproduce this bug on our end. However, here are the details shared by the original reporter on slack: p1654617195868519-sla

[2022-07-19 14:16] mmtr commented on #65634
I explored this in https://github.com/Automattic/wp-calypso/pull/65738 but looks like it needs more work because currently premium plugins can be installed only during checkout.

AFAICS there are no endpoints we can call from Calypso to install a plugin from the marketplace (@cpapazoglou can you confirm?), so we either work on that or switch back to our initial plan of maintaining a marketplace ca

[2022-07-19 14:25] bogiii commented on #65542
![Image](https://user-images.githubusercontent.com/1241413/179774575-c8d800be-0d0c-4ca4-bb8d-44bf2a0d91f0.png)

[2022-07-19 14:42] DowswellDigital commented on #62994
Adding to @sophiegyo -- my clients were working around the lack before the feature was introduced, and happily backdated a lot of their old post to make use of the featured image again. Going back to them to say the feature had been turned off was a considerable disappointment. This really should be a standard feature and not something to be worked around.

[2022-07-19 14:56] valterlorran commented on #65705
@SaxonF, could you provide me with the normal state of the star(without the hovering)?

[2022-07-19 15:02] KirkwallDay opened #65739 "Group Blocks on some themes (Dyad 2, Hemingway Re-written, possibly more) have padding issues."
### Quick summary

The group block will have padding on some elements preventing content from aligning correctly inside the block. This is easiest to see with a group block and center-aligned column blocks inside of it.

### Steps to reproduce

1. Have a site with the Dyad 2 theme activated.
2. Create a group block with a columns block inside of it. Add some test content.
3. Set the columns to sho

[2022-07-19 15:04] senadir commented on #57449
I'm going to be digging into this issue again because we identified as a blocker for enabling Cart/Checkout blocks in WooCommerce core. I'm still positive that something in the tracking system is causing this and it's not just how inner blocks works because we didn't see any performance issues nor this bug anywhere else except wpcom.

[2022-07-19 15:07] danielbachhuber commented on #64714
Patched is in D84471-code

[2022-07-19 15:12] cpapazoglou commented on #65634
That's correct, there is now way to trigger an installation without going through checkout.

[2022-07-19 15:13] cpapazoglou commented on #65634
can the purchase include the original product slug and not the truncated one?

[2022-07-19 15:14] bogiii commented on #65635
![Image](https://user-images.githubusercontent.com/1241413/179785972-55937a18-d1e9-4762-ba8f-32ba28598858.png)
![Image](https://user-images.githubusercontent.com/1241413/179785971-d5a599ee-7eff-4fa5-a278-368f6df129d4.png)

[2022-07-19 15:18] mmtr commented on #65634
Yes, but I wouldn't recommend it as discussed in p1657798282113709/1657791814.481889-slack-CJS75TX3R:

[2022-07-19 15:19] mashikag opened #65741 "[New Comment] Fix missing styles"
### Details

## Fix missing styles
The styles of the "New Comment" email are missing:

 ![Screenshot 2022-07-19 at 17 17 35](https://user-images.githubusercontent.com/2019970/179786877-0a636475-4184-416e-a16f-244dae69828e.png)

- [ ] do not say `just commented on a <POST_TITLE>` when post title is empty, instead say `just commented on your post` or `just commented on the post` depending on whether

[2022-07-19 15:24] mmtr commented on #65634
In other words, looks like the only reason to add the plugin slug to the purchases Atomic persistent data is to bypass the lack of a marketplace catalog in wpcomsh. I feel that falls into "selfish code" (p7H4VZ-2Vx-p2) since it just helps us to avoid writing less code, but it makes things harder for folks trying to learn and understand how wpcomsh works when reading the code.

[2022-07-19 15:24] cpapazoglou commented on #65634
That's not accurate. We wouldn't want to hide the delete link or alter anything for plugins installed (uploaded) not from WordPress.com. The fact that they are purchased from WordPress.com makes them "special". But another way to figure this out without having the catalog in wcpomsh, is to check if that current plugin is managed from the Atomic infra.

[2022-07-19 15:24] sguzovskaia commented on #56181
Another report in 35794661-hc. Shared the workaround with adding the table block.

[2022-07-19 15:32] mashikag opened #65744 "[New Comment] Commenter's username should be clickable when `comment_author_url` present"
### Details

On the old email implementation the username is clickable (does not work in some cases - this should be fixed of course).
By looking at the code it seems like it is possible for having comment author url. Not sure what this exactly is. But whenever it is present it should be possible to go to that url by clicking on the username.

![Annotation on 2022-07-19 at 18-06-55](https://user-i

[2022-07-19 15:47] mashikag opened #65745 "[New Comment] Should not display "In response to" when it is a comment on a post"
### Details

The current production implementation does not display "In response to" text in a new comment on a post notification.

![Screenshot 2022-07-19 at 17 13 46 copy](https://user-images.githubusercontent.com/2019970/179793199-ffa62012-92bd-4ac4-8979-86a263fdcece.png)

![Screenshot 2022-07-19 at 17 13 52](https://user-images.githubusercontent.com/2019970/179793245-cbc2cae6-62d5-4392-878f-17

[2022-07-19 15:56] mashikag opened #65746 "[New Comment] Should display `View comment` instead of `Reply` button"
### Details

The current `prod` implementation displays `View comment` instead of `Reply` button.
Also the `commented` keyword is not clickable in the `prod` implementation. Note that keeping the hyperlink would also result in a not so nice UI when the commenter's username becomes a hyperlink too.

![Annotation on 2022-07-19 at 18-06-55](https://user-images.githubusercontent.com/2019970/179799212-

[2022-07-19 15:56] sixhours commented on #65569
Holding off on this until we're closer to being able to test, and/or use the Ajax tool to add products.

[2022-07-19 16:05] chad1008 commented on #65716
Haven't found any clues to the cause yet. There's one error in the console, and it's just a 500 error for `https://chadnonedgetest.wordpress.com/wp-admin/themes.php?page=gutenberg-edit-site`. There aren't any changes in the site editor URL with the new RC.

[2022-07-19 16:08] mashikag opened #65748 "[New Comment] Footer should display commenter's URL, Email and IP"
### Details

Footer on a new comment on a post email template should include the:
- URL
- Email
- Whois
as per the current implementation in prod. See the screenshots.

Keep in mind that this should not be displayed to users who are just following a post, and are not the authors, a.k.a. `New comment - follower`. For them the following should be displayed: `Want less email? Unsubscribe or modify yo

[2022-07-19 16:21] danielbachhuber commented on #64713
Created a patch D84474-code

[2022-07-19 16:27] wojtekn commented on #65168
The steps to implement the "Last Publish":

- [ ] [add this field to options that could be received from /me/sites endpoint](https://github.com/Automattic/jetpack/pull/25116)
- [ ] modify call in the Calypso to request for this field
- [ ] replace the current hardcoded date with a real formatted date

[2022-07-19 16:47] blackjackkent opened #65750 "My Home - Add homepage card that links to WP Youtube page"
From @ianstewart discussion in Slack at p1658246371107379-slack-C029JEQRVRT

My thoughts on it:

![image](https://user-images.githubusercontent.com/13437011/179804626-eb5b5925-9769-4838-a562-307db5ab5a65.png)

Let's add a new card to the homepage stack for all users offering direction to the WPcom YouTube page as detailed above.

[2022-07-19 16:49] annezazu commented on #65042
@cuemarie Thanks for sharing! That is helpful. No more examples needed at this point since a fix is in the works.

[2022-07-19 16:50] ianstewart commented on #65750
@blackjackkent  would be good to confirm that we have tracks events for clickthrough on those cards. (We probably do, but never know.)

[2022-07-19 16:52] #65587 closed, assigned to wojtekn

[2022-07-19 17:27] obenland commented on #65559
Yes, this can be skipped and folded into the step that kicks of the Atomic transfer

[2022-07-19 17:29] obenland commented on #65553
I don't know exactly how it works, but I imagine it activates these plugins through WP CLI, never triggering a request that would care about the order plugins are installed/activated in.

But yes, the order of plugins should not be a concern.

[2022-07-19 17:35] #65440 closed, assigned to vykes-mac

[2022-07-19 17:57] michaeldcain commented on #65717
We're going to try to resolve 1018-gh-Automattic/payments-shilling before revisiting the performance of this page.

[2022-07-19 18:15] fullofcaffeine commented on #65716
Hi Addie 👋🏻, where did you see the warning?

[2022-07-19 18:45] cuemarie commented on #65042
Copy that, @annezazu !

For HEs that encounter users who want an update when this one is fixed, we've queued this up for **batch replies** when the time comes, so feel free to share any other tickets that need a follow up. Formatting reminders: p7DVsv-eD3-p2

[2022-07-19 18:53] obenland commented on #65525
Do we have the concept of plugin dependencies outside of Marketplace plugins? It might be easiest to go with 1.

[2022-07-19 18:55] obenland commented on #65525
Just checked on how this is handled for the eCommerce plan to see if we can learn from that, but it just has WooCommerce Payments as part of its software set (2cef6-pb/#plain).

[2022-07-19 18:59] Addison-Stavlo commented on #65716
when logging php errors on my sandbox from /tmp/php-errors

i was testing an unrelated diff here - D84305-code and my test site with edge enabled was having problems due to this issue.

[2022-07-19 19:00] valterlorran commented on #65705
@SaxonF, can you also check the design when the theme is active?
![Screen Shot 2022-07-19 at 15 55 16](https://user-images.githubusercontent.com/1234758/179827933-881000bb-0139-4f0b-aff2-87ab89bb9949.png)

[2022-07-19 19:18] andres-blanco commented on #65700
The badge is going to be removed all the way, so no need for a tooltip. p1658256698659569-slack-C0Q664T29

[2022-07-19 19:18] #65700 closed, assigned to andres-blanco

[2022-07-19 19:45] edequalsawesome opened #65755 "Post Preview in Firefox Not Working"
### Quick summary

Previewing a post on a Premium site with Firefox isn't working as expected -- I'm seeing a page not found error

### Steps to reproduce

1. Create a site with the WordPress.com Premium plan on Firefox with a custom domain
2. Create a new post, save as a draft
3. Attempt to preview the post

### What you expected to happen

That I would be able to see the post preview

### What a

[2022-07-19 19:52] mikeicode opened #65757 "Calendly block: Calendar settings link is broken"
### Quick summary

The Calendly block has a link under Calendar settings (_"Follow these instructions to change the colors in this block."_) which links to a broken link:

[code]

This should be updated to either the correct link from their site or a section on the .com [support page](https://wordpress.com/support/wordpress-editor/blocks/calendly-block/).

### Steps to reproduce

1. Add a Calendly

[2022-07-19 21:35] mreishus commented on #65449
Checking for a payments block to be updated and properly set up ended up being a bit of a rabbit hole that I wasn't able to get working yet. (I tried approaches using `getEntityRecordEdits` and `getReferenceByDistinctEdits`).

However, I was able to find a decent compromise in my opinion: Require a payments block to be selected at least once before displaying the modal. This stops the user from se

[2022-07-19 21:56] danielbachhuber commented on #63819
@yansern @ivan-ottinger Unassigning myself from this issue. Feel free to loop me in however is helpful, though.

[2022-07-19 22:01] danielbachhuber opened #65762 "Sites Management Dashboard: Considering skipping browser history when `?search=<query>` updates"
Currently, when a user searches the site dashboard, browser history is updated with the search value:

https://user-images.githubusercontent.com/36432/179855691-77b89b15-dbf2-4763-973d-72ed9192592b.mp4

In #65760, debounce was removed so _every keystroke_ gets pushed to the URL. I think this is excessive. I'm also not convinced search queries should be pushed to browser history in the first place.

[2022-07-19 22:24] p-jackson commented on #65733
Thanks for creating the issue @danielbachhuber.

@sejas I'm just throwing in my 2 cents on the above criteria. The `popstate` listener doesn't _have_ to be explicit in our code. Of course it might need to be, but the `page.js` library also has a `popstate` listener, so if you manage to implement this using `page.js` high in the component tree then that meets the criteria too.

[2022-07-19 22:42] cuemarie commented on #44263
Had another chat today where this would have definitely helped: 36113046-hc

[2022-07-19 22:42] gmovr commented on #64756
May or may not be helpful, but x-posting just in case :)

I also had this today, and it was related to p1658245766758849-slack-C096PD42U. I thought I fixed it for myself by clearing Memcache, and clearing indexed DB.

But after making a new site, the next time I went to /start it would do the same thing.

In my case I looked in Kibana for my user, and I it was errors from my sandbox (more context

[2022-07-19 22:55] tanjoymor commented on #44263
Had another chat today asking about this: 36070060-hc

Advised on turning off the Jetpack Subscription module.
Suggested using MailPoet instead.
+1 to us offering a per post option for this the way we do for the Publicize feature.

Just to note that the previously suggested work around of making the site Private before publishing is reported to not actually work.

[2022-07-19 23:12] vykes-mac commented on #62078
I'm also unable to reproduce this issue, Everything renders on the site as it is in the editor

[2022-07-19 23:32] pablohoneyhoney commented on #65162
@SaxonF that link above doesn't get to the desired destination, I think.

Looking at this, I have a few notes and questions.

![](https://user-images.githubusercontent.com/1072756/178893989-f712dbc8-f4bc-422e-ba3e-e2d174110d65.png)

Copy should likely say: `Manage all sites`
The whole deal is that you could have multiple sites, mostly not _yours_.

We also don't need the redundancy on `Visit the d

[2022-07-19 23:41] p-jackson commented on #65181
#65524 has merged which addresses this issue.

The above criteria hasn't been met, but we discovered that it's not so easy to do (we can't use feature flags within `section.js` where sections are defined). But that's ok. I think it's ok for us to change the URL as part of the feature rollout.

It may still be possible to change the section definitions using a feature flag, but it might require a l

[2022-07-19 23:41] #65181 closed, assigned to wojtekn

[2022-07-19 23:59] supernovia commented on #65755
Could this be related? https://github.com/Automattic/wp-calypso/issues/65716

[2022-07-20 00:01] supernovia commented on #65719
Just to potentially connect dots to other issues, is there an error code? (502, 503, or 404 for example?)

[2022-07-20 01:58] taipeicoder commented on #63119
@roo2 seems that this is completed, feel free to close this one if that's the case 🙂

[2022-07-20 02:11] vindl commented on #65162
Some additional considerations regarding the `All My Sites` link are outlined in pdKhl6-vB-p2. It doesn't always lead to the page with the Site Switcher. Sometimes, it will link to multi-site views depending on the current context (e.g., plugins, domains, posts, etc.), so we need to decide how to handle those cases.

[2022-07-20 03:01] syedshaon commented on #65042
Another one: 5382860-zd-woothemes

[2022-07-20 03:08] arunsathiya commented on #52241
Requested in 36072446-hc. Given the nature of this issue, it wouldn't be implemented right now. So, I haven't promised a followup.

[2022-07-20 03:15] p-jackson opened #65767 "Sites Dashboard: Handle sites that are redirects or have conflicting URLs"
The way we're calculating the "site slug" for the sites in the dashboard is naive. You can see [the logic we usually use here](https://github.com/Automattic/wp-calypso/blob/12687cf918f9f073d8e09ab39a4cb069d0448d1c/client/state/sites/selectors/get-site-slug.js#L16).

The naive implementation (added in #65764) means that clicking the primary link in the site row doesn't work for some sites. Specific

[2022-07-20 04:21] formosattic opened #65768 "Removing VideoPress prompt missing list of lost features"
### Quick summary

When removing the VideoPress subscription, the prompt is missing the list of lost features.
Issue is not a blocker, user is just not reminded of what they'll be missing.

### Steps to reproduce

1. Add VideoPress to a self-hosted site
2. Remove the VideoPress subscription

### What you expected to happen

The prompt should look similar to this (example with removing Jetpack Comp

[2022-07-20 04:21] formosattic opened #66076 "Removing Jetpack VideoPress, prompt missing list of lost features"
### Quick summary

When removing the Jetpack VideoPress subscription, the prompt is missing the list of lost features.
Issue is not a blocker, user is just not reminded of what they'll be missing.

### Steps to reproduce

1. Add VideoPress to a self-hosted site
2. Remove the VideoPress subscription

### What you expected to happen

The prompt should look similar to this (example with removing Jetp

[2022-07-20 04:25] Robertght commented on #65755
Isn't it the same as this: https://github.com/Automattic/wp-calypso/issues/57812 ?

[2022-07-20 05:06] arunsathiya commented on #65042
@alliebbush2 shared a CSS in 5408423-zen. Tracking here in case we want to followup once the bug is resolved and CSS removed.

[2022-07-20 07:02] wojtekn commented on #65181
When I was reviewing this, I found [a comment that provides more information about using config in `sections.js`](https://github.com/Automattic/wp-calypso/issues/61347#issuecomment-1047764063).

[2022-07-20 07:04] devNigel commented on #65739
I tried to reproduce this issue and I noticed that the Group block has a [setting to remove the top and bottom padding](https://d.pr/i/5xpOOM) which worked on Editor view but had no effect on the live page. Was able to confirm with multiple themes like Dyad 2, 2020.

I think that issue is also related to this.

[2022-07-20 07:13] SaxonF commented on #65162
Based on the feedback above here's where we are at.

https://user-images.githubusercontent.com/1072756/179915612-2ca33b9b-2e17-48aa-9232-4b448279e0c1.mp4

**Overview**
- The sidebar needs to work regardless of what colour scheme is selected. The secondary "manage sites" button uses the secondary text colour with a 25% opacity for its stroke.
- The behaviour of the bottom section remains the same a

[2022-07-20 07:17] #65336 closed, assigned to jimmy319

[2022-07-20 07:27] p-jackson commented on #65674
#65769

[2022-07-20 07:39] cpapazoglou commented on #65525
Here is the related diff D84517-code that adds WooCommerce Payments as a requirement for every woo extension. I have found this method more explicit and straight forward than bundling it with `woocommerce`.

AFAIK that any WP plugin that needs other plugin as requirements follows on of the following:
- Autoloads them through their code - this is what wordpress-seo-premium currently does with wordp

[2022-07-20 07:42] SaxonF commented on #65704
@andres-blanco not for this first release. We can re-access after.

[2022-07-20 08:01] zaerl commented on #59527
A fix for simple sites can be found here: D84503-code and then we have covered 100% of the cases.

[2022-07-20 08:28] edwinho89 opened #65770 "Social Links Block: Add TripAdvisor Icon as a Supported Social Icon"
### What

User would like TripAdvisor as one of supported icon for [social links menu](https://wordpress.com/support/menus/social-links-menu/#supported-icons).

Ticket: 5404139-zd-woothemes

### Why

Currently it isn't listed under https://wordpress.com/support/menus/social-links-menu/#supported-icons , as well as from https://wordpress.com/support/wordpress-editor/blocks/social-icons-block/#list-

[2022-07-20 08:51] bangank36 commented on #63118
I'm closing this because the feature has been shipped

[2022-07-20 08:51] #63118 closed, assigned to bangank36

[2022-07-20 09:15] wojtekn commented on #65183
I see we didn't agree about the final wording for the back link yet, but I went ahead and opened PR that lets users go back to the Sites Dashboard from the New Sites flow as this part is clear. We can adjust the link label later.

I think that "My Sites" makes sense there. I would treat "All" and "Back to" as words that describe the CTA target and "My Sites" as the CTA target:

* All "My Sites"
*

[2022-07-20 10:09] cpapazoglou commented on #65349
After this, we can also implement a retry mechanism.

[2022-07-20 10:14] cpapazoglou commented on #65351
- [ ] store the webhook url in WPCOM (`store_vendors` table?)
- [ ] trigger the relative webhooks on subscription events

[2022-07-20 10:43] danielbachhuber commented on #65767
@p-jackson FYI - I had previously flagged this with https://github.com/Automattic/wp-calypso/issues/65490#issuecomment-1189029079 and had a partial pull request going: #65736

[2022-07-20 10:48] p-jackson commented on #65767
Argh! Sorry I didn't notice your early PR #65736 :( I could have just continued work on that one.

[2022-07-20 10:52] danielbachhuber commented on #65490
Closing in favor of #65767 for the remaining link issues.

[2022-07-20 10:52] #65490 closed, assigned to danielbachhuber

[2022-07-20 10:56] cpapazoglou commented on #65345
Updated the points for resolving this.

[2022-07-20 10:56] mmtr commented on #65634
Turns out that we also need need to determine whether a plugin has been installed from the marketplace to only show those on sites without the `INSTALL_PLUGINS` feature (1004-gh-Automattic/wpcomsh) so we are going to need that catalog anyway.

I'll publish a post today to align with the Atomic team about the approach to take.

[2022-07-20 11:12] rcrdortiz opened #65774 "Dotcom Marketplace: Add "WooCommerce Distance Rate Shipping" to the Dotcom Marketplace"

[2022-07-20 11:19] danielbachhuber commented on #64714
Landed the patch with r249302-wpcom

Letting it run until the first week in August to see what shows up.

[2022-07-20 11:22] #65702 closed, assigned to andres-blanco

[2022-07-20 11:52] poeticabdul opened #65775 "[Bug]: Creating a page with a pre-defined layout or start with a blank page does not work"
### Quick summary

When creating a new page with a pre-defined layout or start with a blank page, it does not work. Nothing happens when you click on the blank page button or select a pre-defined layout. The modal cannot be closed as well.

### Steps to reproduce

1. On a simple site, go to Pages
2. Click on add a new page button
3. Notice that clicking on the blank page button or any layout doesn

[2022-07-20 12:02] cecilearkay commented on #65775
Another report in 36119339-hc. Was able to reproduce on my own site.

[2022-07-20 12:04] bogiii opened #65776 "Add User UI: Remove Follower and Subscriber roles from the invite list"

[2022-07-20 12:06] valterlorran opened #65777 "Seller Experience: Improve the upgrade toast code"
@sirbrillig made two suggestions on #62021 that will improve the performance of the Editor. The suggestions were:
* [Fix the "useEffect" hook](https://github.com/Automattic/wp-calypso/pull/62021#discussion_r924642856), to not execute on every rendering event. More information about it, [here](https://reactjs.org/docs/hooks-effect.html#tip-optimizing-performance-by-skipping-effects).
* [Use "useRef

[2022-07-20 12:18] cecilearkay commented on #65775
As a workaround, you can suggest users to copy an existing page which will bypass the layout window, and then empty the page to start from scratch.

[2022-07-20 12:40] mmtr commented on #65634
pdh6GB-Pq-p2

[2022-07-20 12:51] silvio-meter commented on #65775
Another report in 35039563-hc

[2022-07-20 13:08] lunasera41 commented on #65775
Another report here -  hc12972280-hc

[2022-07-20 13:35] cpapazoglou commented on #65718
This task falls right under the Elastic Search implementation. Is it blocker for you in any way?

FWIW, we won't be using `/wp-json/wc/store/products?_unstable_tax_wpcom_marketplace_categories=[array_of_term_ids]` but an ES query which is far more flexible.

@gcsecsey is this related to any issue we already have open?

[2022-07-20 13:52] allilevine commented on #65718
Thanks! 🙌 Not a blocker, but please let us know when we can test the ES queries in case there's tweaking needed on the WCCOM side.

[2022-07-20 13:54] gmovr commented on #65775
Same issue as this p1658319124555789-slack-C010KDAPG49

Should be resolved.

[2022-07-20 14:06] syds87 opened #65782 "Domain tip in wp-admin - link rephrasing request"
### Quick summary

There's a tip showing up in wp-admin for websites that are still using the WordPress.com free address, even though they have a connected custom domain.
The message reads: `Tip: You’re one step away from using usersdomainname.blog as your blog address. Click here to activate usersdomainname.blog`

This might sound confusing, as the domain is already active. It could be a good ide

[2022-07-20 14:07] ivan-ottinger opened #65783 "Goals Capture: Add onboarding/import-light-url-screen feature flag to production.json and stage.json config files"

[2022-07-20 14:26] lunasera41 commented on #65775
Another report here -  32563887-hc
Follow up ticket - 5410503-zd

[2022-07-20 14:27] ccwalburn commented on #57390
Working with the user here 5296698-zen

Resized one of their images to 1200 x 803 and tested on my own test site and the image looks correct at that size.
Currently, the image is 5236 ✕ 3503 and over 7 MB.
Suggested to the user that they resize and optimize their images as a workaround.

(I also found that I could fix this with the larger images by adding the `background-size: cover` declaration t

[2022-07-20 14:29] gcsecsey commented on #65718
@cpapazoglou I think this issue is connected to https://github.com/Automattic/wp-calypso/issues/63167 Once we tackled that issue, we should be able to query for products based on the same term IDs through ES.

[2022-07-20 14:36] sixhours commented on #65701
Should this change be behind the feature flag, or can we just ship it as-is?

[2022-07-20 14:39] gcsecsey commented on #64573
To be able to effectively compare results from WP.org and marketplace search, I've created a Postman collection, it can be imported by clicking to **Import -> Link** and pasting this link : https://www.getpostman.com/collections/cc97cb0fbb0475925cd0

Running the "WP.org query" request will save the list of slugs the WP.org API is returning to a collection variable. Then, running the "Marketplace s

[2022-07-20 14:39] andres-blanco commented on #65701
I think it would be better to ship it as-is, it doesn't seem related at all with theme subscriptions. What I don't know is if we should add the premium badge next to the title 🤔

[2022-07-20 14:40] sixhours commented on #65701
Cool, sounds good. We can make a separate issue for the badge if need be!

[2022-07-20 14:42] andres-blanco commented on #65701
Sounds great. We could keep this issue to track the font change. I'll ping Saxon on Slack to see if we need the premium badge there.

[2022-07-20 14:43] #65282 closed, assigned to JuanLucha

[2022-07-20 14:49] gcsecsey commented on #64573
I've also looked into some differences between the two queries.

The WP.org API mainly uses a bool query:

https://github.com/WordPress/wordpress.org/blob/ebbbd4848b1302424e7b406267165d51e7c0cc63/wordpress.org/public_html/wp-content/plugins/plugin-directory/libs/site-search/jetpack-search.php#L890-L948

But it also uses a function_score query to increase the score of more recent plugins:

https://

[2022-07-20 15:13] sixhours opened #65786 "Design Preview: Maybe add Premium badge to header"
_Originally posted by @andres-blanco in https://github.com/Automattic/wp-calypso/issues/65701#issuecomment-1190375336_

p1658328246651409-slack-C0Q664T29

We might want to add a Premium badge to premium themes in the design preview header, like in this mockup:

<img width="804" alt="179599405-0adf3582-82ff-40c1-8f0a-b2fea40c177b" src="https://user-images.githubusercontent.com/2124984/180018971-c94

[2022-07-20 15:23] obenland commented on #65347
Would `active` always be 1? Or will this endpoint also return inactive subscriptions?

[2022-07-20 15:35] Addison-Stavlo commented on #52245
I think this has since been resolved. Creating a new FSE today I have 1 menu at start - "Primary".

[2022-07-20 15:35] #52245 closed, assigned to nobody

[2022-07-20 15:39] markbiek commented on #65645
Fixed by #65743

[2022-07-20 15:39] #65645 closed, assigned to markbiek

[2022-07-20 15:43] Addison-Stavlo commented on #61409
these seem to be consolidated now:
![Screen Shot 2022-07-20 at 11 42 50 AM](https://user-images.githubusercontent.com/28742426/180025415-76fd1d14-d3eb-4703-9fbb-967b36bd3465.png)

[2022-07-20 15:43] #61409 closed, assigned to nobody

[2022-07-20 15:46] #65650 closed, assigned to sirbrillig

[2022-07-20 15:49] Addison-Stavlo commented on #57431
I am unable to repro. Given Jacopo's [comment above](https://github.com/Automattic/wp-calypso/issues/57431#issuecomment-954072581) regarding that site not being FSE, an old theme, and much related work to the query block done since this issue was created, im going to close this.

[2022-07-20 15:49] #57431 closed, assigned to nobody

[2022-07-20 15:51] Addison-Stavlo commented on #50356
Since we cannot edit template parts this way anymore, this is an easy fix! 😆

[2022-07-20 15:51] #50356 closed, assigned to nobody

[2022-07-20 16:50] jeyip commented on #65407
@Addison-Stavlo, @edanzer, and I investigated this further. We looked at the Twenty Twenty Two theme and how it creates a default Page (Large Header) template with a navigation block. The navigation block is subsequently populated by a page list block.

<img width="1280" alt="Screen Shot 2022-07-20 at 9 45 09 AM" src="https://user-images.githubusercontent.com/5414230/180037821-5faabc4a-ab78-4db2-b

[2022-07-20 17:05] annezazu commented on #65526
@Robertght thanks for tagging me in 🤠 I think this most closely overlaps (get it) with this issue: https://github.com/WordPress/gutenberg/issues/40382 and this work in progress PR: https://github.com/WordPress/gutenberg/pull/40625

[2022-07-20 17:21] markbiek commented on #65692
Initial P2 draft with deactivation details: paYKcK-1V9-p2

[2022-07-20 17:23] worldomonation opened #65792 "E2E: Site Importer specs permanently failing due to changes to Importer"
### Quick summary

Site Importer specs are failing permanently due to a change in the Goals Capture feature and the associated featuer flag being turned on.

### Steps to reproduce

Run the `onboarding/setup__importer.ts` test or `onboarding/start__importer.ts` specs.

### What you expected to happen

Specs should pass.

### What actually happened

[code]

![image](https://user-images.githubuserco

[2022-07-20 17:27] worldomonation commented on #65208
Issue no longer relevant due to the Plans Revert.

[2022-07-20 17:27] #65208 closed, assigned to youbrokesomething

[2022-07-20 17:40] worldomonation opened #65793 "Flaky E2E: Handle 2FA challenge"
### Spec file

authentication__apple.ts

### TeamCity ID

_No response_

### Logs

[code]

[2022-07-20 17:46] yansern commented on #65792
Thanks for catching this! Does manually trigger "Calypso E2E Pre Release" in TeamCity runs the importer specs?

[2022-07-20 17:49] worldomonation commented on #65792
I believe the Importer specs are run for the Calypso E2E suites, which are run on feature branches for every commit.

Relevant thread: p1658336587392099-slack-C02DQP0FP

[2022-07-20 17:55] danielbachhuber commented on #65651
After some discussion:
1. We'll add a "Would you like to create a new account?" link.
2. If they click the link, they'll be taken to `https://wordpress.com/start/user?launch=google`, which will launch the Sign Up with Google popup.

[2022-07-20 18:00] obenland commented on #65518
Agreed, that would be nice. It looks like those API docs are currently limited to the old v1.1 endpoints and doesn't extend to the `wpcom/v2` WP REST API endpoints (yet).

I understand the appeal of interactive API docs yet I'd be concerned about having to maintain code and docs separately, especially when it comes to maintaining these endpoints in the future. Swagger seems to get quite a bit of a

[2022-07-20 18:06] danielbachhuber commented on #65652
👍 This makes sense as explained.

[2022-07-20 18:07] danielbachhuber commented on #65654
👍 This makes sense as explained.

[2022-07-20 19:00] arinoch opened #65795 "SEO: Build in the option of deferring third-party javascript where possible as a default."
### What

I would like sites hosted on wordpress.com to be set up to automatically defer third-party javascript as a built-in feature, rather than requiring a plugin ([example](https://wordpress.org/plugins/flying-scripts/)).

### Why

We advertise being good for SEO, and site speed plays a part in that. We provide documentation for what users can do to optimize their content, but there are optimi

[2022-07-20 19:09] danielbachhuber commented on #65762
Ah, yeah, that could work too.

[2022-07-20 19:22] jeffgolenski commented on #65162
@SaxonF

Thanks for continuing to push on this! Can you send me the figma file where you're working so we can jam together? We've got a few issues to fix for Jetpack, but it would be nice to see them side-by-side. I'll work on some prototypes as well. Thanks, friends!

[2022-07-20 19:30] danielbachhuber opened #65796 "[New Comment] Clarify two elements of "Unsubscribe" UX"
Originally p1658331679612089-slack-C01V08T6KKJ

A user can receive a `[New Comment]` notification email for at least these two reasons:
1. They're subscribed to all comments on the blog.
2. They're subscribed to comments for a particular post.

However, the "Unsubscribe" link at the bottom of the email doesn't make it clear what will happen when clicked:

<img width="914" alt="image" src="https://

[2022-07-20 19:37] mreishus commented on #65775
### Current Status = Reverted

* The latest ETK seems to have an error in it.
* As of `[2022-07-20 14:36 +0000]`, We have currently reverted the ETK version ( D84545-code ) to working version `3.37278` based off 6264558dc, which does not have the error, preventing the error in production.

### How to check

The error is recreatable on sandbox by visiting a sandboxed p2 post url and appending `?con

[2022-07-20 19:56] supernovia commented on #65739
@KirkwallDay would you happen to have a handy screenshot of that?

[2022-07-20 20:11] #65793 closed, assigned to worldomonation

[2022-07-20 20:25] phcp opened #65798 "[New Liked Comment] Create feature flag"
### Details
Create `wpcom_use_2022_new_liked_comment_email_template` feature flag using a similar approach as `wpcom_use_2021_email_templates` did. There is a `wpcom_html_emails_use_i2_templates` function that validates if the user's email finishes with `+wp21em`, this function is unused and can be replaced for a new one related to New Liked Comment.

[2022-07-20 20:44] mreishus commented on #65775
I figured how to bisect locally (run `yarn build` in the ETK directory and either copy or examine the built files)

I'm seeing #65531 as the first commit causing the crash. It seems plausible:
* Modifies the ETK
* Adds @automattic/calypso-config as a dependency (the error we're seeing is related to calypso-config)

 I tested 58dc89437a and the version just before it 78dd64028f, by yarn building th

[2022-07-20 20:59] phcp opened #65799 "[New Liked Post] Define and add link descriptors to links/buttons"
### Details
It's necessary to introduce link descriptors on all links in the template to collect additional metrics on New Liked Post emails.

### Checklist
- [ ] Define link descriptors for all links in the template
- [ ] Verify possible naming collisions
- [ ] Include `data-tracks-link-desc` on all links
- [ ] Verify if the descriptor is available in the URL event data

[2022-07-20 21:16] ccwalburn commented on #49109
Adding another user request 36120132-hc

[2022-07-20 21:40] ccwalburn opened #65801 "Feature request: Add Message to Jetpack Downloadable Backup Screen"
### What

Add a message to the Jetpack download backup process to warn users that there is no way to automatically import the backup file that is created into a WordPress.com site. The message could also include a link to the _Manually Restore a Backup_ steps here:

https://jetpack.com/support/backup/manually-restore-a-backup/

### Why

Many users believe that since we have a Jetpack **Download Ba

[2022-07-20 21:49] dhackneya8c commented on #65775
Another report in 36124171-hc

[2022-07-20 22:12] tanjoymor commented on #65775
Additional reports: 36085205-hc
It also happened while I was in a Quick Start session (before I knew this was a known issue)
And I can't add pages to any of my own simple sites.

[2022-07-20 22:31] supernovia commented on #65775
https://wordpress.com/forums/topic/unable-to-add-pages-2/

[2022-07-20 22:49] mreishus commented on #65775
## Problem reappearing

Our mitigation (reverting the ETK version) stopped being effective when a new ETK was deployed: ( D84579-code ). Something to consider for the future: How can we better share the status of 'ETK Blocked'?

## Fix deployed

Since there was active breakage, we decided to revert (#65531 and #65725) immediately to bring the ETK back to a stable state: ( #65803 + D84592-code ).
T

[2022-07-20 22:51] p-jackson commented on #65649
I'd recommend a property name that isn't called "flow". Signups already have a very well-understood meaning for the word "flow" so it could trip some people up. Maybe it's something like "initiator"?

[2022-07-20 23:41] #65792 closed, assigned to nobody

[2022-07-20 23:51] worldomonation opened #65806 "Reorganize and rename build configurations"
### Details

Currently the build configurations are split between the two major projects:
- WPCOMTests
- Web App

The distinction here and the kinds of build configurations they both contain are murky at best.

Furthermore, names of build configurations are not entirely clear either:
- Calypso E2E (is it just Calypso?)
- Pre-Release Tests (what does it cover?)

### Checklist

_No response_

### Re

[2022-07-20 23:53] worldomonation opened #65807 "Refactor `E2EBuildType` to support multi-step builds."
### Details

Currently, the E2EBuildType has a pre-defined list of build steps that can be run:
- prepare environment
- run tests
- collect results

While this works well, for some tasks we may want to set up a multi-step build, such as:
- prepare environment
- run set A
- run set B
- collect results

Refactor the E2EBuildType class to support passing in a list of steps.

### Checklist

- [ ]
- [

[2022-07-21 00:07] phcp commented on #65709
Thank you for mapping these Ivan! They all look good to me. In the latest version on Figma we only have the View Comment button, so no need to include on on View Post as it'll be deleted.

We may also need to define a link-desc for the "their blog" link below. In this case, the description would be added in the Update layout task as the link isn't there yet:
![Image](https://user-images.githubuser

[2022-07-21 00:38] hacchism commented on #64396
Another case: 36124777-hc (the user didn't mention it actually but I noticed it while checking the user's Site Editor)

[2022-07-21 01:35] lsl commented on #65718
When we query ES instead are we able to maintain the setup of querying a group of tag slugs to represent a category?

That's something we will want to maintain for querying .org plugins if its all being queried through the same index. I'd also like to keep the .com setup as consistent with .org as possible so [we're planning to store categories on woo.com in the same way](13159-gh-Automattic/wooco

[2022-07-21 02:14] noahtallen commented on #65775
Closing as fixed 👍

[2022-07-21 02:14] #65775 closed, assigned to nobody

[2022-07-21 02:20] arinoch commented on #52241
One more. 36125479-hc

Given how far this is down the priority list, gave the local alternative and did not offer a followup.

[2022-07-21 03:10] #65278 closed, assigned to lsl

[2022-07-21 03:26] lsl commented on #65219
@allilevine this list is in alphabetical order are we making this based on usage frequency instead?

[2022-07-21 04:18] ouikhuan opened #65810 "Move Jetpack installation in a modal inside importing page"
### Objective
The moment when a user clicks "install Jetpack" button during the migration flow, it opens a new tab and kicks off the Jetpack installation process, but there are no clear messages that bring users back to the migration flow. In this case, we might want to consider bringing the Jetpack installation inside the importing page as a modal instead of opening it in a new tab, once they’ve

[2022-07-21 04:21] lsl opened #65811 "Marketplace: Add blocks and editor tags to the Design category"
After some recent discussion about updating cats (pdh6GB-1kr-p2#comment-2270), we'd like to add two new tags to the design category.

The category component [lives here](https://github.com/Automattic/wp-calypso/tree/110806a819dca23a6118518d7808145b37bec2a6/client/my-sites/plugins/categories). The line of code we need to change is [here](https://github.com/Automattic/wp-calypso/blob/110806a819dca23

[2022-07-21 04:35] lsl commented on #65219
Moved "Add `blocks` and `editor` tags to `Design` category per pdh6GB-1kr-p2#comment-2270" to a separate issue https://github.com/Automattic/wp-calypso/issues/65811

[2022-07-21 04:47] Robertght commented on #62755
5411195-zen

[2022-07-21 04:49] lsl commented on #65219
Dropping "bookings-plugin"/"booking-plugin" and "appointment-booking-system" as they lack results / should be covered by the others.

[2022-07-21 05:43] ouikhuan opened #65815 "Error messages can be more descriptive and clearer"
### Objective
- Error messages like an invalid client or client id is missing is confusing the users and they might not know how to continue their process on migration.
- The errors can be complicated sometimes. For example, you might need to fix the plugin conflict before migrating your site. Some errors like this might need more helps on our end.

### Approach
- [ ] Try to listed down all the er

[2022-07-21 05:43] lsl commented on #65219
https://github.com/Automattic/wp-calypso/pull/65812 for most of the items in the list

[2022-07-21 05:50] ouikhuan opened #65816 "Wording on the importing process can be clearer"
### Objective
- When we hit the last step of the migration flow we can see a progress bar which is nice, but we might want to let the users know if they’re safe to walk away from the page or not?
- Customers are concerned about missing images after an import, either due to the fact that the images were still being processed in the background, or due to the fact that the site being migrated from wa

[2022-07-21 05:52] rw-ye commented on #62755
5412143-zd-woothemes

Theme: Hemingway Rewritten

[2022-07-21 05:55] gavande1 commented on #65347
Yes. `active` will be always 1 since we will looking for active subscriptions only.

[2022-07-21 06:04] ouikhuan opened #65817 "Adding Spinner during the Jetpack installation"
### Objective
After clicking Install Jetpack it’ll open a new tab and start the Jetpack installation. During the installation, even the process is still working in the background, we don’t have any indications in the frontend which users might be thinking the process has been stuck, this also happens when the Jetpack is installed.

![Image](https://user-images.githubusercontent.com/4074459/1801413

[2022-07-21 06:05] lsl opened #65818 "Marketplace: Improve or replace generic categories"
`photo`,`widgets`,`posts`

Search performance for these categories seemed low. We suspect its due to them being very general in nature.

For `photo` (aka media), `widgets`, and `posts` categories, look through the plugins within them and pull out more specific categories.

For example, the [photo category](https://wordpress.org/plugins/tags/photo/) might be worth renaming to "Photo gallery". We're

[2022-07-21 06:06] lsl commented on #65219
Added new issue for the "last part" https://github.com/Automattic/wp-calypso/issues/65818

[2022-07-21 06:10] ouikhuan opened #65819 "Wording on Jetpack required can be improved"
### Objective

- During the importing flow, we have “Jetpack required” as an option without much information, users only see the text You need to have Jetpack installed on your site to be able to import everything but what if they don’t understand what Jetpack is? If users get confused by this step it might stop them from continuing the process.
- Some users have concerns about losing their origin

[2022-07-21 06:23] taipeicoder commented on #64978
Closing this one as it's been shipped, announcement [here](p7DVsv-eZD-p2).
Follow-up tasks will be split into individual issues.

[2022-07-21 06:23] #64978 closed, assigned to miksansegundo

[2022-07-21 06:24] taipeicoder commented on #62940
Closing, as we will create tasks for more concrete ideas.

[2022-07-21 06:24] #62940 closed, assigned to nobody

[2022-07-21 06:24] ouikhuan opened #65821 "Jetpack free plan sometimes not showing for some reason"
### Objective

If everything looks fine and I get to the Jetpack plan selection page, for some reason I can’t see the Jetpack free plan, so I assume that’s something already picked. If I head back to my self-hosted website, I can’t see anything listed in “My Plans” but if you go to the plans page you can see Jetpack Free plan as an option. See pcmemI-KN-p2#jetpack-free-plan-confusion for videos.

[2022-07-21 06:38] SaxonF commented on #65574
All looks good!

How about "Give your site super powers" as a title?

The only one I'd push back on is `Learn more` for each category. I don't feel like the additional context is needed and it could get lengthy when we have longer category/collection titles.

<img width="1288" alt="image" src="https://user-images.githubusercontent.com/1072756/180145890-aaef96a6-5618-4b62-823c-f002b65632ce.png">

[2022-07-21 07:02] ouikhuan opened #65824 "Jetpack price detection failure if the process has been interrupted"
### Objective
When we agree to install Jetpack, we’ll face a screen that needs our approval before continuing, if we decide to think about it and come back later, the process will be broken with a wrong pricing page, see pcmemI-KN-p2#failure-if-the-process-has-been-interrupted for videos.

[2022-07-21 07:26] ouikhuan opened #65825 "Missing “Everything Import” option when attempting to import"
### Objective
The “Everything Import” option is greyed out without clear messages, sometimes it requires the Jetpack to be installed and others might need the user to upgrade a plan. The objective here is to make sure users know the reason for greyed out and how to unblock it. Maybe this is something that can work with "Jetpack required" wording as well.

### Approach
Looking for the wording impro

[2022-07-21 07:26] SaxonF commented on #65162
I wanted to re-surface an earlier proposal [here](https://buildp2.wordpress.com/2022/06/24/multi-site-management-i1-2/) which is to just separate "my sites" from the WordPress logo and use that to link up the main sites view. WordPress logo would still link to current site's admin home. The site switcher would remain the same for the time being, however we could update the "add new site" button to

[2022-07-21 07:34] ouikhuan opened #65826 "Explore backend improvements"
### Objective
Everything Import migration results in breakage of a few Atomic-specific functionalities like symlinked plugins, plan status, Jetpack connection and a few other things, see p7DVsv-eM6-p2#comment-41177 for more details.

[2022-07-21 07:41] ouikhuan commented on #65017
Adding some context here:

### Objective

For domains that are registered or connected on WordPress.com, but pointing to a third-party site using A records cannot be imported to WordPress.com.

The error message that we see on Calypso is just “This site is already hosted on WordPress.com” but that’s not true, as verified by visiting “domain.com/.well-known/hosting-provider” where we can see the re

[2022-07-21 07:52] ouikhuan opened #65828 "Opportunity to handle broken WordPress.org sites"
### Objective
For various reasons, people often want to import here because they don’t know how to manage their broken site. But broken sites are harder to export and need to be fixed first.

### Approach
We might be facing both broken sites and hacked sites in this situation. We'll need to evaluate if we want to work on this.

[2022-07-21 07:55] rcrdortiz commented on #64738
p9o2xV-2h0-p2

[2022-07-21 08:09] jimmy319 commented on #65335
### Spike: redirect to the design picker directly without setting the vertical

<img width="1047" alt="Screen Shot 2022-07-21 at 2 59 23 PM" src="https://user-images.githubusercontent.com/1024985/180152365-0a311746-ae38-4970-b16d-3dd42896a06f.png">
<img width="1782" alt="Screen Shot 2022-07-21 at 3 03 53 PM" src="https://user-images.githubusercontent.com/1024985/180152431-a4cd1fc0-abd7-4635-9502-6

[2022-07-21 08:10] ouikhuan opened #65829 "Detect “.wpress” uploads"
### Objective

Detect “.wpress” uploads at `/import` and recommend them to use Jetpack import if they can, or as a second suggestion, offer them to install “All-in-one WP migration”.

[2022-07-21 08:14] ouikhuan opened #65830 "Site address changing during the importing process"
### Objective

During the importing, the screen changed slightly. Originally, it said “Restoring to domain.wordpress.com” and then it changed to “Restoring to domain.wpcomstaging.com.” This might confuse users.

### Approach

Review this in the codebase and fix it.

[2022-07-21 08:19] ouikhuan opened #65831 "Investigate the result of importing status"
### Objective

During the import process, sometimes we get an imported completed email and can see the success bot showing it's finished in the site-migration-errors channel. But on users' site they'll be showing an import failed screen even if the result is actually successful. We might want to look into the reason behind this.

[2022-07-21 08:36] galakhyati opened #65832 "The font getting reset"
### Quick summary

The user reached out to us to inform the fonts on their site changed. When tried they aren't able to change it back through Global Styles setting on Site Editor.

### Steps to reproduce

We don't know the exact steps here to replicate, but we're suspecting it is caused due to Blockbase themes since we've got multiple cases using different themes.

On my test site I'm able to rep

[2022-07-21 08:39] happychait commented on #65832
Another report for a Simple site to be followed up:

- [ ] 5411926-zen

[2022-07-21 08:55] p-jackson commented on #65762
`history.replace` sounds pretty good. Presumably calling this directly wouldn't fire the `page.js` handling? That's nothing wrong with that, just wondering out loud.

It does feel like the URL would be changing a lot 😅 But if there are no performance issues with that (like the call to `history.replace()` taking 50ms to complete) then maybe we wouldn't need to debounce it? I just want to make sure

[2022-07-21 09:09] alshakero opened #65833 "Task: Build Tailored Signup Flow Foundation"
### Details

We need to create a new sign up flow in [Stepper](https://github.com/Automattic/wp-calypso/tree/trunk/client/landing/stepper).

We can use other flows for inspiration (such as site-setup-flow and anchor-fm-flow). This task is just to build the wireframes of the flows, empty steps and their navigation wiring. The steps are available in this design 2cf12-pb.

I already created a seed PR

[2022-07-21 09:17] edwinho89 commented on #65832
- [ ] 5411796-zd-woothemes

[2022-07-21 09:29] marutim commented on #65832
Another report here: hc-36128397
- Platform: Atomic
- Theme: Quadrat White

Workaround: Deactivated the Gutenberg plugin to fix the font issue

[2022-07-21 09:43] maciejpilarski commented on #65832
5412634-zen

Platform: Atomic
Theme: Geologist

[2022-07-21 09:56] bogiii opened #65835 "Subscribers form: Update text, replace "followers" with "subscribers""
![Image](https://user-images.githubusercontent.com/1241413/180186406-5ac1360e-a69b-4b86-8b2b-a483930dd564.png)

[2022-07-21 10:59] kavyagokul commented on #65832
36129454-hc

Platform: Atomic
Theme: Quadrat White
Workarround: Deactivated Gutenberg

[2022-07-21 11:07] maciejpilarski commented on #65832
36129638-hc

Platform: Atomic
Theme: Attar

[2022-07-21 11:25] vajrasar commented on #65832
- [ ] 5412470-zd-woothemes

AT / `Attar` theme.

Asking the user to try and deactivate the Gutenberg plugin.

[2022-07-21 11:29] rcrdortiz commented on #65774
732-gh-Automattic/dotcom-manage

[2022-07-21 11:39] carinapilar opened #65836 "List Block: Editing a copy of a link applies changes to the first link, not the copy"
### Quick summary

When you try to edit a link on a copied list item, it updates the previous item's link.

### Steps to reproduce

1. Using the List block, add one list item with a link
2. Copy that first item and create a second one with it
3. Edit the link on the second item

### What you expected to happen

To edit the link on the second item.

### What actually happened

The link changes on t

[2022-07-21 11:41] Robertght commented on #65093
Thank you for working on this @aisajib !

I'm closing this for now, but please reopen if this becomes relevant again.

[2022-07-21 11:41] #65093 closed, assigned to nobody

[2022-07-21 11:44] mashikag commented on #65744
I am closing this issue but it does not mean it is done.

It is now moved in as a requirement of the following issue:
[[New Comment] Apply new template layout #65741](https://github.com/Automattic/wp-calypso/issues/65741)

[2022-07-21 11:45] mashikag commented on #65746
I am closing this issue but it does not mean it is done.

It is now moved in as a requirement of the following issue:
https://github.com/Automattic/wp-calypso/issues/65741

[2022-07-21 11:46] mashikag commented on #65748
I am closing this issue but it does not mean it is done.

It is now moved in as a requirement of the following issue: https://github.com/Automattic/wp-calypso/issues/65741

[2022-07-21 12:11] Robertght commented on #64856
Apologies for the delay here @kdevnel !

Unfortunately, I'm unable to replicate this.
The user also switched the theme to a different one.
I have updated the ticket and slack ref in this report so we can find it easily in the future.

Closing, but please reopen if needed.

[2022-07-21 12:11] #64856 closed, assigned to nobody

[2022-07-21 12:16] Addison-Stavlo commented on #62755
Reading the reports that are still incoming, it looks like this is still failing at this specific edit button:

![Screen Shot 2022-07-21 at 8 15 02 AM](https://user-images.githubusercontent.com/28742426/180211435-af604e16-2d38-4155-a363-320a029e8e97.png)

As you can see above on my atomic test site, I enabled a classic theme (twenty nineteen), yet I have the Edit button directing me to the Site Ed

[2022-07-21 12:29] Robertght commented on #65659
Thank you @kspilarski !

To conclude, this happens if the Post, Page or Featured image has also a featured image together with the posts, posts or projects that are inside the Blog post block. From my findings, what happens is that the Featured image **covers** the title and post meta, making it impossible to see:

![image](https://user-images.githubusercontent.com/6737345/180212615-d20ab4d6-749a-

[2022-07-21 12:43] #64676 closed, assigned to heavyweight

[2022-07-21 12:54] upwardmomentum84 commented on #65832
35861979-hc

Platform: Atomic
Theme: Quadrat White

[2022-07-21 12:58] rcrdortiz commented on #65727
p9o2xV-2h4-p2

[2022-07-21 13:03] rcrdortiz commented on #65729
p9o2xV-2h8-p2

[2022-07-21 13:07] rcrdortiz commented on #65774
https://atomicp2.wordpress.com/2022/07/21/request-add-woocommerce-distance-rate-shipping-as-a-managed-plugin/

[2022-07-21 13:09] cpapazoglou commented on #65346
Similar request pMz3w-eDW-p2

[2022-07-21 13:14] cpapazoglou commented on #65348
The API that needs to be authenticated is created as part of https://github.com/Automattic/wp-calypso/issues/65347

[2022-07-21 13:14] zaguiini commented on #65649
Or `origin`. Something like that...

[2022-07-21 13:18] danielbachhuber commented on #65649
Going with `starting_point`.

[2022-07-21 13:31] cpapazoglou commented on #65349
Tasks:

- [ ] update db schema
- [ ] store the webhook event results

[2022-07-21 13:52] Copons opened #65842 "Marketplace: Investigate product description styling in Calypso"
## Description
Some Marketplace product descriptions aren't being displayed correctly in Calypso. We should evaluate if we can do anything so that these descriptions are presented in a way that doesn't break the UX.

[2022-07-21 13:55] Copons commented on #62025
This can be closed by the release of https://github.com/Automattic/wp-calypso/pull/65125 a couple of weeks ago, which makes Jetpack Search purchasable through the Marketplace.

There is room for polish and to tackle minor issues, but we'll consider them regular maintenance.

[2022-07-21 13:55] #62025 closed, assigned to Copons

[2022-07-21 14:20] sguzovskaia commented on #53716
Another report in 36131859-hc

[2022-07-21 14:25] #65701 closed, assigned to sixhours

[2022-07-21 14:38] sejas commented on #62545
In my opinion, this is a bad Gutenberg UX, not a bug.

In our documentation, we explain that the button to move the widget is:
<img width="41" alt="Screenshot 2022-07-21 at 15 33 53" src="https://user-images.githubusercontent.com/779993/180240474-5c674f12-e086-49a4-83c3-c7c343363547.png">

https://wordpress.com/support/widgets/#move-blocks-between-widget-areas

The `move to` has the "same" behavio

[2022-07-21 14:47] creativecoder commented on #62755
That makes sense, as so far we've only migrated the logic for "Edit site" on My Home to use the Core endpoint for detecting FSE.

We're tracking other uses of `is_fse_active` in https://github.com/Automattic/wp-calypso/issues/65697, that @agrullon95 is currently working on, so this should be resolved soon.

[2022-07-21 14:49] allilevine commented on #65219
@lsl What was the reason for ordering it alphabetically?

Thanks for diving into the unknown. 😅

[2022-07-21 14:50] obenland commented on #65347
How would you feel about dropping that field then? It feels redundant if it never changes.

[2022-07-21 14:51] sixhours commented on #65565
Since we have the pricing (above P2) and terms (yearly/monthly) can we close this out?

[2022-07-21 14:52] obenland commented on #65347
In pdh6GB-1dL-p2#comment-2028 @cpapazoglou said that most 3PD need license type 2—could we select one or two of those and ask them what kinds of fields they'd expect/needed when querying this endpoint?

[2022-07-21 14:53] sguzovskaia commented on #65832
More reports:
36129463-hc/  | Theme: Attar
25760154-hc | Theme: Zoologist

[2022-07-21 15:09] alshakero opened #65847 "Task: Remove /start code that was replaced by Stepper"
### Details

Stepper reused a lot of /start/setup-site logic, but some logic was inevitably recreated, this means some unused code is still sitting in Calypso now that needs some cleanup.

A satisfying red PR would be nice.

### Checklist

- Go through Build, Blog, and Sell setup flows and delete their code in /start. Small example [here](https://github.com/Automattic/wp-calypso/blob/21d31f72d1bc4

[2022-07-21 15:15] creativecoder commented on #65847
Thanks for this. Removing the steps (`steps-pure.js`) and flows (`flows-pure.js`) and their associated components and callbacks from the /start framework that are no longer being used will be really helpful at reducing misdirection for those of us looking at signup code for the first time, or the first time in a long time.

[2022-07-21 15:32] ivan-ottinger opened #65848 "Import step: Add fallback logic for missing string translations"
Context: pdDOJh-vD-p2#comment-421.

[2022-07-21 15:39] ivan-ottinger commented on #65492
Resources we may find helpful:
- D83276-code
- D80544-code
- pdWOS1-1z-p2

[2022-07-21 15:42] BeyondspaceTeam commented on #64960
I'll update the tasks in the issue description and update ballpark estimate

[2022-07-21 16:29] CodeAllNightNDay opened #65852 "Update older comments left on sites to reflect a change in WordPress.com username"
### What

Currently, a user has no recourse to remove comments on other blogs if the blog owner does not agree. Even if they delete their account, the comments remain. If they update their username, older comments still reflect the previous username.

### Why

Use case: 3085854-hc

Image the user made comments they regret, and their username reflected their real-life name.

1. Even after they chan

[2022-07-21 16:33] kelasante commented on #57812
Another report in 18356650-hc. Shared previewing in Pages list instead.

[2022-07-21 16:42] danielbachhuber commented on #65652
@zaguiini Could you share more detail about the event you're thinking here?

[2022-07-21 17:20] obenland commented on #65586
This can probably be abandoned with the Business plan now being available again.

[2022-07-21 17:20] #65586 closed, assigned to nobody

[2022-07-21 17:26] worldomonation opened #65854 "Flaky E2E: Click on the My Plans tab"
### Spec file

plans__legacy-renew.ts

### TeamCity ID

8265858

### Logs

[code]

![image](https://user-images.githubusercontent.com/6549265/180276053-b6423ffb-69e1-49ff-a450-8e197bf0c697.png)

Possibly related to #65855.

[2022-07-21 17:28] worldomonation commented on #65854
May be related to the Plans revert.

[2022-07-21 17:28] worldomonation commented on #62492
The overhauled Plans are being reverted. This project has run its course.

[2022-07-21 17:28] #62492 closed, assigned to worldomonation

[2022-07-21 17:30] worldomonation opened #65855 "[Meta] WordPress.com Legacy Plans e2e coverage"
### Details

See project thread: pciE2j-16G-p2

### Checklist

_No response_

### Related

_No response_

[2022-07-21 17:31] Gustavo-Hilario opened #65856 "FSE Themes: Change the color applied to WooCommerce products"
### What

Change the color applied to WooCommerce product prices on Blockbase theme.

### Why

A user on 5413058-zen wanted to change the color applied to WooCommerce product prices, and that wasn't possible without CSS. Blockbase themes are using a fixed green color on product prices, and that might be really inconsistent with the color palette a user might be using on their site. In their case,

[2022-07-21 17:45] allilevine commented on #65347
List of plugins we're talking to and license type (linked here): pdh6GB-TH-p2#comment-2236

[2022-07-21 18:04] CompChris commented on #65832
5413663-zen
Disabled Gutenberg as workaround.

Platform: Atomic
Theme: Quadrat White

[2022-07-21 18:13] obenland commented on #65348
Looks like this will require a new authentication method in `rest-api-plugins/centralized/auth.php`?

[2022-07-21 18:52] kerrynicl commented on #65115
Also reported here - ZD-5413976 . I disabled the gutenberg plugin which seemed to help

[2022-07-21 18:59] jeyip commented on #64131
Fix is deployed and working as expected on simple sites.

Not working on the atomic site I tested yet, but I know that `widgets.wp.com` might be serving assets through a cache that needs to be invalidated over time. Will check in periodically

[2022-07-21 19:03] dsas commented on #65663
We decided in pdh6GB-1EV-p2 that we should reinstate the selective skip list for activations, therefore D84389-code is abandoned. This means this issue should find some way of escaping or handling plugins with slugs such as the one here.

I no longer think this is a quick win, and as the bug is low impact and [the code in question is potentially up for refactor](https://github.com/Automattic/wp-ca

[2022-07-21 19:05] valterlorran opened #65857 "Theme showcase: Add purchase information in the theme data"
We don't have the information on whether a theme was purchased or not. The way we verify if the theme was purchased is very fragile and can lead to problems in the future. To define if a theme was purchased or not, currently, we are checking if the theme has the price information in one place and not in other.
https://github.com/Automattic/wp-calypso/blob/d3a17c226435acd3686dc52324b24f735c26ec2c/c

[2022-07-21 19:11] dsas opened #65858 "Make Marketplace plugin activation load dependent plugins"
In April we changed how Marketplace plugins are activated, to enable dependant plugins when activating a purchased plugin (D78193-code). This was specifically to cater for an issue activating a third party plugin (pdh6GB-zu-p2).

In May when refactoring this code (D80817-code) this was unwittingly undone - marketplace plugin installation loaded only dependant plugins, but activation ran without an

[2022-07-21 19:40] jp-imagines commented on #65832
Another in 36134915-hc. Atomic site, theme: Appleton. Workaround of disabling Gutenberg helped.

- [ ] 5414126-zd-woothemes

Also noting that this user's navigation menu went missing as well (unsure if that was before or after Gutenberg was deactivated). I suspect they originally set it up in the Customizer, and that didn't get ported over with the recent Blockbase update. I _was_ able to add the

[2022-07-21 20:14] phcp commented on #65471
@mashikag I think we can close this issue as we won't create reusable templates

[2022-07-21 20:21] #64928 closed, assigned to nobody

[2022-07-21 20:21] #64930 closed, assigned to nobody

[2022-07-21 20:21] #64929 closed, assigned to nobody

[2022-07-21 20:39] #65832 closed, assigned to nobody

[2022-07-21 20:52] cometgrrl commented on #65115
@Automattic/team-calypso Seems like this might be Gutenberg related, can y'all take a look?

[2022-07-21 20:58] pablohoneyhoney commented on #65162
[This work above](https://github.com/Automattic/wp-calypso/issues/65162#issuecomment-1189914507) is taking much better shape with greater context on how the flows and cases work.

A few notes:

- This should likely say the number of sites (otherwise there isn't any reference to the quantity). Manage all xx sites
- Is there another way to represent these buttons more discreetly? I personally like t

[2022-07-21 20:59] jp-imagines commented on #62755
Just noting I had another instance of this (the "Edit" button appearing instead of "Customize" at _Appearance > Themes_) in 36000379-hc for a third-party theme.

On my end, I saw the button "flicker" between Customize/Edit before settling on the incorrect "Edit" button.

[2022-07-21 20:59] pbking commented on #65832
This SHOULD be addressed with this change which was just deployed.  It's a change to Blockbase and once that version (3.0.1) is pushed to the atomic sites this should no longer be a problem.

Any of those sites noted above where Gutenberg was inactivated to address this issues should be able to re-activate Gutenberg with no adverse effects.

I'm not sure how long it takes once a theme has been dep

[2022-07-21 21:00] zaguiini commented on #65649
I recommend we go this route, @danielbachhuber:

If we search for usages of the [`<GoogleLoginButton />` component](https://github.com/Automattic/wp-calypso/blob/trunk/client/components/social-buttons/google.js), we'll see that it's used in the exact three places where we're aiming to understand the origin of the events:

<img width="346" alt="image" src="https://user-images.githubusercontent.com/

[2022-07-21 21:09] worldomonation opened #65864 "Store: Create your store button shown upon purchase of eCommerce plan takes users to a broken page."
### Quick summary

Upon successful purchase of the eCommerce plan, the post-purchase screen has a single button labelled "Create your store!".

Clicking on this button takes user to a page with the following error:
[code]

![Screen Shot 2022-07-21 at 1 55 11 PM](https://user-images.githubusercontent.com/6549265/180315644-7936acf3-7457-4223-ada3-18bfcb035d40.png)

### Steps to reproduce

prereq. ad

[2022-07-21 21:35] mreishus commented on #65864
When purchasing a new ecommerce plan with the sandboxed store, the site is successfully transferred to atomic, but the woocommerce plugin is not installed.
When purchasing from the real store, woocommerce is installed.
The page it's trying to land on is the woocommerce wizard, so the plugin needs to be active for it to work.

[2022-07-21 21:43] worldomonation commented on #65864
Closing the issue for now because as noted, the issue is due to WooCommerce not being installed on AT sites when eCommerce is purchased inside a sandbox.

Thanks for @mreishus for the investigation.

[2022-07-21 21:43] #65864 closed, assigned to nobody

[2022-07-21 21:51] danielbachhuber commented on #65652
Need to ask for PA feedback on whether this is even a good idea.

[2022-07-21 22:13] zaguiini commented on #65651
After discussions, we decided that this (`unknown_user`) is not an error, but an _attempt_ to log in. So we decided to treat them as such. We'll create a new event prefixed `_attempt` and we'll replace the failure event with this attempt.

More: p1658441604524419-slack-C0347E545HR.

[2022-07-21 22:14] zaguiini commented on #65654
After discussions, we decided that this (`user_exists`) is not an error, but an _attempt_ to sign up. So we decided to treat them as such. We'll create a new event prefixed `_attempt` and we'll replace the failure event with this attempt.

More: p1658441604524419-slack-C0347E545HR.

[2022-07-21 22:16] #65604 closed, assigned to zaguiini

[2022-07-21 22:43] mxhassani opened #65867 "Twenty Sixteen image overlay on posts without entry meta"
### Quick summary

There is some CSS code on the theme causing images to misalign when the post meta is hidden from the customizer.

### Steps to reproduce

1. Activate Twenty Sixteen theme
2. Deactivate all checkboxes under Customizer > Content Options > Post Details (this will hide post meta)
3. Create a new post (not a page)
4. Add a first block (any block)
5. Add a column block under it and se

[2022-07-22 00:04] lsl commented on #65219
You'd have to ask @SaxonF for that. I assumed it was a UX choice, especially for the mobile slider and if we add more categories in future. Could make the case either way though I think.

[2022-07-22 02:02] edwinho89 commented on #65214
Reopen GH as it occurred again in 31899886-hc , where user constantly redirects to `wp-admin/admin.php?page=wc-admin` on any wp-admin navigations.

No WooCommerce Booking extension, however the workaround does work in resolving the issue.

[code]

[2022-07-22 02:34] jamiepalatnik commented on #65624
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - No
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to recreate this on Atomic. Clicking to edit the reply comment opens the parent comment instead of the correct comment. It looks like the link on Edit for the reply comment is the same as the par

[2022-07-22 02:34] bangank36 opened #65869 "Checkout: Bring customers to onboarding flows after checkout for new sites"
# Description
This is following tasks for the recent update on post-checkout #65851

**New sites**: Plans → Checkout → Upsell → Continue site setup onboarding.
**Existing sites doing plan upgrade**: Checkout → Upsell → Thank you page
**Existing sites launching a site upgrade:** Plans → Checkout → Upsell → My home

# Testing Instructions
- Give yourself some credits
- Trigger the upsell flow on new

[2022-07-22 02:47] jamiepalatnik commented on #65629
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - No
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I tested on simple, Atomic, and self-hosted with the themes Appleton, Twenty Twenty-Two, and Attar.
- I tested aligning the Post Featured Image to the right in a Query Loop block.
- In all tests the aligmen

[2022-07-22 02:47] #65629 closed, assigned to nobody

[2022-07-22 03:16] jamiepalatnik commented on #65656
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - No
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested on simple, Atomic, self-hosted by publishing a post with the character é. I could not recreate this issue with the notification email. The subject line displayed as expected.

📌 ACTIONS
- Closed as c

[2022-07-22 03:32] jamiepalatnik commented on #65658
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- This seems to be the same issue as 458-gh-Automattic/payments-shilling
- Will close this issue in favor of that open issue.

📌 ACTIONS
- Closed as duplicate of 458-gh-Automattic/payments-shilling

[2022-07-22 03:32] #65658 closed, assigned to nobody

[2022-07-22 03:50] jamiepalatnik commented on #65662
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple - N/A
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Noting that WooCommerce needs to be installed and at least one product published to test this. I'd recommend adding that to the steps to reproduce.
- I tested on Atomic and self-hosted with the theme T

[2022-07-22 04:06] jamiepalatnik commented on #62755
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - N/A

📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - N/A

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to recreate this on Atomic. When I activated the FSE theme Pendant, I see Customize on the Themes page instead of Edit as expected. Screenshot: <img width="929" alt="Customize" src="https:/

[2022-07-22 05:45] edwinho89 commented on #65832
Adding report for visibility: 5414211-zd-woothemes
Checking to see if issue has been resolved.

[2022-07-22 06:10] gavande1 commented on #65347
@cpapazoglou, I am okay with dropping `active` field. Do you have any strong reason to keep it?

[2022-07-22 06:52] lsl commented on #65219
Lets change to popularity and see what happens, if no improvement go back to alpha?

[2022-07-22 06:52] gavande1 commented on #65347
During our discussion in [Slack](p1658407964813179-slack-C02JPCHEKDY), the team suggested that we should have `wpcom/v2/vendor/subscriptions/SITE_DOMAIN/PRODUCT_SLUG` route instead of `wpcom/v2/marketplace/subscriptions/SITE_DOMAIN/PRODUCT_SLUG` route for getting subscription information.

[2022-07-22 07:08] Robertght opened #65872 "Plugins: No results showing up through direct links"
### Quick summary

When accessing a direct link, the results are not showing up.

I can see @galakhyati was able to display some results, but I couldn't.

It looks like it may be dependent on if we have the primary site set to an AT site or not.(I didn't have it set)

### Steps to reproduce

1. click on: https://wordpress.com/plugins/manage?s=Multilingual
2. Check if you get any results

### What

[2022-07-22 07:12] lsl commented on #65217
Put something in the warning notice re that situation. That should be enough to make us look at it again when we go to try remove that warning notice. I think we need to wait for resolution on the "licensing type 3" 13864-gh-Automattic/woocommerce.com

[2022-07-22 07:12] #65217 closed, assigned to lsl

[2022-07-22 07:16] cpapazoglou commented on #65347
I was thinking that we maybe show inactive ( expired / canceled ) subscriptions too, mainly for historical / debugging reasons. But I feel that it might derail us from the time being. We can drop it for now, and add it in a `v2` version of the endpoint.

[2022-07-22 07:34] rcrdortiz commented on #64738
735-gh-Automattic/dotcom-manage

[2022-07-22 07:34] rcrdortiz commented on #65727
735-gh-Automattic/dotcom-manage

[2022-07-22 07:34] rcrdortiz commented on #65729
735-gh-Automattic/dotcom-manage

[2022-07-22 07:34] rcrdortiz commented on #65774
735-gh-Automattic/dotcom-manage

[2022-07-22 08:08] simison commented on #65847
These need attention, in case they're still used:

- https://github.com/Automattic/wp-calypso/blob/fd70c514b2dd235a7a2bf481b5eb61e7d7ea95ca/client/my-sites/checkout/composite-checkout/hooks/use-get-thank-you-url/get-thank-you-page-url.ts#L297
- https://github.com/Automattic/wp-calypso/blob/11a04f43d6c44bff2c8264418ce4fabd55db138d/client/landing/stepper/declarative-flow/site-setup-flow.ts#L290

[2022-07-22 08:10] #65848 closed, assigned to ivan-ottinger

[2022-07-22 08:16] arunsathiya opened #65874 "Feature request: Translate block for the Gutenberg editor"
### What

A translate block that can be added to any Gutenberg post, page or template editor.

### Why

Supports the ability to translate a full page, and gives the flexibility of positioning the block anywhere on the template.

### How

Something like [this widget](https://wordpress.com/support/widgets/google-translate-widget/), but for the Gutenberg editor.

[2022-07-22 08:17] arunsathiya commented on #65874
36138443-hc.

[2022-07-22 09:14] #65183 closed, assigned to wojtekn

[2022-07-22 09:23] #65283 closed, assigned to ivan-ottinger

[2022-07-22 09:23] #65783 closed, assigned to ivan-ottinger

[2022-07-22 10:19] #65729 closed, assigned to rcrdortiz

[2022-07-22 10:20] #65727 closed, assigned to rcrdortiz

[2022-07-22 10:26] #64738 closed, assigned to rcrdortiz

[2022-07-22 10:28] #65774 closed, assigned to rcrdortiz

[2022-07-22 11:42] sejas commented on #65762
- If we implement the tabs as dropdown, then I don't see the need for this either #65733

[2022-07-22 12:10] #65362 closed, assigned to yansern, gmovr

[2022-07-22 12:15] ivan-ottinger opened #65881 "[New Liked Post] Fix missing styles"
The "New Liked Post" email template is missing styles:

![Image](https://user-images.githubusercontent.com/25105483/180437624-f7bf0b69-c3b7-4a41-9e85-48e5264f38a7.png)

[2022-07-22 12:37] daledupreez commented on #65757
It's probably worth switching the link to https://wordpress.com/support/wordpress-editor/blocks/calendly-block/#change-the-look-and-feel-of-the-calendly-embed
That allows us to reference documentation we control and avoid similar broken links in future. (Also, our docs are pretty good in this case!)

[2022-07-22 12:39] ivan-ottinger opened #65884 "[New Comment] Reply-to email address is missing in certain circumstances"
The new "New Comment" email template is missing `reply-to` address. Please see the screenshots below for comparison:

| Current email template | New email template |
| ------------- | ------------- |
| ![Image](https://user-images.githubusercontent.com/25105483/180441237-93188076-f36a-4a52-8a5b-9eeb9d6b3b01.png) |  ![Image](https://user-images.githubusercontent.com/25105483/180441238-d420cec3-0ccf

[2022-07-22 12:47] deancroyal commented on #63262
36119891-hc

Was able to reproduce on this user's site. Steps...

1. From Dashboard, click on Editor within Appearance.
2. Editor redirects to New Page Editor.
3. Click the back button in browser.
4. Right click on Site Editor and copy link.
5. Open link in new tab.
6. Editor opens as expected.

https://user-images.githubusercontent.com/13387217/180249696-46474a12-6529-4167-88b4-47062a844efd.mp4

[2022-07-22 12:54] daledupreez commented on #65042
Noting that WordPress/gutenberg#42470 addresses the issue and was merged yesterday. The fix should be included in Gutenberg 13.8.

[2022-07-22 12:56] rcrdortiz opened #65886 "Dotcom Marketplace: Scale product addition, cleanup and remove an interactive prompt"
## Description
The add-marketplace-feature command is no longer needed since we don't need to manually add the plugins to the features file anymore.

There is also an interactive prompt when working in a non-interactive mode that asks the user to press enter to continue.

[2022-07-22 12:59] danielbachhuber commented on #65767
Also worth noting: we want to avoid hitting Redux, because it will cause a lot of API requests, slow down our selector, etc.

The redirect scenario is relatively straightforward:

https://github.com/Automattic/wp-calypso/blob/d2900b0413e07ccd19a6e8357a84a989f024c9c8/client/data/sites/use-site-excerpts-query.ts#L54-L64

Solving `isSiteConflicting` will be more involved.

[2022-07-22 13:05] rcrdortiz opened #65887 "Dotcom Marketplace: Add "Back in stock notifications" to the Dotcom Marketplace"

[2022-07-22 13:11] yansern commented on #64682
While the actual fix is in Gutenberg, if escalation is needed, here's a phab patch for a temp fix in WPCOM. D84701-code

[2022-07-22 13:12] yansern commented on #57390
While the actual fix is in Gutenberg https://github.com/WordPress/gutenberg/pull/42470, if escalation is needed, here's a phab patch for a temp fix in WPCOM. D84701-code

Also related to https://github.com/Automattic/wp-calypso/issues/64682.

[2022-07-22 13:16] robfelty commented on #63297
Any updates on this bug?

[2022-07-22 13:17] rcrdortiz commented on #65887
740-gh-Automattic/dotcom-manage

[2022-07-22 13:29] valterlorran commented on #65698
@andres-blanco @SaxonF it's not clear to me if we are going to increase the size of the preview as shown here. Can you clarify?
Currently the preview is around 577x375px:
<img width="455" alt="Screen Shot 2022-07-22 at 10 24 56" src="https://user-images.githubusercontent.com/1234758/180448495-2f4a9184-9708-48cb-9629-5124245a7b31.png">

[2022-07-22 13:52] rcrdortiz commented on #65886
739-gh-Automattic/dotcom-manage

[2022-07-22 13:57] allilevine commented on #65219
@lsl Thanks, let's try it! Can you open a PR?

[2022-07-22 14:11] #65169 closed, assigned to zaguiini

[2022-07-22 14:15] #65606 closed, assigned to sejas

[2022-07-22 14:26] ClassicRKR27 commented on #62521
- [ ] Got another report of this here: 36129348-hc

Suggested to the user that they edit their menus directly within the `Site Editor` instead of the `Customizer`.

[2022-07-22 14:31] andres-blanco commented on #65698
If I understand correctly this is the theme-card, not the preview screen.

[2022-07-22 15:31] #65471 closed, assigned to mashikag

[2022-07-22 15:38] Gustavo-Hilario opened #65894 "Gutenberg > Button: Add option to change buttons border color"
### What

It would be awesome to have an option to change the button's border color.

### Why

This enhancement would give users much more control over how they want to customize the button. Even more important on sites using FSE themes.

### How

The option to change border colors is already possible on Group and Table blocks. They also have an option to change the border style.

**Group block**:

[2022-07-22 15:40] gcsecsey commented on #64573
I've updated some of the factors of the boost fields to more closely match the ones in the WP.org query, but the results are still far from identical:
![Image](https://user-images.githubusercontent.com/11555574/180474868-c321c513-42b2-4400-a931-40f0497df00f.png)

I'll be AFK next week, so I've created a diff with these changes: D84722-code

[2022-07-22 15:44] danielbachhuber commented on #65652
Asked in p1658504592160509-slack-C034AL34Q3W

[2022-07-22 16:07] jffng opened #65895 "[Bug]: Featured Image setting is not available on Pages"
### Quick summary

On pages, the option to set a featured image is not available for simple sites:

<img width="1510" alt="Screen Shot 2022-07-22 at 9 03 36 AM" src="https://user-images.githubusercontent.com/5375500/180479276-83dcb35c-1342-4b7d-9105-5b600b570a7a.png">

The option is however available on self-hosted and Atomic sites, e.g: https://atomicpagefeatured.wpcomstaging.com/featured-image-p

[2022-07-22 16:12] zaguiini opened #65896 "Social Auth: Reduce severity of `unknown_user` and `user_exists` events"
### Details

The `calypso_login_social_login_failure` event is dispatched every time the `unknown_user` and `user_exists` errors are returned from the back-end.

After a few discussions with @vindl and with agreement from @Automattic/build, we decided that it's not fair to treat those two specific events as failures since they're actually attempts from a person to log in. They did not disrupt the

[2022-07-22 16:21] danielbachhuber opened #65897 "Social Auth: `calypso_login_success` unexpectedly dispatched with `social_service_connected: false`"
From https://github.com/Automattic/wp-calypso/pull/65865#issuecomment-1192501071

When logging in with Google, the `calypso_login_success` event is unexpectedly dispatched with `social_service_connected: false`:

<img width="1462" alt="image" src="https://user-images.githubusercontent.com/36432/180481584-7ffb1fc5-1ded-4274-b43e-84e1fb8fe203.png">

`socialConnect` is somehow incorrect here:

https:

[2022-07-22 16:21] michaelpick commented on #65574
Hey. Sorry that I'm just getting to this. I'd be happy to put a top-to-bottom copy spring clean for this page on my to-do list if that helps? I could mock something up fair swiftly for the main pieces.

In the meantime, a few more ideas to riff on this, injecting a little more voice into things (as Matt suggested would be good to see) without sacrificing clarity:

### Headlines

First up, taking a

[2022-07-22 16:48] JulianBustamante opened #65898 "Move WooCommerce_Host_Service to lib/woocommerce-services"
Since `WooCommerce_Host_Service` is now being used by the Atomic and Marketplace libraries makes sense to copy that class into `lib/woocommerce-services` and point them both libraries and tests to the relocated class.

Also, extend the abstract class `WooCommerce_Host_Manager` from `WooCommerce_Manager` and remove the overridden methods `get_customer_data` and `get_site_url`.

[2022-07-22 17:50] #65854 closed, assigned to worldomonation

[2022-07-22 18:16] jp-imagines opened #65899 "Login/Out block not logging out or updating on log in"
### Quick summary

The _Login/Out block_ doesn't seem to properly log you out of your WordPress.com account, and it doesn't update (to read "Log out") if you use it to log into your account.

### Steps to reproduce

1. Add the Login/Out block to your site (tested by adding it as a widget; unsure if the result is the same if it's added to a post/page or through the Site Editor). Use the default sta

[2022-07-22 18:19] jtobiesen commented on #54018
Found a ticket that seems related. 5413341-zen

 User is reports being redirected to a page not found when previewing a draft post.
 Workaround- User can preview draft post from the the All Post screen in WP Admin

Customer using: 
 - Firefox browser 102.0.1
-  Also in the private browser on Opera

[2022-07-22 18:36] nelsonec87 commented on #65568
Related diff: D84731-code

[2022-07-22 18:38] obenland commented on #65347
Over in https://github.com/Automattic/wp-calypso/issues/65348 we've been discussing Swagger as a docs engine. While I don't think we've committed to a path forward there yet, creating a separate API namespace for marketplace endpoints would make it easier to only show docs for those endpoints with the Swagger plugin. It might also be nice to have a bit of separation for external vendors etc.

`mar

[2022-07-22 18:39] nelsonec87 commented on #65567
Related diff with the new URL pattern to add theme subscriptions to the shopping cart: D84731-code

[2022-07-22 19:30] dcoleonline commented on #63583
Reopening

The last post by voice shows a date of July 13.
I tried this today on my test site roughly 20 minutes ago. No post has been created. No audio was uploaded.

The customer who reached out in chat has tried to record posts between July 13 and July 22 with no success.
Could someone take a look? We'll need to follow up with the customer once it is working again.

- [ ] 5416827-zen

[2022-07-22 19:34] andres-blanco opened #65900 "Themes: Tags are getting out of sync"
Sometimes Theme tags get out of sync between theme.wp.com and what is on their `style.css`. This causes problems particularly in the home replacement process that's triggered from the "Activate" modal.

It would be good to have a bot that checks the differences and automatically reports.

This is the thread that triggered this discussion: p1658506665291069-slack-C0Q664T29.

[2022-07-22 19:53] allilevine opened #65902 "Marketplace: "Managing Plugins" support link opens private article"
### Quick summary

On /plugins, opening support and clicking "Managing Plugins" opens a private article that is blank for users. The private article looks outdated and should be replaced with the Plugins support article.

### Steps to reproduce

1. Log in as a non-a11n user.
2. Go to /plugins
3. Click the question mark button for support articles.
4. Click "Managing plugins."
5. Click "Read more."

[2022-07-22 20:05] allilevine commented on #62355
Closing, Jetpack Search was added.

[2022-07-22 20:05] #62355 closed, assigned to nobody

[2022-07-22 20:06] valterlorran commented on #65698
Regarding the FSE badge, we should consider what we discussed here p1658256698659569-slack-C0Q664T29, and maybe remove it from the design.
Related to #65753

[2022-07-22 20:54] allilevine opened #65903 "Marketplace: Jetpack Search isn't the first result for Jetpack Search"
When searching for "Jetpack Search" via the /plugins browser, it's the 11th result:
<img width="1095" alt="Screen Shot 2022-07-22 at 4 53 44 PM" src="https://user-images.githubusercontent.com/1689238/180567051-56477265-808e-4aaa-b1f2-ea4d6cea49ef.png">

It should be the first result, or at least in the top 5.

[2022-07-22 21:10] carinapilar commented on #54018
In reply to @jtobiesen's comment above, it seems that the issue from that user specifically is related to this other GH thread instead: https://github.com/Automattic/wp-calypso/issues/57812

[2022-07-22 21:14] carinapilar commented on #57812
Another one on 5413341-zd-woothemes - I'm able to replicate when accessing the account, on Chrome. Within the editor, it opens the preview with the custom domain, that's when we get the 404 error - the preview only opens when loading with the site's free address.

[2022-07-22 21:14] allilevine opened #65904 "Marketplace: Jetpack Search shows as Inactive"
Jetpack Search shows as installed but inactive in the Plugins Browser. Tested on Simple and Atomic.

<img width="526" alt="Screen Shot 2022-07-22 at 4 00 39 PM" src="https://user-images.githubusercontent.com/1689238/180569299-fe7f8166-f6a8-496b-a0b5-145c609c212c.png">

[2022-07-22 21:14] allilevine commented on #65904
@Copons Is this already covered somewhere?

[2022-07-22 23:27] phcp opened #65905 "[New Liked Post] Update template layout"
### Context
The New Liked Post template should be updated on top of the initial version `wpcom-notifications/html/post-like.php`. The visual changes are listed below and the styling details are available in Figma.

**Figma reference:** c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24407

### Screenshots

#### Existing layout (production)
<img width="622" alt="image" src="https://user-images.githubusercontent.c

[2022-07-22 23:34] cometgrrl opened #65906 "[Meta] E2E: look into running tests on Atomic sites"
After doing some debugging on this (p1662031127146839-slack-CQD1HH4MA), I got to the point where I think we can divide those issues into two groups:
- Authentication redirect loop `flaky` failures,
- Other failures 😅

The flaky authentication redirect loop seems to be related to the fact that we're running tests in parallel because it doesn't happen when running the tests concurrently. I don't kno

[2022-07-22 23:38] cometgrrl opened #65907 "[Meta] Consider how we can advocate for better testing for ETK"

[2022-07-23 03:08] joweber123 opened #65910 "Republishing a post falsely shows the post has been sent to subsribers"
### Quick summary

If a user has an already published post that they switch back to a draft and then republish, the Jetpack notifications show that the post is being sent to their subscribers again, which is not actually happening.

### Steps to reproduce

1. First, ensure that the test site has a least one subscriber
2. Publish a post
3. Switch the post to a draft and make an edit to the text
4.

[2022-07-23 17:10] kspilarski opened #65913 "Site Admins can see 'Free Domain available' message, but can't claim a free domain"
### Quick summary

If the plan subscription owner did not claim a domain, both the subscription owner and a site admin can see the "Free domain available" message. But if a site admin claims that, the domain is not free.

### Steps to reproduce

1. Create a site with a yearly plan.
2. Invite an admin user to the site.
3. On your (subscription owner) dashboard, you'll see "Free domain available" Cl

[2022-07-23 18:59] mxhassani commented on #52100
One more request here: 36152776-hc
WoA, suggested using a plugin

[2022-07-23 21:44] DavidSaladu opened #65914 "TEXT error regarding the plan features description upon attempting to purchase a plugin on a simple site"
### Quick summary

When trying to purchase a plugin on a simple plan, the system states that we will need to upgrade the plan (ok until here).

On that area, asides from the plugin price, and what it includes, there’s a small snippet of the plan that will be needed (business) it’s cost, and some of its features. the problem is that the plan features list is the same (and includes free domain) wher

[2022-07-24 07:09] Nic-Sevic opened #65915 "Possible to deactivate Jetpack via dev tools"
### Quick summary

Apparently Elementor Support found a workaround to deactivate Jetpack via a change to attributes using dev tools. They've suggested this workaround to at least one user (HE already helped user resolve by finding the actual problematic setting in Elementor)

This is not something that is likely to affect many users due to knowledge required but it still shouldn't be allowed

###

[2022-07-24 10:38] daria2303 opened #65916 "VideoPress privacy setting on a simple site not working."
### Quick summary

Video file privacy setting on a simple site doesn't do anything. Video has the same privacy as the site.

### Steps to reproduce

1. Set a simple site private
2. Upload video and set it public
3. Go to a video link

*Or the other way around:
1. Set a simple site public
2. Upload video and set it private
3. Go to a video link

### What you expected to happen

Video displays accor

[2022-07-24 11:09] #65886 closed, assigned to rcrdortiz

[2022-07-24 11:11] Copons commented on #65904
@allilevine yes, covered by https://github.com/Automattic/wp-calypso/pull/65252
Thanks for reporting though, I'll mention this issue in the PR 🙂

[2022-07-24 13:08] kspilarski opened #65917 "Attar theme: Slideshow Block not Displaying on the Live Page"
### Quick summary

On a site with the Attar theme, a slideshow block will only be visible on the editor and not the live page. When refreshing, it will briefly show the images and will display blank.

### Steps to reproduce

1. Activate the Attar theme.
2. On a page, add a slideshow block and publish.
3. View the page editor and live page.

### What you expected to happen

The slideshow block will

[2022-07-24 15:11] ktyfuller604 commented on #57812
- [ ] 5418764-zd

* Provided Post List preview workaround.

[2022-07-24 15:17] ktyfuller604 commented on #57812
- [ ] 5419140-zd

* Provided Post List preview workaround.

[2022-07-24 20:38] halleshubham commented on #65910
on it.

[2022-07-25 07:26] sharonlaker19 commented on #60623
+1 at 35815640-hc

[2022-07-25 07:47] lsl commented on #65219
Sure, did the whole list based on p2, or did you mean just seo? (can change if yes) https://github.com/Automattic/wp-calypso/pull/65919

[2022-07-25 08:07] gavande1 commented on #65347
I was thinking about the same from beginning. However, I was bit sceptical since it will create entire new namespace for the api. So +1 for `marketplace/v1`.

[2022-07-25 08:23] #65499 closed, assigned to mmtr

[2022-07-25 08:41] #64454 closed, assigned to pablinos, danielpost, gmjuhasz

[2022-07-25 08:54] taipeicoder opened #65924 "Unified design picker: Tailored UI based on intent (Write & Build flow)"
## Description
Current, the unified design picker is available in the Build and Write flow. It's likely that we will want to introduce it eventually in the Seller flow, as well. As of now, the unified design picker has the following behavior:
"Out of the three generated designs, it randomly selects one Blog design, one Portfolio design, and one Business design."

While this works for a more generi

[2022-07-25 08:58] taipeicoder opened #65925 "Unified design picker: Event tracking"
## Description

Add event tracking to the unified design picker:
- [x] When the user changes the standard theme filter.
- [x] When the user exits preview.
- [x] Remove `useTrackScrollPageFromTop` in UDP

## Acceptance Criteria
- [x] The events described above should be tracked.

## Related
#64998
Implemented events ([comment](https://github.com/Automattic/wp-calypso/issues/64998#issuecomment-11827

[2022-07-25 09:02] taipeicoder commented on #64960
@bangank36 could you provide ballpark estimates?

[2022-07-25 09:30] #64599 closed, assigned to lukaszwilczakwilnet

[2022-07-25 09:44] gmjuhasz commented on #64452
Hey @keoshi, do you have a recommendation for size/position on this?

[2022-07-25 10:11] cpapazoglou commented on #65347
We wanted to avoid `marketplace` term since we are probably renaming to WordPress.com Store. `Marketplace` is an internal term only. Using a `store` namespace is not very clear though, and `marketplace` namespace isn't something that customer are seeing so I think we can go on with `marketplace/v1`.

[2022-07-25 10:30] ivan-ottinger commented on #65709
Thank you for your feedback Paulo! Taking into account your suggestions, here are the updated labels. Of course, we can still adjust them later if necessary:

- [x] 1. `header-comment-like description` - since we are keeping it and it is implemented in the header template, no change is necessary
- [ ] 2. `post-url` (the same as we have on the current New Post template)
- [ ] 3. `view-comment`
- [x

[2022-07-25 10:31] #65833 closed, assigned to renancarvalho

[2022-07-25 10:37] alshakero commented on #65833
Update. This issue has been implemented. Now there are three skeleton flows.

1. [link-in-bio](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/link-in-bio.ts).
2. [newsletters](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/newsletters.ts)
3. [podcasts](https://github.com/Automattic/wp-calypso/blob/trunk/clien

[2022-07-25 11:48] heavyweight opened #65928 "HC hangs when opening article `Subscriptions for Plans and Domains`"
In the help center once we open the article `Subscriptions for Plans and Domains` with the user `testing10percentid`.
The help center hangs in the loading state.
Happens on both simple and atomic. Let's investigate to understand the reason.

p1658742132584579/1658738178.734489-slack-C02T4NVL4JJ

[2022-07-25 11:53] heavyweight opened #65929 "Fix style override on focus"
When an article entry is focused there is an unexpected style override.
<img width="1105" alt="Screenshot 2022-07-25 at 12 22 01" src="https://user-images.githubusercontent.com/7000684/180772108-54c62533-7d9c-4325-87ff-00eff1b68b98.png">

[2022-07-25 11:57] heavyweight opened #65930 "Close help center (toggle off) when navigating away from a page"
See the video here.
p1658744792225119/1658738178.734489-slack-C02T4NVL4JJ

[2022-07-25 11:58] keoshi commented on #64452
@gmjuhasz and I chatted briefly in Slack — sorry I missed your initial ping.

After a quick investigation it seems that we don't have any internal standardized sizes for modals, but other solutions like Boostrap [document a few](https://getbootstrap.com/docs/4.2/components/modal/#optional-sizes).

`800px` seems to hit a sweet spot and Gergely found a few instances across the code, so we agreed to

[2022-07-25 11:59] heavyweight opened #65931 "In the checkout page the HC is not available for non-english locale"
- Toggle the ff for hc to be available in the checkout
- Change the locale to a non-english one
- Visit the checkout with a user that satisfies the segment criteria

**Expected**: The new help center should show.
**Actual**: FAB is displayed.

p1658745241921409/1658738178.734489-slack-C02T4NVL4JJ

[2022-07-25 12:00] mpkelly commented on #64369
I'm going to take a look at this now.