[2022-02-25 18:52] zaguiini commented on #60110
The PR is merged, awaiting Gutenberg release.

[2022-02-25 18:54] obenland opened #61500 "Limited Atomic: Use feature check to gate Additional CSS"
### Details

Let's move `Manage_Additional_CSS_Feature` from using a plan check to using a feature check.

Let's use `CUSTOM_DESIGN` as the underlying feature. While Additional CSS is gated to Business plans and higher on wpcomsh, it's premium or higher on wpcom, just like Custom Design.

Bonus: Maybe we can use this opportunity to move `/wpcom-features` to `/feature-manager` or vice versa?

[2022-02-25 19:33] bissco opened #61503 "Adding an Anchor to Compare Plans Chart on Pricing Page"
### What

- Add an anchor like `https://wordpress.com/pricing/#compare-plans` to the "Compare Plans" chart on https://wordpress.com/pricing/ shown here: https://d.pr/i/8GaokS
The screenshot is just an example, but something to this effect.
- Add a button for the anchor on the Plans Page within users' accounts (Dashboard → Upgrades → Plans)

### Why

Users come into chat for many reasons. Sometimes

[2022-02-25 20:05] ebinnion opened #61504 "[Bug]: External icons overlapping when sites menu collapsed"
### Quick summary

See this screenshot, taken from https://wordpress.com/stats/day/eric.blog

<img width="118" alt="Screen Shot 2022-02-25 at 1 59 45 PM" src="https://user-images.githubusercontent.com/1126811/155787754-01366270-f8af-4f61-82f2-20aae1476fc7.png">

### Steps to reproduce

1. Start at /stats/day/$site_slug, for a Jetpack and likely Atomic site
2. Collapse menu
3. Observe external icon

[2022-02-25 20:35] obenland opened #61506 "Limited Atomic: Use feature checks for unsupported features"
### Details

There are four feature checks in wpcomsh's `/feature-plugins/unsupported-feature-mods.php`. Let's move them away from plan checks to feature checks.

Bonus: Maybe we can find a way to consolidate that file with `/feature-manager` and `/wpcom-features`. It's probably a better place for it than `/feature-plugins`.

[2022-02-25 21:50] allilevine commented on #53626
Hi @ramonjd @Automattic/create 👋 Can you help us understand if this issue is related to Coming Soon (public by default) v1/v2? PCYsg-u4S-p2 It's happening on both Simple and Atomic sites. All of the affected sites have switched from a classic theme to a block theme at some point. See p1645737497278649/1645694640.072909-slack-CKZHG0QCR for examples.

cc @Robertght

[2022-02-25 23:22] brookewp commented on #61221
@tyxla I took a peek at this and compared it to our media library and it covers up the help button completely. So maybe it would make sense that the Pexels library would do the same? 🤔 Unless we'd want all of the library options to include the inline-help button.

I'd love to help work on a fix for this, either way!

[2022-02-25 23:43] thekingsprojects commented on #38697
Another report here: 4810674-zen

Note that user is using the classic editor. I tested on my own site, and while the "save as draft first" workaround does seem to work in the block editor, I was not able to get it to work in the classic editor—the post draft saves, but the custom message is overwritten by the post title/default again. I suggested the workaround to them just in case, but let them k

[2022-02-26 01:55] spraveenitpro commented on #61221
Hey @brookewp I am currently working on this. 👍

[2022-02-26 02:24] worldomonation opened #61508 "WhatsApp Button block: Unable to dismiss block inserter panel upon insertion."
### Quick summary

After using the block inserter panel to insert the WhatsApp Button block, it is not possible to dismiss the panel.

### Steps to reproduce

1. start a new post.
2. click on the `+` icon to open the block inserter panel.
3. search for `WhatsApp Button`.
4. click on the resulting entry to insert `WhatsApp Button` block into the editor.
5. click on the`x` icon to close the block in

[2022-02-26 02:55] edwinho89 commented on #60240
33730815-hc

Applied workaround by switching to Reader mode on AMP fixed it.

Issue remains reproducible on Transitional and Standard mode on affected user's site.

[2022-02-26 04:33] DustyReagan opened #61509 "There should be no "My Themes" tab on sub Business plan Atomic sites."
### What plan tier(s) are affected?

Free, Personal, Premium

### Steps to Reproduce

Go to https://wordpress.com/themes/ on a Simple Free site and on an Atomic Free site. There should not be a "My Themes" tab on the Atomic Free site because uploads are not allowed on plans below Business.

### Expected (Simple)

![no-my-themes-tab-free-simple](https://user-images.githubusercontent.com/140841/1558

[2022-02-26 07:07] osmanishahela opened #61510 "Option for Post End Date"
### What

I would love to see an option for _Publishing End Date_ for Posts.

### Why

With the option for _Publishing End Date_, we will have control over the posts in a more efficient manner when dealing with time-sensitive content.

For example when publishing news articles that are only important during certain times, seasonal articles, posts based on events, posts based on occasions such as C

[2022-02-26 07:19] jromales commented on #39956
Another one on 4810396-zd-woothemes I shared them the workaround; to use Columns block instead of Layout Grid

[2022-02-26 12:46] KokkieH commented on #61297
https://wordpress.com/forums/topic/modify-a-media/?view=all

[2022-02-26 17:14] kspilarski opened #61513 "Calypso - Change links to WordPress.com support documentation"
### What

In calypso, to learn about tools or what certain things are, there's a link to 'Learn more' about it. Some of those links go to WordPress.org documentation, while some go to WordPress.com documentation.

### Why

Instructions in WordPress.org have different wording than the actual settings at WordPress.com.
And having all links go to WordPress.com will create uniformity.

### How

- Chan

[2022-02-27 02:16] happychait opened #61515 "New page Publish panel shows "This post will be sent to" blog readers."
### Quick summary

_No response_

### Steps to reproduce

1. Start in the new Page editor.
2. Add content and click Publish button at the top right.

### What you expected to happen

Since the pages can't be notified to subscribers, there should be no heads-up that the page will be sent to blog readers.

And once the page is published, the **What's next?** section shouldn't say this post has been

[2022-02-27 04:11] gabriel-fuentes commented on #60623
Another one here: 4815590 - zd

[2022-02-27 04:41] marianearchimbaud commented on #61486
I have found the same issue on this interaction : 4816118-zd
Theme: Baskerville 2
Atomic Site

[2022-02-27 05:18] inaikem commented on #52182
Thank you @arthur791004! 🙏

@Automattic/dotcom-triage-pa-group, although it's a core issue this feel slike a good candidate for bulk reply.

Another report in this ticket: 4814602-zd-woothemes

[2022-02-27 06:22] iamgabrielma commented on #50574
4815647-zen reports the same `SP19` error

[2022-02-27 06:33] arunsathiya commented on #58937
Same jumpy issue on 4815188-zen as well. I have removed it from my end using a workaround which involves the following:

- Visit this page: https://domain.wordpress.com/wp-admin/widgets.php
- Click on the Twitter widget
- Use "Cmd + A" or "Control + A" shortcut on the keyboard which selects all blocks, thus stopping the jumpy condition on the widget.
- Remove the widget.

h/t @rw-ye for sharing th

[2022-02-27 07:23] #42024 closed

[2022-02-27 07:23] arunsathiya commented on #53424
Not the same issue, but in 4815665-zen, we noticed an issue that the songs in the playlist are not visible on the editor view.

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/18581859/155872780-5506aa3e-87fc-4d69-b543-679b41a7f57a.png">

It's fine on the live site/preview though.

<img width="923" alt="image" src="https://user-images.githubusercontent.com/18581859/155

[2022-02-27 08:05] Agepeuve commented on #61297
Another report in https://wordpress.com/es/forums/topic/fotos-19/

[2022-02-27 10:09] arunsathiya commented on #55325
Same the same issue: footer widgets appearing only on 20% of the available footer space on this ticket. 4811036-zen. Advised they use this CSS:

[code]

[2022-02-27 13:03] darnelldibbles opened #61516 "Social Links Block: Add Steam Icon as a Supported Social Icon"
### What

User reported from Twitter that they want Steam as a supported social icon

https://twitter.com/isekai_ideation/status/1497669511356448771A

### Why

Currently, Steam isn't a social icon we support:

https://wordpress.com/support/wordpress-editor/blocks/social-links-block/#list-of-supported-icons

### How

The icon that they want to add:

![steam-icon](https://user-images.githubuserconte

[2022-02-27 14:45] poligilad-auto commented on #61118
@zaguiini there is a discussion on it here: paYE8P-1rO-p2

[2022-02-27 14:52] nagpai commented on #60483
34371220-hc

[2022-02-27 16:07] rachelwinspear opened #61517 "Query Loop Block not loading all categories"
### Quick summary

When using the Query Loop Block, not all the categories are being loaded correctly from the right-hand menu.

### Steps to reproduce

1. From any page, add a Query Loop Block
2. So to right-hand side settings to choose category
3. Type the category you are looking for
4. Not all categories are loading as expected, but do exist with posts.

### What you expected to happen

I woul

[2022-02-27 16:59] syds87 opened #61518 "Publicize - Can't change Custom Message when using Classic Editor"
### Quick summary

After enabling Publicize on a website, edit a post with Classic Editor.

On the right-hand sidebar, click Publicize > Edit to edit the Custom message, set the post status to Pending Review and click Save as Pending.

The new Custom Message will not be saved and you will still see the old one.

### Steps to reproduce

1. Connect the site to a social account at WordPress.com > Too

[2022-02-27 17:26] kspilarski opened #61519 "Dara: Front page is wider than other pages if there's no sidebar widget"
### Quick summary

Using Dara, if there is no sidebar widget placed, the front page will be wider than the other pages. But if there is a sidebar widget placed, all pages have the same width as the front page.

### Steps to reproduce

1. activate Dara
2. set a static front page
3. do not add sidebar widgets, then save
4. check the front page and other pages.

### What you expected to happen

Even

[2022-02-27 17:27] csabarakasz opened #61520 "Slideshow breaks Editor when placed inside the Layout Grid. Super wide width."
### Quick summary

When the Slideshow block is placed inside the Layout grid, in Editor it will show with an extremely long width. Live view is okay but the Editor is totally broken.

https://d.pr/v/mfSqCL

4777593-zd-woothemes

### Steps to reproduce

Create layout grid
Add slideshow

### What you expected to happen

It will show correctly in Editore

### What actually happened

It breaks the Edi

[2022-02-27 17:58] kspilarski opened #61522 "Marketplace: Add Business plan to cart from All Sites view"
### What

If the site does not have a Business plan, add a link to plans page or add both Yoast Premium + Business plan in the cart.

### Why

Adding Yoast Premium to a site without the Business plan shows "Yoast Premium removed from your cart because it is no longer valid (you may have removed the associated business plan).
Clicking 'Go Back' button returns to the Plugin page and the list of site

[2022-02-27 18:06] i11za opened #61523 "Gema: Form Block Button Styles Issue"
### Quick summary

Discrepancy between the style in editor and published form.

### Steps to reproduce

1. Add Form Block
2. Select 'Outline' Style for the button.
3. Check the result in Preview or on published page.

### What you expected to happen

I expect the button to have the same style/outline as in the editor (screenshot below)

<img width="1106" alt="Screenshot 2022-02-27 at 18 59 04" src

[2022-02-27 19:18] autumnfjeld opened #61524 "Snapshots Tool"
Add functionality to the Site Snapshots tool

[2022-02-27 23:05] ramonjd commented on #53626
Thanks for reporting everyone! @allilevine I'm taking a quick look this morning, but might not be as fast as @Automattic/ganon, who I think has had more recent eyes on the relevant code.

[2022-02-28 00:58] ramonjd commented on #53626
I'm having trouble reproducing the problem.

I've tried the launch flow on a private and AT site (`/start/launch-site/*`) a few times. Both switch from coming soon to public.

Toggling between Coming Soon, public and private appears to work as I expected. Changing from classic to block themes didn't affect anything in my tests.

I've had a look at the history of a couple of the blogs that were hav

[2022-02-28 02:47] inaikem commented on #61518
Additional user report here: 30700617-hc

Advised them to enable the Block Editor and set, then publish content via that view as a workaround.

[2022-02-28 04:03] inaikem commented on #61518
See this comment from @pablinos: pbg9X-gVH-p2#comment-67809

The issue will be resolved in the next JP release on March 1st: https://github.com/Automattic/jetpack/pull/23103

The only workaround currently would be to use the block editor to Publicize the post if a custom message is required.

[2022-02-28 04:09] inaikem commented on #61486
Another user report: 34413584-hc

Provided a CSS workaround: Atomic + Seedlet

[2022-02-28 04:30] autumnfjeld commented on #61401
In further, we can also make an MC tool to provide visual results. For example, we can select a vertical and a static theme, and it will generate the preview.

This is an excellent idea @arthur791004 .  In fact, could we build a Generated Design MC tool that would mimic what we want to do in onboarding?  Then we have a playground for the progression of our tech work _and_  a designer could use it

[2022-02-28 04:53] Prin-S commented on #61398
Reported in 4816974-zd also.

[2022-02-28 05:25] autumnfjeld opened #61526 "☂️ Vertical question step in onboarding"
## Description
 Project Info: pbxlJb-Zj-p2
We will be adding a verticals question into the onboarding process. As a first iteration we can put this just after the intent screen. Keep in mind that this work may involve syncing up with other teams, making sure we understand if we are using the current list of verticals in the API, https://public-api.wordpress.com/wpcom/v2/verticals,  or if there are

[2022-02-28 05:36] p-jackson commented on #61198
Created D75775-code: a proof of concept to use the PTK to render specific block patterns as they would appear in a FSE theme (instead of stand-alone like in the block pattern previewer)

`https://public-api.wordpress.com/rest/v1.1/template/demo/pub/bennett/dotcompatterns.wordpress.com/?use_patterns=true&post_id=157&language=en&keep_page_wrapper=true` generates this demo
<img width="1560" alt="Scre

[2022-02-28 05:43] taipeicoder commented on #61351
After checking with the systems team, we found the problem to be caused by an experimental server in the `mShots` instance pool. The issue has since been fixed and verified by re-queuing the problematic thumbnails.

As this was a server configuration issue, no code change were needed on our end.

[2022-02-28 06:03] sharonlaker19 opened #61527 "Ability to share e-cards for business"
### What

A customer recently came into chat at 34403503-hc asking for a sharing option like on Pinterest.

The idea is to have a single share button that when clicked on shows the option to share to other social networks. They'd also like to provide the option for their readers to click and save their contact vcard.

### Why

User says they're making an e-card for their business. Sounds like a go

[2022-02-28 06:44] roo2 commented on #53626
I also haven't been able to reproduce it yet. I looked for comonalities between sites, these things were NOT common
FSE vs legacy theme
Simple vs Atomic
Changes to domain name
"Old" sites vs new site

The only thing I've noticed so far is that they all register the blog-privacy changing to public before the launch-site event. This happens when the site is set to public via the settings page, but n

[2022-02-28 07:31] #58539 closed, assigned to Rolilink

[2022-02-28 07:34] zdenys commented on #60360
@Greatdane I can still reproduce with macOS Monterrey 12.2.1 with Chrome Version 98.0.4758.109 (Official Build) (x86_64)

![image](https://user-images.githubusercontent.com/39308239/155942284-c0327577-5dbe-47ea-a50e-7b73c3c5562b.png)

[2022-02-28 07:37] zdenys commented on #60361
@Greatdane I think it's the technical debt of the Nav Unification project actually on WordPress.com only. Hello Dolly plugin works fine on WordPress.org. So I don't think the plugin needs any changes.

[2022-02-28 07:50] Robertght commented on #53716
Another report in 4817907-zen

[2022-02-28 08:19] druesome commented on #61297
Another report: 4817551-zen

[2022-02-28 08:35] cpapazoglou opened #61531 "Marketplace: How can we streamline adding a product to the WPCOM store"
Currently adding a product to the dotcom marketplace consists of two big tasks (PCYsg-CJy-p2):

- Add product to the `Product Store`
- ~~Add product to the Endpoint~~ this will be resolved by the Woo Integration

**Add product to the `Product Store`**
We will still need this step even after the Woo Integration cause the product is actually sold from WP.com and that's why WP.com needs a reference t

[2022-02-28 08:56] fushar commented on #61391
Raised PR here: D75779-code

[2022-02-28 09:39] cpapazoglou commented on #61435
FF means Firefox? Does it work OK for chrome?

For reference, works fine in iPhone 12 with Safari.

[2022-02-28 09:55] tyxla commented on #61221
Sounds good, thank you both! Feel free to ping me in a PR or if you need anything in the meantime @spraveenitpro @brookewp

[2022-02-28 10:31] gcsecsey commented on #61073
@SaxonF could you please help with the icons for these products? According to [Figma](SVrZV9r5Hzb0bW2YHpDWgX-fi-2%3A3) and [this gsheet](https://docs.google.com/spreadsheets/d/1IP-lsojFX2F3bM1lltT4Ag3pJR4s4LcruQjNc3k8FkY/edit#gid=0&range=B58), should we proceed with using the Woo logo?

[2022-02-28 10:33] tellisbethel commented on #57493
Hi there, @yansern! Thanks for your input above! Could what you described be the same issue that's happening with in this more recent report? https://github.com/Automattic/wp-calypso/issues/60372

The user is looking for an update and time would be saved if it turned out that this was the same problem.

Thanks!

[2022-02-28 10:35] cpapazoglou commented on #61343
That's interesting, the request Calypso fires (and gets 404) is
[code]

it has removed the `php` suffix from the slug. `hide-wp-admin-wp-login` instead of `hide-wp-admin-wp-login-php`.

[2022-02-28 10:45] gcsecsey commented on #61073
Diffs for this issue:
- Adding the category product -> `store_products` mappings: D75174-code
- Adding the products to the marketplace endpoint (behind `is_automattician` flag): D75357-code

[2022-02-28 11:30] cpapazoglou opened #61534 "Marketplace: Update static woo extensions data"
Since we have added the woo extensions to the Marketplace some data have changed and we need to keep up. Let's revise the following for all plugins:

- Version
- Last Update
- Documentation URL (lot of resources here https://woocommerce.com/document/woocommerce-points-and-rewards/)
- Live Demo URL
- Tags - Related convo (p1646049465177339-slack-C029JEQRVRT)
- Review rating

[2022-02-28 11:34] tyxla commented on #61434
Unfortunately, I don't have much more than the logs you already shared. I'd suggest escalating it to systems in case they have some additional information we don't have access to.

[2022-02-28 11:38] cpapazoglou commented on #60179
Resolved by 824-gh-Automattic/wpcomsh

[2022-02-28 11:38] #60179 closed, assigned to nobody

[2022-02-28 11:40] cpapazoglou commented on #61492
Can we first use JiTM to serve the spotlight data and then apply the dynamic part in the JiTM engine? I think it would be easier too, checking for already installed plugins.

[2022-02-28 11:54] renata-franco commented on #53451
Adding this request here: 4817152-zd-woothemes

[2022-02-28 12:00] mxhassani opened #61535 "Display "switch to Atomic prompt" for Simple sites on Business plan when using restricted HTML tags"
### What

Business plan sites start as Simple sites. A specific prompt needs to be clicked before it's switched to Atomic, and the address to wpcomstaging.com.

This happens when installing custom themes and plugins. It would be nice if this prompt is displayed when trying to use a restricted HTML tag too instead of stripping the code. Ref: https://wordpress.com/support/code/

### Why

Users on th

[2022-02-28 12:05] WBerredo opened #61536 "Yoast premium on cart without a plan selected"
1) If Yoast Premium is added on an AT site without Business or eCommerce plan, it shows:
Yoast Premium removed from your cart because it is no longer valid (you may have removed the associated business plan).

**Suggestion**: add Yoast Premium in the cart + Business plan. Or add a button to add a plan first.

2) If I don’t click X on that message, and click “Go back”, I will see the list of my sit

[2022-02-28 12:08] cpapazoglou opened #61537 "Marketplace: add WooCommerce Min/Max Quantities, Product Vendors"
### Details

- [x] Adding in `store_products`. Prices can be found in the spreadsheet of next woo extensions (Pdh6GB-2Y-p2)
- [x] Adding in `https://public-api.wordpress.com/wpcom/v2/marketplace/products` endpoint (`featured: false`)

@SaxonF, We will need plugin icons from the design team

Documentation: PCYsg-AhH-p2

[2022-02-28 12:45] cpapazoglou commented on #61522
@kspilarski this is what we do when you visit the plugin page from a single site

<img width="604" alt="CleanShot 2022-02-28 at 14 43 48@2x" src="https://user-images.githubusercontent.com/12430020/155985521-5180be0f-2592-4d3c-b355-cfdd63e4b53f.png">

From all sites **Plugins** page, we normally offer only the already eligible sites. I wonder, which of your sites is "eligible" but didn't have the c

[2022-02-28 12:47] cpapazoglou commented on #61522
Putting this to high priority while figuring if it's a bug or not. If it's not a bug, we can move it to "Normal"

[2022-02-28 12:53] delputnam commented on #60366
After a lot of working through various solutions and a good deal of investigation. It seems that this issue is caused when a domain is not unbundled from a plan due to manually extending the expiry date of the plan. Normally the domain would be unbundled from the plan at renewal and the two subscriptions would have separate renewal schedules after that. But if the plan does not go through the norm

[2022-02-28 12:53] #60366 closed, assigned to nobody

[2022-02-28 13:24] kspilarski commented on #61522
Thanks! I'll ping you in slack!

[2022-02-28 13:47] cpapazoglou commented on #61493
Perhaps, the problem is the API `/api/provisioning/downloads/currentZip` (pcSRhZ-Y-p2) that Atomic infrastructure uses to download and install the latest version.

[2022-02-28 14:12] cpapazoglou commented on #61531
Why do we use the legacy store? Is there a newer simpler way to add products to WordPress.com Marketplace?

[2022-02-28 14:39] csonnek commented on #52728
User on the forums having this issue and would like to be notified when this is fixed: https://wordpress.com/forums/topic/problem-inserting-pdf-files/?view=all

Did not suggest a workaround as they found their own (uploading to Google Drive instead).

[2022-02-28 15:02] #61429 closed, assigned to sixhours

[2022-02-28 15:02] poeticabdul commented on #53626
Reported here 34283859-hc

[2022-02-28 15:11] mreishus commented on #58041
- There is no plugin or theme specific quota, only the larger disk quota

- There is no DB quota yet, but one will be added in the feature
- Check how many sites are affected if we add the DB size used to their disk space used. How many sites have (disk + db) > 200GB (or whatever their quota is?)

[2022-02-28 15:24] obenland opened #61542 "Limited Atomic: Remove legacy feature map"
### Details

Remove the map of plans to features in `store-products-list.php`, `Store_Product_List::get_feature_list()`.

Let's start by moving `::get_site_specific_features_data()` away from using `::get_feature_list()`.

### Checklist

_No response_

### Related

_No response_

[2022-02-28 15:54] cpapazoglou commented on #61491
Here are the figma designs f84fqtCG4pCnCh2Hq0But5-fi-590%3A11994.

Here is a thread regarding resources pdh6GB-gN-p2#comment-785

TL;DR;
There aren't any articles ready yet. I think though that we can prepare these sections and launch the "Learn more" once we have at least one article.

[2022-02-28 16:13] masperber commented on #58341
33254254-hc / 3861157-zen

A user noted this inconsistency and said that the search results in Calypso are very unhelpful.

[2022-02-28 16:14] Robertght commented on #53626
### Before reporting other cases please check this [Slack thread](p1646064764096039-slack-CB0B2G43X)

[2022-02-28 16:15] kwight opened #61543 "Seller experience: Change "start from scratch" destination to My Home."
The "start from scratch" destination on the intent screen goes to `/wp-admin`, which can be confusing as we generally funnel people to My Home. Let's set the destination to My Home for now for consistency's sake, and revisit later as to how to better use this link. Tracks events should _not_ be changed at all.

![image (1)](https://user-images.githubusercontent.com/349751/156018059-eda25b40-4698-4

[2022-02-28 17:02] lizswafford opened #61544 "Theme Showcase: Entering a search word with hyphen activates the feature filter"
### Quick summary

In the Theme Showcase, searching for a theme whose name includes a hyphen triggers a feature filter.

For example, typing "Twenty Twenty-Two" in the search bar results in the text being changed to "Twenty column:two-columns".

Also, typing (no hyphen) "Twenty Twenty One" triggers the column filter. The text is changed to "Twenty Twenty feature:one-column".

 Theme search results

[2022-02-28 17:51] dragstor commented on #61464
I had one in 33514142-HC on 22 Feb.

Plugin: [TranslatePress](https://wordpress.com/plugins/translatepress-multilingual).

It caused constant "refreshing" from the user side, resulting in flooding in HC with `Looking at /home/site-of-the-user::tr::`

[2022-02-28 18:27] worldomonation commented on #61458
Done.

[2022-02-28 18:27] #61458 closed, assigned to worldomonation

[2022-02-28 18:31] markbiek commented on #61436
Some quick notes on what I've noticed so far. I think the original fix from #61016 _did_ cover one of the ways this issue manifests itself and this is a different behavior with the same outcome.

(Caveat, this is my first time looking at the signup flow so please correct me if I'm misunderstanding anything).

Here's what I'm seeing in the Redux store when I go through the steps to reproduce:

1. A

[2022-02-28 18:42] DustyReagan commented on #61213
Fixed in https://github.com/Automattic/wp-calypso/pull/61468

[2022-02-28 18:42] #61213 closed, assigned to sixhours

[2022-02-28 19:03] creativecoder commented on #54468
The “Simplified” Webfonts API has been merged (https://github.com/WordPress/gutenberg/pull/37140).

We'll proceed with https://github.com/Automattic/jetpack/pull/23045 to bring Google fonts support to WP.com sites, (which can start working once the feature is available from Gutenberg).

[2022-02-28 19:54] markbiek commented on #61436
After more testing, I'm starting to think I was incorrect with the above.

Now it seems like maybe the issue is related to the value of `signup.flow.currentFlowName` in the store. After clicking the **Back** button, the `currentFlowName` is still set to `woocommerce-install` when it should be `setup-site`.

Trying to figure out which action to dispatch so I can manually set it to the correct value

[2022-02-28 20:29] kerrynicl commented on #61486
Another report here - 4820223-ZD
Theme : Maywood
Atomic

[2022-02-28 20:55] cpapazoglou commented on #59671
Jetpack Search related thread pdh6GB-kb-p2
Algolia related thread p6JqRr-5yD-p2

[2022-02-28 20:58] markbiek commented on #61436
At this point, I'm not sure what's going on.

This file is a dump of the `signup` part of the store the first time you hit `/start/setup-site/store-features` before anything else has happened.
[state-normal.txt](https://github.com/Automattic/wp-calypso/files/8156674/state-normal.txt)

This file is a dump of the `signup` part of the store after going to the upgrade path, then clicking the back butt

[2022-02-28 21:03] cpapazoglou commented on #61492
It doesn't have to be in one sprint (although I believe it's doable).

The general idea is that you define conditions and the message. The conditions include:
- where
- who
- why
- when

The "why" can include 'has X plugin installed'. Meaning that we get a mechanism that works out of the box to decide where to show Sensei Pro or Yoast Premium.

[2022-02-28 22:00] allilevine commented on #61489
Let's check with Crowdsignal about Atomic transfer.

[2022-02-28 22:01] allilevine commented on #61345
Timebox to 30 minutes, might be a wider Calypso issue (not currently a component). Needs some dotcom systems thinking.

[2022-02-28 22:05] pottedmeat commented on #61154
The call to the Jetpack API to `/sites/{$_blog_id}/posts?type=jp_mem_plan` is returning a post assigned to the user's other site.

[2022-02-28 22:12] sguzovskaia commented on #53626
New report zen-4820328

[2022-02-28 22:31] ramonjd commented on #53626
It's been a while, but as far as I can remember if the Editing Toolkit isn't active or installed, the Coming Soon page and related functionality won't show or work at all. @roo2 might be able to confirm.

As for Simple Sites, Coming Soon mode means `wpcom_public_coming_soon === 1 && blog_public === 0`. All I can think of... thinking back 12 months now 😄 is:

- launch isn't setting the options corr

[2022-02-28 22:40] Abdul-Elsayed commented on #39956
Reported here 4810396-hc

[2022-02-28 22:46] allilevine opened #61547 "Marketplace: Add Sensei Pro"
### Details

- [ ] Adding in `store_products`. Prices can be found in the spreadsheet of next woo extensions (Pdh6GB-2Y-p2)
- [ ] Adding in `https://public-api.wordpress.com/wpcom/v2/marketplace/products` endpoint (`featured: false`)

Plugin icon: p1646132379334519/1646085228.310919-slack-C07418EJ0
![SenseiPro](https://user-images.githubusercontent.com/1689238/156180697-16abfeaf-fb7e-475d-bad0-8c7

[2022-02-28 22:48] allilevine opened #61548 "Marketplace: add WooCommerce Pre-Orders"
### Details
Prices can be found in the spreadsheet of next woo extensions, link in Pdh6GB-2Y-p2, see "a8c Plugin Punchlist" tab.
Documentation: PCYsg-AhH-p2

For the most part these steps need to be completed in order:

- [x] https://github.com/Automattic/wp-calypso/issues/61884
- [x] https://github.com/Automattic/wp-calypso/issues/61885
- [x] https://github.com/Automattic/wp-calypso/issues/61886

[2022-02-28 22:49] allilevine commented on #61548
@SaxonF 👋 We'll need an icon for this plugin as well.

[2022-02-28 22:51] allilevine commented on #61537
Opened https://github.com/Automattic/wp-calypso/issues/61548 for WooCommerce Pre-Orders.

[2022-02-28 22:53] allilevine opened #61549 "Marketplace: Feature additional plugins in Spotlight"
We need to feature additional plugins in the Spotlight. Let's statically add Sensei Pro and feature it for Sensei users once launched. We can also feature it when Yoast is already installed.

See: https://github.com/Automattic/wp-calypso/pull/61185

We'll eventually be improving how we spotlight multiple plugins and cases using JITMS: https://github.com/Automattic/wp-calypso/issues/61492

[2022-02-28 22:54] goblinartificer opened #61550 "Page List block displays HTML entities in editor"
### Quick summary

![image](https://user-images.githubusercontent.com/1575367/156070566-8d488e87-b4c7-48a5-9084-dbf68863e562.png)

This is how a page displays if its title is `&"qwerty"⁠—`, in the Page List block. This only occurs in the editor, and it looks correct on the live site.

### Steps to reproduce

1. Publish a new page or two with a title containing some ampersands, quote marks (angled

[2022-02-28 22:58] kwight opened #61551 "Seller experience: The Jetpack connection screen introduces friction."
As mentioned by @ianstewart , the Woo flow can include a Jetpack connection screen that is confusing and could prompt bailing from the flow.

![image-4](https://user-images.githubusercontent.com/349751/156072388-06074b55-ab15-44aa-8dad-853a9df0dda8.png)

To reproduce:

* Create a brand-new WordPress.com account but do *not* verify your email address.
* Go through the flow at `/start` to create a n

[2022-02-28 23:03] kwight opened #61552 "Seller experience: Open the store selection doc links in a new tab."
The doc links on this screen could open in a new tab, to allow the user an easy way back to their onboarding experience.

See: paYKcK-1jS-p2#comment-1196

![image-5](https://user-images.githubusercontent.com/349751/156072981-041d6dff-231f-4d01-adff-480cba6c4e4c.png)

[2022-03-01 01:28] #55021 closed, assigned to arthur791004

[2022-03-01 02:36] lsl commented on #61435
Yes

Nope, same issue.

It's something to do with the auto search, it blocks rendering of the input while it sets up a search.

Typing "ecommerce" the "e" gets searched for and then "comm" renders all at once and then "ecommerce" gets searched for in the second update.

Same goes if you hold the delete key down on the word "ecommerce", it will hang momentarily on the final "e".

Same issue on fire

[2022-03-01 02:45] lsl commented on #61434
I don't think they have access to much more than what I linked above. This isn't a pressing issue but it does seem like an ongoing one. Lets keep this open for now & see if we get further reports from HE's

[2022-03-01 02:53] lsl commented on #61345
Had my wires crossed, the component thing I was thinking about was actually one: https://github.com/Automattic/wp-calypso/issues/61491 (though whatever comes of that was ideally going to be used here too)

[2022-03-01 03:18] #61351 closed, assigned to taipeicoder

[2022-03-01 03:26] jordesign commented on #61297
Another instance of this with the Colinear theme.
34431772-hc

[2022-03-01 03:38] wprhunt opened #61555 "FSE: Post Comments Block not aligning and cutting off footer | Quadrate (Black)"
### Quick summary

Adding the Post Comments block to the Single Posts template in Full Site Editor when in use with the Quadrant (black) theme, the block does not stay in alignment with the rest of the content (margin missing on both sides regardless of block alignment or if the block is in a group or columns block) and it seems to cause the rest of the page below it to be cut off and you can view

[2022-03-01 03:38] autumnfjeld opened #61556 "Site Snapshots: migrate sql engine to trino"
# Description
Some foundational work is needed to update the tool to run sql queries from https://trino.io/
For background p4qSXL-49o-p2 & p4qSXL-4jI-p2
Reach out to #data-engineering for any help getting started.

# Acceptance Criteria
- [x] migrate the tool from Impala to Trino p4qSXL-4jI-p2
- [x] end user experience will not change

# Dev Tasks & PRs
 - [x] D75898-code
 - [x] Mark the task as c

[2022-03-01 04:35] edwinho89 opened #61557 "WooCommerce Points and Rewards: Save Changes button hiding behind #wpfooter"
### Quick summary

"Save Changes" button on WooCommerce Points and Rewards cannot be clicked, as it is hiding behind `#wpfooter` element.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/34882260/156104610-7426a7ad-1d36-428d-9940-04bfde430348.png">

### Steps to reproduce

1. Visit wp-admin/admin.php?page=woocommerce-points-and-rewards&tab=settings
2. Apply changes as

[2022-03-01 04:36] roo2 commented on #61350
Will also do a research and a spike on modifying FSE theme content e.g. the twentytwentytwo header

[2022-03-01 04:38] edwinho89 commented on #61557
Reported in 32253475-hc

[2022-03-01 06:31] roo2 commented on #53626
the affected site that @Robertght showed me was an atomic site that had
[code]

I'll continue looking into this, I'll look into how this might happen and how we can either prevent this from happening in the future, or handle scenarios where this does happen. One option might be to only treat a blog as being in "coming soon" mood if `blog_public` is `0`.

[2022-03-01 07:12] rw-ye commented on #52100
Another case here where the user is asking about adding a cookie banner here: 4817167-zd-woothemes

They are using FSE

[2022-03-01 07:24] Nic-Sevic commented on #61486
4820299-zd-woothemes
theme: shoreditch
Atomic > fixed after @jmdodd refreshed plan data

[2022-03-01 07:39] jeyip commented on #61202
I did some investigation. Infinite scrolling, in Appearance > Writing, ( [link](https://wordpress.com/support/infinite-scroll/#disabling-infinite-scroll) ) is a toggle that is available for universal and block themes.

<img width="1496" alt="Screen Shot 2022-02-28 at 11 38 36 PM" src="https://user-images.githubusercontent.com/5414230/156125726-fdc70063-483b-434b-ab47-e73844a6990c.png">

After look

[2022-03-01 07:43] formosattic commented on #59852
Noting that this is a duplicate of https://github.com/Automattic/wp-calypso/issues/57170

[2022-03-01 07:47] formosattic commented on #57170
@inaikem , I've tried as well, but same @Greatdane , I'm unable to reproduce the issue.

Also want to point out another Block Widget issue that PA Triage hasn't been able to reproduce on a test site, and can only be experienced on users' site.: https://github.com/Automattic/wp-calypso/issues/58835

[2022-03-01 07:50] inaikem commented on #57170
Thanks @Greatdane, @formosattic 👍

@chad1008, would you be able to check if this is related to anything that's been deployed [since the initial patch?](https://github.com/Automattic/wp-calypso/issues/57170#issuecomment-952810276)

[2022-03-01 08:11] vishnugopal commented on #60953
The diff is now deployed. This should be fixed!

[2022-03-01 08:11] #60953 closed, assigned to vishnugopal

[2022-03-01 08:15] formosattic commented on #60732
This looks fixed. Tested with themes Payton, Zoologist, and `Customize` shows for me.

Reopen if the issue still happens.

![image1](https://user-images.githubusercontent.com/15944096/156130521-0f95b8ef-b12f-4d63-962b-f2e60d4167c2.png)

[2022-03-01 08:22] formosattic commented on #60741
Confirming that the issue still happens on Simple sites.

On atomic sites, the `gap` property saves OK.

https://user-images.githubusercontent.com/15944096/156131842-c3c9b4f9-8b80-4150-a3f4-a0ba422f00e6.mov

[2022-03-01 08:29] cpapazoglou commented on #61484
@JulianBustamante you mentioned there is a way to hide a product. Can you share more details?

[2022-03-01 08:31] Greatdane commented on #60574
To confirm, do you suggest we label it as a `[Type] Enhancement`?

[2022-03-01 08:35] p-jackson opened #61559 "PTK tool now supports some block based themes"
D75838-code

[2022-03-01 08:51] formosattic commented on #60808
I think I've experienced it before when editing the default theme footer in FSE, but can't reproduce it anymore.

Currently, the Footer Credit setting in Customize gets applied correctly.

Closing for now, but please re-open if the issue still happens.

[2022-03-01 08:51] #60808 closed, assigned to nobody

[2022-03-01 08:58] formosattic commented on #60997
Confirming this issue still happens.

I was able to reproduce on Simple and Atomic sites.

[2022-03-01 09:12] formosattic commented on #60547
This seems fixed, `Stock status` no longer shows.
Note that I only tested by activating WooCommerce Payments, but didn't configure it.

![image1](https://user-images.githubusercontent.com/15944096/156139404-79f3696f-6967-4ac1-8f1c-b9c6c32ef82b.png)

@liviopv: I'll close this for now. The report didn't have an interaction link for me to check the user's site, but if the problem is still there, plea

[2022-03-01 09:12] #60547 closed, assigned to nobody

[2022-03-01 09:26] poeticabdul commented on #38697
Workaround didn't work from feedback from the user

[2022-03-01 09:35] tyxla commented on #61434
I've been trying to reproduce it, but with no luck. I wonder if you have any observations about whether it happens more often under certain circumstances.

[2022-03-01 09:39] formosattic commented on #61295
Internal ping for help testing on Windows: p1646127166880879-slack-C03UXG192

Thanks for sharing other workarounds @zdenys, @tvolpert , I've added them to the initial report.

@CoachBirgit, thanks for the report! Where it still fails in Chrome, could you check the browser console and share the lines that read "Received HTML:" and "Received plain text:".

[2022-03-01 09:58] nagpai commented on #61464
Similar issue here - 27332895-hc

PolyLang, Elementor and Polylang Elementor connector.

[2022-03-01 10:09] mcsf commented on #61295
This should be fixed as of https://github.com/Automattic/wp-calypso/issues/60969; please confirm.

[2022-03-01 10:32] carinapilar commented on #61297
I bumped into that too, @formosattic, I'm not sure I understand why, but the Edit Image option only shows on the Media Library if the site is set as Public.

[2022-03-01 11:24] CoachBirgit commented on #61295
I checked this some minutes ago. It seems to work now on my [reported setup with Chrome on MacOS](https://github.com/Automattic/wp-calypso/issues/61295#issuecomment-1049733349). The text copied from Word is pasted formatted into a paragraph block.

**Received HTML:**

[code]

**Received plain text:**

[code]

**Processed HTML piece:**

[code]

![image](https://user-images.githubusercontent.com/107

[2022-03-01 11:40] devNigel commented on #61104
I can confirm it is happening on self-hosted WordPress sites as well.

[2022-03-01 12:00] cpapazoglou opened #61563 "Marketplace: provision monthly Yoast premium plans"
We will have to enhance `WPCOM_Marketplace_Yoast_Premium_Plan_Manager` so that it supports two variations depending on the billing interval the user has selected for their subscription. Currently it supports only annual plans.

`productCode`:
Annual : `Yoast SEO Premium + Academy`
Monthly: `Yoast SEO Premium (monthly)`

Related convo: pcSRhZ-1Q-p2#comment-63
Swagger API documentation: pcSRhZ-Y-p2

[2022-03-01 12:01] cpapazoglou opened #61564 "Marketplace: integrate Yoast premiun refund plan"
Yoast has provided us one more point for refunds that can be found in the swagger UI. Let's integrate into our subscription system.

Swagger API documentation: pcSRhZ-Y-p2

[2022-03-01 13:07] kerrynicl commented on #61297
I'm not able to reproduce the error. I'm able to crop the image in a post but unable to edit from the Calypso media library. However it is possible to apparently edit image in the library only when the site is public...

Current Status - Unable to Edit Image in Calypso Media Library when site is Private

[2022-03-01 13:15] andres-blanco commented on #50560
The users in this batch were contacted, we are waiting for feedback. paYKcK-1lq-p2#comment-1235

[2022-03-01 13:58] andres-blanco commented on #50560
There's a fix already applied and ready to be tested for adding the fix to atomic transfer, so this stops happening: D75586-code

[2022-03-01 14:27] KokkieH commented on #61297
@formosattic  @carinapilar  The Edit Image option hasn't been available if a site is set to private for quite some time. See #25115

@kerrynicl The users who have been reporting the issue here have public sites, so it's unlikely to be the same issue.

[2022-03-01 14:29] kjellr commented on #61202
For now, yes I think we probably need to hide this. Related issue here: https://github.com/Automattic/jetpack/issues/21787

[2022-03-01 14:52] #59397 closed, assigned to lupus2k

[2022-03-01 15:06] #61266 closed, assigned to lupus2k, Rolilink

[2022-03-01 15:29] JoshuaGoode commented on #56929
The WPCOM version of the product is Jetpack Search for WordPress.com, `wp-search-yearly`

However, it cannot be added via SA and our internal error is `This upgrade is not available for an Atomic site.`

Related threads:

* p1646147296531719-slack-C02BEP610
* p9F6qB-8IT-p2

[2022-03-01 15:40] kerrynicl commented on #61297
@KokkieH  Thanks for pointing that out. Are you able to replicate this on your side? We're not able to see that error - "We were unable to process this media item"

[2022-03-01 15:47] JoshuaGoode opened #61573 "Jetpack Search on WPCOM: Support Higher Tiers"
### What

Support higher tier options for Jetpack Search on WordPress.com.

Jetpack Search for WordPress.com was launched to both Simple and Atomic sites. It defaults to the 100 record tier without a way to select a higher tier.

p10gg3-9uu-p2
pNPgK-5Gu-p2

### Why

Allow customers, especially those with Atomic sites, to upgrade beyond the 100 record tier for better parity with self-hosted Jetpack

[2022-03-01 15:59] #61573 closed, assigned to nobody

[2022-03-01 16:03] KokkieH commented on #61297
Console shows the following:
<img width="1040" alt="Media_‹_Shift_to_the_left_—_WordPress_com" src="https://user-images.githubusercontent.com/11873759/156203945-aa3b5e81-f7c2-4abd-95db-ec855a5e25c9.png">

[2022-03-01 17:11] msilbers commented on #61486
reported in 4822785-zd
Atomic site, Byrne theme

will provide CSS as a workaround

[2022-03-01 17:30] mreishus commented on #51594
## Accurate reporting of space quota: Done

* Merged: 829-gh-Automattic/wpcomsh [Remove hardcoded space quota of 200GB]
* Deployed: D62589-code [Media Storage Endpoint: Check space_quota for Atomic sites]

## Space used on 12 hour lag

The calypso upload, wp-admin upload, and site health pages are accurately reporting space quota below 200GB now.
The biggest issue looks to be that the "space used"

[2022-03-01 17:42] obenland commented on #51594
My understanding is that that's just the way it is? Or do you think there's something that can be improved here?

[2022-03-01 17:45] paulopmt1 commented on #39053
Request to add WhatsApp icon came in 34442050-hc

[2022-03-01 18:06] nelsonec87 commented on #61184
The only way I found to [partially] reproduce the problem was to directly access the preview URL using a site I'm not a user:

![image](https://user-images.githubusercontent.com/3801502/156223566-184c7c55-5434-4d24-aee2-1c239f57f2b3.png)

But calypso doesn't let access the theme page for this site: `https://wordpress.com/theme/twentytwentytwo/<site>.wordpress.com`. I get redirected to the "pick a

[2022-03-01 18:53] markbiek commented on #61436
To add to the above:

When you hit `/start/setup-site/store-features` the first time, `signup.progress` has the following steps

* `intent`
* `store-features`
* `store-options`

When you go to ** More power - Upgrade **, `signup.progress` only has

* `store-features`

It seems like it can't continue with ** Start simple - Continue ** because it's lost the fact that the user is in the `sell` intent

[2022-03-01 19:14] jp-imagines opened #61578 "Uploading images into a Gallery block results in duplicates"
### Quick summary

Images can be uploaded into a Gallery block in two ways: using the "Upload" button or drag-and-dropping from a folder on your computer.

Both options, at times, seem to result in images becoming duplicated during the uploading process at random.

### Steps to reproduce

1. Create a new post or page
2. Add a Gallery block
3. Upload multiple images at once to the block – this can

[2022-03-01 19:35] WBerredo commented on #61343
WPcom: D75879-code
Calypso: #61580

[2022-03-01 19:39] janmckell opened #61581 "Ixion theme - error upon cropping images from media library"
### Quick summary

User was having an issue
-> "I have been unable to crop images directly in the media gallery. I select an image, go to 'edit image', click 'crop', select aspect ratio 16:9/freeform, press 'done' and get returned to the media gallery with the message 'we were unable to process this media item'.

Even when removing the image from posts and pages, the issue remains the same."

4816

[2022-03-01 19:41] philnick206 commented on #60748
Reported in 4822095-zen and I can repro on test sites as well. Reopening this one.

[2022-03-01 20:00] JoshuaGoode commented on #60748
TL;DR, seems that the marketplace uploader at `https://wordpress.com/marketplace/install/goodeatomictesting2022.wpcomstaging.com` runs into issues when dealing with larger .ZIPs.

---

I'm not able to reproduce with most plugin packages.

However, I can actively reproduce with a larger plugin (Astra Premium Sites) which is 33.9MB.

It was necessary to install manually.

Related troubleshooting thr

[2022-03-01 20:06] JoshuaGoode commented on #60748
Adding to [my comment](https://github.com/Automattic/wp-calypso/issues/60748#issuecomment-1055806808) above:

The marketplace uploader is hitting a server file size limit when users attempt to upload larger plugins.

We're responding with a `413` for requests like this one:

* POST to https://public-api.wordpress.com/rest/v1.1/sites/XXXX/plugins/new?http_envelope=1
* 33.9 MB .zip file

[2022-03-01 20:20] creativecoder commented on #60665
Duplicate of https://github.com/Automattic/wp-calypso/issues/58798

[2022-03-01 20:20] #60665 closed, assigned to nobody

[2022-03-01 20:23] blackjackkent commented on #61436
@markbiek, @sixhours and I sat down and discussed this for a while earlier and our general conclusion (aligned with Mark's info above) is that this problem stems from the sign up system basically considering the user to be done with the flow after the `store-features` step and entering a completely new sign-up flow when we navigate the user to WooCommerce onboarding. Consequently, all the past ste

[2022-03-01 20:32] kerrynicl commented on #60758
I can reproduce this on my test sites.

[2022-03-01 20:46] kwight commented on #50560
The fix for Atomic transfer is in production: D75877-code. We just need to confirm with individual existing users above that their issues are resolved. Great work @andres-blanco ! ✨

[2022-03-01 21:11] obenland commented on #51594
@jmdodd Would you anticipate the scenario of a customer filling their upload quota within the 12 h window to be so likely that we should find ways to prevent it?

(This may read like a loaded question but it's not. I'm genuinely curious and happy to fix :) )

[2022-03-01 21:16] obenland commented on #61436
I don't think so. The steps are specified in the signup config, so theoretically it should be possible to use them in multiple flows? I've never tried that though and I'm too unfamiliar with the signup framework to be able to say that it would work. But maybe worth a shot?

[2022-03-01 21:20] dsas commented on #61319
It's not appearing because the product isn't being saved properly - it needs to POST to `/wp/v2/jp_pay_product/` to save the product as a CPT rather than just as block attribs.

If you reload the editor *after* saving the template with the change, then it will make that POST and save the product

----

It looks like there's logic in `componentDidMount` to do with saving using the `isPostEditor` pr

[2022-03-01 21:27] kerrynicl commented on #60811
After lots of testing and research, this seems like the expected behaviour of the block so not a bug.

Based on this though, I do agree that a card-like view of a post can generate more interest/traffic and control how content can be formatted outside of a reblog

I'll tag this as a feature request and see if this is possible from our team

[2022-03-01 21:31] kimerlin81 commented on #61581
@janmckell  Thanks for submitting this detailed report. This issue has been triaged:

Reproduced on Simple site: https://d.pr/i/3TssQ7
Error also appears when you attempt to rotate or flip an image within the Media Library editor
Tested both methods (Media Library and Upload) on Atomic test site and could not reproduce there.
Workaround - crop images outside of Media Library by using the image blo

[2022-03-01 21:52] creativecoder commented on #59527
This issue appears to only affect Simple sites. The error returned is

[code]

which indicates the `ZipArchive` php class is not available during the API request to `wp-block-editor/v1/sites/{site}/export`. This seems to be intentional: pMz3w-91R-p2. Other import/export features that rely on ZipArchive use async jobs, where this class is available.

I think to fix this we'd need to override the th

[2022-03-01 21:57] allilevine commented on #53626
@roo2 Thank you for taking this on! 🙌

[2022-03-01 21:59] kimerlin81 commented on #61578
@jp-imagines  Thanks for submitting this detailed report!

This issue has been triaged as I was able to reproduce this behavior on a Simple test site several times.
The number of images uploaded does not seem to matter as duplication happened when as little as 3 images were added.
Not theme-specific either.

[2022-03-01 21:59] creativecoder commented on #60107
This appears to be a Core/Gutenberg problem. Gutenberg issue tracking this is https://github.com/WordPress/gutenberg/issues/37936.

[2022-03-01 22:00] kerrynicl commented on #60858
Not able to replicate but I'll keep this open to be investigated as the URC linked in user report is consistent with behaviour described

[2022-03-01 22:04] creativecoder commented on #59563
It look like this might be fixed now? Testing on a Simple site:

<img width="400" alt="image" src="https://user-images.githubusercontent.com/1699996/156256553-c7316764-f127-4971-a530-93bbaa187152.png">

[2022-03-01 22:06] markbiek commented on #61424
This seemed like it was going to be as simple as just removing
[code]

from the `ThemeShowcase` component but there's some magic happening behind the scenes.

If the `SubMasterbarNav` component is deleted is deleted, something else ends up creating that markup and then the contents of the `themes__content` div gets moved up into the `sub-masterbar-nav` div.

See it in action!

https://user-images.

[2022-03-01 22:24] kimerlin81 commented on #60684
I was unable to reproduce this when tested on a Personal site with a custom domain and on a Premium site with no connected domain. Each time I refreshed, the last step page appeared as normal. I'll close this issue for now, but if you are still able to reproduce this, please feel free to reopen and update the comments.

https://user-images.githubusercontent.com/83732167/156259038-6bfb985f-1fb8-443

[2022-03-01 22:24] #60684 closed, assigned to nobody

[2022-03-01 22:34] kimerlin81 commented on #60870
@renata-franco Thanks for submitting this bug report. I was able to reproduce this on my test sites. This issue has now been triaged.

[2022-03-01 22:43] kimerlin81 commented on #60883
Able to reproduce - triaged as a feature request.

[2022-03-01 22:46] kimerlin81 commented on #60986
Thank you for submitting this request. This has been triaged and submitted to the developers for review.

[2022-03-01 22:49] creativecoder commented on #59581
I believe improvement to template creation and management are planned for Gutenberg, leading up to WP 6.0. Here are a few issues I found in the Gutenberg repo, related to this

- https://github.com/WordPress/gutenberg/issues/29950
- https://github.com/WordPress/gutenberg/issues/29449
- https://github.com/WordPress/gutenberg/issues/37407

[2022-03-02 01:00] #61345 closed, assigned to lsl

[2022-03-02 02:14] creativecoder commented on #60103
This doesn't appear to be WP.com specific. I opened an issue in Gutenberg: https://github.com/WordPress/gutenberg/issues/39149

[2022-03-02 03:35] arthur791004 opened #61591 "Vertical Images: Move the logic of getting vertical images into Site Verticals class"
D75617-code

## Related

https://github.com/Automattic/wp-calypso/issues/61399

[2022-03-02 03:40] lsl commented on #61489
Posted in #crowdsignal p1646192328581639-slack-C02ER2E0Z

[2022-03-02 06:50] Greatdane commented on #60360
Putting back in the triage queue for someone else to test - I am unable to reproduce.

[2022-03-02 07:21] nagpai commented on #57493
I am closing the ticket - 4664133-zd

Once the issue is resolved, please reopen a followup and let the user know that it is fixed.

[2022-03-02 07:46] yashitamittal11 commented on #61518
Another user reported here- #4818185-zen
I checked the issue on my test site with multiple themes and Classic Editor active. The Custom message field is grayed out, and I cannot select/deselect the social media connections.

Screenshot from the user's site-
![publicize settings](https://user-images.githubusercontent.com/21078987/156317269-d770bbc2-1f8c-47fc-a611-97d02bdf28ff.png)

[2022-03-02 07:53] Greatdane commented on #61104
Confirmed on AT, Simple and Core.

@devNigel - are you able to add an issue on Gutenberg core as well please;
https://github.com/WordPress/gutenberg/issues

[2022-03-02 08:05] taipeicoder opened #61593 "Site Snapshots: Filter sites by theme"
# Description
Add filter by theme functionality to Site Snapshots.
# Related
Automattic/ganon-issues#5

[2022-03-02 08:32] #60372 closed, assigned to nobody

[2022-03-02 09:09] daria2303 opened #61594 "They would like to hide pages like upgrade.php, readme.html, license.txt"
### What

User
 would like to hide pages like upgrade.php, readme.html, license.txt

### Why

User thinks this is insecure. There were some more requests like that described in At. P2

### How

_No response_

[2022-03-02 10:50] cpapazoglou commented on #61493
@jmdodd can you confirm whether `wordpress-seo` and `wordpress-seo-premium` are registered as **managed plugins**? Is there a way to cross check this on our own?

[2022-03-02 10:54] #61365 closed, assigned to epeicher

[2022-03-02 11:08] dsas commented on #52149
I can reproduce this

[2022-03-02 11:14] gavande1 commented on #55488
Deployed r240996-wpcom

[2022-03-02 11:14] #55488 closed, assigned to gavande1

[2022-03-02 11:26] cpapazoglou commented on #61073
This should be closed now, right @gcsecsey?

I have tested buying both and they got installed as expected. I would suggest:
- marking them as featured so that they appear in the "Browse All" page
![CleanShot 2022-03-02 at 13 25 50](https://user-images.githubusercontent.com/12430020/156353049-71b5c5af-e474-42a1-a6d7-5f5cd4e2f3ad.gif)
- removing the a11n check and launching them

[2022-03-02 11:29] gcsecsey commented on #61073
Yep, I think we can close this issue now.

Thanks for testing the changes 🎉  I'll add a new issue to track launching these plugins.

[2022-03-02 11:29] #61073 closed, assigned to gcsecsey

[2022-03-02 11:30] gcsecsey opened #61597 "Marketplace: Launch WooCommerce Points and Rewards and WooCommerce Deposits"
In #61073 we've added the two plugins to the store, but hid them behind the `is_automattician()` check. As the testing was successful, we can proceed with launching these plugins.

We should:
- [x] remove the a11n check
- [x] set the plugins as featured

[2022-03-02 11:37] #61352 closed, assigned to epeicher

[2022-03-02 12:17] gavande1 commented on #61500
Based on my findings, It appears that custom design is the feature that we use for gating Additional CSS features. The checks are placed on `wp-content/mu-plugins/custom-css-in-customizer.php?r=c8138e41#9`.

[2022-03-02 12:25] roo2 commented on #53626
These are notes to myself and @ramonjd or anyone else who understands the arcane magic of "coming soon":

It was a little different than I remembered. We use Atomic Persistent data for `wpcom_public_coming_soon` on the atomic site. We actually override the getter for `wpcom_public_coming_soon` in wpcomsh to return the Atomic Persistent data. [link]

This means that we can't intercept setting `blog

[2022-03-02 12:55] kimerlin81 commented on #60906
@paxblueribbon Thanks for submitting this bug report. It has now been triaged.

I was able to reproduce as shown below:

https://user-images.githubusercontent.com/83732167/156365172-fab334c4-7a7d-4bc5-9d14-d515d5b443f3.mp4

The scrolling behavior only seems to happen when the Slideshare shortcode is used. The page did not scroll when I used the Slideshare URL.

[2022-03-02 13:25] chad1008 commented on #57170
Hm. So far I'm not able to reproduce it at all, which I know others have noted... if it's only present on impacted sites that does indeed make it difficult to dig into.

It's interesting how site-specific this is, and that it sounds like it's happening on older sites. If I had to guess (and I want to stress this is a **theory**, not something I can confirm) I think it's possible this is less to do

[2022-03-02 13:38] #58496 closed, assigned to hannahtinkler

[2022-03-02 14:11] jmdodd commented on #61493
Yes, both of these plugins are available as managed plugins.

[2022-03-02 14:15] mmtr commented on #61500
@gavande1 that looks right to me after taking a look as well.

[2022-03-02 15:45] csonnek commented on #61297
Another report in https://wordpress.com/forums/topic/edit-function-3/?view=all

[2022-03-02 15:53] mreishus commented on #51594
I think we're basically done then. I just need to bring my site within close distance of the limit, wait until the next day, and verify that I'm no longer allowed to upload large files after the space used has caught up.

[2022-03-02 15:59] kimerlin81 commented on #60996
Thanks @zdenys! This issue has been triaged as I was able to reproduce it (shown below).
It seems that in the Site Editor - the Cover block now shows the alignment option, but the Group block still does not:

https://user-images.githubusercontent.com/83732167/156398524-298474c9-9b75-44f4-9250-d8b33bb8a8f3.mp4

[2022-03-02 16:05] jartes commented on #61464
Another issue on: 4825117-zd-woothemes

They had`Polylang` and Nav Unification was not working.

[2022-03-02 16:06] kwight commented on #61466
This will also need an appropriate gif – @SaxonF can you set us up here?

[2022-03-02 16:06] desnum commented on #59527
Another case in 34130736-hc

[2022-03-02 16:11] jromales opened #61605 "Baker: setting a white background color on blocks isn't respected"
### Quick summary

Setting a white (#FFFFFF) background color on blocks are not being respected. The expected color is displayed on editor but not on the live site.

![Screen Shot 2022-03-02 at 11 52 39 PM](https://user-images.githubusercontent.com/89536719/156397728-ae32eb1f-9081-4ea0-aa26-8d2ef0ff027f.png)

4823719-zd-woothemes

### Steps to reproduce

1. Add any block that allows custom color b

[2022-03-02 16:14] markbiek commented on #61471
Opened translation PR #61606

[2022-03-02 16:20] cpapazoglou opened #61607 "Marketplace: Show 3pd plugin terms"
While users are checking out with 3pd plugin (or any other product) we need to make sure that they accept the terms both of **WP.com Marketplace** and the **3pd terms**.

Currently, there is not link for the Third-Party plugin Terms.

- [x] Each 3pd will have their own set of **Terms of Service** and **Privacy Policy**.
- [x] Publish a doc (https://docs.google.com/document/d/1TM7LbY6qoYMgRsX2mf2t_

[2022-03-02 16:50] jromales commented on #61605
I have another user with the same issue on setting white color, but this time on a text. I replicated it on a Paragpraph text, and on a Heading. 4824317-zd-woothemes

[2022-03-02 16:53] JoshuaGoode opened #61609 "Plugin Upload: Uploading large plugins fails"
### Quick summary

Users may encounter `We're sorry, but an unexpected error has occurred` when manually uploading larger plugins.

Seems that the marketplace plugin installer at https://wordpress.com/marketplace/install/ runs into issues when dealing with larger .ZIP files.

The marketplace uploader is hitting a server file size limit when users attempt to upload larger plugins.

We're responding

[2022-03-02 16:55] JoshuaGoode commented on #60748
Moving the [file size upload issue](https://github.com/Automattic/wp-calypso/issues/60748#issuecomment-1055806808) to a new report: https://github.com/Automattic/wp-calypso/issues/61609

Closing this issue as the original cause was different and has been resolved.

[2022-03-02 16:55] #60748 closed, assigned to nobody

[2022-03-02 16:56] andres-blanco commented on #60733
The site `charlieandnotcharlie` does not seem to have a valid connection to Anchor. Can we ask the user to try to connect again?

[2022-03-02 17:15] davipontesblog opened #61611 "FSE: Open "List View" by default when in the site editor"
### What

This issues discusses how expanding List View in the site editor by default may be useful to users.

### Why

- It provides additional context to users when navigating the editor canvas when it comes to the parent/child relationship between blocks,
- It makes selecting the right block to edit a lot easier, especially when it comes to parent and child blocks,
- It makes drag and drop easi

[2022-03-02 17:18] #61424 closed, assigned to markbiek

[2022-03-02 17:24] obenland commented on #51594
Thank you so much for driving this forward and getting it to this point @mreishus!

[2022-03-02 17:33] andres-blanco commented on #61552
This is already happening. Nothing to do here :)

[2022-03-02 17:33] #61552 closed, assigned to nobody

[2022-03-02 17:34] davipontesblog opened #61612 "Social Icons Block: Difficult to add additional icons"
### Quick summary

Based on [what we have documented here as the expected experience using this block](https://wordpress.com/support/wordpress-editor/blocks/social-links-block/#add-new-icons), it seems like there is a bug preventing the + icon to show in the editor canvas when adding a new social icon, which makes you have to go back up one level to the Social Icons block, so that the + icon will

[2022-03-02 17:35] andres-blanco commented on #61552
![2022-03-02 14 34 08](https://user-images.githubusercontent.com/375980/156416586-950f4f85-7cea-4970-80ca-f36b9b76e096.gif)

[2022-03-02 17:40] davipontesblog opened #61613 "Social Icons block: More sizing options needed"
Duplicated here: https://github.com/WordPress/gutenberg/issues/39467

### Quick summary

The options for sizes of the icons are inconsistent with options available in other blocks in WordPress these days, such as the Paragraph block, for example:

<img width="269" alt="Screen Shot 2022-03-02 at 14 37 16" src="https://user-images.githubusercontent.com/31009008/156417049-f2828e2b-ae20-49fd-9f83-3d4e

[2022-03-02 17:47] davipontesblog opened #61614 "Separator block: Add width options"
### What

It would be nice to be able to change the width of the separator line with a UI, making it lighter, or heavier based on px or different units of measure.

### Why

This would improve the block's usability when designing a page, for example.

### How

_No response_

[2022-03-02 18:02] davipontesblog opened #61615 "Navigation block: Add ability to control the size of the container"
### What

When trying to replicate the design of my previous theme for the navigation using FSE/block theme, I found it limiting not having an option to expand or shorten the length of the navigation block container, manually. This could really expand the ability to create different designs by allowing the users to fine-tune what space the navigation can take in the Header or Footer areas of one's

[2022-03-02 18:12] davipontesblog opened #61616 "Global Styles: Additional options for colors"
### What

Many themes in WordPress will allow users to select colors not only for the base font, headings, links and backgrounds (available today in the Site editor under Styles) but also things like:

<img width="353" alt="Screen Shot 2022-03-02 at 15 10 04" src="https://user-images.githubusercontent.com/31009008/156422349-f5afbd24-53eb-4e53-9eac-1aaeffc29747.png">

Typically CSS can target these

[2022-03-02 18:23] cpapazoglou opened #61617 "Marketplace: Sign up flow for 3pd (partners)"
Let's try enhancing / reusing the WooCommerce.com partners onboarding flow.

- [ ] The flow should also contain a checkbox for accepting the WP.com Marketplace Vendor terms which can be published in P2gHKz-oRE-p2
- [ ] The content of the terms accepted by each vendor should be saved somewhere for future reference (pdh6GB-7N-p2#comment-1149)
- [ ] The flow should contain a vendor registration form

[2022-03-02 18:23] cpapazoglou opened #61618 "Marketplace: post WP.com Marketplace terms"
Once we have the final Marketplace terms, we should publish them in the same way [WP.com Terms of service](https://wordpress.com/tos/) are published as a post through WP Admin of WordPress.com. Ideally we would want it to be posted well ahead of offering Yoast for sale.

- [ ] Post the terms. Terms can be found here pdh6GB-7N-p2#comment-874
- [ ] Replace the hyperlink in plugin details page

![Cle

[2022-03-02 18:24] davipontesblog opened #61619 "Query loop block: Display an option to "Replace""
Matching Gutenberg repo feature request: https://github.com/WordPress/gutenberg/issues/39466

### What

When accessing a template with the Query loop block already in place, there is no “Replace” option to pick different layouts, only “List” and “Grid” options. This makes the user need to remove and re-add to get more layout options. In contrast, the template parts Header and Footer show the "Repl

[2022-03-02 18:31] davipontesblog opened #61620 "Query loop block: Editor does not show "sticky posts""
### Quick summary

When choosing to show [sticky posts](https://wordpress.com/support/post-and-page-visibility/#sticky-posts-posts-only) using the Query loop block, the editor does not reflect that change, but the live site does:

<img width="967" alt="Screen Shot 2022-03-02 at 15 27 31" src="https://user-images.githubusercontent.com/31009008/156425214-f718fe94-8d95-4b09-a2d1-67d5c08fd830.png">

<

[2022-03-02 18:37] #14489 closed

[2022-03-02 18:45] cpapazoglou opened #61621 "Marketplace: additional fields to be added in woocommerce.com api"

[2022-03-02 18:58] ahmadbaig1 opened #61622 "FSE: Options to have Sticky/Transparent Header"
### What

The FSE Header template does not seem to have an option to make it sticky/fixed to the top. Or to make it transparent when at the top.

Example of earlier WordPress.com theme with Fixed Menu option-
https://twentyseventeendemo.wordpress.com/
https://shoreditchdemo.wordpress.com/

Example of a theme with transparent Header which becomes opaque on scrolling-
https://www.ravin.ai/

### Why

[2022-03-02 19:09] ahmadbaig1 opened #61623 "FSE: Need a Spacer Block to add Horizontal space in Row block"
### What

Just as we use Spacer block to add extra space (height) in the regular flow of blocks, I am requesting a Spacer block that would also help add space horizontally (width).

Spacer block- https://wordpress.com/support/wordpress-editor/blocks/spacer-block/

### Why

The use case for the horizontal space between blocks comes into the picture when we consider the Row block and its usage in th

[2022-03-02 19:13] markbiek commented on #61436
The other idea we discussed is the possibility of carrying the `intent` step data forward into the Woo flow.

Obviously the Woo flow doesn't care about that data but, by carrying the data forward, it may make it possible to restore it once we've gone back into the signup flow.

I'm going to try and explore that option over the next few days and try and figure out the level of difficulty there.

[2022-03-02 20:20] edequalsawesome commented on #61008
This happens in core, so I've created an issue in the Gutenberg repo for this: https://github.com/WordPress/gutenberg/issues/39172

[2022-03-02 20:21] #61559 closed, assigned to p-jackson

[2022-03-02 20:30] KirkwallDay commented on #61486
Another instance here with Blank Canvas: 32187287-hc

Used a CSS work around.

[2022-03-02 21:03] edequalsawesome commented on #61051
This is also reported here: 268-gh-Automattic/view-design

Closing in favor of that issue!

[2022-03-02 21:03] #61051 closed, assigned to nobody

[2022-03-02 21:10] edequalsawesome commented on #61052
Duplicated on a self-hosted site, reported to Gutenberg repo: https://github.com/WordPress/gutenberg/issues/39174

[2022-03-02 21:17] edequalsawesome commented on #61058
1. Yes please
2. This is a core issue that's reported here! https://github.com/WordPress/gutenberg/issues/35924

[2022-03-02 21:19] markbiek commented on #61471
@SaxonF The normal behavior for these kinds of notices is that they appear in a carousel with all the notices and the user can click through them like so:

<img width="1068" alt="image" src="https://user-images.githubusercontent.com/917632/156451254-6b555c8f-7c7c-4727-9ecb-220399cd0ee6.png">

Do we want this upsell banner to work the same way or do we want it to be a stand-alone thing?

[2022-03-02 22:13] edequalsawesome commented on #61090
I was able to duplicate -- since this would prevent complete site resets for FSE sites, I marked this as a high priority

[2022-03-02 22:15] kwight commented on #60270
Fixes have been rolled out – I've informed Anchor, waiting for confirmation: p1646167605904859-slack-C033YABM42V

[2022-03-02 22:21] KirkwallDay opened #61627 "Calendly Block does not show on live sites with FSE enabled."
### Quick summary

At first we suspected block base themes, but Themes team took a look at the issue here: https://github.com/Automattic/themes/issues/4833 and have reported the block will not render on other Themes as well.

I'm posting this issue here as my next best guess is the issue is FSE related.

The basic problem is the Calendly block does not display on the live site when FSE is enabled.

[2022-03-02 22:30] edequalsawesome commented on #61072
Issue is part of the core Gutenberg plugin -- reported here: https://github.com/WordPress/gutenberg/issues/39175

[2022-03-02 22:39] edequalsawesome commented on #61056
Highlight is intended to highlight particular text that you've selected, not the general color and background of a particular element of a block -- you can see what I mean in the GIF below:

![2022-03-02 17 35 59](https://user-images.githubusercontent.com/4000628/156461795-43376e0c-389a-455d-a63e-feb2f7b75553.gif)

This is working as expected, so I'm going to close this for now :)

[2022-03-02 22:39] #61056 closed, assigned to nobody

[2022-03-02 22:43] edequalsawesome commented on #61103
This is the same issue in the Jetpack repo that Katie mentioned -- I dropped the ticket in as a comment there, and will close this in favor of that issue :)

[2022-03-02 22:43] #61103 closed, assigned to nobody

[2022-03-02 22:48] Rolilink commented on #61492
What I found exploring the JITM code today is that we:
* Need to define those JITM messages in the backend.
* Need to create a template to render the spotlight [here](https://github.com/Automattic/wp-calypso/tree/trunk/client/blocks/jitm/templates).

Maybe adding messages for Sensei Pro + Yoast and creating the Spotlight template will be enough?

[2022-03-02 23:47] louinel commented on #61627
New case here: 4812529-zen

[2022-03-03 00:05] lsl commented on #61434
No, I've only seen it once and it's worth noting I don't think my request was the cause. Someone else's request made the load balancer think every instance of calypso was down so it served up the error page for me. I'm not really sure what it would look like for the user, possibly a connection closed browser error.

[2022-03-03 00:48] autumnfjeld opened #61628 "Deprecate the /new onboarding url & flow and replace with /start flow"
# Description
Once the /new vs /start experiment, 2bd76-pb/,  is complete on March 18,  and we've shown approximate parity in the performance of each according the experiment metrics, we can write up the "Add new site" button to the /start flow and deprecate the new flow.

<img width="269" alt="image" src="https://user-images.githubusercontent.com/5665959/156474529-c3773ca0-4699-4816-b8f6-ed1f2519

[2022-03-03 02:07] pauloeaquino opened #61629 "Issue: WooCommerce Payments plugin causing "this block has encountered an error and cannot be previewed""
### Quick summary

The `woocommerce-payments` plugin is causing media-based blocks (i.e. image, media & text, cover, video, etc.) to throw `this block has encountered an error and cannot be previewed` errors.

### Steps to reproduce

1. Install `woocommerce-payments` plugin
2. Add an media-based block (i.e. image, media & text, cover, video, etc.) to any page or post

### What you expected to happ

[2022-03-03 02:29] thesacredpath commented on #61629
Reported here too: 32170495-hc

[2022-03-03 02:45] thesacredpath commented on #61629
Another report: 34466522-hc

[2022-03-03 02:47] felipelousantos commented on #61629
I'm not being able to reproduce this issue on my test site. Not sure if it is related to a new feature available only for new Atomic sites, but it works as expected on my test site.

Could you share the System Status Report for one of the test sites where you can reproduce this issue? In regular WP installations, you can get it by navigating to WP Admin > WooCommerce > Status. Once there, you can

[2022-03-03 02:56] Greatdane commented on #61629
@felipelousantos

Not sure if the same issue, but a user was unable to open pages at all in their browser (I was unable to replicate), this error was showing;

[code]

Said it just started happening today. Safari worked for them but not Chrome.

[2022-03-03 03:06] pauloeaquino commented on #61629
@felipelousantos

Here's a system report from a test site (via TasteWP). Safari browser.

`
### WordPress Environment ###

WordPress address (URL): https://smoketemper.tastewp.com
Site address (URL): https://smoketemper.tastewp.com
WC Version: 6.2.1
REST API Version: ✔ 6.2.1
WC Blocks Version: ✔ 6.7.3
Action Scheduler Version: ✔ 3.4.0
WC Admin Version: ✔ 3.1.0
Log Directory Writable: ✔
WP Version:

[2022-03-03 03:13] thesacredpath commented on #61629
Here is the system status report for https://coucdoctruyen.com/

`
### WordPress Environment ###

WordPress address (URL): https://coucdoctruyen.com
Site address (URL): https://coucdoctruyen.com
WC Version: 6.2.1
REST API Version: ✔ 6.2.1
WC Blocks Version: ✔ 6.7.3
Action Scheduler Version: ✔ 3.4.0
WC Admin Version: ✔ 3.1.0
Log Directory Writable: ✔
WP Version: 5.9.1
WP Multisite: –
WP Memory Limi

[2022-03-03 03:35] roo2 commented on #53626
I created a PR in wpcomsh to allow syncing of blog_public, this should cause the site to be launched if for any reason blog_public gets set to 1 on the remote site 831-gh-Automattic/wpcomsh

[2022-03-03 03:36] felipelousantos commented on #61629
(For reference, deleted the comment above as there were some links for the site of the user with the full SSR.)

[2022-03-03 03:37] felipelousantos commented on #61629
I was able to reproduce as well now, and not sure why I wasn't reproducing before. It seems to be happening also with sites that aren't Atomic. I wonder if we need to move it to the WooCommerce Payments repo.

[2022-03-03 03:39] arunsathiya opened #61630 "Only on Editor view: Label for the Radio block within the Form block is smaller than other block labels"
### Quick summary

For a `Form` block, add a `Radio` block within it and you can see that its label font size is smaller than the rest of the form block labels. This happens only on the editor view.

### Steps to reproduce

- Add a `Form` block to any page. (any theme will do)
- Add a `Radio` block within that form block.
- See that its label size is smaller than the rest of the form block labels.

[2022-03-03 03:40] arunsathiya commented on #61630
Some notes:

- I am assigning a low priority because it's affecting only the editor view.
- I think this can be moved to Jetpack repository because Form block comes from it? I am not too sure though because this is on Calypso at the moment: https://github.com/Automattic/wp-calypso/issues/54329

[2022-03-03 03:41] arunsathiya commented on #54329
- Similar issue about difference in styling for the `Radio` block within `Form` block: https://github.com/Automattic/wp-calypso/issues/61630

[2022-03-03 05:13] lsl opened #61632 "Product short descriptions need translating"
Probably just need wrapping in translation functions but not sure on the context these are used, hopefully user context.

A fix is out of scope for this issue but lets check if the descriptions pulled from wccom can be translated too, will need to rework the caching if so so create new issues to suit.

See `short_descriptions` entries in `class-marketplace-product-catalog.php`

[2022-03-03 05:45] SaxonF commented on #61471
@markbiek let's stick with the carousel. Thanks!

[2022-03-03 05:46] hacchism commented on #60733
@andres-blanco I'm afraid I'm not quite sure how the user can do that on their end. The user can't do that by themselves. This is why this was escalated here and we would like help from you(Serenity). Let me know if I'm missing something.

[2022-03-03 05:48] SaxonF commented on #61491
Thanks for covering @cpapazoglou and sorry I missed this @allilevine ! I'm thinking, could we just start with the top learn more footer?

[2022-03-03 05:52] JulianBustamante commented on #61563
Diff created D75976-code

[2022-03-03 08:12] zdenys opened #61634 "Feature request: Section for all the comments made by a WordPress.com account on all WordPress.com sites"
### What

Shared by the customer in #4824034-zen

### Why

Have a way to manage all the comments in one place.

### How

_No response_

[2022-03-03 08:50] jeroenpf commented on #60608
The pending issues with migrating themes has been resolved. We were not able to replicate this issue.

Further details: pcmemI-p9-p2#comment-560

[2022-03-03 08:50] arthur791004 commented on #61591
Shipped

[2022-03-03 08:50] #61591 closed, assigned to arthur791004

[2022-03-03 09:09] vishnugopal commented on #59038
Discussion:

* Planning to merge one diff for WordPress importer.
* Working on  Wix, mocking before the AWS call.
* wordpress-importer version differences can be reconciled.

[2022-03-03 09:14] vishnugopal commented on #61439
Discussion:
- WIP here: https://github.com/Automattic/wp-calypso/pull/61488

[2022-03-03 09:19] taipeicoder opened #61635 "Site Snapshots: Filter sites by vertical"
# Description
Add filter by vertical to Site Snapshots.
# Related
Automattic/ganon-issues#5

[2022-03-03 09:20] #60608 closed, assigned to jeroenpf

[2022-03-03 09:38] vishnugopal commented on #61065
Discussion:
* Related: D75896-code by Philip seems to dynamically generate a theme with different block patterns.
* We need to understand this a bit more.

[2022-03-03 10:49] jordesign commented on #60876
I've taken the initiative to just add this straight to Vertex's board - this would be a great addition.

[2022-03-03 10:56] jordesign commented on #61622
This is an excellent Feature Request - good news is we have an open request (with some work on it in progress in the Gutenberg repo)
https://github.com/WordPress/gutenberg/issues/30121

[2022-03-03 10:56] #61622 closed, assigned to nobody

[2022-03-03 11:01] jordesign commented on #61623
@ahmadbaig1  is this the kind of thing you mean?
https://github.com/WordPress/gutenberg/issues/38022

[2022-03-03 11:04] jordesign commented on #61616
This would definitely be great - I see it is already in discussion in Gutenberg:
https://github.com/WordPress/gutenberg/issues/27075

[2022-03-03 11:14] jordesign commented on #61544
Confirming this behaviour in testing.

[2022-03-03 11:18] jordesign commented on #61513
Adding this to Vertex's board

[2022-03-03 11:22] jordesign commented on #61605
Hey @jromales  - when you found this issue to be happening - was the White color to be found labeled as the 'tertiary' color (probably the 3rd color in the pallette?)

if so - it could be this issue here:
https://github.com/Automattic/themes/issues/5585

[2022-03-03 12:17] cpapazoglou commented on #61564
We will need to hook after a subscription gets refunded. Maybe `bd_refund_items` is the appropriate action that runs after a refund.

[2022-03-03 12:23] cpapazoglou commented on #61355
Let's explore if creating Yoast Premium in WooCommerce.com creates any problems (it shouldn't appear anywhere eg listing, search). That way we can add all the content there directly and fetch it like we already do for rest woo extensions.

[2022-03-03 12:51] gcsecsey commented on #61609
Based on the backlog grooming session:
- Let's find the limit and increase it (eg. 100MBs)
- Only apply this higher limit on the `sites/XXX/plugins/new` endpoint

[2022-03-03 12:52] MaxPhilip commented on #52100
Another user wanting to add a cookie banner using FSE with not widget area: 4811882-ZD

[2022-03-03 12:58] daria2303 commented on #52100
4821868-zd-woothemes

[2022-03-03 13:07] gcsecsey commented on #61143
Currently, clicking a domain makes the breadcrumbs root smaller and hides the question mark icon:
![image](https://user-images.githubusercontent.com/11555574/156569495-afa2088f-f7e5-43e0-ba42-52705635ef25.png)
![image](https://user-images.githubusercontent.com/11555574/156569503-84c9fe11-ea5b-4643-ab63-c0c28819ad83.png)

@vinimotaa should we update this UX perhaps?

[2022-03-03 13:52] aleone89 commented on #56382
Another instance here: hc-34473719

[2022-03-03 15:02] dsas commented on #61319
The widgets store is edit-widgets and it does have `isSavingWidgetAreas` which looks to be an `isSavingPost` equivalent. I've pushed a [jetpack draft pr](https://github.com/Automattic/jetpack/pull/23216) which does this.

The FSE store is edit-site, and it doesn't have an isSavingPost equivalent, also I can't see an equivalent for the Customizer (this block is barely usable there at all)

----

It

[2022-03-03 15:03] allilevine commented on #61491
@SaxonF Do you mean this part? Should we link to the 3 articles @cpapazoglou shared? cc @Rolilink
<img width="663" alt="155743842-6a52b19a-4e7f-4bb7-ae89-f0243609f389" src="https://user-images.githubusercontent.com/1689238/156591396-0d4a13be-cd46-4759-b680-260075153a5c.png">

[2022-03-03 15:47] tellisbethel commented on #57812
Another case here: 28554212-hc
Suggested user update their Safari browsers (on Macbook and iPhone 11) or try a different browser.
(I couldn't reproduce the issue at all from Firefox.)

[2022-03-03 15:59] mxhassani commented on #61535
Similar request 26227318-hc

[2022-03-03 16:21] JoshuaGoode opened #61641 "Form Responses & Akismet: Option to auto-delete feedback spam"
### What

An option that allows sites to automatically delete contact form response/feedback spam.

Spam comments have auto-delete options but feedback spam does not.

### Why

Sites can accumulate thousands, sometimes millions, of feedback spam entries.

The current `Empty Spam` tool is quite slow, times out often, and makes removing this spam difficult.

### How

_No response_

[2022-03-03 16:22] cpapazoglou opened #61642 "Marketplace: Reporting Sales to 3pd"
We will need to report to third party developers on a monthly basis and show them stats regarding their products sold through WordPress.com. The monthly report will include the **number of Plugin sales**, **revenue share earned from the sale of Plugins**, and any **refunds**.

@Automattic/shilling any ideas on creating a dashboard that 3pd can access and these reports on a self service basis? Do w

[2022-03-03 16:27] gcsecsey opened #61643 "Thank you page notice is clipped"
When renewing Yoast Premium, the success notice is covered by the header:
<img width="1303" alt="image" src="https://user-images.githubusercontent.com/11555574/156607939-b67cff33-2709-4e2b-9b72-089ff34c0ebc.png">

[2022-03-03 16:35] kwight commented on #60733
@andres-blanco I think we need to manually run the blog sticker and option part of `mark_site_as_podcasting_site()` (but we'll need their podcast ID, not sure if that has come up yet). This will be an interesting test to see what support for connecting existing sites could look like.

[2022-03-03 16:35] metabreakr commented on #61384
Closing in favour of: https://github.com/Automattic/wp-calypso/issues/61203

[2022-03-03 16:35] #61384 closed, assigned to nobody

[2022-03-03 16:36] jromales commented on #61605
Hi @jordesign! It's from the "background" color from the pallette.

I also discovered a workaround. If you select the color using the pointer, it works.
https://user-images.githubusercontent.com/89536719/156608637-dc2d6407-5cdf-47b7-9ef3-14ea03fe695f.mov

[2022-03-03 16:40] WBerredo commented on #61343
WPCom deployed: r241084-wpcom

[2022-03-03 16:47] DustyReagan commented on #61425
This is addressed in WPCOMSH with:

- 828-gh-Automattic/wpcomsh

And in WPCOM with:

1. D75828-code
2. D75939-code
3. D75965-code
4. D76006-code

[2022-03-03 16:47] #61425 closed, assigned to DustyReagan

[2022-03-03 16:56] sirbrillig opened #61644 "No user-visible error if loading checkout without valid permissions"
If a user is not correctly connected to Jetpack for their site, https://github.com/Automattic/wp-calypso/pull/61267 will make sure that they don't get a cart key so the shopping cart will not load. However, this may cause checkout to hang in a loading state with no user-visible error. It would be helpful to display an error like "You do not have permission to access this site".

Inspired by this S

[2022-03-03 16:58] #61343 closed, assigned to WBerredo

[2022-03-03 17:40] markbiek commented on #61472
As part of #61471, I'm going to be implementing a check to see if someone is a "simple seller". We'll be able to leverage that same check here.

[2022-03-03 17:40] kwight commented on #61472
Figma is linked in the Seller Experience v2 post.

[2022-03-03 17:43] kwight commented on #61421
@SaxonF Can you give some design guidance here as to what we should be showing?

[2022-03-03 18:07] cpapazoglou commented on #61607
I have asked here pau2Xa-3my-p2#comment-11725 whether we already track any kind of terms acceptance.

[2022-03-03 18:46] WBerredo commented on #61597
WP.com diff at D76024-code

[2022-03-03 18:55] Addison-Stavlo opened #61648 "Site Editor - Update help link to use WPcom docs."
The help link in the Site Editor currently takes users to the core documentation: https://wordpress.org/support/article/site-editor/

We should update this to send users to our WPcom documentation: https://wordpress.com/support/site-editor/

We should ensure this is handled gracefully, and add a filter or slot to override in Gutenberg if necessary.

![image](https://user-images.githubusercontent.c

[2022-03-03 19:16] andres-blanco commented on #60733
@hacchism It was me that was misunderstanding. I will check the function mentioned by Kirk and get back to you :)

[2022-03-03 19:21] n3f commented on #61291
This might be solved upstream: https://github.com/woocommerce/action-scheduler/issues/802

(It's possible that this is a related error with the same message, but a different cause though)

[2022-03-03 19:41] ahmadbaig1 commented on #61623
Kind of yes. This [#38022](https://github.com/WordPress/gutenberg/issues/38022) achieves a similar/better result than what I am requesting! :)

[2022-03-03 20:06] ahmadbaig1 commented on #61520
Has been reported here- #39956
This can be closed in favour of the above.

[2022-03-03 20:19] ahmadbaig1 opened #61649 "Gutenberg: New Slider Block that can slide other blocks"
### What

I am requesting a Slider block, that can have other blocks inside it to make a slideshow of.

For example, we have the Cover block, that allows us to add other blocks inside it, the same way, we could have a Slider block, that allows us to slide various blocks or a combination of them. A few possibilities-
* Slide Media and Text blocks- Have a beautiful carousel of an image and related t

[2022-03-03 20:48] mreishus commented on #51594
Yesterday, I left my site with 200MB left. Today, I tried to upload a 400MB file through wp-admin and calypso:

**wp-admin blocked the upload and did not write to disk.**
![2022-03-03_09-53](https://user-images.githubusercontent.com/937354/156650026-851682aa-1f51-4990-b89b-e3057a716a5c.png)

**calypso let the upload go through, wrote the file to disk, and let the disk space used hit the quota**
Al

[2022-03-03 20:57] jeyip commented on #59562
I ran the latest version of Gutenberg and the [WordPress Editing Toolkit (Full Site Editing) Plugin](https://wordpress.org/plugins/full-site-editing/) on a self-hosted site with the Bennett theme.

I'm unable to reproduce this issue in Chrome, Firefox, Safari, or Edge.  Can any of you still replicate the problem?
@inaikem @creativecoder @zaguiini @formosattic

[2022-03-03 21:01] ariel-maidana opened #61650 "Theme paletter reverted after making changes to menus in the Customizer in FSE"
### Quick summary

If you change the palette from global styles in an FSE site with the Payton theme, and then you modify a menu from Appearance ---> Customize ---> Menus, the colors in the theme palette are reverted after you save the changes to the menu.

This doesn't happen if you edit the menu with the Site Editor.

### Steps to reproduce

1. Go to Site ---> Editor.
2. Click on Styles ---> Col

[2022-03-03 21:16] jeyip commented on #57160
Since we can't replicate this reliably, how do we feel about closing this issue for now and reopening it reoccurs more often for folks?

@creativecoder @zaguiini @synora

[2022-03-03 21:25] dcoleonline commented on #60972
+1 to this, as manually adding the Read More link can be difficult to discover

34480947-hc

[2022-03-03 21:28] lsl commented on #61491
I was thinking this looks like we need three new components based on the woo landing page.

Footer section - background (prop), header, content section (child components)
Link component - label, header, link
Feature component - header, description

The top image would look like
[code]

I'm not 100% sure these are the best boundaries so feel free to change how you see fit.

[2022-03-03 21:38] KirkwallDay commented on #60119
Another instance here: 4827375-zen

[2022-03-03 21:40] allilevine commented on #61489
Latest update is that Crowdsignal plans to remove this redirect. @Automattic/isotope may also try a fix in bridge.

[2022-03-03 21:41] SaxonF commented on #61491
@allilevine yep that section using the shared articles

[2022-03-03 22:08] kwight commented on #61551
@ianstewart was right: this screen only appears if the email hasn't yet been verified (I thought it would still appear regardless). The user is dropped at `/wp-admin/admin.php?page=wc-admin&from-calypso` if the email is verified.

The Woo flow is accessible basically at any time through the "WooCommerce" sidebar menu item, so sites may or may not have verified their email. If they've arrived at th

[2022-03-03 22:37] DustyReagan commented on #61506
To tackle this I'm thinking each feature will get it's own PR converting the plan check to a feature check to making testing easier. Then once that's done we rename `unsupported-feature-mods.php` to `feature-hooks.php` and move it to the `/feature-manager` folder.

[2022-03-03 22:45] JoshuaGoode commented on #61641
Internal example of a site with 1.5 million spam feedbacks, conflicting with Sync and very difficult to clean up: p9F6qB-8K2-p2

[2022-03-03 22:48] jordesign commented on #61623
OK cool - that being the case, I've just opened a Feature REquest on the Gutenberg repo for this :) Thanks for reporting!

https://github.com/WordPress/gutenberg/issues/39206

[2022-03-03 22:48] #61623 closed, assigned to nobody

[2022-03-03 22:54] csabarakasz commented on #39956
467449-zd-woothemes

Bringing this over from duplicated bug report.

[2022-03-03 22:55] mreishus commented on #51594
When using calypso to upload a file to an atomic site, I couldn't find anywhere in the code path that checked for file sizes. Simple has this check, but WoA does not.
I was able to block uploads that would bring me over the quota by adding a filter in jetpack, and implementing that filter in wpcomsh. Example: https://github.com/Automattic/jetpack/pull/23229 + 832-gh-Automattic/wpcomsh

[2022-03-03 22:57] kwight opened #61651 "Seller Experience: Consider adding the MVP pattern to non-commerce themes."
If a user selects a non-commerce theme, they will not get any sort of Payments block or pattern in their Home page. Let's consider handling a non-commerce theme selection as we did the MVP: create a new Home page, assign it, and add a Payments block pattern to it (and hope for the best design-wise).

See: paYKcK-1ph-p2#comment-1251

[2022-03-03 23:03] #61632 closed, assigned to nobody

[2022-03-03 23:34] jeyip commented on #60932
@Addison-Stavlo @creativecoder @zaguiini Are any of you still able to reproduce this? Here's what I'm seeing on a full site editing enabled dotcom simple site.

![2022-03-03 15 32 39](https://user-images.githubusercontent.com/5414230/156670879-aa0154a8-363f-49b9-8484-e06983539c47.gif)

[2022-03-04 01:36] cuemarie commented on #61055
Took a look at the user's site and found that the issue is no longer occurring. Thinking this could have been resolved in a recent update, so I'll go ahead and close this, but feel free to reopen if you think this is still an issue.

<img width="978" alt="Markup 2022-03-04 at 09 30 54" src="https://user-images.githubusercontent.com/27249804/156682202-7afd0fc1-6c48-4cd1-a39f-4a1baf7bbc92.png">

[2022-03-04 01:36] #61055 closed, assigned to nobody

[2022-03-04 01:49] lsl commented on #61531
It might be worth looking at how domains are doing this, they don't need to create catalog id constants or any kind of mapping step.

[2022-03-04 02:18] Greatdane opened #61652 "Theme: Twenty Sixteen - Gallery Block misaligns images"
### Quick summary

On the active theme Twenty Sixteen, the gallery block is misaligned

See:

<img width="1477" alt="Markup 2022-03-04 at 11 13 30" src="https://user-images.githubusercontent.com/5075840/156686442-db383578-1f67-493f-9c82-7db29c807091.png">

### Steps to reproduce

1. Activate the theme: Twenty Sixteen
2. Add a Gallery block. It is easier to see if you have an odd number of images
3

[2022-03-04 02:49] lsl commented on #61547
- [ ] Create a catalog product
- [ ] Create yearly plan
- [ ] Create monthly plan
- [ ] Sync the new catalog product and plans from store sandbox to production
- [ ] Add catalog product id constants - D76056-code
- [ ] Add store product to catalog product mapping - D76057-code
- [ ] Generate the legacy store_product records
- [ ] Add a store product name for translation
- [ ] Notify accounting on

[2022-03-04 04:38] p-jackson commented on #61556
Approved D75898-code

Added a task to remember to tick it off the list over at p4qSXL-4jI-p2

[2022-03-04 04:47] gabriel-fuentes commented on #60623
Another case here: 4829211 - zd

[2022-03-04 06:44] Greatdane commented on #60871
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-03-04 06:48] cat-og opened #61654 "FSE Image Alignment not Appearing Outside Blocks"
### Quick summary

When I add an image on an FSE theme (in Editor or in pages/posts) the image toolbar does not show the control to edit the alignment. This only changes when the image is added to a group.

### Steps to reproduce

1. Start with FSE theme (I tested Bryne and TwentyTwentyTwo)
2. Add image to page.
3. To add the missing alignment command, add the block to a group.

I've created a vid

[2022-03-04 07:07] cat-og opened #61655 "Media Library: Add Tags and Categories."
### What

Add the same kind of category and tag fields for media images that exist for pages and posts, with the same ability to filter with a Query Loop.

### Why

It would be helpful to be able to add tags and categories to images the same way that they can be added to posts and pages. Not only will this make navigating the media library easier, it would set up the future ability to have galleri

[2022-03-04 08:14] jartes commented on #61464
Another one on 34487064-hc

They had the `translatepress-multilingual` plugin

[2022-03-04 10:04] MaxPhilip commented on #61297
Another report in 4823076-ZD

[2022-03-04 10:04] Robertght commented on #61555
It looks like we could need more details about this. The screenshot didn't seem to have been saved properly. Could you please re-upload it @wprhunt ?

I can confirm this is an issue only on Atomic sites and affects all Quadrat themes.

[2022-03-04 11:24] #59247 closed, assigned to vishnugopal, zaerl

[2022-03-04 11:28] mmtr commented on #61506
@DustyReagan FYI, just to make sure we don't overlap, I've started to work on the next feature(s) which are the restricted files.

[2022-03-04 11:31] #61218 closed, assigned to WBerredo

[2022-03-04 12:25] mrfoxtalbot opened #61657 "Searching for plugins will return an error"
### Quick summary

Trying to search for a plugin will return an error. As a result of this, the flow to install plugins on AT sites is currently broken.

https://user-images.githubusercontent.com/4452464/156763208-c72a6f84-5580-4f62-9cd9-ea3fcf5ee3e5.mp4

### Steps to reproduce

1. Head to https://wordpress.com/plugins/
2. Search for a plugin.
3. The first time, the page will reload, but nothing w

[2022-03-04 12:28] jorpdesigns commented on #51540
Reported here: 34448076-hc

Shared workaround here: 4831326-zd

[2022-03-04 12:52] kriskorn commented on #61657
Fixed by this PR: https://github.com/Automattic/wp-calypso/pull/61658

[2022-03-04 12:52] #61657 closed, assigned to nobody

[2022-03-04 12:54] upwardmomentum84 commented on #52100
Another user wanting to add a cookie banner using FSE - 4828543-zd-woothemes

[2022-03-04 13:43] Robertght commented on #61652
I cannot replicate this at all on my end. Could you share a link where this happens @Greatdane ?

[2022-03-04 13:59] Robertght commented on #61650
Hey @ariel-maidana ! Thank you for reporting this!

I tested this on an AT site, but I was not able to replicate the issue. Was a plugin conflict test run in advance?

Finally, could we test this on your website as well?

[2022-03-04 14:21] Robertght commented on #61057
Hey @cat-og ! This is the current expected behavior on widgets and FSE/FSE-compatible themes. The widgets do not have a dedicated area to show up as that functionality is not registered. Also,  the sidebar component from a FSE theme does not share the same system as a classic theme would so in this case there's not a lot that can be done.

Pinging @annezazu for a double check on this one in case t

[2022-03-04 14:24] masperber commented on #44844
Site owner would like the ability to add subscribers who have already paid using another payment method prior to the site owner learning about the Premium Content Block: 34475365-hc

[2022-03-04 14:36] Robertght commented on #61062
I have reviewed this and I wasn't able to replicate it, but we need to know more. Similar to [this case](https://github.com/Automattic/wp-calypso/issues/24385) we need to know how the users are liking the posts.

**Are the users liking through the website first and later through the Reader?**

I'm asking mainly because the times of the notifications are not the same and there are no other widgets

[2022-03-04 14:48] Robertght commented on #61237
I can replicate this and I've pinged here: p1646405319013729-slack-C02DQP0FP

[2022-03-04 14:49] mrfoxtalbot opened #61659 "[FSE Navigation Block] "Select menu" feature does not work on AT sites"
### Quick summary

The FSE Navigation block will allow you to select an existing menu to populate the block with. This feature works fine on simple sites but appears to be broken on AT Sites. It will show the dropdown but upon selecting an existing menu, it will show blank.

Simple site (mrfoxtestingsite.wordpress.com)

![menus](https://user-images.githubusercontent.com/4452464/156783853-0dddcdcd-

[2022-03-04 14:56] Robertght commented on #61659
Hey @mrfoxtalbot ! Thank you for this report!

I just had a quick look at this and it worked ok for me using TT2.
Is this happening on a specific browser? Also, are there any browser console errors?

[2022-03-04 15:23] masperber opened #61660 "WooCommerce Cart Icon Disappears from the Menu in all FSE Themes"
### Quick summary

The WooCommerce shopping cart icon does not appear in the menu if an FSE theme is active.

With Hever active:
<img width="530" alt="Screen Shot 2022-03-04 at 10 19 49 AM" src="https://user-images.githubusercontent.com/12906034/156790221-53698abe-b5f4-4e87-9410-5098535d9d2e.png">

With Attar active:
<img width="394" alt="Screen Shot 2022-03-04 at 10 20 11 AM" src="https://user-im

[2022-03-04 15:29] masperber commented on #61660
Opened followup ticket with customer so that we can let them know when this is resolved: 4831752-zd

[2022-03-04 15:46] creativecoder opened #61661 "[Bug]: Design picker preview looks different than the demo site"
### Quick summary

Some themes may have a preview that looks different than the demo site, because of how the preview is loaded from public-api.

### Steps to reproduce

Compare the preview vs the demo site for the Dorna theme

| **Demo site** | **API preview** |
| - | - |
| PdKsXk-2-p2 | https://public-api.wordpress.com/rest/v1.1/template/demo/pub/dorna/dorna |
| <img width="500" src="https://use

[2022-03-04 15:54] msilbers commented on #55273
requested in 34175624-hc
they find it entirely too large and were hoping to make it smaller or even remove it

[2022-03-04 16:04] annezazu commented on #61057
What's described here is correct for the current experience. AFAIK, there is work around using template parts as a migration pathway but I need to confirm that's being explored for widgets as well/what's expected in the long run.  It does seem disadvantageous to fully lose everything in widgets 🤔 . For now, there has been an idea floated of having inactive template parts similar to inactive widget

[2022-03-04 17:22] allilevine commented on #61492
I'm thinking all types, but it would be good to confirm.

This is what I have:
- If Yoast is not installed, show Yoast
- If Yoast is installed but not Sensei Pro, show Sensei Pro
- If Sensei is installed, show Sensei Pro (priority over Yoast)

I believe all users, but that would also be good to confirm.

@cpapazoglou @emmnyc85 Can you help us confirm these?

[2022-03-04 17:33] cpapazoglou commented on #61492
wpcom & atomic. We do not support Jetpack yet.

@allilevine suggestions seem good. Just noting that when @allilevine mentions Yoast, I think she means Yoast premium with slug `wordpress-seo-premium`

Since **Plugins** page is only shown to users who have the correct roles, I would say we can avoid specifying roles. BUT, if we eventually reuse that message to other routes like **My Home** we would

[2022-03-04 18:07] #61659 closed, assigned to nobody

[2022-03-04 18:24] cuemarie opened #61667 "Recurring Error Message on Free Site: "Sorry, this user account does not own the product you are trying to renew.""
### Quick summary

User came to chat reporting a confusing error. They have 4 sites, and when you load their free site, `gazabpics.wordpress.com`, the error message appears on their dashboard's My Home page, as shown here:

<img width="1159" alt="Markup 2022-03-04 at 11 13 32" src="https://user-images.githubusercontent.com/27249804/156819733-34cf70c8-4bca-47b7-8e2d-55ccc8114989.png">

Selecting "X

[2022-03-04 18:42] allilevine commented on #61492
Yes! Thank you for clarifying. 🙌

[2022-03-04 20:02] worldomonation commented on #60868
@dpasque As I progress through this, I noticed you mentioned that it could be a good idea to refactor the editor component into a separate component class.

What do you think about the block inserter itself? I'm debating whether I'd like to extract the block inserter panel into its own class, or keep it as part of the EditorComponent (tentative) class.

Brain dump of my thoughts: below.

### Extra

[2022-03-04 20:08] sirbrillig commented on #61644
To reproduce:

- Invite user A as an Editor to a site own by user B and have user A accept the role.
- Visit SA on the backend for user A and add a plan subscription to the site owned by user B.
- Have user A visit `/me/purchases` in calypso, select the newly added subscription, and click "Renew now".

Checkout will hang forever with no errors. In the console you'll see `Uncaught (in promise) Cart

[2022-03-04 21:04] marcuswisecaesar commented on #61605
In this ticket - 4828767-zd-woothemes - the user had set the background color of the right hand sidebar to #333333.  But when viewing the published site, the background color defaults to the tertiary color.

Workaround - Adding a custom class to the block, then adding CSS to adjust the background color with !important will work.

[2022-03-04 21:57] ccwalburn commented on #57812
Another case here: 34493754-hc
Browser: Safari
The workaround allowed them to see the preview, but they also discovered that unchecking the **Hide IP address from trackers** checkbox in the Privacy settings allowed them to view the preview from the editor as well. (note that we had already unchecked cross-tracking but unchecking that alone did not solve it)

[2022-03-04 22:27] vipulpradhan commented on #57411
User report: 4831460-zen
Suggested workaround to host the file on Google Drive.

[2022-03-04 22:28] cometgrrl commented on #60574
Yes!  Are we still using that label? Or did we consolidate that into feature requests?  I haven't seen one in a while.

[2022-03-04 22:30] Greatdane commented on #60574
Yes, I believe we are still using it!

[2022-03-04 22:34] Greatdane commented on #61652
@Robertght  It happened on this ticket: 4830309-zd-woothemes

I was also able to replicate it on my own test site ; pdhtVd-28-p2

[2022-03-04 23:15] ariel-maidana commented on #61650
Hey @Robertght !

I took a screencast from my test site:

https://user-images.githubusercontent.com/4965723/156854539-041ccd60-6d98-498e-9311-1c4562b58fcc.mp4

Didn't run a test, but the only active plugins on my test sites are: akismet, amp, crowdsignal-forms, polldaddy,  gutenberg, jetpack, layout-grid, page-optimize, full-site-editing and wpcomsh-loader.

Yes, of course!

[2022-03-05 00:31] sirbrillig commented on #61644
This will partially be fixed by https://github.com/Automattic/wp-calypso/pull/61673, https://github.com/Automattic/wp-calypso/pull/61671, and https://github.com/Automattic/wp-calypso/pull/61672. However, we should revisit the issue once those are merged to see if it's still a problem; we may need to add additional guards to the server.

[2022-03-05 07:16] Greatdane commented on #61293
I agree, as there is always so much confusion with pro-rated credits!

[2022-03-05 09:15] Abdul-Elsayed commented on #39956
Another report in #4828937-zen

[2022-03-05 10:18] edwinho89 commented on #61486
4831000-zd-woothemes

[2022-03-05 14:05] Robertght commented on #61486
34308629-hc

[2022-03-05 16:50] supernovia commented on #53017
If we could at least get a count of how often this is happening, that'd be snazzy.

[2022-03-05 17:16] thekingsprojects commented on #61550
Another case here: 34502904-hc

[2022-03-05 17:28] supernovia commented on #53017
edited to replace pictures since the last one wasn't clear

[2022-03-05 17:32] JessBoctor opened #61675 "Atomic: Permalinks Option Missing from `Settings` in Unified Nav"
### Quick summary

There is no way to access the Permalink options page `/wp-admin/options-permalink.php` via Unified Nav on WordPress.com

Accessing the URL to the permalinks option page directly still works.

### Steps to reproduce

1. Open an Atomic Site
2. Go hover or click on the `Settings` option
3. `Permalinks` is not included in the list of pages to navigate to

### What you expected to ha

[2022-03-05 19:15] tvolpert commented on #61675
I'm not sure if these are related or not, but I have two cases of other menu items going missing from the sidebar. I tried all the same troubleshooting steps as described above, except for SSO on the simple site.

- This user is missing `Menus` from under `Appearance` #4832859-zen
  - this one is a simple site,  for what that's worth
- one of [my own test sites](https://timothyvolpert.wpcomstaging

[2022-03-06 03:44] retnonindya commented on #56559
Another report here: 34513246-hc

The user informed that no matter _how_ they added the Carousel Block, it keeps giving errors. As for me, it happens when I added Carousel Block by clicking the plus button on the top left and search for Carousel Block there (I am able to add Carousel Block when using `/` method or by clicking the plus button on the content area in the editor.)

Deactivating ALL pl

[2022-03-06 03:46] 1dr0 commented on #56559
Also encountered here 34501370-hc.

Switching Image to Carousel block knocked the user out of the Editor.

[2022-03-06 05:48] danielk-am opened #61676 "FSE themes not displaying Search results by default (Inherit query from template not working)"
### Quick summary

FSE themes are not displaying search results by default (inherit query from template setting is active by default).

https://user-images.githubusercontent.com/92185881/156910828-68e124ca-8fb5-43df-9d13-8f8c85d32b81.mov

In the 2:06min screen recording above:

* Selects FSE-ready themes.
* Front-end search results show the number of pages that have the search term but are not dis

[2022-03-06 05:56] rw-ye commented on #61675
Another report here: 4835242-zd-woothemes

My AT test sites also do not have `Permalinks` displayed in the `Settings`.

[2022-03-06 06:10] formosattic commented on #59562
Thanks @jeyip , I tested as well on doctom (simple sites), and it indeed looks solved.  Closing.

![image1](https://user-images.githubusercontent.com/15944096/156911442-a525a4a5-eb2c-4dce-99db-302a3e808c9b.png)

[2022-03-06 06:10] #59562 closed, assigned to nobody

[2022-03-06 11:25] kspilarski opened #61677 "Twenty Twenty Two: Cannot change alignment of Image block inside Group"
### Quick summary

In Site editor (Appearance > Editor), if an image block is within a group, the image alignment cannot be set. And if an image block is not within the group, it has no option to change the alignment.

On a regular page editor, if an image block is within a group, the alignment cannot be changed. But if the image block is not within a Group, the alignment works.

### Steps to repr

[2022-03-06 15:09] syds87 commented on #61517
The same seems to happen for #4814232-zd

[2022-03-06 16:09] devNigel commented on #58394
Looks like the issue has been resolved. No longer able to reproduce it.

[2022-03-06 17:37] sharonlaker19 commented on #58923
I got two more today at 34513530-hc and 34516200-hc, both saying `Installation in progress. Just a minute! Please wait until the installation is finished, then try again.`
The suggested workaround to access the plugins page directly at `/wp-admin/plugin-install.php` worked.
Please let me know if I need to open a new bug report. Thanks!

[2022-03-06 19:42] ahmadbaig1 opened #61681 "Video Block: Option to start video in Full-screen overlay"
### What

I would like to request the Video block to have a feature that opens up the video in full-screen mode when the user hits play.

This could come as a setting on the video block, activating which would allow the video to open up as a full-screen popup.

Currently, the video block does have an option for the visitor to make the video full screen by clicking, however, this feature would open

[2022-03-06 19:43] cuemarie commented on #61667
Ran into this issue again on another user's site - this one is an Atomic site without a plan. The error message's behavior is the same. Links/info about the site in question can be found here: p1646595619944189-slack-C03TY6J1A

[2022-03-06 20:06] KirkwallDay opened #61682 "Arbutus Theme Footer Credit Block not Appearing."
### Quick summary

On Atomic sites with Arbutus and FSE, the footer credit block doesn't appear to remove it. It will either be removed if the footer credit was off, or will be there.

Even if it is removed from customizer, the space where the credit would be still shows up on the site.

### Steps to reproduce

1. Start an Atomic site with FSE and the Arbutus theme.
2. In the site editor, check th

[2022-03-07 01:24] kuropixel opened #61683 "Mayland theme not offering theme demo content on simple sites"
### Quick summary

Mayland theme is not giving users the options for switching theme but preserving homepage content OR replacing homepage content with theme homepage.

https://user-images.githubusercontent.com/83020905/156952410-dda812f3-8088-4a50-9244-0e9af4791bc3.mov

### Steps to reproduce

1. Use a simple site.
2. Activate Mayland theme.
3. No options are presented and theme is activated

###

[2022-03-07 01:24] kuropixel opened #61937 "Mayland and multiple Varia child theme not offering theme demo content on simple sites"
### Quick summary

Mayland theme is not giving users the options for switching theme but preserving homepage content OR replacing homepage content with theme homepage.

[https://user-images.githubusercontent.com/83020905/156952410-dda812f3-8088-4a50-9244-0e9af4791bc3.mov](https://user-images.githubusercontent.com/83020905/156952410-dda812f3-8088-4a50-9244-0e9af4791bc3.mov)

### Steps to reproduce

[2022-03-07 02:07] syedshaon commented on #61297
Another Repost zd#4836780 Baskerville 2  theme.

[2022-03-07 02:56] #61593 closed, assigned to taipeicoder

[2022-03-07 02:57] #61556 closed, assigned to taipeicoder

[2022-03-07 03:58] formosattic commented on #61675
This seems to affect recent sites?

I notice the Permalinks link is missing from my recent atomic test sites, but not on the older ones.

The Permalink doesn't come up even after switching to Classic View.

[2022-03-07 06:31] p-jackson opened #61684 "Script for adding a12s to vertical content sites"
D76145-code

[2022-03-07 06:37] taipeicoder commented on #61635
D76146-code

[2022-03-07 08:52] #61635 closed, assigned to taipeicoder

[2022-03-07 09:19] formosattic commented on #61297
+1 4837217-zd-woothemes

[2022-03-07 10:23] sharonlaker19 commented on #61297
4836097-zd would like an update when the bug is fixed, we've already shared the workaround with them. Thanks!

[2022-03-07 10:25] saraita-git opened #61686 "Menu navigation links for drafted pages show up in the Beta Editor and create confusion for some users."
### Quick summary

Menu navigation links for drafted pages show up in the Beta editor. This can be a bit confusing for the user, that in most cases, they expect to see what they see in the Beta editor on their website.

### Steps to reproduce

1. Publish a page.
2. Create a primary menu in Customizer, selecting the created page.
3. Go to Appearance - Editor Beta.
4. Add a navigation block and sele

[2022-03-07 10:26] taftina commented on #61297
4836766-zen. The rounded image is a square in the live website

[2022-03-07 10:45] dolgelukkig commented on #61675
Another report here: 34532688-hc

The user is not seeing the item in their menu, and when I shared the direct link they didn't have access to the page.

[2022-03-07 10:52] mriyazuddin commented on #59388
4837153-zd

[2022-03-07 11:45] kylemcph commented on #61675
Another report here: 4838048-zen

Sent the direct link workaround.

[2022-03-07 12:30] alshakero opened #61688 "Task: Move builder flow to the new stepper framework"
### Details

When you visit https://wordpress.com/start/setup-site/intent?siteSlug=YOUR_SITE&loading_ellipsis=1. You have a couple of choices, one of which is "Build", let's move the flow that appears when you click "Build" to the new framework.

[2022-03-07 12:34] philnick206 opened #61689 "Navigation block: Add option to customize text and set Typography settings for Overlay Menu text and icon"
### What

Currently there is no option to edit the text or format the text of "Menu" that is used for the Overlay Menu on the Navigation Block as shown here:

![CleanShot 2022-03-07 at 12 27 53](https://user-images.githubusercontent.com/51966986/157034643-5f735dd7-d596-4742-91ad-ed02c5185668.png)

### Why

The text formatting for the overlay menu often needs to be adjusted to stand out and be more

[2022-03-07 14:12] cpapazoglou opened #61692 "Marketplace: 1-Click Purchase"
Let's explore how we can implement 1-Click purchases. This one-click checkout modal shows if the user has a saved credit card. It provides a simpler and smoother experience of completing the purchase in place instead of a page redirect to the checkout page.

Here is the related code for the modal
https://github.com/Automattic/wp-calypso/tree/trunk/client/my-sites/checkout/upsell-nudge/purchase-mod

[2022-03-07 14:17] cpapazoglou commented on #57743
Resolved as part of 348-gh-Automattic/i18n-issues

[2022-03-07 14:17] #57743 closed, assigned to dlind1

[2022-03-07 14:18] cpapazoglou commented on #60033
Backend deployed, closing this.

[2022-03-07 14:18] #60033 closed, assigned to JulianBustamante

[2022-03-07 14:23] sixhours commented on #61543
Closed in #61585

[2022-03-07 14:23] #61543 closed, assigned to sixhours

[2022-03-07 14:23] sixhours commented on #61470
This was done in #61545

[2022-03-07 14:23] #61470 closed, assigned to sixhours

[2022-03-07 15:13] mashikag opened #61693 "[All] Use primary / link color from theme palette for the accent."
### Details

Make subscription emails' button and links in the same color motive as user's site.

[2022-03-07 15:18] mashikag opened #61694 "Email Templates: Add Site icon to the new template header (all emails)"
### Details

The goal is to add Site icon to all the following emails:
- Confirmation Request (sent to the subscriber - asking them to confirm the subscription)
- Subscriber Welcome (sent to the subscriber that just subscribed)
- New Post
- New Comment
- Liked Comment
- Liked Post
- New WP.com Follower (sent to the site owner)

If the Site icon isn't set, the default WordPress.com / Jetpack icon s

[2022-03-07 15:19] mashikag opened #61695 "[E-mails] [Subscriber welcome] Apply the most up-to-date design to the welcome email"
### Details

`Welcome` email is the one that new user receives after their account was created but only after they confirmed their email address.

The currently implemented new design looks as following.
![Screenshot 2022-03-10 at 14 31 32](https://user-images.githubusercontent.com/2019970/157860490-74959edc-7151-4293-9620-17d9f4e8ba22.png)

### Checklist

- [x] Update the contents of the email to

[2022-03-07 15:20] mashikag opened #61696 "[New Subscriber] Include link within the copy to the subscriber's site if they are a WP.com user."
### Details

Details to be added.

This is how the new email template looks like before any changes as part of this ticket are made:
![Screenshot 2022-03-21 at 19 30 51](https://user-images.githubusercontent.com/2019970/159340525-c7bd2593-f883-4676-83b5-343874975b9e.png)
Important to mention that the current implementation uses one email template for both WP and non-WP users. As per the designs th

[2022-03-07 15:21] mashikag opened #61697 "Email Templates: Add "reply-by-email" nudge (New Post & New Comment emails)"
### Details

Current "New Post" and "New Comment" notification emails include the following nudge:

![Markup on 2022-03-09 at 11:53:52](https://user-images.githubusercontent.com/25105483/157427769-9b6886f8-113d-4093-89eb-b272b20e8635.png)

It would be great to have similar information in the new email template, e.g.:

![Markup on 2022-03-09 at 11:47:39](https://user-images.githubusercontent.com/25

[2022-03-07 15:21] mashikag opened #61698 "[New post] If comments are closed, primary action should be Share."
### Details

Details to be added.

### Checklist

_No response_

### Related

_No response_

[2022-03-07 15:22] mashikag opened #61699 "[New Post] Account for cases where the author doesn’t have an avatar set."
### Details

Details to be added.

### Checklist

_No response_

### Related

_No response_

[2022-03-07 15:30] manRebollo commented on #57812
Hello! I have a new report in 4838971-zd-woothemes
The suggested workaround is not helping this customer.

[2022-03-07 15:55] edequalsawesome commented on #61486
FSE themes will require different CSS than the code posted above -- generally this should work, though!

[code]

[2022-03-07 16:21] renata-franco commented on #61676
This is a confusing one, but I think this ticket has the same issue 4832634-zd-woothemes

[2022-03-07 16:35] dsas opened #61709 "[Bug]: Different patterns in pattern library depending upon url"
### Quick summary

I've got a bunch of sites that use wp-admin for the posts page, rather than Calypso. When I follow the menu links to create a new post it goes to https://EXAMPLE.wordpress.com/wp-admin/post-new.php?post_type=post&calypsoify=1 and I get a small number of patterns.

If I change the view option to use calypso then a new post will go to https://wordpress.com/post/EXAMPLE.wordpress.c

[2022-03-07 16:42] #55709 closed, assigned to Addison-Stavlo

[2022-03-07 16:48] michaeldcain commented on #41606
I've moved this to our inbox to discuss prioritizing it alongside the "not fixed by Woo blocks" issues.

[2022-03-07 16:54] philnick206 opened #61710 "Stow: Styles on Image block have no effect"
### Quick summary

Applying different styles to images using the Image block options shows properly in editor but does not show on the live site.

![CleanShot 2022-03-07 at 16 51 28](https://user-images.githubusercontent.com/51966986/157080336-ab015785-e6eb-47ef-97da-7612c9da30af.png)

![CleanShot 2022-03-07 at 16 53 24](https://user-images.githubusercontent.com/51966986/157080369-e9a1b99c-9c75-46

[2022-03-07 17:45] #61597 closed, assigned to WBerredo

[2022-03-07 18:27] cuemarie commented on #53027
Had this request here: 6940433-hc

Will follow up with them and offer the Cloudflare suggestion

[2022-03-07 18:57] #61469 closed, assigned to andres-blanco

[2022-03-07 19:13] sixhours commented on #61467
Deployed in #61586 and D75890-code

[2022-03-07 19:13] #61467 closed, assigned to sixhours

[2022-03-07 19:18] obenland commented on #61492
@lupus2k Is there PR or Phabricator diff that you could reference here?

[2022-03-07 19:19] obenland commented on #61491
@Rolilink Have you had a chance to get started on this yet? Is there a PR that you could link to?

[2022-03-07 19:25] lupus2k commented on #61492
I will post it in a few hours after some tests.

[2022-03-07 20:04] thekingsprojects commented on #61486
Another case here: 33496708-hc

Barnsbury theme + Atomic. Provided CSS to hide it as a workaround.

[2022-03-07 20:23] blackjackkent commented on #61465
This has turned out to be a more complicated issue than it appears at first glance. There's been quite a bit of discussion as a result at p1646166925722759-slack-C0Q664T29 regarding the proper source of truth for a list of verticals and how to coordinate this among the projects of multiple teams. (We have (re)opened a channel for further discussion on this subject at `#vertical-content`).

This is

[2022-03-07 20:24] kathrynwp opened #61717 "Mailchimp: Add option to collect names"
### What

It would improve the block if users could collect a subscriber's first name and last name, in addition to email address.

### Why

The block is extremely minimal at the moment. Although one can collect all sorts of information through Mailchimp, our block only allows the collection of an email address. A WordPress.com user during a chat that adding a name to their emails could improve de

[2022-03-07 20:46] #61644 closed, assigned to nobody

[2022-03-07 20:53] Rolilink commented on #61491
@obenland working on this right now would have something by the end of the day @obenland :) !

[2022-03-07 21:03] sirbrillig opened #61718 "Shopping Cart: Move add_discount_product_to_cart to validator"

[2022-03-07 21:03] sirbrillig commented on #61718
Wrong repo.

[2022-03-07 21:03] #61718 closed, assigned to nobody

[2022-03-07 22:29] allilevine opened #61720 "Plugins: plugin page shows update error"
### Quick summary

<img width="439" alt="Screen Shot 2022-03-07 at 4 44 26 PM" src="https://user-images.githubusercontent.com/1689238/157128182-0296a74c-92e3-4e60-a4f9-9565b04ee6a6.png">

I see this error when opening plugin details pages from the plugin browser: "An error occurred while updating { blank } on { site name }".

It might be coming from here:
https://github.com/Automattic/wp-calypso/b

[2022-03-07 22:31] lupus2k commented on #61492
- [ ] Function to all spotlight JITM Rules
- [ ] Create rules for Sensei Pro (Yoast installed or Sensei installed)
- [ ] Create a rule for Yoast (Yoast not installed and Sensei not installed)
- [ ] Test Rules with Atomic sites

[2022-03-07 22:34] jp-imagines opened #61721 "Cutting and pasting list items with custom colors results in yellow highlighting in the editor"
### Quick summary

This seems similar to issue #57036, which was resolved last year.

For unordered and ordered lists, if you apply a custom text or background color using the _Highlight_ tool, then "cut" that list item and paste it elsewhere within the same list, it appears with a yellow highlight instead.

This highlight can't be removed except by editing the code for the post/page, and after ad

[2022-03-07 23:12] annezazu opened #61722 "[Bug]: This page is not available on this site during high traffic time"
### Quick summary

Just launched block-museum.com (a pressable site connected via Jetpack) and noticed that, during a spike of volume, I started getting an error of "This page is not available on this site" when trying to check stats. It would flash and disappear but has repeatedly recurred.

### Steps to reproduce

Not quite sure how to replicate high volume!

### What you expected to happen

Exp

[2022-03-07 23:12] annezazu commented on #61722
Here's a video:
https://user-images.githubusercontent.com/26996883/157133920-74ce8c7d-b90d-4d12-ba86-9e0c0ce87ed4.mov

[2022-03-07 23:20] nelsonec87 commented on #61184
@sixhours Any new ideas on how to try reproducing this? :)

[2022-03-08 00:08] devNigel commented on #61486
Another case: 32734183-hc

Baskerville 2 + Atomic. Shared the following CSS:

[code]

[2022-03-08 00:14] ai2n commented on #60623
Another one 33786695-hc

[2022-03-08 00:47] donalirl commented on #39364
This continues to arise. I don't always report back every time I encounter this, but here are two cases from today that prompted me to report back here:

#34198887-hc
#8288525-hc

[2022-03-08 01:35] arinoch commented on #61675
Another report. 4840289-zd-woothemes

Direct link sent.

[2022-03-08 03:38] happychait opened #61725 "Image block's rounded style settings does not display the rounded image in the front end when image alignment is specified"
### Quick summary

On themes that were not built around block editor rounded image style is not visible in front-end when image alignment is specified in Image block toolbar.

### Steps to reproduce

1. Activate a theme such as Rowling or Morden or Lodestar.
2. Add an Image block and set alignment option in block toolbar.
3. In block settings under Styles select the Rounded option.
4. Preview the

[2022-03-08 03:58] Rolilink commented on #61491
Working on this one here, still missing some mobile styles, translations and folder organization https://github.com/Automattic/wp-calypso/pull/61726

[2022-03-08 05:05] lsl commented on #61547
Bit blocked at the minute, update in D76063-code and p1646715767620249-slack-C029JEQRVRT

[2022-03-08 05:28] lsl commented on #61548
- [ ] Create a catalog product and yearly plan
- [ ] Create monthly plan against the same product
- [ ] Sync the new catalog product and plans from store sandbox to production
- [ ] Add catalog product id constants
- [ ] Add store product to catalog product mapping
- [ ] Generate the legacy store_product records
- [ ] Add a store product name for translation
- [ ] Notify accounting on a8cscorecard

[2022-03-08 05:31] SaxonF commented on #61548
Some discussion here around using a generic Woo icon for Woo related plugins C029JEQRVRT/p1646709488402109

![woo-icon](https://user-images.githubusercontent.com/1072756/157172524-3c04677c-fa36-4e13-9209-4deac51a391b.png)

[2022-03-08 05:31] SaxonF commented on #61537
Some discussion here around using a generic Woo icon for Woo related plugins C029JEQRVRT/p1646709488402109
![woo-icon](https://user-images.githubusercontent.com/1072756/157172615-d1c0e68b-87de-4cd2-a183-836a51d80e97.png)

[2022-03-08 05:32] SaxonF commented on #61249
Some discussion here around using a generic Woo icon for Woo related plugins that don't have an icon C029JEQRVRT/p1646709488402109
![woo-icon](https://user-images.githubusercontent.com/1072756/157172615-d1c0e68b-87de-4cd2-a183-836a51d80e97.png)

Makes sense to use the Fedex icon @gcsecsey mentioned above for Fedex Shipping

[2022-03-08 05:57] formosattic opened #61727 "Block widget: unable to click Update, widget editor doesn't display widgets"
### Quick summary

_No response_

### Steps to reproduce

Unable to reproduce, only experienced on user's site (see details at 4830840-zd-woothemes ).

1. Open `Customize > Widgets`, widgets will show
2. Go to `Appearance > Widgets`, there's no widgets

I tested using the same theme (Scrawl), and copying over the user's block, but was still unable to reproduce the error.

### What you expected to

[2022-03-08 06:03] SaxonF commented on #61342
Existing error 404
![image](https://user-images.githubusercontent.com/1072756/157175009-af7a03fe-645d-4bfe-8cb9-ded974566ac8.png)

Might be a good opportunity to update globally that can be contextual depending on where the 404 exists (e.g. plugins)
![image](https://user-images.githubusercontent.com/1072756/157174953-b0623405-3dba-4d28-8286-474d71d18a40.png)

[2022-03-08 06:09] SaxonF commented on #61143
Could we update plugins to use the existing breadcrumb component used on domains as a first step? We can spin up a separate issue refining page headers / breadcrumbs after chatting with the wider design team.

[2022-03-08 06:12] formosattic commented on #57170
@chad1008 : Would you have a hunch for how old those sites would be?

I ran into another block widgets issue that only happens on the user site, https://github.com/Automattic/wp-calypso/issues/61727 , and the site was about a year old (created on Dec 2020).

[2022-03-08 06:24] Robertght commented on #61725
Another case using  Button 2: 4836726-zen

And one with Colinear: 4835150-zen

[2022-03-08 07:31] kuropixel commented on #61725
Seeing this on Karuna theme. 4839846-zen

[2022-03-08 08:05] Robertght commented on #61725
GB core issue: https://github.com/WordPress/gutenberg/issues/39242

[2022-03-08 08:42] cpapazoglou commented on #61493
@jmdodd can you confirm that you are using `/api/provisioning/downloads/currentZip` (pcSRhZ-Y-p2) for installing the latest version as mentioned here p9o2xV-1A4-p2#comment-4954

If you do so, can you update your user / pass since we have updated `MARKETPLACE_YOAST_PREMIUM_USERNAME_STAGING` and `MARKETPLACE_YOAST_PREMIUM_TOKEN_STAGING`?

@JulianBustamante I don't get any error or success logs in `l

[2022-03-08 08:43] sophiegyo opened #61729 "Login to "view site in Reader" from action bar: redirect URL on login page replaces BLOG ID with FEED or POST ID."
### Quick summary

When not logged in on WordPress.com and browsing a site or post, clicking "view this site/post in the Reader" the login page loads up. When it loads up, the redirect URL in [the action bar](https://wordpress.com/support/admin-bar/#action-bar) is incorrect, and so is the "or visit [person's blog]" link.

Essentially the redirect URL and that link are taking the feed ID or post ID

[2022-03-08 08:43] philnick206 commented on #61725
I logged an issue for this yesterday that looks the same: https://github.com/Automattic/wp-calypso/issues/61710

Reported in #4838272-zen

[2022-03-08 08:57] fashuvo commented on #61725
Another report with Anemone theme: #4831831-zen

[2022-03-08 09:09] Robertght commented on #61725
4835944-zen

[2022-03-08 09:17] #61422 closed, assigned to rcrdortiz

[2022-03-08 09:22] dragstor commented on #61486
Another AT one on Blank Canvas: 32595969-HC

Used this to hide it:
[code]

[2022-03-08 09:26] kylemcph commented on #61725
4832784-zen

Theme: Storefront Child

Workaround of removing image alignment worked.

[2022-03-08 09:48] #61420 closed, assigned to rcrdortiz

[2022-03-08 09:59] Robertght commented on #61319
4828843-zen

[2022-03-08 10:08] #61419 closed, assigned to rcrdortiz

[2022-03-08 10:25] taipeicoder opened #61733 "Site Snapshots: Filter sites by FSE status"
# Description
Add filter by FSE status to Site Snapshots.
# Related
Automattic/ganon-issues#5

[2022-03-08 10:25] taipeicoder commented on #61733
D76227-code

[2022-03-08 10:50] mashikag commented on #61150
[The PR](https://github.com/WordPress/gutenberg/pull/39093) addressing this issue was merged into [Wordpress/gutenberg](https://github.com/WordPress/gutenberg) trunk yesterday.

The last released version of gutenberg right now is [12.7.0](https://github.com/WordPress/gutenberg/releases/tag/v12.7.0). I expect the fix to be included in the next release. The gutenberg releases can be previewed [here]

[2022-03-08 10:53] #61150 closed, assigned to mashikag

[2022-03-08 10:58] fashuvo commented on #61725
Another report at #4837892-zen, Button 2 theme.

[2022-03-08 11:47] ivan-ottinger commented on #61694
Initial patch (work in progress): D76230-code.

[2022-03-08 11:58] Robertght commented on #61660
Thank you for the report, @masperber !

This is not a theme limitation because there is a need for an additional block from WooCommerce in order to the cart displayed:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/4138

@Aljullu are there further updates on the Mini Cart block?

[2022-03-08 12:42] fashuvo commented on #61725
Another report at #4841574-zen, Sobe theme.

[2022-03-08 13:17] andres-blanco commented on #60733
Some discussion on testing this: p1646405552155879-slack-C0Q664T29

[2022-03-08 13:28] Robertght commented on #61676
@1dr0 Thank you for reporting this! I tried to replicate it, but I had no luck yet.

As we discussed [here](p1646679046859219-slack-C01DF571R5Y) it appears to be a plugin conflict with the Relevanssi plugin for @renata-franco 's case above.

[2022-03-08 13:54] Aljullu commented on #61660
We are currently targeting WC Blocks 7.3.0 and WC core 6.5.0 for public release. That's March 21st in WC Blocks and May 10th in WC core.

[2022-03-08 14:10] Robertght commented on #61682
Hey @KirkwallDay ! Thank you for reporting this. I tested this on the users's site and it appears they've chosen a different path.

Do you remember which was the footer template part/structure used in that test?

[2022-03-08 14:30] #61472 closed, assigned to markbiek

[2022-03-08 14:50] dpasque commented on #60868
I'm in favor of pulling it out into it's own class! Like you said, the details of interacting with it involve a decent amount of direct DOM interaction that might be nice to abstract into its own component class. I think that the block inserter is pretty comparable to the settings sidebar, which we also are making its own component class.

That said, I don't think it's absolutely critical if you d

[2022-03-08 15:06] JoshuaGoode opened #61738 "Atomic: Customize > CSS displaying plan upgrade notice regardless of plan"
### Quick summary

Starting on March 8th, 2022, My Site > Customize > CSS may display a notice requesting a user upgrade to the Business plan.  Even if the site has the necessary plan.

<img width="365" alt="Screen Shot 2022-03-08 at 10 01 15" src="https://user-images.githubusercontent.com/4887830/157264708-845738d2-d380-49f0-bb7c-35647180c8e3.png">

Internal discussion: p1646750128809469-slack-C0

[2022-03-08 15:08] carladoria commented on #61738
reported on 33969757-hc, follow up ticket 4842235-zd-woothemes

[2022-03-08 15:09] masperber commented on #61738
Also reported on 21400021-hc, follow up 48422570-zen

[2022-03-08 15:32] jorpdesigns commented on #61738
Reported in 34555901-hc, follow up: 4842336-zen

[2022-03-08 15:39] kimerlin81 commented on #61738
Another one: 4842300-zd-woothemes

[2022-03-08 15:40] kimerlin81 commented on #61738
Triaging this issue as I can reproduce and it seems to be affected a good amount of users

[2022-03-08 15:41] mmtr commented on #61738
Likely caused by 835-gh-Automattic/wpcomsh, let's prepare a revert.

[2022-03-08 15:42] JoshuaGoode commented on #61675
Likely related to limited Atomic adjustments

833-gh-Automattic/wpcomsh

Dropped a line internally, p1646753970870009-slack-C02V49GM0PN

[2022-03-08 15:45] JoshuaGoode commented on #61486
Related to recent limited Atomic changes

814-gh-Automattic/wpcomsh

p1646753970870009-slack-C02V49GM0PN

[2022-03-08 15:59] #61675 closed, assigned to mmtr

[2022-03-08 16:03] masperber commented on #61738
Another one: 34536170-hc / 4842446-zen

[2022-03-08 16:03] #61738 closed, assigned to mmtr

[2022-03-08 16:03] mmtr commented on #61738
It should be fixed once the new version of `wpcomsh` is deployed to Atomic sites.

[2022-03-08 16:04] mmtr commented on #61675
It should be fixed once the new version of `wpcomsh` is deployed to Atomic sites.

[2022-03-08 16:15] dolgelukkig commented on #61738
one more: 33531951-hc

[2022-03-08 16:22] vinnykaur opened #61740 "RTL Punctuations at the wrong position"
### Quick summary

The punctuations like ( period, comma) come up at the beginning of the sentence instead of at the end in RTL text like Arabic.

### Steps to reproduce

1. Add a page or post
2. Add some text in Arabic
3. The punctuation appears at the beginning while it should be at the end.

### What you expected to happen

<img width="807" alt="Screen Shot 2022-03-08 at 21 49 06" src="https://

[2022-03-08 16:41] lupus2k commented on #61492
@obenland, here is my first Phabricator diff: D76242-code

[2022-03-08 16:45] edequalsawesome commented on #39956
Another report 4839558-zen

[2022-03-08 16:46] edequalsawesome commented on #61520
Closing in favor of other issue :)

[2022-03-08 16:46] #61520 closed, assigned to nobody

[2022-03-08 17:14] saraita-git commented on #59825
Hello! I had a similar issue during this live chat [here](https://mc.a8c.com/support-stats/happychat/transcript.php?id=34556836). The difference is that the code causing the issue was `<p></p>` instead of `</p>`.  Removing `<p></p>` fixed the issue.

[2022-03-08 17:19] sixhours commented on #61184
@nelsonec87 Nope, I would probably close this as "Not reproducible" unless @ianstewart has other ideas! We can always reopen it if we get more information down the line. :)

[2022-03-08 17:26] #58923 closed, assigned to gcsecsey

[2022-03-08 18:09] Addison-Stavlo commented on #59813
This is a bit stale now as we successfully landed and mitigated 5.9 conflicts a month or so back.

[2022-03-08 18:09] #59813 closed, assigned to nobody

[2022-03-08 18:17] epeicher commented on #61484
### Changes done:

The following SQL have been executed in my sandbox to _disable_ the Yoast with product_id = 900:
[code]
[code]

### Testing instructions:
- Go to any Store Admin, e.g. navigate to https://wordpress.com/wp-admin/network/admin.php?page=store-admin&action=search&username=<your username> replacing `<your username>` with a valid username
- Expand the Product: dropdown and make sure t

[2022-03-08 18:20] renata-franco commented on #61676
The site is https://boozemusings.com/ and they do not have Relevanssi plugin.

[2022-03-08 18:21] michaeldcain commented on #26601
Might be related to Automattic/payments-shilling#577

[2022-03-08 18:44] cpapazoglou commented on #61484
Thanks @epeicher, it works as expected! Closing it!

[2022-03-08 18:44] #61484 closed, assigned to epeicher

[2022-03-08 18:56] cecilearkay opened #61742 "Prevent subscribing to a private site when subscription is already pending"
### What

At the moment, if a WordPress.com user requests access to a private site, they are able to request access multiple times. The issue is every time they request access, an email is sent to the site owner, and this creates an opportunity for spam.

To test this out, you need:

- 2 WordPress.com accounts (_account A_ and _account B_)
- A private site on account A

1) Visit the private site w

[2022-03-08 19:11] jmdodd commented on #61493
Per Slack; the existing script and authentication methods for platform install are working as expected.

[2022-03-08 19:19] WBerredo commented on #61249
Adding in https://public-api.wordpress.com/wpcom/v2/marketplace/products endpoint (featured: false)

Wp.com diff: D76274-code

[2022-03-08 19:23] Addison-Stavlo commented on #59527
Given that fixing this in the editor may take some time and that we can "Export All", would a temporary measure to hide this "Export" button in the Site Editor be useful to help customers avoid confusion?

[2022-03-08 19:28] philnick206 commented on #57812
New report: #34560418-hc
Gave them the workaround and that worked for them

[2022-03-08 19:41] andres-blanco commented on #50560
The fixes for the already broken sites are being applied. I am running them in small batches, for the time being 237 sites have been fixed and 536 remain. Hopefully tomorrow we will be able to close this issue

[2022-03-08 19:58] WBerredo opened #61743 "Update the Woocomerce Extensions author_profile from woothemes to automattic"
Update the author_profile field from `woothemes` to `automattic` profile, in order to match the other WooCommerce extensions.

WP.com diff: D76280-code

[2022-03-08 20:06] tvolpert opened #61744 "Image Block: Height value selected under Image Settings > Image Dimensions does nothing"
### Quick summary

Entering a value for Height under Image Settings > Image Dimensions for an Image block changes the image size within the editor, but is completely ignored on the preview or live site.

### Steps to reproduce

1. Open a Gutenberg editor for any post or page
2. add an Image block and select an image
3. in the block settings sidebar, under `Image Settings` > `Image Dimensions`, ent

[2022-03-08 20:12] worldomonation commented on #60868
I've started the decoupling of editor components from the (current) `GutenbergEditorPage` class, making the decision to keep the Block Inserter features within the editor component class for now.

However the way it's structured means it should be quite straightforward to decouple the Block Inserter from the Editor Component class in the future.

[2022-03-08 21:18] #60413 closed, assigned to blackjackkent

[2022-03-08 21:34] glendaviesnz commented on #61725
There is a potential fix for this here https://github.com/WordPress/gutenberg/pull/39295, and for those sites that can added custom css it can be fixed by adding the following in the meantime:

[code]

[2022-03-08 21:54] ezebecke commented on #61725
#4761934-zd, intergalactic-2 theme

[2022-03-08 23:00] obenland commented on #61509
@DustyReagan Did #61468 fix this issue?

[2022-03-08 23:02] DustyReagan commented on #61509
No it did not.

[2022-03-08 23:38] obenland commented on #61486
Fixed after completing the script in D76265-code.

[2022-03-08 23:38] #61486 closed, assigned to nobody

[2022-03-08 23:57] lsl commented on #60429
Confirming this is still an issue. Retested after I noticed D75867-code might have fixed this as a side effect. It did not :smiling_face_with_tear:

[2022-03-08 23:59] JoshuaGoode commented on #61486
#### Recap

Tested and confirmed this is now resolved via script completion, D76265-code.

Impacted users can now manage their footer, CSS, and permalinks as expected.  Ready for emails to waiting users.

**Internal context**
Related to limited Atomic work

p1646753970870009-slack-C02V49GM0PN

**Related issues now resolved**
https://github.com/Automattic/wp-calypso/issues/61486 - 814-gh-Automattic

[2022-03-08 23:59] Greatdane commented on #51890
Not sure this is the same bug (this is the only issue that came up when searching);

My Query Block on template pages shows `The block contains unexpected or invalid content` inconsistently. I am unable to reproduce it, it seems random.

There is a console log error in Chrome when it happens;

[code]

[2022-03-08 23:59] JoshuaGoode commented on #61675
#### Recap

Tested and confirmed this is now resolved via script completion, D76265-code.

Impacted users can now manage their footer, CSS, and permalinks as expected.  Ready for emails to waiting users.

**Internal context**
Related to limited Atomic work

p1646753970870009-slack-C02V49GM0PN

**Related issues now resolved**
https://github.com/Automattic/wp-calypso/issues/61486 - 814-gh-Automattic

[2022-03-09 00:00] JoshuaGoode commented on #61738
#### Recap

Tested and confirmed this is now resolved via script completion, D76265-code.

Impacted users can now manage their footer, CSS, and permalinks as expected.  Ready for emails to waiting users.

**Internal context**
Related to limited Atomic work

p1646753970870009-slack-C02V49GM0PN

**Related issues now resolved**
https://github.com/Automattic/wp-calypso/issues/61486 - 814-gh-Automattic

[2022-03-09 00:25] rosepajaroja commented on #61667
We encountered the same issue on two different chats, and this workaround helps:
HC- 34563659

1 - Add something to cart and go to check-out.
2 - Close check-out and select to empty cart.
3 - Go back to the dashboard and refresh the page. The error message should disappear.

[2022-03-09 00:30] JoshuaGoode commented on #61667
Looks like this might need an internal report, not sure if the folks that work on the area this is coming from check GitHub much.

I went ahead and created it.

pNPgK-5H0-p2

[2022-03-09 01:03] glendaviesnz commented on #61725
@happychait - it looks like this is fixed on simple sites now, and should be on atomic sites once Gutenberg 12.7.1 is deployed there.

[2022-03-09 01:45] katiebethbrown commented on #59527
Adding a +1 as I ran into this working with a Team51 site.

[2022-03-09 01:46] Rolilink commented on #61491
PRs to merge
* #61726
* #61746

[2022-03-09 02:25] lsl opened #61748 "Plugin browse all pagination missing"
There used to be infinite scroll pagination on plugin results for the browse all category links (e.g. wordpress.com/plugins/new)

Now we just show an initial page worth of plugin results and don't have any way to view more of the category.

Probably due to this change #61501

- [x] We need to make infinite scroll work in category pages - #62519
- [x] We need to change from pager to infinite scroll

[2022-03-09 02:27] lsl commented on #61491
@SaxonF should these footers be hidden on the search result pages? (i.e. like the browse all pages that ~have~ [had](https://github.com/Automattic/wp-calypso/issues/61748) infinite scroll?)

[2022-03-09 02:45] masperber opened #61749 "FSE: Add a way to Clear Customizations on the Front Page Template"
### What

Currently, if FSE is enabled, the Front Page template will be used for any static homepage. If this template is blank or has been deleted, the site's live front page will be blank as well.

For other default FSE templates, there is an option to clear all customizations to restore the default template. However, there is no such option for the Front Page template. This means the Front Page

[2022-03-09 03:02] nagpai commented on #60483
34232070-hc

[2022-03-09 03:14] ilyasfoo commented on #61489
I wasn't able to reproduce in 7 new sites so far this with the following steps:
1. Create a new site
2. Select business plan
3. Install WooCommerce via `/woocommerce-installation/` or any random plugins
4. Redirected to wc-admin page

https://d.pr/v/yeuy9I

However, looking at @mrfoxtalbot report that it goes to `/wp-admin/options-general.php?page=crowdsignal-settings`, I think it's possible that

[2022-03-09 03:31] Greatdane commented on #60483
4843219-zd-woothemes - another user's pages broken by AMP

[2022-03-09 05:02] 1dr0 commented on #61605
I'm in ticket 4823719-zd-woothemes and did a few tests on my own test site.

https://user-images.githubusercontent.com/92185881/157375574-9a1cab71-c836-4c9e-81fb-489cf09bdcc8.mov

It looks like the background color issue is occurring on non-FSE themes.

Tested with a random FSE theme (I selected Marl in the video example) and the background colors worked.

I may nudge the user to see if they are o

[2022-03-09 05:05] Greatdane commented on #54037
I guess Jetpack activity log has these notifications for the time being

[2022-03-09 05:12] Greatdane commented on #61291
I was unable to replicate this today. @jessie-ross, can you confirm this is still happening?

[2022-03-09 05:13] lsl commented on #61547
Updated everything to use `woothemes-sensei` and created new product / plans in prod for legacy mapping.

[2022-03-09 05:24] Greatdane commented on #61393
Based on the error code, It looks like this relates to https://wordpress.org/plugins/woocommerce-gateway-paypal-express-checkout/ - which has been discontinued since March 2022.

@Automattic/proton - is this your area? Or can you point us to the right team to confirm support for this plugin has finished? 🙇

[2022-03-09 05:31] Greatdane commented on #61398
I can't get it to work on AT sites also.

[2022-03-09 05:33] Greatdane commented on #61445
FYI: This has been a feature on Elementor for a long time and would be a great addition!

[2022-03-09 05:40] jessie-ross commented on #61291
@Greatdane I was unable to replicate it too... it happened only once for me.

[2022-03-09 05:43] Greatdane commented on #61403
Closing this in favour of https://github.com/Automattic/wp-calypso/issues/56559

[2022-03-09 05:43] #61403 closed, assigned to nobody

[2022-03-09 05:43] Greatdane commented on #56559
Apparently also happens with the Masonry Block; https://github.com/Automattic/wp-calypso/issues/61403

[2022-03-09 05:53] Greatdane commented on #61139
@burgerberg Could it be related to a particular theme? I added an image and was able to change the style and size on an example theme - Apostrophe 2

[2022-03-09 06:52] 1dr0 commented on #61676
Updating this thread:

Good catch @Robertght! I have Relevanassi active on my site during the test. Deactivated it and I was able to display the search results.

[2022-03-09 07:06] 1dr0 commented on #56559
Encountered a new one here. 4843036-zd-woothemes.

https://user-images.githubusercontent.com/92185881/157389920-941f4c01-1794-4080-ad00-37b726eb14b7.mp4

A screen recording from my test site.

Mouse over the Carousel blocks (while switching from Gallery block) and I got knocked out from the Editor.

[2022-03-09 07:16] Greatdane commented on #61291
Thanks, going to close this for now then!

[2022-03-09 07:16] #61291 closed, assigned to nobody

[2022-03-09 08:57] dev-sabbir opened #61750 "Option to add custom template from the FSE > Browse All Templates page"
### What

Currently, we can't create custom templates from the `FSE > Browse All Templates` area. We need to open the page/post editor and from the right sidebar, we can add a new template.

![Annotation on 2022-03-09 at 14-46-18](https://user-images.githubusercontent.com/5733224/157415121-ac079f03-c917-4993-a611-09d6749e31e1.png)

### Why

If we add the feature to add custom templates from the `F

[2022-03-09 09:06] cpapazoglou opened #61753 "Marketplace: spotlight yoast in stats page"
By using JiTMs we can target the **stats page** and if the site has **low traffic** show the Yoast Seo Premium in spotlight

![CleanShot 2022-03-09 at 11 09 40@2x](https://user-images.githubusercontent.com/12430020/157409612-7c88af84-b026-4029-9f60-883f7c9e1580.png)

- [ ] Add a rule in JITMs that can check against current site stats. specific rule TBD
- [ ] Add a JiTM in `https://wordpress.com/st

[2022-03-09 09:08] dolgelukkig commented on #52100
Another one here: 34442779-hc, the theme they are using is Attar

[2022-03-09 09:11] dev-sabbir opened #61754 "Creating new template part shows warning in the template editor"
### Quick summary

After creating a custom template part, I can see the following warning is shown at the top of the page.

`The "wpcom-block-editor-nux" plugin has encountered an error and cannot be rendered.`

![Screenshot on 2022-03-09 at 14-10-15](https://user-images.githubusercontent.com/5733224/157414716-55214162-949d-4ae5-8ae6-06b2a4ddc502.png)

Error on the browser's console:

![Screenshot

[2022-03-09 09:29] dragstor commented on #61464
Another one: 4844822-ZD

They are using the `Polylang` as well.

[2022-03-09 09:30] jartes commented on #61464
@obenland Thanks for checking. It seems that PR didn't fix that issue. I just had a chat today (26835918-hc) where the user had this issue. They had `sitepress-multilingual-cms` plugin active.

[2022-03-09 09:46] #58643 closed, assigned to chriskmnds

[2022-03-09 09:48] Robertght commented on #61754
This appears to be happening regardless of the theme(FSE compatible).

[2022-03-09 09:55] syhussaini opened #61756 "Floating/Sticky Header in FSE"
### What

I would like to have the option to enable or disable the Floating/Sticky header in the FSE Editor. There should also be options to drop shadow below the header area that can make it look stand out from the rest of the page if both the page and the menu background are set to the same color.

### Why

With the Floating/Sticky header, the site visitors will have a fantastic user experience

[2022-03-09 09:56] kylemcph commented on #61667
Another report here: 4841039-zen

I added an item to their cart and removed and the message has disappeared.

[2022-03-09 09:57] #61542 closed, assigned to mreishus, mmtr

[2022-03-09 10:18] sanjeev00733 commented on #61725
Another report in #34558655-hc

[2022-03-09 10:55] ivan-ottinger commented on #61697
Updated the issue description and started investigating.

[2022-03-09 11:00] rickmgithub commented on #57812
#4838971-zd
Suggested workaround

[2022-03-09 11:17] simison commented on #61754
Pinged few teams at slack p1646819362211679-slack-dotcom-fse

[2022-03-09 11:39] dsas commented on #61319
The [aforementioned PR](https://github.com/Automattic/jetpack/pull/23216) fixes this for the widget editor and for FSE but not for widgets inside the customizer (not a regression from the PR).

I think this would require hooking a save event from the customizer. I think it might be [changeset-saved](https://core.trac.wordpress.org/browser/trunk/src/js/_enqueues/wp/customize/controls.js#L640) but I

[2022-03-09 12:21] cpapazoglou opened #61761 "Marketplace: create a mechanism to run sales on WordPress.com"
A mechanism to run sales on WordPress.com. For example we want to offer Yoast SEO Premium at 80% of its initial price for the next 30 days. I couldn’t find such a mechanism apart from coupons(PCYsg-xtz-p2).

Related convo: pdh6GB-7N-p2#comment-879

[2022-03-09 13:32] nelsonec87 commented on #61466
A couple of questions about the expected behavior:

- Should the new step be visible for everyone or just for people coming from simple seller flow?
- When coming from simple seller flow, which step should be active, the first or the payment one?

[2022-03-09 14:07] #61754 closed, assigned to blackjackkent, alshakero

[2022-03-09 14:52] ivan-ottinger commented on #61697
Initial patch (work in progress): D76349-code.

[2022-03-09 14:58] kerrynicl commented on #61594
Hi There @daria2303  Would you mind sharing a few links to the p2 posts / user interaction?

[2022-03-09 15:19] dpasque commented on #61742
I'm switching this to a bug for now -- we really should have some kind of guard here (even if it's a rate limit of some kind). I think that would be expected from site owners.

[2022-03-09 15:55] dpasque commented on #60354
Bumping to high priority for now, a WSOD is not a good look!

[2022-03-09 15:57] kerrynicl commented on #61689
@philnick206  This type of customization can be done from the block settings so I'll be closing this feature request for now but feel free to reopen if there is a specific detail you would like to highlight
<img width="1899" alt="Markup 2022-03-09 at 10 54 37" src="https://user-images.githubusercontent.com/83325600/157478791-59b7a21d-c86b-4a05-9df7-b6d224a91166.png">

[2022-03-09 15:57] #61689 closed, assigned to nobody

[2022-03-09 16:03] cpapazoglou commented on #61493
Ok, I dug this a little more and the `is_automattician()` check is not a problem. The problem is that the `activate` function for the subscription is not triggered at all.

**Proof that `is_automattician()` is not a problem**
- With Yoast subscription added go ahead and add one more marketplace subscription
- The activate function will run for that new subscription
- It will queue `marketplace_pos

[2022-03-09 16:21] #61249 closed, assigned to WBerredo

[2022-03-09 16:32] kwight commented on #60733
Good point; let's do the right thing and get confirmation from them. @hacchism can you check in with the user for us, please?

[2022-03-09 16:52] allilevine opened #61772 "Marketplace: Update partners contact message sent copy"
See https://github.com/Automattic/wp-calypso/issues/61032

![CleanShot 2022-03-14 at 19 00 03@2x](https://user-images.githubusercontent.com/12430020/158223509-02562665-8deb-4c8d-9f54-e1911e74788c.png)

The code lives in WPCOM `class-partners-page.php`
Page: https://wordpress.com/partners/

- [x] Get the copy from @emmnyc85 - `Thank you! We’ll be in touch as we build out our plans further.` - relat

[2022-03-09 16:55] #52495 closed, assigned to jeyip

[2022-03-09 17:00] kimerlin81 commented on #61377
Thanks @carinapilar! This issue has been triaged, and it seems to only be affecting Simple sites.

Notes: I was able to reproduce this behavior on a Simple test site today. The Portfolio posted to Twitter when I left the Twitter option enabled and toggled off "Share when publishing".
The workaround still applies.
Cannot replicate on an Atomic test site.

[2022-03-09 17:05] creativecoder commented on #51442
cc @vishnugopal This issue came up recently as a maintenance issue for Caribou, see: p1646789768419779/1646764442.952139-slack-C01DF571R5Y

Some background:

Here's what we did for the import side of things, to add the theme prefix when needed D62467-code

And here's what we do for Atomic transfers to remove the prefix on transfer D60384-code. I imagine something similar could be done for exports.

[2022-03-09 17:23] sirbrillig commented on #61667
This occurs when a product was added to the shopping cart which was previously a valid renewal but is now invalid, and then the cart is loaded by the mini-cart or by some other operation on a page. It's been made worse recently by D75928-code which improved cart validation on load.

D76385-code should resolve the immediate issue by silently ignoring errors when loading a saved cart.

[2022-03-09 17:26] cpapazoglou commented on #61249
Let's test that buying each variation of these Plugins work as expected (plugin gets installed in the site) and then launch them by removing the `a12n` check and turning `is_featured` to `true`.

[2022-03-09 17:50] kimerlin81 commented on #61550
Thanks @goblinartificer! This issue has been triaged as I was able to reproduce it on my test sites today.

[2022-03-09 17:51] #61743 closed, assigned to WBerredo

[2022-03-09 17:55] kimerlin81 commented on #61515
Thanks @happychait! This issue has been triaged as a bug since I was able to reproduce it on both Atomic and Simple test sites.

[2022-03-09 17:59] mattwiebe commented on #56975
All Legacy FSE stuff has been scoured from our systems, save for frontend rendering of template parts, where they existed. All of the cleanup stuff where we needed to qualify Core FSE as opposed to Legacy Dotcom FSE can now be refactored for greater clarity.

[2022-03-09 18:09] kimerlin81 commented on #61517
Closing this issue as I've been unable to reproduce this on Simple and Atomic test sites today.
Please re-open if you are still able to reproduce this behavior.

[2022-03-09 18:23] mdtanjid0 opened #61773 "Display name is not updating for past comments, and can't be edited with Calypso"
### Quick summary

I can see a similar issue on the Atomic site:
#55175

If a user updates the _display name_, that doesn't update on the past comments on the simple site.

Also, they can't even change the _display name_ from the comments admin; editing the comment does not allow us to do so.

But it works fine if we try that with the classic view.

So there are two issues:

* Updated _display nam

[2022-03-09 18:30] obenland commented on #61500
Fixed in 835-gh-Automattic/wpcomsh

[2022-03-09 18:30] #61500 closed, assigned to gavande1

[2022-03-09 18:35] Addison-Stavlo opened #61774 "Remove Site Editor Feedback Form"
We can now remove the Site Editor beta feedback form/plugin. This is registered through the wpcom-block-editor and communicates with Calypso through the iframe-bridge-server.

![image](https://user-images.githubusercontent.com/28742426/157508258-bfa7ae96-edee-42d0-a89c-566b44e9d166.png)

When we do this we should ensure we remove references to this from user facing documentation as seen here: http

[2022-03-09 18:37] sirbrillig commented on #61493
🤔  Hm... I haven't tested this but I think this makes sense if you've added an ownership directly to your account (using SA) without purchasing it. We cannot renew a product that has no price to charge.

However, if I understand this issue correctly (and I may be wrong), the problem you're having is with the provisioning process after an initial purchase, not with a renewal. So this could be a red

[2022-03-09 18:38] #61667 closed, assigned to nobody

[2022-03-09 18:44] andres-blanco opened #61775 "Anchor.fm on Atomic: Tracking failed fixes."
While applying the fix for broken connections between Anchor.fm and Atomic sites there where failures on some sites. Those sites can be found here: paYKcK-1pM-p2.

Most of the errors are that the user stored in the `oauth2_tokens` table does not correspond with a user on the Atomic site.
<img width="656" alt="image" src="https://user-images.githubusercontent.com/375980/157509763-6ebe5a87-ebd6-4d02

[2022-03-09 18:53] andres-blanco commented on #50560
Wrap up paYKcK-1pM-p2 🎉

[2022-03-09 18:56] gutenberg-plugin-upgrade-bot[bot] opened #61776 "Gutenberg: v12.8.x plugin upgrade"
Previous upgrade: #61456
Release notes: [v12.8.1](https://github.com/WordPress/gutenberg/releases/tag/v12.8.1)

**Install and activate**
- [x] Install & Activate v12.8.0-rc.1 on edge (D76398-code & D76401-code)
- [x] Install & Activate v12.8.0 on edge (D76900-code)
- [x] Activate v12.8.0 on production (D76901-code)
- [x] Request v12.8.0 AT upgrade (p9o2xV-1XB-p2)
- [x] Install & activate v12.8.1 o

[2022-03-09 20:06] LCmry commented on #61393
Hello! This is indeed under Axiom. And you are correct it is sunsetted and support discontinued. Are there any workarounds or pinpointing that we can help with?

[2022-03-09 20:19] goblinartificer commented on #61515
Also in 10629239-hc

[2022-03-09 20:43] nicolynramos commented on #59566
Another report here: 4846715-zen

[2022-03-09 21:05] leonardola commented on #61393
The recommended way to tackle this, is to disable and remove paypal express checkout and then install https://woocommerce.com/products/woocommerce-paypal-payments/ which is still being supported

[2022-03-09 21:25] Rolilink opened #61778 "Marketplace - Education footer Design Followups"
#### To Do
- [x] Update footer background variable to use `gray.0`
- [x] Add hover state

[2022-03-09 22:15] gwensmithx opened #61781 "AMP settings not showing in Customizer on simple site"
### Quick summary

On a simple site, the AMP link is not showing up in the customizer after clicking on it under Appearance. I was able to replicate on my simple test site on Independent Publisher 2, Coutoire, Toujours - it seems to be any theme that is not an FSE theme. This does not affect AT sites.

Screenshot:

![Markup on 2022-03-09 at 17:07:49](https://user-images.githubusercontent.com/57795

[2022-03-09 22:22] allilevine commented on #61142
Closed via https://github.com/Automattic/wp-calypso/pull/61765

[2022-03-09 22:22] #61142 closed, assigned to paulopmt1, allilevine

[2022-03-09 22:33] KirkwallDay commented on #61682
Hi @Robertght , it happens on my test site as well, using the Footer Template Part.  I just made a test footer and the white space still appears below:
<img width="988" alt="Screen Shot 2022-03-09 at 3 31 53 PM" src="https://user-images.githubusercontent.com/49131029/157549888-084d36ee-18f0-46fb-8337-08d5945b7942.png">

When I check the HTML source, it shows up as a blank paragraph block with an e

[2022-03-09 23:20] arinoch opened #61782 "FSE: Give the navigation block visibility conditions, possibly per page and/or per post type"
### What

I'd like to see navigation menus created in FSE be configurable to only appear on specific pages at the user's choosing.

### Why

This is functionallity that was provided in the past by plugins ([example](https://themify.me/conditional-menus)), and now with full site editing it is my belief that such a thing could be and would best be served by being built in.

### How

_No response_

[2022-03-09 23:53] Greatdane commented on #61393
Thank you all! Closing this isssue.

cc: @edwinho89

[2022-03-09 23:53] #61393 closed, assigned to nobody

[2022-03-10 00:16] jordesign commented on #51787
As it has been over two weeks now with no reports of the issue returning - I'm going to mark this as closed.  Please feel free to re-open if the need arises.

[2022-03-10 00:31] DanAntion commented on #51787
OK. I have not heard any complaints. I was waiting, only due to some people
having said they would be taking a break. I do think the problem has been
solved.

Thank you very much.

Dan
------
Daniel Antion
***@***.***

On Wed, Mar 9, 2022 at 7:16 PM jordesign ***@***.***> wrote:

[2022-03-10 02:07] #61733 closed, assigned to taipeicoder

[2022-03-10 02:17] thekingsprojects opened #61785 "Query Loop Block: Sticky posts do not stay at the top when used in template"
### Quick summary

When using the Query Loop block to show posts as part of an FSE template (e.g., on the theme's "Index" template), any sticky posts appear in the normal post flow, rather than at the top/front of the post list.

This does not seem to happen when a Query Loop block is used within the content of a page; I've only been able to replicate it in a template so far.

### Steps to reprodu

[2022-03-10 02:38] Greatdane commented on #50560
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-03-10 02:38] #50560 closed, assigned to andres-blanco

[2022-03-10 02:41] arinoch commented on #60932
Can we arrange to update the user in 4801735-zd-woothemes if this issue is fixed? I'm closing this ticket as it's been open since February 22.

[2022-03-10 03:07] jordesign commented on #60958
Interestingly, this would need to be an enhancement to WP Admin - but I'll leave it here for now.

[2022-03-10 03:27] autumnfjeld commented on #61524
@taipeicoder  Feel free to just link the Diffs directly in the Dev Tasks & PRs list (instead of creating another issue just to link to the diff).  It's fine either way though if you prefer.

[2022-03-10 03:38] rw-ye commented on #39956
Another report: 4847705-zd-woothemes

[2022-03-10 03:41] jordesign commented on #61615
I was about top copy this over to the Gutenberg Repo - but then was thinking about this more....

We don't currently have any blocks I can think of (apart from the image block) which allow you to set a specific width on the block.

My thought is that the expected process would be to use a column block (or layout grid) to limit the width of the space available to the Navigation Block.

Pinging @mti

[2022-03-10 04:05] taipeicoder commented on #61524
Will do 👏

[2022-03-10 04:51] Greatdane commented on #61557
@edwinho89 - I am unable to reproduce this behavior. The footer does not overlap on an Atomic test site. Are you able to reproduce on a test site?

<img width="1319" alt="Markup 2022-03-10 at 13 50 21" src="https://user-images.githubusercontent.com/5075840/157591907-7c98bd42-428d-407f-a019-27e983188702.png">

[2022-03-10 05:12] rw-ye commented on #60747
Reported here: 4847492-zd-woothemes
Theme: Scratchpad

Recommended using a paragraph block instead as a workaround.

[2022-03-10 05:26] Greatdane commented on #61612
This behavior is consistent with other blocks across Gutenberg, so I am not sure its a bug. For example, you have to click on the parent block when adding an image to the Gallery block, or adding another field to a Form Block.

I have also tested this on all platforms (Simple, Atomic and self-hosted) and non FSE themes.

Closing this for now.

[2022-03-10 05:26] #61612 closed, assigned to nobody

[2022-03-10 05:43] Greatdane commented on #61627
I can confirm, it only seems to have on FSE sites. The `wp-block-jetpack-calendly calendly-style-inline` div is just empty.

[2022-03-10 06:05] Greatdane commented on #61627
CC: @Automattic/jetpack - it looks like this is a Jetpack block and affects both Atomic and self-hosted sites.

[2022-03-10 06:12] autumnfjeld opened #61788 "MC Tool for Generated Vertical Designs"
## Description

Part of Verticals in Onboarding project.
Build a Generated Vertical Design preview tool that will essentially mimic the process that will happen in onboarding that produces a user's verticalized design preview in the Design Picker.  This work will be dependent on the progress of #61228 and #61198 and continued work beyond the spike phase.

The tool should be useful to devs, designe

[2022-03-10 06:39] Robertght opened #61789 "Lovecraft: Query block displays the featured images blurry"
### Quick summary

_No response_

### Steps to reproduce

1. Create a new page
2. Add the Query block
3. Make sure you have the post template in it to have the posts displayed

### What you expected to happen

To have the featured images display correctly.displayed

### What actually happened

The images were blurry instead.

### Context

4845280-zen

### Simple, Atomic or both?

Simple, Atomic

#

[2022-03-10 08:33] vishnugopal commented on #59040
Discussion:
- Haven't really worked on this this week. Will sync with Mikael and make some progress here.

[2022-03-10 09:07] vishnugopal commented on #61065
Related: pbxlJb-1aw-p2

[2022-03-10 09:18] vishnugopal commented on #51442
@creativecoder A simple site does not have Template and Template Parts for me, is there something I need to do to get that option in Tools > Export?

<img width="556" alt="CleanShot 2022-03-10 at 14 48 07@2x" src="https://user-images.githubusercontent.com/533/157630321-ef5efee9-9153-4d2e-a4f6-38f22c8afcd3.png">

[2022-03-10 09:28] taftina commented on #61297
4848101-zen Stow theme

[2022-03-10 10:13] ilyasfoo commented on #60429
Apologies for the long wait, @allilevine. Not being able to debug this has been a blocker for me. Uploading my own code to my site just hides the bug away. Just letting you know that I'm not working on this at the moment.

[2022-03-10 10:20] cpapazoglou commented on #61493
Well, found the root cause. We were using specific `Store_Product_Marketplace_Yoast` class for the product which didn't have the correct `activation` function. For all marketplace products (at least plugins for the moment) `Store_Product_Marketplace_Plugins` should be used.

diff here D76455-code

[2022-03-10 10:44] #61534 closed, assigned to epeicher

[2022-03-10 10:54] WBerredo opened #61793 "Marketplace: Launch FedEx Shipping Method and WooCommerce One Page Checkout"
Complement of: #61249
- [x] Get the plugin added as Managed Plugin (p9o2xV-1Wy-p2)
- [x] Test all versions (monthly, annual) can be purchased, installed, and activated.
- [x] Lanch this product for all users (even non-a12s) and make it `featured`. (D76516-code)

[2022-03-10 11:48] cpapazoglou commented on #61493
Deployed r241470-wpcom

[2022-03-10 11:48] #61493 closed, assigned to JulianBustamante, cpapazoglou

[2022-03-10 11:53] Addison-Stavlo commented on #61611
I think this could definitely be beneficial.

One consideration though would be screen size. If running on mobile/tablet the screen width may force the list view to overtake the entire screen. In the case of these smaller screens, we should probably avoid opening the list-view by default?

[2022-03-10 12:59] bogiii opened #61797 "Full importer: WordPress - Introduce upgrade plan screen"

[2022-03-10 13:01] bogiii opened #61799 "Full importer: WordPress - Improve logic of showing install Jetpack button"

[2022-03-10 13:25] mcampal commented on #60483
4848606-zen

[2022-03-10 13:44] cpapazoglou opened #61800 "Marketplace: Yoast SEO Premium doesn't get active after installation"
After buying Yoast SEO Premium, both Yoast SEO and Yoast SEO Premium get installed but `Yoast SEO Premium` is not active.

![CleanShot 2022-03-10 at 15 44 33@2x](https://user-images.githubusercontent.com/12430020/157674361-c70d61ae-8a0a-4751-809f-dbd81bada398.png)

[2022-03-10 13:58] andres-blanco commented on #60270
@arinoch the kind of errors reported in 4747952-zd-woothemes where being tracked in [this issue](https://github.com/Automattic/wp-calypso/issues/50560). The user's site should be working now 👍 .

[2022-03-10 14:19] sajmes opened #61801 "Twenty Sixteen - Button background colors do not display on live site."
### Quick summary

Using Twenty Sixteen, when a solid background color is set, the live site does not match editor. Live site shows the color set in customizer.

### Steps to reproduce

1. Add a button to a page.
2. Set a solid background color

### What you expected to happen

The background color shown on live site should match the editor.

### What actually happened

The background color does n

[2022-03-10 14:41] cecilearkay commented on #61464
Another report in 4845371-zd with Polylang

[2022-03-10 14:46] #61506 closed, assigned to DustyReagan, mmtr

[2022-03-10 16:00] #61710 closed, assigned to nobody

[2022-03-10 16:01] #61725 closed, assigned to nobody

[2022-03-10 16:11] #61518 closed, assigned to nobody

[2022-03-10 16:17] kwight opened #61805 "Theme Showcase: WP.org themes are showing a WP.com contact button."
There's a "Contact us" button on WP.org themes in the Theme Showcase that sends the user to our WP.com support – even though WP.org themes are not supported by us.

See: p1646914375829829-slack-C029FM1EH

<img width="1213" alt="Screen Shot 2022-03-10 at 8 15 37 AM" src="https://user-images.githubusercontent.com/349751/157706930-cd4d31a0-89b4-4899-8628-bb7fce0792f0.png">

[2022-03-10 16:20] kwight commented on #61805
I imagine a straight-forward fix would be hiding that contact card for any WP.org theme.

[2022-03-10 16:20] louinel commented on #61515
New case here: 4848937-woothemes-zen

[2022-03-10 16:24] dpasque commented on #61104
This issue is tracking an issue in another repository. All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the outside repository.

[2022-03-10 16:25] Robertght commented on #61654
I tried to replicate this but I wasn't able to.  I thought this was similar to [this](https://github.com/Automattic/themes/issues/5636) but that's an issue on the frontend.

@cat-og could you check if this is still an issue on your end, please?

[2022-03-10 16:29] dpasque commented on #61008
This issue is tracking an issue in another repository. All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the outside repository.

[2022-03-10 16:46] rachelwinspear opened #61806 "Premium themes show duplicate Title with Yoast free version enabled"
### Quick summary

Not sure if this is a bug, but it's not what I would expect to see in a Premium theme.

When Yoast free version is enabled, sites with a Premium theme show the <title> in the page source code twice.
Tested with:
Payton
Videomaker White
Byrne
![Annotation on 2022-03-10 at 17-39-53](https://user-images.githubusercontent.com/44442769/157711894-ce744880-6577-4479-b2b7-ce28cdb37804.p

[2022-03-10 16:59] #61549 closed, assigned to Rolilink

[2022-03-10 17:00] Rolilink commented on #61549
🧵 p1646926976601659-slack-C029JEQRVRT

[2022-03-10 17:37] cpapazoglou opened #61809 "Marketplace: expose WP.com fields in the WC.com API"

[2022-03-10 17:46] gcsecsey commented on #60714
I've raised a draft PR with the proposed changes: 846-gh-Automattic/wpcomsh I'll update the formatting and add testing steps.

As discussed, I've added a new notice, which we can word specifically to the Coming Soon mode:
https://github.com/Automattic/wpcomsh/blob/4759ef0d6618fb89eb52b365d97c460a6edcebe0/feature-plugins/full-site-editing.php#L88
@cpapazoglou @obenland, could you please help with w

[2022-03-10 18:00] IanJonesTAM opened #61811 "WooCommerce - Checkout Zip Code Issue"
### Quick summary

On checkout when folks enter their zip code to calculate shopping the state is not updated, for example, https://d.pr/i/3lWPY4

Example site: https://shop.tumblr.com/cart/

Is it possible to update the state when a zip code is entered, please?

If so, could this be expanded for folks in other countries, for example, if someone in the UK enters just their post code, their county

[2022-03-10 18:28] jeherve commented on #61627
Thank you. Transferring this to the Jetpack repo, where the block is built and maintained.

[2022-03-10 18:30] kwight commented on #61551
Pinging @vinimotaa for design feedback in place of Saxon.

[2022-03-10 18:38] brookewp opened #61812 "[Bug]: Reader - Duplicate comment temporarily appears when making a new comment"
### Quick summary

When adding a new comment to a post in the reader, a duplicate comment temporarily appears:

![Screen Capture on 2022-03-10 at 10-13-40](https://user-images.githubusercontent.com/35543432/157729760-e72ca411-dac1-461e-9218-bad09699c0b1.gif)

### Steps to reproduce

1. Go to [wordpress.com/read/](https://wordpress.com/read/) to access Reader
2. Navigate to any posts comment sectio

[2022-03-10 19:16] cuemarie opened #61815 "Feedback: Add filters for use when exporting feedback responses"
### What

Add filters so that users can export only certain feedback submissions.

### Why

Currently users must export the entire list of feedback submissions each time, which can get cumbersome and repetitive, especially if they have many submissions.

Requested here: 34597840-hc

### How

_No response_

[2022-03-10 20:03] edequalsawesome commented on #60360
I wasn't able to duplicate this on my computer (Version 99.0.4844.51 (arm64)), but @msilbers was able to duplicate on Version 98.0.4758.80 (Official Build) (x86_64) and the latest release of Chrome:

<img width="562" alt="Screen Shot 2022-03-10 at 3 00 58 PM" src="https://user-images.githubusercontent.com/4000628/157745342-91e8d960-8334-4ca4-8479-71f3f0c3c6fe.png">

@zdenys Are you still seeing th

[2022-03-10 20:16] jordesign commented on #60876
I've tried a PR for the first 4 items - but it looks like the link is persisting between different sections of the 'People section even though it is set to be different...
https://github.com/Automattic/wp-calypso/pull/61813

[2022-03-10 20:16] WBerredo commented on #61249
Fix of FedEx Shipping Method plugin: D76511-code

[2022-03-10 20:20] edequalsawesome commented on #61721
I was able to duplicate this on core -- submitted a bug report here: https://github.com/WordPress/gutenberg/issues/39359

[2022-03-10 20:24] edequalsawesome commented on #61750
This is on the roadmap for WordPress 6.0! https://github.com/WordPress/gutenberg/issues/37407

[2022-03-10 20:40] masperber commented on #61749
34330065-hc User came in to chat because their Front Page template was blank. I copied elements from their Page template to create a new template for them.

[2022-03-10 21:05] #57774 closed, assigned to kwight

[2022-03-10 21:06] #56446 closed, assigned to kwight, blackjackkent

[2022-03-10 21:47] jp-imagines commented on #61297
Another in 4847570-zd-woothemes

Also closed duplicate issue #5605 with these reports:
4816961-zd-woothemes
4817151-zd-woothemes

[2022-03-10 21:55] edequalsawesome commented on #61781
Initially I was able to duplicate this, but once I allowed my site to be indexed by search engines and verified that AMP was enabled through the `Settings > Performance` area, I was able to get it to work -- @gwensmithx was your test site set to public/able to be indexed when you saw the issue?

[2022-03-10 21:58] kelasante commented on #57170
The issue happened in 23454328-hc. As a temporary solution, I disabled Block Widgets in Blog RC. User has Twenty Eleven Theme.

[2022-03-10 22:15] blackjackkent opened #61818 "Anchor.fm - Move Gutenboarding onboarding process to /start framework"
With Gutenboarding (hopefully) going the way of the dinosaur shortly, Anchor.fm onboarding needs to be moved into the /start framework flow.

(If any pricing-related changes are involved, this should be coordinated with the pricing and packaging team; P2 is at dgrnI-p2 and contact point is Paul Bonahara. However, it seems like this shouldn't be an issue.)

[2022-03-10 22:21] blackjackkent opened #61819 "Seller Exp - SPIKE: Investigate moving seller experience flow to new refactored onboarding system"
The Vertex team is in the process of working on refactoring the onboarding system and will be migrating all existing flows to the new system. We need to find out what role Serenity can play in this transition in order to make sure we're keeping all the functionality we have worked on thus far intact.

Deliverables here are a series of action steps and estimated schedule for this process.

[2022-03-10 22:21] edequalsawesome commented on #61811
Added as an enhancement request to the WooCommerce repo here: https://github.com/woocommerce/woocommerce/issues/32059

FWIW it looks like this extension will do what you're looking for in the meantime! https://woocommerce.com/products/postcodeaddress-validation/

[2022-03-10 22:27] blackjackkent opened #61820 "Seller Exp - SPIKE: Verify and analyze Seller Experience Tracks information"
We need to verify and refine the tracks information recorded during the Seller Experience onboarding process; specifically, we should establish events and funnels to help answer the following questions:

- What percentage of users complete the Seller Experience flow?
- What percentage choose "Start Simple" vs "More Power"?
- Where do people leave the Seller Experience when they do not complete it?

[2022-03-10 22:29] ianstewart commented on #61820
- Completion rates for Start Simple vs More Power
- Completion of steps/screens while in the /start framework for Seller Exp
- 1 hour and 7 day plan conversion within each flow

[2022-03-11 01:15] lsl commented on #61489
Doesn't seem to be any, it's just transfer and hope you're lucky enough for it to happen.

You can use the revert tool and early cleanup button to cycle through repeated transfer's using the woo installer pretty quickly if that helps.

[2022-03-11 01:21] kimerlin81 commented on #61785
Thanks for submitting this bug report @thekingsprojects! I was able to reproduce this on a test site with several themes activated. I've added this report to the HE Cross-Reference Watchlist since there is a related issue in the Gutenberg Repo: https://github.com/WordPress/gutenberg/issues/38979

[2022-03-11 01:27] kimerlin81 commented on #61620
Reproducible. Closing this report in favor of https://github.com/WordPress/gutenberg/issues/38979
Added this report to the HE Cross-Reference Watchlist

[2022-03-11 01:28] Greatdane commented on #60483
34602216-hc

[2022-03-11 01:57] happychait opened #61826 "Add a label indicating which Template is used on the site's front page."
### What

On the Templates screen of the Site Editor, it would be nice to have a label indicating which Template is used on the site's front page.

### Why

Currently, whenever people open the Site Editor, they land on whichever Template loads the site's front page.

However, many times we still need to identify the front page Template with the following template hierarchy rules:

1. Check if the

[2022-03-11 02:00] lsl commented on #61547
This is mostly "done", leaving open until it's fully launched, added three new tasks to the list. @gcsecsey is there some kind of product cache blocking this from showing in prod for a11n users? I recall being able to see yoast as a11n in but I think that's changed or something.

[2022-03-11 03:40] devNigel commented on #61806
I think creating a child theme to customize header.php as suggested in the ticket is not possible for Block themes. Block themes do not have PHP files.

@kimerlin81  Are there any other workarounds at the moment?

[2022-03-11 04:07] Rolilink commented on #61491
There are some changes @cpapazoglou pointed out I need to address on docs will do this one on a follow-up PR when I am back on Monday if no one address them first
- https://github.com/Automattic/wp-calypso/pull/61726#discussion_r823716271
- https://github.com/Automattic/wp-calypso/pull/61726#discussion_r823718013

[2022-03-11 04:27] SaxonF commented on #61491
For now yes

[2022-03-11 04:51] wpshellbelle commented on #59566
Another report at 34603662-hc
I was able to duplicate the issue on my end on my test site as well. The workaround did work for me.

[2022-03-11 05:05] thekingsprojects commented on #55335
Have what might be another case of this here: 4846225-zen

Atomic. The user has email notifications for likes turned off, but for some reason some of their recent posts are not showing like notifications in the notifications list. The likes do appear on the Stats page, and there is a comment notification in the notification list, but no likes.

I did try testing this on my own site briefly, but wa

[2022-03-11 05:20] lsl opened #61829 "Product Not Found error from api results wsod"

[2022-03-11 05:21] lsl commented on #61829
Essentially dupe https://github.com/Automattic/wp-calypso/issues/61342

[2022-03-11 05:21] #61829 closed, assigned to nobody

[2022-03-11 06:18] Robertght commented on #61806
Asking [here](p1646979508429909-slack-C029FM1EH).

[2022-03-11 06:37] alaczek commented on #61391
Just a quick note that the same thing is happening now with the preview of Bennett, Dorna, and Arbutus.

[2022-03-11 06:41] devNigel commented on #61806
@Robertght  the link appears to be incorrect.

[2022-03-11 06:55] zdenys commented on #60360
Still seeing with MacBook Pro (16-inch, 2019) 2,3 GHz 8-Core Intel Core i9 macOS Monterrey 12.2.1 with Google Chrome Version 99.0.4844.51 (Official Build) (x86_64).

[2022-03-11 07:39] KokkieH opened #61831 "Lovecraft: Post titles changing color if visited"
### Quick summary

With a custom accent color set, post titles display in the accent color instead of black once a post has been visited.

### Steps to reproduce

1. Open the Customizer ->Colors and background
2. Set a custom accent color
3. View the blog feed page, and note the titles for unvisited posts are black, and not changing color on hover
4. Click through to a post, then return to the pos

[2022-03-11 07:41] Greatdane commented on #61815
This is under **Feedback > Form Responses** and the **Export responses as CSV** option. There only filter is the post

[2022-03-11 07:44] Greatdane commented on #61831
Moved to themes, but I am not sure if this is something we can fix - it is not made by us (old free theme?).

It is, however, still an active theme!.

[2022-03-11 07:47] edwinho89 commented on #47992
4847758-zd-woothemes

Had the same issue on AT site - deactivating user plugins does not help, and toggling around settings makes no differences.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/34882260/157824556-3405c68e-b6ef-4a68-a7cd-8a61be5c95fd.png">

[code]

[2022-03-11 07:49] edwinho89 commented on #60637
I think this bug report is similar as https://github.com/Automattic/wp-calypso/issues/47992

[2022-03-11 08:55] zdenys commented on #57468
4851408-zd-woothemes

[2022-03-11 09:30] zdenys commented on #52100
4851074-zd-woothemes

[2022-03-11 09:37] zdenys commented on #59527
Related:
- https://github.com/Automattic/wp-calypso/issues/51442
- https://github.com/Automattic/wp-calypso/issues/61496

[2022-03-11 09:50] cpapazoglou commented on #61753
@allilevine this is another issue explorers could explore 😄 after resolving JiTM usage.

[2022-03-11 09:56] zdenys commented on #59835
In 4851556-zd-woothemes the customer would have benefited from a self-serve option to downgrade from Atomic Business Plan to Premium Plan.

[2022-03-11 10:01] arthur791004 commented on #61391
I think the problem is coming from https://github.com/WordPress/gutenberg/blob/82521331ea679898c5fa8b21fa015d9b174023ca/lib/block-supports/layout.php#L56

The `contentSize` is `684px` and the `wideSize` is `1194px`. If we don't set the layout to wide, the default max width is only `684px`. So, we have to set the layout to wide or full to make the design look better.

[2022-03-11 10:11] cpapazoglou commented on #61793
Tested all variations of both plugins and they are installed and activated as expected 🚢

[2022-03-11 10:33] arthur791004 commented on #61391
I think the problem is coming from [here](https://github.com/WordPress/gutenberg/blob/9b0e9e411df3db10772ddb67d44d380bd3007934/lib/block-supports/layout.php#L215)

When we restore the group inner container, we don’t set the `alignwide` or `alignfull` so that the content size is only `684px` and it looks narrow than original one.

[2022-03-11 10:44] #60637 closed, assigned to nobody

[2022-03-11 10:52] WBerredo commented on #61793
Launched at r241574-wpcom

[2022-03-11 10:52] #61793 closed, assigned to WBerredo

[2022-03-11 10:54] simison commented on #47992
@Automattic/team-calypso-frameworks do you know what has changed so that share-button preview loaded from `widgets.wp.com` is not respecting `access-control-allow-origin: *` header?

[2022-03-11 11:11] #61487 closed, assigned to Copons

[2022-03-11 11:24] gcsecsey opened #61836 "Plugin install page: masterbar title is not centered correctly"
When installing a plugin, the WP masterbar has the "Plugin installation" text centered not considering the WP wordmark:
![image](https://user-images.githubusercontent.com/11555574/157858186-f3a4ea7a-cf88-4fb5-903d-26f36bc11402.png)

This looks a bit off with the rest of the site content centered, it should be centered relative to the window width.

[2022-03-11 11:38] IanJonesTAM commented on #61811
Thank you @edequalsawesome

[2022-03-11 12:34] BogdanUngureanu opened #61839 "[Bug]: Pay with Paypal: Layout issue in Customizer"
### Quick summary

When using the block from the Customizer, the block is currently is hard to edit due to layout issues, mainly because of the limited width of the sidebar.

### Steps to reproduce

1. Make sure your site uses a non-FSE theme.
2. Go to Appearance > Customize > Widgets
3. Add the Pay with Paypal block

### What you expected to happen

To be able to easily edit the block

### What a

[2022-03-11 12:43] simison commented on #61661
@creativecoder how widespread does this seem, or is it one-off theme, and happens only in /new flow? We're about to remove /new and focus on /start.

@autumnfjeld If this happens in /start, I think this issue would be good for Ganon to look into as part of maintenance.

[2022-03-11 13:18] arthur791004 commented on #61661
We're working on https://github.com/Automattic/wp-calypso/issues/61391 and I think the root cause is the same. @fushar found a weird problem and will write up a p2 about this issue.

[2022-03-11 13:19] zdenys commented on #61122
Another case 34610915-hc

[2022-03-11 13:20] gcsecsey commented on #61836
Original Figma: oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A50272

[2022-03-11 13:36] #61317 closed, assigned to arcangelini

[2022-03-11 13:56] janmckell commented on #51540
Reported here: 2329734-hc

Shared workaround here: 4844953-zd

[2022-03-11 14:16] escapemanuele opened #61842 "Tour Kit: Error Boundary"
Improve or remove Error Boundary

[2022-03-11 14:18] escapemanuele opened #61843 "Tour Kit: Fix root CSS class"
Fix and add root level CSS class `wpcom-tour-kit`.
This was patched with a __temp__className prop on Tour Kit, which needs cleanup.

Some more general refactor can happen here i.e. the classes we currently pass to Tour Kit are added to the frame, which might be best to add on the root component instead.

[2022-03-11 14:19] escapemanuele opened #61844 "Tour Kit: Check types and resulting render tree"
Sanity-check types and resulting render tree (current tree: `WpcomTourKit > TourKit > TourKitStep > WpcomTourKitStep`).

[2022-03-11 14:20] escapemanuele opened #61845 "Tour Kit: Remove mobile/desktop sub structure"
Update types to remove mobile/desktop sub structures where relevant (Step CSS classes, Step meta)

[2022-03-11 14:21] escapemanuele opened #61846 "Tour Kit: New translation source"
Introduce a new translation source as everything is `full-site-editing` still.

[2022-03-11 14:23] escapemanuele opened #61847 "Tour Kit: Customize minimized view text"
"Resume Welcome Tour" in the minimized view is now "Resume Tour" due to this being a more generic component now. We can introduce a tour `title` and reflect that maybe (and ideally communicate that in the README).

[2022-03-11 14:28] Addison-Stavlo commented on #61613
For feature requests for core blocks, we should really try to open an issue in the home repo: www.github.com/wordpress/gutenberg - that way core community and design can weight in if necessary, but also because it allows other open source contributors to more easily pick up this task. 😁

[2022-03-11 14:39] Addison-Stavlo commented on #61611
Also note, this could be a good issue for discussion in the core Gutenberg repo.

[2022-03-11 14:40] Addison-Stavlo commented on #61614
For feature requests for core blocks, we should try to open an issue in the home repo: [www.github.com/wordpress/gutenberg](http://www.github.com/wordpress/gutenberg) - that way core community and design can weigh in if necessary, but also because it allows other open source contributors to more easily pick up this task. 😁

[2022-03-11 14:41] dlind1 commented on #58898
[woocommerce-pre-orders](https://translate.wordpress.com/projects/woocommerce/extensions/woocommerce-pre-orders/) and [woocommerce-product-vendors](https://translate.wordpress.com/projects/woocommerce/extensions/woocommerce-product-vendors/) would be sent for translation on Monday.
PRs were created for [woocommerce-one-page-checkout](https://github.com/woocommerce/woocommerce-one-page-checkout/pul

[2022-03-11 15:11] Addison-Stavlo commented on #56382
Linking this Gutenberg issue here for better tracking of the feature request: https://github.com/WordPress/gutenberg/issues/4543

[2022-03-11 15:26] Addison-Stavlo commented on #61681
For feature requests for core blocks, we should try to open an issue in the home repo: [www.github.com/wordpress/gutenberg](http://www.github.com/wordpress/gutenberg) - that way core community and design can weigh in if necessary, but also because it allows other open source contributors to more easily pick up this task. 😁

[2022-03-11 15:28] Addison-Stavlo commented on #61649
This sounds like a really neat idea.

Have you considered opening a request in the Gutenberg repo? While we may be able to create our own 3rd party block for this if necessary, a feature request in Gutenberg repo [www.github.com/wordpress/gutenberg](http://www.github.com/wordpress/gutenberg) would open this for discussion there and potentially make this available to more folks as a core Gutenberg

[2022-03-11 15:40] tyxla commented on #61812
This is a pretty interesting find, good catch @brookewp!

Seems like it's caused by the fact that we're optimistically displaying a placeholder comment when posting a new one, but we don't handle the placeholder removal immediately on successful comment / reply creation.

Definitely an interesting one if you (or anyone else) are willing to dive deeper into Redux, the Calypso data layer, and possib