[2022-04-28 00:37] roo2 commented on #62369
Also linking some discussion around issues I found here p1650283374220129-slack-CRWCHQGUB
Summary:
**Currently Firefox isn't supported. We can't edit or delete images in FF**
For now we're only supporting chrome

**I personally can't delete images from the images tool**
I get 403 errors but this doesn't seem to affect other people, may be something particular to my setup

**I think that the multip

[2022-04-28 01:22] lsl commented on #62912
I'm going to guess this can be a proxy for how few people use the multi-site capability to deactivate/activate plugins across sites. Lets drop the route for now and bring it back as required once the implementation is in better shape.

[2022-04-28 02:34] autumnfjeld opened #63118 "Onboarding Progress Bar [save for Ngan]"
# Description
Currently the user has no signal of progress as they move through steps in the FTM onboarding flows.   Let's fix that with an onboarding progress bar.
This work is not needed for v13n Build Flow MVP.

See blue progress bar along top of screen.
<img width="855" alt="image" src="https://user-images.githubusercontent.com/5665959/165669774-d2e7ab67-3b31-41b2-b85c-53262071b5ce.png">

# Ac

[2022-04-28 03:01] vinnykaur commented on #62996
Also reported at zd-5166582 and zd-5168074

[2022-04-28 03:31] autumnfjeld opened #63119 "i18n for patternboilerplates"
# Description
We will ship MVP to English only users, and soon after ship to all languages.

The foundations of the v13n project are now well understood, thus as we wrap up work for the core MVP product we can begin work on v13n features for i18n.

Ensure that we are handling translation for patterns in dM0oz-p2.  This will require coordination with @iamtakashi  and @that-mike-bal and other theme

[2022-04-28 04:22] hacchism commented on #59825
Another report: 33808510-hc

In this user's case, their Classic Block included not just `<p></p>` but also `<p></p>`. Removing both codes fixed the issue.

[2022-04-28 05:20] Greatdane commented on #63011
Reported here for Astra theme as well; 23437437-hc

[2022-04-28 05:29] Greatdane commented on #63010
I assume this is expected behavior, the states that if you want to update the plugin, you would have to do so via wp-admin. Clicking continue takes you to wp-admin where you can then overwrite the plugin.

<img width="693" alt="Markup 2022-04-28 at 14 26 07" src="https://user-images.githubusercontent.com/5075840/165682534-e3018d9b-7290-4e4f-a01c-ee8452d484ed.png">

and then replace via wp-admin;

[2022-04-28 05:29] #63010 closed, assigned to nobody

[2022-04-28 05:37] Greatdane commented on #63050
I have tried this on Firefox, Safari, and Chrome and am unable to reproduce it.

Leaving open for now for another triager to work on. If still unable to reproduce, close for now.

[2022-04-28 06:09] vishnugopal commented on #45586
This seems to be a case that the original import site was not Wix. We'll have better error messages here soon, see: p7DVsv-9Cf-p2#comment-40514

[2022-04-28 06:09] vishnugopal opened #63121 "Improve experience of mShots preview during URL import"
Improve the timing of taking the screenshot, or replace with an iframe.

Try angrybirds.com and see if it generates a preview.

[2022-04-28 06:11] vishnugopal opened #63122 "Improve error messages in Wix Importer"
See https://github.com/Automattic/wp-calypso/issues/45586

<img width="662" alt="CleanShot 2022-06-03 at 13 09 21@2x" src="https://user-images.githubusercontent.com/533/172095004-ceca21f5-ac53-4a94-928c-8841e9bb0653.png">

The error seems to happen because the backend API for Wix returns the wrong information even when a non-Wix site is provided:

<img width="1499" alt="CleanShot 2022-06-03 at 13

[2022-04-28 06:11] vishnugopal commented on #45586
Improve Error messages tracked here: https://github.com/Automattic/wp-calypso/issues/63122

[2022-04-28 06:22] Greatdane commented on #63062
Also replicable on self-hosted sites.

Created a Core Gutenberg Issue here; https://github.com/WordPress/gutenberg/issues/40673

[2022-04-28 06:52] Robertght commented on #63115
Another case in 5168368-zen

[2022-04-28 06:54] Greatdane commented on #62987
I was able to reproduce but only on mobile view (it worked on desktop)

Issue is with the URL parameters that are added (for example `&post_type=post%2Cpage`)

[2022-04-28 06:57] Greatdane commented on #62987
cc: @Automattic/jetpack - not sure if you manage the legacy **Search (Jetpack) widget**.

[2022-04-28 07:02] Greatdane commented on #62961
Closing, duplicate issue; https://github.com/Automattic/wp-calypso/issues/61756

[2022-04-28 07:02] #62961 closed, assigned to nobody

[2022-04-28 07:02] autumnfjeld opened #63123 "Verticals Metrics Planning"
# Description

## Tracks Events
- [ ] user input and user selection on v13n Question screen

[2022-04-28 07:03] vinnykaur commented on #44263
Another request here - hc-35289936

[2022-04-28 07:11] johngodley commented on #46536
This is still happening and can be seen on a wp.com site with a large number of users. It may be an underlying Gutenberg problem, but I don't have access to a large enough non-wp.com site to check that.

[2022-04-28 07:17] Greatdane commented on #62998
I can reproduce on core also, made a bug report there; https://github.com/WordPress/gutenberg/issues/40676

[2022-04-28 07:24] Greatdane commented on #63026
I was able to reproduce on Chrome, but the download worked as expected on Firefox.

Simple site only. Atomic worked on all browsers.

[2022-04-28 07:35] arthur791004 opened #63124 "Verticalize the images by the orientation"
#### Changes proposed in this Pull Request

D79652-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62812

[2022-04-28 07:35] arthur791004 opened #63125 "Remove the flag of the pattern verticalization"
#### Changes proposed in this Pull Request

D79653-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62812

[2022-04-28 07:42] mashikag commented on #62996
The two issues are specific to "Liked" email notification. However they are different to this issue.

The two are asking to include a link to a blog of the "liker" in the email notification. Just like it used to be in the previous email implementation.

[2022-04-28 08:24] arthur791004 commented on #62369
I just follow the mechanism from WP.com 😂

[2022-04-28 08:37] taftina commented on #63026
#5174151-zen. I can reproduce on Chrome and Firefox too

[2022-04-28 08:37] vishnugopal commented on #62238
Discussion:
* PR has feedback addressed.
* Next step is to work on individual import flows.
* Going well, no roadblocks yet!

[2022-04-28 08:44] autumnfjeld commented on #62369
Show vertical heirarchy in the tool.  pbxlJb-1CZ-p2#comment-1460   It isn't clear to me why this is really needed, so we should discuss more with Mike in the future (post MVP)

[2022-04-28 08:45] vishnugopal commented on #62239
Discussion:
- The diff has now been reviewed and accepted: D79295-code
- Fixed XSS injection possibility
- background, foreground, primary, secondary is what is configurable
- The color usage is not consistent across themes, themes use different variables for link colors, see: pcmemI-ys-p2#comment-639

[2022-04-28 08:51] vishnugopal commented on #62242
Discussion:
- There might not be a perfect solution, but maybe we can get this to be better.
- Maybe we can see a frequency of colors, colors that are used a lot is probably the "most important"
- Perhaps, turn of all images, take a screenshot of the page, analyze the most dominant color.

[2022-04-28 09:08] vishnugopal commented on #62240
Discussion:
* See post: pMz3w-f6A-p2
* Next steps are to wait for systems to get back & integrate this into WPCOM as an async job.
* @jeroenpf  to review https://github.com/Automattic/vger/

[2022-04-28 10:04] mashikag commented on #63001
@villanovachile this is correct. Issue 1 has been resolved for the user, and so the user specific issue can be closed. Re-uploading the icon fixed the issue. Caching of the site icon when switching primary domains is one way this can happen. It is very likely that this was the case for the user because I can see in their blog audit that they did connect a custom domain in the "recent" past. Howeve

[2022-04-28 10:25] renata-franco commented on #46195
Report here: 34660574-hc

[2022-04-28 10:42] pauljacobson commented on #63012
We have a user who is affected by this in 5081098-zen

I'm including their details here so we can follow-up with the user once this issue is resolved.

[2022-04-28 10:43] pauljacobson commented on #54038
We also have a report in 5081098-zen

Adding details here so we can follow-up with the user once this issue is resolved.

[2022-04-28 11:38] miksansegundo commented on #60523
@roo2 Here is the Diff D79681-code

[2022-04-28 12:10] sajmes commented on #62788
35071083-hc

[2022-04-28 12:55] gcsecsey commented on #62729
#62777 releases the site search endpoint behind a feature flag. We need to tackle the following tasks to be able to replace plugins search in production:

## Blockers
- Filter by categories
- Add localization to results
- Add fallback to plugin icons
- Add the author username/profile link to results
- Support getting all data for the plugin details page

### Filter by categories

The index contain

[2022-04-28 13:12] gcsecsey commented on #62067
@SaxonF could you please take a look at this?

[2022-04-28 13:18] gcsecsey commented on #62205
@SaxonF what do you think about only showing uninstalled plugins in the spotlight/search results?

[2022-04-28 13:27] gcsecsey commented on #62928
Backlog grooming:
When transferring to Atomic, the site's primary domain changes. Check if the primary domain check is the root of the problem. Try identifying the site in another way.

https://github.com/Automattic/wp-calypso/blob/0f5d51add1beccbf3a08f3e9d0cc654a87ae7a7e/client/my-sites/marketplace/pages/marketplace-plugin-install/index.tsx#L103-L118

[2022-04-28 13:30] gcsecsey commented on #43230
@SaxonF could you help with how could we clearly identify our curated search results?

[2022-04-28 13:37] gcsecsey commented on #43230
Backlog grooming:
Apart from the design updates on the search results, we'd like to display WooCommerce or WordPress.com as an author name instead of Automattic on first-party plugins, so that users unfamiliar with the company name can be more confident about the plugin.

[2022-04-28 13:41] gcsecsey commented on #43332
Designs are linked here: pdh6GB-sk-p2

[2022-04-28 13:41] cpapazoglou commented on #60769
Design here pdh6GB-sk-p2

[2022-04-28 13:42] michaeldcain commented on #50064
@jjchrisdiehl @sirbrillig I think we should start with this, given that it will consolidate logic and address a confusing situation for some users, at the somewhat minor expense of removing the currency symbol and cents styling on the purchase management and legacy plans pages - both of which are older designs. It would also be great to audit the uses of the old endpoint return values to make sure

[2022-04-28 13:44] dsas commented on #62721
@Copons / @sethmclellana8c, can I just check I'm reading the table above correctly? Does use of " mean 'same as above'?

I'm asking because it seems that for sites that are connected to stripe already we're going to say:

It seems a bit odd to me to say _enabling the Payment Button block_ when they're connected with stripe because:
 * The wording seems like it's leading to an 'Enable Payment Butto

[2022-04-28 14:11] andres-blanco opened #63137 "Woo on Stepper: Back button doesn't work on businessInfo step"
If I click back on the `businessInfo` step I go to the start of the flow instead of the expected `storeAddress` step.

<img width="1772" alt="image" src="https://user-images.githubusercontent.com/375980/165771843-c9771186-a136-4bf1-a848-7a32af12353e.png">

[2022-04-28 14:13] rachelwinspear opened #63138 "Widget: 'Gallery widget' loads incorrectly with plugin 'WordPress.com Editing Toolkit' enabled"
### Quick summary

Gallery Widget content does not load correctly in the Footer when the plugin 'WordPress.com Editing Toolkit' is enabled.
Tested in Theme Alves.

### Steps to reproduce

1. Enable the plugin: WordPress.com Editing Toolkit
2. Add a Gallery Widget to the Footer 1  (theme Alves)
3. Save the widget area
4. Refresh the pages various times (Chrome)
5. Footer area will show images with

[2022-04-28 14:29] andres-blanco opened #63140 "Woo on Stepper: Add error step after on failing transfers"
Add the error step after an `Error` is thrown on the processing step.

[2022-04-28 14:39] #62717 closed, assigned to andres-blanco

[2022-04-28 14:50] arunsathiya opened #63141 "Karuna: Incorrect "More posts" button visible on the homepage"
### Quick summary

On the Karuna theme, there's a setting within `Theme options` area of the Customizer that allows one to show four posts on the homepage: `Display up to four Recent Posts on the static front page.`. Enabling this setting shows four posts, and a `More posts` button below it which doesn't respond. Since only upto four posts are shown, the button shouldn't exist.

### Steps to repro

[2022-04-28 14:50] arunsathiya commented on #63141
5173795-zen.

[2022-04-28 14:54] arunsathiya commented on #63141
To clarify, the button responds, but it just refreshes the page with no visible change.

[2022-04-28 14:59] swilleya8c opened #63143 "Theme Showcase: Replace Outdated Blocks video on Theme Overview Pages"
### What

We currently have this video posted on many A8c themes: https://www.youtube.com/watch?v=BkQlTuJ4BH8

Can we swap that video with this updated video: https://youtu.be/jA6AbrVwd3o

You can see an example here: https://wordpress.com/theme/blank-canvas-blocks/

<img width="902" alt="165586466-44036885-499f-4899-ad2f-143f38cc639f" src="https://user-images.githubusercontent.com/101146588/16578

[2022-04-28 15:01] masperber commented on #62788
Another report here 35079601-hc

[2022-04-28 15:05] #62716 closed, assigned to andres-blanco, nelsonec87

[2022-04-28 15:13] alshakero opened #63144 "Perf: investigate ways to cut down masterbar bundle size in checkout"
The PR below added 90KB to async components. Find ways to cut that down.

_Originally posted by @alshakero in https://github.com/Automattic/wp-calypso/pull/63126#pullrequestreview-956606240_

[2022-04-28 15:25] #63060 closed, assigned to escapemanuele

[2022-04-28 15:25] martian77 commented on #56929
It looks like rather than adding the WPCOM_SEARCH item to a list in Store Admin we actually need to implement `has_feature` on `Store_Product_Jetpack_Search`. Still a quick fix, just need to check what Calypso is using to find the products and check nothing else gets broken.

[2022-04-28 16:17] martian77 commented on #56929
Diff at D79732-code

[2022-04-28 16:23] daria2303 opened #63146 "Calypso: Enable "Anyone can register" setting."
### What

Anyone can register option is only available from wp-admin view.

### Why

User cannot find it when they follow guides for membership plugins.

Examples:
35118823-HC
35156912-HC

### How

Make this option available from WP.com view.

[2022-04-28 16:38] arthur791004 commented on #62788
I think we encounter a similar issue in https://github.com/Automattic/wp-calypso/pull/56750 as we introduced the `useI18n` from `@wordpress/react-i18n` and fix it by replacing `useI18n` with `__` from `@wordpress/i18n` in https://github.com/Automattic/wp-calypso/pull/56977. So, we might introduce something again to make the plugin be broken when the Gutenberg is deactivated.

[2022-04-28 16:47] #62459 closed, assigned to nobody

[2022-04-28 16:52] martian77 commented on #56929
Actually, rethought that. I'm not sure where else the `has_feature` flag is used, so probably safer to just add it to the list in `is_atomic_blog_allowed_product()` instead. Same diff: D79732-code

[2022-04-28 16:56] mashikag commented on #63053
Hi @daria2303 ! 👋 Thank you for raising this issue with us by creating this ticket. 🙇

I had a brief look at the issue. It seems like the issue is no longer reproducible. The issue was reported before the D79214-code patch was implemented. It looks as if the patch most likely also fixed the reported issue.

Please re-open this ticket if the user still experiences the issue.

[2022-04-28 16:56] #63053 closed, assigned to nobody

[2022-04-28 17:01] mashikag commented on #62996
Since there is no further reports of any issues with the gravatar in the "New Subscriber" email I will close the issue for now.

@formosattic please re-open the issue if needed. 🙂

[2022-04-28 17:21] JoshuaGoode commented on #63106
Tested and works as expected.

Updating the original report to include [the better workaround](https://github.com/Automattic/wp-calypso/issues/63106#issuecomment-1111521482) and closing this request.

[2022-04-28 17:21] #63106 closed, assigned to creativecoder

[2022-04-28 17:23] kerrynicl commented on #63064
Keeping request as users often query their card being charged

[2022-04-28 17:35] khristiansnyder opened #63149 "Portfolios Broken on Simple Sites"
### Quick summary

Portfolios are not working on simple sites. Dashboard link doesn't show up in Calypso despite portfolios being turned on.

The link does show in WP-Admin, but opening an existing project (or creating a new project) leads to a blank page.

The front end shows errors for portfolio shortcodes as well, despite them being enabled and having several projects: `Your Portfolio Archive c

[2022-04-28 17:36] zachspears commented on #63078
Was able to replicate, agree that tab title should be consistent.

[2022-04-28 17:38] desnum opened #63150 "[Bug]: Form response "Export as CSV" button doesn't work"
### Quick summary

The user is unable to "Export responses as CSV" at the bottom of the Feedback tab.

### Steps to reproduce

1. Start at http://arnostifarmconnections.com/wp-admin
2. Click on the Feedback tab
3. Click the "Export responses as CSV" at the bottom of the page

### What you expected to happen

A CSV file should begin to download

### What actually happened

Clicking on the button do

[2022-04-28 17:40] desnum commented on #63150
Another HE reported the same issue for a different user, with this screenshot:

<img width="666" alt="feedbackformerrormessage" src="https://user-images.githubusercontent.com/43796228/165814270-afaa29bf-17ab-4b56-9282-2e6e88396218.png">

[2022-04-28 17:40] marianearchimbaud commented on #63150
I am facing the exact same issue here: 32192453-hc

[2022-04-28 17:45] desnum commented on #63150
Ah, we may need to merge into https://github.com/Automattic/wp-calypso/issues/63026

[2022-04-28 17:51] marianearchimbaud commented on #63150
Closing this in favor of https://github.com/Automattic/wp-calypso/issues/63026

[2022-04-28 17:52] #63150 closed, assigned to nobody

[2022-04-28 17:54] metabreakr commented on #63149
35317842-hc

[2022-04-28 17:55] villanovachile commented on #63149
Another report: 31613422-hc

Troubleshooting I tried:

• Portfolio is missing from menu
• User is using Verity (retired but supports Portfolios)
• Portfolios show enabled in Settings > Writing
• wp-admin view shows Portfolios in menu
• wp-admin settings shows Portfolios disabled
• enabling this disables it in Calypso view
• Viewing Portfolios slug in Calypso view shows: https://d.pr/i/a1UApO
• tog

[2022-04-28 17:56] desnum commented on #63026
Other cases, from the closed (merged) issue https://github.com/Automattic/wp-calypso/issues/63150:
- 32192453-hc
- 34647900-hc
- 32192453-hc

[2022-04-28 18:02] #62670 closed, assigned to valterlorran

[2022-04-28 18:05] mashikag commented on #62989
@yansern in the issue description it says:

This would imply this is a screenshot from when it worked properly. This means the user had to modify the picture himself. 🙂

[2022-04-28 18:07] paxblueribbon commented on #63149
hc3011197 is also experiencing this.

Tried toggling portfolios on and off, double checked that their theme is portfolio compatible.

[2022-04-28 18:07] villanovachile commented on #63149
Another, follow up: 5176008-zen

[2022-04-28 18:07] simison commented on #63149
Slack heads ups p1651168887391559-dotcom-escalations-slack

Could be related to https://github.com/Automattic/jetpack/pull/23848

[2022-04-28 18:09] zachspears commented on #63082
Unable to replicate, need another triagers input.

Clarification of issue: If the provided CSS is removed from Additional CSS there is a large space added below the Slideshow block. This space appears to come from the "dot" navigation of the slideshow as it does not appear on the page, and removing it with CSS fixes the issue.

Tested:
- Tried adding block with same number or images, while using t

[2022-04-28 18:11] mashikag commented on #62986
Hey @mtias ! 👋  What do you think of this request?

We would need design input if this was to be implemented. Where and how we would like the short link to be included in the email.

[2022-04-28 18:21] mtias commented on #62986
There's a design proposal that includes it on notification posts as a fallback but it's not finished.

[2022-04-28 18:21] mashikag commented on #62989
Can you share with me the site from which you expected the posts to be included in the email? There is multiple criteria that need to be met, just as there used to be, for the posts to be listed.

The site for which you expect its content to be shared in those emails needs to be your user's, you are commetning with or liking with, primary site. Then the site has to be `Public` and has not to be ma

[2022-04-28 18:25] vajrasar commented on #63149
As per p1651168887391559-slack-C02FMH4G8 this seems resolved for now. Closing this.

[2022-04-28 18:28] WBerredo opened #63151 "Marketplace: Thank you page for multiple products"
Currently, it is possible to purchase multiple plugins at once as described here #62558.

But the Thank you page shown after the purchase only displays the last selected plugin. Ex:

![](https://user-images.githubusercontent.com/11555574/161982683-9a7b6197-39f1-4cd4-bf3a-51fd03590e4a.png)

We have to find a way to display multiple plugins results at this thank you page.

[2022-04-28 18:29] WBerredo commented on #62558
I was not able to replicate the bug per see, as all the plugins are being installed after the purchase (there was some discussion here: p1651057225961259-slack-C029JEQRVRT).

We are still facing the issue where we only display the last selected plugin on the thank you page. This will be tracked on this new issue #63151 with an accordingly priority.

[2022-04-28 18:29] #62558 closed, assigned to WBerredo

[2022-04-28 18:32] #62718 closed, assigned to nelsonec87

[2022-04-28 18:32] bobmatyas opened #63152 "[E-mails] Hide mobile app store icons when email directed at non-wpcom user"
### What

Remove the app icons from the emails to subscribers that don't also run their own site.

![Annotation on 2022-04-28 at 14-30-00](https://user-images.githubusercontent.com/45246438/165822187-f9ea404f-5925-407f-9410-42238122d8b4.png)

### Why

- App icons aren't relevant to all subscribers

### How

_No response_

[2022-04-28 18:33] bobmatyas commented on #63152
Requested in 4963821-zen

[2022-04-28 18:34] cuemarie commented on #53626
Same issue here: 35068705-hc
Privacy Somersault to resolve

[2022-04-28 18:48] metabreakr commented on #59570
Reopening issue. Reported in 30878508-hc

[2022-04-28 18:51] kraftbj commented on #63149
Reopening since the WP.com-side revert didn't resolve the issue on the Jetpack side, so we need to get things back in sync, etc.

Also moving to the Jetpack repo.

[2022-04-28 19:08] masperber commented on #61781
I'm reopening this, as Team Aquila was assigned the [initial report P2 post](p2EDhh-1uP-p2).

I was able to reproduce on a Simple site with Independent Publisher 2 activated. I noted @edequalsawesome 's comment, and I verified that AMP is enabled and search engines are allowed to index [my test site](masperberpm.wordpress.com).

[2022-04-28 19:13] mashikag commented on #62986
I believe this issue is not of the highest priority so we may as well put it on hold until proper designs including this short link are ready. It would be beneficial if we could assign the ticket to someone who is working/will work on the designs till then, so they could change the status of the ticket once it's ready to be implemented.

[2022-04-28 19:47] ClassicRKR27 opened #63154 ""Launch site" is redirecting to "Choose a domain" and not launching site"
### Quick summary

User reported that whenever they click on "Launch Site" they're getting redirected to purchase a domain and the site is not actually launching

### Steps to reproduce

1. Go to Settings > General
2. Click on "Launch Site"

### What you expected to happen

Site would be launched and "Coming Soon" removed

### What actually happened

Gets redirected to purchase a domain - creates

[2022-04-28 19:52] ClassicRKR27 commented on #63154
Looks like this was already reported here: https://github.com/Automattic/wp-calypso/issues/63050

Closing this one.

[2022-04-28 19:52] #63154 closed, assigned to nobody

[2022-04-28 20:05] ericfri opened #63155 "Feature Request: Donation block email with no Site Title."
### What

When a Donation Block has been set up and there is no Site Title set, the email received when a donation is made says "Thanks for your donation to  !" and is missing the "who".

This should have a fallback to something like the site's address when the title is empty.

### Why

This will prevent the email received from having a thanks message that doesn't make sense.
![753f25d5-e554-45f7-

[2022-04-28 20:20] tellisbethel opened #63156 "Payments Button: Inline images cause button to display empty/blank"
### Quick summary

User on Simple site initially had a Payment Buttons block with text and inline images showing properly on their site as seen in the first image. Sometime last week, as seen in the second image, these same buttons were showing without their content.

![image](https://user-images.githubusercontent.com/1767799/165837854-910e2d8e-9db5-45cb-8240-f688779b2f33.png)
![image](https://use

[2022-04-28 20:31] allilevine opened #63157 "Marketplace: Define review protocol"
We'll need a checklist of criteria to determine if a product is ready to be included in the Marketplace. We'll be doing this manually to start, and then automating it in the future. We should base these on:

Marketplace plugin guidelines: P2gHKz-oRG-p2
[WordPress plugin guidelines](https://developer.wordpress.org/plugins/wordpress-org/detailed-plugin-guidelines/)
[WooCommerce.com Marketplace guide

[2022-04-28 20:33] CGastrell commented on #63081
Hey! Trying to understand here how is it that the blocks don't show the same issue on the regular post/page editor. Is there anything special we need to do Crowdsignal side?

[2022-04-28 20:53] monsieur-z commented on #63020
Thanks for the details @sirbrillig.

In pbNhbs-1xX-p2, we've implemented a feature that generates coupons for the yearly term of some products. If the fix is in the admin tool only, we'll need to find a way to disable term switching in the checkout page.

[2022-04-28 20:56] desnum commented on #63026
New case in 5175199-hc

![image](https://user-images.githubusercontent.com/43796228/165844123-204e7361-5ba7-4fe1-bfa5-531d6ae82968.png)

[2022-04-28 20:58] sirbrillig commented on #63020
In that case hopefully the solution is this:

[2022-04-28 21:11] CodeAllNightNDay commented on #56183
35305524-hc

[2022-04-28 21:13] desnum opened #63158 "Feature Request: FSE templates for WooCommerce pages"
### What

Pages such as Shop, Checkout, Cart, etc - pages added by the WooCommerce plugin - don't currently have template options.

### Why

The reason this would be helpful is that sometimes the Woo pages have colors with poor contrast that makes it difficult to read. However, without a template to edit, or CSS to be had, it's impossible to change. For example, please see this [Update Cart] butto

[2022-04-28 22:03] autumnfjeld commented on #63123
From  a discussion with @ianstewart: it would be nice to have an easy way to measure theme picking by _type_ of theme.

The[ is_premium prop already exists](https://github.com/Automattic/wp-calypso/blob/9fb7ac149e55361c0c3a9639ad0caa5e15fc88b0/client/signup/steps/design-picker/index.jsx#L120), but should we make this this analysis easier and throw another prop on [calypso_signup_select_design](htt

[2022-04-28 22:44] sirbrillig commented on #63050
Looks like something might be crashing on the domains page. If anyone can reproduce this, please check the browser console to see if there are any messages there!

[2022-04-29 00:17] Joshgrygiel commented on #63026
Another report here: 5176818-zd

[2022-04-29 01:14] jordesign commented on #63026
Another report in 5174215-zd-woothemes

[2022-04-29 02:41] arthur791004 commented on #63125
Close as it's shipped 🚢

[2022-04-29 02:41] #63125 closed, assigned to arthur791004

[2022-04-29 07:47] syhussaini commented on #63026
Another ticket with the same issue 5175776-zen.
![image](https://user-images.githubusercontent.com/8070771/165904208-78a0af91-23df-460f-94de-dc9c2dcee8d9.png)

[2022-04-29 09:21] #62761 closed, assigned to cpapazoglou

[2022-04-29 10:09] galakhyati commented on #58457
I've pinged Kris Karkoski for helping in creating the macro for the 3PD as we are doing to create a ticket for reaching out to 3PD for any Woo.com extension. Reached out to him here: p1651226829717699-slack-C029JEQRVRT

[2022-04-29 10:48] cpapazoglou commented on #63151
@SaxonF, while it's possible to checkout with multiple items in the cart eg Domain, Plan, 2 Marketplace Plugins, we only have 1 checkout thank you page. Depending on the user flow, we might show the domain, the plan, or the marketplace thank you page. On top of that, if you land in the marketplace thank you page, we only support 1 plugin in the design. So, we actually have two problems:

- Support

[2022-04-29 11:45] mashikag commented on #61693
We are closing this ticket for now. Too many unknowns about the expected behaviour and implementation.

[2022-04-29 11:45] #61693 closed, assigned to nobody

[2022-04-29 11:56] mashikag commented on #62995
Good points @csabarakasz!

To be investigated:
1. `Great content you might have missed` should contain list of posts, not pages.
2. Handle posts with no post title. Either do not display such posts in the list, or provide some fallback content for the post's list item.

[2022-04-29 11:58] kylemcph commented on #62788
Another report here: 33967410-hc

[2022-04-29 12:27] #62729 closed, assigned to gcsecsey

[2022-04-29 12:30] gcsecsey opened #63166 "Marketplace search: use new endpoint to fetch search results in Calypso"
#62777 uses the v1 POST endpoint, which accepts options in the body. The v1.3 GET endpoint supports querying multiple indexes at the same time, and also contains some filtering, so we could reduce the size of the client as well as support more features by utilizing it.

We can reuse some parts of [the jetpack instant-search api lib](https://github.com/Automattic/jetpack/blob/3d17f431c4cf4ae01e10d6

[2022-04-29 12:36] gcsecsey opened #63167 "Marketplace search: Support filtering by popular plugins in Calypso"
The site search index contains WPORG categories, and we can search for those. However, the categories used on the WPORG API (Popular, Featured), are stored in the `plugin_section` taxonomy and are not in the index response:
https://github.com/WordPress/wordpress.org/blob/38e38a5b0bbca67affaf0ec70617db14f3f88f84/wordpress.org/public_html/wp-content/plugins/plugin-directory/class-plugin-directory.ph

[2022-04-29 13:17] cpapazoglou commented on #60699
Closing this as it now depends on Yoast to provide a fix.

[2022-04-29 13:17] #60699 closed, assigned to cpapazoglou

[2022-04-29 13:18] gcsecsey opened #63168 "Marketplace search: Support localized search results"
#62777 only supports results in English. The site search index stores all the translations in the MAG16, so we can create the logic of picking the correct keys. WPORG already does something similar, and boosts fields differently if they're in English, maybe this can be ported to JS:
https://github.com/WordPress/wordpress.org/blob/4ca46fdfef77f45b166e98b402c24082d78689e4/wordpress.org/public_html/w

[2022-04-29 13:22] gcsecsey opened #63169 "Marketplace search: Display fallback pattern for products without icons"
The index contains icon file names in a serialized PHP array. These are deserialized and appended to the WPORG image host (`https://ps.w.org`).

For plugins that don't have icons uploaded to WPORG, the PHP array is empty, so icon URLs can't be produced just from the index response. WPORG generates a geopattern as the icon for these plugins (eg. [here](https://wordpress.org/plugins/slideshare/)).

[2022-04-29 13:23] gcsecsey opened #63170 "Marketplace search: Add the author username/profile link to results"
The index response doesn't contain the author's username or the WPORG profile URL.  We need to get the author username to be able to search for all plugins by the author.

Each hit contains a `taxonomy.plugin_contributors` and a flat `contributors` array:
[code]

Also, the `meta.header_author` object contains a display name, while the rest of the fields contain the slug/username. In the case of Au

[2022-04-29 13:23] gcsecsey opened #63171 "Marketplace search: Return all plugin details page fields from the API"
We can query for an exact match on the product slug from the index, which would let us get the same data to display on the plugin details page. However, as the plugin details page uses more fields from the WPORG response, we should investigate whether we need all the required fields to display the plugin page.

[2022-04-29 13:24] monsieur-z commented on #63020
Thanks @aneeshd16! Yep, that looks good to me.

[2022-04-29 13:43] #63137 closed, assigned to nelsonec87

[2022-04-29 13:48] nelsonec87 opened #63174 "Woo on Stepper: Add error messages to install/transfer steps."
Woo on Stepper: Add error messages to install/transfer steps to be used on the error step.

Relates to #63140

[2022-04-29 13:57] mashikag commented on #62995
**Re:**

I just confirmed that this is long existing issue. It is not specific to the new e-mail templates. Using my sandboxed environment I tested how the old email templates handled such situation where one of the posts has no title. Firstly I removed the title from [Posting a post](http://simplesitetest456643757.wordpress.com/2022/04/12/posting-a-post/) post. From doing the tests in the above h

[2022-04-29 14:39] gcsecsey opened #63177 "Marketplace search: Support custom sorting of search results"
Add support for sorting search results on the plugin search page by:
- price
- alphabetically
- relevance (default)

The v1.3 endpoint sorts by `score_default` which is sorting by relevance, it also supports sorting by `price_asc`, `price_desc`, `date_asc` and `date_desc`. We'll need to investigate adding sorting based on title.

[2022-04-29 14:56] khristiansnyder commented on #61464
We have another report of this happening in 35327778-hc

[2022-04-29 15:08] richardmtl commented on #61464
I think I may have run into something similar (mine is the chat mentioned above, 35327778-hc). However, my issue only started this week. I use WPML on the site, and I have EN and FR on the site. EN goes to the root domain, but FR was configured in WPML to go to domain/fr/post-slug. However, it broke this week, no /fr/ URLs were working. Note, though, that when I changed it to instead use domain/po

[2022-04-29 15:34] lupus2k opened #63179 "Marketplace: Paid plugins are not running sync actions"
When you install a paid plugin, it does not run sync actions on `Jetpack` but it runs on free plugins.
P2 post: pb5gDS-1L1-p2
Possible solutions: pb5gDS-1L1-p2#comment-2685

#### Steps to reproduce

In calypso, it can only be reproduced with the `Sensei Pro` banner.

1. Install `Sensei LMS` plugin.
2. On load `/plugins`, you will see a banner at the top of the plugins page ([screenshot](https://us

[2022-04-29 16:08] Rolilink commented on #63030
Yes please!

Sounds good to me!, it makes the browser component more understandable!

[2022-04-29 16:40] mattwiebe commented on #56998
This was done quite some time ago.

[2022-04-29 16:40] #56998 closed, assigned to nobody

[2022-04-29 16:43] obenland commented on #61464
Hm, I don't have a `atomic-platform.php` file in the mu-plugins folder on my test site. @jmdodd does that file name sound familiar to you?

[2022-04-29 16:48] JoshuaGoode commented on #61464
atomic-platform.php is a plugin within the core platform files @obenland

[2022-04-29 17:43] cuemarie commented on #53027
Requested here: 35328301-hc
Suggested Cloudflare workaround

[2022-04-29 20:06] mtias commented on #62994
@mashikag yes, that's meant to be the featured image or first content image if one is set towards the top of a post.

<img width="742" alt="image" src="https://user-images.githubusercontent.com/548849/166062051-b33abbe0-ec0c-497e-8bec-15e6769b1ef3.png">

[2022-04-29 20:50] guarani opened #63185 "[Bug]: Link to help page for WordPress.com Plans not working"
### Quick summary

When buying a plan, WP.com sometimes offers the user a button to read more about plans, but that button doesn't appear to work.

https://user-images.githubusercontent.com/1898325/166067210-ea10b9d0-b5da-4aef-9b6e-38e97ce06c73.mov

### Steps to reproduce

1. On https://wordpress.com, select a site in the site picker
2. Click Upgrades
3. Click "Start with Pro"
4. Notice a button t

[2022-04-29 20:50] mashikag commented on #62995
I created a patch for this: D79838-code

[2022-04-29 21:01] sirbrillig commented on #63185
This is happening because the checkout page has a hash in the URL, `/checkout/sitename#step2`, and the help modal tries to add a query string to the page, but does so poorly without considering the URL structure and ends up just appending it to the hash like `/checkout/sitename#step2?support-article=XXXXX`. Since that's not a real query string, it does nothing.

Fortunately, URL parsing is pretty

[2022-04-29 21:05] sirbrillig commented on #63185
It looks like this bug in `@wordpress/url` was already reported in https://github.com/WordPress/gutenberg/issues/16655

[2022-04-29 21:05] shykonessy commented on #63152
Please return the category and tags section at the bottom of the email templates. Or, revert to the old email template all together. Kindly.

[2022-04-29 21:10] chriskmnds opened #63186 "Plans Overhaul: Upgrade logic may be missing functionality from previous/original handler"
### Details

The [original plan upgrade logic](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plan-features/index.jsx#L561) seems to have been ported over to the new plans only partially [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plans/main.jsx#L122). We recently discovered a bug with missing coupon support, which we fixed roughly in https://git

[2022-04-29 21:19] chriskmnds commented on #63186
Bumping this to `Pri High` as there may be more breakage lurking here, but hopefully not 🤞

CC @southp would be nice to have a project, milestone, and labels in Calypso to be tracking these issues outside of the Trello board really :-)

[2022-04-29 22:20] noahtallen commented on #62788
Thanks for the tip, it does indeed look like it's was the same issue: #56930

[2022-04-30 02:20] formosattic commented on #57881
+1 33140763-hc

[2022-04-30 04:01] MaxPhilip commented on #53102
5177276-zd

[2022-04-30 04:03] joweber123 commented on #59860
Requested in 28736061-hc

[2022-04-30 06:22] Rolilink opened #63191 "Marketplace: Breakdown PluginBrowser children into independent components"
Due to the `PluginBrowser` file becoming to large (700+ LOC) we want to divide it into smaller components and move them into different files.

As a first step, we should share a plan for improving reusability and readability of these components and tag Explorers and Bespin for review.

[2022-04-30 06:42] Rolilink commented on #63191
@lsl will love your input on this one.

[2022-04-30 06:44] Rolilink commented on #62935
Added #63191

[2022-04-30 06:46] Rolilink opened #63192 "Marketplace: Add usePlugins hook"
There is a lot of conditional plugin fetching through different children of the PluginBrowser component like [here](https://github.com/Automattic/wp-calypso/blob/115363bdb05ae5e986486b41fbd2b64c21ceb26e/client/my-sites/plugins/plugins-browser/index.jsx#L112-L117), [here](https://github.com/Automattic/wp-calypso/blob/115363bdb05ae5e986486b41fbd2b64c21ceb26e/client/my-sites/plugins/plugins-browser/i

[2022-04-30 07:00] Rolilink commented on #62935
Added #63192 for the Hook, this one should probably be worked before #63191

[2022-04-30 07:21] sophiegyo commented on #62992
Additional feedback from 5164849-zen - the user submitting the report wants an easy way to reach the site of the person who liked/commented on their post. Related: #62989

[2022-04-30 07:21] sophiegyo commented on #62989
Additional feedback from 5164849-zen - screenshots in the ticket show the "great posts worth seeing" section simply doesn't appear in the new template. The user submitting the report wants them back, or an easy way to reach the site of the person who liked/commented on their post. Related: #62992

[2022-04-30 07:27] Rolilink commented on #63014
I identified a couple of places where this component exist, when there is a PR present lest do some team testing to ensure it is working everywhere

[2022-04-30 08:22] mashikag commented on #62989
**Re @yansern:**

I just had a look, and the new templates do not include the `Great posts worth seeing from user` paragraph at all for "New comment", "Post liked" or "Comment liked" templates. It was neither mentioned in designs.

@mtias should we just include the paragraph at the bottom of the email's body, just above the footer, or you would prefer for this to go through design first?

[2022-04-30 11:16] Robertght commented on #62755
Another case with Astra/Elementor in 5179996-zen

[2022-04-30 18:19] spraveenitpro opened #63194 "[Bug]: Migrate Testing from Enzyme to Jest and React testing library for the FollowButton block"
### Quick summary

The follow-button component is using the enzyme framework for testing,  We need to migrate it to React-testing-library and jext

### Steps to reproduce

1. We will have to refactor the code in the test folder within the component folder.

### What you expected to happen

After migration we should see that React-testing library and Jest are used to make the assertions and test

[2022-04-30 20:17] smithtimmytim commented on #38441
Tackling this issue first 😄

[2022-05-01 01:26] formosattic commented on #62996
Thanks @mashikag!

My test user indeed didn't have a custom Gravatar, and `Hide my Gravatar profile` was turned on. But I've set a custom Gravatar now, and turned off `Hide my Gravatar profile`, and the generic Gravatar still shows. Maybe the new Gravatar is slow to get refreshed. I'll leave this closed.

[2022-05-01 01:35] rosepajaroja commented on #44554
Hello all, this issue seems to be happening again - protected contents appear on the Reader.

Reported here: hc-35160826

Post - https://shanbae.com/discomforting-revelations/
*Note seems like they did a workaround to hide the protected contents from the Reader by using the "More" block.

I tested and could replicate the issue on my test site:
Sample post: https://woowebinar.wordpress.com/2022/05/

[2022-05-01 04:49] formosattic opened #63196 "Subscribe block: Custom button text is not visible after a double-quote"
### Quick summary

Double-quotes don't play well with the custom text, it will hide some or show `Subscribe`.

### Steps to reproduce

1. Add a Subscribe block
2. Edit the text button that include one or a few double-quotes

### What you expected to happen

To have the text from the editor show in the live preview.

Editor view:
![image1](https://user-images.githubusercontent.com/15944096/16613259

[2022-05-01 08:07] formosattic opened #63197 "Post & Page Visibility: "Password Protected" option, add a warning for media files"
### What

![image1](https://user-images.githubusercontent.com/15944096/166137422-175c19e6-ea67-4dad-b91e-2ea0c4d0beb0.png)

Quoting https://wordpress.com/support/post-and-page-visibility/#additional-notes:

### Why

This often trips users who think media files will also be protected, so may share sensitive files, and be badly surprised when noticing unusual access to those media files.

Context: 5

[2022-05-01 12:56] csabarakasz opened #63199 "Profile Photo: Can't update when "Hide my Gravatar profile" is toggled ON"
### Quick summary

User reported and tested on my own site as well.

It seems like when an account wants toggles the **Hide my Gravatar profile** option at https://wordpress.com/me, they won't be able to update their profile photo.

Error:

[code]

Untoggled: I can update photo.
![CleanShot 2022-05-01 at 14 46 56](https://user-images.githubusercontent.com/84539773/166146852-54dbcf49-b47c-4882-ac61

[2022-05-01 12:57] csabarakasz commented on #63199
5182077-zd-woothemes

[2022-05-01 20:27] ccwalburn opened #63200 "Premium Content as a Reusable Block: White Dot on Publish Button appears when Reusable block has not been modified"
### Quick summary

If you modify a Reusable block while editing a post, a white dot appears on the Publish button, but there are some situations where the white dot is displaying even when no changes are being made to the reusable block on the page.

<img width="1261" alt="Screenshot 2022-04-28 at 20 32 42" src="https://user-images.githubusercontent.com/15944096/166420677-1c0465b3-eadf-48c0-824e-0

[2022-05-01 20:41] tavilla61 opened #63201 "Hash symbol creates issues on alt-text for images"
### Quick summary

User reported that using a hashtag symbol in alt text on their images results in the text becoming "mangled" and generating a broken code below the image, instead of the description of the image.

### Steps to reproduce

1. http://transponderingsblog.wpcomstaging.com/
2. I wasn't able to reproduce the issue, but the user said they saw it anywhere they tried to use alt text.
3. L

[2022-05-01 21:36] csabarakasz commented on #62992
13657252-hc same feature request here. The user would like to have a quick link to reply to the commenter via their email!

[2022-05-01 22:19] supernovia commented on #2082
Still hoping for this feature, either in the dashboard or in a filter for notifications. People sometimes want to find the things they haven't responded to.

[2022-05-01 22:29] csabarakasz commented on #62995
Thank you so much for the update and the patch! :)

[2022-05-02 01:53] arinoch commented on #57449
User in 5175251-zd-woothemes has the issue referred to earlier re: the WooCommerce checkout block freezing the editor. The shortcode works without freezing, so provided that as a workaround.

[2022-05-02 01:59] arinoch commented on #57812
5181915-zd-woothemes

Provided workaround.

[2022-05-02 03:53] southp commented on #62430
Reopen since there was some unfixed cased identified. It is now working in code-D78635

[2022-05-02 05:05] vishnugopal opened #63202 "WordPress Importer: Fails to detect Jetpack plan"

[2022-05-02 05:06] vishnugopal commented on #63202
See: p1651264773045379-slack-C01A60HCGUA

[2022-05-02 05:07] p-jackson commented on #44427
Just deployed D78584-code which fixes the first issue. Newly uploaded images will now be attached to the correct post.

[2022-05-02 05:46] KokkieH commented on #45586
Thanks, @vishnugopal. Still waiting for the user to confirm the site URL in the forum thread - they haven't replied to me yet.

[2022-05-02 06:51] pauljacobson commented on #63200
The user has followed up with us, and has described this issue as a blocker for them.

[2022-05-02 07:51] ivan-ottinger commented on #62996
That was also my experience when I was experimenting with Gravatar changes.

[2022-05-02 08:01] pauljacobson opened #63203 "Backup and Restore: Incomplete and inconsistent backup restores when posts include Forminator content"
### Quick summary

Our user has a series of posts with embedded [Forminator](https://wordpress.org/plugins/forminator/) polls. They restored two sets of backups, and noticed that the restores inconsistently restored Forminator polls to their posts on one of the days they restored from, while whole posts were missing on another day.

### Steps to reproduce

1. The user restored posts from 29 and 30

[2022-05-02 08:19] rw-ye commented on #59570
Another report here: 4850193-zd-woothemes

I can reproduce the issue when creating a custom template and then trying to switch the template on the page to it.

https://user-images.githubusercontent.com/21261509/166203257-dc9ca99b-4fe1-475b-a468-de06a3f8ae57.mov

https://user-images.githubusercontent.com/21261509/166205010-8740b849-dc7f-45fd-8cf3-cedccbe6c525.mov

[2022-05-02 08:53] formosattic commented on #62989
+1  5181732-zd-woothemes

[2022-05-02 10:11] ivan-ottinger commented on #63111
We have deployed the fix (D79744-code) to production. → Closing this issue.

[2022-05-02 10:17] #62995 closed, assigned to mashikag

[2022-05-02 10:51] wiesenhauss commented on #50740
4936393-zd reports the same issue again (Simple site).

[2022-05-02 11:02] bogiii commented on #63202
Answer: p1651489253296669/1651264773.045379-slack-C01A60HCGUA

[2022-05-02 12:05] nelsonec87 opened #63205 "Stepper: Ui glitch on the storeAddress step"
On the stepper storeAddress step, the form width changes when the Country dropdown is focused

![image](https://user-images.githubusercontent.com/3801502/166230802-ed9326e4-e05d-46fd-87b7-607678ea2cf2.png)

![image](https://user-images.githubusercontent.com/3801502/166230817-b5437133-a468-4180-b1a5-2de718460a38.png)

[2022-05-02 13:13] #62914 closed, assigned to markbiek

[2022-05-02 13:22] Nic-Sevic opened #63206 "Pro plan unable to access chat when language not English"
### Quick summary

User with a pro plan is not able to access chat when the profile (not site) language is set to Spanish

I tried to replicate this on a test site but was unable to. I could consistently reproduce on the user's site though

Possibly related issue here: https://github.com/Automattic/wp-calypso/issues/52315

### Steps to reproduce

1. Try to access chat from help bubble with profile

[2022-05-02 14:00] cintacks opened #63209 "Navigation Block not populating page links"
### Quick summary

Navigation Block isn't populating page links (but other link types are ok), effectively making menu invisible on frontend.

### Steps to reproduce

1. Add Navigation Block
2. Add page link
3. View frontend, page link not visible, even in HTML

### What you expected to happen

Page links should be visible

### What actually happened

Page links not included in code.

### Context

[2022-05-02 14:10] liviopv commented on #62063
@that-mike-bal I did an initial review of the patterns and asked my team for validation in p9ag8j-1X0-p2 I'll start adding the category once it's reviewed.

[2022-05-02 14:33] Nic-Sevic opened #63210 "Unable to access chat with broken Jetpack connection"
### Quick summary

When a user has a single site with chat permissions and the Jetpack connection is broken they are not able to access chat to get help fixing the connection or otherwise. It does not matter if they have other sites that don't have chat access or not.

### Steps to reproduce

1. Set up a user with an AT site and plan that includes chat support (pro/bus/ecom)
3. verify that chat av

[2022-05-02 14:49] mmtr commented on #58927
@sejas and I have been taking a look at this today, and it looks like the issue is no longer reproducible since the Plans page uses now a new design where popovers are displayed on hover.

We also took at look at the other pages to check if the issue was happening in other places, but we didn't find anything.

So we think we can close this one out. Please, feel free to reopen if we missed any page

[2022-05-02 14:49] #58927 closed, assigned to sejas, mmtr

[2022-05-02 15:13] blackjackkent commented on #62666
Closing this since all UI steps are now implemented, finishing with #62735 ! :)

[2022-05-02 15:13] #62666 closed, assigned to sixhours

[2022-05-02 15:19] sixhours opened #63212 "Anchor: Fix bug with API overwriting onboard store site title upon clicking Back"
I think something in the logic here might be wonky, because using the back button into the podcast title step seems to re-fetch from the api.

Steps to reproduce:
1) Open `/setup/podcastTitle?anchor_podcast={podcastid}`
2) Change the prepopulated name to something new
3) Submit and go to the next step
4) Click the back button
5) The title is populated with the Anchor API title, not the updated one

[2022-05-02 15:43] sixhours opened #63213 "Anchor: Make sure Home page is created before we redirect to it"
Upon completing the Anchor flow, we're redirected to a malformed URL that looks like `/page/[siteSlug]/?site=home` -- this is likely because the Home page hasn't been created before we begin the redirect to the correct URL at `/page/[siteSlug]/home/`.

[2022-05-02 15:44] rambogenius opened #63214 "Cols Theme Menu Issue"
### Quick summary

[Cols](https://wordpress.com/theme/cols) a free theme on WordPress.com, has a menu issue where it reverses the order items on front end. So the order shown is the reverse of what one adds in the Customizer.

User site: http://athal.blog
Also can be seen in the theme demo: https://colsdemo.wordpress.com/

Screenshots:
Theme demo menu items front end:
<img width="247" alt="Markup

[2022-05-02 15:45] sixhours opened #63215 "Anchor: Handle case where blog with matching podcast ID already exists"
If someone comes into the Anchor flow with an `anchor_podcast` ID param that matches one found on an existing WP.com blog, we don't want to create a new site; we should instead redirect them to the page editor with their latest episode's post.

This is similar to #63219 but without `anchor_episode` data; we probably need to hit the API endpoint at `/wp-content/rest-api-plugins/endpoints/anchor.php

[2022-05-02 15:46] sixhours opened #63216 "Anchor: Add error handling for invalid podcast ID"
The old flow shows an error when attempting to start the flow with an invalid podcast ID param for `anchor_podcast` -- we should probably do the same rather than failing silently.

Example, when you visit `wordpress.com/new?anchor_podcast=something`:

<img width="1116" alt="Screen Shot 2022-05-02 at 11 46 42 AM" src="https://user-images.githubusercontent.com/2124984/166264391-c8b5a790-cc4e-4b12-91

[2022-05-02 15:55] sixhours opened #63218 "Anchor: Run the correct theme setup process on site creation"
The three themes for Anchor.fm sites -- Hannah, Gilbert, and Riley -- are not actual "themes" as we know them. They're Headstart JSON files located at `/wp-content/lib/nux-helpers/gutenboarding-content/[themeName].json`, and based on parent themes Mayland and Spearhead.

The current flow correctly assigns the parent themes but doesn't yet run the Headstart setup with the modified JSON files that t

[2022-05-02 16:17] #63185 closed, assigned to sirbrillig

[2022-05-02 16:20] sixhours opened #63219 "Anchor: Handle `anchor_episode` param redirect"
When an `anchor_episode` param is present and valid, and a site already exists with the `anchor_podcast` ID, we should redirect to the page editor with an `anchor_episode` param.

API endpoint to determine how we're redirected:

`/wp-content/rest-api-plugins/endpoints/anchor.php?r=fe701b92#72`

Logic that sends us to the editor with an episode ID param that should* populate the post from the most

[2022-05-02 17:00] sixhours commented on #63215
Looks like we may have an existing hook we can migrate over to stepper: https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/gutenboarding/hooks/use-detect-matching-anchor-site.ts

[2022-05-02 17:00] sixhours commented on #63219
Looks like we may have an existing hook we can migrate over to stepper: https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/gutenboarding/hooks/use-detect-matching-anchor-site.ts

[2022-05-02 17:24] #63140 closed, assigned to nelsonec87

[2022-05-02 17:37] kimerlin81 commented on #62788
reported [here](5184675-zd-woothemes), but workaround is acceptable for the user

[2022-05-02 18:36] kathrynwp commented on #63082
Ran into this in 35348273-hc as well

Provided the CSS workaround mentioned in the OP.

[2022-05-02 18:41] jamiepalatnik commented on #60875
Another user reporting that not seeing any demo content when they switch themes is a confusing experience: 35331632-hc

[2022-05-02 18:49] csabarakasz commented on #53626
5184959-zd-woothemes Site was Public but live it showed coming soon. Switched to Private (there was no Coming soon option) and Public again, and that made the site Public.

Pro plan. AT site. Byrne theme

[2022-05-02 19:27] helenaartmann commented on #61785
Another report: 5183244-zd

Gave them the two workarounds suggested above.

[2022-05-02 19:35] metabreakr commented on #62992
5164946-zen

[2022-05-02 19:40] sixhours commented on #63218
Confirmed while investigating this that the `theme-setup` endpoint is running after Headstart initially sets up the site with the podcasting data, so if we disable `theme-setup` just for Anchor sites (or just for Hannah, Gilbert, and Riley templates), the correct annotations should be applied.

[2022-05-02 21:04] sophiegyo commented on #62788
Another one in 5166076-zen but it looks like the user had already activated Gutenberg before I got to the ticket.

[2022-05-02 22:54] jeyip opened #63229 "Blockbase & children: Google fonts not appearing in Global Styles for some sites"
### Quick summary

Google fonts appear for new atomic sites, but not for some existing ones.

### Steps to reproduce

The easiest way to reproduce this is to find an existing atomic site with the site editor enabled.

1. Visit the site editor
2. Open the Global Styles panel
3. Navigate to typography settings
4. Open the font family dropdown
5. Verify that no google fonts appear ( like `Roboto` or

[2022-05-02 23:43] nelsonec87 commented on #63174
Closing as the default error message is the right one for these steps!

[2022-05-02 23:43] #63174 closed, assigned to nelsonec87

[2022-05-02 23:46] #62788 closed, assigned to noahtallen

[2022-05-02 23:58] tanjoymor opened #63233 "Pricing discrepancy on Jetpack Search"
### Quick summary

When I tried to add Jetpack Search to my site, it says it’s $3/mth billed annually. But when it’s added to my cart it’s charging $144 (CAD)

### Steps to reproduce

1. On an AT site with currency set as CAD, go to Jetpack > Settings > Performance
2. Click the Upgrade option for Jetpack Search
3. Page displays an introductory price of $3/month billed yearly (discounted from $6/mo

[2022-05-03 01:15] gutenberg-plugin-upgrade-bot[bot] opened #63235 "Gutenberg: v13.2.x plugin upgrade"
Previous upgrade: #62859
Release notes: [v13.2.1](https://github.com/WordPress/gutenberg/releases/tag/v13.2.1)

**Install and activate**

- [ ] Install and activate v13.2.0-rc.1 on edge (######-code)
- [x] Install and activate v13.2.0-rc.2 on edge (D80306-code)
- [x] Install and activate v13.2.0 on edge (D80577-code)
- [ ] Activate v13.2.0 on production (######-code)
- [ ] Request v13.2.0 AT upgra

[2022-05-03 01:16] #62433 closed, assigned to nobody

[2022-05-03 02:35] arthur791004 commented on #62194
Close it as all of the tasks are finished. We'll continue to iterate it based on the feedback. See https://github.com/Automattic/wp-calypso/issues/62369

[2022-05-03 02:35] #62194 closed, assigned to arthur791004

[2022-05-03 04:03] arthur791004 commented on #62197
Close it in favor of the image replacement based on the orientation and aspect ratio first. See https://github.com/Automattic/wp-calypso/issues/62812 for more details. Once we need this again, we could reopen this issue at that time.

[2022-05-03 04:03] #62197 closed, assigned to arthur791004

[2022-05-03 05:15] lsl commented on #62935
Not sure if you caught this change to search https://github.com/Automattic/wp-calypso/pull/62777, maybe rope in @gcsecsey as a heads up, I don't think we'll be touching search logic itself but sounds like that hook might change how/where/when its called.

[2022-05-03 05:42] lsl commented on #63191
Looks good, here's some more ideas :smile:

I'd love if this code didn't exist, or was moved into a hook:

- https://github.com/Automattic/wp-calypso/blob/9fb7ac149e55361c0c3a9639ad0caa5e15fc88b0/client/my-sites/plugins/plugins-browser/index.jsx#L540-L553
- https://github.com/Automattic/wp-calypso/blob/9fb7ac149e55361c0c3a9639ad0caa5e15fc88b0/client/my-sites/plugins/plugins-browser/index.jsx#L481-

[2022-05-03 06:50] sophiegyo commented on #62990
Possibly related - missing external link "button" in the new post email. Reported in: 5182954-zen

User report includes two screenshots showing 1) missing author Gravatar and 2) missing Patreon link.
The Patreon link (and normal Gravatar) can be seen in the post in the Reader:
https://wordpress.com/read/feeds/98177303/posts/3986875636

[2022-05-03 07:32] jromales commented on #61721
5182853-zd-woothemes another user reported the same issue with their Simple site. I mentioned the workaround to remove `<mark>` tags

[2022-05-03 08:40] gius80 commented on #56167
This seems be resolved after Domain Management redesign (I double check on the user account).
I'll close this issue.

[2022-05-03 08:40] #56167 closed, assigned to nobody

[2022-05-03 08:44] #62126 closed, assigned to gius80

[2022-05-03 09:06] andrii-lysenko commented on #63233
Thank you for the detailed description. The task was created and we will keep this issue updated.

[2022-05-03 09:34] formosattic commented on #63214
I was able to reproduce with the Cols theme:

![image1](https://user-images.githubusercontent.com/15944096/166431791-ef86b1e3-51dc-44a2-baad-43d6fe89f047.png)

Updated the initial reports with the relevant user interaction link and internal discussion with Themes.

Transferring this to Themes repo.

[2022-05-03 09:37] vinnykaur commented on #62996
I got another user where they are missing Gravatar image on the emails.

Screenshot: https://d.pr/i/IwLMvJ

Re-opening this so that someone can look into it.

Reported in zd-5182954

[2022-05-03 10:04] #61952 closed, assigned to epeicher

[2022-05-03 10:33] #63040 closed, assigned to sejas, mmtr

[2022-05-03 11:30] formosattic commented on #63200
In Visual view, nothing changes, but when checking the revisions of the Premium Content Reusable block, we notice that the URL of the buttons get updated with the ID of the post, so that explains why the editor is detecting a modification (and the white dot appears)

**What is the expected behavior of a Premium Content block that is reusable?**

Example from test site (Premium Content block not co

[2022-05-03 11:56] arthur791004 opened #63240 "Pull the patterns in the Recipe Tool"
#### Changes proposed in this Pull Request

D79955-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62683

[2022-05-03 12:59] ivan-ottinger commented on #62996
Thanks for the report @vinnykaur.

This one required a bit of digging, but it turns out the issue isn't related to the new email templates. I tested sending an email using the old template and the Gravatar image was still missing.

The culprit is the deactivated "Show Avatars" setting in `wp-admin/options-discussion.php`:

![Markup on 2022-05-03 at 14:56:58](https://user-images.githubusercontent.c

[2022-05-03 12:59] #62996 closed, assigned to formosattic

[2022-05-03 13:01] valterlorran commented on #58247
I left a comment related to this issue:
p1651582723781139-slack-C0202PMUXLJ

[2022-05-03 13:15] gcsecsey commented on #62935
Thanks for the heads up @lsl! I'm working on fetching data from a new endpoint, but the intention is to keep the same plugins schema, so the hook can be swapped in place of the `useWPCOMPlugins`, `useWPORGPlugins` or `useWPORGInfinitePlugins` hooks: https://github.com/Automattic/wp-calypso/issues/62729#issuecomment-1112169085

[2022-05-03 14:13] zdenys commented on #53626
5186653-zd-woothemes

[2022-05-03 14:41] #63215 closed, assigned to sixhours

[2022-05-03 14:46] AMcGrady commented on #63091
From a user:

If the email displays too large to fit a single display, if forwarded, the forward is the correct size.
If the email displays properly, and you forward that, the forward is too large.

[2022-05-03 15:12] lupus2k commented on #63179
Hey @cpapazoglou. I tried your suggestion but the `wp activate` command runs perfectly but still does not sync and there is no CLI command to sync just whatever I want.
One solution is to run `wp jetpack sync start` and sync the jetpack site after a plugin is installed/uninstalled

[2022-05-03 15:46] Rolilink commented on #63191
The first two points I have in mind working them on the `usePlugins` hook!

I will prefer not moving stuff into the browser since this will cause a lot of conditional fetching, I will prefer having smart components like `SearchResults` (fetches and render results), `CategoriesResults` (fetches and render results) and `DiscoveryView` (fetches and render the main page sections). That way the data fe

[2022-05-03 15:48] dpasque opened #63245 "Patterns: Core patterns are not available on simple sites"
### Quick summary

On some simple sites, core patterns (those that come from WordPress.org) are missing in the editor.

What's more confusing is that this doesn't seem to be 100% reproducible.

This was first noticed[ from this test failing](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/editor-tracking/editor-tracking__pattern-events.ts). While it fails the majority of times o

[2022-05-03 15:52] #62910 closed, assigned to Rolilink

[2022-05-03 15:56] sixhours commented on #63219
I'm getting some odd/unexpected behavior when running through this flow with a valid episode ID in the query param, but it appears Anchor is doing some maintenance so it's possibly related to that. Will wait until they're back online and test it again. Just noting the editor integration is handled by this code:

https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/

[2022-05-03 16:01] #62756 closed, assigned to arcangelini

[2022-05-03 16:03] blackjackkent opened #63246 "Seller Exp - Refactor thunk usage in onboarding to latest version of wp-data"
Once #60161 is merged in, we can remove and refine our usages of wp-data in stepper onboarding to more cleanly use the thunk architecture without the experimental flag.

A good example of what this looks like in practice is the [getAutomatedTransferEligibility](https://github.com/Automattic/wp-calypso/blob/trunk/packages/data-stores/src/automated-transfer-eligibility/resolvers.ts#L9) resolver in t

[2022-05-03 16:29] wiesenhauss commented on #61293
I still see a lot of confusion regarding this. Some users will even ask to have those "credits" applied to other purchases (e.g., domains). At least two customers asked for a way to withdraw those to their bank accounts. I agree we have to include a link to a support page, but changing the words would be even better!

[2022-05-03 16:55] StefMattana commented on #62994
Another potential report here: https://wordpress.org/support/topic/subscriber-emails-no-longer-display-images/
Users can't see images via laptop and mobile (Samsung and iPhone)

[2022-05-03 17:04] chriskmnds opened #63249 "Plans overhaul: Cleanup - revisit use of "Flexible" in plans logic"
### Details

A lot of logic for the new plans is built around the term `FLEXIBLE` e.g. stemming from [product constants](https://github.com/Automattic/wp-calypso/blob/trunk/packages/calypso-products/src/constants/wpcom.ts). The new free plan is effectively treated as a Flexible plan type right now, albeit not sure if there's anything "flexible" in it (especially with the Starter plan coming at pla

[2022-05-03 17:40] thekingsprojects commented on #62998
Another case here: 30410063-hc (follow-up: 5187419-zen)

The issue the user actually came to chat to report was that they also can't overwrite the selected text—if they want to select multiple lines and then type new text directly "over" them, nothing happens. I noticed that the above issue (being unable to style the text) also applies when I was testing that.

Also, selecting exactly two lines (r

[2022-05-03 17:51] sixhours commented on #63219
Now that Anchor is back up and running, this is working since #63224 was deployed.

[2022-05-03 17:51] #63219 closed, assigned to sixhours

[2022-05-03 18:40] #63213 closed, assigned to valterlorran

[2022-05-03 18:51] jp-imagines commented on #50164
Another new case in 5187573-zd-woothemes. User wasn't able to see the video thumbnails on the mobile app on an iPhone and we were able to replicate on mobile Safari.

Added this issue to the HE Triaging Board.

[2022-05-03 19:41] sirbrillig commented on #50064
I apologize for adding more confusion to this plan. I don't love using `dangerouslySetInnerHTML`, but in this case it's probably pretty safe and I think it will unblock this project. We can always change it later.

In addition, I think it's best to limit the scope of this to just the plans page pricing to start with. The plans page is not an easy thing to modify and it's arguably one of the most i

[2022-05-03 20:19] NoHopeRadio commented on #56781
Another case in 5187605-zd, 35369377-hc

[2022-05-03 20:30] #63218 closed, assigned to sixhours

[2022-05-03 20:48] sixhours commented on #63066
Most of the events in the current Anchor flow are specific to Gutenboarding, not Anchor. Should we create new Tracks event names, or use the old event names to preserve existing data? Do we need to include specific events for entering and leaving a step in the flow, or can we use the current Stepper defaults? I lean toward changing things up, but if so, we need to document that change somewhere fo

[2022-05-03 20:51] jjchrisdiehl commented on #50064
@sirbrillig I've opened a PR for the beginning of a fix to the pricing found on My Plans > Manage Plans. Should we include this in the scope of this fix? Perhaps we look at the following:

- Plans section (legacy and new plans?)
- Manage Plans

[2022-05-03 20:54] obenland commented on #55328
See D79892-code

[2022-05-03 21:33] lsl commented on #63191
LGTM

[2022-05-03 22:05] sirbrillig commented on #50064
That sounds fine to me. Whatever feels good to you as you are working on it. If it feels like something is taking too much work, maybe reconsider it.

[2022-05-03 22:11] sirbrillig commented on #45002
This is kind of handled now since https://github.com/Automattic/wp-calypso/pull/62114

[2022-05-03 22:11] #45002 closed

[2022-05-04 01:23] annbingle commented on #57411
Same issue here 35360684-hc . However the user is using PDF instead and it only affects the mobile. The same issue with a simple site and after it was moved to AT. As a workaround I had them host the PDF files in Google Drive instead.

[2022-05-04 02:17] cuemarie opened #63262 "Site Editor redirects to New Post Editor instead"
### Quick summary

User reported that when they go to **Appearance > Editor**, they're being redirected to `/wp-admin/post-new.php?post_type=post&calypsoify=1`

I was able to reproduce on my end as well, but only on their site at the moment.

### Steps to reproduce

1. Open user's site via SU
2. Select Appearance > Editor (in same window)

### What you expected to happen

Site Editor opens

### Wh

[2022-05-04 02:31] aisajib commented on #60875
The user on 35228712-hc was having trouble with this as they thought the theme wasn't being activated, and we had to manually copy-paste the content over from the demo site.

[2022-05-04 02:42] cuemarie commented on #63262
Got a little further with testing this in the chat - switching the primary address to their default domain seems to have resolved the issue. (User hasn't been able to confirm yet due to other issues, but thinking this was a domain thing). Closing this!

[2022-05-04 03:39] formosattic commented on #63200
Got some clarifications internal: p1651579207312679-slack-CJS75TX3R:

The white dot on the Publish button indicating the change is the expected behavior, so will close this report.

We'll want to explain this to users, and guide their workflow based on this expected behavior.

[2022-05-04 03:39] #63200 closed, assigned to nobody

[2022-05-04 04:03] lsl commented on #62912
https://github.com/Automattic/wp-calypso/pull/63161

[2022-05-04 04:03] #62912 closed, assigned to lupus2k

[2022-05-04 05:08] lsl commented on #63030
- [ ] Figure out if we can remove these [redirect handlers](https://github.com/Automattic/wp-calypso/blob/0b1198ce5237a2540aaeeff024da4d5532a84acb/client/my-sites/plugins/index.js#L36-L49). What are these for?

https://github.com/Automattic/wp-calypso/pull/63264 / D80029-code

[2022-05-04 05:09] rw-ye opened #63267 "One-time donation incorrectly displays a notification for a 'next payment'"
### Quick summary

The user reached out to us about the following notification they see for a one-time donation they received. The message states that `your next payment is on 04 May 2022` even though it is not a re-occurring donation.

<img width="651" alt="Markup 2022-05-04 at 14 52 59" src="https://user-images.githubusercontent.com/21261509/166625135-366422e5-75d1-48ae-8c12-a6af13778c1f.png">

[2022-05-04 05:31] lsl commented on #63030
- [ ] [Dead code?](https://github.com/Automattic/wp-calypso/blob/9e41858a07e5e404f28e7da7e82afb4197b5416d/client/my-sites/plugins/controller.js#L183-L186)

https://github.com/Automattic/wp-calypso/pull/63268

[2022-05-04 06:11] southp commented on #63249
Ah, great point, @chriskmnds . Thanks for raising it and documenting it here.
I'm moving it into the Backlog for now since I feel it can be done after the current phase is done. However, please let me know if you feel the other way :)

[2022-05-04 06:36] sophiegyo commented on #59570
Another instance of this in 5182756-zen - I checked and was able to replicate.

Theme: Blank Canvas

It looks like I was able to apply the user's Homepage template to a test page, after creating my own test template?
Now what I see on the user's site is: My test-template shows the invalid paramteter(s) error when I try to select it. I am able to select the user's template. It's as if my test templ

[2022-05-04 07:36] inaikem commented on #62992
@Automattic/dotcom-triage-pa-group, I've added this to our bulk reply board 🙏

[2022-05-04 08:05] #62449 closed, assigned to taipeicoder

[2022-05-04 08:13] rickmgithub opened #63269 "Libre 2 showing galleries incorrectly"
### Quick summary

* Theme is Libre 2
* The home page is set to latest posts
* On this theme when you add a gallery to a post, it should show on the home page in the same format as the gallery was set in the post itself. e.g. if images were side by side they should show side by side.
* This occurs on posts above the "older posts" button but not underneath it. Here the galleries have been stacked
*

[2022-05-04 08:22] arthur791004 commented on #63240
Close as it's shipped!

[2022-05-04 08:22] #63240 closed, assigned to arthur791004

[2022-05-04 08:30] rickmgithub opened #63270 "Exford theme distorts editor"
### Quick summary

https://risingcrowtherapies.com/

- User is editing the page "Events & Retreats" here: https://wordpress.com/page/risingcrowtherapies.com/245
- They have a lot of content that is going blank or with a color background instead of displaying the block.

### Steps to reproduce

- The page looks good on the front-end: https://risingcrowtherapies.com/events-and-retreats/
- Here is a

[2022-05-04 08:31] arthur791004 commented on #62198
Close it in favor of https://github.com/Automattic/wp-calypso/issues/62812. Currently, we decide to analyze the image dimensions and replace them with the naive way (ex. orientation, aspect ratio, etc) instead of the tagging. If we think the result doesn't look good, we'll be back to using the tagging to improve the result.

[2022-05-04 08:31] #62198 closed, assigned to arthur791004

[2022-05-04 09:49] #56929 closed, assigned to martian77

[2022-05-04 10:15] arthur791004 commented on #63124
Close as it's shipped 🚢

[2022-05-04 10:15] #63124 closed, assigned to arthur791004

[2022-05-04 10:27] cintacks opened #63274 "Add template background customization to FSE"
### What

It could be useful to set a background color and/or pattern/image on a template basis in FSE, rather than setting a global style or relying on CSS.

### Why

Sometimes users want different backgrounds on different pages. It would be fairly simple to give them this level of customization

### How

I imagine that the way CSS styles are applied at the Block level could be applied in a simil

[2022-05-04 11:11] escapemanuele opened #63275 "Help Center: Fix design problems"
Design Improvements.

## Article Page
- External link icon should be 20px (I had issues seeing it on the live site so still need to look again)
- All titles should be var( --color-neutral-100);
- h1 should be: font-size 20px, font-weight: 600;
- h4 should be: font-size 16px, font-weight: 600;
- h5 should be 14px, font-weight: 600;
- p should be: 14px, var( --color-neutral-80 );
- remove `.support-

[2022-05-04 12:10] annbingle opened #63279 "Insert button (+) symbol hovering on content."
### Quick summary

The user reported that the + symbol (insert block) is hovering on the content unlike before.

The + symbol still works but the user is not happy with the blue line overlapping on the   content.

I tested it from my test site and I can replicate the issue as well.

Issue is seen on both Simple and AT site.

### Steps to reproduce

1. Create a content with any block then hover the

[2022-05-04 12:20] jorpdesigns commented on #63082
Reported in 35376910-hc. Shared CSS workaround.

[2022-05-04 12:20] watanabenaoyuk opened #63280 "auto"

[2022-05-04 12:22] chriskmnds commented on #63249
Sounds perfect. Definitely more of a later phase cleanup.

[2022-05-04 12:29] kriskorn commented on #62580
Fixed by https://github.com/Automattic/wp-calypso/pull/62607. Closed.

[2022-05-04 12:29] #62580 closed, assigned to nobody

[2022-05-04 12:29] kriskorn commented on #60820
Fixed by https://github.com/Automattic/wp-calypso/pull/62607. Closed.

[2022-05-04 12:29] #60820 closed, assigned to nobody

[2022-05-04 12:55] Nic-Sevic opened #63282 "Add block button preventing text editing"
### Quick summary

In the gutenberg editor, the add block button will sometimes overlap text that you are trying to select and edit. This happens inconsistently.

Not sure if this is a p2 issue, a theme issue, or a gutenberg issue. We didn't find any recent merges that seemed obviously related

### Steps to reproduce

1. edit a post or page in gutenberg editor on a p2
2. click around until the add

[2022-05-04 13:10] iamtakashi commented on #62369
<img width="1438" alt="Screenshot 2022-05-04 at 14 07 35" src="https://user-images.githubusercontent.com/908665/166687722-42c571d7-0c44-4dbc-95bf-cabcb845e742.png">

This is likely following the design of the WP.com media library, but the cropped square thumbnail makes it difficult to know the image proportion and orientation. The design used for the Pexel tab is better.

<img width="1439" alt="Sc

[2022-05-04 13:13] iamtakashi commented on #62369
![mc a8c com_verticals_](https://user-images.githubusercontent.com/908665/166688013-35345f6f-605d-4e54-a23e-4c32e9b9d33b.png)

Can we have more info about the image such as file size, dimensions, and file type? I think it'll be useful.

[2022-05-04 13:20] cpapazoglou commented on #62599
@WBerredo does this still stand after merging https://github.com/Automattic/wp-calypso/issues/62912?

[2022-05-04 13:24] cpapazoglou commented on #63179
@lupus2k is there WIP diff where can explore the initial suggestion? I feel that `wp jetpack sync start` might not be so performant especially in big sites. cc: @fgiannar

[2022-05-04 13:25] mikeicode opened #63283 "Twenty Nineteen: Editor overflow issue with Full width blocks"
### Quick summary

Content within the WordPress editor flows off the screen when using Twenty Nineteen. Appears to be related to Full width blocks.

### Steps to reproduce

1. Activate Twenty Nineteen
2. Add a pattern, with blocks set to Full width
3. View overflow issue

### What you expected to happen

Other themes display it correctly:

![Screen Shot on 2022-05-04 at 09:16:26](https://user-imag

[2022-05-04 13:27] sixhours commented on #62668
This has been implemented for all the Anchor-related params in #63211

[2022-05-04 13:27] #62668 closed, assigned to nelsonec87

[2022-05-04 13:52] WBerredo commented on #62599
After merging #63161, we shouldn't be facing this scenario.

Closing this issue.

[2022-05-04 13:52] #62599 closed, assigned to WBerredo

[2022-05-04 14:16] mikeicode opened #63286 "Twenty Nineteen: Change alignment of Paragraph blocks within Full/Wide width Group blocks"
### What

Heading blocks can be centered in the middle of the page by setting them to Wide or Full width. Since Paragraph blocks don't have these settings there isn't a way to center a paragraph on the page. If we group the block and set the Group block to Wide or Full width I would expect the Paragraph block to then be centered.

**_I'd like to report this as a bug but I'm not 100% sure if this i

[2022-05-04 14:18] kathleenjross opened #63287 "[Simple] Calendar Widget throws error after you try to adjust Visibility"
### Quick summary

When you add the calendar widget to a Sidebar or Footer, then click on the Advanced tab to access the settings for visibility, then click Add New Rule, an error appears:

<img width="458" alt="Screen Shot 2022-05-04 at 10 14 32 AM" src="https://user-images.githubusercontent.com/14097527/166700332-98db6ec1-4c35-4406-9973-3ceca3cc25be.png">

### Steps to reproduce

1) Open Customi

[2022-05-04 14:24] andres-blanco opened #63288 "Woo on Stepper: storeAddress layout"
The component on the `/start` framework is pretty different from the one we have on `/setup`.

What I expected:
| Desktop  | Mobile |
| ------------- | ------------- |
| <img width="1097" alt="image" src="https://user-images.githubusercontent.com/375980/166701156-1611fccb-c627-4cf2-8e1f-8fb75314f153.png"> | <img width="396" alt="image" src="https://user-images.githubusercontent.com/375980/16670121

[2022-05-04 14:43] sixhours commented on #63066
Tracks events from the new flow:

<img width="1102" alt="Screen Shot 2022-05-04 at 10 23 28 AM" src="https://user-images.githubusercontent.com/2124984/166706041-506262c1-5a2d-4b96-8b9f-7138f6a76ee0.png">

<img width="1179" alt="Screen Shot 2022-05-04 at 10 23 52 AM" src="https://user-images.githubusercontent.com/2124984/166706043-d254b46c-6474-4d08-8099-269760b9927f.png">

We don't have anything f

[2022-05-04 14:54] andres-blanco opened #63290 "Woo on Stepper: Email address missing from the required fields"
If you look at screenshots on https://github.com/Automattic/wp-calypso/issues/63288 you can see that in `/start` there's a field called `Email address` that is missing in `/setup`.

Something seems to have changed while we where developing the storeAddress step.

[2022-05-04 14:54] Rolilink commented on #63192
@cpapazoglou will add @gcsecsey as a reviewer :) !

[2022-05-04 15:02] michaeldcain opened #63291 "[Bug]: Checkout might not load products when switching from Jetpack to WPcom"
### Quick summary

When a user's default site is a Jetpack site and they directly load Checkout for a WPcom site (e.g. from a renewal email link), the WPcom product list might not be loaded from the endpoint and Checkout will fail when trying to add the WPcom product with the `"I tried and failed to create a renewal product matching the identifier '%(productSlug)s'"` error message.

This might als

[2022-05-04 15:42] mashikag commented on #63002
Another report [here](https://github.com/Automattic/wp-calypso/issues/63152#issuecomment-1113731001).

[2022-05-04 15:47] andres-blanco opened #63294 "Woo on Stepper: Going to checkout 2 times in the flow"
Going through the flow buying a Pro plan after creating the site I get to a weird checkout screen that I don't feel should be there.

Screencast:
![2022-05-04 12 20 51](https://user-images.githubusercontent.com/375980/166715284-35763b63-ae17-4fb5-9335-ba87b944faab.gif)

[2022-05-04 15:53] andres-blanco opened #63295 "Woo on Stepper: Wrong redirection in the end"
In the current `/start` flow the user is redirected to `wc-admin` when the flow ends successfully (something like this: `https://test468610507.wpcomstaging.com/wp-admin/admin.php?page=wc-admin`). In the `/setup` implementation we are getting redirected to `http://calypso.localhost:3000/home/test468610507.wordpress.com` instead.

[2022-05-04 15:54] #62714 closed, assigned to markbiek

[2022-05-04 16:07] Addison-Stavlo commented on #57703
Im closing this as it does not seem very necessary. We have not had any requests regarding this or needs to track it specifically.

[2022-05-04 16:07] #57703 closed, assigned to nobody

[2022-05-04 16:10] #56975 closed, assigned to nobody

[2022-05-04 16:24] andres-blanco opened #63296 "Woo on Stepper: remove the hasAvailableSiteFeature from site data store"
As @obenland [noticed here](https://github.com/Automattic/wp-calypso/pull/62919#issuecomment-1115401427) the `hasAvailableSiteFeature` selector shouldn't be here. We should re-check that this selector is not being used and remove it if it isn't.

We can also use this opportunity to rename the `hasActiveSiteFeature` to `siteHasFeature` as suggested in this p2: p4TIVU-a66-p2

[2022-05-04 16:33] robfelty opened #63297 "[Bug]: Galleries with captions are not formatted correctly in emails"
### Quick summary

If a post has a gallery with captions on the images, the captions end up in boxes next to the image and are not readable. I have seen this now on emails from [butterfly mind site](https://andreabadgley.blog/2022/05/04/a-walk-through-nice/) as well as my own personal site fedibblety.com

Here is a screenshot of the issue from an email I received recently from the above butterfly

[2022-05-04 16:35] Addison-Stavlo commented on #62288
Agreed this is problematic. However we probably wont be able to get to this soon due to the prioritization of other FSE issues and the impact this causes as we focus users towards FSE.

[2022-05-04 16:44] cuemarie commented on #63082
**Replicated?** ✅
**Browsers Tested:** Firefox
**Themes Tested:** Blockbase, Morden
**Environments Tested:** Business Plan with Plugins enabled

**Notes:**
I was only able to recreate this by adding a high number of images. Not all of my images are optimized, but I checked the original report's slideshow, and it looks like all their images are well under 1MB in file-size.

AMP is deactivated on my

[2022-05-04 16:47] Addison-Stavlo commented on #62485
Noting this works as expected in the FSE / Site Editor. However seems to be broken in the post/page editor.

[2022-05-04 16:49] creativecoder commented on #62288
This one is very hard to fix... even if we added links to "Edit" the Home and/or Posts page from the page list, typically you would see empty post_content in the editor, because the content for those pages primarily comes from templates. Opening an empty homepage in the editor is quite confusing!

Ultimately, we're dependent on Gutenberg/Core to improve the in editor content preview for these spec

[2022-05-04 16:58] Addison-Stavlo commented on #60996
I think this is tricky as core Gutenberg has some preferences on which settings are available in different contexts (like in a post, nested in certain blocks, on a template, etc.)

For example, the noted 'Cover' block example above in the Site Editor.  On the template level this setting is unavailable, which may be intended.  While once this is in the context of a post and nested, the setting beco

[2022-05-04 16:59] jeyip commented on #62485
Logic that handles the click event ( [link 1](https://github.com/Automattic/block-experiments/blob/3aaa592d0d83da7dc3180a757e9d71b17e7c8b72/blocks/layout-grid/src/grid/edit.js#L447-L451) & [link 2](https://github.com/Automattic/block-experiments/blob/3aaa592d0d83da7dc3180a757e9d71b17e7c8b72/blocks/layout-grid/src/grid/edit.js#L210-L217) )

[2022-05-04 17:46] cuemarie commented on #63115
**Replicated?** ✅ On user's site
**Browsers Tested:** Firefox 100 on macOS (Catalina): https://whatismybrowser.com/w/P9Z5SPL

**Notes:**

Was able to replicate on user's site. Site editor responded incredibly slowly, and my error reports matched Eds screenshot. I could not edit anything on the Front Page template (or open List View) due to the slow speeds.

I was able to create a new template and

[2022-05-04 17:47] dsas opened #63300 "Dotcom Marketplace Onboarding: Add "Conditional Shipping and Payments" to the Dotcom Marketplace"
#We'll add the **[Conditional Shipping and Payments](https://woocommerce.com/products/conditional-shipping-and-payments/)** Woo extension to the marketplace

FG page with all the instructions - PCYsg-AhC-p2

Here are 2 examples (one from Bespin and one from Explorers) of recent integration works:
https://github.com/Automattic/wp-calypso/issues/62302
https://github.com/Automattic/wp-calypso/issues/

[2022-05-04 17:48] cuemarie commented on #63115
@kathrynwp Has a full plugin conflict test been run for this? That might help us eliminate other possibilities. If we can get permission from the user to do so, I can come back to this and test again with all plugins deactivated, since I'm able to reproduce the error.

[2022-05-04 17:51] wpshellbelle opened #63301 "[Bug]: Add block button, block inserter, not showing to the side of a block"
### Quick summary

The add block button, **Block Inserter**, that shows to the side of an empty block is *not* showing up as explained at https://wordpress.com/support/wordpress-editor/add-content-blocks/#how-to-add-a-block

Creating new line doesn't automatically display + button, or Block Inserter,  to the side of the empty block. To get it to display to the side of the empty block, I have to cl

[2022-05-04 17:54] csabarakasz commented on #63274
4850193-zd-woothemes

Context:
User Request: Each page on the site, would have a different overall background color.

Issue: We can only change the Template background color with Global styles. “Global”. So I can’t use the Site Editor to create a template that has a different background color than other ones.

Okay. No problem. I will set the background color on the page, on each element (even tho

[2022-05-04 18:00] cuemarie commented on #63138
**Replicated?** ❌ Wasn't able to replicate this
**Browsers Tested:** Firefox, Chrome
**Themes Tested:** Alves
**Environments Tested:** Business plan with plugins installed

**Notes:**

So far I haven't been able to reproduce this issue. I built a gallery block into Footer 1 of the Alves theme, with WordPress Editing Toolkit plugin activated. In both Firefox and Chrome, the Gallery appears as expec

[2022-05-04 18:12] cuemarie commented on #63141
**Replicated?** ✅
**Browsers Tested:** Firefox
**Themes Tested:** Karuna
**Environments Tested:** Simple Site

**Notes:**

I was able to replicate the issue. However, I saw that I did not have a posts page set. When I selected an option for the Posts page, the "More Posts" button redirected to the selected Posts page - so it seems it may rely on there being a Posts Page set up.

With that in mind,

[2022-05-04 18:15] #63141 closed, assigned to nobody

[2022-05-04 18:24] Camaropilot commented on #63282
possible issue match reported here: 5187733-zen

[2022-05-04 18:53] cuemarie commented on #59570
**Replicated?** 🟨 Someimtes
**Browsers Tested:** Firefox
**Environments Tested:** Simple
**Themes Tested:** Quadrat White, Blank Canvas

**Notes:**

On a Personal Plan site, I tested the following themes and scenarios:

- Farrow, Quadrat White, Blank Canvas: could switch a new page to any default template without error

### Blank Canvas - Replicated

Sticking with Blank Canvas, I created a "new cu

[2022-05-04 18:54] cuemarie commented on #59570
This is tough to replicate - for any future HE reports, please note the theme used, and provide as many steps you can share that would help us consistently replicate the error on a test site.

[2022-05-04 18:59] upwardmomentum84 opened #63302 "Classic Block Quote Button Not Working With Multiple Paragraphs Selected"
### Quick summary

When using the Classic block and you have multiple paragraphs selected, the "quote" button only applies to one of the paragraphs. The "quote" button works as expected when individual paragraphs are selected.

### Steps to reproduce

1. Create a new post.
2. Add the Classic block
3. Add 3+ paragraphs to the Classic block.
4. Select multiple paragrahs
5. Click the "quote" button i

[2022-05-04 19:09] paxblueribbon opened #63303 "Google Translate Widget via Custom HTML doesn't work."
### Quick summary

Following this guide: https://wordpress.com/support/widgets/google-translate-widget/ to add a google translate widget to the page template, what shows is only the comment from the code, the widget itself doesn't show up.  Confirmed in a demo site.

### Steps to reproduce

1. Add custom HTML block to template or page.
2. Add ```
<div id="google_translate_element"></div><script>

[2022-05-04 19:15] cuemarie commented on #61781
**Replicated?** ❌
**Browsers Tested:** Firefox
**Themes Tested:** Karuna, Independent Publisher 2, Twenty Eleven
**Environments Tested:** Premium Plan Site, Free Site

**Notes:**

I was able to replicate this issue only when my test sites were not indexable. When that was corrected, an AMP module appeared within the Customizer.

- Free Site, Twenty Eleven, Coming Soon: https://d.pr/v/3r51a5
- Free

[2022-05-04 19:30] escapemanuele opened #63304 "What's New: Design breaks when on mobile"
We introduces `What's New` in the Help Center, but it was already present in the editor menu.

It needs attention on mobile:
![image](https://user-images.githubusercontent.com/52076348/166811372-b887ef03-1c57-46da-a01e-f56fe2c922fd.png)

## Design inputs

[2022-05-04 20:13] adelineyaw commented on #63279
User report via 35383144-hc (Atomic)
Issue can be seen in Chrome and Firefox

[2022-05-04 20:21] poligilad-auto commented on #63275
Hey @arcangelini,
Didn't have a chance to see all the design styles live, so I'll have more comments later, but I did manage to go over the "article" page. We can make these style changes to make it fit in better.

Article page:
- External link icon should be 20px (I had issues seeing it on the live site so still need to look again)
- All titles should be var( --color-neutral-100);
- h1 should be:

[2022-05-04 20:33] sixhours commented on #62701
Something to add when we take this up: Tracks event names for the Anchor flow have changed as a result of moving to the Stepper framework from Gutenboarding. When the new flow is deployed, we'll want to note the date that change happened and the past Tracks event names (found in #63066) in case we need to check data from before the launch date.

[2022-05-04 20:35] CGastrell commented on #63081
Should be fixed now, it would be good to have someone else to confirm before closing it

[2022-05-04 20:42] simison commented on #63081
Yep! Works now on site editor at simple site:

<img width="292" alt="image" src="https://user-images.githubusercontent.com/87168/166822123-2a174282-c162-4985-9bb3-a0b42ac0229a.png">

Tested also post and page editor 👍

[2022-05-04 20:42] #63081 closed, assigned to nobody

[2022-05-04 21:12] creativecoder commented on #62755
I think the most direct way to fix this would be to know from the site's REST API if the theme supports block templates (which is the check used when the Site editor is loaded). That way we aren't waiting for data to sync behind the scenes that might be out of date, like what's happening right now.

I poked around and found that theme support data for the current theme is provided from the Core en

[2022-05-04 21:32] metabreakr opened #63310 "Allow for Slideshow Block autoplay delay to be set to longer"
### What

Presently, the slideshow block has a maximum delay of 5 seconds.

<img width="1307" alt="Markup 2022-05-04 at 15 30 04" src="https://user-images.githubusercontent.com/39252765/166829233-04fa2630-9a3f-4e2c-b8ed-6c93e55dd9c3.png">

### Why

A user in 32320651-hc requested the delay to be allowed to be increased to ten seconds, as the autoplay is too fast for the the they are trying to disp

[2022-05-05 00:49] brittanygray902 commented on #63282
Seeing the same issue here: 35381367

Theme: Apostrophe 2

Add block button is preventing editing, as seen here:

<img width="704" alt="Screen Shot 2022-05-04 at 5 45 26 PM" src="https://user-images.githubusercontent.com/80774825/166849014-d99f5cb4-1d8b-4b8b-ab17-4d4e080be9b4.png">

AT or Simple? - Simple site

Was able to replicate this issue by adding the same theme & attempting to add a block.

[2022-05-05 01:21] lsl commented on #63013
Some extra context from slack p1651657558749909/1651058992.576089-slack-C03DY3RJ5

[2022-05-05 01:57] miksansegundo opened #63314 "Implement View/Edit/Delete recipes in the Recipe Tool"
**Changes in this Pull Request**

- [x] Implement viewing/editing/deleting recipe D80054-code
- [x] Add DELETE REST API Endpoint to Block Recipes D80271-code
- [x] Order recipes by last modified D80273-code
- [x] Use PUT BlockRecipes endpoint to update a recipe D80440-code
- [x] Update recipe endpoint D80427-code

**Related**

https://github.com/Automattic/wp-calypso/issues/62683

[2022-05-05 02:08] JulianBustamante commented on #62592
Diff created D80127-code

[2022-05-05 02:52] arthur791004 commented on #62369
Yes, this follows the design of the WP.com and I'll change to the design used for the Pexel tab

Okay, I could align the info with the WP.com media library.

![image](https://user-images.githubusercontent.com/13596067/166857231-6058ffd9-1bcd-4621-a520-d1223941915e.png)

[2022-05-05 03:07] lupus2k opened #63315 "Marketplace: Infinite requests on `dotorg` when filter plugin by author"
When filtering plugins by author, sometimes enter in a loop requesting pages to `dotorg` infinitely.
I found the problem does not affect all authors, and I selected some authors to make tests.

##### Affected by the issue
`mailpoet`, `wpforms`, `yaniiliev`, `elemntor`

##### Not affected by the issue
`google`, `azaozz`, `yoast`, `takayukister`

#### Steps to reproduce

1. On your browser, open the

[2022-05-05 03:19] #62496 closed, assigned to Rolilink

[2022-05-05 03:20] lupus2k commented on #63179
@cpapazoglou No WIP diff yet, I tested your suggestion but nothing changes because both actions are running without problem (`plugin activation` / `plugin installation`), the problem es none of these actions calls for a sync.

My solution is to make a third action to call for a sync but there is no action to sync only the selected plugin.

I enter on parental leave, I copy my team to take a look i

[2022-05-05 04:11] happychait commented on #63279
User report in 35386239-hc

[2022-05-05 07:35] ivan-ottinger commented on #63111
There's another report of wide margin/padding: pdDOJh-fZ-p2#comment-244

* Happens on Android, AOL and Gmail
* [More info](https://twitter.com/VRValicento/status/1521882366138068992?s=20&t=hzlSQrvTfk4NxO_K8finMQ) (Twitter)

→ Reopening this issue.

[2022-05-05 07:50] arunsathiya opened #63318 "Professional Email: Unable to create new mailboxes"
### Quick summary

The page to create new mailboxes for a Professional Email subscription isn't loading as expected at the moment. Console shows an error: `TypeError: URL constructor: http/utils.js/y</<@https://wordpress.com/calypso/evergreen/6150.b1c55454823208b6bb58.min.js is not a valid URL.`

### Steps to reproduce

- Start with a domain and Professional Email.
- Visit https://wordpress.com/em

[2022-05-05 08:02] arunsathiya commented on #63318
Dropped a note here: p1651737155229039-slack-C01TJT42PMM

[2022-05-05 08:42] vishnugopal commented on #62238
Discussion:
- Had to remove/refactor the hardcoded `page` dependency that the previous framework depended on.
- This has been done by using a refactored `stepNavigator` interface.
- This was tricky to test, and to make sure that it doesn't break the current flows.
- Adding E2E tests is also TBD here. Adapted based on the existing tests.
- One more pending issue: Have not figured out how to remove

[2022-05-05 08:46] vishnugopal opened #63319 "Integrate light importer photos into Calypso"

[2022-05-05 08:46] vishnugopal opened #63320 "Integrate light importer photos with WPCOM"

[2022-05-05 08:46] vishnugopal opened #63321 "Build a color extractor in AWS Lambda"

[2022-05-05 08:47] vishnugopal opened #63322 "Build photos extractor in AWS Lambda"

[2022-05-05 09:09] arthur791004 opened #63323 "Bump up to the parent vertical images if we cannot get the suitable one"
#### Changes proposed in this Pull Request

D80179-code

#### Related

pbxlJb-1Ga-p2#comment-1483

[2022-05-05 09:10] TonyKent88 commented on #62994
Hi - I posted another entry to my blog this morning.  The notification email to my iPhone is still not showing any images.  Thanks, Tony

[2022-05-05 09:12] simison opened #63324 "[Bug]: WP.com Atomic site Google Analytics feature docs pointing to Jetpack docs"
### Quick summary

Google Analytics feature's docs point to Jetpack docs. cc @donalirl in case there was issue open that I just didn't see.

@alshakero could you add this to Vertex' maintenance backlog? thx!

### Steps to reproduce

- Go to `https://wordpress.com/marketing/traffic` for your Atomic site
- Enable feature and click docs links
- You'll end up at https://jetpack.com/support/google-anal

[2022-05-05 09:13] vishnugopal commented on #63322
Discussion:
- Facing issue with M1 installs: 1-gh-Automattic/importer-functions trying out a new version of chrome-aws-lambda
- The library is written in Typescript
- Local development is also possible, see: https://github.com/Automattic/importer-functions/blob/add/photos-analyzer/functions/photos-analyzer/analyze.sh let's make sure that similar versions of Chromium &arguments passed to it is used

[2022-05-05 09:15] simison commented on #46764
This is sorted, just issue had been open:

<img width="807" alt="image" src="https://user-images.githubusercontent.com/87168/166894696-ef443167-8b24-4475-a625-c0feaad04e17.png">

[2022-05-05 09:15] #46764 closed

[2022-05-05 09:29] vishnugopal commented on #63202
Discussion:
- Hard to figure out what's going on here.
- Can't su to Automattic users so can't replicate behaviour.
- Action item: let's see what is returned from the backend and how.
- We might try to ping Jetpack team if we can't figure this out.

[2022-05-05 10:10] arunsathiya commented on #63318
Moved to here, but I'll leave this issue open for @Automattic/letero to track: pcyqBp-pb-p2

[2022-05-05 10:28] edwinho89 opened #63326 "Videos with ' and " could not be uploaded to media library"
### Quick summary

When uploading video names

The issue appears to be occurring specifically to video files. Attempted uploading image with similar file names is not affected

### Steps to reproduce

1. Visit https://wordpress.com/media/
2. Upload a video where the video file name contains either `'` or `"` characters

### What you expected to happen

VIdeos can be uploaded successfully without a

[2022-05-05 10:33] edwinho89 commented on #63326
Maybe a similar issue to https://github.com/Automattic/wp-calypso/issues/50928 ?

[2022-05-05 11:06] dsas opened #63329 "[Bug]: Activating marketplace plugin doesn't report status accurately"
### Quick summary

In `marketplace_post_transfer_manage_software` on wpcom assumes that if `woa_async_ssh_command` doesn't return a WP_Error then the command succeeded. This isn't the case, a WP_Error means it couldn't run the command, not that the command ran successfully.

### Steps to reproduce

Intermittent, depends upon other issues, modifying the command to run to be e.g. `ls z` should work

[2022-05-05 11:19] StefMattana commented on #62994
I can confirm no images appears also at my end, not even on mobile or desktop (I subscribed to this blog to check that)

[2022-05-05 11:30] dsas opened #63330 "Marketplace: Plugin gets installed but not activated, review marketplace plugin activation flow to see how it works."
### Problem summary
When installing the Product Bundles WooCommerce plugin without WooCommerce installed WooCommerce gets installed and then the plugin gets installed but not activated.

This doesn't happen if WooCommerce is installed before the plugin is bought from the Marketplace.

### Investigation
The 'Software activation success' log message (see https://github.com/Automattic/wp-calypso/issu

[2022-05-05 11:46] yansern commented on #63091
Since `img` has `max-width: 100%` already, perhaps some form of word wrap is needed.

https://www.caniemail.com/features/css-white-space/
https://www.caniemail.com/features/css-word-break/

[2022-05-05 12:16] johngodley opened #63333 "[Bug]: Editor sibling inserter appears in wrong place"
### Quick summary

Sometimes it is possible to get the sibling inserter to appear in the wrong place:

![image](https://user-images.githubusercontent.com/1277682/166918915-01b72679-ec9e-4a51-8d21-8ea715b0c040.png)

This seems to be content specific.

This may be a general Gutenberg problem, but I'm unable to reproduce it outside of wp.com so I'm filing it here to start with.

### Steps to reproduc

[2022-05-05 12:44] #63083 closed, assigned to dsas, BogdanUngureanu, rcrdortiz

[2022-05-05 13:00] iamtakashi commented on #62369
Thank you, @arthur791004!

[2022-05-05 13:41] daria2303 opened #63338 "Latest comments: comments widget which appears broken (a couple of letters each line) in Pages"
### Quick summary

Comments widget which appears broken (a couple of letters each line) in Pages but in Post its ok.

### Steps to reproduce

Only on users site, I was not able to reproduce on my test site but a strange CSS is applied:

Uploading Screen Capture on 2022-05-05 at 15-26-15.mp4…

### What you expected to happen

Comments look like in posts - no float and width: 100%

### What actually

[2022-05-05 13:53] escapemanuele opened #63339 "Help Center: Fix Help Center in checkout"
### What

There are problems right now with the Help Center while in checkout.
And it needs the correct site id.

![image](https://user-images.githubusercontent.com/52076348/166938415-946abdbe-d835-4bf4-86fb-74ce33043dca.png)
![image](https://user-images.githubusercontent.com/52076348/166938447-19795e03-b930-430d-aac7-419f9b1a7529.png)

[2022-05-05 14:42] #63029 closed, assigned to nobody

[2022-05-05 14:46] sixhours opened #63343 "Anchor: Update back-end references to old `/new` path in favor of `/setup`"
Example: `/wp-content/lib/anchor.php#160`

We should audit anchor-related files and make sure there no other references to the old path.

(Addendum from Roz - we also need to make sure that we communicate with the anchor team to change links on their end when we are ready.)

[2022-05-05 14:51] #63066 closed, assigned to sixhours

[2022-05-05 15:02] #63288 closed, assigned to nelsonec87

[2022-05-05 15:02] #63290 closed, assigned to andres-blanco, nelsonec87

[2022-05-05 15:22] sixhours commented on #63343
D80216-code

[2022-05-05 15:39] mashikag opened #63346 "[E-mails] [Liked post] Quoted post title is too large"
### Quick summary

Post title is too large for post excerpt quotes on "New post like" e-mails.

This issue is closely related to the: https://github.com/Automattic/jetpack/issues/24053 . Once the final post title styling (size) was agreed on in the https://github.com/Automattic/jetpack/issues/24053 issue, apply the same styles to the quoted post title in the "New post like" e-mails.

![newpostliek

[2022-05-05 15:54] zyousafi opened #63347 "Renewal Email Notification Missing Subject Line"
### Quick summary

The user got an email notification from us about a renewal, but the email notification was missing a **Subject** line so the user thought it was a fake email.  They've renewed, but they said it didn't look good and I agree with them.  I checked **Logstash**, and the user was right.  We sent an email without a **Subject** line, and the date and time of the email on **Logstash** i

[2022-05-05 15:58] edequalsawesome commented on #20946
Version 26 of Ulysses is using the WordPress REST API, and I was able to successfully connect it to my Atomic Business plan site without the workaround, so this is resolved 🥳

[2022-05-05 15:58] #20946 closed

[2022-05-05 16:09] sixhours opened #63348 "Anchor: Custom Podcast title does not get saved/carried over to new site"
If you set a new site title in the podcast title step (different from the one auto-filled by Anchor during signup) it does not show up for the new site when you land in the editor. Not sure if this is an error on the front end with the store/site creation, or something on the back end. Needs investigation.

[2022-05-05 17:28] edwinho89 commented on #58888
35386109-hc

[2022-05-05 17:39] vajrasar commented on #63156
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS
The issue can be replicated on the Simple and the AT sites. And, it does not seem to be dependant on the theme on the site.

When an inline image is added to the Button block (inside payment), the whole button on the frontend looks blank (no text or the inline image).

📌

[2022-05-05 17:53] #63201 closed, assigned to nobody

[2022-05-05 17:55] dpasque opened #63351 "Customizer: Update FSE support link to use .com instead of .org docs"
### Quick summary

AFAIK, on all WordPress.com, we use the `wp-admin` page for the customizer.

If you're on an FSE theme, there's a little banner guiding you to use the site editor. The link there for support documentation takes you to .org docs. We should take the user to our slightly more focused .com docs!

### Steps to reproduce

1. Have an FSE theme on the site (I used twenty twenty-two (blu

[2022-05-05 18:08] janmckell commented on #43183
Here is a reoccurrence of receipts showing the default WordPress.com subdomain as the site address instead of the site's custom domain.

5188625-ZD

[2022-05-05 18:42] NoHopeRadio commented on #63082
I think I understand what's going on here, but I don't know the exact cause. It seems that somewhere there's a display property being set for the `swiper-container` class from a source other than the standard swiper.css stylesheet, and in the swiper.css stylesheet, there's no display property defined for the `swiper-container` class, it seems to inherit the `display: block;` property from its pare

[2022-05-05 20:18] muffinpeace commented on #55273
Requested on 5189678-zen.

[2022-05-05 20:19] blackjackkent opened #63354 "Seller Exp - WooCommerce onboarding should include help link"
The existing WooCommerce onboarding behavior in /start has a help link in the bottom right of all screens; when clicked it opens an in-screen help menu:

![CleanShot 2022-05-05 at 15 17 52@2x](https://user-images.githubusercontent.com/13437011/167018649-e6881329-d59c-45f2-80f4-edbd4616d05c.png)

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/13437011/167018772-43421f4

[2022-05-05 20:21] blackjackkent opened #63355 "Seller Exp - Implement step numbers in WooCommerce onboarding"
To achieve parity with the existing /start onboarding for WooCommerce, we need to implement page numbers:

![CleanShot 2022-05-05 at 15 20 55@2x](https://user-images.githubusercontent.com/13437011/167019061-39eaef55-a450-4564-b1d5-c2fd97e49369.png)

(This should be considered lowest priority of the Woo implementation tasks and not a blocker for release.)

[2022-05-05 20:26] cuemarie commented on #43183
Just adding on here that we've offered to notify this user when the issue is resolved.

[2022-05-05 20:33] blackjackkent opened #63356 "Seller Exp - Fix WooCommerce onboarding confirm screen text in Stepper"
In the Stepper implementation, the text on the confirmation screen seems a little off:

<img width="551" alt="image" src="https://user-images.githubusercontent.com/13437011/167020751-55803c25-4126-4253-a15b-499d8ee5b532.png">

Let's change this to "Upgrade to the Pro plan and..."

[2022-05-05 20:47] jordesign commented on #63333
Thanks for reporting @johngodley  - I'm just going to merge this additional report into our existing user reports of the issue 👍
https://github.com/Automattic/wp-calypso/issues/63279

[2022-05-05 20:47] #63333 closed, assigned to nobody

[2022-05-05 20:47] jordesign commented on #63279
An additional internal report in https://github.com/Automattic/wp-calypso/issues/63333

[2022-05-05 21:09] Rolilink opened #63357 "PluginsListView - can render a full size or compact size list."

[2022-05-05 21:09] Rolilink opened #63358 "PluginsSearchResults ( change name from SearchListView) - receives search and fetches plugins + renders FullListView + search title and subtitle."

[2022-05-05 21:09] Rolilink opened #63359 "PluginsCategoryResults - fetches plugins by categories and renders PluginListView."

[2022-05-05 21:09] Rolilink opened #63360 "PluginsDiscoveryView - shows the categories view."

[2022-05-05 21:17] ianstewart opened #63361 "Post Likes: Consider making create new account the default when liking a post while logged-out"
When you like a post while logged out you see this log-in window.

![image](https://user-images.githubusercontent.com/545779/167026659-c73c5712-3724-44d5-a4a9-6ce93bfcb6b0.png)

We may want to consider making this a create new account window.

![image](https://user-images.githubusercontent.com/545779/167026735-a42005e5-5b9b-4876-9e71-1f50efe479cf.png)

[2022-05-05 21:54] #62308 closed, assigned to lupus2k

[2022-05-05 22:05] #63192 closed, assigned to Rolilink

[2022-05-05 23:06] dcoleonline commented on #56972
5190763-zen

If there is a fix, we should notify the customer.
I've asked them to refer to the public view of the stats or the stats at https://wordpress.com/stats/insights/

[2022-05-06 01:48] arinoch opened #63365 "Discounts not being applied to the Pro plan at checkout"
### Quick summary

When a user is eligible for a discount, the discount rate is not applied when they complete payment.

### Steps to reproduce

1. Go through the checkout flow as a new user eligible for any current discounts on the Pro plan.
2. Checkout will show you the discounted price. Click to pay that price.
3. Check your billing receipt.

### What you expected to happen

Discount should be

[2022-05-06 02:02] roo2 commented on #62812
Another task related to this would be replacing "Featured Image"s for posts returned by the query block.

[2022-05-06 03:10] miksansegundo opened #63366 "Feedback: Recipe Tool"
# Description
Collecting feedback for the Recipe tool. See MC tools `verticals/#/recipes`
Add feedback in the comments and Ganon will triage and prioritize features.

If possible please indicate your request as a **Must-have** or **Nice-to-have** feature.

# Do for MVP

-  Must have fix/feature

# Other feedback
Keep updating this as feedback rolls in

-  Nice to have features

Keep updating this

[2022-05-06 03:11] arthur791004 commented on #62812
I think we have already replaced the “Featured Image” but there might be cases we still need to deal with. For example, the featured images in Zoologist are replaced. However, some patterns such as `recent-posts-3` are not.

[2022-05-06 04:00] arthur791004 opened #63368 "Vertical Image Tool: Don't resize thumbnail and show more file info"
#### Changes proposed in this Pull Request

* Add the file info to the vertical images API
  * D80196-code
* Don't resize the thumbnail and show more file info
  * D80265-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62369

[2022-05-06 05:59] zachspears commented on #63102
Tested and was able to reproduce the issue. Set Priority to Low as it has low user impact.

[2022-05-06 06:06] zachspears commented on #63197
I have reviewed the information, and I agree that this is a good recommendation. Users have a reasonable expectation of privacy when they set content to Password Protected. It is often not intuitive, particularly for less tech-savvy users, that the images are not "attached" to the page in some way. Providing this clarification seems prudent to ensure transparency and so I have set the priority to

[2022-05-06 06:09] spraveenitpro opened #63370 "Migrate enzyme to react testing library - Button-group component"
### Quick summary

Changes proposed in this Pull Request:

1. The Button group component is using the enzyme framework for testing, We need to migrate it to React-testing-library and jest
### Testing instructions
1. Run the test for button-group block with yarn run test-client:watch from source directory
2. Select P and then type button-group
3. We should see that the correct test file was execute

[2022-05-06 06:40] jordesign commented on #62020
Closing this as a duplicate of https://github.com/Automattic/wp-calypso/issues/62431

[2022-05-06 06:40] #62020 closed, assigned to nobody

[2022-05-06 06:47] jordesign commented on #62047
Popping this back into the Triage queue - can we please check in a self-hosted install and if it occurs there, report in the Gutenberg repo.

[2022-05-06 07:12] zachspears commented on #63199
Tested uploading a new profile image but was able to do so successfully. Leaving in the triage queue for another HE to test.
![Annotation on 2022-05-06 at 01-10-02](https://user-images.githubusercontent.com/10124024/167084386-f454f6b7-fe2f-4964-8f94-47b7cf006fd1.png)

[2022-05-06 07:30] yansern opened #63372 "[E-mails] [Comment moderation] Comment moderation needs new design."
The designs are available in figma.

[2022-05-06 08:07] arthur791004 commented on #63368
Close as it's shipped 🚢

[2022-05-06 08:07] #63368 closed, assigned to nobody

[2022-05-06 08:08] arthur791004 commented on #62369
@iamtakashi I've changed to show the own orientation of the image in the WordPess tab and add more file info when you edit the image!

[2022-05-06 08:16] johngodley commented on #63333
Ah, sorry for the duplicate - I searched for different terms!

[2022-05-06 08:58] simison commented on #62903
@roundhill hi! Would handling special characters correctly on video uploads be good one for VideoPress team to fix?

[2022-05-06 09:01] simison commented on #50574
@cometgrrl @ianstewart Payment/premium blocks are on Expand teams ownership — which team exactly should own this PayPal issue?

[2022-05-06 09:10] rickmgithub opened #63373 "[Simple] Advanced tab is missing remove top/bottom spacing gap"
### Quick summary

The support doc - https://wordpress.com/support/wordpress-editor/blocks/image-block/#advanced
says that by going to the advanced tab you can remove the gap above and below blocks.

The option does not exist in the editor.

Indeed it's missing from cover blocks and groups blocks too which it used to appear on.

### Steps to reproduce

Follow the steps in the support guide for the

[2022-05-06 09:47] sharonlaker19 commented on #60875
+1 at 5191752-zen, manually imported the content for the Alonso theme to their site.

[2022-05-06 10:40] chriskmnds opened #63376 "Plans Overhaul: Update checkout thank-you pages for Starter & Pro plans"
### Details

Apparently, after a user upgrades to a paid plan (from `/plans`) they get redirected to a "thank you" post-checkout page. These pages are tailored per plan and highlight the various features their new plan offers. Example from Pro plan checkout:

<img width="1128" alt="Screenshot 2022-05-05 at 1 59 37 PM" src="https://user-images.githubusercontent.com/1705499/167115893-814d0817-eab6-4

[2022-05-06 11:15] #49866 closed, assigned to nobody

[2022-05-06 11:16] #49153 closed, assigned to nobody

[2022-05-06 11:16] #50513 closed, assigned to ollierozdarz

[2022-05-06 11:16] #51137 closed, assigned to nobody

[2022-05-06 11:16] #50435 closed, assigned to klimeryk, ollierozdarz

[2022-05-06 11:17] #49665 closed, assigned to nobody

[2022-05-06 11:17] #44219 closed

[2022-05-06 11:17] #50216 closed, assigned to nobody

[2022-05-06 11:18] #50606 closed, assigned to ollierozdarz

[2022-05-06 11:19] #51368 closed, assigned to ollierozdarz

[2022-05-06 12:49] iamtakashi commented on #62369
That was quick! It's much better now. Thank you @arthur791004!

[2022-05-06 13:13] poligilad-auto commented on #63275
**Resources:**

All resources should appear like they do on the "contact us" page (icon color, size etc.).
<img width="461" alt="image" src="https://user-images.githubusercontent.com/83961704/167138119-331f0d9b-a8ab-4fbd-ae18-956601b2e4ab.png">

For some reason they appear differently on the main "help center" page.

<img width="462" alt="image" src="https://user-images.githubusercontent.com/83961

[2022-05-06 14:08] aleone89 commented on #50740
Another report of this here hc-35402620

[2022-05-06 14:32] richardmtl commented on #61464
Noting that my problem resolved itself on its own somehow, and that the issue I reported is actually unrelated to this issue. I'll unsubscribe from notifications now!

[2022-05-06 14:44] rickmgithub commented on #50740
Same again - 4936393-zd

[2022-05-06 15:05] arunsathiya opened #63379 ""Media & Text" block inside a Columns block does not appear as designed on Storefront"
### Quick summary

On the Storefront theme, `Media & Text` block inside a `Columns` block does not appear as designed on the editor:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/18581859/167159658-903c74b7-b850-491e-be84-73b43d0ecb3c.png">

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/18581859/167159673-d9550a30-3cbf-4c02-8b44-a72c73

[2022-05-06 15:05] arunsathiya commented on #63379
5188336-zen.

[2022-05-06 15:06] allanftd opened #63380 "Embed Block Displays the Actual Link Instead of Showing the Preview of the Linked Site"
### Quick summary

When copy-pasting the direct link of the page to be embedded, the URL itself displays instead of a preview of the page content

### Steps to reproduce

1. Edit a post or page
2. Add an Embed block by typing /Embed
3. Copy-paste the full URL of the page you want to embed, for example: https://www.theguardian.com/environment/2022/may/06/country-diary-the-sheer-joy-of-watching-spar

[2022-05-06 17:58] roundhill commented on #62903
Yes, we created the resumable uploader. We'll look into this next week!

[2022-05-06 18:03] kathleenjross opened #63388 "Shortlinks show "301 moved permanently" error when shared in Facebook"
### Quick summary

Surfaced in 35404733-hc.

The user reports that when they share the shortlink for a post in Facebook or Twitter, it frequently leads to a "301 moved permanently" error and the post doesn't show.

I was able to reproduce when I got a shortlink and ran it through the Facebook Debugger. It showed the 301 error, but then was fixed if I shared the original post.

Guide to get shortli

[2022-05-06 18:10] jeyip commented on #63229
We've discovered the root cause of the problem. More in this [p2 link](paYE8P-1B3-p2)

[2022-05-06 18:41] wpshellbelle commented on #52182
Another report at 35405431-hc

[2022-05-06 18:50] #61258 closed, assigned to dpasque

[2022-05-06 20:32] autumnfjeld commented on #62812
@arthur791004  & @roo2

Arthurs: can you explain the technical  reasons, if you know them, why some featured images can be replaced, while `recent-posts-3`  are not?

If you both think this is a particular difficult challenge, maybe we need to plan for some spikes or specific work to make this possible.  I image we need to fully support the query block, correct?

Maybe you have some insight on thi

[2022-05-06 21:06] fullofcaffeine commented on #63279
Hi! 👋🏻 Thanks for reporting this. I tested and this also happens in a vanilla WPorg instance (`wp-env`) running GB 13.1.0 (the current version we have in WPCOM simple/AT) so it looks like a GB core bug. Could you please report it as an [issue in the Gutenberg GH repository](https://github.com/WordPress/gutenberg/issues)?

[2022-05-06 23:06] creativecoder commented on #63279
It appears this issue was introduced by https://github.com/WordPress/gutenberg/pull/40441

cc @youknowriad

[2022-05-06 23:14] donalirl commented on #39364
#35406783-hc

[2022-05-07 02:07] formosattic commented on #60377
Thanks @tehjaymo!

Closing this in favor of https://github.com/Automattic/wp-calypso/issues/44263

[2022-05-07 02:07] #60377 closed, assigned to nobody

[2022-05-07 02:08] formosattic commented on #44263
A copy/paste of my report at https://github.com/Automattic/wp-calypso/issues/60377

### What

Users regularly, though maybe not that frequently, ask about publishing a post without sending notifications to users.

Related interactions:

* https://wordpress.com/forums/topic/how-to-publish-without-notifying-subscribers-2/
* https://wordpress.com/forums/topic/can-i-publish-a-post-without-notifying-my

[2022-05-07 03:38] arunsathiya commented on #63141
@cuemarie Great find, thank you! I followed up with the customer to share that info.

[2022-05-07 05:36] annbingle commented on #63279
5195875-zd

[2022-05-07 05:38] annbingle commented on #63279
Hi @fullofcaffeine Thank you for your response. Based on the comment from @creativecoder this has already been introduced in https://github.com/WordPress/gutenberg/pull/40441 . Would you like me to still move it to  Gutenberg GH repository?

[2022-05-07 09:23] zdenys commented on #63004
I'm not 100% sure this is related, but it's the closest match I found. In 5196787-zd-woothemes the user reports that for New post notification email, the subscription shortcode `[blog_subscription_post]` is rendered in Russian, despite the rest of the content being in English.
![image001](https://user-images.githubusercontent.com/39308239/167248036-9778a37a-193c-46dd-a2e0-27fa4cefba5a.png)

[2022-05-07 14:06] bobmatyas commented on #62994
Another report on 5195389-zen

[2022-05-07 14:33] upwardmomentum84 commented on #63115
Just responded to the user for permission to do a plugin conflict test - 5172572-zd-woothemes

[2022-05-07 14:48] bobmatyas commented on #53248
I also noticed this while testing another issue with the map block

[2022-05-07 15:49] ClassicRKR27 commented on #63115
Providing a quick update on this - I believe this is related to the CoBlocks plugin. I deactivated it and it resolved the speed issues; there were still console errors related to it but I believe that is because the blocks were still placed on the Front Page template. When I was testing the other templates that didn't have any CoBlocks blocks, none of them showed any issues with slowdown.

I also

[2022-05-08 01:19] cuemarie commented on #63282
Thanks for these reports! Merging this report over here: https://github.com/Automattic/wp-calypso/issues/63279

[2022-05-08 01:19] #63282 closed, assigned to nobody

[2022-05-08 02:20] formosattic commented on #63279
User reports from https://github.com/Automattic/wp-calypso/issues/63282:

* 35381367-hc
* 5187733-zen
* 5189591-zen

[2022-05-08 04:37] rw-ye commented on #60623
Another report here: 5198285-zd-woothemes

[2022-05-08 05:30] vinnykaur commented on #62989
Another one reported here - zd-5178546

[2022-05-08 06:34] kuropixel commented on #61740
Another report: 5198154-zd

Are there no current workarounds?

[2022-05-08 06:55] csabarakasz opened #63398 "Make it possible to differentiate which Donations block was used on a site to donate."
### What

Context: 35017139-hc and 4915147-zd-woothemes

User has multiple donations block across multiple pages. They would like to have a feature to be able to tell which page people donated from.

There is no current way to tell that. We can only see details about the donations.

Feature request. Create a tab under Tools > Earn > Collect Payments that would show statistics on which page was use

[2022-05-08 07:42] mashikag commented on #63063
Seems like it is not a regression. Old e-mail templates used to behave the same way (given my RTL setup is correct).

Here is my sample Hebrew site post:
![Screenshot 2022-05-08 at 09 38 57](https://user-images.githubusercontent.com/2019970/167286647-9ae3a30b-be00-4442-b8b2-0db7b8f533e8.png)

Here is "New post" old template e-mail:
![Screenshot 2022-05-08 at 09 38 45](https://user-images.githubuse

[2022-05-08 07:45] rw-ye commented on #62703
Another report here: 5163851-zd-woothemes

[2022-05-08 09:04] mashikag commented on #63063
I was wrong with the above message. There was an RTL implementation in the old e-mail templates.

However if the "New post" e-mail is sent to an e-mail address associated with a wpcom user, the locale settings of the user will be used, incl. LTR/RTL.
Otherwise if there is no user associated with the email account the "New post" e-mail is sent to, the locale of the blog will be used.

This is why I

[2022-05-08 10:02] rw-ye commented on #52182
Another report: 5198482-zd-woothemes

Shared workaround

[2022-05-08 12:25] dolgelukkig commented on #60335
Another one 35419650-hc

[2022-05-08 13:37] kathrynwp opened #63399 "Emails: Comment moderation email design does not match other emails"
### What

The comment-moderation email does not match the look and layout of the newly redesigned notification emails

### Why

The design of emails related to site/blog management was recently overhauled, but this one appears to have been missed.

### How

The comment moderation email still looks like this:

![_Kathryn_Presner__Please_moderate___From_Jupiter_to_Comet__-_kathryn_a8c_com_-_Automatt

[2022-05-08 15:03] philnick206 opened #63400 "Map block: Access token required to use Map Block when it should not be required"
### Quick summary

When trying to insert a Map block in a page or post, the block shows a message "To use the map block, you need an Access Token."

![CleanShot 2022-05-08 at 15 41 20](https://user-images.githubusercontent.com/51966986/167302219-fd32a3c2-8392-4492-9b14-07356af07ba0.png)

### Steps to reproduce

1. Create a new page/post
2. Add a Map Block

### What you expected to happen

The Map

[2022-05-08 15:16] philnick206 commented on #63400
Also see p1652022582869259-slack-C0CMN0V97

[2022-05-08 16:15] zyousafi commented on #63279
Another report here #5198955-zen

[2022-05-08 17:25] jp-imagines commented on #60623
Another report in 5199169-zd-woothemes.
This user isn't on a block/FSE theme and isn't necessarily looking to switch to FSE. They just want to look at other themes with their content without needing to make changes to their live site (and then have to go through time-consuming site restores if they don't like the change).

---

I know FSE themes rely on the Customizer, but newer classic themes (li

[2022-05-08 19:30] msilbers commented on #62994
reported in 32297903-zen that no images show when new post emails go out for the set featured image

[2022-05-08 22:23] bluefuton commented on #59431
@ebinnion also notes in pcNPJE-Qc-p2 that the placeholder is no longer consistent with the final content:

![image](https://user-images.githubusercontent.com/17325/167318213-306485d8-fec5-4d60-87eb-42a3bcc9307a.png)

[2022-05-08 23:34] elliottprogrammer commented on #59431
The search placeholder shown above is the placeholder intended for the Search Upsell **in Calypso green (Jetpack Cloud)**.  You see, the Backup, Scan, & Search upsells in Jetpack Cloud are much different than the upsells in Calypso blue.  Here's a comparison:

**Calypso Green (Jetpack cloud)**
![calypso-green-upsells](https://user-images.githubusercontent.com/11078128/167319665-6856036c-0842-430c-

[2022-05-08 23:45] elliottprogrammer commented on #59431
I'll add this as 2 separate tasks the Voyager Maintenance board:

- **Make the Jetpack Search upsell in Calypso blue visually consistent with both Backup and Scan upsells**: 1164141197617539-as-1202234182051627/f
- **Show a wpcom upsell placeholder for wordpress.com and show a Jetpack Cloud upsell placeholder for Jetpack Cloud**: 1164141197617539-as-1202234182051629/f

[2022-05-09 01:34] talldan commented on #63279
This has already been reported to the Gutenberg repo - https://github.com/WordPress/gutenberg/issues/40738. No need to make another issue.

[2022-05-09 03:49] arthur791004 commented on #62812
Oh, I think it's a bug for now. As those patterns are empty at the beginning and are rendered dynamically, we have to force to render the pattern the do the verticalization. However, we only force to render these patterns at the root block, so they won't be verticalized if they are not in the root block.

For example,

* This is okay

[code]

* This has to be fixed

[code]

[2022-05-09 04:19] arthur791004 commented on #63323
Close as it's shipped 🚢

[2022-05-09 04:19] #63323 closed, assigned to arthur791004

[2022-05-09 05:06] formosattic commented on #63115
+1 35425326-hc

Site didn't have CoBlocks. Just had GTranslated as third-party plugin.

Editor was super slow for user and I, they only managed to edit because they were very patient.
Had them clear cache, but no luck.

Error from the console:
![image1](https://user-images.githubusercontent.com/15944096/167344068-459663d4-867c-4c17-ade2-ffd82479dee4.png)

[2022-05-09 05:26] youknowriad commented on #63279
Hi folks! sorry for the regression here, I'm happy to take a look.

[2022-05-09 05:36] youknowriad commented on #63279
I've opened [WordPress/gutenberg#40919](https://github.com/WordPress/gutenberg/pull/40919) which solves the issue in my testing but I'd appreciate help confirming that.

[2022-05-09 06:33] arthur791004 commented on #62812
But I found that we use the posts from the theme demo sites (ex. Pc9sFO-5-p2) rather than the pattern source sites. How do we store our vertical-related posts? Shall we add the sample post with cloud featured images on pattern source sites? Or do we have to keep using the posts from theme demo sites?

[2022-05-09 06:55] inaikem opened #63403 "Classic Block: Inconsistent results when cutting content from the block using keyboard shortcuts"
### Quick summary

Cutting multiple paragraphs of text from the Classic Block using keyboard shortcuts (CMD+X / CTRL+X) provides an inconsistent experience:

Highlighted text across multiple paragraphs is intermittently removed when "cut" using a keyboard screenshot.

Other times, the highlight applied to the text is removed when "cut" using a keyboard screenshot but the text remains visible.

In

[2022-05-09 07:24] SaxonF commented on #62065
Quick solution here is to either set character limit on breadcrumbs to median length of plugin name or set [text-overflow on name](https://www.w3schools.com/cssref/css3_pr_text-overflow.asp)

[2022-05-09 07:25] SaxonF commented on #62933
This sounds good to me and consistent with how native apps work

[2022-05-09 07:28] SaxonF commented on #62205
I think it makes sense to show only uninstalled when on the home page but show all when searching/browsing.

[2022-05-09 07:30] Robertght commented on #63326
I can confirm this is an issue with video files containing & as well.

cc @coder-karen or @brandonpayton

[2022-05-09 07:39] KokkieH opened #63406 "Admin bar: The admin bar hides the top line of text when following an anchor link"
### Quick summary

When clicking on a anchor/page-jump link, the heading/text being linked to is obscured by the admin bar.

This was previously reported in 6781-wpcom, but that issue was closed as the fix for this had to come from Core.

As of WordPress 5.9 this issue has been [fixed in Core](https://core.trac.wordpress.org/ticket/46371), but it's still present on WordPress.com simple sites.

###

[2022-05-09 08:33] #63318 closed, assigned to daledupreez

[2022-05-09 09:49] jeherve commented on #61515
this should be fixed as https://github.com/Automattic/jetpack/pull/23692. I'll close it now, do not hesitate to reopen if this happens again.

[2022-05-09 09:49] #61515 closed, assigned to nobody

[2022-05-09 10:02] autumnfjeld commented on #62812
You mean historically we use the posts (query block) from theme demo sites.
But the future needs to be using posts in a pattern--right? Otherwise how can we create a page layout in the recipe tool or Design Picker that has a posts (query block) section?

I'm getting some input from Ola B in slack: https://a8c.slack.com/archives/CRWCHQGUB/p1652090448265559

[2022-05-09 10:12] bogiii commented on #63121
I've tried screenshot initialization right before running the scanning process, but it doesn't improve the UX. I gave up with that solution, and I'd try an alternative, for example, previewing a website in an iframe.

[2022-05-09 10:42] flootr opened #63409 "Migrate tests from `enzyme` to `@testing-library`"
### Details

Migrate tests which make use of `enzyme` to using `@testing-library`. Have a look at recent examples e.g. [here](https://github.com/Automattic/wp-calypso/pull/63272) or [here](https://github.com/Automattic/wp-calypso/pull/63128). Please tick the box and reference your PR when you're refactoring one of the listed components.

If you need a review or have any questions, please don't hes

[2022-05-09 11:33] cpapazoglou commented on #63179
The `marketplace_post_transfer_manage_software` runs a WP CLI command (via SSH) to activate the plugin. In this command we skip all already installed plugins from loading (except the required) so that there is no conflict while activating the plugin. The idea here is avoiding to skip Jetpack, so that the sync code is loaded and runs when the plugin is activated as suggested here pb5gDS-1L1-p2#comm

[2022-05-09 11:35] yansern commented on #63111
Find the site, find the post, send out the post using send script, and see if it is replicable. If not, consider this fixed.

[2022-05-09 11:43] yansern commented on #63152
It is alright to use WP app for its Reader function without owning a site. Hence, closing this issue.

[2022-05-09 11:43] #63152 closed, assigned to nobody

[2022-05-09 11:44] yansern commented on #63001
Issue is related to caching & changing of domain. Downtime is expected.

[2022-05-09 12:14] Arxhtects commented on #37089
How exactly was this fixed? I'm receiving the same error still and am running an fresh install of woocom.

wp-json/wc/v3/orders/99794?consumer_key=/&consumer_secret=

Returns the same error as it is finding the post id rather than the order id

{"code":"woocommerce_rest_shop_order_invalid_id","message":"Invalid ID.","data":{"status":404}}

[2022-05-09 13:05] Copons commented on #45066
Fixed by https://github.com/Automattic/jetpack/pull/23673

[2022-05-09 13:05] #45066 closed

[2022-05-09 13:09] mikeicode opened #63416 "Varia & Child themes: Map block close button is too large"
### Quick summary

The Map block has a close button on the marker popup box. Varia and child themes cause this button to be too large.

### Steps to reproduce

1. Activate Varia
2. Add a marker to a Map box, add a long Marker Title
3. View published page, hover over the close button

### What you expected to happen

Button should be small, like it is when using Skatepark:

![Screen Shot on 2022-05

[2022-05-09 13:29] mikeicode opened #63417 "Form block: Conditional field display"
### What

Form fields should have a conditional display option.

"If this field is checked then display these fields."

### Why

This would add flexibility to the Form block. Having fields hidden behind conditional display logic would allow the creation of smaller more condensed forms. This is a common feature with form builders.

Example uses:

![Screen Shot on 2022-05-09 at 09:18:22](https://use

[2022-05-09 13:39] mashikag commented on #63111
I was not able to repro the issue. Please see the screenshot.
![Screenshot_2022-05-09-15-35-34-94_e307a3f9df9f380ebaf106e1dc980bb6](https://user-images.githubusercontent.com/2019970/167422094-88b0a5af-b089-4f5a-aa4a-dd48c589dae9.jpg)

It is possible that the post was published shortly before the fix went out to production, since the two happened around the same time.

[2022-05-09 13:39] #63111 closed, assigned to nobody

[2022-05-09 13:46] cpapazoglou commented on #43332
Let's open all the related subtasks.

[2022-05-09 13:50] cpapazoglou commented on #62205
Thanks @SaxonF , we will start by filtering out installed plugins from the Top Paid Plugins homepage section.

[2022-05-09 13:56] cpapazoglou commented on #60713
Let's timebox this to find out what exactly is going on and whether we can suggest a solution to Yoast.

[2022-05-09 14:15] rachelmcr commented on #62337
I just ran into the same issue while trying to add this widget to my store.

[2022-05-09 14:32] Nic-Sevic opened #63421 "Inconsistent cursor placement and incomplete selection in editor"
### Quick summary

When trying to select text in the editor, sometimes you are not able to click to move the cursor. Then, when you try to click and drag to select text it the selection will start from where the cursor is stuck, making it difficult to select at all or to select the correct/entire text as intended.

I've also seen something similar happen on the front end of published p2 posts but

[2022-05-09 14:41] kathrynwp commented on #56360
Ran into this in 35431382-hc. I deactivated user's Thrive Architect page builder plugin and the "copy page" option returned.

[2022-05-09 14:47] jp-imagines commented on #60623
And another in 5201094-zd-woothemes

From the user:

[2022-05-09 15:26] kathrynwp commented on #56468
Ran into this in 22745418-hc

In addition, editing the legacy widget **caused it to duplicate.**

[2022-05-09 15:37] CodeAllNightNDay opened #63422 "Twenty Fifteen Theme: Post list returns to classic view when clicking "all posts" link from within editor."
### Quick summary

When the default view is set on the site, it is reverting to the classic view when navigating from a post where changes have just been made. The link from within the editor used is the "View Posts" link. This issue is intermittent and doesn't happen every time.

5201097-zen

### Steps to reproduce

1. Open any post on https://zompocshinobi.com/
2. Make an edit and save the post.

[2022-05-09 16:08] #63291 closed, assigned to sirbrillig

[2022-05-09 16:16] #63049 closed, assigned to sixhours

[2022-05-09 16:31] alshakero commented on #63246
Hi @blackjackkent! Not only alright with you taking the lead, I'd appreciate it a lot!

It's worth mentioning that often, `react-query` proved better than WP stores (and I love WP stores), so definitely worth considering. [This is a small PR refactoring from a story property to a query](https://github.com/Automattic/wp-calypso/pull/63241/files), please take a look and do whatever you see fit 👍🏼

I

[2022-05-09 17:46] ClassicRKR27 commented on #63301
Another report here: 35323401-hc

[2022-05-09 17:46] mikeicode opened #63424 "Varia & Child themes: Separator block Dots style colors incorrect"
### Quick summary

There are 4 preset colors for the Separator block. 2 of these colors don’t work when using the Dots style separator.

### Steps to reproduce

1. Activate Varia
2. Add 4 Separator blocks, one for each preset color.
3. View published page.

![Screen Shot on 2022-05-09 at 13:29:17](https://user-images.githubusercontent.com/10353785/167466251-ca997834-3663-4990-b9ce-5de41cf2e8ec.png

[2022-05-09 18:23] thekingsprojects commented on #63301
Another here: 35405612-hc

[2022-05-09 18:36] allilevine commented on #62640
Closing in favor of https://github.com/Automattic/wp-calypso/issues/63179

The Spotlight JITM was enabled for Sensei Pro in https://href.li/?D79053-code

[2022-05-09 18:36] #62640 closed, assigned to lupus2k

[2022-05-09 19:53] Addison-Stavlo commented on #54468
As we have released Google Fonts to simple and atomic, I am closing this issue.

A big "Congrats!" and "Thank You!" to everyone involved! 🥳 🎉 🚀

Remaining issue with some universal themes conflicts will be tracked here - [[Bug]: Google fonts not appearing in Global Styles for some Dotcom Sites](https://github.com/Automattic/wp-calypso/issues/63229)

[2022-05-09 19:53] #54468 closed, assigned to creativecoder, jeyip, zaguiini

[2022-05-09 20:58] #61464 closed, assigned to sejas, mmtr

[2022-05-09 21:30] allilevine commented on #62891
Calypso: /pages and click More menu.

[2022-05-09 22:01] allilevine commented on #63179
From planning: Add another post-transfer `manage_software` async job.

[2022-05-09 22:04] allilevine commented on #63315
From planning: May be fixed by refactoring.

[2022-05-09 22:59] allilevine commented on #62891
To do: split "clear" button and sticky categories into separate issues.

[2022-05-09 23:19] vykes-mac commented on #61297
I have tested this issue with themes TT2, Apostrophe 2 and Spearhead following the steps provided
by @mriyazuddin and was not able to reproduced it.

I'm going to close this issue but it can be reopened if anyone is still facing the issue.

Please provide detail testing instructions and a possible test site if this issue continues to occur.

[2022-05-09 23:46] alaczek opened #63434 "Theme Showcase: Download link on theme showcase page returns error 404"
### Quick summary

We recently launched a few themes on WordPress.com only, without plans to submit them to WordPress.org. The problem is the theme download link that gets appended to the bottom of the showcase pages goes to WordPress.org and returns the 404 error. As a workaround, we manually added a download link to the individual theme showcase pages, but that results in two download links, one

[2022-05-09 23:55] cuemarie commented on #63279
Just FYI to HEs who run into this, looks like https://github.com/WordPress/gutenberg/pull/40919 will resolve this issue and has been merged to Gutenberg 13.3. That means we can expect to see that fix in around 2 weeks for AT sites, and a little longer for Simple sites.

Thanks @youknowriad for the quick fix!

[2022-05-10 00:14] cuemarie commented on #63301
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on P2 ✅ **Replicated**
- Tested on Simple ✅ **Replicated**
- Tested on AT ✅ **Replicated**
- Tested on Self-hosted ✅ **Could Not Replicate**

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue on both Simple and AT sites, as well as on P2. Self-hosted envi

[2022-05-10 03:01] devNigel opened #63437 "Block Editor: Add Block Unexpected behaviors"
### Quick summary

The "Add Block" + icon on the Editor is causing some unexpected behavior such as showing line over the previous block and jumping to the next paragraph/element after clicking it.

I was able to reproduce this on both Simple and Atomic regardless of the theme

### Steps to reproduce

Issue:#1

1. Create a new page on a Simple or Atomic site.
2. Add different blocks such as headin

[2022-05-10 04:19] lsl opened #63439 "Marketplace: No results margin"
Needs margin fix on mobile:
![Screenshot(78)](https://user-images.githubusercontent.com/811776/167541828-b55c4021-1534-4f4e-8b66-fcbf3ed9a84a.png)

[2022-05-10 04:27] Robertght commented on #52144
Closing this in favor of https://github.com/Automattic/wp-calypso/issues/63297

[2022-05-10 04:27] #52144 closed, assigned to nobody

[2022-05-10 04:30] Robertght commented on #63297
Another case in #5200305-zen

![image](https://user-images.githubusercontent.com/6737345/167542944-08bcb913-b233-4bcb-a565-731ce63585dc.png)

![image](https://user-images.githubusercontent.com/6737345/167542962-a78d83f7-a450-4367-925c-06d2f35b7181.png)

[2022-05-10 05:01] SaxonF commented on #62065
Yep! Thanks @cpapazoglou . Setting text overflow should allow it to be scalable.

[2022-05-10 06:01] KokkieH opened #63440 "Editor: inline colors on links not respected"
### Quick summary

It's not possible to set a custom color on specific links using the "Highlight" option in the block toolbar. Whatever global style is set in the site editor overrides it.

### Steps to reproduce

1. Create a new post and add a paragraph, including some linked text
2. Change the one paragraph block's text color. The linked text will remain black
3. Highlight the linked text (and

[2022-05-10 08:07] zyousafi commented on #54913
Do we have an ETA for this?  One of the impacted users is waiting for a fix, and they asked about that here: #5202490-zen

[2022-05-10 08:07] autumnfjeld opened #63442 "Forge Data Onboarding"
## Forge Data Onboarding

To be done in May 2022. Not urgent.

To help smooth the data learning process for new devs, Kurt Rimbach created a great Data Onboarding Guide: PdqkMK-2u-p2

Please take a day or two to run through the document and do the Data Exercise (copied from the Guide) for a part of the Blogger or Build Flows.

### Data Exercise
The data exercise below runs through a few of the key

[2022-05-10 08:44] #62809 closed, assigned to cpapazoglou

[2022-05-10 08:57] arthur791004 commented on #62898
Close as all are shipped 🚢

[2022-05-10 08:57] #62898 closed, assigned to roo2

[2022-05-10 09:02] arthur791004 opened #63444 "Enable v13n in headstart CLI"
#### Changes proposed in this Pull Request

D80059-code

#### Related

Automattic/ganon-issues#23

[2022-05-10 09:06] arthur791004 opened #63445 "Recipe Tool: Implement Save functionality"
#### Changes proposed in this Pull Request

* D79776-code
* D79777-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62683

[2022-05-10 09:12] claudiucelfilip commented on #63376
Opened https://github.com/Automattic/wp-calypso/pull/63446 to add the Thank you page. It's changes based on the #63247 because we need the Starter plan configs and checks to enable the page.

[2022-05-10 09:20] annbingle commented on #56181
Another reported issue here in 5203055-zd

[2022-05-10 09:29] mmtr commented on #60577
I think this is a duplicate of https://github.com/Automattic/wp-calypso/issues/49847, so closing this one out and leaving the other one open since it was reported before.

[2022-05-10 09:29] #60577 closed, assigned to sejas

[2022-05-10 10:11] #63445 closed, assigned to fushar

[2022-05-10 10:13] fushar commented on #62683
@autumnfjeld for this one:

I think now it makes more sense to write up a FG page instead, similar to the image curator tool. The feature set has become more complex. What do you think?

[2022-05-10 10:25] #63444 closed, assigned to roo2

[2022-05-10 11:09] #63356 closed, assigned to andres-blanco

[2022-05-10 11:24] arthur791004 commented on #62369
@that-mike-bal @iamtakashi I'm trying to improve the experience of the Vertical Images Tool. Here are some changes

* Make a hierarchical vertical list in the sidebar and you can select the vertical or expand to select the descendant one.
* Remove the tabs and show the images with a specific vertical directly. And anyone won't be confused about the meaning of the tabs. Next, you can import the Pex

[2022-05-10 11:31] ariel-maidana commented on #53626
29365431-hc
Simple site.
Setting privacy to Coming Soon and then to Public again worked.

[2022-05-10 12:10] rcrdortiz commented on #63300
Blocked until we resolve 615-gh-Automattic/dotcom-manage

[2022-05-10 12:52] st8matrix commented on #53626
5203051-zen

[2022-05-10 13:11] WBerredo opened #63451 "Marketplace: Show on the SearchBar that an action is required to search"
### Problem

On the Plugins Browser page, if the user is trying to search plugins, there is no indication an additional action(press enter) is needed to search. It can be more confusing as in the past the search was executed without this action.

<img width="764" alt="Screen Shot 2022-05-10 at 09 11 53" src="https://user-images.githubusercontent.com/5039531/167636320-ca10a322-0840-42ce-8d2e-66c4dd

[2022-05-10 13:27] kerrynicl commented on #62430
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on P2 - No
- Tested on Simple-  ✅  Yes
- Tested on AT ✅- No
- Tested on Self-hosted - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context - Issue appears fixed on my Free test site. Not able to replicate
- Uploaded file (if needed)
<img width="857" alt="Markup 2022-05-10 at 08 23

[2022-05-10 14:25] kerrynicl commented on #50137
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context :
I do see this present on Simple/AT sites. They seem to be the only colored icon blocks

📌 ACTIONS
- Feature request kept

[2022-05-10 14:33] #63216 closed, assigned to valterlorran

[2022-05-10 14:46] #60483 closed, assigned to vykes-mac

[2022-05-10 14:57] kerrynicl commented on #63146
📌 HOUSEKEEPING
- Labels ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context - I can see the need for this setting to be placed in a more visible place in calypso, perhaps in site tools -
<img width="926" alt="Markup 2022-05-10 at 09 55 23" src="https://user-images.githubusercontent.com/8332

[2022-05-10 15:41] allilevine opened #63460 "Marketplace: Make categories menu part of the sticky search header"
Figma: f84fqtCG4pCnCh2Hq0But5-fi

![Screen Shot 2022-05-17 at 4 39 42 PM](https://user-images.githubusercontent.com/1689238/168914882-8c943e57-1e7c-4bf6-88ea-d06885d6e894.png)

Acceptance criteria:
- [ ] When scrolling both search and categories are stuck to top.
- [ ] Since we can’t search within a category currently, if performing a search than category filters are deselected (may be done in htt

[2022-05-10 15:46] allilevine opened #63461 "Marketplace: Add Clear button when category selected"
See https://github.com/Automattic/wp-calypso/issues/62891
<img width="1141" alt="Screen Shot 2022-05-10 at 11 45 17 AM" src="https://user-images.githubusercontent.com/1689238/167669170-d1b27765-4873-4172-84c5-fb050ea3a5e1.png">

Acceptance criteria:
- [ ] We also show a “clear” text button that basically just takes us home (clears filters/search)

[2022-05-10 15:51] #63294 closed, assigned to andres-blanco

[2022-05-10 16:30] #58247 closed, assigned to valterlorran

[2022-05-10 16:49] dcoleonline opened #63467 "Typo in SSL certificate pending section"
### Quick summary

A customer shared that the word "hours" appears twice in the SSL pending message:

<img width="1274" alt="image" src="https://user-images.githubusercontent.com/3505172/167680786-1a8fe52a-bcf6-4d20-a0ff-7eff5e91b5ad.png">

### Steps to reproduce

I haven't been able to replicate this as I don't have an external domain to try it with. Also, I tried with a domain registered via wpc

[2022-05-10 16:52] sixhours opened #63468 "Anchor: Check usage of generators in the related stores and refactor to thunks if necessary"
Generators should be replaced with thunks following updates to the WP data store. I *think* all stores for Anchor are already accounted for (the flow uses the onboarding store and the site store IIRC) but we need to double check. Related to #63246

[2022-05-10 17:27] Robertght commented on #63270
I have tested this with Varia, Exford and Alves and they all behave the same.

I could not replicate this with Blockbase or other themes.

[2022-05-10 18:05] markbiek commented on #63246
@Automattic/serenity Starting on the site data-store:

Currently working on :

- `getSiteSettings`

[2022-05-10 18:40] valterlorran commented on #63296
I'm taking a look on this issue and It seems to be used here:
https://github.com/Automattic/wp-calypso/blob/d224e8dde4e005c710e42bbba3e035523cb565da/client/landing/stepper/declarative-flow/internals/steps-repository/woo-confirm/index.tsx#L93

Because it uses the `hasAvailableSiteFeature` selector here:
https://github.com/Automattic/wp-calypso/blob/d224e8dde4e005c710e42bbba3e035523cb565da/packages/

[2022-05-10 18:56] obenland commented on #63296
Yes, you should be able to replace it with just `! select( STORE_KEY ).hasActiveSiteFeature( siteId, 'woop' )`. `hasAvailableSiteFeature` is redundant in this instance.

[2022-05-10 19:50] markbiek commented on #63246
Products-list data store update is done and merged. Site data store is out for review.

Not sure what data-stores we may want to tackle after this but I'm unassigning myself for now.

[2022-05-10 21:14] DavidRothstein opened #63477 "[Bug]: Jetpack-only product list can get cached for WordPress.com sites"
### Quick summary

This is to track the underlying bug behind issues like https://github.com/Automattic/wp-calypso/issues/63291 (and as originally discussed for example at p1651671145311929-slack-C0117V2PCAE).

Basically the problem is that Calypso makes API requests to `/rest/v1.1/products?type=all` for WordPress.com sites and `/rest/v1.1/products?type=jetpack` for Jetpack sites (the latter of wh

[2022-05-10 23:10] annbingle commented on #61756
I got the same request in my chat here 35407283-hc

[2022-05-11 00:03] lsl commented on #62912
5203059-zd-woothemes p1652188664973559-slack-C029JEQRVRT

User report of not being able to update multiple plugins at once via Jetpack.

[2022-05-11 00:33] rw-ye commented on #57680
Another customer asking about it here: 19814760-hc

[2022-05-11 01:04] syhussaini opened #63479 "Error when trying to edit a non-FSE theme like Twenty Twenty"
### Quick summary

When trying to edit the Twenty Twenty theme it throws an error:
![image](https://user-images.githubusercontent.com/8070771/167747871-1dab6ec1-a065-48ba-abca-ca696ecb5268.png)

### Steps to reproduce

1. Activate Twenty Twenty Theme
2. Click on Edit button next to the theme to see the error.

![image](https://user-images.githubusercontent.com/8070771/167747978-6b0ce597-7b94-4183-

[2022-05-11 02:28] fushar opened #63480 "Vertical Recipe Tool: Allow Published/Draft state for recipes"

[2022-05-11 03:32] arthur791004 opened #63481 "Improve the experience of the Vertical Images Tool"
#### Changes proposed in this Pull Request

D80438-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62369

[2022-05-11 05:40] fushar opened #63483 "Spike: How to fetch/filter verticals that have images"

[2022-05-11 07:12] arthur791004 opened #63484 "Find the image by the aspect ratio and resize to the original dimensions"
#### Changes proposed in this Pull Request

D80153-code

#### Related

https://github.com/Automattic/wp-calypso/issues/62812

[2022-05-11 07:13] fushar opened #63485 "Implement new endpoint for fetching generated designs"

[2022-05-11 07:38] ivan-ottinger opened #63486 "Add "Site name" to the "New Post" email template"
- Font size is `14px` over both Desktop and Mobile
- WordPress logo / Site icon and the Site name should be vertically aligned within the container

More information: p1652212741041089/1651498395.616329-slack-C02TCEHP3HA

[2022-05-11 07:39] taipeicoder commented on #63485
I believe this task depends on adding categories to recipes, correct? We should return one recipe per category.

[2022-05-11 07:40] fushar commented on #63485
Nope, for this task, I specifically mentioned this (and also check the AC):

🙂

[2022-05-11 07:41] fushar opened #63487 "Implement recipe categorization"

[2022-05-11 09:00] #59726 closed, assigned to sejas, mmtr

[2022-05-11 09:17] arunsathiya commented on #63141
@Automattic/dotcom-pqa-group Should we move this issue to https://github.com/Automattic/themes?

[2022-05-11 09:31] rickmgithub commented on #60119
5205736-zd

[2022-05-11 09:52] arthur791004 opened #63490 "Refactor headstart CLI and remove unused code"
#### Changes proposed in this Pull Request

D80429-code

#### Related

Automattic/ganon-issues#23

[2022-05-11 09:54] autumnfjeld commented on #63483
cc: @that-mike-bal  working on getting image count per vertical

[2022-05-11 10:16] arcangelini opened #63491 "HelpCenter: fix SVG's not loading"
### Details

Some Icons are not loading in the HelpCenter.

<img width="1461" alt="Markup 2022-05-11 at 12 14 14" src="https://user-images.githubusercontent.com/33258733/167826902-8ac97348-7081-404b-a2b0-614c3b8fc9f6.png">

<img width="255" alt="Markup 2022-05-11 at 12 14 29" src="https://user-images.githubusercontent.com/33258733/167826878-e61ca487-aab5-46a2-b2f7-9f8a93c2ebdc.png">

### Checklist

[2022-05-11 10:27] poligilad-auto commented on #63275
- **Help center height**: originally I though “800px” was good, but testing it on desktop “cuts off” the edge of it. Can we have the height dependant on the viewport height? Something like 80%?
<img width="484" alt="image" src="https://user-images.githubusercontent.com/83961704/167826887-1ee30798-2b68-4d49-983f-eea531c6aa62.png">

- **Button focus state**: Let’s remove the “focus” state from all t

[2022-05-11 11:16] syds87 opened #63495 "Follower email customized text ignored in confirmation emails"
### Quick summary

After adding a custom text in `Settings > Reading > Blog Follow email text` and saving the settings, new subscribers will still see the default text for subscription emails, instead of the one saved in the settings.

### Steps to reproduce

1. Go to `Settings > Reading`
2. Type some custom text in `Blog Follow email text`
3. Click Save Changes
4. Try subscribing to that blog wit

[2022-05-11 11:27] chriskmnds opened #63497 "Plans overhaul: Review plan constants used in repo"
Confirm if any validity in the comment below and any action that needs taken:

_Originally posted by @chriskmnds in https://github.com/Automattic/wp-calypso/pull/63247#discussion_r869283860_

[2022-05-11 12:12] rickmgithub opened #63498 "Photos theme not showing blog posts block on home page"
### Quick summary

When you use a blog posts block on the home page of the Photos theme, the feature images do not show.

### Steps to reproduce

1. Set a blog posts block on the home page and set it to show featured images
2. Set the home page as a static page in the customizer on the Photos theme
3. Check the home page. No featured images are displayed

### What you expected to happen

The stati

[2022-05-11 12:14] chriskmnds opened #63499 "Plans overhaul: Update my-plan page for Starter (icon and features)"
Update `plans/my-plan` page to include an icon and features for the Starter plan. Base this off the Personal plan, but may want to include any extra features, like custom domain, etc.

<img width="320" alt="Screenshot on 2022-05-11 at 11-51-00" src="https://user-images.githubusercontent.com/2749938/167813621-c8897ef9-9e63-4592-8a0c-132686a1d941.png">

_Originally posted by @claudiucelfilip in http

[2022-05-11 12:31] chriskmnds opened #63501 "Plans Overhaul: Confirm price displays in grid (decimals and yearly sums)"
We need to confirm if the Plan prices ought to include decimals and yearly sums in the description (as per the design mocks):

- Confirm and update price displays (there are decimals in the design mocks e.g. $5.00 pdgrnI-WP-p2)
- Confirm and update including yearly price in plan description (per month, billed $60 yearly in design mocks pdgrnI-WP-p2)

_Originally posted by @chriskmnds in https://gi

[2022-05-11 12:50] chriskmnds commented on #63501
Probably not as high priority as the same goes for Landpack changes and elsewhere (l believe neither include decimals and yearly sums in the updates either).

[2022-05-11 14:20] phcp commented on #62994
The patch (D80381-code) fixing this issue is now deployed to production.

[2022-05-11 14:20] #62994 closed, assigned to phcp

[2022-05-11 15:20] #63295 closed, assigned to markbiek

[2022-05-11 15:47] msilbers commented on #63437
I am also seeing this pretty consistently, and have had at least 2 reports before I found the issue reported. I can see it in my own sites as well, regardless of theme.

[2022-05-11 16:01] jorpdesigns commented on #52046
I think this bug is also affecting the "Edit" link seen at the bottom of pages and posts on the front end.

By default, the link does not show:
<img width="1259" alt="editlink1" src="https://user-images.githubusercontent.com/40006288/167894100-585f8bd4-09ef-4920-9810-48d5b6d326d9.png">

After visiting WP Admin and reloading the same page, I can see the link:
<img width="1362" alt="editlink2" src="

[2022-05-11 16:05] Addison-Stavlo opened #63508 "Google Fonts on FSE: "Whats New?" feature announcement."
Enable a Whats new feature announcement regarding google fonts to ship after we resolve the remaining bugs.

Slack context for more info (plan to update this issue more later) - p1652265967874059-slack-CHN6J22MP

[2022-05-11 16:09] jp-imagines opened #63509 "Empty Row block creates large number of pages when printing in Chrome"
### Quick summary

If a post or page has an empty Row block (i.e. a Row block with no nested blocks inside it), Chrome reports several _thousand_ pages if you attempt to print that page.

### Steps to reproduce

1. Open the block editor for a post or page.
2. Insert a Row block.
3. Save changes.
4. Open that post/page in Chrome and try to print the page (File > Print, right click > Print, or a "pr

[2022-05-11 16:15] Addison-Stavlo commented on #59527
Are there any updates on where we are at resolving this or any blockers?

[2022-05-11 16:16] #63491 closed, assigned to arcangelini

[2022-05-11 16:22] Addison-Stavlo commented on #61611
I think in general this change should be discussed and surfaced in core.

On dotcom our current plans in creating a guided editor tour should serve to expose new users to the list view and its benefits.

[2022-05-11 16:30] #63296 closed, assigned to valterlorran

[2022-05-11 16:32] Addison-Stavlo commented on #59595
We did recently fix a bug regarding the "Manage Menus" button accessed here.

I am now testing on a classic theme and "Manage Menus" is bringing me to the wp-admin menus management screen with no access error (testing on Twenty Sixteen).

Can folks still reproduce this?

[2022-05-11 16:39] #60103 closed, assigned to nobody

[2022-05-11 16:51] Addison-Stavlo commented on #57210
Are we still talking about the theme changed modal having inconsistencies in this state? Or a different section altogether?

In your screenshot, is that link on MyHome or somewhere else?

[2022-05-11 16:56] DavidSaladu opened #63510 "Customizer menu changes can lead customers to create duplicates at every menu change"
### Quick summary

If there's a menu created through the customizer it will appear on FSE under the menu selection option as a classic menu. If the menu is selected, a duplicate is created under the new menus. Each time it's selected a new detached menu will be created usually causing confused users to end up with several copies of that menu.

This causes customers that are used to the customizer

[2022-05-11 17:01] jjchrisdiehl commented on #50064
### Updated roadmap

After some experimentation, the current idea to resolve this issue will require updating the `<PlanPrice />` component to take a `productDisplayPrice` prop returned from the backend as described by Cain in the original post. Once this is done, we can then update `<PlanPrice />` components across Calypso to take in this new value and conditionally display it.

Update the endpoi

[2022-05-11 17:43] blackjackkent commented on #63246
@markbiek Are those the only stores relevant to our Woo work specifically? If so, I think we can go ahead and close this when the relevant PRs are merged.

[2022-05-11 17:50] markbiek commented on #63468
@sixhours The site store will be taken care of once #63472 is merged.

The onboard store doesn't have any resolvers to update so I think we're good.

[2022-05-11 18:13] thesacredpath opened #63511 "Blog Posts Block: Keep reading rendering below sharedaddy"
### Quick summary

On Atomic site, the Blog Posts block Read more (Keep reading) link renders below the sharing/likes when page is viewed. Tested with Arbutus theme (one user is on) and also on Twenty Twenty Two on my test site and it happens with both. Was not able to reproduce on Simple site on Twenty Twenty Two.

### Steps to reproduce

1. Create new page and add Blog Posts block, set to show a

[2022-05-11 18:52] jeyip commented on #63229
Leaving a reminder here to update jetpack global styles google fonts documentation if we decide to use post title and heading block typography settings in the site editor as the new way to change heading fonts globally.
cc @creativecoder

[2022-05-11 18:58] KirkwallDay opened #63515 "Navigation Block Mobile Menu in FSE won't work until after all site content has loaded."
### Quick summary

The mobile menu on an FSE site will not function until all of the site content is loaded. This is particularly a problem with ads as they generally take a little bit longer to load.

### Steps to reproduce

1. Have an FSE site with Jetpack Ads enabled.
2. Make sure the site has a mobile menu.
3. View the site and try to use the mobile menu before the ads load, or even a little b

[2022-05-11 19:47] #63113 closed, assigned to markbiek

[2022-05-11 20:16] sixhours commented on #62701
Have a good start on this on the existing Anchor FG page: PCYsg-vWu-p2

[2022-05-11 20:25] markbiek commented on #62701
That was a really good explanation of how all the pieces together.

A couple of minor things I noticed:

![image](https://user-images.githubusercontent.com/917632/167941040-ebdf8933-bd46-40b9-a1c6-aa4408f36971.png)
Is that `, and` supposed to be there?

![image](https://user-images.githubusercontent.com/917632/167941451-b46054ab-cc16-4df8-b5a4-683444873d8a.png)
Is `#3` meant to be blank?

[2022-05-11 20:47] ClassicRKR27 opened #63521 "Karuna: Group block Dimension settings are missing"
### Quick summary

I'm not sure if this is a bug or expected because this is an older theme, but on sites using the `Karuna` theme the `Group` block Dimension settings are completely missing. I couldn't find anything on it so figured it'd be best to report it here.

### Steps to reproduce

1. Select the `Karuna` theme
2. Add a `Group` block to any page
3. You'll see that the Dimension settings are

[2022-05-11 21:00] #62142 closed, assigned to sirbrillig

[2022-05-11 21:23] csabarakasz commented on #11116
It seems like this 5203998-zd-woothemes is the same case. Although when I tested it, I could subscribe to the blog and I showed up as an email follower. So not sure.

[2022-05-11 21:29] csabarakasz opened #63523 "Add product thumbnails to the mobile view of Kerr theme's Cart page. #5995"
### What

## Steps to replicate

Cart page on Kerr premium theme does not include product thumbnails:

Desktop view:
![CleanShot 2022-05-11 at 11 00 10](https://user-images.githubusercontent.com/84539773/167818681-018e3886-61d0-4ad8-8fe3-4e05f8dee883.jpeg)

Mobile view:
![CleanShot 2022-05-11 at 11 00 40](https://user-images.githubusercontent.com/84539773/167818738-77dc1c28-4b70-4dd0-9849-165a2e6a

[2022-05-11 23:11] nicolynramos opened #63527 "Overlay menu does not work for same page anchor links on Blockbase themes"
### Quick summary

When using the overlay menu on FSE/Blockbase themes with menu items linking to anchor tags on the same page, the menu links do not work.

### Steps to reproduce

1. Add anchor tags to items on a single page
2. Add links to navigation menu to the anchors on the same page
3. Enable the overlay menu on mobile-only or always
4. View overlay menu on live site and see that the links t

[2022-05-11 23:43] cuemarie commented on #63528
This issue is reported for Apostrophe 2 here: https://github.com/Automattic/themes/issues/5827

[2022-05-11 23:52] cuemarie commented on #63528
User from OP would like an update when this is resolved. Tickets from that user include:

- 4940725-zd-woothemes
- 4961419-zd-woothemes

[2022-05-11 23:53] zachspears commented on #57991
Another case - #5207438-zd-woothemes

[2022-05-12 00:04] Greatdane commented on #63279
Another report; 5203200-zd-woothemes

[2022-05-12 00:14] zachspears commented on #63206
I have tested this but was not able to replicate it. When you do not input any help text, the button is deactivated, but if you type anything into the box, it activates as expected:
<img width="1096" alt="Screen Shot 2022-05-11 at 6 10 35 PM" src="https://user-images.githubusercontent.com/10124024/167967264-7ea604ce-2e63-408f-bae9-880945510e9a.png">
<img width="1096" alt="Screen Shot 2022-05-11 at

[2022-05-12 00:27] zachspears commented on #63209
Unable to reproduce the issue, installed 2020 theme and tried adding a Navigation Block and page link:
<img width="1096" alt="Screen Shot 2022-05-11 at 6 21 34 PM" src="https://user-images.githubusercontent.com/10124024/167968306-a39628c9-5007-49c6-aa99-213971af5c30.png">
<img width="1096" alt="Screen Shot 2022-05-11 at 6 22 10 PM" src="https://user-images.githubusercontent.com/10124024/167968320-

[2022-05-12 00:27] #63209 closed, assigned to nobody

[2022-05-12 03:40] arthur791004 commented on #63481
Close as it's shipped 🚢

[2022-05-12 03:40] #63481 closed, assigned to arthur791004

[2022-05-12 03:43] arthur791004 commented on #62369
@that-mike-bal @iamtakashi [The above improvement](https://github.com/Automattic/wp-calypso/issues/62369#issuecomment-1122262789) is shipped 🚢

[2022-05-12 04:49] alaczek commented on #62812
I don't think that's feasible - all the patterns themselves are created as posts on that site, so to select a specific "example" post, that's not a pattern, we'd need to customize the query (for example select from a specific category) BUT it's important we don't modify the query in the pattern, as this is what's going on the customer site, right?

Also, kind of related, what's going to happen whe

[2022-05-12 04:55] Greatdane commented on #63515
Some questions;

1. With Jetpack Ads, do you mean WordAds?
2. When you say 'Make sure the site has a mobile menu', are you using a classic menu? FSE menus are configured via `wp-admin/edit.php?post_type=wp_navigation` and as far as I know, you cannot configure a mobile-only? So are we talking about a 'classic menu' that was originally set as a mobile menu?

Thanks!

[2022-05-12 04:57] Greatdane commented on #63245
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-05-12 05:35] Greatdane commented on #62047
Actually going to close this now as can no longer reproduce.

[2022-05-12 05:35] #62047 closed, assigned to nobody

[2022-05-12 05:36] #52315 closed, assigned to nobody

[2022-05-12 05:37] Greatdane commented on #63206
Closing this as well, unable to reproduce.

[2022-05-12 06:01] Greatdane commented on #63210
Seen an issue like this before (or at least chatter). It does not happen all the time as we have all had many users in chat with broken Jetpack connections. I am not sure the specific circumstances it happens.

@Automattic/happops - can I check if this is an internal issue that may be best on your own repo?

[2022-05-12 06:23] vishnugopal commented on #63121
@bogiii We might take a look at what Ganon is doing here, as they are also doing something similar for the design picker!

[2022-05-12 06:31] miksansegundo commented on #63442
Thanks 👍
I'll take a day or two next week to run through the document and do the Data Exercise.

 - [ ] Run through a user journey of your choice in the Hero Flow onboarding and fire a few Calypso events yourself. Check that they fired in any of the monitoring tools (Tracks Live View, Network Mode, Chrome Plugin etc.)
- [ ]  Look up these events in the Tracks Events Directory
- [ ]  Create a funne

[2022-05-12 06:38] arthur791004 commented on #62812
Currently, the posts are from casselstarter.wordpress.com when you preview the single pattern in PTK, whereas the posts are from the theme demo site when you preview the theme or the generated design (in the Recipe Tool).

So, one is to follow the original way and it means the posts of the generated designs are from the theme demo site but I think it's not suitable for text verticalization in the

[2022-05-12 06:51] jordesign commented on #62420
Moved this to Vertex's column - but with the changes to the Help Center and Help Icon/Chat window - this may no longer be an issue

[2022-05-12 07:30] Nic-Sevic commented on #63210
@Greatdane This issue only occurs if the user has a single site that is Chat eligible with a broken connection. Many users have multiple sites that are eligible (for example a Premium an a Bus site) and as long as one of those is live, chat will work fine. However, if they only have a single site, they will be unable to access chat

[2022-05-12 07:41] lsl opened #63532 "Marketplace: Enable infinite scrolling on search results"
- Infinite scroll is currently disabled
- When trying to enable it I noticed:
- ^ Mobile view searches sometimes fail to execute
- ^ Scrolling past the infinite scroll component into the footer prevents infinite scroll loads form executing.

- [ ] Enable infinite scroll
- [ ] Ensure it's not buggy

May also want to disable the footer in the same PR: see https://github.com/Automattic/wp-calypso/iss

[2022-05-12 08:33] #60185 closed, assigned to sejas

[2022-05-12 08:36] vishnugopal commented on #62238
Discussion:
- One more PR is in draft.
- Will start working on E2E after this. We're adding new ones, but they will be same with the new ones.
- Then finally, reorg code to have parity with the Stepper framework.
- We can deploy everything, but once we are ready, we can switch once /setup is made the primary flow. And then we can remove the previous signup flows.

[2022-05-12 08:48] sejas commented on #61358
Reopening because we had to revert #63271 since it caused an infinite loop when accessing https://wordpress.com/log-in/en with unauthenticated users.

[2022-05-12 08:51] devNigel opened #63534 "Blask: "Older Projects" button disappears after first click."
### Quick summary

In Blask theme, the "Older Projects" button disappears unexpectedly after the first click even though there are more projects in that category.

### Steps to reproduce

1. Add the theme Blask on a simple site.
2. Use BRC to headstart the site.
3. Create a category in Portfolio > Project Types.
4. Assign that category to 3 or more porjects.
5. Go to Settings > Writing and change

[2022-05-12 08:59] vishnugopal opened #63535 "Make sure to set up CI/CD on importer-functions"

[2022-05-12 09:00] vishnugopal commented on #63535
Discussion:
- There is already a Github Actions that deploys to a personal account.
- This needs to change to the right AWS acount.

[2022-05-12 09:02] vishnugopal commented on #63321
Discussion:
- Most of the serverless framework issues have been solved.
- AWS permission issues are also been sorted for a normal deploy.
- Converted the url-analyzer to typescript, and have similar ways to test locally. Trying to keep it similar to the color extractor.
- Let's wait until we integrate into the tool in MC.
- For local development, let's run everything inside a container.

[2022-05-12 09:05] vishnugopal commented on #62242
- We had some ideas for improvement here, that will be tackled next. pcmemI-ys-p2#comment-645

[2022-05-12 09:08] vishnugopal commented on #63039
- This work here is to make this a signed request from the public API to the Lambda endpoint.

[2022-05-12 09:15] vishnugopal commented on #63202
Discussion:
- Was trying to find out what's happening under the hood.
- Endpoints in some scenarios are cached. (Shadow endpoint?) Because of the caching, it might return an older result.
- We need to dig into this more.

[2022-05-12 09:18] cpapazoglou commented on #62592
Can this be merged now?

[2022-05-12 09:34] vishnugopal opened #63538 "Extend Verticals MC tool to display images from a URL"

[2022-05-12 11:07] mmtr commented on #58590
@sejas and I have been taking a look at this and prepare a PR to fix this issue (945-gh-Automattic/wpcomsh). However, today we noticed that we might don't need it at all since the issue could be already fixed?

Gutenberg released yesterday a new version (13.2.0) but Atomic sites are still using the previous version (13.1.0). On our tests, the "My Home > Updates" and "Plugins" menus show the expect

[2022-05-12 11:28] dsas opened #63543 "Marketplace: Product bd slugs have a limit of 40 chars"
Since we intend to automate the creation of these slugs and abstract our users from this WPCOM detail, we will need to infer or create the slug based on either the title or description or any other information inputted by the user.
If we have a 40 char limit we will need to implement a trimming strategy in order to accommodate 40 chars, by removing this limitation our code would be simpler. Raisin

[2022-05-12 12:55] jgcaruso commented on #62903
The fix has been deployed!

[2022-05-12 13:01] WBerredo opened #63544 "Model the A/B experiment for plugin search"
Create an experiment to evaluate the results of the project Use a search engine to power plugin results in Calypso(pdh6GB-Ax-p2)

We must follow the guide on Getting Started with ExPlat (PCYsg-FpD-p2):

- [x] **Determine** experiment type - A/B (50-50)
- [x] **Design** your experiment - [Docs draft](https://docs.google.com/document/d/10WWAfeZIvfhJhT1g9AOuwryZNtIrk8S95H48noFYc-Y/edit?usp=sharing)
-

[2022-05-12 13:05] paulopmt1 commented on #63013
The next step here will be adding support to `queryParams` instead of just a query search string [in the previous refactor](https://github.com/Automattic/wp-calypso/pull/63352).

With this queryParams, we expect to get and update more than one parameter on the URL.
For instance, if we have the following URL: `/plugins?search=s&category=c` and we call the hook, it should return `{ search: 's', cate

[2022-05-12 13:18] alshakero opened #63545 "Task: Help center Directly support variation"
### Details

Implement Directly support in the help center.

See P2 for details: dDR7T-p2?p=436

### Checklist

_No response_

### Related

_No response_

[2022-05-12 13:19] gcsecsey commented on #62067
@jmdodd could you please help us find a way to estimate the time needed for the Atomic transfer?

@SaxonF could you please help us decide what would be a good visual feedback for the users?

[2022-05-12 13:20] kdevnel commented on #62903
Let original customer know - 5209301-zd-woothemes

[2022-05-12 13:21] alshakero opened #63546 "Task: Help center Upwork support variation"
### Details

Implement Upwork support in the help center.

See P2 for details: dDR7T-p2?p=436

[2022-05-12 13:24] alshakero opened #63547 "Task: Help Center Sizing"
### Details

This help-center can be too big for some screens.

### Checklist

- [ ] Make sure the HC works on smaller desktop screens
- [ ] Test against regression in mobile.

### Related

_No response_

[2022-05-12 13:27] alshakero opened #63548 "Task: Help Center Embedded Articles Styling"
### Details

Embedded article need more CSS love. A list of issues is described here: pdtkmj-9r-p2#comment-194

### Checklist

Please make sure to read the issues listed in Igor comments in the P2 and make sure they're fixed.

### Related

_No response_

[2022-05-12 13:30] alshakero opened #63549 "Task: Help Center Keyboard Nav and Accessibility"
### Details

Make sure the help center is keyboard navigable and at least somewhat accessible.

### Checklist

- [ ] Lists should be navigable by tabs and arrows
- [ ] Buttons should be pressable by pressing enter

### Related

_No response_

[2022-05-12 13:39] gcsecsey commented on #61993
This may be a duplicate issue of this one: https://github.com/Automattic/wp-calypso/issues/63168

We're still working on getting the existing Jetpack Search API to work in English, but we'll definitely look for adding translations later. @gibrown @robfelty @mdbitz based on the above questions, do you think it'd be feasible with the jetpack search index?

[2022-05-12 13:41] sixhours commented on #63212
Fixed in #63425

[2022-05-12 13:41] #63212 closed, assigned to sixhours

[2022-05-12 13:45] gcsecsey commented on #62065
Backlog grooming:
Paid plugins: Take up all the space until the billing interval switcher
Free plugins: Take up the full width of the page

[2022-05-12 13:51] alshakero opened #63552 "Task: Help center error messaging"
### Details

Now, we don't handle any failures in the contact form. We need to communicate clearly to the users when things go wrong (missing subject, missing title, etc..).

### Checklist

- [ ] Handle Kayako tickets failures
- [ ] Handle Forum topics failures
- [ ] Report error on form validation if needed.

### Related

_No response_

[2022-05-12 13:55] druesome opened #63553 "Tag Cloud Block: Add option to specify tags or categories to display"
### What

It would be nice to have an option to specify which tags or categories to show inside the tag cloud.

Ticket: 5207438-zen

### Why

Having this option would let users feature tags or categories that they would like to promote or highlight to their visitors.  It could also solve the problem of sites that have too many of them.  The tag cloud, as a result, would become more useful and aest

[2022-05-12 14:04] allilevine opened #63554 "Marketplace: Add submission success page"
Add Marketplace submission success page at route /marketplace/submission-success (no site selector needed).
See pdh6GB-Ne-p2 ("We'll be in touch" design)

Acceptance criteria:
- [x] There is a Marketplace submission success page at /marketplace/submission-success
- [x] Clicking continue in the learn more section takes me to P2gHKz-oRE-p2
- [x] Clicking continue in the view the marketplace section

[2022-05-12 14:12] #63246 closed, assigned to markbiek

[2022-05-12 14:12] #63468 closed, assigned to markbiek

[2022-05-12 14:24] JoshuaGoode commented on #58590
Thanks for digging in.

It appears this is no longer an issue @mmtr  @sejas -- I can no longer reproduce my original report.

[2022-05-12 14:29] simison commented on #62903
@jgcaruso feel free to close when fixed elsewhere than calypso repo. It got reported here because the issue appeared on .com. cc @cometgrrl

[2022-05-12 14:29] #62903 closed, assigned to jgcaruso

[2022-05-12 14:35] KirkwallDay commented on #63515
Hey @Greatdane,

Yes, that's right.

In the template editor, you'll need to add a navigation block into your header (although this probably happens anywhere the block is added) and then make sure that it's set to show the mobile menu. The setting is here. "Mobile" and "Always" should re-produce the issue, but with "Mobile" you'll need to view the site on a mobile view.

![Screen Shot 2022-05-12 at

[2022-05-12 14:43] alshakero opened #63557 "Task: Submitting forums ticket without a valid site"
### Details

Currently, we only allow submitting a ticket if the site entered is a valid and a WPCOM site. Remove that for the forum option and allow the users to post anything.

### Checklist

_No response_

### Related

_No response_

[2022-05-12 14:47] alshakero opened #63559 "[Bug]: Help Center is not respecting the locale"
### Quick summary

Maybe it's an ETK issue or a HC issue. But the locale isn't being respected.

### Steps to reproduce

Run the help center in a non-English locale.

### What you expected to happen

Locale should be respected.

### What actually happened

It isn't

### Context

_No response_

### Browser

_No response_

### Simple/Atomic

_No response_

### Other notes

_No response_

### Reprodu

[2022-05-12 14:51] alshakero opened #63561 "Task: Reset Help Center store on submit"
### Details

After you submit, we still have your `message`, `subject`, etc.. stored in the store. Reset the store when the user submits.

### Checklist

_No response_

### Related

_No response_

[2022-05-12 15:26] sixhours commented on #62701
Good catches, all should be fixed!

I'm putting this up for review, please let me know if anything is unclear or if there's information I've left out.

The section on WordPress.com -> Anchor.fm is pretty sparse because we haven't worked on that as part of this project. I tried to convert a blog post to an episode yesterday and it didn't work, so we may need to investigate that after launching the

[2022-05-12 15:28] sixhours commented on #63348
👋 @valterlorran are you still looking into this one?

[2022-05-12 15:33] jp-imagines commented on #60875
+1 from me as well. Had a user in 5209388-zd-woothemes who wanted newly activated themes to look like the theme demo image, which currently requires us to manually export/import demo site content for AT sites.

[2022-05-12 15:34] markbiek commented on #62701
I fixed that trailing `, and` plus a couple other teeny-tiny typos.

[2022-05-12 17:12] mxhassani commented on #58937
Similar case here: 6417480-hc

[2022-05-12 17:18] vindl commented on #56797
Hi @alshakero, just wanted to check if there are any new updates on this issue? If you are not planning to work on it anymore Build can take it over.

[2022-05-12 17:24] alshakero commented on #56797
@vindl hi!it would be great help if you take this over. Thanks!

[2022-05-12 17:36] kerrynicl commented on #63210
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on P2 - No
- Tested on Simple - No
- Tested on AT ✅
- Tested on Self-hosted - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context - I was able to replicate this where the only contact method was via email where the only site on the account was Pro, there were chat slots available

[2022-05-12 18:14] kerrynicl commented on #63269
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context- seems to have been fixed as its now appearing correctly for me -
<img width="1548" alt="Markup 2022-05-12 at 13 12 58" src="https://user-images.githubusercontent.com/83325600/168141408-f9fb467e-5f7a-44f5-941b-4a6bc82ed0fc.png">

📌 ACTIONS
- Closed as no longer relevant/Fixed

[2022-05-12 18:14] #63269 closed, assigned to nobody

[2022-05-12 18:17] kerrynicl commented on #63269
How post used to appear -
<img width="861" alt="Markup 2022-05-12 at 13 16 16" src="https://user-images.githubusercontent.com/83325600/168142011-7602a4b8-1709-48c0-ba51-44ba1fef1b0b.png">

[2022-05-12 18:43] kerrynicl commented on #63399
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context - I was able to replicate in testing
<img width="607" alt="Markup 2022-05-12 at 13 41 28" src="https://user-images.githubusercontent.com/83325600/168146148-274c2f77-b50d-49b7-b83f-c3f5f79d495f.png">

📌 ACTIONS
- Marked as Triage

[2022-05-12 19:16] alshakero opened #63572 "Show the HC in widget editor"
We currently show the HC in Post, Page, and Site editors. But we also have the editors mentioned above. Investigate ways to enable HC there.

@alshakero I'm wondering if this should be in all the editors? (I'm assuming the point of the help center to have it persistent across as many interfaces as possible.)

As a reminder, we currently have Post, Site, Widget, and Navigation editors... though I t

[2022-05-12 19:42] csonnek commented on #45586
Another report in: https://wordpress.com/forums/topic/i-cant-import-my-wix-site/?view=all

Site: https://www.prosperlaw.com.au/

[2022-05-12 20:02] valterlorran commented on #63348
Not at the moment. Feel free to assume it!

[2022-05-12 21:21] macmanx2 commented on #45586
user from the above thread reported:

[2022-05-12 21:27] SaxonF commented on #63554
@allilevine I believe this layout has already been built, possibly as a success message after installing a plugin? SJ6I0rUUtHNdHMF2KMMJig-fi-311%3A5435

[2022-05-12 21:34] vykes-mac commented on #60031
I have created a fix here D80695-code

[2022-05-12 21:34] vykes-mac commented on #62720
I have created a fix for testing here D80695-code

[2022-05-12 22:47] alshakero commented on #63561
PR (draft so here) here: https://github.com/Automattic/wp-calypso/pull/63582

[2022-05-12 23:10] cuemarie opened #63583 "[Post by Voice] feature not successfully creating posts or adding media to library"
### Quick summary

The "Post By Voice" feature appears to have stopped working entirely. The automated voice system, and phone call generation portion of the feature still works, but nothing happens on the site where a recorded post should land.

### Steps to reproduce

1. Visit your WP Admin Dashboard by adding /wp-admin/ to the end of your site’s url (e.g.: example.wordpress.com/wp-admin)
2. Cli

[2022-05-12 23:23] cuemarie commented on #63583
If you take a look at the link shared here: p1652397588079429/1652394327.067639-slack-C03TY6J1A - it appears that no posts by voice have successfully made it to WPcom since **2022-04-27**

[2022-05-13 00:27] zachspears opened #63584 "Request: Site Statistic (Visitor Counter) Widget"
### What

A new Widget for sites that provide Site Statistics such as page views.

### Why

Users really enjoy the ability to track and display site/page views and described in the following ticket.
5210255-zd-woothemes

### How

_No response_

[2022-05-13 00:32] alaczek commented on #62812
What's PTK? And why would we use posts from casselstarter?

This is correct. I'm still not sure what the "current" way is though. If it involves posts from a random site, like the cassel example, then we shouldn't be using that.

[2022-05-13 01:10] zachspears commented on #63274
Keeping this request as I agree with the value and have tested and confirmed this feature does not exist.

[2022-05-13 01:23] zachspears commented on #63310
I can see the value in this, though due to low impact I have set the priority to low.

[2022-05-13 01:45] jromales commented on #61721
Here's another report at 5210822-zd-woothemes.

I removed bare `<mark>` tags and also suggested an alternate solution:

To copy/paste content in a text editor such as Notepad. And then copy/paste from text editor to WordPress editor (as suggested by Brandon at 5182853-zd-woothemes).

[2022-05-13 02:06] #63315 closed, assigned to lsl

[2022-05-13 02:14] lsl opened #63586 "Marketplace: Nested <a/> error"
Getting a console error on search results:

![Screenshot_2022-05-13_12-13-27](https://user-images.githubusercontent.com/811776/168197849-efc8b286-7738-42ca-92ce-fd0269f9cf7e.png)

- [ ] Stop rendering nested link tags

[2022-05-13 02:14] lsl opened #63587 "Marketplace: NaN result"
Under page 2 or 3 of search results for "seo" I see this card with `undefined` showing up in the html and this error in the console:

![Screenshot_2022-05-13_12-13-05](https://user-images.githubusercontent.com/811776/168197916-0fde976c-b34d-4302-ac89-dc1355ff0e03.png)

The console error is because there is more than one of these broken results, guessing an ID / key we use is dereffing to NaN in bo

[2022-05-13 03:22] SaxonF commented on #61421
Couple of thoughts.

It would be nice to get to a point where plan upgrades can happen without leaving the editor or other flows like onboarding.
![image](https://user-images.githubusercontent.com/1072756/168202710-10a95ca8-f36e-44be-9fb7-3ebdf7b5ad09.png)

I think in situations like this we could probably lean more heavily into the help and guidance work. e.g. a help tour explaining the product b

[2022-05-13 03:27] arthur791004 commented on #63484
Close as it's shipped 🚢

[2022-05-13 03:27] #63484 closed, assigned to arthur791004

[2022-05-13 03:44] taipeicoder opened #63588 "Generated design picker: Responsive thumbnail height"
## Description
Currently, thumbnails in the generated design picker have fixed height. We want to best make use of the vertical space in order to show as much of the design as possible, which is why we are interested in making the thumbnail height responsive to the viewport height. Note that this only applies to desktop resolution.

See Figma 42PgVsdlQ1v2wpk6lmmrnq-fi-1697%3A54129 for reference.
E

[2022-05-13 04:38] SaxonF commented on #62067
Apologies for missing this @gcsecsey . Couple of suggestions.

Add a subtle loading animation to progress bar e.g. https://codepen.io/saxonfletcher/pen/JjpRwed

If we expect an action to take longer than say 7 seconds, maybe we can rotate between labels? We do something similar during site creation. So each step in the loading component would accept either a string or an array of strings that are

[2022-05-13 04:40] SaxonF commented on #60619
We've been looking at filtering patterns as part of the theme showcase work which would also be appropriate here pdh6GB-Jz-p2. Work on plugin category filter has already started so when the time is right we can also introduce a price filter if it makes sense.

[2022-05-13 04:45] Greatdane commented on #63267
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No - WordPress.com specific issue (donation block)

📌 SCRUBBING
- Tested on AT ✅  - can confirm on AT site, assumed calypso-wide.

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context (your findings and where were you able to replicate the issue)
- Uploaded file (if needed)

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-05-13 04:47] Greatdane commented on #63267
One-time donations also show as a subscription, which is confusing;

<img width="763" alt="Markup 2022-05-13 at 13 46 56" src="https://user-images.githubusercontent.com/5075840/168213062-7885b6d0-5f94-45ee-8197-17964ac44cf5.png">

[2022-05-13 04:51] Greatdane commented on #63267
Note: I have closed the original ticket, but please reach out to use once the issue is resolved.

[2022-05-13 04:57] Greatdane commented on #63287
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅  - error
- Tested on AT ✅  - no error
- Tested on Self-hosted ✅ - no error

📌 FINDINGS/SCREENSHOTS/VIDEO
I could replicate this issue only on a Simple site.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-05-13 05:07] Greatdane commented on #63302
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS
- Closing, as I believe it relates to the same issue on core; https://github.com/WordPress/gutenberg/issues/40676
- Added the video above and information to the core issue.

📌 ACTIONS
- Closed as duplicate of #000000
- Closed as no longer releva

[2022-05-13 05:07] #63302 closed, assigned to nobody

[2022-05-13 05:22] Greatdane commented on #63351
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested on TT2, but customizer only seems to show on Simple sites;

<img width="1409" alt="Markup 2022-05-13 at 14 22 10" src="https://user-images.githubusercontent.com/5075840/168216436-e72b5db5-150c-4d81-bb36-39fee7598133.png">

📌 ACTIONS
- Marked as Triaged for Quality Squad

[2022-05-13 05:32] Greatdane commented on #63373
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅  - Working
- Tested on Self-hosted ✅ - Working

📌 FINDINGS/SCREENSHOTS/VIDEO
- Missing on Simple sites only

Simple:
<img width="288" alt="Screenshot 2022-05-13 at 14 31 42" src="https://user-images.githubusercontent.com/5075840/168217436-8d6bfa4c-66cb-4929-bf8a-6e3c6358360a.png">

A

[2022-05-13 05:38] Greatdane commented on #63400
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ❌
- Tested on AT ❌
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tried on several WordPress.com test sites (Simple and AT) without issue. Self-hosted sites ask for a key. Perhaps it was a temporary issue?

📌 ACTIONS
- Closed as could not replicate, please reopen this issue if it reoccurs