[2022-08-18 01:03] Rolilink commented on #66666
Leaving a comment here, this breadcrumbs are being generated by the `PluginDetails` component [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugin-details.jsx#L212-L235).

[2022-08-18 01:04] #64545 closed, assigned to Rolilink

[2022-08-18 02:53] vindl opened #66669 "Sites Management Page: Add a lock icon for private sites in grid view"
In grid view, it might not be obvious why some sites show screenshots and others use a site icon or a letter. Let's add a lock icon to the bottom right corner of the thumbnail to clarify this.

cc @SaxonF for any design and placement feedback.

[2022-08-18 03:14] miksansegundo commented on #66596
The double border is caused by the CSS file for the signup in [client/signup/steps/design-picker](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/design-picker/preview-toolbar.scss#L60) because we use a different CSS file for the same preview in the landing [client/landing/stepper](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/i

[2022-08-18 03:14] bluefuton opened #66671 "[Bug]: Purchasing Jetpack Search is still possible on jetpack.com even if the site already has a Search subscription"
### Quick summary

If you have the Search plugin installed on your Jetpack site with a current Search subscription, then go to Jetpack.com, you can still purchase a new Search plan.

### Steps to reproduce

1. On a test site, install the Search plugin: https://wordpress.org/plugins/jetpack-search/
2. From Jetpack > Search, sign up for a new search subscription.
3. Go to https://cloud.jetpack.com/p

[2022-08-18 04:22] syhussaini opened #66672 "Option to invite users in Bulk"
### What

I would like to have an option to invite users in Bulk by uploading them via CSV with the respective roles, usernames and email IDs in WordPress.com

### Why

This will ease up the user management, especially when inviting several users at a time and will save a lot of time.,

### How

We can achieve this by allowing the option to upload a CSV file in the users' section of WordPress.com.

[2022-08-18 04:22] syhussaini commented on #66672
35931664-hc

[2022-08-18 04:25] lsl commented on #64055
Going by slack I think we can ship this with what we have and ignore the rest for now. (There is a follow up design change that can catch the missing ones at that stage.)

[2022-08-18 04:44] Greatdane commented on #66283
Yes, I don't think this is possible now that paragraph blocks and nested within the quote blocks.

I am going to close this for now (dragging and dropping on list view should be how we do this, consistent with moving any other block), but we have a record of the user's feedback at least!

[2022-08-18 04:44] #66283 closed, assigned to nobody

[2022-08-18 04:49] Greatdane commented on #66430
Going to close this out as it looks like it is already in discussion here; pbMDip-y-p2

[2022-08-18 04:58] lsl commented on #66666
This isn't the first bug like this, I think the breadcrumbs state implementation should be replaced entirely.

Thinking some kind of hook that route controllers must call a `setBreadcrumbs` method on layout setup. Then in the same hook provide an `appendBreadcrumb` function like the existing one, that way we have a clear way to reset at the global level on navigation but also have the ability to m

[2022-08-18 05:07] vishnugopal opened #66673 "Update rss-importer to fix PHP 7 issue"
See: https://wordpress.org/support/topic/needs-update-for-php-7/

[2022-08-18 05:12] Greatdane commented on #66502
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- So, this only occurred for me on a Simple site. Atomic and self-hosted (regardless of theme) worked fine. @IoanaAMuresan can you confirm this?

Atomic;

<img width="786" alt="Markup 2022-08-18 at 14 11 16" src="https://user-images.githubusercontent.com/5075840/185298945-8c7b9337-5e96-4194-97

[2022-08-18 05:18] lsl commented on #66666
More evidence there is something bigger to fix here: https://wp.me/pdh6GB-1QJ

[2022-08-18 05:18] autumnfjeld opened #66675 "Investigate feasibility of seller flow layouts in RT"

[2022-08-18 05:22] Greatdane commented on #66548
I am not sure if this is a bug? If 'Anyone can register' is enabled, the viewer is able to freely register and become a subscriber, at which point they have access to the site because they are now a user (regardless of the privacy settings)

Basically, the Jetpack SSO 'logging in' screen is creating a user on that site because 'Anyone can register' is enabled?

Maybe @Automattic/jetpack can confir

[2022-08-18 05:34] mpkelly commented on #59259
I am going to take a look now.

[2022-08-18 05:47] Greatdane commented on #66602
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ❌

📌 FINDINGS/SCREENSHOTS/VIDEO
- Seems like a number of themes are affected and looks to be due to a recent Gutenberg update? I tried Livro, Zoologist, Russell, all not working. Twenty Twenty Two works

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Labeled high priority

[2022-08-18 05:47] edwinho89 opened #66676 "Feature request: Allow Chart block on WordPress.com"
### What

It'd be nice if we have an in-built tool that allows adding charts on editor

Initially requested on chat:  36518053-hc

### Why

Like table block or this site https://optolongfilter.com/products/1064-100nm-bandpass-filter/ , we can display charts without the need of installing custom plugins

### How

_No response_

[2022-08-18 05:52] #66208 closed, assigned to jimmy319

[2022-08-18 05:55] Greatdane commented on #66676
Closing in favour of https://github.com/Automattic/wp-calypso/issues/61294

[2022-08-18 05:55] #66676 closed, assigned to nobody

[2022-08-18 06:18] #65022 closed, assigned to nobody

[2022-08-18 06:22] mmtr commented on #64935
The overall strategy for Jetpack sites is to avoid jumps between Calypso and WP-Admin. See p1HpG7-bcl-p2#comment-44627:

So we launched a _limited_ menu for Jetpack sites that replicated the same menu items we had in the old sidebar, but using the same new UI component introduced for the unified menu on WP.com sites. See https://github.com/Automattic/jetpack/pull/18921.

That means that the only m

[2022-08-18 06:28] autumnfjeld commented on #66589
Looking like @arthur791004 and @miksansegundo will be main devs on this project. :)  I have enough info from meeting with Saxon to break down more specific tasks.

Consider this issue a "search for possible tech blockers". 😄

[2022-08-18 06:31] mmtr commented on #64935
On a second thought, it looks like that the CPT menu items in the old sidebar were pointing to Calypso: https://github.com/Automattic/wp-calypso/blob/3c8c6d27ef3957a03beea37633a33e0fbeac7c09/client/my-sites/sidebar/site-menu.jsx#L254

So we need to change https://github.com/Automattic/jetpack/pull/25670 so they are registered as menu items that point to Calypso.

[2022-08-18 07:12] rcrdortiz commented on #55279
I also can't reproduce the error on Atomic sites using iOS 15.5. The donations form now seems to be opening the donation screen instead of using a pop-up.

https://user-images.githubusercontent.com/1989914/185331721-53fc820b-bd34-4d36-84d3-9e64342f0349.mp4

[2022-08-18 07:30] cpapazoglou commented on #65345
@JulianBustamante is there any update here? Can you share a diff?

[2022-08-18 07:33] gavande1 commented on #65345
I am not 100% sure but it seems D86085-code to close

[2022-08-18 07:35] jeherve commented on #66548
Exactly. I would not see this as a bug. This is how the "Anyone can register" option is meant to be used; it allows anyone to create an account on your site, thus gaining access to all content that is only be accessible to folks with an account.

[2022-08-18 07:35] #66548 closed, assigned to nobody

[2022-08-18 07:35] cpapazoglou commented on #65345
Yeah just found it too
D86085-code - creating a WPCOM route that WC.com can call to sync vendor info

[2022-08-18 08:17] aleone89 commented on #63050
Two potential reports of this here:
https://wordpress.com/forums/topic/how-to-create-free-blog-5/?view=all
https://wordpress.com/forums/topic/having-trouble-launching-the-site/?view=all

[2022-08-18 09:01] sharonlaker19 commented on #66659
- [ ]  5483520-zen I've applied the workaround for them.

[2022-08-18 09:09] ivan-ottinger opened #66681 "[New Comment] Add missing flag check"
More info: D86044-code.

[2022-08-18 09:10] ivan-ottinger commented on #66681
D86044-code patch is ready for review.

[2022-08-18 09:10] #65518 closed, assigned to nobody

[2022-08-18 09:22] p-jackson commented on #66597
I've started a diff that adds an endpoint for updating visibility D86125-code

[2022-08-18 09:26] fushar commented on #66456
Okay, now I think I have all the data I need to implement this project. General idea:

1. (wpcom) Return theme style variations for each (static) theme in the `/wpcom/v2/starter-designs` endpoint.
   * This will be used for showing the color variation circles in the Design Picker theme grid, and for showing the style switch button in the Design Picker theme preview.
1. (wpcom) Apply the style vari

[2022-08-18 09:31] DavidSaladu opened #66682 "Price in upgrades\purchases appears wrong in biyearly plans"
### Quick summary

Inside upgrades\purchases, with biyearly plans, the price is shown /year instead of /biyearly which can led to confusion

![image](https://user-images.githubusercontent.com/79575219/185360709-8d446c03-f61d-4fc7-be2f-94b1a55498b1.png)

### Steps to reproduce

1. Go to a site with a biyearly plan
2. access upgrades\purchases
3. Click on the plan
4. Check the price that appears on

[2022-08-18 10:05] vishnugopal commented on #65338
Am archiving this for now as there was no concrete deliverable for this task.

[2022-08-18 10:05] #65338 closed, assigned to jeroenpf

[2022-08-18 10:06] vishnugopal commented on #65340
Removing sprint as we're not planning to tackle this soon.

[2022-08-18 10:13] daledupreez commented on #65716
I believe this issue should be addressed by https://github.com/Automattic/wp-calypso/pull/65997 and/or https://github.com/Automattic/jetpack/pull/25281, so I am going to close this issue out.

[2022-08-18 10:13] #65716 closed, assigned to nobody

[2022-08-18 10:34] galakhyati opened #66683 "Mini Cart block: Cart showing blank with WooCommerce Subscriptions plugin active"
### Quick summary

The user has WooCommerce Subscriptions with a lot of other plugins active. They have added Mini Cart block to their Editor and when a product is added to the cart, opening the cart it shows.

Deactivating the WooCommerce Subscriptions plugin shows the cart contents.

As per the [guide](https://woocommerce.com/document/cart-checkout-blocks-support-status/#section-6), WooCommerce

[2022-08-18 10:43] arthur791004 commented on #66589
I think we could break this one down into the following tasks:

**wpcom**

* Get patterns - We have already had the following endpoints to get patterns and they are used in FSE plugin.
  * `/wp/v2/sites/:site_id/block-patterns/patterns`
  * `/rest/v1/ptk/patterns/:locale`
* Preview - The `/wpcom/v2/block-previews/site` endpoint has supported `header_pattern_ids`, `pattern_ids` and `footer_pattern_

[2022-08-18 10:53] fushar opened #66790 "Return style variations for static themes in the starter-designs endpoint"
# Description
We want to show the style variations of each theme (if exists) on the static theme grid section in the Design Picker. To accomplish this, we want to return this info in the existing `/wpcom/v2/starter-designs` endpoint.

# Acceptance Criteria

- [x]  The `GET /wpcom/v2/starter-designs` returns a new field: `style_variations` array in each design in the `static` section of the respons

[2022-08-18 11:28] markbiek opened #66689 "Theme/Plugin Bundling: Flow eligibility check"
# New functionality needed

We need some kind of check as part of the new `plugin-bundle-flow` to make sure that a user is actually eligible to proceed with the flow. This will prevent people from accessing the flow directly or any other weird edge cases.

@mreishus had some possible ideas in a comment on paYKcK-20n-p2.

Possible approaches include:

- An invisible first step which checks eligibil

[2022-08-18 12:19] mashikag opened #66697 "Newsletter Accent Color: Display warning when in-accessible color selected"
![Image](https://user-images.githubusercontent.com/2019970/185393283-9e4f68b5-5fb1-4154-97ac-a0111037ee4f.png)

- [ ] Display the warning if in-accessible color is selected
- [ ] Hide the warning once an accessible color is re-selected

Detailed designs: BcUdhLlhAp7UHtQHNTI4zA-fi-4163%3A112879

## Validating Color Contrast Correctness
We need to validate against the Lettre theme's background color

[2022-08-18 12:29] Gustavo-Hilario commented on #65894
Another user that I think could be looking for this enhancement:

- [ ] 5483706-zen

[2022-08-18 12:38] rickmgithub opened #66699 "Social icons block in customizer not allowing URLs"
### Quick summary

There is no way to add a URL link to a social icon when adding in the customizer.

Please see video -

Uploading Screen Capture on 2022-08-18 at 13-33-06.mov…

### Steps to reproduce

1. Add the social icons block
2. Add a twitter link
3. There is no where to add the actual link to Twitter

### What you expected to happen

An area to appear where I can add the link.

### What ac

[2022-08-18 12:41] cpapazoglou commented on #65574
I have added this to the Dotcom Marketplace board, but it's unclear to me what changes should be done. Can we gather all changes in one comment?

[2022-08-18 12:45] ivan-ottinger commented on #66651
Related Slack discussion: p1660826625586199-slack-C02TCEHP3HA

[2022-08-18 12:52] ivan-ottinger opened #66701 "[All] Clean up unnecessary feature flags"
Once all new updated emails are launched, we can remove feature flags to clean up the code.

- [x] New Liked Comment: https://github.com/Automattic/wp-calypso/issues/66803
- [x] New Liked Post: https://github.com/Automattic/wp-calypso/issues/68513
- [x] New Comment: https://github.com/Automattic/wp-calypso/issues/68520
- [x] Comment Approval: https://github.com/Automattic/wp-calypso/issues/68523
-

[2022-08-18 13:07] gcsecsey commented on #64891
We've got the reply that it's definitely feasible to use ES: pdh6GB-Ax-p2#comment-2679 👍

[2022-08-18 13:25] escapemanuele opened #66702 "Tailored Flow: Reuse useSetupOnboardingSite for complete-purchase"
In https://github.com/Automattic/wp-calypso/pull/66576 we introduced the `useSetupOnboardingSite`, we need to use that in the `complete-purchase` step as well

[2022-08-18 13:44] Addison-Stavlo opened #66704 "LaunchPad - Ensure flow param determines the checklist shown."
Currently when we visit the LaunchPad for `flow=newsletter` and `flow=link-in-bio` we see the same checklist (default newsletter checlist in development).

We need to update this such that the launchpad checklist shown is dictated by the flow param.

[2022-08-18 13:49] Addison-Stavlo opened #66705 "LaunchPad - Update site URL shown above checklist."
Currently the site URL shown above the checklist seems to be hardcoded to the design example `lorcaletters.blog`.

We should update this to show the domain of the associated site.

![Screen Shot 2022-08-18 at 9 48 07 AM](https://user-images.githubusercontent.com/28742426/185411087-772fa204-33b4-4924-9219-b3af1b61f58d.png)

[2022-08-18 13:58] Addison-Stavlo opened #66706 "LaunchPad - data for LaunchPad activity / status"
Ensure that a site setting, option, or other form of persistent data is in place on site creation that we can use and update to determine if the launchpad should be shown for a particular site.

some p2 discussion / context - pdDR7T-bx-p2
recently mentioned in slack - p1660767513980659-slack-CHN6J22MP

[2022-08-18 14:01] Addison-Stavlo opened #66707 "LaunchPad - Data for determining which LaunchPad flow to show"
Ensure that a site setting, option, `site_intent`, or other form of persistent data is in place on site creation that we can use to determine which launchpad flow to show to a site using LaunchPad.

some p2 discussion / context - pdDR7T-bx-p2
recently mentioned in slack - p1660767513980659-slack-CHN6J22MP

[2022-08-18 14:09] Addison-Stavlo opened #66708 "LaunchPad / Onboarding newsletter & links-in-bio: Ensure onboard flow leads into launchpad."
Ensure the onboarding flows for newsletters and links-in-bio sites direct users to the LaunchPad.

The end of these onboarding flows should lead the user into: `.../setup/launchpad?flow={flowName}&siteSlug={siteSlug}`

[2022-08-18 14:31] jp-imagines commented on #41606
Another request in 5466295-zd-woothemes

Same as my last report: user wanted monthly and annual subscriptions to the same content. At the moment, this requires two Premium Content blocks, which means even subscribed users may see a prompt to subscribe from the other block, and unsubscribed users may see _two_ prompts to subscribe.

[2022-08-18 14:41] valterlorran commented on #65496
Cultivate was launched yesterday.

[2022-08-18 14:41] #65496 closed, assigned to valterlorran

[2022-08-18 14:46] #65951 closed, assigned to phcp

[2022-08-18 14:47] #66462 closed, assigned to phcp

[2022-08-18 14:49] sirbrillig commented on #65498
Looks like a good fix!

[2022-08-18 15:34] dsas commented on #66628
@ianstewart, I'm struggling to find where that behaviour is documented upstream. Looking at [the PR that introduced template-part specific patterns](https://github.com/WordPress/gutenberg/pull/31155), it appears that it just limits the pattern selector when replacing a template part. Nothing prevents the header/footer patterns being used in other places.

ETK is already set-up for blockTypes suppo

[2022-08-18 15:35] jamiepalatnik commented on #51640
Another report: 36525258-hc

[2022-08-18 15:39] danielbachhuber commented on #66597
Endpoint diff is ready! D86125-code

[2022-08-18 16:23] #66094 closed, assigned to nobody

[2022-08-18 16:27] vindl commented on #66582
@zaguiini can we also include Automattic's P2 list in this analysis? It looks fairly similar to our list view.

[2022-08-18 16:32] vindl commented on #65175
We can include this in the i2 scope.

[2022-08-18 16:47] Addison-Stavlo commented on #66708
Vertex is one step ahead of this issue and it is already completed. 😁

[2022-08-18 16:47] #66708 closed, assigned to nobody

[2022-08-18 16:55] dsas commented on #66628
Had a further poke through the Gutenberg block inserter and couldn't find any code that implements "patterns should only be available when you are editing the matching template part" but that might be down to my Gutenberg skillz :).

Testing on gutenberg upstream using the 2022 theme, I can see that [the header patterns are registered with a blockType](https://themes.svn.wordpress.org/twentytwenty

[2022-08-18 16:58] vindl commented on #66191
@danielbachhuber After some recent process updates, we'll have a Marketing team responsible for blog posts in different areas. For Build, that will be Searchlight and @Lochlaer.

[2022-08-18 17:03] valterlorran commented on #66581
1. Automate the Diff creation right after the pull(`yarn tool pull <theme-slug>`) command that I added on the premium-theme-tools repo;
2. Automate the generation of the Headstart annotation. I believe it can be combined with the step above.
3. Maybe we could also give the option to add the theme to the soft launch list, which would create a diff on WPCOM.
4. After the diff is reviewed and deploye

[2022-08-18 17:54] dsas commented on #66628
Spoken to Matias and blockType only makes blocks appear in the relevant template part, it doesn't filter blocks out of the sidebar. This matches my testing above.  There's an ongoing conversation to clarify the requirements: p1660842575737849/1660679319.921149-slack-C02M88KJ684

[2022-08-18 17:55] mdtanjid0 commented on #65916
5418987-ZD

[2022-08-18 18:10] obenland commented on #65345
Also 14172-gh-Automattic/woocommerce.com

[2022-08-18 18:15] zaguiini commented on #66597
UX concerns regarding the visibility of hidden sites are going to be addressed in https://github.com/Automattic/wp-calypso/pull/66661. This PR needs design input.

In the meantime, we'll have the visibility toggle action ready.

[2022-08-18 18:29] #65583 closed, assigned to WBerredo

[2022-08-18 18:32] #65557 closed, assigned to markbiek

[2022-08-18 20:57] obenland commented on #65915
We could block this by filtering the `deactivate_plugin` capability and checking if the passed plugin is in the disallow list.

[2022-08-18 21:03] lupus2k commented on #66495
Header path is fixed in #66668

[2022-08-18 21:21] cometgrrl commented on #55796
Currently, you can choose 2FA using an app without entering a phone #. Since we cannot send SMS to Vanuatu, this is working as designed (country not in the list).

[2022-08-18 21:21] #55796 closed, assigned to mreishus

[2022-08-18 21:23] cometgrrl commented on #55822
Linked woocommerce issue has been resolved.

[2022-08-18 21:23] #55822 closed, assigned to nobody

[2022-08-18 21:25] obenland commented on #66076
@jboland88 Is it possible that VideoPress is not identified as a Jetpack product after [these changes](https://github.com/Automattic/wp-calypso/commit/c3dc3d6e7ad0ea1baca7caa7d287af7b31f9980b#diff-bbbc04d9cc127e4c2fb4dc78916519010fe7c1d0260ca24fcf5826c5ecb62958)?

[2022-08-18 21:26] lupus2k commented on #66495
#### When filtering for a Category and then searching.
- [ ] It maintains the category on Header's path. (Fixes in #66668)
- [ ] It maintains the category on the URL. (Ex: `/plugins/browse/seo?s=ecommerce`)

#### When filtering for a Category, then search, and then clear the search with the Clear button on the plugin's list.
- [ ] It changes the URL to `/plugins` but keeps the category filter. (se

[2022-08-18 21:28] cometgrrl commented on #55895
Closing, since we removed AMP. pdKhl6-48-p2

[2022-08-18 21:28] #55895 closed, assigned to nobody

[2022-08-18 21:29] vindl commented on #65174
I removed the `Hide from list` from the scope of this task. Since the others are already merged, we can close this issue.

[2022-08-18 21:29] #65174 closed, assigned to p-jackson

[2022-08-18 21:29] lupus2k commented on #66495
Sounds good, but I think the ES integration could take us longer, and these are quick fixes.

What do you think about creating a new issue with the ES integration for search?

[2022-08-18 21:30] vindl commented on #66597
Punting work on this for now due to UX concerns raised above. We can deal with this in i2 with different mechanisms (site starring, better sorting).

[2022-08-18 21:30] #66597 closed, assigned to zaguiini

[2022-08-18 21:32] zachspears commented on #66536
I was able to successfully recreate this on both a Simple and Atomic site. Moving bug report forward.

[2022-08-18 21:35] hngdny opened #66720 "Bold <strong> rich-text formatting is maintained when copy and pasted into Block Editor post title"
### Quick summary

Bold <strong> rich-text formatting is maintained when copy and pasted into Block Editor post title

When copying text (by using either mouse or keyboard clipboard functions) from a source that has bold (<strong>) rich-text formatting, post titles maintain the bold HTML element and will start to appear as bold in blog feeds as well as post email notifications.

### Steps to repro

[2022-08-18 21:37] cometgrrl commented on #56012
This is working correctly now, even with 3rd party cookies blocked.

[2022-08-18 21:37] #56012 closed, assigned to alshakero

[2022-08-18 21:39] zachspears commented on #66531
Unable to reproduce, but leaving open for another Triager to test since there are multiple user reports.

[2022-08-18 21:47] zachspears commented on #66538
Able to reproduce. Moving issue forward.

[2022-08-18 21:54] mreishus commented on #65558
There are several ways to atomic transfer, but I see three main ones:
* **v1 endpoint**: `/automated-transfers/initiate`
  * `public.api/rest/wpcom-json-endpoints/class.wpcom-json-api-sites-automated-transfers-initiate-endpoints.php`
  * This is used when I click the button in Settings -> Hosting
  * Caly has some action creators for this [1](https://github.com/Automattic/wp-calypso/blob/383101aa5

[2022-08-18 21:59] cometgrrl commented on #56151
This is reproducible in core WordPress. Also, it is selectable by clicking on it, although sometimes it pops up the menu to select a block to add to the group, and other times the block toolbar is displayed.

[2022-08-18 22:02] TeniCola commented on #66326
Another case I could replicate in 5489437-zen -- the user would like to be notified.

[2022-08-18 22:06] jboland88 commented on #66076
I don't think that's the cause @obenland. This [JetpackBenefits component](https://github.com/Automattic/wp-calypso/blob/trunk/client/blocks/jetpack-benefits/index.tsx) handles showing the different features that will be lost depending on the product. There's a fixed set of outputs there and It looks like it doesn't do any checking for VideoPress features at the moment. I think that would be the p

[2022-08-18 22:10] zachspears commented on #66552
Theme has been updated to FSE, but I am still able to reproduce the issue. Here are the updated steps:

1. Atomic site
2. Activate the theme Appleton
3. Use the headstart home page
4. Select "hide" under Settings → General → Footer Credit → Footer Credit
5. Check the home page

Possible related: https://github.com/Automattic/wp-calypso/issues/59363

[2022-08-18 22:19] cometgrrl commented on #56279
@retnonindya I am not able to reproduce this issue with the link you provided. I tried on an Atomic site, and I used the same theme (Byrne). Are you still able to reproduce?

[2022-08-18 22:28] #66627 closed, assigned to p-jackson

[2022-08-18 23:05] p-jackson opened #66722 "Sites Management Page: Update title to "Sites""
Update the page title from "My Sites" to "Sites"

pdKhl6-CO-p2#comment-603
pdKhl6-DQ-p2

[2022-08-18 23:06] cometgrrl commented on #56295
I was only able to reproduce this using chrome dev tools with the suggested user agent for Edge Android mobile:

`Mozilla/5.0 (Linux; Android 8.1.0; Pixel Build/OPM4.171019.021.D1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.109 Mobile Safari/537.36 EdgA/42.0.0.2057`

However, after clicking continue anyway, the page loaded fine. The more current UA mentioned by @jsnajdr doesn't trigge

[2022-08-18 23:09] p-jackson opened #66723 "Sites Management Page: Request appropriately sized site thumbnails"
The site thumbnails appear to be too large. The `<img>` extends far beyond the bounds of the `<div>` that's used to clip it.

https://user-images.githubusercontent.com/1500769/185511122-fdab801e-cef5-4a60-89c1-92081897ca6c.mov

This is a lot of wasted bytes when there are 100s of sites to load.

One option is using the `srcset` and `size` attributes to make sure we load the correct image size. mSh

[2022-08-18 23:35] agrullon95 commented on #66571
https://github.com/Automattic/wp-calypso/pull/66614 added `showSiteAddressBar` prop to Launchpad `<WebPreview />` component to hide the site URL in the site preview.

[2022-08-18 23:35] #66571 closed, assigned to agrullon95

[2022-08-18 23:36] agrullon95 commented on #66572
https://github.com/Automattic/wp-calypso/pull/66580 added `devicesToShow` prop to Launchpad `<WebPreview />` component to hide tablet icon on device switcher toolbar.

[2022-08-18 23:36] #66572 closed, assigned to agrullon95

[2022-08-18 23:37] cometgrrl commented on #56375
I cannot reproduce this using a classic theme or block theme, either as a widget or directly on a page. Please re-open if we get more customer reports. However, I think this has been resolved at some point. https://midnightatthemuseum.co.uk/join-the-adventure/ doesn't exist, and the form on the main page is an elementor form, so I don't think that's the same as this bug.

[2022-08-18 23:37] #56375 closed, assigned to nobody

[2022-08-18 23:42] p-jackson opened #66725 "Sites Management Page: Use standard WP style for drop down"
This isn't a blocker for i1.

Take a look at the ellipsis menu for each site in the Automattic P2 dashboard: cMuAv-p2. It follows the standard WordPress component style
![Image](https://user-images.githubusercontent.com/1500769/185513290-2abefeba-56fb-4d98-bde4-6f73702ea1f7.png)

Whereas the SMP is currently using the Calypso style drop down
![Image](https://user-images.githubusercontent.com/15007

[2022-08-18 23:46] cometgrrl commented on #56433
Meetup is no longer mentioned [here](https://wordpress.com/support/wordpress-editor/blocks/embed-block/), so I'm closing this.

[2022-08-18 23:46] #56433 closed, assigned to nobody

[2022-08-18 23:53] p-jackson opened #66726 "Sites Managment Page: Write a deployment announcement post for wpcomhappy"
Let's post a heads up to wpcomhappy P2 letting folks know of the upcoming deployment of SMP

- This is a good one to get inspiration from p7DVsv-cGX-p2
- In should refer to the CfT and Project Thread
- It should give an approximate of time it'll be deployed (like what time approximately on the 29th, which timezone etc.)
- Where to report issues

Not tied to the publishing of the above post but doc

[2022-08-18 23:54] p-jackson opened #66727 "Sites Management Page: Prepare PR that releases SMP to all users"
If we prepare the PR that releases SMP to all users ahead of time then we'll be able to work out all the wrinkles before release day (29th). That way we know we'll be able to merge it at a convenient time when we have plenty of time to monitor for potential issues.

Done is:
- [x] `build/sites-dashboard` feature flag is enabled in production
- [x] SMP is available at the `/sites` URL
- [x] PR is r

[2022-08-19 01:20] donalirl opened #66730 "Connections: Change Instagram "Widget" to "Block""
### Quick summary

The Instagram _widget_ no longer exists, but there is a reference to it in Calypso.

### Steps to reproduce

1. Go to  Tools → Marketing → Connections
2. Expand Instagram

It says:

![image](https://user-images.githubusercontent.com/30727666/185521633-c5a896b4-9c7b-4b9d-90be-460fc5e02560.png)

### What you expected to happen

It should say "block".

### What actually happened

I

[2022-08-19 01:57] fushar opened #66819 "Style selection: Inject style variation CSS to the site preview endpoint"
# Description
We want to be able to preview a theme (static design) when a style variation is applied. To accomplish this, we want to support injecting style variation CSS, to the existing `/wpcom/v2/block-previews/site` endpoint.

# Acceptance Criteria

- [x] Calypso is able to modify the output of the `/wpcom/v2/block-previews/site` endpoint so that it contains the CSS of the selected style vari

[2022-08-19 02:09] fushar opened #66842 "Style selection: Apply style variation to the new site"
# Description

We want to be able to actually select the theme (static design) and a style variation. When the onboarding finishes, the style variation should be applied.

# Acceptance Criteria

- [x] When a user selects a theme with a style variation, when the onboarding finishes, the site has the look-and-feel of the style variation.
- [x] When the user go to the site editor and checks the Globa

[2022-08-19 02:09] lsl commented on #66495
The urls, routing and navigation clicks in the category selector are already working how we need it to work for category filtered search right now. If we are going to change any of that I think we just need to make sure it's easy to revert back in a week or two. For example I want to avoid this sort of change because we'll only need to bring it back once ES is done: https://github.com/Automattic/w

[2022-08-19 02:31] jamiepalatnik commented on #66531
📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to reproduce this issue on a simple site with Russell activated. When I clicked Save after making changes to colors in Global Styles > Colors > Buttons, the changes were reset to the default instead of continuing to show the new colors I selected.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-08-19 02:43] #66722 closed, assigned to p-jackson

[2022-08-19 02:44] jamiepalatnik commented on #66547
📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue.
- I also noticed that after attempting to accept the invitation, the site shows on https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs as a Linked Blog, but I cannot access it.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-08-19 03:25] fushar opened #66734 "Show style variation indicator in the static designs of Design Picker"
# Description

For each static design (theme) that has style variations, we want to show an indicator in the form of circles representing each variation. Design (updated 19 Aug, ignore the "ellipsis" icon):

<img width="487" alt="image" src="https://user-images.githubusercontent.com/1525580/185540123-d6650838-6c2b-42ad-bb67-30603153a820.png">

A static design has style variations if it has non-emp

[2022-08-19 03:30] fushar commented on #66734
@autumnfjeld @SaxonF : I have a few questions that will affect the A/C:

1. For the first iteration, should we ignore the the following icons? ("tile" and "ellipsis" icons):

<img width="397" alt="image" src="https://user-images.githubusercontent.com/1525580/185536703-a4bc1a03-3565-47bd-ab57-21ef65dd62d3.png">

2. Should we limit the number of circles? What happens if the number of variations exce

[2022-08-19 03:41] SaxonF commented on #66734
<img width="768" alt="image" src="https://user-images.githubusercontent.com/1072756/185537939-8286405f-6ba3-42c8-8d36-2232768d46c4.png">

 1. yep we can ignore.
 2. Yes limit to 4 and if goes over include a +5 item that indicates further variations
 3. Background and text colour which should be consistent with how global styles are represented in sidebar
<img width="281" alt="image" src="https://u

[2022-08-19 03:52] jamiepalatnik commented on #66549
📌 SCRUBBING
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can recreate this on Atomic and self-hosted.
- Since the issue is for an FSE template added by WooCommerce, I added the issue to the woocommerce/woocommerce-blocks repo and am closing this issue.
- I don't know how often the Post Title block is used outside of a Query Loop block, but

[2022-08-19 03:52] #66549 closed, assigned to nobody

[2022-08-19 04:05] fushar commented on #66734
@SaxonF Thanks, I've updated the issue description 😄

[2022-08-19 04:34] lsl opened #66736 "Marketplace: Hide plan upgrade nudge while loading"
This plan upgrade nudge is shown during page load despite not being required. Once network requests catch up we remove it. Could we instead hide it by default and only show it once we know the sites plan?

https://user-images.githubusercontent.com/811776/185543531-24474b03-8a3f-4369-84f5-e445c31db40d.mp4

- [ ] Hide paid upgrade nudge by default

[2022-08-19 04:35] alaczek opened #66737 "Feature request: Set up a theme demo site on Atomic"
So far all the themes in the Theme Showcase, both premium and free, are set up as simple sites. Now that we're looking at adding themes featuring WooCommerce (and possibly other plugins in the future) to the theme showcase, we need to figure out if using an Atomic demo site will have any adverse/unexpected effects.

My understanding of the importance of where the demo site is setup (and it's URL i

[2022-08-19 05:01] autumnfjeld commented on #52182
Everyone who has been reporting customer reports on this:  This is a core issue being tracked here https://core.trac.wordpress.org/ticket/54308.

[2022-08-19 05:06] alaczek opened #66738 "Feature Request: Generate headstart annotation from an Atomic site."
### What

Part of the theme launch process is generating headstart annotations (see the FG page on Headstart), but we've never done this with Atomic site as the source. The purpose of this issue is to explore if it's possible to do that.

Since premium themes are available to customers on the Premium plan, it would also be good to investigate what would happen if the annotation generated from the

[2022-08-19 05:31] arthur791004 opened #66785 "Pattern Assembler: Show Blank Canvas option in the Unified Design Picker"
# Description

We want to show the blank canvas option in the UDP. When you select a blank canvas design, you will land on the "build-your-own-layout" (TBD) step

![Screen Shot 2022-08-19 at 12 51 17 PM](https://user-images.githubusercontent.com/13596067/185545223-de3ab784-89e6-4aeb-a2d9-de3c95ade1f5.png)
7l53h5fxAUNjVRBQ82YFwn-fi-238%3A41198 but I cannot find it 😅

- [x] Confirm with @SaxonF the

[2022-08-19 07:00] inaikem opened #66739 "New email notification template: Image caption formatting is broken."
### Quick summary

Image captions in the new email template appear larger than paragraph text and there's no linebreak/spacing after them.

![z2dndM.png](https://user-images.githubusercontent.com/66711744/185561978-8101e640-2540-4436-ac2f-a36783cec7c1.png)

The screenshot above was from a notification sent from a site using the TwentyTwenty theme.

### Steps to reproduce

1. Create a post with ima

[2022-08-19 07:44] autumnfjeld commented on #66589
Great summary @arthur791004 !

Maybe good to bounce ideas on plan for smartest/efficient approach with @fushar or @taipeicoder .

100% this is an important user impact concern. 😃

No search bar for now.   Saxon mentioned that in our call.

This might be useful, particualarly if there are definite plans to do such a flow in the theme showcase. @mtias  or @SaxonF  could confirm.

This will only be o

[2022-08-19 07:48] simison commented on #66738
Since Atomic sites have also simple site counterparts (or at least used to have), produced by Jetpack syncing, you might be able to sync juts that.

If it's just blocks, note that premium/woo blocks can be present on simple site's page and post content. They just won't render properly without the plugin, but it might be enough for headstart purposes. Ideally the demo would be the same as the heads

[2022-08-19 07:52] lukaszwilczakwilnet commented on #65447
First PR: https://github.com/Automattic/wp-calypso/pull/66740
I've split changes into separate PRs because some of the changes needs to be done in VideosUI component which is reusable

[2022-08-19 07:57] arthur791004 commented on #66589
Yep, but I remembered that the search bar is not shown on the main (first) screen but it's still shown on the pattern selector screen.

| main screen | pattern selector screen |
| - | - |
| ![image](https://user-images.githubusercontent.com/13596067/185571744-3e35cd2c-ef80-4764-97e8-3386ddb40065.png) | ![image](https://user-images.githubusercontent.com/13596067/185571887-6d0cbef7-ea54-4e9f-8a14-34

[2022-08-19 07:58] ivan-ottinger commented on #66681
Patch is now deployed.

[2022-08-19 07:58] #66681 closed, assigned to ivan-ottinger

[2022-08-19 08:09] arthur791004 opened #66786 "(Optional) Pattern Assembler: Make a new preview component to preview the selected patterns"
# Description

We want to show the preview of the selected patterns and the user could easily know what their home page look like. We could re-use the `<WebPreview />` component and make a new toolbar for it.

![Screen Shot 2022-08-19 at 3 48 21 PM](https://user-images.githubusercontent.com/13596067/185570775-aec93197-42a0-4bf7-9d50-e6d1842f24db.png)

7l53h5fxAUNjVRBQ82YFwn-fi-238%3A41198

# Accep

[2022-08-19 08:11] mtias commented on #63819
Thanks for following through with this @ivan-ottinger

[2022-08-19 08:19] fushar opened #66741 "Implement style variation switch buttons in the theme preview page"
# Description

In the Design Picker, when the selected theme has style variations, we want to show a button for each style variation, when clicked, applies the style to the theme preview. Design:

### Desktop

![Image](https://user-images.githubusercontent.com/1525580/185544784-d7b2a5fd-446b-4038-82ce-4e4e79edf171.png)

### Mobile

![Image](https://user-images.githubusercontent.com/1525580/1855706

[2022-08-19 08:22] draganescu commented on #66270
I merged https://github.com/WordPress/gutenberg/pull/43221 so Gutenberg trunk should now have this fixed.

[2022-08-19 08:35] arthur791004 opened #66787 "Pattern Assembler: Show the main screen on "build-your-own-layout" step"
# Description

We want to show the main screen on the new step, and it will include the title, description, "choose a header", "add a section", "choose a footer", and "Continue" button.
![image](https://user-images.githubusercontent.com/13596067/185575443-eed235dd-5b05-4d5c-8f4a-870b5a3df069.png)

7l53h5fxAUNjVRBQ82YFwn-fi-238%3A41198

Please ignore the search bar here.

# Acceptance Criteria

- [

[2022-08-19 08:47] philnick206 commented on #59570
Also seeing this issue now on a site with the Quadrat theme.

1. Created a new custom template in the Site Editor
2. Tried switching a page (homepage) to the new template
3. Observed error shown

![CleanShot 2022-08-19 at 09 44 49@2x](https://user-images.githubusercontent.com/51966986/185581191-9ea7bb25-9b1a-4563-8bc3-5c116ce93661.png)

[2022-08-19 08:48] arthur791004 opened #66788 "Pattern Assembler: Show the pattern selector on "build-your-own-layout" step"
# Description

We want to show the pattern selector on "build-your-own"  step (the Pattern Assembler flow). It will contains title, ~search bar~, patterns and the "Continue" button. It might have the back button in the future (See [this](https://www.figma.com/file/7l53h5fxAUNjVRBQ82YFwn?node-id=249:41386#249318120)).

Here are related endpoints to fetch the patterns
* Gutenberg uses [getBlockPatte

[2022-08-19 08:56] arthur791004 commented on #66589
Here are the related tasks

* 123-gh-Automattic/ganon-issues
* 125-gh-Automattic/ganon-issues
* 126-gh-Automattic/ganon-issues
* 124-gh-Automattic/ganon-issues

[2022-08-19 09:06] fushar commented on #66741
@autumnfjeld @SaxonF some questions:

1. Should we use this design (left sidebar containing the theme name) for the themes which do not have style variations as well?

2. Should we implement the following sections (description, support, features), or can we ignore them for the first iteration?

<img src="https://user-images.githubusercontent.com/1525580/185576835-097c1850-b741-4309-9b0b-846ec27556

[2022-08-19 09:25] fushar commented on #66456
@autumnfjeld : I've created the following tasks:

- 120-gh-Automattic/ganon-issues
- 121-gh-Automattic/ganon-issues
- 122-gh-Automattic/ganon-issues
- https://github.com/Automattic/wp-calypso/issues/66734
- https://github.com/Automattic/wp-calypso/issues/66741

Feel free to close this issue if needed!

[2022-08-19 09:28] arthur791004 commented on #66741
I thought the only difference is the device switcher and it doesn't look good if we put it on the top of the browser header in this page. And the other part is the header of this design 😆

[2022-08-19 09:34] candy02058912 opened #66743 "[Bug]: Search icon covers the plugins page heading"
### Quick summary

Screenshot here: ![https://d.pr/i/w6eBG8](https://d.pr/i/w6eBG8+)

### Steps to reproduce

1. Go to /plugins/active/:atomicSiteId
2. Scroll down

### What you expected to happen

The search icon should go under the plugins page heading

### What actually happened

The search icon should went over the plugins page heading

### Browser

Google Chrome/Chromium

### Context

_No res

[2022-08-19 09:53] lukaszwilczakwilnet commented on #65447
And another draft PR: https://github.com/Automattic/wp-calypso/pull/66744
This part will be responsible for display Payments Feature video course

[2022-08-19 10:08] dsas commented on #66628
There are two parts to this issue:

### 1. Ensure blockTypes are used on appropriate dotcom patterns
This is done by setting `block_type_core/template-part/header` and `block_type_core/template-part/footer` pattern meta appropriately on the patterns site.

This looks correct for all published posts except two footers. I've checked for potential issues here and depending upon feedback, will make th

[2022-08-19 10:39] #66443 closed, assigned to JuanLucha

[2022-08-19 10:51] danielbachhuber opened #66746 "Sites Management Page: Visually distinguish redirect sites"
From pdtkmj-nh-p2#comment-582

The Site Selector calls out 'Redirect' sites:

![image](https://user-images.githubusercontent.com/36432/185603142-e695c1ff-5f15-498b-a2e4-04c4f9fe9020.png)

However, the Sites Management Page does not:

![image](https://user-images.githubusercontent.com/36432/185603184-1d98cba1-a517-43f6-a7d1-0472b8b58081.png)

**Done is:**
* Redirect sites are visually distinguished

[2022-08-19 10:58] #64600 closed, assigned to dsas

[2022-08-19 11:04] #65498 closed, assigned to martian77

[2022-08-19 11:12] ivan-ottinger opened #66747 "[All] Review CTA buttons' sizes - make sure they match the intended design"
It looks like there's a slight difference between the sizes currently used in the new templates when compared to designs in Figma (c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A23435).

We can compare the differences and fix if necessary.

[2022-08-19 12:22] ivan-ottinger opened #66753 "[New Comment] [New Post] Fix "Reply-by-email" tip email styling"
Make sure the "Reply-by-email" tip is correctly styled in both email templates where it is used: _New Comment_ and _New Post_.

[2022-08-19 12:23] ivan-ottinger commented on #66753
Patch is ready for review: D86146-code.

[2022-08-19 12:28] ivan-ottinger opened #66754 "[New Comment] Add the "Reply-by-email" tip to the email sent to post author"
More information: D86564-code

[2022-08-19 12:30] ivan-ottinger opened #66755 "[New Post] Make the "Reply-by-email" tip conditional"
Investigate whether an issue similar to https://github.com/Automattic/wp-calypso/issues/65884 is present in the _New Post_ email as well.

[2022-08-19 12:34] ivan-ottinger commented on #66442
I have divided this task into three separate issues which are now linked in the description above.

[2022-08-19 13:07] Addison-Stavlo opened #66757 "LaunchPad - Ensure we are setting strings up for translation."
We have a lot of hardcoded text dropped in the initial LaunchPad implementation, suach as in `client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/sidebar.tsx`

We need to ensure these strings are properly set up for translation.

[2022-08-19 13:07] danielbachhuber opened #66758 "Sites Management Page: Prevent character clipping on ellipsis text"
From pdtkmj-nh-p2#comment-583

Any characters that drop low on the Y-axis appear to be clipped:

![image](https://user-images.githubusercontent.com/36432/185624472-4e256f56-ec2f-4527-8d7b-e5ed39dc0ff6.png)

**Done is:**
* The characters appear fully.

[2022-08-19 13:11] Addison-Stavlo commented on #66705
https://github.com/Automattic/wp-calypso/pull/66732 should resolve this

[2022-08-19 13:19] rinazrina commented on #65662
Another report: 5487959-zd-woothemes

The Mini Cart works when `Page Optimize` OR `WooCommerce Subscriptions` are deactivated.

Similar report here: https://github.com/Automattic/wp-calypso/issues/66683

[2022-08-19 13:48] markbiek opened #66760 "Theme/Plugin Bundling: Ensure new UpdateModal is functioning"
We starting working on the `UpgradeModal` component as part of the previous sprint but it's currently tied to the theme-subscription feature flags and code.

This task is to ensure that `UpgradeModal` shown below is functioning properly but hidden behind the `themes/plugin-bundling` feature flag instead.

There may need to be tweaks to remove/hide theme subscription-related functionality and/or co

[2022-08-19 14:07] vajrasar commented on #57660
Replied to more here:

5491132-zen
5491136-zen

[2022-08-19 14:25] vajrasar commented on #65832
Additionally updated the following

5491159-zen
5491163-zen
5491168-zen
5491175-zen

---

@upwardmomentum84 can you please check this interaction, as I do not see the discussion about the font issue here.

[2022-08-19 14:34] masperber opened #66762 "Hemingway Rewritten theme - Main Accent color"
### Quick summary

In the past, the Main Accent color chosen from the customizer in the Hemingway Rewritten theme would affect the background under the Site Title and Tagline text and under the menu.

Currently, those colors are set to `#1d1d1d` regardless of the value set for the color in the customizer.

### Steps to reproduce

1. Start a site with the Hemingway Rewritten theme
2. Go to the cust

[2022-08-19 14:48] Addison-Stavlo opened #66764 "LaunchPad - Progress Bar"
The current LaunchPad progress bar is hardcoded as 33%. We should update this to be more useful.

To remedy this, I agree with @agrullon95's recommendation that we should start with " a simple calculation for this value ( completed items / total items)".

[2022-08-19 14:54] mreishus commented on #65558
There will also be the case of users who already have an atomic site buying a bundled (theme+plugins). In this case, we'll need to install the plugins without using an atomic transfer.

[2022-08-19 15:05] masperber commented on #66762
- [ ] 5491205-zen Customer requests follow-up when the bug is fixed.

[2022-08-19 15:11] Addison-Stavlo commented on #65419
This seems like it might be the same issue as https://github.com/Automattic/wp-calypso/issues/62017 ?

If so we could close one in favor of the other.

[2022-08-19 15:21] danielbachhuber commented on #64714
Made some progress on evaluation over the last day: p9dueE-5ey-p2#comment-8416

Once the offenders are fixed, we'll `WP_CLI::error()` when the scenario is detected.

[2022-08-19 15:25] #66705 closed, assigned to jeyip

[2022-08-19 15:27] Addison-Stavlo commented on #60732
Looking at the current state, it seems like the 'Customize' button not appearing when it should is only happening on atmoic sites. Is this correct?

A temporary workaround should be that "Additional CSS" should always be available and opens the customizer from the same menu location.

[2022-08-19 15:32] wynwin commented on #55335
Another example 5488196-zen

[2022-08-19 15:34] Addison-Stavlo commented on #60058
I think we can close this one now that customizer font settings for these themes have been migrated to the GLobal Styles with google fonts options.

[2022-08-19 15:34] #60058 closed, assigned to nobody

[2022-08-19 15:39] Addison-Stavlo commented on #62043
I think you might need to put it inside a container block (group, template part, etc.) to get that alignment option currently.

It looks good to me now as well. The logo centers visually in the editor with the option, and that is reflected correctly on the front end.

Feel free to re-open if still experiencing.

[2022-08-19 15:39] #62043 closed, assigned to nobody

[2022-08-19 15:42] mashikag opened #66765 "Newsletter Accent Color: Add `accent_color` property to create site API request"
## Task Description
User selects the accent color in the following screen: https://wordpress.com/setup/newsletterSetup?flow=newsletter.
![Screenshot 2022-08-16 at 16 01 40](https://user-images.githubusercontent.com/2019970/185657258-942d1fd6-c239-475a-9a92-dcce86e0fdb4.png)
The above screen is a step in what is known as the `Stepper` framework. See here.

Once `Continue` is pressed the user is red

[2022-08-19 16:02] dsas opened #66766 "Pre-installed plugins don't include site list"
#### Steps to reproduce

1. Go to https://wpcalypso.wordpress.com/plugins/jetpack-search

#### What I expected

To see a list of sites and the plugins status on each one like it does on https://wordpress.com/plugins/jetpack-search or behind a modal like on wpcalypso.wordpress.com for non-pre-installed plugins

WP.com pre-installed plugin | wpcalypso.wp.com
-------|------
 ![image](https://user-ima

[2022-08-19 16:13] mashikag opened #66767 "Newsletter Accent Color: Handle the `accent_color` property in the create site endpoint"
The accent color payload property should be as follows: `options.accent_color`.
Apply the accent color as primary color of the theme being applied to the new site.
If `primary` color does not exist in theme's color palette then do nothing.

[2022-08-19 16:18] zyousafi commented on #66531
Same issue here: #36105337-hc

Provided the user with a workaround using custom CSS

[2022-08-19 16:18] mashikag opened #66768 "Newsletter Accent Color: Apply the color to site's subscription email notifications"
The accent color should be applied to the following emails:
1. Subscriber Confirmation Request: PdDOJh-jy-p2
2. Subscriber Welcome: PdDOJh-jF-p2
3. New Post: PdDOJh-jM-p2

The idea is that it should be enough to apply the accent color styles to the common header of the new email templates.

#### Note
If the styles will be applied to the new email's header then the accent color will be applied to a

[2022-08-19 16:38] cometgrrl commented on #56499
This is the same behavior as a self-hosted site. Not all patterns are exposed in the inserter. You have to copy some of them from the pattern library to use them. See p1660867184058399-slack-C02KBT54T9T.

[2022-08-19 16:38] #56499 closed, assigned to nobody

[2022-08-19 16:41] dsas opened #66769 "Search only includes premium plugins"
#### Steps to reproduce

1. Go to https://wpcalypso.wordpress.com/plugins?s=yoast

That is, go to the plugins page and search for a plugin

#### What I expected

To see a variety of plug-ins, including Yoast SEO Premium and Yoast SEO

#### What happened instead

I only saw Yoast SEO Premium

![image](https://user-images.githubusercontent.com/93301/185666703-e95a5dc9-2696-4e40-ac97-14ce4cdac952.png

[2022-08-19 17:42] avantegarde commented on #65662
I was able to replicate this on AT but not on self-hosted. See video for replication steps.

**It's worth noting that my test site is running PHP 7.4.30.**

* OS: MacOS Monterey - Version 12.5 (21G72)
Browsers tested:
* Chome Version 104.0.5112.101 (Official Build) (arm64)
* Firefox 103.0.2 (64-bit)
* Safari 15.6 (17613.3.9.1.5)

**Steps to re-create:**
1. AT site
2. Only plugins activated are:

[2022-08-19 18:11] mreishus commented on #65558
If the source of truth for plugins bundled with themes is the [new taxonomy added on theme.wp.com](https://href.li/?https://theme.wordpress.com/wp-admin/edit-tags.php?taxonomy=theme_plugin&post_type=showcase_theme), I don’t think the wpcom backend has access to that information.

(This is related to the problems we’ve seen when the auto-loading-homepage tag is desynced and exists on theme.wp.com b

[2022-08-19 18:15] mreishus commented on #65558
I traced through the process of creating a new site, buying a business plan, choosing sell intent, choosing simple, and picking a premium theme. I went through these urls:

[code]

A good place to start is to have `/setup/processing` send you to the new flow, and have the new flow kick off the atomic transfer with the instruction to install the plugin.

[2022-08-19 18:17] jp-imagines commented on #60623
Another report in here: 36541582-hc – user was confused by the missing "Try & Customize" option on our Recommended (FSE/block) themes.

[2022-08-19 18:55] sejas commented on #64935
I've updated the PR https://github.com/Automattic/jetpack/pull/25670 to open the CPT menu items using the Calypso UI.

I've also found that Jetpack sites need to have WPcom SSO enabled in order to use the "calypso editor". The pain point is that jetpack has this feature disabled by default on Jetpack sites. The result of trying to add/edit a post, page or custom post without SSO is that the user w

[2022-08-19 18:57] cometgrrl commented on #65580
FYI: [Experiment: Remove domain step skip option from launch flow](pbxNRc-1V5-p2)

[2022-08-19 19:51] #66746 closed, assigned to danielbachhuber

[2022-08-19 20:12] noahtallen commented on #56295
Ah, in November 2021, we changed the redirect behavior to only explicitly block browsers we know don't work. (Rather than casting a wide net with just the "most recent 2 chrome versions.") So we only forbid chrome versions under 79, because Calypso crashes for them. If the current UA is higher than that, it won't trigger the redirect anymore. (Which seems to be the case and would explain why we ha

[2022-08-19 20:12] #56295 closed, assigned to nobody

[2022-08-19 20:53] aamills commented on #66326
Wouldn't hurt to notify the user in 5491934-zen

[2022-08-19 21:22] mreishus commented on #65555
I'm now working on making sure this information is present inside `site-setup-flow.ts`, so it can correctly hand off to the new flow.

[2022-08-20 06:47] Greatdane commented on #66502
Thank @IoanaAMuresan

Upon further testing, It is not just any HTML that breaks the map, but it looks to be links (href) specifically;
 `<a href="url">link text</a>`

[2022-08-20 16:59] tanjoymor opened #66781 "Table of contents block – links don't work on initial save"
### Quick summary

If you add the Table of Contents block to a new page, when you publish the page, the links don't work properly and instead open a new page with a Page not found error. The URL is retaining an `auto-draft` in it. If you edit and Update the page, the links will then work properly. Alternatively, if you publish the page first, then add the Table of Contents block, they will work co

[2022-08-21 07:05] rw-ye commented on #66428
Another case here: 5487475-zd-woothemes
Theme: Twenty Twenty-One

I can also reproduce this on Twenty Twenty-One (simple site).  The sharing buttons do not appear on the front page or the posts page.

[2022-08-21 09:51] PPPBerlin commented on #62088
I having the same problem as well. Also the workaround with --no-sandbox didn't work for me. Can't use it on Ubuntu 22.04.

[2022-08-21 13:17] synora opened #66782 "[Bug]: Image Block Converts to an Embed Block for Smug Mug URLs"
### Quick summary

When inserting a SmugMug URL into an Image Block via the "Insert from URL" option, the block automatically converts to an Embed Block. A user in 5489479-zen is experiencing this when editing an existing or scheduled post. This conversion is resulting in broken links on the site.

https://user-images.githubusercontent.com/10015451/185792634-4b836213-f5a2-49e2-8d63-9277d79d7a14.mp

[2022-08-21 16:39] metabreakr opened #66783 "Pique: Anchor menu does not apply `current_page_item` to active links properly."
### Quick summary

The anchor navigation, that links the menu to panels within the homepage, doesn't not change the `current_page_item` accurately.

This is despite no custom CSS is applied:

https://user-images.githubusercontent.com/39252765/185801254-c67e7b40-9491-42ef-87a7-2a49205c37c2.mp4

### Steps to reproduce

1. Activate the Pique theme
2. Publish at least 3 pages, not including the homepa

[2022-08-21 16:52] Babylon1999 commented on #66608
5495422-zd

- Asked them to clear their browser's cache.

[2022-08-21 22:52] kelasante opened #66784 "Additional Subscription Settings for Jetpack Subscriptions"
### What

In 36563768-hc and 35618855-hc, a user asked if it will be possible to manage how often post notifications are sent out. They want more control of this instead of the automatic notification for all posts.

### Why

This gives users a bit more control over managing emails sent to subscribers. As a workaround, we have already recommended third-party Newsletter services like MailChimp to th

[2022-08-21 23:52] SaxonF commented on #66589
The search input on the high level view of the page shouldn't be there. Ive updated Figma to reflect that.

![image](https://user-images.githubusercontent.com/1072756/185816082-6ef7f2f9-0b09-4111-b663-e7726177a536.png)

When inserting a pattern we should work towards adding search, however it doesn't necessary need to be part of V1, so we can add to the bottom of the backlog and consider it a stre

[2022-08-21 23:58] autumnfjeld commented on #66589
I've moved all the tasks to wp-calypso repo - this is a calypso feature so all issues should go there (even any wpcom / backend work that is supporting the feature)

[2022-08-22 00:07] alaczek commented on #65597
Hey, @valterlorran I appreciate your patience! This theme is a go now for launch!

[2022-08-22 00:38] roo2 commented on #66624
I ran into a design issue moving the hamburger menu and asked here https://loopp2.wordpress.com/2022/08/17/cards-vol-1-reader-reskin/#comment-88

[2022-08-22 01:50] alaczek commented on #66738
Here are some earlier explorations from @roo2 on supporting Atomic sites with Headstart: pbxlJb-WW-p2

[2022-08-22 02:19] alaczek commented on #66628
One thing to note is that we publish patterns on our source site as **posts**. That means they are required to be assigned a category. I removed them from Header/Footer categories, but that just means it fallbacks to "Uncategorized", which is not great, as it's now surfaced in the inserter. Would it make sense to hide the "Uncategorized" category from the inserter on our end? That would patch the

[2022-08-22 02:34] autumnfjeld opened #66789 "Select header/footer/section patterns for the Pattern Assembler MVP"
# Description

[PT: Blank Canvas Pattern Assembler: pbxlJb-2ki-p2)

Coordinate with designers to establish list of patterns for the MVP.

See slack conversation kicking off collaboration: p1662099782169749-slack-C02M88KJ684

Ola & Onur created this site to plan out which patterns to use for MVP: http://passembler.wordpress.com/

# Dev Tasks
@miksansegundo can update as needed
- [ ] get pattern IDs

[2022-08-22 02:39] autumnfjeld commented on #66789
Here are the most commonly chosen patterns from the pattern inserter:

![Image](https://user-images.githubusercontent.com/5665959/185827850-32bfbf90-d297-495a-92c2-6f86bc15b918.png)

To me it looks like we should offer query block patterns. 🤔

tracks/trends/?compareby=prop&eventname=wpcom_pattern_inserted&interval=day&prop=pattern_name&startdate=20220723&stat=uniques

[2022-08-22 03:24] mpkelly opened #66791 "[Bug]: Comment form: label text and input value are shown together on Firefox after a page refresh"
### Quick summary

Firefox remembers form data, so if you fill out a form and then refresh the page; your data will persist. This causes trouble on the Comment Box form, which has some dynamic labels.

You can see the problem here:
https://user-images.githubusercontent.com/6851384/185831610-41fd8687-3c0c-48eb-9bc3-2d5ba8080430.mp4

### Steps to reproduce

1. Using Firefox, while not signed in to W

[2022-08-22 03:48] taipeicoder commented on #66556
Closing this one as it's only as PoC.

[2022-08-22 03:48] #66556 closed, assigned to nobody

[2022-08-22 04:24] Robertght commented on #57360
Thank you for the ping @ai2n !

Luxury is a classic retired Premium theme. Archeo is an FSE theme and it fits the case from https://github.com/Automattic/wp-calypso/issues/62017#issuecomment-1211206637.

[2022-08-22 05:43] autumnfjeld opened #66793 "Ensure patterns and pattern names are translated (when that is possible)"
# Description
PT: pbxlJb-2ki-p2
Looks like we have another sleuthing task for missing translations.   See this slack convo for context p1661141810155589-slack-CRWCHQGUB.

Ideally we will ship the PA project to all languages with all the pattern related copy translated into mag-16 languages.  There may be instances where this is not possible, for instance patterns that are coming from core.

# Task

[2022-08-22 05:51] lsl commented on #66666
Got a fix for this specific issue in https://github.com/Automattic/wp-calypso/pull/66794

[2022-08-22 05:52] lsl opened #66795 "Marketplace: Plugin details breadcrumbs requires double click to navigate"
pdh6GB-1QJ-p2 - When viewing a product, navigating to the plugin page root from a plugin detail page requires two clicks of the breadcrumb to load it.

Acceptance:
- [ ] Links no longer require two clicks

[2022-08-22 05:55] lsl commented on #66666
Can't see the issue leading to the double click problem. Created a follow up issue https://github.com/Automattic/wp-calypso/issues/66795  to track that as its looking more separate. Holding off on a wider fix until I've figured out the root cause.

[2022-08-22 06:06] p-jackson commented on #65367
Tested on Windows with Browserstack
- Edge
- Opera
- Chrome

Tested on Mac natively
- Chrome
- Firefox
- Safari

Tried IE just to see what would happen, but I even struggled to log in

[2022-08-22 06:06] #65367 closed, assigned to p-jackson

[2022-08-22 06:08] p-jackson commented on #66295
I'm not going to do any more towards this for i1. Javascript perf has certainly improved, but we might be close to the limit for what we can do with a table of this many rows when it comes to CSS performance.
We could render as a [virtualised list](https://github.com/bvaughn/react-virtualized), but that's another order of magnitude in terms of complexity.

[2022-08-22 06:08] #66295 closed, assigned to p-jackson

[2022-08-22 06:40] autumnfjeld commented on #66793
This is related to what @arthur791004  is discussing with i18n:
p1660722347960409-slack-C02AED43D

Info: PCYsg-6pZ-p2

[2022-08-22 06:42] lukaszwilczakwilnet commented on #65447
Hi @ianstewart, i've added new PR with proposal of video course. Its https://github.com/Automattic/wp-calypso/pull/66744. It's not a final version. I wanted you could check this video curse and give me feedback if it's ok or should we change titles/descriptions/videos etc. Next step we will apply this video course to the help center in editor.

[2022-08-22 07:07] sharonlaker19 commented on #66008
+1 in 36570544-hc

- [ ] 5496757-zen

[2022-08-22 08:06] autumnfjeld opened #66796 "Investigate disparity in calypso_signup_site_vertical_submit"
# Description

Check to make sure the prop `has_vertical_images` is firing correctly.   According to tracks, only 3% of users select a vertical that has vertical images.   That doesn't seem to match up with other data about which vertical is selected.

For example, about 15% of users select Education, which has vertical images.

![Image](https://user-images.githubusercontent.com/5665959/185869227-

[2022-08-22 08:39] #55279 closed, assigned to rcrdortiz

[2022-08-22 08:51] mmtr commented on #65235
Should we reopen this now that we won't be supporting premium plugins on lower-tier plans? pdtkmj-io-p2#comment-543

[2022-08-22 09:14] daledupreez opened #66799 "[Bug]: Unused Quick Start sessions banner is confusing"
### Quick summary

When a user has any unused Quick Start sessions, we show the following banner on the `/me/purchases` screen:
<img width="1154" alt="Screenshot 2022-08-17 at 12 41 22" src="https://user-images.githubusercontent.com/3376401/185880665-f85f5ee4-dfb3-487c-b6dd-542572afcdbf.png">

As discussed in this thread ( p1660735418728269-slack-C039XBM6ESF ), there are multiple issues with this

[2022-08-22 09:44] ivan-ottinger opened #66802 "[New Liked Comment] Enables the new template for everyone"

[2022-08-22 09:49] ivan-ottinger opened #66803 "[New Liked Comment] Clean up feature flag code"
More information in D87901-code.

[2022-08-22 10:17] sudeepbaral commented on #59259
- [ ] 5494226-zen

Another report where all fonts were not changing from Site Editor
Theme: Meraki

[2022-08-22 10:33] mpkelly commented on #65350
This was fixed by https://github.com/Automattic/jetpack/pull/25410

[2022-08-22 10:49] mmtr commented on #64935
Correct. That's a known issue tracked here: https://github.com/Automattic/wp-calypso/issues/48477. It's unrelated to your changes though, since it happens across all post types, not only CPTs. Said that, I think we can mitigate that by checking if the SSO module is enabled and use the WP Admin link when disabled.

[2022-08-22 10:51] rickmgithub opened #66806 "Latest Posts Block not wrapping text correctly"
### Quick summary

Text is being pushed into the next column on different screen sizes.
<img width="1083" alt="Markup 2022-08-22 at 11 43 39" src="https://user-images.githubusercontent.com/13706336/185903682-6448007a-ff3b-4344-9090-260c1c592d01.png">

### Steps to reproduce

* Add a latest posts block in grid format.
* Add three posts with "long" words in the titles. It's crucial that they are a l

[2022-08-22 12:57] ivan-ottinger opened #66812 "[New Comment] Enable the "Replies to my comments" feature on WP.com"
More context: D86273-code#1804002.

[2022-08-22 13:28] #65461 closed, assigned to WBerredo

[2022-08-22 13:49] markbiek opened #66815 "Theme/Plugin Bundling: Simplify seller steps"
As part of the theme/plugin bundling, we're going to simplify how sellers end up going through the "Start simple" or "More power" flows.

**This needs to be behind the `themes/plugin-bundling` feature flag!**

How this will work:

- User picks the “Sell” intent.
- We take them to theme selection instead of “Start simple”/”More power”.
    - This means we need check for the "Sell" intent at the `op

[2022-08-22 13:51] ianstewart commented on #65447
@lukaszwilczakwilnet I'm having trouble testing the PR: I don't have the card that will launch the video in my test sites. From what I can see in the video the descriptions and titles are good. The first description was missing a period. Can you review with @sethmclellana8c?

[2022-08-22 14:09] ccwalburn commented on #62017
Same issue in Arbutus theme.
- [ ] 36550352-hc

Provided CSS workaround.

[2022-08-22 14:10] markbiek commented on #66760
After discussion in #66773, we've decided that it's better to require both the `themes/plugin-bundling` _and_ `signup/seller-upgrade-modal` flags.

That way there's no confusion about what's happening.

[2022-08-22 14:10] #66760 closed, assigned to markbiek

[2022-08-22 14:17] Addison-Stavlo commented on #66707
https://github.com/Automattic/wp-calypso/pull/66798 should allow us to use site-intent for this.

[2022-08-22 14:32] mreishus commented on #65555
We need the information to be available in `/sites/<SITE>/themes/mine`.

[2022-08-22 16:06] dsas commented on #66628
So far as I can tell, there's no facility for us to customise this from outside of Gutenberg - no hooks, config or similar. The pattern must still be registered so that we can display it when editing template parts. If a pattern doesn't have a registered category, then an [Uncategorised category is created on-the-fly](https://github.com/WordPress/gutenberg/blob/60fcadd76e282e0d3c0bd637c3a16f428543

[2022-08-22 16:10] #65371 closed, assigned to spraveenitpro

[2022-08-22 16:22] mikeicode commented on #66132
Alves again pdEkSe-YB-p2

[2022-08-22 17:51] sejas commented on #66758
It also happen on tile view:

<img width="444" alt="Screenshot 2022-08-22 at 18 50 38" src="https://user-images.githubusercontent.com/779993/185986561-d1510d77-39d1-49ef-96ea-2b3f6ab5dfb3.png">

[2022-08-22 17:53] #53716 closed, assigned to jgcaruso

[2022-08-22 18:19] valterlorran commented on #65900
Discussion related to this here: p1660919145446239-slack-C029FM1EH

[2022-08-22 18:24] supernovia commented on #30179
Command+U in Chrome on current mac still does not work. On Firefox, it opens a new tab with View Source.

[2022-08-22 18:32] cuemarie commented on #59580
Huge `+1` from me! This would be a game changing improvement to the Site Editor.

Interaction where this came up today: 35865291-hc

[2022-08-22 18:34] cuemarie commented on #59580
The pertinent core request: https://github.com/WordPress/gutenberg/issues/36060

[2022-08-22 20:06] DavidRothstein commented on #25754
I have no idea why a bot decided to assign this issue to me :smile:

[2022-08-22 20:14] lukaszwilczakwilnet commented on #65447
Hi @sethmclellana8c.
Below you can see screenshots from new Payments Blocks video course. You can open it from card on calypso My Home.

<img width="842" alt="Screenshot 2022-08-22 at 21 32 45" src="https://user-images.githubusercontent.com/82798599/186009401-1c066861-a717-4d39-ae85-0c9133db0629.png">

After click on "Start Making Money" you can see this:
<img width="1488" alt="Payments_Features_V

[2022-08-22 20:17] WBerredo commented on #66158
There are two issues on this search:
- [ ] ES is returning as 1 rating with value 1 (it should returns 0 ratings)
- [ ] The rating 1 is being shown as 5 - #66831

[2022-08-22 20:46] #66758 closed, assigned to sejas

[2022-08-22 21:40] autumnfjeld opened #66835 "Metrics planning & tracks events for the v13n standard designs"
# Description
### Tracking performance of v13n of standard designs  in  https://github.com/Automattic/wp-calypso/pull/66680
- Geologist
- Stewart
- Arbutus
- Zoologist

This is a multi part issue (it can be broken into two issues if that makes more sense).

###  Part 1: planning & creating tracks events
Metrics analysis always starts with formulating good questions. What do we want to learn? In th

[2022-08-22 22:00] lupus2k commented on #66495
Thanks, @lsl, for the update on this!

[2022-08-22 22:10] autumnfjeld commented on #66796
Note @taipeicoder: we should not close this issue until we confirm in tracks that the data makes sense.

1. merge  #66801
2. wait a couple days and examine  calypso_signup_site_vertical_submit for data consistency
3. if all good, close this issue

😃

[2022-08-22 22:35] JulianBustamante commented on #65345
Deployed r251070-wpcom

[2022-08-22 22:40] danielbachhuber commented on #66726
@p-jackson Made some edits directly to the draft!

[2022-08-22 22:41] cometgrrl commented on #56559
I am not able to reproduce this with Coblocks 2.24.2 (latest version). According to [this PR](https://github.com/godaddy-wordpress/coblocks/pull/2147), the issue was resolved with Coblocks 2.20.0, so if this is reported again, please check the Coblocks plugin version is at least 2.20.0.

[2022-08-22 22:41] #56559 closed, assigned to nobody

[2022-08-22 22:50] cometgrrl commented on #56591
This appears to be working correctly now.
![Uploading Screenshot 2022-08-22 at 3.50.37 PM.png…]()

[2022-08-22 22:50] #56591 closed, assigned to nobody

[2022-08-22 23:50] danielbachhuber commented on #66726
🚢

[2022-08-22 23:50] #66726 closed, assigned to p-jackson

[2022-08-23 02:01] hacchism commented on #50786
Another request: 36270841-hc

[2022-08-23 02:39] fushar opened #67063 "D86264 Return style variations for each static design from the starter designs endpoint https://code.a8c.com/D86264"

[2022-08-23 04:09] Robertght commented on #65247
The user is back and it appears to be an isolated case. @daledupreez is there any bandwidth to prioritize this or should we take another path for a faster fix?

[2022-08-23 05:23] pauloeaquino commented on #60732
5498906-zen
A case where the user wanted to disabled the WooCommerce store notice, but had no means of doing so, since access to the Customizer is required. For reference, FSE theme "Russell" was the active theme.

[2022-08-23 05:23] masperber commented on #60732
@Addison-Stavlo Correct, the missing Customize link only happens on Atomic sites.

This workaround does the trick, but it's a bit confusing because you have to click on the back arrow button from Additional CSS before you can access other Customizer functions.

[2022-08-23 05:24] taipeicoder opened #66840 "Site preview: Jackson theme alignment issue"
## Description
In the unified design picker, the Jackson theme isn't correctly center aligned. See screenshots for mShots and iframe, respectively:

![Image](https://user-images.githubusercontent.com/797888/186076541-de89d734-7a28-4c8d-bbbd-741688cd15aa.png)
![Image](https://user-images.githubusercontent.com/797888/186076564-44fd9ca8-bf53-4163-ba31-202af02d2cd3.png)

While in Theme Showcase, it sh

[2022-08-23 05:33] hacchism commented on #65495
I had a chance to test this further as I got the same user reporting the issue again.

According to my further testing, it appears this is specific to Twenty Seventeen and related to https://github.com/Automattic/themes/issues/6023/.

[2022-08-23 05:53] #64055 closed, assigned to candy02058912

[2022-08-23 06:07] lsl opened #66843 "Marketplace: Category header margin"
Could we remove this margin? I think it was added for mobile views in https://github.com/Automattic/wp-calypso/pull/66646 but I think for desktop it should align with the rest of the page.

![Screenshot(6)](https://user-images.githubusercontent.com/811776/186082735-4e4f153e-db0c-427b-ab69-72c4d9e058b7.png)
- [x] Remove margin on category page header

[2022-08-23 06:27] SaxonF opened #66844 "Site switcher adjustments"
### Details

To increase the visibility over the SMP we'll be making some iterations to the current site switcher sidebar.

**Single sites**

- Move add new site button to bottom of sidebar, under collapse. We can keep the existing, low prominence button style for now.
- Site switcher remains hidden

Multi sites
![image](https://user-images.githubusercontent.com/1072756/186086070-b4f780a9-4a5a-492

[2022-08-23 06:45] #66666 closed, assigned to lsl

[2022-08-23 07:38] mashikag commented on #66765
I have just went through writing an implementation of saving the `siteAccentColor` on `newsletter-signup` step submission to `Onboard` store of `@automattic/data-stores` , and then retrieving it back from the store in the `newsletter` flow of the `signup` framework, a.k.a. `start`. I have create [the PR](https://github.com/Automattic/wp-calypso/pull/66845) but only for demonstration purposes so yo

[2022-08-23 07:52] #63607 closed, assigned to nobody

[2022-08-23 09:32] yansern commented on #66765
Good attempt though! And I can see there is a [18.5% increase in bundle size](https://github.com/Automattic/wp-calypso/pull/66845#issuecomment-1223657198).

[code]

URL params it is! Wondering if you would need 2 params, one to indicate this is a newsletter flow, one to indicate the accent color. :)

[2022-08-23 09:34] #64638 closed, assigned to daledupreez, mpkelly

[2022-08-23 09:53] ivan-ottinger commented on #66802
D86275-code is now merged and deployed to production.

[2022-08-23 09:53] #66802 closed, assigned to ivan-ottinger

[2022-08-23 09:54] ivan-ottinger opened #66855 "[New Liked Post] Add "translators:" comment to email subject strings"
More details are in D86362-code.

[2022-08-23 09:55] ivan-ottinger commented on #66855
D86362-code patch is now ready for review.

[2022-08-23 10:15] lsl commented on #66795
So [this function](https://github.com/Automattic/wp-calypso/blob/110806a819dca23a6118518d7808145b37bec2a6/client/my-sites/plugins/controller.js#L100) is running twice when you click a link.

The first pass runs the correct `browsePlugins` function, the second pass runs `plugin`.

Why...? Not sure yet. :shrug:

[2022-08-23 11:00] Addison-Stavlo commented on #60732
Thanks for confirming @masperber -  I updated the title and added a quick edit at the top of the original description since the state of things has changed a bit since it was written.

[2022-08-23 11:04] mashikag commented on #66765
No need to do anything extra for indicating newsletter flow. The flow is already explicitly defined as newsletter. It is already in the url too, just as a path and not an url param: `/start/newsletter/domains` :)

[2022-08-23 11:31] poeticabdul commented on #55795
Reported here 5483809-zen

[2022-08-23 12:20] valterlorran commented on #66737
Hey! I'm adding the information that I'm gathering here: paYKcK-20V-p2

[2022-08-23 12:28] janmckell commented on #66806
The user at 5499177-ZD provided a workaround, where they re-typed the text instead of pasting it, and the overflow of text worked as expected.

![wrapped text](https://user-images.githubusercontent.com/84089207/186157929-3cfd60c1-a4b1-4a26-82fd-9afb4f6a461c.jpg)

[2022-08-23 12:30] agrullon95 commented on #66704
Changes have been handled + merged in https://github.com/Automattic/wp-calypso/pull/66715 and `flow` param is now used to determine which checklist to display.

[2022-08-23 12:30] #66704 closed, assigned to agrullon95

[2022-08-23 12:54] dragstor commented on #52241
35788589-hc

[2022-08-23 13:13] vindl commented on #66669
Documenting some follow-up discussion points:

1. We don't need to include this in i1 since it would duplicate the `Private` labels.
2. We'll explore adding screenshots for private sites in i2. If that's successful this will no longer be an issue.

If (2) doesn't work out, we can revisit the designs to make the distinction clearer. Until then, I'm putting this issue on hold.

[2022-08-23 13:29] BogdanUngureanu opened #66864 "[Bug]: Marketplace search: Infinite loop caused by t.gif"
### Quick summary

When searching on the staging environment with the `marketplace-jetpack-plugin-search` flag enabled, an infinite loop request to t.gif is triggered.

### Steps to reproduce

1. Go to wpcalypso staging environment
2. Select an Atomic site
3. Go to Plugins > Add new plugin (the marketplace)
4. Search for `unicard`
5. Enable the marketplace-jetpack-plugin-search feature flag (?flag

[2022-08-23 13:36] maciejpilarski opened #66865 "Galleries: < sign over gallery blocks"
### Quick summary

Above a gallery block there's a < character displayed.

User site:
https://libisoo.com/2022/08/23/hummus/

https://d.pr/i/Po99pg

I was able to reproduce it on my side using a different theme:
https://maciejpilarski41873144.wordpress.com/2022/08/23/gallery-test/

https://d.pr/i/uVMb6v

### Steps to reproduce

1. Create a New post
2.  Add some paragraphs
3.  Add a gallery block
4

[2022-08-23 13:36] maciejpilarski commented on #66865
ZD5500430

[2022-08-23 13:37] dsas opened #66866 "[Bug]: Searching doesn't work for users with unindexed languages"
### Quick summary

As a wpcom user with my language set to en_GB (British English) when I search using the elastic search marketplace MVP I get zero results regardless of my search term.

### Steps to reproduce

1. Set WPcom account to en_GB
2. Go to wpcalypso.wordpress.com/plugins
3. Type 'jetpack search' in the search box and hit enter

Any other search string which should bring up .org plugins

[2022-08-23 14:05] mxhassani opened #66868 "(esthetics) Remove G Suite mention under Emails > Add new mailboxes , replace it with Google Workspace"
### Quick summary

_No response_

### Steps to reproduce

1. On an account with a Google Workspace subscription
2. Go to Emails > Add new mailboxes (https://wordpress.com/email/DOMAIN/gsuite/add-users/DOMAIN)

### What you expected to happen

To see "Google Workspace: DOMAIN" as the title

### What actually happened

I see "G Suite: DOMAIN" as the title
![image](https://user-images.githubuserconte

[2022-08-23 14:06] claudiucelfilip commented on #66795
It looks like this [clearSearch](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/search-box-header/index.jsx#L100) call is causing the issue it forces the router to update and rerun the middlewares. This also affects the `/plugins` route, where [browsePlugins](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/controller.js#L114) is run twice ea

[2022-08-23 14:23] #65842 closed, assigned to WBerredo

[2022-08-23 14:27] #46551 closed

[2022-08-23 14:27] i11za opened #66871 "Theme: Twenty Fourteen shows `>` symbol before above Gallery block"
### Quick summary

A `>` symbol appears above Gallery Block with Twenty Fourteen on simple sites. Not an issue on AT sites.

Initially suspected to be due to the fact that the reported gallery was nested within a Cover Block, but was able to replicate with a separate "stand-alone" Gallery Block as well.

### Steps to reproduce

1. Create a gallery, add images.
2. Preview in new tab, or publish the

[2022-08-23 14:48] ccwalburn opened #66873 "FSE: Allow Preview in New Tab from Site Editor"
### What

Add the **Preview in new tab** option to the site Editor so you can see how template changes will really look on the front end.

### Why

It would be really useful to be able to preview template changes in the Site Editor the way you can preview page/post changes in a separate tab so that you can see what your changes will really look like. Right now, we have to save the template and the

[2022-08-23 15:33] dsas commented on #66866
Detective work:

I noticed that the endpoint sometimes uses `Jetpack_WPES_Search_Query_Parser` which has a list of languages and a function to normalise them, which looks like it would avoid this problem. Use of the language normalisation was explicitly disabled in D82452-code though. It's not clear from that commit why but some of the comments on the initial implementation (D81357-code#1715923) h

[2022-08-23 15:37] #65555 closed, assigned to nobody

[2022-08-23 15:57] sirbrillig opened #66874 "Concierge session post-checkout URLs no longer need to be generated"
As described in [this comment](https://github.com/Automattic/wp-calypso/pull/66489#discussion_r952797143) Quick Start sessions (aka Concierge sessions) are no longer being sold, so we no longer need to support generating a post-checkout URL for them in `getThankYouPageUrl`.

Removing this functionality can wait until https://github.com/Automattic/wp-calypso/pull/66489 is merged unless that PR itse

[2022-08-23 16:01] agrullon95 commented on #66764
Launchpad progress bar changes will be handled in #66869

[2022-08-23 16:03] ahmadbaig1 opened #66875 "Galleries: Live site showing < before a gallery block"
### Quick summary

Tiled gallery is showing less than "<" sign before the gallery begins.

<img width="1337" alt="Markup 2022-08-23 at 21 26 40" src="https://user-images.githubusercontent.com/40609190/186205343-3c0e65e2-0036-4ff7-8954-46da2c5917e5.png">

I thought we could remove this from the code editor, but apparently, this sign is not showing up there.

This is happening on various themes, bot

[2022-08-23 16:11] mdtanjid0 opened #66876 "Tiled Gallery :: showing symbol ( greater than/less than ) on the frontend for the free site."
### Quick summary

Adding a Tiled Gallery showing a great than/less than symbol on the frontend for the free site:

Editor:
<img width="2150" alt="image" src="https://user-images.githubusercontent.com/54123436/186207293-02e5b705-c339-4528-93f8-2172ff482c53.png">

Frontend:

<img width="3314" alt="image" src="https://user-images.githubusercontent.com/54123436/186207412-940501f0-f4b0-4d96-9360-ced7c

[2022-08-23 16:18] ahmadbaig1 commented on #66876
Just reported it here 7 minutes earlier- https://github.com/Automattic/wp-calypso/issues/66875

[2022-08-23 16:34] ahmadbaig1 commented on #66875
Issue reported here as well- https://github.com/Automattic/wp-calypso/issues/66865
But not sure if that is for all galleries or only Tiled gallery.
Reported here as well- https://github.com/Automattic/wp-calypso/issues/66876

[2022-08-23 17:11] cuemarie commented on #66639
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Not replicable**
- Replicable on Core? **No**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested once more on AT with Blank Canvas, and Simple with Twenty Nineteen. Replicated in both instances.

*Example - AT with theme: Blank Canvas*

![Screen Capture on 2022-08-23 at 10-07-13](https://user-imag

[2022-08-23 17:11] mreishus commented on #65558
I have a better understanding of this now that I've been working in this area.
* In #66832 we got the handoff between the site-setup flow and the plugin-bundle flow working.
* `setDesignOnSite()` does not seem an appropriate place to issue plugin install or atomic transfer commands.
  * In #66832 I added a `.then( () => ...` that runs after  `setDesignOnSite()` and dispatches `requestActiveTheme()

[2022-08-23 17:24] michaeldcain commented on #66652
From planning:

Let's update it to Shilling. If any of these give too many notifications (especially not related to our work), let's remove our names.

[2022-08-23 17:36] carinapilar commented on #66875
I have just spotted this too with the Gallery block, it also happens on P2 comments. I wasn't able to replicate it on WordPress.org.

[2022-08-23 17:39] carinapilar commented on #66875
This one seems to be the first report: https://github.com/Automattic/wp-calypso/issues/66865 - maybe we can close this in favor of that one?

[2022-08-23 17:39] carinapilar commented on #66865
I have just spotted this too with the Gallery block, it also happens on P2 comments. I wasn't able to replicate it on WordPress.org.

[2022-08-23 17:42] DustyReagan commented on #66795
I had another go at this here: https://github.com/Automattic/wp-calypso/pull/66883

[2022-08-23 17:51] cuemarie commented on #66649
📌 SCRUBBING : RESULT
-
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes**

📌 FINDINGS/SCREENSHOTS/VIDEO
-
- I was able to replicate this issue in all test environments, only when using Block Themes.
     - On a classic theme (Twenty Nineteen), the border color follows the Text color, when the style **Outline** is

[2022-08-23 17:59] KirkwallDay commented on #65419
- [ ] 5500136-zen another instance here

[2022-08-23 18:01] wiesenhauss commented on #66865
HC36595062 - Tiled Gallery

<img width="305" alt="Screen Shot 2022-08-23 at 14 59 47" src="https://user-images.githubusercontent.com/99455043/186231315-540a80ac-354f-486c-a7f3-83be4085b888.png">

[2022-08-23 18:01] ariel-maidana commented on #66865
5500220-zd-woothemes

[2022-08-23 18:58] mxhassani commented on #66865
Similar case here: 5501094-zd-woothemes

User mentioned it was not there a day ago.
Tested on Twenty Seventeen and Heiwa.

### ❗ Affects Tiled Gallery block too

[2022-08-23 19:14] danielbachhuber commented on #66191
@vindl @p-jackson @Lochlaer I've updated the Google Doc such that it now represents a full first draft.

It's a little on the short side, though (272 words). Not sure what our target length is.

Also, in interest of simplicity, I dropped the 'Tech Tip' section.

[2022-08-23 19:24] #66815 closed, assigned to markbiek

[2022-08-23 19:51] daledupreez commented on #66865
This is almost certainly a regression introduced by my changes in Automattic/jetpack#25441, specifically on this line: https://github.com/Automattic/jetpack/blob/d5e90d438ba4678c30c2c13f8f032a86610f5409/projects/plugins/jetpack/modules/carousel/jetpack-carousel.php#L386

The issue seems to be that I unnecessarily added a `<` to the replacement.

@mpkelly, could you take a look at this when you get

[2022-08-23 20:03] metabreakr commented on #66865
5501650-zen

5501522-zen

[2022-08-23 20:11] oskosk commented on #66865
Patch deployed (D86416-code)
Jetpack fix about to be merged with https://github.com/Automattic/jetpack/pull/25795

[2022-08-23 20:40] oskosk commented on #66875
Closing as duplicate of #66865

Fixed in https://github.com/Automattic/jetpack/pull/25795

[2022-08-23 20:40] #66875 closed, assigned to nobody

[2022-08-23 20:41] oskosk commented on #66876
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/66865

Fixed in https://github.com/Automattic/jetpack/pull/25795

[2022-08-23 20:41] #66876 closed, assigned to nobody

[2022-08-23 20:42] phcp opened #66890 "[New Comment] Hide Like CTA to the email sent to post owner"
Update CTAs for post author's email to match the design on [Figma](c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A17275)

![Image](https://user-images.githubusercontent.com/3113712/186261439-dbc194f8-d21c-4568-b7b9-2b28ddfe3b85.png)

[2022-08-23 20:45] #66409 closed, assigned to phcp

[2022-08-23 20:48] markbiek commented on #65558
My understanding at this point is that we'll mostly be bundling woocommerce and then maybe some woocommerce add-ons on top of that.

I agree that softwareSets coming from a predefined list makes the most sense.

[2022-08-23 20:48] kraftbj commented on #66865
Note for Atomic sites: the fix resolving this is expected to go out tomorrow, likely in the US morning.

[2022-08-23 21:19] ccwalburn opened #66891 "Customizer: Additional CSS Section Media Width Setting Verbiage"
### What

We've had a request to change the wording for the Media Width instructions in the **Additional CSS** section.

From:

To:

### Why

To avoid confusion about the difference between "content" and "media width"

Requested here: 5485427-zen

### How

_No response_

[2022-08-23 21:19] oskosk commented on #66865
Thanks @kraftbj !

[2022-08-23 21:55] danielbachhuber commented on #64714
Created a couple of patches for the offenders: D86431-code D86433-code

[2022-08-23 22:11] #66484 closed, assigned to sharpirate

[2022-08-23 23:27] sirbrillig opened #66894 "Running tsc manually crashes with "Parameter symbol already has a cached type which differs from newly assigned type""
### Quick summary

You can manually run the TypeScript type checks for the client directory with the command `yarn tsc -p client --noEmit`. This is helpful for finding TS errors before making a commit.

However, now when I run that command, I get the following unhelpful error:

[code]

This same error happens if I run `yarn tsc --build client/tsconfig.json` which appears to run fine in the CI envi

[2022-08-23 23:37] zachspears commented on #66592
This is a great request as it would allow for the scheduling of podcasts which would add a lot of value for anyone looking to build a podcast on top of WordPress. Marking Normal priority due to potentially high impact for creators on the platform.

[2022-08-23 23:41] zachspears commented on #66635
GReat suggestion for consistency and useful documentation. Added Low priority due to low impact.

[2022-08-23 23:55] supernovia commented on #44263
Requested here: https://wordpress.com/forums/topic/blog-post-notification-settings/

[2022-08-24 00:10] sirbrillig commented on #66894
🤔 Hang on...

I ran `tsc` inside the `client` directory, which _does_ appear to work.

[code]
... and now running `yarn tsc -p client --noEmit` from the top-level directory seems to work again 🙃

Ok. Nevermind, I guess?

[2022-08-24 00:10] noahtallen commented on #66894
Super weird! Maybe a random bug with how yarn resolves binaries?

[2022-08-24 00:14] sirbrillig commented on #66894
🤷 Well, hopefully if anyone else encounters this, they'll find my "solution" helpful.

[2022-08-24 00:30] cuemarie commented on #66156
📌 ACTIONS
-
- Feature request closed due to stale conversation. Feel free to reopen and share any thoughts to the inquiry above. Thanks!

[2022-08-24 00:37] zachspears commented on #66655
Able to reproduce, no duplicate reports.

[2022-08-24 00:38] cuemarie commented on #64235
📌 ACTIONS
-
- Closing report following thread above. Thanks!

@Robertght as you're familiar with the issue following your triage, would you mind [requesting a WPcom doc update](https://github.com/Automattic/en.support-docs-content/issues/new/choose) following this discussion?

[2022-08-24 00:38] #64235 closed, assigned to nobody

[2022-08-24 00:43] zachspears commented on #66659
Able to reproduce, changed Priority to Normal due to high impact on bloggers using this theme.

[2022-08-24 00:49] zachspears commented on #66682
Able to reproduce, leaving priority Normal due to possible impact of pricing confusion.

[2022-08-24 00:49] cuemarie commented on #46182
📌 ACTIONS
-
- Based on the conversation above, moving this over to `Prioritize & Assign` to keep open, but it looks like this doesn't need further triaging.

[2022-08-24 00:53] cuemarie commented on #64240
📌 ACTIONS
-
- Closing report due to stale conversation. Feel free to reopen and share any thoughts to the inquiry above. Thanks!

[2022-08-24 00:53] #64240 closed, assigned to nobody

[2022-08-24 00:55] cuemarie commented on #63935
📌 ACTIONS
-
- Let's try to get this triaged once more, and if we can't replicate, [requesting a public documentation update](https://github.com/Automattic/en.support-docs-content/issues/new/choose) may be a great solution instead.

[2022-08-24 01:02] cuemarie commented on #64558
📌 ACTIONS
-
- Closing report due to stale conversation. Feel free to reopen and share any thoughts to the inquiry above. Thanks!

[2022-08-24 01:02] #64558 closed, assigned to nobody

[2022-08-24 01:05] cuemarie commented on #64767
@goblinartificer Were you ever able to return to this for further testing? For the moment I'll close this out (just doing some clean-up on standing reports), but feel free to reopen if you're able to get those GIFs for further testing!

[2022-08-24 01:05] #64767 closed, assigned to nobody

[2022-08-24 01:08] cuemarie commented on #65147
📌 ACTIONS
-
- Thanks for that clarification, @edwinho89 ! Feature Request kept. Thanks!

[2022-08-24 01:14] cuemarie commented on #65209
📌 ACTIONS
-
- Double checked this on another test site using **Blockbase**, and the manual excerpts are pulled into the Post Excerpts block. It's possible this feature has been added, so closing out. Feel free to reopen and share any specific FSE themes where this is still missing.  Thanks!

[2022-08-24 01:14] #65209 closed, assigned to nobody

[2022-08-24 01:19] cuemarie commented on #65289
📌 ACTIONS
-
- Moving this back to `Needs Triage` to get retriaged with the updated information above.

[2022-08-24 01:20] cuemarie commented on #65344
📌 ACTIONS
-
- Moving this back to Needs Triage to get retriaged with the updated information above.

[2022-08-24 01:22] cuemarie commented on #65384
📌 ACTIONS
-
- Thanks for submitting that Gutenberg report! Feature Request kept.

[2022-08-24 01:24] cuemarie commented on #65916
📌 ACTIONS
-
-  Moving this back to `Needs Triage` to get retriaged with the updated information above.

[2022-08-24 01:27] cuemarie commented on #65662
📌 ACTIONS
-
-  Thank you so much @avantegarde for those notes! Moving this back to `Needs Triage` following the information shared above.

[2022-08-24 01:44] roo2 commented on #66624
merged into https://github.com/Automattic/wp-calypso/pull/66650

[2022-08-24 01:44] #66624 closed, assigned to roo2

[2022-08-24 02:19] #66843 closed, assigned to candy02058912

[2022-08-24 02:59] taipeicoder commented on #66432
@bangank36 can we close this?

[2022-08-24 03:02] bangank36 commented on #66432
Sure, closed as landed

[2022-08-24 03:02] #66432 closed, assigned to bangank36

[2022-08-24 03:02] lsl commented on #66495
@lupus2k I want to reverse my thinking on this, I think you're right, lets fix the behavior and revisit later. I'm thinking making decisions on code behind a feature flag is a bad choice and this was the correct thinking:

Can we do this in a way that's easy to modify later if we need to? (I don't think its a blocker but that would be a nice side benefit if it doesn't add any scope)

[2022-08-24 03:13] p-jackson opened #66898 "Sites Management Page: Fix issue where empty page and "show hidden" message appear during loading"
Occasionally seeing an empty list where only the "Show hidden sites" message displays while SMP loads.
Seems to happen during force refreshes.

See video here: pdtkmj-nh-p2#comment-613

It'd be good to get to the bottom of what causes this. It might be more likely to happen during local development when force refreshes of the store can be required. In which case it's not as big a deal.

**What I E

[2022-08-24 05:15] miksansegundo commented on #66786
The team Cylon were recently working on the component `<WebPreview>` as part of [LaunchPad v1](https://github.com/Automattic/wp-calypso/labels/LaunchPad%20v1). Here is a [conversation](https://github.com/Automattic/wp-calypso/issues/66131#issuecomment-1204250235) about the changes.

[2022-08-24 05:53] lsl opened #66899 "Marketplace: Browse page for generic categories missing category selector"
Clicking on the "appointments" category loads a category page with no category selector.

- [ ] Missing category selector
- [ ] Breadcrumb default string of "Plugins" could be improved

![Screenshot 2022-08-24 at 15-52-13 Booking Calendar Plugin ‹ Business - Simple Site — WordPress com](https://user-images.githubusercontent.com/811776/186341121-7d631e67-84d8-4e19-a016-e04c94bf915e.png)
![Screensho

[2022-08-24 07:53] ivan-ottinger commented on #66753
D86146-code is now deployed.

[2022-08-24 07:53] #66753 closed, assigned to ivan-ottinger

[2022-08-24 07:56] miksansegundo commented on #66787
I have added the following acceptance criteria to consider the long pattern names:

[2022-08-24 08:22] lsl commented on #46182
I believe the approach taken in https://github.com/Automattic/jetpack/pull/25448 to not show the notification bell when third party cookie access is limited will provide cover for all other non-firefox situations leading to this behavior in the same way. On the flip side, it might also mask separate issues with cookies we want to fix.

Please reopen or create a new issue if anyone still runs into

[2022-08-24 08:22] #46182 closed

[2022-08-24 09:27] miksansegundo commented on #66788
@arthur791004 I've read your [comment](https://github.com/Automattic/wp-calypso/issues/66589#issuecomment-1219341048) about the previews performance.

The pattern selector in Gutenberg renders the preview of patterns in [iframes](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/block-preview/auto.js#L79) by creating a portal in the `documentElement` and then r

[2022-08-24 09:28] taipeicoder commented on #66734
After confirming with @SaxonF in 7l53h5fxAUNjVRBQ82YFwn-fi, the A letter should be the primary color.

[2022-08-24 09:36] ahmadbaig1 opened #66904 "Comments: Comment submission does not work, users get "Error: Please fill the required fields" error."
### Quick summary

Some of the WordPress.com sites are facing issues when users are trying to comment on them.

The error in action-
<img width="884" alt="Screenshot 2022-08-24 at 2 34 27 PM" src="https://user-images.githubusercontent.com/40609190/186377900-f74b9858-e5ed-4a82-b473-e14868186a62.png">

The browser is able to recognise that users are logged in-
![Markup on 2022-08-24 at 14:35:48](htt

[2022-08-24 09:38] taipeicoder opened #66905 "Unified design picker: Too much vertical white space when themes are filtered by "Business" and other filters"
## Description
In the unified design picker, when themes are filtered by "Business" there is a big vertical gap between the first and second row. See screenshot for reference:

![Image](https://user-images.githubusercontent.com/797888/186385386-be17dcef-3c50-4b74-9402-45270fdc3a69.png)

 ## Acceptance Criteria
The vertical spacing should be the same across filters.

[2022-08-24 09:42] ahmadbaig1 commented on #66904
Please note the issue was not reproducible on one of the above sites after being initially reported.

[2022-08-24 09:44] pablohoneyhoney opened #66906 "Marketplace: Improve images quality in plugin pages"
An example: https://wordpress.com/plugins/wordpress-seo-premium

The images aren't of high quality (perhaps not retina ready), which affects negatively the perception (and clarity) of what we sell.

![image](https://user-images.githubusercontent.com/25516611/186386772-29061be6-9db4-4865-aaf8-152d4d2a8499.png)

[2022-08-24 10:19] daria2303 commented on #41606
I just want to mention that two Premium Content blocks don't work correctly on one page, based on 5466295-zd-wootheme, it results in the guest view being visible to non-guests

[2022-08-24 10:21] devNigel commented on #64438
I can see the similar gap between Group blocks, Headers and Footers. It is not possible to get rid of this space using editor features.

The gap is introduced by this CSS:

[code]

Screenshot:

![ovRWY2.png](https://user-images.githubusercontent.com/33957570/186394595-ef5503ad-9472-4786-961a-f2a19e96f80a.png)

User report: 36590943-hc

- [ ] Follow up: 5502805-zd-woothemes

[2022-08-24 10:23] arthur791004 commented on #66840
This might be related to p1660885876278549-slack-CRWCHQGUB and it comes from Gutenberg with v13.19.0 above. We need to think about how to fix it.

[2022-08-24 10:25] bangank36 commented on #66905
I am on trunk and the issue seems to be happening on the generated design picker as well

![Screenshot on 2022-08-24 at 17-24-17.png](https://cdn-std.droplr.net/files/acc_1243635/KMo8Mq)

[2022-08-24 10:28] #64983 closed, assigned to heavyweight

[2022-08-24 10:31] taipeicoder commented on #66905
@bangank36 how are you seeing this on trunk? We shipped UDP, the generated design picker shouldn't be accessible anymore.

[2022-08-24 10:37] bangank36 commented on #66905
It is the generated design picker on UDP, screenshot taken from Build flow

![Screenshot on 2022-08-24 at 17-36-39.png](https://cdn-std.droplr.net/files/acc_1243635/v2xpbO)

[2022-08-24 10:51] csabarakasz opened #66908 "Pique - Border on the Social Icon block in the widget area"
### Quick summary

When adding a The Social Icons block and icon on the Pique theme, it automatically adds a border to it.
![J5FkNH6SK9JzjCmDwbF33OWZHJ6byrnVfkD83sXw.jpg](https://user-images.githubusercontent.com/84539773/186398949-9c4600d8-eaff-4db0-9c10-6a6fb11030e5.jpg)

This could be removed with CSS, but for free or Personal plans there is no workaround

When I add other blocks, the border is

[2022-08-24 10:57] arthur791004 commented on #66788
Yes, it would be better if we could render the preview in iframes on the frontend side but it's a big effort. We could try the preview API first as you said to see whether the performance is acceptable on production or not 🙂

[2022-08-24 11:04] bangank36 commented on #66905
Sorry I used an incorrect name, updated the comment for clarification

[2022-08-24 11:25] iamtakashi commented on #65895
Can someone look into this? This is a kind of blocker for a theme that's about to launch.

[2022-08-24 12:29] dragstor commented on #66865
5503408-zen
5503398-zen

[2022-08-24 12:29] i11za commented on #66871
Related to https://github.com/Automattic/wp-calypso/issues/66865 - has now been fixed.

[2022-08-24 12:30] i11za commented on #66865
I originally thought this was theme related, and reported it here.

Another report: 5500318-zen

[2022-08-24 12:43] Robertght commented on #63229
No further reports for a while. Closing.

cc @pbking @jeyip

[2022-08-24 12:43] #63229 closed, assigned to creativecoder, jeyip

[2022-08-24 12:49] ClassicRKR27 opened #66914 "Comments on AT Sites not working in Chrome"
### Quick summary

A user has reported that some of their site visitors notified them that they cannot leave comments. After testing, it appears that this is affecting AT sites on Chrome. When a visitor tries to leave a comment, even if they are logged into their WordPress.com account, they see a message stating `Error: Please fill the required fields.`

### Steps to reproduce

1. Have a test page

[2022-08-24 12:54] daledupreez commented on #66871
@i11za, can we close this issue? It looks like this is a duplicate of the now-resolved #66865.

[2022-08-24 12:56] ivan-ottinger opened #66915 "[New Comment] Fix address validation call in "Reply-to-comment-by-email" tip check"
More info: D86398-code

[2022-08-24 13:04] ivan-ottinger opened #66917 "[Comment Approval] Create feature flag and skeleton template file"
The new _Comment Approval_ email template will require similar email feature flag as we have for development of other email templates. We can use `+wp22na`.

Example patch: D85926-code

[2022-08-24 13:06] eoigal commented on #66625
I've created [PR](https://github.com/Automattic/wp-calypso/pull/66916) to remove this functionality but wonder should we keep it but default to not combining cards (by setting `shouldCombineCards` to false in the Stream component)?

[2022-08-24 13:10] ivan-ottinger opened #66919 "[Comment Approval] Add "New comment waiting approval!” heading"
We will need to add the following email heading:

![Image](https://user-images.githubusercontent.com/25105483/186427832-5aad5003-a710-42a7-af85-a259f7ef4721.png)

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24079

The styling is the same as in other existing new email templates.

[2022-08-24 13:11] #66764 closed, assigned to agrullon95

[2022-08-24 13:16] ivan-ottinger opened #66920 "[Comment Approval] Add WP Logo + Site Title header"
The _Comment Approval_ email template should include the same WP/Site logo and Site title as other email templates:

![Image](https://user-images.githubusercontent.com/25105483/186428584-68611ed1-80f7-473e-80d4-e7cdff8d7ce6.png)

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24079

We can reuse the existing code from other template.

[2022-08-24 13:20] #66632 closed, assigned to sejas

[2022-08-24 13:22] davemart-in commented on #66625
@eoigal The good thing about GitHub is that the code is all there in your PR if we ever want to bring it back to life. I'd side with just removing it as I don't foresee us bringing it back.

[2022-08-24 13:37] gutenberg-plugin-upgrade-bot[bot] opened #66922 "Gutenberg: v15.2.x plugin upgrade"
Previous upgrade: #
Release notes:

**Install and activate**

- [ ] Install and activate v15.2.0-rc.1 on edge (######-code)
- [ ] Install and activate v15.2.0 on edge (######-code)
- [ ] Activate v15.2.0 on production (######-code)
- [ ] Request v15.2.0 AT upgrade (######-p2)

**Testing**

- [ ] v15.2.0 Desktop viewport E2E
- [ ] v15.2.0 Mobile viewport E2E
- [ ] v15.2.0 WPCOM core (######-code)

[2022-08-24 13:50] simison commented on #65895
Few reports starting in July here https://github.com/Automattic/themes/issues/6194 and some technical investigation as well.

[2022-08-24 13:52] CodeAllNightNDay commented on #66871
I have a case here with Twenty Fourteen theme as well:
29886764-hc

[2022-08-24 13:55] daria2303 commented on #66865
I am still getting it here 5503523-zd-woothemes and also on one of my test sites but on another one no. Didn't find a rule.

[2022-08-24 13:56] daria2303 commented on #66871
Same in 5503523-zd-woothemes, I reopened https://github.com/Automattic/wp-calypso/issues/66865

[2022-08-24 14:06] daledupreez commented on #66871
@CodeAllNightNDay and @daria2303, it looks like the remaining sites that are affected are all Atomic sites -- the fix hasn't been rolled out to Atomic sites yet: that has been requested in p9o2xV-2mz-p2.

[2022-08-24 14:08] daledupreez commented on #66865
@daria2303, I believe the issue is due to the fix not being rolled out to Atomic sites yet. The update has been requested in p9o2xV-2mz-p2, and should occur at some point today. (I confirmed that the site in your ticket is still running Jetpack version 11.3-a9, which includes the bug.)

[2022-08-24 14:09] Robertght commented on #64438
@annezazu we might've lost this between the different channels. I've shared a list of my findings regarding similar experiences, but I'd say they don't all share the same factors here: pc4f5j-2dU-p2#comment-2805

https://github.com/Automattic/themes/issues/6197
https://github.com/Automattic/themes/issues/5578
https://github.com/Automattic/themes/issues/3453 - > https://github.com/WordPress/gutenbe

[2022-08-24 14:11] #66765 closed, assigned to mashikag

[2022-08-24 14:17] KirkwallDay commented on #66720
- [ ] Another instance here 5482659-zen

[2022-08-24 14:47] Addison-Stavlo commented on #65895
Adding to our board so it stays in sight, but wondering if @Automattic/team-calypso or other folks have any ideas as to why this is being limited to posts only on dotcom.  Some good info on the other issue noted - https://github.com/Automattic/themes/issues/6194#issuecomment-1184590446

[2022-08-24 14:56] valterlorran commented on #65597
We created headstart annotation D86476-code and the POT file D86480-code.

[2022-08-24 15:02] allilevine opened #66923 "Marketplace: Audit the Marketplace for a11y issues"
See: pciE2j-1kF-p2

[2022-08-24 15:04] allilevine opened #66924 "Marketplace: add PluginsBrowser e2e tests"
We're missing tests for a lot of Marketplace (/plugins) functionality.

[2022-08-24 16:06] danielbachhuber opened #66925 "Launch WPCOM SSH: Disable use of `wp core multisite-convert`"
We'd like to disable use of `wp core multisite-convert` on the Atomic platform.

From pdtkmj-n3-p2#comment-632

**Done is:**
* When `wp core multisite-convert` is used, an error is displayed and execution is prevented.

[2022-08-24 16:27] connorhipps commented on #66904
Issues reported here as well: 5493407-zd-woothemes

[2022-08-24 16:44] epeicher commented on #66159
Diff created for the backend changes: D86503-code
Pull Request for the front-end changes: https://github.com/Automattic/wp-calypso/pull/66926

[2022-08-24 16:50] carinapilar commented on #66266
+1!! Adding to this, we would want to make sure it's clear for users that "restoring" a canceled upgrade will result in a new payment - this would prevent users from thinking that the refund can be undone.

[2022-08-24 17:04] JoshuaGoode opened #66930 "Feature Request: Display Site/Blog ID to self-hosted Jetpack and Atomic users"
### What

Display proper Site/Blog ID associated with a purchase to end users -- to assist users and HEs with Jetpack reconnections and IDCs.  Could be especially useful for technical users and agencies.

### Why

Properly resolving Jetpack connection issues and IDCs often requires knowing the site/blog ID.

Displaying the ID somewhere that could be accessible even when a site is disconnected or e

[2022-08-24 17:21] danielbachhuber opened #66931 "GitHub embeds don't appear in email notifications"
Email notification:

<img width="1152" alt="image" src="https://user-images.githubusercontent.com/36432/186482388-1eac99db-faba-45f7-a234-87590dc7725d.png">

Original comment (pdtkmj-n3-p2?c=633#comment-633):

<img width="706" alt="image" src="https://user-images.githubusercontent.com/36432/186482527-583a9d8c-d607-4a8e-a2ba-87433bfbed80.png">

I don't think we'll be able to render the full embed i

[2022-08-24 17:26] #66725 closed, assigned to danielbachhuber

[2022-08-24 17:56] #66757 closed, assigned to edanzer

[2022-08-24 18:29] mreishus commented on #66500
To fix [*Two Linked Functions not always called in succession*] in store admin, I have D86514-code, which is waiting for D86160-code first, to help prevent another p58i-cXE-p2 from happening.

[2022-08-24 18:30] #66874 closed, assigned to sirbrillig

[2022-08-24 18:38] #64935 closed, assigned to sejas

[2022-08-24 18:38] bobmatyas opened #66936 "Simple Sites Don't Allow -webkit-text-fill-color"
### Quick summary

CSS Tidy strips out `-webkit-text-fill-color` on simple sites.

### Steps to reproduce

Add custom CSS to a simple, i.e.:

[code]

### What you expected to happen

Text gradient should display:

<img width="816" alt="Screenshot on 2022-08-24 at 14-33-10" src="https://user-images.githubusercontent.com/45246438/186496381-5ec1064b-f9b2-4557-ad1f-d55c9ee9abed.png">

### What actuall

[2022-08-24 18:39] bobmatyas commented on #61232
Another CSS Tidy issue here: https://github.com/Automattic/wp-calypso/issues/66936

[2022-08-24 19:12] DustyReagan opened #66937 "Unsubmitted plugin search term does not clear during navigation"
Would like to check if this would be considered an issue or an intended behavior:

1. Enter the search term but don't actually search
2. Navigate to a category
3. search term is preserved

Screencast:

https://user-images.githubusercontent.com/6586048/186385899-9537b3ab-e74a-4384-bc2c-604bc865f12c.mp4

_Originally posted by @candy02058912 in https://github.com/Automattic/wp-calypso/issues/66883#is

[2022-08-24 19:20] valterlorran commented on #66737
I noticed that the `stylesheet` option for the [Thriving Artist](https://thrivingartistdemo.wpcomstaging.com/) is defined as `thriving-artist`, but it should be `premium/thriving-artist`. This will cause problems when running the command to generate the headstart annotation because it uses this option to locate the theme's directory.

[2022-08-24 19:51] DustyReagan opened #66938 "Plugin Search behavior seems unintuitive when under a category"
The behavior of the Plugin Search box when underneath a category seems unintuitive.

When you search for a term while under a category:

* The URL changes to:
https://wordpress.com/plugins/browse/{category}/example.wordpress.com?s={search-term}
* The breadcrumbs includes the category
* Clicking "X" in Search takes you back to the category
* Clicking on "Clear" takes you back to the main plugins pa

[2022-08-24 20:15] lupus2k commented on #66495
I'm gonna close this issue because we fix almost all errors on refactors, and in #66883

[2022-08-24 20:15] #66495 closed, assigned to nobody

[2022-08-24 20:20] danielbachhuber commented on #66898
@p-jackson This bug kinda sucks.

`useSitesDisplayMode` can return `'none'` when the remote preferences aren't loaded yet:

https://github.com/Automattic/wp-calypso/blob/294575e86ca18c4449412bd203b099ba46721641/client/sites-dashboard/components/sites-display-mode-switcher.tsx#L20-L31

#66942 "fixes" the issue by ensuring the hidden sites message and button doesn't appear when `displayMode='none'`.

[2022-08-24 20:25] DavidRothstein commented on #66682
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/66025.

[2022-08-24 20:25] #66682 closed, assigned to nobody

[2022-08-24 20:25] DavidRothstein commented on #66025
Also being discussed here: 1095-gh-Automattic/payments-shilling

[2022-08-24 21:28] #66795 closed, assigned to DustyReagan

[2022-08-24 21:39] gutenberg-plugin-upgrade-bot[bot] opened #66944 "Gutenberg: v14.0.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/66513
Release notes: [v14.0.2](https://github.com/WordPress/gutenberg/releases/tag/v14.0.2)

**Install and activate**

- [x] Install and activate v14.0.0-rc.1 on edge (D86528-code)
- [x] Install and activate v14.0.0-rc.2 on edge (D86635-code)
- [x] Install and activate v14.0.0 on edge (D86950-code)
- [x] Activate v14.0.0 on producti

[2022-08-24 21:42] jordesign commented on #64438
@annezazu - it's been tricky to find interactions around this - as the wording/description of the issue when dealing with users is pretty varied and generic (around gaps between blocks) but anecdotally I know I've run into it...

A specific case (from empathy testing) is in the home page of Pe8rBq-2-p2 where there is no way to close the gap between Cover blocks within the Query/Loop of the layout.

[2022-08-24 21:46] #66513 closed, assigned to nobody

[2022-08-24 21:52] noahtallen commented on #65895
I did a little digging, and here's part of the problem:

https://github.com/WordPress/gutenberg/blob/ebb5d8231195ff8dd48f7502faa71d0b5c76cc27/packages/editor/src/components/theme-support-check/index.js#L24-L32

Skatepark seems to have `post-thumbnails: [ 'post' ]` in the theme support object at this point in the execution, which means that it only shows the featured image panel for posts, and not

[2022-08-24 21:54] noahtallen commented on #65895
It looks like this was mentioned in the other thread as well: https://github.com/Automattic/themes/issues/6194#issuecomment-1184590446

[2022-08-24 21:55] #56664 closed, assigned to worldomonation

[2022-08-24 21:59] noahtallen commented on #65895
It's a deeper problem as well:

[code]

[2022-08-24 22:01] phcp opened #66945 "[Comment Approval] Add strings to the template-string-translation file"
We will need to add strings for translation on `template-string-translation.php` file.  The goal is to have all necessary strings in this file translated while we work on the Comment Approval email template.

This will allow us to deploy the new email template as soon as it is ready - without having to wait for translations to be finished.

It should follow the same approach as the related task fo

[2022-08-24 22:03] phcp opened #66946 "[Comment Approval] Add commenter's heading"
We should add a heading on Comment Approval template following the layout below:

![Image](https://user-images.githubusercontent.com/3113712/186533135-ad080480-24ff-45fc-add0-0669c78ab17a.png)

But there are a few differences in order to match with the previous layout:
- the "commented" string should not be a link
- the username should link to the `comment_author_url`
  - if `comment_author_url` i

[2022-08-24 22:08] ccwalburn commented on #66904
Issue reported here: 34098134-hc

Created follow-up ticket in case we bulk notify:

- [ ] 5504898-zen

[2022-08-24 22:12] JulianBustamante opened #66947 "Marketplace: Use get_var() instead of get_col() to get a single result in Marketplace_Webhooks_Handler"
Marketplace: Use get_var() instead of get_col() to get a single result in Marketplace_Webhooks_Handler and add unit tests.

[2022-08-24 22:19] JulianBustamante commented on #66947
Diff created D86269-code

[2022-08-24 22:51] noahtallen commented on #65895
This support option is supposed to be added by default for all block themes:

https://github.com/WordPress/WordPress/blob/105a3d97825a38d0e80c7b2c9a1aa2379ceb944f/wp-includes/theme.php#L4214-L4231

[2022-08-24 22:57] noahtallen commented on #65895
At the end of the `setup_theme` action, skatepark should support the feature. so something after that must be turning it off.

[2022-08-24 23:05] p-jackson commented on #66898
Ugh 😭
Good debugging @vykes-mac and @danielbachhuber

I think the simple fix of hiding the hidden sites message is acceptable for i1. The user preferences will usually already be loaded, and they will load a lot faster than the site list anyway.

After i1 ... I've been thinking about adding another loading indicator somewhere in the UI. Like tucked away in a corner or something. It might be good t

[2022-08-24 23:33] #66898 closed, assigned to danielbachhuber

[2022-08-24 23:55] noahtallen commented on #65895
_edit: I ended up compiling all my individual comments into one big one_

I did a little digging and found the problem.

https://github.com/WordPress/gutenberg/blob/ebb5d8231195ff8dd48f7502faa71d0b5c76cc27/packages/editor/src/components/theme-support-check/index.js#L24-L32

Skatepark seems to have post-thumbnails: [ 'post' ] in the theme support object at this point in the execution, which means t

[2022-08-25 00:29] lsl commented on #66938
Agree with all this.

Building on top of your suggestion in slack to update the full path in `pageToSearch` p1661381701763909/1661372850.310569-slack-CKZHG0QCR

Could we move search to its own route entirely? `/plugins/search?s=...` ? That might help focus us in on changing the right things in the right places.

[2022-08-25 01:05] zachspears commented on #66683
Able to reproduce, moving forward.

[2022-08-25 01:18] zachspears commented on #66720
Able to reproduce. Upgraded priority due to impact and possible issues with email updates.

[2022-08-25 01:25] zachspears commented on #66784
Adding more functionality to Jetpack Subscriptions could potentially be really valuable and help bring users to our services. Marking low priority due to low impact.

[2022-08-25 02:21] jordesign opened #66953 "Marketplace Detail Page: Sidebar heading out of alignment"
### Quick summary

In the current (live) version of the Plugin Detail page - the heading in the sidebar is horizontally aligned with the main plugin title.

<img width="1226" alt="Screen Shot 2022-08-25 at 12 13 10 pm" src="https://user-images.githubusercontent.com/1842363/186558620-25a45f71-c08f-4569-9629-f3d2e3d0fad8.png">

When testing the new updated page - the background on the sidebar means

[2022-08-25 02:34] alaczek commented on #66628
Alright. Does it make sense for me to use the Header / Footer categories for now? I think it looks better than having them as Uncategorized...

[2022-08-25 03:41] p-jackson commented on #66191
I think short and sweet is good. The important message that "this basic feature should help and there's more coming" comes across strongly IMO.

We might need to work in some instructions for how to navigate to the Sites page. The first paragraph of the first section seems like a natural place, but it also seems like a pretty detail heavy way to start of the section.

[2022-08-25 05:16] devNigel commented on #63694
Another case: 5505472-zd-woothemes

The user found it out almost 1 month later and might have lost data on the submissions made in that period.

[2022-08-25 05:30] Robertght commented on #66739
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT  - no
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I cannot replicate this issue, unfortunately with or without Twentytwenty:
 ![q2y01K.png](https://user-images.githubusercontent.com/6737345/186582354-f7e33c9f-b313-460f-9bfa-bdee8294865d.png)

📌 ACTI

[2022-08-25 05:36] inaikem commented on #66739
That's pretty much all I have but I'll ping them for more details on their email client to see if that helps 🙏

[2022-08-25 05:37] Greatdane commented on #66672
Note, you can add up to 10 usernames at a time via `https://wordpress.com/people/new/`.

But yea, no CSV option right now.

[2022-08-25 05:38] Greatdane commented on #56013
Not sure if this is more of a feature request?

[2022-08-25 05:42] Greatdane commented on #66873
Possibly related core issue;
- https://github.com/WordPress/gutenberg/issues/29398

[2022-08-25 05:44] Robertght commented on #66762
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm able to replicate the described behavior, but I do not see any proof that this was changed and I do not see any changes made on the theme in the past few months.
- https://web.archive.org/ doesn't wo

[2022-08-25 05:44] inaikem commented on #66739
I've reopened the interaction above asking for further details

[2022-08-25 05:49] Greatdane commented on #66891
Confirming that this seems to be calypso option, as cannot see it on self-hosted WordPress.

[2022-08-25 05:52] candy02058912 commented on #66937
Hi @vinimotaa, would love your input on this:
Would we want to preserve users' unfinished actions?
Also linking to input from this comment: https://github.com/Automattic/wp-calypso/pull/66883#issuecomment-1226635501

[2022-08-25 06:01] Greatdane commented on #66730
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed, wordage needs changing.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-08-25 06:24] Greatdane commented on #66781
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed on all versions of WordPress. Added to Gutenberg;
- https://github.com/WordPress/gutenberg/issues/43595

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Added to 'HE Cross-repo Watchlist' project board

[2022-08-25 06:49] Greatdane commented on #66806
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- Was unable to replicate
- Seems like the initial user was able to fix it by not pasting by typing the title. I wonder if there was some HTML/invalid character in the initial title?

📌 ACTIONS
- Closed as could not replicate

[2022-08-25 06:49] #66806 closed, assigned to nobody

[2022-08-25 07:01] arthur791004 commented on #66905
I thought we have to revert that change to fix the production issue

[2022-08-25 07:06] bangank36 commented on #66905
I agree to revert this PR, the page jump issue is a minor bug though...

[2022-08-25 07:08] arthur791004 commented on #66905
Here is a reverting PR: https://github.com/Automattic/wp-calypso/pull/66957

[2022-08-25 07:23] i11za commented on #66871
@daledupreez yes please, I was planning to check whether to closer or to merge with https://github.com/Automattic/wp-calypso/issues/66865, but the day got away from me. Thank you!

[2022-08-25 07:23] ivan-ottinger commented on #66855
D86362-code is now merged and deployed.

[2022-08-25 07:23] #66855 closed, assigned to ivan-ottinger

[2022-08-25 07:25] arthur791004 commented on #66440
Re-open as the fix has been reverted

[2022-08-25 07:36] bogiii opened #66959 "[Bug]: Importer shows Not Found page, regression related to #66729"
### Quick summary

https://user-images.githubusercontent.com/1241413/186603376-a8467e94-307f-4eb1-9d79-9abef3bd069f.mov

### Steps to reproduce

1. Go to `/setup/goals?siteSlug={SLUG}`
2. Choose `Import my existing website content`
3. Select `Don't have site address?` link
4. Choose WordPress option
5. Press `Import your content` button
6. Screen NOT FOUND has been rendered

### What you expected

[2022-08-25 07:45] miksansegundo commented on #66905
If we want to use the same kind of workaround that we had before for fixing the jump we could just add a `min-height` to the class `.unified-design-picker__standard-designs`.

[2022-08-25 07:46] dsas commented on #66628
Yeah I think using Header / Footer categories is best for now

[2022-08-25 08:25] #66959 closed, assigned to bogiii

[2022-08-25 08:26] ahmadbaig1 commented on #66904
Also reported here: zen-5492149

[2022-08-25 08:48] gavande1 commented on #63903
Deployed r251257-wpcom

[2022-08-25 08:52] eoigal commented on #66625
Merged into https://github.com/Automattic/wp-calypso/pull/66650

[2022-08-25 08:52] #66625 closed, assigned to eoigal

[2022-08-25 09:08] taipeicoder commented on #66905
Closed due to #66957 being merged.

[2022-08-25 09:08] #66905 closed, assigned to nobody

[2022-08-25 09:10] ivan-ottinger opened #66963 "[Comment Approval] Add RTL support"
We need to make sure the new _Comment Approval_ email template has full RTL support.

[2022-08-25 09:13] ivan-ottinger opened #66965 "[Comment Approval] Display post excerpt blockquote in case of root comments"
When the comment that needs approval is a "root" comment (i.e. comment that was left right as a response to the post - as opposite to a reply to another existing comment), the blockquote section should include the post excerpt without "In response to" text:

![Image](https://user-images.githubusercontent.com/25105483/186626142-22422bdf-5dea-4ac2-9151-1b2941562bbd.png)

The logic and styling is bas

[2022-08-25 09:33] sejas commented on #66669
I've removed it from the i1 milestone.

[2022-08-25 09:43] simison opened #66967 "Tailored flows: remove Business plan upsell post-checkout"
### What

Remove the Business plan upsell for Newsletter & Link in Bio flows.

The upsell appears after checkout when purchasing a plan. (Test with credits)

Careful not to remove this for any other flow!

![image](https://user-images.githubusercontent.com/87168/186631875-59b2d933-c670-4094-a4fb-03dc7934e4e4.png)

### Why

For our target audience and type of product, we wan't to first experiment w

[2022-08-25 09:44] ivan-ottinger opened #66968 "[Comment Approval] Display comment blockquote in case of replies"
When the comment that needs approval is a "reply-to" comment (i.e. comment that was left as a reply to another existing comment - as opposite to a response directly to the post), the blockquote section should include the comment the user replied to with the "In response to" text:

![Image](https://user-images.githubusercontent.com/25105483/186634026-6873a042-9c92-4491-bc55-38e4c2463ab5.png)

The l

[2022-08-25 09:46] kmrpankaj commented on #66904
Issue reported here 5505011-zen

[2022-08-25 09:48] simison opened #66969 "[Bug]: tailored flows, handle special characters for prefilled domain search"
### Quick summary

When doing domain search in tailored flows (newsletter, link in bio) and using special characters, the domain search errors.

### Steps to reproduce

1. start newsletter or link in bio flow
2. enter name with special characters (e.g. , . /)
3. note error at domain step

### What you expected to happen

No error.

### What actually happened

![image](https://user-images.githubuse

[2022-08-25 09:57] ivan-ottinger opened #66970 "[Comment Approval] Display comment text"
The template should include the actual comment that needs approval:

![Image](https://user-images.githubusercontent.com/25105483/186635914-3a51f1f9-4393-42b0-a43d-87df9de3dfa6.png)

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24079

[2022-08-25 10:05] #66702 closed, assigned to heavyweight

[2022-08-25 10:18] ivan-ottinger opened #66971 "[Comment Approval] Add CTAs (approve, trash and mark as spam)"
The CTAs should include icons and be styled in the same way as the buttons in the _New Comment_ email template:

![Image](https://user-images.githubusercontent.com/25105483/186639882-638552bb-1899-4519-b4d3-eb85edc2e108.png)

The target links should be the same as in the current template.

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24079

[2022-08-25 10:22] mashikag opened #66972 "Newsletter Accent Color: Set default accent color to the primary color value of Lettre theme"
Default primary color of Lettre theme is `blue-50`

Requested here: p1661347447568229-slack-C02TCEHP3HA

[2022-08-25 10:56] iamtakashi commented on #65597
@valterlorran I'm so sorry, but I need to make a last-minute change to the theme and the demo. I'll let you know here when I'm done with the change. Does that sound ok?

[2022-08-25 11:01] ivan-ottinger opened #66975 "[Comment Approval] Display commenter's Great Posts section"
The new email template should include _Great Posts_ section:

![Image](https://user-images.githubusercontent.com/25105483/186648233-cc11e35b-9fed-4144-a89a-9058299a06af.png)

The logic and styling should be the same as in the _New Comment_ email template.

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24079

[2022-08-25 11:02] iamtakashi commented on #65597
The change is minor, and I expect to finish it by the end of today. Sorry again!

[2022-08-25 11:07] ivan-ottinger opened #66976 "[Comment Approval] Display commenter's information (URL, Email, Whois)"
The new email template should include information about the commenter:

![Image](https://user-images.githubusercontent.com/25105483/186648986-88b79131-7e78-441b-8e41-df283d010fb1.png)

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24079
Similar task for the _New Comment_ email template: https://github.com/Automattic/wp-calypso/issues/65748

[2022-08-25 11:12] ivan-ottinger opened #66977 "[Comment Approval] Display Powered by WP footer"
The new template should include the same footer as other new templates:

![Image](https://user-images.githubusercontent.com/25105483/186650153-e45eea0d-ec18-4e82-b303-d9edbaceb6ef.png)

(the same styling and logic)

[2022-08-25 11:17] ivan-ottinger opened #66978 "[Comment Approval] Add link descriptors to the new template"
All links in the new template should have link descriptors set up in a similar way as with other new email templates.

Example patch: D84449-code.

[2022-08-25 11:20] ivan-ottinger opened #66979 "[Comment Approval] Add link descriptors to the old template"
The same link descriptors added to the new template (https://github.com/Automattic/wp-calypso/issues/66978) should be added to the old template as well.

[2022-08-25 11:30] simison opened #66980 "[Bug]: tailored flows: can't upload big image"
### Quick summary

Can't upload big images as logo/avatar for link-in-bio and newsletter.

### Steps to reproduce

1. Start newsletter flow https://horizon.wordpress.com/setup/?flow=newsletter
2. Upload big image file as a logo
3.
    ![Screenshot 2022-08-25 at 14 27 59](https://user-images.githubusercontent.com/87168/186652816-824c3cfd-eb3c-4dc6-b2bb-ebdd0a564fea.png)

4. Note error at console wh

[2022-08-25 11:36] heavyweight commented on #66980
We were assuming that this can be an issue. I tried to provoke this by uploading 10mb image and it didn't happen for me.
@simison how big was the image you uploaded?

[2022-08-25 11:39] ivan-ottinger commented on #66442
Related issue: https://github.com/Automattic/wp-calypso/issues/66915.

[2022-08-25 11:55] ivan-ottinger commented on #66915
D86398-code is ready for review.

[2022-08-25 11:58] valterlorran commented on #66815
Click on the back button on the `designSetup` step is getting me redirected to `storeFeatures`. The progress bar is reset when you arrive at the `designSetup` step.

[2022-08-25 12:21] #63903 closed, assigned to gcsecsey

[2022-08-25 12:35] oskosk commented on #66865
@daria2303 the fix was rolled out to Atomic sites yesterday. Closing this again. Thank you

[2022-08-25 12:35] #66865 closed, assigned to daledupreez

[2022-08-25 12:35] ClassicRKR27 opened #66984 "Exford Secondary Color option changes navigation colors in Page Editor"
### Quick summary

A customer reported that it was difficult to see some of the menu options in the page editor; after some testing, I found that this seems to be an issue with only `AT sites` using the `Exford` theme (I tried some of the other `Varia` themes but couldn't replicate the issue on those).

### Steps to reproduce

1. Set the theme of an AT site to Exford
2. Change the secondary color

[2022-08-25 12:36] ivan-ottinger commented on #66812
This will be handled by the patch author.

[2022-08-25 12:36] #66812 closed, assigned to nobody

[2022-08-25 12:39] ivan-ottinger commented on #65884
Just a quick observation: It looks like the issue is not present in the New Comment email notification sent to the **post author**. Therefore, the check of the "reply-to" email validity isn't necessary there: D86564-code.

issue is still present in New Comment email notifications sent to **followers**.

[2022-08-25 12:54] kerrynicl commented on #66762
Here's how the site looked before:
<img width="1668" alt="Markup 2022-08-25 at 07 52 30" src="https://user-images.githubusercontent.com/83325600/186669866-5a1e9a1f-06a5-4e31-bb65-7ffad715e481.png">
vs now
<img width="1874" alt="Markup 2022-08-25 at 07 53 34" src="https://user-images.githubusercontent.com/83325600/186670091-d1d03b11-1478-4f3e-980c-2c59457720b4.png">

[2022-08-25 12:59] markbiek commented on #66815
@valterlorran Would you mind opening a new issue for that?

[2022-08-25 13:02] markbiek opened #66986 "Theme/Plugin Bundling: Design step back button and progress bar issues"
#### Steps to reproduce

There are two bugs when accessing the site-setup flow with `themes/plugin-bundling` enabled:

- Clicking the Back button from `designSetup` takes you `storeFeatures` instead of `options`.
- The progress bar gets reset when you land on the `designSetup` step.

(Reported in #66815 by @valterlorran )

[2022-08-25 13:06] ivan-ottinger commented on #66754
D86564-code patch is now ready for review.

[2022-08-25 13:14] dsas commented on #66866
The locales giving a 400 response is because they're searching for an unknown locale. It returns false from `es_api_search_index` and has an error like this logged:

[code]

[2022-08-25 13:18] agrullon95 commented on #66575
Iframe shadow, checklist item hover state (changes to blue on hover) have been updated in #66892

[2022-08-25 13:18] csabarakasz opened #66987 "Feature Request: Improve "export is finished" notification visibility"
### What

I had a chat today, where the user thought the Export tool is not working because they didn't see the notification about the successfully finished export.

When I tested it, first I thought there was an export error, because it was a little hard for me to notice the notification.

I wonder if we could either jump to the top of the page and maybe "shake" the notification when it is done,

[2022-08-25 13:37] csabarakasz opened #66990 "[Bug]: Plugin search page's width breaks in Calypso"
### Quick summary

With certain search terms, Calypso's plugin directory page will break.

A few search terms where this happens are `pop-up`, `elementor`

![U56I6bqPZj8OMMxLWImZotyVerxkXJAJWovUlvEa.jpg](https://user-images.githubusercontent.com/84539773/186675955-02990c7c-f66d-41f5-9aa1-86f386f767bf.jpg)

![yHp5ToyTGFtKMvvPg4hsLaXhZY2BeIIw3pwc9r6p.jpg](https://user-images.githubusercontent.com/84

[2022-08-25 13:43] mzitinfo commented on #53102
Another report in 5505589-zen. Switching the privacy settings around solved the issue.

[2022-08-25 13:45] #66191 closed, assigned to danielbachhuber

[2022-08-25 13:48] ivan-ottinger commented on #66755
I couldn't reproduce the issue with the _New Post_ email template.

[2022-08-25 13:48] #66755 closed, assigned to ivan-ottinger

[2022-08-25 13:54] BogdanUngureanu commented on #64891
Hey! We currently have an endpoint called `https://public-api.wordpress.com/wpcom/v2/marketplace/products/{productSlug}?_envelope=1` that returns the hardcoded data.

Do we need a new endpoint for this since we already have this endpoint? The way I see it, we should update that endpoint to return the dynamic data. I don't think we need the ES integration, we could just use the shadow site to retur

[2022-08-25 13:57] connorhipps commented on #66904
This appears to be the same issue, though the error message isn't displayed: 5497974-zd-woothemes

**Note:** The user is attempting to post to a .org site where they are listed as "Anonymous." Please see the ticket for the site URL.

[2022-08-25 14:14] mashikag opened #66995 "Newsletter Accent Color: Input text color should be black"
![Image](https://user-images.githubusercontent.com/2019970/186695869-50f044d4-bfaf-46f0-a505-a37da9cf9e1c.png)

[2022-08-25 14:23] sejas commented on #64741
I couldn't replicate this issue on my iPhone (iOS 15,0,2) nor using an android simulator browserstack (Android v12).

[2022-08-25 14:31] #66986 closed, assigned to markbiek

[2022-08-25 14:40] vajrasar commented on #66904
Another here

- [ ] 5504839-zen

[2022-08-25 14:45] kerrynicl commented on #66904
Another reported here 5504839-zen

[2022-08-25 14:52] #65556 closed, assigned to markbiek

[2022-08-25 15:12] danielbachhuber commented on #49898
@JoshuaGoode Could you test this again against the new Sites Management Dashboard experience, and let us know what you see?

Reproduction steps would be great too, thanks!

[2022-08-25 15:16] Nic-Sevic commented on #66604
Once posted (28th?) it will have this permalink: https://en.support.wordpress.com/connect-to-ssh-on-wordpress-com/
if wanted, you can view the draft that will be published here: https://en.support.wordpress.com/?page_id=213309

[2022-08-25 15:19] danielbachhuber commented on #66604
@Nic-Sevic Thanks!

[2022-08-25 15:24] Gustavo-Hilario opened #66997 "Donations Block: Predefined amounts ($5, $15, and $100) are only charging customers with $1"
### Quick summary

When users' customers select any of the predefined amounts on the Donation block to make a donation, they are only getting charged $1.

![Markup on 2022-08-25 at 12:18:59](https://user-images.githubusercontent.com/50875131/186706171-06762ff3-7fa2-4697-af00-f42a2c17af99.png)

### Steps to reproduce

1. Add the Donation block to a page.
2. Publish the page and proceed with a donat

[2022-08-25 15:28] dsas commented on #66866
I opened D86578-code for fixing the 400 errors that querying while using an unindexed language gives

[2022-08-25 15:44] JulianBustamante commented on #66947
Deployed r251290-wpcom

[2022-08-25 15:52] iamtakashi commented on #65597
@valterlorran, OK, I'm done with the demo, please regenerate the annotation for headstart and the POT file. Any problem, let me know. Thank you!

[2022-08-25 16:17] #66159 closed, assigned to epeicher

[2022-08-25 16:26] mmtr commented on #66997
This was a regression caused by D86063-code (intended to fix https://github.com/Automattic/jetpack/issues/25030) so I reverted that and users should be charged the right amount again.

[2022-08-25 16:52] JoshuaGoode opened #67002 "Media Export Feature Request: Provide users with VideoPress export option"
### What

Offer Simple, WPCOM Atomic, and self-hosted Jetpack users the ability to export VideoPress videos via Calypso.

pxWta-1xi-p2#comment-5893

### Why

The VideoPress team recently released a new export tool. pxWta-1xi-p2 -- this addresses a gap we've noticed numerous times in support.

Currently, it requires contacting support and an HE using an internal tool.

Let's expose this to users.

[2022-08-25 16:54] JoshuaGoode commented on #58466
VideoPress export are now possible but only via an internal tool.

Will need work to expose this in Calypso

- [ ] https://github.com/Automattic/wp-calypso/issues/67002

[2022-08-25 17:08] JoshuaGoode opened #67003 "WPCOM Atomic Jetpack Connections: Provide users an autofixer button when sites are not connected, or autofix for them"
### What

Related to the following

* Main: p9F6qB-ad1-p2

* Painpoints: p58i-a2c-p2
* Simplifying HE Jetpack Reconnections / Exploring Internal Tooling Options - p9F6qB-7G3-p2
* Notes on current state of connections - p7DVsv-f8r-p2#comment-41805
* 5 Atomic issues affecting user experience - p58i-d0T-p2#comment-55150
* Jetpackless site management - pdtR3Z-z6-p2
* https://github.com/Automattic/wp-c

[2022-08-25 17:12] JoshuaGoode commented on #67003
cc @jmdodd @hideandgeek404 as this is inline with some of what ya'll have recently discussed as well.

@Automattic/reactor

[2022-08-25 17:35] worldomonation opened #67005 "Flaky E2E: Close account"
### Spec file

signup__wpcc.ts

### TeamCity ID

_No response_

### Logs

[code]

[2022-08-25 17:37] valterlorran commented on #65597
@iamtakashi done! :)

[2022-08-25 17:40] JoshuaGoode commented on #58375
This is being worked on

* pdtR3Z-DG-p2
* peaFOp-1L-p2
* pbuNQi-3ee-p2
* 3387-gh-Automattic/jetpack-backups

[2022-08-25 18:03] #66925 closed, assigned to danielbachhuber

[2022-08-25 18:25] markbiek opened #67009 "IGNORE: Highlighter test"
D84286-code

fbhepr%2Skers%2Spnylcfb%2Scnpxntrf%2Sqngn%2Qfgberf%2Sfep%2Sfvgr%2Snpgvbaf.gf%3Se%3Q3sn00s65-opengrok

[2022-08-25 18:26] #67009 closed, assigned to markbiek

[2022-08-25 18:28] Camaropilot commented on #66904
Another report here:
5506996-zen
Simple site.

[2022-08-25 18:39] masperber commented on #66904
Another report

- [ ] 5507397-zen

[2022-08-25 18:46] sirbrillig commented on #65082
I believe this has been fixed by https://github.com/Automattic/wp-calypso/pull/65618 I'll close it for now but please re-open if this bug resurfaces.

[2022-08-25 18:46] #65082 closed, assigned to nobody

[2022-08-25 18:47] worldomonation opened #67010 "E2E: investigate ways to bypass/skip specs that rely on certain features"
### Details

Context: p1660845585268619-slack-C7YPUHBB2

Mailosaur had an outage on the week of 2022/08/15 and it led to many specs failing to due to its reliance on receiving email.

If the outage had gone for longer, it would have been highly disruptive to development. Explore potential ways to add a bypass mechanism so that specs relying on features can be disabled as needed.

### Checklist

-

[2022-08-25 18:55] jamiepalatnik commented on #66653
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate
- Tested on AT - Uncertain
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could not replicate this issue on Simple or Self-hosted (block is from Jetpack). All posts display the same size.
- Screenshot:

<img width="1047" alt="Latest Instagram Posts" src="https://user-images.gith

[2022-08-25 18:56] sirbrillig commented on #62118
I noticed that the chosen language also does not persist into any other part of calypso. For example, when you reach your Customer Home page, it is also in English.

[2022-08-25 19:05] sirbrillig commented on #62118
Two thoughts:

1. This may be gutenboarding-only and I'm not sure how often we use that flow.
2. This may actually work correctly if a new account is being created rather than a new site. This makes some sense since interface language is per-account rather than per-site, but it feels broken anyway.

[2022-08-25 19:07] Zackaryjacob opened #67011 "Gutenberg: [v#.#.#] plugin upgrade"
Previous upgrade:
Release notes:

**Install and activate**

- [ ] Install and activate [v#.#.#]-rc.1 on edge (######-code)
- [ ] Install and activate [v#.#.#] on edge (######-code)
- [ ] Activate [v#.#.#] on production (######-code)
- [ ] Request [v#.#.#] AT upgrade (######-p2)

**Testing**

- [ ] [v#.#.#] Desktop viewport E2E
- [ ] [v#.#.#] Mobile viewport E2E
- [ ] [v#.#.#] WPCOM core (######-co

[2022-08-25 19:10] sirbrillig commented on #54341
I think that this is covered by https://github.com/Automattic/wp-calypso/issues/65968 (and may in fact no longer be an issue after https://github.com/Automattic/wp-calypso/pull/65998)

[2022-08-25 19:10] #54341 closed, assigned to nobody

[2022-08-25 19:11] JoshuaGoode commented on #49898
Same behavior

![Screen Shot on 2022-08-25 at 15:10:08](https://user-images.githubusercontent.com/4887830/186748849-cdd391d4-c13b-4a93-98cc-a36a988b282a.png)

Create a WPCOM Atomic site, disconnect Jetpack.  Either by breaking the user, clearing Jetpack options, or simply running `wp jetpack disconnect blog`

[2022-08-25 19:13] sirbrillig commented on #50910
It's not quite what's suggested here, but https://github.com/Automattic/wp-calypso/pull/66029 might be useful when/if we get around to resolving this.

[2022-08-25 19:18] sirbrillig commented on #43328
The "edit" state was removed in https://github.com/Automattic/wp-calypso/pull/65374 and the variant picker is now always visible, so I'm going to close this as solved.

[2022-08-25 19:18] #43328 closed

[2022-08-25 19:31] jamiepalatnik commented on #56151
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Was able to replicate this in all tests.
- Noting that the menu item for Appearance > Widgets in the WordPress.com dashboard opens WP Admin widgets. It no longer redirects to the Customizer.

📌 ACTIONS
- Added to 'HE Cross-

[2022-08-25 19:46] sirbrillig opened #67012 "Cart action rejections are not all handled"
In https://github.com/Automattic/wp-calypso/pull/58834 we began rejecting the Promise returned by code using the @automattic/shopping-cart package if the /me/shopping-cart endpoint returns its payload with messages in the errors array.

Messages returned in the errors array are displayed by the `CartMessages` component regardless of what action caused the endpoint to return the errors. This is in

[2022-08-25 19:50] sirbrillig commented on #67012
One example of resolving this: https://github.com/Automattic/wp-calypso/pull/66540

[2022-08-25 19:56] JessBoctor commented on #66652
This seemed like a simple fix, so I went ahead and took care of it. :)

[2022-08-25 20:17] jamiepalatnik commented on #56279
📌 SCRUBBING : RESULT
- Tested on Simple - Uncertain
- Tested on AT - Uncertain
- Tested on Self-hosted - Uncertain
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I tested this on simple, AT, and self-hosted with the following links:

https://wpcourses.com/2021/11/16/finally-figuring-out-podcasting/ (AT site)
https://wordpress.com/blog/2022/08/18/heres-a-look-at-our-favorite-new-patterns

[2022-08-25 20:25] JoshuaGoode commented on #49898
* https://github.com/Automattic/wp-calypso/issues/67003

[2022-08-25 21:09] sirbrillig commented on #51952
Also relevant: Google Chrome notices when you visit a URL like `/cart` and shows it in its default page:
<img width="603" alt="Screen Shot 2022-08-25 at 5 07 47 PM" src="https://user-images.githubusercontent.com/2036909/186769349-cfd0fadd-582d-4e6f-a647-26a1eba42bd1.png">

[2022-08-25 21:44] zachspears commented on #66871
This ticket has just come up in Triaging. Looks to be a duplicate of #66865, which has been closed. I just tested this and confirmed. Marking resolved.

[2022-08-25 21:44] #66871 closed, assigned to nobody

[2022-08-25 21:57] zachspears commented on #66868
This appears to have been updated since this issue was created. Thank you for reporting. Marking closed.
![Screenshot](https://user-images.githubusercontent.com/10124024/186776228-cc66d75d-2f8f-4e08-8800-3fbb5d6f9935.jpg)

[2022-08-25 21:57] #66868 closed, assigned to nobody

[2022-08-25 21:59] obenland commented on #65898
Step 1: D86606-code

[2022-08-25 22:31] zachspears commented on #66783
I was able to successfully reproduce this issue. Added low priority due to low impact.

**Note to add to testing**: Ensure you have set up a menu with the theme that includes the same pages you used as panels.

[2022-08-25 22:57] cuemarie commented on #66782
Played into this user's ticket and they haven't shared any further images we can test; though they did mention that **not all images change to broken links, only some**.

Also, I do see in this WordPress.org support article for the SmugMug embed block (here: https://wordpress.org/support/article/smugmug-embed/ the following advice):

This article was last updated in 2020, so I'm not sure if this i

[2022-08-25 23:31] sirbrillig commented on #67012
https://github.com/Automattic/wp-calypso/pull/67020 starts this process for one of the actions.

[2022-08-25 23:38] SaxonF commented on #66741
Yes, best if we keep them consistent if possible.

I believe this was already implemented as part of https://github.com/Automattic/wp-calypso/pull/65259 so might just be able to pull it over.

[2022-08-25 23:56] supernovia commented on #66659
We have a case here. I fixed it. https://wordpress.com/forums/topic/categories-doesnt-work/

[2022-08-26 00:43] #50608 closed, assigned to roo2

[2022-08-26 00:44] roo2 commented on #42510
closing this as the flow was removed in https://github.com/Automattic/wp-calypso/issues/54409

[2022-08-26 00:44] #42510 closed

[2022-08-26 00:52] roo2 commented on #51436
since the /new flow is being deactivated and I believe is currently only available for podcast users from (the podcast company we partnered with). I've tested this with purchasing from via the /plans page and from the /start flow and can't reproduce it either way. Let's close this.

[2022-08-26 00:52] #51436 closed, assigned to nobody

[2022-08-26 00:52] #60523 closed, assigned to miksansegundo, bangank36

[2022-08-26 00:53] #54705 closed, assigned to nobody

[2022-08-26 00:53] #54709 closed, assigned to roo2

[2022-08-26 00:53] #54710 closed, assigned to nobody

[2022-08-26 00:54] #53853 closed, assigned to nobody

[2022-08-26 02:32] #67063 closed, assigned to fushar

[2022-08-26 02:34] fushar commented on #66790
Landed via D86264-code.

[2022-08-26 02:34] #66790 closed, assigned to fushar

[2022-08-26 02:57] retnonindya commented on #66904
Not a user interaction, but personal experience: This explains why I can't comment on @robfelty's blog post [here](https://www.fedibblety.com/2022/08/a-warm-house/) I thought it was an error on my end so I didn't think much about it.

[2022-08-26 04:13] DhirajGilda commented on #65961
is this isuue still open i would like to work @andfinally

[2022-08-26 04:58] Robertght commented on #66300
Looks like it's gonna be fixed in the 14.0 release: https://github.com/WordPress/gutenberg/pull/43134

[2022-08-26 06:01] robfelty commented on #66904
And here I thought you were just ignoring me :)

[2022-08-26 06:05] Robertght commented on #66904
Adding this to the [Dotcom Bug Prioritization Board](https://github.com/orgs/Automattic/projects/343#card-85263255) and marking it as a High priority. cc @vajrasar

Checking with @ahmadbaig1 for now if this was added through Bugomattic as I don't see the automation.

[2022-08-26 06:08] arthur791004 commented on #66840
Close it via D86538-code

Here is the screenshot after applying that patch:
![image](https://user-images.githubusercontent.com/13596067/186833745-2d82abcd-aaa3-4bc6-9c7b-50b6e3e408f3.png)

[2022-08-26 06:08] #66840 closed, assigned to arthur791004

[2022-08-26 06:12] taipeicoder commented on #66440
Closing as #66962 as been merged.

[2022-08-26 06:12] #66440 closed, assigned to miksansegundo

[2022-08-26 06:24] alaczek commented on #66737
Where exactly are you seeing that option?

[2022-08-26 06:32] Robertght commented on #66904
Another report: 5476871-zen

[2022-08-26 06:38] candy02058912 commented on #63792
Closing issue as discussed with @lsl.
The original intent was to clean up things. Extra code has been introduced in #66805 In order to preserve intended behaviors. Therefore, we think it's not worth it making this change.

[2022-08-26 06:38] #63792 closed, assigned to candy02058912

[2022-08-26 06:42] ouikhuan opened #67023 "Skipping the plans page in JPC flow if a user is coming from importing process"
### Objective

This ticket is based on the investigation of #65585. During the research, we know that we can skip the plans page as long as we have the site connection and user approval. Inside JPC flow, we're redirecting users to the plans page after they are connected and authorized, which we found unnecessary to include during the importing process. On the other hand, redirections to plans page

[2022-08-26 06:54] taipeicoder commented on #66734
Closing with #66856

[2022-08-26 06:54] #66734 closed, assigned to taipeicoder

[2022-08-26 07:05] ouikhuan commented on #65829
Related PR #66674

[2022-08-26 07:28] ouikhuan opened #67028 "Explore and see if we can build funnels for importing process from WP.com -> JPC flow -> WP.com journey"
### Objective

Currently we don't have tracks funnel that follows the journey from WP.com to Jetpack and back to .com. We'd like to discover if it's possible to get more understanding and see where WP.com customers are dropping along the way, particularly within JPC flow.

### Approach
Something we might be curious about, including:

- [x] Can we identify how many of these connection flows error o

[2022-08-26 08:11] ivan-ottinger commented on #66754
D86564-code is now deployed.

[2022-08-26 08:11] #66754 closed, assigned to ivan-ottinger

[2022-08-26 08:23] bogiii commented on #65544
The progress component has been introduced, but we decided not to show it. Instead of a progress bar, we will present a notification.

https://github.com/Automattic/wp-calypso/blob/trunk/packages/subscriber/src/components/add-form/progress-screen.tsx

[2022-08-26 08:25] Robertght opened #67030 "Cultivate: pagination displays as an empty section when there are not further posts"
### Quick summary

When we have only 2 posts and pagination is used with the Query Loop block, we'll get an empty section like so:

![wHhR4V.png](https://user-images.githubusercontent.com/6737345/186857677-52821143-5c62-44bb-870c-43e1c4a89c81.png)

### Steps to reproduce

1. Create a couple of posts and add a query block to a page with the pagination block on them.
2. Check the results

### What y

[2022-08-26 08:26] Robertght commented on #67030
Flagging this for @Automattic/serenity

[2022-08-26 08:57] zaerl opened #67031 "[Bug]: Can't introduce a new password in signup page"
### Quick summary

If you insert the wrong password on the signup page you can't create a new one.

### Steps to reproduce

1. Go to wordpress.com
2. Insert a username
3. Insert a password identical to the username
4. Click "Create account"

### What you expected to happen

A notification pop up saying that you can't use the user and password that is the same. And you can insert another one.

###

[2022-08-26 09:04] zaerl commented on #67031
If the page is reloaded the form is correctly enabled.

[2022-08-26 09:30] simison commented on #30426
List of office file formats that should be supported: https://github.com/Automattic/wp-calypso/blob/08e0bfbd794776b54075371829427f0d78f8581b/client/lib/media/constants.js#L142-L176 (also according to docs https://wordpress.com/support/accepted-filetypes/#documents)

I edited the heading to reflect that bug doesn't affect Simple sites anymore as per https://github.com/Automattic/wp-calypso/issues/3

[2022-08-26 10:15] mxhassani commented on #66904
There is a P2 regarding a similar case, being worked on here: p2EDhh-1Fg-p2#comment-8161

[2022-08-26 10:18] ivan-ottinger commented on #65746
This is being addressed in D86596-code.

[2022-08-26 10:46] #66980 closed, assigned to alshakero

[2022-08-26 10:52] arthur791004 commented on #66835
@autumnfjeld Does it mean that we will have two versions of the theme shown in the bottom section of UDP? For example, the Geologist theme will show in the bottom section twice. One is verticalized and the other isn't.

If not, I think we cannot compare the result with the approaches you mentioned as the original event, `calypso_signup_select_design`, won't be fired anymore or the value of `is_ver

[2022-08-26 11:20] synora commented on #50740
While this issue is closed, I had to manually clear the cache for the user in 35765219-hc this morning.
Follow-up is at 5381587-zd-woothemes

[2022-08-26 11:36] #66604 closed, assigned to danielbachhuber

[2022-08-26 11:48] danielbachhuber opened #67037 "Sites Management Page: Replace 'Back to My Sites' with 'Back to Sites'"
There are a few instances of 'Back to My Sites' in the codebase:

<img width="480" alt="image" src="https://user-images.githubusercontent.com/36432/186896557-42ea9130-6b84-4fd3-95da-3bcf27339be4.png">

Once #66804 lands, we should change these instances to 'Back to Sites'.

However, it doesn't look like 'Back to Sites' is a translated string yet. Because it impacts the signup flows, we should prob

[2022-08-26 12:16] ivan-ottinger commented on #66920
This is being worked on in D86627-code.

[2022-08-26 12:18] ivan-ottinger commented on #66919
This is being addressed in D86627-code.

[2022-08-26 12:22] ivan-ottinger opened #67038 "[Subscriber Welcome] Subscription dashboard link makes the email wider than it should be"
The "Subscription dashboard" link is too wide which makes the email stretch:

![Image](https://user-images.githubusercontent.com/25105483/186902755-e611b1c2-5bc4-4cef-adff-a9cbe41d639a.png)

We may consider changing the way the link is wrapped.

Another thing to consider is to nest the link inside anchor `<a>` - as currently some email clients (e.g. Apple's Mail app) turn the plain text into a lin

[2022-08-26 12:33] ivan-ottinger commented on #66977
This is being addressed in D86627-code.

[2022-08-26 12:42] yansern commented on #66767
Addressed in this patch. D86539-code

[2022-08-26 13:08] danielbachhuber opened #67040 "Site Switcher: Always display 'Add new site' in Calypso sidebar, and stick to bottom"
At the moment, the 'Add new site' button displays in two places:
* Bottom of the sidebar for users with only one site.
* Bottom of the site switcher for users with more than one site.

To make the user experience more consistent, we'd like the 'Add new site' button to _always_ appear at the very bottom of the sidebar:

<img width="666" alt="image" src="https://user-images.githubusercontent.com/364

[2022-08-26 13:12] yansern commented on #66408
If possible to isolate this, pingback & trackback send it with old emails first.

[2022-08-26 13:14] dsas commented on #66866
The locales giving 400 responses has been resolved (D86578-code). The locales giving no results is a wip

[2022-08-26 13:15] danielbachhuber opened #67041 "Site Switcher: Move 'Manage [N] Sites' button to bottom of the UI, add conditional 'View [feature] for sites' button"
After #66804 lands, we'd like to add a 'Manage Sites' button to the bottom of the Site Switcher UI.

![image](https://user-images.githubusercontent.com/36432/186911432-bb62c0fe-ec31-468d-a898-ec98620c7966.png)

The number should reflect the user's total number of sites.

Design for the button is a little TBD at the moment.

Next, the existing 'All my sites' button in the Site Switcher is a little

[2022-08-26 13:28] Robertght commented on #66891
This is a Jetpack feature, however, I assume we might be able to rename that if needed from our end, but I don't know if it makes sense. I've shared my findings and reasons here: p1661112027620009-slack-C0160HSMDQV

cc @jeherve for a double check

[2022-08-26 13:35] danielbachhuber opened #67043 "Sites Management Page: Add dropdown for changing Sort Order, and apply Sort Order to Sites List"
We'd like to add a dropdown to the Sites Managment Page for changing the Sort Order. It should live with some lower profile UI next to the display mode icons:

<img width="1378" alt="image" src="https://user-images.githubusercontent.com/36432/189230679-48772246-01ab-4afd-a055-1c80c1b8a3a8.png">

When the user changes their Sort Order, it should save to their persistent user preferences and also be

[2022-08-26 13:57] jeherve commented on #66891
"Media" sounds fine. I can see how "content" may be confusing at times. It was named that way because behind the scenes, this is overwriting something named `$content_width`.

I'll open a PR to make the change. fwiw this should impact many WordPress.com sites, since FSE makes the Custom CSS panel a lot less visible and useful for site owners now.

[2022-08-26 14:33] radtechgh opened #67048 "Kerr: Button block hover text shows correctly in editor, blank or too light on live page"
### Quick summary

- WP Button block, fill setting. Hover over button, background goes white, outline correct, text switches to outline color.
- Live page, hover over button, background goes light, outline correct, text is white or light, unreadable.
edit view:
<img width="876" alt="Markup 2022-08-26 at 10 09 13" src="https://user-images.githubusercontent.com/8058729/186926398-1829b67e-7b84-467c-9

[2022-08-26 14:33] eduardozulian commented on #65656
This user came back on 5507108-zen but we're still trying to reproduce the problem.

This issue might be related to #553635

[2022-08-26 14:34] Camaropilot commented on #67048
initial site: 5509309-zen

[2022-08-26 14:37] eduardozulian commented on #55795
Another report: 33143517-hc

Suggested the Social Icons Block as a workaround for now.

[2022-08-26 14:38] ivan-ottinger commented on #66915
D86398-code is now merged.

[2022-08-26 14:38] #66915 closed, assigned to ivan-ottinger

[2022-08-26 14:40] #66442 closed, assigned to ivan-ottinger

[2022-08-26 14:55] daledupreez commented on #65247
I've done some initial investigation into this. While I haven't been able to reproduce the timeout, I am seeing very slow responses for the `/rest/v1.2/:site/domains` API for the user, with responses taking 30-40 seconds.

I explored further, and the driver for the slow responses is all due to slow calls to the low-level `gethostbynamel()` PHP function (which is being performed by the code that co

[2022-08-26 15:07] #65748 closed, assigned to phcp

[2022-08-26 15:07] #66446 closed, assigned to phcp

[2022-08-26 15:07] #65745 closed, assigned to phcp

[2022-08-26 15:07] msilbers commented on #66904
reported by someone who would like to be notified once resolved

- [ ] 5509543-zen

[2022-08-26 15:07] #66917 closed, assigned to phcp

[2022-08-26 15:07] #66920 closed, assigned to phcp

[2022-08-26 15:07] #66919 closed, assigned to phcp

[2022-08-26 15:07] #66977 closed, assigned to phcp

[2022-08-26 15:09] cpapazoglou commented on #64891
@BogdanUngureanu the original idea was reusing the same ES endpoint, and thus replacing all Calypso instances where different endpoints are used with this one. But since we will require a second ES endpoint, your suggestion makes sense and should be easier to tackle. I wonder only if using ES would be significant faster?

[2022-08-26 15:26] ebinnion commented on #66904
I've reverted D79454-code which I believe will address the immediate issue. Of note, this also has the effect of hiding the social logins when 3rd party cookies are not supported.

[2022-08-26 15:48] BogdanUngureanu commented on #64891
Hmm... Good point! Thinking a bit more, we would need some kind of cache to search by that term value (somehow) since getting by term value would most likely be an expensive operation.

It's something I can look into when I'll rewrite the catalog class.

[2022-08-26 15:50] BogdanUngureanu commented on #66111
Closing this since it has been handled in https://github.com/Automattic/wp-calypso/pull/66761

[2022-08-26 15:50] #66111 closed, assigned to BogdanUngureanu

[2022-08-26 15:51] BogdanUngureanu commented on #66864
Handled in https://github.com/Automattic/wp-calypso/pull/66877

[2022-08-26 15:51] #66864 closed, assigned to BogdanUngureanu

[2022-08-26 16:03] obenland commented on #65345
With the merge of 14172-gh-Automattic/woocommerce.com this should be complete. @JulianBustamante could you confirm?

[2022-08-26 16:17] BogdanUngureanu commented on #66158
I believe the problem comes from the fact that we build the ES for rating counting from 1 for both the rating and rating nums fields: class.wpes-wpcom-plugin-post-field-builder.php#103 From what I understood, this is needed for ranking purposes.

We need to format the response from ES in the search API by checking these two fields and, if they are both 1, we can assume that the plugin doesn't have

[2022-08-26 17:30] #66652 closed, assigned to JessBoctor

[2022-08-26 17:36] delputnam commented on #65247
Thanks for the ping @daledupreez

`gethostbynamel()` (and also `dns_get_record()`) are both somewhat problematic in different ways and are on my list (but not near the top) to fix in several places in the domains-related code.

I think that even if we recommended that the users "fix" their DNS configuration, we might still run into a similar problem very occasionally.

What do you think about some

[2022-08-26 17:56] sajmes opened #67055 "User facing account and/or site undelete option"
### What

A user facing method to restore deleted sites and/or accounts within the 30 day window between users deleting the sites/closing the accounts and them being purged.

See previous discussion here: pbvpgB-pZ-p2#comment-1150

### Why

Between January 1 2022 and June 30 2022, we received:

- 2382 account restoration requests (English, Spanish, French) via tickets submitted to the Account Reco

[2022-08-26 18:02] dcoleonline commented on #56382
Another in 5508842-zen
Supplied CSS workaround based on their plan level

[2022-08-26 18:09] ebinnion commented on #66904
After some investigation, I have found the root and can confirm that it should be fixed in the above revert. I have a second go at a patch to address third-party cookie issues taking into account the root issue.

I'll plan on getting this reviewed and deployed early next week. D86706-code

[2022-08-26 18:13] danielbachhuber commented on #49898
@JoshuaGoode Makes sense, thanks for the explanation!

I suppose, in some sense, the current behavior is architecturally "by design"? And, if so, we'd need to introduce some concept of "previously connected Jetpack sites"?

[2022-08-26 18:31] JulianBustamante commented on #65345
@obenland Sure! Let me check how can I confirm this on prod.

[2022-08-26 18:45] wpshellbelle commented on #64037
Another report at 29645852-hc

[2022-08-26 18:47] wpshellbelle commented on #59259
36640861-hc

Another report. All font changes are not saving from the Site Editor. Provided CSS to help for now.
If needed, I can create a new issue for Global Styles using the Site Editor.

[2022-08-26 18:49] paxblueribbon commented on #66904
Adding to this a customer asking for an update when its resolved:
zd-5505011

[2022-08-26 19:10] cometgrrl commented on #66009
@daledupreez I believe this is fixed by this D82387-code.

[2022-08-26 19:41] creativecoder commented on #66068
I strongly disagree. While most Jetpack users don't use Calypso and go directly to wp-admin, I don't think that's a reason to leave the Calypso interface for Jetpack sites in a broken state. If we're going to deprecate using Calypso for Jetpack (non-Atomic) sites, let's do that and remove it, not leave it in a broken state for users to stumble upon.

[2022-08-26 20:15] davemart-in commented on #66618
Pushed changes to #66650.

[2022-08-26 20:15] #66618 closed, assigned to davemart-in

[2022-08-26 21:00] msilbers opened #67059 "Global Styles: Layout Dimensions can't be changed"
### Quick summary

On at least two themes, the Global Styles layout setting does not actually save changes to the dimensions. You can input a new number, but when you hit Save they are set back to default.

<img width="592" alt="Screen Shot 2022-08-26 at 4 41 26 PM" src="https://user-images.githubusercontent.com/31680407/186989305-8a7f992e-c1ee-47d6-967e-49b8468f9f38.png">

### Steps to reproduce

[2022-08-26 21:08] dsas commented on #66866
I've got a WIP at D86717-code for fixing it for Britiah English

[2022-08-26 21:09] #66465 closed, assigned to worldomonation

[2022-08-26 21:14] ktyfuller604 commented on #59259
To add to the report above, the particular case wanted to use `playfair-display` as the font. However, that specific font wasn't loading, even with the CSS workaround. Suggested `Baskerville` instead.

[2022-08-26 21:20] noahtallen commented on #65895
Fix: D86721-code

[2022-08-26 21:23] allilevine opened #67060 "Marketplace: Investigate whether JetpackNonAtomic is populating correctly"
We had a report here where `jetpackNonAtomic` was returning the wrong value for a WPCOM site: p1661547984247449/1661537969.126669-slack-C029JEQRVRT
Let's try to replicate it and verify whether we need to populate the data differently. It's possible this was introduced in https://github.com/Automattic/wp-calypso/pull/66425

Acceptance criteria:
- [ ] If replicable, a solution for populating the dat

[2022-08-26 22:09] noahtallen commented on #65895
This issue should be resolved in production 👍

[2022-08-26 22:09] #65895 closed, assigned to nobody

[2022-08-26 22:36] tanjoymor commented on #60623
Another report here: 36645800-hc – user was also looking for the Try & Customize option. I offered the alternative to use the "Preview" feature under the Classic View, however, that is not currently working (even though it was in the recent past), it's loading the Customizer and the sidebar, but a blank screen in the main panel.

[2022-08-26 22:41] sajmes commented on #63050
I ran into this exact issue when launching a [Personal plan site.](premiumtestsite819322936.wordpress.com)

Clicking Launch site from My Site → Settings → General → Launch Site took me to the domain selection screen.

It was not pre-populated. Only when I typed some random text in the search box was I shown the option to continue with my free .wordpress.com domain.

[2022-08-26 23:38] hacchism commented on #55335
Another case reported.
Chat: 27240496-hc
Follow-up ticket: 5502462-zen

[2022-08-26 23:45] autumnfjeld opened #67064 "⚙ D86697 Style selection: Implement core style switching logic: https://code.a8c.com/D86697"

[2022-08-27 03:22] supernovia commented on #66904
There are dozens of folks complaining of issues on this site:
https://bayphotosbydonna.com/2022/08/24/blog-commenting-issues/

[2022-08-27 04:01] syhussaini commented on #66326
Notified the user.

[2022-08-27 04:06] #67011 closed, assigned to nobody

[2022-08-27 05:07] autumnfjeld commented on #66835
@arthur791004

No, this isn't what I meant. (Although that is an interesting idea, kind of like we have multiple versions of TT2 and Geologist).  But no, that isn't what I meant.

There are many ways to set up the tracks events and props to be able to answer the question " Do users choose the v13n or  non-v13n  more."   For me the "right" way is the way that will be easiest (no google sheets).

So

[2022-08-27 06:02] jeyip commented on #66707
Closing this for now because https://github.com/Automattic/wp-calypso/pull/66798 was merged

[2022-08-27 06:02] #66707 closed, assigned to nobody

[2022-08-27 06:41] sanjeev00733 opened #67065 "Font size setting missing from Typography in paragraph block when interface language is set to Polski"
### Quick summary

Font size setting missing from Typography in paragraph block when interface language is set to Polski.

### Steps to reproduce

1. Go to WordPress.com account setting page https://wordpress.com/me/account
2. Change interface language to Polski
3. Check the paragraph block typography option and `font-size` option is missing

![fontsizesetting](https://user-images.githubuserconten

[2022-08-27 08:33] sophiegyo commented on #66904
I landed on #5492149-zen (mentioned above) and I had an idea.
I tried deactivating the Protect module in Jetpack, and posted a comment. This worked.

Screen recording:

https://user-images.githubusercontent.com/36608681/187022172-6e5719ea-74e9-4ca6-a185-628415f04928.mp4

The result:

<img width="1160" alt="image" src="https://user-images.githubusercontent.com/36608681/187022180-d54eac13-ed90-4669-

[2022-08-27 09:32] i11za commented on #66739
@Robertght @inaikem user has replied in 5490339-zd-woothemes and shared inline copies of the emails.

I've acknowledged receipt, and let them know we'll let them know once there's an update. Haven't closed the ticket yet, placing on 72 hour hold.

In hindsight I'm now wondering if we should ask them to send emails as attachments so we can see full email/headers/etc., as well as ask for browser/OS

[2022-08-27 12:15] Babylon1999 commented on #66720
5511321-zd

Shared the workaround.

[2022-08-27 13:42] AMcGrady commented on #66904
Adding to this a customer asking for an update when its resolved:
5471252-zen

[2022-08-27 20:35] jordesign commented on #66904
@ebinnion  just to confirm - the revert means the issue should no longer be occuring for users? And that proposed deploy is the one that would try again, taking the previous issue into account?

[2022-08-28 00:35] hacchism commented on #66904
Another report:
5505287-zen

[2022-08-28 05:15] inaikem opened #67067 "Notifications: User receiving new post notifications from a blog to which they are not subscribed."
### Quick summary

A user is receiving new post notifications from a blog to which they are not subscribed.

### Steps to reproduce

Not reproducible on a test site. I'm creating this bug report as part of ongoing nudges to get more eyes on it.

See: p1661413514518259-slack-C02HLU2CH

### What you expected to happen

Users should not be receiving notifications relating to blogs they are not subscr

[2022-08-28 06:04] inaikem opened #67068 "German importer info/support doc modal links to broken link for `support-article=41`"
### Quick summary

The DE import info/support modal opens a broken support link for support-article=41.

### Steps to reproduce

1. Create/open a site set to the DE locale.
2. Access https://wordpress.com/import/yourgroovydomain.blog
3. Click the `Weitere Informationen` to trigger the support doc modal.
4. Click `Artikel öffnen` to be taken to https://wordpress.com/importieren/.

### What you expe

[2022-08-28 06:24] rw-ye commented on #67059
Another report here: 5493921-zd-woothemes

Theme: Blank Canvas

[2022-08-28 06:34] daria2303 commented on #66653
@jamiepalatnik thank you for checking, I am able to replicate on atomic ![jy0Yyz.png](https://user-images.githubusercontent.com/11535091/187060892-05215a59-ce88-4332-91ac-a318911b87bc.png)

In our doc we can see that the first row is higher than the second one ![iewG8A.png](https://user-images.githubusercontent.com/11535091/187060965-ab9db59a-e221-4d3d-8751-91cf140a8805.png)

[2022-08-28 08:00] inaikem commented on #66739
This may well have been the case. I've sent over a quick reply asking them to let us know if they experience the issue again.

We could (and I just did in my reply 😉). We can see the original forward using the "view original email" option under the envelope icon at the top right of each reply in ZD to view the mail. Here's a screenshot of the first example:

![eN9qXh.png](https://user-images.githu

[2022-08-28 08:13] inaikem commented on #66739
I'm leaving this in the "Needs HE/Author reply" queue for now but please feel free to close this out if they don't reply over the next 1-2 weeks. We can always reopen and retest if needed 🙏

[2022-08-28 08:23] inaikem commented on #66997
5502334-zd-woothemes

User attempted 2x $100 payments and was billed $1 each time. They manually donated using details provided elsewhere on the site.

Adding the interaction here as we may have a few more to track and respond to.

Context: p1661674867361469/1661441678.719449-slack-C02FMH4G8

[2022-08-28 08:40] vajrasar commented on #56910
📌 SCRUBBING : RESULT
- Tested on P2 - N/A
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO

The Post Carousel block, as reported, is either showing the featured image with reduced width (on Simple Site) or not showing at all (in my case on AT site) when the theme Rebalance is selected,

[2022-08-28 11:25] kspilarski opened #67069 "Gazette Theme: Sidebar shows a blank space even there are no widgets"
### Quick summary

Using the Gazette theme, even there are no widgets in the sidebar, the sidebar remains and displays a blank space.

### Steps to reproduce

1. Activate Gazette theme.
2. Add a widget in the sidebar and save.
3. Open a post - the sidebar widget will appear.
4. Remove the sidebar widget and save.
5. Open the post again, the sidebar widget will be removed but the sidebar space rema

[2022-08-28 11:41] brinbliss commented on #66904
User in [5493407-zd-woothemes](https://woothemes.zendesk.com/agent/tickets/5493407) provided this workaround that fixes a single site, from Apple Support.

This workaround may work for more sites, but has only been tested by this user on one site: click "log out" where the profile icon shows up in the comment field. From here, re-sign in to WordPress.com and then open up the comment reply box. Fil

[2022-08-28 15:34] vinimotaa commented on #65574
Hi folks!

Thanks for all the inputs - I put together a mockup for us to make some decisions here.

- I have replaced the main header with @pablohoneyhoney initial suggestion. I think that is clear enough and doesn't require further subheadings. Perhaps this is something we can revisit in case we go ahead with a "unified Marketplace" which will require us to rethink the entire header.
- In this mo

[2022-08-28 15:38] #65543 closed, assigned to bogiii

[2022-08-28 15:39] #65437 closed, assigned to bogiii

[2022-08-28 15:40] #65438 closed, assigned to bogiii

[2022-08-28 15:40] #65435 closed, assigned to bogiii

[2022-08-28 15:40] #65436 closed, assigned to bogiii

[2022-08-28 15:40] #66255 closed, assigned to bogiii

[2022-08-28 15:40] #66298 closed, assigned to bogiii

[2022-08-28 19:31] ebinnion commented on #66904
Correct

[2022-08-28 19:54] ccwalburn commented on #66904
@ebinnion I had a report at 14:50 UTC today that it was still a problem. Does the user need to do something on their end?
5497964-zen

[2022-08-28 21:17] masperber opened #67070 "Subscribe Block: Clicking Subscribe button snaps page scroll below the success message"
### Quick summary

After clicking the submit button on a Subscribe Block, the page is abruptly scrolled down. This has something to do with the success message being displayed, but the page is scrolled below the success message, so it isn't visible. From a user's perspective, it's jarring and confusing.

### Steps to reproduce

1. Add a Subscribe Block to a page.
2. Add enough content below the Su

[2022-08-29 02:04] lsl commented on #63792
Just clarifying, the issue we were seeing was too much change introduced. Its possible this is worth doing some other way, like moving a call to this in some other part of the middleware that's always called for these routes?

[2022-08-29 03:19] taipeicoder opened #67072 "⚙ D86734 Added more props to static themes and their variations: https://code.a8c.com/D86734"

[2022-08-29 03:30] bangank36 opened #67073 "Patterns Assembler: Show blank canvas cta on 'All' category only"
## Description

- Should show the Blank canvas CTA on UDP when the static design category is 'All'

## Acceptance Criteria

- [x] Show the CTA when category is All

## Reference

https://github.com/Automattic/wp-calypso/pull/66895#pullrequestreview-1088012077

[2022-08-29 03:49] Jaykame commented on #52701
5493329-zd Similar issue whereas user would benefit from getting notifications for cancellations or failed subscriptions for premium content subscribers.

[2022-08-29 03:51] bangank36 commented on #66785
Landed

[2022-08-29 03:51] #66785 closed, assigned to bangank36

[2022-08-29 04:05] taipeicoder commented on #67072
Merged.

[2022-08-29 04:05] #67072 closed, assigned to taipeicoder

[2022-08-29 05:31] autumnfjeld commented on #66788
cc: @mtias on the above discussions

[2022-08-29 05:38] lsl opened #67075 "Marketplace: Logged out view should use pagination"
Logged out page views were implemented here: https://github.com/Automattic/wp-calypso/pull/66169

I think for SEO we should make use of paginated category and search results.

This should only require swapping out the infinite scroll variation with the paginated one [somewhere like here](https://github.com/Automattic/wp-calypso/blob/fc0609511dde25d43a249e0fa60666eb9afd917a/client/my-sites/plugins/

[2022-08-29 06:16] miksansegundo opened #67076 "☂️ Pattern Assembler: (Spike/Research) Fast preview component for pattern and site previews"
The iframe previews using the endpoints `block-previews/pattern` and `block-previews/site` are slow compared to an alternative solution used in Gutenberg to inject a pattern in an iframe directly from the front-end without rendering the HTML from the server.

We [wanted](https://github.com/Automattic/wp-calypso/issues/66788#issuecomment-1225560793) to give it a try to test the performance, and we

[2022-08-29 06:26] devNigel commented on #66008
Another report: 36587545-hc

Suggested the other Videomaker theme.

[2022-08-29 06:31] taipeicoder commented on #67076
We should avoid relying on `<WebPreview />` since it's not packaged. Might be worth looking into whether`<ThemePreview />` ([src](https://github.com/Automattic/wp-calypso/tree/trunk/packages/design-picker/src/components/theme-preview)) suits the requirements, or creating a new packaged component tailored for PA.

[2022-08-29 07:11] miksansegundo commented on #67076
Some more considerations about the site preview vs the patterns preview. They might not be the same because:

My take is that the patterns and the site previews in the PA project are rendered using the theme Blank Canvas, which has no demo content. Meaning that the patterns and the content in the previews are coming from the source site `dotcompatterns` only. This is the way the previews work in t

[2022-08-29 07:22] miksansegundo commented on #67076
Another option is optimizing the existing endpoints `block-previews/pattern` and `block-previews/site` for the PA project because it does not require:

- to verticalize patterns or sites
- to add styles based on the theme (always use Blank canvas)
- to generate HTML (it could be pre-cached)
- others?

[2022-08-29 07:43] miksansegundo opened #67079 "Pattern Assembler: Improve performance of pattern/site preview endpoints"
Can we optimize existing endpoints `block-previews/pattern` and `block-previews/site` for the PA project? The reason is that PA does not require:

- to verticalize patterns or sites
- to add styles or scripts based on the theme (always use `Blank canvas`)
- to generate HTML with content for a source based on the theme (always is `dotcompatterns`)

**Other optimizations**
- The HTML of each pattern

[2022-08-29 08:00] #66767 closed, assigned to yansern

[2022-08-29 08:35] #65540 closed, assigned to bogiii

[2022-08-29 08:35] sejas commented on #66727
Deployed! 🚀

[2022-08-29 08:35] #66727 closed, assigned to p-jackson

[2022-08-29 08:36] bogiii opened #67080 "Subscriber form: allow adding more email fields, up to 10"

[2022-08-29 08:40] bogiii opened #67081 "Newsletter flow: stepper framework, "Jetpack powered" missing the space in some specific height"

[2022-08-29 08:42] bogiii opened #67082 "Subscriber form: "Uploading CSV" missing hover state"

[2022-08-29 08:45] bogiii opened #67083 "Subscriber form: show error message for non valid email fields"

[2022-08-29 08:46] bogiii opened #67084 "Subscriber form: improve error handling"

[2022-08-29 08:57] bogiii opened #67086 "Subscriber form: Preserve the UI state of the elements when continue"

[2022-08-29 09:16] daledupreez commented on #66009
Thanks, @cometgrrl!

I was waiting for today to see what happened to my personal set of subscriptions, and things are looking _really_ good. I had some big backlogs that got cleared, which suggests the change worked for a number of subscriptions that had been failing for some time.

I am going to close this issue as a result.

[2022-08-29 09:16] #66009 closed, assigned to daledupreez

[2022-08-29 09:33] #63812 closed, assigned to nobody

[2022-08-29 09:47] kimclow opened #67089 "VideoPress - Autoplay Notification and Settings Change"
### What

If you set a video to autoplay, the `Muted` option should toggle on automatically.

<img width="1792" alt="169286454-509b926c-f092-4fb3-acb2-3aa681bce074" src="https://user-images.githubusercontent.com/83212200/187173548-9d3b337b-15ab-4d9e-8c27-802987253844.png">

### Why

Modern browsers by design, disallow auto-playing videos with sound. Should the user toggle on `autoplay` - the `mute

[2022-08-29 09:53] simison commented on #56779
This would be expected, as the site isn't in "private" mode and rather just the front of the page gets replaced with "coming soon" page. Similarly you can just type in the RSS Feed URL and add it to any other RSS feed reader.

For full privacy, you'd switch the site to "private" mode with its quirks and problems that come with it.

For our own Reader could choose to just check the site status and

[2022-08-29 10:12] BogdanUngureanu commented on #66158
Opened D86744-code (Ready for review) that fixes this issue.

[2022-08-29 10:24] daledupreez commented on #56779
This also feels unexpected to me as a user -- I would prefer the feed to be empty before launch. But I think that's a separate improvement/fix.

[2022-08-29 10:36] mxhassani commented on #66868
@zachspears Thank you for checking. The issue seems to be pertinent on the user's account.

The "Google Workspace" label is displayed shortly when first loading the page then the G Suite label replaces it:

https://user-images.githubusercontent.com/81776920/187180736-1df63735-460a-4726-82ff-598e4b3633b2.mp4

* Firefox 103 on macOS (Catalina)

[2022-08-29 12:10] daledupreez commented on #65247
Thanks for following up, @delputnam!

I've commented on your proposed changes, and they seem reasonable to me.

[2022-08-29 12:14] #64578 closed, assigned to nobody

[2022-08-29 12:18] Robertght commented on #66914
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 ACTIONS
- Closed as duplicate of  https://github.com/Automattic/wp-calypso/issues/66904#issuecomment-1228612870

[2022-08-29 12:18] #66914 closed, assigned to nobody

[2022-08-29 12:19] blackjackkent opened #67093 "Theme Support: Automate diff creation and generating Headstart annotation for new theme"
As part of our efforts to [introduce automation into the theme support process](https://github.com/Automattic/wp-calypso/issues/66581), we should update the `premium-theme-tools` repo script to include automation for generating the diff that patches the theme files to GitHub to wpcom. This automation should also include automatic generation of the theme's Headstart file. We should also create a (p

[2022-08-29 12:25] valterlorran commented on #66737
Through the command line from my sandbox.

[2022-08-29 12:28] blackjackkent opened #67095 "Theme Support: Automate generation and submission of POT file"
As part of our efforts to [introduce automation into the theme support process](https://github.com/Automattic/wp-calypso/issues/66581), we should automate the process by which a POT file for a new theme is generated and submitted for translation.

[2022-08-29 12:32] blackjackkent opened #67096 "Theme Support: Automate Deploy Prep Steps for Merged Theme"
As part of our efforts to [introduce automation into the theme support process](https://github.com/Automattic/wp-calypso/issues/66581), we should create an automated script for the preparation steps prior to deployment after a theme has been merged into WPCOM. These steps include:

* Building the ZIP file
* Adding the theme as a product to the Store
* Creating a diff like this: D86011-code (more i

[2022-08-29 12:36] blackjackkent opened #67097 "Theme Support: Automate theme deployment steps"
As part of our efforts to [introduce automation into the theme support process](https://github.com/Automattic/wp-calypso/issues/66581), we should automate the steps required to deploy a theme to the public. (These should follow on from the work done in https://github.com/Automattic/wp-calypso/issues/67096 )

These steps include:
* Network activating the theme
* Publishing the theme showcase page
*

[2022-08-29 12:43] Robertght commented on #67048
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- This has been inconsistent for me, however, as it involves Kerr, I'm highlighting this to @Automattic/serenity

cc @pbking if you can double check as it's Blockbase related.

📌 ACTIONS
- Marked as Triage

[2022-08-29 12:51] cpapazoglou commented on #65574
Thanks @vinimotaa, we will pick this up as soon as it has been finally approved.

[2022-08-29 12:53] cpapazoglou commented on #65025
Closing this as plugins will be only available to pro, biz, ecom plans.

[2022-08-29 12:53] #65025 closed, assigned to nobody

[2022-08-29 12:53] bogiii opened #67098 "Subscriber form: RTL support"

[2022-08-29 12:53] Robertght commented on #66936
I'm adding this to @Automattic/cylon 's board as other CSS Tidy related reports are there. cc @Addison-Stavlo

[2022-08-29 12:54] cpapazoglou commented on #62299
This seems resolved

![Image](https://user-images.githubusercontent.com/12430020/187205829-baf10389-2466-42d5-a2ab-a5b89efaad76.png)

[2022-08-29 12:54] #62299 closed, assigned to vinimotaa

[2022-08-29 12:55] bogiii opened #67099 "Subscriber form: disable email autofill"
When adding subscribers, I clicked to autofill in Chrome and it added my email address in all three fields.

[2022-08-29 13:10] Gustavo-Hilario commented on #66639
Another report here:

- [ ] 5484084-zen

Screenshot:

![Markup on 2022-08-29 at 10:09:26](https://user-images.githubusercontent.com/50875131/187208823-13f2df95-0d33-4bea-a184-6cd7fed37ea3.png)

[2022-08-29 13:11] cpapazoglou commented on #66906
The problem mainly comes from the fact that we dynamically reuse images that meant for a 2-column layout where they appear smaller. We will try to fix this by changing the source images to higher quality ones.

@Automattic/explorers before adding any more plugins, let's make sure that the images they provide us are high quality.

[2022-08-29 13:12] Copons opened #67100 "Marketplace: Add WP Job Manager Add-ons"
This is an epic to track adding 1st-party WP Job Manager add-ons to the Dotcom Marketplace.

- [x] #67101
  - [x] PoC license integration
- [x] #67102
- [x] #67550
- [x] https://github.com/Automattic/wp-calypso/issues/67610
- [x] 891-gh-Automattic/dotcom-forge
- [x] #67715
- [x] #67714
- [x] #67551
- [x] #67103
  - [x] Gather the listing information for the Marketplace
  - [x] ~Check if we need to

[2022-08-29 13:16] Robertght commented on #66762
Thank you @kerrynicl !

@masperber, @kerrynicl - I checked and this is because of a missing CSS code from the user's site. Here's the missing code:

[code]

I identified this by checking the styling source through the https://web.archive.org/ site. Here's the file:

https://web.archive.org/web/20220105192530cs_/https://s1.wp.com/?custom-css=1&csblog=56ish&cscache=6&csrev=19

I'm closing this for n

[2022-08-29 13:18] Robertght commented on #66132
I was able to replicate this.

@Automattic/serenity can we flag this for your team?

[2022-08-29 13:19] cpapazoglou commented on #65463
We should fix this for the new Plugin details page iteration

![Image](https://user-images.githubusercontent.com/12430020/187210511-4dbfa5e2-0da5-48a3-b189-f12d984035f9.png)

[2022-08-29 13:21] cpapazoglou commented on #65464
This is not relative anymore with the new design

![Image](https://user-images.githubusercontent.com/12430020/187210886-7df3d8ff-514b-4bf0-83f1-2f44b6a25892.png)

[2022-08-29 13:21] #65464 closed, assigned to nobody

[2022-08-29 13:22] Copons opened #67101 "Marketplace: Investigate requirements to integrate WP Job Manager add-ons license activations with Dotcom"

[2022-08-29 13:23] Robertght commented on #66233
I'm not sure if we can get to these in one go. @jeffikus is this best handled through the themes itself or another component?

[2022-08-29 13:24] Copons opened #67102 "Marketplace: Determine prices of WP Job Manager add-ons"

[2022-08-29 13:27] Copons opened #67103 "Marketplace: Add WP Job Manager add-ons to WCCOM and WPCOM Store"
- [x] [Applications](https://wpjobmanager.com/add-ons/applications/)
    - [x] wpcom billing plan
    - [x] wccom marketplace
    - [x] Marketplace catalogue updated see https://github.com/Automattic/dotcom-forge/issues/1050
    - [x] PR opened to ease future updates see https://github.com/Automattic/wp-job-manager-applications/pull/298
- [x] [Resume Manager](https://wpjobmanager.com/add-ons/resum

[2022-08-29 13:32] bartoszbak opened #67104 "Misaligned labels in the post list view [Staging]"
### Quick summary

Labels in the post list view are misaligned - staging environment

![CleanShot 2022-08-29 at 15 15 07@2x](https://user-images.githubusercontent.com/12172350/187210019-21728111-fd2b-4a38-9c73-eddbbfdfa646.jpg)

### Steps to reproduce

1. Open https://wordpress.com/home/dotcom.wordpress.com - or any site within wordpress.com as A12s
2. Open Posts on the left sidebar
3. Look at the

[2022-08-29 13:35] cpapazoglou opened #67105 "Marketplace: launch plugin details page iteration"
This is a task for launching the new plugin details page iteration.

- [ ] switch `plugins/plugin-details-layout` flag to `true` for all environments.

[2022-08-29 13:35] Copons opened #67106 "Global Styles: Limit to Paid Plans"
This is an epic to track gating Global Styles to paid plans.

- [ ] Investigate technical opportunities in Core Gutenberg.
- [ ] Prepare new products and features on Dotcom, Calypso, WPCOMSH, and WPCOM Store.
- [ ] Investigate technical opportunities to implement a "try before you buy" solution.

More tasks to follow.

[2022-08-29 13:35] Addison-Stavlo opened #67107 "LaunchPad - Ensure "Go to Admin" is visible on screen."
It was noted that the escape hatch "Go to Admin" button can often be just off the screen and require vertical scrolling to see.

We should update this position so it is more visible and doesn't require scrolling in these screen heights.

![Screen Shot 2022-08-29 at 9 30 36 AM](https://user-images.githubusercontent.com/28742426/187213531-adef05ed-f2a6-4b5d-9674-e994c3181d88.png)

Above we have enou

[2022-08-29 13:37] Copons opened #67108 "Limiting Global Styles: Investigate technical opportunities in Core Gutenberg."

[2022-08-29 13:38] cpapazoglou opened #67109 "Marketplace: SaaS licensing technical spike"
Let's timebox a technical spike and document what's missing from WordPress.com so that

- [ ] it can support billing SaaS software as WooCommerce.com does with https://woocommerce.com/document/billing-api-for-saas-products/
- [ ] SaaS products from WC.com are surfaced in WP.com

[2022-08-29 14:12] delputnam commented on #65247
Quick update: I've started gathering some data on this and have manually tested a handful of the long-running calls to gethostbynamel.  All of the domains I tested also timeout when using dig after about 3s.

Additionally, it appears that we're making multiple calls to this method within a few seconds of each other from multiple endpoints...likely generated by the same calypso page. So, caching th

[2022-08-29 14:16] bogiii commented on #67080
![Screen Capture on 2022-08-29 at 16-08-39](https://user-images.githubusercontent.com/1241413/187222147-03726d41-31a9-4fcd-a6c2-db9a27e0d522.gif)

cc @simison @vishnugopal

[2022-08-29 14:16] #67080 closed, assigned to bogiii

[2022-08-29 14:17] #67099 closed, assigned to bogiii

[2022-08-29 14:23] Addison-Stavlo commented on #66574
We may be able to use existing solution for reference:

https://github.com/Automattic/wp-calypso/issues/40477

D41110-code