[2022-07-25 12:21] ccwalburn commented on #35800
Another report 29090034-hc

[2022-07-25 12:33] phcp opened #65933 "[New Liked Comment] Add link descriptors in the old email template"
### Details
In order to collect metrics before the rollout we need to introduce link descriptors on all links and buttons for the old template. Similar links should reuse link descriptors defined for the new template on #65709.

<img width="442" alt="image" src="https://user-images.githubusercontent.com/3113712/180325979-5fa24fed-577f-4f14-856a-3a772f26f5b0.png">

### Links List
- Post Title
- Vie

[2022-07-25 12:59] #65931 closed, assigned to heavyweight

[2022-07-25 13:04] #64123 closed, assigned to nobody

[2022-07-25 13:06] cpapazoglou commented on #61753
Closing this as duplicate of https://github.com/Automattic/wp-calypso/issues/62977

[2022-07-25 13:06] #61753 closed, assigned to nobody

[2022-07-25 13:20] #60659 closed, assigned to nobody

[2022-07-25 13:20] cpapazoglou commented on #61531
This is now handled in pdh6GB-PL-p2

[2022-07-25 13:20] #61531 closed, assigned to nobody

[2022-07-25 13:21] #58898 closed, assigned to dlind1

[2022-07-25 13:21] mpkelly commented on #64369
Update: I think I have found the issue. There are rules from multiple files that are targeting the same `div`.

If I disable the top two rules on the right then the menu + content look ok:

![image](https://user-images.githubusercontent.com/6851384/180785712-3c4c9fb8-2856-4a85-bc25-a375194c6bba.png)

Menu behaves correct:
![image](https://user-images.githubusercontent.com/6851384/180785847-8ae3be1

[2022-07-25 13:23] #56149 closed, assigned to cpapazoglou

[2022-07-25 13:26] JoshuaGoode commented on #65755
Yes, I'd consider this a duplicate. Probably easier to reproduce on Firefox due to default security/cookie settings.

[2022-07-25 13:32] JoshuaGoode commented on #65755
Copied notes over and closing in favor of https://github.com/Automattic/wp-calypso/issues/57812

[2022-07-25 13:32] #65755 closed, assigned to nobody

[2022-07-25 13:59] mpkelly commented on #64369
Update: I think I have found the issue. There are rules from multiple files that are targeting the same `div`.

If I disable the top two rules on the right then the menu + content look ok:

![image](https://user-images.githubusercontent.com/6851384/180785712-3c4c9fb8-2856-4a85-bc25-a375194c6bba.png)

Menu behaves correct:
![image](https://user-images.githubusercontent.com/6851384/180785847-8ae3be1

[2022-07-25 14:21] masperber commented on #65017
36182489-hc Another case of a bug relating to this issue.

Situation: User has a site `mysite.com` hosted with WordPress.com. They have another site `subdomain.mysite.com` hosted with another host. They want to import `subdomain.mysite.com` to WordPress.com. The Import Everything tool believes that `subdomain.mysite.com` is already hosted with WordPress.com because the `mysite.com` domain uses Wor

[2022-07-25 14:26] mashikag opened #65936 "[New Comment] Handle a case where post has no title"
### Details

![Screenshot 2022-07-26 at 17 44 40](https://user-images.githubusercontent.com/2019970/181705316-972ec4b4-9d97-438b-abb3-b22c0b45b0b4.png)

Do not say `just commented on a <POST_TITLE>` when post title is empty, instead say `just commented on your post` or `just commented on the post` depending on whether the email is being sent out to the post's owner or not

### Checklist

- [x] Do

[2022-07-25 14:31] JoshuaGoode commented on #57812
Was able to easily reproduce with the following

1. In Safari with default security and privacy settings, third-party cookies prevented
2. Cleared cache and cookies
3. Accessed a Simple site with a custom domain already as primary
4. Edited a post, attempted to preview
5. Was taken to `https://custom-domain/?p=149&preview=true` in a new tab
6. 404'd

[2022-07-25 14:34] phcp opened #65937 "[New Liked Comment] Display "You might want to go see... their blog" link"
### Details
- Should display a link to the Liker's blog, using the sentence below:
    - "You might want to go see what they’re up to! Perhaps you will like _their blog_ as much as they liked yours."
- The "their blog" should be a link to the liker's blog
- Add the link description `liker-blog-url` on "their blog" link
    - #65709
- Do not display this copy if the liker has no public blog/site

#

[2022-07-25 15:28] ivan-ottinger commented on #65709
D84449-code is now ready for review.

[2022-07-25 15:41] #46634 closed

[2022-07-25 15:53] #65904 closed, assigned to Copons

[2022-07-25 15:54] jp-imagines commented on #43893
Had a user request this in 36159671-hc.

I confirmed on a test site that this affects the Blog Posts block, Latest Posts block, and the Query Loop block.

[2022-07-25 16:39] shaunandrews commented on #64673
Just noting this is still an issue with the latest macOS 13 beta:

<img width="100" alt="image" src="https://user-images.githubusercontent.com/191598/180830196-c9a7c72c-8983-4deb-99b9-49ca21506bf9.png">

[2022-07-25 17:23] JoshuaGoode commented on #57812
Adding to my [reproduction steps](https://github.com/Automattic/wp-calypso/issues/57812#issuecomment-1194128807):

If I manually visit the preview using the Simple site's free WPCOM address, instead of the custom domain, it loads without 404.

E.g.

- Doesn't work:  `https://custom-domain/?p=149&preview=true`
- Works:  `https://free-wpcom-address/?p=149&preview=true`

Which does seem related to th

[2022-07-25 17:41] michaeldcain opened #65941 "Checkout: update pending page design"
In #65273, we'll start using the pending page as a standard post-Checkout redirection manager. In most situations, this will be very quick, but we should go ahead and update the design of that page.

Since we don't know how long this page could be shown, let's a pattern similar to [Signup's processing page](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/reskinned-processing-scre

[2022-07-25 18:19] #57399 closed, assigned to mpkelly

[2022-07-25 18:45] #62977 closed, assigned to Rolilink

[2022-07-25 18:46] vykes-mac opened #65942 "Sites Management Dashboard: Implement solution to determine thumbnail background color for private and coming soon sites."
Depends on: https://github.com/Automattic/wp-calypso/issues/65170

Implement some utility that will return an appropriate color for thumbnail backgorund for private and coming soon sites.

Done is:
- background color reflects the theme primary color.
- background color reflects the primary color in provided image eg. site icon if theme color not present or theme primary is back or white.

[2022-07-25 19:01] obenland commented on #65348
It looks like [authentication methods for the WP REST API resolve to a user account](https://github.com/WP-API/Basic-Auth/blob/master/basic-auth.php#L11-L50). Will we create/associate a wpcom user account with every vendor?

[2022-07-25 19:25] danielbachhuber commented on #65652
Removing my assignment on this issue. Solving it will require updating `/start/user` to handle 2FA and other aspects of logging in, so don't think it's worth the effort right now.

[2022-07-25 19:54] obenland commented on #65348
Rather than adding a new authentication method to the API, could we generate an oauth client for each partner as they register? There is some prior art for Jetpack partners that we might take inspiration from? 2cf99-pb/#plain

[2022-07-25 19:59] cuemarie commented on #63262
This issue happened for me in SU during this chat: 36165162-hc

Holding CMD+clicking Editor opened the Site Editor correctly in a new tab. User did not report the issue

[2022-07-25 21:07] obenland commented on #65347
It looks like `marketplace` is already used in the `wpcom/v2/marketplace/products/` endpoint (2cfa1-pb/#plain). Maybe it would make sense to create a `marketplace` folder to denote that namespace and move those endpoint files there?

[2022-07-25 21:57] cuemarie commented on #62755
"Edit" appearing in place of "Customize" for third party non-fse theme `Marketplace`, here: 36188777-hc

<img width="1101" alt="Screen Shot 2022-07-25 at 2 56 37 PM" src="https://user-images.githubusercontent.com/27249804/180880621-6de302cb-bd54-4717-874b-5db7aae81eaa.png">

I see the button flick between Edit & Customize when I load the page. Clicking "Edit" leads to:

[code]

Directed user to Ap

[2022-07-25 22:32] phcp opened #65945 "[New Liked Post] Display site title in the header"
### Details
- Should Display site title in the header, removing the **"New like on"** copy from the header → `template-header` file

**Figma reference:** c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24407

### Screenshots

#### Existing layout (production)
<img width="622" alt="image" src="https://user-images.githubusercontent.com/3113712/180580426-d404bc0e-906d-4708-bc85-ad4b666c7c72.png">

#### Implemented

[2022-07-25 22:38] phcp opened #65946 "[New Liked Post] Display New Like heading"
### Details
- Should display the New Like! heading in the template body → `post-like` file
- This style is already used by other email templates to display headers → `new-follower` file
- Text style (more details on Figma):
    - Weight: 900
    - Size: 40px
    - Line height: 48px

**Figma reference:** c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24407

### Screenshots

#### Existing layout (production)
<img

[2022-07-25 22:49] phcp opened #65948 "[New Liked Post] Update Liker heading"
### Details
- Should be a single line text
- Text style (more details on Figma):
    - Weight: 400
    - Size: 16px
    - Line height: 24px
- Alignment with the picture:
    - On desktop, vertically centered
    - On mobile, top aligned
- The copy has the following structure: "{user} just liked your post {post_title}."
- If the post has no title the copy should look like "{user} liked your post."

[2022-07-25 22:55] phcp opened #65949 "[New Liked Post] Remove Blockquote"
### Details
- Should remove blockquote displayed in the already implemented code → `post-like` file

**Figma reference:** c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24407

### Screenshots

#### Implemented layout
![Image](https://user-images.githubusercontent.com/3113712/180889748-b0bb8b11-e525-4807-b557-91fbcab796c1.png)

### Quality Check
- [ ] Validate layout on desktop screens
- [ ] Validate layout on m

[2022-07-25 23:00] phcp opened #65950 "[New Liked Post] Remove View Post button"
### Details
- Should remove the **View Post** button from the already implemented code → `post-like` file
- The View Post button isn't used in the production version (old layout)

**Figma reference:** c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24407

### Screenshots

#### Implemented layout
![Image](https://user-images.githubusercontent.com/3113712/180889838-1b6401c9-f0f8-4044-9468-b020985fdca6.png)

#### N

[2022-07-25 23:02] phcp opened #65951 "[New Liked Post] Display "You might want to go see... their blog" link"
### Details
- Should display a link to the Liker's blog, using the sentence below:
    - "You might want to go see what they’re up to! Perhaps you will like _their blog_ as much as they liked yours."
- The "their blog" should be a link to the liker's blog
- Do not display this copy if the liker has no public blog/site

**Figma reference:** c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24407

### Screenshots

#

[2022-07-25 23:18] cometgrrl commented on #55102
I tested on Atomic, summarizing here since there's a lot of various things described in the comments that appear outdated.

- I can upload an HEIC image to the media library
- When I choose from the media library, I get this error `This image has an empty alt attribute; its file name is IMG_0574.heic`
- If I try to upload into an image block, HEIC images are greyed out and not selectable
- If I dr

[2022-07-25 23:33] phcp opened #65953 "[New Liked Post] Update Unsubscribe footer"
### Details
- Should update the Unsubscribe footer to display "**Want less email?** Modify your _email notification settings_."
- The "email notification settings" should be a link to the subscription management

**Figma reference:** c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24407

### Screenshots

#### Existing layout (production)
<img width="622" alt="image" src="https://user-images.githubusercontent.com

[2022-07-25 23:50] phcp commented on #65905
Closing this task since the requirements were moved to new tasks.

[2022-07-25 23:50] #65905 closed, assigned to nobody

[2022-07-26 00:14] enejb opened #65954 "[Bug]: Gutenberg CORS error"
### Quick summary

Currently when you visit https://jetpackme.wordpress.com/wp-admin/post.php?post=121138&action=edit page.
You see a CORS Error in the FF browser.

See
<img width="1135" alt="Screen Shot 2022-07-25 at 5 11 43 PM" src="https://user-images.githubusercontent.com/115071/180895618-bf7ef636-cbb7-4ef7-aefb-f89ef583e10a.png">

Also note that this endpoint currently doesn't exits on public

[2022-07-26 02:11] hacchism commented on #59566
Another report at 36125794-hc

[2022-07-26 02:50] creativecoder opened #65955 "Checklist: Update your homepage task incorrect link for Atomic sites"
### Quick summary

If a user activates a legacy theme after upgrading to Atomic, the "Update your homepage" task in the onboarding checklist (My Home) links to the Site editor, which is inaccessible.

<img width="1237" alt="Screen Shot 2022-07-25 at 21 30 32" src="https://user-images.githubusercontent.com/1699996/180910771-925078c3-d23c-4b8d-86a9-dcc2dd12719c.png">

<img width="829" alt="image" sr

[2022-07-26 02:51] creativecoder commented on #62755
Possibly related: https://github.com/Automattic/wp-calypso/issues/65955

[2022-07-26 02:52] creativecoder commented on #65955
cc @agrullon95 In case you want to pick this up after https://github.com/Automattic/wp-calypso/issues/65697

[2022-07-26 03:24] #65219 closed, assigned to lsl

[2022-07-26 04:21] miksansegundo commented on #63076
We have landed the issue [Pattern i18n - Translate dynamic post content in the query blocks ](87-gh-Automattic/ganon-issues). and an existing LTR issue has been solved too in 465-gh-Automattic/i18n-issues.

We still have pending the following issues:
- Missing design translations on the header and/or footer 84-gh-Automattic/ganon-issues
- Missing vertical suggestion translations for some locales i

[2022-07-26 04:58] kuropixel commented on #65580
6673319-hc
Another report, user already had a plan but wanted to create a free site and was unable to until I explained they had to type in a domain, then choose at the very bottom "skip". From a user's perspective, this seems a bit deceitful.

[2022-07-26 04:59] lsl opened #65957 "Marketplace: Scaling managed plugin additions"

[2022-07-26 05:35] lsl commented on #65903
It's 4th result now, might be something that just needs a bit of time to rank up. Closing to save you a click but re-open if this is something you think needs further attention.

[2022-07-26 05:35] #65903 closed, assigned to nobody

[2022-07-26 05:42] rw-ye commented on #64682
Another report:
 - [ ] 5391043-zd-woothemes

Provided CSS workaround.

[2022-07-26 05:46] lsl commented on #64299
Designs here p1658814319620279/1658765251.733379-slack-C03FE3T479R

[2022-07-26 06:23] vishnugopal commented on #65825
- How do we communicate what Jetpack is clearly?

Jetpack is a plugin that you have to install on your existing site to make migration possible. We make it easy to install Jetpack, just click the button below.

- How do we clearly talk about the prerequisites of installing Jetpack?

Your WordPress.org site's Jetpack installation is not linked to the same user as your WordPress.com account.
Your Je

[2022-07-26 06:32] vishnugopal commented on #65830
1. Start with a new simple site
2. Migrate from anywhere
3. xxx.wordpress.com -> xxx.wpcomstaging.com

How do we communicate to customer early in the process that their WordPress.com site address will change?

[2022-07-26 07:02] epeicher commented on #64799
The approach has been slightly changed to what is described in the following comment pdt2If-e4-p2#comment-160 and the checkout flow can be found in a `gif` in this comment pdt2If-e4-p2#comment-163. The [linked PR](https://github.com/Automattic/wp-calypso/pull/65414) is ready for review.

[2022-07-26 08:16] #65929 closed, assigned to renancarvalho

[2022-07-26 08:49] cpapazoglou commented on #65348
Yes, each vendor will have a WC.com account which uses wpcom accounts. Yes we could look into using the vendor account for auth, I am just wondering if decoupling the vendor account from the **system** that requests subscription details would make sense. For example, a vendor could change their password and forget to change the auth details in their **systems**. Changing their API key (regeneratin

[2022-07-26 08:50] edwinho89 commented on #59825
5422806-zd-woothemes

There were empty `<p></p>`, and removing them switches to block editor after editing visually.

[code]

[2022-07-26 08:51] Robertght commented on #65856
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes
-
📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm not moving this to Themes as it appears based on [this](pdnLyh-1uW-p2) that it could be fixed in Gutenberg so other plugins could benefit from it.

📌 ACTIONS
- Feature request kept

[2022-07-26 09:03] #64452 closed, assigned to pablinos, danielpost, gmjuhasz

[2022-07-26 09:04] #64799 closed, assigned to epeicher

[2022-07-26 09:04] jromales commented on #31249
Another report in 5421007-zd-woothemes

![Markup 2022-07-25 at 09 41 04](https://user-images.githubusercontent.com/89536719/180968257-939f8745-d94d-407d-ad09-ca0c57ce0305.png)

The workaround was to replace all corrupted images with the same image from Media Library

[2022-07-26 09:15] dolgelukkig commented on #64682
Another one :

- [ ] 35342093-hc

Shared CSS work around

[2022-07-26 09:33] taipeicoder commented on #65869
Closing as it's shipped.

[2022-07-26 09:33] #65869 closed, assigned to bangank36

[2022-07-26 09:46] andfinally opened #65961 "Login: cookie notice needs padding and eye icon isn't vertically centred"
### Quick summary

On my venerable iPhone 6S Plus iOSs 15.5, during the login flow for WooCommerce.com, it looks like the cookie notice could do with some side padding, as it almost bleeds off the screen.

<img width="250" src="https://user-images.githubusercontent.com/1647564/180975059-5b810758-2ec3-41f5-8699-e0e06634a3d0.PNG">

The eye icon to show/hide password is also not vertically centred in

[2022-07-26 09:58] wojtekn commented on #52347
Closing as it was fixed in https://github.com/Automattic/jetpack/pull/24896

[2022-07-26 09:58] #52347 closed, assigned to wojtekn

[2022-07-26 10:02] poeticabdul commented on #61062
Reported here:

- [ ] 5418864-zen

[2022-07-26 10:04] bangank36 commented on #64960
Hi @taipeicoder, I am about to make it ready for review today, there is some issues with local enviroment, but thanks to your help i have got rid of them

[2022-07-26 10:25] alshakero opened #65964 "[Bug]: Update Contextual Help URLs"
### Quick summary

### Intro and Reproduction

We have a disabled [test unit](https://github.com/Automattic/wp-calypso/blob/trunk/packages/data-stores/test/contextual-help.tsx#L34) that checks if the contextual links are up-to-date. We disabled it because it takes a really long time to run. If you want to run it, remove the `skip` call, then run `yarn text-package contextual`. But I ran it so you

[2022-07-26 10:25] Robertght commented on #65832
Another report on 5413305-zen

Theme: Winkel (simple site)

I've asked the user to set it again for now.

[2022-07-26 12:27] Addison-Stavlo commented on #65419
I can repro on Meraki, but not TT2 - perhaps an issue with Blockbase themes? cc @pbking @jeffikus

[2022-07-26 12:44] michaeldcain opened #65968 "Checkout: clarify pricing and discounts in variant picker"
In #65374, we merged the logic for subscription variant pickers between Jetpack and WPcom, always showing the dropdown variant picker when term variants are available.

Since the annual discount UI could be confusing, and this could affect conversion rates, we should run an AB test to measure the impact of the change.

See: https://github.com/Automattic/wp-calypso/pull/65374#issuecomment-117938855

[2022-07-26 12:58] DavidRothstein opened #65969 "[Bug]: Annual discount percentage is inconsistent between Plans page and checkout"
### Quick summary

When you go through the process of buying a plan, the Plans page shows you an annual purchase discount that is slightly different from the number shown later during checkout (for example, 43% on the Plans page vs. 42% during checkout, for the Premium plan).

**Plans page:**

![plans-page](https://user-images.githubusercontent.com/235183/181011179-07307973-7a12-4dcc-9273-cd493e45

[2022-07-26 13:22] wojtekn opened #65970 "[Bug]: Site's user edit form throws error in the console"
### Quick summary

When I edit the site's user, I see a JS error in the console:

It says it' warning, but it is thrown as an error.

### Steps to reproduce

1. Start local calypso
2. Open any site
3. Navigate to Users and edit a user

### What you expected to happen

There is no error displayed in the JS console.

### What actually happened

Error "Warning: A component is changing an uncontrolled

[2022-07-26 14:09] allilevine commented on #64474
We missed a change here, or maybe we weren't ready to add it yet: `shipment tracking` should be `SEO tools`.

[2022-07-26 14:28] #65964 closed, assigned to renancarvalho

[2022-07-26 14:37] chad1008 commented on #65115
I've been looking at this this morning and I'm finding it hard to reliably reproduce. In my tests FSE themes like Meraki or Antonia don't actually _let_ me modify fonts in the Customizer... that panel just has a notice directing me back to the site editor to manage fonts.

I was able to reproduce it on my Sandbox, though I'm honestly not sure at this point what combination of theme/font changes tr

[2022-07-26 14:43] blackjackkent commented on #65565
I would say so, yes - that should be the information we need for this purpose. :)

[2022-07-26 14:43] #65565 closed, assigned to nobody

[2022-07-26 14:46] metabreakr commented on #62217
5425451-zen

Manually resized images in Affinity Photo; will try the workaround above next time.

[2022-07-26 14:55] mashikag commented on #65741
🚀  Done: D84781-code

[2022-07-26 14:55] #65741 closed, assigned to mashikag

[2022-07-26 15:07] #65928 closed, assigned to nobody

[2022-07-26 15:17] DavidRothstein opened #65972 "[Bug]: "Discount for first year" no longer appearing in checkout"
### Quick summary

When you get a single-term discount during checkout, there should always be some kind of message displayed next to the crossed-out price to indicate that, usually something like "Discount for first year".  The purpose of that is to make clear that the price you're paying now is lower than the price you will pay on future renewals.

Somewhere along the way, a regression happened

[2022-07-26 15:38] heavyweight opened #65973 "Fix useHasSeenWhatsNewModalQuery for Atomic sites"
We use this query [here](https://github.com/Automattic/wp-calypso/blob/6264558dc849d9e9f0d8a776e1d7aca2ab2fae4a/apps/editing-toolkit/editing-toolkit-plugin/help-center/src/help-center.js#L26) and [here](https://github.com/Automattic/wp-calypso/blob/6264558dc849d9e9f0d8a776e1d7aca2ab2fae4a/packages/help-center/src/components/help-center-more-resources.tsx#L44)

The request fails with 404 error
<img

[2022-07-26 15:43] heavyweight opened #65974 "Avoid calling useHasSeenWhatsNewModalQuery for atomic"
We use this query [here](https://github.com/Automattic/wp-calypso/blob/6264558dc849d9e9f0d8a776e1d7aca2ab2fae4a/apps/editing-toolkit/editing-toolkit-plugin/help-center/src/help-center.js#L26) and [here](https://github.com/Automattic/wp-calypso/blob/6264558dc849d9e9f0d8a776e1d7aca2ab2fae4a/packages/help-center/src/components/help-center-more-resources.tsx#L44)

The request fails with 404 error
<img

[2022-07-26 15:53] sirbrillig commented on #65972
D82241-code was the cause. Working on a fix.

[2022-07-26 16:18] allilevine commented on #65457
@cpapazoglou I remember you had reservations about hiding these and user trust. Should we hide them short-term and look for another solution with Elastic Search?

[2022-07-26 16:53] that-mike-bal opened #65981 "Launchpad"
See PT Here: https://cylonp2.wordpress.com/2022/07/11/project-thread-launchpad/
Pages and interactions: https://cylonp2.wordpress.com/2022/07/26/launchpad-i2-page-interactions/
Logic & Flows: https://cylonp2.wordpress.com/2022/07/13/launchpad-i1-logic-flows/

#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Scr

[2022-07-26 16:55] that-mike-bal opened #65982 "Newsletters aka "Superstack""
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-07-26 17:13] #62924 closed, assigned to edanzer

[2022-07-26 17:13] that-mike-bal opened #65985 "Link In Bio"
Approach: https://forgep2.wordpress.com/2022/07/12/a-tailored-experience-for-link-in-bio-sites/

PT for link in bio patterns: https://dotcomdesignp2.wordpress.com/2022/07/07/pt-link-in-bio-patterns/

Designs for new patterns posted for feedback: https://dotcomdesignp2.wordpress.com/2022/07/22/link-in-bio-pattern-designs/

Marketing vision/opportunity via .link partnership: https://forgep2.wordpres

[2022-07-26 17:15] that-mike-bal opened #65986 "Podcast"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-07-26 17:20] michaeldcain commented on #65968
From planning:

Using the dropdown feels like both a usability and code complexity improvement. It seems from the slack discussion that the biggest issue is the confusion around what the discount is relative to in the selected state:

<img width="584" alt="Screen Shot 2022-07-26 at 1 19 16 PM" src="https://user-images.githubusercontent.com/942359/181070403-9b2e3e82-7a51-4161-8fba-bc933d2836c2.png"

[2022-07-26 17:26] michaeldcain commented on #65969
From planning:

We should use `floor()` and round down, since we're technically not providing them 43%.

[2022-07-26 17:29] michaeldcain commented on #65941
From planning:

Although not super important since plan provisioning will happen on the backend, some flow that require Atomic provisioning (ecommerce and Marketplace plugins) are triggered from the front-end.

[2022-07-26 18:23] jeyip commented on #64131
Working on atomic 👍

[2022-07-26 18:23] #64131 closed, assigned to jeyip

[2022-07-26 18:56] #65972 closed, assigned to sirbrillig

[2022-07-26 19:06] lucasmendes-design commented on #65968
I'm looking on that 👍🏼

[2022-07-26 19:09] davemart-in commented on #25575
Gonna close this one for now. Happy to re-open if customers report it or if someone wants to work on it.

[2022-07-26 19:09] #25575 closed

[2022-07-26 19:11] davemart-in commented on #25403
Gonna close this one for now. Happy to re-open if customers report it or if someone wants to work on it.

[2022-07-26 19:11] #25403 closed

[2022-07-26 19:15] davemart-in commented on #23426
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-26 19:15] #23426 closed

[2022-07-26 19:17] davemart-in commented on #23149
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-26 19:17] #23149 closed

[2022-07-26 19:25] andres-blanco commented on #65698
The badge was already removed here: https://github.com/Automattic/wp-calypso/pull/65753

[2022-07-26 19:35] davemart-in commented on #21559
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-26 19:35] #21559 closed

[2022-07-26 19:40] davemart-in commented on #6394
Gonna close this one for now. Happy to re-open if additional customers report it.

To me the root level solution would be to simply unfollow the person who is spamming you.

[2022-07-26 19:40] #6394 closed

[2022-07-26 19:44] davemart-in commented on #12772
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-26 19:44] #12772 closed

[2022-07-26 19:45] davemart-in commented on #928
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-26 19:45] #928 closed

[2022-07-26 19:49] davemart-in commented on #38710
Closing this issue as there is a project in the works to redesign the action bar: pe7F0s-1U-p2

[2022-07-26 19:49] #38710 closed

[2022-07-26 19:50] JoshuaGoode commented on #65801
Perhaps we could put more focus and higher priority on offering an easy option to restore the backup.  https://github.com/Automattic/wp-calypso/issues/49109

[2022-07-26 19:50] davemart-in commented on #44492
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-26 19:50] #44492 closed

[2022-07-26 19:52] davemart-in commented on #7342
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-26 19:53] davemart-in commented on #51786
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-26 19:53] #51786 closed, assigned to nobody

[2022-07-26 20:11] JoshuaGoode commented on #49109
@Automattic/yamato-backup Is such a feature in the roadmap for Jetpack Backup?  Would this issue be better served in another repo?

---

Reitertaring that this is especially useful for sites that reverted or downgraded but are returning to WPCOM Atomic and we no longer have on-file backups.

Note that other services and apps make importing manual and Jetpack backups easy.  Here's an example of Loc

[2022-07-26 20:23] kerrynicl opened #65991 "Biyearly Plans show full cost per year on subscription page"
### Quick summary

Bi yearly plans are showing the full cost of the subscription for an annual period ( full Cost / year)

### Steps to reproduce

- Add a biyearly plan to an account
- Visit the subscription page from the Purchases page on the account

### What you expected to happen

To show correct price per year or price per period

### What actually happened

It shows the full cost per year (w

[2022-07-26 20:36] allilevine commented on #63179
From backlog grooming: alternatively, we could use a workaround hack using front-end plugin data. See p1658813074856179/1658765131.121169-slack-C03FE3T479R

[2022-07-26 20:37] mreishus commented on #65857
Just verified the behavior:

- Payton = A premium theme I haven't bought, both are theme.price and this.props.price = "$50"
- Skivers = A premium theme I have bought, theme.price is "$50" and this.props.price = ""
- Livers = A free theme, theme.price is undefined and this.props.price = ""

[2022-07-26 20:54] mreishus commented on #65857
## Current Confusing Implementation

`components/theme/index.jsx` is using the this.props.price to figure out if a theme has been purchased in a confusing way. This is coming from a `getPrice` prop, which is using a `getPremiumThemePrice` selector. This is [specced to return empty string for a theme that is not premium or a premium theme that is purchased](https://github.com/Automattic/wp-calypso/

[2022-07-26 20:57] obenland commented on #65872
Do you have a site that has that plugin installed? If not, it will show the blank screen (which is not great, but expected).
So the direct link depends on the user having at least one site with that plugin installed.

[2022-07-26 20:59] obenland commented on #64118
Closing for now. Please feel free to reopen if expectations around SSO are different from the above.

[2022-07-26 20:59] #64118 closed, assigned to nobody

[2022-07-26 21:02] obenland commented on #65527
Closing in favor of #65525

[2022-07-26 21:02] #65527 closed, assigned to nobody

[2022-07-26 21:12] phcp opened #65994 "[New Liked Post] Update Unsubscribe footer"
### Details
- The footer should display the following text:
    - **Want less email?** Modify your _notification options_.
- Where "notification options" should be a link to the notification settings

### Screenshots

#### Implemented layout
![Image](https://user-images.githubusercontent.com/3113712/181112792-e644768f-27b9-42ec-ba78-189ea36bc657.png)

#### New layout
![Image](https://user-images.g

[2022-07-26 21:18] obenland commented on #65385
This notice gets displayed when a site is blocked from being transferred. After a site got reverted the block is put in place to allow the lossless revert to complete and prevent data loss.

The block gets removed once the revert import completed, in my testing around 10 mins after removing the plugin.

[2022-07-26 21:37] danielbachhuber opened #65995 "Social Auth: Create funnels for and document new Tracks events"
In #65865 and #65911, we added new Tracks events to track progress on the Google and Apple auth flows:

* log in (`/log-in`);
* sign up (`/start/user`);
* account linking (`/me/security/social-login`).

We should make sure they're appropriately documented.

**Done is:**

- ~~[ ] We have Tracks funnels for each of the primary flows.~~
- [x] We have a Field Guide page documenting each Track event fo

[2022-07-26 21:41] #65649 closed, assigned to danielbachhuber

[2022-07-26 22:01] worldomonation commented on #64841
End-to-end development tasks are complete in the context of WordPress.com/Calypso.

[2022-07-26 22:02] worldomonation commented on #64841
@lsl Could you possibly elaborate on these two items?

- Adding a Jetpack connection
- Logging into woocommerce using oauth

[2022-07-26 22:53] worldomonation commented on #65566
Fixed in https://github.com/Automattic/wp-calypso/pull/65612.

[2022-07-26 22:53] #65566 closed, assigned to worldomonation

[2022-07-26 22:59] worldomonation opened #65999 "E2E: remove user signup coverage from `Signup: Paid` spec."
### Details

Similar to https://github.com/Automattic/wp-calypso/issues/64418, the `Signup: Paid` spec now overlaps with `Plans: Create a WordPress.com Business site as exising user` in `plans__signup-business.ts`.

### Checklist

_No response_

### Related

_No response_

[2022-07-27 00:31] SaxonF commented on #65698
@valterlorran let's stick with the existing card size for this project. In further showcase iterations we can change the size and aspect ratio

[2022-07-27 00:32] desnum commented on #65033
Another case in 654050-hc using the Argent theme

[2022-07-27 00:43] WBerredo opened #66001 "Plugin Details: Sidebar shouldn't take full height"
The sidebar should use the space of the content and shouldn't take the full height as it is currently.

---

From @cpapazoglou at https://github.com/Automattic/wp-calypso/pull/65318#pullrequestreview-1040484761:

![](https://user-images.githubusercontent.com/12430020/179258496-8b8022bd-3355-4f88-ba18-1f3c37a30736.png)

[2022-07-27 00:43] lsl commented on #63179
From same thread: Wondering if these planned changes have an impact on this as it will mess with the way plugins get installed / activated and the timing of it. pdh6GB-1FC-p2

[2022-07-27 00:55] lsl commented on #64841
The woocommerce flow is using our oauth infra on wordpress.com (mix of calypso's code and php code).

The Jetpack connect flow is using I think part of the same oauth flow but it might be something separate, jetpack code, and probably calypso for some part of the flow.

I've also recently been made aware that woo uses its own oauth code path so we might need an extra test to cover one of gravatar,

[2022-07-27 01:54] lucasmendes-design commented on #65968
I wouldn't suggest using the dropdown variant. We can use the radio as the default variant.

<img width="504" alt="image" src="https://user-images.githubusercontent.com/98343583/181135580-1ee88655-5bd3-47ec-b5a7-1495568923b2.png">

IMO, the copy is confusing because we're showing different prices range (month, year and two years). Normally, what we do is standardize showing by the default per mont

[2022-07-27 01:54] creativecoder commented on #65955
Actually, I don't think this is a problem as I've outlined in this issue.

What I'm noticing is if you open the "Update your homepage" task in /home in one tab, and then open another tab and change themes. The task button text in the first tab will change ("Edit site" or "Edit homepage"), but the link will not. For example, if you switch from a classic theme to an FSE theme, the button text will u

[2022-07-27 01:54] #65955 closed, assigned to nobody

[2022-07-27 02:15] lucasmendes-design commented on #65968
Adding the copy "First-year discount"

<img width="577" alt="image" src="https://user-images.githubusercontent.com/98343583/181145757-02ac4689-d70d-44a9-aa26-d262f806fcd8.png">

cc: @DavidRothstein

[2022-07-27 02:34] jordesign commented on #64682
- [ ] Another user in 36206742-hc

I've provided the CSS workaround and opened a follow up ticket in 5426838-zd-woothemes

[2022-07-27 02:41] jeyip commented on #57812
Thank for sharing the knowledge @JoshuaGoode. Spent today narrowing things down.

- It seems like the most likely culprit for this issue is [this PR](https://github.com/Automattic/wp-calypso/pull/56899), which removed Calypso's implementation of the preview modal in favor of the core Gutenberg preview feature.
- We're seeing issues because the core Gutenberg preview feature opens in a new window p

[2022-07-27 03:17] arunsathiya opened #66004 "Feature request: Facebook Page widget block for Site Editor"
### What

Users would like to add the Facebook Page widget on the site editor of themes that support full site editing. The widget is currently available only for pre-FSE themes:

https://wordpress.com/support/facebook-integration/#facebook-page-widget

Not being able to add the widget to Full Site Editing themes is a downgrade in UX.

### Why

Brings over the legacy widget/block feature to the Si

[2022-07-27 03:17] arunsathiya commented on #66004
36032244-hc.

[2022-07-27 04:40] rw-ye commented on #62279
+1 36208072-hc

[2022-07-27 05:04] #64474 closed, assigned to lupus2k

[2022-07-27 05:15] InsomniacSabbir commented on #55822
Another case here: 5420155-zd-woothemes

[2022-07-27 06:28] simison commented on #30265
👍 Closing

[2022-07-27 06:28] #30265 closed

[2022-07-27 06:40] rw-ye commented on #65115
Another report here: 5426707-zd-woothemes

Theme: Videomaker White

I noticed that immediately after switching to the Videomaker White theme, none of the font options show in the dropdown for Global Styles and under the Headings block.

I found that switching to Videomaker brought all the font options back on both Simple and AT sites.

[2022-07-27 06:42] devNigel opened #66008 "Videomaker White: Global Styles lacks font options."
### Quick summary

For the theme Videomaker White, the font family option in Global Styles Typography setting is limited. It shows only:

* Default
* Body ( Inter )
* Headings ( Inter )

Meanwhile, other FSE themes including Videomaker comes with dozens of font options.

### Steps to reproduce

1. Activate Videomaker White.
2. Go to Appearance > Editor > Styles > Typography > Text > Font family.
3

[2022-07-27 06:45] sophiegyo commented on #63583
Another report in 5413039-zen

I tested it on a free site of my own and I also found it did not work.

[2022-07-27 06:50] #65709 closed, assigned to ivan-ottinger

[2022-07-27 06:51] mashikag commented on #65472
✅ Done: D84301-code

[2022-07-27 06:51] #65472 closed, assigned to phcp

[2022-07-27 07:32] Robertght commented on #66008
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could replicate this with Videomaker White, but not with Videomaker, Kerr or Alonso so it appears to be specific for now.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Added to Serenity's d

[2022-07-27 07:36] Robertght commented on #65115
@rw-ye The one above with Videomaker White is related to this bug: https://github.com/Automattic/wp-calypso/issues/66008

For now, related to this one, I'm cc'ing @pbking for a second look.

[2022-07-27 07:38] rw-ye commented on #66008
User report: 5426707-zd-woothemes

Recommended Videomaker instead for now.

[2022-07-27 07:46] daledupreez commented on #51996
@mpkelly and @DavidRothstein, I think we can close this issue with PR #65365 getting merged to production. Can you confirm?

[2022-07-27 07:47] #51996 closed, assigned to nobody

[2022-07-27 07:57] daledupreez opened #66009 "[Bug]: Email digest not being delivered"
### Quick summary

A user reported that they received a weekly digest subscription containing posts from around two months of content -- previous digests were not sent to the user.

### Steps to reproduce

The steps to reproduce aren't clear, as the user just noticed their overfull (and overdue) email when it arrived after the long interval.

### What you expected to happen

The user should have r

[2022-07-27 08:32] cpapazoglou commented on #65457
That's correct. We shouldn't totally hide them, we can though make them less prominent like moving them to the bottom of a search list. Also, we can avoid showing them in categories.

It seems like we should move the [incompatiblePlugins](https://github.com/Automattic/wp-calypso/blob/a0d28efdd4d19513e4b201b6701045906473ed53/client/my-sites/plugins/plugin-compatibility.js#L1-L136) in WPCOM and use

[2022-07-27 09:22] cpapazoglou commented on #65525
D84517-code is ready for review.

[2022-07-27 09:41] dolgelukkig opened #66010 "Whatsapp icon changes in generic icon when whatsapp link is added"
### Quick summary

Using the social menu in the theme Karuna displays a Whatsapp icon in the demo but it changes to the chain icon when a Whatsapp number is added instead of whatsapp.com.

### Steps to reproduce

Open a site, activate the theme Karuna
When the theme is activated and the social menu is displayed it also shows a Whatsapp icon.
![Markup 2022-07-27 at 11 19 22](https://user-images.git

[2022-07-27 09:56] p-jackson commented on #65168
The current site switcher at `/sites` makes sure that the user's primary site appears at the top of the list. This feels like a more important signal for having it appear at the top than the fact it was updated recently. We may not need to update that site again for a while, but the primary site was explicitly flagged by the user so that it would appear in prominent places in the UI.

[2022-07-27 10:04] wojtekn commented on #65168
@p-jackson, wouldn't we handle this using the "favorites" system in which users can decide which sites should be displayed in a more prominent place? Or if we choose to lock such a site now and make it ignore sort order, should we mark it somehow on the design level too?

[2022-07-27 10:04] yansern commented on #65710
This work will be taken over by another team. pdgv5Y-mK-p2#comment-174

[2022-07-27 10:04] #65710 closed, assigned to JuanLucha

[2022-07-27 10:32] danielbachhuber commented on #64751
Mailpoet switched to a SVG menu icon for Calypso compatibility with https://github.com/mailpoet/mailpoet/pull/4268

[2022-07-27 10:32] #64751 closed, assigned to danielbachhuber

[2022-07-27 11:30] wojtekn opened #66011 "[Bug]: admin user can see the "Remove" button when he edits the site's owner"
### Quick summary

Admin user can see the "Remove" button when he edits the site's owner. The actions are blocked on the API side, so after he clicks that button, he gets an error, and the owner is not deleted.

We should improve the UX to not display that button at all and display informative text saying that the owner can't be removed.

It works correctly for Atomic or Jetpack sites.

### Steps

[2022-07-27 11:36] #65933 closed, assigned to yansern

[2022-07-27 11:36] mashikag commented on #65933
✅ Done: D84839-code

[2022-07-27 12:20] arunsathiya opened #66013 "Feature request: Blog Stats widget block for Site Editor"
### What

Users would like to add the Blog Stats widget on the Site Editor of themes that support full site editing. The widget is currently available only for pre-FSE themes:

https://wordpress.com/support/widgets/blog-stats-widget/

Not being able to add the widget to Full Site Editing themes is a downgrade in UX.

### Why

Brings over the legacy widget/block feature to the Site Editor, thus bei

[2022-07-27 12:21] arunsathiya commented on #66013
35391512-hc.

[2022-07-27 13:09] #63714 closed, assigned to WBerredo

[2022-07-27 13:26] BogdanUngureanu opened #66014 "Dotcom Marketplace: Add "Product recommendations" to the Dotcom Marketplace"
D84917-code

[2022-07-27 13:44] #65767 closed, assigned to sejas

[2022-07-27 14:12] #65930 closed, assigned to heavyweight

[2022-07-27 14:28] andres-blanco commented on #56869
Fix deployed behind flag. See paYKcK-1Wj-p2 for more details.

[2022-07-27 14:44] renata-franco commented on #65667
📌 HOUSEKEEPING (To be removed once checked)

- Transfer to A8C Repos if needed, or Create new issue in Gutenberg

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes/No

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this issue on posts and pages on Simple, AT, and Self-Hosted as well.

However, it takes a bit more steps to get to

[2022-07-27 14:51] Babylon1999 commented on #57812
5428038-zd

[2022-07-27 14:53] michaeldcain opened #66017 "Domain Upsell Nudge: redirect users to domain search first"
In #51609, we updated the "Free domain with annual plan" sidebar upsell nudge to direct users to pick a plan before searching for a domain (instead of adding one silently in the background). This was to address user confusion and refund requests.

Since the goal of the upsell nudge is to get a domain, let's update the flow to:

1. Click nudge
2. See Domains search page
3. If a domain is added, see

[2022-07-27 15:04] renata-franco commented on #65706
📌 SCRUBBING

- Tested on AT ✅

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was not able to replicate this. I created a new site, turned it into an AT site, and did not launch it. It was still showing Coming Soon when visiting from several devices not logged in or proxied.

------

📌 ACTIONS

- Closed as could not replicate (please reopen the issue reoccurs)

-------

📌 Message to Author

I see there w

[2022-07-27 15:18] renata-franco commented on #65716
📌 HOUSEKEEPING (To be removed once checked)
- Check if it is a repeated bug report
- Check labels and add contextual labels
- Assign applicable priority
- Check that Title matches the context of the report, and update if needed
- Transfer to A8C Repos if needed, or Create new issue in Gutenberg

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Replicable on Core - Yes/No

-----

[2022-07-27 15:26] #65717 closed, assigned to nobody

[2022-07-27 15:32] renata-franco commented on #65719
📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was not able to replicate this.

------

📌 ACTIONS

- Closed as duplicate of #65717

📌 Message to Author

This is a duplicate. Closing.

[2022-07-27 15:58] creativecoder opened #66020 "Site editor: all Atomic sites redirecting to wp-admin after trying to load editor iframe."
### Quick summary

It appears that all Atomic sites are redirecting to wp-admin when loading the Site editor.

The main problem with this, in my mind, is that it's a performance issue--there's at least a few second lag while the iframe tries to load before redirecting that adds to the already considerable loading time of the Site editor.

### Steps to reproduce

For an Atomic site with a block the

[2022-07-27 16:20] ivan-ottinger commented on #65937
This task is now waiting for the following patch to be merged: D84925-code.

[2022-07-27 16:23] ivan-ottinger opened #66021 "[New Liked Comment] Move social-notifications helper functions out of their class"
More context: D84925-code.

[2022-07-27 16:30] AtrumGeost commented on #30426
I ran a quick test and confirmed the issue is fixed on Simple sites. But it persists on AT sites.

[2022-07-27 17:00] renata-franco commented on #65739
📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this issue on Simple and AT sites, as well as self-hosted.

**AT site, Simple site, and Self-Hosted site:**

<table>
<tr>
	<td> Editor Look
	<td>
<img width="854" alt="imagen" src="https://user-images.githubusercontent.com/81378719/1

[2022-07-27 17:15] renata-franco commented on #50740
Hi @daledupreez and @mpkelly. Any progress on this issue? Can we get an update, please?

[2022-07-27 17:19] dcoleonline commented on #66010
- [ ] 5427608-zen We should reply here once this is resolved.

[2022-07-27 17:37] dcoleonline commented on #51371
- [ ] 5427285-zen

I told them to switch to classic pages for now https://web.facebook.com/business/help/664061057662340?_rdc=1&_rdr

[2022-07-27 18:15] andres-blanco opened #66023 "Theme modal on Atomic: Preview not working on private sites"
The modal that pops up when activating a theme in an Atomic site shows the wrong preview if the site is private.

| Expected  | Actual result |
| ------------- | ------------- |
| <img width="778" alt="image" src="https://user-images.githubusercontent.com/375980/181342474-3c6e6299-6852-4ebd-8817-278115ecc462.png"> | <img width="773" alt="image" src="https://user-images.githubusercontent.com/375980

[2022-07-27 18:37] ccwalburn commented on #64682
- [ ] Another report 5425584-zen

Provided the CSS workaround.

[2022-07-27 18:46] supernovia commented on #43036
This is still a big thing.

@ianstewart -- now that block locking is available, could we lock the Post Content block or otherwise somehow stop people from deleting it?

Noting [a similar issue in Core](https://github.com/WordPress/gutenberg/issues/28779), but if that would be long in coming, perhaps we could at least set up our themes that way on .com?

[2022-07-27 19:18] daledupreez commented on #50740
Hi @renata-franco, thanks for pushing us on this issue! Automattic/jetpack#24966 was approved earlier today, so we will be merging that to the trunk branch tomorrow. That should allow us to roll the new capability out to WordPress.com Simple sites tomorrow, with sites that have plugins getting access to the capability early next week.

I have also started work on D84947-code, which will allow us t

[2022-07-27 19:21] csabarakasz opened #66025 "Biyearly plan price shows incorrectly on the Purchases page."
### Quick summary

User reports (5426144-zd-woothemes) that the BiYearly plan shows up incorrectly on the https://wordpress.com/purchases/subscriptions/ page, or at the https://wordpress.com/me/purchases page.

The plan is Biyearly, and it shows US $84/ year. $84 USD is the biyearly Personal plan cost. It should say $42 / year or $84 / 2 years.

![CleanShot 2022-07-27 at 21 09 02](https://user-ima

[2022-07-27 19:35] andres-blanco opened #66026 "Theme subscriptions: Missing UI changes"
This is an issue to track missing UI changes to the seller upgrade modal mentioned in [this PR](https://github.com/Automattic/wp-calypso/pull/65752):
* TODO: Get actual premium pricing data (waiting on https://github.com/Automattic/wp-calypso/issues/65569 )
* TODO: Figure out where link to plan under button should go (checkout with plan?)
* TODO: Pass subscription choice back to checkout function

[2022-07-27 19:50] andres-blanco commented on #66026
The last two items will be resolved by D84731-code, for the first one we need to find out how is it done for other products.

[2022-07-27 20:53] sirbrillig commented on #63015
FWIW, the Personal plan is added by the shopping-cart endpoint validator. That validator has this comment:

[2022-07-27 21:59] JulianBustamante commented on #60661
Deployed r249709-wpcom

[2022-07-27 22:06] JulianBustamante commented on #65682
Diff created D84965-code

[2022-07-27 22:11] p-jackson commented on #65168
@wojtekn do we already have such a "favourites" system? I may have missed this! If we do, then yes I think the favourites should be appearing at the top of the dashboard.
The primary site ([set here](https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs)) is like a favouriting system, but you're only allowed one favourite 😅

The current site list puts [the primary site at the top and th

[2022-07-28 00:35] lsl opened #66033 "Marketplace: Order top paid and browse paid plugins by sales"
We won't be able to order these properly by real sales data for a while. (Until the ES integration is complete and sales data is feeding into it.)

In the meantime we'd like to prioritize ordering paid plugins by sales data to make sure the most popular plugins are being surfaced to users as early as possible.

The current order determining what plugins show up in the paid section first is control

[2022-07-28 03:21] bangank36 commented on #65925
Closed as shipped

[2022-07-28 03:21] #65925 closed, assigned to bangank36

[2022-07-28 03:26] taipeicoder commented on #64998
@roo2 I think we can close this one.

[2022-07-28 03:40] #65335 closed, assigned to jimmy319

[2022-07-28 05:01] lsl opened #66034 "Marketplace: copy check sensei pro JITM"
The Sensei Pro JITM needs more context. "More with Sensei Pro" is kind of meaningless as far as sentences go. Could we explain what more you'll get with this plugin?

For context, the Yoast spotlight uses "Drive more traffic with Yoast SEO Premium."

![Screenshot 2022-07-28 at 15-01-26 Plugins ‹ Site Title test — WordPress com](https://user-images.githubusercontent.com/811776/181424441-6608e50a-2b

[2022-07-28 05:07] galakhyati commented on #53716
Another case: 36223295-hc
Follow up: 5430107-zd-woothemes

Screenshots:
![Markup on 2022-07-28 at 10:36:14](https://user-images.githubusercontent.com/7382505/181425057-0a40700c-bf37-44a9-a5f4-b16fd42165f7.png)
![Markup on 2022-07-28 at 10:36:47](https://user-images.githubusercontent.com/7382505/181425077-d0a8ebff-a069-46ba-a342-ecde27bb4605.png)

[2022-07-28 05:25] lsl opened #66035 "Marketplace: checkout terms acceptance"
The checkout term acceptance setup is kind of confusing, we've got a "By checking out" section with some terms then a secondary additional terms section.

![Image](https://user-images.githubusercontent.com/811776/181426112-b6d77ae0-099e-480d-af96-cb19da093d58.png)

The error message then refers to "above" but its not entirely clear which terms its relating to, usually when there is a checkbox, the

[2022-07-28 06:34] vishnugopal commented on #59527
This is tested and fixed on Simple and Atomic sites. Please reopen if there's any issue! Thanks for patience 🙏🏽

[2022-07-28 06:34] #59527 closed, assigned to zaerl

[2022-07-28 06:59] jimmy319 opened #66036 "Blogger importer: the progress bar should not overlap with the status text"
**Issue:**

The progress bar should not overlap with the status text like this:

![Image](https://user-images.githubusercontent.com/1024985/181441674-de479850-b4f4-4c41-8908-bd69c5667c5e.png)

[2022-07-28 07:05] devNigel commented on #65739
@renata-franco  Do you have CoBlocks active? Based on [this thread](p1658989696450379/1658988071.088579-slack-C03TY6J1A), it looks like it is a feature from CoBlocks.

[2022-07-28 07:16] rinazrina opened #66037 "Payton: Default font doesn't apply on the editor"
### Quick summary

The editor is showing a different font than the default. The issue only occurs in desktop view. The font looks correct on Mobile view and Tablet view. It's also correct on the Preview in new tab and on the published version.

Noting there is another report on Payton font here that might be related: https://github.com/Automattic/themes/issues/6289

### Steps to reproduce

Start w

[2022-07-28 07:27] wojtekn commented on #65168
We don't have such a system yet. There is a primary site field (aka single favorite system 😂) you mentioned, and the Dashboard = Visible/Hidden field. The "Dashboard" field looks like used by the current switcher.

Jetpack uses favorites system p1HpG7-gyF-p2 and I mentioned it at pdKhl6-on-p2#comment-334

I saw that in the current switcher, my primary site is displayed at the top in most cases. So

[2022-07-28 07:53] gavande1 commented on #65347
I had [brief discussion](p1658895973548579-slack-C02AVAR9B) with Barry about introducing new namespace for marketplace. It seems they advised against it asked if we could use implement new routes under `/rest/` namespace.

[2022-07-28 08:21] vishnugopal opened #66039 "Fix back routing from Pick a design page"
See: p1658991360030349/1658984878.232269-slack-C01A60HCGUA

[2022-07-28 08:30] arthur791004 opened #66040 "Baskerville 2: The value of the content width is wrong"
### Quick summary

The content width of the Baskerville 2 theme is incorrect so the width of the image is smaller than the content width and the image cannot occupy the entire column which looks weird.

Besides, the customer also mentioned this behavior only happened recently and it works well several days ago.

Related to 5427858-zd-woothemeswhich

### Steps to reproduce

1. Switch to Baskerville

[2022-07-28 08:53] ivan-ottinger opened #66041 "[All] Fix font-size inconsistency in the email templates on mobile"
There seems to be a font-size inconsistency between links and normal text in the new email templates on mobile:

|   |  |
| ------------- | ------------- |
| ![Image](https://user-images.githubusercontent.com/25105483/181465154-69183e27-258c-40b8-af48-351994317471.jpeg) |   ![Image](https://user-images.githubusercontent.com/25105483/181465155-620480fc-a792-4709-9a37-da4ca66ec141.jpeg) |

Reproduce

[2022-07-28 09:07] devNigel commented on #44844
Another request: 36224656-hc

[2022-07-28 09:28] #66014 closed, assigned to BogdanUngureanu

[2022-07-28 09:36] ahegyes commented on #61295
We got a report of this happening again just the other day: 5409300-zd-woothemes

The user was kind enough to share their Word document with me, and I was able to isolate the troublesome part in this "Lorem Ipsum" version of it: [Pasted as PNG bug.docx](https://github.com/Automattic/wp-calypso/files/9207782/Pasted.as.PNG.bug.docx)

Basically what I think is going on is that the picture embedded in

[2022-07-28 09:47] p-jackson commented on #65168
This is a good point. If we added a dropdown so the user could choose a sorting method then each of the options would be named after one of the columns. But what would the option that put "primary" at the top be called in the dropdown? "Special a8c sorting"?
So I like your principle that tables should be sorted by one of their column. If in the future we had a proper favouriting system then it'd p

[2022-07-28 10:00] p-jackson commented on #65674
As of #65769 our core `<SitesDashboard>` component is now responsible for the main features of our dashboard: filtering, searching, sorting.

[2022-07-28 10:00] #65674 closed, assigned to p-jackson

[2022-07-28 10:01] cpapazoglou commented on #65525
Deployed r249736-wpcom

[2022-07-28 10:03] Robertght commented on #61295
It looks like this may come as a fix in Gutenberg 13.8: https://github.com/WordPress/gutenberg/pull/42321

[2022-07-28 10:05] #65525 closed, assigned to cpapazoglou

[2022-07-28 10:07] rickmgithub opened #66043 "Series and Episode Numbers on Podcast Feeds"
### What

A common feature now found on podcast hosts is the ability to add an episode and series number to an episode.

For example on Anchor.FM it can be found here -
![Markup on 2022-07-28 at 10:55:38](https://user-images.githubusercontent.com/13706336/181477880-abbed7a3-50c2-4016-a405-dd7809b39947.png)

On the Serious Simple Podcasting Plugin it's here -
![Markup on 2022-07-28 at 10:56:15](htt

[2022-07-28 10:09] daledupreez commented on #65757
I looked into this some more, and things aren't that simple. 🙃

The [WordPress.com docs for the Calendly block](https://wordpress.com/support/wordpress-editor/blocks/calendly-block/) are much more comprehensive than the [Jetpack docs for the Calendly block](https://jetpack.com/support/jetpack-blocks/calendly-block/). I have reached out to the Jetpack docs team, and will see if we can improve that

[2022-07-28 10:11] mcsf commented on #61295
@ahegyes: I'm not detecting anything unexpected in my testing using the file you provided, so could you record a quick video of the issue? Thanks.

[2022-07-28 10:11] arunsathiya commented on #52241
11434269-hc.

[2022-07-28 10:17] cpapazoglou commented on #65528
Same happens with the onboarding flow and when trying to buy - install through WC.com
<img width="1371" alt="CleanShot 2022-07-28 at 13 13 20@2x" src="https://user-images.githubusercontent.com/12430020/181481487-1273271e-ae0e-4ace-b4b0-7ccfde2747e7.png">

<img width="1118" alt="CleanShot 2022-07-28 at 13 16 03@2x" src="https://user-images.githubusercontent.com/12430020/181482017-ba4ddc92-10f2-495e

[2022-07-28 10:20] cpapazoglou commented on #65622
I unchecked the `Add recommended business features to my site` and continue button worked for me. Closing this as duplicate of https://github.com/Automattic/wp-calypso/issues/65528, we need to better handle the `plugin_install` permission holistically.

[2022-07-28 10:20] #65622 closed, assigned to nobody

[2022-07-28 10:21] cpapazoglou commented on #65622
Also, Woo Payments is now bundled with woocommerce extensions pdh6GB-1HZ-p2

[2022-07-28 10:21] Robertght commented on #65917
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the issue occurs when the block is inside the editor and not when it's added in a single page or psot.
- This is a known issue with FSE and the Slideshow block as discussed here:
https://gith

[2022-07-28 10:21] #65917 closed, assigned to nobody

[2022-07-28 10:24] Robertght opened #66044 "Testing automtions"
### Quick summary

does it sill work?

### Steps to reproduce

1

### What you expected to happen

2

### What actually happened

3

### Context

_No response_

### Platform (Simple, Atomic, or both?)

_No response_

### Theme-specific issue?

_No response_

### Browser, operating system and other notes

_No response_

### Reproducibility

_No response_

### Severity

_No response_

### Available

[2022-07-28 10:25] #66044 closed, assigned to nobody

[2022-07-28 10:25] renata-franco commented on #65739
No, I do not have CoBlocks on any of the sites. We stopped having that plugin as default a while ago. Can you try deactivating it on the site where you took the screenshot to see if the option still appears?

[2022-07-28 10:27] renata-franco commented on #50740
Thanks so much for the update, @daledupreez :D I am so glad that this is moving along.
I will wait patiently! 💯 🤩

[2022-07-28 10:29] Nic-Sevic opened #66045 "Theme homepage replacement not working on all themes"
### Quick summary

The homepage replacement doesn't consistently but not clear what difference between themes is

### Steps to reproduce

1. On AT site apply flag on themes page (?flags=themes/atomic-homepage-replace)
2. Change to a variety of different themes (ex. Archeo and Calvin)
3. See how styles change for all but content only replaced for some

### What you expected to happen

content of ho

[2022-07-28 10:35] ivan-ottinger commented on #65798
I have deployed the patch now: D84581-code. Changeset: r249738-wpcom.

[2022-07-28 10:35] #65798 closed, assigned to phcp

[2022-07-28 10:35] wojtekn commented on #65168
I wouldn't treat displaying primary at the top as a sorting. I would think of it as a sticky row that is locked and ignored in the context of sorting. Similar to locking rows in the spreadsheet.

Regarding the sort option matching the content displayed in the table, I meant the case in which we would show "Last Publish" and sort by "Last Accessed". If we decide to sort by "Last Accessed", it would

[2022-07-28 10:43] ivan-ottinger commented on #66021
D84925-code is now deployed to production. Changeset: r249739-wpcom.

[2022-07-28 10:43] #66021 closed, assigned to ivan-ottinger

[2022-07-28 10:44] Robertght commented on #66037
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the behavior described here and in https://github.com/Automattic/themes/issues/6289

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Flagged it for @Automattic/serenity

We have an

[2022-07-28 10:46] ivan-ottinger opened #66047 "[New Liked Comment] Fix display conditions of the "Great posts" section"
More context can be found in D85002-code.

[2022-07-28 10:53] ahegyes commented on #61295
@mcsf Here's a recording of my screen performing the steps: https://d.pr/v/jQOwGE

[2022-07-28 10:59] bangank36 commented on #64960
Closed as shipped

[2022-07-28 10:59] #64960 closed, assigned to bangank36

[2022-07-28 11:09] mpkelly commented on #63880
Update: this has been fixed and should be rolling out shortly.

[2022-07-28 11:12] dragstor commented on #52241
28750711-hc

[2022-07-28 11:24] epeicher commented on #64573
After some investigation, it looks difficult to have the exact same results between _wporg_ and _wpcom_ but it is worth noting that the principles of getting results to the top should be similar and based on:
- Search phrase as the main criteria
- Lots of active installs
- Good user reviews

More context [here](p1658912237306409/1658911357.117719-slack-C02JPCHEKDY)

Please note that I have removed

[2022-07-28 11:54] mcsf commented on #61295
Thanks, @ahegyes. I can only repro in Chrome, at least on macOS. Firefox and Safari both do the right thing. Can you confirm that, on Windows, this only affects Chrome and not Firefox? Is Edge also affected (since it's based on Chromium)?

[2022-07-28 12:18] mikeicode commented on #65757
@daledupreez

I'm assuming the link to the Calendly site showed a page explaining how to change the colors from the actual embed, like their current [support page](https://help.calendly.com/hc/en-us/articles/223147027-Embed-options-overview), under **Customizing your embed > Customize the color and button text**:

![Screen Shot on 2022-07-28 at 08:15:57](https://user-images.githubusercontent.com/1

[2022-07-28 12:22] ahegyes commented on #61295
So I went ahead and tried this again on both laptops @mcsf; for some reason, I was **not** able to reproduce this on Windows neither on Edge, Chrome, or Firefox (now I'm questioning whether I actually tried or just meant to and forgot earlier -- apologies for that);

On macOS, however, I could consistently reproduce this both in Chrome and Edge. It works for me in Firefox and Safari. The recording

[2022-07-28 12:51] cpapazoglou commented on #65523
Diff created D85003-code

[2022-07-28 12:54] gavande1 commented on #65347
Deployed r249744-wpcom behind a11n check.

[2022-07-28 13:10] cpapazoglou commented on #65523
After applying the patch I am getting the following in Calypso checkout

<img width="2056" alt="CleanShot 2022-07-28 at 16 09 37@2x" src="https://user-images.githubusercontent.com/12430020/181513120-77afc87d-3053-4a4b-9a52-4eaf8565eb9b.png">

Except this "error" plugins have been successfully installed and are usable.

[2022-07-28 13:22] daledupreez commented on #65757
Thanks for taking a look at this, @mikeicode! I was debating whether we want to link to their docs for two reasons:
1. They have already updated and removed the previous content, so their track record isn't stellar
2. They don't have an anchor for the _Customize the color and button text_ section, _and_ the anchor for the broader _Customizing your embed_ section is simply `#3`, which doesn't make

[2022-07-28 13:25] ivan-ottinger commented on #66047
The patch is now ready for review: D85002-code.

[2022-07-28 13:31] andres-blanco commented on #66045
This is most likely related to flags missing in `style.css` file on themes and not directly related to Atomic.

Related issues and diffs:
* https://github.com/Automattic/wp-calypso/issues/65900
* D83131-code

[2022-07-28 13:35] #65887 closed, assigned to rcrdortiz

[2022-07-28 13:36] rcrdortiz commented on #65887
744-gh-Automattic/dotcom-manage

[2022-07-28 13:36] rcrdortiz commented on #65887
p9o2xV-2hW-p2

[2022-07-28 13:41] ivan-ottinger commented on #65937
D84925-code is now merged and deployed. One more patch to be deployed (D85002-code) and then, finally we can move forward with this task. :)

[2022-07-28 13:43] cpapazoglou commented on #65611
Is this a duplicate?

[2022-07-28 14:03] WBerredo commented on #65611
Yes, and its better described as well :)

I'll close both after the merge of the PR.

[2022-07-28 14:13] Copons commented on #65842
I'm sending this to @Automattic/bespin, it should tangentially fit into the Plugin Details work.
It was an old draft that we had on our board so I'm afraid I don't have more details, but it should be relatively easy to do a quick rundown of the Woo extensions, comparing their descriptions with how they appear on WCCOM.

[2022-07-28 14:18] cpapazoglou commented on #65842
Is this related to https://github.com/Automattic/wp-calypso/issues/65461?

[2022-07-28 14:27] Copons commented on #64085
All the first-party Woo extensions have been added to the Marketplace, so this project is now officially closed!
More info in the PT: pdh6GB-d4-p2

[2022-07-28 14:27] #64085 closed, assigned to nobody

[2022-07-28 14:30] mikeicode commented on #65002
Exford pdEkSe-Om-p2

[2022-07-28 14:35] Copons commented on #65842
Related but not strictly the same.

There is a good example in the screens from that issue though:
<img width="811" alt="Screenshot 2022-07-28 at 15 32 04" src="https://user-images.githubusercontent.com/2070010/181551567-3e0a7d49-4f87-4167-af70-f57bbb74f249.png">

The compatibility warning has a purple background on WCCOM, but it shows as a regular paragraph on Calypso.
I'm pretty sure there will

[2022-07-28 14:54] #65449 closed, assigned to mreishus

[2022-07-28 14:58] michaeldcain commented on #65968
@lucasmendes-design: Consolidating behind a lowest common denominator term (monthly) really helps clarify the discounts in the variant picker. The total being paid is conveyed at the line item level (and again in the cart total). Regardless of using the radio buttons or the dropdown, I think the variant price changes should be integrated into both.

[2022-07-28 15:05] daledupreez commented on #50740
We are in the process of testing a shorter 1 hour cache period for podcast feeds. We started with 10% of WordPress.com Simple sites earlier today, and have just bumped the number up to 50% as there didn't seem to be any major impacts.

For reference, we bumped the roll-out up to 50% in D85010-code.

[2022-07-28 15:05] tellisbethel commented on #64682
- [ ] Another report here: 5423518-zd-woothemes
Provided CSS workaround.

[2022-07-28 15:11] syds87 commented on #50786
Another user reported this here: 5430072-zd

[2022-07-28 15:17] mikeicode commented on #64682
I ran into this again pdEkSe-Om-p2

[2022-07-28 15:33] epeicher opened #66055 "Marketplace: Add a red border to the 3PD checkbox instead of blue when not checked"
### Details

As part of the linked task #64799, a new checkbox was added to the checkout screen as part of this PR

- https://github.com/Automattic/wp-calypso/pull/65414

When the checkbox is not checked and the user presses the `Pay` button, the checkbox is highlighted in blue and an error message is displayed to indicate that the checkbox is required.

As part of the demo of the task, some membe

[2022-07-28 16:24] jgcaruso commented on #65184
Diff up for review that should address this D85018-code

[2022-07-28 16:37] cuemarie commented on #65768
📌 SCRUBBING
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicable on my self-hosted test site - removing the Jetpack VideoPress subscription leads to a prompt that says `Once you remove your subscription, you will lose access to the following:`, but doesn't include any further information.

<img width="1415" alt="Screen Shot 2022-07-28 at 9 33 32 AM" src="https://user-images.githubu

[2022-07-28 16:57] cuemarie commented on #65782
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I wasn't able to replicate this issue. Tested on:

1. Simple site with a registered domain,
2. AT site with a connected (mapped) domain.

In both scenarios, the free default address was set as primary, but there was no message regarding the domain in `siteaddress.com/wp-admin` (or any other wp-admin page).

📌 ACTIONS

[2022-07-28 17:20] cuemarie commented on #65836
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Thank you for the clear report! This issue was consistently reproducable on Simple, AT, and Self-Hosted test sites.
- Copying and pasting a link in a list, then editing the new link, applied the changes to the original copied link instead.  This happened whether or

[2022-07-28 17:30] obenland commented on #65347
Based on the docs in 2d01d-pb/#plain I think we should continue to create them in v2. Using the `wpcom/v2` namespace won't be the end of the world.

[2022-07-28 17:36] mcsf commented on #61295
Thanks for the details and testing. I have a fix at https://github.com/WordPress/gutenberg/pull/42785, though I'm not quite happy with it. That is, I'm confident that it fixes that particular edge case, but it makes assumptions that I don't like, potentially creating new classes of false positives.

There's always the possibility of filing an issue / asking around in the Chromium project, to deter

[2022-07-28 17:38] davemart-in commented on #41911
Sounds like this is P2 specific?

[2022-07-28 17:42] cuemarie commented on #65867
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Thank you for the detailed notes!
- I was able to replicate this issue in a **Simple Test Environment** only. AT site did not present the same issue, and Twenty-Sixteen in a self-hosted environment did not offer `Customize > Content Options` .
- Tried a couple other

[2022-07-28 17:44] davemart-in commented on #45133
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 17:44] #45133 closed

[2022-07-28 17:45] davemart-in commented on #45138
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 17:45] #45138 closed

[2022-07-28 17:50] davemart-in commented on #45110
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 17:50] #45110 closed

[2022-07-28 17:57] #56869 closed, assigned to andres-blanco, sixhours, roo2

[2022-07-28 18:03] davemart-in commented on #18161
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 18:03] #18161 closed

[2022-07-28 18:21] obenland commented on #65518
Maybe we could display a swagger output in a child page of P2gHKz-oRE-p2 and adapt the plugin to only show endpoints in the `wpcom/v2/marketplace/vendors/` route?

[2022-07-28 18:28] cuemarie commented on #65910
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Republishing any already published post (by saving as draft, then publishing again) showed the same notification that the post will be / was sent to my readers.

<img width="1228" alt="Markup 2022-07-28 at 11 15 11" src="https://user-images.githubusercontent.com/27

[2022-07-28 18:30] andres-blanco commented on #65900
A possible & simpler fix is to see if we can remove the check for tags from the `style.css` in the homepage replacement process. For this to be possible all current themes should have a homepage available.

[2022-07-28 18:50] allilevine commented on #65345
@cpapazoglou Created an issue for these, feel free to change it: 13954-gh-Automattic/woocommerce.com

[2022-07-28 19:45] jgcaruso commented on #65184
The above diff has been deployed and I confirmed it on a test private atomic site. The customer should now be able to delete their video.

[2022-07-28 19:55] #7342 closed

[2022-07-28 19:57] davemart-in commented on #792
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 19:57] #792 closed

[2022-07-28 20:00] davemart-in commented on #49275
Looks like the top bar is auto-resizing now. Someone must have fixed this issue. Woot! Closing...

[2022-07-28 20:00] #49275 closed, assigned to nobody

[2022-07-28 20:01] davemart-in commented on #47289
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 20:01] #47289 closed

[2022-07-28 20:02] davemart-in commented on #60858
Sounds like this is fixed. Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 20:02] #60858 closed, assigned to nobody

[2022-07-28 20:03] mreishus opened #66063 "gutenberg_configure_persisted_preferences: Does unused work on some pages"
### Overview

* Apply this patch to a sandbox.
[code]

* watch `tail -f /tmp/php-errors`
* Visit `/wp-admin` on a sandboxed simple site
* Observe: This code is running on index.php (also on adam-ajax.php), and sometimes takes 12ms or 22ms (other times, it takes less than 1ms)
  * You may also check the debug bar's list of SQL queries, to find a query related against `wp_usermeta` that takes 5-10ms

[2022-07-28 20:06] mreishus commented on #66063
Gutenberg hangs this on `admin_init`: https://github.com/WordPress/gutenberg/blob/e3136a4cae7bc27c3d842b73bafd6afa546cc497/lib/compat/wordpress-6.1/persisted-preferences.php#L78

[2022-07-28 20:07] mreishus commented on #66063
@david-binda : Would you have any ideas on an approach I could take?

[2022-07-28 20:08] davemart-in commented on #60574
I tested this one. Clicking one of the toggles with at least a second between clicking another seems to behave as expected. Clicking rapidly with no time between indeed seems to be hitting some sort of API throttle.

Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 20:08] #60574 closed, assigned to nobody

[2022-07-28 20:13] davemart-in commented on #39606
We plan to do a complete reskin of the reader soon. Going to close this issue for now.

[2022-07-28 20:13] #39606 closed

[2022-07-28 20:15] davemart-in commented on #25465
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 20:15] #25465 closed

[2022-07-28 20:17] davemart-in commented on #24734
Closing as dup of #796

[2022-07-28 20:17] #24734 closed

[2022-07-28 20:19] davemart-in commented on #17712
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 20:19] #17712 closed

[2022-07-28 20:24] davemart-in commented on #24921
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 20:24] #24921 closed

[2022-07-28 20:25] davemart-in commented on #24713
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 20:25] #24713 closed

[2022-07-28 20:40] davemart-in commented on #46966
Gonna close this one for now Greg. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-28 20:40] #46966 closed

[2022-07-28 21:35] allilevine opened #66065 "Marketplace: July search data snapshot report"
Repeat pdh6GB-1yg-p2 for July by following this guide: PCYsg-ID9-p2

Acceptance criteria:
- [x] p2 report posted
- [x] Category changes proposed
- [x] Investigation on how to track if searches convert to purchases

[2022-07-28 21:55] cometgrrl commented on #56194
@griffbrad [This comment](p9F6qB-7xg-p2#comment-47216) mentions that Calypso folks are looking into the issue with the wrong plans pages showing. Is that correct?

[2022-07-28 22:21] creativecoder commented on #65697
@agrullon95 Assuming that the changes from #66028 will be merged in their current state, the only task I see left for Calypso is to remove `is_fse_active` from the `BlockEditorSettings` type in [use-block-editor-settings-query.ts](https://github.com/Automattic/wp-calypso/blob/1acdeee0811db7f62be4536c607cc645e57722e1/client/data/block-editor/use-block-editor-settings-query.ts)

Since it's deprecate

[2022-07-28 22:43] sirbrillig commented on #65968
Some PRs up for review:

https://github.com/Automattic/wp-calypso/pull/66066 will change the variant picker to show monthly prices as suggested above.

https://github.com/Automattic/wp-calypso/pull/66027 will switch wpcom back to using radio buttons for the variant picker (not clear if they should just be always visible or hidden behind some version of an edit button).

https://github.com/Automatt

[2022-07-28 22:54] youbrokesomething commented on #63798
Based on the conversation here: p1659046452765739-slack-C029FQX6U
This behavior is a known WordAds experience that Ads do not resize for mobile. It is recommended to use a smaller sized ad for a better mobile experience. It may be a good idea to open a feature request with WordAds if this is something many customers want.

Closing this ticket for now.

[2022-07-28 22:54] #63798 closed, assigned to nobody

[2022-07-28 23:13] cometgrrl commented on #65580
Now that the pro/starter plans have been reverted, this is back to how it's been for years.

It's also being discussed [here](p58i-cJS-p2). Closing this for now, as there's not a bug, even if the flow is a bit misleading.

[2022-07-28 23:13] #65580 closed, assigned to nobody

[2022-07-28 23:34] cometgrrl commented on #65872
Perhaps we should reframe this bug to update the support document? Is there a direct link to the plugin that would allow users to add the plugin to their site? It seems that's the intent of the current link from the support document.

[2022-07-28 23:37] creativecoder opened #66068 "Sidebar navigation: Jetpack sites missing several menu items"
### Quick summary

Accessing a Jetpack (non-Atomic) site in Calypso, there seem to be several discrepancies in the sidebar navigation menu:

Some of the sub-menus do not show when hovering (desktop) or tapping (mobile). I suspect these are menus that we don't inject any submenu items into from Calypso.

- Posts
- Pages
- Comments
- Feedback
- Plugins
- Users

Some menu items are missing (they show

[2022-07-28 23:42] vindl commented on #65172
Reopening this since it's not fully resolved with #65868. We still need the backend pieces.

[2022-07-29 01:27] cuemarie opened #66071 "Theme: Cerauno - Text cannot wrap around images"
### Quick summary

On theme Cerauno, setting an image block to align-left or right to allow text to wrap around the image doesn't work. The Editor shows the wrapped text, but the live site does not.

### Steps to reproduce

1. On a test site, switch to the theme "Cerauno"
2. On a page or post, add an image block
3. After that, add paragraph and heading blocks
4. Set the image block to align-left o

[2022-07-29 02:07] Jaykame opened #66072 "Media & Text block background color not applying in Dalston Theme"
### Quick summary

Media & Text block background color does not set in live site or preview specifically in Dalston Theme.

### Steps to reproduce

1. Insert "Media & Text" block.
2. On block settings, choose a background color.
3. Background color is changed on the editor.
4. Preview/publish - background color is not set.

### What you expected to happen

The background color for the Media & Text

[2022-07-29 03:39] jamiepalatnik commented on #65899
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - No
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested on simple site, Twenty Twenty-One theme active.
- Tested on AT site, Barnsbury theme active.
- Tested on self-hosted site, Twenty Twenty theme active.
- I was not able to recreate this on my simple s

[2022-07-29 04:04] jamiepalatnik commented on #65913
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - N/A

📌 SCRUBBING
- Tested on P2 - No
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - N/A

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue.
- I think the steps to reproduce could be simplified a bit to remove steps 3–5. The admin that does not own the plan will see the prompt Free domain available whethe

[2022-07-29 04:19] jamiepalatnik commented on #65914
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - N/A

📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT - N/A
- Tested on Self-hosted - N/A

📌 FINDINGS/SCREENSHOTS/VIDEO
- It looks like this may have been updated. I cannot recreate. This is the copy I see now:

<img width="1060" alt="Screenshot on 2022-07-28 at 22-15-50" src="https://user-images.githubusercontent.co

[2022-07-29 04:19] #65914 closed, assigned to nobody

[2022-07-29 04:46] jamiepalatnik commented on #65915
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this. It is possible to deactivate Jetpack by using browser dev tools to change that option value `-1` to `deactivate-selected`.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-07-29 05:01] SaxonF commented on #65162
After further discussion this is what we've decided to move forward with for the first iteration.

Single sites

- Move add new site button to bottom of sidebar, under collapse. We can keep the existing, low prominence button style for now.
- Site switcher remains hidden

Multi sites
![image](https://user-images.githubusercontent.com/1072756/181681761-0bb99e8d-0636-4347-b6d1-fffa2827ba5f.png)
![im

[2022-07-29 05:13] jamiepalatnik commented on #65916
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can recreate that the video file link privacy matches the site privacy, but I think this may be the expected behavior. The only way I see to set the video privacy is on the Video block, not on the video file itself, so I'm not sure if this is a bug. When viewed on the site, the Video block pr

[2022-07-29 05:34] gavande1 commented on #65347
Agreed. TBH I was looking for the this docs when Barry asked how did you end up having this namespace? IIRC, I followed this docs when I first created `/marketplace/products` endpoint.

[2022-07-29 05:40] jeherve commented on #66076
I"ll move this back to the Calypso repo, since this interface lives and is developed there.

@Automattic/greenhouse Do you think you could take a look at this?

[2022-07-29 05:51] jeherve commented on #66068
I assume this is related to the fallback menu we added to Jetpack sites when we worked on nav-unification: #49352

@mmtr Do you know if someone has picked up maintenance of nav-unification since Ajax moved on to different projects? What would be the expected behaviour here?

[2022-07-29 05:52] jeherve commented on #66068
Somewhat related issues:

- #62975
- #64935

[2022-07-29 06:20] jeherve commented on #65915
That's a nice little trick, and maybe something the Atomic team should look at. @jmdodd What do you think of this? Should the platform somehow re-enable platform-managed plugins that get disabled with tricks like that?

[2022-07-29 07:10] lsl commented on #23565
@taggon / @gibrown Is this strictly true? Can we mod this `Jetpack_Direct_Call` thing to work with atomic sites?

e.g. something like D85060-code?

[2022-07-29 07:22] #65936 closed, assigned to mashikag

[2022-07-29 07:22] mashikag commented on #65936
✅ Done: D84843-code

[2022-07-29 07:24] mashikag commented on #65313
✅ Done: D85005-code

[2022-07-29 07:24] #65313 closed, assigned to JuanLucha

[2022-07-29 07:56] cpapazoglou opened #66077 "Marketplace: Plugin installation fails if folder already exists"
### Quick summary

For premium plugins we are installing the base plugin and requirements through CLI. If any of these plugins already exist in the site (eg in a previous version), the installation will fail cause it hasn't permissions to overwrite the software.

Applying `--force` to all installed plugins might be the solution

eg. ` wp plugin install woocommerce-payments --force`

### Steps to r

[2022-07-29 08:25] mmtr commented on #66068
I think the behavior noted in the summary is the expected behavior.

The Nav Unification project was a combination of multiple things:

1.  New sidebar UI in Calypso to make it visually similar to the WP Admin menu
2. Fetch menu items from an API endpoint (so Calypso no longer registers them)
3. Make menu API endpoint to return the same menu items that are registered in WP Admin

When we launched

[2022-07-29 08:26] ivan-ottinger opened #66079 "[New Liked Comment] Review "Great posts" section implementation"
More context: D85002-code#1775532

[2022-07-29 08:31] mmtr commented on #66068
I'm not aware of anyone, so I think this would fall into the @Automattic/dotcom-janitors scope

[2022-07-29 08:35] ivan-ottinger commented on #66047
Merged and deployed. ✅ Changeset: r249799-wpcom.

[2022-07-29 08:35] #66047 closed, assigned to ivan-ottinger

[2022-07-29 09:02] ivan-ottinger commented on #65937
The patch is now ready for review: D84903-code.

[2022-07-29 09:20] bgrgicak commented on #65528
Team Alpha is responsible for the auto-install flow in Woo and on WCCOM.
I would suggest that you [submit a project proposal](https://woomarketplace.wordpress.com/?start=project-proposal-form) to start a discussion.

[2022-07-29 09:49] BogdanUngureanu commented on #66077
D85068-code adds the `--force` flag in the installation process.

[2022-07-29 10:30] daledupreez commented on #50740
We rolled out the reduced 1 hour cache period to all WordPress.com Simple sites as of a few minutes ago in D85067-code. Podcasts may remain cached for up to 12 hours from now if they were already cached, but that should resolve by later today.

I will get started on the work to automatically set this up for WordPress.com Atomic sites (i.e. sites with plugins) so we can give them the same improveme

[2022-07-29 10:34] jimmy319 commented on #66036
I've tried to reproduce this bug but it works well on my end.

PC

![Image](https://user-images.githubusercontent.com/1024985/181741231-82604bc5-1e85-4458-be5c-719abb4385f5.png)

Mobile

![Image](https://user-images.githubusercontent.com/1024985/181741309-a86074d5-2771-425f-b5f4-6d2a63c818d7.png)

[2022-07-29 10:41] ivan-ottinger commented on #65937
Merged and deployed. Changeset: r249806-wpcom.

[2022-07-29 10:41] #65937 closed, assigned to ivan-ottinger

[2022-07-29 11:33] emmnyc85 opened #66084 "Improve premium plugin order on /plugins and /plugins/browse/paid"
### Details

Plugins appear on the same order we have hardcoded them on both  /plugins and /plugins/browse/paid. Let's automatically re-order them based off # of purchases in the past 30 days.

### Checklist

- Implement code change for order order on /plugins
- Implement code change for order order on /plugins/browse/paid

Bespin team to DRI this

### Related

_No response_

[2022-07-29 12:03] DavidSaladu commented on #60747
- [ ] [Another one](36227958-hc)

[2022-07-29 12:11] cpapazoglou commented on #66084
Sorry @emmnyc85 , dynamic reordering isn't something we can tackle easily now. Can we have a static order?

[2022-07-29 12:15] emmnyc85 commented on #66084
Understood. Let's take the existing top selling order and use that for now. Sound good?

[2022-07-29 12:23] david-binda commented on #66063
Right, this is native WordPress behaviour. When requesting some meta data for an object, it attempts to get this from cache, and if it's not found in there, it pre-populates the cache. The cache is, further, being used not only during the same page load, but also in between the requests as WPCOM simple sites are using memcache as peristent cache storage. No more trips to database should happen as

[2022-07-29 12:34] renancarvalho opened #66085 "Signup: Add Link in Bio initial step"
### Details

This adds the initial step for Link in Bio flow.
The Flow should be available on `setup/linkInBioIntro?flow=link-in-bio`.

Note: This is only related to the very first step of the flow

### Checklist

_No response_

### Related

_No response_

[2022-07-29 13:23] dcoleonline commented on #59259
I think this is the same issue, but if not I'm happy to move it elsewhere

Theme: Payton

I could get the font to change for links from Styles > Typography > Links.

What failed was Styles > Typography > Text. When we tried to save a font there, it showed the change within the editor, but then it went back to the default option after saving.

I applied this CSS as a workaround:

[code]

- [ ] 5433

[2022-07-29 13:24] elijahbee commented on #30453
Getting this same error, the site was working fine yesterday then suddenly it requires permissions to upload media.

![image](https://user-images.githubusercontent.com/1111337/181742174-e91b1a0a-4e5d-4091-9cb8-2b876b206696.png)

[2022-07-29 13:49] mcsf commented on #61295
@ahegyes: the fix was just merged and should be available in the next Gutenberg version, 13.8. Feel free to close this.

[2022-07-29 13:52] david-binda commented on #66063
Besides an issue in the Jetpack repository ^ , I have also prepared a PR with a fix: https://github.com/Automattic/jetpack/pull/25333

[2022-07-29 13:59] ahegyes commented on #61295
Thank you, @mcsf!

[2022-07-29 13:59] #61295 closed, assigned to nobody

[2022-07-29 14:08] epeicher commented on #64573
Deployed r249810-wpcom

[2022-07-29 14:08] #64573 closed, assigned to epeicher, gcsecsey

[2022-07-29 14:15] epeicher opened #66089 "Marketplace: Launch Elastic Search query for .org"
## Summary

The functionality to query the `.org` plugins using Elastic Search is ready for the initial phase. This task will be used for launching it.

Context here: pdh6GB-Ax-p2#comment-1954

[2022-07-29 14:19] #65974 closed, assigned to renancarvalho

[2022-07-29 14:21] mreishus commented on #66063
Very interesting, thank you. I also noticed this constant timestamp behavior but didn't realize it was related!

One other interesting thing I found was `wp_set_all_user_settings()` -> `update_user_option()` -> `update_user_meta()` -> `update_metadata()` has a mechanism to not do writes if we request to write a value that is not a change:

https://github.com/WordPress/wordpress-develop/blob/9f5935

[2022-07-29 14:24] DavidRothstein commented on #65968
I left some thoughts at https://github.com/Automattic/wp-calypso/pull/66066#issuecomment-1199374216 about how (and how not) to handle the `$4/month` display.  I get why we want to do it, but we need to be more careful.  Some of that comment is specific to how things look with that specific pull request, but I think some of it is relevant more generally.

[2022-07-29 14:41] david-binda commented on #66063
I would say that there is no need to be scared about opening a core ticket with any proposal :)

I'm not sure if always updating at least the timestamp is intentional or not. The `set` in the function name could be a hint on the behaviour (vs. `update` which could be read as update if needed). So another approach would be to have a `update_user_setting` function, which would bail if the value woul

[2022-07-29 14:43] davemart-in commented on #24927
@westi, I believe you can do this through reader > followed sites > manage > settings:

<img width="325" alt="CleanShot 2022-07-29 at 10 40 43@2x" src="https://user-images.githubusercontent.com/5634774/181784256-4d2c9512-ba96-46b7-94c2-6e0243018612.png">

Or are your talking about something else?

[2022-07-29 14:45] davemart-in commented on #24544
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-29 14:45] #24544 closed

[2022-07-29 14:45] #63508 closed, assigned to Addison-Stavlo, jrdnhllr

[2022-07-29 14:53] davemart-in commented on #17657
Gonna close this one for now. Happy to re-open if additional customers report it or if someone wants to work on it.

[2022-07-29 14:53] #17657 closed

[2022-07-29 14:54] westi commented on #24927
I _think_ this was referring to the Conversations views in the reader which from memory are based on participation not following state

[2022-07-29 14:55] Addison-Stavlo commented on #58118
Whoops, in the future if we want to remove something from "in progress" we should make sure it goes to another column on the team board. cc @edanzer

[2022-07-29 15:01] davemart-in commented on #58596
Hmm... I followed the steps mentioned and could not seem to replicate this in FireFox, Safari, or Chrome. Perhaps this has been fixed? Closing for now. Please feel free to re-open if you're still seeing the issue. Thanks!

[2022-07-29 15:01] #58596 closed, assigned to nobody

[2022-07-29 15:04] Robertght commented on #66072
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm unable to replicate this on my end. @Jaykame is this happening on a specific browser? Also, is it possible to see a test site where the issue happens?

📌 ACTIONS
- Await author feedback

[2022-07-29 15:11] #66085 closed, assigned to renancarvalho

[2022-07-29 15:20] #57449 closed, assigned to jeherve

[2022-07-29 15:21] davemart-in commented on #44482
Will keep this idea in mind as we look to start re-skinning the reader.

[2022-07-29 15:25] davemart-in commented on #44354
Looking at the Reader, I no longer see a "Followed P2's" section. I believe it has been renamed to "Automattic" to eliminate this confusion. I don't think the goal with that section was ever to show all P2's (even non A8c P2's). That section was just for Automattic specific P2's. I believe it is expected for non A8c P2's to show up in the regular feed if you follow them. Closing out this issue.

[2022-07-29 15:25] #44354 closed

[2022-07-29 15:30] senadir commented on #57449
This is issue is now fixed, but we couldn't fully fix the source of it, so it might surface again. https://github.com/woocommerce/woocommerce-blocks/pull/6718 has a good explanation of why this happens and how it might surface again. TL;DR is surface from a genuinely safe code, basically using `dispatch` inside `useSelect` would cause this. We didn't fully understand why this happens, but we refac

[2022-07-29 15:34] Addison-Stavlo commented on #62755
I believe the remaining issues have been resolved with https://github.com/Automattic/wp-calypso/pull/65850

[2022-07-29 15:44] cpapazoglou commented on #65528
Created a P2 p6JqRr-6Zk-p2 to discuss further.

[2022-07-29 16:51] poeticabdul opened #66091 "No alt text for logo showing in action bar"
### Quick summary

There is no alt text showing for the logo in the action bar even if the image used as the logo has the alt text provided.

![Screenshot at Jul 29 16-53-01](https://user-images.githubusercontent.com/4719037/181807473-20ba1c59-997e-4dda-b55d-350330654d65.png)

### Steps to reproduce

1. Log into a simple site
2. Add an image with alt text as the site logo
3. Visit the site in the

[2022-07-29 16:59] senadir opened #66092 "Tracking code return unstable references for actions"
### Quick summary

This issue is a follow up for https://github.com/Automattic/wp-calypso/issues/57449

cc @Addison-Stavlo

WPCOM [tracking code](https://github.com/Automattic/wp-calypso/blob/trunk/apps/wpcom-block-editor/src/wpcom/features/tracking.js#L767-L800) will track a collection of actions, and will log something everytime that action is called.

There's a bug, in which if you have a track

[2022-07-29 17:17] carinapilar commented on #30453
Hey @elijahbee! We would recommend trying to refresh the page, or use another browser, like Chrome or Firefox, or clear the browser cache and cookies by following the instructions here: https://wordpress.com/support/browser-issues/#clearing-your-browser-cache

If after the above you still have the issue, please, share the site's address where this happens, so the support team can reach out. 🙂

[2022-07-29 17:32] gutenberg-plugin-upgrade-bot[bot] opened #66094 "Gutenberg: v13.8.x plugin upgrade"
Previous upgrade: #65562
Release notes: [v13.8.2](https://github.com/WordPress/gutenberg/releases/tag/v13.8.2)

**Install and activate**

- [ ] Install and activate v13.8.0-rc.1 on edge (######-code)
- [x] Install and activate v13.8.0-rc.2 on edge (D85103-code)
- [x] Install and activate v13.8.0 on edge (D85341-code)
- [x] Activate v13.8.0 on production (D85104-code)
- [x] Request v13.8.0 AT upgra

[2022-07-29 17:46] #66017 closed, assigned to sirbrillig

[2022-07-29 18:15] Addison-Stavlo commented on #66092
Thanks for opening the issue and detailed description @senadir!  I will get it on our board and looked into in the future.

That minimal code to repro will help, but noting:

I don't think any of the actions related to[ the PR that fixed the issue with the cart block](https://github.com/woocommerce/woocommerce-blocks/pull/6718) issue are actually tracked on our end (?). So maybe it goes beyond act

[2022-07-29 18:17] senadir commented on #66092
I will need to update that PR body, the actual problematic action was `createErrorNotice` which is tracked.

[2022-07-29 19:04] Addison-Stavlo commented on #66092
Gotcha, thanks for clarifying!

Initially pondering the usage this way and if we are breaking the rule of the useSelect callback needing to be a 'pure function':

I think in general we are to avoid dispatching actions inside `useSelect` as the function is meant to be pure and not mutate state. However, this case you propose is a bit more nuanced as we are not dispatching anything from inside the u

[2022-07-29 19:14] senadir commented on #66092
This could probably be it, however, why would this surface just with tracking :/

One thing I noticed is if I console log inside the tracking code, for example [here](https://github.com/senadir/jetpack-tracking-bug/blob/trunk/src/tracking.js#L15), I get about 600 calls for page load, and 200 calls for each interaction. The code might be too heavy and trying to subscribe to too many things?

Beyond

[2022-07-29 19:17] senadir commented on #66092
When I console.log `originalAction`, the first console.log is this:
[code]
which falls inline with the actual action, subsequent calls are all this:
[code]

[2022-07-29 19:26] Addison-Stavlo commented on #66092
In our simple example above, perhaps that is because `createErrorNotice` is the dependency. If it doesn't change, that useSelect never needs to be re-evaluated.

But the first thing the tracking code does is redefine that action to be a new function, which would cause that `createErrorNotice` dependency in the `useSelect` to change and thus spark the re-evaluations. (? 🤔 )

We will have to look at

[2022-07-29 19:30] Addison-Stavlo commented on #66092
But why more than one?    .... Perhaps something to do with this:

Defining the new action as an anonymous function, then if its used as a dependency its always considered to have changed? 🤔

[2022-07-29 19:45] senadir commented on #66092
I can't yet think of a way to do this without an anonymous function.

Also removing `createErrorNotice` as a dependency from `useSelect` fixes this so you're right about that. It's just now a matter of creating a stable monkeypatched function.

[2022-07-29 20:56] xpurichan commented on #65717
Hi @renata-franco !

The a8cteam51 account owns 769 websites at the moment and has 25 pages worth of upgrades in Store Admin:
https://wordpress.com/wp-admin/network/admin.php?page=store-admin&action=search&username=a8cteam51

_ack_, thank you!

[2022-07-29 21:02] #64540 closed, assigned to lupus2k

[2022-07-29 21:10] annemirasol commented on #32079
Closing as #62246 fixed this issue, by removing the misleading options.

[2022-07-29 21:10] #32079 closed

[2022-07-29 21:12] xpurichan commented on #65719
@supernovia it looks like we do get a `504` error in the console!

Screenshot:
![Screen Shot 2022-07-29 at 5 10 10 PM](https://user-images.githubusercontent.com/33190975/181843524-cfe4e171-8b4a-479b-bcd2-f5448a364516.jpg)

---

Hey @renata-franco!

I did share details about the size of our a8cteam51 account which is experiencing this issue here:
https://github.com/Automattic/wp-calypso/issues/6571

[2022-07-29 23:19] kelasante opened #66098 "Featured Image on Mobile App: No option to choose Stock Images from Pexels"
### What

When setting the featured image for a post or page on the mobile app, there is only an option to select images from your media library.

On the desktop, you can also select stock images from Pexels or use Google Photos.

### Why

In 5434676-zen, a user mentioned that they have a hard time adding featured images since there is no option to access a stock image library through the mobile a

[2022-07-30 03:57] devNigel commented on #63583
Another report: 5423141-zen

[2022-07-30 08:37] Aurorum opened #66100 "Email Forwarding: Inaccessible on Domain-Only domains"
### Quick summary

Email Forwarding is inaccessible to new domain-only sites without an explanation as to why.

### Steps to reproduce

1. Start at `/email/domain.org/manage/domain.org`
2. Select "Email Forwarding"
3. Select "Add Email"
4. Be redirected to the indefinite loop

### What you expected to happen

A screen to add Email Forwarding should be offered, or there should be some explanation a

[2022-07-30 13:20] Babylon1999 commented on #57812
5431712-zd

[2022-07-30 13:25] annbingle commented on #66025
Same report here 34800445-hc

<img width="1019" alt="Screen Shot 2022-07-30 at 21 22 22" src="https://user-images.githubusercontent.com/40605613/181916379-84267e2b-2a30-46ad-9fa1-670f8b0fee47.png">

<img width="1023" alt="Screen Shot 2022-07-30 at 21 22 46" src="https://user-images.githubusercontent.com/40605613/181916382-46790fec-9625-4411-ab1f-7842e1339969.png">

[2022-07-30 20:18] jordesign commented on #65872
As this is a docs issue - I've closed this issue in favour of 1659-gh-Automattic/en.support-docs-content

[2022-07-30 20:18] #65872 closed, assigned to nobody

[2022-07-30 22:27] kuropixel commented on #65580
@cometgrrl The discussion link didn't work for me. If possible, could you share that again? Thank you!

[2022-07-31 01:41] syedshaon commented on #57812
5436021-zd

[2022-07-31 06:38] daria2303 commented on #65916
@jamiepalatnik I did it from Media, in our docs it says that both options are ok and also that video file privacy follows the site privacy only if set to _" site default_": https://wordpress.com/support/videopress/#private-videos

[2022-07-31 07:02] Jaykame commented on #66072
@Robertght This issue only happens on sites with the theme "Dalston" installed. I have two sites I've tested on: jwtestpersonal.wordpress.com and testingproplan.com

[2022-07-31 10:54] DavidSaladu commented on #64918
- [ ] Closed 5351542-zd-woothemes telling them we would contact them after resolution.

[2022-07-31 12:36] i11za commented on #66037
User report: 5426964-zd-woothemes
Simple site.

[2022-07-31 15:12] liviopv commented on #57812
- [ ] 36185739-hc
- [ ] 5401434-zd-woothemes

[2022-07-31 15:55] liviopv commented on #44891
Reopening this. I was able to reproduce consistently on my own test site P6VVUQ-DF-p2

That said, the bug seems to be that the Block is displaying an automated "Continue Reading" link when the "Add a Read More link" option is turned off. IMO, we should honor the setting and do not display any "Continue Reading" link unless the user toggles on that option.

[2022-07-31 15:55] jp-imagines commented on #65042
- [ ] Another report in 5430986-zd-woothemes.

(Personal plan, so no CSS. Suggested disabling the "fixed background" setting for now, or shrinking the affected images as noted above, as temporary workarounds while we wait for the fix to be merged.)

[2022-07-31 16:32] chiape commented on #57812
5438243-zd

[2022-07-31 18:50] Jaykame commented on #63050
5414424-zen has the same issue. Applied workaround.

[2022-07-31 19:43] Jaykame commented on #64880
5426069-zen

For this one, it's a Custom CSS add-on Personal site that does not take in calc or var (which I tested because I remember this bug report) functions. It appears that the Additional CSS/custom CSS add-on only takes in plain simple CSS syntax/elements. I adjusted the CSS from this bug report workaround and it works after: https://github.com/Automattic/wp-calypso/issues/64917

[2022-07-31 19:50] Jaykame commented on #64917
5426069-zen Applied the CSS workaround but this site has a custom CSS add-on and is not atomic. Cross reported here: https://github.com/Automattic/wp-calypso/issues/64880

I added the plain old and it worked:

[code]

[2022-07-31 23:44] roo2 commented on #65847
I'm removing the flows and steps associated with v1 verticals `survey`, `survey-user` `site-topic`, and `site-topic-with-theme` in https://github.com/Automattic/wp-calypso/pull/66073/files

[2022-08-01 00:03] alaczek commented on #65597
I asked in Slack and the review seems to be wrapped up: p1658884368161419-slack-C029FM1EH

[2022-08-01 00:21] happychait commented on #63583
Another report in

- [ ] 5429535-zen

[2022-08-01 00:22] danielbachhuber commented on #65172
@vindl Which backend pieces are you referring to?

[2022-08-01 05:10] taipeicoder commented on #65515
Closing as it's shipped.

[2022-08-01 05:10] #65515 closed, assigned to taipeicoder

[2022-08-01 06:07] kuropixel opened #66105 "Payton theme only displays 2 fonts for Global Styles text font choices"
### Quick summary

The theme Payton is currently only showing two font options when going to Global Styles when there should be more to choose from.
<img width="292" alt="CleanShot 2022-08-01 at 15 01 53@2x" src="https://user-images.githubusercontent.com/83020905/182082849-875ed2ec-8e1d-4d7e-ab57-52df17aef156.png">

### Steps to reproduce

1. Activate Payton theme
2. Visit Site Editor
3. Go to Glo

[2022-08-01 06:07] kuropixel opened #66286 "Payton: Theme only displays 2 fonts for Global Styles text font choices"
### Quick summary

The theme Payton is currently only showing two font options when going to Global Styles when there should be more to choose from.
<img width="292" alt="CleanShot 2022-08-01 at 15 01 53@2x" src="https://user-images.githubusercontent.com/83020905/182082849-875ed2ec-8e1d-4d7e-ab57-52df17aef156.png">

### Steps to reproduce

1. Activate Payton theme
2. Visit Site Editor
3. Go to Glo

[2022-08-01 06:20] mriyazuddin commented on #63229
- [ ] Reported here as well: #5416028-zd

[2022-08-01 06:54] mpkelly commented on #64936
I am going to look at this now.

[2022-08-01 07:19] daledupreez commented on #66009
I did some investigation into this last week, and it seems that the biggest volume of issues stem from two sources:
1. Errors from Emogrifier, a library we use to inline CSS styles, but where we are running an out of date version.
2. Errors due to memory exhaustion (which may or may not be triggering the errors above)

I'll keep looking into this over the course of the week, firstly by exploring w

[2022-08-01 07:29] kmrpankaj commented on #51640
#5438952-ZD
User came back to ask for an ETA.

[2022-08-01 07:54] escapemanuele opened #66107 "Help Center: Manage help center in My Home"
We're showing the help center in all calypso ( https://github.com/Automattic/wp-calypso/pull/65888 ), except for `/home`, where we're showing a support card.

![image](https://user-images.githubusercontent.com/52076348/182100486-ed78855c-66fb-4388-8e99-599b09f03897.png)

We should work on this

[2022-08-01 08:06] ivan-ottinger commented on #65538
D84748-code patch is now deployed to production. Changeset: r249876-wpcom.

[2022-08-01 08:06] #65538 closed, assigned to phcp

[2022-08-01 08:07] ivan-ottinger opened #66109 "[New Liked Comment] Reconsider the copy of the email when the post title is empty"
I think we could reconsider either the copy itself or the link usage in the following section:

![Image](https://user-images.githubusercontent.com/25105483/182103395-661080f6-a69c-4dfe-9393-d9e31b630d07.png)

Because currently it looks like as if that "one of your comments" link would go to that one comment - which is not the case - as the link goes to the top of the post instead.

This issue appl

[2022-08-01 08:28] mmtr opened #66110 "Screen stuck after purchasing Jetpack Search from Marketplace"
### Quick summary

Found in https://github.com/Automattic/wp-calypso/pull/65252#pullrequestreview-1049233222:

### Steps to reproduce

- Go to https://wordpress.com
- Switch to a Jetpack or Atomic site
- Go to Plugins
- Purchase the Jetpack Search plugin

### What you expected to happen

To land on a thank you page after the plugin is installed

### What actually happened

The flow gets stuck at t

[2022-08-01 08:32] mmtr opened #66111 "Jetpack search plugin shows as inactive after purchasing upgrade"
### Quick summary

Found in https://github.com/Automattic/wp-calypso/pull/65252#pullrequestreview-1049233222:

### Steps to reproduce

- Go to https://wordpress.com/
- Switch to a Jetpack site
- Go to Settings > Performance
- Purchase the Jetpack Search upgrade
- Go to Plugins
- Search for "Jetpack Search"

### What you expected to happen

- The plugin should show up as active
- I shouldn't be abl

[2022-08-01 08:45] ivan-ottinger commented on #66041
Were you able to reproduce the issue on your end, Juan? 🤔  Because when I was adjusting the iOS settings today, it looks like the issue might be not related to our templates after all.

Instead, I suspect the issue could be related to the Gmail app and specific font-size setting in iOS. Because when I restore the default font settings in iOS, the links in the email template get back to the normal

[2022-08-01 08:51] ivan-ottinger opened #66112 "[New Liked Comment] Remove quotes from the email subject"
The _New Liked Comment_ email subject should have the form of `[<site name>] <liker's name> liked your comment on <post title>` - instead of current `[<site name>] <liker's name> liked your comment on "<post title>"`.

In other words, the quotes (`" "`) need to be removed from the subject to match the intended new email template design.

[2022-08-01 09:01] leadclown commented on #27359
this bug still exist. can confirm i have a scrollbar on full hd (1920x1080) because of multiple elements which are not border-box.

please test multiple resolutions and devices before you mark bugs as completed!

[2022-08-01 09:37] cpapazoglou commented on #60661
Children issues to resolve this issue:
- https://github.com/Automattic/wp-calypso/issues/65683
- https://github.com/Automattic/wp-calypso/issues/65563
- https://github.com/Automattic/wp-calypso/issues/65898
- https://github.com/Automattic/wp-calypso/issues/65682

[2022-08-01 10:53] rcrdortiz opened #66115 "Marketplace: update the command used to symlink software"
## Description
We are seeing some warnings in our logs due to using a deprecated command. We need to update our Software installation component so that we use the new not-deprecated command instead. P9o2xV-2hi-p2

[2022-08-01 11:03] #65168 closed, assigned to wojtekn

[2022-08-01 11:25] Lazza commented on #31779
Please do not close this, thank you.

[2022-08-01 11:58] rinazrina commented on #57812
- 5439830-zd-woothemes
- 5439525-zd-woothemes

[2022-08-01 12:29] cpapazoglou commented on #65523
Also related 1054-gh-Automattic/wpcomsh

[2022-08-01 13:27] jonesch commented on #65719
^^ Now that we have some more context here, I am going to reopen these. @xpurichan is headed out on parental leave, so feel free to ping me with any other questions. Thanks!!

[2022-08-01 13:27] Addison-Stavlo opened #66119 "LaunchPad Container - Create full-screen container"
The Launchpad will need a full-screen container that hides the rest of calypso interfaces in this mode. More context and designs - paYE8P-1Ot-p2

* Create or re-use a full-screen container for the LaunchPad. (Perhaps there is something we can reuse from the stepper flow here?)
* The full-screen container should be active when some variable check is `true`.  We can start this as a foo-bar placehold

[2022-08-01 13:28] gcsecsey commented on #63905
The config in Calypso will also need to be updated. The groupId needs to be changed from `wporg` to `marketplace` to include results from both sources.

[2022-08-01 13:36] Addison-Stavlo opened #66120 "LaunchPad Container - Escape Hatch"
Develop an 'escape hatch' for the full-screen LaunchPad mode. In designs we can see this as a "Skip to Admin" button. More context and designs - paYE8P-1Ot-p2

* <s> This button should set the variable in the Issue mentioned above to no longer support the full-screen launchpad. This may start as a placeholder boolean for now, but will need to be updated to handle a site option or whatever we may e

[2022-08-01 13:45] Addison-Stavlo opened #66121 "LaunchPad - Editor close overrides."
When the LaunchPad is set to its full-screen mode (the same variable discussed discussed in https://github.com/Automattic/wp-calypso/issues/66119), we need to override both editor's Index buttons:

<img width="300" alt="Screen Shot 2022-08-01 at 9 40 08 AM" src="https://user-images.githubusercontent.com/28742426/182160898-35f3b3a6-1eed-4e2e-8bd3-ecfa4e72e7fa.png">

* When this full LaunchPad mode

[2022-08-01 13:54] Addison-Stavlo opened #66123 "LaunchPad - Preview / Front-End overrides"
When the LaunchPad is set to its full-screen mode (the same variable discussed discussed in https://github.com/Automattic/wp-calypso/issues/66119), we need to update the front-end admin interfaces. More context and designs - paYE8P-1Ot-p2

When previewing the site / viewing from the front-end as admin, we want to:

* Hide navigation buttons for the Site Editor, My Home, and Reader.
* A new link ca

[2022-08-01 14:01] Addison-Stavlo commented on #65686
closing this as replaced by more granular issues on the tracking issue - https://github.com/Automattic/wp-calypso/issues/65684#issue-1308092775

[2022-08-01 14:01] #65686 closed, assigned to nobody

[2022-08-01 14:05] DavidRothstein commented on #51996
It looks great for missing payment methods, but there are still some issues for unbillable payment methods.  Since this is already closed I decided to just file that separately: 1058-gh-Automattic/payments-shilling

[2022-08-01 14:15] Addison-Stavlo opened #66124 "LaunchPad Checklists - Create the initial checklist module."
For the LaunchPad we will need a checklist module that:

* Surfaces the assigned checklist corresponding to the sites goals. For starters we could assume we are given a string like `newsletter` or `links-in-bio`, but in the end will need to set this up to read the checklist variable being coordinated in this P2 -  pdDR7T-bx-p2 .  Related for defining checklists - https://github.com/Automattic/wp-c

[2022-08-01 14:15] Addison-Stavlo opened #66125 "LaunchPad Checklists - Create Initial Checklist flows"
Create the initial checklist flows corresponding to newlsetter and links-in-bio sites.  More context and designs - paYE8P-1Ot-p2

-----
EDIT - for initial CFT release we can treat prior/completed tasks as inert and dont need to set up navigation and flows for them. We will follow up in the CFT to enable more of these flows from the launchpad as necessary, but for now we can focus on the incomplete

[2022-08-01 14:26] cpapazoglou commented on #66084
Here is the current order it needs to be reflected in `Marketplace_Product_Catalog` in WPCOM

[Dotcom Marketplace_ Ranked list of plugins by sales.csv](https://github.com/Automattic/wp-calypso/files/9234661/Dotcom.Marketplace_.Ranked.list.of.plugins.by.sales.csv)

[2022-08-01 14:28] Addison-Stavlo opened #66126 "LaunchPad Checklists - Individual Checklist Item Components"
The LaunchPad Checklist Module will need individual checklist components that fir the following designs: paYE8P-1Ot-p2#comment-1651

Perhaps we are able to re-use or re-purpose existing components from calypso, gutenberg, or perhaps even the MyHome checklists.

These components should:
* Send users to the appropriate URL when clicked.
* Update visually for completed tasks.
* Contain an extra secti

[2022-08-01 14:30] cpapazoglou commented on #66089
Let's launch it in wpcalypso and post a CfT

[2022-08-01 14:37] ivan-ottinger commented on #66079
Related discussion: p1659364369091689-slack-C02TCEHP3HA.

**Summary**
In order for posts to display, they need to have views:
![Markup on 2022-08-01 at 16:27:51](https://user-images.githubusercontent.com/25105483/182174043-704ab232-5a45-4430-89a8-9f57be56e1e2.png)

→

![Markup on 2022-08-01 at 16:36:23](https://user-images.githubusercontent.com/25105483/182174320-22888214-9203-491f-8d4a-32e290994f

[2022-08-01 14:37] allilevine commented on #65457
@cpapazoglou Thanks! I think showing the most useful search results to the user is a high priority. Is there a 1-2h short-term solution?

@vinimotaa Do you have any design recommendations here, to make these less prominent?

[2022-08-01 14:39] Addison-Stavlo commented on #65685
closing this in favor of more granular issue on the tracking thread https://github.com/Automattic/wp-calypso/issues/65684

[2022-08-01 14:39] #65685 closed, assigned to nobody

[2022-08-01 14:41] yansern commented on #66041
I can confirm the font size inconsistencies only appears on the Gmail app when Text Size is increased on iOS. On Mail app, all the text size increases together. Attaching screenshots.

That said, I don't think this is something we should bother fixing. Perhaps Gmail itself need to fix this. Let's close this issue then.

| Mail | Gmail |
| --- | --- |
| ![image](https://user-images.githubuserconten

[2022-08-01 14:41] #66041 closed, assigned to JuanLucha

[2022-08-01 14:45] ivan-ottinger commented on #66041
Thanks for testing this Yan.

Yes, it looks like Gmail-app-related issue.

[2022-08-01 14:48] Addison-Stavlo opened #66128 "LaunchPad mini - Implement in My Home"
When the main full-screen LaunchPad flow is disabled via the escape hatch, we need to surface a less intrusive version in MyHome. More design context / info - paYE8P-1Ot-p2

* When the [fullscreen launchpad is disabled](https://github.com/Automattic/wp-calypso/issues/66120), and there is an assigned checklist (the checklist variable being coordinated in this P2 - pdDR7T-bx-p2) with incomplete task

[2022-08-01 14:57] Addison-Stavlo opened #66130 "LaunchPad - Incorporate Preview & Checklist"
This will be the LaunchPad that is used in both full-screen and MyHome versions.

This will incorporate:
* The checklist module as outlined in https://github.com/Automattic/wp-calypso/issues/66124
* The site preview - https://github.com/Automattic/wp-calypso/issues/66131
* Be reusable across full-screen and MyHome LaunchPad sections.

<img width="571" alt="Screen Shot 2022-08-01 at 11 14 49 AM" sr

[2022-08-01 15:12] Addison-Stavlo opened #66131 "LaunchPad Proper - Site Preview"
The LaunchPad will need a site preview with device type options as noted in designs - paYE8P-1Ot-p2.

We likely already have the tools/components for this, lets see if we can reuse or repurpose them in the LaunchPad or create our own version if necessary.

[2022-08-01 15:15] dcoleonline opened #66132 "Some Varia Themes are Intermittently Missing from the Theme Showcase"
### Quick summary

Varia and Morden do not consistently appear in the theme showcase. Other themes may be affected.

### Steps to reproduce

1. Start at https://wordpress.com/themes
2. Search for Morden or Varia
3. Even though these themes are not retired, they may not appear in the search

### What you expected to happen

I expected them to appear in the search.

### What actually happened

They

[2022-08-01 15:16] cpapazoglou commented on #66084
The list above is not correct, this is the updated one

[Dotcom Marketplace_ Ranked list of plugins by sales (monthly&yearly).csv](https://github.com/Automattic/wp-calypso/files/9235041/Dotcom.Marketplace_.Ranked.list.of.plugins.by.sales.monthly.yearly.csv)

[2022-08-01 15:29] ivan-ottinger commented on #66079
With above said, the logic behind the Great posts section needs adjustment - to make sure it displays **posts only** (as opposed to currently displaying pages and other content types as well).

Related patch in works: D85180-code.

[2022-08-01 15:57] gcsecsey commented on #66089
Raised a PR to update the wpcalypso config: https://github.com/Automattic/wp-calypso/pull/66133

[2022-08-01 16:14] #65786 closed, assigned to mreishus

[2022-08-01 16:20] blackjackkent opened #66134 "Theme Subscriptions - Prep for testing by A8Cs"
We need to make sure that theme subscription work is testable by anyone responding to the CFT.

* Possible solutions -
   * ~~All automatticians~~
   * **User RC checkbox to flag certain users for testing**

~~Let's reach out to Happiness team to coordinate on the best testing strategy here.~~

[2022-08-01 16:23] #65688 closed, assigned to nobody

[2022-08-01 16:28] blackjackkent commented on #65750
@SaxonF Could you whip up a design for this card so we can get it set up? :)

[2022-08-01 16:35] blackjackkent commented on #65857
Action item: Audit all uses of `isPremiumThemeAvailable` to make sure that they are also checking if the user has purchased the theme in order to avoid inappropriate upsells.

[2022-08-01 16:41] blackjackkent commented on #66023
@SaxonF Our thought here is to display some sort of static design for users in this scenario (private site, trying to switch themes - i.e. "your site is currently private and cannot be previewed". Can you provide a more specific design for this?

[2022-08-01 16:51] cpapazoglou commented on #65457
Nope, we can try removing them totally from categories by using the hard coded list and move them to the bottom of searches by changing their priority in ES.

[2022-08-01 17:21] valterlorran commented on #65110
Closing this issue: https://github.com/Automattic/themes/pull/6205#issuecomment-1201491414

[2022-08-01 17:21] #65110 closed, assigned to valterlorran

[2022-08-01 17:27] blackjackkent commented on #66134
@andres-blanco and I discussed this a little further and he reminded me that we wouldn't have to manage the user RC assignments ourselves; any tester would be able to go in and enable it for themselves after seeing instructions in the CFT. With this in mind, I think it's definiltely the best solution and have updated this issue accordingly.

[2022-08-01 17:36] Jaccuse commented on #39153
Another user ran into this in 36176730-hc

[2022-08-01 17:43] markbiek commented on #65692
Diff started at: D85191-code

[2022-08-01 17:51] cpapazoglou commented on #65523
Deployed r249923-wpcom

[2022-08-01 18:09] worldomonation commented on #62596
I think I may have done this for https://github.com/Automattic/wp-calypso/pull/65797.

[2022-08-01 18:09] #62596 closed, assigned to nobody

[2022-08-01 18:55] mreishus commented on #65857
Overlaps with #65704 some

[2022-08-01 18:59] cometgrrl commented on #65580
Ah sorry, since it's in shorthand, I guess I can't make it a clickable link. Updated my original comment. Hope that helps!

[2022-08-01 19:03] mreishus commented on #65704
For the **theme cards in onboarding**, after #66135 is merged, we can split the `!shouldUpgrade` text, [`Included in your plan`](https://github.com/Automattic/wp-calypso/blob/f0c40c42ba170311733498fbb8c327643965b89a/packages/design-picker/src/components/unified-design-picker.tsx#L149), to both `Purchased on an [annual|monthly subscription]` and `Free on your plan`. We'll also have to fix #65857 so

[2022-08-01 19:04] andres-blanco commented on #66134
This is what I have in mind for this feature:
<img width="1122" alt="image" src="https://user-images.githubusercontent.com/375980/182223775-25bb6513-fe67-4ca5-8aa8-d5ad0ad9d77e.png">

[2022-08-01 19:41] andres-blanco commented on #66134
This is the diff where the filter for emails that read the user configuration was added: D67348-code

[2022-08-01 19:41] danielbachhuber commented on #64714
2039 entries in the last couple of weeks. However, ~98% seem to be valid (`--url=<siteurl>` resolving to `<home>`).

Updated patch in D85196-code ignores those entries. It also includes the command being called so we can track down the mismatches.

[2022-08-01 19:50] DavidRothstein commented on #65580
Nope: p58i-cJS-p2#comment-54846

Personally, I would keep this issue open (it's definitely not a "Won't Fix") but I guess as long as it's being actively discussed on that internal P2 it's OK for now.

[2022-08-01 19:52] mreishus commented on #65704
For **theme cards in theme showcase**, we need to rework the `theme__badge-premium` class, remove the price display, and add tooltips.
Here is the current state:

**A premium theme that I have not purchased, and I have no plan for:**
![2022-08-01_14-49_1](https://user-images.githubusercontent.com/937354/182233359-4426d3b7-856b-4b5d-88ca-b0a919b6eecf.png)

**A premium theme when I have a plan provi

[2022-08-01 20:31] sirbrillig opened #66139 "Jetpack logo in checkout pending page masterbar is black-on-black"
If you view the post-checkout "pending" page for a Jetpack site (or for the `no-site` placeholder when your primary site is a Jetpack site), the masterbar product logo is invisible.

<img width="576" alt="Screen Shot 2022-08-01 at 4 32 33 PM" src="https://user-images.githubusercontent.com/2036909/182242127-9727502f-f4f9-45b2-9dca-0efe1d87ad1b.png">

To reproduce:

- You'll need a Jetpack site.
- V

[2022-08-01 20:34] danielbachhuber opened #66140 "Atomic Revival: Log key lifecycle events to Tracks"
When an Atomic site expires, it reverts to a Simple site after seven days. If a user wants to restore their expired Atomic site, doing so requires a fair amount of Happiness Engineer involvement.

See the genesis of this project in this P2 post: p58i-ckS-p2 See this comment for a video introduction: p58i-ckS-p2#comment-54847

In order to better understand the size of the opportunity, we'd like to

[2022-08-01 20:42] sirbrillig commented on #66139
Fixing this is not terribly difficult:

[code]

However, what's concerning is why this is happening in the first place.

[2022-08-01 20:49] worldomonation commented on #64331
Looks like this is not necessary - the steps that interact with `PlansPage` all work as expected.

[2022-08-01 20:49] #64331 closed, assigned to worldomonation

[2022-08-01 20:53] sirbrillig commented on #66139
The reason appears to be that the dark Jetpack logo is shown for Jetpack sites, but the masterbar background color is only changed to white for a `.layout` with `.is-section-checkout`, and the pending page is `.is-section-checkout-pending` (this also makes me wonder if a similar problem exists for `.is-section-checkout-thank-you`, etc.).

The fix for this is also relatively easy:

[code]

However,

[2022-08-01 20:56] dcoleonline commented on #57198
+1 please

[2022-08-01 21:12] cometgrrl commented on #65580
Interesting, I was referring to this comment: p58i-cJS-p2#comment-54799, and also in slack, this behavior was mentioned to date back to 2019. See: p1658318312429269/1658315949.602159-slack-C031TFM2NKC.

I don't disagree that we should make a change, I'd just prefer to let the people having conversations and analyzing the data determine the best changes to make, rather than dictating a solution in

[2022-08-01 21:21] worldomonation opened #66142 "Quarantined E2E: refactor Signup: Domain only."
### Details

Refactor this test at `signup__domain.ts`.

Key features that should be covered by this spec are:
- entering the `start/domain/domain-only`
- search for a paid domain (eg. `.live`)
- purchase the domain only
- remove domain purchase

Optional and up to the developer:
- whether to use an existing account or not.
- whether step to remove purchased domain should be handled via UI or API

[2022-08-01 21:26] worldomonation opened #66143 "Quarantined E2E: `Invite: New user`"
### Details

### Details

Refactor this test at `invite__new-user.ts`.

Key features that should be covered by this spec are:
- invitation of a new user to existing site
- confirmation that new user is able to perform an action at the permission level assigned to user

Optional and up to the developer:
- how to perform the removal of invited user from the site (UI or API)
- whether to create a new

[2022-08-01 21:28] worldomonation opened #66144 "Quarantined E2E: refactor `Notification: Trash`"
### Details

Refactor this test at `notifications__trash.ts`.

Key features/flows that should be covered by this are:
- confirm that notification shows up in the notification sidebar.
- user is able to trash the notification.

Optional flows that should be covered (in which case the spec should be renamed):
- user is able to interact with the notification in other ways (eg. approve)
- user is able

[2022-08-01 21:38] worldomonation opened #66145 "Quarantined E2E: Support: Popover Valid"
### Details

### Details

Refactor this test at `support__popover-valid.ts`.

Key features that should be covered by this spec are:
- ensuring the response from valid support requests are as expected
- support article can be clicked on and takes user to the expected location

Optional and up to the developer:
- name and scope of the spec if additional flows should be added.

### Checklist

_No res

[2022-08-01 21:39] danielbachhuber commented on #65175
@SaxonF Another approach to consider: linking to a Calendly (or SavvyCal) link from the Sites Management Page. If we only display it to WordPress.com users fitting our ICP, it might be a useful way to get a constant drip of interviews.

While I'm on the thought, we could potentially wire up something similar with HappyChat: when a WordPress.com user matching our ICP shows up in chat, indicate as s

[2022-08-01 22:29] cometgrrl commented on #54520
A lot has changed since this was filed; let's recheck it.

[2022-08-01 22:49] cometgrrl commented on #54678
I am not able to reproduce this issue. I set an image block widget to hide if the front page, and in the customizer, it was no longer shown on the front page.

[2022-08-01 22:53] #65941 closed, assigned to sirbrillig

[2022-08-01 23:33] #54678 closed, assigned to nobody

[2022-08-01 23:36] cometgrrl commented on #65580
Agreed that this label may not be appropriate, so I removed it. I think` [Closed] By Design` might b more appropriate?

[2022-08-01 23:37] JulianBustamante commented on #65682
Deployed r249946-wpcom

[2022-08-01 23:44] jeyip opened #66147 "LaunchPad - Add moments of celebration"
### What

As the user completes the launchpad checklist, we can add emojis, playful text, or other ways of celebrating their progress.

### Why

We can delight users with fun messaging and animations, which can be a way of connecting with users more personally and can also provide a better first impression of our platform

Related to https://github.com/Automattic/wp-calypso/issues/65684

[2022-08-01 23:51] cometgrrl commented on #54684
I'm not seeing the page templates on my site either, I'm not even seeing it appear briefly like in the original report.

I'm on Chrom Version 103.0.5060.134 (Official Build) (arm64), Mac OS 12.4.

https://user-images.githubusercontent.com/86427589/182263639-b4218ee3-cb8a-48b7-bb80-25d4a87ff4e5.mov

[2022-08-02 00:09] vasyas opened #66149 "Help Center: disable for P2 frontend"
### What

Remove Help Center assets from the P2 frontend.

### Why

Help Center is not used in the P2 frontend editor. Loading its assets will degrade page loading time. Also, sometimes loading of Help Center brings unneeded CSS rules, see 5805-gh-Automattic/p2 and #66181

### How

_No response_

[2022-08-02 01:49] SaxonF commented on #66023
@blackjackkent are we able to treat this as a separate small project since that's current behaviour? Its actually an issue we looking at as part of the build team work as well, so whatever we decide there can also apply here.

[2022-08-02 02:01] inaikem opened #66150 "Reblog: Featured images not visible on reblogged posts"
### Quick summary

When a post is reblogged, the post's featured image is never shown on the public post. It is however, output as an `og:image` and picked up in both the Calypso post list and rich media previews on social networks, etc.

Changing/re-adding the featured image has no effect. The image is simply not output on the front end.

Cc @druesome

### Steps to reproduce

1. Reblog a post wit

[2022-08-02 02:32] SaxonF commented on #65750
if the goal is to help guide and educate users, should this part of the help center work and/or Launchpad on Create? I'm wary of introducing too many generic pathways into help and it might also get more visibility there.

[2022-08-02 03:16] inaikem opened #66152 "Button Block on Barnsbury theme is "invisible" when set to 'Outline'"
### Quick summary

Using the Barnsburey theme, the Button Block shows as invisible on the front end when set to use the 'Outline' style.

### Steps to reproduce

1. Activate the Barnsburey theme.
2. Add a button block to a page.
3. Set it to 'Outline' and save the page.
4. View the page.
5. The button is "invisible" and only appears on hover.

### What you expected to happen

I expect the button t

[2022-08-02 03:35] inaikem commented on #66150
Additional internal discussion here: p1659410908982619-slack-C03NLNTPZ2T

[2022-08-02 06:00] #65811 closed, assigned to lsl, candy02058912

[2022-08-02 07:10] galakhyati opened #66154 "The links are showing with underline"
### Quick summary

After updating the WordPress.com Editing Toolkit plugin to version 3.37635 the links on the site are showing with an underline.

### Steps to reproduce

1. The menu links and other links on the site should be existing.
2. WordPress.com Editing Toolkit is updated to v3.37635
3. The links will now be showing with an underline.
4. Removing from the Editor isn't affecting on the fro

[2022-08-02 07:10] galakhyati opened #66287 "The links are showing with underline"
### Quick summary

After updating the [WordPress.com](<http://WordPress.com>) Editing Toolkit plugin to version 3.37635 the links on the site are showing with an underline.

### Steps to reproduce

1. The menu links and other links on the site should be existing.
2. [WordPress.com](<http://WordPress.com>) Editing Toolkit is updated to v3.37635
3. The links will now be showing with an underline.
4.

[2022-08-02 07:28] lsl commented on #66084
@cpapazoglou @candy02058912 was going to complete this static reordering as an onboarding task tomorrow, could we takeover here with https://github.com/Automattic/wp-calypso/issues/66033 - we'll use this list the csv above to decide on ordering.

[2022-08-02 07:33] cpapazoglou commented on #66084
Thanks @lsl and @candy02058912 , I will close this as duplicate.

[2022-08-02 07:33] #66084 closed, assigned to cpapazoglou

[2022-08-02 07:39] mriyazuddin opened #66155 "Lodestar theme: List block on homepage appears center aligned by default"
### Quick summary

On home page List block appears center aligned by default when using the Lodestar theme.

### Steps to reproduce

1. On a simple or AT site, activate the Lodestart theme.
2. On the home page, add a list block with a few list items.

### What you expected to happen

The list should have appeared left-aligned.

### What actually happened

The list appears center aligned.

### Cont

[2022-08-02 07:40] mriyazuddin commented on #66155
- [ ] #5440049-zd

[2022-08-02 08:52] csabarakasz commented on #55822
Same issue here

- [ ] 36046401-hc

The shop page was set to home page automatically and the original home page was renamed to untitled.

[2022-08-02 08:56] syhussaini opened #66156 "Copy Styles Option on Gutenberg Blocks"
### What

I would like to have an option to **Copy Styles** of a block so that it can be pasted on another block.

### Why

Having an option to **Copy Styling** of a block will speed the work of composing the posts and pages.

### How

I found a similar solution in the Stackable Page Builder

- https://wpstackable.com/wp-content/uploads/2021/02/Screen-Recording-2021-02-10-at-5.09.27-PM.mp4.mp4

An

[2022-08-02 09:02] alshakero commented on #54684
Hi everyone! This happens when the Editing Toolkit Plugin is disabled. I checked both sites that can reproduce here and both have ETK disabled. Enabling it should fix the issue, page templates are part of ETK.

[2022-08-02 09:11] #66115 closed, assigned to rcrdortiz

[2022-08-02 09:11] rcrdortiz commented on #66115
761-gh-Automattic/dotcom-manage

[2022-08-02 09:14] rcrdortiz commented on #66077
Fixed here: https://github.com/Automattic/wp-calypso/issues/66115

[2022-08-02 09:14] #66077 closed, assigned to BogdanUngureanu

[2022-08-02 09:15] rw-ye commented on #64596
Another report here: 5443273-zd-woothemes

The font size in Styles is also overriding the size set in block settings.

[2022-08-02 09:31] mriyazuddin commented on #39153
- [ ] Another one reported here: #5442039-zen

[2022-08-02 09:42] imodouglas commented on #65662
Hi @jamiepalatnik, I have been able to replicate this issue on my test site and I can confirm that the mini cart block shows blank content when WooCommerce, Page Optimize, and WooCommerce Payments are activated together.

[2022-08-02 09:51] Nic-Sevic commented on #54684
@alshakero I'm not sure that ETK was disabled at the time of testing since I'm regularly testing on that site and may have disabled it for something else. If you can reliably reproduce though, thank you for taking a look! If I happen to see it again with ETK enabled I can reopen but in this case it sounds like maybe we can close?

[2022-08-02 10:03] gcsecsey opened #66158 "Marketplace search: results show a 5-star rating if there are no ratings"
#### Steps to reproduce

1. Starting at URL: https://wpcalypso.wordpress.com/plugins
2. Search for a plugin with no ratings, eg.: `unicard`

#### What I expected
The search result should show 0 ratings.

#### What happened instead
The search result shows 1 rating of 5.

#### Screenshot / Video
![CleanShot 2022-08-02 at 12 02 07@2x](https://user-images.githubusercontent.com/11555574/182348514-cf29d

[2022-08-02 10:08] alshakero commented on #54684
Yes, please do! That would be very helpful, thanks 🙏🏼

[2022-08-02 10:10] gcsecsey opened #66159 "Marketplace search: author display name differs from WP.org"
Some results display a different author name that's displayed on WP.org. We may need to revisit which fields we use as the source for the author display name.

#### Steps to reproduce

1. Starting at URL: https://wpcalypso.wordpress.com/plugins
2. Search for a plugin where the author username and display name are different, eg.: `unicard`
3. Search for the same plugin in the WP.org plugin reposito

[2022-08-02 10:13] gcsecsey commented on #66089
Posted the CFT: pdtkmj-jJ-p2

[2022-08-02 10:18] taipeicoder opened #66160 "Unified design picker: In mobile view, themes are too close to each other"
## Description
In mobile view, themes are too close to each other, making the theme metadata hard to associate. See screenshot:

![Image](https://user-images.githubusercontent.com/797888/182351556-43486ae3-aaa5-4910-bdea-c9cf109dcce3.png)

## Acceptance Criteria
- [ ] Themes should have enough vertical spacing between them, in order to make their separation clear.

[2022-08-02 10:22] mriyazuddin commented on #62461
User had provided the list of posts in #4821363-zd. I just looked at all those posts and could see that the Galleries are appearing fine now. There are no more errors and the images appear fine. I've let the user know and asked them to check and reconfirm. Guess it was indeed related to [WordPress/gutenberg#41161](https://github.com/WordPress/gutenberg/issues/41161). If user confirms its fixed, we

[2022-08-02 10:23] taipeicoder opened #66161 "Unified design picker: Device switcher disappears when resizing the browser"
## Description
As the user resize the browser window, the device switcher component disappears and reappears. See video: https://video.wordpress.com/v/bjz57K8F

## Acceptance
- [x] The device switcher component should always show when in desktop view.
- [x] The device switcher component should not show when in mobile view.

[2022-08-02 10:29] renata-franco commented on #50740
Hi @daledupreez. Thank you for updating this! Does this mean the issue should be solved on all Simple sites?

[2022-08-02 10:32] daledupreez commented on #50740
Hi @renata-franco! Yes, we should have a 1 hour cache period for podcasts on all Simple sites.

We should be rolling out a similar fix to Atomic sites this week in Automattic/wpcomsh#1056.

[2022-08-02 10:33] renata-franco commented on #65717
[wordpress.com/wp-admin/network/admin.php?page=store-admin&action=search&username=a8cteam51](https://wordpress.com/wp-admin/network/admin.php?page=store-admin&action=search&username=a8cteam51)

Thanks for explaining this :)

[2022-08-02 10:35] renata-franco commented on #65719
Thanks for telling me. It looks like this has been re-opened.

[2022-08-02 10:42] #54684 closed, assigned to nobody

[2022-08-02 11:07] syds87 commented on #65782
Thanks, @cumarie for checking this! I have tried a test site, Simple site with a Domain Connection and Registration subscription, using the free .wordpress.com address as the primary one.

I get this message as soon as I try accessing the wp-admin for that website.

Thanks!

[2022-08-02 11:15] renata-franco commented on #50740
That is such great news, Dale. I will update the user I am working with regarding this issue then. Thank you so much for working on this.

[2022-08-02 11:22] lukaszwilczakwilnet commented on #50033
This task is resolved by another issue https://github.com/Automattic/wp-calypso/pull/62021

[2022-08-02 11:37] daledupreez commented on #63064
Can I request some input from @Automattic/shilling on this topic?

I think you are likely best placed to comment on how clearly we communicate:
1. That we are going to save their payment method,
2. That we are going to use the saved payment method for future payments.

Some of this may depend on the specific payment method, but I would like someone with more insight to comment on this.

[2022-08-02 11:39] renancarvalho opened #66163 "Signup: Add setup step for link in bio flow"
### Details

This PR adds the **visual implementation** of the second step on the link in bio flow and it should look like the [design here](https://www.figma.com/file/BcUdhLlhAp7UHtQHNTI4zA/Tailored-Onboarding-%26-Launchpad?node-id=1890%3A22166)

### Checklist

_No response_

### Related

_No response_

[2022-08-02 11:41] danielbachhuber commented on #64714
Shipped in r249966-wpcom

[2022-08-02 11:48] #65299 closed, assigned to sejas

[2022-08-02 11:57] #50033 closed, assigned to lukaszwilczakwilnet

[2022-08-02 12:04] daledupreez commented on #64758
This issue was addressed by WordPress/gutenberg#42073, which made it into Gutenberg 13.7. As of yesterday, we're running Gutenberg 13.7.3 on WordPress.com, so we can mark this issue as resolved.

[2022-08-02 12:04] #64758 closed, assigned to nobody

[2022-08-02 12:04] gcsecsey commented on #63903
### Resolving the sync issues to unblock indexing

Based on the discussions on this thread, to sync the required fields, we will need to enable sync for additional meta fields and taxonomies to the allow list.

#### Meta fields
Based on: pdh6GB-Ax-p2#comment-2504

We don't need the data to be indexed because we will map the synced data to indexed fields at a later step.

Steps:
- on WC.com run `ad

[2022-08-02 12:10] daledupreez commented on #64682
The related fix in the upstream Gutenberg repo is scheduled for inclusion in Gutenberg 13.8, which should be released in the next week. We'll then need to get this rolled out to WordPress.com, but that should happen relatively soon after release.

[2022-08-02 12:13] rickmgithub opened #66165 "Stats counting on private site while editing pages"
### Quick summary

On a private site simply editing a page/post causes the view count to increase on the stats page.

### Steps to reproduce

URL:     sharazade.wordpress.com

PROBLEM:
Why is the stats module counting visits from them themselves?

WHAT I FOUND:
* The site is private (which means that visits to the site by any admin or invited person will be counted)
* However, they say it is count

[2022-08-02 12:22] sejas commented on #65299
This issue should be fixed already on simple sites, and It will be fixed on atomic sites in the next jetpack release: https://github.com/Automattic/jetpack/pull/25331

[2022-08-02 12:37] ivan-ottinger commented on #66079
The D85180-code patch is now ready for review.

[2022-08-02 12:54] gcsecsey commented on #63903
Created WPCOM diff: D85227-code

[2022-08-02 13:15] #65698 closed, assigned to valterlorran

[2022-08-02 13:21] #65705 closed, assigned to valterlorran

[2022-08-02 13:24] andres-blanco commented on #66134
D85230-code

[2022-08-02 13:32] ivan-ottinger commented on #66109
D85228-code patch is now ready for review.

[2022-08-02 14:04] #65654 closed, assigned to danielbachhuber, zaguiini

[2022-08-02 14:42] griffbrad commented on #56194
@cometgrrl Sorry for the delayed reply. I was out last week. Not that I'm aware of, but it's possible someone reached out to someone else on @Automattic/team-calypso directly.

[2022-08-02 14:49] #65523 closed, assigned to cpapazoglou

[2022-08-02 14:50] #65697 closed, assigned to agrullon95

[2022-08-02 14:55] cintacks opened #66171 "Newest Products Block button colors inherit from "Link color" but should be specific to buttons"
### Quick summary

Global button style colors should apply correctly - but text takes on button background color.

### Steps to reproduce

Prerequisite: WooCommerce installed with at least one product added.

1. Enable Blank Canvas or Zoologist (only themes tested)
2. Add `Newest Products` Block to Editor
3. Adjust global button colors
4. View on frontend - button text color is same as button colo

[2022-08-02 14:58] jp-imagines opened #66172 "Cover block: "Style" options missing on new sites"
### Quick summary

The "Style" options (e.g. top wave, bottom wave) are completely missing on newly created sites (unsure of the start date). This seems to be the case regardless of plan or theme.

### Steps to reproduce

1. Create a new site (on any plan and with any theme).
2. Open the editor for a post or page.
3. Insert a Cover block and add media.

### What you expected to happen

There shoul

[2022-08-02 15:05] ivan-ottinger commented on #66112
Addressed in D85232-code and D85236-code.

[2022-08-02 15:05] #66112 closed, assigned to JuanLucha

[2022-08-02 15:14] #65651 closed, assigned to danielbachhuber, zaguiini

[2022-08-02 15:20] cpapazoglou commented on #66089
Should we move this to next sprint for monitoring the CfT and launching in production?

[2022-08-02 15:46] blackjackkent commented on #66023
Sure - meaning you'd like us to push this to i.e. next sprint? We can do that - do you have a link to the build team issue just so I can keep an eye on that discussion as well?

[2022-08-02 16:07] sirbrillig commented on #63064
This is a good question!

For plan purchases, just above the payment button there is text that reads,

Since they have agreed to authorize us to charge their payment method on a recurring basis, I imagine that covers the consent for us to save their card as well. However, for one-time purchases that text may not be present and we would still save their card. Perhaps we can just add some similar te

[2022-08-02 16:22] sejas commented on #65733
Our latest implementation integrates the page context to build the URLs. In this way, the app handles the history stack "automatically".
The filtered results and the query params are working out of the box. The only thing that is failing is marking as active the selected tab.
I've found that our Tabs component uses a state encapsulated that we don't have control over.
https://github.com/WordPress/

[2022-08-02 16:25] andres-blanco commented on #66134
Closed by D85230-code

[2022-08-02 16:25] #66134 closed, assigned to andres-blanco

[2022-08-02 16:56] tvolpert commented on #66154
I had two instances of this today:

- [ ] 36298079-hc
- [ ] 35942328-hc

I provided the CSS workaround for both.

[2022-08-02 17:49] yashdev9274 commented on #66033
hello Louis Laugesen is this issue still open

[2022-08-02 17:57] worldomonation opened #66177 "Flaky E2E: Plans page states user is on WordPress.com Premium plan"
### Spec file

plans__upgrade.ts

### TeamCity ID

_No response_

### Logs

[code]

[2022-08-02 18:10] #65682 closed, assigned to JulianBustamante

[2022-08-02 18:28] eduardozulian commented on #64964
@chad1008, sorry for the delay here. I haven't contacted any users, but this is still happening with at least two sites:

* 5321874-zen, simple site
* 5321864-zen , AT site

Both customers have some custom CSS. Once removed, the problem reappears.

Pinging @Greatdane @aleone89 @rakshitwesley again in case you all missed the initial ping as I did!

[2022-08-02 18:31] markbiek opened #66179 "Theme Subscription: Extra purchase when buying a theme subscription"
After purchasing either the `theme:baxter-yearly` or `theme:baxter-monthly` theme subscriptions, I end up with two purchases.

![image](https://user-images.githubusercontent.com/917632/182445237-ed8ac176-b26f-4ee7-b540-5b6a45782a16.png)

You can also see both purchases by viewing `/sites/<site-id>/purchases`
![image](https://user-images.githubusercontent.com/917632/182445363-3a52fdfd-8384-4ae5-b2d

[2022-08-02 18:34] cometgrrl commented on #54530
Please re-open if we see this happen again.

[2022-08-02 18:34] #54530 closed, assigned to nobody

[2022-08-02 20:22] Joshgrygiel commented on #66165
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - N/a
- Replicable on Core - N/a

📌 FINDINGS/SCREENSHOTS/VIDEO:
- I was able to reproduce this issue on only a Free testing site:

https://user-images.githubusercontent.com/88345647/182465697-e216080a-5c57-4449-aece-12da49422f13.mov

- Issue does not seem to occur on any site that has a paid plan, only t

[2022-08-02 20:28] cometgrrl commented on #43919
Per https://github.com/Automattic/wp-calypso/pull/62591, we are not allowing the creation of views on Atomic sites, so this bug is no longer relevant.

[2022-08-02 20:28] #43919 closed

[2022-08-02 20:32] mreishus commented on #65857
Some PRs cleaning up the theme card:
  * #66170
  * #66173
  * #66183
  * #66184

[2022-08-02 20:32] Joshgrygiel commented on #66025
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - N/a
- Replicable on Core - N/a

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to verify that the price label for bi-annual plans is indeed displaying the incorrect price per year:

![Annotation on 2022-08-02 at 15-31-47](https://user-images.githubusercontent.com/88345647/182467822-8b8fe08c-2470-4719-a5f2-6

[2022-08-02 20:36] Joshgrygiel commented on #65991
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - N/a
- Replicable on Core - N/a

📌 ACTIONS
- Closed as duplicate of this report: https://github.com/Automattic/wp-calypso/issues/66025

[2022-08-02 20:36] #65991 closed, assigned to nobody

[2022-08-02 20:41] cometgrrl commented on #54684
@alshakero TIL! Thanks!

[2022-08-02 20:41] danielbachhuber commented on #65995
@vindl Here's my first pass at `Google and Apple Social Auth Tracks Events` documentation: PCYsg-JCl-p2

Couple of questions:
1. Can you let me know if there's anything you'd add to or change about the documentation?
2. Which funnels would it make sense to add? Personally, I think the events are useful enough on their own; I'm not sure if funnels are necessary.

Thanks!

[2022-08-02 20:43] DavidRothstein commented on #65580
Yeah, maybe "By Design" at least for the specific solution proposed here, since it sounds like the intended goal is to not show the free plan.

But I think the expectation that clicking "Choose my domain later" shouldn't lock you in to a paid plan is a legitimate expectation, so either changing the wording of that link or addressing the confusion otherwise is probably going to be a valid solution.

[2022-08-02 20:49] Joshgrygiel commented on #66172
📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm that the styles outlined in the documentation here: https://wordpress.com/support/wordpress-editor/blocks/cover-block/#styles are not appearing within the Cover Block settings. I'm not entirely sure if this is intended, and if our sup

[2022-08-02 20:51] jeyip commented on #66124
It'll be worthwhile to look at the existing implementation of the my home site setup checklist https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/customer-home/cards/tasks/site-setup-list/index.jsx

[2022-08-02 21:11] jgcaruso commented on #66076
I've added it to our team board. We'll take a look.

[2022-08-02 21:52] cometgrrl commented on #54990
Same for me (although white is suggested and displayed correctly in the editor, none of the others worked).

[2022-08-02 22:25] obenland commented on #62112
It doesn't look much better in German:
<img width="277" alt="image" src="https://user-images.githubusercontent.com/1398304/182483845-fc99dc05-473a-4e67-8be9-cb560d9c107e.png">

Maybe we could lose that dismiss X to give the rest of the banner text more room?

[2022-08-02 22:29] obenland commented on #62112
Introduced in D72131-code. @withinboredom Any chance this could be revisited in the context of i18n?

[2022-08-02 22:35] worldomonation opened #66188 "[Meta] KPI Dashboard Project"
### Details

As noted in pciE2j-EI-p2, @Automattic/kitkat is looking to create a dashboard to report on identified metrics.

### Checklist

_No response_

### Related

_No response_

[2022-08-02 22:36] worldomonation opened #66189 "KPI Dashboard: set up S3 bucket"
### Details

Set up a S3 bucket where the test reports will be sent to.

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/66188

[2022-08-02 22:37] worldomonation opened #66190 "KPI Dashboard: investigate Allure"
### Details

Take a look at [jest-allure](https://github.com/zaqqaz/jest-allure) as an option for reporting.

WooCommerce already uses Allure for their reporting: https://woocommerce.github.io/woocommerce-test-reports/daily/api/allure-report/#suites

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/66188

[2022-08-02 22:38] worldomonation commented on #66190
Bonus: other tools and reporters for Jest are noted here: https://github.com/jest-community/awesome-jest#reporters

[2022-08-02 22:38] vindl opened #66191 "Sites Management Page: Write a draft for blog announcement"
Let's start a draft post in Google docs for this feature's upcoming WP.com blog announcement. It should be done two weeks before the planned release date.

Once done, we should also make a `socialmattic` request.

[2022-08-02 22:40] worldomonation opened #66192 "KPI Dashboard: investigate dashboard framework"
### Details

Investigate what the best approach would be to render the generated reports.

WooCommerce version: https://github.com/woocommerce/woocommerce-test-reports
Jetpack version: https://github.com/Automattic/jetpack-e2e-reports

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/66188

[2022-08-02 22:42] worldomonation opened #66193 "KPI Dashboard: push test results from TeamCity to S3"
### Details

Set up a test build to push jest-generated test reports from TeamCity to S3.

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/66188

[2022-08-02 22:45] worldomonation commented on #65409
@chriskmnds With the Plans revert, is this still relevant?

[2022-08-02 22:50] lsl commented on #63179
Might be able to avoid the workaround but need more time to investigate.

Linking the debug issue https://github.com/Automattic/wp-calypso/issues/23565#issuecomment-1198952641

And the 20% time p2 pb5gDS-1Vj-p2 about D85060-code and D85066-code

[2022-08-02 23:02] vindl commented on #65172
@danielbachhuber, I thought we'll need some backend/code handling to determine when to refresh the generated thumbnail. After chatting with folks, we concluded that this issue can be closed in favor of the other open one, but I forgot to circle back and close it.

[2022-08-02 23:02] #65172 closed, assigned to danielbachhuber, vykes-mac

[2022-08-02 23:07] lsl commented on #66033
Hi @yashdev9274, yes still open but it's something we need to change on the backend, sorry if you were looking for something to start on in calypso!

[2022-08-02 23:20] vindl commented on #65995
@danielbachhuber

1. The documentation LGTM.
2. No need to create funnels, for now, let's observe the events as you suggest. If needed, I'll create some funnels after we get a couple of weeks' worth of data.

[2022-08-03 00:35] cometgrrl commented on #55079
I am not able to reproduce this. However, I am not able to see the Exif of my photo, even when `Show photo metadata ([Exif](https://en.wikipedia.org/wiki/Exchangeable_image_file_format)) in carousel, when available`. is on.

[2022-08-03 01:48] jeyip commented on #66119
I created a draft PR that creates a new full screen launchpad container in Stepper. I started there instead of with the Calypso modal for a few reasons:

1. We have access to navigation helpers only available to components rendered within the scope of stepper. They allow us to easily move back and forth to different steps within onboarding.
2. The page layout, top progress bar, escape hatch button

[2022-08-03 02:39] alaczek commented on #65496
Hi all! It's been a little while - are there any blockers to launching this one?

[2022-08-03 02:53] syedshaon commented on #57812
5439179-zd

[2022-08-03 02:55] taipeicoder opened #66195 "Unified design picker: Previews not being verticalized"
## Description
There is a regression issue where generated design previews are not verticalized (images not being replaced), and showing the default "cloud" images. See screenshot for reference:

![Image](https://user-images.githubusercontent.com/797888/182513328-7c88bfd4-733d-4f35-bafb-330379d1492b.png)

The issue is likely to be related to this [line](https://github.com/Automattic/wp-calypso/blo

[2022-08-03 03:36] taipeicoder commented on #66195
Closing as it's shipped.

[2022-08-03 03:36] #66195 closed, assigned to taipeicoder

[2022-08-03 04:31] vishnugopal commented on #66036
Agreed, seems to be working fine now, must have been a niggle! Closing!

[2022-08-03 04:31] #66036 closed, assigned to jimmy319

[2022-08-03 04:42] vishnugopal commented on #63202
This seems to be fixed as per comment here: pciE2j-1fY-p2#comment-1067:~:text=an%20error%20screen.-,Also%2C%20I%20entered%20cometgrrl.com%20without%20the%20www%20as%20the%20domain%20to%20import%2C%20so%20that%20seems%20to%20be%20a%20non%2Dissue%20as%20well.,-I%20will%20note

[2022-08-03 04:42] #63202 closed, assigned to zaerl, jeroenpf

[2022-08-03 05:58] #63122 closed, assigned to jimmy319

[2022-08-03 06:19] rcrdortiz opened #66201 "Marketplace Software Installation: Error messages are being sent to Slack when the first try fails"
## Description
When we purchase a Marketplace product and installing that product fails, the job for installing the product is re-queued so that it can be retried at a later moment. Some failure cases get installed correctly on the second try but already logged an error message and sent it to slack which leads to false positives that shouldn't be looked into since at the moment of looking at the e

[2022-08-03 06:42] mzitinfo commented on #65782
Hi! I just wanted to clarify that this message appears in our dashboard at https://wordpress.com/domains/manage/siteaddress.wordpress.com, not in /wp-admin :)

[2022-08-03 06:58] mzitinfo commented on #65782
Hi, I wanted to confirm I can replicate the issue on a test site of mine as well:

![Bildschirmfoto von 2022-08-03 08-50-40](https://user-images.githubusercontent.com/9356132/182543576-38ac8389-5b45-4620-bd4f-a2a2b98f771b.png)

Side issue, but the link "Click here..." actually leads me to the domain registration page, rather than the domain management page:

![Bildschirmfoto von 2022-08-03 08-50-5

[2022-08-03 07:43] p-jackson opened #66203 "Sites Management Page: Loading state while fetching sites"
This is what the loading state looks like currently.

![Image](https://user-images.githubusercontent.com/1500769/182550684-8d20a39c-e57b-4c10-b807-82f67d0f2c5e.png)

It's indistinguishable from the case where users actually have no sites.

The usual pattern in Calypso is to show a placeholder that roughly resembles what the shape of what the loaded state looks like, except with pulsating rectangle

[2022-08-03 07:47] pauljacobson opened #66204 "Image Block: Unwanted spacing added around images in an Image Block that doesn't seem to be due to the theme"
### Quick summary

Our user raised a concern about what seems to be a small amount of padding or margin that is added to an image in an Image Block like this:

https://user-images.githubusercontent.com/2912202/182549496-2c8a9dcd-c133-4551-8c8f-3aedf6d6dfe8.mp4

This doesn't seem to originate in the theme's CSS code, though. There also isn't an option to manage this in the user's post editor. This

[2022-08-03 07:49] devNigel commented on #53716
Another report: [35802630](35802630-hc)
Followup: 5446540-zd-woothemes

[2022-08-03 07:52] jeherve commented on #54974
I can't reproduce the original issue, or the problem described in the comment. :(

@inaikem If you can still reproduce this, do you think you could record a screencast of the problem?

Thank you!

[2022-08-03 08:09] rcrdortiz commented on #65196
1059-gh-Automattic/wpcomsh

[2022-08-03 08:10] rcrdortiz commented on #66201
763-gh-Automattic/dotcom-manage

[2022-08-03 08:11] ivan-ottinger opened #66207 "Import step: Remove translation fallback"
The translation fallback logic that was introduced in https://github.com/Automattic/wp-calypso/pull/65845 to allow new Import step launch before the translations were ready is no longer necessary and can be removed. The goal is to clean up the code.

[2022-08-03 08:14] ivan-ottinger commented on #66207
https://github.com/Automattic/wp-calypso/pull/66205 is now ready for review.

[2022-08-03 08:15] jimmy319 opened #66208 "Russian text truncated in WP importer"
### Issue:
see 455-gh-Automattic/i18n-issues

[2022-08-03 08:47] p-jackson opened #66209 "Sites Management Page: "New Site" button should use sentence caps"
We use "sentence-style capitalization" in Calypso
https://wpcalypso.wordpress.com/devdocs/design/button

Done is:
- "New Site" button says "New site"

[2022-08-03 08:53] p-jackson opened #66210 "Sites Management Page: Don't show status-specific empty states where there are no sites at all"
When the user has no sites at all the empty states currently look like this.

https://user-images.githubusercontent.com/1500769/182567507-6b7ecca9-6a04-4ac8-8b41-dc697abcad99.mp4

The helpful messages about "launch one of your sites" don't make much sense when there are no sites. In this case, we should show the "Create your first site" message regardless of the status filter.

Done is:
- "Create

[2022-08-03 09:09] p-jackson opened #66211 "Sites Management Page: Update style of empty states"
We show a helpful message when the user has no sites at all. We just need to update its style so they match the mockup (which will bring them in line with the standard `<EmptyContent>` style we use elsewhere in Calypso)

Mockup looks like this:
![Image](https://user-images.githubusercontent.com/1500769/182568874-b1f05409-92b2-411b-8031-22a4a7964058.png)

Current implementation looks like this:
![I

[2022-08-03 09:14] wojtekn opened #66212 "[Bug]: Calypso still shows UI that allows removing owner in some cases"
### Quick summary

Recently under https://github.com/Automattic/wp-calypso/pull/65966 we fixed issues with conditions that prevent from displaying UX that allows editing or removing the site's owner.

While validating the issue for users who reported the problem, I found another case in which it fails, and it still displays the UI.

The REST endpoint doesn't allow for the deletion of such an owner

[2022-08-03 09:15] ivan-ottinger commented on #66079
The D85180-code patch is now merged and deployed to production.

[2022-08-03 09:15] #66079 closed, assigned to ivan-ottinger

[2022-08-03 09:17] vishnugopal opened #66213 "[Bug]: Mismatched Subscriber Count in Publish & Subscribe Blocks"
### Quick summary

For my site `vishnugopal.com`, there seems to be a mismatch between the number of followers/subscribers I have and the count it displays when I hit Publish or add a Subscribe block:

Publish:
<img width="268" alt="CleanShot 2022-08-03 at 14 41 58@2x" src="https://user-images.githubusercontent.com/533/182571179-4a48a1d4-3fa1-4b47-b244-b01480f87357.png">

Subscribe block:
<img wid

[2022-08-03 09:19] #66207 closed, assigned to ivan-ottinger

[2022-08-03 09:21] dolgelukkig commented on #66171
Found another issue
36180140-hc
Theme: Meraki
Block used: Hand-picked products

Shared CSS as a workaround.

[2022-08-03 09:35] heavyweight opened #66215 "Setup newsletter flow"

[2022-08-03 09:38] rcrdortiz opened #66216 "Marketplace Software Installation: Error when activating woocommerce-subscriptions"
## Description
There is currently an incompatibility issue between WooCommerce Payments and WooCommerce Subscriptions plugins as can be seen in [this slack conversation](p1659432227529449-slack-CJS75TX3R).

[2022-08-03 10:16] yashdev9274 commented on #66033
is there any beginner friendly issues you know I can contribute to...

[2022-08-03 10:16] yashdev9274 commented on #66033
I am new to open source and haven't done any commits yet

[2022-08-03 10:17] yashdev9274 commented on #66033
so if there are please let me know

[2022-08-03 10:46] gcsecsey commented on #66089
Good idea, moved it to the next sprint backlog 👍

[2022-08-03 10:46] danielbachhuber commented on #65995
@vindl Sounds good, thanks!

[2022-08-03 10:46] #65995 closed, assigned to danielbachhuber

[2022-08-03 11:11] #66209 closed, assigned to danielbachhuber

[2022-08-03 11:16] ivan-ottinger commented on #66109
D85228-code is now merged and deployed to production.

[2022-08-03 11:16] #66109 closed, assigned to ivan-ottinger

[2022-08-03 11:19] Addison-Stavlo commented on #66119
Very nice finds!

I imagine that url might need some sort of site specific ID or url?

[2022-08-03 11:33] pauljacobson opened #66223 "Business Hours Block: Option to reorder days from Monday to Sunday"
### What

The [Business Hours Block](https://wordpress.com/en/support/wordpress-editor/blocks/business-hours-block/) examples indicate that business hours can be [arranged from Monday to Sunday here](https://wordpress.com/support/wordpress-editor/blocks/business-hours-block/#block-display):

![](https://jetpackme.files.wordpress.com/2019/06/block-display-editor.png)

The current iteration of the b

[2022-08-03 11:38] halleshubham commented on #66172
Should we be adding the styles or updating the docs?

[2022-08-03 11:49] #64807 closed, assigned to heavyweight

[2022-08-03 11:50] filipanoscampos commented on #57812
Another case, here: 36311000-hc

Please follow up, here:

- [ ] 5448353-zd-woothemes

[2022-08-03 12:00] halleshubham commented on #66211
how to access the Figma mockup:  184522-pb ?

[2022-08-03 12:20] davipontesblog commented on #53233
With https://github.com/Automattic/wp-calypso/issues/56869 merged, I am closing this issue. If we would like to explore further improvements to the atomic infrastructure when it comes to applying headstart annotations to sites on theme switch it's best a new issue is created with a more narrowly defined scope or goal.

[2022-08-03 12:20] #53233 closed, assigned to nobody

[2022-08-03 12:25] sudeepbaral commented on #63229
- [ ] 5444228-zen

Reported here as well. The user has installed Custom Fonts plugin and installed the font as a workaround for now.

[2022-08-03 12:31] #65777 closed, assigned to markbiek

[2022-08-03 13:48] #66001 closed, assigned to WBerredo

[2022-08-03 13:53] daria2303 commented on #51540
5448514-zd-woothemes

[2022-08-03 14:08] #65762 closed, assigned to sejas

[2022-08-03 14:11] #65733 closed, assigned to sejas

[2022-08-03 15:01] #63887 closed, assigned to WBerredo

[2022-08-03 15:01] #65611 closed, assigned to WBerredo

[2022-08-03 15:05] edanzer commented on #66124
## Notes on Reusing Home Setup Checklist for Launchpad

_... NOTE THIS IS A DRAFT IN PROGRESS. JUST MAKING NOTES/DISTINCTIONS AS I GO._

### Comparing Appearance

**Home Setup Checklist**

<img width="1069" alt="Screenshot on 2022-08-03 at 08-58-02" src="https://user-images.githubusercontent.com/21228350/182640938-d25543b7-ca98-48a9-bc26-8e940d791e34.png">

**Launchpad Checklist**

<img width="345

[2022-08-03 15:13] #66139 closed, assigned to sirbrillig

[2022-08-03 15:16] edanzer commented on #66124
## Notes on Reusing Current Stepper First Step List

The current stepper-based onboarding flow for new WP.com websites ends with a screen that has a kind-of similar feel to Launchpad. Like Launchpad, this is a task list that shows on the last page of an onboarding stepper flow. I thought it may also be a good jumping off point for Launchpad.

It looks like this:

<img width="1458" alt="Screenshot

[2022-08-03 15:18] renata-franco commented on #63583
📌 SCRUBBING

- Tested on Simple ✅

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I tried this on a Simple site only. I was able to replicate using the method explained [in the documentation.](https://wordpress.com/support/post-by-voice/)

I gave the process around 10 minutes to see if the MP3 or the post would be created, but nothing.

------

📌 ACTIONS

- Marked as Triaged for Quality Squad review

[2022-08-03 15:37] renata-franco commented on #66010
📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
-
------

📌 FINDINGS/SCREENSHOTS/VIDEO

I could not replicate this on Simple or AT sites. When adding the Social Media menu the WhatsApp link does not appear there by default. When adding a Custom Link in the Social Media menu going to My Site → Appearance → Menus, it shows the link. For example, I added a link to `google.com` and it showed a Goog

[2022-08-03 15:37] #66010 closed, assigned to nobody

[2022-08-03 15:59] jp-imagines commented on #57812
Another in 36314195-hc

- [ ] 5449183-zd-woothemes for follow-up

[2022-08-03 16:50] Babylon1999 commented on #57812
5445983-zd

[2022-08-03 16:55] worldomonation opened #66228 "Flaky E2E: Land in Home dashboard"
### Spec file

ftme__sell.ts

### TeamCity ID

8334868

### Logs

[code]

[2022-08-03 16:56] worldomonation commented on #66228
Screenshot:
![image](https://user-images.githubusercontent.com/6549265/182665831-6d6bb26d-3c10-4a74-ac54-014be3787980.png)

[2022-08-03 16:56] worldomonation commented on #66228
Video:
[ftme__sell__land-in-home-dashboard__0-0.webm](https://user-images.githubusercontent.com/6549265/182665940-359372b8-b118-4b23-b15e-181c7748a319.webm)

[2022-08-03 16:56] martian77 commented on #65498
I think D85282-code changes this to a feature check - still working on testing.

[2022-08-03 17:04] nelsonec87 opened #66229 "Theme subscription: List of potential new issues"
Things to remember testing/implementing re premium theme subscriptions:

- [ ] Handle the same theme being added to the shopping cart multiple times (different billing periods)
- [ ] Handle adding an already purchased theme to the shopping cart
- [ ] Check errors when buying/canceling theme subscriptions multiple times in the same blog
- [ ] After making a purchase, two rows are shown on the "Purc

[2022-08-03 17:16] agrullon95 commented on #66131
# LaunchPad Site Preview Notes (WIP)

## Reusing `<WebPreview />` component
The WebPreview component will provide us with an iframe that will display a provided site URL and a customizable toolbar to add options above the iframe. This has already been implemented on multiple pages such as the `/start/setup-site/` stepper flow (Navigate to http://calypso.localhost:3000/start/setup-site/design-setup

[2022-08-03 17:16] allilevine commented on #66033
@lsl @candy02058912 Does this need review of D85273-code?

[2022-08-03 17:32] CodeAllNightNDay opened #66231 "Rowling Theme: Fonts set in the Customizer not the same in Editor #5554"
### Quick summary

Using the Rowling theme, the fonts set in Customize > Fonts appear correctly on the live page but show a different font in the page editor.

5449616-zen

### Steps to reproduce

1. activate Rowling theme
2. go to Appearance > Customize > Fonts
3. set fonts for Heading and Base font
4. visit the site to see how it looks on the live page - it shows the correct font set in the Cust

[2022-08-03 18:21] jp-imagines commented on #59860
Another request in 5442924-zd-woothemes. This user is currently using Preformatted/Verse blocks to achieve this effect, but doesn't like the resulting overall appearance (their theme adds a scrollbar/overflow area to the right/bottom of each block), which wouldn't be an issue if this feature existed on default Paragraph blocks.

[2022-08-03 18:45] upwardmomentum84 opened #66233 "Classic Themes: Fonts set in Customizer are not applied in page or post editor"
### Quick summary

The font in the page editor does not match the font set in Customizer. Font seems to be `Times New Roman`. This is occurring even though "Use theme styles" is enabled in the editor preferences.

This is present in `Saga` theme. I tried various fonts and it seems to always show `Times New Roman`.

### Steps to reproduce

1. Activate `Saga` theme.
2. Open a page for editing.
3. Ma

[2022-08-03 18:55] creativecoder commented on #65697
Thanks @agrullon95 , it's good to see this area of the code cleaned up!

I think the main barrier to just removing the old properties is not wanting to break any clients that might be using them. The main concern it the mobile apps, so I've asked about them here: paYE8P-1Pu-p2#comment-1681

[2022-08-03 19:55] cuemarie commented on #66154
Encountered this here: 35034078-hc

Zoologist (Blockbase) theme, but content is built with Elementor. Elementor was showing the correct link styles, but the live site had the underlines.

In troubleshooting, we noticed that deactivating `Page Optimize` also removed the underlines.

Provided the CSS Workaround and that corrected the link styling.

[2022-08-03 20:44] cuemarie commented on #52182
I had a user encounter this issue in both Safari and Firefox browsers, here: 7691737-hc

We tried zooming their browser out and back in multiple times, and that never resolved the issue. Some specifics they shared:

I'm not at the point where cropping lines appear before I get the error message.

Both resulted in the error message.

**Error**:

![Markup on 2022-08-03 at 13:43:06](https://user-imag

[2022-08-03 20:52] cometgrrl commented on #52046
I can reproduce this, but I only see the WordPress.org masterbar when I'm proxied.

@Automattic/build Can y'all look into this? It's been open for quite some time and seems like a pretty big annoyance/missing feature for our Atomic users (who might not use wp-admin).

[2022-08-03 21:18] cometgrrl commented on #55115
This appears to have been resolved sometime in the last year, I am not able to reproduce it.

[2022-08-03 21:18] #55115 closed, assigned to nobody

[2022-08-03 21:23] mreishus commented on #65857
Some PRs for the Unified Design Picker:

* #66187
  * Checks if theme is purchased when browsing the list of designs. Requires sending a list of all purchased themes to the DesignPicker
* #66239
  * Checks if theme is purchased when previewing an individual design.

[2022-08-03 21:32] cometgrrl commented on #55248
This bug is no longer applicable as the feature has changed on core. The style previews are now shown to the left when you hover on the buttons.

[2022-08-03 21:32] #55248 closed, assigned to nobody

[2022-08-03 21:46] khristiansnyder commented on #64396
I've noticed this issue for a while and it is making it very difficult to use the block or add a new menu to FSE sites.

[2022-08-03 23:09] supernovia commented on #52048
Could this be related?
https://github.com/Automattic/wp-calypso/issues/62091

I may have another case here: 5417046-zd-woothemes

[2022-08-03 23:27] arinoch opened #66244 "FSE: Allow users to add logged-in-only edit posts/page links."
### What

Add a block that can be used either within a template or a post/page to create an edit link for the current post/page, similar to how themes have had to hardcode it previously.

### Why

Prior to FSE, the ability to have this option was theme-dependent. You either found a theme that let you use this option, learned to/hired someone to code it independently, or didn't have this option. A

[2022-08-04 00:28] tanjoymor commented on #57812
27167061-hc (happens in Firefox but not Chrome with a draft post)

[2022-08-04 00:33] kuropixel commented on #59363
Another case. 36319808-hc

[2022-08-04 00:42] deancroyal commented on #66045
Customer reported in 36319723-hc when trying to switch to Byrne

[2022-08-04 01:11] vykes-mac commented on #52046
This is what I discovered so far, I realise that the `masterbar.css` file along with other wp-com css files not loading when I visit an AT site that hasn't yet access wp-admin. I suspect some of the jetpack modules might not be loaded so I append `_cli` to the url, run the command `jetpack module list` I see the masterbar is active. After I return to my site url now the correct admin bar is presen

[2022-08-04 03:42] jordesign commented on #63262
Seeing this happening in 36285160-hc

Switching theme away, and then back seemed to resolve it.
This took place on a Blockbase child theme

[2022-08-04 04:07] candy02058912 commented on #66033
Deployed with @lsl today.
After screenshot:
![image](https://user-images.githubusercontent.com/6586048/182760769-83fc7338-4139-476c-a0d1-1c65946a0367.png)

[2022-08-04 04:07] #66033 closed, assigned to lsl, candy02058912

[2022-08-04 04:26] thesacredpath commented on #63262
Have another instance of this. User can reach the FSE editor just fine, but if I go to Appearance FSE it redirects me to the post editor. I was using support session and did not try to see if SSP'ing as the user would fix the issue, but I have my doubts it would.

Chat: 35471744-hc
Follow-up: 5450195-zd

[2022-08-04 04:31] p-jackson opened #66247 "Sites Management Page: Add tile view"
This task is to implement a tile view for the Sites Management Page. There are a number of tasks so this should be done over multiple PRs.
![Image](https://user-images.githubusercontent.com/1500769/182765352-a780c40e-07ad-4bfb-96de-9580d76d361c.png)

Notice how both modes are available on small screens.
![Image](https://user-images.githubusercontent.com/1500769/182765387-f0909639-f1f3-4cf5-9458-15

[2022-08-04 04:42] Greatdane commented on #65389
Just a note, the Chrome browser can do this, so not sure how relevant it is to add to WordPress.com specifically.

See; https://support.google.com/chrome/answer/9979877?hl=en&co=GENIE.Platform%3DDesktop

[2022-08-04 04:53] Greatdane commented on #65424
Core feature request is here:
https://github.com/WordPress/gutenberg/issues/36665

[2022-08-04 04:56] p-jackson opened #66248 "Sites Management Page: Calibrate fuzzy search so it's not so fuzzy"
Currently the fuzzy search is very forgiving. It will match a site using a single character from the query string.

![Image](https://user-images.githubusercontent.com/1500769/182768657-dd355441-c4f1-4690-a76b-0127be9f11c5.png)

The fuzzy search sorts the closest matches to the top of the table which helps, but it still leaves sites in the table the user might have expected should have disappeared.

[2022-08-04 05:08] mpkelly commented on #65350
I am looking at this one now.

[2022-08-04 05:12] Greatdane commented on #65714
As this form also can go straight to chat, I guess we need the 'add attachments to chat' project to finish first.

[2022-08-04 05:13] inaikem commented on #63262
36119882-hc

Noting that for this interaction, the user had both a potentially broken Blockbase child theme and had deleted the Gutenberg plugin from their site. Switching themes, opening the `Site editor` link in a new tab or other workarounds did. not work.

I advised them to reinstall Gutenberg but this was not done (following chat transfer) and the issue still persists.

An internal discussion

[2022-08-04 05:22] Greatdane commented on #65657
Not sure how easy this would be easy to implement, as I see you had to convert the context to a flex box first. Something columns don't do by default.

[2022-08-04 05:23] Greatdane commented on #65657
Could be related;
- https://github.com/WordPress/gutenberg/issues/35849

[2022-08-04 05:30] Greatdane commented on #65795
Leaving open, but technically, I think we have this ability on the default `Page Optimize` plugin which is installed on all Atomic sites;
https://wordpress.com/support/page-optimize/#exclusion-list

[2022-08-04 05:43] lsl commented on #66033
@yashdev9274 are you looking to get started with WordPress open source in general or specifically WordPress.com's wp-calypso? Just want to clarify because this repo (wp-calypso) is the open source repo for WordPress.com's logged in user interface. It's possible you're looking for the .org repo which is using a system called [trac](https://core.trac.wordpress.org/) instead of github. (Some people l

[2022-08-04 05:44] jeherve commented on #63262
This may indeed be linked. The change became available on WordPress.com Simple sites 2 days ago, and on WoA yesterday.

Out of the 3 reports above, one seems to be on WordPress.com Simple, and 2 on WoA.

I've tried to reproduce like so:

#### On a WordPress.com Simple site using a WordPress.com Personal plan

1. Enable a Blockbase child theme (Zoologist)
2. Go to the Posts menu in Calypso
3. Toggl

[2022-08-04 06:00] p-jackson commented on #66211
Hi @halleshubham, thanks for your interest in the new sites management page!

This task in particular will be a bit tricky without access to Figma, which isn't accessible outside of Automattic. So I'd leave this one for someone else. If you are interested in helping out #66210 might be a good one, although no pressure of course.

[2022-08-04 06:29] mriyazuddin commented on #66204
User has replied back saying this page is a good example of the space around the image: https://chrisbocay.com/master-the-law-of-attraction/

[2022-08-04 07:15] #66011 closed, assigned to wojtekn

[2022-08-04 07:17] mpkelly commented on #65350
It looks like the fix will need to be made here in [this block of code in file jetpack-carousel.js](https://github.com/Automattic/jetpack/blob/trunk/projects/plugins/jetpack/modules/carousel/jetpack-carousel.js#L1587).

Based on my initial analysis, both options above, navigate to a custom URL, or do nothing, should be possible. If anyone has a preference then let me know. I think doing nothing is

[2022-08-04 08:19] madhusudhand commented on #65419
Issue can be replicated with any theme that has style definitions for `core/navigation-link` in `theme.json`

This seems to be an issue with Gutenberg itself. Created an issue here https://github.com/WordPress/gutenberg/issues/42963

[2022-08-04 08:29] JoshuaGoode commented on #52046
I'd like to highlight https://github.com/Automattic/wp-calypso/issues/52046#issuecomment-945901653

Overall, this is due to users not being in a logged-in state until they visit a `/wp-admin/` resource -- which sets the necessary cookie.

Once they have the cookie, they'll get the bar and other admin/editor features, like page/post edit links. We force the masterbar module active and utilize it fo

[2022-08-04 08:57] happychait commented on #63262
- [ ] Another report to be followed up in 5452120-zen

Worked around and opened the Site Editor via the Edit button on the Themes page as in this screenshot:
![Edit on the Themes page](https://user-images.githubusercontent.com/1519466/182806988-04bff8fc-7bc4-4b3e-af8d-d1a8df161596.png)

[2022-08-04 09:12] ivan-ottinger commented on #65881
D85354-code is now ready for review.

[2022-08-04 09:30] mpkelly commented on #64913
I am going to take a look a this one.

[2022-08-04 09:36] brinbliss commented on #63262
- [ ] Report here in 5452262-zd-woothemes

Followed up with the user regarding the current workaround within Appearance -> Themes -> "Edit" button.

[2022-08-04 09:37] #66215 closed, assigned to heavyweight

[2022-08-04 09:38] ivan-ottinger opened #66253 "[New Liked Post] Fix/Review RTL layout"
As can be seen in the following screenshots. the header and the CTA button(s) of the RTL layout might need alignment adjustments:

| LTR | RTL |
| ------------- | ------------- |
| ![Image](https://user-images.githubusercontent.com/25105483/182815188-2dd67271-27c1-469d-b672-315abfacef20.png) | ![Image](https://user-images.githubusercontent.com/25105483/182815189-b5b94d90-3dc7-4e4f-92da-276ddf8fbdb

[2022-08-04 09:53] daledupreez commented on #50740
Over the course of the last day, we have rolled out the two sets of changes needed for our Atomic platform to reduce the cache timeout to 1 hour for the Podcast Player and Anchor.fm blocks. This means these blocks should only keep cached podcast information for an hour before checking for updates to the podcast RSS feed. I am going to mark this issue as fixed! 🎉

For reference, the two relevant ch

[2022-08-04 09:56] halleshubham commented on #66211
sure! @p-jackson

[2022-08-04 10:08] sudeepbaral commented on #55102
- [ ] 5442466-zen

Suggested user to convert the HEIC images to JPEG and re-upload them. The images are loading as a thumbnail in their site (they were using Elementor) but do not load when expanded.

[2022-08-04 10:17] #64936 closed

[2022-08-04 10:25] renata-franco commented on #64682
Hi @daledupreez It's me again. Question: once Gutenberg 13.8 is released, it can take weeks to get to WordPress.com, or should be less time? In average, anything?

[2022-08-04 10:26] gavande1 commented on #65518
Diffs created at:

- D85205-code
- D85206-code

[2022-08-04 10:35] bogiii opened #66255 "Subscriber form: Match Add Subscriber UI with a new design"
More details: pbAok1-324-p2

[2022-08-04 10:37] daledupreez commented on #64682
Hi @renata-franco, we're already tracking the work for Gutenberg 13.8 in https://github.com/Automattic/wp-calypso/issues/66094, so you should be able to track our progress there. I know that we had some blocking issues that delayed our rollout of Gutenberg 13.7, so Gutenberg 13.7.3 was only rolled out at the start of this week. That's also part of why I am not sure when the rollout will occur.

[2022-08-04 11:23] ivan-ottinger commented on #66253
Turns out that the elements are misaligned because the the LTR CSS file is loaded in the RTL version as well.

[2022-08-04 11:33] chriskmnds commented on #65409
I believe so. The add-ons haven't been reverted, at least not yet. I believe they are supposed to stay in both signup and dashboard - but CC @gmovr to confirm status

[2022-08-04 11:57] danielbachhuber commented on #66210
@p-jackson @Automattic/build Given the Sites Management Page now looks like this:

<img width="1435" alt="image" src="https://user-images.githubusercontent.com/36432/182841275-760872a9-cd71-48cd-bdc4-ee3742afe3dc.png">

What if we simply hid the search input and filter dropdowns when `allSites.length === 0` ?

[2022-08-04 12:29] #66201 closed, assigned to rcrdortiz

[2022-08-04 12:30] rcrdortiz commented on #66216
pcreKM-1cm-p2

[2022-08-04 12:45] daria2303 commented on #66233
5451990-zd-woothemes
5451829-zd-woothemes

There are several discussions on this issue in slack.

Related bug reports:
https://github.com/Automattic/wp-calypso/issues/66231
https://github.com/Automattic/themes/issues/5554

[2022-08-04 12:57] rcrdortiz commented on #65196
p9o2xV-2ho-p2

[2022-08-04 12:57] #65196 closed, assigned to rcrdortiz

[2022-08-04 13:42] gcsecsey commented on #64939
This may be a duplicate issue: https://github.com/Automattic/wp-calypso/issues/66159

[2022-08-04 13:48] gcsecsey commented on #64939
Backlog grooming: let's timebox the investigation for this issue (2).

[2022-08-04 13:50] kettultim commented on #54350
Another instance of button colors not inheriting correctly: 36328844-hc

Provided CSS workaround:
[code]

[2022-08-04 13:54] daria2303 opened #66262 "FSE, atomic: underline cannot be turned off"
### Quick summary

Navigation block items are underlined by default despite the fact that it is not set in the block settings. It is not possible to remove the underline. Our doc describes it differently: https://wordpress.com/support/full-site-editing/theme-blocks/navigation-block/#block-settings-navigation-block

### Steps to reproduce

1) Add Navigation block to the FSE theme on atomic site(I c

[2022-08-04 14:23] ivan-ottinger commented on #66253
D85354-code is now ready for review.

[2022-08-04 14:39] jeyip commented on #66131
@agrullon95 How would you feel about adding your WebPreview props notes to https://wpcalypso.wordpress.com/devdocs/design?

[2022-08-04 14:48] jeyip commented on #66131
Out of curiosity, would this be a problem anywhere the WebPreview component appears?

I imagine it might be an issue if we ever want to capture iframe tracking events in the future ( although unsure how likely this would be ).

Good question -- Let's check in with @nuriapenya

[2022-08-04 14:53] edanzer commented on #66124
Additional note on using the Home site setup checklist: These components assume/rely/depend on the existence of CHECKLIST_KNOWN_TASKS. This contains common site setup checklist items that are interacted with at various points in the code base. So we'd either need to leverage that to contain/mange our task lists, or refactor components to be able to not rely on that.

[2022-08-04 15:20] #66163 closed, assigned to renancarvalho

[2022-08-04 15:26] khristiansnyder commented on #63262
Also ran into this today in 36330300-hc.

Only workaround was to manually use the WP-Admin link: `wp-admin/site-editor.php`

[2022-08-04 15:30] kelasante commented on #63262
Just run into this in 36090045-hc. Changed the primary domain, but the issue persists. Only workaround was using `wp-admin/site-editor.php`

[2022-08-04 15:50] fullofcaffeine commented on #63262
@jeherve

That's a known issue (unfortunately), and is being tracked here: https://github.com/Automattic/wp-calypso/issues/66020.

[2022-08-04 15:51] csabarakasz commented on #66233
Same issue, different theme: Pique.

This might be not theme specific.

- [ ] 34226706-hc

[2022-08-04 15:58] nuriapenya commented on #66131
No, no. The desktop view should show the wide preview, as it is currently built. What we might change is the default preview. For both Newsletter & Link in Bio makes more sense to have mobile defaulted.

Would that be difficult to implement?

So cool starting to see things live 💎 great job @agrullon95

[2022-08-04 16:08] creativecoder commented on #63262
I think I've found the cause of this. Working on a PR here: https://github.com/Automattic/wp-calypso/pull/66265

[2022-08-04 16:19] deancroyal opened #66266 "Billing History: display upgrade cancellation actions by customer"
### What

Within Billing History display upgrade cancellation actions by the customer.

### Why

Currently there's no location within Calypso where a customer can see the full historical context of how upgrades have been purchased, cancelled, and refunded. The area that comes closest to accomplishing this is Billing History, but it falls short by not displaying upgrade cancellations by the custome

[2022-08-04 16:36] markbiek commented on #65692
Lots of notes about where this currently stands and what may need to be done in terms of the upcoming changes to how we're handling theme subscriptions:

D85191-code

[2022-08-04 16:55] obenland commented on #65518
Not sure this was clear to everyone: The scope of this task has expanded to include a static json file with docs for the entire Licensing API so vendors can get started on implementing it on their side while we still work on the endpoints themselves.

See pdh6GB-1Jt-p2

[2022-08-04 16:59] cometgrrl commented on #54990
@jeffikus Can you take a look at this? It seems there's at least one more theme (Karuna) that's affected by this bug.

[2022-08-04 17:00] creativecoder opened #66269 "Task: remove deprecated `isSiteUsingCoreSiteEditor` selector"
### Details

The site.is_core_site_editor_enabled property is deprecated (paYE8P-1Pu-p2). Additionally, it looks to be the cause of a recent bug.

This task is to remove the associated `isSiteUsingCoreSiteEditor` selector and any remaining uses of it.

Follow-up to https://github.com/Automattic/wp-calypso/pull/66265

### Checklist

- [x] (handled by #66265) https://github.com/Automattic/wp-calypso

[2022-08-04 17:09] sirbrillig opened #66270 "[Bug]: Query Loop block causes infinite loop with older themes and inherit template"
### Quick summary

On a site with a pre-site-editor theme like Baskerville, Twenty Twenty, or even Twenty Twenty-One, using the Query Loop block causes a page to enter an infinite loop and eventually time out. This only happens if "Inherit query from template" is set.

This appears to be a wpcom-only bug. I've tried the same steps on a brand-new WP 6.0 site and the issue does not occur.

The issue

[2022-08-04 17:12] worldomonation opened #66271 "CI: add Help Centre build configuration."
### Details

From my discussion with @heavyweight, it was decided that adding a new build configuration while the Help Centre feature is rebuilt could be useful.

### Checklist

_No response_

### Related

_No response_

[2022-08-04 17:17] #63262 closed, assigned to creativecoder

[2022-08-04 17:21] sirbrillig commented on #66270
Props to @martian77 and @kanishkdudeja for starting the investigation that led to this report and to @vnsavage for and @kettultim providing additional details.

[2022-08-04 17:22] creativecoder commented on #63262
I think we've fixed this with https://github.com/Automattic/wp-calypso/pull/66265, which I'm in the process of deploying right now, but please reopen this issue if there are additional reports.

[2022-08-04 18:03] lupus2k opened #66273 "Marketplace: Show name instead of username on submission success page"
According to @mtias [suggestion](https://github.com/Automattic/wp-calypso/pull/64671#discussion_r937714820), we should show the `name` instead of `username` in the `Hello` message.

#### Screenshot
| Before | After |
| -- | -- |
| <img width="637" alt="image" src="https://user-images.githubusercontent.com/402286/182918880-5006a279-d8b1-46f7-aa3c-370e4bc86d70.png"> | <img width="637" alt="image" sr