[2021-02-22 22:42] #542 closed

[2021-02-22 22:45] worldomonation commented on #16380
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 22:45] #16380 closed

[2021-02-22 22:47] worldomonation commented on #16393
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 22:47] #16393 closed

[2021-02-22 22:47] mattwiebe opened #50356 "Launch Site: don't prompt to launch site when editing a Template Part on an unlaunched site"
### Steps to reproduce the behavior

1. Have a Full Site Editing-enabled, unlaunched site. (Or create one: https://horizon.wordpress.com/new?flags=gutenboarding/site-editor )
2. In wp-admin or Calypso, go to Appearance → Template Parts
3. Edit a template part
4. Although I do see the "Update…" link that would allow me to save without launching, it seems like not the right place for launching.

I d

[2021-02-22 22:47] worldomonation commented on #22260
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 22:47] #22260 closed

[2021-02-22 22:48] andrewserong commented on #49242
Thanks @simison, yep, I think that sounds fine for us to do!

[2021-02-22 23:00] worldomonation commented on #16473
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to confirm that other scheduled posts do not show in the calendar picker. I can understand this is a useful feature:

![Screen Shot 2021-02-22 at 2 58 51 PM](https://user-images.githubusercontent.com/6549265/108781390-a1442b00-751e-11eb-9ea0-00a9dc3d83d0.png)

With that said

[2021-02-22 23:00] #16473 closed

[2021-02-22 23:03] vindl opened #50358 "Site Editor: Global Styles are not persisted on WP.com"
The saving flow for Global Styles is not working properly now on Dotcom. The preview in editor works fine but there are two potentially related issues when you attempt to update/save the changes:

- [x] The editor styles are completely reset including theme styles. It reverts to white background etc. (WordPress/gutenberg#30888)
- [x] The style changes are not reflected on front end, and default th

[2021-02-22 23:10] worldomonation commented on #14738
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce this issue with `autoblog.com`:

1. navigate to https://wordpress.com/following/manage.
2. enter `autoblog.com` in the search field.
3. hit enter.
4. immediately below the search field, click on the `Follow Autoblog`.

With that said however, as there has been no

[2021-02-22 23:10] #14738 closed

[2021-02-22 23:14] worldomonation commented on #19238
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 23:14] #19238 closed

[2021-02-22 23:22] worldomonation commented on #18867
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue with Browser: Firefox Nightly 87.0a1.
![Screen Shot 2021-02-22 at 3 15 12 PM](https://user-images.githubusercontent.com/6549265/108782638-ccc81500-7520-11eb-9dd1-5d6a142915dc.png)

As there has been no recent activity on this issue it is being clos

[2021-02-22 23:22] #18867 closed

[2021-02-22 23:31] macmanx2 opened #50359 "Nav Unification: All Jetpack Functionality Missing From Menu on Jetpack Sites"
When viewing a Jetpack site through the new unified nav, the only way to reach Jetpack features is if you know the URL you're supposed to go to.

<img width="1487" alt="Screen Shot 2021-02-22 at 12 45 31 PM" src="https://user-images.githubusercontent.com/4856235/108783499-76f46c80-7522-11eb-96fb-7bfaadca3b6c.png">

The above screenshot is from one of my Jetpack sites. I was able to view stats beca

[2021-02-22 23:34] macmanx2 commented on #50359
Props to @deancroyal who just found #50225 as I was finishing this up, which probably will be the fix.

[2021-02-22 23:34] obenland commented on #50347
D15431-code contains some discussion around batching for get_blog_ids_with_sticker which was removed after some review feedback. Not sure if it’s related but might be worthwhile to check out.

[2021-02-22 23:44] vindl commented on #50358
There is some more context about what might be going on here: paYE8P-Km-p2#comment-627

[2021-02-22 23:46] ramonjd commented on #49225
We discussed this not long ago in the context of the page picker pb3aDo-Gg-p2

I believe the general thrust was that, if we decided it was a good thing, we'd try to import via the front end using the external-media-upload API.

Another idea floating around was to give the user a choice to add the images to the library, though we didn't speak about the UX.

I think I agree that we should err on the

[2021-02-22 23:50] worldomonation commented on #18936
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 23:50] #18936 closed

[2021-02-23 00:02] worldomonation commented on #16992
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue on both Simple and Atomic sites:

Simple
![Screen Shot 2021-02-22 at 3 56 04 PM](https://user-images.githubusercontent.com/6549265/108785936-5975d180-7527-11eb-993b-7410037d1eb0.png)

Atomic
![Screen Shot 2021-02-22 at 4 02 06 PM](https://user-imag

[2021-02-23 00:02] #16992 closed

[2021-02-23 00:09] worldomonation commented on #16556
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was uncertain as to the steps to reproduce for this issue, but the landscape browsing on iOS Safari looks fine to me.

https://user-images.githubusercontent.com/6549265/108786328-35ff5680-7528-11eb-9fd3-8b2dfa8d1ef7.MP4

As there has been no recent activity on this issue it is being c

[2021-02-23 00:09] #16556 closed

[2021-02-23 00:36] #14511 closed

[2021-02-23 00:41] worldomonation commented on #14151
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue continues to be reproducible.

1. Log in as User A.
2. As User B, add User A to an Atomic site, giving privilege level below admin.
3. As User A, accept the invite.
4. As User A, navigate to the site dashboard.

![Screen Shot 2021-02-22 at 4 38 52 PM](https://user-images.gith

[2021-02-23 00:53] ramonjd commented on #48627
Do you think adding a paragraph or list [transform](https://developer.wordpress.org/block-editor/developers/block-api/block-transforms/
) to the core [columns block](https://github.com/WordPress/gutenberg/tree/master/packages/block-library/src/column) might help here?

<img width="656" alt="Screen Shot 2021-02-23 at 11 48 25 am" src="https://user-images.githubusercontent.com/6458278/108789106-a6ac

[2021-02-23 01:13] dcoleonline opened #50360 "Users: Invited Subscriber Shown Link to Add New Post (Business & eCommerce plans)"
### Steps to reproduce the behavior

1. Invite a new subscriber to a Business or eCommerce plan site that uses plugins or third party themes
2. Log in as the subscriber and accept the invite.
3. Immediately after accepting the invite, there is a button to add a new post to the site. The button does not work, which is correct.

#### What I expected to happen
A subscriber should not be shown the opt

[2021-02-23 01:13] dcoleonline commented on #50360
We should notify the customer who reported the issue once this is resolved.

[2021-02-23 02:00] happychait commented on #50350
I had a customer report it in 27937667-hc

Worked around by disabling the Gutenberg version 10.0.1

[2021-02-23 02:22] roo2 commented on #49861
made this change and spot tested that translations were good, e.g. 'de' translated "Home" to "Startseite" (Start Site) which google translates to english as "Home Page" ✅

[2021-02-23 02:22] #49861 closed, assigned to roo2

[2021-02-23 03:51] autumnfjeld opened #50361 "New Page Layout Picker: Update public facing support docs"
ToDo Add details....

[2021-02-23 04:01] autumnfjeld opened #50362 "New Page Layout Picker: Call for Testing P2 and facilitation"
Once Page Layout Picker is feature complete:

- [x] write up CfT, instructions [here](pbAok1-1Rg-p2#comment-4087)
- [x] set atomic up testing site
- [x] parse feedback

[2021-02-23 04:18] autumnfjeld opened #50363 "New Page Layout Picker: refactor to rename to Page Patterns"
We are moving to "Patterns" terminology and want to avoid the generic/confusing layout terminology: https://github.com/Automattic/wp-calypso/pull/49661#issuecomment-776287836

[2021-02-23 04:22] autumnfjeld opened #50364 "Welcome Tour: tracks analysis"
How often people interact with modal, vs skip it?
How far they click on slides on average?
Do people use “minify” feature?
Do people give 👍 or 👎   at the end?
What is the impact on ` wpcom_site_launched` rate?
Analysis of A/B experiment.

p1612768520497200-slack-CRWCHQGUB

[2021-02-23 04:27] scinos commented on #50334
I don't think so. What we did in #49984 is skip TSC compilation for _packages_, not for _apps_. AFAIK we never run TSC for apps.

[2021-02-23 04:38] swoodipto opened #50365 "Latest Comments Block: Trims comment text when site language is set to Chinese"
### Steps to reproduce the behavior

1. Add a new page/post and use the Latest Comment Block
2. Make a test comment in Chinese. _You can use this [Chinese Lorem Ipsum tool](http://www.richyli.com/tool/loremipsum/)_
3. Set site language to `zh-cn`, `zh-hk` or `zh-tw`
4. Check the page/post which has the Latest Comment Block

| What I expected to happen | What actually happened |
| ------------- | -

[2021-02-23 04:45] ramonjd commented on #48627
Possibly related: https://github.com/WordPress/gutenberg/issues/26962

[2021-02-23 05:49] mirka opened #50366 "Calypso Build: babel-plugin-optimize-i18n misses some spots"
## Overview

The i18n unmangling plugin added in #49341 seems to not be working in certain places.

While it works in most cases, it can still output functions like `(0, l.__)("my string", "my-domain")`.

## Context

I first encountered this issue when trying to integrate the update into P2 Blocks (2070-gh-Automattic/p2), where for some reason it fails in a lot of places.

I was able to observe it

[2021-02-23 09:51] getdave opened #50367 "Track how often the “faux FAB” is clicked in wp-admin."
See paYJgx-1nM-p2#comment-1722.

Add `utm` tracking to see how often folks interact with the faux FAB we're adding in https://github.com/Automattic/jetpack/pull/18885

## Useful links

* Jetpack Analytics module - https://github.com/Automattic/jetpack/blob/1fa0e841b6a8d4c514f00282f75cfa497d1164ad/projects/plugins/jetpack/_inc/client/lib/analytics/README.md
* Firing analytics events in Jetpack - ht

[2021-02-23 10:28] ciampo opened #50370 "Launch: move default site title check to the backend"
### What

We should have a way of knowing if a Site's title has even been edited from the user since its creation

### Why

So far, this check was performed in the front-end by comparing the current site title to its default value — but this method doesn't quite work when applied to non-en locales (see p1613984935005400/1613742326.045000-slack-C0KDTA48Y)

### A/C

- [ ] The backend should keep tra

[2021-02-23 10:49] Nic-Sevic commented on #50350
another report here: 3765990-zen

[2021-02-23 11:01] getdave commented on #49262
@mmtr Can we remove this EPIC from our backlog and just retain the single remaining issue in our Global Backlog? Cleans things up a bit. What do you think?

[2021-02-23 11:02] klimeryk commented on #27481
This definitely seems like a serious regression - thanks for @jamiepalatnik for raising it in p99Zz8-1Dy-p2#comment-4896 🙇  I'll pull it into the https://github.com/Automattic/wp-calypso/projects/107#card-55500867 project and try to fix it this week as part of @leonardost's onboarding 🙇

[2021-02-23 11:11] mmtr commented on #49262
Agreed. I updated the summary to remove the remaining issue and moved it to our Global Backlog.

[2021-02-23 11:11] #49262 closed, assigned to cpapazoglou

[2021-02-23 11:22] jeherve commented on #50367
I believe we should be able to rely on Tracks for such a scenario, since the icon will only be displayed on sites that have accepted our terms of service already.
Since we're in wp-admin already, it may just be a matter of adding the `jptracks` class and the `data-jptracks-name attribute like so (not tested):

[code]

Noting that you can `localStorage.setItem( 'debug', 'dops:analytics' );` to chec

[2021-02-23 11:37] getdave commented on #50367
That's based on https://github.com/Automattic/jetpack/blob/41fe374f32d0fa35bb66b4ca492e0b337ee7c6cd/projects/packages/tracking/src/js/tracks-ajax.js#L29 right?

[2021-02-23 11:45] jeherve commented on #50367
Yep, correct! That library is available on all admin pages for everyone whose site is connected to WordPress.com:
https://github.com/Automattic/jetpack/blob/7d76353666972a89c43556766acb0edb739cb4ff/projects/plugins/jetpack/src/class-tracking.php#L31

[2021-02-23 11:45] annbingle commented on #50288
zd-3754129

[2021-02-23 11:48] scruffian commented on #47117
👌  added back to our board...

[2021-02-23 11:56] #7090 closed

[2021-02-23 12:04] simison commented on #28322
cc @lsl @josephscott @jsnajdr @gravityrail The original issue description is quite generic so this probably captures a variety of bugs, but otherwise this all sounds like cookie issues. Would you like to track this issue or is it better to close it?

[2021-02-23 12:10] simison commented on #49225
Thanks, Ramon! Yep, agreed. I don't think asking would be a good experience either, better to have a good default.

@joweber123 @ianstewart let us know if you think otherwise and happy to revisit!

[Carousel not functioning for external images](https://github.com/Automattic/jetpack/issues/18362) is still a valid issue of course.

[2021-02-23 12:10] #49225 closed, assigned to nobody

[2021-02-23 12:17] ciampo opened #50371 "Nav Unification: plugins item does not link to plugins page"
### Steps to reproduce the behavior

Reproduces while on Spanish locale, but it may apply to all locales (needs triaging)

1. Go to customer home (`/home`)
2. Click on the "Plugins" nav item
3. Notice how the browser doesn't navigate to the plugins page

#### What I expected to happen

The browser should navigate to the plugins page

#### Environment

Business plan (Atomic) on Calypso

#### Screen

[2021-02-23 12:19] ciampo opened #50372 "Nav Unification: nav locale does not match calypso locale"
### Steps to reproduce the behavior

1. Set your general user locale to a non-english locale
2. Create a new site — site will be created in the locale defined in point 1
3. Change your general user locale to another non-english locale
4. Go to customer home for the site created at point 2
5. Notice locale differences between the nav and the rest of the UI — the nav uses the site's locale, while mo

[2021-02-23 12:21] ciampo opened #50373 "Nav Unification: nav items are missing translations for Spanish locale"
### Steps to reproduce the behavior

1. Set a site's locale to spanish
2. Notice how some nav items have an empty text label
3. Notice how some other nav items (e.g. Contact and "Collapse menu") are still in english

#### What I expected to happen

All items should be translated and visible for the correct locale

#### Screenshot / Video: If applicable, add screenshots to help explain your problem

[2021-02-23 12:40] #50173 closed, assigned to cpapazoglou

[2021-02-23 12:41] swoodipto commented on #49255
Another report: 27046902-hc

Same as @devNigel - I suggested a workaround by adding an empty space after "Subscribe"

[2021-02-23 12:58] mrsjaved commented on #50350
another report here: 3766410-zd-woothemes

[2021-02-23 13:00] razvanpapadopol opened #50375 "Domain Picker: Count minimum characters for search keyword after filtering."
**What**
* We have a rule to query only with minimum 2 characters and we're now [partially using a constant](https://github.com/Automattic/wp-calypso/pull/50311/commits/00f2ecdc79a4578ca6d3949ff67bb8b0b2359694) for that
* We are filtering special characters from the query string and we probably need to apply the rule from above only after getting the filtered string

**Why**
Improve the UX of doma

[2021-02-23 13:05] razvanpapadopol opened #50376 "New onboarding launch: name step completion is not updated"
### Steps to reproduce the behavior

1. Go to /new and create a site
2. Click on Launch in editor
3. Observe the completion status of the first step
4. Edit site title (empty if the step is green or fill in some value if it's grey)

#### What I expected to happen
Completion status to update

#### What actually happened
No matters how site title value changes, the completion status is the same as l

[2021-02-23 13:29] #50235 closed, assigned to cpapazoglou

[2021-02-23 13:41] tbradsha commented on #16440
I was able to reproduce this on free, Personal, Premium, and Business WordPress.com sites, though it's unclear what triggers it, and often a refresh fixes it. It may happen when flipping between the *All*/*Free*/*Premium* toggles.

The free themes are listed after the Premium themes, but still show.

Free plan site:
![image](https://user-images.githubusercontent.com/32492176/108850741-edd04a80-75a

[2021-02-23 14:02] kriskarkoski commented on #50333
It can be reproduced on the user's site editing an existing post, but I am not sure what in the markup is causing the underlying issue to repro on a new post/page.

[2021-02-23 14:04] cpapazoglou commented on #47050
@obenland we have been discussing enabling `nav-unification` for all users with `getCurrentUserDate > launchDate + 24h`, so that deployment related code changes are 100% in sync among codebases. `+24h` is used to account for potential timezone differences. What's your take on this?

[2021-02-23 14:05] cpapazoglou opened #50379 "Nav Unification Launch: Alter Calypso segment"
This is a subtask of https://github.com/Automattic/wp-calypso/issues/50080

Ultimately, we will need to alter the `isNavUnificationEnabled` function https://github.com/Automattic/wp-calypso/blob/fc27b696ea171fa5114407f042814891b765a1a6/client/layout/index.jsx#L166-L185 so that it also contains:

- [x] a variable defining current segment `const segment = 5` for 5%
- [x] a variable defining launch d

[2021-02-23 14:12] Sandkorner commented on #49508
Had that as well with a user. Exact same thing.

[2021-02-23 14:15] cpapazoglou opened #50380 "Nav Unification Launch: Alter WPCOM segment"
This is a subtask of #50080

Ultimately, we will need to alter `show_unified_nav` function in `masterbar.php` so that it includes:

- [x] a variable defining current segment `$segment = 5` for 5%
- [x] a variable defining launch date `$launchDate = ?`
- [x] a return `return config.enable( 'nav-unification' );` statement for all new users for `$current_user->user_registered > $launchDate + 24h`
- [

[2021-02-23 14:57] carinapilar commented on #48849
Reported by another user - interface set in French: 3764256-zd-woothemes - I was able to replicate with the interface set to Portuguese too.

[2021-02-23 15:14] jffng commented on #50332
This should be resolved since https://github.com/Automattic/themes/pull/3326 was merged + deployed, let me know if you are still encountering issues. Thanks!

[2021-02-23 15:24] metabreakr commented on #50350
#27356691-hc

[2021-02-23 15:42] mattsherman commented on #50059
@psealock Do you already have a new PR to for us to test and get merged?

[2021-02-23 15:45] WunderBart commented on #50060
Reopening for the [v10.0.2 patch](https://github.com/WordPress/gutenberg/releases/tag/v10.0.2) upgrade.

[2021-02-23 16:08] bisko opened #50388 "Domains: Unable to change primary domain for site/page never finishes loading."
### Steps to reproduce the behavior

1. Go to Upgrades -> Domains
2. Click on the ellipsis next to the domain I want to make primary
3. Click Make Primary
4. See error

#### What I expected to happen

The primary domain for my site changes to the chosen domain.

#### What actually happened

A JS error is thrown, because the page never finished loading.

### Context

The plan for my site expired an

[2021-02-23 16:17] tbradsha commented on #50350
27957897-hc

[2021-02-23 16:36] mattwiebe opened #50389 "New Onboarding: prevent (or warn) about going back to signup after creating a new site"
**This will be fixed in https://github.com/Automattic/wp-calypso/issues/50435**

## What
Prevent (or warn) about going back to `/new` after creating a new site.

## Why
The user may be confused, thinking that their site was unsuccessfully created, losing trust in our product

## How
A few possibilities:
- an AYS dialog when attempting to navigate back beyond the first post-signup screen
- manipula

[2021-02-23 16:45] aneeshd16 opened #50391 ""Included in paid plans" wording is incorrect in domains with monthly plans contexts."
On the "Use My Own Domain" domains step, the copy is incorrect in these cases:

## Steps to reproduce the behavior

### Logged In, with a free site
1. Go to /domains/add/, click on "Use a domain I own". The copy in "Map your domain" says `Included in paid plans`.
<details>
<summary>View screenshot</summary>

![image](https://user-images.githubusercontent.com/5436027/108873129-e3559580-7620-11eb-98

[2021-02-23 16:46] razvanpapadopol commented on #49565
With this bug fixed in #50327, we can close this issue and open a task for the modal mentioned in https://github.com/Automattic/wp-calypso/issues/49565#issuecomment-771585671 where @ollierozdarz @klimeryk and @Automattic/luna can coordinate on how to implement this UX improvement.

[2021-02-23 17:15] obenland commented on #50225
@folletto @rcoll When you get a chance, could you review the list of tasks tagged `[Jetpack team]` and check off the ones that are done?

/cc @getdave

[2021-02-23 18:07] #49368 closed, assigned to sirbrillig

[2021-02-23 18:24] razvanpapadopol commented on #50389
This issue seems to be similar to https://github.com/Automattic/wp-calypso/issues/49565 with the difference that in this case the user hits back from editor and not from checkout. I believe both are fixed in https://github.com/Automattic/wp-calypso/pull/50327 but worth re-checking.

We are also planning to do some UX improvement showing a dialog to warn the user instead of just redirecting back to

[2021-02-23 18:27] edequalsawesome opened #50393 "Backups: WordPress Root backup doesn't include wp-config.php"
### Steps to reproduce the behavior

1. Go to the Jetpack > Backup area of WordPress.com for an AT site
2. Choose a backup to download
3. Deselect all options so that the prepared backup only includes "WordPress root (includes wp-config php and any non WordPress files)" files, shown in the screenshot below:

![Backup Download Options](https://user-images.githubusercontent.com/4000628/108889806-c7c

[2021-02-23 18:36] razvanpapadopol commented on #48341
Can't reproduce this anymore after the latest Domain Picker fixes.

[2021-02-23 18:36] #48341 closed, assigned to nobody

[2021-02-23 18:37] eidolonnight commented on #46043
It would also be good to know roughly how long the import will take. Minutes? Hours? Days?

It doesn't need to be an actual estimate, just a "This may take several hours" or "Go to bed and it'll be ready in the morning".

[2021-02-23 18:43] razvanpapadopol commented on #50376
Changed this to High priority since it may block launching the site in certain cases as shown in https://cloudup.com/cOEdTfxuMrQ

[2021-02-23 19:03] razvanpapadopol opened #50394 "Launch button not displayed in editor for unlaunched Atomic sites"
### Steps to reproduce the behavior
1. Go to `/start` and create a business site
2. Install a plugin to make the site atomic
3. Go to editor

#### What I expected to happen
Launch button in editor top bar

#### Context
Mentioned as point 2 in p1614084077052300-slack-CBTN58FTJ

[2021-02-23 19:37] ianstewart opened #50395 "Site Editor: Filter Premium Content from Transforms at the Template Part level"
It's currently possible to transform a Template Part into a Premium Content Block in the Site Editor.

![image](https://user-images.githubusercontent.com/545779/108897631-ef6b3400-75db-11eb-9999-686b76427577.png)

We'll likely want to filter this out for template-parts. (And perhaps other select "template" or "site editor" blocks.)

[2021-02-23 19:55] ianstewart opened #50396 "Site Editor: Can’t undo Premium Content transform when previous block was a template part"
### Steps to reproduce the behavior

1. Create a new FSE site via Horizon flow.
2. Click on Header Template Part Block label.
3. Transform to Premium Content Block.
4. Click undo button.

#### What I expected to happen

The block would transform back to a template part block.

#### What actually happened

One of two situations.

- The site editor would "crash" and I'd be in the dashboard with inco

[2021-02-23 20:21] noteeth opened #50398 "Desktop App: New Site button doesn't link correctly"
### Steps to reproduce the behavior

1. Click on "Switch Site" button on Desktop app
2. Scroll to bottom option and click on "+ add new site"
3. not linked to new site workflow.

#### What I expected to happen
For "+ add new site" to open site creation page
#### What actually happened
The user stays on the same page, link doesn't work
### Context

#### Browser / OS version
Big Sur 11.2.1 Desktop A

[2021-02-23 20:28] noteeth opened #50399 "Desktop App: Create new account stuck on step 4"
### Steps to reproduce the behavior

1. Log out of existing WordPress.com account
2. Begin new account creation
3. Select site address in step three and apply
4. Step four remains on loading screen

#### What I expected to happen
Expect to be taken to step 4 of account creation
#### What actually happened
page does not load
### Context

#### Browser / OS version
Big Sure 11.2.1 Desktop app 6.10

#

[2021-02-23 20:29] razvanpapadopol opened #50400 "Launch: skipping or selecting a domain is first reloading the page"
### Steps to reproduce the behavior

Try launching a site which has already a purchased paid plan but no custom domain.

#### What I expected to happen
My site to launch or to get some upsell

#### What actually happened
During demo at p58i-a5v-p2 the user was redirected briefly to `/start/launch-site/domain-upsell` and then back so it seemed like a page reload.

### Context
`domain-upsell` seems

[2021-02-23 20:32] noteeth opened #50401 "Desktop App: Upgrade button for premium blocks does not link"
### Steps to reproduce the behavior

1. Go to a page/post on a free plan site
2. Click on donation block
3. Prompt to upgrade will be shown
4. Click upgrade button
5. Button does not link to plan selection page or anywhere

#### What I expected to happen
User should be able to link to where they can purchase an upgrade to Premium
#### What actually happened
Link doesn't work
### Context

#### Brow

[2021-02-23 21:04] happychait commented on #46077
27019743-hc

[2021-02-23 21:21] worldomonation commented on #19544
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no recent activity on this issue and so it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-23 21:36] davidjmachado opened #50404 "Bug: Payments Blocks Transactions Periodically Not Resulting in Transaction Fee Being Collected"
### Steps to reproduce the behavior
As discussed in pcjTuq-9A-p2, there are periodic instances where the payment transactions facilitated by the Payments Blocks are not resulting in the collection of application transaction fees.

This is an issue identified via exploration of backend data. I have not pursued reproduction on an active site.

#### What I expected to happen
I had expected that each

[2021-02-23 21:37] ianstewart opened #50405 "Site Editor: Customizer should not be available in nav sidebar when Block theme active"
### Steps to reproduce the behavior

1. Create an FSE site via Horizon flow.
2. Exit Site Editor to "Dashboard".
3. Hover over Appearance in Nav Sidebar.
4. See link to Customize.

#### What I expected to happen

No option to see Customizer with a Block theme active, like core.

![image](https://user-images.githubusercontent.com/545779/108911485-ea62b080-75ec-11eb-89d2-64b88ffb009e.png)

#### What

[2021-02-23 21:37] allilevine commented on #50279
Are we making this change for everyone, or just podcast sites?

[2021-02-23 21:47] obenland commented on #48839
@Automattic/editorial Could I ask for your guidance on a good wording for these buttons?

[2021-02-23 21:56] razvanpapadopol commented on #47132
Fixed in https://github.com/Automattic/wp-calypso/pull/48112

[2021-02-23 21:56] #47132 closed

[2021-02-23 22:01] razvanpapadopol commented on #47146
Fixed in https://github.com/Automattic/wp-calypso/pull/48112

[2021-02-23 22:01] #47146 closed

[2021-02-23 22:01] tmmbecker commented on #27991
Thanks for calling this one out @worldomonation. VaultPress is actually not fully deprecated - we have lots of customers who still get backups via VaultPress through our legacy plans. We're simply not offering it as part of our new plan features.

That said, things have changed significantly since this was posted so it's clear in Calypso now when backups are provided by VaultPress. Closing.

[2021-02-23 22:01] #27991 closed

[2021-02-23 22:02] #44693 closed

[2021-02-23 22:17] tmmbecker commented on #34002
@jeherve can you confirm that if this will be fixed in core?

[2021-02-23 22:45] jeyip opened #50407 "Site Editor: Cover Block Uses Image But Still Requests Premium Upgrade for Video"
## Description
When uploading a cover block, the "Upgrade to Premium" message is rendered, asking us to upgrade because we're using a video. This happens even if we're _not_ uploading a video.

![2021-02-23 14 34 53](https://user-images.githubusercontent.com/5414230/108917836-3c9fd380-75e5-11eb-81d4-aff930fb7a82.gif)

## Steps to reproduce the behavior

1. Navigate to the site editor
2. Add a cove

[2021-02-23 22:59] obenland commented on #50405
Some context and discussion around this on Slack: p1614116522072300-slack-CHN6J22MP

We should make sure nav-unification only replaces menu items that it also removes (any non-false return value from [`remove_menu_page()`](https://developer.wordpress.org/reference/functions/remove_menu_page/)). I'm sure there are plugins out there that remove Core menu items that currently get re-added.

[2021-02-23 23:05] mattwiebe opened #50408 "Full Site Editing: Site Logo block won't center"
*Note:* I'm filing this here because it works fine on a dotorg install. There's something going on on dotcom Simple, specifically here.

### Steps to reproduce the behavior

1. Go to the Site Editor (create a Site Editor-enabled site at https://horizon.wordpress.com/new?flags=gutenboarding/site-editor if you don't have one)
2. Add a Site Logo block
3. Try to center align
4. Does not center align (

[2021-02-24 00:21] obenland commented on #47050
Sure, sounds good

[2021-02-24 00:26] Addison-Stavlo commented on #50405
D57545-code does that for the customizer and it seems to fix this issue!  It looks like there will be a lot of other menu/submenu items to update in this way as well though.

[2021-02-24 00:45] devNigel commented on #49666
Another similar issue as reported by @mrsjaved

As a workaround, I suggested adding Link instead of Category Links in the Navigation Block.

User report: 27966991-hc

[2021-02-24 01:05] ilyasfoo commented on #48588
Oops, left this unattended for a while. That'd be great @mattsherman, thanks!

[2021-02-24 01:36] ramonjd commented on #50400
I came across this today as well:

![Feb-24-2021 12-19-22](https://user-images.githubusercontent.com/6458278/108931997-b941b900-769c-11eb-92f9-89606e3196e6.gif)

Can confirm it happens on both the `start/launch-site` and `start/new-launch` (Gutenboarding-styled) flows and refreshes also when I select a paid domain upgrade option.

[2021-02-24 02:26] ebinnion commented on #50225
Changing the checklist button link is handled in Automattic/jetpack#18843

[2021-02-24 03:09] ebinnion commented on #50225
This PR directly above should address the monitor notifications settings.

For the items that mention Calypso Green vs Calypso Blue, those are handled via our redirects system, so can handle via a WPCOM commit.

For the Calypso Add New Post task, I'm not sure that we can get to that. I'm not sure that we can get that handled before the launch, nor that we're the best placed to handle it. What's ha

[2021-02-24 03:10] noteeth opened #50413 "Desktop App: No scrolling on left side nav tabs"
### Steps to reproduce the behavior

1. Go to navigation tabs in desktop app dashboard
2. Attempt to scroll the left side tabs (especially notable when the window is small enough to hide bottom nav tabs)
3. No ability to scroll within nav tabs.

#### What I expected to happen
Hoping for scrolling on left nav tabs, similar to browser behavior in the dashboard
#### What actually happened
No nav scro

[2021-02-24 03:19] noteeth opened #50414 "Desktop App: Feedback tab has inconsistent behavior opening external browser"
### Steps to reproduce the behavior

1. Navigate to Feedback tab in desktop app
2. Click on Feedback
3. No notification within app
4. Feedback opened in external browser

#### What I expected to happen
Expected request to open external browser, or notification to guide user to external browser
#### What actually happened
Feedback opens in browser without notification
### Context

#### Browser / OS

[2021-02-24 03:23] jordesign commented on #48839
I've opened a draft PR #50415 but can update it once we have finalised wording.

[2021-02-24 04:26] psealock commented on #50059
I took a deeper look and was way off on the version thing. Its a question about how WP constructs urls for menu items v. how Jetpack creates the item's url.

I think it was always broken. The first submenu item `Home` works as expected, but the parent points to `woocommerce` still.

In wc-admin, we manipulate the order of the `$submenu['woocommerce']` object to get the desired url for WooCommerce:

[2021-02-24 04:43] andrewserong commented on #48881
Fix for 219-gh-Automattic/view-design in D57481-code. It's possible it'd be difficult to fix in the large iframe preview, because CoBlocks conditionally loads the JS for the block if the current post contains a masonry block (at least on the front end). Similarly to #48889, because the page layout picker will be refactored shortly, let's skip trying to get the large iframe preview working, and jus

[2021-02-24 05:29] andrewserong commented on #50069
Closing this issue, as the feature has been switched off in https://github.com/Automattic/wp-calypso/pull/50111 to address the immediate performance issue. Seperate PRs / issues can be opened for follow-ups to the premium patterns feature, but the issue of the performance impact has been mitigated for now by disabling the premium patterns indicator (the pink dot) altogether.

236-gh-Automattic/vie

[2021-02-24 05:29] #50069 closed, assigned to andrewserong

[2021-02-24 06:03] gravityrail commented on #28322
@jsnajdr could you take a look at this?

[2021-02-24 06:20] hacchism opened #50418 "Japanese: Confusing copy in the popup showing up before activating block-based themes"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account and change Interface Language to Japanese
2. Go to "Design > Themes" and try activating one of the themes in the "Recommended themes" section(in other words, block-based themes)

#### What I expected to happen

The copy for the second option should be:

THEME_NAME のホームページコンテンツを使用して既存**の**ホームページ**を**下書きにする。

instead of:

[2021-02-24 06:38] aneeshd16 commented on #50391
Domain mapping **is** free with monthly plans. Closing this issue.

[2021-02-24 06:38] #50391 closed, assigned to aneeshd16

[2021-02-24 07:11] roo2 commented on #49864
This one was actually just a matter of adding the descriptive name's to the "Caption" of each pattern post.

The "Caption" is returned from the PTK API as `description` and is already used for the `aria-label` in
https://github.com/Automattic/wp-calypso/blob/trunk/packages/page-template-modal/src/components/template-selector-item.js#L73

[2021-02-24 07:29] #49864 closed, assigned to roo2

[2021-02-24 07:50] lcollette commented on #47042
@obenland For sure. Completely missed this ping and for that, I apologize.

@sixhours Mind grabbing this? :)

[2021-02-24 08:17] #50038 closed, assigned to tjcafferkey

[2021-02-24 08:17] #50322 closed, assigned to nobody

[2021-02-24 08:45] razvanpapadopol commented on #47737
we're not going to use the selector in Calypso so I'll put this on hold until we cleanup so we can close the issue

[2021-02-24 09:41] ramonjd commented on #46559
So I was testing this again today. I suspect it's because we're not migrating the option over when we do an Atomic transfer.

When we set the option on the Atomic site via the cli  – `wp option set site_creation_flow gutenboarding` – the option shows.

<img width="488" alt="Screen Shot 2021-02-24 at 8 41 33 pm" src="https://user-images.githubusercontent.com/6458278/108981280-b072d680-76e0-11eb-9d3

[2021-02-24 09:43] ramonjd commented on #50394
For consistent behaviour, I think we might need to ensure that the option is migrated over during AT. See comment: https://github.com/Automattic/wp-calypso/issues/46559#issuecomment-784946571

We could test this by deploying D57559-code

Not only that, it's likely we'll have to port the `a8c_enable_editor_site_launch` filter to wpcomsh so that we can still get the options when the editor isn't in

[2021-02-24 10:25] carinapilar opened #50421 "Editor: Permalinks: Missing URL Slug Field"
### Steps to reproduce the behavior

1. On a Simple site, create a new post
2. Click on the Permalink section on the post settings
3. Try to edit the post's slug

#### What I expected to happen
To see the _URL Slug_ field to be able to change it.

#### What actually happened
There's no _URL Slug_ field. It only shows the field once you save the post as a draft. This isn't happening when creating p

[2021-02-24 10:38] razvanpapadopol commented on #50273
First time when we experienced something like this it was only affecting Launch flow (reported in https://github.com/Automattic/wp-calypso/issues/42515) and it was fixed in https://github.com/Automattic/wp-calypso/pull/42516. That was also the time when I've added `Launch when having multiple sites` e2e test.

Now this time it may be something related to the signup framework in general since the [

[2021-02-24 10:39] jeherve commented on #34002
No, I don't think so; this seems to be an issue that's specific to LinkedIn, and not related to the data that's saved for each post. It's most likely something that would need to be updated in the LinkedIn Publicize process that lives on WordPress.com.

[2021-02-24 10:50] niranjan-uma-shankar commented on #50391
How about Domain Transfer? Looks like we charge for domain transfer for monthly plans.

[2021-02-24 11:19] getdave commented on #50367
Turns out we will use the `utm` parameters as this auto triggers both GA and Tracks events to be fired by Calypso.

Now handling in https://github.com/Automattic/jetpack/pull/18885.

[2021-02-24 11:26] #50271 closed, assigned to getdave

[2021-02-24 11:26] #50367 closed, assigned to nobody

[2021-02-24 11:33] cpapazoglou commented on #50371
It seems that navigation to any external url is impossible through Calypso in your site cause https://github.com/Automattic/wp-calypso/blob/2de5e432fc90d3793d8bac4f8aa3e7a7dfb5432c/client/state/sites/selectors/get-site-admin-url.js#L17 returned an `http` version for your site url. I am not sure how this is possible, it seems like `admin_url` option in your site doesn't have `https`.

I will fix ou

[2021-02-24 11:37] simison commented on #49096
@fullofcaffeine good to close?

[2021-02-24 11:38] simison commented on #46952
@ramonjd @autumnfjeld @andrewserong would anything here be relevant for page template picker i18n?

[2021-02-24 11:39] simison commented on #28322
Could be the same: https://github.com/Automattic/wp-calypso/issues/49374 because of:

[2021-02-24 11:40] #47050 closed

[2021-02-24 11:40] MaxPhilip commented on #35800
Another report: 3758720-ZD

Firefox 68.11.0 on Samsung works. Chrome does not.

[2021-02-24 11:53] simison opened #50426 "Add tracking for the various block and pattern inserters in Gutenberg"
We track block & pattern insertions in .com block editor, but we don't have visibility _which_ inserter folks use.

We need to know separately if a block was inserted via:

• top inserter
• quick inserter
• sibling inserter (between blocks)
• inline inserter (slash command)

<img width="1033" alt="Screenshot 2021-02-24 at 13 56 54" src="https://user-images.githubusercontent.com/87168/108997625-7d1

[2021-02-24 11:54] simison commented on #50426
@autumnfjeld we talked that tracking this could be useful for future editor onboarding initiatives. Could Ganon find time to add these when convenient for you? It's not urgent.

[2021-02-24 11:56] cpapazoglou commented on #50371
@ciampo It would be interesting to know whether your problem has anything to do with yoast p58i-a6S-p2.

[2021-02-24 12:03] frontdevde opened #50428 "Nav Unification: can't scroll sidebar after toggling "Collapse menu" feature"
### Steps to reproduce the behavior

- Have Nav Unification active
- Choose a page that has fairly little content (i.e. Posts without posts)
- Resize the window so the sidebar doesn’t fully fit the screen
- Scroll to the bottom and click Collapse Sidebar
- Scroll up then down a bit
- Click the Collapse Sidebar icon at the bottom to open the sidebar again

#### What I expected to happen

I should b

[2021-02-24 12:13] razvanpapadopol opened #50430 "Signup: selected paid item is not added to cart during site creation if launch flow is open"
### Steps to reproduce the behavior
1. Select an un-launched site start the launch flow from My home; it doesn't matter if you land on `/start/launch-site` or `/start/new-launch`.
2. Open a new tab and go to `/start` directly (or try creating a new site from [wordpress.com/pricing](https://wordpress.com/pricing))
3. Select a free domain.
4. Select a paid plan.

#### What I expected to happen
Selec

[2021-02-24 12:26] folletto commented on #50225
Yes I confirm the list above is the initial one I wrote with the fixes.
I can't tho check items myself as I'm not directly fixing them, but Eric and Rich can follow up as soon as these get done. Thanks you both! 👍

[2021-02-24 12:31] #49519 closed, assigned to frontdevde, tjcafferkey

[2021-02-24 12:34] razvanpapadopol opened #50431 "Signup: JS TypeError when starting the flow"
### Steps to reproduce the behavior

1. Open browser JS console
2. Go to `/start` and see the following error

<img width="1504" alt="Screenshot 2021-02-24 at 13 29 25" src="https://user-images.githubusercontent.com/14192054/109001212-586eac80-76ad-11eb-973b-d79eec6f50c4.png">

### Context
Mentioned also in p1614169688017500/1614169230.016800-slack-CRNF6A9DX

[2021-02-24 12:39] cpapazoglou commented on #50312
Relates to https://github.com/Automattic/wp-calypso/issues/50372

[2021-02-24 12:41] simison opened #50432 "Checkout confirmation appears multiple times after purchase in `/start` flow"
When creating new site and purchasing a new plan, I see confirmation multiple times when landing at Customer home page:

<img src="https://user-images.githubusercontent.com/87168/109001919-36c1f500-76ae-11eb-97fb-b97ed00c81d7.png" width="300"/>

https://user-images.githubusercontent.com/87168/109001990-4d684c00-76ae-11eb-8bad-7d3365309546.mov

cc @Automattic/shilling  is this something you'd be ab

[2021-02-24 12:44] aneeshd16 opened #50433 "Incorrect text shown on the domain transfer step"
### Steps to reproduce the behavior

1. Go to /start/free or `/start/<monthly-plan>`
1. Create an account
2. On the domains step click "Already own a domain".
3. Click on "Transfer your domain".
4. The copy in the top right is `One additional year of domain registration included in paid plans`.

#### What I expected to happen
Domain registration is not included in monthly plans, the copy should be

[2021-02-24 12:45] aneeshd16 commented on #50391
Thanks! I opened a new issue here: #50433

[2021-02-24 12:53] vindl commented on #50277
Should this go to core repo or was it Dotcom specific?

[2021-02-24 13:01] mmtr commented on #50059
That sounds right, I confirmed it by looking at the code in Core that renders the menu and checked that the URL of the first submenu is always used in the parent: https://core.trac.wordpress.org/browser/trunk/src/wp-admin/menu-header.php?rev=49193#L152

Will try to prepare a fix for the `admin-menu` endpoint to replicate that behavior.

[2021-02-24 13:11] #50371 closed, assigned to cpapazoglou

[2021-02-24 13:25] ciampo commented on #50430
Tested on production, it seems to be working fine for me

https://user-images.githubusercontent.com/1083581/109007047-fd888580-76ab-11eb-90c0-ae340baeaaa4.mp4

[2021-02-24 13:39] ciampo opened #50435 "New Onboarding: show modal when hitting the back button"
Note this may be applicable also for going back after completing `/start` onboarding.

This will fix https://github.com/Automattic/wp-calypso/issues/50389

As explained in https://github.com/Automattic/wp-calypso/issues/49565#issuecomment-784341234, an improvement to the current UX could be to show a modal when the user presses the back button at the end of the New Onboarding creation flow. Initia

[2021-02-24 13:41] ciampo commented on #49565
As per the comment above, I opened #50435 to track the modal issue separately.

[2021-02-24 13:41] #49565 closed, assigned to yansern

[2021-02-24 13:42] kristastevens commented on #48839
Hello from Editorial! (Baymax somehow failed to notify us about this one, but Jordesign's comment came through in an email, thankfully.) Here's some alternative wording. Tried to keep it as brief as possible and not sound scary.

[2021-02-24 13:46] mmtr commented on #50359
@macmanx2 This should've been solved as of 9.4.1, which was released a couple of weeks ago but only internally so you need to manually update it or wait for Jetpack 9.5.

[2021-02-24 13:46] #50359 closed, assigned to nobody

[2021-02-24 14:02] getdave commented on #50225
Ajax will go through the Ajax items shortly and make sure we close any that have been completed.

However, due to the Jetpack 9.5 code freeze having now past (on Monday) we'll have to make a call on what we can/can't fix via other means (ie: WPCOMSH) and then decide whether we can/can't include Jetpack connected sites in Nav Unification v1 launch.

My gut instinct is that it's unlikely. I don't ha

[2021-02-24 14:10] ccwalburn commented on #48839
Just to clarify...the verbiage I was suggesting changing was the verbiage on the buttons:

Change "I'll Keep It" to something like ""Keep auto-renew on"
Change "Confirm Cancellation" to something like "Turn auto-renew off"

[2021-02-24 14:21] tjcafferkey commented on #49178
This became even more obvious after the recent changes to the hover effects introduced by https://github.com/Automattic/wp-calypso/pull/50427 so I've created a quick PR to fix this.

[2021-02-24 14:26] sixhours commented on #47042
Updated here: D57583-code

[2021-02-24 14:26] #50231 closed, assigned to frontdevde

[2021-02-24 14:36] mmtr opened #50438 "Improve nav unification experience on Jetpack sites"
Part of https://github.com/Automattic/wp-calypso/issues/50225

Let's enhance the nav unification experience on Jetpack sites by implementing the improvements below:
- Update Jetpack_Admin_Menu so we don’t return more items that the ones currently present in the existing navigation.
- Make sure all links point to Calypso (regardless of the link destination toggle).
- Ensure Import, Export, Feedback

[2021-02-24 14:37] kristastevens commented on #48839
Ah, ok. Thanks for clarifying, @ccwalburn.

I like  "Keep auto-renewal on" for the first one and "Turn auto-renewal off" on the second. I think it helps clarify the choice being made.

I stand by my original suggestions for the copy. If you do decide to keep what you have, please be sure to replace the dash in that copy (-) with the em dash (—) for proper punctuation:

[2021-02-24 14:40] mattsherman commented on #50353
Everything has been Done.

[2021-02-24 14:40] #50353 closed, assigned to nobody

[2021-02-24 14:49] monsieur-z commented on #50225
This patch D57273-code from @rcoll fixes the _WP Admin Backup Credentials_ (along with Scan creds) and _WP Admin Backup & Scan Nav_ items.

[2021-02-24 15:07] thabotswana opened #50439 "Premium Content Block - Allow subscribers' access to be tracked"
### Problem
When a subscriber views or accesses Premium Content, there should be a record of that similar to how we collect Stats. If the subscriber disputes payment for the subscription, there is no way for the site owner to prove whether the user actually did access their content.

### Solution
Give site owners the ability to track their subscribers' views or when they access content like downlo

[2021-02-24 15:08] mattsherman commented on #49429
Re-opening, because I haven't updated P2s yet.

[2021-02-24 15:13] frontdevde opened #50440 "Nav Unification: IE11 issues"
Creating this as a group issue for IE11 issues

1.) The hover state on submenu items has a weird background
<img width="280" alt="Screenshot 2021-02-24 at 15 55 54" src="https://user-images.githubusercontent.com/1562646/109021108-dc7b6100-76ba-11eb-8011-fd21e797034e.png">

2.) It looks like Flyout menus are not showing currently. This is less of an issue as it sounds as the parent menu items can b

[2021-02-24 15:34] klimeryk commented on #50388
Thanks for reporting! Looks like the issue here is from the downgrade process - we clear the primary domain for the given site, but since you had a .blog subdomain, we should have set _that_ as the primary domain, but we did not. And since we hide the wordpress.com subdomain when there's a .blog subdomain present, Calypso can't find it and throws an error :(

It should be a fairly easy fix on the

[2021-02-24 15:42] Copons commented on #50277
@vindl Dotcom specific 😭

[2021-02-24 15:45] hambai commented on #46752
Okay - I have a backend fix for numeric search in D57568-code and for the other case in D57588-code.

[2021-02-24 16:44] cpapazoglou commented on #50373
Here is the WP Admin of the same site

Nav Unification Disabled | Nav Unification Enabled
-------|------
![](https://cln.sh/RvJsCR+) | ![](https://cln.sh/kkjiI4+)

Regarding the empty menu items there is a combination of the following:
- the count shouldn’t be part of the translation https://github.com/Automattic/jetpack/blob/88e250f6388c17ec49caa79097dea8174f7bafa8/projects/plugins/jetpack/module

[2021-02-24 16:49] ciampo commented on #50371
Seems like a similar problem, although the site where this issue was reported did not have Yoast installed?

[2021-02-24 17:27] ianstewart opened #50445 "The label "Dashboard" (not "Home") will be surfaced in the Editor when using nav hovers to open the Editor and in the Site Editor"
### Steps to reproduce the behavior

From the Home screen in Calypso add a post (or page) by clicking Add New in nav sidebar hover.

![image](https://user-images.githubusercontent.com/545779/109039843-dc676b00-7692-11eb-8a85-d5c1bf2f5aad.png)

Click the W button in the Editor.

![image](https://user-images.githubusercontent.com/545779/109039953-00c34780-7693-11eb-97c6-ca6afa4a6362.png)

#### What

[2021-02-24 17:38] obenland commented on #50445
Should be overridable in [`MainDashboardButton`](https://github.com/WordPress/gutenberg/blob/e8c58e18b396f5d66c7419f4089370f1583b138a/docs/designers-developers/developers/slotfills/main-dashboard-button.md).

[2021-02-24 17:38] mattsherman opened #50446 "WooCommerce: "Building your store" page does not refresh automatically after plugins are installed"
### Steps to reproduce the behavior

With a site with a Business plan and that is Atomic, but does not have WooCommerce plugin installed (and with Nav Unification disabled):

1. Click on the "WooCommerce" sidebar menu item.

<img width="1275" alt="Screen Shot 2021-02-24 at 10 25 03" src="https://user-images.githubusercontent.com/2098816/109041132-b6df5f00-769c-11eb-8d2c-c86e62df61ed.png">

2. Clic

[2021-02-24 17:55] #49337 closed, assigned to stacimc

[2021-02-24 18:05] macmanx2 commented on #50359
@mmtr Excellent! I'll wait for 9.5 so I can keep up with what the users are experiencing.

[2021-02-24 18:17] nsakaimbo commented on #47759
👋 Thanks for the ping, @simison! Just catching up on this thread. Yes, the setup checklist was intentionally excluded from the Desktop app, and turns out I created [this issue](https://github.com/Automattic/wp-calypso/issues/47965) to track re-instating it at some point. The primary reasons for exclusion boil down to:

And more specifically:

While fixing this feature and bringing it up-to-par wit

[2021-02-24 18:37] msilbers commented on #50304
It appears that embeds added with a link are now working, but the Shortcode that we mention here does not seem to be working: https://wordpress.com/support/videos/flickr-video/#embedding-with-theshortcode

Working with link embed, though with quite a lot of blank space above the video: https://writemiss.blog/2021/02/20/1054/
Not working with Shortcodes (both versions mentioned in the doc, and usin

[2021-02-24 18:37] ccwalburn commented on #49821
Hi @mmtr Is this the issue that is tracking the Calypso Performance issues? https://github.com/Automattic/wp-calypso/issues/32159
And if so, will that get some more traction now?

[2021-02-24 18:38] michaeldcain commented on #50432
@simison I'm having trouble reproducing this. How did you go from a logged-out plans page to a logged-in Calypso instance?

[2021-02-24 18:52] #50060 closed, assigned to nobody

[2021-02-24 19:03] scosgro commented on #45127
Popped up again in 24867064-hc

[2021-02-24 19:24] #48704 closed, assigned to autumnfjeld

[2021-02-24 19:25] noahtallen commented on #48704
Should be working if you want to give it another shot. If there are still issues, I'm happy to fix them 👍

[2021-02-24 19:36] ianstewart opened #50450 "Editor Checkout: Checkout loading screen appears when Calypso loading screen should"
### Steps to reproduce the behavior

1. Insert premium block in editor
2. Click upgrade
3. See loading screen for checkout
4. See Calypso plans page instead

![2021-02-24 13 35 02](https://user-images.githubusercontent.com/545779/109055820-438e1b00-76a5-11eb-9f93-b16882392ad3.gif)

#### What I expected to happen

See a Calypso-esque loading screen. Not a checkout one.

[2021-02-24 19:45] sirbrillig commented on #50450
FWIW the redirect to the plans page happens because the cart is empty when checkout finishes loading. So whatever is supposed to be adding that block to the cart is not working.

[2021-02-24 19:46] cathymcbride commented on #50450
@apeatling does this fall to your team?

[2021-02-24 19:55] tmmbecker opened #50451 "Nav Unification: Jetpack sites getting WP Admin menus (not Calypso)"
### Steps to reproduce the behavior

1. Go to any Jetpack-connected site.
2. Note that the sidebar is displaying WP Admin menu options.

#### What I expected to happen

I'd see Calypso-specific options.

#### What actually happened

I see WP Admin options.

#### Browser / OS version

Chrome Version 88.0.4324.182

#### Does this happen on simple or atomic sites or both?

Jetpack

#### Is there any

[2021-02-24 19:59] cathymcbride commented on #16834
Store has changed so I don't think this is relevant any longer. If it is, please feel free to reopen!

[2021-02-24 19:59] #16834 closed

[2021-02-24 19:59] sirbrillig commented on #50450
There's a loose possibility that this is a regression caused by https://github.com/Automattic/wp-calypso/pull/49440 although I'm hopeful it's not. It would be really helpful to see what the URL looks like just after you click that Upgrade button. If it looks something like `/checkout/example.com/some_product_slug` (which would then quickly change to `/checkout/example.com`) then that PR might have

[2021-02-24 20:00] cathymcbride commented on #16835
Store has changed, so I don't think is relevant any longer. Please reopen if you feel it is!

[2021-02-24 20:00] #16835 closed

[2021-02-24 20:00] cathymcbride commented on #16836
Store has changed, so I don't think is relevant any longer. Please reopen if you feel it is!

[2021-02-24 20:00] #16836 closed

[2021-02-24 20:02] sirbrillig commented on #50450
Oh, looking at the link preview in the gif, actually, it _does_ look like it might be related to that PR. 🤔 I've made a revert PR in https://github.com/Automattic/wp-calypso/pull/50453 and we can use it to test to see if this problem still exists.

[2021-02-24 20:03] cathymcbride commented on #18934
not hit for quite a while. Closing...

[2021-02-24 20:03] #18934 closed

[2021-02-24 20:04] cathymcbride commented on #20733
Closing due to inactivity.

[2021-02-24 20:05] wprhunt opened #50454 "Images in logos block reset their sizing when new image is added"
**What**
When adding a new image to the Logos block, the images that are already added don't retain the width that they were set to display at before the new image was added. They are all restored to the same size:

![screencast 2021-02-24 11-52-10](https://user-images.githubusercontent.com/16481427/109058875-62d27b80-7698-11eb-87f1-58154487f3d6.gif)

These logos should be able to retain the custo

[2021-02-24 20:06] cathymcbride commented on #21119
Closing due to inactivity

[2021-02-24 20:06] #21119 closed

[2021-02-24 20:09] cathymcbride commented on #21220
No activity since 2018. Closing...

[2021-02-24 20:09] #21220 closed

[2021-02-24 20:11] cathymcbride commented on #21859
No activity since 2019. Closing...

[2021-02-24 20:11] #21859 closed

[2021-02-24 20:15] #35740 closed

[2021-02-24 20:15] ianstewart commented on #50450
@sirbrillig Issue still happens for me when testing the branch in https://github.com/Automattic/wp-calypso/pull/50453 .

[2021-02-24 20:18] michaeldcain commented on #50450
Just confirming what Ian said, I don't think striping the url is the issue. I think the product isn't actually being added to the cart - Gutenberg Checkout starts to load and then redirects to /plans/ with an empty cart (just as regular Checkout would with an invalid product).

[2021-02-24 20:20] wprhunt opened #50456 "Logos Block: Add buttons to reorder the logos order"
**What**
Currently, the logos block uses the same method of adding images as the old gallery option where you select each image via the media library and have to select them in the order you want them to display.

To change this order, you have to edit again via the media library and unclick the order of the images and then re-click them in the order you want or start over from scratch which may b

[2021-02-24 20:21] SiobhyB commented on #20733
@cathymcbride, I'm curious about this, as the inaccuracy is still there in our stats. I think the Europe Union's great, but it's simply not accurate to refer to it as a country or a continent, it's a political union. The mistake may come across as misleading, ignorant, or even exclusionary to some users. It seems like a quick win to correct it on our side.

(We're getting the "EU" code from Google

[2021-02-24 20:22] cathymcbride commented on #36335
@davipontesblog I'm not seeing this UI on simple or atomic and your screenshots are no longer available. :( Can you verify if this is still a problem?

[2021-02-24 20:22] michaeldcain commented on #50450
FWIW, it looks like the upgrade link is correct (see screenshot), I just think Gutenberg Checkout overrides the href.

![Screen Shot 2021-02-24 at 3 15 13 PM](https://user-images.githubusercontent.com/942359/109061019-172dcb00-76b4-11eb-806a-cac03dc0a7cb.png)

![Screen Shot 2021-02-24 at 3 21 14 PM](https://user-images.githubusercontent.com/942359/109060931-fd8c8380-76b3-11eb-9276-c8423bad84e9.png

[2021-02-24 20:33] tmmbecker commented on #50451
I created a new JN site and connected with no plan. I saw the correct Calypso menu appear briefly and then it switched to the same WP Admin menu. NOTE that this WP Admin menu that I'm seeing in Calypso is MISSING the Jetpack menu that appears in the actual WP Admin menu.

[2021-02-24 20:39] cathymcbride commented on #39913
Legit, but stale and no customer reports.

[2021-02-24 20:39] #39913 closed

[2021-02-24 20:41] cathymcbride commented on #40352
No customer reports. Closing...

[2021-02-24 20:41] #40352 closed

[2021-02-24 20:45] cathymcbride commented on #41532
No customer reports. Closing.

[2021-02-24 20:45] #41532 closed

[2021-02-24 20:48] cathymcbride commented on #44114
Easy workaround. Closing. Feel free to reopen if you disagree!

[2021-02-24 20:48] #44114 closed

[2021-02-24 20:51] sirbrillig commented on #50450
Thanks for testing. I'm not sure what's going on then. It must be something to do with Gutenberg checkout.

If it's helpful, checkout actually will not redirect to the plans page if there's an invalid product. It will display an error and an empty cart.

<img width="793" alt="Screen Shot 2021-02-24 at 3 50 46 PM" src="https://user-images.githubusercontent.com/2036909/109064191-15fe9d00-76b8-11eb-9

[2021-02-24 20:55] cathymcbride commented on #45446
Can be fixed at the same time as https://github.com/Automattic/wp-calypso/issues/44575

[2021-02-24 20:57] cathymcbride commented on #45695
@juliaamosova do you know who would be good to ping about this?

[2021-02-24 20:59] cathymcbride commented on #46302
Are we able to move this PR forward?

[2021-02-24 21:01] juliaamosova commented on #45695
Pinging @ObliviousHarmony and @timmyc here from Woo to see if you could provide feedback on this thread. Thanks!

[2021-02-24 21:04] cathymcbride commented on #48977
Closing since it seems this was an isolated case.

[2021-02-24 21:04] #48977 closed, assigned to nobody

[2021-02-24 21:06] cathymcbride commented on #50439
@apeatling would this be on the content side or the stats side?

[2021-02-24 21:37] happychait commented on #41272
24413916-hc

[2021-02-24 21:55] razvanpapadopol commented on #50450
https://github.com/Automattic/wp-calypso/pull/50460 should fix this one

[2021-02-24 22:01] vindl commented on #50277
Dang. 😢

[2021-02-24 22:16] michaeldcain opened #50461 "Marketing Upsell: can't decline offer from Editor Checkout"
This was partially hidden by #50450, which is being fixed in #50460. You'll need to work from the latter to reproduce this until it's merged.

### Steps to reproduce the behavior

1. On a free site, go to the editor
2. Add a premium block (i.e. Pay with PayPal)
3. Click the upgrade nudge
4. Complete Checkout for the Premium plan
5. You'll be shown the Marketing upsell
6. Try to decline the upsell

[2021-02-24 22:47] razvanpapadopol opened #50463 "Editor Checkout: use cartData to set domain and plan"
**What**
Instead of updating cart and then opening Checkout modal, when we need to add also a domain to cart, we should be able to use `cartData` similar to how Premium Blocks are adding a plan.

**Why**
To achieve some level of consistency for EditorCheckoutModal API

**How**
- [ ] `EditorCheckoutModal` should handle `cartData` containing both plans and domain products when initializing Checkout.

[2021-02-25 00:11] andrewserong commented on #46952
@simison I think a possible path forward to addressing this in the page layout picker (but possibly for the pattern inserter, too) would be to create a separate pattern categories endpoint (raised here: https://github.com/Automattic/wp-calypso/issues/49851) so that the pattern categories could be requested in one locale, but then the patterns themselves would be requested in another. From the soun

[2021-02-25 00:58] emilyaudela opened #50466 ""WordPress.com Free" needs to be translatable on Launch Site Module"
Steps to reproduce

1. Starting at URL: https://wordpress.com/new/de
2. Go through onboarding flow to create a new site
3. In the Wordpress editor, click the Launch site button (Website veröffentlichen)
4. Then go to the plan selection section (Wähle einen Tarif)
5. Select the free plan (Kostenlos)
6. The plan name "WordPress.com Free" should be translated, but it appears in English in all languag

[2021-02-25 02:05] edwinho89 commented on #40792
Another report in 3759123-zen

[2021-02-25 02:40] ramonjd commented on #50461
@niranjan-uma-shankar I think I need some help here as I'm terribly out of context.

When testing I see that the URL returned is from `getUrlWithQueryParam` added in this [PR](https://github.com/Automattic/wp-calypso/commit/768e81f9cbd8aec3d7be28d95c9cd728391c716d#diff-ea2f96cfb7728d99fffeb9644dbda281c9225548684c9acf8b918e396ef0e5dbR209)

Debug output for getThankYouPageUrl:

[code]
getThankYouPag

[2021-02-25 03:24] ramonjd commented on #50461
I wonder if it's because we're not clearing the [destination cookie](https://github.com/Automattic/wp-calypso/blob/a5683f943015772972ea8df93462c559797a548a/client/my-sites/checkout/upsell-nudge/index.jsx#L276)?

When `isEligibleForSignupDestinationResult` [returns the cookie value](https://github.com/Automattic/wp-calypso/blob/0378d16ae2befc282080b7b9c3fc61b3f4c75ebf/client/state/selectors/is-elig

[2021-02-25 03:47] ramonjd commented on #46559
D57559-code has been deployed.

This means that when you create a new AT site, e.g., ecommerce site via /new, you'll see:

When editing a post on `wordpress.com/page/MY_ATOMIC_WP_STAGING_SITE/7` the API response from `public-api.wordpress.com/rest/v1.2/sites/MY_ATOMIC_WP_STAGING_SITE_ID` will contain `body.options.site_creation_flow = gutenboarding`

So too, when editing a post on `MY_ATOMIC_WP_ST

[2021-02-25 03:49] ramonjd commented on #50394
Now that we've [deployed D57559-code](https://github.com/Automattic/wp-calypso/issues/46559#issuecomment-785555754) we can look at how and if the `a8c_enable_editor_site_launch` filter is returning the correct launch values.

[2021-02-25 03:50] inaikem commented on #49729
Another issue in #3763993-ZD

[2021-02-25 06:05] p-jackson commented on #49864
Woohoo! 🥳
Thanks for tracking it all down and making sure those descriptions are in.

[2021-02-25 07:40] donalirl opened #50473 "Nav Unification: Missing Settings Item - Security (Atomic)"
Apologies if this was mentioned somewhere (although I couldn't find any record of it).

In the new navigation for atomic sites, there is no Settings → Security. See this screenshot:
![image](https://user-images.githubusercontent.com/30727666/109119477-dcea2980-7798-11eb-84f2-c12f313f6332.png)

[2021-02-25 08:10] #50332 closed, assigned to nobody

[2021-02-25 08:29] mmtr commented on #49821
@ccwalburn I'm not sure if it's the same issue since #32159 seems specific to JP/AT sites, and this one also affect Simple sites. It would need more investigation to confirm whether they both are part of the same issue.

Im afraid I'm not in the best position to answer this, since it depends on the different roadmaps and priorities of the teams. Going to defer this to @obenland.

[2021-02-25 09:05] ramonjd opened #50475 "Support long domain names in launch flow container"
### Steps to reproduce

1. Sign up for a new site at `/start` (make sure you're in the control group of the current launch flow experiment `focused_launch_flow_v2` assuming it's still running) ensuring that your WordPress subdomain is long, e.g., `asdfasdfawedq24wrgthtgrfwfeq3e435trygdfsvdwe3r453t4rgfvsdfae3333`
2. Go to the editor
3. Select the launch button. You should be sent to the launch flow

[2021-02-25 09:11] ramonjd commented on #50475
Dupe of https://github.com/Automattic/wp-calypso/issues/49285

[2021-02-25 09:11] #50475 closed, assigned to nobody

[2021-02-25 09:48] liviopv commented on #32533
Another in 28003564-hc

The user needed to edit the Featured Image of a Posts Page because their theme (Ovation) displays it on the Front Page. They had to unset it as Posts Page, edit the page, and reset as Posts Page.

[2021-02-25 10:00] ciampo commented on #46559
Thank you @ramonjd , the issue is fixed!

1. I created a site via `/new`, purchased a business plan, and installed a plugin to trigger the site to become atomic
2. Successfully checked that the `/sites/$site_id` API response contains the `site_creation_flow` option set to `gutenboarding` for both `v1.1` and `v1.2`
3. Successfully checked that the `wp option get site_creation_flow` command returns

[2021-02-25 10:00] #46559 closed

[2021-02-25 10:00] razvanpapadopol commented on #47784
Good to follow the extraction process in p9oQ9f-q6-p2

[2021-02-25 10:10] ramonjd commented on #50273
I wonder if this recent [addition to the signup controller](https://github.com/Automattic/wp-calypso/pull/49680/files#diff-9d7d6e5b810ec4d930d0dd4ab43ab0a72e8082274e818ed6888ec938a94dacc2R311) has anything to do with it

It causes an error on `/start` since the `siteSlug` isn't available to be passed to the Promise.

<img width="765" alt="Screen Shot 2021-02-25 at 8 23 01 pm" src="https://user-ima

[2021-02-25 10:14] ivan-ottinger commented on #36274
Just adding here that the user from 3726375-zd-woothemes encountered the issue with another post and here is what they observed:

In other words, they managed to save and publish the post even the `Publishing failed. Sorry, you are not allowed to assign the provided terms.` error message was still displaying.

I am not sure whether this will help in any way, but wanted to share.

[2021-02-25 10:58] Nic-Sevic opened #50480 "Layout grid block: affected post Layout Grid plugin update"
### Steps to reproduce the behavior

1. Starting at URL: go to WordPress.com > My Sites > Site > Pages and preview the Home page.
2. It doesn’t show the spacing in the second layout grid on the page with no gap between the two columns (Screenshot: https://snipboard.io/mxu1fD.jpg)
3. Whereas when actually visiting the page live, we are able to see the spacing. (Screenshot: https://snipboard.io/Xdov

[2021-02-25 11:00] Nic-Sevic commented on #50480
Seems like not actually bug and opened in error. Closing now.

[2021-02-25 11:00] #50480 closed, assigned to nobody

[2021-02-25 11:17] yansern commented on #50394
My understanding is that:

For **Simple sites**, the filter `a8c_enable_editor_site_launch` exists. It is located at `wp-content/mu-plugins/full-site-editing.php`.

For **Atomic sites**, the filter `a8c_enable_editor_site_launch` is missing. It should be placed in `wpcomsh/feature-plugins/full-site-editing.php`.

However, since both files run in different environments, as stated by @ramonjd in  p1

[2021-02-25 11:23] cpapazoglou commented on #50372
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/50312

[2021-02-25 11:23] #50372 closed, assigned to nobody

[2021-02-25 11:24] yansern commented on #50394
Accidentally hit on the close button. ;)

[2021-02-25 13:01] cpapazoglou commented on #50312
That's a very interesting problem. The menu is served from an api directly from the site. While we can pass the User locale as an argument and fetch the "English" menu, what will happen when you go to that site's WP Admin? You will get the "Spanish" translations. So navigating around (you may hop between Calypso and WP Admin), you will experience different translations.

The root of the problem is

[2021-02-25 13:46] ciampo commented on #50273
cc @Automattic/martech to have some eyes more familiar with `/start` signup framework on this one.

**Update**: MarTech is taking over this one p1614692244021500/1614677130.020900-slack-C012K365WR3

[2021-02-25 14:27] philnick206 commented on #50288
Related issue: https://github.com/Automattic/wp-calypso/issues/43930

[2021-02-25 14:54] david-szabo97 opened #50484 "My Home: Block based themes (Site Editor) should have a different checklist"
#### Steps to reproduce

1. Create a site using the horizon flow
2. Go to dashboard

#### What I expected
A different checklist that's more relevant to a site editor enabled site.

#### What happened instead
The checklist asks us to create a menu and edit the homepage.

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2021-02-25 14:57] cathymcbride commented on #20946
Looks like Ulysses is pulling all sites now. Closing...

[2021-02-25 15:01] hydrixos commented on #20946
@cathymcbride We didn't change our way of requesting blogs via XMLRPC. We also had some reports recently regarding this problem. If we understood it correctly, it only affects certain WordPress.com-blogs. So probably this issue is still existing.

[2021-02-25 15:02] cathymcbride commented on #22455
No customer reports or activity for a while. Closing.

[2021-02-25 15:02] #22455 closed

[2021-02-25 15:17] yansern commented on #50394
An update. The decision is to use Redirect Launch on Atomic sites for now.
Context: 617-gh-Automattic/wpcomsh p1614264009076200/1614225156.060700-slack-C0KDTA48Y

[2021-02-25 15:18] cathymcbride commented on #26182
I agree with Dave above, but in light of the "Log Out from Everywhere" button, I am going to close this issue.

[2021-02-25 15:18] #26182 closed

[2021-02-25 15:26] cathymcbride commented on #34003
iOS 9 represents <1% of iOS versions worldwide right now. Closing...

[2021-02-25 15:26] #34003 closed

[2021-02-25 15:43] cathymcbride commented on #40677
Duplicate of #33924. Closing this one.

[2021-02-25 15:43] #40677 closed

[2021-02-25 15:44] cpapazoglou commented on #50473
Thanks for reporting! Closing this as duplicate https://github.com/Automattic/wp-calypso/issues/49310!

[2021-02-25 15:44] #50473 closed, assigned to nobody

[2021-02-25 15:47] getdave commented on #50312
We're going to reach out to get some data on the likely impact of this. The data we need is

Ideally broken down by Plan and New vs Existing.

My instinct is that this isn't going to get fixed prior to launch, but it will need to be high on the items for v2.

[2021-02-25 16:04] #47042 closed

[2021-02-25 16:11] obenland commented on #46297
@kwight Can this be closed? Looks like the fix was merged?

[2021-02-25 16:14] getdave commented on #50312
@mrfoxtalbot FYI PCYsg-vFf-p2#my-menu-is-in-a-different-language-from-my-account-interface-language

[2021-02-25 16:21] cathymcbride commented on #39811
Closing. Please reopen if you think it's needs to be.

[2021-02-25 16:23] cathymcbride commented on #43505
@ivan-ottinger can you still repro this?

[2021-02-25 16:23] #50450 closed, assigned to razvanpapadopol

[2021-02-25 16:33] cathymcbride commented on #28145
@jaswrks does this fall to your team's purview?

[2021-02-25 16:38] kwight opened #50489 "My Home: Dismiss mechanism can be confusing."
The dismiss mechanism for our primary My Home cards can be confusing and/or frustrating, depending on users' expectations.

<img width="1206" alt="Screen Shot 2021-02-25 at 8 32 13 AM" src="https://user-images.githubusercontent.com/349751/109184706-1e9cb500-7744-11eb-9ebd-9c8f78b36edc.png">

One issue is that the cards are only ever visible in the primary area; we have no location for a user to la

[2021-02-25 16:42] jaswrks commented on #28145
@cathymcbride Thanks. Yes. We can take a look. Appreciate heads up.

[2021-02-25 16:43] #50438 closed, assigned to mmtr

[2021-02-25 16:44] cathymcbride commented on #44722
Issue is on the Soundcloud side, so there isn't really anything we can do about it. Closing...

[2021-02-25 16:44] #44722 closed

[2021-02-25 17:00] edequalsawesome commented on #20946
@cathymcbride I just tried it, and I'm still not able to view Atomic sites in the list of sites that's shown in Ulysses when connecting with the WordPress.com authentication method, so this is still ongoing from what I can tell -- the work-around that I outlined previously is still the only way to connect Ulysses to an Atomic site afaik!

When I try to connect Ulysses to a site on my test WordPres

[2021-02-25 17:04] edequalsawesome commented on #50350
Fixed in Gutenberg 10.0.2 🎉

[2021-02-25 17:04] #50350 closed, assigned to nobody

[2021-02-25 17:29] #50373 closed, assigned to cpapazoglou

[2021-02-25 17:37] sirbrillig commented on #50461
It sounds like you're on the right track. Despite my name being in there, I don't actually know much about the intended logic of the thank-you url function. It's pretty much all @Automattic/martech About a year ago we found that the function was often giving unexpected results in the old version of checkout (like this case!) and to help answer questions about why, I moved it to its own file and co

[2021-02-25 18:09] kwight commented on #50489
A first step here would be determining how often users are doing each form of the dismissal (using either Tracks or bump stats).

[2021-02-25 18:10] cathymcbride commented on #20946
Fair enough. I thought it was showing one of my atomic test sites, but it appears I was mistaken. Reopening...

[2021-02-25 18:13] simison opened #50490 "Nav unification: site image broken in navigation when using MailPoet plugin"
The site image breaks visually when using MailPoet plugin:

![Screenshot 2021-02-25 at 19 56 05](https://user-images.githubusercontent.com/87168/109195803-a36aeb80-77a3-11eb-9ada-bfd64c1785ed.png)

![Screenshot 2021-02-25 at 19 56 35](https://user-images.githubusercontent.com/87168/109195796-a1089180-77a3-11eb-9969-ae7e29a0247d.png)

Chrome browser, Atomic site.

On other admin pages image behaves

[2021-02-25 18:22] razvanpapadopol commented on #50269
Fixed in https://github.com/Automattic/wp-calypso/pull/50311

[2021-02-25 18:22] #50269 closed, assigned to razvanpapadopol

[2021-02-25 18:29] cathymcbride commented on #20733
@SiobhyB Thank you for your comments. I'm going to open this back up to see if this is as easy as a string change.

[2021-02-25 18:36] sirbrillig commented on #48421
I made https://github.com/Automattic/wp-calypso/pull/50491 to remove the label settings components entirely.

[2021-02-25 18:45] kristenzuck opened #50493 "Payments Block: Improve Clarity About Ability to Sell Digital Downloads"
**What**

Currently when you add the Payments Block, it is very focused on Memberships and Subscriptions. But, it is mentioned vaguely in documentation and promotion of the Payments block that you can use it for the one time sale of digital goods. It is not apparent how to do this when you add the button, or in our documentation though.

I'd like us to add clarity directly when you add the Payment

[2021-02-25 18:51] kristenzuck opened #50495 "Payments Block: Add Link to Earn Manage Payment Settings in Block Settings"
**What**
We should add a direct link to the related Earn Manage Payments setting associated with a Payments Block so customers can more easily find and edit Payment Plan settings and their Email Confirmation Message. Currently the ability is buried in Support Documentation and site navigation.

**Why**
Unless you fully read the documentation it is not clear there are further settings to adjust for

[2021-02-25 18:57] cathymcbride commented on #30426
It worked for me on simple, but not atomic.

[2021-02-25 19:22] cathymcbride commented on #45607
I repro consistently with the classic editor activated, but it looks like deactivating doesn't fix it for everyone.

[2021-02-25 19:28] cathymcbride commented on #13216
This looks fixed to me? @nb would you agree?

[2021-02-25 19:34] cathymcbride commented on #39424
I think b/t the PRs mentioned above and https://github.com/Automattic/wp-calypso/issues/50435, we can close this one. I'm going to close it, but if you think this issue needs to be reopened to address something not already covered with an existing issue, leave a comment!

[2021-02-25 19:39] cathymcbride commented on #46664
@JoshuaGoode does this still repro? Seems like it might be fixed?

[2021-02-25 19:45] cathymcbride commented on #4657
@supernovia since we've had a code change to address the initial issue, can you open another issue to track the issue in your previous comment? I'm going to close this one. Then we'll direct your new one to design to think thru. Thanks!

[2021-02-25 19:45] #4657 closed

[2021-02-25 19:50] cathymcbride commented on #16603
PR needs some attention.

[2021-02-25 20:03] scosgro commented on #48627
Yep! That could work. Users (especially using templates/theme templates) inadvertently put everything into a column, or into a three column set and only use the middle column, which can make things a bit wonky, which is where the GitHub idea started.

[2021-02-25 20:04] ianstewart opened #50497 "Site Editor: Provide simple updates to the Customizer experience in AMP theme when Block Themes are active"
The AMP Plugin in use on WP.com simple sites uses the customizer.

![image](https://user-images.githubusercontent.com/545779/109210081-f5931900-7771-11eb-86d6-9a246ff085ed.png)

As all other Customizer usage (for the most part) in Block Themes is or should be in the Site Editor, we should take a look making sure that we're not revealing ALL customizer modules to users via the AMP plugin. Perhaps r

[2021-02-25 20:09] jordesign commented on #48839
Thanks @kristastevens  for the copy. As it turns out there are a few variations (depending on what product type the auto-renew is being toggled for. Would you mind please reviewing each of the other instances too?

The domain one which you already mentioned would be changed to:

[code]

The other instances we'd need to adjust as well are:

[code]

[code]

[code]

[code]

Thanks so much.

[2021-02-25 20:16] #49232 closed, assigned to ilyasfoo

[2021-02-25 20:19] happychait opened #50498 "My Blogs page inaccessible when "Dashboard appearance" is active."
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account
2. Click on  "Dashboard appearance" toggle to activate it and click "Save interface settings".
3. Try to open My Blogs WP Admin page at https://{query}/wp-admin/index.php?page=my-blogs

#### What I expected to happen

See My Blogs page.

#### What actually happened

Got the `Cannot load my-blogs.` error.

#### Screensho

[2021-02-25 20:25] jeyip opened #50499 "Site Editor: Map block does not render"
When inserting a map block into the site editor, it errors out. The error does _not_ occur in the post editor or on atomic sites.

![2021-02-25 12 23 02](https://user-images.githubusercontent.com/5414230/109212498-74815500-7764-11eb-9e24-aa11567aff26.gif)

<img width="699" alt="Screen Shot 2021-02-25 at 12 23 39 PM" src="https://user-images.githubusercontent.com/5414230/109212527-7d722680-7764-11e

[2021-02-25 20:50] jeyip opened #50500 "Media Library: As a newer user, finding and using Pexels in the editor media library is difficult"
Finding and uploading free images from Pexels is somewhat challenging, especially as a new user when using the media library modal from the Gutenberg editor canvas.

- Discovering Pexels was difficult in the media library modal
- Once I discovered Pexels, I didn't see obvious affordances when trying to search for an image

## Image Block (Pexels without navigating to Media Library)
![2021-02-25 12

[2021-02-25 21:35] tbradsha commented on #50155
I think perhaps G Suite doesn't even let you get to the cart unless the owner, so the logic may be there to expand.

[2021-02-25 21:45] katiebethbrown opened #50501 "Nav Unification: Clicking on My Home from a WP Admin context with replacements on loads update-core.php instead of the Dashboard"
### Steps to reproduce the behavior

1. Toggle on `Replace all dashboard pages with WP Admin equivalents` option
2. Click on **My Home** to load `/wp-admin`, or visit any other /wp-admin page
3. Click on **My Home** again

#### What I expected to happen

For the WP Admin Dashboard page to load (or reload if already there)

#### What actually happened

The core updates page, `/wp-admin/update-core.

[2021-02-25 21:48] ramonjd commented on #44091
I think this would be an issue for @Automattic/create Not sure which team right now. Seems like it doesn't belong on maintenance, but probably needs some @Automattic/dotcom-create-design input as well.

[2021-02-25 21:49] #40506 closed

[2021-02-25 21:50] ObliviousHarmony commented on #45695
Thanks @juliaamosova,

I'm not really familiar with Calypso; where do these stats come from?

[2021-02-25 21:51] ramonjd commented on #15392
Needs some input from @Automattic/dotcom-create-design

Should we be removing the screen? Or changing it to invite the user to create a real WordPress.com account + password?

[2021-02-25 21:58] mattsherman commented on #49429
This is now Done.

[2021-02-25 21:58] #49429 closed, assigned to moon0326

[2021-02-25 22:10] apeatling commented on #50439
I think this would need both feature work and stat recording work. Is that what you're asking?

[2021-02-25 22:19] ianstewart opened #50503 "Home: Update Checklist to better support the flows for users who start with a Block theme"
Here's the checklist today:

![image](https://user-images.githubusercontent.com/545779/109226797-f1242b80-7784-11eb-8524-b0e6f6ffdf76.png)

We may want or require logic here to …

- Educate users about differences between Block and Classic Themes.
- Not point to the customizer when a Block Theme is active.
- Add additional items around patterns
- or other bonus items like updating certain template

[2021-02-25 22:20] ianstewart commented on #50503
Closing in favour of #50484

[2021-02-25 22:20] #50503 closed, assigned to nobody

[2021-02-25 22:21] ianstewart commented on #50484
+1. Here's the checklist today:

![image](https://user-images.githubusercontent.com/545779/109226797-f1242b80-7784-11eb-8524-b0e6f6ffdf76.png)

We may want or require logic here to …

- Educate users about differences between Block and Classic Themes.
- Not point to the customizer when a Block Theme is active.
- Add additional items around patterns.
- Or other bonus items like updating certain tem

[2021-02-25 22:22] JoshuaGoode commented on #27070
Encountered on 3758637-zen

[2021-02-25 22:25] ktyfuller604 opened #50504 "WhatsApp Block: Prompting to Upgrade when already Upgraded."
### Steps to reproduce the behavior

1. Use an account that has an active Premium plan.
2. Add a WhatsApp block to any page
3. Publish/Update page
4. See error message on live page `Upgrade your plan to use this premium block`

_Side note: the button to upgrade doesn't go anywhere_

#### What I expected to happen

The WhatsApp button to work on my Premium plan.

#### What actually happened

The li

[2021-02-25 22:40] worldomonation commented on #39076
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As Microsoft Edge is no longer active development, I would propose that this issue be closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-25 22:40] #39076 closed

[2021-02-25 22:44] worldomonation commented on #36661
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue on Browser: Firefox Nightly 87.0a1 and OS: macOS Big Sur 11.1 (20C69).
See attached screenshot for both `Image` and `YouTube` blocks in a Column block.
![Screen Shot 2021-02-25 at 2 43 55 PM](https://user-images.githubusercontent.com/6549265/109229

[2021-02-25 22:44] #36661 closed

[2021-02-25 22:46] apeatling commented on #50504
Fixed in r221717-wpcom

[2021-02-25 22:46] #50504 closed, assigned to nobody

[2021-02-25 22:50] worldomonation commented on #14442
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no activity on this issue for nearly 2 years and several of the links in the original description no longer appear to be live.

With those factors in consideration, I would propose this issue be closed with the label `Closed - Won't Fix`.
If this issue should remain open,

[2021-02-25 22:55] worldomonation commented on #18526
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-25 22:56] ianstewart commented on #37088
Closing this one as (while I don't have the issues at hand) this'll be tackled with the Block Editor (Post/Page/Site). Exciting times. :D

[2021-02-25 22:56] #37088 closed

[2021-02-25 22:56] worldomonation commented on #17714
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-25 22:56] #17714 closed

[2021-02-25 22:57] worldomonation commented on #1687
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-25 23:00] marcuswisecaesar opened #50506 "Gutenboarding: Theme Showcase, Bowen Theme shows a broken Form block on the Blog Page."
### Steps to reproduce the behavior

1. Go through Gutenboarding until you are selecting a theme.
2. Select the Bowen Theme and a Font Pairing
3. Pick A Plan
4. Proceed to Edit the Site
5. Select the Blog Page to Edit

#### What I expected to happen
- Expected blocks in a theme demo to be working without error.

#### What actually happened

The subscription form block in a column on the right is b

[2021-02-25 23:13] xpurichan opened #50507 "Nav Uni: Two pages named "Marketing" could be confusing"
If WooCommerce is installed then we'll be able to find two different pages in nav uni which are both named Marketing, and this could be confusing to customers.

### Steps to reproduce the behavior

1. Install and activate the `woocommerce` plugin.
2. Note the new "Marketing" tab in the unified navigation. That link takes you here: https://DOMAINCOM/wp-admin/admin.php?page=wc-admin&path=%2Fmarketin

[2021-02-25 23:20] razvanpapadopol commented on #49153
Domain suggestions are based on the currently entered string.

From the screenshot I see the domain suggestions were actually based on the entered string. The domain displayed at the bottom is something that you've explicitly selected in a previous session and it stays selected until you pick a different one or finish creating the site. So the behavior is like this by design.

cc: @Automattic/luna

[2021-02-25 23:24] sirbrillig commented on #50432
I believe that message has nothing to do with Checkout and comes from the Customer Home page here:

https://github.com/Automattic/wp-calypso/blob/bb4367f11d9e63ccd62a755fcc1f654df4bb1f80/client/my-sites/customer-home/main.jsx#L65-L69

That hook displays that message on every render where one of the other props changes as long as `noticeType` is set (although it's not clear to me what's changing it

[2021-02-25 23:29] xpurichan opened #50508 "Nav Uni: "Screen Options" and "Help" appear inconsistently"
Some pages in the nav uni show the "Screen Options" setting tab and "Help" tab in the top-right corner of the page, but others do not.

### Steps to reproduce the behavior

Pages which don't show either of these two tabs:
* https://wordpress.com/home/
* https://wordpress.com/plans/
* https://wordpress.com/people/team/
* https://wordpress.com/posts/
* https://DOMAINCOM/wp-admin/admin.php?page=jetpa

[2021-02-25 23:30] timmyc commented on #45695
There is some existing logic in Jetpack that syncs various bits of data to the replica site: https://github.com/Automattic/jetpack/blob/master/projects/packages/sync/src/modules/class-woocommerce.php

Since WordPress.com stats are a Jetpack feature for Woo users, it makes sense that any defaults or logic around this should live in the Jetpack plugin.

[2021-02-25 23:35] xpurichan opened #50509 "WP Admin: "Help" tab should be removed"
Our "Help" tab in the top-right corner of the unified nav takes customers to https://wordpress.org/support/. In fact, the entire tab is focused on self-hosted and it would be best to remove or overhaul it entirely from WordPress.com-hosted websites.

### Steps to reproduce the behavior

1. Go to a page which shows the Help tab, such as https://DOMAINCOM/wp-admin/plugins.php (on Atomic) or https://

[2021-02-25 23:35] xpurichan commented on #50508
Semi related: https://github.com/Automattic/wp-calypso/issues/50509

[2021-02-25 23:35] xpurichan commented on #50509
Semi related: https://github.com/Automattic/wp-calypso/issues/50508

[2021-02-25 23:38] ollierozdarz commented on #49153
Good point, @razvanpapadopol. I think having this domain in the list is handy as well (+1 for bottom of list placement). My suggestion is to deselect it if the user has followed the same steps to reproduce as listed above, since this seems to be the confusion point.

[2021-02-25 23:41] worldomonation commented on #38651
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no activity on this issue in over a year.
With that said, a11y is something that should be emphasized at Automattic and so this issue should remain open.
Adding the `OSS Citizen` label and will investigate if there exists an a11y project or milestone that this issue can b

[2021-02-26 01:33] JoshuaGoode commented on #50288
Thanks for the report!

The Map block comes from Jetpack and it looks like we have an ongoing report over there at https://github.com/Automattic/jetpack/issues/17139

I'm going to close this issue in favor of that one.

If we see more user reports, let's log them over there.

[2021-02-26 01:34] JoshuaGoode commented on #50288
Highlighting that an alternative solution for now is to use Google Maps.  User can create custom maps with markers using Google My Maps: https://wordpress.com/support/google-maps/#embedding-a-custom-map

[2021-02-26 01:34] JoshuaGoode commented on #43930
The Map block comes from Jetpack and it looks like we have an ongoing report over there at https://github.com/Automattic/jetpack/issues/17139

I'm going to close this issue in favor of that one.

If we see more user reports, let's log them over there.

[2021-02-26 01:36] Lazza commented on #21246
This issue is still present and it would be great if it gets fixed.

[2021-02-26 01:37] #43930 closed

[2021-02-26 01:38] #50288 closed, assigned to nobody

[2021-02-26 04:28] kaitohm commented on #49729
User above (3763993-zd-woothemes) sent us some additional information.

- They experience the same issue on Safari on an iPad 2
- They DON'T experience the issue on their Samsung Galaxy, with Chrome

[2021-02-26 05:30] andrewserong commented on #48883
Update: it looks like Mapbox v2.1 might resolve the mShots rendering issue directly (I've added a comment in: https://github.com/Automattic/mShots/issues/30#issuecomment-786415902), however [Mapbox v2 drops IE11 support](https://docs.mapbox.com/mapbox-gl-js/api/#migrating-to-v2), which is a non-starter in Jetpack. So, I think our next best bet is to see about adding support for the [Mapbox Static

[2021-02-26 06:31] kristarella commented on #48111
I believe this was the issue in this ticket 3758637-zd

[2021-02-26 07:44] #34598 closed

[2021-02-26 07:45] #34390 closed

[2021-02-26 07:46] #33011 closed

[2021-02-26 08:01] razvanpapadopol opened #50513 "Domain Picker: unselect domain when clearing search query"
**Note**: This also applies to the Domain step in `/start` signup flow.
___

### Steps to reproduce the behavior

1. Go to `/new`
2. Enter a site title and click Continue
3. Select a domain
4. Clear search query

#### What I expected to happen
- When clearing the input field:
   - [ ] _Continue_ button to be replace with _Skip for now_ button
   - [ ] Previous selected domain to be unselected
   -

[2021-02-26 08:05] razvanpapadopol commented on #50513
@ollierozdarz, as mentioned in the description, this will fix also https://github.com/Automattic/wp-calypso/issues/49153
Also, please note that we'll fix this not only for the `/new` onboarding but also for Focused Launch.

[2021-02-26 08:07] jsnajdr commented on #25585
This was fixed in #45216.

[2021-02-26 08:07] #25585 closed

[2021-02-26 08:08] ivan-ottinger commented on #43505
Hey @cathymcbride, I just followed the steps and I cannot reproduce the issue anymore. I think we can close the issue.

[2021-02-26 08:28] flootr commented on #26621
Still relevant.

[2021-02-26 08:34] niranjan-uma-shankar commented on #50461
Here are my findings thus far:

1. The issue is stemming from the following line which sets a special redirect URL if the user is making an "in editor" purchase. It appears the intent is to get the editor page URL of the form `/page/{_site_slug_}/{page_id}` but  instead `window?.location.href` is taking the value `/checkout/{_site_slug_}#step2`. When the decline button is clicked on the upsell off

[2021-02-26 08:51] mmtr commented on #50451
Thanks for your report, @tmmbecker. This should be solved as of https://github.com/Automattic/jetpack/pull/18921 and https://github.com/Automattic/wp-calypso/pull/50444. If you try Jetpack 9.5 RC you should get a menu that is pretty much the same as the existing Calypso menu in the old navigation:

![](https://cln.sh/0LcXv4+)

Can you confirm? Feel free to reopen if you still reproduce any issue.

[2021-02-26 08:52] #50451 closed, assigned to nobody

[2021-02-26 08:54] yansern commented on #50461
@niranjan-uma-shankar I really appreciate the detailed digging. I'm going to start by fixing point 3 - where hitting Close button doesn't revert to the original route, and then see if that fixes point 4.

[2021-02-26 09:23] scruffian commented on #32403
There's still a lot to do here.

[2021-02-26 09:24] scruffian commented on #24136
This is still the case. I'm not sure what the plan with DevDocs is going forward.

[2021-02-26 09:24] sirreal commented on #35310
@noahtallen in case this fits with ETK related improvements.

[2021-02-26 09:27] #24866 closed

[2021-02-26 09:28] #24864 closed

[2021-02-26 09:28] #24865 closed

[2021-02-26 09:28] #24863 closed

[2021-02-26 09:31] #49285 closed, assigned to aneeshd16, ollierozdarz

[2021-02-26 09:34] razvanpapadopol commented on #50461
I believe point 3 was introduced by this change: https://github.com/Automattic/wp-calypso/pull/49440/files#diff-e02993c83d57a8f4e7f1626e2fd7bf965a47e26ac45cab6c2dd9bac2a49abc26

[2021-02-26 09:41] tyxla commented on #26156
Still relevant.

[2021-02-26 09:44] tyxla commented on #32306
Are we still using the checklist for Jetpack? cc @Automattic/jetpack-voyager to confirm if this still makes sense.

[2021-02-26 09:51] getdave commented on #50451
@tmmbecker I've also tested this as per your instructions using a fresh JN site.

Steps:

1. Create JN site.
2. Install JP Beta.
3. Activate Release Candidate (this pulls in latest changes - note there is nothing we can do to avoid you having to take this step - it's the only way we can have you test the latest features before they land on WoA)
4. Connect JP.

Doing this you should see something a

[2021-02-26 09:51] tyxla commented on #32248
I think we can close this since #33193 got shipped.

[2021-02-26 09:51] #32248 closed

[2021-02-26 09:52] tyxla commented on #26149
I think that could still be useful.

[2021-02-26 09:52] tyxla commented on #26155
I think that could still be useful.

[2021-02-26 09:52] tyxla commented on #26160
I think that could still be useful.

[2021-02-26 09:53] tyxla commented on #26159
I think that could still be useful.

[2021-02-26 09:53] tyxla commented on #31114
I think this is still valid.

[2021-02-26 09:53] tyxla commented on #31008
I think this could still be useful in the instances where we use the Jetpack Connect flow.

[2021-02-26 09:54] tyxla commented on #32249
Keeping open for now.

[2021-02-26 09:54] tyxla commented on #26157
Still a valid improvement.

[2021-02-26 09:56] tyxla commented on #26152
Still valid.

[2021-02-26 09:57] tyxla commented on #26158
Still valid.

[2021-02-26 09:57] tyxla commented on #26150
Still a valid one.

[2021-02-26 10:02] getdave commented on #50225
@monsieur-z That looks positive. Would you be able to check off the items under https://github.com/Automattic/wp-calypso/issues/50225 that this addresses? Thank you.

[2021-02-26 10:12] tyxla commented on #31670
These steps are already gone, closing.

[2021-02-26 10:12] #31670 closed

[2021-02-26 10:14] folletto commented on #33733
Closing per above discussion.

[2021-02-26 10:14] #33733 closed

[2021-02-26 10:21] tyxla commented on #26162
Would still be nice to have.

[2021-02-26 10:21] tyxla commented on #32167
Still valid IMHO. cc @Automattic/jetpack-voyager in case this is something they might want to consider.

[2021-02-26 10:22] tyxla commented on #26161
Still valid.

[2021-02-26 10:22] tyxla commented on #32060
I think this hasn't been addressed yet.

[2021-02-26 10:23] tyxla commented on #26153
Still valid.

[2021-02-26 10:24] tyxla commented on #32356
Still valid if we want to go that way.

[2021-02-26 10:30] getdave opened #50519 "Remove DotCom My Sites Dropdown when WP.com Toolbar enabled on Jetpack connected sites with Nav Unification"
Please see the very long thread here for context p1HpG7-bcl-p2#comment-44902.

When the `Enable the WordPress.com toolbar` setting is toggled "on" under JP settings on a self-hosted JP connected site then the WP.com toolbar replaces the WPAdmin toolbar. This causes a `My Sites` item to appear (top lef) which when clicked reveals a menu which doesn't match up with the unified nav or the unmodified

[2021-02-26 11:10] simison opened #50523 "Atomic sites don't have site setup checklist enabled at customer home"
When creating a new eCommerce site (either via /start or /new onboarding flows), the customer home looks like this:

<img width="1562" alt="Screenshot 2021-02-26 at 12 44 38" src="https://user-images.githubusercontent.com/87168/109292925-c2b15980-7833-11eb-87d0-21fc49ca1085.png">

Other sites have site-setup checklist, with clear indication how to launch their sites:

<img width="1540" alt="Screen

[2021-02-26 11:13] razvanpapadopol commented on #49679
This issue was fixed by removing the Language picker button from Modals in https://github.com/Automattic/wp-calypso/pull/49681

An improved route handling should be added when fixing https://github.com/Automattic/wp-calypso/issues/49360

[2021-02-26 11:13] #49679 closed, assigned to yansern

[2021-02-26 11:16] razvanpapadopol commented on #49987
Done in #50300

[2021-02-26 11:16] #49987 closed, assigned to nobody

[2021-02-26 11:31] niranjan-uma-shankar opened #50525 "Monthly pricing: Negative percentages in checkout"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/start and purchase a Premium monthly plan.
2. Next go to Calypso's /plans page and click on Upgrade on the Business plan
3. In the checkout page, click on "Edit".
4. See error

#### What I expected to happen

To see positive values for the discount percentages

#### What actually happened

Negative percentage values displayed

###

[2021-02-26 11:32] yansern commented on #50461
This PR fixes point 3:
- https://github.com/Automattic/wp-calypso/pull/50521

This PR fixes Decline button not working (would recommend waiting for https://github.com/Automattic/wp-calypso/pull/50521 to be merged).
- https://github.com/Automattic/wp-calypso/pull/50524

[2021-02-26 11:39] yansern commented on #40748
This is fixed in https://github.com/Automattic/wp-calypso/pull/48031 and https://github.com/Automattic/wp-calypso/pull/48399.

[2021-02-26 11:39] #40748 closed

[2021-02-26 11:52] yansern commented on #45273
IIRC the `isExperimental` flag was that it was used for enabling feature picker which is now enabled for all.
So this PR just cleans up the `isExperimental` flag. https://github.com/Automattic/wp-calypso/pull/50526

[2021-02-26 11:59] #50059 closed, assigned to mmtr

[2021-02-26 12:27] jeherve opened #50528 "WordPress.com Block Editor: existing from media modal causes js error"
### Steps to reproduce the behavior

1. Start from the WordPress.com block editor (`https://wordpress.com/post/xx`), for a WordPress.com or Jetpack site
2. Add a gallery block to the post.
3. Click to select media from the media library; the media modal appears.
4. Cancel to return to the post editor; you'll notice the following JS error, and you cannot toggle the media select options anymore:

[c

[2021-02-26 12:27] mmtr commented on #49177
Seems this is no longer reproducible?

![Feb-26-2021 13-25-41](https://user-images.githubusercontent.com/1233880/109299986-37859300-7836-11eb-90ff-b01539b1fe61.gif)

Please, feel free to re-open if needed.

[2021-02-26 12:27] #49177 closed, assigned to nobody

[2021-02-26 12:55] yansern commented on #41537
This phab patch D57741-code will fallback to blog name (which is sanitized) when blog title is invalid.
`<z,E``sRW|m9y5` becomes `zesrwm9y5`.

[2021-02-26 12:59] scruffian commented on #22419
Still relevant to the best of my knowledge

[2021-02-26 13:05] scruffian commented on #21037
Seems to be solved

[2021-02-26 13:05] #21037 closed

[2021-02-26 13:15] Aurorum commented on #36850
Still being worked on; it's just that changes are edited in an existing comment rather than mentioned in new ones.

[2021-02-26 13:36] simison commented on #38587
This needs to come up from the componentry level in the core and rest of Calypso first.

[2021-02-26 13:36] #38587 closed

[2021-02-26 13:45] robertbpugh commented on #34787
Closing this since we don't have a Personal plan anymore.

[2021-02-26 13:45] #34787 closed

[2021-02-26 13:46] simison commented on #37815
W logo is now a way out in the header during onboarding, as well as good-'ol browser back button.

[2021-02-26 13:46] #37815 closed

[2021-02-26 13:52] #37855 closed

[2021-02-26 14:08] monsieur-z commented on #50225
Should we wait for the patch to be deployed, @getdave?

[2021-02-26 14:17] kristastevens commented on #48839
Hi @jordesign, happy to review! Here are some thoughts:

We have a repeated phrase, "When it does" in three of the four text blocks above. Suggest changing that to "When it expires" for clarity.

This text block gives me pause. I have a concern because it feels pretty scary:

'When it does, you will lose plugins, themes, design customizations, and possibly some content. ' +
'To avoid that, turn au

[2021-02-26 14:24] monsieur-z commented on #32167
Recorded here: 1164141197617539-as-1199991542916123

[2021-02-26 14:37] razvanpapadopol commented on #50523
This may be something caused by the monthly plan renewal card showing up and not directly related to eCommerce plan. Have you tried also purchasing an annual eCommerce plan?

Related Slack thread: p1614084130027200-slack-CT1FP5D62

[2021-02-26 14:47] DavidRothstein commented on #50525
Hm, it seems to be using the discounted monthly price for comparison rather than the actual price -- i.e. for "One year" it's using 440 * 12 = 5280 as the price to compare, but it should actually be using 1050 * 12 = 12600.

This might be fixed as a side effect of https://github.com/Automattic/wp-calypso/pull/50383 (I'll leave a note there) but otherwise it's probably not too hard to fix separatel

[2021-02-26 14:55] JoshuaGoode opened #50532 "Atomic: "Launch" displaying on launched sites, causing update/publish issues"
It appears that some recent Launch changes are not properly detecting if a site is launched.  The issue appears while `WordPress.com Editing Toolkit 3.737` is active but it might be related to https://github.com/Automattic/wp-calypso/issues/50394

Users with actively launched sites are now seeing a Launch button on their posts and are having difficulties updating and publishing.

If a user clicks

[2021-02-26 14:57] JoshuaGoode commented on #50532
Encountered on 3776097-zen

[2021-02-26 14:58] monsieur-z commented on #32306
Talking with @Automattic/jetpack-design, it appears that the plan is to sunset the checklist, given its performance and what's going to be released in the short term.

[2021-02-26 14:58] zdenys commented on #50532
27952589-hc

[2021-02-26 15:00] monsieur-z commented on #32167
Actually it's safe to close this issue. The checklist is soon to be removed.

[2021-02-26 15:03] jartes commented on #50532
Had another one on 26381712-hc

[2021-02-26 15:04] tyxla commented on #32167
Good to know. Thanks! Will close.

[2021-02-26 15:04] #32167 closed

[2021-02-26 15:09] AtrumGeost commented on #50532
Related P2 post:

p9F6qB-6yt-p2

[2021-02-26 15:12] carladoria commented on #50532
reported in[ 28033786-hc ](28033786-hc)

[2021-02-26 15:23] aisajib commented on #50532
Just reported in 2906829-hc
Also in 28034255-hc

[2021-02-26 15:23] JoshuaGoode commented on #50532
Related to https://github.com/Automattic/wp-calypso/issues/50394 ?

[2021-02-26 15:25] desnum commented on #50532
Another case in 27385374-hc

[2021-02-26 15:39] ciampo opened #50534 "Monthly Plans: update Domain step copy across onboarding flows"
## What

The copy for the subtitle in onboarding flows plans step needs to be updated

## Why

Custom domains are not free for the first year when choosing a paid monthly-billed plan

## A/C

- [ ] The copy should be update from `Free for the first year with any paid plan.` to `Free for the first year with any annual plan.`
- [ ] This change should be applied to the following flows:
    - [ ] Gute

[2021-02-26 15:42] klimeryk commented on #50534
Thanks for working on this! Related mentions that we fixed recently in other flows: https://github.com/Automattic/wp-calypso/pull/50385

[2021-02-26 15:42] bayomio commented on #50532
Had a few reports via HC:

22154776-hc / 27250191-hc / 28033509-hc / 21858942-hc

[2021-02-26 15:43] bayomio commented on #50532
Had a few reports via HC:

22154776-hc
27250191-hc
28033509-hc
21858942-hc

[2021-02-26 15:44] ciampo commented on #50534
No worries @klimeryk ! I'm soon opening a PR to fix this

[2021-02-26 15:45] michaeldcain commented on #37269
The wording of that `/plans/` feature still says "Email & live chat support".

[2021-02-26 15:52] razvanpapadopol commented on #45273
We were using `?latest` query param when linking to Gutenboarding to prevent importing `lib/abtest` from Calypso to run experiments but now I believe we can import exPlat experiment function from a package and run as many experiments as needed 💃

[2021-02-26 15:55] razvanpapadopol commented on #47059
Done in https://github.com/Automattic/wp-calypso/pull/49251

[2021-02-26 15:55] #47059 closed

[2021-02-26 15:56] desnum commented on #50532
22225573-hc

[2021-02-26 16:00] razvanpapadopol commented on #49466
Bumping the priority to High in the context of upcoming Experiments that will increase the traffic in this flow.
Updated description with links to the latest investigations.

cc: @worldomonation

[2021-02-26 16:00] yansern commented on #50394
I'm reopening this issue as `\Private_Site\is_launched()` seems to still return true when an Atomic site is launched.
The Launch button is now disabled again on Atomic sites.

[2021-02-26 16:01] yansern commented on #50532
Reverted in 620-gh-Automattic/wpcomsh. It will be picked up by Atomic sites soon.

[2021-02-26 16:03] RealCarFax commented on #50532
Encountered in 11714463-hc and #28034810-hc

[2021-02-26 16:20] mattsherman commented on #50059
@psealock @mmtr Thanks for digging into this and arriving at a solution. Excellent! I have tested and verified this fix works well with WooCommerce 5.1 Beta 1 and the JP 9.5 release candidate on one of my test sites!

[2021-02-26 16:20] JoshuaGoode commented on #50532
619-gh-Automattic/wpcomsh has been deployed to Atomic.  The issue should now be resolved.

[2021-02-26 16:55] JoshuaGoode commented on #50532
Thanks, all.

I've updated the users that had follow-up tickets listed here and across the two P2s at p9F6qB-6yy-p2 and p9F6qB-6yt-p2

Closing this issue now.

[2021-02-26 16:55] #50532 closed, assigned to yansern

[2021-02-26 16:58] ciampo opened #50538 "Gutenboarding: "Components must be wrapped within `SlotFillProvider`" console warning"
This issue may need triaging, to confirm if the cause of the warning is also causing any other bugs

### Steps to reproduce the behavior

1. Run `yarn && yarn start` on your machine
2. Open `calypso.localhost:3000/new`
3. Notice the warning in the browser console

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.c

[2021-02-26 17:08] sirbrillig commented on #50432
I made https://github.com/Automattic/wp-calypso/pull/50540 to fix this. I'm not quite sure how to trigger the original bug but that PR _should_ make it impossible.

[2021-02-26 17:10] #42345 closed

[2021-02-26 17:23] noahtallen commented on #35310
Sure does 👍

[2021-02-26 17:26] noahtallen commented on #36379
This will be eventually resolved by @fullofcaffeine's new work on error reporting

[2021-02-26 17:27] razvanpapadopol opened #50541 "Focused Launch: remove Success View buttons when launching before /checkout redirect"
This is a light version of #50122 so we can improve UX right away and prevent user from dropping the flow too early.

**A/C**
- [ ] Remove action buttons from the Success view when the user is going to be redirected to `/checkout` (eCommerce plan is selected or Launch flow is displayed in wp-admin).

**Hint:** Here is the condition for launching before `/checkout`: https://github.com/Automattic/wp

[2021-02-26 17:27] #35033 closed

[2021-02-26 17:28] noahtallen commented on #35033
Fixed as part of deprecating the classic editor

[2021-02-26 17:43] mattwondra commented on #40870
@sixhours It looks like https://github.com/Automattic/wp-calypso/pull/48719 broke the styles for Sibyl on the Contact Form (the question/answer suggester to help customers answer their own questions before reaching out to us). See it by going to https://wordpress.com/help/contact and typing something like "css" into the message box. Here's a comparison of current production, vs the expected design

[2021-02-26 17:46] razvanpapadopol commented on #47798
Fixed in #48452

[2021-02-26 17:46] #47798 closed, assigned to razvanpapadopol

[2021-02-26 17:49] msilbers commented on #59396
issue reported in 3759469-zd

The customer is understandably upset that this theme has no font options, whether global styles or Customizer Fonts.

[2021-02-26 17:49] cpapazoglou commented on #50380
Related patch D57761-code

[2021-02-26 17:50] cpapazoglou commented on #50380
I still need to do some testing and write testing instructions.

[2021-02-26 18:00] #37185 closed

[2021-02-26 18:06] JoshuaGoode commented on #46664
Can test later today.  This issue was left open pending a Jetpack update to cover Atomic sites.

Appears to work fine on Simple. Need to double-check on Atomic but I suspect it's fixed since I haven't encountered a recent report.

[2021-02-26 18:07] JoshuaGoode commented on #46664
Specifically, https://github.com/Automattic/jetpack/pull/17795 was what we were waiting on.  So, this should be good.

[2021-02-26 18:14] #35937 closed

[2021-02-26 18:22] jeyip opened #50542 "Site Editor: Calypso site previews feel unintuitive"
## What
There seems to be a lot of friction around the calypso preview mode for the site editor. We currently use the gutenberg core preview mode for technical reasons. Jacopo describes the "why".

### Feedback Describing Confusion

### GIFs
#### Traditional Calypso Preview
![2021-02-26 10 24 30](https://user-images.githubusercontent.com/5414230/109339789-fe8cf480-781c-11eb-855e-0ffddaf151cc.gif)

[2021-02-26 18:39] sixhours commented on #40870
Sure, will take a look!

[2021-02-26 18:44] sixhours opened #50543 "Help: Fix styling for Sibyl on the Contact Form"
It looks like https://github.com/Automattic/wp-calypso/pull/48719 broke the styles for Sibyl on the Contact Form (the question/answer suggester to help customers answer their own questions before reaching out to us). See it by going to https://wordpress.com/help/contact and typing something like "css" into the message box. Here's a comparison of current production, vs the expected design:

<img wi

[2021-02-26 18:57] #42279 closed

[2021-02-26 19:07] #42277 closed

[2021-02-26 19:08] shaunandrews commented on #42276
The GIF in my original report is no longer relevant, but a quick run through the existing signup flow shows that its still impossible to navigate through with a keyboard.

[2021-02-26 19:11] #42274 closed

[2021-02-26 19:11] ianstewart commented on #50484
While there are likely a dozen different things we can do here, I can think of one quick MVP that may just be clean enough from a user perspective, which is to introduce some new logic based on whether or not a Block Theme is active.

- We'll remove the Create a Site menu task
- We'll point all URLs in the Home page task to the site editor

If a user switches to a Classic theme AND those items are

[2021-02-26 19:11] #42273 closed

[2021-02-26 19:17] obenland commented on #32648
This works as expected for me on an Atomic site with Twenty Twenty-One and Radcliffe 2 themes.

Please feel free to re-open with testing instructions if this is still reproducible for you.

[2021-02-26 19:19] obenland commented on #40069
With the new page templates layout project in progess (pbAok1-1Rg-p2), can this one be closed?

[2021-02-26 19:22] noahtallen commented on #34377
Just tested and this is still problematic.

[2021-02-26 19:22] obenland commented on #40719
This has been fixed.

[2021-02-26 19:22] #40719 closed

[2021-02-26 19:36] mdrovdahl commented on #37541
Take this stale issue bot.

[2021-02-26 19:50] JoshuaGoode commented on #46077
Encountered on 27504752-hc

[2021-02-26 20:09] jeyip opened #50544 "Site Editor: "Powered By WordPress" Footer Credit is removable"
The WordPress footer credit on full site editing enabled simple sites can be removed.

![2021-02-26 12 06 05](https://user-images.githubusercontent.com/5414230/109349841-68ac9600-782b-11eb-9f2e-40e69a1db379.gif)

### Steps to reproduce the behavior

1. Navigate to the site editor
2. Click on the WordPress footer credits in the footer template part
3. Remove the block
4. Save the changes
5. Verify

[2021-02-26 20:41] Robertght commented on #42052
Still a problem:

![image](https://user-images.githubusercontent.com/6737345/109352557-b2c16600-7883-11eb-82e8-37c01ddc1e06.png)

[2021-02-26 20:50] Aurorum commented on #41727
Still an issue - I looked into this a week or so again, but I couldn't add the capability to the Users endpoint of the API.

[2021-02-26 21:01] nicwinn commented on #34272
No traction on this?

[2021-02-26 21:15] worldomonation commented on #41709
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue has not had any activity within the last 10 months. As such, this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-26 21:15] #41709 closed

[2021-02-26 21:36] worldomonation opened #50546 "Flaky test: Basic Public Post"
[WPCOM] Calypso Gutenberg Editor: Posts (mobile) Basic Public Post @canary @parallel Publish a New Post Can publish and view content - Can publish and view content

### Error message

[code]

or

[code]

### Example failures

- https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/59653/workflows/0db25c64-011f-4494-b9c9-f5ea959256c0/jobs/144933/tests#failed-test-0
- https:

[2021-02-26 21:39] msilbers commented on #50304
This is now resolved, my earlier update was because I tested with a bad video. Both customers who reported this have the embeds working again as well.

[2021-02-26 21:39] #50304 closed, assigned to nobody

[2021-02-26 21:42] worldomonation opened #50547 "Flaky test: Launch"
[WPCOM] Launch (desktop) @signup @parallel Launch when having multiple sites "before all" hook: Create 2 free sites as a new user for "Can start launch flow and abandon" - "before all" hook: Create 2 free sites as a new user for "Can start launch flow and abandon"

### Error messages

single site
[code]

multiple sites
[code]

### Example failures

- https://app.circleci.com/pipelines/github/Autom

[2021-02-26 21:47] worldomonation commented on #50547
In general, this test tends to fail during the run-up to 00:00Z, so may have something to do with the signup limits.

Usually it is the hook that fails during the site creation.

[2021-02-26 21:55] worldomonation commented on #50547
The rewrite of this test was under way in #50411, but it ran into several issues:
- signup user a/b test: registering a new user to use for the launch test (in an isolated manner) caused A/B test of the launch screen to be applied to the user.
- behavior difference between CI and local: tests run sequentially when run locally; on CI, the test `Launch multiple sites` experienced issues running out

[2021-02-26 22:04] worldomonation commented on #50546
The issue seems to be that on mobile screensize, the last step in `can publish and view post` which is to click on the `Publish` button is failing.

[2021-02-26 22:42] mattsherman opened #50550 "Nav Unification: Blank menu item under WooCommerce menu item in admin menu"
### Steps to reproduce the behavior

With a JP site with WooCommerce 5.1 Beta 1 activated, and the new Woo Navigation enabled as well (see pbIJXs-Fz-p2 for instructions on how to set up a test site)...

1. Go to wordpress.com
4. See a blank menu item under the "WooCommerce" menu item in the admin menu

#### What I expected to happen

Only the "WooCommerce" menu item to be visible in the admin menu

[2021-02-26 22:44] katiebethbrown commented on #38807
Another one here 28041892-hc

User had a chargeback on initial Business plan, got their money back and bought a Premium plan a few months later and has been Atomic on Premium for just under a year.

[2021-02-26 22:55] mattsherman commented on #49209
I'm going to mark this issue as Closed, as the overall issue has been addressed and more specific issues are being created as needed. See pbIJXs-Fz-p2#comment-2186

[2021-02-26 22:55] #49209 closed, assigned to mattsherman

[2021-02-26 22:56] designsimply commented on #49086
Note: this issue was originally moved from the `wp-desktop` repo (which is no longer in use and `wp-calypso` is now where WPDesktop app issues should be filed) and today I noticed this issue is already on file at https://github.com/Automattic/wp-calypso/issues/48319 and so I am closing this one as a duplicate.

[2021-02-26 22:56] #49086 closed, assigned to nobody

[2021-02-26 22:56] mattsherman commented on #49229
I'm going to close this one, as I do not believe there anything specific to Jetpack that we need to address for WooCommerce.

/cc @getdave

[2021-02-26 22:56] #49229 closed, assigned to mattsherman

[2021-02-26 22:59] samiff opened #50551 "Plugins: Autoupdates toggle logic"
## What

Recently a [change](https://github.com/Automattic/jetpack/pull/18707) was merged (shipping in JP 9.6) to make sure that Jetpack endpoints were respecting plugin autoupdate constant/filters.

In the Calypso plugin management screens, for the `Autoupdates` toggles, only the `AUTOMATIC_UPDATER_DISABLED` constant is considered in regards to disabling/enabling the toggle it seems.

It'd be nic

[2021-02-26 23:06] designsimply commented on #48319
I re-tested this using a WordPress.com Simple site with WordPress.com Desktop v 6.11.0-beta1 and found the same problem is still happening for me.

My testing steps:

1. Open the WordPress.com for Desktop app using Windows.
1. Log in to your WordPress.com account.
1. Click the "Write" button in the top toolbar.
1. Error.

**Result:** an error appears in the app and a redirect link appears promptin

[2021-02-26 23:14] jeyip opened #50552 "Site Editor: As a newer user, it's difficult to understand the concept of templates and template parts in the navigation sidebar"
## What
This is less of a specific feature request. I noticed general confusion about the concepts of WordPress block-templates, template resolution, and block-template-parts, especially related to expected behavior from the navigation sidebar. I know Matias mentioned in the past that the first iteration of full site editing was geared towards theme developers, so this friction may be expected, bu

[2021-02-26 23:20] designsimply opened #50553 "Desktop App: link "Increase Your Site Traffic" in the (?) floating button on the Stats screne does not load"
Steps to reproduce:

1. Open the WordPress.com for Desktop app using Windows.
1. Log in to your WordPress.com account.
1. Go to Stats.
1. Click the (?) at bottom right.
1. Click the link "Increase Your Site Traffic".
1. Click the Read More button.
1. Observe the resulting pop-up is empty.
1. Click the "Visit article" button.
1. Observe that the link is redirected once the article is opened in a br

[2021-02-26 23:42] kaitohm commented on #34002
We have more information from 3741014-zd-woothemes

- [Linkedin Post Inspector](https://www.linkedin.com/post-inspector/) shows the correct title.
- The og:title in the code is correct
- Yet, the custom message is showed in Linkedin
- This happens with scheduled posts (at least)

[2021-02-27 00:01] Addison-Stavlo commented on #50500
It looks like we do **something** to make the image block behave this way on dotcom (on core it has the same 'media library' button as Site Logo does above).  I wonder if this is less 'needs design' and more that we just need to implement the same override for Site Logo's 'media library' button as we do for the Image block's (not yet certain where we do this).

[2021-02-27 00:03] obenland commented on #50501
I wonder if this happens because we remove the Dashboard submenu item

[2021-02-27 00:09] Addison-Stavlo opened #50554 "FSE site creation flow - design previews too small in scope"
When choosing a layout in the onboarding flow, the thumbnails do not give much of a preview of the themes/layouts:
![Screen Shot 2021-02-26 at 7 06 08 PM](https://user-images.githubusercontent.com/28742426/109368106-fad19000-7865-11eb-9859-bd4a30533366.png)

Adding a link to the preview site could allow the user to get a better picture of the theme if necessary.

[2021-02-27 00:27] Addison-Stavlo commented on #50277
I also reproduced this by clicking the "+" inside the navigation block to add a new item, then clicking somewhere else inside the template part to deselect it while the quick inserter popover was still present.

[2021-02-27 00:56] Addison-Stavlo opened #50555 "Navigation block - differing alignment between automatically added and manually added links."
When we add a navigation block and select "add all pages":

![Screen Shot 2021-02-26 at 7 52 04 PM](https://user-images.githubusercontent.com/28742426/109369943-720a2280-786c-11eb-9396-38de36958198.png)

The items that are added automatically (left) have a different vertical alignment than items manually added by the "+" icon / "page link" flows (right):

![Screen Shot 2021-02-26 at 7 52 17 PM](ht

[2021-02-27 01:21] Addison-Stavlo commented on #50445
Being that "Home" is a very common name for a Page that exists on most users sites, and that one can navigate through pages in this nav panel, wouldn't renaming 'Dashboard' to 'Home' in this panel potentially create confusion between calypso Home and the users Home page in the editor?  'Dashboard' may be more representative and less potentially confusing.

[2021-02-27 01:24] Addison-Stavlo commented on #50552
Received other feedback regarding this.  A user selected a 'template' expecting their current page to be rendered in that template.  The user was then confused about why they 'lost their content'

[2021-02-27 01:42] sirbrillig commented on #43167
Total savings is not being used currently.

[2021-02-27 01:42] #43167 closed

[2021-02-27 01:54] Addison-Stavlo opened #50556 "FSE - Global Styles - "Text Color" resets on save."
In the site editor when we select a new "Text Color" global styles:
![Screen Shot 2021-02-26 at 8 53 46 PM](https://user-images.githubusercontent.com/28742426/109371848-bac5d980-7874-11eb-8083-49bd9f2bfb2b.png)

The text color updates accordingly on the editor.  However, on save this resets and the text returns to its default color.

This doesn't seem to happen on my local core install.

[2021-02-27 02:00] jeyip commented on #50500
I like your suggestion because it would require less discussion and time investment (especially nice since we already have so many other things to focus on for FSE) One concern that I'll call out is that the issues with Pexel discoverability and affordances would still exist when accessing the media library from the wp admin sidebar, but I think it's fine to avoid going down that rabbit hole for n

[2021-02-27 02:14] kaitohm opened #50557 "Help bubble distracting in wp-admin on mobile browser"
We recently started showing the question mark help bubble in wp-admin. (https://github.com/Automattic/wp-calypso/issues/50271) The user finds this distracting when working from a browser on mobile, and would like a way to hide it.

**Additional context**
Requested here: 3776245-zd-woothemes

![Screenshot_20210226-104418](https://user-images.githubusercontent.com/1398304/111004512-0c269c00-833e-11e

[2021-02-27 03:17] kosiew opened #50558 "eCommerce plan site downgraded to Free site, blog address remains as xxxx.wpcomstaging.com"
### Steps to reproduce the behavior
Could not reproduce.

This happened in #3775834-zen and was [discussed here](p1614373413060000/1614372648.059400-slack-C02DQP0FP)

BRC blog_id =182818982

#### What I expected to happen
Blog address changes to xxx.wordpress.com

#### What actually happened
Blog address changes to xxx.wpcomstaging.com

#### Is this specific to the applied theme? Which one?
n/a

#

[2021-02-27 03:32] noteeth opened #50559 "customizer: Menu add page button display issue on Firefox"
### Steps to reproduce the behavior

1. Access calypso from Firefox browser
2. Open customizer > Menu > Primary Menu > Add Item
3. When the options drawer slides out, the "+ Add" button is missing right side padding

#### What I expected to happen
Expected padding to the right of the button
#### What actually happened

### Context

#### Browser / OS version
Firefox 85.0.2 / Big Sure 11.2.1
#### Is

[2021-02-27 04:44] wpshellbelle commented on #36274
Another reported in 3758977-zen

[2021-02-27 05:05] kosiew opened #50560 "Anchor: Newly-published posts are not added to the podcast."
### Steps to reproduce the behavior

1. Publish a new post
2. Click on Create a podcast episode
![Screenshot](https://d.pr/i/4X3vpu+)
*if image does not load, please click on this link  : https://d.pr/i/4X3vpu*
3. https://anchor.fm/dashboard/episodes did not create a new podcast
![Screenshot](https://d.pr/i/yKKitE+)
*if image does not load, please click on this link  : https://d.pr/i/yKKitE*

####

[2021-02-27 06:15] kosiew commented on #50560
This is due to lag at Anchor.fm in detecting newly published posts. p1614406120110700/1614349262.095000-slack-C01FD4FGD7X

[2021-02-27 06:25] kosiew commented on #50560
Pending discussion with Anchor to investigate the lag: p1614407086114000/1614349262.095000-slack-C01FD4FGD7X

[2021-02-27 06:32] yansern commented on #45273
Thanks for the context!

[2021-02-27 07:25] galakhyati opened #50562 "Nav Unification: Jetpack Plan showing on WordPress.com Plan site"
### Steps to reproduce the behavior

1. Go to WordPress.com > Upgrades > Plans > My Plan page, it shows it is on the Business plan. Screenshot:
![Annotation on 2021-02-27 at 12-40-44](https://user-images.githubusercontent.com/7382505/109378512-2c476b80-78f9-11eb-8f76-284e2d2f08d2.png)

2. Now if I go to WordPress.com > Jetpack > Dashboard > Plan > My Plan page on the same site, it shows Jetpack Pr

[2021-02-27 07:42] galakhyati commented on #49568
The same issue applies for Appearance > Header, Background, Widgets, Menu, Edit CSS, and AMP sections.

[2021-02-27 10:31] Aurorum commented on #44780
I updated the PR last week - it just needs merging now.

[2021-02-27 11:50] zdenys commented on #39424
Today I had a user in 28024183-hc who somehow got 3 sites created when they tried to upgrade to eCommerce plan. They were indeed confused by it. So the issue is still happening.

They don't remember exactly, but possibly they clicked back when they were at checkout.

[2021-02-27 13:11] Aurorum commented on #41446
Can no longer reproduce.

[2021-02-27 13:11] #41446 closed

[2021-02-27 14:36] simison commented on #50562
I wouldn't expect Jetpack dashboard being visible on any .com sites (Atomic nor simple) to begin with.

[2021-02-27 16:08] tbradsha commented on #45127
27487083-hc

[2021-02-27 17:00] #43427 closed

[2021-02-27 20:43] tbradsha opened #50563 "Show current plan in navigation"
**What**
Calypso currently shows the plan type in the navigation:
![image](https://user-images.githubusercontent.com/32492176/109399673-77fe1300-7901-11eb-88aa-a080a18d3af0.png)

It'd be great to have this post Nav Unification.

**Why**
Users often get confused about what site they've purchased a plan on or what plan their current site is on. It's nice to have a visual cue without an extra click.

[2021-02-27 20:50] tbradsha opened #50564 "Nav Unification: Set current site when navigating from wp-admin to Calypso"
**What**
When using Nav Unification, there's an Account Settings menu item (yay!). Clicking on it, however, throws an unsuspecting user to a page with a completely different nav. It'd be nice if there was a "Back to site" link in the `/me` nav.

**Why**
This would make it clear how to get back to the menu they were just on.

[2021-02-27 21:09] tbradsha opened #50565 "No way to access /wp-admin/profile.php on Simple sites"
### Steps to reproduce the behavior

Visit `/wp-admin/profile.php` on a Simple site.

#### What I expected to happen

I should have access to the WP Admin profile page.

#### What actually happened

I'm redirected to `/wp-admin/users.php?page=grofiles-editor` and get this error:

![image](https://user-images.githubusercontent.com/32492176/109400275-10e25d80-7905-11eb-9d8d-5bfa8c5aa30e.png)

#### C

[2021-02-27 21:10] tbradsha opened #50566 "Remove "Account Settings" from Nav Unification menu"
**What**
Both "My Profile" and "Account Settings" are in the Users menu. It's quite ambiguous what the difference is without clicking:
![image](https://user-images.githubusercontent.com/32492176/109400021-82211100-7903-11eb-8074-1167f721d9af.png)

If one is to keep both, I'd at least expect "Profile" to go to WP Admin (which happens to be inaccessible now on Simple sites per #50565).

**Why**
This

[2021-02-27 21:18] tbradsha opened #50567 "Nav: Add "Tools" landing page"
**What**
When one clicks on the "Tools" top level menu in Nav Unification, the default page is "Marketing and Integrations", which is only a subset of the many tools available. Instead, it should go to a Tools landing page.

**Why**
Clicking a top-level menu and ending up on a page that is only a minor item of the parent menu item is unintuitive.

[2021-02-27 21:23] tbradsha opened #50568 "Remove redundant/duplicate Categories link in nav"
### Steps to reproduce the behavior

* Posts → Categories goes to the WP Admin version, and *Settings → Writing → Categories* goes to the Calypso version

#### What I expected to happen
Either the Calypso version OR the WP Admin version of a page should show, and only one route should be visible (decided by the Account Settings toggle).

#### What actually happened
There are several place where th

[2021-02-27 21:29] tbradsha opened #50569 "Add Custom CSS submenu item to Appearance nav"
**What**
It'd be great to have a direct link to Custom CSS in the navigation.

**Why**
This is a popular feature and would require one less click via the Customizer. It also would raise awareness to the fact we do have Custom CSS features at WordPress.com, and is quick-win upsell opportunity (the upsell notice already exists in the Customizer).

[2021-02-27 21:41] tbradsha opened #50570 "No way to access Plugin or Theme Editor from nav"
#### What I expected to happen

The Plugins menu should have the "Plugin Editor" feature:

![image](https://user-images.githubusercontent.com/32492176/109400996-4721dc00-7909-11eb-8c99-ad78a0699daf.png)

The Appearance menu should have the "Theme Editor" feature:

![image](https://user-images.githubusercontent.com/32492176/109401048-98ca6680-7909-11eb-90b7-a3c9a6bf336e.png)

### Context

It's comm

[2021-02-27 21:43] tbradsha commented on #50570
See also Automattic/jetpack#18917; the plugin submenu portion of the issue may be resolved in Jetpack 9.5.

[2021-02-27 21:58] vindl commented on #39927
This issue is still relevant since we are not ready to perform the migration yet.

[2021-02-28 04:55] joweber123 commented on #47643
Reported 3777397-zen

[2021-02-28 07:54] #38701 closed

[2021-02-28 09:03] Nic-Sevic commented on #47992
this seems to be happening again here with a twist: 3775860-zen
sharing isn't showing regardless of whether official buttons or not; also buttons are not showing on live site, preview, or in the calypso settings
On Hever theme and I can replicate on test site

[2021-02-28 11:02] inaikem opened #50571 "Image Block: Let's add a lightbox option without the need for extra plugins"
### What
I'd love to see a lightbox option for single Image Block that does not rely on a third party plugins present.

### Why
Speaking from the heart, it would be amazing. Speaking from the head, adding a lightbox option to the Image Block would make interaction with single images consistent with the Gallery, Tiled Gallery, Masonry, Collage, etc., blocks.

While the Tiled Gallery and others coul

[2021-02-28 12:33] inaikem opened #50572 "Gallery Block: Truncate/clamp long image captions"
### What/Why
Long image captions can obscure images displayed in the Gallery Block on all devices. I'd like us to consider truncating/clamping them to X number of lines instead.

Example of current display using only 70 characters in the image caption:

![](https://d.pr/i/Zi95as+)
[Can't see the image? Click this direct link.](https://d.pr/i/Zi95as)

&nbsp;
Truncating the captions in CSS/JS to two

[2021-02-28 12:42] inaikem opened #50573 "Tiled Gallery Block: Revisiting image thumbnails/quality on the Tiled gallery block"
**Note:** I'm not 100% sure if this is a feature request or a bug request. Adding as the former and requesting review.

### What
The Tiled Gallery, represents images "inside"t the gallery with smaller thumbnail (much smaller in some cases). This results in a sub-optimal experience for readers when these galleries contain small numbers of images, or when images are arranged as such that a large (th

[2021-02-28 19:18] xpurichan commented on #48511
I experienced this with a customer using the Cover block today. On the "attempt block recovery" prompt I would click the dots icon adjacent to it and then use the "resolve" button instead:
![Screen Shot 2021-02-28 at 1 46 13 PM](https://user-images.githubusercontent.com/33190975/109430374-b4e00d80-79c6-11eb-8d7a-1a211b6229f4.jpg)

By doing this it helped me identify the broken code and see how the

[2021-02-28 19:18] DanReyLop commented on #43187
The issue is still valid. I'll try to get these WooDNA issues prioritized on one of our next sprints.

[2021-02-28 19:19] DanReyLop commented on #43573
The issue is still valid. I'll try to get these WooDNA issues prioritized on one of our next sprints.

[2021-02-28 19:19] DanReyLop commented on #43576
The issue is still valid. I'll try to get these WooDNA issues prioritized on one of our next sprints.

[2021-02-28 21:12] simison commented on #42186
This has been since sorted out, and there's "X" to close checkout now. cc @razvanpapadopol

[2021-02-28 21:12] #42186 closed

[2021-02-28 21:56] xpurichan opened #50574 "Pay with Paypal block: Configuration error Error:SP17 when trying to check out."
### Summary

We are intermittently getting various checkout issues when using the Pay with Paypal block. Similar reports can be found in the comment sections of this completed GH escalation:

* https://github.com/Automattic/wp-calypso/issues/48647#issuecomment-754028972
* https://github.com/Automattic/wp-calypso/issues/48647#issuecomment-754061660

In this case the user intermittently gets the fol

[2021-02-28 21:58] xpurichan commented on #50574
Also noting that the error number appears to change. The error that the user received in their attempt was:

`We are sorry, there was a configuration problem. Please contact the site owner. Error:SP17`

[2021-02-28 22:10] happychait commented on #49666
Another user encountered this in 3780773-zen

[2021-02-28 23:59] andrewserong commented on #41388
Closing now, as the design step is considerably different than when this issue was initially raised.

[2021-02-28 23:59] #41388 closed

[2021-03-01 00:26] devNigel commented on #36274
Another report 3781399-zen

[2021-03-01 00:44] happychait commented on #44734
28027199-hc

[2021-03-01 00:54] andrewserong commented on #41387
Closing, as we no longer have an intent gathering (verticals) step.

[2021-03-01 00:54] #41387 closed

[2021-03-01 01:27] #44780 closed

[2021-03-01 02:26] creativecoder commented on #23937
Long lists of users still seem to be a problem in my testing just now.

[2021-03-01 02:33] creativecoder commented on #26071
No change, this is still relevant to our podcasting feature.

[2021-03-01 02:33] creativecoder commented on #26072
Still relevant.

[2021-03-01 02:34] creativecoder commented on #26512
I believe this is resolved by https://github.com/Automattic/wp-calypso/pull/48213

[2021-03-01 02:34] #26512 closed

[2021-03-01 02:36] creativecoder commented on #26745
Resolved by https://github.com/Automattic/wp-calypso/pull/27202

[2021-03-01 02:36] #26745 closed

[2021-03-01 02:44] creativecoder commented on #26749
I'm pretty sure there is still cleanup to be done here, but the code has changed enough that these specific references aren't relevant anymore.

[2021-03-01 02:44] #26749 closed

[2021-03-01 02:46] creativecoder commented on #26803
<img width="1468" alt="image" src="https://user-images.githubusercontent.com/1699996/109445798-03f96300-7a06-11eb-960e-51ddd7188bf1.png">

This has been resolved.

[2021-03-01 02:46] #26803 closed

[2021-03-01 02:47] creativecoder commented on #27957
I'm pretty sure this is still an issue.

[2021-03-01 02:49] creativecoder commented on #28694
This is still an issue.

[2021-03-01 03:03] creativecoder commented on #37623
Still an issue, though the problem now is that the upgrade nudge needs to be removed for multisite installs. After clicking the upgrade nudge on the premium themes page, I see the following error and am unable to upgrade.

<img width="1161" alt="Screen Shot 2021-02-28 at 21 01 37" src="https://user-images.githubusercontent.com/1699996/109446959-4a4fc180-7a08-11eb-8be0-ce1e2abf8d71.png">

[2021-03-01 04:57] alaczek opened #50575 "FSE/Global Styles: Background color resets on save."
When I select the background color for the root element in Global Styles, first it takes a second to switch the background color in the editor, and then when I Update & Save, the background color is back to white. This might be related to #50556.

### Steps to reproduce the behavior

1. On a site with site editor enabled open the global styles tab.
2. Scroll to the background color section and sel

[2021-03-01 05:22] autumnfjeld commented on #48704
Fantastic @noahtallen !!  Thanks for taking the time to check it out.  🥇

[2021-03-01 05:36] ollierozdarz commented on #45038
@ianstewart @olaolusoga @simison we've chatted about getting categories into Gutenboarding at some time or another over the past months. The reminder above seems like a good time to just try to make it happen. In my mind, the implementation (at least to start off) would just be a short and punchy list which wouldn't require descriptions.

[2021-03-01 06:31] simranvijwani commented on #50560
The user reported that the posts aren't converting to podcasts. They see the error `Error connecting to WordPress` on Anchor's site.
![image](https://user-images.githubusercontent.com/34896144/109459881-a86eba00-7a85-11eb-9f7c-c68ab8033a46.png)

Reported in: #28033743-hc
Follow up in: #3775945-zen

[2021-03-01 06:44] donalirl commented on #36274
Another case of this in #3780514-zen, pertaining to scheduled posts. What happens:

1. They schedule the post, and the error appears: `Scheduling failed. Sorry, you are not allowed to assign the provided terms`
2. They are able to go back and schedule the post after attempting again.
3. The post is scheduled, but the email notification already went out to their followers about the post that was su

[2021-03-01 06:45] donalirl commented on #36274
Another case of this in #3780514-zen, pertaining to scheduled posts. What happens:

1. They schedule the post, and the error appears: `Scheduling failed. Sorry, you are not allowed to assign the provided terms`
2. They are able to go back and schedule the post after attempting again.
3. The post is scheduled, but the email notification already went out to their followers about the post that was su

[2021-03-01 07:00] kosiew opened #50577 "SyntaxHighlighter Code Block - long lines distorts line numbers"
### Steps to reproduce the behavior

1. Add a new SyntaxHighlighter Code Block
2. Add this Bash code:

[code]

3. In block settings, highlight 1,5,8

   ![Screenshot](https://uploads.linear.app/f629fcde-6f9b-48e8-8af3-60eed8823bff/aeef57a5-15dd-4844-b3b7-3e5f801d6951/60acee7a-5317-4b48-ba3d-26e32914eccc?signature=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXRoIjoiL2Y2MjlmY2RlLTZmOWItNDhlOC04YWYzLTYw

[2021-03-01 07:02] kosiew commented on #50577
#3781380-zen

[2021-03-01 07:14] unDemian commented on #43592
We didn't get the chance to focus on Reader improvements yet, hopefully that day will come soon.

[2021-03-01 07:15] unDemian commented on #43027
We didn't get the chance to focus on Reader improvements yet, hopefully that day will come soon.

[2021-03-01 08:08] ivan-ottinger commented on #43612
I tried to reproduce the issue (on both - individual checkbox items and Checkbox Group) and it seems to be fixed already.

[2021-03-01 08:08] #43612 closed

[2021-03-01 08:58] #42758 closed

[2021-03-01 09:00] fylgjur commented on #45114
This is no longer happening for me now, so I'm closing, although it happened for a good six weeks or so after my onboarding. I'm afraid I can't say for sure when it stopped happening!

[2021-03-01 09:00] #45114 closed

[2021-03-01 09:09] ciampo commented on #50461
@razvanpapadopol @yansern Can this issue be considered fixed? It looks like both #50521 and #50524 have been merged

[2021-03-01 09:22] #42512 closed

[2021-03-01 09:22] tyxla commented on #45246
Likely still happening, keeping open.

[2021-03-01 09:29] yansern commented on #50461
Yes with both merged this is considered fixed. Closing issue!

[2021-03-01 09:29] #50461 closed, assigned to yansern

[2021-03-01 09:30] martynmjones commented on #42232
Had a similar issue in 27044296-hc

- Permalink was generated properly from post title when adding a new post
- User can't then change the slug it just reverts to either numbers or the previous slug

On a testing site I wasn't able to change the slug before publishing either it would revert to the post ID

[2021-03-01 09:49] simison commented on #50523
@razvanpapadopol for eCommerce plan the checklist is hidden also with annual plans:

<img width="1665" alt="Screenshot 2021-03-01 at 11 47 58" src="https://user-images.githubusercontent.com/87168/109480352-17e3aa00-7a84-11eb-9833-82b5307e1919.png">

[2021-03-01 09:54] razvanpapadopol opened #50578 "Domain Picker: "Recommended" badge is breaking on mobile"
### Steps to reproduce the behavior

1. Go to `/new` on mobile
2. Advance to domain step and check out search results

#### What I expected to happen
"Recommended" badge to be displayed on a single line

#### What actually happened
The badge is split into two lines

### Context
This is most likely happening because of the `flex-grow: 1` declaration on `.domain-picker__price` that shouldn't be appl

[2021-03-01 10:22] getdave commented on #49568
Is this an existing issue or one introduced by Nav Unification?

[2021-03-01 10:24] cpapazoglou commented on #49568
It's introduced by Nav Unification, prior to this feature a `return` query string was passed along `/wp-admin/customize.php?return=[RETURN_URL]`

[2021-03-01 10:27] jsnajdr commented on #42836
This issue is now more relevant than ever 🙂 Gutenberg now has `@wordpress/i18n` and `@wordpress/react-i18n` packages published, with all the features and React bindings that are needed to replace `i18n-calypso` and the `@automattic/react-i18n` library. The infrastructure for porting Calypso completely to `@wordpress/i18n` and deprecate `i18n-calypso` is ready.

[2021-03-01 10:59] mmtr commented on #50217
According to the "Unified Nav Proposal" internal spreadsheet, these pages were intentionally marked to be removed from the menu, although screens are still accessible.

[2021-03-01 11:11] mmtr commented on #50501
It's because the Updates submenu appears in first place. We should ensure "My Home" it's the first submenu.

[2021-03-01 11:13] simison commented on #49706
@autumnfjeld since this is closely related to editor guidance, I added this to Ganon UX issues backlog.

[2021-03-01 11:15] #43939 closed

[2021-03-01 11:21] mmtr commented on #50507
I wonder if we should label them differently to make clear their purpose?

cc @mattsherman @obenland

[2021-03-01 11:27] mmtr commented on #50509
Thanks for reporting this, @xpurichan. I reproduced the issue with nav unification disabled (using my non-a8c account) so it seems this is not related to that feature.

[2021-03-01 11:33] mtias commented on #43568
I believe this is addressed now.

[2021-03-01 11:33] #43568 closed

[2021-03-01 11:39] getdave commented on #50202
It is at https://wordpress.com/me/account.

[2021-03-01 11:39] klimeryk commented on #50050
Backend patch merged - now `*.wpcomstaging.com` subdomains will be treated like free WPCOM subdomains, meaning a new custom domain will be able to override them automatically as a primary domain 🎉
Please let me know if you encounter any new instances of this issue (or notice any regressions) 🙇

[2021-03-01 11:39] #50050 closed, assigned to klimeryk

[2021-03-01 11:40] tjcafferkey commented on #50202
@getdave do we have a support link for the "Learn more"?

[2021-03-01 11:47] Aurorum commented on #50202
Yes, sorry, the support page is what I was referring to as opposed to the one in the screenshot.

[2021-03-01 12:08] jsnajdr commented on #47659
I see! It's not that just the `SameSite=None` attribute on a non-secure cookie is ignored. The entire cookie would be rejected.

I filed a HTTPS Everywhere bug: https://github.com/EFForg/https-everywhere/issues/19954 Let's see if we get a response and if anything can be done about that.

That looks like an interesting approach. Is there still any unencrypted HTTP traffic to WordPress.com these day

[2021-03-01 12:15] #49453 closed, assigned to mmtr

[2021-03-01 12:19] liviopv opened #50579 "Group Block: CSS Classes get added repeatedly when in the Code Editor"
### Steps to reproduce the behavior

On an Atomic site:
1. Add a Group Block to a post or page
2. Add a custom CSS class to the block from the "Advanced" section
3. Switch from Visual Editor to Code Editor
4. The custom CSS class will be added multiple times, indefinitely

#### What I expected to happen

It should only be added once

#### What actually happened

It seems the action to add the clas

[2021-03-01 13:31] mattgawarecki commented on #43749
Apologies for not following up here. This issue was fixed as of Jetpack v8.9, via the PR Automattic/jetpack#16702. @anaemnesis Can we re-test and close if appropriate?

[2021-03-01 13:39] geekinthegirl commented on #46802
Just had another case here: 26709912-hc

[2021-03-01 13:43] scinos commented on #40796
Already fixed in `trunk`

[2021-03-01 13:43] #40796 closed

[2021-03-01 13:44] razvanpapadopol commented on #42123
From what I can see, we're now showing the domain hint when it's available on every device. cc: @ollierozdarz to be aware of some of the history behind this piece of UI.

[2021-03-01 13:44] #42123 closed

[2021-03-01 13:53] davipontesblog commented on #36274
@cathymcbride I'd like to suggest we raise the priority on this one due to volume and the fact that it's a blocker when users are trying to publish new content. What do you think?

[2021-03-01 14:18] niranjan-uma-shankar commented on #45246
We'll keep this open till we decide next steps for registrationless checkout, the discussion for which is posted in in  pau2Xa-2JW-p2.

[2021-03-01 14:36] getdave commented on #50202
No not available yet I'm afraid. Just FYI, I'm going to tackle this task now.

[2021-03-01 14:44] kriskarkoski commented on #50574
I think I have another case of this in 3780803-zd-woothemes

This site is Simple and the issue is also intermittent, affecting different blocks at different times (sometimes all are broken, sometimes just specific ones seemingly at random). On this one I was not seeing a visible error message, just the PayPal popup appearing and disappearing, but the console errors were similar for checkout.js

![

[2021-03-01 14:50] getdave commented on #50202
@sfougnier I prepared a PR but we won't have the link to support docs until after launch (see p2rHU0-P9-p2#comment-2647). Therefore I will remove the link and we can follow up once the docs are available.

[2021-03-01 14:51] tjcafferkey commented on #50490
The issue here is that MailPoet is [filtering out all stylesheets](https://plugins.trac.wordpress.org/browser/mailpoet/trunk/lib/Util/ConflictResolver.php#L81) unless they're their own, coming from WP core or various other [_allowed_ sources](https://plugins.trac.wordpress.org/browser/mailpoet/trunk/lib/Util/ConflictResolver.php#L11).

In this case we're loading in the nav unification styles throu

[2021-03-01 14:52] yansern commented on #41537
Deployed.

[2021-03-01 14:52] #41537 closed

[2021-03-01 14:53] yansern commented on #45273
PR https://github.com/Automattic/wp-calypso/pull/50526 is merged.

[2021-03-01 14:53] #45273 closed

[2021-03-01 14:54] ciampo opened #50590 "Purchases: untranslated strings in subscription removal dialog"
### Steps to reproduce the behavior

1. Set your WordPress.com account to a different locale from English
2. Go to `/me/purchases`
3. Click on a plan that you want to remove
4. Follow the instructions in the dialog
5. Notice how the main CTA button text (`Remove it` and `Removing`) is not translated in the current locale

#### What I expected to happen

All text should be translated

#### What act

[2021-03-01 14:59] cathymcbride commented on #50439
Yes. I was thinking it would be one or the other, but it seems to be both. :) Would this be appropriate for the view backlog?

[2021-03-01 15:15] #50334 closed, assigned to nobody

[2021-03-01 15:20] cathymcbride commented on #50579
@liviopv can you add the custom css you reproed this with please?

[2021-03-01 15:26] getdave commented on #50225
Yes please. Is it landing soon?

[2021-03-01 15:26] liviopv commented on #50579
@cathymcbride I added a dummy css class on my test, `css-class`. The user had a few different classes, `nomobilepadding`, `smallpadding`, `mediumpadding`. The class itself doesn't seem to matter, it's just the usage of a class in the Group Block + switching to Code Editor.

I also tested other blocks with parent/child relationships like Columns, but I was not able to reproduce on them, so it seems

[2021-03-01 15:28] cathymcbride commented on #50579
@liviopv I was just coming back to say I see it! And you answered my question already about other blocks! Thank you!

[2021-03-01 15:35] cathymcbride commented on #50579
And thank you for adding a video!

[2021-03-01 15:40] obenland commented on #50507
I think that'll be a problem we'll run into eventually regardless of what we'll do in this instance. I could imagine a Google Analytics plugin registering an "Analytics" menu item or a forms plugin adding a "Feedback" menu item.

While it's not great, the Marketing menu item is grouped with WooCommerce which adds at least a little bit of separation. How would you feel about leaving it as is?

@sfo

[2021-03-01 15:51] mattsherman commented on #50507
The WooCommerce "Marketing" item, as @obenland mentions, is grouped with the "WooCommerce" item. It also will be going away in the near future, once Woo Navigation is enabled for all customers (it already is by default for eCommerce customers) -- in that environment, there is only the single "WooCommerce" item.

I would vote for leaving the WooCommerce "Marketing" item as is for now.

This is a la

[2021-03-01 16:18] getdave commented on #50550
I replicated this. Doesn't happen in WPAdmin, only Calypso. Where does Woo register menus like this for the "new menu" experience?

[2021-03-01 16:25] kwight commented on #22421
I don't believe Trampoline is an actively developed thing any more, and almost (if not all) signup is going through Gutenboarding, which consistently drops users into the editor with the homepage loaded.

[2021-03-01 16:25] #22421 closed

[2021-03-01 16:29] kwight commented on #46302
Hi @Aurorum ! Are you still interested in pursuing your existing PR for this?

[2021-03-01 16:30] Aurorum commented on #46302
Aaah, sorry, I completely forgot about this! I'll take a look at it again today.

Edit: should be ready now!

[2021-03-01 16:31] Nic-Sevic opened #50592 "Embed block: Video embeds show no preview in editor"
### Steps to reproduce the behavior

1. Go to any site that supports embed block
2. Paste a link to a video (example: https://www.life-science.it/it/File/Video/Prometheus.mp4)
3. Add embed block and add video by URL
4. Add video block with same URL
5. See that only video block previews in editor

#### What I expected to happen
All embeded videos should preview the same way

#### What actually happ

[2021-03-01 16:32] obenland commented on #16603
Removing from `Maintenance: Most Commented` since it doesn't have user reports

[2021-03-01 16:35] mmtr commented on #50550
I think this caused by the lack of `hide-if-js` classes in some submenus. When I check the DOM in WP Admin, I can see the menu is there but hidden. Note how the submenus that are appearing in Calypso are those without the `hide-if-js` class:

<img width="890" alt="Screen Shot 2021-03-01 at 17 32 27" src="https://user-images.githubusercontent.com/1233880/109527674-36619980-7ab4-11eb-91d2-7dc2f41286

[2021-03-01 16:41] #49568 closed, assigned to cpapazoglou

[2021-03-01 16:47] obenland commented on #28756
This seems to have been fixed by https://github.com/WordPress/gutenberg/pull/21167. I couldn't reproduce it with Baskerville 2 or Dara.

Please feel free to re-open if this error re-appears or can be reliably reproduced.

[2021-03-01 16:47] #28756 closed

[2021-03-01 16:56] desnum commented on #36197
"I used to be able to see the audio downloads before upgrading? why would that change?"
25332052-hc

[2021-03-01 17:00] mmtr commented on #50550
Unfortunately JP 9.5 is released is tomorrow, so there is not enough time for fixing this in the API before the nav unification launch. If this a blocker, we should prepare a fix in WooCommerce. cc @mattsherman @psealock

[2021-03-01 17:00] Copons commented on #50277
As it turns out, this looks extremely similar to https://github.com/WordPress/gutenberg/issues/29391, so it might indeed be a Core issue.

The one major difference, is that the repro steps here don't trigger the error in Core.
Also, on WPCOM it's the `Navigation` block itself that crashes, wheres in Core is "just" a `NavigationLink` (or the entire Site Editor, but not the Post Editor 😅 ).

[2021-03-01 17:26] keoshi commented on #48177
Questions on this item:

- Given that all suboptions exist only in wp-admin, shouldn't the Link item have an icon indicating it's an external link?
- Or are we explicitly not adding the icon _because_ this option contains a flyout menu?

![image](https://user-images.githubusercontent.com/390760/109533727-74f65480-7ab2-11eb-9d57-c806119aece3.png)

Still, when clicking “Link” I'm redirected to wp-ad

[2021-03-01 17:37] sirbrillig commented on #45004
This could still be valuable. It should be pretty simple too; in theory we could put code to scroll to the page top just before running `page()`.

[2021-03-01 17:39] simison commented on #50430
@razvanpapadopol since no other reports, this might've been some data inconsistency locally causing it?

[2021-03-01 17:40] keoshi commented on #40128
I'll be looking at this in the upcoming HACK week.

[2021-03-01 17:41] keoshi commented on #31550
I'll be looking at this in the upcoming HACK week.

[2021-03-01 17:43] keoshi commented on #29401
Would still be great to have this.

[2021-03-01 17:45] keoshi commented on #22700
This upgrade notice is no longer visible, closing the issue.

[2021-03-01 17:45] #22700 closed

[2021-03-01 17:48] keoshi commented on #22315
This on longer applies since that page is gone; closing.

[2021-03-01 17:48] #22315 closed

[2021-03-01 17:57] getdave commented on #50550
Is there a fundamental reason these menu items shouldn't appear if JS is enabled? What's the underlying reason here for Woo?

Adding an exception for something like this to the API endpoint feels like it could go on growing forever. Can we provide a hook to allow folks to add their own exceptions as required? That way Nav Unification can delegate the reasonability for patching these things to the

[2021-03-01 18:48] worldomonation commented on #28421
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-03-01 18:48] #28421 closed

[2021-03-01 18:59] xpurichan commented on #50507
Very glad to hear that "Marketing" will be moved in to the WooCommerce menu item soon, I think that will help a lot! My primary concern was to instruct a customer to go to: My Site > Tools > Marketing and have them go to: My Site > Marketing instead (and then get stuck).

If both Marketing pages are in submenus then I think that would completely resolve this concern.

[2021-03-01 19:05] carinapilar commented on #28756
@obenland, it might be theme-related, but I can still replicate [the one I reported here](https://github.com/Automattic/wp-calypso/issues/28756#issuecomment-600253151).

With the Didi theme, create a new page using the _"Front Template"_, the issue happens with a Vimeo or Youtube block, even though it has `aligncenter`. Here's a screenshot:

![VimeoYoutubeCenterAlignmentIssue](https://user-images.

[2021-03-01 19:33] jeyip commented on #37459
I can reproduce the issue by following the instructions from the PR description 👍

[2021-03-01 19:39] mattsherman commented on #50550
@psealock can provide more detail, but my understanding is that the `hide-if-js` class is being used as a "workaround" to hide menu items when the new WooCommerce Navigation is enabled. This is probably because WooCommerce Navigation is in `woocommerce-admin` and not `woocommerce` core.

That would be nice. It also adds additional burden on third party plugin developers. But, those third parties w

[2021-03-01 19:58] obenland commented on #28756
Yes, it looks to be a theme issue with that page template

[2021-03-01 20:03] simison commented on #45038
Yep, I think we can make this happen with small effort. I believe there even was design already, or we can reuse the page template picker design? @ollierozdarz

What categories would we have? I think listing them is an useful excercise anyway, just to understand better what we have right now.

[2021-03-01 20:05] carinapilar commented on #28756
Thanks for checking, @obenland! I have reported on the theme's repo. 🙂

[2021-03-01 20:20] monsieur-z commented on #50225
It will shortly: p1HpG7-blf-p2

[2021-03-01 20:23] simison commented on #50426
Some more context for having this data pcjTuq-a3-p2/#comment-318

[2021-03-01 20:38] #50432 closed, assigned to nobody

[2021-03-01 20:53] davemart-in commented on #48177
Flagging this issue for @sfougnier to weigh in.

[2021-03-01 20:53] cathymcbride commented on #43505
awesome! Thanks @ivan-ottinger !!

[2021-03-01 20:53] #43505 closed

[2021-03-01 20:54] jeffgolenski commented on #31550
You're a champion, @keoshi

[2021-03-01 20:54] mattsherman commented on #50446
Note: This only appears to happen if *not* using Nav Unification (run Calypso with the `?disable-nav-unification` query arg to disable Nav Unification).

[2021-03-01 20:55] cathymcbride commented on #46664
closing per 👆, 🎉

[2021-03-01 20:55] #46664 closed

[2021-03-01 20:58] cathymcbride commented on #41097
Somewhere along the way, this got fixed.

[2021-03-01 21:06] cathymcbride commented on #44738
Closing b/c this hasn't been hit for a while. If it is, please feel free to reopen!

[2021-03-01 21:06] #44738 closed

[2021-03-01 21:21] cathymcbride commented on #44994
This does still repro, but I doubt this is a route our customers take very often. Please feel free to reopen if you run across a more mainstream case!

[2021-03-01 21:21] #44994 closed

[2021-03-01 22:14] kwight opened #50600 "Notifications: Cover block text is beside rather than on top of its image."
A Cover block in notifications is being rendered with its text to the right of its image, rather than on top. Originally reported by @synora .

![Annotation on 2021-02-15 at 12-26-38](https://user-images.githubusercontent.com/10015451/107977527-42fcd280-6f89-11eb-87c3-9182ab28fcbd.png)

Styles for blocks in notifications is covered by the [block rendering project](PCYsg-tvN-p2) – it's possible cla

[2021-03-01 22:15] kwight commented on #46297
Let's close this, as the original reported issue was fixed – I've opened https://github.com/Automattic/wp-calypso/issues/50600 for the poor rendering.

[2021-03-01 22:15] #46297 closed

[2021-03-01 22:33] ghost commented on #48177
Thanks for the ping @davemart-in!

This seems ideal.

While I understand that _technically_ this is redirecting to wp-admin from Calypso, this won't necessarily be noticeable to users. For the sake of making things feel as unified as possible, I would say we should not add external link icons.

[2021-03-01 22:40] josephscott commented on #47659
I'd like to say no, everything on WPCOM should be HTTPS at this point.  If I say that out loud though I fear some edge will show up.

[2021-03-01 22:53] keoshi commented on #48177
@sfougnier I feel like maybe I should provide more context on this particular point of view.

As far I can tell this doesn't apply to Simple or Atomic sites, but in case you're going through this flow using a **Jetpack** site then you'll definitely notice the change for one or more reasons:

- All the suboptions lead you to wp-admin (as pictured in the image above).
- Most likely, the user color s

[2021-03-01 22:54] khristiansnyder commented on #49232
I wanted to drop some feedback on this from a customer in #27971662-hc. The user was confused that WooCommerce was somehow on their site all of a sudden and wanted to remove that from showing in WP-Admin. I imagine there will be other users that do not want that to show in WP-Admin when they don't have Woo installed.

[2021-03-01 23:17] DavidRothstein opened #50602 "Payments Management: "Renew Now" CTA not always shown consistently or correctly"
https://github.com/Automattic/wp-calypso/pull/46379 fixed some bugs with the appearance of the "Renew Now" link in the call-to-action on the payments management page, but there are some remaining so let's fix them.

Some are mentioned in my comment at https://github.com/Automattic/wp-calypso/pull/46379#issuecomment-720518692 but in a bit more detail here:

**1. Let's always show "Renew Now" for a

[2021-03-01 23:33] #1636 closed

[2021-03-01 23:38] xpurichan opened #50604 "Display Posts Shortcode + Classic block = Missing formatting for paragraphs and line breaks"
### Summary
We can use the classic block to write a blog post and then use the display posts shortcode to display that blog post on to a page. When using the combination of the classic block and display posts shortcode the formatting such as line breaks and new paragraphs is missing. Based on a customer report this started sometime last week (last week was Feb 21st - 27th at the time of this writi

[2021-03-01 23:47] psealock commented on #50550
A fix to the Jetpack API so that it replicates wp-admin behaviour seems ideal because other plugins may encounter the same scenario. If that is the consensus, I can create an issue in Jetpack.

Unfortunately, this is the case and leaves us with adding a temporary custom CSS rule in Calypso as the only decent solution.

As @mattsherman mentioned, WooCommerce Admin and Navigation is all Javascript,

[2021-03-02 00:00] andrewserong commented on #41831
This was fixed a fair while ago when we moved to using Gutenboarding specific Headstart annotations. (Just double-checked it on a freshly created to site to be sure). The Headstart annotations are in `nux-helpers/gutenboarding-content` and more info in: PCYsg-r7w-p2)

[2021-03-02 00:00] #41831 closed

[2021-03-02 00:18] jordesign commented on #48839
This refers to Atomic sites when they expire. Initially any custom plugins and themes are deactivated on expiry (which impacts the display/access of content which is added by custom plugins - but doesn't remove it from the database). If the user re-upgrades and activates the plugins the content would still be there.

But eventually - if the site is not renewed - it would be reverted back to the po

[2021-03-02 00:55] Addison-Stavlo opened #50605 "New Onboarding - Feature Picker confusion with listed and not listed features"
In Site Editor alpha testing there was confusion noted regarding the Features selection step:

![Screen Shot 2021-03-01 at 6 39 54 PM](https://user-images.githubusercontent.com/28742426/109579862-b0e7e480-7ac7-11eb-9433-2fdfe3cfcefa.png)

It is not clear if there are more available features than what are listed (adding audio or podcasting for example).  It is also unclear whether or not we are abl

[2021-03-02 00:58] Addison-Stavlo opened #50606 "New Onboarding - Plans descriptions lack descriptiveness."
In Site Editor alpha testing it was noted that the descriptions for plans could be more descriptive and helpful:

![Screen Shot 2021-03-01 at 6 43 54 PM](https://user-images.githubusercontent.com/28742426/109580249-497e6480-7ac8-11eb-8086-63a5eb1c785d.png)

For example "Best for personal use" is not a very helpful description for "Personal".

[2021-03-02 01:21] jeyip commented on #49276
I can reproduce this following the given instructions. 👍

After a brief investigation, the issue is with this style for the sidebar publish button
[apps/editing-toolkit/editing-toolkit-plugin/global-styles/src/global-styles-sidebar.scss:21](https://github.com/Automattic/wp-calypso/blob/7f95c0c4c316745334ed3709b7f38c3cc8476915/apps/editing-toolkit/editing-toolkit-plugin/global-styles/src/global-sty

[2021-03-02 02:04] happychait opened #50607 "Premium Content block: Outline style is not saved for the Login button."
### Steps to reproduce the behavior

1. Go to the page editor and add a Premium Content block.
2. Select `Outline` Style for the `Log in` button.
3. Update the page editor.

#### What I expected to happen

See the `Outline` for the Log in button.

#### What actually happened

Log in button displays with the `Fill` style.

#### Is this specific to the applied theme? Which one?

I tested this with t

[2021-03-02 03:13] roo2 opened #50608 "Ensure existing page layout patterns are translated"
follow up on slack discussion, some block pattern content used by the page layout selector is not being translated.

This card is to ensure page layout patterns and the newly added description field do get translated

context:

p1614638162150100-slack-CRWCHQGUB

[2021-03-02 03:51] becdetat commented on #50354
Is this really the case? Don't we still want to promote setting up WC?

[2021-03-02 05:02] pento commented on #26182
@cathymcbride: Just to confirm, the "Log Out from Everywhere" button is only available in the user report card: it can only be used by superadmins. To my knowledge, there's no such button available to end users. I have no strong feelings either way about closing this issue, but I wanted to make sure it was being closed correctly. 🙂

[2021-03-02 06:00] autumnfjeld commented on #50426
@simison Ganon discussed this in team meeting today, no problem to add to our "Up Next" after higher priority items.  This also dovetails well with the analytics work I need to do on Welcome Tour & Editor interaction. Helpful Tracking reference: PCYsg-nrf-p2.

[2021-03-02 06:11] happychait commented on #49230
I think this can be closed in favour of https://github.com/Automattic/wp-calypso/issues/49232

[2021-03-02 07:01] worldomonation commented on #50546
Moved this item back because there are still occasional failures. See:
- https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/59879/workflows/20ff588c-64df-4a20-b3f2-6280e70c0a11/jobs/145405/parallel-runs/2
- https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/59883/workflows/94f295d4-4c83-43c6-82a0-16255d9e66a0/jobs/145410

Appears to be occasi

[2021-03-02 07:06] martynmjones opened #50615 "Permalinks: Unable to change post slug after publishing post in Greek"
### Steps to reproduce the behavior

1. Publish a new post with a Greek title (δημοσίευση)
2. Change post slug in Greek (δημοσίευση-άρθρων)
3. Update post

#### What I expected to happen

URL slug to be updated to what was entered

#### What actually happened

Instead, the slug field briefly shows the post ID and then reverts to the original Greek slug when it updates. If you change it to an Engli

[2021-03-02 07:16] worldomonation commented on #50546
One possible improvement of this test; move the verification of blocks being visible to its own test.

Justification: basic post functionality should not be burdened with verifying that certain blocks are visible.

[2021-03-02 07:18] joweber123 opened #50616 "WooCommerce Link Is Broken Nav Unification Beta"
### Steps to reproduce the behavior

1. Install and activate the new JP Beta plugin
2. Install WooCommerce
3. Start on any Calypso page such as the Media Library
4. Click on WooCommerce
5. The URL wili be /wp-admin/admin.php?page=woocommerce and show a `Cannot load woocommerce.` error.

 ![Markup on 2021-03-02 at 16:08:11](https://user-images.githubusercontent.com/24914028/109611388-818db200-7b71-

[2021-03-02 07:46] StefanNieuwenhuis commented on #50298
Check p1614633457071000-slack-C013QHLF28Y for more context.

[2021-03-02 07:49] Robertght commented on #46721
I can confirm this as well in 3784163-zen

I had to add this right before the ending tags of the form through the code editor:

`
`

[2021-03-02 08:40] mmtr commented on #48177
@keoshi is correct, @sfougnier. The external icons are only used on Jetpack sites, since we don't have a unified experience there (see p1HpG7-bjx-p2).

I agree that the best solution is to hide/deprioritize the "Links" menu items on Simple/Atomic sites as noted in https://github.com/Automattic/wp-calypso/issues/48177#issuecomment-766857120, and completely hide it on Jetpack sites.

[2021-03-02 09:20] scinos opened #50622 "Deprecated package: chokidar@2.1.8"
### Deprecation message

Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.

### Usages

[code]

[2021-03-02 09:23] scinos opened #50623 "Deprecated package: babel-eslint@10.1.0"
### Deprecation message

babel-eslint is now @babel/eslint-parser. This package will no longer receive updates.

### Usages

[code]

[2021-03-02 09:31] oandregal commented on #49276
:wave: I see this is more about direction than about code. Unfortunately, I don't know anything about the specifics of the editing-toolkit plugin or WordPress.com, so not sure I can provide any help about direction here.

[2021-03-02 09:42] scinos opened #50624 "Deprecated package: request@2.88.2"
### Deprecation message

request has been deprecated, see https://github.com/request/request/issues/3142

### Usages

[code]

[2021-03-02 09:48] #50498 closed, assigned to mmtr

[2021-03-02 09:48] #50501 closed, assigned to mmtr

[2021-03-02 10:09] mtias commented on #50552
Yes, this is mostly a hint that for most users they will get to the template from a page and not to a page from a template. It'd be alright for more advanced users (https://www.youtube.com/watch?v=JHxsDSAImn0).

That's the bulk of the work on the part 3 of the "infrastructure and UI" milestone. However, I think there are a few things that can help:

- More clarity on how the sidebar presents templ

[2021-03-02 10:26] scinos opened #50626 "Deprecated package: fsevents@1.2.12"
### Deprecation message

fsevents 1 will break on node v14+ and could be using insecure binaries. Upgrade to fsevents 2.

### Usages

[code]

[2021-03-02 10:27] mmtr commented on #48177
FWIW, this is already the case as of https://github.com/Automattic/jetpack/pull/18921, which is included in Jetpack 9.5 (to be released today).

[2021-03-02 10:28] scinos opened #50627 "Deprecated package: photon@3.0.0"
### Deprecation message

introduced a bug causing CORS issues

### Usages

[code]

[2021-03-02 10:30] scinos opened #50628 "Deprecated package: har-validator@5.1.3"
### Deprecation message

this library is no longer supported

### Usages

[code]

[2021-03-02 10:32] scinos opened #50629 "Deprecated package: cheerio-select-tmp@0.1.1"
### Deprecation message

Use cheerio-select instead

[2021-03-02 10:34] scinos opened #50630 "Deprecated package: core-js@2.6.11"
### Deprecation message

core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.

### Usages

[code]
[code]

[2021-03-02 10:38] jameskoster commented on #50552
I intend to explore better organisation of the sidebar menu in https://github.com/WordPress/gutenberg/issues/29150.

In https://github.com/WordPress/gutenberg/issues/29031 I propose adding a welcome guide to the Site Editor, which can introduce concepts like templates and template parts. It's worth noting that template editing is inherently complex though, and should only be accessible to users wi

[2021-03-02 10:38] getdave opened #50631 "Scrolling bug with site preview iframe in Calypso"
Originally reported by @jsnajdr in p1614665734427400-slack-ajax.

### Steps to reproduce the behavior

1. make the window height small enough to make the sidebar scroll.
2. Click on the “site info” box in the sidebar. That will show the site preview iframe in the content area.
3. Now try to scroll down the _sidebar_. You can’t because the preview iframe disabled the page scrolling somehow.

#### W

[2021-03-02 10:40] scinos opened #50632 "Deprecated package: mkdirp-promise@5.0.1"
### Deprecation message

This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.

### Usages

[code]

[2021-03-02 10:41] scinos opened #50633 "Deprecated package: core-js@1.2.7"
### Deprecation message

core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.

### Usages

[code]

[2021-03-02 10:42] scinos opened #50634 "Deprecated package: left-pad@1.3.0"
### Deprecation message

use String.prototype.padStart()

### Usages

[code]

[2021-03-02 10:43] scinos opened #50635 "Deprecated package: request-promise-native@1.0.9"
### Deprecation message

request-promise-native has been deprecated because it extends the now deprecated request package, see https://github.com/request/request/issues/3142

### Usages

[code]

[2021-03-02 10:46] scinos opened #50636 "Deprecated package: urix@0.1.0"
### Deprecation message

Please see https://github.com/lydell/urix#deprecated

### Usages

(truncated)
[code]

[2021-03-02 10:47] scinos opened #50637 "Deprecated package: resolve-url@0.2.1"
### Deprecation message

https://github.com/lydell/resolve-url#deprecated

### Usages
(truncated)

[code]

[2021-03-02 11:00] Nic-Sevic opened #50638 "Portfolio: posts not accessible from portfolio section in calypso"
### Steps to reproduce the behavior

1. Create an extra long portfolio post and publish it
2. See that post no longer loads in block editor
3. posts disappear from list in calypso portfolio section

This is related to a specific case here but may extend to other users with similarly long posts: 3775592-zen

#### What I expected to happen
posts should show in both calypso and WP Admin list
post sho

[2021-03-02 11:15] #50550 closed, assigned to mmtr

[2021-03-02 11:19] mmtr commented on #50550
In Automattic/jetpack#18969 we added a fix to the API endpoint in order to replicate the Core behavior and @jeherve has been able to include on Jetpack 9.5 ❤️ , so we should be all set for the nav unification launch.

[2021-03-02 11:26] scinos commented on #50633
Related https://github.com/WordPress/gutenberg/issues/21820 and https://github.com/WordPress/gutenberg/pull/25428

[2021-03-02 11:38] scinos opened #50639 "Missing dependencies: package.json"
### Undeclared dependencies:

[code]

### Missing peer dependencies
[code]

[2021-03-02 11:40] scinos opened #50640 "Missing dependencies: ./client/package.json"
### Undeclared dependencies:
[code]

### Missing peer dependencies
[code]

[2021-03-02 11:42] scinos opened #50641 "Missing dependencies: ./apps/editing-toolkit/package.json"
### Undeclared dependencies:
[code]

### Missing peer dependencies
[code]

[2021-03-02 11:43] scinos opened #50642 "Missing dependencies: ./apps/notifications/package.json"
### Missing peer dependencies
[code]

[2021-03-02 12:37] scinos opened #50643 "Missing dependencies: ./apps/wpcom-block-editor/package.json"
### Missing peer dependencies
[code]

[2021-03-02 12:38] scinos opened #50644 "Missing dependencies: ./apps/o2-blocks/package.json"
### Undeclared dependencies:
[code]

### Missing peer dependencies
[code]

[2021-03-02 12:38] scinos opened #50645 "Missing dependencies: ./packages/calypso-codemods/package.json"
### Undeclared dependencies:
[code]

[2021-03-02 12:39] scinos opened #50646 "Missing dependencies: ./packages/components/package.json"
### Undeclared dependencies:
[code]

[2021-03-02 12:39] scinos opened #50647 "Missing dependencies: ./packages/composite-checkout/package.json"
### Undeclared dependencies:
[code]

### Missing peer dependencies
[code]

[2021-03-02 12:40] scinos opened #50648 "Missing dependencies: ./packages/domain-picker/package.json"
### Undeclared dependencies:
[code]

[2021-03-02 12:40] scinos opened #50649 "Missing dependencies: ./packages/explat-client-react-helpers/package.json"
### Missing peer dependencies
[code]

[2021-03-02 12:41] scinos opened #50650 "Missing dependencies: ./packages/explat-client-react-helpers/package.json"
### Missing peer dependencies
[code]

[2021-03-02 12:41] scinos opened #50651 "Missing dependencies: ./packages/page-template-modal/package.json"
### Missing peer dependencies
[code]

[2021-03-02 12:42] scinos opened #50652 "Missing dependencies: ./packages/social-previews/package.json"
### Missing peer dependencies
[code]

[2021-03-02 14:10] mattsherman commented on #49230
Agreed... I must have forgot I had this issue already created. 😄

[2021-03-02 14:10] #49230 closed, assigned to mattsherman

[2021-03-02 14:18] razvanpapadopol commented on #50430
It seems like I was reproducing this consistently when I was trying to test the launch flow for this other issue: https://github.com/Automattic/wp-calypso/issues/50273

I'm not sure if they are related or not but the only way to reproduce this so far is by having the launch flow opened in a separate tab while creating a new site.

cc: @ciampo to re-test using the updated description 🙏🏼

**LE:** th

[2021-03-02 14:21] Sandkorner commented on #50155
Had a user as well that had the same problem. They wanted me to let our "developers" know that this should be pointed out better.

Just adding this information here as it seems to be a slight pain point for some users.

[2021-03-02 14:43] tbradsha commented on #28828
This remains an issue.

[2021-03-02 14:46] tbradsha commented on #32240
This no longer seems to be an issue in macOS 11.2.1 + Chrome 88 + Gutenberg 10.0.2.

[2021-03-02 14:46] #32240 closed

[2021-03-02 14:47] tbradsha commented on #34324
Confirmed that this remains an issue on macOS 11.2.1 + Chrome 88 + Gutenberg 10.0.2.

[2021-03-02 14:49] #50446 closed, assigned to mattsherman

[2021-03-02 14:50] tbradsha commented on #40245
This remains unchanged. Once a user has uploaded third-party themes, has trouble, and asks "well, which themes are yours?", it's hard to explain which ones are WordPress.com themes and which ones are not without some differentiator.

[2021-03-02 14:51] mrsjaved opened #50656 "Blog Subscription: Follow via email success message not showing up"
### Steps to reproduce the behavior

1. Go to your own simple site or visit my test site sjpersonal.wordpress.com
(make sure you view it on a browser where you are not logged in to WP.com using any account)
2. Click on follow at the bottom right
3. Signup using an email address
4. Confirm if you can see the success message like this "Thanks for subscribing! You’ll get an email with a link to confi

[2021-03-02 14:53] tbradsha commented on #41948
This remains unsolved.

[2021-03-02 14:55] tbradsha commented on #43966
I'm unable to reproduce this now; @kcswong, can you see if it's working for you now?

[2021-03-02 14:56] fernmed commented on #36274
Another report of this 22801086-hc

[2021-03-02 15:16] ghost commented on #48177
Thanks for the context @keoshi & @mmtr. The icon aspect seems like potentially a separate issue since there are other nav items with similar behavior. Seems like https://github.com/Automattic/jetpack/pull/18921 solves for this though.

[2021-03-02 16:00] cathymcbride commented on #40792
@synora FYI - we've decided to do away with the [Status] Keep Open label and close issues as appropriate. Closing this as a dupe and removing the label.

[2021-03-02 16:00] #40792 closed

[2021-03-02 16:08] cathymcbride opened #50658 "https://wordpress.com/devdocs/welcome 404s"
### Steps to reproduce the behavior

1. Open an incognito window
2. Go to wordpress.com/start/developer
3. Create a site
4. Fill in the user step

#### What I expected to happen
per https://github.com/Automattic/wp-calypso/issues/28401, I should be directed /to devdocs/welcome

#### What actually happened
https://wordpress.com/devdocs/welcome 404s
https://wordpress.com/devdocs/ also 404s

I think

[2021-03-02 16:18] vindl opened #50659 "Site Editor: adjust template parts theme paths for Atomic transfer"
Currently our FSE theme paths are prefixed with `pub/` on Dotcom (e.g. `pub/tt1-blocks`). This affects how our theme template parts taxonomies are saved, and it impacts the loading of template parts in the editor and the front end.

Everything works fine for Simple sites since correct paths are established when the site created. On the other hand, after migrating to Atomic the actual paths will be

[2021-03-02 16:21] tjcafferkey commented on #50570
Closing. Fixed in Jetpack 9.5

[2021-03-02 16:21] #50570 closed, assigned to nobody

[2021-03-02 16:23] mmtr commented on #50225
I see D57273-code has been reverted in r221904-wpcom. I created separated issues for the remaining tasks (https://github.com/Automattic/jetpack/issues/18975, https://github.com/Automattic/jetpack/issues/18976), so we can close this epic out.

[2021-03-02 16:23] #50225 closed, assigned to nobody

[2021-03-02 16:29] klimeryk opened #50660 "Domains: Mention root A records for mapping purposes on the frontend"
When mapping a domain, you get a nudge in Calypso to update the DNS records to point to our nameservers. However, it's also possible to just update the root A records. We mention this option in our support docs, but not in the UI.

Let's make sure it's there - maybe in an "advanced" section.

Props to @kriskorn for nudging for this change in p2MSmN-8g3-p2 🙇

![mapped-domain](https://user-images.gi

[2021-03-02 16:37] jameskoster commented on #50552
Thinking about this some more...

Currently whenever folks open the Site Editor, they land on whichever _template_ loads their home page. This is kind of confusing (based on the "Site Editor" promise) and makes the experience feel template-first, which I do not believe is the long-term objective.

As a user, my expectation is that when I open the site editor, I would find myself editing whatever i

[2021-03-02 16:38] tjcafferkey commented on #50565
Thanks for raising @tbradsha. For Simple Site users clicking "Edit" on your user in WP Admin redirected you to `/me` on WordPress.com prior to nav unification AFAIK.

[2021-03-02 16:39] cathymcbride commented on #2527
@supernovia do you know if this still repros?

[2021-03-02 16:49] tjcafferkey commented on #50563
Closing, duplicate of https://github.com/Automattic/wp-calypso/issues/49660

[2021-03-02 16:49] #50563 closed, assigned to nobody

[2021-03-02 16:52] davipontesblog opened #50661 "Incorrect Jetpack connection banner on atomic sites with WooCommerce"
There are several reports of this showing in WooCommerce:

 `Connect Jetpack to activate WooCommerce Shipping & Tax
 WooCommerce Shipping & Tax is almost ready to go! Once you connect Jetpack you'll have access to automated tax calculation and shipping label printing.`

![image.png](https://user-images.githubusercontent.com/31009008/109683592-e0ddc900-7b55-11eb-84e0-dc18856f1447.png)

It doesn't a

[2021-03-02 16:56] tbradsha commented on #50661
21495452-hc
28128569-hc

[2021-03-02 16:57] jeherve commented on #50661
Closing this in favor of https://github.com/Automattic/jetpack/issues/18977

[2021-03-02 16:57] #50661 closed, assigned to nobody

[2021-03-02 16:58] sarayourfriend opened #50663 "Plugins: Suggested search terms sometimes return 0 results"
### Steps to reproduce the behavior

1. Change language to spanish
2. Go to `/plugins`
3. Click on the "Implicación" suggested search term ("Engagement")

#### What I expected to happen
The same search results as the English suggested term of "Engagement" should appear

#### What actually happened
No results appear

### Context
Found while testing the search functionality in plugins for the new se

[2021-03-02 17:01] happychait commented on #50616
@mrfoxtalbot

I think this is by design as I see at https://github.com/Automattic/wp-calypso/issues/49232

[2021-03-02 17:03] tjcafferkey commented on #50567
Thanks for raising @tbradsha. The tools landing page you mentioned which is the parent menu link when nav unification is disabled is still accessible via the Tools > Other Tools menu item

[2021-03-02 17:08] tjcafferkey commented on #50566
Thanks @tbradsha. The "My Profile" and "Account Settings" menu items and links are consistent with the usages in the account sidebar.

![Screenshot 2021-03-02 at 17 07 54](https://user-images.githubusercontent.com/8639742/109686061-d6352b00-7b79-11eb-985d-04e6e19b7150.png)

[2021-03-02 17:09] coder-karen opened #50664 "Nav unification: Clearly indicate with a banner or notice when using nav unification menu for Jetpack sites"
## Issue

When using the nav unification menu with a Jetpack connected site, the current similarity between the menus can lead to confusion over which dashboard someone is in. This can lead to further issues when the navigation flow doesn't match what is expected or expected custom navigation links are missing.

## Suggested solution

To help remedy this, one option is a small banner or clear noti

[2021-03-02 17:09] coder-karen opened #50665 "Clarify which external site any menu items link to in the menu for Jetpack sites"
## Issue

When viewing a Jetpack connected site in Calypso, menu items that are designed to open up an external site such as `wp-admin` include an icon indicating that the link will open up an external site.

<img width="72" alt="Screenshot 2021-03-02 at 16 58 19" src="https://user-images.githubusercontent.com/16754605/109685091-cf59e880-7b78-11eb-8b1f-9a49812be613.png">

However, it's not clear w

[2021-03-02 17:42] zdenys commented on #39850
I have tried creating a new eCommerce Plan today. Once I got to the setup wizard, clicked `Skip`. Doing that, indeed resulted in no default WooCommerce pages being created. If I never go back to the setup wizard I (as a user) may be pretty confused that I cannot proceed to Cart or Checkout page as those have never been created.

I had a case 25820920-hc, so I did the above test to confirm users ar

[2021-03-02 17:59] cathymcbride commented on #38973
@obenland is this 3rd party cookie work?

[2021-03-02 18:03] druesome commented on #50616
Reporting here that I had the same experience as @mrfoxtalbot during my tests.  As per #49232 it is intentional, but I feel like always having this on the menu can be a bit confusing for users, especially those who don't require a store.

[2021-03-02 18:22] klimeryk commented on #50660
Started working on this here: https://github.com/Automattic/wp-calypso/pull/50668

[2021-03-02 19:18] mattsherman commented on #50550
Awesome news. Huge thanks! 🙌

[2021-03-02 19:24] mattsherman commented on #50354
The Store dashboard can only be accessed by directly going to the URL. So, I would think that nearly everybody ever going to `/store` URL from this point forward is doing so because they have something bookmarked or in their browser history.

We could consider redirecting to `/woocommerce-installation` if they don't have WooCommerce installed already. That should be pretty easy. I'll see.

[2021-03-02 19:36] NoHopeRadio commented on #46077
Encountered on hc-17852724

[2021-03-02 19:50] fullofcaffeine commented on #49096
Oh, thanks for the nudge :)

[2021-03-02 19:50] #49096 closed, assigned to nobody

[2021-03-02 20:12] TheSteveK opened #50672 "Blog Posts Block not displaying posts correctly on front end"
**Workaround: Manually set a post excerpt for the page where the block is being added. This will use the excerpt in the OG tags and will not trigger the problem.**

**This issue is now closed as a fix was merged. The fix will ship to all Atomic sites in the next version of Jetpack (release date is still TBD).**

*********

We have found several instances of Atomic sites where a page has the blog p

[2021-03-02 20:14] TheSteveK commented on #50672
Example issue: #3786830-zen

[2021-03-02 20:19] Gilmoursa commented on #50672
Posts display on the homepage using the blog post block, but do not display on separate pages, such as a blog page, using the blog posts block.

[2021-03-02 20:20] Gilmoursa commented on #50672
For anyone coming to this issue looking for a temporary solution, as a workaround, you can add the 'latest posts' block.

Link: https://wordpress.com/support/wordpress-editor/blocks/latest-posts-block/

[2021-03-02 20:20] happychait commented on #50672
Got one in 28133063-hc

[2021-03-02 20:21] mikeicode commented on #50672
Another 3787525-zd-woothemes

[2021-03-02 20:21] Gilmoursa commented on #50672
Another 22599439-hc

[2021-03-02 20:25] ktyfuller604 commented on #50672
Another report here 3787071-zen

[2021-03-02 20:29] #48421 closed, assigned to sirbrillig

[2021-03-02 20:29] #48966 closed, assigned to sirbrillig

[2021-03-02 20:29] cathymcbride commented on #26182
Thanks for the clarification, @pento! I had indeed missed that point! I'm going to leave it closed for the moment, but if someone runs into it again, please reopen!

[2021-03-02 20:35] tbradsha commented on #50672
27285571-hc

[2021-03-02 20:43] JoshuaGoode commented on #50672
Updated original comment to include new internal triaging thread: p1614716941027400-slack-C02FMH4G8

[2021-03-02 20:44] tanjoymor commented on #49788
Provided CSS workaround for a customer in 28134348-hc

[2021-03-02 20:48] tbradsha commented on #50672
Out of order posts reported in 3787588-zen using the Blog Posts block. WordPress.com Atomic.

[2021-03-02 21:17] supernovia commented on #50421
A user [brought up this issue in our forums](https://wordpress.com/forums/topic/creating-an-ending-for-a-posts-url/#post-3642588). I can't duplicate it for anything, but here's what they see (left) vs what I see (right):

They have tried two different browsers, too.  @carinapilar are you still seeing this in staging versions?

<img width="625" alt="Screen Shot 2021-03-02 at 2 09 09 PM" src="https:

[2021-03-02 21:25] benchilcote commented on #50672
Another case here: 26970422-hc / 3787617-zen

[2021-03-02 21:33] joelclimbsthings opened #50675 "Encountering 502 bad gateway error after clicking "Setup my Store" immediately when purchasing eComm plan"
Just created an eComm plan on my a8c account for testing, and opted to select a new domain this time (as opposed to one I already own, or a subdomain). After setup was complete I'm presented with the "Setup my store" button (I believe that was the language, perhaps something slightly different).

After clicking that button I was presented with this:

![ecom_502_bad-gateway](https://user-images.git

[2021-03-02 21:45] carinapilar commented on #50421
@supernovia, yes, I can still replicate the issue. Interesting, I can replicate on that user's account, when creating a new post.

[2021-03-02 21:53] roo2 commented on #50608
we have a diff! D57883-code

[2021-03-02 22:06] wprhunt commented on #50672
Howdy, got another here:
27877583-hc / 3787899-zen

[2021-03-02 22:18] thesacredpath commented on #50672
Another one here: 3787476-zen / 28100796-hc

[2021-03-02 22:19] supernovia commented on #50421
I can't change it _before_ the post is saved as a draft. After that I can, though. (On my own site)

Do you see the same thing on your own site? I wasn't able to replicate this on the user's account.