[2021-11-22 02:47] poojashetty18 commented on #53626
4535086-zen ( Simple site )

[2021-11-22 03:02] lsl opened #58331 "Woo Installer: Add error handling to transfer step"
The atomic transfer step in the woocommerce installer [needs error handling](https://github.com/Automattic/wp-calypso/blob/ec91807b772975d793f1243e89b6bccecdc4e111/client/signup/steps/woocommerce-install/transfer/index.tsx#L135).

- [x] On error, redirect back to the confirm step and display the error.
- [x] Investigate: There may now be a stuck transfer in place, confirm what these look like on t

[2021-11-22 03:33] essleeung commented on #57711
Another case of Dalston blocks having the opacity set by default, instead of only on hover.  32849972-hc
<img width="1303" alt="Screenshot 2021-11-22 at 11 20 02 AM" src="https://user-images.githubusercontent.com/39225086/142796328-3ac82d3d-b4f4-4717-8ceb-b2874979535d.png">

Please contact the user when fix is complete. F/U ticket here: 4535296-zd-woothemes

[2021-11-22 03:34] p-jackson commented on #57260
@autumnfjeld the 2nd row is the same as this issue.

The 3rd row seems like it _could_ the same as this issue. This could be what it looks like when the primary menu has been applied to the secondary menu location.

The 1st row is sort of by design, sort of known issue. We know that links to other pages will often link to the demo site. I suppose we could add new headstart functionality to migrate

[2021-11-22 03:40] formosattic commented on #51540
+1 4532031-zd-woothemes , suggested workaround.

[2021-11-22 04:02] arinoch opened #58332 "Atomic: Scan for and remove the VamTam Offline Jetpack plugin."
### What

Automated and routine scanning and either disabling or removing of the VamTam Offline Jetpack plugin for WordPress.

### Why

The plugin's sole purpose, as explained [here](https://support.vamtam.com/support/solutions/articles/216471-guide-to-unplug-jetpack-plugin-hair-beauty-theme), is to disconnect Jetpack from the WordPress.com management platform. This by default will break users' we

[2021-11-22 07:04] gavande1 opened #58335 "Marketplace: Add monthly/yearly product slugs for pricing in products response"
### Details
Add monthly & yearly products slugs in API endpoint for fetching the pricing monthly/yearly.

- [x] Remove old product id, product name, product slug, bill period, currency, price.
- [x] Correct product ids
- [x] Add product's monthly/yearly slugs in response

[2021-11-22 07:08] gavande1 commented on #55789
We need to make this implementation more generic than the previously accepted version for the v1 launch.

[2021-11-22 07:53] gavande1 opened #58336 "Marketplace: Replace old icons with the new icons"

[2021-11-22 09:00] kosiew commented on #43715
Closing this. Please reopen if you have additional context to add.

[2021-11-22 09:00] #43715 closed

[2021-11-22 09:02] simison opened #58339 "[Bug]: refreshing at design picker step at onboarding shows white screen"
### Quick summary

When refreshing the page when at design picker, onboarding breaks.

### Steps to reproduce

1. Create a new site from `/start` as logged in user, and pass domains, plans
2. At write/build question, note URL and answer build

    <img width="1005" alt="Screenshot 2021-11-22 at 10 55 23" src="https://user-images.githubusercontent.com/87168/142832300-01940106-6a63-4e5d-8f1c-3a31b39

[2021-11-22 09:08] kosiew commented on #50706
@vishnugopal ,
I tested and was able to reproduce this error on https://wp20180808.wordpress.com/wp-admin/admin.php?import=mt

[2021-11-22 09:48] kosiew commented on #50744
@vishnugopal ,

I added a video on a blogger post - https://oracleprofessional.blogspot.com/2021/11/blog-post.html but the video does not load.

Since the platform is not actively developed anymore, I highly recommend assigning this a low priority or close it altogether.

[2021-11-22 09:55] KokkieH opened #58341 "Posts/Pages: Search in the posts list in Calypso not consistent with WP-Admin"
### Quick summary

When searching through the posts/pages list, results are sorted differently in the Calypso list vs the WP-Admin list. Specifically, Calypso doesn't list exact matches of post/page title to the search term first, making it difficult to use the Search feature to find a specific post, especially on sites with high numbers of posts. This is inconsistent with the Search feature built

[2021-11-22 09:58] jordesign commented on #58302
Love this - I'll put some time away tomorrow to come up with a suggested list of docs.

just one point of clarification - the current list is JUST support docs (as this is the 'Help' section).
Changing this to /go or other articles would be a functional change to they type of docs that are shown in this section - are we ok with this being inconsistent?

[2021-11-22 10:14] kosiew commented on #50832
hi @vishnugopal,

I tested importing https://kosiew.tumblr.com to dxAgH-p2 and only 1 image out of the expected 10 was imported.

On the site - dxAgH-p2 , the images were still linked to tumblr eg
https://64.media.tumblr.com/b067ffb9035b5233748bdf2754a16cc6/cdde58b63d50a39f-a2/s640x960/c0960d77f71c1809210f6f93dee435d64d6759c1.jpg

[2021-11-22 10:32] tyxla commented on #55513
My $0.02 on the latest solution: I find the fact that the step is below the tagline field confusing. As a user, I'm confused whether I have to fill the site title field or the site tagline one.

[2021-11-22 11:05] kspilarski opened #58342 "Gutenberg: Table Block - Alternating Colors in Stripes Style"
### What

In Table block's Stripes style,  add option to change alternating row background color.

### Why

If both alternating row colors can be changed, there will be more options to customize.

### How

In Table block's Stripe style, the row colors are in alternating white and gray. Only the white background can be changed, and not the gray part.

Example of Table block in Stripes style - white

[2021-11-22 11:07] filipanoscampos commented on #57725
The user wrote back adding that although they have 340 text widgets, only one of each is set to display on any given page on the site.
They highlight that they were only able to edit their Wirdgtes with the Classic Editor and that, from Nov.5, changes are no longer being saved.

They also added that they suspect the number of widgets may be why the Block editor wasn't working as expected and asked

[2021-11-22 11:08] synora commented on #58169
Triaged. Can replicate with Quadrat, Blockbase, Zoololgist, Geologist, Seedlet Blocks, TT1 Blocks, and Mayland Blocks.

https://user-images.githubusercontent.com/10015451/142849365-dff6efb9-30f0-4a42-818d-e320b803d572.mov

[2021-11-22 12:25] cpapazoglou commented on #58285
Yes, `November 16, 2021` would be far better

[2021-11-22 12:33] cpapazoglou commented on #57755
we need to format params as follows:

Should we first `deactivate` the plugin so that any deactivation hooks run?

Can you confirm that plugin removal does indeed remove DB tables & data? If it doesn't remove data, then the only problem would be in cases that we would want to downgrade the site to Simple and in those cases the data are indeed lost.

I don't feel there is a need in removing plugin

[2021-11-22 12:49] dlind1 commented on #57743
The modal and the new strings were translated in https://translate.wordpress.com/deliverables/overview/6940457/ and https://translate.wordpress.com/deliverables/overview/6944850/.
The 'Featured' labels still have some bad translations, so I'll reject the current ones for them to be retranslated.

[2021-11-22 12:49] cpapazoglou commented on #55175
Good recap @mreishus!

Generally the problem behind finding the best solution is "Does the user want this to happen change?". Updating the info on the background may not be in benefit of the user. What if we added a section in `wordpress.com/me` showing:

- disconnected sites and link to reconnect them
- out of sync info and a way to update them in the stale site

![SS 2021-11-22 at 14 43 25](http

[2021-11-22 13:03] hambai commented on #55996
Hey @dpasque - we think this is fixed in the above PR which is already merged. Can you please check again and close the issue

[2021-11-22 13:34] dlind1 commented on #57743
Created the deliverable https://translate.wordpress.com/deliverables/overview/6987494/

[2021-11-22 13:40] cpapazoglou commented on #58296
Could we potentially add:

- a verified by checkmark
- or "Editors Choice"

Regarding the icon, may we can sneak peek how other marketplaces present their plugins.

[2021-11-22 13:42] cpapazoglou commented on #58322
Can we try using a `POST` rather than `GET` request to pass the `slug` parameter and workaround the ads blocker?

[2021-11-22 13:57] cpapazoglou commented on #55706
I am closing this since we have popped out the search box in our new Plugins page

![SS 2021-11-22 at 15 56 20](https://user-images.githubusercontent.com/12430020/142874100-5943284d-fc44-4ba1-bef3-08777ed40745.png)

[2021-11-22 13:57] #55706 closed, assigned to mreishus

[2021-11-22 14:16] cpapazoglou commented on #58281
In the `thank-you` page we do a request
`https://public-api.wordpress.com/rest/v1.1/sites/[SITE_ID]/plugins?`
to get the results which don't include the plugin icon. We can either:

- enhance the API to include the icon
- or do another API call to the .org plugins (or .com) repo to get the icon

[2021-11-22 14:26] kristastevens commented on #58302
One question came to mind as I started to think about what might work well here. Is the list limited to support documents because of translation? Another way to word the question: is this My Home section shown to English language users?

[2021-11-22 14:43] cpapazoglou commented on #58297
Suggestion, saving in the state that User has indeed initiated the plugin installation.

[2021-11-22 14:51] cpapazoglou commented on #58322
We will pick this issue in our sprint so that we research possible solutions.

[2021-11-22 15:28] autumnfjeld opened #58352 "[Bug]: wordpress.com see "Unsupported browser on Safari""
### Quick summary

![image](https://user-images.githubusercontent.com/5665959/142888022-2ef1a0ff-06d3-4133-933e-04257f29c0e4.png)

![image](https://user-images.githubusercontent.com/5665959/142888061-077d4caf-3402-4f91-b91e-0aff8dc1c077.png)
Version 14.0.2 (16610.3.7.1.9)

### Steps to reproduce

1. In Safari goto wordpress.com
2. See redirect to https://wordpress.com/browsehappy?from=%2F and see

[2021-11-22 15:33] AliSoftware commented on #58352
FWIW I tested in Safari `Version 15.0 (16612.1.29.41.4, 16612)` and couldn't reproduce.
I don't have a Safari 14.x around to test with the version mentioned in this issue.

[2021-11-22 15:38] scinos commented on #58352
Related to #58218

[2021-11-22 16:00] arcangelini commented on #58150
I am still trying to track this down but here is what I got so far. I am not sure where this is coming from exactly but it is safe to say there is a discrepancy somewhere in how the block is being rendered. The block is rendering with a padding element that segregated like this `padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em` but the block save is expecting it to appear with

[2021-11-22 16:01] cpapazoglou commented on #58319
We would want to avoid redirecting users to Wordpress Core pages for installing plugins. What we can do though is enhance our Calypso screens.

@SaxonF can we look into adding all relevant data from WP Core Plugins page to Calypso Plugins page?

|WP Core | Calypso|
|-------|------|
|<img width="606" alt="SS 2021-11-22 at 17 59 49" src="https://user-images.githubusercontent.com/12430020/142894142-5

[2021-11-22 16:21] autumnfjeld commented on #55513
A couple suggestions for the copy in the popup guide:
* match the capitalization that is in the UI , meaning only Site is capitalized, while title and tagline are not capitalized.
* instead of "...Site tagline and title...", use "...Site tagline and Site title...". (repeat the word Site for added clarity and to match the UI)
* use bold font for both "Site title" and "Site tagline" to emphasize the

[2021-11-22 16:22] cpapazoglou commented on #58279
@SaxonF the ping was just for making sure any future designs are accessibility friendly.

[2021-11-22 16:34] kwight opened #58355 "Launch Bar: The bar is visible only if the users scrolls up."
Reported by @ollierozdarz p1637277533047900-slack-C029SB8JT8S

Sometimes when loading a view with the launch bar, the page is scrolled down enough to hide the launch bar behind the admin bar.

[2021-11-22 17:04] synora commented on #58327
Tagging @Automattic/flow-patrol-create for help in this issue 🙏

[2021-11-22 17:10] kwight commented on #58248
Let's mark a video as watched at 90%.

[2021-11-22 17:18] kwight commented on #58207
This should already be an existing prop for desktop, but we may need to move to a "context" prop for the component (modal vs. onboarding, etc).

[2021-11-22 17:19] kwight commented on #58258
This already exists in the original implementation – we can find working code in the history.

[2021-11-22 17:25] kwight commented on #57567
Check for an existing loading indicator in the new "hero flow".

[2021-11-22 17:31] Gustavo-Hilario opened #58358 "Users might need to slide to access the buttons to edit/unlink embedded links"
### What

A user would like the edit link box to be full width so they don't need to slide to access the edit/unlink buttons.

Issue here:

![image](https://user-images.githubusercontent.com/29057562/143413998-50e42dad-47b7-4862-8f08-864026af9108.png)

### Why

This will make the process of editing embedded links easier.

### How

In some cases, we don't need to slide to access the edit button, bu

[2021-11-22 17:33] nelsonec87 commented on #57611
The fact that is not possible to add new pictures to existing galleries is due to a limitation in the way this feature was implemented: the MediaPlaceholder o[nly passes the images' IDs](https://github.com/WordPress/gutenberg/blob/c711a16dbfd3858fecb1bbb306ad0962bb26d19a/packages/block-editor/src/components/media-placeholder/index.js#L356), but [the Gallery passes the whole objects](https://github

[2021-11-22 17:33] #57611 closed, assigned to nelsonec87

[2021-11-22 17:36] #28033 closed

[2021-11-22 18:09] creativecoder commented on #58150
Related discussion: p7H4VZ-3f8-p2

Possible fix: D70425-code

[2021-11-22 18:30] worldomonation commented on #57439
Closing as the issue has not recurred.

[2021-11-22 18:30] #57439 closed, assigned to nobody

[2021-11-22 18:34] enejb opened #58360 "Mobile web: Improve the way we show email address in site setup"
### What

Currently it is hard to see the email address

### Why

If you make a mistake while typing your email address is hard to see the mistake because you have to expand the confirm email step.

Before:
<img width="436" alt="Screen Shot 2021-11-22 at 10 33 48 AM" src="https://user-images.githubusercontent.com/115071/142916310-5d24e644-0b65-4158-a113-cf5d7f155d55.png">

### How

Let's implement

[2021-11-22 19:28] worldomonation commented on #56664
Changes merged in and a build configuration for P2 E2E tests has been created under [Calypso > WPCOM Tests > P2 E2E Tests](https://teamcity.a8c.com/buildConfiguration/calypso_P2E2ETests?branch=%3Cdefault%3E&buildTypeTab=overview&mode=builds).

I'll be paying some attention to this going forward. Plan is to also add some more test cases for the front-end editor.

@mirka Are you happy with the outco

[2021-11-22 19:47] desnum commented on #56688
Another case, where the icons are squished in the other direction:

<img width="1004" alt="Screen Shot 2021-11-22 at 2 46 43 PM" src="https://user-images.githubusercontent.com/43796228/142925326-111fc71f-f7fc-4ea3-a8b2-e89615a2e023.png">

It's a free site, on the Argent theme. I added Custom Design and used some CSS as a temporary workaround:

[code]

[2021-11-22 20:00] csonnek commented on #57339
Our forums volunteer has even more testing data here: https://wordpress.com/forums/topic/block-widgets-widget-disappearance-and-visibility-issues/page/2/?view=all#post-3761673

[2021-11-22 20:17] noahtallen commented on #58352
This makes sense -- v14 does not fall inside the version range we list for Safari, so Calypso doesn't think it's supported. Newer versions do fall inside that version range.

It's a bit of an oversight because we expected v14 to be supported when we say "support the last two safari versions," but I think the tool we are using is using the point releases instead.

[2021-11-22 21:08] kwight commented on #58262
We do have some props for this at the moment, but we're switching them to a simpler "context" prop that can be used to output any header/footer changes needed. I could see something like `<VideosUi course="onboarding" context="<sign up flow slug>">`.

I'd personally avoid this, to keep styling and layout as consistent as possible across the different eventual contexts for the component.

Is this s

[2021-11-22 21:27] kwight opened #58364 "Videos UI: Enable for non-English users."
The videos UI was launched for English users only. Let's enable it for everyone.

- [ ] Verify translations for the mag16 are ready.
- [ ] Do additional non-EN and RTL testing.
- [x] https://github.com/Automattic/wp-calypso/issues/58206
- [ ] Remove the EN-only gate in My Home.

[2021-11-22 21:34] p-jackson commented on #56567
Closing this umbrella task now.

This task hasn't been resolved, but I think it can be handled on it's own.

[2021-11-22 21:34] #56567 closed, assigned to p-jackson

[2021-11-22 21:49] autumnfjeld commented on #58302
@jordesign  Great question! And now that you asked that, I am remembering that [we used the /go list to create new "Grow & Learn" cards for eCommerce sites](https://github.com/Automattic/wp-calypso/issues/54863) - the list wasn't used for Support articles.

So let's stick to /support articles.  I will edit the description of this issue.

@kristastevens  We would need to use support docs that are t

[2021-11-22 21:54] autumnfjeld commented on #58302
@jordesign  Having said that, if you think there are some cool /go articles that should be turned into Grow & Learn cards, we could open an issue for that.

![bitmoji](https://sdk.bitmoji.com/render/panel/95caaa1e-9572-4e53-8013-e3e6215ae489-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=40)

[2021-11-22 21:55] kwight opened #58366 "Videos UI: The bottom footer is not fixed on mobile."
The mobile footer should be fixed, so that the Back button is always visible, regardless of screen size or content.

<img width="326" alt="Screen Shot 2021-11-22 at 1 54 43 PM" src="https://user-images.githubusercontent.com/349751/142940830-1b33573c-702d-462f-9dc0-fed8c809082a.png">

[2021-11-22 21:57] kwight commented on #58366
Now I'm not sure; the mockup on the left implies it's not fixed, while the one on the right implies it is – @ollierozdarz which do you prefer?

<img width="800" alt="Screen Shot 2021-11-22 at 1 52 50 PM" src="https://user-images.githubusercontent.com/349751/142941003-f4b4f2b8-9188-4577-8705-f1dad67d5b5a.png">

[2021-11-22 21:59] worldomonation opened #58367 "CI: Stop CircleCI canaries from building automatically"
### Details

Now that canaries have been taken over by the Pre-Release tests, it is time to stop running CircleCI builds automatically.

Context: p1637608510461500-slack-CQD1HH4MA

### Checklist

_No response_

### Related

_No response_

[2021-11-22 22:02] worldomonation opened #58369 "Playwright: update Field Guide documentation."
### Details

Update the Calypso Deploy page in FIeld Guide.

Context: p1637183497428000-slack-CQD1HH4MA

### Checklist

_No response_

### Related

Child of #57149

[2021-11-22 22:04] worldomonation opened #58370 "Playwright: update GitHub documentation"
### Details

Update GitHub documentation for e2e tests.

### Checklist

- [ ] make a 'getting started' page.
- [ ] revise style guide.
- [ ] consider a tool like readthedocs.

### Related

Child of #57149.

[2021-11-22 22:05] worldomonation commented on #57930
Moving back into To Do since not much we can do here for now.

[2021-11-22 22:14] kwight commented on #56888
User progress tracking main issue: https://github.com/Automattic/wp-calypso/issues/58248

[2021-11-22 22:19] msilbers opened #58371 "Gravatar.com: Website Images broken"
### Quick summary

The website images on Gravatar.com are not loading within the account, or on the site when visited. It seems these images may only display on mobile/tablet sized devices, but they currently all appear broken, for all accounts.

In account on Gravatar.com:
<img width="767" alt="Screen Shot 2021-11-22 at 5 10 53 PM" src="https://user-images.githubusercontent.com/31680407/142942654

[2021-11-22 22:24] blackjackkent commented on #58256
It doesn't seem like there's an existing endpoint for getting any random user attribute by key, but we do have an endpoint at `/wpcom-json-endpoints/class.wpcom-json-api-me-settings-v1-1-endpoint.php` which seems to have whitelisted keys that can be requested; seems like our best bet might be to add something there for our purposes?

[2021-11-22 22:25] happychait commented on #58371
Also website preview doesn't seem to come up on the profile page, for example, at http://en.gravatar.com/happychait

[2021-11-22 22:35] autumnfjeld opened #58372 "Blogger Experience: My Home site setup checklist"
## Blogger Experience: tailoring the site setup checklist for bloggers

WIP: This is ticket needs additional detail and design input.

![image](https://user-images.githubusercontent.com/5665959/142943938-71671a33-e86c-4b84-8488-b8398e08808d.png)

[Figma](https://www.figma.com/proto/EuqfSnWpfYx8fgiBlVmbuA/Blogger-Experience?page-id=3511%3A1633&node-id=3511%3A1923&viewport=273%2C48%2C0.26&scaling=mi

[2021-11-22 22:43] kwight commented on #58248
It looks like we should be able to use the `video` tag's [`timeupdate` event](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/timeupdate_event) to keep track of a user's progress through a playing video.

<img width="872" alt="Screen Shot 2021-11-22 at 2 38 35 PM" src="https://user-images.githubusercontent.com/349751/142945591-c090bdf4-e4d6-4254-b3a7-8c951107a638.png">

I checked

[2021-11-22 22:53] kwight opened #58373 "Videos UI: Add a "completed" timestamp to each existing course video."
We need to keep track of users' progress through the videos, but we all know that many people don't watch a video until its very last second – but can certainly consider the video "completed". Since all videos are unique, with different cutoff points for meaningful content, let's add a specific timestamp to the video definitions in the `courses` library server-side. This will be watched for on the

[2021-11-22 23:07] autumnfjeld opened #58374 "Blogger Experience: tailored prompt text in the editor"
## Blogger Experience: provide a more inviting prompt to new bloggers
We now have a [site_intent flag](https://github.com/Automattic/wp-calypso/blob/8243889761d48643be746ddefd67b3ad3a5c5be2/client/lib/signup/step-actions/index.js) that is set when the user selects their option from the Intent screen. See [site_intent types](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/in

[2021-11-22 23:11] worldomonation commented on #58369
Done!

[2021-11-22 23:11] #58369 closed, assigned to nobody

[2021-11-22 23:30] arinoch opened #58375 "Jetpack connection fails on cancelled, then renewed, Business/E-Commerce plans."
### Quick summary

If a user cancels their plan, or lets it lapse, and is reverted, Jetpack will fail when they reupgrade.

### Steps to reproduce

1: Create, or visit an E-Commerce or Business Plan with plugins site.

2: Cancel its associated plan. Or, set the plan's expiration date to today.

3: Wait for the site to revert.

4: Reupgrade to the plan you had before.

### What you expected to happ

[2021-11-22 23:37] mreishus commented on #37080
I found two main causes of not seeing the icon in calypso directly after a private atomic transfer.
* The shadow site is out of date and missing the icon information. In this case, `/sites/1234` will show the icon in the response, but `/me/sites` does not. However, this was only happening with one of my sites that displays an error on transfer, so I think this is not typical.
* The request to atom

[2021-11-23 00:19] worldomonation opened #58378 "Flaky E2E: Click and visit first support article"
### Spec file

wp-support__popover-valid.ts:

### TeamCity ID

7019697

### Logs

[code]

[2021-11-23 00:20] spraveenitpro commented on #58360
Hey @enejb I want to work on this 🙌🏽

[2021-11-23 00:22] enejb commented on #58360
Sounds great! Thanks for taking a look @spraveenitpro !

Let me know if you have any questions or have something you want me to take a look at :)

[2021-11-23 00:33] worldomonation opened #58380 "Flaky E2E: Make purchase"
### Spec file

wp-signup__paid.ts

### TeamCity ID

7007651

### Logs

The purchase is timing out due to an incorrect timeout passed into the parameter: `90 * 100`, instead of `90 * 1000`.

[2021-11-23 00:36] autumnfjeld commented on #58339
Note for Ganon: Consider  that a fix might also address launch flow fix.

[2021-11-23 00:40] #57372 closed, assigned to nobody

[2021-11-23 01:01] #58380 closed, assigned to worldomonation

[2021-11-23 01:25] worldomonation opened #58382 "Magic Links: intermittent Login link is expired or invalid"
### Quick summary

Intermittently the magic link feature fails to allow the user to log in with a message:
`Login links is expired or invalid`
`Maybe try resetting your password instead`

While most observations of this has been in end to end testing, anecdotally a friend of mine has also run into this issue when attempting to log into WordPress.com.

### Steps to reproduce

1. navigate to `/log-i

[2021-11-23 01:25] worldomonation commented on #58382
I've assigned the priority of Normal, but in some instances this should really be a High priority.

[2021-11-23 02:49] jordesign commented on #58302
Good call! Here's the ones I'd call out. They're all focused on creating content, sharing it, and helping get traffic to the site.

In looking at them - the actual Titles used on the support doc aren't really helpful at all. I've added (in brackets) proposed strings of text we could use (seeing as the list is manually curated). Love your input on these @kristastevens

* https://wordpress.com/suppo

[2021-11-23 03:59] lsl opened #58384 "Woo Installer: Implement calypso fetch code for new public-api transfer endpoint"
We're modifying an existing endpoint to handle woo transfer and installation 12-gh-Automattic/woo-on-plans. The patch is here: D70745-code We need a calypso fetch and response implementation under `client/state` for use with redux.

We're adding an additional endpoint to handle woo installation on Atomic. The patch is here: D70860-code

The current [fetch transfer status](https://github.com/Automa

[2021-11-23 04:07] lsl opened #58385 "Woo Landing: Point the landing page at the new installer"
Point the landing page CTA's at the new installer

- [ ] Business simple sites => installer confirm step (warnings)
- [ ] Business atomic sites => installer confirm step (double check displayed when already atomic transfer)
- [ ] Non business => checkout upgrade with redirect => installer confirm step (warnings)

[2021-11-23 04:17] lsl commented on #55406
reopened in https://github.com/Automattic/wc-calypso-bridge/issues/769 we'll be relying on the old onboarding flow for a while.

[2021-11-23 04:19] lsl commented on #58226
Probably don't need this anymore but keeping it round as a fallback approach.

[2021-11-23 04:48] SaxonF commented on #58319
Hi @cpapazoglou , a couple options for you.

![image](https://user-images.githubusercontent.com/1072756/142972024-eac3e475-5875-4505-9fe3-4a02513a2c92.png)
This shows install count by default. I'm also wondering whether we only need to highlight if a plugin is incompatible.

![image](https://user-images.githubusercontent.com/1072756/142972502-2f36dde0-c4ba-445f-9b79-4401774d3a28.png)
This condense

[2021-11-23 05:33] lsl opened #58387 "Woo Installer: Implement mobile ux and new design"
Implement [new design](https://github.com/Automattic/wp-calypso/pull/58024#issuecomment-977556114) for the steps in /signup/steps/woocommerce-install.

- [x]  #58468
- [x] #58470

[2021-11-23 05:46] SaxonF commented on #58281
![image](https://user-images.githubusercontent.com/1072756/142976462-765e6d86-eb3c-4c72-b38c-5a7ffc8d7cd2.png)

Now might be a good opportunity to start to align with some of the recent onboarding work. This removes the blue background and pulls in the plugin icon if available.

[2021-11-23 07:36] arthur791004 commented on #56669
I'm working on this and here is the result
![image](https://user-images.githubusercontent.com/13596067/142985884-024c1502-6931-4901-9bfc-0ccc0ecd5411.png)

[2021-11-23 08:03] Robertght commented on #58152
As there were no other reports, I'm closing this, but please reopen if needed.

[2021-11-23 08:27] #57295 closed, assigned to ivan-ottinger

[2021-11-23 08:30] Robertght commented on #57960
@Automattic/shilling I'm adding this to your board.

[2021-11-23 08:58] kriskorn commented on #58322
@cpapazoglou Thank you for looking into this.

Just wanted to note that we have another case here - p9F6qB-7HW-p2 and it was not possible to install Elementor Pro nor Hello Dolly on the user site. I was able to install the Hello Dolly plugin on my test site. So I guess it is not only ad blocking extensions, but maybe something else that may be blocking the installation of plugins via this flow on

[2021-11-23 09:40] simison commented on #58341
@Copons I just thought your team should be aware of this. :wave: :-)

[2021-11-23 10:48] devNigel opened #58391 "Social (Publicize): Improve error message "Something went wrong. Please don't be mad""
### Quick summary

This error message generated in Publicize is not helpful and ironically it is these kinds of error messages that can make people mad.

The error was fixed by reconnecting Facebook. It would be more helpful to both user and Happiness Engineers if the error message suggested that in the first place.

Screenshot:

![image](https://user-images.githubusercontent.com/33957570/14301086

[2021-11-23 10:59] mirka commented on #56664
Awesome, thanks so much for adding these! We'll be in touch if we need any modifications. The tests look straightforward to add, so maybe Lighthouse can just ping you for review if we write more test cases.

Sounds reasonable 👍

Some final questions:

1. Do the tests run on a gutenberg-edge site, a normal production site, or both?
2. What happens when a test fails? (Who gets the alert, and how? Ca

[2021-11-23 11:03] Robertght commented on #58391
@mmtr is this a change related to the recent Republicize changes?

[2021-11-23 11:11] devNigel opened #58394 "Not able to map domain without a paid plan."
### Quick summary

Previously, it was possible to map a domain to a free site by paying 13 USD.

WordPress.com also says

`Domains purchased on a free site will get redirected to 1234testbing.wordpress.com. If you upgrade to the Personal plan, you can use your own domain name instead of having WordPress.com in your URL.`

However, with the new Domain Connection flow, it is not possible to map a cu

[2021-11-23 11:13] mmtr commented on #58391
I don't think so, I'm not aware of any change in how we notify this kind of errors. @pablinos or @retrofox can confirm

[2021-11-23 11:16] Robertght commented on #58391
Similar case: https://github.com/Automattic/wp-calypso/issues/28766

[2021-11-23 11:28] cpapazoglou commented on #58281
Thanks @SaxonF, the new design seems nice. Can you share the figma link?

Regarding the icon, the problem is, when a user uploads a plugin without an icon or not found in the wporg repo (eg a custom plugin). In these cases, we can show a default icon but the current one (OK sign) isn't the best solution. Can you supply as with a good replacement?

[2021-11-23 11:34] cpapazoglou commented on #58319
Thanks for the new designs @SaxonF!

At this point, we probably not but it's nice to have it for future versions. I think this version
![image](https://user-images.githubusercontent.com/12430020/143016895-decfd241-3e2a-4310-a1e1-3041b35b6c09.png)

is verbose and pleasant to the eye too. It includes rating, active installations and last updated. Can you share the figma link?

[2021-11-23 12:09] ivan-ottinger commented on #57295
Just noting here for clarity that the issue has been fixed in https://github.com/Automattic/wp-calypso/pull/57952.

[2021-11-23 12:59] #55309 closed, assigned to cpapazoglou

[2021-11-23 13:21] cpapazoglou commented on #57751
@gavande1 saving the images to `wp-content/lib/*any_folder*` should be enough. You will need to sandbox `wordpress.com` to test it.

![SS 2021-11-23 at 15 21 02](https://user-images.githubusercontent.com/12430020/143031509-ed3457e1-83a8-4161-a704-f5140dae6fa1.png)

[2021-11-23 13:35] Gustavo-Hilario commented on #53799
4370489-zd-woothemes. The user reproduced the issue again today and is eager for a permanent fix.

[2021-11-23 14:29] kriskarkoski opened #58402 "[Bug]: Highlighted text not fully linked in some cases"
### Quick summary

When highlighting text and pasting a URL to link it all of the text is not always linked.

### Steps to reproduce

1. Start at /wp-admin/post-new.php
2. Add text
3. Highlight text to link it
4. Paste URL
5. Not all of the text will be linked under some circumstances

### What you expected to happen

All of the text that's highlighted to be linked

### What actually happened

Ran

[2021-11-23 14:54] arcangelini commented on #57083
No longer able to replicate. Latest version of Gutenberg has resolved this issue.

Please re-open if you are seeing otherwise.

[2021-11-23 14:54] #57083 closed, assigned to arcangelini

[2021-11-23 15:04] kspilarski commented on #52185
Same feature request for 4539218-zen.

[2021-11-23 15:41] brookewp commented on #51664
Another report here: hc-32877576

[2021-11-23 15:51] andres-blanco commented on #58248
Actually the `timeupdate` event should be used in combination with [currentTime](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/currentTime) since the `timeStamp` property is an epoch timestamp.

[2021-11-23 15:53] Addison-Stavlo opened #58408 "Editor tracking - Add FSE active status as a general event prop."
To help aid in understanding user interaction with FSE and the various editors, it is beneficial to add a general boolean event prop to the block editor tracking system for `is_fse_active`.

Used in combination with other events, as well as other general properties like `editor_type`, this can help determine what/how/when the post editor is used vs. the site editor when the option to use either is

[2021-11-23 15:56] kristastevens commented on #58302
@jordesign this is a great list! This is just a suggestion for the potential order they could appear in and some suggestions on the text in brackets. Let me know what you think.

- https://wordpress.com/support/posts/ (All about blog posts)
- https://wordpress.com/support/subscriptions-and-newsletters/ (Encourage visitors to subscribe to your content)
- https://wordpress.com/support/publicize/ (Sh

[2021-11-23 16:14] mreishus commented on #58088
This page uses infinite scrolling, which I agree is not ideal. However, I was not able to replicate some of the problems seen here in Chromium 96.
I was on a P2 with 446 members. My URL was `/people/team/<sitename>`. I was able to scroll all the way to the bottom, across all 446 members, ending with a `z` username.

Problems I could not replicate:
* Additional batches of users not loading. As I sc

[2021-11-23 16:22] andres-blanco commented on #58373
D70522-code

[2021-11-23 16:23] kwight commented on #58256
Yep, that sounds like it. I imagine there's a query component for it, so we would add that query component to our component to make sure the data is in state for us to use.

[2021-11-23 16:29] Addison-Stavlo commented on #58117
We can close this since the removal of the nav sidebar as well as our custom fill to accommodate the change have both been reverted.

[2021-11-23 16:29] #58117 closed, assigned to nobody

[2021-11-23 16:48] sirbrillig commented on #57960
Thanks for bringing this up!

That's odd... the shopping cart is mostly unrelated to Stripe, so I'm not sure why this would occur.

I wonder if the Stripe notice is a red herring and the actual problem is something else, like maybe a race condition with account creation (which could be related to the cart ownership errors we see constantly but haven't been able to track down: 410-gh-Automattic/pay

[2021-11-23 17:08] mmtr commented on #57498
Just merged the fix to avoid this issue in future JITMs. Not sure if we want to keep this issue open though, in case we want to track that the Crowdsignal JITM needs to be enabled again.

[2021-11-23 17:11] kspilarski opened #58413 "Alves: Form Block Text Color Different in Editor and Live Page"
### Quick summary

Any form block (from a plugin or Gutenberg's form block) that is over a cover image will show different text color in the editor and the live page.

### Steps to reproduce

1. Activate Alves theme.
2. In a page, add cover block and form block over it (notice the form block texts color)
3. Publish page

### What you expected to happen

The form block text color in the editor is t

[2021-11-23 17:27] worldomonation commented on #55642
I think the best way to approach this is to have a new test, or insert into one of the basic editor tests, the steps to remove blocks. This is essentially what is being tested here, so the `Media` part is not 100% necessary.

[2021-11-23 18:31] happychait opened #58417 "Missing Site Tag box for adding Cloudflare Web Analytics ID for Atomic sites"
### Quick summary

For Atomic sites only, there is no `Site Tag` box to add Cloudflare Web Analytics ID either in Calypso Tools → Marketing → [Traffic](https://wordpress.com/marketing/traffic/) or in the Jetpack → Settings → Traffic page.

Not a problem for Simple sites.

### Steps to reproduce

1. [Sign up to Cloudflare](https://wordpress.com/support/cloudflare-analytics/#step-1-sign-up-to-cloudf

[2021-11-23 18:33] #58352 closed, assigned to scinos, noahtallen

[2021-11-23 19:35] worldomonation commented on #57667
Another occurrence in Gutenboarding: 7025702

[2021-11-23 19:42] worldomonation commented on #57660
Reproduced again on `gutenbergSimpleSiteUser` again.

LocalStorage:
[code]
[code]

[2021-11-23 19:44] WBerredo commented on #58292
This should be as simple as adding a singular and plural version of this text on the `translate` function.

https://github.com/Automattic/wp-calypso/blob/08961f239b9c353bb0b44983d9f7b014db038133/client/my-sites/plugins/plugins-browser/index.jsx#L227-L233

Should be replaced to:
[code]

---

The simplest solution would be adding `display: none` when the `.plugins-browser-item` div is empty

https:/

[2021-11-23 19:45] spraveenitpro commented on #55513
@autumnfjeld  @tyxla

- [ ] match the capitalization that is in the UI , meaning only Site is capitalized, while title and tagline are not capitalized.
- [ ] instead of "...Site tagline and title...", use "...Site tagline and Site title...". (repeat the word Site for added clarity and to match the UI)
- [ ] use bold font for both "Site title" and "Site tagline" to emphasize these are fields the us

[2021-11-23 20:03] worldomonation commented on #57128
Checked that this no longer occurs after upstream issue has been fixed.

[2021-11-23 20:03] #57128 closed, assigned to nobody

[2021-11-23 20:18] worldomonation commented on #56664
No worries - happy to help!

I've tagged the P2 used in this test with `gutenberg-edge`. Is that sufficient to ensure it's running the latest Gutenberg?

Right, that's probably something that should be set up.
For Calypso end-to-end tests, we have a slack channel at #e2eflowtesting-notif.

Here are some options:
- send notifications directly to your team channel (if you have one)
- send notificati

[2021-11-23 20:28] arinoch commented on #58088
@mreishus - My test was performed in Chrome, as was @kimerlin81's verification. I didn't test in Chromium, but given the bug couldn't be reproduced in other browsers I suspect it's specific to Chrome itself. Can you ping me with the P2 link? I'd be interested in seeing if I can reproduce it.

[2021-11-23 20:41] masperber commented on #52182
27339780-hc suggested work around of zooming out in browser worked in this instance

[2021-11-23 20:54] mreishus commented on #58088
It seems that p2s are different and are working fine. When looking at the user and site described here, 2ac61-pb , with google chrome and the support session extension, I am seeing the behavior. While there are only 77 users, I can only scroll down into the "K" area before the scrollbar disappears and I get a popup from chrome telling me it has become unresponsive.

[2021-11-23 21:03] #58144 closed, assigned to dmsnell

[2021-11-23 21:08] #57424 closed, assigned to retrofox

[2021-11-23 21:33] sirbrillig commented on #57960
For now, let's put down what I do know:

- If you see the "empty cart" page, it's because the shopping-cart endpoint has been queried and returned a cart with no products.
- If you don't see any error notices displayed on the "empty cart" page, it means that the shopping-cart endpoint has not returned any errors.
- If there are no error notices in the shopping-cart endpoint and there are no produc

[2021-11-23 21:47] sirbrillig commented on #57960
Oh, one thing I just realized is that if the call to `addProductsToCart()` fails to add a product, it **may not reject its promise**, since the cart endpoint will still return valid cart data (with errors included). So this line will never be called:

https://github.com/Automattic/wp-calypso/blob/ad310497522376dd048a2b7c565f3d63e69a5ebd/client/lib/signup/step-actions/index.js#L456

I'm experimenti

[2021-11-23 21:55] worldomonation commented on #55727
Done!

[2021-11-23 21:55] #55727 closed, assigned to nobody

[2021-11-23 22:08] autumnfjeld opened #58429 "Design Picker: make Blank Canvas option a button, remove it from the list of selectable designs"
## Design Picker:
Make Blank Canvas part of the design/theme shuffle.  Slack convo: p1637678243115700/1637664255.109200-slack-C029SB8JT8S

Examination of user selection of themes in the Design Picker (see Tracks Trends calypso_signup_select_design) shows that the Blank Canvas theme is chosen more than other themes by an order of magnitude.  The Blank Canvas is not currently part of the shuffle of

[2021-11-23 22:12] allilevine opened #58430 "Woop: keep descriptive text in one place"
### Details

Follow-up to https://github.com/Automattic/wp-calypso/pull/58024

Keep all of the descriptive text in one place, rather than passing in props.

https://github.com/Automattic/wp-calypso/blob/7f2b40b1fcb8126eefb45317bfb6990876dca09c/client/signup/config/steps-pure.js#L787-L796

### Checklist

- [ ] Move descriptive text
- [ ] Remove props

### Related

_No response_

[2021-11-23 22:14] autumnfjeld opened #58431 "Design Picker: update Blank Canvas theme"
This is a WIP placeholder ticket.  See discussion about Blank Canvas issues: p1637678243115700/1637664255.109200-slack-C029SB8JT8S

## Design Work
@alaczek and @onuro will work on the theme. Let us know when you are done.
Project: Replace Blank Canvas
Make a child theme of Blockbase that is Blank. Launch it and see if it affects launch rates, 1d conversions for its users.

## Dev work
- [ ] ToDo

[2021-11-23 22:19] allilevine opened #58433 "Woop: check for eligibility substep"
### Details

This will render if we have an unknown step section name. Let's be more explicit here and check that we are on the eligibility substep.

If it's an unknown section name we could either show an error, or log it and move along.

https://github.com/Automattic/wp-calypso/blob/7f2b40b1fcb8126eefb45317bfb6990876dca09c/client/signup/steps/woocommerce-install/confirm/index.tsx#L84

### Checkl

[2021-11-23 22:25] autumnfjeld commented on #58429
@p-jackson @roo2 @arthur791004  I put this at the top of "Ready for Dev" for whoever is ready for their next ticket.

To help spread the metrics love around 😆 I also included the metrics analysis as part of the issue, so whoever takes this issue is  responsible not only for dev work but also following through with A/B monitoring and P2ing about the results.   Is this cool with y'all?   Of course w

[2021-11-23 22:42] katiebethbrown opened #58436 "Feature Request: Option to make Instagram connection available to all administrators, editors, and authors"
### What

Could we make an option to allow the Instagram connection to be available to all users, similar to the Facebook or LinnkedIn connections?

### Why

Currently the connection is only available to the account that created it.

Making the connection available to all admins, editors, and authors similar to the way we do for some of the Publicize connections would allow it to be used for block

[2021-11-23 22:47] SaxonF commented on #58319
Apologies @cpapazoglou , Figma can be found [here](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=0%3A1)

[2021-11-23 23:08] autumnfjeld commented on #55513
Looks great!!  Nice work!

![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=46)

[2021-11-23 23:19] autumnfjeld commented on #56888
Sister issue to this, specifically for the implementation in Blogger Flow: Video UI branch from starting-point screen #58262

[2021-11-23 23:33] jeyip opened #58437 "[Bug]: Site editor row block has excessive layout shifting"
### Quick summary

There’s significant content shifting when we justify items in the row block (center, right, left, and space between) and select it. I tested the behavior with 1, 2 and 3 block children.

![2021-11-18 23 18 00](https://user-images.githubusercontent.com/5414230/143145425-c7568065-2e9c-4d57-a4a8-1d437c8a8beb.gif)

### Steps to reproduce

1. Enable full site editing by activating th

[2021-11-23 23:46] kuropixel commented on #58417
Discovered this on a user's dashboard. 32850143-hc

[2021-11-23 23:59] ollierozdarz commented on #58366
@kwight the intent for this was to be fixed to the bottom only for mobile viewports.

[2021-11-24 00:02] ollierozdarz commented on #57567
@kwight we now have a three dot loader in the blogger flow. Would be happy to reuse that. We could either make it white and place it over the dark Grey page background, or use the existing loading pattern (light Grey page background and dark grey loader).

[2021-11-24 00:06] ollierozdarz commented on #57871
Great suggestion, @kwight! Let's sit on this as a potential idea for the first iteration of this page once it's fully out.

[2021-11-24 00:24] #57420 closed, assigned to retrofox

[2021-11-24 00:43] sirbrillig commented on #57958
I suspect that the rate limiting is a red herring, but we should be able to find out the actual cause from the changes in https://github.com/Automattic/wp-calypso/pull/58428 which should actually display whatever error is causing this.

[2021-11-24 01:57] SaxonF commented on #58281
![image](https://user-images.githubusercontent.com/1072756/143157510-8b1c9be7-ed74-4071-b546-a0f892c2b29f.png)

@cpapazoglou for now a check icon might be ok. We have an illustrator we are working with who might be able to produce a "success" illustration for us at some point. Figma link [here](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=0%3A1)

[2021-11-24 02:26] Greatdane commented on #57725
The user is back again asking for an update.

I can see they are using the widgets as basically a secondary menu. I wonder if we can find a way/workaround to move the **content sidebar** widgets (all 340+ of them) to the menu section, thus reducing the widget load. I am not sure if this will then break the menu section though 😅.

(cc: @dpasque)

[2021-11-24 03:19] joweber123 commented on #53609
Very interesting @donalirl I believe that could be what is happening here. I can now reproduce this not working if I intentionally trigger the border-box to appear.  I'll try to keep an eye out to see if that is only happening when the border-box kicks in or not on my end.

[2021-11-24 04:53] arthur791004 commented on #56252
Closed as https://github.com/Automattic/wp-calypso/pull/58388 is shipped!

[2021-11-24 04:53] #56252 closed, assigned to arthur791004

[2021-11-24 06:44] kosiew commented on #58093
Hi @rachelwinspear ,

Thanks for reporting this and the detailed description.

Triaging for developers' further investigation.

[2021-11-24 06:53] retnonindya opened #58442 "Related Posts: Account language switch is not affecting the "Related Posts" string (translation/localization)"
### Quick summary

When a user saved their "Related Posts" setting in a certain language (language A) then saved Interface Language from Accounts page to another language (language B), the string "Related posts" is not automatically translated.

### Steps to reproduce

1. Open test site. Then go to Settings > Reading: `.../wp-admin/options-reading.php`. On this scenario, lets use English language

[2021-11-24 07:15] kosiew commented on #58225
Hi @goblinartificer,

Thanks for reporting this.

![CleanShot 2021-11-24 at 15 13 42@2x](https://user-images.githubusercontent.com/29057562/143192109-13384734-86ef-4ba3-9d5b-2f38f9c48ea6.png)

Triaging for developers' further investigation.

[2021-11-24 07:49] kosiew commented on #58241
Hi @pauljacobson ,

Thanks for reporting this and the detailed steps.

I would like to report this at https://github.com/woocommerce/woocommerce-force-sells/issues/new

Can you include the SSR for your test site?

[2021-11-24 07:58] kosiew commented on #58265
Hi @arinoch ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-11-24 08:23] KokkieH opened #58443 "Textbook theme: table styling not applied to tables in widget area"
### Quick summary

When adding a table to the widget area in this theme, the styling the theme uses for tables in the content area is not applied, even though the widget preview shows the table correctly styled.

### Steps to reproduce

1. Add a table with a few rows of content to a post or page using the Default style. Also toggle the header and footer row settings on.
2. Add a table to the sideb

[2021-11-24 08:56] ivan-ottinger commented on #58137
When the site is public, videos (and other media) that are uploaded to the Media library can be opened by anyone - even when a post/page where the media is inserted into, is saved as draft. I think this is something we should share with the user.

---

I have tested the behavior and cannot reproduce the issue where the opening of the video file by administrator would increase download stats.

In o

[2021-11-24 08:56] #58137 closed, assigned to ivan-ottinger

[2021-11-24 08:57] cpapazoglou commented on #58292
This code is > 5 years old, I assume this was needed for the CSS used at that time. By removing the JS we can also remove the CSS `.is-empty` rules.

cc @gcsecsey in case he has any reason for not removing this.

[2021-11-24 09:24] arthur791004 commented on #58429
I think I can pick this one. Let me learn how to do A/B experiments first 😄

[2021-11-24 09:48] pauljacobson commented on #58241
Hi there @kosiew, yes sure.

1. SSR - 2ac6e-pb/
2. Fatal error logs after reproducing the error - 2ac6f-pb/
3. Active code in Code Snippets - 2ac70-pb/

[2021-11-24 09:49] cpapazoglou commented on #58283
I would suggest keep showing the "Tested up to":

- better parity with WP core plugin details screen.
- we also have to deal with Jetpack sites with different WordPress versions

[2021-11-24 09:51] arunsathiya opened #58446 "Updating a copied "Pay with PayPal" block works like reusable blocks (affecting other references of the same block)"
### Quick summary

I can't figure a good title here, but I hope the summary explains the issue: editing a copy of the "Pay with PayPal" block makes the update to all previous copies of the same "Pay with PayPal" block. Editing a new "Pay with PayPal" block does not affect the others though.

### Steps to reproduce

- Start with a WordPress.com site on the WordPress.com Premium plan or higher: http

[2021-11-24 10:14] lsl commented on #58387
Some mobile designs to work from, cc @SaxonF

pdhcfv-5D-p2#comment-120
r6eTqDpL2GGk96hcPLhsBb-fi-431%3A2447
https://github.com/Automattic/wp-calypso/pull/58024#issuecomment-977556114

[2021-11-24 10:16] lsl commented on #58331
Updated design for the confirm screen to work from, cc @SaxonF

pdhcfv-5D-p2#comment-120
r6eTqDpL2GGk96hcPLhsBb-fi-431%3A2447
https://github.com/Automattic/wp-calypso/pull/58024#issuecomment-977556114

I'm not sure how we want to split this between the [mobile ux ticket](https://github.com/Automattic/wp-calypso/issues/58387 ) maybe we just close one and tackle it all out of here?

cc @allilevine /

[2021-11-24 10:17] fylgjur commented on #53088
I experienced this too

[2021-11-24 10:22] mtias commented on #58437
This should be addressed in gutenberg trunk. Can you check?

[2021-11-24 10:26] dsas commented on #57955
Removed these defaults in #57832 in favour of solely using the `jitm-engines.php` tracks events.

[2021-11-24 10:26] #57955 closed, assigned to nobody

[2021-11-24 10:50] gcsecsey commented on #57754
I've posted the findings in [this P2](pdt2If-z-p2), let's continue the discussion there.

[2021-11-24 10:50] #57754 closed, assigned to gcsecsey

[2021-11-24 11:02] lezama commented on #56664
hey @worldomonation could we do these?

* notify on start, success and failure to a new channel  #e2eflowtesting-p2
and
* notify only on failure to ##happytools-alerts

[2021-11-24 11:08] #58286 closed, assigned to bogiii

[2021-11-24 11:45] jartes commented on #58322
Noting that we had another case yesterday on p1637680765469600-slack-C03TY6J1A, where the user was getting a `Upload problem: json_syntax` error:

<img width="935" alt="Screen Shot 2021-11-23 at 10 23 09" src="https://user-images.githubusercontent.com/1046943/143232400-53fa515f-5943-4d2b-bbec-9d38b2328901.png">

I was able to reproduce on their site, but not in a test site I have using Cloudflare.

[2021-11-24 11:48] gcsecsey commented on #58292
I think these placeholders  the placeholders serve any purpose any more from a UX standpoint, so I think we can safely remove this. 👍

[2021-11-24 12:23] mrfoxtalbot opened #58450 "Dragging multiple images into the editor returns error message: "Editing this Gallery in the WordPress mobile app requires version 18.2 or higher."""
### Quick summary

I uploaded a few images to a simple site by dragging and dropping them from my computer and it worked, but I got this message:

it does not make any sense since:

- I am not using the APP
- The upload worked just fine.

Environment:

- Gutenberg: v11.9.1
- The issue does NOT happen with the core version of the editor (WordPress 5.8.2)
- This was spotted on a WordPress.com site b

[2021-11-24 12:34] retrofox opened #58451 "Woop: Fix descendant elements issue"

[2021-11-24 12:35] #58451 closed, assigned to nobody

[2021-11-24 12:38] flootr opened #58453 "Refactor away from React `UNSAFE_*` lifecycle methods"
### Details

We want to refactor away from React `UNSAFE_*` lifecycle methods. While this project has been going on for a while we want to track any remaining occurrences here to make sure we don't loose oversight. At the time of this writing there are ~180 of those unsafe lifecycle methods left.

If you need a review or have any questions, please don't hesitate to ping @Automattic/team-calypso-fr

[2021-11-24 13:17] filipanoscampos commented on #54350
I believe I have run into another case of a related bug on this ticket 4540236-zd-woothemes.

When buttons have outlines added to them, it shows on the editor, but not the frontend.

Both I and the HC that worked on the ticket could confirm this on our test sites.

Here is how a button looks with the Twenty Twenty theme on the editor of  my Premium plan test site:
![ScreenshotOutlineEditor](https:

[2021-11-24 14:05] ivan-ottinger commented on #56504
The Query Loop Pagination block is a part of Gutenberg. One of the ways we could fix the issue is to add a check whether there are actual pages available for the pagination. If there are no pages to navigate to, the "Next Page" link wouldn't display in the front-end.

When it comes to back-end, I think it would be worth leaving the default pagination displayed there even when there are no posts to

[2021-11-24 14:22] ariel-maidana commented on #53626
Another report in 32893422-hc
It was solved by setting the site to Private and then to Public again.

[2021-11-24 14:40] allilevine commented on #58331
I think we should work on updating the design (and mobile view) separately. I updated https://github.com/Automattic/wp-calypso/issues/58387 to include both.

[2021-11-24 14:46] #58287 closed, assigned to WBerredo

[2021-11-24 14:46] #58285 closed, assigned to WBerredo

[2021-11-24 14:48] #58283 closed, assigned to WBerredo

[2021-11-24 14:59] cpapazoglou opened #58457 "Implement a way to allow 3pd to support WordPress.com users"
3pd (third party developers) should have a way to promptly respond to WordPress.com users having problems with using their plugins bought from WordPress.com.

[2021-11-24 15:06] autumnfjeld commented on #58431
@simison  Repeating your suggestions p1637747613148000/1637664255.109200-slack-C029SB8JT8S here

Can we use this issue for discussion? And make sure design team, @alaczek , is flagged.

[2021-11-24 15:07] #57960 closed, assigned to sirbrillig

[2021-11-24 15:09] tyxla opened #58458 "Framework: Refactor away from `wpcom.undocumented()`"
### Details

We’re in the process of removing `wpcom-undocumented` in favor of the `wpcom` library. Many have already been removed in recent PRs, but there are still some that need to be refactored and removed.

See p4TIVU-9KX-p2 for more details.

If you need a review or have any questions, please don't hesitate to ping @Automattic/team-calypso-frameworks.

### Checklist

- [x] `undocumented().je

[2021-11-24 15:24] metabreakr opened #58459 "File download stats unavailable in Atomic sites"
### What

Add file download stats to Atomic sites

### Why

From our [documentation](https://wordpress.com/support/stats/#file-downloads):

This is a feature gap when moving from simple to Atomic. I couldn't find another issue reporting this, so am creating this new one.

Advising users to use Google Analytics and Google Tag Manager, or a plugin such as MonsterInsights, isn't the best way to addre

[2021-11-24 15:32] obenland commented on #58283
Can you tell me more about that goal and its rationale? Is there prior discussion around this?

[2021-11-24 15:34] kathrynwp commented on #57711
Ran into this in 30888354-hc

Showed how to use the Highlight tool to make the text on the cover block white that way.

[2021-11-24 15:46] simison commented on #58429
Sure! That can be the case, happy to hear more arguments on why it's still ok experience. :-) My reasoning for random feeling off was that "blank" is not a design as much as it is customer opting into a different kind of experience in lack of suitable designs to start with. You can imply that difference in experience by placement (outside the grid, first in the grid) or by adding context around it

[2021-11-24 17:05] AtrumGeost opened #58462 "Images won't load for users with the Viewer role on Safari when the "Prevent Cross-Site Tracking" option is enabled"
### Quick summary

Users with the viewer role won't be able to see images on WordPress.com websites. The image sources will return a 403 error. This affects Safari both on desktop and mobile:

![Screen Shot 2021-11-24 at 11 58 28](https://user-images.githubusercontent.com/3696121/143282252-53d777f8-3cc7-429e-87ca-03509cd97d48.png)

### Steps to reproduce

1. Get added to a **Private** site as a **

[2021-11-24 17:43] cpapazoglou commented on #58322
@kriskorn, @jartes, @arunsathiya

Seems like we are having three different cases here:

### Adblocker case
Plugins with `ads` terms in their slug get blocked by ad blockers. Also, any request containing `ads` terms in the URL will get blocked. For example the plugin icon won't load
![SS 2021-11-24 at 19 07 08](https://user-images.githubusercontent.com/12430020/143283593-7331c557-3b9a-41c2-b419-e3f

[2021-11-24 17:55] jeyip commented on #58437
@mtias Those we’re my exact thoughts as well, and I did check in my core Gutenberg dev environment before drafting this issue. I was only able to reproduce the problem on dotcom.

Hopefully the fix is already in core Gutenberg, and it’s simply a matter waiting for a future Gutenberg release on dotcom to resolve everything 🤞

[2021-11-24 18:15] #58373 closed, assigned to andres-blanco

[2021-11-24 18:31] andres-blanco opened #58465 "Videos UI: Create and add poster for all videos in course"
Actually the only video with a poster is the first one (added in https://github.com/Automattic/wp-calypso/issues/58074) after https://github.com/Automattic/wp-calypso/issues/58257 is implemented all posters will be needed.

[2021-11-24 18:54] #58258 closed, assigned to andres-blanco

[2021-11-24 18:56] Rolilink commented on #58331
This sounds like a good approach, I wonder if the design and mobile implementations will block each other but I don't think it is a big deal!.

[2021-11-24 19:11] Rolilink commented on #58387
I am a little confused on what each check of this entails in the Figma design Maybe we can divide this ticket per screen @allilevine?

I can totally create a new ticket for the Confirm/warning step with this design r6eTqDpL2GGk96hcPLhsBb-fi-431%3A2447.

[2021-11-24 19:16] JoshuaGoode opened #58466 "Feature Request / Feature Parity: Implement Export Media Library on WPCOM Atomic sites"
### What

Implement Export media library option for WPCOM Atomic Sites.  Potentially extend it to Jetpack sites.

### Why

WordPress.com Simple sites allow users to export a download of their media library under Calypso's My Site > Tools > Export.

![Screen Shot of Calypso's Export media library tool](https://user-images.githubusercontent.com/4887830/143299385-41ba5539-3c05-4378-bdf1-49ba7be37d90.

[2021-11-24 19:35] andres-blanco commented on #58256
functionality added in https://github.com/Automattic/wp-calypso/pull/58432

[2021-11-24 19:35] #58256 closed, assigned to andres-blanco

[2021-11-24 19:39] allilevine commented on #58387
@Rolilink I updated the description to clarify, but feel free to make edits / open additional issues. I think starting with the Confirm/warning step would be great.

[2021-11-24 20:15] Rolilink opened #58468 "Woo Installer: Implement mobile ux and new design - Confirm Step"
### Details

Implement the new design for Confirm Step #58387.
Figma: r6eTqDpL2GGk96hcPLhsBb-fi-431%3A2447

### Info, warnings, and blockers.

![image](https://user-images.githubusercontent.com/77539/143877400-98eb8df6-de4a-4538-85f3-b9905755c849.png)

According to the design above, we need to reorganize the eligibility data in order to apply and handle the different areas in:

* WPCom subdomain w

[2021-11-24 20:16] Rolilink commented on #58387
@allilevine added new issue #58468 and assigned it to me.

[2021-11-24 20:17] kathrynwp opened #58469 "Themes that rely on Gutenberg plugin should show more descriptive error"
### Quick summary

When trying to activate a theme that requires Gutenberg, the error message shown is too generic and asks users to contact Support. We should show a message to activate the Gutenberg plugin instead.

### Steps to reproduce

1. On an Atomic site, disable the Gutenberg plugin
2. At Apperance > Themes, try to activate Blockbase, Arbutus or Zoologist (for example)

### What you expec

[2021-11-24 20:40] glendaviesnz commented on #58450
@mrfoxtalbot although this has the potential to be slightly confusing it has been added as an informational warning because there is a potential data loss error that users could encounter if they added a new Gallery block on the web with Gutenberg 11.9+ and then edited it on their mobile devices < 18.2.

We have no way of knowing if the user might use the mobile app or not, and there is no way to

[2021-11-24 20:48] #58292 closed, assigned to WBerredo

[2021-11-24 20:53] Rolilink opened #58470 "Woo Installer: Implement mobile ux and new design - Transfer step"
### Details

Implement the new design for the transfer step. #58387
Figma Design: r6eTqDpL2GGk96hcPLhsBb-fi-0%3A1

### Checklist

- [x] Check if desktop design is okay (?)
- [x] Check if mobile design is okay (?)

### Related

_No response_

[2021-11-24 20:53] jp-imagines opened #58471 "Balasana: aria-expanded accessibility property does not work on mobile or desktop menu"
### Quick summary

`aria-expanded` is used to indicate the state of an expandable element. In the _Balasana_ theme, this option remains `false`, even when a parent menu item is expanded (with a keyboard or screen reader).

### Steps to reproduce

1. Activate the Balasana theme.
2. Ensure you have at least one "parent" menu item with submenu "child" items.
3. Visit your site, and use the browser in

[2021-11-24 20:57] Rolilink commented on #58470
Mobile UX seems okay to me! cc: @SaxonF @allilevine

![Screen Shot 2021-11-24 at 3 36 09 PM](https://user-images.githubusercontent.com/1035546/143311739-b25790b9-1b96-4d27-a891-87d1f033fd40.png)

[2021-11-24 21:03] Rolilink commented on #58387
@SaxonF added #58470 to discuss any changes needed for the transfer step / progress bar

[2021-11-24 21:03] JoshuaGoode commented on #58466
The media export tool used for Simple sites is available and can be used on Atomic sites in its current form if you work around things.

Right now, it's hidden if `isJetpack` is true: https://github.com/Automattic/wp-calypso/blob/ce378c3322501dee17bd8c1d1af1618b6972e1db/client/my-sites/exporter/section-export.jsx#L32

However, the WPCOM API endpoint is still available.  `https://public-api.wordpre

[2021-11-24 21:55] JoshuaGoode commented on #58466
If this does become available, and can be used to export VideoPress uploads, let's update a user I worked with that needed this.

* p9F6qB-7Eg-p2
* 4430307-zd-woothemes

[2021-11-24 22:08] hacchism opened #58474 "Blank Canvas: Theme colors in Block setting don't match the ones set in Customizer"
### Quick summary

Theme colors in Block setting don't match the ones set in Customizer.the

### Steps to reproduce

1. Activate Blank Canvas theme.
2. Create a new page and add a Paragraph Block.
3. Open the Color tab for the Paragraph Block and check the THEME color.
4. Go to `Customizer > Colors & Backgrounds` and change one of the colors that appear in the color palette and hit "Save Changes".

[2021-11-24 22:43] kwight opened #58478 "Videos UI: `style-video-bar.scss` needs to be removed."
With the videos UI header and footer sections now being their own components with their own stylesheets (#58434, #58472), we can get rid of `style-video-bar.scss`. Anything it contains that are necessary shared styles to both bars should be moved into `styles.scss` for `<VideosUi />`.

[2021-11-24 22:48] worldomonation opened #58479 "Playwright: update `Domains: Add` and `DomainsPage` to support navbar-based popover cart."
### Details

The popover cart that lives in DomainsPage is being removed in https://github.com/Automattic/wp-calypso/pull/57520 in favor of navbar-based popover cart (https://github.com/Automattic/wp-calypso/pull/58467), which will be persistent across screens.

### Checklist

- [x] remove cart methods from DomainsPage.
- [x] implement cart methods in NavbarComponent.
- [x] update `wp-domains__add

[2021-11-24 23:01] #58280 closed, assigned to Addison-Stavlo

[2021-11-24 23:08] autumnfjeld commented on #58429
@simison I agree with you. :).   Thanks for the extra explantation.

@ollierozdarz will suggest some designs similar to
![image](https://user-images.githubusercontent.com/5665959/143323858-3f751932-ffa3-4633-8439-bed1c6fbc0e6.png)

[2021-11-24 23:23] worldomonation commented on #56664
@lezama I've posted a PR here: https://github.com/Automattic/wp-calypso/pull/58463

It's pending review by the folks at Team Calypso and it should start working once it's approved and merged.

[2021-11-25 01:07] arunsathiya commented on #52241
Requested in 32813550-hc.

[2021-11-25 01:20] kosiew commented on #58260
According to https://github.com/woocommerce/woocommerce/issues/27954, products are already included in WordPress Core XML Sitemap.

[2021-11-25 01:39] kosiew commented on #58241
Transferred to https://github.com/woocommerce/woocommerce-force-sells/issues/56

[2021-11-25 01:39] #58241 closed, assigned to nobody

[2021-11-25 01:44] kosiew commented on #58266
Hi @arinoch ,

Thanks for reporting this.
Triaging for developers' further investigation.

[2021-11-25 01:59] kosiew commented on #58323
Hi @daria2303 ,

Thanks for reporting this.

Can I confirm the theme is Dyad 2, instead of Dyad?

Here is how it looked when I tested on Dyad 2.
In other words, the sub menu is visible to be clicked.
![image](https://user-images.githubusercontent.com/29057562/143364570-9b623407-a4dc-4fcc-82e8-38b707c458f3.png)

[2021-11-25 02:11] lsl commented on #58331
Sounds good to me.

[2021-11-25 03:29] gavande1 commented on #55789
D70630-code 🚧

[2021-11-25 04:11] arthur791004 commented on #58429
Yeah, I totally agree with @simison.

@autumnfjeld In my opinion, I think we don't need an A/B test anymore as the user can still select the blank canvas at a first glimpse when they land on the Design Picker. Thus, the step conversion rate or flow completion rate won't be affected. But I'll take care about the metrics after shipping this change.

[2021-11-25 04:45] Rolilink commented on #58470
This is done, is just a ticket to review the progress bar ... will leave it on needs review until we are ready to merge the deliverables for this cycle.

[2021-11-25 05:58] retrofox commented on #58331
Also, I think we could split up in landing page and transferring step?

Landing page | Transferring step
-----|-----
![image](https://user-images.githubusercontent.com/77539/143387670-07aa82ea-d9e1-44f7-aebe-8791526554e0.png) | ![image](https://user-images.githubusercontent.com/77539/143387826-b2323b00-1e5a-4754-a89f-4d230a0b10e6.png)

[2021-11-25 06:14] Robertght opened #58484 "Reader: add category-level blocking"
### What

It would be great to have a way to block categories in Reader so the users have more control over their recommended feeds or while searching through it.

### Why

This should eliminate the potential unwanted categories from the feeds.

Requested in: #4540733-zen

### How

_No response_

[2021-11-25 08:18] kylemcph commented on #52520
Another report in 28814480-hc. We switched to public, loaded images in the media library, then switched back to private. I also suggested switching to Coming Soon to resolve.

[2021-11-25 09:00] kosiew commented on #58330
Hi @serabi ,

Thanks for reporting this.

Triaging for developers' further investigation.

[2021-11-25 09:06] kosiew commented on #58332
Hi @arinoch ,

Thanks for the suggestion.
Triaging for developers' further investigation.

[2021-11-25 09:11] kosiew commented on #58332
@villanovachile ,

Could this be added as an [incompatible plugin](https://wordpress.com/support/incompatible-plugins/)?

[2021-11-25 09:15] kosiew commented on #58342
Hi @kspilarski ,

Thanks for the suggestion.

Triaging for developers' further investigation.

[2021-11-25 09:35] kosiew commented on #58358
Hi @Gustavo-Hilario ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.
Triaging for developers' further investigation.

[2021-11-25 09:59] arunsathiya commented on #58446
Also posted here: pNPgK-5B3-p2 cc @inaikem

[2021-11-25 10:16] carinapilar commented on #56504
That sounds great to me, thanks @ivan-ottinger! 😃

[2021-11-25 11:11] Robertght commented on #58371
I can't seem to replicate this with my test sites, on your accounts, or the user's.

Could you double-check if this is still happening on your ends @msilbers @happychait ?

[2021-11-25 11:18] Robertght commented on #58394
Thank you for reporting this @devNigel !

I was able to replicate the behavior where the Premium plan is added to the cart when trying to connect a domain.
However, a connected/mapped domain will only work if there's at least the Personal plan present.

cc @Automattic/pod-domains for a second look.

[2021-11-25 11:21] Robertght commented on #58375
This might be part of the auto-revert process.

cc @jmdodd for a second look.

[2021-11-25 11:37] WunderBart opened #58492 "E2E: Add tests for "Image Replace" and "Cover Styles" CoBlocks extensions"
Our custom CoBlocks build for Simple sites provides the following extensions to the Gutenberg editor:

- Attributes (support for extra attributes, necessary for e.g. the Gutter Control extension)
- Cover Styles (visual style for the Cover block, e.g. “Top Wave”)
- Replace Image (adds the “Replace” button to the Image block)
- Gutter Control (additional gutter controls for various blocks, e.g. the

[2021-11-25 11:53] LauraSWP commented on #56180
+1 Another user also requested this

[2021-11-25 11:58] hannahtinkler opened #58496 "Purchases: Adaptions to support IAP purchases"
### What

Remove purchase management options for read-only purchases and add 'IAP' as a visible payment method.

### Why

In-app purchases made via the app store are not manageable by Automattic. They can only be renewed/cancelled/removed/refunded/have auto-renew disabled by the user in their app store account. For IAP purchases, we should hide the purchase management options. We should also show

[2021-11-25 12:02] pauljacobson opened #58497 "Conditional Payments and Shipping: PHP Fatal error: Uncaught Error: Call to a member function get_cart() on null"
### Quick summary

Our customer reported a 404 error that occurs when the user proceeds to Checkout on a site that has the [Conditional Shipping and Payments](https://woocommerce.com/products/conditional-shipping-and-payments/?aff=10486&cid=1131038) extension, WPML Multilingual CMS and WooCommerce Multilingual plugins enabled.

This issue only occurs when proceeding to checkout using a language th

[2021-11-25 12:12] cpapazoglou opened #58499 "Plugin browser item: add "Requires a plan upgrade" for free plugins"
figma designs: oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A47228

"Included in your plan" can be handled in a separate PR

<img width="408" alt="SS 2021-11-25 at 14 13 09" src="https://user-images.githubusercontent.com/12430020/143439752-c6c57994-bcd7-4a1a-8996-269add8dbe05.png">

[2021-11-25 12:14] cpapazoglou opened #58501 "Plugins Navigation: add a way to go back to search results"
Scenario:
- User searches woocommerce
- Clicks on WooCommerce subscriptions
- They should be able to go back to the search results from the Header Navigation

figma designs: oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A49583

<img width="949" alt="SS 2021-11-25 at 14 14 49" src="https://user-images.githubusercontent.com/12430020/143439964-7c9c51d1-ffc2-4050-bc82-c17ec3d73c01.png">

[2021-11-25 12:18] cpapazoglou opened #58503 "Plugin Install: properly style the eligibilities popup"
Scenario:
- On a free site, try to install a free plugin
- You should an eligibility popup which needs some styling

|Current | Designs|
|-------|------|
|<img width="1136" alt="SS 2021-11-25 at 14 19 10" src="https://user-images.githubusercontent.com/12430020/143440585-8887a088-2ce6-4509-82b2-1eb4ccd8cd89.png">|<img width="950" alt="SS 2021-11-25 at 14 19 25" src="https://user-images.githubuserco

[2021-11-25 12:21] WBerredo opened #58504 "Plugin browser item: add "Installed on # sites" on multi-site view"
On Plugins Browser multi-site view. As per figma design oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A47242

![Screen Shot 2021-11-25 at 08 20 58](https://user-images.githubusercontent.com/5039531/143440982-dd817a6c-57d9-4674-a1fe-fb143c6b04b3.png)

[2021-11-25 12:22] cpapazoglou opened #58505 "New announcement modal, announcing paid plugins"
Let's update our announcement modal for the plugins page with new copy and illustration regarding the paid plugins!

https://github.com/Automattic/wp-calypso/blob/08961f239b9c353bb0b44983d9f7b014db038133/client/my-sites/plugins/plugins-browser/index.jsx#L517-L521

<img width="442" alt="SS 2021-11-25 at 14 23 55" src="https://user-images.githubusercontent.com/12430020/143441243-00de3659-addb-4b06-8

[2021-11-25 12:25] cpapazoglou opened #58506 "Make sure that plugins short description doesn't have widowed words."
Let's use the preventWidows function so that no word is windowed in a new line in the plugin description.

https://github.com/Automattic/wp-calypso/blob/26b626c2da1e079a3ebf62f6c0fced059d60cc5e/client/lib/formatting/prevent-widows.js#L10-L15

![SS 2021-11-25 at 14 26 44](https://user-images.githubusercontent.com/12430020/143441593-e6dbbed9-5dc4-4d82-9fed-3b4e14ac532e.png)

[2021-11-25 12:39] cpapazoglou commented on #55575
FWIW, there is already a POC for buying a plan and a plugin in single checkout operation buy buying YOAST in

`https://wpcalypso.wordpress.com/marketplace/test/[DOMAIN]`

![image](https://user-images.githubusercontent.com/12430020/143443404-d864bc53-1c7f-4321-a5d8-b208fcfc9e01.png)

but the flow seems currently broken

[2021-11-25 12:41] rcrdortiz commented on #58107
#### Experiment with adding a min width to the title column on medium and large screens.
There is currently an open issue about this #51388. We can tackle it there since there already is an open conversation about the solution.

#### Investigate why the sidebar collapses between 782px and 960px, but only when resizing. Is it intended? Should we fix it?
Once we reach a screen resolution of 782 or l

[2021-11-25 13:18] jartes commented on #58322
@cpapazoglou We are still waiting user reply on 4539352-zd-woothemes to check if they have any firewall rule in place.

[2021-11-25 13:31] Copons commented on #58107
@rcrdortiz Thanks for the thorough investigation and comment, this is extremely helpful! ✨

Sounds good to me! 👍

Given it's the same behaviour happening in Core, and that it's just not a big deal, I agree with you that it's better to leave it alone.

I can't repro this anymore as well.
I distinctly remember a `padding-left: 50px` applied to the post type heading, so I guess it must have been fixe

[2021-11-25 13:31] #58107 closed, assigned to rcrdortiz

[2021-11-25 13:39] jartes opened #58508 "Plugin Upload: not possible to upgrade / downgrade plugins by uploading a zip file"
### Quick summary

On the new Plugin Marketplace is not possible to update custom plugins by uploading a zip file with the new version

### Steps to reproduce

1. On an Atomic site, install a custom plugin. You test it with this one: [my-custom-plugin.zip](https://github.com/Automattic/wp-calypso/files/7603262/my-custom-plugin.zip)
2. Then, try to update it by uploading the new version in a zip fi

[2021-11-25 13:43] andres-blanco opened #58509 "Videos UI: Refactor the accordion UI to its own component"
The accordion UI is getting quite long and complex to be inside the main Video UI component, it would be good to separate it in its own component.

[2021-11-25 13:51] andres-blanco opened #58511 "Videos UI: Back button is broken on mobile"
After the refactor of the header bar the back button stopped working on mobile.

[2021-11-25 14:01] Nic-Sevic commented on #53716
Another report here 32909395-hc where only the Video block (with video selected from media gallery) rendered as link in live site.
When using a video block and adding the video via URL it embeds fine.
Both videopress embeds worked fine in live (shortcode and block) although both show as code only in editor.

[2021-11-25 14:31] mrfoxtalbot opened #58514 "[Hosting Configuration] Explain how symlinked plugins/themes work"
### What

Explain how plugin and theme file editing works in WordPress (in general) and how symlinking works on AT sites (in particular) to the Add Hosting Configuration section to reduce confusion.

### Why

We regularly have users contact us confused that they cannot edit their symlinked themes and plugins. We should expand the info we offer in the SFTP setup section to explain why we do this an

[2021-11-25 14:45] philnick206 commented on #49109
Adding another request for this type of feature here #32893540-hc

[2021-11-25 15:34] KirkwallDay opened #58517 "Watson theme doens't infinite scroll on atomic sites."
### Quick summary

Using the Watson theme on an atomic site with Jetpack Infinite Scroll enabled does not work. The loading spinner will spin endlessly when you reach the bottom of the page.

### Steps to reproduce

1. Have an Atomic site and set the theme to Watson.
2. Ensure "Latest Posts" is set as the homepage and have 10 or more posts.
3. Ensure Jetpack Infinite Scroll is on.
4. Visit the hom

[2021-11-25 15:42] andres-blanco commented on #58257
When this is done we will need the posters https://github.com/Automattic/wp-calypso/issues/58465

[2021-11-25 16:04] jartes commented on #58459
@metabreakr Thanks for reporting! This is already reported on #36197 so I'll close this one :)

Also, if you had any interaction regarding this, please, add it to #36197. Thanks!

[2021-11-25 16:04] #58459 closed, assigned to nobody

[2021-11-25 16:29] kwight opened #58521 "Videos UI: Add a readme file for the main component."
Let's add a `readme.md` file to `client/components/videos-ui/`, explaining how the component works, and how the header and footer component props can be used.

[2021-11-25 16:42] #58184 closed, assigned to kwight

[2021-11-25 16:42] #58207 closed, assigned to kwight

[2021-11-25 16:42] #58366 closed, assigned to kwight

[2021-11-25 17:08] msilbers commented on #58371
@Robertght this was resolved by Greenhouse without the issue, I'll close it now

[2021-11-25 17:08] #58371 closed, assigned to nobody

[2021-11-25 17:10] gutenberg-plugin-upgrade-bot[bot] opened #58522 "Gutenberg: v12.1.x plugin upgrade"
**Gutenberg v12.1 will be skipped on WordPress.com in favor of Gutenberg v12.2**

Previous upgrade: #58264
Release notes: [v12.1.0](https://github.com/WordPress/gutenberg/releases/tag/v12.1.0)

**Install and activate**
- [x] Copy & install v12.1.0-rc.1 (D70893-code, D70894-code)
- [x] Activate v12.1.0-rc.1 on edge (D70895-code)
- [x] Copy & install v12.1.0 (D71228-code, D71230-code)
- [x] Activate

[2021-11-25 17:10] fullofcaffeine commented on #58264
Next one: https://github.com/Automattic/wp-calypso/issues/58522.

[2021-11-25 17:25] carinapilar opened #58523 "Improve Activity Log Page"
### What

The Activity Log page is very Business-plan-centric, we could adjust for Premium users.

### Why

Two suggestions:

- On Free sites, there's an upsell to upgrade to get more information on the activity log, but once in a paid plan, you actually can't restore the site to a previous point as you would do with a Business plan, so that would also be a nice upsell to offer to users.

- The de

[2021-11-25 18:14] andres-blanco opened #58525 "Videos UI: fix errors when loading the UI"
There is some malformed svg attributes that generate errors in the JavaScript console.

* ![image](https://user-images.githubusercontent.com/375980/143486858-42af68f5-79ad-4d4f-91a3-dbb3ac7ccf50.png)
* ![image](https://user-images.githubusercontent.com/375980/143486868-18001eca-8a85-4507-bfb3-6c090970f58d.png)
* ![image](https://user-images.githubusercontent.com/375980/143486961-7e7c13b4-5b2e-4a14

[2021-11-25 19:27] glendaviesnz commented on #58450
@mrfoxtalbot That wording is much clearer - we should have got you to check the original PR! I will see if we can sneak that change in. Thanks for suggesting it.

[2021-11-25 19:32] andres-blanco opened #58529 "Videos UI: Fix alignment of accordion UI icons"
The disclosure icon and the viewed checkmark are not aligned, this should be corrected.

![image](https://user-images.githubusercontent.com/375980/143493346-76c8613d-75c1-40d4-91e4-3035fdd27a7a.png)

[2021-11-25 19:42] #58257 closed, assigned to andres-blanco

[2021-11-25 20:11] #58525 closed, assigned to andres-blanco

[2021-11-25 21:11] metabreakr opened #58532 "Rockfield theme: rounded buttons have square borders"
### Quick summary

With the Rockfield theme, buttons are styled to as to appear having an inner and outer border. This works great, so long as the button remains square:

<img width="757" alt="Screenshot on 2021-11-25 at 14-03-55" src="https://user-images.githubusercontent.com/39252765/143499770-fa2e098b-4c46-4bc1-8199-9a4be422a3b9.png">

However, when a border-radius is applied in the block edito

[2021-11-25 21:15] ollierozdarz commented on #58429
Let's use the following designs.

By placing the button below the categories, we're de-emphasizing it enough to not be the first logical element to click. Also, showing the button above categories on mobile just feels like the wrong decision (I also don't think the current 50/50 button & category split on the 'Insert blank page' provides the best experience).

I removed the (i) tooltip, I think at

[2021-11-25 21:16] ash1eygrace commented on #55333
4546235-zd-woothemes

[2021-11-25 23:17] cuemarie opened #58535 "Pay with PayPal Block Widget broken on Premium Plan Sites"
### Quick summary

The Pay with PayPal *block* widget seems to be quite broken on Premium Plan sites. The widget doesn't save all the title and description added in the editor, and the widget won't display on the live site, when using either method of building widgets.

While the block can't be _used_ on lower plan sites, I am able to edit the block and see the stand-in message telling me to upgra

[2021-11-26 03:20] mriyazuddin commented on #57725
I see user has a number of inactive widgets too. I'm asking them to remove those widgets and then try adding a new one.

[2021-11-26 04:59] arthur791004 commented on #56114
Close this via https://github.com/Automattic/wp-calypso/pull/58340

[2021-11-26 05:00] #56114 closed, assigned to nobody

[2021-11-26 06:20] arthur791004 commented on #58302
Now the support articles would be

| Default | The user with write intent |
| - | - |
| ![image](https://user-images.githubusercontent.com/13596067/143409664-8a6dc64d-f0f5-42c1-ae8a-21ccec854bc8.png) | ![image](https://user-images.githubusercontent.com/13596067/143409620-2cf28fa6-f8bc-407c-be7b-36edb917e694.png) |

[2021-11-26 06:53] gavande1 opened #58537 "Marketplace: Remove plugin installation flow after site transferred to Atomic"
### Details

Remove the old implementation of installing a plugin when the site is transferred to Atomic. This is necessary to test the new woa-* functions implementation.

[2021-11-26 06:54] arthur791004 commented on #56669
Close it via D70483-code, https://github.com/Automattic/wp-calypso/pull/58483, and https://github.com/Automattic/wp-calypso/pull/58388

[2021-11-26 06:54] #56669 closed, assigned to arthur791004

[2021-11-26 06:59] gavande1 commented on #58537
D70687-code

[2021-11-26 07:33] sophiegyo commented on #56972
I've also been able to replicate this with a slightly different number on two different sites on wpcom.
Numbers were `44,125,098` and `44,125,109`.

The issue is that the widget iframe seems to have an entire page hardcoded in there (HTML tags, header, JS, body, and all); I have no idea what page that is though. It's not a URL. There's some `math.Random` in that hard-coded stuff, and I wonder if i

[2021-11-26 08:11] rcrdortiz commented on #58107
Updated my original message with a link to the right PR.

[2021-11-26 08:17] arunsathiya opened #58538 "[Bug]: Resizing browser window on a "Full width" slideshow block does not resize the images on Chromium browsers"
### Quick summary

On a slideshow block that is set to "full width", resizing the browser window to be at small widths and then back to full width does not resize the images in the slideshow. This happens only on Chromium-based browsers. Firefox is fine.

### Steps to reproduce

- Start with a WordPress.com site with any theme.
- Add a slideshow block to it.
- Add images to it.
- Set images to app

[2021-11-26 08:20] arunsathiya commented on #58538
Seems okay on Safari too:

https://user-images.githubusercontent.com/18581859/143549287-dda6a8c6-450a-4543-acb5-766c8f628e83.mov

[2021-11-26 10:11] devNigel commented on #58394
Yes, we also clarify that to the user. There's a notice on the page to search domain.

[2021-11-26 10:17] gcsecsey opened #58539 "Plugin Browser: show inactive state on plugin card"
In the Plugins Browser, plugins that are installed but deactivated are shown with the green `Installed` badge (eg. on the images below, Yoast SEO is installed but not currently active). This is a bit misleading UX, as the user won't be able to find the installed plugins on the sidebar or use them.

![image](https://user-images.githubusercontent.com/11555574/143565180-8c84ea72-79f6-445d-86cc-de8982

[2021-11-26 11:09] Robertght commented on #58442
I'm not able to replicate this at the moment.

@retnonindya is there a website we could see this happening or have you noticed if this happens only with a specific theme?

[2021-11-26 11:16] Robertght commented on #58497
I have reported this in the plugin repository for further debugging so I'm closing this one.

[2021-11-26 11:16] #58497 closed, assigned to nobody

[2021-11-26 11:21] Robertght commented on #58508
cc @cpapazoglou for this one

[2021-11-26 11:39] Robertght commented on #47108
I cannot replicate this anymore so I'm closing it, but feel free to open a new report if needed.

[2021-11-26 11:39] #47108 closed

[2021-11-26 11:44] retrofox commented on #58331
- [ ] Transferring step: https://github.com/Automattic/wp-calypso/pull/58527

[2021-11-26 11:59] Robertght commented on #48814
I can confirm this is still happening.

[2021-11-26 12:08] simison opened #58544 "[Bug]: blank canvas doesn't show up page template picker anymore"
### Quick summary

The blank canvas used to show the page template picker by default when opening the editor the first time. This has stopped working at some point — I've tested both `/new` and `/start` flows:

https://user-images.githubusercontent.com/87168/143578838-bfcd8cdf-94ca-42d7-8d07-585fd7fb20f1.mov

I would expect identical experience to adding a new page:

https://user-images.githubuser

[2021-11-26 13:15] rachelwinspear commented on #56468
Another report:
32511675-hc
4547317-zen

Screenshot of how the widgets show up blurry, until they are clicked on:
![Annotation on 2021-11-26 at 12-05-05](https://user-images.githubusercontent.com/44442769/143586685-36a9411a-2819-48df-9eee-57c3f79819db.png)

[2021-11-26 13:28] #55513 closed, assigned to spraveenitpro

[2021-11-26 13:34] druesome commented on #57841
I did some testing and I was able replicate the issue on a simple WordPress.com site when I insert the survey on a post using the shortcode block, and also when I paste the shortcode into an HTML block:

[code]

The  issue, however, does not happen when I insert the direct link to the survey:

https://druesome-329309-19.survey.fm/awesome-survey

The culprit seems to be the file called `rule-conten

[2021-11-26 13:53] cpapazoglou commented on #58283
Since we have forced users to use Calypso instead of WP Admin we got user reports that the new interfaces are lacking behind the WP Admin interfaces. The rationale of bringing some parity is not to frustrate users regarding the changes right before we launch the paid plugins (which they will further "bloat" the Plugins Browser).

Yes, here is an issue https://github.com/Automattic/wp-calypso/issue

[2021-11-26 14:49] WBerredo commented on #58297
Considering we'll be able to identify that a plugin installation was not initiated by the customer(#58493), I think we can give the customer the chance to proceed with the installation, giving the idea of successful operation instead of an error.

This way the installation link could be used directly but in a safe manner.

Ex:
![Screen Shot 2021-11-26 at 10 38 57](https://user-images.githubusercon

[2021-11-26 15:48] cpapazoglou commented on #58297
I like this idea @WBerredo, cc @gcsecsey

[2021-11-26 15:57] poeticabdul commented on #53626
Another report in 4547559-zen
Solved by setting the site to Private and then to Public again

[2021-11-26 16:09] gcsecsey commented on #58297
I think this is a brilliant idea @WBerredo! 🎉

To make the implementation more straightforward, I think we should add this in a follow-up PR, after we've handled plugin icons in https://github.com/Automattic/wp-calypso/issues/58281#issuecomment-975573046

[2021-11-26 18:40] paxblueribbon commented on #57711
Had something similar in 32927342-hc / 4548270-zd

They don't have the Cover Block at all though, they have the group block.  Not sure if this is the same bug or not.

[2021-11-26 19:47] thekingsprojects commented on #57431
Hello! I'm just commenting to check in and see if anyone has had any ideas about this yet? The user would appreciate any sort of update or workaround, if at all possible.

[2021-11-26 20:55] davipontesblog commented on #51076
User could have used this here: 32750926-hc

[2021-11-26 22:39] Greatdane commented on #58538
Can confirm on Chrome;

https://user-images.githubusercontent.com/5075840/143659348-8b2cad09-c342-4af7-93ba-19388b7a8f44.mp4

[2021-11-27 05:58] kosiew commented on #53716
Additional finding.

I noticed that I can consistently reproduce the video block showing only code by  doing this:

1. upload video to VideoPress
2. Uncheck the Share box

![image](https://user-images.githubusercontent.com/29057562/143669959-4d43d3bd-506b-4474-a799-1aa7a7f47e4e.png)

Once, it is unchecked, the video will always display as code, even if I subsequently check the Shared box.

[2021-11-27 06:15] SaxonF commented on #58279
Sorry I missed this @cpapazoglou ! Great pickup. Any values over 50 should be accessible on white background

[2021-11-27 07:49] galakhyati commented on #56922
Similar issue happening in the widget area in these two cases:

4547731-zd-woothemes
31403958-hc

[2021-11-27 08:20] sarahcada commented on #56922
Another report happening in the widget area: 32932316-hc
The block was Blog Posts block.
The customer's content was recovered by going to an earlier revision of the page through Appearance > Widgets.

[2021-11-27 11:30] galakhyati commented on #56922
The user in #4547731-zd-woothemes shared the issue only happens on the Customizer > Widget.
When editing the widget from My Site → Appearance → Widgets it works fine.

[2021-11-27 12:25] galakhyati commented on #56922
Another case here: #4547072-zd-woothemes

[2021-11-27 12:33] kimerlin81 commented on #58088
Hi @arinoch! Sometimes third-party themes/plugins can influence how the dashboard behaves. We notice that the user has a plugin called user-role-editor. Since we're not able to replicate this issue outside of a support session, we'd like you to continue troubleshooting to rule out any type of plugin/theme conflict. We'll close this issue for now, but please feel free to reopen if needed.

[2021-11-27 12:33] #58088 closed, assigned to nobody

[2021-11-27 16:34] ChrissiePollock opened #58555 "Make Sync Trouble Warnings More Obvious"
### What

Customer requested that warnings about syncing become more obvious.

### Why

I got really unlucky that it happened, I should have noticed that small icon indicating it's struggling to save note for far longer than usual and stop typing, but I haven't and unaware continued for few hours. Perhaps Simplenote can pop up a more explicit warning saying it has a problem with connecting to serv

[2021-11-27 18:10] the-curioustech commented on #49499
This worked perfectly.  Thanks!

[2021-11-28 00:29] kuropixel commented on #44844
User is wanting to be able to issue coupons/free passes for users to access content behind Premium content blocks.
32941757-hc

[2021-11-28 07:07] kuropixel opened #58556 "Selected Video Thumbnails don't appear when in Media & Text blocks"
### Quick summary

Any videos that have a custom thumbnail set in the media library will not display those thumbnails when the video is inside a Media & Text block.

### Steps to reproduce

1. Assign a custom thumbnail or specific video frame for thumbnail in media library
2. Use a Media & Text block and add video from library or by uploading.
3. Video does not display the set thumbnail in editor

[2021-11-28 07:16] sharonlaker19 commented on #57812
+1 at 32926776-hc
User Agent: Mozilla/5.0 (iPad; CPU OS 14_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/96.0.4664.53 Mobile/15E148 Safari/604.1
Suggested workaround for now.

[2021-11-28 08:56] pauljacobson opened #58557 "USPS Shipping Method: Additional weight in requests when using the Pack into Boxes method"
### Quick summary

While investigating a customer's query regarding logs for the USPS Shipping Method, I noticed that requests for shipping rates when using the recommended *Pack into boxes* method added one pound to the shipping rate used to calculate shipping rates.

I'd like to clarify if this is intended, or whether this is a bug as this additional pound does not seem to be included when using

[2021-11-28 10:46] tellisbethel commented on #55504
Letting the following user know we'll get back to them as soon as a fix is released: 4417437-zd-woothemes

[2021-11-28 20:06] happychait commented on #56922
Encountered the `Copy Error` in the Customizer, last week in 4546706-zen. The site had the Latest Posts block widget.

Here is the copied error:

[code]

[2021-11-28 20:50] jerrysarcastic opened #58558 "Libretto: Sub menus are cut off at the right side of the screen when long page titles are present"
### Quick summary

When a sub-menu is added to Libretto, and has page titles that are long, the text of the title is cut off, and the sub menu itself is uncomfortably close to the right side of the viewport.

<img width="420" alt="Screenshot on 2021-11-28 at 12-45-43" src="https://user-images.githubusercontent.com/1967448/143785361-03cbbc85-8e36-4d15-a21c-d07d0e535901.png">

### Steps to reproduce

[2021-11-28 21:27] p-jackson commented on #58544
I can't reproduce this issue using the `/new` flow. [The code for showing the "Add a page" modal instead of the welcome guide is here](https://github.com/Automattic/wp-calypso/blob/84c520f6447ad9cc6c81df70f5a78f55fb1a6d91/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/class-wp-rest-wpcom-block-editor-nux-status-controller.php#L79), and when I test it it's working as expected.

[2021-11-28 22:34] happychait commented on #56922
Another report in 4550914-zen

[2021-11-29 01:37] kosiew commented on #58535
Hi @cuemarie ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.

Triaging for developers' further investigation.

[2021-11-29 01:52] retnonindya commented on #58442
@Robertght Hi Robert! Thanks for looking into this! This happens on my test site:
https://premiumtestsite.corianderpho.blog/

This is the screen recording (video).

https://user-images.githubusercontent.com/44726232/143796690-726ca045-2049-4ca8-bb77-30ab86e4da0c.mp4

However, now that I think of it; it seems like this is not a bug, but more on flow? 🤔  After we changed our interface language, we n

[2021-11-29 01:58] happychait commented on #56922
Another report in 32938918-hc

[2021-11-29 02:32] p-jackson commented on #57837
The errors when using Payton have been fixed by D70425-code. Kerr still has an error in the subscribe button.

This:
<img width="1022" alt="Screenshot 2021-11-29 at 3 25 52 PM" src="https://user-images.githubusercontent.com/1500769/143799183-f6fad4cf-9727-4dba-b963-523c130e5cff.png">

Should look like this:
<img width="1022" alt="Screenshot 2021-11-29 at 3 26 27 PM" src="https://user-images.github

[2021-11-29 02:39] p-jackson commented on #57837
D70425-code has been deployed which hopefully fixed this? I tested a new FSE site created with Quadrat, opened `/site-editor` and didn't see any validation errors. But I never tested or reproduced the issue. @creativecoder could you re-test now that D70425-code has been deployed?

[2021-11-29 02:43] p-jackson commented on #58150
D70425-code has been deployed. I ran through the steps to reproduce and didn't get any validation errors, but I also never saw the issue to begin with. Would you mind retesting @donalirl ?

[2021-11-29 02:48] yashitamittal11 commented on #57043
Another one- #32955829-hc

[2021-11-29 03:33] happychait commented on #56922
Another report in 4548849-zen

[2021-11-29 03:51] happychait commented on #56922
Another issue in #4547072-zen. On the user's site, the widgets are not even available on the WP-Admin Widgets page. which is empty, although widgets throw the TypeError in the Customizer → Widgets panel.

[2021-11-29 05:01] kosiew opened #58559 "Import XML fails with 413 status code for "POST /sites/200317893/imports/new"
### Quick summary

Customer is exported a file from a GoDaddy WordPress site.
The XML file is included in #4552001-zen

The import fails with this error:

![image](https://user-images.githubusercontent.com/29057562/143811408-1d2369af-baae-47ec-ad92-11494ce6d368.png)

### Steps to reproduce

1. Start at Tools > Import on a Simple Site
2. Import the xml file

### What you expected to happen

Import

[2021-11-29 05:03] kosiew commented on #58559
@vishnugopal ,
Can you take a look?

[2021-11-29 05:05] #58537 closed, assigned to gavande1

[2021-11-29 05:07] gavande1 commented on #58537
Closing this in favor of an alternative approach. Please look comment at D70687-code#1462817

[2021-11-29 06:06] formosattic commented on #53626
+1 32104112-hc
 Solved by setting the site to Private and then to Public again

[2021-11-29 07:43] Sandkorner commented on #58508
Just commenting to say that had a user in chat as well with the issue. 32958538-HC

/wp-admin/plugin-install.php. helped the user out.

[2021-11-29 07:43] vishnugopal commented on #58161
Fixed in D70481-code

[2021-11-29 07:43] #58161 closed, assigned to nobody

[2021-11-29 07:43] vishnugopal commented on #58162
Fixed in D70481-code

[2021-11-29 07:43] #58162 closed, assigned to nobody

[2021-11-29 08:52] WBerredo opened #58566 "Bugfix: Add a plugin from low-tier plan on self-hosted Jetpack sites"
#### Description
The plugin installation on self-hosted Jetpack sites for low-tier plan customers is showing an error about plan upgrade. But the plugin installation is being triggered and the plugin is being installed on the site.

#### Demo
![Kapture 2021-11-29 at 05 10 06](https://user-images.githubusercontent.com/5039531/143839477-4f830ce2-7dde-4d92-a596-59044b55f658.gif)

[2021-11-29 09:11] daria2303 commented on #57415
One more, text widget, simple site #32946455-hc

[2021-11-29 10:19] #58566 closed, assigned to WBerredo

[2021-11-29 10:22] #58279 closed, assigned to WBerredo

[2021-11-29 10:50] #57747 closed, assigned to WBerredo

[2021-11-29 11:37] BogdanUngureanu opened #58572 "[Bug]: Domain modal overlaps with Nav-unification in paid-upgrades.php"
### Quick summary

Domains edit modal overlaps nav unification in paid-upgrades.php. This happens because the modal does not account for the increased size of nav-unification.

However, it should be noted that it only happens for HEs and only for sites that they are part of (have at least one capability).

cc @shamserSuzon

### Steps to reproduce

1. Go to Store Admin
2. Search a user by Username/

[2021-11-29 12:04] BogdanUngureanu commented on #50765
@davipontesblog I've managed to reproduce this issue with nav-unification disabled. Looks like it might be a Gutenberg issue; therefore, I've created a separate issue for it: https://github.com/WordPress/gutenberg/issues/36953

@shamserSuzon Since the issue is not related with third-party plugins/themes, I've created a separate issue for this based in your screenshots: https://github.com/Automatti

[2021-11-29 12:20] #58291 closed, assigned to WBerredo

[2021-11-29 12:28] flootr opened #58574 "Migrate the media library to use React Query"
tbd

[2021-11-29 12:48] tellisbethel commented on #58462
Just came across this issue in a chat where a user came in specifically asking for a way to deal with this issue without needing to tell their users to turn off the `Prevent Cross-Site Tracking` option in their settings. I let them know the bug was recently surfaced and that turning off the setting was the only workaround at the moment.

Could we notify this user once the issue is resolved please?

[2021-11-29 13:08] carinapilar opened #58576 "wp-admin All Posts deactivated Categories, Tags columns in Screen options"
### Quick summary

A recent change on WP-Admin on WordPress.com, that added featured images to the list, removed helpful info, like tags and categories.

### Steps to reproduce

Check your site's posts and pages on WP-Admin.

### What you expected to happen

To show tags and categories, as it does on a self-hosted WordPress.org site.

### What actually happened

The Tags and Categories columns are

[2021-11-29 13:26] mirka commented on #56664
Yes, that is sufficient 👍 Thanks.

[2021-11-29 13:32] WBerredo commented on #58290
I had checked the color schemes and the ones with darker backgrounds (Contrast, nightfall, and powder snow) need some additional work:

![Screen Shot 2021-11-29 at 09 12 38](https://user-images.githubusercontent.com/5039531/143876153-bba7fd10-8d6d-4a4c-bd89-ea90316287d5.png)

@SaxonF do you have any suggestions about those cases?

[2021-11-29 13:58] retrofox opened #58581 "Woop Installer: Add a checkout site plan step"
### Details

Redirect the client to the landing page when the site doesn't have the proper plan.

### Checklist

_No response_

### Related

_No response_

[2021-11-29 13:59] retrofox commented on #58468
Handling plan issue here https://github.com/Automattic/wp-calypso/issues/58581

[2021-11-29 15:06] andres-blanco opened #58587 "Videos UI: Trigger API endpoint when specific timestamp is reached"
An API request should be made when the `completed_seconds` attribute value is reached for a given video.

`completed_seconds`: introduced in D70522-code

Main issue: https://github.com/Automattic/wp-calypso/issues/58248

[2021-11-29 15:12] andres-blanco opened #58588 "Videos UI: Add write functionality to course API"
In this diff: D70545-code and endpoint was added to retrieve the courses settings for a given user. This endpoint is currently `read-only`. It should be made writable in order to record when a specific video should be marked as seen.

Main issue: https://github.com/Automattic/wp-calypso/issues/58248

[2021-11-29 15:15] andres-blanco commented on #58248
I've added two issues to complete this functionality.
* https://github.com/Automattic/wp-calypso/issues/58587
* https://github.com/Automattic/wp-calypso/issues/58588

[2021-11-29 15:21] kristastevens commented on #58302
Looks good to me, @arthur791004!

[2021-11-29 15:31] autumnfjeld commented on #58429
@arthur791004

Agreed. We can get the information we need from a track event analysis.   We will want to watch if users select "Blank Canvas" less once it is taken out of the grid/list of designs.

[2021-11-29 15:31] alshakero commented on #56922
Fix is ready in https://github.com/Automattic/jetpack/pull/21892

[2021-11-29 15:39] sharonlaker19 commented on #56922
Just played into the ticket at 4547072-zen I've tested and the widgets now load without error.
Informing the user that the fix is ready and asking them to try again.

[2021-11-29 15:45] JoshuaGoode opened #58590 "Plugins / Atomic: Hide additional update notification indicators for symlinked plugins"
### Quick summary

On WordPress.com on Atomic, we hide update notifications for plugins we symlink and manage.  This is done via wpcomsh.php

This sometimes is a bit more overbearing than necessary. Re: https://github.com/Automattic/wp-calypso/issues/52511

However, the current attempts to hide update notifications are not always enough.

#### Example

In some cases, a symlinked plugin will have a

[2021-11-29 15:51] mreishus commented on #32964
We were able to fix this with https://github.com/Automattic/wp-calypso/pull/58201 deployed.

[2021-11-29 15:51] #32964 closed

[2021-11-29 15:52] mreishus commented on #37080
Hopping off this for now.

[2021-11-29 16:03] cuemarie commented on #53626
+1 31596917-hc
Resolved by setting site to Coming Soon (and saving), then setting as Public again

[2021-11-29 16:09] Copons commented on #50750
I agree with basically everyone else: this should be addressed in Core.
Possibly the most appropriate way would be to update [the `wp_block` CPT's `show_in_menu` setting](https://github.com/WordPress/WordPress/blob/2f6cf4ba818863ee30bb6333183f95cc25a99fc9/wp-includes/post.php#L306).

Although, I can foresee a few sources of discussion in proposing this to the outer community.

- Where should we sh

[2021-11-29 16:17] kimerlin81 commented on #58555
This FR has been reported directly to Simplenote. Pinged HE.

[2021-11-29 16:17] #58555 closed, assigned to nobody

[2021-11-29 16:31] rcrdortiz commented on #58572
I've prepared a diff to solve the issue, you can find it here: D70757-code.

[2021-11-29 16:48] rachelwinspear opened #58594 "Widgets in Customizer crash when touching or trying to add image block"
### Quick summary

Widget area does not load correctly, error is shown.

### Steps to reproduce

1. Go to Apperance > Widgets
2. Widgets blocks do not load, but crashes and shows error above.

### What you expected to happen

I would expect to go to the widget area and for all the blocks to loads correctly.

### What actually happened

Page crashes and the following error shows:

[code]

### Conte

[2021-11-29 16:50] rachelwinspear commented on #58594
Issue here:
- 32526568-hc
- 4553403-zen

[2021-11-29 16:50] rachelwinspear commented on #58594
Another case:
- 31402541-hc
- 4554000-zen

[2021-11-29 17:27] cuemarie opened #58595 "Featured Product block breaks when product is out of stock + hidden from catalog"
### Quick summary

'Featured Product' block breaks in the editor when the product is out of stock _and_ the Inventory is set to hide out of stock items from the catalog. Selecting `edit` results in `This block has encountered an error and cannot be previewed.`

### Steps to reproduce

1. Open a WooCommerce Site
2. Add a Featured Product block to a page and save
3. Head to the products and set the

[2021-11-29 18:00] rachelwinspear opened #58596 "Reader page shown with opacity: 0.5"
### Quick summary

On some linked pages within the Reader are showing with an `opacity: 0.5` for the article content.

### Steps to reproduce

1. Go to any blog post with the Reader
2. Click on the Star Like button to view other users who have liked the post
3. Click on the username of another user who has liked the blog post
4. You will be directed to this other users Reader page, but content sho

[2021-11-29 18:12] carinapilar opened #58598 "Account Settings: Current Email Missing on Email Change Request"
### Quick summary

You aren't able to know which email you're using on your account when you request a change.

### Steps to reproduce

1. Go to your Account Settings: https://wordpress.com/me/account
2. Change your email address and save the changes

### What you expected to happen

To see instructions about the email change, but still be able to see which email is being used.

### What actually

[2021-11-29 18:17] #58529 closed, assigned to andres-blanco

[2021-11-29 18:17] worldomonation commented on #55716
P2 for context: pcYYhz-mb-p2

[2021-11-29 18:22] JoshuaGoode opened #58599 "Atomic / Akismet: Calypso alerts that "Your site needs an antispam key" on WPCOM sites with provisioned keys"
### Workaround

Users can ignore this notice. Please do not provide the user any API keys. This is mostly a visual bug with Calypso and sites still have active Akismet protection.

Jetpack’s `wp-admin/admin.php?page=jetpack#/settings` page can be checked and shared with the user to demonstrate that it has a valid key.

### Quick summary

Thanks to @edequalsawesome for providing an initial overview

[2021-11-29 18:24] cometgrrl commented on #56764
Consider implementing as a react integration/unit test instead of E2E.

[2021-11-29 18:33] #52880 closed, assigned to nobody

[2021-11-29 18:36] worldomonation commented on #52880
I think this can be closed because we currently do:
- load a dynamic set of launch options from an object.
- change the configuration depending on the environment.

[2021-11-29 18:36] alshakero commented on #56922
Hi @sharonlaker19! The fix isn't deployed yet.

[2021-11-29 19:37] manRebollo commented on #57812
+1 at 4554141-zen
Suggesting workaround found above.

[2021-11-29 19:44] CodeAllNightNDay commented on #58535
I ran into another site where the Pay with PayPal Block is not showing on the live site. The plan was recently upgraded to Premium.
4550438-zd-woothemes

I can see the existing Pay with PayPal Block in the footer section when trying to edit it, but the area is totally blank on the live site. I also noticed nothing happened when I tried to add a new Pay with PayPal Block in this area.

[2021-11-29 20:08] #58149 closed, assigned to enejb

[2021-11-29 20:50] wprhunt commented on #57992
I have another instance of this issue via 9220860-hc

Each time a widgets visibility is updated from Appearance -> Widgets -> (select a block) -> Block settings -> Advanced, there you can change it to "Hide this block" but after saving it reverts again to "Show this block" each time and its unclear if the rule saved or not and if the drop down just reverts back to "Show this block"

[2021-11-29 21:12] autumnfjeld commented on #58429
I've updated the issue description above to reflect the decisions made in the above discussion.   ![bitmoji](https://sdk.bitmoji.com/render/panel/9ff55377-6e8f-4a55-9baf-471d1ee75e6a-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=46)

[2021-11-29 21:40] metabreakr commented on #57812
25548990-hc
Safari 14.1 on Mac OS X 10.15.7

[2021-11-29 22:11] ccwalburn opened #58611 "Navigation Block: Vertical Orientation Displays Horizontally on Preview"
### Quick summary

Adding a Navigation Block and setting it to Vertical displays the menu vertically in the editor, but not in the preview. If I change the Justification to Center and then back to Left, then it will display vertically in both the editor and preview.

### Steps to reproduce

1. Create a new page
2. Add Navigation block
3. Select an existing menu
4. Set Orientation to Vertical
5. Cl

[2021-11-29 22:39] ollierozdarz commented on #58374
I think from a design point of view we keep it incredibly simple and just change the placeholder text and title text initially, keeping the interaction design the same. The big win is that if we create a framework for this change, we can then have a way to iterate on it over time.

<img width="1680" alt="Friendlier-wording" src="https://user-images.githubusercontent.com/67085494/143953702-455f578f

[2021-11-29 22:46] metabreakr commented on #53626
32915458-hc

[2021-11-29 22:49] dsas opened #58613 "[Bug]: Possible for calypso to display multiple upsell nudges in sidebar"
### Quick summary

Calypso may display multiple upsell nudges in the sidebar - one from the server JITMs and another originating from Calypso. This seems over-powering.

#52368 will eventually obsolete this issue, it's just that this issue means it'll take a little bit longer to deploy bits of that one.

### Steps to reproduce

1. Make site eligible for a server-originated JITM
    * The easiest w

[2021-11-29 23:02] p-jackson commented on #57837
@alaczek has updated the Kerr annotation to remove the `<strong>` in the button label. This has fixed the last block validation error 👍

[2021-11-29 23:02] #57837 closed, assigned to roo2

[2021-11-29 23:34] autumnfjeld commented on #58372
@kristastevens  Would you have time to help us polish the copy in these [My Home Checklist Figma designs](Figma)?  To make sure the language in each card in the My Home checklist sounds good?

You could put your copy suggestions in a spreadsheet or here in the git comments and then we'll get @ollierozdarz to update the designs.  Also note: the designs are missing the Mobile App step.

Here's the e

[2021-11-30 00:00] cuemarie commented on #50687
Ran into this here on a reverted then re-AT'd site: 4551054-zd-woothemes
Manually dis/reconnected JP to resolve

[2021-11-30 00:31] supernovia commented on #19117
We still see this fairly often

[2021-11-30 01:09] thekingsprojects commented on #56468
Another report here: 4555389-zen

[2021-11-30 01:24] happychait commented on #56922
Another report in 4554961-zen

[2021-11-30 01:39] jeyip commented on #58437
I did some investigation. The reason we only see it on Dotcom is because [a fix](https://github.com/WordPress/gutenberg/pull/36605) was merged into core Gutenberg a week ago.

It doesn’t look like the fix made it into Gutenberg v12, but it should be resolved by v13.

[2021-11-30 01:45] sixhours opened #58616 "Theme Showcase: Re-add premium references"
All of these can be done behind the `themes/premium` feature flag to avoid showing before they're ready:

* Re-enable the All | Free | Premium toggle
* Re-add the Premium Themes / premium plan upsell nudge for Free and Personal plan sites that was removed in https://github.com/Automattic/wp-calypso/pull/55942/files#diff-e1414f0851e1ef5a3807284b9645fa8c8ddf7abefdf68353fca4e8b6b210fc1eL30 and https:

[2021-11-30 01:48] sixhours commented on #58616
Toggle PR re-added behind the feature flag in #58605

[2021-11-30 02:16] jerrysarcastic opened #58618 "More Block: Gallery display broken on archive pages when more block is added"
### Quick summary

When the More Block is added to a post which has a gallery block present, the gallery is presented correctly on the post page, but on archive pages (anywhere the loop is output) the gallery display is broken and images are shown in a single column without a carousel option.

The gallery is shown correctly on the single post directly, it is only when displayed on an archive page

[2021-11-30 02:50] thekingsprojects commented on #51664
Another here: 4555202-zen

[2021-11-30 02:51] autumnfjeld opened #58620 "Blogger flow tracks event missing prop info on calypso_signup_actions_submit_step"
### Item 1
On the Blog Name (site-options) screen, it looks like calypso_signup_actions_submit_step
 is not recording step=site-options.

![image](https://user-images.githubusercontent.com/5665959/143976320-9068c903-e3f4-435c-8f43-86fc734f5200.png)

Look for the following in the calypso_signup_actions_submit_step tracks event page and see that step=site-options is missing
![image](https://user-ima

[2021-11-30 02:53] autumnfjeld commented on #58620
@arthur791004 If you get a chance today or tomorrow could you have a look to see if the step prop is missing from the events I listed in the description?  Thank you!!!

[2021-11-30 02:55] formosattic opened #58621 "VideoPress: Option to have video start from beginning upon browser refresh"
### What

Option to have video start from beginning upon browser refresh

### Why

User expects video to start from beginning after a browser refresh, or have an option to control that.

Can test with video at https://jetpack.com/jetpack_support_tag/videopress/
Watch the video for a few seconds, then refresh the browser, the video will continue where it left off.

I checked the default behavior on

[2021-11-30 04:50] arthur791004 commented on #58163
@Robertght @bogiii I'm sorry for the late response. The reason is that you don't submit the site intent, so that step is still “in-progress”. After the user is redirected to the “design-setup-site” step and wants to go to the next step, it would try to go to find the first invalid step or complete the flow if all of the steps are submitted as it's the last step of the setup-site flow. However, the

[2021-11-30 04:55] rw-ye commented on #58594
Another report here:
4553339-zd-woothemes

Looks like the issue is related to the Image blocks in the widgets area. I tested adding an image or gallery block from Appearance > Customize on my test site and it instantly showed an error.

https://user-images.githubusercontent.com/21261509/143987980-ff97a66c-0fea-4ab9-b96f-4bf58dda2b3e.mp4

[2021-11-30 04:57] rw-ye commented on #56922
Report here: 4553339-zd-woothemes

[2021-11-30 05:04] galakhyati commented on #56922
Another report in here: 24041920-hc
Follow up: 4556198-zd-woothemes

[2021-11-30 05:12] KokkieH opened #58627 "Customizer: Star Ratings block breaks widgets section"
### Quick summary

Trying to add or edit a Star Ratings block in the Customizer widget area leads to an "unexpected error"

### Steps to reproduce

1. Go to Appearance ->Customize ->Widgets
2. Add a Star Ratings block

Optionally, try editing the Star Ratings block that's already present in the widget area

### What you expected to happen

For the block to be added/ to be able to edit the block.

[2021-11-30 05:27] rw-ye commented on #56922
Another report: 4552863-zd-woothemes

Image block causing widgets to show an error. (Customizer > Widgets)

[2021-11-30 05:37] kosiew opened #58629 "Send emails to inform Customers when their theme is about to expire"
### What

Inform Customers with advance notice before their theme expires.

### Why

Customers appreciate advance notice of theme expiry so they can change theme.

Here is a Customer request - #4554285-zen

### How

_No response_

[2021-11-30 07:31] lsl commented on #58229
Got two approaches to fix this:

- https://github.com/Automattic/wp-calypso/pull/58536
- https://github.com/Automattic/wp-calypso/pull/58561

I'm happy with either of these at this point. The fix for the caching bug in the removal PR was actually useful to fix the original problem in the first place.

A few slightly hacky fixes on top and https://github.com/Automattic/wp-calypso/pull/58536 is actu

[2021-11-30 07:59] sajmes commented on #46182
Another case here in Opera 81 with browser extensions disabled. Also in Comodo Dragon browser.

4534186-zd-woothemes

[2021-11-30 07:59] daria2303 commented on #58323
Hi @Greatdane, sorry, your are right it is Dyad 2, hacemoslasmaletas.com

[2021-11-30 08:23] Greatdane commented on #58323
cc: @kosiew, see above!

[2021-11-30 08:47] mtias commented on #58437
Yes, it should come with 12.1.

[2021-11-30 08:56] arthur791004 commented on #58620
I think we cannot see all of the values on that page because it only shows the top 10 values as my observation. We can see all of the values from https://mc.a8c.com/tracks/trends/

## Site Options

https://mc.a8c.com/tracks/trends/?compareby=prop&eventname=calypso_signup_actions_submit_step&interval=day&prop=step&startdate=20211031&stat=uniques

<img width="300" src="https://user-images.githubuser

[2021-11-30 09:00] arthur791004 commented on #58620
I think we cannot see all of the values on that page because it only shows the top 10 values as my observation. We can see all of the values from tracks > trends

## Site Options

<img width="300" src="https://user-images.githubusercontent.com/13596067/144015688-043f5a72-ce2b-4109-bf5d-838b60c36ea1.png" />

<img width="300" src="https://user-images.githubusercontent.com/13596067/144013190-710ef206

[2021-11-30 09:19] rachelwinspear commented on #58594
Looks like this is related to this issue: https://github.com/Automattic/wp-calypso/issues/56922#issuecomment-981268415

[2021-11-30 09:22] rachelwinspear commented on #56922
Another report: 4546009-zen

[code]

[2021-11-30 09:49] #58339 closed, assigned to nobody

[2021-11-30 10:32] scinos opened #58638 "Bundled package expects global `regeneratorRuntime`"
We have a 3rd party module that expects `regeneratorRuntime` global: `node_modules/rungen/dist/create.js`.

We also have `import "regenerator-runtime/runtime"`. However, `@babel/preset-env` includes a plugin that [removes said import](https://babeljs.io/docs/en/babel-preset-env#usebuiltins) as our target browsers support generator functions.

This is already in production, but I don't know if the

[2021-11-30 10:33] scinos commented on #58638
I found a way to force `@babel/preset-env` to not delete `regenerator-runtime/runtime`, but it involves adding many plugins like `transform-regenerator`, `transform-for-of`, `transform-destructuring` and potentially more. Which is basically equivalent to supporting older browsers.

[2021-11-30 10:34] carinapilar commented on #58576
Okay, so it actually seems that for some reason those columns got deactivated on the Screen Options. Even if you always had those active, after a recent change they got deactivated - that's where the confusion came from.

[2021-11-30 10:48] daria2303 commented on #51540
4556082-zd-woothemes

[2021-11-30 11:19] jordesign opened #58639 "Prompted to 'Install App' for Wordpress.com sites in Chrome"
### Quick summary

When editing a site in Google Chrome - both the Calypso view and WP Admin views have a prompt in the address bar to 'Install App'. It starts as a small icon with a tooltip - but then expands when clicked.

### Steps to reproduce

1. Open Wordpress.com and go to edit a site in Chrome
2. Check the Address bar on the right hand side.

### What you expected to happen

Nothing to sho

[2021-11-30 11:27] chriskmnds opened #58641 "Tour Kit: Introduce some baseline tests"
### What

Tests to solidify & guard some of the functionality in the [tour-kit](https://github.com/Automattic/wp-calypso/tree/trunk/packages/tour-kit) package.

### Why

As of #58059 the core functionality from the ETK welcome tour has been extracted into its own package.

Some baseline tests to guard or draw attention to changes that may break functionality may be worth it. Might consider snapsho

[2021-11-30 11:36] chriskmnds opened #58642 "Tour Kit: Improve spotlight effect"
### What

Improve the spotlight effect in the [tour-kit](https://github.com/Automattic/wp-calypso/tree/trunk/packages/tour-kit) package to enclose the whole reference element.

### Why

The spotlight effect is currently a fixed-size box that is placed over the reference element to highlight. We should make the dimension dynamic to enclose the entire reference element, potentially with some padding

[2021-11-30 11:42] gavande1 commented on #58335
Diff created at D70792-code

[2021-11-30 11:55] chriskmnds opened #58643 "Tour Kit / Welcome Tour: Extract WPCOM Tour Kit variant"
### What

Extract the rest of the Welcome Tour into the tour kit package for reuse. This should unify tour implementations into a single design and skeleton across uses.

### Why

The Welcome Tour contains a few ready parts that we can package together for reuse. Potentially, more tour implementations across WPCOM (and potentially other A8C projects) would benefit from a similar look/feel. Things

[2021-11-30 12:02] chriskmnds opened #58644 "Tour Kit: Review and cleanup the code a little"
### What

Some cleanup to spruce up the [tour-kit](https://github.com/Automattic/wp-calypso/tree/trunk/packages/tour-kit) codebase a little.

### Why

Never enough.

A few things to look at:

- Consider removing the popper-handler hook if there isn't a whole lot of value in it. I believe this is leftover code.
- Consider using the `use-contained-tabbing` hook from core in place of the custom focus

[2021-11-30 12:14] chriskmnds opened #58645 "Tour Kit: Review and improve the types"
### What

Review the typings in the [tour-kit](https://github.com/Automattic/wp-calypso/tree/trunk/packages/tour-kit) package.

### Why

One thing that stands out is the arbitrariness of the [step meta](https://github.com/Automattic/wp-calypso/blob/trunk/packages/tour-kit/src/types.ts#L9) field. We purposefully kept this an open signature to not restrict usage. How best a consumer of the package c

[2021-11-30 12:17] chriskmnds opened #58646 "Tour Kit: Release to NPM"
### What

Publish the package to NPM.

### Why

Because the world needs it :D

### How

_No response_

[2021-11-30 12:20] chriskmnds opened #58647 "Tour Kit: Explore multiple spotlights/reference elements per step"
### What

Explore highlighting multiple reference elements per step.

### Why

A nice to have feature, as done in WIX, for example:

<img width="701" alt="Screenshot 2021-11-10 at 20 29 25" src="https://user-images.githubusercontent.com/1705499/144046283-eabaeb3c-c801-4e58-81cb-dc888559ec7f.png">

### How

_No response_

[2021-11-30 12:23] filipanoscampos opened #58648 "Footer Widget: Navigation Menu not visible on Column Block"
### Quick summary

Navigation menu not displaying on Frontend if inside a Columns Block in the Footer Widget.
I could only reproduce this issue on my test sites under a Premium plan and with the Exford theme or the Twenty Twenty theme.

### Steps to reproduce

1. Start from scratch, on a site with a menu, a Premium plan, and the Exford theme active;
2. Go to Appearance > Widgets, and add a Columns

[2021-11-30 12:24] alshakero commented on #56922
Some of the comments here are not exactly related to the issue here. This issue logs the error

[code]

If you're getting the following error:
[code]
Please track this issue instead https://github.com/WordPress/gutenberg/issues/36999

[2021-11-30 12:29] chriskmnds opened #58649 "Tour Kit: Force the position of a step near its reference element (top/right/bottom/left)"
### What

Allow specifying where step views should be positioned near their reference element. [tour-kit](https://github.com/Automattic/wp-calypso/blob/trunk/packages/tour-kit) package.

### Why

Currently, Popper determines where to place the tour container and the arrow indicator (separately) near reference elements, depending on available space. It would be great to allow custom modifiers per s

[2021-11-30 12:34] #53615 closed, assigned to nobody

[2021-11-30 12:59] gavande1 commented on #58335
Deployed r235803-wpcom

[2021-11-30 12:59] #58335 closed, assigned to gavande1

[2021-11-30 13:20] gcsecsey opened #58651 "Marketplace: add tax categories to products"
Following the initial investigation (pdt2If-z-p2), we've found that we should follow the method of adding tax support described in this FG page (PCYsg-rD-p2).

The tax service has an array (linked in FG) in which all products are mapped to a tax category. Instead of manually adding each marketplace product to this array, we should consider creating some logic that does this automatically.

[2021-11-30 13:35] gcsecsey commented on #58651
As we're [already storing](pdh6GB-1A-p2#comment-144) product data in a WooCommerce backend, I think we could utilize the tax classes of WooCommerce products, and have them act as a map to the WP.com tax classes.

[2021-11-30 13:42] #52291 closed, assigned to mmtr

[2021-11-30 13:52] eduardozulian commented on #57711
@pbking as you mentioned in https://github.com/Automattic/themes/issues/5011, do you believe that this is part of a broader issue?

[2021-11-30 13:57] cpapazoglou opened #58654 "Plugins Search: Prepend paid results to free results"
We should enhance the search function to also search in WPCOM paid plugins. If any paid plugin is found we should prepend it to the free plugins list.

figma: oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A49151

[2021-11-30 14:02] cpapazoglou commented on #58505
@emmnyc85 and @SaxonF, can you provide us with the copy and the illustration for the announcement modal of the launch of paid plugins?

[2021-11-30 14:02] dolgelukkig commented on #57812
One more: 32870674-hc

Safari version 14.1.2 (15611.3.10.1.5, 15611), Mac OS Catalina version 10.15.7

[2021-11-30 14:05] ethicalhack3r opened #58655 "Jetpack Image CDN not loading images when "ssl" param in querystring"
**Quick summary**

It seems that there may be a bug in the Jetpack Image CDN, which prevents some images from loading.

When the URL querystring contains the string `ssl=`, which seems to be added by Jetpack in some cases, the image does not load, and the the following error is given:

[code]

Example of image not loading because it has `ssl=1` within the querystring:

https://i0.wp.com/www.neonbu

[2021-11-30 14:07] emmnyc85 commented on #58505
@SaxonF - Do you want to draft up a V1 and then we'll input the copy. Thinking along the lines of
**Title:** Buy the best plugins
**Subheader:** Now you can purchase plugins right on WordPress.com to help improve your website's capabilities. From scheduling appointments to managing subscriptions (and more!), we've got you covered.
**CTA:** Let's explore!

[2021-11-30 14:08] cpapazoglou opened #58656 "Plugins Browser: Replace featured plugins with paid plugins"
|Before | After|
|-------|------|
|<img width="1093" alt="SS 2021-11-30 at 16 09 29" src="https://user-images.githubusercontent.com/12430020/144062501-c3b7d4de-825a-40d2-884a-1ec07fa9fb42.png">|<img width="959" alt="SS 2021-11-30 at 16 10 37" src="https://user-images.githubusercontent.com/12430020/144062693-91322bf6-d297-489e-8b08-615892801310.png">|

- [x] use the new selector to fetch the plugin

[2021-11-30 14:39] WBerredo commented on #58290
Another option is to remove the specific colors as specified on the figma layout and let the component handle the color scheme according the selected theme.  This was the selected approach on #58577 but we can discuss further solutions on this issue.

Ex:

|Desktop | Mobile|
|-------|------|
|![Screen Shot 2021-11-30 at 10 04 21](https://user-images.githubusercontent.com/5039531/144066891-c933df45

[2021-11-30 14:40] chriskmnds commented on #57059
We currently have spotlight implemented (also needing some [improvements](#58642)). We can explore the ripple effect as a follow-up once that's wrapped up. :-)

[2021-11-30 14:50] andres-blanco commented on #58465
D70821-code

[2021-11-30 15:10] mreishus commented on #58616
Once we get the API to return some themes as premium, I'm wondering what we will see in calypso. That's an intermediate step.

[2021-11-30 15:28] davipontesblog commented on #52241
Requested in 20087312-hc

[2021-11-30 15:34] DavidRothstein commented on #58446
I couldn't reproduce this myself (in general I found the content of the block didn't duplicate at all sometimes, but when it did -- maybe only after an autosave? -- it seemed to be two separate blocks, and editing the first block and saving didn't have any effect on the other).

I'm ccing @Automattic/view-engineering though, which I think still maintains these blocks.

[2021-11-30 15:50] andres-blanco commented on #58259
This should be done after https://github.com/Automattic/wp-calypso/pull/58534 is merged

[2021-11-30 16:13] arcangelini commented on #55512
It looks like the documentation has already been updated and the widget was removed from the documentation. I am not seeing anything on ⇢ https://wordpress.com/support/audio/podcasting/#podcast-widget

I am not 100% sure why this widget is not being shown in the Legacy Widget block, but it seems like this may be redundant since the [Podcast Block](https://wordpress.com/support/wordpress-editor/blo

[2021-11-30 16:44] creativecoder opened #58663 "FSE Beta: Add themes to Design step in onboarding"
### What

Add new block themes to design picker

**Existing step**

<img width="400" alt="image" src="https://user-images.githubusercontent.com/1699996/144090231-1354f307-c674-4f80-813f-da4c719ef87f.png">

### Why

We need more design choices.

The following themes are ready to add:

- Arbutus
- Russell

These themes should also be added, but first need to be network activated:

- TT2
- Universal

[2021-11-30 16:45] sixhours opened #58665 "Theme Showcase: All/Free/Premium toggle should not show for Jetpack sites"
* Boot up trunk and visit `/?flags=themes/premium` to enable the feature flag on a Jetpack-connected (but non-Atomic) site.
* You'll see the All | Free | Premium themes toggle:

<img width="1177" alt="Screen Shot 2021-11-30 at 11 44 01 AM" src="https://user-images.githubusercontent.com/2124984/144090254-a001a880-7d65-41bb-a0bf-0ad69e746d2b.png">

Since we're not enabling Premium themes for Jetpack

[2021-11-30 16:52] creativecoder opened #58667 "FSE Beta: Update design options to be API driven"
### What

Remove the need to manually add new block based themes to the FSE beta

### Why

More quickly launch new block based themes.

### How

I believe theme choices are already pulled via API in other flows, this is updating the FSE flows to work the same way.

New themes will be added with a tag to indicate they are block based and should be included as an FSE beta design choice.

[2021-11-30 16:57] arcangelini commented on #57838
It looks like this widget can be retired from the Legacy Widget block in favor of the [Pay with PayPal](https://wordpress.com/support/pay-with-paypal/) block.

I will work on this and get it retired similar to the other widgets that have been retired - Automattic/jetpack/issues/21069

[2021-11-30 17:00] ClassicRKR27 opened #58669 "Widget Area Displaced: Modern News Theme"
### Quick summary

We got a panicked, upset user stating that their widgets are displaying incorrectly across their site. When looking into it we saw that the widgets are now all stacked on top of each other instead of displaying correctly in different sections. I believe this is either an issue with the theme being retired or possibly some of the legacy widgets

### Steps to reproduce

1. Go to h

[2021-11-30 17:11] sixhours opened #58670 "Theme Showcase: Remove/disable/reroute references to individual premium theme sales"
When viewing a premium theme in the Showcase (not available right now, you have to fake it), there's a legacy "Purchase" link in the three-dots menu.

This used to point to a URL like http://calypso.localhost:3000/checkout/[siteurl.wordpress.com]/theme:russell where the individual theme would be added to the cart.

Links like this need to be redirected to add a Premium plan to checkout, or removed

[2021-11-30 17:11] mreishus commented on #58670
https://github.com/Automattic/wp-calypso/blob/a621f56c587177b2351efc758a04be8b7484d899/client/my-sites/theme/main.jsx#L817-L828

[2021-11-30 17:13] jeyip commented on #58663
Could you elaborate on what the difference between "ready to add" vs. "ready, though aren't network activated yet"?

[2021-11-30 17:23] cpapazoglou commented on #57751
Related diff D70833-code

[2021-11-30 17:39] #58290 closed, assigned to WBerredo

[2021-11-30 17:48] #58288 closed, assigned to WBerredo

[2021-11-30 18:13] creativecoder commented on #58663
Per the discussion from our meeting, I've updated the issue description to indicate we shouldn't add any themes to the design picker step that are not yet network activated--this is to avoid the situation that a theme selected during onboarding would disappear when a user switches to a different theme, and can only be switched back by contacting support because it wouldn't show in the themes showc

[2021-11-30 18:18] arcangelini commented on #58089
I have tested this with the same results as @roo2 I even tested using the user account who first cited this issue. Here is a screenshot of the reblog option in the Reader:

<img width="1064" alt="Markup 2021-11-30 at 19 14 48" src="https://user-images.githubusercontent.com/33258733/144104722-21f5f57c-b49e-4b44-9ea7-fc3588c757a5.png">

@arinoch can you let me know where exactly you are unable to se

[2021-11-30 18:36] stacimc commented on #58446
👋 There's a jetpack issue tracking this: https://github.com/Automattic/jetpack/issues/12801

The issue is that when you duplicate or copy a Pay With PayPal block, all of its attributes including  the `productId` attribute get copied into the new block. The `productId` is internal to the block so this is not immediately apparent to a user, but consequently all changes to either block get posted to

[2021-11-30 19:09] creativecoder opened #58675 "Site Editor: Don't hide by default for block only themes"
### What

Show the site editor for block-based themes that aren't universal

### Why

Twenty Twenty Two theme will be available on WP.com soon. Right now we hide the Site editor for all sites, by default, unless they opt in to the FSE beta.

This makes sense for universal themes which can use the Customizer, but for block only themes, not having access to the Site editor severely limits the theme.

[2021-11-30 19:17] sixhours opened #58678 "Theme Showcase: Replace/remove references to individual theme prices"
A couple areas of the Showcase include individual price information; this should be removed before launch.

<img width="1154" alt="Screen Shot 2021-11-30 at 2 15 20 PM" src="https://user-images.githubusercontent.com/2124984/144113087-4dd24e22-a4d3-49be-b676-a9eae3f3fafc.png">
<img width="1449" alt="Screen Shot 2021-11-30 at 2 15 39 PM" src="https://user-images.githubusercontent.com/2124984/1441131

[2021-11-30 19:24] creativecoder opened #58680 "FSE Beta: hide the Customizer for FSE beta sites using universal themes"
### What

Currently FSE beta sites with universal themes show both the Site editor and the Customizer. Instead, hide the customizer for FSE beta sites with universal theme.

### Why

Showing only one editing interface is intended to

- Help surface gaps in the Site editor where we need to add features currently available in the Customizer, but not the Site editor
- Simplify the experience so users

[2021-11-30 19:28] creativecoder commented on #58680
Alternatively, it might be simpler just to use the `wpcom_is_fse_activated` option as a flag... when it's true, show the Site editor and hide the Customizer... when false, hide the Site editor and show the Customizer

[2021-11-30 19:30] #58465 closed, assigned to andres-blanco

[2021-11-30 19:37] andres-blanco commented on #58588
D70845-code

[2021-11-30 19:44] creativecoder opened #58682 "Task: Help test Twenty Twenty Two theme on WP.com"
### Details

We're in the planning stage for testing TT2 on WordPress.com. Let's help test how it would work outside of the FSE beta.

### Checklist

- [ ] Activate TT2 (`pub/twentytwentytwo`) and test it

### Related

https://github.com/Automattic/wp-calypso/issues/58675

[2021-11-30 19:46] creativecoder commented on #58682
cc @zaguiini @jeyip Let's have each of us spend some time testing TT2

[2021-11-30 19:57] worldomonation opened #58683 "[Meta] E2E: restore tests from Quarantined E2E"
### Details

This is a meta/goal tracking task for tests to return from Quarantined E2E to the mainline.

### Checklist

_No response_

### Related

_No response_

[2021-11-30 20:13] arcangelini commented on #57725
I have been investigating this issue and it appears that it is only affecting this site. I have not been able to replicate this on another test site. Here is what I have found.

1. This is only affecting the Text widget on this site. **As a workaround** they should have no trouble using the CUSTOM HTML widget to continue building. I had no trouble adding a Custom HTML widget to the content sidebar

[2021-11-30 20:17] nelsonec87 commented on #58616
Regarding [these UpsellNudges](https://github.com/Automattic/wp-calypso/pull/55942/files?authenticity_token=LPz9k8fPcJm2RgWxlwpW%2B01R7LU98Ry7I%2F4Lc8wgmyx0m0CEMOKaFaoN6xpyz8iQu7iISdjRA8Hl6dWHZBmjkA%3D%3D&file-filters%5B%5D=.jsx&file-filters%5B%5D=.ts&hide-deleted-files=true#diff-a4c745026acf197c564244c92aebb153704da206bd091979e30479babe8cf5e4) , It seems there were changes to the component itself

[2021-11-30 20:20] nelsonec87 commented on #58616
On [this file](https://github.com/Automattic/wp-calypso/pull/55942/files?authenticity_token=44HViLH4OsSKdJ3K%2BIO268mLhszK5RokMZQAGGELgbG75mifRtXQSJY%2Fc2EdRiiAP2LiMC%2FFBV73g97syTK5DQ%3D%3D&file-filters%5B%5D=.jsx&file-filters%5B%5D=.ts&file-filters%5B%5D=.tsx&hide-deleted-files=true#diff-3d150099a2de6cc5246c60373128d17d35ac1dda06163d9456b35b05a6db9146) , there is this text:

`"You've now got acc

[2021-11-30 20:37] JoshuaGoode commented on #58599
Noting that Jetpack’s `wp-admin/admin.php?page=jetpack#/settings` page shows the sites have a valid API key. This is from a [change made in 2020](https://github.com/Automattic/jetpack/pull/16542) to support sites that have a globally set key.

![Screen Shot on 2021-11-30 at 15:33:56](https://user-images.githubusercontent.com/4887830/144124117-876c0c5b-8c84-4657-95a8-0f7b0c085d56.png)

[2021-11-30 20:53] autumnfjeld opened #58685 "Blogger Flow: user is redirected back to Intent Screen after completing Blog Name screen"
This is an URGENnT bug.
Perhaps introduced by https://github.com/Automattic/wp-calypso/pull/58498 , if that PR is the root, maybe best to revert it ASAP.

## Steps to reproduce
* Signup as new user OR start from existing user
* click start with a free site
* click start writing
* Fill out blog name
* click continue
* Get redirected back to Intent screen

Tested on
* iPhone X mobile safari
* Mac Ch

[2021-11-30 20:55] #58588 closed, assigned to andres-blanco

[2021-11-30 20:57] KirkwallDay opened #58686 "Navigation Menu Block mobile menu page jumps do not work."
### Quick summary

When using the mobile menu on the navigation block, page jumps on the same page being viewed will not work. The menu will be non-responsive.

### Steps to reproduce

1. On a page, create a navigation menu block and have one of the links go to a page jump on the same page.
2. View the page on mobile
3. Open the menu and click the link to go to the page jump on the same page.

###

[2021-11-30 21:06] jp-imagines opened #58688 "Zoologist: Accented/special characters and emojis are broken in site menus"
### Quick summary

_No response_

### Steps to reproduce

1. Activate the Zoologist theme
2. Edit an existing menu item with an accented character (such as é) or an emoji (such as 🙂 ).
3. _Alternatively_, add a special character/emoji to a page's title and then add that page to your site's menu.

### What you expected to happen

Accented characters and emojis should display as entered:
![Screen Sh

[2021-11-30 21:15] csonnek commented on #58627
User [provided a screenshot](https://snipboard.io/PZ34mC.jpg) and offered the following:

Let us know if you need anything else from this person.

[2021-11-30 21:37] autumnfjeld commented on #58685
FALSE ALARM.   I was confusing the "Starting Point" Screen for the "Intent Screen" due to just glancing at the Write button.

[2021-11-30 21:37] #58685 closed, assigned to nobody

[2021-11-30 22:02] autumnfjeld commented on #58620
Ah yes, I see.  Thank you @arthur791004 !!!  Going above and beyond. :)
![image](https://user-images.githubusercontent.com/5665959/144135203-cec3c5ba-794a-43c7-82cf-cd92b4e89d7f.png)

![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=46)

[2021-11-30 22:02] #58620 closed, assigned to arthur791004

[2021-11-30 22:31] #55642 closed, assigned to worldomonation

[2021-11-30 23:20] mreishus opened #58693 "Switching themes and electing to change homepage possibly not setting _wp_page_template"
### Details

-> `wp headstart run --url=site-here --user=username --theme=pub/payton --delete-content`
Correctly sets the homepage `_wp_page_template` of the homepage to `header-footer-only`

We think that using "theme switch, change homepage" does not apply this setting.

[2021-11-30 23:21] mreishus commented on #58693
![2021-11-30_16-33](https://user-images.githubusercontent.com/937354/144143834-7dd75e5c-17e9-455d-a648-89191df347fa.png)
![switch-theme-4b](https://user-images.githubusercontent.com/937354/144143847-74f4b23e-208f-4cc9-9864-529046d4325b.png)
![switch-theme-4c](https://user-images.githubusercontent.com/937354/144143854-faf9b49d-87f5-493b-8642-b1a73d9ea8fd.png)

[2021-11-30 23:29] dcoleonline opened #58694 "Marketplace: Possible Conflict With "View Version" Link for Out of Date Plugins"
### Quick summary

On WordPress.com, if a site has a plugin that is out of date, the link to view the version details for that plugin fails.

### Steps to reproduce

1. On a WordPress.com site, install an older version of a plugin so that the plugins page will show that it needs an update
2. Click on the "View version (version number) details" link
3. The resulting modal fails to load the plugin d

[2021-12-01 00:51] kokoaono commented on #58574
Hello @flootr Are you able to assign me to this?

[2021-12-01 02:11] jeyip commented on #58663
If someone starts testing Russell before I do, you can run [this PR](https://github.com/Automattic/wp-calypso/pull/58695) locally, spin up calypso dev, and walk through FSE onboarding to enable it / start smoke testing

[2021-12-01 02:23] kuropixel opened #58696 "Widgets in Customizer crash when touching or trying to add image block"
### Quick summary

I have reproduced crashing when trying to access Widgets via Customizer for sidebars and footers. Adding an image block results in a crash. I am able to go the other route directly to widgets.php to add the image block, but I will experience a crash going through customizer when attempting to touch the image block.

This was tested with themes Twenty Seventeen and Gazette, both

[2021-12-01 02:53] #58229 closed, assigned to lsl

[2021-12-01 02:53] Greatdane commented on #58696
Confirmed, can reproduce as described.

[2021-12-01 03:50] vinnykaur commented on #58322
Had one more in hc-32960053. Installing via .../wp-admin/plugin-install.php helped.

[2021-12-01 04:04] vishnugopal commented on #38152
@jeroenpf Just a note that we'll also have to think of how these errors (usually attachment processing errors) for successful imports will be displayed on the UI, both in Tools > Import and via our new onboarding UI.

But just getting the API to return these partial errors would be a great first step!

[2021-12-01 04:43] KokkieH commented on #58627
Additional info: the WP-Admin Widgets page also doesn't work for them using Chrome 96 on an Android device. I've asked them to try in a desktop browser instead.

I've confirmed that `/wp-admin/widgets.php` doesn't appear to work at all in Chrome on Android, but that's a separate issue from the star ratings block causing the Customizer widget area to crash.

[2021-12-01 05:38] kosiew commented on #40603
I notice the same behaviour too.

Triaging for developers' further investigation.

[2021-12-01 05:39] Rolilink commented on #58468
Handling new design here #58527

[2021-12-01 05:40] essleeung commented on #41606
Another case where the user wanted different tiers (e.g. Bronze, Silver, Gold) for Premium content. 25932351-hc

[2021-12-01 06:01] kosiew commented on #58413
Hi @kspilarski ,

Thanks for reporting this and the detailed steps.

I noticed the same on Storefront theme too.
![image](https://user-images.githubusercontent.com/29057562/144180335-6c5355f5-144b-4eb4-a9fc-fa6eebfb11a6.png)

Triaging for developers' further investigation.

[2021-12-01 06:28] kosiew commented on #58446
Marking as Triaged since it's already on Shilling's radar.

[2021-12-01 07:39] arthur791004 commented on #58212
@autumnfjeld

The screenshot doesn't mean the event is sent twice. `Record event "%s" called with props %o` logs the event with all of the props. On the other hand, `Recording event "%s" with actual props %o` logs the event with all of the props, and those value is not `undefined`.

Or maybe the “twice” you mean is the two screenshots (The one with “step=intent” and the other with “previous_step=s

[2021-12-01 07:43] jordesign opened #58698 "Theme Showcase: Support Docs to link to from Showcase pages"
### Details

If we are to prioritise linking to general support documents for themes (over having *all* the details within the theme listing) we need a list of support docs to use - both for the current state of themes - and the future (FSE) state of themes.

### Checklist

- [x] List of Support Docs to link to for current themes
- [ ] List of Support Docs for future themes
- [x] Check status of F

[2021-12-01 09:01] arthur791004 commented on #58374
@ollierozdarz I saw p9Jlb4-2XM-p2, and it showed the two cases for the placeholder text as followed:
* “Write your post“ if all of the lines are empty
* ”Type ‘/’ to insert a block, or continue writing” if one of the lines is not empty

I just want to confirm that we only need to change the text to “Start writing or type ‘/’ to insert a block” for the “post” no matter the user types any text or no

[2021-12-01 09:06] flootr commented on #58574
👋🏻 @kokoaono. I appreciate your question and your interest in contributing. We don’t have a clear plan of how the migration is going to be implemented at this time and want to prevent conflicting work while a more concrete plan is materializing.

Have you worked with Calypso before? I want to mention that we maintain [a list of issues which we consider good starters](https://github.com/Automattic/

[2021-12-01 10:02] cpapazoglou commented on #57751
Deployed r235874-wpcom

[2021-12-01 10:02] #57751 closed, assigned to cpapazoglou

[2021-12-01 10:21] #58581 closed, assigned to retrofox

[2021-12-01 10:57] bogiii commented on #58163
@arthur791004 Thank you for the response!

The right answer should be to go back to the `importer` flow, and it will be the Capture screen instead of the `Your site is already on WordPress.com` screen (because of the Flow framework nature).

We still don't trigger any additional events except the events that come from the "Flow framework". We have a plan for the current sprint to track more events

[2021-12-01 12:12] cpapazoglou commented on #57758
We will replace the existing sidebar data with static data.

- demo block should only display if `demo_url` exists in API response
- documentation link should only display if `documentation_url` exists in API response
- privacy policy links to `https://automattic.com/privacy/`

[2021-12-01 12:13] cpapazoglou opened #58701 "WPCOM Plugins Api: add documentation and demo urls"
Let's add
- `demo_url`
- `documentation_url`
![SS 2021-12-01 at 14 14 35](https://user-images.githubusercontent.com/12430020/144232752-844660c4-2425-46c1-a86a-17f3b8a81175.png)

Related to https://github.com/Automattic/wp-calypso/issues/57758#issuecomment-983581918

[2021-12-01 12:25] sajmes commented on #47645
https://hud.happychat.io/chat/32914296

[2021-12-01 12:34] cpapazoglou commented on #57759
Scenarios:

**Low Tier Plan & Free Plugin**
<img width="277" alt="SS 2021-12-01 at 14 25 00" src="https://user-images.githubusercontent.com/12430020/144234002-4a813290-8c88-4465-96ac-f153c89b05d9.png">
(Show the domain USP only for FREE sites)

**Low Tier Plan & Paid Plugin**
You get everything. @SaxonF, can you please advise here cause we are going to show 6 USPs in that case.
(Show the domain US

[2021-12-01 12:42] cpapazoglou commented on #57760
We can utilize `getProductDisplayCost( state, productSlug )` selector

[2021-12-01 12:42] cpapazoglou commented on #57761
We can utilize `getProductDisplayCost( state, productSlug )` selector

[2021-12-01 13:27] cpapazoglou commented on #58504
This data is already available in Plugin Details page

[2021-12-01 13:47] arunsathiya opened #58704 "Redirection to themes page from wp-admin dashboard broken"
### Quick summary

On a simple site (not reproducible on Atomic sites), clicking on the "Themes" option from wp-admin dashboard redirects to a broken page.

### Steps to reproduce

- Start with a simple WordPress.com site (any WordPress.com site without third-party themes or plugins installed)
- Visit the wp-admin dashboard page, like wp-admin widgets: domain.com/wp-admin/widgets.php?calypsoify=0

[2021-12-01 13:59] alshakero commented on #58083
Very nice documentation of the issue. Thank yo so much!

Fix is ready in https://github.com/WordPress/gutenberg/pull/37034.

[2021-12-01 15:07] #58289 closed, assigned to WBerredo

[2021-12-01 15:07] #58278 closed, assigned to WBerredo

[2021-12-01 15:54] fresatomica opened #58705 "Search: give option to restrict search results"
### What

A user suggested a possibility of restricting search results to, for example, page titles.

### Why

Link to the request [here](https://wordpress.com/forums/topic/restrict-back-end-search-to-page-titles/).

### How

_No response_

[2021-12-01 16:15] sixhours commented on #58670
This is probably related; when I'm viewing a premium theme on a Business plan / Atomic site and click "Pick this design" from the individual theme sheet, we attempt to add a Jetpack plan `jetpack_security_realtime` to the cart:

<img width="1445" alt="Screen Shot 2021-12-01 at 11 13 12 AM" src="https://user-images.githubusercontent.com/2124984/144271079-925c8559-1ba4-4af1-98c8-6062bcee058b.png">

[2021-12-01 16:38] Camaropilot commented on #56922
User reported again, they are still having this issue. zen-4547072

[2021-12-01 16:49] sixhours opened #58706 "Theme Showcase: Remove Setup tab for new themes and in the current theme card."
Existing premium themes had an extra tab with setup instructions:
<img width="1446" alt="Screen Shot 2021-12-01 at 11 48 37 AM" src="https://user-images.githubusercontent.com/2124984/144277105-e2232f33-6005-4b7f-b577-1a0daf55d341.png">

Free themes do not:
<img width="1447" alt="Screen Shot 2021-12-01 at 11 50 30 AM" src="https://user-images.githubusercontent.com/2124984/144277294-5d084142-24c1-4c

[2021-12-01 17:10] alshakero commented on #56922
Hi @Camaropilot! Since the user has an Atomic site, I think they'll need to wait until Jetpack's release until they get the fix.

Can you please confirm @jeherve?

[2021-12-01 17:16] jp-imagines opened #58708 "Featured content slideshow images set to zero width until refreshed"
### Quick summary

It appears that some unknown JS script is forcing the width of "featured content" slideshows to 0, which then resets to its expected value after the content is forced to refresh somehow.

### Steps to reproduce

Note: _I wasn't actually able to reproduce this on a test site using the same theme. I do not know exactly what is causing this._

1. Activate the _Toujours_ theme on yo

[2021-12-01 17:53] arcangelini commented on #56688
This should be resolved with the following PR - WordPress/gutenberg/pull/37010

I will check back on this when this is merged into WordPress.com and make sure it s working.

[2021-12-01 17:54] zaguiini commented on #57024
@vindl ☝️ is it true? Is this issue still valid?

[2021-12-01 17:57] arcangelini commented on #58150
Tested on WordPress.com and not seeing the issue anymore. Closing, but feel free to open again if it is still having.

<img width="342" alt="Markup 2021-12-01 at 18 56 37" src="https://user-images.githubusercontent.com/33258733/144287936-2fd48018-461f-49d6-a5a9-c848e1e162a7.png">

[2021-12-01 17:57] #58150 closed, assigned to arcangelini

[2021-12-01 18:27] zaguiini commented on #58682
You can activate the theme by running the following command inside of your sandbox:

[code]

Passing the site URL is important.

[2021-12-01 18:33] worldomonation commented on #58367
Moving back to backlog for another week to observe how the Pre-Release tests behave.

Once the two-week mark has been reached with the new Pre-Release tests, then canaries will be stopped.

[2021-12-01 18:33] worldomonation commented on #58367
Slack context: p1638305965040500-slack-CQD1HH4MA

[2021-12-01 18:43] kristastevens commented on #58372
Hi @autumnfjeld, I've got some draft copy below. I'm basing my suggestions off the current design in this [Figma file](https://www.figma.com/proto/EuqfSnWpfYx8fgiBlVmbuA/Blogger-Experience?page-id=3511%3A1633&node-id=3511%3A1880&viewport=273%2C48%2C0.26&scaling=min-zoom&starting-point-node-id=3511%3A1880). I made some changes to the text throughout. I also re-ordered the list so that browsing them

[2021-12-01 18:54] masperber opened #58712 "Allow Disable Plugins Bulk Action"
### What

In WordPress Core, there is an option to disable multiple plugins through the bulk actions dropdown.

![disable-all-plugins](https://user-images.githubusercontent.com/12906034/144295716-9acf5204-00aa-41ad-9ce3-c4107fb8c0fb.gif)

On Atomic sites, this feature is not available.

<img width="1267" alt="Screen Shot 2021-12-01 at 1 49 32 PM" src="https://user-images.githubusercontent.com/1290

[2021-12-01 18:54] paxblueribbon opened #58713 "Clicking Manage Reusable Blocks Does Nothing On Desktop"
### Quick summary

clicking Manage Reusable Blocks isn't doing anything for them.  They've tried from both the overflow menu in the upper right and the All Reusable Blocks menu and in both cases nothing happened.  In browser it works for both them and me.

### Steps to reproduce

1. Log into desktop app.
2. Open page containing Reusable Blocks in editor.
3. Click Overflow Menu in upper right.
4. C

[2021-12-01 18:54] paxblueribbon opened #59132 "Clicking Manage Reusable Blocks Does Nothing On Desktop"
### Quick summary

clicking Manage Reusable Blocks isn't doing anything for them.  They've tried from both the overflow menu in the upper right and the All Reusable Blocks menu and in both cases nothing happened.  In browser it works for both them and me.

### Steps to reproduce

1. Log into desktop app.
2. Open page containing Reusable Blocks in editor.
3. Click Overflow Menu in upper right.
4. C

[2021-12-01 19:09] jackiejade commented on #52556
29956898-hc User came back to check on this open issue for a few months now this has been effecting their site.

[2021-12-01 19:17] #58281 closed, assigned to cpapazoglou

[2021-12-01 19:42] mlanasa opened #58716 "Widget Customization Error: "The editor has encountered an unexpected error.""
### Quick summary

User reported in a ticket that they were having problems with updating widgets in the customizer. User describes being able to make successful updates via the desktop application but not through a browser.

### Steps to reproduce

1. Please watch this video for reproducing the error:
https://user-images.githubusercontent.com/95254246/144301953-d2bb8f86-20ae-427b-bcc5-73a7c84d9ec

[2021-12-01 20:06] worldomonation opened #58720 "Flaky E2E: Navigate to Media"
### Spec file

wp-media__edit-spec.ts

### TeamCity ID

7056430

### Logs

[code]

[2021-12-01 20:06] worldomonation commented on #58720
Also seen in other test files.

TeamCity: 7059000
Spec: `wp-media__upload-spec.ts`

[2021-12-01 20:11] jordesign commented on #58698
Some further notes on showcase pages for context:

### Now

* Showcase pages should be trimmed down to be create-able within five minutes
probably by copy-pasting an old one, find-and-replacing a name, and updating a new Featured images
at least for all generated themes
* from today on.

### Next

* Even the above should be automate-able so it’s less than five minutes. :slightly_smiling_face:

###

[2021-12-01 20:31] kriskarkoski commented on #58402
Closing as a duplicate of https://github.com/Automattic/wp-calypso/issues/53609

[2021-12-01 20:31] #58402 closed, assigned to nobody

[2021-12-01 20:49] mreishus commented on #58693
Created D70901-code

[2021-12-01 21:12] jerrysarcastic commented on #57036
Another report here: https://wordpress.com/forums/topic/editing-problem-yellow-highlighted

The site owner has reported seeing yellow highlighted text **in the Reader only** (text is fine on their live site and in the editor) which can be seen at this link:  https://wordpress.com/read/feeds/108449589/posts/3692737638

Screenshot:

<img width="902" alt="Screenshot on 2021-12-01 at 12-54-35" src="ht

[2021-12-01 21:47] dsas commented on #51388
Can I just check I've understood correctly?

 * Showing / hiding columns depending upon screen width is preferably out of scope
 * Changing the breakpoint at which all columns except title hide under the expand/collapse is in scope
 * The current behaviour with the default settings is ok
     * The default settings are all columns displayed including featured image but not category and tags column

[2021-12-01 21:47] #58468 closed, assigned to retrofox, Rolilink

[2021-12-01 21:50] kathrynwp opened #58724 "Russell: Adding custom CSS causes fonts selected in Customizer to no longer be reflected on the front end"
### Quick summary

Adding any custom CSS to a site running Russell results in the site's default (or other fonts) fonts to be wiped out.

### Steps to reproduce

1. Activate Russell
2. Under Appearance > Customize > Additional CSS, add any custom CSS at all, such as:
[code]

3. Click "Save Changes"

### What you expected to happen

Custom CSS should be applied, but **nothing else should happen**.

[2021-12-01 21:55] metabreakr commented on #57812
4560496-zen might be another instance, though am asking user for additional details such as browser information.

[2021-12-01 22:21] retrofox commented on #58385
[This PR](https://github.com/Automattic/wp-calypso/pull/58702) takes over the first and third items from the list. I'm sorry of overlapping efforts here :-(
For the second one, it is possible that the new transferring endpoint will tackle it? cc @DustyReagan @pablinos

[2021-12-01 22:56] mreishus opened #58726 "Additional theme price cleanup"
### Details

After #58677, I realized there are more references to theme price we might be able to get rid of:
https://github.com/Automattic/wp-calypso/blob/0ebe5406d2b77f85a70566441124cfd4bd745b56/client/components/themes-list/index.jsx#L28
https://github.com/Automattic/wp-calypso/blob/0ebe5406d2b77f85a70566441124cfd4bd745b56/client/components/themes-list/index.jsx#L47
https://github.com/Automatt

[2021-12-01 23:09] kwight commented on #58587
This should happen here: https://github.com/Automattic/wp-calypso/blob/trunk/client/components/videos-ui/video-player.jsx#L17

[2021-12-01 23:14] lsl commented on #58385
Yes but I think for now we can keep the second flow running through storeSetup in the old installer until its ready.

If there are no warnings/eligibility checks needed I think the confirm step can just auto confirm and move to transfer. Was there some reason not to do that? (I seem to recall thinking maybe we wanted a confirmation step regardless but I'm struggling to think what the message on sc

[2021-12-01 23:32] jeyip commented on #58663
## Testing
### Requirements

Tested both the editor + frontend

Default Content
- [x] Default content loaded for Arbutus matches the Arbutus demo site
- [x] No broken blocks on initial load

Block Patterns
- [x] "Gallery with description and a button" pattern
- [x] Links in Bio pattern
- [x] "Talk to the host" pattern

Global Styles
- [x] Typography font size, line height, and font weight changes

[2021-12-01 23:32] happychait commented on #50574
Another user reported as well, in 32939208-hc

[2021-12-01 23:49] jeyip commented on #58663
## Testing Russell
### Requirements

Tested both the editor + frontend

Default Content
- [ ] Default content loaded for Arbutus matches the Arbutus demo site
- [ ] No broken blocks on initial load

Block Patterns
- [ ] "Gallery with description and a button" pattern looks like its preview
- [ ] "Link in Bio" pattern looks like its preview
- [ ] "Talk to the host" pattern looks like its preview

G

[2021-12-02 00:59] gavande1 commented on #58319
The sentence  `incompatible with your version of WordPress` is checked with the help of the [is_wp_version_compatible](https://developer.wordpress.org/reference/functions/is_wp_version_compatible/) function.

[2021-12-02 01:03] #57948 closed, assigned to nobody

[2021-12-02 01:20] jordesign commented on #58372
Tes for all of these looks great - thanks @kristastevens.

[2021-12-02 01:29] emilyaudela opened #58729 "On the domains security screen in Calypso, the support links are irrelevant to domain security"
### Quick summary

In the [domains>manage -->](https://wordpress.com/domains/manage/) screen in Calypso, when you go to Security, there are 2 links to support documents after the HTTPS encryption information. The two links are about the eCommerce plan and forms, which are irrelevant to the content on the page itself.

![Markup on 2021-12-01 at 18:23:58](https://user-images.githubusercontent.com/36

[2021-12-02 02:29] gavande1 commented on #55789
Deployed r235936-wpcom

[2021-12-02 02:29] #55789 closed, assigned to gavande1

[2021-12-02 02:49] thekingsprojects opened #58731 "Payments Block: "The editor has encountered an unexpected error" when editing through Customize"
### Quick summary

When trying to edit a Payments Block button through Appearance > Customize > Widgets, the widget editor crashes with an unexpected error.

### Steps to reproduce

1. Switch to a theme with at least one widget area.
2. Go to either Appearance > Widgets or Appearance > Customize > Widgets, using the Block Widgets editor.
3. Add a Payments Block to a widget area.
4. If not already

[2021-12-02 04:08] brookewp opened #58732 "Image block: alignment doesn't work when heading block is below"
### Quick summary

Blocks below aligned Image block don't align properly when a heading block is the first block after. Can see the results in gif below:

![Screen Capture on 2021-12-01 at 19-32-28](https://user-images.githubusercontent.com/35543432/144353022-a471035a-c740-40f6-b95c-c735b309f879.gif)

### Steps to reproduce

1. Add image block to page or post
2. Add heading block below
3. Align im

[2021-12-02 04:16] vishnugopal commented on #58163
I kinda feel for a user, a Back here at this point, it might be better to go to the Intent screen.

Another option for us is to redirect the "Start Building" button to the Intent screen in case that helps things right now. cc @ollierozdarz

[2021-12-02 04:38] vinnykaur commented on #58696
For 4559251-zen,

When I SU'd in Chrome, the page crashed for me.

Screenshot:

<img width="1365" alt="Screen Shot 2021-12-02 at 10 05 44" src="https://user-images.githubusercontent.com/49183855/144358518-db476140-9ac5-4931-91ce-afd745cb3f89.png">

But when I SSO'd in Firefox, it worked fine.

Screenshot:

<img width="1674" alt="Screen Shot 2021-12-02 at 10 07 20" src="https://user-images.githubus

[2021-12-02 04:45] vinnykaur commented on #58696
On another note, it has now started working on chrome for me. I'll ask the user to try some browser troubleshooting.

[2021-12-02 04:55] vishnugopal commented on #58163
^ @ollierozdarz concurs that we can just take them to the Intent screen if that makes for a simpler solution!

[2021-12-02 05:36] kuropixel commented on #58696
@vinnykaur I was able to reproduce crashes every time when going through Customizer > Widgets rather than widgets.php. Are you getting crashes if you go through that method?

[2021-12-02 05:40] vajrasar opened #58734 "Blank box on search result for specific plugin keywords"
### Quick summary

If you search for `lightweight sidebar manager` plugin on your atomic site, you should see any issue where a big blank black box is shown in the search result before the actual list of results.

### Steps to reproduce

1. Plugins > Add New
2. Search for `lightweight sidebar manager`

### What you expected to happen

To see the list of plugins under `lightweight sidebar manager`

[2021-12-02 05:41] vinnykaur commented on #58696
@kuropixel Yes, I do.

<img width="836" alt="Screen Shot 2021-12-02 at 11 10 11" src="https://user-images.githubusercontent.com/49183855/144364433-8d3791c4-3519-4a65-bba8-6282341b706b.png">

But not via widgets.php, no. That worked fine on Chrome and Firefox when I tried.

[2021-12-02 06:02] rachelwinspear commented on #58594
Another case:
3680989-hc
4561068-zen

[2021-12-02 06:04] kosiew commented on #58517
Hi @KirkwallDay ,

Thanks for reporting this.

Since this is a retired theme, I propose closing this without further action.

Please feel free to re-open if you have further findings to add.

[2021-12-02 06:04] #58517 closed, assigned to nobody

[2021-12-02 06:28] kosiew commented on #58556
Hi @kuropixel ,

Thanks for reporting this and the detailed steps.
I checked this for you and found a similar issue.

Closing this in favour of  https://github.com/Automattic/jetpack/issues/13239

[2021-12-02 06:28] #58556 closed, assigned to nobody

[2021-12-02 06:49] kosiew commented on #58557
Hi @pauljacobson ,

Thanks for reporting this and the detailed steps.
I found a related discussion -

https://a8c.slack.com/archives/CAKN301C3/p1571681583216200?thread_ts=1571675232.210700&cid=CAKN301C3

and transferred this to https://github.com/woocommerce/woocommerce-shipping-usps/issues/336

[2021-12-02 06:49] #58557 closed, assigned to nobody

[2021-12-02 06:52] inaikem commented on #58734
Screenshot:
<img width="1338" alt="Screen Shot 2021-12-02 at 2 45 33 PM" src="https://user-images.githubusercontent.com/66711744/144371850-a7fef364-249d-4fce-b264-453f8e6d9c71.png">

&nbsp;
Note: the grey box above extends well below the fold (the above is a comp based on two screenshots)

On scroll, the grey box overlaps the header above it:

<img width="1229" alt="Screen Shot 2021-12-02 at 2 51

[2021-12-02 07:06] kosiew commented on #58576
Hi @carinapilar,

Thanks for reporting this and the subsequent update on the 2 columns being deactivated.

I observed the same on my sites too.

Pinging @Robertght  for Flow Patrol attention.

[2021-12-02 07:09] jeherve commented on #48477
This also came up in p1638384722171700-slack-C0299DMPG

[2021-12-02 07:13] kosiew commented on #58696
Closing in favour of https://github.com/Automattic/wp-calypso/issues/58594

[2021-12-02 07:13] #58696 closed, assigned to nobody

[2021-12-02 07:18] kosiew commented on #58594
Hi @rachelwinspear ,

Thanks for reporting this and the detailed steps.
Triaging for developers' further investigation.

In the meantime, please test with the wp-admin/widgets.php workaround mentioned in https://github.com/Automattic/wp-calypso/issues/58696.

[2021-12-02 07:25] jordesign commented on #58698
## Current State of themes

proposed docs:

* https://wordpress.com/support/menus/
* https://wordpress.com/support/widgets/
* https://wordpress.com/support/menus/social-links-menu/
* https://wordpress.com/support/customizer/ (sub-items as needed depending on theme features)
  *  https://wordpress.com/support/customizer/content-options/
  *  https://wordpress.com/support/featured-content/
  * https

[2021-12-02 07:30] kosiew commented on #58595
Hi @cuemarie ,

Thanks for reporting this and the detailed steps.

I could not reproduce this on https://wpstore101.wpcomstaging.com/wp-admin/post.php?post=6208&action=edit

Can you check further on how I can reproduce it?

[2021-12-02 08:15] kuropixel commented on #58556
@kosiew Thank you! I saw that report but figured it was only for mobile view.

[2021-12-02 08:20] dragstor commented on #52241
Requested in 32890176-hc.

[2021-12-02 08:46] fylgjur commented on #53609
I actually reported something very similar in June 2020. Then, it couldn't be reproduced in the latest release so it seems something broke it again.

https://github.com/Automattic/wp-calypso/issues/43427

[2021-12-02 09:52] KokkieH commented on #58627
Possibly related to #56564

[2021-12-02 09:55] Robertght commented on #58594
Potential similar issue report here regarding the widgets: https://github.com/Automattic/wp-calypso/issues/58716#

I found a case with this error as well:

[code]

I couldn't open the widgets.php page because it was throwing a 500 so I ended up disabling the block editor widgets.

[2021-12-02 09:59] Robertght commented on #58716
I'm going to close this in favor of this one for now: https://github.com/Automattic/wp-calypso/issues/58594

[2021-12-02 09:59] #58716 closed, assigned to nobody

[2021-12-02 10:18] simison commented on #58693
FYI @Automattic/cylon

[2021-12-02 10:36] jeherve commented on #56922
The changes were shipped to Atomic, as per p9o2xV-1Jn-p2 , so they should not see the issue anymore.

The ticket mentioned above (4547072-zen) is about a different issue though; it is not about the Tiled Gallery block. It seems they're experiencing issues with either the Pinterest block or the Image block, in the block-based widget editor. I'm not entirely sure though. @Camaropilot Could you try t

[2021-12-02 10:50] stronenv opened #58742 "Widget block editor causes 500 internal server error"
### Quick summary

Following up on this ticket 4562105-zd-woothemes further troubleshooting caused an error in the widget area:

- Enabling the widget block editor is causing the widget editor to serve a 500 internal server error to the backend widget area.
- Also, when using the old widget editor moving widgets from Primary Sidebar to Inactive Widgets works for some widgets, but not all. I.e. mov

[2021-12-02 11:13] #58734 closed, assigned to nobody

[2021-12-02 11:13] #58295 closed, assigned to gcsecsey, cpapazoglou

[2021-12-02 11:19] retrofox commented on #58385
From a technical perspective, I don't think so. I thought it was part of the initial design when there were a couple of screens/steps. Each step had a confirm button with different text.
We can skip it in case everything is ok.

[2021-12-02 11:30] dlind1 commented on #57743
All translations are ready. There is a small issue with the announcement modal not expanding with the content, which is handled in https://github.com/Automattic/i18n-issues/issues/348.

[2021-12-02 11:49] cpapazoglou commented on #57743
Thanks @dlind1! Should we add 348-gh-Automattic/i18n-issues to our Bespin board so that we pull it in next sprint?

[2021-12-02 11:50] dlind1 commented on #56902
Still waiting for merged PR for Xero, support for other extensions was added, but there are currently some issues with generating the language packs (probably due to the PHP 7.4 upgrade) which we're currently troubleshooting.

[2021-12-02 11:58] dlind1 commented on #57743
Sure, that'd make it easier to track it.

[2021-12-02 12:10] chriskmnds opened #58748 "Tour Kit: Improve Storybook examples"
### Details

The Tour Kit Storybook examples can be enhanced a bit to demonstrate more fully the expected functionality/configurations. These have proven to be a quick way to check how things work while developing, so feels pretty critical to make them thorough enough.

 Especially for spotlight effects, we should rearrange the reference elements to force moving the tour step to each of the sides

[2021-12-02 12:25] Robertght commented on #58734
I was going to ping @cpapazoglou but he was way faster. :)

[2021-12-02 12:30] sguzovskaia commented on #55175
Another case reported here: 33015696-HC
On Atomic site, updating Display Name in wordpress.com/me is not changing the admin name in Users and View posts by user.

[2021-12-02 12:39] Robertght commented on #58611
Thank you for reporting this @ccwalburn ! I was able to replicate this. Moreover, the orientation didn't work for me in the frontend either, but I belive it could be related to this core Gutenberg issue:

https://github.com/WordPress/gutenberg/issues/36902

[2021-12-02 12:47] Robertght commented on #58618
Thank you for reporting this @jerrysarcastic!

@glendaviesnz is this something that can be looked into by the team that is working on the gallery block?

[2021-12-02 12:50] tellisbethel commented on #58137
Thanks for looking into this Ivan! I'm not sure this is worthy of reopening just yet, but I wanted to note that when I selected the video and it opened in a new tab, the download count definitely increased. This happened on both of the videos in the user's File Downloads stats. It _might_ have been only once the video started playing, though.

I'll try to test this theory when I have a moment and

[2021-12-02 12:58] ivan-ottinger commented on #58137
Thank you @tellisbethel! Sure!

Maybe if you had a screen recording available - so I could try to reproduce the issue with exact steps.

[2021-12-02 13:18] Robertght commented on #58731
cross-referencing this as they could be related: https://github.com/Automattic/wp-calypso/issues/58594

[2021-12-02 13:42] sophiegyo commented on #53451
I had request for this today in 33016947-hc.
I let the user know I've added them to the feature request, but also that I have no guarantees it'd be implemented.

[2021-12-02 14:11] Copons commented on #57498
I'll close this issue as the bug has been long since fixed, and the current Crowdsignal JITM work is being tracked in pd0D4C-ju-p2.

[2021-12-02 14:11] #57498 closed, assigned to mmtr

[2021-12-02 14:56] dsas commented on #50631
The layout of this page is wrapped by a div with the `.layout.is-section-preview` class which has `overflow:hidden` it's probably that.

![image](https://user-images.githubusercontent.com/93301/144446097-90824010-fb79-44cc-b47e-88dbb0beac3d.png)

[2021-12-02 15:12] freelylovinglife commented on #57711
Another report 4549872- ZD

[2021-12-02 15:15] donalirl commented on #58150
Yes, the errors are gone now on all four patterns I reported 👍

[2021-12-02 15:16] arunsathiya opened #58755 "Ability to import DNS records"
### What

An ability to import DNS records when moving from another DNS host to WordPress.com would be nice.

### Why

Today, we preserve the same nameservers when the domain is transferred-in to WordPress.com. But there's a toggle within Calypso to change nameservers to WordPress.com's, which when activated means their old DNS host's records aren't valid anymore. This results in accessory product

[2021-12-02 15:24] arunsathiya opened #58758 "Remove "Mailchimp subscriber popup" widget for simple sites as it doesn't work anymore"
### Quick summary

The "Mailchimp subscriber popup" used to be available for all sites in the past, but it seems to have changed to Atomic-only over an year ago: p7DVsv-8Jt-p2

There's a workaround on that discussion p7DVsv-8Jt-p2#comment-29452 but it's not working for me. It's likely because the code format mentioned on that post and the code format I see on Mailchimp today are different.

Should

[2021-12-02 15:39] kerrynicl commented on #58319
28000157-HC User requesting redesign as above as

[2021-12-02 15:47] #58248 closed, assigned to blackjackkent

[2021-12-02 16:02] autumnfjeld opened #58763 "My Home: image is cut off in blogger card in Grow & Learn carousel"
### Description
The graphic in the Grow & Learn card is cut off.   Going forward & back in the carousel causes the graphic to show normally. Originally [reported here](p1638456174347100-slack-C029SB8JT8S).

![image](https://user-images.githubusercontent.com/5665959/144457275-639e8b52-9ba0-48b7-a837-9a207c521599.png)

https://user-images.githubusercontent.com/5665959/144457607-6bc81e1d-6e50-4af4-92

[2021-12-02 16:05] cuemarie commented on #58594
Encountered this issue here: 33002878-hc

Was able to recreate on Simple and Atomic sites.

User worked in Appearance > Widgets as a workaround

[2021-12-02 16:13] #58259 closed, assigned to andres-blanco

[2021-12-02 16:18] kwight opened #58765 "Videos UI: No Tracks event fires for when a user completes a course."
We should fire a Tracks event for when a user completes a course. Currently, we track when a user completes each video, but not when a user completes the course as a whole – this would be useful for determining success rates in general for the individual courses.

[2021-12-02 16:34] delputnam commented on #58755
I can't really think of a good reliable way to do this now that almost everyone has disabled AXFR. We can fairly easily get the records on the root zone, but this will miss any records that are set on a subdomain. And there's really no reliable way that I know of (without access to the root zone file) to get these subdomain records.

If we could somehow get the users to export their DNS from their

[2021-12-02 16:55] andres-blanco commented on #58765
D70952-code

[2021-12-02 17:08] cuemarie commented on #58595
Hey @kosiew ! I'm still able to reproduce the issue on my end. Should I be able to access that `wpstore101` link? I currently can't, but perhaps I'm missing a step there. :)

Just recreated the issue with a second product on my test site by:

1. Adding a Featured Product block to a page, and selecting an **in stock** product, saving changes
2. Double checked that WooCommerce > Settings > Products

[2021-12-02 17:34] arunsathiya commented on #58755
I agree. 👍🏽 The only provider that I know of offering a BIND export is Cloudflare, and the only two support BIND imports are Cloudflare and [Bunny](https://panel.bunny.net/dnszones).

I have seen a small uptick in customers moving to WPcom DNS but losing their third-party email records in the last few months, thus the feature request here. If this isn't worth our effort/time, happy for this issue

[2021-12-02 17:46] Robertght opened #58770 "Button 2: Pay with PayPal block doesn't work on mobile(iOS)"
### Quick summary

The PayPal button doesn't work with iOS devices using the Button 2 theme.

### Steps to reproduce

1. Activate the Button 2 theme
2. Create a page and add the Pay with PayPal block
3. Check from an iOS device(iPad, iPhone)

### What you expected to happen

For the block to show the pop-up once pressed

### What actually happened

A new page briefly opens up and then closes itsel

[2021-12-02 17:52] mattwiebe commented on #58675
If I were doing this, I'd probably modify the `A8C\FSE\is_core_fse_active` function to simply add a check for Blockbase as the parent theme ( `pub/blockase' === get_option( 'template' )` ) and only require the `wpcom_is_fse_activated` option in that case.

[2021-12-02 18:05] katiebethbrown commented on #18644
This issue has been stale for some time, but I wanted to take a moment to revisit it to see if anything had changed in our approach since @iamtakashi's [comment](https://github.com/Automattic/wp-calypso/issues/18644#issuecomment-361298098) in 2018.

We've [run into this on Team 51](141-gh-a8cteam51/teachaapi), where a site is developed by an account that is not the site owner. This means that the

[2021-12-02 18:19] dsas commented on #51388
I agree @mrfoxtalbot !, Sorry for not being clear but what I meant to get across was exactly as you said - the current behaviour with the default settings is ok, it's only if you start adding the extra columns that it becomes problematic, and that's what the screenshots are of.

[2021-12-02 18:33] worldomonation opened #58773 "Playwright: split cookie file logic into smaller parts in `globalSetup.js`"
### Details

As per https://github.com/Automattic/wp-calypso/pull/58267#discussion_r760979475, splitting up the cookie file logic in `globalSetup.js` would allow for more relevant console messages and keeps things more 'local'.

### Checklist

_No response_

### Related

#58267

[2021-12-02 18:34] kwight opened #58774 "Videos UI: If the UI is closed then re-opened, its progress values are those from the original page load."
If the UI is closed then re-opened, its progress values are those from the original page load. So if a user has three videos complete when they load their page, and then:

* open the UI,
* complete a video,
* close the UI,
* then open the UI again without a page load,

... the UI will show only the original three videos as complete (and not count the video just watched). This will correct itself w

[2021-12-02 18:38] kwight opened #58775 "Videos UI: We have no fallback value for videos with no `completed_seconds` value."
In cases where users of our upcoming management system for courses don't enter a "course completed" time, we'll need a fallback value in the courses library. It could be, say, 90%, or maybe ten seconds lass than the length of the video.

[2021-12-02 18:41] kwight opened #58776 "Videos UI: Consider a snackbar notice to better celebrate video and course completions."
Brought up by @ianstewart :

To better celebrate video and course completions, we should consider showing a snackbar in addition to the checkmark updating.

cc/ @ollierozdarz

[2021-12-02 18:46] andres-blanco commented on #58775
I was thinking that we might want to store the `duration` attribute of the videos in seconds, just as the `completed_seconds` in order to:
 * avoid conversions to make calculations like "90%"
 * make localization easier https://github.com/Automattic/wp-calypso/issues/57571

[2021-12-02 18:47] kwight opened #58777 "Videos UI: Update the Field Guide page."
The Field Guide page at PCYsg-DgC-p2 will need updating with at least:

* the newest Tracks events,
* notes on the header and footer component props.

[2021-12-02 18:59] masperber commented on #56922
33003817-hc

With this user, the error occurs when either an Image Block or a Tiled Gallery block is added to the Widget Area when using the Twenty Fifteen theme. They were able to use a Gallery Block as a workaround.

[2021-12-02 19:30] sixhours opened #58780 "Marketing: Update copy to reflect premium themes updates"
We can leave this until the last part of the sprint since premium themes need to be functional before we advertise them again.

Spreadsheet with prioritization and locations is in the project thread.

Everything under Phase I update is slated for the first launch.

[2021-12-02 19:45] chiape commented on #57812
4564283-zen

Safari version 14.1.2, Firefox version 94.0.2, Mac OS Big Sur 11.6

[2021-12-02 19:58] Camaropilot commented on #56922
More information for 4547072-zen

Same thing happens with Image block, or Tiled Gallery block. "The editor has encountered an unexpected error." when viewed through Customizer -> Widgets.
Adding Tiled Gallery block throws error immediately.
Image block shows error when trying to Select Image, Upload, or Insert from URL.
Scratchpad theme.
Note: Appearance -> Widgets does NOT show ANY installed bloc

[2021-12-02 20:03] JoshuaGoode commented on #58319
If a user absolutely needs the core `Add New` plugin page, they can navigate directly to `wp-admin/plugin-install.php`

[2021-12-02 20:06] WBerredo opened #58783 "Plugin Details: Update PluginUpdateIndicator position on SiteList"

[2021-12-02 20:21] kwight commented on #58765
CLosed by @andres-blanco in D70952-code.

[2021-12-02 20:21] #58765 closed, assigned to andres-blanco

[2021-12-02 20:24] Addison-Stavlo opened #58786 "[Bug]: Page Layout Picker sometimes will not close."
### Quick summary

I experienced this on a legacy dotcom FSE site (deprecated experience from the editing toolkit), but am not yet sure if it is present outside of legacy FSE.

Sometimes when creating a new page, the page layout picker will not close:

![legacy-fse-page-layout](https://user-images.githubusercontent.com/28742426/144496804-cd81bc1a-a386-4604-a593-b65374dc43c6.gif)

### Steps to repr

[2021-12-02 20:24] jeyip opened #58787 "[Bug]: Russell Theme renders block errors in the site editor on initial load"
### Quick summary

When loading the Russell theme for the first time in the site editor, it renders with block errors.

<img width="1279" alt="Screen Shot 2021-12-01 at 3 48 10 PM" src="https://user-images.githubusercontent.com/5414230/144333067-46395678-b9f7-4c49-89a4-6f1d9eab7a38.png">

### Steps to reproduce

1. Apply branch to local calypso dev environment
2. Visit http://calypso.localhost:300

[2021-12-02 20:26] jeyip commented on #58663
I created an issue to track the block errors with Russell

[2021-12-02 20:44] JoshuaGoode commented on #57449
This popped up in an internal report.

 p9F6qB-7LA-p2

[2021-12-02 21:14] JoshuaGoode commented on #57449
Testing further, this requires an Atomic site with `wpcomsh`.  All WPCOM Atomic sites get that but it's optional on Ephemeral and not present on other types of Atomic sites.

So, `wpcomsh` + Jetpack is required.  See some additional notes in the comments on  p9F6qB-7LA-p2

[2021-12-02 21:30] eoinsav opened #58790 "Marketing banner prevents closing Navigation Block on mobile"
### Quick summary

The marketing banner on free sites is preventing the Navigation Block from closing on mobile (site in screenshot using "Blank Canvas" theme):

<img width="400" alt="Screen Shot 2021-12-02 at 1 27 16 PM" src="https://user-images.githubusercontent.com/35590156/144505765-5b3312c1-d194-4b53-8644-d5bd9371f97f.png">

### Steps to reproduce

1. Add a Navigation Block to the top of a fr

[2021-12-02 21:57] jp-imagines commented on #58594
Another report in 4564881-zen. User was inserting an Image block and the error message was exactly the same as in @Robertght's reply above.

Directed user to Appearance > Widgets as a workaround.

[2021-12-02 21:59] JoshuaGoode commented on #57449
Confirmed `wpcomsh` is contributing here.

See internal notes p9F6qB-7LA-p2#comment-43978

[2021-12-02 22:07] mreishus opened #58791 "Allow calypso to determine which plans have unlimited premium themes"
### Details

`hasUnlimitedPremiumThemes: hasFeature( state, siteId, FEATURE_UNLIMITED_PREMIUM_THEMES ),` should return true if you are on premium on higher.

This involves reverting ec2e8e501cb81cecc14956991826aea5f6983611, but resolving conflicts, removing changes to jetpack plans, and making sure that it doesn't change any marketing pages. Additionally, some stuff from 78f82daddf694f3ad692916405

[2021-12-02 22:08] mreishus opened #58792 "Find a way to 'soft-launch' new premium themes"
### Details

Find a way to 'soft-launch' new premium themes: Make them available for testing without making them available for the general public.

Since themes can be browsed in Calypso or WP-Admin, this might have to be an API mu-plugin that checks if you're A8C.

[2021-12-02 22:13] mreishus opened #58793 "Fix the various actions on the ThemeCard (theme info) page"
### Details

When visiting a page like `http://calypso.localhost:3000/theme/healthy-living/<site>?flags=themes/premium`, it should:
- Not crash (currently it does if the purchase option is removed (1))
- Be able to know if your site supports premium themes and allow you to activate (add ` hasUnlimitedPremiumThemes: hasFeature( state, siteId, FEATURE_UNLIMITED_PREMIUM_THEMES ), ` to redux after #58

[2021-12-02 22:19] sixhours commented on #58792
We may be able to ping @mattwiebe to help/brainstorm with this since he's working on a similar issue with Twenty Twenty Two.

[2021-12-02 22:54] worldomonation commented on #57511
Done as of 2021/12/02.

[2021-12-02 22:54] #57511 closed, assigned to nobody

[2021-12-02 23:01] worldomonation commented on #56102
Counterpoint to this: a [recent PR](https://github.com/Automattic/wp-calypso/pull/58491) ended up causing permafailing tests. I rectified the issue by removing the group with in https://github.com/Automattic/wp-calypso/pull/58715, but if we had a linter then this test would end up triggering the rule each time.

One workaround would be to use `describe.skip`; however this would add to the statisti

[2021-12-02 23:05] ccwalburn commented on #56922
4557903-zen

This user is on the Personal plan.

Their **Customizer >  Widget** areas show an empty alt attribute error and an empty image block:

![screenshot](https://d.pr/i/V4GTgz+)
Image URL: https://d.pr/i/V4GTgz

Clicking on the Image block shows the Copy Error button, which produces this error:

[code]

The WP Admin view of Widgets shows no blocks in any of the widget areas. If I try to add

[2021-12-03 01:32] jamiepalatnik commented on #58594
Another report: 30869434-hc

Directed user to Appearance > Widgets as a workaround.

[2021-12-03 02:41] creativecoder opened #58798 "FSE Beta: Footer credit in settings takes you to the Customizer"
### Quick summary

This flow to change the footer credit takes you to the Customizer, even for FSE Beta sites.

### Steps to reproduce

1. Visit Settings > General (the Calypso view at `wordpress.com/settings/general/{site}`, not wp-admin)
2. Click on "Change footer credit"

<img width="1191" alt="Screen Shot 2021-12-02 at 20 26 16" src="https://user-images.githubusercontent.com/1699996/144535572-

[2021-12-03 02:45] creativecoder commented on #58680
Example of a gap where we depend on the Customizer: https://github.com/Automattic/wp-calypso/issues/58798

[2021-12-03 02:53] creativecoder opened #58799 "FSE Beta: Change homepage setting in the Site editor (latest posts or front page)"
### What

The homepage setting is an important one for overall site design, but it's not available in the Site editor.

This is tracked in Core, but there hasn't been any recent progress: https://github.com/WordPress/gutenberg/issues/28341

Whether in Core or in WP.com, we need this setting to be prominent. So users can choose what they want on the most important page of their site. It repeatedly

[2021-12-03 03:02] arunsathiya commented on #52241
33019126-hc.

[2021-12-03 03:03] masperber opened #58800 "Gutenberg Camel Case typography doesn't work when the text is typed in uppercase."
### Quick summary

The typography setting on a Paragraph Block normally allows text to be converted to uppercase, to lowercase, or to camel case. Text that is natively typed in uppercase cannot be converted to camel case.

### Steps to reproduce

1. Insert a Paragraph Block.
2. Type text in all uppercase.
3. Attempt to convert the text to camel case.

https://user-images.githubusercontent.com/1290

[2021-12-03 03:07] openfist opened #58801 "Search feature for main menu of Calypso"
### What

Request for a search feature to be present on the Calypso main menu.

For easier and faster discovery

![Markup 2021-12-03 at 11 04 21](https://user-images.githubusercontent.com/11617249/144538047-ab991c83-fa8d-4f79-96be-f57cfafb90ca.png)

### Why

Customer with multipler plugins installed will have trouble finding settings and such.
Any new features we at Automattic will install will al

[2021-12-03 03:39] delputnam commented on #58755
Yep.  Those are the only ones we have currently (introduced in 2017 😬). If you have any additional data on which email providers users who have "lost" their email records are using, there might be a way we can add those as well.

One other idea is to look specifically for the DNS records related to these popular services and attempt to copy them. It's likely there is still enough variation between

[2021-12-03 03:39] #58755 closed, assigned to nobody

[2021-12-03 07:07] Robertght commented on #58594
Another case in #4556198-zen

[2021-12-03 09:00] #51388 closed, assigned to dsas

[2021-12-03 09:03] stronenv commented on #57711
The issue seems to be resolved for 4449926-zd-woothemes :

- Color changes are saved and displayed correctly on the page and in the Editor.
- Opacity changes are saved and displayed correctly on the page and in the Editor.

Unsure which release actually did the fixing since 4449926-zd-woothemes has been on hold for a while.

[2021-12-03 09:29] liviopv commented on #57303
In my experience, this issue happens frequently when using the Masonry Block and it doesn't seem to be directly related to the block being or not a child of another block.

The original issue on the CoBlocks repo https://github.com/godaddy-wordpress/coblocks/issues/1658 was closed because they couldn't solve the issue on their own. They point the root cause to this issue in the masonry library rep

[2021-12-03 09:33] yansern commented on #57015
@unDemian and @aerych, any thoughts on this issue and this PR https://github.com/Automattic/wp-calypso/pull/58324 based on the prior discussions on p9lV3a-1UT-p2#comment-2717?

[2021-12-03 09:52] rinazrina commented on #55283
Got another report here: #4562900-zen

Suddenly there are big discrepancies between total views and views by country starting from Nov 15th, 2021.

<img width="1094" alt="Markup 2021-12-03 at 17 46 37" src="https://user-images.githubusercontent.com/33721365/144581881-a90ba148-e7d7-41fc-8a08-4a633aeab37e.png">

[2021-12-03 10:19] #57223 closed, assigned to escapemanuele

[2021-12-03 10:59] simison opened #58806 "[Bug]: blue Start flow plans grid has wrong color "free" link"
### Quick summary

When I went through importer flow, I saw blue plans grid and visually broken free link:

<img width="1520" alt="Screenshot 2021-12-03 at 12 56 42" src="https://user-images.githubusercontent.com/87168/144591326-042be2b0-75c4-4d7f-b264-b22010721a8c.png">

### Steps to reproduce

1. Start at https://wordpress.com/start/import/from-url?ref=compare%2Fwix-lp
2. You can add my Wix site