[2022-06-21 21:02] supernovia commented on #64116
I was also unable to reproduce this. Here's how I tested:
- I used an existing free test site.
- I clicked on Plugins
- Clicked Upload
- Was prompted to upgrade to Pro
- I upgraded to pro
- Went back to Plugins
- Clicked Upload, and while I was warned about the site url changing, it didn't prompt an upgrade.

[2022-06-21 21:04] #53515 closed, assigned to nobody

[2022-06-21 21:31] masperber commented on #62755
35805605-hc

Another case, using the Storefront theme. They were able to access theme options from Appearance → Customize. No follow-up needed.

[2022-06-21 21:45] mreishus commented on #58998
Limited atomic has modified these checks after this ticket was created:

### Front-end, calypso

`shouldUpgrade` and `upgradeAndInstall` are now true[ if the site does not have the `FEATURE_INSTALL_PLUGINS` feature](https://github.com/Automattic/wp-calypso/blob/8a5af3cb5e97fa1daf8a57c1624899205917e2f1/client/my-sites/plugins/plugin-details-CTA/index.jsx#L55-L58). If the feature is missing, it now

[2022-06-21 21:54] obenland commented on #64116
I can't reproduce it either, instead of redirecting after the error message it now shows an error banner at the top right.

However I think we can be a bit smarter about showing the "Installed Plugins" and "Upload Plugins" buttons. They should not be visible if the site doesn't have the MANAGE_PLUGINS and UPLOAD_PLUGINS feature.

[2022-06-21 22:42] vindl opened #64833 "Build Maintenance"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-06-21 22:44] #64833 closed, assigned to nobody

[2022-06-21 22:46] vindl opened #64834 "Build Maintenance"

[2022-06-21 23:29] p-jackson commented on #64579
Fixed in D82861-code
The reason we were seeing different redirect behaviour was that it depended on whether AMP happened to be enabled or disabled at the time it was deprecated for a particular site.

[2022-06-21 23:29] #64579 closed, assigned to p-jackson

[2022-06-22 00:17] jerrysarcastic opened #64836 "Feature Request: Add support for Vimeo Showcase embeds"
### What

Vimeo offers a way to embed what they call "showcases" which are essentially a way to display a group of connected videos in a gallery-like format.

Vimeo offers an iframe embed as outlined here: https://vimeo.zendesk.com/hc/en-us/articles/4416937940365-Share-or-embed-your-showcase

While the iFrame code will work on sites that are upgraded to WordPress on Atomic, it would be nice if we

[2022-06-22 00:28] devNigel commented on #64764
Another report: 5313150-zd-woothemes

User tried Chrome and Edge. Asked them to try on Firefox.

- [ ] Please update user once a fix is in place.

[2022-06-22 01:39] taipeicoder commented on #64518
Shipped and closing!

[2022-06-22 01:39] #64518 closed, assigned to taipeicoder

[2022-06-22 02:04] arinoch opened #64837 "Mailchimp Block: Blank screen where the "connect to Mailchimp" page should be."
### Quick summary

When setting up a Mailchimp block, users are brought to a blank marketing screen in Calypso. This should be where they can connect to their Mailchimp block.

### Steps to reproduce

1. On any site, create a new page, or edit an existing page.
2. Add the Mailchimp block.
3. click the link to set up your Mailchimp form.

### What you expected to happen

I should be prompted to con

[2022-06-22 02:09] JulianBustamante opened #64838 "Yoast SEO Premium: Restore license when restoring subscription from SA"
After restoring a Yoast SEO Premium subscription from SA, the Yoast license is not restored.

[2022-06-22 02:12] zaguiini commented on #64787
<p>I was bothered by the necessity of a new endpoint to exchange the authorization code for tokens, and the fact that it needed to be two separate endpoints (one for exchanging the code for tokens, one for finalizing the authentication flow) while those tasks could easily be merged into a single endpoint.</p>

<p>My rationale was that intermittent connections could be problematic because, for exam

[2022-06-22 02:21] arunsathiya commented on #64764
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Not applicable

📌 FINDINGS/SCREENSHOTS/VIDEO

- Not applicable. Several user reports above are sufficient.

📌 ACTIONS

- Some discussion here: p1655862627824049-slack-C029GN3KD. Waiting for an outcome on that thread.

[2022-06-22 02:26] kuropixel commented on #64764
5315474-zen

User reported not seeing where to enter 2FA code. Asked for browser info and suggested to try in latest version of Firefox.

[2022-06-22 02:39] jordesign opened #64840 "Theme Showcase: Filters not impacting theme list"
### Quick summary

When using the Theme showcase on an Atomic site - the filters (All/Free/Premium) have no impact on the list of themes shown.

### Steps to reproduce

1. Start with an Atomic Site
2. Go to the theme showcase
3. Use the filters at the top (to the right of the search bar)

### What you expected to happen

The list of posts to be filtered

### What actually happened

Nothing

### Co

[2022-06-22 03:03] kraftbj commented on #62816
By design or not, definitely sounds like a bad flow. Even with the form self-populating a button, it should still be able to customize the button.

Feel free to move this to the Jetpack repo for tracking since the PR to resolve will need to land there.

[2022-06-22 03:05] arunsathiya commented on #64764
Not closing this just yet but this is most-likely resolved: p1655867066545129/1655862627.824049-slack-C029GN3KD. Reaching out to a few customers to confirm for now.

[2022-06-22 03:12] edwinho89 commented on #52520
35250223-hc

[2022-06-22 03:22] creativecoder commented on #61107
Regarding the `fse-eligible` sticker... there is also some related code to remove in both Calypso and wpcom:

### Calypso

I think it's just this one line, sending the `enable_fse` parameter

https://github.com/Automattic/wp-calypso/blob/e4a70f5af0d7c5d1792403c3691585d587f03c5a/client/lib/signup/step-actions/index.js#L179

### wpcom

I believe the whole `wp-content/mu-plugins/full-site-editing/cla

[2022-06-22 03:31] arthur791004 commented on #64808
Close it as it's completed

[2022-06-22 03:31] #64808 closed, assigned to arthur791004

[2022-06-22 03:33] lsl commented on #64764
Merged and deployed a revert in https://github.com/Automattic/wp-calypso/pull/64839. We know a bit more about what went wrong now and this should be a complete fix. Please re-open if you encounter anything indicating otherwise.

[2022-06-22 03:33] #64764 closed, assigned to nobody

[2022-06-22 03:38] lsl opened #64841 "PT: Add end-to-end coverage for Authentication & 2FA flows."
https://github.com/Automattic/wp-calypso/issues/64764 highlighted a lack of both unit and e2e test coverage for 2FA.

Add e2e test coverage for SMS+TOTP 2FA log-in flows covering routes through:
- [x] https://wordpress.com/log-in?redirect_to=https%3A%2F%2Fwordpress.com%2F (e.g. from clicking login while on wordpress.com logged out)
- [x] https://wordpress.com/log-in direct access (e.g. from google

[2022-06-22 04:02] igotdes commented on #60858
A WordPress mobile app user reported this same issue in #5310330-zen. Specifically, they noted that they were being removed as a follower from certain blogs, and so, they've had to keep re-following the blogs.

I asked if they might have been commenting before being removed. They have just confirmed that to be the case.

Please let me know if there's any other information we can ask the user to he

[2022-06-22 04:28] rambogenius commented on #61740
Another case 1863902-hc
Theme: Twenty Fifteen
Simple site

[2022-06-22 04:34] rjchow commented on #64256
In case you missed it - https://github.com/Automattic/wp-calypso/pull/64647#issuecomment-1157360901

It's probably worth having a look at floating-ui as it's the successor of popperjs and undergoing active development

[2022-06-22 04:55] p-jackson commented on #64787
I think this retry mechanism is already built into Calypso's network stack right? So this might already be done.

Personally, I would worry that much about the situation where the second API call fails. The user experience is going to be the same whether it's a single endpoint that can fail or two endpoints where only one call fails. There'll be an error in the UI and then the user will press subm

[2022-06-22 05:15] chihsuan commented on #64106
close https://github.com/Automattic/wp-calypso/pull/64180

[2022-06-22 05:15] #64106 closed, assigned to nobody

[2022-06-22 05:19] p-jackson opened #64842 "AMP: Add tracks events to help us monitor how the AMP deprecation message performs"
### Details

Depends on the UI being implemented in #64731.

From https://github.com/Automattic/wp-calypso/issues/64731#issuecomment-1160879749, we want to use tracks to help us answer 3 questions:

1. how many users click on it?
2. what's the percentage of users that click after seeing the nudge?
3. what's the percentage of users that end up upgrading after clicking on the nudge?

We'll need a ne

[2022-06-22 05:45] alinclamba commented on #64702
Hi @dsas, it works now. Thank you!

[2022-06-22 05:54] p-jackson opened #64844 "AMP: Switch 302 redirects to 301"
### Details

Once we're convinced that the AMP rollout has gone well we should change the redirects from temporary `302`s to permanent `301`s. This will instruct search engines to update their indexes.

See https://github.com/Automattic/wp-calypso/issues/64579#issuecomment-1156005926

The redirecting code was done in D82861-code, so that's where it can be modified.

### Checklist

- [x] Change red

[2022-06-22 06:04] obenland commented on #64119
Reverted in https://github.com/Automattic/wp-calypso/pull/64792

[2022-06-22 06:13] p-jackson opened #64845 "AMP: Walks the blog network and clean up things left behind by AMP"
### Details

When the AMP plugin is removed from a standalone WordPress site it [uses the `amp_deactivate()` function to tidy up after itself when the plugin gets deactivated](https://github.com/ampproject/amp-wp/blob/2.0.0/amp.php#L254).

For the simple sites where AMP has been deprecated, they don't get this opportunity to do cleanup. We should write a script that walks the blog network and does

[2022-06-22 06:45] jromales commented on #52347
Another one in 5316700-zd-woothemes

It happens when sharing buttons are disabled for Pages. I recommended to use CSS Code if they don't want to enable Pages

[2022-06-22 07:45] arunsathiya commented on #64840
For the next triager, there's a discussion here: p1655883892864299/1655865772.124599-slack-C029GN3KD

[2022-06-22 08:05] jeherve commented on #62816
This is currently tracked here:
https://github.com/Automattic/jetpack/issues/16303

Closing this issue as duplicate.

[2022-06-22 08:05] #62816 closed, assigned to vykes-mac

[2022-06-22 08:27] jeroenpf commented on #62242
- Implemented improved color detection. The background color is now detected from taking a screenshot. Link & text colors are ordered by frequency to get the colors that are most likely to work.
- A preferred palette is suggested based on combining background, link, and text colors that match and satisfy the WCAG accessibility constraints (AA).
- Added a preview page for local testing with visuali

[2022-06-22 09:48] mmtr commented on #64333
Just deployed D82940-code which delays the sync of purchases by 5 seconds, so let's close this one out for now. Feel free to re-open if we receive new reports of outdated `WPCOM_PURCHASES` persistent data.

[2022-06-22 09:48] #64333 closed, assigned to mmtr

[2022-06-22 10:41] gcsecsey opened #64849 "Marketplace search: return all relevant fields from API"
Currently, if no fields are specified, the API returns only the `date`, `post_id`, and `blog_id` fields. To avoid having to add the fields to each request as query params, we should update the default fields to include all plugin fields.

Currently, to fetch all plugin fields, we need to make this request from calypso: https://public-api.wordpress.com/rest/v1.3/marketplace/search?http_envelope=1&f

[2022-06-22 10:56] claudiucelfilip commented on #64121
Hey @lucasmendes-design. I'm not sure what happened, probably the `/start/plans?flags=signup/addons-step` I mentioned didn't work.
I pushed some recent changes and updated the flag: `/start/plans?flags=signup/add-ons`
Here's a short screen recording of the current functionality: https://d.pr/v/XbMdUD

[2022-06-22 12:11] Addison-Stavlo commented on #54138
Closing this as outdated / resolved. Please feel free to reopen and ping if I misunderstood the current state of things.

[2022-06-22 12:11] #54138 closed, assigned to nobody

[2022-06-22 12:25] Addison-Stavlo commented on #54473
From the point of the original issue - having these settings available outside of the customizer has been resolved with the access available in "Reading -> Settings".

Interaction from users shows this to be confusing or hard to find.

Surfacing these settings in the editors is a feature request for core gutenberg (example here https://github.com/WordPress/gutenberg/issues/28341 although that issu

[2022-06-22 12:33] Addison-Stavlo commented on #53322
this has been since resolved.

[2022-06-22 12:33] #53322 closed, assigned to nobody

[2022-06-22 12:35] Addison-Stavlo commented on #41825
We can close this now as dotcom FSE was deprecated months ago.

[2022-06-22 12:47] gcsecsey commented on #64614
It seems that the jetpack instant search event which was used as an example isn't being used in tracks. This ticket should only focus on registering the render and interaction events based on PCYsg-bor-p2

[2022-06-22 12:52] markbiek commented on #64782
@valterlorran I've got this pretty much done but you & I will probably need to coordinate wiring up the button in the header that shows and hides this.

[2022-06-22 13:47] valterlorran opened #64853 "Design Picker: Tooltip text is not displaying appropriately"
When we hover the badge in the Design Picker screen, it displays a tooltip, but the text is too packed with too many lines. I believe we should make it more wide, with two to three lines.

<img width="438" alt="Screen Shot 2022-06-21 at 14 05 15" src="https://user-images.githubusercontent.com/1234758/175044429-5aa34ad4-6d03-4dde-9cdf-2421c27eecbb.png">

[2022-06-22 13:50] jorpdesigns commented on #63812
- [ ]  Just spotted another occurrence of this issue in 5317344-zen

When the user wrote in, there were 3 visitors but views were being recorded from 4 countries.

![image](https://user-images.githubusercontent.com/40006288/175045470-cc9cc001-6634-4025-b2c7-ab86eb007393.png)

At the moment, the number of visitors is 6 and the amount of countries shown is 4 which looks okay. Maybe we could look int

[2022-06-22 14:43] kdevnel opened #64856 "Baskerville 2: Post Carousel Block generated JS loading error when added on the homepage"
### Quick summary

There appears to be a conflict with Baskerville 2 theme, Post Carousel Block and Atomic that can lead to resources not loading correctly on a page and possibly leading to intermittent failures of the carousel functionality.

### Steps to reproduce

1. Use an Atomic Site
2. Activate Baskerville 2
3. Create a Post Carousel Block on the homepage - tested by pulling in specific page

[2022-06-22 15:05] dpasque opened #64859 "IGNORE: Dan's test issue -- will be deleted, can ignore"
### What

Foo

### Why

Bar

### How

_No response_

[2022-06-22 15:07] wojtekn commented on #64731
I started working on this one. I did some refactoring to let us implement the UI based on supported/deprecated conditions.

- [ ] Move "deprecated" condition out from "supported" check scope D83017-code
- [ ] [Adjust Calypso to account for the new setting received from the API](https://github.com/Automattic/wp-calypso/pull/64857)
- [ ] Remove no longer needed "deprecated" condition from "supported

[2022-06-22 15:08] wojtekn commented on #64731
@vindl good idea, I think we can do this under this ticket. It looks like the `UpsellNudge` component supports those requirements OOTB.

[2022-06-22 15:36] heavyweight opened #64862 "Hide "What’s New" button for atomic sites"
### What

"What's New" feature currently works only on simple sites, so we need to hide it on AT sites.

Once "What's New" starts working with AT sites we can show it again.
More info [here](https://github.com/Automattic/wp-calypso/pull/63874#issuecomment-1136440279)

[2022-06-22 15:50] vindl commented on #64731
I'm assuming that clicking the nudge will take the user to `https://wordpress.com/plugins/amp/{site_url}`, but just wanted to verify if we are all on the same page regarding that?

[2022-06-22 16:09] wojtekn commented on #64731
@vindl I still need to finish investigating it. We may have two cases now: for a free plan, take the user to the plan comparison page. For another user, take them to the mentioned plugin URL.

[2022-06-22 16:17] #53060 closed, assigned to nobody

[2022-06-22 16:21] vindl opened #64867 "Sites Management Dashboard: create an entry point and page for future work"
### Details

Let's create a new route in Calypso that will house all of our future work on the Multi-site dashboard. We can use `https://wordpress.com/sites` for now and make sure this work is hidden behind a feature flag and accessible in `dev` and `horizon` environments.

### Checklist

- [ ] Reuse exiting `/sites` route.
- [x] Gate the changes behind a feature flag (e.g. `multi-site/dashboard`)

[2022-06-22 16:22] klimeryk commented on #60823
Marking as resolved as this is no longer needed for the feature and the workaround mentioned above could be good enough if needed 🙇

[2022-06-22 16:22] #60823 closed, assigned to nobody

[2022-06-22 16:34] Addison-Stavlo commented on #52253
I am no longer able to replicate this, it may have been resolved elsewhere.

[2022-06-22 16:34] #52253 closed, assigned to nobody

[2022-06-22 16:40] ccwalburn opened #64869 "Cookies & Consents Banner Widget missing from Starter plan sites"
### Quick summary

The Cookies & Consents Banner widget is not available when searching for widgets on sites using the Starter plan.

### Steps to reproduce

1. Create a site using the Starter plan
2. Select a non-FSE theme that has a widget area (I used Karuna and Radcliffe 2)
3. Open Customizer > Widgets
4. Search for Cookies & Consents Banner widget

### What you expected to happen

I expected

[2022-06-22 16:46] wojtekn commented on #64842
@p-jackson I will assign this one to myself for now. It looks like that nudge component may support that OOTB.

[2022-06-22 16:53] worldomonation opened #64870 "Lint: consider disable or removal of the `jest/no-disabled-tests` rule."
### Details

In PR https://github.com/Automattic/wp-calypso/pull/64743, specifically in https://github.com/Automattic/wp-calypso/pull/64743#discussion_r903364716 the merits of the `jest/no-disabled-tests` rule was discussed.

It seems the rule hasn't had the intended results (encouraging developers to re-enable and fix their tests), instead resulting in the tests being disabled for weeks/months on

[2022-06-22 18:10] WBerredo opened #64872 "Plugin Details: Plugin not found page"
### Current

The placeholder is shown when the plugin is non existent. (WPcom or WPorg)

![Image](https://user-images.githubusercontent.com/5039531/175107726-016c7807-a666-419d-bbd0-58425376e2bb.png)

### Expected

We should show a not found page (404).

[2022-06-22 19:18] Addison-Stavlo commented on #39927
closing this one as there is no dotcom-fse anymore! 🎉

[2022-06-22 19:18] #39927 closed

[2022-06-22 19:22] Addison-Stavlo commented on #50169
I dont think this is relevant anymore as im not seeing customizer tips in FSE.

[2022-06-22 19:22] #50169 closed, assigned to nobody

[2022-06-22 19:22] Addison-Stavlo commented on #56524
can close since we deprecated LFSE

[2022-06-22 19:22] #56524 closed, assigned to jeyip

[2022-06-22 19:24] Addison-Stavlo commented on #51883
this seems to be resolved.

[2022-06-22 19:24] #51883 closed, assigned to nobody

[2022-06-22 19:32] #51890 closed, assigned to nobody

[2022-06-22 19:34] Addison-Stavlo commented on #51902
this has since been resolved.

[2022-06-22 19:34] #51902 closed, assigned to nobody

[2022-06-22 19:36] Addison-Stavlo commented on #51891
this has since been resolved.

[2022-06-22 19:36] #51891 closed, assigned to nobody

[2022-06-22 19:38] #52218 closed, assigned to nobody

[2022-06-22 19:42] Addison-Stavlo commented on #50277
this seems to have been resolved

[2022-06-22 19:42] #50277 closed, assigned to nobody

[2022-06-22 19:44] Addison-Stavlo commented on #50015
closing as this seems to have been resolved

[2022-06-22 19:44] #50015 closed, assigned to nobody

[2022-06-22 20:20] nelsonec87 commented on #64194
Closing this issue since the headstart translation automation project (pxLjZ-6Er-p2) is about to go live 🥳

[2022-06-22 20:20] #64194 closed, assigned to nelsonec87

[2022-06-22 20:40] dcoleonline commented on #64869
Also in zd-5318732

We would like the customer to be notified of the fix

[2022-06-22 20:45] jp-imagines commented on #63301
- [ ] This user came back in 5318285-zd-woothemes asking for an update on this. They've already identified the existing workarounds (and searching for blocks by typing `/`). I'm sure they'd appreciate a follow-up when this is fixed.

[2022-06-22 21:49] cometgrrl commented on #62069
@Automattic/crowdsignal Can someone from Crowdsignal take a look at this?

[2022-06-22 21:53] cometgrrl commented on #63845
@Automattic/reactor Pinging y'all to make sure this on your radar.

[2022-06-22 22:23] cuemarie commented on #34936
I've run into this a couple of times:

- 4183165-zd-woothemes in July 2021
- 35867260-hc today

Walking through steps 1-3 helps uncover the issue, where the `db_id` and the `menu_item_parent` of one menu item match.

**Workaround**:

Opening `Appearance > Menus` to use wp-admin, and moving the under and then out again from another item resets the parent id.

[2022-06-22 23:00] #64119 closed, assigned to obenland

[2022-06-22 23:14] miksansegundo commented on #60695
@roo2 How can test the modal `Add a page` in my localhost Calypso?  I tried it but I'm being redirected to automattictraining.wordpress.com. Maybe it has to be tested on the sandbox?

[2022-06-22 23:21] miksansegundo commented on #63076
We can keep track of the status of the translations for each post in [dotcomverticalposts.wordpress.com](http://dotcomverticalposts.wordpress.com/) in the [Patterns Toolkit](https://mc.a8c.com/patterns-toolkit/block-patterns/index.php?site=dotcomverticalposts.wordpress.com&theme=Hever). For now, we have about 50% translated.

[2022-06-23 00:46] jeyip commented on #64080
Some helpful notes:

- Entry point for help center is located in `wp-calypso/apps/editing-toolkit/editing-toolkit-plugin/help-center`
- Frontend UI for the help center is located in `wp-calypso/packages/help-center/src/components`
- To develop against the UI:
  - Sandbox a wpcom simple site
  - Run `yarn dev --sync` in `wp-calypso/apps/editing-toolkit`
  - Navigate to the site editor and show the

[2022-06-23 01:12] jerrysarcastic commented on #64324
Also reported in https://wordpress.com/forums/topic/constant-pop-up

Chrome 102/Windows 10

The user would like a follow-up when this is resolved

[2022-06-23 02:20] lucasmendes-design commented on #64121
Thanks Claudiu for sharing the recording 👍🏼 I did the same thing you did, I also cleaned the cache and tested in the incognito tab as well without success 😐.

**Design review:**

- [Change the text alignment inside the card to top algiment](https://d.pr/i/bdcFEs). I believe is center right now.
- I used the [same pattern of Plugin page](https://d.pr/i/8yxt1l): two lines of text, [increase the padd

[2022-06-23 02:21] arinoch opened #64880 "CSS: Variables not stripped from the editor, but not passed to the site."
### Quick summary

CSS is in limbo on sites without plugins if that CSS includes variables.

### Steps to reproduce

1. Create a site on a CSS-enabled plan. Do not install plugins.
2. Declare any number of variables for use in later CSS code.
3. Use those variables in example code.

### What you expected to happen

If we intend to strip variables, then they should be removed from the editor and pe

[2022-06-23 02:40] arthur791004 commented on #60695
@miksansegundo You have to

* Sandbox your API and ensure your siteSlug domain point to your sandbox
* Go to `apps/editing-toolkit`
* Run `yarn dev --sync` to sync the change of the ETK plugin to your sandbox

[2022-06-23 03:41] jimmy319 commented on #64347
I can't reproduce this bug on my end.

<img width="1446" alt="Screen Shot 2022-06-23 at 11 37 22 AM" src="https://user-images.githubusercontent.com/1024985/175203864-6e68aaed-df6a-4807-a8e9-4b5a08009101.png">

@simison Could you help to check if this bug still persists on your end?

[2022-06-23 06:02] #62844 closed, assigned to jimmy319

[2022-06-23 06:41] sharonlaker19 commented on #63063
I have another report of the emails showing LTR in 5313948-zen.

[2022-06-23 06:42] arunsathiya commented on #52241
- [ ] Also requested in 35870833-hc

[2022-06-23 07:35] epeicher opened #64885 "Marketplace search: Use Icons from search response"
The Marketplace search endpoint needs to read the Icon from the response and use it in the Plugin details. Currently, the Icon is not populated.

[2022-06-23 07:47] simison commented on #60646
Sergio shared this double-cookie-banner bug earlier:

![image](https://user-images.githubusercontent.com/87168/175244931-ca5680b0-c43d-42be-95b1-173ec84d1766.png)

[2022-06-23 07:49] cpapazoglou opened #64886 "Marketplace: renewal event handler"
### Details

WP.com subscription can also be renewed either automatically or manually. In these cases we should alert vendors about the renewal.

### Checklist

- [ ] We have to add a renewal event in `Subscription_Events_Handlers`
- [ ] Trigger the renewal Yoast endpoint

[2022-06-23 08:04] jeroenpf commented on #63804
A note regarding the way we currently generate custom color theme previews:

We currently override existing CSS variables. However, the color picker in the site editor directly applies colors to the body and link elements. E.g. background and text color is applied to the `body` element and the link color is applied to `a` elements.

**We should make sure to change the way we apply the colors to th

[2022-06-23 08:10] nagpai commented on #53233
5319688-zd

[2022-06-23 08:30] bogiii opened #64887 "Create import intent screen (choose between "Photos & Colors" or "Everything")"
[Select card component](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/goals/select-card.tsx) already exists, but requires changes in order to support the radio button.

[2022-06-23 08:46] fgiannar commented on #64101
Hi @obenland, thanks for your suggestion!

This is a known issue, which I'm afraid was not resolved by https://href.li/?p9F6qB-90M-p2#comment-46672 unfortunately.

We had been discussing it in [this slack thread](p1648110864091759-slack-CDLH4C1UZ) as well, where we decided that the issue is not Sync related, rather affected by AT domain mapping.

It seems that trying to fix the cause itself might

[2022-06-23 08:53] rfaile313 opened #64888 "Editor / Site -- Code Block(s)"
#### Steps to reproduce

Look at:

Editor link: https://wordpress.com/post/sretips.wordpress.com/22
Post link: sretips.wordpress.com

#### What I expected

In the editor:

1. For code blocks to display vertically in line with the page and not weirdly far left. Example:

<img width="1047" alt="Screen Shot 2022-06-23 at 3 46 59 AM" src="https://user-images.githubusercontent.com/13829168/175257659-8c

[2022-06-23 09:29] wojtekn commented on #64731
@vindl @p-jackson I've opened a PR that adds the message: https://github.com/Automattic/wp-calypso/pull/64889

I skipped the whole tracks part here as we have https://github.com/Automattic/wp-calypso/issues/64842 for that. Adding tracking for impressions and clicks is supported OOTB - we will use `tracksImpressionName`, `tracksClickName`, and `event` attributes of `UpsellNudge` for that.

[2022-06-23 09:43] escapemanuele opened #64890 "Help Center: Improve package performances"
### What

From conversation [here](https://github.com/Automattic/wp-calypso/pull/64866#issuecomment-1164124919).

А quick look at the @automattic/help-center package displays that there we use a bunch of Calypso and Gutenberg packages, and react-router, and it makes sense that it's large on its own.

However, there could be opportunity to leverage tree shaking better with some webpack magic, and/o

[2022-06-23 09:51] st8matrix commented on #64324
Another user reported the issue here: zen-5319366

[2022-06-23 09:52] gcsecsey opened #64891 "Marketplace search: get plugin data by slug"
Depends on #63171 as the data needs to be available.

To be able to fetch data on the plugin pages, we need to add the capability of displaying all plugin details by slug to the marketplace search API.

To do this, we might need to add a new filter query that is run only when a parameter is passed, eg. `marketplace/search/[pluginSlug]`

Or if we create a new endpoint for this:
 - It can be much si

[2022-06-23 10:31] escapemanuele opened #64892 "Help Center: Introduce the new help center"
### What

When the Help Center is available everywhere, we’ll show a tooltip pointing to the new help center, informing customers that they can find their help resources there

<img width="690" alt="image" src="https://user-images.githubusercontent.com/52076348/175279069-0800cf8a-068d-44f7-8a79-ba042360d0cf.png">

<img width="186" alt="image" src="https://user-images.githubusercontent.com/52076348

[2022-06-23 10:34] escapemanuele opened #64894 "Help Center: add a “Back to top” button"
For support articles, add a “Back to top” button: most articles are quite long, adding a “back-to-top” button will allow easier navigation

<img width="203" alt="image" src="https://user-images.githubusercontent.com/52076348/175279572-067d4cea-e51b-49ee-9d13-fa5bbcde11f6.png">

[2022-06-23 10:35] escapemanuele opened #64895 "Help Center: animation when minimizing and enlarging the Help center"
Add an animation when minimizing and enlarging the Help center: We can use the animation when opening the “3 dots” menu in the editor as inspiration.

[2022-06-23 10:39] escapemanuele opened #64896 "Help Center: Add video resources"
We will add new video help resources to the help center. These will pull from our [Youtube channel](https://href.li/?https://www.youtube.com/channel/UCiR2d9r3QkBwuNVS8nqGNgg), which already has a lot of great content. The videos will be a Youtube embed which will make this easier to implement, plus will give us a lot of benefits like automatic language support via Youtube’s auto-translated CCs.

W

[2022-06-23 11:05] gcsecsey commented on #64571
Currently, the translations of the multilanguage fields are added to the index, and can be queried as an object. However, fields in a given translation cannot yet be fetched.

Eg. specifying the `plugin.title` field:

query:
`https://public-api.wordpress.com/rest/v1.3/marketplace/search?group_id=wporg&query=woocommerce&fields[0]=plugin.title&lang=fa_IR`

a result from the response:
[code]

**Next

[2022-06-23 11:46] Copons opened #64900 "[Bug]: Jetpack Search upsell is upselling Jetpack Scan instead"
### Quick summary

https://github.com/Automattic/wp-calypso/pull/64342 introduced a regression to the Jetpack Search page's upsell, adding Jetpack Scan to the cart instead.

https://github.com/Automattic/wp-calypso/blob/30456c3b3d7baae887c3256fb06b07fa119df821/client/my-sites/jetpack-search/jetpack-search-upsell/index.tsx#L108

cc @elliottprogrammer @mattgawarecki

### Steps to reproduce

1. Pick

[2022-06-23 12:08] gcsecsey commented on #64885
D82452-code added the icons object as a serialized JSON object to the index:

[code]

We can either:
- parse this JSON on the client and choose an optimal icon from it, or fall back to #63169 if there's no uploaded icon
- process this object on the API and return an icon field that only contains the URL of the best version

[2022-06-23 12:17] nelsonec87 commented on #64782
@markbiek the button is also done [here](https://github.com/Automattic/wp-calypso/pull/64864)!
I'm just rebasing from the new picker branch now

[2022-06-23 12:17] gcsecsey commented on #63171
By now, all WP.org fields have been added to the index in D81205-code and D82452-code.

We've added #63903 to track adding the WC.com fields.

The list of required fields are stored/updated here: pdh6GB-Mm-p2#comment-1970

Within the scope of this ticket, we need to make sure that all required fields are returnable from the API.

[2022-06-23 12:19] gcsecsey commented on #63905
Once WC.com results are added to the API, we can test getting mixed results by sending queries with the `marketplace` group ID.

We need to make sure that the ranking between WP.org and WC.com results is consistent, and for a given search term we're receiving equally relevant matches from both sources.

[2022-06-23 12:23] aleone89 commented on #57170
Another report here: hc-34898229 - theme: https://en-gb.wordpress.org/themes/lekh/ (third party). Installing classic widgets restored the widgets to their location in bulk.

[2022-06-23 12:29] gcsecsey commented on #64574
As highlighting was removed when working on D81357-code, we can easily restore most of the logic based on `class.wpcom-json-api-search-site-v1-3-endpoint.php`.

Jetpack search highlight these fields originally:
 - comments
 - content
 - title.default
 - excerpt.default

We should discuss/clarify which fields would we like to support with highlighting?
eg.:
- title
- excerpt
- author

We also need

[2022-06-23 12:33] gcsecsey commented on #61993
Closing this as redundant with #64571, and that one is more up-to-date.

[2022-06-23 12:33] #61993 closed, assigned to nobody

[2022-06-23 12:39] ccwalburn commented on #64869
I discovered that the widget is not available because the Starter plan does not block ads. If I add the No Ads add-on, then the Cookies & Consents widget displays. So, I think the issue may be that the banner does not display automatically as it does for free sites.

[2022-06-23 12:41] tyxla commented on #64756
Haven't looked yet, but at a first glance, this looks like a case where we're not leveraging persistence properly. Many of our reducers rely on persisted state but declare a schema for the data, and if the local data doesn't comply, it's thrown away. Looks like declaring and leveraging a schema for the signup state tree should do the job.

[2022-06-23 12:45] autumnfjeld commented on #64436
This needs a P2 and wider discussion on if we want HEs to be able to change the site vertical.   Perhaps we'd also want the user to be able to change it, for instance in my home.  Should be discussed.

[2022-06-23 13:16] #63206 closed, assigned to nobody

[2022-06-23 13:34] devNigel commented on #55570
@Copons  Can we also clarify that the site will be switched to the free plan?

Users who upgrade from Premium or other lower site plans assume that when they cancel the Business plan under the refund period, the site will switch back to the previous plan instead of free plan.

Here's a case: 5319255-zd-woothemes

[2022-06-23 13:37] JoshuaGoode commented on #63845
Overall, this issue has been off/on for WPCOM for some time.  For both Simple and Atomic. It just impacts Atomic a bit more since a broken domain will break a site's Jetpack connection and, in turn, site management.  Jetpack connections power everything from the ability to edit a site down to domains and billing management.

* https://github.com/Automattic/wp-calypso/issues/49898
* https://github.

[2022-06-23 13:41] JoshuaGoode commented on #63845
cc @delputnam

[2022-06-23 13:41] kerrynicl commented on #64352
I think this is also a good idea. Perhaps a secondary contact in Account Settings or Security would be valuable. It would also avoid some AR requests

[2022-06-23 13:48] marcuswisecaesar commented on #64098
Unable to reproduce on my Limited Atomic Test Site, plan progression being: Free - eCommerce - Starter

![image](https://user-images.githubusercontent.com/36801460/175314906-a8893c1f-bbcd-4b5e-a568-7a8e0ee1f2f8.png)

Unable to reproduce on my Starter Test Site, plan progression being: Free - Starter

![image](https://user-images.githubusercontent.com/36801460/175314795-ed961a0f-144a-4a4e-8879-d701

[2022-06-23 13:48] #64098 closed, assigned to nobody

[2022-06-23 13:53] upwardmomentum84 commented on #60119
Another instance here: 35883217-hc

[2022-06-23 13:56] marcuswisecaesar commented on #64101
Thanks for your work on this!

I've tested this on my Limited Atomic test Site, plan progression Free → eCommerce → Starter to activate Limited atomic, and though I cannot see Jetpack options, instead I see an empty screen.

However, I do see notifications to finish setting up eCommerce plugins TaxJar etc.  Is this expected/related behavior?

![image](https://user-images.githubusercontent.com/3680

[2022-06-23 14:07] fgiannar commented on #64101
What I can confirm with confidence is that [your site went into IDC while provisioning](https://logstash.a8c.com/logstash/app/discover#/doc/log2logstash-*/log2logstash-1m-index-2022.06.23-000350?id=yl69kIEBFvduJszFaHHB)!

This is a good thing because it was confirmed via logging and it's exactly what I intend to fix :)

However, I can not say for sure that the empty screen issue will be solved by

[2022-06-23 14:10] kerrynicl commented on #64438
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 FINDINGS/SCREENSHOTS/VIDEO
<img width="1510" alt="Markup 2022-06-23 at 09 09 58" src="https://user-images.githubusercontent.com/83325600/175319880-64e1c6ce-b44d-48ac-84e1-da528a7e70c0.png">

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Feature request kept

[2022-06-23 14:17] JoshuaGoode commented on #63845
Unfortunately, I don't have data at the moment.  It happens from time-to-time in terms of escalations Reactor receives but is largely dependent on network conditions at the time of propagation.

Jetpack seems to be a bit more finicky when it comes to propagation.

We've seen many cases where WPCOM seems to recognize the domain as being accessible but Jetpack doesn't. Upon further inspection, there

[2022-06-23 14:23] renata-franco commented on #64629
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on AT ✅ (with Premium plan)

📌 FINDINGS/SCREENSHOTS/VIDEO

On my end, I was able to downgrade a Business AT site to Premium from SA, while keeping the site AT. I do not see the `Settings > Permalink` option available, though, as you can see here:

![image](https://user-images.githubusercontent.com/81378719/175

[2022-06-23 14:42] renata-franco commented on #64630
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅  (with Premium plan)
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

This can be replicated on a normal Business AT site as well as an AT site with Premium or Personal plan.
And it looks like this issue has been opened before, see here: 225-gh-Automattic/atomic

📌 ACTIONS

- Closed

[2022-06-23 14:42] #64630 closed, assigned to nobody

[2022-06-23 14:54] renata-franco commented on #64632
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this on Simple and AT sites. And it's very strange. I also get another issue that when I click on one of the lists of the things in my reader, the page jumps to the top.

I recorded a video of the whole issue.

https://user-ima

[2022-06-23 14:55] sajmes opened #64906 "Separator Block: color changes do not show in editor"
### Quick summary

When the background color for a separator block is changed, that change does not show in the editor. The change is only visible on the live site or when previewing in a new tab.

### Steps to reproduce

1. Add separator block to a new page or post.
2. Change the background color in the block settings.

### What you expected to happen

The separator block appears in the correct c

[2022-06-23 15:02] mmtr commented on #58375
I briefly investigated this and I think the next steps for fixing this issue is to amend the `site_queue_rewind` call that enqueues the restore to include a missing `transfer_master_user_id` parameter that, if present, preserves the current Jetpack tokens. However, this is a highly unfamiliar area for me, so I asked for a bit more of guidance in pbuNQi-2MU-p2#comment-4989.

[2022-06-23 15:05] renata-franco commented on #64635
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

Looks like a similar issue was opened before, and closed: https://github.com/Automattic/wp-calypso/issues/36370
Not exactly the same, but similar.

And it looks like The "Media" options should not appear either on a Premium/Personal/Starter site, j

[2022-06-23 15:08] obenland commented on #64101
Fantastic, thanks so much for your help on this @fgiannar!

[2022-06-23 15:12] CGastrell commented on #62069
We've identified the issue: the plugin uses a hook that is not triggered while editing template parts. No ETA yet.
Polls do not work either on these FSE template parts.

[2022-06-23 15:30] #61316 closed, assigned to arcangelini

[2022-06-23 15:33] creativecoder commented on #64527
👋🏼 this looks like a good "first issue" for a new developer on my team, so I'd like to have @mpkelly take this on, if you don't mind!

[2022-06-23 17:33] blackjackkent commented on #64202
I think combining these ideas might be best. A label that says the "get tips sent to your inbox" thing, followed by clickable text "Use your WordPress.com email." This efficiently communicates to the user that the two emails are not equivalent.

[2022-06-23 17:37] kerrynicl commented on #64752
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I was able to replicate this on both Simple and Atomic sites.

https://user-images.githubusercontent.com/83325600/175359811-cf69da43-c1ca-4d5f-beb8-50eb2ab41753.mp4

📌 ACTIONS
- Marked a

[2022-06-23 17:52] andres-blanco commented on #64507
Closed by D82626-code

[2022-06-23 17:52] #64507 closed, assigned to markbiek

[2022-06-23 18:15] kerrynicl commented on #64532
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 FINDINGS/SCREENSHOTS/VIDEO
I agree that this feature would be handy in managing menus from the Site Editor since it was available in the Customizer and not on sites using FSE

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Feature request kept

[2022-06-23 18:31] aisajib commented on #64682
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I was able to replicate the issue on both simple and atomic sites. Wasn't able to reproduce it on a self-hosted site.

![simple-fixed-background-issue](https://user-images.githubusercontent.com/2541844/175369720-29fafdd0-723c-4

[2022-06-23 18:48] creativecoder commented on #56373
Closing this, as I think https://github.com/Automattic/wp-calypso/issues/61107 captures the remaining tasks.

[2022-06-23 18:48] #56373 closed, assigned to creativecoder, zaguiini

[2022-06-23 19:14] andres-blanco commented on #64705
Started working on this here: D83131-code

[2022-06-23 20:18] Nyiriland opened #64913 "Comment form: design change suggestions and accessibility improvements"
### Quick summary

### 1 - Form field padding inconsistent
I noticed on the default dotcom comment form, the textarea container (`#comment-form-comment`) has smaller padding on the bottom than the top and sides. Does this have a purpose? Screencap below, where you can see how apparent the uneven padding is when full of text:

<img width="725" alt="image" src="https://user-images.githubusercontent.

[2022-06-23 20:59] ClassicRKR27 opened #64917 "Buttons block: altered styling(colors, padding, border-radius)"
### Quick summary

Had a user report that their buttons were missing from multiple sites that are all using the `Canape` theme which seems to be a new bug.

### Steps to reproduce

1. Switch your theme to `Canape` or `Coherent`
2. Make sure that the background color of the theme is set to `white`
3. Add a button block and make sure that the `Style` is set to `Fill` without selecting any colors

##

[2022-06-23 21:31] arinoch opened #64918 "Embed block: Silently fails and converts to paragraph block on simple sites."
### Quick summary

A URL that can't be embedded will not throw an error, but silently convert to a paragraph block. This deviates from core behaviour.

### Steps to reproduce

1. Create a post, page, or portfolio project on a simple site.
2. Try to embed a URL that won't embed. The user tried with this URL, and so did I. https://www.washingtonpost.com/brand-studio/wp/2021/11/05/celebrate-christmas

[2022-06-23 21:34] worldomonation commented on #64841
P2: p58i-cye-p2

[2022-06-23 21:41] jamiepalatnik commented on #63765
Closing in favor of this issue: https://github.com/Automattic/wp-calypso/issues/57660
See Slack discussion for reference: p1655391908616619-slack-C01UW7SB411

[2022-06-23 21:41] #63765 closed, assigned to nobody

[2022-06-23 21:44] jamiepalatnik commented on #57660
Adding reports for follow-up from this related closed issue: https://github.com/Automattic/wp-calypso/issues/63765
- [ ] 5228082-zd-woothemes
- [ ] 17541658-hc
- [ ] 35740447-hc

[2022-06-23 21:49] jerrysarcastic commented on #45586
User in https://wordpress.com/forums/topic/importing-content-from-wix

`It looks like we're unable to reach that website address at this time. (ID: f3be65d6-4b88-44a1-b829-86079c10bb3b)`

I suggested this workaround as others have noted (after shaking my fist at the sky in solidarity with the site owner) https://themeisle.com/blog/transfer-from-wix-to-wordpress/

[2022-06-23 21:58] worldomonation commented on #64841
@lsl I'm not as familiar with the last two use cases; could you elaborate on an example for each? Thanks!

[2022-06-23 22:18] DustyReagan commented on #64116
This bug is caused by Atomic WPCOM_PURCHASES data being out of sync with WPCOM purchase data. Essentially the Atomic site is seeing an eCommerce and Premium subscription (for example), but WPCOM (the source of truth) is only seeing the Premium subscription.

It’s hard to say what caused the data to become out of sync, but we believe it's due to a race condition where we are updating Atomic WPCOM_P

[2022-06-24 00:33] worldomonation commented on #64841
@lsl I've been testing the behavior of TOTP 2FA and it appears that the same TOTP code is rejected the second time around even if the code is still valid.

eg.
1. log in and enter 111 111
2. log out or launch a new browser instance
3. log in and enter 111 111

In this case, even if 111 111 is still valid (within the 30-second window) the code is rejected.

I assume this is intended behavior, but i

[2022-06-24 00:40] retnonindya commented on #54866
An A11N reported it here: p1655920366995129-slack-C02F2757J

Removed the duplicates and the flicker no more ✨

[2022-06-24 02:14] lsl commented on #64841
Just checked they're using the same form components so you can probably skip these. I was thinking about how those flows push you through a different set of urls and forms but the 2fa parts looks shared. Logging in to woocommerce.com with 2fa enabled you'll see what I mean.

That's going to cause problems :smile:

I'm guessing testing 2fa needs to be followed by removing 2fa so keys get refreshed.

[2022-06-24 02:27] arunsathiya commented on #51343
Yes to bridging this gap. Here's an example of a profile having "Disable the visual editor when writing" setting enabled but wp-admin profile settings page, and it was not evident until we directly visited that page: p1656037179501359/1656035307.426459-slack-C03TY6J1A.

Showing wp-admin profile (domain.com/wp-admin/profile.php) settings on Calypso profile settings (https://wordpress.com/me) would

[2022-06-24 02:43] JulianBustamante commented on #64886
Diff created D83150-code

[2022-06-24 03:41] taipeicoder opened #64919 "[Safari] Generated design picker: User is redirected to the design preview URL"
## Description
Something I noticed while playing around with #64884, but it also happens with the current mShots implementation in Horizon. The `WebPreview` component that we use for large design previews has a mechanism where it will redirect users to the embedded page URL if the iframe [fails to load](https://github.com/Automattic/wp-calypso/blob/trunk/client/components/web-preview/content.jsx#L

[2022-06-24 04:02] happychait commented on #64917
I had the same user in 5322223-zen with a similar issue but the custom CSS we provided earlier didn't help.

https://user-images.githubusercontent.com/1519466/175459457-76446850-3caf-427a-8154-b8a73d11804a.mp4

I suggested a more straightforward workaround: you can edit the button in the Outline mode, and once you are done editing, you can check the button style to Fill as following:
![Captured at

[2022-06-24 06:00] cpapazoglou opened #64923 "Purchases: monthly billing period shows as annual"
### Quick summary

_No response_

### Steps to reproduce

1. Buy https://wordpress.com/plugins/wordpress-seo-premium/
2. Go to https://wordpress.com/me/purchases
3. Find the Yoast SEO Premium subscription and click it

![CleanShot 2022-06-24 at 08 20 50@2x](https://user-images.githubusercontent.com/12430020/175472258-9b57cd70-026e-4603-9a9c-949e8a18caff.png)

### What you expected to happen

Billi

[2022-06-24 06:12] zachspears commented on #64373
_[Moved to Gutenberg Repo](https://github.com/WordPress/gutenberg/issues/41927)_

[2022-06-24 06:12] #64373 closed, assigned to nobody

[2022-06-24 06:12] galakhyati commented on #64691
Another report for the issue to access Kit Library: 5322256-zd-woothemes

[2022-06-24 06:34] zachspears commented on #64602
I think this is a great recommendation for feature priority.

[2022-06-24 06:49] zachspears commented on #57163
This has popped back up in the PA Triage board, given the related core issue and that this functionality is no longer handled within wp-calypso, I am closing the issue for now.

[2022-06-24 06:49] #57163 closed, assigned to nobody

[2022-06-24 06:56] zachspears commented on #64633
I was able to reproduce this, I am thinking the external link should be removed when the sidebar is collapsed. Marking low priority since it does not cause any obstructions.

[2022-06-24 07:46] kdevnel opened #64927 "Gutenberg plugin: changes to RTL image margin CSS breaking layout"
### Quick summary

It appears that the latest Gutenberg plugin makes changes to default styles for image margins, and in this specific case that appears to break a page layout without an obvious solution.

### Steps to reproduce

1. Add columns block
2. Insert images into the column blocks
3. Toggle Gutenberg on and off to see the difference in styles

### What you expected to happen

The styles s

[2022-06-24 08:20] inaikem opened #64928 "Test bug report: Please do not action until encountered in the triage queue"
### Quick summary

This is a test.

When you encounter it during normal triage in the `Needs Triage` column, please mark follow the triage process and move to the next step in the queue.

When this issue is encountered in the `Prioritize & Assign` column during prioritization, please mark it as closed.

### Steps to reproduce

-

### What you expected to happen

-

### What actually happened

-

#

[2022-06-24 08:20] inaikem opened #64929 "Test feature request: Please do not action until encountered in the triage queue"
### What

This is a test.

When you encounter it during normal triage in the `Needs Triage` column, please mark follow the triage process and move to the next step in the queue.

When this issue is encountered in the `Prioritize & Assign` column during prioritization, please mark it as closed.

### Why

-

### How

_No response_

[2022-06-24 08:21] inaikem opened #64930 "Test enhancement request: Please do not action until encountered in the triage queue"
### What

This is a test.

When you encounter it during normal triage in the `Needs Triage` column, please mark follow the triage process and move to the next step in the queue.

When this issue is encountered in the `Prioritize & Assign` column during prioritization, please mark it as closed.

### Why

-

### How

_No response_

[2022-06-24 09:46] #51588 closed, assigned to mmtr

[2022-06-24 10:06] jeherve opened #64935 "[Bug]: Custom Post Types not displayed in Calypso UI"
### Quick summary

One should have access to their allowlisted Custom Post Types when managing their site from the WordPress.com dashboard. This used to be possible, but the CPT do not appear in the sidebar menu anymore.

### Steps to reproduce

1. Start with a Jetpack site that's connected to WordPress.com.
2. Register a new CPT, and allowlist it.
[code]
3. You will see the new post type menu whe

[2022-06-24 10:11] jeherve commented on #64935
I think it may be related to the fallback menu we added to Jetpack sites when we worked on nav-unification: #49352

[2022-06-24 10:46] fgiannar commented on #64101
Fix is deployed :)

@marcuswisecaesar Could you please test the [aforementioned issue](https://github.com/Automattic/wp-calypso/issues/64101#issuecomment-1164439995) and let me know if it's resolved?

I have also updated the corresponding discussion here: p9F6qB-90M-p2#comment-47735, where you can find detailed information on the fix and how to track the AT sites that it has already been applied t

[2022-06-24 10:55] gcsecsey commented on #63167
The `plugin_section` taxonomy is already available in the `jetpack-search` index under the `_source.taxonomy.plugin_section` key. It is only added to posts which have some term assigned.

Eg. featured plugins from this page will all have the `featured` section added: https://wordpress.org/plugins/browse/featured/

Some sections on WP.org are created by applying a different sorting to the query, eg

[2022-06-24 11:35] Robertght commented on #64840
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
-
📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple - no
- Tested on AT ✅
- Tested on Self-hosted - no
-
📌 FINDINGS/SCREENSHOTS/VIDEO
- Already reverted and it looks like it's already working.

📌 ACTIONS
- Closed as no longer relevant (issue resolved by #000000)

[2022-06-24 11:35] #64840 closed, assigned to nobody

[2022-06-24 11:43] rickmgithub opened #64937 "Button 2 Blog Posts Block ignoring images on public view"
### Quick summary

Featured images appear in Blog posts block in the editor but do not appear on the public site.

### Steps to reproduce

1. Personal plan
2. Add a blog posts block in a grid format with featured images show in a post (note user case is in a post)
3. Look at the preview, the featured images are missing

### What you expected to happen

The featured image to show

### What actually

[2022-06-24 12:01] #63934 closed, assigned to mattwiebe

[2022-06-24 12:57] mmtr commented on #63878
Just deployed the last diff (D82929-code) that removes the temporary user gate check, so the Atomic space quota is now adjusted according to the site purchases for all users.

[2022-06-24 12:57] #63878 closed, assigned to mreishus, mmtr

[2022-06-24 13:12] alinclamba commented on #63091
Hi,

Any update on @foleynotrose comment above, please?

The ticket popped up after a week and we're not sure how to proceed.

Thank you! 🙌

[2022-06-24 13:22] chriskmnds commented on #64121
Addressed most of these points in the [base PR](https://github.com/Automattic/wp-calypso/pull/64289). Let's create issues to see how we'll handle these mainly (the rest can be tuned further easy):

- two lines of text
- I wonder if we decided to show the [full price per year or "X$/month, billed yearly"](https://d.pr/i/OgL0tb)

**what it looks like now in admin:**

<img width="714" alt="Screenshot

[2022-06-24 14:06] #64862 closed, assigned to heavyweight

[2022-06-24 14:20] epeicher opened #64939 "Marketplace search: Filter by Author returning different results than wporg"
This is a follow-up of the task https://github.com/Automattic/wp-calypso/issues/64801 and the PR https://github.com/Automattic/wp-calypso/pull/64848#pullrequestreview-1017442611 . Filtering by author in wp.org returns different results than filtering by author using `jetpack-search`.

It is not clear how the [`wporg` API handles author names](https://github.com/WordPress/wordpress.org/blob/b6a4561

[2022-06-24 14:41] gcsecsey commented on #64939
I've investigated searching in multiple fields with the current index, using `litespeedtech` as a test based on [this finding](https://github.com/Automattic/wp-calypso/pull/64848#pullrequestreview-1017442611).

There are no results for this query on the index:

[code]

The plugins themselves are in the index though, but they contain `Lightspeed Technologies` in the `plugin.author` field.

[code]

[2022-06-24 14:42] marcuswisecaesar commented on #64101
@fgiannar Thanks for your hard work on this!

I'm testing on the site I used previously Free → eCommerce → Starter, and the plugin notices remain:

![image](https://user-images.githubusercontent.com/36801460/175558382-d8f86d73-e1bb-4b20-bece-47d43a53150b.png)

On my Free → Starter, plan site the plugin notices do not appear.

![image](https://user-images.githubusercontent.com/36801460/175558992-c0

[2022-06-24 15:08] fgiannar commented on #64101
Thanks for testing @marcuswisecaesar !

I believe since the fix affects newly created Atomic sites (while provisioning occurs) we need to test with a site that will be provisioned to AT after the fix was live today.
From what I understand both those sites were provisioned before, right?

[2022-06-24 15:10] chriskmnds opened #64941 "Add-ons: Add-on cards continue to show as "included in your plan" after canceling plan subscription (until page refresh)"
**What**

Add-on cards in admin continue to show as "Included in your plan" after canceling the plan subscription. This happens as of https://github.com/Automattic/wp-calypso/pull/64289 gets merged.

1. Go to `/add-ons/[SITE_SLUG]` with a site on a Pro plan.
2. Observe that add-ons show up as "Included in your plan".
3. Click through to cancel the Pro plan subscription.
4. Click through back to th

[2022-06-24 15:13] #64527 closed, assigned to mpkelly, chickee0311

[2022-06-24 15:28] chriskmnds opened #64943 "Add-ons: Decide on billing/price info in cards"
**What**

As commented by @lucasmendes-design

As of https://github.com/Automattic/wp-calypso/pull/64289 (assuming no updates in this context prior to shipping), we'll be showing `x / year` in the add-on cards.

![Image](https://user-images.githubusercontent.com/1705499/175567541-f57cc173-7b7d-4569-be39-f4092cb1b313.png)

[2022-06-24 15:33] chriskmnds opened #64944 "Add-ons: Finalise content (names, descriptions), and update styling where necessary"
**What**

- Finalise the titles and descriptions for add-ons (likely best to update the source/backend to avoid overriding in Calypso if necessary)
- Update styling where necessary (longer descriptions may need cut-off/ellipsis/read-more)

As commented by @lucasmendes-design [here](https://github.com/Automattic/wp-calypso/issues/64121#issuecomment-1163850111) for descriptions:

[2022-06-24 15:48] wojtekn commented on #64842
@p-jackson I've configured impression and click events using UpsellNudge attributes: https://github.com/Automattic/wp-calypso/pull/64889

I'm holding on registering those until we have that PR reviewed and closer to being merged. The tracks can still be checked and tested before they are registered.

[2022-06-24 15:50] chriskmnds opened #64945 "Add-ons: Render some form of placeholder in the grid while products & purchases are being fetched"
**What**

As of https://github.com/Automattic/wp-calypso/pull/64289

It would be nice to render some sort of placeholder in the grid (in admin and signup) while data is loading/fetched from the API (the page has dependencies on purchases and products, and it renders empty until they are fetched).

1. Go to `/add-ons/[SITE_SLUG]`
2. Observe empty page until products are fetched.

**How**

Check out

[2022-06-24 16:05] liviopv opened #64947 "Publication Theme: Image Block displayed with no bottom margin"
### Quick summary

It seems that a change in the markup of the Image Block has led to Image Blocks on the Publication theme to be displayed without any bottom margin, so any element without a top margin or padding (such as a Paragraph Block) is displayed directly below the image, with no gap.

Images that were inserted into the post before recent updates are displayed correctly while adding new Im

[2022-06-24 16:09] worldomonation commented on #64841
An alternative I'm thinking of is to run the only as part of the Pre-Release builds, which only run one at a time in sequence. That should be enough to ensure isolation and for the TOTP codes to refresh between runs.

[2022-06-24 16:20] WBerredo commented on #64923
The issue is related to this check on the product plan, as the plan at this point is a string with the slug, it won't enter this condition, and still as default (`year`):
https://github.com/Automattic/wp-calypso/blob/3799492a9e2992f76e21e6fe54535cd019a57322/client/me/purchases/manage-purchase/purchase-meta.jsx#L248-L258

The definition of the plan happens on this method which verifies if the produ

[2022-06-24 16:44] dcoleonline commented on #64682
5323845-zd

I applied this workaround CSS for now:

[code]

Please notify them when the issue is resolved so that they can remove the above CSS.

[2022-06-24 16:50] marcuswisecaesar commented on #64101
This site - Free → eCommerce → Starter was provisioned following the testing steps here - p7DVsv-eHx-p2

However, I realize that the Free → Starter plan site here:
![image](https://user-images.githubusercontent.com/36801460/175605716-0a54d293-bc92-4b52-b74f-b949bbdd192c.png)

Has not been provisioned Atomic

[2022-06-24 16:52] obenland commented on #64101
Those plugin banners should be unrelated to Safe Mode, they appear when the plugins get first activated on a site

[2022-06-24 16:59] JulianBustamante commented on #64886
Deployed r247961-wpcom

[2022-06-24 17:06] markbiek commented on #64677
See paYKcK-1OO-p2 for full details of the discussion surrounding this.

The short version is that it doesn't seem fixable using `onFilterValueChange` so I've made an update to the underlying component.

PR is in the gutenberg project, [#41952](https://github.com/WordPress/gutenberg/pull/41952)

[2022-06-24 17:21] JoshuaGoode opened #64950 "[Bug] VideoPress Upgrade Prompt"
### Quick summary

A VideoPress upgrade prompt can be visible under https://wordpress.com/settings/performance/

`You have used your free video. Upgrade now to unlock more videos and 1TB of storage.`

![Screen Shot on 2022-06-24 at 13:13:08](https://user-images.githubusercontent.com/4887830/175610367-bf5d51fa-5939-41c6-b1c1-9e9af56dacd3.png)

The issue is that it directs to the standalone VideoPre

[2022-06-24 17:42] JoshuaGoode commented on #64102
This appears to be resolved but will test again later. Added limited Atomic label.

[2022-06-24 17:44] JoshuaGoode commented on #56294
Moving to https://github.com/Automattic/wp-calypso/issues/61041

[2022-06-24 17:44] #56294 closed, assigned to nobody

[2022-06-24 17:46] Robertght commented on #64856
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple - no
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could replicate it on Safari, but I saw no errors or usability issues.
- Also, the links in the report do not seem to be valid.

📌 ACTIONS
- Await author feedback

📌 Message to Author
 - Could you s

[2022-06-24 17:55] Robertght commented on #64830
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2  no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I believe this was an issue caused by #64840.

📌 ACTIONS
- Closed as duplicate of #64840

📌 Message to Author
 - If this is not the same issue, please re-open.

[2022-06-24 17:55] #64830 closed, assigned to nobody

[2022-06-24 17:59] vindl commented on #64731
Plugin installation should already handle the free plan upsell flow. Taking them to the plan comparison page might be disorienting. ("I upgraded to a paid plan, what now?")

[2022-06-24 18:06] Robertght commented on #64947
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I cannot replicate this and I noticed the markup follows the first structure mentioned above.

📌 ACTIONS
- Await author feedback

📌 Message to Author
 - @liviopv is this present while using the Class

[2022-06-24 18:12] Robertght commented on #64937
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate and it's a known thing with the older themes.

📌 ACTIONS

- Closed as duplicate of https://github.com/Automattic/themes/issues/4324 and https://github.com/Automattic/newspack-blocks/issue

[2022-06-24 18:12] #64937 closed, assigned to nobody

[2022-06-24 18:27] jp-imagines commented on #62755
Another in 35895076-hc. User had switched to a third-party theme with its own version of the Site Editor, and were confused when the "Edit Site" link wasn't working.
No follow-up needed.

[2022-06-24 18:32] khristiansnyder commented on #64917
I've encountered a few instances of button formatting changing after the latest GB update.

My findings so far:
* The cases I have had have been button blocks all with the `.wp-block-button__link` class
* The buttons lose their padding and usually the radius that was set.

Screenshot. Left is current, right side is using Wayback machine showing the proper padding for that button:

![Markup 2022-06

[2022-06-24 18:32] poeticabdul commented on #64917
Reported here 6127121-hc

Followup [5323598](5323598-zd-woothemes)-zen

[2022-06-24 18:49] jp-imagines commented on #64917
Reported in 34937445-hc. Third-party theme. One Buttons block (2 buttons) were affected (turned white on white background) when hovered over. Advised user to switch to a different "style" (Outline) for now.

- [ ] Follow-up: 5324135-zd-woothemes

[2022-06-24 20:08] #64251 closed, assigned to mattwiebe

[2022-06-24 20:16] jp-imagines commented on #62279
Had another request for this here: 35825951-hc

[2022-06-24 20:40] lizswafford opened #64954 "Sapor: Like This Button appears twice on front page when Full Post content option is used"
### Quick summary

When the Sapor theme has the front page set to show posts and the content option is Full Post, the "Like this:" button and likes appear twice below each post.

Work around is to set the site to show Post Excerpt in content options.

### Steps to reproduce

1. Activate Sapor theme
2. Set front page to show posts
3. Set content options to Full Page
4. Activate the "like this:" but

[2022-06-24 21:59] #64250 closed, assigned to nobody

[2022-06-24 22:01] gutenberg-plugin-upgrade-bot[bot] opened #64956 "Gutenberg: v13.6.x plugin upgrade"
Previous upgrade: #64588
Release notes: [v13.6.0](https://github.com/WordPress/gutenberg/releases/tag/v13.6.0)

**Install and activate**

- [x] Install and activate v13.6.0-rc.1 on edge (D83421-code)
- [x] Install and activate v13.6.0 on edge (D83793-code)
- [x] Activate v13.6.0 on production (D83422-code)
- [x] Request v13.6.0 AT upgrade (p9o2xV-2eZ-p2)

**Testing**

- [x] v13.6.0 Desktop viewpor

[2022-06-24 22:01] #64588 closed, assigned to nobody

[2022-06-24 22:18] fullofcaffeine commented on #56468
We shipped a fix for this today in D73778-code. I'll close this now, but feel free to re-open it if you get a similar report again and we'll investigate. Thanks!

[2022-06-24 22:18] #56468 closed, assigned to nobody

[2022-06-24 22:35] edequalsawesome commented on #64917
Also reported in 5323732-zen, provided CSS workaround

[2022-06-24 22:45] #63196 closed, assigned to wojtekn

[2022-06-24 23:38] hgwaltney commented on #64917
Reported in 5324212-zen

[2022-06-25 01:56] edwinho89 commented on #64917
A little far-fetched, but this chat in 35888729-hc had its button border radius removed, and may be related altogether.

[2022-06-25 02:03] formosattic commented on #59860
Issue also raised at https://github.com/WordPress/gutenberg/issues/34688

[2022-06-25 03:12] syhussaini commented on #64758
Just check if we have any updates on this subject.

[2022-06-25 03:40] bphilippi92 opened #64959 "Query Loop - Masonry Layout"
### What

The customer is using "Query Loop" to display portfolio images. Customer also tried Masonry block. Wants to know if there's a way to combine the two.

### Why

Masonry block accomplishes this, however, it requires you to manually adjust for each new post. Query loop is automatic, but isn't in masonry layout.

### How

Blask theme demo (image below), Query loop, but in this layout.

![ima

[2022-06-25 07:07] nagpai commented on #62755
5322058-zd

[2022-06-25 07:22] Robertght commented on #64917
Another case in here with the missing padding:
![image](https://user-images.githubusercontent.com/6737345/175763172-9f941523-65ac-4758-805d-366caa19559a.png)

Theme: Sequential

The user stated the change happened yesterday.

[2022-06-25 07:27] Robertght commented on #64917
Pinging in p1656142029379519-slack-C02FMH4G8

[2022-06-25 07:44] nagpai commented on #64438
35898535-hc

Group blocks and paragraph blocks seem to have margin that cannot be controlled. Leading to awkward white spaces

[2022-06-25 08:23] filipanoscampos commented on #64917
Another case was reported in 5323571-zd-woothemes.

- [ ] Please follow up: 5323571-zd-woothemes.

[2022-06-25 12:32] autumnfjeld opened #64960 "Unify loading screens in all onboarding flows"
# Description

This issue may need cleanup/more definition and collaboration with other Create teams.

We need to unify the loading screens that users see in signup & onboarding (from the first account screen through to any of the FTM onboarding flows).

Per this P2 convo, pdDOJh-sJ-p2#comment-346,  I pulled these problems:

- From Goals screen, clicking “Hire our experts” (difm) : see interstitia

[2022-06-25 15:20] devNigel commented on #64563
@supernovia On my end, on AT sites, the custom except is showing on the app but not on the website. I tested it on the WordPress.com Android app.

Here's a screenshot:

WordPress.com Android App:

![image](https://user-images.githubusercontent.com/33957570/175779926-dbcbb403-9cea-4f1a-86ba-6dd422ca468d.png)

Reader Website:

<img width="959" alt="image" src="https://user-images.githubusercontent.c

[2022-06-25 18:05] kerrynicl commented on #64917
Another case report - HC-35902169

[2022-06-25 18:30] Jaykame commented on #45586
35902153-hc

Wix URL: latskitchen.com

Gave user the article as workaround: https://themeisle.com/blog/transfer-from-wix-to-wordpress/

[2022-06-25 20:26] helenaartmann commented on #64917
Another case - 5325246-zd. Please follow up.

- [ ] 5325246-zd

[2022-06-25 20:47] villanovachile commented on #62755
Another report 5326375-zen

[2022-06-25 23:32] isocialtish commented on #64917
Another report of this with Social Media icons missing 5326590-zd. Disabled Gutenberg for now. Please follow up to re-enable the plugin.

[2022-06-26 02:52] formosattic commented on #58484
Related to the request to add user-level blocking https://github.com/Automattic/wp-calypso/issues/48139

[2022-06-26 06:24] kuropixel opened #64963 "mobile WordPress app (Android/iOS) doesn't display or save post revisions when a post is created and updated via app"
### Quick summary

When creating a post on the mobile app, revisions are not saved or displayed after making a later change to a post and updating.

### Steps to reproduce

1. Use iOS/Android WordPress app
2. Create a new post.
3. After waiting a little while, add/change content and then update
4. Revisions / "history" does not display the initial version of the post

### What you expected to happ

[2022-06-26 06:49] sudeepbaral commented on #64917
Another case here: 5309318-zen

I suggested them to switch the button style to Outline and shared the CSS workaround.

[2022-06-26 07:58] IoanaAMuresan commented on #64917
Another report here: `5323639-zd` simple site (Personal plan) -> suggeste the Fill to Outline workaround + creating a Reusable block they can use to more easily replace them.

[2022-06-26 09:32] i11za commented on #64917
Another report here: 5326449-zd-woothemes
- Simple site (Personal plan)
- Theme: Plane
- Suggested the Fill to Outline workaround.
Please follow up once there's a fix. Thanks!

[2022-06-26 13:33] i11za commented on #64917
Another report: 5327309-zd-woothemes
- Simple site (Premium plan)
- Theme: Scratchpad

All buttons on the site were set to 36px radius, but have been reset.
They're using reusable blocks already to update, but have a lot of buttons to fix. I shared the following CSS which seems to be working:

[code]

[2022-06-26 15:24] eduardozulian opened #64964 "Figure elements (embeds, videos, and images) not 100% wide after Gutenberg 13.5 update"
### Quick summary

Some reports show that elements under the `figure` HTML tab are smaller than they are in the editor. Examples include:

- Images within the columns block
- Video embeds
- Twitter embeds

The code responsible for it is coming from _user agent stylesheet_:

[code]

This happens when Gutenberg 13.5 is active. When disabled, the elements appear in the same size they are in the edito

[2022-06-26 15:34] eduardozulian commented on #64964
Reports:

- 5325557-zen (cc @vajrasar)
- 35904653-hc (cc @formosattic)
-  cc @rakshitwesley as I couldn't find the IDs for your cases

[2022-06-26 16:37] kimerlin81 commented on #62755
Just reported on AT site using Hever theme; Suggested WO (Appearance -> Customizer)
Button remains as Edit instead of changing to Customize

- [ ]  please follow up in 5327636-zd-woothemes once resolved

[2022-06-27 00:40] lsl commented on #64598
Removed this issue and all the related tasks out of the sprint, going to circle back to this in 20% time. Quite a bit more to figure out re approach.

[2022-06-27 00:50] manRebollo commented on #31249
Reported, and replicated in 5328327-zd-woothemes
Workaround detailed in p1656288117149629/1656285431.422419-slack-C03TY6J1A

[2022-06-27 01:59] goblinartificer commented on #63262
I have a new instance of this, in 35911200-hc and related previous chats. User switched back and forth to/from FSE (one theme used was Argent). Disabling Gutenberg plugin fixed this, where clearing site cache, setting a static homepage, etc, did not.

[2022-06-27 03:15] lsl commented on #64841
That should be enough, failing there is better than nothing.

[2022-06-27 04:37] lsl opened #64966 "Fix Gravatar & Akismet oauth login branding header"
The oauth login flow for Akismet and Gravatar isn't very consistent. Gravatar has a new design, clicking login I'd expect to see the /log-in/new branded login flow. Clicking login from Akisment I'd expect something like the old design shown below.

Either way the oauth log-in step is rendering a broken header.

#### Steps to reproduce

1. Starting at URL: https://en.gravatar.com/ or https://akisme

[2022-06-27 06:19] druesome commented on #31249
In addition to @manRebollo 's comment, I'm adding my findings here that can hopefully help:

It appears that the issue affects only some thumbnails generated from the original image.

Thumbnails that don't work (returns a 504 Gateway Time-out error):

- https://reblogtest.blog/wp-content/uploads/2022/06/screencast-1200x750.gif
- https://reblogtest.blog/wp-content/uploads/2022/06/screencast-1024x64

[2022-06-27 06:33] kdevnel commented on #64856
In the case of the user, the carousel wouldn't move between posts and it stayed on the first post slide.

[2022-06-27 07:42] autumnfjeld commented on #60111
@arthur791004   We can close this, correct?
Since https://github.com/WordPress/gutenberg/pull/37704 is merged.

And I think then that this trac issue, https://core.trac.wordpress.org/ticket/54858,  could be closed too ya ?  Could you follow up with that, add a comment that https://github.com/WordPress/gutenberg/pull/37704 is merged.

And then close this issue.

Thank you!! :)

[2022-06-27 08:01] #64886 closed, assigned to JulianBustamante

[2022-06-27 08:15] devNigel opened #64967 "Classic Editor defaults to Text mode instead of Visual mode"
### Quick summary

We’ve got a really odd case here where the Text tab would be the default option for this user when using the Classic editor. Even if you switch to Visual, and update, the next time that page is edited in the Classic Editor it defaults back to the Text tab.

We could replicate this behavior. We tried:

* logged the user out from all sessions
* clearing all the local storage artif

[2022-06-27 08:38] halleshubham commented on #59955
Let me know, if I can give try @StephNathai

[2022-06-27 08:53] KokkieH opened #64969 "Theme Showcase: Update premium theme forums support card description"
When visiting the Support tab for a Premium theme in the theme showcase, it shows an option to "Get in touch with the theme author" via a forums button. This is a left-over from when we offered third-party premium themes on WordPress.com, which each had their own dedicated support forum.

Currently all Premium themes we offer on WordPress.com are in-house theme. Additionally, support for the theme

[2022-06-27 09:12] cpapazoglou commented on #64923
I can see that the `purchase` object includes a `bill_period_label`. Can we refactor the Calypso implementation by removing all the hard coded references and use the dynamic `bill_period_label`?

![CleanShot 2022-06-27 at 12 04 31@2x](https://user-images.githubusercontent.com/12430020/175903666-b4b426df-80ec-4fcb-b985-2272cf119837.png)

Checking the backend it can be any of the following `for life

[2022-06-27 09:29] cpapazoglou opened #64972 "Marketplace: announcement modal for Starter plan eligibility"
### Details

Launching premium plugins on Starter plan is something we want to broadly announce (pdG1ka-at-p2). Let's figure out the best way to do so, probably by using the announcement modal component.

- [x] Only shown to sites with starter plan.
- [x] Shown in plugins page and home page.

[2022-06-27 09:48] #64801 closed, assigned to epeicher

[2022-06-27 10:01] Nic-Sevic opened #64973 "Ezoic use prevents Atomic transfer"
### Quick summary

When a domain is being routed through Ezoic and proxied to WP.com it's not passing the eligibility check which allows it to transfer to Atomic.

Also when Ezoic NS are added there's a NS mismatch error thrown because ezoic adds shadow servers to the public records.
It's unclear if this is also playing a role in the eligibility check

### Steps to reproduce

1. Set custom NS up w

[2022-06-27 10:21] Nic-Sevic opened #64974 "Ezoic NS setup causes `NS mismatch` error"
### Quick summary

When using Ezoic NS's 2 servers are defined in DNS records and several stealth servers are added to the public records. Even though the records are legit and the domain functions as expected DARC displays a `NS Mismatch` error which is confusing for troubleshooting.

![image](https://user-images.githubusercontent.com/47717887/175919143-e54778e0-4374-4f7d-841c-c484459ea954.png)

[2022-06-27 10:33] wojtekn opened #64975 "[Bug]: CTA for CDN upsells is not precise"
### Quick summary

"Available on the Pro plan" CTA points to the plan selector page which allows choosing wrong plan during the flow.

### Steps to reproduce

1. Create a simple blog
2. Navigate to WP Admin -> Settings -> Performance
3. Click "Available on the Pro plan" action either in CDN or Cloudflare CDN block

### What you expected to happen

I see the checkout for the Pro plan:

`/checkout/{

[2022-06-27 10:37] wojtekn commented on #64975
We could fix it by changing the upsell nudge configuration from:

[code]

to:

[code]

However, we need to review the context more.

[2022-06-27 10:48] KokkieH opened #64976 "Theme showcase: Update theme forums URL to go to the forums homepage instead"
When visiting the Support tab for a WordPress.com theme in the theme showcase, it shows an option to post to the WordPress.com Theme forums for help.

![Appleton_Theme_‹_kokkiestrialtestsite_—_WordPress_com](https://user-images.githubusercontent.com/11873759/175925714-7ec447d1-6c76-4588-8a01-48dcffd4d342.png)

We're retiring the Themes subforum (see pbvpgB-1PF-p2) as it doesn't really serve a purp

[2022-06-27 11:00] autumnfjeld opened #64978 "Ship all FTM flows to all languages"
# Description

All recent FTM ship events, as shown in pbAok1-2MG-p2, have initially shipped to english users only. Now it's time to ship to all users!

Once all translations have been verified for all flows:

# Acceptance criteria & ToDos
- [ ] https://github.com/Automattic/wp-calypso/issues/63076 is done
- [ ] https://github.com/Automattic/wp-calypso/issues/63119 is done
- [x] Coordinate with  C

[2022-06-27 11:57] escapemanuele opened #64983 "Help Center: Banner if open tickets"
### What

Discussion here: pdm0RZ-bG-p2#comment-430

Add a banner to the contact page like:
![image](https://user-images.githubusercontent.com/52076348/175935289-34902ee8-460d-4d2b-8a3d-bfd88b607d5d.png)

if a user has open tickets with us, as it has proven to be an effective method of deflecting duplicate tickets

Can be used as a last check before sending the email/opening chat. `Hey, we see you

[2022-06-27 12:39] autumnfjeld commented on #64688
THIS.

[2022-06-27 13:18] WBerredo commented on #64923
I'm not sure about remove *all the hard coded references* and I would go for adding them as a fallback as in #64949.
Mainly because this method has a lot of different ways to check and I don't have the context to determinate if we can make this switch.

[2022-06-27 13:25] tyxla commented on #64756
Took another quick look, and made a few observations - sharing here, in case they can be useful for whoever ends up further investigating:

* I've double-checked and tested Calypso's persistence mechanism by altering the local data to not conform to the schema. Persistence behaves as expected, and invalid data is thrown away. Valid data is properly persisted, as expected.
* The `signup` state tree

[2022-06-27 13:29] KokkieH opened #64988 "Theme Showcase: Update WordPress.org theme forums support card description"
When visiting the Support tab for a WordPress.org theme in the theme showcase, for example, `https://wordpress.com/theme/storefront/support/[site]` it shows an option to "Get help from volunteers and staff" via a forums button.

This is misleading, as the button links to the theme's support forum on WordPress.org and there aren't any "staff" on those forums who will assist the user. This is especi

[2022-06-27 13:35] chriskmnds opened #64989 "Add-ons: Add-on purchase/availability statuses need better sync"
**What**

This issue is minor and likely a quick fix, but may also inform work with the features endpoint.

As of https://github.com/Automattic/wp-calypso/pull/64289 we determine the availability status of an add-on based on either:

1. Add-on purchased directly by user.
2. Add-on being part of a site's plan features.

We provide a different message for each case (despite this being subject to cha

[2022-06-27 13:56] donlair opened #64991 "Fix code leaking into css definition"

[2022-06-27 14:04] st8matrix commented on #57390
Another report here is 5329312-zen

[2022-06-27 14:06] mashikag commented on #63063
Hi @FreedomFighterSparrow and @sharonlaker19 ! 👋

I am sorry again @FreedomFighterSparrow for taking so long to reply on the issue. I was kept extremely busing working on another feature.

Let's re-open the issue and I will investigate it first thing tomorrow.

[2022-06-27 14:10] claudiucelfilip commented on #64121
@chriskmnds Thanks for the updates and improvements!
I integrated the changes with the start flow page and pushed the changes. This is how it works now:

![Image](https://user-images.githubusercontent.com/2749938/175960705-9c919c40-1714-49b0-985c-06b9534c5ac4.gif)

FYI there's a [P2 here](https://wp.me/pdgrnI-1m8) for the rest of the copy needed.

[2022-06-27 14:28] allilevine opened #64992 "Marketplace: Add back 2fa branding"
We added dotcom branding to the Woo 2fa screen: https://github.com/Automattic/wp-calypso/pull/64716
And reverted it: https://github.com/Automattic/wp-calypso/pull/64839

We need to add back branding following the recommendations here: p58i-cye-p2

Acceptance criteria:
- [ ] When logging in as a dotcom partner, the branding on the 2fa screen stays consistent with the log-in branding.

[2022-06-27 14:35] WBerredo commented on #64923
I would also like to know where did you print this `purchase` object.

When I try to print it inside the `PurchaseMetaPrice` component, I don't get the `bill_period_label` filled, I actually get all properties in camel case but only `billPeriodDays` is filed.

[2022-06-27 14:50] danielbachhuber commented on #64527
Thanks for the assist, @mpkelly !

[2022-06-27 14:54] KirkwallDay commented on #58686
Just a note that I cannot reproduce this on any theme anymore, so it looks like it was fixed! Closing this issue!

[2022-06-27 14:54] #58686 closed, assigned to nobody

[2022-06-27 14:54] i11za opened #64994 "Toujours: Image Block Spacing"
### Quick summary

When adding individual Image blocks to a post/page there is no spacing in preview/on live site between the blocks.

### Steps to reproduce

On a site with a Toujours theme add several individual Image blocks.

### What you expected to happen

To have additional spacing/padding between each individual image blocks both with and without captions.

Here's an example with Twenty Twe

[2022-06-27 15:10] allilevine opened #64995 "Marketplace: June search data snapshot report"
Repeat pdh6GB-1bw-p2 for June by following this guide: PCYsg-ID9-p2

Acceptance criteria:
- [x] p2 report posted

[2022-06-27 15:15] ivan-ottinger opened #64996 "Goals Capture (i2): Create new development feature flag `signup/goals-step-2`"
Add new feature flag `signup/goals-step-2` that will be used for Goals Capture (Iteration 2) development.

[2022-06-27 15:18] ivan-ottinger opened #64997 "Goals Capture (i2): Create a new iteration step skeleton"

[2022-06-27 15:19] autumnfjeld opened #64998 "Unified Design Picker"
# Description
We were given the go ahead to start foundational work on the unified design picker.  (It is expected that this will deprecate the combo of v13n DP & standard DP).   A wireframe prototype is proposed here Combined Design Picker: Early Beginnings pbAok1-2WW-p2. While this is NOT a final design, it is enough for us to get started on the structure, and then loop back with @saygunnyc and

[2022-06-27 15:20] KirkwallDay commented on #53595
I can't seem to reproduce this anymore. I'm wondering if the fix issued here: https://github.com/Automattic/wp-calypso/issues/52728 affected this one. Will leave this open for now in case someone else can, but I think it can be closed.

[2022-06-27 15:25] vinimotaa commented on #64972
@cpapazoglou @emmnyc85

We'll probably follow @SaxonF 's suggestion - design-wise we'll follow something we already have in place. So we're just depending on the content/CTAs so the we can design a few variations and have a discussion

[2022-06-27 15:41] sixhours commented on #64705
Fixed by D83131-code.

[2022-06-27 15:41] #64705 closed, assigned to nobody

[2022-06-27 15:41] mikeicode opened #65001 "Twenty Twenty-Two: Form block button uses browser border styles"
### Quick summary

The button within the Form block shouldn't have a border. On the front-end it shows a border, which appears to be the default browser border styles.

### Steps to reproduce

1. Add a default Form block to a page
2. Compare button in editor and published page

### What you expected to happen

Shouldn't have a visible border:

![Screen Shot on 2022-06-27 at 11:34:49](https://user-

[2022-06-27 15:47] bperson commented on #63812
@jorpdesigns This should be fixed

[2022-06-27 16:03] mikeicode opened #65002 "Map block: Marker text color affected by Global Styles"
### Quick summary

The text color of the marker popup on a Map block is affected by the text color selected with Global Styles. The background of the popup isn't affected by the Global Styles background color however, which can result in the text be illegible.

### Steps to reproduce

- Activate Twenty Twenty-Two
- Add a Map block with a marker
- Using Global Styles via FSE change:
- - Background

[2022-06-27 16:11] #64715 closed, assigned to valterlorran

[2022-06-27 16:29] cpapazoglou opened #65004 "Analyse and create a list of issues for https://dotcommarketplacep2.wordpress.com/2022/06/14/products-licensing-take-2/#comment-1951"
After analysing pdh6GB-1dL-p2#comment-1951, we created following GH issues.

- [ ] https://github.com/Automattic/wp-calypso/issues/65345
- [ ] https://github.com/Automattic/wp-calypso/issues/65346
- [ ] https://github.com/Automattic/wp-calypso/issues/65347
- [ ] https://github.com/Automattic/wp-calypso/issues/65348
- [ ] https://github.com/Automattic/wp-calypso/issues/65349
- [ ] https://github.co

[2022-06-27 16:40] #64717 closed, assigned to nelsonec87

[2022-06-27 16:48] liviopv commented on #64947
Sorry, it's 5321946-zd-woothemes and 32693627-hc

This is the user post https://the-right-spirit.com/2019/09/13/nine-ryes-a-wheater-and-a-barely-legal-bourbon-walk-into-a-bar/ there's a good chance it was previously edited in the Classic Editor. If it's not due to a change in the markup, it's likely a bug that always existed in the theme and was never reported, as it was easily reproducible in my

[2022-06-27 16:50] WBerredo commented on #64923
I created the PR #65006 where we use the `bill_period_label` to define the period if it exists.
Otherwise, the other checks will be used.

[2022-06-27 16:58] #64222 closed, assigned to markbiek

[2022-06-27 17:16] jeroenpf commented on #63804
After a talk with @bogiii we have decided to use existing endpoints instead of introducing a new one or adding functionality to the theme-setup endpoint.

The global-styles endpoint allows us to create the custom color palette and assign the colors in that palette as global styles (background, text, link).

[2022-06-27 17:22] kristinaquinones commented on #55102
User report: https://hud.happychat.io/chat/35916724
SA: https://wordpress.com/wp-admin/network/wpcom-paid-upgrades.php?action=search&username=outandaboutwithyayagangstalking7309
Related follow-up ticket: https://woothemes.zendesk.com/agent/tickets/5330304

[2022-06-27 17:26] FreedomFighterSparrow commented on #63063
Thank you, @mashikag :-)

[2022-06-27 17:48] obenland commented on #56194
There's been no more reports in 8 months and wpcom products should be assignable to any WoA site through Store Admin again.

Let's close this for now as it's not reproducible. Please feel free to reopen when you come across this again, ideally with steps to reproduce.

[2022-06-27 17:53] obenland commented on #64102
Yes, this should be fixed.

![Untitled](https://user-images.githubusercontent.com/1398304/176004762-d1c6c1ce-c2b9-4b44-b4f7-2a0d416efde8.jpg)

[2022-06-27 17:53] #64102 closed, assigned to nobody

[2022-06-27 17:53] sixhours commented on #64783
This has been deployed behind a feature flag `signup/seller-upgrade-modal` in #64868

[2022-06-27 17:53] #64783 closed, assigned to sixhours

[2022-06-27 17:57] obenland commented on #64636
@mmtr Is this something that might have been fixed by your recent work on space matters?

[2022-06-27 19:18] kristinaquinones opened #65008 "Calypso version of tag and category editing is missing error warnings"
### Quick summary

When a user is on a Simple site using the Calypso view and they attempt to make a disallowed edit to their tags, the UI appears to "hang", but there is no indication to the user about what the error might actually be. Sometimes (but not always) the user might see the "Name already exists" error, but this doesn't seem to show up consistently _in time_ to prevent the user's attemp

[2022-06-27 20:04] danielbachhuber commented on #63199
@wojtekn I like your proposed solution!

Building on what you've suggested...

The `ImageEditor` component doesn't appear to support a `disabled` attribute. I think it might be confusing to have a disabled element (i.e. forcing the user to think "why is this disabled?").

An alternative to consider would be slightly different UI (rough mockup, open to suggestions on language):

<img width="890" al

[2022-06-27 20:27] #55917 closed, assigned to nobody

[2022-06-27 20:52] razvanpapadopol commented on #52633
Not applicable anymore

[2022-06-27 20:52] #52633 closed, assigned to razvanpapadopol, ollierozdarz

[2022-06-27 20:52] janmckell opened #65012 "Add 'categories block' to a menu item in the 'navigation block'."
### What

It would be useful and quite convenient if one is able to add a 'categories block'as a sub-menu item in the 'navigation block'.

The closest I could come to this functionality, was by creating a categories list next to the 'parent menu' item and set the categories list as dropdown, but this is less than ideal.

Even then, aligning this in the layout was tricky.

![Markup on 2022-06-27 at

[2022-06-27 21:32] DustyReagan opened #65013 "EligibilityWarnings component displays confusing message on sub-business plans"
### Steps to Reproduce

When an Atomic site, with a sub-Business plan, has the 'atomic' feature, but not the 'upload-plugins' feature, the [EligibilityWarnings](https://github.com/Automattic/wp-calypso/blob/78f4c49d39513187377d48db0ce35b91fc58a315/client/my-sites/plugins/plugin-upload/index.jsx#L109) component displays a confusing message about "Installation in progress." on the /plugins/upload/{s

[2022-06-27 21:42] obenland commented on #64629
Access to permalink settings for sites that don't have the OPTIONS_PERMALINKS feature is limited to proxied requests. The second banner in the screenshot from is meant to provide that context. Which means end users should not be able to see it or access the page.

[2022-06-27 21:42] #64629 closed, assigned to nobody

[2022-06-27 21:58] obenland commented on #64118
@galakhyati Have you had a chance to review my comment from earlier?

[2022-06-27 22:27] mreishus commented on #65013
On my starter plan sites, I no longer see an "Upload" button on the top right of `/plugins/<site>?flags=marketplace-starter-plan`. Only "Installed plugins" for an atomic starter site, and no button at all for a simple starter site.

![2022-06-27_17-25](https://user-images.githubusercontent.com/937354/176046086-23989eae-889e-4485-bda2-361f85378ffc.png)

So I can't find a way to get to this screen a

[2022-06-28 00:55] kuropixel commented on #61937
Lodestar and Leven also have this issue.

[2022-06-28 02:10] JessixBlade commented on #57660
Another case here related to this error:
hc-35918531
zd-5330802 (follow-up ticket)

[2022-06-28 04:46] bluefuton commented on #53102
Updated the description because this happens in multiple browsers.

This is a good candidate for a priority upgrade I think, because the private site experience feels really broken with images failing to load at all. The available workaround (switch to a *.wordpress.com as your primary domain) is not a great one.

[2022-06-28 04:52] bluefuton commented on #46182
I've also experienced this on Firefox myself. Updated the description to reflect that the issue happens on multiple browsers.

[2022-06-28 05:03] vishnugopal opened #65017 "Improve detection of WordPress.com sites"
Especially for cases where nameservers are hosted at WordPress but A records point somewhere else.

[2022-06-28 05:12] bluefuton opened #65018 "[Bug]: New post email shows image URLs/alt text for private sites"
### Quick summary

If you have a private site, we cannot include the images from a post in an email because they are private and will 403. We include a message in the footer of the message explaining this:

<img width="487" alt="Screen Shot 2022-06-28 at 17 07 52" src="https://user-images.githubusercontent.com/17325/176097380-42e1e377-cce9-4f8f-bbd2-ed2e7a863a79.png">

Despite this, we do seem to

[2022-06-28 05:18] bluefuton commented on #65018
This also affects any user-uploaded site icon, which will 403 on a private site, rendering the alt text in all cases:

<img width="678" alt="Screen Shot 2022-06-28 at 17 17 42" src="https://user-images.githubusercontent.com/17325/176098530-046ba2cd-c2c6-4c5c-abf1-1b276311f009.png">

We could omit the site icon if we know the email is from a private site.

[2022-06-28 05:34] Robertght commented on #61740
Another report in #5326369-zen

<img width="532" alt="WP_Ar" src="https://user-images.githubusercontent.com/6737345/176100997-a2dd50e4-095e-402e-86a6-e5a175155587.png">

[2022-06-28 05:39] Robertght commented on #61740
Based on the above details, it seems it's mostly Classic themes that are being affected so I'm moving this there.

[2022-06-28 06:57] rw-ye commented on #58594
The above user (35291073-hc) returned to chat today: 35866447-hc

Here is the error message from `Customize > Widgets`:

[code]

[2022-06-28 06:58] vishnugopal commented on #64700
Closing this for now, see: p58i-cxt-p2#comment-54562

[2022-06-28 06:59] #64700 closed, assigned to bogiii

[2022-06-28 07:43] autumnfjeld opened #65022 "[On Hold] Spike & Research on Style Picking in Onboarding"
# Description
On hold for now.
From recent chats (end of June) with Mikael style picking will likely be a part of some specific onboarding flows, such a link-in-bio or superstack.  See Tailored Use Cases for WordPress (p58i-cBr-p2) for mentions of these flows

As per [Matias comment](p58i-cBr-p2#comment-54569): allow effortlessly toggling styles and fonts for all themes/designs.

Research tech app

[2022-06-28 07:44] kettultim commented on #57390
User looking for followup on this issue: 5331917-zd-woothemes

Provided a CSS workaround that seems to work in this particular instance:

[code]

[2022-06-28 07:57] mmtr commented on #64636
Correct, this is fixed after the work done in https://github.com/Automattic/wp-calypso/issues/63878. I tried to replicate the issue, and verified that the storage limit displayed in Calypso is updated correctly after a plan change on an Atomic site.

[2022-06-28 07:57] #64636 closed, assigned to nobody

[2022-06-28 08:11] emmnyc85 commented on #64972
My recommended language is as follows. We'll be able to use this as well for the other plans when they launch with limited atomic too.

Option 1:

You can now extend your site's capabilities with premium themes and plugins. Available for purchase in our marketplace.

CTA: Explore now

Option 2:

We've made both premium themes and plugins available for purchase in our marketplace.

CTA: Explore now

[2022-06-28 08:29] autumnfjeld opened #65024 "Get rid of "Applying design" in the loading screen before Goals screen"
# Description

The loading screen shows two strings on text between the Signup screens and before checkout (or before Goals if user doesn't go thru checkout).  The "Applying design" string doesn't make sense at this point in the flow, because user has not seen the DP.

![Image](https://user-images.githubusercontent.com/5665959/176166883-16ae0354-ee8e-4fd2-8925-05c4aee9c4a5.png)

# Acceptance Crite

[2022-06-28 08:49] mashikag commented on #63063
@FreedomFighterSparrow Thanks for sharing the blog with me! 🙇  I confirm that I can reproduce the issue with your site. I am looking into the issue now. 👍

[2022-06-28 09:10] mmtr opened #65025 "Plugins upsell nudges are confusing"
### Quick summary

https://github.com/Automattic/wp-calypso/pull/64958 introduced a new upsell nudge for paid plugins, so we have now two nudges in the plugins screen: one for the paid plugins requiring the Starter plan, and another one for the free plugins requiring the Pro plan.

Paid plugins nudge | Free plugins nudge
--- | ---
<img width="500" alt="Screen Shot 2022-06-28 at 10 50 42" src="http

[2022-06-28 09:17] mmtr opened #65026 "Paid plugins results do not mention that a plan upgrade is required"
### Quick summary

Paid plugins displayed in the Plugins list page do not display any information mentioning that a plan upgrade is required, unlike the free plugins:
<img width="1277" alt="Screen Shot 2022-06-28 at 10 57 51" src="https://user-images.githubusercontent.com/1233880/176142180-d122bebc-a3c1-414c-83dc-9c2c762b4fb4.png">

### Steps to reproduce

- Go to https://wordpress.com/plugins?fla

[2022-06-28 09:25] mmtr opened #65027 "WooCommerce is not activated after purchasing a WooCommerce paid extension"
### Quick summary

We should automatically activate WooCommerce when a user purchases a WooCommerce paid extension form the WP.com Marketplace.

See these two comments from @ianstewart (pdG1ka-a5-p2#comment-207, pdG1ka-a5-p2#comment-218):

### Steps to reproduce

- Go to https://wordpress.com/plugins?flags=marketplace-starter-plan
- Switch to a site with a Free plan
- Purchase any WooCommerce paid

[2022-06-28 09:30] mmtr opened #65028 "Paid plugins cannot be deactivated on the Starter plan"
### Quick summary

Users can purchase several paid plugins on sites with a Starter plan and they may need to eventually deactivate one or a few of them. Right now, we are not allowing users to do that.

<img width="980" alt="Screen Shot 2022-06-28 at 11 26 27" src="https://user-images.githubusercontent.com/1233880/176145166-bce2f05e-7ef4-4b82-8c73-ae30a71877dc.png">

### Steps to reproduce

- Go t

[2022-06-28 09:34] mmtr opened #65029 "Paid plugins feature is not highlighted in the plans comparison page"
### Quick summary

The Starter plan will allow users to purchase and install paid plugins, but that feature is not highlighted in the plans comparison page. We might need to also amend the "Sell products with WooCommerce" feature, since that's will be possible on the Starter plan as long as they purchase a WooCommerce paid subscription.

<img width="500" alt="Screen Shot 2022-06-28 at 11 31 41" sr

[2022-06-28 09:38] edwinho89 commented on #64994
Left a comment on Slack: p1656407679159569-slack-C02A76B714Z

[2022-06-28 10:03] #64763 closed, assigned to cpapazoglou

[2022-06-28 10:11] mashikag commented on #63063
Create a fix patch: D83276-code.

I will close this issue once the above patch is reviewed, tested, merged and deployed.

[2022-06-28 10:21] #61490 closed, assigned to sejas

[2022-06-28 11:20] danielbachhuber commented on #60240
https://github.com/woocommerce/storefront/pull/1992 was merged! The fix should be released with the theme in the next week or two (conversation in p1656369306404089-slack-C02SGH7JBGS)

[2022-06-28 11:20] #60240 closed, assigned to danielbachhuber

[2022-06-28 11:23] gmovr commented on #64944
Copies/descriptions for the add-ons are posted here: pdgrnI-1m8-p2

cc: @lucasmendes-design  @paulbonahora

[2022-06-28 13:23] sajmes opened #65033 "Classic themes: Buttons block padding issues"
### Quick summary

The correct padding for the buttons is being overwritten by some other CSS. This causes the buttons to display incorrectly.

### Steps to reproduce

- Add a buttons block to the page.
- The button on the published page does not show as expected.

### What you expected to happen

The button would have the correct padding:

![Markup on 2022-06-28 at 09:21:04](https://user-images.g

[2022-06-28 13:36] flaviozavan commented on #55102
@simison There have been no changes by or others related to this. Our stats still indicate over 1k daily uploads in the format. I ran some tests and I can upload them via the media manager, but when editing a post/page, the frontend stops me before the upload and conversion can happen

[2022-06-28 13:38] jamiepalatnik commented on #45586
Another report: 30392241-hc

- [ ] Follow-up ticket: 30392241-hc

Shared article as a workaround: https://themeisle.com/blog/transfer-from-wix-to-wordpress/

[2022-06-28 14:00] #64923 closed, assigned to WBerredo

[2022-06-28 14:06] dpasque commented on #61740
I think that makes the most sense for now! Unless @dlind1 has any concerns with that, or thinks it might be best elsewhere.

[2022-06-28 14:09] mreishus commented on #65025
I noticed the same thing. See my comment here: https://github.com/Automattic/wp-calypso/pull/64958#issuecomment-1167801319

I also think `"Starter plans can purchase paid plugins, but must upgrade to Pro to use free plugins"` may be a hard concept to get across in general, and possibly needs tweaked wording. Paying more to access something free just doesn't sound right. :)

[2022-06-28 14:17] pmcpinto commented on #64202
Looks good to me. Thanks for sharing the screenshot

[2022-06-28 14:18] filipanoscampos commented on #64741
Here is another report:

- [ ] 5329917-zd-woothemes

Both I and @csabarakasz were able to reproduce and Csaba shared the following recording:

https://user-images.githubusercontent.com/2540430/176202045-fe99692d-47d4-44d7-abe5-d3220cf83b58.mp4

[2022-06-28 14:50] ivan-ottinger opened #65035 "Change default theme to Livro"
The goal of this issue is to have a discussion needed in order to switch the default theme from the current `zoologist` to `stewart` or `livro` that may be better suite for bloggers. The default theme is used when a new WPCOM site is created and the user doesn't specify any other theme during the site setup flow.

---

We paired with @phcp today and found the following together:

1. Changing the d

[2022-06-28 14:51] #64390 closed, assigned to nobody

[2022-06-28 15:00] Nic-Sevic opened #65037 "[Bug]: Premium themes not working after going Atomic"
### Quick summary

I purchased and activated a premium theme (Videomaker White) when the site was simple. Then activated a free theme and went AT with a marketplace purchase. After site was AT I get `Theme not yet available for this site` when I try to activate it.

When I try to purchase a new premium theme (tested with Kerr and a few others) I get `Sorry, that product is not compatible with site

[2022-06-28 15:06] Nic-Sevic opened #65038 "[Bug]: No clear indication to user when Jetpack broken"
### Quick summary

When I intentionally break JP connection (deactivated JP plugin) I don't get any prompt about it being broken in dashboard. The only evidence is on the Jetpack dashboard page where it shows `Sorry, you are not allowed to access this page.`
Or when try to purchase theme I see `User or Token does not have access to specified site.`
When I try to purchase another plugin I finally g

[2022-06-28 15:10] metabreakr commented on #57660
5324827-zen

[2022-06-28 15:16] #64900 closed, assigned to elliottprogrammer

[2022-06-28 15:32] Nic-Sevic opened #65039 "[Bug]: Removing WooCommerce extension/yoast premium subscription doesn't remove the required (.org) plugin on non eligible plans"
### Quick summary

When I cancel the WooCommerce subscriptions plugin, the core plugin stays behind and is accessible (maybe because we're assuming they have orders/customer data they shouldn't lose?)

Except, the same happens with the core yoast plugin

### Steps to reproduce

1. on site with woocommerce extension, cancel the extension
2. check cli and see that core plugin still there and active

[2022-06-28 15:39] Nic-Sevic opened #65040 "Nav Unification disabled in wp-admin after restoring the Jetpack connection"
### Quick summary

When visiting the plugin settings pages I was getting stuck in the wp-admin dashboard pages and could not get back to calypso without directing accessing a calypso URL.

I noticed this after I had started testing removing the purchased plugins but before all were removed. I'm not sure if it was happening before then or not

### Steps to reproduce

1. break the Jetpack connection

[2022-06-28 15:52] #64116 closed, assigned to DustyReagan

[2022-06-28 16:00] mmtr commented on #65027
I gave this a spin and created D83310-code with a rough implementation that it doesn't work yet, but should give us an idea about whether that's the direction we want to take. @obenland would you mind taking it a look? It's mostly based on your work on the Atomic upgrade routines. You're also welcome to take it over if you want!

[2022-06-28 16:04] mmtr commented on #65027
Oh, [this comment](pdtkmj-dL-p2#comment-404) from @Nic-Sevic is interesting!

So apparently we are installing and activating WooCommerce but we show them as uninstalled?

[2022-06-28 16:36] KirkwallDay commented on #54510
Another instance here: 5329926-zen

In this case, they would like to be able to select the focal point and it would be nice to be able to change how the image is 'zoomed in' to support the scrolling. In this case, it also scales the image up to a huge size.

[2022-06-28 16:42] obenland commented on #65027
Yes, there is a filter introduced in 1004-gh-Automattic/wpcomsh that limits the plugins we show on sites without INSTALL_PLUGINS to only the ones they purchased. Not sure how we'd be able to show plugin dependencies, tbh. I imagine it being the same with Yoast SEO Premium and Yoast SEO.

[2022-06-28 16:43] obenland commented on #65027
More generally: I was surprised to see D83310-code, it feels like that should be working already. It did in my testing

[2022-06-28 16:49] obenland commented on #65028
To stay in line with the expectations from pdG1ka-8n-p2#comment-187, we should probably just disable the toggles in the UI, just like Autoupdates is disabled (and should be turned on by default).

[2022-06-28 17:00] obenland commented on #65029
In the context of the extended rollout plan (pdgrnI-1mi-p2#comment-2391) I'm not sure we need to add those here?

[2022-06-28 17:14] #64202 closed, assigned to markbiek

[2022-06-28 17:16] KirkwallDay opened #65042 "Old Cover Blocks with Fixed Backgrounds are now showing greatly enlarged backgrounds."
### Quick summary

This is one I cannot reproduce, but I can give examples. It seems cover blocks with older code that worked well in January (could have been later) are now enlarging the image greatly.

Testing this on a test site is a problem as currently this issue is a blocker to testing: https://github.com/Automattic/wp-calypso/issues/64682 setting a new cover block results in the repeated ba

[2022-06-28 17:17] DustyReagan commented on #65025
I think calling them "paid plugins" and "free plugins" compounds the confusion. My two cents is to rename "paid plugins" to "premium plugins" and "free plugins" to "community plugins". Or if not those names, let's at least get the words "paid" and "free" out of the names somehow.

Then do something like this on the Browse page:
<img src="https://user-images.githubusercontent.com/140841/176242723-4

[2022-06-28 17:21] cuemarie commented on #11116
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

- **Could not replicate the original issue on any test site**.

There are quite a few different scenarios described in the comments on this report. There may still be something to uncover that might be interrupting the process,

[2022-06-28 17:21] #11116 closed

[2022-06-28 17:23] obenland commented on #65037
Oh, that's an annoying bug, nice find!

[2022-06-28 17:32] #63434 closed, assigned to nelsonec87

[2022-06-28 17:38] vinimotaa commented on #62977
Hey folks!

After having a quick chat with Jeremy, I decided to give a crack on the permanent banners for both Traffic and Stats.

![Light mode](https://user-images.githubusercontent.com/97929097/176247228-eda18198-c232-4e2b-8159-f3fc6cebc37e.png)

Let me know your thoughts!

[2022-06-28 17:42] kristinaquinones opened #65044 "Unwanted Button Block Keeps Reappearing Upon Page Edit"
### Quick summary

A user has reported a consistent issue with unwanted Button blocks being added to their site (adjacent to an existing button block).

(Side note: I've experienced this myself, and it does appear to be limited to Simple sites. The site I experienced this on used a different theme from what the reporting customer is using. I tried looking via Bugomattic and MGS, but I wasn't able

[2022-06-28 17:43] kristinaquinones commented on #65044
35927697-hc

[2022-06-28 18:08] nelsonec87 opened #65045 "Seller experience: remove unwanted CSS side-effects"
Issue described here: https://github.com/Automattic/wp-calypso/pull/64864#pullrequestreview-1021553099

CSS change (https://github.com/Automattic/wp-calypso/pull/64864) changed Title size (that it shouldn't!)

| Before | After |
| - | - |
| ![image](https://user-images.githubusercontent.com/13596067/176165344-13113084-f691-4f1c-8321-4f4f8a653f0e.png) | ![image](https://user-images.githubuserconten

[2022-06-28 18:17] cuemarie commented on #62662
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could replicate this issue, see findings below.

### Steps taken in all test sites:

- Create a post
- Upload image larger than 6000px wide to an image block
- Set to Full Width

Taking these steps leads to a blurry image i

[2022-06-28 18:25] #64635 closed, assigned to obenland

[2022-06-28 18:25] #64950 closed, assigned to obenland

[2022-06-28 18:58] #64994 closed, assigned to nobody

[2022-06-28 19:07] mreishus commented on #65037
Fix is in wpcomsh v2.9.38 (currently not yet deployed).

[2022-06-28 19:09] jeremyanderberg commented on #62977
@vinimotaa I agree! I think for big launches, like this one, we can do a big card like what you've proposed. Inside the marketplace, I might go with the Yoast logo instead of the search icon..

@emmnyc85, do you have any further thoughts?

[2022-06-28 19:22] kerrynicl commented on #64917
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
Replicable on Simple and AT
📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-28 19:30] bogiii opened #65053 "Update `designSetup` step with showing color palettes"

[2022-06-28 19:32] gutenberg-plugin-upgrade-bot[bot] opened #65054 "Gutenberg: v16.5.x plugin upgrade"
Previous upgrade: #12345
Release notes:

**Install and activate**

- [ ] Install and activate v16.5.0-rc.1 on edge (######-code)
- [ ] Install and activate v16.5.0 on edge (######-code)
- [ ] Activate v16.5.0 on production (######-code)
- [ ] Request v16.5.0 AT upgrade (######-p2)

**Testing**

- [ ] v16.5.0 Desktop viewport E2E
- [ ] v16.5.0 Mobile viewport E2E
- [ ] v16.5.0 WPCOM core (######-co

[2022-06-28 19:36] mreishus commented on #65037
Fix is now deployed and I've retested the steps with success. Please re-open if you continue to have issues :)

[2022-06-28 19:36] #65037 closed, assigned to mreishus

[2022-06-28 19:37] gutenberg-plugin-upgrade-bot[bot] opened #65055 "Gutenberg: v16.5.x plugin upgrade"
Previous upgrade: #12345
Release notes:

**Install and activate**

- [ ] Install and activate v16.5.0-rc.1 on edge (######-code)
- [ ] Install and activate v16.5.0 on edge (######-code)
- [ ] Activate v16.5.0 on production (######-code)
- [ ] Request v16.5.0 AT upgrade (######-p2)

**Testing**

- [ ] v16.5.0 Desktop viewport E2E
- [ ] v16.5.0 Mobile viewport E2E
- [ ] v16.5.0 WPCOM core (######-co

[2022-06-28 19:41] kerrynicl commented on #46182
@bluefuton  Are you able to replicate this recently? I'm not able to replicate on any browser currently

📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
Not able to replicate issue on any browser or site

📌 ACTIONS
- Await author feedback

[2022-06-28 19:48] kerrynicl commented on #56194
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I've recently experienced this issue. It happens intermittently
Replicable on AT sites
📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-28 20:00] kerrynicl commented on #64747
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I'm also getting mixed results on my test sites so this may need to be investigated further.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-28 20:30] zaerl opened #65064 "☂️ Light Importer: Photos & split issues"
- [x] Add custom verticalizer D82922-code
- [x] Add recipe import preview D82637-code

The project is on hold, so we're not planning to work on these:

- [ ] Unify JSON schema 16-gh-Automattic/importer-functions
- [ ] [imports/url-analyzer/multiple](https://public-api.wordpress.com/wpcom/v2/imports/url-analyzer/multiple?url=example.com) endpoint must output the errors of the lambda functions
- [x]

[2022-06-28 21:15] danielbachhuber commented on #63819
Put together a patch with D83342-code

## Before

<img width="1326" alt="image" src="https://user-images.githubusercontent.com/36432/176288667-d88beffa-4bfc-4e6d-bb40-45766e9bfc2d.png">

## After

<img width="1338" alt="image" src="https://user-images.githubusercontent.com/36432/176288694-3faee7b6-0a6a-4d07-97cd-5aa5696b1b35.png">

---

This _seems_ like a fairly safe change, particularly because

[2022-06-28 21:52] gwensmithx opened #65067 "Add Featured Image Mapping to Tumblr Importer"
### What

Add an option to the Tumblr importer to use the first image in a post from Tumblr as the Featured Image once the post is imported into WordPress.

### Why

Right now the importer doesn't offer an ideal experience. People who have a large number of posts on Tumblr and are importing into WordPress would have to manually go into each post and set the featured image once the import is comple

[2022-06-28 22:15] jjchrisdiehl commented on #57323
@DavidRothstein I cannot reproduce this issue from either the Add Payment Method page or the Checkout card form. When I leave the Cardholder Name field blank, then hit submit, in both cases the Cardholder Name field turns red and has an error message.

It looks like this specific check is run, though it has technically been around for two years https://github.com/Automattic/wp-calypso/blob/53d3a6a

[2022-06-28 22:29] danielbachhuber commented on #63628
Spent some time debugging this mis-styled/missing Subscribe Block today.

First of all, email client support for `<form>` is [pretty dismal](https://www.caniemail.com/features/html-form/), so we could:
1. Display a fallback element instead.
2. Remove any reference to the Subscribe Block. It appears the Contact Form Block is removed entirely.

In either case, all of the logic to generate the email

[2022-06-28 22:34] #64787 closed, assigned to zaguiini

[2022-06-28 23:26] sirbrillig commented on #57323
Yes, the cardholder name field is supposed to have an error displayed by [this code](https://github.com/Automattic/wp-calypso/blob/53d3a6a3dc731479e57b63e9b0fb46760ef93848/client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-pay-button.tsx#L141) (inside the `isCreditCardFormValid()` check that Chris linked to above).

I think this may have been fixed by https://githu

[2022-06-28 23:26] #57323 closed, assigned to jjchrisdiehl

[2022-06-28 23:38] #64867 closed, assigned to p-jackson

[2022-06-28 23:41] bluefuton opened #65069 "[Bug]: New feature announcement close button caption is truncated"
### Quick summary

When shown a new feature announcement for Professional Email, the close button has a caption that appears when hovering over it.

In Firefox, the caption reads "Clo" rather than "Close" because it is hidden behind another element.

### Steps to reproduce

Sorry - I'm not sure how to trigger this specific message. Does it appear on a brand new account too?

### What you expected

[2022-06-29 00:15] bluefuton commented on #46182
Thanks for looking @kerrynicl! I was just able to reproduce it on a private site with a mapped domain. Steps to reproduce:

1. Set up a site with a mapped domain, and make it private.
2. Make sure the mapped domain is the primary domain for the site.
3. Go to the homepage of the site, login and click the notifications bell.

This is on a standard user account (not superadmin).

<img width="429" al

[2022-06-29 00:54] obenland opened #65070 "Task: Test marketplace plugin cancellation"
### Details

When a marketplace plugin subscription gets cancelled it should delete the associated plugin.
If the site is on a Starter plan, it should also be reverted (unless it has other marketplace plugins).

### Checklist

_No response_

### Related

_No response_

[2022-06-29 02:41] SaxonF commented on #64574
Could we use either https://wordpress.github.io/gutenberg/?path=/story/components-experimental-text--highlight or https://wordpress.github.io/gutenberg/?path=/story/components-texthighlight--default on title, excerpt or author?

[2022-06-29 02:50] arthur791004 commented on #62176
Close it as it's fixed by D83169-code and https://github.com/Automattic/wp-calypso/pull/65021 🎉

Here is the current screenshot
<img src="https://s0.wp.com/mshots/v1/https%3A%2F%2Fpublic-api.wordpress.com%2Fwpcom%2Fv2%2Fblock-previews%2Fsite%3Fstylesheet%3Dpremium%252Fvideomaker%26language%3Den%26viewport_height%3D1040%26source_site%3Dpatternboilerplates.wordpress.com%26use_screenshot_overrides%3D

[2022-06-29 02:50] #62176 closed, assigned to arthur791004

[2022-06-29 02:55] lsl commented on #46182
That sounds more like a 3rd party cookie issue than cookie expiry like I was discussing above - its possible there is more than one issue here, both with the same outcome.

@bluefuton does a login/logout fix the issue?

Its possible we need to do something similar to this https://github.com/Automattic/wp-calypso/pull/53125 for that flow where you log in and then setup a mapped domain.

[2022-06-29 03:22] nagpai commented on #64438
#35897506-hc

Deadlock - pro user , can't give CSS.

[2022-06-29 04:35] bluefuton commented on #46182
Thanks @lsl! A login/logout doesn't seem to resolve it for me, but switching the site's primary domain to the something.wordpress.com one does resolve the issue.

[2022-06-29 05:43] p-jackson commented on #44427
I've created a script that reattaches unattached images to the first post that references them: either in the post body or as the featured image. As [I mentioned above](https://github.com/Automattic/wp-calypso/issues/44427#issuecomment-1095923255) an image's "attachment" status isn't perfect for knowing whether it's safe to delete an image from the media library:
- The image could be referenced in

[2022-06-29 05:43] #44427 closed

[2022-06-29 05:53] taipeicoder opened #65073 "[Safari] Generated design picker: Weird scrolling behavior that allows user to keep scrolling down the page"
## Description
In Safari, there is a weird scrolling behavior where users can keep scrolling the page past the content. See recording:
https://user-images.githubusercontent.com/797888/176361525-0a92e0c9-e1b1-4b7a-9c4d-634a82f60832.mp4

Note that this wasn't reproducible using Chrome or Firefox.

## Acceptance Criteria
- [x] The scrolling behavior should be consistent to the experience using Chrome

[2022-06-29 06:27] Greatdane commented on #64758
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Created a Calypso bug report here;
- Added to cross-repo watch list.

[2022-06-29 06:30] zachspears commented on #59084
I was also able to reproduce the issue. I have marked it triaged and normal priority.

[2022-06-29 06:46] Robertght commented on #64917
This should be fixed here(p1656418840448029/1656142029.379519-slack-C02FMH4G8) and the last report from @sharonlaker19 will be fixed here: https://github.com/WordPress/gutenberg/pull/42012/files

I'm going to close this for now to avoid more confusion. If other padding issues show up, please report them here:

https://github.com/Automattic/wp-calypso/issues/65033

cc @kerrynicl @chad1008 @scruffia

[2022-06-29 06:47] Robertght commented on #64917
Reopening for bulk replies cc @vajrasar

[2022-06-29 07:09] Nic-Sevic commented on #65038
I didn't break via the UI but via CLI. It's something that's unlikely to happen but not impossible, especially since we're still trying to break the HE habit of automatically trying a jetpack reconnection to fix various Atomic issues. Broken connections can also happen if the user switches the custom domain to one pointing elsewhere or where ezoic/cloudflare are interferring.

[2022-06-29 07:14] arthur791004 commented on #60111
As we need to consider backward compatibility, https://github.com/WordPress/gutenberg/pull/37704 just created a new function to avoid the domain configuration being overridden. Hence, we still to make changes to WP Core so that we can benefit from the new function. That's why I create this ticket - https://core.trac.wordpress.org/ticket/54858. But they still have concerns about backward compatibil

[2022-06-29 07:15] ivan-ottinger commented on #63819
Hey @danielbachhuber 👋🏼

Thank you for pinging Apex! The proposed change looks good to me. 👍🏼

I would just check with @mtias too - as he was in charge of the new email templates design.

[2022-06-29 07:34] jeherve opened #65074 "[Bug]: Testing automatic labeling, please ignore"
### Quick summary

This is just a test, don't mind this.

### Steps to reproduce

1. Step 1
2. Step 2

### What you expected to happen

Step 3

### What actually happened

Step 4

### Context

_No response_

### Browser

_No response_

### Simple/Atomic

_No response_

### Other notes

_No response_

### Reproducibility

Consistent

### Severity

Most (> 50%)

### Available workarounds?

_No respo

[2022-06-29 07:35] autumnfjeld opened #65075 "All suggested verticals should lead to v13n DP"
# Description

In the Verticals Screen we prompt with a list of 10 verticals when user first clicks in the search field. All of these should be  whitelisted (see whitelist in wpcom/wp-content/lib/verticals/image-verticalizer.php), so that the user sees the v13n DP if they select one of these options.

Specifically, the following verticals don't land in the v13n DP and need to be added to the white

[2022-06-29 07:37] #65074 closed, assigned to nobody

[2022-06-29 07:57] coder-karen opened #65077 "[Bug]: Settings - Performance page not showing all options on Jetpack-connected sites"
### Quick summary

Navigating to Settings > Performance for a Jetpack-connected site, the only thing on display is Jetpack Search.

With some testing it looks like this PR - https://github.com/Automattic/wp-calypso/pull/65010 - may be the cause here?

Reported here: p1656470885243409-slack-CBG1CP4EN

### Steps to reproduce

1. Navigating to Settings > Performance for a Jetpack-connected site (`htt

[2022-06-29 08:02] cpapazoglou commented on #65039
This is what should actually happen. Removing the core (required) plugin shouldn't be automated but if the site isn't eligible to be on Atomic then the site should be reverted to Simple.

The tricky case is when **the site is on a plan that doesn't support plugin installations from the directory**. On those cases, when the marketplace plugin is removed, the required plugin should also get removed.

[2022-06-29 08:39] coder-karen opened #65078 "[Bug]: 'Learn more' links throughout Calypso are WordPress.com specific - confusing for Jetpack-connected sites"
### Quick summary

Clicking on 'Learn More' via specific pages throughout Calypso can lead to pages with WordPress.com specific information.

These appear to be copies of corresponding WordPress.com support documents as they also link to them. This generally seems to be fine, except where plan / WordPress.com specific information is included.

### Steps to reproduce

Some pages where this is an is

[2022-06-29 08:41] autumnfjeld commented on #65024
@arthur791004  Can we also add:
“Making you cookies”
“Planning the next chess move”

to this list https://github.com/Automattic/wp-calypso/blob/e7ed29a9fcf5a6345cdbcdb0eb50716f26ad20b6/client/signup/reskinned-processing-screen/index.jsx#L40

cc: @that-mike-bal  😄

[2022-06-29 08:45] taipeicoder commented on #64919
Shipped and closing.

[2022-06-29 08:45] #64919 closed, assigned to taipeicoder

[2022-06-29 08:53] arthur791004 commented on #65024
Sure! We can add in the follow-up PR and wait for the translation!

[2022-06-29 09:01] mmtr commented on #65028
In that case, since no actions can be performed in that screen, I wonder if it'd be better to just block the access to `/plugins/manage` if the site doesn't have the `MANAGE_PLUGINS` feature?

I also found confusing that we're hiding from that page the base plugins (e.g. WooCommerce) automatically installed after activating a paid extension (e.g. WooCommerce Subscriptions), so blocking access to t

[2022-06-29 09:31] emmnyc85 commented on #62977
@jeremyanderberg - can we get the text to 2 lines? 3 feels like a lot and is a heavy burden for the customer to read

[2022-06-29 09:36] #65027 closed, assigned to mmtr

[2022-06-29 09:37] epeicher opened #65080 "Marketplace: Yoast not correctly licensed when transferring to Atomic"
### Quick summary

When purchasing `Yoast SEO Premium` in a Simple site with a free `*.wordpress.com` domain, it is not correctly licensed.

### Steps to reproduce

1. Go to `/plugins` in simple site with a `*.wordpress.com` domain. For example https://wordpress.com/plugins/your-site.wordpress.com
2. Search `Yoast SEO Premium`, open details page and click on `Purchase
 and activate`
3. In the next

[2022-06-29 09:45] mmtr commented on #65029
You're right, especially if the feature is eventually included in the Free plan. Let's close this for now.

[2022-06-29 09:45] #65029 closed, assigned to nobody

[2022-06-29 09:50] i11za opened #65081 "Calypso: No Warning of Loss of Custom Free Subdomain (Dotblog subdomain) When Going Atomic"
### Quick summary

There's no warning that a the free `*.tech.blog` subdomain will be lost when going Atomic either via plugin installation, hosting config, or theme upload pages' on Pro plan.

Tested with `*.tech.blog` and `*.food.blog` [free .blog subdomain](https://wordpress.com/blog/2018/11/28/announcing-free-dotblog-subdomains/).

Haven't tested this on Legacy plugin-enabled plans.

### Steps

[2022-06-29 09:50] mmtr commented on #65038
Can you provide a screenshot or the message we currently show in these cases for the rest of Atomic sites? Just trying to find where is that logic in the codebase in case it's explicitly checking that the site has a Pro/Business/eCommerce plan.

[2022-06-29 09:53] pauljacobson opened #65082 "Checkout: Incorrect currency shown at checkout when paying with GPay without adjustment for currency conversion"
### Quick summary

Our user reported that when they attempted to renew their WordPress.com Personal Plan and domain subscription from their mobile device using Google Pay, the checkout page displays the renewal cost in USD without converting the value of the transaction from INR, like this:

![Screenshot_2022-06-29-14-29-39-108_com android chrome](https://user-images.githubusercontent.com/2912202/

[2022-06-29 09:55] mmtr commented on #65039
This is not happening at the moment when testing the paid plugins on a site with the Starter plan, but it's because we have a "is proxied" check (D83198-code) which fail during the deactivation of the last marketplace paid plugin because it's a async job.

[2022-06-29 10:04] arunsathiya commented on #65081
This is not an official triage (that'll come from @Automattic/dotcom-pqa-group later) but noting some screenshots of what I noticed too. None of the current upgrade flows show the warning:

- Plugin installation from https://wordpress.com/plugins/ (which may fall under marketplace team, cc @cpapazoglou, I think)
- Pro plan upgrade nudge from https://wordpress.com/themes (cc @paulbonahora or @David

[2022-06-29 10:07] #64345 closed, assigned to mpkelly

[2022-06-29 10:13] cpapazoglou commented on #65081
Thanks for flagging this. In my opinion, *.*.blog subdomain should be available to Atomic and not lost. @Automattic/nomado  is there something blocking us from transferring these subdomains to Atomic?

[2022-06-29 10:16] mmtr commented on #65070
This may need to rethink our is proxied check that dynamically adds the Atomic / Marketplace plugins features to the Starter plan, since that doesn't work in the async job context where all these cancellations are handled.

[2022-06-29 10:31] carinapilar commented on #64438
This seems to be similar to this other issue: https://github.com/Automattic/wp-calypso/issues/62782

As mentioned in the above comment, this also happens with Paragraph blocks, there's a gap on the top when using a paragraph with an image on the left (or on the right), for example:

![ParagraphMargin](https://user-images.githubusercontent.com/16104522/176414600-3d4b0be0-bb7e-444a-b8f2-7986dc3bf82a

[2022-06-29 10:37] aleone89 commented on #64964
Another report via hc-30341981
YouTube embed block
In this instance, padding between blocks was removed.

[2022-06-29 12:00] mmtr commented on #65039
Created D83380-code to fix this.

[2022-06-29 12:00] mmtr commented on #65070
D83380-code should handle this.

[2022-06-29 12:08] Nic-Sevic commented on #65040
Yes, I reconnected via the UI flow and made sure everything looked good in debugger. The site I was testing on is reverted now but I can send it back or create a new one and try again if it helps?

[2022-06-29 13:04] mmtr opened #65085 "Upsell nudges in Jetpack Dashboard link to wrong plan for Atomic sites w/ Starter plan"
### Quick summary

When visiting the Jetpack Dashboard (`wp-admin/admin.php?page=jetpack#/dashboard`) of an Atomic site with the Starter plan, all the upsell nudges of features requiring an upgrade (Backups, VideoPress, Ads, etc) try to upsell a Jetpack plan which is not compatible with the Atomic site.

### Steps to reproduce

- Visit the Jetpack Dashboard (`wp-admin/admin.php?page=jetpack#/dashb

[2022-06-29 13:27] #65039 closed, assigned to mmtr

[2022-06-29 14:38] #62987 closed, assigned to danielbachhuber

[2022-06-29 14:55] #64782 closed, assigned to markbiek

[2022-06-29 14:57] vinimotaa commented on #64972
Hi @emmnyc85, thanks for the content.

For this broad announcement this is what we can do; follow a similar approach we had when we launched the Marketplace.

- One-time popup window for returning users
- One-time popup window once a logged-in user goes to any part of WordPress.com
- A CTA that will take users to the Marketplace
- (Suggestion) A CTA that can take users to our Blog Post
- A "close"

[2022-06-29 15:02] emmnyc85 commented on #64972
Thanks, @vinimotaa. Some items below:

**Copy:** I realize it's very redundant.
- Title: Install plugins and themes for your site!
- Copy: You can now extend your site's capabilities with premium themes and plugins. Available for purchase in our marketplace.
- CTA: Explore now

**Your suggestions:** I'm not fully following. For now, we just want these popup modal(s) to generate awareness and drive

[2022-06-29 15:10] emmnyc85 commented on #64972
Thank you!
- Looks good
- I hear you on blog post but we won't have that ready yet. At the moment this is a limited launch to people on specific plans vs. an all out announcement, the latter of which will come later

[2022-06-29 15:11] emmnyc85 commented on #64972
Maybe we should add a banner in the /plugins page to drive better awareness? What could that look like @vinimotaa? That could reiterate the message that this is available for premium plugins and themes and avoid confusion about that

[2022-06-29 15:25] vinimotaa commented on #62977
<img width="1239" alt="image" src="https://user-images.githubusercontent.com/97929097/176475111-b007b099-d6d9-4e00-83a8-116284125f93.png">

@emmnyc85 @jeremyanderberg

[2022-06-29 15:30] jeremyanderberg commented on #62977
@vinimotaa Ah, I meant to say we should keep the first sentence. So the whole thing will read:

"Yoast SEO Premium is the go-to plugin to optimize your website for search engines. An array of tools ensures that more people can find your incredible content."

And we can we use the Yoast logo as the icon?

[2022-06-29 15:30] emmnyc85 commented on #62977
Looks great BUT... my feedback below

We need to make Yoast SEO Premium more visible

Change headline to
Increase site visitors with Yoast SEO Premium

Change copy to
Purchase Yoast SEO Premium to ensure that more people find your incredible content

CTA: Learn more (I assume this will go to the product listing page?

[2022-06-29 15:39] vinimotaa commented on #64972
Hey @emmnyc85

This is also something I worked on as an alternative to the pop up - copy and CTA not final.

<img width="1613" alt="image" src="https://user-images.githubusercontent.com/97929097/176477953-f141b123-59c6-4dca-a66d-d92622b641da.png">

Will tag @SaxonF for feedback as we discussed that this might not be the best spot to handle this messaging.

[2022-06-29 15:41] vinimotaa commented on #64972
This is the updated version of our pop up design;

<img width="1245" alt="image" src="https://user-images.githubusercontent.com/97929097/176478320-d83688d9-e77b-4d73-a33b-36402305ea06.png">

Source can be found on [this Figma file](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=2353%3A25135)

[2022-06-29 15:56] emmnyc85 commented on #64972
Thanks, @vinimotaa

For the messaging within /plugins, we could the title/header to: Install premium plugins and themes for your site.
Then the CTA takes them right to the premium / paid selection

I do worry about customer confusion with these updates and not realizing that they can't purchase or use free plugins

[2022-06-29 16:15] saygunnyc commented on #63819
I wanted to add a note here and mention that currently, the width for new post emails is at 752 px (larger) while other informative ones (new subscriber, confirmation, etc.) are at 600px over designs – similar to P2 emails if I'm not wrong.

<img width="826" alt="Screen Shot 2022-06-29 at 12 14 11 PM" src="https://user-images.githubusercontent.com/78876323/176485287-db9a0234-469d-4fa7-b94c-95d8e7d

[2022-06-29 16:21] jeremyanderberg commented on #62977
@emmnyc85 Appreciate the feedback! Yes, my intent with the button was to direct people to the product page itself.

[2022-06-29 16:24] #60572 closed, assigned to youbrokesomething

[2022-06-29 16:37] vinimotaa commented on #65025
Hi folks,

thanks for bringing this for discussion @mmtr!

@SaxonF and I are accountable for design decisions on Marketplace. Yesterday during our 1/1 we exchanged some ideas around this issue, specially all the complexity around different plans permissions when it comes to installing paid/free plugins. We believe that **the best to do now is to remove/hide any UI/alert message regarding plan upgr

[2022-06-29 16:38] lakellie commented on #65077
Flagged this with the team who's working on the project on Slack so they can have a look: p1656520653292369-slack-C02V49GM0PN

[2022-06-29 16:40] #61010 closed, assigned to nobody

[2022-06-29 17:23] abcrsol commented on #57812
Another case here: 5311940-zd. Firefox 101.0.1 (x64) is affected, but not Microsoft Edge, nor Chrome.

[2022-06-29 17:45] #65077 closed, assigned to obenland

[2022-06-29 17:46] mxhassani opened #65093 "Canard: Missing bottom spacing on Image blocks that center aligned"
### Quick summary

It appears that the latest update on the theme removed a bottom margin from images that have "align" set to "center", making the text under it look like a caption

### Steps to reproduce

1. Activate the theme Canard
2. Create a new post
3. Add an image block
4. In the image block toolbar, select Align > Align center
5. Add a paragraph with some text just under it

### What you

[2022-06-29 17:56] dpasque opened #65094 "Flaky E2E: Editor tracking: FSE edge site sometimes has gray overlay when adding blocks"
### Spec file

editor-tracking__fse-template-events.ts (but really, any test that tests FSE on the edge site)

### TeamCity ID

8146603

### Logs

[code]

In any case where you add a block in the FSE edge site site-editor, in some cases, the screen becomes gray, and that gray shield covers any action in the editor.

See this picture:
![fse-gray-screen](https://user-images.githubusercontent.com/267

[2022-06-29 18:02] dpasque opened #65095 "Playwright: Only surface videos/screenshots for the page/context that actually fails, or at least make it clearer."
### Details

When a test fails, we surface video recordings and screenshots for all of the pages/contexts that were used in that entire spec file. This has been by design, and is handled [here](https://github.com/Automattic/wp-calypso/blob/trunk/packages/calypso-e2e/src/jest-playwright-config/environment.ts#L166).

However, this can sometimes make following up on failures hard, because you can end

[2022-06-29 18:21] villanovachile commented on #60447
Another report 5336334-zen

[2022-06-29 18:46] JoshuaGoode opened #65096 "[Bug]: Jetpack Ads setting offers Jetpack Security Daily upgrade to Limited Atomic WPCOM sites"
### Quick summary

Limited Atomic sites currently have an offer to `Generate income with high-quality ads.` via an Upgrade within Jetpack's settings.

![Screen Shot of Jetpack Ads settings page on a Limited Atomic Site](https://user-images.githubusercontent.com/4887830/176512095-35eca282-9cf3-4d34-9bb3-965466417e0b.png)

![Screen Shot of WPCOM error message stating Sorry, that product is not compa

[2022-06-29 18:54] JoshuaGoode opened #65097 "[Bug]: Jetpack Performance Settings offer standalone VideoPress upgrade to Limited Atomic WPCOM sites"
### Quick summary

Essentially https://github.com/Automattic/wp-calypso/issues/64950 but within Jetpack's Performance settings at `wp-admin/admin.php?page=jetpack#/performance` rather than Calypso's at `/settings/performance/`

![Screenshot of erroneous VideoPress upgrade option on a limited Atomic site](https://user-images.githubusercontent.com/4887830/176513551-266f0a88-2b4d-4023-b19d-73e37ed5e9

[2022-06-29 19:03] danielbachhuber commented on #63628
Subscribe Block is removed from notification emails with r248207-wpcom

[2022-06-29 19:03] #63628 closed, assigned to danielbachhuber

[2022-06-29 19:15] Copons opened #65098 "Payment Blocks"

[2022-06-29 19:55] #64161 closed, assigned to WBerredo

[2022-06-29 19:58] vinimotaa commented on #64972
@emmnyc85 I think this is how we have now on this design? Is there anything else to be changed?

![image](https://user-images.githubusercontent.com/97929097/176533936-41277dd5-0033-4835-9ce8-70c9a8d37578.png)

[2022-06-29 20:04] blackjackkent opened #65100 "Seller Experience SPIKE: Investigate technical requirements for bundling a theme and plugins at checkout"
As part of our work on onboarding for Sellers, we are going to be allowing a user who selects certain Woo-oriented themes to purchase that theme with a bundled WooCommerce plugin already installed. (See paYKcK-1Hs-p2 )

![image](https://user-images.githubusercontent.com/13437011/176534193-d76c950b-fddb-47ca-9b4b-9f01912ef273.png)

For this issue, we need to investigate what needs to occur on the b

[2022-06-29 20:07] vinimotaa commented on #62977
<img width="986" alt="image" src="https://user-images.githubusercontent.com/97929097/176534672-764db95b-8793-409e-b018-b2520b5e57ca.png">

@jeremyanderberg
@emmnyc85

Just keep in mind that the overall sizing (1 line/2 lines) might change once this is implemented.

To @jeremyanderberg's comment on Yoast icon, I had a chat with @SaxonF yesterday on this detail, and we should leave the overall Yoast

[2022-06-29 20:18] danielbachhuber commented on #63819
@saygunnyc Thanks for the feedback!

Are the Mailchimp guidelines inclusive of the padding on the container (i.e. representative of the full width of the whitespace), or specific to the width of the content?

If I had to take a guess, my hunch is that the 600px guideline is to mitigate unexpected wrapping in the content. If this is the case, it doesn't seem like it will be a problem with our templ

[2022-06-29 20:48] DustyReagan opened #65101 "Empty "Installed Plugins" page on Atomic needs a call-to-action"
### What

Going to /plugins/manage/{site_slug} on an Atomic site with the INSTALL_PURCHASED_PLUGINS and no installed plugins show a mostly empty page. There should be call-to-action or upsell here.

![plugins-upsell](https://user-images.githubusercontent.com/140841/176541736-acc322cb-dbd7-44d1-90a3-2a25a0f2431b.png)

### Why

Landing on this empty page is confusing. We should direct the user on wh

[2022-06-29 20:55] obenland commented on #65096
Thank you! Closing in favor of #65085.

[2022-06-29 20:55] #65096 closed, assigned to nobody

[2022-06-29 20:56] obenland commented on #65097
Thank you for the detailed steps! Closing in favor of #65085.

[2022-06-29 20:56] #65097 closed, assigned to nobody

[2022-06-29 20:57] obenland commented on #65085
From #65097:

![Screenshot of erroneous VideoPress upgrade option on a limited Atomic site](https://user-images.githubusercontent.com/4887830/176513551-266f0a88-2b4d-4023-b19d-73e37ed5e9e1.png)

![Screenshot of a Jetpack VideoPress upgrade description on a Limited Atomic site.](https://user-images.githubusercontent.com/4887830/176513692-aa4289e6-30ab-48ef-a9c8-c3d84446800b.png)

![Screenshot of em

[2022-06-29 21:04] DustyReagan opened #65102 "[Bug]: Plugin list links and icons for WooCommerce paid plugins on "Installed Plugins" page are broken"
### Quick summary

The plugins list on the "Installed Plugins" /plugins/manage/{site_slug} page contain broken links and icons for WooCommerce paid plugins.

![plugins-link-wrong](https://user-images.githubusercontent.com/140841/176542754-7d7dd5a0-0aad-45df-9bf8-07d18c051494.png)

### Steps to reproduce

Go to /plugins/manage/{site_slug} on a site with the WooCommerce Subscription plugin installed

[2022-06-29 21:53] danielbachhuber commented on #63637
Spent some time debugging the problem today.

The immediate problem is this `Uncaught TypeError: event.target.attributes.answerid is undefined` JavaScript error:

<img width="809" alt="image" src="https://user-images.githubusercontent.com/36432/176550026-600944a7-cfac-4efb-b0ed-37820c2b26f6.png">

Looking further, you'll notice a button in a Poll Block embedded within a Post has an `answerid=""` a

[2022-06-29 22:21] danielbachhuber commented on #63637
Per conversation in p1656539872596279-slack-C02ER2E0Z, this problem is a known issue for the Crowdsignal team. It was previously reported in https://github.com/Automattic/wp-calypso/issues/62069

@vindl I've removed this issue from the Build board, and moved it to the 'Other' column on the Dotcom Bug Prioritization board.

[2022-06-29 22:25] danielbachhuber commented on #62069
Another report in #63637

I did a more detailed technical analysis here: https://github.com/Automattic/wp-calypso/issues/63637#issuecomment-1170529033

[2022-06-29 22:31] obenland commented on #65102
I'm not sure this is a Limited Atomic regression. The plugin information is pulled from the plugin directory directly. Since these paid plugins are not in the directory, it returns a "Plugin not found" error.

[2022-06-29 23:28] danielbachhuber commented on #63626
I was able to reproduce this issue in my local WordPress environment with the Editing Toolkit plugin installed:

1. Add a Timeline Block to my post:

<img width="1315" alt="image" src="https://user-images.githubusercontent.com/36432/176558602-8e407c3f-8d67-461c-b9a4-c1362f9e68ca.png">

2. Clear the default Background Color (`#eeeeee`) on the Timeline Entry Block:

<img width="1540" alt="image" src

[2022-06-29 23:40] Greatdane commented on #57390
I wonder if https://github.com/Automattic/themes/issues/1759 is related to this?

[2022-06-29 23:41] danielbachhuber commented on #63626
The best possible "fix" I can think of is to store 'transparent' as the `background` when the color is removed: https://github.com/Automattic/wp-calypso/pull/65104

Very open to other ideas!

[2022-06-30 00:39] kerrynicl commented on #64760
Was able to reproduce this issue

https://user-images.githubusercontent.com/83325600/176568580-7cf558a8-1295-4964-87a3-4d96975d039a.mp4

[2022-06-30 02:21] Greatdane commented on #30453
Leaving this open for more eyes. I am unable to replicate, even with SU into the above user.

[2022-06-30 02:28] jordesign opened #65105 "Jetpack Search: Admin Menu overlaps 'Customize Search Appearance' page"
### Quick summary

When viewing the 'Customize Search Results' option for Jetpack Search (/wp-admin/admin.php?page=jetpack-search-configure) the content of the page itself appears overlapped by the WP Admin menu.

This occurs only on WordPress.com sites- it appears to behave normally on self-hosted sites.

<img width="1698" alt="Screen Shot 2022-06-30 at 11 55 08 am" src="https://user-images.githu

[2022-06-30 02:37] Greatdane commented on #64918
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed on Simple sites, automatically embeds on fail without warning.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-30 02:50] arthur791004 commented on #65024
@autumnfjeld Do you have any preference on the order?

[2022-06-30 02:57] Greatdane commented on #64927
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate only on **Atomic**.
- Self-hosted with Version 13.5.2 seems to show no changes.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-30 03:01] Greatdane commented on #64927
Asked for more eyes here;
p1656558063049479-slack-CBTN58FTJ

[2022-06-30 03:14] Greatdane commented on #64954
Thanks for the great step-by-step instructions!

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed

![Markup on 2022-06-30 at 12:13:59](https://user-images.githubusercontent.com/5075840/176585047-5118ab69-c1d4-40d5-b3f3-f8cf1385c03b.png)

📌 ACTIONS
- Transferred to themes.

[2022-06-30 03:20] Greatdane commented on #64964
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate only on **Atomic**.
- Self-hosted with Version 13.5.2 seems to show no changes.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-30 03:21] Greatdane commented on #64927
Closing this as it relates to the broader issue here; https://github.com/Automattic/wp-calypso/issues/64964

[2022-06-30 03:21] #64927 closed, assigned to nobody

[2022-06-30 03:22] Greatdane commented on #64964
Bringing over from https://github.com/Automattic/wp-calypso/issues/64927

5321874-zd-woothemes

[2022-06-30 03:27] Greatdane commented on #64975
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed. The error looks to be in the slug being incorrect; `https://wordpress.com/plans/site.wordpress.com?customerType=business`

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-30 03:41] Greatdane commented on #64967
@devNige I can replicate this behavior on my Premium plan website? Are you able to try a Premium site and replicate it?

[2022-06-30 03:48] Greatdane commented on #65033
@Robertght Question; will this issue also be fixed by p1656418840448029/1656142029.379519-slack-C02FMH4G8 and  https://github.com/WordPress/gutenberg/pull/42012/files ?

I am a little unclear if this is being caused by the issues mentioned here; https://github.com/Automattic/wp-calypso/issues/64917

[2022-06-30 03:53] Greatdane commented on #65081
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I am sure we had a previous issue/discussion regarding this but I cannot find it on GitHub 🤷 . Regardless, confirmed!

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-30 04:58] arthur791004 commented on #61729
Close it as https://github.com/Automattic/wp-calypso/pull/65072 is shipped 🚢

[2022-06-30 05:48] essleeung opened #65109 "[Bug]: Gutenberg Version 13.5.2 conflicts with Elementor elements causing Preview & Live Site to not match"
### Quick summary

Pages in Elementor preview do not match the live site when Gutenberg plugin is turned on (when unproxied).

A user reported that their site is intermittently losing color, text, font selections and menu bar. Clearing the browser and site cache and reinstalling Elementor did not resolve the issue. The pages in the Elementor editor do not match the live site. When viewing the site

[2022-06-30 05:55] lamosty commented on #63819
Hi. Pinging our designer @david-gonzalez-a8c for more info. :)

[2022-06-30 05:56] blackjackkent opened #65110 "Theme Deploy Support: Create new private repo for Premium themes"
As part of Serenity's work in supporting the themes team with new theme development, we need a new GitHub repo (private, under the A8C organization and accessible by all members of the org) which will be used to store premium themes and accept contributions from contracted theme developers.

This repo should also include a version of the script found at https://github.com/Automattic/themes/blob/tr

[2022-06-30 05:56] inaikem commented on #57660
@alshakero  👋 We're seeing a recent uptick of reports on this issue. Is there anything we can do to help get this escalated for more eyes-on and a fix? Thanks!

[2022-06-30 05:59] inaikem commented on #57660
- [ ] 33192589-hc (Initial chat)
- [ ] 5335731-zd-woothemes (follow-up ticket)

[2022-06-30 06:31] Robertght commented on #65033
The padding issues with the Buttons block will be fixed in https://github.com/Automattic/wp-calypso/issues/64917

https://github.com/Automattic/wp-calypso/issues/64917 is a report which already got a fix in 13.5.1. If everyone is ok, we can close that in favor of this one to gather the reports.

[2022-06-30 06:48] nagpai opened #65111 "Subscription block: Confusion of follower count"
### What

Since the subscription block pertains to email subscription, users tend to relate the count of `followers` shown in the block to be that of email subscribers. Users tend to get confused if the number suddenly goes up or down when a social media is connected or disconnected.

![image](https://user-images.githubusercontent.com/4162931/176611050-1c4e64e9-877c-44d9-99b3-f256f62029f8.png)

It

[2022-06-30 06:49] nagpai commented on #65111
5330383-zd

[2022-06-30 06:52] lsl commented on #64992
FYI 2fa tests being added here https://github.com/Automattic/wp-calypso/pull/65068

[2022-06-30 06:57] cpapazoglou commented on #64972
@vinimotaa The announcement modal is still available (https://wpcalypso.wordpress.com/devdocs/blocks). Do you prefer using a modal or this banner? Can you provide the component name for this banner?

[2022-06-30 07:02] galakhyati opened #65112 "Unable to connect to Instagram or Facebook via Publicize"
### Quick summary

The user had Instagram connected to their site by showing it on the Latest Instagram Post block on their homepage in the footer. The block was showing this error: `An error occurred. Please try again later.`

When checking under My Site → Tools → Marketing → Connections, there it is prompting `There is an issue connecting to Instagram`. When I try to disconnect and try to reconn

[2022-06-30 07:10] rinazrina commented on #65112
Another report:

- [ ] 29963214-hc | follow-up: 5337626-zd-woothemes

The user is getting the same error as @galakhyati mentioned above when connecting to Instagram.

When connecting to Facebook, they're getting the following error message:

`App Not Setup
This app is still in development mode, and you don't have access to it. Switch to a registered test user or ask an app admin for permissions.`

[2022-06-30 07:27] SaxonF commented on #64972
I would lean towards just using the modal for the announcement. The banner feels too intrusive but we could look at doing something inline attached to the "top premium plugins" section if we thought it was completely necessary e.g. a "new" badge next to the header or similar. I'm not convinced it would make a tangible difference though.

In terms of copy, is "themes" necessary here? Are we announc

[2022-06-30 07:32] simison opened #65114 "[Bug]: theme picker during onboarding has weird looking tooltips for premium badge"
### Quick summary

Hovering premium badges during onboarding when picking a theme, they look off:

<img width="618" alt="image" src="https://user-images.githubusercontent.com/87168/176618948-4692a0bf-0cca-4425-b5f4-570e75b9fabe.png">

### Steps to reproduce

1. Go to /start
2. Pick other goal
3. Pick e.g. food vertical
4. Click "view more options"
    <img width="360" alt="image" src="https://user

[2022-06-30 07:36] gavande1 commented on #65080
Diff created at: D83452-code

[2022-06-30 08:17] devNigel commented on #65112
Another report:

- [ ] User report and ticket: 5337481-zd-woothemes

They reported this:

[2022-06-30 08:19] devNigel commented on #65112
Another report:

- [ ] User report and ticket: 5337538-zd-woothemes

[2022-06-30 08:29] vajrasar commented on #65112
Another

28998487-hc

- [ ] FollowUp 5337868-zd-woothemes

[2022-06-30 08:31] inaikem commented on #65112
Internal discussion here: p1656569211672339-slack-C02FMH4G8

Moving to the JP repo.

Cc @pablinos, @kristinaplauche

[2022-06-30 08:39] emmnyc85 commented on #64972
@SaxonF - we are planning to announce that they can purchase first party themes.

However, to keep things simple and make sure the premium angle is clear..let's go with adjusting the title as follows
Title: Install premium plugins for your site
Copy: [keep as is]
CTA: [keep as is]

When we do the broader/bigger announcement to all customers, we will make it clear about 1st party themes

Given both

[2022-06-30 08:52] kimclowa8c commented on #60108
I recently came across this issue, have created a Loom for reference here: https://d.pr/v/pximDC

[2022-06-30 09:01] #65073 closed, assigned to taipeicoder

[2022-06-30 09:07] arunsathiya commented on #65033
- Quick clarifying note that https://github.com/Automattic/wp-calypso/issues/64917 is not fixed yet.
- It will be fixed only when https://github.com/WordPress/gutenberg/pull/42012 is merged. I have made a note of that on the other issue too.
- The current issue will be fixed by https://github.com/Automattic/wp-calypso/issues/64917 as well. Related chat: p1656579611209499/1656575923.679859-slack-C0

[2022-06-30 09:35] emmnyc85 commented on #62977
Great feedback. @vinimotaa. I recommend the first one so it feels more organic and less like advertising

[2022-06-30 09:40] druesome opened #65115 "[Bug]: Changing Fonts or Colors in Customizer Breaks Fonts dropdown in Global Styles in FSE Themes"
### Quick summary

Changing fonts or colors in the Customizer results in only two fonts appearing in the fonts dropdown in Global Styles in FSE Themes.

<img src="https://d.pr/i/VjVQb3+" width="700" />

Reported in 35926348-hc
Follow-up Ticket: [5336007](https://href.li/?5336007-zd-woothemes)

### Steps to reproduce

1. Activate an FSE theme (Meraki or Antonia) on a test site (Simple or Atomic).
2

[2022-06-30 09:44] taipeicoder opened #65116 "Design picker immediately shows preview when there's a pre-selected design"
## Description
Currently, the design picker will show the full-screen preview if there's already a pre-selected design. The design preview should only be shown when the user click on the preview button, to keep the linearity of the onboarding steps.

## Acceptance Criteria
- [x] The design picker should always show the grid in its initial state.
- [x] Clear the pre-selected design upon exiting the

[2022-06-30 10:08] #64842 closed, assigned to wojtekn

[2022-06-30 10:27] mmtr commented on #65070
Changes from D83396-code solves this.

[2022-06-30 10:27] #65070 closed, assigned to mmtr

[2022-06-30 10:43] taipeicoder opened #65118 "Generated design picker: Large previews fail to show after user refreshes the page while previewing a design in the static design picker"
## Description
In the current implementation, both static and generated design picker share the same state for selected designs for previewing. An issue occurs when users switch to the static design picker, previews one of the designs, and refreshes the page.

When that happens, users will land back to the generated design picker, but this time the large preview is hidden since the selected design

[2022-06-30 11:38] galakhyati commented on #64741
📌 HOUSEKEEPING
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the issue on simple and Atomic sites, whereas the feature works on a Jurassic ninja site.

[2022-06-30 11:50] mmtr commented on #65085
Since we may need to add WP.com exceptions to the Jetpack codebase to handle this, which is something that the Jetpack team encourages to avoid, I published a P2 post (pdG1ka-aS-p2) to coordinate with them.

[2022-06-30 11:54] #65069 closed, assigned to AllTerrainDeveloper

[2022-06-30 11:57] mmtr opened #65120 "Video uploads fail on Limited Atomic sites without showing upgrade banner"
### Quick summary

When trying to upload a video on an Atomic site with the Starter plan, we display an error instead of showing an upgrade banner like we do on Simple sites.

Simple site with Starter plan | Atomic site with Starter plan
--- | ---
<img width="1269" alt="Screen Shot 2022-06-30 at 13 39 44" src="https://user-images.githubusercontent.com/1233880/176671328-cbb03c79-f763-486d-85af-d697

[2022-06-30 12:05] galakhyati commented on #64751
📌 HOUSEKEEPING
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested on Atomic site, on Calypso UI the MailPoet shows a cogwheel icon, whereas on WP-Admin view, it shows the plugin's icon.
- On a self-hosted site, I tested on Jurassic.ninja site, I'm not seeing the plugin option on Calypso UI, whereas on WP-Admin view, I'm seeing

[2022-06-30 12:06] bogiii opened #65121 "Update the Color palette component to support two colors in a circle"

[2022-06-30 12:57] gavande1 commented on #65080
Deployed r248248-wpcom

[2022-06-30 12:57] #65080 closed, assigned to gavande1

[2022-06-30 13:24] #60442 closed, assigned to JulianBustamante

[2022-06-30 13:24] #60437 closed, assigned to JulianBustamante

[2022-06-30 13:30] jamiepalatnik commented on #64756
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - N/A

📌 SCRUBBING
- Did not test since I don't know how to set the IndexedDB state and it looks like this is already being investigated. Noting that I added the priority high since it sounds like there is no workaround for any users affected by this issue.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-06-30 13:56] #64731 closed, assigned to wojtekn

[2022-06-30 13:58] #64003 closed, assigned to wojtekn

[2022-06-30 13:58] bperson commented on #63812
Tentatively resolving this. Feel free to reopen if it happens again

[2022-06-30 14:08] sharonlaker19 commented on #44844
+1 at 35943160-hc

[2022-06-30 14:45] obenland commented on #65085
Would it be an option to not show the Jetpack Dashboard on Starter plan sites, and instead have the Jetpack menu item (and submenu items) work in the same way as they do on Simple?

[2022-06-30 14:50] devNigel commented on #64967
@Greatdane I checked with Lodestar and Twenty Twenty-One on my premium site. I agree with Filipa's findings. The Classic Editor opens in the last used option on my test site.

[2022-06-30 15:10] #63684 closed, assigned to WBerredo

[2022-06-30 15:17] #61421 closed, assigned to valterlorran, nelsonec87

[2022-06-30 16:08] filipanoscampos commented on #65042
Another case here 35947281-hc

Kindly follow up here:

- [ ] 5339064-zd-woothemes

[2022-06-30 16:21] CraigG58 commented on #44427
Thanks! At least that’s some help, and I certainly appreciate your efforts. I assume I need to contact support via normal channels to get your script run on my account?

It’s a shame the first two situations you mentioned aren’t handled automatically and immediately by some sort of back-end server code, since in those scenarios media files are still incorrectly flagged as unattached.

I can confir

[2022-06-30 16:31] masperber opened #65128 "Parent theme does not install when child theme is installed on WoA"
### Quick summary

In certain circumstances, installing a child theme on a WoA site will not install the parent theme, which causes a critical error. It seems that this can happen for various reasons. One cause that has been identified so far is a situation where the parent theme has already been installed once and then later deleted. There may also be other causes that haven't been documented yet

[2022-06-30 16:47] masperber commented on #65128
- [ ] 5329760-zen needs customer followup when resolved

[2022-06-30 17:36] jeyip opened #65130 "Next Steps: Implement a release flow for Next Steps Tutorials"
### Details

We have kicked off work on next steps tutorials that will live in the help center paYE8P-1xk-p2. We’re starting to draft PRs on the frontend](https://href.li/?https://github.com/Automattic/wp-calypso/pull/64879), and there are some special considerations we’ll want to account for in our release workflow ( how and when we merge PRs ).

For example, [the help center will be released to

[2022-06-30 17:54] KirkwallDay commented on #65042
Another instance here: 5325449-zen

[2022-06-30 18:14] abcrsol commented on #57812
Another case here: 5339369-zd. No browser specified.

[2022-06-30 18:46] halleshubham commented on #59955
If I'm not wrong, seems like it's already done by now,
<img width="1304" alt="Screenshot 2022-07-01 at 12 15 12 AM" src="https://user-images.githubusercontent.com/3984908/176754549-fc83ce41-8fdb-4115-996b-72c685bd1ea8.png">

[2022-06-30 19:02] halleshubham commented on #47381
@Robertght Shall I do it ?

[2022-06-30 19:56] cometgrrl commented on #57390
@Automattic/dotcom-pqa-group Can some check if this is reproducible on Jurassic.ninja site with the latest Gutenberg plugin active? If it is, we should move it to WordPress core. Otherwise, we'll look at finding someone in Forge to take a look.

[2022-06-30 20:08] upwardmomentum84 opened #65132 "Move Connection Health Section to Top"
### What

Move Connection Health to top of page just under the basic debug message.

![Markup 2022-06-30 at 16 01 27](https://user-images.githubusercontent.com/93800099/176767615-e14ceb2e-8602-4b76-a43b-1c20683af2bf.png)

### Why

Sometimes when you check Jetpack Debugger for issues, it could say "Everything looks great" but the Connection Health shows as "not healthy". I understand these are each

[2022-06-30 20:46] markbiek commented on #61421
Quick update. We're having some issues deploying the ETK to Atomic.

Detailed discussion: p1656601485245469-slack-C0Q664T29
Request for help: p1656614773446789-slack-C02DQP0FP

[2022-06-30 20:56] tyxla commented on #16631
@halleshubham thanks for asking - the section is still there, but as before - it appears only for Jetpack sites. So, still valid IMHO.

[2022-06-30 21:08] #64252 closed, assigned to mattwiebe

[2022-06-30 21:17] villanovachile commented on #57812
Another case here: 35949409-hc

[2022-06-30 21:19] blackjackkent opened #65133 "Seller Experience SPIKE: Investigation/knowledge transfer for moving to subscription-based theme purchases"
One of Serenity's next main objectives is to implement the transition to allowing subscription-based purchases of individual themes during signup (and after). Since we haven't done much direct work with purchasing/products thus far, this issue is focused on the research and knowledge transfer necessary to effect this implementation completely and safely.

Questions that should be investigated:

*

[2022-06-30 21:25] blackjackkent opened #65134 "Theme Picker - fix pricing display"
In our implementation of the updated onboarding theme picker, one of the changes involved modifying the label on premium themes to indicate the necessity of a purchase for users not on the Pro plan. However, this text is a little ahead of the game, since it references the subscription-based theme purchases that we have not yet implemented.

<img width="606" alt="image" src="https://user-images.git

[2022-06-30 21:27] blackjackkent opened #65135 "Theme Picker - open theme info dropdown links in new tabs"
Let's update the links in this theme info dropdown to open in new tabs so as not to eject the user from the onboarding flow:

<img width="616" alt="image" src="https://user-images.githubusercontent.com/13437011/176781057-9c064045-60d2-43f7-b350-028968a03bf7.png">

[2022-06-30 21:30] blackjackkent opened #65136 "Theme Picker - display loading state for theme info dropdown if necessary"
While testing the info dropdown in the new Theme Picker design, I noticed that sometimes it would not be immediately clickable, but after a few seconds, would then start working.

<img width="638" alt="image" src="https://user-images.githubusercontent.com/13437011/176781339-ca14b090-5654-47d5-8884-4f39ae6279f0.png">

I'm assuming that this is because the theme info data was being fetched in the ba

[2022-06-30 21:34] blackjackkent opened #65137 "Seller Experience - deploy updated Theme Picker designs from behind feature flag"
We need to release the work completed last sprint to update the theme picker design/behavior by updating the feature flag in all environments.

NOTE: This should not take place until the following issues have been addressed:
* https://github.com/Automattic/wp-calypso/issues/64853
* https://github.com/Automattic/wp-calypso/issues/65134
* https://github.com/Automattic/wp-calypso/issues/65135
* https

[2022-06-30 21:36] kelasante commented on #55102
User report in  35949977-hc. I am also not able to upload .heic images on my personal atomic site.

[2022-06-30 21:36] #64788 closed, assigned to zaguiini

[2022-06-30 21:38] blackjackkent opened #65138 "Seller Experience - Update UI and deploy theme picker upgrade confirmation modal"
This is a placeholder issue to ensure we don't forget to deploy the upgrade confirmation modal that was created as part of recent Theme Picker updates, since it is behind a separate feature flag so we can monitor conversion impact.

We also need to update the modal according to the new design that takes into account monthly/yearly subscriptions:

https://user-images.githubusercontent.com/1072756/1

[2022-06-30 21:59] obenland commented on #65102
Yes, links work for me as well

[2022-06-30 22:07] bluefuton commented on #65018
Another example with some very broken captions from a P2 email today:

<img width="447" alt="Screen Shot 2022-07-01 at 10 07 08" src="https://user-images.githubusercontent.com/17325/176786964-3dc0e9bc-cc8c-49a7-807c-550f465f0822.png">

[2022-06-30 22:21] jerrysarcastic commented on #60447
Also reported in https://wordpress.com/forums/topic/help-adding-images

As a possible workaround you can more easily see and access legacy widgets (hidden by page visibility settings) if you go to `wp-admin/widgets.php` and openthe list view sidebar.  When a widget is clicked on in the list, it is possible to see it's settings and interact a little bit easier (compared to the customizer)

Video:

[2022-06-30 23:21] helenaartmann commented on #64917
Another report:
- [ ] 5339955-zen

[2022-07-01 00:07] cuemarie commented on #60585
Nice suggestion! A warning would have helped in this user's case as well: 35950266-hc

Also, this may get addressed instead by a fix on this bug, so mentioning it here: https://github.com/Automattic/wp-calypso/issues/58446

[2022-07-01 00:08] cuemarie commented on #58446
Another report here: 35950266-hc

[2022-07-01 01:20] arunsathiya opened #65144 "Customize "coming soon" page with a message, links and email addresses"
### What

I'd like an ability to customize the "coming soon" page on WordPress.com with a message, links and/or email addresses.

### Why

Came up as a customer request: 35951209-hc

### How

_No response_

[2022-07-01 02:09] jordesign commented on #51640
#35740706-hc
User returning to let us know issue is still happening for them.

[2022-07-01 02:53] edwinho89 opened #65147 "Remove Footer Credit automatically when Upgraded to a paid plan"
### What

To hide/remove [Footer Credit](https://wordpress.com/support/footer-credits/) automatically after upgrading to a paid plan without the need to manually do so.

### Why

Inline with "Remove ads" options from Pricing, I think displaying the footer credit on "Blog at WordPress.com" as default is a form of advertising others to blog at WordPress.com.

Now with FSE, we should limit users to v

[2022-07-01 04:01] edwinho89 commented on #62755
35952011-hc

User is on Twenty Twenty Two theme, and experienced the same issue as well. Guided user to access site editor from the nav bar.

[2022-07-01 04:04] kavyagokul commented on #45586
Another report in 35951571-hc

They were getting
`It looks like we're unable to reach that website address at this time. (ID: 159d1f61-2b3d-4c8d-91cb-5bfeb534ea6d)`

Shared article as workaround: https://themeisle.com/blog/transfer-from-wix-to-wordpress/

[2022-07-01 04:36] nagpai opened #65149 "Site Verification services - Less difference between appearance of Dummy vs real verification tags."
### What

I had a user that thought the dummy tag was an actual existing tag. I would be fooled at times too since the contrast difference between a real vs dummy tag is hardly anything.

![image](https://user-images.githubusercontent.com/4162931/176824160-9323afe8-da5d-44ac-b70c-58fac1f9530d.png)

### Why

UX and accessibility ( color / contrast )

### How

_No response_

[2022-07-01 04:55] mriyazuddin commented on #65115
Similar issue reported here: #5339315-zd. I followed the workaround and that fixed the issue.

[2022-07-01 06:09] nagpai commented on #64682
Another instance here too - 32995519-hc

Gave the CSS workaround.

[2022-07-01 06:45] taipeicoder commented on #65118
Shipped, closing.

[2022-07-01 06:45] #65118 closed, assigned to taipeicoder

[2022-07-01 07:32] jordesign commented on #59198
@mtias Is alignment of a block like the separator something which needs to be enabled on a theme level - or is it worth me opening a GB issue to enable other alignments on the separator block?

[2022-07-01 07:34] jordesign commented on #62217
Looks like an open feature request here:
https://github.com/WordPress/gutenberg/issues/39222

[2022-07-01 09:02] mmtr commented on #65025
I just deployed https://github.com/Automattic/wp-calypso/pull/65123 which removes the upgrade banners from the Plugins browser page.

@vinimotaa Do you want me to keep this issue open for tracking the remaining UX/flow design work?

[2022-07-01 09:13] mmtr opened #65151 "Provide one-off backups of Atomic sites on lower-tier plans"
Backups are not available on Atomic sites with a lower-tier plan (e.g. Starter) since they require Pro/Business/eCommerce plan.

However, under some circumstances (e.g. after suspending a site for a TOS violation) we need to provide a backup to site owners.

One possible way of doing this is by offering a one-off backup in the Rewind Debugger.

More context: p7DVsv-eMq-p2#comment-41208.

[2022-07-01 09:19] edwinho89 commented on #64917
- [ ] 5338841-zd-woothemes

[2022-07-01 09:20] janmckell opened #65152 "Preformatted Block: Indentation"
### What

In the Preformatted Block, typical word-formatting features, like using the 'Tab' key to create indentation, is a feature requested in great detail by one user.

Reference: 5336183-zen

![Markup 2022-07-01 at 05 02 54](https://user-images.githubusercontent.com/84089207/176864148-90f08271-b826-4ad6-816e-adb9aa5a1a7b.png)

### Why

Inclusive of this user, I've seen several cases where ther

[2022-07-01 09:48] taipeicoder commented on #65116
Fixed via https://github.com/Automattic/wp-calypso/pull/65117

[2022-07-01 09:48] #65116 closed, assigned to taipeicoder

[2022-07-01 09:53] mmtr opened #65153 "Empty Atomic transfer warning modal"
### Quick summary

Looks like we still display the Atomic transfer warning modal even for sites totally eligibles:

<img width="1285" alt="Screen Shot 2022-07-01 at 11 47 37" src="https://user-images.githubusercontent.com/1233880/176871475-2694a5b7-fe7b-42ec-bba7-dd6dacb0e467.png">

### Steps to reproduce

- Go to https://wpcalypso.wordpress.com
- Switch to a Simple site
- Purchase a Starter plan

[2022-07-01 10:34] Robertght commented on #64794
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted  - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I have tested this with Gutenberg 13.5.2 and I couldn't replicate the issue. I tested with various themes as well.

📌 ACTIONS
- Closed as could not replicate, please reopen this issue if it reoccurs

📌

[2022-07-01 10:34] #64794 closed, assigned to nobody

[2022-07-01 10:40] Robertght commented on #64796
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Unable to replicate this on my sites. I believe this might've been a one-time glitch.

📌 ACTIONS

- Closed as could not replicate, please reopen this issue if it reoccurs

[2022-07-01 10:40] #64796 closed, assigned to nobody

[2022-07-01 10:47] Robertght commented on #64837
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could replicate but the page showed up like this:

![image](https://user-images.githubusercontent.com/6737345/176880220-cff5e447-8df9-46f2-ac18-6c2023720a71.png)

Once done, if I click on the Marke

[2022-07-01 10:53] Robertght commented on #34936
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- As mentioned earlier by @arunsathiya , this appears to be a core issue and it hasn't been added/merged.
- Core ticket: https://core.trac.wordpress.org/ticket/47564

📌 ACTIONS
- Marked as Triaged for Qualit

[2022-07-01 11:08] Robertght commented on #64880
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the code can be added to the editor, however, I do not see the reason for using CSS code inside the editor. For now, we can recommend using CSS inside the CSS field or in a child theme

[2022-07-01 11:26] mzitinfo commented on #53102
I've come across a report of this happening in both Firefox and Safari, in zen-5340660.

[2022-07-01 11:40] Robertght commented on #64913
I'm not sure who is in charge of this, but from my findings it could be more suitable for Jetpack. I can see the styling comes from /mu-plugins/highlander-comments. Is Jetpack territory? cc @jeherve

📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I

[2022-07-01 11:43] brinbliss commented on #60447
Reported in 5339079-zd-woothemes

User reports that they can work around it by selecting Live Preview, and then adding the widget from there.

[2022-07-01 11:45] Robertght commented on #64350
I believe this will happen here:

The great unification  - https://github.com/WordPress/gutenberg/issues/41717

[2022-07-01 11:45] #64350 closed, assigned to nobody

[2022-07-01 11:51] jeherve commented on #64913
No one at the moment. The comment form could definitely use some design love, its design hasn't changed at all in the past 10 years.

[2022-07-01 13:56] Nyiriland commented on #64913
Agreed! Since the form has very opinionated styling (ie: all fonts are Arial), I wonder if modernizing it should involve allowing the form (or at least the textarea and submit button) to inherit styling from the theme? It curiously already does when previewing the form in the editor, but on the front end, default styles get applied. Here's a sample of the visual disparity:

<img width="793" alt="i

[2022-07-01 14:09] mtias commented on #63819
I think some of the measurements don't account for padding. It looks like it'd be fine to increase a bit, or to settle on the larger version consistently as well.

[2022-07-01 14:54] mmtr commented on #65102
Let's close it for now then.

[2022-07-01 14:54] #65102 closed, assigned to nobody

[2022-07-01 14:56] mmtr commented on #65101
There shouldn't be anything in the UI that points to `/plugins/manage` if no plugins are installed, so I guess this is rather low priority.

[2022-07-01 15:19] vinimotaa commented on #64972
Thank you for your feedback everyone!

Here's the iterated version;

<img width="1365" alt="image" src="https://user-images.githubusercontent.com/97929097/176922669-e6562e1a-03c4-4d6b-9bd4-3a7fd53826fb.png">

[2022-07-01 15:53] jeherve commented on #64913
Ideally yes (this is tracked in https://github.com/Automattic/jetpack/issues/13277 ), but that's not really possible with the current implementation of the feature; the comment form is added in an iFrame, and consequently lives on its own on WordPress.com and will not be impacted by the theme's CSS.
This is why you see that difference between the form preview (using WordPress' default comment syst

[2022-07-01 16:06] kimerlin81 commented on #60119
And another one - 30744568-hc

- [ ] Please follow up once resolved: 5341490-zd-woothemes

[2022-07-01 18:21] AMcGrady commented on #65042
Another instance here: 5339064-zen

Kindly Follow-up here:

- [ ] 5339064-zen

[2022-07-01 18:23] Gustavo-Hilario commented on #64869
Hey y'all. The user from 5318732-zen is back. They are still trying to add the widget to their site. I suggested adding the No Ads add-on, but they didn't want this solution. If we won't allow users to use that widget at any point, could you please share more details about this? I think that Starter plans sites were supposed to have ads on them, so having the widget would create a duplication. Is

[2022-07-01 18:26] mikeicode opened #65159 "Form block: Make inputs easier to find when inserting"
### What

When searching for an input to add to a form you should be able to type "form" or "input". The result of both should show all available form fields, the way typing Jetpack currently does. Video example:

https://user-images.githubusercontent.com/10353785/176949717-6c2529ea-4dbb-4ecb-b6ea-814235ebd18a.mp4

### Why

This would make it easier to find all available form input options.

pdh1X

[2022-07-01 18:39] Addison-Stavlo opened #65160 "Help Center - Maintain state/activity while closed"
related paYE8P-1Ii-p2

While adding the 'next steps' section to the help center we noticed the state resets when the help center is closed and reopened. We need to update this so it is not the case. We should ensure the help center components remain active, even when it is closed.

This will not only ensure the proper state maintaining needed for tutorial flows and other 'Help' flows, but will als

[2022-07-01 18:44] #64537 closed, assigned to zaguiini

[2022-07-01 18:44] #64789 closed, assigned to sejas, zaguiini

[2022-07-01 18:55] sajmes commented on #57812
35490544-hc Safari.

[2022-07-01 19:33] zaguiini commented on #64538
After a few considerations, we decided not to create the experiment and instead, we'll go with a feature flag until the end.

The main reason for the experiment was that we wanted to gauge the impact of a potential consent step for every Google sign-in attempt. We're not entirely sure why this extra consent step showed up for my personal Google account, but that did not happen for any other team m

[2022-07-01 19:35] zaguiini commented on #64790
https://github.com/Automattic/wp-calypso/issues/64538#issuecomment-1172658422

[2022-07-01 19:35] #64790 closed, assigned to sejas

[2022-07-01 20:08] vindl opened #65162 "Site Switcher: Improve the presentation of All My Sites"
We want to improve the look and positioning of the `All My Sites` item in the Site Switcher.

<img width="267" alt="Screenshot 2022-07-01 at 22 01 57" src="https://user-images.githubusercontent.com/1182160/176961621-72cdc342-a31e-4901-848b-304fbbe128bb.png">

We want to:

1. Move it to the top above the search bar.
2. Improve the design to make it more prominent, with the goal of driving more traf

[2022-07-01 20:15] mtias commented on #59198
This would need an issue in Gutenberg. Please, open one, it seems like a good straightforward improvement.

[2022-07-01 20:20] dcoleonline commented on #36795
3945442-hc
I used Code Snippets to enable the wporg admin bar and they were ok with that as a substitute

[2022-07-01 20:28] vindl opened #65163 "Sites Management Dashboard: create a skeleton for the new interface"
Let's create a skeleton for the new UI:

<img width="940" alt="Screenshot 2022-07-01 at 22 17 47" src="https://user-images.githubusercontent.com/1182160/176963170-40440e4b-fa3a-48f0-a47a-283e661349ef.png">

It should contain the following:

- Header Section
  - My Sites title,
  - `New Site` button linking to `wordpress.com/start`.
- Main Section
 - A container with dummy data that will hold the f

[2022-07-01 20:34] vindl opened #65165 "Sites Management Dashboard: add tabs view"
Depends on: https://github.com/Automattic/wp-calypso/issues/65163

Building on top of the interface skeleton introduced in https://github.com/Automattic/wp-calypso/issues/65163, let's add a tabbed view as outlined in the designs:

<img width="940" alt="Screenshot 2022-07-01 at 22 17 47" src="https://user-images.githubusercontent.com/1182160/176964282-b2e543a2-fe7a-40a9-877d-b9375beb1223.png">

For

[2022-07-01 20:44] vindl opened #65166 "Sites Management Dashboard: create a list view for sites"
Depends on: https://github.com/Automattic/wp-calypso/issues/65163.

Once the https://github.com/Automattic/wp-calypso/issues/65163 is done we can use the Main Section to implement the List View of sites with the dummy data.

<img width="833" alt="Screenshot 2022-07-01 at 22 39 43" src="https://user-images.githubusercontent.com/1182160/176965332-928156cc-3055-4b0d-8558-957125ddf692.png">

Done is:

[2022-07-01 21:05] JoshuaGoode commented on #63644
Received this email today, `SET IN TEMPLATE` was in preview

[2022-07-01 21:06] JoshuaGoode commented on #63644
Perhaps someone from @Automattic/martech  can take a look, forward along to the right place.

[2022-07-01 21:52] vindl opened #65167 "Sites Management Dashboard: load data for sites"
Depends on: https://github.com/Automattic/wp-calypso/issues/65166

Let's replace the dummy data created in https://github.com/Automattic/wp-calypso/issues/65166 with the actual data. We can rely on existing data that is used to populate the Site Switcher list. Let's leave the `Last Publish` column for a separate task.

<img width="833" alt="Screenshot 2022-07-01 at 22 39 43" src="https://user-imag

[2022-07-01 21:59] vindl opened #65168 "Sites Management Dashboard: add data for Last Published column"
Depends on: https://github.com/Automattic/wp-calypso/issues/65166

We need to figure out a way to calculate the `Last publish` value based on user activity and surface it in Calypso (if it's not already available in its store).

<img width="833" alt="Screenshot 2022-07-01 at 22 39 43" src="https://user-images.githubusercontent.com/1182160/176972064-73cd1e0b-9007-4c82-85c4-660c066f1df0.png">

Done

[2022-07-01 22:08] vindl opened #65169 "Sites Management Dashboard: add search and tab filtering of the sites list"
Depends on: https://github.com/Automattic/wp-calypso/issues/65166

Implement the Search functionality and Tab filtering for the sites list.

<img width="1544" alt="Screenshot 2022-07-02 at 00 04 01" src="https://user-images.githubusercontent.com/1182160/176972681-a122fc7f-d143-4ce1-86eb-eab2cdba1fcd.png">

Done is:
- [x] Search component is added to the page.
- [x] Inputting text in it filters the

[2022-07-01 22:12] jordesign commented on #59198
Awesome - thanks @mtias  - issue added here:
https://github.com/WordPress/gutenberg/issues/42103

[2022-07-01 22:19] vindl opened #65170 "Sites Management Dashboard: technical exploration for generating site thumbnails"
In order to generate the thumbnail view for the sites, we need to have a performant mechanism for generating and storing the screenshots of the homepage.

![image](https://user-images.githubusercontent.com/1182160/176973174-bc44877c-9379-4ab9-af8e-5c156a3fa5b0.png)

We used mShots internally for similar tasks, but that might be too slow to handle the volume on WP.com. In case of mShots thumbnails,

[2022-07-01 22:27] vindl opened #65171 "Sites Management Dashboard: implement thumbnails view for sites"
Depends on: https://github.com/Automattic/wp-calypso/issues/65170

Provided that the research in https://github.com/Automattic/wp-calypso/issues/65170 yields a viable solution, we can continue with the work for showing the thumbnail view. If there is no viable technical solution, this issue should be closed and the work punted until further notice.

![image](https://user-images.githubusercontent.c

[2022-07-01 22:29] vindl opened #65172 "Sites Management Dashboard: implement the solution for generating site thumbnails"
Depends on: https://github.com/Automattic/wp-calypso/issues/65170

Provided that the research in https://github.com/Automattic/wp-calypso/issues/65170 yields a viable solution, we can continue with the work for showing the thumbnail view. If there is no viable technical solution, this issue should be closed and the work punted until further notice.

More details will be added here once the technic

[2022-07-01 22:34] vindl opened #65173 "Sites Management Dashboard: implement the designs and handling for empty states"
Depends on: https://github.com/Automattic/wp-calypso/issues/65167

Let's handle the empty states in the sites list properly.

![image](https://user-images.githubusercontent.com/1182160/176974466-1a5dba4e-6f5d-49b8-b5d4-5b089b5568f8.png)
<br>
![image](https://user-images.githubusercontent.com/1182160/176974509-d2fb24cd-75a9-45c0-83a8-746da34653f8.png)

Done is:

- [ ] The UI matches the designs.
-

[2022-07-01 22:36] cometgrrl commented on #64552
We should start with filing a core bug as getting that fixed may solve both issues.

[2022-07-01 22:37] pablinos commented on #51371
This is certainly an odd one! I've checked the access token and it was created today, but there is no associated Publicize connection. This could be related to the new page experience, but it's presenting a bit differently to the problem that caused this issue.

Reading how they describe this, I'm not sure it's the success dialog we would expect to see as the Publicize connection is created. The F

[2022-07-01 22:43] vindl opened #65174 "Sites Management Dashboard: add site actions to the ellipsis menu"
_Updated summary after comments:_

Based on the feedback, I compiled a list of items to add for i1. We'll iterate on this further, once we elevate some options to primary actions in list view columns (e.g., launch/checklist) and start showing contextual actions based on the site's type.

- **Launch Site** - show only if the site is not launched yet
- **Settings** - link to `/settings/general`
- **

[2022-07-01 22:48] vindl opened #65175 "Sites Management Dashboard: gathering feedback and promoting a new feature"
We discussed options for gathering feedback and introducing this feature when the user lands on the page for the first time.

We still need to come up with designs for this and the exact questions that we want to be answered.

cc @SaxonF

[2022-07-01 22:52] vindl opened #65176 "Sites Management Dashboard: surface in What's New section of the Help Center"
Provided that the Help Center is released more broadly by the time we are ready to launch, let's ensure to surface this dashboard there, in addition to the WP.com blog post.

**Update September 21**: The Help Center will soon be reintroduced to all WP.com users. We can use this to promote the Sites page in the What's New section.

<img width="411" alt="Screenshot 2022-09-21 at 13 31 39" src="https

[2022-07-01 23:52] ktyfuller604 opened #65177 "Gazette Theme: Contact Form fields use the site's background color"
### Quick summary

In the Gazette theme, what you select as the Background color in Colors & Backgrounds will apply to form fields as well.

Similar report: https://github.com/Automattic/themes/issues/5397 (this report is for WooCommerce fields)

### Steps to reproduce

1. Activate the Gazette theme
2. Change the background color to black (for example)
3. Add a contact form
4. Apply a background c

[2022-07-02 04:10] becdetat commented on #64917
Another report: 5338885-zd-woothemes

The user's theme is Cerauno.

Text is "invisible" - same background and foreground - even with the Default colours selected.

[2022-07-02 05:17] Robertght commented on #52520
35960978-hc

[2022-07-02 06:00] sarahcada commented on #52100
Another case at 34702400-hc
Site has no paid plan at the moment, was using Dorna theme. They may change themes.

[2022-07-02 11:59] sophiegyo commented on #62994
Just dropping feedback here from 35552287-hc that it'd be nice to have the featured image back in the New Post emails. The user has been working around the lack by adding the image into the post body but they'd like to not have to do that.

[2022-07-02 13:09] donalirl commented on #52182
Seen in #5341259-zen

The error appeared when trying to upload then crop an image of 1008 x 756. However, when I uploaded an image using the theme's recommended size of 960 × 260, it worked.

[2022-07-02 13:44] chiape commented on #62017
+1 with Quadrat white theme

zd-5336560

[2022-07-03 00:25] kuropixel commented on #49675
User could benefit from this feature. 35966478-hc.

[2022-07-03 04:17] essleeung commented on #65042
Another instance here: 5342352-zd-woothemes
I've asked them to not set their cover block to fixed for now.

[2022-07-03 08:42] miksansegundo commented on #64252
Hi @mattwiebe, is it okay if I deploy the ETK including these changes? I have something else to deploy.

[2022-07-03 09:34] miksansegundo commented on #64978
There are still pending **Swedish** translations for the [vertical posts](https://dotcomverticalposts.wordpress.com/):

- [Sweet success](https://mc.a8c.com/patterns-toolkit/block-patterns/index.php?site=dotcomverticalposts.wordpress.com&theme=Hever&pattern=30&language=sv) is 89% done.
- [Sweet success 2](https://mc.a8c.com/patterns-toolkit/block-patterns/index.php?site=dotcomverticalposts.wordpre

[2022-07-03 09:37] miksansegundo commented on #64978
There are still pending **Swedish** translations for some vertical posts:

- "Sweet success" is 89% done.
- "Sweet success 2" is 78% done.
- "Getting started can be the hardest part" is 71% done.
- "Work hard. Work smart" is 88% done.

[2022-07-03 11:20] rambogenius commented on #64917
Another report hc-35969016

[2022-07-03 11:47] renata-franco commented on #64682
Another one here: 5341159-zd-woothemes
Provided the CSS workaround.

[2022-07-03 18:41] jp-imagines commented on #62755
- [ ] Another in 5344761-zd-woothemes

In Safari, this user was actually seeing a `load cannot follow more than 20 redirections` error when trying to use the "Edit Site" link in My Home on an unsupported theme.

[2022-07-03 20:18] dcoleonline commented on #65042
- [ ] 5342352-zd

[2022-07-03 22:57] #59431 closed, assigned to elliottprogrammer

[2022-07-03 23:45] SaxonF commented on #65174
Let's discuss this week but we can also launch without it.

Other options
- Edit site (FSE)
- Launch site
- Unlaunch site
- Manage plugins

[2022-07-04 01:40] SaxonF commented on #65162
@vindl after playing with this for a bit (one iteration below), I actually think we should leave any changes here until we are ready to refresh the global nav bar, especially given its also in use in Jetpack Cloud.

From a marketing standpoint, that would be the time where we can really promote Dotcom as a platform for managing multiple sites.

What do you think? Either way, not a blocker for laun

[2022-07-04 02:55] goblinartificer commented on #64767
Wow, that's super weird. I'll do some further testing when I get the time ⁠— I should be able to make a GIF or two of my own with a few settings. It does seem like an edge case, but I'd still like to see what else I can find out!

[2022-07-04 04:00] SaxonF commented on #65175
@vindl @danielbachhuber I'd love to get to a point where we have a globally persistent way of collecting feedback that is contextually aware e.g. we can map url to questions.

In the meantime, I'm thinking we can keep feedback trigger within the site management page and highlight it as part of announcing. We can combine this with actively interviewing customers who are in the segment's we want to

[2022-07-04 04:10] p-jackson commented on #65174
I'm in favour of actions like "launch" because that's info that we are surfacing in the dashboard. Or if we end up with labels for "plan expiring soon", then an action to "renew plan" would be a good one. Maybe "Visit site", which opens the front end in a new tab? (since presumably the primary action for the row will open the back end).

I'm not sure about adding actions that quick-jump to other C

[2022-07-04 04:10] SaxonF commented on #65166
Some other criteria

- [ ] Clicking the url under site name should open a new tab with the url as the address
- [ ] Clicking the site name should take you to the single site view of that site.
- [ ] The icon represents the site status. @SaxonF to provide icons for launched, coming soon and private
- [ ] The site thumbnail can use the existing icon but can replaced once https://github.com/Automatti

[2022-07-04 04:11] p-jackson commented on #65174
This isn't a quick action for Atomic sites (which will be many of our users) because it requires talking to Happiness. So I'm not sure we want to add it, and then only have it inconsistently available i.e. it'll be in the simple site menus but not the atomic sites, which seems strangely arbitrary to a user.