[2021-06-07 20:14] creativecoder commented on #41825
This appears to be because of some missing options that aren't transferred to the Atomic site. To confuse things even more, the dotcom FSE editing functionality comes back if you switch themes on the Atomic site and that theme supports it.

Let's keep this open for now--we'll either close or address it, as Cylon is actively figuring out how to handle these sites with legacy FSE functionality.

[2021-06-07 20:15] creativecoder commented on #41825
Now I see that info is already in an earlier comment!

[2021-06-07 20:16] kwight commented on #53431
Thanks @cpapazoglou !

[2021-06-07 20:35] jeffgolenski commented on #53434
@ianstewart Pardon my wordpress.com ignorance. I'm aware that sites are converted to atomic when a plugin is added, but aren't folks who purchase an e-commerce plan during onboarding automatically put on an atomic site?

[2021-06-07 20:44] serabi commented on #53444
Also reported in 4046358-zen

[2021-06-07 21:10] metabreakr commented on #53401
22132803-hc

[2021-06-07 21:21] worldomonation commented on #50693
Done for now.

[2021-06-07 21:21] #50693 closed, assigned to worldomonation

[2021-06-07 21:21] worldomonation commented on #51080
Done.

[2021-06-07 21:21] #51080 closed, assigned to worldomonation

[2021-06-07 21:34] worldomonation opened #53485 "Playwright: run againt multiple browsers"
**Task Details**
Currently the Playwright suite is hardcoded to run against `chromium` only.

Look into supporting at least one other browser engine eg. `firefox` via the use of a configuration file, command line switch, or something else.

**Related to**
#51082

[2021-06-07 21:52] worldomonation opened #53486 "Playwright: automatic sort of imports"
**Task Details**
For more consistent import order, we should either define our own rule or incorporate a library that would sort it for us.

**Related to**

[2021-06-07 22:00] kwight commented on #53474
As long as we have a warning, I don't think we need any more (so I guess I vote for #2).

[2021-06-07 22:03] AtrumGeost commented on #53401
Got another report here:

12141927-hc

[2021-06-07 22:11] thesacredpath commented on #53401
And another one.

4050718-zen

[2021-06-07 22:15] thesacredpath commented on #53401
30020364-hc
Follow-up: 4050884-zen

[2021-06-07 22:31] #52736 closed, assigned to kangzj

[2021-06-07 23:12] p-jackson commented on #52995
@autumnfjeld I was keeping it open and working on other things because I wasn't sure where the discussion would end up landing. It still seemed possible that, on balance, the oauth approach could still be the approach we take. But happy to close if that's not how you're reading the situation.

[2021-06-08 00:27] katiebethbrown commented on #53431
@cpapazoglou  & @kwight - Does the fix stop the issue from occurring, or does it fix sites where it's broken, or both?

Tested on the simple site mentioned here and the changes are still not saving:
p1623098824209400/1623093167.207800-slack-CB0B2G43X

[2021-06-08 01:20] donalirl commented on #41706
Hi @richardkang112 I'm not able to do that, sorry. Would you be able to ask someone else?

[2021-06-08 01:21] syedshaon commented on #53422
Another issue 4050304-zen using The Journalist v1.9

[2021-06-08 01:25] noteeth commented on #42024
This issue seems to have returned.
Reported in 30020428-hc
Sent shortcode workaround 4050945-zen

Added multiple different Spotify playlists to different test sites to see if the issue was replicable and this is always what I am seeing now.

<img width="1578" alt="Screen Shot 2021-06-07 at 6 08 27 PM" src="https://user-images.githubusercontent.com/16570939/121107849-8a6bd080-c7bd-11eb-9d4e-760c2ba

[2021-06-08 01:30] syedshaon commented on #53422
Another issue 4044884-zen using Twenty Ten

[2021-06-08 01:44] happychait commented on #53431
A customer reached out in 30022883-hc and I couldn't save the menu location.

[2021-06-08 01:58] kimerlin81 commented on #53401
30022667-hc
Using Safari
Unable to reproduce
Cleared Cached

[2021-06-08 02:02] kosiew commented on #53401
#30023209-hc

Safari 14.0 on Mac OS X 10.14.6

Clearing browser cache did not help

[2021-06-08 02:05] richardkang112 commented on #41706
@donalirl No problem. I'll try to find a way to test my fix on Safari with Voiceover.

[2021-06-08 02:07] nagpai commented on #53403
Another user report
#1067377-hc

Asked user to edit captions using HTML mode as  a workaround while this is being fixed.

[2021-06-08 02:34] retnonindya commented on #45317
So sorry for the direct ping here since I noticed no movement at all 🙇‍♂️

@kwight, @taggon, @obenland -- I'm so sorry for the ping. Can you check or share some steps on how to trash a page (per above comment) as it's not possible to do so from Calypso and WP Admin? I'd figure we need developer's sandbox access for this.

I tried:
- Trashing the page using Calypso,
- Trashing the page using WP Adm

[2021-06-08 02:45] nagpai commented on #53401
#1067377-hc

Safari 13.1 on macOS (High Sierra)

https://whatismybrowser.com/w/KKXHE6D

[2021-06-08 02:50] kimerlin81 commented on #53401
4259927-hc
Safari 13.1 on Mac OS X 10.13.6
Cleared Cached - results unknown
Created follow-up zen-4051325

[2021-06-08 03:42] kavyagokul commented on #53401
Another one in 30024135-hc
Safari 13.1.2
Cleared cache - no effect

They're moving to another browser for the time being

[2021-06-08 04:06] jordesign commented on #53476
Love, Love, Love this suggest 😍

[2021-06-08 04:13] KokkieH commented on #53401
https://wordpress.com/forums/topic/image-issues-14
Safari 14.0.1

[2021-06-08 04:20] joweber123 commented on #41606
+1 for this request.  For an example use case, this user has two plans.  They would like to to give access to a limited number of posts to users of a cheaper plan but give access to all posts to users of the more expensive plan.

For example:

1.)  If a customer pays $10 per month they can see the 10 newest posts
2.) If a customer pays $20 per month they can see these same 10 posts but also have a

[2021-06-08 04:24] hacchism commented on #53401
Another one in 4051436-zen
Safari 13.1.3 on macOS 10.15.7

Advised them to update Safari or try using a different browser

[2021-06-08 04:25] jordesign commented on #53473
+1 fantastic idea.

Can we deep link into the editor to make Global Styles visible? (I guess we'd need to pick a default page to take them to *from* the customizer)?

Or we would it be a case of linking to a support doc?

[2021-06-08 04:51] Robertght commented on #53220
Another one in 4046543-zen

[2021-06-08 05:08] kosiew commented on #53431
#4051508-zen

https://adahkampspapasblog.com/
AT site

#4051271-zen
https://cordeirorosa.com/
AT site

For both cases, theme_mod_options does not return -
ref: p9F6qB-70P-p2

[2021-06-08 05:17] jordesign commented on #53434
This is true - they would automatically be Atomic. Looks like maybe 200-400 new subscribers a month from Scorecard.

[2021-06-08 05:28] alaczek opened #53488 "Post Excerpt block: The "read more" link appears twice"
Post Excerpt block has an option to customize the "Read more" text. But when a custom text is entered, two "Read more" links appear.

### Steps to reproduce the behavior

1. Create a new post or a page. Add Posts List or Query block.
2. If there's no Post Excerpt block inside, add one.
3. Save and preview. There will be a "Continue reading" link displayed after the excerpt (which I think is a bug

[2021-06-08 06:02] devNigel commented on #53431
Another report for a simple site.

20522128-hc
4051635-zen

[2021-06-08 06:07] goblinartificer commented on #53401
Also in
- 5869445-hc: simple, follow up 4051650-zen
- 26806925-hc: atomic, follow up 4051431-zen

[2021-06-08 06:08] Robertght commented on #53422
A new report in 4047362-zen

[2021-06-08 06:09] cpapazoglou commented on #53431
It will stop the issue from occurring to more users, affected users will still have a broken experience.

I am reopening this as the fix is not shipped in AT sites.

[2021-06-08 06:13] KokkieH commented on #53431
@cpapazoglou

Broken as in the customizations that were removed will still be lost, but they should be able to start using the Customizer again, or broken as in they'll still be unable to save Customizer changes?

[2021-06-08 06:20] Robertght commented on #53459
I don't know if this is a bug as turning off the extra columns(Yoast) helps display the dashboard better.
Also, I think this may be core related.

[2021-06-08 06:25] alaczek commented on #53488
Hmm... this might not be a .com issue after all: https://github.com/WordPress/gutenberg/issues/32473

[2021-06-08 06:39] fresatomica commented on #53431
I just tested on this site where the user reported the issue, and the settings are still not saving: https://wordpress.com/forums/topic/menus-not-saving/.

[2021-06-08 06:48] taggon commented on #53448
After hours of investigation, I found the root cause is one of the legacy widget hooks not called. When it comes to iframe request, the hook is supposed to define `IFRAME_REQUEST` to prevent `wpcom-frame-handling` mu-plugin from reloading the top frame over and over again. But it is not called due to the order of hooks.

While working on the fix, I'm noticed [the fix already has been merged](https

[2021-06-08 06:49] poojashetty18 commented on #53422
Another one on 4047978-zen

[2021-06-08 06:56] sanjeev00733 commented on #53431
Another user reported in 30002351-hc

Site: https://thimbletheatrejournal.com/

* Not able to add logo and save changes in customize panel.

[2021-06-08 07:14] fresatomica commented on #53431
Another report: https://wordpress.com/forums/topic/balasana-customizer/

[2021-06-08 07:28] fresatomica commented on #53424
Another report: https://wordpress.com/forums/topic/spotify-playlists/

[2021-06-08 07:29] simison commented on #53448
Oh, fantastic! Good sleuthing.

The fix is included in Gutenberg 10.8 which seems fine to wait (should be in a week?). If cherry-picking that all-PHP change is easy enough, that's also worth it. FYI @fullofcaffeine @WunderBart

FYI @noisysocks @draganescu that the above PR fixes this refresh issue on .com.

[2021-06-08 07:34] formosattic commented on #53401
+1 4051766-zd-woothemes

[2021-06-08 07:36] KokkieH commented on #42024
@noteeth, there's a new report for the current issue in #53424

[2021-06-08 07:36] cpapazoglou commented on #53431
All users who have saved the form in `/wp-admin/options-general.php` will still be unable to save Customizer changes unless they are manually restored p9F6qB-70P-p2

The fix just stops the spread. We will look into the possibility of mass restoring the settings for the affected Users.

[2021-06-08 07:44] SuzzieG commented on #53422
Another one 4044655 - Zen

[2021-06-08 07:58] simison commented on #53401
I tested with Safari 14.1 on MacOS, using lots of text/different blocks on page- and post editors. Couldn't replicate. :-(

@fullofcaffeine also tested, no dice:

Any tips on how to replicate most welcome! Example content that's known to show up broken might also help.

[2021-06-08 08:05] paulostp commented on #53422
4050622-zen Bloggy theme

[2021-06-08 08:19] razvanpapadopol commented on #47988
We've just removed the Launch button from the editor in https://github.com/Automattic/wp-calypso/pull/53115
I guess it's fine to close this issue for now.

[2021-06-08 08:19] #47988 closed, assigned to nobody

[2021-06-08 09:00] simison commented on #53434
One more thing to consider is mobile experience — on settings there's no tour, nor we guide them back to my home:

<img width="377" alt="image" src="https://user-images.githubusercontent.com/87168/121156043-095e1900-c851-11eb-8cf6-03ab12aa160d.png">

On customizer they have the X little more visible, even when there would not be tour bringing them back:

<img width="379" alt="image" src="https://u

[2021-06-08 09:08] sanjeev00733 commented on #53422
3753906-hc
Theme: Twenty Eleven

[2021-06-08 09:16] fresatomica commented on #53431
Another one: https://wordpress.com/forums/topic/wordpress-lost-my-2020-theme/

[2021-06-08 09:20] mmtr commented on #51441
@JanaMW27 has proposed a design for this switcher in pd2C0z-2y-p2

[2021-06-08 09:27] kspilarski commented on #53422
4047752-zen
Obsidian theme

[2021-06-08 09:45] fresatomica commented on #53431
Another report: https://wordpress.com/forums/topic/pique-one-page-menu-disappeared/

[2021-06-08 11:02] #53414 closed, assigned to nobody

[2021-06-08 11:04] #53412 closed, assigned to david-szabo97

[2021-06-08 12:04] mikeicode commented on #53431
4049861-zen menu and widget aren't updating on the Simple site after saving in the Customizer.

[2021-06-08 12:07] daria2303 commented on #50087
Another report: 4052339-zd-woothemes
Background loads first well and then it's reloaded to be totally white.

[2021-06-08 12:15] #52921 closed, assigned to mmtr

[2021-06-08 12:28] pauljacobson opened #53493 "Site Stats: Stats missing from 6 months of site activity"
Our customer reached out to us to query why their Site Stats are missing data for a roughly 6 month period for their site https://tinytramper.com/

### Steps to reproduce the behavior

1. Go to the _Stats_ page in the user's site dashboard
2. Click on the toggle to display stats in _Months_
3. Observe missing stats between December 2020 and June 2021

We have attempted the following:

- We ran a f

[2021-06-08 12:34] fresatomica commented on #53431
Another one from the forums:
https://wordpress.com/forums/topic/singl-theme-not-customizing/

[2021-06-08 12:42] StefanNieuwenhuis opened #53495 "Login: Back button on "Email me a login link" asks me for username again"
### Why
The current flow is confusing to users. The user clicks on the "Enter a password instead" button and is redirected to the view where he needs to provide a username/email address, while this is already available.

### What
1. Go to `/log-in`
2. Enter an email address or username and click continue
3. Click on "Email me a login link"
4. Click on "Enter a password instead"
5. I'm sent back to

[2021-06-08 12:47] #38442 closed

[2021-06-08 12:54] AtrumGeost commented on #38807
Hey @sirbrillig! Thank you for taking a look at this and explaining what happened :)

[2021-06-08 13:08] maciejpilarski commented on #53431
Another report for a simple site.

30018272-hc
4052608-zen

[2021-06-08 13:17] Nic-Sevic commented on #53431
another simple site here: 4048183-hc
asking them to try setting a default theme

[2021-06-08 14:08] AtrumGeost commented on #48191
Got another report here:

30032948-hc

[2021-06-08 14:11] scruffian commented on #59396
This has been fixed in r59062-wpcom

[2021-06-08 14:20] michaeldcain commented on #52988
I believe it was Hemingway Rewritten

[2021-06-08 14:31] #37658 closed

[2021-06-08 14:32] aleone89 commented on #53100
Another report on hc-12288632
Microsoft Edge 9

[2021-06-08 14:36] aleone89 commented on #53100
Another report on zen-4045571
Firefox (gathering more information)

[2021-06-08 14:37] niranjan-uma-shankar commented on #52683
Hey @bobmatyas , I'm closing this issue as a duplicate of https://github.com/Automattic/wp-calypso/issues/33077. This issue has been fixed as noted in [this comment.](https://github.com/Automattic/wp-calypso/issues/33077#issuecomment-851240339).

[2021-06-08 14:37] #52683 closed, assigned to nobody

[2021-06-08 14:39] niranjan-uma-shankar commented on #52243
This is now fixed as described by @jsnajdr in p4TIVU-9J2-p2.

[2021-06-08 14:39] #52243 closed, assigned to jsnajdr

[2021-06-08 14:42] tellisbethel commented on #51540
Also happening to a user here: 4047965-zd-woothemes
I noticed the user's Gravatar account was disabled. Asking them to re-enable it in case that's where the problem lies.

[2021-06-08 14:52] louinel commented on #53424
Another case here 4045474-zd-woothemes

[2021-06-08 14:53] michaeldcain commented on #52988
Diffs to add tags:

- Ryu: D62491-code
- Twenty Fifteen: D62492-code
- Twenty Sixteen: D62493-code

Independent Publisher and Hemingway Rewritten have already been tagged.

[2021-06-08 15:01] jp-imagines commented on #22788
Reopening this old issue with a new user report: 4045461-zen.

Asking user for their phone's OS/browser information now.

I was able to replicate this on my phone (Pixel 2XL, Android 11) using Chrome 91.0 but **not** in Firefox Focus 8.16.0 (worked as expected). In Chrome, I can drag to rearrange items, but tapping the item's name or the arrow does not expand its settings (even if I force zoom-in

[2021-06-08 15:01] ianstewart commented on #53434
@jeffgolenski I forgot about the ecomm plan. Yep. That'd be correct in that case. They already get a dedicated onboarding in that plan though. Might be worth looking at how those two checklists interact.

[2021-06-08 15:08] DanielSmithMichigan opened #53504 "Bugged behavior when switching sites after viewing a theme demo"
https://user-images.githubusercontent.com/10274366/121209658-03fcd080-c849-11eb-808a-bd01c988bcfa.mov

### How to recreate

1. Use mobile
2. Go to /themes/SITE_SLUG page from a SIMPLE site.
3. For any theme, click the ellipsis to expand the popover menu or view the demo.
5. Close the demo / ellipsis sub-menu
4. Click the "My sites" button / wordpress logo.
5. Select an ATOMIC site.
6. Before you e

[2021-06-08 15:24] sbathompson-he commented on #53422
30034625-HC
Dara

[2021-06-08 15:40] DanielSmithMichigan opened #53506 "Clicking "My Sites" button from the /theme/THEME_NAME/SITE_SLUG page is not working"
1. Go to the themes page for one of your sites. Select a theme.
2. Click "My Sites"/WordPress logo in the top left.

Mobile behavior:

https://user-images.githubusercontent.com/10274366/121213298-1af0f200-c84c-11eb-96e7-b3e8a4fd4a40.mov

Desktop behavior:

https://user-images.githubusercontent.com/10274366/121215534-1af1f180-c84e-11eb-9af5-9d10309147f2.mov

[2021-06-08 15:40] marianearchimbaud commented on #50917
This is happening also on my test sites. A few time ago I was able to look for blocks typing "encabezados..." Now I need to type the block name in English "heading" even though my site and account are set to Spanish.

[2021-06-08 15:42] mreishus commented on #53506
I thought it might be related to 954d52147a98055b9f4cce46f8b1bd986597da5f (#52686), but I don't think it is; I still see the bug after reverting that commit locally.

[2021-06-08 15:45] tellisbethel commented on #50917
This is happening to an Italian WPcom user here 4048664-zd-woothemes

[2021-06-08 15:50] allilevine opened #53507 "Marketing > Traffic: Hide WP.me Shortlinks settings on Atomic"
#### What plan tier is the site on?
Free, Business, E-commerce

#### Where are you seeing the issue?

1. Go to Tools > Marketing > Traffic
2. Scroll down to "WP.me Shortlinks" settings
3. See it!

#### What I expected on the WordPress.com site
The "WP.me Shortlinks" settings are not visible.

#### What I expected on the Atomic site
The "WP.me Shortlinks" settings are not visible.

#### What actual

[2021-06-08 15:50] metabreakr commented on #53444
29328127-hc

[2021-06-08 16:00] allilevine opened #53508 "Marketing > Traffic: Hide Site Stats settings on Atomic"
#### What plan tier is the site on?
Free, Business, E-commerce

#### Where are you seeing the issue?

1. Go to Tools > Marketing > Traffic
2. Scroll down to "Site Stats" settings
3. See it!

#### What I expected on the WordPress.com site
The "Site Stats" settings are not visible.

#### What I expected on the Atomic site
The "Site Stats" settings are not visible.

#### What actually happened
They'r

[2021-06-08 16:04] ianstewart commented on #52988
@michaeldcain I gave you an LGTM on those phab diffs.

[2021-06-08 16:22] ianstewart commented on #53473
If someone has a static home page, telling people they can "open your home page in the Editor to update fonts" and providing a link seems like it could work. But it'd have to be contextual as they can only view a blog index in the customizer.

[2021-06-08 16:24] AtrumGeost commented on #53401
Hey @simison !

I was able to reproduce the issue :)

These are the steps I followed based on a recent report here 29295469-hc

1. Select Safari 13.1 in Browserstack
2. On a WordPress.com site activate (possibly—I have only tested 2 themes so far) any theme  below the Redhill theme (most old themes)
3. Inside Safari 13.1 open the editor and paste a lot of text
4. Notice the gray background at the

[2021-06-08 16:26] ianstewart commented on #53474
Does the customizer have any similar warning patterns?

[2021-06-08 16:39] Sandkorner commented on #53431
4052568-zen
Simple site that is not saving in the customiser.

[2021-06-08 16:40] metabreakr commented on #53401
30035944-hc

[2021-06-08 16:44] thekingsprojects commented on #53444
30035937-hc

[2021-06-08 16:44] scinos commented on #53486
Can be done as part of p4TIVU-9Hd-p2 ?

[2021-06-08 16:54] worldomonation commented on #53486
Definitely, sorry I recalled reading your post but it escaped me when I wrote up this task.

Looks like you have an accepted answer. Have you had a chance to start this yet?

[2021-06-08 17:02] scinos commented on #53486
Soon™️.
Is something I'd like to do, but I don't feel it is impactful enough to be on the top of my todo list.

[2021-06-08 17:03] sbathompson-he commented on #53431
28805109-hc
A simple site that is not saving in the customizer. The logo will not show or update.

[2021-06-08 17:09] sbathompson-he commented on #53431
24154934-hc
A simple site that is not saving in the customizer. The logo will not show or update.

[2021-06-08 17:19] sbathompson-he commented on #53431
3203272-hc
A simple site that is not saving in the customizer. The logo will not show or update.

[2021-06-08 17:24] chrisfromthelc commented on #53431
Another one in 163212-hc.

[2021-06-08 17:30] abcrsol commented on #53431
Two cases: 4053222-zen and 4052705-zen

[2021-06-08 17:32] davipontesblog opened #53512 "TEST Bugomattic link"
### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

#### What I expected to happen

#### What actually happened

### Context

#### Browser / OS version

#### Is this specific to the applied theme? Which one?

#### Does this happen on simple or atomic sites or both?

#### Is there any console output or error text?

#### Level of impact (Does

[2021-06-08 17:32] davipontesblog commented on #53512
Closed. This was just a test.

[2021-06-08 17:32] #53512 closed, assigned to nobody

[2021-06-08 17:46] allilevine commented on #51820
Should we hide the Security tab on free Atomic, or all Atomic sites? See pd2C1Z-10-p2

[2021-06-08 17:48] worldomonation opened #53514 "Playwright: turn on CI runs by default"
**Task Details**
Currently, Playwright E2E tests do not run by default.

The best way to gauge the effectiveness of the migration is to run it as part of the issue life cycle. Maybe it can catch an issue or two while more tests are migrated, as well.

- [ ] create two tasks - mobile and desktop
- [ ] run both on TeamCity with a known baseline
- [ ] turn on by default

[2021-06-08 17:55] chrisfromthelc commented on #53431
Another: 30037126-hc

[2021-06-08 18:03] dhackneya8c commented on #53431
Another report: 22951768-hc

[2021-06-08 18:09] macmanx2 commented on #53431
Two more: https://wordpress.com/forums/topic/theme-background-3/ and https://wordpress.com/forums/topic/page-attributes-26/

[2021-06-08 18:09] noteeth commented on #53431
Another report: 30036865-hc

[2021-06-08 18:10] kriskarkoski commented on #53493
Was there any Jetpack connection issue we're aware of? I don't believe stats are recorded when Jetpack is disconnected

[2021-06-08 18:12] allilevine opened #53515 "Plans: Allow free Atomic sites to upgrade to Premium"
#### What plan tier is the site on?
Free

#### Where are you seeing the issue?

1. Go to /plans/{site-url}?feature=google-analytics&plan=value_bundle
2. See it!

#### What I expected on the WordPress.com site
The Premium plan and Google Analytics feature to be highlighted.

#### What I expected on the Atomic site
The Premium plan and Google Analytics feature to be highlighted.

#### What actually

[2021-06-08 18:15] allilevine opened #53516 "Marketing > Traffic: Show no ads with premium banner"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

1. Go to Tools > Marketing > Traffic
2. See it!

### What I expected on the WordPress.com site
The "No ads with WordPress.com Premium" banner

#### What I expected on the Atomic site
The "No ads with WordPress.com Premium" banner

#### What actually happened
The banner isn't shown on Atomic.

#### Screenshot / Video: If

[2021-06-08 18:18] JoshuaGoode opened #53517 "Logos missing on themes using jetpack_the_site_logo function after Gutenberg v10.7.4"
Some themes can no longer display their site logo after the release of Gutenberg v10.7.4 on WordPress.com Simple.

Here's a shortlist of themes we've seen this impact so far:

* Soho, Luxury, Didi, Obsidian, Blask, Maisha, Puzzle, Pique

It appears this mostly impacts themes using the `jetpack_the_site_logo` function:
https://github.com/Automattic/jetpack/blob/ba2dd6c30be137baad96aafb2466d0aed7e18

[2021-06-08 18:21] allilevine opened #53518 "Marketing > Sharing Buttons: Tab sometimes not shown on Atomic"
#### What plan tier is the site on?
Free

#### Where are you seeing the issue?

1. Go to Tools > Marketing > Sharing Buttons
3. See it!

#### What I expected on the WordPress.com site
To see a "Sharing Buttons" tab

<img width="591" alt="Screen Shot 2021-06-08 at 2 19 50 PM" src="https://user-images.githubusercontent.com/1689238/121237096-ad04f480-c864-11eb-912a-74610ba3cbe1.png">

#### What I exp

[2021-06-08 18:21] AMcGrady commented on #53444
Reported in 4052214-zen

[2021-06-08 18:24] ckmccoy2 commented on #53431
One more: 30036677-hc.

Logo and site icon will not show or update similarly as to what others have mentioned above. User was using cerauno theme, but when changed to twentytwentyone, logo did display.

[2021-06-08 18:27] mikeicode commented on #53517
Obsidian & Blask themes appear to have the issue also

[2021-06-08 18:40] cpapazoglou commented on #46077
Deployed r226947-wpcom for hiding fields in Simple sites

[2021-06-08 18:43] wprhunt commented on #53431
Another one:
30037732-hc

Their logo was removed after saving a change. I had to add CSS for them to add the logo back.

[2021-06-08 18:48] louinel commented on #53517
User reported this here 4053599-zen-woothemes, theme Maisha

[2021-06-08 18:51] lizswafford commented on #53401
4607621-hc  Safari 14.0.2 | MacOS Big Sur 11.1

[2021-06-08 18:51] sajmes commented on #53517
Puzzle also seems to have the issue. User report here 28874358-hc.

I replicated on my Premium site.

[2021-06-08 19:01] dcoleonline commented on #53431
I had one with the Luxury theme at #28159019-hc.
I wasn't able to tell for sure if the cause was this issue or third party plugins/configuration/code they added.
For now I gave them a CSS workaround to show the image as the background for the logo link element. They already had a CSS plugin active, so I added it there instead of in the customizer.

Edit, sharing to the new issue here https://githu

[2021-06-08 19:10] hanananah commented on #53517
Another report: #4053721-zen
Theme: Blask

[2021-06-08 19:10] jackiejade commented on #53517
Another user report - theme Pique
30038172-hc
follow up ticket #4053828-zen

[2021-06-08 19:11] davipontesblog commented on #53444
I am going to skip triaging on this one and move it to Flow patrol directly to look into.

[2021-06-08 19:12] davipontesblog commented on #53506
Moving to Flow Patrol to triage.

[2021-06-08 19:13] dcoleonline commented on #53517
Luxury theme on #28159019-hc

I wasn't able to tell for sure if the cause was this issue or third party plugins/configuration/code they added.
For now I gave them a CSS workaround to show the image as the background for the logo link element. They already had a CSS plugin active, so I added it there instead of in the customizer.

[2021-06-08 19:14] davipontesblog commented on #53517
moving to Flow Patrol for triaging. This is affecting lots of sites.

[2021-06-08 19:16] deke207 commented on #53517
Another user affected: twenty fifteen theme
#4053729-zen

[2021-06-08 19:28] desnum commented on #53517
Another case at 410063-hc with the Cubic theme

[2021-06-08 19:32] xpurichan commented on #53517
Reported on the Rosalie theme in 29772888-hc.

[2021-06-08 19:36] jp-imagines commented on #53422
4050671-zen
Theme: Twenty Sixteen

[2021-06-08 19:39] kriskarkoski commented on #53401
29562191-hc Sarari 14.0

[2021-06-08 19:47] desnum commented on #53517
A case on the Blask theme: 29570427-hc

[2021-06-08 19:48] kcswong commented on #53517
Maisha, Atomic site, follow up in 4053766-zen

[2021-06-08 19:56] sourourn commented on #53431
Another report: #28746123-hc the logo will not show or update

[2021-06-08 19:57] madhattermattic commented on #53401
4046358-zen
Safari 3.1

[2021-06-08 19:57] Addison-Stavlo opened #53519 "Site Editor Tracking - Add events for convert/detach template part."
In the site editor, we need to add tracking events for when a user either:
* Converts the selected blocks into a Template Part
* Detaches blocks from their Template Part.

This can be found in the ellipsis menu for a selection of block(s) or a template part:
![Screen Shot 2021-06-08 at 3 40 00 PM](https://user-images.githubusercontent.com/28742426/121247116-dd05c500-c86f-11eb-95a1-7c46bb571b98.png

[2021-06-08 20:04] ersatzpenguin commented on #53517
Also occurring with Canard, follow up in 4053931-zen

[2021-06-08 20:12] kcswong commented on #53517
Atomic using Patch theme, follow up 4053957-zen. The theme demo is showing the same issue as well

[2021-06-08 20:13] kwight commented on #45317
@retnonindya I was able to force delete the problematic old home page – from what I can tell, it was a huge amount of content, which I guess was contributing to out-of-memory errors. It no longer shows up in WP Admin, and everything seems to be working well for that user.

[2021-06-08 20:24] desnum commented on #53517
A case with the Edin theme, 29570427-hc

[2021-06-08 20:28] jp-imagines commented on #53431
30039256-hc
User unable to update their site's menu.

[2021-06-08 20:31] JessBoctor commented on #53517
Another two user reports

29938050-HC
Theme: TwoTone
Follow up 4054014-Zen

23590218-HC
Theme: Arcane
Follow up: 4053962-Zen

[2021-06-08 20:35] kcswong commented on #53517
Sela is retired, but happening here as well, follow up in 4054017-zen

[2021-06-08 20:48] desnum commented on #53517
A case on the Aquene theme: 29570427-hc

[2021-06-08 20:58] desnum commented on #53517
A case on the Healthy Living theme: 29570427-hc

[2021-06-08 21:00] ChrissiePollock commented on #53517
Canard theme with this issue: 29532561-hc

[2021-06-08 21:03] nickpagz commented on #38807
I'm not sure this is related, but my gut says it is, so adding it here....

#4053173-zen
This user’s site shows as Atomic without a plan, but they upgraded to Biz in January. I AM seeing a Jetpack subscription though, `Managed by: Bluehost`. The domain was transferred in, but it’s pointing to the Atomic site. I am seeing in the subscription log….
[code]

Since the dates align with the transfer in,

[2021-06-08 21:05] sbathompson-he commented on #53517
Seems I got quite a few today. Here they are:
4053849-zd-woothemes - Melody
4053469-zd-woothemes - Twenty Sixteen / Happening on only 2 sites with that theme
4053446-zd-woothemes - Illustratr
4053376-zd-woothemes - Obsidian
4054003-zd-woothemes - Toujours

[2021-06-08 21:32] villanovachile commented on #53517
Another report: 4053955-zen
Atomic site using Twenty Fifteen

[2021-06-08 21:46] creativecoder commented on #53517
Note, an initial fix for this has been deployed in D62504-code. That should take care of the issue for Simple Sites. Users may need to re-save the logo in the Customizer before it will display.

[2021-06-08 21:47] dhackneya8c commented on #53431
Another report: 4053327-zen

[2021-06-08 21:48] villanovachile commented on #53517
@creativecoder My user's site is Atomic. Any idea when a fix may be incoming for Atomic users?

[2021-06-08 21:49] dhackneya8c commented on #53517
Simple site with Blask theme: 22951768-hc

[2021-06-08 21:52] scosgro commented on #51388
Another report in 30040279-hc. They had Yoast installed, which added new columns, and broke the Post Title column on smaller screen sizes.

Suggested manually removing columns using Screen Options.

[2021-06-08 22:02] glendaviesnz commented on #53474
We are already doing something similar with the sunsetted typekit fonts, ie. for users that had a typekit font selected they see some google font options in the list that other users do not see. There is a `'selected_fonts'` options setting which makes it easy to detect if a user already has a custom font selected.

The main thing to be aware of is that with the typekit project we decided not to u

[2021-06-08 22:29] JessBoctor commented on #53517
I have another report in 30040760-HC

Theme: Twotone
AT Site

Follow-up: 4054255-Zen

[2021-06-08 22:31] scosgro commented on #53517
Another report in 30040831-HC
Theme: Radiate
AT Site.

[2021-06-08 22:42] kcswong commented on #53431
Report and follow up in 4050997-zen

[2021-06-08 22:54] dhackneya8c commented on #53517
Report: 30041043-hc
Atomic site using Luxury theme

[2021-06-08 23:15] katiebethbrown commented on #53517
Another report in 5684053-hc (atomic site)

[2021-06-08 23:19] sourourn commented on #53517
Another report in #30039458-hc (atomic site).

[2021-06-08 23:25] sourourn commented on #53517
Another report in #28746123-hc (simple site)

[2021-06-08 23:41] onuro commented on #52792
Here's my take on it:

After some discussion with @ianstewart we thought creation of a support page about "theme switch homepage content" and adding the link in the modal would help avoid the long explanatory text in the modal.

**Figma file:** https://www.figma.com/file/QnkOH11BM3MoPFOFr2OTBC/Theme-Showcase-Revamp?node-id=80%3A1346

Let me know. Thanks!
![image](https://user-images.githubusercont

[2021-06-08 23:51] isocialtish commented on #53517
Report in #30041094-hc (atomic)
Follow-up #4054408-zen

[2021-06-09 00:02] ollierozdarz commented on #52792
This is looking great @onuro, @ianstewart! 🙂 It could also be worth trying an exploration with the `Learn more` in the bottom bar of the modal (grouped with the 'After activation...') instead of at the top.

[2021-06-09 00:14] onuro commented on #52792
Thank you @ollierozdarz! I was also skeptical about the position of the "**Learn more**" link. However the content on the left bottom bar only shows up if you choose to replace content, and having the support link there as well felt too much.

If only we could trim that bottom bar content even more, I also believe bottom bar could be a better place for the support page link.

Here's what I think o

[2021-06-09 00:32] ollierozdarz commented on #52792
Ah I see. That makes sense!

Sounds like you've got some solid backup options 🙂

[2021-06-09 00:37] donalirl commented on #53444
#22794413-hc

[2021-06-09 01:49] creativecoder commented on #53517
A fix for Atomic sites has been deployed as well in wpcomsh, about 2 hours ago.

The fixes are preliminary--we'll need to follow up with some additional work to address the root cause. I'll keep this open for now so we can watch for additional reports.

[2021-06-09 02:14] syedshaon commented on #53422
Another issue 4048520-zen
Theme: Twenty Sixteen

[2021-06-09 02:36] retnonindya commented on #53422
10608373-hc
Theme: Apostrophe 2

[2021-06-09 02:42] openfist opened #53529 "Pay with Paypal - add ability to add form block fields"
#### What

Request to add Form Block fields into the Pay with Paypal block for more flexibility.

Like:
- text field for custom requests
- fields for registration like name, email, phone, address, etc.

<img width="554" alt="Screenshot 2021-06-09 at 10 35 05" src="https://user-images.githubusercontent.com/11617249/121283879-771c4a80-c90e-11eb-9e64-6ecfffcbc6ae.png">

The block form part of this is

[2021-06-09 02:43] devNigel commented on #53422
Another report

17878446-hc
Theme: Twenty Eleven

[2021-06-09 02:54] retnonindya commented on #53422
1134659-hc
Theme: Twenty Sixteen

[2021-06-09 03:45] dcoleonline opened #53530 "WP-Admin: Mobile Preview Doesn't Stack Columns"
### Steps to reproduce the behavior

In my testing, this only happens when the site is on atomic OR when a simple site has the `Dashboard Appearance > Show wp-admin pages if available` setting is activated at https://wordpress.com/me/account

1. Create a new page
2. Add a columns block or a blog posts block with content in multiple columns. I used 4 columns in my test.
3. Click the Preview button

[2021-06-09 04:21] KokkieH commented on #42079
Had a request for this [via Twitter](https://twitter.com/radoncnotes/status/1402458826029162496)

[2021-06-09 05:02] marutim commented on #53403
Another user report here: 28733500-hc

[2021-06-09 05:49] retnonindya commented on #45317
@kwight THANK YOUUUUUUUUU! ✨  Thank you so much thank you thank you thank you!

[2021-06-09 05:53] cpapazoglou commented on #46077
Merged https://github.com/Automattic/jetpack/pull/20007, profile fields on Atomic WP-Admin will be hidden after the next jetpack release on July 6, 2021.

[2021-06-09 06:13] cpapazoglou commented on #53515
I suppose that we should do the same for Personal plans too?

[2021-06-09 06:38] vinnykaur commented on #51640
The same user @syds87 had, appeared on chat again. 30045653-hc
They got really anxious that it's taking too long to get this resolved.
Meanwhile is there a workaround that we can suggest to users?

[2021-06-09 06:46] fresatomica commented on #53401
Another report: https://wordpress.com/forums/topic/writing-posts-screen-is-now-black/

[2021-06-09 06:56] swoodipto commented on #53220
Just like @pauljacobson I have another user reporting that they see `Proceed in External Browser?" You have one or more plugins that prevent editing content within WordPress Desktop. Continue in an external browswer?` when trying to edit posts.

4045605-zen

As per a recent [Slack conversation](p1621332442002700/1619687868.010800-slack-C08GLCXMZ) the code has been merged but is under testing phase

[2021-06-09 07:10] p-jackson commented on #52936
I've created a spreadsheet where we can come up with the new copy. Going to subtly try and nudge the conversation to p2 since that's where the spreadsheet is linked from pd2qGl-7s-p2 :nudge:

[2021-06-09 07:14] vinnykaur commented on #53401
One more on Safari: 30046098-hc

[2021-06-09 07:26] ogodoabiola commented on #53401
Safari: 4050336-hc

[2021-06-09 07:31] daria2303 commented on #52209
Problem appears in the Desktop App too, clearing cache did not help, settings for homepage are the same in wp admin and customizer
4051894-zd-woothemes

[2021-06-09 07:40] rezzap commented on #53493
Not aware of any Jetpack connection issues as far as I can see, but I do see a few PHP errors in the logs going back to December that might be related here. One in particular with the `google-analytics-dashboard-for-wp` plugin.

I've opened a new report for this for Jetpack devs to take a look: 6693-gh-Automattic/jpop-issues since it's a single issue. Closing this here.

[2021-06-09 07:41] #53493 closed, assigned to nobody

[2021-06-09 08:03] rinazrina commented on #53401
Safari on Mac: 28271495-hc

[2021-06-09 08:03] Sandkorner commented on #53401
Safari: 29337590-HC
The same was happening on Ecosia browser.

[2021-06-09 08:04] Thelmachido commented on #53401
Safari on iPhone: 30043889-HC

[2021-06-09 08:04] syds87 commented on #53401
Safari 14 on Mac: 4052747-zen

[2021-06-09 08:06] simison commented on #53401
Tested Safari 12 with Independent publisher theme, on stand-alone WordPress with Gutenberg 10.7 — couldn't replicate. Copypasted hundreds of lines of text.

[2021-06-09 08:38] simison commented on #53401
Tested Safari 13 just like @AtrumGeost did in https://github.com/Automattic/wp-calypso/issues/53401#issuecomment-856913380 — I could replicate and I can see the issue:

- Safari 13 — considering we're seeing reports also with 14 I'm assuming that's also problematic but I didn't test it.
- Doesn't happen with themes that have a background color in the editor, such as TwentyTwentyOne and TwentyTwent

[2021-06-09 09:05] vinnykaur commented on #53401
One more: zd-4053318

[2021-06-09 09:12] jasmussen commented on #53401
I haven't been able to reproduce the precise issue, I'm seeing some more generalized flickering. I have a tentative fix in https://github.com/WordPress/gutenberg/pull/32538, but it's not a fix that I particularly like. I'm hoping it can help debug what the true issue is, or where it regressed.

I understand this is something that worked a version or two ago?

Edit: I was testing in Safari 14.1.1

[2021-06-09 09:45] niranjan-uma-shankar opened #53536 "Add graceful failures for remote login"
There are a few cases when remote login could fail:

* The back URL points to a disallowed host
* Token expired

... and so on.

Currently, we exit the code and the user sees a blank white screen. It could be useful to show some helpful messages here - like "Contact support", or redirect them to a fallback URL.

[2021-06-09 10:32] sophiegyo commented on #50917
I can reproduce this on a Simple site of my own, both in French and Swedish.

Screenshot of the Swedish on my Simple site:
<img width="1156" alt="Markup 2021-06-09 at 12 11 12" src="https://user-images.githubusercontent.com/36608681/121338705-0b41de00-c91e-11eb-85bd-9f0772194da9.png">

Additional reports: 4055174-zen and 3975188-zen

[2021-06-09 10:36] davipontesblog commented on #45317
Is this something that can be closed now? Seems to be an isolated event for now.

[2021-06-09 10:38] marutim commented on #53403
Another report here: 29868273-hc

[2021-06-09 10:52] simison commented on #53401
@jasmussen I tested now with Safari 14 on Browserstack and couldn't replicate, so might indeed be only Safari 13 issue.

0. Use Safari 13
1. Have a fresh WP site, e.g. use Jurassic.Ninja
2. Install Gutenberg
3. Activate TwentyNineteen theme
4. Copy-paste long text (e.g. https://pastebin.com/raw/D04Umuij)
5. You should see the issue

Here's with Safari 13:

https://user-images.githubusercontent.com

[2021-06-09 10:55] simison commented on #53401
Most Safari 14 reports seem to be with Safari 14.0, while we can't replicate with Safari 14.1.

[2021-06-09 11:26] fstath commented on #53100
I got another report on Twitter:
https://twitter.com/freedom_grace/status/1402306512723361798

[2021-06-09 11:36] TheSteveK commented on #53517
Another report (simple site) #4054004-zen

[2021-06-09 11:36] pauljacobson commented on #53422
We have another report in 12017961-hc with a follow-up in 4053927-zen

In this case, the missing captions are for Audio Blocks.

Theme: Apostrophe 2

[2021-06-09 11:41] fstath commented on #53422
Another case in the forums:
https://wordpress.com/forums/topic/cutlines-problem-disappearing-text/

Theme: Big Brother

[2021-06-09 11:58] TheSteveK commented on #53466
another report in #4044737-zd

[2021-06-09 12:08] carinapilar opened #53545 "New Onboarding: Missing starter pages and other issues"
### Steps to reproduce the behavior

1. With your account's interface set to English, create a new site
2. Go over the new onboarding flow
3. Finish the site creation, with a free address, and free plan
4. Check the Pages of your new site

#### What I expected to happen
To see the starter pages we used to have, Home, Blog, Contact, and About.

#### What actually happened
It seems that the starter

[2021-06-09 12:53] WunderBart opened #53546 "Invites: Accepting invitation doesn't redirect to posts page"
### Steps to reproduce the behavior

You'll need two accounts for this, and the second one shouldn't have any sites:
1. With first account, go to  Users / Add new
2. Add the second account as an editor to your site
3. Log out with the first account and accept the invitation with the second account
4. See that Calypso is still on the `You have no sites` page instead of the Posts page for the site y

[2021-06-09 12:55] tyxla commented on #53546
Hey @WunderBart I’m assuming that the second account must have no sites at the time of accepting the invitation, right?

[2021-06-09 12:56] WunderBart commented on #53546
Ah, right! I don't know what would happen if that second account has any other sites :/

[2021-06-09 13:06] carinapilar opened #53547 "Image Block: Missing Title Attribute"
### Steps to reproduce the behavior

1. Create a new page, add an Image block on it
2. Set an Alt, and Title directly on the image, from the media library

#### What I expected to happen
To see a pop up showing the image's title.

#### What actually happened
There's no title attribute on the image.

### Context

#### Screenshot

![TitleOnImageBlock](https://user-images.githubusercontent.com/161045

[2021-06-09 13:24] syds87 commented on #51640
Similar case reported on 4055322-zd

[2021-06-09 13:46] cpapazoglou commented on #36415
Since nav unification, both Simple & Atomic sites can edit this setting from **Settings -> Media** .

So, accessing it Via Calypso under Settings > General > Writing is duplication. In the spirit of removing duplicate settings / screens and keeping the source of truth (WP Admin), I would suggest removing this options from Atomic sites too.

[2021-06-09 13:50] kdevnel commented on #53422
Additional report: #21560276-hc
Follow-up: 4056034-zd-woothemes

[2021-06-09 14:23] #52893 closed, assigned to tjcafferkey

[2021-06-09 14:26] tyxla commented on #53546
Fix and explanation is in #53553. Thanks for reporting it @WunderBart!

[2021-06-09 14:41] desnum commented on #53422
A case at 10514393-hc

<img width="868" alt="white on white caption" src="https://user-images.githubusercontent.com/43796228/121376153-47ba0d80-c90f-11eb-9239-31a69e43325b.png">

[2021-06-09 14:45] kwight commented on #45317
I only fixed an individual user's semi-related problem – the OP issue remains (requesting huge amounts of page data can cause failing UI renders).

[2021-06-09 14:47] #51823 closed, assigned to pablinos

[2021-06-09 14:50] kwight commented on #52792
Sweet! Is the bottom bar content a pattern used anywhere else in Calypso? I don't think I've seen it before. Was there a reason to not have that content below the screenshots with the Learn More link (it would seem to better fit with existing patterns)?

Nice work 👍

[2021-06-09 15:07] mattwiebe commented on #41134
Props to @tyxla for cleaning this up in #53180

[2021-06-09 15:07] #41134 closed

[2021-06-09 15:11] tyxla commented on #41134
Actually, to be precise, passing the props to @jessie-ross for cleaning it up in #53083. 😉

[2021-06-09 15:23] ersatzpenguin commented on #53431
Another report of this—settings in the Customizer are saving (and are visible when returning to the customizer), but are not being applied to the site itself.

Follow up here: 4056281-zen

[2021-06-09 15:44] davipontesblog commented on #53431
@kwight I think we need to leave this issue open until the following is true:
- Existing sites are fixed
- Sites in both simple and atomic are fixed
So we know this is not an issue anymore for customers in general.
What options are we entertaining to this measure, at this time? Would restoring WordPress.com to a previous version of Gutenberg fix this in the contexts outlined above? Do we need anot

[2021-06-09 15:59] andres-blanco commented on #52837
@ianstewart I submitted a PR. There's a small detail: [the dark color scheme is only default if nav-unification is enabled](https://github.com/Automattic/wp-calypso/blob/trunk/client/me/account/main.jsx#L1093). I don't know if this is something that changes the plans for this issue or not.

[2021-06-09 16:09] brandonpayton opened #53555 "Hosting panel stuck "Activating Hosting Features" for reverted WoA sites"
### Steps to reproduce the behavior

1. Pick a simple test site with a business plan
2. Go to the hosting panel and activate hosting features
3. Once the site is transferred to Atomic infrastructure, revert it
4. Refresh the hosting panel

#### What I expected to happen

The hosting panel would show the option to Activate hosting features again

#### What actually happened

The hosting panel is st

[2021-06-09 16:44] Sandkorner commented on #53422
ZEN-4053563

A user had the same issue with Audio Blocks.

<img width="1248" alt="Screenshot 2021-06-09 at 15 53 05" src="https://user-images.githubusercontent.com/71094068/121395412-12d3a800-c95b-11eb-921a-52a6667c4076.png">

[2021-06-09 16:54] dcoleonline commented on #53422
#30054542-hc
Sundance theme

[2021-06-09 16:59] worldomonation opened #53556 "Playwright: minor clean up and housekeeping."
**Task Details**
A few things had been missed from previous code reviews that need to be addressed.

- [x] replace method name `login` with `logIn` to indicate action.
- [x] replace use of `assert.equals` with `assert.strictEqual`.
- [x] change selector used in `SidebarComponent` to restrict the how far it would match ([link](https://github.com/Automattic/wp-calypso/pull/53323#discussion_r64814986

[2021-06-09 17:03] kwight commented on #52792
The right preview should be simple, as it would be the same images used in signup, for example. The left preview may be more difficult – I assume we'll need some way of dynamically generating that image and serving it quickly (I don't know if that's something mShots does or not).

[2021-06-09 17:11] metabreakr commented on #53431
4052185-zen

[2021-06-09 17:14] worldomonation opened #53557 "Playwright: BaseContainer constructor to accept list of selectors to wait on"
**Task Details**
Currently, many of the page/components implemented for Playwright use the following pattern:

[code]

Look at refactoring the `BaseContainer`'s constructor to accept a list of selectors, so that the `async _init()` method can wait on multiple selectors.

[2021-06-09 17:28] nickpagz commented on #53444
Another report here #14771418-hc

[2021-06-09 17:52] allilevine commented on #51594
I've opened a patch to show a more accurate quota / limit on the Media page: D62589-code

Next step is to figure out how we change that quota when upgrading / downgrading plans.

[2021-06-09 17:58] jp-imagines commented on #53422
30056233-hc
Theme: Adventure

[2021-06-09 18:01] ianstewart opened #53558 "WP command line theme activate command using Headstart Fallbacks"
Stubbing out an issue for @kwight. cc @mreishus in case you've run into this too.

**What happened**

- I ran the theme activate command from the command line on my sandbox.

**What I saw**

- The headstart fallbacks on my homepage on a new page.
- My old homepage was in drafts.

**What I expected**

- My home page would be left alone like a “standard” theme switch.

[2021-06-09 18:19] ckmccoy2 commented on #53431
4054412-zen

[2021-06-09 19:03] #53383 closed, assigned to sixhours

[2021-06-09 19:04] katiebethbrown commented on #53401
Another report in 4042122-zd-woothemes
Chrome Version 67.0.3396.87

[2021-06-09 19:28] kwight commented on #52012
Fixed by @andres-blanco in D61935-code

[2021-06-09 19:28] #52012 closed, assigned to andres-blanco

[2021-06-09 19:30] onuro commented on #52792
Thank you @kwight! The positioning on that content was solely a design decision. I'll populate some options for repositioning the content and the Learn More button.

[2021-06-09 19:34] mikeicode commented on #53431
Simple site 4053784-zd-woothemes (needs to be notified when resolved)

[2021-06-09 19:35] Jaccuse commented on #53431
Another report from a Simple site: 23527050-hc

[2021-06-09 19:42] Jaccuse commented on #53424
Another report from a Simple site: 23527050-hc

[2021-06-09 20:00] jp-imagines commented on #53116
Another in 4048213-zen.
User is using Safari. I wasn't able to replicate in Chrome.

[2021-06-09 20:14] supernovia commented on #53401
We have [a report](https://wordpress.com/forums/topic/black-box-over-post/#post-3691074) for Safari version 13.1.3 -- and that was working well until this issue came up.

[2021-06-09 20:23] KirkwallDay commented on #53422
29830898-hc
Theme: TextBook

[2021-06-09 20:33] sotsoult opened #53563 "please help technical issue"
Suddenly my application made this error this blog is hidden and can not be activated.
samsung galaxy note 10 plus

[2021-06-09 20:37] onuro commented on #52792
We might need to work on the wording, but here's an iteration to it:

Homepage content will be changed wit demo content:
![image](https://user-images.githubusercontent.com/645713/121424360-ec713500-c979-11eb-9483-1f012caea1b6.png)

Homepage content is going to be preserved:
![image](https://user-images.githubusercontent.com/645713/121424470-0ad73080-c97a-11eb-9e8b-7a1dfc9d9280.png)

Now we don't h

[2021-06-09 21:02] helenaartmann commented on #53401
Another report in 4045820-HC for Chrome.

[2021-06-09 21:10] hacchism commented on #53401
Another report in 4047927-zen
Safari version 14.0 | MacOS Catalina 10.15.7

[2021-06-09 21:24] sirbrillig commented on #52473
I'm doing this first in the shopping-cart endpoint (297-gh-Automattic/payments-shilling) via D62586-code. Once that works, I'll make similar restrictions in calypso here.

[2021-06-09 21:34] ianstewart commented on #21075
With the complexity and our priorities I'm going to close this one as wontfix. We can open it up again if there are user reports.

[2021-06-09 21:34] #21075 closed

[2021-06-09 21:38] sirbrillig commented on #52473
Currently, this costs the user the full price of the monthly Premium plan. Do we want to maintain that behavior?

[2021-06-09 21:38] kwight commented on #52848
Our first version of this script and library have been merged via D62155-code.

[2021-06-09 21:38] #52848 closed, assigned to mreishus

[2021-06-09 22:31] kwight commented on #52792
Noice! @ianstewart any opinions on the Close cross and the checkmark? I thought I've seen existing `X`s in Calypso that are square-framed, but couldn't find anything, and I wonder if we need a wider design discussion if we add both to all modals across Calypso (or add them to just one, which seems odd too).

Side note, @onuro , we _do_ use that space to the left for a Delete text link sometimes, f

[2021-06-09 22:32] NoHopeRadio commented on #53401
Safari 13.1 on Mac OS X 10.13.6
#2297645-hc

[2021-06-09 23:00] bluefuton commented on #47875
Can't reproduce this one, so will close for now.

[2021-06-09 23:00] #47875 closed, assigned to nobody

[2021-06-09 23:55] worldomonation commented on #53556
Last point is being addressed in #53566. First two points are addressed by #53568.

[2021-06-09 23:58] worldomonation opened #53567 "Playwright: automatic transpiling"
**Task Details**
When developers try to run the tests, they often run into issues with the TypeScript code not being transpiled.

This is a friction and it's annoying for anyone not regularly developing in the `calypso-e2e` module.

Look into reducing the friction of this step so that anyone can run the test with one command.

**Related to**

[2021-06-10 01:31] DanielSmithMichigan commented on #53504
I'm still confused, but here's what I understand so far.

This is the basic HTML hierarchy:

[code]

The menu has these properties which mean that the content and menu are stacked on top of each other.
[code]

But why do we only see one at a time? We apply a "focus-sidebar" or "focus-content" class to one of the parent containers, to choose whether we see the menu or sidebar.

When focus-content i

[2021-06-10 02:48] jordesign commented on #52792
Pinging @donalirl in case it is decided we need to have a dedicated Support Doc for Theme Switching (mentioned above).

We've also got another open issue (https://github.com/Automattic/wp-calypso/issues/53174) in regard to closing the modal - will we cover that as part of this?

[2021-06-10 02:48] p-jackson commented on #53138
Shipped in D62160-code

[2021-06-10 02:48] #53138 closed, assigned to nobody

[2021-06-10 03:23] kaitohm commented on #53422
User will need a response once resolved: 4054709-zd-woothemes

[2021-06-10 03:57] KokkieH commented on #51060
This should be fixed now via https://github.com/Automattic/themes/issues/3593

[2021-06-10 03:57] #51060 closed, assigned to nobody

[2021-06-10 04:01] syedshaon commented on #53431
4052869-zen
Theme: Escutcheon

[2021-06-10 04:17] autumnfjeld commented on #52706
@deBhal  Can this be moved to done?
D62307-code solves the atomic issue. Does it also satisfy the check on achor.fm sites (as described in the issue description above)?

[2021-06-10 04:44] KokkieH commented on #53422
https://wordpress.com/forums/topic/missing-caption-option/
Theme: Twenty Ten

[2021-06-10 04:52] Robertght commented on #53401
Another case in 4046916-zen

Not sure if it's relevant, but adding the user's experience with it:

Safari 13.1.2

I spent 2+ hours last week trying to replicate this issue and had no luck.

[2021-06-10 05:47] KokkieH commented on #53431
Another: https://wordpress.com/forums/topic/theme-background-changed/

Their theme was changed automatically five days ago, and while they can switch back to the original theme, they can't save any changes.

[2021-06-10 06:46] kosiew commented on #53444
New report at #4057622-zen

Some test findings.

Reproduced on Gema theme.
Switching to TwentyTwenty fixes the issue.

[2021-06-10 07:27] jordesign opened #53574 "Sidebar: Main content column shifts offscreen between 660px and 780px"
### Steps to reproduce the behavior

1. Resize your browser to be between 660px and 780px wide
2. Visit a Calypso page like 'My Home' or Settings'
3. Click 'My Sites' to reveal the left Nav

#### What I expected to happen

Nav to slide in - and keep main content still visible

#### What actually happened

Content is shifted far to the right - so there is a large gap and the content is barely visib

[2021-06-10 07:34] jordesign commented on #53574
Looks like this CSS is the culprit:

[code]

Changing it to this fixes the display problem

[code]

[2021-06-10 07:35] jasmussen commented on #53401
I have a separate fix in https://github.com/WordPress/gutenberg/pull/32575.

Those of you who are able to reproduce this, can you please try and see if you can reproduce it with that patch applied? Here's a link that should let you test the branch directly: http://gutenberg.run/32575

[2021-06-10 07:37] jordesign commented on #53574
I'm seeing the above CSS in line 257 of /client/assets/stylesheets/_nav-unification.css

[2021-06-10 07:40] cpapazoglou commented on #53431
Initial discovery of the sites affected pa1C6h-10X-p2#comment-6664

Here is some draft code used for the research
D62614-code

[2021-06-10 07:41] mrsjaved opened #53575 "Infinite scroll not working at all on simple and atomic sites"
### Steps to reproduce the behavior

1. Make sure you have more than 9 posts.
2. Go to Settings -> General -> Writing
3. Enable the Infinite scroll under "Theme enhancements"
4. Now visit the posts page (either blog or home) and scroll down.
5. It only displays older posts button.

#### What I expected to happen

It should load more posts automatically at the end of the page scroll.

#### What act

[2021-06-10 07:41] openfist commented on #52205
#4055501-zd

this customer also request for this feature

[2021-06-10 07:55] ivan-ottinger commented on #53431
Another one: 4048687-zd-woothemes

The site's theme also switched from `Nikau` to `Pique` automatically.

[2021-06-10 08:13] donalirl commented on #52792
This would be a useful doc to create alright! I've opened an issue for it: 1125-gh-Automattic/en.support-docs-content

When would this be needed by?

[2021-06-10 08:17] tyxla commented on #53546
Alternative (and better) fix is here: #53576

[2021-06-10 08:38] simison commented on #52792
@onuro This is a total nit pick and feel free to ignore:

<img width="123" alt="Screenshot 2021-06-10 at 11 22 44" src="https://user-images.githubusercontent.com/87168/121490961-312eb780-c9de-11eb-88e0-79db90d8d7bb.png">

I would just use a core or Calypso component for this to stay consistent.

Here's from Gutenberg editor:

<img width="144" alt="Screenshot 2021-06-10 at 11 26 16" src="https://us

[2021-06-10 08:42] simison commented on #52792
@kwight Yup! You could check with team Ganon, or Luna (or Andrew & Ramon in View) for some technical examples and existing components and APIs that you can re-use. Those images in page templates & signup are dynamically generated from API, and screenshots come from mShots. I think you mostly have all the pieces around for this, and would need to combine them in a way that works as intended. Rememb

[2021-06-10 08:49] #53546 closed, assigned to tyxla

[2021-06-10 09:26] cpapazoglou commented on #53447
Related convo about restoring the affected sites `stylesheet` & `theme_mods_%`
p1623083655133000-slack-C020SHYRB24

[2021-06-10 09:32] aleone89 commented on #53431
Another one: zen-4047533

The theme in use in this instance is/was: Button 2.

[2021-06-10 09:45] KokkieH commented on #51111
Had a request for this [in Twitter](https://twitter.com/CarlAtteniese/status/1402907575880863750) (the person seems to think there used to be an option for this, but I don't recall ever seeing one in either Calypso or WP-Admin - I've always used the steps above whenever I want to download a file from the library)

[2021-06-10 09:58] zdenys commented on #43919
30068042-hc

[2021-06-10 10:08] tjcafferkey commented on #51593
It looks like this has since been fixed and is no longer reproducible.

[2021-06-10 10:15] tjcafferkey commented on #51593
I take that back

[2021-06-10 10:27] jasmussen commented on #53401
3rd time is a charm. I have relatively high confidence that https://github.com/WordPress/gutenberg/pull/32581 fixes this issue.

[2021-06-10 12:06] #52985 closed, assigned to donlair

[2021-06-10 12:19] poojashetty18 commented on #53422
30070019-hc
Theme: Twenty Sixteen

[2021-06-10 12:53] zdenys opened #53591 "Quote Block: Pasting on a new line doesn't work"
### Steps to reproduce the behavior

1. Add a [Quote Block](https://wordpress.com/support/wordpress-editor/blocks/quote-block/)
2. Type in some text
3. Press Enter/Return key to create a new line within the same block
4. Copy any text from another block, from outside WordPress.com, or the very text you just typed
5. Try pasting it on the new line within Quote Block

#### What I expected to happen

[2021-06-10 12:55] zdenys commented on #53591
Possibly the underlying issue could be related to how multiple lines are handled in the Quote Block which is happening here https://github.com/Automattic/wp-calypso/issues/47526

[2021-06-10 13:18] dcoleonline commented on #53422
#27704823-hc
Dyad 2

[2021-06-10 13:33] razvanpapadopol commented on #52590
Fixed by removing the Launch button in https://github.com/Automattic/wp-calypso/pull/53115

[2021-06-10 13:33] #52590 closed, assigned to nobody

[2021-06-10 14:05] JanaMW27 commented on #51441
Final design here: https://www.figma.com/file/JOrcjwreJTRNKKtd6HNYG1/Page-view-quick-switch?node-id=1821%3A289

[2021-06-10 14:30] DavidRothstein commented on #52473
Yes, I think so.  My understanding is that it adds the monthly term on top of the yearly term (e.g. if you buy an annual plan today and then immediately upgrade to a monthly plan, you'll wind up with a subscription that expires 13 months from today).  If so, then there's no discount and the user should be charged the full price.

[2021-06-10 14:35] davipontesblog commented on #50840
I have a user with this issue as well. See screenshot below:

![Screenshot_20210610-194320](https://user-images.githubusercontent.com/31009008/121544185-e877fe00-c9df-11eb-9b7f-924e595a2aba.png)

[2021-06-10 14:44] andres-blanco opened #53593 "Dashboard: Blank screen when opening sidebar on mobile"
### Steps to reproduce the behavior

1. Go mobile with inspector (it also happens in actual devices)
1. Navigate to https://wordpress.com/theme/twentytwentyone/[YOUR_SITE]
1. Press the WP icon

#### What I expected to happen
see the menu bar

#### What actually happened
blank screen

### Context
WordPress.com dashboard on /theme/[THEME]/[YOUR_SITE]

#### Browser / OS version
Tested on chrome mobil

[2021-06-10 14:50] fetenlakhal commented on #53422
#4057430-hc
Radcliffe2

[2021-06-10 15:33] liviopv opened #53595 "Using a File Block with a PDF makes the editor crash in Safari"
### Steps to reproduce the behavior

1. Add the File Block to a new post or page
2. Upload or select a PDF in the File Block
3. Open the post/page editor in Safari.

#### What I expected to happen

#### What actually happened

In Chrome/Firefox, the editor will render the PDF as an embed (which sounds not ideal, IMO). In Safari, the editor will not load and show a blank page.

Chrome:

![Screensho

[2021-06-10 15:49] DanielSmithMichigan commented on #53504
I think that our system of using translateX to move our windows off screen is causing the root issue. Translate is a relative property and we can't specify what we're translating relative to. When we have multiple things being translated it can get complicated. I prototyped a different version of our layout that might have fewer edge cases. But I don't know if this will provide any practical value

[2021-06-10 15:59] ahmadbaig1 commented on #53431
30036437-hc
A simple site that is not saving in the customizer. The logo will not show or update.

[2021-06-10 16:20] supernovia commented on #25115
Saw this on my own test site while troubleshooting another issue. Thanks @kriskarkoski  for pointing this out.

[2021-06-10 16:27] atomicfan12 commented on #53422
#4056410-zen
Nikau

[2021-06-10 16:50] DavidRothstein commented on #49043
I think "purchasing a new subscription" refers to a domain mapping subscription in this case (not a plan subscription) -- it's just generic text that is used for any product.  But this is definitely confusing, especially with domain mappings being free.

And (from p2MSmN-8vd-p2) it sounds like it can be confusing wording even when removing non-mapping products too, like plans, I guess because it's

[2021-06-10 16:59] kwight commented on #53287
Completed in https://github.com/Automattic/wp-calypso/pull/53417

[2021-06-10 16:59] #53287 closed, assigned to andres-blanco

[2021-06-10 17:02] NoHopeRadio commented on #53401
Safari 13.1 on Mac OS X 10.13.6
#30072597-hc

[2021-06-10 17:09] marianearchimbaud commented on #51388
Another report here: 26534922-hc
I asked them to use the Screen Options as well.

[2021-06-10 17:12] kriskarkoski commented on #53401
29535181-hc

[2021-06-10 17:13] onuro commented on #52792
Thank you @simison! I preferred rounded edges feel more friendly to users, and that's why I went with it. But for consistency sake, I updated that close button.

![image](https://user-images.githubusercontent.com/645713/121567875-bbe7d480-ca27-11eb-95b1-08d79388ab0e.png)

The styling of the radio-card was solely a design and a11y decision with also consistency in mind. I basically applied the simi

[2021-06-10 17:14] onuro commented on #52792
Latest status with updated close button:
![image](https://user-images.githubusercontent.com/645713/121568549-7c6db800-ca28-11eb-848c-634b52cf19b0.png)

[2021-06-10 17:21] DanielSmithMichigan opened #53599 "Themes: "Upload Theme" instead of "Install Theme""
We should use the wording "Upload Theme" instead of "Install Theme" for the button shown below.

<img src="https://user-images.githubusercontent.com/10274366/121567806-fd0ec300-c9ec-11eb-823e-5463ab9089b9.png" width="350">

### Why?

- It's more in line with Core.
- "install theme" is close in meaning to "activate theme" and users could get these two actions confused.
- "upload theme" is dissimila

[2021-06-10 17:32] AtrumGeost commented on #53431
Hi folks!

The user in 4045134-zd-woothemes is asking if we have an estimated time for a fix. They want to know if changing themes might help them fix the issue.

[2021-06-10 17:46] worldomonation opened #53601 "Playwright: implement Visit static method for BaseContainer"
**Task Details**
Current `AsyncBaseContainer` has a static `Visit` method.

It may be prudent for `BaseContainer` to also have one.

[2021-06-10 17:58] kriskarkoski opened #53602 "Pages: Unable to edit page set as Posts Page"
### Steps to reproduce the behavior

1. Go to/wp-admin/options-reading.php and set a page as your Posts page
2. Go to /wp-admin/edit.php?post_type=page
3. Note the only action is View and it's not possible to edit or quick edit it to change the slug or update the title

#### What I expected to happen

To be able to modify the slug for the page normally.

#### What actually happened

I could not ed

[2021-06-10 18:10] kriskarkoski commented on #53431
4059624-zd
Maywood theme
Unable to save title/tagline or get a menu to display.
Changing themes and back did not help before I realized it was this issue

[2021-06-10 18:13] KirkwallDay commented on #53401
Another one here: 21860461-hc
Specs:
Screen Resolution:
1440 x 900
Browser Size:
1324 x 785
User Agent:
Safari 14.0 on Mac OS X 10.14.6

[2021-06-10 18:14] TeniCola commented on #53401
Another case in 30075747-hc
Safari 13.1 on Mac OS X 10.13.6

[2021-06-10 18:22] tellisbethel commented on #51540
It looks like re-enabling Gravatar and then uploading the image fixed the issue for this user: 4047965-zd-woothemes

**Workaround Steps**
1. Log in to Gravatar with your WordPress.com account and then follow the prompts to re-enable Gravatar:  https://en.gravatar.com/site/login

2. Upload your WordPress.com profile picture again in your Account Settings

This doesn't explain how/why Gravatar was d

[2021-06-10 18:26] ianstewart opened #53604 "Sharing Buttons: Swap order of customization and display cards"
It can be difficult to customize display options for sharing buttons as the show/hide at the page/post level can be a bit buried. Future updates might combine the following cards with a more refined layout but here's a simple change we can make: we'll swap the card order.

**Before**

![image](https://user-images.githubusercontent.com/545779/121577565-42cc8b00-c9ef-11eb-90b1-8cd11e703ed2.png)

**A

[2021-06-10 18:28] ianstewart opened #53605 "Sharing Buttons: Hide by default on pages for new sites"
Sharing buttons are currently on by default on pages for new sites:

![image](https://user-images.githubusercontent.com/545779/121577842-9b9c2380-c9ef-11eb-850e-3714cc335338.png)

Default for all new pages on all new sites seems like an uncommon option for page creation.

**Task:**

Let's look at making sure the Headstart annotations running in signup/onboarding are turning this off by default.

[2021-06-10 19:48] sajmes commented on #53422
4056391-zd-woothemes Theme: Dara

I could not replicate in Chrome when checking user's post.

[2021-06-10 20:14] ersatzpenguin commented on #53401
Just mentioning 4045820-hc again because user has explicitly requested a follow up when there's a solution.

[2021-06-10 20:17] Gilmoursa opened #53609 "Editor: highlighting text in paragraph and heading block does not select the full text"
### Steps to reproduce the behavior
I was not able to reproduce the issue, but the user submitted a video:
https://d.pr/v/dras4x/BMAOyhYzsy

1. Create a new page or post
2. Write a sentence in a paragraph or heading block
3. Highlight the text with your mouse
4. Select Bold or Italic

#### What I expected to happen
Selected text becomes bold or italic

#### What actually happened
All but the first

[2021-06-10 20:21] dcoleonline commented on #53422
29062004-hc
Profile Theme

They couldn't see the captions under embedded YouTube videos.

[2021-06-10 22:02] dcoleonline commented on #53401
24127507-hc in Safari 14.0 Mac OS X 10.15.6

[2021-06-10 23:38] wpshellbelle opened #53613 "Some themes: Gallery widgets in sidebar are cut off"
### Steps to reproduce the behavior

1. Go to *My Site* → *Customize* → *Widgets* → *Sidebar* → *Add widget*
2. Select Gallery Widget → Add gallery to widget and set gallery to **Square Tiles**
3. find that the gallery is cut off

<img width="411" alt="Screen Shot 2021-06-10 at 4 33 29 PM" src="https://user-images.githubusercontent.com/77413972/121609871-a663b200-ca09-11eb-9fcd-ddf65f5e4c0f.png">

[2021-06-10 23:40] noteeth commented on #53401
Another case in 28325642-hc
follow up 4060244-zen
Safari 14.0.2 Mac OS X 11.1

[2021-06-10 23:45] jordesign commented on #53604
So.... this looked like a good kind of a task for me to see if I can figure out more about how Calypso works. Sorry if I've stepped on anyone's toes by diving in... But I have a PR that swaps the locations of the sections.... Super open to if I have done the right thing (either in code _or_ process).

PR in #53614

[2021-06-10 23:49] mrfoxtalbot opened #53615 "Newly registered .blog domains are not being set as primary domains automatically"
This issue seems to appear intermittently but users contact us very often confused because the domain they just registered with WordPress.com is still not showing.

Users expect that their new domain will replace the default/free domain, but this is not always happening automatically. I experienced it myself with the last domain I registered here, a couple of months ago, **peludets.org**.

While I

[2021-06-11 00:01] kaitohm commented on #53422
Another case where the title area on pages is white, so a user wasn't able to find exactly where to add the title in the editor. This is the same as what @wpericam mentioned above on https://github.com/Automattic/wp-calypso/issues/53422#issuecomment-855253680 , but is happening on theme Photos

Report: 30074714-hc
Follow-up: 4060320-zd-woothemes

[2021-06-11 00:45] jordesign commented on #53422
Another case in #30079927-hc with Independent Publisher 2

[2021-06-11 01:12] donalirl commented on #53401
Happening on Chrome 67 - #393908-hc

[2021-06-11 01:29] TambahBaikCom commented on #53431
Hi, I was offered to get help added the CSS from the back-end? (I don't know what to call it). So I provided the CSS code and a friendly Happiness Engineer helped me to put the code to the Additional CSS. Unfortunatelly the change was also failed to save. It seems the issue will not let people make change to the customizer even if it was done from the Happiness Engineer side. I think the short-ter

[2021-06-11 02:31] nagpai commented on #53422
Another case with Ixion - #16258878-hc

[2021-06-11 02:32] nagpai commented on #53422
Looks like this issue was closed by @scruffian  on Core
https://github.com/WordPress/gutenberg/issues/32470

Is this waiting to be merged here?

[2021-06-11 03:55] nagpai commented on #53431
#16258878-hc

Atomic site
Custom theme - Cakecious

Error persists even after changing themes
Shared WP admin option to change menu. Did not work

[2021-06-11 04:17] nagpai commented on #53422
Another one #16258878-hc
User on a retired theme though

[2021-06-11 04:38] formosattic commented on #51076
30081957-hc

User had attempted to create a local staging site, using All-in-One WP Migration, but it had lots of difference with the WoA version.

For users with multiple sites, suggesting getting another Business plan for each of them is a real hassle.

Related request tracked at 384-gh-Automattic/atomic

[2021-06-11 05:24] p-jackson opened #53617 "My Home has a number of accessibility issues"
My Home in Calypso has a number of accessibility issues. For some users this could make using My Home to setup up their site difficult (or worse).

I've listed some of the issues below. It's probably not exhaustive, I found these without spending much time looking.

- [x] Some links in Quicklinks aren't tab navigable or semantically marked up as buttons
  https://user-images.githubusercontent.com/

[2021-06-11 05:43] nagpai commented on #53401
#16258878-hc

User went away before giving exact Safari version.

[2021-06-11 06:07] zdenys commented on #53517
30067634-hc with Radcliffe 2 theme.

[2021-06-11 06:21] Robertght commented on #53422
Another case in 4047764-zen

[2021-06-11 07:19] jordesign commented on #53604
Just noting this will make the video currently shown on the Support Doc for this functionality out of date.

[2021-06-11 08:18] aleone89 commented on #53431
Another report: zen-4056504

obsidian theme in use.

[2021-06-11 08:28] MaxPhilip commented on #52182
Another report in 4059688-ZD

[2021-06-11 08:40] Aurorum commented on #53599
PR for this issue in #53622. :)

[2021-06-11 08:52] jsnajdr commented on #53599
@onuro @DanielSmithMichigan We used to call the button "Upload Theme" in the past, but then @jaclync changed it to "Install Theme" in #36136 in September 2019. The rationale was consistency with similar "install/upload plugin" actions in the Plugins section.

I don't disagree with changing it back, just wanted to share some prior art and context about this question.

[2021-06-11 08:52] sanjeev00733 commented on #53401
#5280483-hc
Follow up 4060910-zen

Browser: Safari 14

[2021-06-11 09:00] #22419 closed

[2021-06-11 09:27] hambai commented on #53615
We've recently identified an issue in the backend job that was setting domains as primary and fixed it in D62263-code so I think it's safe to mark this as solved. I also described how the job works in full details in P6Ya1B-SF-p2 - the TLDR is that we do try to set the domain as primary right away and then we do retry several times with increasing delays until ~2 days after.

[2021-06-11 09:27] formosattic commented on #53447
+1 4048860-zd-woothemes

[2021-06-11 09:40] #51589 closed, assigned to tjcafferkey

[2021-06-11 10:10] mmtr commented on #51342
I explored this and seems doable. Most of the settings that can be managed on "Jetpack > Settings", can be also managed on other Calypso screens as per the table below:

Jetpack screen | Calypso screen
--- | ---
Jetpack > Settings > Security | Settings > General > Security
Jetpack > Settings > Performance | Settings > General > Performance
Jetpack > Settings > Writing | Settings > General > Writin

[2021-06-11 10:13] carinapilar commented on #53100
Another one here: https://wordpress.com/pt/forums/topic/problems-with-my-blog/ - when the user tries to edit a post they're redirected to WP-Admin (even though it's not enabled on the account's settings). We aren't able to replicate on their account.

I also had this situation on my own account, when editing a post using Safari on an iPad, I'm redirected to WP-Admin, and nothing loads, it shows a

[2021-06-11 10:16] #36415 closed

[2021-06-11 10:17] syds87 commented on #50927
+1 Requested in another Quick Start session for the social menu.

[2021-06-11 11:04] aleone89 commented on #53431
Another report: hc-29825074

Shawburn theme in use.

[2021-06-11 11:09] davipontesblog commented on #53574
Shifting priorities as this may be affecting most (if not all) users using a tablet device.

[2021-06-11 11:10] davipontesblog commented on #53444
Shifting priorities as there has been a surge of new reports in the last few days.

[2021-06-11 11:10] davipontesblog commented on #53422
Shifting priorities as there has been a surge of new reports in the last few days.

[2021-06-11 11:10] scruffian commented on #53478
D62678-code

[2021-06-11 11:11] davipontesblog commented on #53517
Shifting priorities as there has been a surge of new reports in the last few days.

[2021-06-11 11:11] scruffian commented on #53478
https://github.com/Automattic/themes/pull/4045

[2021-06-11 11:36] davipontesblog commented on #53422
This is being tracked here: https://github.com/WordPress/gutenberg/issues/32470
The fix does not seem to be applied to simple and atomic sites yet, but when it does, it should fix all of the reported incidences here.

[2021-06-11 12:01] tellisbethel opened #53626 "Site Privacy: Coming Soon screen still hiding site although site is set to Public"
### Steps to reproduce the behavior

Not aware of how to reproduce this issue.

#### What I expected to happen
Expected site to be fully accessible to visitors because it was set to Public

#### What actually happened
Site was launched and the privacy setting was set to Public, but the Coming Soon screen was still blocking access

### Context
I encountered this in this chat: 30070505-hcv.
(Advised

[2021-06-11 12:04] scruffian commented on #53478
This has now been completed.

[2021-06-11 12:04] #53478 closed, assigned to jeffikus

[2021-06-11 12:06] carinapilar opened #53627 "Atomic: WebP support on GD module"
### What
Enable WebP support on GD PHP module.

### Why
For performance reasons, required to use this plugin: https://wordpress.org/plugins/webp-converter-for-media/

**Additional context**
Requested by user here: 30086905-hc
Also found this older request here: p9F6qB-5Oz-p2

[2021-06-11 12:20] jordesign commented on #53574
Thanks Davi!

[2021-06-11 13:23] razvanpapadopol commented on #52852
Username input field has been removed in #53509
Style improvements have been applied in #53549. @ollierozdarz could you double check them using https://wordpress.com/start?flags=signup/reskin before closing this issue?

[2021-06-11 14:15] bobmatyas commented on #53609
User contacted us again and reported that the same issue happens on Firefox. They provided us with a screenshot:

![image001](https://user-images.githubusercontent.com/45246438/121700414-e1172a00-ca9d-11eb-8ed2-19c75c538aef.png)

[2021-06-11 14:45] syds87 commented on #53444
Reported on #4010403-zen

Theme Radcliffe 2.

[2021-06-11 14:51] dcoleonline commented on #53401
29405855-hc
Follow up 4050149-zen

Safari (no version provided)

They asked to be notified once this is fixed.

[2021-06-11 14:55] mrsjaved commented on #53403
Another similar issue:
4061336-zd-woothemes

The theme customer is using is Gema and TextBook.

[2021-06-11 16:09] creativecoder commented on #53517
The sites mentioned in both 4054004-zen and 30067634-hc have the logo showing, when I checked them just now.

I'm going to close this issue, as it appears resolved. But feel free to reopen if you find that a Site logo that is set is not showing in the Customizer and/or on the front-end of the site so we can investigate.

[2021-06-11 16:29] Addison-Stavlo opened #53634 "Editor Stats - Poor fidelity with `blocks_replaced` property in block events."
The core data action `replaceInnerBlocks` is being tracked, and for each block being added via this action we trigger a block inserted event with the `blocks_replaced` property marked as `true`.  At first glance this seems reasonable, but `replaceInnerBlocks` is used in a handful of areas where there may not actually be any blocks to replace.

For example:
* Our Page Layout selector is using `repl

[2021-06-11 16:35] ClassicRKR27 commented on #53431
Another report here with Seedlet theme: 28812304-hc

Follow-up ticket is here: 4061821-zd-woothemes

[2021-06-11 16:42] sethmclellana8c opened #53635 "Encoded subject line for "New post" email alert"
### Steps to reproduce the behavior

1. Made a post on my wpcom blog and titled it including a few special characters `[ ] " ( ) :`
2. I've subscribed to my blog, alerting me via an email to any new posts on my blog
3. Subject line of email has a bizarre encoding of my new post's title (including underlines for spaces)

#### What I expected to happen

Format of title is exactly as I typed it in bl

[2021-06-11 16:55] Addison-Stavlo opened #53637 "Editor Stats - `from_template_selector` property for block events is always false."
When a pattern is inserted from the page layout selector, the `from_template_selector` property for the block inserted tracks events should be `true`.  However, this seems to be populated as `false`.  Looking at tracks in MC it looks like this has not been tracked a `true` since mid-march.

FYI @kurt213 since this looks like it has been busted for a couple months.

[2021-06-11 16:57] Addison-Stavlo commented on #53637
#53640 should fix this.

[2021-06-11 17:02] sirbrillig commented on #44188
If merged, https://github.com/Automattic/wp-calypso/pull/52890 will fix this.

[2021-06-11 17:02] sirbrillig commented on #48334
If merged, https://github.com/Automattic/wp-calypso/pull/52890 will fix this.

[2021-06-11 17:03] sirbrillig commented on #48892
If merged, https://github.com/Automattic/wp-calypso/pull/52890 will fix this (as we'll be able to remove the Popover cart).

[2021-06-11 17:03] sirbrillig commented on #49562
If merged, https://github.com/Automattic/wp-calypso/pull/52890 will fix this (as we'll be able to remove the Popover cart).

[2021-06-11 17:18] jp-imagines opened #53641 "Editor: Blog post embeds invisible in the editor"
### Steps to reproduce the behavior

1. Copy the URL for a published blog post
2. Create a new page or post on that site
3. Paste the blog post link into the editor or into an Embed block

#### What I expected to happen

Embedded blog post visible within the editor

#### What actually happened

"Invisible" embed block is created instead.

The embed appears correctly when previewing the post and on

[2021-06-11 18:07] vajrasar commented on #53422
Another case 4060987-zen

[2021-06-11 18:20] ezebecke commented on #53431
Another report here with Ixion theme: 30090916-hc

Follow-up ticket is here: 4061895-zd

[2021-06-11 18:21] supernovia commented on #53401
Checking in with [this user](https://wordpress.com/forums/topic/image-issues-14/#post-3691953) to see if @jasmussen 's fix did the trick! I'm going to have them clear cache for good measure.

[2021-06-11 18:23] jasmussen commented on #53401
I think (hope?) it will, but I'm afraid it won't work until the next Gutenberg plugin release. @simison may have a trick in his sleeve for .com.

[2021-06-11 18:25] supernovia commented on #53401
Oh! D'oh, I misunderstood. Thanks @jasmussen . 😅

[2021-06-11 18:26] jasmussen commented on #53401
Soon 🤞

[2021-06-11 19:05] ersatzpenguin commented on #44554
Hey all, this issue seems to have resurfaced somehow, and has been reported in 4060888-zen.

Site: https://chickadeesandcrickets.com/2021/06/11/pretty-nothing/
Reader: https://wordpress.com/read/feeds/118553430/posts/3387820865

@andrewserong Is there a chance recent updates have broken the fix you deployed?

[2021-06-11 19:09] xpurichan commented on #53401
Reported in 21738921-hc.

[2021-06-11 19:20] xpurichan commented on #53401
30061127-hc

[2021-06-11 19:33] KirkwallDay commented on #53422
Another instance here: 5556905-hc
Theme: Obsidian

[2021-06-11 19:48] xpurichan commented on #53422
Reported in 29312177-hc
Theme: Twenty Fourteen

[2021-06-11 19:56] worldomonation opened #53644 "Playwright: merge getScreenshotName and getVideoName in MediaHelper."
**Task Details**
These files do basically the same thing, so let's merge it and write tests.

**Related to**
#53513

[2021-06-11 20:10] jackiejade commented on #53401
29875015-hc

[2021-06-11 20:46] worldomonation commented on #48161
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-06-11 20:46] #48161 closed, assigned to nobody

[2021-06-11 21:11] lizswafford commented on #53431
4060267-zen  Rowling theme.

[2021-06-11 21:23] sajmes opened #53647 "Barnsbury: Cover block color overwritten when it matches custom color used in theme palette"
### Steps to reproduce the behavior

1. In customizer > colors and backgrounds, set 'link color' to a custom color (in this case #5b0727) and save
2. On any page add a new cover block and choose the color from step 1 as the background color for the cover block by using the color palette on the block or in the additional block settings (or adding custom color using same hex).
3. Preview the page or

[2021-06-11 21:42] lizswafford commented on #53609
Reported that this also happens on the WordPress app. They have Windows 10. Precision 7610 laptop.

[2021-06-11 22:30] carladoria commented on #51435
Another report in [30095532-hc ](30095532-hc)

[2021-06-11 23:21] annbingle commented on #53294
Same issue reported here 27150926-hc but I was able to fix it with Site Restoration.

[2021-06-12 00:05] supernovia commented on #53401
Another case to follow up on here:
https://wordpress.com/forums/topic/black-draft-page-except-photos-title/

Chrome, version unknown, but we'll update if we get more info.

[2021-06-12 02:46] kaitohm commented on #53431
Another case: 4051635-zd-woothemes

[2021-06-12 06:30] zdenys commented on #53233
This is needed. Also, on Atomic site users cannot choose to replace the homepage with the demo content (aka Homepage Updating) like it happens on Simple sites. Encountered the limitation in this chat 30099309-hc.

I haven't had a chance to test things out further yet, but I think it could be somehow related to https://github.com/Automattic/wp-calypso/issues/43877. As of now, on Atomic, we don't sh

[2021-06-12 13:26] rossanafmenezes commented on #53422
Another report 4062520-zen
Theme: Independent Publisher 2

[2021-06-12 14:53] rossanafmenezes commented on #53422
Report: 4063393-zen
Theme: Karuna

[2021-06-12 15:53] taggon commented on #53444
This bug is fixed by https://github.com/WordPress/gutenberg/pull/32477
For more details, check out my analysis. pd2HMz-T-p2

[2021-06-12 16:25] vajrasar commented on #53422
Another case here: 4063616-zen

Themes: Ryu and Independent Publisher 2

[2021-06-12 17:50] taggon commented on #53422
This seems to be caused by the same bug with https://github.com/Automattic/wp-calypso/issues/53444

[2021-06-12 18:39] the-misha commented on #53431
Another report: 4050480-zd-woothemes

[2021-06-12 21:49] AMcGrady commented on #53422
Reported here: 22206970-hc

Theme:
Ixion

[2021-06-12 21:58] nerdysandy commented on #53431
Gema theme #4044298-zd-woothemes

[2021-06-13 05:23] taggon commented on #52957
The related data has been updated so UK addresses are no longer allowed of `.fr` domains.
For more details, see pd2HMz-Y-p2

[2021-06-13 05:23] #52957 closed, assigned to taggon

[2021-06-13 07:44] sophiegyo commented on #53422
Noting another instance: 4064325-zen
Theme: Twenty Twelve

Edit 16 Jun 2021: Updated user to inform them of fix in #32477

[2021-06-13 08:14] retnonindya commented on #53444
I'm currently updating internal doc, and I able to replicate this issue.
Theme: Twenty Fifteen

I noticed a fix is underway. Thanks for the hard works, folks!

[2021-06-13 11:47] sourourn commented on #53431
Another report: #30116280-hc
AT site, health-center theme. Menu not saving or displaying.

[2021-06-13 11:52] kriskarkoski commented on #53422
4065088-zen
Theme: Twenty Eleven

[2021-06-13 13:07] kriskarkoski commented on #53401
4062744-zen

[2021-06-13 13:18] aisajib commented on #53444
Also reported in #4064321-zen using the Stow theme.

[2021-06-13 13:28] susanjanec commented on #49684
Another report on 4030839-zen

[2021-06-13 13:56] susanjanec commented on #53422
Another report: 4064745-zen
Theme: Kubrick (retired)

[2021-06-13 16:18] ersatzpenguin commented on #53220
Another report of this issue in 4062763-zen.

[2021-06-13 16:56] kathleenjross commented on #53422
Another report: 4065124-zen
Theme: Manifest (retired)

[2021-06-13 18:07] kathrynwp opened #53650 "Accordion Block options not working or missing"
The accordion block is missing several options normally found on blocks, and the Copy function does not work.

### Steps to reproduce the behavior

1. Add an Accordion block to a page or post
2. Click the three dots at the top right on the block toolbar and select "Copy"
3. Try to paste the block somewhere else on the page or post, or into a new page or post

#### What I expected to happen

The bl

[2021-06-13 18:23] happychait opened #53651 "Custom HTML block doesn't convert to blocks in the WordPress desktop app"
A customer reported Custom HTML block is not converting to blocks only in the Windows desktop app (Version 6.15.0) and provided the Windows log files:

[wpdesktop-2021-06-13T10.44.57.290.zip](https://github.com/Automattic/wp-calypso/files/6644412/wpdesktop-2021-06-13T10.44.57.290.zip)

#### What actually happened
_Convert to Blocks_ doesn't appear to be clickable although it is highlighted, and cl

[2021-06-13 18:41] kathleenjross commented on #53422
Another report: 4065307-zen
Theme: Nikau

[2021-06-13 19:27] kathrynwp commented on #53444
Ran into this in a Concierge Session with a user running Radcliffe 2 - 4065928-zen

[2021-06-13 19:45] kathrynwp commented on #53401
4051296-zen

[2021-06-13 19:52] Aurorum commented on #43978
I've used Calypso virtually everyday and not experienced this for several months, so I think it's safe to assume that this has been resolved now.

My guess would be that this was fixed by #44022 or #45929. In case this occurs again and someone finds this issue, just noting that it seems to have been a problem with this function.

https://github.com/Automattic/wp-calypso/blob/f9bd012961f28a49646139

[2021-06-13 19:52] #43978 closed

[2021-06-13 21:07] ChrissiePollock commented on #49043
This was also brought up in 23548141-hc.

[2021-06-13 22:39] DanAntion commented on #51787
I brought this issue to the attention of Support back in March. If it's any help, I'd like to share a few of the things that are happening:

- Some people have resubscribed to my blog (https://nofacilities.com) dozens of times and despite that, are still are not receiving notifications.
- Some people subscribe via the box under the comment box - which should cause them to get notifications - and t

[2021-06-13 22:42] formosattic commented on #53403
Closing this in favor of https://github.com/Automattic/wp-calypso/issues/53422

[2021-06-13 22:42] #53403 closed, assigned to nobody

[2021-06-13 23:08] hacchism commented on #53422
Another report: 4056410-zen
Theme: Nikau

[2021-06-13 23:21] roo2 commented on #47293
fixed in core here https://github.com/WordPress/gutenberg/commit/50cdfbeae59cf0fe91faa2183877b3b7fc60dd3e#diff-1a9996754d0946dc5f83e38ec6b5e6bc139ec4d16690ec8c9d4b5402175bc17b

[2021-06-13 23:21] #47293 closed

[2021-06-13 23:32] rinazrina commented on #53422
Another one: 12001147-hc
Theme: Small Business

[2021-06-13 23:38] roo2 commented on #52706
I feel like the anchor.fm thing will be working, I'm trying to work out what I was talking about when I created this card and test it now.

[2021-06-14 02:23] roo2 commented on #52706
The link for starting a wordpress.com blog from anchor.fm did not appear for me, but I was able to create a test site by copying testing instructions from here https://github.com/Automattic/wp-calypso/pull/48389

wordpress.com/new?anchor_podcast=5fa58048&anchor_episode=4e225062-9ead-fefb-a7b1-6a17dbf9e8d7

I updated the test site to be atomic and the "Edit the site menu" was still marked as comple

[2021-06-14 02:52] formosattic commented on #53613
+1 30123880-hc

Same issue with other theme: Publication, Apostrophe 2

The gallery looked ok when set to **Thumbnail Grid**, but issue also happens with other gallery types (Circles, Tiled Columns)

![image1](https://user-images.githubusercontent.com/15944096/121836833-d7442f80-cd06-11eb-9a82-bcdede53b254.png)

[2021-06-14 03:34] edwinho89 opened #53653 "Allow Changing Site Address under General Settings"
Please, be as descriptive as possible. Issues lacking detail, or for any other reason than to request a feature, may be closed without action.

What
To allow users to change default site address directly under "Settings > General" section - https://wordpress.com/settings/general/

Or at least, adding another quick button to [change site address](https://wordpress.com/support/changing-site-address/

[2021-06-14 03:41] autumnfjeld commented on #52706
@roo2 I'll. move this to done then!  😄

[2021-06-14 04:55] roo2 commented on #52706
@p-jackson made the point that D62307-code only handles operations on menu-items and not on the entire menu

Cases where "edit the site menu" should be marked as completed but currently isn't( and I believe, is on simple sites ):

#### changing a menu's name
`jetpack_sync_updated_nav_menu`  captures this case well ✅

#### adding a new empty menu
 `wp_create_nav_menu` event captures this case well

[2021-06-14 06:01] Agepeuve commented on #53401
4063503-zen

[2021-06-14 07:12] fresatomica commented on #53422
Another report: https://wordpress.com/forums/topic/general-20/
Theme: Mixfolio (retired)

[2021-06-14 07:57] KokkieH commented on #53401
https://wordpress.com/forums/topic/black-pages-on-edit/

[2021-06-14 07:58] #53459 closed, assigned to nobody

[2021-06-14 08:31] #53413 closed, assigned to david-szabo97

[2021-06-14 08:36] JanaMW27 commented on #51441
I do like the copy change overall But the copy in the CTA gets a bit long.
What do you think to put on the copy: USE WordPress.com VIEW ?

[2021-06-14 08:44] NekoJonez opened #53659 "Site Settings: secondary locales are not available."
I live in Belgium and when doing admin work for my site via the WP.com panel, I can only choose "Nederlands" -> Dutch which is nl_NL.

When I set the site language to nl_BE in my WordPress install, it shows "NL - Unsupported language" in wp.com

[2021-06-14 08:51] Robertght commented on #53422
Another in 4066143-zen

[2021-06-14 08:57] KokkieH commented on #53422
https://wordpress.com/forums/topic/missing-caption-space-in-image-block/

[2021-06-14 09:20] aleone89 commented on #53100
Another report here: 4048991

Safari 14.1.1 - Mac OS

[2021-06-14 09:33] MaxPhilip commented on #53100
Report here: 4066989-ZD

[2021-06-14 10:40] jeherve commented on #53659
Thanks for the report. I'll move this to the Calypso repository, where the WordPress.com dashboard is being built.

[2021-06-14 10:55] vishnugopal commented on #45076
Just a note that I'm not able to reproduce the error now:
![CleanShot 2021-06-14 at 16 24 54](https://user-images.githubusercontent.com/533/121881578-18e7d100-cd2d-11eb-90f3-15f4026a1421.png)

Trying to figure out what changed in between.

Edit: I tried to dig into which commit possibly fixed this issue, but commits from about the date of the report can no longer be built easily so I'm giving up h

[2021-06-14 11:13] jackiejade commented on #53422
4066177-zd-woothemes

[2021-06-14 11:39] #16015 closed

[2021-06-14 11:39] #38280 closed

[2021-06-14 11:39] #16016 closed

[2021-06-14 12:01] davipontesblog commented on #53444
Added the `[Status] Fix Inbound` label as this bug is already fixed in the Gutenberg core v10.8. When that is updated in WP.com, the issue will be fixed.

[2021-06-14 12:05] #53411 closed, assigned to david-szabo97

[2021-06-14 13:06] kathrynwp commented on #53401
4064819-zen / Safari 14.0 (14610.1.28.1.10)

[2021-06-14 13:18] razvanpapadopol commented on #47805
still relevant

[2021-06-14 13:38] fresatomica commented on #53422
Another report: https://wordpress.com/es/forums/topic/texto-debajo-de-imagenes/

[2021-06-14 13:43] philnick206 commented on #53422
Another report #6034782-hc

[2021-06-14 14:01] philnick206 commented on #53431
Another report #30027352-hc

[2021-06-14 14:18] niranjan-uma-shankar commented on #45905
That sounds like a nice solution to me.

Also noting that as per https://github.com/Automattic/wp-calypso/pull/52798#issuecomment-842315768, the current subdomain address is now displayed is on this page.

[2021-06-14 14:32] synora commented on #53199
I'm unable to replicate this on my own simple site but the suggested workaround (adding a poll directly in a poll block) was a great one!

[2021-06-14 14:32] #53199 closed, assigned to nobody

[2021-06-14 14:34] DanielSmithMichigan commented on #53504
@kwight

In the middle of last sprint [two issues came up in the same slack thread](p1623165103106600-slack-C0202PMUXLJ) and you pulled one of them into the sprint. That was [53506](https://github.com/Automattic/wp-calypso/issues/53506).

THIS issue, which is from the same slack thread, was never pulled into a sprint. 53506 was blocked for me at one point so I started looking into this issue.

Sin

[2021-06-14 14:42] #53466 closed, assigned to nobody

[2021-06-14 14:52] tyxla commented on #48406
Still worthy. Only used in the `SignupCart` nowadays, so should be an easy win.

[2021-06-14 15:01] synora commented on #53641
Tested. Can replicate on a simple site when a custom domain is set as the primary domain.

[2021-06-14 15:04] tellisbethel commented on #53466
Hi @mrfoxtalbot, you've followed the repro steps correctly. :) Thankfully, the issue is no longer happening for me either. I'll check with the user.

Thanks!

[2021-06-14 15:15] kriskarkoski opened #53670 "Me: Security settings unavailable with "unexpected error""
### Steps to reproduce the behavior

1. Go to 'https://wordpress.com/me/security' when unproxied
2. See `We're sorry, but an unexpected error has occurred` error

#### What I expected to happen

To be able to access security settings as I can when proxied

#### What actually happened

We're sorry, but an unexpected error has occurred error

### Context

User reported

#### Browser / OS version

Ch

[2021-06-14 15:18] obenland commented on #53670
@jsnajdr @Automattic/team-calypso Could this be related to #53658 or #53660?

[2021-06-14 15:18] julsyd commented on #53670
I am also getting this in my own WPcom account while proxied (was checking for another user who reported the same issue).

[2021-06-14 15:29] katiebethbrown commented on #53422
Another report: 15442910-hc

[2021-06-14 15:37] donlair commented on #52313
Is anybody else able to replicate this? The connection works fine when I test it.

[2021-06-14 15:40] mmtr commented on #36331
This was fixed by https://github.com/Automattic/wp-calypso/pull/51689

[2021-06-14 15:40] #36331 closed

[2021-06-14 15:43] tyxla commented on #53670
Looks like this might be caused by #53658. Haven't investigated, but at a first glance, it seems like it happens because we're attempting to throttle unexisting functions.

We might need to move the declarations that call `debounce` like `debouncedPasswordValidate` after the actual method that they debounce is defined. It's a bummer that JS classes don't quite work like PHP ones 😅

Trying that in

[2021-06-14 15:44] tyxla commented on #53670
Noting that `me/security/password` for example is dead in all environments, regardless of proxy. It dies with the same error, so it's likely that fixing that will fix the other error, too.

[2021-06-14 15:52] tyxla commented on #53670
This should have fixed the problem, I'm monitoring and will reopen if it doesn't fix it when it lands in production. We need roughly 15 minutes to get the new build to production.

[2021-06-14 15:56] synora commented on #53602
Thanks for filling this report. A few of us have encountered this before as well but didn't think about this being a bug. The workaround does work as expected.

p1621868117182600-slack-C03TY6J1A

[2021-06-14 15:58] kwight commented on #53504
@DanielSmithMichigan I'll pull this one into the column too, you can work on whatever you think is best!

[2021-06-14 16:04] tyxla commented on #53670
Confirmed that this resolved the problem. Feel free to ping me if you encounter this again.

[2021-06-14 16:11] dolgelukkig commented on #53431
Another one, simple site, theme Cyanotype #4067678-zd

[2021-06-14 16:12] kwight commented on #52792
Let's make sure we also consider mobile, and whether we can see as much as possible for the preview (there may be a hover affect for scroll, but larger previews could be useful anyways).

[2021-06-14 16:16] kwight commented on #52792
Fonts also need to be considered – global styles (Gutenberg) are not theme-specific, so they should be loaded in the left preview.

[2021-06-14 16:22] kwight commented on #52792
Guidance for prioritization:
* general color,
* correct content,
* accurate fonts.

[2021-06-14 16:26] kriskarkoski commented on #53670
The original issue is resolved by #53671 in that the page loads now, but new passwords cannot be saved.

[2021-06-14 16:28] kriskarkoski commented on #53670
![Screen Shot 2021-06-14 at 12 27 41 PM](https://user-images.githubusercontent.com/1900444/121926412-ef6a7d80-cd0b-11eb-9d25-f0502f2dceaa.png)

From @rfaile313:

[2021-06-14 16:30] kwight commented on #52792
Existing docs: https://wordpress.com/support/themes/#switch-themes

[2021-06-14 16:36] synora commented on #53575
I can replicate this as well. I seems like "Display # per page" setting in Content types is overriding Infinite Scroll(when enabled).

![Annotation on 2021-06-14 at 12-33-25 (1)](https://user-images.githubusercontent.com/10015451/121927368-f2b23900-cd0c-11eb-9393-cd5a2d39c2c6.png)

[2021-06-14 16:40] kwight commented on #53473
A reminder to add any Tracks events needed to determine how helpful this has been.

[2021-06-14 17:04] alshakero commented on #44091
This isn't reproducible anymore. It seems you can reset your password on the second tab without logging in, hence without disturbing the second account's session (session B).

Although, after you do reset your password you'll need to log-in, and when you try you'll see something like this, and you'll have to click "Login with another account":

![image](https://user-images.githubusercontent.com/17

[2021-06-14 17:26] simison commented on #53401
@fullofcaffeine @WunderBart know all the tricks. 😄 This would make sense to hotpatch if possible so that we don't need to wait for 10.9 [with the PR](https://github.com/WordPress/gutenberg/pull/32581).

[2021-06-14 17:32] metabreakr commented on #53431
30095515-hc / 4068184-zn

[2021-06-14 17:33] synora commented on #53609
@Gilmoursa, @bobmatyas, and @lizswafford I'm unable to replicate this using Twenty Twenty One. Do we know which theme was active at the time of the report?

[2021-06-14 17:47] kwight commented on #53431
@cpapazoglou Just curious what stage this is at – are the additional reports indicating that the initial cause is still active, or are you at the "attempt to backfill" stage?

[2021-06-14 17:50] sbathompson-he commented on #53431
This occurred here: 30137706-hc

[2021-06-14 17:55] blackjackkent opened #53674 "Themes: Generate dynamic preview of both options in theme switch modal."
This covers the back-end work necessary for https://github.com/Automattic/wp-calypso/issues/52792.

We need to be able to embed dynamic previews of both options used in the theme switch modal: keeping the user's existing homepage content with the new theme, or switching to the theme's default homepage content.

@simison notes in [this comment](https://github.com/Automattic/wp-calypso/issues/52792#

[2021-06-14 17:59] blackjackkent opened #53675 "Themes: Update theme switch modal design to include visual previews"
This issue will cover the front-end work necessary to implement changes described in https://github.com/Automattic/wp-calypso/issues/52792, updating the theme switch modal to a more visually clear design.

![image](https://user-images.githubusercontent.com/13437011/121937281-22af0b80-cd10-11eb-9f03-bc8a5a274d79.png)

For a first-pass implementation, we'll focus on an implementation making use of e

[2021-06-14 18:16] ianstewart commented on #53599
@DanielSmithMichigan looks like core uses "upload" for plugins as well.

![image](https://user-images.githubusercontent.com/545779/121939312-833f4800-cd12-11eb-95d2-cacce2213b9a.png)

Whereas we use install for plugins in Calypso.

![image](https://user-images.githubusercontent.com/545779/121939382-97834500-cd12-11eb-918a-9cef93cfe55b.png)

When we close this issue we should create a new one to us

[2021-06-14 18:17] ianstewart commented on #53599
We should take a look at where "install" appears as the verb in further screens like this eligibility warning that uses "install" in the headercake menu and the eligibility warning itself.

![image](https://user-images.githubusercontent.com/545779/121939678-e0d39480-cd12-11eb-9513-4644df5b7d9b.png)

[2021-06-14 19:20] ockham commented on #53401
We can also do a GB 10.8.1 point release if needed. Maybe @WunderBart and @fullofcaffeine can coordinate with the Gutenberg team, ideally we'd also include any other urgently needed fixes (if any).

[2021-06-14 19:32] bobmatyas commented on #53609
@synora Based on the Blog RC they are using the theme "textbook". This was the theme active when I spoke with them in support.

[2021-06-14 19:42] chad1008 commented on #53102
I'm actually able to reproduce this in Chrome now as well. Reported in 23817087-hc.

Same symptoms, no images, 403s in the console.

Changing the primary domain resolves it, at least temporarily.

Works fine in Firefox, so I'm wondering if there's something new in Chrome?

My Chrome version: 91.0.4472.101 (Official Build) (x86_64)

Relates slack convos:
- p1623698215168200-slack-C01V2160U15
- p162

[2021-06-14 19:42] kwight commented on #52792
Noting that there's another related concern for this modal, which is when the user is switching from a retired theme – we don't let them know that they might not be able to get their old theme back if they switch. In fact, @Aurorum has been working on https://github.com/Automattic/wp-calypso/pull/40793 that merged this modal with a new modal for just that purpose.

We'll need to keep focussed on i

[2021-06-14 19:50] tyxla commented on #53670
Original PR that caused the regression was reverted in #53673. I think this is good to close now?

[2021-06-14 19:52] kwight commented on #53599
I don't have a strong feeling either way, but I do feel odd about introducing a new inconsistency with the plugin screens language (particularly when we've already "fixed" it once, as @jsnajdr pointed out). I'd prefer we drop this with no action, but I'm happy to leave the final decision to you @ianstewart .

[2021-06-14 19:52] kathleenjross commented on #53422
Another report: 30139843-hc
Theme: Canard

[2021-06-14 20:00] metabreakr commented on #53159
User is 4063760-zen is having this issues with two posts, neither of what have a slideshow block as noted in https://github.com/Automattic/jetpack/issues/19922

Reopening issue.

[2021-06-14 20:10] kriskarkoski commented on #53670
I think so @tyxla following the revert. Closing now.

[2021-06-14 20:10] #53670 closed, assigned to tyxla

[2021-06-14 20:30] kwight commented on #53575
Hm, I'm unable to reproduce this myself on a Simple site.

[2021-06-14 21:00] apeatling commented on #35455
Can't reproduce this, we've done a lot of work on it recently. Closing unless someone can reproduce.

[2021-06-14 21:00] #35455 closed

[2021-06-14 21:01] NoHopeRadio opened #53677 "Attempt Block Recovery showing when it isn't needed: Safari Specific"
### Steps to reproduce the behavior

For some users, opening the editor in Safari, all they see are the Attempt Block Recovery blocks. Switching to Chrome seemed to fix the issue. I am not sure what else was specific about the site I saw this on.

### Context

Chat with user. Simple site. Dyad 2 theme. Page had been newly created, not with legacy content.

#### Browser / OS version

Safari 14.1 on

[2021-06-14 21:01] ianstewart commented on #53599
Yeah, agreed. Though I'll note there's an additional baked-in inconsistency. After going Atomic the "install" button turns into an "upload" button. That said, after looking at the eligibility warnings, and noting it's not a bug, I think we should correct it everywhere. Going to move this one to "Icebox" as it's not a bug and suggest that we cover all the cases in the flows at once.

[2021-06-14 21:09] apeatling commented on #52701
This is on the radar as part of a future effort on this block, but it will not be in the short term.

[2021-06-14 21:10] apeatling commented on #45342
This is on the radar as part of a future effort on this block, but it will not be in the short term.

[2021-06-14 21:14] ianstewart commented on #52837
Are there sites that don't or won't have nav unification enabled?

[2021-06-14 21:16] sajmes commented on #53422
Another report here: 30140831-hc

[2021-06-14 21:37] sirbrillig opened #53679 "Checkout: "Fax" field required, but not displayed for .nl domain names"
#### Steps to reproduce:

1. Visit checkout with a domain registration product (any TLD) and a `.nl` domain mapping product in the cart.
2. Enter contact information for a Netherlands address (eg: `Markweg Zuid 6`, `4794 SN`, `Heijningen`)
3. Click "Continue" to validate the contact information step.

#### What I expected:

To continue with checkout.

#### What happened instead:

I got an error th

[2021-06-14 22:00] sirbrillig commented on #53679
Original report: pNPgK-5tM-p2

[2021-06-14 22:02] tanjoymor opened #53680 "Pages missing from Pages list"
While this is a site specific issue, it's a very unusual one that @kriskarkoski felt was best reported here.

### Steps to reproduce the behavior

1. Go to Pages: https://wordpress.com/pages/paulmdooley.com
2. Homepage is missing (20 pages display but the count shows 21)
3. Search for Home and it will appear: https://d.pr/i/WvcNSH
4. Turning on the WP Admin Advanced pages under Dashboard Appearanc

[2021-06-14 22:03] mreishus commented on #52792
Not all of them are; for example 2021 isn't, it's a png sitting in the wp-content directory.
![2021-06-14_16-53](https://user-images.githubusercontent.com/937354/121964350-0bcce100-cd31-11eb-9b35-8cb2e6c4ccfb.png)

The API behind the dynamically generated urls like this: [/v1/template/demo/barnsbury/barnsbury](https://public-api.wordpress.com/rest/v1/template/demo/barnsbury/barnsbury?font_headings

[2021-06-14 22:06] sirbrillig commented on #53679
Leaving aside for the moment that the validation is doing the wrong thing (requiring a fax number for a domain _mapping_, which I'm sure is happening because there's also a domain registration in the cart), it seems to me that the intent of the contact form is in fact to display the fax field:

https://github.com/Automattic/wp-calypso/blob/34ead4d9acd36afd2b75ab3db0f9b1eaaf29106d/client/my-sites/d

[2021-06-14 22:16] roo2 commented on #52706
@deBhal has a diff to handle the other cases, I'll move this back to in progress for now D62739-code

[2021-06-14 22:22] joweber123 commented on #53422
Another report here 7061966-hc
Theme - Independent Publisher 2

[2021-06-14 22:32] mreishus commented on #53674
* Currently, the API behind URLs [/v1/template/demo/barnsbury/barnsbury](https://public-api.wordpress.com/rest/v1/template/demo/barnsbury/barnsbury?font_headings=Open%20Sans&font_base=Chivo&site_title=Barnsbury&viewport_height=700&language=en&use_screenshot_overrides=true) doesn't look that promising. It has some restrictions about what themes can be used that I go into detail [in this comment](ht

[2021-06-14 22:49] DustyReagan opened #53681 "Gallery Block: The image title does not display in the carousel lightbox on Simple sites."
### Steps to reproduce the behavior

1. Go to https://galleryerror.wordpress.com/gallery-error/
2. Click on an image in the photo gallery.
3. Two JavaScript errors occurs: "Uncaught TypeError: can't access property "el", previous is undefined"
4. The "Title" of the media image is not displayed.

#### What I expected to happen
When a gallery image is clicked, the carousel lightbox should open and t

[2021-06-14 22:57] isocialtish commented on #53422
Another report 4053012-hc
Sent them a follow up email: 4068783-zen

[2021-06-14 23:20] supernovia commented on #45343
The droplr links aren't working currently, but FWIW I would expect to find multi paragraph alignment options here:
![Screen Shot 2021-06-14 at 5 14 54 PM](https://user-images.githubusercontent.com/3476361/121970723-6451ad80-cd34-11eb-8ad9-a02f43e942db.png)

Also I understand [justify was removed from .org for readability](https://make.wordpress.org/core/2016/10/28/editor-changes-in-4-7/); perhaps

[2021-06-15 00:28] Christopher-Stevers commented on #53003
@kelliepeterson just wondering how you are doing on this issue. I'd like to pick it up as my first issue.

[2021-06-15 02:05] andrewserong commented on #44554
Thanks for reporting @ersatzpenguin! I couldn't replicate the issue, but I added more context in p1623722588204700-slack-CS0SC36SX

[2021-06-15 02:09] roo2 commented on #53202
hmm it seems that the checklist is just not available for woocommerce users becasue they have a very different woocommerce store setup process. Instead of a checklist, they see a "finish store setup" CTA
<img width="1062" alt="Screen Shot 2021-06-15 at 1 18 13 PM" src="https://user-images.githubusercontent.com/22446385/121979466-5bb5b180-cdde-11eb-9596-478576074320.png">

If the user completes the

[2021-06-15 02:11] roo2 commented on #53202
I think that a solution to this would be to tweak the conditions for the "Finish store setup" CTA so that it stays around until the entire setup is finished.

[2021-06-15 02:29] roo2 opened #53686 ""Finish store setup" CTA is hidden before the store setup is complete (ecommerce sites)"
Came out of this investigation https://github.com/Automattic/wp-calypso/issues/53202

Ecommerce sites do not use the normal onboarding checklist, but instead have a call to action to remind users to complete their store setup.

<img width="500" alt="Screen Shot 2021-06-15 at 1 18 13 PM" src="https://user-images.githubusercontent.com/22446385/121983567-a555ca80-cde5-11eb-916c-ab7930d097ec.png">

Th

[2021-06-15 02:30] roo2 commented on #53202
closing in favor of https://github.com/Automattic/wp-calypso/issues/53686

[2021-06-15 02:30] #53202 closed, assigned to roo2

[2021-06-15 02:46] formosattic opened #53687 "WordPress.com profile changes – admin_email not updated"
In https://github.com/Automattic/wp-calypso/issues/46077 a fix was done to sync profile details, but `admin_email` was omitted, would it be possible to sync that as well?
More details in this convo p1623717645035300/1623717168.033400-slack-C03TY6J1A

![image1](https://user-images.githubusercontent.com/15944096/121984903-63695c00-cdc6-11eb-86f5-be583ce2ebb0.png)

cc @cpapazoglou

[2021-06-15 03:14] katiebethbrown opened #53688 "Post Notification Emails - Garbled subject Lines Starting with =??Q?"
Post notification emails from Atomic sites are sent with a garbled subject line when the post title contains special characters.

We are also seeing this on at least one language even when the title does not contain special characters.

#### What I expected

For the post notification subject line to be properly formatted

#### What happened instead

The subject line is garbled, referencing UTF-8 c

[2021-06-15 03:15] katiebethbrown commented on #53688
We had a previous report where the post title contained an en dash that caused a similar issue as well in p9F6qB-6rA-p2.

[2021-06-15 03:24] autumnfjeld commented on #53617
We can consider this an umbrella issues and we'll break these down into separate Issues or PRs as we have the bandwidth.

[2021-06-15 03:29] autumnfjeld commented on #53236
Related discussion in pd2qGl-7u-p2

[2021-06-15 03:38] goblinartificer commented on #53401
4066266-zen as well

[2021-06-15 03:39] inaikem commented on #53422
Another report 21560276-hc
Follow up ticket here: 4056034-zen

[2021-06-15 03:47] bluefuton opened #53689 "Search: enable Jetpack Search section in Jetpack Cloud"
**Task Details**
Add the 'Search' menu item to Jetpack Cloud at `/jetpack-search`. This section will show the same information as Jetpack > Search in Calypso blue.

![image](https://user-images.githubusercontent.com/17325/121989901-ff0fc200-cdf0-11eb-9542-819071e43696.png)

Todo:
- [x] Handle the different way that search is toggled for Jetpack sites (module enabled/disabled)
- [x]  Fix 'flash of

[2021-06-15 03:47] deBhal commented on #53236
The checklist is using the function `getEditorUrl()` ([here](https://github.com/Automattic/wp-calypso/blob/trunk/client/state/selectors/get-editor-url.js)) , via `getFrontPageEditorUrl()` in [client/state/selectors/get-checklist-task-urls.js](https://github.com/Automattic/wp-calypso/blob/c9dfd6ad21f9267f97077fb54652b63ab6a757d8/client/state/selectors/get-checklist-task-urls.js#L49).

Those utility

[2021-06-15 03:47] #53236 closed, assigned to nobody

[2021-06-15 03:48] adelineyaw commented on #53100
Another report here: 30141288-hc / 4069176-zen

[2021-06-15 03:48] edwinho89 commented on #52154
29233513-hc

Chrome 91.0 on Windows 10.0.0

User was trying to upload .m4v video on editor.

Uploading directly on media library works as expected.

[2021-06-15 03:54] #50246 closed, assigned to nobody

[2021-06-15 04:03] jeyip commented on #51200
We had to revert D62074-code with D62268-code because of breaking changes with the wp import large file parser.

[2021-06-15 04:15] #45629 closed

[2021-06-15 05:17] syedshaon commented on #53422
Another issue 4061404-zen
Theme: Nishita

[2021-06-15 05:28] p-jackson commented on #53178
Far as I can tell all the work for this is also done in #53141 (there's nothing special in post-signup that needs doing)

[2021-06-15 06:01] nagpai commented on #53626
I can confirm this commonly happening on Atomic sites, and get about one or two cases every two days.

Recent one - #29879379-hc

Solution for now:
Toggling the site back to Coming soon, and then making it Public fixes it.

[2021-06-15 06:16] cpapazoglou commented on #53431
- The initial cause is not active for blogs having Gutenberg 10.7.4, just tested it in both Simple & Atomic sites.
- We are on an attempt to mass fix the affected sites
pMz3w-dg9-p2_mods_stylesheet-option-values-in-wpcom-for-a-list-of-blog_ids/
D62614-code

[2021-06-15 06:23] hacchism commented on #53422
Another report in Japanese forum:
https://wordpress.com/ja/forums/topic/%E3%82%AD%E3%83%A3%E3%83%97%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%8C%E8%A6%8B%E3%81%88%E3%81%AA%E3%81%84

[2021-06-15 06:32] fresatomica commented on #53422
Another one: https://wordpress.com/forums/topic/picture-caption/
Theme: Twenty Sixteen.

[2021-06-15 07:51] #53677 closed, assigned to nobody

[2021-06-15 08:02] Nic-Sevic opened #53693 "Traveler: font color in editor not consistent"
### Steps to reproduce the behavior

1. Activate Traveler theme
2. create a page/post with paragraph blocks
3. try changing the block color via the sidebar color control
4. try changing individual text with the toolbar color control

#### What I expected to happen
the sidebar and toolbar colors should sync or should clear each others settings
the last color selection should always appear in the ed

[2021-06-15 08:04] cpapazoglou commented on #53687
https://github.com/Automattic/wp-calypso/issues/46077 was about syncing profile changes that should be common across all user's blogs. `admin_email` is site specific.

It seems that it appears only on Atomic site currently (`/wp-admin/options-general.php`) which worths some investigation.

Probably we can:
- EITHER add the setting here `https://wordpress.com/settings/general/` and then sync it to

[2021-06-15 08:22] edwinho89 opened #53695 "Blog Post Block: Allow Displaying Tags from Post Meta Settings"
What
The current blog post block allows displaying date, author and category from "Post Meta Settings", however does not display tags.

Why
It'd be a nice addition to include displaying tags as well.

![image](https://user-images.githubusercontent.com/34882260/122018447-73e4fb00-cdf5-11eb-8653-a399b4be3aa4.png)

**Additional context**
Initially reported on 29689754-hc

[2021-06-15 09:07] jordesign commented on #53172
Just noting that if we could somehow know a user was blogging - then writing their first post is a *far* more useful checklist item than 'Update your Homepage'.

[2021-06-15 09:31] tyxla commented on #26621
After looking at how `lib/user` consumes and needs local storage, I think we'll end up needing `store` more or less for some edge cases. We could refactor to use cookies of course, but I'm not sure it's a worthy improvement.

[2021-06-15 09:48] #53378 closed, assigned to StefanNieuwenhuis

[2021-06-15 10:53] CoachBirgit commented on #53431
simple site (personal plan) | Rivington theme → user can't save menu position settings | zen-4068021

[2021-06-15 11:06] aneeshd16 opened #53698 "Login to private/un-launched sites on custom domain does not work on a slow network"
### Steps to reproduce the behavior
1. Open a new incognito window with third-party cookies disabled.
1. Go to https://wordpress.com and log in.
2. In a new tab go to a private/un-launched site.
3. Open dev tools and set network throttling to "Slow 3G" or similar.
3. Click on the log in CTA and quickly hit the "Continue" button as soon as you see it.

#### What I expected to happen
I should have b

[2021-06-15 11:29] simison commented on #52792
@mreishus sorry for not being more specific — I referred to these two interfaces, not the theme showcase —

- Go to `wordpress.com/new` and progress until design step ([see code](https://github.com/Automattic/wp-calypso/blob/1fb3c8e71c52568a41afad184dddb7bc803ff581/packages/design-picker/src/utils/available-designs.ts#L27-L43)):

    <img width="1499" alt="image" src="https://user-images.githubuse

[2021-06-15 12:20] daria2303 commented on #50917
Another report: 4066813-zd-woothemes

[2021-06-15 12:21] ivan-ottinger commented on #53681
Another report in 4069706-zd-woothemes

A few observations:

- It doesn't seem to be specific to Gallery block only. I could reproduce the issue with Tiled Gallery block as well for example.
- The issue seems to be present only when there are _exactly two_ images in the block. I couldn't reproduce the issue when there was only one or more than two images in the block.

Possible workaround: Suggest

[2021-06-15 14:04] #53504 closed, assigned to nobody

[2021-06-15 14:04] #53506 closed, assigned to andres-blanco

[2021-06-15 14:18] tjcafferkey commented on #51096
Lets see if we can get a list of all views that need to be made 100% width so we don't fall into the same problems the previous PR did with some assumptions and understand the scope more.

cc: @JanaMW27

[2021-06-15 14:19] mikeicode commented on #53401
Safari 13.1 on Mac OS X 10.13.6 28872045-hc

[2021-06-15 14:29] taggon commented on #48418
@donlair Could you take a look at this issue? Feel free to ping me when you need help. 😄

[2021-06-15 14:33] rickmgithub commented on #53401
4068933-zd

[2021-06-15 14:38] simison commented on #50394
I'll close this due to launch button not being in editor at the time being.

[2021-06-15 14:38] #50394 closed, assigned to yansern

[2021-06-15 14:48] mreishus commented on #52792
correct, neither of those screens are capable of displaying twentytwentyone because it does not pass the restrictions of the api:

* [/rest/v1/template/demo/balasana/balasana](https://public-api.wordpress.com/rest/v1/template/demo/balasana/balasana?font_headings=Open%20Sans&font_base=Chivo&site_title=Balasana&viewport_height=700&language=en&use_screenshot_overrides=true) - Works
* [/rest/v1/templa

[2021-06-15 14:51] mmtr opened #53706 "Nav Unification: Create UI for rendering a quick switcher on Calypso"
As part of https://github.com/Automattic/wp-calypso/issues/51441, we need to create a UI component in Calypso that will render the new Calypso/WP switcher in the following pages:
- My Home
- Posts > All posts
- Posts > Add new
- Posts > Categories
- Posts > Tags
- Media
- Pages > All pages
- Pages > Add new
- Testimonials > All testimonials
- Testimonials > Add new
- Portfolio > All projects
- Por

[2021-06-15 14:55] kathleenjross commented on #53397
Another report: 824823-hc

Follow-up: 4070444-zd

[2021-06-15 15:03] mmtr opened #53707 "Nav Unification: Create UI for rendering a quick switcher on WP Admin"
As part of https://github.com/Automattic/wp-calypso/issues/51441, we need to create a UI component in WP Admin that will render the new Calypso/WP switcher in the following pages:
- My Home
- Posts > All posts
- Posts > Categories
- Posts > Tags
- Media
- Pages > All pages
- Testimonials > All testimonials
- Portfolio > All projects
- Comments
- Appearance > Themes
- Users > All users
- Tools > Im

[2021-06-15 15:06] mmtr opened #53708 "Nav Unification: Handle quick switcher on Calypso"
As part of #51441, we need to implement the logic that handles how the user switches from Calypso to WP Admin using the new quick switcher.

When the user switches to the equivalent screen, the logic should remember that preference, so from that moment on the unified menu will link to the preferred screen.

**Acceptance criteria**
* Should a user visit a Calypso screen _via the menu_ and click Scr

[2021-06-15 15:06] mmtr opened #53709 "Nav Unification: Preserve preferred view after using quick switcher"
Requires https://github.com/Automattic/wp-calypso/issues/54021.

As part of #51441, we need to implement the logic that stores the preferred view when the user switches from Calypso to WP Admin or from WP Admin to Calypso using the new quick switcher.

When the user switches to the equivalent screen, the logic should remember that preference, so from that moment on the unified menu will link to th

[2021-06-15 15:09] mmtr opened #53710 "Nav Unification: Remove duplicated menus"
As part of #51441, we need to remove the duplicate menus (often named as "Advanced") since the user will have the opportunity to navigate to the duplicate / advanced / equivalent screen using the new quick switcher.

[2021-06-15 15:11] mmtr commented on #51441
In order to make easier the development, testing, and reviewing of this feature, I've split this issue into 5 smaller issues: https://github.com/Automattic/wp-calypso/issues/53706, https://github.com/Automattic/wp-calypso/issues/53707, https://github.com/Automattic/wp-calypso/issues/53708, https://github.com/Automattic/wp-calypso/issues/53709, https://github.com/Automattic/wp-calypso/issues/53710.

[2021-06-15 15:30] andres-blanco commented on #53593
Fixed on https://github.com/Automattic/wp-calypso/pull/53643

[2021-06-15 15:30] #53593 closed, assigned to nobody

[2021-06-15 15:34] andres-blanco commented on #52837
That's a good question that I don't know how to answer. @kwight do you have any insights on this?

[2021-06-15 16:05] khristiansnyder opened #53713 "Offset Block Missing Some Image Size Options"
When adding a new Offset Block, the only size options that show are small and medium.

### Steps to reproduce the behavior

1. On a simple or AT site, add an offset block and add media to it.
2. The right sidebar block options only have S and M size options

![Markup 2021-06-15 at 17 26 26](https://user-images.githubusercontent.com/41035049/122081707-2e540e00-cdb4-11eb-945d-a10ae7195622.png)

####

[2021-06-15 16:10] mreishus commented on #53674
Some of the homepages that we will need to render in this dialog:
* Are on private sites
* Are on jetpack or atomic sites

Because of this, I believe any mshot or photon proxy based solution cannot work (because we would need to be able to access content on a private+atomic site, and mshots runs in a public, unauthenticated context to my understanding).

[2021-06-15 16:20] jeyip commented on #51200
We had to revert D62074-code because it was causing runtime errors when large files were being imported. More about that here paYE8P-U4-p2.

[2021-06-15 16:21] jeyip commented on #51200
We've created a new diff that reintroduces the previous changes we had to revert, but that now accounts for large file imports. D62467-code

[2021-06-15 16:25] lizswafford commented on #53401
4045467-zen / Chrome 91.0.4472.101

[2021-06-15 16:33] DanielSmithMichigan opened #53714 "Themes Page: Left side of page cut off after site switch"
**Note**: This is probably a low priority issue, seeing that the steps to recreate it are very specific and the issue isn't that bad.

![image](https://user-images.githubusercontent.com/10274366/122090521-d5956d00-cdd5-11eb-9104-b4ddacadaaee.png)

### Steps to reproduce the behavior

Same as [53504](https://github.com/Automattic/wp-calypso/issues/53504)

1. Use mobile
2. Go to the themes page from

[2021-06-15 17:02] WunderBart commented on #53557
I've been trying to look at this from the opposite site and actually started leaning towards it:

**What if we don't pass expected element(s) at all?**

How do we really benefit from them? It is possible that a certain object model will be used in a test scenario in which its initially expected element is not even relevant. For example, in the [`CommentsComponent` model](https://github.com/Automat

[2021-06-15 17:04] ClassicRKR27 commented on #53681
I have another report here as well: https://hud.happychat.io/chat/9474601

I can also confirm that it only appears to affect galleries with 2 images.

[2021-06-15 17:08] ClassicRKR27 commented on #53681
I have another report here as well: [9474601-hc](https://hud.happychat.io/chat/9474601)

I can also confirm that it only appears to affect galleries with 2 images.

[2021-06-15 17:34] Sandkorner commented on #53431
ZEN-4069658
AT Site, Quintus theme - Cannot save the background color of the main content area in the customiser.

[2021-06-15 18:09] lizswafford opened #53716 "VideoPress: Video Block and VideoPress Block embed appears as link"
### Steps to reproduce the behavior

1. Go to a new page or post in editor view.
2. Add a new Video Block or VideoPress Block.
3. Add a video from the Media Library to the block.
4. Publish or view the page or post preview.
5. Video is not embedded, it appears as a hyperlink.

#### What I expected to happen

Video Block and VideoPress Block should show an embed of a video on the page or post previ

[2021-06-15 18:10] jp-imagines commented on #52182
Another report in 30157043-hc.

[2021-06-15 18:24] KirkwallDay commented on #53444
This showed up in: 4588232-Hc
Debut theme.

[2021-06-15 18:33] AMcGrady commented on #53401
30155299-hc

[2021-06-15 18:40] lizswafford commented on #51334
Similar report here: 4062780-zen

Can copy and paste the post title into the List Block directly.
However, can't copy text from other sources like a webpage, word doc., etc.
Was able to copy and paste from the Text Editor app, however, the text appears in a Paragraph Block below the List Block.
Removing the space above the Paragraph Block allows the new text to be added to the List Block.

[2021-06-15 18:45] CompChris commented on #53401
30157556-hc / Safari 14.0 on Mac OS X 10.15.7

[2021-06-15 18:59] AtrumGeost opened #53720 "Block Widgets: "Collapse menu" option not working in Appearance > Widgets"
### Steps to reproduce the behavior

1. Enable the `enable-widget-block-editor` sticker by toggling it on under “Random toggles” on the respective Blog RC
2. Got to Appearance > Widgets
3. Click on the "Collapse menu" option
4. Notice nothing happens

#### What I expected to happen
For the menu to collapse

#### What actually happened
Nothing

### Context
Asgard Team Testing p58i-axR-p2

#### Brow

[2021-06-15 19:02] katiebethbrown commented on #53688
Looks like this is a duplicate of https://github.com/Automattic/wp-calypso/issues/53635.

I'll close this and comment there.

[2021-06-15 19:02] #53688 closed, assigned to nobody

[2021-06-15 19:04] katiebethbrown commented on #53635
We've had several reports on Atomic sites as well.

This one was related to an en-dash in the post title:

p9F6qB-6rA-p2

[2021-06-15 19:04] katiebethbrown commented on #53635
And in this report, the encoding issue appears to be caused by a character in the translation of the word `post`that JP adds to the subject line automatically (so not something the user can resolve):

p9F6qB-73B-p2

<p>Logstash shows the email subject line as
<code>=??Q?[Novi_=C4=8Dlanak]_SLADOLED_OD_VANILE_I_MALINE_(vegan,_posno)?=</code>

The post  is titled
 <code>SLADOLED OD VANILE I MALINE (v

[2021-06-15 19:11] AtrumGeost opened #53721 "Block Widgets: Widgets not displaying consistently after changing themes"
### Steps to reproduce the behavior

1. Add widgets to the site using the Apostrophe 2 theme
2. Enable the `enable-widget-block-editor` sticker by toggling it on under “Random toggles” on the respective Blog RC
3. Notice the widgets are displayed in Appearance > Widgets
4. Switch to a different theme, in this case, I switched to Twenty Twenty-One
5. Notice the widgets are gone.
6. Notice you can a

[2021-06-15 19:21] mreishus commented on #53674
## List of Approaches

## Approach 1: Embed the customizer in an `<iframe>`
* Proof of concept: https://github.com/Automattic/wp-calypso/pull/53719
* Pros
  * The customizer already knows how to display the site using a different theme.
  * It's battle tested and already in production.
  * It works fine across atomic, private, jetpack sites.
  * Since the code generating the view of that site's ho

[2021-06-15 20:07] AtrumGeost opened #53723 "Block Widgets: Jetpack widgets don't show a preview"
### Steps to reproduce the behavior

1. Add widgets to a site (without the widget block editor). Specifically the  Twitter Timeline and the Follow Blog widget
2. Enable the `enable-widget-block-editor` sticker by toggling it on under “Random toggles” on the respective Blog RC
3. Open Appearance > Widgets
4. Notice no preview is displayed

#### What I expected to happen
A preview of the widget, sim

[2021-06-15 20:30] sajmes commented on #53401
4070541-zen Safari 13.1.2

[2021-06-15 20:50] sajmes commented on #53116
4048213-zen

[2021-06-15 21:05] blackjackkent commented on #53675
I have made good progress on the front-end aspect of this and hope to have something for a (temporary) PR ready by tomorrow, although presumably it won't be merged until after the back-end portion is also figured out.

[2021-06-15 21:44] allilevine commented on #51828
PR here: https://github.com/Automattic/wp-calypso/pull/53196

[2021-06-15 21:54] kwight commented on #52837
I think anyone that wants to can turn it off in _Settings > Advanced General_.

[2021-06-15 22:08] fullofcaffeine commented on #53394
@johngodley Is this still an issue?

[2021-06-15 22:23] JessBoctor commented on #52209
Had this come up in #22628165-HC. Clearing the browser cache didn't resolve the issue.

Following up in 4071380-ZD to ask the customer to log out and back in, check anti-virus, etc

[2021-06-15 22:25] ChrissiePollock commented on #53680
Another issue on 30158434-hc. Twenty Twelve theme.

[2021-06-15 22:33] mreishus commented on #53674
Tried some more stuff out and I'm feeling a little more positive about approach 2. If I bypass all of the pattern stores stuff, then I am able to load homepage content from other sites and apply new themes to it, even private atomic sites, or jetpack sites.
So my questions re: approach 2 are:
* Can we load the desired sites?
  * Seems to work, even for private atomic sites, or jetpack sites.
* Can

[2021-06-15 22:51] sajmes commented on #52182
30159555-hc Baskerville 2.

[2021-06-15 22:57] #53135 closed, assigned to fullofcaffeine

[2021-06-15 23:16] fullofcaffeine opened #53725 "Gutenberg: v10.9.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/53394.
Release notes: [v10.9.0-rc.1](https://github.com/WordPress/gutenberg/releases/tag/v10.9.0-rc.1), [v10.9.0](https://github.com/WordPress/gutenberg/releases/tag/v10.9.0), [v10.9.1](https://github.com/WordPress/gutenberg/releases/tag/v10.9.1).

- [x] Install and activate
  - [x] Copy & install v10.9.0-rc.1 (D62999-code, D63086-c

[2021-06-15 23:16] fullofcaffeine commented on #53394
Next one: https://github.com/Automattic/wp-calypso/issues/53725.

[2021-06-15 23:57] JessBoctor opened #53726 "Intergalatic 2: Embed blocks have no height set on desktop view"
### Steps to reproduce the behavior

1. Create a simple site with the Intergalactic 2 theme activated
2. Go to My Site > Pages > Add New
3. Paste a YouTube Video share link so it embeds
4. Add text underneath it
5. Publish the page and view it on a screen width wider than 1000px
6. On the front end of the site, the embed covers the blocks underneath it

Screenshots:
- https://d.pr/i/5Rp7Z3
- https

[2021-06-16 00:11] JessBoctor opened #53727 "Page Optimize plugin conflicts with Elementor Pro Theme Builder GUI"
### Steps to reproduce the behavior

1. Install Elementor Pro 3.3.0 and make sure Page Optimize is active
2. Click on Templates > Theme Builder
3. There will be an option for the new Theme Builder GUI. Click on the 'Try it now' button: https://d.pr/i/EiADB0
4. The page is loaded as basic text and links. It appears that the CSS or Javascript is blocked from loading

#### What I expected to happen

[2021-06-16 00:40] tanjoymor opened #53728 "Multiple themes: Colors & Background delay in changes taking effect"
### Steps to reproduce the behavior

Tested with Hever and Stow:
Go to Customizer > Colors and Background
Change any of the colors - they don't apply in the customizer: https://d.pr/i/ZhLHaI
Save the customizer changes - they still don't apply: https://d.pr/i/W2qhlt
Wait 30+ seconds and refresh - they apply: https://d.pr/i/4kR4a2

Immediately refreshing and refreshing multiple times doesn't help.

[2021-06-16 01:23] andrewserong opened #53729 "Likes: Add ability for Likes to be disabled in the Reader and subscription emails"
In Jetpack settings, users can disable likes for particular posts. However this setting does not remove the Like button from the Reader for that post, nor from subscription emails. This request is to explore adding in the functionality for the Reader and subscription emails (and anywhere else that we display a Like button or interface) to respect the per-post settings for likes.

## What

Add the

[2021-06-16 01:59] andrewserong commented on #44554
We're currently unable to reproduce the issue that related to caching, and I've opened up a couple of feature request issues in relation to Likes behaviour (where a user wishes to exclude a post from Likes in all contexts including the Reader and subscriber emails).

I'll leave this issue open for the rest of the week, in case anyone is able to reproduce any instances of paywalled content being vi

[2021-06-16 02:08] katiebethbrown commented on #53635
See notes from @anomiex here regarding `get_bloginfo( 'charset' )` returning an empty value, causing the `=??` and lack of encoding.

p9F6qB-73B-p2#comment-40345

[2021-06-16 02:16] nagpai commented on #53401
#9140080-hc  - Safari (version unknown)

Asked user to use Firefox.

[2021-06-16 02:42] thesacredpath commented on #53431
Any update on the progress on this fix? Have one user back in Chat asking about the progress.

Transcript: #30162729-hc

[2021-06-16 04:44] nagpai commented on #53401
#1729867-hc  - Safari 13.1

https://whatismybrowser.com/w/QY4YJ4Z

[2021-06-16 05:13] #53168 closed, assigned to nobody

[2021-06-16 06:01] #53422 closed, assigned to nobody

[2021-06-16 06:13] sanjeev00733 commented on #53401
#28680726-hc
Safari Version 11.1.2 (11605.3.8.1) - I have asked them to update the browser and use Firefox for now as it works for them in FF.

[2021-06-16 06:27] nagpai commented on #53401
#26537909-hc
Safari 12.1 on ios 12.5

[2021-06-16 06:31] worldomonation opened #53731 "Playwright: update the BuildType of `RunCalypsoPlaywrighteE2eDesktopTests` with uuid"
**Task Details**
As per https://github.com/Automattic/wp-calypso/pull/53649#discussion_r652386542, update `BuildType` with uuid so TeamCity will have a constant reference.

**Related to**

[2021-06-16 06:35] kaitohm commented on #48195
Commenting to keep it open for another 6 months.

[2021-06-16 06:37] kaitohm commented on #47991
Commenting to keep this open. It'd be nice if we could remove encoding symbols everywhere, from a user perspective.

[2021-06-16 06:45] dolgelukkig commented on #53401
#288114-hc
Browser Safari 13.1.2

[2021-06-16 07:20] worldomonation commented on #53557
Radical thoughts! They challenge existing assumptions and help identify unnecessary practices, so thanks for that.--

In my opinion, this is an emphatic yes.

Having the objects wait for specific selector(s) to finish loading and visible on page reinforces assurance that page/component is in a good, known state for interactions to begin. This is even more important in JS/TS because of how almost e

[2021-06-16 07:23] worldomonation opened #53732 "Playwright: consider adding a default load state wait in `BaseContainer` initialization"
**Task Details**
Currently, whether a given object waits for the various load states offered is up to the person implementing the objects.

As a result, we have situation where `SidebarComponent` may wait for `networkidle`, but `CommentsComponent` waits for nothing.

One argument in favor of current approach is that it allows maximum flexibility to the implementer.
Counterargument is that it litte

[2021-06-16 07:47] kaitohm commented on #53422
@mrfoxtalbot - @hacchism is AFK, so [I've responded to the forum thread](https://wordpress.com/ja/forums/topic/%e3%82%ad%e3%83%a3%e3%83%97%e3%82%b7%e3%83%a7%e3%83%b3%e3%81%8c%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84/#post-23926) instead. We're all set there 👍🏼

[2021-06-16 08:32] cpapazoglou commented on #53431
Still waiting for the correct data to do the restore, **simple** blogs created before May 27, 2021 should be OK! Blogs created after May 27, 2021 (like the one you mentioned) are on the waitlist pMz3w-dg9-p2#comment-89079 as also Atomic blogs.

[2021-06-16 08:34] cpapazoglou commented on #53447
We have stopped the spread of the issue and we are trying to restore the correct `stylesheets` to the affected blogs. It will be resolved as part of https://github.com/Automattic/wp-calypso/issues/53431. Let's continue the discussion there.

[2021-06-16 08:36] johngodley commented on #53394
Kind of, but for a different bug introduced in Gutenberg 10.7.x and fixed in 10.8. P2 itself has been updated and should run fine on 10.7 and 10.8. I'll wait for 10.8 to settle down and if it's solid I'll unpin P2, otherwise I have a fix for 10.7 to get it running there.

[2021-06-16 08:41] StefanNieuwenhuis opened #53734 "Domains: Information blocks alignment on different viewports"
### What
Left alignment issues between the boxes and the results below. On some in-between resolutions when the padding is reduced, the results appear to be cut-off on the left because of this.

Video: https://www.loom.com/share/7d1d3a35c23c4e2289806d30c6fa5c12

### Desktop
#### Before
<img width="800" alt="Screenshot 2021-06-16 at 10 29 08" src="https://user-images.githubusercontent.com/14192054/

[2021-06-16 08:44] vishnugopal commented on #48403
This is fixed in #53691

[2021-06-16 08:44] #48403 closed, assigned to nobody

[2021-06-16 10:17] edwinho89 opened #53740 "Image Block: Link rel Hides or Removes noreferrer noopener Attribute"
### Steps to reproduce the behavior

1. Create a new page or post
2. Insert Image block and add a sample image.
3. Add link to the image
4. Expand link options on the image, paste `noreferrer noopener sponsored nofollow` under "Link rel" text field.

#### What I expected to happen

All link attribute pasted under "link rel" are visible

#### What actually happened

Only `noreferrer noopener` attri

[2021-06-16 10:21] simison commented on #53401
Gutenberg 10.8.1 (with a fix for this) is now on WordPress.com since yesterday. If that doesn't solve these issues, there's either cache, Atomic sites with old GB, or something else going on.

[2021-06-16 10:46] cpapazoglou commented on #53415
Fixed here D62906-code

[2021-06-16 10:56] davipontesblog opened #53741 "Block Widgets: Unable to use the theme Customizer to edit"
After enabling block widgets on my test site, previous widgets do not show in the Customizer:

<img width="1106" alt="Screen Shot 2021-06-15 at 15 11 12" src="https://user-images.githubusercontent.com/31009008/122104740-637d5200-cdee-11eb-8602-f3ef2c0059c9.png">

However, they do show in the Appearance > Widgets area in WP Admin.

I am also not able to add or edit any widgets in the Customizer now

[2021-06-16 10:57] simison commented on #53674
cc @ramonjd @andrewserong who are kinda experts of these APIs, you might have some thoughts/feedback/ideas to share. :-)

[2021-06-16 10:58] simison commented on #53674
BTW I have something like this implemented in https://github.com/simison/back-to-the-theme :-)

It's generally useful to be able to render in context of the actual site, just with a different theme, so that all the plugins and such get included.

[2021-06-16 10:59] davipontesblog commented on #53741
@AtrumGeost reported the same in his testing:

Got the same behavior. Here's a video.

https://user-images.githubusercontent.com/31009008/122207695-c6b3c680-ce78-11eb-9f9d-b9b97c98829c.mp4

This happened on a site with pre-existing widgets.

Test site environment:

Apostrophe 2 theme
WordPress.com simple site
Gutenberg: v10.8.0
CoBlocks: 2.10.1
Editing Toolkit: 3.8300
WP AMP: 2.0.5

@draganescu me

[2021-06-16 11:01] carinapilar opened #53742 "Block Widgets: Only Saving on Second Attempt"
### Steps to reproduce the behavior

1. Open Appearance > Widgets
2. Add one widget
3. Hit Update

#### What I expected to happen
To save the changes and disable the Update button.

#### What actually happened
It keeps the Update button active as if it didn't save, it also shows the warning that you might lose your changes if you leave the page.

### Context

#### Browser / OS version
Chrome 91.0.

[2021-06-16 11:03] onuro commented on #52792
Mobile options attached. There was a discussion w @ollierozdarz and @ianstewart about reducing the weight of the text content on the modal, so I'm attaching 2 iterations with more and less content; for mobile and desktop.

**Mobile - Default**(little trouble of modal height exceeding viewport limits on devices with smaller screen sizes):
![image](https://user-images.githubusercontent.com/645713/12

[2021-06-16 11:07] carinapilar opened #53743 "Block Widgets: Error When Changing Widget Area"
### Steps to reproduce the behavior

1. Open Appearance > Widgets
2. Add one widget
3. Hit Update
4. Move the widget to another area
5. Hit Update again

#### What I expected to happen
To save the changes.

#### What actually happened
It shows the error `There was an error. Cannot read property 'id_base' of undefined`, and the widget you tried to move is lost after you refresh - it's not moved, an

[2021-06-16 11:37] StefanNieuwenhuis opened #53744 "Domains: Show more results button before information blocks"
### What
In production, the "show more results button" is placed under the information blocks.
Let's display it above, like illustrated in Figma (gnYBUOBthTMckJRJr3pZmk-fi-2598%3A1)
<img width="338" alt="Screenshot 2021-07-05 at 12 06 05" src="https://user-images.githubusercontent.com/14192054/124446758-63d39200-dd89-11eb-99b0-e31fd20e1544.png">

### Why?
From the user's perspective, it makes more

[2021-06-16 12:03] AlexanderMonsanto commented on #53100
**Report here:** 4072493-ZD

[2021-06-16 12:09] simison commented on #53741
Discussing some solutions in p1623839878443900-slack-team-calypso

[2021-06-16 12:15] #53728 closed, assigned to nobody

[2021-06-16 12:31] davipontesblog opened #53747 "Plans: Make it clearer that WordPress.com plans are hosting plans"
I am paraphrasing this from what a colleague mentioned, which I agree with.

One thing I noted over time is that users are asking if they need a hosting plan and they are very confused about this. Usually, they already have a paid plan with us, and they end up purchasing hosting with a .org company because they research Google and they read that they need hosting for WordPress. I think that we cou

[2021-06-16 12:57] #53574 closed, assigned to tjcafferkey

[2021-06-16 13:02] tbradsha commented on #50567
It probably "works as intended", but to me, the "Tools" menu should lead built-in functions, not marketing upsells.

[2021-06-16 13:23] ClassicRKR27 commented on #50917
Another report here for a Japanese language site: 4065319-zd-woothemes

[2021-06-16 13:24] donlair commented on #48418
@taggon this is ready for review at #53749.

[2021-06-16 13:26] cpapazoglou commented on #53415
Deployed r227374-wpcom

[2021-06-16 13:26] #53415 closed, assigned to cpapazoglou

[2021-06-16 13:54] ClassicRKR27 opened #53750 "Editor: Table colors not saving on submit"
### Steps to reproduce the behavior

1. Go to 'Post/Page > Edit'
2. Add Table Block
3. Change background color to anything but white
4. Save post/page
5. Back out of post and go back in
6. Background colors switch back to white in editor

#### What I expected to happen
Background color of table should remain as whatever I set it to.

#### What actually happened
Background color reverts back to whi

[2021-06-16 14:04] #53637 closed, assigned to Addison-Stavlo

[2021-06-16 14:18] razvanpapadopol opened #53751 "Signup: show username input in 'account' signup flow"
**Task Details**
In https://github.com/Automattic/wp-calypso/pull/53509 we've hidden the Username field from all the flows. Let's add it back to the `account` flow.

**Why**
Certain types of users can't change their username later and others may want a custom one (eg: for commenting on some blog post). See more on pbAok1-2d7-p2

**A/C**-
- [ ] When displaying the `/user` step for the `/start/accou

[2021-06-16 14:29] razvanpapadopol opened #53752 "Domains: suggestion list stuck on loading when clearing the search box"
### Steps to reproduce the behavior
1. Go to `/start/domains`
2. Start typing to search for a domain and **while the results are still loading**, clear the search query
3. Repeat the same in Calypso, on `/domains/add` page

#### What I expected to happen
<s>The empty state to be displayed</s>
The previous (or default) domain suggestions, if available, to be displayed as described in https://github

[2021-06-16 14:34] aleone89 commented on #47433
Another report here hc-30172003

Prior to this happening, the language settings in the site were changed. Also, a post was published via the mobile app.

[2021-06-16 14:46] StefanNieuwenhuis commented on #53734
Already fixed in https://github.com/Automattic/wp-calypso/pull/53700

[2021-06-16 14:46] #53734 closed, assigned to nobody

[2021-06-16 14:56] andres-blanco commented on #52837
Ok, it doesn't seem to be normal to have nav-unification disabled.

I will move this to review.

[2021-06-16 15:04] jartes commented on #53401
17908070-hc
Follow-up 4072682-zen
Safari 11.1.2

[2021-06-16 15:06] kwight opened #53753 "Themes: Add methods for identifying autogenerated themes."
We could use a couple of functions in the theme generation library for identifying autogenerated themes.

* `is_autogenerated_theme(theme) => boolean`
* `get_autogenerated_themes({pub | premium}) => [themes]`

These would basically look for the `.autogenerated-theme` file that's created when generating a theme with the library.

[2021-06-16 15:14] simison opened #53754 "Page template modal broken"
- Add new page on a site with the Blank Canvas Theme
- 💥

![image](https://user-images.githubusercontent.com/87168/122245627-8e3ed780-cece-11eb-85ab-0541e340a4e2.png)
![image](https://user-images.githubusercontent.com/87168/122245648-926af500-cece-11eb-9db8-5d8ae049ec8f.png)

Core changes likely culprit in Gutenberg 10.8

![image](https://user-images.githubusercontent.com/87168/122245716-a31b6b00-

[2021-06-16 15:27] WunderBart commented on #53754
Looks like the preview column would still go under the header and get overlayed with the close `x` button? What fixes it for me is (instead altering the max-height):
- Add `padding-top: 60px` (modal header height) to the `.components-modal__content` element
- Add `background-color: white` to the `.components-modal__header` element
- Remove the `margin-bottom: 24px` from the `.components-modal__con

[2021-06-16 15:41] JanaMW27 commented on #51096
Hello, could we set a max-width of 1440px for wp-admin pages in Wordpress.com and then add margins for bigger widths? so instead of expanding calypso, reducing wp-admin?

[2021-06-16 16:00] #53679 closed, assigned to sirbrillig

[2021-06-16 16:02] mattwiebe commented on #53754
@WunderBart nice catch, I solved it by just nudging the close button to the top right to get it out of the way in #53755

[2021-06-16 16:15] metabreakr commented on #53401
4072740-zen

[2021-06-16 16:45] onuro commented on #52792
@olaolusoga suggested we could leverage additional real estate by making the modal full screen for mobile and I loved the idea:

![image](https://user-images.githubusercontent.com/645713/122260041-7e79c000-cedb-11eb-822d-118a940444d0.png)

Not sure if the modal component is ready for such an extension but had to try.

[2021-06-16 16:47] worldomonation commented on #53731
Looks like UUID was generated already, so it is being done as part of #53649

[2021-06-16 16:47] #53731 closed, assigned to nobody

[2021-06-16 16:48] mikeicode commented on #53401
Safari 12.1 on Mac OS X 10.12.6 26431038-hc

[2021-06-16 16:48] TheSteveK commented on #53159
Another user report, user lists 2 pages (neither is using the slideshow block) #29957246-HC

[2021-06-16 17:21] SuzzieG commented on #53401
Another one- 4049434 Zen

[2021-06-16 17:25] andres-blanco commented on #53605
Fixed in D62915-code

[2021-06-16 17:48] worldomonation commented on #53170
In the next round of documentation update, include the following:

- use of separate type dependencies field at top of file
- use of object parameter where possible
- having minimal steps where possible
- prefer explicit action over implicit (eg. `likePost` instead of `clickLikePost`)

[2021-06-16 17:51] #53605 closed, assigned to andres-blanco

[2021-06-16 18:51] onuro commented on #52792
Updated mobile w fullscreen modal component + browser chrome: Ugh...(for small device)

![image](https://user-images.githubusercontent.com/645713/122275963-f6041b00-ceec-11eb-8632-175bd39bdf03.png)

[2021-06-16 19:45] ChrissiePollock commented on #51388
Another report on 30177488-hc.

[2021-06-16 19:57] #53556 closed, assigned to nobody

[2021-06-16 20:15] michaeldcain commented on #37283
Closed in #53605

[2021-06-16 20:15] #37283 closed

[2021-06-16 20:16] michaeldcain commented on #53057
Closed in #53605

[2021-06-16 20:16] #53057 closed, assigned to nobody

[2021-06-16 20:28] supernovia commented on #50945
Thanks. Once the switchers is live for users, we'll let you know if we hear anything about this switch being missing.  (I'd personally prefer just having a switch and remembering the settings, like everything else.)

[2021-06-16 20:32] roo2 commented on #53364
hmmm we are already surrounding the welcome tour with the `<LocaleProvider>` [source](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/block-editor-nux.js#L63) and it is getting the correct locale. The call to `useLocale()` returns the correct locale without relying on `i18n.getLocaleData` [source](https://github.com/Automat

[2021-06-16 20:38] csonnek commented on #53100
Another report via Twitter: https://twitter.com/GrapeBelt/status/1405055758492786692

[2021-06-16 20:55] JessBoctor commented on #53401
I had another report of this in 30177971-HC

Customer was using Safari 13.2

[2021-06-16 20:58] #52837 closed, assigned to andres-blanco

[2021-06-16 21:12] #53754 closed, assigned to mattwiebe

[2021-06-16 21:31] NoHopeRadio opened #53760 "Calendly block: "How to Customize this Block" link dead, functionality maybe dead?"
### Steps to reproduce the behavior

1. Create a Calendly account.
2. Connect it to Premium plan or higher tiered site.
3. Create event.
4. Embed event in Calendly block.
5. Check options.

#### What I expected to happen

For changing the colors, there are no options listed as one might like, but under Calendar settings, there is a link that says "Follow these instructions to change the colors in

[2021-06-16 21:54] roo2 commented on #53364
it turns out that `getLocaleData` is called (and thus, was crashing before the [fix](https://github.com/Automattic/wp-calypso/pull/53335)) even if the LocaleProvider is set up correctly.

I believe that somewhere behind the scenes in the i18n framework (which I currently don't understand very deeply) we are relying on `getLocaleData` or some other dependency or function that only exists when guten

[2021-06-16 22:06] eduardozulian opened #53762 "[Widgets Screen] Unable to Update to Save"
Copypasta from https://github.com/WordPress/gutenberg/issues/32705 as, according to the issue, this might be related to WP.com instead.

### Description
When editing the Widget area under Appearance> Widgets changes can't be saved. An error message appears when you try to:

<img src="https://user-images.githubusercontent.com/7907292/122104156-5e67d500-cde5-11eb-81f1-47ceeecd210e.gif"/>

### Step-b

[2021-06-16 22:15] eduardozulian opened #53763 "[Widgets Screen] Double "Move to" icons display on all widget areas"
Copypasta from the following tickets:

* https://github.com/WordPress/gutenberg/issues/32191, by @mrsjaved
* https://github.com/WordPress/gutenberg/issues/32704, by @msilbers

***

### Description
While testing the widgets we noticed the move to widget icon in the quick toolbar appears twice.

### Step-by-step reproduction instructions
1. Go to Appearance -> Widgets (make sure the new widget edito

[2021-06-16 22:26] mreishus commented on #53674
RE: Showing the user's current homepage with a theme chosen at run-time.
I'm seeing this breaks down into two levels. A solution should pick one approach for each level and combine them.
* Where the information is sourced
* How the information is displayed

Current options:
* **Where the information is sourced**
  * A variation of the backend endpoint used to generate previews  on `/new/design`

[2021-06-16 22:27] ChrissiePollock commented on #51730
Another one 30178783-hc

[2021-06-16 22:42] p-jackson commented on #53364
That's weird, if `<LocaleProvider>` is already there and getting the correct locale, then I wonder how I was able to get the screenshot in the description above 🤔

[2021-06-16 23:36] ramonjd commented on #53674
It seems like you've gone pretty deep already on this, and you've highlighted more cons to adapting the demo endpoint than pros.

The demo endpoint is fairly cobbled together. Its was conceived for one purpose: to demo WPCOM designs on onboarding with varying text content (i18n, vertical content).

I like the idea of extending `WPCOM_JSON_API_Template_Demo_Endpoint`. Do you see any potential to cr

[2021-06-16 23:48] #53033 closed, assigned to nobody

[2021-06-16 23:48] #53644 closed, assigned to nobody

[2021-06-16 23:51] richardkang112 commented on #48227
Hello everyone. May I work on the part of the issue where setting the default media scale value of 0.32 on mobile viewport? @Christopher-Stevers Are you working on this already?

[2021-06-17 00:03] sbathompson-he opened #53764 "Plans: Make it clearer that WordPress.com plans are site-specific"
What
It seems that some users are confused that plans are site-specific. They attach to one site instead of a whole account.

Why
This would alleviate a lot of confusion and frustration. It seems that users think that the account has whatever plan they purchased and that they can start as many sites as they want under that plan. This user got frustrated with this today: 30161032-hc

How
For instan

[2021-06-17 00:21] syedshaon commented on #53401
Another issue 4073870-zen

[2021-06-17 00:32] andrewserong commented on #53674
Nice work exploring the options here! Just echoing Ramon's comments that the `template/demo` endpoint was fairly cobbled together. It has quite a different use case where the markup of the page is being manipulated directly to insert pattern content, update post title, augment the rendering of particular blocks, etc, and the endpoint is unauthenticated. For these reasons, I think it's important th

[2021-06-17 03:44] roo2 commented on #53364
yea, I originally added the LocaleProvider so that the links at the end of the tour would be localized in https://github.com/Automattic/wp-calypso/pull/52099, [via useLocale](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/tour-launch.js#L61). This part _is_ working without gutenberg installed, but the actual t

[2021-06-17 04:44] p-jackson commented on #53364
Double checked that the translations exist: https://translate.wordpress.org/projects/wp-plugins/full-site-editing/stable/es/default/?filters[term]=your+site+is+private+until&filters[term_scope]=scope_any&filters[status]=current_or_waiting_or_fuzzy_or_untranslated&filters[user_login]=&filter=Apply+Filters&sort[by]=priority&sort[how]=desc

They do, so that's not the problem

[2021-06-17 05:05] ollierozdarz commented on #52792
These are looking great @onuro! Nice job  🙂

[2021-06-17 06:07] SuzzieG commented on #53431
4068620- zen using theme: Redhill

[2021-06-17 07:23] zdenys commented on #44781
4060606-zd-woothemes Android 9

I was also able to reproduce the issue by simulating the mobile view (Pixel 4) in Google Chrome on Desktop.

[2021-06-17 08:11] StefanNieuwenhuis opened #53768 "Domains: Mobile improvements - Leftovers"
### What
See gnYBUOBthTMckJRJr3pZmk-fi-2598%3A1 for more details.

1. ~~Margin above the search input should be **24px**.~~ (see https://github.com/Automattic/wp-calypso/issues/53768#issuecomment-863734795)
2. The loading state leaks to all select buttons when one is clicked (see [this video](https://www.loom.com/share/c256aadef91f4be0bd9737ff8afdcd69)).
3. [MOBILE] The suggestions "table" `margin

[2021-06-17 08:16] razvanpapadopol opened #53769 "Launch: fix reskinned Domain step and enable reskinned Plans step"
### What

#### Domains step - empty state
- blue background
- poor accessibility

<img width="1270" alt="Screenshot 2021-06-17 at 11 06 45" src="https://user-images.githubusercontent.com/14192054/122357691-9f362a00-cf5c-11eb-9d93-8354942a8e64.png">

#### Domains step - with results
- same as above
- marketing messages displayed twice (below and above results)

<img width="782" alt="Screenshot 2021

[2021-06-17 08:21] razvanpapadopol commented on #53744
Let's leave this on hold for now. See https://github.com/Automattic/wp-calypso/pull/53700#issuecomment-862913690

[2021-06-17 08:23] #52852 closed, assigned to alshakero

[2021-06-17 08:35] CoachBirgit commented on #53100
Another report: 4072579-zen

User encounters a white screen when opening post drafts and already published posts.
Asked for browser details if clearing the cache doesn't work

[2021-06-17 08:37] fresatomica commented on #53100
Another one: https://wordpress.com/forums/topic/blank-pages-for-all-drafts-and-when-i-click-write-new-page/

[2021-06-17 08:55] jsnajdr commented on #48227
Hi @richardkang112 :wave: I think you can start working on this 🙂 The #53705 PR by @Christopher-Stevers fixes a related bug, but not quite this one.

[2021-06-17 08:56] razvanpapadopol opened #53770 "Signup: missing TLD filtering in reskinned onboarding"
### Steps to reproduce the behavior

1. Go to wordpress.com/start/domains?flags=signup/reskin

#### What I expected to happen
- I should be able to filter by TLD

#### What actually happened
- There is no 'wheel' (settings) button to open the filtering popover.

### Context
TLD filtering with buttons previously used in reskin was removed from the production version in https://github.com/Automattic

[2021-06-17 09:10] stefancln commented on #53100
Another report here 4070430-zen

[2021-06-17 09:22] JanaMW27 commented on #51096
@mrfoxtalbot  The max-width that I am proposing is 1440px, [this is an XXL size of a breakpoint](https://getbootstrap.com/docs/5.0/layout/breakpoints/). Can you point me to any of these plugins that require extra space so I can see how they would perform if we limit wp-admin max-width?

[2021-06-17 09:52] zdenys commented on #53401
9174600-hc Safari 12.1 on Mac OS X 10.12.6

[2021-06-17 10:01] WunderBart opened #53771 "E2E: Fix 'invite users' and 'home support search' specs"
There are other tests affected by the domain problem: `wp-invite-users__viewer-spec.js` (skipped in #53333) and `wp-my-home-support-search-spec.js` (skipped in #53460).

Maybe we can move this to a helper that can be reused by those tests?

_Originally posted by @scinos in https://github.com/Automattic/wp-calypso/issues/53502#issuecomment-858254951_

[2021-06-17 10:08] simison commented on #53401
Tested on Browserstack with .com simple site, Gutenberg 10.8.2 and Safari 13.1 — still happening. @fullofcaffeine @WunderBart

@jasmussen hi! Can you help debug this more? Thanks so much already in advance, I know this is a pain to work on due to needing an old Safari. 😭

<img width="1560" alt="Screenshot 2021-06-17 at 13 05 36" src="https://user-images.githubusercontent.com/87168/122376720-15db23

[2021-06-17 10:25] simison commented on #53741
Fixed in https://github.com/Automattic/wp-calypso/pull/53756 🎉

I still see some console errors but at least widgets work.

[2021-06-17 10:25] #53741 closed, assigned to nobody

[2021-06-17 10:30] jasmussen commented on #53401
In https://github.com/WordPress/gutenberg/pull/32767 I have another PR that hopes to address this issue. Once again tested and debugged in Browserstack. In the previous fix, removing the height property was necessary — not it appears to be needed again, which is a bit confusing. Best I can tell and adjacent change has made it necessary, but it's also possible that in the previous browserstack debu

[2021-06-17 10:33] carinapilar opened #53772 "Navigation Block: Behavior on Mobile with Responsiveness Enabled"
### Steps to reproduce the behavior
1. Add a Navigation block to a page with some items on it
2. Set a custom font size of 80px
3. Check the "Enable responsive menu" option on the block's settings

#### What I expected to happen
For the text on the menu to also be responsive on mobile.

#### What actually happened
Menu items are bigger than the screen, so you can move around, and lines overlap on

[2021-06-17 10:43] carinapilar opened #53773 "Media Library: File ID not Available"
### What
Show the file ID from Calypso's media library, either on the file itself, or on its URL. WP-Admin shows that when you click on the image, or edit it.

### Why
Some shortcodes and widgets work with the file's ID.

**Additional context**
Requested on 18081173-hc

[2021-06-17 10:52] mmtr opened #53774 "Settings: Replace horizontal navigation with independent submenus"
In order to facilitate how the upcoming Calypso/WP Admin quick switcher (https://github.com/Automattic/wp-calypso/issues/51441) will work for the Settings pages, we should remove the current horizontal navigation bar and register the pages as independent submenus.

<img width="1273" alt="Screen Shot 2021-06-17 at 12 47 08" src="https://user-images.githubusercontent.com/1233880/122382770-86347580-c

[2021-06-17 11:12] Robertght commented on #42056
Another case in #30010011-hc

[2021-06-17 11:30] taggon commented on #53419
The fix is ready for review: D62974-code
For more details, see pd2HMz-1v-p2

[2021-06-17 11:40] taggon commented on #53595
@mrfoxtalbot Apparently, this is expected behavior, isn't it? :)

[2021-06-17 12:50] poojashetty18 commented on #50928
25524338-hc (AT)

[2021-06-17 13:30] JanaMW27 commented on #51096
I see that the issue in this specific screen is the 3 columns on the right side that are added by Yoast.
The point is that all the screens should work well at 1400px which is considered an extra-large breakpoint. Anything that is included that needs more space is squishing the rest of our content.
We need boundaries and rules for third parties if they want to add things on pages if not we end up (

[2021-06-17 13:51] tjcafferkey commented on #51096
I'm inclined to agree with @mrfoxtalbot when it comes to making these changes to core views. On top of what has already been discussed this would create an inconsistent experience between self-hosted WordPress users and WordPress.com users, and this inconsistency will have to be accounted for by plugin developers/designers. The proper way for this to happen would be for the changes to happen in Co

[2021-06-17 13:54] JanaMW27 commented on #51096
Can we not just have the max width for wp-admin only for wp.com?

[2021-06-17 14:30] #48418 closed, assigned to donlair

[2021-06-17 14:30] razvanpapadopol commented on #53769
Fixed in #53781

[2021-06-17 14:30] #53769 closed, assigned to razvanpapadopol

[2021-06-17 14:32] synora commented on #53401
30191295-hc / Safari 14.0.2 Safari/ Mac OS X 10.15.6
Follow up in:4075669-zen

[2021-06-17 14:45] kwight commented on #52792
Hm – I'm not sure the previews are worth it on mobile, they're very cramped. 🤔

[2021-06-17 14:46] tjcafferkey commented on #51096
I think that would be part of the issue, because non-WP.com users would get a different WordPress WP Admin experience. And it would still cause problems for plugin developers/designers to accommodate this inconsistency in their plugins (because plugins can get installed on WPcom as well as self-hosted sites).

We had a similar issue with nav unification because the WP.com nav is larger in width th

[2021-06-17 14:54] JanaMW27 commented on #51096
After some talk and consideration with other designers, we have agreed that no solution is the right one for these problems. So the agreement is not to do anything and keep the different widths. There is even an argument saying that the different widths will help users differentiate in which interface they are.

[2021-06-17 14:59] abcrsol commented on #53401
Another case reported here 4075517-zd

[2021-06-17 15:00] StefanNieuwenhuis commented on #53768
About the margin between the (sub)title and search bar. If we change it on the domain picker, the other steps are affected too. Besides that, it results in a nasty jump in the UI when going to the next step.

Sure, we can change the margin in the domains step, but we have to take this into consideration. So, WDYT @ollierozdarz?

### Screenshots of the shared affected areas in the domain & plans st

[2021-06-17 15:06] xpurichan commented on #53401
Reported in 28217766-hc.
Safari 13.1 on Mac OS X 10.13.6

[2021-06-17 15:11] mreishus commented on #53674
* Information Source Layer
  * **`template/demo` endpoint**
  I have made a copy of this, and named it `theme/preview` endpoint in D62921-code. It mostly reuses the already existing `$template_helpers->get_demo_content()` to get the theme homepage and `$template_helpers->customize_page()` to mix the theme homepage and the user's homepage. There is some glue code around it, that could possibly use

[2021-06-17 15:33] kriskarkoski commented on #53401
13233834-hc
Safari 13.0

[2021-06-17 15:36] ccwalburn commented on #53401
4060910-zen
Safari 14

[2021-06-17 15:43] jasmussen commented on #53401
Safari 14 also? Do you know which theme was used, @ccwalburn?

[2021-06-17 15:44] WunderBart commented on #53170
IMO, this is a good practice where the method name itself doesn't suggest the argument type/value. Here's an example where that applies (taken from some recent refactor):

**BAD**
[code]
It's not immediately obvious what we're enabling here when passing `true`. So instead what we did, was:

**GOOD**
[code]
Now we know that most probably, we're going to visit the published post/page.

I don't think

[2021-06-17 16:01] simison commented on #53401
I'm curious if it was Safari 14.0 or 14.1. (because https://github.com/Automattic/wp-calypso/issues/53401#issuecomment-857596372)

[2021-06-17 16:06] simison commented on #53674
Best confirm this with devops before ruling it out — I got impression that it likely isn't an issue when we were discussing rendering design previews with custom site names (and onboarding has way more traffic than theme switcher)

[2021-06-17 16:09] TheSteveK commented on #53159
#4071272-zen

This was reported in a different, closed issue at https://github.com/Automattic/jetpack/issues/19922

[2021-06-17 16:28] blackjackkent commented on #52792
I would agree with this.

[2021-06-17 16:29] allilevine opened #53793 "Marketing > Traffic Settings: Move site and plan logic out of components"
**Task Details**
We've added a lot of site type (Atomic, Jetpack, Simple) logic to the client/my-sites/seo-settings and client/my-sites/analytics components that display in Tools > Marketing > Traffic settings, and that logic should live server-side.

**Related to**
https://github.com/Automattic/wp-calypso/pull/53196#discussion_r653234644
https://github.com/Automattic/wp-calypso/pull/53196#discuss

[2021-06-17 16:33] #52611 closed, assigned to sirbrillig

[2021-06-17 16:33] ccwalburn commented on #53401
Hi @jasmussen! I just checked the user site and they are using a retired theme, Blogum: https://wordpress.com/theme/blogum

Hi @simison I checked the original chat transcript and it shows  Version/14.0 Safari/605.1.15
5280483-hc

[2021-06-17 17:28] simison commented on #53674
Above said, biggest reason to use mShots has been performance. If you have just two screens, that might not be an issue even with mobile internet.

[2021-06-17 18:12] blackjackkent opened #53797 "Themes: Implement mobile view for auto-loading homepage confirmation modal changes"
As an extension of the work in https://github.com/Automattic/wp-calypso/issues/53675, we will also update the design of the auto-loading homepage modal on mobile views. Since the visual theme previews described in https://github.com/Automattic/wp-calypso/issues/52792 would be potentially too cramped in a mobile setting, we will instead implement the following user improvements for mobile:

* Addin

[2021-06-17 18:13] ianstewart commented on #53797
cc @onuro

[2021-06-17 18:31] aamills commented on #50126
30195242-hc

Same user again wanting to change the header and not remembering our previous instructions (or not wanting to follow them), from [this comment.](https://github.com/Automattic/wp-calypso/issues/50126#issuecomment-847198008)

[2021-06-17 18:56] desnum commented on #50687
A case of a user being confused by the wording on that screen: 30192050-hc

Perhaps some more appropriate text would be:

[2021-06-17 19:08] carladoria opened #53799 "When publishing a post the pick up date calendar shows marked by default the date the post was created"
Reported by this user on this chat 27712481-hc

### Steps to reproduce the behavior

1. Create a post, save it as draft
2. Go back to the post (on a different date or maybe use an existing draft) and click "Immediately" to schedule the post
3. By default the marked day is the day that it was first created

#### What I expected to happen

The marked/selected day should be the current date

#### Wha

[2021-06-17 19:16] metabreakr opened #53800 "Post notifications not sent on re-published posts"
For users who wish to evergreen content by un-publishing a post, and scheduling it to publish on a new date, post notifications are not sent to subscribed users, as technically the notification already went out upon first publish.

### Steps to reproduce the behavior

1. Publish a post today
2. Observe that a post notification is sent
3. Unpublish that post tomorrow, and schedule it to publish aga

[2021-06-17 19:44] mikeicode commented on #53401
30078657-hc Safari 13.1 on Mac OS X 10.15.7

[2021-06-17 20:16] worldomonation opened #53803 "Playwright: add mobile support to components and pages"
**Task Details**
Current implementation of the `SidebarComponnt` only supports viewport sizes that constantly show the sidebar. There are lots of other places that have a similar issue, where the narrow viewport will hide or condense some elements.

Look at refactoring and adding proper mobile support for these components so that Playwright mobile tests can be turned on for trunk.

**Related to**

[2021-06-17 20:20] worldomonation opened #53804 "Playwright: investigate `Enter invalid search keyword` step in `Support (desktop) @parallel Invalid search string`"
**Task Details**
This test is flakey according to TeamCity.

Investigate why this is.

**Related to**
<-- If there are any other GitHub issue(s) that readers should be aware of, include them here. -->

[2021-06-17 20:24] mattwiebe commented on #52216
Just reporting in here that @Addison-Stavlo found a probable cause: it happens to accounts with "show wp-admin pages if available" setting enabled in `/account/me`.

I won't be able to dig in more today but if that bears out in testing, this becomes a much lower priority since the number of people registering an additional site on an account with that setting enabled will be pretty low.

[2021-06-17 20:57] onuro commented on #52792
I'm leaning towards that too, since the more device goes smaller, the more it makes no sense to have the previews anymore.

Should we just hide the previews for mobile, let's say for <410/400px? Or do we use standard breakpoints?

[2021-06-17 21:25] mreishus commented on #53674
Good news: It looks like there's already a built in version of theme butler, or theme preview, that does not have a UI and does not require any special A8C settings or flags. Simply add `?theme=pub%2Ftwentytwentyone&hide_banners=true` to the end of the frontend url of a blog that you have the capability of switching themes on. It worked for a non-a8c account in my testing.

[2021-06-17 21:32] mreishus commented on #53674
I will look to develop some prototypes based off this pr: https://github.com/Automattic/wp-calypso/pull/53796
Edit: Child PR here #53823

[2021-06-17 21:42] roo2 commented on #53364
Interestingly, I first reproduced this on a (jurassic ninja) site which never had the Gutenberg plugin installed. After I installed Gutenberg on the site, the welcome tour was translated, as expected.  Surprisingly, after I uninstalled Gutenberg, the welcome tour _remained_ translated.

[2021-06-17 21:49] kelliepeterson commented on #52898
Actually this is already in place.
![Screen Shot 2021-06-17 at 2 49 02 PM](https://user-images.githubusercontent.com/3022756/122476496-2abeb380-cf7b-11eb-9152-b8c88f7a811a.png)

[2021-06-17 21:49] #52898 closed, assigned to nobody

[2021-06-17 21:55] roo2 commented on #53364
I couldn't reproduce this either with my atomic platform site where I deactivated gutenberg, only on a site where gutenberg has never been installed.

[2021-06-17 22:05] kelliepeterson commented on #27932
This specific issue has been addressed with https://github.com/Automattic/wp-calypso/pull/50762

Closing.

[2021-06-17 22:05] #27932 closed

[2021-06-17 22:08] kelliepeterson commented on #39364
While we hope that we've reduced the instances of this happening to begin with in https://github.com/Automattic/wp-calypso/pull/50762 I'm going to leave this open for a bit because I like the idea of handling it this way if it proves to be a continued problem.

[2021-06-17 23:03] the-misha opened #53805 "Settings > Privacy: ""Copy suggested policy text to clipboard" not working"
### Steps to reproduce the behavior

1. Go to https://tamsinstestsite.wpcomstaging.com/wp-admin/options-privacy.php
2. Click on Policy Guide.
3. Scroll down to one of the sample policies (WordPress, WooCommerce, Akismet) and expand it.
4. Scroll to the bottom.
5. Click "Copy suggested policy text to clipboard."

#### What I expected to happen
The policy guide text copies to the clipboard, and can

[2021-06-18 00:22] andrewserong commented on #53674
Nice, this sounds promising! 👍

[2021-06-18 02:03] michaeldcain commented on #52931
Just adding some context from our work on the theme upgrade flow last week (#53585)… @ianstewart noticed that when a [theme is uploaded and kicks-off the Atomic process](https://github.com/Automattic/wp-calypso/blob/3abdf13ff3fed326daed436d252027cfe5cdd05b/client/state/themes/actions/theme-transfer.js#L31), the endpoint seems to auto-activate that theme _before_ the "activate" option is shown. Thi

[2021-06-18 02:24] nagpai commented on #53626
Another issue, this time on simple site
#30188088-hc

[2021-06-18 03:51] formosattic commented on #53401
6441315-hc on Safari
23906263-hc on Safari 12.1

[2021-06-18 03:52] ollierozdarz commented on #53768
@StefanNieuwenhuis ah right, wasn't aware of that! Great find. Ok, let's leave it as is for now (if you haven't already done anything with it). If in a new iteration we feel it needs work we can always address it later 👍

[2021-06-18 04:33] #53604 closed, assigned to jordesign

[2021-06-18 07:32] razvanpapadopol opened #53807 "Signup: reskin is missing domain search reset button"
### Steps to reproduce the behavior

1. Go to `/start/domains?flags=signup/reskin`
2. Enter a domain search query

#### What I expected to happen
(X) close icon button to be displayed on the right side of the search box

#### What actually happened
No button is there to reset the search query

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
<img width="671" al

[2021-06-18 07:34] daria2303 commented on #53324
I got this issue 4075679-zd-woothemes

User sees the error, but I don't. It works rather opposite.

Deactivating all plugins - ok
Activating just WP plugins - error
Deactivating Gutenberg - ok

[2021-06-18 07:45] donalirl commented on #52792
@onuro here's the link to the new doc for the Learn More link: https://wordpress.com/support/changing-themes/

I'll add in a screenshot of the new modal once it's live.

[2021-06-18 08:17] arunsathiya commented on #52898
@kelliepeterson I couldn't see that button for an expired domain, as the screenshot on my post indicates. Is it possible that the button is available only for those that are active? I don't have an expired domain to test with at the moment.

[2021-06-18 09:28] Copons commented on #52216
It happened to me as well with the wp-admin option turned on, and was also confirmed by one of the people testing the 4th CfT.
This is excellent news!

[2021-06-18 10:02] zdenys opened #53812 "Customizer: Clicking `Edit Image` in `Select logo` modal doesn't load the image"
### Steps to reproduce the behavior

1. Go to WordPress.com > My Sites > Appearance > Customize > Site Identity > Logo
2. Click on `Select logo`
3. Click any image in the modal window that opens
4. Click `Edit image` in the right-side panel

#### What I expected to happen
The Edit Media screen with the image to be edited
#### What actually happened
The Edit Media screen loads but not the image its

[2021-06-18 10:26] simison commented on #52792
There might be space on landscape mobile to have those, and put buttons side by side?

Would it be helpful to show a narrower mobile version of the site on mobile screens, side by side? Since the goal of screenshots is to communicate clearly what each option means, I don't think that need goes away on mobile.

[2021-06-18 10:45] #53770 closed, assigned to alshakero

[2021-06-18 10:58] mahbubh0070 opened #53815 "Whenever I try to execute "yarn start" then the problem starts."
Well, I was trying to install wp-calypso in my local server and I have followed all the steps perfectly. The problem is whenever I try to execute "yarn start" then the problem starts, Please check the attachments. Let me know how to solve these issues.

1. Make sure you have **git**, **node**, and **yarn** installed.
2. **Clone this repository locally.**
3. Add **127.0.0.1 calypso.localhost** to y

[2021-06-18 11:22] daria2303 commented on #53324
It may be related to Gutenberg update, checking it there, so I am closing back this one.

[2021-06-18 11:22] #53324 closed, assigned to roo2

[2021-06-18 11:38] pablinos commented on #50347
r227501-wpcom

[2021-06-18 11:38] #50347 closed, assigned to pablinos

[2021-06-18 12:06] StefanNieuwenhuis commented on #53768
Moved this one to [Signup: Reskin improvements](https://github.com/Automattic/wp-calypso/milestone/357) since these changes aren't blocking the release.

[2021-06-18 13:41] niranjan-uma-shankar commented on #52940
Deployed to proxied users. Call for testing posted in p58i-aLK-p2.

[2021-06-18 13:41] #52940 closed, assigned to niranjan-uma-shankar

[2021-06-18 14:32] michaeldcain commented on #52174
@sixhours - happy to grab this (or use it for some new dev onboarding on Payments).

Should the sub-title be specific to the tab within the section? That sub-title fits the "Active Upgrades" tab, but not so much the Billing History (just a list of receipts), and the Payment Method tabs.

[2021-06-18 14:34] sixhours commented on #52174
Yep, that makes sense. We did change it for sub-tabs in a couple other places IIRC.

[2021-06-18 14:56] WunderBart commented on #53557
This is interesting, as it was almost the exact opposite for me when fixing flaky tests in Selenium (if I understand the issue correctly). The more arbitrary elements were awaited for, the more likely the test would be flaky and slow the whole suite down. The key to simulating a reliable element interaction has been for me to focus only on the element that the user is actually interacting with. Th

[2021-06-18 15:03] ezebecke commented on #50917
Another report with German: 4077700-zd

[2021-06-18 15:23] kurt213 commented on #53519
Agree on suppressing both of these.

This is a great idea. Happy to go with the 'flat list' approach that was suggested on #53592.

[2021-06-18 15:34] liviopv opened #53822 "Podcast Block: add preload settings to the block"
The `preload` value we set on the Podcast Block could be skewing download stats in some podcasting services, namely Buzzsprout.

The user I chatted with mentioned Buzzsprot said this to them:

https://www.w3schools.com/tags/att_audio_preload.asp

Considering the diversity of podcast services this block as to account for, it feels like **[adding preload options like the ones available in the Audio

[2021-06-18 16:00] razvanpapadopol commented on #52905
https://github.com/Automattic/wp-calypso/pull/53700 was reverted in https://github.com/Automattic/wp-calypso/pull/53820 to fix the following regressions on Domains step:
- position of the "Get a free one-year domain..." banner
- spacing at the bottom, before "show more" button

**Expected**
<img width="809" alt="Screenshot 2021-06-18 at 19 02 48" src="https://user-images.githubusercontent.com/1419

[2021-06-18 16:08] metabreakr commented on #53401
4078289-zen

[2021-06-18 16:17] kelliepeterson commented on #52898
@arunsathiya your screenshot indicates that you are not the owner of that domain so you wouldn't be able to take a renewal action.

[2021-06-18 17:00] ianstewart opened #53825 "Consider Treatment for FSE Designs in Design Picker"
Stubbing out an issue just to get started tracking this by sharing some initial thoughts.

![image](https://user-images.githubusercontent.com/545779/122594514-b93f3d80-d02c-11eb-9041-f685be4ca5d4.png)

[2021-06-18 17:01] ianstewart commented on #53825
cc @ollierozdarz on this one.

[2021-06-18 17:05] ianstewart opened #53826 "Consider treatment for highlighting properties of FSE Themes in Showcase for initial rollout / beta testing"
Stubbing out an issue to make sure we're tracking some ideas we've discussed elsewhere.

![image](https://user-images.githubusercontent.com/545779/122594981-5e5a1600-d02d-11eb-8fe4-b66b945123bb.png)

Other UI to consider in activation flow:

- Post activation notice/modal
- Switching away from Block Theme to Classic Theme
- Where to use inline help (for a document that doesn't exist yet)

[2021-06-18 17:07] worldomonation commented on #53557
This question can be addressed by the `NewPostFlow` and I will try to go into more detail as to why tests were failing unexpectedly and was resolved by making it wait for selectors.

The section of the test in question was implemented as [`wp-likes-spec`](https://github.com/Automattic/wp-calypso/blob/ab5ec250a53a9949ec7f6c0d025187deb6341718/test/e2e/specs/specs-playwright/wp-likes-spec.js#L33-L40)

[2021-06-18 17:07] ianstewart commented on #53826
cc @kathrynwp @jordesign

[2021-06-18 17:08] razvanpapadopol opened #53827 "Launch: update reskin processing screen"
**Task Details**
Before using the [reskin processing screen](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/reskinned-processing-screen/index.jsx) for `launch-site` flow, we should update its copy to say "launching your site" instead of "Applying design", etc.

[2021-06-18 17:13] worldomonation commented on #53557
I think my example in the previous comment should also address this part of the question, but let me know if I did not!

[2021-06-18 18:09] metabreakr opened #53830 "Allow for users to turn off the Action Bar"
For some sites, this is an unnecessary feature that's _forced_ upon users.

### Steps to reproduce the behavior

1. Go to any simple site, such as https://rbjr.co.uk/
2. Observe that the Action Bar is visible by default

#### What I expected to happen

An option in _Settings_ to hide the action bar.

#### What actually happened

This can only be hidden using CSS on a Premium plan, or by upgrading

[2021-06-18 18:16] carinapilar opened #53831 "Post options showing in front of content"
### Summary
We weren't able to replicate this, even from the user's account. When editing a post, the post options that should be at the bottom are in front of the content in the editor.

### Context

#### Does this happen on simple or atomic sites or both?
We have seen in Simple and Atomic sites.

#### Screenshot / Video.
![PostOptionsScreen1](https://user-images.githubusercontent.com/16104522/12

[2021-06-18 19:25] andres-blanco commented on #52931
Following the steps in the description I consistently get this error when clicking "activate":
![image](https://user-images.githubusercontent.com/375980/122605618-14355c80-d04e-11eb-8b36-c65d2d7aae07.png)

When I click refresh I end up in this page: https://[YOUR_SITE].wpcomstaging.com/wp-admin/theme-install.php?browse=featured

The uploaded theme is activate but this behaviour is strange. I will

[2021-06-18 19:47] ianstewart opened #53833 "Site Editor Tour: Following instructions exactly adds blocks outside header footer bounds"
Create a new site in the FSE onboarding flow and follow the tour to this slide …

![image](https://user-images.githubusercontent.com/545779/122609776-27432f00-d044-11eb-8828-ead2d51065ae.png)

Follow the instructions as written by opening inserter, and clicking on some blocks and you'll find them …

![image](https://user-images.githubusercontent.com/545779/122609855-4641c100-d044-11eb-9447-d285bb4

[2021-06-18 19:51] worldomonation opened #53834 "Playwright: GutenbergEditorPage.publish sometimes unreliable"
**Task Details**
`GutenbergEditorPage.publish` with the `visit: true` set is sometimes flakey as the `Promise.all` call doesn't always resolve in the way you would expect.

Look at either beefing up the wait and actions so the navigation failure doesn't occur as often.

Relevant [log](https://teamcity.a8c.com/repository/download/calypso_RunCalypsoPlaywrightE2eDesktopTests/6318775:id/logs.tgz!/logs

[2021-06-18 19:58] ianstewart commented on #53826
I was reviewing our updated doc for theme switch and noticed that we recommend users click the three dots menu. We should also consider giving people a pre-activation modal letting them they may have new features like a Site Editor with this theme and link to a support doc.

General principles for consideration here:

- Most people should activate FSE themes and be happy as-is.
- But when users ne

[2021-06-18 20:21] DavidRothstein commented on #52473
Just a note: This is now blocked in the shopping cart for all types of billing term downgrades (i.e. you can't downgrade to monthly during a product upgrade, as per the issue title here, but you also can't downgrade from 2-year to 1-year either).

So when we prevent the user from selecting these options in Calypso, we should prevent all those options from being selected.

[2021-06-18 20:46] DavidRothstein opened #53837 "Professional Email: Confusing "You can purchase new mailboxes at the prorated price of $0.00 per mailbox" message when adding a new mailbox"
### Steps to reproduce the behavior

1. Purchase an Email subscription for a domain you own (you will get it via a free trial).
2. Go to the screen for adding a new mailbox.
3. See a message like "You can purchase new mailboxes at the prorated price of $0.00 per mailbox":

![email-zero-dollar-proration](https://user-images.githubusercontent.com/235183/122614565-e56eb480-d054-11eb-80a8-5e67c58ce5fb

[2021-06-18 20:56] DavidRothstein commented on #53837
Internal report: pcyqBp-4n-p2

[2021-06-18 21:04] DavidRothstein opened #53838 "Monthly plan dowgrades: Incorrect "Renew annually" option on two-year plans"
### Steps to reproduce the behavior

1. Get a 2-year plan that is going to expire soon (in the next month).
2. Go to the manage purchase page.
3. You'll see options to "Renew Annually" and "Renew Monthly"

![renew-annually-on-bi-annual-plans](https://user-images.githubusercontent.com/235183/122615647-dc7ee280-d056-11eb-974d-6d7f0bd93460.png)

The problem is that the "Renew Annually" option is wron

[2021-06-18 22:59] DustyReagan opened #53839 "Consistent linkable anchor ID attributes on dashboard HTML section headers and titles."
**What**
Would like to see consistent HTML ID attributes on header tags and DIV section titles in the WordPress dashboard.

**Why**
These IDs could used to create fragmented URLs to reference specific sections of a dashboard page when communicating with a customer or colleague.

For example Tools > Marketing > Traffic > “Site verification services.” The “site verification services” panel is at the

[2021-06-19 01:55] hacchism opened #53840 "Billing: Price shows up with a dot when it's larger than one thousand(with some specific interface languages)"
### Steps to reproduce the behavior

1. Make sure that your account's interface language is set to any of these: ES, PT BR, DE or IT
2. Go to https://wordpress.com/plans/EXAMPLE.COM and add any plan to your cart(make sure to pick a plan that its total price goes over one thousand)
3. Check the checkout page at https://wordpress.com/checkout/EXAMPLE.COM

#### What I expected to happen
The price sho

[2021-06-19 02:16] DavidRothstein commented on #53840
I think that's expected behavior -- different countries use the comma and period in different ways (https://en.wikipedia.org/wiki/Decimal_separator#Usage_worldwide).

It's possible other areas of Calypso display prices inconsistent with the way checkout is displaying it, but it looks to me like checkout is actually doing it correctly.

Based on the screenshot, I'm guessing the user who ran into th

[2021-06-19 02:26] formosattic commented on #52241
Also tracked at 384-gh-Automattic/atomic

[2021-06-19 02:40] olaseni commented on #53837
Thanks for surfacing this @DavidRothstein. We have scheduled to handle this in the nearest possible time. I have also responded on that P2.

[2021-06-19 04:05] hacchism commented on #53840
@DavidRothstein Forgive my ignorance. I didn't know that🤦‍♂️

Closing it as it indeed looks like expected behavior.

[2021-06-19 04:05] #53840 closed, assigned to nobody

[2021-06-19 06:59] razvanpapadopol opened #53841 "Editor: two cookie banners are displayed"
Mentioned in pbAok1-2d9-p2#comment-4514

### Steps to reproduce the behavior

1. Create a site on /start
2. Go to editor

#### What I expected to happen
See 1 cookie banner

#### What actually happened
There are 2

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/14192054/122634086-e3543680-d0e4-11eb-8aea-26748

[2021-06-19 07:03] #53807 closed, assigned to razvanpapadopol

[2021-06-19 08:35] fresatomica commented on #53100
Another one: https://wordpress.com/forums/topic/i-cant-upload-a-new-post

[2021-06-19 09:21] zdenys opened #53843 "Live Demo doesn't open via three-dots menus for various themes (Twenty Sixteen, Twenty Fifteen, Hemingway Rewritten, Ryu)"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/themes/
2. Click on '....' text to one of these themes: Twenty Sixteen, Twenty Fifteen, Hemingway Rewritten, Ryu

#### What I expected to happen
See Live demo modal
#### What actually happened
Nothing
### Context

#### Browser / OS version
Chrome
#### Is this specific to the applied theme? Which one?
Yes. Twenty Sixteen, Twenty Fi