[2022-10-04 17:55] cuemarie commented on #31859
📌 SCRUBBING : RESULT
- Tested on Simple: **Not Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Following the instructions above, I uploaded an MP4 to a private, Premium plan site. On both Firefox and Safari, I can open the URL of the file directly in browser (so long as I'm logged into an account following the site).
     - Mac OS 12.5.1
     - Safari 15.6.1 , Firefox 105.0.1, Chrome 105.0.51
- Teste

[2022-10-04 17:55] #31859 closed

[2022-10-04 20:03] p-jackson commented on #68557
Looks like there's a planned modernisation of the stats page p1HpG7-inx-p2, so doesn't look like it's on a path to being deprecated.

I think there's still space for some stats on the sites manage page though, but it's more about being able to scan things. Like an alert if your viewership happens to drop suddenly. In this sense showing the sparkling is more appropriate than a raw number IMO.

We c

[2022-10-04 20:15] csabarakasz commented on #53635
Same report here 5604961-zd-woothemes

Also, another report of this error: https://github.com/Automattic/wp-calypso/issues/65656#issuecomment-1267526340

[2022-10-04 20:19] #68598 closed, assigned to edanzer

[2022-10-04 20:24] eoigal opened #68604 "Task: Track Reader refresh issues"
### Details

This task will be used to track any bugs introduced with the reader refresh #66650

### Checklist

- [x] Reader full post table width is too wide - eg https://wordpress.com/read/feeds/45339984/posts/4283753749
<img width="1515" alt="Screen Shot 2022-10-04 at 3 09 34 PM" src="https://user-images.githubusercontent.com/5560595/193918855-14a94686-d5ea-490f-9c8b-c235272a1058.png">

- [x] S

[2022-10-04 20:27] AnthonyLedesma commented on #68130
@paxblueribbon Thanks for the report on the CoBlocks side. With Gutenberg version 14.2.0, I was not able to replicate it.  I understand there was something with Gutenberg going on like a pinned version is that something I can run on the open-source WordPress side?

I also see people reporting sites in WordPress.org able to replicate. I was not able to reproduce with WP 5.9.2 or 6.0.2 or with Guten

[2022-10-04 20:38] csabarakasz commented on #65656
From Logstash it seems like the ` and the ' character seems to trigger the issue in this user's case: ![nk9uhxLC2Fc72VCuSbjtloeY0i0LSETQmNkkFVyy.jpg](https://user-images.githubusercontent.com/84539773/193922257-923d8ee3-e694-4f89-af6f-17000b773d82.jpg)

[2022-10-04 20:48] cuemarie commented on #68506
📌 SCRUBBING : RESULT
- Tested on AT: **Could Not Replicate** on separate test site

📌 FINDINGS/SCREENSHOTS/VIDEO
- For good measure, I tried replicating this issue on a test site with the same plugins installed, and the same theme installed as the user above.
- The Login button was available right away after subscribing, and worked as expected.

*Before Subscribing*

![Markup on 2022-10-04 at 13:4

[2022-10-04 21:04] cuemarie commented on #68559
📌 ACTIONS
- Feature request kept

[2022-10-04 21:54] kelasante commented on #67229
Hi @fullofcaffeine, following up again on this because the user in 5566112-zen is back again. They have a lot of pages where the text in the pull-quote block shows on the live site, but not in the Editor. Are there any other options for this?

[2022-10-04 22:42] ccwalburn opened #68607 "Blog Posts Block: Selecting Parent Category does not include Child Category Posts"
### Quick summary

If you filter a blog post by a parent category, it only displays the posts that are assigned to the parent category and does not include the child category posts. An automatically-generated WordPress parent category page displays posts with both the parent and child categories, so I would expect the Blog Posts block to work the same way.

### Steps to reproduce

1. Create new pa

[2022-10-04 22:47] sirbrillig commented on #68604
I noticed the newer, thinner reader view just now and something seems to be broken when navigating posts via the keyboard (`j` and `k`). If you press `j` to scroll down a bunch of posts, eventually the scrolling just stops even though the selected post keeps moving down.

https://user-images.githubusercontent.com/2036909/193944475-a23f141e-d3ef-4465-ab6a-742a4a48be04.mov

[2022-10-04 22:52] SaxonF commented on #68557
I considered this but was concerned about dev effort since its not currently part of the cross site stats page. If we aren't concerned about that then let's do it.

[2022-10-04 22:55] SaxonF commented on #68557
This is focused on single sites. Is the multi site view a Dotcom only thing?

[2022-10-04 22:58] SaxonF commented on #68557
@danielbachhuber just an attempt at covering what's shown in the existing stats page

<img width="1075" alt="image" src="https://user-images.githubusercontent.com/1072756/193945753-40ca7aab-e050-42c8-b0df-cd59f2fbff04.png">

[2022-10-04 23:08] autumnfjeld opened #68609 "Document onboarding flows with respect to their ending point, template settings, and some starter site settings"

[2022-10-04 23:10] ashleyleia commented on #68604
I'm noticing the same issue as described above that pressing 'j' only scrolls down to a certain point, and then won't scroll down any further.

I like the more modern look of the refresh, but I think a few tweaks could make it more user-friendly.

With the "like" icon no longer being filled when a post has been liked, it's now quite difficult to see the difference in icon outline colour between wh

[2022-10-04 23:17] cuemarie commented on #29047
Hey @cometgrrl ! Just to check in since this report has been stale for a while and isn't an HE report - would you like this to still go through a triage run from HEs? Or would it help to just move this through to the Quality Squad so they can take a look at it from here?

[2022-10-04 23:26] cuemarie commented on #68554
📌 SCRUBBING : RESULT
- Tested on Simple: **Could Not Replicate**

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm not seeing the `Learn more` link on any of my simple sites under the Activity Log. On my simple sites with a plan, I actually see that banner area flicker for a moment, then disappear, while on my free site, I see the message, but no `Learn more` link. Take a look:

**Personal Plan Site**
![Markup

[2022-10-04 23:38] cuemarie commented on #68607
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Behavior matched on Simple and AT sites. Filtering the **Blog Posts block** to a parent category showed no posts from child categories

![Markup on 2022-10-04 at 16:34:33](https://user-images.githubusercontent.com/27249804/193949434-cc25d5ea-ce38-4412-b511-41732c67ac58.png)

![Mar

[2022-10-04 23:46] paulopmt1 opened #68610 "Complete installation of dotorg managed plugins"
When we Install Visual Composer, Calypso can't confirm it's installed due to the difference between the real `visualcomposer` and the current `visualcomposer-wpcom` slugs:

![image](https://user-images.githubusercontent.com/1044309/193950497-353e2174-94e6-4408-98d2-a13b298326bc.png)

[2022-10-05 01:37] Jaykame opened #68612 "Search and Replace tool on Calypso"
### What

User came in asking for a **Search and Replace** tool that can work globally on their site for page titles, post titles, post content etc. Ideally, this is a built-in feature on calypso on both simple and atomic sites.

### Why

This tool would be useful for user who does not want or does not have the feature to add third-party plugins on their site.

For example, if a user has a few hun

[2022-10-05 01:52] thekingsprojects commented on #52100
Another request here: 5606142-zen

[2022-10-05 01:57] #68251 closed, assigned to mpkelly

[2022-10-05 02:14] mpkelly commented on #68251
Fixed in https://github.com/Automattic/wp-calypso/pull/68257

[2022-10-05 03:14] lsl commented on #68575
Beware this link is moving in https://github.com/Automattic/wp-calypso/pull/67781/files?w=1#diff-04e84428ce7f3797e30b27404dfd422ec0b053242ab82d1a6fc0ec58880d0c06R36

[2022-10-05 03:18] arthur791004 commented on #68531
Close it via https://github.com/Automattic/wp-calypso/pull/68561

[2022-10-05 03:18] #68531 closed, assigned to arthur791004

[2022-10-05 03:19] #68376 closed, assigned to arthur791004

[2022-10-05 04:00] arthur791004 commented on #67854
I think 15/16 verticals are enough, and we could increase to 20 later if we want 🙂

I think we could also shuffle the top verticals to avoid the influence of the order, what do you think?

[2022-10-05 04:42] lsl opened #68620 "Marketplace: Turn the category header into re-usable component and use it in plugins browser list"
During https://github.com/Automattic/wp-calypso/pull/67781 and earlier, https://github.com/Automattic/wp-calypso/pull/67636 I found it difficult to update section header css / margins as the same looking headers were being defined in multiple places wrapped in different levels of divs.

I'd like to replace all the existing headers with a single header component we use across all the sections so we

[2022-10-05 04:42] lsl opened #68621 "Marketplace: remove FullListView"
I found the `FullListView` component to be unnecessary in https://github.com/Automattic/wp-calypso/pull/67781. It used to be used more widely but we now use the PluginsBrowserList directly. The only place it is currently used is the category page.

Let's inline it into the category page so we can more easily implement https://github.com/Automattic/wp-calypso/issues/68620

- [ ] Delete and inline `

[2022-10-05 04:42] lsl opened #68622 "Marketplace: Use the same section wrapper + header component for each section of the marketplace"
In order to close out https://github.com/Automattic/wp-calypso/issues/65574, we need to match the css in use across each "section".

A section is a header, subtitle, optional right aligned subtitle, and body content.

We have a [Section](https://github.com/Automattic/wp-calypso/blob/trunk/client/components/section/index.tsx) component used [here in the education footer](https://github.com/Automatt

[2022-10-05 04:43] p-jackson opened #68623 "Sites Management Page: Launch nag icon should be bolder"
As pointed out here https://github.com/Automattic/wp-calypso/pull/68533#issuecomment-1266336815, the donut icon in the launch nag message is a little thin.

![Image](https://user-images.githubusercontent.com/1500769/193982836-5ac63fb1-5da3-4024-9220-6fa65814a6bd.png)

Let's make it a pixel or two thicker.

Done is:
- [ ] Donut icon has an appropriate visual weight. It should be easy enough to inte

[2022-10-05 04:47] Robertght commented on #54949
Another case in 5605303-zen

[2022-10-05 04:55] p-jackson opened #68625 "Sites Management Page: Replace `react-intersection-observer` with `IntersectionObserver`"
#68533 introduced the `react-intersection-observer` dependency. This just wraps the browser's built-in `IntersectionObserver` functionality, so I don't think taking on the extra dependency is worth it. It just makes dependency upgrades harder down the track.

Here's some existing Calypso code that does the same things
https://github.com/Automattic/wp-calypso/blob/bba5d88eb17e0ab5ea9481486cacd0ca05

[2022-10-05 05:06] donalirl commented on #68582
I agree it would be helpful to show the article's title, because the content of the docs can change like in the What are blocks? example - ref: p7DVsv-fpN-p2#comment-42269. We regularly rewrite the titles of docs to be more actionable.

I scanned the list. Based on what I saw, the suggested docs are _mostly_ good. However, there are some instances where we have more relevant suggested articles to

[2022-10-05 05:06] #68020 closed, assigned to danielbachhuber

[2022-10-05 05:11] p-jackson commented on #68020
@vindl FYI the scope of this task changed a bit because we don't have ready access to the data for the exact steps. That means we're not recording tracks for particular steps, just that they clicked to go to the launchpad in general.

[2022-10-05 05:28] roo2 commented on #68604
Thanks for the feedback @ashleyleia! I've worked on the like button contrast issue in https://github.com/Automattic/wp-calypso/pull/68616 , added the letter spacing issue to our checklist, and forwarded the min-width feedback to @ollierozdarz 👍 p1664919359274319-slack-C03NLNTPZ2T

[2022-10-05 05:32] p-jackson commented on #68557
I realise now that @vindl's comment about deprecating `/stats` is about deprecating the all-sites stats page in Calypso. This makes sense.

@SaxonF shared this mockup here p1664931190290019/1664858998.620499-slack-C041RHH38NQ

https://user-images.githubusercontent.com/1500769/193987479-51e193c1-4acc-4d2e-947e-76e997155d7f.mp4

I think adding the sparkling is the direction we should take. It's bett

[2022-10-05 05:46] p-jackson opened #68626 "Sites Management Page: display stats sparkline as a column"
A goal for Sites Management Page i2 (pdKhl6-Iq-p2) to "Add the Stats view to the sites list". After discussing in #68557 we are going to replicate the sparkline from the Calypso sidebar as a column in the SMP table.

**Design:**
![Image](https://user-images.githubusercontent.com/1500769/193988998-e1883248-6b98-4d7c-b160-c903abf653eb.png)

**The sparkline we should replicate:**
![Image](https://use

[2022-10-05 05:47] p-jackson commented on #68557
I've written up concrete requirements for i2 #68626

[2022-10-05 05:47] #68557 closed, assigned to SaxonF

[2022-10-05 06:25] candy02058912 commented on #68560
Seems like a duplicate issue with: https://github.com/Automattic/wp-calypso/issues/68599

[2022-10-05 06:29] rcrdortiz commented on #68506
I'll add this issue to team Ajax's board so that we can have a look as soon as possible.

[2022-10-05 07:16] arthur791004 opened #68628 "Design Picker: style variation won't be reset when the user clicks on the browser back button"
Refer to p1664953898290819-slack-CRWCHQGUB

## Reproduce Steps

1. Go to `/setup?siteSlug=<your_site>`
2. When you land on the Design Picker step, select a theme with style variation
3. Click the browser back button, and you will back to the Vertical step again
4. Finish vertical step
5. When you enter the Design Picker step, select a theme without style variation
6. Continue
7. You will see the e

[2022-10-05 08:31] TimBroddin commented on #68587
I've sent myself this specific e-mail and I get no styling on the button block:

<img width="877" alt="CleanShot 2022-10-05 at 10 29 42@2x" src="https://user-images.githubusercontent.com/528287/194016383-cd16befe-3e53-41fe-8d46-7aec911f70cf.png">

I'm investigating this a bit further.

[2022-10-05 08:45] TimBroddin commented on #68587
I've searched through the stylesheet history, and can't find any references to button styling.

[2022-10-05 08:46] #68380 closed, assigned to ivan-ottinger

[2022-10-05 09:35] bangank36 commented on #68467
Do we have a selector to detect when the store has been expired? Or we can just check the goals and intent `site-setup-flow.ts`? 🙏

[2022-10-05 11:18] bogiii opened #68641 "Remove in progress "Your email list is being uploaded..." notification"

[2022-10-05 11:35] mashikag opened #68642 "[Invite All] Track `wpcom_email_send` for old email templates"
Background: p1664533056672659-slack-C02TCEHP3HA

[2022-10-05 11:43] rcrdortiz opened #68643 "Limiting Global Styles: Launchbar should only show the notice when there are style changes"
### What

We need to limit the launchbar so that only sites that aren't using global styles will see the upgrade notice.

### Why

Right now the Launchbar will show a notice for all free sites. The notice is shown independently of if the site is actually using the Global Styles feature.

### How

See: https://github.com/Automattic/wp-calypso/pull/68525#discussion_r987756328

[2022-10-05 12:33] davemart-in opened #68647 "Task: Fix Reader Issues"
## Details

In this task I will be working on a handful of reader issues which popped up after deploying a number of design updates Yesterday.

## Updates

- [x] Custom letter spacing is making cards not very legible p1664859810730009/1664853036.397099-slack-C03NLNTPZ2T

- [x] Fix icon alignment across reader (take 3) p1664919238808439-slack-C03NLNTPZ2T
<img width="1461" alt="CleanShot 2022-10-04

[2022-10-05 12:47] pehaa opened #68649 "With Storefront theme the "Blog pages show at most" setting overrides "Products per row" and "Rows per page" WooCommerce Product catalog settings."
### Quick summary

The **Blog pages show at most** setting overrides the Product catalog settings **Products per row** and **Rows per page** from Customize > WooCommerce > Product catalog. This only happens when **Blog pages show at most** has any value different than the default **10**. I was able to confirm this issue with two themes: Storefront and Astra.

### Steps to reproduce

1. Start with

[2022-10-05 13:04] #68063 closed, assigned to phcp

[2022-10-05 13:07] #68573 closed, assigned to lupus2k

[2022-10-05 13:10] eoigal commented on #68604
I don't think this is a bug. [The post below is being detected as a photo post which means the title and excerpt are not rendered. If character length is less than 85 chars and the canonical image is the right size, it gets displayed as a photo post.](https://github.com/Automattic/wp-calypso/blob/5296b8665ff87f18665bbd0e23b6381108950af4/client/state/reader/posts/normalization-rules.js#L80)

* Some

[2022-10-05 13:34] #67795 closed, assigned to phcp

[2022-10-05 13:53] mashikag commented on #68577
Displaying columns block as a single column in emails can be an option to solve this.

[2022-10-05 13:56] mashikag commented on #66408
Ensure we are using the old comment template for those.

[2022-10-05 14:06] renancarvalho commented on #68016
I investigated this one a bit and noticed that it is not aligned because the top is calculated using the header height style variable from `@wordpress/base-styles `which is 60px (Gutenberg height) but calypso has 30px height.

A simple fix would be like add the correct top based on where the Help Center is ( Calypso or Gutenberg ).  With that I have two questions.
1 - Is there any other place wher

[2022-10-05 14:49] ivan-ottinger commented on #66408
At the end it looks like the old email template for pingbacks and trackbacks should be still in use. Here is the related patch that removed the feature flag - so you don't have to search for it: D88972-code.

[2022-10-05 14:50] bogiii opened #68656 "Stepper framework: Create a new import flow"

[2022-10-05 14:58] ivan-ottinger commented on #66408
D88972-code#C5002645NL494

That's a great catch! Looking at the code, the issue has been there since we launched the New Comment email template / enabled the flag.

[2022-10-05 15:23] mashikag opened #68659 "Newsletter: Provide pre-defined accent color options with ability to select a custom one"
Related: pdDOJh-P2-p2

[2022-10-05 15:54] rcrdortiz commented on #68643
PR that fixes this issue can be found [here](https://github.com/Automattic/wp-calypso/pull/68661)

[2022-10-05 15:54] mashikag commented on #66408
Thanks @phcp and @ivan-ottinger for helping out with this! 🙌

D88972-code#C5002645NL494

Great catch @phcp ! 👏  In that case I will close this issue and create a new one specifically about the email version.

[2022-10-05 16:00] #66408 closed, assigned to mashikag

[2022-10-05 16:02] mashikag opened #68663 "[Pingback] [Trackback] Wrong email version recorded in tracks"
Originally raised here: https://github.com/Automattic/wp-calypso/issues/66408#issuecomment-1268555328

[2022-10-05 16:10] #50684 closed, assigned to nobody

[2022-10-05 16:14] Addison-Stavlo opened #68665 "LaunchPad - redirect pre-existing non-launchpad sites to MyHome"
Currently if you create a new site through the standard onboarding flow (not for newsletter or link-in-bio), if you type in/harcode the launchpad URL (`*/setup/launchpad?flow={flow}&siteSlug={siteSlug}`) after site creation you land in the launchpad and are not redirected.

We should update this to ensure non-launchpad sites are properly redirected to MyHome.

[2022-10-05 16:17] vindl commented on #68020
Thanks for the heads up. 👍 We can add them later when/if we display more granular steps on the Sites page.

[2022-10-05 16:34] Addison-Stavlo commented on #59570
Thank you @david-binda ! I tested on my end and the issue seems resolved. Going to close this issue now.

[2022-10-05 16:34] #59570 closed, assigned to nobody

[2022-10-05 16:50] #53347 closed, assigned to nobody

[2022-10-05 16:50] Joshgrygiel commented on #67344
Another here: 37265127-hc

[2022-10-05 16:54] Addison-Stavlo commented on #62181
This process has been updated and I can no longer trigger this focus trap.

[2022-10-05 16:54] #62181 closed, assigned to nobody

[2022-10-05 17:26] epeicher commented on #67657
Diff created adding a testing product only visible to A11ns D89194-code

[2022-10-05 17:42] jsnmoon opened #68669 "Stats: Fix padding for tabs underneath the graph"
Part of the modernization project (p1HpG7-igQ-p2). From i1 design specifications:

<img width="134" alt="image" src="https://user-images.githubusercontent.com/4044428/194136808-f08e3123-36bb-4eaa-90d1-08f8000dcecf.png">

[2022-10-05 18:31] creativecoder opened #68671 "[Bug]: Reader site icons/logos that are white are not visible"
### Quick summary

If a site has a site icon that is white, its invisible in the reader site feed.

### Steps to reproduce

- While logged in to wordpress.com, go to https://wordpress.com/read/feeds/112087748

### What you expected to happen

To see a site icon above the title

### What actually happened

There appears to be blank space.

<img width="624" alt="image" src="https://user-images.githu

[2022-10-05 18:44] sejas commented on #55175
Hi, I'm working on this issue.

My current plan consists in adding an async job in the WPcom API when jetpack `authorize` successfully an atomic site. `class.wpcom-json-api-jetpack-blog-endpoint.php:360`

DIFF in progress: D89202-code

[2022-10-05 20:02] davemart-in commented on #68604
**RE: Narrow width**

@ashleyleia we plan to introduce a sidebar, which should help fill out the page a bit more, but had to cut it from this v1 release:

<img width="720" alt="CleanShot 2022-10-05 at 15 59 07@2x" src="https://user-images.githubusercontent.com/5634774/194152112-5f845c5e-bba7-400e-b8a6-ef71b1b46e90.png">

[2022-10-05 20:11] cometgrrl commented on #29047
@cuemarie Either would work for me. We'll be going through a lot of older issues, not all HE reported, and making sure they are triaged appropriately. If PAs can help with this, that would be awesome, but I also understand if you don't have the bandwidth.

[2022-10-05 20:18] jsnmoon opened #68676 "Stats: Remove the legend and the nested visitor bars from the views page"
Part of the modernization project (p1HpG7-igQ-p2).

<img width="227" alt="image" src="https://user-images.githubusercontent.com/4044428/194156283-cfa1f865-ea61-4146-921f-08d7a5adb452.png">

[2022-10-05 20:19] jsnmoon opened #68677 "Stats: Hide the search terms module"
Part of the modernization project (p1HpG7-igQ-p2).

<img width="210" alt="image" src="https://user-images.githubusercontent.com/4044428/194155724-368ddcf3-aabc-4aea-996b-82beb45ad18d.png">

[2022-10-05 20:19] jsnmoon opened #68678 "Stats: Hide the authors module"
Part of the modernization project (p1HpG7-igQ-p2).

<img width="209" alt="image" src="https://user-images.githubusercontent.com/4044428/194155786-fd6f6347-76af-453a-9504-91920ac88097.png">

[2022-10-05 20:19] jsnmoon opened #68679 "Stats: Hide the videos module"
Part of the modernization project (p1HpG7-igQ-p2).

<img width="207" alt="image" src="https://user-images.githubusercontent.com/4044428/194155870-87c52f55-489b-485b-ad6a-e9090288bc68.png">

[2022-10-05 20:19] worldomonation commented on #66189
Fixed in pMz3w-fV1-p2.

[2022-10-05 20:19] janmckell commented on #67344
- [ ] Another report here:  5594665-zd-woothemes

I also tested this, and I could replicate it on a simple site, on more than one theme, 'TwentyTwentyTwo' and 'Thriving Artist' (a paid theme).

[2022-10-05 20:19] jsnmoon opened #68680 "Stats: Hide the clicks module"
Part of the modernization project (p1HpG7-igQ-p2).

<img width="212" alt="image" src="https://user-images.githubusercontent.com/4044428/194156205-200ad0f2-0c1d-46d5-8a76-9a954300f07b.png">

[2022-10-05 20:19] ashleyleia commented on #68604
@davemart-in Okay, that makes sense! 👍

[2022-10-05 20:30] #68574 closed, assigned to lupus2k

[2022-10-05 20:57] ianstewart opened #68683 "Missing comma in plugin count"
Numbers like this could use a comma.

![image](https://user-images.githubusercontent.com/545779/194162152-8df0fd0d-7485-4009-ba39-47f8773b288b.png)

[2022-10-05 20:59] #68669 closed, assigned to grzegorz-cp

[2022-10-05 21:46] carinapilar commented on #67618
@michaeldcain, I'm afraid that the lower number of tagged chats is more due to HEs forgetting to add the tag, or spot the issue, than an actual decrease in occurrences.

Same as HEs previously reported, I also get this very often, I got one today on 37260618-hc.

[2022-10-05 22:10] #68597 closed, assigned to edanzer

[2022-10-05 22:13] autumnfjeld commented on #66793
![bitmoji](https://sdk.bitmoji.com/render/panel/e6518353-71e9-41b7-9208-fde8f676bf08-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=46)  Thanks for the status update @miksansegundo . I'd say we're ok to ship with that.

[2022-10-05 23:37] jsnmoon opened #68687 "Stats: Remove followers count from the tabbed interface"
Part of the modernization project (p1HpG7-igQ-p2).

![Image](https://user-images.githubusercontent.com/4044428/194182680-a7310535-1ca0-43b9-95d7-e7fe20e2cc96.png)

[2022-10-05 23:53] autumnfjeld commented on #67854
Great idea!!!

I'll add more Fashion images.

[2022-10-05 23:54] autumnfjeld commented on #67854
And just double checking , these six verticals area already whitelisted because they are top level verticals ya?

[2022-10-06 00:29] lupus2k opened #68689 "Marketplace: Eligibility warning modal shows wrong title on business plan"
With Business plan with `.wordpress.com` domain (not yet upgraded), the eligibility warning shows the upgrade domain message, but the title keeps saying `Upgrade your plan to install plugins`

We need to remove the title and keep only the message.

#### Screenshot
![image](https://user-images.githubusercontent.com/402286/194187378-3222bdee-2efc-40e2-a88b-fed5bb202e8f.png)

[2022-10-06 00:31] #68575 closed, assigned to lupus2k

[2022-10-06 01:02] cuemarie commented on #29047
@cometgrrl Got it, thanks for that context! We're in decent shape right now, so I'll move this back to `Needs Triage` to see if we can help put together some reproduction steps here.

[2022-10-06 02:40] taipeicoder commented on #67854
We should also add this to the FTME Change Log / Ship Table.

[2022-10-06 03:03] happychait commented on #44263
Another one in 5608939-zen

[2022-10-06 03:26] taipeicoder opened #68693 "Generated designs: Image replacement mismatch between preview and in the editor"
## Description
The preview of the generated design doesn't match with the end result in the editor. I've only seen this happen for `blog-layout-1`, and it didn't happen for `portfolio-layout-3` or `business-layout-3`. See recording:

https://user-images.githubusercontent.com/797888/194206260-c2a5528b-53fd-4a58-b7a9-e2c06bb0314a.mp4

Steps to reproduce:
1. Head to the Goals capture page `setup/goal

[2022-10-06 03:45] arthur791004 commented on #68628
Close it via https://github.com/Automattic/wp-calypso/pull/68632

[2022-10-06 03:45] #68628 closed, assigned to taipeicoder

[2022-10-06 04:05] miksansegundo opened #68695 "Navigation and logo are not displayed correctly in some pattern previews"
Some patterns are not displayed correctly in the previews. It seems unrelated to Blank canvas because it can be reproduced with all themes.

The header pattern **Centred Header with Logo and Navigation** shows the logo placeholder in the [source site](https://dotcompatterns.wordpress.com/2022/08/29/centred-header-with-logo-and-navigation/) site

<img width="670" alt="Screen Shot 2565-10-06 at 10 5

[2022-10-06 04:34] Greatdane commented on #66602
This looks to have been fixed, closing.

![w7vNPk.png](https://user-images.githubusercontent.com/5075840/194213888-41dbe7dc-aa69-4547-9c52-5bdc1da110a1.png)

[2022-10-06 04:34] #66602 closed, assigned to nobody

[2022-10-06 04:41] Greatdane commented on #65407
I will close this issue as it is expected behavior (there is not a bug, but the issue is more so why does a page list block get inserted, causing confusion - which is something to think about).

[2022-10-06 04:41] #65407 closed, assigned to nobody

[2022-10-06 04:44] Greatdane commented on #63115
As we have heard no more reports about this, and have been unable to reproduce the issue on another site, will close the issue for now.

[2022-10-06 04:44] #63115 closed, assigned to nobody

[2022-10-06 04:48] Greatdane commented on #58611
Closing, this was fixed here; https://github.com/WordPress/gutenberg/pull/37009

[2022-10-06 04:48] #58611 closed, assigned to nobody

[2022-10-06 04:53] Greatdane commented on #61072
Closing as per https://github.com/WordPress/gutenberg/issues/39175

[2022-10-06 04:53] #61072 closed, assigned to nobody

[2022-10-06 05:30] mpkelly commented on #68562
The problematic code is [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/config/flows.js#L245):

[code]
The first time you load the site and click "Add new site", the check at `detectHistoryNavigation.loadedViaHistory()` is `false` and the user step is removed by `removeUserStepFromFlow`. However, if you go back from the `/start` flow to the dashboard and click "Add new sit

[2022-10-06 06:31] fushar commented on #68376
Sorry, missed this. @arthur791004 as you worked on this, did you have a chance to look into the above?

[2022-10-06 06:46] arthur791004 commented on #68376
I've registered that event 🙂

[2022-10-06 07:02] gavande1 commented on #68476
Linked PR https://github.com/Automattic/woocommerce.com/pull/14605

[2022-10-06 08:00] arthur791004 commented on #52596
I'm curious about why the site will become public when the ETK plugin is deactivated. It's weird that activating/deactivating a plugin will affect the privacy settings 🤔

[2022-10-06 08:16] noahtallen opened #68702 "[Bug]: Notifications incorrectly aligns text when iOS font is larger"
### Quick summary

I have iOS larger font sizes enabled to make text bigger on my phone. In this scenario, the notifications panel appears to incorrectly align text.

![71B9F7CA-3FC3-4E77-AC83-4550E02017D1](https://user-images.githubusercontent.com/6265975/194258889-17ec256f-45d6-4f32-9da3-9f5699655e01.png)

![3D14305E-E43E-4DDC-9E17-FD4754FC77AB](https://user-images.githubusercontent.com/6265975/

[2022-10-06 08:51] arthur791004 commented on #52596
Oh, I got the reason. The coming soon feature is based on the `blog_public: 0` and it's [the default value for the newly created site](https://github.com/Automattic/wp-calypso/blob/51d5a41b87e863b458f81ef3dde2325bfe9fe5bb/packages/data-stores/src/onboard/actions.ts#L48). IMHO, this is weird and the public status of the site before launch should be private. If not, why do we need “Launch site” feat

[2022-10-06 09:00] cpapazoglou commented on #67547
Since we are not doing anything catastrophic in production, I guess we can merge this and iterate.

[2022-10-06 09:07] cpapazoglou opened #68704 "Marketplace: add a route that can open a purchase depending on the ownership id"
In SaaS licensing, customers have the SaaS application from the vendor but the billing is happening in WP.com. In those cases, normally there is a billing section inside that SaaS application. Vendors will need to state that billing is managed by WordPress.com and ideally have a link which redirects to the specific purchase in Calypso.

Currently, we've got a route `https://wordpress.com/me/purcha

[2022-10-06 09:12] #68643 closed, assigned to rcrdortiz

[2022-10-06 09:13] rcrdortiz commented on #68643
These changes are now live.

[2022-10-06 09:20] #68683 closed, assigned to DustyReagan

[2022-10-06 09:27] simison commented on #68512
What's the latest on this?

Me and @alaczek hit this problem just recently when playing with new link-in-bio styles and the experience of switching styles felt pretty buggy.

[2022-10-06 09:45] mmtr commented on #68512
I'll start looking into this today

[2022-10-06 09:53] arthur791004 commented on #67854
Shipped and [added to the Ship Table](pbAok1-2MG-p2#comment-5590)! We could follow up with metrics next week

[2022-10-06 10:02] philnick206 commented on #52100
Another request 5610388-zen

[2022-10-06 10:22] dsas opened #68707 "Style variations are not being saved if the sidebar isn't on the variations screen"
### Quick summary

When changing to a non-default style variation, the choice is not saved when clicking save if the variation screen is navigated away from.

This happens on simple and atomic sites but not jetpack sites. Presumably a bug in ETK or wpcom-block-editor.

### Steps to reproduce

1. Create a wpcom site
2. Use a block-based theme with variations, e.g. twenty twenty-two
3. Go to Appeara

[2022-10-06 11:13] TimBroddin commented on #51566
It looks OK with the Gallery caption patch applied: D89255-code

![IMG_417607116CD5-1](https://user-images.githubusercontent.com/528287/194298860-4dda75ad-52bf-4c9f-92f6-ff2c87a7336b.jpeg)

[2022-10-06 11:17] bogiii opened #68708 "Update support page link to the Subscriber import form"
A new support link: https://wordpress.com/support/launch-a-newsletter/import-subscribers-to-a-newsletter/

[2022-10-06 11:37] gavande1 commented on #67547
Deployed r253805-wpcom

[2022-10-06 12:04] davemart-in commented on #68647
All issues have been merged.

[2022-10-06 12:04] #68647 closed, assigned to davemart-in

[2022-10-06 12:48] #68277 closed, assigned to heavyweight

[2022-10-06 12:53] Addison-Stavlo opened #68711 "LaunchPad - add strikethrough style to completed tasks."
Per request from a recent newsletter flows review session - pbAok1-3nH-p2#comment-5586 - we should update completed items in the LaunchPad checklist to have a <s>strikethrough</s> type style on their text, as seen in previous design explorations:

![image](https://user-images.githubusercontent.com/28742426/194317428-009367eb-d8b4-4251-9d56-ccd8eeb8f7f3.png)

Note that other changes from the design

[2022-10-06 12:55] heavyweight commented on #68578
Sorry but this seems very vague to me.
I don't understand what needs to be done.
Could you expand a bit on what is required to be done?

[2022-10-06 13:11] kavyagokul commented on #29047
📌 SCRUBBING : RESULT
- Tested on P2 -  Could Not Replicate
- Tested on Simple -  Could Not Replicate
- Tested on AT -  Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tried to repro by making all kinds of 2fa changes in a tab while a block editor was open in Calypso, in another tab. Unable to reproduce on Simple and atomic.

📌 ACTIONS
- Await author feedback
- Closed as could not replicate (pl

[2022-10-06 13:11] #29047 closed

[2022-10-06 13:14] alshakero commented on #68578
That's fair. Basically, send a track event listing the available options when the user lands in the contact page of the Help Center.

Something like:
[code]

In this page, https://github.com/Automattic/wp-calypso/blob/trunk/packages/help-center/src/components/help-center-contact-page.tsx#L89

[2022-10-06 13:45] lupus2k commented on #68689
Reopened because of [this PR](https://github.com/Automattic/wp-calypso/pull/68712)

[2022-10-06 13:46] AnasMansy commented on #65961
can i work on this

[2022-10-06 13:46] AnasMansy commented on #68049
can i work on this

[2022-10-06 14:19] #68610 closed, assigned to paulopmt1

[2022-10-06 14:26] JuanLucha opened #68714 "[Invite Follower] The url to copy and paste is missing"
There is a url being displayed in the bottom of the email for those email readers that doesn't render properly the links. That url is missing in the Follower Invite email:

![Image](https://user-images.githubusercontent.com/3832570/194339187-7c6e5f6e-f6cf-4b38-8aa3-80751ef3e619.png)

[2022-10-06 14:31] JuanLucha opened #68715 "[Invite Role] The sender of the email is WordPress.com instead the name of the blog"
In the Follower Invite email, the sender is the name of the blog. That is correct.
In the Role Invite email, the sender is WordPress.com. We need to change that to the name of the blog. Check this:

![Image](https://user-images.githubusercontent.com/3832570/194340496-0fe98895-95e4-48fb-826e-074fe5c06ffe.png)

[2022-10-06 14:33] upwardmomentum84 opened #68716 "Page Layouts Only Showing One Option for Home and Blog"
### Quick summary

When creating a new page only one layout option is showing for "Home" or "Blog" types. This is different than what is shown in this [YouTube video](https://www.youtube.com/watch?v=CEJLoXipdL0&t=149s)

### Steps to reproduce

1. Create a new page.
2. When `Page Layout` modal pops-up switch choose "Home" or "Blog" from left sidebar.
3. Only one option shows for each of these.

![M

[2022-10-06 14:41] lupus2k commented on #68572
Reopened because of this: https://github.com/Automattic/wp-calypso/pull/68717

[2022-10-06 14:49] mmtr commented on #68512
Turns out this was finally caused by https://github.com/Automattic/wp-calypso/pull/57957 (cc @Addison-Stavlo). I opened https://github.com/Automattic/wp-calypso/pull/68718 to fix this.

[2022-10-06 15:50] epeicher commented on #67657
Test Saas Product deployed r253843-wpcom

[2022-10-06 16:24] heavyweight opened #68723 "Fix invalid html in help center contact form for free user"
Discovered this while investigating the forum auto-tagging

<img width="537" alt="Screenshot 2022-10-06 at 18 11 58" src="https://user-images.githubusercontent.com/7000684/194367239-b2d24e8b-4b87-414f-ace3-7accbe802138.png">

[2022-10-06 17:12] #68572 closed, assigned to lupus2k

[2022-10-06 17:24] #68689 closed, assigned to lupus2k

[2022-10-06 18:59] #68201 closed, assigned to zaguiini

[2022-10-06 19:05] jsnmoon opened #68728 "Stats: Audit and replace mentions of "Site Stats" with "Jetpack Stats""
Part of the rebranding project (p1HpG7-icd-p2).

Due date: October 31, 2022.

[2022-10-06 19:22] mattwiebe commented on #67820
@Addison-Stavlo can you point me to more of the context around the needed discussion?

[2022-10-06 20:26] danielbachhuber commented on #68625
FWIW, `react-intersection-observer` also offers some nifty features outside of the browser's built-in `IntersectionObserver` functionality. It exposes those through a nice API, is well-maintained, and has good test coverage. I'm not sure what we gain by recreating all of this on our own.

[2022-10-06 21:07] tanjoymor opened #68732 "Navigation Block: Submenu's Parent Page is not marked as Invalid when page is deleted"
### Quick summary

If you have a menu item, with a sub-item, and you then delete the page of the main item, it doesn't get flagged as being invalid.

It is removed from displaying on the live site, but in the Navigation block it looks like it should be a valid link.

This happens anywhere the Navigation block is used, Site Editor or a regular page editor.

Applies to both Simple and Atomic sites.

[2022-10-06 21:25] dpasque commented on #65906
Hey @WunderBart @worldomonation! I'm looking for a couple of E2E fixes to get back into the Calypso dev flow after my parental leave. I don't want to duplicate any work you have in flight though!

Have either of you started yet on the ETK block fixes? I can peel those off and knock them out. Just let me know if you have that (or any other of these) in flight so I don't step on your toes!

[2022-10-06 21:34] #68112 closed, assigned to sharpirate

[2022-10-06 22:25] deancroyal commented on #67618
Agreeing with @carinapilar above regarding HEs forgetting. Myself included. The "Duplicate sites" issue has been around since at least as early as 2019. As the focus of HE work shifts year-to-year, so too does the tagging practices/behaviors in chat.

[2022-10-06 22:43] cuemarie opened #68736 "[Block] Search: Add dimensions (height, padding, margins) settings"
### What

It'd be great to see the ability to adjust the height, padding, and margins of the Search block.  Right now, we can adjust the Typography settings (font size, and line height) as well as the width of the block, but these options don't offer full customization of the block's input field and button.

### Why

This solves the problem of needing to apply CSS to adjust the height and other di

[2022-10-06 23:06] arinoch opened #68737 "Stats: Post titles with quotes are improperly formatted in CSV export."
### Quick summary

It looks like post titles that contain quotes may not be escaped properly when users request a CSV export from the stats screen.<br>[opinionatedtestbed.wpcomstaging.com_posts_month_10_01_2022_10_31_2022.csv](<https://github.com/Automattic/wp-calypso/files/9729103/opinionatedtestbed.wpcomstaging.com_posts_month_10_01_2022_10_31_2022.csv>)

### Steps to reproduce

1. From any site

[2022-10-07 00:15] cuemarie commented on #68716
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: n/a

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated in both Simple and AT, just as described above.

*Example on AT site*
![Screen Capture on 2022-10-06 at 17-14-33](https://user-images.githubusercontent.com/27249804/194440560-46049b00-77d7-4cde-92f0-197fe184821b.gif)

📌 ACTIONS
- Marked as T

[2022-10-07 00:42] dsvwilson commented on #68049
Feel free to work on issues in public repositories @AnasMansy
You're welcome and encouraged to submit a PR for this for the team to review.

[2022-10-07 00:46] cuemarie commented on #68732
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated on Simple, AT, and Self-Hosted, using both FSE and Classic Themes.

***Example - Simple, Classic Theme***

![Markup on 2022-10-06 at 17:29:31](https://user-images.githubusercontent.com/27249804/194442

[2022-10-07 00:52] cuemarie commented on #68736
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Wow, what a great idea, OP! 😉

📌 Message to Quality Squad
- Turns out I was next in line to triage my report here. If Quality Squad disagrees with keeping this feature request, feel free to close! 😁

[2022-10-07 01:01] cuemarie commented on #55682
📌 SCRUBBING : RESULT
- Tested on Self-hosted: Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- Checked out the steps in this report: https://github.com/Automattic/jetpack/issues/20806  and took the following steps:

1. Self-hosted site with Jetpack installed and activated
2. Edit a post
3. Open browser console
4. Select a Paragraph block

Doing so, I see this warning:

[code]

I can't speak to how to re

[2022-10-07 01:07] cuemarie commented on #68031
📌 ACTIONS
- pinged author

[2022-10-07 01:32] cuemarie commented on #66414
📌 SCRUBBING : RESULT
- Tested on Simple: **Could Not Replicate** / Working as designed
- Tested on AT: **Could Not Replicate** / Working as designed

📌 FINDINGS/SCREENSHOTS/VIDEO
- When using the RSS block, the feed's results will be limited by the number of posts include in the site's feed.
- By default, WordPress.com feed settings are set to 10 under Settings > Writing > Feed Settings.
- If I up

[2022-10-07 01:33] #66414 closed, assigned to nobody

[2022-10-07 02:16] cuemarie commented on #68738
📌 SCRUBBING : RESULT
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- It seems like there are different situations that could be causing the overlap, based on the comments above:

1. Image is set to 100% after setting dimensions of layout grid. - **Replicated on AT and Simple**
     - *Example* - https://user-images.githubusercontent.com/27249804/194450534-9fd2e7ec-f8b6-449f-8cba-c0b

[2022-10-07 02:19] cuemarie commented on #62767
More Layout Grid overlap reports are accumulating here as well: https://github.com/Automattic/wp-calypso/issues/68738

Not clear if these are all separate or related issues, but wanted to mention it!

[2022-10-07 02:31] cuemarie commented on #68736
Looks like there's some work on this in Core here: https://github.com/WordPress/gutenberg/issues/22071

[2022-10-07 03:14] devNigel opened #68739 "Jetpack Social Preview does not render & properly"
### Quick summary

The Jetpack Social Preview does not render & symbol properly in Simple sites.

### Steps to reproduce

1. Open a simple site and create a new post or page.
2. Add & symbol in the title.
3. Check Jetpack Social Preview

<img width="1252" alt="image" src="https://user-images.githubusercontent.com/33957570/194459816-34843450-cad7-425b-9c2b-ea15625f5159.png">

<img width="903" alt="

[2022-10-07 05:03] mpkelly commented on #68018
This has been deployed just now. https://github.com/Automattic/wp-calypso/pull/68483

[2022-10-07 05:03] #68018 closed, assigned to mpkelly

[2022-10-07 06:00] autumnfjeld commented on #67854
Are you volunteering to follow up? 😃  Then you post a comment to pbxlJb-2pM-p2.   Simple check in tracks trends that I am guessing will show these 16 are now the top.

![bitmoji](https://sdk.bitmoji.com/render/panel/e6518353-71e9-41b7-9208-fde8f676bf08-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=66)

[2022-10-07 07:18] ivan-ottinger commented on #66434
I noticed the issue with one of the [latest post](https://wordpress.com/blog/2022/10/06/promote-your-posts-on-wordpress-com/) - where the Cover block includes a video.

[2022-10-07 07:36] #68403 closed, assigned to ivan-ottinger

[2022-10-07 07:53] ivan-ottinger commented on #68403
https://github.com/Automattic/wp-calypso/pull/68402 is now merged and deployed.

[2022-10-07 07:59] autumnfjeld commented on #68695
@miksansegundo   Could this be related to issues discussed here pNEWy-eFy-p2

https://github.com/Automattic/dotcom-forge/issues/1034

[2022-10-07 08:00] #68512 closed, assigned to mmtr

[2022-10-07 08:16] taipeicoder opened #68743 "Metrics: Analyze how style selection affects user selection"
## Description

| 🗓 | 🚢
--- | ---
October 3, 2022 | Style selection in onboarding
ETA October 12, 2022 | #68183

We want to measure how styles selection impacts theme selection.
Questions we are interested in answering:
- [x] Do themes with variations see a usage uptick after October 3rd?
- [x] How much of a usage uptick after #68183?
- [x] Are themes with more variations more previewed?
- [x] Do

[2022-10-07 08:37] mpkelly commented on #68562
I have tried in vain to fix this issue. There is too much going on in the flow logic for me to feel confident about changing the code. There is a lot of conditional and edge case handling.

I first tried to update this to check also to include `isNewishUser`
[code]

But we don't always have that property in the state. I then switched to `is_email_verified`, which we do have but decided against thi

[2022-10-07 08:38] mpkelly commented on #68623
I am starting this one.

[2022-10-07 08:47] ivan-ottinger opened #68746 "Add new `featured_image_email_enabled` option to site settings endpoint"
More info: D89277-code.

Related Project thread: pdDOJh-Nu-p2

[2022-10-07 08:53] ivan-ottinger opened #68747 "Connect `featured_image_email_enabled` option with its setting toggle"
Once the `featured_image_email_enabled` site option is available, we can connect it with its user-facing toggle in Settings → Writing.

Related Project thread: pdDOJh-Nu-p2

[2022-10-07 08:55] arthur791004 commented on #67854
Sure!

[2022-10-07 08:59] candy02058912 opened #68748 "Marketplace: Upsell nudge "blinks" when user is already on a plan that supports plugins"
Slack Thread: p1665130893251959/1665074605.761439-slack-C02FMH4G8

https://user-images.githubusercontent.com/6586048/194515734-11b82506-4297-453e-bdfa-a0e7f885d29b.mp4

[2022-10-07 09:16] #68708 closed, assigned to bogiii

[2022-10-07 09:19] renancarvalho opened #68751 "Task: Update CTA button text"
### Details

Update CTA button to "Get Started" for LiB and NL.

### Checklist

_No response_

### Related

_No response_

[2022-10-07 09:20] #66793 closed, assigned to miksansegundo, bangank36

[2022-10-07 09:41] ivan-ottinger commented on #68746
Jetpack PR created (draft): https://github.com/Automattic/jetpack/pull/26696

[2022-10-07 09:54] arthur791004 commented on #68695
Actually, that placeholder is the site logo on the dotcompatterns source site 😂 Here is that logo: https://dotcompatterns.files.wordpress.com/2020/04/site-logo.png

[2022-10-07 10:10] Robertght opened #68756 "Prevent email notifications for AT sites after a user email address change"
### What

After running a few tests, changing the email address on my account, resulted in multiple email notifications at once regarding each AT site.

### Why

As per https://github.com/Automattic/wp-calypso/issues/53687 this appears to be intended:

But it could send users with multiple AT sites wondering if what they did is correct, secure. Also, this is currently misleading as the email addre

[2022-10-07 10:30] mpkelly opened #68760 "Sites Management Page: add support for promoting tailored flows - additional improvements"
### Details

This issue will address something remaining requirements that were discussed in PR https://github.com/Automattic/wp-calypso/pull/68483

### Checklist

- [ ] Optimise images, so they load faster on slow networks. See [here](https://github.com/Automattic/wp-calypso/pull/68483#pullrequestreview-1130930739).
- [ ] Change banner type according to available space: double-tile should become

[2022-10-07 10:31] #68642 closed, assigned to mashikag

[2022-10-07 10:33] ayebare opened #68761 "Task: Fix CSS styling On Tools->Marketing Cards"
### Details

Issue Origin:  [issue reported by @niranjan-uma-shankar ](https://github.com/Automattic/wp-calypso/pull/68635#pullrequestreview-1131219158)

On the Tools->Marketing page,  There is a minor button spacing issue in the mobile view - the CTA button would look better aligned to the center but it's correctly aligned to the right.

<img width="741" alt="Align CTA center" src="https://user-i

[2022-10-07 10:46] candy02058912 commented on #68599
Slack thread: p1665139574444899-slack-CKZHG0QCR

[2022-10-07 10:47] #66386 closed, assigned to mashikag

[2022-10-07 10:48] #68623 closed, assigned to mpkelly

[2022-10-07 11:00] agrullon95 opened #68763 "LaunchPad - investigate /home email verification notification flash before redirection"
Currently, if a user has the LaunchPad experience enabled for their site and navigates to `/home/{SITE_SLUG}`, they will be redirected to the launchpad screen. If the `/home` URL includes the `verified=1` query param (https://wordpress.com/home/{SITE_SLUG}?verified=1), the user will see an `Email Verified!` notification flash at the top of the screen before they are redirected.

We should investig

[2022-10-07 11:03] #68723 closed, assigned to heavyweight

[2022-10-07 11:10] gmovr commented on #68761
Cool! Adding this to our board 👍

[2022-10-07 11:23] #68569 closed, assigned to heavyweight

[2022-10-07 11:34] #68751 closed, assigned to renancarvalho

[2022-10-07 11:37] mayankagnihotri7 commented on #68049
Can I please take up this issue?

[2022-10-07 11:54] xristos3490 opened #68765 "Redirect Calypso Home to WooCommerce Home in Ecommerce plans"
### Description

This issue aims to redirect the default home url `wordpress.com/home/[site]` to `[site].wpcomstaging.com/wp-admin/admin.php?page=wc-admin` only on Ecommerce plans.

[2022-10-07 12:20] #68578 closed, assigned to heavyweight

[2022-10-07 12:29] #63700 closed, assigned to arcangelini

[2022-10-07 12:30] BogdanUngureanu commented on #67610
Deployed in rWPGIT76aa088646bbc8c9f240adbc02fdfcb709ca6d87

[2022-10-07 12:30] #67610 closed, assigned to BogdanUngureanu

[2022-10-07 12:46] eoigal commented on #68604
Closing this for now as all known issues have been fixed. Can re-open if any new issues are found.

[2022-10-07 12:59] #68711 closed, assigned to agrullon95

[2022-10-07 13:02] #68521 closed, assigned to escapemanuele

[2022-10-07 13:09] daledupreez commented on #67212
I've switched teams, so this work may be on hold for some time. However, I think we have already reduced the number of styles considerably on Simple sites.

[2022-10-07 13:10] daledupreez commented on #67528
Noting that the DotCom Janitors team no longer exists, so I want to flag that we need a new owner for this issue.

[2022-10-07 13:20] #68193 closed, assigned to kozer

[2022-10-07 13:24] valterlorran commented on #66737
Hey @alaczek @iamtakashi. We had a slight change of plans, and the demo bar will be a [plugin](https://github.com/Automattic/theme-demo-bar-plugin). So we'll need to update the guide to launching atomic demo sites, adding a new step to install the [plugin](https://github.com/Automattic/theme-demo-bar-plugin).

p1664983518636999-slack-C0Q664T29
p1665063660862579-slack-C0Q664T29

The demo bar is alm

[2022-10-07 14:52] #68476 closed, assigned to JulianBustamante

[2022-10-07 14:56] jp-imagines commented on #57068
Came across this in 5612584-zd-woothemes. This user doesn't like that their images show up on other people's sites when Reblogged (even though they have Reblogs disabled on their site), so they've been forced to add a specific image to the top of some posts to ensure that image is shown on other sites instead.

[2022-10-07 16:11] #67285 closed, assigned to nobody

[2022-10-07 16:18] #67550 closed, assigned to BogdanUngureanu

[2022-10-07 16:28] epeicher commented on #67863
The linked task
- https://github.com/Automattic/wp-calypso/issues/68524

will be used to consolidate the fields into one in WC.com and also synchronize it to WP.com.

Closing this task as the investigation is completed

[2022-10-07 16:28] #67863 closed, assigned to epeicher

[2022-10-07 16:38] alshakero opened #68781 "Task?: Minimize the Help Center when notifications are open"
### Details

We should hide the Help Center when notifications are open in Calypso and wp-admin.
The notification panel is hidden when we click on the Help Center.

[2022-10-07 16:39] #68407 closed, assigned to agrullon95

[2022-10-07 16:50] #67606 closed, assigned to agrullon95

[2022-10-07 16:59] bangank36 commented on #68258
Closed as Landed

[2022-10-07 16:59] #68258 closed, assigned to bangank36

[2022-10-07 17:02] Addison-Stavlo commented on #68481
D89008-code

[2022-10-07 18:19] mreishus opened #68786 "Tracks: The step property in _step_start and _actions_submit_step doesn't always match case"
### Details

Looking at `calypso_signup_step_start` and `calypso_signup_actions_submit_step` in Calypso, the `step` property doesn't always match up:

![2022-10-07_13-15](https://user-images.githubusercontent.com/937354/194623592-dcf4420a-5d3b-415a-b753-2654150e41c7.png)

I think it's a bug in stepper:

kebabCase() applied to currentRoute (this is the current step?)
https://github.com/Automattic/w

[2022-10-07 18:27] eoigal commented on #68604
Closing again. If another issue pops up, can re-open.

[2022-10-07 18:27] #68604 closed, assigned to eoigal

[2022-10-07 19:31] DustyReagan opened #68788 "Purchasing a "free" plugin on a sub-business plan produces extra warning"
Purchasing a "free" plugin on a sub-business plan produces an extra "Upgrade to Business" warning.

#### Steps to reproduce

1. On a free site purchase a free plugin
2. After checkout the installation progress screen starts
3. Soon a screen to "Upgrade to Business Plan" appears
<img src="https://user-images.githubusercontent.com/140841/194639601-e5448688-5b55-42cb-af75-20c92152f0b1.png" width="400

[2022-10-07 19:49] WBerredo opened #68789 "Themes: Remove the upsell nudge when there are no results on the themes search"
Due to #68542, there will be a button to upsell on this case, so this nudge won't be needed.

<img width="1288" alt="Screen Shot 2022-10-07 at 14 53 04" src="https://user-images.githubusercontent.com/5039531/194642802-a8f7943f-fd9a-4428-a346-3ef0dd9619a5.png">

[2022-10-07 20:02] phcp opened #68790 "[All] Fix header logo max-width for wider images"
Context
p1665167458944189-slack-C02TCEHP3HA
p1665167492452329-slack-C02TCEHP3HA

[2022-10-07 20:07] allilevine commented on #68621
@lsl What priority would you assign to this? Is it needed before Collections?

[2022-10-07 21:43] ericfri commented on #65214
37306331-hc

[2022-10-07 22:36] #68665 closed, assigned to jeyip

[2022-10-08 02:23] tanjoymor commented on #66045
What seems to be happening is that some themes are not properly updating the option under Settings > Reading for how the theme is built. This results in a theme like Archeo and Pendant loading the last set "Homepage" set as the Static page, instead of switching to "Latest Posts" (which is how these themes are built).

The "Homepage content" for these themes is actually built in a "Template" not a

[2022-10-08 05:07] tanjoymor opened #68793 "Navigation block-Universal Themes Menu subitem text color doesn't honor changes"
### Quick summary

When using the Navigation block in a Universal theme (example Russell, Appleton) changing the text color for "Submenu & Overlay Text" doesn't reflect in the menu, it stays as the default color in the editor and on the live site if you save.

### Steps to reproduce

1. Activate any [Universal theme](https://wordpress.com/themes/filter/universal-theme)
2. Set or create a menu usin

[2022-10-08 06:28] Robertght opened #68794 "Empty columns block on a page render 32018 pages when printing"
### Quick summary

If you have an empty Columns block on page and try to print it, you won't be able to and you'll see 32018 for printing which is incorrect.

### Steps to reproduce

1. Add an empty Columns block on a page
2. Publish the page
3. Check the frontend and try to print it

### What you expected to happen

To see the correct number of pages.

### What actually happened

![lufkun.png](ht

[2022-10-08 06:31] kirtanchandak commented on #68761
can I work on this ?

[2022-10-08 09:27] danmaze commented on #68229
I think what this user would prefer to have is a situation where the excerpts are sent out but with the featured image (if set) kind of like what many themes do on the blog archive page. That way they don't have to enable Full Text and have their full post sent out which defeats the purpose of sending out a notification.

I would have suggested adding another option under "For each post in a feed,

[2022-10-08 12:55] steve-lgtm commented on #68761
I just fixed the issue. How can I contribute it?

[2022-10-08 16:31] cuemarie commented on #68793
Quick note for triager - it's possible this is related to another open issue here: https://github.com/Automattic/wp-calypso/issues/62017

[2022-10-09 00:11] adelineyaw opened #68795 "GoFundMe embed not working"
### Quick summary

GoFundMe embed code not working

### Steps to reproduce

1. Open post/page to edit
2. Add the Custom HTML Block
3. Copy and paste GoFundMe embed code

`<div class="gfm-embed" data-url="https://www.gofundme.com/charity/hug-your-head-foundation-inc/widget/donationsbtn?utm_campaign=p_lico%2Bcharity-dashboard"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></s

[2022-10-09 02:05] rickmgithub opened #68796 "Alignment issue for form inside cover block"
### Quick summary

Place a form inside a cover block on them 2020 and it is skewed to the right of the screen like this
![Uploading Markup on 2022-10-09 at 13:01:37.png…]()

### Steps to reproduce

1. Test site : Personal plan. Theme 2020.
1. Add a cover block.
2. Add a form inside.
3. The form is over to the right
4. Change theme to 2022 and the form moves to the left of the block where you would

[2022-10-09 03:03] tanjoymor commented on #68793
Yes the report mentioned above is the same issue, I didn’t find it in my searches. One point of clarification on the other report is that it is only affecting “Universal” themes (these are the ones that still have a Menu section in the Customizer but they aren’t all properly tagged as Universal in the filters).  It is affecting all Universal themes and CSS only works if they have a plan that suppo

[2022-10-09 03:05] tanjoymor commented on #62017
The report mentioned above is the same issue, I didn’t find this one in my searches. One point of clarification on this report is that it is only affecting “Universal” themes (these are the ones that still have a Menu section in the Customizer but they aren’t all properly tagged as Universal in the filters, all themes mentioned in this report are Universal themes).  It is affecting all Universal t

[2022-10-09 09:35] pauljacobson commented on #68031
Hi @cuemarie and @jamiepalatnik

My steps only describe what affected users reported. I haven't been able to consistently reproduce the issue on my side although we've had enough reports to indicate that there is/was an issue _of some sort_.

[2022-10-09 10:57] Omkar0803 commented on #68761
Is this will be tagged as hacktobertfest?

[2022-10-09 11:59] pauljacobson commented on #54269
We also have a report in 5613913-zen

[2022-10-09 21:58] steve-lgtm commented on #68612
Can you assignee this to me? And give me some more info?

[2022-10-09 23:13] ebinnion opened #68798 "[Bug]: LiB with subtle pattern background pattern has broken blocks"
### Quick summary

When I go to the site editor for a WPCOM simple site, then select Link in Bio patterns, I see this pattern that has broken blocks. After I insert that pattern, the blocks are, in fact, broken.

<img width="1385" alt="Screen Shot 2022-10-09 at 6 12 47 PM" src="https://user-images.githubusercontent.com/1126811/194783933-78d1d27c-e8f3-44ab-a480-7995e12ba2fd.png">

### Steps to repr

[2022-10-09 23:46] autumnfjeld commented on #68743
@taipeicoder  Nice job of being thorough yet keeping it simple.

I'd define "usage" more precisely:
Do themes with variation get previewed more?
Do themes with variation get selected as chosen design more?
The latter question is the most important, so if you wanted to limit your analysis that would be the one to focus on.

You touched on differences in "usage: here (calling out diff between previe

[2022-10-09 23:46] ccwalburn opened #68799 "Gallery Block: Caption Link doesn't work when Text Color is changd"
### Quick summary

If you add a caption to a Gallery block and change the default color, and then make the caption a link, the link won't work.

### Steps to reproduce

1. Add a Gallery Block to a page
2. Add a caption to one of the images
3. Change the text color of the caption using the toolbar "Highlight" option
4. Make the caption a link
5. Save the page and click the link on the front end

##

[2022-10-10 00:06] #68560 closed, assigned to nobody

[2022-10-10 00:18] lsl commented on #68621
Not "needed" but it should happen before further work happens on these section components or any changes of margin / spacing between sections takes place. I suspect some of that will be needed for the collections work so we could prioritize it for doing earlier.

[2022-10-10 01:04] lsl commented on #67979
Few ways to do this, suspect we should implement a `compact` prop that sets an `is-compact` css class on the `PluginsBrowserList` component.

We can use that class in a follow up issue to create a new version of SingleListView for collections. I say new because SingleListView is coupled to categories and it's not clear if collections are categories. (I'm leaning towards "not categories" so far.)

[2022-10-10 01:06] lsl opened #68800 "Marketplace: Add CollectionListView component"
We need a new section component to show collection lists on the discover page.

This component should look something like the `SingleListView` we use for categories.

This component should act as a place to (for now) hard code the list of plugins for each collection.

We don't need to worry about the compact design, we can use the `compact` prop [defined here](https://github.com/Automattic/wp-caly

[2022-10-10 01:19] lsl commented on #67979
Follow up issue here https://github.com/Automattic/wp-calypso/issues/68800

Thinking more, we could possibly just hack all this on top of categories themselves as there is a lot of cross over. e.g. we could add a "plugins" property to the response from `useCategories` where we hardcode a list of products to swap out.

I'm thinking while that might work, it will probably create some extra branching

[2022-10-10 02:39] mpkelly commented on #68760
Going to start this now.

[2022-10-10 02:50] autumnfjeld commented on #68743
In the analysis P2, be sure to cross post to themedev p2 and maybe also ping in the #themes channel.   I think it's good if we increase our communication with those channels more, ensure awareness of how much Ganon is involved in theme analysis, and again how important themes are in onboarding.

![bitmoji](https://sdk.bitmoji.com/render/panel/e6518353-71e9-41b7-9208-fde8f676bf08-b931236c-c79a-49b5

[2022-10-10 02:59] autumnfjeld commented on #68258
Just a little tip: it's always good to include a screenshot in any issue when possible.  Makes it much clearer to anyone else reading the issue.  Thank you. :)

[2022-10-10 04:22] lsl commented on #68621
This and https://github.com/Automattic/wp-calypso/issues/68620 needed to be done in one step https://github.com/Automattic/wp-calypso/pull/68802.

Dropped the sprint goal from the third part https://github.com/Automattic/wp-calypso/issues/68622 less important for the collections work.

Would like to keep it in the backlog for this sprint. It's the last step in closing out https://github.com/Automa

[2022-10-10 05:13] autumnfjeld commented on #64436
Closing this.  Not applicable unless vertical becomes more import to user or site experience.

[2022-10-10 05:13] #64436 closed, assigned to nobody

[2022-10-10 06:38] autumnfjeld commented on #68427
@bangank36 @arthur791004

FYI: related, but not really something to worry about for this issue, just always good to be aware of core work. https://github.com/WordPress/gutenberg/issues/25071

I think for this work, related to PA, this is the use case we want to handle:
* user goes through PA flow
* user gets theme Blank Canvas (or Clean Slate if that is the new name https://github.com/Automattic/t

[2022-10-10 06:54] mpkelly commented on #68760
I have made these changes. Now I just need to update the tests. For the image optimisation, I chose to replace transparency with the banner `background-color` and then converted the `png`s to `jpg`. I tested this with a simulated 4G network with the cache disabled and it seems fairly good.

![image](https://user-images.githubusercontent.com/6851384/194811680-f259ad66-3d04-4e9a-af26-c7d2790f0776.pn

[2022-10-10 07:50] epeicher commented on #64891
The [suggested approach](https://github.com/Automattic/wp-calypso/issues/64891#issuecomment-1243817089) to get the missing fields will be implemented as part of
- https://github.com/Automattic/wp-calypso/issues/68524

[2022-10-10 08:47] JuanLucha opened #68806 "[Invite All] Seems like the email is sent in the language of the blog, not the language of the receipt"
The subject of the email being delivered is currently using the owner’s blog language.

1. Main account set to English
2. Blog (under the main account) is set to another language (in my case, tested with both Spanish and Portuguese)
3. Secondary account (with +wp22ie) has language set to English.

## What I expected

To receive emails on the language I set for my own +wp22ie account – in this case

[2022-10-10 09:08] gcsecsey opened #68808 "Marketplace search: investigate autocomplete and suggestions with ES"
Based on the discussion here: pdh6GB-28M-p2#comment-2918

There's a design for a predictive search exeperience:
![Image](https://user-images.githubusercontent.com/11555574/194832949-9ff913bf-57e1-47a8-82f6-d13f86462f11.png)

We should investigate how can we implement search suggestions and autocomplete with ElasticSearch, and if there is an existing similar solution perhaps.

[2022-10-10 09:12] csabarakasz commented on #61058
Same request here:

- [ ] 5619504-zd-woothemes

This would be awesome!

[2022-10-10 09:46] #68714 closed, assigned to JuanLucha

[2022-10-10 09:47] #64844 closed, assigned to kozer

[2022-10-10 09:47] #68192 closed, assigned to kozer

[2022-10-10 10:01] miksansegundo commented on #68695
I think we should preview the pattern with the log using a white image as we do in the pattern inserter in the editor.

![Image](https://user-images.githubusercontent.com/1881481/194835829-db2e78af-409a-4d36-a9f7-01bd87b1a6e0.png)

I think in the editor they hardcode the logo image when there isn't one. Can we do the same for the API `/block-previews`? I think we can and it will be a solution.

An

[2022-10-10 10:26] gcsecsey commented on #65457
Based on the above query, I think we can pick this up in our next sprint and implement it using the incompatible plugins list on WPCOM.

[2022-10-10 11:13] carinapilar commented on #60932
@jeyip, I'm afraid this issue is back, I'm seeing this on my test sites.

The workaround `right-click` -> `open in new tab` did the trick.

[2022-10-10 11:15] nuriapenya opened #68819 "Test Test"
This is another test. I found a better way to handle projects, let's see if this works

[2022-10-10 11:17] nuriapenya commented on #68819
https://user-images.githubusercontent.com/7931304/194854287-0dd5dbc5-6273-48f7-a417-61da03e8fe84.mov

Adding pictures is not _that_ easy in GitHub

[2022-10-10 11:22] simison commented on #68798
Debugging more (p1665391303843219-slack-dotcom-templates).

I can replicate using a new simple site, both in site editor and page editor.

Could be CSSTidy issues? Didn't test if removal in D70703-code helps.

Suggested if re-saving patterns in source site would fix at least some of the problems.

You can use e.g. https://www.diffchecker.com/ to see exact differences.

## Few more patterns with si

[2022-10-10 11:24] nuriapenya opened #68820 "Test Issue - Branding"

[2022-10-10 11:26] nuriapenya opened #68821 "The third issue"

[2022-10-10 11:48] ivan-ottinger commented on #68523
D88977-code is now merged and deployed.

[2022-10-10 11:48] #68523 closed, assigned to TimBroddin

[2022-10-10 11:50] ivan-ottinger commented on #68790
D89448-code is now reviewed and ready to be merged and deployed.

[2022-10-10 11:50] nuriapenya opened #68822 "Test issue - User Management"

[2022-10-10 12:01] gavande1 commented on #67547
Test deployed r254043-wpcom

[2022-10-10 12:15] heavyweight opened #68823 "Help center maximize animation is weird on mobile devices"
https://d.pr/i/yQVet4

[2022-10-10 12:17] #68589 closed, assigned to escapemanuele

[2022-10-10 12:17] #68279 closed, assigned to escapemanuele

[2022-10-10 12:23] ivan-ottinger commented on #68494
🤔 I wasn't able to reproduce the issue in my tests. I tried with two different Simple sites and one Atomic one.

These are the Spotify links I tried to embed:
- `https://open.spotify.com/episode/4fW6hdI3CAFsZR8nvExW8Z?si=bf77f7c8cc6f4ffa`
- `https://open.spotify.com/episode/6Rj5MTRcUjmg96JsTfbWWp?si=28db7da3bcf945f2`

The player embedded correctly and displays in the editor and published post as w

[2022-10-10 12:27] csabarakasz commented on #65631
Same issue:

- [ ] 37342529-hc

custom CSS helped:
[code]

[2022-10-10 12:47] cpapazoglou commented on #65289
We can probably check whether the user is a local user and escape early in wpcomsh `feature-plugins/masterbar.php:235` `wpcomsh_update_plugin_link_destination()`

[2022-10-10 12:55] saygunnyc commented on #68822
i1 iteration shared.
Need also to share the link though currently having issues with the TamperMonkey GitHub Highlighter plug-in.

[2022-10-10 12:57] saygunnyc commented on #68822
Need to also think about bridging P2 posts with GH Tasks; not sure if breaking down and creating more minor issues is something we should own or not. _–Time allocation_

[2022-10-10 13:04] cpapazoglou commented on #54520
I can still reproduce this. BUT, if a user has used a direct link to reach the `/wp-admin/plugins.php` page ( which is currently overridden by the Calypso `/plugins` ) and clicks to an unsupported plugin and then installs it it wouldn't make any difference from directly uploading the same plugin. I mean we cannot do anything to avoid the plugin getting installed. What we can do - and seems working

[2022-10-10 13:04] #54520 closed, assigned to nobody

[2022-10-10 13:06] daledupreez commented on #68786
This is a subtle issue -- we'll need to make sure we coordinate with other teams before we merge a fix, as the change may break various analyses that depend on the camel-cased step name.

[2022-10-10 13:07] cpapazoglou commented on #46450
This view is available only for Jetpack self hosted sites and has changed to the following which clearly indicates the "update available"

<img width="1293" alt="CleanShot 2022-10-10 at 16 06 40@2x" src="https://user-images.githubusercontent.com/12430020/194873387-3d47c108-a186-48aa-bcb3-5c15b61501db.png">

Closing this issue.

[2022-10-10 13:07] #46450 closed

[2022-10-10 13:09] cpapazoglou commented on #59691
This seems resolved now

<img width="833" alt="CleanShot 2022-10-10 at 16 09 40@2x" src="https://user-images.githubusercontent.com/12430020/194873852-99716652-c4ad-4483-ace8-980d4f0ff653.png">

[2022-10-10 13:09] #59691 closed, assigned to nobody

[2022-10-10 13:17] cpapazoglou commented on #68370
I don't think Jetpack Search is part of any plan. `Included in the Business plan:` are the features in the bullets.

@Copons  It seems though, that Jetpack Search can be bought on any plan? In which case we can remove that section.

[2022-10-10 13:24] cpapazoglou commented on #68084
The featured plugins are currently set in wpcom statically as you mentioned. I am not sure how we might get the same results by using a taxonomy on data ( .org plugins ) we don't handle.

![Image](https://user-images.githubusercontent.com/12430020/194876332-3c7907a3-3fc4-4775-a299-1ca8a560a35c.png)

Could we perhaps, just request through ES those 6 plugins ( by slug ) in Calypso?

[2022-10-10 13:26] #67171 closed, assigned to lsl

[2022-10-10 13:28] cpapazoglou commented on #67745
Or we could set a `max-length` and `overflow: hidden;` `text-overflow: ellipsis;`

[2022-10-10 13:37] cpapazoglou commented on #65459
Can we easily make such modifications from Calypso?

[2022-10-10 13:44] cpapazoglou commented on #68789
The upsell nudge should be hidden only when the no results banner shows.

[2022-10-10 13:51] paulopmt1 opened #68828 "Error retrieving plugins on incognito browser"
When we browse /plugin at an incognito browser, we get the following error:

![Image](https://user-images.githubusercontent.com/1044309/194881890-6fc8e860-5719-44f2-b3c1-1f73b719dc7f.png)

It seems like plugin fetching is initially failing in the logged-out view.

The endpoint `https://public-api.wordpress.com/rest/v1.1/me/sites/plugins?http_envelope=1` is failing:

![image](https://user-images.gi

[2022-10-10 13:52] cpapazoglou opened #68829 "Move `billing_intents` from sqlite to mysql"
While developing the SaaS licensing we have to create a new table `billing_intents`. In order to avoid making modifications to a live database, we opted for using SQLite. When ready with the table schema, we should move this to MySQL.

[2022-10-10 13:53] cpapazoglou opened #68830 "Documentation for Mailpoet"
While we are developing the SaaS licensing, let's provide Mailpoet with a draft documentation of:

- the purchase flow
- how a billing intent is created

[2022-10-10 13:54] bogiii opened #68831 "Subscribers in-product: add manual emails directly to the subscribers list"

[2022-10-10 14:03] lupus2k opened #68832 "Marketplace: Selected category on dropdown is not seen"
When you select a category from the dropdown, the category names displays black, and is not seen

#### Screenshot
![image](https://user-images.githubusercontent.com/402286/194884247-3e390b5a-27d7-4df4-b246-2fea0b5def63.png)

[2022-10-10 14:11] Copons commented on #68370
I think it's the phrasing that sounds awkward here.
It should be something like "Requires the Business Plan" instead.
Right now, **all** plugins have that same "included" section.

I guess there's a case to be made that "included" sounds wrong for us who are aware of the technical aspect of this.
Regular users would just read it as "if I'm on Business, I can activate this plugin".

The logic behin

[2022-10-10 14:13] #62521 closed, assigned to nobody

[2022-10-10 14:44] blackjackkent commented on #68539
Yep, this can be closed out!

[2022-10-10 14:46] #68539 closed, assigned to daledupreez

[2022-10-10 14:59] cpapazoglou commented on #68148
Let's check if we can add this parameter to the `purchases` array of objects first.

[2022-10-10 15:00] cpapazoglou commented on #68441
Let's check if we can add this parameter to the `purchases` array of objects first.

[2022-10-10 15:07] ivan-ottinger opened #68836 "[New Post] Make sure the post title is outputted as plain text (without extra HTML tags)"
The _New Post_ email doesn't filter out unnecessary HTML tags from the post title. This could be noticed in one of the recent newsletter emails:

![Image](https://user-images.githubusercontent.com/25105483/194898151-80c874a6-0af2-4129-96ef-89370d4a9785.png)

I believe we should make the email template strip down all unnecessary HTML tags.

[2022-10-10 15:09] cpapazoglou commented on #68527
@vinimotaa , @SaxonF we have the same experience in both /themes and /plugins where a search button is missing. Can you propose a quick solution here?

[2022-10-10 15:21] blackjackkent opened #68838 "Seller Experience - Fix premium themes label text for bundled themes"
When a user has a premium subscription, the onboarding design picker shows incorrrect text for bundled themes:

<img width="381" alt="image" src="https://user-images.githubusercontent.com/13437011/194900007-ec715824-6bb4-43c2-be9e-c087c458861b.png">

While this is technically true (the user would have access to the theme without plugins at their plan level) we want to indicate the Business plan re

[2022-10-10 15:58] kozer opened #68842 "Search component: Border radius at search input"
### Quick summary

Due to some recent changes, the search input field styling on the site switcher is now broken:

![before1](https://user-images.githubusercontent.com/497103/194891195-83285acf-c1d4-4a5d-9c77-0fb7bea9bdee.png)

This pr updates this input field to its previous state.

![before2](https://user-images.githubusercontent.com/497103/194893365-5a726a19-8b78-49fb-8c69-ff601f0c3c9b.png)

##

[2022-10-10 16:22] #68285 closed, assigned to WBerredo

[2022-10-10 16:41] epeicher commented on #68275
All tasks completed 🎉

[2022-10-10 16:41] #68275 closed, assigned to nobody

[2022-10-10 17:28] #68832 closed, assigned to lupus2k

[2022-10-10 17:44] allilevine commented on #67979
+1. We haven't proved the concept yet, so ideally we would keep this first pass as simple as possible.

[2022-10-10 18:09] kerrynicl commented on #68716
another case - hc-37287825

[2022-10-10 18:12] blackjackkent commented on #67768
Closed by D88228-code

[2022-10-10 18:12] #67768 closed, assigned to nobody

[2022-10-10 18:19] blackjackkent opened #68847 "Headstart on Atomic: Implement product data and taxonomy in application script"
When a user initiates headstart using an atomic theme, we need to be able to apply product data and taxonomy information after WooCommerce is installed.

Current planned strategy is to store this information as site options and use a hook to trigger creation of this taxonomy info after WooCommerce is installed.

[2022-10-10 18:26] blackjackkent commented on #63691
@nelsonec87 spoke with the Themes team (@jeffikus) regarding this issue and they will be taking a look at it on their end after they are back from a meetup.

[2022-10-10 18:31] blackjackkent commented on #67450
You can probably use something similar to the wording suggested at https://github.com/Automattic/wp-calypso/issues/68307.

[2022-10-10 18:34] blackjackkent commented on #68838
Make sure that this text behaves correctly in theme showcase as well.

[2022-10-10 19:26] daledupreez commented on #68291
Hi @markbiek! Could you try to tackle the work to get this theme launched? I nominated you during the sprint planning meeting. 😬 😉

[2022-10-10 19:39] markbiek commented on #68291
@daledupreez Absolutely! I'll get that cranked out as soon as I can.

[2022-10-10 21:26] mreishus commented on #68847
### Documentation and References

* [WC_Product API Reference](https://woocommerce.github.io/code-reference/classes/WC-Product.html)

### Generate Annotation

For each post that is a type=product, find the associated WC product object, then call special functions like `->get_price()` and `->get_sku()` on it:

[code]

This is data that we can only generate on Atomic sites, since Simple sites don't

[2022-10-10 21:33] #68626 closed, assigned to danielbachhuber

[2022-10-10 21:37] #68676 closed, assigned to grzegorz-cp

[2022-10-10 21:55] cometgrrl commented on #32741
@pablinos Doesn't this fall under Jetpack/Reach now? Should we move it to the Jetpack repo? It's pretty old, and I wasn't able to reproduce, but I didn't want to close it without sending it your way first.

[2022-10-10 22:17] pablinos commented on #32741
Yes, that seems like a good plan, although this code does live in Calypso. I don't think there's a clear line to be drawn. If it's still an issue then it should probably be Reach that fixes it, so perhaps this is best placed in the Jetpack repo.

[2022-10-10 23:01] p-jackson opened #68859 "Sites Management Page: coming soon sites show a fake coming soon notice for the site thumbnail"
We don't generate site snapshots of coming soon sites because they're inaccessible to mShots. That means most coming soon sites use this fallback thumbnail (since they probably also don't have a site icon)

<img src="https://user-images.githubusercontent.com/1500769/194964797-81596d4e-4d42-42b8-aa38-d12e6a9f6902.png" alt="Image" style="max-width: 100%;" width="439px">

The fallback thumbnail is le

[2022-10-10 23:34] arcangelini commented on #68583
Add V2 endpoint for creating tickets - D89579-code

[2022-10-10 23:40] tavilla61 commented on #65522
Another instance today, #5621550-zen

The collapse-menu option helped, but it isn't working as well as they would like.

[2022-10-11 00:01] alaczek opened #68861 "[Bug]: Payments Block: Button width settings have no effect."
### Quick summary

The width setting on the Payments Block seems to have no effect. All the other block settings (typography, colors, etc.) seem to be working correctly.

![plaVRSgM3w](https://user-images.githubusercontent.com/4550351/194969845-e286eb01-a71b-41b4-8351-50cd805b7f6d.gif)

### Steps to reproduce

1. Insert a Payments block into a post or a page.
2. Under block settings try changing t

[2022-10-11 00:44] lsl commented on #68370
@vinimotaa sounds like this could use copy/design input, would dropping this into expand design project be the right way to get this triaged?

[2022-10-11 00:47] lsl commented on #67775
Thanks, updated s/network/db as I think there is still a benefit but this is a lower priority now since we're not hitting the same issues on the woo side.

[2022-10-11 01:19] kelasante opened #68862 "Automatically Increase Number of Items When Columns Are Increased in Query Loop Block"
### What

In the Query loop block, when columns are increased, it just adds empty columns. This seems confusing, as I would expect the additional posts to be inserted when the column count is increased.

https://user-images.githubusercontent.com/74204272/194974847-7ca52925-f6c3-4ac2-9a5b-a57dc072d535.mp4

After looking around, I finally realized that the posts were not automatically added because

[2022-10-11 02:17] mpkelly commented on #68859
I am starting this now.

[2022-10-11 02:30] bangank36 commented on #68427
@arthur791004, I think we can create a template without .HTML theme file right? I checked in endpoint `wp/v2/templates` and noticed 2 type of `wp_template` types can be saved into database
- template which is attached to theme files ( CMIIW, template->source = custom )
- template is created on fly, I think we can create this kind of template to persist old theme templates

[2022-10-11 03:00] p-jackson opened #68866 "Sites Management Page: private P2s show a site thumbnail using the P2's specific sidebar sidebar styles"
We don't generate site snapshots of private P2s because they're inaccessible to mShots. That means many a12s have a sites page full that shows many fallback thumbnails, since they have a lot of private P2s.

The fallback thumbnail is pretty good for the table view—the blurred version of the site icon works quite well at that size. But it's not as good in the large tile view.

We have access to mor

[2022-10-11 03:04] kuropixel opened #68867 "2FA Two-Step Authentication, Users not receiving SMS via SMS method"
### Quick summary

Account Recovery queue is seeing an increased number of users who suddenly are not receiving codes via the SMS method for 2FA. When checking the status of the SMS, we see some have been delivered successfully, some have not. This also varies by country and we're still trying to see if there is any particular pattern.

### Steps to reproduce

1. User goes to log in with a 2FA ena

[2022-10-11 04:03] miksansegundo opened #68870 "Show a message in unlaunched sites when ETK plugin is disabled"
We want to alert users that disable the ETK plugin in an atomic site that has not been launched with a message like this: **Disabling this plugin will make your site public.**

We will show the message when the plugin is deactivated or removed but only if the site hasn't been launched.

![image](https://user-images.githubusercontent.com/1881481/194993638-2b664ce9-2211-4a2a-afa8-615d8073bab8.png)

[2022-10-11 04:41] p-jackson commented on #68866
Diff for giving SMP access to P2 design elements D89583-code

[2022-10-11 04:41] lsl opened #68877 "Marketplace: Drop single list view plugin count to 4 from 6"
Design in https://github.com/Automattic/wp-calypso/issues/67987 shows plugin count drop from 6 to 4. Collections will now list 6 in a compacted view.

- [ ] SingleListView shows 4 plugins from the category instead of 6

[2022-10-11 04:43] miksansegundo commented on #68695
I found that these footer patterns use a navigation block with `"ref": 6217` that doesn't display anything because it throws the error `Navigation menu has been deleted or is unavailable`.

We just have to remove the ref to make them work. I asked about it in p1665463016671209-slack-C02M88KJ684

I tested it in the editor to confirm that removing the ref fixes the issue.

**Code**
![Image](https://

[2022-10-11 04:52] edwinho89 opened #68878 "Toggle underline on links when hovered using Styles"
### What

When hovering on links, underlines are shown, and there's no way to remove them.

In Styles, we have the option to change the color of links when hovered.

Interaction: 37322041-hc

### Why

Convenient for users to turn underline on or off on links without the use of CSS

### How

_No response_

[2022-10-11 04:57] goblinartificer opened #68879 "Core: Media library badly autopopulates image caption if Windows image metadata exists"
### Quick summary

If you upload an image which has specific metadata (Properties → Comments filled out on a Windows computer, with the Properties → Title field blank), the caption on the image in WP Admin autopopulates with a string of question marks.

### Steps to reproduce

1. On Windows, edit an image's properties in the file explorer so that the Comments field is populated, but the Title fiel

[2022-10-11 05:07] autumnfjeld opened #68880 "Use page.html (aka default template) as the template for PA v1"
# Description

See p1665464379515479/1665152933.113869-slack-CRWCHQGUB
See pbxlJb-2AA-p2#comment-1861

While we wait for Clean Slate, we can use Blank Canvas for the CfT or even ship feature with the expectation Clean Slate will soon be ready!

# Tasks
- update the onboarding mechanism to use `page.html` instead of `header-and-footer.html`

# Related

[2022-10-11 05:17] danielk-am opened #68882 "Ability to add rel="canonical" tag on Simple sites"
### What

There is a user who has been requesting a way to add rel="canonical" element without having to use additional plugins and on a Simple site.

27916814-hc, 31411767-hc, and 4224917-zen

### Why

Helps prevent or reduce duplicate content for search engine optimization.

### How

Might come in handy as a new setting under the Jetpack options within the WordPress editor.

[2022-10-11 05:46] lsl commented on #67987
@vinimotaa can you link to the figma?

Should we be making these icon color block things plugin icons or adding some repeating color blocks images and using those for icons?

These collection items aren't plugins:

- Premium Content Block
- Professional email
- WP Bakery
- Astra Pro
- Gravity Forms

Removed from the initial implementation, can add replacements later.

Should we be linking to somew

[2022-10-11 05:48] lsl commented on #67979
The plugins browser list already implements a compact view but it will need updating to list 3 across in wide enough breakpoints.

@vinimotaa do you want to provide breakpoints or should we just figure something out?

Existing compact view looks like this:

![Screenshot 2022-10-11 at 16-45-39 Plugins ‹ Bussiness Simple — WordPress com](https://user-images.githubusercontent.com/811776/195006725-8cf

[2022-10-11 05:51] devNigel commented on #67344
- [ ] Another report: 5619686-zd-woothemes

[2022-10-11 06:20] lsl commented on #67987
First pass at this in https://github.com/Automattic/wp-calypso/pull/68884 - I think we should probably merge this as is although test fixes may be needed? (Something up with CI docker build right now.)

Todo / to figure out in follow ups:

- Replacement plugins (see above) - removed the non existing ones for now, can add later
- Icons vs color blocks (see above) - hardcoded existing icons for now,

[2022-10-11 06:30] lsl commented on #67979
This will get closed by https://github.com/Automattic/wp-calypso/pull/68884

![Screenshot 2022-10-11 at 17-29-04 Plugins ‹ Bussiness Simple — WordPress com](https://user-images.githubusercontent.com/811776/195012954-85863965-25e5-4f56-8c8e-f60d1440fe05.png)

![Screenshot 2022-10-11 at 17-28-19 Plugins ‹ Bussiness Simple — WordPress com](https://user-images.githubusercontent.com/811776/195012832-cc

[2022-10-11 08:35] LouiseFW commented on #63604
Hi Otto
No problem…It’s www.bloominglucky.com<http://www.bloominglucky.com>

Louise

From: Ivan Ottinger ***@***.***>
Sent: 25 May 2022 08:50
To: Automattic/wp-calypso ***@***.***>
Cc: Louise Findlay-Wilson ***@***.***>; Mention ***@***.***>
Subject: Re: [Automattic/wp-calypso] [Email] [New post]: Missing images (Issue #63604)

Hi there, I am having the same problem with my wordpress blog. For the

[2022-10-11 09:42] iamtakashi commented on #68861
I think this is one of the symptoms that's fixed when the block became Payment Button**s** block. The users won't see this problem now unless they made the content before the change.

[2022-10-11 09:50] p-jackson commented on #68866
Front end diff that displays P2 thumbnails #68892

[2022-10-11 10:02] devNigel opened #68893 "Global Style Changes are not reflected immediately on the live site"
### Quick summary

After changing the font or other typography-related settings on Block themes, it was not reflected instantly. I was able to reproduce this issue on multiple themes like Zoologist, Livro, etc. I had to reload multiple times or clear browser cache to see the change.

Most users would not be familiar with clearing cache and it is not a good experience to have to clear cache every t

[2022-10-11 10:06] miksansegundo commented on #68695
I found a solution to show a site logo placeholder in the previews https://github.com/Automattic/wp-calypso/pull/68894.

About the navigation issue, I got the confirmation to remove the `ref: 6217` from the patterns affected in `dotcompatterns`.

[2022-10-11 10:11] arcangelini commented on #68583
After investigating, it seems we already have an endpoint for `/jwt/sign` - fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Serfg-ncv-cyhtvaf%2Sraqcbvagf%2Synfntan.cuc%3Se%3Q3op5q45r-og

I am going to test it out a little more, but at first glance it seems to be just what the DR ordered.

[2022-10-11 10:13] #67679 closed, assigned to heavyweight

[2022-10-11 10:18] sudeepbaral opened #68895 "Global Styles: Changes to Layout dimensions are not being saved and it resets to default values"
### Quick summary

While testing  [Feature: Limit Global Styles to Paid Plans ](pdtkmj-EG-p2), our team found the layout dimensions changes are not being saved and it resets to the default 650 for content size and 1000 for wide size.

Video showing the bug:

https://user-images.githubusercontent.com/3326057/195063553-16f259b9-6d16-4a89-ac4d-966783887224.mp4

### Steps to reproduce

1. Create a new

[2022-10-11 11:17] nuriapenya opened #68900 "Launchpad: Small Iterations"
Based on Hiten's review on the Tailored Use Cases, we identified the following low-hanging iterations for Launchpad.

**Low hanging**

- [x] https://github.com/Automattic/wp-calypso/issues/68711
- [x] https://github.com/Automattic/wp-calypso/issues/68967
- [x] Consider removing the progress bar - needs more discussion
- [x] https://github.com/Automattic/wp-calypso/pull/68918

[2022-10-11 11:21] #68821 closed, assigned to nuriapenya

[2022-10-11 11:33] gcsecsey commented on #68084
Yes, for that, we'd need to add a new parameter to the API that'd let us query by slugs, similarly to how we currently pass the `fields[]`. This change would differ from https://github.com/Automattic/wp-calypso/issues/64891 in not returning all the fields for each plugin, just the fields that are needed to render search results.

Then, from Calypso, we just need to list the plugins that we'd like

[2022-10-11 12:08] BogdanUngureanu commented on #67103
I've opened a new issue about some minor issues in WPCOM Store: https://github.com/Automattic/dotcom-forge/issues/1047

[2022-10-11 12:12] gcsecsey opened #68901 "Marketplace search: investigate and fix search tracks events"
Based on the thread here: pdgAPm-vA-p2#comment-531

The two tracks events are:
- `calypso_plugins_search_results_show`: fired when the first page of results are loaded
- `calypso_plugins_search_results_page`: fired on each subsequent page of results loaded

We should investigate why `calypso_plugins_search_results_show` is not being fired, and if `calypso_plugins_search_results_page` is being fire

[2022-10-11 12:25] pauljacobson opened #68902 "Group Block ignores nested blocks' width settings"
### Quick summary

The Group Block seems to ignore the alignment settings for blocks added to the Group Block, despite following [this process that we recommend in our guide to the Group Block](https://wordpress.com/support/wordpress-editor/blocks/group-block/#width-options-within-a-group-block):

### Steps to reproduce

1. Add a Group Block set to full-width
2. Add a Cover Block with a combinatio

[2022-10-11 12:38] wiesenhauss commented on #68071
User reported issue here: 37278499-hc

[2022-10-11 13:04] gcsecsey commented on #65459
Yes, we can definitely filter the results from the client side. My only concern with this would be overfetching, because we'd need to fetch results which won't be ultimately used. However, the current solution uses the default page size of 24 on WPORG.
<img width="753" alt="CleanShot 2022-10-11 at 15 01 05@2x" src="https://user-images.githubusercontent.com/11555574/195098484-4e346cd3-296d-498f-a73

[2022-10-11 13:21] cpapazoglou commented on #65459
By client side, I meant altering the ES query - not a JS filter function.

[2022-10-11 13:42] ivan-ottinger commented on #63604
Hey Louise,

thank you for your response. I see that www.bloominglucky.com is hosted on Bluehost as well - this is the same issue as others hosting with them have been experiencing. If it is possible, I would suggest to get in touch with their support and sharing [these steps](https://github.com/Automattic/wp-calypso/issues/63604#issuecomment-1128569715) with them - so they can try to reproduce th

[2022-10-11 13:58] heavyweight opened #68910 "Link In Bio - Feedback for mobile"
![screenshot-2022-10-10-at-11 54 08](https://user-images.githubusercontent.com/7000684/195111708-00967569-5fcf-402c-bb18-87c4be0f92e8.png)

Too wide button on mobile
Height not full screen, we end up showing smaller designs than we have space for.

[2022-10-11 14:00] cpapazoglou commented on #68441
This should be doable in `wp-content/admin-plugins/wpcom-billing/class.wpcom-store-api.php:345` by checking if this is a SaaS product and optionally adding the `redirect_url` prop.

[2022-10-11 14:02] heavyweight opened #68911 "Color picker - Focus outline in Safari"
Happening on Safari Version 15.1 (17612.2.9.1.20) on OSX. –Newsletter flow on production.

<img width="636" alt="Bug" src="https://user-images.githubusercontent.com/7000684/197502458-bf815bd8-454c-47be-9580-45d8c50d56d2.png">

[p1665496656156559-slack-C02T4NVL4JJ](p1665496656156559-slack-C02T4NVL4JJ)

[2022-10-11 14:17] ivan-ottinger opened #68912 "Fix lint issues in class.wpcom-json-api-site-settings-endpoint.php needed for JP file sync"
More information and background can be found in D89665-code.

[2022-10-11 14:18] paulopmt1 commented on #67987
From pr #68884, should we use another plugin as the first item on `Setting up your local business` so we can avoid too much repetition of the same product @vinimotaa?

![image](https://user-images.githubusercontent.com/1044309/195115936-6eeb1767-5ec7-4825-bf03-c35826f46d6e.png)

[2022-10-11 14:33] vinimotaa commented on #67987
Hi @paulopmt1, is fine if we re-shuffle the order. We'll display all six anyways. Feel free to suggest

[2022-10-11 15:01] gcsecsey commented on #65459
Oh I see, I thought you meant it as a temporary solution until these results are served through ES. It's a good point, after https://github.com/Automattic/wp-calypso/issues/63167 is released, we can update the filters from Calypso! 👍

[2022-10-11 15:02] daledupreez commented on #68847
Might it make sense to do this in a more brute force way that tries to copy any relevant Woo post meta values?

The specific meta keys should be available using code like the following:
[code]

The application side could then just run `add_post_meta()` or `update_post_meta()` for each of the specified meta values.

[2022-10-11 15:03] #68291 closed, assigned to markbiek

[2022-10-11 15:06] vinimotaa commented on #67979
Hi @lsl, thanks for this, is this ready for a design review? Product cards seem a bit off from the design specs provided. If the team is still working on it, it's ok, otherwise, we could double-check check paddings, font sizes, thumbnail sizes, etc. Happy to help

[2022-10-11 15:20] #67401 closed, assigned to pgk

[2022-10-11 15:23] kspilarski opened #68916 "Global styles for buttons and heading are not reflecting"
### Quick summary

Using Zoologist and Twenty Twenty Two red theme, setting global styles to buttons (like size, appearance and colors) and headings (font and text colors) are not reflecting in the site editor and live page.

### Steps to reproduce

1. Activate Zoologist or Twenty Twenty Two red theme.
2. Go to the site editor and click Global Styles.
3. Customize a button and heading. Notice that

[2022-10-11 15:36] sejas opened #68919 "SiteSwitcher: display total sites (visible + hidden) count on `<AllSites />`"
### Details

This issue is a follow-up from: https://github.com/Automattic/wp-calypso/pull/68785#pullrequestreview-1134966302

There is a mismatch between the total number of visible sites shown in the `<AllSites />` component and the actual total number of sites (visible + hidden) shown in the Site Selector sidebar.

<img width="257" alt="Screenshot 2022-10-11 at 16 49 01" src="https://user-image

[2022-10-11 15:47] sejas commented on #68919
@zaguiini I think this is not currently needed.

<img width="262" alt="195111135-aa633b2e-6beb-49b0-b8f5-3804af31d76f" src="https://user-images.githubusercontent.com/779993/195136783-174a8d1c-18ed-4060-9634-841ba09eca83.png">

If a user clicks on `View Stats for all sites`, then the page only shows the stats for the visible sites, not for all the sites, so the number is indeed correct.

If we show

[2022-10-11 15:59] #68481 closed, assigned to sharpirate

[2022-10-11 16:12] allilevine commented on #68541
@ianstewart clarified that this is the priority for this sprint:

We talked in our team call about taking an approach similar to https://github.com/Automattic/wp-calypso/pull/65870 using [wpcom-block-editor](https://github.com/Automattic/wp-calypso/tree/b6c7d311591da4cff591bbba27345f3e2e3d9cda/apps/wpcom-block-editor/).

Is that still our next step @lupus2k?

[2022-10-11 16:27] DavidRothstein opened #68921 "Visual inconsistencies with the CTA styles on the plan management page"
### Quick summary

This is a followup to https://github.com/Automattic/wp-calypso/pull/67423 for some small inconsistencies.

First, as already noted at https://github.com/Automattic/wp-calypso/pull/67423#issuecomment-1249671790, the visual style for the CTAs on Earn purchases (made via the Payment Blocks) is now quite different from everything else (icons used, icon placement, etc) -- compare thi

[2022-10-11 16:36] msilbers commented on #63583
Adding a +1 because I also can't use this feature right now. It's particularly bad because theres no indication it's not working when recording the post

[2022-10-11 16:57] Gustavo-Hilario commented on #65330
This issue also happens when users cancel a recently created domain. The domain credit should be automatically added back to their site:

37006507-hc

[2022-10-11 17:18] jsnmoon commented on #68679
No longer valid.

[2022-10-11 17:18] #68679 closed, assigned to nobody

[2022-10-11 17:22] sejas commented on #55175
The diff is ready for review D89202-code I would appreciate any feedback on it.

[2022-10-11 17:33] cuemarie commented on #65214
📌 ACTIONS
- escalated with Woo folks to see where we can direct this to get more eyes on it. p1665509505157279-slack-C3NCP7ZJ6

[2022-10-11 17:40] cuemarie commented on #68793
Thanks for sharing your thoughts on both issues, @tanjoymor !

📌 ACTIONS
- Closed as duplicate of https://github.com/Automattic/wp-calypso/issues/62017

[2022-10-11 17:40] #68793 closed, assigned to nobody

[2022-10-11 17:42] Joshgrygiel commented on #68916
📌 HOUSEKEEPING (To be removed once checked)
- Check labels and add contextual labels
- Assign applicable priority
- Check that Title matches the context of the report, and update if needed
- Transfer to A8C Repos if needed, or Create new issue in Gutenberg

📌 SCRUBBING
- Tested on P2  ❌
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHO

[2022-10-11 17:52] Joshgrygiel commented on #68895
📌 TRIAGE REPORT

📌 ACTIONS
- Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/67344

This issue seems to be directly related to that report, with users reporting that the bug affects all of the global styles options, not just the Block Spacing.

[2022-10-11 17:52] #68895 closed, assigned to nobody

[2022-10-11 17:53] cuemarie commented on #68794
📌 SCRUBBING : RESULT
- Tested on Simple: **Could Not Replicate**
- Tested on AT: **Could Not Replicate**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Test environments:
     - Simple Site, Themes: Twenty Nineteen, Twenty Sixteen (theme active in user case)
     - AT Site, Theme: Russel (FSE)
     - Tried printing in FireFox 105 and Chrome 106 on MacOS 12.5.1

*Example: Simple Site*
![Markup on 2022-10-11 at 10

[2022-10-11 18:08] steve-lgtm commented on #68649
Can you assigned me this issue?

[2022-10-11 18:12] cuemarie commented on #68795
📌 SCRUBBING : RESULT
- Tested on AT: **Replicated/Uncertain**

📌 FINDINGS/SCREENSHOTS/VIDEO
- When trying to embed the code provided above, the same browser error issue occurred for me as well, on Simple and AT sites. Note that the code above directs to the URL https://www.gofundme.com/charity/hug-your-head-foundation-inc

- However, the code above is a bit different than other GoFundMe examples,

[2022-10-11 18:28] cuemarie commented on #68796
📌 SCRUBBING : RESULT
- Tested on Simple: **Could Not Replicate**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Not able to replicate the issue following the steps provided.
- Simple Site, using Twenty Twenty Theme, placing a form block inside a cover block
- Form block rendered consistently between editor and live site, and aligned as expected.

*Example - Editor View*

![Markup on 2022-10-11 at 11:20:15](https

[2022-10-11 18:28] #68796 closed, assigned to nobody

[2022-10-11 18:35] #68790 closed, assigned to phcp

[2022-10-11 18:38] steve-lgtm commented on #68612
Hello?

[2022-10-11 18:38] NoHopeRadio opened #68924 "Page editing: A layer to draft changes on a published page or post"
### What

When making changes to an existing post, one may not be ready to make all the changes at once. An option to save a draft of changes might be useful.

### Why

For instance, perhaps you've added a paragraph and need to track down an image, and don't want to add the paragraph without it. You can kind of rely on the autosave, but that's not necessarily reliable, and if they content you've a

[2022-10-11 18:45] cuemarie commented on #68799
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Not Replicated**
- Replicable on Core? No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated on Simple and AT sites, but issue not present in self-hosted environment.

*Example from Simple Site*

https://user-images.githubusercontent.com/27249804/195173569-37a058a2-a9d8-4390-8a34-959b113f9add.

[2022-10-11 18:55] cuemarie commented on #68867
📌 SCRUBBING
- tried setting up SMS 2fa for a non-admin test account, but the SMS delivered fine for me.
- More HE discussion on the issue here, for context: p1665445217688809-slack-C02FMH4G8

📌 ACTIONS
- Due to the higher number of reports, going to push this one along anyway so we can get more eyes looking for patterns in the reports above.
- Marked as Triaged for Quality Squad review

[2022-10-11 19:08] cuemarie commented on #65214
📌 ACTIONS
- Since this is only happening within WPcom, it was recommended this stay in `/wp-calypso`
- Marking as Triaged for Quality Squad review. This has been tough to replicate, but based on the reports above it's still happening with some consistency

[2022-10-11 19:18] markbiek commented on #67450
@blackjackkent What do you think of this wording? (based on the link you provided)

![image](https://user-images.githubusercontent.com/917632/195179808-4bc5c310-5794-4758-9642-86b4b4f23d95.png)

[2022-10-11 19:36] epeicher commented on #67657
I am assuming the Business plan is required to install the SaaS plugins, is that correct? If that is the case, should the Business plan price be displayed?

<img src="https://user-images.githubusercontent.com/3519124/195182051-8d6f5383-ba92-4a99-8fbd-c1296d258daa.png" width="300" />

[2022-10-11 19:47] Addison-Stavlo commented on #61179
I think we may be soon getting rid of these footer credits in place of banners? cc @autumnfjeld regarding this and the timeline for implementing that change.

the template switcher probably isn't going anywhere anytime soon though!

[2022-10-11 20:05] arcangelini commented on #68583
Add V2 endpoint for creating Happychat session - D89671-code

[2022-10-11 20:12] iamtakashi opened #68929 "Theme: Launch Masu"
### Details

The Masu free theme needs the following:

### Checklist

- [x] Move Masu to WP.com
- [x] Set up a [demo site](https://masudemo.wordpress.com/)
- [x] Theme showcase draft](https://theme.wordpress.com/wp-admin/post.php?post=41000&action=edit)
- [x] Headstart annotation (guide: paYKcK-1Pt-p2) (Strand ID `142550`)
- [x] GlotPress project (guide: paYKcK-1Pt-p2)
- [x] Launch a free theme (g

[2022-10-11 20:18] Addison-Stavlo commented on #60209
Is this issue still being experienced?

[2022-10-11 20:49] Gustavo-Hilario opened #68930 "Gutenberg: Images are oversized on the editor when the dimensions are bigger than the column width"
### Quick summary

When creating columns with single images, the images are oversized on the editor whenever the image size is bigger than the column width.

### Steps to reproduce

1. Create a new page or post.
2. Add the columns block. To make it easy to reproduce this issue, I'd suggest adding 3-5 columns.
3. Add an image to each of the columns. At this point, the images should be constrained w

[2022-10-11 22:12] mreishus commented on #68847
Interesting. I was looking for a generalized way to do this, but couldn't find one. This looks like it might work. One thing I'm seeing is that I have to remove one level of arrays from the values on application time, that is:
[code]

[2022-10-11 22:23] kuropixel commented on #68867
Another report: 5620944-zen (Canadian number, status undelivered)

[2022-10-11 22:35] mreishus commented on #68847
I'm starting to think the option plan will not work. When you create a new atomic site, options are not copied from the simple site. Anything I write to options before the transfer is just lost.
There's a way to override this and specify that an option should be copied, but the last time we added to this list, there was pushback from Barry. I don't think this is really a supported avenue. I'm look

[2022-10-11 22:38] vinimotaa commented on #67657
Hi everyone - I had a quick pass at this, and I'd like to hear your feedback.

<img width="972" alt="image" src="https://user-images.githubusercontent.com/97929097/195210268-a44b2ce1-0904-45ba-b7c0-acea90d2d768.png">

I designed for two use cases;

**For users below Business Plan**, we can use a secondary color CTA for "plugin activation" and add a "plan upgrade" call to action component+CTA right

[2022-10-11 22:40] DustyReagan commented on #67987
Could collections just be categories we hide from the "More" drop down? We could have 3 new categories named "monetization-collection", "local-business-collection", and "online-store-collection". Maybe we don't even need to hide them from the "More" drop down.

[2022-10-11 22:48] lsl commented on #67987
We can hide these from the drop down in the same way we hide paid / featured, they're also defined as categories.

The merging/storing this list with the `useCategories` hook isn't a big issue for me. The bigger concern I have is how we load plugin info via our list vs turning off the existing plugin list / information loading via `usePlugins`.

If that part can't be done simply or easily I don't

[2022-10-11 22:53] vinimotaa commented on #68370
This is pretty confusing -

"Jetpack Search is automatically managed for you."
I didn't get that, plus, do I need to be on Business Plan to access that plugin?

CTA "Upgrade Jetpack Search"
Is my current version outdated? Does it mean that I already have that installed?

[2022-10-11 22:59] #68828 closed, assigned to paulopmt1

[2022-10-11 23:08] kuropixel commented on #68867
Another report. 5624205-zen. (Canadian number, status undelivered)

[2022-10-11 23:13] cometgrrl commented on #32741
Ah, the pesky detail of where the code lives!  I'll leave it here in Calypso for now, and see if we can reproduce, if not, we'll close it.

[2022-10-11 23:55] lsl opened #68935 "Marketplace: Plugin failure warning in calypso.live context"
Logged out views of calypso.live show a fetch error:

![Screenshot 2022-10-12 at 10-54-10 Plugins — WordPress com](https://user-images.githubusercontent.com/811776/195219174-dd3b361d-8041-4dab-94ba-d6adb1214197.png)

Can we hide this when logged out in calypso.live / dev environments?

[2022-10-11 23:57] lsl commented on #68935
@claudiucelfilip guessing there is something already done to disable this in prod, could you point me in the right direction to add this to dev env's too?

[2022-10-12 00:19] lsl commented on #67979
Design review early and often is always welcome!

Sorry, missed these, I was focusing on getting something to unblock these other todo's https://github.com/Automattic/wp-calypso/issues/67987#issuecomment-1274141653 and re-using the existing compact view to get something in front of users right away felt like a good call.

We could put it all behind a feature flag and leave this issue open to itera

[2022-10-12 02:21] arthur791004 commented on #61729
@caimin-j I think the issue has been fixed, could you kindly help to check again? thanks!

[2022-10-12 02:26] lsl opened #68937 "Marketplace: Margin fix for jetpack backups nudge"
When viewing the plugins page with a jetpack site selected I see a backups nudge hidden by the sticky header of the page.

![Screenshot 2022-10-12 at 13-23-20 Plugins ‹ Ganon Test Site — WordPress com](https://user-images.githubusercontent.com/811776/195234955-e08bf108-dec8-45fa-a4ed-a58878198f2f.png)

- [ ] Move nudge into the main layout so it's no longer covered over by the header

[2022-10-12 02:32] lsl commented on #68935
https://github.com/Automattic/wp-calypso/pull/68835

[2022-10-12 02:32] #68935 closed, assigned to nobody

[2022-10-12 03:22] jordesign commented on #59396
@kriskorn pinging you to see if you get the impression this is a platform level issue which still needs addressing? I'm only seeing one additional report in the past year...

[2022-10-12 03:25] zachspears commented on #68756
I think this is an important change to prevent confusion and ensure consistency across AT sites and account settings. Marking Low priority due to low impact.

[2022-10-12 03:28] zachspears commented on #68862
Adding a post when columns are expanded is the expected behavior when editing a query loop block. Keeping this enhancement request, marking low priority due to low impact.

[2022-10-12 03:31] zachspears commented on #62279
Additional request from [duplicate ticket](https://github.com/Automattic/wp-calypso/issues/68878): 37322041-hc

[2022-10-12 03:31] jordesign commented on #39424
As there are only 2 instances of this in the last 2 years I'm going to close the issue. We can always re-open if we start to get more reports.

[2022-10-12 03:31] #39424 closed

[2022-10-12 03:32] zachspears commented on #68878
Hello @edwinho89, it looks like this is a duplicate request of [this ticket](https://github.com/Automattic/wp-calypso/issues/62279), so I am closing this one for now. I have added your interaction to the other ticket for transparency.

[2022-10-12 03:32] #68878 closed, assigned to nobody

[2022-10-12 03:35] zachspears commented on #68882
This could be a useful additional to our SEO tools in Simple sites. Marking low priority due to low impact.

[2022-10-12 03:39] zachspears commented on #68893
Hey @devNigel, I was unable to reproduce this. Do you notice the issue in a particularly browser or theme?

[2022-10-12 03:52] arthur791004 commented on #68427
Yes, we could create any templates via the `/wp/v2/templates` endpoint and this [PR](https://github.com/Automattic/wp-calypso/pull/68473) is a great example to create a custom template.

I believe the value of `template->source` is `theme` 😅

I don't think so. We're not able to change the way that how we render the “Home“ page template, so you have to know how it works. See `gutenberg_resolve_home

[2022-10-12 04:00] #68620 closed, assigned to lsl

[2022-10-12 04:00] #68621 closed, assigned to lsl

[2022-10-12 04:24] lsl opened #68940 "Marketplace: Move PluginsBrowser to typescript"
[`PluginsBrowser`](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugins-browser/index.jsx) and [`PluginsBrowserList`](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugins-browser-list/index.jsx) have been refactored enough now that we can probably get these rolled over onto typescript without too much trouble.

I noticed in https://gith

[2022-10-12 04:34] lsl opened #68941 "Marketplace: Browse all left-padding"
The new subheadings are running up a bit close to the browse all link in some mobile resolutions. Need to add a padding/space between them.

- [ ] Add space between subtitle/titles and the browse all links.

![Screenshot(38)](https://user-images.githubusercontent.com/811776/195250798-c0430d2f-8b89-4485-9fc9-9bca9a88bde4.png)

[2022-10-12 04:51] #68800 closed, assigned to lsl

[2022-10-12 04:51] #67925 closed, assigned to lsl

[2022-10-12 04:51] #67979 closed, assigned to lsl

[2022-10-12 04:51] #67980 closed, assigned to lsl

[2022-10-12 04:51] #67982 closed, assigned to lsl

[2022-10-12 04:51] #68877 closed, assigned to lsl

[2022-10-12 04:54] lsl commented on #65574
This should be resolved now. There is some remaining refactors to fix up some margins in the education footer and below but we're tracking that in https://github.com/Automattic/wp-calypso/issues/68622

[2022-10-12 04:54] #65574 closed, assigned to lsl

[2022-10-12 05:00] autumnfjeld commented on #68427
@arthur791004  Can you help me understand this?

Just focusing on when a user has gone thru PA flow and has the new blank canvas theme there won't be two cases. Right? There will only be one case: user switching from the BC theme which uses the home.html template to display content on the users root page.  Then, on theme switech, we need to preserve the content of that template in the next theme.

[2022-10-12 05:23] lsl opened #68942 "Marketplace: Add 6 replacement plugins for collections"
We had to drop a few of the proposed plugins as they weren't yet available in the marketplace.

- [ ] Work with design to come up with 6 replacements for the `monetization` and `business` collections. (3 each)
- [ ] Add the 6 new plugins to the [`useCollections` array](https://github.com/Automattic/wp-calypso/blob/ba0b00eaa561a6ebf7b507133cc82b389b357ab9/client/my-sites/plugins/plugins-browser/col

[2022-10-12 05:23] lsl opened #68943 "Marketplace Collections: Plugin data loading investigation"
In https://github.com/Automattic/wp-calypso/pull/68884 I made some assumptions about the way we want to store this data plugin data for collections. Collections are currently [hardcoded](https://github.com/Automattic/wp-calypso/blob/ba0b00eaa561a6ebf7b507133cc82b389b357ab9/client/my-sites/plugins/plugins-browser/collection-list-view/index.tsx#L21) along with all their plugin information (Names, de

[2022-10-12 05:23] lsl opened #68944 "Marketplace Collections: Tracks events for collection plugin and browse all clicks"
We want to track the performance of plugins collections.

We already have existing click events for individual plugin clicks via [`calypso_plugin_browser_item_click`](https://github.com/Automattic/wp-calypso/blob/62b9e0938a340fff7119cfde9d56daf37cc17c27/client/my-sites/plugins/plugins-browser-item/index.jsx#L97-L103) but we don't track clicks on "browse all" or "browse collections" links.

We curr

[2022-10-12 05:23] lsl opened #68945 "Marketplace Collections: Browse all links and pages"
To get https://github.com/Automattic/wp-calypso/pull/68884 out early we made the assumption that collections were not the same thing as categories as we define them per the [`useCategories` hook](https://github.com/Automattic/wp-calypso/blob/62b9e0938a340fff7119cfde9d56daf37cc17c27/client/my-sites/plugins/categories/use-categories.tsx#L36).

This resulted in the creation of a very similar looking

[2022-10-12 05:23] lsl opened #68946 "Marketplace: Collections design review"
https://github.com/Automattic/wp-calypso/pull/68884 Introduced the new collections defined by https://github.com/Automattic/wp-calypso/issues/67987. Since [we were able to re-use](https://github.com/Automattic/wp-calypso/issues/67979#issuecomment-1274119356) an existing compact design version of PluginsBrowserList, some design spec's were missed.

- [x] Review the specified designs in https://gith

[2022-10-12 05:24] lsl opened #68947 "Marketplace Collections: shuffle plugin collection order"
With the new collection sections introduced with #68884 / #67987 [we noticed](https://github.com/Automattic/wp-calypso/issues/67987#issuecomment-1274767847) Yoast is featured a bit excessively in slot 1 for multiple sections.

Along with adding more plugins to the collection via #68942, [adding list shuffling](https://github.com/Automattic/wp-calypso/issues/67987#issuecomment-1274794489) was sugge

[2022-10-12 05:24] lsl opened #68948 "Marketplace Collections: Jetpack sites"
With the new collection sections introduced with #68884 / #67987 we're now showing paid plugins to Jetpack users which we previously avoided.

- [x] Determine if we should hide paid plugins or even entire collections from Jetpack users
- [x] Determine if for Jetpack sites we should hide the first section
- [x] Action as required

/plugins currently looks like this for Jetpack users:

![Screenshot

[2022-10-12 05:31] taipeicoder commented on #68183
Closing as it's shipped. Will follow up with metrics in #68463

[2022-10-12 05:31] #68183 closed, assigned to taipeicoder

[2022-10-12 05:33] Robertght opened #68949 "Comments notification emails"
### Quick summary

We have someone who is getting email notifications on comments, but they have not subscribed to the site.

We need more help, based on this as it appears to be a .com specific thing:

https://github.com/Automattic/jpop-issues/issues/7805#issuecomment-1272756255

### Steps to reproduce

Unable to replicate.

### What you expected to happen

For the email notification to not show

[2022-10-12 05:34] Robertght opened #68950 "Unsubscribe email link doesn't work"
### Quick summary

This is a second issue related to the same case.

#1 https://github.com/Automattic/wp-calypso/issues/68949

### Steps to reproduce

We cannot replicate

### What you expected to happen

For the unsubscribe link to disable notifications on new comments

### What actually happened

It did nothing

### Context

5522885-zen

### Platform (Simple, Atomic, or both?)

Simple

### Theme

[2022-10-12 05:36] #68859 closed, assigned to mpkelly

[2022-10-12 05:44] mpkelly opened #68951 "Site Management Page: Coming Soon Tile - make it work for RTL"
### Details

A small item remaining from https://github.com/Automattic/wp-calypso/pull/68886

### Checklist

- [ ] The layout should be updated to support RTL languages like Hebrew.

### Related

https://github.com/Automattic/wp-calypso/pull/68886

[2022-10-12 05:46] lsl commented on #68944
Not required per [`calypso_plugin_browser_item_click`](https://github.com/Automattic/wp-calypso/blob/62b9e0938a340fff7119cfde9d56daf37cc17c27/client/my-sites/plugins/plugins-browser-item/index.jsx#L97-L103) and [`listName`](https://github.com/Automattic/wp-calypso/blob/62b9e0938a340fff7119cfde9d56daf37cc17c27/client/my-sites/plugins/plugins-browser/collection-list-view/index.tsx#L137) being prefix

[2022-10-12 05:49] lsl commented on #67987
Todos:
- [ ] https://github.com/Automattic/wp-calypso/issues/68942
- [ ] https://github.com/Automattic/wp-calypso/issues/68943
- [ ] https://github.com/Automattic/wp-calypso/issues/68944
- [ ] https://github.com/Automattic/wp-calypso/issues/68945
- [ ] https://github.com/Automattic/wp-calypso/issues/68946
- [ ] https://github.com/Automattic/wp-calypso/issues/68947
- [ ] https://github.com/Automatt

[2022-10-12 05:51] jordesign opened #68953 "[Tracking] Wayfinding and labeling improvements for the Site Editor"
### What

It would be great to build some better labelling and signposting/wayfinding around pathways and entry points to the Site Editor in order to improve user orientation and context.
Some potential ideas (ref: pc4f5j-2wc-p2#comment-2997 from @pablohoneyhoney ):

* Clearer labeling of the template name within the Site Editor
* A snackbar when the Site Editor loads - indicating you're editing a

[2022-10-12 05:55] jordesign opened #68954 "Consider locking the Post Content block in WPCOM themes"
### What

Could we lock the Post Content block from being removed in templates of WPCOM themes as something of a 'guardrail'?

Users could still unlock the block and then remove it if they wanted to - but it would stop accidental/unknown removals.

### Why

We often see cases where the user has inadvertently removed the Post Content block - meaning their page content doesn't show when the page is

[2022-10-12 06:02] jordesign opened #68955 "Add 'Templates' and/or 'Template Parts' to the Appearance menu to allow deep linking to those sections of the Site Editor"
### What

Could we add some additional items to the Appearance admin menu?

* 'Templates' which would link to /wp-admin/site-editor.php?postType=wp_template
* 'Template Parts' which would link to /wp-admin/site-editor.php?postType=wp_template_part

### Why

This could be helpful to users in 2 ways...

1. It makes it clear how to access those areas (for users who *know* they wish to go straight to

[2022-10-12 06:28] jordesign commented on #41096
Closing this in favour of https://github.com/Automattic/wp-calypso/issues/55739

[2022-10-12 06:28] #41096 closed

[2022-10-12 07:02] heavyweight opened #68956 "Fix header overlap for devices with height smaller than 512px"
<img width="562" alt="Screenshot 2022-10-12 at 08 44 26" src="https://user-images.githubusercontent.com/7000684/195272855-9693138e-94fa-4ecc-8e10-085578ae57bb.png">

More context:
p1665499614253999-slack-C02T4NVL4JJ

[2022-10-12 07:24] daledupreez commented on #68847
I am thinking we can keep things even simpler, at least for the "simple" data stored in `product_meta`.

Why don't we simply add a deeper set of key-value pairs below `hs_post_meta` that we apply for _any_ Headstart use case? This should occur well before we turn Atomic, and those values should be handled correctly during the transfer to Atomic. The only work is to then add the correct fields duri

[2022-10-12 07:38] sudeepbaral commented on #67344
Another report where the layout dimensions change did not work.

- [ ] 5620083-zen

[2022-10-12 08:07] arcangelini opened #68960 "Help Center: add some indication in Happychat"
### Details

To help HE's recognize they are speaking with someone using the Help Center, we should trigger an event that displays in the HUD of happychat like: `Chat started from Help Center`

### Checklist

_No response_

### Related

_No response_

[2022-10-12 08:27] kriskorn commented on #59396
@jordesign I can see that with a properly symlinked Twenty Twenty-One theme, the Global Styles option is there, so it seems the issue might mostly happen only when there is a .org version of the theme active on a site, [as Joshua has described here](https://github.com/Automattic/wp-calypso/issues/59396#issuecomment-1020380212).

With that said, I think we can go ahead and close this one and help c

[2022-10-12 08:42] caimin-j commented on #61729
@arthur791004 Just tested: it's working as expected now. Thanks!

[2022-10-12 08:48] nuriapenya opened #68961 "Launchpad: Email Validation message"
A side-effect of newsletters starting launched is a requirement for email verification to happen before allowing posts to be published. For that, I'm proposing to revise two areas:

1. Add a notification banner on top of the Launchpad to remind users on validating email
2. Re-design the text and styling of the already existing message in the editor

![Image](https://user-images.githubusercontent.c

[2022-10-12 08:52] jordesign commented on #59396
Awesome - i'd agree with that too. Thanks for the gut check - consider it closed!

[2022-10-12 08:52] #59396 closed, assigned to nobody

[2022-10-12 09:08] edwinho89 commented on #62707
Encountered similar issue in 5624531-zd-woothemes

[2022-10-12 09:26] miksansegundo commented on #68695
I found a much simpler solution to show the logo in the previews. I just had to upload a custom logo to the Blank Canvas Blocks demo site. We'll have to upload the logo to the new Clean Slate theme demo site when it is ready.

About the navigation issue, the issue cannot be fixed by removing the navigation ID `ref: 6217` because the editor adds that `ref` automatically. I found a simple solution,

[2022-10-12 10:21] nuriapenya opened #68967 "Launchpad: Copy to Clipboard"
For launched sites in which the URL is available (for now, Newsletter only), we will provide the possibility to copy the link into the clipboard from the domain input. This would allow users to quickly see their site live or share link.

**Logic:**

When hovering over the URL, the copy icon appears and clicking it automatically copies it to the clipboard. The tooltip disappears after a few seconds

[2022-10-12 10:25] nuriapenya opened #68968 "Launchpad: My Home Initial Proposals"
Another important topic is **Post-Launch**.

- How can we celebrate users’ milestones and, at the same time, keep them engaged in building their sites with more tasks?
- How can we utilise My Home for this? Reuse existing checklist?
- Can My Home become a hub for handling your Newsletter/LiB?

**Some more information provided by Pablo here:
https://docs.google.com/document/d/18tJvCqC8PmsssL5zW_80s

[2022-10-12 10:25] nuriapenya opened #68969 "Launchpad: Upgrade domain badge"
When users select a free domain during the onboarding, we will display a Customize badge in the domain input, allowing them to go back to the domain’s step and change it if desired.

I’m not sure how easy it is to bring the users back to the Domains Step page at the moment, but alternatively, we could link them to wordpress.com/plans for the time being

https://user-images.githubusercontent.com/79

[2022-10-12 10:28] nuriapenya opened #68970 "Launchpad: Main task should be a CTA"
We will turn the main task in the Launchpad into a primary button.

CTA:

- Newsletter: `Write your first post` and always be active as the site is live.
- LIB: `Launch your site` and will be inactive until users complete `Add links` task.

![Image](https://user-images.githubusercontent.com/7931304/195320210-9d404b40-9878-49e9-9249-1f6a697d5ecf.jpg)
![Image](https://user-images.githubusercontent.c

[2022-10-12 10:31] carinapilar commented on #39424
@jordesign, this is still a recurring issue, although not being actively reported on GH. It seems it's now being tracked on this newer thread: https://github.com/Automattic/wp-calypso/issues/67618

[2022-10-12 10:35] gavande1 commented on #68829
Schema created at 2ddf3-pb/#sql

[2022-10-12 10:44] nuriapenya opened #68971 "Launchpad: Improve the experience from Launchpad → Editor"
Especially in Link in Bio, the process is not very intuitive. Some ideas are [re-using the [Welcome tour](p1664440209873939-slack-C03E1LGV796) (Slack) or displaying a modal after saving changes that bring users back to Launchpad.

**Some early explorations:**

https://user-images.githubusercontent.com/7931304/195322953-7321b20c-7447-43c3-830f-e9c525f31e97.mov

Designs: 9wpoYJrMlYKAKUYvVBMN74-fi-10

[2022-10-12 10:55] #68842 closed, assigned to kozer

[2022-10-12 10:58] artpi opened #68972 "Subscribe block: Handling logged-in states for newsletters"
In the https://github.com/Automattic/jetpack/pull/26417 branch, we introduce 3 levels of gating access to the post:

1. Everybody
2. Paid subscriber-only
3. Email subscribers only

We have made 1 and 2 work, but 3 is a different pickle.

We need to properly handle logged-in states for when:

1. User is logged out on the site frontend, but logged in to Wordpress.com, and a **paid** subscriber. Post

[2022-10-12 10:59] artpi commented on #68972
CC @mtias

[2022-10-12 11:14] nuriapenya opened #68973 "Launchpad: Adapted Launchpads in other areas of the product"
Launchpad is essentially a list of tasks to act on. This means that it can appear in different parts/pages of the product and take different shapes. How can we turn these lists into better Launchpads:

![Image](https://user-images.githubusercontent.com/7931304/195323484-14f5db4b-1249-48ee-a8af-e710ec7effcd.png)

[2022-10-12 11:19] markbiek commented on #65900
I've started an MC page to call out themes that have mismatches. Details in paYKcK-2a8-p2

[2022-10-12 11:33] keoshi opened #68974 "Update page header"
Part of the modernization project (p1HpG7-igQ-p2).

# Development

Blocked by #69041, which needs to be in place before this can be implemented.

# Design

We'll want to update the page header to match Calypso's new pattern. This new header is already present in:

- Add-ons: https://wordpress.com/add-ons/
- Domain: https://wordpress.com/domains/manage/
- WooCommerce: https://wordpress.com/woocomme

[2022-10-12 11:46] arthur791004 commented on #68427
I tested the above cases and the `show_on_front` keeps unchanged if the user wants to keep their home page content. As a result, we don't need to consider them.

It depends. If the themes use “the latest posts” as their home page, the home page template might be “front-page.html”, “home.html” or “index.html”. Therefore, we need to copy the content from the old home page template to the new home pa

[2022-10-12 11:47] #65609 closed, assigned to nelsonec87

[2022-10-12 11:53] keoshi opened #68975 "Create layout grid"
# Development

- [x] Apply grid layout to Traffics page.
(#69907)
- [ ] ~Apply grid layout to the Insights page.~
Note: I don't think it's appropriate to apply a grid to the insights page at this time -- we need to migrate other components on that page before we can consider this. -@jsnmoon

# Design

Part of the modernization project (p1HpG7-igQ-p2).

To make sure our layout is scalable, expectab

[2022-10-12 11:55] nelsonec87 opened #68976 "Theme Bundling: Wrong plan is added to the cart"
On onboarding, if you pick a theme bundled with WooCommerce, you get the Upgrade Modal:

![image](https://user-images.githubusercontent.com/3801502/195335340-8f7b3f84-d443-46bb-bbd4-0890f9118f29.png)

If you click on `Upgrade Plan`, Premium Plan is added to the cart instead of the Business Plan.

![image](https://user-images.githubusercontent.com/3801502/195336187-bbba355f-54ce-4dc6-826c-efc682950

[2022-10-12 11:56] pauljacobson opened #68977 "Related Posts not being displayed on posts on sites that meet minimum requirements for the feature"
### Quick summary

Our customer reported that related posts are not being consistently displayed on their posts on their two sites. Both sites meet the [minimum requirements for the feature to work](https://wordpress.com/support/related-posts/#requirements).

Here are some example posts that the customer highlighted:

Web site: hereliterature.wordpress.com
pbXEkl-AU-p2
pbXEkl-iG-p2
pbXEkl-E-p2
pbX

[2022-10-12 12:29] arthur791004 commented on #61729
👍

[2022-10-12 12:29] #61729 closed, assigned to arthur791004

[2022-10-12 12:32] arthur791004 commented on #68880
Close it in favor of p1665477921376149/1665152933.113869-slack-CRWCHQGUB

[2022-10-12 12:32] #68880 closed, assigned to arthur791004

[2022-10-12 13:13] keoshi opened #68981 "Update modules styling"
Part of the modernization project (p1HpG7-igQ-p2).

We're proposing a visual refresh of each module and we're summarizing all changes here.

This change also includes adding a percentage bar to create a nice and simple visual representation of the distribution of data available on each module. **Q: do we want to break this into its own task?**

Below you'll find the Before/After comparison as well

[2022-10-12 13:23] mashikag commented on #56688
This issue should be moved to Gutenberg since it is in relation to `Social Icons` block which is a core block.

[2022-10-12 13:25] davemart-in commented on #23062
This should be fixed now.

[2022-10-12 13:25] #23062 closed

[2022-10-12 13:29] steve-lgtm commented on #68612
@Jaykame Is this issue still available?

[2022-10-12 13:36] davemart-in opened #68982 "READER - Remove follow/following links"
## Description

There are a handful of places where we need to remove the Follow/Following links:

- [x] Search results screen
- [x] Recommended posts (Keep icon, remove label)
- [x] My likes & lists pages

### Search results screen

![CleanShot 2022-10-12 at 09 37 38](https://user-images.githubusercontent.com/5634774/195357665-aaec7488-fbc1-4f13-8923-b54c0b1fad28.png)

### Recommended posts

![Cl

[2022-10-12 13:46] #60906 closed, assigned to yansern

[2022-10-12 13:46] davemart-in opened #68983 "READER - Recommended posts updates"
## Description

Four issues to fix:

- [x] border on cards is not being inset
- [x] image height is not the regular height we’re using for cards (300px) - possible we may not be able to fix this
- [x] paragraph text should be truncated at 2 lines
- [x] The info next to the avatar should be in the same style and format as the normal cards.

![CleanShot 2022-10-12 at 09 46 02](https://user-images.gi

[2022-10-12 13:46] bogiii opened #68984 "Subscriber form: 403 error redirects issue"
In the onboarding flow I got 403 when trying to upload emails, the reason I got a 403 here is because I'm blocked by bkismet. The page still goes through to the ready view shortly and then redirects to homepage very quickly after that.

https://user-images.githubusercontent.com/1241413/195360163-030619a2-ffca-44e9-939c-dfd5c797f7bf.mp4

[2022-10-12 13:50] davemart-in opened #68985 "READER - Comment section updates"
## Description

Two issues:

- [x] Manage comments and follow conversation links need vertical alignment
- [x] Star needs vertical alignment love

![CleanShot 2022-10-12 at 09 51 41](https://user-images.githubusercontent.com/5634774/195361118-dcf72435-afeb-4462-8f4c-b75920c5c028.png)

![CleanShot 2022-10-12 at 09 52 17](https://user-images.githubusercontent.com/5634774/195361291-ea10eaa4-21e1-445f

[2022-10-12 13:51] bogiii opened #68986 "Subscriber form: nothing happens while importing emails when subscribers count is 0"
In-product page, if there are no subscribers yet, and I added an email that's already subscribed to the blog and it's also a wpcom user, it looks like it's stuck.

https://user-images.githubusercontent.com/4074459/195318757-0e8d55b9-38a9-4647-bd8d-e6889ee89ff4.mp4

[2022-10-12 13:55] davemart-in opened #68987 "READER - Image inset borders"
## Description

Check all images to make sure they have inset borders. A couple of examples where this is not happening:

![CleanShot 2022-10-12 at 09 57 00](https://user-images.githubusercontent.com/5634774/195362600-ed603b5d-6c21-48d8-ad1b-dc1246047777.png)

![CleanShot 2022-10-12 at 09 57 23](https://user-images.githubusercontent.com/5634774/195362709-20755824-e685-4a9d-9700-e924f0695958.png)

[2022-10-12 14:02] mashikag commented on #61605
There were multiple issues raised in this ticket as pointed out in @ivan-ottinger  comments.

It looks like only two are still remaining as open:
1. Spearhad theme issue as per [the comment](https://github.com/Automattic/wp-calypso/issues/61605#issuecomment-1090030471). This one seems to have a dedicated ticket open.
2. Baker theme issue as per [the comment](https://github.com/Automattic/wp-calyps

[2022-10-12 14:02] Addison-Stavlo commented on #68969
While the domains screen shown in the video is being refactored and redesigned from setup to stepper frameworks, it probably makes sense to make this upgrade badge link to calypso domains page in the meantime.

[2022-10-12 14:12] markbiek commented on #66008
That's what we're seeing as well with Videomaker White _and_ [Payton](https://github.com/Automattic/wp-calypso/issues/66286).

Started a thread to discuss more in p1665499647582739-slack-C029FM1EH

[2022-10-12 14:17] Copons commented on #68370
You don't need any plan for Jetpack Search.
It's a preinstalled feature on all Dotcom sites (hence the "automatically managed" message), and it's also available as standalone plugin.

It has both free and premium features, so in this case "upgrade JP Search" really means "pay for JP Search premium".
If it was outdated, the term would have been "update". 🙂

Yes, yes it is!
We discussed at length to

[2022-10-12 14:49] ouikhuan commented on #68984
The full response I was getting is:
[code]

Request URL: https://public-api.wordpress.com/rest/v1.1/sites/${SITE_ID}/invites/new?_envelope=1

[2022-10-12 14:50] ouikhuan commented on #68984
Have just tested on a simple site and it's showing the same behavior. No matter what email you type in, you'll get redirected to the homepage.

[2022-10-12 14:58] Copons commented on #68916
Hi folks!
I'm fairly sure this is either a Core or theme issue, but it's very complicated to reason about.

In short, it boils down to the C in CSS: "cascading".
Styles are applied in a specific order and with specific... specificities.

With GS, we have multiple CSS sources for every element of the page:
- The Editor's own default styles.
- The theme's default styles.
- The theme.json granular (e

[2022-10-12 14:59] DavidRothstein opened #68988 "[Bug]: Post-checkout thank you page says "You don't have any WordPress sites yet" for users without sites"
### Quick summary

As a user without any sites yet, making a Jetpack purchase (via siteless checkout) leads me to this post-purchase "thank you page":

![siteless-checkout-thank-you-page](https://user-images.githubusercontent.com/235183/195377047-d41c8374-d58d-4e0d-a1eb-82c5617a93c6.png)

As can be seen from the URL, it was probably trying to redirect me into the expected thank you flow but got in

[2022-10-12 15:02] zaguiini commented on #68919
That's a fair call @sejas 👍 I would advise against changing the copy since it will increase the complexity for the user. Let's just display the visible sites and make the count only for visible sites. Hidden sites are only shown in the site switcher and in search, so let's not stress about it and make the user need to remind one more thing.

[2022-10-12 15:57] mreishus commented on #68847
I tried the above patches out and they look to be a great solution for product data :+1:

[2022-10-12 16:20] davemart-in opened #68994 "READER - Full post featured image needs to be full-width"
## Description

- [x]  When viewing a full post, the featured images should be 100% of the width (720px), not 474px:

![CleanShot 2022-10-13 at 10 55 04](https://user-images.githubusercontent.com/5634774/195632012-66325756-df90-4961-a463-4412f5f715a5.png)

See: `/read/feeds/108002187/posts/4313195239`

- [x] Recommended post & search screen images that are more tall than they are wide are not fill

[2022-10-12 16:24] #68641 closed, assigned to bogiii

[2022-10-12 16:24] #68831 closed, assigned to bogiii

[2022-10-12 16:27] emilyaudela opened #68995 "Pro Plan mention in Media Library Classic View"
### Quick summary

In the classic view of the media library (/wp-admin/upload.php), there is still a mention of the Pro plan. The Pro plan has been deprecated for several months so this should be replaced with the Premium, Business or eCommerce plan.

![image](https://user-images.githubusercontent.com/36699353/195396072-9418736e-a685-4a02-96f7-d7e39b1b3a1d.png)

### Steps to reproduce

1. Start on

[2022-10-12 16:32] sirbrillig commented on #68988
I agree that the bug seems likely to be related to that PR. What I don't understand yet is why it's happening. My first guess was that the [pending page redirect function](https://github.com/Automattic/wp-calypso/blob/2dbbd0a9b64eb73d3c08da63d8972d7770af7f8b/client/my-sites/checkout/checkout-thank-you/pending/index.tsx#L76-L81) is misbehaving somehow.

The way it's supposed to work is that if ther

[2022-10-12 16:34] sirbrillig commented on #68988
To the above, maybe `siteSelection` is doing this:

https://github.com/Automattic/wp-calypso/blob/2dbbd0a9b64eb73d3c08da63d8972d7770af7f8b/client/my-sites/controller.js#L442-L447

[2022-10-12 16:46] #68270 closed, assigned to renancarvalho

[2022-10-12 16:46] #68823 closed, assigned to heavyweight

[2022-10-12 17:06] DustyReagan commented on #68948
I feel like we should hide all plugin collections to Jetpack sites, until we get more free plugins to shuffle into the space taken up by paid plugins. At that point we can re-evaluate if we'd like to show collections (with paid plugins filtered out) to Jetpack sites, and where they should be placed (such as the case with the first monetization collection appearing above dev favorites).

I created

[2022-10-12 17:10] DavidRothstein opened #68998 "Cannot disable auto-renew for purchases made without a site"
### Quick summary

If you use Jetpack siteless checkout to purchase a subscription that isn't yet connected to a site, and then go to manage the purchase, you don't have the option to toggle auto-renew on or off ("ON" in the screenshot below would normally be a link):

![jetpack-siteless-checkout-no-autorenew-toggle](https://user-images.githubusercontent.com/235183/195405243-20f7c060-df27-45ac-8e1

[2022-10-12 17:45] jsnmoon commented on #68680
No longer a valid issue, closing.

[2022-10-12 17:45] #68680 closed, assigned to grzegorz-cp

[2022-10-12 17:45] #68678 closed, assigned to grzegorz-cp

[2022-10-12 17:45] #68677 closed, assigned to grzegorz-cp

[2022-10-12 18:45] #68307 closed, assigned to nelsonec87

[2022-10-12 18:54] allilevine commented on #68599
@paulopmt1 @candy02058912 Can we close this one with pb5gDS-27P-p2 ?

[2022-10-12 19:54] sirbrillig commented on #68988
https://github.com/Automattic/wp-calypso/pull/69002 Should fix it.

[2022-10-12 20:30] #67450 closed, assigned to markbiek

[2022-10-12 20:32] zachspears opened #69004 "Munchies theme line height is too small"
### Quick summary

Line Height in Munchies theme makes text blend together.

Line height issue: https://imgur.com/cSxqYwA
With theme template _line-height_ commented out: https://imgur.com/m8wQWFs
(Had trouble adding images directly, so uploaded them to imgur instead)

### Steps to reproduce

1. Using the Munchies theme create a new page.
2. Add paragraph block and preview page.

### What you expe

[2022-10-12 20:34] ccwalburn opened #69005 "Navigation Block: Page List doesn't automatically update when pages are added"
### Quick summary

If the Navigation block uses the Page List block, it sometimes shows all of the pages correctly when you look at it in the site Editor, but it doesn't appear to have the latest version of all of the pages on the front end for some sites. Re-saving the template in the site Editor fixes it.

### Steps to reproduce

I could only reproduce this on a brand new site.

1. Create new si

[2022-10-12 20:42] #68948 closed, assigned to DustyReagan

[2022-10-12 20:59] ash1eygrace opened #69006 "[Bug]: Add Jetpack Server Credentials Showing on Atomic Site's Backup Page"
### Quick summary

If the site is Atomic, we need not to show the **Add your server credentials banner** or the message **Enter your server credentials to enable one-click restores from our backups** on the Jetpack backups page, since we manage those credentials and there are no user-facing ways to edit or see those.

<img width="1639" alt="Screen Shot 2022-10-12 at 2 46 51 PM" src="https://user-i

[2022-10-12 21:13] Initsogar commented on #69006
Thanks for the issue report @ash1eygrace! I'm working on it.

[2022-10-12 21:20] paulopmt1 commented on #68599
Sounds good @allilevine. Thanks for the funnel @candy02058912, it was really helpful on that report.

[2022-10-12 21:20] #68599 closed, assigned to candy02058912

[2022-10-12 21:20] #68947 closed, assigned to DustyReagan

[2022-10-12 21:39] daledupreez opened #69008 "Fix navigation menus after Tsubaki headstart"
### Details

While testing some changes in D89811-code, I ran Headstart for the Tsubaki theme and noticed that two navigation menus didn't seem correct after the Headstart process completed:
 1. The top nav bar only includes a link to _Shop_, while the demo site has links to _Shop_, _Blog_, and _My account_.
<img width="1700" alt="Screenshot 2022-10-12 at 23 29 55" src="https://user-images.githubu

[2022-10-12 21:56] jsnmoon commented on #68975
Looks great!

[2022-10-12 21:57] mreishus commented on #69008
the nav post looks like:
[code]

parse_navigation_link_content() in wp-content/lib/headstart/class-headstart-setters.php() looks at the content, verifying that each ID exists as a post inserted in the annotation

* blog, id 6
  * It can't find something in new_post_ids with id=6, so it skips
  * also: `/blog` on my newly headstarted tsubaki test simple site leads to a 404 instead of the blog view

[2022-10-12 21:58] jsnmoon commented on #68687
No longer applicable according to the latest designs.

[2022-10-12 21:58] #68687 closed, assigned to nobody

[2022-10-12 22:00] jsnmoon commented on #68981
Yes, I think having a separate task for the bar chart background makes a lot of sense.

[2022-10-12 22:01] mfraser commented on #62088
https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1944468

[2022-10-12 22:05] annezazu commented on #68916
Possibly related: https://github.com/WordPress/twentytwentythree/issues/278

[2022-10-12 22:34] autumnfjeld opened #69011 "[Spike] Surfacing virtual pages in the wordpress.com/pages UI"
# Description 🚧
This ticket is a WIP.  I'm getting my thoughts together as I write it.

For MVP of the Pattern Assembler we have a number of "supporting work" items to make the user experience smoother.  One of these items is surfacing "virtual pages" in https://wordpress.com/pages.

![Image](https://user-images.githubusercontent.com/5665959/194182118-c0c6828e-412b-44b4-bca7-ba87a02194f4.png)

![I

[2022-10-12 22:44] DustyReagan commented on #68943
I started looking at this, but haven't gotten far. Can we use [`usePlugins`](https://github.com/Automattic/wp-calypso/blob/5db172218bbdfbe6cd74591f201c68eb1db70fa9/client/my-sites/plugins/use-plugins/index.ts#L54) to pull a list of plugins by `slug`?

[2022-10-12 22:51] sejas commented on #68919
Cool, then I'll close this issue until we remove the stats page.

[2022-10-12 22:51] #68919 closed, assigned to nobody

[2022-10-12 23:31] cuemarie commented on #68455
So glad this has been reported - as I follow a lot of sites, this has been driving me a little bananas! ➕

[2022-10-13 01:58] jordesign commented on #52209
With only 3 reports here in the last year (and presumably no follow-on from those) I'm going to close this issue.
If we start to see more reports we can always open it again.

[2022-10-13 01:58] #52209 closed, assigned to nobody

[2022-10-13 03:04] #68760 closed, assigned to mpkelly

[2022-10-13 03:31] miksansegundo commented on #68695
✅ The logo and navigation are displayed in all our header and footer patterns!

**Headers**
<img width="325" alt="Screen Shot 2565-10-13 at 10 19 45" src="https://user-images.githubusercontent.com/1881481/195492332-d417fedf-0084-47c6-9aca-41af1add36c0.png">

**Footers**
<img width="610" alt="Screen Shot 2565-10-13 at 10 30 26" src="https://user-images.githubusercontent.com/1881481/195492656-348497

[2022-10-13 03:31] #68695 closed, assigned to miksansegundo

[2022-10-13 04:12] taipeicoder commented on #68463
Data in the period between feature ship and https://github.com/Automattic/wp-calypso/issues/68183

[Analysis: How style selection affects theme preview and selection](pbxlJb-2x4-p2)

[2022-10-13 04:20] miksansegundo opened #69012 "Pattern Assembler - Pattern previews improvements"
There are some potential improvements for the pattern previews:

- [x] Disable scrolling within the pattern preview iframe
- [x] Hide a scrolling bar that appears when loading the main component
- [x] Add vertical padding to the pattern preview iframe

[2022-10-13 04:40] #68944 closed, assigned to paulopmt1

[2022-10-13 04:49] lsl commented on #68943
Can possibly do multiple single plugin slug queries but you'd need to check it doesn't feel laggy or cause problems for logged out ssr views.

Before getting too far I'd like to get design confirmation about what collections are and where the data should be fetched from. Mostly for ideas about scale and how large / how many collections we want to have in future. If it stays a small list maybe hard

[2022-10-13 04:50] lsl commented on #68943
@vinimotaa are you able to expand on what you envision for collections from a technical perspective? What are they, what makes them different from categories?

[2022-10-13 05:41] rw-ye commented on #58937
Another report: 5625819-zd-woothemes

[2022-10-13 05:43] alaczek commented on #68861
In that case I think it's ok to close this issue.

[2022-10-13 05:43] #68861 closed, assigned to nobody

[2022-10-13 05:58] Greatdane commented on #67619
I also submitted this to Gutenberg, as I think it would be a good candidate for all of WordPress!

https://github.com/WordPress/gutenberg/issues/44913

[2022-10-13 06:06] lsl commented on #68937
Not just the jetpack nudge, must be a few things in here.

![Screenshot 2022-10-13 at 17-05-55 Plugins ‹ Site Title — WordPress com](https://user-images.githubusercontent.com/811776/195515209-9bb98e1c-3e7f-485d-81c0-9fb923f73e9f.png)

[2022-10-13 06:17] arthur791004 commented on #68427
Not exactly. We need to preserve the home page template, and it might be one of “front-page.html”, “home.html” or “index.html”.

[2022-10-13 06:21] arthur791004 opened #69014 "Pattern Assembler in logged-in Theme Showcase: Switching to blank canvas leads to PA flow"
#65575
# Description
This work in on pause until we have details from design (main issue being how to properly handle theme switch flow).  However we will move forward with adding the PA flow as an onboarding flow originating from the logged-out showcase.

Referring to p1665578592503809/1665152933.113869-slack-CRWCHQGUB, we need to make the pattern assembler a core part of the experience whe picki

[2022-10-13 06:37] arthur791004 opened #69015 "Create a home page template on the fly after the user finishes PA flow"
Referring to p1665497100719849/1665152933.113869-slack-CRWCHQGUB, the new blank canvas won't have a built-in `home.html` and we need to create it on the fly

[2022-10-13 06:56] southp commented on #68330
The PR is ready for review: https://github.com/Automattic/wp-calypso/pull/69016

[2022-10-13 07:38] devNigel opened #69018 "Verse Block goes outside viewport when it is beside a left or right aligned Image l"
### Quick summary

Adding a Verse Block beside a left or right-aligned Image Block will make it to go outside the viewport and pushes down blocks below it. Was able to reproduce it on AT and Simple sites in Independent Publisher 2 and Twenty Twenty One.cut

### Steps to reproduce

1. Add a new post.
2. Add an Image block that is not too wide and left-align it.
3. Add a Verse block such that it wil

[2022-10-13 07:39] devNigel commented on #69018
Might be related to this case: https://github.com/Automattic/themes/issues/3892

[2022-10-13 08:14] candy02058912 commented on #68599
Thanks @paulopmt1 for writing up the post 🙏

[2022-10-13 08:14] manzoorwanijk commented on #68988
Related p1HpG7-ir3-p2

[2022-10-13 08:31] ivan-ottinger commented on #68912
D89665-code is now merged and deployed.

[2022-10-13 08:31] #68912 closed, assigned to ivan-ottinger

[2022-10-13 08:32] ivan-ottinger opened #69019 "Jetpack Site settings endpoint files are out of sync with their WPCOM counterparts"
The following files are out of sync (WPCOM vs Jetpack codebase):

- `class.wpcom-json-api-site-settings-v1-4-endpoint.php`
- `class.wpcom-json-api-site-settings-endpoint.php`

We need to manually sync them in order to progress with the following PR: https://github.com/Automattic/jetpack/pull/26696.

[2022-10-13 08:35] keoshi commented on #68981
Makes total sense. I'll break the specs apart and add images to the card "_Add horizontal bar chart background for stats modules_".

[2022-10-13 08:36] ivan-ottinger commented on #69019
https://github.com/Automattic/jetpack/pull/26747 is now ready for review.

[2022-10-13 08:54] kavyagokul commented on #68879
📌 SCRUBBING : RESULT
I don't have access to a WIndows system, but I tested with other platform-independent tools to confirm if this is Windows specific.

📌 FINDINGS/SCREENSHOTS/VIDEO
- No issue  with editing metadata via
  - G.I.M.P
  - xmp-tool python library

📌 ACTIONS
- Await author feedback

📌 Message to Author
Hey @goblinartificer, have you tested if this only happens when using Western ISO e

[2022-10-13 09:19] zdenys commented on #68604
The user in 5607255-zd-woothemes is not happy about this change:

- https://github.com/Automattic/wp-calypso/issues/66626

Here is their feedback:

cc: @davemart-in

[2022-10-13 09:22] keoshi commented on #68981
@jsnmoon I've updated all instances to reflect the intermediary state without percentage bars.

[2022-10-13 09:36] kavyagokul commented on #68902
📌 SCRUBBING : RESULT
- Tested on P2 -  Could Not Replicate
- Tested on Simple - Could Not Replicate
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 ACTIONS
- Added to 'HE Cross-repo Watchlist' project board

Reported core bug
https://github.com/WordPress/gutenberg/issues/44922

[2022-10-13 09:50] jordesign commented on #67618
Bringing over an interaction from #39424

4155499-zen

[2022-10-13 09:50] jordesign commented on #39424
Thanks Carina - that being the case - I will close this issue in favour of https://github.com/Automattic/wp-calypso/issues/67618

[2022-10-13 09:59] kavyagokul commented on #69018
📌 SCRUBBING : RESULT
- Tested on P2 - Could Not Replicate
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Added to 'HE Cross-repo Watchlist' project board

Core bug submitted
https://github.com/WordPress/gutenberg/issues/44924

[2022-10-13 10:09] candy02058912 commented on #68946
### Margins/Paddings
- [ ] 20px -> 16px
![margin](https://user-images.githubusercontent.com/6586048/195566340-6311a56f-c7ad-4f57-b9eb-be6198aa4087.png)

- [ ] 20px -> 24px
![margin](https://user-images.githubusercontent.com/6586048/195567107-0fad4fdf-c311-4068-a9b3-c218edebd3c1.png)

### Font size
- [ ] 24px -> 26px
![font](https://user-images.githubusercontent.com/6586048/195564004-67c5b569-bc26-

[2022-10-13 10:13] danielbachhuber commented on #68455
Thanks for the report!

Displaying hidden sites in the Site Switcher was actually an intentional product decision in `Site Switcher i1` (pdKhl6-Fj-p2). We added sorting modes to the Sites page (https://wordpress.com/sites), including 'Magic' which sorts your sites based on frequency of interaction. We would also like to eventually remove the concept of hidden sites.

Our hope is that 'Magic' is su

[2022-10-13 10:15] Copons commented on #68893
I think this is related to either of these Core Guten issues:
https://github.com/WordPress/gutenberg/issues/43914
https://github.com/WordPress/gutenberg/issues/43395

There is indeed a small cache (1 minute, IIRC) on Global Styles.
It isn't often noticed while testing, because of how short it is and the number of things triggering a refresh (e.g. changing theme, just to name the most common).
The

[2022-10-13 10:15] #68893 closed, assigned to nobody

[2022-10-13 10:19] Copons commented on #67344
@Addison-Stavlo I think it makes sense if Ajax grabs this issue. Feel free to remove it from your backlog, if you agree! 🙂
Also, on the off-chance someone has already started working on this, please reach out to us for pointers, suggestions, and whatnot!

[2022-10-13 10:38] csabarakasz commented on #68716
I also noticed this issue while working on the Compelling Homepage Webinar presentation. So +1!

[2022-10-13 11:32] #68956 closed, assigned to nobody

[2022-10-13 11:43] danielbachhuber opened #69024 "Dev Tools: Switch account language helper"
For UI testing, it would be helpful to have an account language switcher in Dev Tools:

<img width="481" alt="image" src="https://user-images.githubusercontent.com/36432/195587285-e5c873ab-67ed-479b-bb1f-df17ea22c2a0.png">

**Done is:**
* [x] It's possible to switch the language for an account from Dev Tools.

[2022-10-13 12:15] upwardmomentum84 opened #69025 "Hever - Group/Row block border colors not working when a defined theme color is selected"
### Quick summary

When adding a border to a Group block or Row block, and you choose one of the defined theme colors, the border uses the primary theme color on the live view. The view of the page in the editor looks correct.

### Steps to reproduce

1. Use Hever theme.
2. Create a new page.
3. Add Group block.
4. Set border on Group block, choose any non-primary defined theme color.
5. Update pa

[2022-10-13 12:57] davemart-in commented on #68985
Closed in #68990

[2022-10-13 12:57] #68985 closed, assigned to davemart-in

[2022-10-13 13:06] davemart-in commented on #68604
@zdenys thanks for the feedback!

The changes were made to begin to incrementally improve the reader. This is the first of many updates that we plan to make. We had a blog post queued up to share this update, but since we had to cut scope, it was recommended that we we not publish it yet. Once we add the side bar, the page should look less skinny, and after that change is out, we'll get a blog pos

[2022-10-13 13:17] brinbliss commented on #68867
Another report in 5624320-zd-woothemes. Canadian number, status undelivered.

[2022-10-13 13:37] cpapazoglou commented on #68704
Backlog grooming:
- the page will be the same as the singe purchase page
- we might also create the route and use the same controller that renders the purchase page. It will need though an intermediate function to find the purchase id from the ownnesrhip id

[2022-10-13 13:54] ebinnion opened #69028 "Tailored cases: Pretty URLs for intro step"
### What

See p1665560677476059-slack-C02NQ4HMJKV

The request is to use a pretty URL for the first step of the tailored case flows so that the URL looks more like:

http://wordpress.com/setup/newsletter

Instead of

http://wordpress.com/setup?flow=newsletter

### Why

This is useful when sharing the URL manually.

### How

_No response_

[2022-10-13 14:32] candy02058912 opened #69031 "Marketplace Collections: Browse all / Browse collections button"
Related to #68945, but this one is focused on the button itself since this branched out from #68946.

![Image](https://user-images.githubusercontent.com/6586048/195625365-502a08d5-51f2-4fc5-93bf-794e6a11f57d.png)

Acceptance criteria:

- [ ] Browse Collection: Show the number of plugins in that particular collection
- [ ] Both: Add the `>` part

[2022-10-13 14:32] essleeung commented on #69006
Experienced in 29223218-hc. Also toggled the staging domain.

[2022-10-13 14:39] #68715 closed, assigned to JuanLucha

[2022-10-13 14:55] epeicher commented on #68219
#### Backlog grooming

- We would need to create a mapping similar to D81205-code.
- Potentially, we could create a new `WPES_WPCOM_Plugin_Post_Field_Builder` for getting the mapping from WC.com fields
- Add the WC.com id to this condition to the following condition 2de28-pb/

[2022-10-13 14:56] mreishus commented on #68847
Product data is now working with D89726-code + D89755-code.

[2022-10-13 15:12] #68929 closed, assigned to markbiek

[2022-10-13 15:15] gutenberg-plugin-upgrade-bot[bot] opened #69034 "Gutenberg: v14.3.x plugin upgrade"
Previous upgrade: #68295
Release notes: [v14.3.1](https://github.com/WordPress/gutenberg/releases/tag/v14.3.1)

**Install and activate**

- [ ] Install and activate v14.3.0-rc.1 on edge (######-code)
- [x] Install and activate v14.3.0 on edge (D89873-code)
- [x] Activate v14.3.0 on production (D89874-code)
- [x] Request v14.3.0 AT upgrade (p9o2xV-2sV-p2)
- [ ] Install and activate v14.3.1 on edge

[2022-10-13 15:17] jamiepalatnik commented on #68930
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I am able to replicate this.
- I found several open issues in the Gutenberg repo that seem to be related. Will close this issue as a duplicate.

📌 ACTIONS
- Closed as duplicate of https://github.com/WordPress/gutenberg/issues/36789

[2022-10-13 15:17] #68930 closed, assigned to nobody

[2022-10-13 15:19] shaunandrews commented on #23062
I don't see a related PR so I'm not sure what code was changed — but, I think this is more broken now than it was before. For example, on mobile safari I simply no longer see the action buttons. I still see the "external" icon, which also appears to be broken as its just kind of floating on its own:

![IMG_8082DD9174C0-1](https://user-images.githubusercontent.com/191598/195637611-2cd4afff-5e0e-439

[2022-10-13 15:35] davemart-in commented on #23062
Yeah, I intentionally removed the floating action bar, since it was a duplicate of the action bar at the bottom of the post and it was just blocking your view of the content. We can definitely tweak the styles for the external icon though.

[2022-10-13 15:38] jamiepalatnik commented on #68949
📌 SCRUBBING : RESULT
- Was not able to test, issue does not include steps to replicate.

📌 ACTIONS
- Closed as could not replicate (please reopen if the issue reoccurs)

📌 Message to Author
- @Robertght Please feel free to reopen with steps to replicate if possible. If this issue is only affecting one specific user, I'd recommend reporting through internal channels. Thanks!

[2022-10-13 15:38] #68949 closed, assigned to nobody

[2022-10-13 15:39] #68950 closed, assigned to nobody

[2022-10-13 15:52] jamiepalatnik commented on #68977
📌 SCRUBBING: RESULT

- Followed the steps to reproduce and confirmed that both sites have Related Posts enabled and have more than 10 posts each. I did not see related posts displayed on the single posts I checked.
- I did not test this on a test site because issue is missing steps to replicate on a test site. It seems to be user-specific report.

📌 FINDINGS/SCREENSHOTS/VIDEO

- Since this is issu

[2022-10-13 16:02] jamiepalatnik commented on #68995
📌 SCRUBBING : RESULT

- "Did you know that you can upload videos and embed them directly on your blog with VideoPress included in our [Pro plan](https://wordpress.com/plans/210397468/)?"
- Copy is still present.

📌 ACTIONS

- Marked as Triaged for Quality Squad review

[2022-10-13 16:07] paulopmt1 opened #69036 "Fix spacing and alignment between collections and the footer"
Fix spacing between collections and footer on [/plugins page](wordpress.com/plugins):

#### Paddings of the bottom section should be equal to the top section:

![Image](https://user-images.githubusercontent.com/1044309/195455921-eb439aa8-7cbc-47e7-8e6c-773b9a6bfe73.png)

#### Column alignment should match:

![Image](https://user-images.githubusercontent.com/1044309/195456043-5222c034-2192-4d61-847

[2022-10-13 16:24] gcsecsey commented on #63167
I've raised https://github.com/Automattic/wp-calypso/pull/68978 to address the previous issues

[2022-10-13 16:36] #68976 closed, assigned to nelsonec87

[2022-10-13 16:37] jamiepalatnik opened #69039 "FSE themes: Form block field alignment on live site does not match editor when field width is less than 100%"
### Quick summary

When a FSE theme is active and Form block fields are less than 100%, for example, to display two fields on the same row, the fields display as expected in the editor but appear on separate rows on the live site. I can only replicate this on FSE themes. With a classic theme active, the fields display as expected on the live site, matching the editor view.

### Steps to reproduce

[2022-10-13 16:59] vajrasar commented on #50740
Since @daledupreez 's last comment there is no activity here. It seems the issue is resolved. Pls feel free to open this if the issue persists.

[2022-10-13 16:59] #50740 closed, assigned to daledupreez

[2022-10-13 17:01] iamtakashi commented on #68929
That was quick! Thank you so much.

[2022-10-13 17:15] jamiepalatnik commented on #68867
Another report: 5618160-zd-woothemes

Advised user to use an authenticator app instead of SMS messages as a workaround in the meantime.

I checked the user reports we have so far and I see that most share the same error code in the SMS lookup. Investigating a resolution for this here: pMz3w-g7U-p2

Noting that 5619253-zd-woothemes had a different error than the rest on a couple SMS messages but ot

[2022-10-13 17:16] vajrasar commented on #68916
There is a contextual conversation here pdtkmj-EG-p2#comment-1121

[2022-10-13 17:17] vajrasar commented on #68794
@Robertght can you please re-check if there are any additional steps to replicate the issue?

[2022-10-13 17:41] carinapilar commented on #68455
Thanks for the context, @danielbachhuber! That's really sad to hear though, since removing that option is extremely disruptive to HE's workflows (another disruptive user case might be for agencies). For example, I have a couple of test sites that I use on my day-to-day work, I don't use all of them every day, so now I see just my primary test site at the top and then the other 357 P2s that I don't

[2022-10-13 17:46] john-legg commented on #64429
The [PR](https://github.com/Automattic/wp-calypso/pull/68419) has been merged. Thanks again for the help @worldomonation and @dpasque! 😄

[2022-10-13 17:46] #64429 closed, assigned to john-legg

[2022-10-13 18:00] jsnmoon commented on #68981
@keoshi Thank you!

[2022-10-13 18:01] jsnmoon opened #69041 "Update main chart area styling"
Part of the modernization project (p1HpG7-igQ-p2).

# Development

This blocks #68974.

- [x] Move the chart off of the card (remove borders and background color).
- [x] Round the top corners of each bar.
- [x] Visually separate the tabs from the chart.
- [x] Integrate the time period label and arrow controls above the chart.
- [x] Use core WordPress icons.
- [x] Use the primary color from the use

[2022-10-13 18:02] jsnmoon commented on #69041
A note for contributors: Please ship changes for this issue incrementally in multiple PRs.

[2022-10-13 18:14] allilevine commented on #68942
@sethmclellana8c suggested a pop-up plugin for site monetization. Just capturing that here.

[2022-10-13 18:17] Addison-Stavlo commented on #67344
Sounds great. Thanks @Copons !

[2022-10-13 18:55] masperber opened #69042 "Modal Walkthrough for Returning Customers to Restore Sites from Jetpack Backup"
### What

It would be beneficial to create a modal walkthrough which will guide customers through the process of restoring their Business or eCommerce site from Jetpack Backup when they repurchase a plan after their site has been downgraded due to expiration.

### Why

Determining how to restore a site is a common pain point for Business/eCommerce customers whose plans have expired. Customers need

[2022-10-13 19:35] jeyip commented on #68967
@nuriapenya In the 2 factor authentication backup codes feature, I found an existing example of copying to the clipboard, but with a different icon, different tooltip styling. Is it okay if we continue with existing conventions?

https://wordpress.com/me/security/two-step

<img width="620" alt="Screen Shot 2022-10-13 at 12 31 42 PM" src="https://user-images.githubusercontent.com/5414230/195692969-

[2022-10-13 19:56] valterlorran commented on #67030
I'm closing this since we fixed the problem for future applications.

[2022-10-13 19:56] #67030 closed, assigned to valterlorran

[2022-10-13 20:19] jamiepalatnik commented on #56279
Another report where embed appeared as link instead of as the post preview as expected: 5617285-zd-woothemes

[2022-10-13 20:33] phcp commented on #66651
@renata-franco the issue was fixed on D89102-code

[2022-10-13 20:33] #66651 closed, assigned to phcp

[2022-10-13 20:36] #68788 closed, assigned to DustyReagan

[2022-10-13 20:39] #68488 closed, assigned to agrullon95

[2022-10-13 20:39] #68519 closed, assigned to agrullon95, sharpirate

[2022-10-13 20:41] danielbachhuber commented on #68455
@carinapilar @rossanafmenezes Just to confirm, both of your accounts are set to sort by 'Magic'? You'll be able to see that at the top of https://wordpress.com/sites:

<img width="1354" alt="image" src="https://user-images.githubusercontent.com/36432/195706130-5c7517a5-8a77-4007-bdba-ed98f0bef414.png">

[2022-10-13 20:43] rossanafmenezes commented on #68455
Hi @danielbachhuber

Yes, Mine is. But it does not help in my case.

[2022-10-13 20:55] autumnfjeld commented on #68427
Correct.
@arthur791004 @bangank36  We only need to implement this functionality for the PA flow and for the exact conditions of the PA flow / new Blank Canvas theme.  Which is persisting content in the `home.html`.

The reason we won't implement this in other cases is because:
* to keep this issue very focused/simple
* work is being done in core on general persisting of theme switch
  * https://gi

[2022-10-13 21:35] grzegorz-cp opened #69044 "Stats: Add horizontal bar chart background for stats modules"
Part of the modernization project (p1HpG7-igQ-p2). Perhaps we could do this using dynamic styling?

# Development
- [x] Create a horizontal bar chart data table component
(#69117 by @grzegorz-cp)
- [x] Integrate the new component in the Traffic page
  - #69545
  - #69726
  - #69812
  - #69841
  - #69915
- [x] Release to production

# Designs

![Image](https://user-images.githubusercontent.com/3907

[2022-10-13 21:41] zachspears commented on #68924
I think this is a great idea and would add a lot of value for users to be able to make changes. I also think this would significantly impact our staging site alternative offerings because individual pages could be "staged" before publishing.

[2022-10-13 21:44] danielbachhuber commented on #68455
@rossanafmenezes and I chatted a bit about the specifics of her use case in Slack p1665695420988339-slack-C0347E545HR

[2022-10-13 21:46] IoanaAMuresan opened #69045 "Notify users of recent domain renewal when they try to renew"
### What

Proposing that we notify customers who attempt to manually renew a domain that there's been a recent renewal.

A couple of options available:
- either notify them of the current domain expiration + new expiration date if they proceed with their renewal
- tell them the last renewal was on [date]
- or just notify them if they renewed in the last 72 hours (or other timeframe)

Discussed her

[2022-10-13 21:50] zachspears commented on #68954
This is a great idea. There could even be a "notification" that informs users of what they are doing to ensure it is intentional. Marking Normal due to impact.

[2022-10-13 21:52] zachspears commented on #68955
This is a great idea and would also help users differentiate between them as separate kinds of editing. I think the menu, while just being useful to locate these pages, would also provide a lot of benefit for the intuitive understanding of FSE.

[2022-10-13 21:54] #66944 closed, assigned to nobody

[2022-10-13 21:54] #67821 closed, assigned to nobody

[2022-10-13 21:55] #68295 closed, assigned to nobody

[2022-10-13 21:58] zachspears commented on #69042
This is a great idea and would address a common pain point. This may also make a good document that we could reference, both within the modal and in chat.

Added Docs Issue here: https://github.com/Automattic/en.support-docs-content/issues/1719

[2022-10-13 22:28] danielbachhuber commented on #69042
@masperber @zachspears Great timing! I'd love your suggestions on `My Home Notice` copy for this exact scenario: pdtR3Z-1j9-p2

[2022-10-13 22:41] DustyReagan commented on #68945
I noticed the Figma had "Browse Collection (30)" as an example. I'm thinking if we're dealing with those kind of numbers, maybe using categories for collections is good idea. We could reuse some things I'm sure, usePlugins can query a category, the only thing I can think of that presents a problem is the short description. I believe plugins already have a "short description" field, but I think it'

[2022-10-13 22:51] DustyReagan commented on #68945
🤔 Though, using categories could be pre-optimizing. I think hard coded works great for our current numbers and for a proof of concept.

Another thought. We could use our hard coded sub-set of plugins for the /plugins discovery page only, and use categories for the "Browse Collection" page, and treat it just like any other plugin category in terms of rendering that page. That might be the fastest w

[2022-10-13 23:08] lsl commented on #68945
I like this idea. We could add a `preview: []` prop list to the `useCategory` response and use that when we render a collection[read:category] preview.

[2022-10-14 02:16] lsl commented on #69031
Thanks for splitting out to a new issue, we just removed that last week, I think the design / figma is out of date.

[2022-10-14 02:16] #69031 closed, assigned to nobody

[2022-10-14 02:22] #69036 closed, assigned to paulopmt1

[2022-10-14 02:26] #68951 closed, assigned to mpkelly

[2022-10-14 02:30] lsl opened #69051 "Marketplace: Add current route to browse all / plugin click tracks events"
Follow up on https://github.com/Automattic/wp-calypso/issues/68944

p1665695485877889-slack-CKZHG0QCR

We identified the need for adding current path / route to plugin click events.

- [ ] Add a `list_type` property to plugin click event properties `calypso_plugin_browser_item_click`
- [ ] Set "browse", "discover", and "search" appropriately. (This probably requires some prop drilling along the sa

[2022-10-14 02:34] autumnfjeld opened #69052 "Fix props in wpcom_pattern_inserted"
# Description

Context: p1665560719680619/1665560715.828549-slack-CRWCHQGUB

Fix props in wpcom_pattern_inserted that are firing null.  Do some sanity checking on this event to make sure it is recording what we think it is recording.

![Image](https://user-images.githubusercontent.com/5665959/195749233-00a46c9d-2285-4e58-a95e-6c44ab9a5be5.png)

![Image](https://user-images.githubusercontent.com/56

[2022-10-14 02:36] lsl commented on #69051
It might be enough to add a "browse-" prefix to the list name when on a browse page.

The main issue right now is we can't tell the difference between a plugin click on the paid section of the discover page and a plugin click in the paid /browse/paid page.

[2022-10-14 02:54] #68946 closed, assigned to candy02058912

[2022-10-14 03:18] fushar commented on #68427
@autumnfjeld I think what @arthur791004 meant is that while it's true that we only need to persist the content of `home.html` **from**  the PA Blank Canvas theme, we need to consider what template to updated in the **destination** theme as it could be one of “front-page.html”, “home.html” or “index.html”. CMIIW Arthur!

[2022-10-14 03:38] arthur791004 commented on #68427
Yes, that's what I mean. And we also need to consider switching back to the Blank Canvas theme, so the source of the home page template could be one of them too. We could use `gutenberg_resolve_home_template` to get the home page template in use

[2022-10-14 03:55] fushar commented on #69014
Do we load the original homepage patterns (from the previous theme) to the Pattern Assembler screen, or do we always start with an empty header/section/footer? Especially when the user selects "Preserve my homepage content" when switching to Blank Canvas.

@Automattic/ganon

[2022-10-14 04:20] fushar commented on #69015
Is this basically your PR? 😄 https://github.com/Automattic/wp-calypso/pull/68473 (just need to modify the template name)

@Automattic/ganon

[2022-10-14 04:26] lsl commented on #68942
Local business:
- https://wordpress.org/plugins/zero-bs-crm/ - "Lead generation through to invoicing and billing"
- https://wordpress.org/plugins/strong-testimonials/ - "Publish your testimonials and reviews"
- https://wordpress.org/plugins/all-in-one-wp-migration/ - "Move websites between hosts with ease"

Supercharge / Monetization
- https://wordpress.org/plugins/optinmonster/ - "Monetize your w

[2022-10-14 04:42] essleeung commented on #67249
Another report here: 5629107-zd-woothemes

Provided the CSS to remove all underlined links for now.

[2022-10-14 05:01] Robertght opened #69055 "Syntax: images without captions do not have a margin bottom"
### Quick summary

If there's a paragraph after an image without a caption, there will be no gap between the two

### Steps to reproduce

1. Activate the Syntax theem
2. Add an image and a paragraph after
3. Publish and check results

### What you expected to happen

To see a gap between the two as in the editor.

### What actually happened

![qKey3U.png](https://user-images.githubusercontent.com/

[2022-10-14 05:25] lsl commented on #68943
Update: I think we're circling on just calling these categories with a short set of specified preview plugins. See https://github.com/Automattic/wp-calypso/issues/68945#issuecomment-1278269225 for more info.

[2022-10-14 05:42] lsl commented on #68945
Here's what I'm thinking: https://github.com/Automattic/wp-calypso/pull/69057

Sort of works I guess, should be easy to maintain / add to in future. We could also use the preview sets to define what products show up at the top of category pages which is something I think we want to be able to do in some cases.

[2022-10-14 05:45] lsl commented on #67987
I think we've got this "done" enough to close out. Rest of todo's are still on the board. Just want to move this over to the other side.

[2022-10-14 05:45] #67987 closed, assigned to nobody

[2022-10-14 06:09] arthur791004 commented on #69015
Yes but we also need to modify the main content. Additionally, we might need to update the `show_on_front` option as you mentioned before

[2022-10-14 06:26] jordesign commented on #61293
@Automattic/editorial  is there a way we could word this more clearly to indicate that the upgrade credit is *just* for a higher plan?

Maybe something like `You have $X of pro-rated credits available from your current plan. Apply those credits towards a higher plan before they expire!`

Would also appreciate your recommendation on how/where a link to the support document would be best located wit

[2022-10-14 08:25] bogiii opened #69060 "Subscriber form: Show a disclaimer even if the customer types manual list of emails"
See: p2y3YZ-5IC-p2#comment-13985

[2022-10-14 08:48] gcsecsey opened #69062 "Marketplace search: investigate API performance"
The current average response times for both searching and fetching categories are around 700ms. This seems to be slow compared to the WP.org API which we migrated from. We should investigate if we could improve the performance of the ES search API for these types of requests.

| | WP.org API | Search API
| --- | --- | ---
| Search | ![CleanShot 2022-10-14 at 10 57 27@2x](https://user-images.github

[2022-10-14 09:03] #68937 closed, assigned to lsl

[2022-10-14 09:14] kriskorn commented on #58590
@sejas I am going to open this up again, as it seems this notification is again showing when it should not. Here is a quick example of how this shows up at the moment on a customer site. More information can be found in p1665616053382419-slack-wpcom-support

**Calypso**
<img width="712" alt="calypso-plugin-notification" src="https://user-images.githubusercontent.com/12064241/195809085-e6e2fdf2-9aa

[2022-10-14 09:37] candy02058912 commented on #68945
I believe this is deprecated according to [this comment](https://github.com/Automattic/wp-calypso/issues/69031#issuecomment-1278381180).

[2022-10-14 09:40] cpapazoglou commented on #68829
Generally looks good to me, I am just wondering:
- Should the `billing_plan_id` be unsigned as in `billing_plans` fbhepr%2Skers%2Sfpurznf%2Sovyyvat%2Qncv%2Sovyyvat_cynaf.fdy%3Se%3Q233357%26zb%3Q14%26sv%3Q1%231-og?
- Same for `intent_id`

[2022-10-14 09:42] janmckell opened #69065 "Edit button in Post or Page Preview modal"
### What

When the page or post Preview modal is launched, the 'Edit' button isn't consistently seen across all themes.

<img width="1140" alt="Markup 2022-10-14 at 05 39 19" src="https://user-images.githubusercontent.com/84089207/195816002-74f413d8-c2e0-486a-bd42-c03a72e12965.png">

I tested this on Firefox and Chrome browsers, with multiple themes randomly: Remote, Blank Canvas and Masu. In all

[2022-10-14 10:13] #68982 closed, assigned to eoigal

[2022-10-14 10:30] fushar commented on #69015
Okay, let me take this issue :)

[2022-10-14 10:40] Copons commented on #68916
To summarize, this issue is in fact a "working as intended", but very confusing from a UX standpoint.
I've started a conversation in Core Gutenberg: https://github.com/WordPress/gutenberg/issues/44931

I'm going to close this as not specifically related to Dotcom.

Thank you again for testing and reporting! 🙇‍♂️

[2022-10-14 10:40] #68916 closed, assigned to nobody

[2022-10-14 10:43] #68392 closed, assigned to bogiii

[2022-10-14 11:12] #67715 closed, assigned to BogdanUngureanu

[2022-10-14 11:18] daledupreez commented on #68847
As a quick follow-up note, I added the `product_meta` fields for WooCommerce to the Tsubaki annotations in D89811-code.

[2022-10-14 11:28] gcsecsey commented on #63167
Deployed backend changes in r254434-wpcom

[2022-10-14 11:28] #63167 closed, assigned to gcsecsey

[2022-10-14 11:39] xristos3490 opened #69068 "Hide write button in masterbar for Ecommerce plan"
### Description

We need to hide the Write button in the masterbar for Ecommerce plans. Similar work needs to be done on the PHP side of things.

[2022-10-14 11:45] bogiii opened #69069 "Onboarding import flow: importer chooser redirect to the wrong address"
It happens when the source site (siteSlug) is an Atomic website.

<img width="1150" alt="Screenshot 2022-10-14 at 13 52 44" src="https://user-images.githubusercontent.com/1241413/195840678-378f3cbc-182d-46cb-9bcc-e7d782a1d71c.png">

[2022-10-14 11:55] TimBroddin commented on #66213
Deployed to wpcom in  D89641-code & D89833-code

PR for Jetpack: https://github.com/Automattic/jetpack/pull/26751/

Communication with HE: pdDOJh-Sv-p2

[2022-10-14 12:06] #69024 closed, assigned to danielbachhuber

[2022-10-14 12:44] bizanimesh commented on #68455
Hi @danielbachhuber - my account is also set to sort by **Magic**, but I can still see all the sites there. There is no problem if we are showing them all in https://wordpress.com/sites, but it would be very helpful if we could make the sites disappear again from the **My Sites » Switch site** that are set to be Hidden.

[2022-10-14 13:14] Addison-Stavlo commented on #68967
@nuriapenya is afk for the next couple weeks. The tooltip seems like it could be helpful, but I would try to go with the icon from the design if possible. If there are other blockers to that we can use this existing one as a fallback and follow up later once she is back from AFK. (side note rant - the new standard copy icon shown in the designs always confuses me when I run across it with other op

[2022-10-14 13:34] Addison-Stavlo commented on #68967
@jeyip another thing to consider in this issue/PR is the situation where we are showing a custom domain in that field, but the custom domain has not yet been set up and the link would essentially lead to an inactive or not fully established (insecure) URL. Depending on various things including the type of domain, this can take anywhere from a few seconds to tens of minutes (or more?).

I spoke to

[2022-10-14 13:38] bogiii opened #69075 "FE Importers: Simplify logic of getting importer onboarding/plugin URLs"
Simplify the logic of getting final URL of selected importer: https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/import/helper.ts#L14

Clean up signup framework URL variations: https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/import/helper.ts#L19

[2022-10-14 14:19] epeicher commented on #67657
Thanks, @vinimotaa for your input.

Let me summarise my understanding of the different flows to provide some feedback. In the case of the SaaS product, the user will be redirected to the third-party vendor for purchasing. Then, when the purchase is selected, the user will be redirected back to the checkout page with one of those possible scenarios:
- The Saas product plus the Upgrade if the plan i

[2022-10-14 14:32] TimBroddin commented on #63297
@robfelty  This bug is now fixed and deployed!

[2022-10-14 14:32] #63297 closed, assigned to TimBroddin

[2022-10-14 14:37] epeicher commented on #67657
As an additional context, let me summarise the current implementations for premium and free plugins and two different suggestions for Saas products, one with two buttons and another one with just one `Getting started`:arrow_upper_right: button

Do you think as an initial iteration we could release (only for A11ns) the version **Saas plugin _One_ button**?

|Site plan|Premium Plugin | Saas plugin _

[2022-10-14 14:49] epeicher opened #69081 "Marketplace search: Add new wpcom_marketplace_product_extra_fields WC.com field to the list of fields to synchronise with WP.com"
Once this PR is merged
- https://github.com/Automattic/woocommerce.com/pull/14674

The new `meta` field created in WC.com should be added to the list of fields to be synchronized by Jetpack to WP.com

The fields should be added in a similar way than these changes:

- D85227-code
- https://github.com/Automattic/jetpack/pull/25376/files

[2022-10-14 15:00] davemart-in commented on #68994
My thought was that we could compare the width to the height of an image pre-rendering and if the width is equal to the height (square) or a vertical image that we could apply a CSS class that would allow us to adjust accordingly (targeting max-width, vs. max-height).

[2022-10-14 15:06] ianstewart opened #69083 "Improve logged-out like flow where new accounts are created"
Noticed this flow was in need of some work while testing creating a new account to like a blog post. What I did:

- Click like incognito on a test blog.
- Enter a test email address into the outdated log-in field design even though I knew it would error because I didn't notice the signup link immediately and wanted to test that.
- Clicked the error message to create a new account.
- Saw a new sign

[2022-10-14 15:26] danielbachhuber opened #69084 "Dev Tools: Support changing 'Dashboard Color Scheme' from `<AccountSettingsHelper />`"
Building off #69026, it would be nice if a developer could also change their 'Dashboard Color Scheme' from `<AccountSettingsHelper />`.

The existing 'Dashboard Color Scheme' UI might not fit well, so we may want to produce a simplified version. Given this is an internal tool, it doesn't need to be fancy.

**Done is:**
* [ ] It's possible for a developer to change their 'Dashboard Color Scheme' fr

[2022-10-14 15:32] davemart-in commented on #69083
@ollierozdarz looks like this one could use some design thinking prior to being picked up by a dev. Not urgent, but something you can spend time on when you are free.

[2022-10-14 15:33] davemart-in commented on #69083
Comment from @ebinnion in Slack re: auto-closing the window:

[2022-10-14 15:41] gcsecsey commented on #65457
Diff raised: D89948-code

It's ready for review.

[2022-10-14 15:59] #68945 closed, assigned to DustyReagan, lsl

[2022-10-14 15:59] #68943 closed, assigned to lsl

[2022-10-14 16:52] mxhassani commented on #69006
Another case here: 3068963-hc . p1665765981976679-slack-C03TY6J1A

[2022-10-14 16:52] ash1eygrace commented on #49898
Technically, yes. Atomic sites function like self-hosted sites in the sense that they need a healthy Jetpack connection to display that site in their WordPress.com account. While these screens are technically expected for self-hosted Jetpack sites, Atomic sites need their own error in the context of our hosting since Jetpack is so deeply woven into the functionality of Atomic.

Sidenote: There is

[2022-10-14 16:54] #69069 closed, assigned to bogiii

[2022-10-14 16:54] #68431 closed, assigned to bogiii

[2022-10-14 17:23] wpshellbelle commented on #68867
Another report at 5632038-zd-woothemes

[2022-10-14 17:29] ash1eygrace commented on #69006
The issue here was to remove the **Add your server credentials banner** at the top of the page, and **Enter your server credentials to enable one-click restores from our backups** when the user clicks Action +, which are no longer showing, and was fixed yesterday in #69010. I'll close this issue since it was for the banners asking for server credentials, which has been solved.

If the button is no

[2022-10-14 17:29] #69006 closed, assigned to Initsogar

[2022-10-14 18:23] paulopmt1 commented on #68942
Thanks for making the list @lsl, [did a few copy changes](https://github.com/Automattic/wp-calypso/pull/69088), please let me know if you see we should roll back them:

- `Lead generation through to invoicing and billing` to `Lead generation and marketing automation`
- `Publish your testimonials and reviews` to `Easily collect and display testimonials`
- `Drag and drop website editor` to `Drag and

[2022-10-14 19:15] ianstewart commented on #68798
Should be fixed. I loaded and updated the source site pattern. (Making a separate issue to automate this.)

[2022-10-14 20:04] noahtallen commented on #67467
This project is complete! `yarn lint:css` returns no errors on trunk, and it should run per-PR to prevent more rule violations from being merged.

[2022-10-14 20:04] #67467 closed, assigned to noahtallen, brookewp

[2022-10-14 20:26] nerdysandy opened #69093 "Notification Email: The `New Post` subscription email doesn't translate Footer section to site language"
### Quick summary

If you switch your site language to a non-English language, you would expect The New post notification email (also other notification emails) to be translated into that language too. It does but not for the Footer section as shared in the screenshot

<img width="658" alt="Screenshot 2022-10-14 at 4 22 05 PM" src="https://user-images.githubusercontent.com/16509219/195937157-bc0cc

[2022-10-14 20:28] nerdysandy commented on #69093
Reported on #hc-32788017

[2022-10-14 21:03] SeywardDarby commented on #61293
I would do this: "You have $X of pro-rated credits available to apply towards a higher plan. Apple them before they expire!"

[2022-10-14 21:42] cuemarie opened #69099 "FSE: Theme default Block Patterns appear empty in site editor"
### Quick summary

Theme **Twenty Twenty-Two**'s default header template parts `Header (Dark, small)` and `Header (Dark, large)` are not showing the hatchery block pattern in the editor, but are displaying them on the live site.

Instead, the site editor just shows an empty `Pattern` block.

### Steps to reproduce

1. Activate any TT2 theme on a test site
2. Set your homepage to display latest pos

[2022-10-14 22:11] jjchrisdiehl commented on #67516
PR https://github.com/Automattic/wp-calypso/pull/69100

[2022-10-14 22:31] mreishus commented on #68847
I have Terms partially working with this:

### Generator
[code]

### Tsubaki update

D89989-code

### Applier

1110-gh-Automattic/wpcomsh

### Status

Inserting the terms works.
Applying the terms to posts doesn't work yet, since the old_id mappings aren't on the site. I know a term should be applied to post id=83, but I don't know which actual post that is. We need to edit headstart to add that i

[2022-10-15 01:36] thekingsprojects opened #69101 "Blog Posts block shows placeholder content in FSE templates"
### Quick summary

When adding the Blog Posts block to an FSE template, it shows placeholder content in the Site Editor instead of a preview of the user's actual posts. When adding the Blog Posts block to a page in the standard Block Editor, it shows the user's actual posts instead.

The published site/template does show the selected posts correctly; it's only the Site Editor that shows placeholde

[2022-10-15 04:49] galakhyati opened #69102 "AT: Gutenberg plugin causing The editor has encountered an unexpected error"
### Quick summary

On editing a page/post the user is getting `The editor has encountered an unexpected error` error.

### Steps to reproduce

1. Open the page editor
2. Try making any change
3. The `The editor has encountered an unexpected error` error is encountered.

Screencast video by HE:
https://user-images.githubusercontent.com/7382505/195969190-609a1bcc-3bea-4ae6-aa2f-866ca0517acc.mp4

Scr

[2022-10-15 12:41] filipanoscampos opened #69103 "Editor settings (CoBlocks) are broken"
### Quick summary

On an Atomic website using the CoBlocks plugin, when we open Editor settings from the page or post editor, they look visibly broken.
Here is how it looks now:
![Screenshot 2022-10-15 at 13 23 08](https://user-images.githubusercontent.com/2540430/195986451-8a2bbd50-6fce-4fe6-94f8-79a42e8d34bf.png)

And here is how this is supposed to work:
![ezgif-2-7d765b1d6c](https://user-image

[2022-10-15 15:13] Gustavo-Hilario opened #69104 "FSE Themes: Long words with big font sizes are not displaying correctly on smaller screens"
### Quick summary

The text on the `Paragraph` and `Heading` blocks are not breaking into new lines when words are longer (or the font size is too big) than the screen width.

### Steps to reproduce

1. Activate a block-based theme. I could reproduce it with Munchies and Meraki.
2. On the Site or Page Editor, add either a `Paragraph` or `Heading` block.
3. Add some text and make sure some words ar

[2022-10-15 16:24] eoigal commented on #68994
Fixed the recommended post featured images not expanding in https://github.com/Automattic/wp-calypso/pull/69105

[2022-10-15 17:08] nelsonec87 commented on #66611
I couldn't reproduce the issue on my device, but a different one, that might be related:
This is the screen:

![image](https://user-images.githubusercontent.com/3801502/195999073-e0ecca90-6153-4bdd-b922-07f206055c59.png)

If I scroll to the bottom, the address bar is hidden by the browser, but the action bar gets taller instead of bottom to the [new] bottom:

![image](https://user-images.githubuse

[2022-10-15 21:35] cuemarie commented on #68455
📌 ACTIONS
- relabeled this as a feature request and adjusted the title slightly, given that it's working as intended. Perhaps we can keep the feature request in place of the bug report to track/discuss bringing back a way to hide sites?

[2022-10-15 22:19] jeyip commented on #68967
I prefer to work with smaller PRs, so I'll handle `b` in a follow-up like you're suggesting :)

[2022-10-16 02:30] sharonlaker19 opened #69108 "Add a Support Link to the Block Description for the Comments Block"
### What

This is a follow-up to https://github.com/Automattic/wp-calypso/issues/62284, https://github.com/Automattic/wp-calypso/issues/56091, and https://github.com/Automattic/wp-calypso/issues/67293 to add the new documentation link to the Comments block:

- [ ] Comments Block https://wordpress.com/support/full-site-editing/theme-blocks/comments-block/

cc @arcangelini

### Why

This will help W

[2022-10-16 06:35] rw-ye opened #69109 "[Facebook Page Plugin] Facebook Pages without a username do not display"
### Quick summary

While working on this ticket 5632494-zd-woothemes, I found that Facebook pages without a username set do not display in the Facebook Page Plugin widget.

### Steps to reproduce

1. Create a new Facebook page/use an existing one without a username.
2. Add the **Facebook Page Plugin** widget to your site.
3. Copy the **Facebook Page URL** and paste it into the widget.
4. The widge

[2022-10-16 06:57] mdtanjid0 commented on #68867
Another one: 5626517-zd

[2022-10-16 12:01] bangank36 commented on #69052
`document.querySelector( '#edit-site-editor' )` always return null, even in FSE, so I think we should find another way to determine the current editor

[2022-10-16 13:43] steve-lgtm commented on #68649
@pehaa How can I start with atomic and Woocommerce plugin installed? I can't add plugin because they asked me to upgrade my plan. I'm totally new in this project. Can you help me please ?

[2022-10-16 14:21] syhussaini commented on #66156
Hey @zachspears, thank you for replying. The reusable blocks carry the content and the style together, whereas my idea here is to copy the formatting/style only.