[2020-12-07 22:22] nbloomf opened #48098 "Onboarding: Unable to select free subdomain option until after selecting a paid domain"
#### Steps to reproduce

1. Starting at URL: `wordpress.com/new`
2. Proceed through the onboarding flow. Select no domain (e.g. the *.wordpress.com subdomain) and a free plan.
3. When you get to the site preview, click Launch.
4. You should be back on the "Choose a domain" (we already chose one, but I assume there is a reason why we ask again :) )
5. Try to select the free subdomain again.

#### W

[2020-12-07 22:37] ramonjd commented on #41165
Thanks @razvanpapadopol

Rather than overwrite this issue, we'll keep it in the museum so future developers can visit and ask, "Is that how you used to A/B test, grandpa?" 😆

Just kidding, I think it it'll be just as easy to create a new issue once we get feedback from pbmo2S-Ca-p2#comment-1375

[2020-12-07 22:37] #41165 closed

[2020-12-07 22:54] jeyip commented on #47931
It looks like, with the release of Gutenberg v9.5.0, which seems like it'll be released in the next few days, they'll also be fixing the horizon flow issue that we see here.

See D53544-code

[2020-12-07 23:40] timmyc commented on #48026
@elizaan36 should we allow this notice to be dismissable at all? Kind of seems like we should make this persistent across all pages during the lead-up to the service being sunset.

[2020-12-07 23:43] timmyc commented on #48029
I would prefer that we don't use any of the existing components/logic of Store on WPCOM and instead update the dashboard to fully reflect that the new place to manage their store exists in wp-admin. Since there is no "Stats" option in the sidebar, perhaps we could just have a link to the stats overview page in its place.

[2020-12-08 01:27] glendaviesnz commented on #46891
This is VideoPress related. On WPcom and Jetpack sites with videopress enabled the selected image is the same .. it is only different when using the raw gutenberg video block. Will look further into how videopress determines which frame to show

[2020-12-08 02:07] roo2 commented on #44734
@jeyip did you make a start on this? It was "In progress" on the create focus maintainance board, I moved it back to needs triage but let me know if you've started on it.

[2020-12-08 02:14] roo2 commented on #41134
@mattwiebe I'm on Create Focus maintainance roatation now, going through our "in progress" column. Is this something I can help with by taking the `pageBuilderMVP` a/b test out of the calypso code?

It's set to 100% on control

[2020-12-08 02:49] ollierozdarz commented on #48081
This sounds great, thanks @tjcafferkey! 🙂

[2020-12-08 02:57] ollierozdarz commented on #48079
@tjcafferkey, this sounds fine to me. I think changing the button label seems practical, you'll just need to ensure that the button (which will now expand in width from the new label 'Complete purchase and launch') has padding applied of 24px left and right to accomodate.

[2020-12-08 03:18] apeatling commented on #46891
As a note, if you upload a video via the wp-admin media library there is a UI to select the desired frame.

[2020-12-08 03:24] elizaan36 commented on #48026
Yep, there's an "X" to dismiss on the right of the notice.

[2020-12-08 03:33] elizaan36 commented on #48027
Thanks for putting these issues together @timmyc

@pmcpinto maybe a tooltip would work on the Store item in the nav.
<img width="507" alt="Screen Shot 2020-12-07 at 2 14 57 PM" src="https://user-images.githubusercontent.com/5121465/101436277-7a893780-38d3-11eb-9048-3c64bda461a7.png">

[2020-12-08 03:37] elizaan36 commented on #48029
Ok, so we need a new card on this screen with the messaging about how Store has been moved, with links out to the right place to get things done/to learn more.

[2020-12-08 04:07] becdetat commented on #48026
@elizaan36 I think @timmyc 's point was that a notice like this should be persistent across all pages, so it probably shouldn't be dismissible at all. Is that correct @timmyc ?

[2020-12-08 04:08] becdetat commented on #48026
@elizaan36 what happens when clicking the More action?
![image](https://user-images.githubusercontent.com/224531/101438733-c208d580-395e-11eb-8754-948cf584a2de.png)

[2020-12-08 04:22] ollierozdarz commented on #48047
@tjcafferkey we use highlighting (i.e. in this case I'm referring to removing the opacity) on an option to then make it appear ready to select. We do this to keep the user focused on the linear flow and to not provide too much information at once (this is basically the crux of the 'focused' flow experiment).

By default, only the first the options is available to select:
<img width="1437" alt="Scr

[2020-12-08 06:03] roo2 commented on #47659
@josephscott I was also able to reproduce this issue in chrome in an incognito window with "Block third-party cookies" enabled. (the setting is enabled by default in incognito). When I changed the chrome setting, I was able to log in successfully

[2020-12-08 08:16] poojashetty18 commented on #47355
Another similar report on #3554034-zen

URL: https://wordpress.com/comments/all/blog.lostartpress.com

AT site and we are unable to view the comments even after switching to a default theme and deactivating user plugins.

I'm seeing a similar error message as Niels's report above on the console.

WP-Admin > Comments is loading fine.

[2020-12-08 08:27] scinos commented on #47218
Since `yarn@1.0` (released ~2y ago) it will automatically pick the version declared in `.yarnrc`, which points to the latest version used in Calypso, `1.22.10`

Since [`yarn@1.15.0`](https://github.com/yarnpkg/yarn/issues/7013) it also checks the `engines` field, that we specify as `yarn: ^1.22.10`

[2020-12-08 08:28] #47218 closed

[2020-12-08 08:32] aleone89 commented on #47923
Hello @obenland I can't see the spreadsheet linked?

I really do suspect this will lead to confusion, and should be reviewed.

The reason why I suspect this will cause confusion is because, current protocol with refunds/cancellations is that users must go to purchases (manage purchases) > then to click on a purchase and to then cancel.

I foresee swathes of users clicking on "purchases" on the lef

[2020-12-08 08:34] scinos opened #48101 "Security alert on node-fetch@1.7.3"
The version we use is affected by [CVE-2020-15168](https://github.com/advisories/GHSA-w7rc-rwvf-8q5r).

This is not critical for us, because as the advisor says: "For most people, this fix will have a little or no impact. However, if you are relying on node-fetch to gate files above a size" and that is not our case.

I did a little investigation to see where node-fetch@1.73. is in our dependency t

[2020-12-08 09:37] #48086 closed, assigned to nobody

[2020-12-08 09:50] formosattic commented on #47974
Sounds also related to https://github.com/Automattic/wp-calypso/issues/47076

[2020-12-08 09:54] formosattic commented on #47076
Also reported at pbEMJv-nP-p2

[2020-12-08 10:01] #42449 closed

[2020-12-08 10:15] getdave commented on #46614
@davemart-in Should this be moved to Manage Janitor?

[2020-12-08 10:39] liviopv commented on #47935
@david-szabo97 I got an another timezone-based error in the editor that I was not able to reproduce on a test site. In this case, the site was a Simple Site originally set to UTC-3. With that setup, opening any page or post in the Editor would lead to this error:

[code]

Switching to "São Paulo" (which is effectively UTC-3)  fixed the issue.

[2020-12-08 10:51] sgomes commented on #47916
D53698-code has been deployed.

@pauljacobson: I have checked and this appears to have fixed the issue. Could you please take a look as well? Thank you!

[2020-12-08 11:08] david-szabo97 commented on #47935
Thank you @liviopv ! Upstream issue for the problem you mentioned: https://github.com/WordPress/gutenberg/issues/27514

It's fixed by the same PR as this issue. So both issues will be fixed in the next release.

[2020-12-08 11:27] david-szabo97 commented on #47117
Tried to reproduce this but couldn't find any way. Are there reliable reproduction steps?

[2020-12-08 11:40] tjcafferkey opened #48107 "Focused Launch: Search for domains on key press rather than on blur"
#### Steps to reproduce

1. Visit `/page/SANDBOXED_UNLAUNCHED_SITE_ID_CREATED_WITH_START.wordpress.com/home?flags=create/focused-launch-flow-calypso`. Focused Launch modal should appear
2. Enter site title
3. Observe no new domains being returned until you click outside of the site title input.

#### What I expected

* New domains to be returned on key press rather than on blur (clicking outside o

[2020-12-08 11:56] tjcafferkey opened #48108 "Focused Launch: Localize help URL in Summary view"
In the Summary view the "Ask a Happiness Engineer" [link is not localized](https://github.com/Automattic/wp-calypso/blob/trunk/packages/launch/src/focused-launch/summary/index.tsx#L683).

**Proposed changes**

* Use [`useLocalizeUrl` hook](https://github.com/Automattic/wp-calypso/blob/trunk/packages/i18n-utils/src/localize-url.tsx#L138) for the link

** Context **

p58i-9Mt-p2#comment-48394

[2020-12-08 12:33] susanjanec commented on #30426
Reported here - 23840548-hc - provided workaround in 3556667-zd

[2020-12-08 12:43] rickmgithub opened #48111 "Enclosure tags missing in RSS feeds in multiple cases"
#### Steps to reproduce

* As we're getting more people podcasting on WordPress.com we're starting to see more and more of these problems.
* The enclosure tags are not being added to the RSS podcast feed.
* Initially, we started collecting cases on the Podcastp2 to see if we could spot a pattern to be able to provide a clear workflow to test but we've been unable to find any clear clues but we are

[2020-12-08 12:51] davemart-in commented on #46614
Yep. Moved. Thanks for flagging @getdave!

[2020-12-08 14:28] tyxla commented on #24180
#48104 fixes a bug we recently introduced with #47711.

[2020-12-08 14:30] tyxla commented on #24180
#48109 migrates the plugins list to use installed plugin status instead of flux's PluginsLog store.

#48110 is a minor enhancement to make the disconnect notice lead to the right place for managing the Jetpack connection.

#48113 reduxifies single plugin retrieval, while #48116 reduxifies the "is fetching" states.

[2020-12-08 14:47] ianstewart opened #48118 "Launch Flow: Unable to click first item in domains step of launch flow."
I’m currently unable to click this first item and select it in the launch flow. Unless I first click one of the other domain items. Reproduced twice in MacOS chrome.

![image](https://user-images.githubusercontent.com/545779/101498516-ce2a6e00-3931-11eb-81d0-2db92f30ba0a.png)

Should be corrected in [a just-merged PR](https://github.com/Automattic/wp-calypso/pull/48100) but logging here for the re

[2020-12-08 14:47] ianstewart commented on #48118
Closing as fixed with the just-merged https://github.com/Automattic/wp-calypso/pull/48100

[2020-12-08 14:47] #48118 closed, assigned to nobody

[2020-12-08 15:01] eduardozulian commented on #46063
There is also another example in 3553742-zen. The image quality is reduced when using either the Image Block or the Gallery block but seems a bit crispier when using the cover block (probably due to being a background image)

EDIT: @JoshuaGoode recently chatted with this user and the problem was a bit different and related to the Gallery block's Image Size setting being set to `Large` instead of `

[2020-12-08 15:02] #46890 closed

[2020-12-08 15:15] #42424 closed

[2020-12-08 15:17] #42454 closed

[2020-12-08 15:24] tjcafferkey commented on #47372
If we redirect a user from the focused launch flow, to the "use-your-domain" flow and they then click the "Back" button seen in the screenshot below. It will take them back to `/start/new-launch/domains-launch` and NOT back to Focused Launch modal which is where they came from.

<img width="1785" alt="Screenshot 2020-12-08 at 15 24 01" src="https://user-images.githubusercontent.com/8639742/1015029

[2020-12-08 16:05] getdave commented on #47271
## Linked PR/Diff

Being handled in D53945-code

[2020-12-08 16:15] alshakero commented on #47994
I don't think issues should be put in Needs Review column.

[2020-12-08 16:16] obenland commented on #47049
@davemart-in Priority-wise, should this still go into next iteration or should we focus on alpha feedback first?

[2020-12-08 16:19] cpapazoglou commented on #47049
@sfougnier I am afraid you have created visuals with the new designs (i2) that are not developed. Should we create the visuals with i1? Or is it something I am missing?

[2020-12-08 16:22] cpapazoglou commented on #47049
@davemart-in , sorry for the double ping ❤️ ! In which environments / cases should this modal be shown:

- Calypso Screens
- Calypso block editor
- wp-admin

Also, are we showing it only once?

[2020-12-08 16:25] cpapazoglou commented on #47183
@sfougnier sadly, we cannot add the "Add new site" directly under the "Collapse menu" we can add it right above it (and below Tools). Would this be a problem?

[2020-12-08 16:25] marekhrabe commented on #45574
For the first release, remaining nudges and notices were put out of scope for the wp-admin implementation

[2020-12-08 16:27] getdave commented on #48010
This is being addressed. So we can close from the Alpha Issues

[2020-12-08 16:27] #48010 closed, assigned to nobody

[2020-12-08 16:30] obenland commented on #48037
Thanks so much for the report and adding an easy-to-understand gif to the ticket! We'll address it together with #48019.

[2020-12-08 16:30] #48037 closed, assigned to nobody

[2020-12-08 16:36] getdave commented on #47043
@sfougnier Just a note that we cannot make _all_ dashboard pages WPAdmin.

Account pages, purchases, domains, are some of the few that will always be in Calypso.

Not sure how you can account for that.

[2020-12-08 16:38] cpapazoglou opened #48126 "Nav Unification: Sidebar width obscures block editor in not- full screen mode"
#### Steps to reproduce

1. Enable `nav-unification` paYJgx-1af-p2
2. Starting at URL: `/wp-admin/post-new.php`
3. Turn off Full Screen mode as shown in the screenshot below

#### What I expected
- Editor to account for sidebar width

#### What happened instead (Made the sidebar transparent on purpose just for illustration)

![](https://cln.sh/TAv95O+)

**The problem**

![](https://cln.sh/jtrsqH+)

[2020-12-08 16:44] david-szabo97 opened #48127 "Page layout selector: Spacing missing between rows"
#### Steps to reproduce

1. Starting at URL: wordpress.com
2. Open one of your sites
3. Create a new page
4. Check layout of the templates

#### What I expected
Spacing between rows

#### What happened instead
Rows are on top of each other

#### Browser / OS version
Safari Version 14.0.1 (16610.2.11.51.8)

#### Screenshot / Video
In this image, you can see the border/focus ring of the selected tem

[2020-12-08 16:45] kathrynwp commented on #46536
Another report in 3552355-zd

Only first batch of authors is scrollable. Had to send user to WP Admin > Quick Edit for a workaround.

[2020-12-08 16:52] davemart-in commented on #47049
@obenland Up to you. We'll need both before launch.

@cpapazoglou I'd say we could keep it to `Calypso Screens` to reduce scope.

Yes, users should only ever see this modal once.

[2020-12-08 16:52] cpapazoglou commented on #48038
👋  @scottsweb thanks for testing this and reporting! Since I can't reproduce it, would you mind explaining a little more about this behavior?

- If you move from pages to posts you get the same?
- If you go to posts and refresh your page you still get it?

[2020-12-08 16:59] annezazu commented on #47117
For me, I built my site and didn't change the defaults (aka if a button default was blue, I let it stay blue) before going into the customizer to change the color scheme. After changing the color scheme, my UI got busted for lack of a better term ;) causing colors I had picked for the site to take over the UI of the core editor. It might be worth noting that I used page layouts a good bit of the t

[2020-12-08 17:00] scottsweb commented on #48038
@cpapazoglou just tested it and also cannot see this happening any more. Tested on a few sites too so happy to close.

[2020-12-08 17:27] leogermani opened #48129 "Stats: Top posts results for sites with more than 500 posts"
This issue is a follow up of 6194-gh-jpop-issues

As of D53962-code the number of posts returned by the `top-posts` API endpoint is limited to 500.

Since there is no pagination or any message explaining that the results are limited, the user might have the wrong impression that the information shown is all the information that exists.

This could be fixed by adding pagination or a better explanat

[2020-12-08 17:51] fullofcaffeine commented on #47520
This is done. Next one: https://github.com/Automattic/wp-calypso/issues/47881.

[2020-12-08 17:52] #47520 closed

[2020-12-08 18:04] obenland commented on #47923
@davemart-in @rralian Wondering if you had thoughts on this?

It's under Design > Menu structure.
I should have pointed to it in my original comment, my bad.

[2020-12-08 18:10] #48038 closed, assigned to nobody

[2020-12-08 18:16] davipontesblog opened #48131 "Store Stats - Incorrect reporting"
The store stats reporting section in calypso seems to not be updated with correct data for customers who rely on this functionality. Here are a couple of user reports:

https://github.com/Automattic/wp-calypso/issues/41946

3555296-zd-woothemes

<img width="1430" alt="Captura de Tela 2020-12-08 às 10 03 16" src="https://user-images.githubusercontent.com/31009008/101523939-49eae180-3957-11eb-9791-

[2020-12-08 18:47] sirbrillig commented on #47126
This is now complete, I believe, and the remainder of the structure of the old checkout payment method UI is removed in https://github.com/Automattic/wp-calypso/pull/48066

[2020-12-08 18:47] #47126 closed

[2020-12-08 18:55] sirbrillig opened #48132 "Convert one-click upsell to stop using TransactionFlow"
The one-click upsell code is the only remaining place using the `TransactionFlow` object which is the way that old checkout submits its payments for processing.

The biggest issue here is that any fixes or updates we make to new checkout will not apply to the one-click upsell and any fixes to the upsell (eg: https://github.com/Automattic/wp-calypso/pull/47774) will be eventually lost.

We'll need

[2020-12-08 18:56] sirbrillig commented on #48132
Some PRs that are part of this process:

- https://github.com/Automattic/wp-calypso/pull/48068 that moves `onPaymentComplete` to a hook
- https://github.com/Automattic/wp-calypso/pull/48069 that decouples the `existingCardProcessor`

[2020-12-08 18:57] ChrissiePollock opened #48133 "Scrolling is lost when using some of the Expanded Navigation Options"
1. Load your page and note you can scroll up and down to see all navigation options.
2. Click on Users (the same happens with Appearance).
3. Note you can no longer scroll. You have to expand the browser page to see the options again.

#### What I expected

To be able to scroll.

#### What happened instead

I could not scroll

#### Browser / OS version

Firefox 83.0 (64-bit)

Browser window size:

[2020-12-08 18:58] sirbrillig commented on #48132
To do this, we should first refactor `UpsellNudge` to remove it from `CheckoutContainer`, which requires replicating or replacing the functionality of `CartData` and `Checkout`.

`CartData` provides the `cart` prop which it pulls directly from the `CartStore`. This can be replaced with `CalypsoShoppingCartProvider` and `withShoppingCart`.

`Checkout` injects the following props into its children:

[2020-12-08 19:04] jeyip commented on #47931
Tested the horizon flow in production. This issue is fixed by the release of Gutenberg v9.5.1.

[2020-12-08 19:04] #47931 closed, assigned to jeyip

[2020-12-08 20:41] #47984 closed, assigned to bluefuton

[2020-12-08 21:04] cathymcbride commented on #47659
@roo2 Are you saying this isn't a bug per se, or a bug with blocking 3rd party cookies?

[2020-12-08 21:38] glendaviesnz commented on #46891
The default video block makes no effort to generate a suitable poster image it just shows the first frame of the video, which is why it is the same as the preview image in finder ... Videopress however generates a poster image from a certain number of seconds into the video and applies various filters or checks to ensure that thumbnail is valid ... my view is that the Videopress approach is more l

[2020-12-08 21:38] #46891 closed

[2020-12-08 21:50] timmyc commented on #48026
Yes my concern with having the notice with the (x), which would allow it to be dismissed is I think we should have this be always shown on the Store pages to ensure it is seen.

The `More` link will go to the to-be-created support page specifically about the transition to using core WooCommerce pages to manage their stores.

[2020-12-08 21:57] bluefuton opened #48139 "READER - add user-level blocking"
It's currently possible to block sites (https://wordpress.com/support/reader/#blocking-sites) but not users. This can be a significant issue if the offending user is engaged in harassing, trolling or other abusive behaviour.

This has been discussed at length in p9em5Q-pz-p2 and there have been numerous user requests for this functionality.

#### What I expected

If a user is bothering me, I can c

[2020-12-08 22:10] ramonjd commented on #47659
@roo2 can confirm but I think it's a browser "feature", and not a specific bug on WordPress.com. I could reproduce it too.

As mentioned better [above](https://github.com/Automattic/wp-calypso/issues/47659#issuecomment-739016227), the Viewer is logged into WordPress.com fine, but when they try to visit `customdomain.com` the browser views the WordPress.com login cookie as third-party. At least tha

[2020-12-08 22:13] JoshuaGoode commented on #45881
Reported on 9729068-hc

Chrome 87.0 on Windows 10.0.0

[2020-12-08 22:19] ramonjd opened #48141 "Bug: Ensure the guided tour remains hidden/unloaded until required"
Let's make sure the NUX modal isn't displayed out of context.

For example, in the current implementation, it has been reported that the NUX modal is briefly shown (when enabled) before the page template picker is supposed to be displayed.

Context: /pbAok1-1Lm-p2#comment-3512

[2020-12-08 22:23] DavidRothstein commented on #2342
Note that a followup post where this is being discussed is at pNPgK-5fw-p2

[2020-12-08 22:46] serabi opened #48142 "Nav Unification: Categories link in Calypso redirects you to WP Admin"
#### Steps to reproduce

1. Load a page in Calypso
2. Go to Posts -> Categories
3. You will be taken to the WP Admin version of the link.

#### Screenshot / Video

![Annotation on 2020-12-08 at 17-45-24](https://user-images.githubusercontent.com/30205248/101550379-394d6200-397d-11eb-9620-100c56ecab03.png)

[2020-12-08 22:54] serabi opened #48143 "Nav Unification: Hosting Configuration screen overlay on Simple sites overlaps menus"
#### Steps to reproduce

1. Start at the Hosting Configuration screen while in Calypso
2. On screens that are small enough to cause overlap, the overlay over the Hosting configuration page extends out onto the menus.  (Screenshot below was taken on a 1500 px browser screen width)

#### Screenshot / Video

<img width="1529" alt="Screen Shot 2020-12-08 at 5 32 46 PM" src="https://user-images.githubu

[2020-12-08 22:58] vindl opened #48145 "Site Editor: template parts not loading on Horizon"
After latest Gutenberg plugin updates the template parts are no longer loading on FSE Horizon test flow.

1. Go to https://horizon.wordpress.com/new?flags=gutenboarding/site-editor
2. Follow up steps to create a new site.
3. Notice the infinite spinners at the end when you get redirected to site editor. The header section is missing.

<img width="1680" alt="Screenshot 2020-12-08 at 23 57 51" src="

[2020-12-08 22:58] serabi opened #48146 "Nav Unification: Cannot access WP Admin -> widgets.php"
#### Steps to reproduce

1. Go to WP Admin -> Appearance -> Widgets
2. When there, you cannot get into the WP Admin widgets section. Instead you are redirected to the Customizer.

I am reporting this as a bug because:

- To find inactive widgets, you do need to go to that section of WP Admin. The Customizer does not show inactive widgets.
- If you change themes on a site and want to move widgets t

[2020-12-08 23:02] serabi opened #48147 "Nav Unification: Cannot access WP Admin -> themes.php"
#### Steps to reproduce

1. Go to WP Admin.
2. Click on Themes. You are redirected to Calypso.

I am reporting this as a bug because:
- HEs use the WP Admin -> Themes functionality to reactivate retired themes for users.
- This functionality is also used to activate retired themes on test sites.

[2020-12-08 23:09] jeyip commented on #48145
Before Gutenberg v9.5.1 was patched the following logic caused problems with template part loading:

- Template part post meta that's generated for theme provided template parts was returning an unexpected value. More specifically, `wp_get_theme()` -> `get_stylesheet()` was providing a theme string that looked like this `pub/seedlet-blocks`.
- Client side code, however, was displaying a permanent

[2020-12-08 23:38] vindl opened #48148 "Site Editor: font picker preview doesn't work for Twenty Twenty-One Blocks"
If you try to create an FSE site with Twenty Twenty-One Blocks theme using the test Horizon flow you'll run into the following issue:

<img width="1654" alt="Screenshot 2020-12-09 at 00 35 52" src="https://user-images.githubusercontent.com/1182160/101554258-90bbf400-39b6-11eb-8fcc-b5dabb9ec67e.png">

This works fine for Seedlet Blocks theme.

[2020-12-08 23:41] vindl opened #48149 "Site Editor: Twenty Twenty-one Blocks layout is broken in editing view"
The homepage layout looks off in the site editor when compared to what's rendered on the front end:

<img width="1679" alt="Screenshot 2020-12-09 at 00 40 18" src="https://user-images.githubusercontent.com/1182160/101554625-49823300-39b7-11eb-9812-62206f1d6400.png">

[2020-12-08 23:43] roo2 commented on #47659
hmmm @ramonjd I tried the ?preview=true, it worked perfectly when accessing a page within the site e.g. `/about?preview=true`, I was able to log in and view the private site.

However, if I tried to access the root of the site `/?preview=true`, I was redirected to the custom domain.

Maybe this fix could work if we enabled `preview=true` on the root of the site. hmmm but could we actually deploy t

[2020-12-08 23:44] vindl opened #48150 "Site Editor: add basic e2e tests for WP.com integration"
Recently we had a couple of breakages of Site Editor integration due to Gutenberg plugin updates. We should try to add some basic e2e tests that can ensure that:

- site editor is not WSOD,
- template and template parts content is loaded.

[2020-12-09 00:08] vparkhere commented on #48133
The same scrolling issue occurs with Settings > Domains and Settings > Hosting Configuration, using the Chrome Browser:

![Domains_scroll_issue](https://user-images.githubusercontent.com/11635760/101556282-5ed36f00-396f-11eb-82a1-98cd5268109c.gif)

![HostingConfiguration_scroll_issue](https://user-images.githubusercontent.com/11635760/101556002-aefe0180-396e-11eb-95cf-7da3bf85fae2.gif)

[2020-12-09 00:12] arunsathiya commented on #48070
Actually, this is a duplicate of https://github.com/Automattic/wp-calypso/issues/47355.

[2020-12-09 00:12] #48070 closed, assigned to nobody

[2020-12-09 00:14] arunsathiya commented on #47355
I can consistently reproduce this issue as well, using the steps on this issue https://github.com/Automattic/wp-calypso/issues/48070. I discovered this issue via this user report: 3526432-zen.

[2020-12-09 00:19] vparkhere opened #48151 "Portfolio and Testimonials ordered differently"
Portfolio and Testimonials are ordered differently in Calypso versus WP Admin.

In Calypso, it's Portfolio then Testimonials.  In WP Admin, it's Testimonials then Portfolio.

<img width="544" alt="Portfolio_Testimonial_order" src="https://user-images.githubusercontent.com/11635760/101556930-c50cc180-3970-11eb-8592-a89ed7821a1f.png">

[2020-12-09 00:45] elizaan36 commented on #48026
Ok, I think if it's not dismissible in that case for the sunset period we could use the `is-warning` notice style with a link on the far right.

<img width="651" alt="Screen Shot 2020-12-08 at 6 29 01 PM" src="https://user-images.githubusercontent.com/5121465/101557766-440af580-3983-11eb-81df-478a38a33eda.png">

The non-dismissible `is-error` notice is a lot considering that there will be a decent

[2020-12-09 00:58] becdetat commented on #48026
@elizaan36

Sounds good to me.

I added a test notice to see how they look right now, they are full width as part of the content, rather than overlapping the content as you've got in your designs. I'm feeling that they might have more impact and still be less obtrusive like this:

![image](https://user-images.githubusercontent.com/224531/101559546-110d4400-3a0d-11eb-8539-6ea55b62c631.png)

[2020-12-09 01:09] elizaan36 commented on #48026
Nice, even better. I think if they're not dismissible it's best to appear above the content rather than over it (in case it obstructs anything important.)

And we could include a longer message in case there's any more context we should give people here.

Maybe something like:

[2020-12-09 01:20] ramonjd commented on #47659
Dang. Yeah I wasn't sure. Seemed too good to be true

[2020-12-09 01:21] sirbrillig commented on #48132
- https://github.com/Automattic/wp-calypso/pull/48140 further decouples `useCreatePaymentCompleteCallback` and `useGetThankYouUrl`
- https://github.com/Automattic/wp-calypso/pull/48152 is the WIP for actually switching over `PurchaseModal` to use the composite checkout code

~These changes have brought up a lot of questions about where we store the transaction data after the purchase (eg: the rece

[2020-12-09 01:33] elizaan36 commented on #48029
Here's a potential design for the dashboard landing screen after sunset of Store.

![After sunset](https://user-images.githubusercontent.com/5121465/101561962-f1820700-398b-11eb-9f15-7a627a3f712a.png)

It's showing the full width label with link to documentation. Then the primary action on the page goes to WooCommerce Home.

As Timmy mentioned, all the links in the left nav could redirect to the c

[2020-12-09 02:35] jerrysarcastic commented on #26070
Also reported in https://wordpress.com/forums/topic/importing-wordpress-blog-2

I logged in as the site owner, and confirmed in Calypso I get the error message `There don't appear to be any authors in your import file`

I've initiated an import via wp-admin, which seems to be working (has not finished at the time I write this)

[2020-12-09 05:32] becdetat commented on #48027
@timmyc @pmcpinto

I'm going to split this off to a separate ticket (https://github.com/Automattic/wp-calypso/issues/48155), as Calypso doesn't have tracks support and it will need to be copied in from WC.

[2020-12-09 05:37] becdetat opened #48155 "Track when the WooCommerce menu item is clicked"
This builds on the work done in #48027, which adds a button to the menu labelled "WooCommerce".

We want to track when this button is clicked.

Currently Calypso doesn't have support for tracks, this functionality will need to be copied in from WooCommerce Core here: https://github.com/woocommerce/woocommerce/blob/7f4ad80cbd178f635560bd6c37c7722175cda59b/includes/tracks/class-wc-site-tracking.php#

[2020-12-09 06:07] becdetat opened #48156 "Link Products menu item and route to WooCommerce products page"
**Important** Place this behind the "woocommerce/store-removed" feature flag

Note that the notice on the dashboard page is addressed in #48029.

In this issue, the Products menu item needs to link to the WooCommerce products page. Additionally if the user visits the pre-sunset route directly (such as via a bookmark) they should be redirected to the Calypso store dashboard, which at this point wil

[2020-12-09 06:11] becdetat opened #48157 "Link Orders menu item and route to WooCommerce orders page"
**Important** Place this behind the "woocommerce/store-removed" feature flag

Note that the notice on the dashboard page is addressed in #48029.

In this issue, the Orders menu item needs to link to the WooCommerce orders page. Additionally if the user visits the pre-sunset route directly (such as via a bookmark) they should be redirected to the Calypso store dashboard, which at this point will be

[2020-12-09 06:12] becdetat opened #48158 "Link Promotions menu item and route to WooCommerce promotions page"
**Important** Place this behind the "woocommerce/store-removed" feature flag

Note that the notice on the dashboard page is addressed in #48029.

In this issue, the Promotions menu item needs to link to the WooCommerce promotions page. Additionally if the user visits the pre-sunset route directly (such as via a bookmark) they should be redirected to the Calypso store dashboard, which at this point

[2020-12-09 06:14] becdetat opened #48159 "Link Reviews menu item and route to WooCommerce reviews page"
**Important** Place this behind the "woocommerce/store-removed" feature flag

Note that the notice on the dashboard page is addressed in #48029.

In this issue, the Reviews menu item needs to link to the WooCommerce reviews page. Additionally if the user visits the pre-sunset route directly (such as via a bookmark) they should be redirected to the Calypso store dashboard, which at this point will

[2020-12-09 06:16] becdetat opened #48160 "Link Settings menu item and route to WooCommerce settings page"
**Important** Place this behind the "woocommerce/store-removed" feature flag

Note that the notice on the dashboard page is addressed in #48029.

In this issue, the Settings menu item needs to link to the WooCommerce settings page. Additionally if the user visits the pre-sunset route directly (such as via a bookmark) they should be redirected to the Calypso store dashboard, which at this point wil

[2020-12-09 06:23] becdetat commented on #48029
As the conversation here moved more towards the home page and not about the routes/menu items, I've moved the menu item rerouting into seperate issues and edited the description of this issue to just be about the home page change.

[2020-12-09 08:01] as-esu commented on #48092
A user reported the bug in 3545392-zen.
I suggested to use a different browser than Chrome or Safari or WP.com APP as a workaround while we are working to figure out the issue.
Page layout picker works as expected for me using Firefox 83.0 (64-bit) / Windows 10 and WP.com APP on Windows.

[2020-12-09 08:57] StefanNieuwenhuis opened #48161 "Onboarding Package: <ScrollToTop> to accept viewports"
Seeing as we only scroll to top for [specific viewports in Gutenboarding](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/gutenboarding/onboarding-block/acquire-intent/vertical-select/index.tsx#L184) I wonder if it would be worth passing in viewports this would apply to (this would default to all viewports) and use the [useViewportMatch](https://github.com/Automattic/wp-calypso/

[2020-12-09 10:10] jeyip commented on #48145
Hmm...I've confirmed that the cause is still identical in Gutenberg v9.5.1, but I'm having difficulty getting the rest wp template part query to return the correct data.

I've confirmed that the new [filter_rest_wp_template_part_query](filter_rest_wp_template_part_query) is modifying the query properly. I've also confirmed that the correct template part exists in the database. Can't quite seem to

[2020-12-09 10:31] StefanNieuwenhuis opened #48165 "Focused Launch: Designs for displaying errors"
The user needs to be notified when something goes wrong in the Focused Launch Flow. We cannot allow the user to be stuck on a non-responsive screen, not knowing what to do or what its website's launch status is.

In order to do this, we need to update the UI and for that, we need new designs.

@ollierozdarz can you help us with designs for error handling?

[2020-12-09 10:37] StefanNieuwenhuis opened #48166 "Focused Launch: Implement error handling for Launch Site"
As a user, I want to be notified when something went wrong after I clicked the "Launch Button" but currently I get stuck on this screen:

<img width="577" alt="Screenshot 2020-12-11 at 14 01 11" src="https://user-images.githubusercontent.com/12104589/101906546-67b78100-3bb9-11eb-82dd-c6ff913d6936.png">

When the Launch Button is clicked, a `launchSite` action is dispatched that does a POST call to

[2020-12-09 11:06] flootr commented on #24149
Done 🎉 there's a few actions and constants left which are used/listened to by `lib/user` and should be removed/refactored as part of the work there or follow-up.

[2020-12-09 11:06] #24149 closed

[2020-12-09 11:28] ollierozdarz commented on #48165
@StefanNieuwenhuis I can provide a design that handles errors, but are you able to please provide some more information on how/where this might happen in the flow? Ie. is retrieving domains, failure to launch, etc.

[2020-12-09 11:47] tyxla commented on #24180
#48167 to refactor `PluginNotices` to an actual `React.Component`. And a quick fix for it: #48169

[2020-12-09 11:54] razvanpapadopol commented on #47831
Closing this as the question has been answered. The implementation would be tracked in https://github.com/Automattic/wp-calypso/issues/48081

[2020-12-09 11:54] #47831 closed, assigned to nobody

[2020-12-09 11:56] razvanpapadopol commented on #47897
Thanks for figuring out this important piece of the puzzle. We'll continue with the implementation in https://github.com/Automattic/wp-calypso/issues/48081

[2020-12-09 11:56] #47897 closed, assigned to nobody

[2020-12-09 12:02] alshakero opened #48168 "Focused Launch: perform domain search on every change of the site title (not only onBlur)"
Currently, we only search for domains after the site title is saved. And the site title is only saved on Blur. This makes the domain search experience suboptimal.

Instead, we can use the [locally stored](https://github.com/Automattic/wp-calypso/blob/trunk/packages/launch/src/hooks/use-title.ts#L16) site title value for domain searching.

Context: p58i-9Mt-p2#comment-48400

[2020-12-09 13:01] shohanhossainnab commented on #44974
The user of the site bestregardsfromfar.com came back. I have fixed their issue using the workaround for now.

#26214795-hc
Site: bestregardsfromfar.com

[2020-12-09 13:07] alshakero commented on #48168
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/48107

[2020-12-09 13:07] #48168 closed, assigned to nobody

[2020-12-09 13:18] tyxla commented on #24180
#48170 removes all remaining `createReactClass` usages in plugins, making reduxification a bit easier.

[2020-12-09 13:30] razvanpapadopol commented on #48107
As mentioned in Slack (p1607513726472600-slack-luna), the idea is to lift where we currently store the site title value from [local state](https://github.com/Automattic/wp-calypso/blob/trunkackages/launch/src/hooks/use-title.ts#L16) to Launch data-store so it can be used to update in real-time the [domainSearch](https://github.com/Automattic/wp-calypso/blob/trunkackages/launch/src/hooks/use-domain

[2020-12-09 13:36] cpapazoglou commented on #47038
Eventually we will keep this in wpcomsh (paYJgx-1cP-p2#comment-1483). It will be triggered by a filter in jetpack `jetpack_color_schemes_loaded` https://github.com/Automattic/jetpack/pull/18034/files .

[2020-12-09 13:36] cpapazoglou commented on #47037
Eventually we will keep this in wpcomsh (paYJgx-1cP-p2#comment-1483). It will be triggered by a filter in jetpack `jetpack_color_schemes_loaded` https://github.com/Automattic/jetpack/pull/18034/files .

Addressed here 554-gh-Automattic/wpcomsh

[2020-12-09 14:23] ghost commented on #47043
Yes, I'm aware. Maybe we can remove "all", as I can see how that's misleading, and instead say "Replace dashboard pages with wp-admin equivalents".

[2020-12-09 14:25] ghost commented on #47183
Flipping the order is fine 👍

[2020-12-09 14:27] tjcafferkey commented on #44645
`source` [allows you to override the back button](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/domains/index.jsx#L707-L720), which we will need to do to incorporate this flow. We will need to make some changes around this as you need to anticipate the source values ahead of time in its current state where as we want to pass in any URL.

[2020-12-09 15:24] #47482 closed

[2020-12-09 15:53] donalirl commented on #47923
I came here to report the same issue. Clicking on Purchases, I expected to see my Purchases: https://wordpress.com/me/purchases

As a side note, it could be worth considering adding Purchases to the nav sidebar in addition to plan, as the link to https://wordpress.com/me/purchases is buried in the profile section at the moment and often users don't know it exists or can't find it.

[2020-12-09 16:10] donalirl opened #48177 "Hide and de-prioritise Links Manager (unless site has existing Links)"
At the moment we are presenting "Links" as the sixth option in the nav (before Pages!) Such a high position communicates to users that "Links" is a very important feature that needs to be used frequently. However, Links is a niche feature used for Blogrolls and not a popular part of the modern WP.com website building experience. I am proposing that we :

* do not include "Links" in the new navigat

[2020-12-09 16:17] donalirl opened #48178 "Nav Unification: Jetpack → Scan leads to Page Not Found"
#### Steps to reproduce

1. Starting at URL: WordPress.com
2. Hover over Jetpack
3. Click Scan

#### What I expected

As a user I expected to see something related to Jetpack Scan. As an HE I understood simple sites don't have access to Jetpack Scan and therefore did not expect this to be included in the nav at all.

#### What happened instead

I reached a page "Uh oh. Page not found."

#### Brows

[2020-12-09 16:20] sixhours commented on #40870
@lcollette I'm almost ready to ship the support session card piece. Should we loop Happiness into the changes and let them have a look? Do you know who would be best to contact if so?

[2020-12-09 16:22] pmcpinto commented on #48026
@elizaan36 @becdetat is there anything preventing us from using the area that @timmyc included in the issue description?

This is a big change for them and I think that should have some impactful and meaningful that clearly outlines the value prop of this change. The notification has several limitations and it can easily go unnoticed.

[2020-12-09 16:28] donalirl opened #48180 "Nav Unification: Clicking Appearance Leads to Customize"
#### Steps to reproduce

1. Starting at URL: WordPress.com
2. Click on Appearance

#### What I expected

I expected Appearance to be hover-only, revealing the subitems for Customize, Themes, etc.

I expected to have one link to Customize, not two.

#### What happened instead

Clicking on Appearance took me to the customizer. From a usability standpoint, it would be easier to access the subitems un

[2020-12-09 16:45] elizaan36 commented on #48026
hey @pmcpinto - I wasn't super clear on whether to use the notice or design a new card entirely, so clarified with @timmyc in Slack that we want to move forward with the notice style. I could have misunderstood that we actually want both. Could be similar to the design for after sunset here: https://github.com/Automattic/wp-calypso/issues/48029#issuecomment-741403270

[2020-12-09 16:48] timmyc commented on #48026
Definitely I think the notice style could result in eyes skipping over it, but for habitual users, I think it will catch their 👁️ especially if it is displayed across all pages.

[2020-12-09 17:08] ktyfuller604 commented on #48178
Also occurs on MacOS Catalina v 10.15.7/ Chrome v. Version 86.0.4240.198

[2020-12-09 17:08] ktyfuller604 commented on #48133
Also occurs on MacOS Catalina v 10.15.7/ Chrome v. Version 86.0.4240.198

[2020-12-09 17:12] ktyfuller604 commented on #48143
This also occurs if you click on Jetpack and hover over other menus.

Screen recording: https://d.pr/v/3b91FO

MacOS Catalina v 10.15.7/ Chrome v. Version 86.0.4240.198

[2020-12-09 17:16] ktyfuller604 opened #48182 "Nav Unification: Smaller Viewport: How to Switch Sites?"
#### Steps to reproduce

1. Reduce screen size to 600px or less
2. Click on Reader, then Click on My SItes (brings you to the default site)

#### What I expected

An indicator that I could click on My Sites to switch sites, or a Switch Sites menu option.

#### What happened instead

No indication of the fact I could switch sites. Although clicking on "My Sites" did bring up the site switcher, on t

[2020-12-09 17:26] ktyfuller604 opened #48183 "Nav Unification: Settings Link in Calypso goes to WP-Admin"
#### Steps to reproduce

1. Click on the "Settings" menu option in Calypso

#### What I expected

The menu to expand like the other menu options (Tools for example)

#### What happened instead

The Settings menu opened WP-Admin

#### Browser / OS version

MacOS Catalina v 10.15.7/ Chrome v. Version 86.0.4240.198

#### Screenshot / Video

https://d.pr/v/5In4dD

#### Context / Source

[2020-12-09 18:53] pmcpinto commented on #48026
@elizaan36 In my opinion, the card would be better. Most people are averse to change and it would be difficult to conquer their hearts with just the notification 😃

[2020-12-09 19:31] sdixon194 commented on #47223
Another report in 25466222-hc

[2020-12-09 19:33] gwensmithx commented on #45881
Another report #24684882-hc

Chrome Version 87.0.4280.88 (Official Build) (64-bit)

[2020-12-09 20:41] mattwiebe commented on #41134
Howdy @roo2 - you will also need to remove anything that checks the abtest, and most anything in `client/lib/signup/page-builder.js` and assorted places those functions are used. See also #32005 and #31822 where things were initially added. Happy to help review or answer questions.

[2020-12-09 20:47] samiff commented on #47643
Another in 26172769-hc

[2020-12-09 21:43] dcoleonline opened #48191 "Table Block: Slowness when editing large tables"
#### Steps to reproduce

1. Create a new page with a blank layout on WordPress.com.
2. Add a new table with at least 240 rows and 8 columns (sample data provided at the bottom of this report)
3. I recommend that the data in the cells should vary as the issue doesn't seem as noticeable if the same text is used in all cells.
4. Start adding or replacing text within the table. The editor appears to t

[2020-12-09 22:05] noahtallen commented on #48148
This was working when we integrated 2021 blocks, so I think we might need to regenerate the templates for the site or something like that. Probably since template resolution changed

[2020-12-09 22:07] noahtallen commented on #45092
The vesta layout was also removed, so I'm closing this out.

[2020-12-09 22:07] #45092 closed

[2020-12-09 22:32] eduardozulian commented on #48142
Clicking on Tags did the same for me.

On top of that, I was seeing an odd mix of Calypsoify for both categories and tags:

<img width="1672" alt="Captura de Tela 2020-12-09 às 19 26 34" src="https://user-images.githubusercontent.com/1136160/101696327-bac3f380-3a54-11eb-923c-ff3ade736cc1.png">

[2020-12-10 01:35] kaitohm opened #48195 "Ability to add line breaks to post titles"
User site consists both English and French. They would like the ability to add line breaks to post/page titles, to differentiate these languages.

I've found a third-party resource that introduces [a way to achieve this with PHP code](https://wpstreak.com/line-break-in-wordpress-post-titles/#:~:text=So%2C%20a%20title%20that%20looks,input%20a%20line%2Dbreak) - a potential temporary workaround for u

[2020-12-10 02:05] mattsherman commented on #48026
A huge +1 to using a card over a notice. As @pmcpinto notes, this is a huge change -- letting users know about that in a little notice doesn't feel like giving the messaging the appropriate weight. And, it limits how we can present the initial message before they click-through to get more information.

[2020-12-10 02:15] mattsherman commented on #48027
Calypso has Tracks support:

https://github.com/Automattic/wp-calypso/blob/trunk/packages/calypso-analytics/README.md

I would think that will suit our needs. But, there is also a "Store on WordPress.com" flavor that could be used...

https://github.com/Automattic/wp-calypso/tree/trunk/client/extensions/woocommerce/lib/analytics

I guess it depends on how we want our event named and what other pro

[2020-12-10 02:16] mattsherman commented on #48155
Left a comment on https://github.com/Automattic/wp-calypso/issues/48027#issuecomment-742189501 -- I don't think this separate story is needed, as adding the Tracks event should just be a single call to an existing function.

[2020-12-10 02:18] becdetat commented on #48027
Nice! I'll un-split this. Thanks for the catch @mattsherman

[2020-12-10 02:29] mattsherman commented on #48027
What happens after the transition period? How does a user then access WooCommerce from Calypso? During the transition, they were able to easily get there by clicking this menu item. Now what? We should either keep this menu item, or teach users the method that they will eventually be using to get to WooCommerce.

[2020-12-10 02:58] becdetat commented on #48027
@mattsherman

The WooCommerce menu item is kept post-sunset, the Store menu item will be removed on sunset.

[2020-12-10 03:11] p-jackson opened #48196 "Onboarding: Not all copy is updated when user switches languages"
#### Steps to reproduce

1. Starting at URL: `/new?flags=gutenboarding/language-picker`
2. Advance to a step where you see a "Go back" button (the "Continue" button and other text seems to have the same issue)
3. Use the language picker to switch to Spanish
4. Use the language picker to switch back to English (English seems to be special, I think you might have to start in English)

#### What I ex

[2020-12-10 03:18] p-jackson opened #48197 "Onboarding: switching language leaves the incorrect language slug in the url"
#### Steps to reproduce

1. Starting at URL: `/new/es?flags=gutenboarding/language-picker`
2. Use language picker to switch to something non-Spanish

#### What I expected
The `/es` slug in the url should either disappear or switch to the language I just selected. Ideally if the user refreshes the page they should keep their language selection, so the easiest way to do that might be to change the s

[2020-12-10 03:24] p-jackson opened #48198 "Onboarding: opening the language picker sometimes jumps the user back to the start of onboarding"
#### Steps to reproduce

1. Starting at URL: `/new/es?flags=gutenboarding/language-picker`
2. Skip setting a site title
3. Attempt to open the language picker

#### What I expected
Language picker modal opens

#### What happened instead
I'm jumped back to the start of onboarding and the `/es` fragment has disappeared from the url (although the UI language is still Spanish)

#### Screenshot / Video

[2020-12-10 03:45] mpmedialab commented on #48092
One more report in 3561747-zen. The user tried with Safari and Chrome and reported exactly the same error message when trying to change the layout - "The editor has encountered an unexpected error."

[2020-12-10 04:23] noteeth opened #48199 "Duplicate links under Appearance tab - nav unification"
#### Steps to reproduce

1. Starting from WordPress.com (with nav unification enabled)
2. Click on Appearance tab
3. In the expanded links, Header and Background appear twice

#### What I expected
To see each link one time

#### What happened instead
Header and Background appear twice

#### Browser / OS version
Chrome 87 / Mac Catalina 10.15.7

#### Screenshot / Video
<img width="1574" alt="Screen

[2020-12-10 05:08] becdetat commented on #48027
@pmcpinto what tracks data do you want sent when the button is clicked? And what should the name be?

[2020-12-10 05:09] becdetat opened #48200 "Store|Woo: Add info tooltip to Store menu item to inform that it will be sunsetted"
<img width="507" alt="Screen Shot 2020-12-07 at 2 14 57 PM" src="https://user-images.githubusercontent.com/5121465/101436277-7a893780-38d3-11eb-9048-3c64bda461a7.png">

_Originally posted by @elizaan36 in https://github.com/Automattic/wp-calypso/issues/48027#issuecomment-740352091_

Feature flag: `woocommerce/store-deprecated`

Acceptance criteria:
- When Store is not deprecated and the Store menu

[2020-12-10 06:35] roo2 commented on #47293
This issue in the Layout Grid seems to be related. https://github.com/Automattic/block-experiments/issues/152

It looks like the setting that effects it is the `__experimentalGetPreviewDeviceType` used in [edit.js](https://github.com/Automattic/block-experiments/blob/master/blocks/layout-grid/src/grid/edit.js#L474) this value does always seem to be set to desktop. And in fact edit.js is not used i

[2020-12-10 07:55] tjcafferkey commented on #48047
As per mine and @ollierozdarz conversations there are two options here

1. When a user comes from the cart with an item (such as a plan) then we remove highlighting logic for all steps so that every step is highlighted.
2. When a user comes from the cart with a plan, which will cause the last step to be highlighted but the one before it (domains) to look 'disabled' then we reverse the order of the

[2020-12-10 10:17] tyxla commented on #24180
#48206 fully reduxifies and modernizes notices

[2020-12-10 11:36] adelineyaw commented on #47935
Another report 25250728-hc

[2020-12-10 11:48] aisajib commented on #47935
Another user reported this in #26239662-hc

[2020-12-10 12:59] unDemian opened #48211 "Remove submenu flyouts on Reader"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/read
2. Make sure you are a proxied automattician and hit Calypso Staging (this feature is not available to all users yet)
3. Collapse Automattic section
4. Hover over it a couple of times

#### What I expected
- All submenu items should be visible or the hover menu should be scrollable
- Position of the hover submenu should be con

[2020-12-10 13:09] sgomes commented on #42490
`lib/user-settings` appears to be a blocker for this one.

[2020-12-10 14:15] rickybanister opened #48214 "Quick Links: implement keyboard shortcuts to correspond with link options"
You can tap `n` in Calypso to toggle open/close the notifications panel.

How cool would it be if you could tap `option+command+p` and open the editor to create a new post or `shift+option+command+p` to create a new page or `shift+option+command+h` to edit your homepage? Or jump to managing unread comments? Or jump into the customizer / site editor or edit your menu or jump into settings...

Yes t

[2020-12-10 14:21] poojashetty18 commented on #47355
I re-checked the comment section and it's now displaying as expected on Calypso as well as wp-admin.

[2020-12-10 14:49] pmcpinto commented on #48027
I think it makes sense to use an event naming similar to the existing events in the Store UI. This is the one that's tracking the clicks in the existing menu item: `calypso_woocommerce_store_nav_item_click`

I'd go with something like: `calypso_woocommerce_store_woo_core_item_click`

[2020-12-10 14:50] dcoleonline commented on #46777
I had this in both 26233677-hc and 26108876-hc. It is preventing people from making a purchase if we do not help them sort through the issue manually.

[2020-12-10 14:58] joanrho commented on #48214
Neat idea! @karmatosed had a similar idea for a keyboard shortcut (like the slash command for the slash inserter, which only serves blocks) to invoke the Patterns tab of the Inserter while in the Editor.

[2020-12-10 15:06] simison commented on #48214
Bonus:

`⌃` `⌥` `H` to open keyboard shortcuts modal like in Gutenberg:

![image](https://user-images.githubusercontent.com/87168/101789434-fb317900-3b09-11eb-8fc5-1408b384e29c.png)

[2020-12-10 15:19] mattsherman commented on #48027
Thanks. I've updated the description to make that clear.

[2020-12-10 15:50] getdave opened #48220 "Switching Dashboard/admin color scheme leaves flash of old color scheme on reload"
This relates specifically to the admin colors unification project.

### Expected behavior
Once a new scheme is selected I shouldn't see any UI in the old color scheme.

### Actual behavior
I saw a flash of the old color schemes on reload before the new one kicked in.

### To Reproduce
* Select a color scheme.
* Hit Save
* Fully reload the page.
* Choose new color scheme.
* Save.
* Reload.
* See fl

[2020-12-10 16:02] alshakero opened #48221 "Domain Picker: don't overgrow domain name part of the suggestion item"
Currently, the name section of domain picker item is too large because it has `flex-grow: 2`.

`flex-grow: 2`

<kbd>
<img width="400" src="https://user-images.githubusercontent.com/17054134/101781114-b7ce0f00-3af7-11eb-9dca-6f888807f0b5.png" />
</kbd>

`flex-grow: 1;`
<kbd>
<img width="400" src="https://user-images.githubusercontent.com/17054134/101781264-dd5b1880-3af7-11eb-84d8-b7aceddeca0e.png"

[2020-12-10 16:05] marianearchimbaud commented on #45881
Reported here too: 3554486-zd
Using Chrome on a mac

The user also mentioned that while visiting its page, they clicked on the 3 dots of the WordPress.com action bar, clicked on log in, but they seemed to be kicked off, and never able to log in

[2020-12-10 16:40] cathymcbride opened #48224 "White screen applying “show exact matches only” in domains search filter"
#### Steps to reproduce

1. starting from https://wordpress.com/start/domains
2. click filters
3. click show exact matches only
4. click apply

expected: these settings are applied to my search when I start typing

actual: white screen – console errors:
[code]
Going back takes you to the page you had open previous to /start/domains

[2020-12-10 16:42] cathymcbride opened #48225 "Shift + letter in middle of domain search string sends cursor to end of string"
#### Steps to reproduce

starting from https://wordpress.com/start/domains
in the domain box, type “aaaa”
move your insertion point to the beginning of the string (or anywhere inside the string) > type “BBBB”

expected: bbbbaaaa (I'm assuming the change of case is expected)

actual: baaaabbb – the cursor pops to the end of the string after the first character is typed

[2020-12-10 17:04] getdave commented on #46614
As this will likely go into the manage janitor rotation, if anyone needs my input here I'm happy to try and remember what I changed and how it can be fixed.

**To whoever picks this up** - in the first instance I'd carefully review the testing instructions in D48681-code which will at least get you started with a solid dev environment for fixing this which was 50% of the work last time around! 😄

[2020-12-10 17:47] simison opened #48227 "Media library grid visually broken on mobile"
Media library doesn't scale down well.

Thanks @elibud for reporting.

#### Steps to reproduce

1. Starting at URL: Open wordpress.com/media
2. Try mobile width
3. 💥

<img src="https://user-images.githubusercontent.com/87168/101809356-1f985000-3b20-11eb-8ee2-6de6258b7b9f.png" width="400">

@michaeldcain mentioned that it would look at little better if we defaulted to the next size larger for thumb

[2020-12-10 18:33] elizaan36 commented on #48026
I think we can do both - a notice and a card. Here's a possibility for during sunset (copy TBD)

![During sunset](https://user-images.githubusercontent.com/5121465/101814509-e346fe80-3ae3-11eb-8afe-e5f755bb56e9.png)

[2020-12-10 20:11] happychait commented on #36274
A customer reported this on Safari on iPad in 156380-hc

[2020-12-10 20:24] cathymcbride commented on #47086
@kylemcph Can you repro? Looks like this should be fixed?

[2020-12-10 21:12] CompChris opened #48229 "Gutenburg Blocks: Read More buttons don't show up on "Latest Posts" block on AT sites"
#### Steps to reproduce

1. Create a page that has a "latest posts" block on it, with some blog posts to read from.
2. In the editor, these show up with "Read More" text.

![Markup on 2020-12-10 at 16:05:40](https://user-images.githubusercontent.com/6847710/101829820-9d992e80-3b01-11eb-9c7e-72193c8f6126.png)

On the page, however, the excerpts appear without this text.

![Markup on 2020-12-10 at 1

[2020-12-10 22:22] eduardozulian opened #48233 "Nav Unification: Different wording in Calypso and WP Admin when switching sites"
#### Steps to reproduce

1. Starting from WordPress.com (with nav unification enabled)
2. Try to Switch to another site from both Calypso and WP Admin

#### What I expected

To see the same button.

#### What happened instead

* On Calypso, I see `Switch Site`
* On WP Admin, I see `Browse Sites`

#### Browser / OS version

Chrome 87 / Mac Catalina 10.15.7

#### Screenshot / Video
<img width="337"

[2020-12-10 22:31] eduardozulian opened #48234 "Nav Unification: Browse/Switch site behavior is different in Calypso and WP Admin"
#### Steps to reproduce

1. Starting from WordPress.com (with nav unification enabled)
2. Try to Switch Sites from both Calypso and WP Admin

#### What I expected
The same flow: either we see the new site panel appearing in the left sidebar (Calypso) or link users to https://wordpress.com/home (WP Admin) where they can select the site they wanna work on.

#### What happened instead
I have two diff

[2020-12-10 22:36] scosgro opened #48235 "Paragraph Block: No Paste as Plain Text Option Available"
I've run into two users today who were having this issue, so decided to look into it. There's an [old Github from 2018 in /gutenberg that hasn't moved](https://github.com/WordPress/gutenberg/issues/6132), and it's a fairly common issue on .com, so I wanted to escalate here to see if there's anything that can be done.

#### Steps to reproduce

1. Open a word processor, and write your copy in that w

[2020-12-10 22:47] eduardozulian opened #48236 "Nav Unification: Sharing is duplicate and appears on both Tools > Marketing > Sharing Buttons (Calypso) and on Settings > Sharing (WP Admin)"
Sharing options are duplicated and appear on both `Tools > Marketing > Sharing Buttons` (Calypso) and on `Settings > Sharing (WP Admin)`. We should keep a single one and move relevant tools (like adding a new service) to Calypso.

#### What I expected

To find all the Sharing Options on a single location.

#### What happened instead
We have two ways to get to the (almost identical pages):

1. http

[2020-12-10 22:55] eduardozulian opened #48237 "Nav Unification: Earn/WordAds is duplicated + different wording"
1. WordAds options appears on both `Tools > Earn > View Ad Dashboard > Settings` (Calypso) and on `Settings > Wordads`
2. Also, we refer to it differently under the `Settings` menu: in Calypso, it's `AdControl` whereas in WP Admin, `WordAds`.

#### What I expected

To find all the Earn/WordAds options on a single location.

#### What happened instead

We have two ways to get to the (almost identic

[2020-12-10 23:00] scosgro opened #48238 "Nav Unification Alpha: Two Areas for WordAds - WP-Admin Version Unnecessary"
#### Steps to reproduce

1. Starting at the default view (Calypso), click on Tools - Earn

![image](https://user-images.githubusercontent.com/30731356/101839890-054a7c00-3af8-11eb-9274-6181f1219c7b.png)

And that will bring you to the spot where you can view the ad dashboard, and adjust any ads/WordAds settings.

2. Next, hover over Settings, to view the submenu, and there won't be any WordAds opt

[2020-12-10 23:11] eduardozulian opened #48239 "Nav Unification: WP Admin > Plugins should point to Calypso"
#### Steps to reproduce

1. Go to WP Admin
2. Click on the Plugins tab

#### What I expected

To see only the Calypso version of the page.

#### What happened instead

If you go to WP Admin:

1. The link will be https://SITEURL.wordpress.com/wp-admin/plugins.php instead of https://wordpress.com/plugins/SITEURL.wordpress.com
2. There will be a sub-item called `Installed Plugins` on Simple Sites.

#

[2020-12-10 23:27] eduardozulian opened #48240 "Nav Unification: Selecting subitems does not keep the submenu open"
#### Steps to reproduce

1. Starting from WordPress.com (with nav unification enabled)
2. Go to a parent menu like `Tools` and click on one of the sub-items

#### What I expected
To keep the sub-menu open and have a visual explanation of where I am. This is the standard behavior on WP Admin.

#### What happened instead
The menu isn't persistent and sometimes it closes if you choose another sub-ite

[2020-12-10 23:41] eduardozulian opened #48241 "Nav Unification: Consider omitting Mobile Options"
#### What I expected

Given that all new themes are responsive. I don't think there is a need to have a Mobile menu under `Appearance`. We should consider removing it from the new navigation.

#### What happened instead
1. We still have the navigation under `Appearance > Mobile`
2. On Calypso, the link takes to `/mobile-options`, relative to the page you're visiting.

#### Browser / OS version

Ch

[2020-12-11 00:35] obenland opened #48243 "Admin Menu Icons & Badges: Account for more plugin edge cases"
#### Steps to reproduce

1. Activate Popup Builder on a WoA site: https://wordpress.org/plugins/popup-builder/
2. Load the site in Calypso with nav-unification-v2 enabled
3. Notice the missing icon & badge.

#### What I expected (wp-admin)

![Screen Shot 2020-12-10 at 4 30 14 PM](https://user-images.githubusercontent.com/1398304/101846119-1ea5f500-3b05-11eb-8e67-2d6e44d8fadf.png)

#### What happen

[2020-12-11 00:38] obenland commented on #48243
@davemart-in This is probably a good example of a bad example of 3rd-party plugins and how their menu items display in Calypso.

[2020-12-11 01:18] andrewserong commented on #44635
Tiny update: the parent page picker in Gutenberg doesn't seem to play nicely when there are a _lot_ of pages to choose from, so I managed to hook up the parent page properly using the classic editor. Side project idea: propose a page picker modal for Gutenberg to support large knowledge-bases.

We now have:

* Parent page (PCYsg-t0i-p2)
* Translation overview (PCYsg-t0E-p2)
* API endpoint and meta

[2020-12-11 02:51] roo2 commented on #47293
Aside from the columns not rendering in mobile mode, the reason that the content is pushed off the screen is actually related to the `has-background` class. the `has-background` triggers some style rules to take effect which push the content out of the normal padding an right to the edge of the screen on desktop. However, on mobile the padding is smaller, so the content is pushed right out of the

[2020-12-11 03:27] #47225 closed

[2020-12-11 03:59] ilyasfoo commented on #48027
@timmyc or @pmcpinto can you help to confirm the following:

- This project will not impact existing E-commerce users as they're already accessing WooCommerce interface. On that note, it might also be important that E-commerce users **should not** see the Woo menu - because it's not relevant to them.
- To standardize users' experience, do we need to calypsoify all our links as well?

[2020-12-11 04:17] bluefuton commented on #47875
This is a frustrating one - I've seen it happen (once) but in the majority of cases it's removed from the sidebar. Can you reliably reproduce it on your account @martinremy?

[2020-12-11 05:35] andrewserong commented on #47224
This tracking issue is nearly complete, the remaining pieces just need to be deployed (covered in pbAok1-1D1-p2#comment-3533)

[2020-12-11 06:07] sophiegyo commented on #45881
Possible case in 26259705-hc - different error message but likely same related cookie problem.

This is the error they got: "you are not allowed to post with the provided terms?"
I could find absolutely nothing in MGS but it sounds related.
The site was previouly AT, now Simple.

They were using Chrome on a Mac too; Chrome 87.0 on Mac OS X 10.12.6 according to HC but I didn't get any further detai

[2020-12-11 06:39] razvanpapadopol commented on #47815
We don't have a dedicated board but we have this main issue: https://github.com/Automattic/wp-calypso/issues/43750
I guess Luna Projects is a good place to keep track of this kind of maintenance/improvement issue.

[2020-12-11 06:42] razvanpapadopol commented on #48098
Thanks for reporting this! 🙇
The bug has been fixed in https://github.com/Automattic/wp-calypso/pull/48100

[2020-12-11 06:42] #48098 closed, assigned to nobody

[2020-12-11 06:53] razvanpapadopol opened #48246 "New onboarding launch: pre-select subdomain"
We should pre-select the subdomain when a user first opens Launch after creating a site using New Onboarding.

#### Screenshot / Video

<img width="1156" alt="Screenshot 2020-12-11 at 08 49 22" src="https://user-images.githubusercontent.com/14192054/101872429-e7c7f180-3b8d-11eb-9622-2928a87fc4ba.png">

#### Context / Source

The change has been confirmed with @ollierozdarz in p1607415931435100-sla

[2020-12-11 09:22] david-szabo97 commented on #47086
I can still reproduce it. It won't be fixed until a new Editing Toolkit version is released with the latest newspack blocks version. Right now we have a blocker that prevents us from releasing new newspack blocks version in the editing toolkit.

[2020-12-11 09:30] #47748 closed, assigned to tjcafferkey

[2020-12-11 10:04] #47325 closed

[2020-12-11 11:38] tjcafferkey opened #48251 "Focused Launch: Modal design parity"
Discrepancies between current modal and designed modal. These should apply to all the views in the Focused Launch modal.

Design parity Figma link: 27834-pb

**Desktop**
* Background opacity on the top section of the modal allows you to see the editor behind it.
* Logo should be seen behind the modal rather than on top of it
* Help icon (bottom right) should be removed as we have the "Ask a happin

[2020-12-11 11:52] tjcafferkey opened #48252 "Focused Launch: Summary view design parity"
Discrepancies between current Summary view and designed Summary view.

Design parity Figma link: 27834-pb

**Desktop**
* Title - If we are able to, use Recoletta Medium font for the title.
* Name your site - Input box to have `border-radius: 4px;`
* Name your site - Unfocused `border-color: #C3C4C7;`
* Name your site - Input box to be `height: 44px;`
* Confirm your domain - Too much `letter-spacin

[2020-12-11 12:01] david-szabo97 opened #48253 "Editing Toolkit: Update newspack blocks (Tracking)"
Newspack blocks is getting older and older in Editing Toolkit. We tried to update it in this [PR](https://github.com/Automattic/wp-calypso/pull/48179) but resulted in build errors. It got reverted in this [PR](https://github.com/Automattic/wp-calypso/pull/48186).

We can't update newspack blocks in ET till the tests are fixed. Here is my proposed plan to finally get it updated:

**Plan:**

- [x] -

[2020-12-11 12:07] tyxla commented on #42459
Addressed by #48254

[2020-12-11 12:09] #47994 closed, assigned to StefanNieuwenhuis

[2020-12-11 13:27] tjcafferkey opened #48256 "Focused Launch: Domain details design parity"
Discrepancies between current domain details view and designed domains details view.

Design parity Figma link: 27834-pb

- [ ] Title - If we are able to, use Recoletta Medium font for the title.
- [ ] Title - `color: #101517;`
- [ ] Sub-title - Remove letter spacing
- [ ] Domain search input - Input box to be `height: 44px;`
- [ ] Domain search input - Unfocused `border-color: #C3C4C7;`
- [ ] Dom

[2020-12-11 13:43] tjcafferkey opened #48258 "Focused Launch: Plans details design parity"
Discrepancies between current plans details view and designed plans details view.

Design parity Figma link: 27834-pb

* Title - If we are able to, use Recoletta Medium font for the title.
* Title - `color: #101517;`
* Sub-title - Remove letter spacing
* Plans grid - `border-color: #DCDCDE;`
* Plans grid - `border-radius: 4px;`
* Plan title - `font-weight: 500;`
* Plan price - `margin-top: 24px;`

[2020-12-11 13:48] tjcafferkey opened #48259 "Focused Launch: Success view design parity"
Discrepancies between current success view and designed success view.

Design parity Figma link: 27834-pb

* "Hooray" - If we are able to, use Recoletta Medium font
* "Hooray" - `font-size: 48px;`
* "Hooray" - `line-height: 52px;`
* "Hooray" - `color: #101517;`
* Congratulations sub-title - `font-size: 20px;`
* Congratulations sub-title - `line-height: 28px;`
* Link box - Link text to be `font-siz

[2020-12-11 13:58] tjcafferkey opened #48261 "Focused Launch: Long domain name breaks mobile layout"
Long domain name breaks mobile layout for the Summary view <s>and the Domain Details view.</s> (LE: opened https://github.com/Automattic/wp-calypso/issues/48628 for Domain details mobile layout).

<img width="251" alt="fl-long-domain-name-1" src="https://user-images.githubusercontent.com/8639742/101911866-dd6f1d00-3bb8-11eb-933d-04d1d8ee5295.png">
<img width="239" alt="fl-long-domain-name-2" src="

[2020-12-11 13:58] tyxla commented on #24180
#48260 reduxifies the single plugin installation progress and together with #48206 removes the last usage of the `PluginsLog` store 🥳

[2020-12-11 14:04] StefanNieuwenhuis commented on #48165
@ollierozdarz
We basically want to handle every scenario where a user can get "stuck" in a non-responsive screen. This happens mostly when data needs to be retrieved and the connection is interrupted/lost. The main question is how to communicate errors to the user.

#### Domain Suggestions
One way we're currently handling errors is to display the following banner. This is displayed when something

[2020-12-11 14:09] tjcafferkey opened #48263 "Focused Launch: Plans details view accessibility"
Navigating through the plan details view appears to focus on some invisible elements.

p58i-9Mt-p2#comment-48404

**Replication steps**
starting from https://wordpress.com/start/domains
get yourself to the focused launch modal
click “View all plans”
tab thru page

**Expected**
tab order travels to visible elements

**Actual**
tab order seems to include several invisible/non-interactable elements

[2020-12-11 14:14] tjcafferkey opened #48264 "Focused Launch: Editor buttons"
p58i-9Mt-p2#comment-48402

### Publish button not primary blue

Complete the focused launch flow. At the end of the flow, close the checkout, then expect the congrats splash, and press “back to editing”.

#### What I expected
Launch button was gone, but I expected the “Publish” button now to be primary blue color

#### What happened instead
Publish button was present, but wasn't in the primary blu

[2020-12-11 14:23] vindl commented on #47155
Cool, I also notice that [this list](https://make.wordpress.org/themes/handbook/review/required/theme-tags/) now contains `full-site-editing` tag, which is relevant for previous discussions on this issue.

[2020-12-11 14:43] tyxla commented on #48227
Nothing recent comes to mind!

As a solution, I think that we should detect mobile devices (+ resizes that end up in mobile size) and for mobile widths, ensure we're setting the scale to a maximum of 3 items per row. In addition, we might want to remove the `height` from `.sorted-grid__label` to ensure labels don't overlap the thumbnails.

I haven't had the time to tinker with those, but it seems

[2020-12-11 14:55] david-szabo97 commented on #47336
Convert reusable to regular block happens here: [code](https://github.com/WordPress/gutenberg/blob/e83ef614543184f347c4ad26d668b21ec7f3f21a/packages/reusable-blocks/src/store/controls.js#L58-L76)

Which calls into `replaceBlocks`: [code](https://github.com/WordPress/gutenberg/blob/e83ef614543184f347c4ad26d668b21ec7f3f21a/packages/block-editor/src/store/actions.js#L351-L391)

The convert is cancele

[2020-12-11 14:55] david-szabo97 commented on #47336
@sirreal Got any idea how to fix/get around this? 🤔

[2020-12-11 15:25] eduardozulian opened #48265 "Purchases: "Pay" button doesn't work for Brazilian users"
We had a few reports from `pt-br` users unable to complete a purchase. The Pay (_Pagar_) button is simply pink/active but nothing happens when you click on it. Console logs are empty.

In my tests, this only happened if you don’t have any stored cards on your account.

**The workaround** is to add the card first on https://wordpress.com/me/purchases/add-credit-card, then go back and complete the p

[2020-12-11 15:26] cpapazoglou opened #48266 "Nav Unification: Purchases submenus don't include the site in the url"
#### Steps to reproduce

1. Enable `nav-unification` paYJgx-1af-p2
2. Go to https://wordpress.com/plans of a simple site
3. Click a submenu

![](https://cln.sh/RRg3pF+)

#### What I expected
The submenu should open in the current site

#### What happened instead
The site switcher opens

#### Browser / OS version

#### Screenshot / Video

#### Context / Source
This probably happens because the url

[2020-12-11 15:29] nbloomf commented on #48265
Between "stored cards" and "Brazil" I suspect this is related to #48187 or #47642.

[2020-12-11 15:41] cathymcbride commented on #45881
@sophiegyo I'm not sure that is the same issue? See: https://core.trac.wordpress.org/ticket/46297

[2020-12-11 15:42] cathymcbride commented on #47086
@david-szabo97 What is the blocker?

[2020-12-11 15:43] sirbrillig commented on #48265
For (my) convenience, how to test Ebanx:

- Complete a payment using a credit card processed through Ebanx.
  - Set your currency to `BRL`.
  - In the contact information step, choose "Brazil" for the country.
  - In the final step, choose "Credit or debit card".
  - Verify that the form asks for all the Ebanx fields in addition to the credit card fields (Taxpayer Identification Number, Phone, etc

[2020-12-11 15:50] david-szabo97 commented on #47086
@cathymcbride Here is the tracking issue: https://github.com/Automattic/wp-calypso/issues/48253

[2020-12-11 16:00] tjcafferkey opened #48268 "Focused Launch: Selecting subdomain in domain doesn't return you to Summary view"
#### Steps to reproduce

1. Go to this URL using your unlaunched site slug created via start `/page/UNLAUNCHED_START_SITE.wordpress.com/home?flags=create/focused-launch-flow`
2. Click "Launch" to view the Focused Launch modal
3. Click "View all domains" to go to the Domain Details view and click a professional domain. Observe how it returns you to the Summary view
4. Click "View all domains" again

[2020-12-11 16:06] tjcafferkey opened #48270 "Domain Picker: Component tests for business logic"
The logic around the `<DomainPicker />` component has become a bit more complex during the Focused Launch project. Therefore we need to create some component tests to cover the following logic we've introduced.

* If you have current domain selected which is not in the returned list of suggested domains. We append this to the bottom of the list of domains (https://github.com/Automattic/wp-calypso/

[2020-12-11 16:10] tjcafferkey opened #48271 "Editor Checkout Modal: Re-add and fix E2E tests"
**What**
[E2E tests for Editor Checkout](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/wp-calypso-gutenberg-checkout-spec.js#L38) to upgrade your plan via the block "Upgrade" nudge in the editor were disabled due to inaccurate results.

Here is the PR that disabled the tests https://github.com/Automattic/wp-calypso/pull/48173

**Why**
Adding coverage for a Premium Blocks upgra

[2020-12-11 16:14] tjcafferkey commented on #48271
cc @bsessions85 for visibility. I suspect this could be the same old cookie problem that doesn't allow you to sandbox the checkout, which we were experiencing when writing these tests.

[2020-12-11 16:34] timmyc commented on #48027
Really good question @ilyasfoo - as [there is some logic in the calypso menu specifically for eCommerce plan users](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/sidebar/index.jsx#L677-L679).

So the existing logic there will render the Store menu item for ecomm plan users, pointed at their wp-admin instance. That logic needs to remain during, and post sunset of Store on Word

[2020-12-11 16:35] timmyc commented on #48026
➕ on the Card too - great idea y'all.

[2020-12-11 16:42] Addison-Stavlo commented on #47155
I think we are good to close this now that #47301 and the accompanied diff and jetpack PR have merged. 👍

Obviously, feel free to reopen if thats not the case.

[2020-12-11 16:42] #47155 closed

[2020-12-11 17:06] #48265 closed, assigned to nbloomf

[2020-12-11 17:22] sirreal opened #48275 "CoBlocks: Plugin Update to v.2.5"
Call for Testing: p7DVsv-a49-p2
Previous update: https://github.com/Automattic/wp-calypso/issues/45033 (v.2.2)

### Process

* [x] Build v2.5.3 (24-gh-Automattic/coblocks-builder)
* [x] Install v.2.5.3 (D54260-code)
* [x] Activate v.2.5.3 for `coblocks-edge` stickered sites (D54263-code)
* [x] Publish a Call for Testing post (p7DVsv-a49-p2)
* [x] Activate for all sites (D54576-code)
* [x] Publish

[2020-12-11 17:43] sirreal commented on #47336
Not really, everything makes sense in some way. The issue is really that we've disabled the blocks but they aren't migrated in any way. Maybe we can provide an upgrade path for a8c blocks that have been disabled somehow?

It may be best to consider this a one off loss and switch to the preferred block, I believe there's an alternative. I think @mirka was working with these blocks and may have insi

[2020-12-11 17:47] Addison-Stavlo commented on #48149
Took a quick look and this doesn't seem to be an issue with the theme but the starter content itself.  I see the same problem on my site withe `seedlet-blocks`.

For some reason, every section of content is nested in a single column inside a layout grid:
<img width="171" alt="Screen Shot 2020-12-11 at 12 45 09 PM" src="https://user-images.githubusercontent.com/28742426/101936708-e5c25a80-3bae-11eb

[2020-12-11 17:52] Addison-Stavlo commented on #48149
or maybe an issue with the layout grid block in the site editor 🤔

[2020-12-11 18:14] Addison-Stavlo commented on #48149
Yup, so more specifically it seems to be related to the `span` setting for the `layout-grid` block.  It seems like the CSS isnt properly being applied for this attribute in the site editor.  That is, in the post editor the content looks correct, you may notice a span of "8" for a layout grid.  Changing this to "1" will make it look like the broken layout in the site editor.

<img width="220" alt="

[2020-12-11 18:31] vindl opened #48276 "Site Editor: Twenty Twenty-one Blocks layout looks off in design picker"
The preview in design picker is not matching what's shown on site's front end once it's created. The cover blocks alignment is not full width.

<img width="507" alt="Screenshot 2020-12-11 at 19 30 17" src="https://user-images.githubusercontent.com/1182160/101940869-76b52800-3be7-11eb-982d-ad15f907035a.png">

[2020-12-11 20:30] obenland commented on #48266
Fix in D54198-code

[2020-12-11 20:39] obenland commented on #48266
r218221-wpcom

[2020-12-11 20:39] #48266 closed, assigned to nobody

[2020-12-11 21:14] mirka commented on #47336
Yes, we only hid the deprecated blocks `a8c/task` and `a8c/todo` from the inserter (instead of unregistering) so existing instances would continue working.

From reading this thread, it seems like the unresponsiveness is a Gutenberg problem. It’s expected for the conversion to fail, but it should display an error message. Correct?

---

Aside from that, is there also a specific and practical probl

[2020-12-11 21:36] bsessions85 commented on #48271
@tjcafferkey When I was looking at this one earlier this week I was not getting the upgrade button. I saw it once or twice, but the rest of the time it wouldn't show up. I suppose it could be the same issue, but it is definitely presenting differently

[2020-12-11 23:59] sirbrillig commented on #48132
https://github.com/Automattic/wp-calypso/pull/48152 is ready to be reviewed. Since it has its dependencies mixed in, if you want to review just the code changes, see #48284

[2020-12-12 03:46] katiebethbrown commented on #47916
@sgomes - Just wanted to drop a note that I checked on the site from my report above and the fix appears to be working as intended. The more buttons again display and are functional on hover:

<img width="540" alt="W0pIrW" src="https://user-images.githubusercontent.com/42279181/101971910-f3e59a80-3bf1-11eb-9601-fbba5b296bfd.png">

[2020-12-12 04:53] mattsherman commented on #48026
It seems like unnecessary duplication on the screen. I don't think the notice really adds much, assuming the card is designed to attract sufficient attention.

I think if the notice didn't have its own call to action, I'd be more okay with it, but I still think it makes the screen look more confusing than necessary.

[2020-12-12 06:22] hacchism commented on #45607
The same user came back asking for update although they ghosted in the middle: #26283193-hc

[2020-12-12 13:08] iamgabrielma commented on #45607
@kwight The customer is back asking for updates and I see this was moved to the Prioritized Backlog, is something that has come back to our radar to be fixed soon? Or should we set expectations that will not work for a while?

[2020-12-12 21:16] villanovachile commented on #48319
Got another report for this in ticket #3545484-zen.

Description: Issue recurred for user upon upgrading to 6.5. Upon opening the WordPress desktop app, they click the Editor button, and the issue occurs. They have since uninstalled, reinstalled, restarted their system, and issue persists.

OS: Windows 10 32bit

Screenshot of issue:
![appeditorerror](https://user-images.githubusercontent.com/65082

[2020-12-13 12:27] Nic-Sevic opened #48286 "Editor: Adding Post Carousel block creates error"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/post/fashionfictions.org/522
2. add post carousel block
3. immediately see error and no option for recovery

#### What I expected
carousel would show existing post with featured image

#### What happened instead
Adding the block creates this error
<img width="825" alt="error msg" src="https://user-images.githubusercontent.com/47717

[2020-12-13 13:20] mattsherman commented on #48027
@timmyc Should this link also open in a new tab, as the wp-admin link does? I'd say that the two need to go together... either it shows the external link icon and opens in a new tab, or it does not show the external link icon and opens in the same tab (this is how things currently work with the external link icon in Calypso).

[2020-12-13 13:29] mattsherman commented on #48027
@elizaan36 Would you happen to have an SVG Woo logo that we could use similar to how the Jetpack logo is used in Calypso? (https://github.com/Automattic/wp-calypso/tree/trunk/client/components/jetpack-logo)

[2020-12-13 13:34] mattsherman commented on #48027
It's unfortunate that for now we will have a different experience for the same functionality in Business and eCommerce. Could we consider renaming "Store" to "WooCommerce" for eCommerce plan sites, with some sort of a tooltip or notice to let users know that this has been renamed? If we did this, it would be in a followup issue. /cc @elizaan36

[2020-12-13 14:30] rickmgithub opened #48287 "CSS panel jumping as it scrolls"
#### Steps to reproduce

1. Go to the customizer on #3567554-zd
2. As you scroll up and down you see the pane jumping - https://d.pr/v/Vx85xq

#### What I expected
The panel to scroll smoothly

#### What happened instead
It jumps about

[2020-12-13 18:07] azollafox commented on #48055
I tried as well when I got this follow up ticket in `play` but couldn't reproduce on my Atomic site using Firefox as my browser. I've asked the user if we can get any further details from them on what browser they are using.

Just for safety's sake I'm also asking them to try clearing their cache, logging into YouTube and then WordPress.com to see if that solves the issue

[2020-12-13 20:14] azollafox commented on #48286
Also in #user-report at 26314794-hc , followed up at 3571675-zen

[2020-12-13 21:59] ramonjd commented on #46705
This has been merged 🎉

[2020-12-13 21:59] #46705 closed

[2020-12-13 23:57] kaitohm opened #48291 "Allow Portfolio shortcode to show different rows depending on device width"
User has specified column numbers in their Jetpack Portfolio shortcode. However, they wanted fewer numbers to be shown on Mobile. Our shortcode currently doesn't allow to specify different number of columns for different screen widths.

Apparently, there Divi theme can do this with their custom post type "Projects", and the user would like the feature implemented with Jetpack Portfolios, too.

Con

[2020-12-14 08:36] tjcafferkey commented on #48271
@bsessions85 If you weren't seeing the upgrade button it might be because the account had been upgraded either because:

1. The E2E test had upgraded the account on a test in another branch
2. The "Downgrade" flow failed on a previous test leaving the account on a plan above "Free" which is required for this test.

Do you think either of these could have had an impact?

[2020-12-14 08:53] david-szabo97 commented on #41468
We are now using the description of the page layouts as a label for the screen readers, but some of the layouts don't have a description so this issue is still going on.

[2020-12-14 10:38] jsnajdr commented on #48227
Funny that this is exactly how the mobile media view behaved until it was broken in #8295 (Oct 2016). See how the `mediaScale` used to default to `SCALE_TOUCH_GRID` (with a value of 0.32, i.e., approx 1/3) on mobile screens:

https://github.com/Automattic/wp-calypso/pull/8295/files#diff-3d25fc6c2356eac4a1d0fccb0744a0eaa6fa67f9abe26de82b4c725d8786832eL94

We should reintroduce that condition. On mo

[2020-12-14 10:50] sgomes commented on #47916
Thank you for letting me know, @katiebethbrown! 👍 It's great to hear it's working beyond the sites I've tested it in 🙂

[2020-12-14 11:04] #42491 closed

[2020-12-14 11:25] #42459 closed

[2020-12-14 11:31] klimeryk opened #48305 "Checkout: Contact information is not sanitized"
#### Steps to reproduce

1. Add a domain to the cart.
2. In the "Contact information" step, add a space at the end of the field. Or put _just_ spaces in the field.

#### What I expected

The call to `https://public-api.wordpress.com/rest/v1.2/me/domain-contact-information/validate` to contain fields that were sanitized - most importantly, white space trimmed.

#### What happened instead

Field wit

[2020-12-14 11:34] klimeryk commented on #48305
cc @Automattic/shilling, could have a look at this? It looks like a fairly recent regression and it's causing registration failures. Not _frequent_ or alarming, but it's still causing unnecessary user and support frustration 🙏

[2020-12-14 12:26] roo2 commented on #47293
I created a PR to fix this in a8c themes https://github.com/Automattic/themes/pull/2909

[2020-12-14 12:38] mrfoxtalbot opened #48307 ""Enable jQuery Migrate Helper" settings missing in Calypsofied wp-admin plugin section"
#### Steps to reproduce

1. Install [Enable jQuery Migrate Helper](https://wordpress.org/plugins/enable-jquery-migrate-helper/) plugin
2. Look for its settings.

#### What I expected
I expected to be able to see the plugin's settings in the Calypsofied plugin section, similarly to how the settings are accesible in the regular wp-admin plugins section:

![Screen Shot on 2020-12-14 at 11:18:27](http

[2020-12-14 12:58] cpapazoglou commented on #47037
Closed as duplicate of https://github.com/Automattic/wp-calypso/issues/47038

[2020-12-14 12:58] #47037 closed

[2020-12-14 13:09] tyxla commented on #24180
#48308 reduxifies `PluginsStore.getSitePlugin()` completely.

[2020-12-14 14:26] tjcafferkey opened #48314 "Focused Launch: Add back button redirect for external source"
**What**

When we send users to the `/start/new-launch/domains-launch/use-your-domain` flow we need them to be able to get back to the editor where they can reopen the Focused Launch modal if they need to.

**Acceptance criteria**
* Should the user land on the `/start/new-launch/domains-launch/use-your-domain` URL with a `source` parameter containing the URL they've arrived from. Clicking "Back" w

[2020-12-14 14:34] tyxla commented on #24148
@jsnajdr has been working on this recently in #48213, on top of some prior work in #27396

[2020-12-14 14:47] cpapazoglou opened #48315 "Nav Unification: cloud.jetpack.com"
Jetpack cloud (cloud.jetpack.com) and calypso are the same interface thus Jetpack cloud will be affected by nav unification when it goes live. Below I will try to illustrate the problematic areas with the current implementation.

Before | After
-------|------
![](https://cln.sh/PJOVF4+) | ![](https://cln.sh/FjthD2+)

As jetpack already uses different components for sidebar and masterbar, most prob

[2020-12-14 14:59] pmcpinto commented on #48026
I agree with Matt. The only case where I think that the notification can be effective is to show it on the other screens, if the user hasn't visited the dashboard.

[2020-12-14 15:15] folletto commented on #48315
To add details here:

1. When Nav Unification kicked off we asked to keep Calypso Green within scope of the work.
2. At this stage Nav Unification is focused on shipping on .com first.
3. Ideally, I'm imagining we should be using the same UI component, driven by a different data set (the Jetpack specific navigation). It's important we avoid forking Calypso Green and Calypso Blue structure as much

[2020-12-14 15:38] ivan-ottinger opened #48316 "Coming Soon v2: Site hasn't been launched, but it is Public at the same time"
The site hasn't been launched and at the same time it is public.

![Markup on 2020-12-14 at 16:35:02](https://user-images.githubusercontent.com/25105483/102101009-66d95600-3e2a-11eb-8bf5-3676f777a962.png)

It is not clear how this happened and how to reproduce the issue, but I wanted to make sure we have a record in case the issue occurs again.

Site ID: 186597945 (I am not sharing the site URL on

[2020-12-14 15:46] ghost commented on #47049
@cpapazoglou I added i1 visuals to my comment above. Let's keep anything i1 static for now and reserve the fancy GIFs for any design improvements.

[2020-12-14 16:12] cpapazoglou commented on #48315
This sound like "make jetpack cloud look like as the original one.". The problems I described are all breaking.

Just to clarify, calypso already uses different components for jetpack cloud rather than same components with different data set.

[2020-12-14 16:46] bsessions85 commented on #48271
@tjcafferkey, Actually, both of those are entirely possible. I hadn't considered that that would be a problem. It would be better to have this test include a signup process and then delete the whole account after so that there aren't conflicts when either of those two things happen.

[2020-12-14 16:49] folletto commented on #48315
Yes, at this stage this seems the right approach. My note was more to highlight to "let's not forget" alignment tho.

You mean for the sidebar? I thought it was using the same components, while the only bit was the bar at the top. I'll cross check then.

In general, my concern to be clear is to avoid forking of experiences and thus components, because we know that in the long term that leads to ma

[2020-12-14 17:32] nsakaimbo commented on #48319
Based on the user's logs, it seems they are getting bumped out of the Calypso iframe [here](https://github.com/Automattic/wp-calypso/blob/2e1fe38b7bdbaf3eb997160f83ff71fd781b3fbe/client/gutenberg/editor/calypsoify-iframe.tsx#L174) because the Calypso Gutenberg editor fails to load with a timeout.

This might be related to a third-party cookie check that fails (introduced in [this PR](https://githu

[2020-12-14 17:48] #48224 closed, assigned to daledupreez

[2020-12-14 18:25] rcanepa commented on #48315
Hey @cpapazoglou! Is there a branch we can use to test the changes introduced by the Nav Unification project?

[2020-12-14 18:43] sirreal commented on #47839
@fullofcaffeine Have you had a chance to investigate this?

[2020-12-14 19:05] obenland commented on #48315
@rcanepa paYJgx-1cy-p2 contains testing instructions for nav unification.

[2020-12-14 19:07] obenland commented on #48315
+1 on going the route of least resistance, which seems to be @cpapazoglou's first suggestion.

/cc @davemart-in

[2020-12-14 19:58] michaeldcain opened #48322 "Nav Unification: update "Purchases" to account for site-level billing"
In #45601, we added the site-level billing management to the current Calypso sidebar. This lets the users see their purchases, billing history, and payment methods in a single site context and has helped us reduce billing-related Happiness requests. Additional navigation updates are in progress in #47465 to clarify the purpose of the "Purchases/Upgrades" section.

As such, we should update the uni

[2020-12-14 20:08] elizaan36 commented on #48027
Hey @mattsherman , let me know if this Woo logo SVG works.
[WooLogo.svg.zip](https://github.com/Automattic/wp-calypso/files/5691278/WooLogo.svg.zip)

We're not deprecating the "Store" area for the Ecom plan though. I think changing link to "WooCommerce" in the Ecom plan wouldn't provide much benefit to the user as it feels more integrated to call it Store.

As one solution to keep them consistent,

[2020-12-14 20:12] Addison-Stavlo commented on #48149
Update - It seems the `layout-grid` block styles depend on the `.block-editor` class, which isn't added in the site editor (instead we have `#edit-site-editor` and `.edit-site` on this element).

It looks like https://github.com/Automattic/block-experiments/pull/156 will fix this issue.
 Also have [this core PR](https://github.com/WordPress/gutenberg/pull/27724) open to see if we can just add the

[2020-12-14 21:11] obenland commented on #47923
https://github.com/Automattic/wp-calypso/issues/48322 has a new iteration on that menu item. Let's close this one in favor of the new one.

[2020-12-14 21:11] #47923 closed, assigned to nobody

[2020-12-14 21:15] obenland commented on #48322
@davemart-in I updated the Unified Nav Proposal spreadsheet with the new structure

[2020-12-14 21:17] kwight commented on #45607
@iamgabrielma No, there are no plans currently for Manage to address it soon. It's in the prioritized backlog just for hopeful visibility (although even those on janitor rotation are focused on higher priority projects, and only addressing urgent, fatal janitor issues).

[2020-12-14 22:04] ChaosExAnima opened #48325 "Posts: Post count does not update on delete"
#### Steps to reproduce

1. Create one or more draft posts.
2. Move one to the trash.
3. Observe the count under drafts.

#### What I expected

I expected the count of draft posts to update to reflect the number of drafts.

#### What happened instead

The count did not update when I deleted the post.

#### Browser / OS version

http://supportdetails.net/QGYIJ82K

#### Screenshot / Video

![Annotat

[2020-12-14 22:21] elizaan36 commented on #48026
Ok, here's a new version with only the card on the Dashboard, and a notice on all other screens.

### During sunset
**Dashboard**
![During sunset - Dashboard](https://user-images.githubusercontent.com/5121465/102142613-57590d80-3e28-11eb-9ebe-ca58796e4659.png)

The text field has been expanded to include the link to support documentation.

**Non-dashboard screens**
![During sunset - non-Dashboard

[2020-12-14 22:49] moon0326 commented on #48029
Do we already have a link to documentation by any chance?

[2020-12-14 23:06] #48305 closed, assigned to nbloomf

[2020-12-14 23:45] carladoria commented on #46205
@michaeldcain  or @sirbrillig  are there any updates on this? we still get several requests related to this per day.
I personally get around 2 per day.

[2020-12-15 01:41] #47691 closed, assigned to autumnfjeld

[2020-12-15 02:32] jordesign opened #48332 "Removing/Canceling Purchases in Calypso results in Blank/White Screen"
This is an initial stub for us to track the issue. Seeing multiple instances of WPCOM visitors unable to cancel/remove subscriptions - they are directed to a blank/white screen.

p1607995931499600-slack-C03TY6J1A

[2020-12-15 02:38] charliescheer commented on #48332
Adding to this that I tested accessing the plans for my sites to test this out and currently I am un able to access the plans details pages for many of my subscriptions, but it seems to be consistent by site type.
non atomic site bundle plans can not be accessed in the purchases currently.  I get this every time https://d.pr/i/hVa4t3

Site/plan I saw this for:
https://charliedotorgtest.com / Jetpa

[2020-12-15 03:10] katiebethbrown commented on #48332
I am not able to load the Billing page on my non-Atomic sites either.

/purchases/subscriptions/katiesstoreadminpractice.wordpress.com/11258636

<img width="1009" alt="YrYWFu" src="https://user-images.githubusercontent.com/42279181/102163829-57690580-3e48-11eb-9b64-fed61bbf4852.png">

Error in the console is `TypeError: can't access property Symbol.iterator, ke.b[r] is undefined`

[2020-12-15 03:15] glendaviesnz commented on #48332
Issue seems to be with  https://github.com/Automattic/wp-calypso/pull/48280/files#diff-373308463f320cf32c34ff4fcb296d6cf3e773a6b6d428ee7de9bf22592b6e28R329 - just looking to see if there is a simple fix

[2020-12-15 03:40] jordesign opened #48334 "Checkout: Add 'Cart' Icon somewhere persistent when there are items in the Cart"
As raised in feedback about the current Cart/Checkout process (p7DVsv-9WJ-p2) Is it possible to consider a location for the Cart/Checkout icon to be visible more persistently?

Currently user's are often not aware that they have an item in their cart - and the notice about it displays inconsistently (only on some pages - Plans and Billing).

It would be interesting to investigate if a more permane

[2020-12-15 04:00] #48332 closed, assigned to nobody

[2020-12-15 04:26] jordesign opened #48335 "Checkout: Make it easier/clearer to remove existing items from the cart"
Currently users are required to click an 'Edit' link to make any changes to their cart. This results in a lot of confusion from users who want to remove items from their cart but feel unable to.

I know a lot of work has been done on the cart/checkout wording and flow - but am wondering if it is worth reviewing the user experience around changing/removing items from the cart?

[2020-12-15 04:44] jordesign opened #48336 "Checkout: 'Free domain for one year' shown even if user has already claimed it"
When upgrading to a higher paid plan - the plan features on the right include the item `Free domain for one year`. This is still shown even if the user has already used the free domain credit and is _no longer_ entitled to a free domain.

<img width="913" alt="Screen Shot 2020-12-15 at 3 30 36 pm" src="https://user-images.githubusercontent.com/1842363/102172149-538ebf00-3eec-11eb-9033-354ff0fc3b52

[2020-12-15 05:43] galakhyati commented on #44078
I have another instance of duplicate/copy of the Pay with PayPal block where the changes made to the copied block will make changes to the original block.

Ticket: 3575026-zen

Screencast of my test site: https://d.pr/v/SYrqO8/SFxbVzVsbj

[2020-12-15 05:47] lsl opened #48337 "Launch button and plugin icons need menu collapse on mobile"
The block editor navigation bar needs to collapse branding icons and extra buttons on mobile views.

Simple sites are fine in most cases, the problems arise when there are too many dynamic additions to the menu bar.

Examples I found:
- A8c icon (global styles?) + Jetpack icon + Launch button
- Draft save cloud icon
- Screen widths where the undo/redo actions aren't yet collapsed

<img src="https:

[2020-12-15 05:58] lsl opened #48338 "New Onboarding: Browser back button exits launch flow"
When clicking the browser back button instead of the "Go Back" navigation link during the launch flow post-gutenboarding you are taken back to the page you came from instead of back to the previous step.

This is likely a larger issue on android than it is on desktop or iphone.

[2020-12-15 06:06] lsl opened #48339 "New Onboarding: Launch prevented if you scroll up during checkout step on mobile"
On mobile, the "Launch your site" button on the final checkout step of the launch flow is impossible to click if you scroll up to review the checkout summary before submitting.

To work around this you can click "Go back" - [but not "Back"](https://github.com/Automattic/wp-calypso/issues/48338) - reselect your plan - and then click "Launch your site" without scrolling again.

### Got:
<img src="ht

[2020-12-15 06:14] lsl opened #48340 "Launch flow always starts at the begining on mobile"
On mobile, clicking "Launch" from the editor will always start the launch flow off at step 0, the "You're almost there" step.

This should likely be more in line with how desktop behaves, taking you to the last uncompleted step in the flow.

Instead, clicking "Get started" here will take you to step 1, name your site.

<img src="https://user-images.githubusercontent.com/811776/102177985-b6865300-3

[2020-12-15 06:17] lsl opened #48341 "New onboarding launch: Closing / reopening launch flow triggers incorrect error state"
When launching a new site, if you close the launch flow and then re-open it you'll be given an incorrect error on the domain step. Retyping / changing the domain step text will clear the error.

![Screen Shot 2020-12-15 at 16 03 24-fullpage](https://user-images.githubusercontent.com/811776/102178273-40362080-3ef9-11eb-9afb-6376b0ca422a.png)

[2020-12-15 06:26] lsl opened #48342 "New Onboarding Launch: Skip domain blocks final step"
If you clear the domain suggestion text and skip choosing a domain during the signup / launch flow a default domain suggestion won't be selected. The checkout step then fails.

This was potentially exposed by the recent fixes to enable site names without latin characters to get past the domain selection step by clearing the domain suggestion text.

<img src="https://user-images.githubusercontent.c

[2020-12-15 06:30] lsl opened #48343 "Instant launch flow error when site name is using non latin characters"
Creating a site with the name "테스트" is now possible after D54000-code but we need to replicate #48031 for the launch flow as it also auto searches the blog name resulting in an instant error when clicking through to the domain step of the launch process.

<img src="https://user-images.githubusercontent.com/811776/102179231-e7678780-3efa-11eb-99ea-2fa2272fa073.png" width="60%"/>

[2020-12-15 06:32] pauloeaquino opened #48344 "Quote Block: editor-styles-wrapper is not centered in the editor"
#### Steps to reproduce

1. Activate any block-based theme
2. Edit a page or post
3. Add a Quote Block into the editor

#### What I expected
I expected the block to be aligned in the middle of the page (just as all other blocks are positioned in the center by default)
![screenshot](https://d.pr/i/ZdfTme+)

Video: https://d.pr/v/hnsmHJ

#### What happened instead
The block is aligned to the far lef

[2020-12-15 07:11] razvanpapadopol commented on #48338
@lsl this is about the Post-Gutenboarding Launch flow, right? On `/new` browser back button should work fine on all devices.

[2020-12-15 07:21] jeyip commented on #48145
After lots of digging into api taxonomy query processing (great bedtime reading 😆 ), it turns out that an invalid taxonomy error was being swallowed. Long story short, the new `wp_theme` taxonomy, implemented [here](https://github.com/WordPress/gutenberg/pull/27016), wasn't being registered on time in a production environment.

[2020-12-15 07:22] jeyip commented on #48145
We can modify the timing of the taxonomy registration action [here](https://opengrok.a8c.com/source/xref/trunk/wp-content/mu-plugins/wpcom-gutenberg-load.php?r=218125#138-147)

[2020-12-15 09:03] frontdevde commented on #47040
Closed by https://github.com/Automattic/jetpack/pull/17828

[2020-12-15 09:03] #47040 closed

[2020-12-15 09:55] tjcafferkey commented on #47859
Note from Ollie:

"The accordion only works well when used with the feature picker".

[2020-12-15 10:20] iamgabrielma commented on #48055
I asked a few times but they just replied "the latest". ATM latest is `Version 87.0.4280.88 (Official Build) (x86_64)` , I couldn't reproduce this on my end.

[2020-12-15 10:28] tjcafferkey commented on #46854
@razvanpapadopol I might need your assistance with speccing this issue before I can move it to "Ready for development".

[2020-12-15 10:29] tjcafferkey commented on #46839
@razvanpapadopol when you get some time would you please be able to provide more information on how to implement this? Thanks!

[2020-12-15 11:28] david-szabo97 commented on #48148
Regenerated the templates for both 2021 and Seedlet. No more "No matching template found" error.

Font picker works fine on Seedlet but it still doesn't work on twenty-twentyone. Looks like the CSS variables altered by the font picker aren't used anywhere in 2021.

[2020-12-15 11:28] getdave opened #48349 "Update Nav Menus data layer schema to account for "count" property on parent and child"
_Originally posted by @getdave in https://github.com/Automattic/jetpack/issues/18063#issuecomment-745229008_

--------

Essentially we need to update [the data layer schema](https://github.com/Automattic/wp-calypso/blob/trunk/client/state/admin-menu/schema.js) to account for the new `count` property which has been added to parent and child nav menu items.

[2020-12-15 12:04] igotdes commented on #45837
Encountered a similar issue today in this chat: https://mc.a8c.com/support-stats/happychat/transcript.php?id=26350518

Example 1: https://stiksh.com/ksenwnas/
Example 2: https://stiksh.com/poe-try/

For example, on the Poe-try page, they have ~80 posts under that category, but only ~70 are loading.

[2020-12-15 12:49] tyxla commented on #24180
#48353 removes the `log-store` flux store 🎉

[2020-12-15 13:15] ciampo commented on #47782
Should we close this issue, since it's already been tracked in 2 separate sub-issues?

[2020-12-15 13:17] StefanNieuwenhuis commented on #47782
@tjcafferkey We were discussing exactly this :)
I think we can since this issue is adding a clogging layer of complexity to our project's board and doesn't add much.

[2020-12-15 13:35] razvanpapadopol commented on #47782
@StefanNieuwenhuis
I've kept here just the parts that are not already handled somewhere else.

You can remove this from #48166 to un-block that one and ship the Launch Site error handling sooner.

[2020-12-15 13:39] tjcafferkey commented on #47782
Yep in theory if a parent issues contains "sub tasks" that can be worked on independently then these should be tracked as separate issues and the "parent" issue should be closed as it then becomes redundant.

This prevents parent issues lingering in "In progress" for too long and accurately represents the work completed as we can close the independent (sub) issues as work gets completed.

Also if

[2020-12-15 13:49] razvanpapadopol commented on #48048
@tjcafferkey should we close this one now that https://github.com/Automattic/wp-calypso/issues/48047 is updated with latest decision on this?

[2020-12-15 13:56] ockham commented on #47935
Should be fixed per D53975-code which upgraded WP.com to Gutenberg 9.5.2. (Announcement post: p7DVsv-a06-p2)

[2020-12-15 13:56] #47935 closed, assigned to nobody

[2020-12-15 14:00] razvanpapadopol commented on #48165
@StefanNieuwenhuis, **Unhandled scenario 2** should be moved to a separate issue `New Onboarding Launch - error handling` and added to the backlog of https://github.com/orgs/Automattic/projects/127

During the Focused Launch flow, this is how **Plan Details View** looks when site data fails to load:
<img width="1104" alt="Screenshot 2020-12-15 at 15 58 19" src="https://user-images.githubuserconten

[2020-12-15 14:05] tjcafferkey commented on #48048
@razvanpapadopol this one is slightly different, perhaps I've worded it wrong. Basically the one you've referenced (https://github.com/Automattic/wp-calypso/issues/48047) covers the edge case of the cart items.

This issue is to look at refactoring the logic for the linear flow so that we can re-order the steps of the summary items without changing any logic around highlighting.

E.g. currently we

[2020-12-15 14:14] razvanpapadopol commented on #48048
Let's first confirm with @ollierozdarz if re-ordering non-disabled steps in the UI is a possible solution.

Until now, the only rule we have is that previously purchased items (domain and plan) are displayed greyed out at the top.

[2020-12-15 14:17] tjcafferkey commented on #48048
Yeah that's fine that is why it's marked as "Normal" priority although should may be changed to "Low" as currently there are no plans (that I'm aware of) to change the order.

[2020-12-15 14:39] davemart-in commented on #48315
Can we double check and verify this please @cpapazoglou and @folletto?

At a bare minimum, let's ensure that nothing is leaking through.

[2020-12-15 14:42] folletto commented on #48315
Yes, that's what I meant when I said "I'll cross check" above: I pinged our Voyager team for review, @rcanepa already replied above and is looking into it.

[2020-12-15 14:48] fditrapani commented on #48334
Thanks for creating this issue @jordesign. I'm adding it to the Shilling backlog for prioritization. As I mentioned in my P2 comment, this will likely need to wait for the new nav to launch before we can implement anything.

[2020-12-15 14:50] fditrapani commented on #48335
I mentioned this on p2 but I suspect this will likely get dealt with once we implement a global cart (https://github.com/Automattic/wp-calypso/issues/48334) and fix any issues related to the cart not being emptied after purchases complete.

[2020-12-15 14:58] flootr commented on #42490
@sgomes fyi I'm self-assigning this because I started working on removing `lib/user-settings` as part of the reduxification efforts (#24162) and will also tackle this one as part of the work there.

[2020-12-15 15:05] sgomes commented on #42490
Sweet, thank you @flootr! 👍

[2020-12-15 15:41] ciampo opened #48361 "Unexpected redirection to /new at the end of /start site creation flow"
#### Steps to reproduce

1. Navigate to `/start/domains`
2. Go through the flow — select a domain and a plan
3. Instead of completing the flow, the page is redirected to `/new`

#### What I expected

The user should be able to complete the control site creation flow (`/start/domains`)

#### What happened instead

The user gets redirected to New Onboarding flow

#### Browser / OS version

N/A

####

[2020-12-15 15:42] ciampo commented on #48361
Note: logged issue as originally reported. So far I haven't been able to reproduce it

[2020-12-15 15:59] Addison-Stavlo commented on #48276
Im wondering if this is related to the `layout-grid` stuff also effecting https://github.com/Automattic/wp-calypso/issues/48149 ?   If this is an image taken from the site editor, that would make sense.

[2020-12-15 16:01] tjcafferkey commented on #47762
This issue is blocking https://github.com/Automattic/wp-calypso/issues/47372 because we need to get Calypso URL to pass it to the `source` param of the "Use a domain I own" flow in the component.

[2020-12-15 16:08] michaeldcain commented on #48322
- [x] Jetpack change: Automattic/jetpack#18093
- [x] Backend diff: D54302-code
- [x] Fallback data edit: https://github.com/Automattic/wp-calypso/pull/47465/commits/8d37ca1c32d9ade9a6a46b66a0dfc261dd3d6f83

[2020-12-15 16:08] rcanepa commented on #48315
This is correct. We had to create different components since both the sidebar and the masterbar work and look different in cloud.jetpack.com than in WordPress.com. However, both apps rely on the same layout components under the hood. Basically, what we created are wrapper components.

**Sidebar**

Each app uses a different component that wraps the `Sidebar` layout component located at [`client/lay

[2020-12-15 16:17] cathymcbride commented on #48055
I repro on my AT site in Chrome (latest) & Firefox, in the editor _only_. I don't _think_ this is browser related, as when I compare a private youtube and public youtube link in the code editor, the public one appears to be the youtube embed type and the private one is "rich"?
Leaving on the janitor board for the moment.

[2020-12-15 16:25] kspilarski commented on #46664
Reported in 3576780-zd.

[2020-12-15 16:27] #48027 closed, assigned to mattsherman

[2020-12-15 16:41] ciampo commented on #48361
Update: managed to reproduce it. It looks like, at least on my local machine, the redirection to `/new` happens when the flow navigates to the `secure-your-brand` step

![Screenshot 2020-12-15 at 17 39 34](https://user-images.githubusercontent.com/1083581/102244583-c43dd780-3efc-11eb-89af-ec63f554f68c.png)

[2020-12-15 16:59] flootr commented on #24162
In order to remove `lib/user-settings` we have to uncouple a few things. First step is to create a `withFormBase` hoc and replace the `formBase` mixin with it. https://github.com/Automattic/wp-calypso/pull/48366 takes care of that.

[2020-12-15 17:00] davemart-in commented on #48315
Thanks for clarifying @rcanepa!

@obenland and I discussed this during our 1:1 yesterday. We'll:

A) Ensure that there are no visual regressions as a result of the nav unification work
B) Dig in to see what it will take to ensure that Calypso Green doesn't fall behind

[2020-12-15 17:17] razvanpapadopol commented on #48361
Looks like the users get redirected from to `/start/secure-your-brand` to `/start` and it's just a coincidence that for EN, if logged in, we are then redirecting them to `/new`. @ciampo could you reproduce in another language as well?

I see the code for this campaign has been added in #46078 but then the test has been stopped in #48208.

From the described behavior it seems like some code in the

[2020-12-15 17:26] rickybanister opened #48367 "Color schemes: add space between nudge and first sidebar nav item"
The current sidebar places the nudge and the next nav item adjacent to each other resulting in something like this while viewing customer home:

<img width="375" alt="Screen Shot 2020-12-15 at 12 14 34 PM" src="https://user-images.githubusercontent.com/437258/102249734-ad818b80-3ed0-11eb-9f98-c96dadec2179.png">

We either need more colors to differentiate the selected nav item from the nudge's lef

[2020-12-15 17:30] rickybanister opened #48368 "Color schemes: button component hover styles"
The hover state of buttons using the 'modern' color scheme appears to be different than the hover color in core:

Calypso:
<img width="1569" alt="Screen Shot 2020-12-15 at 12 16 46 PM" src="https://user-images.githubusercontent.com/437258/102250039-0d783200-3ed1-11eb-81cc-90f4fdf9945e.png">
`--color-accent-60`

Core:
![image](https://user-images.githubusercontent.com/437258/102250196-40222a80-3ed1

[2020-12-15 17:48] #48013 closed, assigned to nbloomf

[2020-12-15 17:59] #48156 closed, assigned to moon0326

[2020-12-15 17:59] #48157 closed, assigned to moon0326

[2020-12-15 17:59] #48158 closed, assigned to moon0326

[2020-12-15 17:59] #48159 closed, assigned to moon0326

[2020-12-15 17:59] #48160 closed, assigned to ilyasfoo

[2020-12-15 17:59] ciampo commented on #48361
Update: It looks like I was able to reproduce this issue by "accident" — I was checking out PR #48112 and I came across this bug. Looking at that PR, it was opened before #48208 got merged. **After pulling the latest code changes from `trunk`, I'm again _not_ able to reproduce the bug.**

This makes sense, considering that the bug reports were filed 5 days ago, at this point very likely before #48

[2020-12-15 18:13] #48012 closed, assigned to nbloomf

[2020-12-15 18:27] joanrho opened #48370 "New Page Layout Modal: fix modal close icon and return destinations"
We alternate displaying a “back” icon `<`  or “close” icon `x` from our current new page layout modal.

<img width="1966" alt="Screen Shot 2020-12-15 at 11 08 21 AM" src="https://user-images.githubusercontent.com/204742/102254495-e6683300-3ec5-11eb-8b5d-45c1b7a874a7.png">

This modal can be accessed from one of our three "Create a new page" entry points (screenshot below):

1. the “Add new page” l

[2020-12-15 18:27] #48011 closed, assigned to nobody

[2020-12-15 18:38] mattsherman opened #48372 "Store|Woo: Add tests for WooCommerce menu item"
This is a followup to #48027

We should add automated testing for the WooCommerce menu item added in #48027.

Ideally, we would:

- Verify that the "WooCommerce" menu item does not appear if the `woocommerce/store-deprecated` flag is `false`
- When `woocommerce/store-deprecated` is `true`
    - Verify that the "WooCommerce" menu item does not appear for a site with the Personal plan
    - Verify t

[2020-12-15 18:44] mattsherman opened #48373 "Store|Woo: Show tooltip on Store menu item when Store is deprecated"
From https://github.com/Automattic/wp-calypso/issues/48027#issuecomment-740352091...

When Store is deprecated for Business plan sites (feature flag: `woocommerce/store-deprecated` is `true`), a tooltip should be shown in the sidebar navigation:

![](https://user-images.githubusercontent.com/5121465/101436277-7a893780-38d3-11eb-9048-3c64bda461a7.png)

Acceptance criteria:
- When Store is not depre

[2020-12-15 18:45] mattsherman commented on #48027
I've split this into a separate issue (https://github.com/Automattic/wp-calypso/issues/48373)

[2020-12-15 18:47] mattsherman commented on #48373
Duplicate of #48200 -- closing this one.

[2020-12-15 18:47] #48373 closed

[2020-12-15 19:08] mattsherman commented on #48027
I think that SVG will work -- thanks!

I think that ideally, when the experience is the same in the Business and eCommerce plans, it should be labelled and presented the same. Having the same thing labelled differently is confusing, especially in the case where a site starts off on the Business plan and then upgrades to the eCommerce plan (not sure how often that happens, though).

Whether it is l

[2020-12-15 19:23] #46822 closed

[2020-12-15 19:51] ianstewart opened #48376 "Horizon Site Editor: Site no longer correctly loading templates/parts"
This site created in the Horizon-based Gutenboarding flow is no longer correctly loading template parts.

https://twentytwentyonestarterdesign.wordpress.com/

![image](https://user-images.githubusercontent.com/545779/102265078-2803d880-3edc-11eb-8958-b7e87dc29526.png)

### Debugging notes

I cannot reproduce this issue when creating new sites in the same Horizon flow so I don't believe this to be

[2020-12-15 20:01] elizaan36 commented on #48027
This feels like a question that's beyond UX. More around the messaging/branding of Woo within WPCOM. cc @pmcpinto or @claraclee if you have thoughts here.

[2020-12-15 20:13] jeyip commented on #48145
D54315-code should fix the incorrect theme taxonomy registration
https://github.com/WordPress/gutenberg/pull/27633 should fix querying template parts by the incorrect theme slug

[2020-12-15 20:45] benchilcote opened #48378 "Paragraph block: When $ is used on FSE Simple Sites, text disappears when reopened in editor"
#### Steps to reproduce

1. On an FSE simple site (using Maywood theme) create a new page
2. Add paragraph block
3. Add a price (ex: $100) at the beginning of a line
4. Publish the page and exit the editor
5. Open the page again in the editor

#### What I expected

$100 would still be present in the paragraph block

#### What happened instead

"$10" is removed and we are left with only "0".  It se

[2020-12-15 20:49] ianstewart opened #48381 "Signup: Add two Starter Designs"
We've created two new Starter Design sites that can be added to the Design Screen in signup.

1. https://pollardstarter.wordpress.com/
2. https://balanstarter.wordpress.com/

There are a few themes issues surfaced by these Starter Designs that would be good to get closed before these are added to the design screen in signup.

- https://github.com/Automattic/themes/issues/2896
- https://github.com/

[2020-12-15 21:09] ockham opened #48382 "Gutenberg: Update install script to work with `svn copy` (if necessary)"
@Automattic/good-mountain have updated our install process and corresponding Field Guide instructions (PCYsg-m14-p2) to make it `svn copy` based:

1. We first `svn copy` the previous plugin version folder to the next one.
2. We then replace it by the chosen Gutenberg plugin version (could come from a committish, too)
3. We `svn add` and `svn rm` files that have been added and removed, respectively

[2020-12-15 21:19] ockham opened #48383 "Gutenberg: Update install script to fetch pre-built plugin zips, if possible"
Gutenberg now [generates](https://github.com/WordPress/gutenberg/pull/26746) a pre-built plugin zip for each PR, and attaches it as a build artifact. OTOH, our Gutenberg plugin install script on WP.com is able to fetch any committish reference in the Gutenberg repo, such as tags, branch names, or commits, and build it from source.

It would be cool if the script would check if it's given a branch

[2020-12-15 21:32] timmyc commented on #48029
@moon0326 I think we'll just use the existing "Store" documentation page and update it with the new content at the start of the sunset period: https://wordpress.com/support/store/

[2020-12-15 21:33] timmyc commented on #48026
Latest designs look great to me @elizaan36

[2020-12-15 22:06] ianstewart commented on #47386
It appears to have taken on a new form that is looking broken on mobile in a new way now.

![image](https://user-images.githubusercontent.com/545779/102278530-9c944280-3eef-11eb-9584-f378beac38b7.png)

[2020-12-15 22:11] isocialtish commented on #47247
Reported in 26367330-HC

In Chrome, the user's Footer links overlap on a section of the page
<img width="1214" alt="Screen Shot 2020-12-15 at 12 03 06" src="https://user-images.githubusercontent.com/6664819/102278888-64850380-3edf-11eb-9816-27ddbf4ad67e.png">

User is using the Alves theme

As a workaround, I copied each block and pasted it above the Layout Grid block, recreating their same layout

[2020-12-15 23:59] moon0326 commented on #48029
@timmyc Thank you 👍 I will use that link for now.

[2020-12-16 00:12] eoinsav commented on #45607
Same user is back again: #26368941-hc

[2020-12-16 00:52] moon0326 commented on #48026
Thank you @elizaan36 and @timmyc. I'm gonna start working on this ticket and https://github.com/automattic/wp-calypso/issues/48029 with the latest design for now.

[2020-12-16 01:47] scosgro opened #48392 "Mailchimp Block Button cannot be centered on old themes. Styling broken on newest themes."
#### Steps to reproduce

1. Add a Mailchimp Block to a page, click on the button, and center it. Publish the page.
2. Activate an older theme (pre-Gutenberg). For example: Prosperity, Colinear, Revelar, Canape, Venture, Veggie, Appetite, Maisha, etc...
3. Refresh the page. The button will not be centered.
![image](https://user-images.githubusercontent.com/30731356/101844853-37f97200-3b02-11eb-81df

[2020-12-16 01:48] moon0326 opened #48393 "Store|Woo: Add "store is moving.." notice on store pages"
Originally posted by @elizaan36 in https://github.com/automattic/wp-calypso/issues/48026#issuecomment-744747578

Add "Store is moving to WooCommerce" notice on the store pages -- Products, Orders, Promotions, Reviews, and Settings.

![](https://user-images.githubusercontent.com/5121465/102142176-93d83980-3e27-11eb-821a-a0f8d0899530.png)

`Notice` component can be used.

[code]

[2020-12-16 03:30] roo2 commented on #42148
@tjcafferkey @simison @yansern   I've raised https://github.com/Automattic/block-experiments/pull/161 which is a potential solution to allow the editor to work intuitively for mobile and still support the current preview mode

[2020-12-16 04:02] katiebethbrown commented on #47355
Another report in 25965876-hc

I can also replicate the issue on a test site. Entering text in the `Website` field of the comment form that has a space will break the comments page display with the error `TypeError: URL constructor: https://wordswitha%20spaceinthemiddle.com is not a valid URL.`

The comments are still manageable via wp-admin. Removing the offending comment from wp-admin will resto

[2020-12-16 04:59] #48196 closed, assigned to nobody

[2020-12-16 06:46] lsl commented on #23126
@dlind1 dropped this in your roadmap / new column as I don't think we'll get to this anytime soon and I'm trying to close out #37665.

Feel free to drop it back into Ganon's project board if you don't think you can prioritize this any time soon.

[2020-12-16 07:03] lsl commented on #39493
@dlind1 would global want to take over this one too? I'm guessing this functionality needs to be copied over to packages/i18n-utils, the functionality should work relatively the same way now that gutenboarding / etk is on react-i18n translation infra.

[2020-12-16 07:19] lsl commented on #48338
Must have been, can't repro with /new now, guessing I got mixed up where I was testing from.

[2020-12-16 08:40] #24129 closed

[2020-12-16 09:25] StefanNieuwenhuis opened #48401 "New Onboarding Launch - error handling"
#### What's going on?
During the Post-Gutenboarding Launch flow, this is how **Select a plan** step looks when site data fails to load:

<img width="784" alt="Screenshot 2020-12-11 at 14 18 39" src="https://user-images.githubusercontent.com/12104589/101908197-00e79700-3bbc-11eb-9c7d-183825d82e3d.png">

The user is stuck and doesn't know what is going on. In order to solve this, we need to update t

[2020-12-16 09:26] StefanNieuwenhuis commented on #48165
Done. See #48401

[2020-12-16 10:35] scruffian commented on #48392
This block lives in [Jetpack](https://github.com/Automattic/jetpack) so it probably should be logged there, sorry for the confusion.

[2020-12-16 10:37] tyxla commented on #24217
This legacy store has been removed in https://github.com/Automattic/wp-calypso/pull/48066, kudos to @sirbrillig 🙌

[2020-12-16 10:37] #24217 closed

[2020-12-16 10:47] ciampo commented on #48361
Did some further testing on production (non-proxied):

- Locale: `en`, free plan: Could not reproduce
- Locale: `it`, free plan: Could not reproduce
- Locale: `en`, premium plan (including checkout): Could not reproduce
- Locale: `it`, premium plan (including checkout): Could not reproduce
- From logged out, locale: `en`, free plan: Could not reproduce

I'm going to assume that this issue was fixe

[2020-12-16 10:47] #48361 closed, assigned to nobody

[2020-12-16 10:48] david-szabo97 commented on #45454
Fixed by 27648-gh-WordPress/gutenberg

Keep issue open till it's released on WPcom

[2020-12-16 11:02] ciampo opened #48403 "Radio buttons in "Cancel Purchase form" are not grouped in radio groups"
#### Steps to reproduce

1. Create a site with any paid plan
2. Visit `/me/purchases`
3. Select the plan that was purchased at point 1
4. Click on the "Remove WordPress.com [plan]" (last item in the page)
5. A dialog asking for the cancel reason appears, with two questions that can be answered by selecting a radio input

#### What I expected

The radio inputs for each question should be part of th

[2020-12-16 11:32] tyxla opened #48404 "Reduxify: Account password data"
A simple `EventEmitter` store with a single usage ([source](https://github.com/Automattic/wp-calypso/blob/9c6883023ed216a74bd82fdf29f04409a381aa8f/client/lib/account-password-data/index.js)).

FWIW, alternatively, it can also be refactored to use component state and not rely on Redux.

[2020-12-16 11:36] tyxla opened #48405 "Reduxify: FollowList and FollowListSite"
A couple of simple `EventEmitter` stores that should be relatively straightforward to port ([source](https://github.com/Automattic/wp-calypso/blob/4537033c6794449ce0a10b69d72daf5fa658d553/client/lib/follow-list/index.js)).

SInce they have a single usage in Stats, we might as well use component state and lifecycle instead of Redux.

[2020-12-16 11:41] tyxla opened #48406 "Reduxify: Products list"
A simple `EventEmitter` store used to retrieve data ([source](https://github.com/Automattic/wp-calypso/blob/cb0f38727a9fcd5b71d8d39734309775a59d571a/client/lib/products-list/index.js)).

Used in the Cart store (see #24019).

Should be relatively straightforward, as it already has been ported to Redux (see the `products-list` state tree) and the remaining work should be a matter of replacing the ol

[2020-12-16 11:50] tyxla opened #48407 "Reduxify: Form state store"
One of the stores available to manage form state ([source](https://github.com/Automattic/wp-calypso/blob/cb0f38727a9fcd5b71d8d39734309775a59d571a/client/lib/form-state/store/index.js)).

[2020-12-16 11:51] tyxla opened #48408 "Reduxify: Notices"
This `EventEmitter` store is used quite a bit in Calypso (48 occurrences at this time) for managing global notices ([source](https://github.com/Automattic/wp-calypso/blob/80f83f1f644748540ea07644f95dc583de38e19b/client/notices/index.js)).

We already have a working (and quite well adopted) Redux implementation, so to get away from the `EventEmitter` implementation, we have to port every usage to u

[2020-12-16 12:02] tyxla opened #48409 "Reduxify: Two step authorization"
An `EventEmitter` store that manages various state related to two step authorization ([source](https://github.com/Automattic/wp-calypso/blob/cb0f38727a9fcd5b71d8d39734309775a59d571a/client/lib/two-step-authorization/index.js)).

While it could make sense for it to be refactored to Redux, it could mostly also be baked into the consumer components and used with the component lifecycle and async meth

[2020-12-16 12:37] razvanpapadopol opened #48410 "Focused Launch: purchased domain name is not displayed"
#### Steps to reproduce

1. Create a site using `/start` flow and purchase a domain.
2. Go to `wordpress.com/page/SITE_ID.wordpress.com/home?flags=create/focused-launch-flow`.
3. Open Focused Launch flow by clicking _Launch_ button.

#### What I expected
Purchased domain name to show up as the label in the _Your Domain_ read-only step in Focused Launch.

#### What happened instead
Existing registe

[2020-12-16 14:45] pmcpinto commented on #48026
@elizaan36 @claraclee

I have a couple of questions about the copy:
- The store UI mentions "Powered by WooCommerce" in some places, so I'm wondering if the headline "Store is moving to WooCommerce" is going to confuse users. I'm thinking that maybe it could be more compelling to focus on something like "have access to all the WooCommerce features and customization".
- Same in the description
- I

[2020-12-16 14:50] pmcpinto commented on #48027
I'd go with WooCommerce:
- We mention "powered by Woo" in several places, our inbox notifications talk about WooCommerce...
- About 70-80% of eCommerce plan customers use Woo through wp-admin, so they're already used to the Woo branding in the menu.
- We want them to purchase extensions in the Woo marketplace instead of going to other places. The branding connection between the product and the mar

[2020-12-16 15:26] cathymcbride commented on #47355
Way to repro @katiebethbrown ! I'll update the title to reflect your findings!

[2020-12-16 16:01] #48372 closed, assigned to mattsherman

[2020-12-16 16:19] ccwalburn opened #48418 "Manage Purchases: Change Link for Backups when disabling AT site autorenew"
When a user disables the autorenewal for an AT site, a button displays for the user to download a current backup. It looks like that button directs the user to **WP Admin -> Tools -> Export**. It seems like it would be better if it directed the user to the Jetpack backup at **Jetpack -> Backups** instead so they could get a full backup.

https://github.com/Automattic/wp-calypso/blob/61acc957638fc7

[2020-12-16 16:38] sirbrillig opened #48419 "Add e2e tests for payment management"
It would be good to have some e2e tests (maybe even some canary tests) for the payments management screens. At least the purchases list would be good to verify.

[2020-12-16 16:51] pmcpinto opened #48420 "Store|Woo: Provide additional guidance once a Store customer starts using Woo Core"
**User story:**
As a Store user
I want to easily access information about the Core interface once I transition from the old UI
So I can easily get adjusted to the new ui without going back to get more information

**Description:** we should make sure that we welcome the user when he arrives at the Core home screen and that he can easily access the support docs without going back to the Store UI

*

[2020-12-16 16:51] pmcpinto commented on #48420
cc @elizaan36 @becdetat

[2020-12-16 16:53] sirbrillig opened #48421 "Remove inline Woo shipping labels payment management if it is unused"
The `AddCardDialog` component in WooCommerce _might_ be unused. I am unable to find a way to test it. It seems that it may have at some point been replaced with a redirect to calypso's payment management pages, but the old code remains.

If I create a Woo Store and then click through to shipping labels and add a credit card, I'm redirected to calypso, not this dialog.

The recent payments manageme

[2020-12-16 17:02] sirbrillig commented on #46777
This may have been fixed by https://github.com/Automattic/wp-calypso/pull/48320 since special characters will now be converted to Latin characters automatically (as they were in old checkout). IIRC our registrars require Latin characters, which is why this error exists in the first place. Can anyone confirm that this is still happening?

[2020-12-16 17:15] pmcpinto opened #48423 "Store|Woo: automatically redirect new users to the Core UI"
**User story:**
As a new Store user
I want to be automatically redirected to the new UI
So I don't need to spend time learning to work with a UI that's going to be removed

**Description:** new US/CA business customers that click on the Store/WOO menu item for the first time should be automatically redirected to the Core UI setup journey, once we start sunsetting the store experience.

**Acceptanc

[2020-12-16 17:16] pmcpinto commented on #48423
cc @elizaan36 @becdetat

[2020-12-16 17:17] sirbrillig commented on #24019
I've been working on this over the past several months, specifically by replacing `CartData` and `CartStore` with `ShoppingCartProvider` and `withShoppingCart`/`useShoppingCart`.

A few recent pieces:

- https://github.com/Automattic/wp-calypso/pull/48202
- https://github.com/Automattic/wp-calypso/pull/47970
- https://github.com/Automattic/wp-calypso/pull/47605
- https://github.com/Automattic/wp-c

[2020-12-16 17:22] daria2303 commented on #32007
The issue appeared again and persists for the third day now:
HC: https://mc.a8c.com/support-stats/happychat/transcript.php?id=26219396
ZD: https://woothemes.zendesk.com/agent/tickets/3579800

[2020-12-16 18:13] sixhours commented on #47386
It's broken in Chrome, too:
<img width="381" alt="Screen Shot 2020-12-16 at 1 13 13 PM" src="https://user-images.githubusercontent.com/2124984/102388966-7f6b7c80-3fa0-11eb-9264-187eaa343bb8.png">

[2020-12-16 18:24] mattsherman opened #48424 "Store|Woo: Hide deprecated Store menu item for Business plan sites that have never used Store"
If a site is created with the Business plan (or an existing site upgrades to the Business plan), and has never used Store, after the Store has been deprecated, the Store menu item in the My Sites sidebar should not be shown. Only the new WooCommerce menu item should be available.

From pbIJXs-sE-p2:

Acceptance criteria:

- A site with a Business plan subscription after Store is deprecated must no

[2020-12-16 18:39] sixhours commented on #47386
Looks like this may have been partially broken in D44873-code where we're setting 54px of left padding on the admin container to accommodate the hamburger menu in the editor on mobile.

But I don't see a hamburger menu on mobile in the editor any more, nor do I see the admin bar (although there are plenty of layout problems in the editor toolbar on mobile...):

Atomic
<img width="328" alt="Screen

[2020-12-16 18:51] fullofcaffeine opened #48426 "Gutenberg: 9.6.x Plugin Upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/47881

### Process

- [x] Install and activate
  - [x] Copy 9.5.2 to 9.6.0 (D54393-code)
  - [x] Install 9.6.0 RC1 on simple sites (D54396-code)
  - [x] Activate 9.6.0 RC1 on edge sites (D54397-code)
  - [x] Copy 9.6.0 to 9.6.1 (D54745-code) _(ended up not being activated as 9.6.2 was release shortly thereafter)_
  - [x] Copy 9.6.0

[2020-12-16 18:52] fullofcaffeine commented on #47881
This is done. Next one: https://github.com/Automattic/wp-calypso/issues/48426.

[2020-12-16 18:52] #47881 closed, assigned to nobody

[2020-12-16 19:05] scinos commented on #23348
This is not relevant anymore since we move to `yarn`.

[2020-12-16 19:05] #23348 closed

[2020-12-16 19:06] scinos commented on #43076
We already did this.

[2020-12-16 19:06] #43076 closed

[2020-12-16 19:33] #47290 closed

[2020-12-16 20:08] cathymcbride commented on #48092
@sandymcfadden are you still able to repro? I'm not reproing, and this should have been addressed by https://github.com/WordPress/gutenberg/pull/27445 which would be in GB 9.5.1

[2020-12-16 20:17] cathymcbride commented on #48378
@benchilcote can you repro with any other themes? Or just maywood?

[2020-12-16 20:37] mattsherman commented on #48423
Thanks for this story... I was going to the PT right now to ask about how this should be handled! 🙌

What should happen with non-US/CA business customers?

[2020-12-16 20:48] cathymcbride commented on #48287
Likely the same as https://github.com/Automattic/wp-calypso/issues/26287

[2020-12-16 21:00] mattsherman commented on #48424
How do we determine if Store has been used?

- The simplest solution might be to just check if the WooCommerce plugin is activated
    - If it is, then they likely (tried to) use Store, so should still show it.
    - If it isn't, then they definitely never used Store (at least, they never got through installing plugins), so should not show it. This is the case both for brand new Business sites cre

[2020-12-16 22:09] vindl commented on #48148
@kjellr @scruffian is this a known issue or should we create one in theme experiments repo?

[2020-12-16 22:11] sirbrillig opened #48432 "Payment Methods: allow adding a new card from the Update Payment Method page"

[2020-12-16 22:11] vindl commented on #48148
Closing since this has been resolved on Dotcom and remaining work needs a separate issue in theme's repo.

[2020-12-16 22:11] #48148 closed, assigned to david-szabo97

[2020-12-16 22:11] sirbrillig opened #48433 "Payment Methods: Add notice about the current payment method when it's not available to select on the Update Payment Method page"
And highlight the method if special (expired or Paypal)

[2020-12-16 22:13] sirbrillig commented on #48432
Fixed by https://github.com/Automattic/wp-calypso/pull/48385

[2020-12-16 22:13] #48432 closed, assigned to nobody

[2020-12-17 00:48] becdetat commented on #48424
That would change the AC to:

- A site with WC activated should show the store link during the sunset period
- A site without WC activated should *not* show the store link during the sunset period

Correct?

But isn't that the same as already implemented?

[2020-12-17 00:56] mattsherman commented on #48424
Yes, though "WC activated" is a bit of a technical detail.

No, it actually isn't. Currently what is implemented always shows the Store during the sunset period for a Business site, as long as it is Atomic. We haven't yet made any changes to the implementation of the Store menu item. This issue will be one such change. The other change will need to be in a future (at sunset? or, post sunset?), whe

[2020-12-17 01:07] ramonjd commented on #47775
I can't find evidence that this works at all

[2020-12-17 01:07] #47775 closed, assigned to nobody

[2020-12-17 01:08] gwensmithx commented on #47247
This seems to be related - I have a report of overlapping of elements on a customer's homepage and it appears to be related to the Cover Blocks.

#3580743-zd
#25758480-hc

I was able to fix this up by taking everything out of the Layout Grid and using Columns instead.

Screenshot:

<img width="1524" alt="Screen Shot 2020-12-16 at 6 02 20 PM" src="https://user-images.githubusercontent.com/5779512/1

[2020-12-17 01:28] becdetat commented on #48424
Ok I understand. Sounds good to me then :-)

[2020-12-17 03:33] benchilcote commented on #48378
Based on p7DVsv-7zo-p2#comment-24225, Maywood is the only theme on simple site that supports FSE.  So I was not able to test on another theme while on FSE.  Changing themes will disable FSE.

I tested this on a non-FSE simple site using Maywood and I could not reproduce the issue.

[2020-12-17 06:52] becdetat commented on #48420
I think inbox notifications are a good, relatively unobtrusive way to surface this info

[2020-12-17 08:53] #48314 closed, assigned to tjcafferkey

[2020-12-17 09:05] flootr commented on #24162
Removing `userSettings` for a bunch of route components in #48443 where it isn't used.

[2020-12-17 09:14] getdave opened #48444 "Add Visual Regression testing to e2e test suite for Nav Unification"
As the Nav Unification feature will be dependent on upstream to Menus in WordPress.org it would be prudent to have some automated tests to validate that layout/visuals don't change between WordPress.org releases.

To do this we should implement visual regression tests in the e2e test suite in Calypso.

A npm package exists for this

http://v4.webdriver.io/guide/services/visual-regression.html

The

[2020-12-17 09:23] ramonjd commented on #46656
I've updated the diff with some design changes and a light refactor

[2020-12-17 09:29] dromero20 opened #48446 "Payments block: Making the Subscribers management option more visible"
#### Steps to reproduce

1. Create a Payments Block and have some customers to subscribe to your services.
2. Go to the Subscribers page: https://wordpress.com/earn/payments/
3. The list of subscribers is there (this is okay) but the 3 dots to manage them are very faint and not visually nice.

<img width="1045" alt="Captura de pantalla 2020-12-17 a las 10 25 43" src="https://user-images.githubuser

[2020-12-17 10:20] WunderBart commented on #48275
CoBlocks v2.5.3 are now on `coblocks-edge` stickered sites. Reopening this one until they're in production as well.

[2020-12-17 11:34] pmcpinto commented on #48423
The Store UI is only available to US/CA customers. The non-US/CA users need to go to plugins, install WooCommerce, etc

It's tempting to use this opportunity to simplify the flow and increase the Woo distribution across non-US/CA users 😄 But in Jan we're going to review the Woo hosting strategy so at this point I think that we should keep it simple and just focus on users that can get the Store UI

[2020-12-17 11:39] liviopv commented on #47991
I was able to reproduce that with a few different non-latin characters:

![Screenshot](https://d.pr/i/aFy08K+)
Screenshot: https://d.pr/i/aFy08K

Page: P6VVUQ-yx-p2

User-report: #3551115-zen

[2020-12-17 11:42] pmcpinto commented on #48424
@mattsherman how do you make sure that we don't target customers that are using the Core WooCommerce UI with this approach?

[2020-12-17 13:08] david-szabo97 commented on #48145
New fix for incorrect theme slug: D54427-code

[2020-12-17 13:08] gaurav1984 commented on #48319
Similar issue reported with the WordPress.com app on macOS in 3500645-zen

**Every time they try to create a new post from the WordPress.com app, it opens up a browser window and asks them to log in for creating a post. While in the iPad or iPhone app we are able to create new posts directly from the app.**

The user in 3500645-zen is looking specifically for **the ability to offline edit posts on

[2020-12-17 13:48] #48336 closed, assigned to fditrapani

[2020-12-17 14:36] cpapazoglou commented on #47043
The link destination (calypso vs wp-admin) is now filterable
https://github.com/Automattic/jetpack/pull/18101/files
props to Obenland.

[2020-12-17 14:39] tyxla commented on #24180
#48453 reduxifies `PluginsBrowserListElement`

[2020-12-17 14:43] cathymcbride commented on #48378
Thank you @benchilcote! I realized only one theme was supported right after I sent this. 🤦🏻‍♀️ I've added this to the Create Gardners board.

[2020-12-17 14:55] flootr commented on #48404
Gonna do this as a follow up to https://github.com/Automattic/wp-calypso/pull/48454

[2020-12-17 15:13] fditrapani commented on #48433
I think this will look redundant since we select the current credit card on file — we should likely only show it if it's an expired card. I know we have it lined up for expired cards but based on how we handle credits, I believe this will go to the Add payment method screen if there isn't a valid credit card.

This might be something we want to circle back to after we get PayPal integrated.

[2020-12-17 15:19] fditrapani opened #48457 "Payment Methods: Update change payment method screen to accept credits + PayPal"
Our change payment method screen is currently very credit card specific and won't work for Credits or PayPal. We'll need to update it to accommodate for other payment methods and in the process can likely do away with our separate Add Payment Method screen.

[2020-12-17 15:34] rickybanister commented on #47043
I like the new grouping, good suggestion @lcollette. And nice work @sfougnier.

[2020-12-17 15:34] cathymcbride commented on #48325
I am able to repro when deleting from the editor. Closing https://github.com/Automattic/wp-calypso/issues/12434 in favor of this one.

[2020-12-17 15:35] cathymcbride commented on #12434
Closing in favor of https://github.com/Automattic/wp-calypso/issues/48325, which covers the specific path this is currently not working in.

[2020-12-17 15:35] #12434 closed

[2020-12-17 15:54] mattsherman commented on #48424
Business customers using the Core WooCommerce UI will have the new WooCommerce menu item available. And, eCommerce customers will continue to have the existing Store menu (that for them, goes to WooCommerce Core). I'll add acceptance criteria to make it clear that eCommerce customers should continue to have the Store menu.

[2020-12-17 15:56] fditrapani commented on #48457
I should note we have this logic in place that makes the change payment method screen only work for credit cards: https://github.com/Automattic/wp-calypso/blob/trunk/client/me/purchases/utils.js#L27

[2020-12-17 15:57] kjellr commented on #48148
Which variables are those? Twenty Twenty-One uses the default [global styles font family presets](https://developer.wordpress.org/block-editor/developers/themes/theme-json/#styles) to set its fonts.

[2020-12-17 16:47] pmcpinto commented on #48424
👍 thanks for the clarification

[2020-12-17 16:50] cathymcbride commented on #48392
Moving to JP repo.

[2020-12-17 16:55] bsessions85 commented on #48444
This package is actually for Webdriverio and we use WebdriverJS. Sounds the same but it isn't.

We used Applitools in the past, but I would try [Percy](https://percy.io/) this time around. Here is a package that should work with WebdriverJS - https://github.com/google/percy-node

[2020-12-17 16:58] nsakaimbo commented on #48319
Thanks for the report, @gaurav1984.

Does the user happen to have the Classic Editor plugin installed? If they are an Atomic/self-hosted user, they will also need to enable Single Sign On.

Regarding ability to edit posts offline - this feature request is on our radar, but we don't have plans to implement this any time soon. The Desktop application does not currently support offline editing.

[2020-12-17 17:40] rickybanister opened #48461 "Site stats: contextualize stats for private sites"
Private sites still collect and report stats, but they're slightly different than public sites.

I have a private site that I share with my partner and I'm often greeted with this card on Customer Home:

![image](https://user-images.githubusercontent.com/437258/102522680-8eb3fe00-4064-11eb-9575-8a344f72ac68.png)

We should think slightly about how we might show a better or more contextual message

[2020-12-17 18:29] cathymcbride opened #48463 "Copying post with video block results in "Block contains unexpected or invalid content" error"
#### Steps to reproduce

1. On a site with premium or above (or an internal P2)
2. upload a video to media library
3. start a new post
4. insert the video > Publish the post
5. return to https://wordpress.com/posts/my/<site>
6. click on the ... next to the post you just published > copy post

#### What I expected
post is copied, no errors

#### What happened instead
video block says "This post con

[2020-12-17 19:55] razvanpapadopol opened #48470 "Signup: Add new Tracks event when creating a site"
Fire `calypso_site_created` event when a new site has been successfully created with `/new` or `/start` flows. The event should contain at least the `flow` custom property.

Mentioned in 541-gh-Automattic/experimentation-platform

[2020-12-17 20:10] cathymcbride commented on #47117
I'm not reproing either, so I'm going to lower the priority of this. If we get more reports or a solid repro, we'll bump it back up.

[2020-12-17 20:52] gwensmithx commented on #47247
We might need to change the priority of this. It seems to be coming up more and more and it takes time to fix these pages.

#25904416-hc

Same issue as my previous post - there's Cover blocks in the Layout Grid. Simple site.

<img width="991" alt="Screen Shot 2020-12-17 at 1 51 04 PM" src="https://user-images.githubusercontent.com/5779512/102542444-0b4bda00-406f-11eb-9847-bff133399ec9.png">

[2020-12-17 21:54] #48457 closed, assigned to nobody

[2020-12-17 22:35] fullofcaffeine commented on #47839
I just found out that @deBhal is already taking care of this issue as part of https://github.com/Automattic/wp-calypso/pull/48164. It wouldn't make much sense to just add the `@parallel` tag in a separate PR given the spec is currently failing. @deBhal is also working on fixing the tests, so it makes sense to just wait for https://github.com/Automattic/wp-calypso/pull/48164 in order to close this

[2020-12-17 22:40] #48197 closed, assigned to razvanpapadopol

[2020-12-17 22:40] #48198 closed, assigned to razvanpapadopol

[2020-12-17 23:28] #46777 closed

[2020-12-17 23:37] fullofcaffeine commented on #48382
The installation script is currently not aware of the WordPress plugins directory (https://downloads.wordpress.org/plugin/). It tries to get all releases from GitHub. I don't think this would be a problem though, as the releases should be identical*. However, the script uses the tag name as is, so the `v` will be part of the dir name. If the previous version was svn copied over to a directory with

[2020-12-18 00:07] #48393 closed, assigned to moon0326

[2020-12-18 02:07] fullofcaffeine commented on #48382
WIP diff here: D54491-code

[2020-12-18 02:15] designsimply opened #48477 "Cannot edit Jetpack posts in Calypso if Single Sign-on (SSO) is off in Jetpack Settings"
#### Steps to reproduce

1. Go to /wp-admin/ for a Jetpack site and log in if prompted.
1. Go to WP Admin > Jetpack > Settings.
1. Disable everything in the "WordPress.com login" section (aka turn off SSO).
1. Clear browser cache.
1. Go to WordPress.com and log in as the Jetpack-connected user.
1. Go to My Sites > Site > Posts > Add new post.
1. Log in to the Jetpack site when prompted.
1. Observe

[2020-12-18 02:21] designsimply opened #48478 "Error during delay when opening the editor for a Jetpack post in Calypso with SSO on in Jetpack Settings and if logged out of WP Admin (Chrome only)"
#### Steps to reproduce

1. Go to /wp-admin/ for a Jetpack site and log in if prompted.
1. Go to WP Admin > Jetpack > Settings.
1. Enable the first setting in the "WordPress.com login" section (aka turn on SSO).
1. Clear browser cache.
1. Go to WordPress.com and log in as the Jetpack-connected user.
1. Go to My Sites > Posts > Add new post.
1. Observe an error and a delay happens before the editor

[2020-12-18 02:53] davipontesblog commented on #47117
@cathymcbride , @david-szabo97 - I don't know if it helps but if you have access, you can see this live in https://letslifechatcom.wordpress.com/wp-admin/post.php?post=30&action=edit. I just tried and I can repro as well. I thought maybe being able to repro on this site and checking the browser inspector may help identify the issue?

[2020-12-18 03:36] moon0326 opened #48479 "Store|Woo: Use 'translate' method for strings"
This is a supplement ticket for PR https://github.com/Automattic/wp-calypso/pull/48324

We intentionally removed the use of the `translate` function in the PR to avoid translators start working on it as the final copy might change.

Use `translate` function for any strings used in the PR.

The change should be made after confirming the final copy.

[2020-12-18 04:56] DavidRothstein commented on #48433
Following https://github.com/Automattic/wp-calypso/pull/48466, changing the payment method for an expired card now goes to the same screen as anything else.  The result is no payment method selected by default on that page, so we decided to try to do something here to help explain why.

We should still only show that extra info in the case where the current payment method isn't one of the ones tha

[2020-12-18 05:34] DavidRothstein commented on #48433
Since we decided to only show this information conditionally, I wonder if the Purchase Details section in the sidebar is really the best place for it after all.  (That area seems better suited for data that is always displayed.)

The purpose of this information is basically to explain to the user why no radio button is pre-selected, and they'll typically get here by coming from a page where the ex

[2020-12-18 06:48] trtmn opened #48649 "Jetpack search page from WP.com indicates a WP.com site, even when self-hosted"
#### Steps to reproduce the issue

1. login to wp.com
2. navigate to a self-hosted site
3. click on jetpack > search

#### What I expected
information about the search feature.

#### What happened instead
Observed: "Jetpack is a feature-rich plugin for WordPress sites. Because your site is hosted with us at WordPress.com, you already have access to most Jetpack’s features."

**Screenshots**
![imag

[2020-12-18 10:03] tyxla commented on #24180
#48480 ports a `recentlyUpdated` flag from Flux to Redux, and we have the following PRs to decouple plugins from sites and prepare plugin sites for reduxification: #48481, #48482, #48483, #48484, #48485.

[2020-12-18 13:30] #46776 closed

[2020-12-18 13:58] fditrapani commented on #48433
Yeah, that looks great! thanks for putting it together.

[2020-12-18 14:31] cpapazoglou opened #48490 "Nav Unification: Jetpack plans obscure the flyouts"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/plans/
2. Select a Jetpack Site
3. Resize browser to 1400px width
3. Hover a menu

#### What I expected
The flyouts being clearly visible

#### What happened instead
Main Pane covers the flyouts
![](https://cln.sh/wx4ZP8+)

#### Context / Source

[2020-12-18 14:44] mindgraffiti commented on #47807
@kwight this happens to our mobile users because the img tag does not contain size attributes, so the image view on the mobile apps explode to fit all available view space. There is another problem as well, where many of the `twemoji` are served up as `.svg` files. iOS doesn't support that file format, so WPiOS ends up displaying a large gray box.

[2020-12-18 15:48] marekhrabe commented on #47183
I have implemented a basic version of this in https://github.com/Automattic/jetpack/pull/18146

There is a caveat — I've chosen to send everybody to https://wordpress.com/start for now.

However, in Calypso, the logic is slightly different. As of today, all `en` and `en-gb` users OR users part of the experiment `new_onboarding_existing_users_non_en_v4` will be sent to Gutenboarding https://wordpre

[2020-12-18 15:51] #48132 closed, assigned to sirbrillig

[2020-12-18 15:53] ockham commented on #48382
I think that's fine for now -- we can consider that later. If we decide to check the WP.org plugin repo first and to attempt fetching releases from there, that's definitely something we would need to handle separately. Tackling both in a single patch would unnecessarily increase complexity, and would make reasoning and testing much harder :sweat_smile:

Looks like a footnote went missing here (bec

[2020-12-18 16:21] kwight commented on #47807
Are all emoji problematic, and all of them images? It seems to be one kind of emoji for web (Notice the mix here – the big one is an actual `img` lacking the same size constraints):

<img width="350" alt="Screen Shot 2020-12-18 at 8 15 16 AM" src="https://user-images.githubusercontent.com/349751/102636642-c1640200-4109-11eb-99b8-5b3f1a276635.png">

It sounds like that would be better tracked in a

[2020-12-18 16:55] obenland commented on #47183
@sfougnier How would you feel about adding a separator ahead of the link for some visual separation?

[2020-12-18 16:59] mindgraffiti opened #48498 "SVG images: Unsupported file format served to mobile"
iOS and Android devices do not have the ability to display `.svg` images natively. In the REST API response received by mobile devices, `.svg` files are often delivered to display `twemoji`. This is not limited to Comment Notifications only, but this is the area where it is most noticeable.

On WordPress iOS a gray box appears. On WordPress Android, we display nothing at all.

#### Steps to reprod

[2020-12-18 17:07] fullofcaffeine commented on #48382
@ockham Thanks for the feedback! :)

Ah yeah, apologies. I was going to point out that though while the releases should be the same, the final zip is slightly different depending on where you download them from:

The github plugin zip has the usual Gutenberg file/dir tree at its root:

[code]

The one from the WordPress plugin repository has the same files contained in an inner `gutenberg` dir at

[2020-12-18 17:22] obenland commented on #47183
This decision is a painful one. We decided to duplicate logic for the site card but simplify it for the site picker. As much as I want to avoid duplication, I think for this one I'm leaning towards it.

I'd be interested in @simison's thoughts here as well.

[2020-12-18 17:27] obenland commented on #45675
@cpapazoglou @frontdevde Can this one be closed now?

[2020-12-18 17:31] ghost commented on #47183
Like this? Sure!

<img width="1440" alt="desktop - calypso" src="https://user-images.githubusercontent.com/67021691/102643193-e4ec7400-412c-11eb-9818-3c922457c7d9.png">

[2020-12-18 17:45] simison commented on #47183
Hi! Can you check with Luna and Explat folks if this would intervene with any of the ongoing ab tests?

I don't think any of the logic in JS is useful written in PHP. Jetpack cloud isn't wp-admin thing and the rest is ab test stuff? If needed, you could do intermediate route in Calypso that handles the rerouting.

[2020-12-18 17:48] simison commented on #47183
Could you still route the English user locale traffic to /new? That should be simple check.

[2020-12-18 17:57] liviopv commented on #30252
Another #3551115-zen

[2020-12-18 17:58] ockham commented on #48382
I'm afraid it might :grimacing: On WP.com, we're currently loading `gutenberg.php` from the top-level directory; if it's wrapped in an additional `gutenberg/` folder, it'd break. So we'll have to account for that extra layer and remove it, if we add logic to fetch the plugin from the WP.org plugin repo. (Obstacles like these -- which can be hard to anticipate -- are one of the reasons why it's goo

[2020-12-18 18:06] cpapazoglou commented on #45675
I just added one last PR https://github.com/Automattic/jetpack/pull/18150 and we should revisit 554-gh-Automattic/wpcomsh

[2020-12-18 19:10] #48370 closed, assigned to nobody

[2020-12-18 19:30] razvanpapadopol commented on #47183
In https://github.com/Automattic/wp-calypso/pull/48350 we've added individual `ref` query params to every button that a user can use in Calypso to create a new site. So if you just use a different `ref` value when skipping the A/B test and directly linking to `/start`, we should be fine.

[2020-12-18 19:49] mindgraffiti commented on #47807
Are all emoji problematic, and all of them images?

Emoji are not problematic, but `twemoji` are. And only a subset of `twemoji` are appearing as `.svg` images. Some of them appear as `jpg` files, which can be displayed on mobile. Since there are no size constraints on the `<img>` tag, mobile defaults to the largest view size it can display them at, which is why the emoji appear oversized in our a

[2020-12-18 19:57] nsakaimbo commented on #48504
Update: we've done some testing and were able to verify that the current (x64) build of the application can run on Apple Silicon via Rosetta2 emulation. Howevery, auto-updating will likely fail as the translated application location is read-only ([ref](https://steipete.com/posts/apple-silicon-m1-a-developer-perspective/)).

[2020-12-18 20:40] ersatzpenguin commented on #47355
This came up again in 26437453-hc and I followed up with the user in 3585632-zen directing them to access comments in WP-Admin in the meantime.

[2020-12-18 20:50] rickybanister opened #48508 "Earn: adjust icon color variable so they adapt to color schemes"
<img width="1463" alt="Screen Shot 2020-12-18 at 3 49 54 PM" src="https://user-images.githubusercontent.com/437258/102660242-b67c9200-4148-11eb-9c0e-5d000da9dd8b.png">

The icons on the Earn landing page use a hard-coded color value from color studio. They should be `--color-primary` instead so they adapt to color schemes properly.

While in there it is worth doing a search for any other hard-code

[2020-12-18 20:56] rickybanister opened #48509 "Color schemes: form toggles have hard-coded colors"
Using the 'modern' color scheme I see that form toggles do not use the 'primary' color variable and instead maintain the default wpcom blue:

![image](https://user-images.githubusercontent.com/437258/102660748-8ed9f980-4149-11eb-8ca1-e4ff649f96b9.png)

I couldn't figure out where the color is applied, but it seems like it should be swapped for the primary variable instead of a specific color.

[2020-12-18 20:58] #47355 closed

[2020-12-18 21:01] AtrumGeost opened #48511 "Video block presents "attempt block recovery" error even after attempting block recovery"
#### Steps to reproduce

1. Create a new page and enter in Code Editor mode
2. Paste the code from this snippet: https://d.pr/n/65WlU3/zdCmtRnbLb
3. Exit the code editor and notice the "attempt block recovery" errors
4. Click on each button to attempt block recovery
5. Notice it seems to work
6. Reload the editor
7. Notice the block errors show up again

#### What I expected

For the "attempt bloc

[2020-12-18 21:27] sixhours commented on #48509
The colors for form toggles get set in the `@wordpress/components` package, so we'd probably want to do something like this in our stylesheets to override it:

[code]

<img width="1390" alt="Screen Shot 2020-12-18 at 4 26 21 PM" src="https://user-images.githubusercontent.com/2124984/102662992-f003cc00-414d-11eb-9b38-70902bcfc576.png">
<img width="1396" alt="Screen Shot 2020-12-18 at 4 26 39 PM" sr

[2020-12-18 21:31] rickybanister commented on #48509
I think this is completely unrelated to your css, but why is it possible for a parent toggle to be off, but the children are on+disabled?

I think we have a regression somewhere? The children should be in the off-state and disabled in the above examples, no?

[2020-12-18 21:36] sixhours commented on #48509
Good question, I'm not entirely sure. @jeherve Do you know offhand, since this is a Jetpack settings screen, why the parent toggle could be off but the children could be on?

[2020-12-18 23:06] designsimply opened #48517 "Desktop App: "Included with your purchase" section never appears in the cart when purchasing a plan"
Steps to reproduce:

1. Open the Desktop App, log in, open a free site.
1. Go to Plans > Business site and online stores > eCommerce > Upgrade.
1. Observe that no info ever appears under the Included with your purchase" section at top right. ([1m11s](https://cloudup.com/chN2QvgBxAe))

<img src="https://user-images.githubusercontent.com/1119271/102668926-73bbb980-414a-11eb-9750-136dabc9701d.png" wi

[2020-12-18 23:37] #48382 closed, assigned to fullofcaffeine

[2020-12-18 23:38] fullofcaffeine commented on #48382
There's a follow-up issue to simplify the script, see the last comment D54491-code.

[2020-12-18 23:43] designsimply commented on #33630
Re-tested and confirmed as part of WPDesktop 6.7.0-beta2 testing and wanted to add my notes for reference.

Steps to reproduce:

1. Open the Desktop App, log in, open a free site.
1. Go to Plans > Business site and online stores > eCommerce > Upgrade.
1. Follow the prompts to complete the purchase.
1. Click the "Create your store!" button.
1. Land at the web for a Jetpack connection step.
1. Close

[2020-12-19 00:02] formosattic commented on #47745
+1 26324523-hc

[2020-12-19 00:31] nsakaimbo commented on #48517
This bug seems to apply to all existing checkout flows and is definitely a regression. The `http` Stripe warning certainly seems suspicious.

[2020-12-19 00:46] nsakaimbo commented on #48517
I just did a little testing and seems this bug was present in the prior releases v6.6.0 and v6.5.0. The checkout flow works as expected in v6.4.0, meaning the regression was introduced some time since then. This will be useful information when git bisecting to try to isolate the cause of the regression.

[2020-12-19 02:18] joanrho commented on #46656
@ramonjd Thanks, but I'm not able to test that diff. Are you able to provide updated screenshots of what it looks like?

[2020-12-19 02:44] nsakaimbo commented on #48517
So after some bisecting I was able to determine that the regression was introduced by PR #47265 (sha f618169de1061f2e1575485bbb4250eaac471336), which includes some changes to the checkout flow. I confirmed that the commit immediately before this one (110d169e89) does _not_ have this issue.

@taggon Could you please assist in troubleshooting this regression? TL;DR: it seems PR #47265 introduced mad

[2020-12-19 03:53] rinazrina commented on #45881
Another report: #3576635-zen

- OS: windows 10 PRO 20H2
- Log in using password
- Not using VPN/proxy
- Cookies enabled

[2020-12-19 10:09] Aurorum commented on #46632
PR in #48520 :)

[2020-12-19 15:02] carinapilar commented on #27481
This gets even more complex when it involves domains, we have another case on 3584997-zen.

[2020-12-19 15:34] openfist opened #48521 "Alves - Videos from Media library do not go Full Width in Video Block"
#### Steps to reproduce

1. Starting at URL: bodychoice.org
2. go to front page
3. All 3 videos on this page is from media library
4. In Editor of front page video block settings are at full width. And the editor does show the videos as full width
5. But, the live site will not output the videos as full width and it seems the Videopress system will give it default dimensions

#### What I expected

[2020-12-19 15:55] AtrumGeost opened #48522 "Show the "Load more posts using the default theme behavior" on all themes on Simple Sites"
Hi folks!

We had a user who was not happy with the Jetpack behavior on the posts page navigation even when having Infinite Scroll turned off.  The problem they mentioned is if you continue to click on the "Older Posts" button and scroll down, when you access a post and click on the back browser button you'll land at the top of the posts. Instead of the exact spot where you were before clicking on

[2020-12-19 16:26] mdrockwell commented on #35963
Another: 3586729-zen

[2020-12-19 17:11] ktyfuller604 opened #48523 "Stats: Navigation Labels Incorrect on Week or Month views"
#### Steps to reproduce

1. Starting at URL: Any site that does not have any plugins installed
2. Go to WP-Admin Dashboard
3. Click on Stats (ex: /wp-admin/index.php?page=stats )
4. Change stats view from Daily to Weeks or Months

#### What I expected

Hovering over any of the bars in the graph should show the number of hits per that week or month

#### What happened instead

Hovering over shows t

[2020-12-20 08:01] sophiegyo opened #48524 "Video block on wpcom: iframe forces inline height/width, ignores alignment in editor"
#### Steps to reproduce

1. Starting at URL: Any Simple wpcom site, but also AT when I tested.
2. Add a new page/post
3. Add a video block, set to ~full width, or wide width~ ANY alignment. Insert video
4. Publish, check published page.
5. Result: video not full width/wide width/left-aligned/right-aligned, source code indicates inline width/height values for the iframe/video element (observed with

[2020-12-20 08:08] sophiegyo commented on #48521
Ah, I just opened another issue for this - it's showing up in more than one theme so I had opened it as a general block issue: #48524

[2020-12-20 16:37] dlind1 commented on #23126
@lsl Yuliyan has fixed it now 🙂

[2020-12-20 22:32] ramonjd commented on #46656
@joanrho No worries!

I did update the screenshots in the description of D52924-code. I tried to address as many design concerns as I could in this round.

Here they are:

**Logged out**

<img width="498" alt="Screen Shot 2020-12-17 at 7 43 14 pm" src="https://user-images.githubusercontent.com/6458278/102726017-4c920180-436f-11eb-88e8-ca08cc10af4d.png">

<img width="1178" alt="Screen Shot 2020-12-

[2020-12-21 00:03] dlind1 commented on #39493
@lsl No problem, it's on our board now, but with the holidays it'd be probably done in early January.

[2020-12-21 07:58] tyxla commented on #24180
In #48526 we'll now always be using constants for status actions.

[2020-12-21 09:39] mrfoxtalbot opened #48527 "Add a warning to save changes before making site atomic"
If a site is made atomic while a post, page, or customizer are open on a separate tab, the content of these edits can be lost. I came across a case of this in the wild here 3584145-zen

It would be a good idea to let users know about this, and ask them to save any changes before making the site atomic. Perhaps something along these lines:

Please make sure you save any changes to your posts, pages

[2020-12-21 09:57] scinos commented on #41241
In order to simplify the setup, we decided that manually installing dependencies when you clone a NPM project is a widely adopted convention, and trying to add any kind of logic to automatically install dependencies when required is going to be complex, error prone (it is not trivial to detect if the existing `node_modules` is enough to start Calypso) and may introduce startup delays.

The `Gettin

[2020-12-21 09:57] #41241 closed

[2020-12-21 10:00] scinos commented on #32390
The original issue was raised when we were using `lerna` + `npm`. Since then we have moved to `yarn` and reduced our usage of `lerna`.

I do think having packages with `devDependencies` is a good thing and helps having a sane dependency tree without a bloated root package and packages relying on undeclared dependencies.

I'm closing this for now, if anybody has strong opinions about it we can revi

[2020-12-21 10:00] #32390 closed

[2020-12-21 11:11] #48166 closed, assigned to StefanNieuwenhuis

[2020-12-21 13:34] sandymcfadden commented on #48092
Thanks @cathymcbride I tried now and have not been able to replicate it again.

[2020-12-21 13:34] #48092 closed, assigned to nobody

[2020-12-21 14:33] #48275 closed, assigned to WunderBart

[2020-12-21 15:19] dolgelukkig commented on #45758
Another one here: [26485238-hc](https://mc.a8c.com/support-stats/happychat/transcript.php?id=26485238)

[2020-12-21 17:08] WunderBart commented on #37087
This functionality does exist when using CoBlocks on Atomic sites (via CoBlocks' contextual typography controls). It's not available on Simple sites, unfortunately, as we install a limited version of CoBlocks there. I'd suggest we move this one to Gutenberg repo for an upstream feature.

About CoBlocks future in WPCOM: pbAok1-1Jj-p2

[2020-12-21 17:20] WunderBart commented on #38230
As a workaround, you can set the accordion item to `Display as open` while editing and it will not collapse when you add inner blocks to the `Columns` block. You can disable the option when done with editing.

https://user-images.githubusercontent.com/1451471/102803496-9e12ae80-43b8-11eb-8d1a-ba91c2019496.mov

[2020-12-21 17:25] WunderBart commented on #40778
CoBlocks have been updated in WPCOM. Closing this one as I cannot reproduce the issue (both Simple and Atomic sites) 🎉

[2020-12-21 17:25] #40778 closed

[2020-12-21 22:17] #48026 closed, assigned to moon0326

[2020-12-21 22:17] #48029 closed, assigned to moon0326

[2020-12-21 23:36] johneburton commented on #48477
I'm having the exact same problem. When I click on "write post" a popup comes up that asks me if I want to turn on the SSO or if I want to continue to the browser. I clicked on SSO, but it just took me to a page not found on my site.

...wp-admin/post-new.php?calypsoify=1&block-editor=1&frame-nonce=1608679553%3A1%3A920a07437bebda9abd445a54222e175f&origin=http%3A%2F%2F127.0.0.1%3A41050&environment-

[2020-12-21 23:59] villanovachile commented on #43959
Another instance here #26493872-hc

Disabling carousel module resolved issue

[2020-12-22 00:09] moon0326 commented on #48479
Todo: `update/48479-use-translate-for-strings` has the required changes. Make a PR when ready to merge.

[2020-12-22 03:26] pauloeaquino commented on #47247
Related issue in 26491073-hc

![screenshot](https://d.pr/i/KVdKS0+)

Proposed CSS solution (from OP) resolved this for now.

[2020-12-22 12:05] #47150 closed

[2020-12-22 12:05] #48091 closed, assigned to razvanpapadopol

[2020-12-22 12:05] #48246 closed, assigned to razvanpapadopol

[2020-12-22 13:00] KokkieH opened #48536 "Paragraph block: inline styling for `mark` elements stripped out"
#### Steps to reproduce

1. Create a post
2. Type some text in a paragraph block
3. Edit block as HTML, and wrap some text in `<mark></mark>` tags.
4. Add a `style` attribute and set a custom background color
Example: `<p>This is <mark style="background-color:red;">some</mark> text</p>`
5. View published post
6. Leave the editor and then open the post again for editing, and check HTML

#### What I

[2020-12-22 14:22] tyxla commented on #24180
#48537 fixes a discrepancy between installed plugins and newly uploaded ones.

[2020-12-22 14:37] tyxla commented on #24180
#48538 adds missing plugin state initialization to status actions.

[2020-12-22 18:29] sarayourfriend opened #48543 "i18n: Switching locale using the quick language switcher does not update everything on the page without a reload"
Found by @dlind1 here: https://github.com/Automattic/wp-calypso/pull/48542#pullrequestreview-557271818

#### Steps to reproduce

1. Starting at URL: `/home/:site`
2. Enter into a support session (or optionally run Calypso locally and force the quick language switcher to be displayed by updating `layout/masterbar/logged-in.jsx`
3. Click the quick langauge switcher and switch languages

#### What I

[2020-12-22 18:58] alshakero opened #48544 "Focused Launch: .blog domains from cart are not shown in summary page"
As shown in the title. The cause of this issue is [this line](https://github.com/Automattic/wp-calypso/blob/trunk/packages/launch/src/hooks/use-domain-selection.ts#L50).

#### Expected behavior
All paid domains should be picked up from the cart.

#### Current behavior
.blog domains are excluded.

Related to https://github.com/Automattic/wp-calypso/pull/47987.

//cc @yansern

[2020-12-22 20:24] elizaan36 commented on #48420
here's one option in case we wanted to utilize the existing modal.

![Welcome modal](https://user-images.githubusercontent.com/5121465/102929855-ff8e5800-4460-11eb-8d16-4de814df4e33.png)

Copy is TBD.

I think providing a nice welcome message could alleviate some concern about the change, but I'm not against using the Inbox message as well. I think it's a little easier to get lost if we drop peopl

[2020-12-22 21:00] michaeldcain commented on #48421
@c-shultz can you help us confirm whether or not this component is being used?

[2020-12-22 21:12] sirbrillig commented on #48421
FWIW, `AddCardDialog` is rendered only by `ShippingLabels` (aka `LabelSettings`) here:

https://github.com/Automattic/wp-calypso/blob/aea1f65b4785f23ab36b44e5b06d5aec64b25478/client/extensions/woocommerce/woocommerce-services/views/label-settings/label-settings.js#L290

which appears to be rendered by `AccountSettingsRootView` here:

https://github.com/Automattic/wp-calypso/blob/aea1f65b4785f23ab3

[2020-12-22 21:32] allilevine opened #48547 "Gutenboarding: Site creation fails when site title is invalid"
#### Steps to reproduce

1. Starting at URL: http://calypso.localhost:3000/new
2. Choose an invalid title like "WordPress WordPress"
3. Complete the Gutenboarding flow to create site

#### What I expected
Either the site to be successfully created (possibly with a randomly generated subdomain) or a relevant error message.

#### What happened instead
I saw a "Something went wrong..." error and the

[2020-12-22 21:45] eduardozulian opened #48548 "Jotform Embeds: cannot submit a form"
This was already reported in https://github.com/WordPress/gutenberg/issues/27819 but I think it makes sense to also check on the WordPress.com side as it might break several embeds on our end.

#### Steps to reproduce

1. Go to Jotform and create a form
2. Get the Jotform link that looks like https://form.jotform.com/123456789876543210
3. Paste it in a new line in the editor and publish the page/

[2020-12-22 22:02] JoshuaGoode commented on #36274
A newer report appears to have been opened that seems related: https://github.com/Automattic/wp-calypso/issues/45758

If it's the same, we can probably close that one in favor of this one and copy over relevant info there.

[2020-12-22 22:06] JoshuaGoode commented on #45758
Similar to a much older report: https://github.com/Automattic/wp-calypso/issues/36274

[2020-12-22 22:15] fernmed opened #48549 "Reader: View inside Reader changing after Editing Post and Updating"
This one is a bit odd. At first it seemed like something only happening to this specific user, but I was able to replicate it on their site as well.

The site in question has an issue where their post is not being structured correctly when looking at it in the Reader. One example:

![https://d.pr/i/j747cU](https://d.pr/i/j747cU+)
Image link: https://d.pr/i/j747cU

The post itself:
![https://d.pr/i

[2020-12-22 22:24] bluefuton commented on #48549
That is an odd one @fernmed! The paragraphs in the post are being stripped somewhere along the line, and we're left with `<span>` elements only (and as a result, no margins):

<img width="823" alt="Screen Shot 2020-12-23 at 11 20 46" src="https://user-images.githubusercontent.com/17325/102938567-65d2b380-4511-11eb-8bfe-c850195d2547.png">

[2020-12-22 23:11] ramonjd opened #48552 "Nav Unification: Settings Link in Simple Site links to a miscolored WP-Admin"
Tested as part of a CFT paYJgx-1eA-p2

This is slightly related to **Nav Unification: Settings Link in Calypso goes to WP-Admin**  https://github.com/Automattic/wp-calypso/issues/48183 but specifically identifies the mixed color scheme.

#### Steps to reproduce

1. Starting from a **simple site**'s home, e.g., https://wordpress.com/home/{your_site}.wordpress.com
2. Click on settings

#### What I e

[2020-12-22 23:47] ramonjd commented on #43988
This is strange. I can't reproduce, even on private sites (I only checked Simple could it be Atomic-only?).

The only (maybe) relevant condition is that we check if a user has [permission to manage options before showing the sharing button](https://github.com/Automattic/wp-calypso/blob/0b37e3b7b2031ed21aefd3cb626a02d9cced4660/client/my-sites/marketing/main.jsx#L156).

It's not linked to Coming Soo

[2020-12-23 05:16] htdat commented on #24539
3594465-zen

[2020-12-23 08:00] yansern opened #48555 "Social Signup: Move signup modal into signup step"
The file `client/landing/gutenboarding/components/signup-form` should be moved into a step under `client/landing/gutenboarding/onboarding-block/signup`.

It should have a `Step.Signup` step and a `/new/signup` route.

[2020-12-23 08:02] yansern opened #48556 "Social Signup: Update gutenboarding signup UI to match reskinned control signup UI"
When the social buttons are added to the signup step, the UI should match the reskinned control signup UI.

Related: https://github.com/Automattic/wp-calypso/issues/40871 https://github.com/Automattic/wp-calypso/issues/41478

![reskin-v2-signup](https://user-images.githubusercontent.com/87168/98796235-d87d4900-2413-11eb-9759-d7c781047781.png)

[2020-12-23 08:03] yansern opened #48557 "Social Signup: Add social authentication logic and data states"
We will use the following components for social buttons:
- `GoogleLoginButton` from `calypso/components/social-buttons/google`;
- `AppleLoginButton` from `calypso/components/social-buttons/apple`;

An example of how these buttons are used can be found in:
https://github.com/Automattic/wp-calypso/pull/48447/files#diff-2512bf8ded157ac63f4e1fe9dea9ba475fb11b345071238e4b16a80ef099d187R31-R98

Data sta

[2020-12-23 08:04] yansern opened #48558 "Social Signup: Add account creation logic and data states"
After the user successfully authenticates with Google or Apple, it is time for WP account creation!

The API endpoint for social signup is:
https://public-api.wordpress.com/rest/v1.1/users/social/new

An example usage of this API endpoint can be found in:
https://github.com/Automattic/wp-calypso/pull/48447/files#diff-57e77c34b50a7078fa229e8f3cef7eff3bed25729b12c1a7b03baa4ee8d73447R100-R114

Data s

[2020-12-23 08:05] yansern opened #48559 "Social Signup: Add user login logic and data states"
When the user is authenticated using Google & Apple and a WP account is either created (or returned for existing account), we will need to login to the account.

The API endpoint for WP login is:
https://wordpress.com/wp-login.php?action=social-login-endpoint

An example usage of this API endpoint can be found in:
https://github.com/Automattic/wp-calypso/pull/48447/files#diff-57e77c34b50a7078fa229

[2020-12-23 08:06] yansern opened #48560 "Social Signup: Show loading indicator during social signup process"
There are 3 stages of the social signup process when an loading indicator should be shown:
1. (Optional) When user is logging into the social account
2. When creating WP account
3. When logging in to the WP account

You can determine when the above loading event is happening through the data states tracked in the following issues:
- Social Authentication: https://github.com/Automattic/wp-calypso/i

[2020-12-23 08:08] yansern opened #48561 "Social Signup: Show error messages when social signup process fails"
There are 3 stages of the social signup process when an error message should be shown:
- When failing to log into the social account
- When failing to create the WP account
- When failing to log into the WP account

You can determine when the above failure event is happening through the data states tracked in the following issues:
- Social Authentication: https://github.com/Automattic/wp-calypso/i

[2020-12-23 08:09] yansern opened #48562 "Social Signup: Fallback to Calypso login for existing WP users attempting to social login but uses has other primary login methods"
During the signup form, there will be users attempting to use the Google or Apple button to signin to the WP account.

If an existing WP account is found, and that WP account has another primary methods of login, e.g.
- password login
- passwordless login (e-mail login)
- any of the above with additional 2FA authentication

These are the cases that the signup form cannot handle, and we should fall

[2020-12-23 08:10] yansern opened #48563 "Social Signup: Packagize Google social login button"
The `GoogleLoginButton` component from `calypso/components/social-buttons/google` should be packagized into `packages/social-buttons`.

It should be an exported member of the aforementioned package, e.g.
`import { GoogleLoginButton } from '@automattic/social-buttons`

The existing Calypso component at `calypso/components/social-buttons/google` will then serve as a wrapper that connects this standa

[2020-12-23 08:11] yansern opened #48564 "Social Signup: Packagize Apple social login button"
The `AppleLoginButton` component from `calypso/components/social-buttons/google` should be packagized into `packages/social-buttons`.

It should be an exported member of the aforementioned package, e.g.
`import { AppleLoginButton } from '@automattic/social-buttons`

The existing Calypso component at `calypso/components/social-buttons/google` will then serve as a wrapper that connects this standalo

[2020-12-23 08:12] yansern opened #48565 "Social Signup: Async load signup step"
Currently the entire Calypso data store is loaded to be able to use `GoogleLoginButton`, see:
https://github.com/Automattic/wp-calypso/pull/48447/files#diff-2512bf8ded157ac63f4e1fe9dea9ba475fb11b345071238e4b16a80ef099d187R19-R20

As this might introduce loading overhead to Gutenboarding, we will temporarily async load the signup step in the background while users are going through the other gutenb

[2020-12-23 08:28] yansern commented on #40871
Closing this issue as this will now be tracked with the **Gutenboarding: Social Signup** project.
https://github.com/Automattic/wp-calypso/milestone/331
https://github.com/Automattic/wp-calypso/projects/106

[2020-12-23 08:28] #40871 closed

[2020-12-23 08:28] yansern commented on #41478
Closing this issue as this will now be tracked with the Gutenboarding: Social Signup project.
https://github.com/Automattic/wp-calypso/milestone/331
https://github.com/Automattic/wp-calypso/projects/106

[2020-12-23 08:28] #41478 closed

[2020-12-23 08:50] razvanpapadopol opened #48566 "Gutenboarding: Signup fails when site title is invalid"
When trying to signup in Gutenboarding flow, the API call to create an account `https://public-api.wordpress.com/rest/v1.1/users/new` returns code 400 with this body:
[code]

There are some suggestions for how to tackle this in https://github.com/Automattic/wp-calypso/pull/48430#issuecomment-748148625

#### Steps to reproduce

1. Starting at URL: https://wordpress.com/new while being logged out fr

[2020-12-23 08:50] #42085 closed

[2020-12-23 10:44] tjcafferkey opened #48568 "Focused Launch: Replace "Back" buttons with ButtonArrow onboarding component"
The `<GoBackButton/>` should be replaced by the `<ArrowButton />` from `@automattic/onboarding` which is styled exactly how is presented in the Focused Launch Figma designs.

#### Acceptance criteria
* [ ] The `<GoBackButton/>` is replaced by the `<ArrowButton />` in the DomainDetails View.
* [ ] The `<GoBackButton/>` is replaced by the `<ArrowButton />` in the PlanDetails View.
* [ ] The `<GoBack

[2020-12-23 11:03] carinapilar commented on #45736
I got another report for this, it seems that the issue is with Parent blocks, it happens when deleting the child block, instead of the parent (that you can only select using the List View), so even after deleting, the block is still there and once you reload the editor it shows the block again. Should we create a new report specific for Parent blocks?

Got on 3587413-zd-woothemes with the WhatsApp

[2020-12-23 11:24] tyxla commented on #24180
#48570 reduxifies plugin sites and removes the unnecessary flux method `getSites()`.

[2020-12-23 11:45] tyxla commented on #24180
#48572 removes the extra last arg we added in `doActionOverSelected` to support both flux and redux.

[2020-12-23 11:51] carinapilar opened #48573 "WhatsApp Block: List View Icon is Missing White Version"
#### Steps to reproduce
1. Create a new page
2. Add the WhatsApp Button block
3. Click on the List View and select the WhatsApp Button block

#### What I expected
That the block icon would turn white when selected, as the others do.

#### What happened instead
It's a black square when selected, you can't see the icon.

#### Browser / OS version
Chrome 87.0.4280.88
OS X 10.15.7

#### Screenshot / V

[2020-12-23 13:57] allilevine commented on #48566
Possible back-end solution here: D54613-code

[2020-12-23 15:31] #48268 closed, assigned to alshakero

[2020-12-23 15:33] #47792 closed, assigned to alshakero

[2020-12-23 15:53] cpapazoglou commented on #47183
There is https://github.com/Automattic/jetpack/pull/18146 deployed that adds the menu. We just need to:
1) Make sure that we add the `ref=calypso-sidebar` parameter
2) Style it like the "Collapse Menu"

@razvanpapadopol since now users will be landing to `/start` from wp-admin, does it make sense creating one more `ref` or should we just use `calypso-sidebar` ?

[2020-12-23 16:06] gibrown commented on #48549
Sounds like the Reader is doing the correct thing and the issue is more what the classic block is saving to the DB, so adding those labels.

[2020-12-23 17:26] JoshuaGoode commented on #45607
User returned on 26516930-hc

[2020-12-23 19:55] sdixon194 opened #48582 "Pay With PayPal Widget: Not Updating Description"
When editing an existing Pay with PayPal product in a widget area, updating the description doesn't save to the live site. It only shows the updated description in the customizer.

![Screen Capture on 2020-12-23 at 14-53-45](https://user-images.githubusercontent.com/33553323/103032700-b7d60200-452e-11eb-9be5-61e8db60dfed.gif)

-->

[2020-12-23 22:09] michaeldcain commented on #46205
@carladoria sorry for the delayed response. The issue should now be fixed in the popover shopping cart and checkout, but additional work will be required to update plans lists and subscription management screens. I'll open another issue to track those changes.

[2020-12-23 22:09] #46205 closed

[2020-12-23 22:40] DavidRothstein commented on #48433
The fix is now up for review in https://github.com/Automattic/wp-calypso/pull/48583.

I added messages for both expired cards and PayPal, and since an earlier pull request already made it so that the first payment method is selected on this page in the case where the existing payment method is PayPal (rather than selecting nothing) I did the same thing for expired cards too, for consistency -- tha

[2020-12-23 23:20] carladoria commented on #46205
Great, thanks a lot!

[2020-12-24 02:20] deBhal opened #48585 "Experimental Gutenberg feature may have been removed, needs investigation"
The use of `__experimentalMainDashboardButton` of `@wordpress/edit-site` in `apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js` needs a look by someone who understands what it's for to see if it's working and/or obsolete.

#### Steps to reproduce

I found this entry property in https://github.com/Automattic/wp-calypso/pull/48164 where it was listed as an experimental feature we

[2020-12-24 02:23] #47839 closed, assigned to fullofcaffeine

[2020-12-24 02:26] ilyasfoo opened #48587 "e2e tests updates for deprecating store"
The following e2e tests in `wp-woocommerce-spec.js` will fail when the config flag `woocommerce/store-removed` is set to `true`:

- Can see WooCommerce products in Calypso
- Can add a new WooCommerce product in Calypso
- Can see WooCommerce orders in Calypso
- Can see WooCommerce settings in Calypso

In addition, I think its better to add new tests to reflect the changes made to store deprecation

[2020-12-24 02:31] deBhal commented on #47839
I've merged #48164 now, but I'm not sure what's going on with one of the failing checks I removed to get it green. I've written up my investigation in https://github.com/Automattic/wp-calypso/issues/48585 - do either of y'all know what's going on with `editSite.__experimentalMainDashboardButton` ?

[2020-12-24 02:32] ilyasfoo opened #48588 "Store|Woo: e2e tests failing for Store removal"
**THIS NEEDS TO BE RE-SCOPED**

The following e2e tests in `wp-woocommerce-spec.js` will fail when the config flag `woocommerce/store-removed` is set to `true`:

- Can see WooCommerce products in Calypso
- Can add a new WooCommerce product in Calypso
- Can see WooCommerce orders in Calypso
- Can see WooCommerce settings in Calypso

Ideally, rather than just remove these tests, I think it's better

[2020-12-24 04:51] ramonjd commented on #48547
Some tracing and discussion over at p1608714446221300-slack-C013QHLF2

[2020-12-24 09:09] Nic-Sevic opened #48597 "Notifications panel not showing history"
#### Steps to reproduce

1. When logged in, click notifications bell
2. try to scroll down on list
3. check console for errors

#### What I expected
The panel would show a running list of notifications, including previous days that you can scroll through

#### What happened instead
only the last 9 are shown and you cannot scroll
in the console have the following error message:
[code]

#### Browser

[2020-12-24 10:02] #48044 closed, assigned to alshakero

[2020-12-24 10:17] Nic-Sevic opened #48598 "Blog posts block: load more button disappears even though more posts available to load"
#### Steps to reproduce

1. Make sure you have at least 6 posts
2. Add the blog posts block to a page and set it to display 2
3. Turn on the setting for "load more" button
4. Launch the page and click the load more button
5. See that only 2 more posts are loaded

#### What I expected
Expected either the load more button to remain until all available posts are displayed or for all remaining posts t

[2020-12-24 11:06] kylemcph commented on #48597
Just noting user came back to report that they aren't 100% sure when this happened, however, probably yesterday.

[2020-12-24 13:30] Nic-Sevic commented on #46077
3597303-zd-woothemes
manually updated

[2020-12-24 14:02] #47859 closed, assigned to nobody

[2020-12-24 18:25] sirbrillig commented on #24019
After https://github.com/Automattic/wp-calypso/pull/48512, https://github.com/Automattic/wp-calypso/pull/48495, https://github.com/Automattic/wp-calypso/pull/48437, and https://github.com/Automattic/wp-calypso/pull/48202 are merged, the only places still using the cart modifying functions from `lib/cart/actions` that will need to be replaced with `@automattic/shopping-cart` functions are:

- `Plan

[2020-12-25 21:43] #38873 closed

[2020-12-25 21:43] #38257 closed

[2020-12-25 21:43] #38751 closed

[2020-12-25 21:43] #31648 closed

[2020-12-25 21:43] #35761 closed

[2020-12-25 21:43] #34936 closed

[2020-12-25 21:43] #22367 closed

[2020-12-28 07:01] sophiegyo commented on #28033
There's another report about this here: 3601538-zen
I'm suggesting the download manager workaround other HEs used previously.

[2020-12-28 08:37] scottsweb commented on #36117
This remains an issue

[2020-12-28 11:32] #32919 closed

[2020-12-28 15:41] michaeldcain commented on #48490
It looks like some items on the Jetpack "My Plans" page and the non-Jetpack "Plans" page also have z-index issues:

<img width="834" alt="Screen Shot 2020-12-28 at 10 28 35 AM" src="https://user-images.githubusercontent.com/942359/103226019-2fbe7680-48f9-11eb-81ec-0dac30704f49.png">
<img width="1062" alt="Screen Shot 2020-12-28 at 10 29 28 AM" src="https://user-images.githubusercontent.com/942359/

[2020-12-28 15:44] michaeldcain commented on #48490
Related: https://github.com/Automattic/wp-calypso/issues/48143

[2020-12-28 15:47] michaeldcain commented on #48240
I can reproduce this with the "Upgrades" menu and submenu items:

![submenu-toggle](https://user-images.githubusercontent.com/942359/103226424-17029080-48fa-11eb-811b-e57f820d3064.gif)

[2020-12-28 15:55] metabreakr commented on #45881
26621899-hc

Chrome 87.0 on Windows 10.0.0

[2020-12-28 16:16] DavidRothstein commented on #39227
I'm adding this to the payments backlog.

[2020-12-28 18:38] michaeldcain opened #48607 "Nav Unification: escaped HTML visible in Dashboard > Updates"
#### Steps to reproduce

- On an Atomic or Jetpack site with updates available, visit Calypso:
- Hover over "Dashboard" menu item
- "Updates" sub-menu item includes escaped update count (even if 0)

#### What I expected

- Count should be shown as a badge when not equal to 0
- Count should be hidden when equal to 0

#### Screenshot / Video

<img width="442" alt="Screen Shot 2020-12-28 at 1 30 31 P