[2021-01-28 10:17] jom commented on #38788
I put up a fix for it in https://github.com/Automattic/syntaxhighlighter/pull/188. I _think_ the WPCOM version has diverged a bit, but this is an easy change to make so once approved I'll fix it on WPCOM.

[2021-01-28 10:18] scruffian commented on #43904
@simison what are your thoughts on this fix? The concern is that this will switch things for existing users...

[2021-01-28 10:43] carinapilar commented on #38807
Another one on 3673487-zd-woothemes - user has a Premium plan on an Atomic site.

[2021-01-28 10:53] pauljacobson commented on #49332
Hi there @cathymcbride I tested with other themes using the _Try & Customize_ option in _Design_ > _Themes_ in the user's dashboard. I didn't switch to the new themes entirely, as I didn't want to disrupt their site with a series of rapid theme changes.

[2021-01-28 11:05] cpapazoglou opened #49396 "Block Types missing from state"
### Steps to reproduce the behavior

1. Go to `https://wordpress.com/post/[DOMAIN]`
2. Click on the 3-dot menu on the top-right
3. Click "Manage Reusable Menus"

#### What I expected to happen
Be able to manage the reusable blocks
![](https://cln.sh/H1EnHZ+)

#### What actually happened
I got to `/types/wp_block/[DOMAIN]`
[code]

![image](https://user-images.githubusercontent.com/12430020/10612965

[2021-01-28 11:08] scruffian commented on #48973
It would be great if you could make the change in the public repo so that everyone can chime in: https://github.com/WordPress/theme-experiments

Thanks!

[2021-01-28 11:09] ilyasfoo commented on #49232
@mattsherman That does sound like the correct approach, I'd give it more in-depth thought tomorrow

[2021-01-28 11:10] #24180 closed

[2021-01-28 11:11] cpapazoglou commented on #49396
The problem relies to the fact that the old sidebar component did a query to get the custom post types

https://github.com/Automattic/wp-calypso/blob/ea53396172e91112a35d1a90255adb58be4c432b/client/my-sites/sidebar/site-menu.jsx#L269

which we are not doing now.

Adding `<QueryPostTypes siteId={ siteId } />` to https://github.com/Automattic/wp-calypso/blob/dac30586cd5253c2bf463635e869a364e24bcdcc/

[2021-01-28 11:12] nicelyj2 commented on #45881
27329338-hc
Premium Plan, one of 6 sites (https://onceuponatimeinthe70s.com/)

Chrome version Version 87.0.4280.141 (Official Build) (64-bit)
Suggested same as others - clear cache (which temporarily worked) and try another browser (not tried yet, customer not pleased about it)

[2021-01-28 11:33] getdave commented on #49147
For additional context please see p1HpG7-b2s-p2.

[2021-01-28 11:33] getdave commented on #49120
For additional context on our approach to Jetpack for Nav Unification please see p1HpG7-b2s-p2.

[2021-01-28 11:35] simison commented on #43904
Oh, that's a bummer! We shouldn't do that, at least without communicating with customers first.

Are there any technical solutions to fix this and avoid changing it to existing customers who applied fonts on that theme?

cc @ianstewart

[2021-01-28 11:53] scruffian commented on #43904
I guess we could run a script to update all of the fonts for users of this theme manually... 😭

[2021-01-28 12:01] Copons commented on #46114
I've tried this and apparently the setting never really saved, even waiting a while after the page load. 🤔
As it seems, it never fires any request to save the `page_on_front` option (and `page_for_posts` too!).

The options are persisted in the Redux state and in the local storage, so that when I reload the pages list, I see the "updated" options for a brief moment, and then they "revert" to the p

[2021-01-28 12:39] jeherve commented on #49279
Good catch. This would be a nice addition to the Stats view in wp-admin. I'll transfer your issue to the Jetpack repo, where the stats are being developed.

[2021-01-28 13:41] the-curioustech commented on #48844
Just commenting so that this stays current.  Cheers

[2021-01-28 13:44] sirreal opened #49404 "Patterns: Update serialized pattern content"
When the patterns panel is loaded in the block editor, numerous patterns are updated like in the screenshot below. Stale patterns should be updated regularly so that they're using the most current block markup.

![image](https://user-images.githubusercontent.com/96308/92306664-2cd9f780-ef91-11ea-9c8a-1eabf44adb68.png)

Needing to update the blocks every time a stale pattern is rendered is wasteful

[2021-01-28 14:23] simison commented on #43904
Yeah, we have some scripts to do that already. It's less scary than it sounds. :-)

I agree that's probably the best, considering that adding any conditionals in code would need to be maintained ad-infinitum anyway, so it's better to do more work to get it sorted all at once.

[2021-01-28 14:38] scruffian commented on #43904
Ok, can I let y'all handle this? You have the PR for when you need it..

[2021-01-28 14:47] getdave commented on #49313
This makes sense to me thanks @mrfoxtalbot and also @lakellie  for reporting.

Do we need any input from Themes on this one?

Added to our backlog.

[2021-01-28 14:55] StefanNieuwenhuis opened #49409 "Focused Launch: Unavailable free plan copy styles (regression from #47788)"
In #47788 we have aligned the unavailable free plan copy (e.g. _<yourwebsite.com> is not included_) styles with the design but the changes are reverted.

#### Acceptance Criteria

* [ ] The cross icon's color for the unavailable plan is orange (`--studio-orange-40`).
* [ ] The unavailable domain copy is crossed through.
* [ ] The disabled button's copy is: `Unavailable with domain`

#### What I ex

[2021-01-28 14:59] razvanpapadopol opened #49410 "New Onboarding: domains and plans price formatting doesn't match"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/new as non-US user with USD currency set in your account
2. Advance to Domains step and check the price formatting for domain suggestions
3. Advance to Plans step and check the price formatting

#### What I expected to happen
Price formatting should match and should be similar to what's on `/start` onboarding flow.

#### What actu

[2021-01-28 15:00] razvanpapadopol commented on #49410
@alshakero opened an API patch to add raw price to domain suggestions: D56060-code

cc: @Automattic/cobalt

[2021-01-28 15:18] lynnbgriffith commented on #33385
Yes. Also worth glancing at Jetpack’s policy:
https://github.com/Automattic/jetpack/blob/master/SECURITY.md

[2021-01-28 15:24] metabreakr commented on #49364
Testing with "bleeding edge" Jetpack, as per paYJgx-1af-p2, doesn't seem to resolve the issue.

[2021-01-28 15:51] frontdevde commented on #49192
Closing this as a duplicate as it was also reported here https://github.com/Automattic/wp-calypso/issues/48009#issuecomment-764826837

Either way it'll be fixed in https://github.com/Automattic/wp-calypso/pull/49408

[2021-01-28 15:51] #49192 closed, assigned to nobody

[2021-01-28 16:34] #49391 closed, assigned to razvanpapadopol

[2021-01-28 16:40] michaeldcain opened #49416 "Billing: add "Wayfinder" descriptions to billing-related screens"
As part of the Pathfinder project, we need to audit billing-related screens and add relevant descriptions (`subHeaderText`) to the `FormattedHeader` components.

See: p58i-9Vz-p2

![myhome](https://user-images.githubusercontent.com/942359/106170979-0a729180-615f-11eb-83fa-903877ab8562.png)

[2021-01-28 16:49] michaeldcain opened #49417 "Billing: add "Trail Marker" links to billing-related features"
As part of the Pathfinder project, we need to audit Calypso for billing-related features that might be confusing to the user (or could use additional explanation), create support documentation for those features (if it doesn't already exist), and use the `InlineHelpLink` component to link to the relevant documentation.

See: p58i-9Vz-p2

![4422a04c-ad5b-4d85-9372-34fe4373e672](https://user-images.

[2021-01-28 18:29] cathymcbride commented on #48947
@jaswrks can you team take a look at this?

[2021-01-28 18:58] cathymcbride commented on #47086
@kylemcph can you see if you can still repro this?

[2021-01-28 19:01] nbloomf opened #49419 "New Onboarding: End of long site names is cut off in Site Title input"
### Steps to reproduce the behavior

1. Go to `/new`
2. Type a site title that is wider than the provided text field

#### What I expected to happen

The site title visible in the text field would be (a suffix of) what I typed in.

#### What actually happened

The rightmost little bit of the text is cut off:

![Screen Shot 2021-01-28 at 12 49 40 PM](https://user-images.githubusercontent.com/931093

[2021-01-28 19:03] mattsherman opened #49420 "Store|Woo: Remove `woocommerce/store-deprecated` flag (always deprecate Store)"
_Part of the Sunset Store project. See pbIJXs-sE-p2 for more details._

Now that Store has been deprecated for a few weeks in production for all customers, we should clean up the codebase by removing the `woocommerce/store-deprecated` flag. Store should always be deprecated, no matter the environment.

## Acceptance criteria

- Store should always be deprecated, with behavior identical to when the

[2021-01-28 19:04] mattsherman commented on #49016
Closing this in favor of #49420

[2021-01-28 19:04] #49016 closed, assigned to nobody

[2021-01-28 19:05] sirbrillig opened #49421 "Shopping Cart endpoint: Add a notification when a coupon is removed by a cart change"
If the shopping-cart endpoint is called to update an existing cart that has a coupon applied, and the coupon becomes invalid (for example, when changing plan term length), the coupon will be removed automatically. However, in that case there's no notification that the coupon has been removed or why.

Since the shopping-cart endpoint has the ability to add messages that will be displayed by the fro

[2021-01-28 19:10] synora opened #49422 "Cover Block: block's text is hidden in the editor when block image or background color is removed"
### Steps to reproduce the behavior

1. Open a page or post
2. Add a new Cover Block
3. Add an image or background color to the Cover Block
4. Add text to the Cover Block
5. Go to the Cover Block's settings and click "Clear Media".
6. Publish page

#### What I expected to happen
The text within the block to still be visible in the editor. Although the text appears just fine on the published page/p

[2021-01-28 19:23] mattsherman opened #49424 "Store|Woo: Move setup of WooCommerce for Atomic sites without WooCommerce plugin out of `extensions/woocommerce`"
_Part of the Sunset Store project. See pbIJXs-sE-p2 for more details._

Once Store is completely removed, there will be no need for `extensions/woocommerce`. In order to prepare for this, we should move the setup of WooCommerce for Atomic sites that do not yet have the WooCommerce plugin out `extensions/woocommerce`.

See #48423 for more details, as that is the issue where we originally tracked ad

[2021-01-28 19:30] sirbrillig commented on #49421
This should be fixed by D56160-code

<img width="531" alt="Screen Shot 2021-01-28 at 2 26 55 PM" src="https://user-images.githubusercontent.com/2036909/106188828-7829b800-6175-11eb-9e33-abccb4475cb0.png">

[2021-01-28 19:31] cathymcbride commented on #49377
@obenland would this be related to nav unification?

[2021-01-28 19:34] obenland commented on #49377
Possibly. `https://outrageouslyclassicrecords.wpcomstaging.com/wp-admin/undefined` has me thinking yes, but I'm not aware of nav unification changing the way the Customizer loads in Calypso.

[2021-01-28 19:34] cathymcbride commented on #47916
closing based on final comment.

[2021-01-28 19:34] #47916 closed, assigned to nobody

[2021-01-28 19:37] obenland commented on #49377
I can reproduce it on my testing Atomic site as well, clicking on Appearance > Customize in wp-admin.

[2021-01-28 19:41] obenland commented on #49377
It looks like we link directly to wp-admin's Customizer for WoA sites, which loads without issue for me. We should change that in Nav Unification.

[2021-01-28 19:43] mattwiebe commented on #48973
@scruffian sure thing, opened https://github.com/WordPress/theme-experiments/pull/183

[2021-01-28 19:45] cathymcbride commented on #49375
@worldomonation does the block recover if you click "Attempt Block Recovery"?

[2021-01-28 19:47] worldomonation commented on #49375
Yes, it does - I will add that in the original report as clarification.

[2021-01-28 19:47] mattsherman commented on #49232
@ilyasfoo I've moved the refactoring of the setup page from `extensions/woocommerce` to a new place in the code to its own issue, as it really is distinct from this issue of accessing it from Nav Unification. See https://github.com/Automattic/wp-calypso/issues/49424

[2021-01-28 19:52] kjellr commented on #48973
Is this actually something that should be fixed there? My understanding is that WP.com's implementation of Global Styles will be updated to instead use the official one in core.

If that's the case, then in the meantime I think it would make sense to modify the dotcom version of Global Styles to populate the theme's variables in addition to the ones it uses today. Rather than the other way around.

[2021-01-28 19:53] cathymcbride commented on #49375
Thanks! Still not a great experience tho.

[2021-01-28 20:21] simison commented on #49091
Does this happen also in regular standalone Gutenberg? If so, reporting there would be best.

Cc @Automattic/good-mountain

[2021-01-28 20:22] worldomonation commented on #49091
Good point, thanks for the heads up. I can take a look.

[2021-01-28 20:33] mattsherman opened #49428 "Store|Woo: Remove Store in development and wpcalypso environments"
_Part of the Sunset Store project. See pbIJXs-sE-p2 for more details._

To prepare for the launch of the removal of Store, we should remove Store in the following environments **_a week prior to launch_**, by enabling the `woocommerce/store-removed` feature flag.

- `config/desktop-development.json`
- `config/development.json`
- `config/wpcalypso.json`

## Acceptance criteria

On wpcalypso.wordpre

[2021-01-28 20:42] mattsherman opened #49429 "Store|Woo: Remove Store in production environments"
_Part of the Sunset Store project. See pbIJXs-sE-p2 for more details._

To launch the removal of Store, we should remove Store in the following environments by enabling the `woocommerce/store-removed` feature flag.

- `config/production.json`
- `config/stage.json`

## Acceptance criteria

On production (wordpress.com when unproxied)...

- If user accesses any `/store` URL, they are redirected to t

[2021-01-28 20:46] mattsherman opened #49430 "Store|Woo: Remove `woocommerce/store-removed` flag (always remove Store)"
_Part of the Sunset Store project. See pbIJXs-sE-p2 for more details._

Now that Store has been removed for a few weeks in production for all customers, we should clean up the codebase by removing the `woocommerce/store-removed` flag. Store should always be removed, no matter the environment.

## Acceptance criteria

- Store should always be removed, with behavior identical to when the `woocommerc

[2021-01-28 20:50] metabreakr commented on #45881
23425670-hc

[2021-01-28 21:06] mattsherman opened #49432 "Store|Woo: Update Store removal documentation to show the new WooCommerce navigation"
_Part of the Sunset Store project. See pbIJXs-sE-p2 for more details._

This is a follow-up to #49273.

Once the new WooCommerce navigation is available to Business plan customers, we should update the support documentation for the Store removal to show the new WooCommerce navigation experience.

[2021-01-28 21:11] mattsherman opened #49433 "Store|Woo: Remove `client/extensions/woocommerce` code"
_Part of the Sunset Store project. See pbIJXs-sE-p2 for more details._

Once Store removal has been in production for a few weeks, and we are confident that users are accessing the new WooCommerce experience without issue, we should cleanup the codebase and remove `client/extensions/woocommerce` code.

## Acceptance criteria

- "WooCommerce" menu item functions properly

## Tasks

- ~[ ] Move the

[2021-01-28 21:14] cathymcbride commented on #18666
No movement for several years. Closing...

[2021-01-28 21:14] #18666 closed

[2021-01-28 21:26] jsnmoon commented on #49345
It's even worse for me on my Jetpack site:

<img width="267" alt="Screen Shot 2021-01-28 at 2 25 27 PM" src="https://user-images.githubusercontent.com/4044428/106200743-b07cc680-6174-11eb-85d1-0671bca47287.png">

The `Jetpack` menu item is missing entirely.

[2021-01-28 21:31] annezazu opened #49434 "Nav Unification: VIP Icon is blurry"
### Steps to reproduce the behavior

1. Select a site with some sort of VIP affiliation
2. Hover over the VIP section to see the blurry logo

<img width="145" alt="Screen Shot 2021-01-28 at 2 27 37 PM" src="https://user-images.githubusercontent.com/26996883/106201137-3d278480-6175-11eb-8218-001b15669d72.png">

#### What I expected to happen

I expect the icon to be more prominent.

#### What actua

[2021-01-28 21:31] mattsherman commented on #48588
Using the scale of ideal dev days, I'm updating the estimate on this to 1 (also keeping in mind that there is already a PR ready for it!). @ilyasfoo, if you feel differently, please update estimate and let me know!

[2021-01-28 21:33] mattsherman commented on #49088
Using ideal dev days as the scale, and noting that a PR is in progress for this, I'm estimating this at a 2 (using this estimate to help plan next sprint). @becdetat , please update if I'm off-base and let me know!

[2021-01-28 23:11] p-jackson commented on #47089
After deploying I noticed that the password still had `autocomplete="off"` because the `<FormPasswordInput>` component actually [forces the value to be off](https://github.com/Automattic/wp-calypso/blob/b7858d3a2bc03525eae496eb41ab1b49221942db/client/components/forms/form-password-input/index.jsx#L56).

It was still saving my username and password on Safari though ... I'll do a bit more testing no

[2021-01-28 23:18] obenland commented on #40951
Ah, yes, I can reproduce that now. It seems to be a Gutenberg core bug, I can also reproduce it on a self-hosted install.

[2021-01-28 23:20] andrewserong commented on #48932
The caches are updated and all the screenshots appear to be rendering now using `blank-canvas` when the site is set to that theme:

![image](https://user-images.githubusercontent.com/14988353/106210757-8a5e3180-621b-11eb-868d-e94f7891f227.png)

I'll close this issue out now, but let us know if you encounter any other peculiarities with `blank-canvas`!

[2021-01-28 23:20] #48932 closed, assigned to andrewserong

[2021-01-28 23:32] obenland commented on #40951
Reported upstream: https://github.com/WordPress/gutenberg/issues/28570

[2021-01-28 23:32] #40951 closed

[2021-01-28 23:39] obenland commented on #42910
@bsessions85 It's been a while since this was first opened, wondering if you had any tips on this one anyway?

[2021-01-28 23:40] lsl commented on #49097
#49382 is tracking the UI change moving forward and I've moved the mShots issues into our board backlog.

[2021-01-28 23:40] #49097 closed, assigned to lsl

[2021-01-28 23:46] obenland commented on #46108
@ockham Not sure who the best person is to ping on this one, could you help redirect me if needed? Is there an auto-fixer script for this like `phpcbf` for PHP?

[2021-01-28 23:52] nsakaimbo opened #49435 "Self-Hosted Sites: Cannot Exit Gutenberg using "W" or "Reader" Buttons"
### Description

On a self-hosted site (e.g. created with J-Ninja) with SSO enabled, unable to use the "WordPress" or "Reader" buttons to exit the Gutenberg editor.

### Steps

1. Create a site on J-Ninja, enable Jetpack and add a WordPress.com user. Enable SSO from Jetpack settings of the site.
2. As the WordPress.com user, select the Jetpack site and click the "write post" button
3. Attempt to n

[2021-01-28 23:55] obenland commented on #46105
This seems to have been fixed in D52789-code.

[2021-01-28 23:55] #46105 closed

[2021-01-28 23:56] nsakaimbo commented on #49435
👋  pinging @cpapazoglou to help raise visibility on this one - this seems like an easily-encountered, high-priority issue that would leave many self-hosted users stuck if attempting to use the editor.

[2021-01-29 00:10] becdetat commented on #49088
@mattsherman 2 _seems_ appropriate however I hit a snag when trying to store the install timestamp and I've already spent about 2 developer days on this.

[2021-01-29 00:15] obenland commented on #46195
Paragraph blocks seem to get an inline style of `white-space: pre-wrap`, to which then Firefox decided to not justify text.
Adding `white-space: normal !important;` to the `.has-text-align-justify` selector should fix it.

[2021-01-29 00:24] obenland commented on #46382
@olaolusoga Could this one be a duplicate of https://github.com/WordPress/gutenberg/issues/25474? If not, could you help me understand the difference?

[2021-01-29 00:24] smithkyle45 opened #49436 "2FA - That phone number does not appear to be valid (Netherlands Antilles +599, requires starting with a 9)"
Adding a phone number with the Qatar country code returns a validation error for 2FA.

### Steps to reproduce
Starting at URL: https://wordpress.com/
Go to Security
Click Two-Step authentication > Get Started
Select “Netherlands Antilles” in Country code
Enter a phone number (the expected country code was noted to be +5999, so typically they will add a 9 at the beginning)
Click “Verify via SMS” or

[2021-01-29 00:28] smithkyle45 commented on #49436
I suggested clearing the formatting and using only numbers.
User shared the number in question via chat (now redacted) and I was able to replicate in my own account.

I asked if it was a mobile device number & pointed out potential issues with landlines, this was never confirmed

[2021-01-29 00:30] smithkyle45 commented on #49436
It looked very similar to the string of issues pointed out here in 2018: https://github.com/Automattic/wp-calypso/issues/26882

[2021-01-29 00:33] timmyc commented on #49433
Thanks for creating this clean-up issue @mattsherman 🙇 - I was wondering if we have searched the wp-calypso code base to make sure there are no other parts of calypso that might be importing components from the `extensions/woocommerce` directory?

I did a quick ( read not exhaustive ) search locally and found the following:

[code]

Looks like we might need to relocate the `TextControl` component

[2021-01-29 00:42] mattsherman commented on #49433
@timmyc I should have done that search. Good catch. Wow, that seems pretty "wrong" to me to have non-extension code in Calypso importing bits from the extension... seems to violate the separation that should exist. I'll add those things to the task list, and also bump up the estimate a bit on this to accomodate those.

[2021-01-29 00:47] timmyc commented on #49433
Yeah I totally agree that the code probably should have been moved to a shared components folder prior to being used elsewhere. The only reason I thought to search for that was I had been pinged for reviews on that component in the past year so figured it must have been in use by others.

You da best! Thank you!!!

[2021-01-29 01:08] mattsherman opened #49438 "Store|Woo: Spike - Look into removing unused REST API code related to Store"
We should do a short spike (timeboxed to 1 day) to determine if there is any REST API code related to Store that we should consider removing.

See pbIJXs-Bt-p2#comment-1782 for discussion on whether or not we should make API changes.

## Acceptance criteria

- A summary of potential REST API changes to make

## Tasks

- [ ] Investigate REST API code to determine if any changes should be made

[2021-01-29 01:12] mattsherman commented on #49438
I turned this into a spike so that we can assign this and gather the information needed to make a decision on whether any REST API changes should be made.

[2021-01-29 01:31] mattsherman opened #49439 "Store|Woo: Update new order notification to use WooCommerce Core paths instead of `/store` paths"
The new order notification currently contains a link to `/store/order` is the site has the `dotcom-store` sticker.

It also adds `&calypsoify=1` to the URL if the site has the `ecommerce-plan` sticker.

Since Store is deprecated and will soon be removed, we should update the implementation so that the `/wp-admin/post.php?post=` path is always used, which will bring users to the WooCommerce Core ex

[2021-01-29 01:39] mattsherman commented on #49439
Bumping the estimate to 2 from 1, just because it involves modifying/testing notifications, which is something that the team is unfamiliar/rusty with. The actual code change should be quite easy.

[2021-01-29 02:23] mattsherman commented on #49231
We are going to have the same issue as in https://github.com/Automattic/wp-calypso/pull/49099... how to detect that a Business site had WooCommerce installed prior to deprecation.

Since we don't have access to the necessary information server-side, and this is a minor issue that will only exist until Store is removed completely in a few weeks, I propose we always show "Store" for Atomic Business

[2021-01-29 02:25] mattsherman commented on #49243
This should be a part of the issue where we add the "Store" menu item in. Closing in favor of https://github.com/automattic/wp-calypso/issues/49231.

[2021-01-29 02:25] #49243 closed, assigned to mattsherman

[2021-01-29 02:30] ramonjd commented on #49095
Fixed by D55194-code
Experiment is off 👍

[2021-01-29 02:30] #49095 closed, assigned to deBhal

[2021-01-29 02:40] becdetat commented on #49231
@mattsherman

Approved 🍭

[2021-01-29 03:41] p-jackson commented on #47089
@simison ok so this is sort of fixed. The password hinting is working, however [on mobile the password visibility toggle defaults to "visible"](https://github.com/Automattic/wp-calypso/blob/2b955fe7a8021f6ea9cd118cbadaa1ff9d1c1ee5/client/components/forms/form-password-input/index.jsx#L27).

This thing:
![Image from iOS-2](https://user-images.githubusercontent.com/1500769/106227918-16d61780-624f-11

[2021-01-29 04:56] deancroyal opened #49442 "Nav Unification: Current site notices with banner upsell text not appearing on several menu items"
### Steps to reproduce the behavior

1. Create a new free site, do not purchase a plan.
2. Go to 'My Home' for the new site.
3. See the current site notice, above the My Home menu item, with the "Free domain with a plan (Upgrade)" banner upsell.
4. Click on 'Posts > Categories'
5. See the site notice with banner upsell text no longer appears.

The site notice with banner upsell text does not appea

[2021-01-29 06:21] razvanpapadopol commented on #49353
You're right. The availability check is done in Gutenboarding when you press _Continue_ button to confirm the domain selection. The open issue is to do this check when we initialize DomainPicker with a previously selected domain (which might be unavailable).

@worldomonation, since both issues were clarified I think we can close this ticket.

[2021-01-29 06:39] razvanpapadopol commented on #46839
We still need to create a diff to enable the experiment.

[2021-01-29 06:49] andrewserong commented on #48883
In terms of investigating how to get the Map block to play nicely in an iframe context, it looks like the Map block is complaining because the `ref` we're passing it in https://github.com/Automattic/jetpack/blob/e13487d0dbbe4c743739b6f1a3e37c143a8c2614/projects/plugins/jetpack/extensions/blocks/map/component.js#L331 is not a real HTMLElement (at this stage I believe it's a virtual React DOM object

[2021-01-29 06:56] andrewserong commented on #48889
It looks like the missing styles are from the [BaseControl component](https://github.com/WordPress/gutenberg/blob/4885681f05a6eb0b80764d8710839a158475afd5/packages/components/src/base-control/index.js#L37) which is used by the `jetpack/field-textarea` component. BaseControl uses Emotion for its CSS-in-JS in the editor, and it appears it's these styles that aren't being picked up by the iframe. I s

[2021-01-29 07:07] razvanpapadopol commented on #49169
There still seem to be new reports on this: pbxNRc-vn-p2#comment-1565

[2021-01-29 07:39] razvanpapadopol opened #49452 "Focused Launch: monthly plan from cart is not pre-selected"
### Steps to reproduce the behavior

1. Create a site from `/start`
2. Pick a monthly paid plan but don't purchase it
3. Go to editor and add `?flags=create/focused-launch-flow` to URL
4. Click Launch to open Focused Launch flow

#### What I expected to happen
The plan from cart should be pre-selected

#### Video
https://cloudup.com/cn1ER7o-64V

[2021-01-29 07:48] cpapazoglou commented on #49435
👋 @nsakaimbo! Thanks for the ping!
Can you confirm that the issue you describe is the same as https://github.com/Automattic/wp-calypso/issues/49122 . The fix will be shipped in Jetpack 9.4 (next week).

[2021-01-29 08:07] cpapazoglou opened #49453 "My Blogs menu missing"
As @msilbers has mentioned (p7DVsv-ago-p2#comment-34128), there is a [feature "Post by Email" ](https://wordpress.com/support/post-by-email/) that seems accessible only from `https://[DOMAIN]/wp-admin/index.php?page=my-blogs`.

**Old Nav**
![image](https://user-images.githubusercontent.com/12430020/106247898-dfe50f00-6218-11eb-8323-1476487bded5.png)

It seems that we have classified this menu here

[2021-01-29 08:16] cpapazoglou opened #49454 "Akismet Stats menu missing"
It seems we have classified the `Akismet Stats` menu from WPAdmin as "To be removed" here https://docs.google.com/spreadsheets/d/1i640dQt4vs2XYgqRA4YEH69ssR9UNcFJx49HUss0-q0/edit#gid=0 with reason "Perhaps we move this to be just another section within Stats?" but we haven't moved this functionality.

![](https://cln.sh/nRWyMp+)

Perhaps, we should add this menu back probably under "Stats" menu un

[2021-01-29 08:17] mmtr opened #49455 "New Unified Navigation does not work on blog ID 1"
Reported by @chickee0311 in pau2Xa-2E1-p2

Seems that blog ID 1 (wordpress.com) does not work in Calypso and therefore all links of the new unified navigation should point to WP Admin.

I guess we can fix this by creating a new menu class that extends from `Admin_Menu` and use it for this blog (similarly to the new menus used for P2 sites: D55069-code).

[2021-01-29 08:44] simison commented on #47089
Seems really odd to me to leave it visible by default, especially if it stops autofilling from working. Not an expert on this area though. :-)

[2021-01-29 09:25] scruffian commented on #48973
Yeah you're right @kjellr, sorry @mattwiebe, I guess your patch was the right approach after all...

[2021-01-29 09:39] getdave commented on #49455
Thanks for catching and tracking this @mmtr. Two points that came to mind:

1. Question: how critical an impediment is an issue to our day to day workflow for a12s?
2. If we do create a new menu class if might be an idea to break the class hierarchy or at least drastically simplify it.

Thanks.

[2021-01-29 09:49] mmtr commented on #49455
@chickee0311 may have a better answer, but right now managing content for blog ID 1 is rather complicated unless you know all the direct WP Admin links and type them in the browser (e.g. `/wp-admin/post-new.php`, etc), something especially hard for URLs that contain identifiers (e.g. `/wp-admin/post.php?post=123&action=edit`).

I don't know how often content on this blog needs to be managed, but I

[2021-01-29 10:05] philnick206 commented on #49063
Another report here: #27354802-hc

User had a draft page and reusable blocks weren't saving for use on other pages. Additionally, there were a number of blocks in the bin under all reusable blocks.

[2021-01-29 10:18] ilyasfoo commented on #48588
Yes, I agree with that estimate 👍

[2021-01-29 10:18] simison opened #49457 "Signup: white border appearing around price grid"
Slack convo p1611915646000600-slack-dotcom-signup

### Steps to reproduce the behavior

1. Go to https://wordpress.com/start/domains
2. Pick a domain
3. End up at plans grid and note white border:
    ![image](https://user-images.githubusercontent.com/87168/106262611-f6489600-622b-11eb-9d30-3763c1126dc2.png)

#### Browser / OS version
Chrome, Firefox

Possibly caused by https://github.com/Automatt

[2021-01-29 10:54] #49196 closed, assigned to cpapazoglou

[2021-01-29 10:55] #48211 closed, assigned to cpapazoglou

[2021-01-29 11:20] klimeryk commented on #49112
@delputnam, were you able to have a look at this? 🙏 There's also a related internal discussion about primary domains and Atomic here: `p2MSmN-8g3-p2`

[2021-01-29 11:23] fresatomica commented on #36274
Another report on https://wordpress.com/forums/topic/updating-failed-message-2/.

[2021-01-29 12:21] mattsherman commented on #49231
I've updated the issue description to reflect that the "Store" menu will be shown for Atomic sites with a Business plan, regardless of when WooCommerce was installed.

[2021-01-29 12:32] mattsherman commented on #49209
There are two related PRs that may help address this issue:

- 577-gh-Automattic/wpcomsh
    - This one *should* help get the WooCommerce menu items showing, but with incorrect positioning
- https://github.com/woocommerce/woocommerce/pull/28763
    - This one fixes the positioning of menu items, but introduces some issues for certain WooCommerce plugins

[2021-01-29 12:34] mattsherman commented on #49209
Estimating this as a 5. It seems like we are probably nearly there with the two above related PRs, but a lot of coordination and communication between different teams may be required, which can take time.

[2021-01-29 12:47] mattsherman commented on #49229
Related discussion on Jetpack admin menu in general: p1HpG7-b2s-p2

[2021-01-29 12:50] mattsherman commented on #49229
Estimating this as a 3 mainly due to uncertainty. It is possible that there will be nothing specific to address, once #49209 is taken care of.

[2021-01-29 13:11] #49457 closed, assigned to ddc22

[2021-01-29 13:16] StefanNieuwenhuis opened #49462 "Focused Launch: Update domain-picker semantics"
We have to investigate how to improve the domain-picker's semantics.
See also https://github.com/Automattic/wp-calypso/pull/49249#discussion_r566798781

[2021-01-29 13:25] razvanpapadopol opened #49463 "New onboarding: console errors when loading preview on /style step"
### Steps to reproduce the behavior

1. Go to /new and skip first step
2. Open browser console
3A. Select Overton / Brice / Alves design
3B. Select Mayland / Easley / Stratford design

#### What actually happened
* 3A error: `Uncaught TypeError: Cannot read property '_babelPolyfill' of undefined`
* 3B error: `Uncaught SyntaxError: Unexpected token '<'`

#### Screenshot / Video: If applicable, add

[2021-01-29 13:43] #49171 closed, assigned to StefanNieuwenhuis

[2021-01-29 13:48] simison commented on #49419
@razvanpapadopol @ollierozdarz  did I see conversation about this somewhere just recently?

[2021-01-29 13:50] simison commented on #49422
This issue would be great at https://github.com/WordPress/gutenberg/issues if not there already.

[2021-01-29 13:52] razvanpapadopol commented on #49419
I know only of this other ticket #49328 which is kind of related at least by considering the cause: a long site name.

[2021-01-29 13:53] simison commented on #49374
Sounds like 3rd party cookie issues. @gravityrail @josephscott correct?

[2021-01-29 14:01] #48343 closed, assigned to yansern

[2021-01-29 14:02] jaswrks commented on #48947
@cathymcbride  Yes, thank you for the heads up.
cc @travisw @danielwrobert I think we fixed something like this in the past, yes?

[2021-01-29 14:16] razvanpapadopol opened #49466 "E2E: re-enable and fix New Onboarding test suite"
**What**
The [main Gutenboarding suite](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/wp-gutenboarding-spec.js#L39) has been disabled in #49366 so it needs fixing and re-enabling.

**Why**
Adding coverage for a signup & site creation flow.

**Additional context**
* When testing manually everything seems to be working fine.
* <s>Even when running the test suite locally, on mobi

[2021-01-29 14:23] yansern opened #49467 "Domain Picker: Entering the same foreign string twice in the search input gets stuck in loading."
### Steps to reproduce the behavior

When you type the same foreign string 테스트 twice, you'll end up stuck in loading screen instead of the error message being shown. The useDomainSuggestions is not returning the cached result properly (errorMessage is cached, but the DataState is SUCCESS instead of FAILURE) that's why it got stuck in loading.

We should add tests to cover this scenario

[2021-01-29 14:24] yansern opened #49468 "New Onboarding Launch: Domain search input suddenly has value when flipping from name step to domain step when site title has foreign characters."
I've created a site with Gutenboarding testing instructions.
While launching the site through the step-by-step launch, I don't get the domain suggestions initially. Only after going back-and-forth from the naming to the domain step, I get the expected domain suggestions as described in the testing instructions.

See this video: https://www.loom.com/share/9c88720d56d84d49a32073f22958a12f

_Original

[2021-01-29 14:31] razvanpapadopol commented on #47181
Maybe this would help: p9Jlb4-28F-p2

[2021-01-29 14:32] philnick206 commented on #43930
Reported in #27355842-hc

[2021-01-29 14:34] #49357 closed, assigned to razvanpapadopol

[2021-01-29 14:34] #49452 closed, assigned to razvanpapadopol

[2021-01-29 14:35] simison commented on #49466
Wasn't @jsnajdr recently fixing some E2E test issue in the site-title step?

[2021-01-29 14:38] tbradsha commented on #49364
Note that the issue seems to be that hiding the WPcom toolbar also hides things we need to show for the nav, so there should be a decoupling of masterbar and nav unification.

[2021-01-29 14:42] #47814 closed, assigned to StefanNieuwenhuis

[2021-01-29 15:33] michaeldcain opened #49473 "Post-Checkout Upsell: should reset window position when showing upsell"
### Steps to reproduce the behavior

1. As a new user, create a site and purchase a personal plan
2. The post-Checkout upsell will be rendered with the current window scroll position

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

https://user-images.githubusercontent.com/942359/106294560-4bc97680-621d-11eb-898a-6057691d0d18.mov

[2021-01-29 15:34] michaeldcain commented on #49473
@Automattic/martech-decepticons

[2021-01-29 15:48] Copons commented on #49358
Pinging @Automattic/luna as this might be related to #49004.

I can reproduce the issue following the steps provided.
I defer to you to know if the missing "Switch to Draft" button on Coming Soon sites is intentional (it looks like it is, but I have no familiarity with this area).

On top of this, I'd like to point out (as mentioned by the OP), that while "new" Coming Soon sites have the Launch bu

[2021-01-29 15:56] mattmiklic commented on #47089
My 2¢ would be that autofill is more valuable than visible-by-default. I don't know if the same autofill limitation is true for native apps but FWIW we default to not-visible.

[2021-01-29 16:01] danielwrobert commented on #48947
@jaswrks not that I recall offhand but I'm happy to help debug!

Quick note, this does seem to be working, as expected, in my local Calypso env:

https://user-images.githubusercontent.com/481776/106297973-50902980-6221-11eb-9252-b83fe26099d5.mov

[2021-01-29 16:07] Copons commented on #49353
Closing as not an issue. 🙂

[2021-01-29 16:07] #49353 closed, assigned to nobody

[2021-01-29 16:21] josephscott commented on #49374
@simison not based on this item:

If this was an issue with third-party cookies then a difference of a few seconds shouldn't matter.

[2021-01-29 16:26] Copons commented on #49282
Hi! I could repro this on Core Gutenberg as well.
I've opened [an issue on the Gutenberg repo](https://github.com/WordPress/gutenberg/issues/28600), and I'll close this as it should be fixed in Core. 🙂

[2021-01-29 16:26] #49282 closed, assigned to nobody

[2021-01-29 16:32] mattwiebe commented on #48973
Thanks @kjellr and @scruffian - we get there together, eventually. :)

The new patch is at D56218-code since I hadn't created one properly from the themes directory.

[2021-01-29 16:42] obenland commented on #49453
Could this be handled like https://github.com/Automattic/jetpack/pull/18560? From what I understand we don't need the menu item to show up, we just need the page accessible from that link?

[2021-01-29 17:02] cpapazoglou commented on #49453
Not exactly, the page is accessible `https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs&show=hidden` but the entry point is currently only through `https://wordpress.com/home`
![](https://cln.sh/XSnePM+)

[2021-01-29 17:09] metabreakr commented on #49364
@tbradsha Thanks for pointing that out! In my test site, I was using the [RTL Tester](https://wordpress.org/plugins/rtl-tester/) plugin which adds a button to the masterbar. For some plugins, there might not be another way to access their functionality.

[2021-01-29 17:10] danielwrobert commented on #48947
Does the `href` attribute on [line 86](https://github.com/Automattic/wp-calypso/blob/1f26655f91114d3f3aeaf67d11c1eb2c651f1186/client/blocks/upwork-banner/index.jsx#L86) need to be wrapped in curly braces?

Since it doesn't contain any expressions or variables, it's just a URL string, shouldn't that be written as `href="https://wordpress.com/built-by-wordpress-com/"`?

It still seems to render in t

[2021-01-29 17:19] rachelwinspear opened #49477 "Email receipt : Showing domain which is no longer mapped"
### Steps to reproduce the behavior

User received an email receipt of a recent purchase which also showed a domain name which had not been mapped on their site for 5 years:

From the users WordPress.com dashboard the old mapped domain name is not visible, nor does it appear on the receipt in under purchases from their dashboard, it only appeared in the email that was sent out.

Email Logstash:

#

[2021-01-29 17:31] katiebethbrown commented on #40792
Reported in 15184092-hc as well.

Shared this CSS to shorten:

[code]

[2021-01-29 18:17] bsessions85 opened #49480 "Cannot Preview Page right after site creation"
### Steps to reproduce the behavior

1. Add new eCommerce site through Gutenboarding
2. When you're taken to the editor with your home page, make some changes to the page
3. Click Preview link
4. Get an error that says "Sorry, you are not allow to preview drafts"

#### What I expected to happen
I expected to see the preview of my changes
#### What actually happened
I got an error
![image](https://

[2021-01-29 18:23] bsessions85 commented on #49480
I think this one was changed after I tested and seems to work now as the flow changed.

[2021-01-29 18:23] #49480 closed, assigned to nobody

[2021-01-29 18:49] obenland commented on #49453
Okay, so the underlying issue is that Post by Email can't be managed anymore. This doesn't seem to leave us with any good options.

Maybe we could rename that submenu item to make it less obtrusive on the Calypso side and show it under Settings?

[2021-01-29 18:58] mihpaese opened #49482 "Windows App Beta 8.9: Error on importing"
### Steps to reproduce the behavior

Steps made:

- Exported the XML file from 91Jyk-p2. It was downloaded as a ZIP file, but the help tip didn’t show that the user should unzip the XML content. When importing it to [removed], it gave me an error of invalid file.

- After unzipping the XML content, I opened the WordPress importer on new site. I checked and the automatic import is not valid for the

[2021-01-29 19:02] ockham commented on #46108
`stylelint --fix` should normally do the trick (but doesn't here). Reading the error messages, it seems unlikely that there are automated fixes for all of those. I'm not familiar with the `scales` set of lint rules, but @Automattic/team-calypso should be able to help here :slightly_smiling_face:

[2021-01-29 19:05] sarayourfriend commented on #46108
I'm fairly certain all of those _should_ be hand fixed. They're not just spacing/formatting issues, they create a material change to the UI so they should not be automated. Each should be reviewed and intentionally approved as an OK change.

Alternatively, they could be ignored if the UI should not be changed in those ways.

[2021-01-29 19:06] delputnam commented on #49112
I have tried to reproduce this, but was unable to.  Here's what I've tried:

1. Create a new site
2. Add a custom domain
3. Add a business plan
4. Install a plugin to make the site atomic
5. Set the expiry date for the business plan into the past
6. Remove the business plan
...at this point, the primary domain is now the `wpcomstaginc.com` subdomain as expected.

I also tried the above, but instea

[2021-01-29 19:17] bsessions85 commented on #42910
@obenland, I think the easiest way to take care of this is to shorten the timeout on the `isElementPresent` step. The default timeout is 20 seconds. I would think we could easily cut that down to 10 or even 5 seconds.

[2021-01-29 19:18] worldomonation commented on #49353
Added closure label.

Thanks for clarifying the set of behavior described in this issue.

For the domain availability behavior - clarification of how it works under the hood is much appreciated and I will give the P2s a read today.

As for the `.id` ccTLD - there are counterexamples with similarly generic queries returning more relevant suggestions, but it isn't an important issue.

[2021-01-29 19:19] creativecoder commented on #49455
I seem to remember mention of a toggle to prefer wp-admin pages when possible? Is that still in the works? I think that might solve the workflow issues (for blog ID 1, and likely other places, as well).

[2021-01-29 19:45] razvanpapadopol opened #49484 "Editor Checkout Modal: re-enable E2E test"
**What**
The [editor checkout modal test suite](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/wp-calypso-gutenberg-checkout-spec.js#L38) has been disabled in #48173 due to stability issues. It needs fixing and re-enabling.

**Why**
Adding coverage for a Premium Blocks upgrade flow and the upcoming Focused Launch flow (pbAok1-1IU-p2)

[2021-01-29 19:50] razvanpapadopol commented on #42081
@simison how's the status of domain-only flow? Are we going to support it in site creation or launch flows?

[2021-01-29 20:00] worldomonation commented on #1743
Hi! I'm triaging some older bugs on file as part of Quality Squad's efforts to cut down on issues.

Is this issue still applicable to `wp-calypso` as of 2021/01/29? From my brief testing I was unable to locate where this interface may be.

Would it be acceptable to close this issue with the status `[Closed] - Won't Fix`?

[2021-01-29 20:03] mikeicode commented on #45881
Another in Chrome 27317086-hc

[2021-01-29 20:03] folletto commented on #1743
This is still an interesting enhancement that surprisingly could still work... but given the time and the fact that at this point whoever wanted to improve it would have to work reviewing all the flows before getting here, it's ok to close it.

[2021-01-29 20:03] #1743 closed

[2021-01-29 20:22] bsessions85 opened #49486 "Clicking All Posts goes to WP-Admin posts instead of Calypso posts page"
### Steps to reproduce the behavior

1. On Atomic site, start writing a new post
2. Click the "W" on the top
3. Click "< All Posts"
4. You're taken to Wp-admin posts page, not the calypso posts page

#### What I expected to happen
I expected to see Calypso posts page

#### What actually happened
I saw the wp-admin posts page

### Context
I was doing testing

#### Browser / OS version
Chrome 88 Mac

[2021-01-29 20:59] bsessions85 opened #49487 "Homepage Created when setting up store has block errors"
### Steps to reproduce the behavior

1. Set up an new Ecommerce plan
2. When setting up your store, select to have a homepage created
3. Try to go edit that newly created homepage
4. There are block errors

#### What I expected to happen
I expected to see a good version of the homepage to edit

#### What actually happened
I actually saw a page with block errors

### Context
I was testing for pciE2

[2021-01-29 21:05] tbradsha commented on #49358
There's at minimum a major semantic difference between private and draft, so it'd be good to always allow drafts.

[2021-01-29 21:07] bsessions85 opened #49488 "Unable to change homepage when using store"
### Steps to reproduce the behavior

1. Create new ecommerce plan on existing account( it will use Gutenboarding)
2. You'll pick a homepage style you like
3. Then when you're setting up your store, it will ask if you want it to create a homepage. Click yes
4. Now go to your pages in Calypso and you'll see the created homepage has the homepage icon next to it.
5. Try setting the other homepage to b

[2021-01-29 21:09] worldomonation commented on #1568
Hi! I'm triaging some older bugs on file as part of Quality Squad's efforts to cut down on issues.

Is this still a relevant issue? It seems the Twitter share feature now opens Twitter in a new tab, so this UI is no longer present.

Would it be acceptable to close this issue with `Closed - Won't Fix`?

[2021-01-29 21:16] obenland commented on #46536
Is this something that still happens?

It looks like there was some work done on the author selector in Gutenberg after this was reported: https://github.com/WordPress/gutenberg/pull/26554
Merged to dotcom two days after the last report on this ticket. r218097-wpcom

[2021-01-29 21:22] travisw commented on #48947
We did hit a similar thing at some point in the past. I'm not recalling the exact situation, but I remember it being related to the routing that's being done and Calypso assuming that a path starting with `wordpress.com/` should be loaded by the app rather than redirecting to a new URL.
I'll try to track down where that was.

[2021-01-29 21:26] travisw commented on #48947
Here's the other situation that I was thinking of.
https://github.com/Automattic/wp-calypso/pull/40461

cc @danielwrobert in case this is helpful since I see you might already have a fix.

[2021-01-29 21:30] obenland commented on #46534
`player-widget.js` comes from mixcloud as part of their embed response.

@lakellie Have you found a way to reliably reproduce this at any point? I wonder if it's a caching issue or something on mixcloud's end about their embed responses.

[2021-01-29 21:32] worldomonation commented on #1644
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

This issue does not appear to be relevant now that we have moved to block-based editor. See screenshot:

![Screen Shot 2021-01-29 at 13 31 48](https://user-images.githubusercontent.com/6549265/106329504-63612900-6236-11eb-92ce-b264d35131fd.png)

Would it be acceptable to close this issue and app

[2021-01-29 21:39] scosgro commented on #49007
Another one - #3670104-zen

[2021-01-29 21:43] worldomonation commented on #9134
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

Is this still a relevant issue today? I used the block editor to play around with links, but I was not able to observe the copy link button when working with links in paragraphas.

![Screen Shot 2021-01-29 at 13 42 11](https://user-images.githubusercontent.com/6549265/106330299-cef7c600-6237-11e

[2021-01-29 21:44] obenland commented on #46548
Duplicate of #46536.

[2021-01-29 21:44] #46548 closed

[2021-01-29 21:55] ccwalburn opened #49492 "Nav Unification: Add Media File Size to Media Library"
**What**
The Media Library accessed from the Media section of the new Nav Unification dashboard does not show the file size for the individual media items.  I currently refer users to the Media Library on the WP Admin dashboard to see that information. Now that the WP Admin link is gone, it will be harder for users to see how big the individual files in their media library are.

**Why**
We often r

[2021-01-29 21:56] obenland commented on #46679
It looks like the case of https://misscharlesdexterward.de works again.

I looked at the underlying code that returns that error message and it indicates that the Jetpack site doesn't have [the JSON API module](https://jetpack.com/support/json-api/) enabled.

@ccwalburn Any chance we could see if activating that module fixes the situation for thequeensights.com?

[2021-01-29 22:08] razvanpapadopol commented on #49215
The difference seems to be just because of the responsive design. If you open the font screen on a larger screen, then the preview will match design thumbnail

[2021-01-29 22:11] worldomonation commented on #8910
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

Is there active consideration for this request to be implemented in the near future?

If not, would it be acceptable to close this issue with the label `Closed - Won't Fix`?

[2021-01-29 22:11] mattwiebe commented on #48973
The patch has been shipped and the horizon flow is previewing fonts for `tt1-blocks` properly.

[2021-01-29 22:16] obenland commented on #46693
Unless we can find someone from outside of Manage who'd be interested in advancing this upstream, I'm afraid this probably doesn't have a realistic chance to be fixed any time soon. From what I understand both parts come from upstream repositories where this should be addressed and there are just too many other tickets of higher priority before Manage would be able to start looking into this.

[2021-01-29 22:19] worldomonation commented on #11428
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I tested by putting my iPhone in offline mode, then attempting to refresh the Reader tab:
<img width="375" alt="PNGイメージ" src="https://user-images.githubusercontent.com/6549265/106333165-f43b0300-623c-11eb-83d0-cd69b5a817c0.png">

I am proposing that this issue be closed if no work is scoped in

[2021-01-29 22:26] worldomonation commented on #11013
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I quickly checked how posts are copied now, and it appears that calypso now uses a hamburger menu:
![Screen Shot 2021-01-29 at 14 24 37](https://user-images.githubusercontent.com/6549265/106333667-04071700-623e-11eb-9bd2-0473d5d411b2.png)

I am proposing to close this issue with an appropriate l

[2021-01-29 22:33] worldomonation commented on #10302
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

Is this issue still applicable today?

If not, the proposal is to close this issue with an appropriate label denoting reason for closure.

[2021-01-29 22:34] worldomonation commented on #14413
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

Is this issue still applicable?

If not, I am proposing to close this issue with an appropriate label denoting reason for closure if no work is scoped for the near term.

[2021-01-29 22:48] obenland commented on #47188
@ianstewart Is there a chance you might have any helpful tips as to how to debug and fix block styles in notification emails?

[2021-01-29 22:54] obenland commented on #46808
@ahmadbaig1 Which theme is running on the sites where you noticed that behavior? I was not able to reproduce it on a test site with Twenty Twenty enabled.

[2021-01-29 22:56] worldomonation commented on #7193
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

Is this issue still applicable?

I am proposing to close this issue with an appropriate label denoting reason for closure if no work is scoped for the near term.

[2021-01-29 23:02] worldomonation commented on #6911
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I tested the steps as follows:

1. Create a post.
2. Type text using Paragraph block.
3. Insert link to post on same blog.
4. Save post.
5. Preview.
6. Click on the link in preview.

While back/forward navigation does not appear to function in the preview window, it is possible to close the prev

[2021-01-29 23:02] obenland commented on #46802
@ebinnion Do you think there's a chance we've started running into API throttling again that may have caused the above issues?

[2021-01-29 23:06] worldomonation commented on #6878
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I was able to reproduce the issue. Pubished post that is trashed is restored as a draft, not returned to published status.

However, are there any work proposed to tackle this bug? I am proposing to close this issue with an appropriate label denoting reason for closure otherwise.

[2021-01-29 23:12] worldomonation commented on #7510
Hi! I am triaging older issues as part of Quality Squad's efforts to reduce issues.

I checked using Firefox 86.0a1 on Windows 10 and it looks like this:

![image](https://user-images.githubusercontent.com/6549265/106336634-33208700-6244-11eb-9ce6-8472d902ee44.png)

It looks like the text is now rendering similar to how Chrome rendered in the original post. Would it be acceptable to close this iss

[2021-01-29 23:13] obenland commented on #47386
@yansern @sixhours Any chance you could take another look at this?

[2021-01-29 23:21] worldomonation commented on #14166
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

This looks like a stale issue with no solid steps to reproduce.

I am proposing to close this issue with an appropriate label denoting reason for closure.

[2021-01-29 23:22] obenland commented on #47222
This looks to be fixed with https://github.com/Automattic/jetpack/pull/17697, I can't reproduce it on dotcom anymore.

[2021-01-29 23:22] #47222 closed

[2021-01-29 23:23] worldomonation commented on #14322
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I attempted to reproduce this but could not do so.

I am proposing to close this issue with an appropriate label denoting reason for closure if no work is scoped for the near term.

[2021-01-29 23:25] obenland commented on #47595
@simison Is this something Create could look at?

[2021-01-29 23:26] worldomonation commented on #13896
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I was able to perform bulk action on comments:
![Screen Shot 2021-01-29 at 15 24 50](https://user-images.githubusercontent.com/6549265/106337558-4a607400-6246-11eb-9cdb-8003f751f630.png)

I am proposing to close this issue with the label `Closed - Not Reproducible` as the action seems to have be

[2021-01-29 23:41] worldomonation commented on #13721
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I checked the behavior of he plan annual discount popover:

![Screen Shot 2021-01-29 at 15 34 50](https://user-images.githubusercontent.com/6549265/106338299-4c2b3700-6248-11eb-9831-8a44f451f1e8.png)
![Screen Shot 2021-01-29 at 15 35 14](https://user-images.githubusercontent.com/6549265/10633829

[2021-01-29 23:48] felipevelzani commented on #45881
One more on 10481933-hc.

It ended up working later on. It seems that it worked for the user after I saved from my end for making sure that I wouldn't reproduce.

[2021-01-30 00:25] dwolfe commented on #38082
I assume this can be deleted, but I would check with @ianstewart to be sure.

[2021-01-30 02:43] kellychoffman commented on #1644
Don't be shy to close old issues :) We can always reopen if still relevant.

[2021-01-30 02:43] #1644 closed

[2021-01-30 03:06] rosepajaroja commented on #45427
I also experience the issue of disconnecting Stripe account. I tested two different test WPCOM sites.

https://www.loom.com/share/a8e19f8fcc1644719f3968b7003fc5bd

This was supposed to be redirected to the `Connect Stripe` page after successfully disconnecting Stripe.

And to add, see the behaviour of the page after disconnecting "Stripe" below (refresh):

https://www.loom.com/share/f679ede386464d

[2021-01-30 03:39] rosepajaroja opened #49497 "Donations Block - One-Time Donation - Make account creation optional"
### What

https://www.loom.com/share/cfb2ae51fa494a6e8cc2f6a03d44df9a

Make WordPress.com account creation for **One-Time Donation** optional.

### Why

I understand this is required for Monthly/Yearly Donations to give people access to cancel the recurring payment. However, making it optional for people making one-time donations will make the transaction easier and faster.

A user came on chat to

[2021-01-30 03:50] rosepajaroja opened #49498 "Call to Action Pattern Block: Button Doesn't/No Option to Center"
![Alt text](https://d.pr/i/wfQMtu/BUJhBEPzxm+)

### Steps to reproduce the behavior

https://www.loom.com/share/5c7e6672ee714ca5a7a4cac94c2c1671

1. Create a page/post.
2. Add "Call to Action" Pattern Block.
3. Publish.
4. Preview page.

#### What I expected to happen

1 - The button is centered while looking at the live view.
2 - `Justify Content` option is visible, similar with the "Button Block

[2021-01-30 11:37] mattsherman commented on #9134
Yes, as this issue refers to the older editor, not the block editor.

[2021-01-30 11:37] #9134 closed

[2021-01-30 13:29] anastas10s-afk commented on #47657
Every step was taken through the app, as described above, so this artefact was displayed on step 5. Since the app version has progressed, not sure if this is still relevant tho. Let me know :)

[2021-01-30 14:24] drenjewski opened #53220 "Editor in Desktop app not working - always redirects to webpage"
#### Steps to reproduce
1. open desktop app
2. connect to self hosted wordpress page
3. go to "Posts"
4. press button for new post

#### What I expected
Up to a certain version an editor opened directly in the app allowing me to write a new post, add media and publish

#### What happened instead
Whenever I press the "Write" button to create a new post or try to edit an existing post I get redirect

[2021-01-30 14:49] BlueManCZ opened #49499 "Wrong StartupWMClass"
[WordPress.com for Desktop](https://github.com/Automattic/wp-calypso/tree/trunk/desktop#readme) Linux .desktop file has currently wrong StartupWMClass, so I don't see an icon of the application when running.

![Snímek z 2021-01-30 15-34-48](https://user-images.githubusercontent.com/17854950/106359331-6fbab400-6312-11eb-99e8-3f9455e0b57f.png)

It currently has `WordPress.com`:
[code]

but it should

[2021-01-30 16:44] msilbers commented on #49453
It was mentioned on the p2, but there are other reasons we send folks there as well, including removing themselves from sites, and for Post by Voice, so it would help to keep it easily accessible.

[2021-01-30 17:57] kingsleyinfo commented on #46226
I also confirmed this on the Desktop App. Following a new site does not show it on the sidebar, nor do the count for sites increase
Version 6.9.0-beta1

Windows 10 Pro
Asus Zenbook UX410UAR

Found during Beta Testing the app.

[2021-01-30 18:15] kingsleyinfo commented on #47432
I also confirmed this on the Desktop App. Following a new site does not show it on the sidebar, nor do the count for sites increase
Version 6.9.0-beta1

Windows 10 Pro
Asus Zenbook UX410UAR

Found during Beta Testing the app.
Screenshot: https://www.screencast.com/t/Ugbq46bEn

[2021-01-30 21:00] Aurorum commented on #49492
PR for this issue in #49500. :)

[2021-01-30 23:48] wpshellbelle opened #49501 "Reblogging from other WordPress.com sites is not available on Atomic sites"
When a user clicks the **Reblog** button added to another WordPress.com site, their simple sites appear in the list but not their Atomic site(s).

### Steps to reproduce the behavior

1. Go to any WordPress.com site with the reblog button enabled
2. Click on Reblog
3. Simple sites will appear but you are unable to reblog to an Atomic site

#### What I expected to happen

I expected to see Atomic s

[2021-01-31 11:04] yoavf opened #49503 "WP Import: broken state if not all users are assigned"
### Steps to reproduce the behavior

**Prerequisites:**
1. The source blog needs to have more than one user
2. The target blog needs to have more than one user

**Steps﻿**
1. Go to Tools/Import/WordPress
2. Click on 'upload it to import content'
3. Upload your XML WP export file
4. In the following screen, do not assign all users (leave at least one as "Choose an Author")
5. Click on "Start Import

[2021-01-31 11:42] #49112 closed, assigned to nobody

[2021-01-31 13:59] simison commented on #47595
Ah, we've seen this before. It's something at framework level (cc @Automattic/team-calypso and @ciampo who was looking into this).

[2021-01-31 17:14] jinnypark commented on #48650
This issue came up again in a ticket today: 3696727-zd-woothemes
Is there any updates/fix to this bug?

[2021-01-31 17:37] aleone89 commented on #30051
Reported here also. https://wordpress.com/forums/topic/indenting-paragraphs-3/

[2021-01-31 20:52] bluefuton commented on #14322
Thanks @worldomonation! Happy to close it. I wasn't able to reproduce it either (even with an empty local storage and throttled connection).

[2021-01-31 20:52] #14322 closed

[2021-01-31 21:41] mrfoxtalbot opened #49528 "Activity Log: Move backup restore/download buttons from the three-dot menu to a more visible place"
#### Steps to reproduce the issue

1. Go to Activity Log.
2. Filter Backups.
3. Look for a way to restore these backups. The fact that you need to click on the three-dot menu is not immediately obvious to many users.

#### Context

The three dots approach makes sense when the length of the content in the `post-item__detail` and `post-item__title` areas is variable and could potentially be very lon

[2021-01-31 21:55] ccwalburn commented on #46679
`thequeensights.com` is not a WordPress.com site, so I don't have access to it for testing. This error was reported by a WordPress.com user who was trying to post a comment on that site.

[2021-01-31 22:25] mrfoxtalbot opened #49529 "Backups: Show the most recent available back up, not the next scheduled one."
#### Steps to reproduce the issue

1. Click on Jetpack > Backups
2. You will see this message: "_Backup Scheduled: In the next XXX hours_"

#### What I expected / What happened instead

I expected to see a clear option/button to restore or download the most recent backup.

Instead, I was informed about the next scheduled backup. There are two ways to navigate to the previous backup (see below) but

[2021-01-31 22:29] p-jackson commented on #47089
I agree. I'll create a PR and @ some folks so we can duke it out there.

Update: PR created #49441

[2021-01-31 23:03] kristarella opened #49505 "Sharing buttons: messaging for private sites"
**What**
Add a message on private sites explaining why the sharing buttons section is empty.

**Why**
It can be confusing for users with new sites still in private/coming soon as to why their sharing buttons do not appear and why they can't edit them.

**How**
Just a simple text message would be enough, like this:
<img width="1033" alt="Screen Shot 2021-02-01 at 09 57 29" src="https://user-images.

[2021-01-31 23:39] ollierozdarz commented on #49419
@simison this [ticket](https://github.com/Automattic/wp-calypso/pull/48780#event-4257619646) might be what you're thinking of? I suggested and mocked up truncating the name (easiest option compared to trying to hack @media queries) but the ticket was put on hold.

[2021-01-31 23:48] kristarella commented on #49007
23391318-hc

Sending block to Trash, and then restoring (which goes to Draft), and then editing as draft worked.

[2021-01-31 23:48] ollierozdarz commented on #49328
I think it wouldn't be unreasonable for us to truncate this, say with an ellipsis, at a certain width that makes sense.

[2021-02-01 01:37] ramonjd commented on #47690
Going to go ahead and close this issue 🎉

I think we've covered the spec. 🙇

[2021-02-01 01:37] #47690 closed, assigned to nobody

[2021-02-01 01:39] jinnypark commented on #37079
Is there an update to this issue? Another report of the issue here: [edited]

[2021-02-01 02:31] TeniCola commented on #49007
Another report -- #27408256-hc

[2021-02-01 03:05] ramonjd commented on #47846
@p-jackson pointed out that Gutenberg style guide does specific [Title Case as a preference for dashboard headings](https://github.com/Automattic/wp-calypso/pull/49506#issuecomment-770529824)

Closing for now.

[2021-02-01 03:05] #47846 closed, assigned to nobody

[2021-02-01 03:07] p-jackson commented on #47846
I struggled to decide between "Won't Fix" and "Not an issue" labels. In the end I didn't want to say it's "not an issue", because the overall inconsistency between Calypso and Gutenberg _is_ an issue. It'd be nice if Calypso could start following core IMO.

[2021-02-01 03:16] kraftbj commented on #48841
Note that, although it was sidetracked, we're going to be moving this to our free plan soon. https://github.com/Automattic/jetpack/pull/17309

Ground Control will be picking up and getting it across the line in March, so ideally shipping in the April 6th release.

[2021-02-01 03:20] ollierozdarz commented on #49339
@ciampo @razvanpapadopol yeah, this makes a lot of sense to me. I think it makes a users experience more personalized (remembering their plan and billing period), makes us look like we remembered (like all of these pages are connected), and feels like the right decision to make!

[2021-02-01 03:46] formosattic opened #49508 "Reusable blocks - can't be deleted in Draft mode"
If a Reusable block is set to Draft, here's what happens when deleting it:

From the Reusable blocks page:
`Sorry, you are not allowed to move this item to the Trash.`

<img width="870" alt="Screen Shot 2021-02-01 at 11 35 43" src="https://user-images.githubusercontent.com/15944096/106412452-c6df9680-6482-11eb-8ab9-52a35458fb2b.png">

From within the editor:
`Sorry, you are not allowed to delete t

[2021-02-01 04:03] ollierozdarz commented on #49253
Thanks, @ciampo @razvanpapadopol.

I think you're both right in this scenario.

The addition of this billing period toggle after the initial designs were created means that the interaction for selecting a plan would now have to change (as per Raz's comment).

To suffice @ciampo's idea of 'not deselecting the plan when the billing period is toggled', we'd need to add a Gutenboarding style 'Continue

[2021-02-01 04:26] worldomonation commented on #1644
Thanks for the heads up! 😄

[2021-02-01 05:27] #49088 closed, assigned to becdetat

[2021-02-01 06:18] becdetat commented on #49273
Support doc is here: https://wordpress.com/support/new-woocommerce-experience-on-wordpress-dot-com/

Original post has been copied here: https://becdetathome.wpcomstaging.com/2021/02/01/new-woocommerce-experience-on-wordpress-com/

So, when the new WooCommerce nav is live the images will have to be reverted to the original ones showing the new nav - see [Store|Woo: Update Store removal documentati

[2021-02-01 06:18] autumnfjeld opened #49510 "WelcomeTour: Launch Experiment"
A few bugs and final sanity checking.
ETA: in some timezone in the world on Feb 1, 2021.

D55985-code
pbAok1-1Dh-p2#comment-3871

[2021-02-01 06:29] frontdevde commented on #48009
All issues addressed in
https://github.com/Automattic/wp-calypso/pull/49408
https://github.com/Automattic/jetpack/pull/18592
code-D56147

[2021-02-01 06:29] #48009 closed, assigned to frontdevde

[2021-02-01 07:23] simison commented on #49419
Yeah, I think the solution here is to just make it look more like an input:

Not very high priority right now I'd say.

[2021-02-01 07:34] ciampo commented on #47595
As @simison wrote, we've been aware of this issue for a few months. I started investigating into the problem, and then @jsnajdr took over since the solution would require a substantial refactor of how the routing works in Calypso.

We can probably close this issue and leave the original (#46084) open?

[2021-02-01 07:35] frontdevde commented on #47049
Note: there's a WP.com What’s New Product Announcements feature (pbBQWj-AH-p2) that will do something similar in Calypso. They are using the core [Guide](https://github.com/WordPress/gutenberg/tree/d9e7541fe29c0022f2f5de2570ec60bee670aede/packages/components/src/guide#readme) component and it was suggested we consider this as well.

[2021-02-01 07:35] jsnajdr commented on #47595
What is going on:
1. Server renders a page for `/start/account`, which is a mostly empty placeholder which has `is-section-signup` and `is-white-signup` CSS classes on the `body` element.
2. Now the expectation is that the client app renders a `<Layout />` component with a `<BodySectionCssClass section="signup" bodyCssClass="is-white-signup" />` subcomponent. That `<BodySectionCssClass />` will ta

[2021-02-01 07:38] jsnajdr commented on #47595
@ciampo I think this issue is different, although both involve the `body.is-section-signup` CSS class. The original one was about a short flash of broken content between the page.js navigation and the `setSection` Redux action dispatch. But here the broken content is permanent.

[2021-02-01 07:38] simison commented on #47595
I'll add one more solution:
- Get rid of blue color on signup (kinda what we're headed but it'll take time) :-)

[2021-02-01 07:46] jsnajdr commented on #47595
Here it's not just the colors that make things break. There is also a `body.is-section-signup .layout__content { padding }` rule that makes the sidebar overlap with the main content. We should refactor these exceptions to a more generic `.has-no-sidebar` CSS class.

[2021-02-01 08:17] frontdevde opened #49517 "Nav Unification: account for color changes in WordPress 5.7"
It looks like there will be a number of subtle color changes to the wp-admin interface in WordPress 5.7, most notably maybe the settings background. We'll have to assess the impact of this on Nav Unification and account for it ahead of time.

Visual comparison of changes:
https://ryelle.codes/core/colors/index.html

Related code changes:
https://github.com/WordPress/wordpress-develop/pull/818
http

[2021-02-01 08:26] frontdevde opened #49519 "Nav unification: account for admin menu hover/focus state changes in WordPress 5.7"
WordPress 5.7 will introduce new hover/focus states to the admin menu. We'll have to assess the impact of this on Nav Unification and account for it ahead of time.

Screenshots of changes:
https://cloudup.com/cdWzjq0yvuq

Related code changes:
https://core.trac.wordpress.org/changeset/49961

[2021-02-01 08:27] cpapazoglou commented on #49453
That could work, "Manage My Blogs" would be better?

There is one more problem though. `https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs&show=hidden` is the WPAdmin of the `dashboard.wordpress.com` site

Before | After
-------|------
![](https://cln.sh/13KuVU+) | ![](https://cln.sh/G3JP4d+)

so being able to navigate to that page from eg "My Simple Free" site is kind of weird cause

[2021-02-01 09:09] getdave commented on #49396
Good catch @cpapazoglou.

[2021-02-01 09:14] ramonjd commented on #49240
Okay, I can kick off the discussion on which tasks we can define for this.

I can see 3 tasks we can start straight away:

1. Move the page picker component code to /packages so we can pull in into the ETK plugin, e.g., `import PagePicker from '@automattic/wpcom-page-picker';` @roo2
2. Implement the new design (can be done in parallel) including design image previews @autumnfjeld
3. Check the patt

[2021-02-01 09:40] jsnajdr commented on #49466
@simison I disabled the entire Gutenboarding suite in #48729 and then @bsessions85 fixed the e2e tests and enabled them in #49126.

Then a week later @p-jackson disabled just one test from the suite in #49366. I'm not sure if these two issues are related to each other or not.

[2021-02-01 09:48] razvanpapadopol commented on #49339
Thanks for your confirmation, @ollierozdarz! 🙌🏼
Here are 3 short demos with how this feature work across the flows: https://github.com/Automattic/wp-calypso/pull/49518#pullrequestreview-580120046

[2021-02-01 09:53] getdave commented on #49228
@mattsherman Would it be ok to get an update on your progress with Woo support? Any blockers we can help with? Are you working to any time frames? Much appreciated.

[2021-02-01 10:33] ciampo opened #49525 "Plans Grid: disabledLabel is not used in the table variant"
### Steps to reproduce the behavior

1. Open Focused Launch modal
2. Pick a premium domain
3. Click "View all plans"
4. The free plan is disabled, but the button's text says "~Select free~"

#### What I expected to happen

The label of the disabled plan should be "~Unavailable with domain~", as spec'd in #47788

### Context

Regression caused by #48622

#### Screenshot / Video: If applicable, add

[2021-02-01 10:35] tjcafferkey commented on #47049
**Couple of questions:**
* Should we only be showing this to existing users, or new users as well?
* To avoid any dependency on Calypso should we create this in `/packages/[announcements / nav-unification]` in case scope increases in future and this does end up getting rolled out to other environments? (E.g. WPCOM Block Editor, WP Admin)

[2021-02-01 10:45] Copons commented on #13896
Hi @worldomonation! Thanks for fishing this up, I'll close it as it's not relevant anymore (the OP is even referring to an old experiment that we never shipped!) 🙇‍♂️

[2021-02-01 10:45] #13896 closed

[2021-02-01 10:49] yansern commented on #47386
I don't think the hamburger menu has been removed from the masterbar (as in the masterbar with the black background, right?) as from a recent PR (on Gutenberg) I see it is there https://github.com/WordPress/gutenberg/pull/28526.

I think perhaps old fix do not apply to new ones. It's most likely there are changes over time and probably would be easier to apply a new fix that works and keeping old

[2021-02-01 11:15] #46114 closed

[2021-02-01 11:21] cpapazoglou commented on #47049
That's a good question. Current plans, include enabling nav-unification for specific segments ( eg all users with User IDs ending in `3` ) and then ramping up. With that in mind, new users should also be shown that modal _when_ their User ID is included to the launched segment. On the other hand, since we are not a/b testing at all it could make sense enabling `nav-unification` for **all** new use

[2021-02-01 11:37] jeherve commented on #49528
Transferring this to the Calypso repo, where this UI is built.

[2021-02-01 11:38] jeherve commented on #49529
Transferring this to the Calypso repo, where this UI is built.

[2021-02-01 11:43] Copons commented on #49282
Update: there's a big refactor of the Gallery block in core Gutenberg that might ship soon enough: https://github.com/WordPress/gutenberg/pull/25940

It changes the UI of the block, turning each image into blocks in themselves, and moving all the contextual buttons (move, edit, remove) in their own toolbar.

[2021-02-01 11:50] Copons commented on #49358
I agree that we should keep the switch to draft function on _any_ site status.

BTW when I said it was hidden intentionally, I forgot to point out where:

https://github.com/Automattic/wp-calypso/blob/795c89aa165ddd92a3e33388aaa00bf696bb7d60/apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch/src/launch-button/styles.scss#L2-L5

[2021-02-01 12:01] yansern commented on #49358
I'm trying to track down the historical reasons behind hiding the draft button. It was first introduced in this PR back in June 2020 but it wasn't explained why. https://github.com/Automattic/wp-calypso/pull/42933/files

I don't see a reason why a post can't be draft when the site is not launched (unless the purpose is less confusion for new users, but if that's the case, it would be tricky to det

[2021-02-01 12:02] tjcafferkey commented on #47049
Thanks @cpapazoglou, I guess it will be based on the following criteria then:

* User is an existing user, or a new user.
* User falls into the segment which nav unification is enabled for.
* User has not seen this modal before.

On this last point. How do we want to track this state? The obvious answer would be localStorage however we know that if the user:

* Clears browser data
* Uses a differe

[2021-02-01 12:10] WunderBart opened #49534 "Gutenberg: 9.9 upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/48950
Release notes: [v9.9.0](https://github.com/WordPress/gutenberg/releases/tag/v9.9.0), [v9.9.1](https://github.com/WordPress/gutenberg/releases/tag/v9.9.1), [v9.9.2](https://github.com/WordPress/gutenberg/releases/tag/v9.9.2), [v9.9.3](https://github.com/WordPress/gutenberg/releases/tag/v9.9.3)

### Process

- [x] Install and ac

[2021-02-01 12:24] alshakero commented on #49410
Closing as fixed https://github.com/Automattic/wp-calypso/pull/49464.

[2021-02-01 12:24] #49410 closed, assigned to alshakero

[2021-02-01 12:26] cpapazoglou commented on #47049
Hmm, now that I read my comment, my answer "yes" doesn't make sense. What I meant is, show the modal regardless of whether the user is new or existing. Just use `config.isEnabled( 'nav-unification' )` and whether the modal hasn't been shown before.

Not sure how this pbBQWj-AH-p2 will work, I suppose it should already have a tracking mechanism. FWIW though, `Banner` already has a tracking mechanis

[2021-02-01 12:33] razvanpapadopol commented on #49339
Fixed in #49518

[2021-02-01 12:33] #49339 closed, assigned to razvanpapadopol

[2021-02-01 12:34] StefanNieuwenhuis opened #49535 "Focused Launch: Apply best practices to `useSelect` in hooks"
Triggered by this https://github.com/Automattic/wp-calypso/pull/49412#discussion_r567601827, we have to apply best practices to the `useSelect` method used in hooks.

Currently, we're using `useSelect` in a suboptimal way, which:
1. Introduces outright bugs.
2. Is slower (in some cases).
3. Causes more React rerenders than it needs to.

We already did some optimizing (e.g. #49412) but now it's tim

[2021-02-01 12:44] ciampo opened #49536 "Plans data-store: improve unit tests"
## What

Currently, [unit tests for the plans data-store](https://github.com/Automattic/wp-calypso/tree/trunk/packages/data-stores/src/plans/test/) have several TypeScript errors, mostly due to the mock objects not having all the needed properties

## Why

We need to make sure that those unit tests are using mock data that is as close as possible to real data

## A/C

- [ ] The mock data used in t

[2021-02-01 12:49] mmtr opened #49537 "Nav Unification: Add Jetpack CRM and Jetpack Boost links"
As agreed in p1HpG7-aZK-p2, when the Jetpack CRM and/or the Jetpack Boost plugins are activated, their menu entries should be grouped along with the global Jetpack menu entry.

Quick mockup (please note that each menu entry will have a different icon set by the plugin):

<img width="270" alt="Screen Shot 2021-02-01 at 13 48 06" src="https://user-images.githubusercontent.com/1233880/106460837-35792

[2021-02-01 13:04] niranjan-uma-shankar opened #49538 "Quick Start: Footer links to reschedule/cancel not working"
1. When a new Quick Start session is scheduled or an existing appointment is rescheduled, the automated email that is sent does not have its footer links working.

<img width="646" alt="Screenshot 2021-02-01 at 6 24 14 PM" src="https://user-images.githubusercontent.com/1269602/106462271-dc24e700-64bb-11eb-9814-25f226c88276.png">

2. When a Quick Start appointment is cancelled, the footer copy is n

[2021-02-01 13:04] niranjan-uma-shankar commented on #49538
Fixed in D56278-code.

[2021-02-01 13:11] patrycjakiljanska opened #49539 "Unable to access automattic.com wp-admin"
I need wp-admin access to edit automattic WWU page and job posts. However, I am not able to access them.

### Steps to reproduce the behavior

1. Go to https://automattic.com/wp-admin/
2. Click on "Pages"
3. See error: I am redirected to all pages that I follow instead of seeing pages and posts on automattic website, screenshots attached.

#### What I expected to happen

I expected to access all p

[2021-02-01 13:12] StefanNieuwenhuis opened #49540 "Split DomainSuggestion type to differ between free and paid suggestions"
Currently, we use `DomainSuggestion` for both paid and free domain suggestions but they are quite different. For example, the paid suggestions contains WHOIS and pricing-related data (e.g. `supports_privacy`, `raw_price` & `vendor`) which is irrelevant to free suggestions. This is because the free suggestions are subdomains while paid suggestions are FQD.

It makes more sense to refactor `DomainSu

[2021-02-01 13:27] tjcafferkey commented on #47049
Sorry, I think I miscommunicated what I meant by tracking the state. The tracking you mention above is tracking events, whereas I meant how we want to keep track of the state of the modal so that we know it has been shown (e.g. persistent storage).

I'll move towards a localStorage solution for now and we can update that if required.

[2021-02-01 13:32] cpapazoglou commented on #47049
Nope, you did pretty well! I have probably guided you to the wrong line. Here you are https://github.com/Automattic/wp-calypso/blob/ed3e91545e431da92beeffcbe80289eadde067c0/client/components/banner/index.jsx#L49-L50

with `dismissTemporary = false`

You can better understand how it works here https://github.com/Automattic/wp-calypso/blob/2b8a9b4f46663d567724d5c1a99ec20d637eddd8/client/blocks/dismi

[2021-02-01 13:44] mrfoxtalbot opened #49543 "Audio player widget shows default browser styling on homepage only"
### Steps to reproduce the behavior

1. Add an audio widget to a widget area that shows across the entire website
2. Visit the public site's homepage (set to either recent posts or a static page), look at the widget
3. Browse o a different section and look at the audio widget again.

#### What I expected to happen
I expected the audio widget to have either a custom style or the browser default sty

[2021-02-01 13:56] tyxla commented on #48408
Several more PRs today to reduxify the last bits:

#49530 - Purchases: Reduxify notices in `RemovePurchase`
#49533 - Purchases: Reduxify notices in `GSuiteCancelPurchaseDialog`
#49541 - Purchases: Reduxify notices in payment method forms
#49542 - Help: Reduxify notices in `HelpContact `

Furthermore, #49461 takes a stab at typing the notices actions, and #49544 deprecates the old notices library.

[2021-02-01 13:58] razvanpapadopol commented on #49253
Thanks for your input, @ollierozdarz !

At that point, for consistency, we should probably turn also Domain selection modal to a 2-step process using a _Continue_ button.

I agree we can put this on hold for now and we can discuss it further after running the first iteration of the experiment. Also, I think the UX is acceptable after the fix we have just added to have the correct billing period pr

[2021-02-01 14:29] mmtr commented on #49455
Yes, it's still in progress: https://github.com/Automattic/wp-calypso/issues/47043

While that can be used as a workaround, the setting will change all the links of all the user' sites. Users may still prefer to have Calypso links except for blog ID 1, so we still need a way to entirely disable the Calypso links for unsupported sites.

[2021-02-01 15:11] mmtr commented on #49262
I agree with https://github.com/Automattic/wp-calypso/issues/47043#issuecomment-766963036 as well, it's a better solution than showing the quick toggle that I suggested.

For conflicting pages, rather than choosing one, we could present both in the menu and make sure they are named differently.

Example:
- Users
  - All people: `wordpress.com/people/team/:site`
  - Edit users: `/wp-admin/users.php

[2021-02-01 15:15] ryelle commented on #49517
FYI, the body background color was updated from those screenshots (to #f0f0f1), and some button colors will be updated shortly (see [#52402-core](https://core.trac.wordpress.org/ticket/52402)).

Some other links that might help:
- [The color palette](https://codepen.io/ryelle/full/WNGVEjw) that these changes were made from, these are now the only colors used in core (with varying opacity)
- A [pos

[2021-02-01 15:23] JoshuaGoode opened #49548 "Domains: Transferred-in domains show no indication of name server changes required"
Domains: Transferred-in domains show no indication of name server changes required

When a user transfers in a domain, it will keep the name server settings it had prior to starting the transfer.

This is good in many cases.  However, users can set the domain as primary and there is no notice that they need to toggle on our name servers if they want to use it with their WPCOM site.

The user then

[2021-02-01 15:30] jjchrisdiehl opened #49549 "Nav Unification - WP-Admin redirect links (i.e Feedback) load an incorrect sidebar"
Some links, like Feedback, direct you to an odd WP-Admin that says ‘Browse Sites’ instead of Switch Sites, clicking on Browse sites then brings you to a generic site selection page. The 'odd' sidebar is also missing some links like WooCommerce, Marketing, and Jetpack.

### Steps to reproduce the behavior

1. Load any site, simple or Business, from My Sites or Switch Sites
2. Click on any link that

[2021-02-01 15:34] ianstewart commented on #49404
Given that we use wpcom sites as "source sites" via our pattern toolkit to deliver patterns to the Editor on wpcom … is it possible to do an automated update/publish event on all posts on a source site? Whether that's through a job or command-line trigger?

cc @andrewserong as I think we may have discussed this at some point as a future idea?

[2021-02-01 15:38] jjchrisdiehl opened #49550 "Nav Unification - Installing plugin on simple site leads to incorrect sidebar"
This is a continuation of this issue #49549

### Steps to reproduce the behavior

1. On a simple site, install a new plugin to AT site
2. After AT, site loads the incorrect 'Browse Sites' sidebar as noted in above issue

#### What I expected to happen
I expected only one consistent sidebar to load

#### What actually happened
The sidebar as it is now loads in two different states, a calypso state,

[2021-02-01 15:41] ianstewart commented on #49404
I believe when Gutenbreg block syntax is updated in a publish/update event that the Editor throws alerts to the console. If this is the case it would be good to track that via our Pattern source sites. It may be useful for catching regressions or issues in Gutenberg that we can help fix. In pseudo-code what I mean is …

- IF a mass update has been run on a patterns source site
- AND IF a gutenberg

[2021-02-01 15:41] AtrumGeost opened #49552 "User was able to add a plan on a site with an existing expired plan"
Hi folks!

I wasn't able to reproduce the issue. But sharing in case you are able to find out what caused this:

### What happened

Got a user in chat who had an expired Premium plan and also a brand new Personal plan (at the same time)

#### What I expected to happen

For the expired Premium plan to be automatically removed when they purchased the Personal plan

#### What actually happened

They

[2021-02-01 15:42] cathymcbride commented on #49548
Fyi: @daledupreez

[2021-02-01 16:08] creativecoder commented on #49455
Ah, didn't realize it was a per user setting. That makes sense though, thanks for clarifying!

[2021-02-01 16:12] obenland commented on #46679
Thanks for the feedback @ccwalburn! In that case there's not much we can do here as it's not something we can really "fix", I'm afraid.

On the positive side, we now have a first troubleshooting step: Making sure the site's JSON API module is active.

[2021-02-01 16:12] #46679 closed

[2021-02-01 16:17] cathymcbride commented on #46534
I'm not reproing this anymore. @lakellie if you can't either, then let's close this one!

[2021-02-01 16:20] obenland commented on #49453
@sfougnier What's your opinion on where this should live and how it should be called?

[2021-02-01 16:24] tjcafferkey commented on #47049
By the look of things the [`<Guide />`](https://github.com/WordPress/gutenberg/tree/master/packages/components/src/guide) component does not achieve 100% design parity by default unless some we start overriding the component markup & styles. The guide component renders the image and text on top of each other rather than side-by-side as per the [designs](9cy0DIowQkPAu0rodb9jsL-fi-1166%3A75342).

**

[2021-02-01 16:31] jjchrisdiehl opened #49553 "Nav Uni - WooCommerce and Marketing (and perhaps other links) links are missing"
To access Marketing, or WooCommerce, you need to trigger the wp-admin redirection by clicking on a link that redirects to WP-Admin like Feedback or Plugins.

### Steps to reproduce the behavior

1. Go to Calypso version of nav uni
2. Notice that WooCommerce and Jetpack are missing, curiously Products appears.
3. Find a link that redirects to WP-Admin, try Feedback
4. Load a WP-Admin variant of the

[2021-02-01 16:40] cathymcbride commented on #47657
duplicate of https://github.com/Automattic/wp-calypso/issues/47430

[2021-02-01 16:40] #47657 closed, assigned to nobody

[2021-02-01 17:00] nsakaimbo commented on #53220
Thanks for the report, @drenjewski. Couple of quick questions:

1. Is Single Sign On enabled for the self-hosted site? This is required in order to use certain features in-app (like the editor).
2. Also, the Classic Editor plugin is not supported in the app, so you may want to consider deactivating/uninstalling it if it is enabled.

[2021-02-01 17:35] danielwrobert commented on #48947
Reopening this.

I've deployed my changes in #49481 and, while everything worked as expected on staging, the issue still seems to persist in production.

It seems like there may be something to @travisw's note above that's worth exploring.

[2021-02-01 18:38] Addison-Stavlo commented on #48149
The underlying issue is fixed and the layout-grid now works properly in the site editor.

However, it looks like our FSE onboarding patterns no longer use the layout-grid block anyways. 🤣

[2021-02-01 18:38] #48149 closed, assigned to Addison-Stavlo

[2021-02-01 18:42] Addison-Stavlo commented on #48276
The underlying issue with the layout-grid is fixed and should be live.  It looks like this block is no longer used in the starter design either though so this should be good to close.

👍   -  Should be good to use that block again if you want that back in the design.  Other than that Im not sure if there is anything left to follow up on here. (feel free to re-open if i am mistaken).

[2021-02-01 18:42] #48276 closed, assigned to Addison-Stavlo

[2021-02-01 19:06] #1568 closed

[2021-02-01 19:07] #11428 closed

[2021-02-01 19:07] #11013 closed

[2021-02-01 19:08] #10302 closed

[2021-02-01 19:08] #14413 closed

[2021-02-01 19:10] worldomonation commented on #46693
Given the comment above, I would propose closing this issue with label `Closed - Won't Fix`.

[2021-02-01 19:11] #7193 closed

[2021-02-01 19:12] #7510 closed

[2021-02-01 19:13] #14166 closed

[2021-02-01 19:14] #13721 closed

[2021-02-01 19:20] obenland commented on #48307
I don't think we'll realistically be able to fix this bug before Nav Unification gets shipped—which will fix this bug. I'm afraid we'll have to live with this a little while longer but it will be a thing of the past soon.

[2021-02-01 19:20] #48307 closed, assigned to nobody

[2021-02-01 19:22] lakellie commented on #46534
I could reproduce it reliably at the time, but not anymore! Will close this out 👍

[2021-02-01 19:22] #46534 closed

[2021-02-01 19:57] worldomonation opened #49562 "Popover Cart: "Add a plan" button does nothing on Plans page"
### Steps to reproduce the behavior

1. Go to My Sites > Upgrades
2. Click on Cart
3. If any items are present, remove them
4. click on button labeled `Add a plan`

#### What I expected to happen
User is taken to the page listing plans available to them.

#### What actually happened
Nothing occurs if user is on tab labelled `Blogs and personal sites`.
If user is on tab labelled `Business sites and

[2021-02-01 20:01] worldomonation commented on #49562
The title is *technically* incorrect as described in the `What I expected to happen` section in the issue description, but I believe it captures the reaction of a typical user when they click on the button and expecting it to take them to a plan listing page.

[2021-02-01 20:05] lakellie opened #49563 "Content position on existing cover blocks has been reset to center in visual editor"
I was in the middle of troubleshooting a different bug and noticed this issue occur immediately after the update to Gutenberg v9.8.3 on simple sites.

### Steps to reproduce the behavior

This may be a little difficult to reproduce because you would to have _already_ had a page or post with a cover block set to a position besides center-center. I have one that I can share if needed.

1. Select the

[2021-02-01 20:09] worldomonation commented on #1724
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

It appears that this behavior remains on current `wp-calypso`:
![Screen Shot 2021-02-01 at 12 07 12 PM](https://user-images.githubusercontent.com/6549265/106512192-212e2680-6486-11eb-9df7-74d9fbf829c3.png)

However, since there has been no activity on this issue since 2017, it will be closed wit

[2021-02-01 20:09] #1724 closed

[2021-02-01 20:20] worldomonation commented on #1309
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

As there has been no recent activity on this issue, it will be closed with the label `Closed - Won't Fix`.

If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-01 20:20] #1309 closed

[2021-02-01 20:20] jjchrisdiehl opened #49564 "Appearance sub links go to an 'Oops' screen, then takes you to the customizer"
Update - this appears to apply background, widgets, header, and menu. So the below details Appearance > Widgets, but it affects all of these links.

### Steps to reproduce the behavior

1. Go to Appearance > Widgets
2. Witness an Unexpected Error message page appear
3. Redirect to Customizer, but not on the Widgets tab

#### What I expected to happen
I expected this Widgets link to actually open t

[2021-02-01 20:28] yaelirub opened #49565 "Hitting back in checkout screen takes you all the way back to the beginning of site creation"
While building an empathy site for my sister https://pick2pic.com/ I picked the e-commerce plan and when I saw the final price I got nervous and wanted to go back and look at the plans again but when hitting back I was taken to the beginning of site creation, all the work I put in choosing designs and fonts gone.

FYI -
* As you can see in the video, you can hit back on other screens
* I went thro

[2021-02-01 20:29] simison commented on #49565
cc @razvanpapadopol

[2021-02-01 20:36] simison commented on #49565
This might be the case where we need something akin this — (it's from Godaddy):

<img width="896" alt="image" src="https://user-images.githubusercontent.com/87168/106515154-ea83fa80-64dd-11eb-8ce3-6453a746c33d.png">

[2021-02-01 20:38] yaelirub commented on #49565
Hey @simison , just out of curiousity, can we not just take them back to the plans page?

[2021-02-01 20:54] ianstewart commented on #38082
We can close this one out. Thanks for the ping, @dwolfe.

[2021-02-01 20:54] #38082 closed

[2021-02-01 20:56] ianstewart commented on #47188
No, but perhaps @mikeshelton1503 might have some specific email tips?

[2021-02-01 20:58] worldomonation commented on #6796
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

As there has been no recent activity on this issue, it will be closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-01 20:58] #6796 closed

[2021-02-01 21:02] JoshuaGoode commented on #49007
Encountered on 23372432-hc

[2021-02-01 21:04] worldomonation commented on #6486
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

This issue is still reproducible as of this date.

![image](https://user-images.githubusercontent.com/6549265/106517911-f942c100-648d-11eb-98d0-25bdc00f0124.png)

[2021-02-01 21:07] worldomonation commented on #2853
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

While the behavior described in this issue remains on current `wp-calypso`, there has been no activity on this issue in 10 months. As such, this issue is being closed with the label `Closed - Won't Fix`.

If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-01 21:07] #2853 closed

[2021-02-01 21:12] jjchrisdiehl opened #49568 "Leaving the Customizer loads your primary site instead of the site you were last on"
### Steps to reproduce the behavior

1. Go to WordPress.com admin area for a site _other than your primary site set in your account settings_.
2. Click on Appearance > Customize
3. Exit the Customizer
4. Note that instead of going back to the site you were working on, you're instead brought to your primary site

#### What I expected to happen
I expected to end up back in the site I originally came

[2021-02-01 21:14] worldomonation commented on #2570
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

It appears that in both the posts management page and Reader, hovering over shows the specific time of the post, but in different formats:

Posts management
![Screen Shot 2021-02-01 at 1 12 40 PM](https://user-images.githubusercontent.com/6549265/106518920-63a83100-648f-11eb-8f13-4823424a491c.pn

[2021-02-01 21:14] #2570 closed

[2021-02-01 21:25] worldomonation commented on #7342
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

As there has been no recent activity on this issue, I propose to close this issue with the appropriate issue label.

[2021-02-01 21:25] worldomonation commented on #7339
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

As there has been no recent activity on this issue, it will be closed with the label  `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-01 21:25] #7339 closed

[2021-02-01 21:29] worldomonation commented on #7461
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I was able to reproduce something similar:
[code]

However, as there has been no recent activity on this issue, it will be closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-01 21:29] #7461 closed

[2021-02-01 21:30] razvanpapadopol commented on #49565
By the time you get to the checkout page, your site has been created already so with the fix in https://github.com/Automattic/wp-calypso/pull/49567 we'll be redirecting you to Plans page in Calypso (same solution as in `/start` onboarding flow) if you press the Close / Back button on top-left.

This solution https://github.com/Automattic/wp-calypso/issues/49565#issuecomment-771141100 would fit per

[2021-02-01 21:32] bluefuton commented on #7342
Hi @worldomonation! I propose that we keep this one open. I've moved it to the Reader bug backlog.

[2021-02-01 21:42] JoshuaGoode commented on #49548
New encounter on 24929238-hc

[2021-02-01 21:44] JoshuaGoode commented on #49548
Encountered on 27267306-hc

[2021-02-01 21:55] p-jackson commented on #45562
This was just fixed upstream (I've tested in the coblocks canary build). We now need to wait for a coblocks release and then do the release dance to get this onto wpcom.

@Automattic/good-mountain can I add this somewhere so it gets tracked as part of the next coblocks release on wpcom?

[2021-02-01 22:07] kristarella commented on #40792
I ran into this yesterday 27170144-hc
And I was able to replicate on my test site:
https://badaboomtest.wordpress.com/embeds/

Since this user was on Personal plan we couldn't use CSS to fix.
We found that converting the block to a paragraph and unlinking the spotify URL so it was just a plain text URL in a paragraph made a different type of embed that was not too big.

[2021-02-01 22:13] michaeldcain commented on #49562
@worldomonation: could you be a little more clear about what you'd expect to happen when clicking on "Add a plan"? That button is a link to the Plans page, which I believe you're already on. That page is a list of the plans available to the user.

At minimum, we should close the popover cart and probably remove the behavior that toggles from "Business sites and online stores" to "Blogs and persona

[2021-02-01 22:28] donalirl commented on #49007
#3701283-zen

[2021-02-01 22:36] michaeldcain commented on #49539
@patrycjakiljanska: I've updated this issue to remove internal links and/or images. See: PCYsg-68j-p2

[2021-02-01 22:36] michaeldcain commented on #49539
@Automattic/ajax for triage

[2021-02-01 22:38] michaeldcain commented on #48650
@jinnypark: I edited the link to use our shorthand for public repos. See: PCYsg-5Xx-p2

[2021-02-01 22:40] mrfoxtalbot opened #49570 "Launch: "Use" button at start/launch-site/domain-upsell does not respond. Only free option works."
### Steps to reproduce the behavior

1. Register a new site
2. Skip the custom domain option
3. Launch the site and select a plan (I chose free)
4. Try to click on the "USE" option to register a domain

#### What I expected to happen
I expected it to show me custom domains

#### What actually happened
Nothing

### Context
Dogfooding

#### Browser / OS version
I first noticed this on my phone:

- O

[2021-02-01 22:43] michaeldcain commented on #49364
@jonnyruzek: I edited the link to use our shorthand for public repos. See: PCYsg-5Xx-p2

[2021-02-01 22:45] michaeldcain commented on #49477
@rachelwinspear: I've updated this issue to remove internal links and/or images. See: PCYsg-68j-p2

[2021-02-01 22:47] michaeldcain commented on #49482
@mihpaese: I've updated this issue to remove internal links and/or images. See: PCYsg-68j-p2

[2021-02-01 23:03] worldomonation commented on #49562
Some sort of visual feedback to the user to indicate that the button has already served its purpose (eg. take user to the plans page that they're already on) would improve the experience, I think.

I took another quick look and it appears the Cart icon is only permanently shown on the Upgrades > Plans page. Upgrades > Purchases and Upgrades > Domains does not show the Cart icon, so unless I'm miss

[2021-02-01 23:14] andrewserong commented on #49404
That's a good question @ianstewart — the idea we'd discussed previously was for a scheduled job in PHP to automate sending strings for translation. I'm not too sure what a tool would look like for updating the block content, given that it needs to run in a front-end JS context to run through the deprecations and update the block markup. It'd be great to come up with a solution for that, though, pa

[2021-02-01 23:16] metabreakr commented on #49364
Which link in particular?

[2021-02-01 23:18] worldomonation opened #49572 "Creating an account using Google results in 'an unexpected error occurred. Please try again later'"
### Steps to reproduce the behavior

Prereq. Log out of session in the browser.

1. Go to wordpress.com/start/user
2. Click on `Continue with Google`
3. In the pop-up window, complete the Google login process.
4. Once pop-up window closes, check the main window.

#### What I expected to happen
A WordPress.com account is successfully created.

#### What actually happened
On the account creation pag

[2021-02-01 23:19] worldomonation commented on #49572
Addendum: Checked with proxy off, same behavior.

[2021-02-01 23:21] michaeldcain commented on #49364
@jonnyruzek: https://github.com/Automattic/wp-calypso/issues/49364#issuecomment-769160755

[2021-02-01 23:23] vindl opened #49573 "Site Editor: TT1-blocks doesn't support full width alignment"
FSE sites created with TT1-blocks theme don't show full width alignment blocks in editor properly (same goes for design step preview during signup).

<img width="1680" alt="Screenshot 2021-02-01 at 23 31 04" src="https://user-images.githubusercontent.com/1182160/106526374-c75d4900-64e5-11eb-86d9-05117da59bf4.png">

They seem to be rendered fine on front end however.

[2021-02-01 23:27] worldomonation commented on #14240
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

It appears that this issue will no longer be relevant as work on the nav bar unification project progresses and so this issue is a candidate for closure with label `Closed - Won't Fix`.

If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-01 23:27] #14240 closed

[2021-02-01 23:30] worldomonation commented on #47679
This issue is no longer reproducible as of this date.

Closing as not reproducible.

[2021-02-01 23:30] #47679 closed, assigned to nobody

[2021-02-01 23:34] worldomonation commented on #47684
Still reproducible as of this date.

Video attached:

https://user-images.githubusercontent.com/6549265/106531377-f3a3a600-64a2-11eb-9ef2-887fe478b9e9.mov

[2021-02-01 23:50] worldomonation commented on #47680
Checked and is remains reproducible.

https://user-images.githubusercontent.com/6549265/106532504-2353ad80-64a5-11eb-89ff-5a4698586eda.mov

[2021-02-01 23:53] worldomonation commented on #47685
Still reproducible.

Replaced the link to video showing the issue being reproduced.

[2021-02-01 23:54] worldomonation commented on #48093
Continues to be reproducible as of this date.

[2021-02-01 23:57] mattsherman commented on #49228
@getdave It is always ok to get an update on progress. :-)

We are kicking off our latest sprint cycle tomorrow (Tuesday). Our main focuses are Sunset Store and Nav Unification. Sunset Store is shipping at the end of the sprint, on Feb 22. But, obviously Nav Unification is in many ways more important, because you can't ship Nav Unification without WooCommerce support, because if you did, we'd be s

[2021-02-01 23:57] donalirl commented on #49007
#27436081-hc

[2021-02-01 23:58] worldomonation commented on #47696
Attached reproduce video:

https://user-images.githubusercontent.com/6549265/106533086-52b6ea00-64a6-11eb-8b1a-b32752fbfc35.mov

[2021-02-02 00:05] worldomonation commented on #8082
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

I briefly checked and it appears that the current image editor supports restoring the original image. The issue described in subsequent comment that an edited image restored to original will always show `restore original` remains and should be filed as a separate bug.

As the main intention of t

[2021-02-02 00:05] #8082 closed

[2021-02-02 00:11] worldomonation opened #49575 "Image Editor persistently shows Restore Original button if image has been reverted at one point"
### Steps to reproduce the behavior

Prereq. there is an image file uploaded.

1. Go to Media.
2. Click on an image to edit.
3. Click the button labelled `Edit`.
4. Click the button labelled `Edit Image`.
5. Make an edit and save.
6. From Media, repeat Step 3.
7. Click the button labelled `Restore Original`.
8. Once original is restored, repeat Step 3 again.

#### What I expected to happen
Once im

[2021-02-02 00:13] worldomonation commented on #16052
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on issue count.

There has been no recent activity on this issue. As such the issue will be closed with label `Closed - Won't Fix` applied.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 00:13] #16052 closed

[2021-02-02 00:15] worldomonation commented on #17995
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 00:15] #17995 closed

[2021-02-02 00:16] worldomonation commented on #8621
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 00:16] #8621 closed

[2021-02-02 00:17] worldomonation commented on #12274
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this behavior on the current interface.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 00:17] #12274 closed

[2021-02-02 00:22] worldomonation commented on #15092
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to check out a `.fr` domain and during the process noted presence of text about privacy included by default for domains where applicable. While not specifically mentioning `.fr` by name, I believe this means the behavior described in this issue has been addressed.

[2021-02-02 00:22] #15092 closed

[2021-02-02 00:30] jjchrisdiehl opened #49576 "Switching from Plugins page on simple site to atomic site with Jetpack Beta Test enabled will append query string of site title"
### Steps to reproduce the behavior

1. Go to Simple site > Plugins
2. Switch Sites to an atomic site with Jetpack Beta Test enabled
3. This will load the plugins page on the atomic site but it will append a query string searching for a plugin base on the title of the site

#### What I expected to happen
I expected the atomic site's plugin page to load cleanly

#### What actually happened
Instead

[2021-02-02 00:35] jjchrisdiehl opened #49577 "Scroll position of dashboard persists through to Account Settings page"
### Steps to reproduce the behavior

1. Scroll down the dashboard page
2. Then click on Account Settings in the sidebar
3. This should load the account page but the page is also scrolled down

#### What I expected to happen
I expected the Account page to load and scroll position to be reset to the top

#### What actually happened
Scroll position of Account page matches the position found on the pr

[2021-02-02 00:36] kaitohm opened #49578 "Can't change global style fonts on unlaunched site"
### Steps to reproduce the behavior

1. Create a new site
2. Do not launch the site
3. Try changing fonts of site from Global Styles menu in page editor
4. Changes aren't saved, and revert whenever you view a preview of the page

#### What I expected to happen

Fonts on site will change

#### What actually happened

Fonts do not change.

### Context

27437705-hc

#### Does this happen on simple or

[2021-02-02 00:49] #48253 closed, assigned to nobody

[2021-02-02 00:59] worldomonation commented on #20355
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I used one of my personal sites that have been running for 8 years. The `years` view shows all year as I would expect. As such I am closing this issue with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 00:59] #20355 closed

[2021-02-02 01:21] andrewserong commented on #49455
I'm not sure if this is related to the issue for blog ID 1, but I encountered a similar issue to the issue reported when attempting to access a site via wp-admin, as a Super Admin user. The use case is for managing block patterns source sites (more info in PCYsg-t0i-p2). As a super admin, I might want to go in and update a particular post, even though I'm not a user of that site. Because I'm not a

[2021-02-02 01:32] worldomonation commented on #20616
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There appears to be no activity on the issue for many years.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 01:32] #20616 closed

[2021-02-02 01:40] worldomonation commented on #18068
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no activity on the issue for many years.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 01:40] #18068 closed

[2021-02-02 01:44] worldomonation commented on #19372
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no activity on the issue for many years.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 01:44] #19372 closed

[2021-02-02 01:46] worldomonation commented on #7671
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no activity on the issue for many years. Would it be acceptable to close this bug?

[2021-02-02 01:57] worldomonation commented on #21519
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 01:57] #21519 closed

[2021-02-02 02:08] p-jackson commented on #49169
This issue is still happening, although I'm not able to reproduce it. I think this is probably an issue for the @Automattic/luna backlog.

[2021-02-02 02:21] p-jackson commented on #42965
Re-tested and confirmed that new Coming Soon sites do not have this issue. When calling the `/sites/$id` API endpoint, it now returns a valid response regardless of whether the site is Coming Soon or "Launched".

Existing Coming Soon sites (like `siteId=177795490` mentioned in the description) the user would need to switch off Coming Soon mode and then re-enable it in order to migrate to the new b

[2021-02-02 02:21] #42965 closed

[2021-02-02 03:38] becdetat commented on #49433
Implementer: note that `WooCommerceConnectCartHeader` is `WooCommercConnectCartHeader` in the component source file (note the missing `e`).

[2021-02-02 03:47] p-jackson commented on #42966
I haven't tested this with the Brooklyn theme (it's a paid theme), but new Coming Soon atomic sites have changed so that the `/wp-content/uploads` folder is now publicly accessible. If there is an existing Coming Soon site where this is still an issue then it will need to migrate to the new behaviour by disabling coming soon mode and then re-enabling it.

[2021-02-02 03:47] #42966 closed

[2021-02-02 04:31] ramonjd commented on #49565
I had a quick look today, trying to figure out what broke but ran out of time so I'm not sure it's definitive.

The only way I could force the redirect to `/home/` (the purpose of https://github.com/Automattic/wp-calypso/pull/42030) was to skip the `isResolving()` [check here](https://github.com/Automattic/wp-calypso/blob/ed3e91545e431da92beeffcbe80289eadde067c0/client/landing/gutenboarding/index.

[2021-02-02 05:29] fullofcaffeine commented on #48950
This is done. Next one: https://github.com/Automattic/wp-calypso/issues/49534.

[2021-02-02 05:29] #48950 closed, assigned to nobody

[2021-02-02 06:11] andrewserong commented on #49565
Thanks for the ping @ramonjd, unfortunately I don't have much to add, just that I can recreate the issue, and I'm not quite sure why the redirect to `/home` isn't working. Are we clearing the state more frequently than we used to?

I did notice that when I click back from the checkout, the selected site doesn't appear to be available for me locally (`wp.data.select( 'automattic/onboard' ).getSelec

[2021-02-02 06:54] formosattic commented on #42056
Same issue reported on https://github.com/WordPress/gutenberg/issues/14608

In the case of **YouTube**, using the shortcode worked, but must be in a Paragraph block, the Shortcode block won't work:

`[youtube https://www.youtube.com/watch?v=BK4ftD33FUI]`

+1 3675264-zd-woothemes

[2021-02-02 06:56] autumnfjeld opened #49587 "New Page Layout Picker: Implement the new design including design image previews"
Update Page Layout Picker UI design per design specs.
If the new package [code](https://github.com/Automattic/wp-calypso/pull/49661) has been merged, work can be done there (and not in existing picker code).

Designs: p9Jlb4-27F-p2
User Acceptance Criteria: https://github.com/Automattic/wp-calypso/issues/49743

Tech Checklist:
- [x] Modal should not fill full viewport, instead center at 90vw & 90v

[2021-02-02 06:59] becdetat commented on #49273
This is completed: https://wordpress.com/support/new-woocommerce-experience-on-wordpress-dot-com/

[2021-02-02 06:59] #49273 closed, assigned to becdetat

[2021-02-02 07:52] yansern commented on #46839
That would be D56270-code.

[2021-02-02 07:53] lsl commented on #48338
Track this in the new issue here: https://github.com/Automattic/wp-calypso/issues/49565

[2021-02-02 07:53] #48338 closed, assigned to nobody

[2021-02-02 07:54] yansern commented on #47803
Looks like we can close this now. Continue the conversation in https://github.com/Automattic/wp-calypso/issues/46839 for the final A/B test.

[2021-02-02 07:54] #47803 closed, assigned to yansern

[2021-02-02 08:02] ivan-ottinger commented on #48597
Hey everyone, the user came back for an update. Do we have any news on this issue? Thank you.

[2021-02-02 08:05] jee1mr commented on #49394
Hi, @iamgabrielma. I would like to work on this. However, I am not able to find the "plans" section on my site. Is it a plugin/premium feature? How do I reproduce this?

[2021-02-02 08:20] razvanpapadopol opened #49588 "New Onboarding Launch: sidebar title line height is too big"
### Steps to reproduce the behavior

1. Create a site from `/new`
2. Click on Launch button in editor

### Context
On larger screens (above 782px) the sidebar title font-size is smaller but the line height is 40px, respectively 57px above 1080px;

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
<img width="1378" alt="Screenshot 2021-02-02 at 10 14 03" src="htt

[2021-02-02 08:34] mmtr commented on #49539
We may need to add an exception for the automattic.com site, like in https://github.com/Automattic/wp-calypso/issues/49455.

@patrycjakiljanska in the meantime, can you manage the posts and pages going directly to `/wp-admin/edit.php` (posts) and `/wp-admin/edit.php?post_type=page` (pages)?

[2021-02-02 08:40] razvanpapadopol opened #49589 "New Onboarding Launch: missing translations"
### Steps to reproduce the behavior

1. Create a site starting from `/new`
2. Click on Launch button on editor top bar while having a non-EN language set in your account
3. Advance through the flow

#### What I expected to happen
All strings to be translated

#### What actually happened
Multiple strings on _Select a plan_ step are in English

### Context
This issue might be related to #49169

####

[2021-02-02 09:13] cpapazoglou commented on #49539
@patrycjakiljanska The problem is that you are not member of this site, you can access `/wp-admin` of that site because you are proxied! Adding yourself as a User of that site will let you see

![](https://cln.sh/Idhp0h+)

which contains the Job Posts in Calypso. Does this view help you or you still need `/wp-admin/edit.php?post_type=page` easily accessible?

PS: Please ping me if you need help ad

[2021-02-02 09:17] cpapazoglou commented on #49262
Another issue

props: @kriskarkoski

[2021-02-02 09:24] lsl commented on #49589
I think this is because we're loading translations from wordpress.org for ETK plugin (even on simple sites?)

wporg translations missing https://translate.wordpress.org/projects/wp-plugins/full-site-editing/stable/ko/default/

wpcom translations available https://translate.wordpress.com/deliverables/ko/5048137/

I'm not across the process that transfers these but maybe we need to speed that up? @A

[2021-02-02 09:29] cpapazoglou commented on #49564
This one should be effectively be resolved by https://github.com/Automattic/jetpack/pull/18611. It will be released today in Jetpack 9.4!

[2021-02-02 09:29] #49564 closed, assigned to nobody

[2021-02-02 09:37] getdave commented on #47049
Thanks for checking in @tjcafferkey and for the nice research into this.

Using the deprecated component would seem like it could cause maintenance issues down the line. As you say it looks like the `pages` prop of `<Guide />` is the right direction.

The Issue appears to be that by default there is no built in mechanism for a "side-by-side" layout.

How about we [spin up Storybook locally](https:

[2021-02-02 09:48] getdave opened #49591 "Ensure Me account page alerts of unsaved settings if only a single form group has been saved."
Identified in https://github.com/Automattic/wp-calypso/pull/48710#pullrequestreview-580468956.

This was identified by @mmtr:

### Steps to reproduce the behavior

1. Go to http://calypso.localhost:3000/me/account
2. Make changes in _both_ forms.
3. Only save _1_ group of fields (eg: Account or Interface).
4. Attempt reload the page or navigate away.
5. You don't see a browser alert warning of uns

[2021-02-02 09:50] sirreal commented on #49404
The only way I know of updating posts is to load them and save them again in the editor.

Unfortunately, the editor doesn't seem to become "dirty" (save button is disabled) when block updates are applied. So the content changes, but you can't save it until the user makes a change. An alternative may be to save programmatically by dispatching from the browser console.

That sounds like a pretty sil

[2021-02-02 10:09] sirreal opened #49592 "CoBlocks: Upgrade to > 2.6"
CoBlock is currently on 2.6. The next release should include a fix for:

- https://github.com/Automattic/wp-calypso/issues/45562

Upgrade the plugin on Simple when the next version has been released.

[2021-02-02 10:09] sirreal commented on #45562
[It looks like there's a release every month or so](https://plugins.trac.wordpress.org/log/coblocks/), and that would mean a release next week. We'll plan to upgrade in the near future.

Tracked: https://github.com/Automattic/wp-calypso/issues/49592

[2021-02-02 10:32] klimeryk commented on #3396
This is being addressed in https://github.com/Automattic/wp-calypso/issues/48408

[2021-02-02 10:32] #3396 closed

[2021-02-02 10:45] sirreal commented on #49563
Thanks! This was tricky, but it appears to be a Gutenberg issue. I've filed https://github.com/WordPress/gutenberg/issues/28656

[2021-02-02 11:00] klimeryk commented on #2327
This has been stale for a while and I have not heard about related issues so closing it.

[2021-02-02 11:00] #2327 closed

[2021-02-02 11:02] klimeryk commented on #2430
Now that mappings are free with plans and we added the ability to move mappings across sites and users, this does not seem worth it anymore. Closing as wontfix.

[2021-02-02 11:02] #2430 closed

[2021-02-02 11:03] klimeryk commented on #2282
This has been fixed in the meantime 🙇

[2021-02-02 11:03] #2282 closed

[2021-02-02 11:04] klimeryk commented on #1534
Marking this as wontfix - I like the solution proposed here, but we're focusing on our own custom solution now.

[2021-02-02 11:04] #1534 closed

[2021-02-02 11:05] klimeryk commented on #3185
Closing this - if we get to it, it'd be as part of a bigger effort to refactor and redesign the DNS editor and that's not in our short-term plans.

[2021-02-02 11:05] #3185 closed

[2021-02-02 11:14] klimeryk commented on #5870
Marking as wontfix. This does not seem to be generating any noticeable customer issues - and I'd rely first on the OS' notifications for losing network connection.

[2021-02-02 11:14] #5870 closed

[2021-02-02 11:15] klimeryk commented on #6984
This is a stale issue - the DomainWarnings have since went through some iterations 🙇

[2021-02-02 11:15] #6984 closed

[2021-02-02 11:21] klimeryk commented on #2920
This has been fixed on the backend when we added additional validation to make sure the new DNS zone would remain valid.

<img width="566" alt="Screenshot 2021-02-02 at 11 17 39" src="https://user-images.githubusercontent.com/3392497/106593452-bbef3980-6548-11eb-8fe2-536e31999597.png">

It's not the prettiest, but it's quite robust and comprehensive.

[2021-02-02 11:21] #2920 closed

[2021-02-02 11:28] klimeryk commented on #6203
As Kris mentioned above, it's a bit better now and the email forwards are mentioned in the overview of all domains and in the domain's details page as well.

<img width="1064" alt="Screenshot 2021-02-02 at 11 27 21" src="https://user-images.githubusercontent.com/3392497/106594174-a75f7100-6549-11eb-9d69-b7611da27e38.png">

But it's still a bit PITA to get to the manage email forwarding page - you

[2021-02-02 11:28] #6203 closed

[2021-02-02 11:37] klimeryk commented on #32526
Closing as wontfix - `Select` IMHO works best as the generic action here. We might add a new step after selecting the domain to let the user chose if they want to purchase it for a new site, existing or just buy the domain and in that context it makes sense to keep it `Select`. I have also not heard any issues from HEs/users about this being a pain point here.
With new onboarding it's also been av

[2021-02-02 11:37] #32526 closed

[2021-02-02 11:40] klimeryk commented on #25143
Marking this as fixed - I cannot reproduce. I'm guessing the component itself was fixed in the meantime.

[2021-02-02 11:40] #25143 closed

[2021-02-02 11:42] klimeryk commented on #24372
Marking as wontfix - agree with Jason on this.

[2021-02-02 11:42] #24372 closed

[2021-02-02 11:46] niranjan-uma-shankar commented on #49565
Adding to the GoDaddy example, there's an earlier design exploration for such a modal in pb5gDS-xu-p2, in case that's useful to build on top of.

[2021-02-02 11:57] simison commented on #49565
I'll pull the screen here for convenience (still see the design convo in P2):

![106597113-9ff69280-655e-11eb-952b-6d713124ab81](https://user-images.githubusercontent.com/87168/106599412-b05c3c80-6561-11eb-8c7b-4d61dfa30489.png)

[2021-02-02 12:00] klimeryk commented on #7096
Marking this as wontfix - this needs to be tackled on a higher/more general level and there does not appear there's appetite for that.

[2021-02-02 12:00] #7096 closed

[2021-02-02 12:47] razvanpapadopol commented on #47576
There are some untranslated texts across Focused Launch at the moment in all views. Some of them might share the same cause with #49589 but we don't know for sure until we compare translation bundles from wpcom & wporg like in https://github.com/Automattic/wp-calypso/issues/49589#issuecomment-771495009

### Summary
- [ ] title and subtitle
<img width="1135" alt="Screenshot 2021-02-02 at 10 28 44"

[2021-02-02 12:50] kylemcph commented on #47086
@cathymcbride I am not able to replicate. This appear to be fixed. 🎉

[2021-02-02 13:11] klimeryk commented on #12932
The Email tab has been removed (around the time we revamped the Domain Management probably). We've also improved the visibility of these options. So this is no longer an issue.

[2021-02-02 13:11] #12932 closed

[2021-02-02 13:13] klimeryk commented on #13303
Marking this as wontfix, because it's rare enough to add a Site Redirect, let alone try to add two or more at once.

[2021-02-02 13:13] #13303 closed

[2021-02-02 13:29] klimeryk commented on #14052
The root issue here is that we are taking the TLD list from https://publicsuffix.org/list/public_suffix_list.dat. And `uk.com` is on that list, but in the "private" (aka non-ICANN regulated) section which we skip. Unfortunately, it's not as easy as taking that section into account as well. Because then `uk.com` will get treated as a TLD... and our existing logic gets confused and you end up with a

[2021-02-02 13:31] klimeryk commented on #15093
Closing as this has been resolved with various UI changes in the meantime.

<img width="749" alt="Screenshot 2021-02-02 at 13 30 19" src="https://user-images.githubusercontent.com/3392497/106607242-fe217680-655a-11eb-86a2-c40ac7e8c712.png">

[2021-02-02 13:31] #15093 closed

[2021-02-02 13:32] klimeryk commented on #15131
Cannot reproduce this (and we have the new shopping cart too), so closing this.

[2021-02-02 13:32] #15131 closed

[2021-02-02 13:32] tyxla commented on #3396
Thanks, @klimeryk! From this list, it seems that #49033 is the only one that remains - it could use a review if you have a spare cycle.

[2021-02-02 13:33] mmtr commented on #47043
Reopening since this still needs https://github.com/Automattic/jetpack/pull/18548 to be released in Jetpack 9.4.1 for handling Atomic sites.

[2021-02-02 13:34] tyxla commented on #48408
#49600 has been open to reduxify notices in the `formBase` mixin, last-minute before it's actually gone. This is actually the last instance that dispatches notices the old way; once we merge all open PRs we can remove the legacy infrastructure altogether.

[2021-02-02 13:42] cathymcbride commented on #47086
Woo! Closing!

[2021-02-02 13:42] #47086 closed

[2021-02-02 13:42] klimeryk commented on #15601
I've tested this again and cannot reproduce it anymore - closing as resolved.

[2021-02-02 13:42] #15601 closed

[2021-02-02 13:46] klimeryk commented on #15854
Marking this as wontfix - unfortunately, it's a side-effect of a bad general architectural decision that is now heavily embedded within Calypso's routing. I've double-checked how it behaves now and it seems to redirect to `https://wordpress.com/me/purchases`. Which has received a new coat of paint recently and while not the smoothest experience, the user should be two clicks away from renewing any

[2021-02-02 13:46] #15854 closed

[2021-02-02 13:46] klimeryk commented on #15855
This is done 👍

[2021-02-02 13:46] #15855 closed

[2021-02-02 13:47] klimeryk commented on #15857
Looks like this has been fixed:

<img width="581" alt="Screenshot 2021-02-02 at 13 47 31" src="https://user-images.githubusercontent.com/3392497/106609199-3c1f9a00-655d-11eb-8290-ed1bfb631065.png">

[2021-02-02 13:47] #15857 closed

[2021-02-02 13:50] klimeryk commented on #17890
Marking this as wontfix - we hope to migrate away from Tucows at some point.

[2021-02-02 13:50] #17890 closed

[2021-02-02 13:53] klimeryk commented on #18283
Marking this as fixed - confirmed that all the usual transfer options are available now for Atomic sites:

<img width="755" alt="Screenshot 2021-02-02 at 13 52 57" src="https://user-images.githubusercontent.com/3392497/106609930-0af39980-655e-11eb-979f-208afb32d105.png">

[2021-02-02 13:54] klimeryk commented on #19097
Closing this as stale.

[2021-02-02 13:54] #19097 closed

[2021-02-02 13:55] klimeryk commented on #19222
This has been redesigned recently and now email forwarding is much more prominent:

<img width="1061" alt="Screenshot 2021-02-02 at 11 27 03" src="https://user-images.githubusercontent.com/3392497/106610086-3b3b3800-655e-11eb-93c8-cb79ff6ff7b9.png">

That might change a bit in the future, but we'll definitely try to keep it less hidden than before ;)

[2021-02-02 13:55] #19222 closed

[2021-02-02 13:55] klimeryk commented on #19416
Closing - this has been fixed by the checkout redesign 🎉

[2021-02-02 13:55] #19416 closed

[2021-02-02 13:58] klimeryk commented on #22425
It's very rudimentary, but we do show this screen:

<img width="716" alt="Screenshot 2021-02-02 at 13 57 56" src="https://user-images.githubusercontent.com/3392497/106610429-b0a70880-655e-11eb-8744-21e06c27d45e.png">

It has quicklinks to the most important things - creating a new site with this domain and adding email (plus regular domain management).

[2021-02-02 13:58] #22425 closed

[2021-02-02 14:02] cathymcbride commented on #49572
Reproes in multiple browsers (safari and firefox so far) and toggling "Preferences > Privacy > Website Tracking" in safari has no effect.

[2021-02-02 14:05] klimeryk commented on #22744
Closing this as wontfix - we fairly clearly warn the user that canceling the domain means the site will not resolve using that domain. For internal links within the site, we should be defaulting to relative links (`/example` vs `foobar.com/example`), unless the user overrides this manually.
The last issue is for an import specifically and that's a separate issue.

[2021-02-02 14:05] #22744 closed

[2021-02-02 14:09] klimeryk commented on #23886
Marking this as wontfix - this has never come up in user feedback and seems very low priority (while fixing it would touch the complicated DNS logic connected with root A records on the backend).

[2021-02-02 14:09] #23886 closed

[2021-02-02 14:20] klimeryk commented on #49548
This is a good point, but this applies to all domains in general. For transfers-in we:

 - Send an email reminder that they could/should update the nameservers if they want use the domain with a WPCOM site.
 - We _do_ show a reminder to the user to update the nameservers for three days since the transfer-in has completed: https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058a

[2021-02-02 14:20] #49548 closed, assigned to nobody

[2021-02-02 14:46] jeherve commented on #19097
It still seems to be an issue though:

![image](https://user-images.githubusercontent.com/426388/106616375-c8d25400-656d-11eb-9d72-0c691bcd5e9b.png)

[2021-02-02 14:46] simison commented on #49572
Being looked at p1612274114056300-slack-create-gardeners by @yansern

[2021-02-02 14:55] yansern commented on #49572
Where it failed was `this.props.initialContext.query.oauth2_redirect` is `undefined`. That is in `client/signup/steps/user/index.jsx` under `handleSocialResponse()`.

This PR might be related https://github.com/Automattic/wp-calypso/pull/48855. cc @tyxla

[2021-02-02 14:58] frontdevde opened #49603 "Nav Unification: remove Browse Sites in wp-admin in favour of Calypso Switch Sites functionality"
This is a tracking issue for a v2 feature of Nav Unification.

Adding the Site Switcher to wp-admin was deemed out-of-scope for v1 by stakeholders. Instead we show a Browse Sites button that links to the full page site switcher. The difference has been spotted by a few folks and keeps getting reported. We'll use this issue so folks know it's on our radar and we don't loose track of it after launch

[2021-02-02 14:58] kriskarkoski opened #49604 "Classic Bright color scheme does not work in Calyspo"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account and activate the Classic Bright color scheme
2. Note the sidebar and admin bar colors do not match the example (it looks to be Classic Dark with the exception of the ? in the corner changing colors)
3. Visit WP Admin and note the color scheme is properly applied

#### What I expected to happen

To see the Classic Bright

[2021-02-02 14:59] frontdevde commented on #49550
Thanks for reporting this issue! The Browse Sites behavior is as expected for the first iteration of Nav Unification. I created the following issue with some clarification as well as to ensure it doesn't get lost. https://github.com/Automattic/wp-calypso/issues/49603

[2021-02-02 14:59] #49550 closed, assigned to nobody

[2021-02-02 15:00] #49143 closed, assigned to alshakero

[2021-02-02 15:02] frontdevde commented on #49553
Just noting that the Browse Sites portion if this reported issue is a "feature". I've created the related tracking issue for a v2 of Nav Unification here https://github.com/Automattic/wp-calypso/issues/49603

[2021-02-02 15:02] kriskarkoski commented on #7671
Given the age and lack of movement I am going to close for now. I still think revisiting our theme documentation is worthwhile whenever we spend more time on documentation, but with our newest themes being much simpler I don't think this is necessary right now.

[2021-02-02 15:02] #7671 closed

[2021-02-02 15:03] razvanpapadopol commented on #47813
Fixed in #48399

[2021-02-02 15:03] #47813 closed, assigned to yansern

[2021-02-02 15:14] michaeldcain opened #49605 "Internal Tooling: testing cainstesting.wordpress.com"
This is testing D56341-code for cainstesting.wordpress.com - please ignore.

[2021-02-02 15:23] getdave commented on #49519
I'd really like to get a handle on the potential effort required here. Days/weeks worth of work? Any dependencies (eg: Jetpack release) and or blockers.

We can then schedule/prioritise accordingly. My gut is that we're going to have to at least _start_ an implementation to address this prior to the launch of Nav Unification.

Would you be able to take a look into this for us @frontdevde?

Also fo

[2021-02-02 15:25] getdave commented on #49517
See also https://github.com/Automattic/wp-calypso/issues/49519#issuecomment-771711907

[2021-02-02 15:29] ianstewart commented on #46696
+1 on adapting to the moving target. We'll need to do that from a UX standpoint for our Site Editor testing flow …

1. User picks a design pre-site-creation.
2. User picks a font pairing.
3. User lands in Site Editor.
4. […]

Current status for step four lands them in the site editor with a version of global styles in the Site Editor that offers one font interface, that doesn't match what they saw

[2021-02-02 15:34] frontdevde commented on #49549
Just noting that the Browse Sites portion if this reported issue is a "feature". I've created the related tracking issue for a v2 of Nav Unification here #49603

[2021-02-02 15:36] getdave commented on #49553
@mattsherman Is this something you are already addressing elsewhere?

[2021-02-02 15:36] getdave commented on #49553
The marketing link will be solved with: https://github.com/Automattic/jetpack/pull/18586 (edited)

[2021-02-02 15:38] getdave commented on #49553
Related https://github.com/Automattic/wp-calypso/issues/49549

[2021-02-02 15:39] thehenrybyrd commented on #48316
Ran into another of these in #27451479-hc

[2021-02-02 15:39] getdave commented on #49549
Thanks for reporting. Browse sites is expected behaviour.

The missing items are being addressed here https://github.com/Automattic/wp-calypso/issues/49042

[2021-02-02 15:39] #49549 closed, assigned to nobody

[2021-02-02 15:39] getdave commented on #49553
Missing menu items are being addressed here https://github.com/Automattic/wp-calypso/issues/49042

[2021-02-02 15:39] #49553 closed, assigned to nobody

[2021-02-02 15:42] mattsherman commented on #49553
The WooCommerce menu item is being tracked in the Nav Unification: WooCommerce support epic https://github.com/Automattic/wp-calypso/issues/49228

[2021-02-02 15:43] getdave commented on #49434
@Automattic/ajax Let's reach out to cCmkD-p2 for feedback on this one.

[2021-02-02 15:45] Nic-Sevic commented on #48316
another here; fixed with coming soon > public toggle
27380112-hc

[2021-02-02 15:49] #49572 closed, assigned to yansern

[2021-02-02 15:49] frontdevde commented on #49379
Fixed in https://github.com/Automattic/wp-calypso/pull/49408

[2021-02-02 15:49] #49379 closed, assigned to nobody

[2021-02-02 15:50] getdave commented on #49364
Thanks for reporting folks.

We believe this one is going to help to resolve this.

https://github.com/Automattic/jetpack/pull/18586

[2021-02-02 15:53] getdave commented on #49345
Thanks so much for reporting this. Thankfully this is a known Issue and will be resolved. Please see p1HpG7-b2s-p2

[2021-02-02 15:53] #49345 closed, assigned to nobody

[2021-02-02 15:56] getdave commented on #49314
This is actually expected behaviour. Appreciate you reporting.

[2021-02-02 15:57] mmtr commented on #49314
Reopening, since this seems like a regression to me

[2021-02-02 15:58] getdave commented on #49314
Agreed. My bad. Needs a fix.

[2021-02-02 15:59] cpapazoglou commented on #49314
It seems that we have to account for more _notice_ cases here https://github.com/Automattic/wp-calypso/blob/cfd3f652ee71a35bd5b2bdffdc7bdb18e8e53038/client/my-sites/sidebar-unified/style.scss#L378

[2021-02-02 16:01] metabreakr commented on #45881
3705258-zen

[2021-02-02 16:06] dcalhoun opened #49610 "Keystrokes lost when typing quickly into new site title input in Safari"
### Steps to reproduce the behavior

1. Launch macOS Safari.
2. Visit to https://wordpress.com/new
3. Focus site title input.
4. Type relatively quickly.

#### What I expected to happen
All keystrokes are captured resulting in the text input displaying the name typed.

#### What actually happened
Some keystrokes are lost resulting in the text input not displaying the name typed.

### Context
This

[2021-02-02 16:16] DavidRothstein commented on #38807
Automattic payments team is tracking a basic fix to prevent this from being purchased (in the shopping cart):
c/MyrBgiaf-tr

Regarding removing it from the plans list (or preventing a site from not having a plan while it's still Atomic in the first place), someone else would have to look into that.

[2021-02-02 16:39] michaeldcain commented on #49605
Testing with cainsnuxtest2007303519.wordpress.com

[2021-02-02 16:40] DavidRothstein commented on #49552
We looked into this briefly - the second plan wasn't added by a user, rather by a happiness engineer (18582355-hc).  There's no bug here; they probably just forgot to remove the old Premium plan when helping the user downgrade to the new Personal plan.  Closing.

[2021-02-02 16:40] #49552 closed, assigned to nobody

[2021-02-02 16:41] michaeldcain commented on #49605
This worked as expected - closing.

[2021-02-02 16:41] #49605 closed, assigned to michaeldcain

[2021-02-02 16:57] nbloomf opened #49613 "[Domains] Unable to navigate to DNS page for a parked domain"
### Steps to reproduce the behavior

I ran into this today on one of my own domains. I'm not sure if this is expected or not, but I was only able to self-serve because I know calypso's URL structure.

0. My goal: add a custom DNS TXT record to a parked domain with nameservers pointing to another service.
1. Go to `\view\$domain` and click "Manage Domain"
2. Click on "Change your nameservers and DN

[2021-02-02 17:20] ianstewart commented on #48381
Note: I've made an update to these two starter designs to use the new option in Varia to hide the footer and header on the homepage. No blockers and it should "just work" but if the output doesn't match the starter design because of a difference there — it doesn't "just work." :)

[2021-02-02 17:37] caimin-j opened #49615 "Switch Site changes to Browse Sites on Feedback and Links pages"
### Steps to reproduce the behavior

1. Click Feedback or Links on left menu
2. Notice how "Switch Site" at the top left becomes "Browse Sites"

#### Browser / OS version
Chrome 88/Mac

#### Is this specific to the applied theme? Which one?
No

#### Does this happen on simple or atomic sites or both?
Both

#### Is there any console output or error text?
No
#### Level of impact (Does it block purch

[2021-02-02 17:38] allanftd opened #49616 "Cover Block: Color Settings (background, opacity, overlay settings) Do Not Save on Editor but Works on Live Site"
### Steps to reproduce the behavior

1. Edit a page with a Cover block.
2. Click on the Cover block and change the background color, opacity, or overlay color.
3. Save and publish the changes.
4. The changes will take effect on the live page. But when you go back to edit the same page again, the Cover block's background color becomes black.

#### What I expected to happen
The changes made on the C

[2021-02-02 17:41] ianstewart opened #49617 "Signup: add Fredricson starter design"
We've created a new Starter Design site that can be added to the Design Screen in signup.

https://fredricksonstarter.wordpress.com/

![image](https://user-images.githubusercontent.com/545779/106639151-497f5900-654a-11eb-95a2-05e86c246ff3.png)

**Note:** we'll also be adding the default content on this home-page to our Patterns Library on WP.com.

cc @Automattic/dotcom-view-design @simison

### Re

[2021-02-02 17:42] michaeldcain commented on #49562
I really appreciate this perspective! I think that the popover cart used to be shown persistently on other screens (i.e. Domains), so the button made more sense originally. Let's start by removing the button from the empty popover cart on the Plans screen.

[2021-02-02 17:50] designsimply commented on #47289
I think in order to test it what I'm thinking of you would need to have a custom domain applied, have WordPress installed at the root level, and also have WordPress installed at the subdomain or subdirectory level. If you don't have an easy way to check though, then don't worry about it for now and I'll find a different hosting setup to test my theory out on at some point. 👍 Thanks for the reply!

[2021-02-02 17:57] #6911 closed

[2021-02-02 17:58] worldomonation commented on #7342
Got it!

[2021-02-02 18:01] jackiejade commented on #49007
#10834155-hc

[2021-02-02 18:04] worldomonation commented on #13603
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

The user interface referenced in this issue is old and with the new editor interface I was not able to reproduce:
![Screen Shot 2021-02-02 at 10 02 43 AM](https://user-images.githubusercontent.com/6549265/106643075-09b27480-653e-11eb-800f-8f260506f3fe.png)

As there has been no recent a

[2021-02-02 18:04] #13603 closed

[2021-02-02 18:06] worldomonation commented on #17928
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 18:06] #17928 closed

[2021-02-02 18:09] worldomonation commented on #21206
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 18:09] #21206 closed

[2021-02-02 18:12] worldomonation commented on #37123
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce this behavior as of this date.

However, as there has been no recent activity on this issue for over a year, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 18:12] #37123 closed

[2021-02-02 18:15] worldomonation commented on #38453
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue has been marked as stale due to lack of activity on 2020/09/11. If there are no plans to address this issue in the near term, the issue should be closed with the label `Closed - Won't Fix`.

If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 18:15] #38453 closed

[2021-02-02 18:16] worldomonation commented on #17915
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 18:16] worldomonation commented on #17673
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 18:16] #17673 closed

[2021-02-02 18:17] worldomonation commented on #16714
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 18:17] #16714 closed

[2021-02-02 18:17] worldomonation commented on #16492
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 18:17] #16492 closed

[2021-02-02 18:20] worldomonation commented on #11894
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce the second portion of the issue (name shows as `//inning` instead of `\/\/inning`.

However, as there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please fe

[2021-02-02 18:20] #11894 closed

[2021-02-02 19:06] philnick206 commented on #36274
Reported in #13954900-hc

[2021-02-02 19:38] michaeldcain opened #49620 "Upsell Nudge: invalid prop type error"
The following prop type warning is shown on the Business plan up-sell:

![106525911-59dff700-64aa-11eb-80e6-d8e01a3790b6](https://user-images.githubusercontent.com/942359/106652931-28c3fd00-6564-11eb-97e8-74da877937b2.png)

Upsell that causes the error:

![106526025-8431b480-64aa-11eb-94e6-7327b60f9352](https://user-images.githubusercontent.com/942359/106652953-311c3800-6564-11eb-90a6-801b4d948d49

[2021-02-02 20:06] #49215 closed, assigned to nobody

[2021-02-02 20:07] kjellr commented on #49617
@ianstewart just a heads up that a bunch of additional "Link in Bio" patterns are landing soon in Blank Canvas that might be useful here:

Issue: https://github.com/Automattic/themes/issues/3161
PR: https://github.com/Automattic/themes/pull/3151

[2021-02-02 20:12] sirbrillig commented on #49421
Updated that diff so that its tests should now pass.

[2021-02-02 20:25] simison opened #49622 "Customer home: no space between buttons on mobile"
### Steps to reproduce the behavior

1. Go to /home
1. See top card in mobile width

![Screenshot_20210202-222207_Firefox](https://user-images.githubusercontent.com/87168/106657937-4ebdc180-65a5-11eb-8aad-184c9e61c512.png)

There should be a bit of space here.

#### Browser / OS version
Android Firefox

[2021-02-02 20:32] fullofcaffeine opened #49624 "Background image not showing in the editor for Cover blocks with the "fixed background" setting enabled"
### Steps to reproduce the behavior

**Two ways to reproduce:**

1. Visit wp.com/new;
1. Select Rockfield or Leven design;
1. Click through to create site and view the home page in the editor;
1. Observe how the Cover block doesn't render the image.

**Or:**

1. Use any test simple site;
1. Add a Cover block, select a background image for it;
1. Select the Cover block, and in the settings, pane lo

[2021-02-02 20:41] mattsherman commented on #49209
Update: Note that with 577-gh-Automattic/wpcomsh#issuecomment-771947625, the WooCommerce menu items mostly appear correctly. Assuming that PR lands, we will have some minor issues to take care of, which I will create separate issues for.

[2021-02-02 20:50] ghost commented on #47049
What's the reason we can't follow the same side-by-side layout that's in the What's new modal?
This design was meant to reuse that component. It seems like the stacked approach deviates from that.

[2021-02-02 20:51] mattwiebe commented on #49573
It appears to be working but also now everything is ugly after #49479 landed

[2021-02-02 21:45] ramonjd commented on #49240
@roo2 I think you were right to question why we need this.

It would open up a bunch of possibility for cross-platform experimentation (e.g., showing the picker during onboarding) but if you take a look and judge that it'll take up too much time for our MVP, then maybe we can move it to another iteration.

"Too much time" I think would be longer than 3 days.

[2021-02-02 21:46] ghost commented on #49262
All people: wordpress.com/people/team/:site
Edit users: /wp-admin/users.php (Only JP/AT sites)
Invite: wordpress.com/people/new/:site
Add new: /wp-admin/wp-admin/user-new.php (Only JP/AT sites)
Settings
Site: wordpress.com/settings/:site
General: wp-admin/options-general.php (Only when there are custom fields or sections)

I'm a little unsure from a user's perspective why we'd want to surface all

[2021-02-02 22:07] nicelyj2 commented on #45881
24040272-hc
Said they cleared browser cache and still got the error, advised them to switch to Firefox.

[2021-02-02 22:41] worldomonation commented on #14513
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce using Firefox Nightly 87.0a1 and macOS Big Sur 11.1 (20C69) for images in the clipboard, including copying an image from Finder.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work

[2021-02-02 22:41] #14513 closed

[2021-02-02 22:42] roo2 commented on #49240
I previously did some investigation on moving to the patterns API and wrote up a comment on the p2 pbAok1-1QJ-p2#comment-3898 @lsl @deBhal

[2021-02-02 22:54] worldomonation opened #49628 "Title Block: & character is changed to &amp; character reference in editor upon save"
### Steps to reproduce the behavior

1. Go to My Sites.
2. Click on new post.
3. In the title area, enter text string that includes an ampersand (&).
4. Publish or Update or Save Draft the post.

#### What I expected to happen
String entered in Step 3 remains unaltered.

#### What actually happened
String entered in Step 3 is replaced with &amp; character reference.

### Context
User scenario #man

[2021-02-02 23:02] fullofcaffeine commented on #49624
This happens on org sites with `v9.8.3`, too. Gutenberg issue: https://github.com/WordPress/gutenberg/issues/28678. **UPDATE**: latest `master` doesn't have this issue. See: https://github.com/WordPress/gutenberg/issues/28678#issuecomment-772201279. `9.9` will include the fix: https://github.com/WordPress/gutenberg/issues/28425#issuecomment-771747103.

[2021-02-02 23:22] deancroyal opened #49631 "Purchases menu item selected state is deselected after clicking on a single purchase"
### Steps to reproduce the behavior

1. Go to 'My Profile'. (https://wordpress.com/me)
2. Click on 'Purchases' menu item.
3. Purchases menu item will show as selected.
4. Click on any purchase listed to the right of the menu.
5. See the Purchases menu item becomes de-selected.

#### What I expected to happen
I expected the Purchases menu item to stay selected while viewing details of any specific

[2021-02-02 23:28] obenland commented on #49262
Only in JP/AT are we in a situation where 3rd-party plugins could add settings to these screens.

I'm in favor of that. It shouldn't be too hard to only show them based on whether the page has any registered settings.

I'm looking forward to your suggestions! The ones we've come up with so far don't feel super ideal, it's not an easy problem to solve.

[2021-02-02 23:33] jordesign commented on #48597
I'm not sure if this is different behaviour - but when I check I am unable to see any notifications at all for this user.

[2021-02-02 23:37] worldomonation commented on #49628
Similar issue, where the HORIZONTAL ELLIPSIS (U+2026) is also replaced with the text `u2026` in cover blocks.
![Screen Shot 2021-02-02 at 3 36 52 PM](https://user-images.githubusercontent.com/6549265/106676910-a1c75280-656c-11eb-8c21-9ab4bcd6e9bf.png)

[2021-02-02 23:38] jordesign commented on #48636
@bsanevans It would be hand to know which cases this can be recreated in: I see it was using both _Hever_ and _Twenty Twenty_ but it would be good to see if it happens in a base WordPress install (not WPCOM) as well. That will help narrow down if this is perhaps a Gutenberg related bug instead

[2021-02-02 23:43] worldomonation commented on #29831
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to verify that emojis work in the title and body blocks of both posts and pages.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-ope

[2021-02-02 23:43] #29831 closed

[2021-02-02 23:45] worldomonation commented on #37743
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I checked on both Browser: Firefox Nightly 87.0a1 and Browser: Safari Version 14.0.2 (16610.3.7.1.9) and was not able to discern any difference in the layout.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If wo

[2021-02-02 23:45] #37743 closed

[2021-02-02 23:48] worldomonation commented on #17183
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-02 23:48] #17183 closed

[2021-02-02 23:50] worldomonation commented on #18438
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

Using the steps to reproduce, the Author account was unable to delete image uploaded by an Administrator.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to

[2021-02-02 23:50] #18438 closed

[2021-02-03 00:11] worldomonation opened #49634 "Reusable blocks: author/contributor roles cannot see any reusable blocks including ones created by them"
### Steps to reproduce the behavior

Prereq. Logged in as Author or Contributor user.

1. Create a new post.
2. Add a block on page.
3. Click on Toolbar > Hamburger Menu > Add to Reusable Blocks.
4. Click on Add Block on top left of the masterbar.
5. Click on `Reusable` tab.
6. Scroll down to bottom and click on `Manage all reusable blocks`.

#### What I expected to happen
User is able to view and

[2021-02-03 00:15] razvanpapadopol opened #49635 "Focused Launch: Summary view visual glitches for some locales"
**Note: We can close this once the next ETK is released**

When opening Focused Launch as a user with a locale such as DE, longer texts are causing UI to break:
* Launch button should expand or go on 2 lines
* Side-quotes checkmarks size should be consistent

#### Acceptance criteria

* [x] Checkmarks don't scale
* [x] The button is large enough to display its copy (in verbose languages)

#### Pul

[2021-02-03 00:21] worldomonation commented on #39599
This is a real gripe of mine when using reusable blocks, but it seems this issue has gone stale.

Are there any plans to address this?

[2021-02-03 00:27] jordesign commented on #28287
Scrubbing this - I'm unable to recreate this within the current iteration of the Block Editor which loads full-screen in all instances. Closing this as not reproducible.

[2021-02-03 00:36] jordesign commented on #29411
Unable to reproduce this when adding the tag in WP-Admin Classic Editor - and then editing within Gutenberg. WPCOM Editor is now deprecated so that won't be an issue either.

Closing this as unreproducible,

[2021-02-03 00:36] #29411 closed

[2021-02-03 00:37] ramonjd commented on #47857
At mentioned [above](https://github.com/Automattic/wp-calypso/issues/47857#issuecomment-763252767) we're not looking at this until there's sufficient demand.

[2021-02-03 00:37] #47857 closed, assigned to nobody

[2021-02-03 00:38] jordesign commented on #29412
As this is only related to Calypsofied Gutenberg (which is now discontinued) I'm closing this in favour of https://github.com/Automattic/wp-calypso/issues/45389

[2021-02-03 00:38] #29412 closed

[2021-02-03 00:43] jordesign commented on #41730
Adding some screenshots for reference:

WP Admin:
<img width="1267" alt="Screen Shot 2021-02-03 at 11 41 37 am" src="https://user-images.githubusercontent.com/1842363/106681605-f1615900-6614-11eb-9f5c-9f3b399e70fd.png">

Calypso:
<img width="1043" alt="Screen Shot 2021-02-03 at 11 42 27 am" src="https://user-images.githubusercontent.com/1842363/106681638-fd4d1b00-6614-11eb-80b2-d578f974c391.png">

[2021-02-03 00:45] worldomonation commented on #44774
I ran into this while conducting #manual-testing and in my case at least, I was able to trigger the same `Attempt Block Recovery` error by converting to a Reusable Block.
https://user-images.githubusercontent.com/6549265/106681920-5023c580-6576-11eb-9e15-a16aa0fb1b4a.mov

[2021-02-03 00:45] brookewp opened #49636 "'Update' button is misspelled in Korean language"
### Steps to reproduce the behavior

1. Change language to Korean
2. View existing page/post
3. See 'Update' button is misspelled

#### What I expected to happen

'Update' should be 업데이트하기  (like it is in WordPress core), instead of 업대이트하기

The correct spelling should use 데 instead of 대

#### Screenshot

Calypso version:

<img width="423" alt="Screen Shot 2021-02-02 at 3 37 24 PM" src="https://use

[2021-02-03 00:53] jordesign commented on #43502
Confirming I can recreate this as well in my testing. Chasing who we should get to look at this.

[2021-02-03 00:56] worldomonation commented on #21236
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 00:56] #21236 closed

[2021-02-03 00:56] jordesign commented on #47646
Hey @bizanimesh - it seems like this might be related to the way Gutenberg is handling slugs.
Does it seem related to https://github.com/WordPress/gutenberg/issues/24710 ?

[2021-02-03 00:58] moon0326 commented on #49428
The change is in `update/49428-remove-store-in-development-and-wpcalypso-env` branch. I'm holding off creating a PR until we are ready to merge to avoid any confusion.

[2021-02-03 00:58] #28287 closed

[2021-02-03 01:01] jordesign commented on #36299
Closing this is it will/should be resolved by Nav Unification.

[2021-02-03 01:01] #36299 closed

[2021-02-03 01:03] jordesign commented on #10742
Flagging this for consideration by Manage focus. With Nav Unification keeping more folks within Calypso screens - this seems even more important.

[2021-02-03 01:06] jordesign commented on #25615
Closing this as no longer reprodicible. Calypso now shows page counts by default.

[2021-02-03 01:06] #25615 closed

[2021-02-03 01:06] worldomonation commented on #11077
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

For reference, this is how the UI currently looks like:
![Screen Shot 2021-02-02 at 5 02 51 PM](https://user-images.githubusercontent.com/6549265/106683059-a3971300-6578-11eb-9398-5e233c537317.png)

With that said, as there as not been any activity on this issue in 3 years, I am proposi

[2021-02-03 01:06] #11077 closed

[2021-02-03 01:10] worldomonation commented on #19772
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 01:10] #19772 closed

[2021-02-03 01:25] worldomonation commented on #20354
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 01:25] #20354 closed

[2021-02-03 01:27] psealock commented on #49209
I took eComm plan for a spin with Nav Unification turned on as well as WC Nav turned on. An initial poke around shows everything working as it should 🤞🏽. I can toggle the Nav on and off, move around WC pages, and go back to the dashboard correctly.

When I click "Back to Dashboard" I'm directed to wp-admin. I know there was an [issue around this previously](https://github.com/woocommerce/woocommer

[2021-02-03 01:40] worldomonation opened #49640 "Reusable blocks: block width reverts to default size when converted to reusable block"
### Steps to reproduce the behavior

1. Create post.
2. Insert a block that supports Full/Wide width (eg. Image block. Tiled Gallery block)
3. Set block to Wide width.
4. click Toolbar > Hamburger Menu > Add to Reusable Blocks

#### What I expected to happen
When reusable block is created, block(s) that are converted retain the width set in Step 3.

#### What actually happened
Turning into reusabl

[2021-02-03 01:43] worldomonation commented on #8479
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 01:43] #8479 closed

[2021-02-03 01:44] worldomonation commented on #15255
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 01:44] #15255 closed

[2021-02-03 01:45] worldomonation commented on #20154
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 01:45] #20154 closed

[2021-02-03 01:46] worldomonation commented on #17418
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Not Reproducible`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 01:46] #17418 closed

[2021-02-03 01:47] worldomonation commented on #7737
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 01:47] #7737 closed

[2021-02-03 02:25] mattsherman commented on #49209
@psealock

That is *this* issue. 😄

The fix for this issue is looking like it will be in wpcomsh. See 577-gh-Automattic/wpcomsh#issuecomment-771947625, as mentioned in the comment above.

If you can test that wpcomsh PR with WC Nav enabled, you can see how things appear in Calypso. I can do that tomorrow as well -- I already have a test site all ready to go, so enabling WC Nav should be pretty eas

[2021-02-03 02:46] ramonjd commented on #47693
Placing on backlog for now.

There's a lot to discuss in terms of design and functionality.

Also, we can focus on larger projects right now.

See: pbAok1-1I8-p2#comment-3904

[2021-02-03 03:01] jordesign commented on #32232
I can still recreate this on letbui.com / zen-2555138.

However I see no site activity in the last 12 months - and there are 900+ pages most with similar titles. I'm closing this as a won't-fix. we can reopen it if we hear further from the user.

[2021-02-03 03:03] jordesign commented on #32533
Flagging this for Manage Focus to consider. Is it worth enabling the editing of the Blog Posts page in order to change Title and Feature Image?

If it isn't - then lets mark this as won't-fix and confirm user's would need to use the workaround of editing in WP Admin.

[2021-02-03 03:06] jordesign commented on #35935
This seems like it could be a quick/nice win for usability (depending on the difficulty involved). Flagging for Manage Focus to review

[2021-02-03 03:12] bizanimesh commented on #47646
Hey @jordesign - that's correct, it is the same issue. 🙂

[2021-02-03 03:14] #49382 closed, assigned to nobody

[2021-02-03 03:16] jordesign commented on #41713
Looks like the `?frame-nonce= string` is literally on the anchor of the 'Visit Site' button. It seems like this could be a quick win in the name of stability. Flagging it with Manage Focus for review.

[2021-02-03 03:19] katiebethbrown opened #49643 "Nav Unification: Stats graph doesn't display when a wp-admin page is open"
### Steps to reproduce the behavior

1. Toggle on the `replace all pages with WP Admin equivalents when possible` option
2. Click on any link that opens a wp-admin page (I used Settings > General)

#### What I expected to happen

For the stats graph to continue to display

<img width="310" alt="txMT67" src="https://user-images.githubusercontent.com/42279181/106693288-62f8c300-6593-11eb-99f5-d68f03

[2021-02-03 03:28] jordesign commented on #47437
I'm seeing the page counts within Calypso now - so closing this as Not Reproducible.

<img width="821" alt="Screen Shot 2021-02-03 at 2 26 55 pm" src="https://user-images.githubusercontent.com/1842363/106694116-01d0fe00-662c-11eb-9317-01aca9d51905.png">

[2021-02-03 03:39] jordesign commented on #35402
Flagging this for Manage focus for review (and possibly janitorial)

[2021-02-03 04:23] jordesign commented on #34018
I'm able to see the 'connections' and also add a Mailchimp block while the Publicize module is deactivated. Marking this is 'Can't Reproduce' as it is also over 12 months old.

[2021-02-03 04:23] #34018 closed

[2021-02-03 04:48] lsl commented on #48381
@ianstewart #48727 is ready for deploy as soon as you're ready with the remaining two issues:

- https://github.com/Automattic/themes/issues/2895
- https://github.com/Automattic/themes/issues/2918

[2021-02-03 05:35] #47089 closed

[2021-02-03 06:19] malihanan commented on #49643
Hey, may I work on this issue?

[2021-02-03 06:35] p-jackson commented on #43988
I also can't reproduce and can't quite figure out what's going wrong. The other thing I wondered about was are these Jetpack sites? I'm guessing those users don't end up in happy chat though, so probably not.

If I _do_ test with a Jetpack site (without enabling sharing in the Jetpack plugin settings) I do get the behaviour exactly like the screenshot in the description. There's no marketing link

[2021-02-03 06:37] jordesign commented on #47646
OK great - in that case I'll close this issue in favour of https://github.com/WordPress/gutenberg/issues/24710

[2021-02-03 06:39] worldomonation opened #49648 "Nav Unification: when returning to Posts view, non-calypso posts page is intermittently loaded"
### Steps to reproduce the behavior

Prereq. there is a post published.

1. Go to View Posts.
2. Click on the post to open it in editor.
3. Once loaded, click on the WordPress icon on top left.
4. Click `View Posts`.
5. Repeat Steps 2-4. It may take possibly take 10+ tries.

#### What I expected to happen
Calypso is consistently loaded when user requests to return from editor to view posts.

####

[2021-02-03 07:13] poojashetty18 commented on #49463
Another report here:
3706117-zen

[2021-02-03 08:54] druesome opened #49650 "First Name, Last Name and Public Display Name aren't Pre-populated with Existing Data when Editing Users"
On an Atomic or self-hosted site, clicking Users > Username or People > Username to edit a profile leads me to a page with empty fields for First Name, Last Name and Display Name.

### Steps to reproduce the behavior

1. On an Atomic or Jetpack-connected self-hosted site, click Users and click on any user in Calypso dashboard
2. You'll be led to a page with empty fields for First Name, Last Name a

[2021-02-03 08:58] tjcafferkey commented on #47049
@sfougnier sorry for not updating this issue yesterday. The good news is we are able to make it look like the What's New modal by overriding the `<Guide />` core CSS (which is what was done in the case of What's New).

However, we may need to deviate from the mobile designs (which look different to the What's New modal) because the markup doesn't allow for certain aspects of it, mainly around the

[2021-02-03 09:00] razvanpapadopol opened #49651 "[EPIC] DomainPicker: what domain features are still missing?"
### What
The missing domain related features were discussed in pbAok1-Hb-p2. We should try to match the existing features from `/start` flow.

### Why
The `/new` onboarding flow is already live for existing customers with EN locale and some new experiments are going to start soon.

#### How
We should check what is still missing from the current DomainPicker and if there are issues to track everyth

[2021-02-03 09:03] getdave commented on #49350
@Automattic/ajax This is blocking internal testing of the Site Editor for a12s. We need to try and resolve it if we can.

[2021-02-03 09:07] philnick206 commented on #49007
#3706291-zen

[2021-02-03 09:17] klimeryk opened #49655 ""Add new site" button disappears below the fold/scroll"
### Steps to reproduce the behavior

1. Go to wordpress.com
2. Click on Switch Site.
3. Try to click the Add new site button that should be on the bottom of the screen.

#### What I expected to happen

Normally (when you did not scroll at all since refresh... so very rare, I guess):

<img width="277" alt="Screenshot 2021-02-03 at 09 08 59" src="https://user-images.githubusercontent.com/3392497/106

[2021-02-03 09:47] bizanimesh commented on #47646
Yes sure. 🙂

[2021-02-03 11:32] davipontesblog commented on #36374
@obenland do you know if this is irrelevant now in the context of nav unification? I think we may be able to close this issue if that's the case.

[2021-02-03 11:35] davipontesblog commented on #36199
@obenland is Feedback a wp-admin page in Nav unification? If so we can close this issue as they would be the same in simple and atomic then.

[2021-02-03 11:53] folletto commented on #8479
FWIW this has been "Fixed" in the sense that the editor has been replaced with Gutenberg, so the issue doesn't apply anymore as it was related to the old Editor. :)

[2021-02-03 13:33] getdave opened #49660 "Make it easier to see what plan a user is on, and make it easy for them to change it"
Based on comment by Aadil in p7DVsv-ago-p2#comment-34188.

## Tasks

- [x] Explore solutions (being mindful of expediency) to make it clearer which Plan the user is on.
- [x] Discuss ideas with Design and Engineering.
- [x] @Automattic/ajax to implement necessary changes.

@sfougnier would you be able to help us out with this one?

[2021-02-03 13:44] getdave commented on #49576
I've confirmed this happens when switching sites. Not sure why are this point but I get the following query string

`wp-admin/plugin-install.php?calypsoify=1&tab=search&s={{URL_OF_MY_ATOMIC_SITE}}`.

I tried switching `calypsoify` to `0` but that didn't change anything.

This appears to be a redirect.

A 2nd click on `Plugins` in the sidebar nav will land the user on the correct screen however so

[2021-02-03 13:48] getdave commented on #49577
Verified. Possibly related to https://github.com/Automattic/wp-calypso/issues/49175

[2021-02-03 13:51] getdave commented on #49655
@klimeryk Thanks for reporting.

I tried but was unable to replicate this.

Please could you retrest and check this is still manifesting? If so then feel free to remove the `Not Reproducable` label and then could you provide the browser and screensize where you found this issue?

Much appreciated.

[2021-02-03 13:57] getdave commented on #49643
Hi @malihanan. Thank you for your interest in contributing to Calypso. It would be great to have your help!

Unfortunately, this particular issue isn't easily reproducible in a public environment so it's going to be tricky for you to work on.

However, we'd really appreciate you taking a look at any of [the Issues labelled with `Good First Issue`](https://github.com/Automattic/wp-calypso/issues?q=

[2021-02-03 13:58] getdave commented on #49643
@katiebethbrown I've tried to reproduce this without success. Indeed all my Simple sites are showing a stats graph.

Could you possibly re-check the issue is still occurring? If so please feel free to remove the `Not Reproducible` label and then add me to your site and then DM me the details to I can take a look? It would be much appreciated.

[2021-02-03 14:05] getdave commented on #49275
I was able to reproduce this.

If you have a large number of items under any of the top level menus (eg: Followed Sites) then if you scroll down the page when these are expanded it will cause both the sidebar and the main page content to scroll. The sidebar should stick whilst the page should scroll.

Possibly related to https://github.com/Automattic/wp-calypso/issues/49175

[2021-02-03 14:08] getdave commented on #49235
@rachelwinspear Thanks for reporting. I cannot reproduce this.

Please could you re-test. If it still occurs then please feel free to remove the `Not Reproducible` label.

Also please can you advise on whether this is Simple or Atomic (assume Atomic).

Also would you mind inviting me to your test site and DM'ing me on Slack so I can see this happening?

Much appreciated.

[2021-02-03 14:12] getdave commented on #48814
@kriskarkoski Could you confirm whether there is action here for Nav Unification. It seems like the item should be available but with a message saying only available once public.

@jordesign I'm not clear on whether this is a regression you spotted with Nav Unification or whether it's an existing problem on WP.com.

What type of site do I need to have AMP show up? What are the conditions that gove

[2021-02-03 14:37] tyxla commented on #48408
Final PR to remove the legacy notices store once all the above PRs are merged: #49663 🎉

[2021-02-03 15:44] ianstewart commented on #48381
2918 is closed so we're just down to 2895 now.

[2021-02-03 15:56] simison opened #49665 "New onboarding: pad size doesn't differ from desktop size"
At `/new` flow, when looking at preview, size between desktop/pad doesn't have any difference. This is especially the case on Macbook 13" screen, but difference isn't big in bigger screens either

<img width="1434" alt="Screenshot 2021-02-03 at 17 52 06" src="https://user-images.githubusercontent.com/87168/106772488-baa53600-6648-11eb-88f6-c4871aebf9d3.png">
<img width="1434" alt="Screenshot 2021-

[2021-02-03 16:20] yansern commented on #48547
**Quick fix:**

I suggest that for quick fix, when the `site_creation_flow` is `gutenboarding`, when the site title cannot be validated on the server side, we'll fallback to the site title `Site` (that's what currently being used when user skips entering site title).

Here's a phab patch for that: D56420-code

**Long term fix:**

It appears that the create new site API endpoint at `/sites/new` has

[2021-02-03 16:24] #48947 closed, assigned to nobody

[2021-02-03 16:25] Sandkorner opened #49666 "Navigation Block not showing on site"
### Steps to reproduce the behavior

1. Add Navigation Block to your page (with some links)
2. In editor the Navigation Block shows normally
3. Check your live site, Navigation Block menu is not showing.

### Context
It seems that the Navigation Block code does not parse in the browser correctly.

#### Browser / OS version
Chrome / Version 88.0.4324.96 (Official Build) (x86_64)
Safari / Version 14

[2021-02-03 16:27] yansern commented on #43532
Is the feature flag `?flags=gutenboarding/language-picker` ready to be removed at this point?
See: pbAok1-dn-p2

[2021-02-03 16:37] mattwiebe opened #49667 "Gutenboarding: tt1-blocks is dropping some styles on Gutenberg edge"
On a site without the `gutenberg-edge` sticker:

![image](https://user-images.githubusercontent.com/195089/106776447-b0b01280-6609-11eb-9552-2f106eb58780.png)

With the `gutenberg-edge` sticker:

<img width="1790" alt="image" src="https://user-images.githubusercontent.com/195089/106778467-a0009c00-660b-11eb-8c15-e80b3ca3b535.png">
(The "template part deleted or unavailable" is a separate issue)

@

[2021-02-03 16:38] mattwiebe commented on #49573
Opened #49667 to track the general ugliness of tt1-blocks, appears to be related to running Gutenberg latest

[2021-02-03 16:51] simison opened #49669 "New onboarding: no whitespace under "feature list" on mobile"
### Steps to reproduce the behavior

1. Go to `/new` onboarding flow
2. Proceed to feature picker
3. Scroll all the way down
4. No empty space before buttons:

    ![image](https://user-images.githubusercontent.com/87168/106780563-cf85c780-6650-11eb-8e05-74756fc5830e.png)

Firefox on mobile emulation.

[2021-02-03 16:53] oandregal commented on #49667
:wave: I'm not sure I'm the best person to offer feedback on this: don't know the details of what's shipped in WordPress.com and so on. This is what I know, hope it's useful:

- TT1-blocks has been refactored to work with the latest changes to theme.json https://github.com/WordPress/theme-experiments/pull/182/
- I don't think those changes have been pushed to the WordPress theme repository. They r

[2021-02-03 17:01] mattwiebe commented on #49667
What you know is more than I did, thanks! 🙌

[2021-02-03 17:07] simison commented on #43532
@yansern I did some testing and looks like it's working well. Let's roll it to production! Thanks for the nudge.

[2021-02-03 17:12] simison opened #49670 "New onboarding: ToS link in signup only in English?"
- In `/new` flow (make sure to be in incognito)
- ...while in e.g. Spanish language — you can append locale to URL: https://wordpress.com/new/es or use flag: https://wordpress.com/new?flags=gutenboarding/language-picker
- ...the signup form has ToS link:
    <img width="400" alt="image" src="https://user-images.githubusercontent.com/87168/106782973-79665380-6653-11eb-9db6-0c080ed1fc4e.png">
- ...b

[2021-02-03 17:25] simison commented on #49666
cc @Automattic/good-mountain related to GB release?

[2021-02-03 17:27] simison commented on #49640
cc @Automattic/good-mountain Gutenberg upgrade issue?

[2021-02-03 17:29] simison commented on #49634
@worldomonation Is this happening in stock Gutenberg as well? If it is, https://github.com/WordPress/gutenberg would be better repo for issue.

[2021-02-03 17:29] fullofcaffeine commented on #49666
We don't know yet, trying to figure it out now.

_EDIT: Apologies, I closed the issue by accident._

[2021-02-03 17:49] worldomonation commented on #49634
<strike>Yes, I can reproduce it on jurassic.ninja as well. I'll report this at Gutenberg.</strike>

Sorry, not enough coffee + first thing in the morning. This issue does not appear reproducible on jurassic.ninja.

As an Author type user, I was able to view the reusable blocks I had created.

[2021-02-03 17:53] simison opened #49673 "New onboarding: Cover blocks aren't full width in Editor of created site"
### Steps to reproduce the behavior

1. Go to `/new`
2. On design step choose "Gibbs" it looks ok on preview:

    <img width="1287" alt="image" src="https://user-images.githubusercontent.com/87168/106789276-bd108b80-665a-11eb-98c1-253c09a55362.png">

    <img width="1535" alt="Screenshot 2021-02-03 at 19 49 46" src="https://user-images.githubusercontent.com/87168/106788225-5b9bed00-6659-11eb-8414

[2021-02-03 17:59] zdenys opened #49675 "Importers: Allow import from WordPress.com sites via URL"
It would also be great if I could copy/paste a WordPress.com site using the new migration tool. Currently, we see the error below: `This site is already hosted on WordPress.com`

**What**
Allow importing from WordPress.com sites by pasting their URL, just like it happens for externally hosted sites. Possible case scenarios:

- A user wants to create another site for another language they support
-

[2021-02-03 18:08] yansern commented on #49419
Related to a very old issue. https://github.com/Automattic/wp-calypso/issues/40013

[2021-02-03 18:09] yansern commented on #40013
Closing this and continuing with this. https://github.com/Automattic/wp-calypso/issues/49419

[2021-02-03 18:09] #40013 closed

[2021-02-03 18:19] yansern commented on #49080
Fixed with PR https://github.com/Automattic/wp-calypso/pull/49607.

[2021-02-03 18:19] #49080 closed, assigned to nobody

[2021-02-03 18:30] fullofcaffeine commented on #49666
See discussion here: p1612367245467800-slack-C015AL3QL7M.

[2021-02-03 18:30] yansern commented on #48922
Temporary fix here. https://github.com/Automattic/wp-calypso/pull/49329
Related to https://github.com/Automattic/wp-calypso/pull/49079.
Closing this issue.

[2021-02-03 18:30] #48922 closed, assigned to nobody

[2021-02-03 18:40] #49670 closed, assigned to nobody

[2021-02-03 18:56] worldomonation commented on #16449
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue, the issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-03 18:56] #16449 closed

[2021-02-03 19:01] michaeldcain commented on #49636
@Automattic/i18n

[2021-02-03 19:14] michaeldcain commented on #49477
Added this to the Payments backlog in: c/v5SbyTBS-tr

If it turns our to be a backend issue (I think it is), we'll close this.

[2021-02-03 19:37] #47025 closed

[2021-02-03 19:44] obenland commented on #41060
What exactly should be tracked here? Clicks? Downloads?

[2021-02-03 19:58] razvanpapadopol opened #49677 "New Onboarding Language Picker: some content is still translated after selecting EN"
### Steps to reproduce the behavior

1. Go to /new/es (or any other locale instead of `es`)
2. Go to domain or plan selection step
3. Open language picker and select EN

#### What I expected to happen
All texts to be English

#### What actually happened
Some of the texts are still being displayed in the original non-EN language

#### Context
It might be caused by some [recent changes](https://gith

[2021-02-03 20:03] obenland commented on #35402
@sixhours I assume this pre-dates your work on connection screenshots? Do you think you'd have time to change this to something more generic?

/cc @lcollette

[2021-02-03 20:03] obenland commented on #41713
Do we know why that parameter was added in the first place and what purpose it served?

[2021-02-03 20:14] ianstewart opened #49678 "Design Picker: Jetpack Subscription form not rendering correctly in newly created sites"
To reproduce …

1. Visit WP.com/new
2. Select "Bowen" or "Edison" design in flow
3. Proceed to editor
4. See error recorded in screenshot below

Bowen

![image](https://user-images.githubusercontent.com/545779/106803736-20ce9080-662a-11eb-9fb9-af03f7d31ef3.png)

Edison

![image](https://user-images.githubusercontent.com/545779/106806889-1dd59f00-662e-11eb-8da2-d26c0258d26a.png)

[2021-02-03 20:20] ianstewart commented on #49673
Reproduced in Chrome browser just now with the same steps above.

[2021-02-03 20:26] razvanpapadopol opened #49679 "New Onboarding: Language picker breaks navigation from Plans/Domains modals"
**Hint:** As a quick fix, see #49681 where we remove the language picker button from existing modals (Plans Modal and Domains Modal)

### Steps to reproduce the behavior

1. Go to wordpress.com/new/design
2. Click on Plans Button in the header. Plans selection modal will open
3. Click on _Site language [EN]_ button. Language picker modal will open
4. Go back to the Plans selection modal
5. Try clo

[2021-02-03 20:29] mattsherman commented on #49145
Just noting that this issue occurs for any SVG menu icon, not just the Jetpack icon. (The issue title and description doesn't reflect that.)

[2021-02-03 20:31] ianstewart commented on #49673
It's not limited to Gibbs but inclusive of Barnsbury as well.

![image](https://user-images.githubusercontent.com/545779/106805560-76a43800-662c-11eb-8cc6-ebaba94a9e38.png)

[2021-02-03 20:35] ianstewart commented on #49673
And in Cassel.

![image](https://user-images.githubusercontent.com/545779/106806074-195cb680-662d-11eb-8534-a4493df1d570.png)

Updating issue title and description …

[2021-02-03 20:42] mattsherman opened #49682 "Nav Unification: CSS provided icons are not supported in Calyspo"
When a plugin uses CSS (custom fonts, etc.) to style their menu icons, they do not display properly in Calypso. WooCommerce is one such plugin that does this (in order to get WooCommerce working with Nav Unification currently, see 577-gh-Automattic/wpcomsh#issuecomment-771947625). You can see this with the WooCommerce icon and the Products icon.

![CSS Menu Icons](https://user-images.githubusercon

[2021-02-03 21:08] worldomonation opened #49684 "Editor: unable to select parent page in Parent Page dropdown in some cases"
### Steps to reproduce the behavior

Prereq. Possibly need a site with hundreds if not thousands of pages, like FG.

1. Go to My Sites > Pages.
2. Open a page.
3. Open the right sidebar.
4. Expand the `Page Attributes` section.
5. Begin typing in a page name. In the FG, try searching 'Quality engineering'.

#### What I expected to happen

Pages matching the search query are shown in a dropdown lis

[2021-02-03 21:10] cathymcbride commented on #49616
We made some fixes to this area today @allanftd . I'm not reproing. Are you still reproing?

[2021-02-03 21:24] cathymcbride commented on #48770
@EmreYigitAlparslan This looks fixed on this end. Do you still repro?

[2021-02-03 21:55] simison commented on #49679
I lowered priority — there are some bugs in other features instead and since we can just avoid the feature being live for now, it's not urgent to fix it.

[2021-02-03 22:02] obenland commented on #41730
Let's remove the wp-admin settings.

/cc @jeherve In case you have more history or context for why this is duplicated and possible reasons to keep it that way.

[2021-02-03 22:04] mattsherman commented on #49209
@psealock I tested with WC Nav enabled. It does not function in Calypso. The non-WC Nav menu shows.

wp-admin:

https://user-images.githubusercontent.com/2098816/106815430-d3f6b400-6641-11eb-8341-25eddc19476b.mov

Calypso:

https://user-images.githubusercontent.com/2098816/106815454-de18b280-6641-11eb-902c-53053c888751.mov

Clicking on the "WooCommerce" menu item does not work in either scenario (

[2021-02-03 22:21] #46415 closed

[2021-02-03 22:29] michaeldcain commented on #47519
This is being tracked in #48966.

[2021-02-03 22:29] #47519 closed

[2021-02-03 22:51] obenland commented on #48597
Just accessed this in Firefox and Chrome and notifications seems to load fine in both. @jordesign @tbradsha Is this still something you can reproduce?

[2021-02-03 23:07] pablinos commented on #48841
In #49504 I'm adding this feature to the new Jetpack plans, but the nudge still talks about upgrading to a Business plan. What do you think about going a step further and making the feature enabled for all Jetpack sites now @kraftbj?

[2021-02-03 23:10] jordesign commented on #48597
Hey @obenland - I can check again shortly but when I checked yesterday the issue was still occurring in Chrome for me. To be clear though - this is specifically when logged in as the user from the report - not widespread

[2021-02-03 23:36] mrfoxtalbot opened #49689 "Nav Unification: "Sharing Buttons" section has an inconsistent location."
### Steps to reproduce the behavior

1. Click on the **Tools** menu item
2. Click on **Sharing Buttons**
3. The **Sharing menu item will be expanded** and the **Tools icon** will become **invisible**.

This inconsistency seems to be due to the fact that the "Sharing Buttons" option has now been moved under the Sharing option, but in Calypso, it is still under Tools". I would advocate **moving "Sha

[2021-02-04 00:02] psealock commented on #49209
The url is incorrect. `/wp-admin/admin.php?page=woocommerce` should have the query param `wc-admin` not `woocommerce`. If you change the url manually using the inspector, both nav and non-nav scenarios work as they should.

Since all WooCommerce links direct back to wp-admin, where Navigation does work, once we can get the WooCommerce Home link working we should be good here. You can test it out b

[2021-02-04 00:03] kraftbj commented on #48841
Without objection, that sounds great. I don't recall immediately what Jetpack-side changes are needed, but I can shift someone to look at it next week.

[2021-02-04 00:50] benchilcote opened #49690 "Image Block: Large images extend beyond the visual area of the editor"
### Steps to reproduce the behavior

1. Create a new page or post
2. Add an image block and add an image that is wider than the width of the viewable area
3. In the image block image size settings, select Large or Full Size
4. In the image block dimensions, choose 100%

#### What I expected to happen

I expect the image to extend to 100% of the visual editor window

#### What actually happened

Th

[2021-02-04 01:20] fullofcaffeine commented on #49666
Related Gutenberg issue: https://github.com/WordPress/gutenberg/issues/28712.

[2021-02-04 01:26] inaikem commented on #47780
Triage: closed as no longer relevant.

[2021-02-04 01:26] #47780 closed, assigned to nobody

[2021-02-04 01:33] p-jackson commented on #49678
Edison and Bowen source sites fixed and updating annotation here: D56462-code

[2021-02-04 01:47] p-jackson commented on #49678
The button text has changed from “Subscribe” to “Follow”, and I can’t seem to update it; `edit.js` seems to think the default text is “Subscribe” and `save.js` seems to think it’s “Follow”.

Before fix:
<img width="431" alt="Screenshot 2021-02-04 at 2 05 29 PM" src="https://user-images.githubusercontent.com/1500769/106833109-d9aed100-66f7-11eb-99c5-cf88f13c50ba.png">

After fix:
<img width="431" a

[2021-02-04 01:51] inaikem commented on #47696
Triage: I was able to reproduce on WPcom and self-hosted sites.

The issue only appears _immediately_ after the table is inserted and the edit button is clicked _before_ selecting a table cell.

If I create a table block and move focus to something else in the editor then click back, a table cell is selected on click/keyboard navigation and the issue is negated.