[2022-10-16 14:43] brinbliss commented on #68867
Another report in 5633724-zd-woothemes. Canadian number, and status undelivered.

[2022-10-16 18:51] jeyip commented on #68967
I checked and the asset for the icon in Figma is just two rectangles 😆 I'm not sure if she'd like to refine it more. Implementing the new icon ourselves won't a problem when we have the SVG, but for now, I'll stick with the official `Gridicon` until @nuriapenya is back.

[2022-10-16 19:25] jeyip commented on #68967
@Addison-Stavlo also curious how you feel about this behavior for the extremely long domain. I have the clipboard button shift url text over, as opposed to allocating a set amount of space for the button so that the url text _doesn't_ shift when the button appears.

![2022-10-16 12 20 53](https://user-images.githubusercontent.com/5414230/196053935-1993d2e4-f100-4648-a9e3-78fb76a51366.gif)

[2022-10-16 21:11] msilbers commented on #57170
reported in 5633975-zen on Penscratch 2

[2022-10-16 21:44] autumnfjeld commented on #68427
Could you link the diff to this work here?

[2022-10-16 21:53] autumnfjeld commented on #69014
This isn't required for launch of the PA MVP, but we should ship it soon after.   See Matias confirmation of that: p1665735522252499/1665730226.315779-slack-CRWCHQGUB

The PA flow from Theme Showcase  will need a mini-CfT of its own to make sure we catch any bugs or unexpected consequences.

[2022-10-16 21:58] autumnfjeld commented on #68244
I'm going to move this to the backlog, it can be picked up after we ship the PA MVP.   We'll need many brains focused on PA til then.

[2022-10-16 22:28] autumnfjeld commented on #69011
Design Proposal from Saxon

![Image](https://user-images.githubusercontent.com/5665959/196061406-d7b0ce54-0b53-4124-a614-81c8db49b268.png)

[2022-10-17 00:00] autumnfjeld commented on #69011
@Automattic/ganon  Just want to be clear that for the PA project, for virtual pages we will only surface the home.html template, and maybe the posts template once we incorporate query block patterns in the PA flow.    Discussed in this slack p1665962144430139/1665657784.022599-slack-CRWCHQGUB

[2022-10-17 00:11] lsl commented on #68942
Reads much better, thank you!

[2022-10-17 00:13] #68942 closed, assigned to lsl, paulopmt1, vinimotaa, jeremyanderberg

[2022-10-17 00:51] lsl commented on #68945
I think that one is still part of the design :smile:

Should have communicated this, I ignored it in https://github.com/Automattic/wp-calypso/pull/69057 because we don't currently have a good way to pre-query search result counts.

It's probably something we can add but since we're making a lot of assumptions here already I didn't want to go building too much extra stuff until we have a clearly de

[2022-10-17 01:54] lsl opened #69112 "Marketplace: Add plugins category page links to /install-plugins/ lohp"
We need to cross-link into to the logged out plugins pages from WordPress.com logged out home pages (lohp).

Let's start by adding category page links from the [`/install-plugins` page](https://wordpress.com/install-plugins/):

![Screenshot(45)](https://user-images.githubusercontent.com/811776/196072937-31cdfda1-922f-4987-a8d7-5635d8870ef3.png)

Acceptance:
- [ ] Figure out what categories to link

[2022-10-17 02:00] retnonindya opened #69113 "Theme Masu: Missing post content (Query Loop Block) on template Archive"
### Quick summary

Missing Query Loop Block on the template Archive in theme Masu, causing the category page, no matter which category, to display the latest blog post instead of the posts based on the category/tag/any archive format.

Also, the theme Masu looks BEAUTIFUL. Kudos to whoever made it.

### Steps to reproduce

1. Make sure the website/blog has enough categories/tags. This won't work o

[2022-10-17 02:13] taipeicoder opened #69114 "Style selection: Surface themes with style variations via weighting"
## Description
Currently, as implemented in #68183, all themes without style variations are placed at the top of the theme grid. As discussed in p1665780085337389/1665543032.718109-slack-CRNF6A9DX, we are iterating this behavior so that it goes from placing all of them to the top of the theme grid, to weighting them so that we can ensure that "n of the themes in the first m have style variations".

[2022-10-17 02:40] lsl commented on #69112
Related https://github.com/Automattic/martech/issues/1000

Slack context  p1665972619226399-slack-CFFF01Q4V

[2022-10-17 04:00] miksansegundo commented on #67480
I think we might not want to use `ThemePreview` in the future to preview patterns because we might prefer to use a frontend solution to render a larger list of patterns (as Gutenberg does) with better performance.

`ThemePreview` and the component being used for now (`PatternPreviewAutoHeight`) use the server API `/blocks-preview` which won't perform well with a larger list of patterns.

I recentl

[2022-10-17 04:00] #67480 closed, assigned to nobody

[2022-10-17 04:05] miksansegundo opened #69115 "Move reusable components to @automatic/components"
Ganon has created components that can be useful for other teams/projects. We can move these components to `@automatic/components` with the proper docs:

- ThemePreview
- Others?

[2022-10-17 04:07] miksansegundo commented on #67480
Created https://github.com/Automattic/wp-calypso/issues/69115

[2022-10-17 04:09] #69012 closed, assigned to miksansegundo

[2022-10-17 04:10] mpkelly commented on #67940
I was going to pick this up but I am not sure about this part:

Do we want to make both the Status and Sort menus use the same style as Status does currently?

[2022-10-17 04:51] bangank36 commented on #68427
I made a draft diff D89996-code
I’ve learnt something about FSE, the [wp/v2/templates](https://code.a8c.com/source/wpcom-git/browse/trunk/wp-includes/rest-api/endpoints/class-wp-rest-templates-controller.php$212) is used to fetch the current site wp_template items, it is designated to filter templates based on [wp_theme taxonomy,](https://code.a8c.com/source/wpcom-git/browse/trunk/wp-includes/bloc

[2022-10-17 05:21] gavande1 commented on #68829
Yes. I agree. It should be unsigned.

[2022-10-17 05:26] mpkelly commented on #68625
I was siding with @danielbachhuber after checking Bundlephobia and seeing it was only 1.8kb gzipped, but the hook in `visible-days-limit-upsell/hooks.ts` is precisely what we need, so I think it makes sense to modify that so it accepts a callback param and then reuse it. I've actually done that already, but I will try and add a test suite as well.

[2022-10-17 06:23] mpkelly commented on #68625
It's a bit awkward for manual testing and would depend on an external dependency for mocking, so I decided to test it manually.

[2022-10-17 07:11] arthur791004 commented on #67854
Post a comment pbxlJb-2pM-p2#comment-1923 to show the metrics with newly added 6 verticals 🙂

[2022-10-17 07:12] arthur791004 commented on #67854
Close as it's completed

[2022-10-17 07:12] #67854 closed, assigned to arthur791004

[2022-10-17 07:28] vinnykaur commented on #64563
Another one: zd-5635973

[2022-10-17 07:50] simison commented on #68798
Singular or plural, i.e. all the patterns? :-)

[2022-10-17 08:59] #34680 closed

[2022-10-17 09:28] ivan-ottinger commented on #69019
https://github.com/Automattic/jetpack/pull/26747 is now merged.

[2022-10-17 09:28] #69019 closed, assigned to ivan-ottinger

[2022-10-17 10:13] sejas commented on #68204
@danielbachhuber, should a user who has access to the admin site be able to delete the ssh belonging to other users?
Or alternatively, should each user be able to delete only their own keys?

[2022-10-17 10:17] danielbachhuber commented on #68204
@sejas Yes.

[2022-10-17 10:27] bogiii opened #69123 "Subscriber form: Style adjustments, reskin in-product integration"
![Image](https://user-images.githubusercontent.com/1241413/196156374-245bd1df-339b-4c92-90eb-4bfb0888bc79.png)
![Image](https://user-images.githubusercontent.com/1241413/196156375-b4d4fc29-08e0-40eb-bd5e-3d6bad59630e.png)

[2022-10-17 10:39] #65902 closed, assigned to cpapazoglou

[2022-10-17 10:56] gcsecsey commented on #68111
This is being fixed in D89948-code

[2022-10-17 11:16] danielbachhuber commented on #68455
@cuemarie Sounds great! I would love to keep collecting feedback and insights.

[2022-10-17 11:20] #67535 closed, assigned to cpapazoglou

[2022-10-17 11:37] daledupreez opened #69124 "Task: Update designs for theme page banner"
### Details

We want to update the styles for the upgrade bar we show on theme demo sites.

Discussion about the direction: p9Jlb4-5gS-p2#comment-6040
Figma: HrozjSkGvZzQYg1DDZpXiu-fi-55%3A856
Related back-end change: D88784-code

### Checklist

- [x] New styles are applied for theme demo sites on WordPress.com Simple
- [ ] New styles are applied for theme demo sites on WordPress.com Atomic

### R

[2022-10-17 11:57] #68838 closed, assigned to nelsonec87

[2022-10-17 12:02] markbiek opened #69125 "Ignore: Comment highlighting test."
Testing

[2022-10-17 12:02] #69125 closed, assigned to nobody

[2022-10-17 12:06] gcsecsey opened #69126 "Investigate moving the `incompatiblePlugins` array to WPCOM"
Follow up to #68111 and #65457

We store a list of plugin slugs in Calypso that aren't compatible with atomic sites:
https://github.com/Automattic/wp-calypso/blob/594ed2325aaf7668d13c96c42079f29125e1773e/client/my-sites/plugins/plugin-compatibility.js#L1-L11

In #65457 we needed to replicate this array to WPCOM and in D89948-code we discussed moving it there and Calypso fetching the data on load.

[2022-10-17 12:30] #65457 closed, assigned to gcsecsey

[2022-10-17 12:32] gcsecsey commented on #68111
Changes deployed in r254520-wpcom

[2022-10-17 12:32] #68111 closed, assigned to gcsecsey

[2022-10-17 12:40] carinapilar commented on #68455
That's sad to hear, that a removal of an existing feature turned into a _feature request_, especially because on the Switch Site list itself nothing changed besides the buttons at the bottom. I hope this gets implemented soon, because it's very disruptive. 😞

[2022-10-17 12:40] ivan-ottinger commented on #68746
https://github.com/Automattic/jetpack/pull/26696 is now in review

[2022-10-17 13:12] sejas commented on #55175
I've deployed the change r254523-wpcom .
The diff updates the user_meta when an atomic site connects to WPcom.
The user_meta could change while the site was disconnected.
I assumed it was safe to update the user_meta because that behavior would also happen if the user updated his user_meta from calypso and the site was connected.

[2022-10-17 13:13] #55175 closed, assigned to sejas

[2022-10-17 13:20] danielbachhuber opened #69128 "Dev Tools: Delay hiding menu to make it easier to click helpers"
Currently, if you accidentally mouse away by even a smidgen, the Dev Tools menu hides entirely:

![CleanShot 2022-10-17 at 06 15 38](https://user-images.githubusercontent.com/36432/196187021-d2957267-d7cd-4eae-baac-4f85c45681f2.gif)

We should delay this menu hiding behavior by 0.5s, so that it's possible to mouse back and continue using the menu.

**Done is:**
* Dev Tools menu hiding is delayed b

[2022-10-17 13:31] carinapilar commented on #68455
I now noticed that it does seem to exist a bug on the new Switch Site and the removed hidden feature. @danielbachhuber, let me know if I need to open a new GH request for the following:

**Steps to replicate:**
1. Select one of your sites from the list
2. Click on the Pages menu item
3. Click on "Switch Site"

It shows the number of visible sites, even though that feature isn't working anymore. I

[2022-10-17 13:43] vindl commented on #66669
We'll provide alternatives to screenshots for the Coming Soon and P2 sites. The goal is to use fewer fallbacks for private sites, so there is less need to deal with them separately.

[2022-10-17 13:43] #66669 closed, assigned to nobody

[2022-10-17 13:45] gmovr commented on #68761
Thanks for the interest in contributing to Calypso!

Feel free to make a pull request containing the changes. You can read more about contributing to Calypso here: https://github.com/Automattic/wp-calypso/blob/trunk/docs/CONTRIBUTING.md

[2022-10-17 14:00] paulopmt1 commented on #68901
Even if we receive 0 results from our search, we have at least four calls of `calypso_plugins_search_results_page` and it keeps increasing without changing anything on the page:

<img width="1307" alt="image" src="https://user-images.githubusercontent.com/1044309/196196748-ecea16be-a2c5-4c90-9cee-838c664151e5.png">

[2022-10-17 14:00] danielbachhuber commented on #68919
Cross-linking some feedback on this discrepancy: https://github.com/Automattic/wp-calypso/issues/68455#issuecomment-1280867027

[2022-10-17 14:03] danielbachhuber opened #69130 "Sites Management Page: Add <SitesTableRow /> to DevDocs"
Our `<SitesTableRow />` has a fair number of UI variations now. It would be great to set this up in DevDocs, so we can more easily inspect changes (p1665762615564289-slack-C0347E545HR).

**Done is:**
* [ ] `<SitesTableRow />` is set up in DevDocs.
* [ ] We have a good number of stories written for the UI variations.

[2022-10-17 14:13] danielbachhuber commented on #68455
@carinapilar Good eye! This discrepancy is on our radar (https://github.com/Automattic/wp-calypso/issues/68919). We could probably show an icon instead.

[2022-10-17 14:15] Gustavo-Hilario commented on #67320
Another report:

- [ ] 5630255-zen

Cultivate theme. Shared CSS code.

[2022-10-17 14:20] saygunnyc commented on #69060
The image below carries all propositions for paid and free users. Figma: HSljkKnYECEEegL3DqP2xC-fi-6601%3A139584

<img width="1805" alt="Allcases" src="https://user-images.githubusercontent.com/78876323/196200484-c404cdaa-d837-4da3-b5a8-5f051d4726d3.png">

**The proposal is to:**
- Tweak the disclaimer by removing "on your list" so it doesn't only refer to the email list but also the emails entere

[2022-10-17 14:26] #65250 closed, assigned to mashikag

[2022-10-17 14:38] kettultim commented on #68716
Another example here: 37197877-hc

Advising user to use block patterns 😑

[2022-10-17 15:50] #66008 closed, assigned to markbiek

[2022-10-17 15:50] markbiek commented on #66286
Thanks to @pbking for digging into this.

It seems that the issue was that the `theme.json` files had been updated but not deployed. They've been deployed and I'm now seeing the full font list for the theme.

paYKcK-2cp-p2

[2022-10-17 15:50] #66286 closed, assigned to markbiek, valterlorran

[2022-10-17 16:34] NoHopeRadio opened #69135 "Query Loop Block: Custom Field Support"
### What

A sub-block for the query loop block to call information from custom fields.

### Why

This would add quite a lot of flexibility to the query loop block. As it is, it can be used to reorganize some of a post's content and meta information, but if a user wanted to separate out some of the actual content of a post or add additional content --  perhaps for a subheading -- there isn't a part

[2022-10-17 17:11] davemart-in commented on #68983
Rebased and merged in #69105

[2022-10-17 17:11] #68983 closed, assigned to davemart-in

[2022-10-17 17:13] markbiek commented on #67093
This was done as part of PR2 in the premium-theme-tools repo.

[2022-10-17 17:13] #67093 closed, assigned to markbiek

[2022-10-17 17:17] markbiek opened #69137 "Themes: Callout soft-launched themes in the showcase UI"
We've had a few instances of confusion where people recommended to users, a theme that appeared to be active/public but was actually soft-launched. This meant that users were unable to locate theme.

It'd be nice to add a badge to themes in `/themes` and on the `/theme/[theme-slug]` pages that denote that a theme is soft-launched. Ideally the badge would only be visible to people with Automattic l

[2022-10-17 18:55] DavidRothstein opened #69142 "Jetpack checkout refers to refund window for "non-domain" products"
### Quick summary

When you check out for Jetpack following https://github.com/Automattic/wp-calypso/pull/68093, the terms of service at the bottom make a reference to the refund window for "non-domain" products:

![jetpack-checkout](https://user-images.githubusercontent.com/235183/196259038-d664271d-b694-4a95-a671-91ad24c3a8f7.png)

This is maybe a bit confusing since you can't buy a domain on a

[2022-10-17 19:41] thekingsprojects commented on #68455
Another user who wanted to be able to hide sites here—they don't want to see them at all, and don't have enough sites that any sorting would be likely to "bury" them in the list. (They may just end up deleting the sites anyway, they need to think about it, but wanted to consider hiding them in the meantime.)

37402025-hc

[2022-10-17 19:59] phcp opened #69144 "[New Comment] Missing post author notifications for new comments on P2 posts"
Context: p1666035976333449-slack-C02TCEHP3HA

Regression possibly made by https://github.com/Automattic/wp-calypso/issues/66651

[2022-10-17 22:05] hngdny commented on #39153
Also reported here 5637820-zd-woothemes

[2022-10-17 22:19] kuropixel commented on #68867
Another report in 5637463-zd. Canadian number, status undelivered.

[2022-10-17 22:21] hngdny opened #69150 "Escutcheon: Only excerpts are showing in blog feed despite Full Text selected in Blog Reading Settings"
### Quick summary

User reports that their site was previously always showing 'Full text' on their home page blog posts feed. Toggling the option to 'Excerpt' and back to 'Full text' does not force full text to appear.

### Steps to reproduce

1. Create Simple site with Escutcheon theme
2. Add test post with a few paragraph of text
3. Go to Settings > Reading and select 'Full Text'

### What you e

[2022-10-17 22:27] kangzj opened #69151 "Stats: Adjust borders around each module"
Part of the modernization project (p1HpG7-igQ-p2).

![Image](https://user-images.githubusercontent.com/4044428/194158381-e4e7f4b7-d091-43c4-a404-b8500a798bab.png)

![Image](https://user-images.githubusercontent.com/390760/195566840-48271532-6025-4209-9739-ffeb1a7bf442.png)

[2022-10-17 22:34] obenland commented on #63583
I spent some time today investigating what might have caused it. Just posted a summary of my findings and suggested next steps, including a road block I encountered here: pMz3w-gce-p2

[2022-10-17 22:35] #68866 closed, assigned to p-jackson

[2022-10-17 23:10] autumnfjeld commented on #68786
@daledupreez I noticed this camelCase / snake case problem in August https://github.com/Automattic/dotcom-forge/issues/903 .  It's really unfortunate and frustrating and in theory I'd like to see every prop changed to snake-case for consistency.

The reason camelCase because the names are [passed from the Stepper Framework](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper

[2022-10-17 23:13] melek commented on #67493
Affecting 5638406-zen as well.

[2022-10-18 00:10] kuropixel commented on #68867
Adding more: 5638304-zd. Canadian number, status undelivered.

[2022-10-18 01:03] john-legg commented on #66144
### Quick Update
Hi @worldomonation! Sorry for the delay on this one. I've been taking the time to learn more about notifications and the WordPress.com REST API. Unfortunately, I haven't been able to reproduce any flakiness locally or find failures on any branch using the TeamCity investigation methods.

However, after experimenting with the API for a bit, I believe I can generate the notification

[2022-10-18 01:03] happychait commented on #64396
Stumbled upon this issue while trying to update [dotcom sub-menu support guide.](https://wordpress.com/support/menus/create-drop-down-menus/#create-a-drop-down-menu-in-the-site-editor)

Just want to note for myself, and for posterity, the core issues tracking sub-menu usability issues are the following:

https://github.com/WordPress/gutenberg/issues/40382 linked  from this comment: https://github.

[2022-10-18 01:17] davemart-in opened #69155 "Writing Prompts - Figure out how to determine if user went through blogger onboarding flow"
## Description

We plan on adding writing prompts to the Gutenberg block editor. In doing so we also want to promote this feature in a couple of spots. As part of that work, we will need to figure out how to determine if user went through blogger onboarding flow.

[2022-10-18 01:21] autumnfjeld opened #69156 "Add Site Editing slide to the Welcome Tour"
# Description
The  Blank Canvas Pattern Assembler onboarding flow, see pbxlJb-2ki-p2 , ends with the user landing in the Site Editor.  The Welcome Tour should be updated to have contextual information related to the Site Editor, as currently it only has content on Block Editing. This new tour will only show for the PA flow (later it could be expanded for other themes that are designed for template

[2022-10-18 01:21] davemart-in opened #69157 "Writing Prompts - Add writing prompt card to My Home (only if user went through blogger onboarding flow)"
## Description

We plan on adding writing prompts to the Gutenberg block editor. In doing so we also want to promote this feature in a couple of spots. As part of that work, we will want to add a writing prompt card to My Home (but, only if user went through blogger onboarding flow).

This includes hooking up the link to go to the new post editor (for the correct site) with the prompt active

Late

[2022-10-18 02:11] roo2 commented on #69155
If the user went through blogger flow they will have the `site_intent` blog option set to `write`
`get_option( 'site_intent' ) === 'write'`

[2022-10-18 02:13] #69155 closed, assigned to nobody

[2022-10-18 02:19] autumnfjeld opened #69158 "Add virtual home.html link in Calypso pages"
# Description
For MVP of the Pattern Assembler we have a number of "supporting work" items to make the user experience smoother.  One of these items is surfacing "virtual pages" in https://wordpress.com/pages.
Spike completed.  [[Spike] Surfacing virtual pages in the wordpress.com/pages UI](https://github.com/Automattic/wp-calypso/issues/69011)

This issue defines what will ship to users.  See @ar

[2022-10-18 02:36] roo2 opened #69159 "Writing Prompts - Create new writing prompt notification"
## Description

We plan on adding writing prompts to the Gutenberg block editor. In doing so we also want to promote this feature in a couple of spots. As part of that work, we will need to create notifications for the writing prompt. We will have to do a bit of research about the best way to use the existing notifications system to achieve our aims.

Notifications will only be sent for eligible u

[2022-10-18 02:36] roo2 opened #69160 "Writing Prompts - Add writing prompt notification setting"
## Description

We plan on adding writing prompts to the Gutenberg block editor. One place we will surface writing prompts is via notifications. Adding the notification is handled in https://github.com/Automattic/wp-calypso/issues/69159, this card is for managing the notification settings.

#### Notification settings
We had some lively debate on the team sync about where notifications should be ha

[2022-10-18 03:25] DavidRothstein opened #69162 "Visiting `/checkout` should allow you to see your shopping cart rather than redirecting to the Plans page"
### What

For some reason, visiting https://wordpress.com/checkout redirects to the `/plans` page.

I would expect it to show you a site selector if you have multiple sites, or redirect to `/checkout/[site]` (which already shows that site's cart, via existing behavior) if you only have one site -- similar to how other Calypso pages work.

### Why

There may be some reason I'm not aware of for redi

[2022-10-18 03:44] danielk-am opened #69163 "Remove the "Your homepage displays" setting from Reading Settings, when an FSE-ready theme with a Home template is active"
### What

I would like to request to remove the "Your homepage displays" setting from the Reading Settings when an FSE-ready theme is active.

### Why

This is to simplify the way users can work on their Home template, without the need to select "another" setting that is outside the Site Editor.

### How

_No response_

[2022-10-18 04:16] Jaykame commented on #68612
@steve-lgtm It's a feature request and not an issue per se. It would be nice to have a "Search and Replace" tool in calypso that can search through users' site content.

[2022-10-18 04:49] rakshitwesley opened #69167 "Blog posts block: Posts displayed in wrong number of columns when "borders" is selected"
### Quick summary

When selecting to display posts with borders, the blog posts block displays one less column. For example, if we select the post to be displayed in 3 columns with border selected, it instead displays in 2 columns.

I was able to reproduce this issue on my test site

### Steps to reproduce

1. Add "Blog posts" block to a page
2. Select "Borders" under Style.
3. Set column to 3
![E

[2022-10-18 04:58] autumnfjeld commented on #69011
Closing spike.  Shippable issue is here: [Add virtual home.html link in Calypso pages](https://github.com/Automattic/wp-calypso/issues/69158)

[2022-10-18 04:58] #69011 closed, assigned to arthur791004

[2022-10-18 04:59] autumnfjeld commented on #69158
@arthur791004  you can link any PRs here to this issue. :)

[2022-10-18 05:04] autumnfjeld opened #69168 "Update theme switch modal for case of switching to Blank Canvas in the Theme Showcase"
# Description
See Reviewing the theme switch modal messaging pbxlJb-2Gx-p2
See related issue for possible better ideas: https://github.com/Automattic/wp-calypso/issues/68953

When the PA flow ships, the blank-canvas-3 (PR https://github.com/Automattic/themes/pull/6665) will be available in the Theme Showcase. It will be called Blank Canvas publicly.

When users pick this theme in the showcase they

[2022-10-18 05:07] kuropixel commented on #68867
Another: 5634186-zd. Canadian number, status undelivered.

[2022-10-18 05:31] taipeicoder commented on #69114
Closed as it's deployed.

[2022-10-18 05:31] #69114 closed, assigned to taipeicoder

[2022-10-18 06:19] miksansegundo opened #69169 "-"

[2022-10-18 06:37] autumnfjeld commented on #69168
Let's also use this wording on the second theme switch modal (maybe this needs to be a separate issue)
![image](https://user-images.githubusercontent.com/5665959/196353992-5dfdb295-365b-43bf-8ac9-9e2f763d0824.png)

[2022-10-18 06:41] autumnfjeld commented on #68953
@jordesign What did you have in mind?   I'm adding similar issues for Ganon to tackle as part of the Pattern Assembler flow.

[2022-10-18 06:44] roo2 opened #69170 "Writing prompts - Support team global in translating writing prompts to mag-16 languages and updating API"
## Description

We plan on adding writing prompts to the Gutenberg block editor. As part of that work, we will need to translate the existing writing prompts returned by the existing writing prompts API (2decf-pb) to be translated into the magnificent 16 languages (PCYsg-9nE-p2).

The global team has this issue 526-gh-Automattic/i18n-issues to track getting the actual translation process happening

[2022-10-18 06:46] autumnfjeld opened #69171 "Update "showing latest posts" wording when a non-blog theme uses home.html for static content"
# Description
This copy "The homepage is showing your latest posts." makes no sense in the context of themes that:
* don't have a "real" page
* use home.html for page content

UDPATE: I think this should apply to all FSE themes, but need to get confirmation from a theme developer.

As far as I'm aware this includes ([Pendant](https://href.li/?https://pendantdemo.wordpress.com/), [Cultivate](https:

[2022-10-18 06:49] arthur791004 commented on #69171
https://github.com/Automattic/wp-calypso/pull/69070 has addressed this issue, it will show the Home page and the empty page section will be gone

[2022-10-18 06:51] autumnfjeld commented on #69171
That was just occurring to me.  GREAT! :)

[2022-10-18 06:54] roo2 opened #69172 "Writing prompts - Show writing prompt in Gutenberg editor as placeholder text"
## Description

We plan on adding writing prompts to the Gutenberg block editor. This card covers the actual writing prompt being shown to eligible users in the actual gutenberg editor.

Eligible users are:

* Wordpress.com (or WoA) users who are bloggers `site_intent === 'write'`
* And also opened the editor from one of two prompt links

## Screenshots

<img width="1680" alt="in-editor" src="http

[2022-10-18 06:55] arthur791004 commented on #69158
When the user clicks on the Home page, they will enter the site editor. Do we still need to link the description to to the site editor?

I link it to https://wordpress.com/support/templates/#template-hierarchy because it describes “If your site is set up to display the latest posts on the front page, the Home or Index template applies the style for that page.” below. Does it make sense?

[2022-10-18 07:13] roo2 opened #69173 "Writing Prompts - Button to permanently hide writing prompts box from the My Home screen for current site"
## Description
We plan on adding writing prompts to the Gutenberg block editor. In doing so we also want to promote this feature in a card on the my-home page https://github.com/Automattic/wp-calypso/issues/69157. As part of that work, we will need to give users a way to permanently dismiss the card.

* Includes adding the "hamburger menu" to the card
* Also includes a link to the notification set

[2022-10-18 07:37] ivan-ottinger commented on #68746
https://github.com/Automattic/jetpack/pull/26696 is now merged to Jetpack and WPCOM.

[2022-10-18 07:37] #68746 closed, assigned to ivan-ottinger

[2022-10-18 07:50] arthur791004 commented on #69052
Checked, and here is the type and id mapping

| Type | ID |
| - | - |
| Page, Post | editor |
| Site | site-editor |
| Widget | widgets-editor |
| Customize | customize-controls |

[2022-10-18 08:47] TimBroddin commented on #65248
Add the align tool to the Form Block, similar to https://github.com/Automattic/jetpack/pull/22703 and https://github.com/Automattic/jetpack/pull/22645

- [ ]  (probably have to) add "inner-container" div - to make sure all inner blocks can be aligned on their own. Similarly to how the core Group block works
- [ ] add the Align support with Wide & Full Width options
- [ ]  deprecate the current blo

[2022-10-18 08:53] autumnfjeld opened #69175 "Video screen in Blank Canvas Pattern Assembler flow"
# Description
To offer users extra help before landing in the Site Editor we will add two screens at the end of the PA flow, like we do in the Write(Blog) flow. See this Figma for context in the Pattern Assembler Flow ifmp3NXprvQqRLgzI1dDaU-fi-92%3A101

### Data justification
In the Write flow, on average, about 100/day click through to the video screen.  See this slack discussion on data p1665974

[2022-10-18 08:53] zaerl opened #69176 "Update subscriber import type"
The type `ImportSubscribersResponse` must be updated. Fields `errors` and `subscribed` can be removed because `POST /sites/<blog_id>/subscribers/import` do not output valid values anymore.

See D90024-code.

[2022-10-18 09:03] autumnfjeld commented on #68955
I'm going to add this to this issue to WordPress.com Web Engineering Roadmapping https://github.com/orgs/Automattic/projects/472 "Idea Inbox"

[2022-10-18 09:16] miksansegundo commented on #68953
Sharing some context about the wording we use in support pages to see how we can improve it.

**The labels being used are**

- Editor
- Site Editor
- Block Editor
- WordPress Editor

**Relevant info from support pages**

The Site Editor brings a whole new level of control when editing a WordPress site. While it’s possible to edit your **site’s overall structure** (i.e. the **templates**) as well a

[2022-10-18 09:43] bangank36 commented on #69052
@arthur791004 how can we access Widget and Customize editor

[2022-10-18 10:10] #68789 closed, assigned to epeicher

[2022-10-18 10:13] arthur791004 commented on #69052
You can access the Customize editor from "Appearance > Customize".

When you switch to old themes like "Twenty Twenty", you will see it from "Appearance > Widget"

[2022-10-18 10:14] arthur791004 commented on #69052
I'll create a PR to fix this issue 🙂

[2022-10-18 10:20] jartes commented on #66552
Another case in 37479826-hc after hiding the WordPress.com footer credit.

Thanks for the CSS Snippet!

[2022-10-18 10:25] arthur791004 commented on #69158
I've made a change to update the copy and only apply to the themes that support FSE.

Here is new [demo](https://user-images.githubusercontent.com/13596067/196390946-60b0d360-978c-449a-8003-6601a208f366.mov).

[2022-10-18 10:29] keoshi opened #69178 "Improve tooltip styling"
Part of the modernization project (p1HpG7-igQ-p2).

# Development

- [x] Update styles for the chart tooltips
(#69311)
- [x] Address review feedback
(#69508)

# Design

Create a cohesive and consistent style for tooltips/popovers across the entire Stats experience (and eventually all of Calypso).

This is based on Dotcom's own explorations of a tooltip: eqlepL7MHifK8Bgr1OWqLr-fi-415%3A1426&viewpor

[2022-10-18 10:43] a8ck3n opened #69179 "Secondary pages header (Breadcrumbs)"
Part of the modernization project (p1HpG7-igQ-p2).

# Development
- [x] Introduce new page header behind a feature flag. (#69372)
- [x] Reconstruct backlinks using the site slug instead performing string manipulation on the current path. ([reference](https://github.com/Automattic/wp-calypso/pull/69372#pullrequestreview-1171254692)) (#69844)
- [x] Release the new page header to the public. (#69877)

[2022-10-18 11:15] ehti opened #69182 "Desktop app: pending security issue"
### Quick summary

Report received in: #h1-1672949.
Need more discussion on the issue itself.
Opened an issue here to track.

### Steps to reproduce

Check H1 report.

### What you expected to happen

-

### What actually happened

-

### Browser

_No response_

### Context

_No response_

### Platform (Simple, Atomic, or both?)

_No response_

### Other notes

_No response_

### Reproducibility

[2022-10-18 11:48] rapidclue commented on #68830
The documentation has been created at https://developer.wordpress.com/wordpress-com-marketplace/saas-billing-api/ and linked on https://developer.wordpress.com/wordpress-com-marketplace/.

[2022-10-18 11:52] gavande1 commented on #68830
The documentation has been created at https://developer.wordpress.com/wordpress-com-marketplace/saas-billing-api/ and linked on https://developer.wordpress.com/wordpress-com-marketplace/

[2022-10-18 11:52] #68830 closed, assigned to gavande1

[2022-10-18 12:03] #68570 closed, assigned to lynnbgriffith, flootr

[2022-10-18 12:13] cpapazoglou commented on #68830
Before closing this, can we also add the billing intents endpoint to the swagger docs?

[2022-10-18 12:23] kavyagokul commented on #69004
📌 SCRUBBING : RESULT
- Tested on P2 - N/A
- Tested on Simple -  Could Not Replicate
- Tested on AT - Could Not Replicate
- Tested on Self-hosted -  N/A
- Replicable on Core - N/A

📌 FINDINGS/SCREENSHOTS/VIDEO
The user who reported this has the line height set to 0.6 in global styles in the site editor

📌 ACTIONS
- Closed as could not replicate (please reopen the issue reoccurs)

[2022-10-18 12:23] #69004 closed, assigned to nobody

[2022-10-18 12:51] #68994 closed, assigned to eoigal

[2022-10-18 12:55] kavyagokul commented on #69005
📌 SCRUBBING : RESULT
- Tested on P2 - n/a
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
Steps to repro
1. On a simple or atomic site, switch the Blockbase, or any child theme
2. After switching, view the site. The navigation created by the page list block would be missing.
3. Launch the site

[2022-10-18 14:18] #68524 closed, assigned to JulianBustamante

[2022-10-18 14:30] brinbliss commented on #68867
As a note, there's additional progress in pMz3w-g7U-p2#comment-102885. We can continue to report cases where a user is affected here, however, so they can be notified when SMS 2FA is restored.

[2022-10-18 14:43] markbiek opened #69190 "Premium Theme: Munchies needs its own private repo"
Part of the new process for premium themes is for each theme to have its own private repo.

We need to add a repo for premium/munchies and we also need to add that repo to the premium-theme-tools as a submodule.

[2022-10-18 14:43] markbiek commented on #69190
@valterlorran I've never set up one of these repos before. When you're available, maybe we could go through that process and document it somewhere?

[2022-10-18 14:48] TimBroddin opened #69191 "Add feature flag: wp22me"

[2022-10-18 14:48] TimBroddin opened #69192 "[Mention in post] Create new template"

[2022-10-18 14:48] TimBroddin opened #69193 "[Mention in post] Add tracking to old template"

[2022-10-18 14:48] TimBroddin opened #69194 "[Mention in post] Add tracking to new template"

[2022-10-18 14:48] TimBroddin opened #69195 "[Mention in post] Make sure RTL works"

[2022-10-18 14:48] TimBroddin opened #69196 "[Mention in post] Make sure accent color works"

[2022-10-18 14:48] TimBroddin opened #69197 "[Mention in comment] Create new template"

[2022-10-18 14:48] TimBroddin opened #69198 "[Mention in comment] Add tracking to old template"

[2022-10-18 14:48] TimBroddin opened #69199 "[Mention in comment] Add tracking to new template"

[2022-10-18 14:48] TimBroddin opened #69200 "[Mention in comment] Make sure RTL works"

[2022-10-18 14:48] TimBroddin opened #69201 "[Mention in comment] Make sure accent color works"

[2022-10-18 14:52] sejas commented on #67940
Tagging @SaxonF, as he probably has more insights. ✨

[2022-10-18 15:05] creativecoder commented on #69170
Started a discussion about the API implementation and translations here: pe7F0s-j1-p2

[2022-10-18 15:15] TimBroddin opened #69203 "Remove feature flag: wp22me"

[2022-10-18 15:16] TimBroddin opened #69204 "Remove unused code"

[2022-10-18 15:23] ivan-ottinger commented on #68747
https://github.com/Automattic/wp-calypso/pull/68745 is now ready for review.

[2022-10-18 15:47] gcsecsey commented on #65459
Diff raised: D90153-code

[2022-10-18 15:54] tvolpert commented on #65214
- [ ] 25173624-hc

This user didn't have the Bookings extension installed. Based on the description in the original post, I tried `wp user add-role ID#here shop_manager` without resetting the other roles first, and that seems to have worked here.

[2022-10-18 16:05] brinbliss commented on #68716
+1 as well! This is a very useful tool for fixing accidentally deleted layouts or homepage blocks, or directing a user to create a new page for a particular part of their site.

[2022-10-18 16:10] creativecoder opened #69207 "[Bug]: Reader follow button sometimes follows the wrong site"
### Quick summary

Clicking follow in reader sometimes follows the wrong site.

The problem will be the same with anything that uses the POST https://public-api.wordpress.com/rest/v1.1/read/following/mine/new endpoint.

### Steps to reproduce

1. Go to https://wordpress.com/read/feeds/70239806
2. Open the browser dev tools and watch the network tab
3. Click the Follow button

### What you expected

[2022-10-18 16:11] jordesign commented on #68953
I'm definitely up for discussion on this - but from a user-facing perspective I can imagine options like these to be clearer:

* Theme Editor?
* Template Editor?
* Edit Site Appearance

* Edit Site Appearance?
* Edit theme?

[2022-10-18 16:15] creativecoder commented on #69207
Note that this problem seems to be caused by how we prioritize using domain mappings of Simple sites, when searching for a site by url.

In the specific case of https://wordpress.com/read/feeds/70239806, the site kirhammond.wordpress.com looks like it has a domain mapping for specifierreview.com so ends up being the site followed. specifierreview.com looks to be hosted outside of WP.com.

[2022-10-18 16:16] creativecoder commented on #69207
As a stopgap, maybe there's a way to follow the feed directly via the API, rather than using `https://public-api.wordpress.com/rest/v1.1/read/following/mine/new` and specifying the URL (which is what the follow button is doing now)

[2022-10-18 16:34] davemart-in opened #69210 "READER - Add link to all headers on hover"
## Description

@jeremyanderberg came up with the suggestion to auto add a link to all headers on hover. Figured we could easily do this within the reader when viewing a single post, making it easier for folks to share specific sections within a post with others.

![image](https://user-images.githubusercontent.com/5634774/196490390-688d791b-dae8-45b9-acaa-233e162dd38b.png)

[2022-10-18 16:41] obenland commented on #63583
Looks like they now require basic auth when requesting the voicemail file.

Fixed in r254647-wpcom.

[2022-10-18 16:41] #63583 closed, assigned to obenland

[2022-10-18 16:59] DavidRothstein opened #69211 "[Bug]: "We could not validate your contact information" error on checkout load when buying a domain for a user who previously bought a non-domain"
### Quick summary

If a user who already paid for a non-domain goes to buy a domain later, they get an error message like this immediately when the checkout screen loads (before they have typed anything in):

![validation-error-on-checkout-load](https://user-images.githubusercontent.com/235183/196496153-3255a0af-f6a4-43af-aa56-5361a4ec1ec6.png)

### Steps to reproduce

The easiest way to reproduce

[2022-10-18 17:05] #68204 closed, assigned to sejas

[2022-10-18 17:18] ariel-maidana commented on #66720
Another instance: 5640862-zd-woothemes

[2022-10-18 17:20] cpapazoglou commented on #68322
Draft code in D90164-code

[2022-10-18 17:55] #65782 closed, assigned to obenland

[2022-10-18 18:21] lizkarkoski commented on #41233
+1 to getting this fixed up. I came across a scenario today in this forum thread: https://wordpress.com/forums/topic/navigation-menu-not-updating/?view=all#post-3876998

[2022-10-18 18:30] obenland commented on #56230
It looks like focus styles could use a pass as well, there are some inconsistencies.

Marked as Good First Issue since these should mostly be style changes and could be a good way to learn the process of creating a Calypso PR.

[2022-10-18 18:51] obenland commented on #56119
I was only able to find https://wordpress.com/support/domains/map-existing-domain/ mentioned once in Calypso. I assume the other instances have been updated or removed since this ticket was created?

Fix in https://github.com/Automattic/wp-calypso/pull/69214.

[2022-10-18 19:38] JulianBustamante commented on #68441
Diff created D90175-code

[2022-10-18 20:03] valterlorran commented on #66737
Closing this as we merged the last part of the code to add the demo bar on atomic sites. D89981-code

[2022-10-18 20:03] #66737 closed, assigned to valterlorran

[2022-10-18 20:03] #56119 closed, assigned to obenland

[2022-10-18 20:17] obenland commented on #56874
The Connect/Transfer step described in the issue description now looks like this, correctly using connect instead of map:

<img width="1510" alt="image" src="https://user-images.githubusercontent.com/1398304/196534735-35e6c1a2-13d0-4a32-a515-f76a0f2a73c5.png">

I could also no longer find the video on [the linked support page](https://wordpress.com/support/domains/connect-existing-domain/#video-ov

[2022-10-18 20:33] epeicher commented on #69081
The dependent PR #14674 is merged so this task can be progressed, the name of the field to be synchronised is `wpcom_marketplace_product_extra_fields` as described in the title 😄

[2022-10-18 20:47] ccwalburn commented on #68867
Another report here: 5640924-zen

[2022-10-18 21:17] cuemarie commented on #69025
📌 SCRUBBING : RESULT
- Tested on Simple: Replicated
- Tested on AT: Replicated
- Tested on Self-hosted: Replicated
- Replicable on Core? Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the issue across Simple, AT, and Self-Hosted sites. My live site views displayed the `foreground` color as the border color, not the `Primary` color, no matter which of the theme colors I chose.

***Exam

[2022-10-18 21:35] cuemarie commented on #69039
📌 SCRUBBING : RESULT
- Tested on Simple: Replicated
- Tested on AT: Replicated
- Tested on Self-hosted: Replicated
- Replicable on Core? Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the issue in some FSE themes, but not all. **Blockbase**, **Blank Canvas**, and **Quadrat White** did not reproduce the issue. *[screenshot](https://user-images.githubusercontent.com/27249804/196548197-f

[2022-10-18 21:46] cuemarie commented on #69102
📌 ACTIONS
- Closed as could not replicate outside of user's site

📌 Message to Author
- Hi @galakhyati ! It looks like this issue needs a plugin conflict test, as it's not presenting on other WordPress.com sites or reproducable on a test site.

[2022-10-18 21:46] #69102 closed, assigned to nobody

[2022-10-18 21:56] cuemarie commented on #69055
📌 SCRUBBING : RESULT
- Tested on AT: Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- Issue reproduces exactly as described above

*Example*

Editor:
![Markup on 2022-10-18 at 14:54:08](https://user-images.githubusercontent.com/27249804/196552279-78ba3056-0c37-4bf0-8dc2-52910c0a36dc.png)

Live site:
![Markup on 2022-10-18 at 14:54:37](https://user-images.githubusercontent.com/27249804/196552307-eacaf3a6

[2022-10-18 21:58] cuemarie commented on #69065
📌 ACTIONS
- Feature request kept
- conversation for some added context: p1665256422389669-slack-C01UW7SB411

[2022-10-18 22:18] ollierozdarz commented on #69160
@roo2 I've provided some more details in [Slack](https://a8c.slack.com/archives/C03NLNTPZ2T/p1666123137814909). Here's a link to a [GIF](https://d.pr/i/WoCCbA) which will show the flow better too.

Essentially, we'll introduce a disabled Bell icon on the active instance of the notification in the side panel (the popout panel once you click a notification). That Bell will deep link the user to thei

[2022-10-18 22:29] masperber opened #69221 "Query Loop does not display on site if Inherit query from template is enabled"
### Quick summary

When using a Query Loop Block, the Query Loop is hidden from the live site if the `Inherit query from template` option is selected from the Block settings.

### Steps to reproduce

1. On a site with any theme, add a Query Loop to a blank page.
2. Choose any of the default templates
3. Leave the `Inherit query from template` option enabled
4. View the live page or preview

### Wh

[2022-10-18 22:52] jjchrisdiehl commented on #68921
@DavidRothstein For the payment block 'subscription' products, we appear to use a separate frontend component in the manage purchase section than our typical 'plan' products:

Subscription management
https://github.com/Automattic/wp-calypso/blob/trunk/client/me/memberships/subscription.jsx#L136-L145

Plan Management
https://github.com/Automattic/wp-calypso/blob/trunk/client/me/purchases/manage-pur

[2022-10-18 23:49] jsnmoon opened #69224 "Create new section: 7-day highlights"
Part of the modernization project (p1HpG7-igQ-p2).

# Development

Related highlights sections: #69224, #69227, #69229. Check with progress there to explore code reuse possibility.

- [x] Ensure that this API data is available from an endpoint.
(@jsnmoon: data is available, an endpoint doesn't exist)
- [x] Create an API endpoint for fetching data for the 7-day highlights.
(@jsnmoon: ✅ D90814-code)

[2022-10-18 23:50] kuropixel commented on #68867
Another report: 5640868-zen (US number, status undelivered)

[2022-10-19 00:05] jsnmoon opened #69225 "Stats: Adjust background to align with rest of Calypso"
Part of the modernization project (p1HpG7-igQ-p2).

The new background appears to be #FFFFFF, but double-check with other past of Calypso just in case.

![Image](https://user-images.githubusercontent.com/4044428/196841011-a1c964ce-db64-48c9-a7ac-2ec78bf0ff04.png)

[2022-10-19 00:28] jsnmoon opened #69226 "Stats: Reflow the Posts/Pages, Referrer, and "Countries" modules into the new layout"
Part of the modernization project (p1HpG7-igQ-p2).

![Image](https://user-images.githubusercontent.com/4044428/194158446-9b8e29b9-080d-459a-aff2-792825866df2.png)

![Image](https://user-images.githubusercontent.com/4044428/194158521-a0d8bfd3-8e7d-440c-9d1c-36ee22420d74.png)

![Image](https://user-images.githubusercontent.com/390760/195567153-da03cde7-1564-46ee-82e1-a6a61ca031b2.png)

[2022-10-19 00:37] jsnmoon opened #69227 "Create new section: Year in review"
Part of the modernization project (p1HpG7-igQ-p2).

# Development

Related highlights sections: #69224, #69227, #69229. Check with progress there to explore code reuse possibility.

- [x] Ensure that this API data is available. If not, update here so we can update the scope of this task. (@jsnmoon)
- [x] Create a highlights component that shows the necessary information below.
(#69676)
- [x] Integ

[2022-10-19 00:40] roo2 commented on #69160
We were discussing in slack p1666123444322499-slack-C03NLNTPZ2T how to limit spam if the user has multiple blogs.

We came to the idea of showing notifications by default _only_ for the _first created_ blog with `site_intent === 'write'`. Of course this could later be changed from the user.

[2022-10-19 00:43] arinoch opened #69228 "Me/Purchases: add a currency switcher on the user end."
### What

I would love to see a user-facing currency switch utility, preferably on me/purchases.

### Why

A common request, in forums, in tickets, in chats, on social media, is for us to switch a user's currency. Currently they ping us on one of the above platforms and we make the change from SA. It would save an interaction if the user could make that change on their own.

### How

_No response_

[2022-10-19 00:48] jsnmoon commented on #69224
@keoshi: Are we currently showing values from the 7-day highlights anywhere in the current interface?

[2022-10-19 00:54] jsnmoon opened #69229 "Stats: Add an All-time highlights section to the Insights page"
Part of the modernization project (p1HpG7-igQ-p2).

# Development

Related highlights sections: #69224, #69227, #69229.

- [x] Create a component for showing values from the existing all-time stats widget.
(https://github.com/Automattic/wp-calypso/pull/69937)
- [x] Create a component for showing the most popular time.
(https://github.com/Automattic/wp-calypso/pull/69937)
- [x] Create a component f

[2022-10-19 00:57] jsnmoon opened #69230 "Add mobile app promo card"
# Development

- [x] Create PromoCard component in `@automattic/components`. (#69819)
- [x] Address feedback on PromoCard component. (#69917 & #70023)
- [x] Update URLs/QR code to go to Jetpack mobile app. (#70028)
- [x] Design review (if needed).
- [x] Add iOS/Android device detection and show correct app store badge. (#70165)
- [x] Add support for Jetpack Redirect links. (#70926)
- [x] Add suppo

[2022-10-19 01:14] #66364 closed, assigned to romitgithub, zaguiini

[2022-10-19 03:12] gavande1 commented on #68830
The diff created for adding route to swagger docs: D90199-code

[2022-10-19 04:07] worldomonation commented on #66144
Thanks for the heads up @john-legg!

Good to hear the flakiness is not reproducible on your local testing. That's always great.

One piece of advice, if you find that you're getting bogged down with the size of the change, feel free to break it out into smaller pieces to make it more manageable. We recommend that a PR should not exceed about 250 lines of code to make it easier to review. Remember,

[2022-10-19 04:10] autumnfjeld commented on #69168
@SaxonF  Can you help us with design here?   Thank you! :)

[2022-10-19 04:16] autumnfjeld opened #69233 "Update Blank Canvas 3 theme detail information in Theme Showcase preview"
# Description
Update [Blank Canvas 3](https://github.com/Automattic/themes/pull/6665) (aka Clean Slate) theme info in Theme Showcase preview. This is dependent on Blank Canvas 3 being visible in the Theme Showcase.

The new Blank Canvas 3 theme will need design and copy work for the theme detail page.

### New copy
See google [doc](https://docs.google.com/document/d/1LLU7nXuxDmgWy5PpdAPwPz0j_5nRJ7

[2022-10-19 04:35] yansern opened #69234 "[New Post Email] Ensure send event has the same `email_id` as open and click event."
On the New Post email, the `email_id` prop on the `wpcom_email_send` tracks event mismatches those seen on `wpcom_email_open` and `wpcom_email_click`, making it impossible to calculate click-through rate properly.

[2022-10-19 04:37] mpkelly commented on #64741
Nor can I reproduce this issue using a Pixel 6. @rinazrina, can you retest this?

[2022-10-19 04:41] mpkelly commented on #69084
Gonna start this now.

[2022-10-19 04:43] yansern opened #69235 "[All Emails] Introduce `data-wpcom-track` data attribute to force tracking of links."
When emails are sent out from Simple Site with custom domain or Atomic sites, they are currently not being tracked.

This is because the `WPCOM_Guides_Utils::make_links_trackable()` function is a general-purpose function that doesn't allow external links to be tracked to avoid Open Redirects (security).

However, since the links on emails are URLs that we control, we should allow them to be tracke

[2022-10-19 04:48] gavande1 commented on #68152
First pass created at: D90203-code

[2022-10-19 05:09] tanjoymor commented on #69168
So if someone tries to switch an existing site from their current theme to BC will they lose “content” as in pages and posts? Or are you just referring to pre-existing templates? That distinction needs to be clear.

[2022-10-19 05:29] autumnfjeld commented on #68953
The way I've understood, we are moving customers forward to truly do all Site editing in the Site Editor : both content & styles(appearance).  So in terms of messaging for the BCPA flow , "Edit Site" makes sense.

[2022-10-19 05:33] autumnfjeld commented on #68953
![image](https://user-images.githubusercontent.com/5665959/196605136-c4b51b0a-3444-4fd0-8c8e-67660563c3af.png)
For this point, ideally we'd change the copy according to the theme.   Because BC and [Pendant](https://href.li/?https://pendantdemo.wordpress.com/), [Cultivate](https://href.li/?https://cultivatedemo.wordpress.com/), [Archeo](https://href.li/?https://archeodemo.wordpress.com/), [Yuga](ht

[2022-10-19 06:07] rinazrina commented on #64741
Thanks for checking, all! I'm no longer able to reproduce the issue. I'm using Android 12. The color setting is working as expected now.

[2022-10-19 06:30] SaxonF commented on #69168
I'm assuming pages and posts will remain, you'll just lose any content contained in templates.

I'm not sure we should do something that's specific to BC here and instead work on changes that can benefit all theme switches. e.g. If I manually created a front-page template and switch theme I'll have a very similar experience. The Blank Canvas theme could also be used by people without needing to go

[2022-10-19 06:35] jartes commented on #60732
Had another instance of this issue, where a user was trying to access a plugin setting that was only available on the Customizer 37480384-hc

[2022-10-19 06:39] miksansegundo commented on #69156
Here is a relevant video [Understanding the Page Editor vs. Site Editor](https://learn.wordpress.org/tutorial/understanding-the-page-editor-vs-site-editor/)

[2022-10-19 06:41] miksansegundo commented on #69175
Here is a relevant video [Understanding the Page Editor vs. Site Editor](https://learn.wordpress.org/tutorial/understanding-the-page-editor-vs-site-editor/)

[2022-10-19 06:56] TimBroddin commented on #69144
Fixed in D90094-code

[2022-10-19 06:59] edwinho89 opened #69240 "Merge / Consolidate Draft and Publish button under one drop down"
### What

Similar as the "View" button on editors, we can have a drop down to display both draft and publish button.

### Why

Looks cleaner, perhaps more streamlined with the "View" button as well.

<img width="514" alt="image" src="https://user-images.githubusercontent.com/34882260/196619052-b9b0f9fa-dc1f-4c96-8771-5a485fcef36a.png">

### How

_No response_

[2022-10-19 07:13] autumnfjeld commented on #69175
One thing in that video though is it stresses editing content in Page editor and we don't want to give that message in the PA flow. 🤔

[2022-10-19 08:32] edwinho89 opened #69243 "Display dropdown menu icon on Views on editor"
### What

Views button on editor having noticeable dropdown menu icon, so users can tell it is a drop down menu.

### Why

At the moment, it isn't visible enough to tell if the "View" button has a drop down to different viewports (desktop, tablet, mobile) until you click on it

![image](https://user-images.githubusercontent.com/34882260/196638883-b9809bcb-c71a-4bb9-a7db-f49aa97df0e4.png)

### How

[2022-10-19 08:47] jartes commented on #49486
I've had a user with the same issue. After a post was published and then when going to the Posts page by clicking on the "View Posts" link from the sidebar, they were redirected to /wp-admin rather than Calypso.

37390542-hc

[2022-10-19 08:56] eoigal commented on #69159
Started work on wpcom with code-D90182

[2022-10-19 09:26] ivan-ottinger opened #69244 "[New Post] Adjust template for password-protected posts"
The _Comment_ and _Like_ buttons are displayed even when the post is password-protected:

![Image](https://user-images.githubusercontent.com/25105483/196652805-a0a68e67-4d67-4dca-bb31-67f22dd9cc15.png)

I believe these buttons, together with the tip, should not display (as they don't do what is expected of them). Maybe we could consider replacing them with a button like "Go to post" (or similar).

[2022-10-19 09:35] epeicher commented on #67657
An initial version of the changes has been done in the linked PR https://github.com/Automattic/wp-calypso/pull/68667#issue-1398137649. I have added the [two buttons suggestion ](https://github.com/Automattic/wp-calypso/issues/67657#issuecomment-1275358502) but the suggested behaviour will be:
- User clicks on the `Getting started` button: The page will be redirected to the third-party vendor
- Use

[2022-10-19 09:43] #68594 closed, assigned to JuanLucha

[2022-10-19 10:04] fushar commented on #69171
@autumnfjeld @arthur791004

What if the Reading setting is set to "static page", but the user adds a Front Page template? Should we show a virtual page?

The homepage will display that Front Page template, but right now, in @arthur791004 's [PR](https://github.com/Automattic/wp-calypso/pull/69070), the Pages list is still incorrect:

<img width="294" alt="image" src="https://user-images.githubuser

[2022-10-19 10:23] arthur791004 commented on #69171
I tested but my homepage is my Home Page. How do you see the Front Page template as the homepage?

![image](https://user-images.githubusercontent.com/13596067/196665593-52ab0c9a-fc9b-4224-a55a-4f4df113828f.png)

[2022-10-19 10:26] fushar commented on #69171
- Go to `/site-editor/<siteSlug>`, the template will be Front Page
- Or just visit the site directly, the content of the Front Page template will be used

[2022-10-19 10:27] #69123 closed, assigned to bogiii

[2022-10-19 10:34] fushar commented on #69171
Maybe we can open a new issue for this (the Front Page case), as currently this problem shows up even on production (without the PR).

But it means we need to modify Arthur's PR, because the PR assumes that the homepage template is always Home template.

[2022-10-19 10:41] arthur791004 commented on #69171
I think it's a bug, and it has to show the template used by the Home page 🤔

Additionally, I saw query block is showing the posts in the site editor, but it's showing the pages when I'm visiting the site...so I don't notice my home page is showing the Front Page template 😂

[2022-10-19 10:42] gcsecsey commented on #65459
Changes deployed in r254691-wpcom

[2022-10-19 10:56] SiobhyB commented on #68867
Another report in 5629922-zd-woothemes

[2022-10-19 11:06] saygunnyc commented on #69244
💯

Let's keep the post title and details as is for now.
The CTA should be "View post".

[2022-10-19 11:07] simison commented on #68798
@ianstewart I tested these Link in Bio patterns with a fresh simple site on Archeo theme, and still seeing the errors:

<img width="1865" alt="Screenshot 2022-10-19 at 14 06 04" src="https://user-images.githubusercontent.com/87168/196674644-7d56c276-414b-4871-b879-da7d1cececfd.png">
<img width="1815" alt="Screenshot 2022-10-19 at 14 05 41" src="https://user-images.githubusercontent.com/87168/19667

[2022-10-19 11:10] fushar commented on #69171
No it's not a bug. It's the expected behavior according to the template hierarchy. Front Page overrides everything if it exists. Ref: https://developer.wordpress.org/themes/basics/template-hierarchy/#front-page-display

[2022-10-19 11:14] arthur791004 commented on #69171
Oh yes, that's why we want to avoid using Front Page template 😭

[2022-10-19 11:32] #68747 closed, assigned to ivan-ottinger

[2022-10-19 12:02] mmtr commented on #67344
I think this happens because Simple sites are still not fully updated to WordPress 6.1 and they are lacking [this changeset](https://core.trac.wordpress.org/changeset/54162) which allows the `blockGap` property to be at any level. I cannot reproduce this on Atomic sites running WordPress 6.0 or self-hosted Jetpack sites running WordPress 6.1 and the lastest version of Gutenberg.

@david-binda do y

[2022-10-19 12:08] miksansegundo commented on #68870
The plugins page `/wp-admin/plugins.php` doesn't use React. I found a simple way to add an inline confirmation message on the click event of the link "Deactivate" using the filter `plugin_action_links_{$plugin_file}`.

<img width="265" alt="Screen Shot 2565-10-19 at 18 36 08" src="https://user-images.githubusercontent.com/1881481/196682787-8a8bafbe-d202-45a2-92ab-703abaa74043.png">

Is it too hack

[2022-10-19 12:45] mmtr opened #69247 "Limit Global Styles: Changes are not saved after clicking on the upgrade link"
#### Steps to reproduce

1. Open the site editor on a site with limited Global Styles
2. Add some changes to the Global Styles
3. Click on the save button
4. Click on the upgrade link that is displayed in the pre-save notice
![image](https://user-images.githubusercontent.com/1233880/196694239-92d7d862-2cc6-4eaf-afd7-1662d12df958.png)

#### What I expected

The Global Styles changes to be saved bef

[2022-10-19 12:47] danielbachhuber opened #69248 "WPCOM SSH: Abstract SSH key card to a common component"
We currently display a SSH key card twice:

![image](https://user-images.githubusercontent.com/36432/196694160-ca895134-0ded-48ed-93d3-3c2b32182d1e.png)

![image](https://user-images.githubusercontent.com/36432/196694188-faf81d60-6cc9-4195-b702-20c34c2190ed.png)

It would be nice if these used the same underlying component.

One thing worth noting: the first card has Redux state passed into it (ht

[2022-10-19 12:50] ivan-ottinger commented on #68747
I have merged https://github.com/Automattic/wp-calypso/pull/68745.

[2022-10-19 13:08] dsas commented on #66628
The previously mentioned PR is now merged and should be in WP 6.1 to boot, this is now unblocked.

[2022-10-19 13:14] jamiepalatnik commented on #68867
Latest update on this issue is here: pMz3w-g7U-p2#comment-102973

[2022-10-19 14:30] #68986 closed, assigned to bogiii

[2022-10-19 14:36] epeicher commented on #69081
Diff created D90246-code
Jetpack PR created https://github.com/Automattic/jetpack/pull/26927

[2022-10-19 14:44] JulianBustamante opened #69250 "Update wpcom Host Plan packages tokens to match wccom env variables"
Host Plan API package tokens have been updated and moved to environment variables on WooCommerce.com. The tokens for eCommerce and Marketplace packages must be updated on WordPress.com.

`ECOM_PLAN_WOOCOMMERCE_HOST_API_KEY`
`MARKETPLACE_WOOCOMMERCE_HOST_API_KEY`

[2022-10-19 15:05] yansern commented on #63852
The only possible route is using the site's date time format, with the user's language settings applied, which can be weird, but at least the option is offered.

[2022-10-19 15:23] yansern commented on #68836
The observation that we notice is that on the Gutenberg Editor, you can enter html tags such as `<i>` or `<strong>` and it will be stripped (only visually) on the editor, but still saved in the post title.

But this does not apply to all html tags, e.g. `<h1>` and `<ul>` tags are stripped off in the post title when saved.

On the frontend, the `<i>` and the `<strong>` tags are still applied on the

[2022-10-19 15:24] gcsecsey commented on #68218
I've experimented with querying this data from the `jetpack-sites` index and created an aggregation where I could filter for the product slugs:

[code]

@gibrown @robfelty Do you think we could use these results when indexing WooCommerce products to the `jetpack-search` index perhaps?

[2022-10-19 15:28] ClassicRKR27 commented on #67819
- [ ] Another instance here: 37505168-hc

I suggested that they use the "Upload Image" option; not sure if it worked as they ghosted shortly afterwards, but since it's in a `Media & Text` block the `Remove Poster Image` option isn't available at all.

[2022-10-19 15:36] markbiek commented on #69190
I've added the initial repo `theme-munchies` with the latest files from wpcom.

[2022-10-19 15:36] #69190 closed, assigned to markbiek

[2022-10-19 15:44] edanzer opened #69254 "[Bug]: E2E tests failing for various editor-tracking events"
### Quick summary

End to end tests are currently failing for a range of editor tracking events. Here's a summary of current status per file:

- [x] `test/e2e/specs/editor-tracking/editor-tracking__block-inserted-events`
   - Current status on trunk: Test Suites: 1 failed, 1 total. Tests: 1 failed, 4 skipped, 21 passed, 26 total.
- [x] `test/e2e/specs/editor-tracking/editor-tracking__fse-template-

[2022-10-19 15:47] jamiepalatnik commented on #68867
This issue should now be resolved, so I think it would be OK to follow up with any users that requested a follow-up: pMz3w-g7U-p2#comment-102992

[2022-10-19 15:51] #69084 closed, assigned to mpkelly

[2022-10-19 15:56] edanzer commented on #67974
Resolved by https://github.com/Automattic/wp-calypso/pull/68685

[2022-10-19 15:56] #67974 closed, assigned to edanzer

[2022-10-19 16:04] #67745 closed, assigned to WBerredo

[2022-10-19 16:30] DavidRothstein opened #69255 "Feature Request: Link to all receipts for a subscription from the purchase management page"
### What

When you go to https://wordpress.com/me/purchases and click on a subscription you own, there's no way to see your past payment receipts for that subscription.  And https://wordpress.com/me/purchases/billing doesn't allow you to filter by a particular subscription either.

It would be nice if when viewing a subscription you could see or have a link to a page that shows you all receipts fo

[2022-10-19 16:56] DavidRothstein commented on #69211
Actually it turns out this can be reproduced with an annual plan also (in the case where you buy the plan first and add the free domain later) because it appears the bug occurs in the shopping cart even when a free purchase is being made.

[2022-10-19 17:45] vinimotaa commented on #67657
Hi @epeicher, that seems good for now! Once we have a Plans page defined, ideally, we would redirect users to that page before the check out. For now, let's direct them to check out. Thanks!

[2022-10-19 19:04] markbiek commented on #69137
Took a first pass at option 2: D90272-code

[2022-10-19 19:04] DavidRothstein commented on #68921
@jjchrisdiehl That sounds right to me too.  Definitely can't refactor the whole thing to use the same code (since the `RemovePurchase` component is basically tied to WPCOM purchases) but I wonder if you could get pretty far just by swapping out the `CompactCard` component that the payment block subscriptions currently use with the `Wrapper` component that is ultimately used inside `RemovePurchase`

[2022-10-19 19:08] #67095 closed, assigned to valterlorran

[2022-10-19 19:21] dpasque opened #69258 "Task: Clean up the FSE E2E smoke test."
### Details

The current FSE smoke test `specs/fse/fse__temp-smoke-test.ts` has a couple issues...

1. It doesn't pass on Atomic sites. See the related tracking issue #65906.
2. It doesn't use the Full Site Editor POM classes that were added in the editor tracking migration.

We should update both of those!

### Checklist

_No response_

### Related

_No response_

[2022-10-19 19:24] dpasque commented on #69258
Hi @karenroldan! 👋

For your first fix, I'm assigning you this piece that was broken off of the bigger tracking issue: #65906.

That tracking issue tracks all of our E2E tests that don't pass on atomic. This individual script needs updating to pass on atomic. Using the [new library classes added for FSE in the calypso-e2e package](https://github.com/Automattic/wp-calypso/blob/trunk/packages/calyps

[2022-10-19 19:25] #66736 closed, assigned to WBerredo

[2022-10-19 19:41] markbiek opened #69259 "Theme Support: Automate soft-launching/unlaunching themes"
As part of #66581, let's add a premium-theme-tools command to mark a theme as soft-launched or to un-soft-launch a theme.

[2022-10-19 21:23] #66947 closed, assigned to JulianBustamante

[2022-10-19 21:30] mreishus commented on #68847
### Full workflow testing not possible

The current dev/test path requires logging into your atomic site and running manual commands. We need wpcomsh code to be on the site at the time woocommerce is installed, which as far as I know, there's no way to do.

### Commited/Deployed Tsubaki Annotation update

D89989-code Is now committed; it has no affect on simple sites. The extra data will just be i

[2022-10-19 22:43] jjchrisdiehl commented on #67516
This has been resolved in https://github.com/Automattic/wp-calypso/pull/69100

[2022-10-19 22:43] #67516 closed, assigned to jjchrisdiehl

[2022-10-19 22:47] gibrown commented on #68218
Ya it should be ok to use something like that in the indexing job and get the data from site profiles. I would probably suggest [a filters aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/8.4/search-aggregations-bucket-filters-aggregation.html) rather than a terms agg that uses "include". Let's discuss it on the wpcom diff though.

[2022-10-19 22:51] kelasante opened #69264 "Creating a Post in WP-Admin Quick Drafts adds a Block containing an Invalid or Unexpected Content"
### Quick summary

When you go to the wp-admin page of a site eg. test.com/wp-admin, and you use the 'Quick Draft' feature, the content you add will be in a block that contains Invalid or Unexpected Content.

https://user-images.githubusercontent.com/74204272/196818038-cb9d93e0-84bc-4709-865f-1cc507cd6a4b.mp4

### Steps to reproduce

1. Start at site.com/wp-admin
2. Use Quick draft and add a title

[2022-10-19 23:01] #68541 closed, assigned to lupus2k

[2022-10-19 23:04] kelasante commented on #69264
Created 5644725-zen to let the user know that this report has been created.

[2022-10-19 23:04] JulianBustamante commented on #69250
Diff created D90283-code

[2022-10-19 23:16] nelsonec87 commented on #68288
I've added a "Fake Theme" to the test tables:

- `test_billing_products`
![image](https://user-images.githubusercontent.com/3801502/196821577-41aac939-0ccf-4308-a061-1500003cc253.png)

- `test_billing_plans` (for each currency)
![image](https://user-images.githubusercontent.com/3801502/196821669-badc144e-dfcf-40ed-8bfc-4912bd047f10.png)

- `test_store_products`
![image](https://user-images.githubu

[2022-10-19 23:49] jsnmoon commented on #69224
Going to try tackling this for the next few days.

[2022-10-19 23:56] zachspears opened #69266 "Feature Request: The option to include Twitter subscribers in subscriber count."
### What

Recently subscription blocks were updated to only include followers and email subscribers for a more accurate picture of a user's subscriptions. I had a user in chat who misses the inclusion of their Twitter followers and would like an option to include this.

37440540-hc

### Why

Users may see their subscription numbers change dramatically and/or prefer to include their Twitter subscri

[2022-10-20 00:14] #68625 closed, assigned to mpkelly

[2022-10-20 00:50] autumnfjeld commented on #69171
@arthur791004 @fushar
To summarize:
* The Reading settings are for selecting a WP page, not a template (noting that for my own clarification)
* In the PA flow, Blank Canvas, or any other theme will never use front-page template, because of @fushar's point above, the template hierarchy
* if the user chooses to add a front-page.html template, we should have consistency in the calypso UI
  * if this

[2022-10-20 01:01] autumnfjeld commented on #69175
@SaxonF We will need a new graphic and copy help on this one.   I’m working on copy help.  Can you help with the new graphic?

[2022-10-20 01:25] autumnfjeld commented on #69156
@SaxonF just shared a visual of ideas for Welcome Tour content:
![Uploading image.png…]()

[2022-10-20 01:36] zachspears commented on #69045
This would be great and would help user confusion around renewing domains. Marking Low priority.

[2022-10-20 01:43] jjchrisdiehl commented on #68921
PR can be found here https://github.com/Automattic/wp-calypso/pull/69271

[2022-10-20 01:48] zachspears commented on #69093
Able to reproduce. Marking low priority due to low impact.

[2022-10-20 02:00] zachspears commented on #69101
Able to reproduce. Moving this forward as a bug report but if this is the intended behavior, I recommend changing it to an enhancement request.

[2022-10-20 02:20] JulianBustamante opened #69273 "Marketplace: Add method for getting billing intent by subscription id - https://code.a8c.com/D90203"

[2022-10-20 02:20] JulianBustamante commented on #69273
Deployed r254768-wpcom

[2022-10-20 02:20] zachspears commented on #69104
Able to reproduce with the Meraki theme.

[2022-10-20 02:44] fushar commented on #69171
Sorry I think this discussion should be on https://github.com/Automattic/wp-calypso/issues/69158 instead; didn't realize that there are multiple issues here 😂

[2022-10-20 03:34] #69051 closed, assigned to lupus2k

[2022-10-20 03:53] lsl commented on #68622
@allilevine moved this out of the sprint, we've got everything matching and this doesn't seem too important to me to clean up at this time.

[2022-10-20 04:12] lsl commented on #68748
https://github.com/Automattic/wp-calypso/pull/69202

[2022-10-20 04:12] #68748 closed, assigned to nobody

[2022-10-20 04:41] Robertght commented on #69045
Just sharing the user's feedback on a duplicate charge:

[code]

[2022-10-20 04:50] lsl commented on #68901
Drop off happens on Sept 8.

![Screenshot 2022-10-20 at 15-49-18 Tracks Trends - calypso_plugins_search_results_show - Metrimattic](https://user-images.githubusercontent.com/811776/196858982-932e4034-0d13-416d-8bcd-29a20a8feb20.png)

I'm guessing it's something to do with the Jetpack search swap out on that day https://github.com/Automattic/wp-calypso/pull/67510.

This sounds like the infinite sea

[2022-10-20 05:02] goblinartificer commented on #68879
@kavyagokul hello! i actually am pretty sure my system is set to UTF-8 because my Windows language is Māori, but I'll double check in the next couple days.

[2022-10-20 05:24] yansern commented on #69234
Patch is ready D90290-code

[2022-10-20 05:33] lsl commented on #68901
Pagination response looks missing or something.

Really need to move these over to typescript. :shrug:

[2022-10-20 05:54] Greatdane commented on #65667
@renata-franco was this ever posted on https://github.com/WordPress/gutenberg/issues as well (if it affects self-hosted)?
I can still reproduce it, so will also post on core if you didn't add there already

[2022-10-20 05:55] Greatdane commented on #65667
Actually, closing this as its a duplicate of https://github.com/Automattic/wp-calypso/issues/65526
Which has been added to core as well!

[2022-10-20 05:55] #65667 closed, assigned to nobody

[2022-10-20 06:01] lsl commented on #68901
Sort of fix here https://github.com/Automattic/wp-calypso/pull/69274

One issue with this "fix" is that `calypso_plugins_search_results_show` won't always fire on secondary page loads.

Search "test one" => see `_show`
Search "test two" => see `_show`
Search "test one" => see `_show`
Scroll down to the next page load for "test one"
Search "test two" => see `_show`
Search "test one" => won't see `_

[2022-10-20 06:03] Greatdane commented on #64396
https://github.com/WordPress/gutenberg/issues/41575 has been closed, but it may be getting fixed via https://github.com/WordPress/gutenberg/issues/40382

[2022-10-20 06:16] lsl commented on #68901
There should be the selected page_handle coming through in data ([this ESResponse](https://github.com/Automattic/wp-calypso/blob/56ade194b65ed293731c704bb2c7e1a731a1d369/client/data/marketplace/use-es-query.ts#L131) thing) but I don't see it in the response we receive.

It is coming through in the network response and being added to the individual pages but we're not seeing it returned as the "sel

[2022-10-20 06:23] autumnfjeld commented on #69014
* Should be clear to user they are really starting with a blank canvas (doesn't have to be like with other theme switch)
* Start with empty header/section/footer
* I think we offer different options, don't preserve homepage

[2022-10-20 06:33] autumnfjeld commented on #69014
I think we would only offer the option on the right
<img width="969" alt="image" src="https://user-images.githubusercontent.com/5665959/196873363-eab0d27b-c4f3-4ce2-8fd5-8c2c50c366db.png">

[2022-10-20 07:03] autumnfjeld commented on #69168
Ah, sorry about that Of course all Pages & Posts persist thru theme change. No change there from existing behavior.

[2022-10-20 07:04] miksansegundo commented on #69168
Are we going to redirect users to the PA when they switch from some ThemeX to BC? I think we will, and the PA won't show the previous home. The user will create a new home from scratch, the previous home won't be deleted because it seems that we can keep it but it won't be used.

So depending on if we redirect them to the PA or not, the meaning of "Switch theme preserving my homepage content" can

[2022-10-20 07:09] autumnfjeld commented on #69168
It is likely we will add the PA flow to the BC theme showcase, p1665735522252499/1665730226.315779-slack-CRWCHQGUB,  I'm not sure the if we will give users an option to skip the PA flow. There hasn't been any mention of something like that.  🤔

For the interim period, because the new BC theme won't have any concept of "homepage" or "Home Page" or "home.html" , I do believe we have a special case h

[2022-10-20 07:14] epeicher commented on #69081
Diff deployed r254772-wpcom

[2022-10-20 07:16] Greatdane commented on #58327
Closing as I am unable to reproduce. May be fixed.

![7ZzLWS.png](https://user-images.githubusercontent.com/5075840/196881436-0f6b4fcb-7438-4e61-a781-ab246b2f1fab.png)

[2022-10-20 07:16] #58327 closed, assigned to alshakero

[2022-10-20 07:43] ivan-ottinger commented on #68485
D88807-code is now ready for review.

[2022-10-20 08:05] arthur791004 commented on #69052
Checked the `editor_type` and it's fixed from the trends below

![image](https://user-images.githubusercontent.com/13596067/196890273-08b7dd72-880a-442c-a1d6-19053b5ed6aa.png)

I'll continue to monitor the `template_part_id` to see whether the `null` value is decreased or not. But it might not be easy to check whether it makes sense or not because people probably don't insert patterns to the templ

[2022-10-20 08:12] autumnfjeld commented on #69168
AH! Decision has been made to hide the new BC: p1666253424596039/1665543032.718109-slack-CRNF6A9DX

This makes me happy.

[2022-10-20 08:12] #69168 closed, assigned to SaxonF, miksansegundo

[2022-10-20 08:16] arthur791004 commented on #68870
You have to use your atomic site and install the latest plugin manually

[2022-10-20 08:50] miksansegundo commented on #69168
If in the future, we decide to show the new BC and redirect to the PA, the template creation won't work because of this [reason](https://github.com/Automattic/wp-calypso/pull/69241#pullrequestreview-1148665502).

[2022-10-20 08:57] simison opened #69279 "[Bug]: Style picker shows scrollbars for Pixl theme"
### Quick summary

When creating a new site, and picking Pixl theme, I see scrollbars in style picker. I don’t see them in other themes nor in site editor, so not sure what’s going on.

I have the “always show scrollbars” setting enabled on my browser (or was it OS level) to easily spot scroll problems, so likely won’t look that bad for customers, but they’re still scrollable for customers and mig

[2022-10-20 09:03] simison commented on #69279
Just guessing, but perhaps there's CSS reset missing, or it's different from the one in Gutenberg?

[2022-10-20 09:11] arthur791004 commented on #68870
I think we only need to handle the `deactivate` link instead all of the actions. Otherwise, you will see confirm again when you try to activate the plugin.

I found there are 2 plugin management pages
* `/plugins/manage/<your_site>`
* `<your_site>/wp-admin/plugins.php`

I'm confused why we don't migrate to the new version...but I assume we have to support both when the user tries to deactivate the

[2022-10-20 10:03] miksansegundo commented on #68870
I'm targeting the deactivate link only because I replace `'<a href="plugins.php?action=deactivate'`

Which plugin?

[2022-10-20 10:08] gcsecsey commented on #68218
Thanks for the suggestion @gibrown, I tested a filters aggregation query, and it also works great:
[code]

In https://github.com/Automattic/wp-calypso/issues/68219 we'd like to index other fields from WC.com to `plugin.*` fields similarly to how we did with WP.org results in D81205-code. I'll add these changes to the same diff in our next sprint.

[2022-10-20 10:08] #68218 closed, assigned to gcsecsey

[2022-10-20 10:27] #67657 closed, assigned to epeicher

[2022-10-20 10:46] fushar opened #69282 "Add Homepage virtual page when Front Page Template is used"
# Description

After:
- #69158

is shipped, the next step is to also show the Homepage virtual page when the user adds a Front Page template.

# Specs
- [x] When the site's Reading settings is set to "latest posts", and a Front Page template is added:
   - Show the Homepage virtual page, which points to the Front Page template.
- [ ] When the site's Reading settings is set to "static", and a Front

[2022-10-20 10:47] fushar commented on #69158
Added a new issue for the Front Page template case: #69282.

[2022-10-20 10:50] fushar commented on #69014
I added the following A/C in the description:

- [ ] When the existing site (with another theme) already has a Home template, after completing the PA flow, the Home template must contains the correct, selected patterns.

See the original discussion: https://github.com/Automattic/wp-calypso/pull/69241#pullrequestreview-1148665502

[2022-10-20 10:54] arthur791004 commented on #68870
What do you mean by that? You cannot sandbox your atomic site. Instead, you need to zip the new ETK plugin and install it there. See PCYsg-ly5-p2

[2022-10-20 10:56] miksansegundo commented on #68870
I found that `/plugins/manage/<your_site>` is part of the Jetpack Cloud. It's called the Agency plugin management dashboard. See p1HpG7-gua-p2#comment-55756

Shall I create an issue in Jetpack repo?

[2022-10-20 10:59] miksansegundo commented on #68870
If I cannot sandbox my atomic site, how can I test the code in my sandbox?

Where should I put this code?
[code]

[2022-10-20 11:00] arthur791004 commented on #68870
You have to add the code to the ETK plugin, build the new one, zip and upload to your atomic site

[2022-10-20 11:10] cpapazoglou commented on #68152
Now the remaining part is while sending the webhook, we need to include the intent id when the product is a SaaS product and has an associated billing id. This needs to be done in `marketplace/subscription-events-handlers/subscription-events-handlers.php#134`

if needed we might need to pass the subscription ID when firing the marketplace_activate_product hook in `marketplace-plugins.php#76`

alte

[2022-10-20 11:20] WunderBart commented on #69258
It's worth adding that currently, to get correct results in the CI (TeamCity) for the Atomic suites, the tests need to be run concurrently (see the explanation [here](https://github.com/Automattic/wp-calypso/issues/65906#issue-1315490128)). To run the tests concurrently, the Magellan workers must be limited to 1 instead of 16 in the job options. This takes more time to complete, but otherwise, man

[2022-10-20 12:42] cpapazoglou commented on #68322
Deployed r254801-wpcom

[2022-10-20 12:42] #68322 closed, assigned to cpapazoglou

[2022-10-20 13:13] pauljacobson opened #69286 "Blank Canvas: Duplicate title tags when using Yoast SEO"
### Quick summary

Our customer reported that they have duplicate `<title>` tags in their site's metadata. The site uses the Blank Canvas theme and has both Yoast SEO and Yoast Premium plugins installed. This is what the user sees in their site metadata:

![Capture_2022-10-20 at 15 49 28@2x](https://user-images.githubusercontent.com/2912202/196956161-35fc69d3-8d58-4278-b7fc-38da43d4761c.png)

We r

[2022-10-20 13:44] #68901 closed, assigned to paulopmt1

[2022-10-20 14:08] mmtr commented on #68707
I've been able to identify thanks to `git bisect` that the issue was introduced when we activated Gutenberg 14.1.1 on prod (D87743-code).

[2022-10-20 14:08] bogiii commented on #69060
@saygunnyc, I like your proposals, and I'll start working on them.

[2022-10-20 14:12] #69081 closed, assigned to epeicher

[2022-10-20 14:53] mmtr commented on #68707
This is super weird. Now I can replicate the issue on Atomic sites and self-hosted sites too, so I think this is a Gutenberg issue.

I created an issue there (https://github.com/WordPress/gutenberg/issues/45165), so I'm closing this one in favor of that.

[2022-10-20 14:53] kelasante commented on #66720
Another instance in 37523955-hc. Shared the workaround and asked the user to remove titles in the post and retype it.

[2022-10-20 15:45] daledupreez commented on #68847
For the dynamic annotation values, I mentioned in a Slack thread with @mreishus that I think approach (3) is the right way to move forward so we can keep this relatively safe. p1666275343861819-slack-C0Q664T29

[2022-10-20 15:49] #68806 closed, assigned to JuanLucha

[2022-10-20 15:50] JuanLucha opened #69287 "[Invite emails] Make the new invitation email templates available for everyone"

[2022-10-20 15:54] cpapazoglou opened #69288 "Freemium plugins don't get intalled"
### Details

Currently we've got two freemium plugins ( visual composer, start booking ) that don't get installed after buying a subscription through the WordPress.com Marketplace.

We need to make sure:

- [ ] Plugin gets installed
- [ ] License provision gets triggered even if plugin was already installed before subscribing

Related P2: pdh6GB-2jv-p2

[2022-10-20 15:57] dsas commented on #67103
Just for future reference, it's the new wpcom specific Automattic vendor, not the standard wccom automattic vendor that e.g. sensei uses.

[2022-10-20 15:58] #67103 closed, assigned to dsas

[2022-10-20 17:22] delputnam commented on #68548
Pending fix here: https://github.com/Automattic/wp-calypso/pull/69291

[2022-10-20 17:29] dpasque opened #69294 "Flaky E2E: Login sometimes hangs on network idle when running E2E tests locally"
### Spec file

Happens in login-page.ts

### TeamCity ID

_No response_

### Logs

Context: p1665671451608789-slack-CQD1HH4MA

It seems like inconsistently for some people, running E2E tests locally causes the tests to timeout when waiting for the login page to fire the `networkidle` event state.

We should figure out why this might be happening for some folks, and how we can get around it. Do we

[2022-10-20 17:43] delputnam commented on #68548
Fix deployed in : https://github.com/Automattic/wp-calypso/pull/69291

[2022-10-20 18:11] #56874 closed, assigned to obenland

[2022-10-20 18:18] jeyip commented on #68967
A few remaining follow-up tasks for the clipboard button

- show a notification message underneath the domains preview noting that it is in the process of being set up
- Replace old clipboard icon with new one specified in [figma designs](https://github.com/Automattic/wp-calypso/pull/9wpoYJrMlYKAKUYvVBMN74-fi-1086%3A16682)
- unit tests
- consider how to make the button keyboard accessible

[2022-10-20 18:19] blackjackkent opened #69296 "Onboarding Design Picker - "Simple" Premium Theme does not have option for single purchase"
The upgrade modal for "simple" first-party premium themes (i.e. non-bundled) implies (correctly) that the user can either purchase the theme individually or upgrade to Premium to get all simple first-party premium themes included.

However, the price displayed is the price for the Premium plan, not the individual theme purchase, and clicking on the "Buy and Activate Theme" button takes the user to

[2022-10-20 18:21] jamiepalatnik commented on #69099
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this on my simple and AT test sites, but not self-hosted.
- I had trouble replicating this consistently on my AT site. When I first activated the theme, it showed the content as a Header and

[2022-10-20 18:25] blackjackkent opened #69297 "Onboarding Design Picker - "Skip for Now" link in seller onboarding flow takes user to old screen"
When going through the seller onboarding flow, the "Skip for now" button on the store name and tagline screen takes the user to the old `storeFeatures` screen.

![CleanShot 2022-10-20 at 13 22 38@2x](https://user-images.githubusercontent.com/13437011/197028025-5df1174e-8411-4171-bbd8-f080a5034514.png)
![CleanShot 2022-10-20 at 13 23 14@2x](https://user-images.githubusercontent.com/13437011/1970283

[2022-10-20 18:33] jp-imagines commented on #53027
Another request in 34934927-hc. User wanted to forward two domains to different pages on their site, so I suggested the Cloudflare workaround.

[2022-10-20 18:40] blackjackkent commented on #68288
Work on this project should make use of the `themes/subscription-purchases` feature flag introduced in https://github.com/Automattic/wp-calypso/pull/69292 .

[2022-10-20 18:43] jamiepalatnik commented on #69103
📌 SCRUBBING : RESULT
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this on my AT site with CoBlocks plugin active. These Editor settings options come from the CoBlocks plugin, so it's not possible to test this when the plugin is deactivated.
- I was not able to replicate this on my self-ho

[2022-10-20 18:57] JulianBustamante commented on #68441
Deployed r254846-wpcom

[2022-10-20 18:58] #68441 closed, assigned to JulianBustamante

[2022-10-20 18:59] mreishus commented on #68847
See paYKcK-2f3-p2 for a summary of work remaining

[2022-10-20 19:10] lunasera41 commented on #67624
Another report here 37443732-hc

[2022-10-20 19:14] dognose24 commented on #69178
Hi @keoshi! I got a question: Is the `What happens when meteors collide with Earth` link always included in the `Post published` item?

[2022-10-20 19:15] jamiepalatnik commented on #69109
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Was able to replicate this in all my tests.
- It does seem like the workaround to add a Facebook username so the URL includes that custom username is ultimately the best option for users, but moving this forward for another

[2022-10-20 19:30] JulianBustamante commented on #69250
Deployed r254849-wpcom

[2022-10-20 19:32] ClassicRKR27 commented on #68465
- [ ] I have a similar report here: 37490274-hc

Not sure if it's the exact same issue, but this instance was using the Blank Canvas theme.

[2022-10-20 19:33] #69250 closed, assigned to JulianBustamante

[2022-10-20 19:36] jamiepalatnik commented on #69113
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue, but in my tests it does look like the Query block is there, it just doesn't have the Inherit query from template enabled, so it shows all posts instead of posts from the selected category.

📌 ACTIONS
- Marked as Tri

[2022-10-20 19:49] jamiepalatnik commented on #69150
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this. Only an excerpt shows whether Full text or Excerpt is selected in Reading Settings.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to themes repo

[2022-10-20 19:51] eduardozulian commented on #66213
👋 Just wanted to bring attention that customer feedback is being shared in p7DVsv-fDf

[2022-10-20 19:57] keoshi commented on #69178
Yes, the links are associated with that last item.

I think it would be smart to keep that same logic — max of two links, then reduce to a counter — otherwise the tooltip could grow unwieldily very quickly. Plus, keeping it the same should reduce the scope of this work, but I’m also interested to know what you think. :)

I will say that two seems like a more random choice than, say, three or even

[2022-10-20 20:00] TimBroddin commented on #66213
Hi @eduardozulian, thanks for mentioning this. Started discussion here: p1666295848198789-slack-C02TCEHP3HA

[2022-10-20 20:09] dognose24 commented on #69178
Couldn’t agree with you more!

I would keep the original logic and only add links to the displayed titles.

[2022-10-20 20:15] jsnmoon opened #69299 "Fix empty authors"
Part of the modernization project (p1HpG7-igQ-p2).

In same cases, the list of authors shows a nameless/non-existent author causing it to appear empty.

It would be good to investigate why this is happening and fix these occurrences.

![Image](https://user-images.githubusercontent.com/390760/195615822-a4f3f455-68ba-48dc-b20a-4c906c7f4acf.png)

[2022-10-20 20:59] lupus2k opened #69302 "Create funnels to understand the new plugin collections"
Soon we're going to launch the plugin collections, which should increase the conversions of those plugins listed there.

### What do we want to know?

- How often does the user click on them compared to the current plugin cards?
- How is the plugin collection conversion rate compared to the current plugin cards?
- Do they increase our overall plugin plans conversion rate?

We have some existing cl

[2022-10-20 21:10] lupus2k commented on #69302
Slack thread: p1666299625588389-slack-CKZHG0QCR

[2022-10-20 21:15] #69302 closed, assigned to nobody

[2022-10-20 21:24] edequalsawesome opened #69303 "Canard: List block displaying incorrectly in the editor, but fine on the published site"
### Quick summary

When adding a List block with the Canard theme active, the list is displaying incorrectly in the editor.

### Steps to reproduce

1. Set your site's theme to Canard
2. Create a new post or page
3. Add a List block to the page

### What you expected to happen

The List block would display the content the way it's shown on the published page:

![Canard - List Block - Published](ht

[2022-10-20 22:51] cuemarie opened #69306 "[Block] Blog Posts Block missing first post when added to FSE Templates"
### Quick summary

Using the `Blog Posts Block` instead of a `Query Loop Block` on templates seems to not work well. The most recently published post doesn't display on the live site.

(And because of the lack of previews, as reported here: https://github.com/Automattic/wp-calypso/issues/69101 , this is hard to notice while working in the editor)

### Steps to reproduce

1. Activate an FSE theme l

[2022-10-20 22:58] cuemarie commented on #69306
My gut tells me that it's expected that the Blog Posts Block won't actually work that well on FSE templates, and that these issues are evidence of that - but I haven't been able to prove that theory anywhere. If users shouldn't be using the Blog Posts block on templates, I don't think we've made that clear enough to users (or HEs) yet, so it'd be great to confirm that!

[2022-10-20 23:24] autumnfjeld commented on #69233
We will hide the new BC in the theme showcase  until it is set up to work with PA flow, so this issue is on pause.  See p1666253424596039/1665543032.718109-slack-CRNF6A9DX

[2022-10-21 00:36] jsnmoon commented on #69044
@danjjohnson: We'll start adding this feature behind a feature flag next week. Looping you in here for awareness and customer rollout guidance 👍

[2022-10-21 03:02] edwinho89 commented on #65214
- [ ] 5647838-zd-woothemes

Applied workaround in WPCLI

[2022-10-21 03:03] miksansegundo commented on #69014
@autumnfjeld shall we close this for now? We are going to hide the BC in the theme showcase. https://github.com/Automattic/wp-calypso/issues/69168#issuecomment-1285118962

[2022-10-21 03:17] autumnfjeld opened #69312 "⚙ D89830 Track favicon updated: https://code.a8c.com/D89830"

[2022-10-21 03:17] zachspears opened #69313 "Add a dropdown list for category selection on Blog Posts Block"
### What

When users click the selection box to add categories to the Blog Posts Block, include a dropdown of all existing categories with the option to type the name in order to sort them.

### Why

When users click the selection box to add categories to the Blog Posts Block, nothing happens. They must start typing the name of a category in order to select it. This is unintuitive and can cause co

[2022-10-21 03:17] #69312 closed, assigned to miksansegundo

[2022-10-21 03:23] zachspears commented on #66156
@syhussaini Thank you for clarifying! I think this could be a useful addition, especially if you are looking to recreate the look and feel of another block. Marking Low priority due to low impact.

I will note that as a current workaround, you could simply duplicate the existing block and then update the content.

[2022-10-21 03:26] zachspears commented on #69135
This seems like it could be a really useful and powerful feature. Marking low priority.

[2022-10-21 03:30] zachspears commented on #69163
Hello @1dr0, Currently, this setting is used to define which page is shown as the homepage or provide the option to have a dynamic blog post page depending on the theme. Are you proposing moving this setting to somewhere within FSE itself?

[2022-10-21 03:36] dognose24 commented on #69178
PR #69311 would provide tooltips for the fundamental styles but not include the `7-day highlights` tooltip content since the feature has not been implemented. Thus, this issue would be partially fixed by #69311 and related to #69224.

[2022-10-21 03:37] syhussaini opened #69314 "Requesting an Option to show/hide filters option in Blog Posts Block to filter posts"
### What

I would like to have an option in the Blog Posts Block to show/hide filters that would allow site visitors to filter the posts using the drop menus to show the posts from a specific Category, Tag, or Author.

### Why

This will help the site visitors will have a way to sort/filter posts based on the filters when the Blog Posts Block is set without applying categories, tags, or authors.

[2022-10-21 03:37] syhussaini commented on #69314
Similar request - 37305787-hc

[2022-10-21 03:38] zachspears commented on #69167
Hello @rakshitwesley, I was unable to reproduce the issue. Is it possible this happening on a specific theme?

[2022-10-21 03:58] donalirl commented on #68548
@delputnam @ramynasr sorry I just noticed I pasted the _old_ link for the "Advanced setup" documentation. It should be:

https://wordpress.com/support/domains/connect-a-domain-alternative-method/

Is it possible to update that quickly?

[2022-10-21 04:25] fushar commented on #68427
I think this is OK... if the destination theme does not have e.g. `header` template part, then we don't have to copy the content over. Is this what you mean @bangank36 ? I think this is acceptable, what do you think @arthur791004 ?

[2022-10-21 04:27] dognose24 commented on #69041
I am going to try tackling this for the next few days.

[2022-10-21 04:27] bangank36 commented on #68427
Yes, I agree.
So far I just loop over the blocks on the current home page and get the template-part that is part of the homepage and copy over new theme

[2022-10-21 04:57] autumnfjeld commented on #69014
@miksansegundo  We will only hide it until this work done. :) So this can stay in the backlog.

As soon as we have the PA flow working in theme showcase, then we will un-hide the BC in the theme showcase.

This work is not part of PA MVP, but we can start on it once CfT is out.

[2022-10-21 05:06] #51566 closed, assigned to TimBroddin

[2022-10-21 05:29] krishnanshagarwal112 commented on #68761
is this issue still open or closed ?

[2022-10-21 06:51] #68659 closed, assigned to mashikag

[2022-10-21 07:19] mashikag commented on #69235
@JuanLucha I see there is two of us assigned to the issue. FYI I am starting the work on the ticket now.

[2022-10-21 07:41] xristos3490 opened #69319 "Remove sparkline from Stats menu item for Ecommerce Plan users only"
### What

We are moving the "Stats" menu under the Jetpack menu item. This makes the stats sparkline look _weird_ inside the sub-menu item.

This issue aims to remove the sparkline for Ecommerce plan users.

[2022-10-21 07:45] xristos3490 opened #69320 "Remove GA section from Tools > Marketing > Traffic when the Jetpack feature is disabled"
### What

There is a Google Analytics section under Tools > Marketing > Traffic. When the `google-analytics` jetpack feature gets disabled using the `jetpack_get_available_modules` hook, this section is not removed as supposed to be.

This issue aims to make this section's visibility reflect the feature status.

[2022-10-21 07:46] xristos3490 opened #69321 "Rename Settings > Hosting Configuration to Settings > Hosting"
### What

This issue aims to simplify the Hosting menu item text.

[2022-10-21 10:03] candy02058912 opened #69326 "Gifting: Investigate on where should the front end banner code live"
Context: p1666331336448729/1666212587.180779-slack-C03FE3T479R

We need take these into consideration:
* Jetpack
* wpcomsh
* wpcom trunk
* Jitms
* somewhere else

Also along with the case for:
* atomic sites
* simple sites

Acceptance criteria:

- [ ] decision on where we should put the code for the front end banner

[2022-10-21 10:08] candy02058912 commented on #69326
Some investigation:

![Image](https://user-images.githubusercontent.com/6586048/197170448-213a6457-27bc-47e0-a7c0-12e058b41624.png)

[blog-plugins](fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Soybt%2Qcyhtvaf%2Sznexrgvat%2Qone.cuc%3Se%3Qo914npq5%23373%2Q379-og): top marketing bar
[jetpack? mu-plugins?](fbhepr%2Sfrnepu%3Scebwrpg%3Qpnylcfb%26cebwrpg%3Qwrgcnpx%26cebwrpg%3Qjcpbz%26cebwrpg%3Qjcpbzfu%26shyy%3Q

[2022-10-21 10:53] epeicher opened #69328 "Marketplace: Refine the design of the CTA buttons in SaaS products"
The current design of the CTA buttons for SaaS products includes a card with a white background that does not look very nice in the plugins details sidebar.

![CleanShot 2022-10-21 at 12 56 22@2x](https://user-images.githubusercontent.com/3519124/197180505-ff250d68-5c77-449d-9fb7-27589eb7501d.png)

@vinimotaa, would it be possible to create a Figma design for that?

For context, this is the origin

[2022-10-21 11:05] epeicher opened #69329 "Marketplace: Handle SaaS products when no site is selected"
When no site is selected and the user selects a SaaS product, it should redirect the user to the third-party vendor as it currently does when opening the plugin details and a site is selected https://github.com/Automattic/wp-calypso/pull/68667#issue-1398137649

#### Steps to reproduce:
- Sandbox your API and make sure you have define( 'USE_STORE_SANDBOX', true ); as explained in PCYsg-IA-p2
- Navi

[2022-10-21 11:12] yansern commented on #69234
Deployed.

[2022-10-21 11:12] #69234 closed, assigned to yansern, JuanLucha

[2022-10-21 11:36] cpapazoglou opened #69333 "Marketplace: disable update checks for managed plugins"
Let's make sure that WP doesn't run update checks nor does show update notices for managed plugins.

Related: pedbri-1x-p2

[2022-10-21 11:52] yansern commented on #68836
Patch D90426-code ready for review.

[2022-10-21 12:00] #65459 closed, assigned to gcsecsey

[2022-10-21 12:08] gcsecsey opened #69337 "Marketplace Search: Support filtering by category for WC.com products"
This is a follow-up issue for https://github.com/Automattic/wp-calypso/issues/63167

The current solution uses the category name and tags from use-categories.tsx to filter plugins on a category page. To add WC.com results to these filters, we can use the `wpcom_marketplace_categories` taxonomy. Similarly to #63167, to get more results, we could also match on the product tags, these are stored in t

[2022-10-21 12:48] delputnam commented on #68548
Quick fix deployed in: #69335

[2022-10-21 12:48] #68548 closed, assigned to nobody

[2022-10-21 12:59] karenroldan commented on #69258
Thanks, @WunderBart! I got a walkthrough on TeamCity and how I can set the Magellan workers from 16 to 1.

[2022-10-21 13:19] #69060 closed, assigned to bogiii

[2022-10-21 13:40] #69258 closed, assigned to karenroldan

[2022-10-21 13:53] #69128 closed, assigned to nobody

[2022-10-21 14:00] allilevine commented on #69326
@candy02058912 Thanks for kicking this off! I'd also recommend taking a look at the discussion on https://github.com/Automattic/dotcom-forge/issues/1014

[2022-10-21 14:03] vinimotaa commented on #69328
Access to [Figma file here](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=5338%3A39127)!

@epeicher @WBerredo

[2022-10-21 14:23] #67714 closed, assigned to BogdanUngureanu

[2022-10-21 14:28] zdenys commented on #53102
- 37512324-hc

[2022-10-21 14:41] iamtakashi commented on #67862
I've heard the idea that makes Tsubaki the default theme for Woo. With that and the guideline for themes to provide its homepage content has changed, so I need to make some changes to the theme before we launch the theme.

Please continue to work on the issues with Headstart and Atomic but don't launch the theme yet.

[2022-10-21 14:54] phcp commented on #68836
Closed by D90426-code

[2022-10-21 14:54] #68836 closed, assigned to yansern, phcp

[2022-10-21 15:36] ariel-maidana opened #69344 "grunion-contact-form error on the Classic Editor in simple sites"
### Quick summary

Creating or editing a post using the Classic Editor in a simple site results in this error:

`Failed to load plugin url: /wp-content/mu-plugins/grunion-contact-form/js/tinymce-plugin-form-button.js`

The error message can be closed it's possible to edit the post and save the changes, so it's not a critical error.

### Steps to reproduce

1. On a simple site, go to Posts ---> All

[2022-10-21 16:55] csonnek commented on #69344
Another report in https://wordpress.com/forums/topic/error-message-when-editing-posts/?view=all

Note that the site in this example is using a theme that we retired in August 2015.

[2022-10-21 17:21] zaguiini commented on #69130
Hmm. `client/components` do not have a Storybook setup. Do you mean `packages/components`? If yes, I'd be reluctant in adding the `SitesTableRow` or `SitesGridTile` there since they're very specific to the Sites page. Maybe it'd be worth it to set Storybook for the `client` folder as well?

[2022-10-21 17:39] sdixon194 commented on #69344
This was the result of some files that weren't removed when the contact form feature was defusioned (to bring the files in sync between atomic and dotcom while allowing them to be developed from a single source).

Fixed here: D90474-code
Deployed here: r254928-wpcom

You can notify the users that the fix should be out now 👍

[2022-10-21 17:47] danielbachhuber commented on #69130
@zaguiini Yeah, likely:
1. I originally went down the path of setting up Storybook for `client`.
2. After I was unsuccessful, I created this issue.
3. After I created this issue, I chatted with @p-jackson and we agreed it probably makes sense to set up Storybook for `client` (vs. abstracting `<SitesTableRow />` out). It seems like it would be generally useful to have Storybook available for `clien

[2022-10-21 18:12] zaguiini commented on #69130
We have [Devdocs](http://calypso.localhost:3000/devdocs/wordpress-components-gallery), which maybe does what we want. How about we try that before adding Storybook?

[2022-10-21 18:27] #69344 closed, assigned to nobody

[2022-10-21 19:34] mxhassani commented on #65656
Similar case here: 5649321-zd-woothemes
The problematic character, in this case, appears to be:
`ı`

The user started experiencing this after upgrading to the Business plan.

[2022-10-21 20:47] lupus2k commented on #68492
Hey @vinimotaa, we still don't have the possibility to search within categories, what should we do when searching if we are on a category? Should we remove the selected category, or should we select "discovery" instead?

[2022-10-21 20:54] lupus2k commented on #68492
@vinimotaa I will follow the screenshot, nothing selected

[2022-10-21 21:04] carinapilar opened #69351 "Create an Accordion Block"
### What

Have an accordion block available to users.

### Why

Now that we don't have CoBlocks on all sites anymore, it's a great feature that's now missing. And the [workaround](https://wordpress.com/support/advanced-html/#collapsible-content-accordion-effect) isn't user-friendly.

### How

Got a request on 37546539-hc.

[2022-10-21 21:16] ash1eygrace commented on #68455
Just wanted to add a plus 💯 here that we need to preserve hidden and visible preferences set via My Site > Profile > Manage Blogs.

The closest I could get to my original setup is to manually leave 200+ blogs one by one via My Site > Profile > Manage Blogs since the bulk select option isn't working, but I gave up.

For now, I've resorted to having bookmarks, but I really hope this makes a comeback

[2022-10-22 00:46] metabreakr opened #69355 "Blockbase: cover block in content body overlaps mobile menu"
### Quick summary

When a navigation block is added within a cover block in the header template part, and then a cover block (using background image and also contains a post title block) in the content body is rendered on mobile, the second cover block overlaps the mobile menu overlay, as if the z-index is greater than the menu.

https://user-images.githubusercontent.com/39252765/197308628-7268571

[2022-10-22 00:55] metabreakr opened #69356 "Varia: colors & backgrounds in Customizer label overlays swatch colors"
### Quick summary

When selecting a custom color & background in Appearance → Customize using a Varia-based theme (e.g. Morden), the label for the color overlays the swatches.

<img width="705" alt="Markup 2022-10-21 at 14 50 41" src="https://user-images.githubusercontent.com/39252765/197309151-4e4abcac-3bea-4b01-86f5-df66f709208f.png">

### Steps to reproduce

1. Activate a Varia theme, such as M

[2022-10-22 01:09] metabreakr opened #69357 "Blockbase: cannot edit site title in site editor in Firefox"
### Quick summary

When editing the site title in the site editor, it is not possible to make this change in Firefox.

### Steps to reproduce

1. Activate Blockbase
2. Go to Appearance → Editor
3. Try to edit the site title in the header template

### What you expected to happen

It should be possible to edit the site title.

### What actually happened

The site title can be seleteced but not edit

[2022-10-22 01:19] desnum commented on #60997
This issue came up and I shared the following in 5649715-zen as a workaround:

[code]

[2022-10-22 02:28] kelasante opened #69358 "Twenty Fifteen: List Block Indent Not Displaying in Editor on Simple Sites"
### Quick summary

When you indent an item using the List block on a page, it does not display the indent in the Editor. You will need to preview or use the list view to see the change. This happens with the Twenty-Fifteen theme on simple sites.

https://user-images.githubusercontent.com/74204272/197314903-49abfa6c-76ae-45f5-aaff-001e40c27e51.mp4

### Steps to reproduce

1. On a simple site with t

[2022-10-22 04:10] cuemarie commented on #69099
👋 Me again - just noticed `Blank Canvas` doing the same thing with a default block pattern designed to display comments, I believe. While I don't expect we should see *much* in the way of comments in the editor, this is pretty confusing, and I can imagine it's very easy for folks to delete that empty-looking content.

Free Simple site, **Blank Canvas**

**Editor**

![Markup on 2022-10-21 at 21:07:

[2022-10-22 04:31] Robertght commented on #65656
@Automattic/apex is this something we can get a hand with?

[2022-10-22 06:35] druesome commented on #65656
Similar issue: p9F6qB-6rA-p2

I replied to the user and offered tips to avoid this problem by replacing the  `ı` character with `&#x131;`.  Also advised them to type the title directly into the editor rather than copying and pasting from a word processor.

[2022-10-22 06:39] 1dr0 commented on #69163
Howdy! I am proposing to remove the setting altogether or to force it to display the latest posts only when an FSE-ready theme is active.

This makes the Home template a lot more intuitive. Where I would expect the customizations done to the Home template to appear on the homepage, without having to check if I had set the Reading Setting's homepage display correctly or not.

Right now, setting the

[2022-10-22 10:51] vajrasar commented on #68031
Note: Please check p2EDhh-1HI-p2 for investigations done so far.

[2022-10-22 14:28] davemart-in commented on #69159
I updated this PR description with the notification timing that we settled on.

[2022-10-22 14:40] zdenys commented on #68607
Another case 5626908-zd-woothemes that in combination with the odd but expected behavior below is annoying the customer:
- https://github.com/Automattic/newspack-blocks/issues/675

[2022-10-23 17:46] xristos3490 commented on #69321
Closed in favor of https://github.com/Automattic/jetpack/issues/27019

[2022-10-23 17:46] #69321 closed, assigned to nobody

[2022-10-23 19:02] JulianBustamante commented on #68152
Second and final pass Diff created D90493-code

[2022-10-23 20:08] jerrysarcastic commented on #56593
Also reported in https://wordpress.com/forums/topic/adding-a-comment-in-a-gallery

[2022-10-23 20:51] rossanafmenezes commented on #68455
Another thing I just noticed:

<img width="226" alt="Screen Shot 2022-10-23 at 4 48 17 PM" src="https://user-images.githubusercontent.com/30724184/197417542-71c9e450-1f71-47d5-a62e-bd7930f9fe2d.png">

it only shows the first 50 sites. Right now, I'm looking for one of my personal blogs, so I know the site title and address, but when I'm looking for one of my 18 test sites, the site title and addre

[2022-10-23 22:57] autumnfjeld commented on #69158
@arthur791004  One more question about the "rules" for showing a virtual page.  See discussion, what Saxon said about this should only apply to block themes.  p1666565049015129-slack-CRWCHQGUB

Are we limiting this to block themes only? e.g. in https://github.com/Automattic/wp-calypso/pull/69070

[2022-10-23 23:05] autumnfjeld commented on #69171
You can add a link from that issue to this one @fushar so trail of discussion is clear.

I think we can close this now, ya?

[2022-10-23 23:06] nelsonec87 commented on #68288
Maybe use the same approach from the theme/plugin bundle (taxonomy)?

[2022-10-23 23:41] lsl opened #69360 "Marketplace: Category localization"
`/plugins` with a locale and the logged out version `/ko/plugins` is missing translations for category text.

Not sure why this is, could be we're using the wrong translation function at the wrong time, ~could be SSR?~ (don't think ssr)

~Need to double check we have translations in the first place on translate.wordpress.com.~ [Translations exist](https://translate.wordpress.com/projects/wpcom/ko/

[2022-10-23 23:43] autumnfjeld commented on #69156
Referencing discussion with Saxon: p1666244076252449-slack-CRWCHQGUB

[2022-10-23 23:51] lsl commented on #69360
@cpapazoglou would bespin be able to pick this up? Most of us are on support rotation this week.

[2022-10-24 01:32] autumnfjeld commented on #68427
Demo from @bangank36  😃

https://user-images.githubusercontent.com/5665959/197430471-6da91efa-608f-4d4f-9377-905fdd118d69.mp4

[2022-10-24 02:26] fushar commented on #69171
Yup, done!

I think so. cc @arthur791004

[2022-10-24 02:28] fushar commented on #69015
Landed!

[2022-10-24 02:28] #69015 closed, assigned to fushar

[2022-10-24 02:36] arthur791004 commented on #69171
Close it 🙂

[2022-10-24 02:36] #69171 closed, assigned to arthur791004

[2022-10-24 04:07] miksansegundo opened #69362 "Pattern Assembler - UI improvements"
Addressing here the feedback in the P2 **Patterns for the Pattern Assembler MVP**

**Issues**
- Remove scrolling in pattern previews
- Pattern preview randomly uses a wrong width (Missing styles?)
- Add to the list the pattern Header pattern with button
- Swap the content patterns for the content wireframe patterns in dotcompatterns
- Retest the header selection to confirm that is added in the edi

[2022-10-24 05:30] miksansegundo commented on #69362
Convo about the new features p1666574635983329-slack-CRWCHQGUB

[2022-10-24 05:43] bangank36 commented on #68427
Some theme is packed with custom patterns, but since we are just working new Blank Canvas theme with no patterns attached, I think we should not worry about that right now. How you think @autumnfjeld

[2022-10-24 06:06] roo2 opened #69364 "Writing Prompts: add post metadata when responding to a writing prompt"
### Description
See discussion p1666258027351339/1666124786.711609-slack-C03NLNTPZ2T

The mobile app writing prompts implementation adds a piece of post metadata `_jetpack_blogging_prompt_key` that links the post to the writing prompt that inspired it.

In order to query across wordpress.com for _all_ posts inspired by a certain prompt, the `post_meta` approach does not scale, so the mobile team a

[2022-10-24 06:31] rakshitwesley commented on #69167
@zachspears You're right! Issue appears to be on a few specific themes. So far, I was able to replicate this with the following:

- Skatepark
- Pixl
- Twenty Twenty-Two
- Archeo
- Spearhead Blocks
- Masu
- Disco
- Lettre
- Vivre
- Pendant
- Remote

[2022-10-24 06:34] #69158 closed, assigned to arthur791004

[2022-10-24 07:15] mpkelly commented on #54397
@KirkwallDay, I am unable to reproduce this issue after trying a couple of sites. It's likely been fixed. Could you retest it and close the issue down if it's working ok?

[2022-10-24 07:32] mpkelly commented on #63301
For me, this does feel a little inconsistent. If I focus the Post Title block on a new post, then the button appears after the empty paragraph, yet when I focus a paragraph block it disappears. I think it's probably designed this way though to try and get the user to use `/` to change the current block.

[2022-10-24 07:37] SaxonF commented on #69247
Can we open that upgrade link in a new tab?

[2022-10-24 07:56] ivan-ottinger commented on #65656
Thank you, Robert! I have added the issue to our Maintenance board.

[2022-10-24 07:56] mpkelly commented on #62318
Confirmed that this is fixed now in prod. If anyone disagrees please reopen the issue.

![image](https://user-images.githubusercontent.com/6851384/197476049-f5fe35c7-2c58-4972-b86a-d6ba23a2f3b2.png)

[2022-10-24 07:56] #62318 closed, assigned to vykes-mac

[2022-10-24 07:57] ivan-ottinger commented on #68836
Related issue: https://github.com/Automattic/wp-calypso/issues/65656

[2022-10-24 08:35] claudiucelfilip commented on #69360
The issue seems to be caused by the fact that the translation function are run only once, very early in the app cycle. At that moment, either the locale or translations are not correct.
I [opened a PR](https://github.com/Automattic/wp-calypso/pull/69365) to move the categories to a get function, which allows the translations function to rerun later. It also ensures the translation will work once S

[2022-10-24 08:56] sejas commented on #64741
@rinazrina , Thank you for confirming,  I'll close this issue 👌

[2022-10-24 08:56] #64741 closed, assigned to sejas, mpkelly

[2022-10-24 09:00] mmtr commented on #69247
Yup! That's what I ended up doing in https://github.com/Automattic/wp-calypso/pull/69342. Thanks!

[2022-10-24 09:01] cpapazoglou opened #69367 "Marketplace: SaaS product redirect, account for buttons in all sites view"
In https://github.com/Automattic/wp-calypso/issues/67657 we have added a redirect URL in SaaS plugin pages. We also need to account for all sites view

![Image](https://user-images.githubusercontent.com/12430020/197489326-a08fc713-6eb7-40e6-9d7b-804f0a24f4cd.png)

- Visit `/plugins/test-saas-product`
- Click Manage Sites
- Buttons should redirect to that URL with the specific selected site id

[2022-10-24 09:12] pauljacobson opened #69368 "Cols theme: Image Block captions not kept with image on column breaks"
### Quick summary

One of our customers reported that captions added to Image Blocks are not displayed below the image consistently. Instead, where there is a column break while using the Cols theme, the caption can be displayed in a separate column on the page when viewed on devices like the iPad.

For example, in portrait orientation the caption is displayed below the image as expected, here:

!

[2022-10-24 09:25] gcsecsey opened #69370 "Marketplace search: filter for paid products enrolled to the Marketplace"
This is a follow-up issue for https://github.com/Automattic/wp-calypso/issues/68219 and also a sub-task of #63905

Even though all WC.com products can be queried from the Marketplace API, not all of them are added to the store. This means that even though the user will be able to see these in search results and categories pages, when clicking through the plugin details page, it won't be possible t

[2022-10-24 09:50] mmtr opened #69371 "Limit Global Styles: Double upgrade banner after launch"
We display two upgrade banners in the frontend of launched sites that have limited Global Styles:

![image](https://user-images.githubusercontent.com/1233880/197498806-65b2702e-1b0a-457c-a2df-33f71138f9be.png)

We should either combine them or hide one of them

#### Steps to reproduce

1. Create a free site
2. Add the `wpcom-limit-global-styles` blog sticker
3. Go to Appearance > Editor
4. Open th

[2022-10-24 09:51] mmtr commented on #69371
cc @SaxonF

[2022-10-24 10:22] arthur791004 opened #69373 "Hide the new BC in theme showcase"
Referring to p1666253424596039/1665543032.718109-slack-CRNF6A9DX, we have to hide the new BC in the theme showcase until we're able to bring up the Pattern Assembler flow in theme showcase

#### Dev Tasks

- [x] ~D90503-code~
- [x] Hide it in the Theme Showcase of calypso D91170-code
- [x] Hide it in the Theme Showcase of wp-admin D91558-code
- [x] Hide the activation bar on the theme demo site D9

[2022-10-24 10:31] epeicher commented on #69367
Thanks for reporting this. I created a similar task
- https://github.com/Automattic/wp-calypso/issues/69329

We can close one of them as they seem to be duplicates

[2022-10-24 11:26] iamtakashi commented on #67862
@mreishus @daledupreez I've merged the changes into the theme. Shall I wait to sync the theme in WP.com or can I just go a head?

[2022-10-24 11:29] #69247 closed, assigned to mmtr

[2022-10-24 11:34] miksansegundo commented on #69362
✅ Remove scrolling in pattern previews
✅ Add to the list the pattern Header pattern with button
✅ Swap the content patterns for the content wireframe patterns in dotcompatterns
✅ Order content patterns by function
✅ Retest the header selection to confirm that is added in the editor. There is a known issue that happens when you use an existing site with a home using a template.

❎ Use the “reblog”

[2022-10-24 11:53] #69287 closed, assigned to JuanLucha

[2022-10-24 12:05] lupus2k commented on #67922
This issue is part of https://github.com/Automattic/wp-calypso/issues/68492

[2022-10-24 12:06] heavyweight commented on #68911
Not reproducable

[2022-10-24 12:06] #68911 closed, assigned to nobody

[2022-10-24 12:31] #69360 closed, assigned to claudiucelfilip

[2022-10-24 12:44] i11za commented on #56180
Another request: 37181863-hc

[2022-10-24 12:51] danielbachhuber commented on #68455
@rossanafmenezes Great insight! Thanks for sharing 😊

[2022-10-24 13:01] paulopmt1 opened #69380 "Fix visual issue at upgrade nudge"
We expect to have this padding at the upgrade nudge in /plugins page:

![Image](https://user-images.githubusercontent.com/1044309/197531421-dfe09697-ff83-48fa-9078-0acf26a89dcc.png)

Currently, **only at simple sites that were Atomic once**, this is the padding:

![Image](https://user-images.githubusercontent.com/1044309/197531458-45369c24-97b9-49e4-a245-e86ea84cf0f1.png)

[2022-10-24 13:32] #68707 closed, assigned to mmtr

[2022-10-24 13:39] filipanoscampos commented on #65419
Another case here:
5638928-zd-woothemes

[2022-10-24 13:46] cpapazoglou commented on #69329
Closing https://github.com/Automattic/wp-calypso/issues/69367 as duplicate.

[2022-10-24 13:47] #69367 closed, assigned to nobody

[2022-10-24 13:50] cpapazoglou commented on #69370
I believe you are referring to filtering all WC.com products by the `wpcom_marketplace_categories` taxonomy so that we retrieve only WordPress.com specific products, right?

[2022-10-24 14:11] lupus2k commented on #68492
Thanks @vinimotaa !

[2022-10-24 14:14] cpapazoglou opened #69382 "Marketplace: themes search, show theme card for .org themes"
Let's show a .org theme card whenever no WP.com results exists and the search term matches an .org theme.

![Image](https://user-images.githubusercontent.com/12430020/197544064-9cc4dd69-3090-4ce2-bb74-f658b38c1a60.png)

[2022-10-24 14:18] daledupreez opened #69383 "Project: Third-party premium themes"
### Details

This issue is intended as a broad tracking issue for the Calypso aspects of this project, with the bulk of the tasks being pulled from paYKcK-2fC-p2, which outlines the remaining work.

Note that for our first iteration we do not plan on adding these themes to onboarding.

### Checklist

#### To verify
- [x] We need to review the subscriptions list and details page are working as expe

[2022-10-24 14:20] agrullon95 commented on #68969
Closed with #69086.
Thank you @Sharpirate!

[2022-10-24 14:20] #68969 closed, assigned to agrullon95

[2022-10-24 14:24] JulianBustamante opened #69384 "Update get_billing_intent_by_subscription_id method to return last intent in pending status"
The method `get_billing_intent_by_subscription_id` is not returning the last billing intent when several intents have been created in pending status.

[2022-10-24 14:28] mreishus commented on #67862
Please go ahead and then let me know. I'll then create a new annotation and regenerate the test site.

[2022-10-24 14:39] cpapazoglou commented on #69328
For the time being the differences from the design I can **quickly**  see, are:

- border radius
- sidebar width

@vinimotaa after a call with the team we found out that the white background of the CTA to upgrade plan looks like a hole due to the main page background also being white. Can we adjust something to make it look better?

[2022-10-24 14:48] daledupreez opened #69386 "Project: Tailored eCommerce Flow MVP"
### Details

This project-level issue is intended as a starting point for our work on improving the eCommerce purchase flow, as per this project thread: paYKcK-2ds-p2

The tasks in the checklist below are drawn from this initial breakdown of the work: paYKcK-2fe-p2

### Checklist

- [x] Initialize new eCommerce Stepper flow behind a feature flag.
  * We should create a new flow concept in Stepper

[2022-10-24 14:49] heavyweight opened #69387 "Newsletter Intro (design feedback)"
Apply design feedback for newsletter intro page

HSljkKnYECEEegL3DqP2xC-fi-6827%3A68730

Context: pdDR7T-iV-p2#comment-270

[2022-10-24 14:50] cpapazoglou commented on #63171
Depending on https://github.com/Automattic/wp-calypso/issues/64891

[2022-10-24 15:00] rachelwinspear commented on #65656
Another case: #5654892

<img width="1244" alt="Screenshot 2022-10-24 at 13 23 27" src="https://user-images.githubusercontent.com/44442769/197526950-3b915bed-da05-4efe-bc4f-657804f1d7e6.png">

[2022-10-24 15:04] vinimotaa commented on #69328
@cpapazoglou looking at the outcome, I agree with that!

What if we add a slightly darker gray (EFEFEF) to it instead?

<img width="1381" alt="image" src="https://user-images.githubusercontent.com/97929097/197559280-46e1d3ff-fe66-4986-8d37-698ee18ea9ca.png">

I also tried to follow the same style as the "Get Started" button - white BG with a grey stroke:

<img width="1306" alt="image" src="https:/

[2022-10-24 15:18] #67922 closed, assigned to lupus2k

[2022-10-24 15:20] epeicher commented on #69328
Thanks @vinimotaa  for the update! I like the second version with the white background and a grey border similar to the "Get started" button.

@WBerredo , @cpapazoglou , what do you think?

[2022-10-24 15:42] #66635 closed, assigned to michaeldcain, JessBoctor

[2022-10-24 15:50] bazza commented on #67749
Is anyone looking at these reasons?  If not, we probably don't need to collect them.  The intention was to review them to identify bugs, but if we aren't actually doing that then why do we need to ask?

[2022-10-24 15:57] ccwalburn commented on #55335
Another report here: 5644131-zen

[2022-10-24 16:59] gutenberg-plugin-upgrade-bot[bot] opened #69391 "Gutenberg: v14.4.x plugin upgrade"
Previous upgrade: #69034
Release notes: [v14.4.0](https://github.com/WordPress/gutenberg/releases/tag/v14.4.0)

**Install and activate**

- [ ] Install and activate v14.4.0-rc.1 on edge (######-code)
- [x] Install and activate v14.4.0-rc.2 on edge (D90572-code)
- [x] Install and activate v14.4.0 on edge (D90740-code)
- [x] Activate v14.4.0 on production (D90571-code)
- [x] Request v14.4.0 AT upgra

[2022-10-24 17:07] TPilgs opened #69392 "Selecting Add New Site results in blank blue page"
### Quick summary

Been able to replicate when SU'd, but unable to replicate on my tests. A user is attempting to select Add New Site from their switch sites menu and it only loads a blue page.

This link appears: https://wordpress.com/start/domains?ref=calypso-selector&source=my-home&siteSlug=null

Removing the &siteSlug=null fixes the issues as a workaround.

### Steps to reproduce

1. Open up t

[2022-10-24 17:14] zaguiini commented on #67749
@bazza well, having some analytics stored won't hurt as if we ever want to use that data (if we're not doing that already), we'll have it. Plus, the user having to explain before taking such a destructive action (that will take more resources from our servers) might slow down the user and prevent them from actually taking the action. This could be potentially beneficial for us.

[2022-10-24 17:24] sajmes opened #69395 "Load Google fonts locally rather than from Google's FDN"
### What

Some themes on WordPress.com load fonts from Google's FDN. Even themes where we believe fonts are bundled locally include CSS that comes from Google.

Rather than loading fonts from Google, it would be ideal if these could be locally bundled.

Full discussion here: p58i-cSr-p2#comment-55762

### Why

Recent GDPR related rulings are causing concerns for users in some EU countries about th

[2022-10-24 17:36] danielbachhuber commented on #67749
@bazza Not to my knowledge. I'll look into it, and report to P2.

[2022-10-24 18:23] tbradsha commented on #28828
Because it's missing parity with the shortcode. :^)

[2022-10-24 18:35] iamtakashi commented on #67862
I've deployed the theme. I've also realised that the deployment had no effect on the Atomic demo site, but I manually install the updated theme by uploading the theme.

Anyway, the demo site looks good to go now.

[2022-10-24 18:53] #69392 closed, assigned to nobody

[2022-10-24 18:59] daledupreez commented on #67862
@iamtakashi, I wonder whether the issue with Atomic not updating is because we're not creating releases of the theme and/or not bumping the version. I have some questions about the way we handle managed themes on Atomic, so I will loop back on this topic tomorrow, hopefully with some helpful information!

[2022-10-24 19:20] iamtakashi commented on #67862
@daledupreez OK. Hopefully, we'll know the best way to update the theme in Atomic. I've actually realised something left to update, but the theme and the demo will be both ready by tomorrow.

[2022-10-24 19:37] nelsonec87 commented on #69008
The headstart annotation was removed in D90578-code.
I'll fix (if needed) the new annotation when it's available.

The issues were:

1. As Matthew noted above, `parse_navigation_link_content()` checks if the provided `id`s exist. A simple fix is to remove the `id`s from the `post_content` `navigation-link`s.
2. The "Blog" link was pointing to a page that doesn't exist, so we need to add the page t

[2022-10-24 20:08] mreishus commented on #69008
There's a new annotation available now

[2022-10-24 20:24] danielbachhuber commented on #69130
@zaguiini Could, although would that require abstracting the code to `client/components/` ?

@p-jackson Is Devdocs or Storybook the more "modern" approach?

[2022-10-24 20:43] iamtakashi commented on #67862
I'm done with the changes I needed to make.

I expect minor updates will be made to the themes going forward. It's not a blocker for launch, but it'd be great if we could streamline the process of deploying the theme to Atomic and regenerating the Headspace annotation.

[2022-10-24 20:46] blackjackkent opened #69399 "WooCommerce Tailored Flow: Implement Pattern Selection"
In the MVP for the WooCommerce Tailored Flow described at peapX7-Gb-p2, one of the tasks entails implementing a design picker step that is stripped-down compared to the one used in the existing Seller Experience flow, and will be used to allow users to select a theme (or variation of a theme) appropriate for their site.

A similar design is already in use - the [existing patterns step](https://git

[2022-10-24 20:47] blackjackkent commented on #69399
@daledupreez Do you have a link to where discussion is happening regarding other flows also intending to use the desktop version of this step?

[2022-10-24 21:11] mreishus commented on #67862
I've created the annotation, bumped the version to 1.1, and regenerated my test site. Please take a look at the test site ( the "craft" "2" site mentioned here paYKcK-2aK-p2 ) and let me know what we need to fix in the annotation.

I remember last time, I needed to manually specify ` "page_template": "page-without-title",` for the homepage, but this time around, there is no homepage. So maybe I ne

[2022-10-24 22:17] jsnmoon commented on #69178
Let's consider this issue closed once we've addressed @keoshi's feedback from [here](https://github.com/Automattic/wp-calypso/pull/69311#issuecomment-1286741996).

[2022-10-24 22:21] paulopmt1 commented on #69326
Hey @candy02058912, we got [a direction on it](p1666640497864299/1666212587.180779-slack-C03FE3T479R). I'm curious to understand why and how to sync the code between `wpcomsh` and `wpcom`. But pretty sure we'll get there!

[2022-10-24 22:32] autumnfjeld opened #69400 "Show virtual pages UI for other reading settings"
# Description
Not required for MVP, since it doesn't directly affect the PA flow / PA site setup.

See this comment for content pbxlJb-2OQ-p2#comment-1970

We want to surface the virtual home.html  "page" for these reading settings:

![Image](https://user-images.githubusercontent.com/5665959/197659454-343f8309-69c5-4ce6-9b08-8fc9ae9418b2.png)

This could easily apply to users who go through the PA

[2022-10-24 23:05] JulianBustamante commented on #68152
Deployed r255045-wpcom

[2022-10-24 23:06] #68152 closed, assigned to JulianBustamante, gavande1

[2022-10-25 00:27] SaxonF commented on #69371
This is related to recent changes to our marketing bar where we are now sharing that bar to site owners. The marketing bar ("remove this site banner") should sit below the launch bar at the very least. This should be treated as a separate issue as I don't think its related to global styles.

[2022-10-25 00:51] supernovia opened #69401 "Contact Form Block: allow same-line labels"
### What

Right now our form block puts the field label and the field itself on separate lines, like this:

![add-form-field](https://user-images.githubusercontent.com/3476361/197656462-554116ae-0616-4e48-b606-5907511b13f3.png)

This user would like the option to let the labels show up next to the fields, like this:

<img width="1091" alt="Screen Shot 2022-10-24 at 6 49 16 PM" src="https://user-im

[2022-10-25 02:18] hacchism commented on #68121
another report in 5648190-zen, suggested using classic view as a workaround

[2022-10-25 02:46] autumnfjeld opened #69403 "⚙ D91170 Themes: Hide blank-canvas-3: https://code.a8c.com/D91170"

[2022-10-25 02:47] autumnfjeld opened #69404 "⚙ D90412 Block Preview: Support wpcom_site to get site data: https://code.a8c.com/D90412"

[2022-10-25 03:12] autumnfjeld commented on #69156
Image should be abstract (maybe not real UI, which changes).
Gif would be better than video (autoplay).

[2022-10-25 03:14] syhussaini commented on #61878
I got a similar request for this on this interaction 37596242-hc

[2022-10-25 04:09] p-jackson commented on #69130
I would say that Storybook is the more "modern". It's being used by both Gutenberg and `@automattic/components`, and I think over time Calypso should move towards that set of technologies.

However devdocs probably does have everything we need. The main problem we want to solve here is to make it easier to test all of the variations and permutations of the table and grid components, and we wanted

[2022-10-25 04:16] arthur791004 commented on #69156
I think [Intro to the Site Editor and Template Editor](https://learn.wordpress.org/tutorial/intro-to-the-site-editor-and-template-editor/) is also a great video for learning!

[2022-10-25 04:25] JulianBustamante commented on #68324
Diff created D90607-code

[2022-10-25 06:27] autumnfjeld opened #69406 "Add a Cancel (or back) button in the pattern selector instead of using the Back button"
# Description
See Ola's comment pbxlJb-2wa-p2#comment-1950
Let's do this for MVP.

Instead of using the "< Back"  link, add a cancel button in the pattern selector.

BEFORE

![Image](https://user-images.githubusercontent.com/5665959/197698886-695a7a10-f149-45e5-8a52-5d6abd126058.png)

AFTER

![Image](https://user-images.githubusercontent.com/5665959/197702131-3a334b7a-3c69-425b-a8e5-b7d7faf634be.p

[2022-10-25 06:31] autumnfjeld commented on #69406
cc: @miksansegundo @SaxonF

[2022-10-25 06:50] syhussaini opened #69407 "Post Carousel Block Cuts off the image in live view"
### Quick summary

The **Post Carousel** block in the **Resonar** theme cuts off the image in the live view.

![image](https://user-images.githubusercontent.com/8070771/197701391-b7edd777-5f8e-4d18-8cdc-120958b739c8.png)

![image](https://user-images.githubusercontent.com/8070771/197701467-66729f0d-3437-43f6-8083-3ab2e873305a.png)

Please see this image for the recorded GIF: https://d.pr/i/VXfjTk

[2022-10-25 06:55] autumnfjeld commented on #69362
@miksansegundo
Let's prioritize fixing these by MVP
* Close button https://github.com/Automattic/wp-calypso/issues/69406
* Remove scrolling in pattern previews
* See the active pattern in the list even during a replacement
* Use vertical name instead of theme name
* Patterns
  * Add to the list the pattern Header pattern with button
  * Swap the content patterns for the content wireframe patterns

[2022-10-25 06:59] autumnfjeld opened #69408 "Pattern improvements for MVP 🤞"
# Description
Pattern quality will be a continual evaluation, but here's some items I'd like to tackel before MVP.  Dependent on help from Ola or another theme designer.

pbxlJb-2wa-p2

See this [FigJam](KFKxJ6nH1D9tyIh7IqlC8a-fi-202%3A11)

- [x] Add horizontal padding to the patterns that have full-width without padding.
- [x] Discuss with Ola: how difficult it would be to change the grey to a ha

[2022-10-25 07:02] ivan-ottinger commented on #68485
D88807-code and https://github.com/Automattic/jetpack/pull/27009 are now merged.

[2022-10-25 07:05] ivan-ottinger commented on #68485
One additional fix will be necessary on the Jetpack side to properly save the new option → I am opening this task.

[2022-10-25 07:26] autumnfjeld commented on #69362
I went ahead and put all the pattern items in this issue:

[Pattern improvements for MVP 🤞](https://github.com/Automattic/wp-calypso/issues/69408)

Since they are separate from UI issues and we'll need theme peeps to help us tackle these.

[2022-10-25 07:45] autumnfjeld commented on #69175
For reference on style/tone/length, here are a few of the videos in the Blog Flow:

https://wpcommedia.files.wordpress.com/2022/08/create_page_long_-1.mov
https://wpcommedia.files.wordpress.com/2022/08/social_icons_long_-1-2.mp4
https://wpcommedia.files.wordpress.com/2022/08/right_blocks_long_-1.mov

[2022-10-25 07:53] cpapazoglou commented on #69328
The second version looks better to me too.

Thanks @vinimotaa

[2022-10-25 08:10] agrullon95 commented on #68970
Issue resolved with changes: https://github.com/Automattic/wp-calypso/pull/69096

[2022-10-25 08:10] #68970 closed, assigned to kirahsapong

[2022-10-25 08:21] daledupreez commented on #69399
Absolutely! At this stage, we have two other tailored flows that have the desktop version of this step in their designs:
 * The Video tailored flow i2 design: pxWta-1Bg-p2#4-choose-a-design
 * The blog onboarding flow i1 design: pbAok1-3fK-p2
I don't believe implementation has started for either of those flows, so we may be the first flow that gets to a point where we need desktop views.

[2022-10-25 09:13] daledupreez opened #69409 "Task: Switch default theme for eCommerce to Tsubaki"
### Details

Once we've launched Tsubaki (tracking issue: #67862), we want to ensure that it is used as the default theme for sites on the eCommerce plan. We performed this switch recently for issue #67562 via PRs #68411 #68417.

### Checklist

- [x] Ensure that users who pick the eCommerce plan in the plans step have Tsubaki set as their default theme
  - Added in D92667-code.
- [ ] Ensure that u

[2022-10-25 09:21] cpapazoglou opened #69410 "Marketplace: Plugin details logged out iteration"
As per pdgAPm-yE-p2#comment-568, the following changes need to be applied to the Plugin Details page:

- [x] Change the main CTA (on the sidebar) to “Get Started,” also taking users to /start with the Business Plan pre-selected - #69641
- [x] Update the marketplace footer to the page - https://github.com/Automattic/wp-calypso/pull/69557
- [x] Add the standard global header to the page
- [x] Add th

[2022-10-25 09:29] cpapazoglou commented on #69410
@WBerredo can you hash out what needs to be done here from pdgAPm-yE-p2?

[2022-10-25 09:57] artpi opened #69411 "Test the newsletters branch and review everything"
We want to test https://github.com/Automattic/jetpack/pull/26417 and see:

- What can we improve
- What can we make better
- What does not make sense

The goal is to:
1. Improve testing instructiosn
2. Find new tasks

[2022-10-25 09:58] artpi opened #69412 "Make the newsletters branch run on a WPCOM Simple site"
We want to make https://github.com/Automattic/jetpack/pull/26417 run on a WPCOM Simple site and test it.

WPCOM is running Jetpack and all Jetpack features are features on .com.
Previously, there was a fusion process: PCYsg-fkM-p2
But now they seem to be depracating fusion: pdWQjU-3E-p2

It will require digging into what is the Jetpack release process nowadays and how to run the branch. @oskosk ma

[2022-10-25 10:02] artpi opened #69413 "Pass proper parameters to launch a login window"
D89966-code introduces new parameters that we have to pass according to the post setting:
- source=jetpack_post_paid
- source=jetpack_subscribe
- source=jetpack_post_email_only

We want to pass an appropriate access level that we introduced in the https://github.com/Automattic/jetpack/pull/26417 .
- We probably need to change the specific names inside WPCOM codebase to match what we have in Jetpac

[2022-10-25 10:04] artpi opened #69414 "“Add paid plan” button doesn’t update once a paid plan is added"
In https://github.com/Automattic/jetpack/pull/26417 we introduced an "add paid plan" button that lets you add a new plan in the subscribe block.
When you already have plans, it should show "edit plans". I remember we tested it and it was always "add" but that may have been since fixed.

[2022-10-25 10:13] daledupreez opened #69415 "[Bug]: Users on Atomic sites do not get starter content when switching to a WooCommerce-specific theme"
### Quick summary

If a user already has an Atomic site, and they then switch to a theme built for WooCommerce, like Tsubaki or Thriving Artist, they do not get the starter content for the theme on their site, especially the data related to products.

### Steps to reproduce

1. Ensure you have an Atomic site with an active Business or eCommerce plan
2. Switch the theme on your site to either Thriv

[2022-10-25 10:15] ivan-ottinger commented on #68485
https://github.com/Automattic/jetpack/pull/27049 is now ready for review.

[2022-10-25 10:19] ivan-ottinger commented on #68746
Related PR that is adding missing option update: https://github.com/Automattic/jetpack/pull/27049

[2022-10-25 10:25] gcsecsey commented on #68219
Draft diff raised: D90619-code

[2022-10-25 10:33] jromales commented on #55795
Another instance in 5657380-zd-woothemes

[2022-10-25 10:33] mrfoxtalbot opened #69416 "[Signup] Provide clearer directions when the chosen username is already taken"
### Quick summary

If a user selects a username already taken while trying to register a new account, they will see the following message:

![Screen Shot on 2022-10-25 at 12:25:49](https://user-images.githubusercontent.com/4452464/197750538-f19655e2-2ff5-40af-9a58-61a5374a98a3.png)

It is not immediately clear that they can continue simply by using a different username, one that has not been taken

[2022-10-25 10:49] daledupreez opened #69418 "Task: Implement Store_Product class for third-party premium themes"
### Details

This task involves creating a new `Store_Product` subclass for premium third-party themes, and ensuring that any testing products are correctly assigned to this product.

This work will have some dependencies on D85381-code, but I think we should move this class to a separate file, as third-party premium themes will have some notable differences from the first-party themes considered

[2022-10-25 11:12] daledupreez opened #69419 "Task: Implement provisioning for third party premium themes"
### Details

When a user purchases a third party premium theme subscription, we need to ensure that the theme is correctly installed on the user's Atomic site.

This should leverage the work done for plugins from the marketplace, specifically in `Marketplace_Software_Manager` and `marketplace_post_transfer_manage_software()`.

This task depends on the work outlined in #69418 to create a new `Store

[2022-10-25 11:23] daledupreez opened #69420 "Task: Identify third-party themes in APIs that drive the theme showcase"
### Details

We need to ensure that we have a way to represent third-party themes in the themes APIs that drive the theme showcase.

This task is fairly broad and may require multiple changes, but the core goal is to make sure that we tackle a few closely related work items.

### Checklist

- [ ] Ensure that we identify third-party themes in the themes APIs -- D90272-code should provide pretty goo

[2022-10-25 11:24] bangank36 commented on #68427
According to Ganon Sync on 10-25-2022, we decided to explore the possibility of support the persisting template for all other FSE-support themes, so I will dive into the solution to get the theme block pattern content and copy it into new theme's template. 

Discussion is ongoing p1666672431670109-slack-CRWCHQGUB

[2022-10-25 11:25] bangank36 opened #69421 "Persist the PA home template through theme switch"
## Description
Once user finishes the Pattern Assembler flow, their website homepage's content will be built on home.html template. The content will be 'lost' upon theme changing because block templates are theme specific and we can't access template content across themes.
This PR is made to copy the old theme's template content to new theme

## Related
Spike issue [#68427](https://github.com/Auto

[2022-10-25 11:28] markbiek commented on #69420
Initial plan is to add a `theme_source` property which can (currently) be either `first_party` or `third-party`. Then we'll have a helper function which is `isThirdPartyTheme`.

[2022-10-25 11:30] iamtakashi commented on #67862
@mreishus, thanks for the update.

This was one of the changes I needed to make to the theme. The homepage content used to be built on a page that used the `page-without-title`, but now a new template `home.html` is providing the homepage content. This was due to the recent changes in our theme guidelines.

This is also related to the change above. Now the homepage content is provided in the templ

[2022-10-25 12:34] iamtakashi commented on #67862
The only thing I've noticed was the navigation in the footer (under Need a help? heading.) I would like to have a different navigation from the one in the header. Is that possible to achieve?

| Demo Site | Test Site |
| ----------- | ----------- |
| ![tsubakidemo wpcomstaging com_](https://user-images.githubusercontent.com/908665/197773692-c97a12a8-bfb7-4e15-abca-ec3687a34a72.png) | ![testsitemmr

[2022-10-25 12:57] ivan-ottinger opened #69424 "[New Post] Implement Featured image metrics"
Project thread: pdDOJh-Nu-p2.

[2022-10-25 13:09] essleeung commented on #61297
Another encounter [here](5655314-zd-woothemes) on the Modern theme.
I provided the workaround to use the Classic View.

[2022-10-25 13:10] lupus2k commented on #68553
Update thread: p1666653179792639-slack-C02KBT54T9T

[2022-10-25 13:42] daledupreez commented on #67862
@nelsonec87 is working on that issue in #69008 - the nav menus aren't working correctly at the moment.

Also, can I request that we change from "Need a help?" to the simpler "Need help?" for the footer column? "Need help?" is a much more common/standard way of phrasing this in English.

[2022-10-25 14:04] pauljacobson opened #69427 "Premium Content: Paid subscribers unable to access subscriber content several days after publication"
### Quick summary

One of our customers has reported that some of their subscribers are unable to access paid content despite having current, paid subscriptions on the site. Our customer pointed us to this post as an example: https://ejmagnier.com/2022/10/20/will-china-challenge-the-us-unilateralism-and-expands-beyond-its-great-wall/

### Steps to reproduce

1. The affected subscriber signs into W

[2022-10-25 14:39] agrullon95 commented on #64551
I tested on Simple Site + Atomic Site and was not able to replicate this issue:

Simple Site:

<img width="560" alt="Simple Site - FSE Add block" src="https://user-images.githubusercontent.com/10482592/197803886-464b2fc2-b8a1-45c0-b379-c49a6e523ab4.png">

Atomic Site:

<img width="515" alt="Atomic Site - FSE Add block" src="https://user-images.githubusercontent.com/10482592/197803913-09411846-1660

[2022-10-25 14:39] #64551 closed, assigned to nobody

[2022-10-25 14:46] iamtakashi commented on #67862
Thanks for pointing that out :) I'll change it asap!

[2022-10-25 14:49] phcp opened #69430 "[Database] Create Email Opens ETL (POC)"
For the email opens ETL it should query `wpcom_email_open` events from `tracks.prod_events` database, filtering by `new-post` templates and grouping by `post-id` and `date`.

- [ ] Define SQL query for email opens
- [ ] Create the transformation on ganymedes2 project
- [ ] Create test scenarios
- [ ] Validate with hadoop-proxy

[2022-10-25 14:50] epeicher commented on #69328
The changes in the sidebar and the card for SaaS products have been implemented in the linked PR #69429. Some screenshots of the before and after can be found there.

The Figma file used f84fqtCG4pCnCh2Hq0But5-fi-5468%3A38057

[2022-10-25 15:03] ivan-ottinger commented on #69424
Work in progress in D90652-code.

[2022-10-25 15:11] #68988 closed, assigned to sirbrillig

[2022-10-25 15:18] phcp opened #69431 "[UI] Create Email Opens summary card on stats dashboard"
The stats dashboard lives on https://wordpress.com/stats. It displays stats cards with filtered by the period/date you select in the timeline. The goal for this tasks is to create an Email Opens card on the dashboard, consuming data from the mock endpoint created on this patch: D90605-code

The card can be similar to the example below, row actions are out of scope for this task.

![Image](https://

[2022-10-25 15:21] phcp opened #69432 "[Data] Create Email Clicks transformation"
For the email clicks ETL it should query `wpcom_email_click` events from `tracks.prod_events` database, filtering by `new-post` templates and grouping by `post-id` and `date`.

- [ ] Define SQL query for email clicks
- [ ] Create the transformation on ganymedes2 project
- [ ] Create test scenarios
- [ ] Validate with hadoop-proxy

[2022-10-25 15:21] phcp opened #69433 "[API] Create Email Opens endpoint"
We need an endpoint to return Email Opens stats, following the expected shape from existing Stats APIs. This endpoint should consume data from Email Opens ETL database.

The return should be similar to this:
[code]

[2022-10-25 15:22] phcp opened #69434 "[API] Create Email Clicks endpoint"
We need an endpoint to return Email Clicks stats, following the expected shape from existing Stats APIs. This endpoint should consume data from Email Clicks ETL database.

The return should be similar to this:
[code]

[2022-10-25 15:22] phcp opened #69435 "[UI] Create Email Clicks card on stats dashboard"
The stats dashboard lives on https://wordpress.com/stats. It displays stats cards with filtered by the period/date you select in the timeline. The goal for this tasks is to create an Email Clicks card on the dashboard, consuming data from the email clicks stats API (to be provided).

The card can be similar to the example below, row actions are out of scope for this task.

![Image](https://user-im

[2022-10-25 15:28] heavyweight commented on #67811
p1663337658990939-slack-C02T4NVL4JJ

[2022-10-25 15:29] #67551 closed, assigned to BogdanUngureanu

[2022-10-25 15:41] iamtakashi commented on #67862
I've changed the heading. Thanks again for pointing this out.

[2022-10-25 15:42] sourourn commented on #61297
Another encounter in #37578457-hc on the Alves theme.
I provided the workaround to use the Classic View.

[2022-10-25 15:59] filipanoscampos opened #69439 "Media: Make alt text added via Media Library or Editor update across website"
### What

Currently, we have the option of adding Alt text from the Media Library or from the editor.

Yet, on the live site. only the Alt Text added via the Editor will show, and this isn't obvious to users who may believe they are building a fully accessible website.

### Why

To ensure users have a quicker, simpler, and more obvious way to follow accessibility guidelines.
Something I believe is

[2022-10-25 16:18] msilbers commented on #69439
Alt text should really be contextual and I'm not sure it makes sense to pull it from the media library and show the same thing every time. Do we have any a11y experts to weigh in on this?

I suppose if it's not recommended, it's an issue that we show that field in media at all.

[2022-10-25 16:38] carinapilar opened #69441 "Image Editing Options Stopped Working"
### Quick summary

Image editing options on the media library stopped working.

### Steps to reproduce

1. Go to your site's media library
2. Select one image
3. Click on Edit
4. Click on Edit Image (site needs to be Public)
5. Click on Crop and select part of the image, click Done to save the changes

### What you expected to happen

For the cropped image to save.

### What actually happened

It

[2022-10-25 16:41] filipanoscampos commented on #69439
That also makes sense @msilbers .
Thanks for jumping in.

[2022-10-25 16:51] markbiek commented on #69420
First pass diff: D90663-code

[2022-10-25 17:09] nelsonec87 commented on #69008
The theme has different navigation item in the header and footer:

Header:
![image](https://user-images.githubusercontent.com/3801502/197836335-7e4fe574-6abf-42a6-bc7e-9ba4307fcd04.png)

Footer:
![image](https://user-images.githubusercontent.com/3801502/197836475-e7b1d68a-722e-4fbd-87f1-13a2ea5a2a33.png)

It's possible to create a new "Menu" from headstart with `wp_navigation` `post_type`, but act

[2022-10-25 17:37] youbrokesomething commented on #69439
🤔 While alt text can be really contextual, I'm not sure that that context would change much. If you have a picture of an apple, would the context of it being a picture of an apple change just because it's somewhere else on the website?

Maybe a good way to handle this is to pull the alt text from media by default if there is any and let users override it for a specific block in the editor.

[2022-10-25 17:38] carinapilar commented on #61297
The new reports might not be the same issue?

I got a report today, but it's not showing the same error message (or errors on Console). So I created a new GH report here: https://github.com/Automattic/wp-calypso/issues/69441

[2022-10-25 18:43] mreishus commented on #69008
### Added second menu to annotation, but the footer isn't assigned to it

I've added the second wp_navigation to the annotation. This does not fix the problem, but means the user is one click away from a correct solution:

**After headstart is run, two different navigation menus exist, but both the header and footer are assigned to the "header navigation"**
![2022-10-25_13-22](https://user-images.

[2022-10-25 19:13] romarioraffington commented on #69414
Appears to have been fixed.

<img width="1794" alt="Captura de Pantalla 2022-10-25 a las 14 11 26" src="https://user-images.githubusercontent.com/7076981/197861323-2ac5b626-3154-4b34-81f6-ca6486cab7f4.png">

#### TODO
- [ ] We should change the URL to not open the "Add a new payment plan" modal when manage plan is clicked

[2022-10-25 19:43] john-legg commented on #66144
Thank you for your patience on this one @worldomonation - I'm still getting used to the open communication aspect of this 😓 That's great advice and I will definitely make that a goal of mine moving forward!  I just pushed a draft PR of what I have so far [#69446](https://github.com/Automattic/wp-calypso/pull/69446).

I lost a bit of time to implementing/debugging the REST API flow within the test,

[2022-10-25 20:03] #67547 closed, assigned to gavande1

[2022-10-25 20:07] markbiek commented on #69420
P2 for implementation discussion: paYKcK-2hP-p2

[2022-10-25 20:41] WBerredo commented on #69410
This task still needs design, after the initial drafts we can draw up a plan of how to tackle those. At this time, I'll be filling in the description of this task to reflect our efforts.

[2022-10-25 21:24] msilbers commented on #69439
@youbrokesomething that makes sense, and it's not like 100% contextual, but in the alt-text section we link out to this guide: https://www.w3.org/WAI/tutorials/images/decision-tree/

The third question is "Does the image contribute meaning to the current page or context?"

Not everyone is going to go through the decision tree and not everyone even adds alt-text, but most of what I've read about it

[2022-10-25 21:32] jerrysarcastic commented on #56758
Also reported in https://wordpress.com/forums/topic/invites-not-going-through-2

Strangely this issue has not cleared up after refreshing/waiting, but instead has persisted for many days while we investigated the issue with the site owner.  I am able to confirm that if I try to send an invite on their site I see the same error messages.

It seems specific to their site somehow, as invites work nor

[2022-10-25 21:36] n3f commented on #69412
Some informative posts:

* pdWQjU-77-p2
* pdWQjU-6L-p2

[2022-10-25 21:55] n3f commented on #69412
The `jetpack rsync` command works great and I tested on WPCOM with a sandboxed site...

[2022-10-25 22:36] pablinos opened #69456 "Checkout: Pricing for products with introductory offers is displayed in a confusing way"
### Quick summary

We have an introductory offer for Jetpack Social that is $1 for the first month. At the end of the month, the plan renews and the customer is charged for the other 11 months at full price.

For the annual plan, this is being displayed at the top of the checkout page as if it's $1 for the whole year.

![image](https://user-images.githubusercontent.com/96462/197894694-d3ed3469-86d

[2022-10-26 01:00] cuemarie commented on #69221
📌 SCRUBBING : RESULT
- Tested on Simple: Replicated
- Tested on AT: Replicated
- Tested on Self-hosted: Replicated
- Replicable on Core? **Yes** - https://github.com/WordPress/gutenberg/issues/29438

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated in all test environments, no matter the theme.

***AT Example***
![Markup on 2022-10-25 at 17:54:38](https://user-images.githubusercontent.com/27249804/197909

[2022-10-26 01:13] cuemarie commented on #69228
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Thanks for the suggestion! This is definitely a common request; making this self-serve in the account settings would definitely save us many interactions.

[2022-10-26 01:24] rw-ye commented on #68559
Another report: 5659413-zd-woothemes

[2022-10-26 01:26] donalirl commented on #68559
#5659518-zen

[2022-10-26 01:26] cuemarie commented on #69266
📌 FINDINGS/SCREENSHOTS/VIDEO
- Thanks for passing along this feedback. As of now, it doesn't seem that this update to the subscriber count will change, but for now I'll mark this as kept in case Quality Squad wants to keep this open as a possible future enhancement.

📌 ACTIONS
- Feature request kept
- noted feature request here: p7DVsv-fDf-p2

[2022-10-26 01:40] cuemarie commented on #69303
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated as described on AT and Simple sites
- Tried a couple other themes around that age (`Gazette` and `Twenty Fifteen`) but the issue did not present in those themes

*Example*

![Markup on 2022-10-25 at 18:39:28](https://user-images.githubusercontent.com/27249804/197914348-

[2022-10-26 01:54] #62290 closed, assigned to nobody

[2022-10-26 02:33] arthur791004 commented on #69221
I've also encountered this issue since Gutenberg v13.7 above. The root cause might probably be [use_global_query](https://github.com/WordPress/gutenberg/blob/959c00f6eb78965bd1321443732242503a3db1c5/packages/block-library/src/post-template/index.php#L48) from https://github.com/WordPress/gutenberg/pull/32514. But I'm not sure why it makes the posts become empty if inherit query is enabled

[2022-10-26 03:34] autumnfjeld commented on #68550
🥳 The PR has been merged.  https://github.com/Automattic/themes/pull/6665

See the slack convo for details
p1666696424251269/1666560395.863769-slack-CRWCHQGUB

@arthur791004 will soft launch the blank-canvas-3.
p1666704226337649-slack-CRWCHQGUB
D90503-code

[2022-10-26 03:42] lsl commented on #68553
So just enabling the button won't work. The upload screen behaves as if you're activating a specific plugin:

![Screenshot 2022-10-26 at 14-40-21 test — WordPress com](https://user-images.githubusercontent.com/811776/197929286-fe422fa3-1e1a-432a-8de4-6e8eca43d5ab.png)

Instead it should have button copy like when you're on a business plan with a simple site:

![Screenshot 2022-10-26 at 14-39-59 Bu

[2022-10-26 03:46] lsl commented on #68553
And I don't think this needs to be a modal, it can be inline (at least for a first pass).

Feel free to do this in a couple of PR's if you need to break it down, quite a bit of criteria in here now.

[2022-10-26 05:06] miksansegundo commented on #69408
I went ahead a few days ago and swapped them in [Pattern Assembler - UI improvements](https://github.com/Automattic/wp-calypso/issues/69362) for testing. Here is the list of wireframe content patterns ordered by function:

1. https://dotcompatterns.wordpress.com/?p=7156
2. https://dotcompatterns.wordpress.com/?p=7153
3. https://dotcompatterns.wordpress.com/?p=7146
4. https://dotcompatterns.wordpre

[2022-10-26 06:13] lsl opened #69465 "Marketplace: Double decode on descriptions?"
Not sure what's causing this, maybe double encode/decode on the description?

![Image](https://user-images.githubusercontent.com/811776/197948656-8be3f92d-7b84-4527-a7b1-06cd0a91a240.png)

[2022-10-26 06:31] jartes commented on #60119
Another case on [16397704-hc](16397704-hc)

I've deactivated Photon module.

[2022-10-26 06:40] TimBroddin commented on #66701
This one is deployed!

[2022-10-26 06:40] #66701 closed, assigned to TimBroddin

[2022-10-26 06:43] autumnfjeld opened #69466 "⚙ D89996 Persist home template content: https://code.a8c.com/D89996"

[2022-10-26 06:56] #69328 closed, assigned to epeicher

[2022-10-26 07:34] fushar commented on #66667
Done: pbxlJb-2PI-p2

[2022-10-26 07:34] #66667 closed, assigned to fushar

[2022-10-26 08:51] daledupreez opened #69468 "Task: Update the banner on the theme page for third-party themes"
### Details

This task involves two closely related changes on the `/themes/:themeSlug/:siteSlug` page.

Note that completion of this task is blocked by #69420, as we need to be able to identify whether a theme is a third-party theme.

### Checklist

- [x] Update the wording on the banner to indicate that users need to upgrade to the Business plan (if they don't already have it) _and_ purchase the

[2022-10-26 09:01] daledupreez opened #69470 "Task: Update kebab menu on theme showcase for third party themes"
### Details

We need to update the menu items in the kebab menu to ensure that we communicate the correct purchase path to users. We may want to use "Subscribe" instead of "Purchase", as the actions are distinct for first-party and third-party themes.

Note that this is blocked by #69420.

![CleanShot 2022-10-24 at 11 30 26](https://user-images.githubusercontent.com/3376401/197981874-c6236e2a-ec19

[2022-10-26 10:58] filipanoscampos commented on #69439
I agree @youbrokesomething.
That does appear to be the best approach.

I guess the most important here is to make sure the Alt text works and is shown correctly to those visiting the site while letting users edit it from multiple locations.

[2022-10-26 11:01] aisajib commented on #65656
I'm getting this on Like notifications as well.

<img width="859" alt="Screen Shot 2022-10-26 at 5 01 20 PM" src="https://user-images.githubusercontent.com/2541844/198009825-b23cc299-a163-49d6-b18d-2239f9163eab.png">

Site: https://ais.pics/

[2022-10-26 11:34] daledupreez opened #69476 "Task: Update premium tooltip in theme showcase for third party themes"
### Details

We need to update the tooltip shown for third-party themes to communicate that the theme is only available for purchase when the user has a Business plan.

Proposed wording (which can definitely be improved, revised, or changed entirely):
* User doesn't have a plan that allows plugin/theme installs:

* User has a plan that allows plugin/theme installs:

_Note: completion of this work

[2022-10-26 12:01] ivan-ottinger commented on #67669
Closing in favor of https://github.com/Automattic/p2/issues/5973#issuecomment-1291925191 → Moving to P2 repo.

[2022-10-26 12:01] #67669 closed, assigned to JuanLucha, ivan-ottinger

[2022-10-26 12:09] gcsecsey commented on #68218
@gibrown I raised a draft diff, I'm still working on the rest of the fields, but I already added the ES query to get the number of installations, please take a look at it when you can. 🙂 D90619-code

[2022-10-26 13:08] daledupreez opened #69480 "Task: Update the CTA on the theme page for third-party themes"
### Details

The theme page at `/theme/:themeSlug/:siteSlug` currently has a CTA that depends on the user's current plan, and whether the theme bundles any software. We need to ensure that the CTA correctly handles the case where the user already has a Business plan (or higher), and where the user doesn't have a plan that supports installing a theme.

_Note: completion of this work depends on the

[2022-10-26 13:27] youbrokesomething commented on #69439
@msilbers I love that decision tree not just because of the context piece, which is very valuable, but because it goes over when to leave alt text blank which is a difficult concept for someone just learning a11y. I don't think our customer-facing support documentation links to that decision tree, maybe it should? Or we could write our own nicer-looking version of it.

I have half a mind to push f

[2022-10-26 14:16] Addison-Stavlo opened #69483 "LaunchPad - Site Preview is interactive with keyboard."
Previously we worked to disable click interactions in the LaunchPad site preview - https://github.com/Automattic/wp-calypso/issues/66574

Currently, we are able to navigate into the preview iframe with keyboard navigation and interact with it from there. We want to make sure this is not possible.

![launchpad-preview-keyboard](https://user-images.githubusercontent.com/28742426/198050620-15d3db0c-b

[2022-10-26 14:18] nelsonec87 commented on #69008
## Tests with the updated headstart annotation

Tsubaki demo:
![image](https://user-images.githubusercontent.com/3801502/198050601-7ef1b804-c707-4e90-85a7-769fa050b9dc.png)

New site after headstart:
![image](https://user-images.githubusercontent.com/3801502/198050733-76fe7c6c-580a-4834-b6bb-ced0c644d8ee.png)

All links from the header navigation are working.

According to p1666788662869279/166678

[2022-10-26 14:59] iamtakashi commented on #69008
🎉 Thank you!!

Ok, understood!

[2022-10-26 16:00] msilbers commented on #55795
reported in 36779080-hc for 3 sites, all on Shoreditch
suggested new Social Icons block

[2022-10-26 17:15] marianearchimbaud commented on #52100
The issue was reported here as well: 37362950-hc
I created follow-up here: 5661299-zd

[2022-10-26 18:18] ClassicRKR27 commented on #56758
- [ ] another report here: 1633425-hc

They're using these invites for a class, so this could potentially be an issue for them in the future as well. They had removed a ton of users a few days prior to the incident as well as removed what looks like hundreds of invites. I suggested that they do their removals and invites in segments, but couldn't really provide concrete information as to how to ac

[2022-10-26 18:19] #69137 closed, assigned to markbiek

[2022-10-26 18:21] ariel-maidana commented on #53626
I saw a similar case here: 37608501-hc
The site has many plugins, so it could be a conflict. I'm leaving this comment here in case other instances come up and we need to reopen this issue.

[2022-10-26 18:33] JulianBustamante commented on #68324
Deployed r255198-wpcom

[2022-10-26 18:34] #68324 closed, assigned to JulianBustamante

[2022-10-26 18:49] nelsonec87 commented on #69399
PoC implementation using 10 random themes

On the desktop I think it looks good:

https://user-images.githubusercontent.com/3801502/198111112-d269c212-a48e-4dee-8c59-7d288ce39e82.mp4

But if the user is using a smartphone the preview gets cropped:
![image](https://user-images.githubusercontent.com/3801502/198110547-f95767cf-19e2-481d-9ba6-7d4a06571a1f.png)

One possible solution is to use mobile p

[2022-10-26 18:50] zaguiini commented on #69130
I see what you're saying, @p-jackson and it makes sense too. Maybe it'd be worthwhile to move it to a standalone package once we confirm that we're reusing that logic, but as it stands, we'd even lose some benefits since the packages do not have emotion or other tools we're currently using, so a bigger refactor would be needed.

[2022-10-26 19:31] paulopmt1 commented on #69326
Thanks for working on this @candy02058912!

[2022-10-26 19:31] #69326 closed, assigned to paulopmt1, candy02058912

[2022-10-26 19:40] daledupreez commented on #69008
@nelsonec87, have the Headstart annotation updates been deployed yet? Could you provide a reference for the change if they have? Thanks!

[2022-10-26 21:39] nelsonec87 commented on #69008
@mreishus already deployed the annotation with the latest fixes (adding new pages, navigation, etc).
My last tests were made using the annotation version from the repository 👍

[2022-10-26 21:50] jerrysarcastic commented on #56758
Also reported in https://wordpress.com/forums/topic/ajouter-un-utilisateur

I was also able to replicate the issue.  I did note that even though the error message is displayed, once you dismiss it and return to /people/invites/ the newly created invite appears as pending, even though the error message indicates the invite was not processed.

Despite the appearance of this phantom invite in Calypso

[2022-10-26 22:18] cuemarie commented on #64324
User on Windows encountered here: 4610790-hc  Follow up ticket created for bulk reply:

- [ ] 5661961-zd-woothemes

[2022-10-26 23:03] romarioraffington commented on #69414
Fixed in [5190449](https://github.com/Automattic/jetpack/pull/26417/commits/51904490012f4e4d2f1654984fd0d771cd615828) and respectively and [7be115d](https://github.com/Automattic/jetpack/pull/26417/commits/7be115d4a353bd3039732349287ae3e169d206ab)

[2022-10-26 23:03] #69414 closed, assigned to romarioraffington

[2022-10-26 23:11] romarioraffington commented on #69411
1. I'll add tasks to the board as I see issues/improvements. I'll also take the time to fix issues as they come up
2. I'll also add  comments to the [PR](https://github.com/Automattic/jetpack/pull/26417) as I see code improvements

[2022-10-26 23:34] dognose24 opened #69495 "Import Stats icons to Gridicons repo"
This task is a follow-up related to #69311.

- Import new Stats icons in the Design to the [Gridicon repository](https://github.com/Automattic/gridicons). (**UPDATED**: Temporarily shelved)
- Transform the tooltip items text case to align with the Design.

![image](https://user-images.githubusercontent.com/6869813/198158635-8197c709-d26f-437c-bb5e-6cced48d8de5.png)

[2022-10-26 23:38] happychait opened #69496 "Social Icons Block: Add Patreon icon"
### What

Customer requested the Patreon icon to be [supported on the Social Icons Block](https://wordpress.com/support/menus/social-links-menu/#supported-icons).

37643639-hc

### Why

Customer wants to link to their Patreon icon from the site.

### How

_No response_

[2022-10-26 23:38] formosattic opened #69497 "Billing: Premature Renewal message. Need to adjust timing."
### Quick summary

User just renewed their plan, yet Calypso shows:

![image](https://user-images.githubusercontent.com/15944096/198158023-e1b6167f-632b-4ab7-bd35-514770408cb4.png)

### Steps to reproduce

Add a plan with an expiration date a few years far away in the future.

### What you expected to happen

No nudge to renew, unless I'm closer to the expiration date.

### What actually happened

[2022-10-26 23:38] romarioraffington commented on #69411
### Possible Tasks
- [ ] https://github.com/Automattic/multiwoo/issues/973
- [ ] https://github.com/Automattic/multiwoo/issues/972

[2022-10-26 23:38] arinoch commented on #69395
I'd like to see this assigned to a higher priority, if possible, based on the number of users potentially impacted. For impacted users, I queried the number of Google fonts related tickets I've touched in the last 24 hours. Note: these are only tickets I touched, not all active tickets in the privacy queue.

1. 5659050-zd-woothemes
2. 5659100-zd-woothemes
3. 5659953-zd-woothemes
4. 5660471-zd-woot

[2022-10-26 23:56] autumnfjeld commented on #69156
@fushar Could you break this up into two issues, e.g. two shippable pieces of work? Or just reword the issue description to make it clear it is two parts.

Part 1
* Technical foundations to conditionally show a customized tour that shows in FSE (while showing the existing Tour in the Post & Page editor, where functionality remains same in those cases)
* Update slide 1 as specified in the descripti

[2022-10-27 00:11] #66835 closed, assigned to autumnfjeld

[2022-10-27 00:17] #68492 closed, assigned to lupus2k

[2022-10-27 01:18] jamiepalatnik commented on #66233
Another report, Dara theme: 37593262-hc

[2022-10-27 01:31] southp commented on #68330
Oops. Forgot to close this upon merging :)

[2022-10-27 01:31] #68330 closed, assigned to southp

[2022-10-27 02:12] bangank36 commented on #68551
I think the logo and title should be aligned on same line on mobile as well, since there is so much empty space here, what do you think?
 

![Screenshot on 2022-10-27 at 09-11-24.png](https://cdn-std.droplr.net/files/acc_1243635/ZPK41U)

[2022-10-27 02:33] dognose24 commented on #69495
As @jsnmoon discussed with me, we plan to shelve the icons importing as a separate issue to tackle. I will update the uppercase texts first.

[2022-10-27 02:56] taipeicoder commented on #66796
Found relevant convo: p1618434360156000-slack-C03DKP1JP
After checking the code fbhepr%2Skers%2Sjcpbz%2Schoyvp.ncv%2Serfg%2Sjcpbz%2Qwfba%2Qraqcbvagf%2Spynff.jcpbz%2Qvagreany%2Qgenpxf%2Qrirag%2Qncv.cuc%3Se%3Q1154s614%2352-og and fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Syvo%2Sabfnen%2Sgenpxf%2Qrirag.cuc%3Se%3Q11s6np25%26sv%3Qtrg_rirag_cebcregvrf%23trg_rirag_cebcregvrf-og

Doesn't seem that we're actua

[2022-10-27 04:42] arthur791004 commented on #68551
No, they don't need to be on the same line.

[2022-10-27 05:00] taipeicoder commented on #66796
See D90830-code for a proposed fix.

[2022-10-27 06:53] candy02058912 commented on #69326
Thanks for helping with it @paulopmt1 🙏

[2022-10-27 07:31] bangank36 opened #69507 "FSE - Persist theme block pattern content through theme switch"
## Description

This is follow-up for the issue #68427, we are pursuing the solution for persist templates content for all FSE themes, not just focus on BCPA flow like now ( switch from blank-canvas-3 theme to other theme )

### What we've achieved:

*   Persist home page template content & template parts
*   Template content is persisted by create or update post template (wp_template or wp_templa

[2022-10-27 07:49] zdenys commented on #56758
Another case 5658769-zd-woothemes

[2022-10-27 07:51] dognose24 commented on #69178
As discussed with @jsnmoon, we plan to shelve the icons importing for now. We can import all the necessary icons only once later before the project ends. I have [proposed the fix](https://github.com/Automattic/wp-calypso/pull/69508) for [uppercase texts](https://github.com/Automattic/wp-calypso/issues/69495). cc @keoshi

[2022-10-27 08:17] jartes commented on #25405
I've had a user with the same issue here: 37640954-hc:

![Markup on 2022-10-27 at 10:15:46](https://user-images.githubusercontent.com/1046943/198229731-17d8ada9-8c54-4f00-bcc8-7e09d11f70ba.png)

@hideandgeek404 discovered that the setting was changed by a Jetpack Sync, and this is why it appears "anonymous" in Activity Log. Maybe this information helps!

Slack combo: p1666856360481699-slack-C03TY6

[2022-10-27 08:34] geekinthegirl commented on #52100
One more request here: 37650252-hc

[2022-10-27 09:02] #69329 closed, assigned to epeicher

[2022-10-27 10:08] rcrdortiz commented on #69371
This is now deployed.

[2022-10-27 10:08] #69371 closed, assigned to rcrdortiz

[2022-10-27 10:10] druesome commented on #60932
Another report: 5578307-zen

Right-clicking on the link to open in a new tab works.  However, I wonder what the linked page is for?  All that can be done is move the menu to trash and not really edit it.

<img src="https://d.pr/i/dU3Yv4+" width="600" />

[2022-10-27 10:31] #68972 closed, assigned to artpi

[2022-10-27 10:39] gcsecsey commented on #68219
I've added the ES query discussed in https://github.com/Automattic/wp-calypso/issues/68218 to the diff.

[2022-10-27 11:17] sophiegyo commented on #69441
I had another chat for this: 37653854-hc

In my chat I was able to flip an image on my own test site in wp-admin only, but not crop it effectively. The user could not crop either in Calypso or wp-admin.

[2022-10-27 11:21] artpi opened #69513 "Make the test_refresh_token_endpoint_works_with_login_code test work"
D89966-code introduced a new test_refresh_token_endpoint_works_with_login_code test.
The test is currently skipped because the line:
[code]

Somehow PRINTS the response instead of returning it, which is peculiar.
I tried using `ob_buffer` to capture that response, but it would sometimes also catch warnings from other test suites and not return valid JSON.

The scope of this task is to make this te

[2022-10-27 11:23] taipeicoder opened #69515 "Generated designs: Move generated designs into a category filter"
## Description
De-emphasize generated designs by moving them from the top of the design picker screen into a new category filter "Customized for you". See p1666274280616169-slack-C03E1LGV796 for more context on this change.

![Image](https://user-images.githubusercontent.com/797888/198270502-f31cbe53-dd06-4350-b25c-0d0c711524a7.png)

## Acceptance Criteria
- [ ] Move generated designs into a new c

[2022-10-27 11:27] artpi opened #69516 "Introduce a feature flag in the newsletter branch"
Our feature branch https://github.com/Automattic/jetpack/pull/26417 is big and it changes some things for the users.
Can we somehow introduce a feature flag to merge code without releasing the feature?
How does Jetpack deal with this sort of thing?

The scope of this is to research and propose a solution before the next teem meeting

[2022-10-27 11:29] artpi opened #69517 "Lint and format wp-content/lib/memberships/class.membership-subscriber.php"
in D89966-code, I moved `trait Memberships_Passwordless_Login`. As it now landed in a piece of code with more strict linting rules, we have to fix it.

[2022-10-27 11:32] artpi opened #69518 "Actually unlock the content based on token"
D89966-code started passing a token to unlock content in the Jetpack posts.
It now will have a new parameter, `blog_sub` that we can use to unlock posts that are reserved for blog subscribers only.

The case for paid subscribers is already handled:
https://github.com/Automattic/jetpack/pull/26417/files#diff-6c4e5f6a52aca3eb00a4cc6c302da733d70d8d26b61d4ba9e4ec2a8141add6e3R453

We also want to write

[2022-10-27 11:32] artpi opened #69519 "Design Newsletter panel for when not set up"
As part of Paid Newsletters waork, we are introducing new access levels for each post:
- Blog Subscribers only
- Paid Subscribers only

Currently, we have introduced that in the new panel, called "Newsletters",

![image](https://user-images.githubusercontent.com/3775068/198273993-a898e53e-448d-4214-a1aa-1aa7a0141fc1.png)

We are currently showing this panel only for people who have **Stripe connec

[2022-10-27 11:33] gcsecsey commented on #68219
We've discussed with @cpapazoglou to split the diff above to multiple smaller diffs, to make reviewing and incremental deployments easier.

I've raised the first smaller diff, which adds the new field builder class for WC.com products: D90850-code

[2022-10-27 11:37] artpi opened #69520 "Make confirmation code UI match the rest of the UI, validate errors"
D89966-code introduced a UI for a confirmation code to confirm if user is indeed who he says he is.
See row E in  pbOQVh-2wm-p2 to understand why.

The confirmation code UI does not match the rest of the subscribe UIs as they were recently redesigned:

![image](https://user-images.githubusercontent.com/3775068/198274628-be248213-c911-48f0-baf2-bdd0d1fc33c7.png)

The scope of this task is to:
- Mak

[2022-10-27 12:13] #69412 closed, assigned to n3f

[2022-10-27 13:14] artpi commented on #69520
Also @millerf says that any code passes, which should not be the case:

[2022-10-27 13:15] markbiek commented on #69420
D90663-code has been landed and deployed!

[2022-10-27 13:19] gcsecsey commented on #69337
Backlog grooming:

- move the existing filters to the backend
- add filters for WC.com products
- add condition to switch between filters based on group_id

[2022-10-27 13:29] cpapazoglou commented on #43230
👋  @vinimotaa can you take a look at this again?

I think that clearly showing which plugins come from Automattic would have better results in users selecting them.

[2022-10-27 13:32] markbiek commented on #69420
Reopening to debug the error described in p1666876390257529-slack-C4N88L95W

[2022-10-27 13:37] cpapazoglou commented on #63177
@vinimotaa , @SaxonF , before diving into this - can you let us know if there is any value in adding custom sorting in Plugin / Themes results?

[2022-10-27 13:46] candy02058912 opened #69522 "Warning is confusing when uploading theme zip file on a simple site"
![theme](https://user-images.githubusercontent.com/6586048/198301828-cf142771-8701-46d4-9f3b-ac9c8b540827.png)

Acceptance criteria:

- [ ] Adjust the copy to something unconfusing

[2022-10-27 13:49] vishnugopal commented on #66402
This is fixed upstream in https://github.com/WordPress/blogger-importer/pull/3

@zaerl We just need to test to ensure that this is fixed in a release.

[2022-10-27 13:50] #69288 closed, assigned to BogdanUngureanu

[2022-10-27 13:52] candy02058912 commented on #69522
Slack discussion: p1666877882426619-slack-CKZHG0QCR

Change to “When you install a plugin or a theme…“

[2022-10-27 13:58] cpapazoglou commented on #64838
Backlog grooming:
- on subscription cancelation - vendors should honour the original expiration date. Even if the subscription gets removed in [WordPress.com](http://wordpress.com/) - the license should still be active in the vendor side.
- on refund though - the subscription expires immediately. WE SHOULD NOT RESTORE the subscription since we have returned the money.

On `Restore Subscription` cl

[2022-10-27 14:56] valterlorran commented on #69468
I'm trying to think of a way to organize all the possibilities in the banner, but it seems to me that the best way to do it is to leave a single button as is now and add a modal where the user can choose between monthly and yearly subscriptions. This way, we can add more information.

[2022-10-27 15:08] valterlorran commented on #69480
Hey Dale, isn't this issue a duplication of https://github.com/Automattic/wp-calypso/issues/69468?

[2022-10-27 15:22] #69420 closed, assigned to markbiek

[2022-10-27 15:27] romarioraffington opened #69524 "Feature Request: Make it Possible to Add Payment Plan from the Subscribe Block"
### What

Allow payment plans to be added from the Subscribe block. This is already done in the Payment block

<img width="147" alt="Captura de Pantalla 2022-10-25 a las 16 01 04" src="https://user-images.githubusercontent.com/7076981/197881236-79327f01-1091-4cd4-968a-2574cd9aa4a9.png">

### Why

This will allow payment plans to be easily added from the block. Currently, the user is redirected to

[2022-10-27 15:31] romarioraffington opened #69525 "Feature Request: Link to the subscribers page from the Subscribe block"
### What

Link to Subscriber page ( `https://wordpress.com/earn/payments/${site_slug}` )  in Calypso from the Subscribe block.

<img width="280" alt="Captura de Pantalla 2022-10-26 a las 18 55 20" src="https://user-images.githubusercontent.com/7076981/198160433-0746a580-3bd1-4e10-8dbc-331d98bd240e.png">

### Why

To allow users to view all subscribers easily.

Relates to https://github.com/Automat

[2022-10-27 15:53] jamiepalatnik commented on #69286
📌 SCRUBBING : RESULT
- Tested on AT - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested on AT site and was able to see two <title> tags only when Yoast is active.
- Since the issue only appears when Yoast is active, we can advise the user to contact Yoast support for further help since this is a third-party plugin.

📌 ACTIONS
- Closed since the issue is related to a third-party plugin.

[2022-10-27 15:53] #69286 closed, assigned to nobody

[2022-10-27 15:59] JuanLucha commented on #69431
Fixed on https://github.com/Automattic/wp-calypso/pull/69526

[2022-10-27 16:23] gwensmithx commented on #69395
I've run into a couple of instances of this today as well:

4758840-hc
5633317-zd-woothemes

[2022-10-27 16:27] jamiepalatnik commented on #69355
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Was able to replicate this on simple and self-hosted test sites
- Since I was able to replicate this on self-hosted with Twenty Twenty-Two as well, it seems like it might be a core issue, not a theme issue. Closing this & opened an issue in the Gutenb

[2022-10-27 16:27] #69355 closed, assigned to nobody

[2022-10-27 16:31] pablohoneyhoney commented on #69519
Killer! I'll look into this. At first sight, we need to consolidate the verbal concepts. _Newsletter, access, audience, viewed_, etc.

Small, there's an error in the sentence:

[2022-10-27 16:53] jamiepalatnik commented on #69306
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue with the Blog Posts block in all tests on simple, AT, and self-hosted.
- Blog Posts block comes from WordPress.com Editing Toolkit plugin on self-hosted site.
- I agree that it would be he

[2022-10-27 17:14] paulopmt1 opened #69528 "Fix visual issue at plugin categories zIndex"
Context: pdh6GB-1Vu-p2#comment-3097

At the [/plugins page](https://wordpress.com/plugins), when scrolling the categories up, we have a zIndex problem.

What we currently have:

![Image](https://user-images.githubusercontent.com/1044309/198355529-92c38ba2-0ad8-4279-8a76-661db43a6219.png)

What we expect:
It should display behind the master header.

![Image](https://user-images.githubusercontent.co

[2022-10-27 17:24] jamiepalatnik commented on #69357
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested in Firefox (v. 104.0.2) on simple, AT, self-hosted. I was not able to replicate. I was able to edit the site title in the Site Editor as expected.

📌 ACTIONS
- Closed as could not replicate (please reopen if the issu

[2022-10-27 17:24] #69357 closed, assigned to nobody

[2022-10-27 17:35] dognose24 commented on #69041
I have noticed a few edge case styles need definition as the following: cc @jeffgolenski @keoshi

- How do we handle the `last query date` when navigating to the last bar chart? The actual behavior increases the section height, which looks wobbly, especially at the chart header position. However, keeping the original behavior is also a working option. But the last query date styles may need some a

[2022-10-27 17:44] vinimotaa commented on #63177
This is something I was looking into recently. I will try to share something here in the next few days!

[2022-10-27 17:59] jsnmoon opened #69530 "Stats: Audit and replace Gridicons with Gutenberg icons where viable"
Wherever possible, replace Gridicon usage with [@wordpress/icons](https://www.npmjs.com/package/@wordpress/icons).

[2022-10-27 18:04] #68466 closed, assigned to sharpirate

[2022-10-27 18:08] jsnmoon commented on #69495
I am closing this issue as a duplicate of #69530; we can use #69178 to track [the title casing enhancement](https://github.com/Automattic/wp-calypso/pull/69508).

[2022-10-27 18:08] #69495 closed, assigned to dognose24

[2022-10-27 18:10] phcp opened #69531 "[API] Create Email Opens mock endpoint"

[2022-10-27 18:10] jsnmoon commented on #69178
Agreed, let's track the icon updates with [this issue instead](https://github.com/Automattic/wp-calypso/issues/69530).

[2022-10-27 18:29] jsnmoon commented on #69530
@jeffgolenski and I discovered that the icons used in our designs might be the same as the ones included in [@wordpress/icons](https://www.npmjs.com/package/@wordpress/icons).

[2022-10-27 18:41] jamiepalatnik opened #69533 "Email verification links not working for WordPress.com email change"
### Quick summary

I was able to replicate an issue with the email verification link not working for a WordPress.com account email change.

### Steps to reproduce

1. Go to Account Settings: https://wordpress.com/me/account
2. Change the account email, then click Save account settings.
3. Check the inbox for the new email address.
4. Click the verification link.

### What you expected to happen

I

[2022-10-27 18:45] jeffgolenski commented on #69041
@dognose24 Can we abbreviate all the months when there are date ranges selected like the examples you have above? Also we can remove the words "Stats for" as it's pretty evident those are stats displaying on the stats, insights, ads, or store pages.

[2022-10-27 18:52] vykes-mac commented on #69441
I'm able to reproduce this and looking into it.

[2022-10-27 19:02] #69178 closed, assigned to dognose24

[2022-10-27 19:06] romarioraffington commented on #69518
### Todos
- [ ] Write logic to unlock based on JWT and add that logic in `\Automattic\Jetpack\Extensions\Premium_Content\subscription_service`
- [ ] Write a test for the [gating posts for paid subscribers](https://github.com/Automattic/jetpack/pull/26417/files#diff-6c4e5f6a52aca3eb00a4cc6c302da733d70d8d26b61d4ba9e4ec2a8141add6e3R453)

[2022-10-27 19:08] jamiepalatnik commented on #69533
Further testing in this thread: p1666894133097139-slack-C02FMH4G8

It looks like this issue may only happen when you attempt to open the verification link in a browser that is not logged in to the WordPress.com account you are trying to change.

[2022-10-27 19:34] #69382 closed, assigned to WBerredo

[2022-10-27 19:58] villanovachile commented on #64324
Another report herein 5664158-zd

Editor Preferences are not saved,i.e., unchecking "Use theme styles".

[2022-10-27 20:00] JulianBustamante opened #69535 "Marketplace: Adds correct business plan to cart for lower that business plan sites https://code.a8c.com/D90387"
Add appropriate business plans to sites with a lower plan based on billing intent's billing period. (year, month)

[2022-10-27 21:07] jamiepalatnik commented on #66233
Another report, Catch Flames Pro (third-party theme): 37665489-hc

[2022-10-27 21:09] mattwiebe commented on #60732
Ok, I've finally gotten to the bottom of this one, it was introduced by Automattic/jetpack#23670 ([here](https://github.com/Automattic/jetpack/pull/23670/files#diff-b4bf77ba29e28d691158c77aecd1d7a6d8040521e5400d857989392f837bf6c9R49-R66))

I'll see about removing the removal. It was done to try to reduce confusion for users using block-based themes, but it's acting like the "Additional CSS" module

[2022-10-27 21:10] jsnmoon commented on #69530
I spoke too soon, we do need to import the following icon for visibility:

[code]

[2022-10-27 21:35] jamiepalatnik commented on #58466
+1, user asked about option to download Media in this chat, AT site: 36963391-hc

[2022-10-27 23:17] arinoch commented on #69395
More privacy queue fun.
1. 5650989-zd-woothemes
2. 5661462-zd-woothemes
3. 5661568-zd-woothemes
4. 5662822-zd-woothemes
5. 5663226-zd-woothemes
6. 5663273-zd-woothemes
7. 5663496-zd-woothemes
That's so far today. I dive back into the queues and chats later and may find more.

[2022-10-27 23:30] donalirl commented on #69441
Found in #36964488-hc. Suggested Image block cropping tool as a workaround. No follow-up required.

[2022-10-27 23:49] zachspears opened #69540 "Warning prompt when installing Elementor Beta"
### What

A warning prompt when activating Elementor Beta (and potentially other beta software) with language similar to this:

### Why

I have seen an increase in contacts related to sites breaking as a direct result of Elementor Beta. Users do not seem to understand that this is beta software, meaning that it may be buggy or break their site entirely. Adding a warning would help inform users of

[2022-10-28 01:00] jsnmoon commented on #69179
@a8ck3n: I've added a new subtasks breakdown in the development section.

[2022-10-28 01:01] autumnfjeld commented on #69400
This is a bug as reported by @arthur791004  pbxlJb-2OQ-p2#comment-1978

[2022-10-28 01:16] autumnfjeld commented on #67645
All the items in the issue description are complete. I will close this.   @arthur791004 let me know if that is not the correct action. :)

[2022-10-28 01:16] #67645 closed, assigned to nobody

[2022-10-28 02:09] sarahcada commented on #66233
Another report, Dara theme:

- [ ] 5665014-zd-woothemes

[2022-10-28 02:23] supernovia opened #69543 "Latest Posts Block: Add bullet-type settings"
### What

Since Latest Posts is a list block, it should include options to control that list, including whether to show bullets.

### Why

The Latest Posts block icon literally shows a bulleted list:
<img width="370" alt="latest post bullets" src="https://user-images.githubusercontent.com/3476361/198453488-f2e4e282-124a-4069-b044-088d513e8c56.png">

But whether or not the bullets show depends comp

[2022-10-28 02:26] arthur791004 commented on #68550
We have soft launched the blank-canvas-3 via D90827-code

[2022-10-28 03:20] zachspears commented on #69240
While I disagree with this suggestion, this does warrant further conversation. I think this would obscure the options and provides unnecessary additional clicks and complexity for vital site actions, particularly for an area that is not in need of additional real estate.

[2022-10-28 03:23] zachspears commented on #69243
I think this would be a great addition for a clearer depiction of the user interface and its interactions.

[2022-10-28 03:25] happychait opened #69544 "Improve the formatting on the domain connection expiry overlay"
### What

For expired domain connections,  we display this overlay on the site:

![Expired domain connection overlay](https://user-images.githubusercontent.com/1519466/198495078-611eb949-7c46-4556-bd3b-ad9e0913ef29.jpeg)

The formatting looks off and needs updating.

### Why

The current formatting doesn't look neat or professional.

In contrast, the expired domain registration overlay looks way b

[2022-10-28 03:28] zachspears commented on #69351
This is an excellent suggestion! Especially because this is an expected feature due to the previous inclusion with CoBlocks.

[2022-10-28 03:46] mpkelly commented on #67320
I'm looking at this currently. My initial findings are that it works in some places but not others.

[2022-10-28 03:51] zachspears commented on #69314
I think this is a great suggestion and would provide great functionality, particularly for blog sites.

[2022-10-28 04:05] bangank36 commented on #69507
Draft PR is here D90868-code, so far so good, `parse_theme_block_patterns` will parse the `wp:pattern` using regex and replace it with the pattern actual content. One problem is current solution can not get the pattern of parent theme. Come back on this after #69421 is merged

[2022-10-28 05:15] yansern commented on #69235
Patch here: D90986-code

[2022-10-28 05:35] Robertght commented on #66233
It looks like this was previously fixed somehow(probably related https://github.com/WordPress/gutenberg/issues/42902) , but the issue is now back.

[2022-10-28 05:49] bangank36 commented on #69400
I think we should check for `homepageId` when `homepageType` is 'page' ( it is 0 when no page is assigned), I'll propose PR for this fix