[2020-12-28 18:51] tmmbecker commented on #24539
3525328-zen

[2020-12-28 19:01] michaeldcain opened #48608 "Nav Unification: items are duplicated in "Appearance" sub-menu"
#### Steps to reproduce

- On an account with the unified navigation enabled:
- Hover over "Appearance" menu item
- Sub-menu items are duplicated

#### What I expected

- A single instance of each sub-menu item :)

#### Screenshot / Video

<img width="443" alt="Screen Shot 2020-12-28 at 1 56 33 PM" src="https://user-images.githubusercontent.com/942359/103237224-eed45b00-4914-11eb-8041-5de3a19333ee

[2020-12-28 19:24] mrfoxtalbot opened #48609 "Blog Posts Block: The block title will not show if post query is empty"
#### Steps to reproduce

1. Create a new page/post
2. Add a Blog Posts block, make sure the query returns no posts (by assigning an empty category or by deleting all posts).
3. Give the block a title.
4. Publish the page/post and visit it.

#### What I expected

I expected the block's title to be visible, despite not showing any posts.

#### What happened instead

The entire block was invisible on

[2020-12-28 20:06] AtrumGeost opened #48611 "[Enhancement] Blog Posts Block: Add option to display posts in chronological order"
By default, posts are displayed in inverse chronological order. But some users (especially if they are writing a novel) will want to have the option to change the order to chronological.

#### Steps to reproduce

1. Add the Blog Posts block
2. Check the Settings sidebar
3. Notice there's not an option to change the order in which blog posts are displayed

#### Browser / OS version

Chrome Version

[2020-12-28 22:47] ramonjd commented on #40829
Closing in favour of the project specs in pbAok1-1MR-p2

[2020-12-28 22:47] #40829 closed

[2020-12-29 03:34] michaeldcain commented on #48019
Related/Duplicate(?): #48006

[2020-12-29 03:56] michaeldcain commented on #34752
I don't think this is valid anymore, given the new starter content.

[2020-12-29 03:56] #34752 closed

[2020-12-29 04:44] ramonjd commented on #47857
This will also require updates to the accept-invite API endpoint, and also the invite-users MU plugin. Both these check to see if the site is private. It should also do a is public coming soon check.

D54769-code

[2020-12-29 08:03] sirreal commented on #48585
It appears to be exported from two packages, `edit-site` and `edit-post`. The test isn't ideal in that it loads a post so relies on whatever scripts are loaded and cannot change the script dependencies, but `edit-site` will never be loaded in the page the test currently uses.

https://github.com/Automattic/wp-calypso/blob/5a93887e62071a872c9f5b05b55828c8c940863f/test/e2e/specs/wp-gutenberg-experim

[2020-12-29 09:54] razvanpapadopol opened #48617 "Focused Launch: plan from cart is not displayed initially in Summary view"
When a different plan than the popular one is present in cart, when first opening Focused Launch modal, the plan (which is now selected) is not appended to the Summary view plans as specified in https://github.com/Automattic/wp-calypso/issues/47544

However, the second time Summary view is rendered, the selected plan, coming from cart is correctly displayed.

#### Screenshot / Video
https://cloudu

[2020-12-29 10:05] #48200 closed, assigned to ilyasfoo

[2020-12-29 11:34] razvanpapadopol commented on #47789
This issue can be reproduced again after https://github.com/Automattic/wp-calypso/pull/48551

[2020-12-29 11:36] razvanpapadopol commented on #48617
Fixed in https://github.com/Automattic/wp-calypso/pull/48551

[2020-12-29 11:36] #48617 closed, assigned to nobody

[2020-12-29 12:27] razvanpapadopol opened #48621 "Focused Launch: expected placeholders are not displayed for plan step"
When opening Focused Launch modal, there should be at least 2 placeholder items displayed for plan step before loading plans data.

#### Screenshot / Video
- with selected plan (1 placeholder): https://cloudup.com/c8L49JyauAc (this is because of a bug that should be fixed in https://github.com/Automattic/wp-calypso/pull/48619)
- without selected plan (no placeholder): https://cloudup.com/cqTPtf6x5

[2020-12-29 14:18] kriskarkoski opened #48623 "Excerpts show too much content in Chinese"
#### Steps to reproduce

1. Starting at URL: wordpress.com/post
2. Publish a post in Chinese
3. Check the post on the front-end of the site in a theme showing excerpts.

The excerpt for the Chinese post will be much longer than an English post, for example.

#### What I expected
The Chinese text to be excerpted at a similar length.

#### What happened instead
The Chinese post excerpt was much long

[2020-12-29 16:17] AtrumGeost opened #48626 "Blog Posts Block: Add the option to show WordPress.com Like button"
I had a user who wanted to display the Like button for each blog post inside the Blog Posts Block. I have seen this feature. I'm not 100% sure if this would be possible but I'm sharing the feedback :)

#### Context / Source

26647107-hc

 #user-report

[2020-12-29 18:17] kathrynwp commented on #45736
Also reported here with WhatsApp block: 26648591-hc

[2020-12-29 22:09] serabi commented on #46140
Reported in #8562033-hc

[2020-12-30 01:21] scosgro opened #48627 "Columns Block: Needs a way to pull content out of the columns."
#### Steps to reproduce

1. Create a page, and add a Columns Block to it. As many columns as you'd like.
2. Add some content to those columns.
3. Change your mind, and decide you no longer want columns.
4. Everything you've added to the Columns Block (whether added to Columns intentionally or not - and this happens with some frequency in a single column) must be recreated manually outside of the c

[2020-12-30 02:15] ramonjd commented on #48547
When we go to create a site we use the [site title as the blog name](https://github.com/Automattic/wp-calypso/blob/d35f1eca00123e489c9ca53af32b15ae3ea74efe/client/landing/gutenboarding/stores/onboard/actions.ts#L68) if the domain is empty.

[code]

The issue is that, even though the site title triggers an error in the domains suggestions store when a user first lands on the domains page, we don't

[2020-12-30 02:57] ramonjd commented on #48547
Actually, I didn't take into account the scenario where the user:

1. types a blacklisted domain keyword into the site title field, e.g., `WordPress`
2. searches for a blacklisted domain keyword on the domains page, e.g., `bankofamerica`, and then clicks "Skip"

In that case we'll send the blacklisted site title as a fallback.

I think that means we should always do a check on whatever value we tr

[2020-12-30 09:13] razvanpapadopol opened #48628 "Domain picker: mobile layout"
Currently used in Focused Launch - Domain details view, the version of DomainPicker "with _Select_ buttons" should have a different layout on mobile, as specified in Figma.

As specified in Figma, the Domain Picker Details View should have a different layout on mobile.
The differences are:
1. Select buttons should be full-width and positioned at the bottom of a `<DomainPickerSuggestionItem/>`.
2.

[2020-12-30 11:49] #48261 closed, assigned to alshakero

[2020-12-30 11:59] #48410 closed, assigned to alshakero

[2020-12-30 14:11] rcanepa commented on #37050
Guided tours support this functionality so I'll make sure to enable it. You can follow the progress in 1164141197617539-as-1199702075754309.

[2020-12-30 16:01] #48621 closed, assigned to razvanpapadopol

[2020-12-30 16:02] #47789 closed, assigned to razvanpapadopol

[2020-12-30 18:20] marcuswisecaesar commented on #48211
In Chrome, Starting at the /wp-admin URL of an Atomic Site.
In the sidebar, select Settings
Next, in the sidebar, select Users.

What I expected
All submenu items should be visible, or the hover menu should be scrollable.

The position of the hover submenu should be consistent (either top or bottom)

Coloring should be consistent throughout.

What happened instead
In Chrome and Firefox Menu Items

[2020-12-30 21:09] tyxla commented on #26987
I think is good to be closed, but I'll let folks from @Automattic/jetpack-voyager chime in.

[2020-12-31 01:12] ramonjd commented on #46656
Before we decide to go live with this it would be helpful to give HEs a heads up. It's a nice, but dramatic change 👍

[2020-12-31 19:00] razvanpapadopol opened #48634 "Domain Picker: check availability for the selected domain"
**tl;dr**: The check we've implemented in #45698 for domain step in Gutenboarding should be done inside `DomainPicker` component whenever `currentDomain` prop changes.

**Why**
- The user needs to be informed if the selected domain is unavailable ASAP.

**What**
- We need to check if the selected domain is available in all scenarios, including when it's coming from a cart item or local storage (pr

[2021-01-01 05:57] kaitohm opened #48636 "Oddities with the More Block when placed inside Columns Block"
#### Steps to reproduce

1. Add a new post.
2. Insert a Columns Block with one column.
3. Add some intro text and a More Block inside the Columns Block.

![read-more-editor](https://user-images.githubusercontent.com/49054298/103434181-09724100-4c41-11eb-894f-58f991a5d4e6.png)

#### What I expected

In the blog (Homepage or Blog) and archives pages the post intro with one Read more link.

#### What

[2021-01-02 17:09] tbradsha commented on #40336
This is still an issue; it prevents us from linking to WordPress.com plugin searches.

[2021-01-03 16:11] apeatling commented on #35445
An edit site button was added to this screen, closing this.

[2021-01-03 16:11] #35445 closed

[2021-01-03 17:52] azollafox commented on #43919
Ran into this on 26727415-hc

[2021-01-03 19:10] xpurichan commented on #38310
Another report in 3610978-zen. Certain authors don't seem to appear at all, not in the annual, monthly, etc. views.

[2021-01-03 22:27] kristarella commented on #36622
Reopening as I believe it's still an issue.

[2021-01-04 00:55] katiebethbrown commented on #45607
Same user from previous reports returned again on 1/3 in 26732309-hc. This feature is important to them and they are understandably frustrated that it isn't being resolved.

I reiterated that we are aware, but that all fixes are prioritized and there are other things that are ahead of this one, so that they need to be patient. I attempted to set expectations appropriately and be clear that this is

[2021-01-04 02:37] roo2 commented on #46641
This issue is now included in https://github.com/Automattic/wp-calypso/issues/46656

[2021-01-04 02:37] #46641 closed

[2021-01-04 03:55] becdetat opened #48639 "Fix horizontal alignment of store deprecation tooltip icon"
Positioning of the tooltip info icon for the store (when the `woocommerce/store-deprecated` feature flag is set) needs to be horizontally aligned with the other icons:

![image](https://user-images.githubusercontent.com/224531/103499509-0ae77780-4e94-11eb-9bf9-3c2da673fcd4.png)

[2021-01-04 08:50] Nic-Sevic opened #48643 "WP Admin > Quick Draft: block errors when edit draft"
#### Steps to reproduce

1. Starting at WP Admin
2. create draft in Quick draft form on right
3. click link to draft to edit form recent drafts section below
4. see block recovery error
5. click to recover block and see that content disappears

#### What I expected
should be able to edit draft same as any other with no block errors
recovering error should not erase content

#### What happened inst

[2021-01-04 10:38] clickysteve commented on #45881
I just received an error similar to what @sophiegyo reported above:

"Publishing failed. Sorry, you are not allowed to assign the provided terms."

The post published, irrespective of the error. I am on Mac on 10.15.5 OSX and Chrome. Only 'weird' thing I did in the post was include a More block.

<img width="814" alt="Screenshot 2021-01-04 at 10 33 13" src="https://user-images.githubusercontent.co

[2021-01-04 10:41] clickysteve commented on #45881
Just noting that it appears the Categories and Tags selection was not saved on publication. I had to go in and update this again, which now seems to have stuck.

[2021-01-04 11:33] dromero20 opened #48646 "Reader: Feed appears without featured image - Like and Comment buttons don't show up"
#### Steps to reproduce

1. Check this Feed: https://wordpress.com/read/feeds/108833075

#### What I expected

It should show up like this

<img width="1180" alt="Captura de pantalla 2021-01-04 a las 12 16 05" src="https://user-images.githubusercontent.com/23258551/103530167-3e6fd500-4e87-11eb-9755-48ce49694e08.png">

#### What happened instead

The feed is showing up without featured images, also

[2021-01-04 12:11] rcanepa commented on #37050
Last week, we merged #48630, which addressed this issue, so I believe we can now close this issue.

[2021-01-04 13:16] #48006 closed, assigned to nobody

[2021-01-04 13:16] #48019 closed, assigned to nobody

[2021-01-04 13:32] rcanepa commented on #26987
I think we can close this. We don't have plans to make this inline help contextual so enabling it will only add noise. Furthermore, this year we will move Jetpack Connect flow to cloud.jetpack.com and we will probably change the experience so I don't think this inline help would last very long either.

[2021-01-04 13:43] tyxla commented on #26987
Thanks, Renzo! Closing then.

[2021-01-04 13:43] #26987 closed

[2021-01-04 13:46] #48240 closed, assigned to nobody

[2021-01-04 13:49] StefanNieuwenhuis commented on #48628
When a domain is included in a plan, on `> mobile` views we strike through the original price and add a label "Included in plans".

<img width="995" alt="Screenshot 2021-01-04 at 14 46 17" src="https://user-images.githubusercontent.com/12104589/103541526-da0b4080-4e9b-11eb-9075-a2f491e5b28f.png">

On `≤ mobile` views we only strike through the original price.

<img width="346" alt="Screenshot 2021

[2021-01-04 14:08] #48143 closed, assigned to nobody

[2021-01-04 14:08] #48490 closed, assigned to nobody

[2021-01-04 14:19] razvanpapadopol commented on #48628
Yes, adding the label can be done as part of this PR. "Free" should be seen as a shorter form of "Included in plans", right?

I can also see now there is a "Renews at {renewal_price} / year" text below the price for both mobile and desktop. Could you open a different issue for this?

cc: @ollierozdarz

[2021-01-04 14:32] kriskarkoski opened #48647 "Payments: Eligible users prompted to upgrade to access Payments block"
Some users are unable to access the Payments block while on plans that access is included with (Personal and Premium).

#### Steps to reproduce

1. Starting at URL: wordpress.com/post or /page
2. Add the Payments block
3. See message "You'll need to upgrade your plan to use the Payments block."

#### What I expected

To be able to add the Payments block on eligible plans

#### What happened instea

[2021-01-04 14:36] KristinaKay commented on #48647
Same here: #3621060-zen

<img width="1183" alt="Screenshot on 2021-01-04 at 07-30-05" src="https://user-images.githubusercontent.com/33169211/103545956-87ac2e80-4e5f-11eb-903c-4ee1ded17e70.png">

[2021-01-04 14:36] ezebecke commented on #48647
Reported on #3621026-zen

Simple site with Premium plan.

[2021-01-04 14:38] sirreal commented on #48647
Has this been observed with Simple, Atomic, or both?

[2021-01-04 14:39] KristinaKay commented on #48647
My above case was on a Personal Plan Simple site.

[2021-01-04 14:44] thabotswana commented on #48647
Another report: #3042597-hc

Personal plan site

[2021-01-04 15:03] sandymcfadden opened #48648 "Hosting Configuration: sFTP and PHP version information will not load"
#### Steps to reproduce

1. Visit hosting configuration page at https://wordpress.com/hosting-config/<site> for an Atomic site

#### What I expected

For the sFTP details and PHP version information to load.

#### What happened instead

The loading graphic never goes away  and eventually the error `Sorry, we had a problem retrieving your sftp user details. Please refresh the page and try again` ap

[2021-01-04 15:03] jeherve commented on #48649
Thanks for the report. Transferring to the wp-calypso repo where the WordPress.com dashboard interface is built.

[2021-01-04 15:04] syds87 commented on #48647
Another user reporting this: #25257064-hc

Premium plan.

[2021-01-04 15:05] dolgelukkig commented on #48647
Another user on the Premium plan reporting this issue [26464766-hc](https://mc.a8c.com/support-stats/happychat/transcript.php?id=26464766)

[2021-01-04 15:06] nerdysandy commented on #48647
Reported payment related issue on #26426443-hc too But they are using `Pay with PayPal` block. The error message shown to end user is: `We are sorry, there was a configuration problem. Please contact the site owner. Error:SP22`

[2021-01-04 15:06] aisajib commented on #48647
#26115691-hc reported the same problem but with the Premium Content block.

[2021-01-04 15:12] KristinaKay commented on #48647
Not sure if this is related, but Donations Block is also not showing correctly

Donation Block in Editor
<img width="1397" alt="Screenshot on 2021-01-04 at 07-53-18" src="https://user-images.githubusercontent.com/33169211/103548971-d8be2180-4e63-11eb-9c3a-58b71883db83.png">

Donation Block Live
<img width="979" alt="Screenshot on 2021-01-04 at 07-51-06" src="https://user-images.githubusercontent.c

[2021-01-04 15:13] kspilarski commented on #48647
26767415-hc - Business plan but asked to upgrade to use Premium Content block. Follow up in 3621187-zd.

[2021-01-04 15:23] dolgelukkig commented on #48647
Premium plan user asked to upgrade to use the Payments Block [16456299-hc](https://mc.a8c.com/support-stats/happychat/transcript.php?id=16456299)

[2021-01-04 15:28] liviopv commented on #48647
I got one similar to @KristinaKay where the button is not rendered properly on the front end:

![Screenshot](https://d.pr/i/EPiQbe+)
Screenshot: https://d.pr/i/EPiQbe

Console errors:

![Screenshot](https://d.pr/i/vNgbUR+)
Screenshot: https://d.pr/i/vNgbUR

I was able to reproduce on my own site https://atlivio.wpcomstaging.com/donation-test/ and when I try to disconnect/reconnect to Stripe, I get

[2021-01-04 15:40] philnick206 commented on #48647
Reported in: #26769220-hc
Follow up in: #3621289-zen

[2021-01-04 16:04] dolgelukkig commented on #48647
Looks like this could be related?

Seeing the same error as mentioned above when trying to edit the page.

`Customers are having issues paying through the pay with paypal on my site. They are getting the following error message: "We are sorry, there was a configuration problem. Please contact the site owner. Error:SP22" If you could advise how to fix this asap please as I am losing customers. `

A

[2021-01-04 16:13] ianstewart commented on #38858
@rickybanister this might be worth taking a look at this year with other, similar, UI like patterns/pages getting a refresh.

[2021-01-04 16:14] #39804 closed

[2021-01-04 16:18] rickybanister commented on #38858
Let's go with Shaun's suggestion. This should be pretty simple with some sort of library. Perhaps it could be a manage janitorial task?

[2021-01-04 16:20] rralian opened #48650 "Stats: is-fixed-row-header causes buggy scrolling"
The `is-fixed-row-header` style introduced in #21780 (/cc @psealock) allows for horizontal scrolling while holding the first column in place. However, if the viewport is reduced to allow vertical scrolling, that first column remains in place as well, leaving it misaligned with its content.

![misaligned table](https://d.pr/i/dR8B3A+)

### Steps to reproduce
1. Navigate to `https://wordpress.com/st

[2021-01-04 16:21] ezebecke commented on #48647
Reported in: 26770578-hc
Follow up in: #3621440-zen

[2021-01-04 16:25] khristiansnyder commented on #46073
I had a customer run into this today as well. Would be great to be able to have separate connections for each site.

[2021-01-04 16:54] amamujee commented on #48648
@cathymcbride @davemart-in is this something that makes sense for the manage janitors to look at?

[2021-01-04 16:57] davemart-in commented on #48648
Let's check with @jmdodd first. Her team may be a better fit. If not, we can try and take a look.

[2021-01-04 16:58] sandymcfadden commented on #48648
@davemart-in I started with @jmdodd before slack when down. It was suggested to check with someone around Calypso. I did add it to Slack right before I posted this issue.

[2021-01-04 17:02] davemart-in commented on #48648
Roger that @sandymcfadden. Thanks for the heads up! @obenland with Ajax on Janitorial this cycle, can we please have someone investigate this one? I've added it to our [urgent list](https://github.com/orgs/Automattic/projects/174#column-9290937).

[2021-01-04 17:05] lakellie commented on #48648
User report in #3621576-zen

[2021-01-04 17:07] obenland commented on #48648
@cpapazoglou Any chance you're still around and could take a look?

[2021-01-04 17:10] liviopv commented on #45881
Another: 482162-hc

* Simple site
* Chrome 87, Windows 10
* Cookies enabled.

[2021-01-04 17:16] cathymcbride commented on #48647
@apeatling I think this falls to your team? Can you confirm?

[2021-01-04 17:16] sandymcfadden commented on #48648
If it helps at all the timeframe @jmdodd found was around 13:26/13:36 UTC today. That is when API calls to the Atomic platform for PHP version stopped coming through.
There were two commits around that time but not sure either would affect this at all
https://github.com/Automattic/wp-calypso/commit/21b450253f3622699e7b58803016e8d50c880b7e
https://github.com/Automattic/wp-calypso/commit/d46b86831b2

[2021-01-04 17:17] jamiepalatnik commented on #48647
Another report: 10685283-hc
Follow-up: 3621635-zd-woothemes

[2021-01-04 17:32] eamcgill90 commented on #48647
Reported here: 26772502-hc

[2021-01-04 17:33] apeatling commented on #48647
I'm looking at this, as far as I know right now, no code has changed in the past two weeks.

[2021-01-04 17:36] #48508 closed, assigned to sixhours

[2021-01-04 17:41] obenland commented on #48648
The API auth check fails and it looks like my test site (160544236) with a business plan comes back as not having an atomic-supported plan

[2021-01-04 17:42] #47883 closed, assigned to david-szabo97

[2021-01-04 17:43] jackiejade commented on #48647
Another report here: 23594022-hc
Follow up: 3621718-zd-woothemes

[2021-01-04 17:50] davemart-in commented on #48648
Some other WP.com code was reverted just now. This issue should now be fixed again as a result.

[2021-01-04 17:50] #48648 closed, assigned to nobody

[2021-01-04 18:10] rralian commented on #48647
There was a problem with a recent change that has since been reverted. This should be addressed now.

[2021-01-04 18:11] apeatling commented on #48648
Thanks for the fix. :+1:

This change also broke access to all premium blocks on WordPress.com. Can look at figuring out an automated test so we can't break this much stuff again?

[2021-01-04 18:11] apeatling commented on #48648
https://github.com/Automattic/wp-calypso/issues/48647

[2021-01-04 18:30] apeatling commented on #48647
This is fixed. :+1:

[2021-01-04 18:30] #48647 closed, assigned to nobody

[2021-01-04 19:48] DavidRothstein commented on #39230
I'm moving this to the payments backlog, although it's also related to 61-gh-Automattic/payments-shilling (and we've been tracking the overall idea internally at c/F07rI0lS-tr also).

[2021-01-04 19:52] DavidRothstein commented on #39227
For what it's worth, the user interface for this has been redesigned since this was originally filed -- it now looks like the screenshot below.  I'm not sure that necessarily makes it more visible to users or not though:

![Screenshot from 2021-01-04 14-50-49](https://user-images.githubusercontent.com/235183/103573578-7c2b2880-4e9c-11eb-887a-f35e011514d6.png)

[2021-01-04 19:57] Addison-Stavlo opened #48652 "Nav Sidebar 'add new page' + Start Page Templates - SPT back button to lead back to previous editor screen."
As noted by @joanrho in #48370 - when a new page is created from inside the editor through the nav sidebar flow, the back button in the Starter Page Template modal should lead back to the last editor instance where the creation was triggered from.  Currently, this button is set to close the editor and lead back to the appropriate calypso entry point (as managed by the calypsoifyGutenberg.closeUrl

[2021-01-04 20:21] Addison-Stavlo commented on #36900
Tested this out recently and the class name is added as expected.

[2021-01-04 20:21] #36900 closed

[2021-01-04 20:27] cathymcbride commented on #48648
Adding to Quality Squad backlog to verify automated tests for this and 48647

[2021-01-04 20:34] ianstewart commented on #46600
I've added the following home pages to the Patterns site using the Starter Design patterns we've created to coincide with the PR linked above.

[code]

I've kept the "fancy" names of the homepages, expecting it will make for easier management later.

Some of these new Layouts — the Restaurant, Blog, and Portfolio ones — are in multiple categories. In other words, a "Restaurant" page can now be lis

[2021-01-04 21:39] bluefuton commented on #39125
No plans to bring this back in the sidebar at the moment. User can unfollow a tag on the tag stream itself:

<img width="909" alt="Screen Shot 2021-01-05 at 10 38 15" src="https://user-images.githubusercontent.com/17325/103582150-2f019200-4f42-11eb-8341-1e7a379daa3d.png">

[2021-01-04 21:39] #39125 closed

[2021-01-04 21:48] sirbrillig opened #48654 "Shopping cart: messages from the server are not displayed outside of checkout"
#### Steps to reproduce

`ShoppingCartProvider` provides functions that modify the shopping cart. When a cart update completes, the response from the server may include a `messages` property which can return success or failure messages.

When inside checkout, those messages are picked up by the `CartMessages` component and displayed to the user. However, as we've started to use `ShoppingCartProvid

[2021-01-04 21:50] sirbrillig commented on #48654
We may be able to fix this by adding `CartMessages` to `CalypsoShoppingCartProvider`, although it would be nice to have some way to include it directly in the `shopping-cart` package.

[2021-01-04 22:27] obenland commented on #47183
Fixed in Automattic/jetpack#18146

[2021-01-04 22:27] #47183 closed

[2021-01-04 22:42] ianstewart commented on #46600
Added the remaining set.

[code]

I've left off Brompton and Redhill. I think they should be retired from this list and perhaps removed from the recommended list in the theme showcase while we're at it. I've also not included Spearhead as it does not use a page created in the Editor to display home-page content.

**More To Do**

- Good to have: Running some script to sideload all hotlinked images

[2021-01-05 04:56] retnonindya opened #48660 "Import: XML file import method unsuccessful on Calypso (regular WordPress.com dashboard)"
#### Steps to reproduce

1. Create/export XML file from the original/old site.
2. Go to WordPress.com dashboard/Calypso of the destination/new site
3. Go to Import (My Site > Tools > Import)
4. On the list "I want to import content from..." choose 'WordPress'
5. Click "upload it to import content" link to upload the XML file
6. Upload the XML file

#### What I expected
Import process to start with

[2021-01-05 05:53] inaikem commented on #48660
Seconded. Able to replicate it on my test site (as part of work on 3615302-zd)

I'd like to add that the import seems to also stall: only 2x 2020 posts/pages for the above.

Exporting all content by date and importing that file worked perfectly.

[2021-01-05 06:30] jeyip commented on #48145
## Status Update:

Ultimately, the issue has been traced to how we query for theme provided template parts. Ex. When themes have a parent directory like so `parent-directory/my-theme`, the theme taxonomy slug becomes `parent-directory-my-theme`. We, however, don't account for that. Instead, we fetch themes with a slug that looks like `my-theme`, which excludes any parent pathing.

There are three

[2021-01-05 06:58] StefanNieuwenhuis opened #48662 "Domain Picker: "Renews at {renewal_price} / year" label"
As specified in Figma, the Domain Details View, which is used in Focused Launch, should include a renewal price label.
The renewal price and the price should be identical (see `/start/domains`), **so we have to use the same data source!**

#### Acceptance Criteria
* [ ] A "Renews at {renewal_price} / year" label is added below the price on mobile
* [ ] A "Renews at {renewal_price} / year" label is

[2021-01-05 06:59] StefanNieuwenhuis commented on #48628
Done. See #48662

[2021-01-05 07:17] yashitamittal11 commented on #45758
Another one- #3616678-zen

[2021-01-05 08:00] jeherve commented on #48509
I'm afraid I don't know, but I see I'm late to the party and you already have a PR ready for this. Sorry for the delay!

[2021-01-05 09:11] razvanpapadopol commented on #48662
After checking on `/start/domains`, it seems that price and renewal price values should be identical so we can use the existing data source.

[2021-01-05 09:20] StefanNieuwenhuis commented on #48662
Thanks @razvanpapadopol. I've updated the issue's description.

[2021-01-05 09:44] yansern commented on #47813
I can see the disallowed pattern from the backend is `$disallowed_pattern = '/[^\w\s\.-]/';`. On top of this, is a list of disallowed keywords.

Initially I was thinking of stripping out the invalid characters but actually from the client side we don't have the jurisdiction over what is considered valid or invalid domain keyword.

Instead, I think what needs to be done is:
1. When there is an erro

[2021-01-05 10:07] #45675 closed

[2021-01-05 10:08] yansern commented on #47784
Create an wp hook action that when the "Ask a Happiness Engineer" button is clicked, it calls the calypso iframe parent, and the calypso iframe parent calls the `showInlineHelpPopover` & `hideInlineHelpPopover` actions from `calypso/state/inline-help/actions`.

[2021-01-05 10:33] cpapazoglou commented on #48607
@michaeldcain this if fixed for me now, can you check also please?

![](https://cln.sh/WQ4bv2+)

[2021-01-05 11:11] cpapazoglou commented on #48608
I cannot reproduce the Console warning anymore, while on calypso I tested:
1) Simple site
2) Atomic with nav-unification disabled (serves a fallback menu)
3) Atomic with nav-unification enabled (serves the atomic site menu)

@michaeldcain can you confirm? If not, please provide as with the plan of the site affected

I can see though duplicate "Background" entries which lead to different Urls and t

[2021-01-05 11:20] cpapazoglou commented on #47934
I cannot reproduce these issues, closing it for now as we will need more context to address them.

[2021-01-05 11:20] #47934 closed, assigned to nobody

[2021-01-05 11:38] #48660 closed, assigned to nobody

[2021-01-05 11:50] cpapazoglou commented on #48142
Thanks for reporting this issue!

This is intended as the calypso interfaces for Categories / Tags are missing features that exist in wp-admin.
The calypsoify is planed to be removed.

cc @davemart-in

[2021-01-05 11:50] #48142 closed, assigned to nobody

[2021-01-05 11:55] cpapazoglou commented on #48146
Thanks for reporting @serabi!

@obenland I suggest we use `/wp-admin/widgets.php` for widgets cause this functionality

![](https://cln.sh/W9XaYP+)

is missing from `https://wordpress.com/customize/[DOMAIN]?autofocus%5Bpanel%5D=widgets`

[2021-01-05 12:38] tyxla commented on #48408
I'm going to start working on this one.

[2021-01-05 12:41] tyxla commented on #24180
#48665 reduxifies the last `getPlugins` flux store method, and removes the last usage of the main plugins store!

#48666 follows up and removes the store, plus any related flux remnants.

[2021-01-05 12:49] razvanpapadopol commented on #47813
I think we're already doing the first 2 points. Re-querying with subdomain as keyword seems like a good fix. Should we do this when pressing _Retry_ button or automatically after getting suggestions fails?

Also, I believe this is a blocker for the public release in all languages. Quoting from where the issue has been first mentioned (p58i-9Mt-p2#comment-48530):

[2021-01-05 13:30] tyxla commented on #48408
The first two PRs, #48670 and  #48671, reduxifying notices in `SiteTools` and password settings.

[2021-01-05 13:54] razvanpapadopol commented on #47162
Let's leave this on hold until we decide to proceed with Calypso integration.

[2021-01-05 13:56] yansern commented on #47813
Yup automatically after suggestion fails.

[2021-01-05 13:59] razvanpapadopol commented on #48078
I think the last piece of this task was D54728-code so we can close it now.

[2021-01-05 13:59] #48078 closed, assigned to yansern

[2021-01-05 14:15] cathymcbride commented on #45758
Closing as a duplicate of https://github.com/Automattic/wp-calypso/issues/36274 - which I have moved up in the priority list.

[2021-01-05 14:15] #45758 closed

[2021-01-05 14:16] cathymcbride commented on #36274
Moving to prioritized backlog.

[2021-01-05 14:38] tyxla commented on #48408
#48672 reduxifies the notice in `EditContactInfoFormCard`.

[2021-01-05 14:47] cpapazoglou commented on #48147
Even if the URL doesn't appear, it is and will be reachable through `[DOMAIN]/wp-admin/themes.php`. Is there a need for the customers to easily access `/wp-admin/themes.php`?

[2021-01-05 14:49] cpapazoglou commented on #48151
Thanks for reporting this!

Can you provide more context on this? On which site and which plan? Can you still reproduce it?

[2021-01-05 14:54] cpapazoglou commented on #48177
Thanks for reporting this!

I can see your point, I am not sure that we want to deviate from how `/wp-admin` orders the menus. It seems like a suitable core issue though.

@obenland, any thoughts here?

[2021-01-05 14:58] cpapazoglou commented on #48178
Thanks for reporting!

Scan has been removed as far as I can tell

![](https://cln.sh/gOTVLN+)

Can you confirm @donalirl ?

[2021-01-05 15:02] cpapazoglou commented on #48180
Thanks for reporting. Indeed we need to route Appearance -> `wp-admin/themes.php`

[2021-01-05 15:10] cpapazoglou commented on #48182
The site switcher belongs to the sidebar of **My Sites** section. Not knowing how the sidebar opens is a side effect of removing that navigational element
![](https://cln.sh/7xonSs+)

As of now, **My Sites**, **Reader**, **Me** act both for switching to the according section AND for opening the sidebar.
![SS 2021-01-05 at 17 03 17](https://user-images.githubusercontent.com/12430020/103661940-faa8c

[2021-01-05 15:19] cpapazoglou commented on #48233
Thanks for reporting! This is actually expected, as calypso "Site Switcher" opens in place and you can switch to an other site (or not) whereas `wp-admin` "Browse Sites" redirects to the site-switcher page `https://wordpress.com/home`

[2021-01-05 15:19] #48233 closed, assigned to nobody

[2021-01-05 15:28] cpapazoglou commented on #48234
Thanks for reporting! This is actually expected right now!

[2021-01-05 15:28] #48234 closed, assigned to nobody

[2021-01-05 15:31] cpapazoglou commented on #48237
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/48238

[2021-01-05 15:31] #48237 closed, assigned to nobody

[2021-01-05 15:35] cpapazoglou commented on #48239
Thanks for reporting!

In my simple site "Plugins" doesn't have a submenu and correctly redirects me to Calypso Plugins page
![](https://cln.sh/OTzvhP+)

Can you still reproduce this on a simple site? Be ware that this is the **correct** behavior for atomic sites.

[2021-01-05 15:39] cpapazoglou commented on #48241
👋 there! Can you give a little bit more context here? I don't have "Mobile" submenu in "Appearance" either in simple or atomic sites. In which plan are you testing? Is that maybe a setting you have selected?

[2021-01-05 15:40] mrfoxtalbot opened #48675 "Communicate the scope of support for third party plugins/themes before making a site atomic"
It would be very beneficial both for our users and our support team to show a message when a user is about to install a third-party plugin/theme would help us set the scope of support better (by doing so and VERY early in the game).

This message would display here https://wordpress.com/plugins/wordpress-seo/eligibility/

![screen-shot-on-2020-11-05-at-234406](https://user-images.githubusercontent

[2021-01-05 15:46] cpapazoglou commented on #48552
Thanks for reporting.

The fact that you have been redirected to `wp-admin` instead of seeing the Calypso settings screen we will address it here https://github.com/Automattic/wp-calypso/issues/48183

What you see when you land to `wp-admin` is calypsoify (making wp-admin look like calypso) which will be disabled prior to launching nav-unification and thus we haven't covered these cases.

@davemar

[2021-01-05 16:38] obenland commented on #48608
@michaeldcain Thanks for the report! What's the site and theme you were testing with?

[2021-01-05 16:45] marianearchimbaud commented on #48335
#3600114 hc

This is part of the user's feedback:
...Unlike every other e commerce site i've been to, there doesn't seem to be any way to take things out of the cart.  Help!...

Currently, the easiest way is to direct them back to WordPress.com > My Site > Plan > Plans and click on the Cart button there and then the trash/garbage icon. But I do think it should be consistent with and improved on th

[2021-01-05 16:54] obenland commented on #48199
Closing in favor of #48608. Thanks for the report @noteeth!

[2021-01-05 16:54] #48199 closed, assigned to nobody

[2021-01-05 16:56] obenland commented on #48236
@davemart-in Do you have a preference here? https://wordpress.com/marketing/sharing-buttons/SITEURL.wordpress.com or
https://SITEURL.wordpress.com/wp-admin/options-general.php?page=sharing?

[2021-01-05 17:20] joanrho commented on #48652
Thanks for this, @Addison-Stavlo! Can we also replace the back icon with the close icon?

[2021-01-05 17:51] davemart-in commented on #48236
Thanks for calling this out @eduardozulian!

This is a design decision. @lcollette thoughts?

A few notes:

- https://wordpress.com/marketing/sharing-buttons/SITEURL.wordpress.com isn't in the left nav so we probably shouldn't touch it for this project.
- https://SITEURL.wordpress.com/wp-admin/options-general.php?page=sharing has been in settings for wp-admin for ages. I'd worry about removing it

[2021-01-05 17:57] davemart-in commented on #48552
We are not. It was paused to work on Anchor.fm. @obenland, @creativecoder, @kwight thoughts on the best course of action for prioritizing the disabling of Calypsoify amidst all of the other stuff we're working on?

[2021-01-05 18:20] obenland commented on #48177
Yeah, I've been surprised by seeing Links in there at all and thought it was due to my account being so old. It's definitely worth investigating if we're now showing it to users that shouldn't see it and what we can do to avoid that.

[2021-01-05 19:34] Addison-Stavlo commented on #48652
That is doable.  However I do have some concerns with the implications of using 1 icon rather than 2 - given the actions they trigger are notably different (leaving the current editor instance vs. staying in it).  I posted a user flow example I am slightly concerned with https://github.com/Automattic/wp-calypso/pull/48469#issuecomment-754848954 .  Let me know what you think!  Id vote for having tw

[2021-01-05 19:44] obenland commented on #48238
Hi @scosgro, thanks for the report. I wonder if this was fixed in r218221-wpcom? I can't reproduce it anymore.

[2021-01-05 19:48] #48509 closed, assigned to sixhours, sarayourfriend

[2021-01-05 19:50] obenland commented on #48241
Hi @eduardozulian, thanks for the report. I wonder if this was fixed in r218221-wpcom? I can't reproduce it anymore.

[2021-01-05 19:58] obenland commented on #48147
Would it help if we added a Themes link under "Dash" in the superadminbar?

![image](https://user-images.githubusercontent.com/1398304/103692863-442fee00-4f4d-11eb-8662-c0280639c7a6.png)

[2021-01-05 19:59] obenland commented on #48146
There's a Widgets link under "Dash" in the superadminbar. Would that meet your needs?

![image](https://user-images.githubusercontent.com/1398304/103693016-7fcab800-4f4d-11eb-8894-68e155dc5638.png)

[2021-01-05 20:49] joanrho commented on #48652
We just chatted about this in Slack, but posting here for good measure. Since we'll be updating the new page layout modal with a new design that only has a close button in the upper right corner, we can just leave the existing icons as is for now. In that new modal though, we'll continue to return users _whence they came_ with the close icon. 😄

[2021-01-05 20:59] kwight commented on #48552
I wouldn't want to add it to our mix now at all, no – and @cpapazoglou 's suggestion of `calypsoify=0` sounds like a great idea to me in the meantime. 👍

[2021-01-05 21:02] obenland commented on #48151
That is indeed curious. I can't reproduce it anymore and wonder if the switch to the Jetpack version of the menu class has fixed that. @vparkhere does this still happen for you?

[2021-01-05 21:25] obenland commented on #48552
Would disabling it from loading cause any harm? D54901-code

[2021-01-05 21:51] marianearchimbaud commented on #45881
26686978-hc another case here. Suggested them to clear the browser's cache, or use another browser

[2021-01-05 22:01] kbrown9 opened #48684 "Console error when an unconnected user attempts to set up Mailchimp block"
#### Steps to reproduce

1. Install, activate, and connect Jetpack. The site and first user are now connected.
2. Create another admin user, the secondary admin. Do not connect this user to wpcom.
3. Log in as the secondary admin.
4. Create a post and add the Mailchimp block.
5. Click the Setup Mailchimp button.
6. Log in to a WPCOM account that is not connected to a user on this site.
7. See a bl

[2021-01-05 22:13] obenland commented on #48178
Yes, this should be fixed with #18041.

[2021-01-05 22:25] creativecoder commented on #36507
I don't think this is relevant any longer with the updated checkout interface--I no longer see an option for public vs private domain registration during checkout.

[2021-01-05 22:25] #36507 closed

[2021-01-05 23:02] creativecoder commented on #48552
@pablinos recommended disabling it when nav unification is turned on--that seemed like the best way to proceed

---

I think that might work for Simple sites! Would need to check Gutenboarding and Gutenframe, as I'm not sure if there are implications for disabling the Calypsoify module wholesale in those contexts.

I think we'll also need to find the equivalent for the Jetpack Calypsoify module, w

[2021-01-05 23:27] becdetat opened #48685 "Store|Woo: Update all store sunset copy"
The finalised copy is here: https://docs.google.com/document/d/1NS_LQKBHi6s7pzAD1ezUp9dLxwKd5N9bOKZl9y_880s/edit#

[2021-01-06 07:02] htdat commented on #24539
3625326-zen

[2021-01-06 08:52] inaikem commented on #48643
Updated user report at #3614656-zd with screenshots.

[2021-01-06 09:00] as-esu commented on #28033
One more report here: 3624807-zen
I suggested to use Jdownloader as a workaround.

[2021-01-06 10:42] #48133 closed, assigned to cpapazoglou

[2021-01-06 11:08] tyxla commented on #48408
#48689 reduxifies notices in SEO settings.

[2021-01-06 11:48] aleone89 commented on #28567
Another request via twitter:

/downthebookhole/status/1346629013930913792

[2021-01-06 12:23] mirka commented on #47884
I wanted to note that this process will fail to pick up `translators` comments.

I also have TS code that needs to be translated, and I've been trying out running `make-pot` on a prod build generated by `calypso-build`, as I believe some of you are doing. It works great, expect `translators` comments don't show up because comments are stripped from the build.

It only works when Terser is configur

[2021-01-06 13:21] #48628 closed, assigned to StefanNieuwenhuis

[2021-01-06 15:10] metabreakr commented on #45881
18693933-hc

Simple site. Safari 14.0 on Mac OS X 10.15.6. Suggested they clear cache/switch browsers.

[2021-01-06 16:56] Addison-Stavlo commented on #48145
A couple thoughts on each approach:

for **Approach 1**  - While the current state of @youknowriad's [PR to get rid of auto-drafts](url) makes it hard to distinguish between uncustomized/customized TPs which could make this approach less actionable, he does [propose an idea](https://github.com/WordPress/gutenberg/pull/27910#discussion_r552505088) of using the `theme` attribute ONLY on saved TPs.

[2021-01-06 17:23] julsyd commented on #2004
Another report here: 3618407-zen

[2021-01-06 17:37] ghost commented on #48182
Thanks for the ping @cpapazoglou

I agree that the current behavior on mobile feels disorienting. My expectation would be that if I selected a nav item in the masterbar, it would toggle open the corresponding menu rather than immediately take me to a page with the menu hidden. Adjusting the flow to display the menu first may help alleviate the confusion around switching sites as well as general co

[2021-01-06 17:56] jeyip commented on #48145
Interesting point. I'll have to give this more thought. 🤔

Great callout! Totally agree. I'm planning to make a collaborative google doc we can modify together, and I'll be sure to include these points.

[2021-01-06 18:26] obenland commented on #48552
Is this something you could help us find out?

[2021-01-06 19:31] allilevine commented on #48566
Deployed D54613-code

[2021-01-06 19:31] #48566 closed, assigned to nobody

[2021-01-06 19:32] #48607 closed, assigned to nobody

[2021-01-06 19:42] ianstewart opened #48696 "Design Picker: Doyle Starter Design creating unexpected or invalid content in Editor"
To reproduce …

1. Visit wp.com/new
2. Select "Doyle" Starter Design
3. See invalid block content in Editor

![image](https://user-images.githubusercontent.com/545779/103812912-d9ea7c80-5024-11eb-9325-ef48f2d26139.png)

[2021-01-06 19:49] mattsherman commented on #48423
@ilyasfoo When new users click on the WooCommerce menu item and we kick off the Core UI setup journey, we should also set a site option such as `calypso_hide_deprecated_store` (just a thought on the name) to `true`. This way, I can use that site option in #48424 to hide the deprecated Store menu item for new users.

_Edit: Nevermind... I don't think this will be good enough... it doesn't handle ti

[2021-01-06 20:21] ianstewart opened #48699 "Design Picker: Overton cover block has strange placeholder text"
Steps to reproduce

1. Visit WP.com/new
2. Select Overton design
3. Observe placeholder text in cover block that reads, "Write titleu2026"

**Result**

![image](https://user-images.githubusercontent.com/545779/103816247-47e57280-502a-11eb-9782-fe298991ab71.png)

**Expected**

![image](https://user-images.githubusercontent.com/545779/103816339-72373000-502a-11eb-826c-4f33f0e02815.png)

[2021-01-06 20:23] cathymcbride commented on #48684
@jeherve would this issue belong to JP as well?

[2021-01-06 20:35] #48654 closed, assigned to sirbrillig

[2021-01-06 20:54] mattsherman commented on #48424
This is a bit trickier than it initially seemed...

Detecting whether a site has used the deprecated Store is difficult, since we don't have any indication of this in place before the deprecation.

Perhaps the best solution would be to hook into when new Business sites are created, and if in the Store is deprecated, set a site option such as `calypso_hide_deprecated_store` to `true`, so that when

[2021-01-06 21:42] vivianxu1230 commented on #47089
Hi I would love to take on this issue :)

[2021-01-06 22:54] #48433 closed, assigned to DavidRothstein

[2021-01-06 23:24] fullofcaffeine opened #48701 "Reblogging doesn't work when post is viewed from Calypso"
#### Steps to reproduce

1. Choose a site by using the "Switch Site" button in the upper-left corner of your screen (assuming a Desktop viewport);
2. Your site should now be visible from within the "view" iframe, in Calypso (URL should be `https://wordpress.com/view/yourtestsite.wordpress.com`;
3. Open any post from within the view iframe and look for the "Reblog" button;
4. Click it;
5. Nothing w

[2021-01-07 01:20] p-jackson commented on #48696
Fixed by D54974-code

[2021-01-07 01:23] #48696 closed, assigned to nobody

[2021-01-07 01:34] becdetat commented on #48420
@elizaan36 @pmcpinto what are we doing about the inbox notification? Is it needed? I noticed there's copy for a notification in the final copy doc:
![image](https://user-images.githubusercontent.com/224531/103839970-4eccbd80-50dc-11eb-804a-f70a5c129978.png)

*edit* I just found this https://github.com/woocommerce/woocommerce-admin/issues/6008, I'll go ahead with that.

[2021-01-07 02:32] bluefuton opened #48702 "Reader Lists: list stream doesn't finish loading when a list is missing"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/read/list/not/there

#### What I expected

The list doesn't exist, so I should be shown an message telling me that.

#### What happened instead

The list stream stayed in loading state.

#### Screenshot / Video

<img width="1518" alt="Screen Shot 2021-01-07 at 15 19 03" src="https://user-images.githubusercontent.com/17325/103843853

[2021-01-07 04:21] inaikem opened #48703 "Expired credit cards don't appear on the Payment Methods page and can't be deleted, even when they are still attached to a subscription"
### Use case
A user wishes to retain an active subscription on WordPress.com but does _not_ wish for their payment details to be saved. Instead, they would prefer to manually log in and enter their payment details after receiving an expiry notice/warning from us as their subscription(s) near expiry.

### What I expected
After deleting all payment methods via `Manage Purchases`, I expect there to b

[2021-01-07 05:45] autumnfjeld opened #48704 "Welcome Tour: png & gif in src/images not getting copied into trunk"
I just tested my work in #48390 and can see a known issue is still happening.   The png and gif files in the [src/images](https://github.com/Automattic/wp-calypso/tree/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-welcome-tour/src/images) aren't getting copied into `wp-content/plugins/full-site-editing-plugin/467720122/wpcom-block-editor-welcome-tour/src/images`.

Some thoug

[2021-01-07 06:49] ilyasfoo commented on #48423
Thanks for chiming in @mattsherman! I do think its tricky to detect new users, and I agree that the most reliable way is to set an option on site creation after deprecation config flag is enabled.

In the meantime, I think it's best for me to do a temporary stub implementation for detecting new users while waiting for your solution in #48424. In order to avoid stepping toes, I'll work on other thi

[2021-01-07 07:05] ilyasfoo commented on #48423
@pmcpinto Can you help to confirm my assumptions on what is supposed to happen in this scenario:
1. User with Business plan atomic site clicks on Store menu item without WC plugin installed
2. User sees Store dashboard with the button "Set up my store!" https://d.pr/i/CtGP4m
3. When clicking "Set up my store!", loading screen is shown
4. After finishing installation, instead of going to page to se

[2021-01-07 07:30] jeherve commented on #48684
No, since this happens within Calypso (Tools > Marketing > Connections).

[2021-01-07 08:18] mrfoxtalbot opened #48706 "Nav Unification: Portfolios & Testimonials lists show wp-admin styles"
#### Steps to reproduce

1. Click on the Portfolios (or Testimonials) menu item on the unified navigation
2. Look at the way Portfolios (or Testimonials)

#### What I expected

I expected to see the type of listing that can be seen under wordpress.com/types/jetpack-portfolio/ in Calypso

![Screen Shot on 2021-01-07 at 09:10:01](https://user-images.githubusercontent.com/4452464/103868020-96e1e500-5

[2021-01-07 08:21] akirk commented on #48033
I consider all todos addressed with #48645, can you confirm, @lsl?

[2021-01-07 08:54] mrfoxtalbot opened #48707 "Nav Unification: Cannot access /edit.php"
The new unified nav will show the Calypso post and page listing styles in wp-admin.

While this is consistent with the fact that most new screens are Calypso ones, removing direct access to the default listings (wp-admin/edit.php) will mean that the following functionalities will become unavailable:

1. Quick edit
2. Bulk edit
3. Filtering by category
4. Choose listing criteria (post name, date) a

[2021-01-07 09:40] cpapazoglou commented on #48182
@sfougnier actually this a great idea! Let me rephrase it to make sure I understood it correctly.

**At any circumstance, "My Sites", "Reader", "Me" will act us "open / close" for their respective sidebar.**

I see a UX problem here though, while in `wp-admin` we cannot open a sidebar for "Reader" or "Me", we can only redirect them to the calypso page.

From development perspective, it will not be

[2021-01-07 10:58] #45910 closed

[2021-01-07 11:11] pmcpinto commented on #48423
@ilyasfoo

After finishing installation they should be redirected to the first step of the store profiler: https://d.pr/i/bw0Qbz

Lmk if you have more questions. Thanks

[2021-01-07 11:39] cpapazoglou commented on #48706
Indeed, we should redirect Testimonias & Portfolio to calypso screens.

[2021-01-07 11:47] cpapazoglou opened #48709 "Nav Unification: Expanding menus are hard to interact with on mobile"
Expanding menus are hard to interact with on mobile in calypso. Clicking on the top level menu item will take you to that section, rather than opening the child menu items. While on wp-admin, works correctly.

![image](https://user-images.githubusercontent.com/12430020/103889309-e0ddc180-50ee-11eb-83e6-0d4050b34fd4.png)

props @mrfoxtalbot

[2021-01-07 11:53] getdave commented on #47043
Started working on this in https://github.com/Automattic/wp-calypso/pull/48710

[2021-01-07 14:57] michaeldcain commented on #48608
@cpapazoglou @obenland: sorry, I missed the ping. I can reproduce the duplicate menu items on michaeldcain.com (cainm.wordpress.com). It's a simple site with a premium plan, a mapped domain, and the Singl theme. I don't see the console warning anymore however.

Let me know if you want me to look for it on other sites.

[2021-01-07 15:32] vivianxu1230 commented on #47089
@simison Is this issue is pointing to the client/auth/login.jsx file path? I see some inputs (FormTextInput) fields that could benefit from having the password/username autofill for iOS/Safari.

Also– is the enhancement only needed for usernames and passwords, or for one-time verification codes as well? I see that in the Apple docs they provide an option for it, but on line 161 of the login.jsx fi

[2021-01-07 15:56] ghost commented on #48182
Yes.

Ok, I see. So to clarify, there would be no way to redirect to the calypso page with the sidebar toggled open?

If the answer to that is still no, maybe we keep the menu icon bar that already exists in Calypso (what you have in your screenshots above). It deviates from core, but this is a specific use case and it's clearer than assigning the masterbar icons 2 types of interactions. Would we

[2021-01-07 16:04] mattsherman commented on #48423
I don't think you need the solution from #48424.

In this case, the "WooCommerce" menu item is new -- it always shows when "Store" is deprecated. Anytime that "WooCommerce" menu item is clicked and the WC plugin isn't installed, the user should be presented with the "Setup up my store!" button.

[2021-01-07 16:09] #48367 closed, assigned to sixhours

[2021-01-07 16:38] kwight opened #48714 "Plans: Improve content about backups to account for non-Atomic cases."
Not all Business and eCommerce plans end up on Atomic infrastructure, so we should be more clear about when Jetpack Backups are available or not.

See: p9F6qB-6lt-p2

[2021-01-07 17:51] michaeldcain commented on #48607
@cpapazoglou: this still seems to be an issue on the site from the screenshot, but if you're not able to reproduce it, I'm fine with keeping this closed.

[2021-01-07 17:54] obenland commented on #48607
Are you running Bleeding Edge or Release Candidate from Jetpack Beta on it? It should be fixed with https://github.com/Automattic/jetpack/pull/18063

[2021-01-07 17:57] creativecoder commented on #48552
@obenland I can... to be clear all I'm thinking of at this point is applying your diff and poking around, comparing side-by-side to see if anything looks amiss.

[2021-01-07 18:05] obenland commented on #48608
Thanks that helped! I was able to reproduce and fix the issues

[2021-01-07 19:12] TeniCola commented on #48316
I've noticed a few cases where the issue is the direct inverse. For my users, they launched their site and set it to public, but the Coming Soon banner + prompt on the live site _persists_. No matter how many times the settings were saved, it wouldn't actually make it live, and the user reports their visitors are unable to see their site.

Cases are in 3628418-zen and 3611359-zen with a link to th

[2021-01-07 19:37] vparkhere commented on #48151
@obenland Just checked, this is no longer an issue!  Calypso and WP Admin are both showing the same order now, Pages | Testimonials | Portfolio.

[2021-01-07 19:44] villanovachile opened #49086 "An unhandled error occurred creating or editing posts"
#### Steps to reproduce
1. Create or edit post
2. Error produced "An unhandled error occurred"

Only seems to be occurring when editing/creating posts. User is able to view statistics and perform other actions. Issue also seems to be intermittent, as it was not occurring today but occurred yesterday.

#### What I expected
- User expected to be able to edit/create post without issue

#### What happ

[2021-01-07 20:15] cathymcbride commented on #48548
There's a workaround provided by jotforms and the gutenberg issue is already closed.  I'm not going to close this, but I am going to lower the priority.

[2021-01-07 20:27] obenland commented on #48151
Awesome, thanks for the report and double-checking!

[2021-01-07 20:27] #48151 closed, assigned to nobody

[2021-01-07 20:30] cathymcbride commented on #47000
Lowering the priority but leaving on the backlog

[2021-01-07 20:42] michaeldcain commented on #48607
@obenland: that's probably it. I'm running whatever's default with Atomic :)

[2021-01-07 21:16] Gilmoursa commented on #45607
another issue to report at: #23872072-hc

[2021-01-07 21:35] p-jackson commented on #48699
Looks like a bug in the code that generates headstart annotations. I can see why, the strings are sort of double escaped. The annotation looks like:
… `\"placeholder\": \"Write title\\u2026\",` …
but should just have a \u like:
… `\"placeholder\": \"Write title\u2026\",` …

If the annotation file can deal with being saved in utf-8 it’d probably be easier to fix this by not escaping the ellipses an

[2021-01-07 22:16] metabreakr opened #48721 "SyntaxHighlighter Code Block: cannot add tab indents using keyboard"
#### Steps to reproduce

1. Add a SyntaxHighlighter Code Block
2. Start writing some code (any code)
3. Press "tab" on your keyboard, with the intent to indent code

#### What I expected

Code to be indented.

#### What happened instead

I was able to tab through different parts of the block editor, and had to resort to using the spacebar to indent code.

#### Context / Source

18166771-hc

[2021-01-07 22:47] ollierozdarz commented on #48048
Yeah, there should be no issue with having either domains or plans reordered to avoid breakages. I discussed this with @tjcafferkey a little in our call before Xmas to suit the scenario where a user will come from the cart. As long as the Title stays at the top (but still only show it when it's needed, and hide it when it's not) I think it's fine 🥇

[2021-01-07 22:55] metabreakr commented on #48721
Looks like there was an open issue for this already: https://github.com/Automattic/wp-calypso/issues/44131

I didn't spot it due to the spelling in the title: _SyntaxHighlighting_

[2021-01-07 22:55] #48721 closed, assigned to nobody

[2021-01-07 23:21] marcuswisecaesar opened #48724 "Settings > Ratings is a Broken Link"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/home/
2. Click Settings
3. Click Ratings

#### What I expected
To see the Ratings Page

#### What happened instead
An empty Settings page was displayed:
![screenshot](https://d.pr/i/QGlFdd+)
[Direct Link](https://d.pr/i/QGlFdd)

#### Browser / OS version
Chrome: Version 87.0.4280.141 (Official Build) (x86_64)
macOS Big Sur - Versio

[2021-01-07 23:53] JoshuaGoode commented on #48147
For Atomic, many third-party themes include options, support buttons, and more when inspecting the theme details under Appearance > Themes.

Additionally, since we no longer force require auto-updates for themes, it's where users can toggle on/off updates for a specific theme.

I suppose this would be partially taken care of via the opt-out discussed on https://github.com/Automattic/wp-calypso/iss

[2021-01-07 23:56] simison commented on #47117
@jffng @scruffian could you have a look at the site above to see if it's the same issue? Thanks!

[2021-01-08 00:17] JoshuaGoode commented on #47043
For Atomic:

Outside of accessing theme, plugin, and inline settings that have been previously discussed, another case would be local user accounts.

Without an option to turn this off, `Users` in the WP-Admin goes to `https://wordpress.com/people/team/`

Many membership and eCommerce sites will require access to the WP-Admin version of Users so they can manage, create, and invite non-WPCOM accoun

[2021-01-08 00:20] JoshuaGoode commented on #47043
Also Atomic:

WP-Admin > Settings also includes important membership, default role, and time format settings that many power users adjust that are not available in Calypso.

[2021-01-08 00:26] simison commented on #45259
@saramarcondes @tyxla  I remember reading there are no longer global styles in Calypso, is that true? Looks pretty complete here. :-)

Just thinking this in context of upgrading `@wordpress/components` package and having undetected CSS leakage if there would be any globals left. (pbAok1-1Oc-p2)

[2021-01-08 00:34] JoshuaGoode opened #48725 "Nav Unification: Atomic WP-Admin > Export directs user to Calypso and then back to WP-Admin"
For Atomic sites, the export tool lives in WP-Admin and isn't available in Calypso. Calypso will direct the user to WP-Admin for their Export needs.

With Nav Unification active, going to WP-Admin > Export will take the user to Calypso.  Then, they will be prompted to `Visit your site's wp-admin for all your import and export needs.` which finally drops the user in `/wp-admin/export.php` if they c

[2021-01-08 00:45] sarayourfriend commented on #45259
There are still global styles in Calypso, there are just not any (major) ones that conflict with `@wordpress/components` (as far as we can tell based on the [`/devdocs/wordpress-components-gallery`](https://wpcalypso.wordpress.com/devdocs/wordpress-components-gallery)).

What exactly did you have in mind as far as undetected CSS leakage?

[2021-01-08 01:10] #48479 closed, assigned to becdetat

[2021-01-08 01:10] #48685 closed, assigned to becdetat

[2021-01-08 02:06] #48420 closed, assigned to becdetat

[2021-01-08 03:11] jeyip commented on #48276
I'd wager that you're right. I'm looking at the site thumbnails generated for gutenboarding in Calypso (`static/images/design-screenshots/twentytwentyone-blocks_twentytwentyone-blocks_twentytwentyone-blocks.jpg`) and they also have the cover blocks alignment issue.

[2021-01-08 05:52] andrewserong commented on #48381
@ianstewart I took a look at adding these designs in #48727. I think it's currently blocked by the following two main issues:

1. The colour styles bleeding into the editor, which I believe are already covered in the linked issues in the themes repo.
2. The Gutenboarding layout for the design picker doesn't play nicely with short screenshots for these designs.

| Balan | Pollard |
| --- | --- |
|

[2021-01-08 08:02] ivan-ottinger commented on #48316
Interesting. I have actually encountered a similar issue yesterday: 26838449-hc

I thought that it was just some browser glitch, but when we have several reports already, it will be something else.

[2021-01-08 09:12] tyxla commented on #45259
I second Sara - we removed most of the form global styles, but there are still some [global resets](https://github.com/Automattic/wp-calypso/blob/766d2a86796b83312d83c0f369ef54792890497f/client/assets/stylesheets/shared/_reset.scss#L135) and those seem to affect WP components - for example at [`/devdocs/wordpress-components-gallery`](https://wpcalypso.wordpress.com/devdocs/wordpress-components-gal

[2021-01-08 09:20] simison commented on #45259
Yup, no worries. I was just thinking that as we update `@wordpress/components` package, that could change suddenly without noticing but maybe that's easy enough to catch with the devdocs gallery.

Thanks both!

[2021-01-08 09:27] ilyasfoo commented on #48423
That makes sense, I get it now thanks!

[2021-01-08 10:52] scruffian commented on #47117
What seems to happen is that the color palette is cached, so it takes some time to update everywhere, which means things look pretty broken until the changes propagate. I plan to look into changing how this works for Varia themes to match how things work in Seedlet to see if that solves the problem.

[2021-01-08 11:18] ilyasfoo commented on #48423
This is trickier than I thought, it seems that the flag to determine whether WC plugin is installed `finished_initial_install_of_required_plugins` is fetched **after** Store UI dashboard is loaded via `WOOCOMMERCE_SETUP_CHOICES_REQUEST` action. This means that during rendering our sidebar, we don't know the installation status.

I don't think it's appropriate to add a site-specific request before

[2021-01-08 12:05] StefanNieuwenhuis commented on #47788
Heya @ollierozdarz!
While comparing Figma and the current situation on Production, I noticed that the unavailable domains copy (the text in orange, after the cross icon) is different. Which one should we use?

Thank you so much!

#### Variant 1 (Figma)

<img width="381" alt="Screenshot 2021-01-08 at 13 01 02" src="https://user-images.githubusercontent.com/12104589/104013634-054ea200-51b2-11eb-85dc

[2021-01-08 12:15] StefanNieuwenhuis commented on #47788
Heya @ollierozdarz!
While comparing Figma and Focused Launch Plans Table that's currently on Production, I noticed that the button's copy is different.

And there's also a third variant, which is found in the Step-by-Step Plans Accordion.

Which copy should we use?

#### Variant 1 (Figma)

<img width="413" alt="Screenshot 2021-01-08 at 13 07 15" src="https://user-images.githubusercontent.com/12104

[2021-01-08 12:19] kriskorn opened #48731 "Reader: Verse Block Styles"
Reader shows Verse block like a `pre` element and although I understand that the Reader has its own design, the Verse block is mostly used... for verses, not for code. It would be great, if it just inherits the Reader style or perhaps has something different to distinguish it from other blocks. The background could be white, but the font perhaps something different. Thank you!

Site:

![site](http

[2021-01-08 12:52] ivan-ottinger commented on #48316
Another case that seems related: 26864179-hc. The user reported that their images are not loading. The site seemed public, but the "Private" label was visible in Calypso.

Once I switched the site to "Coming soon" and then back to "Public" images started loading correctly.

[2021-01-08 13:04] mlaetitia commented on #48023
Just noting here that could be related to this: https://github.com/Automattic/p2/issues/1327
but this one seems to have been fixed back in November.

Additionally I tested this today and it's working on my premium site.

[2021-01-08 13:29] WunderBart opened #48733 "Homepage WSOD when gutenberg-edge sticker applied"
#### Steps to reproduce

To get the WSOD:
1. Sandbox `public-api.wordpress.com`
1. Make sure the `gutenberg-edge` sticker is not applied to `yourtestsite.wordpress.com`
1. Go to `https://wordpress.com/home/yourtestsite.wordpress.com`
1. Make sure the site loads correctly and there are no errors in the console
1. Apply the `gutenberg-edge` sticker to `yourtestsite.wordpress.com`
1. Refresh `https:/

[2021-01-08 13:35] simison commented on #48733
cc @Automattic/team-calypso in case anything strikes obvious.

[2021-01-08 13:56] jsnajdr commented on #48733
@WunderBart Trying to reproduce this, so far not successfully. I haven't sandboxed my `public-api.wordpress.com` yet though. I'd like to understand why that's necessary -- I'm not applying any patch in my sandbox, so the API responses should be identical to production. Is that right?

[2021-01-08 13:58] tyxla commented on #48733
I was also unable to reproduce it, tried sandboxed and non-sandboxed, and with multiple sites. I'm also curious about what sandboxing changes - should we also apply a patch before testing?

[2021-01-08 14:00] jsnajdr commented on #48733
This package is used to implement Redux selectors. Can we figure out which selector exactly is crashing and what Redux state is it trying to read?

There is likely to be some very unexpected value in Redux state.

[2021-01-08 14:46] marutim commented on #40574
I had a user in the chat with this issue. Ref: 26847932-hc

The message could be replicated on all the pages on update. Good news is that it does not really stop the update but the notice keep appearing. Here is a link to the video to help test it: https://d.pr/v/eZb6Xt

Steps I tried to fix the behavior:
- Cleared the browser cache
- Cleared the site's cache from CLI
- Initially, I could see some

[2021-01-08 14:49] metabreakr commented on #48023
I'll have to test this with a couple other sites. In the meantime, this issue still occurs with my team P2:

<img width="617" alt="Screen Shot 2021-01-08 at 7 48 30 AM" src="https://user-images.githubusercontent.com/39252765/104028475-0073f900-5186-11eb-99c7-9580e0885f78.png">

[2021-01-08 14:56] WunderBart commented on #48733
Thanks for testing, @jsnajdr & @tyxla!

I don't know why at this point, but only when sandboxing the public-api you'll see the WSOD. Otherwise, everything will look OK and the page will load as usual.

AFAIK, that's correct (but I might be wrong!).

Interesting! Do you have the `gutenberg-edge` sticker applied and sandbox up to date (should have GB 9.6.2 as the edge version)? Also, are you using C

[2021-01-08 15:02] ciampo commented on #47788
Let's also keep in mind that some languages are more verbose than english, and therefore the copy may not fit on one line even if we go for the shorter "Unavailable with domain" alternative (particularly relevant for the table variant used in Focused Launch flow)

[2021-01-08 15:46] WunderBart commented on #48733
Great tip, thanks @jsnajdr! I was able to find the key that's causing the error this way. The [dependent](https://github.com/Automattic/wp-calypso/blob/trunk/packages/tree-select/src/index.js#L47) looks like this:

<img width="551" alt="Screenshot 2021-01-08 at 16 36 32" src="https://user-images.githubusercontent.com/1451471/104033525-ebbc5300-51cf-11eb-8b1d-8ecc9854c6bd.png">

...which shows the

[2021-01-08 15:52] carladoria commented on #47223
there is a similar issue in 26867253-hc but user ghosted out before I could ask more details. In their particular issue, each time they used the Tiled Gallery, they would get an error an "attempt to recover block" which will turn out into an empty Tiled Gallery after re-entering the page. I'll dig deeper into this and might report a different bug, as it is not exactly the same issue, but seems hea

[2021-01-08 16:41] WunderBart commented on #48733
I think I had a good hunch there 😅. I followed the call chain up and found out that the selector returning the faulty key is the [`getSiteStatsForQuery`](https://github.com/Automattic/wp-calypso/blob/bbad57e43a740e0d5ea37224b9e4114a2ed8beed/client/state/stats/lists/selectors.js#L58-L62) one. Items for that state seem to be obtained via the `WPCOM_JSON_API_Stats_Insights_Endpoint`, so I checked my

[2021-01-08 16:52] DavidRothstein opened #48736 "Manage Purchases: If auto-renew is off, Payment Method is shown as "None" even if a payment method was just added"
#### Steps to reproduce

1. Buy a subscription.
2. Toggle auto-renew off via the subscription's Manage Purchase page.
2. Notice that the "Payment Method" section switches to "None".
3. Now use the "Change Payment Method" link to switch to a new payment method.
4. You are directed back to the Manage Purchase page with a message that the new payment method was saved (and in fact it was) but the Paym

[2021-01-08 17:13] obenland commented on #48552
@shaunandrews just reported a Calypsoify bug from the Jetpack-side (p1610124919398500-slack-CJS75TX3R), so D54901-code would have to be replicated in Jetpack or wpcomsh as well.

[2021-01-08 17:29] noahtallen commented on #48733
I believe we've been trying to get core Gutenberg to stop using `STYLESHEETPATH`, because it is incompatible with the WordPress.com REST API. (Because the rest API uses its own theme, so the constant would not point to the theme of the current site.) cc @Automattic/cylon, let me know if I'm wrong about this.

If that's the case, the problem would be that global styles is referencing `locate_templa

[2021-01-08 17:40] mattsherman commented on #48423
@ilyasfoo What particular scenario are you talking about here? There's a number of different paths -- I feel like we need a flowchart to keep all of them straight!

I assume that the action and flag mentioned are part of the WooCommerce Calypso extension that doesn't get loaded until Store section is navigated to? Could we pull that check out of the extension (which we won't need once Store is tot

[2021-01-08 17:43] mattsherman commented on #48423
@ilyasfoo I'm likely going to be doing some state checks (though I expect much less involved) in #48424 to determine when to hide the Store menu item... I'll be working on that more this afternoon. I'll ping you in that PR when I have something working, in case it helps spark any ideas on how to handle the WooCommerce menu item in this PR.

[2021-01-08 17:49] geekinthegirl commented on #40574
I've had a user in chat with this issue today too: 26801089-hc

The 'Update failed. The response is not a valid JSON response' message was replicated on all of their existing posts and pages, whenever they tried to use the editor or make any changes.

I suggested:

- Refreshing the editor
- Copying the content to a new page (which worked initially, and then generated the same message)
- They have

[2021-01-08 19:35] supernovia commented on #4657
Can I re-open this?  We still encounter a lot of folks giving out editor links and wondering why people can't see them. In this case, for example, the user actually went and linked their buttons to edit pages on their site.

https://wordpress.com/forums/topic/links-to-pages-from-my-home-page-go-to-a-login-page-when-live-but-work-in-editing/#post-3616639

I am guessing there's some confusion becaus

[2021-01-08 21:12] ianstewart opened #48741 "Editor: Image Replacement UI broken in Chrome MacOS"
#### Steps to reproduce

1. Create a new site at WP.com/new
2. Replace an image in the Editor
3. Observe strange offset image replacement source UI

May be related to images in columns.

#### Result

![image](https://user-images.githubusercontent.com/545779/104064572-c9bcd380-51c3-11eb-9395-2ab5283bbd02.png)

![image](https://user-images.githubusercontent.com/545779/104064601-d3463b80-51c3-11eb-8d

[2021-01-08 21:21] elizaan36 commented on #48423
how long does it take to bring up the Store UI and then redirect? I wonder if you could hide the Store UI while it's loading?

[2021-01-08 21:24] ianstewart commented on #48741
This may be a theme issue related to Varia …

![image](https://user-images.githubusercontent.com/545779/104065617-ad219b00-51c5-11eb-8eae-c6a8f6ec6c9c.png)

[2021-01-08 21:45] ianstewart opened #48742 "Design Picker: Cropped Images in Starter Design need updating"
We have some cropped icons in the Stratford starter design that need updating.

![image](https://user-images.githubusercontent.com/545779/104067265-7436f580-51c8-11eb-9276-5cb505b697f6.png)

[2021-01-08 21:45] ianstewart commented on #48742
The starter design content has been updated to correct this.

![image](https://user-images.githubusercontent.com/545779/104067310-8add4c80-51c8-11eb-87b3-2d509375faa9.png)

But we'll need to deploy a fix to Gutenboarding for this to update there.

[2021-01-08 21:50] kellychoffman commented on #45214
Yes! This drives me nuts.

Related: I want to easily see what other days I have scheduled posts on, so I can plan around them. I feel like this used to be the case.

[2021-01-08 22:07] jffng commented on #48741
I think that it's an issue with the popover component within a columns block, not Varia specific. Here is a screenshot with 2020 activated:

<img width="1904" alt="Screen Shot 2021-01-08 at 5 05 36 PM" src="https://user-images.githubusercontent.com/5375500/104070016-e103bd00-51d3-11eb-96b9-d2354f6218e3.png">

I don't know how or why that floating point position right value is computed, but it's ca

[2021-01-08 23:59] noahtallen commented on #48733
This diff fixes the issue: D55104-code.

[2021-01-09 01:26] designsimply commented on #47289
Thanks for testing a different domain @guarani! Quick question, in your subdomain site, was there a WordPress install at the root domain and ALSO on a subdomain, or… if not, what happened when you hit the root level domain?

[2021-01-09 10:05] arunsathiya opened #48746 "DNS manager not accessible when Jetpack is broken on an Atomic site"
#### Steps to reproduce

1. Starting at URL: Start with an Atomic website (a WordPress.com website with a plugin or third-party theme installed).
2. Break its Jetpack connection (unclear how to do that though)
3. When it's broken, try visiting the domain's DNS manager on Calypso.

#### What I expected

I am able to manage DNS for domain connected to an Atomic site despite having its Jetpack connec

[2021-01-09 15:51] nellofn commented on #46707
In #3622499-zen a user is reporting they don't see the "Read more" button as described in this issue. I've recommended inserting a "More" block but wanted to add the request/bug here.

[2021-01-09 16:26] #38853 closed

[2021-01-09 17:14] scosgro commented on #48238
Confirmed fixed on my end! Thank you!

[2021-01-09 17:14] #48238 closed, assigned to nobody

[2021-01-09 20:30] RealCarFax opened #48747 ""Hourly Views" appearing in WP Admin"
#### Steps to reproduce

If I manually go to /wp-admin/, the sidebar has "Hourly views" written out instead of small icon of the graph next to Stats.

#### Screenshot / Video

https://d.pr/i/M1JUpj/xT3Xntp9FR

#### Context / Source

Additional Info: If you hover over Upgrades, that covers the wording up too, as shown here: https://d.pr/i/npxGUa/uj7NPVXIev

[2021-01-09 20:39] RealCarFax opened #48748 "Users > Add New on Atomic sites with SSO enabled"
#### Steps to reproduce

If you go to Users → Add New on an Atomic site, it leads to the WP Admin page where you can add a local user.

This is not sufficient for adding a user to an Atomic site with SSO enabled. Users created here would not have the ability to log into the site, they must have an invitation instead.

#### Screenshot / Video

![Screen Capture on 2021-01-09 at 15-38-33](https://use

[2021-01-09 21:48] villanovachile commented on #43183
Another report at #3636088-zen

Donation receipt is not showing the primary domain, but the internal wordpress.com URL: https://d.pr/i/cVuUBG

[2021-01-09 22:29] JoshuaGoode commented on #48748
Hmm, odd. I never could get to that screen without manually entering the URL.

Instead, I had quite the opposite experience and worry about users with membership sites and customers that need to access the local user accounts and not the user screen in Calypso:
https://github.com/Automattic/wp-calypso/issues/47043#issuecomment-756466382

[2021-01-09 22:33] JoshuaGoode commented on #48748
With the current version of Nav Unification we're testing, when I go to WP-Admin > Users > Add New, I am directed to https://wordpress.com/people/new/ which is Calypso and not the local users screen.

There is work going on regarding an opt-out feature so sites can access the local users and edit those when necessary.  I described the need for that here: https://github.com/Automattic/wp-calypso/is

[2021-01-10 07:23] Nic-Sevic commented on #48316
Another case with site marked as not yet launched but is visible. In this case it looks like the settings in WP Admin were changed to allow search engine indexing but this wasn't reflected on the Calypso side.

Site is visible when logged in to WP and when not, can also pulled with API calls.

![](https://d.pr/i/u514eG+)
Link to image: https://d.pr/i/u514eG

![](https://d.pr/i/HUHknX+)
Link to ima

[2021-01-10 22:50] andrewserong commented on #48741
I _think_ this might be the issue fixed by https://github.com/WordPress/gutenberg/pull/27777 in Gutenberg 9.7?

[2021-01-11 00:43] andrewserong commented on #48742
Updated annotation ready for review in D55126-code. I was going to mention an issue with the button text, but @ianstewart's already logged it here https://github.com/Automattic/themes/issues/2996. Thanks for being so thorough!

[2021-01-11 01:20] autumnfjeld opened #48751 "Welcome Tour MVP final UI tasks"
These can be broken into separate PRs, though they are each small tasks that could go in one PR.

- [x] copy updates per pbAok1-1LS-p2#comment-3544 https://github.com/Automattic/wp-calypso/pull/48783
- [x] i18n all strings, e.g `__()` https://github.com/Automattic/wp-calypso/pull/48783
- [x] put images on s0.wp.com [discussion](pbAok1-1LS-p2#comment-3544) and change imports to using CDN url (D5517

[2021-01-11 02:06] andrewserong commented on #48742
Deployed D55126-code, so this is now rolled out 😀

[2021-01-11 02:06] #48742 closed, assigned to andrewserong

[2021-01-11 02:16] donalirl commented on #44844
I had two requests for this feature this week:

1. One was the ability to allow coupon codes in Premium Content.
2. The other was to be able to comp friends with free plans (#3638150-zen), which I'm thinking could also be done via a 100% off coupon code.

[2021-01-11 07:04] kosiew commented on #36274
#3638164-zen

[2021-01-11 08:32] #48662 closed, assigned to StefanNieuwenhuis

[2021-01-11 08:53] KokkieH commented on #45743
This has come up today in p2MSmN-8dL-p2

It would be good if a notice can also be added to https://wordpress.com/domains/add/use-your-domain/{SITE_URL} for accounts that aren't PWPO exempt.

[2021-01-11 09:00] #44602 closed

[2021-01-11 09:35] razvanpapadopol opened #48760 "Plans Grid: add monthly pricing"
### Why

As mentioned in p7rd6c-2ES-p2, as part of the global rollout we should add monthly pricing option to `/new` and the Launch flows.

### What

**NOTE: Requires #48767 (data-store changes) and #48769 (toggle component) to be implemented first.**

The plans-grid package should be updated to allow the user to pick annual (default) or monthly plan billing.

### Acceptance Criteria

- [ ] Displa

[2021-01-11 09:43] cpapazoglou commented on #48707
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/47043

[2021-01-11 09:43] #48707 closed, assigned to nobody

[2021-01-11 09:48] aaronrobertshaw commented on #48741
I believe it is.

The visually hidden span containing the `(open in new tab)` text inside the `LinkControl` isn't positioned correctly.

| Spearhead | Varia |
|------------|------|
| ![ScrollIssue](https://user-images.githubusercontent.com/60436221/104165676-748ff480-5445-11eb-9c99-15968d97c0e1.gif) | ![ScrollIssue2](https://user-images.githubusercontent.com/60436221/104166046-e36d4d80-5445-11eb-8

[2021-01-11 09:53] cpapazoglou commented on #48748
Thanks for the reports @RealCarFax & @JoshuaGoode. Indeed, now we default to the Calypso screens both for simple & atomic sites. @RealCarFax probably you have tested an Atomic site while in calypso, without enabling the feature in that Atomic site and thus you were served a fallback menu.

It seems that this particular case is quite tricky. Can you confirm whether the same customer would simultane

[2021-01-11 09:54] ilyasfoo commented on #48423
@pmcpinto For tracks:

`calypso_woocommerce_store_nav_item_click` is already being tracked on clicking the Store menu item. WooCommerce menu item is tracked using `calypso_woocommerce_store_woo_core_item_click`.

Can you elaborate on "Number of users who get past the plugin step"? Does this mean that we track the users finishing loading screen?

[2021-01-11 09:59] jsnajdr commented on #48733
I don't know if it's relevant to this particular problem, but WordPress REST API is partially aware of the current user's theme. The REST API base classes have a `load_theme_functions()` that's called by selected endpoints that need them. One example are themes that register custom post types. REST endpoints listing posts need to call `load_theme_functions()` to work with these. I did a bugfix in

[2021-01-11 10:09] klimeryk commented on #48746
@aidvu or someone else from Atomic - could look into this? :pray: Cobalt is happy to help but this heavily touches Atomic _and_ Jetpack and my guess is that you have the most experience and context around it 🙇‍♂️

[2021-01-11 11:06] flootr commented on #24162
Reduxify the `withFormBase` HOC as well as `<Profile />` in https://github.com/Automattic/wp-calypso/pull/48730

[2021-01-11 11:18] ilyasfoo commented on #48423
@mattsherman Thank you so much for your insight, I have tested `is_wpcom_store` option and found it to accurately identify a site with AT, installed & activated WooCommerce plugin!

[2021-01-11 12:22] jsnajdr commented on #48733
The `tree-select` library supports only object-like keys than can be used as keys in a `WeakMap`. It will reject a boolean `false` value, too. `null` and `undefined` is a special case we needed to introduce to make it work with reducers' initial states that are often `null`.

The empty string is not a valid value for the `state.stats.lists.items` state and it should never get there in the first pl

[2021-01-11 12:42] AtrumGeost commented on #44078
We got a report from an HC here pbEMJv-u8-p2 (includes steps to reproduce and a gif)

[2021-01-11 13:19] jeherve commented on #42845
Also reported in p8oabR-B4-p2#comment-4879

[2021-01-11 13:39] jsit commented on #43068
@davemart-in:

I am getting confused! :) I spent hours this weekend diagnosing what I thought was a Jetpack problem when it turned out to be a Safari problem. A message in wp-admin would have saved me a lot of agony.

[2021-01-11 14:03] WunderBart commented on #48733
Fixed via D55104-code

[2021-01-11 14:03] #48733 closed, assigned to noahtallen

[2021-01-11 14:29] scruffian opened #48766 "Global Styles: Fonts: Don't load if the theme doesn't support it."
Global Styles loads custom fonts even when the theme doesn't declare support for them. This means we have a different view in the editor and the frontend. See pNEWy-duL-p2#comment-52549

#### Steps to reproduce

1. Create a Simple Site with a Varia based theme that supports global styles
2. Select some custom fonts
3. Switch to Twenty Twenty One
4. Notice that your editor doesn't match the front e

[2021-01-11 15:02] ciampo opened #48767 "Plans Grid: add monthly pricing to plans data-store"
### Why

As mentioned in p7rd6c-2ES-p2, as part of the global rollout we should add monthly pricing option to /new and the Launch flows.

### What

In order to enable monthly pricing, the plans data-store needs to be able to handle the new monthly plan products: `1019 (Personal)`, `1013 (Premium)`, `1018 (Business)`, `1021 (eCommerce)`

### Acceptance criteria

- [ ] The data store needs to store

[2021-01-11 15:14] mmtr opened #48768 "Nav Unification: Wrong color scheme when loading "Account settings" in the browser"
I followed the steps for testing the alpha version of the Nav Unification project for the first time (paYJgx-1af-p2#testing-simple-sites) and noted that the new menu is using a bright color as background when loading the "Me > Account settings" page directly in the browser (https://wordpress.com/me/account). Navigating away to "My sites" and going again back to "Me > Account settings" results in t

[2021-01-11 15:26] ciampo opened #48769 "Plans Grid: add Toggle component"
### Why

As mentioned in p7rd6c-2ES-p2, as part of the global rollout we should add monthly pricing option to /new and the Launch flows.

### What

In order to enable monthly pricing, the Plans Grid package needs to implement a **toggle component** that will allow the user to switch from annual to monthly billing.

### Acceptance criteria

<img width="741" alt="Screenshot 2021-01-11 at 16 27 25" s

[2021-01-11 16:03] EmreYigitAlparslan opened #48770 "Editor: Localization bug"
I have clicked on the "Add a menu" button in my new site's home. It directed me to Editor, and a tip popup has shown up. Although the rest of the page was Turkish, the tip description was English.

#bug #editor

<img width="1435" alt="Screen Shot 2021-01-09 at 4 43 06 PM" src="https://user-images.githubusercontent.com/9999399/104205569-9be3c300-543f-11eb-97c5-efe5681051a2.png">

[2021-01-11 16:04] WunderBart opened #48771 "Gutenberg: 9.7 Plugin Upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/48426
Release notes: [v9.7.0](https://github.com/WordPress/gutenberg/releases/tag/v9.7.0), [v9.7.1](https://github.com/WordPress/gutenberg/releases/tag/v9.7.1), [v9.7.2](https://github.com/WordPress/gutenberg/releases/tag/v9.7.2)

### Process

- [x] Install and activate
  - [x] Copy 9.6.2 to 9.7.0 (D55157-code)
  - [x] Install 9.7.0

[2021-01-11 16:23] emilyaudela commented on #48770
The [string](https://translate.wordpress.com/projects/wpcom/tr/default?filters%5Bterm%5D=here+you+can+control) hasn’t been translated yet. I have added it to our watched paths and it will be sent to translation next week. I have also created a [deliverable](https://translate.wordpress.com/deliverables/overview/5428162/) so that our internal team can take of it faster for some languages.

[2021-01-11 16:24] kriskarkoski opened #48772 "Verse block display has changed following Gutenberg update"
Following our update to Gutenberg 9.6.2 there are user reports of the look of the verse block has changed.

#### Steps to reproduce

1. View a post containing a Verse block
2. The look of the block has now changed from how it looked previously

#### What I expected

The update to have not impact on the look of the verse block.

#### What happened instead

The look of the block changed.

Initial re

[2021-01-11 16:31] mikeicode commented on #48772
Appears to be related to CSS `white-space`

How it currently looks:

![https://d.pr/i/rGkNI3](https://d.pr/i/rGkNI3+)

After adding the following:

[code]

![https://d.pr/i/ibvNfC](https://d.pr/i/ibvNfC+)

[code]

[2021-01-11 16:36] obenland commented on #48239
@eduardozulian Have you had a chance to try reproducing the bug yet? Trying to see if this has been fixed previously.

[2021-01-11 16:37] sirreal commented on #48772
https://github.com/WordPress/gutenberg/pull/27734 introduced a related change.

[2021-01-11 16:38] obenland commented on #48220
—@getdave

[2021-01-11 16:51] tbradsha opened #48773 "Customizer: Color picker isn't showing labels or complementary colors on Atomic sites"
#### Steps to reproduce

1. Activate a theme (e.g. Seedlet) on an Atomic site.
2. Go to Customizer → Colors & Backgrounds.
3. Select one of the color circles.

The color circle labels and complementary colors don't show.

#### Browser / OS version
Chrome 87.0.4280.141 on macOS 11.1

#### Screenshot / Video
Screenshot showing missing labels/complementary colors:
* ![](https://user-images.githubuser

[2021-01-11 17:07] carinapilar commented on #48772
Got another report on 14842845-hc

EDIT: the CSS only didn't fix the issue though, it shows all content without the original formatting.

[2021-01-11 17:44] kathrynwp commented on #48772
Also ran into this in 26170324-hc - CSS workaround did the trick

[2021-01-11 17:59] aidvu commented on #48746
This has been a long standing issue. We're trying to make Jetpack connections unbreakable. W/o that, I think it's not going to be easy to fix this. It would take quite a while to untangle all the stuff. /cc @brandonpayton

[2021-01-11 18:10] noahtallen commented on #48733
We currently have to play whackamole with different Gutenberg functions which might rely on the theme functions at the "wrong time". So I wonder if there is a way to support that more generally instead of having to track down the error and adding exactly the same fix every time.

[2021-01-11 18:45] sirbrillig commented on #48736
I took a look at the history for that component (`PurchaseMetaPaymentDetails`) and this logic has been present for around 3 years, and I think a lot longer. In this particular case, the function `isExpiring()` returns true if the expiry status on the purchase object is `manualRenew`. (You did make a related modification in 2019, for expired cards in https://github.com/Automattic/wp-calypso/pull/34

[2021-01-11 18:54] sirbrillig commented on #48736
In a larger sense, though, I think maybe "None" may be better UX, since AFAIK it doesn't matter if there's a payment method set on a subscription if auto-renew is disabled, right? Perhaps a better way to fix this would be to change the endpoint such that if a payment method is added to a subscription, the subscription gets auto-renew turned back on?

[2021-01-11 19:25] sirbrillig commented on #48736
I made https://github.com/Automattic/wp-calypso/pull/48775 to fix this issue, but as I said above, I wonder if it's the right solution.

[2021-01-11 20:12] cathymcbride commented on #48724
Hi @marcuswisecaesar! Can you add more information to this? What sort of site are you on? I'm having trouble reproing this.

[2021-01-11 20:51] AtrumGeost commented on #30252
Another report here: 26935374-hc

Site has 150 pages

[2021-01-11 21:35] kwight commented on #48773
Yes, I can confirm this is Atomic-only, and I see the same `Uncaught TypeError: ct.suggestions.spin is not a function` error when clicking on the color circles.

[2021-01-11 21:52] kwight commented on #48773
`spin()` seems to be a jQuery thing loaded here: https://github.com/Automattic/custom-colors/blob/remove/custom-design-dep/colors.php#L136. If having access to the script is a problem, I don't see why we couldn't just remove the spinner usage.

[2021-01-11 21:57] kwight commented on #48773
Keep in mind that Custom Colors on Atomic is run via a `wpcomsh` submodule (on the `remove/custom-design-dep` [branch](https://github.com/Automattic/custom-colors/blob/remove/custom-design-dep/colors.php)).

[2021-01-11 22:07] #47518 closed

[2021-01-11 22:12] eduardozulian commented on #48241
@cpapazoglou @obenland not seeing that any longer. Looks like it's all good!

[2021-01-11 22:15] p-jackson commented on #48381
Same! This seems like a really useful scenario to cover in our starter designs!

[2021-01-11 22:15] eduardozulian commented on #48239
@cpapazoglou @obenland cannot reproduce this anymore. Thank you for the ping!

[2021-01-11 22:15] #48239 closed, assigned to nobody

[2021-01-11 22:15] #48096 closed, assigned to nobody

[2021-01-11 22:16] #48241 closed, assigned to nobody

[2021-01-11 22:47] DavidRothstein commented on #48736
Answer, three months ago, intentionally: https://github.com/Automattic/wp-calypso/pull/46625

Personally I think both solutions might be good changes, but I agree this one is worth doing no matter what -- especially since it looks like that's what we already do when adding a **new** credit card.

[2021-01-11 23:12] mreishus commented on #48773
There are two different `color.php`s that provide this feature.

### Simple
`colors.php` in mu-plugins.  It registers a hook to run `wp_enqueue_script( 'jquery.spin' );` `/wp-includes/js/jquery/jquery.spin.js` exists in the repository, and my browser loads `/wp-includes/js/jquery/jquery.spin.js` successfully.

### WOA
`colors.php` in `custom-colors`, a submodule of `wpcomsh`.  It also registers a

[2021-01-11 23:30] marcuswisecaesar commented on #48724
Hello @cathymcbride !

Apologies for not providing more information!

Simple Site > Premium Plan

Here are 2 .gif's to illustrate:

![screenshot](https://d.pr/i/znwni5+)
[Direct Link](https://d.pr/i/znwni5)

![screenshot](https://d.pr/i/I4EbVl+)
[Direct Link](https://d.pr/i/I4EbVl)

This is on a Simple Personal Plan site:

![screenshot](https://d.pr/i/D6gWMS+)
[Direct Link](https://d.pr/i/D6gWMS)

[2021-01-11 23:31] mreishus commented on #48773
20-gh-Automattic/custom-colors : I think this might do it, but I haven't found a way to test it on an atomic site yet.  There is the ephemeral atomic creation tool, but I haven't been able to recreate the original problem there.  Will continue looking tomorrow.

[2021-01-11 23:37] deBhal commented on #48585
Does `iframe-bridge-server` need the same `s/edit-site/edit-post` or should we remove both the test and the code that's currently checking the wrong package instead?

I believe the test failure is telling us that this "back to dashboard fill" `render()` will always be null:

https://github.com/Automattic/wp-calypso/blob/7c89b922988fa7d57ad71f2e83fdbc442cc10818/apps/wpcom-block-editor/src/calypso/f

[2021-01-11 23:47] kwight commented on #48773
Hm, maybe this is because core has been removing... all? some? of jQuery – and maybe we've kept it on dotcom (total slightly-more-than-not-educated guess).

Regardless, your approach looks great (add the missing script to the submodule itself). The easiest way to test is likely using your stock Jetpack local test environment, and install the `wpcomsh` plugin by hand. You'll need make sure the subm

[2021-01-11 23:47] roo2 commented on #48751
I'll work on getting the welcome guide link to open the correct welcome tour based on the user, currently it always opens the old one
<img width="375" alt="Screen Shot 2021-01-12 at 10 40 43 am" src="https://user-images.githubusercontent.com/22446385/104251283-21588900-54bb-11eb-98ae-66409b16bc10.png">

p1610398000280900-slack-CRWCHQGUB?thread_ts=1610395157.280100&cid=CRWCHQGUB
p1610408472294700-s

[2021-01-12 00:13] sirbrillig commented on #24019
https://github.com/Automattic/wp-calypso/pull/48687, https://github.com/Automattic/wp-calypso/pull/48782, https://github.com/Automattic/wp-calypso/pull/48743, and https://github.com/Automattic/wp-calypso/pull/48744 take care of:

- `PlanBillingPeriod`
- `GSuiteAddUsers`
- `Customize`
- `CompletePurchaseNotice`
- `HostCredentialsPage`

This leaves basically just domains pages.

[2021-01-12 01:46] #48639 closed, assigned to becdetat

[2021-01-12 02:44] the-curioustech opened #48786 "Desktop build docs inaccurate"
#### Steps to reproduce

1. Starting at URL: wp-calypso root folder
2. cd desktop
3. make build // as per the documentation
4.

#### What I expected
for the desktop app to be built

#### What happened instead
$ node desktop/bin/build-desktop-config.js
Config file config/secrets.json does not exist. Please create one.
error Command failed with exit code 1.

#### Browser / OS version
firefox - lates

[2021-01-12 02:58] the-curioustech commented on #48786
might have found it...

[2021-01-12 03:05] the-curioustech commented on #48786
okay - found the docs to generate the secrets.json file.  i would recommend linking to them in the build readme to make it easier to find.

also, there is a hard coded oath client id in the desktop build script.  should that not be there?  shouldn't this rely on the secrets.json file that isn't shared with anyone?

[2021-01-12 03:22] ollierozdarz commented on #47788
Hi @StefanNieuwenhuis and @ciampo.

I was hoping to use the '_Unavailable with domain_' text as it explains the situation better than the current '_Select free_', i.e. We're telling the user that this plan is unavailable to select because they've selected a premium domain, rather than providing no context.

For the text in Orange (domain X is not available), this may have just been an oversight on

[2021-01-12 07:45] Nic-Sevic commented on #44891
Also happening here: 3622499-zen

Additionally, tried to add More block to force to show but still not showing

[2021-01-12 08:23] ciampo commented on #47788
Hey @ollierozdarz, thanks for your reply!

For the button in the disabled _Free Plan_ card, we'll use  ~`Unavailable with domain`~  (across both table and accordion variants):

<img width="413" alt="Screenshot 2021-01-08 at 13 07 15" src="https://user-images.githubusercontent.com/12104589/104013921-73936480-51b2-11eb-86e1-c57cba3b127e.png">

For the text in orange, we can go with what's currently

[2021-01-12 08:33] StefanNieuwenhuis commented on #47788
#### TL;DR
* Button's copy will be changed to: `Unavailable with domain`
* Orange text will be changed to: `[domain] is not included`

-----

Thanks for your reply, Ollie!

@ciampo I've checked the new copy in desktop mode and the copy breaks in both English as more verbose languages but only on the `$break-huge` (i.e. screens `> 1440px`) breakpoint. Besides the fact that we cannot do much about t

[2021-01-12 09:16] ciampo opened #48789 "Plans toggle: extract Toggle (segmented control) component to separate package"
### Why

In order to reduce technical debt, we should move common UI components to packages

### What

In #48769, the Plans toggle component is implemented by making a copy of the [`<SegmentedControl />` calypso component](https://github.com/Automattic/wp-calypso/tree/trunk/client/components/segmented-control) and reskinning it with CSS.

This should only be a temporary solution

### A/C

- [ ] Th

[2021-01-12 12:20] davemart-in commented on #43068
@jsit I'm so sorry! Thank you for reporting this.

[2021-01-12 13:05] cpapazoglou commented on #48182
We can make that happen, sure.

Let me recap:

**Desktop** (both calypso & wp-admin):
- Clicking "My Sites", "Reader", "Me" switches to the respective screen

**Mobile** (wp-admin):
- Clicking "My Sites" opens the sidebar.
- Clicking "Reader", "Me" redirects to calypso with the respective sidebar open

**Mobile** (calypso):
- Clicking "My Sites", "Reader", "Me" opens the respective sidebar. We may

[2021-01-12 13:15] #47372 closed

[2021-01-12 13:34] #48107 closed, assigned to tjcafferkey

[2021-01-12 13:46] sophiegyo commented on #45881
26952242-hc

"Updating failed. Sorry, you are not allowed to assign the provided terms."

Simple site, Chrome 87 on Windows 7.
The post somehow got trashed, but we got it back from the trashed section.
I didn't get around to telling the user to try clearing their browser cache but they'll be testing adding tags/categories first and saving the draft, before adding the content of the post.

[2021-01-12 14:39] rickybanister commented on #48381
Can the default width of the browser be adjusted when snapping the mshot? These are intended to be 'mobile-first' style designs and should be zoomed into the content more vs short as you show above.

[2021-01-12 15:22] WunderBart commented on #48426
Next upgrade: https://github.com/Automattic/wp-calypso/issues/48771

[2021-01-12 15:22] #48426 closed, assigned to nobody

[2021-01-12 15:33] sixhours opened #48804 "Consider selling Quick Start sessions from My Home"
**What**

Add a banner or a sub-section to My Home to upsell Quick Start sessions to make them easier to find.

**Why**
(Required) Why are you requesting this feature?  Add a concise description of the problem this feature solves.

This was based on an HE request, since it's currently difficult to point users to the Quick Start sessions to purchase them.

Reference: p1610417237360900-slack-C02DQP0

[2021-01-12 15:37] ghost commented on #48182
Yes, this sounds good! It would be great to test it out to make sure it feels right.

Also yes, and I like the idea of it being more consistent.

[2021-01-12 15:44] dolgelukkig commented on #46614
User came back in chat asking about an update as their posts are sent to their readers as full text and they don't want that.
Advised user to switch on Limit feed to excerpt on settings page

[25065806-hc](https://mc.a8c.com/support-stats/happychat/transcript.php?id=25065806)

[2021-01-12 15:51] ianstewart opened #48808 "Launch Flow Plans Page: Monthly/Yearly Toggle display issues"
#### Steps to reproduce the behaviour

This should reproduce if you're in the correct test flow. These steps could likely be updated to trigger the correct screen via the console.

1. Create a new site on WP.com
2. Launch your site
3. Observe toggle on launch screen

**Screenshot of Launch Flow Plans Screen:**
![image](https://user-images.githubusercontent.com/545779/104337719-667cbb00-54bb-11eb-8

[2021-01-12 15:53] ianstewart commented on #48808
cc @ollierozdarz

[2021-01-12 16:14] davipontesblog commented on #41859
@davemart-in do you think this is still relevant in light of Nav Unification, or should we close as a "no-fix"?

[2021-01-12 16:16] davipontesblog commented on #33008
This might still be relevant to how we display "Plugins" in Nav Unification.

[2021-01-12 16:26] davemart-in commented on #41859
I'd say let's make sure we're not opening up in new tabs in the new nav, then close this. cc @obenland

[2021-01-12 16:33] david-szabo97 commented on #48149
Leaving an update here:
- Looks like we won't be able to add the `block-editor` class to the site editor
- So we are pushing https://github.com/Automattic/block-experiments/pull/156 to be merged.

[2021-01-12 16:33] david-szabo97 commented on #48276
Update: Waiting for https://github.com/Automattic/wp-calypso/issues/48149 to be merged. That should fix this issue as well as #48149

[2021-01-12 17:32] obenland commented on #41859
The Browse Sites link is a regular admin menu link now that opens in the same tab. Calypsoify should be disabled once nav-unification goes live.

[2021-01-12 17:32] #41859 closed

[2021-01-12 17:34] DavidRothstein commented on #48703
This is an issue for expired cards specifically, since they aren't shown at https://wordpress.com/me/purchases/payment-methods so there's no way to delete them.

We're discussing the overall behavior of expired cards internally at 93-gh-Automattic/payments-shilling and that would handle this issue, but I'll keep it open separately for now since perhaps it's possible we could handle just showing th

[2021-01-12 17:55] #47924 closed, assigned to nobody

[2021-01-12 18:02] kriskarkoski opened #48814 "AMP link in WP Admin does not work when site is not public"
AMP is unavailable on sites that do not allow search indexing and we handle this inconsistently. On a site that is hidden from search engines the following behavior is present:

- The AMP panel is hidden at https://wordpress.com/customize/amp/k2testblog.wordpress.com
- The AMP link is present in WP Admin under Appearance > Amp, but the link it opens (https://k2testblog.wordpress.com/wp-admin/custo

[2021-01-12 18:18] noahtallen opened #48815 "ETK: wpcom testing without need for sandbox"
Current status: discussing possible approaches to this problem with systems. (pMz3w-crN-p2)

### Overview:

It is not possible to test undeployed changes to simple sites without using a sandbox. This can be problematic for stakeholders or designers or others who don't have wpcom sanboxes.

Ideally, we would be able to use something like a git branch to do testing, similar to gutenberg.run or calyp

[2021-01-12 18:18] designsimply opened #48816 "Get Apps: "Email me a log in link" button fails silently"
Steps to reproduce:

1. Go to Account > Get Apps.
1. Click the "Email me a log in link" button.
1. Press Control + Shift + i to open Developer Tools Console.

**Result:** the "Email me a log in link" button on the Get Apps page fails silently. ([23s](https://cloudup.com/c7nYJ54WnTs))

**Note:** the following errors appear in the console:

<img width="1280" alt="Screen Shot 2020-04-20 at Apr 20 11

[2021-01-12 18:25] michaeldcain opened #48818 "Payment Methods: assigning stored cards and PayPal to subscription should enable auto-renew"
To solve the main part of https://github.com/Automattic/wp-calypso/issues/48736 (and to match the behavior of adding a new card to a subscription, which already works this way).

[2021-01-12 18:31] nsakaimbo opened #48819 "Desktop app: Unable to use editor immediately after Atomic upgrade"
### Steps to reproduce

In the Desktop app:

1. Upgrade a Simple site by purchasing an eCommerce plan with custom domain
2. Click the "Write" button

User is transported to the "Uh-oh" splash page, indicating that a request failed.

Note: if the user toggles SSO for their new site to "on" (outside of the Desktop app), they will be able to proceed as expected.

_Notes_:

My guess here is the redux

[2021-01-12 19:00] noahtallen opened #48822 "ETK: Improve wpcom diff creation"
We currently have a process which takes an ETK PR and turns it into a diff which could be applied to a wpcom sandbox for testing. I'd like to improve the script to address these problems:

1. It is fairly hacky and ad-hoc. Really not an ideal implementation.
2. It does not support binary files, like images, because it relies on a text diff operation. (see pbAok1-1NO-p2)
3. It sort of extends or re

[2021-01-12 19:04] apeatling opened #48823 "Starter Page Templates: Re-add e2e tests"
As part of updating the starter page templates UI, the tests were removed because of extensive changes to the UI and feed source. These tests need to be updated and re-added to the repo.

https://github.com/Automattic/wp-calypso/pull/48474

[2021-01-12 19:10] cathymcbride commented on #48701
Adding console error as text: `Uncaught ReferenceError: wpcom_reblog is not defined at Object.JetpackLikesMessageListener [as fn] `

[2021-01-12 19:10] obenland opened #48824 "Nav Unification: All Sites mode"
All Sites mode is currently broken as Nav Unification seems to expect a selected site at all times.

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to https://wordpress.com/posts
2. Click on Upgrades > Domains (should work, but without a null query arg)
3. Click on Upgrades (site selector shows up, not an All Sites screen)

![image](https://user-images.githubuserconte

[2021-01-12 19:16] nsakaimbo opened #48825 "Desktop app: Explore Simplified Architecture"
The desktop app's existing architecture is subject to a number of prior and ongoing bugs that require Desktop-specific workarounds.

These bugs include inconsistencies in behavior between the Desktop application experience and WordPress.com web (a number of user flows are simply broken), and a variety of issues related to Atomic and self-hosted users who out of necessity have to be transported out

[2021-01-12 19:24] #46600 closed

[2021-01-12 20:12] dolgelukkig commented on #45881
3803868-hc

Simple site, Personal plan
Chrome browser, A Samsung notebook with Windows 10

They cleared the cache and changed their password and they are good to go.

[2021-01-12 20:28] sstabrizi commented on #35800
Another report here: #26961092-hc

[2021-01-12 20:43] noahtallen opened #48830 "wpcom-block-editor: wpcom sync script does not sync initially"
## Overview
The very first time you run `yarn wpcom-sync` for the wpcom-block-editor, it will not sync any files to your sandbox. It will only sync once you've made changes after starting the script. Ideally, the script would sync all the files up front and also continue to do so after you make changes. In fact, the editing toolkit supports this.

Perhaps we should move the script to a more centra

[2021-01-12 20:45] noahtallen opened #48831 "Sync scripts: allow a production build with single sync"
## Overview

We have a sync script for ETK and wpcom-block-editor which can rsync changes to your sandbox. This script should support a one-off mode, where you can build and then sync the files once.

Props to @jsnajdr for the request

## Context

n/a

[2021-01-12 20:48] noahtallen opened #48832 "wpcom-block-editor: build script builds too many files"
## Overview

from @jsnajdr:

## Context

n/a

[2021-01-12 20:55] noahtallen opened #48833 "ETK: Improve build scripts"
## Overview

The [editing toolkit plugin build scripts](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/package.json) are kind of convoluted. This is difficult for new contributors having to add a significant amount of boilerplate which is the same for all submodules, but also results in very strange build output. Instead of one single JS/CSS bundle which is loaded and sen

[2021-01-12 21:03] p-jackson commented on #48381
We can pick the browser width yes. I wonder if in that case we should also auto-select the mobile view when advancing to the next step.

<img width="432" alt="Screenshot 2021-01-13 at 9 59 04 AM" src="https://user-images.githubusercontent.com/1500769/104374102-3d752c80-5586-11eb-810f-46dda5b4a440.png">

That way the user isn't surprised that it looks different from what they saw in the gallery. Pl

[2021-01-12 21:42] JoshuaGoode commented on #48772
[The change to fix this modifies](https://github.com/WordPress/gutenberg/pull/28109/files) white-space to use `pre-wrap`

Temporary workaround CSS for Atomic could look like the following for consistency.

[code]

[2021-01-12 22:30] ccwalburn opened #48839 "Manage Purchases: Change button text when turning off auto-renew"
When toggling off autorenew for a subscription in Manage Purchases, the text on the confirmation button makes it sound like you are cancelling the subscription which is not always the case. Some users turn off autorenew to give themselves more time to pay.

![screenshot](https://d.pr/i/BwTNMc+)
Image URL: https://d.pr/i/BwTNMc

I know the text says "cancelling auto-renewal" but users often skim te

[2021-01-12 22:39] ianstewart commented on #48381
cc @ollierozdarz

[2021-01-12 22:44] macmanx2 opened #48840 "Desktop app: "Write" for Jetpack sites redirects to /wp-admin/post-new.php?post_type=post"
#### Steps to reproduce the behavior

1. Open the Desktop app
2. Click on Write for any Jetpack site.

#### What I expected to happen

That the post editor would open in the app.

#### What actually happened

You'll be sent to the site's /wp-admin/post-new.php?post_type=post in your system's default browser.

#### Context

Initially reported at https://wordpress.com/forums/topic/wordpress-com-desk

[2021-01-12 23:13] kbrown9 opened #48841 "SEO Tools: eligible plans are prompted to upgrade in order to show previews"
#### Steps to reproduce the behavior

1. Create a Jetpack site with a Jetpack Security Daily, Jetpack Security Real-time, or Jetpack Complete plan.
2. Go to Tools > Marketing > Traffic, and make sure "Enable SEO Tools to optimize your site for search engines" is enabled.
2. Scroll down to the "Website Meta" section and click the "Show Previews" button.

#### What I expected to happen

I expected t

[2021-01-13 00:05] serabi opened #48842 "Blog Posts Block: Posts only show once on the page."
@kcswong and I were working with a customer today who is using a variety of Blog Posts Blocks on their home page to show posts in specific categories. Some of their posts are in multiple categories (it's a food blog, so topics overlap at times).

We discovered that if there are multiple Blog Posts blocks, and a post is already showing up in a block further up, it won't show up in a block further d

[2021-01-13 00:28] designsimply commented on #48819
Adding a quick screenshot + error as text for reference:

![screen-shot-2020-12-18-at-dec-18-5 06 33-pm](https://user-images.githubusercontent.com/1119271/104390093-27218f00-54fa-11eb-8b69-719b1fc57e23.png)
<sup>Tested with WPDesktop 6.7.0-beta2 on macOS 10.15.6 on madefortesting121820.wordpress.com (eCommerce Plan) with custom domain madefortesting121820.com (added just prior) and logged in as te

[2021-01-13 00:47] ramonjd commented on #48316
Hi all!

Is it happening on newly-created sites? And are they only Atomic? Thanks!

[2021-01-13 01:19] the-curioustech opened #48844 "Desktop app not launching in Linux"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. On fresh install of opensuse or pop is, download latest wp desktop tar
2. Extract tar
3. Navigate into extracted folder
4. Double click wpcom
5. Nothing happens.

#### What I expected to happen
For the app to launch.

#### What actually happened
I get an error stating that the file URI couldnt be found for the file I double

[2021-01-13 01:55] lsl commented on #47089
I believe these changes will need to be made on the [`LoginForm` block](https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058aa6bc0e82b7/client/blocks/login/login-form.jsx#L533). ([Used here](https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058aa6bc0e82b7/client/blocks/login/index.jsx#L466))

Good catch about [client/auth/login.jsx](https://github.com/A

[2021-01-13 01:58] the-curioustech commented on #48844
here is the error when I attempt to launch the app.  this is the 5th distro that i've tried - including an Ubuntu based distro, Pop_OS!

Unable to find device for URI: Containing mount for file /path/to/extracted/wpcom not found

[2021-01-13 03:28] isocialtish opened #48847 "Editor: Persistent Autosave message, even after saving Post"
#### Steps to reproduce the behavior
1. Add content to a post and Publish
2. Delete content from the post
3. Click Update, wait for this change to save.
4. Click "Back" button in browser.
5. Return to the page and see auto-save message.

#### What I expected to happen
After I delete text, save the change, and come back I shouldn't see "The backup of this post in your browser is different from the

[2021-01-13 03:45] ollierozdarz commented on #47788
Nice work, @ciampo and @StefanNieuwenhuis 🙂

Do we have any screenshots of how these changes look in the zoomed out UI (i.e. not just a screenshot of the button) in the focused launch flow and any other locations it'll be included?

[2021-01-13 04:10] lsl commented on #48033
Looks that way, thanks everyone!

[2021-01-13 04:10] #48033 closed, assigned to yuliyan

[2021-01-13 04:32] josephscott commented on #48833
In general only loading what is actually needed at the time is a good thing.  @sgomes has worked with the Calypso code base more than I, he may have more specific insight for this specific case.

[2021-01-13 05:18] scinos commented on #48831
Maybe there is an opportunity here to standardize the 'sync with sandbox' flow across the whole repo. AFAIK all apps under `apps/` use it.

[2021-01-13 05:24] scinos commented on #48833
In general, assuming we use HTTP/2 to serve assets and a decent client caching, it is better to serve multiple files.

[2021-01-13 06:27] jsnajdr commented on #48831
:+1: All `apps` do the same thing when syncing, except the source and target directories. And the implementation is currently inconsistent. `o2-blocks` don't have a sync task at all. `notifications` sync only once and don't support watching with `chokidar` after that. `wpcom-block-editor` has the opposite bug, not doing the initial sync and only watching for changes while running.

[2021-01-13 06:31] andrewserong commented on #48381
That's a good point, and like Phil mentions we can set a different browser width for each screenshot if we need to. The only thing is, how would those screenshots look next to each other if some are optimised for desktop and others for mobile. I could imagine it looking a bit odd if some are more zoomed in than others.

We can definitely play around with it. If we can get a mock-up for how it shou

[2021-01-13 06:49] jsnajdr commented on #48833
We should continue to build and deploy a separate script for each module. I don't think anyone ever suggested merging them into one -- I certainly didn't 🙂

The issue with build scripts is that each of the scripts is built with its own NPM task, using `calypso-build --source='...'`. And that there are almost 60 NPM tasks in the `editing-toolkit/package.json` file.

The build task could be merged i

[2021-01-13 07:17] pauljacobson opened #48849 "Follow Blog Widget: Localized links don't direct site owners to the Customizer to edit widget options"
Our customer's site is set to Italian. They reported that when they click on the _gestisci_ link to manage the Follow Blog widget's options, the link does not direct them to the Reader page to _Manage Following_.

Instead, it basically takes you to a _Not Found_ page.

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to https://economiaconamalia.com when accessing the s

[2021-01-13 08:51] inaikem commented on #48703
Thanks for the context. I've not been able to test it myself yet but I'd like to know if the behaviour described here also applies to valid cards:.

_Payment method added, used to purchase and removed but still billed on renewal if auto-renew was enabled._

It seems to me that removing the card should take precedence over the renewal regardless of the payment method's validity (there's clearer int

[2021-01-13 09:30] StefanNieuwenhuis commented on #47788
@ollierozdarz thanks! Can you please confirm that these changes are correct so that we can publish them?

**Good to know!** The orange buttons are due to the selected `wp-admin` theme and not caused by an unwanted side-effects of our code.

#### Focused Launch
<img width="1286" alt="Screenshot 2021-01-13 at 10 01 17" src="https://user-images.githubusercontent.com/12104589/104430030-82995e80-5586-1

[2021-01-13 10:21] scruffian commented on #45456
I don't believe this is a theme issue, so I'm going to remove it from our board. If you disagree let me know!

[2021-01-13 10:22] #48808 closed, assigned to nobody

[2021-01-13 11:04] rickmgithub commented on #45881
User came back here saying they keep clearing the cache and have been for a while - #3645278-zd

[2021-01-13 12:17] sgomes commented on #48833
Thanks for looping me in, @josephscott!

To add my voice to the chorus, the end goal should always be to ship as little JS as possible, and to do so only when it's needed. It isn't exceedingly important these days whether it's coming from one or multiple scripts, as long as they all come from the same origin, so that connection setup costs are mitigated.

How to accomplish this, and how close to g

[2021-01-13 12:28] getdave opened #48863 "WoA subdomain used for WoA Atomic site"
Revert an WoA site (P9HQHe-jY-p2) with Nav Unification turned on.

All Nav items are still using the WoA subdomain `.wpcomstaging.com` and have not reverted to the Dotcom Simple subdomain `.wordpress.com`.

@obenland

[2021-01-13 13:06] #48404 closed, assigned to flootr

[2021-01-13 13:19] #48315 closed, assigned to cpapazoglou

[2021-01-13 13:30] carinapilar opened #48865 "Customizer: Missing Site Icon Setting"
#### Steps to reproduce the behavior
1. Find an old site on your account, where you had a Site Icon set on WP-Admin > Settings > General
2. Open the Customizer to set up the Site Icon on Site Identity

#### What I expected to happen
To see the Site Icon option on Customizer > Site Identity. Which is also where you're directed to from Calypso on Manage > Settings.

#### What actually happened
When

[2021-01-13 13:40] vindl opened #48866 "Site Editor: font previews are not working in Horizon flow"
The font previews are broken in FSE Horizon signup flow again.

<img width="1552" alt="Screenshot 2021-01-13 at 14 39 41" src="https://user-images.githubusercontent.com/1182160/104459564-31509580-55ad-11eb-82b2-f8bf479447a1.png">

There are not working for both themes this time. Along with the fix it would be good to investigate what's causing the breakage every couple of weeks and document it.

[2021-01-13 13:45] simison opened #48867 "New Onboarding: add translated design thumbnails"
At translated version of the New onboarding flow (https://wordpress.com/new/design/es), design thumbnails are in English.

Let's get them translated, so that the first impression is better for non-English speakers.

<img width="1729" alt="Screenshot 2021-01-13 at 15 42 10" src="https://user-images.githubusercontent.com/87168/104460055-467df200-55b6-11eb-9ae7-fbee26b47e39.png">

In the preview tran

[2021-01-13 15:21] tyxla commented on #24180
#48868 and #48877 are preparatory PRs to organize code and remove unnecessary bits from the legacy wporg plugins store.

[2021-01-13 15:21] jmdodd commented on #48863
This may be a caching issue.

[2021-01-13 15:32] ivan-ottinger commented on #48316
Here are the details on the issues I reported above:

- 3570337-zd-woothemes - Personal / Simple; the site was created on 2020-12-08; the issue noticed on 2020-12-14
- 26838449-hc - Premium / Simple; the site was created on 2021-01-07; the issue noticed on the same day when the user wanted to make the site Public
- 26864179-hc - Premium / Simple; the site was created on 2020-04-12; the issue notic

[2021-01-13 15:35] mmtr commented on #48552
This should be fixed by:
- D55269-code (Simple sites)
- https://github.com/Automattic/jetpack/pull/18328 (JP and AT sites running the next release of Jetpack).
- 578-gh-Automattic/wpcomsh (JP and AT sites running the current release of Jetpack)

[2021-01-13 15:36] simison commented on #48741
FYI @Automattic/good-mountain to track as fixed by Gutenberg 9.7

[2021-01-13 15:47] cathymcbride commented on #45881
@rickmgithub with success or no?

[2021-01-13 15:55] mreishus commented on #48773
580-gh-Automattic/wpcomsh is the next step of the process.

[2021-01-13 16:30] Addison-Stavlo commented on #48149
Update - https://github.com/Automattic/block-experiments/pull/156 is merged.  Once the next release (newer than 1.3) goes out we can verify this is fixed and close.

[2021-01-13 16:31] Addison-Stavlo commented on #48276
Update - https://github.com/Automattic/block-experiments/pull/156 is merged.  Once the next release (newer than 1.3) goes out we can regenerate the images for the picker.

[2021-01-13 16:45] razvanpapadopol opened #48880 "New Onboarding: new-launch plans step layout on mobile"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to `/new` and create a site, then start Launch flow from My Home on mobile
2. Advance to plans step

#### What I expected to happen
A mobile layout like the one used in reskinned onboarding.
Mentioned in https://github.com/Automattic/wp-calypso/pull/48811#issuecomment-759235841 and https://github.com/Automattic/wp-calypso

[2021-01-13 16:47] ianstewart opened #48881 "Add New Page Screen: rendering issue with galleries in thumbnails and previews"
To reproduce this issue, visit the new page screen in Calypso.

Gallery screens are not correctly rendering in thumbnails.

![image](https://user-images.githubusercontent.com/545779/104482486-9b0c7780-558c-11eb-8d9d-d33ddaf7c698.png)

The Mayland layout is not rendering at all in preview.

![image](https://user-images.githubusercontent.com/545779/104482566-ae1f4780-558c-11eb-845f-6bb9cebfe296.png)

[2021-01-13 16:57] DavidRothstein commented on #48703
Deleting a credit card also removes it from all subscriptions, so no, it shouldn't be an issue for any valid card that is deleted.   The only issue is that expired credit cards can't actually be deleted from within Calypso.

[2021-01-13 17:05] lauac opened #48882 "Update to Verblio card copy on Marketing Tools"
Requesting a minor tweak to the copy on the Verlbio card on Marketing Tools (wordpress.com/marketing/tools) in Calypso to read:

Verblio makes blog and content creation happen. Its writers can help create high-powered content for your website that drives SEO. Get 35% off your first month today.

[2021-01-13 17:19] ianstewart opened #48883 "Add new page screen: Issue with rendering map block in in preview"
To reproduce, visit the add new page screen and observe the following contact pattern.

![image](https://user-images.githubusercontent.com/545779/104485900-ac578300-5590-11eb-8c67-673de075787e.png)

(Note: the issues in this screenshot with the gallery patterns are reported in https://github.com/Automattic/wp-calypso/issues/48881)

This is the editor content for the source site:

![image](https://

[2021-01-13 17:37] DavidRothstein commented on #48736
Note that we're working on that in https://github.com/Automattic/wp-calypso/issues/48818

[2021-01-13 17:49] ianstewart opened #48884 "Add New Page Screen: YouTube Block not rendering in preview"
#### Steps to reproduce the behavior

1. Go to add new page screen in Calypso
2. Click on first About layout
3. Scroll down to error shown below

![image](https://user-images.githubusercontent.com/545779/104489451-43263e80-5595-11eb-93af-d5842fa6d1b4.png)

Suspecting this may have been an error with the source site and a change in block syntax I updated the source site content here https://dotcomp

[2021-01-13 17:52] ianstewart commented on #48884
Nope. Looks like that was it; reloaded and it was fixed. Good to see the Patterns Toolkit doing it's thing. :D

[2021-01-13 17:52] #48884 closed, assigned to apeatling

[2021-01-13 18:24] DavidRothstein commented on #48818
This is being fixed internally, and up for review there: D55306-code

[2021-01-13 18:27] noahtallen commented on #48833
Yes -- this was something I was curious about, and something I misunderstood. I'm glad to hear that keeping it granular will be better for performance anyways. 👍

I'll begin by looking into Gutenberg's setup, and then seeing if I can put together a PR to apply the same to this plugin. Then I'll loop everyone in for feedback :)

[2021-01-13 18:45] noahtallen commented on #48831
Yep. I wrote the sync script for ETK a year ago, and I think some folks have copied the implementation for the other apps. I completely agree that we should make it consistent for the whole repo. Do you think it makes sense to add it to the `calypso-build` package? If not, what other place makes more sense?

Also related: #48830

[2021-01-13 19:30] davipontesblog opened #48885 "Plans page showing incorrect price information about annual plans"
It looks like right now the logged-in plans page is showing monthly prices for annual plans at https://wordpress.com/start/plans/

Pricing looks right but it's missing the per month /monthly indicator.

<img width="1426" alt="Screen Shot 2021-01-13 at 14 21 35" src="https://user-images.githubusercontent.com/31009008/104499823-a6bb6680-55ab-11eb-83a3-b95e7028a473.png">

<img width="1508" alt="Marku

[2021-01-13 19:37] JoshuaGoode commented on #48885
Result of https://github.com/Automattic/wp-calypso/pull/48345

[2021-01-13 19:44] JoshuaGoode commented on #48885
For clarification, here's a quick mockup of what we're currently seeing vs what we should display.

**Current**
![current](https://user-images.githubusercontent.com/4887830/104501504-d2d7e700-55ad-11eb-9116-45134ac7087e.png)

**Mockup of Expected**
<img width="1500" alt="expected" src="https://user-images.githubusercontent.com/4887830/104501382-a3c17580-55ad-11eb-8446-7c40f3cdcae5.png">

[2021-01-13 19:44] ianstewart opened #48886 "Launch Flow: Chrome "Leave site?" dialog appearing at end of launch flow"
#### Steps to reproduce the behavior

1. Go to wp.com/new
2. Proceed through to Editor screen
3. Click launch button
4. Proceed through launch flow
5. Get to "Hooray!" screen and observe error below

#### Result

![image](https://user-images.githubusercontent.com/545779/104501502-6fe25200-55a5-11eb-912a-043833061c65.png)

[2021-01-13 19:49] cathymcbride commented on #48885
removing from manage board, as marketing has picked this up.

[2021-01-13 19:52] scinos commented on #48831
I'd start with a new private package, and once it is stable and we have find the right abstractions, maybe merge it with `calypso-build` if we think it can be consumed outside the repo.

I'll love to take this opportunity to take a step back and think about the devloop in a more generic way. Things like: what should be the developer & delivery process for "apps" whose main deliverable artifact is

[2021-01-13 19:55] simison commented on #48867
Potential solution in https://github.com/Automattic/wp-calypso/pull/43428

[2021-01-13 19:56] ianstewart opened #48888 "Add New Page Screen: Jetpack subscriptions block not rendering in preview."
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to add new page screen
2. Click on first blog layout (noted below)
3. Scroll down subscriptions block in preview (see below)
4. Notice that the email input is just a white box (see below)

#### Result

![image](https://user-images.githubusercontent.com/545779/104503652-f8adbd80-55a6-11eb-9637-7c8791b92313.png)

Strangely,

[2021-01-13 20:03] ianstewart opened #48889 "Add New Page Screen: Contact Form not rendering correctly in preview"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to Add New Page Screen
2. Click on the contact pattern indicated below
3. See error in preview noted below

#### Result

![image](https://user-images.githubusercontent.com/545779/104504359-f1d37a80-55a7-11eb-9a8e-3ac2a0e222bb.png)

#### Expected

Contrast with the result of the page layout when it's inserted into post con

[2021-01-13 20:12] DavidRothstein commented on #48818
Deployed.

[2021-01-13 20:12] #48818 closed, assigned to DavidRothstein

[2021-01-13 20:21] noahtallen commented on #48830
Props to @glendaviesnz for adding this change to the ETK script: https://github.com/Automattic/wp-calypso/pull/48586

[2021-01-13 20:23] desnum commented on #48885
Another case at zen-3644290

[2021-01-13 20:52] mreishus commented on #48773
This is done and has been deployed!  I tested on one of my atomic sites where I was able to see the original problem, and now I'm able to see the color selections, and change colors.
![2021-01-13_14-51](https://user-images.githubusercontent.com/937354/104509162-e20b6480-55ae-11eb-8bc9-70f91e0e8576.png)
@tbradsha please re-open if you are still experiencing the error.

[2021-01-13 20:52] #48773 closed, assigned to nobody

[2021-01-13 21:12] noahtallen commented on #48831
Definitely, those are all good questions to ask, and ones I'd love to resolve. Some thoughts:

- I don't think we can rely on `wp-env` to containerize much for simple site development. It works nicely for local testing, and closely approximates self-hosted or non-transferred Atomic sites, but testing on a WordPress.com sandbox is very important before releasing
- This post (pMz3w-crN-p2) gets at a

[2021-01-13 21:15] JoshuaGoode commented on #48885
Internal discussion: p1610565872159700-slack-CT1FP5D62

[2021-01-13 21:32] ramonjd commented on #48316
Hmm, I wonder if there's some delay after we update the `launch-status` option.

Or it could be that Calypso store needs a little pat on the shoulder to update its own records.

@roo2 do you have time to debug this today? Thanks!

[2021-01-13 21:46] ramonjd opened #48891 "Starter page templates: remove "Change layout" sidebar component"
### What and why

The “Change Layout” button in the editor provides the same experience as creating a new page, that is, it will change the layout but discard all content (including post title) except for the page slug.

<img width="323" alt="Screen Shot 2021-01-14 at 8 43 04 am" src="https://user-images.githubusercontent.com/6458278/104513915-87bce300-5644-11eb-98dc-a7386cef5e02.png">

Let's get

[2021-01-13 22:01] sirbrillig opened #48892 "Redesign PopoverCart to use components and logic from new checkout"
`PopoverCart` uses `CartBody`, which is part of how the previous version of checkout displayed its cart item list. Those components have not been updated in some time and are out-of-sync with new checkout's design. Furthermore, they have a ton of unnecessary complexity since they were intended to be used in checkout proper. `CartBody` should be updated or replaced in this case.

[2021-01-13 22:05] obenland commented on #48236
@lcollette Not sure if you had time to look at this yet, but any guidance would be appreciated.

[2021-01-13 22:06] pottedmeat commented on #48885
It looks like the "per month" is defined here: https://github.com/Automattic/wp-calypso/blob/3ba8fafe294c0f5a6d82ee96133676f086135a1d/client/my-sites/plan-price/index.jsx#L114-L122

`isInSignup` is passed here: https://github.com/Automattic/wp-calypso/blob/3ba8fafe294c0f5a6d82ee96133676f086135a1d/client/my-sites/plan-features/header.jsx#L381

using `displayFlatPrice` defined here: https://github.c

[2021-01-13 22:08] gwensmithx commented on #45663
Hi all I'm reopening this because I ran into this exact issue today - #3640046-zd.

Customer's paid subscribers are logged into WordPress but when they view the Premium Content page they cannot see the Premium Content and the login button is missing. It just says "subscribe".

I verified this by SSPing as one of the paid subscribers and visiting the page.

[2021-01-13 22:12] sirbrillig commented on #48885
So given https://github.com/Automattic/wp-calypso/pull/48890, does that mean that it's possible we might end up with "per month per month, billed annually"?

[2021-01-13 22:13] ramonjd commented on #48867
320+ images. It's probably worth the initial investment, but long term I'd say it's unsustainable.

As discussed, maybe we could try mshots + landscape?

Commented to that effect in the ongoing PR: https://github.com/Automattic/wp-calypso/pull/43428#issuecomment-759771727

[2021-01-13 22:14] marcuswisecaesar commented on #42600
**Steps to reproduce**

In a Simple Personal or Premium Plan Site

1. Create a new page/post and add a 3 column block
2. Add 3 images and set all three to the same size so they are equal in size.
3. Save Draft
4. Preview the Page.

Expected Result: The 3 images would be uniform in size.

Actual result: The third image does not conform to the sizing set in the Editor.

**Screenshot/Video:**
[Direct

[2021-01-13 22:16] pottedmeat commented on #48885
Looks like it happened during #48345.

[2021-01-13 22:21] ianstewart commented on #46696
There have been some updates to the core global styles since this issue was created.

![image](https://user-images.githubusercontent.com/545779/104517126-19800e00-55bb-11eb-9fa7-b58fb19b8db3.png)

We may really need to only do two things here to satisfy an MVP.

1. Replace the single select menu in core's global styles with our split Heading/Base menus.
2. Add in our font pairing options, which no

[2021-01-13 22:24] danielwrobert commented on #48885
It seems like we would want to assign `displayFlatPrice` to check for `isInSignup && ! isMonthlyPlan`, like we're doing [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plan-features/header.jsx#L227)? I haven't tested that to confirm anything yet though!

[2021-01-13 22:31] ramonjd commented on #48867
I'll add that there's a slight hurdle to overcome with systems on allowing vertical screenshots. Maybe we could try to escalate that again for later?

pMz3w-bQy-p2#comment-83292

[2021-01-13 22:35] joelwills opened #48894 "Purchases: Cannot upgrade from Monthly to Annual payment plan"
#### Steps to reproduce the behavior

The site should have a Premium Monthly Plan already.

Steps to reproduce the behavior:
1. Go to 'Manage Purchases' https://wordpress.com/me/purchases
2. Click on the Premium monthly site you have
3. Click Renew now
4. In the cart, on the right hand side under the list of features, click Switch to annual plan
5. Get error:

![Screenshot](http://joelwills.com/Yv

[2021-01-13 23:43] serabi commented on #48146
My concern is that only offering access to superadmins would mean that people who are working on their sites and want to go retrieve an inactive widget wouldn't have the ability to do so. We could theoretically help them over email or chat if needed, but that would add more of a support burden, not less.

If the /wp-admin/widgets.php link still also works for regular uses, that could possibly be e

[2021-01-13 23:58] vindl commented on #48866
@mattwiebe here is some possibly helpful context from last time https://github.com/Automattic/wp-calypso/issues/48148.

[2021-01-14 00:19] jeyip commented on #48145
When #28088 is merged, we still have to remove theme attributes from theme provided block templates per our discussions [here](https://github.com/WordPress/gutenberg/pull/27910#discussion_r554203550). This will be done in follow-up PRs.

[2021-01-14 01:50] bluefuton commented on #47731
Now D45105-code has landed, https://wordpress.com/following/manage/ goes to a blank page rather than Atlas Reader, which is slightly better.

I'll try and fix it up so it redirects to /following/manage.

[2021-01-14 02:21] #48423 closed, assigned to ilyasfoo

[2021-01-14 02:31] ramonjd commented on #46656
Merged and deployed.

If things go well, should we also think about updating the Atomic private page over in `wpcomsh` as well?

[2021-01-14 02:41] bluefuton commented on #47731
Systems made a routing change in pMz3w-ct6-p2 and https://wordpress.com/following/manage/  now redirects to https://wordpress.com/following/manage 👍

[2021-01-14 02:41] #47731 closed, assigned to bluefuton

[2021-01-14 02:58] lsl opened #48898 "Global style font changes are not applying to editor text"
Font changes are not being displayed in the editor as you change them. They are still changed when you click publish and are shown after a reload or viewing the page directly on the site.

The problem here is that you can't see the new fonts in real time as you flip between them.

#### Steps to reproduce the behavior
1. Editor
2. Click the "A" in the top right
3. Choose a new font

#### What I exp

[2021-01-14 03:00] joweber123 opened #48899 "Gallery Carousel Does Not Display Images"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Add a tiled gallery to post/page
2. Publish post/page and click on the image.

#### What I expected to happen
Expected gallery to open in a carousel and images to appear.

#### What actually happened
1. Carousel opens but the image appears blank.
2. Console displays the following error.

#### Context
26991480-hc

### Browser

[2021-01-14 03:09] danielwrobert commented on #48885
I'd like to retract this statement. We don't want to check against `isMonthlyPlan` because we want this text visible in both cases. Looks like @DavidRothstein got it right in [his PR above](https://github.com/Automattic/wp-calypso/pull/48893) though!

[2021-01-14 03:14] ramonjd commented on #46656
This change was reverted.

p1610592959000800-slack-C02AVAR9B

[2021-01-14 03:27] joweber123 commented on #48899
I do not believe this is the same issue but will reference it here if it is helpful to track down the issue.

https://github.com/Automattic/jetpack/issues/11191

[2021-01-14 03:36] ramonjd commented on #46656
I think we need to ditch the admin bar. Trying to add it caused major issues and the current private page doesn't use the admin header.

<img width="1214" alt="Screen Shot 2021-01-14 at 2 34 03 pm" src="https://user-images.githubusercontent.com/6458278/104541342-8e178300-5675-11eb-833b-aa1206083351.png">

[2021-01-14 04:57] ramonjd commented on #46656
We'll also need to come up with a way to do a pre-commit test for this page before we proceed

See pbxlJb-C3-p2#comment-813

[2021-01-14 04:58] scinos commented on #48831
Maybe we can use TeamCity? Looking at current unit test times, it can checkout a branch, install dependencies and build everything under `apps/` in less than 2:30 minutes. Not sure about the "uploading code" part, I'd need to understand where it is being uploaded.

[2021-01-14 05:32] hacchism commented on #41760
Reopening the issue as I got another report: #26994237-hc

I could replicate the issue following the steps Zohair mentioned, on my test site on eCommerce plan(Atomic).

Gutenberg: 9.6.2
Safari's version: Version 13.0.4

[2021-01-14 06:43] andrewserong commented on #44635
Added a dedicated page for the API endpoint and metadata: PCYsg-uUe-p2.

[2021-01-14 07:18] galakhyati commented on #48847
The user mentioned they are experiencing the issue on all the new articles and not just on the sample they shared in the chat.

Ticket: 3644774-zen

[2021-01-14 07:56] pmcpinto commented on #48423
Yes. AFAIK the `calypso_woocommerce_store_create` event is triggered when they move past the install screen. I just want to confirm if we'll continue triggering this event.

[2021-01-14 08:28] ghost opened #48909 "Feature Request: Table Block - provide an option to merge columns/rows in a table"
Usecase: Deborah - Beginner blogger wants to post a blog with data in a tabular format.
There are some rows and columns she wants to merge to make table look good.

What
Add an ability to merge rows and/or columns in Table block

Why
merging columns/rows/cells can give user ability to group data and provides better visual representation for reader.

How
- rowspan and colspan properties allow mergi

[2021-01-14 08:44] cpapazoglou commented on #48768
@mmtr can you confirm that it is fixed now?

[2021-01-14 08:44] #48768 closed, assigned to nobody

[2021-01-14 08:49] ramonjd commented on #46656
Version without admin bar: D55337-code

[2021-01-14 08:56] ilyasfoo commented on #48423
@pmcpinto It seems that `calypso_woocommerce_store_create` is not tracked by calypso, looking at tracks it may have been triggered from WPCOM API. I've checked in tracks history, the sites created under my PR is still being recorded.

[2021-01-14 09:06] philnick206 opened #48910 "Email forwarding: Users must add MX record when using a mapped domain with A records"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Map a domain using A records to a WordPress.com site
2. Set up one or more email forwards on domain

#### What I expected to happen

- Receive a notice that in order for email forwarding to work, a WordPress.com MX record must be added with the domain registrar

or

- Be blocked from/receive a notice preventing the adding of

[2021-01-14 09:17] yashitamittal11 commented on #47659
Another one- #3648338-zen

[2021-01-14 09:25] pauljacobson opened #48911 "Scheduled/Draft post: Triggering subscriber emails and Publicize shares despite not being published"
Our customer reported that a draft/scheduled post triggered emails to subscribers, along with a Publicize share to LinkedIn, despite the post not having been published. The user was using the block editor.

I'm opening this issue in case the issue occurs again for this, or another customer.

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. The user prepared a draft post, a

[2021-01-14 09:37] mmtr commented on #48768
@cpapazoglou it is! Thanks!

[2021-01-14 09:37] pmcpinto commented on #48423
Gotcha. Thanks for the clarification

[2021-01-14 09:53] #47038 closed

[2021-01-14 10:05] pauljacobson commented on #48886
I have what seems to be a related issue. A user reported that when they publish a post, and then click the option in the block editor pane to the left to create a new post, they see a similar message in Firefox:

<img width="566" alt="Screen Shot 2021-01-13 at 8 59 32 AM" src="https://user-images.githubusercontent.com/2912202/104576147-7da8dd80-5660-11eb-8741-b3c42730cab8.png">

I encountered this

[2021-01-14 10:20] cpapazoglou commented on #48211
More issues reported on this
https://github.com/Automattic/wp-calypso/pull/48874#pullrequestreview-567442868

[2021-01-14 11:30] tjcafferkey commented on #48899
This issue looks like it's definitely related to https://github.com/Automattic/jetpack/issues/11191 in some way.

Unfortunately I am unable to reproduce this exact error. However using similar images in terms of file size I was able to come across some issues with the Bulk Uploader but I am not able to consistently reproduce this bug either.

Due to the images referenced in the HC of the issue des

[2021-01-14 11:49] tyxla commented on #48408
A few more PRs here:

* #48912 to reduxify notices in composite checkout.
* #48915 to remove unused notices in WordAds earnings page
* #48918 to reduxify notices for the Marketing section.

[2021-01-14 13:50] liviopv commented on #47830
I did some more testing to this and I found out that if I follow a private site first, I'm able to add it to a list.

[2021-01-14 14:01] tjcafferkey opened #48922 "Editor header on an unlaunched site looks cramped"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to `/new` and create an new unlaunched Simple Site.
2. Once you land in the editor change your viewport to mobile sized.
3. Observe the header looking cramped like the image below.

![Screenshot 2021-01-14 at 13 58 12](https://user-images.githubusercontent.com/8639742/104600163-8c978c00-5670-11eb-94d8-f905e79f90f8.png)

#

[2021-01-14 14:44] cathymcbride commented on #48899
Internal repro here: p1muIj-837-p2 no luck reproing from scratch yet

[2021-01-14 15:37] rachelwinspear commented on #45881
7371257-hc Chrome Simple site

[2021-01-14 15:37] mattwiebe commented on #48866
Thanks for the context!

[2021-01-14 15:52] geekinthegirl commented on #45881
27006146-hc - simple site, on both Chrome and Firefox.

They'd cleared their cache a few times without success, but interestingly, found that their edits did save after leaving their editor open for a short while and coming back to it.

[2021-01-14 16:28] StefanNieuwenhuis opened #48928 "Focused Launch: inside editor, color scheme is partly inherited from wp-admin theme"
Some buttons and some inputs in Focused Launch inherit styling from the user's `wp-admin` theme instead of `wp-calypso`.

Then, because the rest are using Calypso (or onboarding specific) colors, the result is a mix between the two.

#### Acceptance criteria
- [ ] _Update_ button should use theme color
- [ ] Primary color in both launch flows should be as in design, regardless of the wp-admin them

[2021-01-14 16:37] sirreal commented on #48833
One important thing about a single build vs. multiple builds is that we have smarter ways of sharing assets. Right now, we share data-stores in ETK by having an independent build and registering the script it produces. Then other independent builds can depend on that as a WordPress script dependency so that it is enqueued. [That's this "common" module](https://github.com/Automattic/wp-calypso/tree

[2021-01-14 17:25] aleone89 commented on #48899
This has come up in the public forums [here](https://wordpress.com/forums/topic/un-break-blog-please/page/2/) - the console shows these errors: https://d.pr/i/1F7QA7 (same as Automattic/jetpack#11191)

Something I also identified is that the image being displayed in the gallery (an ordinary gallery block) - https://tepe68blog3.wordpress.com/2020/12/22/rosabell-laurenti-sellers/ isn't present into

[2021-01-14 17:29] noahtallen commented on #48833
That's really interesting. Could you point me in the direction of some resources for that?

[2021-01-14 17:30] noahtallen commented on #48831
That sounds awesome. The upload step (which posts the .zip file to mission control) is only a few seconds.

[2021-01-14 17:31] noahtallen commented on #48831
I imagine we can rely somewhat on cached `yarn` deps fro TeamCity? I have the cache set up in GitHub actions, but I think it invalidates for every new PR.

[2021-01-14 18:06] #48885 closed, assigned to nobody

[2021-01-14 18:16] marcuswisecaesar opened #48929 "Paragraph Block with Drop Cap does not allow for accurate cursor placement on first click"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Add a Paragraph Block to a Page or Post
2. Add a Drop Cap and fill the block with demo content
3. Click out of the block
4. Hover your cursor over a place within the paragraph and click.

#### What I expected to happen
My cursor to appear where I clicked within the paragraph content.

#### What actually happened
The Drop cap

[2021-01-14 18:45] sirreal commented on #48833
I think the [webpack docs on code splitting](https://webpack.js.org/guides/code-splitting/) is the place to start. I'm not sure what will give the best results in WordPress.

There's some prior art in Jetpack using [dynamic imports](https://webpack.js.org/guides/code-splitting/#dynamic-imports). This works well in WordPress, but requires async loading which may not be ideal for data-stores.
- [Pas

[2021-01-14 19:15] noahtallen commented on #48833
Very interesting, I'll research those more. I'm definitely not very familiar with that.

It does sound like a single build will be an excellent thing to implement next, so I'll try to do that. It doesn't sound too hard ™️

[2021-01-14 20:27] ianstewart opened #48932 "Add New Page Screen: Image Thumbnails not loading when using `blank-canvas` theme"
Steps to reproduce the behavior:

1. Activate blank canvas theme using instructions at pNEWy-du1-p2
2. Click on Add New Page
3. Observe thumbnail error shown below

![image](https://user-images.githubusercontent.com/545779/104645268-75f33400-5674-11eb-9adc-3f7cfa83c0cc.png)

This seems to **only** happen with the Blank Canvas theme, which is not yet network-activated.

cc @kjellr

[2021-01-14 20:27] tbradsha commented on #48886
Also reported in 3643293-hc.

I was able to reproduce on macOS 11.1, Chrome 87.0.4280.141:

1. Open a page.
2. Add an image block.
3. Update the page.
4. Click "View page":
 ![image](https://user-images.githubusercontent.com/32492176/104645119-e053a680-566b-11eb-8fa0-69456c2968c8.png)
5. Receive the "leave page" alert:
 ![image](https://user-images.githubusercontent.com/32492176/104645203-011bfc00

[2021-01-14 20:38] michaeldcain commented on #38032
The launch banner is no longer visible in the Customizer. Closing.

[2021-01-14 20:38] #38032 closed

[2021-01-14 21:01] cathymcbride commented on #48847
Gutenberg 9.7.2 was deployed today which should fix this. I am no longer able to repro.

[2021-01-14 21:01] #48847 closed, assigned to nobody

[2021-01-14 21:05] cathymcbride commented on #48847
Adding to the QS backlog to make sure we have automation that captures this case and cases like it.

[2021-01-14 22:35] obenland commented on #48748
It looks like nav unification wasn't active on that site, it shows the unmodified admin menu. With the modifications in place, Add new will point to https://wordpress.com/people/new/.

[2021-01-14 22:35] #48748 closed, assigned to nobody

[2021-01-14 22:47] obenland commented on #48147
Theme options _should_ still be accessible through the admin menu.

However we are pretty much removing the ability to install themes from the theme directory. Unless there's an alternate way that I'm not aware of?

/cc @davemart-in

[2021-01-14 22:56] mattsherman opened #48939 "Store|Woo: Launch deprecation of Store"
Part of the "Sunset Store on WordPress.com" epic (https://github.com/woocommerce/woocommerce-admin/issues/5816) -- see that for more context.

## Staging tasks (do this as one PR)

### Enable in staging

- [x] Enable feature flag `woocommerce/store-deprecated` in all non-production environments where `woocommerce/extension-dashboard` is currently enabled: `desktop-development`, `development`, `sta

[2021-01-14 23:12] mattwiebe commented on #48866
D55390-code should fix the problem

[2021-01-15 01:58] lsl commented on #48899
Repro here: https://test79088093.wordpress\.com/portfolio/ (using a page layout / pattern content)

Narrowed this down to [this `$attachments` array](https://github.com/Automattic/jetpack/blame/e13487d0dbbe4c743739b6f1a3e37c143a8c2614/projects/plugins/jetpack/modules/carousel/jetpack-carousel.php#L415) being empty. The jQuery error we see above results when `data-orig-size=..` doesn't get set alon

[2021-01-15 02:35] autumnfjeld opened #48942 "Welcome Tour cut off by wp-admin sidenav"
The Welcome Tour component is cut off by the wp-side side nav when the when user does **not** have "Full Screen mode" enabled in their settings (accessed from the MoreMenu (the 3 vertical dot menu) in the editor).

![Screen Shot 2021-01-15 at 13 03 37](https://user-images.githubusercontent.com/5665959/104673831-9f749400-5736-11eb-8f62-1d8181aa6d91.png)

[2021-01-15 04:36] autumnfjeld commented on #48942
One very quick one code line solution to this is to set the z-index of the `wpcom-editor-welcome-tour-frame` to be greater than 9990, which is the z-index of `#adminmenuwrap`

![Screen Shot 2021-01-15 at 15 27 03](https://user-images.githubusercontent.com/5665959/104681343-3a289f00-5746-11eb-82af-38c699f6f0f6.png)

This solution looks like this:

![Screen Shot 2021-01-15 at 15 17 16](https://user-

[2021-01-15 05:32] mrfoxtalbot opened #48947 "Themes: "Find your expert" link does not work"
#### Steps to reproduce the behavior

1. Head to My Site > Design Themes https://wordpress.com/themes
2. Click on "Show all themes"
3. Click on the "Find your expert" button under the "Let our WordPress experts build your site" banner.

#### What I expected to happen
I would expect to be taken somewhere.

#### What actually happened
The URL on the address bar updates, but the site does not change.

[2021-01-15 06:04] andrewserong commented on #44635
Alrighty, I've now finished up documenting all the bits that I wanted to document before finishing up with the team. Please let me know though if / when you encounter things that haven't been documented that you'd like a hand with!

[2021-01-15 06:04] #44635 closed

[2021-01-15 06:08] andrewserong commented on #47224
Closing since this is now live.

[2021-01-15 06:08] #47224 closed

[2021-01-15 06:10] #48942 closed, assigned to autumnfjeld

[2021-01-15 06:16] andrewserong commented on #45946
Most of the intended enhancements from this issue are now complete. For the outstanding issues:

* Add support for custom viewport values — this has been made easier by the addition pattern_meta (PCYsg-uUe-p2). There's already an open issue for this (77-gh-Automattic/view-design) so it doesn't need to be tracked in this issue.
* Add support for cache invalidation of consumers of the endpoint — thi

[2021-01-15 06:16] #45946 closed

[2021-01-15 06:23] andrewserong commented on #46118
Most of these clean-up tasks have been completed. Replacing PatternTranslator with PatternsTranslator would still be a cool thing to do (and has a marginal potential performance) benefit, so rather than close this issue out, I've renamed the title and it can go in the backlog as a task for a rainy day. Feel free to close it out if you'd prefer, though, as it is just a minor infrastructural enhance

[2021-01-15 07:24] sirreal opened #48950 "Gutenberg: 9.8 upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/48771
Release notes:
- [v9.8.0](https://github.com/WordPress/gutenberg/releases/tag/v9.8.0)
- [v9.8.1](https://github.com/WordPress/gutenberg/releases/tag/v9.8.1)
- [v9.8.2](https://github.com/WordPress/gutenberg/releases/tag/v9.8.2)
- [v9.8.3](https://github.com/WordPress/gutenberg/releases/tag/v9.8.3)

### Process

- [x] Install a

[2021-01-15 07:26] sirreal commented on #48771
Next upgrade: https://github.com/Automattic/wp-calypso/issues/48950

[2021-01-15 07:26] #48771 closed, assigned to nobody

[2021-01-15 07:27] sirreal commented on #48772
This should be fixed for all users now.

[2021-01-15 07:27] #48772 closed, assigned to nobody

[2021-01-15 07:29] sirreal commented on #48741
#48771 is complete and this should be fixed.

[2021-01-15 07:29] #48741 closed, assigned to nobody

[2021-01-15 07:46] jeherve commented on #48899
That's an interesting one. Jetpack definitely should handle this use-case better, it would be worth moving this issue to the Jetpack repo. I'l do that now.

Do you think you could add some steps to follow to create a tiled gallery, or a core gallery, using images that are not in the Media Library? I did not know that was possible :)

[2021-01-15 08:52] sirreal commented on #48585
Ok, this took me a bit to figure out 🙂

Yes, I believe both of these should be changed.

What's happening right now is that we're bundling the @wordpress/interface package. That will be caused by this line: https://github.com/WordPress/gutenberg/blob/541141d49bd48da25b22f568506cca1f24ab5b5b/packages/dependency-extraction-webpack-plugin/lib/util.js#L2

It means that the interface package isn't expo

[2021-01-15 10:31] ilyasfoo opened #48958 "Store|Woo: UI glitch in store dashboard after removal"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Start calypso with `woocommerce/store-removed` feature enabled or append URL with `?flags=woocommerce/store-removed`
2. Have Business site with at least 1 order with `processing`, `pending payment`, or `on-hold` status.
2. Manually navigate to store UI by replacing the URL with `/store/SITENAMEHERE`, example: `http://calypso

[2021-01-15 13:09] susanjanec commented on #40792
Another report - 27023172-hc

[2021-01-15 13:27] carinapilar opened #48959 "Premium Content Block: List View Icon is Missing White Version"
#### Steps to reproduce
1. Create a new page
2. Add the Premium Content block
3. Click on the List View and select the Premium Content block

#### What I expected
That the block icon would turn white when selected, as the others do.

#### What happened instead
It's a black square when selected, you can't see the icon.

#### Screenshot / Video
This is the normal behavior you see on other blocks, bl

[2021-01-15 15:04] davemart-in commented on #48147
Can you walk me through his statement @obenland? I'm not sure I follow.

[2021-01-15 15:22] #48769 closed, assigned to ciampo

[2021-01-15 15:36] #48424 closed, assigned to mattsherman

[2021-01-15 16:03] eduardozulian commented on #3321
Another report in 3652116-zen

[2021-01-15 16:35] mattwiebe commented on #48866
Fix deployed

[2021-01-15 16:35] #48866 closed, assigned to mattwiebe

[2021-01-15 16:44] sirbrillig opened #48966 "Billing: Replace `PaymentMethodForm`"
Recently we've modified `ChangePaymentMethod` to replace `PaymentMethodForm` (which just displays a set of credit card fields) with `ChangePaymentMethodList` that uses the `composite-checkout` package to allow choosing between multiple payment methods (existing cards, new cards, or PayPal).

The `AddPaymentMethod` component and both `AddNewPaymentMethod` components (one for site-level and one for

[2021-01-15 16:53] sirbrillig commented on #48421
This is coming up again as we replace `PaymentMethodForm`. I'd love some guidance about how to test this component if it is in-use somewhere.

[2021-01-15 17:28] obenland commented on #48147
![Screen Shot 2021-01-15 at 9 21 44 AM](https://user-images.githubusercontent.com/1398304/104758310-17c95e00-5713-11eb-88fc-ccbc4ae9df12.png)

In `themes.php` there's an "Add new" button that leads users to `theme-install.php`, where they can browse the theme directory and install themes.

wordpress.com/themes offers an upload functionality where users can install a theme zip file, but besides tha

[2021-01-15 17:57] obenland commented on #48146
Yes, the URL will still work

[2021-01-15 17:59] c-shultz commented on #48421
Hey @sirbrillig!

I believe this one is used on the Store on WP.com interface. The shipping features can either be accessed from wp-admin or Store on WP.com so some of the flows are only relevant to one of those. From wp-admin, the credit cards can't be managed directly, so it just jumps out to Calypso instead of opening that dialog.

I think you should be able to test that by going to Store > Set

[2021-01-15 18:51] davemart-in commented on #48147
Phoning a friend: Hi @ianstewart!

Thoughts on whether we default to the Calypso themes selection screen or the wp-admin one?

[2021-01-15 21:20] ianstewart commented on #48276
I'm in the process of cleaning up the starter design for twenty twenty one in the site editor flow so for reproducing this error later we'll need to grab the homepage revision to reproduce this and check the fix.

[2021-01-15 23:25] formosattic commented on #36274
27037033-hc

[2021-01-16 00:27] JessBoctor commented on #48055
Came across this ticket in play:

– Re-tested and got the same error. It looks like the issue is that our embed block can't authenticate the user to allow the video to be shown
- Found a couple of plugins that allow private videos to be shown on the site
-- https://embedprivatevideo.com/embed-private-youtube-video-wordpress-plugin-pricing-plans/
-- https://wordpress.org/plugins/simple-private-vide

[2021-01-16 03:15] #43400 closed

[2021-01-16 03:17] michaeldcain commented on #44673
This should be fixed after https://github.com/Automattic/wp-calypso/issues/46205

[2021-01-16 03:17] #44673 closed

[2021-01-16 03:17] #35650 closed

[2021-01-16 06:43] kaitohm opened #48972 "Switching device to "Search and Social" in draft post preview leads to blank screen"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Make a draft post on a Business plan site (I've confirmed the same thing happens on both AT and non-AT sites)
2. Click on '.Preview'
3. Change preview device to 'Search and Social'
4. Get left with a blank screen

#### What I expected to happen

To see the social preview

#### What actually happened

I get a white screen.

#

[2021-01-16 07:05] vindl opened #48973 "Site Editor: font changes not applied in preview for TT1B theme"
If you try to create a test FSE site through Horizon flow, you'll notice that choosing different fonts has no effect on page preview in Design picker step.

This works fine for Seedlet Blocks theme, but it's not working for Twenty Twenty One Blocks.

[2021-01-16 14:58] felipevelzani opened #48974 "Desktop app: Not getting login SMS code for 2FA"
#### Steps to reproduce the behavior

1. Go to the Desktop app with a user (non-a8c) that has SMS mode as 2FA (it works on the 2FA app mode), and try to login.
1. You wouldn't be able to login as it doesn't send the SMS code (it worked while testing on browser with the same user and 2FA mode).

#### What I expected to happen

You should get the SMS code.

#### What actually happened

Nothing, you

[2021-01-16 15:05] felipevelzani commented on #48517
I was still able to reproduce it while using macOS Big Sur 11.1 - WordPress.com app 6.8.0-beta1.

It just stays endless loading it: https://d.pr/i/AP8UPL

[2021-01-16 15:13] tbradsha commented on #36274
3642645-zen

[2021-01-16 15:14] felipevelzani opened #48975 "Desktop app: like reactions not showing as notification"
#### Steps to reproduce the behavior

1. Go to the Desktop app with a user (non-a8c), and login
2. Make sure that you have the notifications enabled on the app settings and like notifications activated
3. Access with a different user and try having a like on a post (comment and follow works)
4. You wouldn't get the notification

#### What I expected to happen

Get the like reaction notification

#

[2021-01-16 15:51] tbradsha commented on #48597
Confirmed that this still appears to be an issue: when I log into their account, I only see four notifications (three today, and one from yesterday.

[2021-01-17 06:43] pauljacobson opened #48977 "Stats: Site owner media uploads seem to be included in Views"
One of our customers contacted us about an unexpected increase in views on their site:

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Head to _My Home_ > _Stats_ in the site's WordPress.com dashboard;
2. Click on the stats for 12 January 2021;
3. Review captured Views for _Posts & Pages_, _Referrers_, and for the _Authors_.
4. See 517 Views for the site owner that aren'

[2021-01-17 16:18] kvvsi opened #48978 "Atomic / i18n: Unable to switch to certain site languages in Calypso"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to https://wordpress.com/settings/general/kvvsi.wpcomstaging.com
2. Click on Language
3. Select "Srpski (latinica)" + Apply Changes ---> Save Settings
4. See error: `An unexpected error occurred. Please try again later.`

#### What I expected to happen
I expected the site to change over to Latinized Serbian

#### What act

[2021-01-17 17:12] kriskarkoski commented on #38929
Another case in 3655674-zen

[2021-01-17 18:05] lakellie commented on #44078
The issues reported here that are _not_ related to a reusable block should be reported here instead: https://github.com/Automattic/jetpack/issues/12801

[2021-01-17 22:22] chatoxz commented on #48319
Hello there,

I found another related ticket with the same error. 3658123-zen

[2021-01-17 23:16] hacchism opened #48980 "Interface Language change in Calypso not synced to WP Admin dashboard for Atomic site"
#### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account
2. Change "Interface Language" from English to a different language for example
3. Go to WP Admin dashboard for one of your Atomic sites
4. Check if the interface language in WP Admin was switched to the language you chose in Step 2

#### What I expected to happen

I expected the interface language in WP Admin to be ch

[2021-01-18 00:54] becdetat opened #48981 "Update sunset store documentation links to point to the correct location."
What

Update all sunset store "learn more" and other links to point to the support documentation on wordpress.com for retiring the store. The documentation hasn't been generated yet but the content is here: https://docs.google.com/document/d/1TLCPFDfEhs7lyc5XJF25hI1SQYQFX-RNdP5ooZJ9DPI/edit#

Currently they all point to https://wordpress.com/support/store/

[2021-01-18 00:57] becdetat opened #48982 "Store menu link tooltip should appear on hover"
This only applies to the tooltip used next to the Store menu link during sunsetting of the store in Calypso.

[2021-01-18 01:00] becdetat opened #48983 "Add some padding to the bottom of the sunset store card"
Add some padding to the bottom of the sunset card. 80px should do.

![image](https://user-images.githubusercontent.com/224531/104861617-4f870e80-597c-11eb-984c-50555d7cbab2.png)

[2021-01-18 01:24] andrewserong opened #48984 "Premium Content: Editor freezes when hovering over Premium Content in block transformations menu"
__Note: this issue is copied over from: https://github.com/WordPress/gutenberg/issues/28258__ CC: @druesome

#### Steps to reproduce the behavior:

1. Create a new post or page on a site with a paid plan
2. Type in some text into a paragraph block
3. On the toolbar above the paragraph, click the P icon to transform it to a different block
4. Hover mouse over different choices without clicking anyt

[2021-01-18 01:28] andrewserong commented on #48984
In the normal block styles preview in the inserter, we skip running the API call in the premium-content block by setting the `isPreview` attribute. In the block transformations menu, however, it attempts to run the block transformation with the real block content a user has entered, which means that Gutenberg attempts to render the full block within the preview (https://github.com/wordpress/gutenb

[2021-01-18 02:53] ramonjd commented on #45605
This one is a bit stale and I think the Themes team are tinkering with a few fixes

[2021-01-18 02:53] #45605 closed

[2021-01-18 02:55] deBhal commented on #48585
Thanks for looking into it! I've added the "Fixes: #48585" to the description there so this gets closed automatically.

[2021-01-18 03:53] ramonjd commented on #45239
This is a bit stale. Let's open a new issue if further work needs to be done to improve accessibility for the sidebar.

[2021-01-18 03:53] #45239 closed

[2021-01-18 03:58] ollierozdarz commented on #47788
@StefanNieuwenhuis these language changes on the labels look good to me!

[2021-01-18 03:59] ramonjd commented on #47824
The A/B test is running.

[2021-01-18 03:59] #47824 closed, assigned to nobody

[2021-01-18 04:07] formosattic commented on #45881
3658696-zen

Clearing cache fixed it.

[2021-01-18 04:44] #46889 closed

[2021-01-18 05:47] donalirl commented on #36226
Confusion over this in #3656405-zen

[2021-01-18 09:27] #47788 closed, assigned to StefanNieuwenhuis

[2021-01-18 10:57] StefanNieuwenhuis commented on #48568
@tjcafferkey, due to the `min-width` and `padding` properties of the `<ArrowButton/>`, the component isn't aligned properly (see screenshots). In order to make it more agnostic (i.e. reusable in different use-cases), I suggest to remove the properties from the component and add them to its parent containers. Since the component is only used in `packages/domain-picker/src/domain-picker/use-your-dom

[2021-01-18 10:59] tjcafferkey commented on #48568
@StefanNieuwenhuis I don't think that button is currently used anywhere as far as I know (worth checking) so removing these properties to make it more reusable if needed in theory shouldn't be an issue.

[2021-01-18 11:08] tyxla commented on #24180
#48962 introduces a Redux version of the wporg plugins flux store. We'll port the existing code that uses the old store in another PR.

[2021-01-18 12:33] #48047 closed, assigned to StefanNieuwenhuis

[2021-01-18 13:54] tyxla commented on #24180
#48999 cleans up the trash we introduced with site => site IDs and other bound functions when reduxifying plugins.

[2021-01-18 14:13] TeniCola commented on #48316
Another case in 27088451-hc -- Site first created 3 weeks ago on 2020-12-29 and apparently also launched around that same time, but the issue was noticed today.

I had to toggle privacy in the Settings until the "Coming Soon" marker no longer appeared in the sidebar to help the user, as clearing their cache and other fixes did not work in their previous chats.

[2021-01-18 15:02] tyxla commented on #48408
#49001 and #49003 to reduxify notices `MultipleChoiceQuestion` and `PaymentMethodForm`.

[2021-01-18 15:40] jartes commented on #45607
Another report here: 23658957-hc. The AT site doesn't have the Classic Editor plugin enabled and when trying to share from the Reader, they're redirected to `wp-admin/post-new.php?post_type=post&calypsoify=1`

[2021-01-18 15:42] desnum commented on #45607
Another report: hc-23658957

[2021-01-18 15:57] wynwin commented on #44593
This came up again in [slack here](https://a8c.slack.com/archives/C0JCBKA2X/p1610983989017900). Also want to note that there is a My Home card for scheduled sessions. However, it is only showing for included sessions and not paid sessions.

[2021-01-18 16:00] michaeldcain commented on #44593
@Automattic/martech: I switched the label to `Bug` because the missing purchased session (all new sessions if I understand correctly) My Home card leaves the user with very few ways to access the concierge dashboard (email links and the `/me/purchases` banner).

[2021-01-18 17:03] aleone89 opened #49007 "Gutenberg: Reusable blocks creating infinite loops: Published posts front-end, Post list in Calypso, and Editor not loading. 500 errors present."
#### Steps to reproduce

**Frontend:**
https://lescarnets.home.blog/ > click on continue reading on a post > no post loads > Console: https://d.pr/i/2gM188

**Backend**
https://lescarnets.home.blog/ > /wp-admin > Posts > click edit on a post that is published > Console: https://d.pr/i/P7a5WF

#### What I expected

Frontend > to see the post content

Backend > to see the post content

#### What hap

[2021-01-18 17:55] michaeldcain commented on #44593
I created a diff to address this in D55524-code, but don't know the codebase or edge cases. @niranjan-uma-shankar, can you review it?

[2021-01-18 19:14] JoshuaGoode commented on #49007
These sites all have at least one reusable block that calls back to itself, creating an infinite loop that then crashes the editor, Calypso page/post list, and front end.  The GETs related to the posts fail with 500.

The question is, have the sites always had these infinite loops but it just started causing issues after an update? Or, did something change within the editor that makes it easier to

[2021-01-18 19:40] JoshuaGoode commented on #49007
Reusable blocks don't appear to have a revision history so I can't easily tell if the blocks have been like this for some time and just now started causing the 500s after an update -- or if a change was made that makes accidentally editing these reusable block easier.

In a test, it was very easy for me to add a reusable block and then accidentally add it to itself.

I also just updated the title

[2021-01-18 19:57] sirreal commented on #49007
This looks like an example of https://github.com/WordPress/gutenberg/issues/18704, which is a known issue.

Note that the block need not reference itself. Larger loops will trigger the problematic behavior.

[2021-01-18 20:00] JoshuaGoode commented on #49007
Highlighting that we just started getting these specific reports starting around January 15th and this completely breaks the Post/Page lists in Calypso and prevents post and reusable block editing on the impacted posts.

I suspect that it must now be easier to accidentally edit reusable blocks and create such loops.

The steps to fix these sites is to access the reusable block list in the site's w

[2021-01-18 20:06] JoshuaGoode commented on #49007
Other sites that started having the issue just recently:

3655949-zen: scarletsmods.com
24860869-hc & 3661010-zen: travelwithintent.wordpress.com

The reusable blocks causing the issue were identified and repaired.  Discussed internally at p1610986104013800-slack-C02FMH4G8

[2021-01-18 20:18] sirreal commented on #49007
For reference:

- Gutenberg 9.6 was activated on 2021-01-11 r219216-wpcom
- Gutenberg 9.7 was activated on 2021-01-14 r219435-wpcom

[2021-01-18 20:41] moon0326 commented on #48981
The new doc URL is https://wordpress.com/support/?page_id=177856

[2021-01-18 20:43] JoshuaGoode commented on #49007
Related to https://github.com/Automattic/wp-calypso/issues/38929 & https://github.com/WordPress/gutenberg/issues/18704 --  however, we're seeing an unusual influx of new reports and it does appear to be due to how easy it is to edit and add content within a reusable block.   Once a user does this, Calypso, the editor, and the post's front end all break and generate 500 errors.

**Comparison of Cur

[2021-01-18 20:58] JoshuaGoode commented on #49007
@glendaviesnz mentioned there was a recent reusable block refactor: https://github.com/WordPress/gutenberg/pull/27887

Seems to have made some good usability improvements to reusable blocks; however, it has also made it very easy to create these loops.

[2021-01-18 21:08] edequalsawesome opened #49015 "Premium Content Block: Support Manual Adding Users"
**What**
Adding the ability to invite users to view premium content without charging for a subscription

**Why**
This would allow users to offer subscriptions to their site's premium content as a prize in a giveaway or promotion, which isn't currently possible

**Additional context**
Requested in #27053928-hc

[2021-01-18 21:19] moon0326 opened #49016 "Store|Woo: Turn off store-deprecated flag when enabling store-removed"
We have `woocomemrce/store-deprecated` flag turned on for sunset store deprecation launch.

When we are ready for `woocommerce/store-removed` flag, make sure to turn off `woocommerce/store-deprecated`.

We see both deprecated and removed notices when both flags are turned on.

![Screen Shot 2021-01-18 at 12 54 29 PM](https://user-images.githubusercontent.com/4723145/104963582-b3670280-598f-11eb-97

[2021-01-18 21:24] ramonjd commented on #48316
I wonder if it's related to what I was trying to fix over at: https://github.com/Automattic/wp-calypso/pull/48153

@roo2 any chance you could take a look to see if the redux store is being update correctly after launch? Cheers

[2021-01-18 22:03] obenland commented on #46139
Looking at the dates of other user reports and them stopping after October 21st, would it be reasonable to assume that it was a Facebook-side bug that has since been fixed?

[2021-01-18 22:06] obenland commented on #47042
See `Marketing_Bar::get_cta_text_element()`

[2021-01-18 22:14] metabreakr commented on #45607
User is back, again: 27099040-hc

[2021-01-18 22:32] obenland commented on #37658
Storefront does not seem to be available on wordpress.com/themes anymore.

[2021-01-18 22:50] obenland commented on #44728
Does this happen on self-hosted installs, too? I wonder if it's a Gutenberg bug where it's not accounting for jpeg data uris

[2021-01-18 22:54] obenland commented on #42699
Let's do that when we're updating those classes next time.

[2021-01-18 22:54] #42699 closed

[2021-01-18 23:05] obenland commented on #44722
I was able to reproduce it on a test site. This seems to be SoundCloud bug, I'm not sure what we'd do about it. What would be the best way to pass that on to them?

[2021-01-18 23:11] #48984 closed, assigned to andrewserong

[2021-01-18 23:12] mrfoxtalbot opened #49019 "Page Layouts: Broken Jetpack Subscription Form on "Blog" Template"
#### Steps to reproduce the behavior

1. Create a new page.
2. Select the first "Blog" page layout available.
3. Look at the preview.
4. The block preview shows a broken Jetpack Subscription Form block.

### Browser / OS version
MacOS 10.13.6
Google Chrome 10.13.6

### Is this specific to the applied theme? Which one?
N/A. Page layouts are common to all themes.

### Does this happen on simple or a

[2021-01-18 23:18] obenland commented on #48147
https://github.com/Automattic/wp-calypso/issues/43337 would help with this.

[2021-01-18 23:48] apeatling opened #49020 "Add New Page Screen: Disable links in preview"
You can end up in layoutception:

![layoutception](https://user-images.githubusercontent.com/1464705/104971753-90931900-59a4-11eb-997c-0822e6795d39.gif)

[2021-01-18 23:58] andrewserong commented on #48984
Just noting that the bug fix has been merged #48988, and will be deployed with the next ETK plugin release.

[2021-01-19 00:27] donalirl commented on #37658
@obenland Did you have WooCommerce installed on the site? I can still very much recreate the issue. Can you try:

1. Installing Woo
2. Go to My Site → Design → Themes  and scroll down below the 'recommended' themes to click the 'show all themes' option

Screen recording:

https://user-images.githubusercontent.com/1398304/111550686-d74e8680-873b-11eb-8c30-9e6c87044ec4.mp4

[2021-01-19 02:41] lsl opened #49021 "Editor: Up arrow fails to navigate between blocks after backspacing text"
Using the up arrow to navigate between blocks should work but doesn't after using backspace to remove all text in a paragraph block. Using the up arrow works under other conditions at text length > 0. Once text length gets to 0 it stops working.

A potential clue might be that hitting the down key and then the up key works.

Reporting here as this is limited to .com, I could not reproduce this on

[2021-01-19 03:00] becdetat commented on #48981
@moon0326 I've made a number of changes to the documentation, the new location is https://wordpress.com/support/new-woocommerce-experience-on-wordpress-dot-com/

[2021-01-19 03:19] joanrho opened #49023 "Onboarding: Fix starter design site title misalignment in preview"
#### Steps to reproduce the behavior

1. Go to 'wordpress.com/new', enter a Site Title, and select a Free domain.
2. On the "Choose a design" step, select "Rockfield" or "Gibbs".
3. On the "Pick a font pairing" step, you'll see the Site Title in the top left of the site preview is not aligned with the site nav in the top right (see below for screenshots and details).
4. Repeat with the other start

[2021-01-19 05:50] moon0326 commented on #48981
Thank you. I will update the PR.

[2021-01-19 06:00] #48983 closed, assigned to ilyasfoo

[2021-01-19 06:15] kdevnel commented on #44844
Just to add to this @kwight (I know that comment was a long time ago)  - I'm not sure if this was just an idea to explor or a suggestion to the OP as a solution but in another recent interaction with a custom I tested that idea and it appears we require a minimum subscription value of 0.50 so a free plan isn't an option here currently.

[2021-01-19 06:28] lcollette commented on #48236
Apologies for the delay in response!

I'm inclined to go with [https://wordpress.com/marketing/sharing-buttons/SITEURL.wordpress.com](https://wordpress.com/marketing/sharing-buttons/SITEURL.wordpress.com) because it appears the top section of the wp-admin page links out to the Calypso version.

![Screen Shot 2021-01-18 at 10 13 59 PM](https://user-images.githubusercontent.com/181733/104995051-7e33

[2021-01-19 06:43] andrewserong commented on #48888
While looking into this, I noticed that the subscription forms for the Bowen, Edison, and Cassel layouts were throwing block validation errors in the preview and when inserted in the page:

E.g.

![image](https://user-images.githubusercontent.com/14988353/104997273-6eb99500-5a7d-11eb-8152-0dc3be21e16f.png)

From comparing the markup before and after clicking Attempt Block Recovery, I can see that

[2021-01-19 08:30] #48182 closed, assigned to cpapazoglou

[2021-01-19 10:11] cpapazoglou commented on #48824
Only the following menus support "All sites screen"
![](https://cln.sh/jOIqBM+)

Upgrades, doesn't seem to be any of them. So we can either keep it and let it redirect to Site Selector or remove it.

[2021-01-19 10:36] annemirasol commented on #44728
I had initially filed this as a Gutenberg issue, but then I checked the behavior on self-hosted, and it was working fine there.

[2021-01-19 10:39] ramonjd commented on #44090
Given the integration of the Patterns API and the upcoming redesign work we can close this.

[2021-01-19 10:39] #44090 closed

[2021-01-19 10:39] ramonjd commented on #45689
Closing this as it's not a feature we'll be developing any time soon.

[2021-01-19 10:39] #45689 closed

[2021-01-19 10:41] iamgabrielma commented on #48977
They replied with their browser details:
[code]

[2021-01-19 11:01] tjcafferkey commented on #46879
I am unable to replicate this bug. Instead I get "Sorry, this content could not be embedded." and the editor does not crash.

![Screenshot 2021-01-19 at 10 51 17](https://user-images.githubusercontent.com/8639742/105024662-43ff1a80-5a44-11eb-82b9-5aff5d16f9e2.png)

Am I doing something wrong or has this been fixed?

[2021-01-19 11:14] cpapazoglou commented on #48177
Searching for `link-manager.php` in the code it seems:
1) It is removed since 3.5 https://github.com/WordPress/WordPress/blob/master/wp-admin/includes/bookmark.php#L333-L351
2) Maybe we should do that check https://github.com/WordPress/WordPress/blob/master/wp-admin/includes/upgrade.php#L1877 before showing the menu?
3) Calypsoify used to remove that menu

[2021-01-19 11:24] #46831 closed

[2021-01-19 11:38] ciampo opened #49027 "Plans Grid: domain CTA chevron down icon should not be green"
Likely a regression from #47796

#### Acceptance criteria
* [ ]

#### Steps to reproduce the behavior

- Prepare your sandbox:
  - Make sure you have an active ssh connection to your sandbox
  - Clear your sandbox and pull the latest version from trunk
  - Add an unlaunched site created via `/start` to your sandbox
- Pull this PR's branch on your local machine and run the project locally:
  - Run

[2021-01-19 13:49] tyxla commented on #48408
Several more reduxification and/or cleanup PRs today:

* #49029 - refactor any instances of `notices.getStatusHelper` and remove that method
* #49030 - reduxify renewal error notices
* #49031 - reduxify notices in mailing lists
* #49032 - remove unnecessary notice clearing in plugins routes
* #49033 - reduxify notices in the ICANN verification screen

[2021-01-19 13:50] thabotswana commented on #48947
Another report here: 3649799-zen

[2021-01-19 14:41] Copons commented on #49021
Hi @lsl!
I've just tested this and apparently the issue happens on .org as well. 🤔

I've tried on both my local dev env and the [Gutenberg demo](https://wordpress.org/gutenberg/), on top of a simple site on .com, and in all cases I couldn't "arrow up" after backspacing all the paragraph content.

Could you please confirm this, or add more info (theme, site type, OS, this kind of things) otherwise?

[2021-01-19 14:49] getdave commented on #48220
@mmtr Did you have a PR in progress here? If so would it be ok to link it up? 🙇

[2021-01-19 14:52] getdave opened #49036 "All sites view shows "squished" sites count"
Small bug whereby the total sites count number in "All sites" mode looks a little squished when the sidebar is collapsed on `https://wordpress.com/stats/day?site=null`

<img width="761" alt="Screen Shot 2021-01-19 at 14 51 34" src="https://user-images.githubusercontent.com/444434/105050738-fe534980-5a65-11eb-8125-99427c1dce59.png">

[2021-01-19 15:11] mmtr commented on #48220
@getdave I don't have any PR yet. Only had time to identify that the flash occurs because we have 2 different data sources:

- The `Layout` component gets the color scheme from the `preferences` Redux state: https://github.com/Automattic/wp-calypso/blob/0b3580e9a1ee14c72fc40477afbcf33433d8e72b/client/layout/index.jsx#L325
- The Account Settings page uses the `userSettings` library which implements

[2021-01-19 15:15] #48552 closed, assigned to mmtr

[2021-01-19 15:22] mmtr commented on #47039
With the new approach taken that exposes the color scheme as a new property of the XMLRPC response (p9o2xV-FT-p2), all the Atomic sync scenarios should be solved by 587-gh-Automattic/wpcomsh

[2021-01-19 15:27] Copons commented on #49007
I gave this a quick try and I agree that this is caused by reusable blocks referencing themselves, and that it also happens on Core Gutenberg.
I'm not exactly sure _how_ folks have managed to get a reusable block to self-ref, as whenever I've tried it, it basically crashed my browser before I had a chance to save the block. 😅

Either way, this needs to be fixed from Core, by preventing the loop in

[2021-01-19 15:47] ianstewart opened #49039 "Themes: Hide Varia in Showcase for users who have never activated it"
**Current Status:**

If one scrolls to the very bottom of our theme showcase (logged-in _or_ logged-out) they will find the Varia theme.

![image](https://user-images.githubusercontent.com/545779/105057323-b965ed80-5a3a-11eb-8813-f063e8402699.png)

This parent theme is necessarily active in order to act as a parent for its many child themes. (Coutoire, Hever, Rockfield, etc.). It was never created

[2021-01-19 15:54] shaunandrews opened #49040 "Jetpack Backup: Everything is mis-aligned :)"
I was reading this [CSS Tricks post about WordPress.com](https://css-tricks.com/wordpress-com-business-plan/) and noticed that one of the screenshots looked like it was busted:

<img width="896" alt="image" src="https://user-images.githubusercontent.com/191598/105058636-6c871480-5a44-11eb-9f85-24f8c8a5536e.png">

I thought there must have been some caching or other rendering issue, but no, this is

[2021-01-19 15:58] folletto commented on #49040
Thank you for the issue. We know we have to work on it, but let's see if we can slip in something for now. :)

Specifically:

1. Try to remove the special styling we have in Calypso Blue compared to Calypso Green, which also should improve maintainability.
2. Fix alignments overall.
3. Reintroduce calendar and search which seem not appearing on Calypso Blue (there might be a reason, but let's see)

[2021-01-19 16:14] #48824 closed, assigned to cpapazoglou

[2021-01-19 16:30] #48981 closed, assigned to moon0326

[2021-01-19 16:45] johngodley opened #49041 "Gutenberg: difference in handling of a paragraph block"
There appears to be a difference in HTML parsing between Gutenberg on wordpress.com and wordpress.org.

On both a wordpress.org and wordpress.com site, edit a post and switch to code editing. Then paste this:

`cats`

Then switch back to visual editing.

On a wordpress.org site, it results in a paragraph with `cats`. Switching back to code editing you can see it is now:

[code]

Note the addition

[2021-01-19 16:59] cpapazoglou opened #49042 "Nav Unification: menus are missing when visiting a Jetpack site in calypso"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Enable nav-unification paYJgx-1af-p2
2. Go to https://wordpress.com/ and visit  Jetpack site
3. Inspect the sidebar menus

#### What I expected to happen
Menus like Jetpack Backup to show up

#### What actually happened
Menus are missing

Before | After
-------|------
![image](https://user-images.githubusercontent.com/124300

[2021-01-19 17:03] carinapilar opened #49043 "Mappings: Confusing Message When Removing It"
#### Steps to reproduce the behavior
1. Go to Manage > Domains on a site where you have a mapping upgrade
2. Click on 'Delete domain mapping'

#### What I expected to happen
To maybe show a message to confirm the mapping removal, with a warning that the site will stop loading with it - something like that.

#### What actually happened
It asks for a reason to be removed, and warns that you won't be

[2021-01-19 17:17] xpurichan commented on #45881
Encountered in 27118547-hc.

[2021-01-19 17:31] cpapazoglou commented on #48211
@sfougnier we have discussed in the past, showing a limited amount of items in the menu Flyout. Is that something you agree or do you have an other suggestion?

[2021-01-19 17:32] JoshuaGoode commented on #49007
Thanks, @Copons!

Looks like it depends on the content of the reusable block.  In the cases I examined, the culprit was often a reusable customized Spacer block that doesn't seem to crash the browser when self-referenced and allows users to Update/Publish their changes.

An example of this [was in my comparison video](https://github.com/Automattic/wp-calypso/issues/49007#issuecomment-762462521), I

[2021-01-19 17:46] #44691 closed

[2021-01-19 17:47] simison commented on #42281
@razvanpapadopol do you remember what's the status of this regarding different flows?

[2021-01-19 18:14] cathymcbride commented on #48982
@becdetat can you add repro steps please?

[2021-01-19 18:22] cathymcbride commented on #48947
Upping priority and putting on janitor board

[2021-01-19 18:52] nsakaimbo commented on #48517
Thanks for testing, @felipelousantos! This fix isn't available in 6.8.0 yet - it will be available in 6.9.0.

[2021-01-19 18:52] #48517 closed, assigned to nobody

[2021-01-19 19:00] nickdaugherty commented on #49007
@JoshuaGoode you may have meant to tag @nickpagz...unless I just have a really bad memory...

[2021-01-19 19:51] monsieur-z commented on #49040
Fix alignments overall.

Fixing the alignment issues shouldn't take too much time. We might need to update components that are used elsewhere in the app though, so it might not be as trivial as it seems. Could we see mockups or captures with annotations of what needs to be moved around exactly?

What a timing, @eeeeevon13 and I started a conversation about that yesterday. Though Calypso and cloud

[2021-01-19 19:55] ghost opened #49046 "WhatsApp block: long text in "Default First Message" textbox results in error"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to WP website and create a new post
2. Add WhatsApp Button block
3. In "More Settings" pane, select Default first Message and enter long text in size of 11900 chars. (Attached
[example Text.pdf](https://github.com/Automattic/wp-calypso/files/5838262/example.Text.pdf).)
4. Publish page
5. Open page in different tab. Check

[2021-01-19 20:04] ghost commented on #48211
Thanks for the ping @cpapazoglou

I think this makes sense. Maybe we can display the first 5. Otherwise, one option would be to remove the flyouts entirely from the reader.

[2021-01-19 20:34] colibrita commented on #36197
I upgraded to Business and lost my File Downloads stats, which is actually quite a big deal to me and I can't get them back. It's nuts to get them included in the cheaper plan and then removed with the Biz plan. I'm surprised to see in this forum that this was being reported back in 2019.

[2021-01-19 20:48] carinapilar opened #49047 "Manage Purchases: Display Number of Licenses"
#### What
The Purchases page could show the number of licenses for some upgrades, such as for emails.

#### Why
The Purchases page only shows the amount the upgrade costs, with products that are licenses (emails for now) users aren't able to quickly see how many licenses they have.

#### How
Here's how the Purchases page looks like on an account with 6 G Suite licenses:

![GSuiteLicense2](https://

[2021-01-19 21:00] ianstewart opened #49048 "Design Picker: Customize Blank Canvas post-site creation experience"
### What
Customize the user experience once they land in the editor after picking Blank Canvas from DesignPicker. Once the user lands in the empty editor, the patterns inserter modal pops up. After selecting a (blank) pattern, the modal closes, and the Welcome Tour is displayed.

### Why
Allow customers to skip picking design, and land them in the empty editor where they can explore adding pattern

[2021-01-19 21:17] tbradsha commented on #49007
3660798-zen

[2021-01-19 21:30] shaybenb opened #49049 "Security Data Issues Secrets in clear text"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to URL
https://github.com/Automattic/wp-calypso/blob/ebef9a43ea031d2cdf0dab95851a714f2bdcccd8/config/production.json
2. SEE below API keys

![image](https://user-images.githubusercontent.com/46863888/105095221-177fe880-5aae-11eb-8980-7f1bac6adec3.png)
![image](https://user-images.githubusercontent.com/46863888/105095279-2

[2021-01-19 21:42] shaybenb opened #49050 "Security Data Issues Secrets in clear text"
Hi,<br><br>url : https://github.com/Automattic/wp-calypso/blob/ebef9a43ea031d2cdf0dab95851a714f2bdcccd8/config/production.json <br><br>You have commit that need to remove from the github history<br>attacker can see it and use it ...<br><br>encrypt your secrets !!!!<br><br>Our Bug Help you to be more Secure and protect your data ?<br>Buy me a coffee (or more likely a beer)<br>https://www.paypal.com

[2021-01-19 22:15] #48736 closed, assigned to sirbrillig

[2021-01-19 22:20] kathrynwp opened #49053 "Manage > People: Allow search team by email"
For parity with WP Admin, and for convenience, it would be ideal to make it possible to search Team members by email address, instead of just by username.

### Steps to Replicate

Go to Manage > People

Click the magnifying glass icon

Enter an email address of one of your users

### Results

No users are found

### Results

The user corresponding to the searched email address should be displayed

[2021-01-19 23:57] gwensmithx opened #49056 "Custom Color Picker Slider Closes Prematurely"
**I think this might be related to this issue as it's very similar:** https://github.com/WordPress/gutenberg/issues/21163

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to a page and highlight some text on the page to change the colour of.
2. Select the dropdown arrow in the toolbar and select the Text Color option.
3. Then when the colour picker comes up, select "cu

[2021-01-20 00:35] donalirl commented on #17573
This would really help the kind of confusion we are seeing in cases like #3663880-zen

[2021-01-20 00:59] sirbrillig commented on #48966
https://github.com/Automattic/wp-calypso/pull/49059 Will convert the account-level `AddNewPaymentMethod` component.

After that is merged, I'd like to see if it's possible to convert the site-level `AddNewPaymentMethod` to use the same component, in the same way that we share `ChangePaymentMethod` between account and site-level.

Finally three more things will need to be done:

We'll need to conve