[2021-05-12 09:22] niranjan-uma-shankar opened #52775 "Weird logout state in mapped domains"
### Steps to reproduce the behavior

1. On a browser with 3rd party cookies _enabled_,  visit a mapped domain WPCOM website and log in to that site. You should now be able to see blog posts, the logged in masterbar and so on.
2. Log out of WPCOM and visit the mapped domain site again

#### What I expected to happen

I expected to see the logged out view of the website. This means that if the site

[2021-05-12 11:27] WunderBart commented on #52595
@jeherve mentioned that we'd need to update 2 JP blocks before releasing this version. See p1620817101206900-slack-CBTN58FTJ for more info. I've added this as a blocker (see issue description).

[2021-05-12 11:53] kavyagokul opened #52783 "Settings : Privacy setting to hide site from search engines doesn't work"
### Steps to reproduce the behavior

1. Go to **My SIte > Settings > General** for an Atomic site
2. Turn on the option "Discourage search engines from indexing this site"
3. Check robots.txt

#### What I expected to happen

Something like this
[code]

#### What actually happened

This
[code]

### Context

#### Browser / OS version
Firefox developer edition on Linux
Chromium on Linux

#### Is this

[2021-05-12 11:55] kavyagokul commented on #52783
This was reported in 29543871-hc

[2021-05-12 12:44] kathrynwp commented on #52615
It looks like it was in the original plans for the Varia child themes to add a logo resizer similar to Radcliffe 2's, but it did not end up panning out.

As the Varia themes are still in heavy use – and part of the WordPress.com signup flow – let's revisit whether we can make it happen now.

Here is the original PR: https://github.com/Automattic/themes/pull/1320

[2021-05-12 13:22] #52695 closed, assigned to nobody

[2021-05-12 13:46] mikeicode opened #52787 "Layout Grid: Responsive Breakpoint input field issues"
The up/down arrows on the Responsive Breakpoint input fields sometime don’t work at all, or sometime require multiple clicks.

### Steps to reproduce the behavior

1. Add a 4 column Layout Grid block to a page
2. Click on Responsive Breakpoint > Mobile
3. Try to set the first row to have 2 columns across (Offset = 0, Span = 2) for the first 2 columns

#### What I expected to happen

You should be

[2021-05-12 13:55] mikeicode opened #52788 "Layout Grid: Add an option to change the Gutter size on Responsive Breakpoints"
**What**

The “Gutter” option sets the same gutter across breakpoints. A Huge gutter on desktop is too large on mobile, there should be an option to change the gutter for each breakpoint:

Desktop:

![https://d.pr/i/92LCu8](https://d.pr/i/92LCu8+)

Mobile:

![https://d.pr/i/sEtU42](https://d.pr/i/sEtU42+)

**Why**

Trying to set a 2 column layout on mobile results in the gap being too large if you

[2021-05-12 14:11] michaeldcain opened #52789 "Customer Home: add All Sites view"
**What:**
An All Sites "dashboard" that resides at `/home` (without the site context). This could be as simple as a grid or list of a user's site(s), with quick links to manage their site (i.e. Stats, Posts, Pages, Email, Domains).

**Why:**
Multi-site management is a core tenant of Calypso. The current lack of an All Sites Customer Home view instead shows the sidebar-less site picker, and forces

[2021-05-12 14:26] adekbadek opened #52790 "Can't log in on wordpress.com/log-in (Firefox, macOS Big Sur)"
### Steps to reproduce the behavior

1. Visit the login page at https://wordpress.com/log-in
2. Fill in username and click "Continue"
3. Observe the buttons become disabled indefinitely

#### What I expected to happen

After the buttons become disabled, I expect the UI to switch to password input.

#### What actually happened

The UI change does not happen

#### Browser / OS version

Firefox 88.0.

[2021-05-12 14:28] michaeldcain commented on #52789
Old design explorations: p8FazZ-mZ-p2
Recent discussion about how this pertains to multi-site pricing: pcbrnV-29F-p2 /cc @victorespigares

I considered marking this `Back to Basics` considering how broken the flow currently is, but I'll leave that decision up to the Customer Home pod. /cc @simison

[2021-05-12 14:43] kwight commented on #52757
That sounds like a great idea, but I'd like the first step to be "these themes all have valid not-broken Headstart annotations" (which I think we can do without hand-crafting block-based homepages first, but maybe I'm missing something?).

[2021-05-12 14:56] #52456 closed, assigned to sirbrillig

[2021-05-12 15:03] kwight opened #52792 "Themes: Consider adding previews in the theme switch modal."
On theme switch, users are asked if they would like to use the homepage that comes with the new theme, or keep their existing homepage content. Mentioned by @ollierozdarz and @simison in p1620813916187000-slack-C0202PMUXLJ, we could give the user a preview of what those choices would look like.

We already have an endpoint that does similar previews for signup at `/new/design`, so that could be le

[2021-05-12 15:34] JoshuaGoode commented on #52758
Closing in favor of https://github.com/Automattic/wp-calypso/issues/52758

[2021-05-12 15:35] #52758 closed, assigned to nobody

[2021-05-12 15:39] brandonpayton commented on #51668
IIRC... This seemed like a core issue, and I just fixed an instance of this for a user by removing the line break. At the time, it seemed like maybe there was a bug with _allowing_ a line break in those values, but we should treat this as a Customizer bug, because it should still function regardless of what is in those user-controlled values.

AFAIK, the underlying issue is not fixed.

[2021-05-12 15:51] creativecoder commented on #50602
Relevant to this issue, I think; I ran into this today:

<img width="1097" alt="image" src="https://user-images.githubusercontent.com/1699996/118005016-9de76100-b30f-11eb-88c0-e69b06eed43a.png">

I expected to be able to click somewhere to Renew the plan, but there's no call to action displayed (`https://wordpress.com/me/purchases/{site}/{purchase_id}`). (Note this test user doesn't have a payment

[2021-05-12 16:00] #51530 closed, assigned to blackjackkent

[2021-05-12 16:03] #44183 closed

[2021-05-12 16:05] josephscott commented on #52735
The API tokens don't ever get you into a logged in state.  They only make it possible to do authorized API calls.

[2021-05-12 16:07] #51904 closed, assigned to nobody

[2021-05-12 16:46] vindl commented on #52732
This has been fixed with Gutenberg v10.6 update in D61304-code.

[2021-05-12 16:46] #52732 closed, assigned to david-szabo97

[2021-05-12 16:57] worldomonation commented on #12670
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-12 16:57] #12670 closed

[2021-05-12 16:58] porada commented on #52125
@Nic-Sevic — Do have any other details on the user context? Like the theme the user was running.

I’m asking primarily because I can’t reproduce this issue under the current revision of core:

https://user-images.githubusercontent.com/2060580/118014803-e163be80-b353-11eb-82ed-89c95ecb7760.mp4

[2021-05-12 16:59] worldomonation commented on #43326
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-12 16:59] #43326 closed

[2021-05-12 17:01] worldomonation commented on #43595
Looks like it was referenced in an active issue, so I will remove the Stale label for now.

[2021-05-12 17:04] worldomonation commented on #45123
Removing Stale label as it is a good first issue.

[2021-05-12 17:05] worldomonation commented on #45036
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-12 17:05] #45036 closed

[2021-05-12 17:09] worldomonation commented on #30263
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-12 17:10] #30263 closed

[2021-05-12 17:10] worldomonation commented on #36332
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-12 17:10] #36332 closed

[2021-05-12 17:11] worldomonation commented on #46948
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-12 17:11] #46948 closed

[2021-05-12 17:14] worldomonation commented on #46290
Still reproducible and bad user experience. This bugfix should be prioritized over new features as users would likely be frustrated trying to figure out why their columns don't render properly.

[2021-05-12 17:20] worldomonation commented on #46293
Keeping this issue active for at least another 6 months in the hopes that it can move forward then.

[2021-05-12 17:23] adekbadek commented on #52790
Weird stuff, problem resolved after computer reboot. Maybe we'll never know what happened.

[2021-05-12 17:23] #52790 closed, assigned to nobody

[2021-05-12 17:58] darcie opened #52797 "Nav Unification: "Feedback" page missing"
### Steps to reproduce the behavior

1. Go to the dashboard
2. Click on My Site
3. Feedback is not listed in options

#### What I expected to happen
Feedback as a menu in Nav Uni to see form submissions

#### What actually happened
Feedback is missing except when using wp-admin

### Context
User came in to chat looking for Feedback. Initially thought it was hidden from view, then realized it was m

[2021-05-12 18:31] michaeldcain commented on #52757
+1. Although it might be nice to open the demo sites and convert the classic blocks to Gutenberg blocks. That was the user isn't met with block warnings when they start the site.

[2021-05-12 19:11] ianstewart opened #52799 "Spearhead: using incorrect Headstart annotations on Theme Switch"
When we activate Spearhead in the theme showcase and choose the option that tells Dotcom to set up the site to look just like the theme homepage we get the following result.

![image](https://user-images.githubusercontent.com/545779/118031055-b5344780-b32b-11eb-9c9c-3942facc1670.png)

Expected result

![image](https://user-images.githubusercontent.com/545779/118031173-d85ef700-b32b-11eb-8e70-c1db5

[2021-05-12 19:18] michaeldcain commented on #52799
It looks like the annotation already exists: D61318-code. I'm thinking the theme doesn't have the `auto-loading-homepage` tag

[2021-05-12 19:22] michaeldcain commented on #52799
It does have the tag.

[2021-05-12 19:23] #47397 closed

[2021-05-12 19:30] michaeldcain commented on #52799
So I did a little more looking. The issue here is that Headstart on theme_switch doesn't account for themes where `"show_on_front": "posts"`. The Spearhead demo site actually has a Home page being created that matches your screenshot above, it's just that the templating system skips that page, since the theme is a blog.

[2021-05-12 19:35] michaeldcain commented on #52799
Adding to the complication, Headstart on switch_theme only creates a single page (the homepage), so if we fix it to instead update the `show_on_front` setting, and the user doesn't have any posts, they'll be shown the empty blog home template.

[2021-05-12 19:40] ianstewart commented on #52799
The current status is much worse than this. :)

![image](https://user-images.githubusercontent.com/545779/118034620-ced78e00-b32f-11eb-891b-8891345084f5.png)

I think this is better than the current status in that case.

Perhaps later it could be improved by headstarting one or two sample posts. (The grey-boxed part of the design is a sticky post.) But then I'd want to introduce removal of Headsta

[2021-05-12 19:42] #42412 closed

[2021-05-12 19:48] ianstewart commented on #52799
**Note:** I deleted this from the demo a few minutes ago. Seems like an oversight.

[2021-05-12 19:48] ianstewart commented on #52799
How difficult is this?

[2021-05-12 20:02] worldomonation commented on #46367
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-12 20:29] AtrumGeost commented on #41606
+1 to this request. I was preparing a webinar video about this when I noticed this is not possible

[2021-05-12 20:38] kathrynwp commented on #51016
Sorry I did not see this until now. I will bring this to the attention of the folks updating courses.

[2021-05-12 20:41] allilevine commented on #46367
Thanks @worldomonation. I think this issue may still be needed because there's still editor code in client/post-editor.

@tyxla Is that correct?

[2021-05-12 20:44] kathrynwp commented on #52564
Could re perhaps simplify the wording to avoid repeating the theme name?  Like:

"Keep my homepage content"

"Move my homepage content to a page draft"

[2021-05-12 20:46] tyxla commented on #46367
Yep. I think we should still move all that lives in `client/post-editor` to respective directories and delete that one. Maybe an easy way is to just move the entire `post-editor` to `client/components/post-editor`?

[2021-05-12 20:59] kraftbj commented on #34272
Related 403: https://github.com/Automattic/jetpack/issues/9170

[2021-05-12 21:00] jordesign commented on #52799
As a separate issue - I've long believed the 'Nothing Found' text for no posts could be a lot better. Is this something on a theme-by-theme basis (I'm guessing so).

[2021-05-12 21:27] allilevine commented on #46367
Thanks, reopening!

That does sound easier. Will that create technical debt though? Will we have to move them out of there eventually?

[2021-05-12 21:44] ccwalburn commented on #44188
I noticed this issue is no longer stale so I wanted to provide an example in support of the importance of this request. This is an instance where a site, plan, and domain were all deleted in an attempt to empty the cart because the user could not find it: 3979625-zen

[2021-05-12 21:56] ianstewart commented on #52799
Comes from a template that we generally carry over from theme to theme. Would be fun to improve it a bit for the cases where it still pops up. (And make sure that when we start using Query Block variations that we improve it there as well!)

[2021-05-12 21:58] kwight commented on #52724
@blackjackkent Can you give an update here please?

[2021-05-12 22:05] kwight commented on #52564
See also https://github.com/Automattic/wp-calypso/issues/52792

[2021-05-12 22:34] niranjan-uma-shankar opened #52803 "Mapped domain sites don't show the Edit option on first render"
### Steps to reproduce the behavior

1. Add a user with Editor role to a WPCOM site that has a mapped domain. Let's call this newly added user as "user A".
2. On a separate browser or incognito window with 3rd party cookies enabled, sign into WPCOM as "user A".
3. Navigate to a blog post on the site that this user got added to in Step 1

#### What I expected to happen

To see the "Edit" option whe

[2021-05-12 22:52] niranjan-uma-shankar opened #52804 "Private mapped domain sites show the login page even after successful login"
### Steps to reproduce the behavior

1. On a browser or incognito window with 3rd party cookies enabled, sign into WPCOM as any user. Let's call this user as "user A".
2. On a different browser, add "user A" with Editor role to a "Coming soon" mode WPCOM site that has a mapped domain, say example.blog
3. Go back to the browser that is signed in to "user A", navigate to a blog post that this user g

[2021-05-12 23:46] jordesign opened #52806 "Improve copy/text shown when user is 'Showing Latest Posts' on front page but has no public posts to show."
### Steps to reproduce the behavior

1. Make sure your site has no public posts (no posts, or all posts set to be drafts)
2. Set Customizer > Home Page Settings to 'Show Latest Posts'

#### What I expected to happen

As a user I would expect to see any posts I've written (even if drafts) or *some* kind of content.

#### What actually happened

While in the Customizer I see some example content - I

[2021-05-12 23:53] jordesign commented on #52799
Have opened this is a separate issue.
https://github.com/Automattic/wp-calypso/issues/52806

[2021-05-12 23:59] deBhal commented on #52707
The new test site is still unlaunched overnight, so we can rule out automatic processes for now and focus on actions that trigger the change.

[2021-05-13 00:01] jordesign commented on #47334
This could be really good!

[2021-05-13 00:54] jordesign commented on #52767
It also strikes me that it's likely a user will be *more* interested in the stats for recently posted content?

If I added a post yesterday - The stats for that post are top of mind for me...

[2021-05-13 01:08] autumnfjeld commented on #52697
@razvanpapadopol  @StefanNieuwenhuis
Until this issue is fixed the Welcome Tour will show will show on all new sites for simple sites, but on atomic sites the Tour will only show for new users.

Flagging this issue for you since it impacts https://github.com/Automattic/wp-calypso/issues/49048

[2021-05-13 01:17] kristarella commented on #51787
Closing 3905119-zen

Please open new ticket when fixed

[2021-05-13 01:46] devNigel commented on #50928
Another report: 29557116-HC ( AT )

I'd also like to note that uploading works fine via FIle block.

[2021-05-13 02:41] roo2 commented on #52705
the `save_post_page` and `update_option_page_on_front` can both trigger the task to be marked as complete

[2021-05-13 03:57] #52404 closed, assigned to kangzj

[2021-05-13 04:37] taggon commented on #52513
I created a diff D61339-code to increase the limit to 350.

[2021-05-13 06:35] tyxla commented on #46367
I don't think it would create any technical debt, because all that remains there is actually components indeed. The only thing to reason about is whether each of them should be in `client/components` or in `client/blocks`, as some of them are pretty convoluted (the media modal for example).

[2021-05-13 07:24] #52727 closed, assigned to cpapazoglou

[2021-05-13 07:30] fresatomica opened #52808 "Reusable Block: Won't display within Blog Post or Latest Posts blocks"
### Steps to reproduce the behavior

1. Add a reusable block to one of your posts.
2. Create a page with Latest Posts or Blog Posts block.
3. Open the new page and compare the content.

#### What I expected to happen

When displaying a full post within one of the blocks, the whole content of the post should be visible.

#### What actually happened

The reusable block will not show.

### Context

#

[2021-05-13 07:52] autumnfjeld opened #52809 "Remove My Home "Visit site" button"
Part of My Home Pod: Cleaning up My home
Project thread: pd2qGl-17-p2

The visit site action also exists in the side nav and thus is being removed from My Home in efforts to declutter the page.

[2021-05-13 07:57] autumnfjeld opened #52810 "My Home: show Woo App CTA"
This is part of My Home Pod: Cleaning up My home
[Project thread]( pd2qGl-17-p2)
My Home: show Woo App CTA  if site is eCommerce and user does not already have the Woo App

**Status**:  needs design

**User facing acceptance criteria**
User has signed up their site as an eCommerce plan
When they land in My Home and we know they have not dowloaded the Woo App
Then the user sees the Woo App CTA

**F

[2021-05-13 08:23] zdenys commented on #52797
It was fixed in r225586-wpcom. Closing.

[2021-05-13 08:23] #52797 closed, assigned to nobody

[2021-05-13 08:27] #51743 closed, assigned to ciampo

[2021-05-13 08:42] tarunvijwani opened #52811 "Schedule update on the existing post or page"
Add the option to schedule the update on the existing post or page

What
If the page or post is already published, customers should have the option to schedule some changes on the post and page

Why
User should have the option to schedule the updates changes as well
How
When editing the content, we should have the options to update and schedule updates

[2021-05-13 08:50] syds87 commented on #52232
Thanks for your reply!

I have checked this and it seems like we're actually missing three provinces. The total number of Italian provinces is currenlty 110.
In our list we only have 107 provinces.

It seems like the following ones are missing:

* Monza e della Brianza (code: MB)
* Fermo (code: FM)
* Barletta-Andria-Trani (code: BT)

Thanks!

[2021-05-13 09:28] WunderBart commented on #48093
Technically, it seems like everything is OK with this. The block, if no values provided, will not output any visual elements to the published page - this seems to be the correct behavior ATM as the default values are just placeholders. The test itself is not filling the block values and only checks if the block container element [is present on the published page](https://github.com/Automattic/wp-c

[2021-05-13 09:40] cpapazoglou commented on #51096
I brought this to broader discussion here pd2C0z-x-p2

[2021-05-13 10:54] zdenys commented on #43919
29563260-hc

[2021-05-13 11:19] cpapazoglou commented on #51095
@daria2303 `/wp-admin/index.php?page=stats` is reinstated. You can let the User know that they can access that page directly.

While almost all stats are available in WordPress.com Stats page the **Share** stats tab (and page) is missing from WordPress.com & Atomic sites. They are only available in WPCOM simple sites WP Admin
![](https://cln.sh/fhHmw7+)
![](https://cln.sh/26PgzB+)

I believe we sh

[2021-05-13 11:23] cpapazoglou commented on #51095
We can either keep Calypso Stats as canonical and add this feature
or
Keep WP Admin as canonical and add this feature to Atomic

[2021-05-13 13:11] michaeldcain commented on #52799
D61318-code has been deployed. That really only ensures that the correct content is created on Signup or with the RC tool, not theme switch (which requires the theme switch tool to handle blogs).

[2021-05-13 14:01] aneeshd16 commented on #52765
I could reproduce this issue with a *.blog domain (not subdomain) as well. I noticed that login does not work for an un-launched site, while it works for a private site.
More details [here](pcNnmV-46-p2#comment-129).

[2021-05-13 14:16] #51206 closed, assigned to david-szabo97

[2021-05-13 14:35] ianstewart commented on #52757
+1 on this.

We might want to do this in the near to medium future though. Opportunities:

- Portfolio Blocks
- Query/Blog Blocks

I think we might run into some blockers with the theme style support for blocks though. (I tried to do this on Tuesday with a few themes.)

[2021-05-13 14:37] ianstewart commented on #52757
I noticed yesterday in a usability testing video that some of our demo sites are quite … stuffed. Making not-so-great templates for editing. I'm probably going to go in and trim a few. (Coutoire was a standout.) Don't let that be a blocker though! More wanted to note so I don't forget and also in case anyone sees something simple and wants to do it ad hoc with me. :)

[2021-05-13 15:11] allilevine commented on #17686
Fixed by https://github.com/Automattic/wp-calypso/pull/52807

[2021-05-13 15:11] #17686 closed

[2021-05-13 15:33] ianstewart commented on #52806
I would bet that this is something that could be handled via a plugin in all of our popular free themes.

That said, it might be something that could be handled via a quick snippet inserted into all themes for when this case shows up. (iirc, how this message works.)

Either way, plus one on the output above.

[2021-05-13 15:34] ianstewart commented on #52799
How might we account for themes where `"show_on_front": "posts"` in the code that runs the template set up on theme switch?

[2021-05-13 15:47] Aurorum commented on #52809
PR for this issue in #52830. :)

[2021-05-13 16:02] Aurorum commented on #52811
This was something which I proposed just over a year ago in Automattic/jetpack#15571, but the proposal was deemed unsuitable for the Jetpack plugin. I ended up making a [separate plugin](https://en-gb.wordpress.org/plugins/schedule-revisions/) to achieve the same thing, but I'd always be willing to have it included within WordPress.com if that was possible. Unfortunately, I'm not sure which plugin

[2021-05-13 16:13] Aurorum commented on #52762
PR for this issue in #52831. :)

[2021-05-13 16:26] worldomonation commented on #48093
@WunderBart Ah, thanks for digging in deeper!
I would agree that given what you've outlined, the tests are not false negative-ing. I also agree that it's worth adding a step to fill in the value.

I would say that from a customer perspective, I'd still expect the block to appear even if default values were not changed, but that's beyond the scope of this issue probably.

For now, the Selenium test

[2021-05-13 17:47] michaeldcain commented on #52799
If we approach it with a theme tag (i.e. `blog-homepage`), then D61382-code would handle setting `"show_on_front": "posts"`.

[2021-05-13 18:04] ianstewart opened #52833 "Theme Showcase: Add blog-homepage tag"
I don't think we would surface this to users but it may be valuable to track. Similar to `auto-loading-homepage`, we could have `blog-homepage`. Props to @michaeldcain for the idea.

[2021-05-13 18:06] pottedmeat commented on #50820
I believe this has been addressed and this issue can be closed.

[2021-05-13 18:11] worldomonation opened #52834 "Playwright: Implement logging"
**Task Details**
Implement basic logging of the actions that Playwright performs using their (rather limited) [Logger API](https://playwright.dev/docs/api/class-logger/).

**Related to**
Parent: #51082

[2021-05-13 18:20] worldomonation commented on #52834
One thing to note, while the built-in Logger API has [provision](https://github.com/microsoft/playwright/blob/master/src/utils/debugLogger.ts#L59) to specify the 'level' of logs desired, this doesn't seem to work in my experience.

When running Playwright with the debug log environment variable set, `pw:protocol` should produce _extremely_ verbose logs like this:
[code]

The same bit with `pw:api`

[2021-05-13 18:26] ianstewart commented on #52833
Closing this one because we're already discussing this idea on #52799

[2021-05-13 18:26] #52833 closed, assigned to nobody

[2021-05-13 18:30] vindl commented on #52744
Yep, I'll pull it to our backlog.

[2021-05-13 18:53] jamiepalatnik commented on #46077
Another report in 21013947-hc

[2021-05-13 19:00] blackjackkent commented on #52724
My productivity on this has been less marked than I would have liked due to this week being hectic and broken up, but there's been a considerable amount of discussion going on on P2 (pd2qbF-l-p2) which I will attempt to summarize here:

- The primary concern here is a disconnect in user experience between the signup process and the theme showcase. A user who selected the Baker pattern on signup se

[2021-05-13 19:23] ianstewart opened #52837 "Calypso Colour Schemes: There is no "default" option."
1. Create a new site.
2. Go to the colour scheme page.
3. There is no "default" option.
4. Change to one of the listed schemes, there's no way to go back to default, unless default is "dark classic", if so it isn't selected.

![image](https://user-images.githubusercontent.com/545779/118176129-9e0e5c00-b3f6-11eb-9c7c-bf0cee999a85.png)

Hat tip @olaolusoga for the issue.

Recommendation:

1. Lets pi

[2021-05-13 19:31] kathrynwp opened #52838 "Social Links Menu - reduce inappropriate usage"
The [Social Links Menu](https://wordpress.com/support/menus/social-links-menu/), supported by [many themes](https://wordpress.com/themes/filter/social-menu), is a convenient way for a site to display links to social profiles, such as Facebook, Twitter, Instagram, etc.

When a supported social profile is added to the Social Menu, and that menu is assigned to the theme's Social Menu location, the co

[2021-05-13 19:32] #38974 closed

[2021-05-13 19:33] kelliepeterson commented on #23880
Closing this.

We introduced status indicators on domains to advise there are additional actions required which provide guidance in these cases.

[2021-05-13 19:33] #23880 closed

[2021-05-13 19:53] madisoncmiller opened #52842 "Domain Only Site - Doesn't Recognize Added Plan in SA"
### Steps to reproduce the behavior

1. Add a domain only site with no plan
2. In SA, add a plan to the domain only
3. Back in the dashboard select the domain only and click "Create site"
4. After the theme page, it asks to choose a plan - error

#### Expected:

I expected to be able to either skip the plan page or have it recognize the plan on the domain.

#### Actual:

The plan does not show up

[2021-05-13 19:56] kelliepeterson commented on #52120
https://d.pr/i/i8SOYb for reference.

[2021-05-13 20:00] kwight commented on #52724
Thanks – we're likely lean towards option 1 (we'll get proper Theme Showcase and Atomic behaviour for free, since we're generating legit themes, rather than injecting fakes). cc/ @ianstewart

[2021-05-13 20:15] kathrynwp commented on #52757
Suggested themes to look at:

### From the Recommended Themes List

- [x] Twenty Twenty One
- [x] Twenty Twenty
- [x] Spearhead (being handled in D61382-code)
- [x] Blank Canvas
- [x] Seedlet

### Selected Varia child themes
- [x] Varia (doesn't appear you can run Headstart on Varia itself, as it's not intended to be used as a standalone theme)
- [x] Hever
- [x] Coutoire
- [x] Rivington
- [x] Bala

[2021-05-13 20:34] jordesign opened #52844 "Activating a theme from the demo site does not give option to keep/change Home Page Content"
When viewing the Theme Demos I am shown an option to activate that theme for any of my sites. When I select a theme to do so - no modal to change/keep Home Page content is shown.

Example: Pb8PuN-9-p2

This is inconsistent with switching themes from the theme showcase, or viewing demo sites *within* modais in the showcase or setup pages.

<img width="1116" alt="Screen Shot 2021-05-14 at 6 27 07 am

[2021-05-13 20:45] #52394 closed, assigned to elliottprogrammer

[2021-05-13 21:11] jordesign commented on #52757
Thanks @kathrynwp  - this is gold!

[2021-05-13 21:19] worldomonation opened #52845 "Playwright: Migrate wp-log-in-out-spec.js"
**Task Details**
First test to be migrated will be wp-log-in-out-spec.js.

This will require page objects, flows and components to be built out.
Could it live within `@automattic/calypso-e2e` package?
Should it live inside the `test/e2e` directory?

**Related to**
Parent: #52849

[2021-05-13 21:23] jordesign commented on #52806
@ianstewart I'm happy to see if I can get my hands dirty figuring out a change like this (not sure if it's within my skill level - but willing to try).

Would the best first step be trying a PR for a specific theme as a proof of concept?

[2021-05-13 21:31] worldomonation commented on #52461
Keeping this task open for now in case we want to make any changes to the parameters.

[2021-05-13 21:32] jordesign commented on #50489
Suggestion from @davemart-in...

ref: pd2qGl-2J-p2#comment-91

[2021-05-13 21:34] worldomonation commented on #52460
It seems currently that appetite for auto-closing issue is low, so it's doubtful that this will get implemented in the near term.

[2021-05-13 21:35] #52460 closed, assigned to nobody

[2021-05-13 22:12] worldomonation commented on #47430
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue using the WordPress.com Desktop app for macOS Big Sur 11.2.3 (20D91).
I was unable to reproduce the captcha when signing up for a new account through the desktop app.

As there has been no recent activity on this issue it is being closed with the labe

[2021-05-13 22:15] ianstewart commented on #52757
Let's make sure the ones highlighted by @kathrynwp are covered. Here's a top 50 list to expand to …

Top 50 switched-to themes with recommended ones highlighted-

- exford (Recommended)
- shawburn (Recommended)
- morden (Recommended)
- blank-canvas (Recommended)
- seedlet (Recommended)
- twentytwenty (Recommended)
- twentytwentyone (Recommended)
- stow (Recommended)
- redhill (Recommended)
- bromp

[2021-05-13 22:34] worldomonation opened #52847 "Desktop App: Signing up for a new account from app leaves app in unusable state"
### Steps to reproduce the behavior

1. Launch WordPress.com Desktop application.
2. Click on 'Sign up'.
3. Fill in the email address, username and password fields.
4. Click on 'Create your account'.
5. Attempt to interact with app.

#### What I expected to happen
6. User is taken to dashboard to perform further activities.

#### What actually happened
6. User is stuck on a screen with top bar wit

[2021-05-13 22:46] kwight opened #52848 "Themes: Script a method for generating themes based on patterns."
We'd like to develop a script that will allow us to quickly launch new parent themes (forked from a base theme) with homepages based on block patterns. Are rough sequence of operations would be:

* Script forks theme in sandbox to `/pub` (or maybe `/pub/generated` or something) and just changes slug based on title of target site.
* Script changes all strings in the Blank Canvas fork (or whatever t

[2021-05-13 22:48] kwight commented on #52848
I've assigned @mreishus to lead this task. 🎉

[2021-05-13 22:51] worldomonation commented on #48974
Reproduced using my main account I've held for 10+ years.

Interestingly, for a new test account I signed up in the last 30 minutes, the 2FA SMS was received as expected.

[2021-05-13 22:53] worldomonation commented on #47431
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue alongside #47430 and was not able to encounter the same flow.
It would appear the desktop app signup flow has changed since the issue was filed.

As there has been no recent activity on this issue it is being closed with the label `Closed - Not Reprod

[2021-05-13 22:53] #47431 closed

[2021-05-13 22:59] worldomonation commented on #46040
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this on a Simple site by copy-pasting the following into a `Shortcode` block:

[code]
The result was this:
![Screen Shot 2021-05-13 at 3 57 57 PM](https://user-images.githubusercontent.com/6549265/118197530-00218e00-b404-11eb-9a67-b185221ab5bc.png)

Even though

[2021-05-13 23:01] worldomonation commented on #46242
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I am removing the Stale label as this is a user-facing issue that can manifest itself in all sorts of unexpected ways for the customer.

[2021-05-13 23:07] worldomonation commented on #45602
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce the problem with neither Facebook or Twitter.
![Screen Shot 2021-05-13 at 4 06 21 PM](https://user-images.githubusercontent.com/6549265/118198198-41ff0400-b405-11eb-9004-c34ce9eeb71e.png)

As there has been no recent activity on this issue it is being closed

[2021-05-13 23:07] #45602 closed

[2021-05-13 23:08] ImNotRice commented on #45586
Same issue as everyone else here.

[2021-05-13 23:16] worldomonation commented on #46294
Still reproducible and (on the surface) seems like a reasonably sized task to fix for a much improved UX.

Keeping alive for now.

[2021-05-13 23:17] worldomonation commented on #43489
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-13 23:17] #43489 closed

[2021-05-13 23:18] worldomonation commented on #41389
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

We've discontinued IE11 support, so this issue should be closed as `Closed - Won't Fix`.

[2021-05-13 23:18] #41389 closed

[2021-05-13 23:19] worldomonation commented on #50440
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

We've discontinued IE11 support, so this issue should be closed as `Closed - Won't Fix`.

[2021-05-13 23:19] #50440 closed, assigned to nobody

[2021-05-13 23:19] worldomonation commented on #38332
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

We are discontinuing IE11 support soon, so this issue should be closed as `Closed - Won't Fix`.

[2021-05-13 23:19] #38332 closed

[2021-05-13 23:19] worldomonation commented on #29914
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

We are discontinuing IE11 support soon, so this issue should be closed as `Closed - Won't Fix`.

[2021-05-13 23:19] #29914 closed

[2021-05-13 23:30] worldomonation opened #52849 "[Meta] Playwright: migrate test cases"
**Task Details**
This is a meta bug to track test case migration work.
It is expected that this meta task will also cover some page objects, components and flow migration work as well.

**Related to**
Parent: #51082

[2021-05-13 23:35] worldomonation commented on #6789
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-13 23:35] #6789 closed

[2021-05-13 23:36] worldomonation commented on #5418
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-13 23:36] #5418 closed

[2021-05-14 00:34] deBhal commented on #52707
This seems to be fine now. I've created a new site and forced on the checklist and the launch option was unchecked:

![My_Home_‹_Julesaustestatomicunlaunched_—_WordPress_com](https://user-images.githubusercontent.com/5952255/118202712-d4eb7d00-b49d-11eb-98e7-3d225c1498fc.jpg)

I went through the rest of the checklist steps to make sure there wasn't a hidden trigger, but I think this was just a con

[2021-05-14 01:30] deBhal commented on #52707
So we do launch blogs that we migrate using the `migrate-from` API call, but that doesn't seem to be part of the automated transfer process. There's a comment in the code there that that launch is because it's needed for the atomic upgrade, so I also messaged the team that's maintaining it to let them know that it may no longer be necessary.

I don't think the migration is a problem for our purpos

[2021-05-14 01:30] #52707 closed, assigned to deBhal

[2021-05-14 02:50] happychait opened #52851 "Natural: Twitter tweet embeds are cut off"
### Steps to reproduce the behavior

1. Activate the Natural theme on a Simple or Atomic site.
2. Go to post or page editor.
2. Paste a Tweet link in a Paragraph block on any post or page.

#### What I expected to happen

Tweet embeds correctly and the full tweet is shown.

#### What actually happened

1. Lot of white space at the top.
2. Tweet is truncated.

#### Is this specific to the applied t

[2021-05-14 03:22] autumnfjeld commented on #41702
@jancavan this issue is a year old.  Just wondering who would be responsible for completing the illustration and design?  Also checking that this still a valid request for customer home?  Thank you.😃

[2021-05-14 03:31] ollierozdarz opened #52852 "Signup: Content improvements, contrast, remove username."
Based on the current performance of the refined reskin onboarding flow, let's make the following changes to help increase the likelihood of reaching parity (and beyond) with control.

**Updates to content:**
- Remove the username field (this was approved by Dave Martin)
- Update the input label copy to read; "Your email address" and "Choose a password".
- Add "OR" between the two dividing columns

[2021-05-14 04:53] ollierozdarz opened #52854 "Plans: Mobile parity, contrast updates."
Based on the current performance of the refined reskin onboarding flow, let's make the following changes to help increase the likelihood of reaching parity (and beyond) with control.

**Two main issues**
1. The mobile version is currently a frankenmock and should reach parity with designs provided to ensure we have a consistent base to work from
2. For both desktop and mobile, there are some style

[2021-05-14 05:24] nagpai commented on #50560
User issue #28544407-hc

Anchor asked them to downgrade if they want the podcast back. Mentioned that Podcast feature is not compatible with Jetpack sites (including WoA)

[2021-05-14 05:47] #50310 closed, assigned to deBhal

[2021-05-14 08:04] simison commented on #52511
@obenland could be! I think this might need a designer to go through a bit of the experience to find out the confusing parts. Ghost updates must be stressful to customers. 😓

Related: p9o2xV-1pr-p2

[2021-05-14 08:17] zdenys opened #52857 "Account settings display in English even if another Interface language is selected"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account
2. Select another Interface language (e.g. Italian, Spanish, Russian)
3. Changes will autosave, the page will refresh
4. See that the text on the left sidebar is in the desired language, but all the content on the right is in English

#### What I expected to happen

See everything in the chosen language

#### What actua

[2021-05-14 08:45] taggon commented on #52513
Resolved by D61339-code.

[2021-05-14 08:45] #52513 closed, assigned to taggon

[2021-05-14 08:47] simison opened #52859 "Query patterns exposed to regular sites"
I noticed my regular simple site (`simisontestinfree.wordpress.com`) has Query pattern category, with all the broken Query block patterns:

<img width="2044" alt="Screenshot 2021-05-14 at 11 46 14" src="https://user-images.githubusercontent.com/87168/118245999-1c780600-b4aa-11eb-824f-be2e91369f88.png">

We shouldn't expose this before Query block lands in Gutenberg.

Plugin info for the site as of

[2021-05-14 08:53] simison opened #52860 "Visually broken help button at signup flow"
1. Go to https://wordpress.com/start/onboarding
2. At resolutions around 600px and under, the help FAB breaks visually:
    <img width="80" alt="image" src="https://user-images.githubusercontent.com/87168/117783805-8f377600-b24b-11eb-84fb-4ed92737830d.png">

It doesn't happen in the rest of Calypso, only in signup.

[2021-05-14 09:49] taggon commented on #52232
I created a diff D61411-code for fixing this.
The changes are as follows:
 * ➕ Barletta-Andria-Trani [`BT`]
 * ➕ Fermo [`FM`]
 * ➕ Monza e Brianza [`MB`]
 * ➕ South Sardinia [`SU`]
 * ➖ Carbonia-Iglesias [`CI`]
 * ➖ Medio Campidano [`VS`]
 * ➖ Ogliastra [`OG`]
 * ➖ Olbia-Tempio [`OT`]
 * ↔️ `Bolzano-Bozen` has changed into `Bolzano` [`BZ`]

@syds87 Can you check if I did it correctly?

[2021-05-14 09:57] razvanpapadopol commented on #52854
@alshakero @StefanNieuwenhuis
When working on these updates, something to consider is whether PlansGrid (table style) used in Focused Launch might get us faster to parity with designs.

<img width="207" alt="Screenshot 2021-05-14 at 12 45 09" src="https://user-images.githubusercontent.com/14192054/118254050-526db800-b4b3-11eb-83b7-8bfb9d8020bd.png">

[2021-05-14 10:17] zdenys commented on #52857
Fixed in https://github.com/Automattic/wp-calypso/pull/52861 Closing!

[2021-05-14 10:17] #52857 closed, assigned to nobody

[2021-05-14 10:18] BogdanUngureanu opened #52862 "Add Akismet Anti-Spam submenu in Jetpack menu for Simple Sites"
In order to improve Simple/Atomic Feature, we should look into adding Akismet's Anti-Spam submenu in Jetpack menu for Simple Sites, [instead of removing it from Free Atomic plans](https://github.com/Automattic/wp-calypso/issues/51827) (since Akismet is available on all Simple Sites plans).

### What plan tier is the site on?
On all Simple site plans

### What I expected on the WordPress.com site
T

[2021-05-14 10:18] BogdanUngureanu commented on #51827
Closing in favor of https://github.com/Automattic/wp-calypso/issues/52862

[2021-05-14 10:18] #51827 closed, assigned to BogdanUngureanu

[2021-05-14 10:22] WunderBart commented on #48093
Agreed. It would be probably good to [move this issue to CoBlocks](https://github.com/godaddy-wordpress/coblocks/issues/new/choose) then!

[2021-05-14 10:49] #52416 closed, assigned to alshakero

[2021-05-14 11:07] alshakero commented on #52860
Fix is in https://github.com/Automattic/wp-calypso/pull/52864.

[2021-05-14 11:21] #52860 closed, assigned to nobody

[2021-05-14 11:26] StefanNieuwenhuis opened #52865 "Blank Canvas: Hide when the eCommerce plan is selected"
### What
TBD

### Why
TBD

### A/C
- [ ] ...

[2021-05-14 11:35] razvanpapadopol commented on #52852
We are currently doing this in `/new` using just a `username_hint` which may be left `undefined` in this case. The backend service seems to create the username: https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/gutenboarding/components/signup-form/index.tsx#L80

<img width="969" alt="Screenshot 2021-05-14 at 14 29 42" src="https://user-images.githubusercontent.com/14192054/1182647

[2021-05-14 11:40] BogdanUngureanu commented on #51589
Since users right now cannot upgrade to Premium on Free Atomic sites, should we replace the `Premium` with `Business`? Maybe something like would be more helpful:

cc @olaolusoga

[2021-05-14 12:01] razvanpapadopol commented on #50298
Just to confirm, this should happen on Account Settings page (see https://github.com/Automattic/wp-calypso/issues/50298#issuecomment-789494964)
cc: @ollierozdarz

Another thing to keep in mind is when **removing** the Social Connection linked to the previous email address, we may need to also ask them to reset their password (in the case of a passwordless account).

Related:
- https://github.com/A

[2021-05-14 12:01] simison opened #52868 "Cookie banner covers footer on wordpress.com logged-out marketing page"
At wordpress.com logged-out marketing page, I see a cookie banner covering the footer sometimes, but not in every screen size. I know people can just dismiss, but some people don't care about these banners and might just not notice that e.g. language switch is behind it.

Note also the un-proportionally big "got it" button, which feels unexpected.

![image](https://user-images.githubusercontent.co

[2021-05-14 12:31] razvanpapadopol commented on #22419
Let's keep this on hold since we're looking to remove the username input field in https://github.com/Automattic/wp-calypso/issues/52852

[2021-05-14 12:40] razvanpapadopol commented on #50435
We might want to see this as a new flow that we show to the users landing on `/start` 0-5 minutes after they just created a site. A similarly designed step is currently in the `domain-only` flow:

<img width="1660" alt="Screenshot 2021-05-14 at 15 39 25" src="https://user-images.githubusercontent.com/14192054/118272034-b485e780-b4ca-11eb-9fa5-a7e9fdfda304.png">

[2021-05-14 12:55] razvanpapadopol commented on #49062
This should be possible as described by @yansern in https://github.com/Automattic/wp-calypso/issues/48559

We should keep in mind that we need to test (and fix if needed) also for Google signup/login

[2021-05-14 13:07] razvanpapadopol commented on #47834
I think @Automattic/shilling did some work recently on adding to cart functionality. Is this still an issue?

[2021-05-14 13:12] simison commented on #45138
I don't really understand how to replicate this. :-)

It's not possible to write blocks in comments on .com:

<img width="1054" alt="Screenshot 2021-05-14 at 16 08 44" src="https://user-images.githubusercontent.com/87168/118275383-06307100-b4cf-11eb-8e7a-86924fd0b669.png">

Then I remembered we used to test Gutenberg for comments in WordPress.com reader, so perhaps that's where? It doesn't seem to

[2021-05-14 13:33] StefanNieuwenhuis commented on #52697
Thanks, @autumnfjeld for the heads up!

[2021-05-14 13:47] #52762 closed, assigned to nobody

[2021-05-14 14:49] jp-imagines commented on #52209
12429662-hc

Simple site, using Chrome 90.0.
Clearing cache resolved the issue.

[2021-05-14 14:54] #30026 closed

[2021-05-14 15:17] niranjan-uma-shankar commented on #52765
Should be fixed by code-D61364

[2021-05-14 15:23] razvanpapadopol opened #52877 "Login: use redesigned page for reskin"
**Task Details**

As part of New Onboarding (aka Gutenboarding), we redesigned WP login page to be more cohesive with the rest of the flow in terms of design. Using `wordpress.com/log-in/new` instead of `wordpress.com/log-in` should be enough to access the redesign.

We can add [a few tweaks](https://github.com/Automattic/wp-calypso/issues/52877#issuecomment-845676616) to that version and ship it

[2021-05-14 15:36] sirbrillig commented on #47834
Interesting! I'm not sure, but it sounds like this could have been related to the fix in https://github.com/Automattic/wp-calypso/pull/52560

I just did a quick test of this flow, and I do see that signup still fetches the cart twice (once on the first launch flow page, and once on the second page), although nothing is added to the cart, so I'm not sure if that means this issue is resolved or not.

[2021-05-14 15:49] simison commented on #52595
BTW IE11 support is out with this one. :-)

https://make.wordpress.org/core/2021/05/14/whats-new-in-gutenberg-10-6-12-may/

[2021-05-14 15:58] razvanpapadopol opened #52878 "Login: guide users to a successful login"
**Task Details**

There are multiple issues with how the Signup/Login functionality is now working, especially if you get out of the "happy path" (known username and password).

They've been split up in the following issues:
* #53378
* #53379
* #53380

**Related to**
p1620820144265600-slack-C01VA100LEA

[2021-05-14 16:29] nagpai commented on #50560
### Test Case - Simple Site with Anchor going Atomic

#### Steps done
Created three posts and was able to successfully publish to Anchor when the site was simple
Made the site go Atomic, Published a new post.

I now get an error similar to the one noted by @jordesign

<img width="1243" alt="Screen Shot 2021-05-14 at 21 52 45" src="https://user-images.githubusercontent.com/4162931/118300376-7a83088

[2021-05-14 16:35] ianstewart commented on #52724
Some notes on how we might approach this from a "use a script to create themes based on target sites" standpoint, for discussion and potential mile-stoning. (Note: this is mostly based on me thinking about how I might approach this if I were creating a theme manually so please feel free to dismiss all of these ideas.)

This assumes we have a target site on Dotcom that we can pass to the script as

[2021-05-14 16:36] ianstewart commented on #52724
I'll create a simple target site for us to use to make this less abstract. :)

[2021-05-14 17:13] ianstewart commented on #52806
If you're up for it — for sure. Looks like Spearhead is a child theme of Seedlet. I found the file where the output is set right now.

https://github.com/Automattic/themes/blob/trunk/seedlet/template-parts/content/content-none.php

There's already a check in there that we need: `if ( is_home() && current_user_can( 'publish_posts' ) ) :`. We're just not updating the heading and (as you note) the co

[2021-05-14 17:47] worldomonation opened #52880 "Playwright: Load browser/browsercontext launch options from a file or object"
**Task Details**
Currently, the launch options for both Browser and BrowserContexts are hardcoded in the `browser-manager.ts` file. Things like screenshot/video recording directory, or whether even to record in the first place.
Or window location on the screen.

This is okay for proof of concept, but when we migrate test cases, we will need to be able to load various configurations when launching.

[2021-05-14 17:53] ianstewart commented on #52724
I set up this site: (cc @alaczek)

https://bakerstarterdesign.wordpress.com/

![image](https://user-images.githubusercontent.com/545779/118309691-3c5ff780-b4b3-11eb-924d-4e22c13a5ffb.png)

When we turn on FSE Blocks like "Site Title" I'll be updating the site content to use those. Shouldn't affect anything but just wanted to note it.

If anyone needs to be added as an admin there, just let me know

[2021-05-14 18:12] folletto opened #52881 "Gutenberg: copy-paste is creating only code blocks"
<img width="794" alt="Screenshot 2021-05-14 at 19 12 13" src="https://user-images.githubusercontent.com/4389/118311820-4fd98580-b4e8-11eb-8cfb-02bb1ce04cd7.png">

### Steps to reproduce the behavior

1. Go to any site
2. Create or edit post
3. Copy any rich text (i.e. a HTML page)
4. Paste

#### What I expected to happen

Before it matched semantically everything from the source to be cleaned up a

[2021-05-14 18:17] folletto opened #52882 "Gutenberg: can't convert paragraph block"
<img width="646" alt="Screenshot 2021-05-14 at 19 03 50" src="https://user-images.githubusercontent.com/4389/118311960-8911f580-b4e8-11eb-90d8-d94c11a0eb4e.png">

### Steps to reproduce the behavior

1. Go to any site
2. Create or edit post
3. Click on a paragraph

#### What I expected to happen

I can convert paragraph do various different types of block.

#### What actually happened

I can only

[2021-05-14 18:18] folletto commented on #52881
Might be related to: #52882

[2021-05-14 18:20] kriskarkoski commented on #52882
I noticed the same in the front-end p2 editor. I can create a different block type from the / command for example, but cannot convert an existing p to another block.

[2021-05-14 18:25] folletto commented on #52881
Note: this seems a bug showing up only with Automattic Proxy on.
/ht Kris

[2021-05-14 18:25] folletto commented on #52882
Note: this seems a bug showing up only with Automattic Proxy on.
/ht Kris

[2021-05-14 18:31] simison commented on #52789
More design explorations in 29439-pb

[2021-05-14 18:49] ianstewart commented on #52848
I left a some notes on https://github.com/Automattic/wp-calypso/issues/52724#issuecomment-841357855 related to this.

[2021-05-14 19:06] ianstewart commented on #49473
This was reported again at p58i-avT-p2#comment-50570.

[2021-05-14 19:17] csonnek commented on #45586
@yoavf Another report in https://wordpress.com/forums/topic/having-trouble-importing-site-from-wix/

Error message: `It looks like we’re unable to reach that website address at this time. (ID: 9a97ea60-6c0a-4873-8976-038f392280bd)`

[2021-05-14 19:24] ianstewart opened #52883 "Theme Showcase: Update Filters like "Sidebar" or Improve Previews to show features when filtering"
When you filter on a feature like "sidebar" our theme screenshots don't display that feature. We should improve the filter naming or UI or consider featuring alternate screenshots that display the filter.

![image](https://user-images.githubusercontent.com/545779/118319201-0ecd7b00-b4c0-11eb-8dc1-f461e9c4de78.png)

[2021-05-14 19:30] ianstewart commented on #52848
Moving my notes over to this issue.

Some notes on how we might approach this from a "use a script to create themes based on target sites" standpoint, for discussion and potential mile-stoning. (Note: this is mostly based on me thinking about how I might approach this if I were creating a theme manually so please feel free to dismiss all of these ideas.)

This assumes we have a target site on Dotc

[2021-05-14 19:31] ianstewart commented on #52848
I set up a site for us to target. cc @alaczek

https://bakerstarterdesign.wordpress.com/

![image](https://user-images.githubusercontent.com/545779/118309691-3c5ff780-b4b3-11eb-924d-4e22c13a5ffb.png)

When we turn on FSE Blocks like "Site Title" I'll be updating the site content to use those. Shouldn't affect anything but just wanted to note it.

If anyone needs to be added as an admin there, just

[2021-05-14 19:39] ianstewart opened #52885 "Theme showcase: consider intent-based categories"
Our logged-out theme showcase surfaces some popular intent-based categories.

![image](https://user-images.githubusercontent.com/545779/118320405-d5960a80-b4c1-11eb-8c99-c52ff5de0746.png)

But we don't surface these for logged-in users.

![image](https://user-images.githubusercontent.com/545779/118320575-11c96b00-b4c2-11eb-831f-7ebdbcc02634.png)

Additionally the design picker we show in signup is

[2021-05-14 22:18] supernovia commented on #45586
Noting I tried importing for the user [in this thread](https://wordpress.com/forums/topic/having-trouble-importing-site-from-wix/) and received the "It looks like we’re unable to reach that website address at this time" error repeatedly.

[2021-05-14 22:33] aamills commented on #35759
Something kinda funny happened today. I was testing a site troubleshooting something else entirely, and was looking for some stock images to use. When I selected to use a free Pexels photo from within the editor, the pre-populated word that was given was "pattern".

With the results shown in the screenshot here:
![PexelsPattern](https://user-images.githubusercontent.com/29556134/118337780-b901ce80

[2021-05-15 01:02] kelliepeterson opened #52891 "Typo flow for wp.com subdomain registration hangs"
Per a report by @ianstewart the flow for registered a wp.com subdomain from a typo is broken.

### Steps to reproduce the behavior

1. Type a non-registered wp.com subdomain (sdfhosidhhso.wordpress.com)
2. Click on 'do you want to register...'
3. If logged in the search hangs

#### What I expected to happen
The subdomain that I entered should pre-populate the search and return results based on the

[2021-05-15 07:29] jartes opened #52893 "Themes in Atomic: placeholders displayed when going back from viewing a Advanced theme"
### What plan tier is the site on?

Tested and reproduced on:
- WordPress.com Business
- WordPress.com eCommerce

### Where are you seeing the issue?

1. Go to Appearance → Themes.
2. Click on `Show all themes`
3. Click on any theme.
4. Then, go back to the previous screen by clicking on the `← Back button`.
5. Check the "Adanced themes" list and you'll see five gif placeholder images loading.

Te

[2021-05-15 17:23] kriskarkoski commented on #50560
Another case in 3961225-zen

I asked about any specific errors they're seeing and they said:

[2021-05-15 17:25] kriskarkoski commented on #50560
3989603-zen looks like another case. I'm waiting for more details but in their initial message they said:

[2021-05-15 17:30] kriskarkoski commented on #50560
3989202-zen

Atomic site that asked to downgrade to get Anchor working again

[2021-05-15 18:25] ericamQA commented on #52694
Unable to reproduce on multiple AT sites. Closing.

[2021-05-15 18:25] #52694 closed, assigned to nobody

[2021-05-15 19:14] ericamQA commented on #52743
I was able to reproduce this with multiple themes (TwentyNineteen, Seedlet, Arcade). Consistently unable to load the page in the editor at all (in Safari only). When I move to Chrome and remove the File Block with PDF and save, I am then able to go back over to Safari and edit the page.

[2021-05-16 01:34] joweber123 opened #52896 "Additional ad placements not available on all themes"
### Steps to reproduce the behavior

1. Activate any Varia child theme.  Hever is an example.
2. Go to My Sites > Tools > Earn > View ad dashboard > Settings
3. Even though the Varia child themes do not support the 'Top of each page' ad setting, users can still toggle this option.
4.  Toggling this on will not add an ad to the top of each page for the user.

#### What I expected to happen
I expect

[2021-05-16 01:47] ericamQA commented on #51435
Another instance in 29607996-hc

[2021-05-16 04:19] donalirl commented on #46077
Confusion in #29291820-hc. Updating the WordPress.com profile name in https://wordpress.com/me did not change the author name on the site. It wasn't clear that the name needed to be changed under Users → Advanced Users Management.

[2021-05-16 06:01] arunsathiya opened #52897 "Domains: Unnecessary notice about contacting domain owner to renew expired domain"
### Steps to reproduce the behavior

- Start with a WordPress.com website and an expired domain.
- Click on `Upgrades > Domains > Domain name`
- See that a notice appears about contacting the domain owner to renew the domain, despite the logged-in user being the owner.

#### What I expected to happen

We could avoid that message as the logged-in user is the owner.

#### What actually happened

A m

[2021-05-16 06:01] arunsathiya opened #52898 "Domains: Ability to renew expired domain from domain page"
Please, be as descriptive as possible. Issues lacking detail, or for any other reason than to request a feature, may be closed without action.

**What**

Instead of having to visit the purchases page, ability to renew the expired domain from domain page (`Upgrades > Domains > Domain name`) would be great.

**Why**

Better experience for customers, especially those that have multiple sites and doma

[2021-05-16 07:46] MaxPhilip commented on #51248
Another one in 3963347-zen with Shawburn theme

[2021-05-16 07:53] pablinos commented on #52651
It's not just that link, I think there are others too, but yes, the idea is to ensure that someone remains in wp-admin and isn't landed in Calypso.

I see what you're saying about the iframe, but we treat the iframe as a Calypso app URL, which loads other features and changes the navigation. There are other considerations here, because there are other circumstances we can't use the iframe, and so

[2021-05-16 10:46] kspilarski commented on #51666
I have a user with the same case as this. In the page editor, it appears as `>`, but when clicking it, it displays as `&gt;`. 3992904-zd

[2021-05-16 22:44] donalirl commented on #52757
Suggestion to include Fortune, Venture, Shoreditch, Olsen, and Restaurant as they are popular, and particularly difficult to "manually headstart" (i.e. XML demo import + configuring the Customize settings).

[2021-05-16 23:27] #52809 closed, assigned to nobody

[2021-05-17 02:08] bsanevans opened #52899 "Intergalactic 2 Post Carousel title alignment off"
### Steps to reproduce the behavior

1. Activate theme **Intergalactic 2**
2. Add a Post Carousel block
3. See alignment issue on post titles in published page/post

#### What I expected to happen

Titles should be left aligned

#### What actually happened

There is a huge space on the left, making titles run off the right-side of the block

### Context

3991957-zd-woothemes

Similar issue with an

[2021-05-17 03:54] deBhal commented on #52737
I had no problems launching both simple and atomic sites using the launch button.

I was creating free sites without a domain, so I wonder if it was some specific product?

@autumnfjeld - did you add a plan/domain/other product to see this error? Are you still seeing it?

[2021-05-17 04:08] deBhal commented on #52737
@autumnfjeld isn't seeing it either, so I'll assume it's already been fixed and close this for now and we'll re-open and search harder if we see it again.

[2021-05-17 04:08] #52737 closed, assigned to deBhal

[2021-05-17 04:12] autumnfjeld commented on #52737
I retested this a few times with a free subdomain account and paid domain premium plan and it all looks good now.  Thanks for following up here!

[2021-05-17 04:54] bluefuton opened #52904 "Checkout: when purchasing a Jetpack Search addon for a free plan, the message "Sorry, but we were not able to find that coupon" is shown"
### Steps to reproduce the behavior

1. Sign up for a brand new WordPress.com free account
2. Go to Jetpack > Search and click subscribe to the Jetpack Search monthly plan

#### What I expected to happen
I am shown the monthly Jetpack Search plan in the checkout and I can buy it without issues.

#### What actually happened
I am shown the monthly Jetpack Search plan in the checkout but with a persi

[2021-05-17 05:13] ollierozdarz commented on #52852
Great! Sounds like we've got a good option with the `/new` solution!

Yeah, I like this idea.

[2021-05-17 05:16] ollierozdarz opened #52905 "Domains: Mobile improvements"
Edit: Some of the changes will be added in #53768 (follow up of #53700)

Based on the current performance of the refined reskin onboarding flow, let's make the following changes to help increase the likelihood of reaching parity (and beyond) with control.

**Main improvement areas:**

- Change the order of the 'Already own a domain?' and 'Get a free plan' information to now be places at the bottom

[2021-05-17 05:44] ollierozdarz commented on #52877
Thanks @razvanpapadopol. If this can wait a day I'll reskin the reskin 😎 (apply the same style as the latest version).

[2021-05-17 06:11] autumnfjeld opened #52906 "My Home Stats card: show a Getting started video for new users"
Part of [My Home Pod ](d2qGl-p2) Back to Basics work.

Motivation:
Make better use of the stats card for new users, to educate them about stats (since for a new site there are no stats to show and this can be an education opportunity).

Once upon a time, in the stats card new users were shown a Getting Started video but this was removed in D59367-code: p1620903475351800-slack-C01VA0R5NKY.

It soun

[2021-05-17 06:18] autumnfjeld commented on #52906
@jordesign  Tagging you on this issue since creating the "Getting Started" on stats video is being created by HE (as far as I understand).     😃

[2021-05-17 06:20] kristarella commented on #44046
+1 on this issue, even if the result is as @mmtr suggested, to make a different type of plan that isn't a "subscription"

[2021-05-17 06:24] kristarella commented on #49497
Yes please! We used this block for a one-time fundraiser event and it feels odd to require account creation.

[2021-05-17 06:24] deBhal commented on #49217
Yep, here's a live screenshot with the icons looking nice and round:

![WordPress_com](https://user-images.githubusercontent.com/5952255/118441229-3b85ca80-b72c-11eb-843f-fd84163109eb.jpg)

I'm going to go ahead and close this, but please re-open if I've misunderstood.

[2021-05-17 06:24] #49217 closed, assigned to nobody

[2021-05-17 06:25] kristarella commented on #47643
I found this when working with the block too, particularly inside a cover or group block with a background color, it will cause the color to flood the rest of the page.

[2021-05-17 06:50] kristarella opened #52907 "Donations + Payments block: Add name fields"
**What**<br>Add name field to the donation and payment blocks so the site owner can know who the payment belongs to.

**Why**<br>There are multiple cases/reasons for this:

* seller is using the payment block for registration to an event (buyer may be buying ticket for themself and/or someone else; particularly a parent registering for a child)
* buyer wishes to donate on behalf of someone else
*

[2021-05-17 07:13] simison commented on #52737
Cc @razvanpapadopol @alshakero @StefanNieuwenhuis in case error says anything.

[2021-05-17 07:52] taggon commented on #46298
Is this still relevant? I found the cover image appears in my Reader.

**Front-end**
![Taggon_on_wordpress_–_The_greatest_WordPress_com_site_in_all_the_land_](https://user-images.githubusercontent.com/212034/118451446-39be0600-b730-11eb-9b50-ca560ef12467.jpg)

**Reader**
![Test_‹_Taggon_on_wordpress_‹_Reader_—_WordPress_com](https://user-images.githubusercontent.com/212034/118451367-24e17280-b730-

[2021-05-17 08:31] cpapazoglou commented on #50226
This should be now handled correctly

![](https://cln.sh/lH3vCg+)

[2021-05-17 08:31] #50226 closed, assigned to cpapazoglou

[2021-05-17 08:37] mmtr commented on #52445
Thanks for your report, @galakhyati. I think this is a duplicate of https://github.com/Automattic/wp-calypso/issues/50945, where we're discussing different options for keeping the WP Admin dashboard more accessible for users, so I'm closing this issue out in favor of that.

[2021-05-17 08:37] #52445 closed, assigned to nobody

[2021-05-17 09:33] kspilarski commented on #50709
I have a user with the same case in 3995495-zen

In https://wordpress.com/people/edit/ updating the public display name shows "There was an error updating username". However, they were able to change public display name from Advanced Users Management.

[2021-05-17 09:46] pablinos commented on #52651
After a bit of trying I managed to replicate this, but the problem was partly related to having 2FA on my account, and that preventing the user settings from being read. Visiting `/me/account` and entering a code, meant that it started working again.

The root cause was that the user settings were being read and not the user preferences, which has a caching mechanism around it, and doesn't require

[2021-05-17 09:46] kosiew commented on #52647
Created this as Gutenberg issue:

https://github.com/WordPress/gutenberg/issues/31880

[2021-05-17 09:46] #52647 closed, assigned to nobody

[2021-05-17 10:06] WunderBart commented on #52882
Fixed via r225761-wpcom

[2021-05-17 10:06] #52882 closed, assigned to nobody

[2021-05-17 10:06] WunderBart commented on #52881
Fixed via r225761-wpcom

[2021-05-17 10:06] #52881 closed, assigned to nobody

[2021-05-17 10:13] niranjan-uma-shankar opened #52913 "Show login button on public sites"
When a logged out user visits a public site, we don't show a "Login" button but only a "Register" button. Existing users who want to login will have to navigate to the Signup page and then follow the Log In link from there. Can we show a Login button here next to the "Register" button?

The login flow should work on mapped domain sites with 3rd party cookies disabled.

<img width="857" alt="Screen

[2021-05-17 10:15] aneeshd16 commented on #52765
The fix has been deployed!

[2021-05-17 10:15] #52765 closed, assigned to aneeshd16

[2021-05-17 10:52] aneeshd16 commented on #47837
I have tested this in Chrome, Safari and Firefox (with 3rd party cookies disabled), and I could not reproduce the bug. In Firefox, the popup is blocked; to show it, the user has to click on "Preferences" and then "Show ..."
![image](https://user-images.githubusercontent.com/5436027/118476283-ee552900-b72a-11eb-93c9-c71c0fcfc24b.png)

This was probably fixed earlier this year, I found some context

[2021-05-17 10:53] simison commented on #46015
@Automattic/team-calypso-platform howdy! I'll close this up as it sounds like things are either tracked elsewhere (for CoBlocks) or already working (ETK). Feel free to re-open if you'd like to keep this for your work, tho!

[2021-05-17 10:53] #46015 closed

[2021-05-17 11:05] daria2303 commented on #46802
Another one: 29630943-HC

LinkedIn connection broke down and now when trying to connect it gives popup with "Invalid/missing request nonce."

[2021-05-17 11:45] tellisbethel commented on #52701
The user of #3989000-zen would like to have a Stripe payment failure notification as well.

[2021-05-17 12:41] #52710 closed, assigned to tjcafferkey

[2021-05-17 12:56] simison commented on #49311
https://github.com/Automattic/wp-calypso/pull/50234 removed the step, closing.

[2021-05-17 12:56] #49311 closed, assigned to ollierozdarz

[2021-05-17 14:10] yansern commented on #49048
Why does `github-actions` love me that much?

[2021-05-17 14:40] katiebethbrown commented on #46077
Report in 29631185-hc

User updated username and display name on wpcom and wasn't seeing those changes reflect on the live site b/c wp-admin didn't pick them up.

[2021-05-17 14:54] ivan-ottinger opened #52921 "Nav Unification: Improving navigation experience for users when SSO is deactivated"
When we deactivate SSO on Atomic site (e.g. when the user wants to use a membership plugin), the users that are Jetpack-connected see the navigation differently than the users that haven't been Jetpack-connected.

Example:

*User admin section (when the user is Jetpack-connected):*
<img width="372" alt="Markup 2021-05-17 at 15 22 16" src="https://user-images.githubusercontent.com/25105483/11850765

[2021-05-17 14:57] #49048 closed, assigned to razvanpapadopol

[2021-05-17 15:12] kwight commented on #46298
@taggon Feel free to close anything you can't replicate, sure. 👍

[2021-05-17 15:12] #46298 closed

[2021-05-17 15:33] #51912 closed, assigned to nobody

[2021-05-17 16:01] obenland commented on #51553
Fixed in #51429.

[2021-05-17 16:01] #51553 closed, assigned to nobody

[2021-05-17 16:18] sirbrillig commented on #52904
This is probably because of the FRESHPACK coupon (https://github.com/Automattic/wp-calypso/pull/50138). The coupon still seems to be active, so if it's not working then I assume it's because some condition of the coupon is not being met (eg: it was already used by the user). I think that an auto-applied coupon is probably not the right way to offer this discount. Pending approval, I've created htt

[2021-05-17 16:38] kwight commented on #46993
Closing in favour of https://github.com/Automattic/wp-calypso/issues/52757

[2021-05-17 16:38] #46993 closed

[2021-05-17 16:41] kwight commented on #46299
We're going to focus on pub themes for the Design Selection pod.

[2021-05-17 17:22] worldomonation commented on #52461
Moving to the Done column for now.

[2021-05-17 17:22] kwight commented on #52567
This will need a fair amount of design thinking and exploration.

[2021-05-17 17:28] kwight commented on #52566
We might be missing these labels:

<img width="592" alt="Screen Shot 2021-05-17 at 10 27 29 AM" src="https://user-images.githubusercontent.com/349751/118531397-a74f3f80-b6fa-11eb-8404-1604bada2721.png">

[2021-05-17 17:32] kwight commented on #40245
Closing in favour of https://github.com/Automattic/wp-calypso/issues/52566

[2021-05-17 17:32] #40245 closed

[2021-05-17 17:34] kwight commented on #51290
@blackjackkent this might be a good @andres-blanco issue. 👍

[2021-05-17 17:36] jamiepalatnik commented on #44554
I received another report in 29184356-hc of this issue for these example posts:

Site: https://pharaohdiaries.com/2021/05/11/mens-aw21-trends/
Reader: https://wordpress.com/read/blogs/181492719/posts/4675

Site: https://pharaohdiaries.com/2021/01/15/course-3-influencer-academy/
Reader: https://wordpress.com/read/blogs/181492719/posts/3094

When I checked in the Reader using an account that was not

[2021-05-17 17:37] kwight commented on #49963
Closed in D59890-code

[2021-05-17 17:37] #49963 closed, assigned to nobody

[2021-05-17 17:42] kwight commented on #51335
@jeffikus 👋  Any update on this?

[2021-05-17 17:44] kwight commented on #51590
@dereksmart Hey! Was this something you're trackign for yourselves, or something you need help with from our pod?

[2021-05-17 17:48] kwight commented on #52528
Much of this is in progress and likely to change; we'll come back to it later.

[2021-05-17 17:51] ianstewart commented on #52525
@simison should this be on a create project board?

[2021-05-17 17:54] kwight commented on #52526
Closing in favour of https://github.com/Automattic/wp-calypso/issues/42052

[2021-05-17 17:54] #52526 closed, assigned to nobody

[2021-05-17 17:57] kwight commented on #52537
See: p1620744195161400-slack-C0202PMUXLJ

[2021-05-17 17:58] kwight commented on #52531
Next step is to see if this is a Gutenberg bug.

[2021-05-17 18:03] kwight commented on #52564
Closing in favour of https://github.com/Automattic/wp-calypso/issues/52792

[2021-05-17 18:03] #52564 closed, assigned to nobody

[2021-05-17 18:08] kwight commented on #23204
A first step could be the Undo Theme option.

[2021-05-17 18:09] ianstewart commented on #52580
@kjellr we talked about this somewhere on a p2, I think. Do we have a theme demo site setup somewhere that is a simple blog that could work better. Perhaps one based on blank canvas but with the header turned on?

[2021-05-17 18:13] kwight commented on #52574
This could be addressed as part of our "pattern themes".

[2021-05-17 18:13] #52574 closed, assigned to nobody

[2021-05-17 19:31] kwight opened #52926 "Themes: Add Tracks events for the theme switch modal."
Let's add Tracks events to the theme switch modal, which doesn't appear to have any at the moment.

See: pd2qbF-33-p2

![image-7](https://user-images.githubusercontent.com/349751/118545733-d5894b00-b70b-11eb-9b52-2fa1ccf26567.png)

[2021-05-17 19:40] bluefuton commented on #52904
@sirbrillig I _think_ I've seen the FRESHPACK coupon code successfully apply for Jetpack plans (like Jetpack Professional) but not for the Jetpack Search add on - would that make sense?

[2021-05-17 19:40] DanielSmithMichigan opened #52927 ""Upload Theme" tracks event not recorded/categorized separately for Atomic sites"
When you click the "Upload Theme" button, multiple tracks event are created. We used to have a tracks event: [calypso_automated_transfer_click_theme_upload](https://github.com/Automattic/wp-calypso/blob/e797df8452361ce7ead6ae1cdfec37378da0309c/client/my-sites/themes/theme-showcase.jsx#L225) specifically for atomic sites. But the code which fires off that tracks event has been unreachable since 201

[2021-05-17 20:43] kwight commented on #52586
This would be better expressed in onboarding videos or guides.

[2021-05-17 20:43] #52586 closed, assigned to nobody

[2021-05-17 20:47] kwight commented on #52594
Closing in favour of https://github.com/Automattic/wp-calypso/issues/52537

[2021-05-17 20:47] #52594 closed, assigned to nobody

[2021-05-17 20:50] mreishus commented on #42052
This is caused by something called [showAutoLoadingHomepageWarning](https://github.com/Automattic/wp-calypso/blob/87083962f859b79de269733f89ed1f0eb4e576cf/client/my-sites/themes/theme-options.js#L148-L150), which is turned into a menu item by [this code](https://github.com/Automattic/wp-calypso/blob/87083962f859b79de269733f89ed1f0eb4e576cf/client/components/theme/more-button.jsx#L93-L102).

I'm un

[2021-05-17 20:54] kwight commented on #52615
Closing in favour of https://github.com/Automattic/wp-calypso/issues/52537

[2021-05-17 20:54] #52615 closed, assigned to nobody

[2021-05-17 21:27] carinapilar commented on #36226
User was confused that it wasn't saving the option to use the Custom Fields: 29616591-hc - explained that it's not available on Simple sites.

[2021-05-17 21:50] cbauerman commented on #46802
This seems to be unrelated to the specific linkedin issue and more of a larger issues with connections from this blog, which I am investigating.

[2021-05-17 22:01] DanielSmithMichigan opened #52931 "Themes: Install a theme sometimes gives an error message."
~~This might be a theme issue instead of an application issue. I noticed this DOES happen with the [AltoFocus theme](https://wordpress.com/theme/altofocus). It does NOT happen with the [Cavatina theme](https://wordpress.org/themes/cavatina/).~~

**(See comment below)**

### Steps to reproduce the behavior

1. Create new free blog via wordpress.com/new
2. Go to this page: https://wordpress.com/them

[2021-05-17 22:46] worldomonation commented on #41488
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-17 22:46] #41488 closed

[2021-05-17 22:47] worldomonation commented on #46399
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-17 22:47] #46399 closed

[2021-05-17 22:49] worldomonation commented on #46009
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-17 22:49] #46009 closed

[2021-05-17 22:50] worldomonation commented on #46882
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-17 22:51] worldomonation commented on #46820
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue, but was unable to do so. Please see attached screenshot.

As there has been no recent activity on this issue it is being closed with the label `Closed - Not Reproducible`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-17 22:51] #46820 closed

[2021-05-17 22:52] worldomonation commented on #46820
![Screen Shot 2021-05-17 at 3 51 50 PM](https://user-images.githubusercontent.com/6549265/118565872-d039f980-b727-11eb-8e1e-80b44d61975d.png)

[2021-05-18 00:17] sirbrillig commented on #52904
That's a good theory, @bluefuton. I checked and the server says FRESHPACK should work for Jetpack Search as well, and the authors of the front-end code made it so that it applies to all Jetpack plans and products, so unless something is malfunctioning there, I don't think that's the issue.

We've decided to postpone removing the coupon auto-application for the time being, but I've created D61506-c

[2021-05-18 00:26] kelliepeterson commented on #52110
Could we go a step further? For mapped domains we detect are not using our name servers I think it'd be ideal if we can add a "step" to the submission telling the customer they need to update the name servers at their registrar before submitting. If they submit we can check the name servers again. If we aren't able to pick them up on that check we can keep checking every ten minutes for an hour. I

[2021-05-18 00:31] #49473 closed, assigned to michaeldcain

[2021-05-18 00:40] alaczek opened #52933 "Signup: Add new starter designs"
**Task Details**
I created a few starter designs based on Blank Canvas patterns:
* [Baker](http://bakerstarter.wordpress.com/)
* [Hatcher](https://hatcherstarter.wordpress.com/)
* [Miller](https://millerstarter.wordpress.com/)
* [Smith](http://smithstarter.wordpress.com)
* [Paxton](https://paxtonstarter.wordpress.com)
* [Jones](https://jonesstarterdesign.wordpress.com)

![image](https://user-image

[2021-05-18 02:20] autumnfjeld commented on #52764
Just an FYI: this is part of My Home Pod short-term goals pd2qGl-2P-p2

[2021-05-18 02:31] edwinho89 commented on #33371
Reported in 27802230-hc . Some vimeo video links are embedded successfully, while others displayed in paragraph texts as described in the bug report.

[2021-05-18 03:21] deBhal commented on #52707
I suspect this was fixed by 617-gh-Automattic/wpcomsh

[2021-05-18 03:54] autumnfjeld commented on #52764
As we chatted about if the logic gets too messy for this likely interim fix, then let's reconsider this work.  Hopefully this stats "Getting Started" video will be available to use in this card. https://github.com/Automattic/wp-calypso/issues/52906

[2021-05-18 04:13] roo2 opened #52936 "My Home: Update copy in setup checklist so it changes depending on whether the the task is complete"
The tense of the copy in the setup checklist doesn't change when the task gets completed. E.g. "launch site" doesn't change to "site launched", we just put a tick beside the item and hope that'll be clear enough.

In 490-gh-dotcom-manage @mreishus reported it felt strange.

![2021-02-22_14-25](https://user-images.githubusercontent.com/937354/108765731-c7b39780-7519-11eb-8b7b-5514b1b3d7f2.png)

At

[2021-05-18 04:20] autumnfjeld opened #52937 "Wrap Up Tasks"
My Home Pod wrap up tasks that we'll need to take care of before end of pod experiment in August.
Could be documentation or next steps outline or wrap up P2s or code cleanup or planning a My Home Pod meetup in Tahiti. 💟

### General Pod Wrap up Tasks
- [ ] x

### Design Tasks
- [ ] o

### Dev Tasks
- [ ] Update logic and technical parts of [My Home FG]( PCYsg-qpk-p2)

### Happiness Tasks
- [ ] x

[2021-05-18 04:56] jordesign commented on #44915
I'd be happy to close this in favour of it being covered with the eventual 'site status' area.

[2021-05-18 05:00] niranjan-uma-shankar opened #52939 "Auto log in to mapped domain when navigating from Calypso"
Navigating to a mapped domain site by clicking on links inside Calypso should automatically render the logged in experience for that site by setting auth cookies in the first party context. This would involve sending the user through the [logmein](https://github.com/Automattic/wp-calypso/issues/52740) redirects when they click on a link to the mapped domain site in Calypso.

For example, we link t

[2021-05-18 05:07] niranjan-uma-shankar opened #52940 "Auto log in to mapped domain sites at WPCOM login time"
We currently use remote login token links to set an authenticated session for a user on their mapped domain sites at the time they log in to WPCOM from https://wordpress.com/log-in. This method uses iframes and does not work with 3rd party cookies disabled - described in pcNnmV-46-p2 under point (A) - "Logging in users to mapped domains during WPCOM login time".

We need to implement a way that wi

[2021-05-18 05:17] jordesign commented on #52806
OK - I've opened an issue and PR for Seedlet as a proof of concept. If it works - it's something we could do for Varia themes as well.

https://github.com/Automattic/themes/issues/3874
https://github.com/Automattic/themes/pull/3875

[2021-05-18 05:23] taggon commented on #52232
Closed as D61411-code is shipped.

[2021-05-18 05:23] #52232 closed, assigned to taggon

[2021-05-18 05:36] niranjan-uma-shankar opened #52943 "Set login cookies for a mapped domain site after domain purchase"
When the mapping process of a newly purchased mapped domain site is complete, we need to set the appropriate login cookies for their new mapped domain site. Ideally, we want to do this in a non-obtrusive manner at a place where the user is waiting for something to load or complete. When the user then visits their mapped domain site, they will get the logged in experience for that site without havi

[2021-05-18 05:55] Robertght commented on #52743
Another one in #3995668-zen

[2021-05-18 06:21] niranjan-uma-shankar opened #52944 "Visiting a mapped domain site should render the logged in experience"
A user who is logged in to WPCOM visiting a mapped domain site should get login cookies set in the first party context, and then the logged in experience should be rendered(admin bar, Edit button and so on).

[2021-05-18 06:23] simison commented on #44915
@jeffgolenski @jordesign some context on this:

We didn't have the new "launch flow" yet (you can check it by pressing "launch" in the editor) when I wrote this and were focusing on free-to-paid-conversion quick wins within signup flow. This also was copy-paste visual just to communicate the point, not an actual design I wanted to get implemented as-is. 😅

I agree status area works better for this

[2021-05-18 06:25] niranjan-uma-shankar commented on #52939
Worked on in https://github.com/Automattic/wp-calypso/pull/52909 and D61461-code.

[2021-05-18 06:32] niranjan-uma-shankar opened #52945 "Investigation: Would Tracks be affected by blocked third party cookies?"
Can we investigate and confirm that Tracks will not be affected by blocked third party cookies?

[2021-05-18 06:55] niranjan-uma-shankar commented on #52763
A probable solution is to take the user through the logmein redirects when they click on the "Accept invitation" link on their email invitation received while adding a user.

[2021-05-18 07:48] niranjan-uma-shankar opened #52948 "Investigation: Calypso iframes that break with 3rd party cookies disabled"
Investigate any errors when browsing Calypso with 3rd party cookies disabled for a mapped domain site - do the iframes load as expected? Any errors or failures?

[2021-05-18 07:52] simison opened #52949 "Video block doesn't work in site editor"
### Steps to reproduce the behavior

1. Go to site editor ([create a new site](https://horizon.wordpress.com/new?fresh&flags=gutenboarding/site-editor))
2. Add Video block and upload video
3. Video doesn't show up
4. Look at the block list view, see the video there

https://user-images.githubusercontent.com/87168/118613214-36298e00-b7c7-11eb-8db6-76462ef7313d.mov

Site: simisontestingfse805282478

[2021-05-18 08:27] daria2303 commented on #51787
Here user mentioned "I tried to subscribe again by email, but I get an error message."
3994982-zd-woothemes

[2021-05-18 08:32] aneeshd16 commented on #52913
Looks like this bar is not shown on mapped domains or on paid sites (please see 294a9-pb). Wondering if this would be out of the pod scope?

[2021-05-18 08:34] michaeldcain commented on #52904
I think this is because the `FRESHPACK` coupon isn't available for "Jetpack Search for WordPress.com", and IIRC, we do some strange mapping in the codebase to make the two products look like one in Calypso. We can probably enable it for WPcom sites just to "fix" this issue until a better fix is in place.

<img width="255" alt="Screen Shot 2021-05-18 at 4 34 30 AM" src="https://user-images.githubus

[2021-05-18 08:35] geekinthegirl commented on #59396
Adding another report here: 29195287-hc

[2021-05-18 08:37] michaeldcain commented on #52904
"Fixed".

<img width="1154" alt="Screen Shot 2021-05-18 at 4 37 25 AM" src="https://user-images.githubusercontent.com/942359/118619650-cac5c900-b792-11eb-81a9-1ec07bdd99fb.png">

[2021-05-18 08:37] #52904 closed, assigned to nobody

[2021-05-18 09:21] niranjan-uma-shankar commented on #52913
Good point, makes sense why the marketing bar is not on paid sites. I still wonder if it would make sense to provide a login link but I think low on the priority list since we need to figure out a placement for the link. I'll move this back to the Triage column and we could revisit later.

[2021-05-18 09:35] daria2303 opened #52955 "Cropping images in Media cannot be saved in wp-admin Media"
### Steps to reproduce the behavior

1. Go to Media (wp-admin/upload.php)
2. Click on Edit Image
3. Crop
4. Save

#### What I expected to happen

Cropped image saved

#### What actually happened

Save button is inactive https://d.pr/i/AcbMx2, it activates if I do another editing e.g. rotate, but after saving cropping is not saved, rotation yes.

#### Browser / OS version

Chrome, maxOS Big Sur, Ve

[2021-05-18 09:36] tjcafferkey commented on #52123
@Nic-Sevic any chance you can share some more information on this please?

[2021-05-18 09:47] KokkieH opened #52957 "Domains: No error when registering .fr domain with a UK address"
### Steps to reproduce the behavior

1. Go to My Site ->Upgrades ->Domains ->Add domain
2. Search for and add a .fr domain
3. On the contact info screen, select United Kingdom as the country
4. Make sure to also use a valid UK postal code, or else that will generate its own error
5. Click Continue to proceed to payment

#### What I expected to happen
To not be able to proceed past the contact info

[2021-05-18 10:42] kingsleyinfo commented on #46623
I was doing some testing on my Atomic site and saw this as well. TwentyTwenty Theme

![Screen Shot 2021-05-18 at 09 56 03](https://user-images.githubusercontent.com/12503321/118636847-0a110b80-b7cd-11eb-9804-5820a8a61473.png)

[2021-05-18 11:10] aneeshd16 opened #52959 "Log in via the action bar does not work on public mapped domain sites"
### Steps to reproduce the behavior

1. Disable 3rd party cookies in the browser of your choice.
1. Go to a public mapped domain.
2. Click on the 3 dots next to "Follow" in the bottom right bar.
3. Click on "Log In" and go through the login flow.

#### What I expected to happen
When redirected back to the page, the user should be in a logged-in state.

#### What actually happened
When redirected b

[2021-05-18 11:18] Nic-Sevic opened #52960 "wp-admin plugin page margin wrong with RTL languages"
### Steps to reproduce the behavior
set dashboard to display RTL and site to display LTR (or possibly vice versa?)
go to the plugin page

#### What I expected to happen
the page should just swap with the alignment ratios preserved

#### What actually happened
either the sidebar (usually on the left) doesn't flip sides or it does and the margin doesn't match where the side bar is

### Context

2964

[2021-05-18 11:35] rickmgithub opened #52961 "Gaps between cover blocks in the editor"
### Steps to reproduce the behavior

1. Add two cover blocks, on after the other.
2. There is a gap between them in the editor but not in the public site
Editor view - https://d.pr/i/KAZS3a
Public view - https://d.pr/i/wLRrN8

Seems to occur on all themes and sites.

#### What I expected to happen
The editor to look like the public view

[2021-05-18 11:52] kspilarski opened #52962 "Email Forwarding: Requires Plan Subscription"
What

In Upgrades > Domains, clicking on 'i' next to Email shows:

Why

The wording "requires a plan subscription" indicates that a paid plan is needed even email forwarding can be set up in both free and paid plans.

Our documentation on Email Forwarding is: https://wordpress.com/support/add-email/email-forwarding/

How

<img width="580" alt="Screen Shot 2021-05-18 at 1 49 50 PM" src="https://use

[2021-05-18 11:58] daledupreez commented on #52682
We're working on this and expect to have it launched to all users early next week! 😁

[2021-05-18 11:58] cpapazoglou commented on #52696
Can we use `position: sticky` instead of `fixed`?

![](https://cln.sh/Y4N86B+)

[2021-05-18 12:05] Nic-Sevic opened #52963 "Tiled Gallery: default style dropdown not working"
### Steps to reproduce the behavior

1. add the tiled gallery block
2. try to change the style from the default styles dropdown

#### What I expected to happen
the style should change

#### What actually happened
nothing

### Context
empathy testing

#### Browser / OS version

#### Is this specific to the applied theme? Which one?
no

#### Does this happen on simple or atomic sites or both?
simple

[2021-05-18 12:11] simison commented on #52963
I'll move this to Jetpack since Tiled Gallery is Jetpack feature.

[2021-05-18 12:20] aneeshd16 commented on #52959
Worked on in D61523-code.

[2021-05-18 12:22] kjellr commented on #52580
Yeah, I'd suggested Blank Canvas Blocks with a simple header:

<img width="670" alt="frame-1-2" src="https://user-images.githubusercontent.com/1202812/118649538-9b728480-b7b1-11eb-8f60-fc6082eff129.png">

If we'd like to change this up before Blank Canvas Blocks becomes a live theme, I recently discovered you can create basically the same thing using Spearhead:

Desktop|Mobile
---|---
![Screen Sho

[2021-05-18 12:33] cpapazoglou commented on #52123
Had a chat with Nic, the issue is no longer reproducable.

[2021-05-18 12:33] #52123 closed, assigned to nobody

[2021-05-18 12:37] cpapazoglou commented on #51280
Also, we need to account for cases when for example:
1. A user enables testimonials to their site and clicks save `https://wordpress.com/settings/writing`
2. The menu should be requested again. Instead you have to refresh the page

[2021-05-18 12:40] cpapazoglou commented on #50557
Related to https://github.com/Automattic/wp-calypso/issues/50701

[2021-05-18 12:49] cpapazoglou commented on #52661
Noting that Simple Sites do not have the "Export CSV" menu item (at least with there're no submissions)
![](https://cln.sh/8RixEi+)

[2021-05-18 13:10] #49503 closed, assigned to bogiii

[2021-05-18 13:23] ccwalburn opened #52964 "Comment Formatting: Bold and Italics not working in the Comment editor"
### Steps to reproduce the behavior

1. Go to Comments page in the dashboard: https://wordpress.com/comments/all/
2. Click Edit to edit the comment
3. Double click on a word to highlight it and then click on the Bold or Italic option in the menu bar

![screenshot](https://d.pr/i/V03X2h+)
Image URL: https://d.pr/i/V03X2h

#### What I expected to happen
I expected the word to be made bold or italic

[2021-05-18 13:23] DanielSmithMichigan commented on #52931
After continuing to look into this, it seems a lot more random than suggested above. It happens some of the time, and it's not related to whether or not that specific theme is uploaded. It's also not related to how long you wait (didn't seem like a race condition to me)

[2021-05-18 13:49] porada commented on #52125
I’m going to close this one now, but please feel free to reopen if the issue reoccurs.

[2021-05-18 13:49] #52125 closed, assigned to porada

[2021-05-18 13:50] ianstewart commented on #52949
Haven't tested yet but would be worth testing to see if we have the same issues in the blank template editor as well.

[2021-05-18 14:03] rcanepa commented on #47560
Hey @brbrr, I think it's safe to close this issue since we fixed it some time ago. The problem was that we were storing the latest selected paid plan in a cookie and we never cleaned up that cookie. That created all sorts of unexpected problems in different flows.

[2021-05-18 14:38] david-szabo97 commented on #52216
Tried to reproduce it but no luck 😞

[2021-05-18 14:38] tjcafferkey commented on #52140
Let's investigate if these features are available for Jetpack sites so we're not removing features from our Jetpack users.

[2021-05-18 14:40] tjcafferkey commented on #52046
Investigate a work around, potentially mock the first load if we can't find another solution.

[2021-05-18 14:51] michaeldcain commented on #52063
We talked about this in our planning call two weeks ago. Given that you can save/print to PDF from most email clients, I don't know that this feature will make it onto the roadmap unless there are an overwhelming number of requests. I'm going to close this as `wontfix`, but feel free to reopen it if you feel it warrants more discussion or there are more instances of this request.

[2021-05-18 14:51] tjcafferkey commented on #51040
Could be helped by this proposal https://github.com/Automattic/wp-calypso/pull/52965

[2021-05-18 14:53] tjcafferkey commented on #52661
Remove the menu item when there is nothing to export

[2021-05-18 14:55] michaeldcain commented on #52064
Given the available option, I'm going to mark this as low priority and track it in the backlog, unless @Automattic/martech wants to consider it for multi-site plans.

[2021-05-18 14:59] brbrr commented on #47560
Cool! Closing.

[2021-05-18 14:59] #47560 closed

[2021-05-18 15:04] mmtr commented on #52140
Another option is to check if these features are maintained by A8C (so they are not part of Core), and if so, we can remove them from WP Admin and implement them in Calypso.

[2021-05-18 15:31] sixhours commented on #37658
Investigated this this morning. Right now, the Theme Showcase treats Storefront like it would a WP.org theme, pulling the [automated theme demo URL](http://wp-themes.com/storefront) from the WP.org API.

I see a couple avenues for fixing this:

* We've talked about adding Storefront as a free theme to the `/pub` repo, and that would solve this problem, because then we can set up a custom demo site

[2021-05-18 15:36] carinapilar commented on #47681
While testing this with the team, we found that this has been reported and seems to be [on the radar here](https://github.com/Automattic/jetpack/issues/15742).

[2021-05-18 15:36] sirbrillig commented on #52904
Wow, nice find! It's a little weird to me that Jetpack Search for WordPress.com [shows up as a "jetpack" product as defined by this line](https://github.com/Automattic/wp-calypso/blob/2b3fbddb6da1d2e43bb4d6ac611eb6958dd4f030/client/my-sites/checkout/composite-checkout/hooks/use-maybe-jetpack-intro-coupon-code.ts#L30). I wonder if that's a bug.

This is why:

https://github.com/Automattic/wp-calyps

[2021-05-18 15:37] razvanpapadopol commented on #50430
Please ignore this ☝🏼
@StefanNieuwenhuis from Pod Signup will take over as agreed in p1621348224006900-slack-C020SHYRB24

[2021-05-18 15:39] metabreakr commented on #50687
29656330-hc

[2021-05-18 15:41] jjchrisdiehl opened #52971 "Page Break block - Move page break links above JP sharing buttons"
### Steps to reproduce the behavior

1. Go to block editor
2. Add a few page break blocks
3. Add some content per 'page'
4. Preview page

#### What I expected to happen
![image](https://user-images.githubusercontent.com/16580129/118681085-4cd2e380-b7cd-11eb-96c7-dcbf7b4ee6b7.png)

The sharing options should show below the pagination links

#### What actually happened
![image](https://user-images.g

[2021-05-18 15:44] #52521 closed, assigned to DanielSmithMichigan

[2021-05-18 15:55] david-szabo97 commented on #51887
**UPDATE:** Figured out the issue above. Left comments on the PR.

[2021-05-18 16:00] michaeldcain commented on #52799
@blackjackkent, just some notes if you pursue the `blog-homepage` theme tag route:

- D61382-code would handle the backend changes to set the correct option on theme switch. It's approved now - I'm happy to merge it.
- Any themes we want to support (#52757) will need the `blog-homepage` theme tag (i.e. D33616-code) and will need their annotations double-checked to make sure we're not Headstarting

[2021-05-18 16:18] roundhill commented on #52949
The video is there but I spy an iframe with "0" height...

<img width="228" alt="Screen Shot 2021-05-18 at 10 16 00 AM" src="https://user-images.githubusercontent.com/789137/118687484-48ed9400-b7c2-11eb-86b7-fa92fbc5bfcb.png">

Not sure what's setting that but it appears to be the culprit.

[2021-05-18 16:24] roundhill commented on #52949
The height is set properly in the post editor:

<img width="239" alt="Screen Shot 2021-05-18 at 10 24 02 AM" src="https://user-images.githubusercontent.com/789137/118688350-39bb1600-b7c3-11eb-856d-f0ff87cd41d4.png">

[2021-05-18 16:26] worldomonation commented on #46787
Removing Stale label due to prioritization.

[2021-05-18 16:40] mattwiebe opened #52973 "Build: `test-client` fails to compile properly with `NODE_ENV=development`"
With `NODE_ENV=development` as a shell env var, `yarn test-client` fails to compile the test files properly, raising errors like:

[code]

Even if this is expected behaviour for `jest`, we should detect this env var in `yarn test-client` and warn the developer before, theoretically, they take two days to get to the bottom of why they can't run tests.

[2021-05-18 16:52] simison commented on #52949
There's been a number of styling/height fixes for other blocks for FSE, could be similar? (I'm not familiar with details there)

https://github.com/Automattic/jetpack/pulls?q=is%3Apr+is%3Aclosed+fse

[2021-05-18 17:09] roundhill commented on #52949
Ok some more info, I think it is because the CSS for `.wp-embed-responsive .wp-has-aspect-ratio iframe` isn't present in the site editor, it's present in the post editor:

<img width="1018" alt="Screen Shot 2021-05-18 at 11 05 17 AM" src="https://user-images.githubusercontent.com/789137/118694471-55291f80-b7c9-11eb-952e-173a58ae3f84.png">

If that `height: 100%` is added the js that listens for th

[2021-05-18 17:13] roundhill commented on #52949
Even after manually adding that fix though, I can't seem to click on the video block to select it... could be another bug.

[2021-05-18 17:19] worldomonation commented on #47526
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce this issue easily using
Gutenberg: v10.5.4
CoBlocks: 2.10.1
Editing Toolkit: 3.6725
WP AMP: 2.0.5

![Screen Shot 2021-05-18 at 10 16 48 AM](https://user-images.githubusercontent.com/6549265/118695862-818d6d80-b7c2-11eb-83c6-777233d9b8fa.png)

[2021-05-18 17:21] worldomonation commented on #46959
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue, but the video link has gone 404. As such, I was unable to verify the steps.
With that said, as there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free

[2021-05-18 17:21] #46959 closed

[2021-05-18 17:23] worldomonation commented on #47176
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce and verify the issue, but was unable to locate the `Tasks` block.

In any case, as there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-05-18 17:23] #47176 closed

[2021-05-18 17:27] worldomonation commented on #46970
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

Currently, one of the mentioned issue in Gutenberg has been closed while the other remains open.
I think there is no need to hold this issue open in our repository and so I am closing this with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open

[2021-05-18 17:27] #46970 closed

[2021-05-18 17:33] ianstewart commented on #52926
Will be adding tracks events for this other modal at the same time?

![image](https://user-images.githubusercontent.com/545779/118697782-46e10080-b7d5-11eb-8c2d-e633d925bc36.png)

[2021-05-18 18:32] ianstewart commented on #37658
This seems like the best case for now for the themes we intend to promote on the Ecommerce Plan. (Not sure how it works for other "installed" themes— is it broken for them as well?)

[2021-05-18 18:38] sixhours commented on #40310
/cc @kathrynwp @jordesign since it looks like this requires support documentation updates that might fall under Happiness' wheelhouse.

[2021-05-18 18:43] sixhours commented on #52757
Going to start this process by activating each of the themes on my sandbox/test sites, running Headstart via CLI, then comparing the result with the corresponding demo site.

[2021-05-18 18:45] worldomonation commented on #47438
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue on both Simple and Atomic site with the following file types:
- PNG
- JPEG
- MPEG
- DMG
- PDF

And all supported files were able to be drag&dropped successfully. Only `DMG` did not support upload as expected.

As there has been no recent activity on t

[2021-05-18 18:45] #47438 closed

[2021-05-18 18:47] Sandkorner opened #52977 "Reader: Text appears below (not layered on top of) Cover Block images"
#### What I expected to happen
To show the cover block text on the image in reader as well.

#### What actually happened
Text shown under the image.

#### Browser / OS version
Chrome - Version 90.0.4430.212 (Official Build) (x86_64)

#### Is this specific to the applied theme? Which one?
No, seems to be with many themes the same (Spearhead & 2021 checked)

#### Does this happen on simple or atomic

[2021-05-18 18:47] azollafox opened #52978 "Woocommerce With FSE: No Homepage content after removing Post Content from template"
### Steps to reproduce the behavior

1. click on Site Editor
2. Select all content in the `Post Content` area of the template and remove it
3. Save your changes
4. See error

#### What I expected to happen

I wanted to be able to readd content back to the homepage between the header and footer after getting a fresh start

#### What actually happened

Any content I added to the homepage or front pa

[2021-05-18 18:49] mdrockwell opened #52980 "FSE: Error Installing WooCommerce Plugin After Site Creation"
### Steps to reproduce the behavior

1. Created site from https://horizon.wordpress.com/new?flags=gutenboarding/site-editor
2. Attempt to Install the WooCommerce plugin.
3. See error "An error occurred while installing WooCommerce":

<img width="1340" alt="slack-imgs" src="https://user-images.githubusercontent.com/42454301/118706888-e4453000-b7e7-11eb-9339-0835f24af327.png">

#### What I expected

[2021-05-18 18:49] Aurorum commented on #38280
PR for this issue in #52979. :)

[2021-05-18 18:49] Aurorum commented on #16015
PR for this issue in #52979. :)

[2021-05-18 18:51] azollafox commented on #52978
After exiting the editor and coming back in from Template editor I could re-add Post Content using the + button

[2021-05-18 18:52] davipontesblog opened #52981 "Site editor: Clicking "Site Editor" redirects me to the Post Editor"
When testing the site editor in WordPress.com with Maylands Blocks theme, I am getting a weird redirect:

Steps:
1. Click My Site > Site Editor
2. See the browser URL temporarily show wordpress.com/site-editor/DOMAIN
3. See the browser URL redirect to https://DOMAIN/wp-admin/post-new.php?post_type=post&calypsoify=1 and I can’t access the site editor.

Video showing the issue:

https://user-images.

[2021-05-18 18:53] desnum opened #52982 "Monthly business plan not recognized when installing plugin, on Horizon"
### Steps to reproduce the behavior

1. Go to https://href.li/?https://horizon.wordpress.com/new?flags=gutenboarding/site-editor
2. Walk through steps to create a new site
3. Select the business plan
4. In checkout, edit it to be a monthly (rather than annual) business plan
5. Checkout
6. Attempt to install WooCommerce

#### What I expected to happen

WooCommerce should be able to be installed

##

[2021-05-18 18:56] mdrockwell opened #52983 "FSE: Site Editor Sidebar Link Disappears After Switching Themes."
### Steps to reproduce the behavior

1. Create site from https://horizon.wordpress.com/new?flags=gutenboarding/site-editor
2. Select the Blank Canvas Theme during site creation.
3. Switch theme to Storefront.
4. Switch theme back to Blank Canvas

#### What I expected to happen

The Site Editor link to return to the sidebar.

#### What actually happened

The Site Editor link was no longer available

[2021-05-18 19:04] kathrynwp commented on #40310
Thanks, @sixhours!

@ianstewart To keep it as simple as possible, I modified the **Retired Premium Themes** section with wording that applies to both premium and free themes.

I did **not** include wording regarding how to access a retired free theme through the WP Admin themes area – which is no longer available without activating Advanced Dashboard Pages in a user's account profile – because thi

[2021-05-18 19:06] kathrynwp commented on #40310
Noting one other change I made – added the word "usually" here:

Since there have been occasional cases when we've had to remove a theme from sites that had been using it.

[2021-05-18 19:08] Robertght commented on #52664
@rickmgithub I was trying to replicate this but I'm not able to specifically with Tortuga and CoBlock's Masonry block or on the website above. Are there more specific details to check on this issue?

[2021-05-18 19:17] ianstewart opened #52985 "Front-End Toolbar behaving strangely on small Viewports"
The front-end toolbar appears to be behaving strangely on small viewports. A few examples:

Chrome dev tools view:

![image](https://user-images.githubusercontent.com/545779/118710209-99291e00-b7e3-11eb-9cce-bb834f0a1364.png)

Unlaunched site:

![image](https://user-images.githubusercontent.com/545779/118710221-9f1eff00-b7e3-11eb-89f7-69a061a72e7a.png)

Changing the viewport size on desktop:

![im

[2021-05-18 19:19] ianstewart commented on #52806
If it works we should recommend it as a new standard in our classic themes in general.

[2021-05-18 19:30] allilevine opened #52986 "Plugins: Remove logic to disable and redirect plugins pages for Atomic"
**Task Details**
- We need to remove all of the logic to disable and redirect the Plugins pages for Atomic sites.
- See client/my-sites/plugins/

PR: https://github.com/Automattic/wp-calypso/pull/53968

**Related to**
https://github.com/Automattic/wp-calypso/pull/52807

[2021-05-18 19:53] ianstewart commented on #50053
@kathrynwp would you be able to take a look at some of the notes and UX issues above from a Design Selection Pod point of view?

[2021-05-18 19:54] sixhours commented on #52757
Anything in the above list with a checkbox has been verified as working as expected - ie. the demo site basically matches the Headstart annotation.

Anything without a checkmark needs updating to bring the demo site and the annotation into alignment.

[2021-05-18 20:18] #47430 closed

[2021-05-18 20:18] #46882 closed

[2021-05-18 20:31] kwight commented on #52848
@mreishus We're going to take more time to prepare this mini-project – let's leave it for later.

[2021-05-18 20:38] JoshuaGoode commented on #28322
Encountered on 29659925-hc  (Simple site)

Other recent reports  (last 3 days) that reported this exactly or experienced issues related to accessing the editor while cross-site tracking is enabled:
13415647-hc  (Simple)
29592393-hc (Simple)
4756533-hc (Atomic)
4809641-hc (Simple)
29643305-hc (Simple)
24473371-hc (Simple)
29192003-hc (Atomic)

[2021-05-18 20:41] jamiepalatnik commented on #52980
I was able to recreate this in my testing. The plugin appeared as installed only after refreshing the page.

[2021-05-18 20:44] kathrynwp opened #52987 "Theme Switch from WP Admin does not prompt option to preserve homepage"
When switching to a theme that auto-loads homepage content from the WP Admin Themes link at `/wp-admin/themes.php` there is no prompt to select between overriding my homepage content and making my current homepage a draft, or preserving my homepage.

### Steps to reproduce the behavior

1. On WordPress.com, go to [URL]`/wp-admin/themes.php`
2. Select a theme that auto-loads homepage content such a

[2021-05-18 20:48] kwight commented on #52927
@DanielSmithMichigan Can we close this now then?

[2021-05-18 20:56] jordesign commented on #52806
Would this mean that moving forward we would start with this kind of base? I don't imagine it's something we could roll *back* to older themes?

[2021-05-18 21:00] DanielSmithMichigan commented on #52927
@kwight No, it's not fixed. I referenced it from another pull request because that's when I discovered this was an issue and I cleaned up some of the related code, but I didn't fix it in that pull request.

[2021-05-18 21:02] kwight opened #52988 "Themes: Prepare blog themes for Headstart-on-theme-switch."
When https://github.com/Automattic/wp-calypso/issues/52799 is fixed, we'll be able to expand Headstart on theme switch to another set of blog-focused themes.

[2021-05-18 21:02] kwight commented on #52988
@ianstewart will fill in the themes.

[2021-05-18 21:17] jordesign commented on #44915
Closing this as things will otherwise change as part of the My Home B2B Pod

[2021-05-18 21:17] #44915 closed

[2021-05-18 22:41] DanielSmithMichigan commented on #42052
**High level thoughts so far:**

The blank menu option might have been created by mistake. When you click it, a modal is created which [prompts the user for additional input](https://user-images.githubusercontent.com/10274366/118731181-d521aa80-b806-11eb-9d14-ca5e976b1705.png).

Removing [the property Matthew discussed](https://github.com/Automattic/wp-calypso/blob/87083962f859b79de269733f89ed1f0e

[2021-05-19 01:33] michaeldcain commented on #52904
Just to close the loop, we discussed this on our call today and it was an intentional decisions. Jetpack Search and Jetpack Search for WPcom are essentially the same product, and should appear the same to the user with the exception that one can be purchased on simple sites.

[2021-05-19 02:00] bluefuton commented on #52904
Thanks for tracking this down @michaeldcain and @sirbrillig! Much appreciated.

[2021-05-19 03:32] roo2 commented on #52705
So apart from this bug p9dueE-2SE-p2 with jetpack syncing the homepage setting, changing the homepage marks this task as completed ✅

[2021-05-19 03:34] jordesign commented on #40310
I'd agree with this - the number of requests to have retired themes restored seems to be fairly minimal.

[2021-05-19 03:51] p-jackson commented on #47334
PR ready for review: #52990
Commenting here because this is where all the subscribers are and this could probably do with some feedback since it looks a bit gnarly.

<img width="951" alt="Screenshot 2021-05-19 at 3 30 28 PM" src="https://user-images.githubusercontent.com/1500769/118753131-7288e700-b8b8-11eb-8d8f-d6dfc45ca55e.png">

For the record, the mobile app task is also skippable. And I think

[2021-05-19 05:18] autumnfjeld commented on #52705
@deBhal My testing:

* I created a site with a business plan
* then installed a plugin (so the site becomes atomic)
* went to My Home site checklist -> Update your Home page --> Edit home page  and landed in the editor (as expected)
* went back to My Home
* ⛔  saw that Update your Home page was not checked off

Also an aside: @roo2  thought that something in the atomic sync could be flaky, sometim

[2021-05-19 05:27] p-jackson opened #52991 "My Home: Show reminder card at top of My Home if user hasn't verified their email yet"
**What**
If the site setup checklist is complete, and the current user hasn't verified their email, then show a notification card on My Home to prompt them to verify.

Proposed card:
![image](https://user-images.githubusercontent.com/5665959/119572461-1eb95900-bdf6-11eb-9ebb-2af9b7eae806.png)

**Why**
It's possible for users to make it past the site setup checklist without verifying their email. I

[2021-05-19 05:56] alaczek opened #52992 "File block: PDF preview not rendering in website preview"
When I upload PDF doc to the File block, it automatically generates preview in the editor, but when I save or publish the page, the preview is not there.

This might be related to #52743

### Steps to reproduce the behavior

1. Add a file block with a PDF to a post or a page. You should see the auto-generated preview in the editor.
2. Save or publish the post or a page, and click Preview.
3. Note

[2021-05-19 05:57] p-jackson commented on #52991
Actually, this edge case might not exist after all. If a user hasn't verified their email then they can't invite another admin to the site. And if a verified user invites an unverified user as an admin, the unverified user can't accept that invite without verifying their email (the invite is sent via email).

[2021-05-19 06:01] kuropixel opened #52993 "Unable to create Instagram connections via settings, block, or widget"
Unable to connect to Instagram via three areas: Latest Instagram Posts block, Marketing and Integrations settings page, or the Instagram widget.

#### Steps to reproduce the behavior

1. Add the Latest Instagram Posts block, visit the Marketing and Integration settings page, or add the Instagram widget.
2. Try to connect with an Instagram account and allow.
3. WordPress.com refuses to connect/show

[2021-05-19 06:55] jeherve commented on #52949
fwiw, the Video block isn't fully compatible with WP 5.8, because of this issue:
https://github.com/Automattic/jetpack/issues/18864

[2021-05-19 07:16] jordesign opened #52995 "My Home: Hide 'WordPress App' card on my home if the user already has the mobile app & logged in"
If the user has already downloaded and installed the WordPress App - can we please hide this card from My Home.

<img width="354" alt="Screen Shot 2021-05-19 at 5 13 48 pm" src="https://user-images.githubusercontent.com/1842363/118771339-c8b05700-b8c5-11eb-900c-eb290a9582b4.png">

There seems to have been a little discussion around this previously:
https://github.com/Automattic/wp-calypso/issues/3

[2021-05-19 07:25] jordesign opened #52996 "My Home: Decide which Support Docs should be shown by default in My Home."
Currently, there is a list of 6 Support Docs in My Home by default. These are displayed *before* the user enters a search term.

<img width="339" alt="Screen Shot 2021-05-19 at 5 20 03 pm" src="https://user-images.githubusercontent.com/1842363/118772110-b2ef6180-b8c6-11eb-9874-e49261e840e7.png">

* Do I Need a Website, a Blog, or a Website with a Blog?
* Uploading custom plugins and themes
* All A

[2021-05-19 07:26] jordesign commented on #52996
Question: Should we have different items pre-launch VS post-launch?

[2021-05-19 07:35] jordesign commented on #52996
I thought I'd start us off with 2 lists - something to seed the discussion:

#### Pre-Launch

* https://wordpress.com/support/start/
* https://wordpress.com/support/settings/privacy-settings/
* https://wordpress.com/support/domains/
* https://wordpress.com/support/wordpress-editor/
* https://wordpress.com/support/menus/
* https://wordpress.com/support/manage-purchases/

#### Post-Launch

* https:/

[2021-05-19 07:55] donalirl commented on #28322
Encountered in #3994074-zen on a simple site. macOS Big Sur and Safari 14.1.

[2021-05-19 09:01] yansern commented on #38442
Technical analysis: When a protocol-relative URL is used, the `?ssl=1` is not appended to the photon CDN url, without `?ssl=1`, the image doesn't load.

[2021-05-19 09:05] tyxla opened #53002 "Components: `PostShare` block is missing a label for each connection"
#### Steps to reproduce

1. Go to `/devdocs/blocks/post-share` after selecting a site in Calypso.
2. You'll notice that each connection lacks a label.

#### What I expected

Each connection should have a label so that would be more accessible.

#### What happened instead

Each connection is wrapped in divs instead.

#### Context / Source

Reported by @sarayourfriend in https://github.com/Automatti

[2021-05-19 09:18] tyxla opened #53003 "Domains: Nameservers toggle lacking a label"
#### Steps to reproduce

1. Go to `/domains/manage/:domain/name-servers/:site`
2. You'll notice that the "Use WordPress.com Name Servers" toggle is missing a label.

#### What I expected

We should add a label so that the toggle would be more accessible.

#### What happened instead

The label is not technically a `label`, rather it's a `span`.

#### Context / Source

Reported by @sarayourfriend in

[2021-05-19 09:28] yansern commented on #45122
Just to add some visual context:

![2021-05-19_11-27-56](https://user-images.githubusercontent.com/1287077/118789737-5d4e9100-b895-11eb-8b1f-e79af289f53d.jpg)
![2021-05-19_11-27-42](https://user-images.githubusercontent.com/1287077/118789742-5f185480-b895-11eb-9030-5f1cd5e3aef6.jpg)

[2021-05-19 09:31] yansern commented on #45122
Technical analysis: Jetpack carousel CSS is not loaded on Reader view. The question is whether this was intentional.

Eitherway, the two CSS that should be loaded are:
- wp-content/mu-plugins/carousel/jetpack-carousel.css
- wp-content/mu-plugins/jetpack/_inc/blocks/tiled-gallery/view.css

[2021-05-19 09:39] simison commented on #50445
We just renamed it to “Dashboard” recently, since “My home” is pretty vague if you’ve never seen Calypso before (imagine you’re landing in the editor from signup and are editing “my home page”).

It also matches with terminology used in core (in the site editor sidebar).

https://github.com/Automattic/wp-calypso/issues/47054

This UI has heaps of other issues in that it's not easy to find way to d

[2021-05-19 09:41] #50445 closed, assigned to nobody

[2021-05-19 09:46] simison commented on #47334
We could also rename "skip" to something else like "done"?

[2021-05-19 10:26] zdenys commented on #43919
29650475-hc

[2021-05-19 10:32] jartes commented on #52993
I was able to reproduce this as well in three different Atomic sites with no 3rd party plugins.

Also, reported on 3998716-zen

[2021-05-19 10:47] zdenys commented on #52993
29671920-hc AT site as well

[2021-05-19 11:41] simison commented on #53003
cc @kelliepeterson good one for team Nomado?

[2021-05-19 11:46] david-szabo97 commented on #50484
Just tested this and the **Edit homepage** button takes me to the page editor. Can you confirm? @roo2

https://user-images.githubusercontent.com/2256104/118807312-66952900-b8a8-11eb-80fa-5d41e21eca03.mov

[2021-05-19 11:51] simison commented on #52595
I see two more instances of `__experimentalBlock`, assuming those are still blocking the upgrade? (issue https://github.com/Automattic/jetpack/issues/18864)

https://github.com/Automattic/jetpack/search?q=__experimentalBlock

[2021-05-19 12:10] alshakero commented on #50578
Closing this as it doesn't seem reproducible anymore.

<img width="300" src="https://user-images.githubusercontent.com/17054134/118810242-ed97d080-b8ab-11eb-90b1-db2e1658a21f.png">

[2021-05-19 12:30] artpi opened #53008 "Custom fields setting is not working in the Gutenberg"
### Steps to reproduce the behavior

1. Open Gutenberg on WPCOM
2. Open ... -> Preferences -> Panels
3. Turn on "Additional -> Custom fields"
4. It will ask you to reload
5. There is no change. When you return to that setting, it's still OFF.

Video here: https://www.loom.com/share/c712a7f6cda14f018e6c66678dabbe08

#### What I expected to happen

The custom fields panel to appear in the post sideb

[2021-05-19 12:42] yansern commented on #45208
**Technical analysis:**

The function `build_note()` in `class.notification-builders-v1-1.php` does not process shortcodes. Hence, shortcodes appear as in on notification sidebar.

The most similar shortcode parsing implementation is the one from comments. A filter called `comment_text` is picked up by `wpcom_do_comment_shortcodes` at `mu-plugins/shortcodes.php`.

I think if we introduce a new fil

[2021-05-19 12:50] yansern commented on #45110
~**Technical analysis:**
Embed links are converted into shortcodes, and shortcodes are not parsed in notifications.
I believe this issue is similar to https://github.com/Automattic/wp-calypso/issues/45208#issuecomment-844067939.~

See further explanation https://github.com/Automattic/wp-calypso/issues/45208#issuecomment-845726940 and https://github.com/Automattic/wp-calypso/issues/45110#issuecomme

[2021-05-19 12:57] yansern commented on #45132
See https://github.com/Automattic/wp-calypso/issues/45208#issuecomment-844067939 for technical analysis.

[2021-05-19 13:21] davipontesblog commented on #14624
I think we can keep it for WP.com too - I will triage the labels to make sure it's relevant that way.

[2021-05-19 13:28] rickmgithub commented on #47645
For visibility. User returned  to ask for an update - #3960572-zd

[2021-05-19 13:29] #50312 closed, assigned to allilevine

[2021-05-19 13:31] davipontesblog commented on #47013
Adding this to "My Home" pod for consideration. Feel free to close it if we don't intend on adding this :)

[2021-05-19 13:34] davipontesblog commented on #44734
Moving this to "View" for consideration.

[2021-05-19 13:56] aneeshd16 commented on #52943
For newly registered domains, we show the "Activating" status till 30 min after registration. I believe this is an approximation of the time it takes for DNS propagation. After 30 min, the domain is "ready", and we can take the user through the redirect flow.

The current `logmein` implementation will impact all existing links pointing to that domain within Calypso, but the visibility of those lin

[2021-05-19 14:42] yansern commented on #52842
**Technical analysis:**

Apparently a siteId exists for domains purchased without a site on WPCOM, so with that in mind here are 2 options:

**Option 1: Skip plan step**

If the Plan step should be skipped, the plan step in `client/signup/steps/plans/index.jsx` should retrieve the current plan by siteId and skip rendering the plan step (or if it can be done at an earlier stage that's possible too)

[2021-05-19 15:02] razvanpapadopol commented on #50513
The same needs to be done also for the Domains step in `/start`. See 1st item in **Part 1 Domains** p58i-az5-p2

[2021-05-19 15:02] DanielSmithMichigan commented on #42052
These are the conditions under which the modal is shown when using the "activate" button:
themeHasAutoLoadingHomepage && ! isJetpackSite && ! isSiteAtomic

[2021-05-19 15:21] ianstewart commented on #50445
I think it should match-up with the Calypso screen term as it does elsewhere or perhaps be a generic "back". If the "my home" terminology is not working that should change.

It's OK if we tackle that in a separate issue though.

[2021-05-19 15:36] ianstewart commented on #52757
Worth setting up a separate issue to review the top 20 Headstart annotations for "how editable the output is". For example, Coutoire is just way too long to use as a template. Separating the issues of matching the demo from the quality of the demo as a template?

[2021-05-19 15:37] xpurichan commented on #52687
Reported in 4002697-hc.

[2021-05-19 15:43] alshakero commented on #44151
Patch here D61607-code

[2021-05-19 15:44] ianstewart commented on #41488
I believe in another issue in Calypso or some other thread we determined that we should not do this as it winds up being even more confusing. Noting that for future explorers here.

[2021-05-19 15:55] sajmes opened #53014 "Pexels suggested search term returns potentially problematic images"
When adding images from Pexels into an image block, the Pexels search opens with various search terms such as 'clouds', 'mountains', etc. autosuggested to get the user started with adding an image.

One of the search terms I have had suggested to me when starting the process adding an image from Pexels is 'patterns'. That suggested search returns results which are nearly all cannabis related (some

[2021-05-19 15:59] alshakero commented on #50578
Reopening as it's still breaking on iPhone SE.

[2021-05-19 16:04] alshakero commented on #50578
PR here https://github.com/Automattic/wp-calypso/pull/53016

[2021-05-19 16:11] supernovia opened #53017 "(Revisiting) Site Settings: Redirect calypso links for site visitors, and show a proper link to the post."
**Request:** If a logged-out or non-site user clicks a Calypso edit link of a published post, please redirect to the post itself to its proper URL, with a message at the top inviting the site owner to log in. (A revisit of [this issue](https://github.com/Automattic/wp-calypso/issues/4657).)

Please track this redirect as well as how often someone clicks to log in / switch accounts. If most visitor

[2021-05-19 16:13] sixhours commented on #52757
Yep! I went with "these themes all have valid not-broken Headstart annotations" as a first step. We can fine-tune things in a future sprint, IMO.

[2021-05-19 16:24] supernovia opened #53019 "Post Preview: Add sharing links for published posts"
**What**
Add share links to Post Preview

**Why**
Site owner often try to share links to their posts like this:
https://wordpress.com/post/justvelda.wordpress.com/7130

Or more rarely, like this:
https://wordpress.com/posts/my/justvelda.wordpress.com

Those are the links they see when they preview their post or view the post from the list.
![Screen Shot 2021-05-19 at 10 15 51 AM](https://user-imag

[2021-05-19 16:43] sixhours commented on #37658
Yep. If it's not properly in the themes repo, it's considered an outside/WP.org theme and will pull the data from that API.

[2021-05-19 16:43] ianstewart opened #53021 "Theme Setup: Review and Update Top 20 theme home pages for suitability as Templates"
Ref: https://github.com/Automattic/wp-calypso/issues/52757#issuecomment-844222313

Known likely tasks …

- Work theme by theme with top 20 themes
- Switch test site to theme with homepage setup selected
- Review length of resulting home page in Editor
- Review depth of nested blocks
- Click on every block, look for weirdness, and "how do you know"-moments
- Update demo site and theme showcase asse

[2021-05-19 16:47] ianstewart commented on #37658
Fun. Let's fix this for Storefront and then make sure that's tracked for all installed themes. (Likely a "later" task for us, right now.)

[2021-05-19 16:50] sixhours opened #53022 "Theme Showcase: Add Tracks events on post-theme-activation modal"
This modal does not have Tracks events on the buttons/dismiss actions:

![image](https://user-images.githubusercontent.com/545779/118697782-46e10080-b7d5-11eb-8c2d-e633d925bc36.png)

Let's add some. :)

_Originally posted by @ianstewart in https://github.com/Automattic/wp-calypso/issues/52926#issuecomment-843385417_

[2021-05-19 16:53] Copons commented on #52983
I think this is caused by the fact that the Blank Canvas theme shown in the Themes page is _not_ the FSE version of Blank Canvas (which would be "Blank Canvas Blocks"), which means that it's correct that the Site Editor link doesn't show up in the sidebar anymore.

Related: apparently the Blank Canvas theme offered in the onboarding is not the FSE version as well. 🤔

I've written a bit more at paY

[2021-05-19 17:20] fullofcaffeine commented on #52595
We won't be able to upgrade WPCOM (simple sites and WoA) to Gutenberg **10.6.x / 10.7.x** until after the next Jetpack version is released, scheduled to happen on June 1st. This is due to JP including fixes to issues in the Premium Content block caused by changes in 10.6.x. More details here: p1621442044054200-slack-CBG1CP4EN.

[2021-05-19 17:36] ktyfuller604 commented on #52996
There are also 20 How-To videos in post-production, pulled from the top viewed docs and pain points, that Athens worked on as part of our Virtual Meetup.

Many of the videos will replace existing, outdated videos in docs (like Add a Domain and Setting up Menus), but can also be added to this [Video Tutorials landing page](https://wordpress.com/support/video-tutorials/) - if we'd like to emphasize

[2021-05-19 18:15] ianstewart opened #53026 "FSE Design Picker: Designs in the Design Picker should match theme names when available"
Design Picker:

![image](https://user-images.githubusercontent.com/545779/118863006-01d7cf80-b8a4-11eb-8b3b-8d5c05418492.png)

Active theme after onboarding:

![image](https://user-images.githubusercontent.com/545779/118863080-187e2680-b8a4-11eb-857e-af09f6d0db2d.png)

**Note:** This could be accomplished in one of two ways, changing the theme name and making sure the Design Picker is updated make

[2021-05-19 18:17] ianstewart commented on #53026
Some of the designs offered here do not appear in the theme showcase. That's a separate independent issue. We're approaching that issue from one path in https://github.com/Automattic/wp-calypso/issues/52848

[2021-05-19 18:32] porada commented on #52519
Addressed in WordPress/gutenberg#31996 by introducing the option to center the text inside the pullquote block.

[2021-05-19 18:38] kristenzuck opened #53027 "Domains: Registered Domain Forwarding / Redirect"
**What**

The ability to offer domain forwarding to customers who have their domain registered with us. This is something other services offer, and currently HEs use hacks like moving a domain to a free placeholder site to help customers achieve what they want.

**Why**

If we are acting as a domain registrar we should make it simpler for customers to keep their domains with us and use them how th

[2021-05-19 18:52] kristenzuck commented on #44263
Just a nudge that this is still an issue and request that comes up frequently!

[2021-05-19 19:02] scosgro commented on #43055
Another report in 26170876-hc

[2021-05-19 19:09] enejb commented on #53026
Just wanted to point out that this issue also exists in the Mobile Apps (iOS and Android).

Since the current layout picker is not exactly the same as choosing a theme. So after the user creates the site if they end up looking at the themes section of the App they don't necessarily recognize the layout that they have chosen.

[2021-05-19 19:14] aamills commented on #51435
Came up amidst other conversation in 29680588-hc

[2021-05-19 19:24] sbathompson-he commented on #52964
Also reported this exact issue here: Zen-4003035

[2021-05-19 19:27] mattwiebe commented on #52216
I tried, too, also no luck. One hunch was maybe that sandboxing the REST API was the problem, so I tried with and without the sandbox, but both worked.

[2021-05-19 19:27] allilevine commented on #46077
This can be fixed in a similar way to [syncing the user locale](https://github.com/Automattic/jetpack/pull/19525):
- Make the user's profile fields available to Jetpack sites (see D59872-code)
- Sync the user's profile fields in Jetpack
- Clear the user data cache every time a user updates their profile fields (see D61323-code)

[2021-05-19 19:54] #52625 closed, assigned to nobody

[2021-05-19 20:20] kwight commented on #41760
I'm dropping this to normal priority, due to limited people experiencing it.

[2021-05-19 20:22] kelliepeterson commented on #53003
Thanks @simison yep, we can grab this but I actually want to do a more substantive change to this.

[2021-05-19 20:26] kwight commented on #52487
@johndcoy @DustinHartzler or @jesscga is there anyone that could take a look at this?

[2021-05-19 20:27] worldomonation commented on #52845
Decided to go with the conventional approach:
- test specs should live in `test/e2e` as it has always been.
- supporting libraries go in the `@automattic/calypso-e2e` package.

[2021-05-19 20:33] jesscga commented on #52487
Apologies for missing this initial ping -- I've surfaced this to Proton for next steps: p1621456309039200-slack-C7U3Y3VMY

[2021-05-19 20:45] jordesign commented on #35110
Should we close this in favour of the JP issue this is caused by? Or is it useful for tracking separately here?
https://github.com/Automattic/jetpack/issues/2917

[2021-05-19 20:53] ianstewart commented on #52806
I think a good next step would be to make an All-Themes issue for Theme Team maintenance. If it's a helpful theme improvement, it's helpful.

[2021-05-19 21:03] pauloeaquino commented on #50928
29644139-hc (AT)

[2021-05-19 21:05] pauloeaquino commented on #50928
3990452-zen (AT)

[2021-05-19 21:09] kwight commented on #28322
@niranjan-uma-shankar Would your pod be able to take a look and see if this is third-party cookies related?

[2021-05-19 21:21] kathrynwp commented on #50053
@ianstewart Would it be possible to look at some of the feedback received from the earlier test where we put some users into a FSE flow? Looking at things that went well and not as well from that test could help inform how we go about things this time around.

[2021-05-19 21:25] JoshuaGoode commented on #28322
👋  @kwight We've got it on our radar. https://github.com/Automattic/wp-calypso/projects/111#card-61239424

[2021-05-19 21:27] ianstewart commented on #50053
This one’s a bit different as the previous thing didn’t turn off the customizer and turn on new sidebar menu items. @vindl do you recall us throwing any warnings when people switched away from themes? I don't recall it being tested in any of the usability testing.

[2021-05-19 22:27] madisoncmiller commented on #52842
@mrfoxtalbot Yes, I believe it would work if they purchased a plan once they got to that screen on the setup.

[2021-05-19 22:37] #52661 closed, assigned to mmtr

[2021-05-19 23:53] worldomonation opened #53033 "[Meta] Playwright: add unit tests for @automattic/calypso-e2e module"
**Task Details**
Foundational work for Playwright migration is being put in the @automattic/calypso-e2e package.
However, helper functions that interact with the system, config values and environment variables do not have tests written for them.

This makes guaranteeing the output of these functions more difficult.

When filing a PR for writing additional tests of the `@automattic/calypso-e2e` mod

[2021-05-20 00:26] autumnfjeld commented on #52995
Work to do on this: finding the appropriate flag that reliably tells us that the user has logged in to the mobile app.

Not sure exactly what the reference to tracks meant, we'd want to create a more robust conditional check in the code than tracks (I think).

[2021-05-20 00:44] autumnfjeld commented on #52991
Per our verbal discussion @p-jackson I might to emphasize the business case in the "Why", that we want users to verify their email for a variety of reasons.

A site might have many admin users, and the "Confirm your email address" will be satisfied if any one of these users have confirmed their email--which is appropriate, as it is a _site checklist_ not a user checklist.
If we are interested in u

[2021-05-20 00:55] jordesign commented on #52806
Great idea @ianstewart  - added it here:
https://github.com/Automattic/themes/issues/3887

[2021-05-20 01:44] p-jackson commented on #52991
I think a difficulty with answering this question is we don't know how common this problem is. There _shouldn't_ be any users in this edge case, but I'm not sure that's true. My proposal would be very quickly create a new card (copy paste some existing copy) that is shown to unverified users post setup and add an MC stat to it so we can count if it's happening.
If it's a lot of users then we can d

[2021-05-20 01:47] autumnfjeld commented on #47334
[Approved](https://github.com/Automattic/wp-calypso/pull/52990#pullrequestreview-663799816) from functionality point of view.   I kinda like "Done for now", but also happy to ship this improvement and wait for "further instructions" 😄  for another iteration.

[2021-05-20 02:24] p-jackson commented on #52764
Deployed in D61566-code

[2021-05-20 02:24] #52764 closed, assigned to nobody

[2021-05-20 03:13] inaikem commented on #52993
@jartes, @zdenys, this is looking resolved now. It may have been a temporary connection issue between WPcom and IG.

Would you please both check your interactions to confirm if this is the case?

p1621472433192100-slack-CS0SC36SX for reference. Please also nudge there if you're still seeing issues.

[2021-05-20 03:42] donalirl commented on #52996
This doc will be in the best shape of its life by the end of this week 😁

I like your list Jordan and don't have any others to add. Will there be an opportunity to change which docs are linked over time? Let's say in six months from now we want to highlight resources relating to FSE for example, we may want to request those docs be included.

[2021-05-20 03:55] galakhyati commented on #41615
This was requested and came up in the chat with a user who wanted to update their credit card linked to the recurring payment: 29221898-hc

[2021-05-20 04:31] p-jackson commented on #52991
#53035 creates a card for unverified users using pre-existing text. Re-using text so that we don't have to spend as much time on design if this doesn't end up affecting many users.

<img width="940" alt="Screenshot 2021-05-20 at 4 03 02 PM" src="https://user-images.githubusercontent.com/1500769/118919470-adf2e680-b988-11eb-9a64-b8f22e7eda8f.png">

The existing `calypso_customer_home_card_impressio

[2021-05-20 05:40] jordesign opened #53036 "My Home: Inconsistent use of 'Home Page' and 'Homepage'"
At the moment we have varied usage of 'Home Page' and 'Homepage' throughout my home - we should standardize this. At the very least this well effect:

* 'Update Home Page' action card
* Checklist item
* Quick link
<img width="857" alt="Screen Shot 2021-05-20 at 3 38 06 pm" src="https://user-images.githubusercontent.com/1842363/118925175-9f550100-b981-11eb-87a5-e40a1baea2c2.png">

Perhaps @Automatt

[2021-05-20 06:09] jordesign commented on #52906
I'm chasing up whether this stats video is still being worked on or not:
pbXpCH-aD-p2#comment-1757

[2021-05-20 06:12] jordesign commented on #52996
I'd certainly like to think so.

Just flagging that with Devs for discussion as we move forward with this - what will the difficulty level be of periodically updating this list of links?

[2021-05-20 06:24] jordesign commented on #43540
I guess part of the question for @jeffgolenski is whether any design work in My Home is going to be using the existing card designs (as is) or considering them as *part* of the redesign?

[2021-05-20 06:28] jordesign commented on #41702
Jan's no longer at A8C so this is something we'd need to do ourselves - making sure it aligns with:
PCYsg-quF-p2

[2021-05-20 06:29] jordesign commented on #41702
I'd argue for incluion of this action/prompt (to complete transfer) *but* if our main task cards are now suffling/random then its likely it will get lost.

The importance of this action is such that perhaps it should be considered in another fashion?

[2021-05-20 06:32] jartes commented on #52993
Thanks for checking @inaikem! I've tested this on an AT site and the connection worked as well adding the Latest Instagram Posts block:

![Markup on 2021-05-20 at 08:29:06](https://user-images.githubusercontent.com/1046943/118930038-8b8ba980-b945-11eb-8b5a-d890ea37ef75.png)

Will follow-up the interaction. Thank you!

[2021-05-20 06:35] jordesign commented on #52203
This sounds like this issue here - https://github.com/Automattic/themes/issues/3178

There's a list of all the themes effected here:
pNEWy-dBC-p2

We could cross reference that with our top themes - as a way to prioritise?

[2021-05-20 07:06] simison commented on #52611
@michaeldcain would this be good for your team?

[2021-05-20 07:13] Konamiman commented on #52487
Hi, as a workaround while we work on fixing this you can reduce the horizontal size of your browser and then you'll see a clickable "Got  it" button that will close the popup:

![image](https://user-images.githubusercontent.com/937723/118935217-934e4c80-b94b-11eb-943d-c99fbe9ab283.png)

[2021-05-20 08:15] zdenys commented on #52993
I followed up with the user in 4004667-zd-woothemes (29671920-hc) to confirm if the issue is solved.

[2021-05-20 08:17] cpapazoglou commented on #51634
Here is the WPCOM part D61646-code.

In https://github.com/Automattic/wp-calypso/issues/51639, I am going to move on with the Atomic / Jetpack counterpart.

[2021-05-20 08:29] yansern commented on #51787
Hi all, I was looking into this issue for a while but it is a bit of a rabbit hole but here's some technical analysis:

The first anomaly is that even when a user subscribes to a blog for the first time, a `blog_unsubscribe` event is created, followed by a `blog_subscribe` event. Upon further digging, this strange unsubscribe event is handled by `subscriptions_remove_matrix_subscriber`.

What I do

[2021-05-20 09:03] BogdanUngureanu commented on #51634
Just tested on my sandbox and it works great! 🎉  I've added a small comment about a possible warning that will be triggered since PHP 8.

[2021-05-20 09:14] cpapazoglou commented on #51639
That's a good point. That would entail removing all masterbar related code from WPCOM and refactoring the current Jetpack masterbar https://github.com/Automattic/jetpack/blob/76db8162f645ea47974db0738f61f34363e06909/projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php#L26.

I am afraid that this would increase the scope of this issue exponentially. We should have it in mind tho

[2021-05-20 09:39] #51639 closed, assigned to cpapazoglou

[2021-05-20 09:56] #51931 closed, assigned to tjcafferkey

[2021-05-20 10:22] anukool-hegde opened #53040 "Woo Onboarding set up screen not completely visible on smaller display devices"
### Steps to reproduce the behavior

1. Go to the My Sites> WooCommerce to begin the onboarding wizard.
2. Begin the WooCommerce setup
3. Proceed with completing the other steps
4. When you select the option to configure taxes and you will see that we cannot proceed to the next screen as the "We're here to help" popup window button "Got it" is unreachable.
5. Reduce the screen size and you will be

[2021-05-20 11:48] Robertght commented on #44554
@kwight I'm not sure if you're still able to check this, but can we have a hand with this one? It seems like it can affect other websites as well.

[2021-05-20 12:19] jeffikus commented on #51060
Will add this to our bug scrub which should be coming up within the next 2 weeks.

[2021-05-20 12:21] jeffikus commented on #52478
@ianstewart if it's not theme specific or part of a range of themes like Varia child themes, then it wouldn't be a theme issue. If it is, then it needs to be logged in https://github.com/Automattic/themes/issues/new

[2021-05-20 12:51] porada commented on #52961
The gap in the editor is intentional for two main reasons:

1. Visual distinction between the two separate blocks.
2. To provide the space for editor UI controls (which even happened to get captured on the screenshot).

Closing the issue for now.

[2021-05-20 12:51] #52961 closed, assigned to nobody

[2021-05-20 13:40] simison commented on #53008
Should the solution be to make custom fields work, or hide the setting entirely? I.e. not sure if simple sites have some limitations for these.

[2021-05-20 13:43] razvanpapadopol opened #53050 "Site editor: post-site creation experience with Blank Canvas design"
**Task Details**

After creating an FSE site with Blank Canvas, we may want to customize the experience somehow. For non-FSE sites, this was done in https://github.com/Automattic/wp-calypso/pull/52288

[2021-05-20 13:54] porada commented on #52868
@simison — Any chance you remember the page you took these screenshots on? I’m trying to determine whether that’s an AMP or a non-AMP landing page.

[2021-05-20 14:26] rickmgithub commented on #46077
Another report - #26042544-hc
I changed the display name in cli for them. Now I'm seeing the other options above but user was happy.

[2021-05-20 14:30] retrofox commented on #51822
I checked that I see the earning banner for a **Simple** site with a **Free** plan:

<img src="https://user-images.githubusercontent.com/77539/118997047-bb937680-b95e-11eb-962c-b095c39e15cf.png" width="600px" />

[2021-05-20 14:40] artpi commented on #53008
They would show up in the API if you edit it on the simple site, but I don't think we have a theme or functionality that utilizes them.
I see the value in having those working, but clearly, it's not a big issue if nobody discovered it before me.

[2021-05-20 14:45] kwight commented on #44554
The @Automattic/view-engineering team handles these blocks now (although we're all committed to other projects) – any room for you all to look at this @apeatling ?

[2021-05-20 14:46] porada commented on #52605
@nagpai — Just to confirm: the core Video and VideoPress blocks are two separate blocks. Is this strictly about VideoPress or both?

[2021-05-20 14:50] razvanpapadopol commented on #50273
Let's keep this on hold since it may be fixed by resetting the store when starting a different flow in https://github.com/Automattic/wp-calypso/pull/52434 or a follow-up.

cc: @StefanNieuwenhuis

[2021-05-20 15:01] razvanpapadopol commented on #49048
@ianstewart @simison, I've created https://github.com/Automattic/wp-calypso/issues/53050 to do something like this in FSE context

[2021-05-20 15:08] ersatzpenguin opened #53053 "Feature Request: Add Additional Collection Fields to Donation Block"
**What**
A user reached out requesting a way to collect emails, addresses, and phone numbers from folks donating via the Donations block.

**Why**
Being able to collect additional information from folks who are donating would allow organizations to pursue additional outreach and fundraising initiatives with the information collected.

**How**
I think the easiest thing layout-wise would be to add t

[2021-05-20 15:11] sixhours commented on #52561
Closing in favor of #52590

[2021-05-20 15:11] #52561 closed, assigned to nobody

[2021-05-20 15:29] StefanNieuwenhuis commented on #52905
![image (1)](https://user-images.githubusercontent.com/12104589/119006595-cf57d080-b990-11eb-878d-cb55454e45a2.png)

Currently, the marketing copy hides the search results below the fold.

@ollierozdarz, what do you think of moving the marketing copy below the search results? See p1620915194324400/1620913276.320500-slack-C01VA100LEA

[2021-05-20 15:35] donlair commented on #52985
I've got a diff for this at D61661-code

[2021-05-20 15:37] sixhours commented on #52799
It looks like what's left here is to:

* [x] Deploy D61382-code
* Add `blog-homepage` and `auto-loading-homepage` tags to themes' stylesheets from the initial list:
* [x] Dyad 2 - D61635-code
* [x] Spearhead - D61383-code
* [x] Independent Publisher 2 - D61602-code
* [x] Hemingway Rewritten - D61624-code
* Make sure we're not adding unnecessary home pages to blog homepage annotations:
* [x] Dyad 2

[2021-05-20 15:50] StefanNieuwenhuis commented on #52905
@ollierozdarz , another one is that the marketing copy is spread over 2 columns.
WDYT? Does its layout need to change as well?

Another issue is that the off-margins around the search bar and is the search bar in the right place?

![image (2)](https://user-images.githubusercontent.com/12104589/119009849-d3392200-b993-11eb-8b79-7934ab403eb1.png)

[2021-05-20 15:53] cpapazoglou commented on #51634
Deployed r226017-wpcom

[2021-05-20 15:53] #51634 closed, assigned to cpapazoglou

[2021-05-20 15:57] StefanNieuwenhuis commented on #50273
Thanks for the heads-up, @razvanpapadopol. Good idea and let's keep a close eye on the store resetting issue.

[2021-05-20 15:58] jeffgolenski commented on #47334
Understood! @p-jackson @autumnfjeld I'm not in love with having three links there, but here's something to consider!

**From a functionality stand-point**, "skip for now" serves no real purpose within this checklist. Customers can navigate the items on the right in a non-linear fashion of their choosing. The moment they click "Launch your site" the checklist disappears for them.

Here's a quick vi

[2021-05-20 15:59] michaeldcain commented on #52799
I think that one glaring issue is the way the theme switch behavior for blogs is presented to the user: "Use Spearhead's homepage content and make my existing homepage a draft." This isn't technically true. We don't add blog posts or draft their current homepage. Adding a `blog-homepage` selector to Calypso would let us clean up that message.

[2021-05-20 16:01] michaeldcain commented on #52799
✅

[2021-05-20 16:03] sixhours commented on #52799
Ahhh, is this an issue? I could see it being problematic if they lose everything because they chose a different type of front page setting. 😬 Or does the existing homepage get preserved as a regular published page instead of a draft?

[2021-05-20 16:22] apeatling commented on #44554
@andrewserong has a fix in the works for this one.

[2021-05-20 16:25] michaeldcain commented on #52799
The existing homepage gets preserved as a regular published page. I could try to create a patch to handle, at minimum, drafting it.

[2021-05-20 16:53] #52834 closed, assigned to nobody

[2021-05-20 16:58] sethmclellana8c opened #53056 "P2 - Dialogue box button on "Someone editing draft" doesn't do anything"
### Steps to reproduce the behavior

1. (User 1) Go to p2, create a draft post, and save
2. (User 2) Find draft and enter doc to edit
3. (User 1) Dialogue box pops up warning "Someone else has taken over this post: Another user now has editing control of this post. Don't worry, your changes up to this moment have been saved. [Exit the Editor]"
4. (User 1) Try clicking the [Exit the Editor] button

[2021-05-20 17:12] metabreakr commented on #50832
4006067-zen

[2021-05-20 17:37] ianstewart commented on #52799
Perhaps we could fix this language up for everyone.

More accurate in this instance with no mention of "content"? Perhaps more understandable for all themes?

This should be a blocker so the experience is the same across the board.

Both of the following flows should work as expected with that change as well.

1. Start my site with Mayland.
2. Switch to Spearhead and select make my homepage look l

[2021-05-20 17:54] michaeldcain commented on #52799
Here's a patch to draft the previous homepage: D61673-code

[2021-05-20 18:20] ianstewart opened #53057 "Onboarding: Likes added to pages by default"
### Steps to reproduce the behavior

1. Create a new site on WP.com.
2. Navigate to a page that was created by WP.com setup processes.

#### What I saw

Like buttons turned on for every page by default.

![image](https://user-images.githubusercontent.com/545779/119028754-71fe5800-b96d-11eb-946e-4287f7a5b71a.png)

#### What I expected to happen

Subjective, but my general feeling is that, while Lik

[2021-05-20 19:23] #51327 closed, assigned to retrofox

[2021-05-20 19:23] #52539 closed, assigned to retrofox

[2021-05-20 19:35] mreishus commented on #14896
#52686 is deployed, which forces logged in users to select a site context when visiting `/themes`.
After visiting `/themes` while logged in, if you have multiple sites, you'll be prompted to select a site, and be redirected to `/themes/<siteurl>`. From there, if you click info on a theme, you'll be brought to `/theme/twentytwentyone/<sitename>`.

However, a logged in user can visit `https://wordpr

[2021-05-20 19:44] roundhill commented on #52949
This will be fixed once https://github.com/WordPress/gutenberg/pull/32057 is merged.

[2021-05-20 19:45] #50053 closed, assigned to mattwiebe

[2021-05-20 20:00] aamills commented on #43919
Another instance in 29699904-hc - advised about setting the site to coming soon and re-invite the user that was showing as "already a member".

[2021-05-20 20:06] mattwiebe opened #53060 "Themes: complete activation of FSE themes"
#52624 unlocked the browsing of Full Site Editing themes for sites with it active by populating "Recommended Themes" with block-based themes.

Some tasks remain:

- [x] Launch Mayland Blocks
- [ ] Proper theme descriptions (theme showcase)
- [ ] Populate the `demoURI` prop (somewhere server side) so that the "Live Preview" action works.

There are likely other tasks, they can be added to this catc

[2021-05-20 20:08] #52687 closed, assigned to ramonjd

[2021-05-20 20:14] sixhours commented on #52799
I applied `auto-loading-homepage` to the themes in the short list above since it looks like that's the direction we're headed.

[2021-05-20 20:14] metabreakr commented on #47433
Encountered in 29702217-hc

However, Gutenberg was deactivated on this site. Reactivating the plugin was the solution in this case.

[code]

Browser: https://www.whatsmybrowser.org/b/6RV1E

[2021-05-20 20:27] metabreakr commented on #52209
29512842-hc

Advised they clear their cache.

[2021-05-20 20:52] kwight commented on #52757
To close this, let's get in decent annotations for @donalirl 's list [here](https://github.com/Automattic/wp-calypso/issues/52757#issuecomment-841888198) too (Fortune, Venture, Shoreditch, Olsen, Restaurant).

[2021-05-20 20:54] DavidRothstein commented on #50820
Yes, the underlying bug is fixed.

It still doesn't have the same nice flow that WordPress.com and Jetpack have, but it does prevent the account cancellation (after the user actually tries it) which is the most important part.

The nicer flow is an enhancement that no one is likely to add soon, though, so will leave up to someone else to close this issue without that if desired :smile:

[2021-05-20 21:06] sixhours commented on #52985
Are you still able to reproduce this one Ian? I tested it while I was reviewing Don's patch and wasn't able to see what you're seeing:

https://user-images.githubusercontent.com/2124984/119048785-b6015500-b98d-11eb-822d-ddd359bc58de.mov

[2021-05-20 21:15] niranjan-uma-shankar commented on #52943
Thanks for investigating. Discussion continued in pcNnmV-5c-p2.

[2021-05-20 21:40] noahtallen commented on #46015
Cool! I do want to note that we don't have any CI running it on PHP 8 yet, but I think ETK is low risk in general just because the amount of PHP code is fairly low

[2021-05-20 22:19] sethmclellana8c opened #53064 "Embedding YouTube video in post with "URL at current time" starts at video beginning"
### Steps to reproduce the behavior

1. Go to YouTube and select a video of your choice (I used this SFW url: https://www.youtube.com/watch?v=DTvS9lvRxZ8)
2. Skip to a random time in the video and play
3. Right-click in video, menu opens, select "Copy video URL at current time" (Puts this url onto your clipboard: https://youtu.be/DTvS9lvRxZ8?t=488)
4. Draft a new post in wpcom, ctrl-v to paste lin

[2021-05-20 22:24] chrism245 commented on #44844
I also had a user that asked for this today, in 4003548-zd-woothemes.

[2021-05-20 22:38] sirbrillig commented on #47078
This is still a backlog task.

[2021-05-20 22:39] sirbrillig commented on #47077
It would still be nice to do this.

[2021-05-20 23:02] p-jackson commented on #47334
You're right the setup does disappear post launch, but it's easily brought back by clicking "Show site setup".

https://user-images.githubusercontent.com/1500769/119058888-55bcf280-ba23-11eb-80ca-3233accc162f.mov

I also tried refreshing the page in the above video to see whether My Home would go back to displaying the congratulatory message, but it didn't.

I think you're right, "skip" isn't the

[2021-05-21 00:09] andrewserong commented on #44554
Fix deployed in D61642-code / r226049-wpcom

I tested the reported sites on an account with access to the paywall content and one that doesn't, and it appears to be working correctly now. Please let us know if you encounter any further issues!

[2021-05-21 00:29] danielwrobert commented on #52985
I'm not able to produce the issue on the un-launched site (the floating `ul` dropping down - see https://test211367648.wordpress.com/), which is consistent with what @sixhours is seeing.

However, I am able to produce the missing elements described for the launched site (see https://test929607703.wordpress.com/). Both sites are on the Free plan.

**https://test211367648.wordpress.com (un-launched)

[2021-05-21 01:22] p-jackson commented on #47334
I've updated the PR to remove the skip button, but have also added logic so that the edit site menu task doesn't count towards completion of the list. Notice in the video below that we start with every task completed except editing the site menu and launching:

https://user-images.githubusercontent.com/1500769/119067772-e18c4a00-ba36-11eb-973a-4751c45da161.mov

The difference between this video an

[2021-05-21 03:04] jordesign commented on #52799
I personally prefer this - in terms of phrasing that works for showing either posts *or* page content on the home page.

And agree that it should be consistent behaviour to the user - regardless of what is changing behind the scenes. Thanks folks!

[2021-05-21 03:27] jordesign commented on #47334
This feels more natural to me as a transition post-launch.

If we go this direction I think we should let HEs know how to help users who are motivated to do all steps (which is to tell the users that the menu item isn't necessary)

This *is* a behavior we witness sometimes. HEs can definitely confirm the step isn't needed. Is your worry that people won't launch the site until *after* that step is

[2021-05-21 03:48] p-jackson commented on #47334
Yes, although my feeling probably isn't as strong as "won't". More like "people will be marginally disincentived from launching". But then you could argue that any step placed before launching will marginally decrease launch rate 🤷 Perhaps this is the best of both worlds until the day we can simply remove this difficult to complete task from the setup checklist.

[2021-05-21 05:45] p-jackson commented on #52995
The reason I'm not convinced about using tracks is it's designed to be purgable. Once the retention window is up we should expect the event to go away, so it's not quite like our regular database.

I did some digging and unfortunately haven't found anything in our existing metadata/attributes for users that changes when the user logs in to the mobile app for the first time. I wonder if it'd be a g

[2021-05-21 05:58] ollierozdarz commented on #52877
Let's roll with the reskin (below). [Figma](https://www.figma.com/file/gnYBUOBthTMckJRJr3pZmk/Control-Experiments?node-id=2557%3A0)

<img width="1440" alt="Reskined Reskin" src="https://user-images.githubusercontent.com/67085494/119089311-4a7ebc80-ba4d-11eb-9440-5d4c8c9cae94.png">

<img width="375" alt="Reskined Reskin" src="https://user-images.githubusercontent.com/67085494/119089338-523e6100-ba4

[2021-05-21 06:19] jordesign commented on #52995
Could we check if they have a valid/open oAuth connection to the App?

My User report card shows that I have a connection to the iOS app as an example?

[2021-05-21 06:58] ollierozdarz commented on #52905
Hey @StefanNieuwenhuis,

@ollierozdarz, what do you think of moving the marketing copy below the search results?

Yep, if you check out the latest mobile design in the description (and below), we'll put the marketing copy at the bottom underneath the results once they're populated:

![image](https://user-images.githubusercontent.com/67085494/119094613-9ed96a80-ba54-11eb-9231-9849cca580d6.png)

WDY

[2021-05-21 07:21] jordesign commented on #52810
Figuring we need to know how to flag if the user has the app or not? I mentioned in #52995 that we might be able to see what oAuth connections a user has - as a way of knowing if the user has the app installed/connected?

[2021-05-21 07:22] yansern commented on #53056
**Technical analysis:**

Iframe bridge server overrides the "Exit the Editor" behaviour via `handlePostLockTakeover`.

When the button is clicked, it calls the action `goToAllPosts`.

However, the action `goToAllPosts` has been marked deprecated, and the action `closeEditor` should be used instead.

Maybe the action `goToAllPosts` no longer works (even though the codes are still there). It is poss

[2021-05-21 07:29] yansern commented on #45208
**Update:** Upon further digging it appears that the `comment_text` filter does parses shortcode into embed html.
~However, this parsed html is not used.~ However, the comment text is converted back to shortcode when its fed through `wp_kses` (class.notifications-builders.php @ __construct():295).

[2021-05-21 07:40] simison commented on #53036
Few more places to consider:

![Screenshot_20210521-103820_Firefox.png](https://user-images.githubusercontent.com/87168/119100707-e80fc700-ba20-11eb-8633-552bf1d633ce.png)

![Screenshot_20210521-103428_Firefox.png](https://user-images.githubusercontent.com/87168/119100718-eba34e00-ba20-11eb-8909-5f7ae6c21c7d.png)

![Screenshot_20210521-103234_Firefox.png](https://user-images.githubusercontent.com/

[2021-05-21 07:45] simison commented on #52877
I really miss how hidden that "email me login link" is, especially on mobile where it's super useful. (I bet this is visible from data)

Thoughts on if it should be more visible and how?

[2021-05-21 08:21] michaelpick commented on #53036
The Automattic Style Guide says 'homepage', FWIW!

[2021-05-21 08:45] mmtr commented on #52046
Seems this is happening because the remote login process that is performed when a user logs in from `wordpress.com/log-in` does not work currently on Atomic sites.

The 3rd party cookies pod is currently working on improving these flows, so I asked them if they can take over this issue (see p1621586041027700-slack-C01V2160U15).

cc @niranjan-uma-shankar

I wouldn't recommend this, since it can deg

[2021-05-21 09:17] kosiew commented on #52728
Not transferring to Gutenberg as this affects Simple sites only.

[2021-05-21 09:25] razvanpapadopol commented on #52905
Thanks for your input, @ollierozdarz 🙌🏼

@StefanNieuwenhuis, let's do the same also for tablet view (when we have marketing on 2 columns) and we can always improve later.

[2021-05-21 09:34] kosiew commented on #52783
Could not replicate on my AT site - https://wp20180808.com/robots.txt

![Screenshot](https://d.pr/i/QRgNMI+)
*if image does not load, please click on this link  : https://d.pr/i/QRgNMI*

[2021-05-21 09:37] #52783 closed, assigned to nobody

[2021-05-21 09:56] kosiew commented on #52955
Could reproduce this on a Jurassic Ninja site, confirming this is a Gutenberg issue.
Closed this.
Opened as https://github.com/WordPress/gutenberg/issues/32084

[2021-05-21 09:56] #52955 closed, assigned to daria2303

[2021-05-21 10:06] Aljullu opened #53073 "Switching to a block-based theme doesn't offer an option to keep the home page created by Storefront"
Reported in pca54o-1mt-p2#comment-1842.

Maybe related to https://github.com/Automattic/wp-calypso/issues/52987?

### Steps to reproduce the behavior

1. Set up a Business site with any theme (I used Blank Canvas).
2. Go to Plugins and install WooCommerce.
3. Once installed, the WooCommerce onboarding will appear.
4. In the steps 1-4, enter some random data. In step 5, select Storefront as the the

[2021-05-21 10:19] jordesign commented on #53036
'Homepage' also seems to be the core WP usage as suggested in this guide.
https://make.wordpress.org/docs/handbook/documentation-team-handbook/handbooks-grammar-guide/#general

[2021-05-21 10:32] Aurorum commented on #53036
The capitalisation should also probably be consistent - "**H**omepage" is used in a few cases (eg. the checklist and the post ellipses) but I wonder if "**h**omepage" might be better?

[2021-05-21 10:33] KokkieH commented on #52957
We've had another customer attempt to register a .fr domain with a UK address in 4007890-zen

[2021-05-21 11:13] simison commented on #53036
Sounds like the "Front Page" bit at core could be updated as well, then! 🎉

[2021-05-21 11:39] jordesign commented on #53036
Ah - missed these last few messages regarding capitalisation - but have drafted a PR
https://github.com/Automattic/wp-calypso/pull/53076

Will hold off until we get a decision about the final capitalisation.

[2021-05-21 12:14] cpapazoglou commented on #48980
@allilevine with https://github.com/Automattic/jetpack/pull/19525 being merged, I think we can close this too?

[2021-05-21 12:59] #52540 closed, assigned to retrofox

[2021-05-21 13:21] allilevine commented on #48980
Yes thanks! Closed by https://github.com/Automattic/jetpack/pull/19525 🎉

[2021-05-21 13:21] #48980 closed, assigned to nobody

[2021-05-21 13:32] cpapazoglou commented on #46077
Info not synced between Calypso & Atomic:
- Username (can only be changed in Calypso)
- First Name
- Last Name
- Display Name
- Email
- About me

Info currently in sync between Calypso & Simple / Atomic:
- Profile Picture (through Gravatar)
- Interface Language
- Color Scheme

[2021-05-21 13:46] davipontesblog commented on #52241
This can be tracked by reviewing the volume of incidence of this chat tag in WP.com: `atomic_staging_local`

Current stats: 37 requests in the last 30 days.

[2021-05-21 14:12] sixhours commented on #52757
@blackjackkent If you end up working on any of these, they're in the `/premium` repository. I think we have to be more careful with images when generating annotations because they were chosen by the theme authors and we may not have permission to use them across WP.com. We can grab existing images from or upload new ones to the headstartdata.wordpress.com Media Library.

[2021-05-21 14:21] cpapazoglou commented on #46077
This is a little trickier than anticipated. For example:

- User A changes display name in WordPress.com to **user_A_new_name**
- User B, visits User A posts.
- User B should be seeing **user_A_new_name** as the author of posts.

Since xmlrpc requests (D59872-code) are done for the current user (User B) the display name of User A won't be updated unless User A visits the site as authenticated user

[2021-05-21 14:27] mmtr commented on #43605
I've removed the "Simple/Atomic Parity" label since there is no differences between Simple and Atomic sites for this feature. This is a Calypso/WP Admin parity gap that is currently affecting both Simple and Atomic sites.

[2021-05-21 14:27] niranjan-uma-shankar commented on #52046
Just to clarify, the 3rd party cookies pod is currently focused on simple sites. We haven't yet reached the point of discussing or triaging atomic site issues. I've added this issue to our project board for tracking, but I don't have a time frame defined at the moment on when we can get to this.

[2021-05-21 14:34] mmtr commented on #52046
Thanks @niranjan-uma-shankar. I'll also keep it in our board, in case we have room for working on it first. We are currently prioritizing small issues (and there are plenty of them), so it's likely that we won't be able to fix this before the end of the "Back to Basics" plan.

[2021-05-21 14:44] mmtr commented on #51585
Wondering if maybe adding an additional `! isAtomic` check here would solve the issue: https://github.com/Automattic/wp-calypso/blob/0f30cbab5d3b29de26f395277d16ac5e2d5dc386/client/my-sites/activity/activity-log-banner/upgrade-banner.jsx#L31

[2021-05-21 15:15] sixhours commented on #52799
@mreishus and I did some quick testing this morning: p1621608042131700-slack-C0202PMUXLJ

TL;DR:

* I deployed Hemingway Rewritten's annotations and stylesheet.
* Adding the `Auto Loading Homepage` tag to the themes in the Showcase itself is what triggers the addition of the theme to the Recommended section, so we should be fine to deploy the other annotations without adding anything to the Recomm

[2021-05-21 16:25] cpapazoglou commented on #46077
Just stashing some code D61740-code

[2021-05-21 16:27] synora commented on #53053
Triaged. Earn tag label added.

[2021-05-21 16:31] ericamQA commented on #52957
Was able to reproduce. I imagine this is due to Brexit, as when you set the country to "United States" you get the following error:

".fr domains can only be registered by a company or resident of the European Union, Switzerland, Norway, Iceland, or Liechtenstein."

The United Kingdom only recently stopped meeting this criteria.

[2021-05-21 16:39] simison commented on #53008
cc @WunderBart @fullofcaffeine this might be good for your backlog since it's Gutenberg/Simple compatibility issue.

[2021-05-21 16:50] #51822 closed, assigned to retrofox

[2021-05-21 16:51] paxblueribbon opened #53084 "Like Received On Coming Soon Page"
### Steps to reproduce the behavior

1. Go to post referenced by customer
2. See that there is a like
3. Open the post in incognito mode
4. See that page is in 'Coming Soon' mode

#### What I expected to happen
Likes shouldn't be received  because  site is in 'Coming-Soon" mode
#### What actually happened
as reported in ZD-4005742 customer received a like on a post despite page not being launched.

[2021-05-21 16:53] ericamQA commented on #52964
Able to reproduce on Simple site, VIP (P2 site), and atomic sites (with and without Dashboard Appearance setting on). In all three cases, nothing happens when you try to make a portion of comment text **bold** or _italicized_.

[2021-05-21 16:59] synora commented on #53040
I'm able to replicate this after clicking on both "Add Products" and "Add Tax Rates"

![Annotation on 2021-05-21 at 12-58-44](https://user-images.githubusercontent.com/10015451/119172774-55792300-ba34-11eb-9efd-238d632f63f6.png)

[2021-05-21 17:05] ericamQA commented on #52977
Related  (but more general) reader vs live site issue here: https://github.com/Automattic/wp-calypso/issues/43595

[2021-05-21 17:12] synora commented on #52993
I've tested this on an AT site and it appears the Instagram connection is working again as expexted. I'll close this issue for now but we can always reopen if it crops up again.

[2021-05-21 17:12] #52993 closed, assigned to nobody

[2021-05-21 17:27] sixhours opened #53085 "Pages: Draft homepage icon is out of alignment"
When switching between Recommended themes in the Theme Showcase, you have the option of saving your existing homepage as a draft. This is indicated on the Pages screen by an icon with the theme name for which the draft was saved. It looks out of place compared to the timestamp icon next to it and could use some visual polish.

<img width="228" alt="Screen Shot 2021-05-21 at 1 17 18 PM" src="https:

[2021-05-21 17:35] synora commented on #46767
I'm unable to replicate this. Once disabling fullscreen mode, the screen I select appears as expected. Closing issue.

[2021-05-21 17:35] #46767 closed

[2021-05-21 17:43] ericamQA commented on #47651
Unable to reproduce. Closing.

![RSS-Feed-from-Google-Alert](https://user-images.githubusercontent.com/44411833/119177531-704e9600-ba3a-11eb-8df1-4ff70537a65a.png)

[2021-05-21 17:43] #47651 closed, assigned to nobody

[2021-05-21 17:45] sixhours commented on #52757
I started looking at Olsen; the annotations could use a couple more posts to round things out, but otherwise I wouldn't consider it broken:

![olsensandbox](https://user-images.githubusercontent.com/2124984/119177566-7b092b00-ba3a-11eb-8db7-de054a03b75f.png)

Featured content gets set, which is one of the bigger issues. We can't use [the demo site's](http://olsenthemedemo.wordpress.com) images bec

[2021-05-21 17:50] synora commented on #46583
@ockham I noticed this issue has gone stale. It is still relevant or can it be closed?

[2021-05-21 17:58] ericamQA commented on #47644
Unable to reproduce on multiple themes (Pique, 2021, and Ixion tested) on AT and Simple sites. Closing.

[2021-05-21 17:58] #47644 closed, assigned to nobody

[2021-05-21 17:59] synora commented on #46984
I tested this and I actually end up on My Home of my primary WordPress.com instead of the JN site. This still doesn't sound like the intended behavior of landing on the Jetpack connection page.

[2021-05-21 18:03] synora commented on #46949
@rezzap I came across this while triaging. Do you mind testing this again to see if you can still replicate it? I don't have an Andriod device and it's been a while since the initial report in October 2020.

[2021-05-21 18:11] ericamQA commented on #47599
Unable to reproduce (_only applies with Nav Unification Dashboard Appearance setting OFF_). The default is set to "Everyone" with the ability to change to "Me". Navigating away and coming back, it goes back to "Everyone."

[2021-05-21 18:11] #47599 closed

[2021-05-21 18:12] sethmclellana8c opened #53088 "PDF embeds inline in Gutenberg editor but disappears in published post"
### Steps to reproduce the behavior

1. Make a draft p2 post
2. Drag and drop a pdf into post
3. (My editor auto-selected the 'Inline embed' setting from the File block - as expected)
4. Link to download file appears below inline embed in editor
5. Hit publish
6. Inline embed disappears and download file link remains

#### What I expected to happen

-Drag and drop pdf file into draft of post and i

[2021-05-21 18:23] KirkwallDay opened #53089 "File Blocks With PDFS Nested Inside Cover Blocks Break For Simple Sites"
### Steps to reproduce the behavior

1. Create a cover block
2. Create a file block inside the cover block and link it to a PDF file.
3. Save the page, leave and come back.
4. Block is broken

#### What I expected to happen

The file block should not break when placed inside a cover block.

#### What actually happened

The file block broke.

#### Level of impact (Does it block purchases? Does it a

[2021-05-21 18:23] synora commented on #25039
Tested this and it's still occurring. Removed Stale label.

[2021-05-21 18:44] synora commented on #47447
Gutenberg loads pages and posts as expected now. Closing issue.

[2021-05-21 18:44] #47447 closed

[2021-05-21 19:50] mikeicode commented on #51787
Customer is 28733597-hc ran into this. User RC shows sites being unfollowed, they say it has been happening multiple times recently.

[2021-05-21 20:12] ianstewart commented on #52985
I can reproduce on a launched site using the same test site as Dan.

![image](https://user-images.githubusercontent.com/545779/119193254-fc66ba80-ba46-11eb-8d3e-6c3c75a31d47.png)

Happens around that breakpoint.

[2021-05-21 20:13] ianstewart commented on #52985
@simison what kind of device was that screenshot from?

[2021-05-21 20:26] jp-imagines commented on #52209
1649344-hc

Simple site.
Blank editing screen in Safari 14.1. "Sorry, you are not allowed to edit this post" error showed up in Chrome 90.0.
Clearing cache has temporarily worked.

[2021-05-21 20:46] sixhours opened #53094 "Headstart: Taxonomy assignment for featured posts is broken"
When generating an annotation from a site, the schema for adding a specific tag looks like this:

<img width="588" alt="Screen Shot 2021-05-21 at 4 43 34 PM" src="https://user-images.githubusercontent.com/2124984/119196177-c2e87c00-ba53-11eb-9186-081bbeaa686c.png">

But when Headstarting a site using the generated annotation, tags don't get applied. Instead, the schema that does work appears to be

[2021-05-21 21:15] #52651 closed, assigned to nobody

[2021-05-21 21:19] mreishus commented on #52799
I'm seeing that switching to themes can move you from `show_on_front: "pages"` -> `show_on_front: "posts"`, but cannot make the opposite change.

I started with my site on Seedlet, showing static content on the homepages. I can switch between Seedlet and Twenty Twenty One, selecting to to replace my homepage each time. When I do, my homepage's static content gets updated to that theme's:

**Step 1

[2021-05-21 21:22] kriskarkoski opened #53095 "Git-Zen test issue"
This is a sample issue for testing the Git-Zen app with Zendesk. Please leave open. Thanks!

gz#4009485

[2021-05-21 21:38] hacchism commented on #48980
Awesome! Thank you✨

[2021-05-21 21:41] mreishus commented on #52799
Will the tag `blog-homepage` have a 1-1 relationship with the setting `settings.options.show_on_front: posts`? If so, I'm worried about these getting out of sync in the future.

[2021-05-21 21:44] hacchism commented on #50820
Indeed, that's the most important part✨ If it does prevent the account cancellation already, I think it's okay to close this issue. But I'd defer to you two whether this can be closed or not👍

[2021-05-21 21:55] #52692 closed, assigned to BogdanUngureanu

[2021-05-21 21:55] allilevine commented on #51826
I think this needs a server-side fix. Details here: 100-gh-Automattic/wordpress-seo-premium

[2021-05-21 22:01] ianstewart commented on #46696
+1. I might keep a large preview after the design picker step though? Just because it gives you a chance to evaluate what you're selecting. That opinion on the preview isn't a blocker for my +1.

Removing the font selection in onboarding also opens up a chance to be more creative with font pairings. Right now they're the design options are tied to the small list of pairings.

[2021-05-22 00:15] p-jackson commented on #52995
Oh that's a great idea @jordesign! It's visible right here in Calypso `/me/security/connected-applications`

<img width="974" alt="Screenshot 2021-05-22 at 12 14 02 PM" src="https://user-images.githubusercontent.com/1500769/119208629-427b5700-baf7-11eb-8ac9-6b3b3a765ce2.png">

[2021-05-22 10:10] UsamaKhushnood opened #53098 "App not running locally."
**I'm new to this project and it's an honor to be a part of this community.**

So I'm trying to run it locally on my machine but when I hit `yarn start` following errors appears

[code]
Any help will be appreciated
Thank you

[2021-05-22 14:32] csonnek commented on #47052
Reopening this issue as we have another report in this forums thread: https://wordpress.com/forums/topic/lovecraft-cant-add-pages-after-parent-page/

Logged in as the user and confirmed the same behavior as the OP. They have 175 Pages published.

Advised to use the wp-admin workaround for now.

[2021-05-22 19:34] carinapilar opened #53100 "Blank Screen when creating a new post"
### Summary

We started receiving multiple reports from users getting a blank screen when trying to create a new post. We haven't been able to replicate the issue, but clearing the cache helps fix the issue.

#### Reports so far

https://wordpress.com/pt-br/forums/topic/nao-consigo-escrever-post/
4009126-zd-woothemes
4010131-zd-woothemes
4008175-zd-woothemes
4007918-zd-woothemes
4008223-zd-woothem

[2021-05-23 03:00] jordesign commented on #53036
Although looking at things - I think I may have made that PR incorrectly...

New one at https://github.com/Automattic/wp-calypso/pull/53101 which I think is correct.

[2021-05-23 04:11] jordesign commented on #52757
I'll let Donal answer for himself - but perhaps this is one of the instances where the substantial difference between the Demo Site (8BOdR-p2) and annotation is so great that it has the *experience* of feeling broken.

When the user is *expecting* something like the demo - the headstarted version looks like it didn't work. I feel like this is a case where we can work on setting a better expectatio

[2021-05-23 05:20] hacchism commented on #53100
Another case: 4011963-zd-woothemes
Simple or Atomic: Simple site

For now, I asked the user to try clearing cache also asked for more info such as device, browser, OS they are using.

[2021-05-23 05:28] hacchism commented on #53100
Another case: 4012098-zd-woothemes
Simple or Atomic: Simple site

For now, I asked the user to try clearing cache also asked for more info such as device, browser, OS they are using.

[2021-05-23 06:15] donalirl commented on #52757
I think it's fine as long as the overall structure comes through with the headstart. For example with Olsen, as long as the Featured Content Slider, sidebar widgets, and some demo posts come through, that's a great result because the user can get started with that. It doesn't necessarily need to look just like the demo, as long as the overall structure is in place.

The tricky thing for many users

[2021-05-23 09:14] pauljacobson commented on #53084
I received a report about this in 28766815-hc too, for https://webstripe.net/2021/05/19/android-12/

<img width="739" alt="Screen Shot 2021-05-23 at 12 05 53" src="https://user-images.githubusercontent.com/2912202/119254500-4a063300-bbbf-11eb-9c8c-cf7ef07b91f4.png">

The site was set to Coming Soon at the time.

The post does not appear to be listed in Google Search results, or in Reader.

Follow-

[2021-05-23 10:28] MaxPhilip commented on #53100
Another case: 4011543-zd (Simple site)
System: Mac, Safari, OS Big Sur 11.3.1

For now, asked user to clear cache.

Edit: Clearing cache fixed it

[2021-05-23 10:40] MaxPhilip commented on #53100
Another case: 4011643-zd (Simple site)

For now, asked user to clear cache and get back to us with more information if that doesn't help.

[2021-05-23 13:01] Nic-Sevic opened #53102 "Images do not display when site is private and has a custom domain when cross site cookies are blocked"
### Steps to reproduce the behavior

1. Set site as private
2. Open Safari
3. block cross site cookies in preferences > privacy
4. See error

#### What I expected to happen
since rest of site loads, images should load as well

#### What actually happened
no images load for some reason
works fine in Chrome and Firefox

### Context

4012360-zen

#### Browser / OS version
safari

#### Is this specifi

[2021-05-23 13:49] michaeldcain commented on #52799
@mreishus from what I can tell, this was an intentional decision in the original feature. If a `page_for_posts` option doesn't exist, they didn't want the user to "lose" their blog feed, so the code creates the new theme's homepage, but never sets it as the homepage. In D61673-code, ~L143 I've changed that to create a new page titled "Blog", set it as the `page_for_posts`, and then set the new TFT

[2021-05-23 13:53] michaeldcain commented on #52611
@simison: we can talk about it in our next call. I haven't looked into it, but it's similar to the bug in #50432 that was fixed in #50540.

[2021-05-24 00:57] richardkang112 commented on #14694
Hello everyone. May I work on this issue? My Wordpress username is richardkang112.

[2021-05-24 02:56] bluefuton opened #53104 "Jetpack Search: prompted to upgrade when plan already includes (non-instant) Jetpack Search"
### Steps to reproduce the behavior

1. Go to `/jetpack-search` on a site with a Business plan but no additional Jetpack Search plan

#### What I expected to happen
The Business plan already includes basic Jetpack Search, so I would expect to be told that I have this available but can additionally upgrade to Instant Search if I like.

#### What actually happened
The page tells me I need to upgrade

[2021-05-24 03:36] kosiew opened #53106 "Content in new post notification emails does not follow content post formatting"
### Steps to reproduce the behavior

1. Sign up to receive new post notification by email
2. Create a new post, use Verse block for example
3. Publish the post
4. Check the new post notification email
5. See error

#### What I expected to happen
Email content will follow the post formatting as published on website

#### What actually happened
The content is jumbled up

#### Screenshot / Video: If

[2021-05-24 03:39] kosiew commented on #53106
User report: #4011208-zen

[2021-05-24 05:22] kosiew commented on #53089
Not reproduceable.

![Screenshot](https://d.pr/i/jPey2E+)
*if image does not load, please click on this link  : https://d.pr/i/jPey2E*

Closing

[2021-05-24 05:23] KokkieH commented on #45480
We've had another report of this in https://wordpress.com/forums/topic/classic-block-adding-media-inconsistencies-part-2/, and I'm able to reproduce on a test site, exactly as described above and as pictured on the P2 post, so reopening this.

[2021-05-24 05:34] KokkieH commented on #45480
Expected behaviour (classic block in the Core block editor):

![Screen Capture on 2021-05-24 at 07-25-26](https://user-images.githubusercontent.com/11873759/119300633-665aac00-bc61-11eb-9f21-6af41a7506c8.gif)

Expected behaviour (classic block in WP-Admin editor on WordPress.com simple site):

![Screen Capture on 2021-05-24 at 07-28-44](https://user-images.githubusercontent.com/11873759/119300887-

[2021-05-24 07:26] StefanNieuwenhuis commented on #44151
[nitpick/], while testing D61607-code, the background color of the email address subscribe field is dark-gray instead of white.

<img width="841" alt="Screenshot 2021-05-24 at 09 21 48" src="https://user-images.githubusercontent.com/12104589/119311936-ff91be80-bc71-11eb-8c88-c7c57d961c30.png">

Site: Pd5Jgv-5-p2

[2021-05-24 07:34] fresatomica commented on #53100
More cases in the forums:

https://wordpress.com/forums/topic/writing-a-blog-2/
https://wordpress.com/forums/topic/posting-a-new-post-7/

Probably related:
https://wordpress.com/forums/topic/why-cant-i-edit-my-drafts-or-published-posts
https://wordpress.com/forums/topic/cant-post-to-page-cant-pull-up-old-posts/
https://wordpress.com/forums/topic/unable-to-edit-anything-for-several-days/

[2021-05-24 07:57] simison opened #53109 "Remove launch button in the page editor"
Let's remove the launch button in the editor for now and have another round of design work to find a better placement for it.

<img width="582" alt="Screenshot 2021-05-24 at 10 29 18" src="https://user-images.githubusercontent.com/87168/119312333-e93c3080-bc7a-11eb-806d-58cd8e568882.png">

We have enough subjective evidence that the "launch" button in the editor header is confusing customers:

- I

[2021-05-24 08:13] razvanpapadopol commented on #50758
Once the [Launch button is removed from the editor header](https://github.com/Automattic/wp-calypso/issues/53109), can we retest this issue in all the cases (page, post, draft, etc)?

Check out a couple examples of a published page:

* **Mobile landscape (640px)**
<img width="645" alt="Screenshot 2021-05-24 at 17 39 13" src="https://user-images.githubusercontent.com/14192054/119364136-4524aa80-bcb

[2021-05-24 08:23] MaksimUrasov opened #53110 "Theme Showcase: Errors occur when activating a theme from directly accessing the showcase URL."
Hi there,

(Amended the issue body for clarity)

Recently the behavior of "All my sites" menu in Calypso multisite ( example here https://snipboard.io/whcAf7.jpg ) has changed-  Pressing Themes requires to choose a site first.
To check that: in My Sites press Statistics > Swith Site >  All My Sites. That "All My Sites" menu can be entered not only from Statistics, but also from Domains, Posts, Pag

[2021-05-24 08:26] kosiew commented on #51287
Closed.

Similar to https://github.com/Automattic/wp-calypso/issues/40493

[2021-05-24 08:26] #51287 closed, assigned to nobody

[2021-05-24 08:42] razvanpapadopol commented on #44151
@StefanNieuwenhuis, can you check also the frontend of the site? Since the site isn't launched yet, we just see the "Coming soon" page? I'm asking because this is how what is in production looks:

- in Editor
<img width="1088" alt="Screenshot 2021-05-24 at 11 40 01" src="https://user-images.githubusercontent.com/14192054/119321145-feb65800-bc84-11eb-8be2-804742f4b75f.png">

- on the Frontend
<img

[2021-05-24 08:45] StefanNieuwenhuis commented on #44151
The frontend looks as intended 👍

### Body content

<img width="1070" alt="Screenshot 2021-05-24 at 10 44 42" src="https://user-images.githubusercontent.com/12104589/119321556-0e31a300-bc7d-11eb-81c9-e68241656c6f.png">

### Email subscription

<img width="822" alt="Screenshot 2021-05-24 at 10 42 55" src="https://user-images.githubusercontent.com/12104589/119321320-cf9be880-bc7c-11eb-96f0-768207c0e

[2021-05-24 08:58] StefanNieuwenhuis opened #53113 "Subscription Form block: Email address input field background is dark gray instead of white"
### What
After creating a free site with the default starter design(Pcc82s-5-p2), the email address input field in the editor is disabled but enabled in the frontend.

### Editor
<img width="841" alt="Screenshot 2021-05-24 at 09 21 48" src="https://user-images.githubusercontent.com/12104589/119311936-ff91be80-bc71-11eb-8c88-c7c57d961c30.png">

### Frontend
<img width="822" alt="Screenshot 2021-05-

[2021-05-24 09:59] WunderBart commented on #52595
Dropping this one here for awareness: https://github.com/Automattic/wp-calypso/issues/53008

[2021-05-24 12:29] ivan-ottinger commented on #51248
Another one in #4012492-zen - Morden theme.

[2021-05-24 12:53] sophiegyo opened #53116 "Classic block shows block error in Safari - Simple sites only"
This was a user report today on Friday, so I've done a little testing to round it out.

### Steps to reproduce the behavior

1. Open Safari and log in on [WordPress.com](<http://WordPress.com>)
2. Go to any Simple site, open a new page or post
3. Try to add a classic block
4. See error

#### What I expected to happen

The classic block should load as normal

#### What actually happened

Block imme

[2021-05-24 14:01] mmtr commented on #51444
This was fixed in https://github.com/Automattic/wp-calypso/pull/51750.

[2021-05-24 14:01] #51444 closed, assigned to nobody

[2021-05-24 14:06] tjcafferkey commented on #51589
Patch WIP: D61776-code

[2021-05-24 14:16] mmtr commented on #51342
I wonder if this could be solved by hiding the Jetpack > Settings submenu. That way we'd keep the menu consistent with Simple sites.

[2021-05-24 14:27] KirkwallDay commented on #53089
Okay, that narrows it down, it's the inline embed that is breaking.

Without it, the block seems to be fine as in your gif. With it turned, the block breaks, see below:
https://d.pr/i/u1VFxQ

[2021-05-24 15:02] razvanpapadopol opened #53118 "Cleanup editor-site-launch"
**Task Details**

Latest mention in p58i-dox-p2#comment-56299

Cleanup editor Launch related code:
- [ ] ETK [editor-site-launch folder](https://github.com/Automattic/wp-calypso/tree/trunk/apps/editing-toolkit/editing-toolkit-plugin/editor-site-launch) (#75037)
- [ ] ETK [typings](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/typings/index.d.ts) (#75037)
- [ ] ETK [commo

[2021-05-24 15:11] Copons commented on #50659
@jeyip can we close this issue?

[2021-05-24 15:17] tjcafferkey commented on #51589
In Simple sites the Additional CSS feature checks that the users site has the `custom-design-upgrade` option enabled. Our thinking was that we just need to sync this option with the users Atomic site whenever it changes but unfortunately when the Atomic transfer happens this option does not transferred. Meaning if we took this approach it would only work for sites transferred **after** this fix.

[2021-05-24 15:58] msilbers commented on #52992
I had this same issue. Test post: https://melissasgutenbergteststuff.blog/about/

The File Block is not embedding the PDF and instead shows just a link and download button.
The embed works with any other embed steps, including a direct link, and with Google Drive, but does not display from the File Block

[2021-05-24 15:59] KirkwallDay opened #53121 "Buttons and Combo Boxes do not Render Properly in Forms Block on Olsen Theme"
Combo boxes and buttons are not rendering properly when using the Contact Form block with Olsen Theme on simple sites

### Steps to reproduce the behavior

1. Have a site with the Olsen theme on a simple site.
2. Add the contact form block to any page, choose "Registration" as that one contains both elements that are affected.
3. The block will look OK in the editor. Preview or publish the page.
4

[2021-05-24 16:14] yansern commented on #45208
**Here a quick rundown of how the content of a notification is prepared:**

1. **It first renders the post/comment in html.**   
At this stage, shortcodes are converted into embed html.
2. **It strips the html down using `wp_kses()`.**
At this stage, embed html are converted back into shortcodes. All other tags not part of allowed tags are also stripped off.
3. **It parses this stripped-html node-

[2021-05-24 16:25] jeffgolenski commented on #43540
@jordesign I'll be using the existing card illustrations in the redesign—most likely. Sizing and location may change though. TBD!

[2021-05-24 16:40] sirbrillig commented on #52611
I haven't looked into this yet but just from looking at the video my guess would be that the first notice is from the upsell nudge:

https://github.com/Automattic/wp-calypso/blob/f9def4bfd3958309062af5d9aa136242205a8616/client/my-sites/checkout/upsell-nudge/purchase-modal/index.tsx#L59

and the second notice is from customer home:

https://github.com/Automattic/wp-calypso/blob/f9def4bfd3958309062a

[2021-05-24 17:05] metabreakr commented on #50126
29738850-hc

Screen Resolution:1366 x 768
Browser Size:1366 x 657
User Agent:Chrome 90.0 on Windows 10.0.0

[2021-05-24 18:50] bobmatyas commented on #45317
3983254-zen is another more recent example of this happening.

[2021-05-24 18:55] aamills commented on #44795
I had a confused user in 29769074-hc, regarding the trailing period on a CNAME verification record from Hubspot.

[2021-05-24 19:24] JessBoctor commented on #47992
I had a report of none of the buttons working in 29769045-hc

[2021-05-24 19:24] blackjackkent commented on #52012
@andres-blanco and I did some exploring today to look into this; it seems like, while the themes showcase modal popup is managed by React, the Customize screen "Activate & Save" button is managed entirely by WP Core PHP code. We had a look at the `customizer-fixes.php` and `customizer-fixes.js` files in `mu-plugins` and it seems like we might be able to mimic the functionality there easily enough.