[2021-06-19 11:51] Christopher-Stevers commented on #44742
@sixhours  looks like there hasn't been any work on this issue for awhile, can I pick it up?

[2021-06-19 12:27] davemart-in opened #53844 "Embed icon should be vertically aligned with comments icon"
### Steps to reproduce the behavior

1. Copy the URL of a published WP.com post
2. Create a new post
3. Paste the URL of the other post
4. Link will transform into an oEmbed card

#### What I expected to happen

I expected the embed icon to be vertically aligned with the comments icon next to it:

<img width="629" alt="CleanShot 2021-06-19 at 08 24 16@2x" src="https://user-images.githubusercontent

[2021-06-19 12:41] davemart-in opened #53845 "Social Previews should show WP oEmbed design as a 5th preview option"
### Expected

We currently show previews for WP.com Reader, Google Search, Facebook, and Twitter. We should **add a preview for the WordPress.com oEmbed card** that is inserted whenever you paste a link to a published WP.com page or post.

### Actual

We don't show the WP oEmbed card design within social previews yet.

### How to preview a WP.com oEmbed?

1. Copy the URL of a published WP.com post

[2021-06-19 13:18] xpurichan opened #53846 "Post by Email: Images not uploaded to Atomic"
### Summary

When using [post by email](https://wordpress.com/support/post-by-email/) we can publish a blog post with text and images. This feature appears to be working fine on simple sites currently, but on Atomic sites only the text is published - no images are uploaded and there is no evidence (such as code) where the missing images should have been added.

I also tested using the special `med

[2021-06-19 13:30] zdenys commented on #53846
I thought it was some AT issue first, but now I think it's the case here too: 4078331-zd-woothemes

[2021-06-19 13:32] xpurichan commented on #53846
I received an automatic email reply from my site about the media attachment failure from the test on my AT site. It reads:

[code]

[2021-06-19 13:47] JoshuaGoode commented on #53846
This appears to be impacting self-hosted Jetpack sites as well.   We should probably move this to Jetpack's repo or create an associated issue there.

Overall, this is a Jetpack feature that isn't being worked on right now: p9F6qB-6e2-p2#comment-35482

The `Unknown token` issue seems newer.  Here are some previous internal reports.

- p9F6qB-6e2-p2
- p9F6qB-6Gj-p2

[2021-06-19 14:36] Cottrell217 commented on #53844
I would like to potentially assist you if you are willing!

[2021-06-19 16:04] Gustavo-Hilario commented on #53159
This same user on #4063760-zen is now pointing that this issue is also happening on their other website(www.azesjmj.com). Can you please check that too?

Thank you :)

[2021-06-19 17:06] nickpagz commented on #53401
30225268-hc Safari

[2021-06-20 01:41] inaikem opened #53847 "Link popover appears above Block Editor preferences modal"
_**This is a WordPress.com / Automattic duplicate issue for internal tracking and triaging. There's an existing issue opened with Gutenberg: WordPress/gutenberg#29158**_

### Steps to reproduce the behavior

1. Go to any post or page.
2. Add a link to any text. Keep the link setting popover open.
3. Click the top right vertical ellipsis icon to access the editor settings panel.
4. Scroll to the bo

[2021-06-20 05:17] ghost commented on #50917
Another report for a Chinese language site: hc-28871478

[2021-06-20 13:43] kriskarkoski commented on #51787
#4080362-zen

today while I was away on a walk. I did not accidently click anything to
unfollow myself. I simply spontaneously unfollowed myself. I'd really appreciate
if this could get sorted out as it has been going on for some time now with no
resolution.

back from a walk around 11am and when I clicked on the stats tag it showed I had
386 followers and when I drilled down on that, I was missin

[2021-06-20 13:44] kriskarkoski commented on #53401
4080518-zen

[2021-06-20 15:09] ccwalburn commented on #44781
Another report here: 28669812-hc

[2021-06-20 16:30] TeniCola commented on #53401
Another case, 30237313-hc on Safari 12.1

[2021-06-20 19:41] metabreakr commented on #28322
4080334-zen

Suggested that the user disable cross-site tracking.

[2021-06-20 20:40] supernovia commented on #53401
Another case here: https://wordpress.com/forums/topic/black-box-on-my-edit-screen/

[2021-06-20 23:25] wpshellbelle opened #53848 "Likes not displaying on WooCommerce Products"
### Steps to reproduce the behavior

1. Create a WooCommerce product
2. Enable likes on the product (Jetpack feature)
3. Publish product
4. Find that likes do not display on product on live site

#### What I expected to happen

I expected to see likes on products when likes are enabled

#### What actually happened

Likes do not display -  actual HTML for the like button is not added to the product

[2021-06-21 00:32] roo2 commented on #53364
Trying to reproduce this I found some very interesting caching behaviour:

When changing languages, the new language will not be translated (english will be shown) unless it has already been used.
If a new version of the ETK is uploaded, (add a whitespace character and rebuild), then the new language will be translated.
If you change back to a language that you have previously had working, the lan

[2021-06-21 01:02] donalirl commented on #53401
#30242318-hc

Safari 14.0 on Mac OS X 10.15.6. Theme is Illustratr.

[2021-06-21 03:06] deBhal commented on #52706
D62739-code is merged now, so I'm marking this compete.

[2021-06-21 03:06] #52706 closed, assigned to deBhal

[2021-06-21 04:30] roo2 opened #53853 "Untranslated ETK content is cached on atomic sites"
Something quite strange, but consistently reproducable is happening with translations in the ETK on Atomic sites

In summary, If a site is created when the user has a certain profile language created, the ETK translations for that language will work correctly. But if the user later changes their language, the ETK content will default back to English!

Installing any _different_ build of the ETK wi

[2021-06-21 05:16] as-esu commented on #53100
One more report 4063919-zen
Mac OS Safari 14

[2021-06-21 05:27] sophiegyo commented on #53401
Report: 4027583-zen

Chrome 67.0.3396.87, OS X 10.9.5 .
Theme is Twenty Twelve.

[2021-06-21 05:58] autumnfjeld commented on #47013
@lauac I'm going to close this issue, since we are in active rework of my home and the idea has been flagged with The My Home Pod.  I think this is also a bit bigger issue than a github task, for instance we might need education and process set up to let teams know they can publicize a new feature in a dedicated area of My Home.  I'd suggest starting a conversation in a P2 to get a feel for how a

[2021-06-21 06:00] #47013 closed

[2021-06-21 06:05] autumnfjeld commented on #53295
Root issue addressed via https://href.li/?D62243-code .  Closing this.

[2021-06-21 06:05] #53295 closed, assigned to p-jackson

[2021-06-21 06:24] autumnfjeld commented on #41898
@gwwar  It sounds to me like these are great questions for a P2 discussion:

Given the age of the original issue post, maybe a refresh of the idea in a P2 post is a good place to restart  discussion ands and debate whether such dynamic content is suitable for My Home. You could tag the people that this effort would  affect (webinar creators, and design).

![bitmoji](https://sdk.bitmoji.com/render/

[2021-06-21 06:31] autumnfjeld commented on #41702
I think this will be part of the My Home Status area, is that correct @jordesign @jeffgolenski ?

[2021-06-21 06:34] autumnfjeld commented on #41896
Closing this in favor of https://github.com/Automattic/wp-calypso/issues/42016 as it makes good sense to help the user in the most relevant place: setting their page as static from My Site > Pages.

[2021-06-21 06:34] #41896 closed

[2021-06-21 06:42] autumnfjeld commented on #51119
Sorry about the delay in answering @jordesign .  I will see if the recent atomic on the site checklist will impact this.

[2021-06-21 06:45] autumnfjeld commented on #41895
Closing this as we currently are iterating on how the Site Checklist looks and how items are displayed.
https://github.com/Automattic/wp-calypso/issues/53141
https://github.com/Automattic/wp-calypso/issues/53212
https://github.com/Automattic/wp-calypso/pull/53565

[2021-06-21 06:45] #41895 closed

[2021-06-21 07:32] simison commented on #50523
@autumnfjeld is this issue good to close?

[2021-06-21 07:50] autumnfjeld commented on #50523
@simison I believe it is! 🥳   I think  @deBhal  shipped the last bits related to the "Edit menu" check list item on Friday. I'll let he and @roo2 do the honors of closing this ticket (we have Ganon session tomorrow where we review/tidy our [git board](https://github.com/orgs/Automattic/projects/252)). :) And then we'll send out the 🚢  SHIPPED IT 🚢  post.

[2021-06-21 07:50] stefancln commented on #53401
Another report here 4081577-zen

[2021-06-21 08:19] #51342 closed, assigned to mmtr

[2021-06-21 08:28] #53706 closed, assigned to tjcafferkey

[2021-06-21 09:02] Aurorum commented on #53653
PR for this issue in #53858. :)

[2021-06-21 09:21] WunderBart commented on #53762
Addressed in D63064-code

[2021-06-21 10:47] Copons commented on #53365
Hi @mrfoxtalbot thanks for reporting this issue!
This happens in Core as well, so I've opened an [issue](https://github.com/WordPress/gutenberg/issues/32843) there, and I'm going to close this. 🙂

[2021-06-21 10:47] #53365 closed, assigned to nobody

[2021-06-21 10:54] Nic-Sevic commented on #53401
another here: 4082728-zen
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1.2 Safari/605.1.15
pub/boardwalk

[2021-06-21 11:08] aisajib commented on #53401
This was reported on 4080650-zen as well.

[2021-06-21 12:06] taggon commented on #46013
The diff for rendering page breaks is ready for review: D63065-code

[2021-06-21 12:07] marutim commented on #53401
Another report here: 27843115-hc

[2021-06-21 12:10] Marcia-HC commented on #53401
Another report here 4077782-zen

This one is with Safari 13 on OS X 10.13.6

[2021-06-21 12:19] taggon commented on #53444
Closed as this issue is fixed. Please reopen when it happens again.

[2021-06-21 12:19] #53444 closed, assigned to nobody

[2021-06-21 13:05] shamserSuzon commented on #50765
Hi @obenland, I have found a UI glitch in the Store Admin.

**Summary of Bug:** There is a visibility/CSS issue in the Store Admin's "My Domains" section.

**Steps to Reproduce:** Go to Store Admin >> Search a user by Username/Email >> [Click the "My Domains" button beside the domain name](https://mc.a8c.com/includes/img-uploader/files/1624273314-Screenshot_6.png) >> [My Domains page will appear a

[2021-06-21 13:07] jartes commented on #53401
Another one on 12654019-hc
Safari Version 12.1.2 (12607.3.10)

[2021-06-21 13:12] richardkang112 commented on #48227
@jsnajdr Thank you for the PR review! I'll work on the suggested changes.

[2021-06-21 13:51] hichamboushaba opened #53869 "Hide app banner and masterbar when viewing the content using woo mobile apps"
**What**
Hide the app banners and masterbar when the content is loaded by the woo mobile apps, similar to what's done when using the WordPress mobile apps (https://github.com/Automattic/wp-calypso/issues/31160)

**Why**
For some scenarios, we redirect users to a specific page on their WordPress.com account, and displaying the app banner is confusing to them.
The immediate need is for allowing addi

[2021-06-21 14:08] Nic-Sevic commented on #53846
I went to open an issue in Jetpack but found a comparable one already open here: https://github.com/Automattic/jetpack/issues/20132#issue-925933569

Added a comment there to tie the two together

[2021-06-21 14:17] khristiansnyder commented on #53401
Another one: 4080018-zen

[2021-06-21 14:45] jeherve commented on #53846
cc @miguelxpn; I believe this may have been caused by your changes in D63003-code, maybe what you pass to `Jetpack_Data::get_access_token` compared to what was passed before.

Do you think you could take a look at this?

Thank you!

[2021-06-21 14:48] miguelxpn commented on #53846
I'll take a look!

[2021-06-21 14:54] gwwar commented on #41898
@autumnfjeld feel free to take over or close out the issue as needed 👍

[2021-06-21 15:35] simison commented on #53401
@fullofcaffeine @WunderBart FYI, another fix in https://github.com/WordPress/gutenberg/pull/32767 is now merged, in case you'd like to pull that in as a hotpatch. It's a CSS-only fix.

[2021-06-21 16:07] kriskarkoski commented on #53401
28098597-hc
Safari 13.1 on Mac OS X 10.13.6

[2021-06-21 16:10] abcrsol commented on #53401
4075517-zd
Safari 11.1.2 | Firefox V89 for mac | MacOS High Sierra 10.13.6

[2021-06-21 16:31] emilyaudela commented on #50917
This should be resolved here: https://meta.trac.wordpress.org/ticket/5737. Translations for block names and descriptions are still trickling back in.

Please note that translation percentage varies by language: https://translate.wordpress.org/projects/wp-plugins/gutenberg/

[2021-06-21 16:36] wprhunt commented on #53401
4084419-zd
Safari 13.1 on Mac OS X 10.13.6

I had found that they had pasted content from Word at one stage and also that the cookie agreement was showing at the bottom of the screen. The behaviour seems to make it seem like a popup window has come up.

They were using the Twenty Eleven theme.

[2021-06-21 17:04] WunderBart commented on #53557
Thank you for the thorough explanation, I appreciate it! 🙇

The issue with elements being "dead" when clicked by the driver has been occurring with Selenium as well. It's a tricky one, as it can be caused by a variety of reasons, but I don't think it's ever TC agents not keeping up. The click can sometimes occur too soon (i.e. when the JS has not kicked fully in yet or the element is still moving)

[2021-06-21 17:18] miguelxpn commented on #53846
I just deployed a fix and from what I could tell on my test site it's working now! If there's still some issue please let me know!

[2021-06-21 17:23] jeherve commented on #53846
Thank you!

Closing this issue now, but this can be reopened later if the problem remains on some sites.

---------

Internal reference: D63104-code

[2021-06-21 17:23] #53846 closed, assigned to nobody

[2021-06-21 17:26] TeniCola commented on #53401
Another in 20383284-hc
Safari 13.1 on Mac OS X 10.13.6

[2021-06-21 17:50] ahmadbaig1 commented on #53401
4075517-zd

Issue faced on both Firefox and Safari!

Version macOS > High Sierra, version 10.13.6
Version Safari > 11.1.2
Version Firefox > la dernière : 89

[2021-06-21 18:00] guarani commented on #49562
Just noting that I ran into this issue (or a very similar issue) last week. I see from the above comment that this will be fixed pending a PR being merged, but just want to echo how the "Add a plan" button seemed unnecessary in the context I was in, where I was already on the Upgrades > Plans (Plans tab).

Also, in the scenario I was in, there were no "Blogs and personal sites" and "Business sites

[2021-06-21 18:30] kriskarkoski commented on #52728
21646911-hc

Pasting on its own line allowed it to embed

[2021-06-21 18:32] kriskarkoski commented on #52992
Looks like this might be a duplicate of https://github.com/Automattic/wp-calypso/issues/52728?

[2021-06-21 18:56] kriskarkoski opened #53874 "My Plan: Priority Support card allows chat for ineligible monthly plans"
Monthly Business and eCommerce users should not have access to live chat support. This is correctly handled on https://wordpress.com/help/contact, but the Priority Support card at https://wordpress.com/plans/my-plan/ opens Happychat directly and does not respect the plan support access. This only seems to occur on Business and eCommerce, with Premium opening https://wordpress.com/help/contact dire

[2021-06-21 20:05] dcoleonline commented on #53401
28457932-hc

Safari 12.1 Mac OS X 10.12.6

[2021-06-21 20:27] ianstewart commented on #51388
I tested the above Jetpack column additions on a dotorg site and it responded, not perfectly, but better.

![image](https://user-images.githubusercontent.com/545779/122823357-e007a900-d2a4-11eb-8571-3340bc7944fa.png)

Is it possible to programatically adjust core's breakpoints on Dotcom to make up for the difference in size between our nav sidebar and the somewhat smaller one in core?

Is it possi

[2021-06-21 20:38] ianstewart commented on #51096
Is there a core issue for this? Here's what I see with Yoast and Jetpack both activated on my dotorg test site:

![image](https://user-images.githubusercontent.com/545779/122824757-ae8fdd00-d2a6-11eb-9c7f-785d6538a12e.png)

[2021-06-21 20:42] roo2 commented on #53364
closing in favor of https://github.com/Automattic/wp-calypso/issues/53853

[2021-06-21 20:42] #53364 closed, assigned to roo2

[2021-06-22 00:29] alaczek opened #53876 "Custom fonts: Wrong font name"
We added a few new custom fonts to our selection in #53287, but there's a typo in the name of one of them - Bodoni **Moda** is displayed as Bodoni **Mona**. That same name is used in the code as well, so effectively this font does not work.

### Steps to reproduce the behavior

1. In the editor open the Global Styles panel.
2. Open the headings fonts list. Note the name on the list is "Bodoni Mona

[2021-06-22 01:12] deBhal commented on #50523
D63125-code will fix this issue when it's deployed.

[2021-06-22 01:56] deBhal commented on #51119
The Checklist disappearing is expected until https://github.com/Automattic/wp-calypso/issues/50523 / D63125-code is deployed.

[2021-06-22 01:58] autumnfjeld commented on #51119
This is likely not easy to fix, and probably low priority because it impacts users who have many sites (10s of sites).

[2021-06-22 02:19] roo2 commented on #51119
I believe that the coming soon disappearing and reappearing is due to the value of it being updated by a call to `/sites` that takes quite some time to complete, because it gets data for ALL sites of that user. This is especially a problem for a12s who tend to have lots of sites.

There is a capability to set a default to use before the call to `/sites` completes, so we could look into that for ne

[2021-06-22 02:55] jordesign opened #53877 "Quadrat: Social Menu not appearing when assigned"
### Steps to reproduce the behavior

1. go to the Customizer
2. assign a menu with items to the 'Social' location

#### What I expected to happen

Social menu to appear in some location

#### What actually happened

No menu appearaed

#### Does this happen on simple or atomic sites or both?

Simple

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

<img width="

[2021-06-22 03:02] jordesign opened #53878 "Quadrat: No Logo or menu shown on single post pages or 404"
### Steps to reproduce the behavior

1. Add a post
2. View the post URL
2b. View a URL that doesn't exist

#### What I expected to happen

Logo and site menu to appear consistently throughout the site

#### What actually happened

No menu or logo appear ons single post pages or 404s

#### Does this happen on simple or atomic sites or both?

Simple

#### Screenshot / Video: If applicable, add scree

[2021-06-22 03:10] donalirl commented on #51899
Follow-up with any updates #4084045-zen

[2021-06-22 03:45] kaitohm opened #53879 "Can't preview site while domain is getting set up"
### Steps to reproduce the behavior

1. Create a new site, choosing a custom domain
2. Complete onboarding flow, and start editing a page
3. Click "Preview in new tab"
4. End up on a "page not found" browser error page

#### What I expected to happen

Be able to preview my page in a new tab

#### What actually happened

* Domain hasn't set up yet, so the Preview URL doesn't work.
* A new user woul

[2021-06-22 03:51] kaitohm opened #53880 "Social Icons Block: Automatically create link from SNS handle"
It would be great if entering my SNS handle alone would be adequate to link the icons in the Social Icons Block to my SNS page.

Example: I would just need to type `photomatt` in the Twitter link and that would link to https://twitter.com/photomatt

[2021-06-22 05:18] taggon commented on #45110
Hello @belcherj ! 👋  Could you give us the steps how to use Facebook embeds block in the comment? I was not able to use the block editor in comments so I manually put code like the following.

[code]

Did I do it correctly? :)

[2021-06-22 06:49] poojashetty18 commented on #53401
4082561-zen

Safari 12

However, upgrading to Safari 14.1.1 fixed it

[2021-06-22 07:00] #53827 closed, assigned to razvanpapadopol

[2021-06-22 07:06] kosiew commented on #53401
#28298219-hc

Safari 11

[2021-06-22 07:40] pauljacobson opened #53882 "Gallery Block: Images not being displayed in lightbox"
One of our customers reported that images don't display in a lightbox when clicking on them while in a Gallery Block. By contrast, the images do appear to load when the gallery is a Tiled Gallery Block instead.

### Steps to reproduce the behavior

1. Go to the Gallery Block;
2. Click on either of the two images in the Gallery Block;
3. See that while the lightbox loads, and the page code indicate

[2021-06-22 07:43] Nic-Sevic commented on #53401
30264914-hc
30283077-hc
safari 11

[2021-06-22 08:58] sophiegyo commented on #52728
I encountered this in 30237796-hc -  pasting the PDF URL directly into the editor was a suitable workaround.

[2021-06-22 09:37] ivan-ottinger commented on #53401
30266650-hc
Safari 11 / OS X 10.11.6

[2021-06-22 10:45] #53708 closed, assigned to mmtr

[2021-06-22 10:52] retnonindya commented on #50393
This GH issue popped up during my team's Atomic learnup, and I wonder if we can check this further. Since this is related to Jetpack Backup, should we move this to jpop-issues? 🤔  I also adding Jetpack Backup label, hopefully it helps on adding more details.

[2021-06-22 10:57] ahmadbaig1 commented on #51787
#4083667-zen
Another user report.

[2021-06-22 11:11] kosiew commented on #51899
Thanks @silvio-meter , @donalirl for highlighting this issue.

I tested and see the same issue on both AT and simple site.

[2021-06-22 11:14] jordesign commented on #51119
If this is something mostly effecting A12s this may be a non-issue. I can't imagine we have too many end users with 10s of sites.

[2021-06-22 11:40] jordesign commented on #52883
Just to clarify - is the issue here that the screenshots/thumbnail don't actually show a part of the theme that *has* a sidebar?

FWIW - it's very common for users to specifically want to look for themes which have a sidebar (particularly for blog-focused sites).

[2021-06-22 11:45] jordesign commented on #52121
Does the plan to retire most of our V1 Premium themes impact this? We'll still definitely need to search but it may change the distinction between our 'Recommended' themes and the rest?

Would it be possible for some kind of solution whereby the search field appears above the Recommended Themes and essentially replaces the 'View All Themes' button? If you focus the search field it could reveal the

[2021-06-22 11:48] jordesign commented on #52121
Or another thought... What if the filters became something like:

Recommended | Premium | Free | All

If you had a search form with those filters at the top - and 'Recommended' selected by default it might unify the overall section?

[2021-06-22 11:52] jordesign commented on #53825
I'm interested in what terminology we're going to use to label the FSE theme(s). "beta' i good - but it doesn't fully communicate the power/benefit of trying it out.

[2021-06-22 11:59] mrfoxtalbot opened #53887 "Password Protected posts: The password is truncated at 20 characters without any notice or warning"
### Steps to reproduce the behavior

1. Create a new posts
2. Set its visibility as "Password Protected" and enter a password that is longer than 20 characters.
3. Reload the editor.
4. Te password is truncated to be only 20 characters long, no notice is given.

#### What I expected to happen

The original password should be kept. If the password exceeds the limit, a clear warning should be displa

[2021-06-22 12:03] #53887 closed, assigned to nobody

[2021-06-22 12:21] JuniorTak commented on #53159
Another report 4082276-zen

The user declares to have noticed the warning for the first time on 2021-06-20

**CSS syntax error in "amp-custom style" tag. The media query is incorrect. (2 instances).**

The user was advised to resubmit to the Google Search Console, but the issue persists.

[2021-06-22 14:13] tjcafferkey commented on #50701
We will split this issue into two issues:

* **Hide the FAB icon for Store Admin pages** - This can be picked up immedaitely
* **The FAB icon covering parts of the UI** - @JanaMW27 I think we might need some input from you on this if possible since Ola is no longer available. I think one idea was to only bring this into view when the user is scrolling up, if they're scrolling down this might be hi

[2021-06-22 14:23] tjcafferkey commented on #52862
Going to split this into two separate issues

* Make the settings accessible consistently across Simple / WoA / Jetpack by adding the "Akismet Anti-Spam" menu item to "Jetpack" menu item. Also remove the settings from "Settings > Discussion" so they're not duplicated.
* Align the actual settings so the screens are the same across Simple / WoA / Jetpack

@BogdanUngureanu can you update this issue w

[2021-06-22 14:29] radtechgh commented on #53373
another report in 4086643-zen

[2021-06-22 14:32] Copons commented on #53833
Possible options:
- On editor load, preselect the last root-level block before the Footer.
- Update the welcome guide to suggest dragging the block/pattern into the editor.
- If no blocks selected, select the last root-level block before the Footer, before inserting a new block.

[2021-06-22 14:34] tjcafferkey commented on #50844
Related https://github.com/Automattic/wp-calypso/issues/52862

[2021-06-22 14:35] tjcafferkey commented on #50844
This may also be considered fixed once https://github.com/Automattic/wp-calypso/issues/51441 is completed.

[2021-06-22 14:37] tjcafferkey commented on #50814
The issue here may be slightly alleviated when https://github.com/Automattic/wp-calypso/issues/51441 is completed and the user will be able to switch easily between Calypso & WP Admin.

[2021-06-22 14:42] edwinho89 opened #53891 "Expanded Action Bar Hides Last Menu Item on Mobile"
### Steps to reproduce the behavior

1. Visit any WordPress.com simple site on mobile with at least 10 menu items added on menu.
2. Click on Menu to expand
3. Scroll down to the very bottom of the menu.
4. Confirm the action bar expands (not collapse) in full width.
5. Locate the last menu item from the menu

#### What I expected to happen

All menu, submenu items are visible as you scroll down on

[2021-06-22 14:43] daria2303 commented on #53116
4077196-zd-woothemes
It happens for not only classic block, but most of the times they copy an old post or page to create a new one.

[2021-06-22 14:48] tjcafferkey commented on #50722
Potentially fixed when https://github.com/Automattic/wp-calypso/issues/51441 is completed.

[2021-06-22 14:51] sixhours commented on #44742
@Christopher-Stevers Go for it! :)

[2021-06-22 14:52] simison opened #53892 "Signup: safari shows password manager icon behind eye icon"
Using Safari 14.1, at /start signup step, password field shows password manager icon behind the eye icon:

<img width="389" alt="Screenshot 2021-06-22 at 17 51 13" src="https://user-images.githubusercontent.com/87168/122947025-82498e80-d382-11eb-89ec-7c17bbdc2fe9.png">

If I remove the eye from DOM, it looks like this:

<img width="365" alt="Screenshot 2021-06-22 at 17 44 51" src="https://user-ima

[2021-06-22 15:35] blackjackkent commented on #53797
Implemented as part of https://github.com/Automattic/wp-calypso/pull/53796

[2021-06-22 16:14] kriskarkoski commented on #53431
4044298-zen was asking for an update. I offered them a partial refund for the trouble and to move their plan and content to another site that should not be impacted since we don't know when a fix will be ready.

[2021-06-22 16:31] #53876 closed, assigned to sixhours

[2021-06-22 16:54] #52566 closed, assigned to DanielSmithMichigan

[2021-06-22 17:32] michaeldcain commented on #52174
@DavidRothstein pointed out that `View, manage, or cancel your WordPress.com plan and other purchases.` is technically incorrect for non-WPcom plan management (Jetpack, Recurring Payments). When we add the other sub-titles, let's fix that to read "View, manage, or cancel your plan and other purchases."

[2021-06-22 17:57] worldomonation commented on #53170
@WunderBart I understand what you are saying and I think it's reasonable.

I am not sure how we should codify this however. I suppose I can write this up like the following (paraphrased):

[code]

Or do you think that perhaps it's better off not including guidance on this at all?

[2021-06-22 17:59] worldomonation opened #53899 "Playwright: refactor ElementHandle.click() into a helper function"
**Task Details**
In several places within `@automattic/calypso-e2e` there are code that does, in effect, something like this:

[code]

Playwright performs [auto-wait](https://playwright.dev/docs/actionability) but turns out this is not always suitable for Calypso, as often the code executes too fast and getting dead-ended.

This should be abstracted into a helper function and all instances of the

[2021-06-22 19:01] carinapilar opened #53900 "Toggles are Always Black/White"
### Steps to reproduce the behavior
1. Go to your account's settings here: https://wordpress.com/me/account
2. Select different options on _"Dashboard color scheme"_

#### What I expected to happen
For the toggle color to change, based on the color scheme you select.

#### What actually happened
The toggle color never changes.

### Context

#### Screenshot
![ToggleColors](https://user-images.githu

[2021-06-22 19:38] metabreakr commented on #53431
4086494-zen, also following Kris' lead.

[2021-06-22 20:42] scosgro commented on #47992
Just had a new report of this, where Facebook was going missing, and in testing, everything seemed to be going missing, in 29058786-hc.

Followup in 4087798-zd

Workaround in the meantime was to switch to a different button style (anything but Official Buttons).

[2021-06-22 20:57] ianstewart commented on #52883
Correct.

[2021-06-22 21:03] AMcGrady commented on #53401
28714129-hc

[2021-06-22 21:08] adelineyaw commented on #53401
Another report: 25238699-hc / 4087854-zen

[2021-06-22 21:26] KirkwallDay opened #53902 "Feedback on the navigation has notification issues."
When you get a forum submission on a contact form, it gets put in the "Feedback" section on the wp-admin of the site. When there are unreviewed submissions there is a badge notification that should show. On simple sites, this notification doesn't show at all, on atomic sites, it only shows in the submenu.

### Steps to reproduce the behavior

1. Create a test page with a contact form.
2. Fill out

[2021-06-22 21:30] worldomonation opened #53903 "Playwright: support clearing cookies in mid-test"
**Task Details**
Currently, clearing cookies anywhere within a top-level `describe` would cause subsequent tests to fail.

For example, take this structure:

[code]

Test steps in `test case 2` and the whole of `test case 3` would end up failing because the cookies have been cleared.

I am not fully certain why this is the case, but it might have to do with the reuse of the same `BrowserContext` f

[2021-06-22 21:31] worldomonation commented on #53514
This is partially done for the following combination:

- desktop AND trunk

[2021-06-22 21:46] sethmclellana8c opened #53905 "Ian Atomic Walkthroughs (Video 1) - /new flow flashes random W"
### Video information
Video 1
0:39 to 0:42

#### What I expected to happen

Screen transitions from "Building design" to "Billing details" seamlessly

#### What actually happened

In wordpress.com/new flow, flash of a random screen with (W) on it

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

1 of 5

#### Screenshot / Video: If appl

[2021-06-22 21:50] sethmclellana8c opened #53906 "Ian Atomic Walkthroughs (Video 1) - /new flow styling inconsistent"
### Video information
Video 1
0:42 to 0:54

#### What I expected to happen

Styling is consistent with other "Billing details" pages

#### What actually happened

A note that the styling of the "Billing details" is "off" or "inconsistent"

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

2 of 5

#### Screenshot / Video: If applicable,

[2021-06-22 21:53] sethmclellana8c opened #53907 "Ian Atomic Walkthroughs (Video 1) - /new flow black menu bar with X"
### Video information
Video 1
0:54 to 1:05

#### What I expected to happen

No top Menu

#### What actually happened

Top black bar "Menu" with "X" in top left shouldn't be there

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

3 of 5

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

![image](http

[2021-06-22 21:56] sethmclellana8c opened #53908 "Ian Atomic Walkthroughs (Video 1) - /new flow screen transition flash"
### Video information
Video 1
1:20 to 1:25

#### What I expected to happen

Screen transitions from "Billing details" to "Processing site" seamlessly

#### What actually happened

After "Billing details", flash of a random screen while processing

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

1 of 5

#### Screenshot / Video: If appl

[2021-06-22 21:58] sethmclellana8c opened #53909 "Ian Atomic Walkthroughs (Video 1) - /new flow loading screen uses old styling"
### Video information
Video 1
1:24 to 1:45

#### What I expected to happen

Use standard "Building site" loading screen

#### What actually happened

Loading screen uses an old styling and incorrect color scheme

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

2 of 5

#### Screenshot / Video: If applicable, add screenshots to help exp

[2021-06-22 22:01] sethmclellana8c opened #53910 "Ian Atomic Walkthroughs (Video 1) - /new flow top menu showing"
### Video information
Video 1
1:24 to 1:45 (and 2:23 to 2:35)

#### What I expected to happen

Only loading screen is shown (without the menu)

#### What actually happened

Top menu bar (My Sites, Reader, Write, etc) is present

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

4 of 5

#### Screenshot / Video: If applicable, add screens

[2021-06-22 22:09] roo2 commented on #53212
Changes I can see: (other changes were made already in https://github.com/Automattic/wp-calypso/pull/53619)

#### Checklist:
~~"Update your site"~~ "Launch your site" moved to the last item in the checklist
"Learn how to use the editor" added
"Confirm your email address" removed

#### Style
Make page background white
More border radius on cards
Remove chevrons from quick links
Remove borders from

[2021-06-22 22:11] sethmclellana8c opened #53911 "Ian Atomic Walkthroughs (Video 1) - /new flow has long wait while atomic site created"
### Video information
Video 1
1:24 to 2:00

#### What I expected to happen

User knows this is expected and something is happening in the background. Some indication of progress or expected amount of wait time

See this p2 for more ideas - shortlink code: pd2C1Z-1g

#### What actually happened

When user (unwittingly) upgrades their site to Atomic, user is left for between 1-2 minutes looking at a

[2021-06-22 22:36] DanielSmithMichigan commented on #51335
Themes is divided into sections. The first few themes after the "advanced" section are the "Uploaded themes."

I think varia being uploaded as a theme is due to using a parent theme of another theme and then beginning an automated transfer.

What I'm wondering is: will "retiring" varia prevent it from showing up in the "uploaded-themes" section?

![image](https://user-images.githubusercontent.com/

[2021-06-22 22:47] sethmclellana8c opened #53912 "Ian Atomic Walkthroughs (Video 1) - /new flow no warning for transition to wpstaging site"
### Video information
Video 1
1:55 to 2:10

#### What I expected to happen

User knows the url will go from mysite.wordpress.com to mysite.wpcomstaging.com

#### What actually happened

No warning site going to a staging site

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

5 of 5

#### Screenshot / Video: If applicable, add screensho

[2021-06-22 22:47] DanielSmithMichigan opened #53913 "Themes Page: Sometimes "Uploaded themes" is empty"
### Steps to reproduce the behavior

1. Load /themes/SITE_SLUG page for one of your atomic sites.
2. Scroll down to "Show all themes" and click it.
3. Check if there are any themes under the "Uploaded themes" header. Know that your currently active theme should be an uploaded theme.

In my testing, I had found that "Uploaded Themes" did not populate for 9 out of 34 page refreshes - about 25% of th

[2021-06-22 22:49] nicorr-05 commented on #53845
Hey! I would like to work on this issue

[2021-06-22 22:49] sethmclellana8c opened #53914 "Ian Atomic Walkthroughs (Video 1) - /new flow outdated Thank You page"
### Video information
Video 1
2:06 to 2:35

#### What I expected to happen

(In eCommerce signup flow) Remove screen and begin the Woo signup flow instead?

#### What actually happened

Outdated "Thank you" page

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

2 of 5

#### Screenshot / Video: If applicable, add screenshots to help exp

[2021-06-22 22:52] sethmclellana8c opened #53915 "Ian Atomic Walkthroughs (Video 1) - /new flow Woo signup flow styling"
### Video information
Video 1
2:55 to 3:05

#### What I expected to happen

Design: Fix line height, etc

#### What actually happened

Styling issues with the Woo signup flow

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

1 of 5

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

![image](https://

[2021-06-22 22:54] sethmclellana8c opened #53916 "Ian Atomic Walkthroughs (Video 1) - /new flow finish to Dashboard instead of My Home"
### Video information
Video 1
4:20 to 4:38

#### What I expected to happen

Should we be sending the user to My Home?

#### What actually happened

Once you complete Woo signup flow, you're sent to "Dashboard" instead of "My Home"

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

2 of 5

#### Screenshot / Video: If applicable, add scre

[2021-06-22 22:56] sethmclellana8c opened #53917 "Ian Atomic Walkthroughs (Video 1) - /new flow Dashboard unavailable"
### Video information
Video 1
4:45 to 4:55

#### What I expected to happen

"Dashboard" shows?

#### What actually happened

In left menu, "Dashboard" no longer available as an option under "My Home"

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

2 of 5

#### Screenshot / Video: If applicable, add screenshots to help explain your pr

[2021-06-22 22:59] aisajib commented on #36197
This was requested in 4087566-zen

[2021-06-22 23:00] sethmclellana8c opened #53918 "Ian Atomic Walkthroughs (Video 4) - Upgrade to Business interstitial"
### Video information
Video 4
0:44 to 1:25 (and 3:05 to 3:35)

#### What I expected to happen

Completely redesigned interstitial or remove it

#### What actually happened

Revamp/Remove interstitial message screen: 1) Loads mid-scroll, 2) Unknown graphic 3) wording "most powerful plan" incorrect when we have eCommerce

### Context

Pod work

#### Level of impact (Does it block purchases? Does it

[2021-06-22 23:02] sethmclellana8c opened #53919 "Ian Atomic Walkthroughs (Video 4) - Upgrade to Business call to actions on Congrats screen"
### Video information
Video 4
3:45 to 4:12

#### What I expected to happen

Wording of "Add a plugin" should be change and/or moved to top

#### What actually happened

Call to actions on the "Congrats" screen are odd.

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

2 of 5

#### Screenshot / Video: If applicable, add screenshots to h

[2021-06-22 23:04] sethmclellana8c opened #53920 "Ian Atomic Walkthroughs (Video 4) - Upgrade to Business Browse button disappears"
### Video information
Video 4
4:25 to 5:16

#### What I expected to happen

No browse button present

#### What actually happened

On the "Plugins" screen, "Browse plugins" button disappears if you click it.

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

3 of 5

#### Screenshot / Video: If applicable, add screenshots to help explain

[2021-06-22 23:06] sethmclellana8c opened #53921 "Ian Atomic Walkthroughs (Video 4) - Upgrade to Business plugin browsing experience inconsistent"
### Video information
Video 4
5:16 to 5:57

#### What I expected to happen

Pick which browsing experience we want and stay consistent

#### What actually happened

On "Plugins" page, if you trigger the different top menus of types of plugins (Engagement, Security, Appearance, Writing), you can't get back to the original browsing screen

### Context

Pod work

#### Level of impact (Does it block p

[2021-06-22 23:08] sethmclellana8c opened #53922 "Ian Atomic Walkthroughs (Video 4) - Upgrade to Business hide install button while installing plugin"
### Video information
Video 4
6:00 to 6:57

#### What I expected to happen

Hide button after you click install

#### What actually happened

Can still click on the "Install" button even while the plugin is installing

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

2 of 5

#### Screenshot / Video: If applicable, add screenshots to he

[2021-06-22 23:10] sethmclellana8c opened #53923 "Ian Atomic Walkthroughs (Video 4) - Upgrade to Business immediate wpstaging switch after made atomic"
### Video information
Video 4
7:00 to 7:29

#### What I expected to happen

Domain should switch automatically after site goes atomic

#### What actually happened

Domain doesn't switch to wpcomstaging.com quick enough (maybe a caching issue)

### Context

Pod work

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

3 of 5

#### Screenshot / Video: If applicab

[2021-06-22 23:13] worldomonation commented on #53557
Whew, that's a lot of stuff to unpack!

Thanks for trying to make this flow simpler yet robust in your branch! It's always good to have different pair of eyes on any given codebase since we all have different perspectives and approaches. It really is a difficult task to craft selectors that are accurate, not burdensome to read and yet flexible - more art than anything.

I reviewed the run history

[2021-06-23 00:02] autumnfjeld commented on #51119
Yes, @jordesign , we believe the "Coming soon" pill issue likely impacts a12s, but not so much users--which your comment supports.  Thanks for commenting and providing that insight.

[2021-06-23 00:03] #41898 closed

[2021-06-23 00:22] roo2 commented on #53212
I'll work on doing the style changes
I can also make two _Learn Grow_ content items appear
I think we can take out the "Make updates on the go" after reading pd2qGl-4i-p2#comment-154 even though it wasn't 100% resolved.

I think we should discuss checklist changes more and make another card for them

[2021-06-23 00:33] autumnfjeld commented on #53212
Did you mean "Update your Home page"?  (Or maybe you're testing on a FSE site?).  Why is that last item in the Site checklist list? I don't see that in Jeff's designs...

[2021-06-23 00:38] roo2 commented on #53212
Sorry I meant "Launch your site", it's moved to be the last item in the checklist, after "Get the Wordpress app"

[2021-06-23 00:49] #53141 closed, assigned to nobody

[2021-06-23 01:12] autumnfjeld commented on #53212
OK, that makes a lot more sense: "Launch your site" at the end of the checklist. 👍

[2021-06-23 01:15] autumnfjeld commented on #53178
@p-jackson  When the final PR for this is ready, or perhaps after the last PR is shipped, then let's flag with Jeff so he can have a look over to make sure we didn't miss anything.

[2021-06-23 02:16] isocialtish opened #53924 "Classic Editor: Add Media>Insert Youtube broken"
### Steps to reproduce the behavior

1. Go to Posts
2. Click on Add New > Classic Editor
3. Click "Add Media" button
4. Click Insert Youtube
5. Paste the Youtube link to the video or type in a search term
6. See error "No videos matched your search query."

<img width="1070" alt="Screen Shot 2021-06-22 at 16 08 21" src="https://user-images.githubusercontent.com/6664819/123024052-2d9f1700-d374-11eb

[2021-06-23 04:10] deBhal commented on #50523
Fixed in D63125-code

[2021-06-23 04:10] #50523 closed, assigned to deBhal

[2021-06-23 04:23] worldomonation opened #53925 "Playwright: create flow to generate a test post"
**Task Details**
There are a lot of tests that currently rely on having a reliable published post.

If the test in question is not testing the ability to create a new post, refactor it so that a new flow takes care of setting up the published post under test.

[2021-06-23 04:25] worldomonation opened #53926 "Playwright: refactor wp-likes tests to be more deterministic"
**Task Details**
Playwright tests under `wp-likes` were one of the first to be migrated, and they suffer from non-determinism.

For instance, the `wp-likes__logged-out-spec.js` suffers from the problem that the pre-existing published post that is selected for testing may be a password protected post, which would not be likeable.

Another example is with `wp-likes__post-spec.js` where an existing p

[2021-06-23 05:20] ollierozdarz commented on #53825
This sounds non-intuitive, but how about "New" designs. Not in the sense of recent, but new vs old - FSE vs non-FSE 🙂

[2021-06-23 05:27] Robertght commented on #53681
I can confirm another case in 4083487-zen. Works if more than two images are being used in a tiled gallery

[2021-06-23 05:52] KokkieH commented on #49729
https://wordpress.com/forums/topic/classic-editor-101/

[2021-06-23 06:35] ollierozdarz opened #53929 "Plans: Desktop design parity"
We'll need some minor tweaks and iteration to get the desktop Plans page to parity with the design (which is totally understandable!).

**Main improvements:**

- Remove the white background behind the plans grid ([screenshot](https://d.pr/i/CTODF1))
- Apply the same button styling to the Plans buttons as is found on the Domains page, but leave them the same width ([screenshot](https://d.pr/i/B2qUm

[2021-06-23 07:21] devNigel opened #53932 "Categories & Tags slugs: No option to edit slug in Simple sites"
### What plan tier is the site on?

Free, Personal, Premium

### Where are you seeing the issue?

1. Go to Tags or Categories page.
2. Try to create a new tag / category or edit an existing one.
3. You will notice there is no option to edit slug for Simple sites.

### What I expected on the WordPress.com site

Ability to edit slug

#### What I expected on the Atomic site

Ability to edit slug

###

[2021-06-23 07:39] devNigel opened #53933 "Editor: Not possible to assign multiple tags with same name but different slug"
### Steps to reproduce the behavior

1. On an Atomic site, go to Posts > Tags
2. Create tags with same tag name but different slugs
3. Go to Posts > Add New and try to add the tags
4. You will notice the suggestion for tags input will initially show all options. But once you add the tag, the other tags with the same name but different slug will not show.

#### What I expected to happen

Since the

[2021-06-23 07:55] devNigel opened #53934 "Follow Button Widget: Customize button design"
What

Ability to customize the size of Follow button added by Follow Button Widget:

Why

The default follow button is quite small. It is also not possible to customize the design or size of follow button since it is loaded in an iframe.

**Additional context**

User report: 21466594-hc

[2021-06-23 07:57] Robertght opened #53935 "Pexels: Safari displays the images modal with a smaller height on initial load"
### Steps to reproduce the behavior

1. Add a new page/post and add a new image block
2. Click on **Select Image**
2. Click on **Pexels Free Photos**
3. Check the window with the images
4. Check the Screenshot section.

#### What I expected to happen

To see the same height on the modal

#### What actually happened

The height is different and changes height only if you resize the browser.

### Co

[2021-06-23 08:00] cpapazoglou commented on #53431
👋 there! The data restoration to Simple (pMz3w-dg9-p2#comment-89273) & Atomic (pbuNQi-1pA-p2#comment-2526) sites has been finished yesterday (June 22nd). There might be cases where we didn't have a restore value cause of:

(a) the date specified was older than the backup retention policy.
(b) the site was created after the backup prior to the timestamp specified.
(c) restored tables don’t have goo

[2021-06-23 08:02] cpapazoglou commented on #53431
Can you let me know whether the bug was reproducible before posting here?

[2021-06-23 08:03] cpapazoglou commented on #53447
https://github.com/Automattic/wp-calypso/issues/53431#issuecomment-866620141

[2021-06-23 08:03] #53447 closed, assigned to cpapazoglou

[2021-06-23 08:05] StefanNieuwenhuis opened #53936 "Reskinned Domain Picker: Content shifts to the left on medium-sized viewports"
### Why
The signup is the first impression users get from our platform. A proper Domain Picker (in terms of UI & UX) is thus paramount! That's why we have to fix the shifting content ASAP.

### What
The page content shifts to the left on medium-sized viewports, resulting in a "condensed" view and non-optimal use of screen-estate.

Video: https://www.loom.com/share/af3a45885cd04033922684483592cc93

[2021-06-23 08:20] JanaMW27 commented on #50701
Hello team, looking at this now. I have a q.: The intention is to reveal the fab icon when scrolling up and hide it when the user stops scrolling? or keep it persistent when the user stops scrolling?
If the case is the second one, we would still have instances where the FAB icon overlay on top of tasks, no?
There was an initiative to bring a global search in the main nav. Could we start here? By r

[2021-06-23 09:16] dolgelukkig commented on #50746
4084916-zd
Video settings are not missing but according to the user they are not counted either.
Maybe not related, posting it here just in case it is.

[2021-06-23 09:32] razvanpapadopol opened #53942 "Signup: extra separator while in logged-in state"
### Steps to reproduce the behavior

1. Go to /start
2. Create an account
3. Go back from Domains step to User step

#### What I expected to happen
Similar to the blue signup, I expect to see a confirmation that my account has been created

#### What actually happened
The social signup buttons aren't there but there is a leftover (vertical bar and "OR" copy).
<img width="900" alt="Screenshot 2021-

[2021-06-23 09:34] razvanpapadopol commented on #53942
@ollierozdarz, separately from the leftover issue, should we also consider updating this custom state with an account already created?
- move the "Log in" link and related copy below the signup form in
- change copy to better reflect the current state
- don't show the signup form in a disabled state ("password" is redundant) and come up with a better way to show the email address.

LE: created htt

[2021-06-23 09:41] cpapazoglou commented on #50701
👋 @JanaMW27!
The intention is to keep it persistent when the user stops scrolling up so they can interact with it and then hide it again as soon as they scroll down so that it doesn't overlay on anything.

Indeed, this would resolve many things but it seems that this project has been stagnant for long time.

The difference lies in the fact that in WP Admin we are redirecting to Calypso for users t

[2021-06-23 09:50] edwinho89 commented on #53401
4049434-zen

[2021-06-23 10:29] simison opened #53943 "Signup: reskin "log into your account" page when already logged in"
- While already logged in, open https://wordpress.com/log-in
- See this:

    <img width="828" alt="image" src="https://user-images.githubusercontent.com/87168/123075745-2e41b700-d421-11eb-8442-b20791a9d4de.png">

How could we bring it more to parity with reskinned signup?

@ollierozdarz @razvanpapadopol up to you if to pick this and how to prioritize it! It might need only color & typography chan

[2021-06-23 11:47] BogdanUngureanu commented on #52862
As Tom mentioned, we'll be splitting this into two separate issues:
- Adding the submenu element in Jetpack menu for simple sites (requires the modification of WPCOM specific code).
- Align Akismet settings for SImple and WoA sites which can be achieved by reusing the logic from WPCOM on WoA, and possibly touching the Akismet plugin.

[2021-06-23 11:51] cpapazoglou commented on #53707
There is a filter we can use `screen_settings` https://developer.wordpress.org/reference/classes/wp_screen/show_screen_options/

[2021-06-23 12:33] carinapilar opened #53945 "Inconsistencies on Calypso Pages Layout"
### Summary
Except for Media and Themes, it seems that all Calypso pages are default 1042px wide, only Users and Settings that aren't, those pages are 722px wide.

#### Browser / OS version
Chrome 91.0.4472.114
OS X 10.15.7

[2021-06-23 13:08] david-binda commented on #53762
The above mentioned changeset addressing the bug has actually been deployed just now.

[2021-06-23 13:10] tjcafferkey opened #53947 "Widgets Editor: Ensure Nudge comes out further when Nav Unification is enabled."
### Steps to reproduce the behavior

1. Enable the Widgets Editor by following the instructions under the "How to Enable the Widgets Editor" from p58i-axR-p2
2. Go to Appearance > Widgets once its enabled to load the Gutenberg Widgets Editor
3. Create a Block (e.g. just a paragraph will do) and click the Three Dots at the end of the block toolbar to reveal the context menu and then select "Add to

[2021-06-23 13:29] AlexanderMonsanto commented on #53100
Another report 4087126-zen

[2021-06-23 13:51] JanaMW27 commented on #50701
My recommendation to solve this issue is to introduce the search bar at the main nav. This would completely solve the issue and unlock a feature that is in high demand (IMO).
Is that possible for this ticket or are we looking into a more short-term solution here?

[2021-06-23 14:03] WunderBart commented on #53557
It looks like it's unrelated to the changes in that PR, no? 🤔. As a side note, that error stack is not really helpful:

[code]

Do you know why this is not printing at least the line it's been thrown at in the spec.js file? It reminds me of the same kind of issue we had with Selenium not that long ago. I've tweaked it by proxying an error handler inside the driver promise in https://github.com/Aut

[2021-06-23 14:04] WunderBart commented on #53557
It means progress!! 😄 🙌

[2021-06-23 14:16] BogdanUngureanu opened #53948 "Align Jetpack > Akismet Anti Spam pages/configuration on Simple Sites with WoA"
Since the [initial issue](https://github.com/Automattic/wp-calypso/issues/52862) was split in two, where in the first one we've introduced the link in Jetpack menu, we should also unify the differences we have on the Jetpack > Akismet Anti-Spam menu. This should be done after the initial item is implemented.

### What plan tier is the site on?
On all Simple Sites and WoA sites

### Where are you s

[2021-06-23 14:24] #53774 closed, assigned to mmtr

[2021-06-23 14:45] WunderBart commented on #53557
#### Re: selector stacking

As a general rule, we need to focus on the target elements and avoid making them depend on other elements' presence. Wherever we can factor it out I think we should do it 👍

#### Re: `_postInit`s

I think post-init calls make most sense for page models, where i.e. we'd want to close the cookies popup or a welcome modal. It would be good to review those as well.

#### Re

[2021-06-23 14:50] jakyo-dev commented on #51253
I experience the same problem. Copying content from Gutenberg wit CTRL + C adds leading and trailing space, but CTRL + X does not. Copying from other sources and pasting into Gutenberg does not add additional spaces. So it seems like Gutenberg is adding the spaces when copying with CTRL + C.

Win 10
Firefox 89.0.1 (64-Bit)
Gutenberg 10.8.2
Wordpress 5.7.2

[2021-06-23 14:54] daria2303 commented on #30426
30287822-hc
cannot upload ppt

[2021-06-23 14:55] ianstewart commented on #51335
In that screenshot, if you were to switch to Spearhead from Alves, would Dotcom upload Spearhead too? I'm wondering how Alves and Varia and Twenty Twenty One even got in there.

[2021-06-23 15:15] WunderBart commented on #53170
I think so, yeah. It's more of a general rule than one that would apply to the E2E code specifically. Let's skip it 👍

[2021-06-23 15:30] DanielSmithMichigan commented on #51335
It seems like your currently active theme is always in the "Uploaded Themes" section, and it remains there afterward as well. If I switch to Spearhead, then Spearhead is added to the "Uploaded Themes" section.

I never interacted with Twenty Twenty-One, so I'm not sure what's going on there.

<img src="https://user-images.githubusercontent.com/10274366/123121976-9e494080-d413-11eb-9905-406f37265c4

[2021-06-23 15:53] niranjan-uma-shankar opened #53951 "Investigation: Expand the API token method to set a logged in state for the user"
When the like button is clicked, an RLT token is set and first-party cookies are set. However, the page still does not show the masterbar, nor does the comment box recognize the logged in state. Can we use the RLT token for the following:
* Show the masterbar
* Comment box to recognize the logged in user without them having to click on the WP login button in the comment box once again

[2021-06-23 15:53] andres-blanco commented on #52931
I remove my assignment to this for now because working on issue themes/3483 is taking longer than expected

[2021-06-23 15:55] fernmed commented on #53401
4088029-zen

[2021-06-23 15:58] daria2303 opened #53952 "Customizer: header image not changing"
### Steps to reproduce the behavior

1. Go to 'Appearance > Customize > Header Image'
2. Try to change image - any method - to the suggested ones, last used, upload a a new one
3. Image doesn't change in preview or live page

#### What I expected to happen

Header image is updated

#### What actually happened
In customzier seems chanched, but it doesn't.

### Context
I am not able to reproduce on

[2021-06-23 16:01] the-misha opened #53953 "Editor: Classic block displaying "This block has encountered an error and cannot be previewed""
### Steps to reproduce the behavior
1. In Safari 14.1.1, go to Posts and open a post. (Example: https://wordpress.com/post/themessybeautiful.org/952)
2. See error

#### What I expected to happen
Blocks should display content.

#### What actually happened
All block display the error message "This block has encountered an error and cannot be previewed."

### Context
4088070-zd-woothemes
30278130-hc

[2021-06-23 16:10] druesome commented on #53401
#21404933-hc

Safari. 12.1.2 (12607.3.10) / Mac OS 10.12.6

[2021-06-23 16:23] worldomonation opened #53955 "Playwright: investigate 1.12.x crashes"
**Task Details**
After upgrading to Playwright 1.12.x (at midnight no less) crashes began occurring on certain test suites:

- Likes (comment)
- Likes (logged out)
- Likes (post)

Each of these share the `Likes` test as the commonality.

Local testing showed the browser page crashes when the post's like widget was shown on screen during the tests. However, attempting to reproduce using a minimal s

[2021-06-23 17:11] detolah commented on #53401
4090094-zen

[2021-06-23 17:53] kwight commented on #52563
@ianstewart and @sixhours can consider the best flows here.

[2021-06-23 18:01] kwight commented on #52591
@ianstewart Let's consider this with the new theme switch modal.

[2021-06-23 19:11] DanielSmithMichigan commented on #52591
I think [this line](https://github.com/Automattic/wp-calypso/blob/7c3f310539d7b52bcc474da7ded93aecb30fa38e/client/my-sites/themes/theme-options.js#L129) is a really good place to start looking. I haven't dug in at all, just wanted to relay something I saw when working on another ticket.

[2021-06-23 19:39] kwight opened #53960 "Theme Showcase: Improve the overall user experience."
The Theme Showcase currently only displays our "recommended" themes (those that support Headstart on theme switch), with search and everything else hidden behind a "Show all themes" button. With design input by @onuro in Figma: QnkOH11BM3MoPFOFr2OTBC-fi-150%3A2253, let's make some first step improvements.

<img width="852" alt="Screen Shot 2021-06-23 at 12 31 08 PM" src="https://user-images.github

[2021-06-23 19:40] kwight commented on #53960
@ianstewart Feel free to update or improve anything in the description. 👍

[2021-06-23 20:06] ianstewart commented on #52931
I was also able to get that "Theme not yet available for this site" error. With an older test site on a wpcomstaging domain. But not a newer one.

[2021-06-23 20:10] ClassicRKR27 commented on #53401
I have another report of the issue here: 24590361-hc / 4090462-zd-woothemes

[2021-06-23 20:35] ianstewart commented on #52563
Going back through this issue …

Noting that we changed this. Looks like more people are using it with the better placement and clearer text. (Might be one or the other. I think it's both.)

![image](https://user-images.githubusercontent.com/545779/123163072-ef1e6080-d436-11eb-9b77-246d8e1055c0.png)

This makes sense when you have unsaved changes.

![image](https://user-images.githubusercontent.co

[2021-06-23 20:38] ianstewart commented on #52563
1. I think with the change to the label from Edit Header to Customize this might "fix" this issue as it doesn't set an expectation that you'll be dropped in to editing your header.
2. With the issue that connects the site identity options to the content options for the header and footer we might have improved some of the findability there as well?

Obviously not ideal without a site editor. :D

[2021-06-23 20:50] csonnek commented on #53220
We have a number of users in this forums thread impacted by this as well: https://wordpress.com/forums/topic/getting-error-on-desktop-app/

[2021-06-23 21:00] kathrynwp commented on #53826
It would definitely be great to give people a heads-up when switching to a FSE theme beforehand. Folks will likely be a little discombobulated regardless, but at least some kind of preliminary info would be a nice thing to do, and perhaps reduce the "What just happened?!" effect.

[2021-06-23 21:03] worldomonation commented on #53903
This issue was worked around somewhat in #53931 by creating a new post, closing the current context then starting a new context.

It would seem that even after clearing the cookies and confirming the cookies are empty, that WPCOM has some 'memory' of the fact that user was logged in. This results in the following sequence of events not working as expected when it should:

1. log in
2. create and p

[2021-06-23 21:07] ianstewart commented on #52563
@sixhours let me know if you think this one is a wont-fix for now and/or thoughts on breaking down some of the above into a distinct issue.

[2021-06-23 21:07] worldomonation opened #53962 "Playwright: explore playwright-test runner"
**Task Details**
As of 1.12.0 Playwright ships with its [in-house test runner](https://playwright.dev/docs/test-intro).

It offers many functionalities that I had to implement myself (as hooks or browser managers), so explore if this suits our needs.

Key objectives:
- [ ] Ensure TeamCity reporting works
- [ ] Investigate how much of the existing hooks and frameworks can be removed
- [ ] Is it any

[2021-06-23 21:17] DavidRothstein commented on #43183
I think another problem with the emailed version of the receipt shown here is that it's not 100% clear that the subscription will renew.  The combination of "1 month subscription" and "Expires: June 12, 2020" kind of makes it sound like everything ends after one month, when in fact it will actually auto-renew.  For me, "monthly subscription" rather than "1 month subscription" might be a bit more c

[2021-06-23 21:23] jordesign commented on #53826
It would be a very different treatment (and functional change i guess) to other themes - but could we have some kind of additional notice in the modal? or on the thumbnail - with a tooltip or link to more information?

[2021-06-23 21:25] happychait opened #53965 "Maxwell: No color palettes in the Customizer > Colors panel of Atomic sites."
### Steps to reproduce the behavior

For the Atomic sites, Maxwell theme doesn't show the color palettes mentioned in the Multiple Color Schemes section of its setup guide at https://wordpress.com/theme/maxwell

1. Activate the Maxwell theme on an Atomic site.
2. Open the Customizer > Colors panel.

#### What I expected to happen

See the six color palettes as mentioned in the theme setup guide.
!

[2021-06-23 21:36] ianstewart commented on #51335
@DanielSmithMichigan I think I know what's happening.

- Twenty Twenty One is being installed as the default WordPress theme for the Atomic site when it's created.
- And then looks like we're installing themes as they're activated.

Example for the last point. I started with Blank Canvas, a child theme of Seedlet, before going Atomic, and then after going Atomic I switched to Twenty Twenty.

![ima

[2021-06-23 21:43] carinapilar commented on #50945
Would like to add that the user on 29321329-hc reported to be missing the Dashboard option on the menu.

[2021-06-23 21:57] AtrumGeost opened #53966 "Tiled Gallery Block: If a image is deleted from the Media Library, it cannot be removed from the block"
### Steps to reproduce the behavior

1. Create a Tiled Gallery block with multiple images
2. Go to the Media Library and delete one of the images that are present in the Tiled Gallery
3. Clear cache
4. Notice the gallery has an empty space
5. Try to remove the empty space

#### What I expected to happen

To be able to remove the deleted image, same as other images. Or for the deleted image to be a

[2021-06-23 21:59] ianstewart commented on #52591
Plus one. I don't see a reason not to make it available in the ellipsis menu when it's available as an option in the live demo preview modal as well.

And despite me asking Kirk to note this down while we were reviewing issues … I don't think any changes in preview via the theme switch modal is a blocker. :D

[2021-06-23 22:13] poeticabdul commented on #51540
Happening to a user here 30296127-hc

The user tried re-enabling Gravatar and adding the picture. The picture stays for a day or two after re-enabling Gravatar and gets back to being blank.

[2021-06-23 22:37] KirkwallDay opened #53967 "Themes lose custom color palette when made atomic."
### Steps to reproduce the behavior

1. Have an Atomic site and activate a theme from our showcase that supports custom color palates.
2. Check the customizer, the "Colors and Backgrounds" option will be gone entirely, or will be replaced with "Colors" that has limited functionality.

#### What I expected to happen
To see and edit the custom color palates.

#### What actually happened
Either the o

[2021-06-23 23:38] worldomonation opened #53970 "Playwright: create new eslint rule to detect `this.page.pause` and variations"
**Task Details**
I've been burned on some occasions by an errant `this.page.pause()` or two lurking in the committed code.
This statement causes execution on TC to pause (obviously) and would mark it as failed.

[2021-06-24 00:16] kwight commented on #52792
@blackjackkent can you update and close this issue please (maybe add some references to key PRs/diffs and a final screenshot or GIF)? Thanks!

[2021-06-24 00:51] Gustavo-Hilario commented on #53401
Another report here: 30297349-hc
Safari 13 / OS X 10.13.6

[2021-06-24 00:55] kwight commented on #51335
@ianstewart Maybe that's https://github.com/Automattic/wp-calypso/issues/49039 ?

[2021-06-24 01:45] nagrampai commented on #53626
Another issue
#10345607-hc

[2021-06-24 01:50] nagpai commented on #53626
Another issue
10345607-hc

[2021-06-24 03:27] ollierozdarz opened #53973 "Launch: Needs some visual tweaks to align with reskin"
### Why
While the Calypso launch page wasn't in scope for our signup reskin launch, we can apply a few visual treatments to get it consistent with a minor effort (and no full design).

### What
With a few visual treatments, we want to improve the UI/UX of the reskinned Calypso Launch page.

We want to:
- Left align the heading and subheading text. [screenshot](https://cloudup.com/co2EBZwZrvq).
- C

[2021-06-24 03:51] #53178 closed, assigned to p-jackson

[2021-06-24 04:30] ollierozdarz commented on #53973
**Improvements:**

- Left align the heading and subheading text ([screenshot](https://cloudup.com/co2EBZwZrvq)).
- As Niranjan mentions, the currency symbol is green when it makes sense to be the same color ([screenshot](https://cloudup.com/cDZj3ATwr0e)).
- As Niranjan metnions, the step counter seems to be wrong, it shows “1 of 3" and “2 of 3” when there are only two steps ([screenshot](https://c

[2021-06-24 04:34] ollierozdarz opened #53974 "Launch: If the site has a plan but no custom domain, then the launch flow will not show the plans step."
**Launching from Calypso after the reskin deployment**

Raised by Niranjan.

If the site has a plan but no custom domain, then the launch flow will not show the plans step. However, in the domains step it shows the free-domain explainer and “View plans” CTA section on the right. I think this section shouldn’t appear for such sites. [Clicking the CTA](https://cloudup.com/clxHdA4-ItG) does nothing a

[2021-06-24 04:44] ollierozdarz opened #53975 "Launch: It looks like it’s now possible to add multiple domains to cart, and it indicates both domains to be free for the first year."
**Launching from Calypso after the reskin deployment**

Raised by Niranjan.

If you go back from the plans step, looks like it’s now possible to [add multiple domains to cart](https://cloudup.com/cB0JKD9Kmi2), and it indicates both domains to be free for the first year. Proceeding to the plans step, it shows only [one of the domains to be free](https://cloudup.com/c_pTEd73RUt).

**Context**
The be

[2021-06-24 05:27] roo2 opened #53976 "My Home: Changes to items in the Site setup onboarding checklist"
In https://github.com/Automattic/wp-calypso/issues/53212 I noticed some changes to the onboarding checklist, I think these need a little more discussion, either here or privately in a P2, and then should be done in their own task(s):

"Launch your site" moved to the last item in the checklist
"Learn how to use the editor" added
"Confirm your email address" removed

<img width="777" alt="Screen Sho

[2021-06-24 05:27] roo2 commented on #53212
I pulled the changes to the checklist into https://github.com/Automattic/wp-calypso/issues/53976
And have a PR up to implement the design changes https://github.com/Automattic/wp-calypso/pull/53972

[2021-06-24 05:33] inaikem commented on #50560
Another affected user here: 29538272-hc (follow up at 4091080-zd). Two requests:

1. @taggon, I see it's in the "In Progress" queue at the moment. Any idea when you're expecting to push this live?
2. Do we have any existing guidance we can pass on to affected customers?

Thanks! 🙏

[2021-06-24 06:25] devNigel commented on #53220
Another report: 28504214-hc

The user is using MacOS. They asked to be notified once the issue is fixed.

[2021-06-24 06:59] #48227 closed, assigned to nobody

[2021-06-24 07:13] poojashetty18 commented on #53626
#4091221-zen

[2021-06-24 07:25] daria2303 commented on #52964
another one: 4086108-zd-woothemes

[2021-06-24 08:23] #53686 closed, assigned to deBhal

[2021-06-24 08:29] ivan-ottinger opened #53978 "Publicize: LinkedIn posts are shared without the featured image"
We have had several reports on LinkedIn posts sharing without the featured image - despite _LinkedIn Post Inspector_ is displaying each post correctly (with the featured image).

### Steps to reproduce the behavior

1. Make sure LinkedIn is connected to the site
2. Publish a new post with Featured image
3. Check the LinkedIn page if the image was publicized
4. Compare with the result in the _Linke

[2021-06-24 09:04] KokkieH commented on #53401
https://wordpress.com/forums/topic/black-screen-7

[2021-06-24 09:21] ahmadbaig1 commented on #53401
Another report.
Safari 13.1 on Mac OS X 10.13.6
30303200-hc

[2021-06-24 09:24] cpapazoglou opened #53980 "Hide the FAB (?) icon for Store Admin pages"
* **Hide the FAB icon for Store Admin pages** - This can be picked up immedaitely

Thanks in advance.

_Originally posted by @tjcafferkey in https://github.com/Automattic/wp-calypso/issues/50701#issuecomment-866021143_

[2021-06-24 09:26] cpapazoglou commented on #50701
Priority is `Low` so I guess we can wait for a better solution. In the meantime I have created an issue for [Hide the FAB icon for Store Admin pages](https://github.com/Automattic/wp-calypso/issues/53980)

[2021-06-24 10:18] tjcafferkey opened #53981 "Quick Switch: Enable Screen Options component for Atomic sites with correct Jetpack version"
Since merging https://github.com/Automattic/wp-calypso/pull/53791 this component is prevented from rendering due to a feature switch here https://github.com/Automattic/wp-calypso/blob/trunk/client/components/screen-options-tab/index.js#L67

As per our agreed launch strategy here pd2C0z-4a-p2 we need to remove this feature switch and replace it with a condition enabled us to:

* Render component fo

[2021-06-24 10:20] hichamboushaba opened #53982 "Hide the navigation sidebar when viewing content from mobile apps"
What
Hide the navigation sidebar when the page is viewed from WP or Woo mobile apps, by the sidebar I mean this div: `<div id="secondary" class="layout__secondary" role="navigation">` https://d.pr/i/75tGGU

Why
Similar to the app bar that has been hidden after https://github.com/Automattic/wp-calypso/pull/31830, we would love to avoid allowing users to navigate to pages that are unrelated to the p

[2021-06-24 10:44] marutim commented on #53401
- Another report here: hc-30159131
- Safari : 12.1.2

[2021-06-24 10:49] Nic-Sevic opened #53985 "Gallery block forces media carousel attachments"
### Steps to reproduce the behavior

1. Create a page with the standard Gallery block
2. Verify that attachment set to none and lightbox off
3. view in preview and/or live to see that attachment carousel shows anyway
4. try turning on lightbox and see that both it and attachment carousel now show

#### What I expected to happen
if the attachment is set to none then you should not be able to click

[2021-06-24 10:54] JuniorTak commented on #50917
Another report for a French-language site: 4089846-zen

[2021-06-24 11:18] daria2303 commented on #53967
4091679-zd-woothemes

Users Customizer > Colors: https://d.pr/i/Zfcpz2 - only Background color left
Mine on test site: https://d.pr/i/FC4Ixg

[2021-06-24 12:13] davipontesblog commented on #52591
Just shared feedback supporting implementing this change to allow all themes to show this option to "Try and Customize" here: p7DVsv-_cow-p2#comment-36459

[2021-06-24 12:14] WunderBart commented on #53170
I think this is something that should depend on the context. I.e. for a page model, I'd use the `LoginPage.clickLoginButton()` because it defines a specific action for an element of that page. On the other hand, when defining a flow action, we're looking from the user's perspective, so I'd go with `LoginFlow.submitLogin()`. Does that make sense?

Here's a wider example of this convention that made

[2021-06-24 12:17] davipontesblog commented on #52592
I believe we can close this issue in favor of https://github.com/Automattic/wp-calypso/issues/52792
Thoughts @ianstewart ?

[2021-06-24 12:29] andres-blanco opened #53987 "Menubar should not be visible in theme pages"
The Menubar is now visible on theme pages, this is not desirable. These are @ianstewart comments on it:
 * Originally designed to be full-width and already only tenously works as a layout at it’s original width.
 * Colour of the header on theme page looks strange next to sidebar. (Again because it wasn’t intended to be there.)
 * Also, if it’s to be a page that shows the sidebar it should have an

[2021-06-24 12:31] carinapilar commented on #53900
When taking a better look at this report, I wonder if something got fixed, or if it's just confusion. The toggle seems to only change the color when active, it's always black/white when not active (not sure if that's ideal though).

But the user mentioned it was recently blue, even though they use the Default color scheme, which shows black when the toggle is active. They mentioned the Settings >

[2021-06-24 12:36] bobmatyas commented on #53978
Another example on a self-hosted site:

https://wordpress.org/support/topic/plublicize-no-image-shared-on-linkedin/

[2021-06-24 12:44] zdenys commented on #51312
I was reviewing various bugs I commented on and stumbled upon this one. The issue was addressed by https://github.com/Automattic/wp-calypso/issues/53383 so I will close this one. Feel free to reopen if it makes sense.

[2021-06-24 12:44] #51312 closed, assigned to nobody

[2021-06-24 13:29] philnick206 opened #53990 "Adding a Gallery block inside a Columns Block causes whole block to appear "clickable""
### Steps to reproduce the behavior

1. Add a Columns block with two columns
2. Add content into the first column and a Gallery block into the second with the link settings set to Attachment Page/Media
3. Preview page
4. See issue

#### What I expected to happen
Only the images in the Gallery block would appear clickable

#### What actually happened
The mouse cursor changes to a hand/indicates you

[2021-06-24 14:29] mreishus commented on #53674
This was solved here: #53823 -> #53796 -> #53959

[2021-06-24 14:29] #53674 closed, assigned to mreishus

[2021-06-24 14:42] StefanNieuwenhuis commented on #53973
@ollierozdarz, @niranjan-uma-shankar  I'm unable to reproduce this (see screenshot). Can you tell me how to reproduce it?

<img width="1009" alt="Screenshot 2021-06-24 at 16 37 31" src="https://user-images.githubusercontent.com/12104589/123282782-18a8bc00-d50b-11eb-95ab-253acf65ac07.png">

[2021-06-24 14:56] WunderBart commented on #52326
Closing, as the animated elements haven't been an issue since the `waitUntilElementStopsMoving` was implemented 🎉

[2021-06-24 14:56] #52326 closed, assigned to WunderBart

[2021-06-24 15:03] davipontesblog commented on #53591
@mrfoxtalbot the PR https://github.com/WordPress/gutenberg/pull/32527 seems to be merged, I am moving this back to triaging to see if we can verify if the issue is now fixed. If so, please close it when that happens :)

[2021-06-24 15:12] WunderBart commented on #53899
We should avoid creating helpers as much as possible as they create another layer that needs maintenance and increases the entry threshold for folks that will come work on the E2Es. The stability check should be needed only for elements that are animated. Could you explain what you mean by code executing too fast and getting dead-ended? An example would be helpful here 🙏

[2021-06-24 15:28] ezebecke commented on #51435
Another instance: 22952231-hc

[2021-06-24 15:46] niranjan-uma-shankar commented on #53973
Maybe it's seen only on INR currency? Could you please check with proxying through India?

<img width="1261" alt="Screenshot 2021-06-24 at 7 45 27 PM" src="https://user-images.githubusercontent.com/1269602/123293143-cbd1df00-d524-11eb-9acc-38bc27442bc0.png">

[2021-06-24 15:48] niranjan-uma-shankar commented on #53973
Looks like this issue appears only for those currencies where we offer a first year discount - INR and PHP. Proxying through India or Philippines should help reproduce the issue:

<img width="1199" alt="Screenshot 2021-06-24 at 7 47 41 PM" src="https://user-images.githubusercontent.com/1269602/123293600-2ff4a300-d525-11eb-9370-8c50b59b9c2b.png">

[2021-06-24 16:17] fullofcaffeine opened #53996 "E2E Flaky spec report: Can see correct page title in preview in specs/specs-wpcom/wp-calypso-gutenberg-page-editor-spec.js"
This spec seems to be flaky so let's try to fix it.

#### Failing spec details

Found out while running e2e against Gutenberg v10.9.0 (edge):
* Desktop: https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_desktop/6338500
* Mobile: https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_mobile/6338502

[code]

[2021-06-24 16:44] blackjackkent commented on #52792
Yes! This is all live now in production. The majority of the work was merged in https://github.com/Automattic/wp-calypso/pull/53796 and D63076-code, with a few tweaks following after.

Before:

![image](https://user-images.githubusercontent.com/13437011/123301462-4a0c9200-d4e1-11eb-8426-07482541b61d.png)

After:

![image](https://user-images.githubusercontent.com/13437011/123301487-51cc3680-d4e1-1

[2021-06-24 16:44] #52792 closed, assigned to blackjackkent

[2021-06-24 16:57] DanielSmithMichigan opened #53997 "Theme Switch Modal: "Launch Site" banner is visible"
### Steps to reproduce

1. Create a new site. Don't launch the site as public. Continue through the entire site creation process.
2. Go to the /themes page
3. Attempt to activate a recommended theme, such as Spearhead. See the theme switch modal.
4. Notice that the "Launch Site"  button/banner is visible.

#### What I expected to happen

I expected the theme preview to look like what my visitors w

[2021-06-24 17:11] andres-blanco opened #53998 "Theme Switch Modal: wrong preview when replacing homepage"
### Steps to reproduce the behavior

1. Pick a theme using the 'Replace Homepage' feature from the modal
2. Edit the homepage heavily
3. Pick a new theme using the 'Replace Homepage' feature from the modal
4. Open the modal again in the theme from 1)

https://user-images.githubusercontent.com/375980/123304640-8d70fb80-d4f5-11eb-8b44-ab08b88c5852.mov

#### What I expected to happen
See the content

[2021-06-24 17:27] #53394 closed, assigned to nobody

[2021-06-24 17:28] ahmadbaig1 commented on #53401
4078873-zd
User did not share browser info.
Using Safari.

[2021-06-24 17:44] cuemarie opened #54000 "Venture: Separator Block with color selected adds padding on atomic sites"
### Steps to reproduce the behavior

1. Install Venture Theme on any atomic Site
2. Add Separator Block to post or page
3. Set Color for Separator
4. Publish

#### What I expected to happen

* Separator to appear as thin line at default or wide width with selected color

#### What actually happened

* Separator appears as a thick narrow-margin bar with 2em padding, in selected color

### Context

[2021-06-24 19:18] supernovia commented on #53401
Another case here:
https://wordpress.com/forums/topic/problem-med-redigering-svart-felt-pa-siden/#post-3696972

User seems to be using Safari, so I'll share browser info when I get it. EDIT:  Safari 13.1.2

[2021-06-24 19:19] andres-blanco commented on #53987
as @ianstewart points out it is also desired for the 'My Sites' button to not perform any action on desktop.

[2021-06-24 19:56] marianearchimbaud commented on #53431
This user reported the same issue, and it has not been solved. I was able to reproduce this: 4050480-zen Using theme Promenade

[2021-06-24 20:45] ianstewart commented on #42016
You can also wind up in this state if you have no pages at all.

![image](https://user-images.githubusercontent.com/545779/123329838-dc715d80-d502-11eb-9b13-1f2a5457538b.png)

Different from the experience of a default state or theme switch that leaves you with a Blog page.

![image](https://user-images.githubusercontent.com/545779/123329918-f57a0e80-d502-11eb-9bc5-cf974192a6ca.png)

Also, while y

[2021-06-24 21:16] jordesign opened #54003 "WooCommerce on Dotcom: Entering the character 'n' into the Shipping Zone region field opens the Dotcom notiifications bar"
### Steps to reproduce the behavior

1. Install Woocommerce on WordPress.com
2. Go to Woocommerce > Settings > Shipping
3. Click in the 'Zone Regions' field and start typing 'United' to search for United States

#### What I expected to happen

For the auto-complete to show me a result for the United States

#### What actually happened

The DotCom notifications bar on the right opened.

#### Browse

[2021-06-24 21:26] jp-imagines commented on #53431
User reported this in 4090205-zen (Coutoire theme). I was able to replicate on my end.

[2021-06-24 21:30] radtechgh commented on #53431
User reported this in 4093227-zen (Radcliffe 2 theme). Was able to reproduce, menu reverts to none.

[2021-06-24 22:02] ianstewart opened #54005 "Nav Unification: Consider unifying Calypso and /wp-admin"
Stubbing out an issue to follow up on Nav Unification.

While looking at the Calypso Dev docs I noted that our sidebar there (leftmost image below) felt more harmonious with our Calypso components than our unified nav sidebar (rightmost image below) does in production.

![image](https://user-images.githubusercontent.com/545779/123337944-98d02100-d50d-11eb-9832-754b6e606f09.png)

The task for the i

[2021-06-24 22:27] worldomonation commented on #53557
I suspect it is related because the step at which it fails is `Enter post title` under the test suite `Comment and like on a new post`. The video replay shows that it failed to click on the new post button to launch into the `GutenbergEditorPage`. Luckily it seems to have occurred only once, and passed in subsequent tries so it likely only needs an additional state or selector wait.

I agree, I ha

[2021-06-25 00:24] michaeldcain commented on #53110
@ianstewart @kwight: I believe your pod made the change here.

[2021-06-25 02:39] roo2 commented on #53213
The only remaining change I can see for post launch is https://github.com/Automattic/wp-calypso/pull/54008
Other changes are covered by https://github.com/Automattic/wp-calypso/pull/53972

[2021-06-25 03:28] olaolusoga commented on #43332
Yes. Exploration around this will be baked into the overall UX. More to come.

[2021-06-25 03:47] devNigel commented on #53431
The issue still persists on their new account with the theme Libre 2 for the case 4086494-zen

I also see other reports about the issue. Hence, I am reopening this issue.

cc: @kriskarkoski @jonnyruzek

[2021-06-25 04:54] olaolusoga commented on #45707
No designer, yet. Updates coming shortly.

[2021-06-25 05:24] bluefuton commented on #16603
For simplicity's sake, I suggested over in https://github.com/Automattic/wp-calypso/pull/45144#issuecomment-868211927 that we keep both columns visible but add some messaging in the Sites column when there are no results.

[2021-06-25 06:05] sanjeev00733 commented on #53431
Another report in 13388644-hc

Theme: Rebalance
The site logo isn't saving

[2021-06-25 06:49] StefanNieuwenhuis opened #54010 "Reskinned Domain Picker: Unexpected line break in the domain list"
### Why
The unexpected line break in the middle of the "wordpress.com" subdomain, makes the UI less intuitive and therefore less usable.

### What
In a nutshell, the WordPress.com subdomain option breaks oddly in the middle of “WordPress” and only goes back to one line if one makes the window wider (intuitive) or narrower (counterintuitive).

See pd2I8q-7N-p for context.

### Acceptance Criteria
-

[2021-06-25 06:57] #53936 closed, assigned to StefanNieuwenhuis

[2021-06-25 06:59] deBhal commented on #53853
Investigation results so far:

1. The primary issue is that we're not installing the translations for the plugin on the remote site
2. It also looks like there's some mis-alignment with the locales.
3. And (unrelated to this issue except for the report) on jurassic-ninja I'm seeing an error loading the starter page templates

#### Installing the translations:

We download and serve the language pa

[2021-06-25 07:36] jobthomas commented on #54003
I can reproduce it but it's not connected to the "United States" but to typing `n` in that field. I would assume that this is also the shortcut for accessing the notifications centre.

![Uploading Screen Capture on 2021-06-25 at 09-33-23.gif…]()

[2021-06-25 07:42] cpapazoglou commented on #53431
I have fixed:
- 4050480-zen cc @marianearchimbaud
- 4090205-zen cc @JeffPare
- 4093227-zen cc @Camaropilot
- 4086494-zen for theme `libre-2` cc @devNigel
- 13388644-hc for theme `Rebalance` cc @sanjeev00733

Please refer to this P2 p7DVsv-bZF-p2 for future reports / incidents.

[2021-06-25 07:55] mmtr commented on #51346
This should've been fixed of https://github.com/Automattic/jetpack/pull/20088.

[2021-06-25 07:55] #51346 closed, assigned to nobody

[2021-06-25 07:56] mmtr commented on #51340
This should've been fixed as of https://github.com/Automattic/jetpack/pull/20088

[2021-06-25 07:56] #51340 closed, assigned to nobody

[2021-06-25 08:01] E-VANCE commented on #53978
Using another service (automate.io) in order to auto-share to LinkedIn yielded the same, image-less result... Luckily I could get some debug-info regarding the connected fields and it seems that the relative thumbnail URL is the culprit here.

![CleanShot 2021-06-25 at 09 54 13](https://user-images.githubusercontent.com/4123541/123391291-24908e80-d59c-11eb-9efa-2f9a89f8fb8d.png)

So maybe investig

[2021-06-25 08:12] kosiew commented on #53431
Hi @cpapazoglou ,

Reopening - #4094027-zen too has the same issue.
Theme: Fortune
They tried to set site identity logo
https://d.pr/i/4Uk2tf but it does not save.

Can you take a look?
Thanks

[2021-06-25 08:25] kosiew commented on #53431
Closing this in deference to p7DVsv-bZF-p2

[2021-06-25 08:26] kosiew commented on #53431
Close.

[2021-06-25 08:39] razvanpapadopol opened #54011 "Signup: custom logged-in state for the signup form"
### What
Usually, after a user has created a new account at the beginning of the site creation flow or as part of a 1-step flow (`account`), they can go back to Signup Form either by pressing the browser back button or the "Back" link from our UI. We should consider updating the logged-in state of this signup form.

**Possible improvements:**
1. Change copy to better reflect the current state. At

[2021-06-25 08:40] #53942 closed, assigned to alshakero

[2021-06-25 08:51] mrfoxtalbot opened #54012 "Display issues when adding new site for existing non-English user"
### Expected behavior
When an existing user with their user language is set to English creates a new site, they see the new onboarding flow.

When an existing user with their language set to a non-English language creates a new site, they see the old onboarding flow.

I would expect both English and non-English users to see the same onboarding flow.

If it's decided that non-English users would ge

[2021-06-25 08:54] mrfoxtalbot opened #54013 "Blog Post block: Not showing the like button when loading more posts"
### Expected behavior
A Blog post block when setup in grid layout and 'Show "Load more posts" Button' enabled.

The first set of posts that are loaded, it shows the like and the share buttons.

When the Load more posts button is clicked it the next set of posts should show the like and sharing buttons.

### Actual behavior
With the above setup, when the Load more posts button is clicked, the next

[2021-06-25 08:54] StefanNieuwenhuis opened #54014 "Domain Picker: No visual feedback after selecting a domain"
### Why
We want to offer users visible feedback on the products they potentially buy on our platform.

### What

After selecting a domain in the reskinned domain picker, the user is redirected to the plans step. When the user navigates to the domain picker again, there is no visual feedback about the selected domain - i.e. the user doesn't know if the selection was successful.

Video: https://www.

[2021-06-25 08:59] StefanNieuwenhuis opened #54015 "Signup: UI jumps to top before advancing to the next step, when selecting a domain or plan"
### Why
This might be one of the causes of the sudden drop in mobile users completing the flow (see p1620845064285900/1620844611.285400-slack-C01VA100LEA).

### What
After selecting a domain, the page scrolls to the top of the page **before** redirecting to the plans page. This forces unnecessary scrolling and performance drops on certain browsers/devices. This is particularly relevant for mobile

[2021-06-25 09:02] StefanNieuwenhuis commented on #54014
@ollierozdarz, how can we style the selected domain button properly?

[2021-06-25 09:33] StefanNieuwenhuis commented on #53973
Thanks, @niranjan-uma-shankar! Proxying did the trick. Now I'm able to address the issue and I've learned tons about the proxy options 👍

[2021-06-25 10:36] kosiew opened #54017 "Customizer does not display logo when Gutenberg is activated"
So far, we could only reproduce this on https://lafabriquedesadieux.com/

### Steps to reproduce the behavior

1. Deactivate these plugins on site - creative-mail-by-constant-contact crowdsignal-forms facebook-for-woocommerce google-site-kit kliken-marketing-for-google layout-grid mailchimp-for-woocommerce simple-icons svg-vector-icon-plugin woocommerce-gateway-stripe woocommerce-services wordpres

[2021-06-25 10:44] #53707 closed, assigned to cpapazoglou

[2021-06-25 10:52] razvanpapadopol commented on #54014
For reference, this is how we're displaying the selected domain in `/new` flow.

* On other steps:
<img width="1077" alt="Screenshot 2021-06-25 at 13 49 22" src="https://user-images.githubusercontent.com/14192054/123414263-59acd900-d5bc-11eb-84b5-5f77b631e784.png">

* On Domain step, regardless of the search query
<img width="1079" alt="Screenshot 2021-06-25 at 13 49 48" src="https://user-images.g

[2021-06-25 10:58] mrfoxtalbot opened #54018 "Post Preview modal no longer loading"
We have noticed that Calypso's modal is no longer loading. Instead, users are taking to a preview in the "front end" (as if they were using the WP-Admin editor instead), for instance:
https://example.wordpress.com/?p=1234&preview=true

https://user-images.githubusercontent.com/4452464/123414751-907ef100-d5b4-11eb-9ebc-4fc1648bacef.mp4

Is this intended, or is it a regression?

[2021-06-25 12:16] AlexanderMonsanto commented on #54018
Possibly related ticket zd-4094204

[2021-06-25 12:27] StefanNieuwenhuis commented on #53973
While looking [at the code](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/config/flows-pure.js#L312), we actually have 3 steps in this flow.
**Steps**
1. Domain Picker.
2. Plan picker.
3. Launching your site (see screenshot).

Although it might look a bit funny/unnatural, the total number of steps is correct.
<img width="698" alt="Screenshot 2021-06-25 at 14 26 39" src="https:/

[2021-06-25 12:33] khristiansnyder commented on #53401
Reported in 4092039-zen

[2021-06-25 12:35] pablinos opened #54019 "Publicize: Purging Connections stalled by not searching more than 10000 sites"
In #50347 we discussed and fixed an issue where the job to purge Publicize connections had been failing for a while and causing a backlog of sites, which eventually caused a more serious OOM error each time the job was run.

Although we fixed this through batching, one part of the job involves resetting the timestamp to check (usually stored in the site options) to the current time, if it's unavai

[2021-06-25 12:36] #51040 closed, assigned to BogdanUngureanu

[2021-06-25 12:53] devNigel commented on #54018
Here's another case

User report: 30098471-hc
Ticket: 4093594-zen

[2021-06-25 13:02] #54012 closed, assigned to nobody

[2021-06-25 13:24] mmtr opened #54021 "Nav Unification: Create a system for storing the preferred view"
As part of #51441, we need to create a system for storing what's the preferred view for a given screen and user. The unified menu should check that preference and modify the URL of the relevant menu/submenu accordingly.

**Requirements**
- Preferred views should be set per site, per user, and per screen.
- Two possible values for a preferred view: default (Calypso) or classic (WP Admin).
- Menu or

[2021-06-25 13:27] razvanpapadopol opened #54022 "Signup: inconsistent width for Domains step"
### Steps to reproduce the behavior
Force an invalid state of the `/start/domains` step in the Signup flow.

#### What I expected to happen
In all states, width to be as in the default view (960px for the blue signup)

<img width="800" alt="Screenshot 2021-06-25 at 15 56 14" src="https://user-images.githubusercontent.com/14192054/123430197-908cea00-d5d0-11eb-9b68-035e549181ab.png">

#### What actu

[2021-06-25 13:30] pablinos commented on #54019
Fix for this in D63337-code

[2021-06-25 13:33] niranjan-uma-shankar commented on #53973
Ah yes, the third step "launching your site" is a hidden step and there's no UI attached to it. It only fires an API request to launch the site, so from the user's perspective there are only two steps to complete. I think this bug's been around even with the blue launch flow and not introduced by the reskin flow.

On a related note, the "Step 1 of 1" looks a bit off if there's only one step cc @ol

[2021-06-25 14:05] cpapazoglou commented on #52960
Reserved for onboarding.

[2021-06-25 14:07] nerdysandy commented on #53401
Reported on #30324477-hc

Safari 14.0 on Mac OS X 10.15.6

[2021-06-25 14:10] sixhours commented on #52563
I think the changes above pretty much addressed my confusion here, at least until there's a proper site editing flow.

[2021-06-25 14:10] #52563 closed, assigned to nobody

[2021-06-25 14:13] AlexanderMonsanto commented on #54018
Another ticket: 4094525-zen

[2021-06-25 14:23] saygunnyc opened #54024 "Notifications style updates: Copy alignment - Illustration - Background Color - Margin"
Creating an issue here to follow up on [the post](https://dotcomdesignp2.wordpress.com/2021/06/22/idea-update-notification-illustrations/) and the [comment](p9Jlb4-2HM-p2#comment-4065) over Dotcom Design P2.

**Task Details**
Looking at our current notifications module, especially the first notification user receives from WordPress.com – _"Welcome to WordPress.com!" message:_

- The current illust

[2021-06-25 14:31] cpapazoglou commented on #52301
👋 @serabi, I can't reproduce it in my Atomic sites too. Possibly it had to do with the fact we have temporarily "deprecated" the stats page. Can you confirm it works on your side now?

[2021-06-25 14:37] cpapazoglou commented on #53844
Reserved for onboarding.

[2021-06-25 14:40] philnick206 commented on #53401
Reported on #339201-hc

Was with Safari but didn't get the version

[2021-06-25 14:42] #38265 closed

[2021-06-25 15:54] daria2303 commented on #53401
4092455-zd-woothemes

[2021-06-25 16:41] xpurichan opened #54028 "Ian Atomic Walkthroughs (Video 3) - Page editor warns about unsaved changes when no changes are made"
### Video Information:
Video 3
0:28 - 0:45

### Summary:
When a new site is created we are taken to the home page’s editor. In this video Ian didn’t make any edits to the page (or click in to the body of the page), yet he received the “You have unsaved changes…” warning prompt when trying to exit from the page editor and return to the dashboard.

### What I expected to happen:
No prompt should app

[2021-06-25 16:48] xpurichan opened #54030 "Ian Atomic Walkthroughs (Video 3) - Hardcoded plugin data (author name) incorrect"
### Video Information:
Video 3
1:53 - 2:20

### Summary:
Ian mentions that the plugin data on wordpress.com/plugins is hard coded and notes some mis-information. In this example the TinyMCE Advanced reports the author name is “Andrew Ozz” on the page. Once you click the plugin the author name changes to “Automattic”.

### What I expected to happen:
Plugin data should be consistent across all pages

[2021-06-25 16:49] xpurichan opened #54031 "Ian Atomic Walkthroughs (Video 3) - Updating the featured plugins list"
### Video Information:
Video 3
2:20 - 3:23

### Summary:
We should question the “featured” and other plugins that we display on wordpress.com/plugin. Some examples:

* Akismet - already installed
* Elementor and Site Origin - Gutenberg competitors
* Classic editor - not ideal if we are recommending Gutenberg first

### What I expected to happen:
We could replace redundant/competitive plugins with

[2021-06-25 16:52] xpurichan opened #54032 "Ian Atomic Walkthroughs (Video 3) - WP Admin’s Plugins page isn’t accessible on Free plan"
### Video Information:
Video 3
5:04 - 5:24

### Summary:
Visiting DOMAINCOM/wp-admin/plugins.php leads to a “You do not have permission to access this page” error while using the free plan.

Noting that this WP Admin page isn’t accessible from the dashboard when the site is simple. We always link to wordpress.com/plugins when the site is simple (even if “Show wp-admin pages if available” is enable

[2021-06-25 16:55] xpurichan opened #54033 "Ian Atomic Walkthroughs (Video 3) - Add custom domain prompt to .wpcomstaging.com warning when going AT"
### Video Information:
Video 3
5:53 - 6:10

### Summary:
When making the site Atomic we see a prompt that states:
“Your subdomain will change from example.wordpress.com to example.wpcomstaging.com.”

### What I expected to happen:
We could enhance this from an undesirable warning prompt to a suggestion for adding a custom domain to the site.

### What actually happened:
We are only warned that thi

[2021-06-25 16:57] xpurichan opened #54034 "Ian Atomic Walkthroughs (Video 3) - Plugin’s description page continues to display after install"
### Video Information:
Video 3
6:45 - 7:40

### Summary:
1. Use a simple Business plan site
2. Click a plugin from wordpress.com/plugins
3. You will be taken to the plugin’s page, such as wordpress.com/plugins/buddypress/DOMAINCOM
4. Use the Install button to make the site Atomic
5. Note that after the plugin completes its install and activation we’re left on this wordpress.com/plugins/buddypress/

[2021-06-25 17:29] #40493 closed

[2021-06-25 17:57] JeffPare opened #54035 "Venture: Media & Text block is partially cut off on some screen widths"
### Steps to reproduce the behavior

1. Activate Venture theme
2. Add a Cover block (full-width) without media
3. Add a Media & Text block (wide width, media on the right)
4. Add an image to the Media & Text block
5. Add a heading with text to the Media & Text block
6. Publish the page

#### What I expected to happen

Proper display of the heading next to the image.

#### What actually happened

T

[2021-06-25 17:57] jp-imagines opened #54115 "Venture: Media & Text block is partially cut off on some screen widths"
### Steps to reproduce the behavior

1. Activate Venture theme
2. Add a Cover block (full-width) without media
3. Add a Media & Text block (wide width, media on the right)
4. Add an image to the Media & Text block
5. Add a heading with text to the Media & Text block
6. Publish the page

#### What I expected to happen

Proper display of the heading next to the image.

#### What actually happened

T

[2021-06-25 18:06] jeffgolenski commented on #47013
Thanks @autumnfjeld !

[2021-06-25 18:07] ClassicRKR27 opened #54036 "Video block will not autoplay on mobile"
### Steps to reproduce the behavior

1. Go to https://blakebays272021.wpcomstaging.com/about/ on mobile
2. Scroll down to see the video
3. See that autoplay does not run, playback buttons are still in use, and video does not loop despite settings (see below):

https://d.pr/i/EWknAp

#### What I expected to happen
Video should autoplay and loop.

#### What actually happened
Video does not act appro

[2021-06-25 18:33] emichals opened #54037 "Notify site admins when WordPress.com pushes updates to managed plugins and themes"
Wordpress.com pushed an update to the WordPress.com Editing Toolkit plugin on June 22, 2021 that created two CSS bugs in the Venture theme. ([here ](https://github.com/Automattic/wp-calypso/issues/54035) and [here](https://github.com/Automattic/wp-calypso/issues/54000)).

Site admins should be emailed whenever updates are pushed to themes and plugins managed by Wordpress.com. Otherwise, site admin

[2021-06-25 19:02] artpi opened #54038 "Earn blocks: Create Stripe customer"
Currently, the backend of the payments blocks is not creating a customer object on Stripe connected account.

It would be better if it did.
More details here: pNPgK-5tS-p2#comment-22226

[2021-06-25 20:15] xpurichan opened #54039 "Ian Atomic Walkthroughs (Video 3) - Caching issue with Calypso Plugins page showing after going AT"
### Video Information:
Video 3
7:37 - 7:46

### Summary:
Use a simple site with the Business plan
Install a plugin to make the site Atomic
Once the install completes and the plugin is automatically activated then click the Plugins button on the dashboard
You will be taken to wordpress.com/plugins instead of DOMAINCOM/wp-admin/plugins.php

### What I expected to happen:
Once the site is made Atomic

[2021-06-25 20:17] xpurichan opened #54040 "Ian Atomic Walkthroughs (Video 3) - WooCommerce appears in dashboard menu on AT site when it is not installed"
### Video Information:
Video 3
8:48 - 10:24

### Summary:
Make a site Atomic an any way (except by installing WooCommerce)
Refresh the browser screen to refresh the cache (or wait for a period of time)
“WooCommerce” will appear in the dashboard menu even though it hasn’t been installed

Clicking on the WooCommerce menu item will take customers through an install prompt which will install the plugi

[2021-06-25 20:20] xpurichan opened #54041 "Ian Atomic Walkthroughs (Video 3) - AMP plugin banner at the top of the Plugins page"
### Video Information:
Video 3
9:02 - 9:09

### Summary:
On DOMAINCOM/wp-admin/plugins.php we see a “Welcome to AMP for WordPress” banner with a description and “onboarding wizard” link at the top of the page.

We are just wondering about the relevancy and prominence given to this banner - is it something that we want to feature at the top of the Plugins page?

### Context:
Pod work

### Level of

[2021-06-25 20:20] xpurichan opened #54042 "Ian Atomic Walkthroughs (Video 3) - Classic editor is being preinstalled on AT sites"
### Video Information:
Video 3
No timestamp

### Summary:
When a site goes Atomic we automatically install the Classic Editor plugin, but leave it deactivated.
It doesn’t make sense to preinstall the Classic editor if we are heavily encouraging customers to use the block editor.

### Context:
Pod work

### Level of impact (Does it block purchases? Does it affect more than just one site?):
3/5

###

[2021-06-25 20:25] xpurichan opened #54043 "Ian Atomic Walkthroughs (Video 3) - Messaging on Plugins page says “__ is automatically managed for you”"
### Video Information:
Video 3
No timestamps

### Summary:
On Atomic sites we can visit DOMAINCOM/wp-admin/plugins.php to see a list of our installed plugins. We can see some preinstalled plugins such as Akismet and Jetpack which have this message next to their description:

“PLUGINNAME is automatically managed for you.”

I don’t understand exactly what this message is meant to tell the customer.

[2021-06-25 20:28] xpurichan opened #54044 "Ian Atomic Walkthroughs (Video 6) - Purchasing a Business plan leads to a “dead end” Congratulations page"
### Video Information:
Video 6
0:41 - 1:11

### Summary:
1. Use a simple site with the Premium or lower plan
2. Visit wordpress.com/plugins
3. Click the “Upgrade to the Business plan to install plugins” banner at the top of the page and complete the checkout process

You will now be taken to a “Congratulations on your purchase!” page which has some ‘next step’ type recommendations such as setting

[2021-06-25 20:29] xpurichan opened #54045 "Ian Atomic Walkthroughs (Video 6) - Plugins page displays Must-use and Drop-ins plugin tabs"
### Video Information:
Video 6
4:21 - 4:33

### Summary:
On an Atomic site we can go to DOMAINCOM/wp-admin/plugins.php which includes a few tabs: Active, Inactive, Must-use, Drop-ins.

The customer can’t do anything with the Must-use and Drop-ins tabs/plugins - is there any value in keeping them or can they be hidden/removed from the Plugins page?

### Context:
Pod work

### Level of impact (Does

[2021-06-25 20:56] carinapilar opened #54046 "Layout Grid: prevents excerpt contents from loading"
### Steps to reproduce the behavior

1. Create a new post
2. Add a Layout Grid block on it
3. Inside the Layout Grid block, add a Paragraph block with some text
4. Publish the post
5. Create a new page
6. Add a Blog Posts block, with the option to show the post excerpt
7. Publish the page and check the post on it

#### What I expected to happen
To see an excerpt for your published post.

#### What

[2021-06-25 21:16] JoshuaGoode commented on #53967
A similar, if not the same issue, occurred previously and was fixed back in February: 485-gh-Automattic/wpcomsh

cc: @kwight

[2021-06-25 21:51] JoshuaGoode commented on #53967
Started an internal thread: p1624656369088200-slack-C02FMH4G8

I'm leaving for now. I didn't see much but I found that `custom-colors` was updated recently: 700-gh-Automattic/wpcomsh

Looks like that that didn't get deployed until 2 days ago via WPCOMSH 2.7.6.4.

cc: @scruffian

[2021-06-25 23:05] hacchism commented on #53967
Another report with Rockfield theme - 30330631-hc

[2021-06-26 03:20] edwinho89 commented on #53401
30332749-hc
Safari 13.1 on Mac OS X 10.15.7

[2021-06-26 04:52] nagpai commented on #50746
@roundhill will this fix counts of past `days` too, or only of days after the fix?

Update: sorry cross that. I just read

[2021-06-26 10:11] AlexanderMonsanto commented on #53431
another report from yesterday 4094725-zen

[2021-06-26 13:33] aamills commented on #53967
Also reported in 30170776-hc - Rockfield theme

[2021-06-26 14:33] MaxPhilip commented on #53100
Another one 4096660-ZD

[2021-06-26 15:46] rossanafmenezes commented on #53401
30340148-HC

Screenshot provided on 4096836-ZD

[2021-06-26 16:48] JessBoctor commented on #33371
Had a report in #30340570-HC. Links kept changing to paragraph blocks which still embedded the video but wouldn't resize on mobile. Provided custom CSS as a workaround.

[2021-06-26 17:31] synora commented on #53650
Triaged. I can also replicate this.

[2021-06-26 17:40] synora commented on #53805
Triaged. Can replicate. As a workaround for now, highlighting the text with your mouse, right-click the mouse to copy the text, then pasting it to a page works.

[2021-06-26 17:50] hngdny commented on #54018
Possibly another one here: 4094244-zen

[2021-06-26 18:06] mikeicode commented on #53967
Another Shawburn 30342341-hc

[2021-06-26 18:07] JessBoctor commented on #53401
27221250- HC

Asked the customer to update Safari. They were using version 12

[2021-06-26 18:36] serabi commented on #54038
Feature requested in #4063765-zen

[2021-06-26 18:51] serabi commented on #53401
reported in 4084778-zd

[2021-06-26 19:10] nickpagz commented on #48865
Another report in 4089137-zen
I was able to remove the image so the user could add a different one in the customizer.

[2021-06-26 19:24] happychait commented on #52241
30342938-hc

[2021-06-26 19:49] hngdny commented on #50917
Another report (French): 4092476-zen

[2021-06-26 21:15] #36117 closed

[2021-06-27 00:43] donalirl commented on #53953
Another case of this in Safari 14.1 on Mac OS X 10.15.7. Post looks good in Chrome but in Safari shows:

<img width="823" alt="screen-shot-2021-06-26-at-7 34 02-pm" src="https://user-images.githubusercontent.com/30727666/123529531-779d4980-d734-11eb-8d35-afb80e4aed04.png">

Follow-up #4097630-zen

[2021-06-27 08:00] philnick206 opened #54053 "Storefront theme demos (Homestore and Bookstore) have broken social links on product pages"
### Steps to reproduce the behavior

1. Visit the theme demos for Homestore or Bookstore

https://themes.woocommerce.com/homestore/
https://themes.woocommerce.com/bookshop/product/the-tempest/

#### What I expected to happen

The theme demos should not have any issues

#### What actually happened

Homestore demo is missing category images on homepage

Both themes have social icons broken on their

[2021-06-27 08:42] Nic-Sevic opened #54054 "Nav unification: can't access infinite scroll option if WP-admin pages toggle on"
### Steps to reproduce the behavior

1. Go to Settings > Writing
2. Look for infinite scroll setting

#### What I expected to happen
When the default is set for wp admin pages and there are settings only available on calypso there should still be a way to get to the calypso version of the page

#### What actually happened
if you do not know the link to the calypso settings page you can't access in

[2021-06-27 09:18] kspilarski commented on #39153
Same case in 4098102-zen, I was able to replicate the issue as well. Nothing happens when "Export as JSON" is clicked under a reusable block.

[2021-06-27 13:59] ccwalburn opened #54055 "Logo won't save while Gutenberg plugin is activated"
Updating the logo in the Site identity section of the Customizer won't save. It allows you to change it, and clicking **Save Changes** appears to work, but when you go to the site, or back to the Customizer afterward, the old logo is back. This does not happen if the Gutenberg plugin is deactivated.

### Steps to reproduce the behavior

1. Ensure Gutenberg plugin is activated.
2. Go to Site Identi

[2021-06-27 15:20] mikeicode commented on #53967
Another Barnsbury 4096661-zd-woothemes

[2021-06-27 16:02] ChrissiePollock opened #54056 "Independent Publisher 2 - Post Header Toolbar Text White on White so not showing"
Set the theme as Independent Publisher 2

Go to a post in the editor and notice that the Header Toolbar Text is not visible until hovered over.

<img width="539" alt="Screen Shot 2021-06-27 at 11 51 23" src="https://user-images.githubusercontent.com/2545184/123551302-32324980-d73f-11eb-9c6f-83819fabfd9c.png">

When the theme is switched to TwentyTwenty we see:

<img width="533" alt="Screen Shot 20

[2021-06-27 16:37] mikeicode commented on #53967
Dara 29999701-hc

Only option:

![Screen Shot on 2021-06-27 at 12:36:51](https://user-images.githubusercontent.com/10353785/123552483-5c3a3a80-d744-11eb-9ea9-29e35e75af65.png)

[2021-06-27 17:25] mmtr commented on #53710
I'm planning to fix this in https://github.com/Automattic/jetpack/pull/20147 in order to make that PR easier to review by keeping the number of "exceptions" as low as possible.

[2021-06-27 17:35] metabreakr commented on #30426
26718976-hc

[2021-06-27 17:38] ccwalburn commented on #54055
Another case here: 30355259-hc
This site used the Baskerville 2 theme.

[2021-06-27 20:52] carinapilar commented on #53100
Another one: https://wordpress.com/pt-br/forums/topic/bloqueio-de-posts/

[2021-06-27 23:24] donalirl commented on #54055
Another case #30339833-hc with a third-party theme.

[2021-06-28 00:28] formosattic commented on #51787
4080362-zd-woothemes, issue keeps happening, twice in the same day.

[2021-06-28 00:32] goblinartificer commented on #52063
I received another request for this in 30357110-hc today. Specifically, what they wanted was a way to get business-addressed PDF receipts automatically attached, without the hassle of changing their billing company name each time and manually downloading the PDF after doing that.

I can definitely understand why a customer with a business might find our current state of affairs pretty cumbersome!

[2021-06-28 01:19] donalirl commented on #53967
Same issue on Dara theme in #30358452-hc (and on my test atomic site too.)

[2021-06-28 01:19] andrewserong commented on #54022
I'm not sure if this issue is related, but in the reskinned version of the same step, I noticed that there's a breakpoint where the padding on the step wrapper doesn't appear to be present, so the heading and container goes right up against the left side of the screen (I didn't have time to look closely, apologise for the drive-by report if it's unrelated!):

![image](https://user-images.githubuse

[2021-06-28 01:44] ollierozdarz commented on #53973
@StefanNieuwenhuis @niranjan-uma-shankar yeah, I don't think it's going to detract from the page if we were to hide the 'Step 1 of 1' there (above). Even for `/new` when we have 2-3 steps in the processing state, they're so fast (**and** have a progress indicator) that I think hiding the number wouldn't cause any negative movement in metrics.

[2021-06-28 01:52] ollierozdarz commented on #54014
Great initiative here @StefanNieuwenhuis! I have two thoughts on this.

1. For `/new` we wanted to remove the domain reference in the top header (which is pointed out in @razvanpapadopol 's screenshot), because I think this causes more places to potentially cause confusion in what is now quite a linear flow. We tentatively earmarked that and the 'Your plan' in the top right to be removed.
2. Since

[2021-06-28 02:01] ollierozdarz commented on #54010
@StefanNieuwenhuis it looks like the latest round of improvements have fixed the initial width issues to a reasonable amount of length.

The main fix I see here is that the domain names should have a line-height of say, 24px, then be vertically aligned centre within their rows. Right now it looks like we're using line-height: 3rem; which is causing the large amount of leading (line-height) and vis

[2021-06-28 02:22] yashitamittal11 commented on #54055
Also reported here- https://github.com/Automattic/wp-calypso/issues/54017

[2021-06-28 05:13] stefancln commented on #53401
another report 4085726 HC - on iPhone on both Safari and Chrome

[2021-06-28 06:14] lsl commented on #52740
D61461-code

[2021-06-28 06:14] #52740 closed, assigned to lsl

[2021-06-28 06:16] lsl commented on #52939
Partially complete with #53443 and D61461-code, moving remaining work to new tickets.

[2021-06-28 06:16] #52939 closed, assigned to lsl

[2021-06-28 06:20] lsl commented on #52741
This morphed into #52939 and is mostly closed by #53443.

[2021-06-28 06:20] #52741 closed, assigned to lsl

[2021-06-28 06:29] mmtr commented on #50945
We’re finally not including the quick switcher on My Home in order to keep it as the landing page when a user goes to `wordpress.com`. Instead, we’ll be registering a link to the classic dashboard in a separate submenu.

Further reading: pd2C0z-3q-p2#comment-146.

[2021-06-28 06:45] pablinos commented on #53907
This makes sense, but we would still want a way of going back/cancelling which is what the X is providing. @JanaMW27 Do we have a standard pattern for back buttons on pages like checkout?

[2021-06-28 07:29] jordesign commented on #54003
True - the 'n' for notifications center is something I've spotted in Gutenberg testing as well. I'll dig a little deeper. Thanks @jobthomas

[2021-06-28 07:41] JanaMW27 commented on #53907
The top header on checkout is this one. It is the minimal version of our navigation, keeping the user confined (as much as possible) within the checkout but allowing them to exit if need be. This is the pattern that we use across checkout. I don't think this needs to change.

[2021-06-28 08:00] MaxPhilip commented on #50917
Another report here (German): 4075751-ZD

[2021-06-28 08:20] paulbonahora opened #54060 "Uploaded custom theme activates automatically"
**Issue**

Theme activates automatically after uploading it despite the user still [sees the option to activate it](https://d.pr/i/iMVtX9).

**Expected behavior**

Plugin shouldn't activate automatically after uploading it.

Or

User should be redirected elsewhere and not being give then chance to "activate" a plugin that has already been activated. Customizer could potentially be one place to sen

[2021-06-28 08:24] paulbonahora opened #54061 "Error screen after customizing a recently uploaded theme"
**Issue**

User gets an [error screen](https://d.pr/i/syVEIM) after clicking on ["customize" on a recently installed plugin](https://d.pr/i/4dSuhT). It is unclear if this issue still persists while unproxied or after it only takes place while the user converts to atomic in the backend.

[Error screen doesn't show centered.](https://d.pr/i/9j3aR7)

**Expected behavior**

Page to load without error

[2021-06-28 08:28] paulbonahora opened #54062 "Domain changing from xxxx.wordpress.com to xxxx.wpstaging.com"
**Issue**

This is a known and a tricky one :) I think this one will be particularly important whenever we start offering plugin integrations to free sites. Domains shouldn't change from xxx.wordpress.com to xxx.wpstaging.com as users (specially those on free plans) sign up for a xxx.wordpress.com - we shouldn't change that experience. As a result [this screen](https://d.pr/i/oMuqYl) shouldn't exi

[2021-06-28 08:29] JanaMW27 commented on #53910
For this, I think we should have the checkout navigation or none so the user can't start a different action while loading.
I do think we should provide a progress bar of some sort to keep the user updated on progress rather than just waiting.

[2021-06-28 08:30] paulbonahora opened #54063 "Progress bar when uploading a theme in color that's out of branding guidelines"
**Issue**

Progress bar (indicative of the upload progress) [shows in black color](https://d.pr/i/IuvzTR).

**Expected behavior**

Use a color that represents our brand identity and use for that particular screen better.

[Reference video](https://cloudup.com/iDN7psUdgpo).

[2021-06-28 08:32] paulbonahora opened #54064 ""Coming soon" page showing while site converts to atomic"
**Issue**

While the site converts to atomic, it seems everything points to a ["coming soon" page](https://d.pr/i/8igBQh). Whether if the user wants to visit the site or click on a page/post to edit it.

If we wanted to still show that coming soon page we should fix the following: [changing the font color here and removing "Login" and "Start your site" buttons](https://d.pr/i/NlCGxa).

**Expected

[2021-06-28 08:35] paulbonahora opened #54065 "Error message shortly after uploading a custom theme"
**Issue**

If a user clicks on "activate" after uploading a first plugin (right after atomic conversion), [an error message is shown: "Unable to activate theme. Please contact support"](https://d.pr/i/7kLksg). The problem automatically stops happening once conversion to atomic is completed.

**Expected behavior**

Conversion to atomic should respond faster so that the error does not show.

[Refere

[2021-06-28 08:38] paulbonahora opened #54066 "Customizer opening on a different tab after activating a theme"
**Issue**

If a user clicks on ["Customize site" on the popup window that shows "theme activated successfully"](https://d.pr/i/2NxOHz) opens in a different tab.

**Expected behavior**

Customizer should open in the same tab and not in a new one.

[Reference video](https://cloudup.com/iDN7psUdgpo).

[2021-06-28 08:39] paulbonahora opened #54067 "Error message showing after editing tag line on Customizer"
**Issue**

If a user clicks on ["save changes" in the customizer after editing a tag line under "site identity"](https://d.pr/i/i2u1iJ) on a recently uploaded theme, an [error message reading "You need a higher level of permission" shows](https://d.pr/i/fW3SnC). It is unclear if this happens only when proxied or not.

**Expected behavior**

Error message shouldn't show and user should be able to s

[2021-06-28 08:56] #53981 closed, assigned to tjcafferkey

[2021-06-28 09:03] BogdanUngureanu opened #54068 "Nav Unification: menu not appearing on mobile for some Calypso pages"
The issue is reproduced on mobile resolutions, for the following Calypso sections:
- Settings > Discussion
- Settings > Performance
- Settings > Writing
- Settings > Jetpack (on Atomic)
- Posts > Tags (Calypso)
- Posts > Categories (Calypso)

### Steps to reproduce the behavior

1. Go to WordPress.com and select a site.
2. Switch your browser to a mobile resolution (from DevTools select a mobile d

[2021-06-28 09:10] BogdanUngureanu opened #54069 "Nav unification: The hamburger menu is displayed on mobile on Simple Sites WP-Admin"
### Steps to reproduce the behavior

1. Go to your yoursite.wordpress.com Simple site.
2. Change to a mobile resolution
3. Notice that the hamburger menu is displayed

#### What I expected to happen
There shouldn't be any hamburger menu since on Atomic and Calypso we use the WordPress icon to open the navigation.
#### What actually happened
A hamburger icon is displayed.
### Context

#### Browser

[2021-06-28 09:39] ahmadbaig1 commented on #53431
Reopening as found another report.
Site logo not getting changed even after saving.
30364477-hc
Theme- Stow

[2021-06-28 09:58] danmaze commented on #53978
Another example: 4099732-zen

There appears to be a trend here as we're seeing more users experience this.

[2021-06-28 10:11] gavande1 commented on #53401
Reported on # 27594746-hc was with Safari 13.1 on Mac OS X 10.13.6

[2021-06-28 10:15] KokkieH commented on #53401
https://wordpress.com/forums/topic/semi-opaque-black-section-appearing-on-drafts/ using Chrome 67 on MacOS

[2021-06-28 10:18] jsnajdr commented on #54003
The code that detects the `n` keyboard shortcut installs a `document.addEventListener( 'keydown' )` handler, and that handler exits early if the `event.target` is `input`, `select` or `textarea`. That prevents activating the keyboard shortcut when the user is typing into some input field.

The "Zone Regions" input, however, uses a select2 jQuery plugin that renders a custom select widget, and the

[2021-06-28 11:54] rezzap opened #54072 "Billing: User's Receiving a Partial Refund for renewal when Full Refund should be given"
I've come across two users in the last hour of chat that are only receiving a partial refund when doing the self-serve cancellation.

### Steps to reproduce the behavior

1. Go to Upgrades > Cancel and issue a refund and cancellation on a recent plan renewal that only includes the plan renewal
2. Click on cancel and refund
3. You'll only receive a partial refund even though you should be due the f

[2021-06-28 12:19] ivan-ottinger commented on #53967
Another report: 17130514-hc (Maywood on Atomic)
Follow-up: 4100453-zd-woothemes

[2021-06-28 13:15] jp-imagines commented on #53100
Another report in 21175436-hc.
Safari Version 14.1.1 (16611.2.7.1.4); MacOS 11.4 (20F71).

User unable to edit existing posts/pages or create new posts/pages.
Clearing cache doesn't resolve the issue.

[2021-06-28 13:36] cpapazoglou commented on #53431
Please do not reopen this issue as the root cause has been fixed.

Please refer to this P2 p7DVsv-bZF-p2 for future reports / incidents on how to fix the data corrupted.

[2021-06-28 13:36] #53431 closed, assigned to cpapazoglou

[2021-06-28 13:36] fetenlakhal commented on #50917
Another report (French) : 4100527-zen

[2021-06-28 13:38] sixhours opened #54075 "Theme Showcase: Add more comprehensive top card for active theme"
Make it easier to see which theme is active on your site by adding a larger and more detailed card at the top of the Theme Showcase.

<img src="https://user-images.githubusercontent.com/349751/123157236-2254f580-d41f-11eb-8aae-91f0baa3668b.png" />

Figma reference: QnkOH11BM3MoPFOFr2OTBC-fi-150%3A2253

Related to #53960

[2021-06-28 13:40] sixhours commented on #53960
I'm breaking this list up into bite-size issues so we're less likely to step on each other's toes and it's easier to keep track of progress. Links to new issues forthcoming. :)

[2021-06-28 13:45] sixhours opened #54076 "Theme Showcase: Bring theme search to the top of the page"
Move the existing theme search up so it's easier to find. Keep the `All | Free | Premium` segmentation for now, although it may move elsewhere.

<img src="https://user-images.githubusercontent.com/349751/123157236-2254f580-d41f-11eb-8aae-91f0baa3668b.png" />

Figma reference: QnkOH11BM3MoPFOFr2OTBC-fi-150%3A2253

Related to #53960

[2021-06-28 13:53] sixhours opened #54077 "Theme Showcase: Remove dropdown for search results"
The current showcase has this dropdown when you search by specific terms:

<img width="1360" alt="Screen Shot 2021-06-28 at 9 48 12 AM" src="https://user-images.githubusercontent.com/2124984/123647984-906e3380-d7f6-11eb-993f-fe8d81010151.png">

Let's remove the dropdown and update the search results automatically.

Related to #53960

[2021-06-28 13:55] sixhours opened #54078 "Theme Showcase: Remove Layout and Style filter features, and hide the bar behind an Advanced toggle"
We're going to reduce these to just Feature, Layout, and Subject, and hide them behind an Advanced toggle.

<img width="1368" alt="Screen Shot 2021-06-28 at 9 54 31 AM" src="https://user-images.githubusercontent.com/2124984/123648444-f35fca80-d7f6-11eb-885c-1270436cdb03.png">

Related to #53960

[2021-06-28 14:02] kathleenjross commented on #53401
Reported 30368230-hc using Safari 11.1 on Mac OS X (El Capitan)

[2021-06-28 14:35] ezebecke commented on #53401
Another instance: 4097518-zd

[2021-06-28 15:15] mreishus commented on #53967
Tried shawburn. After transferring to atomic, the "colors" menu in the customizer did not display. Inspecting the html revealed an inline style of display none was put on the entry:
![2021-06-28_10-14](https://user-images.githubusercontent.com/937354/123660914-b0ebbd00-d7f9-11eb-8238-09433e03e648.png)

[2021-06-28 15:28] jackiejade commented on #54055
Another case here with Veni theme and Gutenberg deactivated fixes the issue: #30369699-hc

[2021-06-28 15:32] rezzap opened #54080 "Image Block Doesn't Display In Post Subscription Emails"
### Steps to reproduce the behavior

1. Publish a new post which includes an image block
2. Receive the new post subscription email
3. Notice the Image does not display in the emails.

#### What I expected to happen

I'd expect the image to display in the email if it's been added to the post.

#### What actually happened

The images does not display.

### Context

4097415-zd-woothemes
p16248796063

[2021-06-28 15:55] rezzap commented on #54080
I think the issue here is that they are using the Excerpt setting and it won't display post content unless they add a manual excerpt and use HTML to embed an image.

There is another issue open https://github.com/Automattic/jetpack/issues/19888 to track featured images not showing in emails. I'm going to close this issue for now as I don't believe it's a bug.

[2021-06-28 15:55] #54080 closed, assigned to nobody

[2021-06-28 16:01] sirbrillig opened #54081 "Transaction errors on PurchaseModal may not be displayed"
If the transactions endpoint returns an error, `PurchaseModal` may not display it.

Originally reported in Slack here p1624870305072500-slack-C01VA100LEA

To reproduce:

First apply D63405-code to break the transactions endpoint and sandbox the REST API.

To get the modal to appear you'll need a Personal or Premium plan already purchased, and you'll need to have at least one stored card, then visi

[2021-06-28 16:03] sirbrillig opened #54082 "Postal code validation in PurchaseModal sometimes fails"
This might just be for test cards? More information is needed about how PurchaseModal gets its postal code information from stored cards.

Originally reported in Slack here: p1624870305072500-slack-C01VA100LEA

[2021-06-28 16:20] sixhours opened #54083 "Theme Showcase: Remove "Show all themes" button in favor of tabs"
<img width="852" alt="123157236-2254f580-d41f-11eb-8aae-91f0baa3668b" src="https://user-images.githubusercontent.com/2124984/123669979-b1d91a80-d80a-11eb-94d2-d1b22a9da57b.png">

Instead of separating Recommended and Advanced themes with the "Show all themes" button, let's sort using tabs for All, Recommended, and Advanced (to be renamed something nicer). Eventually we can add more tabs for differ

[2021-06-28 16:22] jeffgolenski commented on #41702
@autumnfjeld Yes indeed!

[2021-06-28 16:34] dlind1 commented on #50917
All locales with more than 60% translations were deployed now. Please let us know if any locale still doesn't display translated block titles/descriptions.

[2021-06-28 16:41] KirkwallDay commented on #53401
Another case here: 30371098-hc
Browser details:
screen Resolution:
1280 x 800
Browser Size:
1252 x 649
User Agent:
Safari 12.1 on Mac OS X 10.12.6

[2021-06-28 16:42] KirkwallDay commented on #54055
Another case here: 13266578-hc: Hever theme, deactivating Gutinberg worked. Tried to re-activate it after to see if they could still take advantage of the features. Reactivating the plugin removed the logo again. Advised them to leave it off.

[2021-06-28 16:55] mreishus commented on #54077
I believe the results already update automatically; clicking on the dropdown or pressing enter changes your search input, but a search is still happening even when the dropdown is being displayed.

[2021-06-28 16:57] sixhours opened #54087 "Theme Showcase: Update Experts banner use UpsellNudge component and styles"
This banner appears in the current "advanced" themes section:

<img width="1370" alt="Screen Shot 2021-06-28 at 12 57 06 PM" src="https://user-images.githubusercontent.com/2124984/123675107-5a3dad80-d810-11eb-9207-767b3e906b80.png">

Let's update the banner to use `UpsellNudge` rather than a custom component.

[2021-06-28 17:02] sixhours opened #54088 "Theme Showcase: Add a "Trending" tab"
Investigate the feasibility of adding a Trending tab section to the Showcase, as shown in Onur's mockups:

<img src="https://user-images.githubusercontent.com/349751/123157236-2254f580-d41f-11eb-8aae-91f0baa3668b.png" />

We may already have an endpoint to fetch "trending" themes to the Showcase.

[2021-06-28 17:19] JoshuaGoode commented on #53220
Another report via 7372198-hc, on Windows.

[2021-06-28 17:24] sixhours commented on #54076
This is also tied to #54083 so I've assigned myself to both, but happy to collab on a single PR.

[2021-06-28 17:27] JoshuaGoode commented on #53220
Related discussion: pbwngY-fZ-p2

TL;DR, Desktop app folks are aware and an updated version of the desktop app is still being worked on that will address this and a host of other issues.

[2021-06-28 17:43] allilevine commented on #54060
Noting impact score: 2/5

[2021-06-28 17:43] allilevine commented on #54061
Noting impact score: 3/5

[2021-06-28 17:44] allilevine commented on #54062
Noting impact score: 5/5

[2021-06-28 17:44] allilevine commented on #54063
Noting impact score: 1/5

[2021-06-28 17:45] allilevine commented on #54064
Noting impact score: 5/5

[2021-06-28 17:46] allilevine commented on #54065
Noting impact score: 4/5

[2021-06-28 17:46] allilevine commented on #54066
Noting impact score: 2/5

[2021-06-28 17:47] allilevine commented on #54067
Noting impact score: 4/5

[2021-06-28 17:48] supernovia opened #54089 "Nav Unification: Dashboard preferences toggle doesn't confirm "Settings Saved Successfully!""
I'm not sure when this happened, but a few of our volunteers [p8HJWS-Lu-p2](p8HJWS-Lu-p2) that the dashboard preferences save on switch [as requested here](https://github.com/Automattic/wp-calypso/issues/51464), but does not show a confirmation like this:
<img width="350" alt="Screen Shot 2021-06-28 at 11 42 51 AM" src="https://user-images.githubusercontent.com/3476361/123680488-00d08100-d806-11eb

[2021-06-28 18:05] kwight commented on #53110
This isn't particular to the flow given by the original poster, but will happen when activating a theme from any directly-accessed URL in the showcase, eg. https://wordpress.com/theme/twentytwentyone. Theme switch fails because there's no given site to which to apply it – normally found as a slug at the end of a theme showcase URL when coming in from `/themes` for logged-in users.

This will also

[2021-06-28 18:07] aamills commented on #53401
Another instance - 27120853-hc

[2021-06-28 18:24] pablinos commented on #54062
The suggestion for this one is to offer a free .blog domain, but that was suggested to only be for particular add-ons. Perhaps the solution is to offer a free .blog domain with any site with a marketplace add-on?

I'm not sure of the details, but as far as I know we're not able to offer Atomic sites on the .wordpress.com domain. The main issue being security.

It would also be good if we didn't ma

[2021-06-28 18:33] mreishus commented on #54078
If we keep these, they are essentially impossible to use with the auto-complete dropdown removed here (#54077). You need to search for `feature:<feature-name>`, but the feature name must be exact. Without the dropdown, there's no way to know what the feature names are. Clicking the "Feature" on the "Magic Welcome Bar" prefills your search with "feature:", but you still need to know what to type.
!

[2021-06-28 18:38] kriskarkoski commented on #54018
I believe #4097705-zen is related to this. I had an additional report as well before realizing this was the issue that I'll add if/when I find it. In my testing the modal loads but the preview also opens in a new tab on the first attempt.

In this case the user is seeing Page Not Found in the window that opens. Maybe a third-party cookie issue where they're not logged into the site that our change

[2021-06-28 18:52] kriskarkoski commented on #54018
#4097787-zen

[2021-06-28 19:01] kriskarkoski commented on #54018
4098156-zen

[2021-06-28 19:12] DavidRothstein commented on #54038
This would probably also fix the ability of the Earn blocks to work on Stripe accounts based in India, currently not possible due to https://stripe.com/india-data-storage-faq ("Payment information can no longer be cloned into or out of India").

See: pNPgK-5te-p2

[2021-06-28 19:15] sirbrillig commented on #54081
When the transaction endpoint returns an error, we correctly return an error response from the payment processor:

https://github.com/Automattic/wp-calypso/blob/8bbf750434c6e182dc47fc284a2cec1870330ede/client/my-sites/checkout/composite-checkout/lib/existing-card-processor.ts#L100

That error is supposed to be handled by the PurchaseModal's transaction hook, displaying the error to the user:

http

[2021-06-28 19:16] creativecoder commented on #54055
This appears to happen when the site_logo option and custom_logo theme mod get out of sync. Recent versions of Gutenberg have code to keep these in sync, but it only runs at specific times.

Example

- `site_logo` option is set to image 1
- `custom_logo` theme mod is set to image 2
- You'll see the image 1 in the customizer, because the `site_logo` (setting for the Site Logo block) overrides the `

[2021-06-28 19:17] creativecoder commented on #54055
^ Note that you'll need the Gutenberg plugin activated for these workarounds to take effect.

[2021-06-28 19:29] allilevine commented on #54034
Investigate: Default to redirecting to plugins.php, but see if we can redirect to specific plugin settings for popular plugins.
Or see if we can create some kind of modal or popup message to indicate that the plugin is installed (add settings links that you would normally see in plugins.php).

[2021-06-28 19:30] allilevine commented on #33066
See https://github.com/Automattic/wp-calypso/issues/54034

[2021-06-28 19:36] ktyfuller604 commented on #54018
Similar report here, they got a page not found when previewing a scheduled post. #2347495-hc

[2021-06-28 19:37] sirbrillig commented on #54082
Here's the form:

<img width="473" alt="Screen Shot 2021-06-28 at 3 34 38 PM" src="https://user-images.githubusercontent.com/2036909/123693935-ab589c00-d826-11eb-8e13-e4367eed83aa.png">

Here's the data that gets submitted to the `/me/transactions` endpoint:

![transactions_payload_failed_postal](https://user-images.githubusercontent.com/2036909/123693965-b3184080-d826-11eb-81c5-8e8b0fcd65d8.png)

[2021-06-28 19:40] allilevine commented on #53910
Separate issues:
1. Remove nav bar.
2. Figure out a way to display progress bars: https://github.com/Automattic/wp-calypso/issues/53911

[2021-06-28 19:44] sirbrillig commented on #54082
I suspect that the issue is just that the stored card being used was created before we had postal code validation and therefore has an invalid postal code. This won't come up in "regular" checkout because there we get the postal code and country from the domain contact details endpoint or require the user to enter it manually.

I'm not sure how best to resolve this since it could certainly happen

[2021-06-28 19:46] allilevine commented on #53918
Next steps:
- Fix modal load position (should be top)
- Needs redesign, messaging update, skip / upgrade buttons

[2021-06-28 19:49] allilevine commented on #53921
Add ability to clear search filter, 'x' to turn it off. Needs design input.

[2021-06-28 19:54] allilevine commented on #54028
Look into whether there's a quick fix, e.g. auto-save when we add the initial page content.

[2021-06-28 19:56] allilevine commented on #54042
Check if this requires an update to the documentation, for example if we reference the plugin as being available by default.

[2021-06-28 19:58] carladoria commented on #54055
another case with a Simple site in 30373872-hc
xivfurniture.com
Is there any workaround for Simple sites? Tried adding/removing/saving several images

[2021-06-28 20:01] carladoria commented on #53967
Another reported in Dara 30373017-hc

[2021-06-28 20:09] DavidRothstein commented on #51996
Came up here also (internal link): pNPgK-5u1-p2

[2021-06-28 20:11] mreishus commented on #54077
* Removes Component Entirely: https://github.com/Automattic/wp-calypso/pull/54092
  * There seems to be some issues with this, the specific 'feature' search will essentially be impossible to use in this state.
* Alternative Approach: Make it appear less often: https://github.com/Automattic/wp-calypso/pull/54097
* Alternative Approach: Make the matches more strict: https://github.com/Automattic/wp-

[2021-06-28 20:26] metabreakr commented on #53953
4098663-zen

Not sure if they're using Safari, though will suggest they consider an alternative browser.

[2021-06-28 20:33] kwight commented on #54018
The "page not found" seems to be transitory (at least the time I saw it); "page not found" would flash, then the correct post would load.

[2021-06-28 20:37] kwight commented on #54018
I'm labelling this as "normal" because it's an obviously broken WP.com experience, but it has reverted to WP core behaviour of opening in a new tab (which works most of the time?). There are no recent ETK, wpcom-block-editor, or Calypso changes that would seem to account for it.

[2021-06-28 20:41] msilbers commented on #53401
reported in 18626255-hc for a customer using Safari 13.1. I suggested they update Safari

[2021-06-28 21:11] sixhours commented on #54083
The tabs are proving tricky, but I think I'm onto a solution.

The current Recommended Themes were kinda plopped over the existing Theme Showcase infrastructure rather than being integrated into it, so they don't take advantage of search or filtering capabilities available to the "all themes" view. They have a separate query and their own actions, selectors, and reducers from the themes library as

[2021-06-28 21:26] dpasque opened #54102 "Domain Management: Updating custom name servers doesn't have a loading UI state"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/domains/manage for a site with a custom domain
2. Select the custom domain and click the three dots to get the name server settings
3. Click "Change your name servers and DNS"
4. Uncheck the toggle to Use WordPress.com name servers
5. Add two custom name servers (can be anything)
6. Click button to Save Custom Name Servers

#### W

[2021-06-28 21:44] the-misha commented on #54018
4097219-zd-woothemes

EDIT: This seems to be an issue for posts in Draft, as I'm able to preview Published posts without an issue. Also, if I select Preview from the "three dots" menu from the Posts page, I can preview the post without issue.

[2021-06-28 21:45] kriskarkoski commented on #53953
4093086-zen. Safari (unclear what version). Suggested trying Chrome or Firefox as workaround.

[2021-06-28 21:48] kwight opened #54103 "Custom Colors: Update wpcomsh submodule to the head of `remove/custom-design-dep`."
The custom colors submodule is not up-to-date with the branch its based on, `remove/custom-design-dep`. Let's get them in sync.

[2021-06-28 22:28] kwight opened #54104 "Theme Showcase: Find out how often the "built by WordPress.com" banner is clicked."
There's an old Nessie-style banner under the Advanced button of the Theme Showcase, which promotes our "built by WordPress.com" service. It would be great to remove this hidden, out-of-date design, but we'll need to sort out how, if at all, it would fit into the new layouts in https://github.com/Automattic/wp-calypso/issues/53960. The first step is finding out through any available Tracks events h

[2021-06-28 22:41] tanjoymor commented on #53401
Another report here: 3466601-hc

I didn't get their browser details beyond Safari, but was able to reproduce it in my Safari: Version 13.1.2 (13609.3.5.1.5)

[2021-06-28 22:50] kwight commented on #54104
There's a `calypso_upwork_banner_start_now_button_click` Tracks event that shows the "Find your expert" button is being clicked about 300 times a day (not much, but not nothing). 60% of users clicking are on the Free plan, and 65% have only one site. There's no way to see what percentage actually convert at all, since there's no corresponding event for the "Apply" button on the target page.

[2021-06-28 22:50] #54104 closed, assigned to kwight

[2021-06-28 22:51] kwight commented on #54087
It's clicked about [300 times a day](https://github.com/Automattic/wp-calypso/issues/54104#issuecomment-870097205).

It's used enough that I wouldn't want to risk completely removing it at this stage, but if we need to incorporate it into the new design in https://github.com/Automattic/wp-calypso/issues/53960, it should at least be brought up to a current design look (I don't know if we can make i

[2021-06-28 22:56] gwensmithx commented on #53102
I have another to add here:

30317279-hc
4101765-zen

Using Chrome with custom domain as primary, we set the site (AT) to private and image links on most products were broken. Also visiting the site in incognito mode still showed the page still but with the broken images. When site is public all images are working fine. Also switching to the wpcomstaging domain when site is private will show the p

[2021-06-28 23:58] kwight commented on #54077
Wonderful option.

[2021-06-28 23:59] kwight commented on #53967
The PR that caused this issue will be reverted tomorrow. 👍

[2021-06-29 00:03] emilyaudela opened #54105 ""Back" button on Add Email screen doesn't do anything"
### Steps to reproduce the behavior

1. Go to WordPress.com
2. Click on Upgrades -> Domains
3. Under Email, click "Add"
4. Clicking on the "Back" button does not take me to the previous page. The URL changes from wordpress.com/email/{site URL}/manage/{site URL} to wordpress.com/email/{
site URL} but the screen stays the same.

When clicking directly on Upgrades -> Email, the back button doesn't do

[2021-06-29 00:24] kosiew commented on #54017
Closing this in favour of https://github.com/Automattic/wp-calypso/issues/54055

[2021-06-29 00:24] #54017 closed, assigned to nobody

[2021-06-29 00:29] aisajib commented on #54055
Also reported in 30360146-hc - the second workaround worked (the first one didn't work since when I went back to the customizer, there were no images to begin with, and selecting another didn't do anything).

[2021-06-29 00:46] donalirl commented on #53953
Another case #30376692-hc

[2021-06-29 00:57] aisajib commented on #53967
Also reported in 30360146-hc using the leven theme.

[2021-06-29 01:34] edwinho89 commented on #47718
4092852-zd-woothemes

OS: catalina 10.15.7
Reported user had similar issue, but reinstalled 6.15.0 fixed it (did not get version before reinstalling)

[2021-06-29 01:43] katiebethbrown opened #54106 "Can't Paste Following a SHIFT-RETURN With Gutenberg 10.9.1 Active"
### Steps to reproduce the behavior

1. Open a post or page in the editor.
2. Copy something (a link, etc) to your clipboard
3. Add text to a paragraph block and type SHIFT-RETURN for a new line in the same block
4. Use CTRL-V to paste the contents of your clipboard

#### What I expected to happen

The contents of my clipboard to show in the block

#### What actually happened

The clipboard conten

[2021-06-29 02:02] katiebethbrown commented on #54106
Looks like this _may_ be corrected with this merge to GB 11

https://github.com/WordPress/gutenberg/pull/32527

[2021-06-29 03:20] formosattic commented on #53967
+1 4102274-zd-woothemes with Natural theme.

[2021-06-29 03:24] tanjoymor opened #54107 "Preview of Draft posts returns 404 error"
### Steps to reproduce the behavior

1. Go to any Simple site
2. Open a saved **Draft Post** (not Page, not Published) - in the Block editor
3. Click the Preview link
4. New tab opens and displays a 404 error

#### What I expected to happen

A preview of the post to display.

#### What actually happened

- New tab opens and displays a 404 error.
- All browsers I've tested: Chrome, Safari, Firefox

[2021-06-29 05:19] lsl opened #54108 "Add logmein usage on links rendered in the editor"
**Task Details**
#53443 introduced the logmein function but its `attachLogmein` method only works on links rendered by calypso, inside etk there is no such attachment triggered.

I suspect we need to move [this lib](https://github.com/Automattic/wp-calypso/tree/trunk/client/lib/logmein) into a package and consume it by ETK but there might be a better way to do this.

**Related to**
#53443

[2021-06-29 05:21] lsl opened #54109 "Add logmein to mapped domains on reader links"
**Task Details**
In #53443, @niranjan-uma-shankar identified links to mapped domains shown in the reader will also need logmein parameters added to url's to enable logged in features on mapped domains.

As we need access to the site type and domain mapping status I suspect this may be easier implemented as a serverside change in the endpoints being used by the reader.

[2021-06-29 05:45] joweber123 commented on #54018
I have created three how-to-videos to show how a user can use the responsive design mode in Safari, Chrome, Firefox as a workaround while this is being fixed.

Safari How-to-Video - https://d.pr/i/44ySht
Safari Guide - https://developer.apple.com/safari/tools/

Chrome How-to-Video- https://d.pr/i/fPArfd
Chrome Guide - https://developer.chrome.com/docs/devtools/device-mode/

Firefox How-to-Video- h

[2021-06-29 06:11] lsl opened #54110 "Add e2e test for logmein"
**Task Details**
Add e2e tests covering `logmein` introduced by #53443.

Initial work underway in #53979

[2021-06-29 06:39] lsl commented on #52944
Partially fixed by #53443.

Follow up issues in the queue: #54110, #54109, #54108

I think you might have some open diffs for this but I'm not sure of the status so re-open if closing this was a mistake.

[2021-06-29 06:39] #52944 closed, assigned to niranjan-uma-shankar

[2021-06-29 06:39] rezzap commented on #54018
Another report of this in 4099282-zen seeing the "page can't be found" report. I'll gather more details before providing how-to guides.

[2021-06-29 06:44] #53419 closed, assigned to taggon

[2021-06-29 06:49] taggon commented on #53419
The fix has been shipped.

[2021-06-29 08:02] razvanpapadopol opened #54112 "Signup: issues with title on Plans step"
**Dev note**: To fix, start from https://github.com/Automattic/wp-calypso/pull/52358#issuecomment-870373839
___

### Steps to reproduce the behavior

1. Go to https://wordpress.com/start/with-theme?theme=seedlet or any other blue flow with a plans step
2. Advance to plans step

#### What I expected to happen
- Title to be the same size as it is on domain step

#### What actually happened
- The tit

[2021-06-29 08:23] SteffanCline commented on #53978
I too am having this issue and have not heard of anyone being successful in nearly a week now. Any progress?

[2021-06-29 08:29] ivan-ottinger commented on #53401
Another report: 4084211-zd-woothemes
Safari 11, OS X 10.11.6

[2021-06-29 08:30] formosattic opened #54113 "Blog Posts block: styling of section Header is too small, no options to customize"
The header of the Blog Posts block is really small, and there's no options to customize it.<br>Blog Posts block doc: [https://wordpress.com/support/wordpress-editor/blocks/blog-posts-block/](<https://wordpress.com/support/wordpress-editor/blocks/blog-posts-block/>)

A workaround is to leave the Header blank, and use a Heading block above it.

![image](https://uploads.linear.app/f629fcde-6f9b-48e8-

[2021-06-29 08:41] jsnajdr commented on #54018
This is what I found when debugging this:

Natively, the `button.editor-post-preview` click event is handled by the [`openPreviewButton`](https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/post-preview-button/index.js#L150) method in Gutenberg. That method opens the preview in a new tab. When I'm testing in Calypso iframe, this method _is_ called, although it shouldn'

[2021-06-29 08:42] KokkieH commented on #54018
Another report in https://wordpress.com/forums/topic/previewing-post-layouts-in-mobile-tablet-desktop/

[2021-06-29 08:44] Robertght commented on #54106
I can confirm this is a problem on my end as well and on the user's.

Ticket: 4100337-zen

[2021-06-29 08:48] Robertght commented on #53591
I think this is the same issue as this one: https://github.com/Automattic/wp-calypso/issues/54106

I'm voting in closing this one in favor of the above for now.

[2021-06-29 09:03] razvanpapadopol commented on #50513
@ollierozdarz, WDYT about making the unselect action more explicit? Something like adding a 'clear selection' button:
<img width="1274" alt="Screenshot 2021-06-29 at 12 02 28" src="https://user-images.githubusercontent.com/14192054/123769415-f67bb900-d8d1-11eb-9212-d39af869b905.png">

[2021-06-29 09:08] ivan-ottinger commented on #54107
Another report: 4100473-zd-woothemes

I could reproduce the issue in Safari, Ghost and Firefox. On the other hand, everything is working correctly when I SU via Chrome.

The user can see the preview when they use Chrome.

[2021-06-29 09:22] razvanpapadopol commented on #54010
@ollierozdarz, https://github.com/Automattic/wp-calypso/pull/54120 should fix that 👌🏼

A couple points left to discuss:
- [ ] The domain name was already vertically aligned well with the "Select" button. However, we need to work a bit on the second column (price element) that sometimes shows a gap in the middle. If we remove that gap, "Free for the first year" won't be aligned to top with the doma

[2021-06-29 09:33] kspilarski commented on #50408
Same case as 4100861-zen.

Workaround for 4100861-zen: instead of site logo block, we used image block so it's centered.

[2021-06-29 09:51] galakhyati commented on #54055
Another case here:
Simple site.
Site: https://traductionsbrio.com/

[2021-06-29 10:02] liviopv commented on #53953
Another case, with a slightly different pattern on 4078367-zen

In this case, the user experiences this on multiple sites on the Premium Plan and lower while using Firefox.

The error shows up inconsistently and it could be related to Reusable Blocks - I asked the user to send more info so we can establish a pattern.

The user sent us some logs of what the browser was doing right before they got t

[2021-06-29 10:22] #53591 closed, assigned to nobody

[2021-06-29 10:45] #51334 closed, assigned to nobody

[2021-06-29 11:25] carinapilar opened #54114 "Scratchpad: Gallery Widget is Being Cropped"
### Steps to reproduce the behavior

1. Activate the Scratchpad theme on your site.
2. Go to the Customizer and add a Gallery widget to the Sidebar area.
3. Select some images for the gallery, and choose the Type "Tiled Mosaic" or "Circles"

#### What I expected to happen
To see the gallery on the sidebar.

#### What actually happened
The gallery is being cropped.

### Context

#### Screenshot
![G

[2021-06-29 11:33] #54000 closed, assigned to nobody

[2021-06-29 11:43] ivan-ottinger commented on #54107
Thanks, @mrfoxtalbot! Yes, it seems to be the issue.

[2021-06-29 12:00] tjcafferkey commented on #50844
@stephdau we have implemented an early version of a feature we've been working on where a user can use the Screen Options tab to switch between Calypso / WP Admin for views that appear in both. This should satisfy the below

Based on this, I am going to close this issue but feel free to reopen for discussion if you feel it's not a good enough solution.

[2021-06-29 12:00] #50844 closed, assigned to nobody

[2021-06-29 12:30] sajmes commented on #53967
30384080-hc - would like to be notified when resolved.

Theme: Coutoire and option completely gone in customizer.

[2021-06-29 12:38] philnick206 commented on #53401
Another report: #4102937-zen

[2021-06-29 12:51] #54021 closed, assigned to mmtr

[2021-06-29 12:51] #53710 closed, assigned to mmtr

[2021-06-29 12:53] kathrynwp commented on #54075
Suggestion – now that we have a separate support doc all about theme switching, could we consider adding another sentence after "This is the active theme on your site" to link to it? We get tons of questions from users about the implications of theme switching, and this would be a logical spot to link from. Something like:

Also: could we please make sure any new strings get submitted for translat

[2021-06-29 12:58] kathrynwp commented on #54083
Just throwing out a suggestion:

Conventional

[2021-06-29 13:01] kathrynwp commented on #54088
Just noting for the record that "trending" themes aren't something users typically ask for or seem interested in.

Instead, they are interested in finding a theme that fits the vision they have in their mind, or that looks like another site they've seen.

So I'm not sure how valuable this view would be and I'm just wondering what the reasoning behind adding this view would be.

[2021-06-29 13:14] lizswafford commented on #54055
29967113-hc
Simple Site.
Workaround using Site Logo Block fixed it.

[2021-06-29 13:29] StefanNieuwenhuis opened #54118 "Reskinned Launch: Hide the "Step 1 of 1" copy"
![image](https://user-images.githubusercontent.com/12104589/123806015-d60e2780-d8ee-11eb-8c2b-48246ee19472.png)

@StefanNieuwenhuis @niranjan-uma-shankar yeah, I don't think it's going to detract from the page if we were to hide the 'Step 1 of 1' there (above). Even for `/new` when we have 2-3 steps in the processing state, they're so fast (**and** have a progress indicator) that I think hiding th

[2021-06-29 13:30] StefanNieuwenhuis commented on #53973
Thanks @ollierozdarz, I created https://github.com/Automattic/wp-calypso/issues/54118 to keep track.
What about https://github.com/Automattic/wp-calypso/issues/53973#issuecomment-868503576?

[2021-06-29 13:34] sixhours commented on #54083
It came up in Slack that we probably won't add a specific tag for Advanced themes: p1624905131164700/1624902974.164200-slack-C0202PMUXLJ

Which makes sense; they'll still be under All but we want to put the best ones forward. :)

[2021-06-29 13:34] mikeicode commented on #53401
4175683-hc

Safari 14.0 on Mac OS X 10.15.7

[2021-06-29 13:36] kathrynwp commented on #54078
I’ve compiled some feedback and recommendations from several HEs about this potential change:

- HEs still often use _some_ of these filters to find themes to fit users’ specific requests, particularly the **Feature** filter. Several mentioned being able to find a theme with a sidebar, since most of a the current Recommended Themes do not have a sidebar, and without the filter it would otherwise b

[2021-06-29 13:45] stephanethomas commented on #54105
Thanks for the report! I believe this is because we show the `Email Comparison` page instead of the `Emails` page at https://wordpress.com/email when there is only one eligible domain on the site. We should probably hide the `Back` button in that case.

[2021-06-29 13:50] sixhours commented on #54078
Ahh, that's a good point. :-/ Could we only show the search dropdown piece when using the "advanced search" as Kathryn suggests below?

@ianstewart What do you think about this as an interim solution for this sprint? It sounds like total removal would be disruptive to HE workflows.

[2021-06-29 13:53] kathrynwp commented on #54077
I'd love to see how this would work in practice – let me know if there's a way I can test it! (Edit: I also commented on the PR itself)

[2021-06-29 14:03] sophiegyo commented on #54055
Atomic site, same issue:  #30385906-hc

Logo just didn't display at all (in the Customizer, or anywhere else) with Gutenberg active.

Fixed by: deactivating Gutenberg (version 10.9.1)

[2021-06-29 14:06] rezzap commented on #53953
Another case here: 18875872-hc

I'm not replicating but they are seeing this in both Firefox and Safari every time they try to edit a post.

I've had a couple other reports similar to this today also (about 3-4 others). I can add links to these after some digging.

Clearing cookies and cache worked for one user.

[2021-06-29 14:08] DanielSmithMichigan commented on #53967
@andres-blanco and I have merged a pull request which we think should resolve the issue. We are waiting for the automated system to detect and deploy the patch.

708-gh-Automattic/wpcomsh

[2021-06-29 14:22] tjcafferkey commented on #51435
Users now have the ability to use "Screen Options" to change the individual view to Calypso where the feature is available.

[2021-06-29 14:23] #53848 closed, assigned to nobody

[2021-06-29 14:28] AlexanderMonsanto commented on #54018
possibly related zen-4094525

[2021-06-29 14:35] ivan-ottinger commented on #53401
24754460-hc
Safari 13.1.2 on Mac OS X 10.15.6

[2021-06-29 15:01] cpapazoglou commented on #40199
That's the usual behavior in IOS when `font-size < 16px` for the focused field. It zooms in the whole page assuming that any `font-size < 16px` is not legible enough.

Probably changing
https://github.com/Automattic/wp-calypso/blob/7fcaec0432d9d76c548f2fe998025d691a7f79ea/client/components/happychat/composer.scss#L22

to `$font-body` which results to `16px` will resolve the issue.

Reserved for on

[2021-06-29 15:01] msilbers commented on #52992
@mrfoxtalbot Can you confirm this is the same issue? The issue you linked mentions Safari specifically and is about loading in the editor, not the front end

[2021-06-29 15:04] sarahfg opened #54123 "Tiled Gallery: Oveflow issues in Classic Block"
### Steps to reproduce the behavior

1. Add a Classic Block
2. Use the media insert tool to add a tiled gallery
3. Preview or publish the page on a smaller screen
4. See error

#### What I expected to happen

I expected the tiled gallery in a classic block to show all the images in it on all screen sizes

![tiled gallery block](https://user-images.githubusercontent.com/7907292/123817692-5c624380-d

[2021-06-29 15:06] #54081 closed, assigned to sirbrillig

[2021-06-29 15:07] kriskarkoski commented on #52728
@mrfoxtalbot I'm reopening this as the issue is not with what's shown in the editor, but rather when the inline embed option is enabled it still shows as a link and button on the front-end rather than how it looks in the editor. Perhaps we should update the title/description to make the issue more clear?

[2021-06-29 15:12] mreishus commented on #54078
Do you know how they search for sidebars? I wasn't able to find anything matching under the feature section (unless it's fixed menu?):
![2021-06-29_10-11](https://user-images.githubusercontent.com/937354/123823158-8c0f4c80-d8c2-11eb-804f-195fe32f6249.png)

[2021-06-29 15:17] kathrynwp commented on #54078
@mreishus Actually it's under Columns, so though no one mentioned Columns specifically, it's the sidebar options there that _are_ well used. (and sorry for my misleading comment about it above!)

![WordPress_Themes_‹_Global_Styles_Demo_—_WordPress_com](https://user-images.githubusercontent.com/7662449/123823639-60449480-d8cb-11eb-935e-349ddfb77759.jpg)

[2021-06-29 15:17] #54082 closed, assigned to sirbrillig

[2021-06-29 15:25] metabreakr commented on #53830
@mrfoxtalbot That's the one!

[2021-06-29 15:25] druesome commented on #54055
Chat: #30387014-hc

Gave them this CSS as a workaround.  Note that there has to be a site title and it must be visible on the site for this to work.

[code]

[2021-06-29 15:34] nickpagz commented on #52992
Another report here:
2382389-hc

[2021-06-29 15:50] yansern commented on #45110
If my understanding is correct (well, I'm known for misdiagnosis anyway so take things with a grain of salt), the facebook url itself acts as a shortcode.

What [shortcodes/facebook.php](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/shortcodes/facebook.php) does is that it creates a div container out of these links.

And a FB script is injected during the page

[2021-06-29 15:56] mreishus commented on #54077
Wrote a comment about disadvantages of the "less often" Alternative Approach in that PR: [Link to comment](https://github.com/Automattic/wp-calypso/pull/54097#issuecomment-870701939) (tldr; makes it harder for users to find the features they do want like sidebars)

I started to wonder just why so many KeyedSuggestions are appearing and looked into a strange one to find the mechanism.
![2021-06-29_

[2021-06-29 16:10] yansern commented on #45208
I moved this back to Needs Triage because this is not a bug but a feature request.

The existing notifications content renderer clearly wants to simplify the content of the post body or comment body. So it was by design embed contents were missing.

What needs to be triaged is the product decision behind this. The question we should ask is: **How do we want to display the embed content in notifica

[2021-06-29 16:12] DanielSmithMichigan commented on #53967
The revert patch is in production now. 708-gh-Automattic/wpcomsh

Coutoire, Natural, Leven, Dara, Maywood, Barnsbury, Karuna and Carbon appear to be working correctly.

Rockfield - "Colors & Backgrounds" option shows up. But customization seems limited. This is probably a separate issue, since it works the same way on simple sites. [Simple Site Demo](https://user-images.githubusercontent.com/10274

[2021-06-29 16:13] DanielSmithMichigan commented on #53967
@sajmes please see above: https://github.com/Automattic/wp-calypso/issues/53967#issuecomment-870733221. Issue should be resolved

[2021-06-29 16:19] sanjeev00733 commented on #53978
Another report in 4099941-zen

[2021-06-29 16:20] ianstewart commented on #52933
@razvanpapadopol moving this one to the Create Focus for taking a look at after we ship the Design Picker for everyone in /start flow.

[2021-06-29 16:35] KirkwallDay commented on #54055
Another instance here: 5134826-hc.
The workarounds didn't work. They will need to be notified when the bug is fixed.

[2021-06-29 16:35] #52216 closed, assigned to mattwiebe

[2021-06-29 16:48] andres-blanco commented on #53967
The issue with Shawburn also happens on Simple Site

[2021-06-29 16:55] KirkwallDay commented on #54055
Another instance here: 27261916-hc
Workaround 2 worked.

I think the workarounds only work if the site currently has a logo, with no logo before the bug occurred, they seem not to work.

[2021-06-29 17:14] dhackneya8c commented on #54055
Another report: 30388973-hc
Deactivating Gutenberg worked

[2021-06-29 18:13] RafaelFunchal commented on #53401
3106836-hc
Safari 14.0.1 (16610.2.11.51.8) on Mac OS X 10.15.6

[2021-06-29 18:15] msilbers opened #54129 "Clicking My Sites from any WordPress.com site loads generic stats page"
### Steps to reproduce the behavior

1. Log into WordPress.com
2. Visit any of your WordPress.com sites on the front-end while logged in
3. Click My Sites
4. See that it starts to load wordpress.com/sites/SITEADDRESS but redirects to https://wordpress.com/stats/day

#### What I expected to happen

I believe this used to land us on My Home for either the current site or Primary site

#### What actu

[2021-06-29 18:24] razvanpapadopol commented on #54014
Actually, it exists somehow in the launch flow, or at least this is what I understand from the following statement and screenshot, taken from https://github.com/Automattic/wp-calypso/issues/53975 👇🏼

So I guess it makes sense to show some selected state within the domain suggestion list since we are persisting it between steps (and sessions) and we also display the custom domain name on Plans step

[2021-06-29 18:29] razvanpapadopol opened #54131 "Signup: inconsistent padding for Domain step on mid-size viewports"
There are some breakpoints where padding is inconsistent in the reskin variant of Domain step.
Mentioned in https://github.com/Automattic/wp-calypso/issues/54022#issuecomment-869267194

[2021-06-29 18:33] kwight commented on #54077
My first thought is that `twen` matches the Twenty-something themes, which likely support many menus? For example, Twenty Twenty shows as supporting multiple menus ([source](https://theme.wordpress.com/wp-admin/post.php?post=36834&action=edit)):

<img width="325" alt="Screen Shot 2021-06-29 at 11 30 57 AM" src="https://user-images.githubusercontent.com/349751/123849529-c03c3a80-d8cd-11eb-96e4-97ba

[2021-06-29 18:36] kwight commented on #45208
I'd consider this a bug; the OP image shows a full raw shortcode, as opposed to a clickable link (it feels like the equivalent of showing raw escaped HTML).

[2021-06-29 18:58] metabreakr commented on #53953
4098757-zen

[2021-06-29 19:25] metabreakr commented on #44270
4097067-zen

[2021-06-29 19:33] andres-blanco opened #54135 "Theme Sheet: '<- Back' button not working correctly"
### Steps to reproduce the behavior

1. Go to /theme/spearhead/[YOUR_SITE]
2. Click on 'My Sites'
3. Click on '<- Back' button
3. Nothing happens

#### What I expected to happen
To go somewhere. Maybe a sensible place is /themes/[YOUR_SITE]

#### What actually happened
Nothing happens

[2021-06-29 19:45] sixhours commented on #54087
We can restyle it as an UpsellNudge without making it a JITM if we have to. IIRC our ads are still not consolidated into one system anyway.

[2021-06-29 19:45] azollafox opened #54137 "Ovation: Full Width Video Embeds Broken"
### Steps to reproduce the behavior

1. Open a new page and add a Vimeo block
2. Set the block to be Full Width
3. Publish the page
4. See error

#### What I expected to happen

I expected what I see in the editor to match the published page

![ovation vimeo editor view](https://user-images.githubusercontent.com/7907292/123857681-a102d480-d8f0-11eb-8815-4e42fc531fa3.png)

#### What actually happen

[2021-06-29 19:57] bryandev602-gh commented on #54107
Some new reports: 4101401-zd and 4101957-zd.
I was able to reproduce this issue once in my test website (Google Chrome, Premium  Plan), but on my second try with another post I didn't see the same issue.

[2021-06-29 20:04] Robertght commented on #53716
Thank you for reporting this @lizswafford !

I looked into it and it appears the blocks showed up correctly. I'm wondering if this is specific to a certain theme for now.

Also, does [this](https://github.com/Automattic/wp-calypso/issues/33371) look similar to the one above?

[2021-06-29 20:08] mattwiebe opened #54138 "Full Site Editing: fetch theme supports flag from remote site"
In #52981 we see that Jetpack-connected sites (Atomic, in that case) incorrectly redirect the Site Editor to the post editor. This is because the Site endpoint does not set the `is_core_site_editor_enabled` property correctly for remote sites, due to the fact that this ultimately calls down to `gutenberg_is_fse_theme`, which checks the theme for the existence of the `/block-templates/index.html` f

[2021-06-29 20:17] yansern commented on #45208
Hmm, agree! Thanks for pointing out it was a **full raw shortcode** that was being presented for the user.

In that case, presenting a text link (no. 1) is already good enough, considering the technical challenges that comes with (no. 2).

What do you think? Let's go ahead with no. 1 - presenting text link?

[2021-06-29 20:18] allilevine commented on #52986
PR: https://github.com/Automattic/wp-calypso/pull/53968

[2021-06-29 20:20] azollafox opened #54139 "Vimeo Embeds: Inline Height and Width prevents Full Width"
### Steps to reproduce the behavior

1. Add a Vimeo video to a page or post
2. Use the block editor to set the block full width
3. Publish

#### What I expected to happen

The video should be full width on the page as in the editor
![editor view full width issue](https://user-images.githubusercontent.com/7907292/123861730-82eba300-d8f5-11eb-9f04-17f2f488b419.png)

#### What actually happened

![vi

[2021-06-29 20:42] DanielSmithMichigan commented on #53967
I'm going to close this issue; I created these two followup issues to address [the two themes mentioned above](https://github.com/Automattic/wp-calypso/issues/53967#issuecomment-870733221).

[Rockfield Followup](https://github.com/Automattic/themes/issues/4127)
[Shawburn Followup](https://github.com/Automattic/themes/issues/4126)

[2021-06-29 20:42] #53967 closed, assigned to DanielSmithMichigan

[2021-06-29 20:48] mattwiebe commented on #54138
This theory has been disproved with a lovely run of `500` errors on my sandbox.

[2021-06-29 21:08] DanielSmithMichigan commented on #51335
@ianstewart Can you clarify more about this point?

Suppose we planned to use css to hide themes which haven't been installed, how does the theme editor prevent us from moving forward with that plan?

[2021-06-29 21:35] AtrumGeost commented on #54055
Another case: 29224901-hc
Deactivating the Gutenberg plugin worked

[2021-06-29 21:36] metabreakr commented on #50928
26718976-hc with a `.ppsx` file.

[2021-06-29 21:37] allilevine opened #54143 "Plugins: Fix redirect logic for Atomic sites"
### Steps to reproduce the behavior

1. Go to /plugins or click "Plugins" in the nav for a Simple site
2. Switch to an Atomic site

#### What I expected to happen

To be redirected to wp-admin/plugins.php

#### What actually happened

I was redirected to wp-admin/plugin-install.php with the site id as a search term parameter.

### Context

We now always redirect from /plugins to wp-admin for Atomi

[2021-06-29 21:38] autumnfjeld commented on #41702
I'm going to close this, given that The My Home Pod is in the midst of [active design work](fLQcNzdadWzo87n89Imecj-fi-2049%3A0) to create a space on My Home to inform user about [site status](p1623888333263900-slack-C01VA0R5NKY), including domain status. 🥇

[2021-06-29 21:38] #41702 closed

[2021-06-29 21:44] aamills commented on #53401
Another instance 25839844-hc

[2021-06-29 22:07] obenland opened #54144 "Publish Label in Gear Status Options not updated"
### Steps to reproduce the behavior

1. Go to wordpress.com/customize and select a site.
2. Make a settings change that makes the save button switch to "Save Changes"
3. Click on the cog icon next to "Save Changes" to open the drawer.
4. See "Publish" not being replaced with "Save Changes".

### Context

https://github.com/Automattic/wp-calypso/issues/39224 introduced an update to that label. Toda

[2021-06-29 22:10] kwight commented on #54144
@DanielSmithMichigan @andres-blanco Can you take a look please? <3

[2021-06-29 22:29] kwight commented on #52182
@DanielSmithMichigan @andres-blanco can you look into this in our next sprint please (starting July 12)? ❤️

[2021-06-29 22:30] kwight commented on #50126
@DanielSmithMichigan @andres-blanco can you look into this in our next sprint please (starting July 12)? ❤️

[2021-06-29 22:33] obenland commented on #50126
Surfacing this part of the workaround instructions in case they might proof helpful to narrow down the bug:

[2021-06-29 22:38] mreishus commented on #54077
Created: Theme Showcase: Make the keyed suggestions matches even more strict #54145

[2021-06-29 23:29] alaczek commented on #52933
Since this is still pending, I thought I'd tack on one more design to launch:

[Ellen](https://ellenstarter.wordpress.com/)

![ellen_starter_half](https://user-images.githubusercontent.com/4550351/123880249-98101280-d985-11eb-84a2-d8cd742fddbe.jpg)

**Recipe**
The starter design "recipe" for this site looks like the following.

* Blank Canvas theme.
* Create three blog posts and a Blog page.
* Upd

[2021-06-29 23:37] DanielSmithMichigan commented on #52931
I'm going to close this, but @ianstewart @kwight, feel free to reopen it if this was the wrong choice. Reasoning below.

I think the **original** issue is gone or very unlikely in our current state. I remember this issue happening much more often when I had made the issue. The originally suggested testing steps aren't even possible anymore, due to some recent UX changes, so maybe there were code c

[2021-06-29 23:37] #52931 closed, assigned to DanielSmithMichigan

[2021-06-29 23:46] kwight commented on #45208
Sounds good, a definite improvement (I think sorting proper embed rendering for various shortcodes would require a given project).

[2021-06-30 00:09] JessBoctor opened #54147 "Customizer: Favicon not showing in Safari Mobile Bookmarks"
### Steps to reproduce the behavior

1. Go to My Site > Appearance > Customize > Site Identity and set a site icon. Save changes
2. Open the website in Safari mobile
3. Add the site to the bookmarks
4. The icon doesn't appear in the bookmark manager options

#### What I expected to happen

The site Icon to appear to the left of the bookmark description and URL.

Here is an example from bookmarking

[2021-06-30 01:09] tanjoymor commented on #54107
Another report: 30344191-hc (follow up: 4104797-zd)

[2021-06-30 01:15] tanjoymor commented on #54107
@mrfoxtalbot

It happened on three or four sites that I tested - and then suddenly it didn't happen on some, but continued on others. If you access the customer's site from this ticket: 4094520-zd you'll find it still occurs but you have to SSP (just tried again now) - doesn't happen when you SU. I get the same result in Safari, Firefox, Ghost, Opera and even Chrome (so long as I don't use SU).

I

[2021-06-30 01:28] autumnfjeld commented on #53976
Thanks for creating this @roo2!   Good to highlight that these changes, which are part of the [My Home Pod short-term visual refresh](pd2qGl-4i-p2), are particularly significant changes to the Site setup checklist.

[2021-06-30 02:02] ollierozdarz commented on #50513
@razvanpapadopol, one solution for this could be to turn the 'Continue' button into 'Skip this step' if the user follows the same path as your video; selects a domain then clears the search query. That would give the visual feedback that the selection was unselected or cleared once they removed the text from the input.

[2021-06-30 02:06] ollierozdarz commented on #53973
@StefanNieuwenhuis is the third step, 'Launching your site ', simply the screenshot you posted?

I.e.
![image](https://user-images.githubusercontent.com/67085494/123890976-85083d00-d99b-11eb-8d11-d8897c2a7048.png)

[2021-06-30 02:13] donalirl opened #54356 "Theme Showcase: Update One-Page Filter for Themes like Blank Canvas"
Blank Canvas is by far the best theme for creating a one-page site or landing page, but it does not appear in the "one page" filtered theme search results:

https://wordpress.com/themes/filter/one-page

Can it be added?

[2021-06-30 02:16] ollierozdarz commented on #54010
@razvanpapadopol cool. Thanks for letting me know. Ideally the second column information would not have a gap in the middle and would stay vertically aligned center with the select button. Is that possible? 🙂

**Quick example:**
<img width="1224" alt="Screen Shot 2021-06-30 at 12 13 14 pm" src="https://user-images.githubusercontent.com/67085494/123891640-8ede7000-d99c-11eb-84e8-1eacdc004f6c.png">

[2021-06-30 02:18] hacchism commented on #54107
Another case in 4097663-zen

What @tanjoymor said above is happening to me too. I can repro the issue when I use SSP but not with SU.

[2021-06-30 02:28] yansern commented on #45208
Just posting this as a note to myself:

Drawing comparison between Shortcode block and YouTube block.

YouTube block generates a thumbnail with a link to the to the YouTube video. The html looks like this:
[code]

### Post Content on Notification

![2021-06-30_10-22-30](https://user-images.githubusercontent.com/1287077/123892466-3d7ab480-d98d-11eb-853a-59a2a3acf806.jpg)

### Comment Content on Not

[2021-06-30 03:07] syedshaon commented on #53401
Another issue 4096545-zen

[2021-06-30 03:37] donalirl opened #54149 "Develop Parity Between Simple and Atomic Import Options"
### Steps to reproduce the behavior

1. Go to Tools → Import on a Simple site
2. View list of import options: WordPress, Blogger, Medium, Squarespace, Wix, Choose from full list.
3. Make the site atomic
4. Go to Tools → Import
5. View the import options now reduced to: WordPress, Choose from full list.

#### What I expected to happen

I expected the list of import options to stay the same when upg

[2021-06-30 03:39] joweber123 commented on #53401
Another issue 29590936-hc

Safari 13
OS X 10.15.6

[2021-06-30 04:16] Robertght commented on #53720
I can confirm this happens on my end too.

[2021-06-30 04:38] Robertght commented on #53721
I can confirm it's been inconsistent for me as well and sometimes the widgets didn't save at all.

[2021-06-30 04:50] donalirl commented on #28322
#4097016-zen

[2021-06-30 04:56] Robertght commented on #53740
I tested this on a self-hosted website and the `noreferrer` and `noopener` attributes were automatically removed after typing them. I found [this issue](https://github.com/WordPress/gutenberg/issues/9731) to be quite similar to what we had so I'm closing this one for now.

[2021-06-30 04:56] #53740 closed, assigned to nobody

[2021-06-30 05:14] Robertght commented on #53750
I can't replicate this on a self-hosted website, however, this only appears to be happen with the colors that are predefined because if I choose a custom color from the palette, that works.

Can you confirm if that's the same for you @ClassicRKR27 ?

[2021-06-30 05:40] Robertght commented on #53760
I can confirm this happens on my end as well.
I'm not sure if this was a thing before in Calendly but this is what I found:

https://help.calendly.com/hc/en-us/articles/223147027-Embed-options-overview

[2021-06-30 05:56] jordesign opened #54150 "My Home: Support Docs to link directly to Document instead of using inline display."
In My Home the Support search results currently use an inline display of the document which is quite plain.

<img width="1024" alt="screen-shot-2021-06-16-at-11 39 52-am" src="https://user-images.githubusercontent.com/1842363/123908961-ad079880-d9bb-11eb-9d8b-57ed21d455ae.png">

As per the discussion in pd2qGl-8f-p2 I'd propose that we change this behavior so links go directly to the support docum

[2021-06-30 06:00] Robertght commented on #53772
Thank you for the report @carinapilar! It seems to be inconsistent across themes but the main issues remain:

 - On self-hosted website, I was able to replicate the issues as well
 - On a WordPress.com website the close button wouldn't show up in other themes(e.g. TwentyTwenty) as it was covered by the admin bar so I couldn't close the menu
  - If you scroll down a bit from the top, the nav menu c

[2021-06-30 06:13] Robertght commented on #53799
Thank you for reporting this @carladoria !

I tested this on my end and this is what happened:

- I had a draft from June 23rd
- I tried to publish it. After checking the date, it still said June 23, but after publishing it the date updated itself to June 30th.

If I understand correctly, the main issue is that the date doesn't get updated before we press the Publish buttons?

[2021-06-30 06:14] p-jackson opened #54151 "My Home: "Add a menu" task shows a Calypso tour in the customizer, but doesn't take the user to the menu controls"
Reported p1624894628082100-slack-C01VA100LEA @ianstewart

### Steps to reproduce

1. Go to My Home on site where site setup is incomplete
2. Click "Edit the site menu" task
![image](https://user-images.githubusercontent.com/1500769/123910149-28724580-d9ce-11eb-88ae-8e25d5b5bb52.png)
3. Click "Add a menu"
4. Taken to the customiser and see what looks like the beginnings of a Calypso tour ![image](h

[2021-06-30 06:42] jordesign commented on #54083
I often use this URL to send users to a specific result - so having that be the way the tabs filter results would work nicely for that use case.

[2021-06-30 06:45] jordesign commented on #54075
Could we consider adding a button to the Theme Setup guide in the right hand side with the customize/Info buttons?
eg. https://wordpress.com/theme/bari/setup/

Not all themes have them - but would be great to include it for the ones that do.

[2021-06-30 06:45] mmtr opened #54152 "Nav Unification: Migrate preferred views on AT transfer"
Part of https://github.com/Automattic/wp-calypso/issues/51441.

In https://github.com/Automattic/jetpack/pull/20147, we introduced a new `jetpack_admin_menu_preferred_views` user option for storing the preferred views of a user on a certain site.

However, this option is not migrated when the site is transferred to the Atomic infrastructure. Let's make sure it's preserved.

[2021-06-30 07:10] stefancln commented on #53401
Another report
4098015-HC   Safari
In Chrome works fine

[2021-06-30 07:28] Alimov-8 opened #54154 "Can't install Calypso"
### Installing calypso
#### What happened instead
`yarn` and `yarn start` command gives an error in `/package.json`
#### Browser / OS version
Chrome 91, Windows 10, node v14.16.1, yarn v1.22.10
#### Screenshot / Video
![image](https://user-images.githubusercontent.com/66109159/123917046-c7317e80-d99b-11eb-943c-e7bd86a3a6cc.png)
![image](https://user-images.githubusercontent.com/66109159/123917364-

[2021-06-30 07:32] StefanNieuwenhuis commented on #53973
@ollierozdarz, it is :)

[2021-06-30 08:05] mmtr commented on #54152
I think this can be easily done by adding `jetpack_admin_menu_preferred_views` to the list returned by `av2_usermeta_key_whitelist` (this is in the WP.com codebase, in `wp-content/lib/atomic-v2.php`), since that function seems to control which usermeta is migrated during the AT transfer.

[2021-06-30 08:18] cpapazoglou opened #54155 "Site Switcher: focusing on the search field zooms in the whole page in IOS"
### Steps to reproduce the behavior

**On an IOS Device**
1. Go to `https://wordpress.com/home`
2. Click on `Search`

#### What I expected to happen
Page not get zoomed in

#### What actually happened
Page got zoomed in

### Context

#### Browser / OS version
Safari IOS

#### Is this specific to the applied theme? Which one?
NA
#### Does this happen on simple or atomic sites or both?
NA
#### Is th

[2021-06-30 08:42] kosiew commented on #53831
Thanks @carinapilar for the report.
Since it is not reproduceable,  I added a Good First Issue label and closed this.
Feel free to reopen this if it is possible to reproduce.

[2021-06-30 08:42] #53831 closed, assigned to nobody

[2021-06-30 08:48] razvanpapadopol commented on #54010
Yes, this was also the solution @alshakero added to `/new`
<img width="327" alt="Screenshot 2021-06-30 at 11 47 20" src="https://user-images.githubusercontent.com/14192054/123931041-f0044480-d998-11eb-9c21-2d3dd158bf2b.png">

[2021-06-30 08:56] kosiew commented on #53879
Thanks @bsanevans for the report.

I tested and see the same issue.

![Screen Capture on 2021-06-30 at 16-54-26](https://user-images.githubusercontent.com/29057562/123932431-07a4f280-d9c4-11eb-8628-4aaf23f7b9bf.gif)

[2021-06-30 09:09] stefancln commented on #53401
Another report 4089259-HC
Safari

[2021-06-30 09:36] tellisbethel commented on #53953
The Premium plan user at 4093086-zd-woothemes reports that the issue happened first 5 days ago in Safari and now in Chrome. It happened less in Chrome, but the more they work in Chrome, "the more the problem shows up".

Measures the user has taken, sometimes fixing the issue for a moment, but re-entering the draft or published post brings it back:

- Opening and closing drafts multiple times until

[2021-06-30 09:44] zdenys opened #54157 "Earn Section: `Learn more` link destination needs to be corrected"
### Steps to reproduce the behavior

1. Visit https://wordpress.com/earn/payments/ on a site where Stripe is connected
2. Click the `Learn more` link

![image](https://user-images.githubusercontent.com/39308239/123939098-72443700-d9a0-11eb-980e-ef7d4c5830bd.png)

#### What I expected to happen
See the correct support page open: https://wordpress.com/support/wordpress-editor/blocks/payments/#relate

[2021-06-30 09:50] MaksimUrasov opened #54158 "Post Editor: Text Color resets Link Color"
In Post/Page Editor, if the Paragraph Block has set the Text Color, then Link Color resets to default color despite there is a chosen color.
Text Color and Link Colors are these:
<a href="https://snipboard.io/UHfY6w.jpg" target="_blank"><img src="https://snipboard.io/UHfY6w.jpg" border="1px solid black"></a>

### Steps to reproduce the behavior
1) Create a new website on WordPress.com
2) Use the T

[2021-06-30 09:54] pablinos commented on #54107
I can't reproduce the 404 either, but I'm about to merge a fix (#54127) for #54018, so it would be good to see if we can reproduce this afterwards.

[2021-06-30 10:17] pablinos commented on #54018
I've just deployed #54127 that fixes this issue, so I'm closing it.

[2021-06-30 10:17] #54018 closed, assigned to nobody

[2021-06-30 10:19] pablinos commented on #54107
I've just deployed #54127 which fixes, the possibly related, #54018. If anyone is able to test this and see if we can reproduce it with this change, then we can start investigating what else could be causing this.

[2021-06-30 10:19] mmtr commented on #54152
Fix ready: D63496-code

[2021-06-30 10:54] #53698 closed, assigned to aneeshd16

[2021-06-30 10:58] carinapilar commented on #53831
Okay. I tried to replicate the issue again, no luck. One thing I noticed though, is that in both cases it shows _"Document"_ on the footer, which seems to be sort of a breadcrumb for what's selected in the editor. Not sure when exactly that shows up though, because if you're editing a post or page, it will show Post or Page, not _"Document"_. I don't know if it's related to the issue, or the user

[2021-06-30 11:20] KokkieH commented on #54018
Can confirm it works for me now.

[2021-06-30 11:22] #53762 closed, assigned to fullofcaffeine, WunderBart, david-binda

[2021-06-30 11:30] mikeicode commented on #53750
@Robertght

Correct, that's what this in the report was referring to:

I assume it has something to do with the custom colors being added inline, unlike the predefined colors (the circles).

Choose a preset color, refresh page and the color is no longer there:

![Screen Capture on 2021-06-30 at 07-26-38](https://user-images.githubusercontent.com/10353785/123952960-b28dc000-d974-11eb-85ce-677fe61cc

[2021-06-30 11:38] niranjan-uma-shankar commented on #54109
Tracking here that in https://github.com/Automattic/wp-calypso/pull/53125, the logmein redirect does not work if the user is invited as a Viewer or Follower because `logmein()` currently does not have support for [sites that the user is not a contributor](https://github.com/Automattic/wp-calypso/blob/trunk/client/lib/logmein/index.ts#L50). One potential way to fix it is to have [this endpoint](htt

[2021-06-30 11:54] retrofox opened #54162 "Media Library: handle video uploading based on site features"
Currently, the ability to upload video files for a site is based relyed on some helper function defined in calypso-products package. In some way, this data is a copy of what is defined in the store products list in dotcom.
Consider the idea to switch using the `/features` data.

[2021-06-30 12:02] aleone89 commented on #53401
Another report 30152950-hc
Safari 14

[2021-06-30 12:06] mmtr opened #54164 "Nav Unification: Remove "show wp-admin pages" toggle"
Part of #51441.

Once the quick switcher is fully functional (in other words, once https://github.com/Automattic/jetpack/pull/20228 lands), the global "show wp-admin pages" toggle won't be needed anymore, so let's remove it.

[2021-06-30 12:20] Robertght commented on #53750
Thank you for clarifying @mikeicode ! (apparently, I've missed that part from the issue)

[2021-06-30 12:23] synora commented on #53882
Solved in 866067231. I also tested this with the Textbook theme and can confirm the lightbox is loading images as expected. A follow-up in 4083938-zen has been made.

[2021-06-30 12:23] #53882 closed, assigned to nobody

[2021-06-30 12:30] Aurorum commented on #54157
PR for this issue in #54166. :)

[2021-06-30 12:34] Aurorum commented on #54150
Just out of curiosity, did this P2 conclude that this should no longer be the default behaviour everywhere throughout Calypso?

For context, https://github.com/Automattic/wp-calypso/pull/40080#issuecomment-599105095 advocated that all support links should display a dialog rather than link to the page directly citing p4TIVU-94p-p2 titled "Inline Support Articles Everywhere" - it'd probably be good

[2021-06-30 12:39] synora commented on #53900
Triaged. The same black toggles occur for me as well when I switch to the Default color scheme. Those same toggles do change to a matching color when I switch to different color schemes.

Even though the toggles for the Default scheme is black, it may not be the ideal color. Just in case this is intended behavior v. bug, I've added the enhancement and feature request labels.

[2021-06-30 12:44] DanAntion commented on #51787
Two days ago, I was informed that WP is closing the ticket because it’s been open for too long. They say the issue is still being worked on, although the only activity I see is evidence that the issue is happening to more and more people. Ten minutes ago, while I was responding to comments on my own blog, I stopped following myself. I had responded to three or four comments. When I tried to respon

[2021-06-30 12:48] #54155 closed, assigned to dsas

[2021-06-30 12:49] synora commented on #49684
Triaged. I can replicate testing this in the FG. It works as expected on my test site with 8 pages.
Note the report above in 4030839-zen has over 5,000 pages.

[2021-06-30 12:53] synora commented on #53935
Triaged. I can also replicate this on Atomic sites.

[2021-06-30 13:17] AtrumGeost commented on #54055
Got another report on a simple site: 4105602-zd-woothemes

The workaround mentioned above worked:

`Open a post/page in the editor and insert a Site Logo block. Replace the image with the desired logo and save the post. (You can delete the block from the post, or the whole post after you save it once.)`

[2021-06-30 13:43] csonnek commented on #53953
Another report here: https://wordpress.com/forums/topic/cannot-edit-page-on-wordpress-com/

The problem here is that Firefox doesn't work now (quote from the user):

Using Chrome fixes it for this person (for now).

[2021-06-30 13:52] Marcia-HC commented on #54107
Another report @ 4104178-zen

[2021-06-30 14:01] deancroyal commented on #53100
A report in WP.com forums: https://wordpress.com/forums/topic/write-botton-and-add-new-post-button-does-not-work/

I've asked the user for OS and browser information.

[2021-06-30 14:12] kdevnel commented on #53401
Another - 5288978-hc
Safari 12.1

[2021-06-30 14:20] kwight commented on #53100
The few I've spot-checked and those above with browser info suggest this could be a duplicate of https://github.com/Automattic/wp-calypso/issues/28322 – if the user is on Safari, let's add the reference to that issue.

[2021-06-30 14:26] xpurichan commented on #54055
Experienced this in 30405625-hc. Deactivated Gutenberg, changed the logo, reactivated Gutenberg.

[2021-06-30 15:00] sixhours commented on #54077
Following up on this, we're *not* removing the search dropdown after all. Closing this one out.

[2021-06-30 15:00] #54077 closed, assigned to mreishus

[2021-06-30 15:02] KirkwallDay commented on #54055
Another instance here: 29989649-hc
Using the site-logo block work-around worked, the site had a logo before the bug occurred.

[2021-06-30 15:06] ivan-ottinger commented on #54107
Thanks @pablinos! I couldn't reproduce the issue anymore and asked the user in 4100473-zd-woothemes to check on their end as well.

[2021-06-30 15:11] kathrynwp opened #54170 "Theme Showcase: Change placeholder wording in theme search box"
Let's consider modifying the wording in the theme selection box to make it clearer by which criteria searches are possible.

### Current wording

![WordPress_Themes_‹_Global_Styles_Demo_—_WordPress_com](https://user-images.githubusercontent.com/7662449/123985236-4d959280-d993-11eb-8d95-ceb7398b1884.jpg)

### Proposed wording

See #https://github.com/Automattic/wp-calypso/issues/54078#issuecomment-

[2021-06-30 15:12] cpapazoglou commented on #53844
To reliably reproduce this, please use:
- pcdCd1-6q-p2 as the post to be embedded.
- On the block editor with theme: TwentyTwenty.

[2021-06-30 15:13] pablinos commented on #54107
Great thanks @ivan-ottinger! I notice @Marcia-HC's instance of it was reported before the fix was deployed too, so there's still hope that this is fixed also.

[2021-06-30 15:17] kathrynwp commented on #54170
Maybe we add an "etc." at the end so it's clear there are other options, or an "or..." like in the original text?

[2021-06-30 15:21] michaeldcain commented on #25214
I believe that the domain search in both Signup and Gutenboarding now pre-fill the site title (when provided). Closing.

[2021-06-30 15:21] #25214 closed

[2021-06-30 15:38] pauljacobson opened #54172 "WordPress.com app (Android): App freezes and becomes unresponsive when scrolling in the Posts list"
Our customer reached out to us in Live Chat to let us know that the latest release of the Android app, version 17.6.

### Steps to reproduce the behavior

1. Go to _Blog Posts_
2. Scroll down the list for a few minutes
3. App freezes, and you see the following error

![Screenshot_20210630-193653](https://user-images.githubusercontent.com/2912202/123988138-6d977700-d9d0-11eb-93d9-a02db5daf5f5.png)

[2021-06-30 15:39] davipontesblog commented on #49792
Closing this issue in favor of the one below where we are tracking it:
https://github.com/Automattic/wp-calypso/issues/49729

[2021-06-30 15:39] #49792 closed, assigned to nobody

[2021-06-30 15:42] pauljacobson commented on #54172
I encountered what may be a related issue on my Samsung Galaxy S21, running Android 11, and version 17.6 of the Android app. While I can scroll through my posts (in this case, this is a self-hosted WordPress.org site on Pressable), the posts list disappears after a minute or two.

Here's a demo:

https://user-images.githubusercontent.com/2912202/123990568-8b65db80-d9d2-11eb-8691-a317e2d81d34.mp4

[2021-06-30 15:52] kwight commented on #49729
@taggon for Fix The Flows consideration, requested in p1625067642117400-slack-C02FMH4G8

[2021-06-30 16:06] sixhours commented on #54078
#54141 covers the removal of Layout and Style feature filters

[2021-06-30 16:11] aisajib commented on #53401
Reported here: 4104680-zen

[2021-06-30 16:14] TeniCola opened #54173 "Balan (Generated Themes): Content Options are disabled by default, hiding standard site content"
This is more of an enhancement or feature request and part of our team's CFT -- features in the Content Options are not enabled for the Generated Themes.

#### What I expected to happen
For certain content areas of the website to be visible when publishing them, or when adding them to the Customizer.

#### What actually happened
Areas like the menu locations, footer, widgets, and the page titles w