[2021-07-14 06:15] kosiew commented on #54509
Thanks @davipontesblog for reporting this.

The fields can be arranged side by side by adjusting the field width:
![form field side by side](https://user-images.githubusercontent.com/29057562/125572236-23e9253f-f301-4e85-9e4d-3892141e50d3.png)

Reproduced on both Simple and AT sites.

[2021-07-14 06:19] inaikem commented on #54383
Posted for discussion here: p1626243417391700-slack-C020SHYRB24

I'll keep an eye on both threads.

[2021-07-14 06:44] kosiew commented on #54506
Thanks @poojashetty18  for reporting this.

I could not reproduce this either.
Closing for now, but please reopen if you have more information on how to reproduce it.

[2021-07-14 06:44] #54506 closed, assigned to nobody

[2021-07-14 06:48] inaikem commented on #54397
Able to replicate on a Free and Premium site but _**not**_ a Personal site: I expected to be shown a progress bar and see my media appear in the Media Library when the upload was done. This did not occur.

On the Personal site, I was unable to replicate uploads to the Media Library via the in-line uploader (dragging or using the file dialog) or by dragging media into the main Media Library window.

[2021-07-14 06:50] kosiew commented on #54505
Thanks @khristiansnyder for reporting this.

Closing this as duplicate of https://github.com/Automattic/jetpack/issues/20199

[2021-07-14 06:50] #54505 closed, assigned to nobody

[2021-07-14 06:55] inaikem commented on #54398
A new issue was raised in #54445, which has been marked as complete. Tested to confirm it is now fixed.

[2021-07-14 06:55] #54398 closed, assigned to nobody

[2021-07-14 07:02] kosiew commented on #54466
Thanks @the-misha for reporting this.

I could not reproduce this.
Closing for now but please feel free to re-open if you have more information on how to reproduce this.

![Screenshot](https://d.pr/i/MuHQsS+)
*if image does not load, please click on this link  : https://d.pr/i/MuHQsS*

[2021-07-14 07:42] tjcafferkey commented on #54501
Moving this and adding `Needs spec` label because currently when SSO is disabled, in WP Admin we use the core navigation with _no Calypso links_ so I am not sure if this is even a regression since the Quick Switch. Something to discuss.

[2021-07-14 07:48] BogdanUngureanu opened #54544 "Nav unification is not disabled when SSO is disabled"
### Steps to reproduce the behavior

1. Go to an Atomic site
2. Go to WP-Admin > Jetpack > Dashboard > Settings and disable SSO (WordPress Login)
3. Nav unification should be disabled in WP-Admin

#### What I expected to happen
Nav unification to be disabled in WP-Admin

#### What actually happened
Nav unification is still enabled.

### Context

#### Browser / OS version

#### Is this specific to

[2021-07-14 08:58] tjcafferkey commented on #54405
This will no longer be an issue when we deprecate the toggle this iteration

[2021-07-14 09:08] tjcafferkey opened #54547 "Quick Switch: Modal Announcement"
**What**
Before we can officially deprecate the Dashboard Toggle we need to announce the newer alternative Quick Switch feature to our users.

**Why**
Having both the Dashboard Toggle and the Quick Switch can be confusing for our users as one takes priority over the other. You can read more about this here pd2C0z-5q-p2

**How**
Once a user dismisses the Modal they should have a preference saved ag

[2021-07-14 09:15] tjcafferkey commented on #54547
Should be released at the same time as https://github.com/Automattic/wp-calypso/issues/54164

[2021-07-14 09:24] aneeshd16 opened #54548 "Convert domains to logmein links on domain contact verification page"
The domains listed on the domain contact verification page can be converted to logmein links. Clicking on these links will log the user into their domain. Since this page opens in a logged-out context, we cannot use the existing `logmein` lib for this.
<img width="869" alt="Screenshot 2021-07-14 at 2 48 39 PM" src="https://user-images.githubusercontent.com/5436027/125597946-9a9d74e7-f8c1-4130-8edb

[2021-07-14 10:00] jessie-ross commented on #4020
It looks like around 0.02-0.05% of users are affected by this. Although there is a low chance of this occuring, data loss from it may occur, hence the Normal priority, but feel free to change it.

[2021-07-14 10:50] alevarsir commented on #51540
Another report 30629312-hc

Re-enabling Gravatar solved the issue!

[2021-07-14 10:52] scinos opened #54549 "` 31 ./packages/components`"

[2021-07-14 10:52] #54549 closed, assigned to nobody

[2021-07-14 10:57] carinapilar opened #54551 "Improve the Cookies & Consent block/widget"
### What

The Cookies & Consent Banner Block/Widget should give customers more customization options and comply with GDPR regulations across Europe to a points where it should be the best solution for all a8c customers

### Why

- Historically requested by customers in the EU
- 3rd-party plugins tend to conflict with other a8c plugins

### How
- This post pdDR7T-Ax-p2 includes a reasonable spec sh

[2021-07-14 11:04] roo2 commented on #54441
Yes ✅ we are storing the `mobile_app_last_seen` timestamp by parsing the tracks logs

 Yes ✅ we have access to the `issued` field on mobile oAuth tokens which will be the date that the app was installed. Example of accessing the oAuth tokens -> D62067-code

I remember an idea was floated about getting them to publish machine reasable release notes, but I think that realistically, we could have som

[2021-07-14 11:05] jordesign commented on #52759
OK great - I'm EOD today - but tomorrow I can test:
* TwentyTwentyOne
* TwentyTwenty
* Seedlet
* Varia/Hever

[2021-07-14 11:47] andres-blanco commented on #54430
One thing to note is that the cog is only hidden trough CSS (not server side), so if you enable it in the chrome inspector you can see it and check the ‘Save Draft’ option. If you save as draft then when you reload you will get to the state described in the issue.

That was the only way I could find to reproduce the issue.

[2021-07-14 11:59] dsas commented on #50928
#18601 is probably a duplicate.

I can't find any documentation explaining why the Jetpack_Client has it's own allowed list of mimetypes and it's been like that basically forever (images in r59694-wpcom, documents in r63209-wpcom and more additions in r106880-wpcom). It looks as though wp-admin and the API are supposed to be in sync according to the media endpoints 1.1 launch announcement (p3hLNG-

[2021-07-14 12:39] Copons opened #54553 "Site Editor: Usability improvements (Tracking Issue)"
This issue is intended to track some more-or-less low hanging usability improvements that we might want to take care for the FSE Beta, if we have time.

- [x] The toolbar of the topmost blocks cover the block content: https://github.com/WordPress/gutenberg/issues/29464
- [ ] Improve the empty default text of the Query Loop block, maybe adding a "create your first post" CTA: https://github.com/Word

[2021-07-14 12:53] #45105 closed

[2021-07-14 13:03] cpapazoglou commented on #50928
Thanks @dsas for the thorough details! Can you please create an Atomic P2 explaining why we will remove the `$allowed_mimes` list? Or at least add the missing formats in that list? Keeping in the loop Atomic folks may unveil the "Why".

[2021-07-14 14:37] allilevine opened #54555 "Marketing -> Traffic settings: Add correct plan slug to upsell URL"
**Task Details**
As of https://github.com/Automattic/wp-calypso/pull/53196 the plan slug for free Atomic sites, for the Advanced SEO and Google Analytics nudge URLs, will be `jetpack_business` and `jetpack_premium`, instead of `business-bundle` and `value_bundle`. We should return the least expensive plan each site can buy in order to get those features, which in the case of free Atomic is Busines

[2021-07-14 14:43] #54391 closed, assigned to sixhours

[2021-07-14 14:57] martian77 commented on #48978
Looks like the same issue is affecting Deutsch (Sie) - see #4138652-zen.

[2021-07-14 15:01] apeatling commented on #54351
Added to our backlog to investigate in an upcoming sprint.

[2021-07-14 15:36] aerych opened #54558 "Notifications: The table block fallback is incorrectly linked in certain circumstances."
Additional discussion and context can be found at p1626201873057800-slack-serenity

### Steps to reproduce the behavior
An example post with comments illustrating the circumstance that leads to the glitch can be found at pcl4cA-wl-p2

1. User 1 should comment on a post.  The comment should @ mentioning user two, then include a table block in the comment body.
2. User 2 should receive a notificatio

[2021-07-14 15:39] aerych commented on #50858
More discussion and examples at
p1624553435000700-slack-notificationz
p1618430158119600-slack-automattic

[2021-07-14 15:43] Copons commented on #54465
I've got a draft PR for this: https://github.com/WordPress/gutenberg/pull/33298
We can use it as a starting point, if we ever get to this point. 🙂

[2021-07-14 15:56] sixhours opened #54559 "Theme Showcase: Autoloading homepage doesn't work for some themes on the Recommended tab"
I ran into this while testing #40793. The following themes don't show the autoloading-homepage preview modal when first activated from the Recommended tab:

* Ryu
* Twenty Fifteen
* Twenty Sixteen
* Level
* Hemingway Rewritten
* Independent Publisher 2

You can still activate them, but they won't show a preview, unless...

You try to activate them from the All Themes tab first. Then it shows the p

[2021-07-14 16:02] daria2303 commented on #53100
4138997-zd-woothemes

[2021-07-14 16:40] yaelirub commented on #54441
Hey @autumnfjeld , there shouldn't be a blocker but let me get back to you on the timeline

[2021-07-14 17:01] dcoleonline commented on #53102
28559420-hc

This failed for the customer on an iPhone 12 in Safari and Firefox.
We set the site to Coming Soon and then back to Private and it ended up working for them.
I didn't end up getting the iOS version info as wasn't aware of this report until after the chat ended.
For now at least, they seem to be all set.

[2021-07-14 17:03] andres-blanco commented on #52759
Twenty Twenty One and Twenty Twenty don't seem to exhibit this problem. The behaviour is the same on Atomic and Simple regarding the colors in the customizer. This might be due to the color section in the customizer being different in this themes, there's no "Color Palette" or color circles to pick:
![image](https://user-images.githubusercontent.com/375980/125662904-29bea033-4c49-4067-a88f-5a48c0f

[2021-07-14 17:18] andres-blanco opened #54561 "Custom Colors on Seedlet: Different Palettes on Simple vs Atomic"
The color palettes are different on Simple vs Atomic with Seedlet.

On Simple:
![image](https://user-images.githubusercontent.com/375980/125664758-196c0292-9428-463b-8162-5b093f6186ab.png)

On Atomic:
![image](https://user-images.githubusercontent.com/375980/125664795-1eddae24-29be-4b33-b779-c08fd8204e40.png)

parent issue: https://github.com/Automattic/wp-calypso/issues/52759

[2021-07-14 17:28] andres-blanco opened #54563 "Seedlet default landing page different on Atomic vs Simple"
1. Create an atomic site with Blank Canvas
3. Select Seedlet

Expected colors
![image](https://user-images.githubusercontent.com/375980/125665702-a4e42b0f-13fe-4fe0-81dd-0fdab438e9e7.png)

Obtained colors
![image](https://user-images.githubusercontent.com/375980/125665917-fa22b768-bc7b-42d0-8060-8a09296e542c.png)

Parent issue https://github.com/Automattic/wp-calypso/issues/52759

[2021-07-14 17:32] andres-blanco opened #54564 "Custom Colors Seedlet: Changing colors in the customizer does nothing on Atomic"
Set up an Atomic site with the Seedlet theme. When you go to the customizer and try to change the colors, nothing happens.

https://user-images.githubusercontent.com/375980/125666451-cc6a686a-1c65-4e53-a939-5240ef9acb79.mov

Parent issue: https://github.com/Automattic/wp-calypso/issues/52759

[2021-07-14 18:29] leonardost commented on #25039
This was hopefully fixed by #54477. 🙂

[2021-07-14 18:29] #25039 closed

[2021-07-14 20:33] worldomonation opened #54565 "Task: Migrate issue templates to use the new GitHub forms template"
### Details

As noted in [this](pciE2j-oa-p2) P2 post, GitHub now has in public beta a new issue form that is much more powerful than the existing Markdown-based one.

Look to convert the issue templates we have currently to this new format.

### Checklist

- [ ] Bug Report
- [x] Feature Request #54702
- [ ] Flakey E2E spec report #54728
- [ ] Happiness Bug Report #54741
- [ ] Simple/Atomic Dispar

[2021-07-14 20:40] KirkwallDay commented on #53401
We're not out of the woods yet. Here's another report I got today: 30638950-hc
However, some good news: They just opened a new safari window and the bug went away so it's less bad now.

[2021-07-14 20:41] sixhours commented on #54394
I think moving Uploaded themes to their own tab as suggested in #54251 and renaming it to something that better reflects its purpose (Your Themes?) would solve some of this confusion (the "duplicate" themes, the empty heading).

I'm not able to reproduce the issue with user-uploaded themes not showing up, though.

[2021-07-14 20:48] gwwar commented on #53401
@KirkwallDay did they have an old version of Calypso running? Eg did they leave their editor window open for a long time without refreshing the browser?

[2021-07-14 20:48] worldomonation commented on #53899
Closing this issue as per Bart's comment, and with proper restructuring of the code we haven't needed this helper.

[2021-07-14 20:48] #53899 closed, assigned to nobody

[2021-07-14 20:50] worldomonation opened #54568 "Playwright: update documentation to use Jest examples"
### Details

In #54496 Playwright tests were migrated to run with Jest.

Our documentation under `test/e2e/docs` still has `mocha` examples, and these should be updated.

### Checklist

- [ ] update references to mocha to use `jest`
- [ ] update example code snippets and one-liners to `jest`

### Related

_No response_

[2021-07-14 20:54] worldomonation opened #54569 "Playwright: ensure mobile support for existing codebase"
### Details

Most of the work so far for Playwright has been done with the assumption of the `desktop` viewport. However, we do have an actively developed mobile web interface that also needs some support.

Establishing reliable test support on mobile is also a good way to highlight this project's outcome given that as of 2021-07-14, legacy Selenium task on `mobile` is a permafail with no one look

[2021-07-14 21:04] yaelirub commented on #54441
Ok, @mattmiklic will be able to help with this next week.

[2021-07-14 21:05] worldomonation opened #54571 "Selenium: mute existing failing tests on mobile"
### Details

Currently many of the `mobile` tests are permafailing due to the page refreshing unexpectedly then the sidebar being dismissed.

Since no one is actively working on this item at this moment, mute these tests in TeamCity for now, and investigate why this occurs later.

### Checklist

- [ ] mute tests in TeamCity

### Related

_No response_

[2021-07-14 21:08] worldomonation commented on #54571
Muted these tests:

- [WPCOM] Previewing Themes: (mobile) @parallel @jetpack: Can login and select themes
- [WPCOM] Themes: Preview a theme, all sites (mobile) @parallel: Login and select themes

[2021-07-14 21:37] worldomonation commented on #53514
Also look into turning on `mobile` variant, limited to `trunk` for now.

- [ ] ensure #54569 is in good shape.
- [ ] add new configuration item for mobile Playwright tests.

[2021-07-14 21:40] worldomonation commented on #54565
Task is completed as part of #54534.

[2021-07-14 21:40] DanielSmithMichigan commented on #52562
New pull request: https://github.com/Automattic/themes/pull/4230. This only addresses a part of the issue.

I created this new issue to address the remainder of the issue: https://github.com/Automattic/themes/issues/4231

[2021-07-14 21:50] andres-blanco commented on #54564
I found that:
 * if you change a color, save the changes and reload the colors do get applied
 * sometimes the js doesn't get loaded in time. In this cases the buttons do nothing
 * When the JS is loaded correctly and you click on a color it affects the corresponding css variable but it sets it to white. This might indicate that the color is not being red correctly. This is something I am looking

[2021-07-14 22:00] blackjackkent commented on #54088
Spent some time working on this today. As I discussed with Kirk yesterday, the 1.2 API themes API specifically uses a different theme fetching mechanism than the 1.1 API (the latter of which is the one which specifically had a documented 'trending' sort option). I did some digging today on the 1.2 API to see if its query mechanism had a sort option buried in the code but not specifically documente

[2021-07-14 22:03] ctdealba commented on #53978
Another report 4139807-zen

[2021-07-14 22:38] jeyip commented on #54459
## Steps to Reproduce

* Create an FSE enabled site ( [Link](https://horizon.wordpress.com/new?flags=gutenboarding/site-editor) )
* Navigate to the site editor
* Modify global styles like text color, font size, and line height
* Save the changes
* Purchase a business plan
* Install the "Hello Dolly" plugin to take the site atomic
* Navigate to the site editor again and verify that some global styl

[2021-07-14 23:11] autumnfjeld opened #54575 "Research: what social media info could go in site status aka "Kate's Action Area""
Time Box this to a few hours of pinging and getting answers.

We think it would be interesting to inform the user of the status of their social media connections in wp.com.  For example, if the user has connected their social media account we might prompt them about
* disconnection problems
* # times their post or site is shared on social media

We are looking for a really quick win, an api that i

[2021-07-15 00:05] scosgro commented on #53953
Another case in 30641092-hc - Safari (user said it happens in Firefox as well). They weren't happy about it.

Recommended trying in Chrome.

![image](https://user-images.githubusercontent.com/30731356/125707994-468883fe-3062-4695-9141-5eb83a61c996.png)

[2021-07-15 00:34] roo2 commented on #53434
I did some investigation of the tour capabilities of the customizer, currently we can only have a one step tour in the customizer, https://github.com/Automattic/wp-calypso/issues/54436#issuecomment-879012644

WRT taking the user back to my-home when they save the changes to the title, we are currently passing a return URL so that when the user hits the close button they're returned to my-home. I t

[2021-07-15 00:35] happychait commented on #53953
30637111-hc

Suggested using Chrome.

[2021-07-15 01:51] goblinartificer commented on #53595
another incident of this today in 30641635-hc

[2021-07-15 05:06] roo2 commented on #54436
Draft implementation saved in https://github.com/Automattic/wp-calypso/pull/54583 and D64107-code , I'll close this spike card

[2021-07-15 05:06] #54436 closed, assigned to roo2

[2021-07-15 05:37] niranjan-uma-shankar commented on #54548
+1 agree. We can convert the domain name here to a link. Once it becomes a link, I think @lsl 's link intercept will automatically append the logmein, is that right?

The existing logmein client-side lib assumes the user is always logged in when in a Calypso context. This is an example that it might not be true always. Looks like we need to modify [this line](https://github.com/Automattic/wp-calyp

[2021-07-15 05:45] ollierozdarz commented on #54011
Awesome amount of info for this issue @razvanpapadopol, thanks so much 🙂

**Solutions:**

1. I think the first thing we should do which will have a high impact is remove the `< Back`button from the domains page (only). If a user really needs to go back to this account creation step after signing up (which is no ideal), the browser back button can handle the job. I think this will surely reduce the

[2021-07-15 06:10] jordesign commented on #52759
I'm going to skip testing Seedlet for now - based on those linked issues above.

[2021-07-15 06:42] inaikem commented on #54551
Excellent suggestion, thank you.

[2021-07-15 06:45] kosiew commented on #54411
Hi @mikeicode ,

Thanks for reporting this and the detailed steps.

Managed to reproduce this on my test site too.
Noted that this is specific to Calypso, not in wp-admin.

[2021-07-15 06:55] inaikem commented on #52596
If we're unable to stop this from occurring, I'd also like to ensure there's some obvious messaging in place to users. this could either be as part of a 2-step plugin deactivation or something similar to the notice that appears when block themes are enabled on Atomic sites:

To make things simpler still, would it be possible to throw a window alert to say "_Disabling this plugin will make your sit

[2021-07-15 07:10] kosiew commented on #54426
Hi @galakhyati ,

Thanks for reporting this and the detailed steps.

[2021-07-15 07:17] inaikem commented on #54456
Thanks for reporting this, Liz. I'm merging it into an existing open issue. I've also updated the title of that issue to make it easier to find.

[2021-07-15 07:18] inaikem commented on #54456
Closing in favour of #43227.

[2021-07-15 07:18] #54456 closed, assigned to nobody

[2021-07-15 07:31] kosiew commented on #54427
Hi @zdenys ,

Thanks for reporting this and the detailed steps.

I checked this for you and svg is not a supported image type.
Are you able to reproduce adding an svg image on a simple site?

[Supported Image File Types](https://wordpress.com/support/images/#image-file-types)

[2021-07-15 07:42] lsl commented on #53100
Investigated Palemoon/WaterFox browser failure per https://github.com/Automattic/wp-calypso/issues/53100#issuecomment-874208423.

There is a consistent (for some of my test sites) WSOD in the editor iframe and wp-admin/post.php page. That is to say the iframe loads /wp-admin/post.php in the background and probably gets past the onload postMessage (so no redirect fallback takes place).

The error i

[2021-07-15 07:54] tjcafferkey commented on #54547
@mrfoxtalbot I think this should be shown on Home, but in the copy (which Ive updated here) I've amended it to make it clear that the Screen Options will only exist on "selected page". Does this sound OK?

[2021-07-15 07:59] kosiew commented on #54432
Hi @edwinho89 ,

Thanks for reporting this and the detailed steps.

It is impossible that the web-based exporter will work for large sites given Atomic sites don’t have async exports like Simple sites. If they really want a XML export, please ask somebody from opers to export the files via wp-cli export and then tell them they can download them via SFTP.

ref: p9F6qB-5JV-p2#comment-32199

Closing

[2021-07-15 07:59] #54432 closed, assigned to nobody

[2021-07-15 08:00] lsl commented on #54548
That function will only apply logmein to links going to sites in the user's set of sites, so if they're not logged in they shouldn't be seeing logemein links in calypso (from this function). (this is why we assume logged in and always go with direct on that line.)

Probably need to move some of this code around and expose a function for each mode without validating things but you're also free to j

[2021-07-15 08:05] #42446 closed

[2021-07-15 08:13] jordesign commented on #52759
I started some testing for Hever - and it ended up being enough to warrant a P2...
pd2qbF-ck-p2

[2021-07-15 08:16] tyxla commented on #53002
Addressed by @nmertaydin in #53505. Thanks again for fixing it @nmertaydin 🙌

[2021-07-15 08:16] #53002 closed, assigned to nobody

[2021-07-15 08:46] lsl commented on #53536
LGTM

[2021-07-15 09:46] niranjan-uma-shankar commented on #47837
Closing this issue as fixed. Here are a few links to follow to learn more:
* p5TWut-ub-p2
* pcNnmV-2y-p2
* code-D58331

[2021-07-15 09:46] #47837 closed, assigned to nobody

[2021-07-15 10:14] #54544 closed, assigned to BogdanUngureanu

[2021-07-15 10:25] aleone89 commented on #51787
Another report: hc-30471738

[2021-07-15 11:19] andres-blanco commented on #54563
Closing since this is related to https://github.com/Automattic/wp-calypso/issues/53233 and not custom colors. When you start with blank canvas and then change to seedlet it tries to port the white background and there's no option to start from scratch on Atomic

[2021-07-15 12:04] JanaMW27 commented on #53911
My recomendation is to use the loading screen that we are currently using for signup and we were going to use it for the marketplace. It looks like this:
<img width="570" alt="Screenshot 2021-07-15 at 14 00 46" src="https://user-images.githubusercontent.com/71137829/125784935-5957cdf9-fbac-430b-af32-de5619cb7a73.png">
The design can be found here: https://www.figma.com/file/vhlZnPqg5e5bDNcQgJ6WaN/

[2021-07-15 12:17] andres-blanco opened #54598 "Custom Colors: Clicking default colors leads to strange behaviour on Atomic"
@DanielSmithMichigan found this while reviewing a different issue. The default colors button on the customizer doesn't work on Atomic

https://user-images.githubusercontent.com/375980/125786514-955b205d-85d5-4630-b973-066732929fec.mov

[2021-07-15 12:18] JanaMW27 commented on #53918
Hello, @pablinos I agree with your assessment on looking at the numbers. If we want to proceed along with a redesign I am currently working on a redesign for the Quick Start upsell, so we could follow the new design for this page too.
Let's look at the number and decide what to do.

[2021-07-15 12:19] cpapazoglou commented on #53953
Still haven't found a way to reproduce this issue. I have tried:

- Using Safari 13, 14 on OSX 10, 11
- I have inspected the kibana logstash for `wp-admin` errors on users that the Gutenberg logging has rolled out (25%). I haven't witnessed any related errors

### After reading all tickets / chats:
- Seems happening only in Simple sites
- Both in Calypso and WP Admin
- Intermittently. Just reloadi

[2021-07-15 12:57] carinapilar commented on #53451
I noticed that when testing the Payments block on my site. I have something specific set on my Stripe's account, but once a user makes a payment it shows “WPMEM” plus a UUID (unique alphanumeric code), as described here: PCYsg-lW4-p2 - which wouldn't be expected, since you have something different set on Stripe's side.

It's also a very confusing statement descriptor, and might lead to high occurr

[2021-07-15 13:38] sixhours opened #54607 "Theme Showcase: Two upsells one after the other on free sites"
### Steps to reproduce the behavior

1. Go to `/themes` on a free site
2. You'll see a banner prompting you to upgrade to Premium or Business
3. Click on the All Themes tab; you'll see a second banner for the WordPress Experts upsell

#### What I expected to happen

Not to be overloaded with upsells one after the other, pushing the page's main content down.

#### What actually happened

<img width

[2021-07-15 14:14] daria2303 commented on #48978
4142622-zd-woothemes

[2021-07-15 14:25] #52763 closed, assigned to niranjan-uma-shankar

[2021-07-15 14:40] khristiansnyder commented on #49501
Had another report of this in #29435464-hc

Simple sites only show up when trying to reblog from an external site.

[2021-07-15 14:52] Copons commented on #54461
Note: this PR might be a good starting point for the behind-the-scenes handling of the beta: https://github.com/Automattic/wp-calypso/pull/53010
Let's keep it in mind when we start working on this issue.

[2021-07-15 15:34] jackiejade commented on #53953
23098486-hc
Suggested Chrome or Firefox

[2021-07-15 15:44] jgcaruso opened #54610 "Media Library: Uploaded Media Is Being Displayed In Wrong Date Section"
### Steps to reproduce the behavior

1. Go to 'Media'
2. Upload a new media file
3. Observe the date heading it is placed under is today's date
4. Wait for media to finish uploading
5. Observe that the date heading changes to yesterday's date. Looking at the actual media item, it has the correct date stored in its "Upload Date" property (maybe its doing some UTC conversion on a date field with no

[2021-07-15 16:06] davipontesblog opened #54612 "Notifications: Ability to "mark as unread""
### What
A product gap in using the Reader notifications in WordPress.com is the fact that one is not able to mark something as unread. Most apps nowadays provide that ability so customers are used to that, and noticeably it's missing here.

### Why
To improve the usability of notifications and overall user experience. With more and more WordPress.com features using the notification system such as

[2021-07-15 16:18] worldomonation opened #54613 "Playwright: investigate flakey failure in theme switch preview spec"
### Details

Logs:

TeamCity run: 6423889

[code]

Playwright logs:
[code]

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2021-07-15 16:20] worldomonation opened #54614 "Playwright: flaky behavior when clicking sidebar menu items as Atomic user."
### Details

Logs:
[code]

Playwright logs:
[code]

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2021-07-15 16:39] KirkwallDay opened #54617 "Small Line height with large text causes problems on mobile views."
Workaround for now: If they need text lines close together, use shift+enter to create new lines inside the same paragraph block, the bug doesn't occur then. Only when the text is in separate blocks does this bug occur.

### Steps to reproduce the behavior

1. Create a cover block and put 3 paragraph blocks inside it. Set their line-height to 0.2
4. Enter long lines of text into each block, so they

[2021-07-15 16:47] supernovia commented on #53100
Hey! I've been away and am just getting caught up.

Thanks. I've been linking to the article on clearing cache, but this would be much easier! I'll update my predef accordingly & see how that goes.

[2021-07-15 16:48] worldomonation commented on #54613
Ah, this one is because the initial version of `ThemesPage.select` I wrote wasn't quite as robust as I wanted it to be.

I've pushed a revised version as part of #54048 and that's pending review. This issue should be resolved with that push.

[2021-07-15 17:36] carinapilar commented on #53339
Another report on 4139064-zd-woothemes

[2021-07-15 17:41] worldomonation opened #54618 "Playwright: publish and visit post is flaky"
### Details

The `GutenbergEditorPage.publish` method, when `visit = true` the click action locates the toast and tries to click on the link. This is unreliable.

TeamCity run: 6424429

Logs:
[code]

### Checklist

- [ ] ensure GutenbergEditorPage.publish locates the post-publish panel's `View Post` button.

### Related

_No response_

[2021-07-15 17:59] retrofox commented on #54162
~Let's hold on until https://github.com/Automattic/wp-calypso/pull/53196 lands.~

[2021-07-15 18:04] worldomonation commented on #53962
Discontinuing this task due to the migration to Jest.

[2021-07-15 18:08] #51828 closed, assigned to allilevine

[2021-07-15 18:34] mreishus commented on #54246
We've implemented this in #54514. There may still be minor tweaking to do in followups.

[2021-07-15 18:34] #54246 closed, assigned to mreishus

[2021-07-15 18:35] mreishus commented on #54392
We've implemented this in #54514.

[2021-07-15 18:35] #54392 closed, assigned to blackjackkent

[2021-07-15 19:09] ianstewart opened #54622 "Activity Bar can obscure site content on mobile"
The Dotcom activity bar can obscure content on mobile as in the screenshot below with a simple static page site and the Blank Canvas theme active.

![Jasmine Baker](https://user-images.githubusercontent.com/545779/125843694-cb7aa448-ce9a-46ea-b462-0cef8a1331d0.jpeg)

[2021-07-15 19:42] mreishus commented on #54389
The current filter implemented by https://horizon.wordpress.com/new?flags=gutenboarding/site-editor uses an attribute that's set on designs (not themes) that is specific to the gutenboarding data: [Example](https://github.com/Automattic/wp-calypso/blob/21bb09874f244accd3fe6845c4973c553521c90d/packages/design-picker/src/available-designs-config.json#L14). We're going to need a theme tag, like `auto

[2021-07-15 19:42] dpasque opened #54625 "Playwright: Investigate opening up E2E script writing in Typescript"
### Details

Currently, while the `calypso-e2e` package is written in TypeScript, all of the E2E test scripts themselves are just in JavaScript.

While we are early on in project, it might be worth looking into opening up the script writing to **optionally** allow writing those scripts in TypeScript for those who want it.

### Checklist

- [ ]  POC config to enable side by side TypeScript and Java

[2021-07-15 19:48] ianstewart commented on #54458
Let's add the lot. Moving them up to a link in bio should help with categorization. And then we can evaluate the usage later.

[2021-07-15 20:45] sixhours commented on #54389
Yep, I think that's the right idea @mreishus; that's how the Recommended themes are fetched, too. :)

[2021-07-15 21:26] scosgro commented on #54430
Another report in 26854311-hc. They were looking to switch to Draft mode, but no cogwheel was present (site is not yet launched).

[2021-07-15 21:47] scosgro opened #54630 "Shawburn background margin colors can't be changed on Simple Sites"
### Steps to reproduce the behavior

1. Activate Shawburn  on a simple site
2. Go to Appearance - Customize - Colors & Backgrounds
3. Try changing the color of the margins. On AT sites, the Foreground color controls this. Foreground color on Simple controls something else though, and that body background-color is permanently #444444
4. CSS is required to change the left/right margin colors (the bo

[2021-07-15 23:13] tanjoymor commented on #53102
This customer returned #30658931-hc saying that the problem returned and I advised about disabling Safari ITP for now. They have specifically asked for a follow up once this has been fixed. Noting here for cross-reference.

[2021-07-15 23:15] alaczek commented on #54458
Alrighty!

- [x] Add Blank Canvas Link in Bio Patterns to Dotcom Library.
- [x] Surface in Pattern Inserter. (I assume this will happens automatically when I add them.)
- [x] Surface in New Page Modal. (Tagged them all as Layouts, that should do it.)

It is all done. Just noting that if the active theme is Blank Canvas, all the patterns in Link in Bio category are now doubled. This issue is being

[2021-07-16 00:37] #54458 closed, assigned to apeatling, alaczek

[2021-07-16 00:54] donalirl commented on #53953
Encountered in #30659846-hc. Safari 13. OS X 10.13.6. Prevent cross site tracking is NOT checked.

[2021-07-16 01:44] tanjoymor opened #54631 "CoBlocks: Services Block center align not holding on edit"
### Steps to reproduce the behavior

1. Add a Services Block (with some content)
2. Center the "description" text in the Paragraph block and save or publish
3. Leave the editor and then return to the editor
4. Centered text reverts to being left aligned

#### What I expected to happen

Text to remain centered.

#### What actually happened

Text shows as centered at first, then reverts to be left a

[2021-07-16 07:14] autumnfjeld opened #54639 "My Home: Prevent spam users from launching their sites"
### Overview
We would like to prevent spam users (user who have signed up with a spam email that never gets verified) from launching their site.  Here we will blocking launch on My Home (note: double check if this work could/should be extended to blocking launch from other places).  This is a client side block, not a block at the API level.

Using existing spam identification tools (pbAok1-23C-p2#

[2021-07-16 07:35] fresatomica commented on #53100
Another report in https://wordpress.com/forums/topic/cant-post-anything-screen-is-blank.

[2021-07-16 08:25] deBhal commented on #54226
#54367 Adds the DotPager component and a bit more breathing-room to the cards. As long as we're only serving a single primary card from the backend, this component will render only minor style updates, but before we can start serving multiple primary cards to users we'll need to address three followup tasks:
- [ ] Address Accessibility issues with tab order, especially where it relates to the CTA

[2021-07-16 10:26] jordesign commented on #46077
Another instance of this (Profile image only) in #4135256-zen

[2021-07-16 12:22] kdevnel opened #54644 "Apostrophe2: Newspack Carousel Block break out of container on atomic"
### Steps to reproduce the behavior

1. Activate Apostrophe 2 on an atomic site
2. Go to Customiser > Content Options and ensure featured images are set to display on pages or posts
3. On a page or post, add a Newspack Post Carousel block to the page
4. The featured image should break out of the page container

#### What I expected to happen
The carousel should stay in the container width like it

[2021-07-16 12:34] retrofox commented on #54028
I'm getting a similar issue when

* Go to a simple site
* Create a new page
* Try to go back to prev page

[2021-07-16 12:45] Robertght commented on #54644
I looked into this briefly, however it appears to be related to this one:

https://github.com/Automattic/jetpack/issues/20289

We can go around with it using CSS code.

@jeherve Has the fix been merged yet?

[2021-07-16 12:51] kriskorn commented on #53953
Another report: 30667464-hc

[2021-07-16 13:33] jeherve commented on #54644
That's indeed the same problem. The fix has been merged, and will be shipped with the next version of Jetpack, scheduled to be released on WordPress.com sites next Tuesday.

Until then, I would recommend using CSS to solve the issue. You can learn more about workarounds here:
https://github.com/Automattic/wp-calypso/issues/54340

[2021-07-16 13:33] #54644 closed, assigned to nobody

[2021-07-16 13:34] sixhours commented on #54559
This bug is blocking #40793, which has been waiting for a loooooong time. I'm going to dig into it and hopefully fix it so we can ship the retired themes notice.

[2021-07-16 13:37] hideandgeek404 commented on #54466
Hi @kosiew,

I have cast my eyes over this one as I played into the ticket. It looks like you are trying to reproduce within the post itself. The issue seems to be occurring while still on the homepage but is particularly visible when viewing the "L’ERRANTE" post in the post list.

I have managed to reproduce the problem in a number of ways but what I would say is that it seems intermittent. Pleas

[2021-07-16 13:43] Copons commented on #54460
Question about removing the Site Editor sidebar: what should we do with Atomic sites?

On one hand, we should keep the experience consistent across Simple and Atomic.
On the other, Atomic is supposed to give users the same freedoms of self-hosted, so there might be Atomic users expecting to get the sidebar (and in turn, to be able to customize all templates at will, etc.).

Any opinions on this? @

[2021-07-16 14:01] sixhours commented on #54559
I wonder if this is a weird pagination issue, since the Recommended themes fetch does not support pagination while the All Themes one does, and every theme at the end of the query after a certain point is affected.

[2021-07-16 14:13] hideandgeek404 opened #54647 "Display where media items are being used in posts/pages"
**What**
A user came to us asking to see where each media item was being used. The user was guided towards the "Uploaded to" column of the media library, however, this only shows if the media was **originally** uploaded to that post. What would be useful would be to be able to see a list of all the pages and posts that a media gallery item was attached to at any given time.

For example, if I clic

[2021-07-16 14:34] #54559 closed, assigned to sixhours

[2021-07-16 15:37] dsas commented on #52178
## Reproduction
I can reproduce this on both atomic and simple sites using these steps

1. Use calypso to open the add new post screen
2. Set the title to 'Title' and publish (the post needs to be published rather than a draft)
3. Change the title to 'Title 2' and press preview - it will say 'Title 2'
4. Change the title to 'Title' and press preview - it will remain as 'Title 2' rather than updati

[2021-07-16 15:39] sixhours opened #54651 "Theme Showcase: Clicking Recommended tab doesn't preserve viewport position"
### Steps to reproduce the behavior

1. Go to `/themes/[site]` and scroll down a bit.
2. Click "All Themes" tab. Note how the screen stays put.
3. Click "Recommended" tab. Note how you're jumped to the top of the screen.

It's a small thing, but it will probably become more noticeable as we add more tabs.

#### What I expected to happen

For the tabs to behave the same way; both should keep your p

[2021-07-16 15:41] dsas commented on #52178
Looks like this Gutenberg issue: https://github.com/WordPress/gutenberg/issues/21191

[2021-07-16 16:03] allilevine opened #54652 "Jetpack Settings: Blank page shows for free Atomic sites"
### What plan tier is the site on?
Free

### Where are you seeing the issue?

1. Go to /settings/jetpack/
3. See it!

### What I expected on the WordPress.com site

Empty content with error message:
<img width="761" alt="Screen Shot 2021-07-16 at 11 59 22 AM" src="https://user-images.githubusercontent.com/1689238/125976146-fc924055-4fab-401b-a70b-34ffe5a83da1.png">

#### What I expected on the Ato

[2021-07-16 16:16] #53473 closed, assigned to DanielSmithMichigan

[2021-07-16 16:22] ciampo commented on #54445
The PR https://github.com/WordPress/gutenberg/pull/33511 containing a fix has been merged in Gutenberg.

When this fix will be released in the next version of Gutenberg and adopted in Calypso, it would be great if we could revert the hotfix from this PR — @razvanpapadopol and @alshakero , is this something that you'd be able to track on your side?

[2021-07-16 17:06] dsas commented on #52178
Using react dev tools, gutenberg's AutosaveMonitor isDirty prop is set to false if the content matches the saved version and true otherwise. Not sure if that is related :)

[2021-07-16 17:12] macmanx2 commented on #53953
Another report at https://wordpress.com/forums/topic/need-help-with-this-block-has-encountered-an-error-and-cannot-be-previewed/

[2021-07-16 17:13] obenland opened #54657 "Editor: Preview doesn't work without existing Autosave"
If you go to preview your site prior to saving anything, when you get to the front of your site, none of your changes are there. This feels like a bug when it happens. Prior to previewing, let’s just trigger a draft save of the customers changes.

### Steps to reproduce the behavior

1. Open the Editor for a new post.
2. Add content to the post.
3. Click on "Preview".
4. In the preview modal, clic

[2021-07-16 18:23] andres-blanco commented on #54561
closing this since it's not a bug. Atomic users get more color palettes.

[2021-07-16 18:23] #54561 closed, assigned to nobody

[2021-07-16 18:31] michaeldcain commented on #52760
With the updates the Design Selection pod made to the Headstart annotations for our most popular themes, I figured I'd just see what would happen on an existing site if I used the feature on wpcalypso (Settings > Theme Setup).

**tl;dr:** it works quite well: Pd4NFJ-tJ-p2

**Before:**
<img width="1755" alt="Screen Shot 2021-07-16 at 2 11 22 PM" src="https://user-images.githubusercontent.com/942359

[2021-07-16 18:47] scosgro opened #54661 "Connections: Mailchimp rebranded Lists into Audiences. Our wording still says Lists."
### Steps to reproduce the behavior

1. Go to Tools - Marketing - Connections
2. Connect Mailchimp
3. View our wording on Lists.

![image](https://user-images.githubusercontent.com/30731356/125994010-22d3e4c0-228e-44f2-8e07-98faea5f4a8a.png)

#### What I expected to happen
Mailchimp has rebranded Lists into Audiences. We need to keep up with that, or the wording gets confusing (users don't know th

[2021-07-16 19:03] marcuswisecaesar commented on #35800
User reported this here and asked for an update: hc-30672648
iPhone XR
iOS 14.6
Chrome 84.0.4147.71

[2021-07-16 19:14] kelliepeterson commented on #7526
After doing work on this and review we've determined that auto updating this may lead to more issues than intended and greater likelihood of deadlinks due to expired domains, etc. We will not be making this change.

[2021-07-16 19:14] #7526 closed

[2021-07-16 19:34] DavidRothstein commented on #54383
Thanks for bringing this up!

In the past, we've gotten feedback from the legal team that the word "Cancel" is recommended here (p9jf6J-1GZ-p2#comment-6381).  Note that's not **only** for legal reasons -- it's also because it's basically the standard word that many other websites use for the case where the user wants to let their subscription expire at the end of its term (i.e., disable auto-renew

[2021-07-16 19:35] Robertght commented on #51641
Another case in 4153262-zen

[2021-07-16 19:35] allilevine opened #54663 "requestSupportHistory is missing an onError handler"
### Details

Unit tests throw a warning because `requestSupportHistory` is missing an `onError` handler:
https://github.com/Automattic/wp-calypso/blob/e314a251e948361d9019441d2976041f51fed054/client/state/data-layer/wpcom/help/support-history/index.js#L27-L30

### Checklist

- [ ] Add an `onError` handler to prevent the warning

### Related

https://github.com/Automattic/wp-calypso/pull/53484

[2021-07-16 19:39] worldomonation commented on #53962
Reopening issue.

@dpasque may be interested in exploring this avenue.

Updated original description as well.

[2021-07-16 19:49] worldomonation opened #54664 "Playwright: investigate use of TypeScript to write test specs"
### Details

Currently, all of Playwright's libraries are implemented using TypeScript while the test specs themselves continue to be written in JavaScript.

There may be benefits to using TypeScript to write specs as well:
- less context switching between JS and TS
- proper type checking for page objects used and tracked in the specs
- proper type checking for parameters to page object methods (e

[2021-07-16 19:58] carinapilar commented on #54383
Thanks for all these details, @DavidRothstein!

That looks great, it seems very clear with those options.

I have the feeling that this isn't always true, but I might be wrong and would need to gather more examples. On the ticket I shared, it was a cancellation outside the refund window, and for some reason the user wants to cancel their plan completely, so they need to go over the cancellation pr

[2021-07-16 19:58] dpasque commented on #54625
This is documented in issue [54664](https://github.com/Automattic/wp-calypso/issues/54664), so closing this current one in favor of that!

[2021-07-16 19:58] #54625 closed, assigned to nobody

[2021-07-16 20:12] scosgro commented on #53953
Another report in 2880963-hc

[2021-07-16 20:24] andres-blanco commented on #54598
this works OK on Simple. The problem seems to be that this CSS variable is not updating `--branding--color-link`

[2021-07-16 22:17] cuemarie commented on #40644
Had a user reporting this issue today with a Paragraph Block: 29952424-hc
Screenshot: <img width="864" alt="Screen Shot 2021-07-16 at 3 14 42 PM" src="https://user-images.githubusercontent.com/27249804/126013467-e3bed979-0991-4c09-82a4-d3b5b44908bf.png">

- user has switched to "Edit with HTML", and now there is no menu that appears to switch back to Visual editing.
- user is on Windows 10 with Ch

[2021-07-16 22:28] DanielSmithMichigan commented on #52759
I tried every recommended theme, and determined: Are custom colors completely/mostly broken for this theme on atomic?

My criteria was to change each color, and make sure it modified something on the page. I found that these were "completely/mostly broken:"

- Shawburn (Fixed by [4230](https://github.com/Automattic/themes/pull/4230))
- Morden (Fixed by [4230](https://github.com/Automattic/themes/p

[2021-07-16 23:02] worldomonation commented on #54571
Muted these tests:
- [WPCOM] Activating Themes: (mobile) @parallel: Can open Themes menu

[2021-07-16 23:02] worldomonation commented on #54571
So far, it seems the `mobile e2e` task is mostly green due to the muting. I think I can mark this task as closed.

[2021-07-16 23:03] #54571 closed, assigned to nobody

[2021-07-16 23:03] pablinos commented on #54028
I'm struggling to think of a good solution to this. The version of the problem that you're seeing @retrofox is related to [this `insertPattern` method](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/starter-page-templates/page-patterns-plugin.tsx#L69-L86). It calls `editPost` and `replaceInnerBlocks`, both of which leave the post in a dirty state.

[2021-07-16 23:32] scosgro commented on #53953
Another report in 23686916-hc - Firefox.

[2021-07-17 05:37] kaitohm commented on #53953
Another report: 4120429-zd-woothemes
Using MacOS Big Sur v11.4 on a MacBook Pro
Safari v14.1.1

[2021-07-17 06:11] devNigel opened #54670 "Calypso crashes to a white screen when an Administrator tries to manage a domain it doesn't own."
When an administrator of a site tries to manage the domain that is under the ownership of another administrator, the Calypso dashboard crashes to a white screen.

### Steps to reproduce the behavior

1. Go to a site that has two or more administrators.
2. Make sure a custom domain name is added to the site from Administrator 1's account.
2. log in to WordPress.com with Administrator 2's account.
3

[2021-07-17 07:22] worldomonation commented on #53925
Closing this as the scope of this item is superseded by #54338.

[2021-07-17 07:22] #53925 closed, assigned to nobody

[2021-07-17 07:25] worldomonation commented on #20331
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-07-17 07:25] #20331 closed

[2021-07-17 07:26] worldomonation commented on #38858
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-07-17 07:26] #38858 closed

[2021-07-17 07:26] worldomonation commented on #46436
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-07-17 07:26] #46436 closed

[2021-07-17 07:27] worldomonation commented on #46073
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-07-17 07:27] #46073 closed

[2021-07-17 07:46] pendantry commented on #54647
I'd just like to say that I fully endorse this proposal. I am in fact the user that sought assistance from WordPress.com support with this issue -- and I did so following a conversation with another user, who had asked me how to identify posts on which images were present. So that makes three of us who think this would be a Good Idea.

I'd also add a point 3 to the 'Why' section: the media library

[2021-07-17 09:10] mrfoxtalbot opened #54671 "Publicize Twitter Threads: The markup used to separate tweets should not be visible in the editor"
### Steps to reproduce the behavior

1. Write a post.
2. Share it as a Twitter thread
3. Reload the editor and look at the post.

#### What I expected to happen
The original post should not show any changes.

#### What actually happened
The HTML `<mark>` tag used to separate the different tweets are visible. They are using this markup:

[code]

I do not know the technical details of how this featu

[2021-07-17 13:08] pendantry opened #54672 "Combat link rot by adding a link crawler"
**What**
A function ('crawler', or 'spider') that crawls a site and presents a report on dead links and missing embedded content (such as images and videos) from the content on that site.

**Why**
'[Link rot]([url]https://en.wikipedia.org/wiki/Link_rot(url))' is an endemic problem; one that reduces the usability of the web, and builds over time.

To address it, one needs a means of identifying pro

[2021-07-17 14:02] carinapilar opened #54673 "Copy Page: Issues with Words on Form Block"
### Steps to reproduce the behavior

1. Create a new page
2. Add a Form block
3. Edit a label in a field, make it bold, add an special character
4. Publish the page
5. Make a copy of that page

#### What I expected to happen
To create a copy with the same content.

#### What actually happened
The label text in the Form block shows weird characters.

### Context

#### Screenshot
Here's how it looks

[2021-07-17 14:58] aleone89 commented on #54340
Two reports today:

hc-20000987
hc-30683438

The CSS above solved the issue.

[2021-07-17 16:37] michaeldcain opened #54674 "Support: update generic "email support" text"
Since we have an email product, the generic use of ["email support" in Calypso](https://github.com/Automattic/wp-calypso/search?q=%22email+support%22), especially in Checkout's "included with your purchase" sidebar, to describe non-live chat support can be confusing for users.

Let's update it mentions of "email support" to "customer support via email".

/cc @olaolusoga @semihakocer @daledupreez

[2021-07-17 17:17] xpurichan commented on #52605
Also requested in 4144298-zd.

One easier workaround that we can recommend for now is to place the video inside of a single column block. Previously videos did not resize properly in column blocks, but this was fixed (https://github.com/Automattic/jetpack/issues/17465).

[2021-07-17 18:17] xpurichan commented on #32232
Another case in 4131001-zd on a simple site. We can see all 23 pages in WP Admin, but 0 pages and a "You haven't published any pages yet" error in Calypso.

I went through and loaded each page's editor from WP Admin to see if there was any particular page which was too broken to load. Three of their pages took a long time to load and I noticed these three were very large. However, all of them did

[2021-07-17 19:32] kelliepeterson commented on #50388
This is fixed.

[2021-07-17 19:32] #50388 closed, assigned to klimeryk

[2021-07-17 19:59] carinapilar commented on #39424
This was brought up again here: pbEMJv-LK-p2 - so I'm reopening this issue (I mentioned here too: p58i-aVR-p2#comment-51482).

I also got a new case here: 4155499-zd-woothemes

[2021-07-17 23:49] michaeldcain commented on #54670
@Automattic/nomado

[2021-07-18 01:01] happychait commented on #53953
30619995-hc on Safari.

[2021-07-18 02:46] joweber123 commented on #50928
Another report here 30665805-hc (AT) They said that they have not had issues until recently with uploading zip files and I can confirm that uploading from Calypso gives this error while uploading from wp-admin does not.

[2021-07-18 05:40] inaikem commented on #51640
Hi @kwight 👋 The same person mentioned above in 29842652-hc and 30045653-hc came back in to chat today asking for an update in 30690583-hc. I moved them over to 4156707-zd and resent the prev HE's suggested workaround.

Can you tell me if there's been any movement on issuing a fix for this since the last note? Thanks!

[2021-07-18 11:28] delputnam commented on #54670
This appears to have been introduced by https://github.com/Automattic/wp-calypso/pull/53685

cc @donlair

[2021-07-18 12:43] Patil2099 commented on #54674
I would love to work on this

[2021-07-18 13:44] philnick206 opened #54676 "Recently edited posts list in the WordPress menu in the editor does include Drafts"
### Steps to reproduce the behavior

1. Create a post and save it as a draft
2. Click on the WordPress icon in the top-left of the editor to open the menu
3. Click on Add new post
4. Click on WordPress icon in the top-left of the editor

#### What I expected to happen

The draft post should be shown under Recently edited in the menu

#### What actually happened

No draft post is shown in the Recen

[2021-07-18 14:20] arunsathiya opened #54677 "Section to remove add or remove sharing buttons is not friendly to screen-reader users"
This is a report from a customer:

I kindly ask you to implement this accessibility feature.
Now specifically I would like to remove Tumblr and Reddit share buttons.

### Steps to reproduce the behavior

- Start with a screen reader on the sharing buttons page: https://wordpress.com/marketing/sharing-buttons/
- Try adding or removing sharing buttons
- The screen reader reads the button names, but

[2021-07-18 14:44] kriskarkoski opened #54678 "Widget Visibility Not Applied in Customizer"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/customize/
2. Open Widgets and apply visibility settings such as Hide if Page is Front Page
3. Note the widget continues to show when it should be hidden (and is hidden if you view the site outside of the Customizer)

#### What I expected to happen

The Customizer to reflect widget visibility settings

#### What actually happened

[2021-07-18 15:57] NoHopeRadio commented on #46077
In 4130013-zen, they could not update their author description. Updated it via CLI `user update user_id --description=<description>`

[2021-07-18 17:38] Sandkorner commented on #52046
Would that be something that might be worked on in the near future?
The same user is asking for an update and maybe I can give them some information regarding this.

[2021-07-18 17:44] ahmadbaig1 commented on #52182
4131258-zd

[2021-07-18 17:45] kathrynwp commented on #53953
29487732-hc
Safari  14.1.1

[2021-07-18 19:25] KirkwallDay commented on #47992
Found a new incidence of this here: 27993965-hc

Only affects Chrome, and they did try other browsers and they were fine. Also go the "What is my Browser" link here: https://whatismybrowser.com/w/956LEBX

[2021-07-19 03:48] donalirl commented on #52760
FWIW, in almost four years and 34,000 user interactions, I have never encountered a customer who wanted to undo a headstart. The important thing is to make sure that the messaging in the UI is clear so that users:

* understand what headstart on demand is
* understand the consequences of taking the action
* help them decide if this option is right for them
* Understand that the action is irreversi

[2021-07-19 05:13] roo2 commented on #54443
Some tech investigation:

**Verify your email**
This is returned by the `/me` endpoint as `email_verified` and attached to the user object, exposed with the [`isCurrentUserEmailVerified` selector](https://github.com/Automattic/wp-calypso/blob/trunk/client/state/current-user/selectors.js#L171)

**Domain mapping not configured issue**
It appears we have the `has_wpcom_nameservers` flag  available fr

[2021-07-19 05:25] Robertght commented on #53953
For what is worth, I grabbed the original post content and tried to replicate the issue but had no luck with Safari 14.1.1.

[2021-07-19 05:36] donalirl commented on #53609
This happens to me every so often on WordPress.com and P2, but any time I try to capture a recording, it works as normal. I haven't been able to figure out any concrete steps to reproduce so far.

I wanted to add that it also happens when highlighting text to add a link to the text. I'll highlight the full text, then paste the link, but only a portion of the text I highlighted gets linked.

FWIW,

[2021-07-19 05:36] #54267 closed, assigned to nobody

[2021-07-19 05:37] inaikem commented on #54383
Thanks, @DavidRothstein 🙏 Regarding this:

&nbsp;

I like it! Anecdotally, we have a fair few users coming into chat asking for downgrades. So, as an interim measure until we offer a self-serve downgrade feature, I'm wondering if we could _keep_ the above panel and have it throw a version of the Atomic remove purchase dialog as follows:
&nbsp;

![Downgrade Modal | MK](https://user-images.githubuse

[2021-07-19 07:19] devNigel commented on #53014
Another report for the keyword `tyranny`

![image](https://user-images.githubusercontent.com/33957570/126118486-bab91cd8-4b45-4033-b427-4ae94c2e4d3b.png)

User report: 28026552-hc

[2021-07-19 07:21] artpi commented on #53008
Closing this in favor of #36226

[2021-07-19 07:21] #53008 closed, assigned to nobody

[2021-07-19 07:26] inaikem commented on #54433
Thanks for reporting the issue, @KirkwallDay 🙏

I was unable to replicate this on my AT sites. I inserted a video block, selected a video, enabled the "Play Inline" block setting and was able to save/preview/view the post as expected. There was no refresh on my side after enabling the "Play Inline" setting.

I tested on macOS 11.3, Chrome 91, Firefox 89 and 90. Would you be able to test again on y

[2021-07-19 07:26] #54433 closed, assigned to nobody

[2021-07-19 07:51] donalirl commented on #53953
#4156113-zen

[2021-07-19 07:55] #46345 closed

[2021-07-19 08:01] johngodley commented on #53014
I've just tried now and the 'pattern' and 'patterns' keywords no longer return cannabis pictures, and 'tyranny' returns no results.

[2021-07-19 08:07] Nic-Sevic commented on #49364
This is still occurring after the merge of the referenced similar issue: https://github.com/Automattic/jetpack/pull/18586

current case here: 4158565-zd-woothemes

@jmdodd Could you check the comment from cpapazoglou and see if this sounds workable for AT?

`The problem is that masterbar & nav-unification may be disabled anytime cause they alter the UX in an unwanted way (even if we decouple nav-u

[2021-07-19 08:08] inaikem commented on #54434
Thanks for reporting this, @khristiansnyder 🙏

I was able to replicate this on Simple sites in the Calypso view: file size is shown as `0.00 B`

WP Admin / Classic view shows file sizes as expected. Only PDF files seem affected by this. Image files report file size correctly.

[2021-07-19 08:09] #52084 closed, assigned to nobody

[2021-07-19 08:15] edwinho89 commented on #51180
29839516-hc

As workaround, we've redirected user to copy page from wp-admin dashboard instead.

I was not able to reproduce this by first creating a new simple site turning WoA (via hosting config)

When installing plugin for the first time, the "Copy Page" button goes missing right after. "Copy Posts" works just as expected.

[2021-07-19 08:20] edwinho89 commented on #51640
4156375-zd-woothemes

[2021-07-19 08:29] inaikem commented on #54435
Thanks for reporting this, @kathrynwp!

Confirming I can replicate this and that there's an existing thread related to this issue here: p1621935770059000-slack-C45SNKV4Z.

A related issue has been reported in the main `/gutenberg` repo. Closing this issue in favour of that: https://github.com/WordPress/gutenberg/issues/32402

[2021-07-19 08:29] #54435 closed, assigned to nobody

[2021-07-19 08:33] #48598 closed, assigned to nobody

[2021-07-19 08:35] johngodley commented on #53014
Just to confirm:

![image](https://user-images.githubusercontent.com/1277682/126129075-94a06d20-b9df-4508-86e3-090aced436be.png)

![image](https://user-images.githubusercontent.com/1277682/126129195-dffbc2f9-dfac-4d69-bbcd-d2fab2bdb0b7.png)

![image](https://user-images.githubusercontent.com/1277682/126129246-aadc42a0-3dd2-4479-b79d-3f5989717895.png)

![image](https://user-images.githubusercontent

[2021-07-19 08:55] inaikem commented on #54446
Thanks for reporting this, @edwinho89. I'm also unable to replicate (macOS with Firefox 90 or Chrome 91, proxied or unproxied). A test page loads fine on my test site. Clicking the "Pay with Paypal" button loads the login modal without issue.

It also appears the user has removed the PayPal block from the page you noted in 4132423-zen - the block has been replaced with a paypal.me link.

I'd like

[2021-07-19 09:11] inaikem commented on #53451
Thanks for the feature request, @edwinho89. I raised this here: p1626685750115900-slack-C01B6KEJ5GE.

I'll feedback once I have an update there.

[2021-07-19 09:31] tjcafferkey commented on #54547
@mrfoxtalbot we can do that. We will make sure that the Modal only renders at the same time as the Screen Options component in Calypso.

[2021-07-19 09:33] tjcafferkey commented on #54547
@mrfoxtalbot The only issue here is that if the user doesn't have Calypso screens set as their preference (e.g. they prefer WP Admin for Posts, Pages, Media etc) they wont see the Modal until they eventually do hit a Calypso version of a page.

Whereas all users will hit the Calypso Home page upon login.

[2021-07-19 09:42] inaikem commented on #54617
Thanks for submitting the issue, @KirkwallDay. I’ve dealt with similar issues twice over the past few weeks and consider this to be more of an education/awareness issue vs platform bug.

We should allow folks to set whatever line-height they want, as there may be a design reason for doing so.

However, I think we _should_ also consider adding a warning if line-height is set to <1. Something simila

[2021-07-19 09:45] inaikem commented on #54617
After some discussion I created a new issue in the main Gutenberg repo here: https://github.com/WordPress/gutenberg/issues/33536.

The request contains a couple of suggestions for communicating the result of low line heights to users. Closing this request in favour of the above link.

Discussion: p1626686492060200/1626677897.047000-slack-C01UW7SB411

[2021-07-19 09:45] #54617 closed, assigned to nobody

[2021-07-19 09:52] inaikem commented on #54630
Thanks for submitting this report, @scosgro 🙏

I tested and was able to confirm your findings. Moving into the triaged queue.

[2021-07-19 10:01] inaikem commented on #54631
Thanks for the filing this report, @tanjoymor 🙏

I tested and was able to replicate the issue exactly as you described it. Moving into the triaged queue now.

[2021-07-19 11:02] delputnam commented on #54670
Deploying https://github.com/Automattic/wp-calypso/pull/54679 to revert the change that caused this regression.

[2021-07-19 11:02] #54670 closed, assigned to nobody

[2021-07-19 11:22] Nic-Sevic opened #54684 "Atomic: New page template splash immediately disappears"
### Steps to reproduce the behavior

1. On an AT site click to add a new page
2. See the template slash briefly appear and then disappear

#### What I expected to happen
I should be able to pick a page template and the splash should only disappear when I close it

#### What actually happened
It disappears immediately

### Context
was trying to see what home page demo templates we have for themes

[2021-07-19 12:16] inaikem commented on #53451
P2'd here: pNPgK-5vM-p

[2021-07-19 12:34] david-szabo97 commented on #54508
Taking this 👀  (https://github.com/Automattic/wp-calypso/pull/54706)

[2021-07-19 12:45] mikeicode commented on #46634
@mrfoxtalbot I've found this happens on AT sites only.

Simple Sites Blog Posts block: No sharing icons.

AT Sites Blog Posts block: Sharing icons:

![Screen Shot on 2021-07-19 at 08:41:31](https://user-images.githubusercontent.com/10353785/126161435-a5611ec4-504f-4871-b048-75587e68f13a.png)

On my test site the icons did display. It does have the issue where they are hidden if you disable the exc

[2021-07-19 13:30] mmtr commented on #54499
Moving this back to "In progress" since we're slightly changing the implementation (see p1626695421153400-slack-C01VDMPHG69).

- We’re going to hide the quick switcher on Calypso when SSO is disabled (Calypso PR)
- We’re going to force the default view on the admin menu classes when SSO is disabled (Jetpack PR)

[2021-07-19 14:31] dpasque opened #54688 "Playwright: Can we avoid inheritance in the BaseContainer?"
### Details

Right now, all Object Models inherit from `BaseContainer`. As this grew in Selenium version of the project, it sometimes led to code that was a little bit harder to follow due to the multiple layers and confusing function ordering that grew out of using inheritance.

Now that we're using Typescript, we might be able to accomplish the same goals with library functions that consume inte

[2021-07-19 14:36] donlair commented on #54383
Thanks for that context @DavidRothstein, that's super helpful. I'll review the legal feedback and play with your suggestions. Filippo's proposed flow looks like a definite improvement to me - it's out-of-scope for Flow Patrol's pod work, so I'll see if I can find a short-term solution that works for everybody.

[2021-07-19 14:46] Aurorum commented on #54647
I have a couple of ideas to implement this - I'll come up with something this week.

[2021-07-19 15:12] KirkwallDay commented on #53401
@gwwar Didn't notice this at the time. I think you're right, they had a window open for a long time without refreshing. I didn't ask them this, but that sounds right to me. I haven't run across this since my last comment.

[2021-07-19 16:40] Aurorum commented on #54647
This should be addressed in Calypso by #54691, which is reliant on Automattic/jetpack#20408.

<img width="506" alt="Screenshot 2021-07-19 at 17 36 59" src="https://user-images.githubusercontent.com/43215253/126195519-e40214d3-fdd0-4535-8c0e-e81c2dacc430.png">

[2021-07-19 16:45] chrisfromthelc opened #54692 "Choose A Domain in new site flow doesn't warn about special characters"
### Steps to reproduce the behavior

1. Go to Add New Site
2. Add a site name.
3. On the Choose a Domain screen, add a free site address (`*.wordpress.com`) with dashes, like `chriswsmith-dev.wordpress.com`.
4. The site address is shown as unavailable, but no error or notification why it's unavailable.

<img width="903" alt="Screenshot on 2021-07-19 at 09-35-45" src="https://user-images.githubuser

[2021-07-19 17:41] pablinos commented on #54040
I've just been chatting to @mattsherman about this, after being pointed to #49232 by @mmtr. It sounds like this link has been in the navigation for a long time and isn't something we'd want to remove right now. If we want to have a broader conversation about changing it/removing it, then @mattsherman suggested @pmcpinto might be a good person to talk to.

So, I'll close this one for now.

[2021-07-19 17:41] #54040 closed, assigned to nobody

[2021-07-19 18:25] thatmikebal opened #54694 "Unable to Log Out of WordPress.com"
### Steps to reproduce the behavior

1. Was logged into WordPress.com AND in wp-admin of an atomic site hosted on WP.com
2. I was trying to log out so I could test some FB ads analytics
3. Logging out via wp-admin redirected me to WordPress.com
4. Attempting to log out here sent me to a 403 nginx page

#### What I expected to happen
I expect to be logged out and be able to view the site as a logge

[2021-07-19 18:57] sajmes commented on #36226
2578715-hc

[2021-07-19 19:14] #54162 closed, assigned to retrofox

[2021-07-19 20:17] worldomonation commented on #48573
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue with:
[code]

On Browser: Firefox Nightly 92.0a1.
![Screen Shot 2021-07-19 at 1 16 22 PM](https://user-images.githubusercontent.com/6549265/126221651-147297da-e3e9-49c0-8a59-b3d14d46eb7f.png)
See attached screenshot.

As there has been no recent ac

[2021-07-19 20:23] worldomonation commented on #48724
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue, mostly because the Settings > Ratings menu no longer exists for the various sites I have tried with the following plans:

- WordPress.com Premium
- WordPress.com Business
- WordPRess.com no plan

Please see attached screenshot from a WordPress.com

[2021-07-19 20:23] #48724 closed, assigned to nobody

[2021-07-19 20:25] worldomonation commented on #48646
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was unable to reproduce this issue on both Firefox Nightly 92.0a1 and Chrome 91.0. Please see attached screenshot.

As there has been no recent activity on this issue it is being closed with the label `Closed - Not Reproducile`.
If this issue should remain open, please feel free to re

[2021-07-19 20:25] #48646 closed, assigned to nobody

[2021-07-19 20:29] worldomonation commented on #48701
This issue remains reproducible, so removing the `Stale` label.

With that said - would this be expected to be a bug? I would not expect a user to attempt to view/navigate through their site and interact with pages this way.

[2021-07-19 20:44] allilevine commented on #54066
@xpurichan 👋 It looks like we originally opened the Customizer in a new tab in response to a Happiness request. Here's the original issue: https://github.com/Automattic/wp-calypso/issues/33088 Do you know if that's still an issue? We no longer have the theme "setup" tab, but I wanted to double check.

[2021-07-19 21:23] DustyReagan commented on #53922
I tested this. The Install button disables during install now. However, once the install is complete, the install button reappears and is clickable. Clicking it seems to just run the install gifs maybe indefinitely?

Video here: https://d.pr/v/waax6Y

[2021-07-19 21:40] DustyReagan commented on #53922
Recorded a 2nd test to verify. The install button reappears after the install finishes and clicking it produces strange UI behavior. https://d.pr/v/fIooL1

[2021-07-19 22:23] worldomonation commented on #48523
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-07-19 22:23] #48523 closed, assigned to nobody

[2021-07-19 22:24] worldomonation commented on #48975
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-07-19 22:24] #48975 closed, assigned to nobody

[2021-07-19 22:24] DanielSmithMichigan commented on #16440
Pages 1-4 were only premium themes.

[Page 5 (Mostly premium themes, but then free themes start)](https://user-images.githubusercontent.com/10274366/126234458-f6b96037-b1ad-4cca-b812-06d7dda5a1df.png)

I don't see confit in the list, but I do see free themes. I guess it makes sense that we would ONLY want to see premium themes at this point, but I think the behavior now is not as bad as the listed

[2021-07-19 22:40] worldomonation commented on #48463
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was unable to reproduce this issue with the following:

[code]

If this issue should remain open, please feel free to re-open this bug.

[2021-07-19 22:40] #48463 closed, assigned to nobody

[2021-07-19 23:00] michaeldcain commented on #54194
I think this is worth keeping open (and maybe just removing from the My Home pod's board) since we use the `InlineSupportModal` component elsewhere in Calypso, and it could really use a visual refresh.

[2021-07-19 23:12] worldomonation opened #54701 "Playwright: CommentsComponent.postComment is flaky"
### Details

Logs:
[code]

### Checklist

_No response_

### Related

_No response_

[2021-07-19 23:16] worldomonation commented on #54614
Let's observe `trunk` and other branches since #54666 has been merged.

[2021-07-19 23:21] worldomonation commented on #53486
Closing this as #54448 has been implemented.

[2021-07-19 23:21] #53486 closed, assigned to nobody

[2021-07-20 01:01] donalirl commented on #53978
Encountered in #30718718-hc and shared this reply from LinkedIn support:

It wont if pushing to LinkedIn via Share API because the API is not properly passing the image. Per the above, you can specify the image, title, url, ... information in the API call to create the post.  It does not automatically pull from the OG tags.
This means that there is an issue with the Wordpress API and how it handli

[2021-07-20 01:56] autumnfjeld commented on #54503
@jeffgolenski  Could you provide some design guidance on how this should look?  Moochas Gracias.

[2021-07-20 02:18] autumnfjeld commented on #54443
Recent designs on the Action Center (formerly Site Status area):

![image](https://user-images.githubusercontent.com/5665959/126252111-813c7bed-3800-4106-8dab-bd5c68710960.png)

WIP Figma Designs:  fLQcNzdadWzo87n89Imecj-fi-2437%3A36937

[2021-07-20 03:00] jordesign commented on #54443
I think this is a bit of a tricky one (in terms of the value it offers). For many users they would regularly have multiple drafts on the go - which makes this kind of notification less useful (it's less of a 'FIX THIS NOW' situation).

[2021-07-20 03:02] jordesign commented on #54575
In terms of context - having a notification of broken connection seems most relevant to the 'Action Area'.

Number of times things have been shared seems *useful* - but less of an 'action' item?

[2021-07-20 04:23] joweber123 opened #54704 "Stats: Add "Audio Plays" to Stats"
Currently, in WordPress.com no stats are collected for how many times an Audio Block is played.  I think that many of our users that host their podcast at WordPress.com would benefit from knowing how many times their audio has been played, just as we allow users to know how many times their video has been played. We do have the 'File downloads" [on Simple Sites](https://github.com/Automattic/wp-ca

[2021-07-20 05:03] roo2 opened #54705 "My Home: Notify user when a domain mapping is incorrectly configured"
A common cause for support tickets is when users have an external domain name and purchase a domain mapping, but do not update the nameservers to point at the wordpress nameservers at their registrar. (_ns1.wordpress.com_ etc)

See https://wordpress.com/support/domains/map-existing-domain/ for details

This task is to add the "Your domain _domain.name.tld_ needs to be configured to work porperly"

[2021-07-20 05:46] aneeshd16 commented on #52775
This is being worked on in D64253-code

[2021-07-20 07:16] taggon commented on #54657
@obenland Is this still relevant? Look like the draft is saved as soon as the Preview button is clicked. Check out the following video.

https://user-images.githubusercontent.com/212034/126278025-be5f4fc6-8de5-47e4-82b7-209c75fb2b6a.mov

[2021-07-20 07:38] aleone89 commented on #54340
Another report:

hc-30627755

**What I did**
1. Deactivated JP Carousel module in blog RC.
2. Installed Jetpack Beta > searched for and applied > update / carousel css tweaks
3. Do not activate Release Candidate in Jetpack Beta results in a blank WP-Admin

[2021-07-20 08:21] p-jackson opened #54708 "My Home: Update the copy in the site setup checklist"
### Details

We have proposed some new and improved [copy](https://en.wikipedia.org/wiki/Copy_(written)) for the site setup checklist.

The new copy can be found in the spreadsheet linked here: pd2qGl-7s-p2

<img width="983" alt="ssc" src="https://user-images.githubusercontent.com/1500769/126284703-80c51c0b-01a0-420a-8a5d-624ffa2c3aca.png">

The current copy will be using the `translate()` functio

[2021-07-20 08:27] roo2 opened #54709 "My Home: Action center UI and "Please verify your email" tasks"
This includes the UI for the Action center, but because the UI won't be shown if there are no tasks, this card includes adding the "Please verify your email" task
UI:
![125899426-12370b37-9113-405f-b0cc-38daae69c5cf](https://user-images.githubusercontent.com/22446385/126265310-cf05942d-4790-4724-a5f8-9cd85d8264de.png)

This would include a link to resend the email, see https://github.com/Automatti

[2021-07-20 08:38] roo2 commented on #54443
@jordesign what about a situation where the user doesn't realize that their post is still in DRAFT mode. Do you think that would happen often? I think even if it's not an emergency, it could be useful to remind the user to finish off the draft that they started

[2021-07-20 08:46] roo2 opened #54710 "My Home: Notify user when they have unpublished drafts"
When a user has unpublished drafts we can notify them in the action center with a count and a link to the drafts page.
![125899426-12370b37-9113-405f-b0cc-38daae69c5cf](https://user-images.githubusercontent.com/22446385/126290438-90ef6354-19ba-4b1c-af35-99a4c5b27a13.png)

#### Tech investigation
On the Post List page, we get the draft posts with the PostTypeList component which makes a call like s

[2021-07-20 08:48] roo2 commented on #54710
Drafts are differentiated into pages and posts, with different links to view/edit, I think we should have two messages e.g.

You have 2 draft _posts_ waiting to be published  ...    [View Drafts](//) (/posts/drafts/yoursite.wordpress.com)
You have 1 draft _page_ waiting to be published    .....  [View Drafts](//) (/pages/drafts/yoursite.wordpress.com)

[2021-07-20 09:21] david-szabo97 commented on #54508
Taking this one too (https://github.com/Automattic/wp-calypso/pull/54713)

[2021-07-20 09:56] mmtr commented on #54499
Reopening, we still need https://github.com/Automattic/jetpack/pull/20404

[2021-07-20 10:44] carinapilar commented on #48573
This is still happening, the difference now is how the List View shows selected blocks, it's not a black square anymore, so the issue isn't so impactful, but it's still there.

You can see that when you have a Premium Content or WhatsApp block selected, its icon isn't white, as it happens with the text, or other blocks.

Here's the WhatsApp block:

![BlackIcon1](https://user-images.githubuserconte

[2021-07-20 11:13] #54499 closed, assigned to BogdanUngureanu, mmtr

[2021-07-20 11:26] philnick206 commented on #54351
Another report #4122323-hc

[2021-07-20 12:45] sixhours commented on #54389
Looks like this is being worked on in #54713

[2021-07-20 13:13] tellisbethel commented on #53953
Another report here: 4161640-zd-woothemes
Safari Version/14.1.1

User says they have other sites under the same account that are not experiencing this issue at all.
I offered the user the Visual/Code editor workaround, but they had switched to Chrome meanwhile and said the issue stopped (for now).

[2021-07-20 13:26] #53744 closed, assigned to alshakero

[2021-07-20 14:08] mreishus commented on #54389
Hm, yes, I also have a different implementation using react-query (but it has no badge): https://github.com/Automattic/wp-calypso/pull/54698/commits/3a3b1f99915e1a3021d44fd4171515cd03614593

[2021-07-20 14:12] #54501 closed, assigned to BogdanUngureanu

[2021-07-20 14:16] tjcafferkey commented on #51457
Now that we have the Quick Switch I am closing this issue. If any work needs to be done RE moving a feature then we should create another issue for this.

[2021-07-20 14:16] #51457 closed, assigned to nobody

[2021-07-20 14:17] tjcafferkey commented on #51568
Now that we have the Quick Switch I am closing this issue.

[2021-07-20 14:17] #51568 closed, assigned to nobody

[2021-07-20 14:28] msilbers commented on #53014
This is happening for me too, and occurs for any set of random text. If I search for vtjliecsdfjvs or aekjefjfsd it returns the results shown in the second comment on this issue. It kinda seems like it's showing those images for anything it doesn't have results for.

This happens on any of my WordPress.com sites, Simple or Atomic, and on P2

The images are not what Pexels.com reports:

<img width=

[2021-07-20 14:28] dolgelukkig opened #54718 "Domain credit not available for monthly plans not mentioned in FAQ on the plans page"
### Steps to reproduce the behavior

1. Go to 'https://wordpress.com/plans/SITEADDRESS'
2. Scroll down to FAQ
3. Free domain credit included in all plans (not only annual)

screenshot: https://d.pr/i/2NFab9

Solution: Add "The domain credit for a free domain for the first year is only included with the annual or two-year plans."

[2021-07-20 14:38] dpasque opened #54719 "Playwright: Get intellisense in test script writing with imports from the calypso-e2e projects"
### Details

Right now, POM classes imported from the calypso-e2e project don't have intellisense when used in testing scripts.

This task is to investigate how to get that working.

### Checklist

_No response_

### Related

_No response_

[2021-07-20 14:39] obenland commented on #54657
Hm, so it looks like this might be a browser-specific issue?

In Chrome I see the 404 and then it reloads to show the preview.
In Safari I get stuck on the 404 without a page reload.

Does that match your experience?

[2021-07-20 14:40] devNigel commented on #53014
These are my new findings:

1. I am able to reproduce on all sites in 2 different WPCOM accounts when using the browser but not on the third WPCOM account
2. I am not able to reproduce the issue on any of the accounts when searching using the WordPress app.

[2021-07-20 14:54] xpurichan commented on #54066
@allilevine I expected that this opened in a new tab in case the customer was in a live chat with us (previously the chat window would not follow the customer in to the customizer).

I found some inconsistencies for how we handle this. First, if a customer has a chat open they can go to Appearance > Customize in the same window and chat will follow them. However, if they specifically go to Appeara

[2021-07-20 15:04] metabreakr commented on #53953
4158425-zen

[2021-07-20 15:23] khristiansnyder commented on #41606
Any movement on this? Had another request for this today in #9300897-hc

[2021-07-20 15:23] jeffgolenski commented on #54503
Absolutely @autumnfjeld. It should look like this for small mobile devices. These are screenshots from my iphone 8 plus. I'm unable to reproduce what Cain saw on my actual devices, just the mobile version of the element inspector in chrome.

![IMG_5230](https://user-images.githubusercontent.com/214813/126350972-cc78da73-75cc-4069-a700-81017ac49c19.PNG)

![IMG_5229](https://user-images.githubuserco

[2021-07-20 15:35] jeffgolenski commented on #54443
Just pulling over some thoughts from slack after @roo2 asked the question there:

Example:
Notices about domains that need configuration probably shouldn’t be dismissible at all.
Where-as the notices about drafts or scheduled posts should be dismissed indefinitely  when the X is clicked. They should show initially after a draft has been sitting for 2 weeks I I think
Worth a team chat on the call t

[2021-07-20 15:35] edwinho89 opened #54721 "Image Block FSE: Rotating image for the first time takes time to load, or does not display loading effect"
When attempting to rotate image using image block FSE, rotating image takes while for it to happen.

### Steps to reproduce the behavior

1. Add an image using image block.
2. Click on "Crop", then "Rotate".
3. Wait for image to rotate.
4. Click on "Apply" to save changes.

#### What I expected to happen

Image rotates almost instantaneously.

#### What actually happened

User had to wait for a co

[2021-07-20 15:52] rossanafmenezes opened #54722 "FSE Navigation placeholder looks like it's loading"
When a new site is created the navigation placeholder in the header looks like grey rectangles which might be very confusing for the user as they look like the content is being loaded

![annotation-on-2021-07-20-at-11-36-34](https://user-images.githubusercontent.com/30724184/126355466-5a0af116-8a54-4613-80ca-3a6687a2035f.png)

#### What I expected to happen

It would be easier for users if it show

[2021-07-20 15:53] ChrissiePollock opened #54723 "Have Block Settings and Block Hierarchy open by default when editor opens"
* Create a new post or page.
* Note that often the block settings and hierarchy settings are not obvious.

#### What I expected to happen

People should be able to see the options. They can then close them and maybe even have an option to keep them closed, but they they show initially

### Context

This was noticed while doing testing, but it's also obvious in many Quick Start sessions that people

[2021-07-20 16:06] jp-imagines opened #54724 "FSE: Confusing to Add or Update Headers"
### Steps to reproduce the behavior

1. Start with new FSE site creation (in the editor)
2. Click on the existing Header block. See there are no high-level options to replace it with a different pattern.
3. Attempt to add a block within the header. See that it is difficult to spot the **+** button to add new blocks.
4. Delete the existing Header and add a new template. See that it is not clear whe

[2021-07-20 16:20] carladoria opened #54725 "FSE: When editing the navigation block, you are moved to a different side of the screen"
### Steps to reproduce the behavior

1. Clik the grey buttons that look like a navigation block on the right side.
2. It looks as you are taken out of this section and thrown into a new block on the right side. I can't tell well if I'm still in the navigation block.

https://user-images.githubusercontent.com/23703267/126359031-8c13e2ea-df5c-43d5-ac1d-ea21c3f0dbf5.mov

#### What I expected to happe

[2021-07-20 16:29] Gustavo-Hilario opened #54726 "FSE: Users' blog posts are not imported when adding a Blog Pattern"
### Steps to reproduce the behavior

1. Insert a new block using the **+** button on the top-left corner
2. Click on the **Patterns** tab
3. In the dropdown menu choose **Blog**
4. Select one of the first two options

#### What I expected to happen
I expected that when a blog pattern is added to the page, the blog posts would be imported.

#### What actually happened
After selecting one blog patte

[2021-07-20 16:47] kwight opened #54727 "Theme Showcase: Filters are cumulative in the search bar."
Every time a user clicks on a filter, a new instance of that filter's prefix is added to the search bar (even if that prefix already exists). I believe they're mutually exclusive, so I'd expect only one prefix at a time. If I'm wrong and they're additive, then the filters popover should have an active state for whichever filters have been selected.

![2021-07-20 09 43 20](https://user-images.githu

[2021-07-20 17:40] sixhours commented on #54358
This was introduced in #54514

[2021-07-20 17:40] #54358 closed, assigned to nobody

[2021-07-20 17:40] mreishus commented on #54727
Previous to our design changes, as long as there was any text in the search bar, the welcome bar was invisible. After clicking in the welcome bar once, it would input text in the search bar, which made the welcome bar invisible and it wasn't possible to click again.

That said, I'm not clear what the solution here is. If I click the column button, I would like to see the column dropdown for autoco

[2021-07-20 17:41] sixhours commented on #54289
This was fixed in #54514!

[2021-07-20 17:41] #54289 closed, assigned to nobody

[2021-07-20 17:43] DanielSmithMichigan opened #54729 "Atomic sites can be bricked by deleting Varia"
1. Create an atomic site (or use a pre-existing one)
2. Install a Varia based theme, such as Stratford
3. Activate a non-varia based theme, such as twenty-twenty one
4. Delete varia
5. Activate the Varia based theme, such as Stratford
6. Go to any wp-admin based url (such as by navigating to the customizer) and see that your site is now unusable

To restore the site, use the wp-cli: PCYsg-lzM-p2
A

[2021-07-20 17:45] sixhours commented on #54294
This appears to have been fixed at some point over the last couple weeks:

https://user-images.githubusercontent.com/2124984/126370969-5a55d163-79ea-4bdc-8996-054641535deb.mov

[2021-07-20 17:45] #54294 closed, assigned to nobody

[2021-07-20 17:51] andres-blanco commented on #54598
## Status

This seems to be happening with seedlet, I didn't test other themes for now.

### Possible fix

If you go to the `Chrome Inspector > Sources` and make this additions to the `extraCSS` const on the file `wpcom-customize-preview.js?ver=1.1` (you can press `cmd + p` to open a file picker)

[code]

the bug stops appearing. But this fix would be to error prone, since every new css variable d

[2021-07-20 18:16] #54180 closed, assigned to nobody

[2021-07-20 19:03] kwight commented on #54727
@ianstewart @onuro could you let us know how best to proceed here?

The autocomplete suggestions only appear for me once I click into the search bar.

[2021-07-20 19:07] mreishus commented on #54727
Interesting, maybe a browser difference. Here is what I'm seeing in firefox:

https://user-images.githubusercontent.com/937354/126381355-ede9a682-ccb7-4d0c-9317-170039da1c29.mp4

[2021-07-20 19:08] andres-blanco commented on #54564
fixed in https://github.com/Automattic/themes/pull/4236

[2021-07-20 19:08] #54564 closed, assigned to andres-blanco

[2021-07-20 19:10] ianstewart commented on #54727
I believe originally they were intended to be additive. So that you could, say, find all the themes that had an author-bio that also had a right sidebar.

![image](https://user-images.githubusercontent.com/545779/126381810-cb611ac9-2c07-4a84-9c8e-177bbb490d68.png)

Which is why I think you'll sometimes get no results by adding up too many filters. We don't have a theme that meets the whole set of

[2021-07-20 19:14] allilevine opened #54731 "Happychat: Review if it's still necessary to open Customizer in a new tab"
### Details

Currently we sometimes open Customizer in a new tab when there's an active Support Session (Appearance > Header or Appearance > AMP) and sometimes don't (Appearance > Customize). We also open Customizer in a new tab regardless from theme pages and the theme activation modal (for themes that don't support Gutenberg customization):
<img width="1153" alt="Screen Shot 2021-07-20 at 3 08 3

[2021-07-20 19:16] allilevine commented on #54066
Thanks, that's really helpful context! It sounds like we should test that chat will follow if we open the Customizer in the same tab on theme activation, before making this change. I've opened an issue to investigate: https://github.com/Automattic/wp-calypso/issues/54731

[2021-07-20 19:17] ianstewart commented on #54727
I suspect this has been a bug for a while but you can click on the same filter multiple times which is probably unhelpful.

![image](https://user-images.githubusercontent.com/545779/126382533-aefd214d-4d8e-4864-9912-a734b64d2422.png)

[2021-07-20 19:29] ianstewart commented on #54727
This sounds like it's own bug. We shouldn't add the prefix until you click a tag from the drop-down.

[2021-07-20 19:30] Robertght opened #54733 "Lovecraft: Duplicate second sticky post on load"
### Steps to reproduce the behavior

1. Activate Lovecraft
2. Add several posts
3. Make the first 2 sticky
4. Make sure the infinite scroll is the loading method(if you're on an AT site)
5. Check the blog post archive

#### What I expected to happen

To see the sticky posts only on the first page

#### What actually happened

The second sticky one loaded on the next page

### Context

#### Browser

[2021-07-20 19:34] mreishus commented on #54727
The current design of the system is that only certain strings typed into the search bar can trigger autocomplete suggestions, there's no external trigger to make them display. The "Magic Welcome Bar" helps input those strings into the search bar. I'd call it more of a design rework than a bug.

[2021-07-20 19:59] scosgro commented on #35026
Another 26936016-hc (Norsk)

[2021-07-20 20:08] kwight commented on #51640
@inaikem No, I'm afraid there's no update and no expected date for a fix.

[2021-07-20 20:30] allilevine opened #54735 "Features: Follow-up tasks"
### Details

We've completed some work on the features API, in order to be able to accurately check whether a feature is active in Calypso and Jetpack. The new checks can replace site type checks in most instances. See: D63248-code

There are still additional tasks that need to be completed to support this work:

### Checklist

- [x] https://github.com/Automattic/wp-calypso/issues/55328
- [x] http

[2021-07-20 20:50] KirkwallDay commented on #53953
This case is already reported, but they would like to be notified when this is fixed: 4159192-zd

[2021-07-20 21:07] donlair commented on #54383
@DavidRothstein @carinapilar @inaikem I spent some time reading through the commentary about this flow and have made the following updates to #54621:

* Restored the "Cancel" language to the primary CTAs.
* Provided additional context to the descriptions in the flow, specifically that a refund is not included.
* I removed the cancellation query for two reasons: legal's feedback was that there shou

[2021-07-20 21:10] carinapilar commented on #53953
Another one on 29262789-hc

[2021-07-20 21:30] kwight commented on #54427
True, this would need to be reframed as a feature request (we can't upload SVGs to the media manager either for the same reason).

[2021-07-20 21:30] #54427 closed, assigned to nobody

[2021-07-20 21:40] roo2 opened #54737 "My Home: better handle view with no primary call to actions"
Context p1626472555493200-slack-C01VA0R5NKY
<img width="1792" alt="screen_shot_2021-07-16_at_5 48 34_pm" src="https://user-images.githubusercontent.com/22446385/126398930-fab41175-cd79-4b20-ab9b-2894dbd5a8ad.png">

The suggested fix was to add 16 or 24px of padding between the page title, visit site button, and other content of the site. We have to implement this in a way that also looks good when

[2021-07-20 21:45] roo2 commented on #54443
raised subtasks:
Email verification & UI https://github.com/Automattic/wp-calypso/issues/54709
Drafts: https://github.com/Automattic/wp-calypso/issues/54710
Domain mapping https://github.com/Automattic/wp-calypso/issues/54705

[2021-07-20 21:46] allilevine opened #54738 "Features: Refactor API endpoints to use new features framework"
### Details

Various endpoints related to updating the new features need to use the new features endpoint. New features were added here: D63248-code

More details here: pd2C1Z-4Q-p2

### Related

https://github.com/Automattic/wp-calypso/issues/54735

[2021-07-20 21:55] kwight commented on #54446
I can't replicate myself either with Chrome on macOS – will close.

[2021-07-20 21:55] #54446 closed, assigned to nobody

[2021-07-20 21:55] #54701 closed, assigned to nobody

[2021-07-20 22:04] apeatling commented on #54351
I don't think we are going to get to this very soon. @roundhill is this something your team could look at?

[2021-07-20 22:30] mreishus opened #54739 "Theme Showcase: New searches cause results to be added to previous searches"
### Steps to reproduce the behavior

1. Visit Appearance -> Themes
2. Search `feature:block-templates`, see 4 results
3. Use backspace and change to `feature:author-bio`, see lots of results
4. Backspace and change to `feature:block-templates`, see ~30 results

#### What I expected to happen

See only 4 results after making another `feature:block-templates` search

#### What actually happened

Saw

[2021-07-20 22:30] mreishus commented on #54739
Slack discussion / investigation: p1626816688196800-slack-C0202PMUXLJ

[2021-07-20 22:34] mreishus commented on #54739
The correct information is returned from the backend, but the front-end is mixing up data from previous searches together.

The redux store contains "items" and "queries". "items" is a list of every theme encountered so far.  "queries" is an object with keys as every previous search done so far, and values as list of ids matching that search.
![2021-07-20_17-04](https://user-images.githubuserconte

[2021-07-20 22:35] eduardozulian commented on #49117
This issue persists so I'm keeping it open.

[2021-07-20 22:40] mreishus commented on #16440
Possibly same issue or related to [Theme Showcase: New searches cause results to be added to previous searches #54739]

[2021-07-21 00:30] roundhill commented on #54351
Sure, added to our backlog.

[2021-07-21 00:53] autumnfjeld commented on #54503
Ah, I could only reproduce that on desktop if I viewed a large screen, then resized my window.
https://d.pr/i/JWViOr

How important is this edge case?

Otherwise the mobile views look fine, as shown below.
![image](https://user-images.githubusercontent.com/5665959/126413017-dc03b742-5642-4a37-8479-075f9f43d4b6.png)
![image](https://user-images.githubusercontent.com/5665959/126412924-94377f1a-0bc5-

[2021-07-21 00:58] donalirl commented on #53053
Another request for this in #30730747-hc, where a user wished to collect a shipping address to send a physical product to their donors.

[2021-07-21 01:28] roo2 commented on #54709
todo:

- [x] Action Center UI
- [ ] Detailed CSS styling
- [x] Expand/collapse control
- [x] Use `email_verified` to show/hide the notification
- [x] Link to resend email
- [x] Only show Action Center if one or more actions is needed

Unsure:
- [ ] Once the verification email is sent (before user has verified) should we hide this message?
- [ ] Dismiss button -> Needs backend logic and discussion

[2021-07-21 02:24] jordesign commented on #54443
This is a tricky one. In that specific instance - yes I can imagine it would be helpful. But I don't know how we *tell* if it is that specific instance? Maybe if it is a draft *within a certain time period* (recent drafts)?

Agreed!

I think that kind of logic sounds good.

[2021-07-21 04:52] #54227 closed, assigned to p-jackson, roo2

[2021-07-21 06:00] pablinos commented on #53916
I initially thought this was a case of changing the URL used at the end of the setup wizard, but it's actually related to the WooCommerce sidebar that's displayed for sites via Automattic/wc-calypso-bridge

There is code in there that was merged in March to store a value based on the referrer, and use that to determine where the WordPress Dashboard link should go. I'm wondering if we should change

[2021-07-21 08:26] johngodley commented on #53014
I've tracked the problem down to a NSFW filter that was only applied to `en` locales (and not `en-gb` as was mine) that was had some unfortunate side-effects. The problem should now be solved and I'll close this issue.

[2021-07-21 08:26] #53014 closed, assigned to nobody

[2021-07-21 09:16] mmtr opened #54750 "Testimonials section available on sidebar menu when CPT is disabled"
### Steps to reproduce the behavior

1. Switch to a Simple site
1. Go to Settings > Writing > Content types
1. Disable Testimonials

#### What I expected to happen

The sidebar menu shouldn't display the Testimonials section

#### What actually happened

The sidebar menu displays the Testimonials section (event after reloading the page, so there isn't any caching issue in place)

#### Does this ha

[2021-07-21 09:27] mmtr commented on #54750
Seems this is specific to one of my tests sites, I cannot replicate it in others Simple sites.

[2021-07-21 09:27] #54750 closed, assigned to nobody

[2021-07-21 10:16] edwinho89 opened #54754 "List block: Direct Copy and Paste breaks list"
### Steps to reproduce the behavior

1. Create a new list of items on a page or post
2. Highlight lists above, copy and paste to an empty paragraph

#### What I expected to happen

List block are copied successfully without any issues

#### What actually happened

Pasting List block turns to a paragraph block (though it shows the bullet list at start.

![image](https://user-images.githubuserconten

[2021-07-21 10:33] taggon commented on #54657
@obenland No, I don't think it is a browser-specific issue. To me, it works well in Safari too. I don't see 404 in both browsers.

https://user-images.githubusercontent.com/212034/126474223-7d2210e3-fe66-4e69-96d1-f0ce9379a0cb.mov

[2021-07-21 10:33] dsas commented on #50928
I'm working on the necessary server-side changes for this under D64132-code

[2021-07-21 10:35] michaeldcain commented on #54503
Sorry @autumnfjeld! I reported this using the mobile tool in desktop chrome. I also can't reproduce on a mobile device - definitely feels like an edge case. Thanks for digging into it - I'll close the issue.

[2021-07-21 10:35] #54503 closed, assigned to nobody

[2021-07-21 11:02] BogdanUngureanu opened #54755 "Testimonials toggle in Settings > Writing does not disable the Testimonials CPT"
The Testimonials menu and the CPT is not disabled when using the Testimonials setting in Settings > Writing
### Steps to reproduce the behavior

1. Go to a Jetpack Site in Calypso
2. Click on Settings > Writing
3. Disable the `Testimonials` CPT

#### What I expected to happen
The Testimonials menu should be removed and the CPT should be disabled
#### What actually happened
The menu is still presen

[2021-07-21 11:16] mmtr commented on #54755
I think this is a duplicate of https://github.com/Automattic/wp-calypso/issues/14912

[2021-07-21 11:19] sonthipongmoojun commented on #48543
16k

[2021-07-21 11:19] #54755 closed, assigned to nobody

[2021-07-21 11:19] sonthipongmoojun commented on #48543
[]()[]()[]()[]()[]()```
[code]

[code]
[code]

[2021-07-21 11:49] kdevnel opened #54756 "WP 5.8 Widget blocks: display Atomic V2 Banner"
### Steps to reproduce the behavior

1. On an atomic site visit Appearance > Customizer > Widgets or Appearance > Widgets and edit a widget area
2. Each Widget block will display a `Proxy V2` banner

### Context
Seen in my own testing

#### Is this specific to the applied theme? Which one?
No but you only see the widget editor with non block-based themes that don't support Site Editor.

#### Does

[2021-07-21 12:43] niranjan-uma-shankar commented on #53951
Worked on in D64179-code.

[2021-07-21 12:48] synora commented on #54756
Triaged and can replicate.
Theme: Twenty Sixteen.

<img width="603" alt="Screen Shot on 2021-07-21 at 07-32-37" src="https://user-images.githubusercontent.com/10015451/126490786-e2d59480-8789-4898-9ab0-bbff5d3b8386.png">

[2021-07-21 12:49] dlind1 commented on #54217
@JoshuaGoode With 5.8 release on Atomic sites the issue should be resolved and it looks like it in my testing, could you confirm that?

[2021-07-21 12:51] dlind1 commented on #50917
With 5.8 release on Atomic the translations should be fixed everywhere, closing it.

[2021-07-21 12:51] #50917 closed, assigned to nobody

[2021-07-21 13:17] #54502 closed, assigned to BogdanUngureanu

[2021-07-21 13:19] #54314 closed, assigned to mmtr

[2021-07-21 13:25] scinos opened #54760 "[GB 11.1.0] E2E test wp-calypso-gutenberg-post-editor-spec.js fails"
Test suite: `[WPCOM] Calypso Gutenberg Editor: Posts (desktop): Public Posts: Preview and Publish a Public Post @parallel`
Test name: `Can enter post title, content and image `

Error:

[code]

[2021-07-21 13:27] scinos commented on #54760
Likely caused by https://github.com/WordPress/gutenberg/pull/32935

[2021-07-21 13:36] #54563 closed, assigned to nobody

[2021-07-21 13:38] #54103 closed, assigned to andres-blanco

[2021-07-21 13:46] michaeldcain opened #54761 "Checkout: clear up discount message for domain redemptions"
When a domain is in redemption, we charge a late renewal fee that's inclusive of the domain cost. This results in a $0 domain registration line item, which causes the "Discount for first year" and "{domain} - free for one year" messages to be shown in Checkout.

<img width="946" alt="Screen Shot 2021-07-21 at 9 43 55 AM" src="https://user-images.githubusercontent.com/942359/126499310-4b018df4-25fd

[2021-07-21 13:52] michaeldcain commented on #54761
Since I have a domain in redemption, I might just go ahead and fix this.

[2021-07-21 13:56] kosiew commented on #54466
HI @hideandgeek404 ,
Can you share a recording of your steps?
Here is how my test went:
![Screenshot](https://d.pr/i/OkAZc6+)
*if image does not load, please click on this link  : https://d.pr/i/OkAZc6*

[2021-07-21 14:05] JoshuaGoode commented on #54217
@dlind1  The issue is still present from my testing and repeating the steps in my original post.

I'll try again a bit later.

[2021-07-21 14:25] ianstewart commented on #54356
I just added it. :)

[2021-07-21 14:25] #54356 closed, assigned to nobody

[2021-07-21 14:37] MaxPhilip commented on #51787
Another report here: 4164374-ZD

[2021-07-21 14:40] JoshuaGoode commented on #54756
Looks like all the widget previews are iframes which is what is causing this.

[2021-07-21 15:06] sixhours commented on #54394
This has been partly solved by moving the "uploaded" themes to a new tab called My Themes in #54572 -- the only thing left here is to figure out why the uploaded theme does not show up in the listing. I haven't been able to reproduce that part.

[2021-07-21 15:10] onuro opened #54763 "Theme Showcase: Screen Options Overlapping the Segmented Navigation in sticky Search"
![Screen Capture on 2021-07-21 at 17-43-43](https://user-images.githubusercontent.com/645713/126508437-cf3b9baf-23aa-47b8-a8f8-288610f27321.gif)

When you scroll and search becomes sticky, "Screen Options" dropdown overlaps the segmented nav(All|Free|Premium). Would a higher z-index to the search in sticky mode solve?

Thanks!

[2021-07-21 15:35] kwight commented on #51787
There will be a pod dedicated to subscriptions over the coming months; this should get included there, so we should see some movement soon hopefully.

[2021-07-21 15:55] vaish567 commented on #54355
I would like to work on this issue.

[2021-07-21 16:40] niranjan-uma-shankar opened #54766 "Like button state not remembered on Atomic (RLT tokens not saved for site origin)"
### Steps to reproduce the behavior

1. Disable third-party cookies in your browser and ensure that you're logged out of WP.com.
2. Navigate to a post on an atomic site. e.g. something like `https://{your_atomic_site_domain}/path/to/post`
2. Click on the Like button, login via the popup. The like action should get fired and you should see that you've liked the post. The Like button will turn blue

[2021-07-21 16:44] Copons opened #54767 "[GB 11.1.0] Post Template block fatal error when rendered"
### Steps to reproduce the behavior

1. [Create a new FSE site](https://horizon.wordpress.com/new?flags=gutenboarding/site-editor).
2. Sandbox the site.
3. View the site's front end.
4. See error

#### What I expected to happen

To see the site rendered appropriately

#### What actually happened

[code]

### Context

In the plugin, the Post Template block's renderer is defined in [`packages/block-

[2021-07-21 16:48] #54618 closed, assigned to nobody

[2021-07-21 16:53] nickpagz commented on #51899
FWIW, I also ended up doing some testing on an Atomic site for a user where the button does not work at all for them, and I noticed if I highlight some text before clicking on the **Press This** button, the highlighted text along with the url is inserted as a quote block. So in this regard, it seems to work as described in the instructions shown in Settings > Writing, ie `Use Press This to clip te

[2021-07-21 16:55] Copons commented on #54767
I've added this to Cylon's board and FSE beta milestone in order to keep it tracked.
Although, I'll say that we aren't familiar with the plugin merge on Dotcom, so we'd be very very happy if this didn't land on our laps. 😄

[2021-07-21 17:05] Copons opened #54768 "Site Editor: Stop showing the cookie banner on newly created sites"
### Steps to reproduce the behavior

1. [Create a new FSE site](https://horizon.wordpress.com/new?flags=gutenboarding/site-editor).
2. Eventually you'll land in the Site Editor.

#### What I expected to happen

Just the editor!

#### What actually happened

The cookie banner shows up.

### Context

This is likely caused by the Site Editor being iframed, so the cookie banner is opened by the actual

[2021-07-21 17:32] worldomonation commented on #53903
This is fixed in #54740 in `browser-manager`.

[2021-07-21 17:50] worldomonation opened #54769 "Playwright: eliminate elementHandle.click pattern where possible"
### Details

According to [this comment on an issue on microsoft/playwright](https://github.com/microsoft/playwright/issues/6244#issuecomment-824384845), the use of `elementHandle.click` is discouraged unless absolutely sure that the element referenced by the `elementHandle` remains consistent on the page.

We've recently run into intermittent failures believed to be caused by this behavior in #54

[2021-07-21 17:51] worldomonation commented on #53601
Putting on hold as #54697 may render this unnecessary.

[2021-07-21 18:02] andres-blanco commented on #50126
I've been trying to hunt down this bug, I still didn't find a way to fix it. I think it's related to the height of the image and the initial size of the selection rectangle.

I think an easier workaround is just making the window wider:
![2021-07-21 14 43 53](https://user-images.githubusercontent.com/375980/126535487-80bcce15-f515-4084-b329-7982914ff36b.gif)

I was using this 1080x200 image:
![lar

[2021-07-21 18:04] happychait commented on #53953
30747362-hc

[2021-07-21 18:45] kwight commented on #54727
@mreishus will try a new option: when a user clicks a filter, we remove all empty filter prefixes from the search bar. This should keep the search bar clean and sensical, while maintaining the ability to search for, say, multiple features at once.

[2021-07-21 18:52] #54719 closed, assigned to dpasque

[2021-07-21 19:03] jeyip commented on #54459
Potential fix:
https://github.com/WordPress/gutenberg/pull/33522

[2021-07-21 19:29] Robertght commented on #51271
Thank you for reporting this!

I was able to replicate this, but because it's quite specific to the language, I can't go deeper into it.
I noticed this is related to the Newspack blocks. I'm wondering if it's ok to move this here:

https://github.com/Automattic/newspack-blocks

cc @laurelfulford for a second look.

[2021-07-21 19:33] sixhours opened #54773 "Theme Showcase: Uploaded theme does not show in "My Themes" tab after Business -> Atomic upgrade"
### Steps to reproduce the behavior

1. On a WordPress.com site with a Business plan (but not yet Atomic) go to Appearance > Themes
2. Click "Install theme"
2. Click "Continue"
3. Drag or select a theme zip file that is *not* part of the WordPress.com collection, such as [Neve](https://wordpress.org/themes/neve/)
4. Once the theme has finished installing, click Appearance > Themes to return to the

[2021-07-21 19:34] sixhours commented on #54394
I'm closing this out in favor of #54773(which I was able to reproduce, after reading the instructions more clearly -- it has to be a non-Atomic Business site 🙃 )

[2021-07-21 19:34] #54394 closed, assigned to sixhours

[2021-07-21 20:00] kwight commented on #52759
No, that doesn't surprise me – that color is more for text links within content (often styled differently from the menu items in the header).

Also not a surprise; themes support a varying degree of color customization, and subtle changes were not uncommon when we were writing all of the annotations.

[2021-07-21 20:01] mreishus commented on #54727
Here's trying that approach: https://github.com/Automattic/wp-calypso/pull/54774

[2021-07-21 20:28] #54389 closed, assigned to mreishus

[2021-07-21 20:41] mattwiebe commented on #54461
Note that the toggle being introduced in #54620 can essentially function as part of the opt-in flow for existing users, once we expose it to them.

[2021-07-21 20:47] kelliepeterson commented on #16853
We updated this to be more prominent.

![Screen Shot 2021-07-21 at 1 46 11 PM](https://user-images.githubusercontent.com/3022756/126557926-9b9cf25c-b786-4cb7-a301-3fce2920661b.png)

[2021-07-21 20:47] #16853 closed

[2021-07-21 20:47] obenland commented on #54072
Looks like other reports have been closed as duplicates of that P2 post. Should we do the same with this?

[2021-07-21 20:48] #19716 closed

[2021-07-21 20:57] mattwiebe commented on #54767
The short version is that we haven't finished porting 5.8 to dotcom yet so the file hosting that function is still missing. But the Gutenberg plugin still loads its 5.8 compat layer, expecting that function to be present. This should resolve itself once @david-binda finished the core merge on wpcom. See p94tqY-ps-p2#comment-1313 for more.

[2021-07-21 20:59] worldomonation opened #54776 "CI: make test execution dependent on file changes."
### Details

While working on #54741, I noticed that PR ran the full suite of tests including mobile and desktop E2E tests.

This is highly unnecessary and takes resources away from other tasks that require E2E runs.

### Checklist

- [ ] Investigate if TeamCity supports a permit/disallow list as condition for a task to run.
- [ ] If TeamCity supports such, exclude changes to auxiliary files from

[2021-07-21 21:02] mattwiebe commented on #54469
Note that #54620 will introduce a toggle, via ETK, to supersede the in-Blockbase toggle. This will also allow us to take account of Atomic immediately since ETK is distributed there. Here are the remaining tasks that would be needed to complete that:

- [x] Revert Automattic/themes#4154 → Automattic/themes#4340
- [x] Deactivate `pub/tt1-blocks` ([See discussion](https://github.com/Automattic/wp-ca

[2021-07-21 21:22] allilevine opened #54778 "Security Settings: Link to general settings text not truncated"
### Steps to reproduce the behavior

1. Add a long site title for a Simple site, in Settings
1. Go to /settings/security/the-site-slug
2. See the error message with link to general settings

#### What I expected to happen
The long site title would be truncated with an ellipses.

#### What actually happened
<img width="376" alt="Screen Shot 2021-07-21 at 11 49 30 AM" src="https://user-images.github

[2021-07-21 22:56] worldomonation commented on #54613
Closing this issue.

[2021-07-21 22:56] #54613 closed, assigned to nobody

[2021-07-21 23:05] laurelfulford commented on #51271
Hi @Robertght! I was able to recreate this as well on a WordPress.com site with the language set to Japanese, but not on a self-hosted site -- the excerpts remained short when loading more posts, with and without AMP enabled.

WordPress does have some logic that changes the excerpt word count based on language -- it defaults to 55 words, but "[for] languages in which words are (or can be) describe

[2021-07-21 23:12] fullofcaffeine opened #54781 "Features using `alert()`, `confirm()` or `prompt()` break in Chrome >= 92 when editor is iframed (including post privacy settings)"
### Steps to reproduce the behavior

1. Using Chrome 92 or greater, start a new post from Calypso
2. Assuming the Desktop viewport, click on the gear icon the top-right corner,
3. In the pane that appears, click in the "Post" tab
4. Search for the "Status & visibility" and under it, for the "Visibility" label;
5. On its right, it (probably) be shown as "Public", click it
6. You'll see a popup titl

[2021-07-21 23:20] fullofcaffeine commented on #54781
cc @Automattic/team-calypso-frameworks

[2021-07-22 01:05] gravityrail commented on #54766
We don't actually even try to store the RLT against the origin on Jetpack sites. The only reason it worked at all was (a) browsers other than Safari allow using localStorage in third-party iframes, and (b) because Safari ITP allows localStorage in third-party iframes under certain circumstances, like a certain degree of top-level browsing to the origin in question.

On WordPress.com this isn't an

[2021-07-22 02:07] taggon commented on #46013
The patch has been shipped. Thanks for your review @cpapazoglou ! 👍

[2021-07-22 02:07] #46013 closed

[2021-07-22 03:27] happychait commented on #53100
Another instance of blank editor reported in 30744330-hc

[2021-07-22 03:31] donalirl commented on #53609
Another case of this in #29823375-hc.

* Chrome 91.
* OS X 10.15.7
* Extensions installed: google docs, honey, Pinterest but issue remained with the extensions disabled.
* Tried clearing cache.
* Worked fine on Safari

[2021-07-22 03:53] donalirl commented on #53100
Another instance in #3771376-hc. Turning off Cross Site Tracking solved it.

[2021-07-22 04:39] josephscott commented on #54766
I would tend to punt this to Jetpack for now and focus on WordPress.com non-Atomic sites.

[2021-07-22 05:24] cuemarie opened #54785 "Cookies Widget: Add 'Reject' Option"
User brought us a request for a way to enable a "Reject" option to the Cookies widget, which currently only offers "Accept and Close".  They pointed out that in Ireland, a 'Reject' option is required (see below). 4164035-zen

- [April 2020 Guidance for Cookies and other tracking technologies, from An Coimisiún um Chosaint Sonraí Data Protection Commission, Page 9](https://www.dataprotection.ie/sit

[2021-07-22 06:23] roo2 commented on #54441
Ok, so I think what we need to move forward with option two ("_Could we prompt users with general tips about the mobile apps, say 1 week after download, 2 weeks after download_"). We need to clarifyt:
* The exact copy that we want to display
* If their are image assets needed, or is it just text?
* Confirm exactly which time-frames we want to use, e.g.  "_< 1 week_", "_1-2 weeks_", "_> 2 weeks_" w

[2021-07-22 06:46] taggon commented on #53595
I confirmed this issue still happens in Safari only on simple sites. The block editor in Atomic sites and self-hosted sites doesn't have the problem. Given that where the problem occurs, I assume that this issue is related to dotcom version Gutenberg. Unfortunately, I don't have expertise in Gutenberg. So I unassign myself from this issue hoping a Gutenberg expert will chime in.

[2021-07-22 07:30] jsnajdr commented on #54781
Chrome 92 started blocking modals like `window.confirm` in cross-origin iframes. And they are blocked unconditionally even if I explicitly say that I want them with `<iframe sandbox="allow-modals" />`.

This needs a fix on the Gutenberg side, abandoning `window.confirm` in favor of something else, e.g., a custom modal box.

We can do a workaround on the Calypso iframe side by intercepting `window.

[2021-07-22 08:59] as-esu commented on #54322
I could reproduce the issue as well using Firefox 90.0.1 (64-bit) on Windows 10
A user reported the issue here: zen-4163792

[2021-07-22 09:02] jeyip commented on #54468
## Technical Details
- In making google fonts accessible in the site editor, we need to make four distinct changes. We need to:
  1. Add google fonts imports to an existing stylesheet or a new stylesheet
  2. Include google fonts as selectable options in the global styles sidebar
  3. Update global styles settings and global styles embedded stylesheets once new fonts are selected
  4. Modify the G

[2021-07-22 10:51] pauljacobson opened #54788 "Domain management: Unable to set domain as primary address"
One of our customers reported that they were unable to set their domain as their site's primary address. The site's interface language is set to French, and clicking on the option to set the domain as the primary address using the overflow menu in WordPress.com > My Sites > Upgrades > Domains didn't work.

### Steps to reproduce the behavior

1. Go to WordPress.com > My Sites > Upgrades > Domains

[2021-07-22 11:51] dsas commented on #50928
Deployed r229078-wpcom with thanks @mmtr

[2021-07-22 11:51] #50928 closed, assigned to dsas

[2021-07-22 12:37] #54015 closed, assigned to chriskmnds

[2021-07-22 12:47] dsas commented on #18601
#50928 has been deployed, when I tested with it I am now able to upload keynote files using calypso to atomic sites

[2021-07-22 12:47] #18601 closed

[2021-07-22 12:48] razvanpapadopol opened #54792 "Login: make the "email me login link" button more visible"
I really miss how hidden that "email me login link" is, especially on mobile where it's super useful. (I bet this is visible from data)

Thoughts on if it should be more visible and how?

_Originally posted by @simison in https://github.com/Automattic/wp-calypso/issues/52877#issuecomment-845736367_

Screenshot with the "email me login link" on the login screen:
<img width="250" alt="Screenshot 202

[2021-07-22 13:16] ClassicRKR27 commented on #54072
Not sure if this is the correct place to report this as there seems to be a stream of reports elsewhere, but a teammate and I have had two reports of this in the past 24 hours:

4160793-zd-woothemes
4163897-zd-woothemes

[2021-07-22 14:18] delputnam commented on #54788
It appears that this same domain name was mapped to an atomic site in the past and an old error left an incorrectly set site URL. I've fixed the site URL so that everything should work properly now.

[2021-07-22 14:18] #54788 closed, assigned to nobody

[2021-07-22 14:42] xpurichan opened #54800 "Image block: update dimensions in real time with drag & drop"
### Steps to reproduce the behavior

1. Add an image inside of an image block on a page or post.
2. Use the round selector on the side of the image to drag and drop the image to adjust the size up and down.
3. Note how the Image Dimension height and width values in the Image Settings section of the block do not change in real-time.

#### What I expected to happen
The height and width values should

[2021-07-22 14:46] dpasque opened #54801 "Better support TypeScript unit testing in packages"
## Overview

Currently, our overall set up and yarn scripts make it a little tricky to have optimal TypeScript support for unit tests in `packages`. This is because we re-use the same `tsconfig.json` files for both build and type-checking in our various yarn scripts an CI pipelines. The result is that most folks either include their unit tests in the package `dist` output (and then prune later if

[2021-07-22 15:22] #16440 closed

[2021-07-22 15:37] allilevine commented on #51820
Closed by https://github.com/Automattic/wp-calypso/pull/53484 and https://github.com/Automattic/jetpack/pull/20384

[2021-07-22 15:37] #51820 closed, assigned to allilevine

[2021-07-22 15:41] DanielSmithMichigan opened #54803 "Theme Showcase: Clicking theme popover menu causes page to scroll up."
#### How to recreate
1. Go to the /themes page
2. Scroll down so you're not at the top of the page
3. Click the [...] (three dots) on any theme card
4. Notice that you're now scrolled to the top of the page and you can't use any of the options in the menu until you scroll down again

https://user-images.githubusercontent.com/10274366/126667690-89d3015e-69f9-49da-8b4a-1bf7c95c4409.mov

[2021-07-22 15:47] sethmclellana8c commented on #53918
@pablinos and @JanaMW27 Looks like experiment ran here [pbxNRc-lW]. I'll put the stats of what the test drove in Slack p1626968583490300-slack-C01V2184KHD

[2021-07-22 16:20] sixhours opened #54804 "Theme Showcase: Tab alignment needs refinement"
### Steps to reproduce the behavior

1. Go to `/themes/[site]` and add the flag param to the URL: `?flags=gutenboarding/site-editor`
2. Note the Full Site Editing (Beta) tab -- it's lower than the other tabs like Recommended or All Themes
3. Hover over any of the tabs; note the text is not vertically centered within the gray highlight

<img width="548" alt="Screen Shot 2021-07-22 at 12 13 19 PM" s

[2021-07-22 16:35] kwight opened #54805 "Theme Showcase: "All themes" segment is missing an active state."
The "All themes" segment is missing an active state.

![2021-07-22 09 34 35](https://user-images.githubusercontent.com/349751/126675553-8135c899-e984-43a2-99ad-c02854ae54a4.gif)

cc/ @onuro

[2021-07-22 16:39] jeffgolenski commented on #54503
No need to apologize @michaeldcain! We appreciate you reporting things!

[2021-07-22 17:11] kwight commented on #53913
@sixhours Can we close this now, with our addition of the My Themes tab?

[2021-07-22 17:14] kwight commented on #54251
Done!

[2021-07-22 17:14] #54251 closed, assigned to nobody

[2021-07-22 17:22] kwight commented on #54598
@andres-blanco Is this fixed with any of the recent merges?

[2021-07-22 17:28] kwight commented on #54739
@DanielSmithMichigan @mreishus Can this be closed now with the merge of https://github.com/Automattic/wp-calypso/pull/54770?

[2021-07-22 17:29] ianstewart opened #54807 "Theme Showcase: Trending tab loads empty state "no themes sound" before loading themes"
Potentially due to my Calypso loading slower for my Automattician user account but stubbing out this issue:

### Steps to reproduce the behavior

1. Create a fresh site
2. Click on Trending in Themes
3. See an empty state component before themes load

Note: If it can't be repro'd I can provide a video.

[2021-07-22 17:32] kwight commented on #54252
This looks awkward, but would a better alternative be?

[2021-07-22 17:58] mreishus commented on #54739
yup, fixed by #54770

[2021-07-22 17:58] #54739 closed, assigned to nobody

[2021-07-22 18:03] olaolusoga commented on #54441
Let's avoid over-indexing on calling out the mobile app card on my home. Though agree it can be improved, let's make sure there's a balance on the page. cc: @mattmiklic

Also, think the promo can respond more to context. When a person is on their phone, it makes sense to drive folks to the app. When on desktop is different. We should consider a person's mental model when working on desktop, and nu

[2021-07-22 18:48] #54760 closed, assigned to scinos

[2021-07-22 19:24] #54331 closed, assigned to nobody

[2021-07-22 19:39] kwight commented on #54803
I don't think this is anything specific to the Theme Showcase – I can see the same behaviour in the [post list screen](https://wordpress.com/posts/) too. 🙃

[2021-07-22 19:59] worldomonation opened #54812 "Playwright: extract common steps in TeamCity to a function"
### Details

In #54771 it was suggested to extract the common bits of both `RunCalypsoPlaywrightE2eDesktopTests` and `RunCalypsoPlaywrightE2eMobileTests` to a function to avoid repetitiveness and code becoming out of sync.

Use [this file](https://github.com/Automattic/wp-calypso/blob/trunk/.teamcity/_self/projects/WPComTests.kt#L41) as a reference point.

### Checklist

- [x] extract common steps

[2021-07-22 20:01] jjchrisdiehl opened #54813 "Plans: Annual plan monthly rate no longer reflects discounted rate as suggested in tooltip"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/plans/[site] on a site with an existing annual plan
2. Note the 'billed annually' copy with a tooltip icon compared to the display plan price

#### What I expected to happen
The tooltip suggests that the customer will receive a discount from the full price as [shown here](https://github.com/Automattic/wp-calypso/pull/20045) -

![i

[2021-07-22 20:05] dsas commented on #51362
If it's just a case of setting `wpcom_block_editor_nux_status` when a site is atomised, then it should _probably_ be a case of adding that to the array in `av2_usermeta_key_whitelist` in wpcoms wp-content/lib/atomic-v2.php

Will need to follow PCYsg-3Ri-p2 for testing async jobs.

[2021-07-22 20:57] kwight opened #54816 "Theme Gen: Add support for universal themes as sources."
While the library has been developed to allow any source theme in the future, we've only been using it with Blank Theme up to this point. It's important to move to universal themes (themes that support both traditional and Full Site Editing modes) as FSE rolls out over the next few months; let's verify and prepare the Theme Gen library for any developers coming after us.

See: pd2qbF-cA-p2#comment

[2021-07-22 21:02] kwight opened #54817 "Themes: Launch Baker to the public."
Let's launch the new Baker theme to the public. We won't do any sort of en.blog post, but the launch should include a heads-up to support.

@ianstewart has begun the process, so he'll know what tasks remain.

![baker](https://user-images.githubusercontent.com/349751/126708913-aa6a5d93-d21b-4bf5-bc3d-16dcca9dae05.png)

[2021-07-22 21:05] kwight opened #54818 "Themes: Launch Bradford to the public."
Let's launch the new Bradford theme to the public. We won't do any sort of en.blog post, but the launch should include a heads-up to support.

@ianstewart has begun the process, so he'll know what tasks remain.

![bradford](https://user-images.githubusercontent.com/349751/126709386-23355e5a-b351-4775-8b10-c995a6f95295.png)

[2021-07-22 21:10] scinos commented on #54801
Personally, I think typechecking should be its own thing and run as a separate step. In my mind there are three things we check in a given code: does it work (i.e. unit test), are types correct (i.e. typechecking) and is the code style correct (i.e linting).

I hate when I'm trying to fix one of those (eg: fix an unit test), and any of the other two get in the middle of my coding flow complaining

[2021-07-22 21:28] kwight opened #54820 "Theme Showcase: Add the FSE tab for sites created under the FSE flag."
The FSE showcase tab is currently hidden behind the `gutenboarding/site-editor` flag, but this doesn't help those testing FSE; while a tester can create a site with that flag in signup, they'll lose that flag in the URL when navigating Horizon. Let's see if we can get the FSE tab to display based on whether the active site is an FSE-enabled site (rather than depending on the feature flag).

cc/ @i

[2021-07-22 21:32] kwight opened #54821 "Theme Showcase: "Trending" tab shows an empty result before populating."
The "Trending" tab shows an empty result before populating. This doesn't happen with any other tab.

<img width="2243" alt="Screen Shot 2021-07-22 at 2 31 24 PM (2)" src="https://user-images.githubusercontent.com/349751/126712788-697ff471-59d7-4fa6-bd78-54d689ddc7e3.png">

[2021-07-22 21:36] kwight opened #54822 "Theme Showcase: Tabs need alignment and whitespace polish."
The Showcase tabs need polish: they should have the same hover treatment, colors, and alignment. (Don't forget there's a "My Themes" tab too for Atomic+Jetpack users.)

![2021-07-22 14 33 28](https://user-images.githubusercontent.com/349751/126712630-02af447a-e605-4588-b46f-96a4fef20015.gif)

[2021-07-22 21:40] kwight opened #54823 "Theme Showcase: Suggestions are out of right alignment."
The suggestions dropdown is a few pixels out of alignment on the right side.

<img width="620" alt="Screen Shot 2021-07-22 at 2 39 54 PM" src="https://user-images.githubusercontent.com/349751/126713023-167bf498-bb80-4882-9321-7f41228da3a2.png">

[2021-07-22 21:43] kwight opened #54824 "Theme Showcase: Search bar and repo segment have different colored borders."
The search bar and segmented option for theme type have different colored borders.

<img width="729" alt="Screen Shot 2021-07-22 at 2 41 39 PM" src="https://user-images.githubusercontent.com/349751/126713222-c450d313-9152-4237-9e54-d18084384a97.png">

[2021-07-22 21:46] kwight opened #54825 "Theme Showcase: The FSE tab's "Beta" badge is too large."
The FSE tab's "Beta" badge is too large. It should match the "Coming soon" badge in the sidebar of unlaunched sites.

<img width="445" alt="Screen Shot 2021-07-22 at 2 47 59 PM" src="https://user-images.githubusercontent.com/349751/126713767-2d997625-4597-456d-a6d5-9f9f27587d3b.png">

See: https://github.com/Automattic/wp-calypso/pull/54698#issuecomment-884316778

cc/ @onuro

[2021-07-22 21:49] scinos commented on #54801
Ping the local TS experts @sirreal @sarayourfriend @jsnajdr . I'd love to get your input on when to typecheck unit tests: holistically as a separate step, or do we want to type check unit tests at the time of running them?

[2021-07-22 21:50] kwight commented on #54817
@ianstewart internal notes:

[2021-07-22 21:51] kwight commented on #54818
@ianstewart internal notes:

[2021-07-22 22:40] obenland commented on #54803
This might be unrelated, in the demo I also noticed the page scrolling up when one of the "Tabs" was tapped on mobile

[2021-07-22 22:58] obenland commented on #41468
I just did a screen recording of the new page layout selector. @donalirl Could you double-check if this fits what you had in mind for this ticket?

https://user-images.githubusercontent.com/1398304/126719255-308596f5-ea9b-4a51-81ef-d4f5a746148a.mov

[2021-07-22 23:04] worldomonation commented on #54614
Looks like there was yet another instance of this in this run: https://teamcity.a8c.com/buildConfiguration/calypso_RunCalypsoPlaywrightE2eDesktopTests/6457087

What happened:

1. log in as atomic user
2. sidebar loads initial set of menus
3. `Media` entry was located by Playwright and a coordinate was determined
4. sidebar shifts after loading additional sets of menus
5. Playwright proceeded to cl

[2021-07-22 23:11] donalirl commented on #41468
@obenland yes that's it, thank you!

[2021-07-22 23:12] #41468 closed

[2021-07-23 01:40] donalirl opened #54829 "Payments Block: One-Time Payments Confirmation Should Not Say "Thanks For Subscribing""
### Steps to reproduce the behavior

1. Add a new payments block
2. Add a payment plan and set the renewal frequency to a one time sale
3. Publish.
4. Make a payment.
5. View confirmation message.

#### What I expected to happen

I expected the message to say something like "Thanks for your payment" that makes sense for a one-time payment.

#### What actually happened

The message said "thanks for

[2021-07-23 01:53] roo2 commented on #53171
I personally think that there are cases where this would make sense to be in the _Action Center_ if and when that becomes a thing https://github.com/Automattic/wp-calypso/issues/54443

I think it only makes sense to go there if the user _should have_ launched their site, like maybe if all of the other checklist tasks are complete, or the site is older then a week old?

[2021-07-23 03:52] retnonindya opened #54830 "Feature Request: GDPR consent needed: Show site only on accepting the privacy policy"
### What

When the website has GDPR consent widget on the website, the visitors need to accept the terms before able to interact/leave comments on the website

### Why

Related to this GH request too:
https://github.com/Automattic/jetpack/issues/14118

GDPR requires all sites collecting data (not just cookies) to 'obtain explicit consent' from users prior them clicking submit. This to ensure the w

[2021-07-23 07:15] scinos opened #54832 "Gutenberg: v11.2.x plugin upgrade"
Previous upgrade: #54393
Release notes:

- [ ] Install and activate
   - [ ] Copy & install v11.2.0
   - [ ] Activate v11.2.0 on edge
   - [ ] Copy & install v11.2.0
   - [ ] Activate v11.2.0 on edge
   - [ ] Activate v11.2.0 on production
   - [ ] Request AT upgrade
 - [ ] Testing
   - [ ] Desktop viewport E2E
   - [ ] Mobile viewport E2E
   - [ ] WPCOM
 - [ ] Publish internal announcements
    -

[2021-07-23 07:23] druesome opened #54833 "Feature Request: Provide option to open links in new tab in RSS Feed block"
### What

Provide an option to open links in new tab in RSS Feed block.

### Why

This solves the problem of links in RSS Feed blocks opening in the current tab.  Since these are likely external links, it would be nice to have these open in a new tab, so that site visitors remain in the site.

### How

Place a toggle in the block settings to activate/deactivate "Open links in new tab".

Requested

[2021-07-23 08:17] BogdanUngureanu commented on #54647
Hello everyone, @Aurorum started working on an implementation for this and I was wondering if you all could have some thoughts about my alternative approach I've [proposed here](https://github.com/Automattic/jetpack/pull/20408#issuecomment-883478675). Any feedback about how it could work would be greatly appreciated! :)

Thank you some much @Aurorum for taking the time to look into this. 💯

[2021-07-23 10:44] #54409 closed, assigned to chriskmnds

[2021-07-23 13:24] sixhours commented on #53913
Yep!

[2021-07-23 13:24] #53913 closed, assigned to nobody

[2021-07-23 13:34] sixhours commented on #54803
@obenland yep, maybe related to #54651

[2021-07-23 13:44] sixhours commented on #54803
Nope, not related. :) Introduced yesterday in a change to the `Popover` component in c8758cd. Tested the hash before that one and it works.

[2021-07-23 13:59] dpasque opened #54842 "Playwright: Migrate the wp-plan specs"
### Details

Clean-up and migrate the `wp-plan` specs and migrate them and their POM to Playwright

### Checklist

- [ ] wp-plan-purchase_comparing-spec.js
- [ ] wp-plan-purchase_renew-spec.js
- [ ] wp-plan-purchase_upgrade-spec.js
- [ ] wp-plan-purchase_viewing-spec.js

### Related

_No response_

[2021-07-23 14:17] michaeldcain commented on #54072
@ClassicRKR27 can you make sure that it's reported on the P2: pNPgK-4w6-p2

I'm closing this issue as a duplicate.

[2021-07-23 14:17] #54072 closed, assigned to nobody

[2021-07-23 14:25] michaeldcain commented on #54761
In working on #54764, we noticed that this isn't necessarily related to a domain in redemption, but rather how the domain credit is indicated in Checkout.

[2021-07-23 15:30] #54664 closed, assigned to dpasque

[2021-07-23 15:53] aleone89 opened #54847 "Feature Request: Quickstart: Add a book now button linking to /me/concierge on the purchases page"
### What

Quickstart: Add a book now button linking to /me/concierge on the purchases page

### Why

When a user purchases a Quickstart session, they don't always book this straight away. The email that contains the link /me/concierge/ get's lost and user is unable to find out where to book the session.

The Quickstart session is available in the WordPress.com purchases page: https://wordpress.com

[2021-07-23 16:15] #53903 closed, assigned to nobody

[2021-07-23 17:55] mattmiklic commented on #54441
Sharing some quick ideas. These are mostly copy changes to the existing designs, as I agree with Ola's point above that these promos don't need to be overly attention grabbing. That said, we can definitely customize the messaging to fit an individual user's context.

<img width="1865" alt="Screen Shot 2021-07-23 at 1 48 30 PM" src="https://user-images.githubusercontent.com/1396552/126821839-cdb5d7

[2021-07-23 18:06] jeffgolenski opened #54850 "My Home: Add Growth Summit card to primary cta area"
### What

The growth summit is happening in august 2021 and we'll need to reinstate the promo card for it

### Why

We need to promote the event in my home to current customers.

This card was displayed in 2020 so it should still exist in the code! cc @autumn

### How

<img width="1591" alt="Screenshot 2020-07-21 at 14 34 57" src="https://user-images.githubusercontent.com/214813/126823105-70e185cd

[2021-07-23 18:14] sbathompson-he commented on #46077
Reported here: 30778529-hc
Used `user update user_id --description="description"` to update it for the user and let them know

[2021-07-23 18:24] #54355 closed, assigned to jjchrisdiehl

[2021-07-23 18:34] DavidRothstein commented on #54383
That makes a lot of sense to me for the reasons you state, but I also suspect that many users who cancel their subscription this way aren't ever coming back to manually remove the subscription later (instead, they'll probably just let it expire).  So they won't go through the survey that is shown on removal, and by getting rid of the survey here you're missing the chance to survey them at all.  I

[2021-07-23 18:39] DavidRothstein commented on #54383
Agreed, I think it would make sense to always show that panel, rather than only showing it in the few cases where a self-service downgrade is available.

I'm not sure where to leave that feedback exactly... But since I don't think there is necessarily any GitHub task that tracks implementing those designs, we can track it here for now -- I'll add this issue to the Shilling backlog so it doesn't ge

[2021-07-23 18:52] dcoleonline commented on #52728
I have another report where the customer expected for the embed to work on the live page, but it does not. It seems like the `show inline embed` feature only works in the editor but not for the live page. I've suggested the Embed block + the File block as a workaround for now.

#24043773-hc

[2021-07-23 18:57] cuemarie commented on #44677
I've encountered this issue today with a user in chat. Is there a solution or workaround? 28653578-hc

[2021-07-23 19:45] #53410 closed, assigned to david-szabo97, Addison-Stavlo

[2021-07-23 20:09] worldomonation opened #54854 "Playwright: theme-activate spec has clash"
### Details

The spec `wp-theme__details-preview-activate.js` in the Playwright suite has an isolation problem.

If there are two parallel instances Playwright e2e tests running at the same time:

- execution A logs in and begins the test steps.
- execution B logs in and begins the test steps, just a few seconds after execution A.
- the test account has Twenty Twenty-One active, wants to activate

[2021-07-23 20:34] Robertght commented on #53159
I have another case in #4168450-zen, but the post they have has no slideshow components so I'm not sure what's going on.
Resubmitting the site to Google hasn't worked.

@jeherve could the cases above share a common cause?

[2021-07-23 20:34] jeffgolenski commented on #54441
@mattmiklic Awesome. thanks for jumping in with this.

[2021-07-23 20:46] #54569 closed, assigned to nobody

[2021-07-23 22:34] fullofcaffeine opened #54859 "Gutenberg: v11.2.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/54393
Release notes: [11.2.0-rc-1](https://github.com/WordPress/gutenberg/releases/tag/v11.2.0-rc.1)

- [x] Install and activate
   - [x] Copy & install v11.2.0-rc.1 (D64828-code, D64832-code)
   - [x] Activate v11.2.0-rc.1 on edge (D64838-code)
   - [x] Copy & install v11.2.0 (D65123-code, D65125-code)
   - [x] Activate v11.2.0 on

[2021-07-23 22:34] fullofcaffeine commented on #54393
Next one: https://github.com/Automattic/wp-calypso/issues/54859.

[2021-07-23 22:37] JoshuaGoode opened #54860 "Editor / Safari / Atomic: Metabox panels floating over editor content area"
**_This is a WordPress.com / Automattic duplicate issue for internal tracking and triaging.  I've opened an issue with Gutenberg at https://github.com/WordPress/gutenberg/issues/33668_**

#### Description
As of Gutenberg 10.7.0, and now WordPress core 5.8, metabox panels are no longer restricted to their editor region and are floating over the editor content area in Safari.

It seems display chang

[2021-07-23 23:03] #52174 closed, assigned to chrisfromthelc

[2021-07-24 02:20] lawlsh commented on #31249
Under the Block tab/Image Size, Select Medium and the image will show. Selecting Thumbnail and Full Size somehow caused the image not to display.

[2021-07-24 05:23] kaitohm commented on #54466
I was able to recreate the issue, @kosiew .
It seems one needs to start with both columns showing, make the screen larger, and then shrink the screen down again.
Video: https://d.pr/i/sXP0nr

[2021-07-24 05:33] kaitohm opened #54862 "Gallery Widget is being cropped"
This seems like an identical issue to https://github.com/Automattic/themes/issues/4140 , but I am able to reproduce on multiple other themes.

### Steps to reproduce the behavior

1. Activate the Apostrophe 2 theme on your site. (Also confirmed with Maxwell)
2. Go to the Customizer and add a Gallery widget to the Sidebar area.
3. Select some images for the gallery, and choose the Type "Tiled Mosai

[2021-07-24 13:30] kspilarski commented on #54340
Same case in 4171236-zd. Provided CSS workaround.

[2021-07-24 14:28] brandonpayton commented on #54756
I tried to reproduce this and am having no luck. Everything looks good and has no "Proxy V2" banner when I am proxied.

[2021-07-24 14:30] brandonpayton commented on #54756
Are you all still able to reproduce this, and if so, would you be up for sharing your WoA test site?

[2021-07-24 14:45] JoshuaGoode commented on #54756
![Screen Shot on 2021-07-24 at 10:38:44](https://user-images.githubusercontent.com/4887830/126871941-a693df66-101f-4c4b-858b-d2062a174eb0.png)

@brandonpayton -- I've invited you to that site.

[2021-07-24 14:50] kdevnel commented on #50508
Just to add to this - in a specific case discussed here - p1627136650040200/1627134981.031100-slack-C03TY6J1A - we had no Screen Options toggle on the user list and user had to directly visit the WP Admin URL to update their local site URL with SSO turned off.

I believe we suggested restoring the "Advanced User Management" menu option instead of adding Screen Option where they wouldn't normally a

[2021-07-24 15:16] brandonpayton commented on #54756
Thanks! I am also seeing the issue on your site, so we have something to work with.

[2021-07-24 22:40] autumnfjeld opened #54863 "My Home: eCommerce Learn & Grow cards"
## What
Add a new card to the Learn & Grow section of My Home that is tailored to eCommerce users.

This is an example of a Learn & Grow card:
![image](https://user-images.githubusercontent.com/5665959/126882603-2996a6b4-b495-4e6e-9ca0-368a42d35e94.png)

## Design
@jeffgolenski
- [x] work with @jordesign & Kate (I couldn't find Kate's github handle) to pick [best candidate article(s) from Seth's l

[2021-07-25 00:42] hacchism opened #54864 "Atomic: Custom Color option for buttons interferes with color for buttons in Editor"
When a theme has Custom Color option for buttons, the color set interferes with the color for all buttons in Editor.

### Steps to reproduce the behavior

1. Make sure to use Atomic site
2. Activate a theme that has Custom Color option for buttons (i.e. **Independent Publisher 2**)
3. Go to "Appearance > Customize > Colors & Backgrounds"
4. Change button color to black for example and save the cha

[2021-07-25 03:25] edwinho89 opened #54865 "Pages and Posts Dashboard: Dashboard Jumps to the Top when Click on Menu Toggle Button"
### Steps to reproduce the behavior

1. Go to either "My Site > Pages" or "My Site > Posts"
2. Click on the ellipses menu (the three vertical dots) '...' next to any post or page.
3. Scroll down to older posts and pages, and repeat step 2.
4. See error

#### What I expected to happen

The page remains static, and the menu was toggled

#### What actually happened

The dashboard jumps to the very to

[2021-07-25 07:11] mrfoxtalbot opened #54866 "Reader: Post position & content blinking due to "is-placeholder" class being added/removed"
### Steps to reproduce the behavior

1. https://wordpress.com/read/feeds/12328231
2. Look at the way some posts in the feed are blinking

### Context
4168821-zen

#### Is this specific to the applied theme? Which one?
N/A

#### Does this happen on simple or atomic sites or both?
This is an AT Site.

#### Is there any console output or error text?
Nothing relevant, but I can see that the CSS class

[2021-07-25 07:36] formosattic commented on #54860
+1 4166973-zd-woothemes

[2021-07-25 07:41] #48609 closed, assigned to nobody

[2021-07-25 08:41] Nic-Sevic opened #54867 "Floral theme: strange characters with Alegreya font family"
### Steps to reproduce the behavior

1. Set flora theme and in fonts set headers to Alegreya
2. View site on Windows device
3. Compare to Mac

#### What I expected to happen
font should render the same with any theme and both devices

#### What actually happened
font on mobile with floral theme renders with some chars having outline
renders fine on mac

### Context
4170243-zen

#### Browser / OS v

[2021-07-25 16:12] KirkwallDay commented on #44677
The work-around steps aren't that clear in the video so here's what I'm telling users that encounter this bug:

"When you click the "Media Library" button to add pictures to the Gallery, first, click "Cancel" the first time, and then click the "Media Library" button again, and this time click "Edit Gallery" first, and your previous items should be in there. Now go back to "Add to Gallery" on the l

[2021-07-25 16:23] mrfoxtalbot opened #54868 "Nav Unification: The wrong menu subitem is highlighted when looking at Jetpack settings"
### Steps to reproduce the behavior

1. Jetpack > Dashboard
2. Click on "Settings"
3. Look at the items under Jetpack on the Unified Navigation

#### What I expected to happen

I would like to see a separate "Settings" sub-menu item or, at least, for the "Dashboard" submenu item to stay highlighted.

![Screen Shot on 2021-07-25 at 18:20:16](https://user-images.githubusercontent.com/4452464/1269060

[2021-07-25 21:15] p-jackson commented on #54850
The logic for displaying the card has been removed, but you can see what the previous logic was here: D54035-code

[2021-07-25 22:30] happychait opened #54869 "Feature Request: Stats to determine the number of minutes listened to for audio files"
### What

A Customer wanted to have stats recorded for the number of minutes listened to for audio files rather than just downloads.

### Why

They think it would be awesome to be able to know how many minutes someone listened to the audio besides just opening the file, which we already count as a download although it has only listened for just a few seconds.

### How

User report: 3426954-hc

[2021-07-26 01:44] p-jackson commented on #54803
Thanks for the report! Yes this was introduced by #54682. Fix deployed: #54870.

[2021-07-26 01:44] #54803 closed, assigned to sixhours

[2021-07-26 01:49] formosattic opened #54871 "Blog Posts and Post Carousel on same page – Option to untie them"
**How to reproduce:** Have Blog Posts and Post Carousel on the same page.

**What is expected?** Each block will load posts from the most recent date.

**What happened?** Whichever block comes first will load the most recent posts, then the other block will continue loading the rest.

It seems like some recent changes were made where if the Blog Posts and Post Carousel blocks are used on the same

[2021-07-26 04:46] happychait commented on #54871
We encountered another report in 4172112-zen

[2021-07-26 10:51] #54548 closed, assigned to aneeshd16

[2021-07-26 12:03] jsnajdr commented on #54801
In languages in which type checking is not optional a type error is something like a syntax error: caught at compile time and the program won't even run. This is what C++ compiler tells me when I try to assign a string to an int:
[code]
And this is the end of the compilation.

I'd like if this was the case for TypeScript, too. `*.ts` test files are transformed to JS by a `tsc`-using Jest transform

[2021-07-26 12:03] roo2 commented on #54441
@mattmiklic we can't tell if the user has the app or not if they haven't logged in to the app it before. Login sessions in the app never expire so we could only determine if they've logged out manually.

### I think that these things are better to segment users with:

`mobile_app_last_seen`: The last time a logged in user opened the app e.g. _Users who have logged in to the app but haven't opened

[2021-07-26 13:15] andres-blanco commented on #54598
This bug doesn't seem to be happening anymore on seedlet on Atomic.

Closing this issue

[2021-07-26 13:15] #54598 closed, assigned to andres-blanco

[2021-07-26 13:40] ciampo commented on #54445
~FYI, Gutenberg 11.1.0 was [released last week](https://github.com/WordPress/gutenberg/releases/tag/v11.1.0). It is already in use on simple sites and should soon be on Atomic sites.~

Let me know if you have capacity for reverting the hotfix, otherwise I'm happy to have a go at it myself!

Edit: the fix will be actually released in Gutenberg 11.2.0 [later this week](https://github.com/WordPress/g

[2021-07-26 13:46] sixhours commented on #54817
Baker's POT file diff is here: D64618-code

[2021-07-26 13:49] sixhours commented on #54818
POT file diff is here: D64619-code

[2021-07-26 14:05] sixhours commented on #54817
Sent Headstart annotation for translation via Linguine, Strand ID: 89188

[2021-07-26 14:05] sixhours commented on #54818
Sent Bradford Headstart annotations for translation, Strand ID: 89189

[2021-07-26 14:24] synora commented on #54862
Triaged. I can also replicate this as well. It seems then this is more of a Gallery Widget issue versus a theme issue

[2021-07-26 14:59] gavande1 commented on #52010
I was triaging the issue at my end and here are my findings after reviewing the [PR](https://github.com/Automattic/wp-calypso/pull/52018).

The main issue here is `post-thumbnail` thumbnail size is not returned on `wp/v2/media/{media_id}` JSON API endpoint which is used by Gutenberg for setting featured post thumbnail. This behavior is consistent with the .org site as well.

Upon further investiga

[2021-07-26 15:01] synora commented on #54754
Triaged. Can replicate.

[2021-07-26 15:08] synora commented on #54723
This is a great idea. On Simple and Atomic, the Block Settings are open by default (for me at least) but the List View is not.

[2021-07-26 15:24] ciampo commented on #52010
I would recommend against this solution. It would make the image cover the screen estate, but the image itself would still remain blurry.

[2021-07-26 15:39] sixhours commented on #54817
![baker-blocks](https://user-images.githubusercontent.com/2124984/127017686-88d70c6b-8de8-4c75-a55a-c8be65bdddb3.png)

Block highlights screenshot for the Showcase /cc @ianstewart

[2021-07-26 15:40] sixhours commented on #54818
Block highlights screenshot for the showcase /cc @ianstewart

![bradford-blocks](https://user-images.githubusercontent.com/2124984/127017807-ee2313f5-6e08-47bc-b76a-6115ba6292b3.png)

[2021-07-26 15:43] jeffgolenski commented on #54863
Just a couple of ideas that I'm sharing from a slack convo between Kate and myself (so far)

I personally like the idea of one of these two articles:
1) https://wordpress.com/go/tips-and-tricks/10-ways-to-find-success-with-your-new-small-business-website/
2) https://wordpress.com/go/content-blogging/how-to-respond-to-customer-feedback/

For a few reasons:
* They provide some broad information that

[2021-07-26 15:46] #54466 closed, assigned to nobody

[2021-07-26 15:48] synora commented on #54684
I'm unable to replicate this on my Atomic site:

https://user-images.githubusercontent.com/10015451/127019430-341a52ee-2772-46c9-bb05-89d53825eb0c.mp4

I'm using Chrome v. 91.0.4472.114 / macOS Bug Sur v 11.4

But that doesn't mean there's an issue here though. What about on other browsers?

[2021-07-26 16:07] sixhours commented on #54817
Screenshot diff: D64633-code

[2021-07-26 16:07] sixhours commented on #54818
Screenshot diff: D64631-code

[2021-07-26 16:14] katiebethbrown commented on #48746
Another report here: 17019222-hc

Set the staging domain as primary for the user so they could access the DNS setting for their domain that's now pointed elsewhere.

[2021-07-26 16:15] synora commented on #54676
Triaged. Can replicate.

[2021-07-26 16:35] KirkwallDay opened #54896 "Option to Change Placeholder Text on Comment Box"
I have some feedback from a user that it would be nice to have the ability to change the placeholder text on the comment box below posts. Where it says "Leave your comment here...." they think it would be helpful to make that message more personalized.

29025831-hc

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
<img width="1119" alt="Screen Shot on 2021-07-2

[2021-07-26 17:02] sdixon194 commented on #54340
@kspilarski this should have been fixed with Jetpack 9.9.1 which was released on Atomic late last Tuesday. I took a look and didn't see the issue on the site anymore, and I don't think they applied the CSS yet. It also looks like they have some performance/caching plugins. I'd reckon the site's cache wasn't cleared and recommend they do that/disable the plugins to see if that fixes things on their

[2021-07-26 17:09] sixhours commented on #54817
I can't find the source/copyright info for the avatar photo for this theme; IIRC we need to be able to point to the image's source if we want to submit this theme to WP.org in the future (since it's included in the theme's screenshot.png). What do you think @ianstewart? Should we swap the image out for something we can credit or not worry about it?

[2021-07-26 17:15] carinapilar commented on #54673
This issue happens once you **copy the page**, I'm able to replicate this consistently on:

OS X 10.15
Firefox 90
Chrome 92.0.4515.107
Safari 14.1.1

Also on Atomic, Simple, and WordPress.org sites. Seems to be a Jetpack issue, and it happens with the Buttons block too. Here's what I had on the original page:

![CopyPageIssue2](https://user-images.githubusercontent.com/16104522/127030526-9a92123d-

[2021-07-26 17:38] kspilarski commented on #54340
I can confirm that they did not add the CSS code, and that the post carousel slider now looks even! Thank you @sdixon194

[2021-07-26 18:18] kathrynwp commented on #52121
Seems like the relevant changes needed to address this have been deployed already - @davipontesblog can we close this?

[2021-07-26 18:20] mattwiebe commented on #54767
The merge of the missing function was completed, this is fixed.

[2021-07-26 18:30] jeffgolenski opened #54901 "My Home: Secondary CTA cards should disappear after they're clicked or tapped"
### What

Once a customer clicks or taps "learn more" links in the learn and grow area of my home (secondary CTA area), when they revisit My Home, that card should disappear

### Why

![Screen Shot 2021-07-26 at 2 28 16 PM](https://user-images.githubusercontent.com/214813/127039923-f2bb39c2-d589-4d79-be1d-f7ad81b408dd.png)

Per an idea by @sethmclellana8c, My Home can be cluttered. After a custome

[2021-07-26 18:41] sixhours opened #54902 "Theme Showcase: Rare Nessie sighting"
### Steps to reproduce the behavior

1. Go to `http://wordpress.com/theme/mononoke/[site]`
2. It's the single view theme page for a theme that doesn't exist
3. Spot the monster!

#### What I expected to happen

Not to encounter a mythical creature from days of yore.

#### What actually happened

<img width="1667" alt="Screen Shot 2021-07-26 at 2 31 22 PM" src="https://user-images.githubusercontent

[2021-07-26 19:09] obenland commented on #45377
Closing as this seems to be intentional

[2021-07-26 19:09] #45377 closed

[2021-07-26 20:28] jeffgolenski commented on #54863
IF we decide to go with either of the above articles, I have already whipped up some design and copy for em.

![Secondary CTA area-1](https://user-images.githubusercontent.com/214813/127054633-cfc1e853-d1d2-41d9-8950-1e7dedd84c4f.png)
![Secondary CTA area](https://user-images.githubusercontent.com/214813/127054636-7ea9fb50-b73e-4b94-a9d5-f5926b2b0e55.png)

[2021-07-26 20:50] csonnek opened #54908 "Reader: Quiz Shortcode showing answers in Reader view"
User reporting that the quiz shortcode shows all the answers when viewing the post in the Reader.

Reported: https://wordpress.com/forums/topic/shortcode-quiz-answers-visible-in-wordpress-reader/

Shortcode in post:

![shortcodepage](https://user-images.githubusercontent.com/2814452/127055875-ccc92d8c-c15d-46d1-9651-96df9d3c4f2b.jpg)

Shortcode in [Reader feed](https://wordpress.com/read/blogs/744

[2021-07-26 20:59] #54308 closed, assigned to BogdanUngureanu

[2021-07-26 21:35] DavidRothstein commented on #53451
Previous internal discussion: pbMlHh-Fn-p2

[2021-07-26 21:54] gwensmithx opened #54911 "Rebalance Theme - When Headings Font Size Set in Customizer, Type Scale is Ignored on Blog Posts Block Post Titles"
### Steps to reproduce the behavior

1. Activate Rebalance theme on an AT or Simple Site
2. Go to customizer and set a font that has a large font size option for the Headings (I used Gentium Basic, Bold , Large)
3. Publish a few posts and go to a page and add a Blog Posts Block, try to set a Type Scale so the post titles are smaller or larger
4. You will see the font-size changes in the editor but

[2021-07-26 22:36] mreishus commented on #54816
Testing out using blockbase as the source theme for theme-gen.
* D64650-code : theme-gen: Stop crashing when headstart destination directory does not exist [Deployed]
* D64659-code : ThemeGen: Use different replacement orders for php files [Deployed]
  * This may not be a 100% solution; an alternative might be to rename "blockbase" to two words like "block-base" and to mandate that all future sour

[2021-07-26 22:37] paxblueribbon opened #54913 "Reader likes immediately unlike-ing"
### Steps to reproduce the behavior
1. Go to reader in this user's account
2. Try to like a post

#### What I expected to happen
Post to appear liked, show up in liked post page

#### What actually happened
Post appeared liked, then immediately unliked, never showed up in liked post page.

### Context
Reader likes appear to work from my own account
Reported by user in HC-5727121

#### Browser / OS

[2021-07-26 22:41] roundhill commented on #54351
Seeking @cpapazoglou's advice on this one! Looks like https://github.com/Automattic/jetpack/pull/17464 added some code that adds some CSS classes to restrict the block to a certain aspect ratio. I think what we're seeing here is videos that are not fitting a 'standard' aspect ratio like `16:9`, so the black bars show up.

It seems to me like everything is working fine if I disable these `wp-aspect

[2021-07-26 23:10] #53869 closed, assigned to nobody

[2021-07-26 23:10] #53982 closed, assigned to guarani

[2021-07-27 00:28] happychait commented on #53233
Just had a customer annoyed about not being able to headstart Atomic site, in 30825087-hc

[2021-07-27 01:59] kaitohm commented on #54466
Thanks for checking, and for the additional information. I have responded to the user.

[2021-07-27 02:30] #52937 closed, assigned to nobody

[2021-07-27 03:32] retnonindya commented on #53953
6142631-hc

I asked them to clear cache and switch to Classic Editor for the time being. They mentioned the issue happens on Safari and Chrome (on Mac)

[2021-07-27 05:16] gavande1 commented on #52010
The other solutions will take significant time to be developed and deployed (In terms of process).

I think adding a patch within the jetpack to add support `post-thumbnail` JSON API to bring parity between Simple & Atomic sites can be the intermediate solution for time being.

[2021-07-27 06:41] cpapazoglou commented on #52010
I can see your point that users may think that the actual image will be blurry, the CSS solution would only be an interim solution until the core patch is merged.

It seems to me that ultimately Gutenberg needs an image size that **cannot** be altered by the user. `post-thumbnail` doesn't sound like a good candidate cause it's both editable from themes and might be too big (eg `1568px`) despite be

[2021-07-27 07:29] p-jackson commented on #54273
We've made improvements to this task, however we've also discovered other situations where the task logic doesn't work correctly. The My Home Pod doesn't have time to fix the other situations, but I've added them to the issue description and will pop this back in the backlog.

[2021-07-27 07:32] roo2 opened #54919 "Add eligibility logic to POST_LAUNCH view"
I added the VIEW_POST_LAUNCH in D64174-code to work with the primary card slider component.

But currently when VIEW_POST_LAUNCH is displayed, it just returns all cards to the front end. VIEW_POST_LAUNCH should use eligibility logic corresponding to what is currently in the `is_view_applicable` function in `home/views.php`.

For example, the webinars promo card should only be shown for 7 days from

[2021-07-27 08:38] cpapazoglou commented on #54351
👋 @roundhill, the current behavior is certainly different than the one I got when developing Automattic/jetpack#17464. It seems that reverting that implementation produces better results now (not perfect though)

Before | After
-------|------
 ![](https://cln.sh/rsYrNH+)| ![](https://cln.sh/FYRWTe+)

[2021-07-27 09:22] Copons commented on #54767
5.8 is not fully merged yet, and this issue is still happening.
I'll reopen it and wait for the full merge to close it again. 🙂

[2021-07-27 09:26] cpapazoglou commented on #42616
To my understanding it doesn't make sense excluding posts without featured image **by default**. That's why I proposed in my comment https://github.com/Automattic/wp-calypso/issues/42616#issuecomment-719478234

[2021-07-27 09:29] Copons commented on #54508
**Note**

- When activating/deactivating an FSE theme, the sidebar requires a full refresh to toggle the Site Editor and Customizer items.

There is a recent PR that addresses the sidebar refresh for another toggle: https://github.com/Automattic/wp-calypso/pull/54751

Example code:
[code]

[2021-07-27 09:58] BogdanUngureanu opened #54920 "Dashboard Quick switcher not appearing in WP-Admin when clicking on the Block editor sidebar"
### Steps to reproduce the behavior

1. Go to WP-Admin/edit.php (for Posts)
2. Click on a Post (doesn't matter which one)
3. Click on the WordPress menu logo (Block editor sidebar) and click on "All Posts" link.
4. You'll be redirected to edit.php?post_type=post
5. Click on "Screen options" and notice that the button for switching to Calypso interface is missing.

#### What I expected to happen
Th

[2021-07-27 10:28] Nic-Sevic opened #54922 "Varia based themes: When gutenberg plugin deactivated unable to save changes"
### Steps to reproduce the behavior

1. Activate a varia based theme
2. deactivate the gutenberg plugin
3. check customizer for save option

#### What I expected to happen
you should be able to save changes as normal

#### What actually happened
the save button is replaced with a cannot activate button with no further context

### Context
two AT pings, latest p2  for one here: p9F6qB-7f6-p2

####

[2021-07-27 10:31] inaikem commented on #54922
I was able to replicate on my Atomic test site.

<img width="356" alt="Screen Shot 2021-07-27 at 6 12 17 PM" src="https://user-images.githubusercontent.com/66711744/127139700-3c5cd285-6ba0-4cd5-8270-48e5d9c0ad30.png">

[2021-07-27 10:39] mmtr commented on #54164
This needs changes in both Calypso (https://github.com/Automattic/wp-calypso/pull/54387) and WP.com (D64698-code).

[2021-07-27 11:00] cpapazoglou commented on #52178
I tried reproducing the issue today without any luck. Every time I edited the title and clicked "Preview" (without saving) the `https://public-api.wordpress.com/wp/v2/sites/$siteid/posts/$postid/autosaves` contained the newly updated title, description, excerpt and thus the Preview was appearing OK.

Can you check once again @dsas ?

[2021-07-27 11:09] WunderBart commented on #54859
Noting here that the "Add new post" button was added to the post-publish panel in https://github.com/WordPress/gutenberg/pull/33276 so we'll need to make sure it works in WPCOM. Would also be good to make sure that our "Convert to audio" button doesn't go missing after this upgrade (source: p1627368625025900/1627318915.020200-slack-CBTN58FTJ). Possibly a good candidate to be covered by an E2E test

[2021-07-27 12:23] Copons commented on #54922
I think the issue here is that Varia shouldn't have access to the Customizer, exactly like its children. 🤔

But let me backtrack briefly.

The Varia family of themes was used in 2019 for the Legacy Dotcom FSE experiment, which has been discontinued.
In that experiment, the Customizer was removed, and the site design was being done straight into the Page Editor.

Those themes are tagged as `full-si

[2021-07-27 13:17] mmtr commented on #54868
@mrfoxtalbot I removed the issue from our iteration board and added it to our global backlog instead. Before adding issues to the iteration, we need to review them on our weekly planning meetings.

[2021-07-27 13:31] andres-blanco commented on #52533
Actually, this seems to be fixed

![2021-07-27 10 28 48](https://user-images.githubusercontent.com/375980/127162273-12cd5167-fd4c-4aba-9426-debc921318b0.gif)

[2021-07-27 13:36] MaggieCabrera commented on #54922
From the theme's perspective I think removing the fse tag is ok, in fact it's preferred since it conflicts with the dotorg tag and it's confusing.

[2021-07-27 13:39] Addison-Stavlo commented on #54922
Should we hide the Customizer from Varia as well?

Im actually a bit confused on what is supposed to happen here with these themes.  Looking at one of them (Morden) on simple sites I have access to the customizer, but as soon as I transfer it to Atomic the customizer option is no longer available.

If we only need the taxonomy, removing the theme tag seems like the best way to go about it.

I don'

[2021-07-27 13:45] #54824 closed, assigned to andres-blanco

[2021-07-27 13:47] Copons commented on #54922
I think we should try to make it all more consistent:

- `full-site-editing` stylesheet tag
  - Used by Core FSE (as of 5.8).
  - Maybe used by Legacy FSE (ETK).
- `full-site-editing` internal taxonomy
  - Used by the theme showcase to show A8C's Legacy FSE themes (Varia family).
  - Maybe used by Legacy FSE (ETK).
- `block-templates` internal taxonomy
  - Used by the theme showcase to show A8C's

[2021-07-27 13:55] Addison-Stavlo commented on #54922
Are we able to change the tag/tax for LFSE and its themes to something like `dotcom-legacy-fse`, and roll it out in a way that will won't break any LFSE sites?  That way we can avoid the confusion with having a `full-site-editing` taxonomy that doesn't correspond to core FSE (and avoid having to use the less obvious `block-templates` tax there instead)?

[2021-07-27 14:00] MaggieCabrera commented on #54922
The PR that removes the fse tag from the css of the themes that are not actually using the site editor: https://github.com/Automattic/themes/pull/4335

[2021-07-27 14:26] mmtr commented on #52862
Proposed fix ready for review in D64710-code.

[2021-07-27 14:44] niranjan-uma-shankar commented on #52652
Props @aneeshd16 for finding this but the Google sign-in works on Safari even with 3rd party cookies blocked.
This issue is however seen on Chrome and Firefox.

[2021-07-27 14:56] kwight commented on #54816
I don't see us doing this just for the sake of the library.

[2021-07-27 14:56] #54823 closed, assigned to andres-blanco

[2021-07-27 15:00] mattwiebe commented on #54922
While we work on a better fix, this can temporarily be resolved by activating the Gutenberg plugin

[2021-07-27 15:56] cpapazoglou commented on #51362
Thanks @dsas for exploring this! You are right, D64726-code adds `wpcom_block_editor_nux_status` in the `av2_usermeta_key_whitelist`

[2021-07-27 16:44] worldomonation opened #54932 "Playwright: flaky behavior on mobile GutenbergEditorPage.publish"
### Details

Relevant log:

[code]

Looking at the video, the publish panel slides in when the main `Publish` button is clicked on the editor. The final `publish` button there is clicked (or so Playwright thinks) but in reality the button was not ready to be clicked yet so the publish process hangs there.

### Checklist

Possible solutions:
- [ ] wait for element to be stable (animation done).
- [

[2021-07-27 16:45] kwight opened #54933 "Seedlet, Blank Canvas: Dark color palette causes cover block text to lose contrast"
In Baker, the last palette on the right (with a dark background and white text) will result in the text disappearing, because the main content area always has a white background.

<img width="1606" alt="Screen Shot 2021-07-27 at 9 40 35 AM" src="https://user-images.githubusercontent.com/349751/127194430-5e4242e6-7e40-4c59-a99c-2b1f9a8df763.png">

[2021-07-27 17:09] worldomonation opened #54935 "Support: popover covers support icon on mobile viewport if results are longer than 4 entries"
### Steps to reproduce the behavior

Prereq. Log in as free user
Prereq. Use mobile viewport (400x1000)

1. Go to /settings.
2. Click on the '?' icon to toggle the support popover.
3. In the input field, enter 'domain'

#### What I expected to happen
4. The '?' icon remains uncovered without scrolling.

#### What actually happened
4. The support popover extends beyond the bottom of the viewport.
4

[2021-07-27 17:12] roundhill commented on #54351
Thanks @cpapazoglou! I'll see if I can get those black bars to go away w/o the CSS classes added.

[2021-07-27 17:37] mattmiklic commented on #54441
Ok cool. I think we could nix the QR code idea then and just show the versions I labeled "logged out" if we know the user has a token and has downloaded/used the app at some point in the past. We can show the option I labeled "Default" if we have no record of the user having used the app before.

Including the login link if we do know the user has used the app could still be helpful; if they are l

[2021-07-27 17:57] sbathompson-he opened #54936 "Masonry Block: If Captions have a text link, some or all caption text will disappear when a new image is added"
### Steps to reproduce the behavior

On a page with the Masonry Block set up and captions all added in if another image is added, all the captions disappear. The user then needs to re-add these captions back once again.

https://user-images.githubusercontent.com/77308634/127203765-97a1be6c-0425-4f50-adb7-507195150a68.mp4

#### What I expected to happen
- Captions should not disappear

#### What ac

[2021-07-27 18:00] DavidRothstein commented on #54813
Earlier discussion: **If** the price is not (intended to be) shown crossed-out anymore, there's probably no need for the tooltip.

[2021-07-27 18:42] sixhours commented on #54817
Theme has been Network Activated and Showcase pages published. I'll notify Happiness shortly!

[2021-07-27 18:42] #54817 closed, assigned to sixhours

[2021-07-27 18:42] sixhours commented on #54818
Theme has been Network Activated and Showcase pages published. I'll notify Happiness shortly!

[2021-07-27 18:42] #54818 closed, assigned to sixhours

[2021-07-27 19:19] CodeAllNightNDay commented on #53100
I have a user who is also getting a blank screen when trying to create a new post. I am able to recreate the issue and have not found a path to resolve it yet.
[Site](http://medicalnewsobserver.com/) | [SA](https://wordpress.com/wp-admin/network/admin.php?page=store-admin&action=search&username=sreerampenna) | [SU](https://mc.a8c.com/tools/support-session/?supported_username=sreerampenna)

[Chat T

[2021-07-27 19:24] CodeAllNightNDay commented on #53100
4177957-zen
I have a user who is also getting a blank screen when trying to create a new post. I am able to recreate the issue and have not found a path to resolve it yet.

23573177-hc

They mentioned that they are able to create posts from the app, but not from their computer.

User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Safari

[2021-07-27 19:43] carinapilar opened #54939 "Broken Blocks with Mixed Classic Editor Content"
### Summary
Additional paragraph tags in the post's code are breaking the block editor.

### Steps to reproduce the behavior
I wasn't able to replicate this issue on a test site yet. I checked the user's posts and found that most of them open within the Classic block, so it seems they were created with the Classic Editor. The posts that are showing the issues, have content from the block editor, s

[2021-07-27 20:09] kwight commented on #54822
Closed via https://github.com/Automattic/wp-calypso/pull/54937

[2021-07-27 20:09] #54822 closed, assigned to blackjackkent

[2021-07-27 20:14] kwight commented on #54805
Fixed in https://github.com/Automattic/wp-calypso/pull/54910

[2021-07-27 20:14] #54805 closed, assigned to blackjackkent

[2021-07-27 20:14] kwight commented on #54804
Fixed in #54937

[2021-07-27 20:14] #54804 closed, assigned to blackjackkent

[2021-07-27 20:20] #54565 closed, assigned to worldomonation

[2021-07-27 20:29] sixhours commented on #54933
This happens with the same content in Blank Canvas and Seedlet, too, so it's an issue further up the chain. :-/ I wonder if it's related to this core fix for cover blocks with light backgrounds https://github.com/WordPress/gutenberg/pull/33541 or if it's a conflict between individual block colors and our Custom Colors. The good news is, users can work around it by editing the page/block and updati

[2021-07-27 20:30] metabreakr opened #54942 "Tortuga - featured image setting missing in editor"
A user reported that the featured image settings have disappeared in the editor. I was able to confirm this using the theme demo: https://tortugademo.wordpress.com/

### Steps to reproduce the behavior

1. Activate the Tortuga theme: https://wordpress.com/theme/tortuga/
2. Create a page/post
3. In the editor, try adding a featured image
4. Observe that the option is missing

#### What I expected t

[2021-07-27 20:32] jp-imagines commented on #54860
Looks like there was a report of this in 4177745-zen. Not sure of the user's browser, though.

[2021-07-27 20:38] villanovachile opened #54943 "Featured Image Section missing in Editor for multiple themes"
### Steps to reproduce the behavior

The featured image section is missing using Gutenberg on Simple Sites. Issue is not present on Atomic sites, nor when using the Classic Editor.

Work around for now will be to use the Classic Editor to set a featured image.

#### Browser / OS version: Multiple browsers

#### Is this specific to the applied theme? Which one?
Affected themes so far:
• Dicot
• Flo

[2021-07-27 20:39] villanovachile commented on #54942
Can we close this in favor of this issue I reported here: https://github.com/Automattic/wp-calypso/issues/54943

This issue affects multiple themes and appears to be isolated to Gutenberg.

[2021-07-27 20:40] aamills commented on #54943
Ran into this issue myself, with a user in 30840456-hc, using the Veni theme. Guided them to Classic to add/edit featured images for now.

[2021-07-27 20:52] villanovachile commented on #54943
Report in 4178605-zen using the Dicot theme.

[2021-07-27 21:12] mattwiebe commented on #54922
We've shipped a fix for this now. Feel free to re-open this issue and ping me if it persists.

[2021-07-27 21:12] #54922 closed, assigned to nobody

[2021-07-27 21:20] jeffgolenski commented on #54863
Providing the optimized SVG code (and SVG files if that's what is preferred)

**Customer feedback card:**
`<svg xmlns="http://www.w3.org/2000/svg" width="197" height="100" viewBox="0 0 197 100" fill="none"><style>.a{stroke-width:2;stroke:#0675C4;}.b{fill:#DCDCDE;}</style><rect x="0.5" y="0.5" width="195.1" height="98.2" rx="2.5" stroke="#C3C4C7"/><path d="M22.3 30.5L22.6 30.2 23 30.2 31.5 30.2C31.

[2021-07-27 21:55] autumnfjeld opened #54948 "Task: Show the App Banner on mobile web after site creation"
## What

Update when the mobile web App Banner that is displayed on the WordPress.com mobile web.
![image](https://user-images.githubusercontent.com/5665959/127231409-f884940a-2269-4b94-b362-2e9302b64f50.png)

In https://github.com/Automattic/wp-calypso/pull/42164 the banner was set to show:
if the site is [_older than 1 <s>week</s> hour and launched._](https://github.com/Automattic/wp-calypso/pul

[2021-07-28 01:23] retnonindya opened #54949 "Stats: File Downloads still displaying number of downloads for a deleted file"
A user informed that they see number of downloads from a file (video file) that already deleted on their website.

The file is a screen recording we shared with them for support purpose on July 19 on this chat:
30703859-hc

The file has been deleted and it displays Error 404 Not Found as expected. However, on the Stats page, you can see there is a recent download number (10) on July 27.

![Screens

[2021-07-28 01:56] #54850 closed, assigned to arthur791004

[2021-07-28 03:02] retnonindya opened #54950 "Atomic: WC_Rest_Controller error (Jetpack refused to work properly when WooCommerce is not active/not installed on the website)"
GitHub for collecting reports.

Atomic sites. Users mentioned they can't edit any pages and keep seeing `Class 'WC_REST_Controller' not found` error.

This GH issue is for reporting this (I'm still checking what's going on ) and to collect reports. At first, I thought this is related with WooCommerce, but two of the websites don't have Woo/Woo is inactive.

I also found inactive Woo plugin caused

[2021-07-28 03:17] cuemarie commented on #54950
User example, now resolved thanks to activating Woo-related plugins: 30616918-hc // 4179254-zd-woothemes

[2021-07-28 03:18] marutim commented on #54950
- Another report here: hc-30525888
- Activating the WooCommerce plugins fixes the issue
- Following up with the user: zd-4179275

[2021-07-28 03:21] tarunvijwani commented on #54950
Another report - HC-26667142

[2021-07-28 03:21] edwinho89 commented on #54950
Similar report: 26496909-hc and 30844556-hc

Activating WooCommerce plugin fixed it.

[2021-07-28 03:22] tarunvijwani commented on #54950
Another report: HC-30243079

Activating the WooCommerce plugin fixed it.

For those users who don't want the WooCommerce plugin, deleting the plugin from CLI after activating it will also fix the error.

[2021-07-28 03:25] marutim commented on #54950
- Another report here: hc-17802862
- Activating the WooCommerce plugins fixes the issue
- Following up with the user: zd-4179286

[2021-07-28 03:30] rosepajaroja commented on #54950
Another report here: HC-30844003
Activating the WooCommerce plugin fixed the issue

[2021-07-28 03:30] galakhyati commented on #54950
Another two reports:

30690308-hc, Follow up: 4179290-zd-woothemes.

30844257-hc, Follow up: 4179295-zd-woothemes.

In both cases activating the WooCommerce plugin fixed the issue.

[2021-07-28 03:48] adelineyaw commented on #54950
Another report 29001669-hc
Activating WooCommerce fixed the issue

[2021-07-28 03:55] tarunvijwani commented on #54950
Another report: 29177230-HC

[2021-07-28 03:55] devNigel commented on #54950
Another report:

* 4179302-zen
* 4179249-zen
* 30825594-hc, follow up: 4179324-zen

WooCommerce was activated on the site to fix the error.

[2021-07-28 04:05] marutim commented on #54950
- Another report here: hc-30799733
- Following up with the user: zd-4179342
- Activating the WooCommerce plugins fixes the issue

[2021-07-28 04:28] metabreakr commented on #54942
Closing in favour of https://github.com/Automattic/wp-calypso/issues/54943

[2021-07-28 04:28] #54942 closed, assigned to nobody

[2021-07-28 04:29] metabreakr commented on #54943
30840165-hc / 4178686-zen

[2021-07-28 04:37] ghost commented on #54950
Another report: hc-28402644
Follow up: zd-4179404
Activating the WooCommerce fixed it.

[2021-07-28 04:37] happychait commented on #54950
Got one in 30845128-hc

Activating the WooCommerce plugins fixed the issue.

[2021-07-28 04:38] hacchism commented on #54950
Another one in zd-4179205

Deleting WooCommerce via CLI fixed the issue.

[2021-07-28 04:45] retnonindya commented on #54950
This is now **RESOLVED**! We have deployed a revert and things should work properly now. Thank you for the updates and the hard works, folks! I'm closing this GH issue 🙇

[2021-07-28 04:45] #54950 closed, assigned to nobody

[2021-07-28 05:02] KokkieH commented on #53609
A couple more reports of this in https://wordpress.com/forums/topic/blocks-freeze/page/3/#post-3708063

[2021-07-28 05:14] KokkieH commented on #54201
Several more reports in https://wordpress.com/forums/topic/blocks-freeze/

Reports in that thread specifically mention it happening when text is selected across multiple blocks.

Happens across browsers, but doesn't seem to happen in Brave.

[2021-07-28 06:22] alaczek opened #54953 "Task: Update starter designs"
### Details

In pd2qbF-8c-p2#comment-189 @kjellr proposed a number of changes to our starter designs. I applied those suggestions to starter sites, and this issue is to make those changes live.

### Checklist

- [ ] [Fredrickson](https://fredricksonstarter.wordpress.com/)
- [ ] [Vesta](vestastarter.wordpress.com)
- [ ] [Pollard](https://pollardstarter.wordpress.com/)
- [ ] [Balan](https://balansta

[2021-07-28 07:56] keoshi commented on #28738
It would still be important to check what's happening and if we can improve the error message.

[2021-07-28 08:39] mmtr commented on #52862
Fixed in r229383-wpcom and r229385-wpcom.

[2021-07-28 08:39] #52862 closed, assigned to mmtr

[2021-07-28 09:03] #54547 closed, assigned to tjcafferkey

[2021-07-28 09:03] #54164 closed, assigned to mmtr

[2021-07-28 09:03] #54405 closed, assigned to nobody

[2021-07-28 09:08] fresatomica commented on #52263
Reported here: https://wordpress.com/forums/topic/amazon-kindle-embedding/

[2021-07-28 09:15] happychait commented on #30426
Documenting a workaround I spent time testing:

For Atomic sites: All files including .pptx files upload without any issues.  To upload .ppsx, .pps, and .ppt files though, I had to use the [WP Add Mime Types ](https://wordpress.org/plugins/wp-add-mime-types/) plugin and set it up as following: ![](https://cln.sh/ygfMBj+) ![](https://cln.sh/hSnRqj+)

Here are the mime types to use for ppsx files wi

[2021-07-28 09:25] taggon commented on #50560
@inaikem It turned out my patch might not work for some cases as @fgiannar mentioned in pd2HMz-g-p2#comment-8
We probably need another approach for this issue.
As the first phase of the Flow Patrol is ending soon, I'd like to hand over this to the next Flow Patrol team.

[2021-07-28 09:27] Copons commented on #54767
Looks fixed to me! Thanks @david-binda! ✨

[2021-07-28 09:27] #54767 closed, assigned to nobody

[2021-07-28 10:27] gavande1 commented on #52178
I was able to reproduce the issue by following the steps mentioned by @dsas but it's reproducible with the **published** post. If the post is in the **draft** state then the issue is not reproducible as mentioned by @cpapazoglou.

[2021-07-28 10:59] simison commented on #54948
This was later changed to 1h: https://github.com/Automattic/wp-calypso/pull/46649 with some other changes to logic as well: https://github.com/Automattic/wp-calypso/pull/46650

What's the plan in terms of avoiding this looking like in the screenshot above?

[2021-07-28 11:15] arthur791004 commented on #54948
@autumnfjeld Do you mean revert https://github.com/Automattic/wp-calypso/pull/42164? Or what's the definition “after site creation”? As @simison said, if we follow the new spec, we need to deal with the original problem.

Here are possible solutions:
- The App Banner should push up the screen, so there is no overlay between guide and App Banner (But I think it might be not easy to do)
- Show the A

[2021-07-28 12:43] csabarakasz commented on #44734
There was a new indication of this issue in the public forums. https://wordpress.com/forums/topic/help-to-justify-a-list-2/

[2021-07-28 12:48] roo2 commented on #54441
ok so we would show the login link if the user has ever used the app, whether they are logged in or not? That makes sense to me if the link will just open the app if they are already logged in.

Do you know if we have already implemented a similar login link anywhere else, or is this the first time we're doing this?

[2021-07-28 13:07] cpapazoglou commented on #52178
Scratch that. I just reproduced three Gutenberg issues:

1. WordPress/gutenberg#21191, as @dsas found. _Probably this is loosely connected to the current issue though_
2. WordPress/gutenberg#33616
3. WordPress/gutenberg#33758

[2021-07-28 13:11] StefanNieuwenhuis opened #54972 "Signup: inconsistent padding for Signup flow on mid-size viewports"
### Why
Inconsistencies in the UI/UX of any flow, but the signup flow in particular, causes confusion among users. We want to prevent this and provide a _happy user journey_ for all.

### What
There are some breakpoints where padding is inconsistent in the reskin variant of the signup flow.
Video: https://video.wordpress.com/v/sDOAzN2y

### Acceptance criteria
-[ ] TBD

### Notes
- This issue is a

[2021-07-28 13:20] daledupreez commented on #54972
I am jumping in to note that the new Email step my team has been working on started from the Domain step CSS -- I'll follow that PR, as I think we should use the same approach for both steps.

[2021-07-28 13:26] StefanNieuwenhuis commented on #54972
I agree. The best thing is to use the same CSS classes for both steps wherever we can.

[2021-07-28 13:50] andres-blanco commented on #54252
One alternative would be to put the bar on higher z-index. This is what it would look like:
![2021-07-28 10 46 23](https://user-images.githubusercontent.com/375980/127333829-092ad67f-781c-483a-b735-94ec151790fd.gif)

[2021-07-28 14:09] mmtr commented on #53947
@tjcafferkey can you still reproduce this issue?

I enabled the `enable-widget-block-editor` blog sticker on my test site, went to `/wp-admin/themes.php?page=gutenberg-widgets` and added a paragraph block. However I don't see the "Add to Reusable blocks" option in the block toolbar:

<img width="696" alt="Screen Shot 2021-07-28 at 16 07 37" src="https://user-images.githubusercontent.com/1233880/12

[2021-07-28 14:16] tjcafferkey commented on #53947
@mmtr hmm, I no longer have the option to create a reusable block here. So I am unable to reproduce.

@draganescu can you confirm if the option to add reusable blocks has been intentionally removed?

[2021-07-28 14:23] cpapazoglou commented on #51362
Deployed r229405-wpcom

Tested the following:

**Creating directly an eCommerce (Atomic) site**
✅ Going to the editor shows the Welcome Guide
✅ I can dismiss the Welcome Guide
✅ Refreshing the page doesn't show the Welcome Guide again
✅  Creating a new post doesn't show the Welcome Guide again

**Transferring a Simple site to Atomic with editor dismissed**
✅ Going to the editor doesn't show the We

[2021-07-28 14:23] #51362 closed, assigned to dsas

[2021-07-28 14:40] draganescu commented on #53947
Yes it was removed b/c all blocks that use the entity system don't work yet in the block widgets editor.

[2021-07-28 15:01] dcoleonline opened #54974 "Jetpack Carousel: Simple sites - Ampersands in the Title field convert to &amp;"
To start, I should mention that I'm only seeing this issue in the Carousel, but I'm not certain that it is happening because of the carousel code.

### Steps to reproduce the behavior

1. Add a gallery block to a blank page
2. Add two images to the gallery
3. Include an ampersand in the title of one image
4. Include an ampersand in the caption of the other image
5. Publish and view the live page
6

[2021-07-28 15:01] dcoleonline opened #66206 "Media Library: Ampersands in the Title and caption fields convert to &amp; on WordPress.com simple"
**Update**

After discussion in the comments, I've updated the details of this issue.

### Steps to reproduce the behavior

**This only happens on WordPress.com Simple**

1. Go to Media > Library
2. Upload 2 images.
3. In the first image, add a title using an ampersand

<img width="1295" alt="image" src="https://user-images.githubusercontent.com/426388/182556500-acbb36eb-8e60-41fd-b354-0a71414a435

[2021-07-28 15:02] #53947 closed, assigned to mmtr

[2021-07-28 15:38] kwight commented on #54252
@andres-blanco Oh, that's not bad – the switcher would be visible until that scroll point. @onuro @ianstewart any ideas?

[2021-07-28 16:02] sixhours commented on #54933
Looks like this is related to the theme's use of CSS variables which don't update automatically in the Customizer; things work as expected once you refresh the page, since the variable changes. We may be able to add a Customizer script to change things on the fly with inline CSS. Will poke around at it a bit more and see if that fixes the issue in Seedlet, which would hopefully fix it in Baker and

[2021-07-28 16:27] ivan-ottinger commented on #46964
I did a bit of testing today and it turns out the slideshow images are actually there. They are just obstructed by a `div` with `opacity: 0;`:

<img width="1312" alt="Markup 2021-07-28 at 17 35 04" src="https://user-images.githubusercontent.com/25105483/127360371-9137b8f5-ea57-4bc4-8b2f-b410072fe268.png">

[2021-07-28 16:31] kriskarkoski commented on #51787
4180642-zd-woothemes

[2021-07-28 17:33] xpurichan commented on #54042
@allilevine I only found one reference to this being preinstalled in the wordpress.com/support guides, it's here:

https://wordpress.com/support/classic-editor-guide/#how-to-access-the-classic-editor

[2021-07-28 17:43] #54825 closed, assigned to andres-blanco

[2021-07-28 17:48] mrfoxtalbot opened #54977 "Slideshow Block: Do not skip posts without a featured image"
### Steps to reproduce the behavior

1. Create several posts, some with featured images, some without.
2. Insert a Post Carousel Block
3. Check the listed posts: Posts without a featured image will be skipped.

#### What I expected to happen
I expected all posts matching the query to be listed, even if they do not have a featured image.

#### What actually happened
Posts without a featured image w

[2021-07-28 17:55] chad1008 commented on #54832
Closing in favor of #54859 (looks like we just wound up with two accidentally this round)

[2021-07-28 17:55] #54832 closed, assigned to nobody

[2021-07-28 18:05] allilevine commented on #54042
Nice thank you! 🙌 I think we'd need to change that reference to instructions to install the plugin, vs. activating, based on the latest discussion here: p9o2xV-1vT-p2

[2021-07-28 18:18] kcswong commented on #53248
User report in 30856071-hc

[2021-07-28 18:42] worldomonation commented on #54338
@dpasque and @kwight are to work on developing a PoC for this.

Initial goals:
- [ ] set up a standard WordPress.com Simple/Atomic site.
- [ ] available as a hook, ideally in [hooks.ts](https://github.com/Automattic/wp-calypso/blob/trunk/packages/calypso-e2e/src/hooks.ts) file.

[2021-07-28 18:54] rafaelgallani opened #54980 "Domains: Incorrect error message when organization field is optional"
### Summary
Raised by @hambai in https://github.com/Automattic/wp-calypso/pull/54903#issuecomment-887820844:

In the checkout page for a .ca domain, changing the contact information's "Canadian presence" field value between "Canadian citizen" and "Canadian corporation" sometimes causes the form to render an error message, when it shouldn't.

### Steps to reproduce the behavior

As mentioned in the

[2021-07-28 19:05] saygunnyc opened #54981 "Editor: Fixing selecting/editing paragraph text copy"
### Steps to reproduce the behavior

1. Go to any P2 to post within full-editor within WordPress.com
2. Click on '+' to create a paragraph block.
3. Write down or copy/paste 2 lines of copy
4. Try to select the full copy starting from bottom-right towards upper-left.
5. Change the copy styling to be Bold, Italic.

#### What I expected to happen
You would normally expect the full copy to switch to

[2021-07-28 19:28] worldomonation commented on #54421
Appears to be no longer an issue on deployed version `b532f5ca135f184e8359e8eb0514caf3fa25b678`.

Closing for now.

[2021-07-28 19:53] blackjackkent commented on #54807
Closing as dupe of #54821

[2021-07-28 20:22] scosgro opened #54984 "Links Block Widget buttons misaligned"
### Steps to reproduce the behavior

1. Go to Appearance - Customize - Widgets - Select a widget location - + - Legacy Widget - Links
2. The text in the dropdown menus is off center.

![image](https://user-images.githubusercontent.com/30731356/127390328-ed15cef1-2d39-4d47-8a5b-9be0cb9dc8cc.png)

#### What I expected to happen
The text to appear centered in the button.
#### What actually happened
T

[2021-07-28 20:26] scosgro opened #54985 "PROXIED V2 banner appears on all Legacy Widgets in Block Widgets"
### Steps to reproduce the behavior

1. Be proxied/logged in (like a Happiness Engineer, for example)
2. Go to Appearance - Customize - Widgets - Select a location - + - Legacy Widget - Add one and set its options (any legacy widget)
3. View the widget. A large PROXIED V2 banner will cover up the top portion of it.

![image](https://user-images.githubusercontent.com/30731356/127390879-69a801ba-8cc

[2021-07-28 20:29] sixhours commented on #54933
This is tricky. :-/ After lots of back and forth and experimentation with the Customizer and the editor (during which I got all sorts of unexpected results due to us defining colors in multiple places 🙃 ), I think what's happening here is the content imported with the Headstart annotation specifies a custom background color for the wrapping cover block, but not the text.

When Custom Colors change

[2021-07-28 20:47] xpurichan commented on #54042
👍 Easy fix! Let me know when/if we implement this and I'll update the doc to match.

[2021-07-28 21:41] allilevine commented on #49064
@ilyasfoo This seems to be happening again, any idea why that would be? The "Create your store" URL looks correct and opens on a second try or refresh, but clicking the button initially shows the permissions error. It looks like the login redirect may be failing.

https://www.loom.com/share/3db948ecc5dc4aefad814a168df3827d