[2022-05-13 05:38] #63400 closed, assigned to nobody

[2022-05-13 07:29] Greatdane opened #63595 "[Pro Plan Only] webp files receive an upload error when adding to media library"
### Quick summary

I only encounter this on the Pro plan when adding a webp file to the media library;

`1 file could not be uploaded because an error occurred while uploading.`

<img width="789" alt="Markup 2022-05-13 at 16 26 06" src="https://user-images.githubusercontent.com/5075840/168233040-ca96c798-cd0f-4ee4-b5ec-0f6121c9c6de.png">

Note, that the file does upload successfully when you refre

[2022-05-13 07:52] escapemanuele opened #63597 "Help Center: switch to i18n template string"
### What

We used `full-site-editing` in most places in the help center, when needing translations.
This is wrong, because HC could be used somewhere else, in another plugin, and it wouldn't work.

We need to switch to using `__i18n_text_domain__`

[2022-05-13 08:30] simison commented on #63354
👋  Let's add this back everywhere else in the flows as well if it was previously, not just Seller.

[2022-05-13 08:34] arthur791004 opened #63598 "Fix posts-related blocks are not verticalized"

[2022-05-13 08:40] arthur791004 commented on #62812
PTK is our pattern toolkit in MC and you can check `recent-posts-3` to see the preview.

I'm not sure and we use the posts for a pattern from that site for a long time 😂

[2022-05-13 08:58] zaerl commented on #59527
I've concluded that patching the frontend like what happens on `gutenberg-wpcom-a8c.js` isn't the best. I've seen that the DOM is changing from version to version like as is normal, and maybe we handle a specific structure that then perhaps be changed and the patch breaks.

What we can make (see here D78100-code) is to use a backup method that is used elsewhere in WP. If `ZipArchive` is not active

[2022-05-13 09:01] vishnugopal commented on #59527
@creativecoder Any suggestions on which one of the 2 approaches we should choose above? And is using PclZip as a fallack option okay in this case?

[2022-05-13 09:19] taipeicoder opened #63599 "Generated design picker: Send message from iframe containing page dimensions as payload"
#### Changes proposed in this Pull Request
D80715-code

[2022-05-13 10:09] ivan-ottinger opened #63600 "[Email] [Confirmation Request] email: Update copy"
The "Confirmation Request" email body text doesn't match the intended design copy.

**Current body:**

[code]

**New body:**

[code]

The new body text links to the site/blog address.

More info: p1652368975564949/1652335378.623919-slack-C02TCEHP3HA

---

TODO:
- [x] update the text on the WPCOM side → D80915-code
- [x] update the text on the [Jetpack side](https://github.com/Automattic/jetpack/bl

[2022-05-13 11:33] #63314 closed

[2022-05-13 11:40] miksansegundo commented on #62683
@fushar I agree. An FG page with screenshots could be a better resource for learning how to use the tool and easier to maintain. I think that on the header of the Recipe tool we can add a short description and the link to the FG. Would that work?

[2022-05-13 11:47] ivan-ottinger opened #63604 "[Email] [New post]: Missing images in Apple Mail on Mac and iOs devices when a site is hosted at Bluehost"
### Quick summary

There have been a couple of reports of missing images in the New Post email notification:
- [x] 4964624-zd-woothemes
- [ ] https://wordpress.org/support/topic/subscriber-emails-no-longer-display-images/
- [x] 5195389-zd-woothemes

### Steps to reproduce

Not yet clear.

### What you expected to happen

All post images should display.

### What actually happened

Images are missi

[2022-05-13 11:51] miksansegundo opened #63605 "Add Usage instructions in the Recipe tool"
## Description
We want to Usage instructions in the Recipe tool. Tooltips can help but maybe a detailed FG page with screenshots could be a better learning resource and easier to maintain/extend.

## Acceptance Criteria
- [ ] When on the recipe tool, I can see usage instructions to know how to use the tool.

## Dev Tasks
 - [ ] Add on the header of the Recipe tool a short description and the link

[2022-05-13 12:22] miksansegundo commented on #63605
I have created a blank Field Guide page for the [Recipe - Usage Instructions](https://fieldguide.automattic.com/recipe-tool-usage-instructions/) with two subpages:

- [Recipe Tool - Recipes](https://fieldguide.automattic.com/recipe-tool-usage-instructions/recipe-tool-recipes/)
- [Recipe Tool - Images](https://fieldguide.automattic.com/recipe-tool-usage-instructions/recipe-tool-images/)

Let's cont

[2022-05-13 12:29] fredrikekelund opened #63607 "[Bug]: i18n-calypso: broken links in README"
### Quick summary

In [i18n-calypso's README](https://github.com/Automattic/wp-calypso/blob/trunk/packages/i18n-calypso/README.md), there are two references to this URL: http://www.diveintojavascript.com/projects/javascript-sprintf

That website seems to be entirely offline, which means that the links are broken. I'm guessing that i18n-calypso previously used that sprintf implementation, or at lea

[2022-05-13 12:36] cecilearkay commented on #50740
Another report in 35480479-hc

[2022-05-13 12:46] ivan-ottinger commented on #62994
Hi Tony 👋🏼

Thank you for sharing your screenshots and details with us.

It looks like there was a confusion in regards this specific GitHub issue. The issue was originally targeted at the missing Featured image only. Then there were other reports/comments added on missing images in general.

To help separate the two issues, I created a new dedicated issue just for the missing images: https://gith

[2022-05-13 13:08] alshakero opened #63611 "[Bug]: ETK: translation isn't working almost everywhere in the ETK"
### Quick summary

The ETK is only rendering English UI. I'm not sure why, but I've found out that [this function](https://github.com/Automattic/wp-calypso/blob/add/reset-helpcenter-store/packages/i18n-utils/src/locale-context.tsx#L40) is unable to detect the locale. Because `language` is always undefined.

/cc @p-jackson @noahtallen

### Steps to reproduce

1. Start a new page in a non-English us

[2022-05-13 13:25] phcp commented on #62994
Hey Tony!

![image](https://user-images.githubusercontent.com/3113712/168291866-29e99965-186f-46e2-a5c3-b4c892f703be.png)

On your screenshot, the featured image overflows the grey area. We can use this issue to follow with additional investigations for this specific bug. Could you let us know which e-mail client did you use in the screenshots?

Thank you!

[2022-05-13 14:42] #63561 closed, assigned to alshakero

[2022-05-13 15:23] ivan-ottinger commented on #63604
I have reviewed the two of the three cases reported and here are the findings:

- 4964624-zd-woothemes - the case is related to missing Featured image. This has been already addressed in [this patch](https://github.com/Automattic/wp-calypso/issues/62994#issuecomment-1123835719).
- 5195389-zd-woothemes - the site itself (and related post) is already missing images. Therefore this is unrelated to th

[2022-05-13 16:11] jp-imagines commented on #60972
Looks like this has been implemented: https://github.com/WordPress/gutenberg/pull/37649

It's a link instead of a button, but it has background color, padding, and border controls, so you can style it as if it's a button. I'm seeing it available on simple and WoA sites.
![Markup on 2022-05-13 at 12:07:10](https://user-images.githubusercontent.com/5630717/168323521-2c7ce7df-18cd-4bbe-807e-6cb9cae70

[2022-05-13 16:11] #60972 closed, assigned to nobody

[2022-05-13 16:53] thekingsprojects commented on #62998
Another case here: 5190355-zen

[2022-05-13 17:03] masperber commented on #61293
35483018-hc

[2022-05-13 17:37] metabreakr commented on #50656
Atomic site in 26606158-hc

[2022-05-13 19:16] bobmatyas commented on #63604
I have reached out to the original reporter on 5195389-zd-woothemes via 5212952-zen. If we end up finding that it is related to Subscriptions somehow, we'll come back here.

[2022-05-13 20:26] zaguiini commented on #60135
## Root cause

When rendering the portfolio template, the portfolio page itself is protected, but the portfolio items are not. As password protection applies only to the page level, the portfolio items, which are not password-secured, are displayed.

## Possible solutions

### Filter in Jetpack code

The idea was to add a `pre_get_posts` filter and check for password protection. If the post type i

[2022-05-13 20:31] edequalsawesome commented on #62631
The pull request was merged and I was able to save these properties in the Customizer without any issue on my test simple site, so I'm going to close this 🥳

![2022-05-13 16 07 59](https://user-images.githubusercontent.com/4000628/168385066-28745762-d182-4f61-a106-22dad3f9b234.gif)

[2022-05-13 20:31] #62631 closed, assigned to nobody

[2022-05-13 20:33] zaguiini commented on #60135
## Root cause

When rendering the portfolio template, the portfolio page itself is protected, but the portfolio items, [usually fetched in a separate query](https://themes.trac.wordpress.org/browser/orvis/1.1.3/page-templates/portfolio-page.php#L56-L96), are not. As password protection applies only to the page level, the portfolio items, which are not password-secured, are displayed. There is no a

[2022-05-13 21:20] TonyKent88 commented on #62994
Hi - My PC is old so still running Windows 7 with Windows Live Mail 2012.  Thanks, Tony

[2022-05-13 21:26] TonyKent88 commented on #63604
Thanks for directing me to this Ivan.  Just to confirm, it is my site that has the problem when sending new post notification emails to subscribers.  None of the images were showing in the emails for my iPhone 12 Pro Max and another subscribers Samsung Galaxy.  This was still the case yesterday.  Tony

[2022-05-13 21:28] TonyKent88 commented on #62994
Thanks Ivan.  My site uses the Astra theme.

[2022-05-13 23:38] JessBoctor opened #63625 "Fix: Twenty-Twenty theme `.has-text-align-right` set to Left"
### Quick summary

Customer reported that when they had their paragraph block set to `Align Right`, the text acutally aligns left.

### Steps to reproduce

1. Activate Twenty-Twenty on your site
2. Change the site language to a RTL language like Hebrew
3. Create a new page or post
4. Add a parapgraph block with text, set the alignment to 'Right'
5.  View the page or post, the theme CSS sets the te

[2022-05-14 00:29] pauloeaquino commented on #63009
User report here in 5213173-zen

[2022-05-14 00:29] pauloeaquino commented on #63009
Another report here 5212855-zd

[2022-05-14 01:57] arunsathiya commented on #63437
Closing in favor for the other report.

[2022-05-14 01:57] #63437 closed, assigned to nobody

[2022-05-14 02:52] formosattic commented on #50740
Bumping the priority to High as the fix may need to be applied more than once; and for Simple sites, it requires the intervention of an HE which isn't an efficient support process.

[2022-05-14 06:56] joweber123 opened #63626 "Error when removing Timeline Block Background color"
### Quick summary

When removing the background color from the Timeline block, an error is showing in the console and the block only shows the "Attempt Block Recovery" message.

### Steps to reproduce

1. Add in a Timeline block
2. Go into a Timeline Entry child block settings and press "clear" to remove the background color from the block.

![Markup on 2022-05-14 at 15:57:57](https://user-images.

[2022-05-14 07:39] arunsathiya commented on #58269
Since my original assumption was incorrect/the current behavior is expected, I'll close this issue. Feel free to reopen if something needs to be addressed here.

[2022-05-14 07:39] #58269 closed, assigned to nobody

[2022-05-14 07:44] arunsathiya opened #63627 "Unable to access Page Optimize plugin from Nav Unification"
### Quick summary

It's currently not possible to access the Page Optimize plugin from the unified navigation dashboard. Based on this support document, it should be understand Performance tab, but under wp-admin dashboard design, but there's no way to switch to it:

https://wordpress.com/support/page-optimize/

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/18581859/

[2022-05-14 07:44] arunsathiya commented on #63627
4942880-zen.

[2022-05-14 08:06] zdenys commented on #63004
Upon our recommendation, the user from the [above's comment](https://github.com/Automattic/wp-calypso/issues/63004#issuecomment-1120173813) (5196787-zd-woothemes)  changed their shortcode block `[blog_subscription_post]` with the [Subscribe Block](https://wordpress.com/en/support/wordpress-editor/blocks/subscribe-block/). Nevertheless, the issue remains as the content is still rendered in Russian

[2022-05-14 08:23] zdenys opened #63628 "Subscription Block appears / renders oddly / broken in the post notification emails"
### Quick summary

The [Subscribe Block](https://wordpress.com/en/support/wordpress-editor/blocks/subscribe-block/) renders improperly in the notification emails.

Email | Frontend
--- | ---
![image](https://user-images.githubusercontent.com/39308239/168417359-d76bd029-b45a-41e3-939c-2892a77e5556.png) | ![image](https://user-images.githubusercontent.com/39308239/168417378-af7d9546-0572-448a-a4e4-9

[2022-05-14 10:57] wiesenhauss commented on #63279
Something I noticed: this bug appears depending on the browser window size. For higher resolution screens and bigger browser windows, the insert button and blue line are in the right place. For smaller windows, the bug appears. Example:

**3000x1600 browser window:**

<img width="703" alt="Screen Shot 2022-05-14 at 07 54 56" src="https://user-images.githubusercontent.com/99455043/168422814-47843d4

[2022-05-14 20:39] noahtallen commented on #63611
Oh no. Another guess is that it could be related to how we have to pass the locale to the window object, cc @arthur791004. Some more references to that:

- https://github.com/Automattic/wp-calypso/pull/55527

I was refactoring it here https://github.com/Automattic/wp-calypso/pull/62897#discussion_r853507397

and I noticed that the window locale data was only used by a couple of the apps. I'm curio

[2022-05-14 20:42] noahtallen commented on #63611
An example of where that is used is: https://github.com/Automattic/wp-calypso/blob/27c0527647b7c7d96767890c170e5d53391006f8/apps/editing-toolkit/editing-toolkit-plugin/tags-education/src/add-tags-education-link.js#L31

[2022-05-14 22:11] jordesign commented on #55812
+1 from a user in this interaction:
35493529-hc

They'd like multiple SFTP users so they can set up Bitbucket/Github deployment flows.

[2022-05-14 22:12] tanjoymor opened #63632 "Dyad 2: Not honoring use first image setting"
### Quick summary

The Dyad 2 theme has a customizer setting to Automattically use first image in post, but it's not being honored and instead the site is displaying the second image in the post.

<img width="1750" alt="Markup 2022-05-14 at 15 06 53" src="https://user-images.githubusercontent.com/42655541/168448198-44ffaee3-705b-4408-9e23-065cc17ff44c.png">

There is no Featured Image set on the p

[2022-05-14 22:26] villanovachile opened #63633 "[Bug]: Externally connected domain's status is based on connection expiration instead of domain registrations expiration"
### Quick summary

In Upgrades > Domains, the status for an externally connected domains is based on the connection's expiration, rather than the domain's actual expiration. As a result, if the domain connection is expiring within 30 days, it will display "Expiring soon", regardless if the domain's expiration is beyond 30 days from now. This report is being filed based off a user's experience & co

[2022-05-15 02:14] happychait commented on #63633
It would be helpful if we could get some clarification on this part @villanovachile added in the description:

(emphasis mine)

[2022-05-15 03:54] donalirl opened #63635 "Fix Styling of Event Countdown Block in Notification Emails"
### Quick summary

When a post contains an Event Countdown Block, it renders poorly in the email sent to the blog's subscribers:

### Steps to reproduce

1. Create a new post
2. Add an Event Countdown block and fill in the details
3. Publish the post
4. Check the post notification email

### What you expected to happen

I expected the countdown to appear in a readable format.

### What actually ha

[2022-05-15 05:05] kuropixel opened #63636 "Enable native ActivityPub support for WordPress.com sites"
### What

The ActivityPub protocol can be supported on WordPress sites through the use of this plugin: https://wordpress.org/plugins/activitypub/

However, there has been a request for WordPress.com to support this natively (for non-paid plans that don't have access to plugins).

ActivityPub is a protocol for federated platforms such as:
[Mastodon](https://joinmastodon.org/)
[Pleroma](https://pler

[2022-05-15 06:29] csabarakasz commented on #57390
5205392-zd-woothemes the same issue here. iOS Safari. I tried CSS code suggestion in the public repository, but it didn't work.

[2022-05-15 08:06] rinazrina commented on #62755
Another report with Hever theme: #5215044-zen

[2022-05-15 11:20] sajmes commented on #63511
Please update user in 5204670-zd-woothemes when this is resolved. For now I showed them a Query Loop Block as an alternative. Though this does not show social sharing icons on the block.

[2022-05-15 12:13] sajmes opened #63637 "Poll Block does not submit when in widget area or Template"
### Quick summary

When a Poll Block is added to the widget area of a site, the poll does not submit. This applies to both the single and multiple answer settings.

The Poll Block does work when added to the page body in the editor.

### Steps to reproduce

1. Add a Poll Block to a widget area.
2. Test submitting the Poll.

### What you expected to happen

The poll submits when an option is clicke

[2022-05-15 13:55] philnick206 commented on #57812
5214612-zd-woothemes

Provided workaround.

[2022-05-15 14:06] joweber123 commented on #63515
This looks to be an issue with an ads file that is loading very slowly.  I have reached out to see if this is something that we can speed up on our end at all as that is the file that is blocking the other resources from loading here.

pMyNb-5kb-p2_consent-request-loading-time/

[2022-05-15 15:59] tavilla61 commented on #57812
5216414-zen
provided the workaround

[2022-05-16 02:50] arthur791004 opened #63642 "pass vertical_id and pattern_ids to theme-setup api"
#### Changes proposed in this Pull Request

D80605-code

[2022-05-16 03:04] taipeicoder commented on #63599
Merged, closing!

[2022-05-16 03:04] #63599 closed, assigned to taipeicoder

[2022-05-16 03:11] jordesign commented on #63279
Another case in 5217339-zd-woothemes - to let user know once it is resolved on Simple Sites.

[2022-05-16 04:20] p-jackson commented on #63611
Darn, I'd just recently tested this as part of #63227, so I feel like this must be a recent regression.

In terms of the new page modal, I don't believe the pattern thumbnails themselves will actually be translated using the user's UI language. That's because the patterns will use the _site's_ language. It's this way because you're going to insert the pattern into the site, so it should match the

[2022-05-16 04:52] bluefuton opened #63644 "[Bug]: Onboarding email preview starts with 'SET IN TEMPLATE'"
### Quick summary

I recently received an onboarding email with the subject 'Boost your site traffic via social media'.

In my email client, the preview text started with 'SET IN TEMPLATE', which was unexpected. It looks like the 'preheader' is not set in the template and Gmail is using this as the preview.

<img width="711" alt="Screen Shot 2022-05-16 at 16 47 14" src="https://user-images.githubu

[2022-05-16 04:52] bluefuton commented on #63644
This is the email in question:

<img width="741" alt="Screen Shot 2022-05-16 at 16 46 24" src="https://user-images.githubusercontent.com/17325/168522050-bee22ecc-74ef-4df7-a40e-1fa63c9560f3.png">

[2022-05-16 05:14] lsl commented on #63461
Going to close this with https://github.com/Automattic/wp-calypso/pull/63645 once its merged, we just need to hook the category up to it when we implement the new selector cc @Rolilink

[2022-05-16 05:22] lsl opened #63647 "Marketplace: Remove plugins browser from /manage pages"
While working on https://github.com/Automattic/wp-calypso/pull/63645 to change the search title text, I was looking into what ever overrides the search title. Turns out it was the thing that drops this "More plugins" section in the /manage page.

Since this looks pretty broken and no longer actually loads any "More plugins" or "Suggested plugins", I think we should just remove the `PluginBrowser`

[2022-05-16 05:26] supernovia commented on #3321
This isn't stale :)

[2022-05-16 06:00] vishnugopal opened #63649 "Make the Substack Importer compatible with the new onboarding flow"

[2022-05-16 06:11] arthur791004 commented on #62369
@iamtakashi Yep, we could add the search bar in the future. But AFAIK we start from the top-level verticals and then move down. So, I think it's enough for now. What do you think?

[2022-05-16 06:17] arthur791004 commented on #63031
@taipeicoder @autumnfjeld Do you have more details for “Increase mobile thumbnail height of existing design picker to match with the one in the v13n design picker.” I'm not sure it's which part in the Figma 🤔

[2022-05-16 06:20] autumnfjeld commented on #63031
Ahhh ha. @arthur791004  I was literally writing the same time you posted the message above.
@arthur791004 & @taipeicoder please ask at @saygunnyc  to review this.  He'll be able to off any further details or let you know that it satisfies what he wants.

@zachspears you could also give this a spin on a mobile device.   We are changing the design picker on mobile so it shows mobile previews of the

[2022-05-16 06:21] autumnfjeld commented on #63031
And remember to test on real mobile devices. 📱

[2022-05-16 06:31] taipeicoder commented on #63031
@arthur791004 I think this is the note where @saygunnyc talks about increasing the height to show more of the design:
![Screen Shot 2022-05-16 at 2 26 14 PM](https://user-images.githubusercontent.com/797888/168532228-46a8a1f4-0119-4338-9f68-2f708052e189.png)

You can also watch the 2022-04-26 cross-discipline sync around 39:00 where Saygun provides more context about increasing the image to be squ

[2022-05-16 06:48] arthur791004 opened #63650 "Fix the caption cannot be updated in the Vertical Image Tool"
#### Changes proposed in this Pull Request

D80808-code

#### Related

D80725-code

[2022-05-16 07:13] coder-karen commented on #63326
I don't seem to notice an issue on Jetpack connected sites, also uploading via WordPress.com (using Chrome). But then, also couldn't replicate on Atomic, using `"` and `&` in the file names (for a `.mov` file). I'm not sure what the expected behaviour is though - it may be better if someone from the VideoPress team takes a look at this - cc @roundhill @pgk perhaps. Otherwise the Calypso team may h

[2022-05-16 07:38] ivan-ottinger commented on #63604
It looks like the issue might be related to the site itself (some site setting) - as I also tried to test the emails with the old template and the images were missing there too. Another thing that makes me think it is site-related is that if the issue was affecting more sites, we would have received multiple reports.

Regardless, we are still investigating the issue to see what is the culprit and

[2022-05-16 07:57] TonyKent88 commented on #63604
Thanks Ivan.  That's interesting.  It certainly used to work on my iPhone, but as you say, whether it it is a site change or your plug-in, is an open question.  Hopefully you can resolve it.  My only other option would be to try another plug-in and see if my site also causes a problem.

[2022-05-16 08:16] arthur791004 commented on #63650
Close as it's shipped 🚢

[2022-05-16 08:16] #63650 closed, assigned to arthur791004

[2022-05-16 08:19] fushar commented on #62683
That works as discussed in our internal Slack, thanks! Now we can close this issue 😄

[2022-05-16 08:19] #62683 closed, assigned to fushar, miksansegundo, bangank36

[2022-05-16 08:33] #63597 closed, assigned to escapemanuele

[2022-05-16 09:10] jeherve commented on #60135
I would personally vote for fixing this in the themes, it seems more logical since the template defined in the theme is already what's used to control what is displayed on those pages.

[2022-05-16 09:57] rickmgithub commented on #50740
@formosattic Hi. I have to do it every time or wait for it to happen eventually.

[2022-05-16 10:08] csabarakasz opened #63654 "Blask Theme: Blog Post Block Post Date shows incorretly."
### Quick summary

When using the Blog Post Block in a static home page, within a column; the date shows up well in Editor but not in live view

Personal plancolumn

### Steps to reproduce

1. Create a new page for a static home page
2. Add a 50:50 Colum
3. insert the Blog Post block into the column on the right.
4. Publish the page.
5. Check live view.
6. Post date and Post author shows up like i

[2022-05-16 10:18] alshakero opened #63655 "Task: Implement Directly support chat variation"
### Details

We'll need to implement Directly support variation in the help center. I did a spike and here are the steps we'll need to do, we'll do this in twp steps (PRs):

#### Step I

- [x] Move [this folder](https://github.com/Automattic/wp-calypso/tree/trunk/client/lib/directly) into a package, should be copy-paste, typing and some cleanup. **I already did that**. [Please build on top of my d

[2022-05-16 10:28] #40139 closed

[2022-05-16 10:28] #40562 closed

[2022-05-16 10:28] #41082 closed

[2022-05-16 10:28] #42121 closed

[2022-05-16 10:28] #55699 closed, assigned to nobody

[2022-05-16 10:35] BogdanUngureanu commented on #63330
Fixed in D80817-code

[2022-05-16 10:36] BogdanUngureanu commented on #63329
Handled in D80817-code (RfR).

[2022-05-16 10:42] arthur791004 commented on #63031
@saygunnyc After the adjustment, the UI of the Static Design Picker doesn't look like the Figma and the user might only see **1** design in the viewport rather than **1+** designs. The reason is as followed
* We have the categories selector
* The description “Choose a starting theme. You can change it later.” might probably break into two lines because we're using `-apple-system` instead of `SF Pr

[2022-05-16 10:44] #63355 closed, assigned to nelsonec87

[2022-05-16 10:48] epeicher commented on #62739
A P2 has been created with alternatives pdh6GB-S1-p2 a great suggestion in the comments pdh6GB-S1-p2#comment-1579 that is worth exploring

[2022-05-16 11:01] jordesign commented on #53085
Looks like a CSS fix like this would do that trick...

[code]

Is that a good approach?

[2022-05-16 12:53] jamiepalatnik commented on #52182
Another report: 18057443-hc

Zooming out worked as a workaround.

[2022-05-16 13:28] markbiek commented on #62520
There are two posts that it's cycling between in particular:

- https://public-api.wordpress.com/rest/v1.2/read/feed/128762176/posts/3925867239?http_envelope=1&content_width=720
- https://public-api.wordpress.com/rest/v1.2/read/feed/128762176/posts/3930590403?http_envelope=1&content_width=720

Both of which are coming from site `204776557`.

[2022-05-16 13:42] mikeicode opened #63665 "Seedlet: Missing posts text incorrectly says posts page is homepage"
### Quick summary

Seedlet shows a message on the posts page when there are no posts:

This message displays on the posts page even when the page is an interior page, so this message is incorrect in those cases.

The message should be more general such as:

### Steps to reproduce

1. Set the posts page as an interior page on a site with no posts
2. View error message

### What you expected to happ

[2022-05-16 13:48] artpi commented on #53256
The easiest way to do it would be to put the buttons at the top, and once its clicked just make a loop that will load all pages in JS until there is no more data and then generate the report.
Its probably 20 lines of JS vs implementing a whole another endpoint

[2022-05-16 14:04] #62520 closed, assigned to nobody

[2022-05-16 14:14] sixhours commented on #63348
I'm not convinced this is a bug after looking at the code; the podcast title (not the site title) is shown in the content when the site is created, and this is how it's worked since launch:

`/wp-content/mu-plugins/anchor.php#59`

I don't think we should change this unless it's caused confusion among actual users.

[2022-05-16 14:40] Rolilink commented on #63461
Nice sounds good! A little lost but which new selector?

[2022-05-16 15:01] that-mike-bal commented on #62369
That's right, we've got a list we can work down so we should be able to find those. I think the other use case is those wanting to add to what we already have and maybe not knowing which exact term they are looking for but we can probably tackle that later.

[2022-05-16 15:35] pottedmeat commented on #46551
[Patch](D80696-code) submitted to add this information to the API

[2022-05-16 16:05] #63557 closed, assigned to escapemanuele

[2022-05-16 16:09] #62412 closed, assigned to vykes-mac

[2022-05-16 16:33] noahtallen commented on #63611
Some findings testing on a user account with ES locale but site with EN locale

- What's new is correctly translated
- The text of page patterns text is _not_ translated (it's EN)
- The page patterns UI text is _not_ translated (it's ES)
- Nav sidebar _is_ translated
- Timeline block is at least partially translated
- A8c block patterns (not page patterns) _are translated_, both UI and text, even

[2022-05-16 16:55] sixhours opened #63674 "Anchor: Add sign-up step for non-logged-in users"
If you visit `/new/?anchor_podcast=8dfc9bc0` when logged out, you'll find a screen like this, where the user first needs to create a username and password, or log in to an existing account:

<img width="1156" alt="Screen Shot 2022-05-16 at 1 16 53 PM" src="https://user-images.githubusercontent.com/2124984/168647686-0c74d36e-9eb0-4d43-9314-b80e1c06841d.png">

We need a similar step at `/setup` so u

[2022-05-16 17:36] valterlorran commented on #62822
I noticed that the menu is being generated inside the site's VM. Which uses `get_site_transient( 'update_themes' )` to get the information on how many themes need to be updated. However, the information used to render the list of themes on the themes pages is fetched from the `Public API`, and we can't use `get_site_transient( 'update_themes' )`in the multi-site infrastructure.

The information us

[2022-05-16 17:45] creativecoder commented on #59595
Same for me (tested on a Simple site). Can now access `/wp-admin/edit.php?post_type=wp_navigation` coming from the Site editor.

[2022-05-16 17:45] sixhours commented on #62701
Hrm, I don't know. 🤔 If you add the query param `?wpshare=2` to the end of the Anchor dashboard URL after creating a new episode, does it show? If not, I wonder if it's a localization issue, since AFAIK we only offer the full Anchor connection to EN locales.

[2022-05-16 17:49] creativecoder commented on #57210
That screenshot is a features list on the checkout page that you see after you upgrade a plan, showing the features that come with the plan. You can also see it at `https://wordpress.com/plans/my-plan/{site}`

[2022-05-16 17:50] kimerlin81 commented on #57812
Another case: 5219096-zd-woothemes

Workaround did not work for this user on any browser (404), but providing them with the direct link for them to open in a new tab did.

Please notify them once this has been fixed. Thanks!

[2022-05-16 18:16] creativecoder commented on #59527
- In general, this sounds it could be a nice enhancement to Gutenberg to be more resilient in varied hosting environments
- For WP.com, I would ask systems (recommend submitting a systems request). My understanding from pMz3w-91R-p2 is that offloading any potentially long running tasks to async jobs is preferable. I'm not sure if using PclZip changes any of the reasoning there, or not.

This sound

[2022-05-16 18:38] cpapazoglou opened #63683 "Plugin Details: Layout changes"
- [ ] Add a feature flag for the new plugin details page
- [ ] Update the layout (avoid creating a new file) behind a feature flag. This task doesn't include the redesigned sections, just the layout changes.

![CleanShot 2022-05-17 at 17 28 52@2x](https://user-images.githubusercontent.com/12430020/168835877-f69a28fc-e644-4939-ba4a-4d568cf6b9cd.png)

Epic Issue: https://github.com/Automattic/wp-cal

[2022-05-16 18:45] cpapazoglou opened #63684 "Plugin Details: billing interval switcher - convert to radio"
- [ ] Covert `BillingIntervalSwitcher` to a radio (or add variation depending on https://github.com/Automattic/wp-calypso/issues/63684#issuecomment-1128014918)
- [ ] Move it from the header to below the price

|Before | After|
|-------|------|
|![CleanShot 2022-05-16 at 21 40 25@2x](https://user-images.githubusercontent.com/12430020/168660442-e8222866-78ab-46b1-82a0-7c68e0b0b0c7.png)|![CleanShot 2

[2022-05-16 18:46] cpapazoglou commented on #63684
@SaxonF should we also use the radio component in the plugin browser?
![CleanShot 2022-05-16 at 21 45 07@2x](https://user-images.githubusercontent.com/12430020/168661222-b6f069fb-2a04-4860-8d74-8cedb2325e47.png)

[2022-05-16 18:49] andres-blanco commented on #62701
It might be due to localization since I've seen messages of things not being available on my location. Maybe just adding a message in the FG stating that it *might* not appear is enough, since you can always just follow the link

[2022-05-16 18:56] andres-blanco commented on #62822
I think that we should try first to find out how the current notification is making its way from the Atomic site to the Calypso UI and see if we can add the theme-to-update-id there.

[2022-05-16 19:00] sixhours commented on #63674
We (@blackjackkent @ianstewart) chatted and think the best approach here is to recreate the account creation step in Stepper/`setup` so we can use it for Anchor and possibly other flows in the future. I'm going to double-check with @alshakero on that before moving forward.

[2022-05-16 19:03] sixhours commented on #63674
For the record, the other approach would be to redirect from `/setup` to `/start` to handle account creation, then back to `/setup`. Given our lack of experience in the `/start` environment we think it would be more efficient to build out everything in `/setup` instead.

I'm going to do a quick engineering spike and see how this was handled in Gutenboarding before I proceed.

[2022-05-16 19:18] andres-blanco opened #63686 "Stepper: Logged out behaviour"
Redirect user to `/start` if user not logged in

[2022-05-16 19:20] andres-blanco opened #63687 "Stepper: verify siteSlug belongs to logged in user"
We should verify that the user has the capability to manage the site in siteSlug.

If the user cannot edit redirect them to `/start`.

[2022-05-16 19:46] #63354 closed, assigned to andres-blanco

[2022-05-16 20:53] WBerredo commented on #62205
On #63689 the filtering out was made only on the landing page, so it wouldn't be reflected when clicking on **Browse all**.

| Landing page  | Top Paid plugins (after click on Browse all) |
| ------------- | ------------- |
|<img width="985" alt="Screen Shot 2022-05-16 at 16 37 39" src="https://user-images.githubusercontent.com/5039531/168680517-aa7434af-93ca-41ef-8a50-94c20e34093a.png">|<img widt

[2022-05-16 21:22] nelsonec87 opened #63691 "Blockbase Theme: Text on top of each other"
### Quick summary

Visiting the mobile version of the post page using the Blockbase theme or a child theme, like Marl:

![image](https://user-images.githubusercontent.com/3801502/169615346-9bcb6363-d63b-4a11-bfad-0848d4910147.png)

![image](https://user-images.githubusercontent.com/3801502/168684394-6d4ea635-f776-498e-b36b-3e8828a1be4f.png)

### Steps to reproduce

1. Select the Marl Theme
2. Open

[2022-05-16 21:44] cuemarie commented on #62755
Ran into this with a user on Dara theme: 35514472-hc

[2022-05-16 21:47] saygunnyc commented on #63031
Hey there all!
@taipeicoder Thank you for jumping ahead and pulling in the right design from Figma! 🙌
@arthur791004 Great work! And thank you for all the details provided. Generated Design Picker looks good.

I wasn't actually intending to redesign Static Design Picker, as @SaxonF is currently designing it. 😃
@SaxonF do you see an issue in shipping the Static Design Picker as shared above? Maybe w

[2022-05-16 21:51] cuemarie commented on #63011
Ran into this with a user on Dara theme: 35514472-hc

- `Edit` site on dashboard's My Home https://wordpress.com/home/
- `Edit` button on Themes page https://wordpress.com/themes/, and
- `Customize site` button on the theme's info page https://wordpress.com/theme/dara/

all try to open https://wordpress.com/site-editor/ instead of the Customizer, resulting in:

[code]

I also mentioned this over o

[2022-05-16 22:16] villanovachile commented on #63633
After discussing this further with @delputnam we determined it is best to clarify the status better to instead display "Domain connection is expiring soon".

We also discussed that the message should not be displaying at all if auto-renew is enabled for the associated plan. After further testing, I determined that the conditions are indeed in place for mapped domains expiring within 7 days, but no

[2022-05-16 23:47] zachspears opened #63694 "Send a notification to users when their site is blocked from Outgoing mail."
### What

Send an email notice to users when their sites are blocked from sending outgoing mail so that they can respond accordingly without having to notice the effects of this change and then retroactively fix any issues.

35514957-hc
5218509-zd-woothemes

### Why

This causes frustration and users do not understand why a change was made and have to reach out to us proactively instead of receivi

[2022-05-17 00:03] lsl commented on #63461
The category selector (not react selector)

[2022-05-17 00:20] arinoch commented on #63279
One more. 5206188-zd-woothemes

[2022-05-17 01:53] cuemarie commented on #63262
New report of the same issue here: 5217168-zd-woothemes

Looking back at the original chat I had for which I opened this report, I'm not sure that changing the primary domain was the solution after all - the chat kept going after I had it, and the user continued to run into browser issues for a bit.

Regarding this new issue, 5217168-zd-woothemes - I SSP'd into the site and was able to replicate t

[2022-05-17 02:28] kuropixel commented on #55175
Another report at 35515594-hc (Bio and not display name) Changed bio via CLI

[2022-05-17 02:33] #63499 closed, assigned to chriskmnds

[2022-05-17 02:52] #63647 closed, assigned to lsl

[2022-05-17 02:54] annbingle opened #63695 "Twenty Twenty Two: Text Font Family is not applying to Heading Block"
### Quick summary

When font is selected in Typography > Text > Font Family it doesn't apply to Heading block. However, it applies to Paragraph blocks.

<img width="1368" alt="Screen Shot 2022-05-17 at 10 41 12" src="https://user-images.githubusercontent.com/40605613/168717758-4ae9759f-15b3-45bd-8997-cab9d79d4f13.png">
<img width="1388" alt="Screen Shot 2022-05-17 at 10 41 38" src="https://user-im

[2022-05-17 02:56] donalirl commented on #39364
#35516251-hc

[2022-05-17 03:10] ghost opened #63696 "Ability to permanently purge media on user's end"
### What

A user requested a feature on WordPress.com that they should have the ability to permanently purge the original file from the media (like we do using the internal Varnish tool) so they can upload the file again with the same file name.

### Why

This user particularly wants this as they want the new file they add to have the same name and not have -1 or -2 suffixed to it.

They shared: E

[2022-05-17 03:55] thesacredpath commented on #57449
Any word on when this might get addressed? Have a user who has been waiting for a good while.

5175251-zen

[2022-05-17 03:58] arthur791004 opened #63697 "Verticalize the post feature image"
#### Changes proposed in this Pull Request

D80908-code

#### Related

Automattic/ganon-issues#23

[2022-05-17 06:12] wpshellbelle commented on #57812
5218609-zen
Provided workaround

[2022-05-17 06:19] 1dr0 commented on #60774
A user was not able to get the Form's on submissions to work when the Form block is added in the Site Editor - 5215601-zen.

I have tested and it seems that the "on submission" is triggered only when the Form block is added in the Post Content block while I am in the Site Editor.

[2022-05-17 06:34] #63461 closed, assigned to lsl

[2022-05-17 06:47] formosattic commented on #63203
I'm not sure if this should really be treated as a bug, pinging internally for a check: p1652770002791919-slack-C036E4KFP2L

[2022-05-17 07:02] jordesign commented on #53085
I've tried a PR for it in either case...

[2022-05-17 07:15] #63203 closed, assigned to nobody

[2022-05-17 07:31] essleeung commented on #61937
Another theme- Gateway also isn't offering the theme demo content. 5216719-zd-woothemes

[2022-05-17 07:43] formosattic commented on #63199
Thanks for the detailed report @csabarakasz , I was able to reproduce it too.

@zachspears : I notice your `Save profile details` isn't greyed out, meaning that the `Hide my Gravatar profile` setting is likely still toggled off, hence, why you're able to upload it.

[2022-05-17 07:55] daria2303 opened #63699 "Blog Posts Block: posts don't respect the grid"
### Quick summary

Blog Posts Block displays the posts after 14th out of the grid.

### Steps to reproduce

1. Add Blog Posts Block
2. Set it to display in grid and at least 15 posts

### What you expected to happen

All posts show in grid.

### What actually happened

Posts are in grid in the editor but in the preview and published page only 14 displays in the grid, the rest is in one column list

[2022-05-17 08:15] wojtekn commented on #60361
I've checked this issue, reproduced it, and found a possible fix.

The styles for Hello Dolly UI look good in the plugin itself. The styling for the navigation bar also looks good on both WP.org and WP.com.

The problem looks like introduced in the Crowdsignal Forms plugin. It overwrites styles for the Hello Dolly box using the `.wp-admin #dolly` selector, and that styling doesn't take into accoun

[2022-05-17 08:24] ivan-ottinger commented on #63604
We looked into the issue further and it turns out that even when I send a simple email (not related to WordPress / Jetpack) with one of the images from the site, the image doesn't load in the iOS Mail app, nor macOS Mail app:

![Markup on 2022-05-17 at 10:02:50](https://user-images.githubusercontent.com/25105483/168761424-f19801c4-f611-43cf-ac40-5ddaa407c061.png)

I tested it with this image for i

[2022-05-17 08:25] escapemanuele opened #63700 "Help Center: Show Help Center in wp-admin masterbar"
### What

We're currently not showing the help center icon in the core editors on mobile, as there is is using the `wp-admin masterbar`, and we'll need to investigate on how to inject the icon there.

[2022-05-17 09:20] gcsecsey commented on #62067
@SaxonF sounds great, thanks!

[2022-05-17 09:35] cpapazoglou commented on #62205
Yes indeed. The landing page should have fresh content, it's meant for users to discover new plugins. Installed plugins are not new per se. On the other hand the **Browse All** sections should include all plugins, this is the source of truth.

[2022-05-17 09:44] formosattic commented on #63388
I'm unable to reproduce on my atomic test site.

What  I did:

* Publish a new post
* Scrape the shortlink directly to the debug tool https://developers.facebook.com/tools/debug/

The preview displays fine:
![image1](https://user-images.githubusercontent.com/15944096/168781439-2e473552-30da-4bd5-8941-e25b83896ddb.png)

I suspect it may be some plugin conflict, so worth having users run through thi

[2022-05-17 09:44] #63388 closed, assigned to nobody

[2022-05-17 10:01] pauljacobson commented on #52276
We have encountered what seems to be a similar issue in 5202633-zen where our user tried to upload a series of `.vtt` files to their site, and this failed with the following error:

[code]

We investigated further, and noticed that the files were using `UTF-8 with BOM` encoding. We recommended that they convert the files to regular `UTF-8` encoding in a text editor like Sublime Text or VS Code, li

[2022-05-17 10:21] filipanoscampos commented on #57881
Another one 35520145-hc

[2022-05-17 10:46] pmcpinto opened #63703 "Set up your store step - suggestion to review copy"
I think the copy of this step can be improved to make sure that users know what to expect from each option. Especially the More Power title/section

![Screenshot on 2022-05-17 at 11_19_18](https://user-images.githubusercontent.com/3380168/168794020-3fc8a462-e1eb-4059-8ef9-546a32e93559.png)

[2022-05-17 10:52] pmcpinto opened #63704 "Store details - update redirect"
The store details task is redirecting the user to the WooCommerce Profiler. However, the WP.com customer probably never saw the WC Profiler because they went through the WP.com stepper. This can cause some confusion, so it would be better to redirect the store details task to the WP.com stepper or hide the task.

<img width="1040" alt="Captura de ecrã 2022-05-17, às 11 51 42" src="https://user-i

[2022-05-17 12:07] fstath commented on #45586
I got another report in https://wordpress.com/forums/topic/help-importing-from-wix/?view=all

I tried importing it on one of my test sites and got the same error.

This is the error message:
`It looks like we're unable to reach that website address at this time. (ID: ee996d19-659d-4b05-ab20-222acf51f4a5)
`

Wix site address: https://norriserin.wixsite.com/callofthevoidblog

[2022-05-17 12:10] yansern commented on #50740
Cache resets every 1 hour. So if there is a new episode, give it 1 hour.

![image](https://user-images.githubusercontent.com/1287077/168806648-42f80b67-5ede-4a31-b017-c208a44c1ff0.png)

[2022-05-17 12:24] ivan-ottinger commented on #63600
WPCOM patch ready for review: D80915-code.

[2022-05-17 14:26] cpapazoglou opened #63711 "Plugin Details: add manage purchases to the header"
- [ ] Remove the `Manage subscription` from the dropdown in installed plugins
<img width="1159" alt="CleanShot 2022-05-17 at 17 26 01@2x" src="https://user-images.githubusercontent.com/12430020/168835211-ff78c331-cf2a-490e-844d-729fd8cf4344.png">

- [ ] Add `Manage Purchases` to the header

<img width="920" alt="CleanShot 2022-05-17 at 17 23 37@2x" src="https://user-images.githubusercontent.com/12

[2022-05-17 14:33] cpapazoglou commented on #63711
@SaxonF how will "Manage Purchases" actually work? I assume that it will be visible regardless of the installation status and that it will redirect to `https://wordpress.com/purchases/subscriptions/:site_id` where all current site subscriptions can be found?

[2022-05-17 14:34] #63233 closed, assigned to elliottprogrammer, andrii-lysenko

[2022-05-17 14:35] cpapazoglou opened #63713 "Plugin Details: add search bar to the header"
- [ ] add search bar to the header
- [ ] triggering a search will redirect to `https://wordpress.com/plugins/:site_id?s=:search_term`
- [ ] add track events

![CleanShot 2022-05-17 at 17 33 46@2x](https://user-images.githubusercontent.com/12430020/168837012-5648e5bb-7d01-42a8-bef1-1122340a5726.png)

Epic Issue: https://github.com/Automattic/wp-calypso/issues/43332
P2: pdh6GB-sk-p2
Figma: f84fqtCG4

[2022-05-17 14:40] cpapazoglou opened #63714 "Plugin Details: sidebar redesign"
- [ ] style changes
- [ ] add "Requires plan upgrade"
- [ ] add "Plugin Updates" usp
- [ ] in mobile breakpoints the ups are collapsible

Note: Premium version available will be tacked in another issue https://github.com/Automattic/wp-calypso/issues/60769

<img width="890" alt="CleanShot 2022-05-17 at 17 35 59@2x" src="https://user-images.githubusercontent.com/12430020/168837521-92b1e38b-d4b2-43d4

[2022-05-17 14:42] cpapazoglou commented on #63714
@SaxonF

- can you confirm that we are removing "Best-in-class hosting" from the usps?
- how we might fit the "Your store foundations" usp that appears in Woo extensions?
![CleanShot 2022-05-17 at 17 42 13@2x](https://user-images.githubusercontent.com/12430020/168839012-83a5154a-53eb-4bba-a270-f78b4510b5cd.png)

[2022-05-17 14:49] cpapazoglou opened #63715 "Plugin Details: redesign plugin header details"
<img width="939" alt="CleanShot 2022-05-17 at 17 50 10@2x" src="https://user-images.githubusercontent.com/12430020/168840876-738b5924-40c3-4faa-9314-4232dbc9be8e.png">

Related to https://github.com/Automattic/wp-calypso/issues/60769
Epic Issue: https://github.com/Automattic/wp-calypso/issues/43332
P2: pdh6GB-sk-p2
Figma: f84fqtCG4pCnCh2Hq0But5-fi

[2022-05-17 14:50] cpapazoglou commented on #63715
@SaxonF can you confirm we are removing the plugin tags?
![CleanShot 2022-05-17 at 17 49 28@2x](https://user-images.githubusercontent.com/12430020/168840706-817a35d6-fa99-4327-b6df-f1a2aaa3f873.png)

[2022-05-17 14:52] cpapazoglou opened #63716 "Plugin Details: redesign main content section"
This mainly relates to the tabbed navigation component

<img width="561" alt="CleanShot 2022-05-17 at 17 51 55@2x" src="https://user-images.githubusercontent.com/12430020/168841293-e09131a4-065c-413d-9eaa-ccf8939eddf0.png">

Epic Issue: https://github.com/Automattic/wp-calypso/issues/43332
P2: pdh6GB-sk-p2
Figma: f84fqtCG4pCnCh2Hq0But5-fi

[2022-05-17 14:55] cpapazoglou opened #63717 "Plugin Details: display related plugins"
- [ ] Get related plugins request: https://github.com/Automattic/wp-calypso/issues/80287
- [ ] create a new component that returns 4 related plugins to the current plugin (through jetpack search) - #80288
- [ ] create a new page that returns all related plugins (through jetpack search) to a plugin - #80289
- [ ] add the component to the plugin details page - #80290

<img width="592" alt="Screen Sh

[2022-05-17 14:56] cpapazoglou commented on #63717
@gcsecsey have you found any interesting functionality in Jetpack search that will help us here?

[2022-05-17 14:57] #43332 closed

[2022-05-17 15:25] #63235 closed, assigned to nobody

[2022-05-17 15:29] gutenberg-plugin-upgrade-bot[bot] opened #63719 "Gutenberg: v13.3.x plugin upgrade"
Previous upgrade: #63235
Release notes: [v13.3.0](https://github.com/WordPress/gutenberg/releases/tag/v13.3.0)

**Install and activate**

- [x] Install and activate v13.3.0-rc.1 on edge (D81039-code)
- [x] Install and activate v13.3.0 on edge (D81585-code)
- [x] Activate v13.3.0 on production (D81040-code)
- [x] Request v13.3.0 AT upgrade (p9o2xV-2as-p2)

**Testing**

- [x] v13.3.0 Desktop viewpor

[2022-05-17 15:58] jeyip opened #63721 "Guided Tour (Help Center V1)"
### What

Establish a “Next Steps” help center section to provide in-app guidance tours in the Site Editor. Initialize the first iteration of guided steps within the editor, while leaving the next steps easily alterable and extendable for future developers.

### Why

This fits in with a wider effort to improve new user experience (or the first ten minutes experience pbAok1-2n6-p2 by guiding users

[2022-05-17 16:06] kriskarkoski opened #63723 "[Bug]: Payment Button and Premium Content Blocks Don't Show UI and Cause Error in Editor"
### Quick summary

The Payment Button and Premium Content Blocks are not showing the block-specific UI to add payment details and display an error when added on a Simple site (they seem to function normally on Atomic).

<img width="882" alt="Screen Shot 2022-05-17 at 10 50 49 AM" src="https://user-images.githubusercontent.com/1900444/168857542-61613c84-27f9-416e-a585-4aa77adee491.png">

### Steps

[2022-05-17 16:19] #63348 closed, assigned to sixhours

[2022-05-17 16:36] zaguiini commented on #60135
Creating a checklist so we can keep track of the progress in the themes...

### Password-protected portfolio pages

- [ ] [Rebalance](https://github.com/Automattic/themes/pull/6008)
- [ ] Snaps
- [ ] Lodestar
- [ ] Orvis
- [ ] Argent
- [ ] Sketch
- [ ] Sidespied
- [ ] Espied
- [ ] Illustratr

[2022-05-17 16:45] sixhours commented on #63674
Looks like the majority of the logic for the signup form in Gutenboarding can be found here:

https://github.com/Automattic/wp-calypso/blob/e3465afee05c1e9ea083d585d2c91d940c0174c9/client/landing/gutenboarding/components/signup-form/index.tsx

We'd need to access the user store to handle authentication and account creation:

https://github.com/Automattic/wp-calypso/tree/trunk/packages/data-stores/

[2022-05-17 17:00] jjchrisdiehl commented on #50064
Update: The base component and endpoint updates are finished and pending a review. As for the four sections I intend to update, Manage Plans is finished and I am working on Plans (Legacy) now. Likely have this all done by the end of the week.

[2022-05-17 17:10] worldomonation opened #63726 "Task: Update E2E documentation on "Running tests on your machine""
### Details

With the recent work on secrets the instructions on how to run against local webapp needs to be updated.

### Checklist

_No response_

### Related

_No response_

[2022-05-17 17:34] masperber commented on #60381
6399046-hc user asked for this feature

[2022-05-17 17:51] sixhours commented on #62701
Calling this closed for this sprint. We will need to update the docs again to account for signup/login steps next sprint.

[2022-05-17 17:51] #62701 closed, assigned to sixhours

[2022-05-17 18:26] that-mike-bal opened #63729 "Reader Revamp Phase 1"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-17 18:27] that-mike-bal opened #63730 "Reader Stats"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-17 18:29] that-mike-bal opened #63731 "Reader Feature Request"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-17 19:25] #63729 closed, assigned to nobody

[2022-05-17 19:35] allilevine opened #63733 "Marketplace: Review a 3PD Plugin"
Acceptance Criteria:
- [ ] We've tested our guidelines defined in https://github.com/Automattic/wp-calypso/issues/63157 by reviewing a plugin. See p1651177696601119/1651175287.557809-slack-C029JEQRVRT for the plugin that's ready.

[2022-05-17 19:41] dsas commented on #50574
**SP17** happens when the product can be retrieved from the custom post table but there's a problem with the price (stored in post meta):
 * the price is empty
 * the price is not numeric
 * the price has more than 2 decimal places

**SP19** happens when we fail to create an order, this can happen if:
 * The quantity isn't valid i.e. it's not specified, is a float or is < 1
 * Calling the sites po

[2022-05-17 20:53] dsas commented on #50574
D80956-code

[2022-05-17 21:41] jgcaruso commented on #63326
Hi there, this has been addressed in https://github.com/Automattic/wp-calypso/issues/62903

We deployed a fix and files with special characters should be able to be uploaded.

[2022-05-17 22:01] allilevine commented on #63460
Closing as per @SaxonF's design decision.

[2022-05-17 22:01] #63460 closed, assigned to nobody

[2022-05-17 23:05] lsl opened #63742 "Marketplace: Translate suggested searches?"
Wondering if we should translate the displayed suggested searches? We could still run the search in english on click so they get the right results but it might help usability a little bit.

![Screenshot(80)](https://user-images.githubusercontent.com/811776/168926353-aa573f06-3786-4e47-ab13-9112e599b4e1.png)

@cpapazoglou / @gibrown do we have a plan to localize search? I think we're going to get d

[2022-05-17 23:30] gibrown commented on #61993
FYI, discussing this on p2 a bit. Seems like we're probably at the point of building a separate index.

[2022-05-17 23:40] jsnmoon opened #63744 "Jetpack Search: Site is not initially visible in site selector upon connection with standalone search plugin"
### Quick summary

Reported by @a8ck3n in p1HpG7-fTB-p2#comment-54340:

### Steps to reproduce

1. Spin up a test Jetpack site using Jurassic Ninja **without Jetpack** but **with Jetpack Beta plus the bleeding edge Jetpack Search plugin**.
2. Perform the purchase & connection flow.
3. Navigate to WordPress.com and look for the site via the site selector.

### What you expected to happen

The test

[2022-05-17 23:43] jsnmoon opened #63745 "Jetpack Search: Purchasing a search subscription fills the activity log with a nonsensical entry"
### Quick summary

Reported by @a8ck3n in p1HpG7-fTB-p2#comment-54340:

![image](https://user-images.githubusercontent.com/4044428/168929406-765b7232-b167-4c0e-9ce4-114b99b588e1.png)

### Steps to reproduce

1. Spin up a test Jetpack site using Jurassic Ninja **without Jetpack** but **with Jetpack Beta plus the bleeding edge Jetpack Search plugin**.
2. Perform the purchase & connection flow.
3. Na

[2022-05-17 23:46] jsnmoon opened #63746 "Jetpack Search: Purchasing a search subscription fills the activity log with a nonsensical entry"
### Quick summary

Reported by @a8ck3n in p1HpG7-fTB-p2#comment-54340:

![image](https://user-images.githubusercontent.com/4044428/168929406-765b7232-b167-4c0e-9ce4-114b99b588e1.png)

### Steps to reproduce

1. Spin up a test Jetpack site using Jurassic Ninja **without Jetpack** but **with Jetpack Beta plus the bleeding edge Jetpack Search plugin**.
2. Perform the purchase & connection flow.
3. Se

[2022-05-18 00:19] brittanygray902 commented on #53626
Found a similar case here: 35523522-hc

I was able to solve by setting site to "Coming Soon" and then setting back to "Public"

[2022-05-18 00:35] alliebbush2 opened #63747 "Gutenberg Query Loop Block Ignoring Category Filters"
### Quick summary

When a user is in editor mode and adding the Query Loop Block, they are able to filter blog posts by category. The filter appears correct in editor but shows all posts (without the filter) on the live and updated page.

In editor:
![QueryLoop1](https://user-images.githubusercontent.com/97132910/168933199-e08ce81c-3aa9-4313-bc8d-43192c7f3009.png)

Live site:
![queryloop2](https:/

[2022-05-18 00:49] tanjoymor commented on #63747
Another customer report here 35526525-hc

[2022-05-18 02:27] donalirl commented on #63747
#34677217-hc

[2022-05-18 02:41] thekingsprojects commented on #52276
The user wrote back to provide their browser information, just in case it's helpful: https://www.whatsmybrowser.org/b/BTAIJ

[2022-05-18 02:42] inaikem commented on #63747
Marking this as triaged since it's coming from Core.

Please continue adding interaction IDs here. @Automattic/dotcom-pqa-group will track this from the Cross-Repo Watchlist.

Internally flagged here: p1652824408810669/1652822356.165019-slack-CBTN58FTJ

[2022-05-18 03:40] edwinho89 commented on #52520
35444389-hc

[2022-05-18 04:30] jordesign commented on #62477
User's problem ended up getting resolved - so closing this issue.

[2022-05-18 04:30] #62477 closed, assigned to nobody

[2022-05-18 05:53] vinnykaur commented on #63723
Another one reported at hc-35002305

[2022-05-18 06:07] southp commented on #62430
I'm deprioritizing from the Plan Overhaul board so our Current Phase view can focus on the high priority issue of the phase 2 launch.

[2022-05-18 06:15] taipeicoder commented on #62237
Closing this one as we have completed the initial work, and will be creating task-specific issues for the verticalized design picker moving forward.

[2022-05-18 06:15] #62237 closed, assigned to taipeicoder, fushar

[2022-05-18 06:31] Robertght commented on #60347
#5221907-zen

[2022-05-18 07:19] #60362 closed, assigned to wojtekn

[2022-05-18 08:21] autumnfjeld commented on #62812
Ahhh, @arthur791004 so the PTK has been using casselstarter.wordpress.com  as the source for post content...this is just historically how it has been for whatever reason.  Maybe someone just had to pick a demo site and that is the one they picked.  Is that correct?

[2022-05-18 08:30] ntsekouras commented on #63747
👋  I can reproduce in `.com` but not in a .org installation. Could this be related to some code atop of GB or core?

[2022-05-18 08:56] cintacks opened #63750 "[Mobile only] Latest Posts lists should have no right margin"
### Quick summary

The *Latest Posts* Block has a right margin, which doesn't look correct on mobile. There should be a CSS media query in place to account for this.

### Steps to reproduce

1. Add a *Latest Posts* Block in FSE
2. View how the list stacks/appears on mobile

Example:

https://user-images.githubusercontent.com/18581859/169451608-2a262da4-1538-4e6b-b92a-6cea1052d47b.mp4

### What you

[2022-05-18 08:58] ivan-ottinger commented on #63600
JP PR: https://github.com/Automattic/jetpack/pull/24389.

[2022-05-18 09:40] StefMattana commented on #63604
The same issue Ivan reproduced above happens on #5220051-zen

[2022-05-18 10:07] #63723 closed, assigned to Copons

[2022-05-18 10:20] ivan-ottinger commented on #63600
Both, WPCOM patch and JP PR are now merged. → Closing this issue.

[2022-05-18 10:20] #63600 closed, assigned to ivan-ottinger

[2022-05-18 11:07] aneeshd16 commented on #63020
Hi! This was fixed via D79775-code. Closing this :shipit: !

[2022-05-18 11:07] #63020 closed, assigned to aneeshd16

[2022-05-18 11:13] kriskarkoski commented on #63723
Thanks for the fix, can confirm I'm seeing the Connect with Stripe button now when adding them.

[2022-05-18 11:41] inaikem commented on #62774
@cuemarie, can you confirm this bug is specific to AMP features only present when the AMP plugin is active?

If so, then IIRC, we'd want to post it here and move this to the cross-repo watchlist: https://github.com/ampproject/amp-wp.

[2022-05-18 11:43] #63686 closed, assigned to andres-blanco

[2022-05-18 11:44] arunsathiya opened #63756 ""Post author name" block not visible on the frontend of a site, on Gutenberg 13.2.0 and higher"
### Quick summary

"Post author name" block is not visible on the frontend of a site, on Gutenberg 13.2.0 and higher. I can see it fine on Gutenberg 13.1.0 and Gutenberg 13.0.0. Tested with various themes.

### Steps to reproduce

- On a site with Gutenberg 13.2.0, add the `Post author name` block to a page.
- Optionally, mark that block to link out to the author archive.
- Publish the page.
- See

[2022-05-18 11:45] arunsathiya commented on #63756
- It's reported on core already: https://github.com/WordPress/gutenberg/issues/41135
- Adding to cross-post watchlist.

[2022-05-18 12:52] TonyKent88 commented on #63604
Does this mean it might not be just my site?

[2022-05-18 13:02] ClassicRKR27 commented on #63747
Another report here: 35534602-hc

[2022-05-18 13:11] #62205 closed, assigned to WBerredo

[2022-05-18 13:16] chriskmnds opened #63764 "Plans overhaul: consolidate plan features' metadata used at places under a single source"
### Details

There seems to be quite a bit of repetition right now of plan feature descriptions/titles/etc. needed at places (more so considering Landpack and other repos e.g. H4 marketing themes). A good refactor would be to bring these sources together under a single endpoint/package/something. Albeit something that entails a rather involving/longer-term commitment.

Let's consider an example. T

[2022-05-18 13:25] chriskmnds commented on #63764
@southp please move this under some respective tab/index in the project board. Thinking maybe we can introduce a "framework" or "refactors" tab to contain stuff related and come back for triaging if we get to.

[2022-05-18 13:25] #63572 closed, assigned to escapemanuele

[2022-05-18 13:34] daria2303 opened #63765 "Chrome: Not able to hide welcome popup / tour"
### Quick summary

Each time user opens a post editor they get this welcome popup. We tried to skip, turn off, minimize.

### Steps to reproduce

1. Visit editor
2. close / skip / minimize welcome popup
3. refresh

### What you expected to happen

Popup is still there.

### What actually happened

Popup doesn't appear after closing.

### Context

5223791-zd-woothemes

### Simple, Atomic or both?

[2022-05-18 13:48] ivan-ottinger commented on #63604
Yes, that is correct. Now we have a second report of the same issue. What have both sites in common is the hosting company. There is something blocking file requests - either on the host's side or macOS / iOS Mail app.

That's why I mentioned in the previous comment that it could be worth contacting them. There's [this Hotlink protection setting](https://www.bluehost.com/help/article/hotlink-prote

[2022-05-18 14:53] kraftbj commented on #57449
@senadir @jeherve Pinging y'all from the proposed solution in https://github.com/Automattic/wp-calypso/pull/62517.

It sounds, from that discussion, that the proposed solution in 62517 is not viable. If that's the case, can we close it?

Is there a person/team tracking this in order to bring it to resolution? It's a bit out of Jetpack's wheelhouse so I'd hope a WP.com team can take it, even though

[2022-05-18 14:55] #63547 closed, assigned to arcangelini, escapemanuele

[2022-05-18 15:22] jeherve commented on #57449
I believe @Addison-Stavlo had started taking a look, as discussed in p1649160607859449/1649145116.774249-slack-CDLH4C1UZ , but ran into issues as mentioned in #62517.

[2022-05-18 15:32] zyousafi commented on #63747
Another report here: 34703465-hc

Follow-up ticket here: 5224850-zen

[2022-05-18 15:49] dsas commented on #50574
Logging improvements from D80956-code now deployed ✅

[2022-05-18 16:24] worldomonation opened #63771 "Playwright: install CJK fonts in Docker container"
### Details

It looks like our Docker images are not able to properly render CJK languages - see attached screenshot.

@niranjan-uma-shankar filed a [report](https://github.com/microsoft/playwright/issues/14187#issuecomment-1129494194) with the Playwright maintainers. While we are waiting for some more information, we can try a few other approaches such as the installation of the Google Noto font.

[2022-05-18 16:31] MicBosi commented on #63747
Another report here: 35328769-hc

Follow-up ticket here: 5222967-zen

[2022-05-18 16:36] tvolpert commented on #57812
Another report here: 5223996-zen

Workaround was provided.

[2022-05-18 18:34] kerrynicl commented on #63303
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes
- Updated main description of report - No

📌 SCRUBBING
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I was able to replicate this on both Core and AT sites but I'm not sure if this is a case where it is the coding provided that needs to be updated to reflect the widget

https://user-images.githubuserconten

[2022-05-18 19:11] ai2n commented on #63747
Report: 35029937-hc

Follow up: 5225622-zen

[2022-05-18 19:24] gutenberg-plugin-upgrade-bot[bot] opened #63776 "Gutenberg: v13.3.x plugin upgrade - duplicate"
Previous upgrade: #63235
Release notes:

**Install and activate**

- [ ] Install and activate v13.3.0-rc.1 on edge (######-code)
- [ ] Install and activate v13.3.0 on edge (######-code)
- [ ] Activate v13.3.0 on production (######-code)
- [ ] Request v13.3.0 AT upgrade (######-p2)

**Testing**

- [ ] v13.3.0 Desktop viewport E2E
- [ ] v13.3.0 Mobile viewport E2E
- [ ] v13.3.0 WPCOM core (######-co

[2022-05-18 19:33] #63776 closed, assigned to nobody

[2022-05-18 20:45] cuemarie commented on #62813
Encountered this issue here: 4909259-hc

Was able to help by manually adding a Yearly Premium Plan in place of the BiYearly plan, then going to `https://wordpress.com/checkout/SITE_URL/pro`

[2022-05-18 20:56] KirkwallDay opened #63781 "Navigation Block sub-menu spills off page in mobile mode view with Overlay off."
### Quick summary

The navigation block will spill off the page in mobile mode when using sub-menus on certain themes in mobile mode (mobile menu off in the block settings)

### Steps to reproduce

1. Setup an FSE site and add a navigation block to the header.
2. Setup some sub-menus on the block.
3. Make sure the Overlay Menu setting is turned off in the navigation block settings.
4. View the sit

[2022-05-18 21:16] gwensmithx commented on #43589
Issue is reported here as well: 5223450-zd

Is this expected behaviour now or should the captions be updating in older slideshow blocks?

[2022-05-18 21:25] kerrynicl commented on #63347
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 FINDINGS/SCREENSHOTS/VIDEO
I'm not even sure how this can be replicated but definitely some further investigation is needed as I'm seeing the log with the empty subject line:

<img width="371" alt="Markup 2022-05-18 at 15 47 42" src="https://user-images.githubusercontent.com/83325600/169158366-ff11ce42-5ccf-4290-a8

[2022-05-18 21:39] jjchrisdiehl opened #63782 "[Bug]: Store Price currency formatting is incorrect and inconsistent"
### Quick summary

The [formats used](https://opengrok.a8c.com/source/xref/wpcom/wp-content/admin-plugins/wpcom-billing/store-price.php?r=9d006933#40-277) to display currencies are inconsistently spaced.

For example, it seems we have a mixture of `%1$s%2$s`, `%1$s %2$s`, and the right aligned equivalent of `%2$s%1$s` and `%2$s %1$s`. It looks like this extra space adds a space to the left/right o

[2022-05-18 21:47] kerrynicl commented on #63380
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 SCRUBBING
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
Hi there @allanftd
It seems the link you shared is not able to be embedded because it does not have a previewable card
I've tested the same link on a self hosted site with the same results
<img width="636" alt="Markup 2022-05-18 at 1

[2022-05-18 21:47] #63380 closed, assigned to nobody

[2022-05-18 21:54] cometgrrl commented on #63347
@michaeldcain would this be a shillings bug?

It's unclear how reproducible it is, and I'm not sure how easy it would be to check if we can see other cases of it happening.

[2022-05-19 01:38] donalirl commented on #39364
#33728970-hc

[2022-05-19 01:40] lsl opened #63788 "Marketplace: Mobile category selection scrolling"
https://github.com/Automattic/wp-calypso/pull/63787 introduced a new mobile category selector.

- [ ] ~On selecting a partially offscreen category it should scroll into full view~ Tried this, its kind of annoying to use - creates moving targets
- [ ] Similarly, on loading a category page that's off view, the menu should scroll the selected item into view

[2022-05-19 01:50] lsl opened #63789 "Marketplace: Remove the search input box text when loading a category or clearing a search"
Acceptance criteria:
- [x] Remove the text in the search input box when loading a category or clearing a search

[2022-05-19 01:58] lsl opened #63790 "Marketplace: When viewing search results there is no way to switch between monthly and yearly prices"
The search result view doesn't have a monthly / annual price selector. This is currently only shown on the /plugins/paid and /plugins/popular pages (and sections on home page).

- [ ] Investigate if we want this on search result views
- [ ] Investigate if we want this on category result views
- [ ] Add it if required

or

- [ ] Remove it from all plugins browser pages (not individual plugin pages)

[2022-05-19 02:01] lsl opened #63791 "Marketplace: Add category result title"
The FullListView component needs similar title changes as seen in https://github.com/Automattic/wp-calypso/pull/63645

I think to implement this we should create a new CategoryListView component and rename FullListView to PaidPopularListView as that's all its used for. We still need this separate view because it shows the monthly / annual price selector.

- [ ] Before starting: Check design decisi

[2022-05-19 02:08] lsl opened #63792 "Marketplace: Disable scrollToTop in category routes"
Clicking on a category shouldn't scroll to the top of the page, this behavior is especially jarring on mobile.

- [x] Disable [scrollToTop](https://github.com/Automattic/wp-calypso/blob/0b1198ce5237a2540aaeeff024da4d5532a84acb/client/my-sites/plugins/index.js#L94-L100) in category routes
- [x] Disable it wherever else we can, I suspect the only place we need it is onSearch which means we can proba

[2022-05-19 02:09] lsl opened #63793 "Marketplace: Indicate annual price savings are available on product views (mobile)"
When viewing a product (at least on mobile) there is no clear indication that annual price savings are available.

- [ ] Add some kind of price saving availability indication

Currently looks like this:

![Screenshot 2022-05-19 at 12-09-27 WooCommerce Subscriptions Plugin — WordPress com](https://user-images.githubusercontent.com/811776/169188618-51428cf9-6d40-425a-93eb-5c3fd371d3df.png)

Similarl

[2022-05-19 02:53] taipeicoder opened #63794 "Generated design picker: Sticky thumbnails in desktop view"
## Description

In the current iteration of the generated design picker, we will only show 3 thumbnails on the left side of the screen while showing the full design preview on the right side (desktop view). As result, when users scroll down to see more of the full preview, the thumbnails will be scrolled out of the viewport. We want to make the thumbnail section sticky so that it's always visible

[2022-05-19 02:54] taipeicoder commented on #63794
@saygunnyc LMK if the 48px of vertical space when sticky seems good to you.

[2022-05-19 03:01] taipeicoder opened #63795 "Generated design picker: Adding desktop view breakpoints"
## Description

In the current iteration of the generated design picker, there is only one breakpoint that differentiate between mobile and desktop views. We want to add more breakpoints in the desktop view to improve the user experience in larger horizontal resolutions.

![Image](https://user-images.githubusercontent.com/797888/170169106-ed22f4ac-d8a1-4a01-8080-2f61f04058a8.png)

## Acceptance Cr

[2022-05-19 03:02] taipeicoder commented on #63795
@saygunnyc we will be tracking the introduction of more breakpoints here.

[2022-05-19 03:15] arthur791004 commented on #62812
Here is the discussion of posts: p1652859793300799-slack-CRWCHQGUB and we'll have the p2 post later.

[2022-05-19 03:15] arthur791004 commented on #62812
Close this as all of the tasks are shipped 🚢

[2022-05-19 03:15] #62812 closed, assigned to arthur791004

[2022-05-19 03:24] lsl opened #63796 "Marketplace: Improve mobile category selector switching logic"
The 660 breakpoint we use to decide if we show the dropown or not isn't adequate for horizontal mobile views. Switch to touch detection for larger breakpoints, for very large breakpoints always show dropdown version.

- [ ] Use a mix of [hasTouch](https://github.com/Automattic/wp-calypso/blob/trunk/client/lib/touch-detect/index.js) and a larger breakpoint range to switch to the swipe-able version

[2022-05-19 03:27] Greatdane commented on #63756
Another user report: 5226399-zd-woothemes

[2022-05-19 03:31] #55081 closed, assigned to p-jackson, alshakero

[2022-05-19 04:24] nagpai opened #63798 "Ads Block: WordAds not resizing on mobile device."
### Quick summary

Horizontal banner ads are breaking mobile view of website in Geologist theme. I also see open issues related to Dara and other themes about this. The user here seems to have added the ads via Ads block.

### Steps to reproduce

Seen on user website

### What you expected to happen

Horizontal ads should not appear on mobile, or at least they should not break the layout

### What

[2022-05-19 04:31] nagpai commented on #63798
The workaround seems to be using this option to disable ads in mobile
![image](https://user-images.githubusercontent.com/4162931/169205342-f034e35f-6e7d-472a-bd24-d020f7dd40b6.png)

I wonder why the description of the block shows as [object Object] .. something is off.

[2022-05-19 04:32] nagpai commented on #63798
maybe related
https://github.com/Automattic/themes/issues/5619

[2022-05-19 04:58] happychait commented on #63515
Although ads file is taking time to load, the theme and its menu shouldn't wait for the 3rd party ad server or any other 3rd party request to complete, as discussed in pMyNb-5kb/#comment-16269

So this is nothing to do with ads, and back to the theme's purview.

[2022-05-19 05:12] Greatdane commented on #56483
We had another report of this issue (which I can reproduce as the user) today;
5225778-zd-woothemes

This happens when the user visits certain blog posts in the reader (exact details in the ticket)

<img width="561" alt="Screenshot 2022-05-19 at 14 11 27" src="https://user-images.githubusercontent.com/5075840/169213094-f01364ca-2a11-45fe-83bb-1456a770a838.png">

@dsas is it possible you can have a

[2022-05-19 05:28] p-jackson commented on #55081
Temporary fix for Atomic coming in 884-gh-Automattic/wpcomsh. Better fix for the underlying issue coming in https://github.com/Automattic/jetpack/pull/23871

[2022-05-19 05:40] Greatdane commented on #63286
I think this is intentional to the theme.

The center position works the same outside and inside a group block;

<img width="1629" alt="Screenshot 2022-05-19 at 14 34 29" src="https://user-images.githubusercontent.com/5075840/169217715-1560c621-0a94-4156-aa71-29b878c0a351.png">

The demo site seems to confirm it is intentional to have the more left-aligned text;
P1C32M-1w-p2F

(for some reason, pu

[2022-05-19 05:46] arthur791004 commented on #63697
Close as it's shipped 🚢

[2022-05-19 05:46] #63697 closed, assigned to arthur791004

[2022-05-19 06:17] jordesign commented on #63515
To my research - it's definitely the javascript for the menu being blocked until the page load is complete.

This might be theme related - but could also be something that the core Navigation block is doing by default.

[2022-05-19 06:25] Greatdane commented on #63338
The issue is with this theme CSS;

[code]

The `.blog article` CSS is being applied to the sidebar on the homepage;

![Annotation on 2022-05-19 at 15-23-32](https://user-images.githubusercontent.com/5075840/169224482-e6b58ea0-0049-42ff-9684-d548e10b6423.png)

A workaround should be to set the homepage as a static page and use the blog post block instead.

[2022-05-19 06:30] Robertght commented on #54510
another request in 5216740-zen

[2022-05-19 06:33] druesome commented on #63695
Also reported in 5219657-zen

[2022-05-19 06:33] jordesign commented on #63515
Confirmed this is a bug in Gutenberg itself - so we've not got an open issue for that.
https://github.com/WordPress/gutenberg/issues/41149

[2022-05-19 07:03] Greatdane commented on #63584
Basically, a public-facing visitor counter widget?

[2022-05-19 07:04] csabarakasz opened #63800 "Add a Collapse Post option on P2s"
### What

When scrolling through P2s, we can Hide Comments, or Collapse Threads, which are very useful. It would be great to have a Collapse Post option as well, where only the Post Title would stay visible. It would make scrolling through posts a lot easier.

### Why

Increase readability and scrolling. It's hard to find something when you are scrolling backward.

### How

_No response_

[2022-05-19 07:16] csabarakasz commented on #62803
Yes, @Robertght :) I apologize if I was not clear!

[2022-05-19 07:28] csabarakasz commented on #58933
Same issue and replicated on AT test site. 5221669-zd-woothemes

[2022-05-19 07:54] rw-ye commented on #52241
Another request here: 5226914-zd-woothemes

[2022-05-19 07:57] rickmgithub opened #63801 "Multiple enclosure tags in RSS feed"
### Quick summary

The user can't submit their RSS feed to iHeart Radio as the RSS feed has multiple enclosure tags for the same file.

This is causing the feed to not validate - https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Frodgermarion.com%2Fcategory%2Fmodern-radio-adventures%2Ffeed%2F#l72

The feed is here - https://rodgermarion.com/category/modern-radio-adventures/feed/

In the fee

[2022-05-19 08:14] kdevnel opened #63802 "FSE: Site Editor shows an unhelpful error for non-FSE themes"
### What

When you visit the Site Editor URL directly with a theme active that doesn't support FSE, you end up with a generic error:

Adding a more descriptive error directly at this point would be more immediately useful to users.

### Why

If a user has switched from an FSE theme, this may not be immediately obvious why that error is appearing, unless they have the direct knowledge that Site Edi

[2022-05-19 08:26] #63370 closed, assigned to spraveenitpro

[2022-05-19 08:28] vishnugopal opened #63803 "Add colors to the MC Verticals Importer section"

[2022-05-19 08:37] vishnugopal commented on #63535
A develop branch may be required for active development. Pushes to master are auto-deployed now. The deploy does take quite some time. The Docker layers does not seem to persist between executions of the job.

[2022-05-19 08:37] vishnugopal commented on #63535
Multi-stage Dockerfile is already in place, so we need to look for other optimizations.

[2022-05-19 08:40] vishnugopal commented on #63039
WPCOM Diff here: D80900-code

[2022-05-19 08:41] vishnugopal opened #63804 "Figure out how to persist colors and images to a generated theme in Gutenberg editor"
The goal is to populate the Background, Text, and Link color settings in the site editor. Below is a screenshot of the feature in the site editor that allows you to set global color values.

![Image](https://user-images.githubusercontent.com/10244734/175247042-20ce13e9-57e1-487a-abe4-7ecd511cd0e0.png)

To achieve this, the colors that we extracted from the user's existing website need to be added

[2022-05-19 08:43] dsas commented on #56483
Hi @Greatdane, this will be someone else making the same kind of mistake as I addressed originally, rather than the same issue. I'll take a look and try to get it to the right teams attention.

[2022-05-19 08:44] vishnugopal commented on #63202
Discussion:
* It seems like there is something wrong with the Jetpack connection as the API endpoint returns info from WPCOM.
* Discussion with Jetpack team might be an avenue to explore once we do more investigation.

[2022-05-19 08:46] vishnugopal opened #63805 "Extend MC Verticals Recipe builder to take a URL and integrate with the preview (images + colors)"

[2022-05-19 08:49] vishnugopal commented on #63538
There is not much blocking here to be deployed.

[2022-05-19 08:53] vishnugopal opened #63806 "Test & integrate Colors API in Calypso Light Importer flow"

[2022-05-19 08:55] ivan-ottinger commented on #62994
After evaluating the feedback and considering the options, we have pulled out the change that had added the Featured image to the _New Post_ email notification.

If there's a need to add an image to the top of the email notification, it can be added to the post body directly - using the Image block. This approach maintains flexibility for users that don't wish to have the Featured image displayed

[2022-05-19 09:04] arthur791004 commented on #63490
Close as it's shipped 🚢

[2022-05-19 09:04] #63490 closed, assigned to roo2

[2022-05-19 09:19] vishnugopal commented on #63806
@zaerl to provide some sites that always timeout here.

[2022-05-19 09:31] #56483 closed, assigned to dsas

[2022-05-19 10:37] filipanoscampos commented on #63747
Another case, here 5222201-zd-woothemes
Yet, in this user's case, the posts are listed according to the keyword.

One of the Query Loop Blocks is showing the correct post in the editor, but the wrong one on the published page.

They found a way to solve this temporarily but it isn't feasible to expect them to do this every time, since they have a large number of posts.

They took the time to creat

[2022-05-19 10:54] markbiek opened #63811 "Stepper: Floating help icon blocks navigation bar"
### Quick summary

On mobile on the intent step, the floating help icon blocks the navigation.

![image](https://user-images.githubusercontent.com/917632/169277422-6dc5c9d4-04d8-4055-a06f-fe2e0e56a53d.png)

Discussion here: p1652951847775919-slack-C02T4NVL4JJ

### Steps to reproduce

Go to the intent step.

### What you expected to happen

The navigation bar should be accessible.

### What actuall

[2022-05-19 11:02] rachelwinspear commented on #63747
Another report: 35543575-hc
Follow up: 5226975-zen

[2022-05-19 11:10] simison commented on #63781
@KirkwallDay Has this been tested with core Gutenberg, and is there an issue at Gutenberg repo? See PCYsg-hT7-p2 (Minding our etiquette of course pb6Nl-dyI-p2)

[2022-05-19 11:28] pauljacobson opened #63812 "Site Stats: Discrepancy between country count and views by country"
### Quick summary

One of our users reported an inconsistency between the number of _Visitors_ reported by Site Stats, and the number of countries listed in the _Views by Country_ panel -

While the number of reported views for a given time period seem to correspond with the number of views listed by country, this is not the case when trying to correlate _visitors_ with the number of countries rep

[2022-05-19 11:30] gcsecsey commented on #63717
@cpapazoglou AFAIK no, the Jetpack search API layer has no similar feature implemented.

We could use ES to get [simple recommendations via aggregations](https://opensourceconnections.com/blog/2016/09/09/better-recsys-elasticsearch/) on an index which contains all the installed plugins for a site. I see that Jetpack site profiles have an `enabled_plugins` array, but I couldn't find which index do

[2022-05-19 12:32] alshakero opened #63815 "Task: Implement Happychat socket connection in the Help Center"
### Details

It seems we can’t check the Happychat availability unless we connect to the `WebSocket` server of Happychat (source: pdtkmj-9r-p2 - search for "socket"). The good news is that it turns out Happychat uses JWT for auth, and sends the token in-session, meaning it doesn’t use cookies at all. So, we’ll probably be able to check the status even with 3rd party cookies are blocked. Unless, [w

[2022-05-19 13:19] danielbachhuber commented on #63801
To provide a little clarity, there are five separate validation issues:

<img width="1072" alt="image" src="https://user-images.githubusercontent.com/36432/169301202-32a3539a-d2c1-4385-818c-21bb2691c978.png">

"multiple enclosure tags" _may_ be the validation issue blocking submission, but the other validation issues may be problematic too.

"multiple enclosure tags" seems like it has some longsta

[2022-05-19 14:14] danielbachhuber opened #63819 "[All] Increase content width for email notifications on desktop"
### What

On desktop, it would make for a more pleasant reading experience if the content width of email notifications was a bit wider.

## Current - 680px max-width

<img width="1347" alt="image" src="https://user-images.githubusercontent.com/36432/169314758-23c4f9fb-a05d-41a4-839b-7996464b9ee4.png">

## Proposed - 800px max-width (similar to P2 emails)

<img width="1374" alt="image" src="https:/

[2022-05-19 14:31] KirkwallDay commented on #63781
@simison I tried testing this with just core Gutenberg but was unable to re-produce, I tested with Block Base there. However, I wasn't able to test with Arbutus or Blank Canvas, both themes give errors when trying to activate them on a basic WordPress install with only Gutenberg active. I was using Jurassic Ninja for this:

![Screen Shot 2022-05-19 at 8 29 35 AM](https://user-images.githubusercont

[2022-05-19 15:00] csabarakasz opened #63821 "[THEME: Twenty Seventeen 2017] Button text word break does not apply correctly"
### Quick summary

On the 2017 theme, when using a button block with long text, the word break doesn't apply on small screens or mobile devices.

A user reported, and I was able to replicate it on my test site. Plan Pro.

https://user-images.githubusercontent.com/84539773/169327515-c700bedc-bc64-4fe9-97d4-660fc6ede20a.mp4

### Steps to reproduce

1. theme: 2017 (Turn off AMP)
2. Create a new page

[2022-05-19 15:52] #63811 closed, assigned to andres-blanco

[2022-05-19 16:13] KirkwallDay commented on #63781
Hi @simison I tried on a self-hosted site as well and couldn't get Arbutus or the Blank Canvas Block Base version to work there either. I get the error `om themes if ( is_admin() ) include dirname( __FILE__ ) . '/inc/updater.php';` and the Full Site editor just shows up blank. On the base Block Base theme, it seems to be fine so it might just be occurring with Block Base children. I think it's bec

[2022-05-19 16:13] nicolynramos commented on #63765
Another report: 5228082-zen

[2022-05-19 16:19] metabreakr commented on #63050
35549694-zen

[2022-05-19 16:28] Gustavo-Hilario commented on #63821
The CSS property `white-space` is causing this issue here. This CSS tweak would fix that:

[code]

[2022-05-19 16:34] that-mike-bal opened #63823 "2FA"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-19 16:47] gmovr commented on #62757
This is now deployed cc: @ciprianimike

[2022-05-19 16:52] iamtakashi commented on #62369
That makes sense. Thank you all for the info!

[2022-05-19 17:03] pottedmeat commented on #46551
Would appreciate feedback on the following UI changes to show the user whatever information we have—either business name + email or the account name—whether or not the account is currently connected:

![image](https://user-images.githubusercontent.com/38750/169356058-3019d02c-482c-45fc-ba0d-8dcf93cfb758.png)

![image](https://user-images.githubusercontent.com/38750/169356081-e1091ac1-e557-4e30-b25

[2022-05-19 17:06] #60031 closed, assigned to vykes-mac

[2022-05-19 17:07] #62720 closed, assigned to vykes-mac

[2022-05-19 17:14] chrisfromthelc commented on #46551
That makes sense to me. We should give the user some kind of clue as to what it was/is connected to in order to avoid confusion

[2022-05-19 18:18] sejas commented on #58590
Thank you for checking again!
I'm closing this issue.

[2022-05-19 18:22] sejas commented on #60433
The diff is merged: D80667-code, so I'm closing this issue.

[2022-05-19 18:22] #60433 closed, assigned to sejas

[2022-05-19 18:28] dpasque opened #63826 "Dan's test bug, please ignore"
### Quick summary

_No response_

### Steps to reproduce

test

### What you expected to happen

test

### What actually happened

test

### Context

_No response_

### Browser

_No response_

### Simple/Atomic

_No response_

### Other notes

_No response_

### Reproducibility

Consistent

### Severity

_No response_

### Available workarounds?

_No response_

### Workaround details

_No response

[2022-05-19 18:28] #63826 closed, assigned to nobody

[2022-05-19 18:29] allilevine commented on #63554
Closed in https://github.com/Automattic/wp-calypso/pull/63680

[2022-05-19 18:29] #63554 closed, assigned to paulopmt1

[2022-05-19 19:10] jp-imagines commented on #63747
Another report in 18893651-hc. Suggested user try the Blog Posts block instead in the meantime.

[2022-05-19 19:30] blackjackkent opened #63829 "Anchor Onboarding - Update developer docs with info about testing"
We need to make sure that our developer documentation for Anchor onboarding maintenance contains clear steps for testing both the logged-in and logged-out flows.

[2022-05-19 19:41] blackjackkent opened #63830 "Woo Onboarding - verify redirect behavior"
When the Woo stepper onboarding process completes, currently the user is forwarded into a different woocommerce onboarding process that asks a lot of the same questions. Can we find out what the existing behavior is in this regard in /start? And can we instead forward the user directly to the WooCommerce homepage?

[2022-05-19 20:15] khristiansnyder commented on #63747
#5227455-zen

[2022-05-19 20:20] wpshellbelle commented on #63747
5228560-zen

[2022-05-19 20:50] lsl opened #63831 "Marketplace: Add scrollbar back to mobile category selector?"
We removed this in https://github.com/Automattic/wp-calypso/pull/63787#issuecomment-1131862134 for a couple of reasons, wondering if its worth adding it back for ux reasons (with better spacing), if not just close this.

- [ ] Add styled scrollbar

[2022-05-19 20:53] metabreakr commented on #63801
According to the user, removing `<amp-fit-text>` removed one validation error, however they still cannot submit to iHeart.

Using a different validator: https://www.castfeedvalidator.com/?url=https://rodgermarion.com/category/modern-radio-adventures/feed/

<img width="1096" alt="Screen Shot 2022-05-19 at 2 52 49 PM" src="https://user-images.githubusercontent.com/39252765/169402697-a0221ea2-4c4b-45

[2022-05-19 21:06] worldomonation opened #63832 "Test issue"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-19 21:35] Jaykame commented on #63812
I have a customer here with the same duplicate discrepancy on their site.

Ref: 5228572-zen

[2022-05-19 22:17] ha-un opened #63834 "Donations Block: Add option to disable One-Time donations"
### What

Currently, there are options to disable monthly and yearly options in a Donations Form block.

However, there is no option to disable **one-time donations**.

<img width="1312" alt="Screenshot on 2022-05-19 at 15-10-07" src="https://user-images.githubusercontent.com/96960321/169412854-00ba4aff-1030-4fcc-b4f8-4c2842a801de.png">

### Why

This will allow users to disable one-time donations

[2022-05-19 22:55] Rolilink opened #63835 "Marketplace: Add E2E Tests for the categories menu"
Let's add some E2E test to ensure the correct working of the categories menu

- [ ] Add a test to check the menu is being rendered with the correct categories.
- [ ] Add a test that ensures clicking the category sends the user to the correct page.
- [ ] Add a test that ensures clicking the category on the dropdown menu sends the user to the correct page.

[2022-05-19 23:00] Rolilink opened #63836 "Marketplace: Add unit tests to the ResponsiveToolbarGroup"
Lets add some tests to the `ResponsiveToolbarGroup`

- [ ] Add a test to check  that the correct component is being rendered in desktop.
- [ ] Add a test to check that the correct component is being rendered in mobile.
- [ ] Add a test to check that is rendering the children that doesn't overflow in the list.
- [ ] Add a test to check that is rendering the children that overflow in the more dropdo

[2022-05-19 23:07] Rolilink opened #63837 "Marketplace: Add the background change on content to the marketplace to match design"
![image (2)](https://user-images.githubusercontent.com/1072756/170167509-6dfae67b-a606-467b-a1ea-93d136387854.png)

Figma File: [f84fqtCG4pCnCh2Hq0But5-fi-2011%3A26631](https://href.li/?https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/?node-id=2011%3A26631)

- [x] Search header and Categories should have `#FFFFFF` background color.
- [x] Plugin list should have `#FDFDFD` background color.
- [x] T

[2022-05-19 23:15] Rolilink commented on #63837
![Image](https://user-images.githubusercontent.com/1035546/169419157-763cc1df-1c6a-4210-8f28-c2295338e399.png)

- [ ] Search header should have `#FFFFFF` background color.
- [ ] Categories and Plugin list should have `#FDFDFD` background color.

[2022-05-19 23:17] Rolilink opened #63838 "Marketplace: Add hover effect to the Categories Menu"
![Image](https://user-images.githubusercontent.com/1035546/169419452-73399777-f9c1-42c8-95ac-18990f69496c.png)

Acceptance criteria:
- [x] When hovering an element it should have a gray border like the more button.
- [x] More link shouldn't have a gray background unless hovered like other toggles

[2022-05-19 23:20] Rolilink opened #63839 "Marketplace: No visual indicator for selected category for the category select on the mobile view"
![Screen Capture on 2022-05-19 at 18-22-30](https://user-images.githubusercontent.com/1035546/169419849-93427aae-bf58-43f9-bc0a-f09fedae27a9.gif)

On the swipable menu when we are in a category list if the selected category is on the middle of the list the user can't see a visual indicator of that category being selected until its scrolled there.

[2022-05-19 23:26] Rolilink opened #63840 "Marketplace: Don't trigger animation when clicking the select category"

[2022-05-19 23:41] Greatdane commented on #57680
Closing in favor of https://github.com/Automattic/wp-calypso/issues/53027

Moved requests over to the other issue.

[2022-05-19 23:41] #57680 closed, assigned to nobody

[2022-05-19 23:42] Greatdane commented on #53027
Moving over requests from other issue;

p7DVsv-6DY
p7DVsv-6Ir
pKdGS-1Ow

reports;
4430312-zen
33878296-hc
33816111-hc
19814760-hc
35550279-hc

[2022-05-19 23:59] arunsathiya commented on #42499
I see that there are two things here.

## Old Button block

One way to find this block is by activating Exford and editing the demo homepage that it generates. It shows the old Button block throughout that page. It's not clear if we have plans to change that to the newer Buttons block, and if we would do that for all affected sites. [I asked about it here](https://github.com/Automattic/themes/issu

[2022-05-19 23:59] #42499 closed

[2022-05-19 23:59] arunsathiya commented on #48378
I am unable to reproduce this. This is when I re-open the published page's editor on Maywood:

<img width="528" alt="image" src="https://user-images.githubusercontent.com/18581859/169384581-441e5779-1a81-42e3-a0d0-44f12baecd68.png">

Closing. We can reopen if this happens again.

[2022-05-19 23:59] #48378 closed, assigned to nobody

[2022-05-19 23:59] arunsathiya commented on #52982
Closing this report as the WordPress.com Business plan is not sold anymore, and various things have changed in terms of purchase flows in the last year.

[2022-05-19 23:59] #52982 closed, assigned to nobody

[2022-05-19 23:59] arunsathiya commented on #60317
Closing this report as I cannot reproduce this anymore. Please reopen if anyone find a different result!

<img width="895" alt="image" src="https://user-images.githubusercontent.com/18581859/169391550-fa22a22d-45fa-44e3-9019-0a4fb2439024.png">

[2022-05-19 23:59] #60317 closed, assigned to nobody

[2022-05-20 00:00] arunsathiya commented on #58845
I am unable to reproduce this. This is on a simple site:

https://user-images.githubusercontent.com/18581859/169394004-8df24952-2770-450d-a763-c1389fb4f633.mov

And on an Atomic site:

https://user-images.githubusercontent.com/18581859/169393879-37f11624-19d3-40cd-b69a-1c4343f276d0.mov

Both with Zoologist. It's possible that things improved in the past few Gutenberg releases. I'll close this for

[2022-05-20 00:00] #58845 closed, assigned to nobody

[2022-05-20 00:00] arunsathiya commented on #63011
I am closing this in favor of the other issue:

- https://github.com/Automattic/wp-calypso/issues/62755

If there's something about the current issue, feel free to tell me and reopen this issue.

[2022-05-20 00:00] #63011 closed, assigned to nobody

[2022-05-20 00:01] arunsathiya commented on #60317
@aleone89, that video seems to have expired. Any chance you still have it? Could you upload it natively to GitHub if you do? And, based on your report, the Customizer isn't available altogether for a FSE-theme enabled WooCommerce site? If I understand that part correctly, please open a new report via Bugomattic and we'll triage from there, thanks!

[2022-05-20 00:44] jordesign commented on #58196
Closing this issue as it is no longer relevant.

[2022-05-20 00:44] #58196 closed, assigned to nobody

[2022-05-20 00:47] jordesign commented on #57791
Closing this issue - as Full Site Editing now allows the Page title to be removed from displaying on templates.
Left the GB issue open - in case there are things to do for older, non-FSE themes,

[2022-05-20 00:47] #57791 closed, assigned to nobody

[2022-05-20 00:49] lsl commented on #62891
https://github.com/Automattic/wp-calypso/pull/63592
https://github.com/Automattic/wp-calypso/pull/63787

[2022-05-20 00:49] #62891 closed, assigned to Rolilink

[2022-05-20 00:51] #33871 closed

[2022-05-20 00:54] zachspears commented on #25115
Able to successfully reproduce this as well.

[2022-05-20 00:54] jordesign commented on #29215
This appears to be an issue already under consideration in core - so will close this one.
https://github.com/WordPress/gutenberg/issues/24945

[2022-05-20 00:56] jordesign commented on #55276
@autumnfjeld  - I'm closing this as the tracking issue seems to be no longer needed. Please re-open if it is needed for some reason.

[2022-05-20 00:56] #55276 closed, assigned to alaczek

[2022-05-20 00:58] jordesign commented on #57582
Closing this - as we've moved on and this can be handled separately if any further changes are needed.

[2022-05-20 00:58] #57582 closed, assigned to nobody

[2022-05-20 01:00] jordesign commented on #55776
Closing this - as the kind of work will be handled elsewhere.

[2022-05-20 01:00] #55776 closed, assigned to nobody

[2022-05-20 01:13] #55432 closed, assigned to nobody

[2022-05-20 01:19] jordesign commented on #58169
No longer able to recreate this - so am closing the issue.

[2022-05-20 01:19] #58169 closed, assigned to nobody

[2022-05-20 01:34] donalirl commented on #57399
Encountered this as well in #22259024-hc. User with active upgrades tried to close their account, but only got the message to contact support:

You will not be able to open a new WordPress.com account using the same email address for 30 days.
To close this account now, [contact our support team](https://wordpress.com/help/contact).

We have self-serve cancellations so we should direct users to the

[2022-05-20 01:34] Greatdane commented on #63747
https://hud.happychat.io/chat/35554314 (authors missing, related apparently)

[2022-05-20 02:15] hlashbrooke opened #63841 ""Classic" dashboard view is not persistent"
### What

Dashboard pages in Calypso have an option to switch between the "Default" and "Classic" views. The "classic" view shows you the admin page as it displays in WordPress core, without Calypso. This is a great feature, but the you have to do it on every page where you want that "classic" view. This would be greatly improved if there was a persistent setting you could enable that would force

[2022-05-20 02:47] zachspears commented on #56080
I tested this following the same steps and was able to reproduce but received a different error:
<img width="1297" alt="Screen Shot 2022-05-19 at 8 45 39 PM" src="https://user-images.githubusercontent.com/10124024/169438626-ddb61afd-a326-4756-8b8f-c46569afe875.png">
:

[2022-05-20 02:59] zachspears commented on #54147
Able to reproduce and seeing the same issue:
![IMG_1173FBCAFBE4-1](https://user-images.githubusercontent.com/10124024/169441602-8ccd349f-0bde-445a-8c84-3dacf82e27cf.jpeg)
:

[2022-05-20 03:11] zachspears commented on #52596
I tested this and was able to replicate it. I would also note that the site shows "Coming Soon" in the dashboard menu:
<img width="417" alt="Screen Shot 2022-05-19 at 9 07 13 PM" src="https://user-images.githubusercontent.com/10124024/169442610-16041b08-1835-4694-ae8e-2fa8c4268528.png">

I am thinking this may have to due to the fact that "Coming Soon" is a feature of this plugin, which is also wh

[2022-05-20 03:27] alaczek opened #63843 "Read More block not displaying."
I'm reporting this issue here since I was not able to replicate it on a local WP install (WP 5.9.3, Gutenberg plugin 13.2.2)

#### Steps to reproduce

1. On a site running TwentyTwentyTwo theme create a page and add a Query block.
2. Add a Post title, Post Content, and a Read More block. Save and preview.
3. Note the "Read more" link is not displaying on the front end.
4. Replace the Post Content

[2022-05-20 03:37] southp commented on #63764
Thanks. I'm moving this under Phase 2.5 for now, but we can revisit and see how to better categorize it after launching the phase 2 :)

[2022-05-20 03:39] southp commented on #63501
It's a good thing to confirm as part of implementing the new design in the next phase for sure. Thanks for raising it :)

[2022-05-20 04:25] vishnugopal opened #63844 "Communicate better how to perform another import"
![Image](https://user-images.githubusercontent.com/533/169450331-23418322-dafa-44e1-8470-00bbda1fbd43.png)

From this page, you can only start another import if you click View Site, that's not obvious.

See also: pciE2j-12X-p2#:~:text=in%20some%20situations.-,however%2C%20if%20you%20need%20to%20import%20multiple%20xml%20files%2C%20it%E2%80%99s%20confusing.,-I%20couldn%E2%80%99t%20find

[2022-05-20 04:32] becdetat opened #63845 "Domain registration activation causes admin to break during DNS propagation"
### Quick summary

I created a new site last week (via WooCommerce.com, but I believe this would apply to any WordPress.com site). As part of the creation process I registered a new domain. After getting through onboarding I ended up at ___.wordpress.com/wp-admin/... and was able to start configuring the new site.

Part-way through this I started getting redirected to the new domain - ___.store/wp

[2022-05-20 04:50] lsl commented on #63840
I think I suggested this, imo we can skip this, I think having the feedback is better than not at this stage. Removing the focus made it way less jarring.

[2022-05-20 04:58] happychait opened #63847 "Index template doesn't display comments or the comment form on the Comments block"
### Quick summary

The Index template doesn't show comments or comment form on the site, despite the editor preview showing the comment form.

### Steps to reproduce

1. Add Comments block to the `Index` template.
2. The comments form appears in the Site Editor.
3. Update the `Index` template in the Site Editor.

### What you expected to happen

Home page of the site (set to display latest posts)

[2022-05-20 04:59] lsl commented on #63835
I suggest holding off on this for a little bit, lots of changes coming soon see https://github.com/Automattic/wp-calypso/pull/63846

[2022-05-20 04:59] lsl commented on #63839
Probably duplicate of https://github.com/Automattic/wp-calypso/issues/63788

Fix in https://github.com/Automattic/wp-calypso/pull/63842 + better fix in https://github.com/Automattic/wp-calypso/pull/63846

[2022-05-20 05:06] arunsathiya opened #63848 "Query Loop pattern shows "No results found" when on Carousel view, but does on Grid view"
### Quick summary

I am seeing different behaviors on different sites, but the general issue is that the `Query loop` block does not show any patterns on the `Carousel view` **for WordPress.com sites**. I cannot reproduce on a WordPress.org site. All with Gutenberg 13.2.1 or higher.

### Steps to reproduce

- Start with the Twenty Twenty-Two theme on a WordPress.com site. It can be a normal site,

[2022-05-20 05:12] arunsathiya commented on #63848
I tested a few more themes.

Kerr:

<img width="1430" alt="image" src="https://user-images.githubusercontent.com/18581859/169454806-2fe2cc70-f941-4ec4-b199-e7efaf29bb37.png">

Skatepark:

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/18581859/169454907-f72cdc75-017f-4988-82c3-11ad168afe9d.png">

Marl:

<img width="1412" alt="image" src="https://user-images.githubuser

[2022-05-20 05:19] arunsathiya commented on #63843
Quick note that I see the same behavior on a simple site with Gutenberg 13.2.2:

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/18581859/169455818-fd69aaa5-b38a-4cd8-b4df-2a308c3d5729.png">

<img width="576" alt="image" src="https://user-images.githubusercontent.com/18581859/169455843-a9913e04-842a-46f5-9f89-428e682b8e3d.png">

[2022-05-20 06:07] arunsathiya opened #63849 "Missing space between buttons on the Calypso media uploader screen"
### Quick summary

Missing space between buttons on the Calypso media uploader screen. I am not sure if this is happening only on this screen, or if this is a Button component-level issue. Tracking what I found for now.

### Steps to reproduce

- Start with a WordPress.com site.
- Visit the media library https://wordpress.com/media
- Click on the add new button
- Notice that there is no space betw

[2022-05-20 06:56] Robertght commented on #36197
Another request here 5229590-zen

[2022-05-20 06:57] nagpai commented on #63812
User here mentioning discrepancy too
5223157-zd.

User will need a followup once this is resolved.

[2022-05-20 07:16] vishnugopal commented on #54149
We're exploring this here: pcmemI-BQ-p2

[2022-05-20 07:49] dsas commented on #50574
## Reproduction steps and _workarounds_

### SP19
I can reproduce SP19 whenever Jetpack is disconnected from WordPress.com, e.g. by following these steps

1. Create site
2. Connect to Jetpack and pay for a plan
3. Create a post using pay with paypal
4. Open the post in a new tab
5. Disconnect jetpack via wordpress.com
6. Change back to the view post tab
7. Try to use the Pay with Paypal form
8. Ge

[2022-05-20 08:25] druesome commented on #63847
Also reported in 5228548-zen.  User added the Comments block to a page, enabled comments, but form does not appear.

[2022-05-20 08:50] ivan-ottinger opened #63852 "[Emails] [New Post] Adjust post date format based on the site language / date settings"
This is a feature request on having the post date formatted depending on the site language / date settings.

Currently, the date is formatted regardless of the site settings as can be seen in the following screenshot:

![Image](https://user-images.githubusercontent.com/25105483/169492754-d08f75ce-a0b7-4832-9695-7ff55386525c.png)

[Suggested in a comment](https://wordpress.com/blog/2022/05/19/your-

[2022-05-20 08:52] poligilad-auto commented on #63275
Nice work @arcangelini!

Most comments are taken care of, some have some issues and I noticed a few other small bits and pieces.

- **“Still need help” button**: the hover color for the button is too dark. Let’s make it like the standard Calypso buttons: [https://wpcalypso.wordpress.com/devdocs/design/button](https://wpcalypso.wordpress.com/devdocs/design/button)
- **All buttons**: I see we have a

[2022-05-20 09:03] simison opened #63853 "[Bug]: Marketplace post-purchase CTA broken"
### Quick summary

When purchasing Woo Shipment Tracking plugin from the marketplace for my Simple site on Pro plan,

Not sure if the domain change has something to do with the error:

<img width="1455" alt="Screenshot 2022-05-20 at 11 56 01" src="https://user-images.githubusercontent.com/87168/169493315-39302812-1702-4469-b08b-eccf5982b0b6.png">

### Steps to reproduce

1. Have simple Site with p

[2022-05-20 09:08] cpapazoglou opened #63854 "Marketplace: cancel Yoast before refund"
### Details

We ’ve got a class that handles cancellations and we trigger the refund API if the subscription is refundable. What we don’t do is cancel the subscription.
[code]

Before `if ( $subscription->is_refundable() ) {` we should first cancel the subscription.

[2022-05-20 09:14] cpapazoglou opened #63855 "Marketplace: Yoast site url change on domain change"
After a domain change we should update the license information on Yoast side

**Testing Instuctions**
- Sandbox public-api
- Buy a Yoast subscription (see pcSRhZ-40-p2 on getting an active subscription)
- Go to WordPress.com and buy a domain. You can buy a personal .blog domain, if you need to retry (switching primary domains) you can use a subdomain and avoid buying new domains.
- Switch that dom

[2022-05-20 09:21] arunsathiya opened #63856 "Incorrect "Custom design" upgrade upsell in classic dashboard theme activation flow"
### Quick summary

There's an upsell flow for "Custom design" upgrades on the classic dashboard's theme activation flow.

I believe we should be removing it as it's no longer sold:

<img width="518" alt="image" src="https://user-images.githubusercontent.com/18581859/169496870-a38886fa-a017-4c5c-824e-c4c76d604533.png">

### Steps to reproduce

- Start at https://wordpress.com/themes
- Switch to cla

[2022-05-20 09:22] arunsathiya commented on #63856
I am not too sure if we should move this to `Automattic/themes`. I'll let you decide, @Automattic/dotcom-pqa-group.

[2022-05-20 09:34] arunsathiya commented on #63262
I am unable to see this behavior on an Atomic site with Blank Canvas theme. I do wonder if this is related to the to/from FSE theme changes that's described here:

- https://github.com/Automattic/wp-calypso/issues/62755

Let's leave this issue open for a bit more to track similar reports.

[2022-05-20 09:36] alshakero opened #63858 "[Bug]: Help Center - Only count received messages as unread"
### Quick summary

Title says it all. This function gets the unread messages by comparing timestamps only. We should also filter by author to exclude the sender.

### Steps to reproduce

1. Start a convo in the help center.
2. Send a message. The unread count sometimes changes.

### What you expected to happen

It shouldn't.

### What actually happened

It did.

### Context

_No response_

### Bro

[2022-05-20 09:37] alshakero opened #63859 "Task: Remove “Other site” option from the Help Center except the forum mode"
### Details

Currently, we allow the user to self-declare a site. Remove this option from CHAT and EMAIL modes.

[2022-05-20 09:46] kdevnel commented on #63262
I have another example of this happening with Twenty Twenty Two. From Calypso the first time I visited it worked fine clicking Appearance > Editor beta.

From then, clicking there from Calypso always opens a new post. If I try from WP Admin, the Appearance > Editor beta button goes to Site Editor correctly.

Reference: p1653038963164269-slack-C03TY6J1A and 35557163-hc

[2022-05-20 09:54] simison commented on #63853
From the functioning CTA I ended up at plugin management page, which felt a bit hectic. I expected landing at plugin's own management page instead:

<img width="1697" alt="Screenshot 2022-05-20 at 12 38 48" src="https://user-images.githubusercontent.com/87168/169503559-96c0168d-a840-4169-87b8-554ed1b3f0b1.png">

cc @SaxonF @ianstewart

[2022-05-20 09:58] Copons commented on #62721
Closed by #63130

[2022-05-20 09:58] #62721 closed, assigned to lukaszwilczakwilnet

[2022-05-20 10:11] Robertght opened #63860 "Twenty Eleven: Background patterns are not showing up on AT sites"
### Quick summary

Background patterns are not showing up on AT sites

Atomic vs Simple site comparison

![Uploading image.png…]()

### Steps to reproduce

1. On an AT site go to Appearance > Customize > Colors & Background section.
2. Try to pick a background pattern

### What you expected to happen

To see them

### What actually happened

They are missing, from the code as well.

### Context

5

[2022-05-20 10:12] Robertght commented on #63860
Previous report: https://github.com/Automattic/themes/issues/686

[2022-05-20 10:21] #61358 closed, assigned to sejas

[2022-05-20 10:40] #63300 closed, assigned to dsas, BogdanUngureanu, rcrdortiz, lukaszwilczakwilnet

[2022-05-20 10:46] cpapazoglou commented on #63853
This depends on each plugin **having** and **registering** a setup page. If it doesn't have such a URL we default to `wp-admin/plugins.php` in case there and WP Admin notices as next actions.

Probably it worths:
1) Mentioning this setup page as a prerequisite for all plugins in our development guidelines
2) Checking why some woo extensions don't have one

[2022-05-20 10:50] kavyagokul commented on #63860
Additional information on this — Clicking the More button under palettes makes the More button disappear as well. Tested and verified on a test site.

[2022-05-20 10:51] cpapazoglou commented on #63853
I suspect that the errors (which should be resolved) are unrelated to the broken CTA. It should be the Atomic transfer progress taking longer time. If you stayed in the same page without reloading the page you should have had the same results.

Here is a related issue https://github.com/Automattic/wp-calypso/issues/62067 to the time needed for a site to go Atomic. Perhaps it worths adding a progre

[2022-05-20 11:48] simison commented on #63853
Gotcha, yeah for internal plugins a setup page should always be there. Looks like the plugin also didn't get activated by default:

<img width="1198" alt="Screenshot 2022-05-20 at 14 44 50" src="https://user-images.githubusercontent.com/87168/169522110-760d7a6f-147e-4deb-9966-ec531a4e74b0.png">

I activated it but I'm still unsure where to go to setup it.

[2022-05-20 13:18] dragstor commented on #63747
35220622-HC

Posts are not filtered properly. I suggested using a Blog Posts block as a temporary solution.

[2022-05-20 13:35] simison commented on #63856
@paulbonahora can you help redirect this for pricing & packaging engineers? Thx!

[2022-05-20 13:45] simison commented on #63856
There could be more of these around? https://github.com/Automattic/wp-calypso/search?q=%22custom+design%22

[2022-05-20 13:48] dermotmccoy commented on #63747
Experiencing the same issue.. on wordpress.com site.
Using WordpressRecipeManager (WPRM) in combination with Query loop to filter on "keywords" category.

Had issues previously as well with this, using the "Recipe" post type (from WPRM) and it resolved once I renamed the "keywords" category to "keys" - but that fix is no longer effective as of the last few days. (coinciding with release of Gutenbe

[2022-05-20 14:15] zdenys opened #63868 "`Browse premium themes` under `My Plan` should link to Premium theme selection"
### What

On Premium, Business, eCommerce, and Pro Plan sites, at _My Site → Upgrades → Plans → My Plan_ there is a tile called **Try a premium theme**. It has the button `Browse premium themes` that links to https://wordpress.com/themes/. Instead, it should link to https://wordpress.com/themes/premium/

![image](https://user-images.githubusercontent.com/39308239/169546673-1d16eb98-db39-4506-828f-

[2022-05-20 14:41] TonyKent88 commented on #63604
I will do more digging but its not hotlink protection as disabled.
![IMG_1925 1](https://user-images.githubusercontent.com/104977772/169551971-460e285d-7f26-42e4-96dc-74934e052cbc.JPG)

[2022-05-20 16:11] ccwalburn commented on #62992
Another request here 35282567-hc.
Please notify them when it is fixed.

[2022-05-20 16:38] saygunnyc commented on #63794
I am sharing this image and some more notes to clarify the behavior.

<img width="1773" alt="Sticky" src="https://user-images.githubusercontent.com/78876323/169572926-34ebc62e-7670-4448-947a-00f079b0b8c3.png">

- Once the user scrolls down, we'd like to keep the header sticky, so users always have access to "Back" CTA and "Skip".
- The spacing between header and thumbnails should be 48px.
- The sp

[2022-05-20 16:44] saygunnyc commented on #63795
Just leaving a note here that, it's also the bigger resolutions. Allow me to track common resolutions from onboarding and will fill you in over here.

[2022-05-20 17:58] arunsathiya commented on #63823
@that-mike-bal 👋 I spotted several issues without any description: https://github.com/Automattic/wp-calypso/issues/created_by/that-mike-bal

May I ask if these are placeholders for something you'd be something very soon, or can they be closed?

[2022-05-20 18:11] darnelldibbles commented on #56781
Another report here: https://wordpress.com/forums/topic/align-text-left-command-shrinks-container-in-pull-quote-block/?view=all

[2022-05-20 18:11] darnelldibbles commented on #52519
Another report here: https://wordpress.com/forums/topic/align-text-left-command-shrinks-container-in-pull-quote-block/?view=all

[2022-05-20 18:22] allilevine commented on #63840
Closing.

[2022-05-20 18:22] #63840 closed, assigned to nobody

[2022-05-20 19:06] RafaelFunchal opened #63872 "[Bug]: My Site > Comments counting incompatible comment_type"
### Quick summary

Hi there!

The site reported on this Atomic Request (p9F6qB-9q2-p2) shows "All (18K)" on My Site > Comments (`https://wordpress.com/comments/{domain}`). The Comments Classic View (`domain/wp-admin/edit-comments.php`) shows "All (0)", though.

After analyzing the wp_comments table, I noticed all 18K comments have `comment_agent => WooCommerce` and `comment_type` is either `order_

[2022-05-20 19:11] Gustavo-Hilario commented on #59372
Another instance of this issue but now using the `Gallery` block: 5211171-zen

[2022-05-20 19:42] nelsonec87 commented on #62705
It affects both desktop and mobile.

The problem appears to be the `padding` setting on the parent block-group. `left` and `riight` paddings are set to `0`, which breaks the `.alignfull` styles.

Leaving `padding-left` and `padding-right` unset seems to fix the issue.

D81230-code

[2022-05-20 19:46] gibrown commented on #63717
Answered on that p2 thread.

[2022-05-20 19:52] helenaartmann commented on #56052
5230780 - zen also reported it.

[2022-05-20 20:05] villanovachile commented on #63604
I have another report that might be related here: 5231482-zen

They say the issue began about 2-3 weeks ago. Issue is affecting both featured images and images within post. Issue is affecting multiple users, on both Gmail, Outlook, and possibly others.

Full raw email can be seen in 35563119-hc

Ping me if you need any further information!

[2022-05-20 20:27] obenland commented on #59739
Closing in favor of #59735

[2022-05-20 20:27] #59739 closed, assigned to nobody

[2022-05-20 20:32] obenland commented on #60992
This seems to be fixed now, I assume after we moved the cart validator to using feature checks

[2022-05-20 20:32] #60992 closed, assigned to nobody

[2022-05-20 20:41] obenland commented on #59741
If premium plans should support site rewinds they can now be added to the rewinds feature.

[2022-05-20 20:41] #59741 closed, assigned to nobody

[2022-05-20 20:44] obenland opened #63875 "Trying to upgrade a legacy plan sends you to customer support. Can we just upgrade them?"
Users on legacy plans are asked to contact customer support to switch to a Pro plan on the [Plans page](https://wordpress.com/plans/). (They can also switch to a higher legacy plan.) However, user's with a Premium or lower legacy plan can switch themselves to a Pro plan from the banner on the [Plugins page](https://wordpress.com/plugins/).

Plans Page | Plugins Page
--|--
![contact-support-banner]

[2022-05-20 20:58] obenland opened #63878 "Atomic: Space Quota"
- [ ] Decide how a site should behave when it hits the quota. Soft limit? Hard limit?
- [ ] Implement it in a way that does not ping systems when a site on atomic uses 90% of available disk quota on atomic.

----

- [x] Start with defining a function that determines space for a site to be provisioned during transfer
  - [x] Helper: D81431-code : Adds `get_network_default_blog_upload_space()`
  - [

[2022-05-20 21:04] obenland commented on #54143
This should be fixed now, after the Marketplace changed the way the Plugins menu item works.

[2022-05-20 21:04] #54143 closed, assigned to nobody

[2022-05-20 21:04] obenland commented on #52986
Closing as all depending issues/PRs are closed.

[2022-05-20 21:04] #52986 closed, assigned to DustyReagan, allilevine

[2022-05-20 21:07] obenland commented on #54030
This is now fixed.

<img width="1510" alt="image" src="https://user-images.githubusercontent.com/1398304/169610588-fa873564-c1c3-4166-8e4d-9375f42c808a.png">

[2022-05-20 21:07] #54030 closed, assigned to nobody

[2022-05-20 21:09] obenland commented on #54031
This is now fixed.

The Featured area is now "Editor's pick" and accounts for plugins that are already installed

[2022-05-20 21:09] #54031 closed, assigned to nobody

[2022-05-20 21:11] obenland commented on #54033
Closing in favor of #55898.

[2022-05-20 21:11] #54033 closed, assigned to nobody

[2022-05-20 21:13] obenland commented on #54032
Fixed in 811-gh-Automattic/wpcomsh.

[2022-05-20 21:13] #54032 closed, assigned to nobody

[2022-05-20 21:15] obenland commented on #54034
This is resolved [by the new marketplace thank you page](https://github.com/Automattic/wp-calypso/issues/33066#issuecomment-1108514519).

[2022-05-20 21:15] #54034 closed, assigned to nobody

[2022-05-20 21:16] obenland commented on #54039
With the Marketplace the expectations have changed here. Plugins will now always point to Calypso's marketplace while Installed Plugins points to `/wp-admin/plugins.php`.

[2022-05-20 21:16] #54039 closed, assigned to nobody

[2022-05-20 21:39] nelsonec87 commented on #63691
The issue seems to be an incompatibility between the theme and the `subscribe-to-blogs` mu-plugin.
The plugin adds the form fields, and the theme's style puts all in the same `grid-area`, which makes them overlap.

It's possible to fix changing the theme's css, but I'm not sure this fix belongs there since the problem is dotcom related.

![image](https://user-images.githubusercontent.com/3801502/1

[2022-05-20 21:51] #55328 closed, assigned to nobody

[2022-05-20 22:59] ai2n commented on #57170
Seems the "Heart And Style by MeridianThemes" is also affected by this.

[2022-05-20 23:39] cometgrrl commented on #63303
@kerrynicl I think filing with Core would be a good start. They would know best if contacting Google is necessary

[2022-05-21 05:44] dermotmccoy commented on #63747
Loaded up the site today to investigate further.. and the problem has disappeared. - Query loops correctly showing the filtered posts again..
Jetpack shows no relevant updates in the last 8 hours that would push a code change for any WP plugins.
Not sure where to look for diagnostic feedback - Maybe a host / memory issue that's resolved over time?

[2022-05-21 11:08] dermotmccoy commented on #63747
Loaded up the site today to investigate further.. and the problem has disappeared. - Query loops correctly showing the filtered posts again..
Jetpack shows no relevant updates in the last 8 hours that would push a code change for any WP plugins.
Not sure where to look for diagnostic feedback - Maybe a host / memory issue that's resolved over time?

[2022-05-21 11:32] Robertght opened #63880 "[AT]Customizer: Colors & Backgrounds color bullets cut by the section below when selected"
### Quick summary

![image](https://user-images.githubusercontent.com/6737345/169649766-315dc9bd-7cbd-47a5-b0b3-0837c7112650.png)

### Steps to reproduce

1. Activate a theme with Colors & Background in the Customizer(e.g. Apostrophe 2, Rebalance, Twenty Eleven)
2. Click o one of the color bullets

### What you expected to happen

To see the section below the bullets

### What actually happened

T

[2022-05-21 13:25] arunsathiya commented on #63747
Some updates:

- Gutenberg 13.2.2 fixed this bug: https://github.com/WordPress/gutenberg/issues/41135#issuecomment-1131923762
- Gutenberg 13.2.2 was pushed to WordPress.com sites (both simple sites and those with a plugin installed, AKA Atomic sites) at 1800 UTC on May 20, 2022: p1653069685523539-slack-CB0B2G43X

Closing this issue as it's now fixed. @Automattic/dotcom-pqa-group, could you handle

[2022-05-21 13:25] #63747 closed, assigned to nobody

[2022-05-21 13:26] arunsathiya commented on #63747
Thanks for checking, @dermotmccoy! You don't see the issue anymore because of the reason I have noted here: https://github.com/Automattic/wp-calypso/issues/63747#issuecomment-1133634092

[2022-05-21 13:27] arunsathiya commented on #63756
Some updates:

- Gutenberg 13.2.2 fixed this bug: https://github.com/WordPress/gutenberg/issues/41135#issuecomment-1131923762
- Gutenberg 13.2.2 was pushed to WordPress.com sites (both simple sites and those with a plugin installed, AKA Atomic sites) at 1800 UTC on May 20, 2022: p1653069685523539-slack-CB0B2G43X

[2022-05-21 13:27] #63756 closed, assigned to nobody

[2022-05-21 13:30] arunsathiya commented on #63756
Customer on 5226399-zen that's noted on [this comment](https://github.com/Automattic/wp-calypso/issues/63756#issuecomment-1131148859) is informed already. ✅

[2022-05-21 13:36] aleone89 commented on #57226
Another report hc-35359390

[2022-05-21 16:52] arunsathiya commented on #36979
Since it has been many years since the original report, and no reports from other customers, I'll close this issue. Gutenberg and WordPress.com has changed a lot since 2019, so the issue isn't likely reproducible anymore.

[2022-05-21 16:52] #36979 closed

[2022-05-21 16:57] arunsathiya commented on #59526
@cometgrrl Came cross this issue as part of my guided triage work: pc4f5j-1Tr-p2. Do you know if we have plans to update that link to WordPress.com's as Denys noted above? Not sure if this falls under @Automattic/team-calypso's work, but tagging them too.

[2022-05-21 18:00] ClassicRKR27 opened #63881 "Embed Block: Featured Images hidden by Lazy Load when embedding posts from same site"
### Quick summary

Got a user report that when using an embed block that links to another post on the site, the featured image doesn't show.

### Steps to reproduce

1. Create a post with a Featured Image
2. Create another post and add an Embed block using the URL of the post created in step 1

### What you expected to happen

The Featured Image should show

### What actually happened

The Feature

[2022-05-21 19:03] arunsathiya commented on #61090
As part of my triage work here pc4f5j-1Tr-p2, I am moving this to Normal priority because it's not often that customers reach out for a site empty, and even we process an empty, the templates are cleared (as verified in my tests now)

It's just template parts that need to be reset/fixed manually.

Before:

<img width="894" alt="image" src="https://user-images.githubusercontent.com/18581859/1696657

[2022-05-21 19:03] ClassicRKR27 commented on #63262
5216679-zd-woothemes

This site is using the `Attar`. I found that the above workarounds work correctly - either exiting the `New Post` and trying again brings you to the `Site Editor`, or the more effective method of right-clicking the `Editor` link and opening it in a new tab works as well.

[2022-05-21 19:13] arunsathiya commented on #61090
I cannot reproduce this on a WordPress.org site with a reset database plugin. I changed H1 to H6 on a Site Title block, reset the site and then visited the same template.

![image](https://user-images.githubusercontent.com/18581859/169665974-d8df43b1-0aad-4b45-ab33-a1ed67bb846d.png)

![image](https://user-images.githubusercontent.com/18581859/169665978-8beac13f-651c-4771-9aa4-94b706d82350.png)

I

[2022-05-21 19:35] thekingsprojects commented on #63881
Another case here: 5233159-zen

Gave them the Lazy Load workaround to see if it helps.

I was also able to replicate this issue on a Simple test site. In my case this happened both with the above user's embedded post and a post from WP Tavern, so it seems to affect embeds from multiple/any WP site.

[2022-05-21 19:38] arunsathiya opened #63882 "WooCommerce and Twenty Twenty-Two: Password reset field doesn't align with reset button"
### Quick summary

Password reset field doesn't align with reset button on a WooCommerce-installed site with Twenty Twenty-Two theme.

<img width="1117" alt="image" src="https://user-images.githubusercontent.com/18581859/169666688-91ffd983-96ed-4386-95f8-929c7d8f77d3.png">

### Steps to reproduce

- Start with a WordPress website, can be WordPress.com or WordPress.org
- Install WooCommerce and Twe

[2022-05-21 19:38] arunsathiya commented on #63882
I am not sure if this belongs on Twenty Twenty-Two Trac or on `woocommerce/woocommerce`.

[2022-05-21 21:15] darnelldibbles commented on #62646
Another report from Twitter: https://twitter.com/UnwantedLife_Me/status/1527940257089523715

[2022-05-22 03:26] jordesign commented on #48804
Closing this as we're no longer actively selling QS sessions

[2022-05-22 03:28] jordesign commented on #44918
Closing this - as it is already being considered as part of pbAok1-2L4-p2w

[2022-05-22 03:28] #44918 closed

[2022-05-22 03:31] jordesign commented on #43540
Making the call to close this - based on the coming redesign.

pbAok1-2L4-p2

[2022-05-22 03:31] #43540 closed

[2022-05-22 03:36] jordesign commented on #41569
Closing this based on redesign work
pbAok1-2L4-p2

[2022-05-22 03:36] #41569 closed

[2022-05-22 03:44] jordesign commented on #54223
Closing this for now - as the number of QS sessions we still have (having discontinued them) is very minimal

[2022-05-22 03:44] #54223 closed, assigned to p-jackson, roo2

[2022-05-22 03:50] jordesign commented on #53171
This issue is resolved in the new My Home design - where there are different states for un/launched sites
pbAok1-2L4-p2

[2022-05-22 03:50] #53171 closed, assigned to nobody

[2022-05-22 03:52] jordesign commented on #52996
Closing this issue - as support docs will be handled differently in the new redesign.
pbAok1-2L4-p2

[2022-05-22 03:52] #52996 closed, assigned to nobody

[2022-05-22 03:54] jordesign commented on #52767
Closing this - as Stats in my Home are being considered as part of the redesign
pbAok1-2L4-p2

[2022-05-22 03:54] #52767 closed, assigned to nobody

[2022-05-22 03:55] #48804 closed, assigned to nobody

[2022-05-22 03:57] jordesign commented on #39948
Closing this - as the new (and upcoming flows) will replace this consideration.

[2022-05-22 03:57] #39948 closed

[2022-05-22 04:10] jordesign commented on #28570
Closing this as no longer relevant

[2022-05-22 04:10] #28570 closed

[2022-05-22 04:27] happychait commented on #54647
A customer asked for it in 5228545-zen

[2022-05-22 04:41] formosattic commented on #63881
+1 5233352-zd-woothemes

[2022-05-22 05:45] mashikag commented on #63063
Fixed in: D80544-code

[2022-05-22 06:06] sharonlaker19 opened #63883 "Make "Type / to choose a block" easier to understand"
### What

User requested in 5233693-zen that we update the text to say **Type "/" to choose a block**

I never registered that, because to me it looked like „type, or choose a block“.
Maybe if you alter the text to simply say „ Type "/" to choose a block „
then it will be more clear that someone has the option to type in a slash.

### Why

Makes the UI for adding a block to a post/page clearer and

[2022-05-22 06:17] FreedomFighterSparrow commented on #63063
@mashikag, thanks!
As I don't know your process - when are fixes deployed?

[2022-05-22 07:02] vinnykaur commented on #63881
One more - hc-35099419

[2022-05-22 10:24] tellisbethel commented on #53626
Another case here: 5233808-zd-woothemes -
Pro plan site was set to Public but live it showed Coming Soon. Asked user to switch to Private (there was no Coming soon option) and Public again.

[2022-05-22 11:43] sudeepbaral commented on #45586
Another reported issue here: [zen-5232505](https://woothemes.zendesk.com/agent/tickets/5232505)

Tested it on my test site with Blog ID: 206392072 and I am also seeing an error `It looks like we're unable to reach that website address at this time. (ID: b8bc9eb4-c555-4198-af52-3320afc79ca6)`

Wix site: `karlclare.com`

I have asked them for Wix site address.

[2022-05-22 12:50] ChrissiePollock opened #63899 "Stats: Maldives do not appear in the right location on map"
### Impacted plugin

Jetpack

### What

Maldives show in the wrong location.

### How

Suggested in #5233963-zen where it's stated: In the Jetpack status page (County maps), the Country (Maldives) is shown in a terrible way.

![SAVE_20220522_061953](https://user-images.githubusercontent.com/2545184/169695934-c55269d6-c325-451a-9c80-9c30f9088885.jpg)

[2022-05-22 13:37] sharonlaker19 commented on #63479
I have also had two of the same error when trying to edit the theme now. One was using Astra in 35508391-hc and another was on Balasana in 5234637-zen.

For both users, I was able to resolve by running a `jetpack sync start` in CLI. Seems to be an issue with newly created sites that switch to a non-FSE theme.

[2022-05-22 17:19] jp-imagines commented on #52182
Another in 35512156-hc. Shared the workaround of zooming in/out in their browser to have the cropping controls appear.

[2022-05-22 20:29] jp-imagines commented on #45586
Another report in 5235478-zd-woothemes: `It looks like we are unable to reach that website address at this time. (ID: 57e5a057-6587-4899-8311-427debc52276)`

Wix site: `dealerosity.com` (asking for the free Wix address now)

[2022-05-22 20:48] masperber commented on #50574
Another report here 35581283-hc / 5234941-zen

In this case it was an SP17, but the price was not negative or otherwise malformed. The buttons had previously disappeared due to a conflict with the All in One SEO plugin. After removing the plugin, the buttons appeared again, but clicking them produced the SP17 error.

I found a workaround by removing the Pay with PayPal Block and replacing with ano

[2022-05-23 00:45] rw-ye commented on #53027
Another request here: 35392659-hc

Suggested Cloudflare

[2022-05-23 02:05] lsl commented on #63587
Only able to see this with infinite scroll enabled.

[2022-05-23 02:58] SaxonF commented on #63711
@cpapazoglou this was actually unintentional so we can remove this issue. I've updated P2

[2022-05-23 03:01] SaxonF commented on #63684
@cpapazoglou what do you think about removing the price toggle completely from the list page? If someone changes the price setting from within a plugin, that will also be reflected in the list page. We would default to monthly.

[2022-05-23 03:04] SaxonF commented on #63715
happy to keep it if you think it's helpful. This was before my time so missing some context. If a plugin is part of a category we could show category name with link to the category instead.

[2022-05-23 03:07] SaxonF commented on #63713
We can remove this one for now too @cpapazoglou .

[2022-05-23 03:35] SaxonF commented on #63714
@cpapazoglou let's keep whatever related info we have in there at the moment , so this task is really just wrapping in the sidebar which is a dependant of https://github.com/Automattic/wp-calypso/issues/63684
![image](https://user-images.githubusercontent.com/1072756/169738210-d66d4370-f0bd-4ed1-a7b6-2cc82646b6b4.png)

[2022-05-23 03:41] SaxonF commented on #63716
We'll want to do a cleanup on plugin content typography at some point but I'd like to have a broader discussion around standardising our type scales across the entire platform first

[2022-05-23 03:58] p-jackson commented on #49847
It is working as expected. But it wasn't what you expected, so maybe "as expected" isn't so expected after all 😃

Fixing this particular case would require special-casing the theme showcase view. But I'm wondering whether maybe the My Sites link in the top bar should _always_ return the user to My Home. That's how the Reader link behaves i.e. it always returns the user to the root of the Reader.

[2022-05-23 04:32] SaxonF opened #63887 "Plugin Details: Manage plugin in sidebar"
### Details

When in a single site and viewing a plugin that has been installed, I want to be able to control the status of that plugin.

This task takes the actions from the existing "Installed on" table within the plugin detail page and moves them into the sidebar, replacing the purchase button.

![image](https://user-images.githubusercontent.com/1072756/169743740-497af161-f9bf-4e58-8ff5-6e7549a

[2022-05-23 04:38] SaxonF opened #63888 "Plugin Details: Manage site plugins"
### Details

Details
When in a multi-site context and viewing a plugin that has been installed on at least 1 site, I want to be able to control the status of that plugin across sites. f84fqtCG4pCnCh2Hq0But5-fi-1953%3A23616

This task moves the existing "Installed on" table into a modal triggered by a "manage sites" button within the sidebar.

![image](https://user-images.githubusercontent.com/1072

[2022-05-23 04:59] SaxonF commented on #63031
@saygunnyc @taipeicoder I don't see any issue pushing this but might want to monitor post release via Full Story to make sure people are scrolling on mobile.

[2022-05-23 05:15] devNigel opened #63891 "Purchases: Misleading description on domain purchase details."
### Quick summary

The description for domain registration purchase is misleading.

Purchasing or registering a domain is not enough to replace the free site address. Users also need paid plan or addon.

### Steps to reproduce

1. Go to the Purchases page in an account with a domain.
2. Check details of domain registration purchase.

### What you expected to happen

The description should not be m

[2022-05-23 05:55] lsl opened #63893 "Marketplace: Dont hide categories on search results / top paid / top free pages"
Context: https://github.com/Automattic/wp-calypso/pull/63846#issuecomment-1134211561

I'm wondering how we can show the category bar on search results or "top paid" / "popular" pages.

Right now we're hiding it which is a bit jarring.

We could add in a "Search" "category" in slot 0 when a search is active. or "Top Paid" when that is in view.

- [x] Needs design - see below for follow ups now in p

[2022-05-23 06:13] devNigel commented on #63009
Hi team, please update 5213173-zd on a new ticket once the issue is fixed. I have closed the existing one. Thanks!

[2022-05-23 06:32] SaxonF commented on #63893
@lsl like you mentioned the filter bar should be persistent and eventually also include search.

Thinking something like the below where if someone performs a search, clicks a category, or scrolls past category list/filter bar, search is added to the bar. This is essentially the search page. In the case of collections like "Top Premium" we may want to differentiate these slightly from generic sear

[2022-05-23 06:36] simison commented on #63880
@jeffikus anything recently changed Themes where this feature is coming from?

[2022-05-23 06:37] lsl opened #63896 "Marketplace: Section off search from categories with top border"
- [ ] Top search is sectioned off and bottom section has subtle gray we use in onboarding which I believe is #fdfdfd

![image (2)](https://user-images.githubusercontent.com/811776/169758399-1cc9dc23-700c-460e-90ff-c8ab6ac63784.png)

[2022-05-23 06:38] lsl opened #63897 "Marketplace: Make most popular searches one line"
- [ ] Most popular searches can be bumped to one line

![image (2)](https://user-images.githubusercontent.com/811776/169758399-1cc9dc23-700c-460e-90ff-c8ab6ac63784.png)

[2022-05-23 06:39] lsl commented on #63893
At the moment I've dropped these titles in favor of treating them like any other categories: see after shot here https://github.com/Automattic/wp-calypso/pull/63892

![Screenshot 2022-05-23 at 15-46-53 Plugins — WordPress com](https://user-images.githubusercontent.com/811776/169751672-c2af7122-2f5d-4509-b1fc-19489cdd57c4.png)

Should we change this title to be a normal title for all categories or

[2022-05-23 06:57] SaxonF commented on #63893
I think we can reserve titles for special categories like top paid / top popular and any other hand curated collections we create.

When clicking on a category or performing a search or diving into a collection (e.g. top paid), what I'm proposing is to just minimize the top search section so that it becomes part of the filter/category bar. This becomes the search template that we use for all types

[2022-05-23 06:58] lsl commented on #63790
We're leaning towards remove with this PR: https://github.com/Automattic/wp-calypso/pull/63895, @SaxonF asked for confirmation from @cpapazoglou [here](https://github.com/Automattic/wp-calypso/pull/63890#issuecomment-1134231698).

[2022-05-23 07:09] jordesign commented on #54194
This will no longer be relevant with the new Help Center work that is coming

[2022-05-23 07:09] #54194 closed, assigned to nobody

[2022-05-23 07:37] lsl commented on #63896
Duplicate https://github.com/Automattic/wp-calypso/issues/63837

[2022-05-23 07:37] #63896 closed, assigned to nobody

[2022-05-23 07:49] lsl commented on #63893
I don't think these special categories are all that special.

They've also made quite a mess in the code. Anything we can do to limit the amount of branching we do around these things would be helpful.

Re the top bar category + search, looks good but I want to see what mobile needs to look like before we do anything as its going to need a bit of a shuffle to get everything in the right place acro

[2022-05-23 07:50] lsl commented on #63835
New titles are shown in https://github.com/Automattic/wp-calypso/pull/63892 however @SaxonF [mentioned we might end up changing this](https://github.com/Automattic/wp-calypso/issues/63893#issuecomment-1134238907) quite a bit.

Not sure if we want to move a head with these yet.

[2022-05-23 07:52] lsl commented on #63836
Currently broken, [fix here](https://github.com/Automattic/wp-calypso/pull/63892/files#diff-5f810f235f482f66fc187373ac78dba89f5f77a9fd5abb3b1833a38a8f8fb3a3R197-R199)

[2022-05-23 08:03] #63711 closed, assigned to nobody

[2022-05-23 08:06] SaxonF commented on #63893
Will work on that tomorrow @lsl

[2022-05-23 08:07] cpapazoglou commented on #63684
That's a very good idea, billing interval choice doesn't have to be so early in the flow.

[2022-05-23 08:08] cpapazoglou commented on #63715
@Automattic/explorers I believe can we map tags to category links, right?

[2022-05-23 08:09] #63713 closed, assigned to nobody

[2022-05-23 08:34] bogiii opened #63900 "Move the light importer screen to the stepper framework"
- [x] Register `importLight` route
- [x] Move code-base from `steps` to the `blocks`
- [x] Add feature feature flag
- [x] Integrate capture screen from the import-light module

[2022-05-23 09:36] janmckell opened #63901 "Quadrat White - No Comments via Post Comment Block"
### Quick summary

This occurs on Quadrat White theme with the Post Comments Form on the Single Post template.

When that template is used for a post, no comments show up on the form.

When the 'Post Comments' block is used, it shows up, but the 'Post Comments Form' block does not show when used.

Two tests resulted in the same result.

I could not replicate this a third time, but posting it even

[2022-05-23 09:37] gcsecsey commented on #63168
Closing as duplicate of #61993

[2022-05-23 09:37] #63168 closed, assigned to nobody

[2022-05-23 09:41] gcsecsey opened #63902 "Marketplace search: fork the site search v1.3 endpoint"
Create a new endpoint to query marketplace results from the `jetpack-search` index.

Thread: pdh6GB-Mm-p2#comment-1585

We have a diff with search groups and additional fields, these also need to be moved to the new endpoint: D80554-code

[2022-05-23 09:45] gcsecsey commented on #63166
We will be forking the v1.3 endpoint in https://github.com/Automattic/wp-calypso/issues/63902 to customize it to our use cases. Once the new endpoint is deployed, we can create the API client based on the https://github.com/Automattic/wp-calypso/pull/63243 draft.

[2022-05-23 10:22] #62992 closed, assigned to nobody

[2022-05-23 10:28] mashikag commented on #62989
Closing this ticket as the new e-mail templates for "New comment", "Pingback" and "New like" were all reverted for now. The old template is applied for those.

[2022-05-23 10:28] #62989 closed, assigned to nobody

[2022-05-23 10:28] mashikag commented on #63346
Closing this ticket as the new e-mail templates for "New comment", "Pingback" and "New like" were all reverted for now. The old template is applied for those.

[2022-05-23 10:28] #63346 closed, assigned to nobody

[2022-05-23 10:28] mashikag commented on #63004
Closing this ticket as the new e-mail templates for "New comment", "Pingback" and "New like" were all reverted for now. The old template is applied for those.

[2022-05-23 10:28] #63004 closed, assigned to nobody

[2022-05-23 10:29] mashikag commented on #63372
Closing this ticket as the new e-mail templates for "New comment", "Pingback" and "New like" were all reverted for now. The old template is applied for those.

[2022-05-23 10:29] #63372 closed, assigned to nobody

[2022-05-23 10:37] gcsecsey opened #63903 "Marketplace search: Add WC.com product fields to the `jetpack-search` index"
Since was deployed, WC product results started being indexed to the `jetpack-search` index, and some fields can already be queried.

Example query: https://public-api.wordpress.com/rest/v1.3/marketplace/search?group_id=woocommerce&query=woocommerce&fields[0]=slug&fields[1]=author&fields[2]=title.default

### Search results
I've updated the table of fields needed for search results with the JP sear

[2022-05-23 10:37] #63330 closed, assigned to BogdanUngureanu

[2022-05-23 10:38] BogdanUngureanu commented on #63330
r246115-wpcom

[2022-05-23 10:38] BogdanUngureanu commented on #63329
r246115-wpcom

[2022-05-23 10:38] #63329 closed, assigned to BogdanUngureanu

[2022-05-23 10:40] gcsecsey opened #63905 "Marketplace search: get all search results with one request (mixing .org and .com results)"
Support querying for both WC.com and WP.org results on the endpoint.

[2022-05-23 10:52] miksansegundo commented on #63314
**Diffs**

- [Implement viewing/editing/deleting recipe](https://code.a8c.com/D80054)
- [Update recipe endpoint](https://code.a8c.com/D80427)

[2022-05-23 11:02] wojtekn commented on #49847
@p-jackson I played with that menu. My first thought was that current behavior is good - it does nothing, as those two links are technically tabs, and clicking on the currently active tab should not necessarily do anything.

Then based on your idea, I reviewed how it works in the context of the Reader experience, and I agree with you - it would make sense to make it consistent and let "My Sites" a

[2022-05-23 11:13] sejas commented on #49847
Yes! I agree.
Keeping the link always will improve the general UX. Let's go for it 💪 .

I took the approach of modifying only the theme in the first place to avoid making a broad change. And because the theme section has a different treatment already. It's the only full-width section, and it hides the left menu with CSS.

[2022-05-23 11:42] ivan-ottinger commented on #63604
Thank you for your report @villanovachile, I have reviewed the case.

The _New Post_ email notification doesn't include the Featured image. We originally added the Featured image to the notification, but then decided to pull it out because of the feedback we received. Here is the [related thread](https://github.com/Automattic/wp-calypso/issues/62994#issuecomment-1131427030).

The images added to t

[2022-05-23 12:01] #62238 closed, assigned to bogiii

[2022-05-23 12:01] #63121 closed, assigned to bogiii

[2022-05-23 12:11] dsas commented on #50574
@masperber I don't have access to that ticket even though I'm logged in. I can't make the buttons disappear just by installing all-in-one-seo and I can't trigger an SP17 error.

Looking at the logs there was a Jetpack connection issue for a short while before the errors started happening. So there _might_ be two issues, one something to do with all-in-one-seo somehow sometimes breaking the paypal

[2022-05-23 13:21] cpapazoglou commented on #58457
I believe this is tackled by now. Let's reopen if needed.

[2022-05-23 13:21] #58457 closed, assigned to vajrasar

[2022-05-23 13:22] #57816 closed, assigned to dlind1

[2022-05-23 13:27] adrianduffell opened #63909 "Tour Kit: Add ability to remove minimize functionality"
## User Story

As a WooCommerce developer, I want to hide the minimize button and disable its functionality, so that I can provide a consistent Woo UI.

## Acceptance Criteria

* Provide a way to disable the minimize functionality through a configuration option.

[2022-05-23 13:39] gcsecsey commented on #63902
Index updates diff: D81205-code

[2022-05-23 14:00] ivan-ottinger opened #63910 "[UI] Create the `GoalsStep` skeleton component"
- introduce new `StepContainer` layout, or try to make use of a mix of current layout props
- keep mobile design in mind

[2022-05-23 14:06] bogiii opened #63911 "Light importer: adjust screens with a new design"
Light importer design: 42PgVsdlQ1v2wpk6lmmrnq-fi-1821%3A54036

[2022-05-23 14:25] mashikag opened #63913 "[Data] Add 'goals' into onboard data store."
### Details

Add a new ‘goals’ key into the `ONBOARD_STORE`
- Add selector, reducer, and create the action to set the `goals`
- Resolve ‘intent’ state variable based on the stored `goals`
(Requires defined logic which is to be applied - [Saygun Erkaraman] - decision matrix)
- Mind the `intent` is used in few other steps of the flow
- Ensure no regression in their behavior

### Checklist

- [ ]
- [

[2022-05-23 14:28] mashikag opened #63915 "[Data] Integrate site-goals API into the onboarding setup flow"
### Details

### Checklist

- [x] Implement `GET` api for retrieving site-goals.
- [x] Implement `POST` api for saving site-goals.
- [ ] Integrate API with Goals Capture step.

### Related

_No response_

[2022-05-23 14:31] cpapazoglou commented on #63166
Let's get a WIP from https://github.com/Automattic/wp-calypso/issues/63902 and get this started asap.

[2022-05-23 14:49] ivan-ottinger opened #63916 "[UI] Build the `SelectCard` component"

[2022-05-23 15:24] Copons opened #63919 "Dotcom Marketplace: Add "Composite Products" to the Dotcom Marketplace"
We'll add the **[Composite Products](https://woocommerce.com/products/composite-products/)** Woo extension to the marketplace

FG page with all the instructions - PCYsg-AhC-p2

Here are 2 examples of recent integration works:
https://github.com/Automattic/wp-calypso/issues/63083
https://github.com/Automattic/wp-calypso/issues/63300

[2022-05-23 15:33] ivan-ottinger opened #63920 "[UI] Create the `GoalsScreen` and build the `SelectGoals` component"
- Handle multiple card selections
- Store goals selection list alongside `GoalsScreen` component

[2022-05-23 15:34] ivan-ottinger opened #63921 "[UI] Implement the step submit action"
- Store selection in redux store
- Array of selected values in the correct selection order

[2022-05-23 15:35] ivan-ottinger opened #63922 "[UI] Implement the URL flag to display `GoalStep` the skeleton component"

[2022-05-23 16:06] markbiek opened #63923 "Update Blockbase-Premium with title tag issue fix"
### Details

We recently merged [#6019 ](https://github.com/Automattic/themes/pull/6019) to fix duplicate title tags.

This fix needs to be applied to Blockbase-Premium.

### Checklist

_No response_

### Related

5702

[2022-05-23 16:30] andres-blanco commented on #63830
<img width="1701" alt="image" src="https://user-images.githubusercontent.com/375980/169865714-f8a8199f-3c80-4c63-9e66-606bdef8e890.png">

This is where we end up now

[2022-05-23 16:42] blackjackkent opened #63925 "Stepper Onboarding - Establish requirements for help icon behavior"
In Slack discussions relating to https://github.com/Automattic/wp-calypso/pull/63870, it was determined that implementation of the floating Help icon (Inline Help) in Stepper onboarding has overarching design concerns. Let's follow up on establishing more concrete requirements on how (or if) we should be re-introducing this component into the onboarding experience.

[2022-05-23 16:44] markbiek commented on #55383
Here's a list of the themes in the theme repo that have github.com urls for the `Theme URI`.

Please check off themes as they get updated:

[ ] alves
[ ] appleton
[ ] arbutus
[ ] archeo
[ ] balasana
[ ] barnsbury
[ ] blank-canvas-blocks
[ ] block-canvas
[ ] blockbase
[ ] brompton
[ ] calm-business
[ ] coutoire
[ ] dalston
[ ] elegant-business
[ ] exford
[ ] friendly-business
[ ] geologist
[ ] geol

[2022-05-23 17:13] ccwalburn commented on #35963
Another report here: 32024604-hc

[2022-05-23 18:28] allilevine commented on #63191
First step is a p2 post, see p1653330277142129/1653267414.312709-slack-C03FE3T479R

[2022-05-23 18:32] CodeAllNightNDay opened #63931 "Videomaker theme: Single page template intermittently showing homepage content"
### Quick summary

I have a user who installed the Videomaker White theme and there is an issue with the single page template. When you first go to Appearance > Editor and pull up the single page template, it is also showing the homepage content from a single standalone page set as the homepage. If you navigate to the templates and go back to the single page template from there, then you see the s

[2022-05-23 18:32] CodeAllNightNDay opened #64235 "FSE: Single page template intermittently showing homepage content"
### Quick summary

I have a user who installed the Videomaker White theme and there is an issue with the single page template. When you first go to Appearance > Editor and pull up the single page template, it is also showing the homepage content from a single standalone page set as the homepage. If you navigate to the templates and go back to the single page template from there, then you see the s

[2022-05-23 18:37] WBerredo commented on #63544
** Determine experiment type** step:

We decided to go with A/B experiments where one variant will the current version in production (searching in WP.com and WP.org) and the other variant will be the new version (searching on the ElasticSearch Index)

[2022-05-23 19:06] Addison-Stavlo opened #63933 "Investigate existing checklist API for Guided Tour usage."
Related to the upcoming guided tour project (paYE8P-1xk-p2) we should investigate whether or not the existing checklist API will fit our needs.

[2022-05-23 19:06] Addison-Stavlo commented on #63933
Findings discussed here - paYE8P-1Dc-p2

[2022-05-23 19:06] #63933 closed, assigned to mattwiebe

[2022-05-23 19:09] Addison-Stavlo opened #63934 "Investigate TourKit for upcoming Guided Tour Project."
Related to the upcoming guided tour project (paYE8P-1xk-p2) we should investigate the readyness of the TourKit component and its ability to spotlight elements both inside and outside of the editor canvas iframe.

[2022-05-23 19:10] Addison-Stavlo commented on #63934
related PR - https://github.com/Automattic/wp-calypso/pull/63576

[2022-05-23 19:34] csabarakasz opened #63935 "Favicon image gets cropped and renamed automatically"
### Quick summary

User reported, but two HEs replicated it as well, and I found reports of it on redit from two years ago.

When I upload a favicon which is 512x512 px exactly, it will automatically get cropped (which is not a real crop) and also duplicated and renamed on the site. This can hurt SEO according to some.

https://user-images.githubusercontent.com/84539773/169892141-8134357c-ea01-4f9

[2022-05-23 20:30] allilevine commented on #63715
@cpapazoglou Yes, that's [what we did](https://github.com/Automattic/wp-calypso/tree/trunk/client/my-sites/plugins/categories) for the categories menu. So here we would show the tags as categories, if they match? cc @lsl @Rolilink

[2022-05-23 20:38] sixhours commented on #63687
We need to do the same for the Anchor flow. Maybe worth creating a shared hook?

[2022-05-23 21:38] mreishus commented on #63878
Start with defining a function that determines space for a site to be provisioned during transfer - D81323-code

[2022-05-23 22:04] lsl opened #63938 "Marketplace: Hide footer on infinite scroll result pages"
Infinite scroll functionality feels flaky with the footer in place, it interferes with the triggering.

- [x] Remove the /plugins page footer from view when on search results or category display pages (anywhere infinite scroll is used)

[2022-05-23 22:14] mxhassani opened #63939 "Twenty Twelve submenu hidden under slideshow block"
### Quick summary

On a site that has submenu elements, if the first element of the page is a slideshow, it may hide the submenu elements

### Steps to reproduce

1. Activate the theme Twenty Twelve
2. Add 3 elements to the same submenu on the site
3. Add a slideshow at the start of a page

### What you expected to happen

Moving the mouse over the submenu will show the menu elements over the slid

[2022-05-23 22:15] lsl opened #63940 "Marketplace: Combine search and category browsing routes"
- [x] Move plugin categories under `/plugins/browse/:category` routes and out of `/plugins/:pluginOrSiteOrCategory`
- [ ] Try to simplify [this code](https://github.com/Automattic/wp-calypso/blob/9e41858a07e5e404f28e7da7e82afb4197b5416d/client/my-sites/plugins/controller.js#L133)

Suggestion from https://github.com/Automattic/wp-calypso/issues/63030

[2022-05-23 22:23] lsl opened #63941 "Marketplace: Replace jetpackcanUpdate with a hook and more appropriate rendering of the route"
In the marketplace /plugins/manage/ area we have an updates tab (read: filter).

When on a jetpack site, if you don't have access to write updates we redirect to /plugins/manage in this [middleware](https://github.com/Automattic/wp-calypso/blob/9e41858a07e5e404f28e7da7e82afb4197b5416d/client/my-sites/plugins/controller.js#L152-L171).

- [ ] Move the middleware logic to a hook and
- [ ] appropriate

[2022-05-23 22:30] lsl opened #63942 "Marketplace: Combine and simplify render methods"
[These types of functions](https://github.com/Automattic/wp-calypso/blob/9e41858a07e5e404f28e7da7e82afb4197b5416d/client/my-sites/plugins/controller.js#L109-L122) (there are more than 2) should just render the browser which can use a hook to get the selected site ID.

- [ ] Try to remove `getSiteFragment` calls from the marketplace controller code moving over to `getSelectedSiteId` usage in the `P

[2022-05-23 22:34] lsl commented on #63030
Moved everything to new issues with clear outcomes.

[2022-05-23 22:34] #63030 closed, assigned to nobody

[2022-05-23 22:57] p-jackson commented on #49847
There hasn't been too much designer input on the slack thread other than "we're changing this area soon". So if you think it's an improvement I think it's fine to do. I just don't want to complicate the component with special-casing depending on context. So making it work more like the Reader link should be fine.

[2022-05-24 00:15] Greatdane commented on #61293
Another confused user. I wish we could calculate how much time we have to spend weekly on answering questions from users 😢
5226320-zd-woothemes

[2022-05-24 00:49] supernovia commented on #63802
Thank you for reporting this!

Closing for this issue & we'll note this case. https://github.com/Automattic/wp-calypso/issues/63479

[2022-05-24 00:49] #63802 closed, assigned to nobody

[2022-05-24 00:56] supernovia commented on #63479
I was able to reproduce this on an older site just by switching to Twenty Twenty.

[2022-05-24 02:42] rw-ye opened #63944 "[Gutenberg 13.3.0-rc.1] FSE: The Site Editor does not load"
### Quick summary

During our team testing, we found that the site editor does not load while using an FSE-compatible theme.

<img width="1792" alt="Markup 2022-05-24 at 12 37 01" src="https://user-images.githubusercontent.com/21261509/169937252-29171316-91b7-4a79-9d0c-ff1e16aa0bcd.png">

- Self-hosted sites are working normally.
- Non-a11n accounts are also impacted.

**Error in Console**

[code]

[2022-05-24 03:41] p-jackson commented on #62985
@daledupreez do you mind if I reserve this for @danielbachhuber to start working on Monday?

I think there's a quick and a long term fix here. The quick fix is to have the sidebar ignore the collapsed sidebar setting. The bigger fix would be to design a collapsed version of the `/me` sidebar. The sidebar as it is today doesn't have a button for toggling the collapsed-ness of the sidebar so I don't

[2022-05-24 04:14] nagpai opened #63946 "Anchor FM - Site not visible after creating a new account and connecting"
### Quick summary

Difficult to reproduce. I have seen isolated incidents, especially with Atomic sites. Users try to create a new account and link their WordPress.com sites with it. They are unable to see the site within the Anchor FM account.

Anchor FM support responds by saying they do not support Jetpack sites. Are these sites caught as self hosted sites?

Ticket
5229334-zd

Tickets may autoc

[2022-05-24 04:36] p-jackson commented on #61974
Reserving this one for @danielbachhuber starting Monday

[2022-05-24 05:17] nagpai commented on #63812
Another issue
5239206-zd
The day they have shown is within 24 hours though, and I have let the user known that we need time to correlate. If that is indeed the case, then it would be a good idea to show some indication to the user that the stats are still being worked upon for that date and may not be accurate.

[2022-05-24 05:20] dkd903 commented on #63186
Apologies for the delayed updates on this, got busy with Reboot training stuff. I found out that the following logic sections are currently not handles in the new flow:

1. Redirecting the user to Add domain flow (with flag set)
2. Check for whether or not the plan is available for the user
3. Check for atmic site conversion
4. Is redirect set

Of the above four, I have made changes for the first

[2022-05-24 05:27] jromales commented on #63881
another report in 5239232-zd-woothemes. I disabled Jetpack Lazy Load as workaround

[2022-05-24 06:32] rw-ye commented on #63881
+1 5239071-zd-woothemesshared workaround in chat.

[2022-05-24 07:58] cpapazoglou commented on #63715
Yes, we can show them as links only if the match and ignore the rest that don't match.

[2022-05-24 08:11] simison commented on #62412
@Addison-Stavlo this feels like it deserves some publicity via P2ing? e.g. at dotcomdesign p2 or themedev p2

[2022-05-24 09:00] ivan-ottinger opened #63950 "[New Comment] Missing styles"
There have been reports of missing CSS styles in the _New Comment_ email notiication.

Reports: 5230129-zd-woothemes
Related Slack discussion: p1653325998526099-slack-C02TCEHP3HA

[2022-05-24 09:32] daledupreez commented on #62985
@p-jackson, that's totally fine from my perspective! Hopefully you can get the issue addressed soon!

[2022-05-24 09:49] cpapazoglou commented on #57949
Since our new pricing & packaging (pdgrnI-iV-p2), the ecomm plan is not available anymore. The pro plan doesn't provision any plugins.

[2022-05-24 09:49] #57949 closed, assigned to nobody

[2022-05-24 10:17] zdenys commented on #63699
One workaround is to use [Latest Posts Block](https://wordpress.com/en/support/wordpress-editor/blocks/latest-posts-block/) or [Query Loop Block](https://wordpress.com/en/support/full-site-editing/theme-blocks/query-loop-block/).

I mentioned that to the user in 5220599-zd-woothemes

[2022-05-24 10:37] Robertght commented on #63479
Closing this in favor of https://github.com/Automattic/wp-calypso/issues/62755# as per p1653353850460649-slack-C01UW7SB411

[2022-05-24 10:40] Robertght commented on #62755
Thank you @creativecoder !

As per the above ticket, this might land in WordPress 6.0.1.

[2022-05-24 11:05] gcsecsey commented on #63902
Diff created for the new endpoint: D81357-code

[2022-05-24 11:50] jeroenpf commented on #62623
The issue here is related to the way we determine what platform the site is running on. For sites not hosted on wordpress.com, we check the response headers for the `generator` or `x-powered-by` header. When a site is in maintenance mode, the response HTML or headers don't have any information we can use to reliably determine whether the site is running on WordPress.

An option we could explore to

[2022-05-24 12:01] andres-blanco commented on #63704
Hey @pmcpinto! Can you explain a little bit further? Are you saying that when the user clicks on this button
<img width="275" alt="image" src="https://user-images.githubusercontent.com/375980/170029647-a4ce1dcd-89f7-4efa-ad8f-e325db29bd38.png">
on a WooCommerce site it should redirect to the onboarding flow where this data is initially loaded?

[2022-05-24 12:08] markbiek commented on #63923
There are a number of other changes that are going to be deployed as part of this update. The current version of blockbase-premium is v2.0.15 and this update will take it up to v2.0.35.

That means testing all of the premium themes that are children of blockbase-premium:

- [ ] baxter
- [ ] videomaker-white
- [ ] payton
- [ ] videomaker
- [ ] alonso
- [ ] kerr
- [ ] skivers
- [ ] byrne

[2022-05-24 12:27] dsas commented on #50574
HEs finding this issue, if you have an SP17 error being reported please can you try this **potential workaround** and report back to me whether it fixes it

1. Open Jetpack Debug from the BRC
2. Scroll down to Sync Validation
3. Press 'Schedule checksum'
4. Wait a short while for the job to run (can be a couple of minutes)
5. Refresh the page to check the results
6. If the output includes 'WP.com

[2022-05-24 12:42] jeroenpf commented on #62623
I've created a diff for this issue: D81366-code
@vishnugopal could you have a look? :-)

[2022-05-24 12:56] andres-blanco commented on #63687
Sure! It could then be used from the [`userAssertConditions`](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/site-setup-flow.ts#L347)  callback on both flows 👍

[2022-05-24 12:56] mashikag opened #63959 "[Data] Implement a hook providing a list of goals for UI to display"
### Details

Implement a hook providing a list of goals for UI to display.

List of goals:
![Screenshot 2022-05-24 at 14 55 39](https://user-images.githubusercontent.com/2019970/170039887-65562ddf-5e14-4895-8bec-c5b9494b28a2.png)

### Checklist

_No response_

### Related

_No response_

[2022-05-24 13:19] andres-blanco commented on #63830
On the current Stepper flow we end up here:
<img width="1550" alt="image" src="https://user-images.githubusercontent.com/375980/170044710-64f91b75-c25c-4fcd-8e44-f79dab9d38cc.png">

[2022-05-24 13:20] masperber opened #63962 "Migrating in a Jetpack connected site can cause a duplicate site to appear in Calypso"
### Quick summary

If a user has a Jetpack connected site and then migrates that site to WordPress.com, the site can appear in Calypso twice. This will cause only one of the two sites to be accessible within Calypso because both sites have the same URL.

### Steps to reproduce

1. Add a Jetpack-connected self-hosted site.
2. Migrate the site to WordPress.com
3. Now there will be two sites with the

[2022-05-24 13:29] #63587 closed, assigned to lsl

[2022-05-24 13:31] #63069 closed, assigned to nobody

[2022-05-24 13:35] that-mike-bal opened #63964 "[Type] Bug"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-24 13:43] #63586 closed, assigned to lsl

[2022-05-24 14:41] marcuswisecaesar opened #63967 "Post Streak Miscalcuation"
### Quick summary

A user is getting two conflicting "post streak" notifications in the WP.com reader: 700 days without missing a day, and then 480 days. They're confused by that and believe they've been publishing for 700d non-stop.  Does deleting posts from the past year affect the streak calculation?

### Steps to reproduce

1. Start a posting streak.
2. Be notified of a posting streak
3. Delet

[2022-05-24 14:44] #63830 closed, assigned to andres-blanco

[2022-05-24 15:12] cpapazoglou commented on #63855
WIP Diff created D81402-code, I will need your help here @JulianBustamante! Is the approach correct?

[2022-05-24 15:14] pmcpinto commented on #63704
Sorry if it wasn't 100% clear. I'm talking about the "Store details" task in the task list. Let me know if you have any questions.

[2022-05-24 15:33] blackjackkent commented on #63704
@pmcpinto What are the routes by which a user can arrive at this screen? It seems based on our research for https://github.com/Automattic/wp-calypso/pull/63965, that screen is the destination point *after* the user has gone through the WooCommerce onboarding process.

I guess the idea is that if the user clicks on Store Details again, they restart onboarding from the store address step?

/cc @andr

[2022-05-24 15:44] #63439 closed, assigned to lsl

[2022-05-24 16:06] #63790 closed, assigned to lsl

[2022-05-24 16:21] #63788 closed, assigned to lsl

[2022-05-24 16:28] sudeepbaral commented on #63050
Another issue here: 5233542-zen

[2022-05-24 17:05] #63771 closed, assigned to nobody

[2022-05-24 17:21] #63791 closed, assigned to lsl

[2022-05-24 17:21] #63839 closed, assigned to lsl

[2022-05-24 17:33] danielbachhuber opened #63973 "Add an Icon Block"
### What

It would be useful to have an "Icon Block" that made freely-available icons available in the Block Editor.

[Noun Project](https://thenounproject.com/) is one such source of icons. [Heroicons](https://heroicons.com/) is another.

### Why

In 5240894-zen, a user wanted to build something similar to this screenshot:

![image](https://user-images.githubusercontent.com/36432/170096579-c9a281

[2022-05-24 17:37] dsas commented on #50574
My current feeling is that the issue is related to the Jetpack connection and will be resolved by increasing the robustness of the Jetpack connection and sync.

There are some steps that _could_ be taken to ameliorate the issue though:
- [ ] Improve visibility of the error rather than wait for customers to tell the product owner. Though arguably this too, is down to the Jetpack sync
- [x] Improve

[2022-05-24 17:37] LouiseFW commented on #63604
Hi there, I am having the same problem with my wordpress blog. For the past 3 or so weeks the images have suddenly stopped showing when the blog is delivered via email - any ideas how to resolve this

[2022-05-24 17:43] Addison-Stavlo commented on #62412
I responded on the original P2 yesterday and cc'd both theme and design teams in the response. Im seeing likes as folks catch up on p2 notifications, do you think a separate p2 is beneficial here @simison ?

[2022-05-24 17:48] #60135 closed, assigned to wojtekn

[2022-05-24 17:59] villanovachile commented on #63604
Thanks so much @ivan-ottinger! I've gone ahead and replied to the user.

[2022-05-24 18:21] zaerl commented on #59527
The zip library has been enabled on WPCOM because is already in the [recommended list of extensions](https://href.li/?https://make.wordpress.org/hosting/handbook/server-environment/) so no changes must be made to the code. You can find the request here: https://systemsrequests.wordpress.com/2022/05/24/export-fsb-beta/
Refactoring can be performed but I think this is outside the scope of this parti

[2022-05-24 18:22] Addison-Stavlo commented on #59526
It looks like that page link is now live, so there is no longer an error / 404.

Regarding updating the link to redirect to wpcom documentation instead of org, ive seen this handled via ETK (ex - https://github.com/Automattic/wp-calypso/pull/62498/files)

[2022-05-24 18:57] andres-blanco commented on #63687
@sixhours I've added the hook. I am not so sure how to add tests to it, do you have any suggestions?

[2022-05-24 20:02] NatzJoy opened #63978 "Invite Email to Subscriber is worded similarly to Contributor invite email"
### Quick summary

When sending an Invitation to someone via the Users tab in the WordPress.com dashboard, you have the option of selecting the role of the person you are inviting. The roles are as follows:

* Administrator
* Editor
* Author
* Contributor
* Follower
* Subscriber

### An email goes out to the person you are inviting which describes why you're inviting them. In this specific user's

[2022-05-24 20:18] nelsonec87 commented on #63434
Hi @alaczek!
I've tried to reproduce it with Marl and several other themes as well, but I always get the download link pointing to .com.
Can you still reproduce it?

[2022-05-24 20:28] WBerredo commented on #63544
The annotations from the `design` step are here: https://docs.google.com/document/d/10WWAfeZIvfhJhT1g9AOuwryZNtIrk8S95H48noFYc-Y/edit?usp=sharing

[2022-05-24 20:28] KirkwallDay commented on #53451
Another request here: 35606401-hc

[2022-05-24 21:10] pablohoneyhoney opened #63982 "Reviewing New Post E-mail Template"
A few details reviewing a real case of an email notification from this post: https://wordpress.org/news/2022/05/arturo/

- [ ] We may need to check the text widths on various devices. For me on large iphone (12 max) it’s too narrow, barely fit ~5 words per line.

![image](https://user-images.githubusercontent.com/25516611/170132553-d9dbf51d-e9d0-46ab-8419-7224f02e2bd8.png)

- [ ] There’s a small h

[2022-05-24 21:20] pablohoneyhoney commented on #63973
Note that there's this happening in Gutenberg https://github.com/WordPress/gutenberg/issues/16484 to possibly contribute to.

cc @vindl @SaxonF

[2022-05-24 21:42] KirkwallDay opened #63983 "Video blocks on Twenty Twenty overlap onto footer in certain sitiuations."
### Quick summary

On the Twenty Twenty, if you insert a few video blocks and align them left or right with no other content, the blocks will overlap onto the footer:
<img width="1437" alt="Screen Shot 2022-05-24 at 3 32 47 PM" src="https://user-images.githubusercontent.com/49131029/170136561-a7a47cf2-65c9-4ccd-8b6c-b451abcb552c.png">

### Steps to reproduce

1. Have a site with the Twenty Twenty

[2022-05-24 22:22] Gustavo-Hilario commented on #57170
I think the user on 5239817-zen is also having this issue. However, widgets are also missing in the `Inactive widgets`area.

Theme: Rowling

[2022-05-24 22:49] the-misha commented on #63881
User in 5239071-zd-woothemes came back to chat 35596739-hc to report that the workaround has stopped working around, and is just displaying links or the title linked to the embedded file.

[2022-05-24 22:49] #63552 closed, assigned to escapemanuele

[2022-05-24 23:09] worldomonation commented on #63036
I don't think this has happened in some time. Closing for now

[2022-05-24 23:09] #63036 closed, assigned to worldomonation

[2022-05-24 23:11] worldomonation opened #63986 "Playwright: refactor request methods in RestAPIClient.getBearerToken() to use `sendRequest`."
### Details

The method `RestAPIClient.getBearerToken()` should be refactored if possible to use the `RestAPIClient.sendRequest` method if possible.

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-05-24 23:15] worldomonation opened #63988 "Jetpack E2E: update secrets file with primary site URL"
### Details

See: Jetpack build #72.

Log:
[code]

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-05-24 23:32] WBerredo commented on #63544
Started a draft of the Documentation on the a8cexperiments P2. Find more here: p1653435092174209-slack-C02JPCHEKDY

[2022-05-25 00:53] SaxonF commented on #63715
Made some updates here to better align with Woo's marketplace .

Changes:
- If we can, let's include a primary category (possibly just first?) in breadcrumbs
- All categories listed out as badges in header linking off to each category list
- Kept existing meta data format with added active install metric

![image](https://user-images.githubusercontent.com/1072756/170155270-1e3b4972-0c44-4acb-b3e4-

[2022-05-25 01:06] jromales commented on #63881
Another one in 31762543-hc and I advised user to disable JP Lazy Load

[2022-05-25 01:16] Greatdane commented on #63206
Re-opening this. IT user with Pro plan only has no access to chat. Confirmed;
5241955-zd-woothemes

[2022-05-25 02:06] chihsuan opened #63991 "Tooling: tour-kit storybook `__i18n_text_domain__ is not defined `"
### Quick summary

wpcom-tour-kit stories do not work

### Steps to reproduce

1. Start Storybook `yarn workspace @automattic/tour-kit run storybook`
2. Go to `wpcom-tour-kit` stories
3. Click `Start Tour` button

### What you expected to happen

Start tour without errors

### What actually happened

![Screen Shot 2022-05-25 at 09 53 11](https://user-images.githubusercontent.com/4344253/170164032-

[2022-05-25 02:46] SaxonF commented on #63893
@lsl screens below include a few little design refinements.

**Home**
Default home/discover page remains the same. Top section has white background and includes categories list. Bottom section uses slight grey found in onboarding ( I think `#fdfdfd`) with a border
![image](https://user-images.githubusercontent.com/1072756/170167509-6dfae67b-a606-467b-a1ea-93d136387854.png)

**Category**
When selec

[2022-05-25 02:56] chihsuan opened #63994 "Tooling: command not found: `copy-assets`"
### Overview

I was not able to build `@automattic/components` and other packages that use `copy-assets` or `transpile`

1. `nvm install`
2. `yarn install`
3.
[code]

I think we need to include `@automattic/calypso-build` in devDependencies.

### Context

NodeJS: v16.14.2
yarn: 3.1.1
Apple M1

[2022-05-25 03:02] p-jackson commented on #53626
I think GitHub just auto-closed this issue, so it could be a bit pre-emptive. But hopefully (🤞🤞🤞🤞) #63947 will fix the bug (thanks @roo2 🎉)
If it does continue to get reported by customers then we'll need to reopen.

[2022-05-25 03:05] sudeepbaral commented on #63944
Site editor did not load for me as well. I tried in non-a8c account too and the issue persists. This happens across both simple and atomic sites. Error in Console:

[code]

[2022-05-25 03:05] roo2 commented on #53626
Yea I just saw, I think we'll leave it open for a little bit just so people can find it if this does keep happening.

Fingers crossed https://github.com/Automattic/wp-calypso/pull/63947 fixes the issue for everyone though 🤞

[2022-05-25 03:16] Jaykame commented on #63812
5233939-zd

Another case with the same discrepancy.

[2022-05-25 04:17] adrianduffell commented on #63909
That's pretty neat, thanks for exploring this @chihsuan !

I think we can close this out then, so I'll do that 😃

[2022-05-25 04:17] #63909 closed, assigned to chihsuan

[2022-05-25 04:18] #63991 closed, assigned to chihsuan

[2022-05-25 04:39] chihsuan commented on #63994
I just found https://github.com/Automattic/wp-calypso/pull/62003 can fix this.

[2022-05-25 04:39] #63994 closed, assigned to nobody

[2022-05-25 04:45] Greatdane commented on #63812
Is this something @Automattic/jetpack might be able to take a look at?

[2022-05-25 04:56] Greatdane commented on #63403
Going to close this, as I think it relates to the same issue on core; https://github.com/WordPress/gutenberg/issues/40676

[2022-05-25 04:56] #63403 closed, assigned to nobody

[2022-05-25 05:02] Greatdane commented on #63406
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed on Simple sites

<img width="859" alt="Markup 2022-05-25 at 14 02 02" src="https://user-images.githubusercontent.com/5075840/170183500-f75ae9f5-c731-4fe8-8ea3-5fd813693499.png">

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-05-25 05:06] Greatdane commented on #63421
📌 FINDINGS/SCREENSHOTS/VIDEO
- Unable to replicate

📌 ACTIONS
- Await author feedback

📌 Message to Author
 - @Nic-Sevic Could you provide any more info on how to replicate this? Certain themes or blocks? I am unable to replicate this (tried list block as you have, along with FSE and classic thems).

[2022-05-25 05:12] chihsuan commented on #58646
Hey @chriskmnds Do we have a timeline for this? We're implementing a woo spotlight component based on this Tour Kit.

- https://github.com/woocommerce/woocommerce/issues/32892

[2022-05-25 05:16] Greatdane commented on #63115
They only error I see that is the same on the above reports is `wp-json/wpcom/v2/site-intent?_locale=user`

Console log;

[code]

Clicking on the error gives this information;

[code]

However, I also see this error on my functioning FSE site 🤔

[2022-05-25 05:28] Greatdane commented on #63440
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - **Yes**

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed on core. Add to HE Cross-repo Watchlist.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Added to 'HE Cross-repo Watchlist' project board

[2022-05-25 05:39] Greatdane commented on #63479
Closing for real!

[2022-05-25 05:39] #63479 closed, assigned to nobody

[2022-05-25 05:43] Greatdane commented on #63498
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed on theme.

📌 ACTIONS
- Transferred to theme repo.

[2022-05-25 05:57] Greatdane commented on #63509
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - **Yes**

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed on all WordPress instances, including core.
- There is a core bug report here; https://github.com/WordPress/gutenberg/issues/40169

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Feature request kept/c

[2022-05-25 06:44] wojtekn commented on #60280
### Reproducibility

I reviewed this issue and found a straightforward way to reproduce it:
1. Create the first page
2. Add >20 pages and assign the first page as a parent for all of them
3. Load Pages in a browser window that is not big enough to trigger loading more than 20 pages

It should load 20 pages in “chronological” mode. Then scroll to the bottom to trigger loading more records. Page lis

[2022-05-25 07:23] jordesign commented on #63467
Confirmed this typo is in place - I can see it in the Calypso repo.

[2022-05-25 07:30] jordesign commented on #63467
@Automattic/nomado  As this is a simple typo change - I've put together a PR - would love your review

[2022-05-25 07:31] p-jackson opened #64001 "AMP: Do not install AMP plugin during AT for sites where it is disabled"
Currently, the AMP plugin is always installed when a simple site is transferred to Atomic. Instead, the plugin should only be installed if the feature is actually enabled on the simple site.

See project thread: pdKhl6-48-p2

Being worked on in D80268-code

[2022-05-25 07:32] p-jackson opened #64002 "AMP: Disable and hide AMP on new simple sites"
The first step in slowly rolling out the removal of AMP from simple sites is to stop making it available on new sites.

Rather than picking a magic timestamp and comparing it with a site's creation time to decide whether it counts as "new", we'll instead use a magic blog ID as the cutoff point. Blog IDs are auto-incrementing which is why they work well for this sort of thing, and they were the Ato

[2022-05-25 07:32] p-jackson opened #64003 "AMP: Disable AMP on 2% of existing simple sites"
Once AMP has been disabled for all new sites in #64002 we

**Tasks**
- [x] Update AMP eligibility logic so that 2% of "old" sites can't use AMP
   - e.g. `blogId % 100 < 2` (we can update this expression as we roll out to higher and higher percentages)

See project thread: pdKhl6-48-p2

[2022-05-25 07:32] p-jackson opened #64004 "AMP: Remove the AMP plugin from WordPress.com"
Placeholder task for now.

As the project (pdKhl6-48-p2) progresses we'll figure out whether we want to remove the AMP code entirely from the WordPress.com repo. This will mean none of our marketing landing pages will be able to use AMP.

[2022-05-25 07:32] p-jackson opened #64005 "AMP: Remove border override for AMP in plugin in plugins admin page on Atomic"
The core WordPress CSS shows a shadow between items on the plugin admin page. But this shadow interferes with the green notices we show in the plugins list on Atomic sites. So we override the CSS in `wpcomsh`.

This is what it looks like without the override. Note the line between the normal plugin info and the green notice.
![Image](https://user-images.githubusercontent.com/1500769/170212329-3347

[2022-05-25 07:32] p-jackson opened #64006 "AMP: Ensure plugin is manually updatable when it's not managed by the Atomic platform"
Once the AMP plugin is no longer managed by the Atomic platform we should double-check that it's manually updatable. This can be done by downloading a previous version from [the advanced view of the plugins directory](https://wordpress.org/plugins/amp/advanced/), installing it on an Atomic site, and confirming the manual update controls are there.

This is a placeholder task just to make sure we d

[2022-05-25 07:32] p-jackson opened #64007 "AMP: Use default dev tools visibility for Atomic users where the extension isn't managed by us"
`amp-wp` 2.0 introduced dev tools which were enabled by default. We didn't want it enabled by default so in 514-gh-Automattic/wpcomsh we overrode the default.

In `amp-wp` 2.0.1 an official filter was added to override the default (https://github.com/ampproject/amp-wp/pull/5333) so our special override is no longer necessary and we can use the official filter instead.

We should decide whether we

[2022-05-25 07:32] p-jackson opened #64008 "AMP: Remove the AMP plugin from WordPress.com"

[2022-05-25 07:37] jordesign commented on #63627
Interestingly - when I check an Atomic site - I see this option in the Settings > Performance section - which links through to where I can manage the exclusions. I see this on both Pro and Business Plan sites..

<img width="692" alt="Screen Shot 2022-05-25 at 5 32 36 pm" src="https://user-images.githubusercontent.com/1842363/170206834-fed6bc9c-5fec-4118-b0eb-d486bf38fc1a.png">

@arunsathiya  Are y

[2022-05-25 07:39] jordesign commented on #63636
+1 this would be a great feature to add in to help the democratization of publishing.

[2022-05-25 07:50] ivan-ottinger commented on #63604
Hey @LouiseFW, would it be possible to share the site address with us so we can take a closer look? Thank you.

[2022-05-25 07:53] pauljacobson opened #64009 "Stats: Incorrect calculation for "All-time" views"
### Quick summary

Our user reported that their "All-time" views are not correctly reflected in their site stats when viewed in the WordPress.com dashboard. It's unclear whether the stats are correct when viewed in the mobile app.

Currently, the "All-time" views under the _Insights_ tab reflect that the site has had roughly 1,014,069 views, as you can see here:

![Capture_2022-05-25 at 10 33 01](

[2022-05-25 07:58] #64008 closed, assigned to nobody

[2022-05-25 08:21] vishnugopal commented on #63039
No caching has been implemented at the WPCOM end, but otherwise this is deployed.

[2022-05-25 08:25] #49847 closed, assigned to sejas

[2022-05-25 09:09] #62053 closed, assigned to sejas

[2022-05-25 09:34] zaerl commented on #59527
On production now the `Accept` header must be changed and specify `application/zip` because the base header is `*/*`. I will create a small PR to fix this. See https://core.trac.wordpress.org/ticket/44534.

[2022-05-25 09:40] jeherve commented on #63812
That's not really something anyone in the division is familiar with, I'm afraid. :( I don't really have any good recommendations, short of posting on +serenityofdata, where someone may be familiar with that type of problem.

I looked for recent changes to the country views stats API endpoints as well as general changes to the way stats are calculated, but I didn't find any recent related changes.

[2022-05-25 10:20] tyxla commented on #36844
We landed a bunch of improvements in the meantime, among which:

* https://github.com/Automattic/jetpack/pull/23447
* https://github.com/Automattic/jetpack/pull/23928
* https://github.com/Automattic/jetpack/pull/24304
* D74932-code
* D78785-code
* D79525-code
* D81197-code

And since we landed RUM data for the editor, we can see large improvements from these and the recent core perf improvements a

[2022-05-25 10:29] chriskmnds commented on #58646
Hey @chihsuan . Thanks for the ping. That's fantastic! I am not actively involved with the library right now, but I think functionality-wise it should be ready for release to NPM. I am not familiar with the process though and what needs to be done for that. Might be worth pinging someone from [#team-calypso](https://a8c.slack.com/archives/C7YPUHBB2) to offer some guidance? (maybe @jsnajdr or @tyxl

[2022-05-25 10:44] rickmgithub opened #64014 "Greater warning when changing domains with Facebook share buttons"
### What

When the domain is changed on a site the number of Facebook shares is lost.

### Why

Where someone has a lot of shares it can be distressing when they see the shares wiped out.

### How

That the numbers are passed over or when changing domain, a warning is included amongst the list of things that will change

Context 5234373-zd

[2022-05-25 10:50] Robertght commented on #63422
@CodeAllNightNDay I cannot replicate this either.

Because this is site-specific at the moment, please publish it as a P2 post in +happinessfeedback.

Closing this for now.

[2022-05-25 10:50] #63422 closed, assigned to nobody

[2022-05-25 11:00] jsnajdr commented on #58646
The publishing process is documented [here](https://github.com/Automattic/wp-calypso/blob/trunk/docs/monorepo.md#publishing).

No, Yarn will do this automatically when publishing, using the versions of the local linked packages.

Seems you just need to make sure to publish a new version of `@automattic/components` first, after bumping its version, and then publishing the `tour-kit` package will ad

[2022-05-25 11:10] #62822 closed, assigned to valterlorran

[2022-05-25 11:14] Robertght commented on #63527
Thank you for reporting his @nicolynramos !

I cannot replicate this on my end. Is this happening with Blockbase and its child themes or a different theme?

[2022-05-25 11:47] sophiegyo commented on #62757
Quick question - are we going to need to get this adjusted again when the starter plan is rolled out? Because it doesn't look like the starter plan will include it and that will inevitably result in people with the starter plan going "but I have a plan, why does this not apply for me?"

Reference: p7DVsv-etM-p2

[2022-05-25 12:14] #63959 closed, assigned to mashikag

[2022-05-25 12:28] galakhyati commented on #63495
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ❌ The `Reading` >`Blog Follow email text` option isn't available on the self-hosted site. Checked on Jurassic.ninja site.

📌 FINDINGS/SCREENSHOTS/VIDEO
- I tested on a simple as well as on an Atomic site and I was able

[2022-05-25 12:28] #63495 closed, assigned to nobody

[2022-05-25 12:30] paulbonahora opened #64020 "Plans overhaul: CTA alignment on localized tables"
CTA's and pricing on the pricing tables should be aligned regardless of the number of description lines of the plans in localizations. [Screenshot](https://d.pr/i/jtNU1s).

[2022-05-25 12:31] rw-ye opened #64021 "[FSE Themes] - Hamburger menu does not open in Safari"
### Quick summary

I have tested several FSE themes on a simple site and the hamburger menu does not open when viewing the site from Safari.

Console log:

[code]

The issue only seems to impact Simple sites and FSE themes. I was not able to reproduce the issue on an AT site or with other browsers such as Google Chrome.

https://user-images.githubusercontent.com/21261509/170261562-8bb36c19-0eb2-4e

[2022-05-25 12:52] sixhours commented on #63687
Hurrah, I'll add that to the Anchor flow today!

I think to test we'd need to set up a mock state with a user object that has permissions for a mocked site ID, then pass it to the hook. Might need to set a false for `isRequestingSites` in the mock, too...

[2022-05-25 13:25] ClassicRKR27 commented on #56574
Reported here in 5241009-zd-woothemes

[2022-05-25 13:48] #55383 closed

[2022-05-25 14:07] vajrasar commented on #63747
Hi everyone 👋

Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread. Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-05-25 14:15] escapemanuele opened #64025 "Help Center: Icon always next to the 3 dots menu"
The "?" should always be next to the "3 dots" icon. In every editor. That way it has a permanent location.

[2022-05-25 14:28] that-mike-bal opened #64026 "Notifications"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-25 14:29] simison commented on #64026
(@ianstewart, @simison and @that-mike-bal testing out something)

[2022-05-25 14:31] that-mike-bal opened #64027 "Comments"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2022-05-25 14:42] #63815 closed, assigned to escapemanuele

[2022-05-25 14:50] ianstewart opened #64030 "Comments Issue Test"
Testing GH.

[2022-05-25 15:29] shaunandrews opened #64031 "Inline Help: Results sizing is inconsistent"
### Quick summary

<img width="334" alt="image" src="https://user-images.githubusercontent.com/191598/170299168-a416a43c-06fb-4308-8344-1c4688053456.png">

In the list below the search, results with long line-lengths end up reducing the width of the icon. This makes the list of results feel messy.

[2022-05-25 16:03] philnick206 commented on #43183
Another report: 5243165-zen

This customer wants the primary domain to show on the receipt and not the .wordpress.com subdomain. It's confusing for customers as the subdomain isn't shown anywhere on the site and isn't similar to the primary domain either.

[2022-05-25 16:25] #61611 closed, assigned to nobody

[2022-05-25 16:26] #59595 closed, assigned to nobody

[2022-05-25 16:27] #62430 closed, assigned to valterlorran, nbloomf

[2022-05-25 16:34] jeyip commented on #57812
Hi team -- @Addison-Stavlo and I started triaging this issue and had difficulty reproducing this problem. Like others have mentioned, we couldn't reproduce the problem with a support session ( we tried to on a site that had brought up this complaint https://andherestorethmysoulproject.org/ )

We also attempted to replicate things on one of our test sites under a variety of conditions ( with differ

[2022-05-25 16:44] obenland commented on #63875
Thank you! Would it be fair to say that this might be a better fit for the Plans & Pricing team than Limited Atomic?

[2022-05-25 17:43] Copons opened #64032 "Dotcom Marketplace: Add "Gift Cards" to the Dotcom Marketplace"
We'll add the **[Gift Cards](https://woocommerce.com/products/gift-cards/)** Woo extension to the marketplace

FG page with all the instructions - PCYsg-AhC-p2

Here are 2 examples of recent integration works:
https://github.com/Automattic/wp-calypso/issues/63083
https://github.com/Automattic/wp-calypso/issues/63300

- [x] Add constants (D81552-code)
- [x] Add mapping (D81553-code)
- [x] Add featu

[2022-05-25 17:45] allilevine opened #64033 "Marketplace: Improve partner submission success page"
We need to iterate on https://wordpress.com/marketplace/submission-success to match the new design.
Previous PR: https://github.com/Automattic/wp-calypso/pull/63680
Figma: SJ6I0rUUtHNdHMF2KMMJig-fi-456%3A10526

Before and after:
![frame-4461](https://user-images.githubusercontent.com/1689238/170328889-5426116e-2783-46c1-8777-103d1c3b1022.png)

Acceptance criteria:
- [x] The icons for each action/s

[2022-05-25 17:50] anomiex opened #64034 "`@automattic/popup-monitor` is missing a dependency on `@babel/runtime`"
The package `@automattic/popup-monitor` attempts to use `@babel/runtime` from `dist/cjs/index.js`, but does not declare a dependency or peer dependency on that package.

## Reproduction

With npm:

1. Create a temporary directory, and cd into it.
2. `npm add @automattic/popup-monitor`
3. `node -e 'const x = require( "@automattic/popup-monitor" ); console.log( typeof x );'`

With yarn:

1. Create a

[2022-05-25 17:51] zaguiini commented on #62985
Note that manually going to `/me` by changing the address in the browser doesn't reproduce the issue. You need to click on the top-right icon:
<img width="233" alt="image" src="https://user-images.githubusercontent.com/26530524/170330262-d2b7067e-e61a-4fd5-9e69-cdfcedca8da8.png">

[2022-05-25 17:53] zaguiini commented on #60240
Not too bad considering [we're moving away from AMP](pdKhl6-48-p2)...

[2022-05-25 18:28] that-mike-bal opened #64035 "Marketplace Plugins"
**July Milestones **
Plugin purchases available on lower tier plans.
Expected to add 2–4 new third-party plugins from initial set with plan and workflow in place to accommodate 1–2 every two weeks.
Mailpoet added to the Marketplace; plan to resolve issues that might block SaaS-like plugins.

**September Milestones**

All a8c plugin products/plans surfaced in Marketplace.
Bringing new products into