[2022-03-11 15:49] arinoch commented on #61611
Giving this a bump for accessibility reasons. See for context: 34428916-hc

[2022-03-11 16:26] cpapazoglou commented on #61607
Discussing this with Hendson, we should be adding related terms when user does the last action before plugin gets installed:

- free plugins -> Under the CTA in plugin details
- paid plugins -> only in checkout

[2022-03-11 16:37] #60803 closed, assigned to bogiii

[2022-03-11 16:39] #61119 closed, assigned to zaguiini

[2022-03-11 16:46] metabreakr opened #61853 "Blockbase: Separator block (dots style) breaks to two lines"
### Quick summary

When adding a separator block to Blockbase, the dots style is not aligned in a row, breaking it to two separate lines as noted here: https://github.com/Automattic/themes/issues/4710#issuecomment-1064906199

Screenshot:

<img width="1180" alt="156605249-9f1b083a-311c-4993-82d4-2aa306c411c7" src="https://user-images.githubusercontent.com/39252765/157910486-eac2f34c-c984-4484-b92f-

[2022-03-11 17:19] sharonlaker19 opened #61856 "TextBook Theme: Log in button disappearing on the Premium Content Block within the editor"
### Quick summary

In the `TextBook` theme, while customizing the `Premium Content Block` guest view, the log in button disappears within the editor when you update the color to one of the predefined ones.

![loginbutton](https://user-images.githubusercontent.com/71630911/157914186-2e256815-7ca4-4371-8ecf-49cc32ef3e48.jpg)

### Steps to reproduce

1. Activate the TextBook theme on your site
2. Cre

[2022-03-11 17:37] arcangelini commented on #60876
OK, I started working on this and we may need someone from design to weigh in on what we should do with the taxonomy pages (Tags and Categories) and Plugins page. Currently, there is no space at the top to add the subtitle and link. It doesn't look like the other pages.

<img width="786" alt="Markup 2022-03-11 at 18 31 31" src="https://user-images.githubusercontent.com/33258733/157918935-c2ea5f59-

[2022-03-11 17:46] Addison-Stavlo opened #61858 "Site Editor Calypso iframe - redirects out of frame with G 12.8"
Gutenberg 12.8 Introduces[ a redirect in the site editor ](https://github.com/WordPress/gutenberg/pull/38817)causing our Calypso integration to break out of its Iframe and take users to the `wp-admin` editor.

[2022-03-11 18:11] tellisbethel opened #61859 "Domain Transfer: Clearer warning message for connected domains with non-transferrable TLDs"
### What

I tried to select a `.co.uk` domain for transfer that had a preexisting domain connection and was met with this message: `[domain] is already connected to this site and cannot be transferred to WordPress.com`

This was encountered here: https://wordpress.com/domains/add/use-my-domain/[DOMAIN]

I'm thinking that it might not matter that the domain "is already connected" if it can't be tra

[2022-03-11 19:39] Jaccuse commented on #60932
Another case in 34463900-hc

I was able to reproduce the bug on my Simple site, `right-click` -> `open in new tab` worked for me and worked for the user in my case

[2022-03-11 20:48] JoshuaGoode commented on #60820
Old internal discussion for additional context: p9F6qB-6Yh-p2

[2022-03-11 21:19] lizswafford opened #61861 "Theme Showcase: Try & Customize is shown instead of Live Demo for sites without the FSE Editor active"
### Quick summary

An AT Business plan site that _does not_ have the new Full Site Editor (beta) active will see the [Theme Showcase](https://wordpress.com/themes) offer a "Try & Customize" option to preview a theme instead of "Live Demo".

If the user chooses Try & Customize they end up at the Customizer. The Customizer sidebar loads, with the options like Site Info. But, the rest of the screen i

[2022-03-11 22:20] allilevine opened #61863 "Marketplace: Add search header"
We need to add a search header to the /plugins page. Figma: f84fqtCG4pCnCh2Hq0But5-fi-1164%3A15551

<img width="777" alt="Screen Shot 2022-03-11 at 5 20 02 PM" src="https://user-images.githubusercontent.com/1689238/157980302-4ca35e04-849a-4a45-9477-18ceab6a0348.png">

- [x] Re-use header and search components to add the search.
- [ ] Implement scroll experience. @vinimotaa to confirm if search wil

[2022-03-11 22:22] tanjoymor opened #61864 "media.giphy.com not embedding on AT sites"
### Quick summary

Customer reported in chat 6782530-hc that gify links were no longer embedding on their AT site.

Example link: https://media.giphy.com/media/3oriO8RY4erFEUpHZm/giphy.gif

We were able to confirm the issue. The issue appears to be with the `media.` subdomain component.

I'm not entirely sure if this is a "bug" or should be a "feature request".

### Steps to reproduce

On any AT s

[2022-03-11 22:23] sethmclellana8c commented on #61383
Ported over to Gutenberg repo: https://github.com/WordPress/gutenberg/issues/39396

[2022-03-11 22:23] #61383 closed, assigned to nobody

[2022-03-12 01:20] devNigel commented on #57812
Another case: [34560418](34560418-hc)
Followup: 4843248-zen

Please follow up with the user on a new ticket once it is fixed.

[2022-03-12 02:45] Greatdane commented on #61738
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-03-12 02:45] Greatdane commented on #61675
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-03-12 03:09] Greatdane commented on #61486
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-03-12 07:44] nagpai commented on #53233
Quite a few users have a confusion once they install one of our new premium themes. Byrne for instance. Users are confused how to get the contents of the theme on their site.

#34277826-hc

[2022-03-12 10:23] druesome opened #61867 "Social Menu: Amazon and Goodreads social icons don't work"
### Quick summary

When adding links to Amazon or Goodreads to a social menu, they do not display their icons.  Instead, we see the default link icon for unsupported sites.

<img src="https://d.pr/i/fndsEq+" width="500" />

### Steps to reproduce

1. Activate a theme that supports social menus (ie Twenty Seventeen)
2. Go to Customizer > Menus
3. Create a new menu and assign it to Social Menu locat

[2022-03-12 11:20] cpapazoglou commented on #61863
`calypso_plugins_search_results_show` is track event that has the `search_term` as a prop. This shows the most popular searches. As expected, users are searching for specific plugins rather than categories. Let's collect the data and do a quick analysis of what makes more sense to show there.

[2022-03-12 14:59] supernovia commented on #57170
I wonder if this would be easier to reproduce and catch the issue if we:
- Started a site with block widgets off
- Set up a handful of test sites with different themes activated
- Copied the sample site to the test sites (IDK if we'd have to turn block widgets on or whether they'd get toggled via copy)

[2022-03-12 18:09] jamiepalatnik commented on #61785
Another report: 4839596-zd-woothemes

[2022-03-12 18:55] macmanx2 opened #61871 "[Bug]: Infinite Scroll: Podcast embeds fail to load after initial page load"
### Quick summary

Podcast embeds become links after the initial page load.

### Steps to reproduce

1. Add podcast embeds to enough posts to trigger a new page on an archive list.
2. Scroll to "page 2".

### What you expected to happen

Podcasts would be embedded on "page 2."

### What actually happened

Podcasts are simply links on "page 2."

This screenshot shows the last post on "page 1" and t

[2022-03-12 20:14] ChrissiePollock opened #61872 "Publishing Pages Shows a Followers Warning"
### Quick summary

When publishing a page from the editor, a warning appears stating that followers will be notified.

### Steps to reproduce

* Go to Pages>Add a Page
* Give the page a title
* Click Publish
* Note that a warning appears stating that the post will go out to readers:

![Pages to Followers](https://user-images.githubusercontent.com/2545184/158033099-a304e597-116d-4b98-a64a-23959a3b7

[2022-03-12 21:05] ClassicRKR27 opened #61873 "Layout Grid block conversion to Columns creates nested Layout Grid"
### Quick summary

I was going to suggest to a user that they try to switch to the Columns block while facing an issue with the Layout Grid, but when I clicked it to see how it would look before suggesting it, a new Layout Grid block with the content got nested inside a Column block instead of doing a full conversion.

### Steps to reproduce

1. Open any page and add a Layout Grid
2. Once you have

[2022-03-12 21:19] vipulpradhan commented on #56180
Another user request: 4855579-zen

[2022-03-12 23:05] jamiepalatnik opened #61874 "Missing translation string in Jetpack comment form: "Address never made public""
### Quick summary

In the Jetpack comment form for users that are not logged in, the text "Address never made public" does not appear as a translation string in the plugin Loco Translate, so it is not possible to change it using this plugin.

### Steps to reproduce

1. Go to [Glotpress for Jetpack](https://translate.wordpress.org/projects/wp-plugins/jetpack/stable/en-gb/default/)
2. Use the filter

[2022-03-13 00:13] happychait commented on #52209
Another report in 34469269-hc

[2022-03-13 00:53] formosattic opened #61875 "Blank Canvas: FSE templates disappear when WooCommerce is activated"
### Quick summary

With Blank Canvas, when WooCommerce is activated, the templates will be lost.
This bug likely needs to be moved to the Themes repo.

### Steps to reproduce

1. Setup a page with some templates part, or enable a theme like Twenty Two with the demo front page
2. Take a look at the page
3. Activate WooCommerce
4. Check the page

### What you expected to happen

Templates parts shou

[2022-03-13 07:23] jromales commented on #59885
another report at [4854863](4854863-zd-woothemes/)

They have a Premium subscription, and I tried switching the theme to a non-FSE one and it doesn't help

[2022-03-13 08:14] csabarakasz commented on #58535
Same issue as described in the original report: 4854517-zd-woothemes

I have implemented the mentioned workaround to the user, but it anything would need to be changed on the Block widget, it will break again.

[2022-03-13 08:34] formosattic opened #61876 "Some themes: Image block doesn't wrap around text"
### Quick summary

_No response_

### Steps to reproduce

1. Add text
2. Add Image, set it to align left or right

### What you expected to happen

To look like this, image wraps around the text:
![image1](https://user-images.githubusercontent.com/15944096/158051566-cc6a26d9-429f-4632-b65d-d693920fe12d.png)

### What actually happened

Image doesn't wrap, is just on the side of the text:

Tested w

[2022-03-13 08:59] formosattic commented on #61297
4853483-zd-woothemes

[2022-03-13 09:44] rachelwinspear opened #61877 "Arbutus: Social media icons not showing in Social Menu"
### Quick summary

Social media icons are not showing for social media links set correctly in menu.
![Annotation on 2022-03-13 at 10-40-38](https://user-images.githubusercontent.com/44442769/158053793-01ed9c2d-0ca6-4aae-b850-572ed1850999.png)

### Steps to reproduce

1. Activate theme Arbutus
2. Add Social Media menu and add links to social platforms
3. Save and icons are not shown correctly

###

[2022-03-13 10:45] mxhassani commented on #61203
AFAIK Blockbase isn't supposed to have a social menu: d9BE8-p2

This could be linked: 5546-gh-Automattic/themes

[2022-03-13 14:12] i11za commented on #50959
Another report here: 4856796-zen

I was able to replicate it on my Atomic site.
The behaviour is slightly different - the **Select Frame** option is active, however nothing happens when it's selected, and after loading for a shot while the page reloads in *Media* overview (screencast):

https://user-images.githubusercontent.com/84193945/158063581-93f32695-4305-42b5-afc5-09e8b412e710.mp4

I'm also

[2022-03-13 14:50] syhussaini opened #61878 "FSE - Allow Building Page Templates Before Switching the Theme"
### What

For FSE, there should be an option to build the page templates before switching to the FSE Compatible Themes.

### Why

We have many active users who are still using non-FSE based themes and may want to try the FSE based theme with custom page templates before switching to the theme.

Here are some of the points that I can think of as benefit points:

- The current owners do not have to

[2022-03-13 16:26] philnick206 commented on #56574
Reported in #4857204-zen

[2022-03-13 17:37] masperber commented on #56559
Another report here: 34551405-hc

I deactivated CoBlocks, and this should prevent the issue from reoccurring with this user.

I'm reporting this mainly so that we can follow up with the user in the event that this issue is closed so that they can turn CoBlocks back on safely.

[2022-03-13 20:01] ahmadbaig1 commented on #61649
Thanks! Opened here at [GH](https://github.com/WordPress/gutenberg/issues/39412).

[2022-03-13 20:42] arcangelini commented on #56355
There is a PR ready for this if someone wants to check to make sure this is what we want the link to say. @jordesign @carinapilar 👍 👍

[2022-03-13 20:48] jordesign commented on #56355
Thanks Tony - I'd be happy with that wording 👍

Will give it 24 hours for Carina to weigh in as well.

[2022-03-14 00:58] lsl opened #61881 "Sensei Pro: Clear product cache?"
Looks like there is some kind of product cache in play

- [ ] Clear the cache so Sensei Pro shows up in ["Browse All" paid plugins](https://wordpress.com/plugins/paid/)

[2022-03-14 00:58] lsl opened #61882 "Sensei Pro: Confirm plugin can be purchased and installed"
- [x] Confirm Sensei Pro can be purchased as a11n user
- [x] Confirm Sensei Pro can be purchased as non a11n user
- [x] Confirm Sensei Pro is installed after making the purchase

[2022-03-14 00:58] lsl opened #61883 "Sensei Pro: Remove a11n feature flagging"
D76441-code added Sensei Pro product information to the marketplace product catalog behind an `is_automattician` check.

- [x] Remove the a11n check in diff D76705-code
- [ ] Merge diff

[2022-03-14 01:02] lsl commented on #61547
https://github.com/Automattic/wp-calypso/issues/61881
https://github.com/Automattic/wp-calypso/issues/61882
https://github.com/Automattic/wp-calypso/issues/61883

[2022-03-14 01:02] #61547 closed, assigned to lsl

[2022-03-14 01:07] lsl opened #61884 "Woo Pre-Orders: Post preflight info to dotcommaketplace p2"
Wasn't sure what I thought this should look like so I wrote the first one we can maybe copy from in future (if it actually helps).

- [x] Post completed a "preflight" checklist to +dotcommarketplacep2 with all the required marketplace and plugin details before we begin. - pdh6GB-tx-p2

[2022-03-14 01:07] lsl opened #61885 "Woo Pre-Orders: Create catalog product and plans (yearly and monthly)"
See documentation PCYsg-CJy-p2 for more detailed instructions, script commands to run and example output to expect.

This issue covers the first half of step 1 in the documentation, we're creating the new billing system products, plans, and syncing them to production tables. If a mistake is made or you get lost, you can reach out to #payments-dev for help.

- [x] Create a yearly "billing catalog p

[2022-03-14 01:07] lsl opened #61886 "Woo Pre-Orders: Reserve store_product plan id's"
Choose the next two new store_product id's for WooCommerce Pre-Orders, these should be in the 900s like our other marketplace plugins. History on why we use meaningful ids here: PCYsg-rD-p2#requirements-for-a-new-store_product

For this task we need to choose the id's and get a diff merged with those ID's as constants, we can then use these ID's / constants in our other diffs without worrying abou

[2022-03-14 01:07] lsl opened #61887 "Woo Pre-Orders: Create store_product's"
### Must complete first:
- [x] https://github.com/Automattic/wp-calypso/issues/61885
- [x] https://github.com/Automattic/wp-calypso/issues/61886
- [x] https://github.com/Automattic/wp-calypso/issues/61895

Generating legacy store products without supporting code deployed results in warning pings in #payments-dev and potentially other issues.

### Tasks
- [x] Generate the legacy `store_product` tab

[2022-03-14 01:07] lsl opened #61888 "Woo Pre-Orders: Add name for translation"
- [x] Create / merge diff for WooCommerce Pre-Orders plan product name translation

Example D76326-code

[2022-03-14 01:07] lsl opened #61889 "Woo Pre-Orders: Add marketplace product entry"
- [x] Add marketplace [`/marketplace/products`](https://public-api.wordpress.com/wpcom/v2/marketplace/products) entry behind a11n flag
- [x] [If required](https://github.com/Automattic/wp-calypso/issues/61548#issuecomment-1067458074), include the icon image in `wp-content/lib/marketplace-images/<imagename>` available at `https://wordpress.com/wp-content/lib/marketplace-images/<imagename>`

You can

[2022-03-14 01:07] lsl opened #61890 "Woo Pre-Orders: Add vendor info"
This is just step 3 of the documentation: PCYsg-AhH-p2 using the `woo` vendor id `2` in the vendor product table inserts.

These tables aren't used for anything in production yet so these are low risk operations.

- [x] Insert `store_vendor_products` for the yearly legacy `store_product` plan
- [x] Insert `store_vendor_products` for the monthly legacy `store_product` plan

[2022-03-14 01:07] lsl opened #61891 "Woo Pre-Orders: Post a managed plugin request on atomic p2"
- [x] Post a managed plugin request on atomic p2

While marketplace plugins can be purchased as soon as it's available in the `/products` endpoint (https://github.com/Automattic/wp-calypso/issues/61889), the install process that happens on purchase won't succeed until it's been flagged as a managed plugin.

Example p9o2xV-1Wj-p2

[2022-03-14 01:07] lsl opened #61892 "Woo Pre-Orders: Remove a11n flags"
https://github.com/Automattic/wp-calypso/issues/61889 added WooCommerce Pre-Orders product information to the marketplace product catalog behind an `is_automattician` check.

- [x] Remove the a11n check to launch the plugin for sale

[2022-03-14 01:07] lsl opened #61893 "Woo Pre-Orders: Confirm plugin can be purchased and installed"
- [x] Confirm WooCommerce Pre-Orders can be purchased as a11n user
- [x] Confirm WooCommerce Pre-Orders can be purchased as non a11n user
- [x] Confirm WooCommerce Pre-Orders is installed after making the purchase

[2022-03-14 01:07] lsl opened #61894 "Woo Pre-Orders: Clear product cache?"
Looks like there is some kind of product cache in play

- [ ] Clear the cache so WooCommerce Pre-Orders shows up in ["Browse All" paid plugins](https://wordpress.com/plugins/paid/)

[2022-03-14 01:24] lsl opened #61895 "Woo Pre-Orders: Add store_product to billing catalog mapping"
In this step we need to map the new billing catalog plans we created in https://github.com/Automattic/wp-calypso/issues/61885 to the legacy `store_products` we will generate in https://github.com/Automattic/wp-calypso/issues/61887.

To do this we map **both** `store_product` ID constants we chose in https://github.com/Automattic/wp-calypso/issues/61886 to the billing catalog product (not plan) slu

[2022-03-14 02:29] fushar commented on #61661
We found the root cause. It is explained in this internal docs: pbxlJb-1i1-p2. We'll implement a temporary fix.

[2022-03-14 02:29] fushar commented on #61391
We found the root cause. It is explained in this internal docs: pbxlJb-1i1-p2. We'll implement a temporary fix.

[2022-03-14 05:13] druesome commented on #60353
Once this is resolved, please update the user in 4823974-zd-woothemes.  I've put the ticket on hold.

[2022-03-14 06:16] jordesign commented on #60876
Ooh true - as it isn't really a 'settings' section of Calypso. It's housed with the post/page content kind of areas.... Good catch.

Maybe that one sits on the backburner until we can get some design input.

[2022-03-14 07:00] lsl commented on #61548
@vinimotaa Could you find me a higher res image? Looks ok on desktop but mobile is stretched and a bit blurred

![Screenshot_2022-03-14_17-58-58](https://user-images.githubusercontent.com/811776/158120695-49d62cf8-1d95-44b6-b39e-54c7c73ab70d.png)

[2022-03-14 07:01] lsl commented on #61891
@cpapazoglou can you confirm if WooCommerce Pre-Orders should be installed via github releases or the woocommerce.com link we used for sensei pro?

[2022-03-14 07:44] formosattic opened #61897 "Purchased Retired Premium Themes - Users can't activate on their own"
### Quick summary

_No response_

### Steps to reproduce

Can't reproduce as retired premium theme can't be bought as standalone anymore.

But here's what the steps would be:

* Buy an old/retired Premium theme as a standalone
* Switch to another theme
* Try to activate the retired theme again

### What you expected to happen

The retired theme should still come up in the catalog.

### What actual

[2022-03-14 08:16] rickmgithub opened #61898 "HTML blocks - Screen reader for visual impairment"
### What

A WP user reached out to us to ask about an improvement to accessibility for the table block when using a screen reacher.

They said
- When designing the table works great. But when the fields are filled they are all labeled the same. Could a specific label be made for each table box? For example column 3 row 1. Or that when loading the table layout is structured with HTML so that with t

[2022-03-14 08:20] cpapazoglou commented on #61891
Searching in the woo repos I can see `woocommerce-pre-orders exists and has a proper versioning systems with releases.

https://github.com/orgs/woocommerce/repositories?q=order&type=all&language=&sort=

In which case, the GH repo is preferable.

[2022-03-14 08:27] #61884 closed, assigned to lsl

[2022-03-14 08:35] lsl commented on #61548
@allilevine I broke this down into pretty small tasks geared towards onboarding, maybe @paulopmt1 or @lupus2k want to try adding a plugin to the marketplace?

In future I think we can break this up into 4 distinct parts:

- Preflight checklist (info gathering / confirming)
- Create products and map them
- Generate legacy store products
- Add marketplace endpoint data
-

[2022-03-14 08:45] csabarakasz commented on #52100
4829352-zd-woothemes

User is on Premium plan, using Payton theme and would need the Cookies banner. Suggested switching themes and added their case here!

[2022-03-14 09:06] kspilarski opened #61899 "Baskerville 2: In the Customizer, Older Posts with Excerpts show the Full Content"
### Quick summary

In the Customizer, older posts with excerpts show the full content.

### Steps to reproduce

1. Activate Baskerville 2 theme.
2. In Settings > Writing, set to display 3 posts (or any amount of posts).
3. Deactivate Infinite Scroll.
4. Add excerpts in 3 of your new posts and in your older posts too.
5. Go to the Customizer > set front page display to latest posts
6. And check "sh

[2022-03-14 09:26] rcrdortiz commented on #46242
Waiting on https://github.com/Automattic/wp-calypso/issues/52287 to be closed

[2022-03-14 09:28] cpapazoglou opened #61900 "Marketplace: Plugins Browser featured list regression"
[https://wordpress.com/plugins](https://wordpress.com/plugins) is currently showing a duplicate list for featured plugins.

![image](https://user-images.githubusercontent.com/12430020/158143876-39750dac-27bd-48cd-ae6e-92f54938fa52.png)

This is a regression. `Featured` plugins are WPCOM plugins that are returned from

https://github.com/Automattic/wp-calypso/blob/be3471079690b93424c3c331f9ef3151dc

[2022-03-14 09:38] daria2303 commented on #61594
Sure, here is the interaction 34451684-hc
I didn't P2 it as I found
p1642432008136400-slack-C03TY6J1A
p9F6qB-7v9-p2
and assumed this is not available.

[2022-03-14 11:07] malcolm-kee opened #61904 "[Bug]: The code in trunk is not published"
### Quick summary

May I know when the code in `trunk` branch will be published?

I want to use `@automattic/calypso-jest` as the jest preset of my application that use `@automattic/calypso-build`, unfortunately that package is not published although it is in `trunk` branch.

### Steps to reproduce

1. Browse the code at https://unpkg.com/browse/@automattic/calypso-build@10.0.0/
2. Compare with th

[2022-03-14 11:12] jameskoster commented on #61611
It hasn't come up yet, but I agree it's worth opening an issue to discuss.

[2022-03-14 11:22] #61799 closed, assigned to bogiii

[2022-03-14 11:28] philnick206 commented on #52100
It feels like we should no longer be recommending ANY sites use the Jetpack Cookies and Consent Widget (since it is no longer compliant with GDPR and related services and is no longer used by WordAds).

If that is the case, then there is a gap for any simple sites that are not in WordAds regardless of FSE or not. The only question I guess would be whether the current WP.com CMP that is automatical

[2022-03-14 11:32] cpapazoglou commented on #61720
@allilevine can't reproduce on my ecom site. Are there perhaps more concrete steps to follow?

[2022-03-14 11:34] cpapazoglou commented on #61748
@vinimotaa can we decide on either inifinite scroll or pagination for plugin list pages (eg new, popular, search results)?

[2022-03-14 11:43] #61439 closed, assigned to bogiii

[2022-03-14 12:40] arthur791004 commented on #61399
Close it as we have already know how to use vertical images.

[2022-03-14 12:40] #61399 closed, assigned to arthur791004

[2022-03-14 13:07] #59977 closed, assigned to arcangelini

[2022-03-14 13:20] Copons opened #61907 "Payments: Audit product types"
### What

Audit our products to find a list of product types (e.g. payments, donations, subscriptions, etc.).

### Why

See: paYJgx-1SL-p2

### How

_No response_

[2022-03-14 13:21] Copons opened #61908 "Payments: Add a product type selection to the Payment Plans product form"
### What

This is a follow up to https://github.com/Automattic/wp-calypso/issues/61907

### Why

See paYJgx-1SL-p2

### How

_No response_

[2022-03-14 13:26] Copons opened #61909 "Payments: Check that donation products are handled appropriately"
### What

Make sure products of type donation are handled appropriately by the off-site UI (confirmation messages and emails, receipts, notifications, etc.).

### Why

See paYJgx-1SL-p2

### How

Follow up to https://github.com/Automattic/wp-calypso/issues/61908

[2022-03-14 13:26] kriskarkoski commented on #61872
Duplicate of https://github.com/Automattic/wp-calypso/issues/61515?

[2022-03-14 13:27] kriskarkoski commented on #61515
+1, noticed this over the weekend while adding a page to my website

[2022-03-14 13:29] vinimotaa commented on #61748
@cpapazoglou all the way infinite scroll, no pagination needed when having control of categories and filters

[2022-03-14 13:46] rickmgithub opened #61913 "Twenty Twenty Theme Documentation error"
### What

Theme 2020

When you go into the theme documentation for Twenty Twenty in the list of Quick Specs, bullet point 3, “The recommended Featured Image size is 2000px wide by 1200px high.”

Scroll down to the section on “Featured images,” and it says - “The recommended Featured Image size is 1980px wide by 1485px high.”

### Why

It contradicts itself.

### How

4855437-zd

[2022-03-14 13:48] vinimotaa commented on #61548
@lsl are we using PNGs or SVGs for those icons?

[2022-03-14 13:59] rcrdortiz commented on #59635
This issue is related to the Recurring Payments block. In this specific case, the user wants the Recurring Payments button to not require a WordPress.com account when the renewal frequency is "one time".
<img width="1163" alt="Captura de pantalla 2022-03-14 a las 14 57 07" src="https://user-images.githubusercontent.com/1989914/158187101-9599530c-4b86-4161-9f1f-16a68e969c20.png">
This could potenti

[2022-03-14 14:11] allilevine commented on #61753
We may need to fix JITM placement on the page, see: p7DVsv-e33-p2#comment-39873

[2022-03-14 14:56] cpapazoglou commented on #61863
If you mean:
- users scrolls past the BIG search component
- SMALL search component appears in the fixed header

then I all in and excited 😄. But @vinimotaa is making the call here.

[2022-03-14 15:46] #51594 closed, assigned to mreishus

[2022-03-14 15:49] mreishus commented on #58041
In #51594, we added blocking behavior for uploads that would bring an atomic site to be over the disk space limit.
In site health, uploads.php, and the calypso media guide, you can see how much disk space you have remaining.
In D75827-code, we did a check for sites using too much DB space.
I don't believe we have any other warnings to add at this time.

[2022-03-14 15:49] #58041 closed, assigned to mreishus

[2022-03-14 15:59] epeicher opened #61917 "Breadcrumb component should use Styled Components"
### Details

As part of the task
- #61143

the `Breadcrumb` component has been moved from the [domain breadcrumb component](client/my-sites/domains/domain-management/components/breadcrumbs/index.jsx) to a generic [breadcrumb component](client/components/breadcrumb/index.tsx) **but** the external `styles.scss` has not being migrated to `@emotion/styled` functionality.

This task is to do that migra

[2022-03-14 16:05] allilevine opened #61918 "Marketplace: Add WooCommerce UPS Extension"
### Details
Extension: https://woocommerce.com/products/ups-shipping-method/
Prices can be found in the spreadsheet of next woo extensions, link in Pdh6GB-2Y-p2, see "a8c Plugin Punchlist" tab.
Documentation: PCYsg-AhH-p2

- [x] Break this down into plugin add steps like https://github.com/Automattic/wp-calypso/issues/61548
- [x] https://github.com/Automattic/wp-calypso/issues/61941
- [x] https://

[2022-03-14 16:12] #61184 closed, assigned to nelsonec87

[2022-03-14 16:19] #61651 closed, assigned to sixhours

[2022-03-14 16:24] blackjackkent commented on #61544
@mreishus Can you take a look into this, since you took the lead on the search algorithms in the theme showcase previously?

[2022-03-14 16:29] blackjackkent commented on #53998
Let's follow up with Happiness and see if this is an issue that anyone has reported on the user side. If not, maybe we should at least update the text of the preview but this may not need further changes beyond that.

[2022-03-14 16:43] blackjackkent commented on #61820
Occurrence of "back" bug in More Power flow

[2022-03-14 16:50] #60680 closed, assigned to nobody

[2022-03-14 16:58] blackjackkent opened #61921 "Seller Experience - Remove the option to select categories in design picker"
Instead of the convoluted logic required to pre-populate non-seller themes with seller-oriented blocks, let's just show only seller-category themes during the onboarding process if the user is in the seller flow.

Auto-show the sell category and hide the option to select other categories if the user selected "Sell" as their onboarding intent.

[2022-03-14 17:09] metabreakr commented on #61203
This might be related: https://github.com/Automattic/themes/issues/5546

[2022-03-14 17:17] allilevine commented on #61778
@Rolilink Has this been completed? Is there an associated PR?

[2022-03-14 17:39] WBerredo commented on #61522
There are some cases where a site is being shown as **Eligible** but doesn't have an e-commerce or biz plan.
We are working with the hypothesis of this to be happing when the site is atomic but doesn't have an eligible plan (TO BE CONFIRMED).

The next steps will be:
- [ ] Track when this bug is happening and fix it to only show eligible sites (ecom and biz) on the **Available on** list
- [ ] Add

[2022-03-14 17:47] mxhassani opened #61923 "Can't disable "Continue reading" link in the Blog Posts block when using the Gazette theme"
### Quick summary

When using the Gazette theme, the Blog Posts block shows the "Continue reading"  link even when "Read More" setting has been disabled.

The link doesn't show in the Editor but you can see it in the front end.

![image](https://user-images.githubusercontent.com/81776920/158230765-6f1bce07-d147-4687-81a6-cf4b38a556d7.png)

### Steps to reproduce

1. Activate the Gazette theme.
2.

[2022-03-14 17:55] dev-sabbir opened #61924 "Gallery Block: Uploading multiple picture replaces some of the photos inside the page with one photo"
### Quick summary

When a user tries to upload multiple images for a Gallery Block from their PC all of the images don't end up shown in the gallery. Some of the pictures get replaced by one picture.

![ezgif-4-366ae45aac](https://user-images.githubusercontent.com/5733224/158231855-399130cb-4b48-4eab-b6c0-ab2a5402db38.gif)

### Steps to reproduce

1. Add a Gallery block on a page
2. Upload multipl

[2022-03-14 18:04] supernovia commented on #61203
Are these disappearing or displaying the wrong icons, like so?

<img width="170" alt="Screen Shot 2022-03-12 at 12 41 05 PM" src="https://user-images.githubusercontent.com/3476361/158233725-70de678b-78a1-4c3a-a9ec-cd4480512459.png">

[2022-03-14 18:21] metabreakr commented on #61203
@supernovia In https://github.com/Automattic/themes/issues/5546 the social icons appear to turn into what you have in your screenshot with FSE off, while they completely disappear with FSE when a template is edited as I detailed here: https://github.com/Automattic/wp-calypso/issues/61384

IMO, these icons should be social icons blocks. I'm not sure why you'd want to turn off FSE for a block-based

[2022-03-14 20:09] lsl commented on #61882
Progress update on managed plugin front p9o2xV-1Wj-p2#comment-5674

[2022-03-14 20:14] allilevine commented on #61778
Completed.

[2022-03-14 20:14] #61778 closed, assigned to Rolilink

[2022-03-14 20:18] vinimotaa commented on #61551
Hi @kwight still trying to understand what is the challenge here - is there a place where I can get more context to this so I'll be able to support?

[2022-03-14 20:37] kwight commented on #61805
@Robertght What would the correct logic be for hiding the contact button, do you think: _hide if the theme is not dotcom, and if site is not atomic_? I'm not sure if we do support Atomic users with dotorg themes or not. 🤔

[2022-03-14 20:50] lsl commented on #61894
This might just be related to the is_featured check? See pdh6GB-tx-p2#comment-925

It looks like there is a secondary regression where we are looking for all featured plugins instead of all plugins in the browse all premium plugins.

[2022-03-14 20:51] lsl opened #61933 "Browse All Paid not showing all paid plugins"
There seems to be a bug where clicking "Browse All" on the paid (premium) plugin section loads only featured plugins from the endpoint. It's likely using the same query/response as is used for the front page and needs to be changed when on the view all page.

Context pdh6GB-tx-p2#comment-925 and possibly related https://github.com/Automattic/wp-calypso/issues/61900

[2022-03-14 20:55] arinoch commented on #48865
+1 in 17813748-hc, with additional internal testing done in p1647289687262309-slack-C03TY6J1A. I had the user change privacy settings (from private to public), suspecting it was a site privacy issue. That didn't resolve it, however, changing the site back to private appears to have.

[2022-03-14 20:55] lsl commented on #61900
This might be related to https://github.com/Automattic/wp-calypso/issues/61894#issuecomment-1067273807 though it might not be in scope of this issue.

Created a new issue to track in https://github.com/Automattic/wp-calypso/issues/61933, if it can be fixed in one, feel free to close both out.

[2022-03-14 21:05] lupus2k commented on #61492
@cpapazoglou @allilevine can you confirm if the conditions I'm working on are ok?

### Simple sites (wpcom) ###
- Always shows `wordpress-seo-premium` (because these users doesn't have plugins installed)

### Atomic sites ###
- `sensei` installed, shows `sensei-pro`
- `sensei` not installed but `wordpress-seo-premium` installed, shows `sensei-pro`
- otherwise, shows `wordpress-seo-premium`

[2022-03-14 21:48] hacchism commented on #60733
Thank you so much @andres-blanco @kwight.

Just to confirm before reaching out to the user. Once we switch the Anchor connection from `charlieandnot` to `charlieandnotcharlie`, we can just suggest migrating the posts imported from Anchor from `charlieandnot` to `charlieandnotcharlie` with our export/import tool. Is that right?

[2022-03-14 22:26] worldomonation opened #61936 "[Meta] Jetpack e2e migration to Playwright"
### Details

As per pciE2j-NW-p2#comment-892, migrate relevant Jetpack e2e specs to run with Playwright.

### Checklist

_No response_

### Related

_No response_

[2022-03-14 22:34] #61456 closed, assigned to nobody

[2022-03-14 23:56] cat-og commented on #61654
Hi @Robertght, I tried it again on my [testing site](testingtestsite.com) and I'm still seeing the same thing. I realized I may have left out that this is all in the Editor. Specifically, I was making changes to the Home template with the Twenty TwentyTwo theme.

[2022-03-14 23:58] #60969 closed, assigned to nobody

[2022-03-14 23:59] #58264 closed, assigned to nobody

[2022-03-14 23:59] #60500 closed, assigned to nobody

[2022-03-15 01:55] lsl commented on #61883
Won't be deploying this until the issue with managed plugin is resolved but diff is ready to go D76705-code

[2022-03-15 01:58] autumnfjeld opened #61938 "Verticals API to Google Adwords"
## Description
Create a verticals API based on  Google Adword's CSV file and the heirarchy of the verticals organization.

**Background and P2 discussion**
Let's fix our vertical list: pbAok1-GJ-p2
Updating the Verticals API - let's discuss: pbxlJb-1h1-p2
Verticals Source of Truth (or rather lack of) pbAok1-2yV-p2

## Acceptance Criteria

- [x] PHP parser that takes Google Adword's CSV file
- [x]

[2022-03-15 02:29] lsl opened #61941 "WooCommerce UPS: Preflight"
- [x] Post completed a "preflight" checklist to +dotcommarketplacep2 with all the required marketplace and plugin details before we begin.

Example pdh6GB-tx-p2

[2022-03-15 02:32] lsl opened #61942 "WooCommerce UPS: Create catalog products"
Create catalog products
- [x] ~Catalog Product~ - use existing id 650
- [x] Yearly plan
- [x] Monhtly plan

Info and p2 post to use: pdh6GB-u3-p2
Documentation: PCYsg-CJy-p2

Update, in this case we need to re-use the existing product with the slug woocommerce-shipping-ups with product id 650.

See discussion in comments here pdh6GB-u3-p2

[2022-03-15 02:32] lsl opened #61943 "WooCommerce UPS: Create store products"
Create store products
- [ ] Reserve store product ID's, example D76056-code
- [ ] Add catalog mapping, example D76057-code
- [ ] Generate store products, docs PCYsg-CJy-p2

Update, in this case, we also need to
- [ ] Deprecate the existing UPS product in code
- [ ] Update the store_products table to set available = no for id 901 see pdh6GB-u3-p2#comment-953 / p1646753767515819-slack-C029JEQRVRT

[2022-03-15 02:32] lsl opened #61944 "WooCommerce UPS: Add marketplace entry"
Add marketplace product entry
- [x] Add store product translation, example D76326-code
- [x] Add marketplace product entry to endpoint (and image if required), example D76441-code
- [x] Insert vendor product info, documentation: PCYsg-CJy-p2
- [x] Post on atomicp2, example p9o2xV-1Wj-p2

[2022-03-15 02:32] lsl opened #61945 "WooCommerce UPS: Release"
Release WooCommerce UPS
- [x] Create diff to remove a11n only flag (ready for launch), example D76705-code
- [x] Confirm plugin can be purchased and installed by non a11n users
- [x] Merge diff

[2022-03-15 02:33] lsl commented on #61918
Broke down like:

Preflight https://github.com/Automattic/wp-calypso/issues/61941

Create catalog products https://github.com/Automattic/wp-calypso/issues/61942
- [ ] Catalog Product
- [ ] Yearly plan
- [ ] Monhtly plan

Create store products https://github.com/Automattic/wp-calypso/issues/61943
- [ ] Reserve store product ID's
- [ ] Add catalog mapping
- [ ] Generate store products
- [ ] Add stor

[2022-03-15 03:01] lsl commented on #61918
Lets leave this open til complete

[2022-03-15 03:05] lsl commented on #61941
pdh6GB-u3-p2

[2022-03-15 03:05] #61941 closed, assigned to lsl

[2022-03-15 03:32] lsl commented on #61894
See above

[2022-03-15 03:32] #61894 closed, assigned to nobody

[2022-03-15 03:32] lsl commented on #61881
See https://github.com/Automattic/wp-calypso/issues/61894#issuecomment-1067273807 looks like a bug.

[2022-03-15 03:32] #61881 closed, assigned to lsl

[2022-03-15 04:17] lsl commented on #61943
Reserve and map ID's D76708-code

[2022-03-15 04:38] lsl commented on #61943
- [ ] Reserve IDs D76708-code
- [ ] Catalog mapping D76708-code
- [ ] Generate products
- [ ] Translation D76709-code

[2022-03-15 05:17] lsl commented on #61944
- [ ] Marketplace entry D76710-code

[2022-03-15 05:24] Greatdane commented on #57043
@ccwalburn - I think this issue may be fixed - can I confirm the issue is no longer present for you?

[2022-03-15 06:13] Greatdane commented on #50959
The interface behaves the same on Simple and Atomic (so it looks like it has been saved), however, if I go back to the video on an Atomic site, the new thumbnail has not been saved.

[2022-03-15 06:38] Greatdane commented on #61057
Added to cross-repo watch list for core issue; https://github.com/WordPress/gutenberg/issues/31397

[2022-03-15 07:22] KokkieH opened #61948 "Editor theme: Marketing banner obscures theme elements"
### Quick summary

The marketing banner shown on free WordPress.com sites obscures some elements of the theme, namely the menu, featured content and widget controls.

### Steps to reproduce

1. Enable Editor on a completely free site that has never been upgraded
2. Make sure site is launched and set to public
3. View the site (the marketing banner doesn't always show while logged in, so try loggin

[2022-03-15 07:56] formosattic commented on #61630
Thanks @arunsathiya  for the extra notes.

I was able to reproduce it on self-hosted. Closing this in favor of the bug you linked.

![image1](https://user-images.githubusercontent.com/15944096/158331660-d9742831-3b78-4775-b4c3-1178e6052b4f.png)

[2022-03-15 07:56] #61630 closed, assigned to nobody

[2022-03-15 08:00] formosattic commented on #54329
As a follow-up to @arunsathiya's report, I was able to reproduce on self-hosted, so moving this to Jetpack.

![image1](https://user-images.githubusercontent.com/15944096/158331723-2d30bbb6-0847-4e10-87c4-2fc2211c8178.png)

[2022-03-15 08:10] ahmadbaig1 commented on #39956
Another- 4843385-zen

[2022-03-15 08:28] ivan-ottinger commented on #52100
Hey @philnick206 👋🏼

While I don't feel to be the person qualified to answer your question, it sounds right to me.

There were a couple of comments on the P2 post that share a bit more details: p4H3ND-18w-p2#comment-2540 (if you haven't read them already).

[2022-03-15 08:30] formosattic commented on #61729
Thanks @sophiegyo , the second example made it easy to reproduce!

To summarize, with this example:

* Link https://wordpress.com/blog/2022/02/28/celebrating-black-history-month/
* Blog ID: 3584907
* Post ID: 45907

The redirect link is:

* [https://wordpress.com/log-in?site=**45907**&redirect_to=%2Fread%2Fblogs%2F3584907%2Fposts%2F**45907**](https://wordpress.com/log-in?site=45907&redirect_to=%2F

[2022-03-15 08:42] zdenys commented on #53102
4829352-zd-woothemes

[2022-03-15 08:47] formosattic commented on #61295
Thanks for the fix @mcsf , and  @CoachBirgit for checking! Looks safe to close.

[2022-03-15 09:06] formosattic commented on #61853
Was able to reproduce it with Geologist, Quadrat.

It's also happening on self-hosted, I tested with:
* Blockbase: https://pcm.wordpress.org/themes/blockbase/
* Quadrat: https://pcm.wordpress.org/themes/quadrat/

@Robertght : as both themes are from Automattic, should we move this to the themes repo or is it best filing a report at https://github.com/WordPress/gutenberg ?

[2022-03-15 09:10] janmckell commented on #52182
4850011-Zen

[2022-03-15 09:14] formosattic commented on #61853
Actually, will close this in favor of https://github.com/Automattic/themes/issues/5582

[2022-03-15 09:14] #61853 closed, assigned to nobody

[2022-03-15 09:17] janmckell commented on #61297
4850011-Zen

[2022-03-15 10:33] arcangelini commented on #56091
I am working on two things right now to hopefully add this feature.

1. I am attempting to hook into this using `editor.BlockEdit` to add the link into each block setting. This will allow us to get something started soon.
2. I am working on picking up the PR that went stale in core Gutenberg in hopes to get this integrated in the future.

[2022-03-15 11:11] epeicher opened #61952 "Refactor: Use the new breadcrumb component in domains module"
As part of this task and pull request:
- https://github.com/Automattic/wp-calypso/issues/61143
- https://github.com/Automattic/wp-calypso/pull/61851

A new `Breadcrumb` component has been refactored to match the styling of the domains component so they are almost the same.

This task has been created to delete the existing [domain breadcrumb component](https://github.com/Automattic/wp-calypso/issu

[2022-03-15 11:36] taftina commented on #61877
zen-4862199

[2022-03-15 12:32] mrfoxtalbot opened #61953 "[FSE] The "Edit Site" link in the action bar does not work"
### Quick summary

There are two ways to access the Site Editor from the "public" view at the moment, but one of them is not working.

- The top link takes to https://orbezua.wordpress.com/wp-admin/themes.php?page=gutenberg-edit-site  (works)
- The bottom link takes to https://wordpress.com/site-editor?site=orbezua.wordpress.com (does not work)

![Screen Shot on 2022-03-15 at 13:20:50](https://use

[2022-03-15 12:50] BogdanUngureanu commented on #58535
Fixed in 607-gh-Automattic/dotcom-manage.

[2022-03-15 12:50] #58535 closed, assigned to BogdanUngureanu

[2022-03-15 12:56] davipontesblog opened #61954 "Tiled Gallery: Editor crashes when trying to add more images to large gallery"
### Quick summary

Using the tiled gallery block on a page on simple site, the user has 51 images added. When they visit the editor and try to add one more, the editor crashes. Error below:

`Error: Minified React error #185; visit https://reactjs.org/docs/error-decoder.html?invariant=185 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.

[2022-03-15 12:59] davipontesblog commented on #61954
User report: 32831237-hc

[2022-03-15 14:01] andres-blanco opened #61956 "Seller Experience: The payments doc on contextual help has an empty action button"
When [this](https://github.com/Automattic/wp-calypso/pull/61712) was deployed it was working OK. The button text should read `Read more`.

<img width="341" alt="image" src="https://user-images.githubusercontent.com/375980/158393788-3b173738-a9ce-4db9-a078-fd709dc6bcf5.png">

[2022-03-15 14:19] ivan-ottinger commented on #61697
Asked for the cool lightbulb icon: pdgv5Y-lA-p2#comment-159 so we can use it in the email template.

[2022-03-15 14:26] mdtanjid0 opened #61957 "Masonry Block and Paragraph overlap on the editor preview on phone and tablet."
### Quick summary

If we add Masonry Block and add Paragraphs below, they overlap on the tablet and phone version with *editor preview tool*.

It works fine on the front end.

I have created a short video that explains what the exact issue is.

https://user-images.githubusercontent.com/54123436/158396732-cf4ad01d-67b5-45b4-8680-8ec57256e663.mp4

Similar bug #57303

### Steps to reproduce

1. Take

[2022-03-15 14:38] cpapazoglou commented on #61492
Can we avoid using infrastructure (simple / atomic) and instead use only business conditions?

I would suggest only the following:

1. sensei installed, shows sensei-pro
- sensei not installed but wordpress-seo-premium installed, **do nothing** (we can probably remove this rule). Spotlighting sensei-pro if we are not sure how valuable will be for the user will only decrease our credibility.
2. wor

[2022-03-15 14:43] davipontesblog commented on #61619
Duplicated here: https://github.com/WordPress/gutenberg/issues/39466

Thanks!

[2022-03-15 14:44] kwight commented on #60733
This sounds right to me. 👍

[2022-03-15 14:47] davipontesblog commented on #61613
Duplicated here: https://github.com/WordPress/gutenberg/issues/39467

Thanks!

[2022-03-15 15:08] cecilearkay opened #61961 "[Bug]: CoBlocks Masonry images disappear in mobile/tablet preview"
### Quick summary

When adding pictures to a page or post using **CoBlocks**'s _Masonry_ block, the pictures will disappear and show a blank page in the mobile and tablet preview. Here's a recording of the issue:

https://user-images.githubusercontent.com/6737345/159865638-89580854-84de-4c94-9196-719cfd6d595c.mp4

### Steps to reproduce

1. Create a new page/post on an AT site at WordPress.com.
2.

[2022-03-15 15:33] Rolilink commented on #61492
@cpapazoglou I think we can handle prioritization of messages on the front-end and it can receive an array of messages. I wonder if we should show them all and how that will affect UX?

[2022-03-15 15:40] kerrynicl commented on #50740
Another report here. 30257991-HC . Clearing site cache resolved issue

[2022-03-15 15:52] cpapazoglou commented on #61492
I would refrain from adding any logic in the frontend since we already have the mechanism to add it in the backend.

Right now we won't show them all in spotlight, no. But think of JiTMs (and not spotlight JiTMs) in general. We _may use_ the same mechanism for showing a collection of related or personalised plugins to another section. What JiTMs should do is serve an array of **prioritised message

[2022-03-15 15:59] lupus2k commented on #61492
@cpapazoglou I'm asking about the logic to leave only one message to the frontend using priority. If the conditions have priority, JITM returns only the one with bigger priority. Without priority, JITM returns all messages that match conditions.

About the `business conditions`, we can filter messages to people with or without a plan, if this sounds logical to you, I suggest showing `wordpress-seo

[2022-03-15 16:19] cpapazoglou commented on #61492
What's the rationale behind checking for a plan? Will that be forwards compatible if plans change and we allow paid plugin installation for users without a plan?

[2022-03-15 16:42] #61900 closed, assigned to WBerredo

[2022-03-15 16:55] #61956 closed, assigned to andres-blanco

[2022-03-15 18:23] kimerlin81 commented on #61861
Thanks for submitting this detailed bug report @lizswafford ! This issue has been triaged, as I was able to reproduce this behavior when attempting to "Try & Customize" the Bennett theme. Non-FSE themes like Wilson, load the theme preview in the Customizer just fine.

[2022-03-15 18:27] kimerlin81 commented on #61872
Thanks for submitting this report @ChrissiePollock! I will be closing this incident in favor of https://github.com/Automattic/wp-calypso/issues/61515. Kudos to your husband for recognizing this though :)

[2022-03-15 18:27] #61872 closed, assigned to nobody

[2022-03-15 18:40] paulopmt1 commented on #61885
### How to validate

1. Make sure the product is on the production table: `gpr select * from billing_products where product_slug='woocommerce-pre-orders'`. You should see:
![image](https://user-images.githubusercontent.com/1044309/158448207-a5e92fec-081e-4048-b903-539ede103f07.png)

2. Make sure the billing plans (Monthly and Yearly) are in the production tables and with the correct USD value:
- M

[2022-03-15 18:44] kimerlin81 commented on #61897
Hi @formosattic! Thanks for submitting this bug report. From what I gather after reading [this P2](pbg9X-g9x-p2), this doesn't appear to be a bug. Instead, it seems to be the way things have been designed to work as of 9/1/2021.

As per the HE FAQs:

A: If that theme is active they will still have access to it, and if they switch to a different theme and want to go back, [we made a tool for that t

[2022-03-15 18:44] #61897 closed, assigned to nobody

[2022-03-15 19:17] supernovia commented on #61203
Thanks @metabreakr, I modified that title slightly since it's showing the incorrect icons, rather than not displaying any. Hopefully that'll help.

Re: FSE being off, I've seen this on themes where FSE has not been used yet, and the workaround is to turn it on and edit the theme vs just having existing social menus work out of the box.

[2022-03-15 19:59] kimerlin81 commented on #61899
Thanks for submitting this detailed bug report @kspilarski ! I was able to reproduce on my simple test site and I notice that the excerpt is being appended to the bottom of the full post for older posts that are loaded when the "Older Posts" button is clicked.

https://user-images.githubusercontent.com/83732167/158460133-e006a8aa-69e1-422e-80e3-dd4bb4f2686c.mp4

Results are the same on Atomic site

[2022-03-15 21:08] paulopmt1 commented on #61895
Phabricator: D76811-code

[2022-03-15 21:09] paulopmt1 commented on #61886
Phabricator: https://code.a8c.com/D76804

[2022-03-15 21:53] allilevine commented on #61720
Looks like it's a problem with my test site. Closing for now, thanks for checking!

[2022-03-15 21:53] #61720 closed, assigned to nobody

[2022-03-15 21:57] paulopmt1 commented on #61886
Diff code in Phabricator: D76804-code

[2022-03-15 22:01] paulopmt1 commented on #61895
Diff code in Phabricator: D76811-code

[2022-03-15 22:18] lizswafford opened #61965 "Safari: Lazy Load Images in v.15.4 prevents some images from loading"
### Quick summary

With the new release of Safari 15.4 some sites may experience images not loading, resulting in blank squares being shown. Deactivating the Experimental Feature in Safari for Lazy Load Images results in the images loading again.

Sites showing missing images in Safari 15.4 work fine in the previous browser, Safari 15.3.

### Steps to reproduce

1. Using Safari v.15.3 visit https:

[2022-03-15 22:31] macmanx2 commented on #21133
We have another request over at https://wordpress.com/forums/topic/2fa-u2f/

[2022-03-15 22:35] ccwalburn commented on #57043
Hey @Greatdane I tested on _Hemingway Rewritten_ and _Rowling_ and the editor font does not match the font I selected in the Customizer. However, I don't have the option to access Preferences from the three dots in the editor anymore so I can't tell if the **Use Theme Styles** option is selected or not.

[2022-03-15 23:07] lsl commented on #61885
LGTM

[2022-03-15 23:07] #61885 closed, assigned to paulopmt1

[2022-03-15 23:29] arcangelini commented on #56091
I have a rough draft of 2 options to implement this on WPCOM right now. I am looking to potentially add this to the `editing-toolkit` similar to the `tags-education` package. This is a band-aid solution while we work to maybe implement something in core.

1. Adding this to the sidebar as mentioned above. I was able to use the `blocks.registerBlockType` hook to append the link like so:
<img width="

[2022-03-15 23:52] hacchism commented on #60733
Awesome! Then, I'll ask the user to run the export/import first and will update here once it's done.

[2022-03-16 00:24] noteeth commented on #61464
Another report in 4863966-zd with translatepress-multilingual

[2022-03-16 01:59] formosattic commented on #61873
Thanks @ClassicRKR27 for the clear report!
I'm able to reproduce it as well.

I see the Layout Grid block is maintained in the Block Experiments repo, https://github.com/automattic/block-experiments but not sure if we have to transfer there.

Internal ping: p1647395915980129-slack-C029FPKAY

[2022-03-16 02:18] formosattic commented on #61859
Thanks @tellisbethel , the request makes sense.

The list of TLDs not supported for incoming transfer is listed at https://wordpress.com/support/domains/domain-pricing-and-available-tlds/#standard-domain-registration-and-renewal-pricing :

* .ca, .fr, .jp, .co.uk, .me.uk, .uk

[2022-03-16 02:20] nagpai commented on #53626
34691211-hc  Simple site

[2022-03-16 02:29] fushar commented on #61391
The fix has been shipped! 🎉

[2022-03-16 02:29] #61391 closed, assigned to fushar

[2022-03-16 02:29] fushar commented on #61661
The fix has been shipped! 🎉

[2022-03-16 02:29] #61661 closed, assigned to fushar, arthur791004

[2022-03-16 02:45] kuropixel opened #61970 "Domain is "Domain canceled at registry" but can't be re-registered through "Add new site" flow"
### Quick summary

When a recently canceled domain is available to purchase, it is showing up as "unavailable". However, it is available to purchase when you go through other flows such as adding a domain manually, checking via GoDaddy, etc.

https://user-images.githubusercontent.com/83020905/158506113-809d2298-a981-439a-ba63-aca9a5d07ff5.mp4

### Steps to reproduce

1. Need a recently canceled do

[2022-03-16 03:17] donalirl commented on #56091
My vote would definitely be for the settings sidebar. There is already a description of the block there and so a link to Learn More seems to perfectly belong here.

I feel the inclusion of a doc link in the toolbar would be a distraction from using the block and result in a lot of users clicking it accidentally.

[2022-03-16 04:28] jordesign commented on #56091
+1 to the sidebar. This also feels like a reasonable WPCOM specific addition.

I really feel like adding anything to the toolbar itself is something that should be proposed in core.

[2022-03-16 05:28] lsl commented on #61944
Waiting on an [updated image](https://github.com/Automattic/wp-calypso/issues/61548), using the png as a placeholder for now.

[2022-03-16 05:53] devNigel opened #61973 "Byrne: Post comment button is not visible"
### Quick summary

On mobile, the "Post comment" button is not visible. You have to hover or press over it to appear. I was able to reproduce it on Simple sites.

On Atomic sites, the comment form in mobile are different than the come in simple sites.

### Steps to reproduce

1. Activate Byrne theme on a simple site.
2. Visit a post or page with comments enabled on a mobile device.
3. You will not

[2022-03-16 06:10] galakhyati commented on #54350
Another case of set button colors not being respected. The user is on Personal plan so cannot provide CSS support too.

4864597-zd-woothemes

[2022-03-16 06:14] Robertght commented on #61805
Correction on the above. I just realized, I forgot to mention Storefront. That's also supported by us and Woo.

[2022-03-16 06:20] Robertght commented on #51699
Another case in 4862523-zen

Simple site.

The images show up if you load the editor through the Classic/WP-Admin view.

[2022-03-16 06:47] p-jackson opened #61974 "[Bug]: Hosting Configuration "please wait" spinner is stuck forever after reverting"
### Quick summary

The Hosting Configuration screen can be used to initiate AT. _If_ this is the method that's used to initiate AT _and_ the atomic site is reverted at a later date, then the Hosting Configuration screen gets stuck showing an incorrect message and a spinner that doesn't go away.

### Steps to reproduce

1. Start with a simple business site
2. `/hosting-config/{{ site slug }}`
3. Ac

[2022-03-16 06:52] johngodley commented on #61873
This doesn't really sound like a bug - the block is doing exactly what it is supposed to do - but a feature request, which is already being tracked here:

https://github.com/Automattic/block-experiments/issues/171

This sounds like something that should be reported as a bug?

[2022-03-16 06:54] tyxla commented on #48409
I've started working on this one.

[2022-03-16 08:28] arcangelini commented on #56091
The advantage the toolbar button has is that it shows even if the user has the sidebar hidden which can be a struggle sometimes for newer users.

Also, the added trick with the block description add-on is making sure it only adds the link in the sidebar. Currently, the description is used in many other places such as when you hover over the blocks in the selector. I missed this when setting up the

[2022-03-16 08:53] poligilad-auto commented on #56091
+1 to the sidebar.

Agree here as well, we don't want to be introducing a new pattern for this.

BTW, looking forward to when we can open the articles in the new help center instead of sending to the support site :)

[2022-03-16 09:55] rw-ye opened #61979 "Attar, Hari, Marl - Download link on theme showcase page returns 404 File not found"
### Quick summary

31428428-hc User is trying to download the '[Marl](https://wordpress.com/theme/marl/)' theme. However, the Download button on the theme showcase page links to a `404 File not found` page.

Download link: https://downloads.wordpress.org/theme/marl.zip

<img width="1787" alt="Markup 2022-03-16 at 13 59 01" src="https://user-images.githubusercontent.com/21261509/158561935-320c613c-

[2022-03-16 10:11] ivan-ottinger commented on #61694
Changes divided into multiple patches. The initial patch is ready for review: D76667-code.

[2022-03-16 10:18] #51593 closed, assigned to mmtr

[2022-03-16 10:19] #51826 closed, assigned to mmtr

[2022-03-16 10:19] #61499 closed, assigned to mmtr

[2022-03-16 10:22] galakhyati commented on #57812
Another case: 4862344-zen

Suggested workaround.

[2022-03-16 10:38] ivan-ottinger commented on #61699
I have tested a couple of scenarios and when the user doesn't have custom avatar set, the automatically-generated one is used instead. But this has nothing to do with the email templates:

| New post | New comment | New like |
| ------------- | ------------- | ------------- |
| ![Markup on 2022-03-16 at 11:21:41](https://user-images.githubusercontent.com/25105483/158571169-d2ac7424-f43e-4043-9211-

[2022-03-16 10:43] #61797 closed, assigned to bogiii

[2022-03-16 11:03] #60238 closed, assigned to nobody

[2022-03-16 11:04] #59042 closed, assigned to bogiii

[2022-03-16 11:07] cecilearkay commented on #61464
Another report in 4865236-zd with sitepress-multilingual-cms (and wpml-string-translation and wpml-translation-management but it looks like sitepress-multilingual-cms is the culprit here.)

[2022-03-16 12:36] JoshuaGoode commented on #61974
Was the site fully reverted at this time?

We place restrictions on a site to prevent it from going Atomic again until the entire revert and lossless import completes.

Right now, this can take some time.

[2022-03-16 12:47] simison opened #61982 "[Bug]: drag-dropping videos is failing in the editor"
Reported at p1647435153929219-slack-videopress

### Quick summary

When drag-dropping a video in the editor, it fails to upload even if the site has a premium plan and enough storage.

Uploading to media library and manually inserting "video" block works.

First:

<img width="697" alt="image" src="https://user-images.githubusercontent.com/87168/158592643-bb2d37f1-5748-4c46-ac2a-6b3cd19dee82.png">

[2022-03-16 12:50] simison opened #61983 "[Bug]: styles leak into video block placeholder"
### Quick summary

When using a theme or page styles with white text, text colors leak into "video" placeholder:

<img width="673" alt="Screenshot 2022-03-16 at 14 42 57" src="https://user-images.githubusercontent.com/87168/158593529-b8035985-ffc2-4aab-8329-1c522d2b2e94.png">

<img width="685" alt="Screenshot 2022-03-16 at 14 44 24" src="https://user-images.githubusercontent.com/87168/158593516-6b

[2022-03-16 12:58] dcoleonline commented on #53626
another in 34703576-hc

[2022-03-16 14:01] markbiek commented on #61805
I think checking for either `isWpcomTheme || author === 'Automattic'` covers it. Just pushed an update.

[2022-03-16 14:02] simison commented on #61982
@pgk @jgcaruso @thedebian sorted this out, I think in [D76873](D76873-code). 🙌

[2022-03-16 14:03] #61982 closed, assigned to nobody

[2022-03-16 14:34] markbiek commented on #53998
Reached out to Happiness to see if this is something that's been reported.

paYKcK-1rJ-p2

[2022-03-16 15:18] KirkwallDay commented on #52209
Another instance here: 16776065-hc

The error they got was: Publishing failed. Sorry, you are not allowed to assign the provided terms.

Flushing the site cache and having them add the tags onto the post did work in this case.

[2022-03-16 15:26] #57834 closed, assigned to mattwiebe

[2022-03-16 15:30] #61858 closed, assigned to nobody

[2022-03-16 15:38] kimerlin81 commented on #61979
@rw-ye, thanks for reporting this bug! Triaged as I was able to reproduce this. Three of the new free product-oriented themes: Attar, Hari, Marl, do not have valid download links on the theme showcase overview page. Transferring to themes repo. Workaround - none found as these themes are also not listed on [WordPress.org Themes](https://wordpress.org/themes/)

[2022-03-16 15:57] kimerlin81 commented on #59885
Thanks @jromales! I was able to reproduce this on an Atomic test site (Barnett theme)

https://user-images.githubusercontent.com/83732167/158632719-7510038e-b05c-4e6b-b5e3-1c7997e459fe.mp4

And, also on Simple site (Premium plan, Marl theme)

![Screenshot on 2022-03-16 at 11-56-29](https://user-images.githubusercontent.com/83732167/158632801-efa3bf46-c7f0-460b-a589-c57182095ac6.png)

[2022-03-16 16:08] #61118 closed, assigned to nobody

[2022-03-16 16:10] #61205 closed, assigned to nobody

[2022-03-16 16:10] Addison-Stavlo commented on #61205
cc @simison - We don't think this necessarily makes sense anymore, but any other thoughts regarding this?

[2022-03-16 16:21] kimerlin81 commented on #61924
Thanks for submitting this bug report @InsomniacSabbir. I will be closing this report in favor of the duplicate issue which was created 15 days ago: https://github.com/Automattic/wp-calypso/issues/61578

[2022-03-16 16:21] #61924 closed, assigned to nobody

[2022-03-16 16:30] vindl commented on #60354
@dpasque this doesn't seem to be in the area of FSE or something that Cylon (or Create Focus) maintains. Just wanted to check if the assignment to our team was intentional?

[2022-03-16 16:30] kimerlin81 commented on #61953
Thanks @mrfoxtalbot! I was able to reproduce this.

[2022-03-16 16:49] Addison-Stavlo commented on #60971
@cuemarie - Thanks for pointing this out!

It looks like it would be valuable to open this as an issue in the core Gutenberg repo: www.github.com/wordpress/gutenberg since it is an underlying issue there. This will also help with promoting more community and design discussion as well as make it available to more core contributors.  If you may be able to open the issue there, it could be quite valu

[2022-03-16 16:53] dpasque commented on #60354
@vindl Hrm, nope, that definitely doesn't look right... So sorry about that, not sure how that happened! This seems to me to fall under Engage and should probably start with Ganon. I've updated it correctly. Thanks for the heads up, and sorry again!

[2022-03-16 16:56] blackjackkent commented on #61551
As of today we will be holding off on this issue for next sprint in order to build it on top of the Stepper framework rather than write code that will need to be migrated anyway.

[2022-03-16 16:56] blackjackkent commented on #61818
As of today we will be holding off on this issue for next sprint in order to build it on top of the Stepper framework rather than write code that will need to be migrated anyway.

[2022-03-16 17:02] #59563 closed, assigned to nobody

[2022-03-16 17:09] #59503 closed, assigned to nobody

[2022-03-16 17:12] creativecoder commented on #60108
It looks like the separator block can disappear with other settings as well; I found this Gutenberg issue

https://github.com/WordPress/gutenberg/issues/38736

[2022-03-16 17:22] obenland commented on #61509
What if a site has installed themes from a time where the site could install them? Shouldn't they still have access to them?

[2022-03-16 17:22] creativecoder commented on #59595
Bigger picture, this needs improvement in Gutenberg, for example, see https://github.com/WordPress/gutenberg/issues/39489

But the immediate problem seems to be with the Calypso editor iframe, as I think it prevents navigating to the wp_navigation post management interface from the Site editor--this is something we need to fix on WP.com.

[2022-03-16 17:28] creativecoder commented on #42016
This is tough one to solve currently, with so many interrelated parts:

- New sites have the home page setting (page vs latest post) somewhat arbitrarily set based on the Headstart annotations for the theme
- There's Gutenberg work to be done surfacing the setting in the Site editor that would help (https://github.com/WordPress/gutenberg/issues/28341)
- Whatever we do, it should integrate with the

[2022-03-16 18:40] blackjackkent commented on #61544
(Talked to Matthew today and he doesn't have much bandwidth alongside limited Atomic stuff, so I will grab this myself.)

[2022-03-16 18:57] blackjackkent commented on #61819
I spent some time in conversation with @alshakero today discussing where things stand regarding this migration. The upshot:

- Vertex team is making excellent progress on the migration and plans to have things in a stable state by a week from Monday (i.e. the start of our next sprint).
- Serenity can hold off on issues specifically involving adding/manipulating new steps in onboarding flows (such

[2022-03-16 18:57] #61819 closed, assigned to nobody

[2022-03-16 18:57] Addison-Stavlo commented on #60110
Noting that the fix is currently live on `edge` sites running G v12.8+ and should make its way to production in the next couple days.

[2022-03-16 19:14] manRebollo commented on #57812
New occurrence in 4866570-zd-woothemes
I could not reproduce using a Support Session.
The customer decided to use the workaround on their own.

[2022-03-16 20:01] WBerredo opened #61993 "Marketplace: i18n on plugins search"
When searching plugins (free or paid) only the actual name is considered for the search. This name is usually in English.
It would be nice if a user could find the best plugins even searching in their native language.

[2022-03-16 20:06] wiesenhauss opened #61996 "Mayland (Blocks) not showing social icons on Social Navigation menu location"
### Quick summary

When using the Mayland (Blocks) theme, the social icons are not displayed when social links are used in the Social Navigation menu location:
<img width="305" alt="Screen Shot 2022-03-16 at 16 57 32" src="https://user-images.githubusercontent.com/99455043/158679432-e3246e55-0bde-4f7b-8485-38b3dffbc4d1.png">

### Steps to reproduce

1. Create new menu
2. Set menu location to "Soci

[2022-03-16 20:37] #61886 closed, assigned to paulopmt1

[2022-03-16 20:38] #61895 closed, assigned to paulopmt1

[2022-03-16 20:42] paulopmt1 commented on #61888
Diff code in Phabricator: D76920-code

[2022-03-16 20:43] mxhassani opened #61997 "Theme Dalston (Varia) Column block now has spacing and dosn't offer block spacing setting"
### Quick summary

It appears that a gap was added to the column block preventing the Dalston theme to be used as advertised on the theme info page (https://wordpress.com/theme/dalston/).
The issue seems to have affected the Dalston demo site too.
The same gap is visible on the parent theme, Varia.

### Steps to reproduce

1. Create a new site
2. Activate Dalston theme
3. Click edit home page

OR

[2022-03-16 21:01] JulianBustamante commented on #61563
Deployed r241914-wpcom/

[2022-03-16 21:05] burtek commented on #21133
That's my forum post :)

Basically there is no point in setting up U2F/Webauthn if OTP/SMS are required anyways, since the latter ones provide much less security.

As mentioned in the post:

1. SMS is very unsecure option with SIM swap attacks being still an issue in today’s world as well as due to it’s [insecure nature](https://www.howtogeek.com/709373/why-sms-text-messages-arent-private-or-secur

[2022-03-16 21:51] #61983 closed, assigned to pgk, roundhill

[2022-03-16 22:09] KirkwallDay opened #61999 "Wording change on the Domain Connection settings screen."
### What

Currently the wording on the Domain Settings page at Upgrades > Domains > Click 3 dots and "View Settings" always says "Domain Connection Expires on..." :

![Annotation on 2022-03-16 at 16-03-30](https://user-images.githubusercontent.com/49131029/158698899-21378a28-cd1d-43b9-8b91-543d9e28c4b2.png)

This creates some confusion when on the Purchases screen the plan says "Auto Renews on..."

[2022-03-16 22:40] #61491 closed, assigned to Rolilink

[2022-03-16 23:18] burtek commented on #55925
+1 - messaged in another thread: https://github.com/Automattic/wp-calypso/issues/21133#issuecomment-1069631890

[2022-03-17 01:41] arinoch opened #62002 "Storefront: Subscription forms Cut Off at the Bottom"
### Quick summary

The subscription form block is cut off when using the Storefront theme. Changing the block settings does nothing. Does not happen on other themes.

### Steps to reproduce

1. Install and activate the Storefront theme on an atomic site.
2. Create a new post or page, or edit an existing one.
3. Add, optionally inside a cover block, the subscription form to that post or page.

###

[2022-03-17 02:05] gabriel-fuentes commented on #52100
4867639 zd

[2022-03-17 02:12] autumnfjeld opened #62004 "Kerr preview in Design Picker is broken"
## Kerr preview in Design Picker is broken

### Observed
Broken layout
![image](https://user-images.githubusercontent.com/5665959/158722791-ef436963-e26b-4b39-91fd-6cff917fb243.png)
![image](https://user-images.githubusercontent.com/5665959/158722807-749e08df-36fd-428c-9683-095422d3c69d.png)

### Expected
To be like demo site
![image](https://user-images.githubusercontent.com/5665959/158722948-5cb

[2022-03-17 03:35] lsl opened #62005 "Marketplace: Add WooCommerce USPS"
Add USPS Shipping method extension to the marketplace

Documentation: PCYsg-AhH-p2
URL https://woocommerce.com/products/usps-shipping-method/
Slug: `woocommerce-shipping-usps`
Name: `WooCommerce USPS Shipping Method`

### Add billing products
 - [x] Post preflight p2, example pdh6GB-vf-p2
 - [x] Add product, yearly, monthly plans see docs PCYsg-CJy-p2

### Create store products
 - [x] Reserve stor

[2022-03-17 04:02] nagpai commented on #60483
4867320-zen

[2022-03-17 04:03] lsl commented on #62005
Preflight pdh6GB-vf-p2

[2022-03-17 04:25] fushar commented on #62004
Fixed on D76934-code.

[2022-03-17 04:25] #62004 closed, assigned to fushar

[2022-03-17 04:26] fushar commented on #62004
Kerr on Design Picker after shipping the fix:

![image](https://user-images.githubusercontent.com/1525580/158737028-0ebd851a-8d38-4bf7-b569-dc38a931c7eb.png)

[2022-03-17 05:35] lsl commented on #61942
p1647408075494489-slack-C096PD42U

Added new yearly plans against 650, added new monthly plans, sync'd to prod.

[2022-03-17 05:35] #61942 closed, assigned to lsl

[2022-03-17 05:43] Robertght commented on #61517
This remains a problem on the user's site, however, I tried to replicate it and I'm having a hard time finding a pattern. The site has 3rd and 4th level categories and for some reason, if you delete one of them, another one shows up.

[2022-03-17 05:53] inaikem commented on #61517
Just a note that 4814232-zen would like a reply on this once it's resolved 🙏

[2022-03-17 06:50] lsl opened #62007 "Spotlight corners need rounding"

[2022-03-17 06:51] #62007 closed, assigned to nobody

[2022-03-17 06:58] vishnugopal commented on #51442
Just for clarification, here's what I tried:

https://user-images.githubusercontent.com/533/158753860-ea0a4594-7249-44f4-8945-f30cd60f9cc1.mp4

I'm unable to find `tt1-blocks` (think it's twenty twentyone blocks, but I'm assuming twentytwentytwo will work fine here)

cc @creativecoder

[2022-03-17 07:41] kuropixel opened #62008 "WordPress.com editor promo has English "Try it Out!" button in German language version"
### Quick summary

When opening a new post/page for the first time, there is usually a promo window with a small introduction to the block editor/WordPress.com editor. In the German version of this, the "Try it out" button is in English and not localized.
![Markup on 2022-03-17 at 13:24:54](https://user-images.githubusercontent.com/83020905/158760115-79a680bf-0f68-430e-abab-3b626c3d5f05.png)
.
![M

[2022-03-17 08:10] cpapazoglou commented on #61993
@gibrown does Jetpack search allow searching in all translated fields?

[2022-03-17 08:11] cpapazoglou commented on #58457
@vajrasar any updates here?

[2022-03-17 08:44] vishnugopal commented on #59038
Discussion:
- 2 diffs here: D76226-code D76923-code
- Will be done soon!

[2022-03-17 08:52] vishnugopal opened #62009 "Backport essential fixes from wordpress-importer 0.7.0 to wordpress-importer 0.6.5-alpha"
See: pcmemI-rX-p2

[2022-03-17 09:04] mmtr commented on #61509
_(Copied from https://github.com/Automattic/wp-calypso/pull/61928#discussion_r828893030)_

Oh right, I guess it would depend on how we sell the Business plan.

If we say that users are only allowed to **use** custom themes on the Business plan, I think we shouldn't differentiate between install/upload/switch, and instead create a more generic feature/capability that includes the whole management o

[2022-03-17 09:10] mmtr commented on #61509
Thinking more about this.

When a customer cancels the Business plan on an Atomic site that has a third-party theme active, we automatically change the site theme to a first-party theme, so for consistency, I think we shouldn't allow access to My Themes if they don't have a Business plan.

[2022-03-17 09:10] vishnugopal commented on #61145
This has been fixed in the mainline wordpress-importer 0.7.0

[2022-03-17 09:10] vishnugopal commented on #61145
[Backporting this fix](https://github.com/Automattic/wp-calypso/issues/62009) should be easy!

[2022-03-17 09:39] getdave commented on #59595
It could be improve yes, but Gutenberg actually provides the ability to manage these. Calypso isn't exposing the screen due to Nav Unification configuration. Suggest reaching out to someone who worked on that who works on Dotcom to get it fixed.

Also there is a workaround - you can select the offending menus in a Nav block and then delete them as shown here.

https://www.youtube.com/watch?v=cWd1E

[2022-03-17 11:24] mxhassani commented on #60741
Meeting the same blocker when trying to offer a workaround for its other issue:
https://github.com/Automattic/wp-calypso/issues/61997

[2022-03-17 13:13] #61805 closed, assigned to markbiek

[2022-03-17 13:23] gcsecsey commented on #61933
Backlog grooming:
For the time being, we should remove the filtering on the `Browse All` option. Long term, we'd like to utilize pagination on the backend.

[2022-03-17 13:47] zaerl commented on #59527
I'm on it. Of course, we can generate a new async job around `gutenberg_generate_block_templates_export_file` and send an email as it happens in other export calls.

If this is the way we want to take then some small changes will be necessary on FE. Let me know.

[2022-03-17 13:47] tyxla commented on #60354
Seems like we broke this when we were porting refs to use the modern string syntax in #56719.

The fix is in #62014 - I'd appreciate it if anyone participating in this issue could give it a spin. 🙌

[2022-03-17 13:56] vinimotaa commented on #61551
Hi folks,

will leave this link here where I started looking into a solution to this:
https://www.figma.com/file/DekZ88lDqG8Je04SyG1ZBK/Seller-Pathway?node-id=0%3A1

*this needs to be discussed and refined

[2022-03-17 14:27] cpapazoglou commented on #61618
This issue is duplicate of https://github.com/Automattic/wp-calypso/issues/61607.

There are no specific Marketplace Terms for end users, except from the third party plugin terms.

[2022-03-17 14:27] #61618 closed, assigned to epeicher

[2022-03-17 14:55] obenland commented on #61509
In that case `install_themes` feels most appropriate. Thanks for talking this through with me!

[2022-03-17 15:29] markbiek opened #62016 "Public API [Bug]: Theme search for "twentytwo" returns no results"
### Quick summary

When searching for "twentytwo" (or "twenty-two") using the `/rest/v1.2/themes` endpoint, we get no results

### Steps to reproduce

1. Visit https://public-api.wordpress.com/rest/v1.2/themes?http_envelope=1&search=twentytwo&page=1&tier=&filter=&number=100
2. Visit https://public-api.wordpress.com/rest/v1.2/themes?http_envelope=1&search=twenty-two&page=1&tier=&filter=&number=100

[2022-03-17 15:29] markbiek commented on #61544
Public API issue noted here: #62016

[2022-03-17 15:29] renata-franco opened #62017 "[FSE] Navigation submenu text color always black"
### Quick summary

I had a chat with a user trying to make their submenu items text the color orange, but this would not change no matter the color you choose. It always stayed Black. We had to provide a Custom Design upgrade (The user is on Personal plan) and also CSS to fix this.

### Steps to reproduce

1. Go to Site Editor.
2. Add a Menu that has submenus on the Navigation block of the Header.

[2022-03-17 15:44] markbiek commented on #61544
@blackjackkent I feel like Matthew's idea of adding an exception to prevent `twentytwo` from triggering the `two:column` suggestion is the best way to go.

_However_, I wonder if the `two:column` suggestion would seem less weird if we actually got theme results when searching for `twentytwo`/`twenty-two`?

[2022-03-17 16:17] mikeicode commented on #61203
I ran into this again building a DIFM-L site using Alonso. Why don't FSE themes have social icon blocks in the headers by default like previous themes had the social menus?

Here's the process I need to go through to add a standard layout with social icons to the right of the menu.

Starting layout:

![Screen Shot on 2022-03-17 at 11:41:13](https://user-images.githubusercontent.com/10353785/158842

[2022-03-17 16:19] metabreakr commented on #61203
@mikeicode Adding the navigation and social icons blocks in a row block has been my workaround as well.

[2022-03-17 16:44] Addison-Stavlo commented on #60110
This fix is now live on dotcom.

[2022-03-17 16:44] #60110 closed, assigned to zaguiini

[2022-03-17 16:57] upwardmomentum84 opened #62020 "Form in Footer Widget Area Not Redirecting on Submit"
### Quick summary

When a Form block is in the footer widget area and is submitted, it is not redirecting to the specified page.

### Steps to reproduce

1. Tested using `Twenty Twenty` but this issue seems to affect other themes such as `Gateway`.
2. Go to **Appearance > Widgets**, add a Form, set the form to redirect to another page on submission.
3. Open site in a browser, go to footer and subm

[2022-03-17 16:59] arcangelini commented on #56091
OK I published a PR to apply these links to the blocks mentioned above there was an issue with 2 of them.

1. **Group block** - this has a fancy "variation" option in place where the description should be so it is not able to be added here.
2. **Subscription block** - there is a link to the Reader added to that one which was causing the description to break when adding the support link. In this ca

[2022-03-17 17:03] blackjackkent commented on #61544
@markbiek In other words, you're wondering if fixing the first issue makes the other ones less significant?

I'd say def go ahead and get a PR in for the main hyphen issue and we can get further opinions once that is merged.

[2022-03-17 17:34] #60256 closed, assigned to nobody

[2022-03-17 17:47] markbiek commented on #61544
@blackjackkent Sorry I wasn't more clear.

There isn't really a hyphen issue, per-se. Typing `two` in any context triggers that `two:column` suggestion.

To me, the larger issue is that you should be getting search results back and you don't (which is the API issue).

That said, I have an idea for preventing the `two:column` suggestion that I'm trying out now.

[2022-03-17 18:36] paulopmt1 commented on #61887
## How to validate

1. Make sure the product is on the production `store_products` table: `gpr select * from store_products where product_slug like 'woocommerce_pre_orders_%`. You should see monthly and yearly plans:

![image](https://user-images.githubusercontent.com/1044309/158871987-396bef7f-ad66-4291-854e-ccaeda05208b.png)

### Validate:
- Product IDs: should be the same registered in [this st

[2022-03-17 18:49] allilevine opened #62025 "Marketplace: add Jetpack Search"
Relevant PT comment: pdh6GB-s7-p2#comment-958
Documentation: PCYsg-AhH-p2

We need to add Jetpack Search as a plugin that can be purchased via the Marketplace. However, Jetpack Search is really a service that's already available on WordPress.com. See https://wordpress.com/jetpack-search/

- [x] Plan for how to create a Marketplace product that when purchased activates the Jetpack Search billing pl

[2022-03-17 20:01] dlind1 commented on #57816
Strings for all the extensions were [sent for translation](https://weloctalk.wordpress.com/2022/03/17/new-project-woocommerce-com-marketplace-product-pages/) into [German, Italian and Brazilian Portuguese](https://mc.a8c.com/i18n/linguine/inspect.php?job=8561). French and Spanish translations should be already available.

[2022-03-17 20:10] markbiek opened #62031 "Seller Experience: Drop the useIsSimpleSeller hook"
The WooCommerce landing page is currently using [the useIsSimpleSeller hook](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/woocommerce/landing-page.tsx#L41) to conditionally display content.

Turns out this is actually necessary. We can simple check the site options for the "sell" intent.

The plan is to drop the `useIsSimpleSeller` hook entirely since it's not being used any

[2022-03-17 20:12] lupus2k opened #62032 "Marketplace: Icons from JITM are not consistent"
### Details

Messages in Jetpack/Atomic sites or simple sites result differently as Jetpack uses some internal logic to render icons before returning the JSON.

### Examples ###
#### Simple sites ####
It returns a string as an icon
<img width="665" alt="image" src="https://user-images.githubusercontent.com/402286/158886394-5401942c-ef87-4b27-b1f6-8f262e41803e.png">

#### Atomic/Jetpack sites ####

[2022-03-17 20:26] Brianmitchtay opened #62033 "Built-in option to have external links in comments open in a new tab/window"
### What

A user just wrote and requested the option to have all external links in comments to their posts open in a new window.

Ticket is here - 4869349-zd-woothemes

They user tried manually editing the comments to add target='_blank' to links in the comments, but even still, the links open in the same window (Presumably the HTML is getting stripped in some linting or string sanitizing process?

[2022-03-17 20:52] lupus2k commented on #62032
1 and 2 from the checklist are resolved here: D77013-code

[2022-03-17 20:54] lupus2k commented on #61492
I created a separate issue for the icons problem here: https://github.com/Automattic/wp-calypso/issues/62032

[2022-03-17 21:23] alliebbush2 commented on #54936
This is also occurring in the Balasana theme. ZD: #4870225

[2022-03-17 21:24] worldomonation commented on #60868
With the last piece merged, I think we can call this project as done.

[2022-03-17 21:24] #60868 closed, assigned to worldomonation

[2022-03-17 21:30] arinoch commented on #62033
Issue edited to replace ticket link with shorthand. PCYsg-5Xx-p2

CC: @Brianmitchtay

[2022-03-17 21:52] #61509 closed, assigned to obenland

[2022-03-17 22:10] ccwalburn opened #62035 "Stats Insights - Comments by Author counts are wrong"
### Quick summary

I received a report of a site where the stats in the **Comments by Author** section on the **Stats > Insights** tab do not match the number of comments found for that author in the **Comments** section of the dashboard.
See slack discussion: p1647552043886979-slack-C02DQP0FP

### Steps to reproduce

I have not reproduced this but have an example of a site where this is occurring

[2022-03-17 22:24] p-jackson commented on #61974
Turns out we're not actually polling, I misunderstood the network traffic. We're actually showing the spinner but not checking with the server at all about whether "transfer is complete".

I'm not sure whether it was fully reverted or not, is there somewhere I can see whether a particular site is still in the backlog?

Either way, Calypso isn't actually checking with the backend so the spinner sta

[2022-03-17 22:55] kelasante opened #62036 "Post Carousel Block image glitch on AutoPlay in Safari"
### Quick summary

Images in Post Carousel block glitch briefly as they scroll to the next image in the Safari browser.  This happens when the autoplay setting is enabled.

### Steps to reproduce

1. Add a Post Carousel block to a page and add images.
2. Turn autoplay on.
3. View page in Safari

### What you expected to happen

The Block seamlessly autoplay to the next image

### What actually hap

[2022-03-17 23:08] vinimotaa commented on #61548
@lsl @paulopmt1

![woo_icon](https://user-images.githubusercontent.com/97929097/158908406-cf503fab-bc49-475d-9cc2-0270d63bf0cd.svg)

Hi both, sorry the dealy here - I'm on my own covering different things across teams. Find attached the SVG version of this logo. I think is a good practice if we could always (as much as we can) upload SVGs into the system so we don't have resolution loss.

Let me k

[2022-03-17 23:14] JessBoctor commented on #60209
I ran into this again in #34270386-HC

In this case, the customer's first post content was being merged across pagination pages

[2022-03-17 23:58] lsl commented on #61887
We don't really need to review these ones but LGTM!

[2022-03-17 23:58] #61887 closed, assigned to paulopmt1

[2022-03-18 00:29] lsl opened #62038 "Plugin installed badges: Alignment between paid / free"
On https://wordpress.com/plugins, the free rating bar should be inline with the paid one. Also the rating bar looks like it's not vertically centered with the text but that's pretty minor.

![Screenshot(74)](https://user-images.githubusercontent.com/811776/158915025-58d97ae1-6ea4-4b7a-bdd3-cc95738bf0aa.png)

- [ ] Align free rating bar with paid
- [ ] Align rating stars with text

[2022-03-18 00:41] lsl commented on #61548
No worries, and thank you! We might end up with png in there for pre orders but I'll update both to svg in the later UPS commit. (using same image)

[2022-03-18 01:08] autumnfjeld commented on #61628
@roo2 : paYKcK-1rX-p2 , left a comment there.

[2022-03-18 01:25] lsl commented on #61888
Merged

[2022-03-18 01:25] #61888 closed, assigned to paulopmt1

[2022-03-18 03:00] retnonindya opened #62040 "WordPress App: Please add Custom HTML Block on the app"
### What

The title is pretty much it :D A user reached out on chat, informed us that they like using our app (WP for Android,) but they found out that they need to open WordPress.com on browser to enter affiliate links/Amazon links (HTML iframe code) on their blog post. It works, but it's not ideal as they prefer to do it on app (as app is faster on mobile/handheld gadget.)

Currently, we have th

[2022-03-18 03:57] lsl commented on #61492
Merged D76242-code

[2022-03-18 03:57] #61492 closed, assigned to lupus2k, Rolilink

[2022-03-18 04:42] nagpai opened #62041 "Block patterns : Few Thumbnails of Block patterns are broken / overlapping"
### Quick summary

Few preview thumbnails of block patterns appear squished / messed up

### Steps to reproduce

1. On a test site click the block pattern selector
2. Check the preview thumbnails of a few patterns especially those that have multiple images on multiple columns.
You will see them broken
![image](https://user-images.githubusercontent.com/4162931/158939067-896fd42d-71b3-4d16-a773-7dbe

[2022-03-18 07:09] InsomniacSabbir commented on #51164
Another one here: 34702047-hc

[2022-03-18 07:11] vishnugopal commented on #59527
@zaerl Can you estimate the difficulty of the async job solution? If it's likely to take a while, let's move ahead with the temporary renaming.

[2022-03-18 07:22] devNigel opened #62042 "Independent Publisher 2: Button has Blue color when Black is set in the editor."
### Quick summary

With Independent Publisher 2 theme, if we set button background color to black, it will have blue color.

Tried adjusting Colors in the Customizer, but it was still showing blue color.the the

### Steps to reproduce

1. On a Simple or AT site, activate Independent Publisher 2.
2. Create a page or post and add button with black background `#000000`.
3. Check the post or the page

[2022-03-18 07:49] KokkieH commented on #50168
Hi @pendantry. Thanks for the issue. Only members of the Automattic organisation can add tags. We have people who regularly triages new issues to do that, but I happened across this while looking for something else and have now added the tag for you :)

[2022-03-18 09:17] csabarakasz opened #62043 "FSE: Site logo does not center in Editor, but it respects it on the live site"
### Quick summary

Recording: https://cln.sh/oLvgS0

Steps:
- Insert Site logo
- Align to the middle (does not show in Editor)
- Save/ save changes
- Alignment applied on the live site

### Steps to reproduce

Steps:
- Insert Site logo
- Align to the middle (does not show in Editor)
- Save/ save changes
- Alignment applied on the live site

### What you expected to happen

The center alignment wou

[2022-03-18 09:33] yansern commented on #61699
The old e-mail template uses `get_avatar()`, whereas the new e-mail template uses `wpcom_get_avatar_url()`. Looking at `get_avatar()`, there isn't any fallback mechanism in place.

`Subscription_Mailer` class uses `wpcom_get_avatar_url()` and doesn't pass anything to the `default` param. When the `default` param is empty, it will fallback to the value `identicon`, which renders this quilt-like ico

[2022-03-18 09:33] #61699 closed, assigned to yansern

[2022-03-18 09:48] csabarakasz opened #62044 "FSE: Timeline block alignment settings show up wrong with the Alternate feature"
### Quick summary

Recording of the issue: https://cln.sh/eNqCP3

Steps

- Add a new timeline block
- First, the Alternate feature alignment settings show up (without it turned on)
- Turn on the Alternate items feature
- The alignment setting works
- When we turn off the Alternate feature now, it will not show the alignment settings as expected

### Steps to reproduce

Steps

- Add a new timeline

[2022-03-18 09:55] liviopv opened #62045 "Post Author Block: Author List shown in settings lacks context"
### Quick summary

When adding the Post Author Block into a template, the settings for the Block will show an "Author" dropdown section without any context to what it changes.

From my tests, when you add it to a template while editing a page/post, it will assign the page to a new Author, which is weird, considering you're editing a single block, not the page/post settings.

![Markup on 2022-03-18

[2022-03-18 09:57] geekinthegirl opened #62046 "Choosing Pexels from any image block gives a 'cURL 6: could not resolve host: host.docker.internal' error"
### Quick summary

When adding any kind of image to a page or post via the image block or featured image, then choosing Select Image > Pexels, the following error shows:
<img width="1679" alt="Screenshot 2022-03-17 at 11 34 22" src="https://user-images.githubusercontent.com/22247240/158979238-a8006b1c-2c62-4e6a-b5ac-efc5beb51e50.png">

This seems to be happeining intermittently for myself and othe

[2022-03-18 10:00] ivan-ottinger commented on #61699
Thank you for digging into this!

[2022-03-18 10:17] csabarakasz opened #62047 "Text blocks’ (ie.: Paragraph, Heading, Quote, List) Toolbar Appearance settings, forcibly overwrites the Sidebar Appearance settings"
### Quick summary

Screen recording: https://cln.sh/tKZt85

### Steps to reproduce

Steps:
- Add any of these blocks: Paragraph, Heading, Quote, List
- In the Hovering Toolbar, if you use either the Bold or Italics feature,
![CleanShot 2022-03-17 at 12 03 37](https://user-images.githubusercontent.com/84539773/158983446-9663c7a7-7560-466d-8858-1a9d54358da1.jpeg)
- It will always forcibly overwrites

[2022-03-18 10:37] geekinthegirl opened #62049 "Add option to change font type for site title without affecting other headings"
### What

It would be great to have the option to change the font style of just the site title by itself, independently of any other page/post headings.

### Why

Some users may want some differentiation in font style between their overall site header text, and smaller page content titles (h2s, h3s, etc.)

### How

This could be added to the Customizer > Site Identity, or applied to the FSE Site E

[2022-03-18 10:45] alevarsir opened #62050 "Adding a "Clear" button to the color selection to all the blocks"
### What

There is no “Clear” button to clear the color selection of a Paragraph or a Group block, and you need to click on the three dots and then remove the color from the sections list, as can be seen here:
![Screen Capture on 2022-03-18 at 09-30-21](https://user-images.githubusercontent.com/19716215/158987791-45110002-b1a0-4b01-adcc-b9253f8244b3.gif)

But there is a “Clear” color button in the

[2022-03-18 10:51] csabarakasz opened #62051 "FSE: Show Post content when editing a Template"
### What

When I am editing a Template, I can't see the content of the Post Content block. This makes it difficult to edit/ design the Template because I can't see how my site looks. In Editor (Beta) when editing a Template with a Post Content block, I should be able to have the option to make a specific Post to appear, so I can see my page while editing the site.
![CleanShot 2022-03-17 at 12 32 1

[2022-03-18 10:54] pauljacobson opened #62052 "[Bug]: "Add New" button on Templates page in Site Editor opens panel behind template UI"
### Quick summary

Clicking on the _Add New_ button in _Appearance_ > _Site Editor_ > _Templates_ opens what should be a dropdown option to create a new template behind the panel that uses the `.interface-interface-skeleton__content` class.

### Issue in context

https://user-images.githubusercontent.com/2912202/158989282-f44758a2-6538-410e-9aec-1dc06eea1928.mp4

### Closer view

![Capture_2022-03

[2022-03-18 10:56] sguzovskaia opened #62053 "Users are taken to the Posts section instead of My Home after accepting invites to manage new FSE sites"
### Quick summary

1. After accepting an invite to manage a site, users are taken to the Posts section instead of My Home

![Markup on 2022-03-17 at 10:40:23](https://user-images.githubusercontent.com/47414943/158984588-dedb48a7-2997-46fb-a284-bd651a54aa8f.png)

2. The notification has a link to the old [Learn WordPress](http://learn.wordpress.com/) site.

`Not sure where to start? Head on over to

[2022-03-18 10:58] Robertght opened #62054 "FSE: Cannot add a new template"
### Quick summary

We can't add a new template when we try so

### Steps to reproduce

Access the Site editor
Click on Templates
Click on Add new template

### What you expected to happen

To see the option to add a new template

### What actually happened

The option is hidden underneath the main templates list.

### Context

https://user-images.githubusercontent.com/6737345/158991044-c01947c1-51

[2022-03-18 11:27] Addison-Stavlo commented on #62054
After quickly testing this seems related to Gutenberg 12.8.0 Upgrade.

On dotcom, running G 12.7 we can click this button and access the dropdown selection:

![Screen Shot 2022-03-18 at 7 24 01 AM](https://user-images.githubusercontent.com/28742426/158995052-7fb67a61-b0f4-47db-a386-f01cb8ea0c2f.png)

However, with 12.8 this dropdown now seems to be hidden behind the template list section itself:

[2022-03-18 11:41] pauljacobson opened #62055 "[Bug]: Block previews not being displayed in block inserter panel"
### Quick summary

Block previews are missing from the block inserter panel in the page/post editor.

### Steps to reproduce

1. Toggle the block inserter
2. Mouse over a block icon
3. Notice that there are no block previews loading

### What you expected to happen

Previously, hovering your mouse over a block icon toggled a block preview, much like this:

![Capture_2022-03-17 at 11 37 57](https:/

[2022-03-18 11:46] Addison-Stavlo commented on #62054
Digging Further, it looks like this was a temporary regression in Gutenberg itself that is resolved on `trunk` branch:
* Running local Gutenberg on branch `v12.8.0` reproduces the problem.
* Running local Gutenberg on `trunk` the problem seems resolved.

Odd side note... when I run the `v12.8.0` branch, the Gutenberg version in plugins is listed as `12.8.1` 😕  then when I run trunk its listed as `

[2022-03-18 11:52] pauljacobson commented on #62054
I also reported this issue here: #62052

[2022-03-18 11:55] Addison-Stavlo commented on #62054
Also found this reported in Gutenberg repo - https://github.com/WordPress/gutenberg/issues/39548

[2022-03-18 11:57] Addison-Stavlo commented on #62052
Thanks for creating this detailed issue report @pauljacobson !

Im going to close this issue in favor of:
* https://github.com/Automattic/wp-calypso/issues/62054
* https://github.com/WordPress/gutenberg/issues/39548

since we have duplicates in wp-calypso atm and see the root cause fixed upstream. were working to wrangle this down to dotcom though 😁

[2022-03-18 11:57] #62052 closed, assigned to nobody

[2022-03-18 12:04] jartes commented on #59434
7207370-hc

[2022-03-18 12:06] geekinthegirl opened #62057 "Remove retired theme mentions from learn.wordpress.com"
### What

Retired themes are mentioned and previewed on our learn.wordpress.com resource - specifically the Natural theme, on the 'Get Configured' page: https://wordpress.com/learn/get-configured/

<img width="1443" alt="Screenshot 2022-03-18 at 11 47 58" src="https://user-images.githubusercontent.com/22247240/159000096-83c5fb9f-84de-46be-97fd-5f9705aa439d.png">

It may also be worth updating the

[2022-03-18 12:17] #61143 closed, assigned to epeicher

[2022-03-18 12:18] pauljacobson opened #62058 "[Bug]: Global Styles missing from the page template editor in the Page editor"
### Quick summary

The Global Styles panel is not available when enabling the template editor from the Page editor. It is, however, available when editing the template from _Appearance_ > _Site Editor_ > _Templates_. See here:

https://user-images.githubusercontent.com/2912202/159001539-75fb8c4b-ce21-4552-98ab-a5f365f5ab26.mp4

### Steps to reproduce

1. In a Page editor window, click to edit the

[2022-03-18 12:19] pauljacobson commented on #62052
Thanks for the update @Addison-Stavlo

[2022-03-18 12:31] epeicher commented on #61917
Closed as it has been resolved by
- https://github.com/Automattic/wp-calypso/pull/61995

as part of the following task
- https://github.com/Automattic/wp-calypso/issues/61143

[2022-03-18 12:31] #61917 closed, assigned to epeicher

[2022-03-18 12:33] sourourn opened #62060 "Feature request: option to display product price in query loop block"
### What

When selecting to display products within a query loop block, the price of the products does not display - instead there is a "read more" link. There is also no option to display the product price within the block's settings.

<img width="1376" alt="Screen Shot 2022-03-18 at 12 30 49" src="https://user-images.githubusercontent.com/39188945/159003759-a5a7fdc0-9422-42db-a102-94f6a90e38f5.p

[2022-03-18 12:36] pauljacobson opened #62061 "Mirror custom fonts list in Customizer in Global Styles font dropdowns"
### Quick summary

The Global Styles dropdowns for font selection only offers three options -

- Theme default
- Heading font selection from custom fonts in Customizer
- Body text font selection from custom fonts in Customizer

Looking ahead to where Customizer could be deprecated in favor of Global Styles (at least in part), it makes sense to mirror the font selection option from Customizer in Gl

[2022-03-18 12:45] pauljacobson commented on #62061
Adding this feature could also resolve #53476

[2022-03-18 12:52] #61483 closed, assigned to BogdanUngureanu

[2022-03-18 12:57] sourourn opened #62062 "Feature request: option to select and insert “woocommerce single product (legacy template)” as a block into any template."
### What

The single product template gets created once WooCommerce is installed and there is a legacy template added into the template. It would be great to have that legacy template as a block that can added into other templates or other locations.

### Why

If a user was to accidentally delete their single product template or if they wanted to create a new template that contains a single produc

[2022-03-18 12:58] liviopv opened #62063 "Feature Request: add a Landing Page pattern category"
### What

Landing Pages are one of the most sought-after types of content small business owners or bloggers want to create, and it's something HE's often get asked about in support.

Even though we have a lot of themes with amazing landing-page-like structures, we don't have any patterns categorized as "Landing Page".

![Markup on 2022-03-18 at 12:55:21](https://user-images.githubusercontent.com/1

[2022-03-18 13:07] filipanoscampos commented on #60209
Another case here: #34741194-hc.

[2022-03-18 13:08] #61466 closed, assigned to nelsonec87

[2022-03-18 13:15] #60354 closed, assigned to tyxla

[2022-03-18 13:27] Robertght commented on #61876
Thank you for reporting this @formosattic ! I tested this further and noticed that the wrapping works ok in a page or a post, but not in the editor:

![image](https://user-images.githubusercontent.com/6737345/159011119-6debf159-d2b7-444b-bc5f-5a1b00cc311d.png)

Also, I've tested this with the Post content block inside and outside the group block and the text wrap around the image:

![image](https:

[2022-03-18 13:35] Robertght commented on #61996
Thank you for reporting this! I'm closing it favor of https://github.com/Automattic/themes/issues/5673

[2022-03-18 13:35] Robertght commented on #61877
Thank you for reporting this! I'm closing it favor of https://github.com/Automattic/themes/issues/5673

[2022-03-18 13:38] #61877 closed, assigned to nobody

[2022-03-18 13:38] #61996 closed, assigned to nobody

[2022-03-18 13:42] andres-blanco commented on #60270
Added more details to the changes needed for the docs p1647610919421119/1647278438.244149-slack-C033YABM42V

[2022-03-18 13:46] davipontesblog opened #62064 "Editor: Images don't resize (not screen responsive) in Mobile view"
### Quick summary

It seems like a Gutenberg update may have broken the editor styles for mobile responsiveness for Images (Image block tested) while **in the Editor**. This is not happening in live post view, only in the Editor.

See below some screenshots:

In Editor:

<img width="1233" alt="Screen Shot on 2022-03-18 at 10-26-43" src="https://user-images.githubusercontent.com/31009008/159013329-

[2022-03-18 13:51] ClassicRKR27 commented on #57449
Another instance here: 34725540-hc

[2022-03-18 13:58] cpapazoglou commented on #43230
@SaxonF , @vinimotaa after doing a Marketplace walkthrough I noticed that we can do a better job in _marketing_ our paid search results. Searching for `subscriptions` (our top selling product) I get the following results

![CleanShot 2022-03-18 at 15 30 09@2x](https://user-images.githubusercontent.com/12430020/159015752-e6d68b8b-96bb-41c1-9a52-e642933357ec.png)

there isn't any incentive for the u

[2022-03-18 14:00] cpapazoglou opened #62065 "Marketplace: Breadcrumb with long text padding / wrapping"
- In your site, go to `Plugins`
- Search for `subscriptions`
- Click on `Paid Memberships Pro`

**Result:**
- The padding between the separators doesn't look great (perhaps adding `text-align: center` can help)
- The breadcrumb wraps and doesn't seem _professional_. Should we truncate it so that it doesn't wrap?

![CleanShot 2022-03-18 at 15 59 08@2x](https://user-images.githubusercontent.com/1243

[2022-03-18 14:04] Sandkorner commented on #62054
Have the same issue just testing it on my own site.
<img width="1884" alt="Screenshot 2022-03-18 at 15 14 43" src="https://user-images.githubusercontent.com/71094068/159017406-57978f85-451c-4706-bccf-8522779a8466.png">

[2022-03-18 14:07] cpapazoglou opened #62067 "Marketplace: Plugin installation progress bar"
The progress bar in plugin installation seems not progressing in Step 2 and goes directly to Step 3. This happens especially when site is transferred to Atomic at that point of time.

**Steps to reproduce:**
- On your simple business site
- Go to plugins
- Pick any free plugin and proceed to installation

**Result:**
The progress bar simulates to step 1 and 2, then it gets stuck to 2 (66.6%?) for

[2022-03-18 14:18] cpapazoglou commented on #62067
Generally, at any point that a site needs to go Atomic we have no indication of that process percentage completion. @jmdodd am I missing something? Is there a way to evaluate the time needed for a site to be transferred to Atomic or adding a `completion` percentage to `/sites/${ siteId }/automated-transfers/status` API?

[2022-03-18 14:41] masperber commented on #61676
I'm not sure if this is the same issue or a new issue, but reopening this because I have a similar issue with search on a simple FSE site.

34743444-hc / 4872709-zen

Simple site. User has posts titled "Teaching with Monopoly" and "Teaching with Monopoly 2.0" and the Kerr theme active. These posts are not returned within the first 40 results by searching "Monopoly" or even by searching the exact t

[2022-03-18 14:47] eduardozulian opened #62069 "Crowdsignal: Vote and Applause Widget Blocks Not Storing Data"
### Quick summary

When you add a Vote or Applause block to a widget, the voting is not stored.

### Steps to reproduce

1. On a site using Widget Blocks, go to the Widget section
2. Add a new block
3. Choose either the Vote or the Applause block. If testing with an AT site, you'll need to install https://wordpress.org/plugins/crowdsignal-forms/
4. Save it
5. Visit your site
6. Try to hit thumbs u

[2022-03-18 15:23] #61544 closed, assigned to markbiek

[2022-03-18 17:04] ianstewart opened #62074 "Design Picker: Add tracks events for Upgrade Button on Premium Themes"
I think we will need/want two events here.

1. Design picker grid upgrade button, prop for theme.
2. Design preview upgrade button, prop for theme.

**Design picker grid upgrade button, prop for theme**

![image](https://user-images.githubusercontent.com/545779/159049275-898cc2e8-b238-44fc-a6fb-da6aed800edd.png)

**Design preview upgrade button, prop for theme**

![image](https://user-images.githu

[2022-03-18 17:15] #61182 closed, assigned to worldomonation

[2022-03-18 17:43] Addison-Stavlo commented on #62054
This fix is now live on simple sites with the release of Gutenberg v12.8.1 and should be live on AT as well shortly.

Closing the issue, but feel free to open if this resurfaces or isn't resolved with 12.8.1.

[2022-03-18 17:43] #62054 closed, assigned to nobody

[2022-03-18 17:46] paulopmt1 commented on #61548
Thanks, @vinimotaa! Fortunately @lsl, I was able to add it in the same review here: D77093-code

[2022-03-18 18:22] janmckell opened #62076 "FSE Template Editor: Change 'Areas' to 'Template Parts'"
### What

When editing a template, and you click on the dropdown for the template editor, 'Areas' should be renamed to 'Template Parts'.

<img width="296" alt="Markup 2022-03-15 at 11 52 27" src="https://user-images.githubusercontent.com/84089207/159061081-795379e6-5065-416c-963d-8feed7bd503c.png">

This was diacovered during team FSE FSE testing.

### Why

It can be very confusing for a user to d

[2022-03-18 18:24] paulopmt1 commented on #61889
Phabricator code here: D77093-code

[2022-03-18 18:41] #61890 closed, assigned to paulopmt1

[2022-03-18 18:43] janmckell commented on #59434
This user looks to be affected by same:
4870396-zen
32701618-hc

[2022-03-18 18:51] JessBoctor commented on #39956
Had a report of this in 31318564-HC

Provided the customer with the Columns Block workaround

[2022-03-18 18:56] ccwalburn commented on #61605
Another issue only it doesn't work with black `#000000`
We changed it to `#000001` and it works
The `#000000` black is not a Tertiary color so I don't think it is this bug: https://github.com/Automattic/themes/issues/5585
Theme: Rockfield
It is an AT site

[2022-03-18 19:10] eduardozulian commented on #60209
On top of what @filipanoscampos wrote, I think we have another workaround here.

If the page has only a single query block, check the **Inherit query from template** option on My Site > Site Editor > Template > Index. This will turn paginations from `?query-1-page=2` to `/page/2/.  Since the user in 4871137-zen has only a single query on a blog page, it could help.

I tried to reproduce the actual

[2022-03-18 19:52] WBerredo commented on #61537
Adding the products to the store and mapping them on WP.com: D77110-code

[2022-03-18 21:07] paulopmt1 commented on #61891
Request made here: p9o2xV-1XQ-p2

[2022-03-18 21:37] CodeAllNightNDay opened #62078 "Pullquote theme default text colors not displaying on live page"
### Quick summary

I have a user who has multiple Pullquote Blocks added to a page. The blocks seem to have all the same text color settings but they do not all show a dark color on the live page. Some text is white when it should be black. The text color shows correctly in the editor.
4873464-zen

### Steps to reproduce

1. Select a default text color for the Pullquote Block.
2. In this instance,

[2022-03-18 21:41] allilevine opened #62079 "Woo on Plans: Change plan condition"
There's a check for a business plan in the Woo on Plans installation flow:

https://github.com/Automattic/wp-calypso/blob/1c435b43df496119415b249639d5ff5dd2d6b2b2/client/signup/steps/woocommerce-install/hooks/use-woop-handling/index.ts#L128-L136

We need to change or remove it because of plan changes on WordPress.com.

- [x] Check if we can remove the plan check
- [x] Otherwise, change the plan ch

[2022-03-19 05:24] Robertght commented on #61876
I found a case in #4833757-zen where the gallery block needed to be a Group block. The site is using Blank Cavnas.

[2022-03-19 06:26] Robertght commented on #53626
4863608-zen

[2022-03-19 08:12] devNigel opened #62082 "Tortuga: Preview of embedded link is not working on some page"
### Quick summary

The user has Tortuga theme on their site. They have [this link](https://doltd.blog/2020/02/21/opinion-why-you-should-subscribe-to-dip-for-5-99-monthly-by-s-j-thorley/) embedded in the sidebar using Embed block.

On some pages, the preview of embed is not showing up.

e.g:
https://doltd.blog/contact-us/
https://doltd.blog/

### Steps to reproduce

Was not able to reproduce it on

[2022-03-19 08:27] Robertght commented on #60353
For the case above, turning off CoBlocks helped initially, however, it appears the websites are running an outdated version, 2.19.1.  This needs to be removed through CLI/SFTP and installed fresh through the Plugins page as a new one and it fixes the issue.

cc @ajaykj @Greatdane @CompChris @rw-ye @galakhyati

bcc @inaikem

[2022-03-19 08:31] Robertght commented on #61954
@davipontesblog Closing this in favor of this one: https://github.com/Automattic/wp-calypso/issues/60335

I believe this may be somewhat related to this as well: https://github.com/Automattic/wp-calypso/issues/60335

[2022-03-19 08:31] #61954 closed, assigned to nobody

[2022-03-19 08:43] Robertght opened #62083 "Reblog: Use it more than once"
### What

The Reblog feature can be used only once

### Why

To increase visibility.

### How

_No response_

[2022-03-19 08:49] arunsathiya opened #62084 "Feature request: to be able to hide the web app installer icon"
### What

We've got a request to be able to hide the "install as a web app" icon when customers visit the WordPress.com website. It's visible on Google Chrome.

<img width="1020" alt="image" src="https://user-images.githubusercontent.com/18581859/159114423-98dc1dd8-9a59-431f-95b3-4b11f2894c32.png">

### Why

Just a customer's personal preference? At this time, they can dismiss/ignore it and I have

[2022-03-19 13:23] rinazrina commented on #62078
I got another report here: #4874848-zen

Theme: Alves

The theme color is displaying correctly on the top and bottom borders, but not on the right and left borders. The color was correct on the editor, but not on the live page.

Slightly altering the color code did the trick.

[2022-03-19 15:14] benchilcote opened #62085 "Zoologist: Secondary color not being applied to header or paragraph block"
### Quick summary

When applying the secondary theme color to a paragraph or header block, the color change is not visible either in the editor, in a draft preview, or on a published page.

### Steps to reproduce

1. Activate the Zoologist theme
2. Set a custom secondary color from Customize > Colors
3. Create a new post or page and add a paragraph or header block with text
4. Change the text colo

[2022-03-19 19:49] davidganz opened #62088 "Crash on Linux Kernel 5.14+[Bug]:"
### Quick summary

The App simply Crashes with output:
FATAL:gpu_data_manager_impl_private.cc(415)] GPU process isn't usable. Goodbye.
Trace/breakpoint trap (core dumped)

Tested on Ubuntu 22.04 and Fedora 35 Desktops.

### Steps to reproduce

Launching

### What you expected to happen

Start up

### What actually happened

Crash

### Context

_No response_

### Browser

_No response_

### Simple/

[2022-03-20 06:26] sharonlaker19 commented on #51540
+ at 4860870-zen, recommended the Gravatar workaround.

[2022-03-20 06:48] sharonlaker19 commented on #61578
+1 at 4875773-zen
suggested workaround for now

[2022-03-20 09:15] fresatomica opened #62091 "[Bug]: Pre-Publish Check sidebar refreshes and removes Tags & Categories cards"
### Quick summary

When playing around with the Social Preview for too long, it eventually refreshes, and when that happens, the boxes to add tags and categories disappear. If you close the preview, though, the tags you've added are still on the post.

### Steps to reproduce

1. Create a post
2. Click the "Publish" button and wait for the Social Preview to appear
3. Play around for a couple of min

[2022-03-20 10:39] arunsathiya opened #62093 "Switch Blogging Quick Start videos to VideoPress"
We offer a set of videos under the "Blogging Quick Start" branding. These are seen on this page:

https://wordpress.com/home/domain.wordpress.com?courseSlug=blogging-quick-start

You can navigate to that page via this modal on Calypso home:

<img width="769" alt="image" src="https://user-images.githubusercontent.com/18581859/159158381-b264573b-12cd-4274-a0d4-83cc392cc70e.png">

The videos on that

[2022-03-20 10:42] arunsathiya commented on #62093
Based on [the history here](https://github.com/Automattic/wp-calypso/commits/trunk/client/my-sites/customer-home/cards/education/blogging-quick-start/blogging-quick-start-modal.jsx), this may fall under @Automattic/serenity instead?

[2022-03-20 11:20] syds87 opened #62094 "Image block does not render filters in widgets"
### Quick summary

When adding an image block in a widget area and applying a filter to it (like Saturation or Grayscale), the image is showing the applied filters only on some pages/posts. Other pages/posts will show the original image.

### Steps to reproduce

1. Go to Appearance > Customize > Widgets
2. Choose a widget area and add an Image block
3. Apply a filter to it (I've tried Grayscale an

[2022-03-20 12:46] poeticabdul commented on #62094
User mentioned here 4868650-zen that newer articles were able to apply the filter but not the older articles

[2022-03-20 14:40] arunsathiya opened #62095 "File download stats: Display user who downloaded the file"
### What

User would like to know the actual list of visitors who downloaded the file on "File download stats".

### Why

Some users would like more detailed stats, including who downloaded a certain file. This may not be possible for public websites because they are visible by anyone, but at least for private websites, we may be able to track and show which of the sites' users downloaded the file

[2022-03-20 14:40] arunsathiya commented on #62095
Customer request on 29339279-hc.

[2022-03-20 14:41] arunsathiya commented on #55549
- Similar request to be able to show the actual user that downloaded the file: https://github.com/Automattic/wp-calypso/issues/62095

[2022-03-20 15:12] vijayhardaha commented on #49954
Similar issue report on WP Forum, where classes are being removed from the list.
Reference: https://wordpress.org/support/topic/bug-gutenberg-editor-deletes-classes-of-elements/

I have tested and can reproduce the issue with the plugin. WP Block editor doesn't have this problem but Gutenburg has.

[2022-03-20 18:24] tellisbethel opened #62096 "Tiled Gallery / Carousel: Comments not displaying under image in carousel"
### Quick summary

Users are unable to see any comments added to images in their Tiled Gallery carousels.

I've encountered this on the user's Twenty Eleven (Simple) theme, and on my test sites Blockbase (Atomic, Simple) and Hever (Simple).

(I'm not aware of any workarounds so I'm selecting the high priority label in accordance with the priority graph. Please feel free to update if needed.)

###

[2022-03-20 20:26] KirkwallDay opened #62098 "Reword plan info balloon to be less ambiguous regarding discount"
### Quick summary

On any site with a plan, go to Upgrades > Plans and see the little information balloon below the plan prices:
![Annotation on 2022-03-20 at 14-13-23](https://user-images.githubusercontent.com/49131029/159184375-c603c924-35f4-475e-ac6d-378c41e39d49.png)

This discount is never applied at Checkout.

### Steps to reproduce

1. Have any plan on a site.
2. Go to Upgrades > Plans
3. N

[2022-03-20 20:34] goblinartificer commented on #57680
Very big +1. Twice this week I've been in the position of explaining that something pretty basic at most registrars is something we can't do here, and people have very reasonably been confused about why it would be _harder_ to do this by purchasing a domain here than by purchasing one elsewhere. I feel embarrassed having to explain it!

[2022-03-21 00:47] #61891 closed, assigned to paulopmt1

[2022-03-21 01:02] lsl commented on #61891
Thanks! I updated that post to reference github releases for installation. There is a bit of a problem with using the woocommerce.com storage approach we tried with sensei (currently blocking release) p9o2xV-1Wj-p2

[2022-03-21 03:20] lsl commented on #61889
Merged

[2022-03-21 03:20] #61889 closed, assigned to paulopmt1

[2022-03-21 03:34] yashitamittal11 commented on #41606
Also, requested in #4877402-zen

[2022-03-21 04:37] edwinho89 commented on #50786
34485030-hc

[2022-03-21 04:38] #61943 closed, assigned to lsl

[2022-03-21 05:25] lsl commented on #61548
Shipped D77093-code, you'll now need a new diff to move the add_product call out of the a11n flag check and do some final testing with a non a11n user.

[2022-03-21 05:39] lsl commented on #61944
Need reviews on the now updated D76709-code and D76710-code

[2022-03-21 07:34] devNigel commented on #60353
Another case: 4872820-zen

Tried deleting from CLI / SFTP. Deleted symlink from SFTP as well. But still when installing CoBlocks again, 2.19.1 was getting installed instead of the latest version.

Please update the user once it is fixed.

[2022-03-21 07:45] #59036 closed, assigned to zaerl

[2022-03-21 08:39] yansern commented on #60870
It seems likely that an incorrect API endpoint was used to search for Authors.

Also, transferring this issue to `Automattic/newspack-blocks`.

<img width="1623" alt="image" src="https://user-images.githubusercontent.com/1287077/159227815-0771b3d0-4222-4e0e-a171-9781fc9d7109.png">

[2022-03-21 09:09] yansern commented on #59794
The `moreMenuManageReusableBlocksObserver` is targeting the "Manage Resusable Blocks" link on the block sidebar, it doesn't target the menu item on the block toolbar.

This part in the iframe bridge server just needs add support for the menu item on the block toolbar.

[2022-03-21 09:23] #56096 closed, assigned to nobody

[2022-03-21 09:36] #61104 closed, assigned to nobody

[2022-03-21 09:37] yansern commented on #61104
https://github.com/WordPress/gutenberg/pull/39088

[2022-03-21 09:50] yansern commented on #60210
This is coming from core Embed block. It retrieves from `thumbnail_url` which has a 150x150 resolution.

If `flickr` is not registered as a photo type of block variation, it would retrieve from the html.

See `const html = 'photo' === type ? getPhotoHtml( preview ) : preview.html;` in `gutenberg/packages/block-library/src/embed/embed-preview.js`.

[2022-03-21 10:48] paulopmt1 commented on #61891
Thanks @lsl !

[2022-03-21 10:49] yansern commented on #61697
Completed.

[2022-03-21 10:49] #61697 closed, assigned to ivan-ottinger

[2022-03-21 10:49] rinazrina commented on #59259
I got another report here: #4877016-zen

It's a simple site and it's using Rockfield theme.

After changing the Heading and Base Font via Global Styles, updating the page, and reloading, the fonts are back to the Theme Default.

I can reproduce this on the user's site, but not on my site with the same theme.

[2022-03-21 11:13] ariel-maidana commented on #51540
Another report here: 34788922-hc

Recommended the Gravatar workaround.

[2022-03-21 11:41] #60714 closed, assigned to gcsecsey

[2022-03-21 11:47] gcsecsey commented on #60714
I've created the wpcomsh release: https://github.com/Automattic/wpcomsh/releases/tag/v2.8.91

The changes will be deployed when monitoring picks up the new release.

[2022-03-21 12:03] cgehrke9 commented on #52100
34788451 HC

User asked for a Cookie Consent Widget

[2022-03-21 12:13] yansern commented on #61696
What is **subscriber site** here?

[2022-03-21 13:50] rickmgithub opened #62102 "RTL punctuation positioned wrongly"
### Quick summary

When entering a full stop on an RTL language in a mixed RTL/LTR page, the punctuation at the end of the sentence goes in the wrong place.

### Steps to reproduce

Please see video

https://user-images.githubusercontent.com/13706336/159273904-a4e7e2b8-93a0-4857-b7c0-8a471c408b21.mp4

### What you expected to happen

The full stop should be in position (2) not (1).
<img width="952

[2022-03-21 14:53] jgcaruso commented on #62093
I just did a quick check of the video and it looks like the video on the "Blogging Quick Start" page are being hosted with VideoPress, so it looks like this really just requires an edit to the page to use a different block and/or the `wpvideo` shortcode and/or a VideoPress iframe embed depending on how the current page was built.

The Video GUID can be found in the URL of the video's poster image

[2022-03-21 14:55] lupus2k opened #62105 "Change link paths from absolute to relative in Spotlight JITM rules"
### Details

When clicking on the Spotlight message, it loads all the page because we are using an absolute path on plugin links. Changing links to use relative path will make it look faster and more consistent with calypso usage.

### Checklist

- [x] Change link paths from absolute to relative in Spotlight JITM rules

### Related

_No response_

[2022-03-21 14:56] lupus2k commented on #62105
Need review on D77116-code

[2022-03-21 15:10] jgcaruso commented on #62093
Oh nice, ok so a few things I noticed:

1. There is a VTT tracks file. This would need to be uploaded directly to the video in order for the VideoPress player to load it. We have an upload button on the Video block in Gutenberg, but I don't think we have a way of uploading them directly to a video in the Media Library
2. The `onTimeUpdate` handler is being used: We don't currently expose this in t

[2022-03-21 15:29] #61907 closed, assigned to BogdanUngureanu

[2022-03-21 15:53] mashikag commented on #61695
Done @ D76552-code

![welcome-email-before-after-desktop](https://user-images.githubusercontent.com/2019970/159299681-eebe897a-bd8c-455d-ad03-057265c41af0.png)

![welcome-email-before-after-mobile](https://user-images.githubusercontent.com/2019970/159299691-a454adfb-a192-4258-ade5-bdd2be152cd5.png)

[2022-03-21 15:53] #61695 closed, assigned to mashikag

[2022-03-21 16:25] markbiek commented on #62016
Not sure what the fix is but I have a little more information.

I think the issue is because we're using [Match phrase prefix](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query-phrase-prefix.html) when we query Elasticsearch.

The short version of how `phrase_prefix` search work is

I believe that's why the search `twentytwo` doesn't return anything but `twentyt

[2022-03-21 17:40] worldomonation opened #62106 "Flaky E2E: Click on "Renew Now""
### Spec file

specs/plans/plans__purchases.ts:

### TeamCity ID

7597427

### Logs

[code]

Link: https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_desktop/7597427?showRootCauses=false&expandBuildTestsSection=true&expandBuildChangesSection=true

[2022-03-21 17:42] worldomonation commented on #62106
I think it's about time we think about restructuring this test, and also using a different account for the test.

From what I can tell, the test is failing at the first bit:
1. user loads `Purchases` page that shows their current plan.
2. user clicks on `Renew Now` button.
3. user waits for the checkout cart to load.

Something is going awry at Step 3 where the navigation never fires `networkidle`

[2022-03-21 17:53] blackjackkent commented on #62093
This does seem like it would be a change that would fall within Serenity's sphere. To confirm I'm understanding the issue correctly - currently the videos UI is using the `<video>` HTML element, but we need to be using an iframe instead in order to load the video from VideoPress?

@jgcaruso Our intention with the `onTimeUpdate` behavior in that file was to be able to record the user as having comp

[2022-03-21 17:59] jgcaruso commented on #62093
I think you are correct. We don't have a seconds by second update available to enable this type of behaviour. It is something we're talking about enabling to allow other types of integrations with the player but its not on our immediate roadmap.

I'm not sure what the initial intention of this request was, I just popped in because my team was CC'd . But it seems like maybe the thought was that thi

[2022-03-21 18:10] arunsathiya commented on #62093
Not sure what the priority is on this request, but maybe its something for the future once we're able to build in support for these types of interactions?

For some additional clarity, I created this issue just because I feel that the VideoPress player is generally snappier compared to other implementations like VideosUI or the browser <video> tag. 🙂 I'll leave the decision to whether we want to d

[2022-03-21 18:58] JoshuaGoode opened #62109 "Domains: Cannot modify DNS settings on mapped domains"
### Quick summary

Users with mapped domains cannot modify DNS records via normal flow.

![Screen Shot on 2022-03-21 at 14:52:07](https://user-images.githubusercontent.com/4887830/159344067-1f21d81c-85e3-406b-bdab-f958ad9a2b69.png)

Internal: p2MSmN-9uW-p2

@rafaelgalani noted that this was due to https://github.com/Automattic/wp-calypso/pull/61963

### Steps to reproduce

1. Add mapped domain / D

[2022-03-21 19:29] paulopmt1 commented on #62005
- [x] Reserve store product IDs. Phabricator code here: D77209-code

[2022-03-21 19:37] paulopmt1 commented on #62005
-[x] Add catalog mapping. Phabricator code here: D77211-code

[2022-03-21 19:42] delputnam commented on #62109
I'll close this since it was fixed by the revert.

[2022-03-21 19:42] #62109 closed, assigned to nobody

[2022-03-21 20:55] #61609 closed, assigned to WBerredo

[2022-03-21 21:01] WBerredo commented on #61537
Adding the products to the Marketplace products endpoint (/marketplace/products): D77216-code

[2022-03-21 21:20] supernovia opened #62111 "Update Emails: Unsubscribe link is broken in our last email"
### Quick summary

The unsubscribe link at the bottom of our most recent update email seems to be broken. There's no href there.  We should make sure this is fixed for new emails.

### Steps to reproduce

You have to be subscribed to our marketing updates to see this. Open the email titled "ICYMI: Powerful New Tools" and try to click the unsubscribe link. There's an `<a>` but no `href=`

<img widt

[2022-03-21 21:34] supernovia commented on #62111
I wasn't sure where to file this. But I've also left a link here for now:
pd0D4C-sK-p2#comment-1514

[2022-03-21 21:50] worldomonation opened #62112 "Upsell Banner: button text is formatted poorly in CJK languages"
### Quick summary

The Upsell banner in Calypso has a button which is formatted poorly in CJK languages.

![Screen Shot 2022-03-21 at 12 42 39 PM](https://user-images.githubusercontent.com/6549265/159368818-05a7f634-72d0-439f-9f01-36a946e0e9c4.png)

### Steps to reproduce

Prefix each step below with adjustments to the UI language of your choice, out of Japanese, Chinese (Simplified/Traditional) a

[2022-03-21 22:07] supernovia commented on #57148
Noting I ran into a similar case, where someone was upset that highlighted text did not highlight in their style in the reader. I'm wondering if highlight is the right way to go.

[2022-03-21 22:07] Rolilink commented on #61863
@vinimotaa on smaller devices like phone should we also follow the sticky search bar pattern or should we do something different?

[2022-03-21 22:35] fabiocchetti commented on #62111
This issue was specific to the "ICYMI: Powerful New Tools" email and should already be fixed on upcoming emails. My bad, sorry about that!

[2022-03-21 22:51] vinimotaa commented on #61863
Hey @Rolilink great question! As a best practice, what I have in mind is to hide the search bar once the user is scrolling the page down, and display it when the user scrolls up.

I suggest we follow this across the marketplace and if possible, ideally across DotCom in the future.

I’m attaching a video with an example.

https://user-images.githubusercontent.com/97929097/159375793-2b6e6b13-3da7-4f

[2022-03-22 00:13] cuemarie commented on #60971
Thanks for finding that, @creativecoder ! Added my experience on that thread as well.

[2022-03-22 00:27] supernovia opened #62113 "Account Recovery: The form says the contact email matches the lost account, but it doesn't"
### Quick summary

The account recovery form says the email address and username match, even when they don't, which makes the form not submit.

![account recovery email issue](https://user-images.githubusercontent.com/3476361/159381228-b3034a73-b1d1-4160-8bbe-2a3a9dfe61cb.png)

### Steps to reproduce

1. From an incognito (or logged in!) window, head to https://wordpress.com/wp-login.php?action=re

[2022-03-22 00:36] supernovia commented on #62113
Also noting the user reported a slightly different message. I'm not sure whether they were paraphrasing:

[2022-03-22 01:26] creativecoder commented on #59527
Noting that the Site editor export now gives additional files that are not included in the regular WordPress export, including theme.json, php templates, and theme css. (https://make.wordpress.org/core/2022/03/16/whats-new-in-gutenberg-12-8-16-march/#highlight-3)

I'm not sure how important these are, given you can always grab these files from the theme, separately, but wanted to note the change,

[2022-03-22 01:47] autumnfjeld opened #62115 "[Spike] mShots Performance with Verticalized Designs"
# Description

We want to understand performance issues in the full Generated Design "pipeline".  At a high level it could be described by these steps:

* User selects vertical in vertical screen
* Block patterns assembled from recipe (or a page layout / demo site is used as is currently done)
* Images inserted into block patterns
* Copy inserted into block patterns
* **Thumbnail generated by mSho

[2022-03-22 03:11] devNigel commented on #58394
The issue is still there: 34802247-hc

[2022-03-22 03:27] Rolilink opened #62116 "New Site: Example site names require Spanish translation"
### Quick summary

When creating a new site the example site names on the site name input are expected to be translated to the selected language, right now in Spanish we have an incomplete experience with english names.

<img width="1512" alt="Screen Shot 2022-03-18 at 5 58 57 PM" src="https://user-images.githubusercontent.com/1035546/159401480-c9f7c271-abb4-4762-809b-6ec1be2cca65.png">

### Steps

[2022-03-22 03:45] Rolilink opened #62117 "Theme Selection: Some themes contents are not translated to selected language."
### Quick summary

Some themes in the theme selection screen are still showcasing english content even when selecting Spanish as a language.
<img width="1512" alt="Screen Shot 2022-03-18 at 6 08 07 PM" src="https://user-images.githubusercontent.com/1035546/159403005-0afdddf1-cf88-4178-89fd-c69940341d1d.png">

This seems to happen with other languages as well an example when selecting french also r

[2022-03-22 04:07] Rolilink opened #62118 "New Site Checkout: Checkout is not translated to the language selected in the site creation flow"
### Quick summary

When a language different from english is selected during site creation, after finishing the flow and redirected to checkout the language goes back to english.

<img width="1510" alt="Screen Shot 2022-03-18 at 6 12 20 PM" src="https://user-images.githubusercontent.com/1035546/159406082-cfc0f367-5c8b-4272-bba9-d5658677cf32.png">

### Steps to reproduce

1.  Navigate into /new?ref

[2022-03-22 04:25] Rolilink opened #62119 "Marketplace: Search bar is not reflecting url search query"
### Quick summary

On the plugins view when doing a search, selecting a plugin and coming back the search query is not reflected in the search bar.

https://user-images.githubusercontent.com/1035546/159406407-30bdedfa-8e37-49e9-b999-2ddc3dc56501.mp4

### Steps to reproduce

1. Navigate into the plugin marketplace`/plugins/:siteId`.
2. Search for a query, example "bookings".
3. Click on a plugin.
4

[2022-03-22 04:30] Rolilink commented on #61863
This one is almost ready just need to add some css for the sticky header to look fine and some mobile styles to be able to create a PR.

While testing the implementation of the sticky search bar found out what seems to be an issue related to this one: https://github.com/Automattic/wp-calypso/issues/62119.

Since I am rendering two search bars (the sticky one and the content one) the value is not m

[2022-03-22 06:19] edwinho89 commented on #62064
Experienced the same issue, and looks to be something to do with the width being made on the editor.

<img width="1350" alt="image" src="https://user-images.githubusercontent.com/34882260/159419787-f69dd111-8939-4575-81ce-bcb4d5c3351f.png">

[2022-03-22 06:58] cpapazoglou commented on #61863
@Rolilink can you link the PR to this issue please?

[2022-03-22 07:15] jartes commented on #61464
Another report on 34529315-h. They were using the Polylang plugin.

[2022-03-22 07:38] mriyazuddin commented on #62041
Another issue reported here: #4871556-zd

[2022-03-22 07:58] cpapazoglou commented on #61863
@vinimotaa thanks for providing an example. Can we please add all these states in figma? Are there mobile designs? Also, can we gather all Marketplace designs / flows in one place that gets updated? eg oU6nEIeiKSg8CayhEtgR6b-fi-6450%3A38266

[2022-03-22 08:18] Robertght commented on #61961
Installing the latest version of the plugin got rid of the issue.

Similar fix to this: https://github.com/Automattic/wp-calypso/issues/60353#issuecomment-1072968422

[2022-03-22 09:08] yansern commented on #61696
You can try `get_blogs_of_user()`. https://developer.wordpress.org/reference/functions/get_blogs_of_user/

You can try `choose_primary_blog()`. https://developer.wordpress.org/reference/functions/choose_primary_blog/

[2022-03-22 09:08] yansern commented on #61696
Renamed the issue title from "subscriber site" to "subscriber's site" for clarity.

[2022-03-22 09:33] yansern commented on #61694
Once D77150-code is reviewed & merged this issue can be closed.

[2022-03-22 11:23] jartes opened #62126 "Office 365 email auto DNS configuration not adding MX record value properly"
### Quick summary

When setting up the DNS settings automatically for Office 365 email for a `.co.uk` domain, the MX record value is not correct leading to not receiving email.

### Steps to reproduce

1. Go to **Upgrades** → **Domains**, and click on any registered or connected domain.
2. Click on **DNS Records** and then on the **Manage** button.
3. Click on the **Email Setup** option.
4. Click

[2022-03-22 11:29] ivan-ottinger commented on #61693
Initial patch with the first findings: D77265-code.

[2022-03-22 11:57] Agepeuve opened #62127 "[Bug]: Blog Posts Block doesn't allow you to select the posts from a specific author"
### Quick summary

_No response_

### Steps to reproduce

 1.- Add a post/page.
 2.- Add a Blog Posts Block
 3.- Go to display settings and try to select a specific author to display their posts.
 4.- The author list won't load.

### What you expected to happen

You should be able to see the list of the authors from your site and pick one of them to display just their posts using the block.

### W

[2022-03-22 12:14] epeicher opened #62128 "[Bug]: When renewing a plugin, an error is raised in the console"
### Quick summary

When you go to purchases and click on **Renew Now** on a Plugin, nothing happens. When inspecting the console, there is an error logged
![image](https://user-images.githubusercontent.com/3519124/159478760-d5a0770d-3c92-45ae-9125-6457780b11bc.png)
![image](https://user-images.githubusercontent.com/3519124/159478774-dead01c6-a5c1-419f-a42e-7b0b41036f26.png)

### Steps to reproduce

[2022-03-22 12:23] #61607 closed, assigned to epeicher

[2022-03-22 13:50] #61921 closed, assigned to sixhours

[2022-03-22 13:54] zaerl commented on #61145
@KokkieH see D77277-code

[2022-03-22 14:06] kjellr commented on #61913
I think the `2000px wide by 1200px high` one is a copy/paste typo in the WordPress.com theme docs. The official WP.org guideline only includes the `1980px wide by 1485px high` recommendation.

https://wordpress.org/support/article/twenty-twenty/#quick-specs

[2022-03-22 14:16] ivan-ottinger commented on #61694
The Site icon is now displayed in all emails (new template). → Closing this issue.

[2022-03-22 14:16] #61694 closed, assigned to ivan-ottinger

[2022-03-22 14:26] synora opened #62131 "Layout Grid Block Content Overlaps in Page/Post Editor"
### Quick summary

The Layout Grid Block content is overlapping in the page/post editor but renders as expected on preview/publish.

### Steps to reproduce

1. Create a page or post
2. Insert a 2-column Layout Grid Block with content (images and text)
3. Make sure your Layout Grid has the following settings in place:
<img width="283" alt="Screen Shot on 2022-03-22 at 10-18-07" src="https://user-im

[2022-03-22 14:26] synora opened #68738 "Layout Grid Block Content Overlaps in Page/Post Editor When Large Image is Set to 100%"
### Quick summary

The Layout Grid Block content is overlapping in the page/post editor but renders as expected on preview/publish.

### Steps to reproduce

1. Create a page or post
2. Insert a 2-column Layout Grid Block with content (images and text)
3. Make sure your Layout Grid has the following settings in place:
<img width="283" alt="Screen Shot on 2022-03-22 at 10-18-07" src="https://user-im

[2022-03-22 14:57] vinimotaa commented on #61863
Hey both @Rolilink @cpapazoglou!

I have just designed the states for the mobile version as well - you can find it on the same Figma file: https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=1164%3A15550

[2022-03-22 15:11] delputnam commented on #58394
@devNigel This is the expected behavior. The user is not PWPO exempt, thus they will need to purchase a paid plan in order to map a domain.  Please see: P6Ya1B-zK-p2 for information about this policy.

[2022-03-22 16:44] tbradsha commented on #16743
Still an issue.

[2022-03-22 17:23] davipontesblog opened #62136 "Stratford Theme: Group Block background color not visible on live site"
### Quick summary

Using the theme "Stratford", the user had Group blocks with a background color set in the block editor in Black. This does not show on the site. See screenshots below:

- Editor:

![X3yKgZ](https://user-images.githubusercontent.com/31009008/159536599-22e2287e-4966-4a8a-83bf-59ea3404f861.jpeg)

-  Live:

![P8vVC6](https://user-images.githubusercontent.com/31009008/159536649-f8920

[2022-03-22 17:28] the-misha opened #62137 "Search box not returning relevant results in FSE themes"
### Quick summary

Sort order for search results differs between FSE and non-FSE sites. Most relevant results appear at the top for non-FSE sites, but much lower for FSE sites.

### Steps to reproduce

1. Activate a non-FSE theme on site (e.g. Twenty Twenty-One).
2. Search for something with an unambiguous top result, such as a specific unique post title.
3. Observe result.
4. Switch site to an FS

[2022-03-22 17:42] kimerlin81 commented on #60563
Could this behavior be accurate? It looks like the error: "We don't have that post on record yet. " is based on this context in our Support Docs and on the Forum:

**There are many views that aren’t tied to a post or page URL. The category, tag, date and author archive pages, and search result pages are all examples of other views that only count towards total views. In your stats, this shows in “

[2022-03-22 17:42] WBerredo opened #62138 "Update WooCommerce extension icon to have a white background"
Use the new icon provided by the designers for the WooCommerce extensions.

[2022-03-22 17:43] WBerredo commented on #62138
D77310-code

[2022-03-22 18:22] nelsonec87 commented on #62074
@blackjackkent Is [registering the events](PCYsg-mUj-p2) something I can do, or it should be done by a different team?

[2022-03-22 18:31] melek commented on #57449
User @ClassicRKR27 referred to in 34725540-hc returned, now has ticket at 4883934-zen for updates.

[2022-03-22 18:43] paulopmt1 commented on #61918
Waiting for the review of Phabricator diff: D77315-code
After it, I'll test the installation, and we probably won't need the P2 post anymore.

[2022-03-22 18:44] paulopmt1 commented on #61944
Those diffs are now in production.
I'll track the P2 request on the [main task](https://github.com/Automattic/wp-calypso/issues/61918). Moving this one to complete.

[2022-03-22 18:45] #61944 closed, assigned to lsl, paulopmt1

[2022-03-22 19:45] DavidRothstein opened #62142 "Tax Location: Allow existing tax locations on credit cards to be edited without going through checkout and paying"
### What

We need to allow users to edit the tax location of an existing credit card (that already has a valid tax location) without going through checkout.

I thought https://github.com/Automattic/wp-calypso/pull/57807 did that at one point (maybe?) on the screen for changing the payment method of a subscription, but it seems to only allow it for payment methods that currently have a missing or i

[2022-03-22 19:48] creativecoder commented on #51442
@vishnugopal The post types aren't displayed in that list in the export options, but you should see the custom template data in the export if you select "All content". Try text searching the export file for `wp_template` and `wp_template_part` (post types) and also `wp_theme` (taxonomy).

[2022-03-22 19:55] DavidRothstein opened #62143 "Tax Location: Don't show the tax location in checkout for existing payment methods"
### Quick summary

Somewhere along the way (I think https://github.com/Automattic/wp-calypso/pull/57807) we started showing the tax location for existing cards during checkout.  But we probably shouldn't do that because the tax location is going to get overwritten by the user-entered billing details (in the section above) after they submit anyway?   So it's really not clear to the user what the tw

[2022-03-22 20:23] muffinpeace commented on #60105
Received a request for this on zen-4884221 as this feature doesn't exist for now.

[2022-03-22 20:23] paulopmt1 commented on #62005
- [x] Add WooCommerce Shipping USPS translation mapping. Phabricator code here: D77328-code

[2022-03-22 20:25] obenland commented on #60981
I'm not sure why but I'm currently having trouble sandboxing the API to debug this :(
Will loop back later.

[2022-03-22 20:27] sirbrillig commented on #62143
Certainly. This was just a side effect of that PR and is easily removed.

[2022-03-22 20:29] sirbrillig commented on #62142
Such an edit button was originally part of https://github.com/Automattic/wp-calypso/pull/57807 but I removed it for two reasons:

- The UX of an edit button on each payment method was had to get right so it was clear that you would be editing just the tax location and not the rest of the payment method (eg: changing the expiry date).
- It seems more sensible to me that editing information attached

[2022-03-22 20:45] sirbrillig commented on #62143
Should be fixed by https://github.com/Automattic/wp-calypso/pull/62144

[2022-03-22 21:01] blackjackkent opened #62146 "Seller Exp - Refine user experience regarding "upgrades" for users with free plan"
During Jacopo's "Back to Basics" review of the Seller Experience onboarding flow (paYJgx-1Wj-p2), he pointed out that, after selecting a free plan earlier on at the "plans" onboarding step,

![image](https://user-images.githubusercontent.com/13437011/159575150-d75d483c-79da-4842-b80a-f4da8b0fc5f7.png)

There is potential for confusion for a user who initially selects a free plan, then goes into th

[2022-03-22 21:03] blackjackkent opened #62147 "Seller Exp - Improve branding for Payment Blocks in store features step"
Feedback from Jacopo during "Back to Basics" testing of Seller Experience onboarding (paYJgx-1Wj-p2):

How can we update the branding on the "Start Simple" option in Store Features to better reflect its WordPress/Jetpack origin?

![image](https://user-images.githubusercontent.com/13437011/159575550-d0584136-7074-4426-b824-92a6b7a7a352.png)

[2022-03-22 21:06] blackjackkent opened #62148 "Seller Exp - Improve representation of fees associated with payments"
Feedback from Jacopo during "Back to Basics" testing of Seller Experience onboarding (paYJgx-1Wj-p2):

Currently, while we point out that both Payment Blocks and Woo require a paid WP.com plan, we do not make any mention of the fees involved once the user begins selling products through these mechanisms. How can we improve this experience to make that information clearer?

![image](https://user-im

[2022-03-22 21:10] blackjackkent opened #62149 "Seller Exp - Clarify CTAs on Store Features onboarding step"
Feedback from Jacopo during "Back to Basics" testing of Seller Experience onboarding (paYJgx-1Wj-p2):

The wording of these buttons is potentially confusing for a user navigating through after having selected a free plan, since both Payment Blocks and Woo require an upgraded plan to use.

![image](https://user-images.githubusercontent.com/13437011/159576500-1c52dcfe-6f7c-4ea1-a509-029c884bc181.png

[2022-03-22 21:14] blackjackkent opened #62150 "Seller Exp - Clarify necessity of information gathering in Woo onboarding process"
Feedback from Jacopo during "Back to Basics" testing of Seller Experience onboarding (paYJgx-1Wj-p2):

The user experience could be refined when the user has the option to select "More Power" during the seller experience onboarding flow; since at this point we move into Woo's onboarding, the sudden request for address etc. may be jarring. How can we improve this to make clear what information we w

[2022-03-22 21:17] blackjackkent opened #62151 "Seller Exp - Improve CTAs/messaging for users on first arriving at editor after onboarding"
Feedback from Jacopo during "Back to Basics" testing of Seller Experience onboarding (paYJgx-1Wj-p2):

How can we further refine the experience of the user arriving at the site editor from the sell flow, to make it more tailored to their specific needs?

[2022-03-22 21:22] blackjackkent opened #62152 "Seller Exp - Open links to plan selection in new tab"
Feedback from Jacopo during "Back to Basics" testing of Seller Experience onboarding (paYJgx-1Wj-p2):

While this could probably be refined into actual step logic as we move to the new framework, for now, let's have these links open in new tabs so the user isn't ejected from onboarding by clicking on them.

![CleanShot 2022-03-22 at 16 21 28@2x](https://user-images.githubusercontent.com/13437011/1

[2022-03-22 22:15] supernovia commented on #44427
This gets stranger. I was trying to figure out a workaround to help an [FSE hopeful](https://wordpress.com/forums/topic/experimenting-with-fse/) get their images attached. I published a new post with a gallery, then headed to the media library. If I filtered the grid view for "unattached" those new images don't show up, even though some known unattached images did. Bug must have been solved, right

[2022-03-22 22:21] #62143 closed, assigned to sirbrillig

[2022-03-22 23:33] jeyip commented on #59920
This was initially hotfixed paYE8P-1nV-p2#comment-1254 and has since been solved ( [link](paYE8P-1nV-p2) )

[2022-03-22 23:33] #59920 closed, assigned to creativecoder, jeyip

[2022-03-23 02:01] arinoch opened #62153 "Primary domain on paid plan stays primary when moved to free site."
### Quick summary

A primary domain that is associated with site A (paid plan) can keep its primary status, or be allowed to set a primary status, when moved to site B (free).

### Steps to reproduce

1. Create a site with domain and the WordPress.com Personal plan.
2. Set that domain as primary, if not already.
3. Create, or choose at random, a free site.
4. Transfer that primary domain to the cr

[2022-03-23 02:21] gibrown commented on #61993
It depends on how we are storing the translated data. For .org plugins it is stored in post meta and then we index it into separate fields. Jetpack Search doesn't currently pay attention to any translations in post meta, but it fairly easily could since we are doing it elsewhere.

I guess my specific questions would be:
- How are we currently storing translations?
- How are we handling plugins tha

[2022-03-23 02:54] Greatdane commented on #60483
34313977-hc

[2022-03-23 04:18] KokkieH commented on #61145
Apparently I don't have permission to view that diff :)

[2022-03-23 04:45] JulianBustamante commented on #61564
Diff created D77340-code (Still WIP)

[2022-03-23 05:59] Greatdane commented on #57043
Strange! I still see the **Use Theme Styles** option on my test sites. I am going to close this for now then. If any more reports come up we can open.

For the PA Triagers, I will not batch reply to this issue, as the most recent one is from Nov 2021, nearly 6 months ago. I think this is too old now to randomly reply to a user saying we fixed a bug 6 months later.

[2022-03-23 06:44] syhussaini opened #62157 "Pique Theme - Cannot Set the Background to white"
### Quick summary

The background color does not set to white through _Customizer → Colors & Backgrounds_. All other colors are working fine.

### Steps to reproduce

1. Activate the theme "Pique"
2. Now go to _Customizer → Colors & Backgrounds_ and select white color for _Alternate Panel background_.

_See image below for reference_
![pique](https://user-images.githubusercontent.com/8070771/15963

[2022-03-23 08:08] zaerl commented on #59038
@vishnugopal the two diffs have been deployed, we can close.

[2022-03-23 08:08] #59038 closed, assigned to zaerl, jeroenpf

[2022-03-23 08:22] druesome commented on #39956
Another report: 4870627-zd-woothemes

[2022-03-23 08:57] #61933 closed, assigned to gcsecsey

[2022-03-23 10:05] jromales commented on #43919
Another one at 4864797-zd-woothemes - I recommended they get invited as `Contributor` as a workaround

[2022-03-23 10:09] zaerl commented on #61145
@KokkieH it's ok. We wait for a review and then we can deploy.

[2022-03-23 10:11] silvio-meter opened #62164 "Post Carousel (coBlocks) block misalignment and loading issue"
#### Steps to reproduce

1. Add the Post Carousel (coBlocks) block to any page

#### What I expected
The block should load smoothly and the featured image and the post title should be aligned.

#### What happened instead
The Featured Image and post title are misaligned.

#### Screenshot / Video
![Screenshot on 2022-03-23 at 10_55_55](https://user-images.githubusercontent.com/28652371/159674846-00d

[2022-03-23 10:15] zaerl opened #62165 "Enable wordpress-importer tests"
The pre-existing tests found in `bin/tests/core/import/*` are disabled, but they can be enabled now.

See D77277-code

[2022-03-23 10:17] vinimotaa commented on #60769
Hey, @cpapazoglou this completely skipped from my books. The case here is for us to somehow indicate in the free plugin page that we have a paid version? From the product card, I see that we currently have that.

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/97929097/159676463-a7502f13-b306-48ee-83cb-6eafb931697e.png">

[2022-03-23 10:20] zaerl commented on #59527
I think this will be a couple of days of work on the WPCOM side.

[2022-03-23 10:21] cpapazoglou opened #62166 "Fixed Navigation Header: cleanup and docs"
After looking at https://github.com/Automattic/wp-calypso/pull/62080/files, I found at about this code
https://github.com/Automattic/wp-calypso/pull/58179/files/ada2ecd94d2df7601a63ea07b1434d51e70631a4#diff-d717431d31dbd940b8fb904c76f0d160e964e737d0f90780328884bcb38971d8R67-R96

Can we add some comments about what this `useEffect` does for posterity? Also, I noticed a new prop which should be adde

[2022-03-23 10:26] cpapazoglou commented on #60769
@vinimotaa no worries! My comment regarding Sensei is a little bit distracting. The use case is the following:

- User visits https://wordpress.com/plugins/wordpress-seo
- If that plugin has a premium version, how can we indicate it?

[2022-03-23 10:34] cpapazoglou commented on #61863
Thanks @vinimotaa. What about the desktop scroll down state?

[2022-03-23 10:58] kylemcph commented on #39956
Another report: #4882584-zen

[2022-03-23 11:02] vishnugopal commented on #59527
@zaerl As discussed, let's do this then! :-)

[2022-03-23 11:28] mriyazuddin opened #62168 "Blog Posts Block: Load More Posts button doesn't have the same styling as seen in editor"
### Quick summary

The Load More Posts button on the Blog Posts Block seems to appear fine in the editor but on the front end it appears like the old school push button.

### Steps to reproduce

1. Create a page and add Blog Posts Block.
2. Enable Load More posts button using the settings sidebar of the Blog Posts Block.
3. The button appears fine in the editor but not on the front end.

### What

[2022-03-23 11:40] zaerl opened #62171 "Invalid number of items left to import"
Steps to reproduce on Calypso:

- Go to "Tools" -> "Import"
- Select "WordPress" from the list
- Click "upload it to import content"
- Select an XML export file
- Start import

During the import this message is shown: "**-1** posts, pages, and media files left to import"

[2022-03-23 11:50] mashikag commented on #61696
The related phab patch is D77351-code

[2022-03-23 12:53] Addison-Stavlo opened #62173 "Site Editor - closeUrl no longer goes home, causes white screen on new tab"
Originally reported via paYJgx-1Wj-p2 :

The url in the `< Dashboard` site editor close button now points to `https://wordpress.com/types//SITE_SLUG` instead of my home (should be `https://wordpress.com/home/SITE_SLUG`), and loads a whitescreen when opened in a new tab via middle-click.  This URL is fed to the site editor via Calypso through calypsoify and the iframe bridge server, its likely this

[2022-03-23 13:56] Addison-Stavlo commented on #62173
https://github.com/Automattic/wp-calypso/pull/62175 should resolve this.

[2022-03-23 13:59] #60270 closed, assigned to andres-blanco

[2022-03-23 14:11] syds87 commented on #60072
I got a similar report here: 4864591-zen

In this case, the user has a site on square.site and it seems like the trailing / is causing a multiple redirect and would show a blank screen.

A temporary workaround that seems to be helpful in this case was suggesting adding a ? at the end of the Redirection URL. In this case, the redirect is working on my test site.

[2022-03-23 14:18] simison opened #62176 "[Bug]: Videomaker screenshot at onboarding theme picker broken"
### Quick summary

A small screenshot in theme grid has issues with videos:
- Videos don't show up
- Smaller thumbs even have errors about videos

<img width="639" alt="Screenshot 2022-03-23 at 16 13 20" src="https://user-images.githubusercontent.com/87168/159719739-5267fbd4-b6f7-407c-9e76-6d0a89b830cd.png">

If it's not possible to get videos load on mShots easily, perhaps video block should just

[2022-03-23 14:30] jsnajdr commented on #47992
@simison The offending request is a REST request to `public-api.wordpress.com`, and these don't support CORS and don't return `Access-Control-Allow-Origin` header. They are supposed to be called from same-origin, typically through the REST proxy.

Here it seems that some script on `widgets.wp.com` is sending a direct request to `public-api.wordpress.com`, instead of going through the proxy.

(sorr

[2022-03-23 14:36] allilevine opened #62177 "Marketplace: Investigate how to add Jetpack Search"
### Details

See relevant PT comment: pdh6GB-s7-p2#comment-958
Documentation: PCYsg-AhH-p2

Acceptance criteria:
- [x] We have a clear path forward for adding Jetpack Search

### Related

#62025

[2022-03-23 14:52] #62138 closed, assigned to WBerredo

[2022-03-23 14:58] cpapazoglou commented on #61800
Plugins in the Atomic infrastructure are installed via WP CLI
`wp --skip-plugins --skip-themes plugin activate wordpress-seo-premium` which returns the following error
[code]

@epeicher can you follow up with Yoast in cSRhZ-p2 for the to fix that error?

[2022-03-23 15:06] upwardmomentum84 commented on #52100
6510482 HC

User asked for a Cookie Consent Widget

[2022-03-23 15:11] #61513 closed, assigned to escapemanuele

[2022-03-23 15:19] #62128 closed, assigned to epeicher

[2022-03-23 15:38] #57770 closed, assigned to nobody

[2022-03-23 15:42] blackjackkent commented on #58364
This check is added server-side at `wp-content/lib/home/cards.php`. I think we should be able to safely remove it, but let's make sure we test thoroughly in multiple languages to make sure the experience is solid.

[2022-03-23 15:47] blackjackkent commented on #59262
Closed by #59679

[2022-03-23 15:47] #59262 closed, assigned to nobody

[2022-03-23 16:01] blackjackkent commented on #60152
Superseded by #61921

[2022-03-23 16:01] #60152 closed, assigned to blackjackkent

[2022-03-23 16:22] allilevine commented on #62079
Closed by https://github.com/Automattic/wp-calypso/pull/62107

[2022-03-23 16:22] #62079 closed, assigned to nobody

[2022-03-23 16:23] Addison-Stavlo commented on #57199
Closing this issue as out of date, as this screen is no longer used for templates and template parts.

[2022-03-23 16:23] #57199 closed, assigned to nobody

[2022-03-23 16:27] #55610 closed, assigned to escapemanuele

[2022-03-23 16:37] Addison-Stavlo opened #62181 "Navigation Block - Holds focus / selection in empty state"
#### Steps to reproduce

1. Add a navigation block in the site editor
2. Select 'start empty'
3. Press the '+' icon
4. Notice the block is stuck in selection and that we cannot select other blocks.

Unable to repro in core.

![Screen Shot 2022-03-23 at 12 36 37 PM](https://user-images.githubusercontent.com/28742426/159750307-0d4b4bd0-e34e-4521-80a8-8fe8e55abdcc.png)

#### What I expected
To be abl

[2022-03-23 16:43] Addison-Stavlo commented on #55982
I believe this issue was resolved in core Gutenberg recently - https://github.com/WordPress/gutenberg/issues/36977 - closing the issue for now, but if you continue to experience this please feel free to reopen.

[2022-03-23 16:43] #55982 closed, assigned to nobody

[2022-03-23 16:46] markbiek commented on #62016
A [`query_string`](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html) query seems to produce better results:
[code]

The `es-search-api.php` already supports `query_string`s so I'm investigating how we might leverage that in the theme search API call.

[2022-03-23 16:59] Addison-Stavlo commented on #54553
The remaining items have issues in core, closing this as we won't be tackling these any time soon.

[2022-03-23 16:59] #54553 closed, assigned to nobody

[2022-03-23 17:00] Addison-Stavlo commented on #57160
It looks like this may have been fixed upstream, closing the issue as we cannot repro anymore. If it persists, please feel free to reopen!

[2022-03-23 17:00] #57160 closed, assigned to nobody

[2022-03-23 17:16] #61836 closed, assigned to gcsecsey

[2022-03-23 17:17] #56355 closed, assigned to arcangelini

[2022-03-23 17:20] #56091 closed, assigned to arcangelini

[2022-03-23 18:02] #61893 closed, assigned to paulopmt1

[2022-03-23 18:19] #52190 closed, assigned to escapemanuele

[2022-03-23 18:30] paulopmt1 commented on #61892
Code in Phabricator: D77405-code

[2022-03-23 18:35] NoHopeRadio commented on #61473
I have an addition to this that might increase the priority, and that's that a similar behavior occurs with moving a columns block with full alignment set into any group block. The alignfull setting is still active on the columns block, but the option to change that setting no longer appears until the block is unnested. Combined with the fact that a block with alignment: none will appear as very n

[2022-03-23 18:43] manRebollo commented on #61965
Another report: 4883242-zd-woothemes
Workaround provided.

[2022-03-23 18:58] WBerredo commented on #61537
The plugins were added as managed plugin and can already be purchased and installed.

Request: Add Min/Max Quantities and Product Vendors as Managed Plugins: p9o2xV-1YJ-p2

[2022-03-23 18:58] #61537 closed, assigned to WBerredo

[2022-03-23 18:58] ccwalburn commented on #61515
Another report here: 34839746-hc

[2022-03-23 19:23] edequalsawesome commented on #62131
This appears to be due to a few of the Image blocks in the Layout Grid on this page -- if they're set to 100% width after being added to the Layout Grid block, they overlap the confines of the Layout Grid. Clicking the Reset button next to the size of the image resolves that, though!

![2022-03-23 15 20 56](https://user-images.githubusercontent.com/4000628/159779468-89d811c9-8a5d-460d-992f-950845a

[2022-03-23 19:28] #62074 closed, assigned to nelsonec87

[2022-03-23 19:38] gutenberg-plugin-upgrade-bot[bot] opened #62187 "Gutenberg: v12.9.x plugin upgrade"
Previous upgrade: #61776
Release notes: [v12.9.0](https://github.com/WordPress/gutenberg/releases/tag/v12.9.0)

**Install and activate**
- [x] Install and activate v12.9.0-rc.1 on edge (D77418-code)
- [x] Install and activate v12.9.0 on edge (D77836-code)
- [x] Activate v12.9.0 on production (D77854-code)
- [x] Request v12.9.0 AT upgrade (p9o2xV-204-p2)

**Testing**
- [x] v12.9.0 Desktop viewport

[2022-03-23 19:39] #62002 closed, assigned to nobody

[2022-03-23 19:40] tvolpert opened #62188 "Apostrophe 2: VideoPress videos don't display if set to alignwide or alignfull"
### Quick summary

When adding a video from the site's media library to any page or post, using the Apostrophe 2 theme, that video will work fine in the editor, but won't display on the live or preview version of the page if its alignment is set to either "Wide" or "Full"

### Steps to reproduce

1. Start with a site with the Apostrophe 2 theme active
2. create a new page or post, or edit an exist

[2022-03-23 19:40] edequalsawesome commented on #62157
This is the expected behavior -- the site title and menu are set to white and can't be changed through the Colors & Backgrounds panel of the Customizer, and it looks like there's a function in the `/inc/wp-colors.php` that prevents the Alternate Panel Background color from being set to white.

Since this is expected, I'm going to close this issue 😃

[2022-03-23 19:40] #62157 closed, assigned to nobody

[2022-03-23 19:53] Robertght commented on #61913
Fixed by @jeffikus.

[2022-03-23 19:53] #61913 closed, assigned to nobody

[2022-03-23 19:58] edequalsawesome commented on #62055
This is a bug with the latest release of Gutenberg -- it's been reported here! https://github.com/WordPress/gutenberg/issues/39699

[2022-03-23 20:22] paulopmt1 commented on #62005
- [x] Add marketplace product entry to endpoint. Phabricator code here: D77429-code

[2022-03-23 20:36] #62031 closed, assigned to markbiek

[2022-03-23 20:58] edequalsawesome commented on #62062
Submitted in the WooCommerce Blocks repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/6110

[2022-03-23 21:12] edequalsawesome commented on #62153
The user from that ticket's account was set as exempt from Primary with Plan Only, so this is the expected behavior -- more about that here: P6Ya1B-Nh-p2

Closing this since the expected behavior 😃

[2022-03-23 21:12] #62153 closed, assigned to nobody

[2022-03-23 21:16] dpasque opened #62189 "Spoiler block: Copy/pasting two back-to-back spoiler blocks causes script to hang."
### Quick summary

If you have two spoiler blocks back to back, select them both and copy in a published P2 post, and then try to paste elsewhere in a P2 editor, your webpage with freeze up with an unresponsive script! There seems to be some kind of infinite loop or hang on the main thread.

### Steps to reproduce

1. Write a P2 post
2. Write two spoiler blocks back to back. Put a header and some

[2022-03-23 21:42] edequalsawesome commented on #62137
Looks like this is a core Gutenberg issue! https://github.com/WordPress/gutenberg/issues/39285

[2022-03-23 21:45] CraigG58 commented on #44427
This is a serious issue. Until fixed, “Home”>”Media” to check status of file attachments = Completely useless.
Any chance of bumping up the priority here?

[2022-03-23 21:56] edequalsawesome commented on #61965
This is conflicting with the Lazy Load module of Jetpack -- disabling that from the `Settings > Performance` area of WordPress.com resolves it, though!

Transferring to the Jetpack repo for further investigation!

[2022-03-24 00:33] donalirl commented on #45586
Seen in #34843674-hc p7DVsv-9Cf-p2#comment-40058

[2022-03-24 01:38] lsl opened #62193 "Plugins header: help icon alignment"
The ? help icon on the plugins screen header @ https://wordpress.com/plugins is not aligned well, could we center this?

![Screenshot 2022-03-24 at 12-38-00 Plugins — WordPress com](https://user-images.githubusercontent.com/811776/159824721-573ace46-7a7e-4fa1-95e3-ee8cdaaed7c8.png)

[2022-03-24 01:57] autumnfjeld opened #62194 "☂️ Update Vertical Image Curator with additional tagging"
## Description

The Vertical Image Curator Tool is an MC tool at mc-url/verticals

As pbxlJb-1lY-p2 mentioned, we need to tag the vertical images (portrait, vacation, hero-image, blog-featured-image, etc) so that we could find the best substitutions. Besides, sometimes we might probably have some fancy images suitable for specific verticals and we want to upload those images manually.

Images are

[2022-03-24 02:39] fushar commented on #61788
PR for the create recipe page: D77449-code

[2022-03-24 03:04] arthur791004 opened #62197 "Implement Vertical Settings Control to label the block"
## Description

As pbxlJb-1lY-p2 mentioned, we need to tag any block in block patterns and page templates so that we could find the best substitutions. Besides, we have to keep the consistency of the tags for these blocks and vertical images.

## Acceptance Criteria

- [ ] Vertical Settings Control should fetch the tags from somewhere
- [ ]  People could tag any block in block patterns and page te

[2022-03-24 03:06] creativecoder commented on #59527
That would be amazing! I'd be very surprised if it was only a couple days, but please keep us updated. Also, if hooks or otherwise are needed to make it easier/possible to override the Gutenberg export process, let us know.

[2022-03-24 03:37] arthur791004 commented on #61401
Here is the MVP: D76068-code and you could see the result from
* pbxlJb-190-p2
* pbxlJb-1l7-p2
* pbxlJb-1ow-p2

[2022-03-24 03:37] #61401 closed, assigned to nobody

[2022-03-24 03:38] arthur791004 commented on #61400
We have already known how to insert the images into the theme. See pbxlJb-190-p2 and pbxlJb-1l7-p2

[2022-03-24 03:38] #61400 closed, assigned to nobody

[2022-03-24 03:44] arthur791004 opened #62198 "Find the best substitutions of the verticalization of Images"
## Description

As pbxlJb-1lY-p2 mentioned, we need to have a way such as labeling our images and blocks to find the best vertical images for substitutions.

## Acceptance Criteria

* We have the ability to tag the vertical images from Vertical Image Curator
* We have the ability to tag any block in block patterns and page templates with semantic tags
* We need to make sure the tags from vertical

[2022-03-24 03:44] arthur791004 commented on #61228
Close it as we have already done all of the spikes to verticalize the images in themes, page templates, and block patterns.

You could check the result as followed:
* pbxlJb-190-p2
* pbxlJb-1l7-p2
* pbxlJb-1ow-p2

And here is the PR - D76068-code

Our next step is to find the best substitutions to improve the results after the verticalization of images. See https://github.com/Automattic/wp-calypso

[2022-03-24 03:44] #61228 closed, assigned to arthur791004

[2022-03-24 03:46] talldan commented on #62055
It should be fixed by this PR - https://github.com/WordPress/gutenberg/pull/39620

[2022-03-24 04:35] sanjeev00733 commented on #39956
Another report in #28657010-hc

[2022-03-24 06:05] autumnfjeld opened #62200 "[Placeholder] Add functionality to PTK for categorizing by site type and goals"
# Description
This work is post MVP.
Once we introduce the Goals Screen (see P2 Intent Capture: How to move forward? pbAok1-2FU-p2) we will be serving tailored designs, thus tailored layouts/recipies to the user based on the selections on the Goals screen.   For this we'll need to categorize patterns and perhaps recipes by goal.

This work may span many tools: Recipe Tool, PTK, etc.  As the work g

[2022-03-24 06:21] autumnfjeld commented on #62194
@arthur791004 I pulled this into "Ready for dev" as it is high priority work.   If you think you could use help with this, let @fushar know.

This is one of the pieces that are really important for the first simple Generated Design as outlined in pbxlJb-1qE-p2

[2022-03-24 06:35] lsl commented on #61945
Merged

[2022-03-24 06:35] #61945 closed, assigned to paulopmt1

[2022-03-24 06:35] lsl commented on #61892
Merged your other one instead D77424-code

[2022-03-24 06:35] #61892 closed, assigned to paulopmt1

[2022-03-24 06:39] lsl commented on #61548
Shipped, tested non a11n purchase on prod with credits.

[2022-03-24 06:39] #61548 closed, assigned to paulopmt1

[2022-03-24 06:40] lsl commented on #61918
Shipped, tested non a11n purchase on prod with credits.

[2022-03-24 06:40] #61918 closed, assigned to lsl, paulopmt1

[2022-03-24 07:39] Robertght commented on #61961
Closing this one as it's already fixed.

[2022-03-24 07:39] #61961 closed, assigned to nobody

[2022-03-24 07:43] lsl commented on #62005
We can skip the release steps by merging D77429-code without the a11n check, it's already managed so we don't really need to do the extra steps. p1647967541159849/1647967069.454849-slack-C029JEQRVRT

In other words this task only has one step left:

- [ ] Add catalog info, making the plugin available for purchase to all users (D77429-code)

[2022-03-24 07:44] kettultim commented on #53626
Another one. Turning it off and on again always works: 4881433-zd-woothemes

[2022-03-24 07:45] lsl commented on #62005
FYI D77429-code should be fine, there is a failing jetpack test but it looks flaky, just rerun the build from phabricator until it passes. ("Restart build" on the right sidebar of the build page)

[2022-03-24 07:46] Robertght commented on #60353
I have followed up with all the users above.

This is safe to be closed now, but please reopen if you encounter more reports.

[2022-03-24 07:46] #60353 closed, assigned to nobody

[2022-03-24 07:58] zdenys commented on #60483
4874347-zd-woothemes

[2022-03-24 07:59] DavidSaladu commented on #61122
Another one 11162075-hc

[2022-03-24 08:49] cpapazoglou opened #62202 "Marketplace: Remove the new .org plugins section from plugins browser"
<img width="1155" alt="CleanShot 2022-03-24 at 10 49 47@2x" src="https://user-images.githubusercontent.com/12430020/159878219-73d1c319-8cac-46e9-9427-da29f4615184.png">

The .org New Plugins list doesn't add any value to the end user. Conversely, it may harm user experience (pj9Io-3xm-p2#comment-16533). Due to the nature of the open-source WordPress there are plenty new plugins daily most of them

[2022-03-24 08:59] cpapazoglou opened #62205 "Marketplace: Find a way to make Plugins landing page look like having fresh content"
Related to https://github.com/Automattic/wp-calypso/issues/62202

[2022-03-24 09:44] cpapazoglou opened #62206 "Marketplace: plugin installation / activation error (Jetpack CRM)"
While trying to install Jetpack CRM `zero-bs-crm` on an ecom site, I get stuck to the activation screen
<img width="1601" alt="CleanShot 2022-03-24 at 11 46 32@2x" src="https://user-images.githubusercontent.com/12430020/159888985-9421616d-5f0b-4df9-9d71-04644502b9b9.png">

The network request to `install` it has been successful but subsequent request to `https://public-api.wordpress.com/rest/v1.1/

[2022-03-24 09:48] rachelwinspear commented on #61326
New request for this feature here: 34851767-hc

[2022-03-24 09:52] cpapazoglou commented on #62206
FWIW, other plugins are installed with success. Probably something goes wrong with the slug?

[2022-03-24 10:03] vishnugopal commented on #45586
@donalirl Will re-triage this and get back, thanks for the report!

[2022-03-24 10:21] susanjanec commented on #59566
Another report - 24915200-hc
Workaround didn't work for me

[2022-03-24 10:27] cpapazoglou opened #62207 "[Bug]: Atomic site creation (ecom plan) results in a broken experience"
### Quick summary

After investigating a bug with a plugin not being installed as expected, I found out that the site creation flow for an ecommerce site seems (is?) broken. While the site is created successfully, it seems that Jetpack is not connected properly resulting to Jetpack `Safe Mode has been activated` in WP Admin

<img width="1630" alt="CleanShot 2022-03-24 at 12 19 12@2x" src="https://

[2022-03-24 10:39] arunsathiya commented on #51164
Could someone from @Automattic/martech review this request, please? INR customers often ask about price difference between `/pricing` (new customers) and `/plans` (existing customers; renewals)

[2022-03-24 10:46] janmckell commented on #51164
Another one here: 4888896-ZD

[2022-03-24 10:47] janmckell commented on #51164
Another one here:
30593758-HC
4889111-ZD

[2022-03-24 10:53] arcangelini commented on #60876
Some clarification would be helpful for the Email page. I am seeing 2 different pages depending on what site I am using and both have support/guidance links.

<img width="1160" alt="Markup 2022-03-24 at 11 39 08" src="https://user-images.githubusercontent.com/33258733/159900700-acd08a31-ae82-4f9b-8d39-d7a559c45e4e.png">

[2022-03-24 12:37] tellisbethel commented on #56468
Another case here: 31924804-hc
User was unable to see Cookies and Consent widget without focusing on it.
Third party theme: Soho

[2022-03-24 12:37] Robertght commented on #61517
As @kimerlin81 found here p1647495887383259-slack-C01UW7SB411 , removing the commas is a good workaround, however, I'm pinging @Automattic/cylon and @annezazu  for a second look as well.

[2022-03-24 12:41] Robertght commented on #62057
Closing in favor of this 1508-gh-Automattic/en.support-docs-content

[2022-03-24 12:41] #62057 closed, assigned to nobody

[2022-03-24 12:46] Robertght commented on #61676
Thank you @masperber !

I'm going to close this in favor of this one: https://github.com/Automattic/wp-calypso/issues/62137

It appears to be a core issue: https://github.com/WordPress/gutenberg/issues/39285

[2022-03-24 12:46] #61676 closed, assigned to nobody

[2022-03-24 12:54] KokkieH opened #62212 "Feedback button block: Block settings panel inaccessible"
### Quick summary

It's impossible to modify any settings for this block in the editor block settings panel. Trying to click on any settings, merely unselects the block so it's no longer the active block being edited.

### Steps to reproduce

1. In the post/page editor, add a Feedback button block
2. Select the block for editing
3. Try adding a block title, change styling, or any of the other opti

[2022-03-24 12:55] mdtanjid0 opened #62213 "Block Editor :: Layout Grid :: Image Block :: breaks with preview tool on Tablet and phone."
### Quick summary

If we take a Layout Grid Block, and Image blocks within the Layout Grid, it breaks with the Preview tool when we check that on *Tablet* and *Phone* preview only on Editor.

It works fine on the front end.

I have created a short video:

https://user-images.githubusercontent.com/54123436/159915466-ee182110-545a-46d5-ae2c-5fbb0b96593d.mp4

### Steps to reproduce

1. Take a Grid la

[2022-03-24 13:00] Robertght commented on #62082
What I did was to remove the last "/" from that embed block and that worked, but I think that's a glitch considering how many widgets there are on the website.

I'm going to close this one for now.

[2022-03-24 13:00] #62082 closed, assigned to nobody

[2022-03-24 13:17] janmckell commented on #52687
Occurred here as well: 34816734-HC

[2022-03-24 13:28] sixhours commented on #61820
Initial P2 post is here with answers to these questions (and more!): paYKcK-1sA-p2

We can probably close this until the next round of analysis. :)

[2022-03-24 13:28] #61820 closed, assigned to andres-blanco, sixhours

[2022-03-24 13:35] filipanoscampos commented on #40574
The user on this ticket is also having this issue (4877980-zd-woothemes and 34780051-hc) and came back to us to share the issue persists.
They added "even when the blog was published, nothing would display, same as when it wasn’t published. If I tried to update it, it would throw a JSON error and not publish or update anything."

They have had this issue for a while,
The Blog page is now in the tr

[2022-03-24 13:46] #61643 closed, assigned to epeicher

[2022-03-24 13:54] paulopmt1 commented on #62005
Deployed and tested on prod with a non a11n with @allilevine.

[2022-03-24 13:54] #62005 closed, assigned to paulopmt1

[2022-03-24 15:56] mikeicode opened #62217 "Cover block: Image size option"
### What

Image blocks have an image size setting, allowing you to embed a smaller image than the uploaded image size, which is important for performance.

![Screen Shot on 2022-03-24 at 11:50:06](https://user-images.githubusercontent.com/10353785/159956789-0af9a7f5-bd2f-4b6e-9953-550db7c7e6c1.png)

Cover blocks don't have this setting, so if you upload a Pexels image for example which may be 8000

[2022-03-24 15:57] #61863 closed, assigned to Rolilink

[2022-03-24 16:10] WBerredo opened #62218 "Launch WooCommerce Min/Max and Product Vendors"
Launch Min Max Quantities and Product Vendors for non-a12s

[2022-03-24 16:10] WBerredo commented on #62218
D77495-code

[2022-03-24 16:16] #62218 closed, assigned to WBerredo

[2022-03-24 17:10] epeicher commented on #61800
P2 written to follow up with Yoast pcSRhZ-34-p2

[2022-03-24 17:21] Gustavo-Hilario opened #62224 "Shawburn > Pullquote Block > Full-Width: centered text isn't working on small screens"
### Quick summary

If we set a Pullquote block to be full-width with centered text, the content won't be centered on small screens.

### Steps to reproduce

1. Create a new post or page.
2. Add the Pullquote to the page and set it to be full-width. Also, make sure the text is set to be centered.
3. Preview the page. When reducing the window size to mobile sizes, the quote won't be centered.
4. You

[2022-03-24 18:24] allilevine opened #62227 "Marketplace: Add WooCommerce Canada Post"
Add Canada Post Shipping method extension to the marketplace. Use WooCommerce extension logo.

Documentation: PCYsg-AhH-p2
URL: pdh6GB-y3-p2
Slug: woocommerce-shipping-canada-post
Name: WooCommerce Canada Post Shipping Method

### Add billing products
 - [x] Post preflight p2, example pdh6GB-vf-p2
 - [x] Add product, yearly, monthly plans see docs PCYsg-CJy-p2

### Create store products
 - [x] Res

[2022-03-24 19:22] allilevine commented on #62105
Closed by D77116-code

[2022-03-24 19:22] #62105 closed, assigned to lupus2k

[2022-03-24 19:25] jeyip commented on #61774
Will work on this with Kenroy during his onboarding

[2022-03-24 19:25] allilevine commented on #62032
Closed by D77013-code and #62077

[2022-03-24 19:25] #62032 closed, assigned to lupus2k

[2022-03-24 20:19] #62119 closed, assigned to lupus2k, Rolilink

[2022-03-24 20:27] Rolilink opened #62229 "Marketplace: Add Scroll Behavior to the search header"
We need to add the scroll behavior to the marketplace search header
![image](https://user-images.githubusercontent.com/1035546/160004534-07d56ef0-ff0c-49d2-9283-9caace8d8a3e.png)

- [ ] When scrolling below popular searches it should show a sticky header search,  Breadcrumbs and actions should not be visible.
- [ ] When scrolling above popular searches it should show again the header search,  Brea

[2022-03-24 20:30] Rolilink opened #62230 "Marketplace: Remove spotlight flag"
After #62231 merges we can safely remove the `marketplace-spotlight` flag in:

- [ ] [Plugins Browser conditional api call.](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugins-browser/index.jsx#L554)
- [ ] [Plugin Browser List component.](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugins-browser-list/index.jsx#L111)

[2022-03-24 20:30] Rolilink opened #62231 "Marketplace: Add a11n check to spotlight rules"
To be able to launch plugin spotlight rules separately, we need to add checks to the Yoast and Sensei Pro spotlight rules, we decided to go ahead and add a11n checks to both rules which will be removed separately when each plugin is launched

- [ ] Add a11n check to Yoast Premium rules.
- [ ] Add a11n check to Sensei Pro rules.

[2022-03-24 21:23] lsl opened #62232 "Marketplace: Round install numbers to 0dp"
On the plugins screen we want to round down to no decimal places

e.g. 80.0K should render as 80K
e.g. 5.0M should render as 5M

This rounding is happening in `formatNumberMetric` where it fixes to 1dp for all,

Called from [here](https://github.com/Automattic/wp-calypso/blob/0e02fcad73478fd745d9d74d7f90584c28ddd593/client/my-sites/plugins/plugins-browser-item/index.jsx#L171).

![Screenshot 2022-0

[2022-03-24 22:28] cometgrrl commented on #61237
@autumnfjeld It looks like y'all fixed this a few months ago, but it's back. Does it make sense for Ganon to take a look at it?

[2022-03-24 23:33] cuemarie commented on #62064
Encountered this issue here: 34865846-hc

This user's site is in Coming Soon mode, so the only workaround for previewing how their page looks on mobile is via the Customizer - making building their site quite a bit more tedious

[2022-03-25 01:54] danielk-am opened #62234 "Email Post Changes for AT Sites"
### What

Request for Email Post Changes for AT sites.

### Why

Multi-authors and users on AT sites with WordPress.com log in, where the site administrator would like to be notified whenever there are changes to a post. This was available before on sites before plugins are installed.

An example request - 34865840-hc

### How

_No response_

[2022-03-25 01:59] 1dr0 commented on #56745
Checking in to see, on behalf of the user, if this is in the works for now.

Request - 34865840-hc

[2022-03-25 02:29] donalirl commented on #60876
I'm seeing it there too now. I found this other interface shows up on some sites:
![image](https://user-images.githubusercontent.com/30727666/160042648-d0d15463-2ad2-4eed-9b51-6125950c32a5.png)

but considering this screen is intended to drive purchase, adding a support doc link might just distract. I would vote to leave the email screen as is.

[2022-03-25 04:04] autumnfjeld opened #62237 "☂️ Design Picker for Verticalized Designs"
# Description
We want to showcase verticalized designs in a "special" version of the Design Picker (v13n DP).
![image](https://user-images.githubusercontent.com/5665959/165203584-6d0bc80f-e6d6-4931-8a41-237c770eecea.png)

### Designs
[Figma](42PgVsdlQ1v2wpk6lmmrnq-fi-1601%3A59509)  See the "60 Sec Preview" page.
<img width="1160" alt="image" src="https://user-images.githubusercontent.com/5665959/1

[2022-03-25 04:56] autumnfjeld commented on #61526
@Automattic/ganon

![bitmoji](https://sdk.bitmoji.com/render/panel/6ce76d26-9c7a-4fd2-8675-f5d4225363d6-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=39)

I just created this issue for the Design Picker: https://github.com/Automattic/wp-calypso/issues/62237
Making a note of that because the Verticals Screen step described above will save the vertical in site preferences

[2022-03-25 05:28] vishnugopal opened #62238 "Refactor Importer flow to use the Stepper framework"
See work done by Team Vertex here: pdDR7T-1l-p2

- [x] Setup the main Calypso redux store
- [x] Register an import flow `setup/import`
- [x] Include the import module screens (share codebase between /start and /setup frameworks)
- [x] Register an importer flow `setup/importer/{importer}`
- [x] Include the importers (share codebase)
- [x] Refactor the importer modules to support consumption from di

[2022-03-25 05:29] wpshellbelle commented on #51540
Another report at 34188796-hc

I had user use Gravatar workaround.

[2022-03-25 05:31] vishnugopal opened #62239 "Build an endpoint that can return color-customized theme previews"
See: pcmemI-p2-p2#comment-598

Todo:

- [ ] Define which color variables we want to override.
- [ ] Refactor the current customize_page method. Simply adding more parameters and logic is not desirable, this method needs to be refactored. See: https://opengrok.a8c.com/source/xref/wpcom/wp-content/lib/nux-helpers/class-template-helpers.php?r=29f457af#416
- [ ] Add the logic for customizable color va

[2022-03-25 05:40] vishnugopal opened #62240 "Explore Wix photos importer implementation"

[2022-03-25 05:40] vishnugopal opened #62241 "Write down technical requirements for the photos importer"

[2022-03-25 05:40] vishnugopal opened #62242 "Improve color kind detection accuracy for url-analyzer"
Currently the mShots url-analyzer API returns a bag of colors. We need the API to return a bucketed list of colors in three categories: background, text color, and link color.

[2022-03-25 06:46] arunsathiya opened #62244 "Feature request: show image attachment status on the media"
### What

It'd be nice to be able to see if an image on the media library is attached to a post or a page. It's something that core WordPress media library does, that information is not visible on Calypso media library.

### Why

When customers upload duplicate images to their media library, they'd like to know if the image they are deleting is attached to a post or not.

### How

Either in the Ca

[2022-03-25 06:46] arunsathiya commented on #62244
Requested on 34870095-hc.

[2022-03-25 06:47] vishnugopal commented on #51442
Triaged and reproduced! I've also updated the issue description and added 2 test files that can reproduce behavior.

[2022-03-25 08:42] tyxla commented on #61463
Addressed by #61827.

[2022-03-25 08:42] #61463 closed, assigned to spraveenitpro

[2022-03-25 08:45] dragstor commented on #61464
Another one: `34806629-hc`.
Polylang + Elementor.

[2022-03-25 10:34] arcangelini commented on #60876
All of these have been accounted for except Plugins. That header is incorporated into a few other components and is not able to be formatted like the others. If someone from design wants to propose a solution then we may be able to move forward with something. I am going to close this now as we are all 🚀  done

[2022-03-25 11:03] #62202 closed, assigned to gcsecsey

[2022-03-25 12:02] simison commented on #53283
Not relevant for now with FSE.

[2022-03-25 12:02] #53283 closed, assigned to nobody

[2022-03-25 12:47] mrfoxtalbot opened #62252 "[Theme: Archeo] Missing term descriptions in category archives"
### Quick summary

In its category & tag archives, Theme Archeo **does not show term descriptions** by default:

![Screen Shot on 2022-03-25 at 13:42:29](https://user-images.githubusercontent.com/4452464/160122951-32d8921c-cfd9-47cd-b04d-a77e026ad133.png)

![Screen Shot on 2022-03-25 at 13:42:08](https://user-images.githubusercontent.com/4452464/160122967-acbf63fd-b1ad-4d45-b246-4ea2a8c3eb65.png)

[2022-03-25 14:30] ivan-ottinger commented on #56504
My PR didn't get to review, but when I tried now, I couldn't reproduce the issue anymore. → Closing this thread now.

Of course, we can still reopen in case the issue comes back. :)

[2022-03-25 14:30] #56504 closed, assigned to ivan-ottinger

[2022-03-25 14:48] zdenys commented on #62041
It happens for "heading and three images" pattern

![image](https://user-images.githubusercontent.com/39308239/160143967-34710cf3-f0e2-4378-b8b2-30decb4ec58d.png)

[2022-03-25 15:18] vinimotaa commented on #60769
Hey @cpapazoglou, I thought that for time being, we could add a strong call to action leading users to the paid version.

There are 2 workstreams to improve this in the near future. The product card design and the product page itself.

Let me know if that would suffice for now.

<img width="1393" alt="image" src="https://user-images.githubusercontent.com/97929097/160149009-f7c1ae23-93a7-4c8e-ab60-

[2022-03-25 15:27] alshakero commented on #58083
Closing as fixed in https://github.com/WordPress/gutenberg/pull/37034.

[2022-03-25 15:27] #58083 closed, assigned to alshakero

[2022-03-25 17:43] #61776 closed, assigned to nobody

[2022-03-25 17:51] jp-imagines commented on #52182
Another in 4893175-zd-woothemes

[2022-03-25 18:06] allilevine opened #62264 "Marketplace: Add categories to Marketplace"
Implement categories and a menu to use them, for the Marketplace.

See walkthrough: p1648749511112799-slack-C029JEQRVRT
Categories post: pdh6GB-Cq-p2
PT: pdh6GB-AJ-p2
Design walk-through: pdh6GB-Cq-p2

Acceptance criteria:
- [ ] Localization in place: add strings first.
- [ ] There's a "Discover" section under the Search Header containing a categories menu, number of results, and links to popular

[2022-03-25 18:45] allilevine opened #62265 "Marketplace: Change search input when search term clicked"
When a popular search term is clicked in the search header, change the search input value to that term.
<img width="659" alt="Screen Shot 2022-03-25 at 2 45 52 PM" src="https://user-images.githubusercontent.com/1689238/160182751-9f8edf5b-7492-45b8-9498-36df93a2f97e.png">

Acceptance criteria:
- [ ] Clicking the search term changes the search input value.

[2022-03-25 18:49] allilevine opened #62266 "Marketplace: Change popular search terms"
Update the popular search terms in the search header to reflect search data. Hard-coded, update biweekly.  `calypso_plugins_search_results_show` is a track event that has the search_term as a prop.

Acceptance criteria:
- [x] See p1648138858900379-slack-C029JEQRVRT (priority) - #62351
- [x] There are no specific products in the search terms.  -> #62361
- [x] The search terms more accurately reflec

[2022-03-25 18:51] allilevine opened #62267 "Marketplace: clean up search header UI spacing"
The new search header needs spacing changes to account for when the Spotlight and other upsell banners are visible:
<img width="1190" alt="Screen Shot 2022-03-25 at 2 52 51 PM" src="https://user-images.githubusercontent.com/1689238/160183800-84be2748-ad86-4c85-9e7e-89411f3ffc76.png">

[2022-03-25 18:56] allilevine opened #62268 "Marketplace: Begin automating plugin adding"
Let's make adding a plugin easier. What steps can we automate?

Acceptance criteria:
- [x] A list of what can be automated
- [x] A plan for automating them
- [x] Begin implementing the plan.

[2022-03-25 20:09] metabreakr opened #62269 "Cannot select payments plan for Payments Button block widget"
### Quick summary

When adding a Payments Button block through either _Appearance → Widgets_ or _Appearance → Customize → Widgets_, it is not possible to select a payment plan. Though it's possible to add the widget, it does not render on the frontend because a plan has not been selected.

### Steps to reproduce

1. Activate a universal theme, such as Twenty Nineteen
2. Go to _Appearance → Widgets

[2022-03-26 05:22] arunsathiya opened #62274 "Receipts: Display number of Google Workspace licenses purchased and duration the purchase is for"
### Quick summary

On the receipts page on Calypso, we don't indicate the number of Google Workspace licenses the purchase is for, or the duration for which the purchase is made. It'd be nice to show that information.

### Steps to reproduce

- Start with an existing Google Workspace purchase.
- Purchase additional licenses.
- Visit https://wordpress.com/me/purchases
- Click on billing history
- C

[2022-03-26 05:22] arunsathiya commented on #62274
FYI @Automattic/letero

[2022-03-26 11:09] kspilarski opened #62277 "Do It For Me: Change wording in Site Information"
### What

In https://wordpress.com/start/do-it-for-me/site-info-collection, change the wording: **_Name of your business `Required`_** and its description: **_Please enter the name of your business as you want it to appear on your new site._**

### Why

Users without businesses thought that it's only for businesses and not for individuals, so they get stuck in this step.

### How

<img width="1545

[2022-03-26 11:26] jartes commented on #49501
34894710-hc

[2022-03-26 12:43] ktyfuller604 commented on #60973
4894213-zen

They are trying to recreate the (retired) Tortuga theme using FSE and getting pretty close, but the inability to set a post excerpt length causes the post blocks on their home page to be different lengths.

[2022-03-26 12:56] ktyfuller604 opened #62279 "Global Styles: Hyperlink Styles Option"
### What

It would be nice to have the option in Global Styles for hyperlinks to remove or change the underline style as well as the hover colors.

### Why

It's a common request to remove underlines from hyperlinks as well as adjust the hover color. A recent interaction with someone recreating their (retired) Tortuga theme using FSE required CSS to remove the underline from hover over on hyperlin

[2022-03-26 14:27] arunsathiya opened #62280 "Adding WordPress.com plan to cart from a plugin monthly plan tab shows live chat is available, while it's not"
### Quick summary

Adding WordPress.com plan to cart from a plugin monthly plan tab shows live chat is available, while it's not.

<img width="1161" alt="image" src="https://user-images.githubusercontent.com/18581859/160243886-5950c48c-fda0-4b83-8424-23392a9d47d5.png">

### Steps to reproduce

- Start on a free WordPress.com site.
- Click on the plugin tab on the left.
- Click on a plugin, choose

[2022-03-26 14:33] arunsathiya opened #62281 "Marketplace: Do not show incompatible plugins in the Atomic upgrade flow"
### Quick summary

On the new marketplace (plugins tab), we are showing incompatible plugins as well. As they are incompatible, it'd be nicer if they can be hidden from the suggestions list.

### Steps to reproduce

- Start on a free WordPress.com site.
- Click on the plugins area.
- Click on `seo` under most popular searches.
- Click on `W3 Total Cache` from the results.
- See that there's a warn