[2022-09-09 14:07] ariel-maidana commented on #67531
Another case here: 15647818-hc
Please notify the user when this issue is solved.

[2022-09-09 14:08] gcsecsey commented on #64939
I also investigated this a bit. I think the linked commit is a good interim solution, and we can iterate further.

#### WP.org

We have several fields that could serve as the source of truth for the author for WP.org plugins. The `author` field seems to consistently contain the author display name, while `author_login` contains the username. The `plugin.author` field is currently mapped from the `

[2022-09-09 14:26] ivan-ottinger commented on #67595
D87487-code is now deployed.

[2022-09-09 14:26] #67595 closed, assigned to ivan-ottinger

[2022-09-09 15:32] #67452 closed, assigned to heavyweight

[2022-09-09 15:44] cpapazoglou opened #67610 "Marketplace: vendors should be able to authenticate our webhooks"
If we’re going to ask vendors to provision a license, we should find some way to allow the 3pd to authenticate our requests. This might be [signing the request like Github does for webhooks](https://href.li/?https://docs.github.com/en/developers/webhooks-and-events/webhooks/securing-your-webhooks) or just passing a shared secret.

related convo: paYJgx-2lt-p2#comment-2758
props: @ebinnion

[2022-09-09 16:29] #67549 closed, assigned to heavyweight

[2022-09-09 16:37] cleadesigner opened #67611 "[Bug]: Special characters in GIF block on comments duplicates the text of the comment"
### Quick summary

<img width="988" alt="image" src="https://user-images.githubusercontent.com/94143945/189398486-0ac2e66f-6eca-450f-8f17-9d567ab016ae.png">

### Steps to reproduce

1. Go to any P2 (or any WP.com site?) and comment on a post
2. Add /gif to get the GIF block
3. Type a caption below the GIF
4. Add an apostrophe or quotes (' or ") and notice how it duplicates the text, and moves your

[2022-09-09 16:45] epeicher commented on #64939
I have iterated over the linked PR and I have found a solution that seems to be working. I will test it more and adding it for review. Commit here https://github.com/Automattic/wp-calypso/pull/67327/commits/c178d189d676e97ddcfeb70b477fc6e27566d3bc

The solution builds a query based on `plugin.author.raw`, so the query will be
[code]

I have tested and it returns results for queries like:
- `develo

[2022-09-09 18:00] danielbachhuber opened #67612 "Sites Management Page: Improve perceived performance by applying pagination when > 100 sites are present"
When a user has hundreds of sites, simply rendering all of the sites on the Sites page can be quite slow.

[react-virtual-list](https://www.npmjs.com/package/react-virtual-list) is a fancy way to solve this. We may explore it in the future. For now, we can improve perceived performance by simply applying pagination when > 100 sites are present.

From pdKhl6-GX-p2

**Done is:**
* When > 100 sites a

[2022-09-09 18:15] justingolden21 commented on #29264
![image](https://user-images.githubusercontent.com/30274440/189417369-75799fb1-4e07-47db-a919-01f5ead4fe6d.png)

I don't see this in the gutenberg editor anywhere.

[2022-09-09 19:17] allilevine opened #67614 "Marketplace: Visual search field bug in Safari"
From: pdh6GB-1Vu-p2 there's a visual bug in the search field in Safari.

![safari search](https://user-images.githubusercontent.com/1689238/189426354-1a9ffc68-306c-4e90-9b02-04880ed5207a.png)

Acceptance criteria:
- [ ] You've tried to reproduce this issue in desktop and mobile Safari.
- [ ] If replicable, a fix for the issue.

[2022-09-09 19:19] allilevine commented on #67614
@pablohoneyhoney Can you share any additional browser details about this one? I'm not seeing it in Safari 15.6.1 desktop.

[2022-09-09 19:23] allilevine opened #67615 "Marketplace: Intermittent empty footer space bug"
From pdh6GB-1Vu-p2 it's not consistent but we have a bug under the educational resources with a full-height bleed of empty footer space.

![footer empty](https://user-images.githubusercontent.com/1689238/189428054-87b1695e-b138-4f51-af2a-53edd3caea8a.png)

Acceptance criteria:
- [ ] You've tried to reproduce the issue on /plugins
- [ ] If replicable, a fix for the issue.

[2022-09-09 20:11] allilevine commented on #67576
There may be logic already in place for this -- I noticed that when I complete an upgrade I see a message like "continue installing plugin" and I can click to go back.

[2022-09-09 20:59] worldomonation opened #67616 "E2E: framework can result in Jest hanging if 3 or more parametrized test are run."
### Details

As part of the https://github.com/Automattic/wp-calypso/pull/67473 task, it was found that Jest can hang as a result of the way the E2E framework is structured in [environment.ts](https://github.com/Automattic/wp-calypso/blob/bb6793074f514c1183314109a7022fd51f240211/packages/calypso-e2e/src/jest-playwright-config/environment.ts).

Example of a timed out run:
[code]

With Playwright 1.

[2022-09-09 21:00] worldomonation commented on #67616
To verify the behavior, try the following:

1. `yarn up playwright@^1.25`
2. cd `test/e2e`
3. `yarn jest specs/media/media__edit.ts --detectOpenHandles`

The spec file here will hang at the end and Jest will never exit.
Checking the artifacts folder at `test/e2e/results/<directory_for_the_run>` will show just the `.log` file.

[2022-09-09 21:03] #66190 closed, assigned to nobody

[2022-09-09 21:08] worldomonation commented on #67616
Note that this only occurs when the test in question meet one of the following criteria:
- parametrized with more than a superficial step in each instance (eg. actually performs several actions) **and** there are 3 or more parametrized cases.
- multiple contexts are launched.

[2022-09-09 21:34] JessBoctor opened #67618 "Checkout Feature Request: Provide nudge for users about to create a duplicate site"
### What

Unintentionally creating a new site when trying to upgrade an existing site is a common situation that our customers and support crews run into.

It would be great to have a way to catch users who may be about to purchase upgrades for a new and empty site that has a similar name to one they already own. This way, we can check in with them to make sure that creating a new site is really w

[2022-09-09 21:36] JessBoctor commented on #67618
For context, discussion for this feature started here:

p1662744714841749 - slack - C0117V2PCAE

[2022-09-09 22:13] Gustavo-Hilario opened #67619 "Feature Request: Add a menu item on Calypso/Dashboard to access all FSE templates"
### What

The user on 36855014-hc wanted to have a direct option to reach their FSE templates from Calypso/main dashboard:

### Why

They said that is a "macro" setting and should be a direct way to access their templates from their dashboard. As of now, we need to use the hidden "Browse all templates" button to access all templates:

![Markup on 2022-09-09 at 19:08:34](https://user-images.githubu

[2022-09-09 22:17] agrullon95 commented on #67426
I have opened a diff with the changes for this issue: D87537-code

These changes will follow the first bullet point method: `(preferable) Changing "Hello World" for newsletter sites to draft state when their first other post is published.`.

[2022-09-09 23:02] joweber123 commented on #50687
Saw this again in this ticket - 5545762-zen

[2022-09-09 23:51] fullofcaffeine commented on #59259
Fixed in D87291-code. Feel free to re-open if the issue persists!

[2022-09-10 12:11] Robertght commented on #56461
I encountered this while checking other things.

Happens with Classic/widget-enabled themes.

[2022-09-10 12:51] mtias commented on #66273
Thanks!

[2022-09-10 13:12] ClassicRKR27 commented on #59259
So we're still working with this user on the issue and I've found that there is still a stipulation on getting this working for them: 5510224-zd-woothemes

I found that when trying to change `All` of the `Heading` fonts, they are still not changing - with that said, if I select the specific header types (H1/H2/H3/etc...) it will change the font correctly as shown below:

https://user-images.github

[2022-09-10 17:00] NoHopeRadio commented on #66008
Another report in 5546719-zen.

Another thing I noticed: even within the limited options that are there currently, they are unable to set the overall font family to the sans-serif version, and it looks like this is because there's a leftover var that got removed. Trying to set the font to the "Body (inter)" option sets the font family as `var(--wp--preset--font-family--inter)`, which doesn't seem

[2022-09-11 01:45] retnonindya commented on #67516
The original report from the user: 5539578-zd-woothemes

The user expected to be informed once the issue is resolved.

[2022-09-11 03:54] inaikem commented on #67531
Tested and replicated on new and existing sites.

Escalated for review here: p1662868346809039-slack-C02FMH4G8Cc: @Automattic/reactor

[2022-09-11 05:19] inaikem opened #67622 "VideoPress: Transcript search"
### What

Add the ability to search a video's transcript for keywords or phrases and be able to jump straight to the corresponding section of a video through a simple search result dialogue.

### Why

Allows users to jump to specific (highly relevant) sections/segments of videos to review (or revisit) at their leisure.

### How

Surface a search icon in the VP player that allows users to enter the

[2022-09-11 05:56] Nic-Sevic commented on #67531
Also tested this on an ephemeral site and the "follower" option is there with the newest release candidate for Jetpack 11.4-a.1

When tested on WoA site though, with only Jetpack active, the "follower" option is not there.

[2022-09-11 06:44] hacchism opened #67623 "Post Featured Image Block: some alignment options don't work properly"
### Quick summary

On some FSE themes, some particular alignment options(`Wide width` and `None`) don't work for Post Featured Image Block.

The themes with which I could replicate the issue:

- Russell
- Marl
- Appleton

### Steps to reproduce

1. Activate one of the themes I mentioned above in the Quick Summary.
2. Go to https://XXXXXX.wordpress.com/wp-admin/site-editor.php?postType=wp_template

[2022-09-11 06:56] Nic-Sevic commented on #67531
It seems like this is connected to this change: https://github.com/Automattic/wp-calypso/pull/67160

[2022-09-11 08:58] Nic-Sevic opened #67624 "Feature: WordPress.com Marketplace (Plugins) > User can't reinstall plugin after reset/plugin deletion"
### Quick summary

If a user deletes a plugin that they purchased through the marketplace they have no real way to get it back because it doesn't show in the WooCommerce dashboard. Instead, if they try and re-add it through the marketplace they're prompted to purchase it again even if the subscription is still valid.

Maybe we should change this so that if a valid sub is found the marketplace allo

[2022-09-11 14:10] bogiii commented on #67531
Hey @Nic-Sevic,

You are right. My recent changes caused a missing role issue.
I forgot to pass the flag option to the `RoleList` component. The fix is here: https://github.com/Automattic/wp-calypso/commit/7144f2934f612a3ff6c51af333271228b013781a

I'll test this case one more with fresh eyes on Monday morning and deploy it ASAP.

Thanks for discovering it!

[2022-09-11 16:24] csmcneill commented on #67624
- P2: p6q7sZ-aqV-p2
- Similar issue: #60661
- Similarly discussed in p1657556488136659-slack-C3NCP7ZJ6

For the last item in the list, a user purchased [Conditional Shipping and Payments](https://woocommerce.com/products/conditional-shipping-and-payments/?aff=10486&cid=1131038) but it did not install/activate due to a conflict which threw a fatal error.

To resolve it, we used the following WP CLI

[2022-09-12 02:06] annbingle commented on #52520
5549864-zen Recommended them to either switch to Public or Coming Soon.

[2022-09-12 04:25] vykes-mac commented on #67497
After some debugging I realise clicking the add new site button causes the Site Switcher to re-render before the navigation takes place, the `/start/domains` url is registered before navigation and results in error `This page is not available`. It would seem because `/start/domains` is not registered as a section it's simple rendered as a component where as manage sites is a registered section it

[2022-09-12 04:38] arthur791004 commented on #66786
Close it via https://github.com/Automattic/wp-calypso/pull/67424 and we decided to re-use the existing layout of the device switcher. See 7l53h5fxAUNjVRBQ82YFwn-fi-256%3A42065

![image](https://user-images.githubusercontent.com/13596067/189575039-67113f8e-7287-4284-9cda-bfd668427361.png)

[2022-09-12 04:38] #66786 closed, assigned to nobody

[2022-09-12 05:27] poojashetty18 commented on #53451
Another request on: 5545940-zd-woothemes

[2022-09-12 05:53] arthur791004 opened #67630 "Pattern Assembler: Remove Back button or go back to the main screen"
#### Description

When customers click on the “Back” button at the top-left corner in the pattern selector, they will back to the Design Picker step.

#### Acceptance Criteria

There are 2 possible solutions

- [x] When customers click on the “Back” button in the pattern selector, they will back to the main screen of the Pattern Assembler. If we go with this way, we could also remove the “Back” bu

[2022-09-12 05:56] mpkelly commented on #59259
@ClassicRKR27, I was able to reproduce this using a Support Session. It seems to only affect certain themes, like Pendant which the customer is using, and not others, like Disco. The problem appears to be for themes that have "Headings (System Font)":
![image](https://user-images.githubusercontent.com/6851384/189570591-1db04813-6bf4-48a5-bc35-07aa46f46b69.png)

I think the issue is this: if you se

[2022-09-12 06:01] arthur791004 opened #67631 "Pattern Assembler: Show "Start with a blank canvas" CTA on mobile"
#### Description

We also want to allow user to select the blank canvas design on mobile. cc @autumnfjeld

From @SaxonF ([slack convo](p1663034398447989/1663034258.088529-slack-CRWCHQGUB))

Ping Saxon as needed for clarification.
Here is a quick mockup (that was WIP when I screenshoted it)
Check Figma for latest: 7l53h5fxAUNjVRBQ82YFwn-fi-1119%3A58446

<img width="146" alt="image" src="https://use

[2022-09-12 06:03] arthur791004 opened #67632 "Pattern Assembler: Improve the a11y"
#### Description

We preload the patterns by hiding the elements on the screen. However, it's not good for the a11y. So, we need to improve the a11y to make the behavior of pressing tab/space/enter better.

#### Acceptance Criteria

* The behavior of pressing tab/space/enter works as expected.

#### Dev Tasks

- [ ] TBD

#### Related

* https://github.com/Automattic/wp-calypso/pull/67478#issuecomm

[2022-09-12 06:44] robfelty commented on #64891
In general, I think we want to keep the number of meta fields to sync relatively small, and used for common use cases. I wonder if in this case we could map these to the `jetpack-search-meta` fields instead. What do you think @gibrown ?

[2022-09-12 07:35] simison opened #67635 "Task: change different order in the block transforms menu"
### Details

Currently “premium content” and “conversation” seem to _always_ appear as the top suggestions in the transforms menu:

![image](https://user-images.githubusercontent.com/87168/189597883-3bf8a6e0-e77d-4600-8c59-6eee3ae16b4d.png)

In many cases, basic core blocks like "columns", "heading", "list",  "paragraph" should be suggested first and less frequently used Premium content (and espec

[2022-09-12 07:50] lsl commented on #65574
@vinimotaa were you going to update the how to guide links? I see the text is bolded but design hasn't changed and we'll need the links too.

[2022-09-12 08:12] sophiegyo commented on #52100
This came up in 36849726-hc as well.

[2022-09-12 08:12] lsl commented on #65574
Screenshots / calypso live of these updates here https://github.com/Automattic/wp-calypso/pull/67636 @vinimotaa there is quite a lot of changes, could you review?

I'm also not updating the category page headers themselves - there is a bit of a discrepancy between title sizing, guessing that will be resolved as part of https://github.com/Automattic/wp-calypso/issues/67239 ?

[2022-09-12 08:31] #67040 closed, assigned to sejas

[2022-09-12 08:46] #67531 closed, assigned to bogiii

[2022-09-12 08:51] mpkelly opened #67641 "[Bug]: Global Styles: Heading fonts do not always get applied to individual heading blocks"
These issues affect specific themes only. A theme with a font pair rather than a single font will likely have an issue.

**Selecting the "Default" font does not work**.
You can reproduce this with the **Pendant** theme.

https://user-images.githubusercontent.com/6851384/190049050-5b09160d-47f4-423b-9318-1ab132f01d9d.mp4

**~~Changing a heading style, e.g. `h2`, has no effect.~~**
~~You can reprodu

[2022-09-12 08:53] mpkelly commented on #59259
@ClassicRKR27, thanks for your bug report. I think this is a separate issue and looks to be related to how we handle the defaults, and also the default CSS variable names used across themes. I have created  https://github.com/Automattic/wp-calypso/issues/67641 to track it. I will close this one down.

[2022-09-12 08:53] #59259 closed, assigned to mpkelly

[2022-09-12 09:58] mashikag commented on #66978
Resolved by D87433-code

[2022-09-12 10:06] #67602 closed, assigned to escapemanuele

[2022-09-12 10:09] mashikag commented on #66979
Resolved by D87404-code

[2022-09-12 10:10] epeicher opened #67644 "Marketplace search: Find by Author should return more results"
This is a follow-up of the following PR [#67327](https://github.com/Automattic/wp-calypso/issues/64939) as suggested by the following comment https://github.com/Automattic/wp-calypso/pull/67327#pullrequestreview-1103763016

Current implementation filters results by Author using `plugin.author.raw` field as explained in [the original task](https://github.com/Automattic/wp-calypso/issues/64939#issue

[2022-09-12 10:17] #67488 closed, assigned to JuanLucha

[2022-09-12 10:30] #66978 closed, assigned to JuanLucha

[2022-09-12 10:35] arthur791004 commented on #66787
Close it via https://github.com/Automattic/wp-calypso/pull/66954 and we show the whitelisted patterns instead of filtering patterns by `blockTypes`

[2022-09-12 10:35] #66787 closed, assigned to miksansegundo, bangank36

[2022-09-12 10:37] arthur791004 commented on #66788
Close it via https://github.com/Automattic/wp-calypso/pull/66954. As we show the whitelisted patterns on the current iteration, there is no need to fetch the endpoint.

[2022-09-12 10:37] #66788 closed, assigned to miksansegundo

[2022-09-12 10:38] arthur791004 opened #67645 "Pattern Assembler: UI/UX polish"
#### Description

This issue is to collect the UI/UX feedback of the Pattern Assembler

#### Acceptance Criteria

- [x] https://github.com/Automattic/wp-calypso/issues/67630
- [x] The progress of Pattern Assembler step is wrong https://github.com/Automattic/wp-calypso/pull/67954

#### Dev Tasks

- [x] https://github.com/Automattic/wp-calypso/pull/67638
- [ ] TBD

#### Related

https://github.com/A

[2022-09-12 11:06] #64939 closed, assigned to epeicher

[2022-09-12 11:09] #67109 closed, assigned to cpapazoglou

[2022-09-12 11:37] bogiii commented on #67438
Draft PR: https://github.com/Automattic/wp-calypso/pull/67447

[2022-09-12 11:37] ivan-ottinger commented on #67597
Draft patch D87552-code is in development.

[2022-09-12 11:41] vindl commented on #65198
Thanks @SaxonF! We can use the designs provided in the P2 post here: pdKhl6-HA-p2

![image-6](https://user-images.githubusercontent.com/1182160/189644391-d0649324-c01f-4ebb-a0ef-773744bde123.png)

With a caveat that we should present it as [a split button](https://web.dev/building-a-split-button-component/).

I'll close this issue and open up two separate tasks for development.

[2022-09-12 11:41] #65198 closed, assigned to SaxonF

[2022-09-12 11:44] kimclowa8c commented on #67089
Hey @roundhill, good point. It may just be a notification we should add in the block settings then to assist with education. Something along the lines of:

`Note: some browsers disallow auto-playing videos with sound, or will only play if a user has interacted with the site before.
If your website doesn't auto-play the video, consider muting the video in the Block settings.`

[2022-09-12 11:46] vindl opened #67646 "Sites Management Page: add Jetpack connection flow"
Let's add Jetpack Connect as a separate option in the New Site button dropdown:

![image-6](https://user-images.githubusercontent.com/1182160/189644775-f4d91cd5-f526-4904-9670-ffc85793c300.png)

One caveat is that we should be using the [split button](https://web.dev/building-a-split-button-component/), so there is no need to repeat the "Create new site text".

Done is:
- [x] There is a dropdown u

[2022-09-12 11:52] vindl opened #67647 "[DUP] Sites Management Page: add importing flow"
Depends on: https://github.com/Automattic/wp-calypso/issues/67646.

Building upon the work in https://github.com/Automattic/wp-calypso/issues/67646, let's add the importing option in the New Site dropdown menu.

![image-6](https://user-images.githubusercontent.com/1182160/189646234-7b247351-0855-42c7-818a-1c98fd69e184.png)

Done is:

- [ ] There is a `Import an existing site` option in the split b

[2022-09-12 11:57] vindl opened #67648 "WP.com /hosting landing page"
We should rethink the design and content of the /hosting landing page on WP.com. It should talk more to the builder and agency customers, and we should highlight some of the newly launched features:

- Sites Page
- SSH access
- WP CLI access

Done is:
- [ ] Determine if we need new designs and visuals for the page (we can make edits in Gutenberg too)
- [ ] Propose an update for page's copy and sub

[2022-09-12 12:11] #66979 closed, assigned to JuanLucha

[2022-09-12 13:15] cpapazoglou opened #67652 "Marketplace: checkout should load the billing_intent product if it exists"
In https://github.com/Automattic/wp-calypso/issues/67547, vendors create a billing_intent in WPCOM and then redirect the user to the WordPress.com checkout. There we should load the correct product related to the billing_intent with the correct price.

Possible solutions:
- **Find if can add the product to the user cart from the backend when the billing_intent is created**
- If above doesn't work,

[2022-09-12 13:17] escapemanuele opened #67653 "Tailored Flow: Free plan is hidden when you click “Decide later” in domain step"
Free plan is hidden when you click “Decide later” in domain step

[2022-09-12 13:22] ivan-ottinger opened #67654 "[Comment Approval] Hide icons when the site accent color is applied"
![Screen Shot 2022-09-12 at 16 05 47](https://user-images.githubusercontent.com/2019970/189674815-37719234-550c-47cc-a6a5-09ab15e10ff1.png)

[2022-09-12 13:28] cpapazoglou opened #67655 "Marketplace: create saas_landing_page field in WooCommerce.com WP.com Marketplace pane."
In order that user selects a plan for a SaaS product, they need to be redirect to the vendor landing page ( see pdh6GB-1XJ-p2 ). This URL ( `saas_landing_page` ) should be synced in `store_vendor_products` table.

![Image](https://user-images.githubusercontent.com/12430020/189667588-79be9116-5cc1-465f-afc7-ad134338cf2f.png)

[2022-09-12 13:33] cpapazoglou opened #67656 "Marketplace: get saas_landing_page from store_vendor_products in Calypso"
In [Marketplace: create saas_landing_page field in WooCommerce.com WP.com Marketplace pane.](https://github.com/Automattic/wp-calypso/issues/67655) we have stored a URL `saas_landing_page` in `store_vendor_products`. We need this URL in Calypso plugin details page.

Possible Solutions:
- Bake it in the `https://public-api.wordpress.com/wpcom/v2/marketplace/products` data response
- Bake it in the

[2022-09-12 13:38] cpapazoglou opened #67657 "Marketplace: redirect users in vendor landing page for SaaS products"
In https://github.com/Automattic/wp-calypso/issues/67656 we have found a way to have available in Calypso the `saas_landing_page` for every product.

If `saas_landing_page` exists and has a value, we should

- should a saas friendly plugin details page.
-- Probably it won't have a price and a billing interval selector.
-- CTA button copy might need to be adjusted since it will redirect users to th

[2022-09-12 13:49] Addison-Stavlo opened #67658 "LaunchPad - Flashing 'myHome' before redirect"
Currently in the MyHome redirect to launchpad, we get a brief glimpse of MyHome before the redirect happens which could be much more problematic on slower devices/connections.

Notice how before directing to the launchpad, we see MyHome briefly:

![flash-myhome](https://user-images.githubusercontent.com/28742426/189670926-0c96637a-2eef-4850-a10c-4dd215a67007.gif)

Perhaps we can add a loading scre

[2022-09-12 13:53] wojtekn commented on #67586
@p-jackson, we currently support pre-selecting goals via the `ref` parameter - for a given `ref` value, we can configure an array of goal values that we need to select:

https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/goals/index.tsx#L33:L35

We could add a new record to support this ticket requirements:

[code]

It also suppor

[2022-09-12 13:56] Addison-Stavlo opened #67659 "LaunchPad - Update position of loading indicator after "Launch" in LIB flow"
The loading indicator after launching in the LIB flow is off-center and misplaced.

![misplaced-loading](https://user-images.githubusercontent.com/28742426/189672184-569ccf9e-170c-4668-adf8-30f1cf9efe75.gif)

Let's update the position to have this centered.

[2022-09-12 14:01] escapemanuele commented on #67653
Already in https://github.com/Automattic/wp-calypso/pull/67598

[2022-09-12 14:01] #67653 closed, assigned to escapemanuele

[2022-09-12 14:04] Addison-Stavlo opened #67660 "LaunchPad - follow up on 'infinite' redirect issue."
Currently we are band-aid fixing an issue with infinite redirect between launchpad and myhome after disabling the launchpad, however we need to find a way to resolve this for real.  There are still edge cases where we will find a redirect from `MyHome -> LaunchPad -> MyHome` again. One way to see this is to complete the LaunchPad for Newsletters by publishing a post in the editor, exiting to calyp

[2022-09-12 14:12] alshakero opened #67661 "Task: Tailored Flows - the flow name should be visible in the loading screen"
### Details

### Current behavior:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/17054134/189675263-76ba66ec-6283-4f04-8370-2f33b193b56d.png">

### Expected behavior:
![image](https://user-images.githubusercontent.com/17054134/189676080-88cb2d9e-fc57-44c4-9be6-e03f7b76b39b.png)

### Checklist

_No response_

### Related

_No response_

[2022-09-12 14:18] katiebethbrown commented on #67089
Related:
1274-gh-Automattic/greenhouse

[2022-09-12 14:19] zaguiini commented on #67043
Action plan for this issue:

1. use `useSitesTableSorting` in the site switcher as well (PR no. 1);
2. add a preference that saves and syncs the current sorting order in the back-end, just like we have for the display mode (PR no. 2);
3. pass the value of the preference to `useSitesTableSorting` (PR no. 2);
4. add alphabetical A-Z sorting algorithm to `useSitesTableSorting` (PR no. 3);
5. add a te

[2022-09-12 14:32] cpapazoglou opened #67663 "Marketplace: add footer with static data to Plugin Details page"
Related to pdh6GB-sk-p2 we should add a footer with static text

![Image](https://user-images.githubusercontent.com/12430020/189681589-a90d69cb-d873-4b74-a36b-59006509e8af.png)

We can reuse the component already used in https://wordpress.com/plugins.

@vinimotaa can you provide the copy?

[2022-09-12 14:35] alshakero opened #67664 "Task: Bring Calypso GDPR banner into Stepper so that the cookie banner doesn’t appear/disappear randomly during the flow"
### Details

To see the cookie banner, open a new PR, go to the container URL, go through LiB flow, and you will see a GDPR consent when you land at the domains step.

This consent should be moved to /stepper. Namely, to the intro step of the tailored flows. Note that we probably won't need to do anything in /start. Setting the cookie in /stepper, will automatically hide it in /start.

[2022-09-12 14:38] ivan-ottinger commented on #66963
D87426-code is now merged and deployed.

[2022-09-12 14:38] #66963 closed, assigned to ivan-ottinger

[2022-09-12 14:41] cpapazoglou commented on #67610
We can use the shared token that vendor already has for authentication to create a signature and add it in the request so that then vendor can verify the authenticity by creating a signature with their token and checking against the signature in the request sent.

[2022-09-12 14:43] alshakero opened #67666 "Task: Focus of the accent color popover is a bit odd. Probably due to shadow. Remove outline entirely, it doesn’t help accessibility here."
### Details

To reproduce

1. Go to Newsletter flow.
2. Open DevTools.
3. Focus on the accent color input by tabbing or clicking to get the popover open.
4. Then in DevTools, find the element with "popover is-top-left" class. A quick search will do.
5. Then follow these two steps
6.
<img width="1918" alt="image" src="https://user-images.githubusercontent.com/17054134/189683626-29890a8c-9564-4be4-8

[2022-09-12 14:49] cpapazoglou commented on #67655
Let's try bundling this sync request together with the webhook URL field.

[2022-09-12 14:49] Addison-Stavlo opened #67667 "LaunchPad - Enable a link to "Plans" page"
The LaunchPad's "Choose a Plan" step is always listed as complete. Lets allow this to be enabled as a link to the calypso plans page for now.

In the end we would want to enable this in an encapsulated stepper flow, but it may take some time until other teams refactor these  plans/domains/checkout signup steps into stepper first.

[2022-09-12 14:51] alshakero opened #67668 "Task: Tailored flows: clicking the avatar should re-open the cropping tool, not re-uploading because we have a replace button anyway."
### Details

See this for more details: pdtkmj-pL-p2#comment-809:~:text=On%20the%20Personalize,the%20file%20picker

### Checklist

_No response_

### Related

_No response_

[2022-09-12 15:01] ivan-ottinger opened #67669 "Paragraph block (P2): "Underline" feature isn’t showing the right icon in the toolbar"
It looks like the "Underline" feature of the Paragraph block doesn't include the correct icon:

![Image](https://user-images.githubusercontent.com/25105483/189690209-d84932f6-908a-4654-ba24-65094482b1ea.png)

The issue seems to be happening in the **comment section of P2 sites only**. When editing a post, the toolbar icon is correct:

![Image](https://user-images.githubusercontent.com/25105483/189

[2022-09-12 15:03] robfelty commented on #64891
So you want to add it as a PHP-serialized array? (or json blob)? I suppose that could work. It may not work on the indexing side though, depending on how the fields are defined there, since we don't allow introduction of dynamic fields in general, but there are some specific templates which allow some dynamic fields, like taxonomy, and `has.*`

[2022-09-12 15:06] cpapazoglou commented on #64891
That's correct. These are not fields that would be used for search that's why I proposed it, jetpack index can skip them we just need them synced in the shadow site.

[2022-09-12 15:17] robfelty commented on #64891
okay - then putting them all into one field sounds like a good idea to me.

[2022-09-12 15:18] zaguiini commented on #67043
Also question @danielbachhuber, why didn't we use the `recentSites` preference instead of creating a whole new mechanism to expose the sites that the user last interacted with?

[2022-09-12 15:25] gibrown commented on #64891
FWIW, I think freely adding these fields is fine. The main goal is to not end up with more than 100k fields. It would be good if these fields were a bit more generic, but I don't think we should worry too much about them. As long as we don't auto add every field (like we used to) then I doubt we will run into a problem.

[2022-09-12 15:27] #66445 closed, assigned to JuanLucha

[2022-09-12 15:29] ivan-ottinger commented on #67597
D87552-code is now deployed.

[2022-09-12 15:29] #67597 closed, assigned to ivan-ottinger

[2022-09-12 15:38] #67566 closed, assigned to phcp

[2022-09-12 16:02] worldomonation opened #67673 "Update Playwright version in document to 1.23."
### Details

The [README.md](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/README.md) under `test/e2e` still specifies Playwright 1.22, but we are in fact on Playwright 1.23.

### Checklist

_No response_

### Related

_No response_

[2022-09-12 16:07] danielbachhuber commented on #67043
@zaguiini Great question! A couple of answers:

1. The primary reason is that our new abstraction will support both recency _and_ frequency. The theory is that combining both of these will allow us to produce a better relevancy algorithm.
2. The secondary reason is that server-side events are a better source of truth for interactions. Plus, we have some opportunity to re-evaluate which events are

[2022-09-12 16:09] worldomonation commented on #67350
After the fix at #67514, the failure graph is as follows:

![image](https://user-images.githubusercontent.com/6549265/189702900-c9b53d29-8059-4467-bed3-67a76ba079e5.png)

The chart here starts at September 6 13:36 UTC, which is around the time when the "fix" was merged. Looks like the failure rate has decreased slightly (by about 1%), but not enough to make a difference.

[2022-09-12 16:10] alshakero opened #67677 "Task: Tailored flows - remove green ticks from all fiends except email inputs"
### Details

We got feedback from designers that the green ticks proved too noisy. Let's gid rid of them for non-email inputs.

### Checklist

_No response_

### Related

_No response_

[2022-09-12 16:16] alshakero opened #67678 "Task: Newsletter flow - investigate deleting the first Hello World post in NL flow"
### Details

It has the potential to create issues. If deleting it doesn't prove problematic, we can delete it in [this file](https://github.com/Automattic/wp-calypso/blob/update/show-help-center-to-30p/packages/onboarding/src/setup-tailored-site-after-creation.ts#L47). The call would be very similiar to `setPattern` call.

### Checklist

_No response_

### Related

_No response_

[2022-09-12 16:40] danielbachhuber commented on #67497
@vykes-mac Interesting!

Seems a bit hacky 😁 I'm a little afraid of unexpected negative side effects of this approach.

It'd be great to clearly identify the root cause of the difference between "Manage sites" and "Add new site", and then solve the problem within those confines too.

No rush to solving the issue, so feel free to explore further as you have time.

[2022-09-12 16:42] alshakero opened #67679 "Task: Link in bio - Investigate using Swiperjs (or any good lib) for pattern picker"
### Details

The pattern picker is still laggy unsmooth on some devices :(

Consider using https://swiperjs.com/react or https://iscrolljs.com/ or any library that does it well.

### Checklist

_No response_

### Related

_No response_

[2022-09-12 16:43] mreishus opened #67680 "thriving-artist: Prepare for soft-launch"
## Goal

Get the `thriving-artist` theme ready for softlaunch

## Reference Instructions

PNEWy-eBM-p2
paYKcK-1Pt-p2

## Our checklist

- [x] Create the headstart annotations
  - D87574-code
  - D87584-code
  - I have not requested for it to be traslated yet.
- [x] Create the GlotPress project
  - D87586-code
- [x] Add to soft-launch
- [x] Build the zip
  - Job 76667213833 : Job failed: "The Git c

[2022-09-12 16:59] JuanLucha opened #67683 "[Invite Follower] Implement new design for desktop and mobile"
# What's needed
When the blog owner uses the "invite" functionality to invite a new follower, an email is sent to the invited person. We need to update the look and feel of that invitation email according to this new design: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A22501

The implementation details of the old version of this email can be found here: PdDOJh-In-p2.

[2022-09-12 17:00] JuanLucha opened #67684 "[Invite Role] Implement new design for desktop and mobile"
# What's needed
When the blog owner uses the "invite" functionality to invite a new contributor, an email is sent to the invited person. We need to update the look and feel of that invitation email according to this new design: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A22786

The implementation details of the old version of this email can be found here: PdDOJh-Is-p2

[2022-09-12 17:02] JuanLucha opened #67685 "[Invite Confirmation - invited person] Implement new design for desktop and mobile"
# What's needed
When the invited person accepts the invitation presented in the Invitation email, they will receive a confirmation of their own acceptance. We need to update the look and feel of this confirmation email according to this new design: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A23071

The implementation details of the old version of this email can be found here: PdDOJh-Iw-p2

[2022-09-12 17:04] JuanLucha opened #67686 "[Invite Confirmation - blog owner] Implement new design for desktop and mobile"
# What's needed
When the invited person accepts the invitation presented in the Invitation email, they will receive a confirmation of their own acceptance. We need to update the look and feel of this confirmation email according to this new design: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A23236

The implementation details of the old version of this email can be found here: PdDOJh-IB-p2

[2022-09-12 17:10] sejas commented on #67646
- Would be `Connect a Jetpack site` a better sentence?

- Should we add a "back to sites" button  when we navigate to the Jetpack page from the SMP, similar to the Add new site page?

**Current Jetpack Flow**
<img width="1228" alt="Screenshot 2022-09-12 at 15 01 44" src="https://user-images.githubusercontent.com/779993/189673882-aa334ba8-0f1d-4dea-908d-912149b8caad.png">

**Current Add new site Fl

[2022-09-12 17:48] JulianBustamante commented on #65683
Deployed r252373-wpcom

[2022-09-12 18:33] worldomonation commented on #67518
Closed in https://github.com/Automattic/wp-calypso/pull/67520.

[2022-09-12 18:33] #67518 closed, assigned to nobody

[2022-09-12 18:44] JulianBustamante commented on #65898
Deployed final step 3: r252376-wpcom

[2022-09-12 20:02] allilevine opened #67693 "Marketplace: Direct nudge clicks to new Plans page"
Upgrade nudges in the Marketplace should link to the new Plans page: https://github.com/Automattic/wp-calypso/issues/67574

From the Plans page they should go directly to checkout.

Acceptance criteria:
- [x] The upgrade nudges  on /plugins link to the new Plans page we've created.
- [x] Choosing a plan on the Plans page takes the user to checkout (no domain eligibility since we're not installing

[2022-09-12 20:10] carinapilar opened #67694 "Gutenberg: Double Click after using Block Inserter"
### What

After adding a block to the editor, remove the need of double-clicking to access the block's settings.

### Why

You have to click twice to access the block's settings after adding to the editor through the block inserter, the layout also moves on your first click.

### How

To replicate:

1. Click on the + icon from the Block Inserter on the top left
2. Click on a block to add it - you

[2022-09-12 20:11] allilevine opened #67695 "Marketplace: Iterate on domain eligibility warning"
Update the domain eligibility warning we show to users before purchasing/installing a plugin on a Simple site, with the new modal here: pdh6GB-26h-p2 All links need to be trackable.

![Image](https://user-images.githubusercontent.com/1689238/189746563-3d797a2f-161d-45c2-9050-628c17764a35.png)

Acceptance criteria:
- [x] Screenshots for all possible warnings have been shared with Design. See paObgF

[2022-09-12 20:43] vindl commented on #67646
@sejas, I'd say yes on both accounts. Maybe we should move these decisions and discussions to the PR so that the folks don't miss them.

[2022-09-12 20:44] SaxonF commented on #67043
We can use same dropdown as status filter and label could be "Sort by: Name" instead of "alphabetically"

[2022-09-12 20:45] sejas commented on #67646
I've copied my questions into the PR 👌

[2022-09-12 21:40] danielbachhuber commented on #67043
Saxon and I chatted briefly about the dropdown design in Slack: p1663015307662189-slack-C041RHH38NQ

Eventually, we decided to keep the current implementation as-is, but may update the design in a future GitHub issue.

[2022-09-12 21:54] worldomonation commented on #67673
Closed with #67696.

[2022-09-12 21:54] #67673 closed, assigned to john-legg

[2022-09-12 23:24] onuro opened #67703 "Premium Theme: Varese"
### Details

The Varese premium theme needs the following:

### Checklist

- [x] [Theme Demo site](https://varesedemo.wordpress.com/) set up
- [x] Theme showcase page draft.
- [x] [Headstart annotations (guide: paYKcK-1Pt-p2)] (Strand id: `139259`)
- [x] [GlotPress project (guide: paYKcK-1Pt-p2)]
- [x] [Launch process (launch guide: PNEWy-eBM-p2)]

### Related

_No response_

[2022-09-13 00:06] fullofcaffeine commented on #67428
It looks like this is the cause: https://github.com/WordPress/gutenberg/pull/43022.

[2022-09-13 00:16] cuemarie opened #67705 "[Calypso] - Confirmation page for the removal of non-plan products is vague and confusing"
### What

When trying to remove a non-plan subscription, there's a confirmation page that's quite vague, and confusing for some users. The page doesn't include any details about what's actually being cancelled, which can lead to concern about what is actually being removed.

### To Replicate

1. Open a site with non-plan subscriptions attached.
2. Disable auto-renew on the purchase(s)
3. Open the

[2022-09-13 01:03] vykes-mac commented on #67497
@danielbachhuber I agree it looks hacky. On further investigation It seems the issue lies in the `client/signup/controller.js: L288` `context.store.dispatch( setSelectedSiteId( null ) );`, This clears the siteId and cause the page to re-render with an empty page component since site info was cleared.

Because onboarding flow consist of a series of steps the component for each step is loaded async

[2022-09-13 01:48] autumnfjeld commented on #67631
I might phrase it as "Show the blank canvas CTA (Call to Action)" on mobile, and the behavior is the same as selecting any other designs.  But that is just minor wording.

[2022-09-13 02:13] SaxonF commented on #67631
Design should scale down on mobile and remain single column. We can adjust text on mobile as we'll be pushing people into the editor initially.

![image](https://user-images.githubusercontent.com/1072756/189792181-e738e8d7-ffc1-4ece-bd50-f3ef3490a139.png)

[2022-09-13 02:23] fushar commented on #66456
I'll consider this spike ticket as closed!

[2022-09-13 02:23] #66456 closed, assigned to fushar

[2022-09-13 02:29] fushar commented on #66842
Backend endpoint modification was done here by team Apex: D86760-code

[2022-09-13 02:29] fushar commented on #66842
All done, closing.

[2022-09-13 02:29] #66842 closed, assigned to fushar

[2022-09-13 02:45] fushar commented on #66741
We decided to keep the device switcher at top-center of the page.

[2022-09-13 02:46] fushar commented on #66741
Closing this issue as all tasks are done!

[2022-09-13 02:46] #66741 closed, assigned to taipeicoder

[2022-09-13 02:50] inaikem commented on #67531
@ariel-maidana 👋 I've manually replied to the affected user above. In the future, please be sure to create a follow-up for us to track as described at the link below, thanks!

p7DVsv-eZ1-p2

[2022-09-13 03:00] donalirl opened #67708 "Page Layouts Preview Error on Zoologist Theme"
### Quick summary

Page layouts show the following error instead of the layout preview image: `{﻿"error":"no-site","message":"No demo site found."}`.

### Steps to reproduce

1. Activate the Zoologist theme.
2. Go to Pages → Add New to trigger Page Layouts window.

### What you expected to happen

I expected to see previews of all the layouts.

### What actually happened

The previews appear to be

[2022-09-13 03:09] inaikem commented on #67708
Further context:

- p1663032920668219-slack-C0160HSMDQV
- p1662956039686129-slack-CRWCHQGUB

Marking as triaged.

[2022-09-13 03:17] devNigel opened #67709 "Payments: Misleading text "Pay once & create a WordPress.com account""
### Quick summary

The [Payments feature on WordPress.com](https://wordpress.com/support/wordpress-editor/blocks/payments/#) requires users to have a WordPress.com account. The Stripe payment form shows the text "Pay once & create a WordPress.com account".

This is misleading to both WordPress.com site owners and their customers. It looks as if they have to make a payment to create a WordPress.com

[2022-09-13 03:27] miksansegundo commented on #66789
@autumnfjeld I don't have access to passembler.wordpress.com, do you? I'm following the thread, and I think we are still waiting for our themers to share with us a harmonious subset of patterns for the MVP.

[2022-09-13 04:33] autumnfjeld commented on #67708
Possibly related:
the demo link on in the theme showcase is pointing to the wrong demo site https://wordpress.com/theme/zoologist/fieldguide.automattic.com .  I've asked if someone from theme team look into this. p1663043532684419/1662957106.832429-slack-C029FM1EH

[2022-09-13 05:32] lsl opened #67711 "Marketplace: Unlocalize logged in only plugins routes"
https://github.com/Automattic/wp-calypso/pull/66169/files?w=1#r969167302

- [ ] Remove langParam from logged in only marketplace routes

[2022-09-13 05:58] SaxonF commented on #66656
@vindl as a first step could we remove the gradient and just apply opacity to the entire section plus disable pointer events? `pointer-events: none;`

![Image](https://user-images.githubusercontent.com/1072756/189820995-33bd1a78-ee8c-4f95-babd-b59c14378e1b.png)

[2022-09-13 06:07] lsl opened #67712 "Marketplace: Don't hide installed plugins on category / discover pages"
When I install a plugin and then go back to the marketplace I should see that my plugin was installed, I shouldn't see that the plugin disappeared.

- [ ] Don't hide installed plugins from category browse pages
- [ ] ~Don't hide installed plugins from discover page sections~ [not required](https://github.com/Automattic/wp-calypso/issues/67712#issuecomment-1266533963)

I think we did this to not "u

[2022-09-13 06:53] taipeicoder commented on #66796
@autumnfjeld data seems consistent now, however I'm still seeing `has_verticalizable_images` which, according to the data team, should no longer be there since it's been more than 14 days since that prop was last tracked 🤔

[2022-09-13 07:26] arthur791004 opened #67713 "Pattern Assembler: Show "Start with a blank canvas" CTA only for write and build flow"
#### Description

pbxlJb-2ki-p2 mentioned, “As a user in the build or write onboarding flows, when I reach the Design Picker step, I will see a CTA to select the blank canvas option.” So, the “Start with a blank canvas” CTA should only show for the write and build flow

#### Acceptance Criteria
- [x] The “Start with a blank canvas” CTA should only show for the build ~and write~ flow. (see convo p1

[2022-09-13 07:27] gavande1 commented on #67547
WIP Diff created: D87610-code

[2022-09-13 07:30] arthur791004 commented on #67708
According to p1663047029438769/1662956039.686129-slack-CRWCHQGUB, we have fixed the issue for the English users. For non-English users, we need to wait for the mShots cache to expire

[2022-09-13 07:31] arthur791004 commented on #67708
According to p1663047029438769/1662956039.686129-slack-CRWCHQGUB, we have fixed the issue for the English users. For non-English users, we need to wait for the mShots cache to expire

[2022-09-13 07:38] mpkelly commented on #67641
After investigating further, there are two issues. The themes without problem are those that use a single font. If you check the `theme.json` for, say, Disco, you will see the `h1` and other headings defined like this:
[code]
No `fontFamily` is specified, so the heading inherits the font from the body and updates correctly as you change the Typography settings.

The two issues I've found are:

1.

[2022-09-13 07:44] lsl commented on #67615
Could be related to [these things](https://github.com/Automattic/wp-calypso/blob/186c7a8aaebfe0aac8d02990cdf67f6c90c87c4c/client/components/section/index.tsx#L27-L30). Might be best to redesign the page layout into something simpler. I think we're working around a mismatch between design wanted and calypso base page layout components.

[2022-09-13 08:16] BogdanUngureanu opened #67714 "Marketplace: Integrate the Vendor API with WPJM.com back-end"
### Details

In order to provision and manage a license, we'll need to create an integration with WPJM.com back-end that manages the licenses.

The Marketplace back-end will be the leading one, meaning that we don't support actions performed on the WPJM.com side.

The integration is composed of a new API endpoint located in wpjobmanager.com API.

The new API endpoint will need to support the follo

[2022-09-13 08:32] ivan-ottinger commented on #67565
D87580-code is now deployed.

[2022-09-13 08:32] #67565 closed, assigned to phcp

[2022-09-13 08:43] BogdanUngureanu opened #67715 "Marketplace: Add new `provision_license` webhook"
### Details

In order to automatically configure a license on the vendor's backend, we should introduce a new webhook command called `provision_license` that would be triggered after the software installation is finished.

This new command will make a request on the vendor side to obtain a new license key for a newly created purchase. The vendor would then need to respond with a valid license info

[2022-09-13 09:13] arthur791004 commented on #67630
Close it via https://github.com/Automattic/wp-calypso/pull/67638

[2022-09-13 09:13] #67630 closed, assigned to arthur791004

[2022-09-13 09:19] sejas commented on #67534
I've updated the title and a bit of the description to make reduce the scope of this issue removing the jetpack connect button and focusing on the `Import` flow.

- Marko has created this new issue:  https://github.com/Automattic/wp-calypso/issues/67646
- There is a PR in progress with the split button and the jetpack connect link: https://github.com/Automattic/wp-calypso/pull/67662

[2022-09-13 09:32] JuanLucha opened #67720 "[Invite Follower] Add tracking parameters to old template"
We need to add the `data-tracks-link-desc` attribute to all the links in this email old template. The values of those link descriptions are as follows:

![Image](https://user-images.githubusercontent.com/3832570/189866207-b1e8ada2-3baf-4fcd-a4a7-7cb958bccdd5.png)

You can find more information about this email here: PdDOJh-In-p2, including its template: `wp-content/mu-plugins/email-subscriptions/t

[2022-09-13 09:36] arthur791004 commented on #67631
@autumnfjeld @SaxonF What's the position of the blank canvas CTA on mobile?

[2022-09-13 09:40] escapemanuele opened #67721 "Translations"
When new translations are ready, clean-up fallbacks used in these PRs:

-  [x] https://github.com/Automattic/wp-calypso/pull/67718
- [x] https://github.com/Automattic/wp-calypso/pull/70400
- [x] https://github.com/Automattic/wp-calypso/pull/70499
- [x] https://github.com/Automattic/wp-calypso/pull/74826

[2022-09-13 10:01] #67441 closed, assigned to escapemanuele

[2022-09-13 10:02] ivan-ottinger opened #67725 "[All] Update footer font style"
Set font size to 14px at 150% (or 21px) line-height as seen on updated Figma: c5bt2O2vWhTlhSREC89Bw2-fi-3690%3A16676.

Context: p1663061857007299/1663053451.007569-slack-CRNF6A9DX

[2022-09-13 10:05] ivan-ottinger opened #67726 "[All] Set header site name to Gray-100 (or `#101517`)"
Header Site name should be set to Gray-100 (or `#101517`).

Context: p1663061857007299/1663053451.007569-slack-CRNF6A9DX

[2022-09-13 10:16] mxhassani opened #67727 "Blockbase child themes: Links missing the underlining in live view"
### Quick summary

The underlining of links is showing in front end, but not in editor.
Theme: Zoologist and Geologist

This may be related to a previous fix (the opposite was happening, underlines appearing in backend but not front end):
Report: 6085-gh-Automattic/themes
Fix: 6382-gh-Automattic/themes

### Steps to reproduce

1.  Set theme to Zoologist
2.  To a page add text in a paragraph block.

[2022-09-13 10:25] epeicher commented on #67644
The following filter has been tested:
[code]
which returns results that either:
- have the **exact** value in `plugin.author`: `term: { 'plugin.author.raw': author }`
- have the **fuzzy** value in `plugin.author`: `match: { 'plugin.author': author }`

That works fine for **single-word** terms like `Automattic` as it now returns values for `Jetpack CRM` or `Jetpack Boost` **but** it will return too

[2022-09-13 11:02] #67659 closed, assigned to jeyip

[2022-09-13 11:05] JuanLucha opened #67730 "[Invite Role] Add tracking parameters to old template"
We need to add the data-tracks-link-desc attribute to all the links in this email old template. The values of those link descriptions are as follows:

![Image](https://user-images.githubusercontent.com/3832570/189885436-82603cb2-87b2-4313-9d3d-ec87a3e8bcd7.png)

You can find more information about this email here: PdDOJh-Is-p2, including its template: `wp-content/mu-plugins/email-subscriptions/tem

[2022-09-13 11:09] JuanLucha opened #67731 "[Invite Confirmation - invited person] Add tracking parameters to old template"
We need to add the data-tracks-link-desc attribute to all the links in this email old template. The values of those link descriptions are as follows:

![Image](https://user-images.githubusercontent.com/3832570/189886134-a0617d11-e54e-43b8-8085-c40150931863.png)

You can find more information about this email here: PdDOJh-Iw-p2, including its template: `wp-content/mu-plugins/email-subscriptions/tem

[2022-09-13 11:13] escapemanuele opened #67732 "Link in Bio page title wrongly translated"
When in the link in bio flow, I see the page title truncated when not in English (I tried in Italian)

![image](https://user-images.githubusercontent.com/52076348/189886732-ab428ac7-36d4-44dd-8dd0-8157868761e8.png)

[2022-09-13 11:15] epeicher commented on #67644
Before considering alternatives, I am going to double check if _fuzzy_ search is a good option to filter by author. Convo started here p1663066088719179-slack-C02JPCHEKDY

[2022-09-13 11:17] JuanLucha opened #67733 "[Invite Confirmation - blog owner] Add tracking parameters to old template"
We need to add the data-tracks-link-desc attribute to all the links in this email old template. The values of those link descriptions are as follows:

![Image](https://user-images.githubusercontent.com/3832570/189887565-ecde0116-6787-4b37-91bc-b9f707968db5.png)

You can find more information about this email [here](PdDOJh-IB-p2), including its template: `wp-content/mu-plugins/email-subscriptions/t

[2022-09-13 12:16] #67451 closed, assigned to renancarvalho

[2022-09-13 12:45] #67666 closed, assigned to heavyweight

[2022-09-13 12:58] markbiek commented on #66286
@Automattic/serenity I've confirmed that this _is_ still happening. Testing on both WordPress.com and running Calypso locally with the latest `trunk`.

[2022-09-13 12:59] wojtekn commented on #67647
It looks like it duplicates https://github.com/Automattic/wp-calypso/issues/67534. I've ensured that requirements are compiled into the other ticket, and I've closed this one.

[2022-09-13 12:59] #67647 closed, assigned to wojtekn

[2022-09-13 12:59] #67612 closed, assigned to danielbachhuber

[2022-09-13 13:00] markbiek commented on #66008
@Automattic/serenity I've confirmed that this _is_ still happening. Testing on both WordPress.com and running Calypso locally with the latest `trunk`.

[2022-09-13 13:00] phcp commented on #67725
The footer font size is currently 16px, so I guess it should be set to 14px as it is in the updated Figma.

![Image](https://user-images.githubusercontent.com/3113712/189907566-225bcde9-9714-49ac-906f-7808f745fcd3.png)

[2022-09-13 13:02] ivan-ottinger commented on #67725
That's a good point. I think that was a typo and it should be 14px as you say. → I will fix this in the issue description,

Btw, the patch is almost ready for review. :)

[2022-09-13 13:28] ivan-ottinger commented on #67726
D87624-code is now ready for review.

[2022-09-13 13:28] ivan-ottinger commented on #67725
D87624-code is now ready for review.

[2022-09-13 13:29] danielbachhuber commented on #62078
Closing because we can't reproduce. Feel free to re-open with specific reproduction steps + screenshots if it comes up again.

[2022-09-13 13:29] #62078 closed, assigned to danielbachhuber, vykes-mac

[2022-09-13 13:30] epeicher commented on #67644
An important detail, if we decide to use the `match` operator for filtering, is that we should add it to the list of `$queries_allowed` in the backend as indicated here 2d8f3-pb

Otherwise, the following error will be returned when doing the query:
[code]

[2022-09-13 14:01] #67502 closed, assigned to gcsecsey

[2022-09-13 14:03] #67599 closed, assigned to renancarvalho

[2022-09-13 14:08] Nic-Sevic opened #67739 "[Bug]: FSE themes: wp-block-site-title style not loading on frontend when switch to theme"
### Quick summary

wp-block-site-title and possibly other styles are not getting loaded when switching to certain themes on WoA sites (at least pendant, tt2, and zoologist).

This behavior happens only when Gutenberg plugin is active and is tied to a change that happened between 13.4.0 and 13.5.0. It may be tied to this specific change? https://github.com/WordPress/gutenberg/pull/34180

Some hopef

[2022-09-13 14:22] JuanLucha opened #67741 "[Invite Follower] Add tracking parameters to new template"
**Note:** This task depends on [this one](https://github.com/Automattic/wp-calypso/issues/67683)

We need to add the data-tracks-link-desc attribute to all the links in this email new template. The values of those link descriptions are as follows:

![Image](https://user-images.githubusercontent.com/3832570/189926407-baf11aa5-cac2-4c59-83e6-2b2b48336e90.png)

You can find more information about thi

[2022-09-13 14:24] JuanLucha opened #67742 "[Invite Role] Add tracking parameters to new template"
**Note:** This task depends on [this one](https://github.com/Automattic/wp-calypso/issues/67684)

We need to add the data-tracks-link-desc attribute to all the links in this email new template. The values of those link descriptions are as follows:

![Image](https://user-images.githubusercontent.com/3832570/189926962-71314c2e-1e93-488d-bac6-d7e08471f065.png)

You can find more information about thi

[2022-09-13 14:25] JuanLucha opened #67743 "[Invite Confirmation - invited person] Add tracking parameters to new template"
**Note:** This task depends on [this one](https://github.com/Automattic/wp-calypso/issues/67685)

We need to add the data-tracks-link-desc attribute to all the links in this email new template. The values of those link descriptions are as follows:

![Image](https://user-images.githubusercontent.com/3832570/189927343-cb2e8f35-bb00-4078-a28e-038a8a152e35.png)

You can find more information about thi

[2022-09-13 14:26] JuanLucha opened #67744 "[Invite Confirmation - blog owner] Add tracking parameters to new template"
**Note:** This task depends on [this one](https://github.com/Automattic/wp-calypso/issues/67686)

We need to add the data-tracks-link-desc attribute to all the links in this email new template. The values of those link descriptions are as follows:

![Image](https://user-images.githubusercontent.com/3832570/189927597-bf086542-38e7-488b-af6f-4ab12da8811a.png)

You can find more information about thi

[2022-09-13 14:33] epeicher opened #67745 "Marketplace: Custom domain dialog button too wide"
The Custom domain dialog displays the plugin name in the Install button, for example `Install Yoast SEO` but for other plugins with long names, the button grows too wide, examples below:

|Correct for some plugins | Ugly for some other plugins|
|-------|------|
|<img width="467" alt="CleanShot 2022-09-13 at 16 42 27@2x" src="https://user-images.githubusercontent.com/3519124/189931578-d86a11be-bccc

[2022-09-13 14:39] renancarvalho commented on #67661
This was fixed by this #67600

[2022-09-13 14:39] #67661 closed, assigned to renancarvalho

[2022-09-13 15:19] ivan-ottinger commented on #67726
D87624-code is now merged and deployed.

[2022-09-13 15:19] #67726 closed, assigned to ivan-ottinger

[2022-09-13 15:20] ivan-ottinger commented on #67725
D87624-code is now merged and deployed.

[2022-09-13 15:20] #67725 closed, assigned to ivan-ottinger

[2022-09-13 15:31] JulianBustamante commented on #67655
PR created - 14399-gh-Automattic/woocommerce.com

[2022-09-13 15:40] danielbachhuber opened #67749 "Hosting Config: Only show clear cache reason modal every 24 hours"
When a user is allowed to clear cache on an Atomic site (p7DVsv-8uo-p2), they see a modal every time they click the button:

<img width="820" alt="image" src="https://user-images.githubusercontent.com/36432/189945478-e426efd7-0d7a-4f40-8d80-c7920015c2ec.png">

Some user feedback I received at WCUS 2022:

Let's only show the modal every 24 hours instead.

**Done is:**
* After the user has completed

[2022-09-13 15:52] vykes-mac opened #67750 "SMP: Site Icons flash briefly on page load before blur is applied"
When loading SMP thumbnails with a site icon shows a quick flash of the icon before blurring.

Steps to reproduce:

1. Go to `/sites`
2. Observe site icon image flicker when just load in the gridview

[2022-09-13 16:11] mreishus commented on #67680
Theme is successfully softlaunched

[2022-09-13 16:37] cuemarie commented on #17172
📌 FINDINGS/SCREENSHOTS/VIDEO
- Moving this forward as this is a long-standing feature request that's been going through the cycles of stale/close/reopened.

📌 ACTIONS
- Feature request kept/closed

[2022-09-13 16:42] Joshgrygiel commented on #67709
📌 ACTIONS
- Marked as Triaged for Quality Squad review

I can understand how the wording for the Payment could be misleading particularly for new WordPress.com users to think that they need to pay the fee just to create a WordPress.com account had they not done any previous research.

[2022-09-13 16:45] cuemarie commented on #67493
📌 SCRUBBING : RESULT
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated - gigantic arrows in the date picker under WooCommerce Analytics. The arrows do still work (advancing the calendar below forward or back a month)

*Example*
![Markup on 2022-09-13 at 09:42:06](https://user-images.githubusercontent.com/27249804/189959491-a655dcf8-e034-4ea1-af72-b09f9009a540.png)

📌 ACTION

[2022-09-13 16:49] zaguiini commented on #67043
You gave the explanation in the very next sentence:

😄

[2022-09-13 17:09] phcp opened #67757 "[All] Fix font-weight on email footer"
The current implementation has some of the footer texts wrapped with `strong` tag, for these ones the `font-weight` is inconsistent with the others that uses `span class="title"`. On both cases the `font-weight` should be 600, as it is on Figma.

![Image](https://user-images.githubusercontent.com/3113712/189976686-765ae99f-559b-473b-b44d-cdd1d50da8e8.png)

[2022-09-13 17:10] phcp opened #67758 "[All] Centralize WP logo on email footer"
Fix vertical alignment for the WordPress logo on all email templates footer.

![Image](https://user-images.githubusercontent.com/3113712/189976084-68a132dc-86a1-47df-8caf-4b38de2f21e8.png)

[2022-09-13 17:12] Joshgrygiel commented on #67499
📌 SCRUBBING
- Tested on both an iPhone 11 running iOS 16.0 and an iPhone X running iOS 15.4
- Replicable: No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Upon sharing a post to Facebook from the reader the app successfully shared the post to Facebook, and redirected back to the Reader tab as normal.

📌 ACTIONS
- Closed as could not replicate (please reopen the issue reoccurs)

📌 Message to Author
- Hey @mriyaz

[2022-09-13 17:12] #67499 closed, assigned to nobody

[2022-09-13 17:23] #67183 closed, assigned to danielbachhuber

[2022-09-13 17:27] Joshgrygiel commented on #67623
📌 SCRUBBING
- Tested on P2  ❌
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - ❌

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to confirm on Russel, Marl and Appleton on only AT and Simple sites (Not replicable on Self Hosted) The "None" and "Wide Width" options do not affect the featured image at all, and the "Full Width" options removes the side margins of it t

[2022-09-13 17:34] cuemarie commented on #66653
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- it took a while to get this to show up - but finally was able to replicate. It seems the height changes depending on the contents of the row - rows with videos or reels show up taller, while rows with only photos in them (or possibly with videos but not reels) are shorter.
- In re

[2022-09-13 17:40] Joshgrygiel commented on #67624
📌 SCRUBBING
- Tested on P2 ❌
- Tested on Simple ❌
- Tested on AT ✅
- Tested on Self-hosted - ❌

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the symlinked plugins added through the Marketplace can not be simply added back to the site by the user, even if the purchase is still active.

The suggested command to add the symlinked plugin back does indeed work:

`$ wp --skip-plugins --skip-themes plugi

[2022-09-13 17:44] Joshgrygiel commented on #67622
📌 FINDINGS/SCREENSHOTS/VIDEO
- Feature request kept as this feature does seem relevant to the progression of VaultPress and to videos on WP in general

[2022-09-13 17:45] michaeldcain commented on #67582
From planning:

We'd want to be careful about redirecting a user away from the Checkout screen - especially given that there are post-Checkout nudges to claim your domain after you have a plan. We could look into different upsells that maybe keep the user on the Checkout page (either an inline domain search or a pre-searched suggested domain).

[2022-09-13 17:45] cuemarie commented on #67494
📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to find some discussion on the `WPMEM` descriptor here: p1619212167386000-slack-C02BEP610

- But this does understandably lead to some confusion for the subscribers of a site. Leaving feature request open for consideration. If no change can be made here, perhaps adding this to our guide docs might help at least?

📌 ACTIONS
- Feature request kept/closed

[2022-09-13 17:48] cuemarie commented on #67619
📌 FINDINGS/SCREENSHOTS/VIDEO
- Thanks for sharing, Gustavo! Makes sense to me to consider adding that right into the Appearance Menu; comparable to how other pagebuilder plugins lay out their navigation links.

📌 ACTIONS
- Feature request kept

[2022-09-13 17:50] Joshgrygiel commented on #67705
📌 Triage:
- Feature request kept- I can confirm the cancellation flow for non-plan purchases is extremely vague and for the reasons pointed out in the report I think it would be beneficial to clearly dictate to the users during their cancellation what exactly they are attempting to remove. This would offer peace of mind for the user as they could then confidently manage their subscriptions .

[2022-09-13 17:58] Joshgrygiel commented on #65638
📌 Message to Author
@theRAGEhero I'm closing this report out for now, however please feel free to reopen at any time!

[2022-09-13 17:58] #65638 closed, assigned to nobody

[2022-09-13 17:58] michaeldcain commented on #67618
From planning:

I think the hardest part will be settling on the pattern for subdomain "closeness". At one point we looked into the multiple-site creation issue on Onboarding with a data request for similar subdomains. It might be a good idea to start there to see if we can identify the best patterns.

To gauge impact it would be good to look at Happiness chat quantity for duplicate sites and purc

[2022-09-13 18:04] cuemarie commented on #65344
📌 FINDINGS/SCREENSHOTS/VIDEO
- Thanks for the update @daria2303 . I'm still not able to replicate this issue based on the steps above.
- Your test site https://polarismeetuptheme.wpcomstaging.com/ looks like it's showing the same symptoms identified in https://github.com/Automattic/themes/issues/6066 , which based on the comments is impacting more than just the themes in the title.

Does this test

[2022-09-13 18:05] #66076 closed, assigned to jgcaruso

[2022-09-13 18:06] cuemarie commented on #66699
📌 ACTIONS
- Closing report due to stale conversation. Feel free to reopen and share any thoughts to the inquiry above. Thanks!

[2022-09-13 18:07] #66699 closed, assigned to nobody

[2022-09-13 18:09] cuemarie commented on #64438
Thanks for weighing in on this @annezazu and @jordesign ! Based on the advice above, I'm marking this as triaged to keep open and on our radar for now. Thanks!

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-09-13 18:11] Joshgrygiel commented on #63421
📌 ACTIONS
Based on the conversation above, issue may be related to https://github.com/WordPress/gutenberg/issues/41003 and has gone a bit stale. Trying to reliably reproduce this on my end has been unsuccessful as well.

@JoshuaGoode @Nic-Sevic if you are able to reproduce this at all please feel free to re-open this report 👍

[2022-09-13 18:11] #63421 closed, assigned to nobody

[2022-09-13 18:22] Joshgrygiel commented on #39474
TRIAGE:

Closing this issue out as it has been stale for quite a while now, and the Embed Preview now does show accepted embedded link previews.

[2022-09-13 18:22] #39474 closed

[2022-09-13 18:53] #67680 closed, assigned to nobody

[2022-09-13 18:56] #67654 closed, assigned to mashikag

[2022-09-13 19:41] ariel-maidana commented on #67531
Thank you @inaikem! I'll take it into account in the future.

[2022-09-13 20:51] zaguiini commented on #67581
This can be done in several ways:

### Virtualizing

Use something like https://github.com/bvaughn/react-window https://virtuoso.dev to only render the items that fit in a specified height, essentially using a recycled list view (mobile developers are used to this concept).

The benefit is that it simplifies the implementation a bit as we don't need to slice the array and implement pagination at a

[2022-09-13 20:54] #67430 closed, assigned to sharpirate

[2022-09-13 21:02] danielbachhuber commented on #67581
Give these options, maybe the easiest way is a simple "Previous | Next" pagination at the bottom of the list?

[2022-09-13 21:05] #67667 closed, assigned to sharpirate

[2022-09-13 21:10] JessBoctor commented on #67618
Diving into the Happy Chat tags, here are some numbers about how often this issue comes up:

| TAG | DESCRIPTION | PAST 7D | PAST 30D | TOTAL |
| -- | -- | -- | -- | -- |
| duplicate_site (deprecated tag) | User has a problem due to having duplicate sites |  0 | 0 | 1729 |  
| site_duplicate | user has a problem due to having duplicate sites | 1 | 3 | 323 |  

It appears this has been marked as an

[2022-09-13 21:34] vindl commented on #66656
@SaxonF Yes, that seems like a quick win.

[2022-09-13 22:15] mreishus opened #67768 "Unified Design Picker: Themes with Atomic Demo Sites fail to preview if sandboxed"
* Have public-api sandboxed
* Visit `/start` on the wpcalypso environment
* Get to the design picker
* Choose thriving artist (This theme has an atomic demo site)
* When the preview loads, your browser is staring at an error

**Before loading**
![2022-09-13_16-55](https://user-images.githubusercontent.com/937354/190018913-345c1c66-f070-49e3-9bdf-2944c6419cff.png)

**After loading**
![2022-09-13_16

[2022-09-13 23:05] autumnfjeld commented on #67631
@arthur791004  You mean list 1st in the list or 2nd in the list?   Should we follow the screenshot above?  Similar to desktop, it doesn't show 1st?

[2022-09-13 23:59] #67658 closed, assigned to jeyip

[2022-09-14 00:11] cuemarie opened #67774 "[Classic Themes] - Add a secondary featured image option for the single post page to display"
### What

Add an ability to set a secondary featured image that could be used in place of the featured image on the single post page.

### Why

A user cannot edit the way that their classic theme displays featured images without resorting to CSS, so they can get stuck between choosing the best image for their single post page, or the best image for their blog page.

User feedback from 36913007-hc

[2022-09-14 01:13] lsl opened #67775 "Marketplace: Refactor marketplace catalog"
Not sure if this is worth doing at the moment depends if this class is going to stick around or not.

Expand on D87621-code and D87613-code to refactor marketplace catalog into a singleton pattern and lazy load the network requests.

Context: p1663053733138519-slack-C4E0DVDB2

- [ ] Marketplace catalog wraps a singleton
- [ ] Move cached ~network~ db requests out of the constructor
- [ ] Split up

[2022-09-14 01:18] lsl commented on #67775
Might be able to carry out most of this as part of 14333-gh-Automattic/woocommerce.com. End game we want all of this product data being fetched from elastic search but we might still need the catalog around for the existing usages which seems to have expanded beyond what we expected originally.

[2022-09-14 02:33] arthur791004 commented on #67631
Yes, I just want to confirm whether the position is the same as desktop or not

[2022-09-14 02:49] miksansegundo commented on #66789
Just noting here that the patterns used in the layouts in passembler.wordpress.com that are coming from `patternboilerplates` will be moved to `dotcompatterns` by the designers because in the PA we want to use only patterns from `dotcompatterns`.

At the moment, the PA doesn't support patterns from other source sites. We could add support with some minor adjustments in the UI.

[2022-09-14 03:16] SaxonF opened #67777 "Experiment with marketing bar copy and styles"
### Details

Let's experimenting with the marketing bar copy and styles in an attempt to increase the traffic it brings to WordPress.com.

A few options to begin with:

![image](https://user-images.githubusercontent.com/1072756/190051499-a3a712fb-b7b6-4ba2-a2c4-ab7f7f41ea2f.png)

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-09-14 03:36] roo2 commented on #56779
I've been investigating this from a sperate report p1662606196916629-slack-C03NLNTPZ2T, I think I'm pretty close to coming up with a fix and it would be better if we can not make the users posts visible before they launched the site!

[2022-09-14 04:01] SaxonF opened #67779 "Marketing bar should be visible to site owners"
### Details

When viewing my site in the editor or the front-end, I should be able to see the marketing bar that my visitors see, so that my launched site expectations are closer to reality, and can remove it if wanted.

https://user-images.githubusercontent.com/1072756/190056539-70ae0d46-1203-4169-8a6e-5839becf5e6c.mp4

https://user-images.githubusercontent.com/1072756/190056546-35354682-4d5d-4f7

[2022-09-14 04:16] miksansegundo opened #67780 "Pattern Assembler - Page template for headstarting the site"
We must use a page template when headstaring the site with the patterns chosen in the PA. There are some issues and limitations when using the page templates available:

- `Blank` doesn't include the header or footer, so it can be used for content only. No header or footer will be shown in the site editor, which is confusing because we show the default footer (Simple Centered Footer) in the PA pre

[2022-09-14 05:28] autumnfjeld commented on #67780
![image](https://user-images.githubusercontent.com/5665959/190064373-953c9360-444e-4920-989b-3da304c5bd9f.png)
That is in conflict with the point above it.

[2022-09-14 05:36] roo2 commented on #56779
Ahh just to clarify, "coming soon" content is not available via search in reader, ( internally there is a "searchable" blog_info index that is only true if the site is blog_public=1 ) but "coming soon" content is available if you subscribe to the blog directly

[2022-09-14 05:48] autumnfjeld commented on #67780
@mtias flagging this with you in case you have strong opinions.  See Miguel's description above. :)

[2022-09-14 05:48] autumnfjeld commented on #67780
cc: @Automattic/ganon

[2022-09-14 07:07] SaxonF commented on #67648
<img width="350" alt="image" src="https://user-images.githubusercontent.com/1072756/190084922-e74b0196-15d2-4bee-ae39-7ffeb752b5e4.png">

**Site management**
Access and manage all your [WordPress.com](http://wordpress.com/) sites from the one location.

`<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 8C6 6.89543 6.89543 6 8 6H20C21.1046

[2022-09-14 07:09] miksansegundo opened #67783 "Pattern Assembler - Continue button fixes"
This is a follow-up issue because there are some fixes required:

- The PA should redirect to the site editor, there is a bug.
- The page template `blank` returns an error `Invalid parameter(s): page_template`. We will use `footer-only` instead when users select only sections because the default footer should be shown.

#### Testing Instructions

- Click on the Calypso Live (direct link) in the co

[2022-09-14 07:42] mriyazuddin commented on #67641
- [ ] 5510224-zen

[2022-09-14 07:44] roo2 commented on #56779
It looks like to fix this we will have to add a `coming_soon` index to elastic search, or update the search used by an individual blog's feed to only return "searchable" blogs. I'll leave this task for now.

[2022-09-14 07:46] daledupreez commented on #66791
I've just deployed the fix in D87300-code to WordPress.com, so this should be resolved once users get the new Javascript.

[2022-09-14 07:46] #66791 closed, assigned to nobody

[2022-09-14 07:49] aleone89 commented on #52182
There's another report here:

https://wordpress.com/forums/topic/trouble-cropping-images/?view=all
Theme Dara.

[2022-09-14 07:54] miksansegundo opened #67786 "Pattern Assembler - Blank canvas CTA replace image"
The new image is provided as an SVG.

![image](https://user-images.githubusercontent.com/1881481/190088953-f9b828ce-1776-4b59-a478-de3a47adab47.png)

[2022-09-14 08:00] burtek commented on #21133
I love how a security concern becomes _stale_ in 2022...

[2022-09-14 08:05] mtias commented on #67780
I do have a strong opinion! This flow is precisely about the user creating its own template, so we shouldn't be using any predefined one. We should be creating a new template specific to what the user wants to do and saving it as a customized template on their site.

[2022-09-14 08:39] fushar commented on #67137
Landed!

[2022-09-14 08:39] #67137 closed, assigned to fushar

[2022-09-14 09:14] epeicher commented on #67507
Diff created D87698-code

[2022-09-14 09:32] ivan-ottinger commented on #67758
We have deployed the D87656-code patch.

[2022-09-14 09:32] #67758 closed, assigned to phcp

[2022-09-14 09:32] ivan-ottinger commented on #67757
We have deployed the D87656-code patch that fixes the issue..

[2022-09-14 09:32] #67757 closed, assigned to phcp

[2022-09-14 09:33] ivan-ottinger opened #67795 "[All] Review and fix the "Great posts" section font-size and line-height on mobile"
It looks like the font-size and line-height of the "Great posts" section on mobile doesn't match the intended Figma design: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24079.

![Image](https://user-images.githubusercontent.com/25105483/190118701-d92fcfb1-3cc4-43ec-937a-8bfb2d5b2151.png)

[2022-09-14 09:42] simison commented on #56779
What's a blocker for doing just that?

[2022-09-14 10:07] #67603 closed, assigned to mashikag

[2022-09-14 10:15] roo2 commented on #56779
Not a blocker, just that I personally don't know how to do it! 😛 and realizing that this issue only affects blogs that have been subscribed to directly, and also that with the way public coming soon was implemented, we know that there are ways to get access to the content, I don't think it's as big a priority to fix right away

[2022-09-14 10:23] ivan-ottinger commented on #67604
Latest review: p1663150967757119/1661437403.433959-slack-C02TCEHP3HA.

[2022-09-14 11:00] ivan-ottinger opened #67804 "[New Comment] Fix "translators" comment in the "New Comment" email template"
More info: D87704-code.

[2022-09-14 11:01] ivan-ottinger commented on #67804
D87704-code patch is now ready for review.

[2022-09-14 11:16] #67646 closed, assigned to sejas

[2022-09-14 11:22] csabarakasz commented on #67493
The user came back again: 36903940-hc

This is the follow-up ticket

- [ ] 5542072-zd-woothemes

[2022-09-14 11:32] ivan-ottinger commented on #67605
Latest review: p1663155107245989-slack-C02TCEHP3HA.

[2022-09-14 11:43] sejas commented on #67534
@wojtekn the split button has been merged to production. Now you should be able to add a new "child" button: https://github.com/Automattic/wp-calypso/issues/67646

[2022-09-14 11:52] #67664 closed, assigned to renancarvalho

[2022-09-14 12:47] ariel-maidana commented on #65656
Another case here: 5556532-zd-woothemes
Please notify the user of any update.

[2022-09-14 12:54] lukaszwilczakwilnet commented on #65447
After discussion in team and team Vertex we decided not integrate modal with editor but link to "My Home" page with opened modal. Adding modal into post editor and in Help Center require too much effort (Help Center is in packages).
This approach simplify significantly solution and end user experience will be very similar.

[2022-09-14 12:57] #67449 closed, assigned to heavyweight

[2022-09-14 12:59] davemart-in commented on #66621
This issue has merged with #66650.

[2022-09-14 12:59] #66621 closed, assigned to eoigal

[2022-09-14 13:03] heavyweight opened #67810 "Tailored Flows: Description field has visible scrollbar"
Win10 and Firefox

<img width="1919" alt="Screenshot 2022-09-14 at 15 01 37" src="https://user-images.githubusercontent.com/7000684/190161468-37c66c7b-fec3-4311-ae3a-5c161368a921.png">

[2022-09-14 13:05] heavyweight opened #67811 "Domain Selection: hover state of the domain selection step looks cut off on the sides for non-featured domains"
<img width="1427" alt="Screenshot 2022-09-14 at 15 04 41" src="https://user-images.githubusercontent.com/7000684/190161834-f0b87c79-f78f-496f-9408-534507e22bcb.png">

https://user-images.githubusercontent.com/3392497/190159113-3836a635-c8a8-4693-828d-d57cca515d5f.mov

[2022-09-14 13:20] Gustavo-Hilario opened #67812 "Calypso: Add a button next to pro-rated credits notice on plans page to redirect users to our documentation"
### What

I think it would be helpful to have a button on the pro-rated credit notice on Calypso that redirects users to our support doc where they can read more about that:

https://wordpress.com/support/manage-purchases/#pro-rated-credits

### Why

I still keep getting chats only about pro-rated credits, and I think most HEs also have those interactions regularly. Maybe a button that redirects u

[2022-09-14 13:34] Addison-Stavlo opened #67814 "Newsletters flow - Ensure launch enables search engine indexing"
Currently the newsletter flow launches sites differently than other flows by launching during site creation.

However, when this was added we missed ensuring that we also turn off the "discourage search engines from indexing this site" setting.

We can observe this in the privacy settings of a created newsletter site:

![Screen Shot 2022-09-14 at 9 34 13 AM](https://user-images.githubusercontent.c

[2022-09-14 13:37] daledupreez commented on #67212
We've just deployed a small improvement in D87700-code, which removes styling for the comment submit button.

You can see the improvement for Cultivate here:

![Image](https://user-images.githubusercontent.com/3376401/190168934-aea48532-17b5-4913-af5c-2655c9022191.png)

Unfortunately, the change doesn't improve Baskerville 2 due to us using slightly different element names for the comment form. I

[2022-09-14 13:49] #67731 closed, assigned to JuanLucha

[2022-09-14 13:53] #67733 closed, assigned to JuanLucha

[2022-09-14 14:04] klimeryk commented on #67811
FYI, I've tested this in regular `/start` flow and it's present there, so it's not specifically linked to the Newsletter flow (where I originally spotted it in https://github.com/Automattic/wp-calypso/pull/67665#pullrequestreview-1107426117

[2022-09-14 14:09] brinbliss commented on #57812
Another with Firefox 104 and the Maxwell theme. Copying the draft into a new draft fixed it, for this user.

- [ ] 32647624-hc

[2022-09-14 14:28] jp-imagines commented on #66720
Another report in 36924675-hc. User was frustrated that their "new post" email came out with the `<strong> </strong>` tags in the post's title, and received multiple complaints from their readers about it.

[2022-09-14 14:30] iamtakashi commented on #67739
It looks like this is happening on the post title as well.

This is an example with Vivre. The post title is in red and has an underline. The left is an atomic site, and the right is a simple site.

![Screenshot 2022-09-14 at 15 28 00](https://user-images.githubusercontent.com/908665/190182921-37852b20-a2e9-4766-b36d-2150a6f6b357.jpg)

[2022-09-14 14:52] renancarvalho opened #67817 "Long site description breaks the launchpad preview"
### Details

If the site description is a long string, it breaks the Launchpad preview.

Happens for LiB and NL

<img width="1373" alt="image" src="https://user-images.githubusercontent.com/2653810/190188500-4f86a9a6-35ff-4729-a468-2dd5ef7e0a7e.png">

### Checklist

_No response_

### Related

_No response_

[2022-09-14 15:29] #67814 closed, assigned to escapemanuele

[2022-09-14 15:38] DustyReagan commented on #67693
I understand why we want to link the upgrade nudge to the new plans page, but for a future A/B test, it might be worth comparing the conversion rate of this change to the current conversion rate of linking to the shopping cart directly. I'm wondering if someone has clicked "Upgrade to the Business plan to install plugins. -- Upgrade now" maybe they don't need anymore convincing?

[2022-09-14 15:58] jp-imagines opened #67819 "VideoPress: Editing video thumbnail doesn't update the video preview"
### Quick summary

After uploading a video through VideoPress, you can use the `Edit Thumbnail` option in the Calypso media library to choose a new thumbnail for the image, selecting from the various frames of the video. This seems to _sometimes_ work to update the video thumbnail in the media library, but inserting the video into a post/page does **not** show the correct (updated) thumbnail in ei

[2022-09-14 16:15] Addison-Stavlo opened #67820 "LaunchPad - Checklist API Refactor discussion reminder"
A reminder that we need to discuss / p2 / decide about refactoring the checklist API and launchpad to utilize it.

We should decide about this soon as it will be much more difficult later down the road.

[2022-09-14 16:16] gutenberg-plugin-upgrade-bot[bot] opened #67821 "Gutenberg: v14.1.x plugin upgrade"
Previous upgrade: #66944
Release notes: [v14.1.1](https://github.com/WordPress/gutenberg/releases/tag/v14.1.1)

**Install and activate**

- [ ] Install and activate v14.1.0-rc.1 on edge (######-code)
- [x] Install and activate v14.1.0-rc.2 on edge (D87742-code)
- [x] Install and activate v14.1.0 on edge (D87864-code)
- [ ] Activate v14.1.0 on production (######-code)
- [ ] Request v14.1.0 AT upgra

[2022-09-14 16:31] jeyip opened #67823 "Launchpad: Add unit tests for Sidebar"
### What

Add unit tests for the sidebar component, akin to the [launchpad checklist-item](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/test/checklist-item.tsx)

### Why

The sidebar has dynamic behavior that we'd like to test, partly because, if subject to refactoring, we'll want the reassurance of unit tests, and

[2022-09-14 16:34] jeyip opened #67824 "Launchpad: Add unit tests for translation helpers"
### What

Add unit tests for the [translations.tsx](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/translations.tsx) file, akin to the [launchpad task-helper tests](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/test/task-helper.ts)

[2022-09-14 16:38] jeyip opened #67825 "Launchpad: Add unit tests for checklist-item, checklist, and task-helpers"
## What

Add unit tests for the checklist-item, checklist, and task-helpers files

[2022-09-14 16:38] #67825 closed, assigned to nobody

[2022-09-14 17:12] Addison-Stavlo commented on #59570
### Testing on **Lynx theme**

I wasnt able to repro given these instructions from @philnick206

Nor could i repro instructions from @cuemarie [here](https://github.com/Automattic/wp-calypso/issues/59570#issuecomment-1117691006)

However I am seeing that if I do everything from the page editor I can reproduce the issue until I reload the page.
1. Visit the page editor
2. Create a new template from

[2022-09-14 17:58] JoshuaGoode commented on #67739
This issue can occur on self-hosted sites with the Jetpack Google Fonts module activated. p9F6qB-afB-p2

1. Create site (anywhere, any infrastructure)
2. Install Jetpack and Gutenberg
3. Connect Jetpack, activate the Google Fonts Jetpack module.

On WPCOM Atomic, we force activate the Google Fonts module via wpcomsh's `/feature-plugins/google-fonts.php`

So, two potential problems. The primary is

[2022-09-14 18:14] JoshuaGoode commented on #67739
I'd normally move this issue to Jetpack but I've created a new issue now that we know more.  We might end up closing this one to reduce confusion.

https://github.com/Automattic/jetpack/issues/26224

[2022-09-14 20:23] wongasy opened #67832 "Signup flow loads blank screen"
### Quick summary

There's an intermittent issue where the signup flow (e.g. `/start/domains`, `/start/onboarding-with-email`) loads up a blank screen. There's are no web console errors, so it's difficult to determine what the underlying issue might be. The only warning messages I saw is css-related, which doesn't appear to be the root cause of the issue. Note that the rest WordPress.com loads up

[2022-09-14 20:51] #63347 closed, assigned to michaeldcain

[2022-09-14 21:33] agrullon95 commented on #67426
Removing the "Hello World!" post for newsletter sites only changes have been merged : D87596-code.

Let's keep a note for investigating the Headstart library solution (not creating the initial post on during the site creation process). It could provide a cleaner , generic solution for different tailored site flows.

[2022-09-14 21:33] #67426 closed, assigned to agrullon95

[2022-09-14 21:42] mreishus commented on #66738
Building on the idea in D86789-code, I made D87766-code which only modifies behavior if a new flag is passed, in attempt to minimize the risk associated with the change. However, it's still a high risk change and we would still need the blessings of the systems team to go ahead with this approach.

[2022-09-14 21:56] #67350 closed, assigned to worldomonation

[2022-09-14 22:02] cuemarie commented on #66474
Returning to this after an update on the Gutenberg report https://github.com/WordPress/gutenberg/issues/43292#issuecomment-1217546901 :

📌 ACTIONS

- Removing from HE Cross-repo Watchlist

[2022-09-14 22:14] jerrysarcastic commented on #65223
Also reported in https://wordpress.com/forums/topic/border-and-radius-options-not-showing

This site owner is using the Saga theme, and reported the same issue where border size/radius options do not appear for the image block.  Was able to replicate on a test site, and can confirm that when Saga is the active theme there is no option, even if borders were set previous to the theme switch.

<img w

[2022-09-14 23:15] Joshgrygiel commented on #67622
A user requesting something very similar 36931851-hc

User wants to be able to add external links to their videos as well, such that the user could click on text or a card throughout the video, and take the user to a URL of their choice.

[2022-09-15 02:29] michaeldcain commented on #67618
Related past work on duplicate sites and purchases (including some modal designs):

- p7DVsv-9p1-p2
- paObgF-JO-p2
- paObgF-7A-p2
- pb5gDS-xu-p2
- pau2Xa-1Io-p2

[2022-09-15 02:32] SaxonF commented on #67631
@arthur791004 would it after the generated designs and the first row (3 themes)? So 7th I suppose?

[2022-09-15 02:37] arthur791004 commented on #67631
Sure! We will show it after the first 3 themes on mobile (the same as desktop). Note that we only have one theme per row on mobile

[2022-09-15 02:40] michaeldcain commented on #67618
And two data posts:

- pa1C6h-ug-p2
- pa1C6h-IX-p2

I re-ran the funnel in the second post to see if some of the Signup fixes have had a positive effect and the percentage of users creating second sites from Signup > Checkout > Signup seems to have dropped from 1.6% to .5%.

It looks like Martin used PHP's `similar_text` on the subdomain to get his numbers.

[2022-09-15 02:48] ouikhuan commented on #65476
We've split it into three posts:
- [Site address and Jetpack detection](pcmemI-NT-p2)
- [The JPC flow](pcmemI-19Y-p2)
- [Jetpack Plans page and Import Everything](pcmemI-1a2-p2)

[2022-09-15 02:48] #65476 closed, assigned to ouikhuan

[2022-09-15 04:18] lsl opened #67840 "Marketplace: Plugin detail settings dropdown broken with out of band install"
Installing a managed plugin via plugin upload breaks this dropdown:

![Screenshot_2022-09-15_14-16-04](https://user-images.githubusercontent.com/811776/190313355-08bff733-ab05-47ff-8ecb-655641c367f5.png)

Expected:
![Screenshot_2022-09-15_14-48-03](https://user-images.githubusercontent.com/811776/190316893-6a2abd60-7b10-42c6-a826-f8ce22b39725.png)

[2022-09-15 05:10] mriyazuddin commented on #67499
Thanks for the update. Not sure how I missed this. I'm unable to replicate this as well now as sharing to Facebook works fine now. I've let the user know.

[2022-09-15 05:28] lsl opened #67841 "Marketplace: Plans page add locale to route"
https://github.com/Automattic/wp-calypso/pull/66169#discussion_r970430833

- [x] Add locale and redirect to the new plans page route

[2022-09-15 05:30] miksansegundo commented on #67480
We also mentioned that we want to add a README file for `ThemePreview` and move it to `@automatic/components` or another shared components folder.

[2022-09-15 05:54] miksansegundo opened #67843 "Pattern Assembler - Replace/Edit pattern icon"
The current `Replace` icon is more for a "randomization" button because we had that idea initially. We want to change it to prevent confusion.

The new icon is `edit` from `@wordpress/icons`.
![Image](https://user-images.githubusercontent.com/1881481/190324263-ec26c2f8-673e-414f-86e1-38a95507d43a.png)

|Before|After|
|-------|------|
|![Image](https://user-images.githubusercontent.com/1881481/1903

[2022-09-15 06:21] kavyagokul opened #67844 "Twenty Eleven: sub-lists are not shown as indented"
### Quick summary

With the theme **Twenty Eleven**, adding a list block and making sub-lists in the block editor shows all list items at the same level

### Steps to reproduce

1. Start with a site on the Twenty Eleven theme
2. Edit or create a page in the block editor. Insert a list.
3. Insert sub-list items, and/or sub-sub list items

### What you expected to happen

The sub--list is indented a

[2022-09-15 06:50] arthur791004 commented on #67713
Close it as it's shipped 🚢

[2022-09-15 06:50] #67713 closed, assigned to arthur791004

[2022-09-15 07:09] kriskorn commented on #67739
Closing this in favor [of the above](https://github.com/Automattic/jetpack/issues/26224), which also has a potential patch https://github.com/Automattic/jetpack/pull/26193.

[2022-09-15 07:09] #67739 closed, assigned to nobody

[2022-09-15 07:30] wojtekn commented on #67586
It's done. I've reused an existing feature that uses `refGoals` for now, we can adjust it later if needed.

[2022-09-15 07:30] #67586 closed, assigned to wojtekn

[2022-09-15 08:04] alshakero commented on #67678
This was done by Cylon.

[2022-09-15 08:04] #67678 closed, assigned to nobody

[2022-09-15 08:22] alshakero opened #67848 "Task: Freshen up the logo editor in Tailored Flows"
### Details

We have a beautiful new design for the logo cropping UI!

https://www.figma.com/file/BcUdhLlhAp7UHtQHNTI4zA/v1.-Tailored-Onboarding-%26-Launchpad?node-id=6487%3A140523#266620410

If we can keep the changes all in CSS and only [here](https://github.com/Automattic/wp-calypso/tree/trunk/client/components/site-icon-with-picker), that would be terrific, if not, we'll need to make sure we d

[2022-09-15 08:30] wojtekn commented on #67534
I've opened [a PR that adds import flow to the button](https://github.com/Automattic/wp-calypso/pull/67847).

I haven't included this requirement in my PR as it was not confirmed yet. I'm not sure if we want to duplicate the dropdown below, especially since another button shows a different CTA that asks to perform a more specific action:

![Screen Shot 2022-09-15 at 10 27 29](https://user-images.g

[2022-09-15 08:38] alshakero opened #67849 "Task: Change Tailored Flows background color from #FFFFFF to #FDFDFD in Stepper Steps"
### Details

I think this thread is quite illustrative about what I mean: p1663182275243719-slack-C03E1LGV796

This change is only needed in Stepper, the /start parts are accurate.

### Checklist

_No response_

### Related

_No response_

[2022-09-15 09:19] yansern commented on #57115
This is implemented in D76230-code.

[2022-09-15 09:19] #57115 closed, assigned to nobody

[2022-09-15 09:21] yansern commented on #55540
Covered in pdDOJh-99-p2 and pdDOJh-wY-p2.

[2022-09-15 09:21] #55540 closed, assigned to saygunnyc

[2022-09-15 09:21] #56410 closed, assigned to nobody

[2022-09-15 10:07] autumnfjeld commented on #62200
Not doing.

[2022-09-15 10:07] #62200 closed, assigned to nobody

[2022-09-15 10:08] dsas commented on #67553
I'm not sure this is needed. If it's a billing enquiry, or something super obvious like 'yup you deactivated the plugin', a HE would presumably just handle it in live chat. If it requires product knowledge they'll kick it to email.

[For 3PD](https://developer.wordpress.com/wordpress-com-marketplace/supporting-wordpress-com-plugins/)s our HEs will handle billing and generic questions, but anything

[2022-09-15 10:20] Copons commented on #67553
@dsas I think we can close this, as clarified in p1663071305588769-slack-CJS75TX3R.

[2022-09-15 10:20] #67553 closed, assigned to nobody

[2022-09-15 10:31] autumnfjeld opened #67854 "Add additional verticals to the verticals drop down"
# Description

![Image](https://user-images.githubusercontent.com/5665959/190381532-b28f7134-9353-41a2-87d9-6148f79e5068.png)

![Image](https://user-images.githubusercontent.com/5665959/193503320-65ff9526-f2f7-4cce-b34d-3ca354f86b62.png)

This analysis of user selection of industry verticals pbxlJb-2pM-p2 shows that the top 10 selected verticals are EXACTLY THE SAME as the ones in the drop down li

[2022-09-15 10:58] miksansegundo opened #67856 "Pattern Assembler - Remove predefined footer from Blank canvas theme"
When using the default template `Footer Only`, the theme Blank canvas includes the footer `footer-with-site-title`. This is expected, this is how we present the [Blank Canvas theme](https://wordpress.org/themes/blank-canvas/).

![Image](https://user-images.githubusercontent.com/1881481/190363811-61f248ea-c00d-46fa-8c1a-1e8863b58ed3.png)

However, for the Pattern Assembler flow, we shouldn't use an

[2022-09-15 11:01] arthur791004 commented on #67856
I'm not sure but it might be acceptable as we want to show the credit footer such as “Proudly powered by WordPress.” 🤔

[2022-09-15 11:50] csabarakasz commented on #57812
- [ ] 36356258-hc
Another one. suggested the Preview option from the Pages section instead.

I couldn't replicate it btw.

[2022-09-15 12:38] manzoorwanijk commented on #67467
💡  One tip regarding "Fix existing rules one by one"

Run `yarn lint:css` in VS Code terminal and you can directly open the affected files using `Option + Click`

<img width="1708" alt="Screenshot 2022-09-15 at 6 05 47 PM" src="https://user-images.githubusercontent.com/18226415/190405455-450bf024-7119-4b90-8d5d-39b4bc72cad9.png">

[2022-09-15 12:56] markbiek commented on #66286
@pbking Given the change you made [here](https://github.com/Automattic/wp-calypso/issues/63229#issuecomment-1218431731), do you have any thoughts on why Payton is still showing an incorrect list of fonts?

My steps to reproduce:
1. Go to a free site
2. Purchase Payton
3. Replace homepage content
4. Go to the site editor and go to styles -> typography -> text

[2022-09-15 13:17] cpapazoglou commented on #67657
@vinimotaa can you help us here? This is an example from WC.com https://woocommerce.com/products/syncee-global-dropshipping/?quid=3f8b266da60dc2967f7b8747c78f1962

[2022-09-15 13:23] cpapazoglou commented on #43230
@SaxonF and @vinimotaa have we also considered this in marketplace mockups?

[2022-09-15 13:27] cpapazoglou commented on #60619
@SaxonF can adjust this to the current Plugins page? Will we minimise the categories width so that we can accommodate the filters?

![CleanShot 2022-09-15 at 16 27 44@2x](https://user-images.githubusercontent.com/12430020/190416089-1e8f6f38-f7e7-438b-8c3a-35d664b365fc.png)

[2022-09-15 13:28] cpapazoglou commented on #60619
Or we can add the filter only in search results

![CleanShot 2022-09-15 at 16 28 47@2x](https://user-images.githubusercontent.com/12430020/190416325-0f42ae2c-c55f-44f5-aeba-62e2bacab689.png)

[2022-09-15 13:29] delputnam commented on #65081
This is something that someone on the Atomic team will have to answer.

[2022-09-15 13:48] vinimotaa commented on #43230
@cpapazoglou

Are you talking about this?

[2022-09-15 13:52] vinimotaa commented on #67657
Hi @cpapazoglou

This is not clear to me - can you provide more context?

[2022-09-15 13:53] cpapazoglou commented on #43230
@vinimotaa both this and

[2022-09-15 13:59] cpapazoglou commented on #67657
For some plugins that will be defined as SaaS (software as service) the flow will change to:

1. User clicks CTA in plugin details
2. User is redirected to SaaS vendor landing page
3. User selects plan and duration
4. User is redirected back to WordPress.com checkout

In this case we need to

- Remove pricing - we don't know the price. User selects it in vendor landing page.
- Remove billing inter

[2022-09-15 14:00] #67720 closed, assigned to JuanLucha

[2022-09-15 14:03] JuanLucha opened #67860 "Create feature flag for Invitation emails new style"

[2022-09-15 14:04] cpapazoglou commented on #65081
These domains cannot be transferred (p9o2xV-1jE-p2#comment-4279). We need to find out why the warning doesn't popup and fix it.

[2022-09-15 14:21] #66899 closed, assigned to WBerredo

[2022-09-15 14:24] iamtakashi opened #67862 "Premium Theme: Tsubaki"
### Details

The Tsubaki premium theme needs the following:

### Checklist

- [x] Sync [Tsubaki](https://github.com/Automattic/theme-tsubaki) to WP.com
- [x] Theme showcase draft
- [x] Add the theme to the soft-launch filter
- [x] Build a ZIP for the theme
- [x] Add the theme as a product to the Store
- [x] Add the theme to the prices page in MC
- [x] Demo site creation: https://tsubakidemo.wpcoms

[2022-09-15 14:30] epeicher commented on #67656
**Backlog grooming:** We discussed using  `https://public-api.wordpress.com/wpcom/v2/marketplace/products` to avoid polluting the big response of `https://public-api.wordpress.com/rest/v1.1/products`.

In principle the steps required would be:
- add the property in the response
- add a function that gets the value from DB

[2022-09-15 14:41] epeicher opened #67863 "Marketplace Search: Investigate a way to add multiple marketplace fields to one field that will be indexed by Elasticsearch"
Currently, every new field added to a Marketplace product in WooCommerce.com side needs to be added to the `jetpack-search` index to be returned when searching.

Most of those fields will not be used for search so they can be stored as a PHP-serialized array (or _json_ blob) that we could name `wpcom_marketplace_fields`

This task is to investigate and if possible implement a way to do this so we

[2022-09-15 15:06] gcsecsey opened #67866 "Marketplace search API: refactor query loop"
In `class.wpcom-json-api-marketplace-search-endpoint.php#427`, the query is run once, and if there are no results and there's a suggestion, it's run a second time: 2da17-pb

The current implementation uses a for loop for this which makes it a bit hard to follow. @ebinnion suggested that we could refactor this a bit:

[code]

[2022-09-15 15:45] mikeicode opened #67867 "Thriving Artist: Sidebar WooCommerce cart doesn't display products"
### Quick summary

The Thriving Artist theme has a cart icon in the menu. If you add a product to the cart and open the menu the products aren't visible in the cart.

### Steps to reproduce

1. Visit a [product page](https://thrivingartistdemo.wpcomstaging.com/product/product-art-poster-4/) of the demo
2. Add a product to cart
3. Open sidebar cart from menu

<img width="577" alt="Screen Shot 2022-

[2022-09-15 16:24] jamiepalatnik commented on #60563
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate
- Tested on AT - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- I tested this on my simple and Atomic test sites and I was not able to recreate the issue with the message "We don't have that post on record yet." Instead, I see a chart with stats as seems to be expected from this change: https://github.com/Automattic/wp-calypso/pull

[2022-09-15 16:24] #60563 closed, assigned to aidvu

[2022-09-15 17:03] Copons commented on #67102
The prices have been confirmed, and can be found in the internal spreadsheet.

[2022-09-15 17:03] #67102 closed, assigned to Copons

[2022-09-15 17:06] Copons commented on #67103
On WCCOM, these add-ons must be assigned to author Automattic.
In the Dotcom Store, they must be assigned to the `wp-job-manager-svc` vendor (which has be created).

[2022-09-15 17:41] paxblueribbon commented on #65656
Customer reporting this: 5556532-ZD-woothemes

Of note is the fact that their posts, being in Swedish don't contain any é's but many ä's and ö's.

Please notify the user of any update.

[2022-09-15 18:26] csonnek commented on #55795
Another instance here: https://wordpress.com/forums/topic/unable-to-view-social-media-icons-on-my-blogs/?view=all

Suggesting the block workaround

[2022-09-15 18:58] masperber opened #67871 "Include information about DNS propagation time in "Your domain is ready" emails to customers"
### What

When a customer purchases a domain, they often receive an email which says `Congratulations! Your domain name is ready.` However, the copy of this email address lacks information about DNS propagation, which may mean that the domain is not actually accessible for the customer at the time of the email.

I suggest that we add copy to this email which clarifies that there may be a waiting p

[2022-09-15 19:05] jamiepalatnik commented on #67320
Another report: 36946343-hc

Attar theme. Shared custom CSS as a workaround.

[2022-09-15 21:07] masperber opened #67876 "Converting a Pullquote Block into a Quote Block causes Gutenberg to Crash"
### Quick summary

When using the Block conversion feature, attempting to convert from a Pullquote Block to a Quote Block will cause Gutenberg to crash.

There was previously a similar bug when trying to convert from an Image or Gallery block to a Carousel Block, but a link to this issue escapes me at the moment.

### Steps to reproduce

1. Add a Pullquote Block to a page or post
2. Click on the b

[2022-09-15 21:44] sajmes opened #67878 "Karuna theme: when no menu is set to display in 'header' location, all pages on site show."
### Quick summary

When no menu is set to display in the header location from My Site → Appearance → Customize → Menus, we'd expect no menu content to show in that location.

Instead, all the published pages on a site show in that location.

![Markup on 2022-09-15 at 14:36:06](https://user-images.githubusercontent.com/76757079/190513106-ece2f868-5f64-4c0b-9d6f-b01bb95bc8f0.png)

When a menu is set

[2022-09-15 21:50] vindl opened #67879 "Sites Management Page: Hosting Configuration shouldn't show for Jetpack sites"
In the case of externally hosted Jetpack sites, Hosting Configuration doesn't work, and we shouldn't show it in the dropdown menu. It should still be there for Atomic sites, though.

[2022-09-15 22:05] masperber commented on #67876
- [ ] 5560822-zen for customer followup when resolved.

[2022-09-15 22:09] mreishus commented on #66738
Discussion of some options here: p1663253248210669-slack-C0Q664T29 .
Even though we're only using it for a manual process that occurs rarely, D87766-code is still high risk since it modifies critical files.
Bringing in all of the files needed for wpcom's headstart generation file ends up adding 90 files to wpcomsh or a custom plugin.
Inspired by Andy's changes in wpcomsh re: class-template-first-t

[2022-09-15 22:53] autumnfjeld opened #67880 "Handling an unlimited number of themes in the Design Picker"
# Description

<img width="1604" alt="image" src="https://user-images.githubusercontent.com/5665959/190524448-7381ce79-7424-4893-9095-9482d8b329a5.png">

NOTE: This work is for the wordpress.com/start onboarding Design Picker. NOT the Theme Showcase (though it can certainly be duplicated in another git issue/piece of work)

We [recently discovered](https://github.com/Automattic/wp-calypso/pull/677

[2022-09-16 02:10] autumnfjeld commented on #67856
Related to this:

I just went to try to remove the footer credit on a free site via the customizer
<img width="293" alt="image" src="https://user-images.githubusercontent.com/5665959/190541081-e4888911-3693-4dca-b8b7-40845dfa570b.png">
It is not possible via the customizer.

But on the same site, via the Site-Template Editor, I can delete the footer text.

[2022-09-16 02:37] autumnfjeld commented on #67856
Getting input on how the footer credit should work: p1663295644661609-slack-CRNF6A9DX

[2022-09-16 03:13] autumnfjeld commented on #66796
We can watch it for a other few days then follow up with data peeps about why it is still showing up

[2022-09-16 03:40] miksansegundo opened #67883 "Pattern Assembler - Fix footer alignment to bottom in the preview"
The footer in the preview is not aligned to the bottom. This can be solved by injecting the CSS fixes when we use it from the PA preview.

<img width="1419" alt="Screen Shot 2565-09-16 at 10 37 16" src="https://user-images.githubusercontent.com/1881481/190551590-56f50fa7-4d8c-4665-9400-5dea94823f8b.png">
<img width="1459" alt="Screen Shot 2565-09-16 at 10 11 28" src="https://user-images.githubuser

[2022-09-16 04:05] miksansegundo opened #67884 "Pattern Assembler - Review texts and translations"
#### Acceptance criteria

- [ ] in the CTA, `Get started` instead of `Get Started`
- [ ] in the preview, add a period to `Your page is blank. Start adding content on the left`
- [ ] check that all texts are being translated
- [ ] Others?

[2022-09-16 05:01] rakshitwesley opened #67885 "Simplify the activate/deactivate buttons on WordAds settings page"
### What

User is suggesting to simplify the buttons on the WordAds settings page as they're not sure when the option is enabled or disabled.

![image](https://user-images.githubusercontent.com/95758851/190560070-c095e04f-9bae-497d-b99c-b925acb33c6e.png)

### Why

Currently, it is a bit confusing, considering the slider changes the color to black and white.

### How

Perhaps we can add a test when

[2022-09-16 05:23] miksansegundo commented on #67884
@SaxonF @autumnfjeld are there any copy changes that you would like to add here?
Maybe a longer text to replace `Kick start the content on your page by picking patterns.`?

[2022-09-16 05:42] lsl opened #67888 "Marketplace: New plans page breadcrumbs"
Try visiting the plans page through a link [with the flag](https://github.com/Automattic/wp-calypso/pull/67770) enabled then clicking a breadcrumb back to the plugin and then back to install. Looks like a loop, we probably need to reset the state somewhere.

- [ ] This thing doesn't happen:
![Screenshot 2022-09-16 at 15-43-14 Plugins Plan Upgrade ‹ Business - Simple Site — WordPress com](https://u

[2022-09-16 05:55] lsl opened #67890 "Marketplace: Title limits for for plugins"
![Screenshot(8)](https://user-images.githubusercontent.com/811776/190566667-2c873bc8-2612-4176-8736-070667aaad06.png)

- [ ] Put a hard limit on title length we are willing to render.

cc @vinimotaa / @SaxonF - anything specific in mind or is 50 chars a good enough fix? `All in One SEO – Best WordPress SEO Plugin – Easi...`

[2022-09-16 06:02] autumnfjeld commented on #67884
I'd like to use the text we previously chatted about p1663112863294069/1663047632.213009-slack-CRWCHQGUB if no one has objections:
“Kick start the content on your page by picking patterns. First choose a header for your page layout, then choose at least one section pattern, and finally choose your footer.”

[2022-09-16 07:53] TimBroddin commented on #52117
One more here: hc-36951561

[2022-09-16 08:18] daledupreez commented on #67212
I just deployed D87734-code to fix the button styling issue for Baskerville 2, and possibly some other themes. The short version of that changes is that I added `button` as a CSS class to the "Post Comment" button.

[2022-09-16 08:28] candy02058912 commented on #67574
Hi @vinimotaa, would like to ask what would the designs look like on other screen sizes?
Would it be something like https://wordpress.com/start/plans?
![wordpress com_start_plans](https://user-images.githubusercontent.com/6586048/190593325-1b3fbfc6-9a1e-493d-8915-63dd36bc13a4.png)

[2022-09-16 08:35] bogiii opened #67895 "Subscriber form: missing container padding on mobile devices"
![Image](https://user-images.githubusercontent.com/1241413/190594950-58b81417-b29f-441c-bc20-5f4d16777e38.png)
![Image](https://user-images.githubusercontent.com/1241413/190594949-1ed63c26-dc0e-45f0-8846-c13547917b79.png)

[2022-09-16 09:06] miksansegundo opened #67897 "Pattern Assembler - CSS transitions for engagement"
We could to add little CSS transitions when we show the pattern selector or when a pattern is added, deleted, or sorted to make the UI more engaging.

Some classic transitions are fade in/out, slide or scale. Here is a complete [demo guide](https://animate.style/) for reference.

For more complex transitions of React state, I see we previously used the dependency [react-transition-group](https://g

[2022-09-16 09:15] #67507 closed, assigned to epeicher

[2022-09-16 10:14] miksansegundo commented on #67883
It is required to test and deploy D87896-code to complete this issue.

[2022-09-16 10:23] escapemanuele commented on #67810
Hey @heavyweight, is this still actual? I tried testing on Firefox in Windows but couldn't replicate!

If it is, please tell me how you tested this

![image](https://user-images.githubusercontent.com/52076348/190618112-dc2f9c28-c130-4ae7-979f-bb77385dba88.png)

[2022-09-16 10:38] epeicher commented on #67507
Backend changes deployed r252664-wpcom

[2022-09-16 10:41] heavyweight commented on #67810
Can't reproduce it anymore

[2022-09-16 10:41] #67810 closed, assigned to heavyweight

[2022-09-16 10:45] #67677 closed, assigned to renancarvalho

[2022-09-16 10:50] epeicher commented on #67663
I have created an initial version of the change using the existing component. I have asked a few questions about the differences between the design and the current implementation of the footer in the linked PR https://github.com/Automattic/wp-calypso/pull/67898

[2022-09-16 11:24] sejas commented on #67580
# Description

After my investigation, I've found that the Site Switcher is using 14 more fields.
These extra fields add 331ms on average in my case with 94 sites.

The benefit of using `useSiteExcerptsQuery` for both is that we could cache the same query for both components so we could show some data instantly from one component to another.
The downside is that for SMP, we end up making multiple

[2022-09-16 11:33] mriyazuddin opened #67905 "Vivre Theme | Unable to add submenu options using Site Editor"
### Quick summary

Using Vivre theme, when trying to add a submenu to a menu option, the + button hides behind the toolbar and so can't be clicked unless the menu orientation is changed from horizontal to vertical.

https://user-images.githubusercontent.com/49064126/190629706-d853c466-9914-4405-a809-72f7bbe2891c.mp4

### Steps to reproduce

1. Activate the Vivre theme.
2. Go to Site Editor and edi

[2022-09-16 11:52] sejas commented on #62545
I'm unassigning this issue since I'll be AFK for 2 weeks.
The best solution for this issue would be to remove, on Gutenberg core, the `move to` button from the components when we are on the widgets page:

Here is the component `move to`:
https://github.dev/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js#L280

[2022-09-16 12:46] vinimotaa commented on #67574
Hi @candy02058912, yes, we can follow what we have there. Title, subheader, and plans sitting below. I'd start with Business plan, then eCommerce, and then My Current plan - changing the order.

[2022-09-16 12:47] #67369 closed, assigned to escapemanuele

[2022-09-16 12:52] WunderBart commented on #65906
@cometgrrl I've updated the description with my recent findings - hope it's a proper issue for that. I will also look into those failures as a part of the Gutenberg upgrade process. /cc @worldomonation

[2022-09-16 12:55] WunderBart opened #67906 "Expected content is in published postspecs/blocks/blocks__jetpack-other.ts: Blocks: Other Jetpack Blocks: Validating blocks in published post.: Tiled Gallery"

[2022-09-16 12:55] #67906 closed, assigned to nobody

[2022-09-16 13:01] Gustavo-Hilario opened #67907 "Comments: WordPress.com users getting are prompted to log in while the site setting doesn't require it"
### Quick summary

WordPress.com users are being asked to log in to leave comments, even though site settings (on WordPress.com > My Sites > Settings > Discussion > Comments (Calypso) > “Users must be registered and logged in to comment“) don’t require login to leave a comment.

### Steps to reproduce

1. Make sure you open a page/post on a browser where you are _**not**_ logged in to your WordPre

[2022-09-16 13:30] Gustavo-Hilario opened #67913 "Penscratch 2 > List Block: Multi-levels lists don't have a cascading style on the editor"
### Quick summary

When creating multi-level lists on Penscratch 2 page/post editor, it shows list items at the same level on the editor.

### Steps to reproduce

1. Activate the `Penscratch 2` theme.
2. Create a new page or post.
3. Add a `List block` with nested menu items. Check the screenshot below.
4. Check the published page. You will notice that this issue only happens in the editor.

<img

[2022-09-16 13:32] ClassicRKR27 opened #67914 "Help Center Chat is appearing while SU'd"
### Quick summary

While chatting with customers, I have been experiencing the user's chat being open whenever I SU. [We have other reports of this as well.](p1663334713577879-slack-C03TY6J1A)

### Steps to reproduce

1. Get in a chat with a user
2. SU into their site

### What you expected to happen

SU should open normally without seeing the user's chat.

### What actually happened

We see the u

[2022-09-16 14:28] markbiek commented on #67703
@onuro I noticed that all of the [Posts](https://varesedemo.wordpress.com/wp-admin/edit.php) on the demo site were created using the Classic editor.

I've converted them to blocks but can you please make a note to only use the Block editor in the future? Our tools can only create the Headstart annotation from blocks.

It also seems like there's some stale Jetpack testimonial data in the site datab

[2022-09-16 14:30] markbiek commented on #67703
@onuro I also wanted to note that, while the homepage of the demo site is restaurant related, all of the posts are about yoga. Not sure if that was the intention or not.

[2022-09-16 14:44] paulopmt1 commented on #67695
As part of this issue @allilevine, do we want to improve the current warning (shown in the issue description) for [this new one](pdh6GB-22x-p2#comment-2878)?

![image](https://user-images.githubusercontent.com/1044309/190665822-ce289325-976c-4719-9bbe-b91f31c15afd.png)

[2022-09-16 14:50] ivan-ottinger commented on #66803
D87901-code is now ready for review.

[2022-09-16 14:57] allilevine commented on #67695
Yes, we should actually replace this issue with implementing the new new design here: pdh6GB-26h-p2 I'll update the description.

@vinimotaa Is there a Figma for the new modal design?

[2022-09-16 15:01] allilevine commented on #67693
@DustyReagan That's a good point, it may not be as relevant here. Let's track conversions before and after the change, and revert if needed.

[2022-09-16 15:14] #67575 closed, assigned to DustyReagan

[2022-09-16 15:46] syhussaini commented on #61510
I am just checking to see if there are any plans or updates for this feature request.
It would be really nice to have feature.

[2022-09-16 16:00] syhussaini opened #67921 "Off-Canvas Content/Layout Block"
### What

I want an off-canvas content position/Layout Block so we can call the content from left, right, top or bottom when we click on a trigger.

The block should allow placing any content blocks inside it just like we do in a group block, making it very flexible.

### Why

With **Off-Canvas Content/Layout Block**, we can place additional content, menus, or media items that would otherwise take

[2022-09-16 16:08] allilevine opened #67922 "Marketplace: Remove search result highlights"
Hide the search term highlights in results. Context: pdh6GB-1Vu-p2

![Image](https://user-images.githubusercontent.com/1689238/190682549-e3518c32-b4a9-43d4-838c-b048992a4577.png)

Acceptance criteria:
- [ ] Terms in search results that match the search term are no longer highlighted.

[2022-09-16 16:12] allilevine opened #67923 "Marketplace: Change “developer:name” search"
Don't expose the "developer:author" format in the search field. Context: pdh6GB-1Vu-p2

Currently `?s=developer:"{name}"` is appended to the search when a developer's name is clicked.

![Image](https://user-images.githubusercontent.com/1689238/190683054-df5ff24d-fd95-46e6-b4d0-db1745ab061d.png)

Acceptance criteria:
- [ ] The developer:author format isn't visible in the search field, when a develo

[2022-09-16 16:19] allilevine opened #67925 "Marketplace: Add setting up your local business plugin collection"
For our first collection, let's add an additional group of plugins to the /plugins landing page (hard-coded). Group A from: pdh6GB-1TT-p2

Acceptance criteria:
- [ ] There is a hard-coded plugin group, like Editor's Picks, that includes the plugins in Group A.

[2022-09-16 16:25] iamtakashi commented on #67862
`D87930-code`

[2022-09-16 16:31] allilevine opened #67926 "Marketplace: Rotate popular search terms in search field"
On /plugins, remove the popular search terms and rotate them as suggestions in the search field instead.
Context: pdh6GB-1Vu-p2

Acceptance criteria:
- [ ] Record data for searches overall, to see if this change affects search counts.
- [ ] Remove popular search terms and simultaneously add the popular search terms as rotating suggestions in the search field.
- [ ] Check search counts after the ch

[2022-09-16 16:52] worldomonation commented on #65906
@WunderBart Thanks for the ping and great to see you're making progress on this one.

I should have more bandwidth in the coming weeks as Dan returns from parental leave so if you need it, I'd be glad to help.

[2022-09-16 17:13] kriskarkoski opened #67927 "Help Center: Ensure tickets are marked as overflow when chat is unavailable"
### Quick summary

In the FAB and contact form when a user that is eligible for chat tries to contact us and we do not have any chat availability we check a Chat Overflow field when the ticket is created in Zendesk to record that the user should have received chat. We then use this value to generate our responsiveness performance in Happiness data.

We need to ensure that Help Center does the same

[2022-09-16 17:14] markbiek commented on #67703
Launched!

[2022-09-16 17:14] #67703 closed, assigned to markbiek

[2022-09-16 17:24] vinimotaa commented on #65574
Hi @lsl !

For specs, you can find the [Figma here](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=4273%3A39668). There is a full gridsystem and padding specifications for the entire page.

[2022-09-16 17:25] vinimotaa commented on #67239
A complete grid system and padding specifications for the entire landing page on this [Figma file](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?node-id=4273%3A39668).

[2022-09-16 17:34] iamtakashi commented on #67862
I'm working on the demo site downgraded to a simple site https://tsubaki.wordpress.com at the moment for generating Headstart annotation.

[2022-09-16 17:56] Addison-Stavlo opened #67929 "Block Toolbar position incorrect for blocks inside cover block on dotcom for Free/Personal Sites."
The position of the block toolbar does not align with core functionality when the selected block is inside a cover block on dotcom.

dotcom:

<img width="400" alt="Screen Shot 2022-09-16 at 1 45 57 PM" src="https://user-images.githubusercontent.com/28742426/190701220-eba064ca-2687-46a4-bf5f-e04e8c8ba49a.png">

core Gutenberg:

<img width="400" alt="Screen Shot 2022-09-16 at 1 47 55 PM" src="https:

[2022-09-16 18:05] #67616 closed, assigned to worldomonation

[2022-09-16 18:05] valterlorran commented on #66737
@alaczek we won't be able to reproduce the exact behavior of the demo bar on atomic sites. You can understand more about it in this discussion here: p1663273197375359-slack-C0Q664T29

[2022-09-16 18:39] kriskarkoski opened #67931 "[Bug]: Help Center: Chat/Email submit button overflowing"
### Quick summary

The Email us/Chat with us button in Help Center is overflowing the Help Center container on the right edge. cc @arcangelini

### Steps to reproduce

1. Open Help Center
2. Click Still Need Help
3. Choose Live chat or Email
4. Note the submit button overflows the container

### What you expected to happen

The button to be constrained by the container

### What actually happened

[2022-09-16 18:42] carinapilar opened #67932 "Suggestion: Clarify Premium Plugins Card"
### What

Clarify a message about premium plugins, to say that we now offer a selection of carefully chosen premium plugins in the WordPress.com marketplace, which can be used with the right plan.

### Why

Right now, the message seems to say that premium plugins were added to my site, which covers bookings, subscriptions, email marketing, and SEO tools.

### How

Go to the _Tools > Marketing_ men

[2022-09-16 18:46] arcangelini commented on #67931
Thanks!

[2022-09-16 18:55] kriskarkoski opened #67933 "[Bug]: Help Center: Sorry We Couldn't Connect You Error"
### Quick summary

When starting a new chat I initially see a "Sorry we couldn't connect you with a Happiness Engineer. Please check back later." message.

![chat message](https://user-images.githubusercontent.com/1900444/190711300-932c450d-8642-4fe9-950d-e605c57e381e.gif)

@arcangelini

### Steps to reproduce

1. Open Help Center from a chat eligible account
2. Select Still Need Help
3. Select Li

[2022-09-16 19:01] zaguiini commented on #67580
Thanks for the investigation, @sejas!

I made my research as well, and the results are interesting.

### Extra fields needed in order to have 1:1 parity with the site switcher

| Field | Referenced in |
| ------ | ------------- |
| `single_user_site` | `SiteSelector` |
| `domain` | `SiteSelector`, `Site` |
| `primary` | `SiteSelector`, `Site` |
| `updates` (not referenced by the `getSite` selector

[2022-09-16 19:04] kriskarkoski opened #67935 "[Bug]: Help Center: Initial connection message shows when reopening Help Center with active chat"
### Quick summary

When Help Center is closed while chat is active and reopened the default text and a message about connecting to a Happiness Engineer is briefly shown before the open chat reappears.

![chat message 2](https://user-images.githubusercontent.com/1900444/190712351-88035cad-e6d1-4f43-a358-490ec115921e.gif)

cc @arcangelini

### Steps to reproduce

1. In Help Center with an active cha

[2022-09-16 20:19] ha-un opened #67939 "Media Library: Show option to copy URL when selecting an image"
### What

When selecting one image in the Media Library, an option to copy the URL would be helpful so that users don't have to click on "Edit", then copy the URL.

### Why

The current process of getting hold of the URL of the image is not clear as users have to click on the image → then click on "Edit" → then copy the URL from the popup.

### How

A button next to "Edit" to copy the URL would be

[2022-09-16 20:20] zaguiini opened #67940 "Sites Management Page: Standardize filter dropdowns visually"
### Details

Right now, we have the site status and sorting order dropdowns in SMD:

![image](https://user-images.githubusercontent.com/26530524/190726558-18ebf35d-d7bc-4117-ba28-8ea64b6a31ae.png)

The sorting dropdown should have less relevance than the status filter, but that doesn't mean they should differ visually.

@SaxonF suggested on Slack (p1663188155170329-slack-C0347E545HR) that we might

[2022-09-16 20:54] arcangelini commented on #67927
This was addressed in #67928

[2022-09-16 20:54] #67927 closed, assigned to alshakero

[2022-09-16 21:12] #67750 closed, assigned to vykes-mac

[2022-09-16 21:38] edequalsawesome commented on #67641
Additional follow-ups still needed from the previous GitHub issue:

4877016-zen
5433621-zen
5427250-zen
5494226-zen
5515832-zen
5519249-zen
5510224-zen
5519249-zen

[2022-09-16 23:44] worldomonation commented on #64870
@john-legg I've assigned you this task, which should be a fairly good introduction to working within the `wp-calyspo` codebase.

Recall that we talked about linting that happens in two places:
- when the file is saved, typically through a code editor (eg. VSCode)
- when the file is staged for commit, using git pre-commit hooks.

We currently have the `jest/no-disabled-tests` rule enabled as either

[2022-09-16 23:52] worldomonation commented on #62778
@john-legg I've assigned you this flaky e2e spec task. This one will require you to take a look at the entire e2e spec and possibly require restructuring of the test steps. If you do not yet feel comfortable, feel free to wait until I return.

The gist of this flaky e2e report is that we have a spec, `support__popover-invalid` and `support_home` which both test the Inline Help feature in Calypso.

[2022-09-16 23:55] worldomonation commented on #64429
@john-legg I've assigned this as the third possible piece of work you can look at.

This one is a relatively simple change, but to identify the where to add this could be challenging to figure out. After this task, you will likely have a much better understanding of how different parts of Jest interact with each other, and how we configure Jest within `packages/calypso-e2e`.

[2022-09-17 04:15] kavyagokul opened #67942 "Setting a dark site background makes form fields unreadable in the block editor"
### Quick summary

When setting a drak background color with the Twenty seventeen theme, form fields in the block editor sidebar inherit that dark background and become unreadable.

### Steps to reproduce

1. Start with a site on the Twenty seventeen theme
2. Go to the customizer > Colors and Backgrounds
3. Set a dark color for the site background.
4. Save and go to Pages or Posts, and enter the e

[2022-09-17 08:46] mxhassani commented on #63091
I just encountered a similar case here:
5554572-zd-woothemes

The user forwarded the email they received here:
5559993-zd-woothemes

Interestingly, opening the email HTML code in FF shows the problematic behavior - gave it a quick look, and it appears some of the table tags are taking the inline CSS propriety `width: 2138.515625px`

For troubleshooting purposes, while not a valid email HTML move,

[2022-09-17 17:06] eduardozulian commented on #66739
Just to update here that we have another ticket (from the same user) at 5546878-zen. We can use this one to follow up instead.

[2022-09-17 18:40] Babylon1999 commented on #55795
Another case 5564558-zd

I asked them to switch blocks (Retired theme)

[2022-09-17 20:56] tanjoymor commented on #52048
Could this be related? #5549166-zen

Seems to only be a problem for this customer when using the "Enter" key from the numeric keypad.

[2022-09-18 12:05] liviopv commented on #52100
- [ ] 5564296-zen

Simple site, Russell.

@simison @blackjackkent @yansern has there been any progress on this? I'm bumping the priority on this, considering it affects a whole continent of possible customers and basically renders the design selection in onboarding useless for Premium Plan customers and below useless.

[2022-09-18 13:16] dcoleonline commented on #60257
Also in 5555148-zen. Also, the documentation currently states that an Apple icon is part of the block.

[2022-09-18 14:56] jp-imagines commented on #62813
Came across this in 5566210-zd-woothemes. This user was trying to upgrade from biyearly Personal plan to Premium from Calypso (`http://wordpress.com/plans/{site}`) and encountered the error.

I understand that plan upgrade/term downgrade situations aren't self-serve right now, but this still feels very broken for users (especially those who aren't looking for a term downgrade). @Automattic/shillin

[2022-09-18 19:03] NoHopeRadio opened #67943 "[Navigation Block] Submenus in Overlay do not Collapse"
### Quick summary

In a navigation block with a submenu, when selecting Open on click and Always Overlay, the submenu items do not collapse and the open to show an arrow is not selectable. The arrow is also not present.

<img width="1162" alt="Screenshot on 2022-09-18 at 14-54-41" src="https://user-images.githubusercontent.com/71042895/190923870-842d74c3-5ac3-450b-92dd-130f85dd1e6d.png">

This beh

[2022-09-18 19:37] kcswong commented on #64552
Encountered this in 36697186-hc, tested in both WP Admin and Calypso.
Follow-up ticket: 5566734-zen

[2022-09-18 22:04] #67152 closed, assigned to sejas

[2022-09-19 01:03] cuemarie commented on #67914
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated on simple and AT sites in chat today.
- Based on the links shared above, seems there's an update already in the works. Thanks for reporting!

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-09-19 02:29] autumnfjeld commented on #67713
Just updated issue description .  The PA will only go in the build flow p1663316142361469-slack-CRWCHQGUB

[2022-09-19 02:36] lsl commented on #65574
Thanks, the first PR should get most of this, remainder fixes tracking in https://github.com/Automattic/wp-calypso/pull/67781#issuecomment-1250436102.

[2022-09-19 02:41] cuemarie commented on #67623
Encountered this issue here: 36983948-hc

**Workaround**
I had the user try placing the "Post Featured Image" block inside of it's own Group Block, and that helped get the image down to a size that matched the content closely, while staying responsive.

They decided to remove the block altogether for their own design goals, so no follow up needed.

[2022-09-19 03:09] edwinho89 opened #67946 "Allow creating sticky sidebar on FSE themes"
### What

While there are tutorials on how we can [create sidebars by using Column blocks](https://learn.wordpress.org/tutorial/building-sidebars-with-the-site-editor/), it'd be great if there's the option to set the  sidebar 'sticky' as well.

Requested from 36777854-hc

### Why

Sticky sidebars allows reader to navigate, view better sidebar contents even when scrolling further downwards.

### Ho

[2022-09-19 03:58] miksansegundo commented on #67884
@autumnfjeld I updated that text in the [PR](https://github.com/Automattic/wp-calypso/pull/67889), and it's ready for review.

[2022-09-19 04:12] fushar opened #67951 "Pattern Assembler: Show the CTA only for the Build flow"
#### Description

Revising #67713, the "Start with a blank canvas" CTA should only show for the build flow and not the write flow, as right now we don't have patterns suitable for blogs.

#### Acceptance Criteria
- [x] The “Start with a blank canvas” CTA should only show for the build ~and write~ flow. (see convo p1663316142361469-slack-CRWCHQGUB

cc: @Automattic/ganon

[2022-09-19 04:18] bangank36 opened #67952 "Pattern Assembler: Pattern is duplicated when editting"
#### Steps to reproduce

1.  Visit PA screen: http://calypso.localhost:3000/setup/patternAssembler?siteSlug={your_site}
2. Add a section ( Add a first section or Add another section ) eg: "Image and text side by side"
3. Hover over the selected pattern and click edit, try to select the same pattern "Image and text side by side", you will see it is duplicated on the list

#### What I expected

1. T

[2022-09-19 06:30] csabarakasz opened #67957 "List block shows extra line break on the back end"
### Quick summary

The List Block creates this extra line break look soon after a new line is inserted.

Looks broken on the backend, but okay on the frontend.

https://user-images.githubusercontent.com/84539773/190960440-e3baf24a-fde2-4d73-8823-cd55e00c76d2.mp4

### Steps to reproduce

Insert List block.
Add a new line.
Publish the page. Frontend looks okay.

### What you expected to happen

Ther

[2022-09-19 07:57] ivan-ottinger commented on #67804
We have deployed the D87704-code patch.

[2022-09-19 07:57] #67804 closed, assigned to ivan-ottinger

[2022-09-19 08:47] csabarakasz commented on #61660
user looking for this:

- [ ] 36994590-hc

Told them to use https://woocommerce.com/document/mini-cart-for-woocommerce/ Thanks.

[2022-09-19 09:15] #67849 closed, assigned to escapemanuele

[2022-09-19 09:18] taipeicoder commented on #67388
Closing as it's deployed.

[2022-09-19 09:18] #67388 closed, assigned to taipeicoder

[2022-09-19 09:22] daria2303 commented on #66653
Thank you @cuemarie for checking that! I should mention that my test IG account has just several images and still it displayed weirdly. However, at the moment I am not able to connect with IG at all.

[2022-09-19 09:25] #67931 closed, assigned to arcangelini

[2022-09-19 09:28] daria2303 commented on #65344
@cuemarie thank you!

Yes, it does.

Agree that it may be the same.

[2022-09-19 09:42] candy02058912 opened #67961 "Marketplace: Plan information step for other screen sizes"
Follow-up issue for #67574

See [comment](https://github.com/Automattic/wp-calypso/issues/67574#issuecomment-1249319530) for more details.

Acceptance criteria:

- [ ]  Has the same function as the desktop version for other screen sizes

[2022-09-19 09:52] alaczek commented on #67867
This seems to be a problem on the demo site only - I could not reproduce it on another site using Thriving Artist.
I encountered this while developing the theme, and chatted with Woo devs, but we didn't dig too deeply at the time.
Slack convo here: p1659592767525439-slack-C02SGH7JBGS

[2022-09-19 10:25] miksansegundo commented on #66789
Here is the list of patterns IDs from passembler.wordpress.com:

**Layout 1**
https://patternboilerplates.wordpress.com/?p=1707
https://patternboilerplates.wordpress.com/?p=1163
https://patternboilerplates.wordpress.com/?p=2173
**https://dotcompatterns.wordpress.com/?p=5634**

**Layout 2**
https://patternboilerplates.wordpress.com/?p=2077
https://patternboilerplates.wordpress.com/?p=898
https://pa

[2022-09-19 11:31] ivan-ottinger commented on #66739
Thank you for sharing the details Robert and Eduardo!

I have added the issue to our maintenance project board.

[2022-09-19 11:56] jeyip commented on #67660
Potential Fix https://github.com/Automattic/wp-calypso/pull/67967

[2022-09-19 12:14] ivan-ottinger opened #67968 "[All] The Jetpack icon in the email header is not retina-ready"
![Image](https://user-images.githubusercontent.com/25105483/191014988-87c8325c-362d-41ca-a836-cfe33a2c50ea.png)

Initial report: p1663587624826559-slack-C02TCEHP3HA.

[2022-09-19 12:21] #67668 closed, assigned to heavyweight

[2022-09-19 13:28] #67730 closed, assigned to JuanLucha

[2022-09-19 13:39] mikeicode commented on #67867
@alaczek I tried on an AT site and the cart does work for me, although it appears to have some styling issues.

![Screen Shot on 2022-09-19 at 09:34:09](https://user-images.githubusercontent.com/10353785/191030662-17511cd6-d0b5-4508-8434-07e02848e269.png)

[2022-09-19 14:07] gcsecsey commented on #67644
@epeicher I've investigated this issue a bit, but I couldn't find a solution that would show all the required results.

### Finding all plugins by author

I've also tested this, and I don't think we could use a `match` query with author names because of this reason.

We could, however, try to filter for the author name on multiple fields at the same time. Based on some examples, eg. try matching t

[2022-09-19 14:24] daria2303 commented on #67229
@fullofcaffeine @vajrasar 5566112-zd-woothemes experienced this issue and at the same time the Quotes block got an  error, after block recovery text is removed from the editor but it is kept in the frontend (same in HTML code)
https://user-images.githubusercontent.com/11535091/191040252-77a454d2-32c0-481f-840e-7d8030196305.mp4
User has many posts and cannot copy-paste the text in all of them. Is t

[2022-09-19 14:39] Addison-Stavlo opened #67974 "LaunchPad - newsletter - enable flow for completed "Set up" task"
For newsletter sites - Lets make it so users can click on the completed task of initial "Set up", so that they can go back to add/change their logo, accent color, title, description info.

The flow should lead back to the initial setup form, and on completion/submit should lead back into the launchpad.

related to visuals for completed by navigable tasks:
* p1662465290003359/1662422322.697699-slac

[2022-09-19 14:51] candy02058912 opened #67975 "Marketplace: Plan information step footer"
The blue-boxed area

![Image](https://user-images.githubusercontent.com/6586048/191046403-7adcefbd-dcd9-422e-8187-513207156862.png)

Acceptance criteria:

- [ ] Have the footer showing

[2022-09-19 14:53] candy02058912 opened #67976 "Marketplace: Plan information step nudge"
The blue-boxed area

![Image](https://user-images.githubusercontent.com/6586048/191046949-c1523b29-9cb2-44c8-97ee-f1e268478a36.png)

Acceptance criteria:

- [ ] Shows the nudge
- [ ] connects to checkout

[2022-09-19 14:55] candy02058912 opened #67977 "Marketplace: Plan information step hints"
The blue-boxed area

![Image](https://user-images.githubusercontent.com/6586048/191047347-665d5445-23fb-455d-accc-4cb955746339.png)

Acceptance criteria:

- [ ] Shows the hints (not sure what to call them)

[2022-09-19 14:59] candy02058912 commented on #67574
Related issues:

- [Marketplace: Plan information step hints](https://github.com/Automattic/wp-calypso/issues/67977)
- [Marketplace: Plan information step nudge](https://github.com/Automattic/wp-calypso/issues/67976)
- [Marketplace: Plan information step footer](https://github.com/Automattic/wp-calypso/issues/67975)

[2022-09-19 15:05] allilevine opened #67979 "Marketplace: Implement compact card design"
For design specs see https://github.com/Automattic/wp-calypso/issues/67987

We need to implement a compact version of the plugin cards, to reduce the screen real estate plugin cards take up, and differentiate Collections.

Acceptance criteria:
- [ ] The card fits the specs outlined in https://github.com/Automattic/wp-calypso/issues/67987

[2022-09-19 15:07] allilevine opened #67980 "Marketplace: Add powering your online store collection"
For our first collection, let's add an additional group of plugins to the /plugins landing page (hard-coded). Group B from: pdh6GB-1TT-p2

Acceptance criteria:
- [ ] There is a group of curated plugins on the landing page, that corresponds to a user need.
- [ ] The group has the correct placement on the page, based on https://github.com/Automattic/wp-calypso/issues/67987
- [ ] The group follows th

[2022-09-19 15:09] allilevine opened #67982 "Marketplace: Add supercharging and monetizing your blog collection"
For our first collection, let's add an additional group of plugins to the /plugins landing page (hard-coded). Group C from: pdh6GB-1TT-p2

Acceptance criteria:
- [ ] There is a group of curated plugins on the landing page, that corresponds to a user need.
- [ ] The group has the correct placement on the page, based on https://github.com/Automattic/wp-calypso/issues/67987
- [ ] The group follows th

[2022-09-19 15:19] danielbachhuber commented on #67043
@zaguiini One thing I just thought of (while looking at #890): we're not yet tracking interactions for non-Automatticians, so "automagical" sorting doesn't actually do much 🙃

We should probably only make the option available to Automatticians until we track interactions for all users.

[2022-09-19 15:44] gcsecsey commented on #63167
Diff raised here: D87985-code

While working on this, I've been thinking about the `category` parameter having a similar role to the already existing `group_id` parameter.

We use `group_id` to be able to define some rules on the API side and restrict the consumer to using these rules. While working on categories, I've realized that some of the filters/sorting I'm trying to define as a category wi

[2022-09-19 15:59] #67860 closed, assigned to JuanLucha

[2022-09-19 16:11] cuemarie commented on #67618
Just came across this feature request after running into this issue in chat here: 37005999-hc

This kind of feature sounds awesome! Anecdotally I feel like I run into this confusion a LOT with users, and some kind of speed bump in the path toward creating another site would be great to see; it would at least lay the ground work for helping them undo things later on 😄

[2022-09-19 16:26] vinimotaa commented on #67695
Figma board [can be found here](https://www.figma.com/file/HOg65lHD0QOfaq0QtzKQbC/Dog-Fooding?node-id=962%3A10389) for now.

[2022-09-19 16:45] masperber opened #67986 "Blind Customer Unable to Read Chat"
### Quick summary

A blind customer who has previously chatted with us was not able to read our responses today.

Initial chat: 37005932-hc

Followup email: 5568697-zen

### Steps to reproduce

Unsure of steps to reproduce

### What you expected to happen

Customer should be able to read our responses with their screen reader application.

### What actually happened

Customer was unable to read ou

[2022-09-19 16:57] masperber commented on #67986
Further feedback from customer:

[2022-09-19 17:20] vinimotaa opened #67987 "Marketplace: Plugin Collections (Section Component)"
This issue is a breakdown of the section component for the Plugin Collections on the landing page. The context and more information about this initiative can be found here pdh6GB-1TT-p2.

Collections will be hosted as a section on the landing page. Collections will have a different product card compared to the other categories. We need to design this new product card to simplify the information so

[2022-09-19 17:31] vinimotaa commented on #67987
First Collections:

**Setting up your local business**
These plugins are here to keep your business on track

Yoast SEO Premium
WooCommerce Bookings (or StartBooking, once that has launched)
Professional Email
MailPoet
GravityForms

**Powering your online store**
Tools that will set you up to optimize your online business

WooCommerce Subscriptions
Xero
AutomateWoo
Shipment tracking by Automattic

[2022-09-19 17:59] #67824 closed, assigned to jeyip

[2022-09-19 18:15] sirbrillig commented on #62813
This seems like a good idea. Typically Marketing handles the Plans page, but we can take a look.

[2022-09-19 20:00] #67043 closed, assigned to zaguiini

[2022-09-19 20:03] danielbachhuber commented on #67455
Fixed by removing code with #67881

[2022-09-19 20:03] #67455 closed, assigned to zaguiini

[2022-09-19 20:15] #67316 closed, assigned to zaguiini

[2022-09-19 20:50] youbrokesomething commented on #67382
I was able to reproduce the same behavior with Spotlight Mode and Fullscreen mode as well. Fullscreen mode is defaulted to on and won't stay off. [It looks like this might be a duplicate issue.](https://github.com/Automattic/wp-calypso/issues/64324) However, not being able to reproduce on a paid site seems new.

[2022-09-19 21:19] allilevine commented on #67693
@DustyReagan Should we close this one for now, since https://github.com/Automattic/wp-calypso/pull/67829 was merged?

[2022-09-19 21:23] obenland commented on #65898
Thank you!

[2022-09-19 21:23] #65898 closed, assigned to JulianBustamante

[2022-09-19 21:26] youbrokesomething commented on #57133
I can't reproduce this issue with Geologist at this time. My homepage content was replaced with my most recent posts as expected so, I'm going to close this for now. However, I will say that the other open tickets still linked to this one are valid. While the feature is doing what we expect, it might not be what the customer expects if they want all the nice example images etc.

[2022-09-19 21:26] #57133 closed, assigned to nobody

[2022-09-19 21:31] arinoch commented on #67986
@masperber - Were you able to obtain browser and operating systeminfo from the user? I intend to attempt reproducing this issue later this week.

[2022-09-19 22:30] #67841 closed, assigned to DustyReagan

[2022-09-19 23:50] #66574 closed, assigned to agrullon95

[2022-09-20 01:06] lsl opened #67994 "Marketplace: Free plugin handling"
Free plan shows Jetpack and Akismet as installed and managed but the copy here about what is included with a business plan upgrade doesn't make sense given there is no upgrade being required.

![Screenshot(11)](https://user-images.githubusercontent.com/811776/191145365-5286e0df-ec0a-4ff8-bfec-25e8cdeb6b45.png)

There's also a strange design artifact with the duplicate border separator of different

[2022-09-20 01:39] zachspears commented on #67774
While this request has an easy workaround using the new FSE features I do think it could provide value and will pass this along to continue the conversation regarding this possible feature inclusion.

[2022-09-20 01:43] zachspears commented on #67812
This is a great enhancement request! I know I have had numerous chats about users asking for clarification regarding the pro-rated credits, what they are and how to redeem them. Marking this as High priority due to a high impact.

[2022-09-20 01:54] zachspears commented on #67819
Unable to reproduce, leaving for a second opinion.

[2022-09-20 01:56] lsl commented on #67977
@vinimotaa Are there any specific icons you want us to use? http://automattic.github.io/gridicons/ Doesn't have a lightbulb.

[2022-09-20 02:04] zachspears commented on #67832
I was unable to reproduce the blank page issue, however, I did get stuck on the "loading" screen. Adding Normal priority due to the inability to sign up when impacting a user.

[2022-09-20 02:53] fushar commented on #67079
Now that I just played around with the feature, I (subjectively) feel that the current performance is good enough. I suggest before taking any action on this issue, let's wait for the CfT and see if people will find that the feature is slow.

[2022-09-20 02:59] fushar commented on #67880
I just discovered that Team Vertex actually did a performance enhancement on Design Picker before the Unified Design Picker era. See: https://github.com/Automattic/wp-calypso/pull/63129. Basically it will pre-fetch the designs before the user even lands in it.

I'd suggest we first try to port that logic to UDP and see if it feels fast? (and therefore we don't need to implement this "load on scrol

[2022-09-20 03:10] ouikhuan opened #67999 "Remove addition reset migration API calls after the migration is finished"
In the onboarding flow, if you finish importing everything from your self-hosted site to WP.com and stay on the Hooray page, there are two APIs that keep getting called:

1. request sites API
2. reset migration API

This is because when the request sites API gets fetched, it will always generate a new `jetpack_frame_nonce` value and causing the component to update, and two APIs we mentioned above

[2022-09-20 03:14] jordesign opened #68000 "Map Block: Unable to add MapBox access token"
### Quick summary

When editing the settings for the Map Block (only on DotCom) it isn't possible to enter/paste any value into the Mapbox Access Token field.

### Steps to reproduce

1. Edit a page or post on the site and insert a Map block.
2. Try and add a MapBox access token in the Sidebar settings for the block.

### What you expected to happen

To be able to add a value to the text field and

[2022-09-20 03:18] jordesign commented on #68000
I've not been able to recreate this in Jurassic Ninja - so although this is a Jetpack block it seems to only be impacted on DotCom.

[2022-09-20 04:07] bangank36 commented on #67632
Closed as landed

[2022-09-20 04:19] lsl opened #68003 "Marketplace: Plans page showFAQ"
[`showFAQ`](https://github.com/Automattic/wp-calypso/blob/d65ccf47b81c5d756c09209fe2328ce7c54c35e4/client/my-sites/plans-features-main/index.jsx#L532) is dead code.

- [ ] Implement logic for showFAQ (https://github.com/Automattic/wp-calypso/pull/68010)
- [ ] Use it in the plugins plan page to hide the faq

[2022-09-20 04:33] ouikhuan opened #68004 "Improve the JPC flow in the Tools > Import flow"
**Issue**
If you go to Tools > Import and try to import your self-hosted site to WP.com, you'll find that when clicking on the Install Jetpack link, it will replace the current page with the JPC flow, and it won't get back to the import page after the JPC flow ends. (It'll be redirected to the `/recommendations` page like the onboarding flow before we make the skip plans changes).

**Goal**
Ideall

[2022-09-20 04:42] happychait commented on #55795
Another report 5561803-zen

[2022-09-20 05:29] donalirl opened #68006 "Updates to the Contextual Help Tab"
### Quick summary

There is a contextual help tab in the classic view of WP Admin sites, with out-of-date information. We should consider reviewing and optimizing this area.

### Steps to reproduce

1. On a simple site, visit a dashboard page that has a wp-admin equivalent, such as Pages, Posts, or Comments.
2. Click on View in the top right corner, and select 'Classic View'.
3. Click on the Help

[2022-09-20 05:38] donalirl commented on #52191
Hello @dpasque @escapemanuele 👋

It looks like this reverted at some point. The links are linking to .org docs again in the editor on both simple and atomic:

![image](https://user-images.githubusercontent.com/30727666/191175645-26d7ced5-a55d-45d8-846c-b49479f0b9bb.png)
Links to: https://wordpress.org/support/article/settings-sidebar/#permalink

and:

![image](https://user-images.githubusercontent

[2022-09-20 05:52] #67883 closed, assigned to miksansegundo

[2022-09-20 06:29] taipeicoder commented on #67951
Closing as it's deployed.

[2022-09-20 06:29] #67951 closed, assigned to fushar

[2022-09-20 07:08] lsl commented on #67574
This isn't easily possible.

Would you like to show all paid plans like /plans or just business + ecom plans?

Including the current plan is sort of possible but it disables the monthly / yearly price toggle options as a side effect.

[2022-09-20 07:20] epeicher commented on #67644
Thanks @gcsecsey for the thorough analysis! I totally agree that the search experience would improve if we add faceting with a tree of aggregated author results that the user can click to filter down results.

But as a current approach, do you agree that using the current `plugin.author.raw` field is good enough for the time being?

@cpapazoglou  please note that we have not found a proper solutio

[2022-09-20 08:09] epeicher commented on #63167
That's a great idea @gcsecsey, I like the idea of using `group_id` as a filter that encapsulates some functionality.

Trying a PoC here is a good approach as we would like to avoid losing flexibility. Maybe we could add an additional parameter for that and rename `group_id` to `data_source` or something similar? 🤔 Just suggesting options but I will leave it to you to iterate on that 😄

For the tim

[2022-09-20 08:55] candy02058912 commented on #67961
We'll need to follow on [this comment](https://github.com/Automattic/wp-calypso/issues/67574#issuecomment-1251932161) before proceeding.

[2022-09-20 09:16] cpapazoglou commented on #67644
Yes, let's close this for the time being.

[2022-09-20 09:32] vindl commented on #67648
Thanks! Closing this as completed from a design standpoint. I'll open up a new ticket for dev.

[2022-09-20 09:32] #67648 closed, assigned to SaxonF

[2022-09-20 09:48] escapemanuele commented on #52191
Hey @donalirl, I see that also the link text changed ( From `Read about permalinks` to `Learn more` for example). So I suppose that someone changed the links in core and now in calypso we fail to intercept those new links.
I'll open a new PR for these links.

[2022-09-20 09:50] escapemanuele opened #68009 "Calypso: update excerpts and permalink documentation links to wpcom"
https://github.com/Automattic/wp-calypso/issues/52191#issuecomment-1251864383

Links were probably updated in wordpress core, so we need to intercept these new links.

[2022-09-20 10:31] alshakero opened #68012 "Task: Help Center - Rename fake-faces directory to something else"
### Details

Rename `https://s0.wp.com/i/fake-faces/face-1.jpg` dir to something nicer.

### Checklist

- [ ] Rename the dir in a diff
- [ ] Update help center in a PR.

### Related

_No response_

[2022-09-20 10:37] alshakero opened #68013 "Task: Help Center - investigate the situation of /start - maybe we should show the FAB"
### Details

Currently, there are three help possibilities

- Inline help
- Help center
- Nothing

/start is getting nothing. We should investigate if we want to keep the FAB there instead. By investigate, I mean ask /start stakeholders and see what they think. Maybe each flow can decide if it wants inline help.

See p7DVsv-fpN-p2#comment-42106 for context.

### Checklist

_No response_

### Relat

[2022-09-20 11:03] alshakero opened #68015 "Task: Help Center - Fill entry icon to make it solid like the design"
### Details

Currently, the icon is an outline, it should be solid when the help center is closed. As visible here

pbAok1-2D2-p2

### Checklist

_No response_

### Related

_No response_

[2022-09-20 11:08] alshakero opened #68016 "Task: Move Help Center close to the top bar"
### Details

Change the default Help Center position as close as possible to the top bar, with a margin of 10px tops.

### Checklist

_No response_

### Related

_No response_

[2022-09-20 11:09] vindl opened #68018 "Sites Management Page: promote tailored flows"
When user has 1 site, let's promote the newly released link-in-bio tailored flow in the grid view.

![image](https://user-images.githubusercontent.com/1182160/191242465-cc0c5f19-81c7-4ad1-9f8f-dedecd39f53b.png)

Done is:
- [ ] visuals match the proposed designs https://github.com/Automattic/wp-calypso/issues/68018#issuecomment-1257483200
- [ ] clicking on button opens up the link-in-bio tailored f

[2022-09-20 11:10] csabarakasz commented on #32887
- [ ] 37015603-hc

Same issue. I could replicate it. Workaround: use the WP-Admin, Edit with elementor link.

[2022-09-20 11:15] vindl commented on #68018
Questions for @SaxonF:

- where can we get the image assets for this?
- should we do something similar in list view?
- should we do it in the case when there are 4-5 sites?

[2022-09-20 11:15] alshakero opened #68019 "Task: Help Center - Less prominent external icons"
### Details

The external icons are too prominent in the help center homepage. Make them small and less bright.

And remove the external icon from What's new.

### Checklist

_No response_

### Related

_No response_

[2022-09-20 11:20] vindl opened #68020 "Sites Management Page: provide next steps for un-launched sites"
As part of i2, we want to provide the next steps for un-launched sites in the status column and grid view:

![image](https://user-images.githubusercontent.com/1182160/191244248-ebcbb8af-3de1-4ea9-b935-1299132a788e.png)

![image](https://user-images.githubusercontent.com/1182160/191244362-bbed06f3-6d7d-470e-9b3c-fea6157f04bb.png)

Done is:
- [ ] The implementation matches the proposed designs visua

[2022-09-20 11:20] danielbachhuber opened #68021 "Sites Management Page: Accessibility concerns with dropdowns"
@wojtekn [identified some accessibility concerns](https://github.com/Automattic/wp-calypso/pull/67936#issuecomment-1250671637) with the dropdowns:

I think 2 and 3 are easily fixable. 1 might be a more difficult issue with the underlying component.

**Done is:**
* We've fixed what we easily can, and opened new issues (if needed) for more thorny problems.

[2022-09-20 11:22] vindl commented on #68018
@danielbachhuber I'll add that to the list of question for Saxon.

[2022-09-20 11:23] vindl commented on #68020
Questions for @SaxonF:

- What exact steps do we want to surface here?

[2022-09-20 11:53] gcsecsey commented on #67644
Sorry for forgetting to answer this earlier. Yes, I think that overall, using the `plugin.author.raw` field is a good interim solution, until we can implement a more robust one with facets.

[2022-09-20 12:14] epeicher commented on #67644
Closing this issue as per discussion in the comments, the current filtering approach is a good interim solution. A more global approach where we use faceting by author to filter by exact terms would be something that will improve the search experience

[2022-09-20 12:14] #67644 closed, assigned to epeicher

[2022-09-20 12:29] vinimotaa commented on #67994
What about something like this?

<img width="1140" alt="image" src="https://user-images.githubusercontent.com/97929097/191257654-f4ee24ed-771e-48e2-b887-f4a9ca30e8d9.png">

[2022-09-20 12:33] vinimotaa commented on #67977
Money back guarantee:
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/97929097/191258215-9fb17dd6-f5c6-4e36-85be-4bbf52561665.png">

Flex your site with plugins
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/97929097/191258330-cce95bb8-1afb-4298-858a-12dfe6bd9665.png">

Essential features
<img width="1140" alt="image" src="https://user-ima

[2022-09-20 12:36] vinimotaa commented on #67574
We only need to show Business and eCommerce as these are the only ones which allows plugin access.

[2022-09-20 12:37] alshakero commented on #67933
This happens due to a discrepancy in the environment between the availability check and the actual chat. The availability check happens in either Calypso or the Editing Toolkit and finds available slots against Happychat staging. Then the chat lives in a separate app under apps/happychat and connects to prod where there are no slots.

This becomes even more tricky in the editor because has no envi

[2022-09-20 12:42] alshakero opened #68026 "Task: Hide the Help Center for users with no sites and show the FAB instead"
### Details

The help center heavily depends on the user having a site to render the right help articles and to fill the contact form fields.

Let's show the FAB istead of the Help CEnter in that case.

### Checklist

_No response_

### Related

_No response_

[2022-09-20 12:45] alshakero opened #68027 "Task: Remove Directly variation from Help Center"
### Details

Free users had two support options. Forums and Directly. Directly is no more since Sep. 12th, and we should remove it from the Help Center.

Context here: pcbce7-2tb-p2#comment-3088

### Checklist

_No response_

### Related

_No response_

[2022-09-20 13:10] miksansegundo commented on #67952
I found the bug! I could not resist fixing it 😊 in https://github.com/Automattic/wp-calypso/pull/68029

[2022-09-20 13:21] masperber commented on #66720
13082678-hc Another report where the user reported that their new post notification emails contained `<strong>` tags in the title.

As a workaround, I suggested that they use the Quick Edit function to remove these tags before publishing.

[2022-09-20 13:23] danielbachhuber opened #68030 "Site Switcher: Tweak 'Magic' sorting algorithm to put primary site first, use frequency as tiebreaker"
Couple of tweaks to the 'Magic' sorting algorithm that I think will improve the experience:
1. ~Always put the primary site first.~
2. If two sites have an interaction on the same date, use the total amount of interactions as the next tiebreaker (before sorting alphabetically).

**Done is:**
* ~Both of these tweaks are~ The second tweak is applied to the algorithm.

[2022-09-20 13:38] vindl commented on #68030
I left some comments in Slack related to this. I'm not convinced that the primary site needs to be at the top:

- I'm not using it or accessing it very frequently. It's just a test blog for me, and it's not valuable to surface it at the top.
- For folks that are using it frequently, the interaction algorithm should place it towards the top anyway.

[2022-09-20 13:45] pauljacobson opened #68031 "Publicize: Posts shared to Facebook don't display complete post previews with featured images"
### Quick summary

There are a number of reports of posts being shared to Facebook using the Publicize feature and the post previews don't display featured images. This has proven difficult to troubleshoot as Facebook's Debug tool frequently seems to crash when we add a post link to debug.

Our team has tried various steps, including the following:

– Reconnecting FB
– verified that the image had

[2022-09-20 13:56] jp-imagines commented on #61756
Had another similar request in 36958084-hc.

[2022-09-20 14:06] #67541 closed, assigned to WBerredo

[2022-09-20 14:07] gcsecsey commented on #63167
@epeicher I've updated a diff a bit to support more sorting options, and added testing instructions, please take a look when you can!

I've looked into making the Calypso changes, so that eg. we can show the _Editor's Pick_ section using the featured plugins from WP.org. I've found that we currently serve featured plugins only through the WPCOM API `wpcom/v2/plugins/featured`.

https://github.com/

[2022-09-20 14:26] Addison-Stavlo opened #68033 "LaunchPad - Update the main copy to be dynamic"
The main Launchpad copy ("Your ${flowName} is ready to launch!") is static and sometimes unfitting for the situation.  We should update this to be more dynamic.

<img width="512" alt="Screen Shot 2022-09-20 at 10 19 02 AM" src="https://user-images.githubusercontent.com/28742426/191282688-91ff755a-a573-4914-9712-4bcd5e2b07fd.png">

1. When the site is not yet ready to launch (incomplete dependent s

[2022-09-20 14:30] Addison-Stavlo opened #68034 "LaunchPad - update "Set up" task title"
We should update the Set up task to read as "Personalize". So instead of `"Set up ${siteType}"` as shown below, we should update this to `"Personalize ${siteType}"`.

<img width="495" alt="Screen Shot 2022-09-20 at 10 28 01 AM" src="https://user-images.githubusercontent.com/28742426/191284990-ddd19707-b762-44eb-82fc-f49b367ba44e.png">

[2022-09-20 14:33] Addison-Stavlo opened #68035 "LaunchPad - update "Go to admin" hover color"
The "Go to Admin" link should be our standard blue color on hover.

<img width="495" alt="Screen Shot 2022-09-20 at 10 32 18 AM" src="https://user-images.githubusercontent.com/28742426/191286154-780b96a3-3b77-44e5-a6d4-730d9602b083.png">

[2022-09-20 14:37] Addison-Stavlo opened #68036 "LaunchPad - make Progress bar rounded"
The progress bar shown on the LaunchPad should be rounded on both sides. Currently it is squared:

<img width="214" alt="Screen Shot 2022-09-20 at 10 36 51 AM" src="https://user-images.githubusercontent.com/28742426/191287224-dd028773-4ff9-4585-b234-1d687ea6cc99.png">

[2022-09-20 14:41] Addison-Stavlo opened #68037 "LaunchPad - remove visible arrows from completed tasks."
Currently completed tasks that allow revisiting have visible chevron/arrows, such as "Add links" in the example below:

<img width="478" alt="Screen Shot 2022-09-20 at 10 40 23 AM" src="https://user-images.githubusercontent.com/28742426/191288105-bc65b995-dda1-408e-9dbf-cc02820f6577.png">

We want to update these to not show the arrow by default.

Uncertain: Do we want to leave these arrows on hov

[2022-09-20 14:48] Addison-Stavlo opened #68038 "LaunchPad - domain preview to handle long domains"
We should update the domain preview section of the launchpad to truncate (...) long domains and keep them inside the preview area:

<img width="600" alt="Screen Shot 2022-09-20 at 10 48 12 AM" src="https://user-images.githubusercontent.com/28742426/191290188-617d652c-4737-4778-87ce-d9a1b28ea492.png">

[2022-09-20 15:23] Addison-Stavlo commented on #67929
From my own testing I am seeing:
* Creating new sites with a "Free" or "Personal" plan reproduce this issue.
* Creating new sites with a "Premium", "Business", or "E-Commerce" plan do not reproduce this issue.

[2022-09-20 15:54] khristiansnyder commented on #54908
The same user that initially reported this bug reached out in chat to report it again. #33462320-hc

[2022-09-20 15:58] masperber commented on #67986
@arinoch

This information was captured

[code]

[2022-09-20 15:59] marcuswisecaesar commented on #67229
I could not replicate this issue in my testing, and upon restoring the revision containing the full quote, the error no longer appeared. I've triple-checked to ensure the error has cleared on the user end and let the user know.

[2022-09-20 16:03] #67693 closed, assigned to DustyReagan

[2022-09-20 16:05] danielbachhuber opened #68043 "Site Selector: Apply sort order before searching the list"
From https://github.com/Automattic/wp-calypso/pull/68042

In order to ensure the search relevancy algorithm is applied to the list of results, we should make sure the sort order is applied _before_ searching the list.

**Done is:**
* Sort order is applied before searching the list.

[2022-09-20 16:09] zaguiini opened #68044 "Sites Management Page: Enable Magic sorting in production"
### Details

In https://github.com/Automattic/wp-calypso/pull/67990 we disabled "Sort by: Magic" in production as it's a feature not yet ready for all WPCOM users. It's lacking training before actually becoming useful to the users, so we chose to disable it.

### Checklist

- [x] Remove all references to the `sites/automagical-sorting` feature flag from the code base.

[2022-09-20 16:58] DavidRothstein opened #68049 "[Bug]: Jetpack plans outside the refund window show both "Cancel" and "Remove" links on the purchase management page"
### Quick summary

If you buy a Jetpack plan and wait until it's outside of the refund window, you see both "Cancel" (which turns off auto-renew) and "Remove" (which fully removes the subscription) links on the purchase management page:

![jetpack-cancel-and-remove](https://user-images.githubusercontent.com/235183/191318560-35e7932f-1616-418b-a059-636e2a49fbe2.png)

In keeping with how other produ

[2022-09-20 17:13] DavidRothstein commented on #62813
Just tested and it worked that way for me already... I got a biyearly plan during the upgrade.  Is this still reproducible?

[2022-09-20 17:19] john-legg commented on #64870
Hi @worldomonation! I've made these changes locally, but I just want to confirm one thing before pushing. I noticed that there was one test left with the `jest/no-disabled-tests` rule being used:

- [checkout-contact-step.js](https://github.com/Automattic/wp-calypso/blob/e1dfd101d09bc9e691ec93fa1b0532a8ee7385f6/client/my-sites/checkout/composite-checkout/test/checkout-contact-step.js#L261)

Since

[2022-09-20 17:25] michaeldcain commented on #67618
From planning:

Given the lower tagged chat number and the improvements by Marketing, we'll place this in the backlog and maybe work on it in a future hack week. If more instances start to happen we can move it back to the inbox.

[2022-09-20 17:38] youbrokesomething commented on #46802
I can't reproduce this issue at the moment, and it looks like there haven't been user reports since May 2021, so I'm going to close this for now. Please reopen if we get any new reports.

[2022-09-20 17:38] #46802 closed

[2022-09-20 17:38] michaeldcain commented on #62813
@jp-imagines: if you can reproduce the issue (of biyearly users not seeing biyearly plans on the plans page) we can address that in a separate issue. Alternatively, if we're misunderstanding the flow the user went through, please let us know.

[2022-09-20 17:41] john-legg commented on #62778
After running `support__popover-invalid` and `support_home` multiple times locally, I haven't been able to replicate the issue. I ran the tests on different build environments as well as through the debugger and they still pass every time.
@worldomonation mentioned that the next steps should be:
- [ ] Decide whether or not to re-enable the test.
- [ ] If re-enabled, determine for which test suites

[2022-09-20 17:46] youbrokesomething commented on #53159
There don't seem to be any reports of this issue after Sept 2021. I'm going to close this issue for now. Please reopen if it is reported again.

[2022-09-20 17:46] #53159 closed, assigned to nobody

[2022-09-20 17:47] vykes-mac commented on #67508
deployed here D87347-code

[2022-09-20 17:47] #67508 closed, assigned to vykes-mac

[2022-09-20 18:09] valterlorran commented on #67030
Hey! I added a possible fix here: D88111-code

[2022-09-20 18:09] worldomonation commented on #62778
I am in favor of re-enabling at least one of the specs with the group `calypso-pr`, which would enable it to run on _every commit on every branch except for trunk_.

After enabling, it would be good to monitor the pass/fail rate of this spec. Once we establish that this flakiness is gone then re-enable the other one.

How does that sound @john-legg?

[2022-09-20 18:13] youbrokesomething commented on #23937
It looks like there's been a couple of attempts at fixing this with the most recent, that I can find, being from October 2019. I can't reproduce the issue now and there have been no updates in over a year. So, I'm going to close this. Please reopen if there's a new user report.

[2022-09-20 18:13] #23937 closed

[2022-09-20 18:28] dpasque commented on #67344
I was doing some dogfooding on a site and ran into this, and wanted to add a little more information.

This actually seems to affect every setting under the Global Style Layout panel, not just block spacing. For example, you can't change the content width.

I also would recommend considering this for a higher priority, as the workaround for some of those settings can get a little tricky. For examp

[2022-09-20 19:36] youbrokesomething commented on #57390
Looks like this was fixed in Gutenburg 13.8 so I'm going to close this ticket for now.

[2022-09-20 19:51] worldomonation commented on #64870
@john-legg Yes, let's focus only on E2E specs under `tests/e2e` for now. The changes to disable the rule should also be limited to the `test/e2e` folder.

[2022-09-20 20:15] youbrokesomething commented on #47992
I'm not able to reproduce this issue and it's been five months since this issue was last updated. I'm going to close this issue, please re-open it if there's any new user reports.

[2022-09-20 20:15] #47992 closed, assigned to nobody

[2022-09-20 20:29] youbrokesomething commented on #43904
The Redhill theme was retired in June 2021 and there haven't been user complaints since (on this issue at least) so I'm going to close this.

[2022-09-20 20:29] #43904 closed

[2022-09-20 20:49] #68030 closed, assigned to danielbachhuber

[2022-09-20 20:51] youbrokesomething commented on #57687
I can't reproduce this issue and all the related Gutenburg tickets have been closed. Please reopen this if you get new user reports.

[2022-09-20 20:51] #57687 closed, assigned to alshakero

[2022-09-20 20:57] john-legg commented on #62778
Sounds good to me, @worldomonation! I noticed that `support__popover-invalid.ts` actually [has the calypso-pr group already](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/support/support__popover-invalid.ts#L2) and I haven't seen any failures in TeamCity, so I'll update `support__home.ts` instead. Thanks for your guidance!

[2022-09-20 20:57] obenland commented on #67550
Is this not covered by the `subscription_created` webhook?

[2022-09-20 21:03] youbrokesomething commented on #53595
This hasn't had any new user reports so I'm going to close it. Feel free to reopen if someone experiences this issue again.

[2022-09-20 21:03] #53595 closed, assigned to nobody

[2022-09-20 21:04] obenland commented on #67715
Could we re-use the `subscription_created` webhook and extend it to also accept a license information response?

[2022-09-20 21:06] worldomonation opened #68059 "Flaky E2E: Editor canvas loads"
### Spec file

specs/fse/fse__temp-smoke-test.ts

### TeamCity ID

8636068

### Logs

[code]

[2022-09-20 21:06] worldomonation commented on #68059
Related to https://github.com/Automattic/wp-calypso/issues/67350.

[2022-09-20 21:14] youbrokesomething commented on #41760
No reports of this issue since 2021. I'm going to close this. Please reopen if any new user reports come in.

[2022-09-20 21:14] #41760 closed

[2022-09-20 21:17] phcp opened #68061 "[All] Hide image when user avatar is missing"
Context: p1663590509581319/1663587624.826559-slack-C02TCEHP3HA

[2022-09-20 21:17] youbrokesomething commented on #52630
@p-jackson I'm rescuing tickets that have been abandoned by team/priority changes. Is this something we still want to work on? If so.. what team should it go to?

[2022-09-20 21:18] phcp opened #68063 "[All] Set accent color to green on Jetpack sites"
Context: p1663594670395509/1663587624.826559-slack-C02TCEHP3HA

[2022-09-20 21:20] jp-imagines commented on #62813
@michaeldcain @DavidRothstein I just tested it myself, and it seems to be working now. Strange, as I was able to reproduce the error the user had faced in that ticket at the time. 🤔 It must have been a one-off fluke, I guess. If I come across it again, I'll open a new issue.

[2022-09-20 22:41] danielbachhuber commented on #67580
Thanks for the great exploration, @sejas and @zaguiini !

I'm a little bit hesitant about adding so many extra fields to `SITE_EXCERPT_REQUEST_FIELDS` and `SITE_EXCERPT_REQUEST_OPTIONS`, given `useSiteExcerptsQuery` was meant to be a slimmed down version of `getSites()`.

Because this particular problem is low priority for `Site Switcher i1`, I think we should simply capture our learnings to P2 an

[2022-09-20 22:59] worldomonation commented on #61370
There are existing implementations now that use the following convention (though the parameter names aren't always consistent):

[code]

I've seen parameter names `blogName` and `slug` and `siteSlug`, so it's a little inconsistent but that should take care of the site-specific redirect.

However, one issue with this approach is that there isn't a single "standard" implementation that POM classes c

[2022-09-20 23:00] worldomonation commented on #57958
This is no longer an issue now that we've refactored this spec.

[2022-09-20 23:00] #57958 closed, assigned to nobody

[2022-09-20 23:00] worldomonation commented on #55695
I don't think this is useful anymore, so closing.

[2022-09-20 23:00] #55695 closed, assigned to nobody

[2022-09-20 23:53] worldomonation commented on #62778
FYI I caught news of the new Help Centre, which might pose an issue for the `support__popover` series of specs:
p7DVsv-fpN-p2

I'll be contacting the team responsible to see if we can coordinate a release that won't end in failed Pre-Release Tests.

[2022-09-21 00:10] cuemarie commented on #65344
Thanks @daria2303 ! With this in mind, I think it's best we close this issue in favor of https://github.com/Automattic/themes/issues/6066 , and I'll bring over the reports and relevant workaround details. Looks like that report has some traction, so we hopefully will see some movement there! Thanks for staying on top of these requests for more details! 😃

[2022-09-21 00:10] #65344 closed, assigned to nobody

[2022-09-21 00:25] cuemarie commented on #67844
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated the issue in all environments - seems Twenty Eleven is not responding to the nested list block

*Examples*

**AT**
![Markup on 2022-09-20 at 17:21:52](https://user-images.githubusercontent.com/2724980

[2022-09-21 00:29] lsl commented on #67711
@DustyReagan points out we don't want this, [see dicussion](https://github.com/Automattic/wp-calypso/pull/66169/files?w=1#r970430833).

[2022-09-21 00:29] #67711 closed, assigned to nobody

[2022-09-21 00:33] cuemarie commented on #67867
📌 SCRUBBING : RESULT
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- I activated **Thriving Artist** on my WooCommerce test site, added a product to the cart on the site, and selected the Cart icon, and this replicated the issue as described in the report:

**After adding product to cart**

![Markup on 2022-09-20 at 17:30:05](https://user-images.githubusercontent.com/27249804/191388

[2022-09-21 00:37] cuemarie commented on #67871
Thanks for the suggestion, @masperber !

📌 ACTIONS
- Feature request kept

[2022-09-21 00:48] cuemarie commented on #67876
📌 SCRUBBING : RESULT
- Tested on P2: **Replicated**
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated just as described across all test environments.

*Example from Self-Hosted Site*

https://user-images.githubusercontent.com/27249804/191389578-8ca908e4-3b07-40b6-ba21-35

[2022-09-21 00:57] cuemarie commented on #67878
📌 SCRUBBING : RESULT
- Tested on Simple: Replicated
- Tested on AT: Replicated
- Tested on Self-hosted: Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- According to the theme info page https://wordpress.com/theme/karuna/ , this is actually the intended behavior:

*Example*

📌 ACTIONS
- Closed as behavior is intended

📌 Message to Author
- Thanks for the report @sajmes ! I'm closing this issue as the be

[2022-09-21 00:57] #67878 closed, assigned to nobody

[2022-09-21 00:59] cuemarie commented on #67885
Thanks for passing along this user report, @rakshitwesley !

📌 ACTIONS
- Feature request kept/closed

[2022-09-21 01:32] donalirl commented on #56013
#16134882-hc

[2022-09-21 02:31] #68003 closed, assigned to candy02058912

[2022-09-21 04:02] lsl commented on #67994
LGTM, got a figma link for when someone gets to it?

[2022-09-21 04:04] lsl commented on #67574
We're looking at adding current plan with https://github.com/Automattic/wp-calypso/pull/68065. I think we still may run into the issue of not being able to show the price toggle for free plans. (Free plans are "annual" as far as the toggle is concerned and annual plans can't move to monthly in an upgrade.) cc @candy02058912 @DustyReagan

[2022-09-21 04:24] miksansegundo opened #68070 "Pattern Assembler - Scroll to the bottom of the preview when choosing a footer"
When choosing a footer, we could also scroll to the bottom of the page to make sure we show it in the preview.

### Testing instructions

- Click on the Calypso Live (direct link) in the comment below.
- Type the URL `/setup?siteSlug={Site slug}&flags=signup/design-picker-pattern-assembler` in the Calypso Live domain
- Select the goal Promote myself or business
- Select the category `Show all`
- C

[2022-09-21 04:37] miksansegundo commented on #68070
We think this feature should work for any pattern, not only the footer. Meaning that when a pattern is added the preview should scroll to that pattern.

This behavior is more complicated that just scrolling to the bottom of the page. I'd start with the simple version for the footer and learn in the process how complicated it would be to do it for all patterns.

[2022-09-21 04:44] #66589 closed, assigned to arthur791004

[2022-09-21 05:23] lsl commented on #67695
@paulopmt1, @allilevine suggested to drop the sprint goal flag from this as it's not likely we can ship this in the time we have and it's distracting from the plans page work. We can tackle the modal updates next sprint once we ship the plans page.

[2022-09-21 05:59] jordesign commented on #67935
+1 to this - I was noticing it as well.

[2022-09-21 05:59] jeyip opened #68071 "[Bug]: Draft Post Previews return 404 error"
### Quick summary

This is a continuation of https://github.com/Automattic/wp-calypso/issues/57812. It appears as if several users are still experiencing the error, although at a much less frequent pace then before after we released a third party cookies patch https://github.com/Automattic/wp-calypso/pull/66046

The new errors may or may not also be related to third party cookies.

### Steps to re

[2022-09-21 07:49] TimBroddin commented on #65312
It seems that link_description is present. Closing this ticket.

<img width="781" alt="CleanShot 2022-09-21 at 09 48 58@2x" src="https://user-images.githubusercontent.com/528287/191446370-3d8e8f92-6a92-4f08-a787-ac1ff5cd1eae.png">

[2022-09-21 07:49] #65312 closed, assigned to TimBroddin

[2022-09-21 07:51] mashikag commented on #66336
This is done. The `HTML_Email` class is now responsible for implicitly applying the LTR/RTL stylesheet.

[2022-09-21 07:51] #66336 closed, assigned to nobody

[2022-09-21 07:54] miksansegundo commented on #67632
I think that we need to use `tabIndex={ show ? 0 : -1 }` [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/pattern-assembler/pattern-selector.tsx#L47) as well.

[2022-09-21 07:55] gcsecsey opened #68078 "Marketplace search: return `active_installs` field from the API"
This is a follow-up issue to #63167.

Currently, the `plugin.active_installs` field is not being returned by the API: https://public-api.wordpress.com/rest/v1.3/marketplace/search?group_id=wporg&fields[]=plugin.title&fields[]=plugin.active_installs&category=popular

Looking at the code, the field is added to the `returnable_fields` array, despite this the field is not returned: 2da84-pb

[2022-09-21 08:05] ivan-ottinger commented on #66803
D87901-code is now merged and deployed to production.

[2022-09-21 08:05] #66803 closed, assigned to ivan-ottinger

[2022-09-21 08:35] epeicher commented on #68078
After a quick initial investigation, I have found that the `plugin.active_installs` is returned  in the `_source` field but not in the `fields` field, code here 2da88-pb

Then, when building the results the field `_source.plugin.active_installs` seems to be skipped by the following logic 2da86-pb/#plain

[2022-09-21 08:54] #67038 closed, assigned to TimBroddin

[2022-09-21 08:57] alshakero commented on #67935
The fix is here https://github.com/Automattic/wp-calypso/pull/68046

[2022-09-21 08:58] #67534 closed, assigned to wojtekn

[2022-09-21 09:16] gcsecsey opened #68084 "Marketplace search: Display featured plugins in Calypso"
This is a follow-up issue to #63167.

Use the new API filters created in #63167 to display the featured section and browse page in Calypso.

Currently, Calypso only displays featured plugins from WPCOM on this endpoint: https://public-api.wordpress.com/wpcom/v2/plugins/featured This list is maintained manually in 2da8a-pb

WP.org stores the featured flag as a taxonomy, and that's synced to ES. Thi

[2022-09-21 09:53] lsl opened #68089 "Marketplace: Add upgrade click handlers to the plan page"
- [ ] Add onUpgradeClick handler to the marketplace plans page `PlansFeaturesMain` [component](https://github.com/Automattic/wp-calypso/blob/ddae692865a9787750b1c7b281815ed834a58449/client/my-sites/plugins/plans/index.tsx#L59)
- [ ] The onUpgradeClick handler should show the eligibility warnings modal if required
- [ ] If eiligibility warnings are confirmed ok, the onUpgradeClick handler should se

[2022-09-21 09:57] cpapazoglou commented on #63167
I don't think we use `featured` plugins in any way currently. This section
<img width="1103" alt="CleanShot 2022-09-21 at 12 56 04@2x" src="https://user-images.githubusercontent.com/12430020/191474932-f058f27a-2058-40e7-bee9-cff3ac2ab56c.png">

is currently hardcoded (the first 6 plugins of all). It would be great if we could sort them by downloads & rating - bubbling to the top the best premium p

[2022-09-21 09:57] lsl commented on #67574
Issue for upgrade handlers https://github.com/Automattic/wp-calypso/issues/68089 (Making the buttons work)

[2022-09-21 10:47] nuriapenya commented on #68037
The idea would be to remove them entirely. We already have the hover effect (turning blue) and the main goal of the list is prompting people to do the next task (rather than going backwards)

[2022-09-21 11:04] valterlorran commented on #67030
I created this discussion to understand how to update the sites that already have the theme applied: p1663757176266909-slack-C029FM1EH

[2022-09-21 11:04] wojtekn commented on #67581
@danielbachhuber @zaguiini what do you think about making it simple, always displaying up to fifty records in Site Switcher and relying on the search or Sites Management Page to access the remaining sites?

[2022-09-21 11:06] valterlorran commented on #67030
Context: The changes I did will only work for the next time the theme is applied, the ones that already applied the theme before the change will still show the empty container.

[2022-09-21 11:33] #67895 closed, assigned to bogiii

[2022-09-21 11:36] vindl opened #68094 "WPCOM SSH: Highlight SSH keys in What's New section of the Help Center"
The Help Center will soon be reintroduced to all WP.com users. We can use this to promote the SSH and WP CLI access in the What's New section.

<img width="411" alt="Screenshot 2022-09-21 at 13 31 39" src="https://user-images.githubusercontent.com/1182160/191494041-73cbac6e-6884-49a7-b0cf-c39d84ce48ac.png">

Clicking on "What's New" produces this modal:

<img width="1388" alt="image" src="https://

[2022-09-21 11:51] danielbachhuber commented on #67581
@wojtekn I'm open to it! I don't think we need a complex technical solution if we can solve it with some other UX.

[2022-09-21 12:16] Robertght opened #68098 "Audio block: download button not available on iOS devices"
### Quick summary

_No response_

### Steps to reproduce

1. Start at https://wordpress.com/support/wordpress-editor/blocks/audio-block/
2. Try to download the audio file using the three dotted button on the player

### What you expected to happen

To see the **download** option

### What actually happened

I only got the playback speed options.

### Context

5572341-zen

### Platform (Simple, Ato

[2022-09-21 12:25] paulopmt1 commented on #67695
That sounds good @lsl. In that case @vinimotaa we have more time for your last design adjustments.

[2022-09-21 12:41] alshakero opened #68100 "Task: Help Center - Allow users to post form topics without having a site"
### Details

Details: p7DVsv-fpN-p2#comment-42167

### Checklist

_No response_

### Related

_No response_

[2022-09-21 13:43] vinimotaa commented on #67695
@lsl I might be wrong, but it seems the modal update is more important than the plans page for this sprint? The modal update was the latest iteration of the plan upgrade work pdh6GB-26h-p2

cc @allilevine @ianstewart

[2022-09-21 13:53] vinimotaa commented on #67994
@lsl

https://www.figma.com/file/HOg65lHD0QOfaq0QtzKQbC/Dog-Fooding?node-id=984%3A9629

[2022-09-21 14:35] #67685 closed, assigned to JuanLucha

[2022-09-21 14:47] JuanLucha opened #68107 "[Invite Confirmation - blog owner] Make sure RTL works with the new template"

[2022-09-21 14:47] JuanLucha opened #68108 "[Invite Confirmation - invited person] Make sure RTL works with the new template"

[2022-09-21 14:47] JuanLucha opened #68109 "[Invite Role] Make sure RTL works with the new template"

[2022-09-21 14:48] JuanLucha opened #68110 "[Invite Follower] Make sure RTL works with the new template"

[2022-09-21 15:14] youbrokesomething commented on #66655
I believe that this is currently intended behavior because some browsers block sound on autoplay videos. [Here's a related feature request that may explain the issue better](https://github.com/Automattic/wp-calypso/issues/67089).

[2022-09-21 15:16] gcsecsey opened #68111 "Remove incompatible plugins in categories"
This is a follow-up issue to #63167.

Remove the incompatible plugins from /plugins/browse/<category>/ routes. There is no reason suggesting plugins that cannot be installed. Those should only come up from searches.

[2022-09-21 15:17] Addison-Stavlo opened #68112 "LaunchPad - add tracking events to launchpad UI."
We should add tracking events for when:

- [x] the launchpad screen is loaded (after we are sure its not redirecting to my home)
- [x] clicking "go to admin"
- [x] clicking an actionable task (note event names should be hardcoded and not generated programmatically) - this can contain extra properties such as the tasks completion status when clicked.

This can be separated via multiple PRs if neces

[2022-09-21 15:36] danielbachhuber commented on #68044
Shipped in #68060

[2022-09-21 15:36] #68044 closed, assigned to danielbachhuber

[2022-09-21 16:07] katiebethbrown commented on #66531
+1 - We ran into this testing on a Team51 simple site as well.

[2022-09-21 16:08] ai2n commented on #55102
Ditto on 37042040-hc

[2022-09-21 16:25] DustyReagan opened #68114 "Task: resetBreadcrumbs() as part of visiting any root page"
### Details

As a follow up to https://github.com/Automattic/wp-calypso/pull/67989 as a refactor try to `resetBreadcrumbs()` as part of visiting any root page.

Comment [here](https://github.com/Automattic/wp-calypso/pull/67989#discussion_r975326303) for context.

### Checklist

- [ ] `resetBreadcrumbs()` runs when visiting any root page.

### Related

https://github.com/Automattic/wp-calypso/pull

[2022-09-21 16:32] jeyip commented on #59570
## Technical Notes

A few things I noted from testing. The endpoint is `wp/v2/sites/210779820/pages/7` and the response looks like this:

[code]

[2022-09-21 16:34] DustyReagan opened #68115 "Fix race condition in plugins search component"
### Details

To reproduce

- With "plugins-plans-page" config feature enabled
- On a plan lower than business
- Go to the /plugins page
- Select a category
- Then search for term
- Then select a plugin
- Then try to install and end up on the Plugins Plans page
- Now click on Search results in the breadcrumbs
- The URL changes correctly, but we're still on the Plugins Plans page

Much more context

[2022-09-21 16:39] jeyip commented on #67929
### Technical Notes

Since things are fine in Core, consider opening this page in Dotcom and in a self-hosted instance and comparing / contrasting the styles to determine why one view works and the other doesn't.

[2022-09-21 16:58] #67888 closed, assigned to DustyReagan

[2022-09-21 17:31] mreishus commented on #67562
There is no default ecommerce theme. There is only a default theme that applies to all sites regardless of plan selected. It's currently zoologist, but we can update that to 2022 in #68118. It was set to zoologist in #57134.

Alternatively, it looks like it's trying to detect plan type and switch themes based on it, but it's not working.
https://github.com/Automattic/wp-calypso/blob/6e316cb8c662f3

[2022-09-21 17:47] #67976 closed, assigned to paulopmt1

[2022-09-21 18:00] lupus2k opened #68120 "Marketplace: Plan information step current plan button & pill"
Follow-up issue for #67574

According to the Figma design, the current plan must have a pill and the button with `Your current plan` text.

Figma: HOg65lHD0QOfaq0QtzKQbC-fi-507%3A10329

<img width="367" alt="image" src="https://user-images.githubusercontent.com/402286/191576835-a2df2ee1-7f65-44d3-bba6-c17ccd3d36c2.png">

[2022-09-21 18:03] lupus2k commented on #68120
It will be good to fix the endless loading text for the Free plan:

<img width="299" alt="image" src="https://user-images.githubusercontent.com/402286/191577931-cf001949-bf82-4f52-b016-e881830691f3.png">

[2022-09-21 18:23] obenland commented on #67610
Patch in D87893-code

[2022-09-21 18:43] KirkwallDay opened #68121 "Preserve the load order on the pages list in Calypso when there are more then 50 pages."
### What

Currently, when the page count exceeds 50 pages, the load order in Calypso changes to last edited post only. Before that, it will show parent pages above their child pages, after it will not. Also, it adds a - at the beginning of the page title, this should also be removed.

Before 51 pages:
![Screen Shot 2022-09-21 at 12 38 59 PM](https://user-images.githubusercontent.com/49131029/19158

[2022-09-21 18:43] zaguiini commented on #68043
### Problem description

The big requirement here is that we want to make the logic as generic as possible (by putting code it in `packages/components/src/sites-table`) and as straightforward to use as possible by calling a single hook in different places, an abstraction. This would allow us to apply the same instructions to the sites list, wherever it's called, be it the sites page, the site swit

[2022-09-21 18:58] Addison-Stavlo commented on #67929
I ran a git-bisect and confirmed this commit introduced the regression.

[2022-09-21 18:59] #67975 closed, assigned to paulopmt1

[2022-09-21 19:02] mreishus commented on #67562
We want to
* keep zoologist as the default theme
* Fix the per-plan theme detection in `client/lib/signup/site-type.js`
* Change ecommerce's theme to twenty twentytwo

[2022-09-21 19:17] danielbachhuber commented on #68043
@zaguiini Dig it! Seems like a worthwhile abstraction to me.

[2022-09-21 19:43] zaguiini commented on #67580
Created a P2 post: pdKhl6-Kq-p2.

[2022-09-21 19:43] #67580 closed, assigned to sejas, zaguiini

[2022-09-21 19:59] worldomonation commented on #64870
Fixed by https://github.com/Automattic/wp-calypso/pull/68056.

[2022-09-21 19:59] #64870 closed, assigned to john-legg

[2022-09-21 20:10] danielbachhuber commented on #67580
Thanks @zaguiini ! Great summary 😊

[2022-09-21 20:32] worldomonation opened #68125 "E2E: move Inline Support/Help Centre related specs down the pyramid"
### Details

Currently, the Support related specs are implemented as E2E tests.
- support__popover-invalid.ts
- support__popover-valid.ts
- support__home.ts

While it's worth keeping a flow that touches on the Inline Support feature at the E2E level, not all of these specs need to exist as E2E tests. In particular, testing various inputs and the returned outputs can be tested at the integration/un

[2022-09-21 20:41] worldomonation commented on #62383
I think this is no longer relevant now, as we have retries in the initial posting of the post:
https://github.com/Automattic/wp-calypso/blob/79b523ffc7916f62b3799b6ecfe194ee87cf2c1b/test/e2e/specs/editor/editor__post-advanced-flow.ts#L73-L81