[2022-08-04 18:08] lupus2k opened #66274 "Marketplace: Remove double exclamation on submission success page text"
As @mtias suggests [here](https://github.com/Automattic/wp-calypso/pull/64671#discussion_r937715346), we should remove the double exclamation on this text: `Great! You’re already a vendor! Here is what you can do next while we’re still working on building your Product Dashboard.`

#### Screenshot
<img width="635" alt="image" src="https://user-images.githubusercontent.com/402286/182920472-e91ea36f-

[2022-08-04 18:17] lupus2k opened #66275 "Marketplace: Update/empty alt description on illustration on submission success page"
As @mtias's [comment](https://github.com/Automattic/wp-calypso/pull/64671/files/d3eed79ee031823b8c4a82ba29545b7c2b98255c#r937716789), because the alt description of the illustration doesn't seem very descriptive, we should be left empty.

[2022-08-04 18:25] lupus2k commented on #66274
Hey @vinimotaa, what do you think is the best way to remove the double exclamations?
Should I use `Great, You're already a vendor!`  or `Great! You're already a vendor.`  ?

[2022-08-04 18:51] zaguiini commented on #65897
It has the correct value... `social_service_connected` in this context means a login from the `/social-connect` endpoint, so this is working as expected, though with a not-so-nice name. cc @danielbachhuber you can close this if you want or let me know if you want to rename it.

[2022-08-04 18:52] #65896 closed, assigned to zaguiini

[2022-08-04 19:02] #65562 closed, assigned to nobody

[2022-08-04 19:17] carinapilar commented on #53102
Another one in 5418687-zd-woothemes

[2022-08-04 19:32] agrullon95 commented on #66131
The component already contains a property to set a default device (`defaultViewportDevice`), so that should be straightforward to implement.

[2022-08-04 19:34] andres-blanco commented on #66037
asked about this here: p1659641626707519-slack-C029FM1EH

[2022-08-04 19:38] csabarakasz commented on #57812
- [ ] 5441292-zd-woothemes

Similar case. Requesting OS and browser version.

[2022-08-04 19:44] agrullon95 commented on #66131
Yes, the same issue will occur across all `WebPreview` components.

[2022-08-04 19:50] danielbachhuber commented on #65897
@zaguiini Nah, keeping the prop as-is works fine for me.

[2022-08-04 19:50] #65897 closed, assigned to zaguiini

[2022-08-04 19:50] valterlorran commented on #65496
Hey @alaczek, yes! I started working on the problem you mentioned, D84560-code#1769561. I just finished the diff to fix it: D85195-code

[2022-08-04 20:31] Gustavo-Hilario opened #66280 "Pique > Columns Block: columns with wide alignment are getting cut off on mobile"
### Quick summary

Column blocks with wide alignment are cut off on mobile. **User should be using a sidebar**.

### Steps to reproduce

1. Activate the `Pique` theme on a test site.
2. On the Customizer, add any block to the `Sidebar` widget, just to make sure your site has a sidebar.
3. Create a new page.
4. Add a `Column` block and add some content like paragraphs and images.
5. Save, publish t

[2022-08-04 21:19] creativecoder commented on #66150
Proposing a fix in D85402-code.

I don't have much context about or experience with the reblogging feature, so any help testing and reviewing is much appreciated!

[2022-08-04 21:22] chad1008 commented on #64964
Thanks @eduardozulian. Odd that these sites are still having trouble.

Specifically on the site from 5321874-zen, I can see the issue on the site itself, but I cannot reproduce it on my own sites. I've even tried replicating the exact same content.

There are some subtle differences in the markup that I'm not sure of the source of. Specifically, the site in question isn't getting a style that my s

[2022-08-04 22:03] jeyip commented on #66119
That's a good question. We'd need it to pull up the correct checklist and progress against items on the checklist. @agrullon95 and I explored a bit to see if there was some "selected site" state that we could reference in redux that would provide the site slug in onboarding, but didn't see anything obvious.

It also looks like the defacto way of referencing site slug in stepper is to use the query

[2022-08-04 22:21] jeyip commented on #57812
Hey team -- we just released a bug fix for this issue in https://github.com/Automattic/wp-calypso/pull/66046. I tested the third party cookie issue in production and it should be solved for simple sites.

One thing to note is that in testing, the team noticed that browser caches and cookies could be finicky. This means that existing users with the problem might not see things resolved until they e

[2022-08-04 22:49] p-jackson commented on #66210
Yup I think that's perfect.

[2022-08-05 00:45] jamiepalatnik commented on #64673
📌 SCRUBBING
- Tested by going to https://wordpress.com/start/user using Safari and tried to open the password dropdown.
- Used Safari version 15.3.

📌 FINDINGS/SCREENSHOTS/VIDEO
- I am not able to open the browser password tools since the eye icon is in the way. I would expect to see the key icon as I see on the main WordPress.com login screen.

📌 ACTIONS
- Marked as Triaged for Quality Squad revi

[2022-08-05 00:59] jamiepalatnik commented on #66091
📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I inspected site icon that appears in the actionbar and there is no alt text showing for the site icon in developer tools.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-08-05 01:30] jamiepalatnik commented on #66132
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to recreate when searching for Alves, but not Morden or Varia.
- Interestingly, searching for "alve" _does_ show Alves in the search results, but the full theme name "alves" does not.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-08-05 01:44] cuemarie opened #66283 "Nesting Quote blocks cannot be merged with other Quotes using backspace/delete"
### What

A user shared in 36219697-hc that they wished they could still key DELETE or BACKSPACE to move a paragraph block that follows a quote block up into the quote block.

It seems this isn't possible anymore now that the quote blocks are nested, following this update: https://github.com/WordPress/gutenberg/pull/25892

I showed the user how to drag/drop blocks using **List View** as a workarou

[2022-08-05 03:07] bangank36 opened #66284 "Remove left space of UDP category select"
## Description

We should get rid of the left space of the UDP's category select
<img width="425" alt="image" src="https://user-images.githubusercontent.com/10071857/182574016-e7c5db11-246e-4871-83ac-be090ee8cdc6.png">

## Acceptance

- [ ] Category select left space should be match the design

[2022-08-05 03:41] Greatdane commented on #63262
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-pa-group have finished following up with affected users reported in this thread.

Thanks for all the reports!

[2022-08-05 04:21] Robertght commented on #66152
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I cannot replicate this. @inaikem I believe this is an unfortunate combination of colors. Do you happen to remember it?

📌 ACTIONS
- Await author feedback

[2022-08-05 04:30] inaikem commented on #66152
You might be right. The colours present when they came into chat are the same as those set now:

![Screen Shot on 2022-08-05 at 12:30:03](https://user-images.githubusercontent.com/66711744/183001780-1a37cdef-2428-460c-8029-11bab8cdc124.png)

Feel free to close if you can't replicate!

[2022-08-05 04:41] Robertght commented on #66286
Also, potentially relate to https://github.com/Automattic/wp-calypso/issues/66008

[2022-08-05 04:44] Robertght commented on #66155
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- It looks like this bit is causing it:
![image](https://user-images.githubusercontent.com/6737345/183001994-2c031a45-ef71-43bf-aa88-ea35597e1230.png)

📌 ACTIONS
- Transferred to XYZ external repo: https:/

[2022-08-05 05:42] JulianBustamante commented on #65351
Diff created D85401-code

[2022-08-05 07:14] #66212 closed, assigned to wojtekn

[2022-08-05 07:30] #64574 closed, assigned to epeicher

[2022-08-05 07:44] rcrdortiz commented on #65858
Review: 765-gh-Automattic/dotcom-manage

[2022-08-05 07:47] renancarvalho opened #66289 "Signup: Integrate site icon upload component"
### Details

Newsletter flow on this [PR](https://github.com/Automattic/wp-calypso/pull/66217/files#diff-1a3fce74bb9259603bb8314ecd6aa0a2dcf1407fa64745db432a04ee51d7bc2e) has implemented the site icon upload component. Link-in-bio flow should use the same component.

### Checklist

_No response_

### Related

_No response_

[2022-08-05 08:08] mmtr opened #66291 "Starter plan is shown as required for free plugins"
#### Steps to reproduce

1. Go to https://wpcalypso.wordpress.com
2. Switch to a Simple site with a Free plan
3. Go to Plugins
4. Select a free plugin

#### What I expected

To see information of the Business plan

#### What happened instead

The UI seems to infer that a Personal plan is required:

<img width="1792" alt="Screen Shot 2022-08-05 at 10 01 46" src="https://user-images.githubuserconten

[2022-08-05 08:11] mmtr commented on #66291
Actually, although the Atomic eligibility warning displays the Business plan, when I proceed it's the Starter plan the one that gets added to the cart:
<img width="884" alt="Screen Shot 2022-08-05 at 10 10 56" src="https://user-images.githubusercontent.com/1233880/183032941-52a0f620-49fd-4c78-b560-60c4b088f56a.png">
<img width="590" alt="Screen Shot 2022-08-05 at 10 11 05" src="https://user-images

[2022-08-05 08:15] devNigel opened #66292 "Let More Block from post control how much of excerpt is shown in Blog Posts and Latest Posts Blocks."
### What

Let Blog Posts or Latest Posts block show post content till the More Block on the post.

### Why

Some users might prefer manual control on how much of a post is shown in the Latest Posts or the Blog Posts block. However, Latest Posts or the Blog Posts block does not consider More Block from the actual post.

This would allow users to customize how much of a post is shown rather than hav

[2022-08-05 08:20] #65858 closed, assigned to rcrdortiz

[2022-08-05 08:42] p-jackson opened #66295 "Sites Management Page: Improve performance while typing"
I have 594 rows in my table, and typing the first character into the search box takes ~250ms. When I type I expect the characters to appear on screen instantly, so this delay feels janky.

594 sites is not typical so I'm not the average user. But it's possible there are tweak we can make that would improve things. With some help from the React dev tools.

Another option would be to debouce the eve

[2022-08-05 08:52] p-jackson opened #66296 "Sites Management Page: fuzzy search does not find "wpcomstaging" sites"
For some reason searching for `staging` isn't finding `wpcomstaging` sites. It could just be a bug with Atomic sites, or it could be that there are a number of search terms that don't work and this is just one of them.

#### Steps to reproduce

1. Log into an account where you have some `*.wpcomstaging.com` staging sites
2. Type `staging` into the browser's **cmd+f*** search
3. Confirm that your `

[2022-08-05 09:29] #66289 closed, assigned to renancarvalho

[2022-08-05 09:55] bogiii opened #66298 "Add subscriber form: API integration"

[2022-08-05 10:08] mpkelly commented on #64936
Released as 1064-gh-Automattic/wpcomsh and D85434-code

[2022-08-05 10:08] ivan-ottinger commented on #63819
Hey @saygunnyc 👋🏼

I have been looking into the template widths and how the breakpoints are currently implemented.

Question: How important is to have different widths specified at breakpoints Browser/desktop and Email/desktop?

The reason I am asking is because we could change the maximum content width to the one specified for Browser/desktop: 720 px (832 px including 56 px margins) and then leav

[2022-08-05 10:44] priethor opened #66299 "Reader, Feature Request: Filtering and sorting for P2s"
### What

Add filtering options by P2 type (Post, AFK, Cross-post, Project Thread) and sorting options (by publishing date or latest activity).

### Why

These filtering and sorting options could be handy when using the Reader to follow multiple P2s. For example, sorting by the latest activity would allow following P2 comments without subscribing to all posts easily. In contrast, filtering by AFK

[2022-08-05 10:47] gcsecsey commented on #60769
We've discussed this ticket on our backlog grooming yesterday: p1659618475427209-slack-C02JPCHEKDY

@cpapazoglou should we consider reproducing the `org_slug` field on WC.com and sync that back through ES to be able to query the respective paid plugins?

[2022-08-05 10:50] mxhassani opened #66300 "Gutenberg: long anchors make the list view take a lot of space"
### Quick summary

When adding long HTML anchors to a block in the Advanced settings, the list view in the editor takes more and more space on the screen.

### Steps to reproduce

1. Add a block
2. Open the list view
3. Go to block settings > Advanced > HTML anchor
4. Add a long anchor text
5. Notice the width of the list view getting bigger

### What you expected to happen

The width of the list

[2022-08-05 11:20] gcsecsey opened #66301 "Marketplace search: get related plugins"
Subtask of #63717

Based on this comment: pdh6GB-sk-p2#comment-1639

We need to create a new query and an endpoint to be able to serve related plugins based on slug (or ID). ES supports a [More like this](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html) (MLT) query type that selects similar documents based on a set of terms.

### Query
We can build the MLT

[2022-08-05 11:21] gcsecsey commented on #63717
Added https://github.com/Automattic/wp-calypso/issues/66301 for creating the related plugins query and endpoint.

[2022-08-05 11:44] gcsecsey opened #66303 "Marketplace search: get recommended plugins"
Subtask of https://github.com/Automattic/wp-calypso/issues/63717

Based on this comment: pdh6GB-sk-p2#comment-1639

We need to create a new query and an endpoint to be able to serve recommended plugins based on the slug of the current plugin.

### Query

With ES we can perform different aggregations (related, frequent, [uncommonly_common](https://www.elastic.co/blog/significant-terms-aggregation))

[2022-08-05 12:11] ivan-ottinger commented on #63819
Patch in work: D85441-code.

[2022-08-05 12:23] autumnfjeld opened #66306 "calypso_signup_site_vertical_submit trends should look identical in both vertical_title & vertical_id trend views"
# Description
 The Tracks Trends view for calypso_signup_site_vertical_submit with prop= vertical_id should look identical to prop=vertical title--but they do not. See comment in https://github.com/Automattic/wp-calypso/pull/66249#issuecomment-1206385178

There should be a 1:1 relationship with vertical_title & vertical_id, but this is not true for "Something else".

In each trend view null and "S

[2022-08-05 12:40] autumnfjeld commented on #66306
@bangank36  Would you want to work on this?   Let me know if you have any questions. :)

[2022-08-05 12:50] renancarvalho opened #66307 "Signup: Add ui form state"
### Details

Add ui state

- If site name is empty it should show an error otherwise a green checkmark
- Should be able to add/replace site icon
- Should persist the data when clicking on "continue"
- Refresh should show the updated data
- Change button on Publication address still not implemented

### Checklist

_No response_

### Related

_No response_

[2022-08-05 14:18] martian77 commented on #65498
Ok, I'm struggling to test the flow of events listed above via sandbox. This diff removes the reliance on the database option, so should fix it, and I think it'll be much easier to test after merging!

D85282-code

[2022-08-05 14:53] wojtekn commented on #3140
The issue is resolved now for both Atomic and Simple sites.

[2022-08-05 14:54] #3140 closed

[2022-08-05 15:01] gcsecsey commented on #65457
The overall approach seems all right to me, however having tried for a while, I'm uncertain if it's easy to implement such a query.

I've tried adding a should clause with a minimal boost value, but I'm only getting documents that match the must clause. Also, to be able to match multiple slugs from the blocklist (with a logical OR), am I right in thinking we can't use an array on the should term,

[2022-08-05 15:25] creativecoder commented on #63262
Thank you @Greatdane !

[2022-08-05 17:05] edanzer commented on #66124
### Proposal

1) **Launchpad + Site Setup Checklist.** Ultimately, I think we should try to coordinate our work with the Site Setup Checklist. They serve the same purpose in providing a trackable checklist of site set setup tasks with status. And they need similar UI elements and logic. And Automattic has already done a lot of work to refine a system for this. We'd end up reinventing a lot of the

[2022-08-05 17:06] WBerredo opened #66313 "User on starter personal can install plugins if proxied"
convo: p1659687744745359-slack-C02JPCHEKDY

[2022-08-05 17:09] WBerredo commented on #66313
D85478-code

[2022-08-05 17:10] #64538 closed, assigned to zaguiini

[2022-08-05 17:10] #64791 closed, assigned to zaguiini

[2022-08-05 17:23] zaguiini commented on #66247
Note to self: use this property to achieve aspect ratio between screen sizes: https://caniuse.com/mdn-css_properties_aspect-ratio

[2022-08-05 17:31] #66296 closed, assigned to danielbachhuber

[2022-08-05 17:35] martian77 commented on #65498
Out of time before AFK. I tried to rush improving the tests and made some linting errors that I don't have time to fix!

[2022-08-05 18:06] andres-blanco commented on #66037
Potential fix D85486-code

[2022-08-05 18:11] #66210 closed, assigned to danielbachhuber

[2022-08-05 18:28] jp-imagines commented on #60597
I came across what I think is an instance of this in 36336520-hc, but it's a simple site.

On my phone, I saw a black rectangle (the user said they saw a white background on their phone). It sometimes had a "glitchy" colored appearance on my end, though I wasn't able to get a screenshot of that in time.

Video worked just fine in a Video block.
Changing file type (.mov to .mp4) didn't help.

[2022-08-05 18:37] cuemarie commented on #66150
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ⚠️ - `Reblog` feature is only available on Simple sites.
- Tested on Self-hosted ⚠️ - `Reblog` feature is only available on Simple sites.
- Replicable on Core - Yes/No

📌 FINDINGS/SCREENSHOTS/VIDEO
- When reblogging a post with a featured image to another simple site, the featured image does appear on the **latest posts** page of the simple site, but

[2022-08-05 18:46] davipontesblog commented on #47206
@paulbonahora could we be selling this in `My Site > Plugins` (aka Marketplace)?

[2022-08-05 18:54] cuemarie commented on #44891
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

#### Test One: Testing whether Read More link appears on posts below the `Load More Posts` button when `Add a "Read More" link` is *ENABLED*

- Atomic - works as expected; posts below the `Load more posts` button show the same "Keep Reading" link
- Simple - words as expected; posts below the `Load more posts` button s

[2022-08-05 18:54] #44891 closed

[2022-08-05 19:11] davipontesblog opened #66320 "Incorrect price for "Ultimate Traffic Guide" plus some minor copy mistakes"
### Quick summary

The guide https://wordpress.com/marketing/ultimate-traffic-guide/DOMAIN/ contains some copy mistakes such as:

- "Face**B**ook"
- "guides like this often cost **$0** or more"
- "In fact, if you act today you’ll pay just **$0** for The Ultimate Traffic Guide."

<img width="936" alt="This guide will teach you everything you need to know from which email marketing tools" src="https

[2022-08-05 19:19] cuemarie commented on #66204
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- ✅ I am able to replicate this issue on Simple and AT sites, only using **Baskerville 2** theme, and my test identified that the additional margins are added to all image sizes - it just is the most apparent on large and full size images.
- ❌ I was not able to replic

[2022-08-05 19:49] cuemarie commented on #66233
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- ✅ Replicated on Simple and AT sites using the following themes: `Saga`, `Rowling`, `Twenty Twenty`.

**Simple**

Customizer:

<img width="1160" alt="Screen Shot 2022-08-05 at 12 37 42 PM" src="https://user-images.githubusercontent.com/27249804/183149909-c0ff4f12-988

[2022-08-05 19:52] cuemarie commented on #66231
Closing in favor of https://github.com/Automattic/wp-calypso/issues/66233

[2022-08-05 19:52] #66231 closed, assigned to nobody

[2022-08-05 19:53] cuemarie commented on #66233
User report from https://github.com/Automattic/wp-calypso/issues/66231 :

5449616-zd-woothemes

[2022-08-05 19:55] Rolilink commented on #66065
I am still doing my research on this one but it seem we will need to implement the events described here: pdh6GB-1au-p2 to be able to track the searches that don't convert to purchases.

Tried with the following suggestion pdh6GB-1bw-p2#comment-2252 but didn't got any results, it seems like they are saving two different session ids or just not saving the searches because there is no interaction ev

[2022-08-05 19:56] cuemarie commented on #66233
User report from https://github.com/Automattic/themes/issues/5554 :

- [ ] 5450315-zd-woothemes

[2022-08-05 20:50] Rolilink commented on #66273
LGTM!

[2022-08-05 21:05] jp-imagines commented on #64917
I think the user in 31797310-hc had experienced this too (Gateway theme).

All buttons were black with white text, but three were changed to white with black text (and white text on hover, turning them fully invisible); the other one was changed to gray with black text for some reason. No settings in the block editor indicated any changed/custom colors on all four buttons.

[2022-08-05 21:47] sierracircle commented on #62088
I am also having this issue on Ubuntu 22.04, exactly as described in the original post

[2022-08-06 01:59] TPilgs opened #66326 "Page and Post Title paste function is deleting the current content"
### Quick summary

On any page or post title in the editor, trying to paste any content in addition to what is already there will delete the old title and replace it with the new. This happens as if the previous content was highlighted, but is occurring even without content being highlighted and with the cursor at the end of the current word/title.

Here's a video: https://d.pr/v/uxXDiU @

### Ste

[2022-08-06 02:39] lupus2k opened #66327 "Marketplace: Mix both UpgradeNudge and UpgradeNudgePaid in one function"
As @Rolilink [here](https://github.com/Automattic/wp-calypso/pull/66197#discussion_r937193646), we should mix both `UpgradeNudge` and `UpgradeNudgePaid` in one function.

File affected: [/client/my-sites/plugins/plugins-discovery-page/index.jsx](https://github.com/Automattic/wp-calypso/blob/3b2fd28a03fcf88ce6b7f2779f0b2f8c46f602bc/client/my-sites/plugins/plugins-discovery-page/index.jsx)

[2022-08-06 04:20] Robertght opened #66328 "Facebook Page plugin: width and height values are not respected"
### Quick summary

_No response_

### Steps to reproduce

1. Activate a classic theme
2. Add a Facebook page plugin widget
3. Add a Facebook page. (e.g: https://www.facebook.com/calcioinretro)
4. Change the height and width values

### What you expected to happen

To display the respected dimensions set in the widget.

### What actually happened

The widget size remained the same, regardless of th

[2022-08-06 04:45] Robertght opened #66329 "Twenty Fourteen: Sticky posts are not displaying consistently"
### Quick summary

I encountered a case with someone who wanted to display 6 sticky posts as a grid on the homepage, but they could only see 5.

### Steps to reproduce

1. Activate Twenty Fourteen
2. Create several posts. ~10 would be ok
3. Set 6 of them as sticky
4. Make sure the Featured content is set to display a Grid from Customizer
5.. Check the results

### What you expected to happen

From

[2022-08-06 07:03] donalirl commented on #65770
+1

[2022-08-06 12:59] wpshellbelle commented on #64037
30091976-hc
Workaround worked for this user.

[2022-08-06 15:09] rosepajaroja commented on #63001
Hello there! Do we have new update on this issue #2?

I had a similar issue here - 29132057-hc / follow-up ticket: 5458939-zen

The domain name was changed, and it seems like the URL for the site logo on the email didn't update.

The image URL shows - https://burgersketch.com/wp-content/uploads/2021/02/cropped-13-2.png, which is the old domain name of the site, it should have been changed to https

[2022-08-06 18:01] kimerlin81 commented on #33148
Reopening: New occurrence of this [here](35956200-hc)
I can reproduce this with mp3 and m4a files on 2 Atomic test sites.

Example:

https://user-images.githubusercontent.com/83732167/183260263-8378b73d-aead-4916-b966-e0bb1b8e5ea1.mp4

Simple sites upload as expected.

Work around:

For the m4a file, the workaround of re-encoding using the To M4A converter noted in [GH](https://github.com/Automatt

[2022-08-06 18:16] tanjoymor commented on #55102
Another case here: 5458059-ZD (suggested converting to JPG and re-upload)

[2022-08-08 00:09] #66160 closed, assigned to roo2

[2022-08-08 00:09] #66161 closed, assigned to roo2

[2022-08-08 01:04] bangank36 commented on #66306
I think this should work, since the id will be used for metrics only

[2022-08-08 02:41] lsl opened #66331 "Marketplace: Query error state handling"
Similar to the [404 page](https://github.com/Automattic/wp-calypso/issues/61342) we also need to add, when queries receive an http error we need to handle the response with a graceful timeout and either pretend there was no result or show an error message of some kind.

At the moment we just retry the query and hope it completes leaving the user on a loading state indefinitely.

These two videos w

[2022-08-08 03:29] #66039 closed, assigned to nobody

[2022-08-08 04:49] bangank36 opened #66332 "Generated Design step show blank space on top"
## Description

Issue happened on wp.com where the Unified Design Picker is not enabled, when user lands on /designSetup step and view Generated Design screen, on scrolling the flow progress bar is not stayed within viewport.

https://user-images.githubusercontent.com/10071857/183339751-859b86c0-6522-4d2e-b476-548a0c260101.mp4

## Acceptance

- [ ]  The flow progress bar should stay within viewpor

[2022-08-08 04:49] #66273 closed, assigned to lupus2k

[2022-08-08 04:49] #66275 closed, assigned to lupus2k

[2022-08-08 04:58] lsl opened #66334 "Marketplace: Plugin manage page title encoding while loading"
Noticed in the recording in https://github.com/Automattic/wp-calypso/issues/66331 that while on `/plugins/manage` during plugin information loading the plugin title isn't being encoded/decoded properly:

![Screenshot 2022-08-08 at 12-45-56 Marketplace Query error state handling · Issue #66331 · Automattic_wp-calypso](https://user-images.githubusercontent.com/811776/183342517-dd551467-0350-45ac-a88

[2022-08-08 06:35] rcrdortiz commented on #66216
PR (no need to review, handled by another team): https://github.com/Automattic/woocommerce-payments/pull/4541

[2022-08-08 06:41] taipeicoder opened #66335 "Remove hamburger/menu icon from design thumbnails"
## Description
From pdtkmj-h8-p2#comment-509.

In mobile screen sizes, showing hamburger/menu icon in the design previews might mislead users in thinking they are draggable toggle icons.See screenshot for reference:

![Image](https://user-images.githubusercontent.com/797888/183354872-d19123a8-5b87-4627-9003-d831b88ee5d9.png)

NOTE ! If this is not a super straightforward simple task, then let's no

[2022-08-08 07:28] ivan-ottinger commented on #63001
Asked for help: p1659943600660019-slack-C4MJE0MHB.

[2022-08-08 07:43] csabarakasz commented on #66008
new report:

- [ ] 36376859-hc

suggested using Videomaker theme

[2022-08-08 08:04] ivan-ottinger commented on #65881
The above patch is now deployed.

[2022-08-08 08:04] #65881 closed, assigned to ivan-ottinger

[2022-08-08 08:05] ivan-ottinger commented on #66253
The above patch is now deployed.

[2022-08-08 08:05] #66253 closed, assigned to ivan-ottinger

[2022-08-08 08:10] ivan-ottinger opened #66336 "[All] Consider relocating RTL/LTR CSS URL generation logic"
More context can be found in the following patch: D85354-code - in its description, below _"A couple notes on the RTL logic implementation"_ heading.

[2022-08-08 08:27] bangank36 commented on #66284
Landed

[2022-08-08 08:27] #66284 closed, assigned to bangank36

[2022-08-08 08:51] daledupreez commented on #64682
I am going to mark this issue as resolved. Gutenberg 13.8.0 was rolled out to Simple sites on 4 August, and to Atomic sites on 5 August.

[2022-08-08 08:51] #64682 closed, assigned to nobody

[2022-08-08 08:55] bangank36 commented on #66306
#66330 has been deployed, so I moved this issue to "In Progress" to test the result in next several days

[2022-08-08 09:09] daledupreez commented on #65757
As a quick update on this, I drafted some updates to the Jetpack documentation for the Calendly block, which is a blocker for us updating the links to something we own. That content has been reviewed, and should make it onto the site this week.

I'll start work on a PR to update the links in the meantime so we can roll out a fix as soon as the content is updated.

[2022-08-08 09:10] mashikag commented on #66336
I would suggest making using static methods instead of relocating the code.

[2022-08-08 09:24] wojtekn commented on #65411
@danielbachhuber I've checked other parts of Calypso for those usages, and we don't have a consistent way of using such checks. However, I spot the use of `isPrivateAndUnlaunched`. What if we refactor the current `isComingSoon` flag to use state selectors from `client/state/selectors`?:

[code]

This looks much clearer.

Or alternatively, we could use only `isSiteComingSoon` state selector and mov

[2022-08-08 09:31] p-jackson commented on #65411
I believe @zaguiini is working on this in the PR that implements tile view #66325. Any time you need to decide which label to display on your site you can use an abstraction like this: https://github.com/Automattic/wp-calypso/pull/66325/files#diff-8bbf39155479aa6f51707f9e142fa24a88fe1f963b02b255a9f010bccce741faR11

[2022-08-08 09:40] wojtekn commented on #65411
@p-jackson As far as I see, the linked PR refactors label, but it doesn't refactor the `isComingSoon`. Will we extract this check there? We use this check not only to display the label but also for filtering.

[2022-08-08 09:42] p-jackson commented on #65411
That's true, it's used for filtering too 🤔
Yeah we probably need it all to be using the one shared function.

[2022-08-08 09:46] p-jackson opened #66340 "Sites Management Page: Table doesn't update when user adds a new site (or changes anything else)"
#### Steps to reproduce

1. Create a new site at `/start`
2. Visit the main Calypso dashboard at `wpcalypso.wordpress.com`
   - the new site is available in the site switcher, as it should be 👍
3. Visit `wpcalypso.wordpress.com/sites-dashboard`
   - the new site isn't in the site table, it should be there 👎
   - if you forcefully empty Calypso's application cache using the dev tools then the new s

[2022-08-08 09:53] ivan-ottinger commented on #63001
I cannot reproduce the issue anymore. Every time I change a custom primary domain on an Atomic site, the cached site icon URL changes accordingly as expected.

I suspect the underlying issue might have been fixed in the meantime. The user had probably changed their primary domain before that. Therefore their site address was still pointing to the old - incorrect address.

Taking into consideration

[2022-08-08 10:29] wojtekn commented on #66248
I've tried adjusting the threshold parameter but without success. Currently, we set it to 0.4. When I search for "test", I get four results that have an exact match, then the next results do not have anything similar to "test". Based on screenshots shown by @p-jackson, I guess it is "T....   ...es...   ....t"-like match.

I tried to decrease the threshold to 0.3, but I didn't observe too much chan

[2022-08-08 11:22] autumnfjeld commented on #66306
perfect. Thank you!

[2022-08-08 11:26] autumnfjeld opened #66343 "calypso_signup_site_vertical_submit, add prop is_supported"
# Description
To make analysis of vertical selection easier, we need a quick way to check if the vertical selected is supported (whitelisted).   Only supported verticals lead to viewing v13n designs, becuase these supported/whitelisted verticals have images available in https://mc.a8c.com/verticals/#/images

# Dev Tasks
- [ ] add prop `is_supported` that is a boolean

# Testing
* check tracks even

[2022-08-08 11:28] wojtekn commented on #64760
I've reproduced this issue. Then I checked the Calypso code and the API route that handles it, and it seems that the `privacy_setting` is supported only for videos. We don't save it for images at all, and as far as I see, we don't use it as well. I tried to save it for the video, and it worked fine.

This would mean that we shouldn't fix saving it for images, but we should ensure that we don't dis

[2022-08-08 11:31] autumnfjeld commented on #66343
@bangank36  One more metrics tweak. :)
I should have included this update with
[calypso_signup_site_vertical_submit trends should look identical in both vertical_title & vertical_id trend views](https://github.com/Automattic/wp-calypso/issues/66306)

Sorry about that. :)

[2022-08-08 11:37] yansern commented on #63819
From this sentence were you implying that it was going to be 3 different fixed widths?

IMO it is implied that will resize smoothly between the 3 new breakpoints with new widths & margins.

[2022-08-08 11:51] gavande1 commented on #65348
PoC diff created: D85549-code

[2022-08-08 11:59] yansern commented on #66336
Requoting what I've said here: D85354-code#1786604

I think WordPressMailer should be made smart enough to know what CSS file to load without needing implementors to explicitly decide what CSS file to load for every e-mail template we create.

[2022-08-08 12:13] aleone89 commented on #53102
Another report of this here: https://wordpress.com/forums/topic/issue-with-people-seeing-content

- Custom domain
- Site set to private

[2022-08-08 12:40] pauljacobson commented on #54147
Also reported here: 5461908-zen

I tested adding a bookmark of our user's site to my Android device's screen and the site icon displays. This seems to be primarily an iOS issue. I was able to reproduce this issue on Browserstack on iOS 15.6:

https://user-images.githubusercontent.com/2912202/183420192-5189f9f7-d66c-4688-a999-6de1a01b1a05.mp4

[2022-08-08 12:48] ivan-ottinger commented on #63819
The way I understood [Saygun's comment](https://github.com/Automattic/wp-calypso/issues/63819#issuecomment-1181860518) above was that there should be three different breakpoints for the email width.

But then, when I was experimenting with the actual code, it should be necessary just to change the `max-width` of the main `.container` to `832px` (as can be seen in the D85441-code patch) and we will

[2022-08-08 12:49] autumnfjeld commented on #66343
Ah, nevermind @bangank36 .  Griffth created this issue: https://github.com/orgs/Automattic/projects/338/views/1?filterQuery=

[2022-08-08 12:55] Nic-Sevic commented on #65038
Was going through older issues and saw that I'd missed this ask:

The system of when there are banners and when not isn't entirely clear to me so I'm not sure how exactly to duplicate. When I try now with JP plugin deactivated it's as though the site doesn't exist on the calypso side (i.e. either you can only choose other sites or you get the message saying you have no sites yet).

Sometimes thoug

[2022-08-08 13:20] autumnfjeld opened #66346 "calypso_signup_generated_design_picker_view add intent prop"
# Description

**Item 1**
See mc tool /tracks/events/event.php?eventname=calypso_signup_generated_design_picker_view

The calypso_signup_generated_design_picker_view should record prop `intent` (intent = build, write, sell, etc)

**Item 2**
calypso_signup_step_start with step=vertical should also record prop `intent`.

In general all steps in the FTM should record `intent`.

As shown in the screen

[2022-08-08 13:32] #66307 closed, assigned to renancarvalho

[2022-08-08 13:43] escapemanuele commented on #66149
Fixed by https://github.com/Automattic/wp-calypso/pull/66181

[2022-08-08 13:43] #66149 closed, assigned to nobody

[2022-08-08 14:18] phcp opened #66347 "[New Liked Post] Create Feature Flag"

[2022-08-08 14:23] phcp opened #66348 "[New Liked Post] Add link descriptors in the old email template"

[2022-08-08 15:02] andres-blanco commented on #66037
CLosed by D85486-code

[2022-08-08 15:02] #66037 closed, assigned to andres-blanco

[2022-08-08 15:10] kspilarski commented on #51640
Same case in 5462893-ZD. When adding more than 2 categories on a post, "Updating failed. Sorry, you are not allowed to assign the provided terms." message appears.

[2022-08-08 16:04] zaguiini opened #66350 "General styling: remove `long-content-fade` SCSS mixin and use the one exported by `@wordpress/base-styles`"
### Details

We're defining our own version of the [`long-content-fade`](https://github.com/Automattic/wp-calypso/blob/trunk/client/assets/stylesheets/shared/mixins/_long-content-fade.scss) mixin and it's pretty much a copy-paste of [what we have in `@wordpress/base-styles`](https://github.com/WordPress/gutenberg/blob/6ecb4c7740c3767f30878a3c639367a290dbbfba/packages/base-styles/_mixins.scss#L63).

[2022-08-08 16:10] david-binda commented on #66063
@mreishus with the above PR merged, and D85079-code being merged to WPCOM simple sites, this should be fixed.

I'm closing this issue, but feel free to reopen if you feel otherwise.

[2022-08-08 16:10] #66063 closed, assigned to nobody

[2022-08-08 16:23] mashikag opened #66352 "[New Comment] Unify action buttons"
### Details

Do the following for both new comment email notifications directed at either post author or post follower:
1. Make the username and "commented" word a hyperlink if needed for both. See following for more: pdgv5Y-nk-p2#comment-178
2. Decide on one primary action to be displayed for both, i.e. `View comment` or `Reply` primary action button. See following for more: pdgv5Y-nk-p2#comment-

[2022-08-08 16:25] mashikag commented on #66352
🛑 Blocked until design decision is made

[2022-08-08 17:17] JoshuaGoode opened #66355 "Bug / Atomic: Homepage demo content being replaced when switching themes via WP-CLI"
### Quick summary

Seemingly after a recent update to bring homepage demo content on theme switches to Atomic, WP-CLI now replaces the current home with a demo content home for supported themes.

paYKcK-1Wj-p2

This should not occur.

### Steps to reproduce

1. Have an Atomic site with a custom home page, custom content
2. Access /_cli on an Atomic site and run something like `wp theme activate tw

[2022-08-08 17:18] JoshuaGoode commented on #66355
There could be some unknown ramifications as there may be cases where the platform uses WP-CLI to change themes

[2022-08-08 17:47] Gustavo-Hilario opened #66356 "Lodestart: Home page: Full width blocks are not full width"
### Quick summary

A page with full-width blocks won't show up as full-width when set as the home page.

### Steps to reproduce

1. Activate `Lodestar` theme.
2. Create a new page with full-width blocks. It can be a Cover, Group, Columns, or any other.
3. Set this page to be the home page in the site's Customizer.
4. Check the published page.

Home page content won't show up as full width.

### Wh

[2022-08-08 17:51] KirkwallDay opened #66357 "Spearhead: Setting custom primary color results in links turning white on hover."
### Quick summary

Setting a custom primary color on the Spearhead theme results in links turning white on hover.

### Steps to reproduce

1. Have a site with the Spearhead theme.
2. In Customize > Colors and Backgrounds set the primary color to a custom one by hitting "Pick your own custom color."
3. At first things will look fine, save the changes and view a page on the live site.

### What you

[2022-08-08 18:13] zaguiini opened #66359 "Sites Management Dashboard: Improve mobile view of site content controls"
### Details

After introducing tile view and the mode toggle, we're actually consuming a lot of space on small screens and it's looking not only ugly but terrible from a UX perspective:

![image](https://user-images.githubusercontent.com/26530524/183485137-2bf1b34f-25e4-41c9-8fc2-1e50f269ceb7.png)

We can improve this by making the search fully occupy the first row and then putting the dropdown an

[2022-08-08 18:16] sejas commented on #66340
`useQuery` provides a way to invalidate the queries (clear the cache) and fetch the data again. https://tanstack.com/query/v4/docs/guides/query-invalidation

I usually create a function, and I call it when some action occurs, i.e. a user clicks on add site.

[code]

I love `useQuery` in general, but I feel we would be reinventing the wheel because we need to invalidate the query in multiple cases,

[2022-08-08 18:18] gibrown commented on #65457
Use a terms query: https://www.elastic.co/guide/en/elasticsearch/reference/7.17/query-dsl-terms-query.html

For playing with scoring you should also try out using the explain api to understand how the scores are calculated: https://www.elastic.co/guide/en/elasticsearch/reference/7.17/search-explain.html

[2022-08-08 18:28] danielbachhuber commented on #66340
@sejas I originally used Redux and was directed to use React Query instead: https://github.com/Automattic/wp-calypso/pull/65593#pullrequestreview-1040027902

We'll need to have Redux properly clear the React Query cache.

[2022-08-08 18:34] sejas commented on #66340
Some workarounds
1. Reduce the stale time to ""30 seconds""
3. Invalidate the query when the component is mounted / the tab get the focus

[2022-08-08 18:35] sejas commented on #66340
I think the second workaround will work well.

[2022-08-08 18:44] danielbachhuber commented on #66340
@sejas Ideally, wouldn't Redux prime the React Query cache when it's updated?

[2022-08-08 18:59] #66355 closed, assigned to nobody

[2022-08-08 19:06] sejas commented on #66340
That is the path I think is contrary to the react patterns.

Anyway, I've found that my second workaround is a good solution. It's simple, clean, and effective. I'm preparing the PR 😎 .

[2022-08-08 19:06] daledupreez commented on #60232
I've investigated this further and the main cause of the issue is that we host uploaded files on a subdomain of `files.wordpress.com` instead of directly on the site. This means the `download` attribute of the `a` tag is not honoured by the browser, because the file is on a different origin. This restriction is called out in [this MDN documentation](https://developer.mozilla.org/en-US/docs/Web/HTM

[2022-08-08 19:20] sejas commented on #66340
@danielbachhuber  PR: https://github.com/Automattic/wp-calypso/pull/66361 Ready to review.

[2022-08-08 19:24] gibrown commented on #23565
Commented on D85060. If we can do this for Atomic sites, then it should work that way for all Jetpack sites.

[2022-08-08 19:30] jeffikus commented on #65419
Thanks @madhusudhand - I'm removing this from our board.

[2022-08-08 20:28] noahtallen opened #66364 "[Bug]: Final characters in the search input are invisible"
### Quick summary

If enough text is typed into the search input component that the text overflows the input box, the final few characters are invisible until you type more text so they appear again. You can also make the text cursor itself invisible.

https://user-images.githubusercontent.com/6265975/183508474-33af1ae0-ff69-45a7-b9c5-380effa856ca.mov

### Steps to reproduce

1. Run `yarn workspac

[2022-08-08 21:03] #66203 closed, assigned to sejas

[2022-08-08 22:13] #66119 closed, assigned to jeyip

[2022-08-08 22:44] Rolilink commented on #66065
After some more research it seems this two events exist but are hidden behind a feature flag, they are part of the Marketplace Elastic Search implementation pdh6GB-1bw-p2#comment-2582.

But they are used for click conversion (clicking the plugin from the list) and not purchase conversion (going through the whole process and clicking the purchase/install button).

For the last one I think we will n

[2022-08-08 22:45] Rolilink opened #66367 "Create traintracks interaction events to track plugin purchases"
Per https://github.com/Automattic/wp-calypso/issues/66065#issuecomment-1208694623 we need to figure out how to implement an interaction event for installs/purchases.

- [ ] Send a `calypso_marketplace_search_traintracks_interact` with the `plugin_install` action when a free plugin is installed.
- [ ] Send a `calypso_marketplace_search_traintracks_interact` with the `plugin_install` action when a p

[2022-08-08 22:56] #66065 closed, assigned to Rolilink

[2022-08-08 22:57] danielbachhuber commented on #66270
Some debugging going on in Slack p1659993827084209-slack-C02FMH4G8

[2022-08-08 23:03] Rolilink opened #66368 "Task: Remove aria-hidden property from image in PromoCard"
### Details

As @mtias noted [here](https://github.com/Automattic/wp-calypso/pull/65763#discussion_r936992699) we would like to do some cleanup around the `aria-hidden` property.

### Checklist

- [x] Remove `aria-hidden` property

### Related

_No response_

[2022-08-08 23:39] zachspears opened #66369 "Add Privacy Policy Generator for Simple Sites."
### What

Add the Privacy Policy generator that is available for Atomic sites and [referenced here](https://wordpress.com/go/website-building/how-to-write-and-add-a-privacy-policy-to-your-wordpress-site/) to Simple sites.

### Why

All sites could benefit from, or require Privacy Policies. Adding this makes it easier for users to generate policies and feel more confident in their site. See 3588886

[2022-08-08 23:43] cuemarie commented on #53626
I encountered this issue again today here: 36389445-hc

Site was saved as Public under Settings, but showing the 'Coming Soon' landing page. Saving as 'Coming Soon', then 'Public', resolved the issue as usual.

Based on @roo2 's comments above, I'm guessing this site may have also just been this way since before the issue was resolved, but I wanted to note it here just in case. Will leave the issu

[2022-08-09 00:04] lsl commented on #23565
Thanks we can discuss here if its easier to track pings.

[2022-08-09 00:18] #65171 closed, assigned to vykes-mac

[2022-08-09 00:18] #65942 closed, assigned to vykes-mac

[2022-08-09 00:25] jeyip commented on #57812
Closing this for now as the problem appears to have been solved

[2022-08-09 00:25] #57812 closed, assigned to jeyip

[2022-08-09 00:53] alaczek opened #66371 "Premium Theme: Munchies"
### Details

The Munchies premium theme needs the following:

### Checklist

Already done:
* [Demo site](Peaf0H-l-p2) setup.
* Theme showcase page draft.

To do:
- [x] Headstart annotations (guide: paYKcK-1Pt-p2)
- [x] GlotPress project (guide: paYKcK-1Pt-p2)
- [x] Launch process (launch guide: PNEWy-eBM-p2)

### Related

_No response_

[2022-08-09 00:58] alaczek commented on #66371
I tried generating headstart annotations and they looked good to me, except for the nav menu, which contained items like "Blog" and "Testimonials", and wasn't the actual menu displayed on the demo site. If someone can figure out where that menu is coming from and how to fix it, that would be awesome (I didn't commit my experimental headstart annotations).

[2022-08-09 01:24] ebinnion commented on #66270
This seems related to https://github.com/WordPress/gutenberg/pull/40656. When I apply 2d1b8-pb/#diff to my sandbox, I'm able to get the page to render.

cc @draganescu in case he has any thoughts.

[2022-08-09 02:16] bangank36 commented on #65924
Closed as landed 🛬

[2022-08-09 02:16] #65924 closed, assigned to bangank36

[2022-08-09 02:52] #66346 closed, assigned to taipeicoder

[2022-08-09 02:55] #64541 closed, assigned to lupus2k

[2022-08-09 03:06] Greatdane commented on #64682
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-08-09 04:21] p-jackson commented on #66248
The `ignoreLocation` fix in #66311 has improved search results a lot for me. When I use the `"test"` query string now I get much more reasonable results than the screenshot I posted above. The single letter matches are much further down the list, off the screen even. So I'm a lot happier with how fuzzy search feels now.

Let's roll with the threshold as it is.

[2022-08-09 04:21] #66248 closed, assigned to danielbachhuber

[2022-08-09 04:24] p-jackson opened #66378 "Sites Management Page: Link to site front-end should have the external link icon"
Links in Calypso that open in another tab should be followed by an icon like this:
![Image](https://user-images.githubusercontent.com/1500769/183564107-45e6afc2-928b-47c8-8853-d5cd66cff22f.png)

Take a look at [the External Link component in devdocs](https://wpcalypso.wordpress.com/devdocs/wordpress-components-gallery).

The link is also missing a hover state.

@SaxonF mused that perhaps we could

[2022-08-09 04:38] p-jackson opened #66379 "Sites Management Page: Update wording to "Public", not "launched" or "live""
We're currently using a mixture of "launched" and "live" when referring to non-private/non-coming soon sites.

We want to be consistent and align with how the general setting talks about these sites:
![Image](https://user-images.githubusercontent.com/1500769/183565874-017cb812-80e9-4f18-96d5-1ea8e9365730.png)

We'll still use "launch" as a verb when it comes to turning a coming soon site into a pu

[2022-08-09 04:53] p-jackson opened #66380 "[Spike] Sites Management Page: "Hidden" sites don't appear unless the user searches for them"
Calypso allows you to "hide" sites using this legacy interface https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs&show=hidden

The Calypso site switcher doesn't display these sites by default
![Image](https://user-images.githubusercontent.com/1500769/183569755-f73aa4ea-858e-4f54-b690-4d0e29c9f83e.png)

But as soon as you start typing in the site switcher's search box the hidden sites

[2022-08-09 04:57] Greatdane commented on #65894
Opened an issue on Gutenberg;
- https://github.com/WordPress/gutenberg/issues/43072

[2022-08-09 05:03] Greatdane commented on #66223
I see as Mon-Sun in testing, but regardless, it won't be a feature to be able to re-arrange the 'start day' of the week.

![Markup on 2022-08-09 at 14:02:38](https://user-images.githubusercontent.com/5075840/183568355-29f35ce8-7dab-42bb-ae65-05b34b715e6e.png)

[2022-08-09 05:28] p-jackson opened #66381 "Sites Management Page: Grid/Table toggle button updates on its own if you toggle it too quickly"
The layout toggle on the sites management page gets all confused if you switch it too quickly. It probably has something to do with clicking the toggle while the network request to persist the setting is still in transit.

https://user-images.githubusercontent.com/1500769/183571705-602881aa-8794-4151-a04c-1f4b76b97e95.mov

##### Steps
1. `/sites-dashboard`
2. Quickly toggle to the other mode, and

[2022-08-09 05:44] vishnugopal commented on #65819
Some relevant discussion here: pa1Ax5-VV-p2

[2022-08-09 05:48] lsl commented on #64055
Might need some new ones for:

- SEO
- CRM & Livechat (Replaced customer service)
- Events Calendar
- Social
- Email (newsletter marketing)

But lets start with what we have.

[2022-08-09 06:16] vishnugopal commented on #65829
Caveats:
- The suggestion for installing All-in-one WP migration can only be done on Atomic sites, so the message should keep that in mind.

[2022-08-09 06:19] #64299 closed, assigned to candy02058912

[2022-08-09 07:03] formosattic commented on #64760
Thanks @wojtekn! Yes I believe that is right, as that field appears to be the "[VideoPress: Video Privacy](https://jetpack.com/support/video-privacy/)" option, so it shouldn't be there for images or videos uploaded directly to the server.

The option **must only show for VideoPress videos**.

On self-hosted with VideoPress, from `WP Admin > Media`, it only shows a privacy field for VideoPress vide

[2022-08-09 07:20] cpapazoglou commented on #65346
After discussing using OAUTH for vendor authentication pdt2If-ia-p2, we would still need a way to identify to which vendor the token belongs to. If I am not mistaken the auth token belongs to a WPCOM user.

@obenland , @gavande1 should we create a new table `store_vendor_wcpom_user` that links a `store_vendor` to a wpcom user? That way we can authorise the vendor getting subscription information f

[2022-08-09 07:28] autumnfjeld opened #66383 "⚙ D84435 Support themes with blogs home page: https://code.a8c.com/D84435"

[2022-08-09 07:28] autumnfjeld commented on #66383
FYI: added this diff @arthur791004

[2022-08-09 07:54] autumnfjeld opened #66384 "⚙ D84434 Support themes with non static home page: https://code.a8c.com/D84434"
D84434-code

[2022-08-09 07:54] #66384 closed, assigned to nobody

[2022-08-09 08:05] cpapazoglou commented on #66313
FWIW, we have already launched on Starter so I believe you are referring to Personal / Premium.

Yes, we need this functionality for our CfT pdtkmj-io-p2. Have we identified that a non a11n can exploit this?

[2022-08-09 08:05] gavande1 commented on #65346
Yes. we need a new table `store_vendor_wcpom_user ` to map wpcom users with product vendors. This just needs to be a pivot table. Only containing `store_vendor_id` and `wpcom_user_id`.

[2022-08-09 08:08] mashikag opened #66386 "[Subscriber Welcome] Clean-up the deprecated email template code"
### Details

Clean-up the deprecated email template code

### Checklist

- [ ] clean-up template code
- [ ] clean-up template sending code

### Related

_No response_

[2022-08-09 08:10] mashikag opened #66388 "[Confirmation Request] Clean-up the deprecated email template code"
### Details

Clean-up the deprecated email template code

### Checklist

- [x] clean-up template code
- [x] clean-up template sending code

### Related

_No response_

[2022-08-09 09:43] bogiii opened #66393 "Subscriber form: Users integration, add feature flag"

[2022-08-09 09:46] cpapazoglou commented on #60769
WC.com should already include a `wpcom_marketplace_org_slug` meta product field

https://github.com/Automattic/woocommerce.com/blob/2eecf7406c8adb139bd6ac92adb4ad56c8b2a443/plugins/wccom-plugins/wpcom-marketplace/includes/fields/class-wpcom-org-slug.php#L7

We will need to be able to use ES to get WC.com (premium) plugins with a given `wpcom_marketplace_org_slug`. Example:

- User visits Yoast SEO

[2022-08-09 10:33] renancarvalho opened #66396 "SignUp: Add loading step"
### Details

After submitting the form there should be a loading step, according to this [design spec](https://www.figma.com/file/BcUdhLlhAp7UHtQHNTI4zA/Tailored-Onboarding-%26-Launchpad?node-id=1865%3A18108)

### Checklist

_No response_

### Related

_No response_

[2022-08-09 10:43] jorpdesigns commented on #52100
- [ ] 5462966-zen

[2022-08-09 10:57] gavande1 commented on #65346
Created SQL: 2d1c7-pb/#sql

[2022-08-09 11:04] dolgelukkig commented on #62481
36292139-hc
Setting the site to public and turning off CDN Jetpack settings solved the issue. Images disappeared again after setting the site back to private. Site is now public with a maintenance plugin protecting it from being viewed.

[2022-08-09 11:29] yansern opened #66399 "Goals Capture: Hide DIFM for non-EN users."
### Details

Hide DIFM goal for non-EN users. More context in: pdDOJh-Ba-p2#comment-448

### Checklist

- [x] Ensure DIFM goal is not shown for non-EN users on Goals Capture step.
- [x] Update the FTME shipping table.

### Related

_No response_

[2022-08-09 11:48] renata-franco opened #66400 "WordPress.com/go action bar text looks strange"
### Quick summary

When going to WordPress.com/go the action bar to follow the site on the bottom right seems to be having some CSS issues.
The "follow" text is not centered and does not look as usual.

It looks like this:

![imagen](https://user-images.githubusercontent.com/81378719/183639201-17c5a11a-076c-43e0-9ffc-7ba75e8f1fe4.png)

### Steps to reproduce

1. Visit WordPress.com/go

### What yo

[2022-08-09 11:56] sejas commented on #64760
- Fixed on https://github.com/Automattic/wp-calypso/pull/66390

[2022-08-09 11:56] #64760 closed, assigned to wojtekn

[2022-08-09 12:28] Nic-Sevic opened #66402 "[Bug]: Blogger Importer not compatible with PHP 8.0"
### Quick summary

When try to import using Blogger Importer and site on PHP 8.0 you get an automatic fatal when you try to get to the file upload screen or the general importer screen. I tested other available importers and they seem fine.

I think this is high impact because PHP 7.4 is nearing end of life and all newly transferred Atomic sites are automatically getting put on 8.0. This makes for

[2022-08-09 12:48] draganescu commented on #66270
I have nothing I am afraid. Without an env to debug not sure what would be the cause of the loop. The PR mostly removes code so that makes it even harder to intuit :) Let me know if I can help otherwise.

[2022-08-09 13:14] ivan-ottinger commented on #63819
D85441-code is now deployed to production. The email templates have the new width.

[2022-08-09 13:14] #63819 closed, assigned to ivan-ottinger

[2022-08-09 13:30] WBerredo commented on #66313
I don't think it's possible, but HE's are confused about this check made via proxy.

I created #66362 which creates a temporary check that avoids the non-need to upgrade when the feature flag is disabled.

[2022-08-09 14:08] mashikag opened #66405 "[New Comment] Implement heading as per design"
### Details

The updated _New Comment_ email template should include the "New comment!" heading:

Before:

![Markup on 2022-08-10 at 10:54:20](https://user-images.githubusercontent.com/25105483/183859638-3f08378a-6aa0-4f4b-8a3b-ec4fee5106b2.png)

After:

![Screenshot 2022-08-09 at 16 10 41](https://user-images.githubusercontent.com/2019970/183671183-492b0409-aff1-4f02-aef9-babcf7569ec3.png)

[2022-08-09 14:14] mashikag opened #66406 "[New Comment] Remove the "New comment on " from email header"
### Details

Current design:
![Screenshot 2022-08-09 at 16 13 21](https://user-images.githubusercontent.com/2019970/183671837-f9b55211-a17e-4d69-aefd-7b8bdfc0dba2.png)

New design:
![Screenshot 2022-08-09 at 16 12 53](https://user-images.githubusercontent.com/2019970/183671886-dbcd39b6-2a2d-43c0-b985-c377ff05e443.png)

[2022-08-09 14:23] michaeldcain commented on #66371
I looked at this with @valterlorran and it looks like Headstart is copying legacy nav menus instead of the new FSE navigation block post type. Valter is working on adding that support in D85195-code

[2022-08-09 14:35] mashikag opened #66408 "[New Comment] Validate pingback and trackback emails"
All the new comment work needs to be completed first.

[2022-08-09 14:36] mreishus commented on #66063
Great, thanks for your work on this! I no longer see the ~10ms queries on every page load.

[2022-08-09 14:37] mashikag opened #66409 "[New Comment] Add the "Great Posts" section"
The new template should include the "Great Posts" section:

![Image](https://user-images.githubusercontent.com/25105483/183870744-a713561f-d6f5-4220-83cb-37a579546a17.png)

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A23435

Section should display only if the user that left the comment has a public site with posts published.

[2022-08-09 14:37] mashikag opened #66410 "[New Comment] Display "View Comment" CTA for post owner notification"

[2022-08-09 15:00] sixhours commented on #66371
@valterlorran and I looked at this today and found a super secret (well not really) `wp_navigation` post type area that had a bunch of old menus in it. I don't claim to understand how FSE works, but you can manage existing menus for a site from `/wp-admin/edit.php?post_type=wp_navigation`. I cleared out all the menus labeled "Primary" on the Munchies demo site, then re-set-up the menu block in the

[2022-08-09 16:04] #66368 closed, assigned to Rolilink

[2022-08-09 16:19] Joshgrygiel commented on #66400
📌 SCRUBBING
- Tested on P2 - N/a
- Tested on Simple - N/a
- Tested on AT - N/a
- Tested on Self-hosted - N/a
- Replicable on Core - N/a

📌 FINDINGS/SCREENSHOTS/VIDEO
![Annotation on 2022-08-09 at 11-15-29](https://user-images.githubusercontent.com/88345647/183704171-6e12cbc1-72c6-47f3-8e9a-212f05f5397f.png)
- After testing the https://wordpress.com/go page on Chrome, FireFox and Safari, I was unab

[2022-08-09 16:19] #66400 closed, assigned to nobody

[2022-08-09 16:26] #66379 closed, assigned to wojtekn

[2022-08-09 16:34] Robertght commented on #66270
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
-  I can replicate the infinite loop behavior on AT sites. @jeffikus or @pbking is this something the team can look into?

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-08-09 16:35] Joshgrygiel commented on #66326
📌 SCRUBBING
- Tested on P2 - N/a
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm that on my simple and AT testing sites, when trying to paste a post title from the clipboard, the paste replaces all content that was previously saved as the title rather than applying the pasted text to the end of the title:

http

[2022-08-09 16:55] Joshgrygiel commented on #66262
📌 SCRUBBING
- Tested on P2 - N/a
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - Np
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- While testing the Byrne theme on Simple / AT testing sites, I was unable to reproduce the issue as the underline decoration seemed to correctly toggle when saved on my end:

https://user-images.githubusercontent.com/88345647/183711240-3d7d40e

[2022-08-09 16:55] #66262 closed, assigned to nobody

[2022-08-09 17:03] renata-franco commented on #66400
Nope. This was only on that page https://wordpress.com/go. I haven't seen this anywhere else. But I was asked to report this so here I am. The CSS fixed it.

[2022-08-09 17:03] Robertght commented on #63880
@mpkelly I'm still able to replicate this on my end. Here's one example with Spearhead/Seedlet:

![image](https://user-images.githubusercontent.com/6737345/183712899-7ed37a83-d1f8-497a-bc5b-a3702c0a026b.png)

Has this already been merged?

[2022-08-09 17:09] gibrown commented on #23565
Maybe it would be good to move this into the jetpack repo of issues now if the Jetpack plugin is a part of what needs to change? I think there are ways to get around the user id problems now. Do you have any links or a re-summary of where we are now at?

[2022-08-09 17:23] Robertght commented on #66072
Thank you @Jaykame !

[2022-08-09 17:25] Robertght commented on #66152
Thank you! Closing for now.

Please reopen if the issue reoccurs.

[2022-08-09 17:25] #66152 closed, assigned to nobody

[2022-08-09 17:34] KirkwallDay commented on #62521
- [ ] Another instance here: 5465472-zen

[2022-08-09 17:43] KirkwallDay opened #66413 "Archeo theme Navigation Block can't add submenus if menu is more then one row."
### Quick summary

On the Archeo theme, if you have a navigation block that is more than one row, and then try to add a submenu option, the menu will not add, the + sign to add an item is non-responsive. Only happens on Atomic.

### Steps to reproduce

1. Have a site with the Archeo theme active.
2. Create a menu that uses atleast 2 rows.
3. Try to create a submenu from one of the menu items.
4. H

[2022-08-09 17:51] csonnek commented on #53102
Another report here: https://wordpress.com/forums/topic/issue-with-people-seeing-content/

[2022-08-09 17:57] p-jackson commented on #66295
Made some improvements in #66392. Halved the amount of time the JS takes to run when the user types their first character. CSS perf appears to be the slowest part now.

[2022-08-09 18:00] obenland commented on #65346
What happened to [extending the store_vendors table](https://github.com/Automattic/wp-calypso/issues/65346#issuecomment-1182849547)?

[2022-08-09 18:03] synora opened #66414 "[Bug]: RSS Block "Number of Items" Setting"
### Quick summary

Per our support docs, the [RSS Block](https://wordpress.com/support/wordpress-editor/blocks/rss-block/)'s "Number of Items" setting allows you to "choose the number of items that will display from the RSS feed. The maximum number of items is 10."

However, you can increase the number of items to display to 20 but the block will only display 10 items as expected.

### Steps to re

[2022-08-09 18:47] ebinnion commented on #66270
I can reliably reproduce this issue by doing the following:

- Create a jurassic.ninja site
- Install Gutenberg
- Activate TwentyTwentyOne
- Create a post with a query loop and set the "Inherit query from template" toggle
- Publish page and load

Now, the one difference between WPCOM and the self-hosted jurassic.ninja site is that the JN site actually outputs some content whereas we get a white pa

[2022-08-09 18:51] upwardmomentum84 commented on #35968
Ran into this here: 12976382-hc

Theme is Payton. I was able to replicate the issue on my end on a test site.

[2022-08-09 18:58] creativecoder commented on #66150
D85402-code has been deployed, which should resolve this issue.

If you see additional issues with reblogging and featured images, let me know!

[2022-08-09 18:58] #66150 closed, assigned to creativecoder

[2022-08-09 19:05] danielbachhuber commented on #66295
@p-jackson Out of curiosity, what do you think is slow about the CSS?

[2022-08-09 19:08] danielbachhuber commented on #66381
@p-jackson It's a feature, not a bug? 😄

[2022-08-09 19:10] p-jackson commented on #66295
I've been doing some Googling about it to find out. The `key` prop for each row means that React should be doing an efficient job of rearranging the DOM elements, and that makes me think that there's something about the row style that makes doing a re-layout expensive. Maybe some sort of `position: absolute | relative` in one of the row components that makes layout hard? I'm just sort of throwing

[2022-08-09 19:19] zaguiini commented on #66247
Done 🚀

[2022-08-09 19:19] #66247 closed, assigned to zaguiini

[2022-08-09 19:24] #66347 closed, assigned to phcp

[2022-08-09 19:36] andres-blanco commented on #66008
Relevant Slack conversation: p1660073774437949-slack-C029FM1EH

[2022-08-09 19:45] mreishus opened #66419 "[Bug]: Unified Design Picker: Does not work with intent-less sites"
### Quick summary

When the unified design picker is on, /setup/designSetup no longer works with sites that don't have an intent collected.

CC @Automattic/ganon

### Steps to reproduce

* Have a site that was created without an intent (example: 2d1e7-pb )
* Be in an environment with the `signup/design-picker-unified` flag on (example: calypso localhost)
* Visit `http://calypso.localhost:3000/setu

[2022-08-09 19:54] mashikag opened #66420 "[New Liked Comment] Fix email sent out in liker’s language"
More details at pb6Nl-fi7-p2#comment-99696

[2022-08-09 20:17] DaveSophoServices commented on #59034
Still waiting for this resolution. If I use the video block from Stackable, the issue isn't present. It shows the video just fine in the Latest Posts block. The standard youtube embedded does not show it. I can put them side by side in a single post, view it through Latest Posts block, and one renders, the other does not.

[2022-08-09 22:13] #66340 closed, assigned to sejas

[2022-08-09 22:35] cuemarie commented on #53626
Another one today: 36404972-hc

**WordPress.com Editing Toolkit** plugin was inactive, so `Coming Soon` wasn't an option under the Privacy section, but the site was still showing the `Coming Soon` sticker.

Activated the plugin, ran privacy somersault, and deactivated again to resolve.

[2022-08-09 22:55] nicolynramos opened #66426 "[Block] Buttons - Nested buttons have different block settings and styles than un-nested buttons"
### Quick summary

When you add the MailChimp block to a page and style the button to be filled with a custom background color, the button will show the correct background color but keep the theme's default button outline.

### Steps to reproduce

1. Open a page to edit
2. Insert the MailChimp block
3. Select the MailChimp form button
4. Set the button to the Fill style
5. Add a custom background

[2022-08-09 23:10] lsl commented on #64100
Reopen once we have more query args again (we move cats to path)

[2022-08-09 23:10] #64100 closed, assigned to nobody

[2022-08-09 23:34] happychait opened #66428 "Rebalance theme: Sharing buttons are not displayed on the Front Page"
### Quick summary

Sharing buttons are not displayed on the front page despite enabling the `Front Page, Archive Pages, and Search Results` option for the `Show like and sharing buttons on` setting as in this screenshot:
![Sharing buttons on the front page](https://user-images.githubusercontent.com/1519466/183779173-65d98992-5fe8-47e5-861b-c147aa0104aa.png)

### Steps to reproduce

1. From https:/

[2022-08-09 23:43] danielbachhuber commented on #66359
Saxon gave his thumbs up in p1660080585556929/1660072726.351699-slack-C0347E545HR

[2022-08-09 23:43] #66359 closed, assigned to SaxonF, zaguiini

[2022-08-10 01:01] lsl commented on #23565
D85060-code is where we're at currently. I don't really understand this setup much myself. Just know we can't really be expected to develop on this without making it easier to debug requests and test output.

pb5gDS-1DI-p2 - @lupus2k's initial exploration & (re)discovering the extra network hops.

pb5gDS-1Vj-p2 - Latest exploration, resulting in D85060-code.

[2022-08-10 01:55] edwinho89 opened #66430 "Payment method: Allow UPI payment from India"
### What

Allow local additional payment in India: Unified Payments Interface (UPI)

https://www.npci.org.in/what-we-do/upi/product-overview

Chat: 36406353-hc

### Why

Additional local payment option available for users in India

### How

_No response_

[2022-08-10 02:37] mpkelly commented on #63880
Hi @Robertght, this is on an Atomic site, right? If you go to `/wp-admin/plugins.php` can you see **WordPress.com Site Helper** listed? If so, what is the version number?

I will try and reproduce it at my end and confirm that this has been released to Atomic sites. I will provide another update today.

[2022-08-10 02:52] taipeicoder commented on #66419
@mreishus thanks for letting us know about this issue! We've pushed a fix in D85686-code. Could you explain the flow that would lead to the UDP without site intent?

[2022-08-10 02:52] #66419 closed, assigned to taipeicoder

[2022-08-10 03:33] bangank36 commented on #66332
Closed as landed

[2022-08-10 03:33] #66332 closed, assigned to bangank36

[2022-08-10 03:43] bangank36 opened #66432 "Revert flow progress bar .is-fixed style"
## Description

We should clean up the `is-fixed` implementation for the flow progress bar once the UDP is shipped

## Reference

[Convo](https://github.com/Automattic/wp-calypso/pull/66333#discussion_r941920536)

[2022-08-10 03:44] mpkelly commented on #63880
I have reproduced this on a WoA site using Twenty Eleven. The CSS looks like it did before I made the fix, so it looks like the change didn't get released, or the change has been lost in a later release. I am still investigating, @Robertght.

[2022-08-10 05:11] Greatdane commented on #66326
Gutenberg issue:
- https://github.com/WordPress/gutenberg/issues/43066

[2022-08-10 05:21] Greatdane commented on #66326
Would like to be notified; 5460407-zd-woothemes

[2022-08-10 06:46] danielk-am opened #66433 "Permalinks displaying post IDs when in drafts and scheduled."
### Quick summary

<img width="351" alt="Screen Shot 2022-08-10 at 14 39 40" src="https://user-images.githubusercontent.com/92185881/183832684-647829c9-2841-4e18-9b14-d1f5a8bd72d5.png">

Permalinks are displaying the plain post ID instead of the edited URL in drafts and when scheduled to be published at a later date.

Is there a way to display the URL without clicking on "URL" to preview it?

###

[2022-08-10 06:53] gavande1 commented on #65346
I added the above comment with the assumption that one vendor can have multiple OAuth clients or we will eventually allow them to have more than one client ID and secret token. My understanding says (in the future) that we will allow vendors to create/manage API keys from the vendor dashboard. Hence, the pivot table.

If my assumption is wrong here and we will allow only one API key per vendor the

[2022-08-10 07:04] daria2303 commented on #66262
@Joshgrygiel  thank you for checking. I am not able to reproduce it anymore on the same sites, the underline is gone. I suspect it was solved within the Gutenberg update.

[2022-08-10 07:14] autumnfjeld commented on #66419
Yes, this is key.  It sounds like this issue is an edge case that would never happen in onboarding flow.

[2022-08-10 07:52] ivan-ottinger opened #66434 "Cover block: Incorrect rendering in the email template"
The Cover block is not rendered correctly in the email templates.

| Cover block with Image background | Cover block with Video background|
| ------------- | ------------- |
| ![Image](https://user-images.githubusercontent.com/25105483/183846385-77d5608a-2418-4081-918b-583afa7d1b61.png) | ![Image](https://user-images.githubusercontent.com/25105483/183846384-692af560-8525-4c7d-a910-8ff5ca5501c1.png

[2022-08-10 07:54] cpapazoglou commented on #65346
Even if vendors created different OAuth clients, wouldn't these be connected with the same WordPress.com user? I think we can drop my suggestion for a `store_vendor_wcpom_user` table and move on with a `wpcom_user_id` to the `store_vendors` table. If this proves not enough in the future we can always migrate the data to a new `store_vendor_wcpom_user` table and use it.

[2022-08-10 08:11] edwinho89 commented on #66413
I see one easier workaround be to switch menu navigation into mobile, then add submenus which is working as expected.

<img width="1664" alt="image" src="https://user-images.githubusercontent.com/34882260/183848559-30db28cd-06db-4e59-a1d7-38db65564764.png">

[2022-08-10 08:13] ivan-ottinger commented on #66420
Related issue: 5404-gh-Automattic/p2.

[2022-08-10 08:59] gavande1 commented on #65346
Depends. My understanding is that vendors will have different roles and users.  WCCOM has different user roles like Vendor Admin and Shop Manager. It means that one vendor can have multiple users. This implies that the client can belong to any user.

However, we can make sure the OAuth client is always created with the primary WPCOM user ID for each vendor. So that we can link all tokens to one ve

[2022-08-10 09:23] taipeicoder opened #66438 "Unified design picker: Do not show generated designers in the Seller flow"
## Description

![Image](https://user-images.githubusercontent.com/5665959/183908679-94603a8a-6de2-45c8-8f0e-2ff2e8c9ca34.png)

Currently, the unified design picker is not showing designs tailored to the Seller flow. Instead, it's showing one generated design for Blog, another for Portfolio, and another for Business Services. Since we currently don't have ant eCommerce recipes, let's not show any

[2022-08-10 09:35] taipeicoder opened #66440 "Unified design picker: Prevent page jumping when switching theme filters"
## Description
In the unified design picker, switching the theme filter can sometimes cause the page to jump caused by the number of displayed themes changing. See recording for reference:

https://user-images.githubusercontent.com/797888/183868403-fb7c2895-4cf4-4ab9-adde-9eab1ae66f37.mp4

## Acceptance Criteria
- [ ] Switching the theme filter shouldn't cause a page jump.

[2022-08-10 09:48] cpapazoglou commented on #65346
That's accurate
![CleanShot 2022-08-10 at 12 43 10@2x](https://user-images.githubusercontent.com/12430020/183870500-20d6df27-d738-4930-8b97-58772cd979d2.png)

So creating a pivot table seems easier than making sure the OAuth client is created with the primary user.

[2022-08-10 10:01] ivan-ottinger opened #66442 "[New Comment] Display "You can also reply to this email..." hint"
The new email templates (_New Comment_ and _New Post_) should include the following tip:

![Image](https://user-images.githubusercontent.com/25105483/183874336-c42d421b-b5a2-4ffe-8ae1-8dc5e156b22b.png)

We need to check whether the display should be conditional.

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A23435.

---

TODO:
- [x] https://github.com/Automattic/wp-calypso/issues/66753
- [x] https://git

[2022-08-10 10:03] ivan-ottinger commented on #66410
Closing in favor of https://github.com/Automattic/wp-calypso/issues/65746.

[2022-08-10 10:03] #66410 closed, assigned to nobody

[2022-08-10 10:05] ivan-ottinger opened #66443 "[New Comment] Add RTL support"

[2022-08-10 10:06] ivan-ottinger opened #66445 "[New Comment] Add link descriptors in the old email template"

[2022-08-10 10:10] ivan-ottinger opened #66446 "[New Comment] Add icons to the CTA buttons"
The CTA buttons should include icons:

![Image](https://user-images.githubusercontent.com/25105483/183876474-8bce1bff-2756-45da-9be7-e3e2fe86b5e9.png)

Figma: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A23435

[2022-08-10 10:29] gmovr opened #66447 "Show disclaimer + visual tweaks for sites having add-ons and upgrading to a plan"
Reported here:

p1659705535131049-slack-C031TFM2NKC

For a site with one or more add-ons, when upgrading to a plan containing the add-ons functionality, the tooltip on the price is confusing.

![Image](https://user-images.githubusercontent.com/52675688/183880610-d01aa1d0-847e-4818-acc4-2a337559bb92.png)

## To reproduce

- Go to the plans page for a site that has one or more add-ons, and hover ove

[2022-08-10 10:42] rickmgithub opened #66448 "Cover block missing screen width responsiveness"
### Quick summary

URL:     /fordsfightforlife.com/
The home page is not responsive.
When you try to squeeze the page this occurs - https://d.pr/v/c82ZMs

### Steps to reproduce

* The site has a cover block with text in
<img width="1232" alt="Markup 2022-08-10 at 11 37 56" src="https://user-images.githubusercontent.com/13706336/183881638-b986f8a8-c701-4c59-8ebe-057765a0b8ca.png">
* Tried this on

[2022-08-10 10:51] cpapazoglou commented on #65346
Related systems request pMz3w-fIh-p2_vendor-to-wpcom_user-mapping/

[2022-08-10 12:48] galakhyati opened #66449 "Publication: Placement of the Featured image of the post using Blog Post block isn't considered"
### Quick summary

1. Activate the Publication theme
2. On a page add a Blog post block and show posts in a list view and image set up to 'Show media on top'.
3. View the page. It shows the image on right instead of on the top.

Editor screenshot:

![Markup on 2022-08-10 at 18:13:57](https://user-images.githubusercontent.com/7382505/183904322-90d82ea2-ed32-4673-a2f5-f56fe25a0cbf.png)

Screenshot:

[2022-08-10 12:53] cpapazoglou commented on #65348
Moved the docs to P2gHKz-oWl-p2

[2022-08-10 12:53] cpapazoglou commented on #65518
Moved the docs to P2gHKz-oWl-p2

[2022-08-10 12:54] ivan-ottinger opened #66450 "[New Liked Comment] Consider displaying full comment instead of excerpt"
It might be better user experience if we display full comment instead of excerpt:

![Image](https://user-images.githubusercontent.com/25105483/183906828-dc630f66-0f6e-4859-bc82-65cb9589fda8.png)

More context: pdtkmj-iG-p2#comment-539.

[2022-08-10 13:01] ariel-maidana opened #66451 "Customizing the footer credit has no effect in Alonso"
### Quick summary

Changing the footer credit type from **Appearance ---> Customize ---> Footer credit** has no effect on simple sites with the Alonso theme.

### Steps to reproduce

1. Activate Alonso on a simple site.
2. Go to **Appearance ---> Customize ---> Footer credit** and change the footer credit type. For example, select the "WordPress.com logo", and save the settings.
3. Check the live

[2022-08-10 13:02] mashikag opened #66452 "[New Comment] Clean-up no more used code snippet"

[2022-08-10 13:04] mashikag commented on #66452
✅ Done in D85633-code

[2022-08-10 13:04] #66452 closed, assigned to mashikag

[2022-08-10 13:05] mashikag commented on #66388
✅ Done in D85626-code

[2022-08-10 13:05] #66388 closed, assigned to mashikag

[2022-08-10 13:05] ivan-ottinger opened #66453 "[New Liked Comment] Fix incorrect "Trouble clicking?" URL"
The new template is displaying incorrect "Trouble clicking?" URL:

![Image](https://user-images.githubusercontent.com/25105483/183909242-02ae8c90-90bd-4bea-9bc7-e4e426dec902.png)

Instead of displaying the post URL, it should point to the notification settings page:
![Image](https://user-images.githubusercontent.com/25105483/183909243-9dcf41c2-f70d-4941-8218-812d4f3a5a59.png)

[2022-08-10 13:18] autumnfjeld commented on #66335
If this is not a super simple task, meaning if there is any technial complication, then let's just leave it as it is.  I think it very debateable on whether users would be confused with this.   A much bigger issue is the Theme name and  "free" being confusing pdtkmj-h8-p2#comment-511

[2022-08-10 13:21] danielbachhuber commented on #66380
The `<SiteSelector>` component uses `getVisibleSites()` to determine which sites are visible vs. hidden:

https://github.com/Automattic/wp-calypso/blob/0b34a51b66b803979b309150ca3fbfc55ba5c549/client/components/site-selector/index.jsx#L567

Like @wojtekn identified earlier, `getVisibleSites()` simply filters on the `visible` attribute:

https://github.com/Automattic/wp-calypso/blob/0b34a51b66b8039

[2022-08-10 13:29] kimerlin81 opened #66454 "Table of Contents Block behavior in FSE - Configure it to dynamically display the headings for all posts/pages"
### What

When the Table of Contents block is inserted in FSE(Single) it does not display headings from that post.
It will, however, display headings that are inserted directly into FSE.

This seems to be desired behavior, but the user and I would expect the TOC block to automatically pull and display all headers for each post when it's inserted into FSE. Similar to how the Post Content block can

[2022-08-10 13:47] #65948 closed, assigned to phcp

[2022-08-10 13:47] #65946 closed, assigned to phcp

[2022-08-10 13:47] #65945 closed, assigned to phcp

[2022-08-10 13:48] #64543 closed, assigned to lupus2k

[2022-08-10 14:05] ClassicRKR27 commented on #58031
- [ ] Another instance here: 31102990-hc

[2022-08-10 14:06] KirkwallDay commented on #66300
- [] Another instance here: 36387662-hc

[2022-08-10 14:07] autumnfjeld opened #66456 "[Spike/Research] Style Selection in the onboarding Design Picker"
# Description

![Image](https://user-images.githubusercontent.com/5665959/183922455-542101ee-8512-4041-b116-458764071eac.png)

Slack convo: p1660531485285369-slack-CRWCHQGUB
[Draft Project thread](https://docs.google.com/document/d/1rH71zAf5en__oDIysez6yWOPswZLvvGScaRr23UprTk/edit#)
Design Post Painting the web:  p58i-cQg-p2
[Tips from Caribou’s importer work: p1659954134198229/1659941429.904089-s

[2022-08-10 14:10] autumnfjeld commented on #66456
@roo2  Would you like to take the lead on this project?   If so, then this is all yours whenever you are ready.  I still have much work to do on the project thread, but I think there is enough understanding that we can begin tech research and foundations.

[2022-08-10 14:16] mreishus commented on #66419
Internally, we directly visit the url to test changes to the design picker.
Externally, it looks like various site importers can send users to the design picker:
Example:
https://github.com/Automattic/wp-calypso/blob/3f71a8039b7b0dc0b23e3e6c7573ea1d9a19dc3f/client/blocks/importer/wix/index.tsx#L126-L129
https://github.com/Automattic/wp-calypso/blob/3f71a8039b7b0dc0b23e3e6c7573ea1d9a19dc3f/client/b

[2022-08-10 14:26] escapemanuele opened #66457 "Stepper: Store setup step data in store"
The processing step for the tailored flows is now at the end of the flow, not after the setup step (like the link in bio setup).

What we can do is store the values from the setup step in the store.
We'll then process it in another step at the end of the flow

Link to the figma: BcUdhLlhAp7UHtQHNTI4zA-fi-3147%3A78984

[2022-08-10 14:27] KirkwallDay opened #66458 "Quadrat and variants show site title as uppercase in editor but not on live site"
### Quick summary

Happens on Atomic only: Quadrat shows the site title in uppercase in the editor but not on the live site.

### Steps to reproduce

1. Have an atomic site using the Quadrat theme.
2. Check your site title in the editor, it will be in uppercase, even though the site title is not written that way in Settings > General
3. Check your site live.

### What you expected to happen

The s

[2022-08-10 14:32] renata-franco commented on #65662
I was not able to replicate on an AT site with all of these plugins installed.

Could you please triple-check if you can still replicate it? And if you do, can you please record a video of the process?

Same for @nanoanno, please! To see if we are missing any steps to be able to replicate.

[2022-08-10 14:47] danielbachhuber commented on #66380
I put together a prototype with #66459

[2022-08-10 14:55] phcp opened #66461 "[New Liked Post] Add RTL support"

[2022-08-10 14:58] phcp opened #66462 "[New Liked Post] Add "Great Posts" section"
![Image](https://user-images.githubusercontent.com/3113712/183937530-9aab58b9-27a9-4669-84c6-6906523facd0.png)

[2022-08-10 15:07] renata-franco commented on #66171
📌 SCRUBBING

- Tested on AT ✅

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I am not sure if I was able to replicate this issue or not. I think there is a very specific set of conditions for this to happen. I couldn't replicate with Blank Canvas but had some success with Zoologist.

First, here is the color scheme I have currently on the test site:

![imagen](https://user-images.githubusercontent.com/813

[2022-08-10 15:07] ivan-ottinger commented on #66453
The old (current) template is pointing to https://wordpress.com/me/notifications (that's where `https://wordpress.com/settings/notifications/?sn=c#settings-notifications` goes to):

![Markup on 2022-08-10 at 17:01:34](https://user-images.githubusercontent.com/25105483/183938301-0fc64678-2d7b-4142-a6b1-2405a7906096.png)

This page allows users to unsubscribe from any site. Users can also unsubscrib

[2022-08-10 15:19] #63888 closed, assigned to WBerredo

[2022-08-10 15:20] renata-franco commented on #66300
📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate it on Simple, AT, and self-hosted sites.

**Simple:**

![imagen](https://user-images.githubusercontent.com/81378719/183941984-781f789d-0c5d-441d-8083-3cfbb2c49f8a.png)

**AT site:**

![imagen](https://user-images.githubusercontent.co

[2022-08-10 15:23] kettultim commented on #66171
You know what - I'm unable to replicate this now! So I suspect you're right about it needing a *very* specific set of conditions. I've tried to replicate with multiple conditions but have come up empty.

I'll make sure to provide more visual evidence if I come across it again - my bad for rushing this bug report!

[2022-08-10 15:34] dolgelukkig opened #66463 "Product categories not showing up in the menu"
### Quick summary

The product categories are not showing up as options to add to the menu.

### Steps to reproduce

Open the menu page https://digiug.wpcomstaging.com/wp-admin/nav-menus.php
Try adding product categories to the menu, they should be there but they are not
![Markup on 2022-08-10 at 11:45:24](https://user-images.githubusercontent.com/5507879/183944334-5474dff8-61f7-4588-96f5-3c6e575a

[2022-08-10 16:15] worldomonation commented on #66177
Closed by linked issue #66178.

[2022-08-10 16:15] #66177 closed, assigned to worldomonation

[2022-08-10 16:16] worldomonation commented on #66271
Implemented by https://github.com/Automattic/wp-calypso/pull/66277.

[2022-08-10 16:16] #66271 closed, assigned to worldomonation

[2022-08-10 16:17] worldomonation commented on #66228
Fixed in https://github.com/Automattic/wp-calypso/pull/66230.

[2022-08-10 16:17] #66228 closed, assigned to worldomonation

[2022-08-10 16:40] worldomonation opened #66465 "Flaky E2E: Plans page states user is on WordPress.com Premium plan"
### Spec file

plans/plans__upgrade

### TeamCity ID

8368224

### Logs

[code]

[2022-08-10 16:58] jp-imagines commented on #52182
Another report in 36416470-hc. Zooming in until the crop controls appeared did help in this case.

[2022-08-10 17:55] worldomonation opened #66469 "KPI Dashboard: add build configuration to TeamCity for experimentation"
Add a new build configuration so that experimentation does not impact the mainline E2E projects.

[2022-08-10 18:47] lucasmendes-design commented on #65416
Do we have an update for that? cc: @gmovr

[2022-08-10 18:52] zaguiini commented on #66381
I think the solution for this would be to disable switching until saving was completed.

[2022-08-10 19:00] annezazu commented on #64438
@jordesign wanted to loop back on the above examples to see if we had a list of a few (3-4 ideally). No rush! Just looping back.

[2022-08-10 19:09] JulianBustamante commented on #65351
Deployed r250484-wpcom

[2022-08-10 19:28] valterlorran commented on #65857
I'm closing this issue since all the PRs were already merged.

[2022-08-10 19:28] #65857 closed, assigned to nobody

[2022-08-10 19:32] JoshuaGoode commented on #63229
Adding tags and to the triage board.

@druesome, I believe you have some findings that might be worth sharing.

I think that makes https://github.com/Automattic/wp-calypso/issues/66286 a duplicate.

Related thread: p9F6qB-9Yy-p2

Unsure if this is in @Automattic/serenity's area or not.

[2022-08-10 19:42] JoshuaGoode commented on #66286
Related / duplicate?  https://github.com/Automattic/wp-calypso/issues/63229#issuecomment-1211176825

[2022-08-10 20:00] ai2n commented on #57360
@Robertght I don't think this has been resolved, ran into the same issue today with Archeo theme as well. #36418572-hc

[2022-08-10 20:01] ai2n commented on #62017
Same issue with Archeo themel. #36418572-hc

[2022-08-10 20:02] ai2n commented on #57360
Left a comment here since that other issue seems to be open https://github.com/Automattic/wp-calypso/issues/62017#issuecomment-1211206637

[2022-08-10 20:44] ClassicRKR27 opened #66474 "AT Sites: Justify option for Paragraph blocks not available in Widget sections"
### Quick summary

A user noticed that the `justify` option for the `paragraph` blocks wasn't showing when they were adding the block to any of their `widgets` sections. After some investigation I found that this is only affecting AT sites with classic themes (I've been able to replicate it consistently across multiple themes).

### Steps to reproduce

1. Activate a Classic Theme on an AT site
2.

[2022-08-10 20:50] Gustavo-Hilario opened #66475 "Pendant: Specific category and tag pages are displaying all posts"
### Quick summary

When visiting a specific category or tag page like `domain.com/category/wordpress`, all posts are listed instead of only posts with this specific category: `WordPress`. The page below is an example:

https://costarica.groovytestsite.blog/category/block/ (test site)

### Steps to reproduce

1. Activate the`Pendant` theme.
2. Create a few posts with different tags and categories.

[2022-08-10 21:18] creativecoder commented on #63880
Thanks for reporting, @Robertght !

I've redeployed the fix for Atomic sites--so that should fix the issue (again). Can you please check and let me know what you're seeing now?

[2022-08-10 21:32] #64542 closed, assigned to Rolilink

[2022-08-10 21:45] worldomonation commented on #66190
After spending some time investigating this, I have made the following findings:

**Jest Circus & Allure incompatibility**
- Jest v27 uses `jest-circus` as the default test runner which is incompatible with `jest-allure`.
- it is possible to fall back to the `jest-jasmine2` runner, but this presents some immediate problems and some future problems:
  - our current Jest environment is set up assumi

[2022-08-10 21:52] worldomonation commented on #66190
As attractive as Allure is, I don't think it's the right call for us.

[2022-08-10 22:01] worldomonation commented on #66190
It looks like WooCommerce uses Jest 25 for their [core API tests](https://github.com/woocommerce/woocommerce/blob/5becf47d6023c6724839fae83900da1ef3c1b257/packages/js/api-core-tests/package.json) which still uses `jest-jasmine` for the default test runner and hence has no issues with Allure.

[2022-08-10 22:08] Rolilink opened #66476 "Clean unused props in DiscoveryPage"
We are passing some props on the `PluginsDiscoveryPage` component like `search` and `category` that are not being used by the component.

- [ ] `PluginDiscoveryPage` component [here](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugins-browser/index.jsx#L214-L226) only receives props that is using

[2022-08-10 22:12] Rolilink opened #66477 "Cleanup props in SingleListView"
Right now the SingleListView is [receiving different types of plugins props.](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugins-browser/single-list-view/index.jsx#L37-L42), we want to replace them with `plugins` and props called `isFetching` so we can simplify the component.

- [ ] Replace all plugin and isFetching props with only `plugins` and `isFetching` props.

[2022-08-10 22:36] Rolilink opened #66478 "Remove isFetchingPluginsBySearchTerm state sync logic"
When #64548 is being implemented we want to let the state of the fetching status of the search flow down into the `SearchHeader` since it will be part of the `PluginsSearchResultsPage` component.

Remove the following lines:

- [x] https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugin-search-results-page/index.jsx#L49-L51
- [x] https://github.com/Automattic/wp-calypso/

[2022-08-10 22:59] spraveenitpro commented on #65371
Let us check this out.

[2022-08-11 00:46] #66477 closed, assigned to Rolilink

[2022-08-11 01:59] alaczek commented on #66371
Sounds like all of this stems from the old demo content and legacy post types being pulled in. This goes beyond this ticket, but it would be great if we could update the source of the demo site content in the demo gen script to something more modern, maybe Vivre or Livro?

[2022-08-11 02:16] mpkelly commented on #63880
Thanks, @creativecoder for getting your PR quickly!

I also did some testing and I found the following:

- Existing Atomic site: fixed
- WoA site created yesterday: still has old/broken CSS
- WoA site created today: fixed

So all good as far as I am concerned.

@Robertght, @creativecoder's PR also inlines the `custom-colors` module dependency, so regressions like this, where a later `wpcomsh` buil

[2022-08-11 02:26] tmmbecker commented on #51371
Update to my [previous comment](https://github.com/Automattic/wp-calypso/issues/51371#issuecomment-1179443081). The publisher switched back to classic pages (losing months of posts in the process) and was able to connect publicize with no trouble.

[2022-08-11 02:28] tmmbecker commented on #51371
@Automattic/dotcom-pa-group or @pablinos could someone please take a look?

[2022-08-11 03:04] valterlorran commented on #66371
Sounds good to me. I will take a look to learn more about it. Thanks!

[2022-08-11 03:33] bangank36 commented on #66438
Closed as landed

[2022-08-11 03:33] #66438 closed, assigned to bangank36

[2022-08-11 04:19] roo2 commented on #66335
Since the images are generated with mshots, I don't see an easy way to modify them in a way that would remove the hamburger menu. I think we would have to add another parameter to the `/block-previews/site` endpoint that hides the hamburger menu, which would be a substantial task.

[2022-08-11 04:26] arthur791004 commented on #66335
Agreed. I think we could work on this when we receive for more feedback on the user's confusion.

[2022-08-11 04:30] taipeicoder commented on #66335
+1

[2022-08-11 04:30] #66335 closed, assigned to nobody

[2022-08-11 05:32] taipeicoder commented on #65185
Closing as FullStory doesn't meet our use needs for the moment due to restrictive data capturing protocol.

[2022-08-11 05:32] #65185 closed, assigned to taipeicoder

[2022-08-11 05:32] #63119 closed, assigned to roo2

[2022-08-11 05:42] taipeicoder opened #66483 "Unified design picker: Increase the distance between theme thumbnails in mobile view to 32px"
## Description
As proposed in https://github.com/Automattic/wp-calypso/pull/66200#issuecomment-1210668670 and https://github.com/Automattic/wp-calypso/pull/66200#issuecomment-1211030971, let's increase the distance between theme thumbnails to 32px.  See screenshot:

https://user-images.githubusercontent.com/5665959/183911957-d73857b4-9ca4-4d90-bdde-3618e7010fac.png

## Acceptance Criteria
- [ ] Th

[2022-08-11 05:45] atulbhats commented on #66402
Found a Solution [here](https://core.trac.wordpress.org/ticket/52084)

open `xampp\htdocs\yourprojectfolder\wp-content\plugins\blogger-importer` and open `blogger-importer-blogitem.php` and edit 111 with following
`$hash = false, $fn = 'md5'`

[2022-08-11 05:48] deepak-07 commented on #65961
Hi!
I would like to work on this and fix it.

[2022-08-11 05:53] Robertght commented on #63880
Thank you!

It looks better now, however, I found this:

![image](https://user-images.githubusercontent.com/6737345/184071613-b30e8733-d8c2-436e-8471-af1c64c19e18.png)

The background picker is wider than it should be until you pick a color. Then it fixes itself.

The color picker on some themes looks like this now:

![image](https://user-images.githubusercontent.com/6737345/184072035-5725f75b-b79

[2022-08-11 06:04] rodelgc commented on #66190
This is correct. We were careful not to upgrade Jest to v27 because of the same incompatibility with Allure as you mentioned. We explicitly set the `testRunner` to jasmine here to be extra sure that we have some kind of warning documented somewhere about the danger of upgrading to v27

https://github.com/woocommerce/woocommerce/blob/8af95fb700a54767f4b5b98f31426dc0f88bc83f/packages/js/api-core-tes

[2022-08-11 06:07] lsl opened #66484 "Marketplace: Nudge positioning"
The upsell nudge positions itself in a way that looks like it should be aligned but isn't quite aligned (off by a few pixels), lets just add a margin above it.

![Screenshot](https://user-images.githubusercontent.com/811776/184073608-c3e123f7-6b79-4a6b-b093-d490bb32c66d.png)

Acceptance:
- [ ] Add a small space between the nudge and the grey background

[2022-08-11 06:25] rcrdortiz opened #66485 "Marketplace: WooCommerce Conditional Shipping and Payments wp-admin error"
The plugin isn't loading styles and js files when in wp-admin. This is due to how the plugins_url is being resolved.
For more information have a look at [this slack conversation.](p1660097513654699-slack-C02FMH4G8)

[2022-08-11 06:28] autumnfjeld commented on #66456
Following up on my above comment:  after chatting with @roo2  he's happy to let someone else take the lead on this.  😃

[2022-08-11 06:29] #66476 closed, assigned to lupus2k

[2022-08-11 06:38] mpkelly commented on #63880
Hi @Robertght, the spacing change was intentional - see @creativecoder's comment [here](29-gh-Automattic/custom-colors#pullrequestreview-1051775728).

The issue with the background change was not though. My view would be to create a separate issue for that and close this one. What do you think?

(p.s. please tag me in replies because I get notifications when tagged - thanks!)

[2022-08-11 06:44] bangank36 opened #66486 "Increase Stepper Flow progress bar's intital steps percentage"
## Description

As pointed out in this discussion p1660195890655089-slack-CRWCHQGUB, the flow progress bar should increase the percentage of beginning steps

## Acceptance Criteria

- [ ]  The flow progress bar 's initial steps percentage should be increased
- [ ] Test on Goals step enabled
- [ ] Test on Goals step disabled (Intent step)

[2022-08-11 07:30] lsl opened #66488 "Marketplace: Hide monthly/anually toggle on Jetpack sites"
![Image](https://user-images.githubusercontent.com/811776/184084676-2dea9079-f52c-45cc-8c57-2ee49b42446b.png)

Acceptance:
- [ ] We no longer show the price toggle on Jetpack sites

[2022-08-11 07:42] bangank36 commented on #66486
Closed as landed

[2022-08-11 07:42] #66486 closed, assigned to bangank36

[2022-08-11 07:57] yansern commented on #66453
I would say the same as what the current (old) template uses.

[2022-08-11 08:03] mmtr commented on #66291
This is no longer an issue after disabling the support of premium plugins on the Personal/Premium plans: pdtkmj-io-p2#comment-543

[2022-08-11 08:03] #66291 closed, assigned to nobody

[2022-08-11 08:58] autumnfjeld opened #66491 "Copy updates on UDP"
# Description
 Per this CfT feedback pdtkmj-h8-p2#comment-519, which I am fully in agreement with, we need to update copy on the UDP.

Autumn is working on this. Do not ship to user's until this work is done.

WIP......

# Dev Tasks

# A/C

[2022-08-11 10:12] gavande1 commented on #65348
Deployed r250526-wpcom

[2022-08-11 11:05] renata-franco commented on #66171
Thanks, @kettultim. I will be closing this one then. And it can be re-opened later in case it's necessary.

[2022-08-11 11:05] #66171 closed, assigned to nobody

[2022-08-11 11:47] BogdanUngureanu commented on #66110
I've followed the steps but couldn't reproduce the issue. @mmtr can you confirm that it's not reproducing anymore?

[2022-08-11 11:56] Robertght commented on #51371
5464931-zen

[2022-08-11 11:59] mmtr commented on #66110
Yeah, I cannot reproduce this any longer! I guess it was either a temporary glitch or something that has been fixed in the meantime.

[2022-08-11 12:05] ivan-ottinger commented on #66453
The D85738-code patch is now ready for review.

[2022-08-11 12:07] ivan-ottinger opened #66494 "[New Comment] Add strings for translation"
We will need to add a temporary helper file that includes strings for translation. The goal is to have all necessary strings in this file translated while we work on the _New Comment_ email template.

This will allow us to deploy the new email template as soon as it is ready - without having to wait for translations to be finished.

[2022-08-11 12:09] BogdanUngureanu commented on #66110
Closing it since it's not reproduced anymore :)

[2022-08-11 12:09] #66110 closed, assigned to BogdanUngureanu

[2022-08-11 12:10] ivan-ottinger commented on #66494
The D85799-code patch is now ready for review.

[2022-08-11 12:15] lupus2k opened #66495 "Searching after filtering for a Category maintains the category in the URL & header"
#### Description
When filtering for a category and then searching for a text (or clicking on a popular search), the header shows the Category & Search Results, and the URL uses both, Category and search text.
We are not searching within a category, we have to remove the category when searching.

#### Steps to reproduce

1. Go to `/plugins`
2. Click on a category (ex. `Search Engine Optimization`)

[2022-08-11 12:19] mashikag commented on #66420
Related issue: pd4QKa-Ar-p2

[2022-08-11 13:20] jamiepalatnik commented on #63229
📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested on AT site, can recreate.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-08-11 13:32] dcoleonline commented on #55815
33444179-hc

[2022-08-11 13:39] Addison-Stavlo commented on #63229
Yes, Cylon added the google fonts module to .com.  There was an issue where users with Blockbase (and child) themes that had previously set fonts via the customizer were not able to see the Google Fonts list in global styles - switching to a new theme or deleting the global styles settings was the work around.

I thought this was resolved with the new version of Blockbase though, for those still e

[2022-08-11 13:43] markbiek opened #66500 "Themes: Restoration of previous theme isn't working"
#### Steps to reproduce

1. Assign a free theme to your site.
2. Purchase a premium theme for your site.
3. Remove the premium theme purchase.
4. Instead of your original free theme being restored, you'll be assigned a random theme.

Full discussion: p1659985142358919-slack-C0160HSMDQV

paYKcK-1V9-p2 has some comments outlining where the code for restoring the previous theme is.

[2022-08-11 14:13] IoanaAMuresan opened #66502 "Map block - HTML in Marker caption breaks map on live site"
### Quick summary

Issue:
1. no option to add links to individual Markers within the Map Block
2. Attempting to add HTML will break the map.

### Steps to reproduce

1 Added Maps block - on both self-hosted and wpcom sites
2 Added a Marker
3 Added a Marker caption - included a HTML link
4 Saved → checked Preview

### What you expected to happen

I didn't expect the link to be clickable (as Support

[2022-08-11 14:47] #65949 closed, assigned to phcp

[2022-08-11 14:47] #65994 closed, assigned to phcp

[2022-08-11 14:47] #65950 closed, assigned to phcp

[2022-08-11 14:48] daledupreez commented on #64638
As a quick note, this issue also applies to the Tiled Gallery block from Jetpack.

[2022-08-11 15:50] #66457 closed, assigned to renancarvalho

[2022-08-11 15:56] #65351 closed, assigned to JulianBustamante

[2022-08-11 16:34] Jaykame commented on #65344
Another case here: 5467273-ZD
FSE theme. Applied CSS.

[2022-08-11 16:51] valterlorran commented on #65496
Waiting on translations to launch the theme p1660152713374689-slack-C02AED43D

[2022-08-11 17:17] Gustavo-Hilario commented on #65662
Another report there:

- [ ] 5471399-zen

On their site, just deactivating `Page Optimize` helped to allow cart items to appear. But, on testing, I noticed that disabling `WooCommerce Payments` only also fixed the issue and gave the same result.

[2022-08-11 17:27] cuemarie commented on #66426
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- As best I can tell from triaging this, the issue here seems to be that buttons nested inside of other blocks (like the Mailchimp block, or the Forms block) sometimes assign a border to a button set to `Fill` style, depending on the theme.
- By default, buttons nested inside of the Form/Mailchimp blocks have slightly

[2022-08-11 17:30] Rolilink opened #66506 "Marketplace: Prevent vectors of attack to be sent through searches"
As seen here pdh6GB-1LG-p2#comment-2602 let's prevent users from searching with possible vector of attacks as searches:

- [ ] Block searches containing html tags to hit the backend.
- [ ] Block searches containing html tags to send tracks events.
- [ ] Send some kind of no results message when the user hits enter.

Any other vectors of attack we should block? please add to the list.

[2022-08-11 17:33] cuemarie commented on #66426
Some other issues that may be related to this:

- https://github.com/Automattic/themes/issues/6068
- https://github.com/Automattic/themes/issues/5621
- https://github.com/Automattic/jetpack/issues/25018
- https://github.com/Automattic/themes/issues/5286
- https://github.com/Automattic/themes/issues/4358

And a pull request in the works here that could be relevant as well:

- https://github.com/Aut

[2022-08-11 17:40] cuemarie commented on #66428
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicable - sharing buttons appear on AT site using Rebalance theme, but not Simple site
- In test sites below, sharing buttons are enabled for individual posts as well

**AT Site**

![Markup on 2022-08-11 at 10:37:06](https://user-images.githubusercontent.com/27249804/184197879-e63c328d-a2eb-4fdc-9683-264e6a1ce25f.

[2022-08-11 17:45] ktyfuller604 opened #66509 "Bantry Theme: Navigation Block lost padding between elements"
### Quick summary

Approximately a week ago the navigation block added to a page in the Bantry theme lost all padding between menu items.

### Steps to reproduce

1. Activate the Bantry theme
2. Edit a Page
3. Add a Navigation block to the page and choose a menu (classic or new, I did not see a difference)
4. Preview or View the page

### What you expected to happen

There should be spacing betwee

[2022-08-11 17:54] cuemarie commented on #66433
📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
-  Replicated in all test environments except for P2. See screenshots below

#### AT

![Markup on 2022-08-11 at 10:46:02](https://user-images.githubusercontent.com/27249804/184200756-fc8b912c-6274-4684-92b7-1599a13273f7.png)

#### Simple

![Markup on

[2022-08-11 18:11] cuemarie commented on #66448
📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- ❌ I was not able to reproduce this issue, following these steps:

**Steps taken to reproduce**

1. On simple site, activate theme Morden
2. New Post
3. Add Cover Block, and add 1 heading block, 1 paragraph block, and 1 buttons block inside
4. Set Cover Block to `Center Left`

**Results**

https://user-images.githubusercontent.com/272

[2022-08-11 18:11] #66448 closed, assigned to nobody

[2022-08-11 18:31] cuemarie commented on #43893
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes, reported here: https://github.com/WordPress/gutenberg/issues/43163

📌 FINDINGS/SCREENSHOTS/VIDEO
- Reproducable. Anywhere that displays a `Post Excerpt` rather than the `Full Post` removes font styling.

**Post with Styles:**

![Markup on 2022-08-11 at 11:17:37](https://user-images.githubusercon

[2022-08-11 18:48] daledupreez commented on #65757
As a follow-up on this, the Jetpack docs for the Calendly block have been updated, so we can land this PR as soon as get it reviewed and tested.

[2022-08-11 20:30] #66381 closed, assigned to zaguiini

[2022-08-11 20:31] eoinsav commented on #53716
We have also run into this with a Special Projects partner. The videos broke after unchecking the Sharing option mentioned here: https://github.com/Automattic/wp-calypso/issues/53716#issuecomment-980508628

[2022-08-11 20:40] roundhill commented on #53716
I think this is by design, but I could be wrong. If the video can't be shared, then it also cannot be embedded anywhere and must be viewed at the `https://videopress.com/v/{guid}` url.

[2022-08-11 20:58] sirbrillig commented on #53356
While there's more that we could do here, I think that all the major pieces are now in place, so I'm going to close this issue now.

[2022-08-11 20:58] #53356 closed, assigned to sirbrillig

[2022-08-11 21:00] eoinsav commented on #53716
@roundhill - the main reason to uncheck the box is to remove the "SHARE" option at the top of videos (shown in first screenshot here: https://wordpress.org/support/article/videopress-embed/)

Users should still be able to embed the videos on their own site even with the share option unchecked. I think the intent is to prevent other people from sharing the video on external sites.

----

There is a

[2022-08-11 21:54] cometgrrl commented on #55279
This is still reproducible. I have iOS 16 beta installed on my phone, and could replicate it in Chrome and Safari.

[2022-08-11 22:01] #55505 closed, assigned to nobody

[2022-08-11 22:50] gutenberg-plugin-upgrade-bot[bot] opened #66513 "Gutenberg: v13.9.x plugin upgrade"
Previous upgrade: #
Release notes: [v13.9.0](https://github.com/WordPress/gutenberg/releases/tag/v13.9.0)

**Install and activate**

- [x] Install and activate v13.9.0-rc.1 on edge (D85861-code)
- [x] Install and activate v13.9.0-rc.3 on edge (D85970-code)
- [x] Install and activate v13.9.0 on edge (D86072-code)
- [x] Activate v13.9.0 on production (D85971-code)
- [x] Request v13.9.0 AT upgrade (p

[2022-08-11 23:31] alaczek commented on #65496
Normally we don't wait for that, it's enough that you run the command to send for translation.

[2022-08-12 00:32] cometgrrl opened #66516 "[Editor] Content alignment/padding issues"
### Quick summary

When not in fullscreen mode, if you have the Calypso sidebar open and the post/block settings on the right, when the browser window is narrower than a certain width, the left and right padding seems to be lost.

Also, the Stats menu item seems to be making the sidebar wider than it needs to be with the stats graphic so far to the right, which is probably exacerbating the issue.

[2022-08-12 05:00] lsl commented on #66495
Thanks for creating an issue for this. Could we fix this by implementing category restricted search with the ES integration?

[2022-08-12 06:06] Robertght opened #66518 "Customizer: Background color option doesn't have the right size"
### Quick summary

This is mostly available for Classic themes.

### Steps to reproduce

1. Activate Seedlet
2. Check the Customizer > Colors & Backgrounds

### What you expected to happen

To see the background color option correcly

### What actually happened

The color section looks unaligned but it fixes itself if you select another color

![image](https://user-images.githubusercontent.com/673

[2022-08-12 06:07] Robertght commented on #63880
Sure @mpkelly ! Created one here: https://github.com/Automattic/wp-calypso/issues/66518

Thank you!

[2022-08-12 06:07] #63880 closed, assigned to mpkelly

[2022-08-12 06:10] mpkelly commented on #63880
Thanks!

[2022-08-12 06:39] SaxonF commented on #65175
Revisiting this issue. I think if we could re-use the cancellation form page for our purposes which we'd link to via the feedback button above, that would at least give us a channel to collect customer feedback and find people to chat further to. @vindl thoughts on prioritising this post launch?

![image](https://user-images.githubusercontent.com/1072756/184298380-cb28bb7a-f20e-4ffe-82f3-268dd429a

[2022-08-12 06:59] #65346 closed, assigned to nobody

[2022-08-12 07:00] #65348 closed, assigned to gavande1

[2022-08-12 07:20] ivan-ottinger commented on #66453
I have now merged and deployed the patch.

[2022-08-12 07:20] #66453 closed, assigned to ivan-ottinger

[2022-08-12 07:37] lsl opened #66519 "Markteplace: Developer search links are very broken"
Some kind of regression, maybe some of our recent changes to the search components?

Expect:

![Image](https://user-images.githubusercontent.com/811776/184306859-8fe1a8cb-d0d2-47ab-a6c4-62e4a629931f.png)

Got:

https://user-images.githubusercontent.com/811776/184306858-b349345c-a6cb-42ac-932c-9ae66977bd1f.mp4

[2022-08-12 08:55] #66519 closed, assigned to cpapazoglou

[2022-08-12 10:26] p-jackson opened #66523 "Sites Management Page: Indicate when a plan is a Jetpack plan"
When a Jetpack site with a free plan appears in the SMP, it just says the site is "Free"

![Image](https://user-images.githubusercontent.com/1500769/184336476-519300da-02fd-4efd-bd00-f3484f8b9d43.png)

It's not exactly wrong, the "short name" for the Jetpack free plan is "Free". But we should disambiguate.

See pdKhl6-Au-p2#comment-552

One solution is to prepend the Jetpack logo to the plan name

[2022-08-12 10:39] p-jackson opened #66524 "Sites Management Page: Site thumbnail should reflect changes made to the site"
We currently rely on mshots default caching. That means if mshots hasn't taken a screenshot in a while then it'll retake it, otherwise it gets the image from the cache. The problem with this is that if a user drastically changes the front end of their site, the thumbnail in SMP won't update until the mshots cache time expires.

We can get mshots to take a another screenshot by adding a cache-busti

[2022-08-12 11:02] ouikhuan commented on #65817
Closing this issue as it's merged and deployed in #66251

[2022-08-12 11:02] #65817 closed, assigned to jimmy319, ouikhuan

[2022-08-12 11:07] p-jackson opened #66525 "Sites Management Page: Add a `<title>`"
We should have a `<title>`
Good for a11y
Good for history browseability
Good for the web

See pdKhl6-Au-p2#comment-568

I'm thinking something like `Sites Management — WordPress.com` would fit in with other Calypso pages.

[2022-08-12 11:21] fstath commented on #65115
Another report: https://wordpress.com/forums/topic/font-disapperance/?view=all
Theme: Meraki

[2022-08-12 11:48] #66206 closed, assigned to wojtekn

[2022-08-12 12:32] BogdanUngureanu commented on #57817
Opened a new diff that adds the new Marketplace product dropdown: D85868-code.

Besides this change, I've also converted the existing Product dropdown to use select2, since that would make searching for products easier.

Also, I've added an extra Expiry field for the Marketplace Product dropdown, since reusing the existing Expiry field would complicate the code and it might not be intuitive enough

[2022-08-12 13:24] mikeicode opened #66531 "Global Styles: Button colors don't save on simple sites"
### Quick summary

Global Styles has an option to change the text and color options for buttons. These colors don't stick, they reset to the default after saving. This appears to only happen on simple sites.

### Steps to reproduce

1. Activate Russell on a simple site
2. Visit Global Styles > Buttons
3. Change background and/or text color, save

### What you expected to happen

The button colors

[2022-08-12 13:58] candy02058912 opened #66532 "Marketplace: Add test to check plugin author page is correctly linked"
To prevent #66520 from recurring, we would like an ~~e2e~~ component test to check this flow:

- ~~Visit https://wordpress.com/plugins/wordpress-seo-premium~~
- ~~Click on the plugin developer~~
- ~~You should be redirected to /plugins/?s=developer:"toast"~~
- Render `PluginDetailsHeader`
- Check for the correct author URL in href attribute

[2022-08-12 14:20] cpapazoglou commented on #66532
Since we want to test it end to end, would it be preferable testing the resulting interface rather than the resulting link?

For example, the resulting interface should contain a textbox with the relevant search term

![CleanShot 2022-08-12 at 17 06 56@2x](https://user-images.githubusercontent.com/12430020/184372974-a3eb34f4-68b5-4c09-8270-e5453b7125f2.png)

[2022-08-12 14:21] rcrdortiz commented on #66485
pdqkbG-1sn-p2

[2022-08-12 14:26] daledupreez commented on #60232
I've started an internal discussion to see if we can come up with a way to request that the `Content-Disposition` header gets added for special cases like this one. pMz3w-fJo-p2

[2022-08-12 15:47] roundhill commented on #53716
You must go to `https://video.wordpress.com/v/{guid}` if the video is private so you can authenticate.

Agreed, and I _think_ that should be working so maybe we have a bug here. It should work if the domain is the site that the videos were uploaded to. @jgcaruso would you mind poking at this when you're back?

[2022-08-12 16:03] syedshaon commented on #57812
5472157-zd

[2022-08-12 16:10] ebinnion commented on #66270
This is now fixed for Simple sites in D85886-code. I created a Gutenberg issue upsteam at https://github.com/WordPress/gutenberg/issues/43198.

Of note, this does not address the issue for Atomic sites.

[2022-08-12 16:34] #66216 closed, assigned to rcrdortiz

[2022-08-12 16:34] #66485 closed, assigned to rcrdortiz

[2022-08-12 17:03] cometgrrl commented on #57812
@jeyip Can you follow up with @syedshaon on 5472157-zd and see if this needs to be re-opened or if we need to file a new bug?

[2022-08-12 17:51] Joshgrygiel commented on #58446
Another report here: 36442397-hc

[2022-08-12 17:58] danielbachhuber commented on #66524
@p-jackson @Automattic/build Nothing is as easy as it looks, of course!

As far as I can tell, mShots caches `https://s0.wp.com/mshots/v1/*` pretty aggressively. Including an additional `&v=<rounded-updated-at>` query param in the mShots request doesn't generate a new screenshot — rather, it serves the existing screenshot. As such, our "simple" fix to include a query busting param doesn't give us

[2022-08-12 18:20] kerrynicl opened #66536 "Extra Quotation marks"
### Quick summary

When adding a quote block to the twentytwentyone theme, an additional quotation mark is generated and is not editable
![Screen Capture on 2022-08-12 at 13-12-58](https://user-images.githubusercontent.com/83325600/184419224-11136763-4fb3-4aea-937d-e655f35f23fb.gif)

### Steps to reproduce

Switch to Twentytwentyone theme
Try adding a quote block to a page

### What you expected t

[2022-08-12 18:41] #66525 closed, assigned to wojtekn

[2022-08-12 18:57] vykes-mac commented on #66524
At the moment what do we use to determine last-modified of a site, and what kinda modification was done? If we identify the type of modifications that qualify for a new thumbnail then we might check for those on each page load and `requeue` when necessary. Is it possible to get info from `activity log` and if that activity was modify `theme/post` and it matches` last modified` then we requeue? 🤷

[2022-08-12 19:02] vykes-mac commented on #62078
@CodeAllNightNDay Can you confirm if this issue still exists?

[2022-08-12 19:11] eoinsav commented on #53716
It works exactly as expected when using the `[videopress]` shortcode. It just seems to be the Video Block where there is an issue.

[2022-08-12 19:26] CodeAllNightNDay opened #66538 "Twenty Twenty Two post title does not center align on live page."
### Quick summary

In the Twenty Twenty-Two theme, if the post title is centered in the editor it looks correct. But it stays left-aligned on the live page.

36445568-hc

### Steps to reproduce

1. Activate the Twenty-Two theme on a simple or atomic site.
2. Create an empty blog page and use the index template or set site to show the latest posts on the homepage.
3. Center align the post title in

[2022-08-12 19:57] jjchrisdiehl commented on #50064
Update:

I wanted to answer the question "have we resolved the original issue". Let's take a look.

_**The issue**_

So far, we have identified five areas that do not use the endpoint outlined by @michaeldcain in the original statement at the top of this page. They are:
- Plans (legacy)
- Plans (new)
- Subscription settings (Manage Plans section)
- Notifications (pro-rated credits etc)
- Get start

[2022-08-12 20:40] jeyip commented on #57812
@cometgrrl Sure 👍 I'll reach out to @syedshaon

[2022-08-12 20:56] danielbachhuber commented on #66140
@wojtekn I started on a patch but it's not quite review/merge ready: D85901-code

I need to get verification I'm on the right track, and direction on how to test: p1660335983661479-slack-C7YPW6K40

If you want to spend some time researching on Monday, you could look into where we need to hook into the store code for this:

You could also look into whether there's an easy way to add a `bump_stats_e

[2022-08-13 01:58] jeyip commented on #57812
Talked to @syedshaon and I pointed him to workarounds for potential problems with browser caches and cookies [here](https://github.com/Automattic/wp-calypso/issues/57812#issuecomment-1205827077). Also noted that, once handled, the problem _should not_ reoccur. It seems like this issue doesn't need to be reopened, but I'll keep an eye on things.

[2022-08-13 06:55] joweber123 opened #66546 "WordPress.com Marketplace: WooCommerce extensions purchased show as inactive in WooCommerce"
### Quick summary

When purchasing a WooCommerce extension through the WordPress.com Marketplace it shows as inactive in the WooCommerce "My Subscriptions" tab.

### Steps to reproduce

1. Go to Plugins and purchase a WooCommerce extension (I have tested this using the WooCommerce Bookings extension)
2. Go to WooCommerce > Extensions > My Subscriptions

### What you expected to happen

I would exp

[2022-08-13 09:34] edwinho89 opened #66547 "Accepting Email Invitation to Private WP Cloud site displays "User cannot access this private blog.""
### Quick summary

When users accept email invitation as subscriber to Private Atomic sites, click on the Join button result to "User cannot access this private blog." message.

<img width="1044" alt="image" src="https://user-images.githubusercontent.com/34882260/184477578-dcd1f944-1e11-44b5-a525-00917fc123db.png">

### Steps to reproduce

For admins:
1. Setup WordPress.com site as Atomic, and sit

[2022-08-13 09:34] edwinho89 commented on #66547
- [ ] Reported in 5475090-zd-woothemes

[2022-08-13 10:02] edwinho89 opened #66548 "WordPress.com login SSO creates an account with "Anyone can register" on private Atomic site"
### Quick summary

With SSO and "Anyone can register" option enabled under wp-admin/options-general.php , anyone can bypass and access the private privacy setting.

Bump across this bug while trying to reproduce https://github.com/Automattic/wp-calypso/issues/66547

### Steps to reproduce

1. Setup WordPress.com site as Atomic, and site privacy as private.
2. Enable "Anyone can register" in wp-adm

[2022-08-13 10:47] filipanoscampos opened #66549 "FSE Product Catalogue template: If the Post Title Block is added to the template, it shows first product name"
### Quick summary

When a Post Title Block is added anywhere to the template of the Product Catalogue on a website using the  Twenty Twenty-Two theme, it shows the first product name, instead of the page title.

The post Title block in the Editor:
![Screenshot 2022-08-13 at 11 44 09](https://user-images.githubusercontent.com/2540430/184480250-52f6d1cc-0d8f-4e82-ad94-916ddd1c39b2.png)

It is displa

[2022-08-13 17:39] cuemarie commented on #65115
I've encountered this again here: 36456158-hc
- [ ] 5476228-zd-woothemes
- Theme: **Meraki**

In this user's case, there are different Fonts shown that the examples above:

<img width="400" alt="screenshot" src="https://user-images.githubusercontent.com/27249804/184504864-49faf1ab-50f8-4ad8-b1aa-20ba9c6a2bce.png">

I followed the steps to solve above (for both **Meraki** and **Russell**, an inacti

[2022-08-13 21:25] desnum opened #66551 "Permission to view drafts error, in Firefox only"
#### Steps to reproduce

1. Starting at URL: https://hovawartvandehuppelhoeve.com/
2. SU in using Firefox
3. Open the homepage editor
4. Click to preview the page

#### What I expected
To see a page preview

#### What happened instead
I see the error:

#### Browser / OS version
Firefox 103.0.2  (latest version) / MacOS Monterey

#### Screenshot / Video
<img width="1173" alt="Screen Shot 2022-08-13

[2022-08-13 21:41] mxhassani opened #66552 "Theme Appleton: White space under footer area"
### Quick summary

There is a white space (added block) under the footer area of this theme.
Can be related to this bug: #59363

### Steps to reproduce

1. Atomic site
2. Activate the theme Appleton
3. Use the headstart home page
4. Select "hide" under Appearance → Customize → Site Identity → Footer Credit
5. Check the home page

### What you expected to happen

To see the full footer with a backg

[2022-08-13 22:51] Jaccuse commented on #66326
Would like to be notified, another case in 36459243-hc

[2022-08-14 03:49] happychait commented on #63001
I am reopening because at least in the case @rosepajaroja reported [above](https://github.com/Automattic/wp-calypso/issues/63001#issuecomment-1207231148), the issue still persists.

I just subscribed to customer's site https://figjournal.com/ and got the following confirmation email which still shows the broken logo from the previous, removed primary domain on the site, burgersketch.com as in this

[2022-08-14 08:21] sudeepbaral commented on #59259
- [ ] 5427250-zen

Another report where only the Heading Fonts were not changing. Shared CSS to force heading fonts as a workaround.

[2022-08-14 09:01] rickmgithub commented on #57812
5473741-zd User reported the workaround [here ](https://github.com/Automattic/wp-calypso/issues/57812#issuecomment-1194382590)doesn't work for them.

[2022-08-14 09:38] mpkelly commented on #63891
The [wording change](https://github.com/Automattic/wp-calypso/pull/66260) has not been deployed.

[2022-08-14 16:07] metabreakr commented on #66531
AT site: 36466280-hc

[2022-08-14 17:39] jeyip commented on #57812
@rickmgithub Is the user led to a blank screen? @syedshaon had a similar problem, and we're waiting to see what happens when the user clears their cookies.

I'll open up a new Github issue is this is the case.

[2022-08-14 18:40] metabreakr commented on #55815
36259687-hc

[2022-08-15 00:50] autumnfjeld opened #66556 "⚙ D85874 [DO NOT MERGE] Add static method get_style_variations_from_theme: https://code.a8c.com/D85874"
This spike / research work on https://docs.google.com/document/d/1rH71zAf5en__oDIysez6yWOPswZLvvGScaRr23UprTk/edit#

[2022-08-15 02:31] #66483 closed, assigned to roo2

[2022-08-15 02:49] donalirl commented on #14624
Encountered in 35718198-hc and thought I'd field this question:

There are on average 5 chats per day tagged `plan_transfer`, which is the tag for chats where a HE moved a plan to another site. This means we're doing this _at a minimum_ 35 times per week on behalf of customers. The number is likely higher because:

* Not all HEs will use the tag.
* The number does not include tickets, the other ma

[2022-08-15 03:22] inaikem commented on #57991
Another case in 36471072-hc

I've added this issue to the Dotcom Prioritization board for review - it's been triaged already, so I'm moving it to the allocation and prioritization queue.

[2022-08-15 04:25] jimmy319 commented on #64053
According to [Goals Capture: Tracks & Funnels (2/3)](https://apexp2.wordpress.com/2022/06/17/goals-capture-tracks-funnels-2-3/), `calypso_signup_intent_select` is the only one existing event that is affected by the Goals effort changes. This event is fired when users trigger the submit action on the `GoalSetup` and the legacy `IntentSelection` pages. After going through all the metrics we use in t

[2022-08-15 04:33] mpkelly commented on #66068
I am going to look at this one now.

[2022-08-15 04:50] #66306 closed, assigned to bangank36

[2022-08-15 05:50] romitgithub commented on #58985
I can't install the Atomic plugin on my local to test and fix this issue. How do I proceed?

@devNigel

[2022-08-15 06:32] romitgithub commented on #66364
@noahtallen What's the expected fix here? Should I just add padding-right to the input?

Trying to understand what is the use of fade layover here?

[2022-08-15 06:33] tanjoymor commented on #64396
Just to note that the work around for this is to pin the toolbar to the top. Click the 3-dots contextual menu in the top right corner and choose Top Toolbar.

[2022-08-15 07:19] romitgithub commented on #66364
Or a better solution would be to hide the overlay when input is in focus.

[2022-08-15 07:35] ivan-ottinger commented on #63001
The way I understood this specific case was that the logo had been already re-uploaded - so I was only testing with another sites. My apologies for the confusion.

---

I have re-uploaded the logo with a different file name (via https://wordpress.com/settings/general/) and it is displaying now (added screenshot to the ticket note).

We can inform the user.

[2022-08-15 07:35] #63001 closed, assigned to mashikag

[2022-08-15 08:43] ivan-ottinger commented on #66494
The above patch is deployed now. One more is ready for review: D85920-code.

[2022-08-15 09:09] p-jackson commented on #66524
That's exactly how I was expecting it would work 😄
In terms of being "blessed", Systems didn't seem to balk at the suggestion and seemed to think it was an elegant way to "invalidate" both server and client caches pMz3w-fyd-p2#comment-100304

That's a fair point, but the amount of time the PHP takes to run seems pretty negligible in relation to the total user-perceived time it takes for the screen

[2022-08-15 09:17] draganescu commented on #66270
Howdy! Thanks for the great debugging and repro steps. There is a fix [Prevent query block from looping in classic themes](https://github.com/WordPress/gutenberg/pull/43221#top)  that should take care of the problem.

[2022-08-15 09:21] cpapazoglou commented on #66546
Thanks for reporting! This will be addressed by https://github.com/Automattic/wp-calypso/issues/65563.

We had originally paused the work due to lower priority (eg no user reports). It seems though that we need to readjust our priorities now.

cc: @JulianBustamante

[2022-08-15 09:22] #66546 closed, assigned to nobody

[2022-08-15 10:13] renancarvalho opened #66561 "Signup: Add processing step for link in bio"
### Details

Add processing step on link in bio flow.

### Checklist

_No response_

### Related

_No response_

[2022-08-15 10:59] #66399 closed, assigned to yansern

[2022-08-15 11:01] yansern commented on #65242
DIFM is now a step within stepper flow. So no loading text is shown.

[2022-08-15 11:01] #65242 closed, assigned to yansern

[2022-08-15 11:18] susanjanec commented on #44554
User reported in 5478075-zen that their Premium content placed in a Premium content block is showing in reader.

I checked this in my reader and am not subscribed to see their Premium content so not sure why it is showing in Reader.

Example -
Post: https://zakschafer.com/2022/08/14/everyone-i-know-is-lonely/
Reader: https://wordpress.com/read/feeds/123624228/posts/4194404556

[2022-08-15 11:24] JulianBustamante opened #66563 "Marketplace: Use the new webhooks table to track the webhooks events"

[2022-08-15 11:24] daledupreez commented on #64913
Most of these issues for WordPress.com Simple sites have been addressed by @mpkelly in D85615-code which was deployed a few minutes ago, however, we realised after deploying that there are still some theme-dependent issues for WordPress.com Simple:
1. Some themes don't specify fonts for the comment area, and the fonts may be getting overridden in the comments section (this doesn't apply to themes

[2022-08-15 11:45] renancarvalho opened #66564 "Signup: Add new link in bio intro background"
### Details

Link in bio has a new intro step background design, we need to updated it.

### Checklist

_No response_

### Related

_No response_

[2022-08-15 11:52] JulianBustamante commented on #65349
A P2 was written to discuss the table structure pdt2If-iV-p2

[2022-08-15 12:33] ivan-ottinger opened #66566 "[New Comment] Add new template email feature flag"

[2022-08-15 12:54] phcp opened #66568 "[New Comment] Create feature flag"

[2022-08-15 12:56] rickmgithub opened #66569 "Submenu and overlay text color not working"
### Quick summary

The sub-menu and overlay text controls are not assigning the color to the menu.

### Steps to reproduce

Set up a menu with a submenu in the site editor
Set the colors for the submenu.
Video of problem -

https://user-images.githubusercontent.com/13706336/184638941-2f37ebaf-a850-4391-abbd-89b521f89ef8.mov

### What you expected to happen

The choice of color to be reflected on t

[2022-08-15 12:57] ivan-ottinger commented on #66566
The D85926-code patch is now ready for review.

[2022-08-15 13:08] Addison-Stavlo opened #66571 "LaunchPad Previews - Hide site URL"
Follow up to https://github.com/Automattic/wp-calypso/pull/66424 / https://github.com/Automattic/wp-calypso/issues/66131

The designs for the LaunchPad site preview will hide the site URL in the preview component

![Screen Shot 2022-08-15 at 9 07 00 AM](https://user-images.githubusercontent.com/28742426/184640650-4cb9b282-5d0e-444b-8f82-f6cd73de9313.png)

[2022-08-15 13:13] Addison-Stavlo opened #66572 "LaunchPad Site Previews - hide tablet button"
Follow up to https://github.com/Automattic/wp-calypso/pull/66424 / https://github.com/Automattic/wp-calypso/issues/66131

LaunchPad preview designs have us hide the tablet button on the preview component:

![Screen Shot 2022-08-15 at 9 13 55 AM](https://user-images.githubusercontent.com/28742426/184641657-24d16ec4-a5d4-4e2f-917a-e8f7c1cbe453.png)

[2022-08-15 13:22] Addison-Stavlo opened #66573 "LaunchPad screen - direct users to LaunchPad instead of calypso Home"
Follow up to https://github.com/Automattic/wp-calypso/issues/66119 / https://github.com/Automattic/wp-calypso/issues/66119

Ensure launchpad enabled sites show the LaunchPad instead of calypso "My Home". Perhaps this is a redirect from my home to our stepper flow, or another solution.

[2022-08-15 13:40] Addison-Stavlo opened #66574 "LaunchPad Site Preview - Disable interaction"
Follow up to https://github.com/Automattic/wp-calypso/pull/66424 / https://github.com/Automattic/wp-calypso/issues/66131

In the [LaunchPad site preview](https://github.com/Automattic/wp-calypso/blob/862e948fc8b2b36dafa05901787bd6939b5ddf1c/client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/launchpad-site-preview.tsx#L24), we can click on and interact with the site in the

[2022-08-15 13:47] Addison-Stavlo opened #66575 "LaunchPad Preview - Other CSS changes"
Follow up to https://github.com/Automattic/wp-calypso/pull/66424 / https://github.com/Automattic/wp-calypso/issues/66131

Other CSS updates to meet designs (borders, etc.). At this point the remaining updates on the radar are:

- [x] the font-weight of the siteURL shown above the checklist.
- [x] iframe shadow
- [x] Checklist item hover state
- [x] iframe dynamic height & width

[2022-08-15 13:59] jorpdesigns commented on #57812
@jeyip The user in the case reported by @rickmgithub (5473741-zen) confirmed they see a blank screen.

We have also asked them to clear their browser cache and they confirmed this did not work either.

I have now asked them to clear their browser cookies and let us know if that works.

[2022-08-15 14:03] Addison-Stavlo commented on #66131
Im closing this issue with the merge of https://github.com/Automattic/wp-calypso/pull/66424

and created follow ups for future tracking:
https://github.com/Automattic/wp-calypso/issues/66574
 https://github.com/Automattic/wp-calypso/issues/66571
 https://github.com/Automattic/wp-calypso/issues/66572
 https://github.com/Automattic/wp-calypso/issues/66575

[2022-08-15 14:03] #66131 closed, assigned to agrullon95

[2022-08-15 14:13] #66327 closed, assigned to DustyReagan

[2022-08-15 14:19] #66564 closed, assigned to renancarvalho

[2022-08-15 14:31] cpapazoglou commented on #66563
Is this the same as https://github.com/Automattic/wp-calypso/issues/65349 ?

[2022-08-15 14:43] Addison-Stavlo commented on #66130
closing this with [Added Checklist and ChecklistItem components for Launchpad](https://github.com/Automattic/wp-calypso/pull/66375) / [Add/launchpad site preview integration](https://github.com/Automattic/wp-calypso/pull/66424)

[2022-08-15 14:43] #66130 closed, assigned to nobody

[2022-08-15 15:18] jp-imagines commented on #53729
x-posting a user report of this in 5478075-zen (originally mentioned in https://github.com/Automattic/wp-calypso/issues/44554 earlier today). This user was confused about why their post was receiving likes from unsubscribed users, considering the post is entirely premium content.

It would be great not only to have the option to remove the Like button from feeds/emails on a per-post (or site-wide)

[2022-08-15 15:18] jp-imagines commented on #44554
I wasn't able to replicate the issue from 5478075-zen that @susanjanec reported above – when logged into an account that isn't subscribed, I am not able to see the premium content in the Reader feed (as expected).

There _is_ the option to like the post, however, which is reported in https://github.com/Automattic/wp-calypso/issues/53729. I'm adding that user's report there.

[2022-08-15 15:36] danielbachhuber opened #66577 "Launch WPCOM SSH: Add SSH toggle to <SFTPCard> behind feature gate"
In order to make SSH accessible for internal testing, we'll need to add a SSH toggle to the `<SFTPCard>` component. For the time being, it should be restricted behind a `launch-ssh` feature gate.

Here are a couple of mockups indicating how it should work:

![CleanShot 2022-08-15 at 08 24 11@2x](https://user-images.githubusercontent.com/36432/184702228-9472710a-573c-4a02-bfcf-1bc58b3a3fbd.png)

![

[2022-08-15 15:42] danielbachhuber opened #66578 "Launch WPCOM SSH: Remove feature gate"
Once we're ready to go live, we should remove the feature gate added in #66577

**Done:**
- [x] Feature gate is removed from the codebase.
- [x] Feature is live for expected users.

[2022-08-15 15:58] ivan-ottinger commented on #65884
The issue doesn't seem to be related to the new email template:

![Image](https://user-images.githubusercontent.com/25105483/184670539-55cc9d5c-8ece-4aab-a2a8-d8dd76a8438a.png)

Instead, it looks like it is related to the email address of the recipient. I will investigate further.

[2022-08-15 16:07] #64677 closed, assigned to markbiek

[2022-08-15 16:22] obenland commented on #65349
Can you help me understand why we need a new table for this? Why can't we just enqueue a job that sends out the request, whenever one of those five defined actions get called?

[2022-08-15 16:25] mikeicode commented on #66531
Ran into this on Quadrat: pdEkSe-ZJ-p2

[2022-08-15 16:58] sirbrillig commented on #57817
Note that the existing product dropdown already uses select2 as of D85511-code (cc @JessBoctor) and I know there's some ongoing work there to improve the searching even further. I just wanted to mention it in case the work you're doing collides with that.

[2022-08-15 17:04] valterlorran commented on #63704
Closing this, version 6.8 has been released p1660114148538759-slack-CB37YNEH1.

[2022-08-15 17:04] #63704 closed, assigned to valterlorran

[2022-08-15 17:08] valterlorran commented on #65496
Hey, I'm working on launching it today p1660574013916319-slack-C0117V2PCAE

[2022-08-15 17:44] jgcaruso commented on #53716
It looks like at some point the `for` parameter that the Jetpack/Atomic site was sending as part of the oembed request started including the http(s) protocol. This was causing the domain comparison to fail.

D85952-code is up for review to address this.

[2022-08-15 17:46] #66523 closed, assigned to wojtekn

[2022-08-15 18:01] blackjackkent opened #66581 "Theme Support: Identify Automation Tasks"
As Serenity continues supporting the themes team in the dev tasks required to release a new theme, there are points where we can introduce more automation into the process to streamline our efforts. Let's get a list together and create issues for introducing this automation into the theme support workflow.

[2022-08-15 18:05] mreishus commented on #65553
Examples of currently existing theme taxonomies: pd2qbF-az-p2#comment-215

[2022-08-15 18:12] #66378 closed, assigned to vykes-mac

[2022-08-15 18:15] JessBoctor commented on #57817
The diffs for the improved searching are in D85857-code and D85784-code.

I also have a WIP in diff D85673-code that is working on reducing the number of times the product lists are being looped through.

Some elements of your code would directly conflict with these. If we continued with having a second and separate select2 for the marketplace products, we should discuss the best way to move forwa

[2022-08-15 18:17] mreishus commented on #65553
This might be where the theme taxonomies are defined: 2d2a3-pb

[2022-08-15 18:38] mikeicode commented on #65002
Shawburn pdEkSe-Xj-p2

[2022-08-15 18:46] mreishus commented on #65553
Prospective patch in D85956-code

[2022-08-15 18:53] zaguiini opened #66582 "Site Management Dashboard: Unify search and filter components with the ones used in Jetpack Cloud's Agency Dashboard"
### Details

In an attempt to unify the codebase as much as possible as explained in pdKhl6-ty-p2, we should be able to abstract the search and filter functionalities between the two products.

| SMD | JC Agency Dashboard |
| ----- | ---------------------- |
| ![image](https://user-images.githubusercontent.com/26530524/184696941-ba6740b1-19a3-4b71-a3c6-0466d94b1fe5.png) | ![image](https://user-ima

[2022-08-15 19:14] #65492 closed, assigned to JuanLucha

[2022-08-15 19:24] danielbachhuber opened #66583 "Launch WPCOM SSH: Add 'SSH' to WPCOM_Features for WPCOM_BUSINESS_AND_HIGHER_PLANS"
In order to limit SSH to specific plans, we need to register it to `WPCOM_Features`.

See pdqkMK-sJ-p2

**Done is:**
* 'SSH' is added to `WPCOM_Features` for `WPCOM_BUSINESS_AND_HIGHER_PLANS`.

[2022-08-15 19:29] danielbachhuber commented on #66524
Asked for some systems input with pMz3w-fyd-p2#comment-100975

[2022-08-15 19:47] danielbachhuber commented on #66524
`?v=<rounded-timestamp` is the blessed approach: pMz3w-fyd-p2#comment-100976

[2022-08-15 19:52] mreishus commented on #65555
With D85956-code applied, I added the `test-plugin` plugin to the baxter theme.
Now when I check 1.2 `/themes/baxter`, I see it in the results, inside the taxonomy key:
![2022-08-15_14-52](https://user-images.githubusercontent.com/937354/184707460-456139e7-b3c5-42e1-9e3b-01c0fac4dab3.png)

[2022-08-15 19:55] danielbachhuber commented on #66583
Patch created with D85960-code

wpcomsh with 1076-gh-Automattic/wpcomsh

[2022-08-15 20:12] jeyip commented on #57812
I'll see if I can reproduce this in a bit. If so, I'll create a second issue that can be prioritized and handled by a separate team, because the problem seems unrelated to the cookie problems here.

[2022-08-15 20:44] phcp commented on #66442
The tip icon is available here: [icons.zip](https://github.com/Automattic/wp-calypso/files/9339745/icons.zip)
@ivan-ottinger @JuanLucha

[2022-08-15 20:45] phcp commented on #66446
Trash and spam icons are available here: [icons.zip](https://github.com/Automattic/wp-calypso/files/9339745/icons.zip)
@ivan-ottinger @JuanLucha

[2022-08-15 21:26] daledupreez commented on #63891
Marking this issue as resolved now that #66260 has been deployed.

[2022-08-15 21:26] #63891 closed, assigned to daledupreez

[2022-08-15 21:41] mreishus commented on #65556
Would this be used only in the new flow `plugin-bundle-flow` ( #65557 ) ?

[2022-08-15 22:02] p-jackson commented on #66524
🙏

[2022-08-15 22:30] autumnfjeld commented on #63076
@miksansegundo  LEt's close this issue, it is complete and any remaining items should have new issues, which i see in 84-gh-Automattic/ganon-issues

It seems like this isn't an open issue, correct?

Are these strings intentionally left in English, meaning no translation needed , so no further work regarding these particular strings?

[2022-08-15 22:30] #63076 closed, assigned to miksansegundo

[2022-08-15 22:33] WBerredo commented on #65487
On #66585 was handled only the visual mentions to Paid plugins.

There are still other mentions to `paid` plugins as:
* variable names
* URL routes
* Comments
* Requests sent to the backend (not sure)

A follow-up task is needed for those items or it shouldn't be changed yet?

As a dive-in is needed, if we choose to do this now, I anticipate it taking more than 1 point.

[2022-08-15 22:37] sirbrillig commented on #65371
FWIW the issue is that, if [the mini-cart is active](https://github.com/Automattic/wp-calypso/blob/6adc5809df6cc16d89a50845f72619486ab4b90a/client/layout/masterbar/masterbar-cart/masterbar-cart-button.tsx#L33), and you click to remove the last product, then [the mini-cart and its button are hidden](https://github.com/Automattic/wp-calypso/blob/6adc5809df6cc16d89a50845f72619486ab4b90a/client/layout

[2022-08-15 22:55] #66120 closed, assigned to jeyip

[2022-08-15 23:16] danielbachhuber commented on #66583
🚢

[2022-08-15 23:16] #66583 closed, assigned to danielbachhuber

[2022-08-15 23:33] cuemarie commented on #51076
This user (from Codeable) definitely could have benefitted from this solution: 36419841-hc

As they are using a plugin to migrate their dev site to their live site (both hosted here), they have to contact us repeatedly to fix the Jetpack issues that follow an AIO migration. An internal solution would be so much better!

[2022-08-15 23:47] jeyip commented on #66573
Relevant info:
- Client side logic that fetches admin menu items`client/state/data-layer/wpcom/sites/admin-menu/index.js`
- Api endpoint that returns admin menu items `/sites/${ action.siteId }/admin-menu/`

[2022-08-16 00:57] noahtallen commented on #66364
Good question -- I also think hiding while focused could work well.

[2022-08-16 01:33] hacchism commented on #43589
Another report: 35727184-hc

Suggested adding captions beforehand for now.

[2022-08-16 01:47] edwinho89 commented on #66008
- [ ] 5480468-zd-woothemes

suggested using Videomaker theme

[2022-08-16 02:25] autumnfjeld opened #66589 "[Spike/Research] Blank Canvas: Pattern Assembler in onboarding"
# Description
Blank Canvas: build your own layout in onboarding

![Image](https://user-images.githubusercontent.com/5665959/185266991-8fe18530-3b77-4f95-a2c2-0adcc8279f45.png)

<img width="961" alt="image" src="https://user-images.githubusercontent.com/5665959/184798332-bc0c2452-370c-4245-8c4d-d6eed6723de4.png">

## Info
* See design vision post: p58i-cQg-p2
* Figma (see at MVP page): 7l53h5fxAUNj

[2022-08-16 02:46] miksansegundo commented on #63076
Correct. That is not an open issue but something we could consider improving because our use case for the verticals might be an exception. The convo is [here](p1657525729304139/1657525269.185889-slack-CRWCHQGUB).

[2022-08-16 05:34] ouikhuan commented on #65585
### See if there's a possibility to add a Jetpack free plan by default if there's no active plan
As soon as we connect with a user account (click the Approve button) during the authorization step, we'll be assigned to Jetpack Free Plan by default.

###  Research how we can cover this for a paid plan that doesn't have a backup.
There's no need for a paid plan to include backup functionality to star

[2022-08-16 05:51] romitgithub commented on #66320
@davipontesblog Could you please share the correct copy content?

[2022-08-16 05:53] jimmy319 opened #66591 "Tweak spacing between the main layout columns on the WP importer page"
### Issue:

There is no spacing between the main layout columns in the tablet view.

![Image](https://user-images.githubusercontent.com/1024985/184807493-e5f101e7-b470-4298-b7fd-5a3059e81c52.png)

### Solution:

Adjust the spacing between the main layout columns

[2022-08-16 06:21] mpkelly commented on #64369
@mrfoxtalbot, my PR had an issue which delayed it. In the meantime, this issue seems to have been fixed by https://github.com/Automattic/jetpack/pull/25331. Do you want to retest? Please tag me in your response and I will close my PR assuming you can no longer reproduce this issue - thanks!

[2022-08-16 06:35] edwinho89 opened #66592 "Allow Scheduled posts to Create Podcast to Anchor automatically"
### What

At the moment, posts will need to be published in order to [create a podcast on Anchor](https://wordpress.com/support/create-anchor-podcast/#create-a-podcast-on-anchor-with-new-posts).

It'd be great if scheduled posts can create podcasts automatically right after

Requested: 36487593-hc

### Why

This will solve the need to edit the post and create podcasts to Anchor manually

### How

[2022-08-16 06:54] ouikhuan commented on #65821
If your self-hosted site is connected to WordPress.com without the user approval, it'll still be considered as connected and redirects you to the `jetpack/connect/plans` page. Once you're on the `/plans` page, we won't be able to get the site information via `sites` state because it's not connected to your user account yet, so it'll be redirected to `jetpack/connect/store`.  And here's the place y

[2022-08-16 07:02] arthur791004 commented on #64998
Close it as it's shipped 🎉

[2022-08-16 07:02] #64998 closed, assigned to roo2

[2022-08-16 07:20] candy02058912 commented on #66532
Decided to move it to component test as suggested by @worldomonation [here](https://github.com/Automattic/wp-calypso/pull/66562#discussion_r945886729).

[2022-08-16 07:47] druesome commented on #63229
@Addison-Stavlo  I looked a bit into this one in the past, and usually manually changing the value of the Global Style post (ie wp_global_styles_meraki`) to `{"version": 2, "isGlobalStylesUserThemeJSON": true }` fixes it.  A summary of my findings can be found in #65115.  However, more recently, this issue came up with the Payton theme (a Blockbase Premium child theme) as well (see #66286), but th

[2022-08-16 08:02] renancarvalho opened #66593 "Signup: Link in bio intro design fixes"
Attaching designs here, adding some notes
- It seems we're missing the editor dots on both Desktop and Mobile.
- The line height seems a bit excessive over mobile. The font size should be 28px with 130% line height on mobile. Let's also double-check if the font size is 44px on the Desktop.
- The spacing between the CTA and copy should be 32px.

Desktop
<img width="1440" alt="Desktop" src="https://

[2022-08-16 08:13] cpapazoglou commented on #65487
URL routes could also be changed but they are already shared in media. I think we are ok with https://github.com/Automattic/wp-calypso/pull/66585

[2022-08-16 08:20] ouikhuan commented on #65824
This is failing due to the user account is not fully connected to the self-hosted site.

[2022-08-16 09:08] #65757 closed, assigned to daledupreez

[2022-08-16 09:10] BogdanUngureanu commented on #57817
@sirbrillig @JessBoctor Thanks for the input! I wasn't aware that you also had something in progress in Shilling.

I think we should opt for your generic solution, that would cover multiple types of products. If @cpapazoglou agrees, I would like to close this task and abandon my diff in favour of yours. Our implementation was low priority any way. :)

[2022-08-16 09:14] inaikem commented on #64324
@alshakero, is there anything we can do to help get a review of this prioritised? I'm also experiencing this myself (macOS), with editor settings not persisting past a single page reload).

[2022-08-16 09:23] daledupreez commented on #65757
The changes were deployed to WordPress.com Simple sites a few minutes ago. The fix will only roll out to Atomic sites when during our next weekly Jetpack alpha release.

[2022-08-16 09:32] gcsecsey commented on #63903
Based on the discussion on #60769, we'll also need to sync the `wpcom_marketplace_org_slug` meta field:
https://github.com/Automattic/wp-calypso/issues/60769#issuecomment-1209158455

[2022-08-16 09:37] dsas commented on #55279
I couldn't repro this with ios 15.5 on the iphone simulator, testing against a simple site.

[2022-08-16 09:41] dsas commented on #64600
Similarly a one-time payment also shows as a subscription:
![image](https://user-images.githubusercontent.com/93301/184848927-9c98107b-af22-4c9b-8b8e-ff295eaae46d.png)

[2022-08-16 09:42] gcsecsey commented on #60769
Thanks for the detailed description @cpapazoglou. I've checked the field quickly from the site explorer, it doesn't seem to be synced yet. I've added the field to #63903 to tackle the sync of it together with the rest of the meta fields.

[2022-08-16 09:46] mmtr commented on #66068
@mpkelly make sure to coordinate with the Jetpack teams before adding any menu item to the Calypso sidebar that points to WP Admin, since that's something that conflicts with the Calypso blue/green strategy for Jetpack sites (aka `wordpress.com` vs `cloud.jetpack.com`, see p6TEKc-4ar-p2).

[2022-08-16 09:50] cpapazoglou commented on #57817
Thanks everybody for chiming in, the solution that is already in production is tackling this issue with success!

![CleanShot 2022-08-16 at 12 49 38@2x](https://user-images.githubusercontent.com/12430020/184850798-cb7723eb-e78e-409e-a603-0795692055af.png)

[2022-08-16 09:50] #57817 closed, assigned to BogdanUngureanu

[2022-08-16 09:51] mpkelly commented on #66068
Thanks, @mmtr. @daledupreez already told me the same in our Slack Channel - we need to discuss and agree on any changes first.

If this is expected behaviour then maybe @creativecoder would consider closing it down.

[2022-08-16 09:53] gcsecsey commented on #65718
Sorry for the delay in getting back to you @lsl.

We're currently working on syncing the `wpcom_marketplace_categories` taxonomy to ES in #63903. Once the tags are in the index, we should be able to create a query on the API layer to get all plugins by a list of tags: https://www.elastic.co/guide/en/elasticsearch/reference/current/array.html

[2022-08-16 10:05] vishnugopal commented on #64053
I'll take a look at this ticket and make sure that the funnels are working ok! At first glance, the track events are all good!

[2022-08-16 10:08] yansern commented on #64053
Hi there, despite saying that `import` will be deprecated, in the end `import` is still recorded as an intent. So likely there is no change needed. Everything as is. :)

[2022-08-16 10:21] ivan-ottinger commented on #65884
Investigation details: pdDOJh-DX-p2.

[2022-08-16 10:55] martian77 commented on #65498
Fixed the linting errors, added a dataprovider to test different product purchases, tidied up some disused code. Hopefully should be good to go. D85282-code

[2022-08-16 11:14] dsas commented on #64600
For the subscriber we display the awkward phrase 'Remove one-off product':
![image](https://user-images.githubusercontent.com/93301/184865450-0b1a1233-66c9-4339-86fd-59476cdfabf6.png)

I think we should retain the cancellation functionality - you might want to stop someone from accessing your premium-content that you sold for a donation or subscription for example (need to confirm this is how it w

[2022-08-16 11:18] gcsecsey commented on #65457
Thanks for the quick help @gibrown!

I've managed to put together a function_score query that uses a terms query to score the block listed plugin slugs lower. Even if we try to match for a phrase that's in the plugin name, eg. `analytics`, the block listed plugins will show up at the end of the results:

[code]

As the `Jetpack_WPES_Query_Builder` class wraps the query in a function_score query, I

[2022-08-16 11:25] miksansegundo opened #66596 "The round corners of the design previews are cut"
The issue seems to be caused by a double border with the wrong box-sizing.

![image](https://user-images.githubusercontent.com/1881481/184858856-d30ab103-36c4-468c-9200-4ebee402b7d8.png)

It seems that it has been added recently because we don't have it in the previous version of the design picker.

<img width="897" alt="Screen Shot 2565-08-16 at 18 03 54" src="https://user-images.githubuserconten

[2022-08-16 11:33] markbiek commented on #65556
@mreishus Yes, that's correct!  Open to any suggestions you may have.

[2022-08-16 11:45] miksansegundo commented on #66596
The issue is not reproducible in localhost.
<img width="130" alt="Screen Shot 2565-08-16 at 18 39 13" src="https://user-images.githubusercontent.com/1881481/184870822-aef4160c-957c-45ed-b2c6-7fdbd4dda58f.png">

When I change the `box-sizing` to `content-box` the box gets bigger than expected:
<img width="160" alt="Screen Shot 2565-08-16 at 18 38 49" src="https://user-images.githubusercontent.com/1

[2022-08-16 12:04] #65487 closed, assigned to WBerredo

[2022-08-16 12:10] #66561 closed, assigned to renancarvalho

[2022-08-16 12:38] poeticabdul commented on #55795
This seems to have happened recently on 36480149-hc and 5479054-zen . Reopening this.

[2022-08-16 12:40] danielbachhuber opened #66597 "Sites Management Page: Add site actions for 'Hide from list' and 'Always show in list'"
Now that we've applied 'Hidden' sites to the Sites Management Page (#66459), let's add 'Hide site from list' and 'Always show site in list' site actions to the ellipsis menu. Clicking on either of these should perform the expected change.

<img width="802" alt="image" src="https://user-images.githubusercontent.com/36432/184881755-b8ca6f31-1f64-4618-b607-c105aae23712.png">

However, there are a cou

[2022-08-16 12:43] #66380 closed, assigned to danielbachhuber

[2022-08-16 12:55] danielbachhuber commented on #66524
Shipped with #66534

[2022-08-16 12:55] #66524 closed, assigned to danielbachhuber

[2022-08-16 12:56] markbiek commented on #65559
Closing this since it's not necessary.

[2022-08-16 12:56] #65559 closed, assigned to nobody

[2022-08-16 12:58] danielbachhuber commented on #66211
@p-jackson Is this issue complete as of #66492?

[2022-08-16 13:25] Addison-Stavlo commented on #63229
I think the new Blockbase version added some logic to migrate fonts settings from customizer settings to the current global styles format, which could be what is overwriting things. But it also sounds like it isn't doing that correctly since the google fonts aren't showing up.

Adding the issue to the theme board as well for more visibility here. cc @jeffikus @pbking

[2022-08-16 13:26] ivan-ottinger commented on #66494
D85920-code is now deployed as well. → Closing the issue.

[2022-08-16 13:26] #66494 closed, assigned to ivan-ottinger

[2022-08-16 13:26] ivan-ottinger commented on #66566
Patch is now deployed. → Closing the issue.

[2022-08-16 13:26] #66566 closed, assigned to ivan-ottinger

[2022-08-16 13:27] ivan-ottinger commented on #66405
D85720-code patch is now deployed. → Closing this issue.

[2022-08-16 13:27] #66405 closed, assigned to JuanLucha

[2022-08-16 13:27] ivan-ottinger commented on #66405
D85720-code patch is now deployed. → Closing this issue.

[2022-08-16 13:29] ivan-ottinger commented on #66443
Issue discussion: pdDOJh-DG-p2.

[2022-08-16 13:34] sejas commented on #66211
@danielbachhuber Yes, I think you are right. This issue is already done.

- I'm closing this issue since it was done in https://github.com/Automattic/wp-calypso/pull/66492

Here I attach the screenshots of the current status of the combination between empty states and the dropdown filter:

# No sites at all

<img width="1337" alt="no-sites" src="https://user-images.githubusercontent.com/779993/184

[2022-08-16 13:34] #66211 closed, assigned to wojtekn

[2022-08-16 13:55] pbking commented on #63229
This seems to be an[ issue with Payton](https://github.com/Automattic/wp-calypso/issues/66286) because it's still got `fontFamilies` defined in the theme.json file.  I thought I had removed all of those when I upgraded the premium version of Blockbase but I seem to have missed that one.  It looks like it was subsequently tweaked, but the settings remain so the fonts expressed in theme.json are all

[2022-08-16 14:17] #64369 closed, assigned to mpkelly

[2022-08-16 14:18] Addison-Stavlo commented on #66124
For tracking purposes Im going to close this initial issue for creating the initial checklist, and we have the follow up for further functionality - https://github.com/Automattic/wp-calypso/issues/66125

[2022-08-16 14:18] #66124 closed, assigned to edanzer

[2022-08-16 14:27] metabreakr commented on #62318
Re-opening this issue. User is 36492363-hc has just encountered it again.

[2022-08-16 14:27] gcsecsey commented on #64891
Asked whether using ES for this use case is a good idea in pdh6GB-Ax-p2#comment-2677

[2022-08-16 14:40] mikeicode opened #66601 "Meraki: Footer text gets deleted with Attempt Block Recovery error"
### Quick summary

Meraki has a footer pattern which can be edited with FSE. This content gets deleted after a "Attempt Block Recovery" error appears after you edit other parts of the site.

### Steps to reproduce

- Activate Meraki on a simple site
- Edit the left and right column footer text using FSE:

![Screen Shot on 2022-08-16 at 10:18:54](https://user-images.githubusercontent.com/10353785/1

[2022-08-16 14:53] Addison-Stavlo commented on #63229
Thanks @pbking! It sounds like there is also currently an issue with Merkari as well?

[2022-08-16 14:56] dolgelukkig opened #66602 "There is no way to add new menu items to the navigation block on certain themes"
### Quick summary

When editing the template parts in the Livro theme it's not possible to add new items to the menu. There is no + icon.

### Steps to reproduce

Activate theme Livro
Open the theme editor and edit the header
Select the "New menu" button to add a new menu
No option to add items to the menu

Or

Activate theme Livro
Open the theme editor and edit the header
Select the "Select menu"

[2022-08-16 15:00] ivan-ottinger commented on #65884
The D86000-code patch that hides the tip in the new _New Comment_ email template when the "Reply To" email address is not valid, is ready for review.

[2022-08-16 15:05] mreishus commented on #65553
Deployed D85956-code. I believe this solves the issue, but if it's not sufficient, we can re-open.

[2022-08-16 15:05] #65553 closed, assigned to mreishus

[2022-08-16 15:09] ivan-ottinger commented on #66442
Thanks for the icons, Paulo!

[2022-08-16 15:09] mreishus commented on #65555
With D85956-code deployed, I'm seeing the results in the API calls as described above. I assume this is sufficient.

[2022-08-16 15:24] dsas commented on #64600
If you use the button, the confirmation dialog afterwards is chock-full of subscription wording too:

![image](https://user-images.githubusercontent.com/93301/184917831-85f8592c-ebfa-42b6-88ab-8bb2c97ab7b5.png)

[2022-08-16 15:27] Rolilink commented on #64546
After taking a look at this one, I don't think is needed to centralize the announcements and upgrade nudge, with the work done at #66425 by @DustyReagan solves a lot of the issues of assigning responsibilities to the right components.

[2022-08-16 15:29] markbiek commented on #65553
I think that should cover it. The only potential change I see is if we _can't_ leverage the Atomic API's ability to handle plugin install. In that case, we'd need to add an "Install Order" field as part of the new taxonomy so we can manual specify the order plugins will be installed.

[2022-08-16 15:44] #66577 closed, assigned to danielbachhuber

[2022-08-16 15:45] danielbachhuber opened #66604 "Launch WPCOM SSH: Update support link to SSH-specific docs"
Once our SSH-specific documentation is ready, we should link to it in `<SFTPCard>`.

From #66584

**Done is:**
* `<SFTPCard>` is updated to include a link to our SSH-specific documentation.

[2022-08-16 15:56] danielbachhuber commented on #66604
@JoshuaGoode Can you update this issue when the SSH doc is ready?

[2022-08-16 15:56] blackjackkent commented on #63229
Serenity has had a couple of issues drift into our queue already (https://github.com/Automattic/wp-calypso/issues/66008, https://github.com/Automattic/wp-calypso/issues/66286) that seem like they might be related to this?

[2022-08-16 16:02] pbking commented on #63229
Yes, pretty sure the change above will fix both items you noted.

I'm sure I updated Meraki as well but I must have lost those changes at some point.  You're correct, the same change is needed in Meraki.  [Here is a change](https://github.com/Automattic/themes/pull/6405) to address that one.

[2022-08-16 16:14] wprhunt commented on #63310
Adding a request from a customer to allow for more options for the delay:
hc-36060362

[2022-08-16 16:19] Addison-Stavlo commented on #66572
https://github.com/Automattic/wp-calypso/pull/66580 will enable this to be used for our implementation

[2022-08-16 16:20] Addison-Stavlo commented on #66571
https://github.com/Automattic/wp-calypso/pull/66580 will enable this to be used for our implementation

[2022-08-16 16:22] dsas commented on #64600
I think the premise here is that by donating / purchasing / etc, you get a "subscription" to the site. I think the confusion might be indicative of the payment blocks being built for one use-case and having had other things bolted on.

Cancel Subscription is kind of technically correct - the subscriber no longer has access to their subscribed content (that may not exist), Cancel donation isn't tec

[2022-08-16 16:27] Joshgrygiel commented on #66449
📌 SCRUBBING
- Tested on P2 ❌
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm that on both Simple and AT sites the Featured Image of the Blog Posts Block continues to float to the right, regardless of where the image is set to appear:

![TopImageFloatsRight](https://user-images.githubusercontent.com/88345647/184

[2022-08-16 16:33] jeyip commented on #57812
@syedshaon @jorpdesigns @rickmgithub @cometgrrl @JoshuaGoode I can consistently reproduce the login problem described by others. I'm creating a separate issue now.

[2022-08-16 16:42] saygunnyc commented on #63819
Late to the party here. The above looked good to me. 👍

[2022-08-16 16:53] jeyip opened #66608 "[Bug]: Third Party Cookie Issues affect ability to log in"
### Quick summary

For a period of time, users would receive a 404 when previewing their site's frontend when mapped to a custom domain. This was because WordPress authentication cookies weren't being carried over from `.wordpress.com` to their custom domain ( I.E. third party cookie problems )

The problem should be solved moving forward with the implementation of [this bug fix](https://github.co

[2022-08-16 17:07] danielbachhuber commented on #66191
@vindl @p-jackson I think we're getting close to the "two weeks before the planned release date", so I might be falling behind on this issue.

Here's my ~~draft~~ outline thus far: https://docs.google.com/document/d/1JT2cDeAh4CLgKSmOGoOa5lkW5T__M4AFlSCyf6JD6yA/edit

What do you think of the overall approach? Am I headed in the right direction?

[2022-08-16 17:13] markbiek opened #66609 "Theme/Plugin Bundling: Add new feature flag"
Let's add a new `themes/plugin-bundling` feature flag to hide all of the theme/plugin bundling work behind.

[2022-08-16 17:51] #66609 closed, assigned to markbiek

[2022-08-16 18:07] lunasera41 commented on #55273
Another request here: 36495458hc

[2022-08-16 18:22] markbiek opened #66611 "Stepper: Mobile 'Back' and 'Skip' buttons disappear after interacting with certain forms"
#### Steps to reproduce

Seems to be specific to Firefox for Android. I didn't see the behavior in mobile Chrome and I couldn't test mobile Safari.

1. On a real mobile device, https://wordpress.com/start
2. Create a new site with the Sell intent and the "More Power" upgrade
3. When you get to the `businessInfo` step, you should have both the "Back" link and the "Skip for now" link in the footer.

[2022-08-16 18:47] cuemarie commented on #66458
📌 SCRUBBING
- Tested on Simple ✴️
- Tested on AT ✴️
- Tested on Self-hosted  ✴️
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated this issue across AT, Simple, and Self-Hosted. I'm not sure if this is intended behavior (that Quadrat defaults the Site Title to UPPERCASE), or if this is an unexpected behavior.
- Either way, while adjusting the site title block's letter case is a

[2022-08-16 19:08] Joshgrygiel commented on #66569
📌 SCRUBBING
- Tested on P2 ❌
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- After testing on Simple/AT/SH I was able to confirm that the submenu text color does not change from blank, no matter which color it is set to within the Navigation Block Color settings:

![Proofofnavcolor](https://user-images.githubusercontent.com

[2022-08-16 19:08] #66569 closed, assigned to nobody

[2022-08-16 19:30] valterlorran commented on #65496
I'm still facing some problems launching it. The discussion is here: p1660669607362549-slack-C0117V2PCAE

[2022-08-16 19:31] valterlorran commented on #65597
I was asked to put this on hold for now: p1660591229431069-slack-C0Q664T29

[2022-08-16 19:49] vykes-mac opened #66616 "Sites Management Page: Fix thumbnail loader"
Currently the sites thumbnail loader does not fill the thumbnail container but only the site icon, it also shows the default mshots loading image when fetching a new thumbnail for an updated site.

[2022-08-16 19:55] DavidRothstein commented on #66500
I can't reproduce this as written -- when I cancel my premium theme via Calypso, it automatically switches me back to the previous theme that I was using beforehand.

I do think this behavior only works (and was probably only ever implemented) for users _self-cancelling_ the theme via Calypso, though.  If the premium theme gets removed any other way -- for example by a happiness engineer, or if th

[2022-08-16 20:33] davemart-in opened #66618 "Reader Card Refresh: Update separator styles on responsive mobile"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of this, we're going to make the separator lines between posts slightly taller on mobile.

### Before
![Image](https://user-images.githubusercontent.com/5634774/184984540-ebd15aa3-b0ef-4511-ad64-0bba25fdbc90.png)

### After
![Image](https://user-images.githubusercontent.com/5634774/184984629-f

[2022-08-16 20:33] davemart-in opened #66619 "Reader Card Refresh: Update post excerpt truncation (add ...)"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of this, we'll need to update how we're truncating the excerpt copy:

### Before
![Image](https://user-images.githubusercontent.com/5634774/184984147-8c0848ca-6bd3-4e18-bca3-34c4f771d1c1.png)

### After
![Image](https://user-images.githubusercontent.com/5634774/184984228-0add1bbf-adfc-419b-b05

[2022-08-16 20:33] davemart-in opened #66620 "Reader Card Refresh: Update engagement icons"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of that, we'll want to update some of the action icons. Let's toss the follow icon in there while we're at it.

### Before
![Image](https://user-images.githubusercontent.com/5634774/184983765-27b0491c-be4b-49d1-8805-089fa780ef11.png)

### After
![Image](https://user-images.githubusercontent.co

[2022-08-16 20:33] davemart-in opened #66621 "Reader Card Refresh: Stack media vertically and make full width"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of this, we'd like to make all media full-width vs left aligned. We'll want to make updates to the following cards:

- Single image
- Two images
- Three images
- Four images
- Video
- Gallery

### Before
![Image](https://user-images.githubusercontent.com/5634774/184982439-5d2d3ec1-441a-4f05-8c

[2022-08-16 20:33] davemart-in opened #66622 "Reader Card Refresh: Move tags onto their own line and apply styling"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of this we will be moving tags to their own line, applying some new styles, and removing the current tags icon.

### Before
![Image](https://user-images.githubusercontent.com/5634774/184982038-1f035442-ef77-4815-8eb2-bb0cbd8ad716.png)

### After
![Image](https://user-images.githubusercontent.c

[2022-08-16 20:33] davemart-in opened #66623 "Reader Card Refresh: Add domain next to date"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As part of this, we'd like to add the domain of the site next to the date. Here's an example of what this will look like:

![Image](https://user-images.githubusercontent.com/5634774/184981627-b8168371-8fd0-4076-a19d-74d6f55c5b9d.png)

[2022-08-16 20:33] davemart-in opened #66624 "Reader Card Refresh: Move more menu to top right"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of this, we'll be moving the more menu from the bottom right corner to the top right corner.

### Before

![Image](https://user-images.githubusercontent.com/5634774/184981206-1d45e3c3-e4f9-435f-b9f7-88ee5367c746.png)

### After

![Image](https://user-images.githubusercontent.com/5634774/184981

[2022-08-16 20:33] davemart-in opened #66625 "Reader Card Refresh: Remove multi-post truncation"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of this, we'd like to completely remove the code that pulls posts which were published close to each other into a single card. Instead, we'll just show each post as it's own card. here's an example of what you see today:

![Image](https://user-images.githubusercontent.com/5634774/184980960-ba4

[2022-08-16 20:33] davemart-in opened #66626 "Reader Card Refresh: Reduce width of reader container to be 600px"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. To make this happen we'd like to reduce the baseline width from 800px to 600px. Here's a preview of what this will end up looking like when all is said and done:

![Image](https://user-images.githubusercontent.com/5634774/184980278-71770aa6-622a-4de6-92dc-0c8301c94854.png)

The goal of this issue is sim

[2022-08-16 20:35] mreishus commented on #66500
### Two Linked Functions not always called in succession

I've found a Store Admin cancellation of a legacy purchase calls `disable_premium_theme_purchase()` without calling `restore_previously_selected_theme_for_site()` right after.
Locations: wpcom-store-admin-page.php around 220 or wpcom-store-admin.php 337

The canonical `cancel_theme` does run `disable_premium_theme_purchase()` then `restore_

[2022-08-16 20:54] vindl opened #66627 "Sites Management Page: remove Get Started header for free sites screenshots"
All free site screenshots currently contain the "Get Started" header that appears for logged-out users. If users have multiple free sites next to each other, this can look confusing, and it almost looks like it's part of the thumbnail UI. We should try to hide this banner when the request originates from mShots.

<img width="540" alt="Screenshot 2022-08-16 at 15 51 57" src="https://user-images.git

[2022-08-16 21:06] ianstewart opened #66628 "Patterns categorized as Headers and Footers should only be available in related Template Parts"
### Current status:

When using the pattern inserter you'll see a category of patterns labelled as "Headers".

Example:

![image](https://user-images.githubusercontent.com/545779/184984282-cbba337d-fca5-4fa5-9264-eead55fa3b4c.png)

### Desired status:

These patterns should only be available when you are editing the matching template part in the site editor. In the case of headers, when you're edi

[2022-08-16 21:16] dsas commented on #50396
Obsoleted - [template parts no longer take part in block transforms](https://github.com/WordPress/gutenberg/pull/42090)

[2022-08-16 21:16] #50396 closed, assigned to dsas

[2022-08-16 21:20] supernovia commented on #53017
Another case here:

They are sending their /view/ link

[2022-08-16 21:52] p-jackson commented on #66627
This can be hidden with a query parameters: `?hide_banners=true`
2d2d7-pb

I believe there's a query param that will hide the cookie banner too. It's off-screen for us at the moment so it doesn't matter, but it might come up if we change the dimensions of the screenshot we take using mShots.

[2022-08-16 22:24] vindl commented on #65174
Based on the feedback, I compiled a list of items to add for i1. We'll iterate on this further in the future, once we elevate some options to primary actions in view columns (e.g., launch/checklist), and start showing contextual actions based on the type of site.

- **Launch Site** -  show only if the site is not launched yet
- **Settings** - link to `/settings/general`
- **Manage Plugins** - link

[2022-08-16 22:33] p-jackson commented on #65174
`/wp-admin/` opens a new tab maybe? I think our wp-admin links usually do this, but I can't find any links anymore. I guess we'd only just removed them all 😅
(FWIW I'm in favour of having a wp-admin link)

[2022-08-16 22:36] vindl commented on #65174
Yes, that was my intention and I added it to the top-level summary. 😄 It's still available at the bottom of the sidebar for Jetpack sites, but not shown otherwise.

[2022-08-16 22:52] vindl opened #66632 "Sites Management Page: Browse Sites in wp-admin should link to SMP"
`Browse Sites` in wp-admin view redirects to the empty page showing only the site switcher. The current context/page is not preserved after switching. We should point this to the SMP instead to surface the new and improved view for site selection.

<img width="270" alt="Screenshot 2022-08-16 at 17 51 57" src="https://user-images.githubusercontent.com/1182160/184998744-89d876b9-f60f-49ef-b673-93209

[2022-08-17 00:04] Rolilink opened #66634 "Clicking on category results plugins always links to a plugin page without a selected site"
Clicking on a Plugin from the category results list with a site selected is sending the user to the incorrect url instead of `/plugins/:pluginId/:siteSlug` is being sent to `/plugins/:pluginId`.

- [ ] When a site is selected clicking on a plugin should link to `/plugins/:pluginId/:siteSlug`

[2022-08-17 00:17] donalirl opened #66635 "Add Learn More Link to Plugins Page"
### What

On almost all Calypso screens, there is a "Learn More" link to a support doc about the page the user is viewing. Example from Domains:
![image](https://user-images.githubusercontent.com/30727666/185006361-450b78d8-7bfc-4e59-8fb7-ed2eb75eb65a.png)

Plugins is currently missing a Learn More link on both simple and atomic:
![image](https://user-images.githubusercontent.com/30727666/18500642

[2022-08-17 00:54] lsl opened #66637 "Marketplace: Add e2e or unit test plugin category > plugin page"
Follow up on https://github.com/Automattic/wp-calypso/issues/66634

- [ ] Add unit test to catch similar problems in the future

[2022-08-17 01:32] cuemarie opened #66639 "Enhancement - Provide the same editing tools for the Subscribe and Login buttons in the Paid Content block"
### Quick summary

The Premium Content block was recently updated to use nested blocks. Inside the nested block's "Guest View", the buttons to **Subscribe** and **Log In** are 2 different blocks altogether, and they offer different tools for setting width and alignment. This makes it more difficult and limited to have a consistent look to your buttons.

- The **Subscribe** button - a `Payment Butt

[2022-08-17 01:37] p-jackson commented on #65411
Closed by #66511

[2022-08-17 01:37] #65411 closed, assigned to zaguiini

[2022-08-17 01:50] cuemarie commented on #66463
Hi @dolgelukkig ! Since you were not able to replicate this issue, and it instead relies on user-specific site information, a better place to report this would be through internal channels, so that other HE's can help troubleshoot and determine if a reproduceable bug is present. For more context, check out this P2: p7DVsv-eW4-p2

In the meantime, it looks like the user's issue was addressed on the

[2022-08-17 01:50] #66463 closed, assigned to nobody

[2022-08-17 01:51] #66634 closed, assigned to nobody

[2022-08-17 02:21] cuemarie commented on #66474
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ❌
- Tested on Self-hosted ❌
- Replicable on Core - Yes - Reported here: https://github.com/WordPress/gutenberg/issues/43292

📌 FINDINGS/SCREENSHOTS/VIDEO
- Thanks for the clear report! I replicated issue on both AT and Self-Hosted sites using theme **Twenty Twenty-One**.
- In AT and Self-Hosted environments, the Paragraph Block in a widget area lacke

[2022-08-17 03:33] #66532 closed, assigned to candy02058912

[2022-08-17 03:40] zachspears commented on #66156
Hey @syhussaini, thank you for submitting this idea. For some additional information, how would this meaningfully differ from creating a Reusable block?

[2022-08-17 03:44] zachspears commented on #66244
This is a good idea, I have had similar conversations of users wanting to add this functionality to their site and with FSE this could be very useful. Marking Low priority due to low impact.

[2022-08-17 03:45] worldomonation commented on #66532
I think you did a really good job here! Well done👏

[2022-08-17 03:50] zachspears commented on #66454
The opens an interesting conversation regarding the expected use of Blocks when applied in FSE versus the page editor. I think it could provide a lot of value to include Table of Contents blocks in FSE that automatically create a TOC for the page. However, this may also provide confusion if the expectation, for some reason, was to only generate from the Template itself. Keeping this issue in order

[2022-08-17 03:54] zachspears commented on #66292
I think this would be very useful, I also think this may be an expected behavior that could cause confusion when blocks do not follow the More Block. The Query Loop block may be the best home for this feature as it provides the greatest flexibility when displaying Post content.

[2022-08-17 07:16] lsl opened #66643 "Marketplace: Add plugin categories to plugin install tracks events"
We want to know more about category priorities. To figure this out we want to add tracks events or amend existing ones to store plugin categories in event properties of plugin install events.

- [ ] Capture plugin categories on plugin install tracks events

[2022-08-17 08:11] #66593 closed, assigned to renancarvalho

[2022-08-17 08:22] mmtr commented on #64600
IIRC, users can only select non-donation plans in a premium content block, so I think we can remove the ability to cancel one-off donations since that doesn't produce any effect in practice.

Assuming that the dialog won't be displayed for one-off donations, I think we can use the following generic wording when removing a one-off payment:

- Sub-heading: "Do you want to remove this purchase?"
- In

[2022-08-17 08:43] BogdanUngureanu commented on #66111
Followed the testing steps on a band new Jetpack site and the issue is not reproducing anymore.

I'll close the issue for now. If you are still reproducing it, feel free to open the issue again. :)

[2022-08-17 08:52] candy02058912 commented on #64055
@SaxonF

"Top paid plugins" (now "Top premium plugins") and "Top free plugins" [according to the design mentioned here](https://github.com/Automattic/wp-calypso/issues/63893#issuecomment-1136664229):

Since there's no design change so I don't think we need to add the descriptions for these two.

And we still need descriptions for the following categories:

**Must have (visible categories)**
- SEO

[2022-08-17 08:57] dsas commented on #64600
Unfortunately that's not right.

I think we can still use your proposed wording though, it just makes it more fiddly. We'll  have to s/purchase/donation

[2022-08-17 09:03] arthur791004 commented on #60111
@autumnfjeld I change my mind that we might be able to close this one as we never receive any reports about this one. We could re-open this once we get any related reports 🙂

[2022-08-17 09:03] #60111 closed, assigned to arthur791004

[2022-08-17 09:33] mmtr commented on #66111
I can still reproduce it:

https://user-images.githubusercontent.com/1233880/185085779-00520181-b05c-41d2-bbbe-73805b8801a0.mov

[2022-08-17 09:38] zaerl commented on #65826
See p1660727999900679-slack-C01A60HCGUA

[2022-08-17 10:27] BogdanUngureanu commented on #66111
Oh, now I can reproduce it too! But this time with a different Jetpack site.

[2022-08-17 10:32] JuanLucha commented on #66461
Closed after testing and finding out that RTL support works out of the box for New Liked Post. More details [here](pdDOJh-Ev-p2)

[2022-08-17 10:33] #66461 closed, assigned to JuanLucha

[2022-08-17 10:52] mmtr commented on #65634
This has been fixed by D84996-code and 1053-gh-Automattic/wpcomsh

[2022-08-17 10:52] #65634 closed, assigned to mmtr

[2022-08-17 11:23] vishnugopal commented on #45586
We've fixed a bunch of issues here. See:
* 417-gh-Automattic/site-parser
* https://github.com/Automattic/wp-calypso/issues/63122

Closing this! Reopen this if the issue recurs!

[2022-08-17 12:01] sejas commented on #64935
@jeherve @mmtr,

I've created a PR that includes the CPT menu items in Calypso for Jetpack sites https://github.com/Automattic/jetpack/pull/25670, but I would like to confirm with you if this is needed and is the right direction.

My concerns are:

1. On nav unification, the Jetpack sites have a different menu on purpose. From my understanding, the CPTs were not included on Jetpack sites. On atomi

[2022-08-17 12:10] markbiek commented on #66500
@mreishus Not sure if it applies to this case but I ran into an issue with `restore_previously_selected_theme_for_site` while working on the new theme subscription stuff.

Basically, `restore_previously_selected_theme_for_site` was restoring the theme from the subscription I was cancelling.

D85191-code has an attempt at a fix if it's useful. See line 792 of `store-subscription-cancellations.php`

[2022-08-17 12:20] vajrasar commented on #57660
Since the follow-ups were not a lot - I've reached the affected users manually. 👍

[2022-08-17 12:37] vajrasar commented on #65832
Edwin, do you still think we need to reach the user here?

[2022-08-17 12:37] vajrasar commented on #65832
Most of the affected users are informed about the fix, and I informed the remaining. 👍

[2022-08-17 12:44] rickmgithub opened #66649 "[Block] Buttons: Border color does not respond to text color in FSE Themes"
### Quick summary

In the past you could apparently set the outline color of a button block by setting the text color but this doesn't work anymore.

There is no no way of setting the button outline color. No option in the block settings or global styles.

### Steps to reproduce

Add a button block.
Try to change the outline color

https://user-images.githubusercontent.com/13706336/185130397-54cc4

[2022-08-17 12:51] Gustavo-Hilario commented on #65330
On the ticket below, the domain transfer was falling because their domain was registered less than 60 days ago. The user canceled the transfer, but the domain credit was not restored.

- [ ] 5483700-zen

[2022-08-17 12:57] ivan-ottinger commented on #65884
The D86000-code patch is now deployed to production.

I am leaving this issue open and moving it to maintenance - as the root cause hasn't been addressed yet. Possible next steps can be found in the following discussion: pdDOJh-DX-p2#comment-470.

[2022-08-17 13:16] cpapazoglou commented on #63903
Whats blocks us from adding it to D85227-code?

[2022-08-17 13:57] gcsecsey commented on #63903
From my earlier discussions on this issue with Kernel, there has been a new thread created: p9dueE-5AB-p2

I wanted to clarify that these changes are still needed based on the discussion on the project thread: pdh6GB-Ax-p2#comment-2503

I'll move forward with updating the diff, and adding reviewers from these teams.

[2022-08-17 14:16] jgcaruso commented on #53716
I've deployed the above diff which should fix the issue of embeds not working for videos with Sharing disabled on the site that owns the video.

Existing posts may need to be edited/re-published in order for the oembed handler to retrieve the proper embed code.

[2022-08-17 14:19] jp-imagines commented on #55795
Another report of this in 34092365-hc (Scratchpad theme).

In the browser inspector, I see the `svg` element seems to be using icons that don't actually exist at the specified location:
![Markup on 2022-08-17 at 10:14:48](https://user-images.githubusercontent.com/5630717/185157022-df414fe7-c4be-445e-a65f-96e552c5bc11.png)

Suggested user switch to the Social Icons _block_ widget instead.

[2022-08-17 14:35] markbiek commented on #65557
Looking for some feedback on how to actually switch to the new flow.

paYKcK-20n-p2

[2022-08-17 14:36] gcsecsey commented on #63903
I've added the `wpcom_marketplace_org_slug` to the diffs:
- WP.com diff: D85227-code
- Jetpack PR: https://github.com/Automattic/jetpack/pull/25376

[2022-08-17 14:38] metabreakr commented on #57812
36508625-hc
Firefox 103.0 on Windows 10.0.0

[2022-08-17 14:43] davemart-in commented on #66626
Added in #66650

[2022-08-17 14:43] #66626 closed, assigned to davemart-in

[2022-08-17 14:46] #63716 closed, assigned to WBerredo

[2022-08-17 14:47] ivan-ottinger opened #66651 "[New Comment] In some situations, two email notifications are sent instead of one"
When a new comment is made on a post, **two emails** are sent to the post author:

| Normally sent to post author only | Normally sent to post subscriber only |
| ------------- | ------------- |
| ![Markup on 2022-08-18 at 14:25:11](https://user-images.githubusercontent.com/25105483/185394322-966918d8-3e04-4021-8dd4-dc06d3e8c2ed.png) | ![subscriber](https://user-images.githubusercontent.com/251054

[2022-08-17 15:27] DavidRothstein commented on #66500
It should be possible to cancel as long as the purchase is within the refund window -- there will be a "Cancel and Refund" link on the purchase management page in Calypso.  (If it's no longer refundable, I guess it doesn't let you cancel at all, based on the theory that it's a one-time purchase which you can keep forever without paying more money...)

To test that you probably need to purchase the

[2022-08-17 15:38] davemart-in commented on #66623
Committed to #66650

[2022-08-17 15:38] #66623 closed, assigned to davemart-in

[2022-08-17 16:22] sirbrillig opened #66652 "Codeowners lists payments team which no longer exists"
The [CODEOWNERS file](https://github.com/Automattic/wp-calypso/blob/7bdedda44ff9dc9426b7c975a626810bddd7a444/.github/CODEOWNERS#L35) refers to `@Automattic/payments`, which no longer exists. That should probably be changed.

<img width="1078" alt="Screen Shot 2022-08-17 at 12 22 47 PM" src="https://user-images.githubusercontent.com/2036909/185192002-1b38e101-f99a-41cd-b234-69990506a6f4.png">

[2022-08-17 16:37] #64544 closed, assigned to Rolilink

[2022-08-17 16:51] jeherve commented on #64935
I'll let @mmtr weigh in on this, as I'm not completely familiar with what the original goals were with the Calypso menu for Jetpack sites in the nav-unification project.

[2022-08-17 17:04] daria2303 opened #66653 "Latest Instagram Posts block: images display in different sizes"
### Quick summary

Instagram Posts block images display in different sizes and there isn't control over that. Usually the third row is different. Even our support doc example has this problem: https://wordpress.com/support/instagram/#latest-instagram-posts-block
Also, saw slack discussions about it.
![Markup 2022-08-17 at 19 03 46](https://user-images.githubusercontent.com/11535091/185199878-90f5d

[2022-08-17 17:33] #64546 closed, assigned to Rolilink

[2022-08-17 17:52] blackjackkent opened #66654 "Theme Bundling - Update UI to prompt upgrade for users below Business on applicable themes"
If a user selects a theme that requires plugin bundling during onboarding theme selection, they must have a business plan or above. If they do not, the UI upsell popup should reflect this and indicate the plugin that will be bundled, as described in paYKcK-1Hs-p2.

![image](https://user-images.githubusercontent.com/13437011/185207924-89583afb-994f-497a-9668-ec3f33e45969.png)

The theme showcase it

[2022-08-17 17:56] kerrynicl opened #66655 "Video Block mutes Autoplay videos"
### Quick summary

Users that set their videos to Autoplay without selecting the block mute option are having their videos played on mute.

### Steps to reproduce

1.Add a video block to a page
2.Select Autoplay to be enabled
3.Ensure muted setting is disabled
<img width="382" alt="Markup 2022-08-17 at 12 52 30" src="https://user-images.githubusercontent.com/83325600/185208567-1317ad2d-5174-441b-9

[2022-08-17 18:05] vindl opened #66656 "Hosting screen improvements"
Just a placeholder for now, more details will be added later. Some things to improve:

- non-business users don't see all the available features when the upgrade nudge is active.
- features could have their own separate sections/pages.

[2022-08-17 18:24] Addison-Stavlo commented on #62017
If I am understanding correctly this may be describing the same issue as https://github.com/Automattic/wp-calypso/issues/65419 ?

If so we can close this in favor of that issue, but perhaps update its title to be found easier (It took me a few to find even though I knew it existed since it as I was expecting to see "submenu" in the title of the issue)

[2022-08-17 19:49] supernovia opened #66659 "Pendant: Archive Page Isn't Filtering By Tag/Category"
### Quick summary
The archive page on the Pendant theme is showing all posts, not filtering by tag/category.

### Steps to reproduce
1. Activate the Pendant on a site with a couple posts, in different tags or categories
2. Check an archive page - a tag or category page

### What you expected to happen
The archive page should show posts only from the specific category/tag.

### What actually happen

[2022-08-17 19:56] pbking commented on #63229
I have deployed D85999-code and [#6405](https://github.com/Automattic/themes/pull/6405)

I believe this can be closed now.

[2022-08-17 20:25] rafaelgalani commented on #64285
☝🏻 This should fix it.
Please note that I also updated other few outdated links:

- `INCOMING_DOMAIN_TRANSFER_PREPARE_UNLOCK` and `INCOMING_DOMAIN_TRANSFER_PREPARE_AUTH_CODE` - lines 28 and 29;
- `MAP_EXISTING_DOMAIN_UPDATE_DNS` - line 48, should point to the "Update Name Servers Yourself" section;
- `MAP_SUBDOMAIN_WITH_CNAME_RECORDS` and `MAP_DOMAIN_CHANGE_NAME_SERVERS` - lines 51 and 52, updated

[2022-08-17 21:19] ccwalburn commented on #59825
- [ ] 5486428-zen

This user had copied text from Word to paste into their post. It had various strings like these:

[code]

And also had an image in the copied text. Removing all of the strings like the ones above and the image fixed it. But there were so many that the workaround I gave the user was this:

1. Copy text from Word
2. Add a Classic Block to the post
3. Click the **Paste as Text** ic

[2022-08-17 21:21] vykes-mac commented on #62318
This issue is actually resolved however the fix is not synced to Wordpress.com as yet. The newspack team will include it in their next team call. See [slack conversation ](p1660763548381799-slack-CUXC1FUTH)

[2022-08-17 21:58] rafaelgalani commented on #64285
Just deployed the PR above. It should be good now, so I'll mark this issue as closed.
Please let us know if there's any other change needed 😄

[2022-08-17 21:58] #64285 closed, assigned to delputnam

[2022-08-17 23:15] #66616 closed, assigned to vykes-mac

[2022-08-17 23:26] DustyReagan opened #66666 "[Bug]: "Plugins" breadcrumb link doesn't change on "Switch Site""
### Quick summary

When browsing the Plugins Marketplace, if you switch sites while viewing a plugin, the "Plugins" link in the breadcrumbs still points to the previous site.

https://user-images.githubusercontent.com/140841/185260354-6d3c984f-eca9-411f-a84c-56298034cc3b.mp4

### Steps to reproduce

1. Go to https://wordpress.com/plugins/[site_slug]
2. Click on a plugin
3. Use "Switch Sites" in th

[2022-08-17 23:35] autumnfjeld opened #66667 "Metrics: analyze user selection of v13n themes and recipe layouts compared to non-v13n themes"
# Description

We have shipped recipe layouts in June.
We are soon shipping v13n of a few "standard themes".
Shipped https://github.com/Automattic/wp-calypso/pull/67077
- Geologist
- Stewart
- Arbutus
- Zoologist
We want to measure if there is a difference in user selection of these v13n themes.

For example:  Let's examine Arbutus:
* look at how often Arbutus is/was chosen in onboarding when it i