[2021-02-11 20:52] sirbrillig commented on #48703
It turns out there's already an endpoint called `/me/payment-methods` which is newer than `/me/stored-cards` and already includes an `expired` parameter. We're already using that endpoint in calypso for the `QueryStoredCards` query component, so if we pass the `expired` parameter there, we should get expired cards saved in the Redux store automatically, to be used everywhere that uses the Redux st

[2021-02-11 21:15] #48841 closed, assigned to retrofox, pablinos

[2021-02-11 21:31] worldomonation commented on #15624
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue, as only images are now able to be selected for feature image.
Uploading a video shows the following:
![Screen Shot 2021-02-11 at 1 31 20 PM](https://user-images.githubusercontent.com/6549265/107701235-7c71cd00-6c6d-11eb-8666-b6939a7b49fd.png)

As

[2021-02-11 21:31] #15624 closed

[2021-02-11 22:05] worldomonation commented on #16396
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue has been on file since mid-2017 with no activity since early 2018.
For the record, if I enter `#banana #orange #apple` in the Tags field and hit enter, the entire string continues to be treated as one tag. So it would appear this bug remains.

If no immediate plans exist to a

[2021-02-11 22:10] worldomonation commented on #7619
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no activity on this bug since early 2018.

Given the above, this issue is being closed with the label `Closed - Won't Fix`.
If work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-11 22:10] #7619 closed

[2021-02-11 22:11] scosgro commented on #49007
#11656743-hc

[2021-02-11 22:13] worldomonation commented on #17201
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

Reader view replaces the `Contact Form` block in a post with the text string `Submit a form.`:
![Screen Shot 2021-02-11 at 2 12 37 PM](https://user-images.githubusercontent.com/6549265/107705246-49cad300-6c73-11eb-9626-3c2dc80cb1c0.png)
![Screen Shot 2021-02-11 at 2 12 31 PM](https://us

[2021-02-11 22:13] #17201 closed

[2021-02-11 22:35] jeyip opened #50015 "Semantic Template Parts: Area value is null"
### Description
The area taxonomy for template parts is returning null when we create a new, custom template part, or when we update a theme provided template part.

<img width="386" alt="Screen Shot 2021-02-11 at 12 23 38 PM" src="https://user-images.githubusercontent.com/5414230/107706727-9dd6b700-6c75-11eb-93e5-b1eab8e40520.png">

### Steps to reproduce the behavior

1. Sandbox a simple site wi

[2021-02-11 22:36] Addison-Stavlo commented on #49317
We discussed in slack it may be worth trying to get the second radio button option working with the replace content flow as opposed to removing the modal.  D56920-code

[2021-02-11 22:38] worldomonation opened #50017 "Comment: comments are left as wrong account if multiple Google login is used in same browser"
### Steps to reproduce the behavior

Prereq. Create/own two Google Login-based WP accounts.

1. Go to https://wordpress.com/log-in.
2. Log in to WordPress.com using Google Account 1.
3. Once login is complete, log out.
4. Return to https://wordpress.com/log-in.
5. Log in to WordPress.com using Google Account 2.
6. Once login is complete, go to a site with comments enabled.
7. Click on a post
8. Sc

[2021-02-11 22:41] andrewserong commented on #50012
Also do new annotations for:

* [x] doylestarter
* [x] levenstarter

[2021-02-11 22:51] worldomonation opened #50018 "Payments block: button is not rendered in preview and published post"
### Steps to reproduce the behavior

1. Go to My Sites > Posts > Add New Post.
2. In the editor, add the `Payments` block.
3. Enter some text in the button.
4. Publish page.
5. Check both the Preview and Published page.

#### What I expected to happen
`Payments` block is rendered on page, containing the button and text.

#### What actually happened
`Payments` block is not rendered on page.
Where t

[2021-02-11 22:56] worldomonation commented on #47510
I was able to get the button to align properly in the editor view, but the buttons do not render in the preview nor published post now.

[2021-02-11 23:01] worldomonation commented on #21768
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no recent activity on this issue. As such it is being closed with the label `Closed - Won't Fix`.
When work is scoped and tabled for a milestone, please feel free to re-open this bug.

[2021-02-11 23:01] #21768 closed

[2021-02-11 23:04] worldomonation commented on #21311
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue is no longer reproducible with the following steps:
1. open a page or post in editor.
2. click on `Preview`.

Here are the screenshots of the relevant location.
Post preview:
![Screen Shot 2021-02-11 at 3 02 38 PM](https://user-images.githubusercontent.com/6549265/107709654-6

[2021-02-11 23:04] #21311 closed

[2021-02-11 23:06] kurt213 commented on #49944
Hi @davemart-in I haven't seen any data around either of these two situations. Unfortunately we don't have that "Classic Editor" button tagged. From what I can see we have very little in wp-admin generally.

Will look into classic editor plugin enabled numbers.

[2021-02-11 23:09] TeniCola commented on #49867
Discussion continued in p1613078750066000-slack-gutenberg-on-dotcom. It seem this issue may have been an unexpected result of the recent merge here, where we eliminated the height = 100% styling that caused an overlapping issue for cover blocks: https://github.com/WordPress/gutenberg/pull/28455

[2021-02-11 23:18] mrfoxtalbot opened #50019 "Restored posts will have their original date replaced with the restore time"
### Steps to reproduce the behavior

1. Create a post.
2. Set a past date easy to remember
3. Trash the post
4. Restore the post

#### What I expected to happen
The restored post's original date should be preserved.

#### What actually happened
The original post date was replaced with the date of the moment when it was restored.

### Context
A user (3731668-zen) deleted 700 of their posts by mista

[2021-02-11 23:19] worldomonation commented on #9908
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

It appears this issue has not had any activity since early 2018. Due to that it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-11 23:19] #9908 closed

[2021-02-11 23:20] katiebethbrown commented on #41272
Another report - 27686765-hc

Suggested using Coming Soon mode instead.

[2021-02-11 23:47] andrewserong commented on #50012
Diff to update each of these: D56946-code

[2021-02-11 23:51] TeniCola commented on #49867
**WORKAROUND** -- Since the merge in the above repo was meant to correct the cover block's overlapping issue in flex containers, it makes sense why the minimum height were no longer expanding on columns.

While there's more slack discussion, I was able to develop this workaround with Cover blocks, to add the responsiveness back to my own personal site:

[code]

Leaving this open for now in case ot

[2021-02-11 23:56] gibrown commented on #16396
This bug is a real problem though. This is how people use the editor and it isn't doing what they expect it to do.

[2021-02-12 00:11] worldomonation commented on #16396
Oh, I agree with you. I would expect the tags field to intelligently use the # symbol to delimit individual tags, because that's how people use things in 2021. I'm still familiarizing with the various teams and their priorities; do you know if this issue is on the team's radar?

[2021-02-12 00:13] worldomonation commented on #37531
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-12 00:13] #37531 closed

[2021-02-12 00:16] worldomonation commented on #19781
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no recent activity on this issue since early 2019 and so it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-12 00:16] #19781 closed

[2021-02-12 00:18] worldomonation commented on #21882
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

There has been no recent activity on this issue since late 2018 and so it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-12 00:18] #21882 closed

[2021-02-12 00:20] worldomonation commented on #27991
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

Is this still a relevant issue now that VaultPress has been deprecated as of October 2020?

If not, would it make sense to close this issue with label `Closed - Won't Fix`?

[2021-02-12 00:20] worldomonation commented on #30828
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-12 00:20] #30828 closed

[2021-02-12 01:28] andrewserong commented on #49498
Related Gutenberg issue: https://github.com/WordPress/gutenberg/issues/28957

[2021-02-12 01:29] ramonjd commented on #49617
We're ready to ship the new design to Gutenboarding unless @ianstewart or anyone else has any strong feelings about the use of the first name Alex. It's something we can remove at any time. Or change it to Reginald or something

[2021-02-12 01:37] andrewserong commented on #50012
Updated and deployed!

[2021-02-12 01:37] #50012 closed, assigned to andrewserong

[2021-02-12 01:58] worldomonation opened #50022 "Comment: certain HTML entities are not replaced in new comment email"
### Steps to reproduce the behavior

Prereq. Enable email notification.

1. Go to My Site > Settings > General > Site Profile.
2. Insert the characters `'` (single quote) or `<>` (greater than/less than) in the `Site Title`.
3. Log in as User 2.
4. Leave a comment on a post.
5. Check the email notification for the new comment.

#### What I expected to happen
All special characters are rendered as

[2021-02-12 01:59] worldomonation commented on #50022
Ironically, GitHub is having issues with the &lt; in the bulleted list.

[2021-02-12 02:15] jeyip commented on #49573
The issue seems to be with the `post-content` block. If you select `post-content` specifically and click on "Full width" alignment, everything else behaves as expected. For some reason, the post-content block in the tt1-blocks `page-home` template doesn't default to full width. We can address this problem a few ways:

1. We can update the tt1-block templates and add an `align: full` block attribut

[2021-02-12 02:36] p-jackson commented on #49617
Personally I think it's fine to ship it and potentially change it later

[2021-02-12 03:05] nagpai commented on #49792
User came back mentioning that the issue momentarily resolved and then it recurred.

I would keep this closed until the user confirms that they are able to see this with Addons disabled,  or unless one of us is able to replicate the error in Firefox.

I have also asked the user to move towards using Classic block or the block editor itself, since classic editor is deprecated on WP.com

[2021-02-12 08:18] david-szabo97 opened #50025 "Customizer: "Need help setting up your site?" doesn't disappear immediately when clicking on a menu"
### Steps to reproduce the behavior

1. Go to your site -> Customizer
2. Click on any menu (Site Identitfy)
3. See how "Need help setting up your site?" remains in view for the duration of the transition and disappears when the transition finished

#### What I expected to happen
"Need help setting up your site?" should disappear immediately when I click on a menu.

#### What actually happened
"Nee

[2021-02-12 08:31] jsnajdr commented on #45881
I can reproduce the issue. As the issue is security-related and doesn't have much to do with the Calypso frontend itself, I shared the details in an internal P2 post: pcNnmV-x-p2#comment-38

Quick way to reproduce is:
1. Start editing a post in Gutenframe
2. Open a new tab with the `/log-in` page and login there as the same user. That resets your auth cookies.
3. Switch back to the editor tab and

[2021-02-12 08:40] retnonindya commented on #47992
... aaaand the buttons are appearing (insert `:confused-dog:` Slack reactmoji here)

Thank you for checking this, @davipontesblog! I just got the opportunity to check this GitHub issue, and when I tried it on my end, I now able to see the buttons properly again now. I also can confirm my Chrome is Version 88.0.4324.150 (Official Build) (x86_64)

@simison -- Uhhh, I guess we can close this issue? 😅

[2021-02-12 09:22] razvanpapadopol opened #50026 "New Onboarding: consolidate typography"
### What
Currently, we have 3 apps that are re-using components that are following the "onboarding styles".

### Why
Increase UI consistency and reduce future development effort.

### How
1. Go to packages (`onboarding`, `domain-picker`, `plans-grid`, `launch`), `landing/gutenboarding` in Calypso and `editor-site-launch` in Editing Toolkit app.
2. Search for any font-size defined absolutely (eg: `

[2021-02-12 09:59] paulbonahora commented on #48894
@taggon tagging you in case you'd be a better fit to address this issue since you're more familiar with the code. Would you be able to take on this?

[2021-02-12 10:28] aleone89 commented on #49840
Hello,

This has also been reported here, and I was able to locate the same console error as above: https://wordpress.com/forums/topic/problem-home-page-colinear-theme/

Interestingly, this only happens on the homepage of this site: https://guillaumetat.wordpress.com/ but not on an individual article: https://guillaumetat.wordpress.com/2019/07/27/france-balades-autour-de-lille/

The video isn't Yo

[2021-02-12 10:56] #49842 closed, assigned to klimeryk

[2021-02-12 11:10] #47016 closed

[2021-02-12 11:25] tyxla opened #50031 "Gravatar: Better handling of larger images"
As @noahtallen reported in https://github.com/Automattic/wp-calypso/pull/49914#pullrequestreview-588179235 we're not handling large images properly when uploading a new gravatar. Ideally, we should recognize the large image and display an error immediately, and not have to wait for it to upload first.

[2021-02-12 12:32] razvanpapadopol opened #50033 "Editor Checkout: not returning to editor after purchasing upgrade"
### Steps to reproduce the behavior

1. Go to editor on a site with a Free plan
2. Add a Premium Block and click Upgrade
3. Complete checkout
4. Skip any up-sell nudge if there is one

#### What I expected to happen
I should be redirected back to editor

#### What actually happened
I land on some thank you page with only a _View my new features_ button which is redirecting me to `/plans/my-plan/[S

[2021-02-12 12:42] simison commented on #42949
@klimeryk I don't think that's gonna change; something as technical as email verification in a signup to block them from progressing isn't gonna fly well for completion/conversion rates. I agree it would alleviate issues some customers face & lower n number of support requests, but it's a tradeoff we've so far done and deemed worth it.

I also agree improving catching typos with common domains.

I

[2021-02-12 13:24] devNigel opened #50034 "Blog Posts Block: Shows sharing buttons in live page of AT site but not in Simple sites."
Inconsistent behaviour of Blog Posts Block in AT site compared to a Simple site.

In AT, the sharing buttons are shown below each post. The only way to disable this behavior is by turning off sharing buttons to show for **Posts** in _Tools > Marketing > Sharing Buttons > Show like and sharing buttons on_ or in the sharing settings for each individual post.

This is not desirable.

### Steps to rep

[2021-02-12 13:44] rosepajaroja commented on #49927
Hello @cpapazoglou, yes I can access the WooCommerce Setup Wizard.

The issue happens if you upgrade to eCommerce plan. It prompts to create your store upon successful checkout. That button directed me to Crowdsignal instead of the WooCommerce Setup Wizard.

[2021-02-12 13:45] rosepajaroja commented on #49925
Hello @cpapazoglou, yes I can access the WooCommerce Setup Wizard.

The issue happens if you upgrade to eCommerce plan. It prompts to create your store upon successful checkout. That button directed me to Crowdsignal instead of the WooCommerce Setup Wizard.

[2021-02-12 14:52] tjcafferkey opened #50037 "Nav Unification: Show modal for existing users only"
**What**

We need to show the nav unification announcement modal for existing users only, not new users.

**Why**

New users will not be aware of any other experience so wont have any context with regards to the announcement of the navigation experience.

**Acceptance criteria**

* Should a new user sign up to WordPress.com and land in Calypso for the first time since the nav unification. They wil

[2021-02-12 14:57] tjcafferkey opened #50038 "Nav Unification: Announcement modal assets updates"
**What**

Update the announcement modal images for different environments

**Why**

As per p1HpG7-bcl-p2#comment-44591 comment we should not mention WP.com for Jetpack sites in the announcement modal.

[2021-02-12 15:25] sixhours opened #50039 "Nav Unification: Jetpack Backup menu item shows markup on Atomic sites"
### Steps to reproduce the behavior

On an Atomic site, open the Jetpack menu item when viewing a Calypso screen. Notice the `&amp;` and an errant `span` tag:

<img width="452" alt="Screen Shot 2021-02-12 at 10 13 17 AM" src="https://user-images.githubusercontent.com/2124984/107786572-0f694080-6d1c-11eb-878d-5ed257c43e82.png">

<img width="284" alt="Screen Shot 2021-02-12 at 10 24 05 AM" src="http

[2021-02-12 15:40] simison commented on #45881
Fix at D56983-code

[2021-02-12 16:16] katiebethbrown commented on #42056
Another report here: 27701717-hc

Youtube embed inside reusable block displays as a blank space with the youtube link below:

<img width="50%" alt="dJwPTp" src="https://user-images.githubusercontent.com/42279181/107792820-ce206300-6d12-11eb-8c55-455375e21ed7.png">

Changing the reusable block to regular blocks resolves as does placing the embed outside the reusable block content. I also shared the

[2021-02-12 16:18] vindl commented on #49994
False alarm. The required core fix that enables this hasn't reached Dotcom yet.

[2021-02-12 16:18] #49994 closed, assigned to david-szabo97

[2021-02-12 16:20] Copons commented on #49573
@jeyip Do you have an example of where it works?
In my tests (all TT1 default templates containing Post Content), the block always starts at default width, which means that I can see this issue across all relevant templates. 🤔

Either way, I think the current behaviour is working as expected: nested blocks can't be wider than parent blocks.
So if parent (e.g. Post Content) is on a default/narrow w

[2021-02-12 16:31] DavidRothstein commented on #40312
Just to be clear, you do that by going to https://wordpress.com/me/purchases/payment-methods (i.e. the main "Payment methods" tab visible at the top of https://wordpress.com/me/purchases) and then click "Add payment method" from there.  Perhaps this needs to be documented better at https://wordpress.com/support/payment.

The main issues are that it isn't very discoverable, and also, if users **do*

[2021-02-12 16:37] sirbrillig commented on #40312
Yes, and it also works via the "Add payment method" button at the site-level purchases page at  https://wordpress.com/purchases/payment-methods/example.com

[2021-02-12 16:42] DavidRothstein commented on #38453
I think we fixed a lot of this last year -- although it's not universal.  If two subscriptions are both renewing soon, if you go to renew one you typically get prompted to add the other to the shopping cart at the same time (see https://github.com/Automattic/wp-calypso/pull/42076 and https://github.com/Automattic/wp-calypso/pull/42240 for screenshots).

It's also worth noting that people whose pla

[2021-02-12 16:43] jeyip commented on #49573
In my tests (all TT1 default templates containing Post Content), the block always starts at default width, which means that I can see this issue across all relevant templates. 🤔

Interesting! @Copons Let me double check 🤔

[2021-02-12 17:08] getdave commented on #50039
@sixhours Thanks for reporting.

@mmtr I noticed two things that could be related to the sanitization we've implemented recently.

1. The `url` is an empty string for a number of these menu items. They don't go anywhere.
2. The `&` is being escaped as `&amp;`.
3.
<img width="237" alt="Screen Shot 2021-02-12 at 17 08 09" src="https://user-images.githubusercontent.com/444434/107799103-e913c700-6d54-

[2021-02-12 17:11] jeyip commented on #49573
@Copons I'm testing it locally and in production with fresh instances.

I checked the `single` template and the post content placeholder defaults to full width.

<img width="1088" alt="Screen Shot 2021-02-12 at 9 00 04 AM" src="https://user-images.githubusercontent.com/5414230/107799042-c90ee400-6d11-11eb-9fe7-462d1d780580.png">

I am noticing, however, that the `page-home` post-content **placehol

[2021-02-12 17:17] sirbrillig opened #50047 "Billing: Add checkbox (pre-selected) to "assign this payment method to all of my purchases""
Now that all the "Add payment method" forms are using the new `PaymentMethodSelector` component (except for Woo Store, which is deprecated and will be removed at the end of the month), we can more easily update them all to add a checkbox which allows the user to decide if they want the new card to apply to all active subscriptions or no subscriptions.

Currently the form automatically applies the

[2021-02-12 17:17] zdenys opened #50048 "Domain Only Purchase: `Just buy a domain` flow results in message `Hooray! Your site will be ready shortly.`"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/domains/, select a domain and click Search
2. Select a domain
3. On the next screen select `Just buy a domain` ![](https://d.pr/i/zidhzK+)
_Link: https://d.pr/i/zidhzK_
4. See `Hooray! Your site will be ready shortly.`

#### What I expected to happen
See a different message since no site is created if one chooses `Just buy a domai

[2021-02-12 17:25] zdenys commented on #38847
I noticed the same while I was trying to map a test domain. It was confusing indeed.

[2021-02-12 17:32] zdenys opened #50049 "Checkout: For $0 purchases the message `Money back guarantee` makes no sense"
### Steps to reproduce the behavior

1. Add a mapped domain or subdomain at `WordPress.com > My Sites > Manage > Domains > Add a domain to this site` and proceed to checkout
2. At Checkout, look in the right-sidebar that reads `Money back guarantee` ![](https://d.pr/i/Lc6x75+)
_Link: https://d.pr/i/Lc6x75_

#### What I expected to happen
The message `Money back guarantee` should be removed
#### Wh

[2021-02-12 17:54] zdenys opened #50050 "Domains: Adding a domain/subdomain doesn't set it to Primary on Atomic sites"
### Steps to reproduce the behavior

1. Add a domain or subdomain on Atomic site and complete the checkout
2. Navigate to WordPress.com > My Sites > Manage > Domains

#### What I expected to happen
Registered or mapped domain/subdomain set as Primary after being added, just as it is the case on Simple sites
#### What actually happened
The newly added domain is not set as Primary (requiring an extr

[2021-02-12 18:03] rachelwinspear opened #50051 "Sitemap URL: Not showing with https:// from traffic settings"
### Steps to reproduce the behavior

1. From a Simple Site navigate to WordPress.com > My Sites > Tools > Marketing > Traffic > Sitemap
2. When a custom domain name is set as Primary, the URL shown is not secure

![Screenshot](https://d.pr/i/MsMN19+)
*If you are unable to see this image, please click [here](https://d.pr/i/MsMN19)*

#### What I expected to happen

I would expect the URL of the site

[2021-02-12 18:15] lakellie commented on #42056
This is a Gutenberg issue: https://github.com/WordPress/gutenberg/issues/14608

[2021-02-12 18:15] jeyip commented on #49573
In my tests (all TT1 default templates containing Post Content), the block always starts at default width, which means that I can see this issue across all relevant templates. 🤔

After more discussion and debugging with Jacopo, it turn out my testing environment was wonky! Post content blocks without the `align: full` attribute _do_ start at default widths, as expected.

This makes sense to me 👍

[2021-02-12 18:23] ianstewart opened #50053 "Horizon Site Editor: Enable theme switching for sites created in this flow."
As part of testing the site editor on Horizon we will (at some point) want to enable theme switching …

- between Block themes
- and from Block theme to Classic theme (and back again).

In order to do this we'll want to enable these themes for sites created in this flow. And sites created in this flow only. These themes are not yet ready to appear on simple sites for all users. :)

Here's what I t

[2021-02-12 18:30] zdenys opened #50054 "Receipt Email: Include proper instructions link when subdomain is mapped"
### Steps to reproduce the behavior

1. Map a subdomain to the site
2. Check `WordPress.com Receipt` email and click `Follow these instructions` link

#### What I expected to happen
See [Map a Subdomain](https://wordpress.com/support/domains/map-subdomain/) support page.
#### What actually happened
[Use a Domain You Already Own (Domain Mapping)](https://wordpress.com/support/domains/map-existing-d

[2021-02-12 18:49] kriskarkoski commented on #36274
3726375-zen

[2021-02-12 18:58] #49421 closed, assigned to sirbrillig

[2021-02-12 21:18] sirbrillig commented on #42345
Just to summarize some of this a little bit more since this issue has been around for a while and checkout has changed quite a bit since it started:

The original bug happened basically because the code in checkout that added products would refuse to add a Jetpack product to an Atomic site. Since that time, that code has been totally replaced and [the new code which adds products](https://github.c

[2021-02-12 21:53] villanovachile commented on #49007
Another #3726284-zen

[2021-02-12 22:23] kriskarkoski commented on #49238
I just ran into this on my Atomic site, but it sounds like it should be fixed is that right @mmtr?

I'm also a little confused on the approach discussed in https://href.li/?paYJgx-1lp-p2. Will Atomic users no longer be able to install a WordPress.org theme directly and instead need to visit WordPress.org, download the theme files, and then upload them?

[2021-02-12 22:50] jeyip commented on #49573
I'll close out this issue after we regenerate the tt1-blocks previews in the FSE gutenboarding horizon flow

[2021-02-12 23:12] obenland commented on #49238
https://github.com/Automattic/jetpack/pull/18780 added a link to the theme install screen so they can browse & install dotorg themes

[2021-02-12 23:15] Addison-Stavlo commented on #49317
While the above noted diff is merged, it seems we will also need D57032-code for that option to work as expected.

[2021-02-13 02:02] brookewp opened #50058 "Recipe shortcode adds empty paragraphs"
### Steps to reproduce the behavior

1. Add a shortcode block or classic block
2. Add recipe using [our shortcode](https://wordpress.com/support/recipes/), using enter to move to next line
3. See random spaces (caused by empty paragraph blocks)

#### What I expected to happen

The editor formatting would match the site's formatting

### Context

This seems to be related to the newest update of Gut

[2021-02-13 03:02] rosepajaroja opened #50059 "Nav Unification: Error Clicking "WooCommerce""
### Steps to reproduce the behavior

1. Click "WooCommerce".
2. See error "Cannot load woocommerce."

#### What I expected to happen

Load the WooCommerce dashboard

#### What actually happened
Error prompt: "Cannot load woocommerce."

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

Tested on two test sites (Business and eCommerce plans)

https://woowebinarte

[2021-02-13 03:08] fullofcaffeine opened #50060 "Gutenberg: v10.0.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/49534
Release notes: [v10.0.0](https://github.com/WordPress/gutenberg/releases/tag/v10.0.0), [v10.0.1](https://github.com/WordPress/gutenberg/releases/tag/v10.0.1), [v10.0.2](https://github.com/WordPress/gutenberg/releases/tag/v10.0.2)

### Process

- [x] Install and activate
  - [x] Copy & install v10.0.0-rc.1: D57096-code, D57097-

[2021-02-13 03:08] fullofcaffeine commented on #49534
This is done 🎉. Next one: https://github.com/Automattic/wp-calypso/issues/50060.

[2021-02-13 05:13] kaitohm commented on #49997
The user has confirmed, this happens on all their post emails sent out now.
The issue started about a month ago.

[2021-02-13 12:14] mattsherman commented on #49231
Closing this since Nav Unification will not launch until after Store is removed.

[2021-02-13 12:14] #49231 closed, assigned to ilyasfoo

[2021-02-13 17:52] vajrasar opened #50061 "Users: Improving wordings of the message in removing users"
### Steps to reproduce the behavior

1. Go to My Site > Manage > Users > Invite > Invite a user
2. Once a user accepts the invite, check if the user is added to the role as expected
4. Remove the same user
5. Check in Invite > Invited people list [here](https://wordpress.com/people/invites/)
6. You should see the user/email with Accepted status
7. Click on "Clear Invites" button

#### What I expec

[2021-02-13 23:12] vparkhere commented on #49729
Another user in #3711096-zd

The issue is intermittent, sometimes it shows up and sometimes it doesn't.  Here's a side by side video, both Firefox browsers, where it's working in one page but not the other. https://d.pr/v/JbdVLO

[2021-02-14 03:02] michaeldcain opened #50064 "Plans: update prices to add USD identifier to non-US geos"
We already include non-USD identifiers for supported currencies that use the $ as a currency symbol (i.e. "C$" for Canadian dollars), but we don't include a USD identifier when a user is in a location that uses the $ and we don't currently support their currency (i.e. Argentinian Pesos). When a user is outside of the US, we should add an indicator to the amount (i.e. "US$").

In #46205 and D52530-

[2021-02-14 03:06] michaeldcain commented on #46205
@sirbrillig: I couldn't find one (might've been closed as part of the backlog cleanup), so I opened a new one: #50064

Although I don't believe that this would cover the logged-out pricing tables from @marianearchimbaud's screenshot. As you said, this needs to be something on @Automattic/martech-decepticons radar. /cc @paulbonahora for help prioritizing that part.

[2021-02-14 05:27] joweber123 commented on #49788
Requested here - 27731652-hc

[2021-02-14 05:28] joweber123 commented on #49788
Requested here - 27358475-hc

[2021-02-14 06:12] joweber123 commented on #49788
Requested here - 3736900-zen

[2021-02-14 11:40] mattsherman commented on #49424
That sounds reasonable. Good call.

[2021-02-14 12:25] mattsherman opened #50065 "Nav Unification: Explore adding WooCommerce admin_menu fixes directly to wc-calypso-bridge as a temporary fix for Atomic sites"
Until Atomic sites are running WooCommerce 5.1 (not yet released), they will not have all the fixes in place to have an excellent Nav Unification experience.

Based on discussion in pbIJXs-Ee-p2#comment-1985, we should see if we can make the `admin_menu` changes from the following PRs directly in `wc-calypso-bridge` as well as a temporary measure to fix up Atomic site.

- https://github.com/woocom

[2021-02-14 14:44] nerdysandy commented on #43972
Ah, I didn't know about that bit. In that case, we can leave it open :)

[2021-02-14 18:27] NoHopeRadio commented on #38697
Just mentioning another case here: #3732408-zen

[2021-02-14 18:35] michaeldcain commented on #48894
Removing the link in #50066.

[2021-02-14 18:50] lymarsh commented on #49792
The issue was replicated by vparkhere: ZenDesk ticket# 3711096

[2021-02-14 23:16] ramonjd commented on #46299
Possibly related: https://github.com/Automattic/wp-calypso/issues/46993

[2021-02-14 23:16] ramonjd commented on #46993
Possible related: https://github.com/Automattic/wp-calypso/issues/46299

[2021-02-15 01:10] darcie commented on #35369
Thanks, @klimeryk! Glad to get an update on that.

[2021-02-15 01:14] ramonjd commented on #49836
<img width="591" alt="Screen Shot 2021-02-15 at 10 26 18 am" src="https://user-images.githubusercontent.com/6458278/107894153-c9fa7c80-6f82-11eb-9e5c-2639c48c4d19.png">

So I think the navigation container component [grabs the link and copy from a global window object window.wcNavigation](https://github.com/woocommerce/woocommerce-admin/blob/70ceb958cc9d4d9787ee4be5d5536670b9637045/client/navigati

[2021-02-15 02:37] adelineyaw commented on #46802
Another case to report via 27747899-hc

[2021-02-15 06:05] andrewserong opened #50069 "Premium Patterns feature updates settings too frequently"
The premium block patterns feature that lives in the Editing Toolkit plugin ([here](https://github.com/Automattic/wp-calypso/blob/7cbf7287b6d8bb270f0acff6040b08dcb42d61c5/apps/editing-toolkit/editing-toolkit-plugin/block-patterns/src/premium-block-patterns.tsx#L40)) currently calls to update the block editor settings much too frequently. This causes a potential performance issue, found while testi

[2021-02-15 06:38] autumnfjeld commented on #49863
FYI: 120-gh-Automattic/view-design#issuecomment-775764995 in case that impacts work being done with this category re-order (or any other part of Page Layout Picker project)

[2021-02-15 07:39] razvanpapadopol commented on #46943
All the supported users flows are combinations of the items groupped in 3 columns below.

Flow start | User possible selection | Checkout options
-- | -- | --
**plan**: Free Plan \| purchased paid plan \| paid plan in cart | plan and domain | abandon checkout
**domain**: sub-domain \| purchased custom domain \| custom domain in cart | domain | pay with cc or credits without redirect to external pa

[2021-02-15 07:41] becdetat commented on #49428
@moon0326 I've done your PR again (ok I didn't see it until I was mostly done) - I also made sure the notice on the store pages is definitely the store removed copy as I think the logic was a little off

[2021-02-15 07:51] paulbonahora commented on #46205
@southp, looping you in to add this to the pipeline. Not sure who'd be best to work on this feature.

[2021-02-15 08:37] #49175 closed, assigned to frontdevde

[2021-02-15 09:00] reginabally opened #50073 "Stats: Inconsistent Email Follower List"
It was reported on 3719037-zd-woothemes that two email followers suddenly show up on February 7th despite that it shows on the stats that they’ve been following them for 2 months. This is the second time they noticed this.

The user claimed that they checked the follower list every other day on both Calypso and the WordPress app.

More details in Slack: p1612851270002700-slack-C0334JNQD

#### What

[2021-02-15 09:59] Robertght opened #50076 "Nav unification: "Backup & Scan" broken menu item"
There seems to be a markup issue after a site goes AT for the Backup & Scan menu item.

### Steps to reproduce the behavior

1. Go to your WordPress dashboard and under Jetapck>Backup click on "Activate JetpackBackup now".
2. After it's done, I'm seeing this issue:
3.
![image](https://user-images.githubusercontent.com/6737345/107931156-915ba280-6f84-11eb-99c7-7d1d0a4d00d2.png)

#### What I expecte

[2021-02-15 11:17] Aurorum commented on #50076
PR for this issue in #50079. :)

[2021-02-15 11:21] rickmgithub commented on #45881
Another case here 25945757-hc

[2021-02-15 12:08] cpapazoglou opened #50080 "[EPIC] Nav Unification launch/pre-launch tasks"
In order that we launch nav-unification to the first segment of users (5%) [pbAPfg-103-p2] we will need to edit the following so that they include **all new users and 5% of existing users** :

- [x] ~Check for final decision on whether Jetpack connected sites are in/out of v1 launch - _disable_ across envs if being ommitted~. **Update** - the decision was made to omit.
- [x] Disable Nav Unificatio

[2021-02-15 12:14] Agepeuve commented on #47188
Another report at 3741306-zen.

[2021-02-15 12:21] mmtr commented on #50039
This will be fixed with the next Jetpack 9.4.1 release, so I'm keeping this issue open until the release is out.

[2021-02-15 12:21] mmtr commented on #49978
This will be fixed with the next Jetpack 9.4.1 release, so I'm keeping this issue open until the release is out.

[2021-02-15 12:30] mmtr commented on #49238
They will can. The "Appearance > Themes" menu will link to the WordPress.com themes page that includes an Upload button.

As @obenland noted, Automattic/jetpack#18780 just adds a separate link so users can browse the WordPress.org themes.

[2021-02-15 12:53] mmtr commented on #50076
Closing this as a duplicate of https://github.com/Automattic/wp-calypso/issues/50039

[2021-02-15 12:53] #50076 closed, assigned to nobody

[2021-02-15 12:55] mmtr commented on #50076
This will still be needed though, even with #50039 fixed by https://github.com/Automattic/jetpack/pull/18826, since we may have other menu items using HTML entities.

[2021-02-15 13:18] klimeryk commented on #50049
cc @Automattic/shilling - this might be already on your radar as you were looking into the $0 domain mapping issue recently 🙇‍♂️

[2021-02-15 13:40] simison commented on #43002
Convo from Slack p1611574573134400-slack-dotcom-view:

- create a punch-list of non-latin languages to provide better font-offerings for
- Find a designer experienced in that language to chime in
- Do a review of those offerings
- Ship updated offerings

More convo in the view-design issue linked above.

[2021-02-15 13:42] StefanNieuwenhuis opened #50083 "Focused Launch: It's still possible to switch options after clicking the Launch Button"
When a user selects a paid domain or plan and clicks the Launch Button in the Summary View, it is still possible to switch between options while being redirected to checkout. This doesn't affect the checkout, though but will confuse users.

#### Acceptance Criteria

* [ ] All options (e.g. domain suggestions, plan items) are disabled after the Launch Button is clicked.
* [ ] The close button (X) i

[2021-02-15 13:50] simison commented on #43904
@scruffian Hi! I didn't notice your question earlier, thanks for patience.

Did you mean that .com teams would do the migration? I think it goes a bit more into theme-integration aspects of work so I'd expect it from you all.

[2021-02-15 13:58] vindl opened #50085 "FSE: hide font selection step from onboarding flow"
Let's hide the font selection step from onboarding flow at least the global styles are ready.

<img width="1510" alt="Screenshot 2021-02-15 at 14 57 33" src="https://user-images.githubusercontent.com/1182160/107955499-27e88d80-6f9e-11eb-8f04-ab10123f2a4b.png">

See p1613397309009100-slack-C01DF571R5Y for context.

[2021-02-15 14:05] simison opened #50086 "New onboarding: remove `/gutenboarding` dev flow rerouter"
See:

https://github.com/Automattic/wp-calypso/blob/f99d4c12226fa46bc23e1a8389390e726f3489a6/client/landing/gutenboarding/index.tsx#L51-L63

I don't think this is needed anymore and can be removed.

[2021-02-15 14:15] mikeshelton1503 commented on #47188
No specific idea here but you can try using Litmus It's a email testing platform that will show the email various email clients. We have still have an account I believe.

On a quick search this thread might be a similar issue: https://litmus.com/community/discussions/5220-image-stretched-vertically-responsive-email-question

[2021-02-15 14:25] kathrynwp opened #50087 "Coming Soon: Wrong Background Colour"
### Steps to reproduce the behavior

Visit https://riverwildphotography.wpcomstaging.com/

Note incorrect/illegible background colour

#### What I expected to happen

Background should be blue

#### What actually happened

Background was almost white

### Context

Discovered during a Quick Start session on WP.com

#### Level of impact (Does it block purchases? Does it affect more than just one sit

[2021-02-15 14:27] pbking commented on #43904
The portion of the theme that needs to change is (I believe) covered by the PR noted above.  It and the inversion of existing header/body selections for Redhill should be brought in together, but I'm afraid I have no idea how the inversion portion would be done.  @simison you mentioned above that you have some scripts to do that part already.  Will you be able to help us out with that?

[2021-02-15 14:31] simison commented on #43904
Gotcha! Yeah so I just meant that there are heaps of scripts for this kind of tasks on wpcom at `bin/one-time/*`.

[2021-02-15 14:54] StefanNieuwenhuis opened #50089 "Focused Launch/Gutenboarding: Remove temporary feature flags"
For development purposes, we've added several feature flags. Now that experiments are in place, they're not necessary anymore and we have to remove them.

#### Acceptance Criteria

Remove the feature flags:
* [x] `gutenboarding/new-launch-mobile`
* [x] `gutenboarding/feature-picker`
* [x] `create/persistent-launch-button`
* [x] `create/focused-launch-flow`
* [x] remove code related to `isFocusedLa

[2021-02-15 15:56] #36738 closed

[2021-02-15 15:58] scruffian commented on #43904
Ok I've added it to the board. @jeffikus I'll let you prioritize this one :)

[2021-02-15 15:59] JoshuaGoode commented on #40440
I was not able to reproduce this.  It's been some time since the initial report and it appears that how the background gets added, alongside the position styling, has changed a bit.

Was about to close but checking with @geriux to see if I failed to reproduce this properly.

[2021-02-15 16:00] michaeldcain commented on #42345
Asked for a list of Atomic-incompatible Jetpack products here: p1613403834478800-slack-CQXNTE9K9

[2021-02-15 16:06] kriskarkoski opened #50091 "Payments Block: Unable to insert new block"
### Steps to reproduce the behavior

1. Go to worpress.com/page
2. Insert a Payments block.
3. If Stripe is connected you will be unable to modify the price or add a plan. If Stripe is not connected it will simply add a Button to the page.

Note: Plans can still be added in Calypso, but not in the Editor.

#### What I expected to happen

To be able to modify and add a Payments block.

#### What ac

[2021-02-15 16:06] JoshuaGoode commented on #49796
I could not reproduce. Rather than closing just yet, can you let me know if you can still reproduce this @ahmadbaig1?

Noting that, while I couldn't reproduce, I did encounter issues creating a plan via the editor in general.  Issues creating a payment plan/subscription was reported today by @druesome and we discussed things internally at p1613396561201300-slack-C0160HSMDQV

That other issue has b

[2021-02-15 16:09] michaeldcain commented on #42345
I updated the issue title and description to reflect the current state.

[2021-02-15 16:09] JoshuaGoode commented on #50091
To recap, users cannot add new payment plans via the editor.  Initially discussed internally at p1613396561201300-slack-C0160HSMDQV and a message was shared with View via p1613404129376300-slack-CS0SC36SX

Video demonstration: https://d.pr/v/oYApNw

Screenshots of console errors we're seeing.

<img width="1561" alt="console_2" src="https://user-images.githubusercontent.com/4887830/107969736-27d895

[2021-02-15 16:13] geriux commented on #40440
Hey there, I believe this https://github.com/WordPress/gutenberg/pull/28501 solved that issue. So we can close this. Thanks!

[2021-02-15 16:13] #40440 closed

[2021-02-15 16:15] JoshuaGoode commented on #40333
This issue still exists.  It appears we append a visual queue that there are child pages; however, it does not order things properly and does still require scrolling all the way down to get the proper order + indenting.

![Screen Shot on 2021-02-15 at 11:14:10](https://user-images.githubusercontent.com/4887830/107970454-2065bc00-6f7f-11eb-9e67-afa07a51034d.png)

[2021-02-15 16:27] JoshuaGoode commented on #17841
Confirming this is still a valid enhancement request.

Perhaps something that could be implemented into our Payments blocks instead?

[2021-02-15 16:31] synora commented on #45267
Yes, this does appear to be expected behavior. I've added a feature request tag to this issue.

[2021-02-15 16:36] cathymcbride commented on #23002
Since this was already closed once, and there is no information as to why it was re-opened, I'm going to re-close. If a future visitor needs to re-open, feel free! However if yo do, please leave a little note as to why.

[2021-02-15 16:36] #23002 closed

[2021-02-15 16:51] #40350 closed

[2021-02-15 16:52] JoshuaGoode commented on #39263
Triaging this one.

I was able to reproduce this by adding the S option within the date format settings on `/wp-admin/options-general.php`

I don't see an option to adjust the strings on the block itself.  Did you edit the date format on the site settings or did we have an option to set up the string on the block @Robertght ?

This appears to be a duplicate of an issue open in the Jetpack repo at

[2021-02-15 16:56] synora commented on #47033
@pablinos I'm currently unable to replicate this so I'll close the issue.

[2021-02-15 16:56] #47033 closed

[2021-02-15 17:05] synora commented on #47618
Triage label added. The issue is still a valid enhancement request.

[2021-02-15 17:11] synora commented on #49422
Related: https://github.com/WordPress/gutenberg/issues/28888.

[2021-02-15 17:12] JoshuaGoode commented on #39074
Could not reproduce in Chrome or Safari.

Tested adjusting the Interface language, `Web address`, primary site, and dashboard color scheme.

Testing each, individually, led to a notice that I had unsaved changes.

![Screen Shot on 2021-02-15 at 12:08:45](https://user-images.githubusercontent.com/4887830/107975739-90c40b80-6f86-11eb-8606-27329ac865dc.png)

Closing for now.  It appears this may have

[2021-02-15 17:14] #39074 closed

[2021-02-15 17:20] JoshuaGoode commented on #33148
Could not reproduce across two Atomic sites.

File uploaded as expected via Calypso > Media and WP-Admin > Media.

Appears this was fixed at some point but labeling that I could not reproduce.

[2021-02-15 17:24] ivan-ottinger commented on #48316
Another report came today: 27744370-hc

The symptoms looked exactly the same as in one of the comments above: https://github.com/Automattic/wp-calypso/issues/48316#issuecomment-768867543

Switching the site Private and then Public resolved the issue for the user.

[2021-02-15 17:28] synora commented on #46297
The image from the Cover Block appears but pushes the text to the right now.

![Annotation on 2021-02-15 at 12-26-38](https://user-images.githubusercontent.com/10015451/107977527-42fcd280-6f89-11eb-87c3-9182ab28fcbd.png)

Link to image/gif:https://d.pr/i/ffeArW

[2021-02-15 17:35] JoshuaGoode commented on #49871
Stumbled upon this during triaging.

Appears the fix has been released and merged via Editing Toolkit 2.19 - #49961

Tested and could not reproduce the issue.

Labeling this one as `[Closed] Fixed ` and closing

[2021-02-15 17:35] #49871 closed, assigned to nobody

[2021-02-15 17:37] JoshuaGoode commented on #49870
Stumbled upon this during triaging.

Appears the fix has been released and merged via Editing Toolkit 2.19 - #49961

Tested and could not reproduce the issue.

Labeling this one as `[Closed] Fixed ` and closing

[2021-02-15 17:37] #49870 closed, assigned to nobody

[2021-02-15 17:53] Copons commented on #39263
@JoshuaGoode blurgh, I completely forgot about this... 🤦

Looking at https://github.com/Automattic/jetpack/issues/11251, they seem to be the same issue, yes.

[2021-02-15 17:54] synora commented on #49867
I came across this issue while triaging Cover Block issues and I can replicate your report.

What's strange is that things work as expected in the editor:
<img width="1779" alt="Screen Shot on 2021-02-15 at 12-52-47" src="https://user-images.githubusercontent.com/10015451/107979557-c0761200-6f8c-11eb-9b47-09ce766299de.png">

But things get weird when the page is published:
<img width="1419" alt="S

[2021-02-15 17:59] stacimc commented on #50091
As a workaround: I've tested and I am able to add a new plan through the `wordpress.com/earn/payment-plans/` page and then select that from the dropdown menu in the Payments block. I am only getting the error when trying to create a brand new plan through the block.

[2021-02-15 18:17] JoshuaGoode commented on #46816
Reproduced across Simple and Atomic. To reproduce on Atomic, or self-hosted, the`full-site-editing` plugin **must be active.**

It appears that this doesn't happen on all themes. Some themes, like Twenty Twenty-One, seem to be able to load in their font styling immediately upon loading the editor.  Others, like Spearhead do not.

When it does occur, it's when the editor first loads without theme-s

[2021-02-15 18:20] cathymcbride commented on #42802
Looks like this is done. Closing.

[2021-02-15 18:20] #42802 closed

[2021-02-15 18:26] synora commented on #47247
@jeyip There have been several more reports of this issue. It is possible to reconsider the priority of this bug?

[2021-02-15 18:31] jjchrisdiehl opened #50095 "Start/Domains shows blank page when 'test' keyword is entered"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/start/domains
2. Type in the word 'test' into the search bar
3. Screen will attempt to search for domains with this keyword
4. Page will turn blank

#### What I expected to happen
I expected available domains with the keyword 'test' to appear

#### What actually happened
The page turned white, refreshing the page shows the test ke

[2021-02-15 18:33] ciampo commented on #49871
Thank you @JoshuaGoode !

[2021-02-15 18:36] ciampo commented on #49635
Closing as the related changes have been been released with ETK 2.18 and ETK 2.19

[2021-02-15 18:36] #49635 closed, assigned to StefanNieuwenhuis

[2021-02-15 18:37] jeyip commented on #47247
Thanks for the ping @synora!

@cathymcbride thoughts on this relative to other maintenance work currently on the board? This seems like a persistent, ugly bug, and there have been consistent reports month-to-month. If I remember correctly, there were possible workarounds, but they require intervention from Happiness Engineers or imposing arbitrary limitations what kind of content the user adds.

[2021-02-15 18:37] synora commented on #45208
I'm still able to replicate this issue:
<img width="390" alt="Screen Shot on 2021-02-15 at 13-36-44" src="https://user-images.githubusercontent.com/10015451/107982939-f3230900-6f92-11eb-8e21-dc0881358cf9.png">

[2021-02-15 18:38] daledupreez commented on #50095
This was introduced by #50001. Working on a fix now.

[2021-02-15 18:45] JoshuaGoode commented on #46756
Confirmed this is still present.

Would Jetpack be a better repo for this?

Leaving things open here for now.

[2021-02-15 18:53] synora commented on #40792
Related https://github.com/WordPress/gutenberg/issues/27720.
Also noting that I can still replicate this issue.

@cathymcbride would it be ideal to move this issue to the Gutenberg repo?

[2021-02-15 18:57] #50095 closed, assigned to daledupreez

[2021-02-15 19:10] JoshuaGoode commented on #46700
Tested on Simple but could not reproduce. Added 13 posts and all display in the editor and when viewing the page on the front end.

Video:

https://user-images.githubusercontent.com/4887830/107985010-3da68480-6f97-11eb-985a-1105932b68af.mov

---

This appears to have been resolved by a change in https://github.com/Automattic/newspack-blocks but could not identify associated PR or closed issues the

[2021-02-15 19:18] #46700 closed

[2021-02-15 19:34] Addison-Stavlo commented on #49317
Required annotations and tags have been added for this theme to works as expected with both modal options.  Closing this issue.

[2021-02-15 19:34] #49317 closed, assigned to Addison-Stavlo

[2021-02-15 19:51] Addison-Stavlo commented on #45875
I think this is safe to close now since the design picker has been redesigned and is being reimplemented.  As always, feel free to reopen if closing doesn't make sense.

[2021-02-15 19:51] #45875 closed

[2021-02-15 20:13] ramonjd commented on #48316
Thanks @ivan-ottinger I've been looking at this. I suspect that it's because we're erroneously [switching off Coming Soon mode](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/coming-soon/coming-soon.php#L108) due to a race condition.

I have no evidence for this yet as it's not reproducible on a sandbox and only _sometimes_ happens on prod.

I'll ke

[2021-02-15 20:14] michaeldcain commented on #42345
Here's a list of Atomic-/Simple-incompatible products:

[code]

[2021-02-15 20:16] Addison-Stavlo commented on #44042
Closing this issue as it seems to have been fixed in Gutenberg.  I am no longer able to repro and tabbing through patterns works as expected regardless of their content.

[2021-02-15 20:16] #44042 closed

[2021-02-15 20:20] klimeryk commented on #37277
For reference, this is what we currently show:

<img width="744" alt="Screenshot 2021-02-15 at 20 19 57" src="https://user-images.githubusercontent.com/3392497/107989931-3bf6b400-6fcb-11eb-9ff5-69f52afa9802.png">

[2021-02-15 20:30] klimeryk commented on #50095
Thanks for the quickfix! I should have caught that in my patch 🤦

[2021-02-15 20:48] sirbrillig commented on #42345
Should be fixed by D57102-code

[2021-02-15 20:56] Addison-Stavlo commented on #47695
Closing as the fix seems to be live on dotcom.

![Screen Shot 2021-02-15 at 3 55 53 PM](https://user-images.githubusercontent.com/28742426/107992300-66824600-6fa6-11eb-969f-fe1ccefc80ad.png)

[2021-02-15 20:56] #47695 closed, assigned to david-szabo97

[2021-02-15 21:27] cathymcbride opened #50102 "Help: YouTube video embeds broken"
### Steps to reproduce the behavior
#### Main Themes page
1. From https://wordpress.com/themes/ (YOURSITEHERE)
2. Click on the blue help (?) button in the bottom right hand corner of the page
3. Click 'Change your website theme on WordPress.com" > Click "Watch a video"

#### What I expected to happen
I would watch a video on how to change my theme

#### What actually happened
Sad video face - no v

[2021-02-15 21:31] #41204 closed

[2021-02-15 22:58] JoshuaGoode commented on #48980
Reproduced.

On the two Atomic test sites I used, the default user profile Language setting is set to `Site Default` instead of `English`.

This will be problematic with Nav Unification as accessing the profile settings page will be a bit more difficult unless the user has enabled the option to use WP Admin equivalents when possible or we share the direct link to the page.

Outside of this setting

[2021-02-15 22:59] JoshuaGoode commented on #46077
Adding that Language settings are also not syncing to the connected user profile.  This has its own report at https://github.com/Automattic/wp-calypso/issues/48980

[2021-02-15 23:14] mrfoxtalbot opened #50104 "Add option to deactivate Jetpack Search"
This is related primarily to the fact that private posts are not currently listed in Jetpack search results, as reported here https://github.com/Automattic/jetpack/issues/18834

Aside from https://github.com/Automattic/jetpack/issues/18834 which I consider a bug, I would like to see an option to deactivate Jetpack Search from a given site without the need to remove the subscription

Calypso should

[2021-02-15 23:25] JoshuaGoode commented on #43988
To clarify this only appears on Atomic sites and only when the older Coming Soon v1 or Private is enabled.

**Resolving issues**
If you encounter this on an Atomic site using Coming Soon mode, this means they are using v1 and they can switch to v2 by toggling to Private or Public and then back to Coming Soon.  More on Coming Soon v2, how to check the version in use, and switching is at p7DVsv-9Uo-

[2021-02-15 23:35] JoshuaGoode commented on #43988
With my last comment in mind, I suppose we could leave this open as an enhancement request since it's currently intentional behavior.  Or, mark as `[Closed] By Design`,  cc @Addison-Stavlo

[2021-02-15 23:45] ccwalburn opened #50105 "[Enhancement] Blog Posts Block: Add option to display image below post title"
Some users would like for there to be an option in the Blog Posts block to display the featured image below the post title instead of above it.

3742110-zen

[2021-02-16 00:03] ccwalburn commented on #37088
Hi @apeatling! I was wondering if it would be possible to include a checkbox in the Editor Sidebar for pages and posts to hide the title while we wait for the core work you mentioned above? Hiding page and post titles is one of the most common CSS requests that we get and would be a great feature!

[2021-02-16 01:09] lsl commented on #43002
Punch-list here: 208-gh-Automattic/view-design#issuecomment-768097341, `ko, ja, zh-tw, zh-cn, ar, he, ru` (I think  I got them all)

[2021-02-16 01:22] bluefuton commented on #792
This should have been fixed by #40396 but that will need to be confirmed (cc @worldomonation)

[2021-02-16 02:25] devNigel commented on #49255
Another report: 27772108-hc

I suggested a workaround by adding an empty space after "Subscribe"

[2021-02-16 02:41] #49534 closed, assigned to nobody

[2021-02-16 04:28] carinapilar commented on #49821
Ah, yes, it seems to be the case! Thanks, @mmtr! And thanks, @getdave for the FAQ. 🙂

[2021-02-16 04:49] happychait commented on #49788
I came across two instances of this bug last week:
27358475-hc
26827977-hc

[2021-02-16 05:47] andrewserong commented on #50069
Exploring one potential approach for flagging patterns in the inserter in https://github.com/WordPress/gutenberg/pull/29022

[2021-02-16 07:11] kosiew opened #50112 "Add media from wp-admin New Post results in blank screen, duplicate media uploaded, Calypso works as expected"
### Steps to reproduce the behavior

1) at wp-admin new post, create picture block
2) add a photo by choosing "select" to open the library media selection window.
3) instead of selecting a media item, drag and drop a photo from the PC to the open media library selection window.

At this point;

4) the media library selection window goes blank.
5) closing the media library selection window reveals

[2021-02-16 07:40] #50091 closed, assigned to stacimc

[2021-02-16 08:21] Agepeuve commented on #41272
Reported in 27779051-HC

[2021-02-16 08:30] sirreal commented on #13985
Still an issue as far as I know.

[2021-02-16 08:57] tyxla commented on #14489
This could still be useful. Let's leave it open.

[2021-02-16 08:58] tyxla commented on #5086
This would still be useful to have and a good way to reduce Jetpack signup/onboarding churn rate.

cc @Automattic/jetpack-voyager in case they're interested to give it a spin.

[2021-02-16 09:04] tyxla commented on #13663
I believe this can be closed because we're no longer using this interface for the regular flows: cc @Automattic/jetpack-voyager for confirmation

[2021-02-16 09:30] #24162 closed

[2021-02-16 09:53] simison opened #50119 "New onboarding: show "are you sure you wanna leave?" prompt"
When closing `/new` onboarding flow in browser, we could show the standard "are you sure?" browser prompt:

<img width="601" alt="Screenshot 2021-02-16 at 11 51 34" src="https://user-images.githubusercontent.com/87168/108046570-6db05f00-704d-11eb-995b-86e4cf1e7bcd.png">

Not sure if we can affect the copy here as it might come from the browser?

Example from Gutenberg:

https://github.com/WordPres

[2021-02-16 10:03] #48405 closed, assigned to tyxla

[2021-02-16 10:13] folletto commented on #11036
It seems this was done, here's an example from Rebalance:
<img width="587" alt="Screenshot 2021-02-16 at 10 13 06" src="https://user-images.githubusercontent.com/4389/108048978-9c273d80-703f-11eb-98d0-2d2bcbdc5c40.png">

[2021-02-16 10:13] #11036 closed

[2021-02-16 10:16] folletto commented on #10347
I still think that the uncertainty around follower count and who's *really* following is one of the major issues in our follow system — and on P2 it's even more problematic as people rely on notifications and it's important to know who is actually listening in the team.

However, this issue is around since 2016, and while I think this is quite a flaw, I also recognize there's nobody working on it

[2021-02-16 10:16] #10347 closed

[2021-02-16 10:18] folletto commented on #7531
Still a major experience problem, but given the lack of a dedicated team right now, the upcoming FSE with new themes, I think the next time the themes page will have developers on it will be due to a rework/redesign of the system, thus closing.

[2021-02-16 10:18] #7531 closed

[2021-02-16 10:25] philnick206 opened #50120 "CoBlocks Masonry Block: Link to Attachment Pages not working, no link added"
### Steps to reproduce the behavior

1. Add a Masonry block to a page with a few images
2. Choose Attachment Page under Link Settings > Link to
3. Preview/publish page

#### What I expected to happen

Images will be clickable and load attachment page when clicked

#### What actually happened

Images are not clickable/no link is added

#### Browser / OS version

Firefox 85 on macOS (Big Sur)

####

[2021-02-16 11:19] WunderBart commented on #49673
Upstream fix included in v9.9.2, already live on Simple and Atomic sites.

[2021-02-16 11:19] #49673 closed, assigned to nobody

[2021-02-16 11:24] mmtr commented on #49979
This has been fixed by https://github.com/Automattic/jetpack/pull/18586, which will be released today with Jetpack 9.4.1.

[2021-02-16 11:25] tjcafferkey commented on #50037
As per @cpapazoglou idea we should enable this for all users with `getCurrentUserDate() > [1 day after launch]`.

This will also be carried out in conjunction with https://github.com/Automattic/wp-calypso/issues/50080 closer to launch date.

Context p1613470540012100-slack-CJS75TX3R

[2021-02-16 11:36] razvanpapadopol opened #50122 "Focused Launch: update flow for eCommerce plan and wp-admin"
**What**
We need to support some specific scenarios after checkout:
- after domain registration we should show thank you page with option to set the domain as primary
- after eCommerce purchase we should let the atomic transfer begin so the user can set up their store

This will fix [the exceptions](https://github.com/Automattic/wp-calypso/issues/42545#issuecomment-795648717) mentioned when closin

[2021-02-16 11:37] mmtr commented on #50059
I think this has been already fixed by https://github.com/woocommerce/woocommerce/pull/29088 and https://github.com/woocommerce/woocommerce-admin/pull/6310, however they won't be released until WooCommerce 5.1.

In https://github.com/Automattic/wp-calypso/issues/50065 @mattsherman is investigating how can we have these fixes in place before the next WooCommerce release.

[2021-02-16 11:44] mmtr commented on #49996
Thanks for reporting this issue, @aleone89. This is a variant of https://github.com/Automattic/wp-calypso/issues/49455, so I'm closing this as a duplicate.

In that issue, we're considering to default to WP Admin pages for super admins who are not members of the current site, since WP Admin pages are accessible by super admins while Calypso pages are restricted to site members only.

[2021-02-16 11:44] #49996 closed, assigned to nobody

[2021-02-16 12:03] #49698 closed, assigned to StefanNieuwenhuis

[2021-02-16 12:41] rcanepa commented on #13663
You're right @tyxla. That screen is no longer used and I haven't seen an error like that in the current interface.

[2021-02-16 12:48] tyxla commented on #13663
Thanks for confirming @rcanepa! Closing then.

[2021-02-16 12:48] #13663 closed

[2021-02-16 13:20] tjcafferkey commented on #49191
The work I've done in the associated PR in it's current state will add the following sub-menu items for all Atomic sites using Calypso URLs:
* Advanced General
* Advanced Writing

The issue we have discovered is that in the plugin mentioned in this issue (and likely many others) is that the additional settings fields get added on `admin_init`. This is an issue for a few reasons:

* `admin_init` ru

[2021-02-16 13:35] StefanNieuwenhuis commented on #48108
I believe this is fixed in #50115 and can be closed.

[2021-02-16 13:51] #48108 closed, assigned to nobody

[2021-02-16 14:01] mmtr commented on #49455
It shouldn't cause any additional trouble since AFAIK the super admin role is not used for getting the same experience as a user (that's what support sessions are for), but for performing quick actions on behalf of the user without going through the add-myself-to-the-site process.

For that reason, I think we should simply disable the nav unification for super admins that are not members of the cu

[2021-02-16 14:07] #49793 closed, assigned to tjcafferkey

[2021-02-16 14:11] SoftGitHWeav opened #50126 "Error: Cropping Image in Customize Header for 1080 width images"
### Steps to reproduce the behavior

1.  Select any site, select Themes > Customize > Header Image.
2.  Select Add New Image.
3.  Select an image that is 1080 wide and any height.
4.  Click Select and Crop button.
5.  Click Crop Image.

#### What I expected to happen
_Expected:_ Not to receive an error. It should instead select the image and return to the Customizer with updated image on preview.

[2021-02-16 14:34] mmtr commented on #49455
Fix ready for review: D57136-code

[2021-02-16 14:41] monsieur-z commented on #5086
I'll add it to our maintenance board so that we keep track of it. I doubt it will be addressed in the short or medium term, though.

[2021-02-16 14:50] sarayourfriend opened #50128 "Re-enable mailosaur affected e2e tests"
## Overview

We've disabled two E2E in this PR https://github.com/Automattic/wp-calypso/pull/50129. We need to re-enable them as soon as possible once the issues with mailosaur limits being hit is resolved.

## Context

I'm assigning this to @cathymcbride becuase you've been in touch with Mailosaur recently. Feel free to reassign to whomever should do the actual re-enabling if it's not you (whethe

[2021-02-16 14:59] sarayourfriend opened #50130 "Re-enable skipped themes e2e tests"
## Overview

The themes e2e tests disabled in this PR (https://github.com/Automattic/wp-calypso/pull/50131) have been failing for a long time. This issue is to fix the tests and re-enable them.

[2021-02-16 15:02] sarayourfriend commented on #50130
@bsessions85 @cathymcbride To whom should this ticket be assigned?

[2021-02-16 15:03] ciampo commented on #46943
Manual (and potentially e2e) testing, derived from this [spreadsheet](https://docs.google.com/spreadsheets/d/1IxR78eKN-L0P-pJDz4VhmXdbNfCiXdkl5_1wM6L_27g/edit#gid=0):

## Setup

- All tests need to be run on an _unlaunched_ site created via `/start`
- Make sure to assign your WordPress.com user to the _treatment_ variant of the A/B test
- Once the above is done, in order to open the Focused Launch

[2021-02-16 15:09] tbradsha opened #50132 "Followers: add search and CSV export option"
**What**
Currently we limit the number of non-email followers shown in Calypso to 1000 (10 pages of 100).

**Why**
There's no way to see beyond that without the API, and sometimes users have more than 1000 followers.

**How**
The email subscribers list has a CSV download option, so one could implement it similar to that, downloading all (or a much higher cap) non-email followers. This should inclu

[2021-02-16 15:09] simison commented on #59664
Moved outta .com Create maintenance backlog since this is a Jetpack product issue rather than .com.

[2021-02-16 15:10] kylemcph commented on #42766
Another report in zen-3722437.

[2021-02-16 15:11] tbradsha commented on #50132
See also #42766.

[2021-02-16 15:15] simison commented on #48898
This is a theme bug though. It does work on Hever for example:

https://user-images.githubusercontent.com/87168/108082025-4fad2380-707a-11eb-9c5e-3d653634abaa.mov

@scruffian :wave: any known themes with this issue? I'm inclined to close until we know which theme specifically to replicate the issue with. @lsl remember the site's address you tested with?

[2021-02-16 15:20] simison opened #50134 "Global styles sidebar: font preset buttons lost border"
When choosing "A" icon for Global styles in the editor, there are buttons to quick-choose some font pairings.

These buttons used to look like buttons, but have regressed since:

**Now (Feb 2021)**
<img width="540" alt="Screenshot 2021-02-16 at 17 14 34" src="https://user-images.githubusercontent.com/87168/108082892-348ee380-707b-11eb-8607-b02f58a0e606.png">

**Before**
<img width="394" alt="Scree

[2021-02-16 15:54] simison commented on #48376
@vindl can you help triage this? Meanwhile I'll remove from maintenance backlog since it's related to ongoing projects.

[2021-02-16 15:55] cathymcbride commented on #50112
Definitely reproing. Setting Pri to normal since there is a workaround in calypso and the image does show up in the editor

[2021-02-16 16:01] cathymcbride commented on #47247
@jeyip I think it's OK to prioritize this higher, since we are seeing a steady stream of reports and, as you say, it is quite ugly. I've bumped the pri and I see it's on the prioritized backlog, which seems appropriate.

[2021-02-16 16:05] cathymcbride commented on #40792
@synora I don't think we need to move this issue to the gutenberg repo, as I think this one is a duplicate of 27720. I would recommend closing this one as a duplicate of that one. Alternatively, leave open and add the label `[Status] Keep Open`, as it might be easier for HEs to find this and see when it's fixed. Then when it's fixed in Gutenberg, we can close this one.

[2021-02-16 16:17] cathymcbride commented on #32740
Muriel is no longer. Closing...

[2021-02-16 16:17] #32740 closed

[2021-02-16 16:19] mmtr commented on #49455
Just landed D57136-code, so this issue should be fixed now.

[2021-02-16 16:19] #49455 closed, assigned to mmtr

[2021-02-16 16:23] mmtr commented on #49979
Jetpack 9.4.1 just came out, so the issue shouldn't be present anymore.

[2021-02-16 16:23] #49979 closed, assigned to mmtr

[2021-02-16 16:23] simison opened #50137 "Block inserter: ensure newspack blocks are black"
In the .com block inserter, Newspack blocks are blue:

<img width="355" alt="Screenshot 2021-02-16 at 18 21 25" src="https://user-images.githubusercontent.com/87168/108091006-edf1b700-7083-11eb-8658-8d2ca6fce222.png">

This doesn't make much sense from .com customer perspective (although I understand why it makes sense in standalone Newspack plugin).

Let's just have the blocks as black.

Another

[2021-02-16 16:24] mmtr commented on #49978
Jetpack 9.4.1 just came out, so we can close this issue now.

[2021-02-16 16:24] #49978 closed, assigned to mmtr

[2021-02-16 16:24] mmtr commented on #49350
Jetpack 9.4.1 just came out, so we can close this issue now.

[2021-02-16 16:24] #49350 closed, assigned to tjcafferkey

[2021-02-16 16:25] mmtr commented on #49238
Jetpack 9.4.1 just came out, so we can close this issue now.

[2021-02-16 16:25] #49238 closed, assigned to mmtr, cpapazoglou

[2021-02-16 16:25] mmtr commented on #49120
Jetpack 9.4.1 just came out, so we can close this issue now.

[2021-02-16 16:25] #49120 closed, assigned to mmtr

[2021-02-16 16:26] mmtr commented on #47043
Jetpack 9.4.1 just came out, so we can close this issue now.

[2021-02-16 16:26] #47043 closed

[2021-02-16 16:30] vindl commented on #48376
We already landed several fixes in core that address this problem and it's no longer an issue on WP.com.

[2021-02-16 16:30] #48376 closed, assigned to vindl

[2021-02-16 16:37] simison commented on #49836
I asked at pbIJXs-zH-p2#comment-2042 if this should be handled within nav-unification.

I don't think we're best equipped to work on this since related changes are happening all around elsewhere.

[2021-02-16 16:51] scruffian commented on #48898
There's a report for Redhill here: https://github.com/Automattic/themes/issues/1687

The site address in the screenshots above is using Stratford but from what I can see it works fine in Stratford.

[2021-02-16 16:53] synora opened #50139 "TED Talk Block (Ted Embed) Does Not Load Video"
### Steps to reproduce the behavior

1. Visit https://www.ted.com/talks/tasha_eurich_increase_your_self_awareness_with_one_simple_fix, click Share, then copy the link
2. Go back to your WordPress.com site and open a new page or post.
3. Search and add the TED block
4. Place the link you copied into the TED Block

#### What I expected to happen
For the TED Talk video to load

#### What actually hap

[2021-02-16 16:53] simison commented on #48898
Gotcha, thanks for checking! 👍  I don't think we'll have much use to have the issue open then. Feel free to re-open if needed tho! :-)

[2021-02-16 16:53] #48898 closed, assigned to nobody

[2021-02-16 17:11] simison commented on #46015
@noahtallen do you happen to know how ready ETK is for PHP8, and if so, is it possible to keep it that way in current/future CI setup?

7.3 and 7.4 are other two versions we need to support on Atomic (https://wordpress.com/hosting-config):

<img src="https://user-images.githubusercontent.com/87168/108097638-0fa26c80-708b-11eb-9ebb-25442fbf0fc3.png" width="300"/>

[2021-02-16 17:25] bsessions85 commented on #50128
This was fixed by #50133

[2021-02-16 17:25] #50128 closed, assigned to bsessions85

[2021-02-16 17:56] lynnbgriffith commented on #13127
This was actually closed by Automattic/Jetpack#9573.

[2021-02-16 17:56] #13127 closed

[2021-02-16 18:04] pmcpinto commented on #49836
@ramonjd sorry, I missed your ping. The team already merged a [PR](https://github.com/Automattic/wc-calypso-bridge/pull/634) to fix this. It will be released in the upcoming days.

[2021-02-16 18:16] synora commented on #50073
@cathymcbride would you know if this issue could be added to any team's project board to look at?

[2021-02-16 18:24] worldomonation commented on #792
I checked this behavior across multiple browsers and both Atomic and Simple.

I was not able to observe the real time comment fetching in a full page post.

Steps I took:

1. log in as User A.
2. open the post under test.
3. as user A, in a separate tab open the Comments management section by going to My Sites > Site > Comments.
4. as an unlogged in user, enter some comment on the post under test.

[2021-02-16 18:30] ockham commented on #5268
cc/ @Automattic/team-calypso in case you can maybe give this a stab :smile:

[2021-02-16 18:44] noahtallen commented on #46015
I don't know if ETK is ready for PHP 8, but I can look into that this week. (CI sounds like a good way to track that)

[2021-02-16 19:08] simison commented on #46015
Thanks! Lemme know if you spot any changes needed and maintainers can help out. 👍

[2021-02-16 19:13] tbradsha opened #50145 "Custom CSS: allow touch-action property"
Currently the Custom CSS module does not allow the `touch-action` property on Simple Sites. This property is often used to disable "clicking" on mobile, but more examples here:

https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action

Might be a good opportunity to audit other properties as well.

**Additional context**
Initially was attempted in 27790621-hc, after which I realized it's not

[2021-02-16 19:15] tbradsha commented on #50145
See also #45409.

[2021-02-16 19:17] mattsherman commented on #49836
@ramonjd @pmcpinto Actually, the fix right now is not complete. It now always goes back to Calypso. There is another open issue to take the user back from wherever they actually came from, wp-admin or Calypso. https://github.com/Automattic/wc-calypso-bridge/issues/640

I think we can close this issue in favor of that one.

/cc @psealock

[2021-02-16 19:17] #49836 closed, assigned to nobody

[2021-02-16 19:33] obenland commented on #49191
Ah, that is too bad. Thanks so much for investigating this route and laying out the options so clearly.

TIL, I don't think I was explicitly aware of that before.

As much as it pains me, I think always registering those submenu items for Atomic sites is probably the safest bet.

/cc @davemart-in

[2021-02-16 19:43] bayomio opened #50150 "[Enhancement] Payment feature block: Add option to redirect subscribers to custom page after payment"
### What
Add an option to the _[Payments feature](https://wordpress.com/support/wordpress-editor/blocks/payments/)_ block where subscribers are redirected to a custom page (e.g "Thank You" page) after a successful purchase.

### Why
At the moment, there is an option to send a confirmation ("Thank you") email under the _Edit a payment plan_ setting: https://snipboard.io/xItzwW.jpg

It will be a goo

[2021-02-16 20:17] #49776 closed, assigned to mattwiebe

[2021-02-16 20:24] ianstewart commented on #50137
How/why do blocks become blue? I've noticed this with other blocks in core that I've added to my site.

[2021-02-16 20:25] Addison-Stavlo commented on #43988
Hi @JoshuaGoode, thanks for checking in on this!

Id be happy to close if its intentional behavior, however the inconsistency makes it seem like it is not intentional:
* Simple Private sites = always has the "Sharing Buttons" option.
* Atomic Private sites = does not have the "Sharing Buttons" option when calypso is initially loaded in the 'private' setting. (but appears/persists if we switch to '

[2021-02-16 20:34] Addison-Stavlo commented on #43988
I see what you mean about intentionally disabling on atomic.  Generally I often hear "there **should** be no difference between simple and atomic experiences", which makes me wonder if we should be updating simple sites to not show this in private mode either?  Or if having this option in simple+private enables a benefit worth the divergence in experience between the two platforms. 🤔

[2021-02-16 20:39] cpapazoglou commented on #49250
While running the tests, I discovered that we need to adjust the following:

- a way to hide the nav-unification modal, otherwise all elements underneath are not "clickable". We can follow this https://github.com/Automattic/wp-calypso/blob/c32e02f590db39784444a0209b3bfdb574b4418e/test/e2e/lib/gutenberg/gutenberg-editor-component.js#L672
- a way to properly "navigate" in the sidebar. The current im

[2021-02-16 20:51] Addison-Stavlo commented on #41272
Lowered priority due to smaller % of users experiencing this issue after Coming Soon v2 changes.  Fix continued to be stalled pMz3w-b58-p2#comment-83240

[2021-02-16 20:52] davemart-in commented on #49191
So to clarify, we'd be doing what @cpapazoglou [outlined here](https://github.com/Automattic/wp-calypso/issues/49191#issuecomment-776740624)?

[2021-02-16 21:00] ianstewart commented on #46979
- Would this be for new users only?
- Would this impact imports from WordPress sites that had Classic Blocks in them?

[2021-02-16 21:02] ianstewart commented on #46435
@simison 👍

[2021-02-16 21:23] #46693 closed

[2021-02-16 21:28] obenland commented on #49191
The first part, yes. We won't be able to add them conditionally, so they'd always be available on WoA sites

[2021-02-16 21:30] ramonjd commented on #49836
Thank you, everyone!

[2021-02-16 22:08] metabreakr opened #50155 "Non-domain owners can add Email to cart, however cannot complete checkout"
### Steps to reproduce the behavior

1. As an administrator of a site (not domain/plan owner), add _Email_ to your cart
2. Proceed to checkout
3. Attempting to complete checkout will result in an error message, and inability to complete the purchase

#### What I expected to happen

I expected to be able to purchase Email plan for my site.

#### What actually happened

I received an error message:

[2021-02-16 22:09] worldomonation commented on #34729
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-16 22:09] #34729 closed

[2021-02-16 22:13] klimeryk commented on #50050
Thanks for flagging this, @zdenys! Looks like I missed this case when I overhauled this job recently 🙇 I've prepared a patch to address this issue on the backend: D57165-code. cc @aidvu, would love your review there to make sure there's nothing else with Atomic I missed 🙏

[2021-02-16 22:14] worldomonation commented on #29324
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this issue on both Atomic and Simple sites:

https://user-images.githubusercontent.com/6549265/108128126-2502a100-7061-11eb-8731-8dca5ced240b.mov

Steps:
1. create a new post.
2. enter post title.
3. save draft.
4. click on `Preview`.

Preview rendered as exp

[2021-02-16 22:14] #29324 closed

[2021-02-16 22:19] sstabrizi commented on #50155
Thanks for reporting @jonnyruzek. As @daledupreez mentioned, "We clearly have a problem here if we’re only checking that during checkout." I'd agree that there is likely a better place for those checks, as well as some room for updated messaging. Rather than the generic, "An error occurred during the transaction," something like, "Only the domain owner can purchase an email upgrade," or something

[2021-02-16 22:25] ccwalburn opened #50156 "Add Additional CSS Class(es) option to page and post sidebar"
This is a request to include the Additional CSS Class(es) option in the Page and Post sidebar the same way it is available for each block in the Block sidebar.

We often provide users with page- or post-specific CSS and then must find each page or post ID to use in the CSS. If there was an Additional CSS Class(es) field for pages and posts the way there is for blocks, then we could create the clas

[2021-02-16 22:41] metabreakr opened #50158 "Squarespace importer formatting galleries as separate images within the classic block"
### Steps to reproduce the behavior

1. Export a site from Squarespace that includes a gallery
2. Create a new site, and import the XML file
3. Visit a post that would have contained a gallery in Squarespace
4. Observe that the images not shown in a gallery block

#### What I expected to happen

I expected my Squarespace gallery to be imported as a gallery block.

#### What actually happened

The

[2021-02-16 23:07] yukikatayama opened #50160 "Varia theme (and child themes): product titles issue with All Products block"
Reported on 27795731-hc. Created Follow up ticket at 3746098-zen

### Steps to reproduce the behavior

1.  Install Varia theme and WooCommerce
2. Create 4-5 products
3. On a new page, add `All Products` block to list all products created
4. Change the layout settings > columns to more than 3
5. On front end, notice that the product title size doe not change. Even with more columns added, it does n

[2021-02-17 00:15] happychait commented on #44734
27797920-hc

[2021-02-17 00:17] jeyip commented on #44734
Apologies for the late reply @roo2. Needs triage is the right place to put it. I didn't get this is to a workable state during my gardening rotation.

[2021-02-17 00:46] JessBoctor opened #50162 "Converting reusable block creates an error"
### Steps to reproduce the behavior

1. Go to My Site > Page > Add New or My Site > Post > Add New
2. Add a reusable block to the post or page
3. Click on the reusable block name and then select to convert it to either group or column block
4. See error 'Block cannot be rendered inside itself'

#### What I expected to happen

The block to be converted to a group

#### What actually happened

The b

[2021-02-17 01:21] emilyaudela opened #50163 "calendar"
#### Steps to reproduce

1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2021-02-17 01:24] ctdealba opened #50164 "iOS Mobile: Videos thumbnails not loading."
### Steps to reproduce the behavior

1. Used an iPhone - Safari.
2. Go to https://russellgienapp.com/2021/02/16/food-styling-and-videos-for-social-media-channels/
2. Scroll down to three videos only showing the "Play" button (a gray circle with a white arrow inside).
4. See error

#### What I expected to happen is to see a thumbnail of the three last videos.

#### What actually happened: there is

[2021-02-17 01:33] worldomonation commented on #39749
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue remains reproducible on `wp-calypso`:

https://user-images.githubusercontent.com/6549265/108143759-2e9a0200-707d-11eb-8dc5-e64de56712c5.mov

The behavior of the info icons do not align with its behavior elsewhere on WordPress.com, notably [this page](https://wordpress.com/pri

[2021-02-17 01:39] bluefuton commented on #14627
Re-tested - appears to now be resolved.

[2021-02-17 01:39] #14627 closed

[2021-02-17 03:14] #49424 closed, assigned to ilyasfoo

[2021-02-17 04:27] adrianduffell commented on #49060
Fixed in #50078

[2021-02-17 04:27] #49060 closed, assigned to adrianduffell

[2021-02-17 05:49] jeyip commented on #49573
Just merged a fix for the tt1-blocks design preview. The FSE gutenboarding horizon flow should display the correctly styled preview whenever the current mshot image cache expires.

According to @andrewserong, this happens in approximately 1 day. I'll double check production on Thursday to confirm, at which point I'll close out this issue if things look good.

[2021-02-17 06:21] razvanpapadopol commented on #45699
Can we consider also a 3rd approach to extract Feature picker to an a8c package and export the component and also features data from there?

[2021-02-17 06:27] razvanpapadopol commented on #50083
So the solution for this would be to grey out options using the same logic we're now using to disable the Launch button and remove the close (X) button when adding items to cart.

cc: @ollierozdarz

[2021-02-17 06:37] ollierozdarz commented on #50083
@razvanpapadopol perfect! 👍

[2021-02-17 06:38] razvanpapadopol commented on #41066
@alshakero @ciampo can we consider this issue fixed everywhere (including `/new`) or https://github.com/Automattic/wp-calypso/pull/48550 addressed only domain from cart -> selected domain in Focused Launch?

[2021-02-17 06:41] razvanpapadopol commented on #42281
Shipped an intermediary fix for `/new` in #49567 but we'll keep https://github.com/Automattic/wp-calypso/issues/44219 open until we do something about the design.

[2021-02-17 06:41] #42281 closed

[2021-02-17 06:42] pauljacobson commented on #45663
I have another report like this. Subscribers are unable to access paid content contained in Premium Content Blocks, despite being subscribed to the content.

I have added details, and screenshots here: 3743413-zen (the screenshots and demo video contain personal information so I can't share it here).

[2021-02-17 07:46] cpapazoglou commented on #49250
👋 @bsessions85 can you help us reach some technical decisions here? I would appreciate it 🙏!

1. There is a modal shown after login
![](https://cln.sh/igfEOT+)
is interacting with it and closing it the best way to go here? I am only asking cause it appears on almost all tests and will surely make them slower.
2. Since our menu items are generated dynamically, they don't have the `data-tip-target`

[2021-02-17 08:21] pendantry opened #50168 "Enhancement to the Milestone block: enable link before the date!"
I love the Milestone widget. It's a really neat way to highlight an upcoming event!

![WordPress 'Milestone' widget, rendering @17Feb2021](https://user-images.githubusercontent.com/77969662/108173520-20d49300-70f6-11eb-9272-ca9bca46003d.PNG)

But I think it could be improved by a simple amendment....

## What (Required)

Allow the user to configure a link to a URL that is available _while the coun

[2021-02-17 08:30] pendantry commented on #50168
PS Request from a n👀b: could someone please explain to me how to add labels to issues? I want to add the labels
- 'Blocks'
- '[Type] Enhancement'

to this, but I can't figure out how to do that (nor can I find any clues how to do it using 'search').

Thanks in advance! 👍

[2021-02-17 08:40] pendantry commented on #50112
My tuppence on this (as a n👀b to GitHub, though not to WordPress):

I have experienced the same issue. It's infuriating.
- System: Windows 8.1, Firefox 85.0.2 (64-bit)
- Theme: Twenty Ten

The workaround I use is to open a separate browser tab, go to wp-admin in that and upload the media, then switch back to the tab where I'm editing the post and access the media item from there. Attempting to upl

[2021-02-17 08:45] StefanNieuwenhuis commented on #50083
Thanks, @ollierozdarz & @razvanpapadopol! I've updated the description and added A/C.

[2021-02-17 08:48] simison commented on #50018
The block should not render when Stripe is not connected:

<img width="263" alt="image" src="https://user-images.githubusercontent.com/87168/108178901-a6177200-710d-11eb-9bb6-dcb2e60d8abf.png">

Tho we've talked about making it more clear. :-)

[2021-02-17 08:56] frontdevde commented on #49826
### List of Calypso color schemes using

a) variations of --studio-blue-x:
- [x] Aquatic
- [x] Classic Blue
- [x] Classic Dark
- [x] Contrast
- [x] Default (Classic Bright)
- [x] Nightfall
- [x] Powder Snow
- [x] Sakura

b) relevant variations of --studio-celadon-x:

- [x] Aquatic
- [x] Sakura

### Example of the issue using Aquatic

- The sidebar in Calypso is showing the new blue #055d9c while w

[2021-02-17 08:58] simison commented on #46979
I think it's better and easier to be consistent and just do it for everyone. I think it's more important not to teach new users legacy things like shortcodes, but good to nudge older customers out of their habits too. 😁

The blocks would still remain functional in content, they just wont appear in the block picker by default.

[2021-02-17 08:59] mmtr commented on #50039
Jetpack 9.4.1 just came out, so we can close this issue now.

[2021-02-17 08:59] #50039 closed, assigned to mmtr

[2021-02-17 09:02] simison commented on #50137
In Newspack plugin, [icons are hardcoded as blue](https://github.com/Automattic/newspack-blocks/blob/f4d68cb74210e28cec17deec1d16b35ede68e901/src/blocks/carousel/index.js#L25).

[2021-02-17 09:26] simison commented on #49180
Looks like the site picker is busted, too and the hover color is even more jarring:

<img width="471" alt="image" src="https://user-images.githubusercontent.com/87168/108183649-f8a75d00-7112-11eb-8174-5ca79f90a42c.png">
<img width="437" alt="image" src="https://user-images.githubusercontent.com/87168/108183685-02c95b80-7113-11eb-97a1-b4717f061364.png">

[2021-02-17 09:32] pendantry commented on #49262
Pardon my jumping in here... much of this is gobbledegook to me (I'm a n👀b on GitHub, though not to WordPress).

I thought I could add a user's perspective.

Having used wp-admin quite happily for years, I'm very familiar with it. I'm not entirely clear on what 'Calypso' is, but I'm guessing from the context here that it's that 'other' configuration interface that rears its ugly head every now and

[2021-02-17 10:01] flootr commented on #16631
Seems to be resolved. I couldn't find any WP.com toolbar setting in the Writing section of both WP.com and Jetpack.

[2021-02-17 10:12] simison opened #50169 "Full site editing: adapt block inserter contextual tips for FSE"
In the block inserter we have "contextual tips" for some keywords (just for wpcom):

<img src="https://user-images.githubusercontent.com/87168/108189332-4757f580-7119-11eb-9ba0-f165654a532f.png" alt="" width="400" />

Number of those tips [refer to Customiser](https://github.com/Automattic/wp-calypso/blob/92b4535f0c1cf4753f0a1d136e0cd571c5923262/apps/editing-toolkit/editing-toolkit-plugin/block-in

[2021-02-17 10:22] devNigel opened #50171 "Social Icons Block: Incorrect rendering of icon color and icon background color"
The social icon's color that is set in the editor is not rendering on the live page as expected in Simple sites. It also shows an incorrect warning that color combination is hard to read.

### Steps to reproduce the behavior

1. On a simple site, create a new page and add social icons block.
2. Add a few social icons.
3. Change their icon color and icon background color
4. Preview it or check the

[2021-02-17 10:43] cpapazoglou commented on #49925
@mattsherman I tried reproducing the above with no luck. Any clues on how that might be possible?

[2021-02-17 10:50] cpapazoglou commented on #50065
Seems that we will wait for WooCommerce 5.1 since pbAPfg-1ad-p2#comment-2622. There is no need to follow that path.

[2021-02-17 10:58] ciampo commented on #45699
Extracting Feature Picker to a separate package sounds like a good idea.

Regarding the actual data, should it be stored in the `feature-picker` package (as a JS const), or should it be stored in the backend and retrieved via REST apis?

[2021-02-17 11:13] tyxla commented on #16631
Reopening; it's still there for Jetpack sites under `/settings/writing/:site`:

![](https://cldup.com/DUGNe7sqfj.png)

[2021-02-17 11:15] tyxla commented on #14912
Still valid.

[2021-02-17 11:15] tyxla commented on #14808
I think this is still valid, even if the sharing settings aren't in `/settings`.

[2021-02-17 11:16] tyxla commented on #16793
Still valid.

[2021-02-17 11:17] alshakero commented on #41066
Sadly it was not fixed in the domain picker (which is everywhere except `/start`). As you said, what was fixed is _only domain from cart -> selected domain in Focused Launch_.

It might be worth mentioning that #48550 had the potential to be related to this before, but it's no longer related. Before, we used to query the domain suggestions API with the domain name from the cart, and pick the match

[2021-02-17 11:17] tyxla commented on #18257
I'm closing this, as the old auto-config process is no longer in use.

[2021-02-17 11:17] #18257 closed

[2021-02-17 11:17] tyxla commented on #15570
Still valid if we decide to prioritize it.

[2021-02-17 11:20] tyxla commented on #18150
@Automattic/jetpack-voyager are we still using the old auth process anywhere? If not, perhaps we can close this one?

[2021-02-17 11:21] tjcafferkey commented on #49981
@akirk thanks for raising this issue, much appreciated.

I think this is down to us using a Gutenberg component within Calypso where the Gutenberg translations are not loaded.

I may have got this wrong, but did you solve a similar issue in WP Admin recently? If so any advice/help tackling this would be appreciated.

Thank you! 😄

[2021-02-17 11:21] cpapazoglou opened #50173 "[e2e] Dismiss nav-unification modal"
As discussed in https://github.com/Automattic/wp-calypso/issues/49250#issuecomment-780103846 we need a way to hide the nav-unification modal, otherwise all elements underneath are not "clickable".

![image](https://user-images.githubusercontent.com/12430020/108197405-01a02a80-7123-11eb-97bd-e3e5436b3753.png)

We can follow this https://github.com/Automattic/wp-calypso/blob/c32e02f590db39784444a020

[2021-02-17 11:22] tyxla commented on #14934
No longer valid - plans grid has been revised since. Closing.

[2021-02-17 11:22] #14934 closed

[2021-02-17 11:25] tyxla commented on #14805
I think this could still be useful to have.

[2021-02-17 11:25] cpapazoglou opened #50174 "[e2e] Sidebar navigation with nav-unification"
As discussed in https://github.com/Automattic/wp-calypso/issues/49250 we need to fix the sidebar navigation when nav-unification is enabled.

The [technical decision](https://github.com/Automattic/wp-calypso/issues/49250#issuecomment-780693083) is
- manipulating the admin-menu endpoint so that it contains the data-tip-target static keywords
https://github.com/Automattic/wp-calypso/blob/25b7ee52633

[2021-02-17 11:43] tyxla commented on #19326
The "Missing Feature" page is no longer there, closing.

[2021-02-17 11:43] #19326 closed

[2021-02-17 11:48] jartes commented on #17774
Another report on 3747225-zen. Informed the user about the limitation and suggested removing some tags or use categories.

[2021-02-17 11:49] #50048 closed, assigned to klimeryk

[2021-02-17 12:03] pendantry opened #50176 "Enhancement for theme customize function"
'Customize' needs some love, I feel. I would like to suggest a quality of life improvement....

# What

- Disable auto-refresh of the display on Every. Single. Change. Made.
- Replace this functionality with a 'Refresh Display' button (perhaps located next to the 'Save Changes' button).

# Why

The way that 'Customize' works has troubled me for years. It constantly refreshes the display on the tin

[2021-02-17 12:19] pablinos commented on #49944
Related to this, I've noticed that it's quite hard to turn the WP Admin toggle off. It might be that I missed something, but I turned it on to test accessing the classic editor, but then wanted to get to the settings to delete a test site in Calypso. In the end I had to manually navigate to `/me`. Are we planning on making this setting accessible in `wp-admin`?

[2021-02-17 12:38] vindl commented on #50169
Added this to Cylon's backlog.

[2021-02-17 12:50] #48150 closed, assigned to david-szabo97

[2021-02-17 13:11] jsnajdr commented on #45881
The fix has been deployed today to wpcom as D57128, after the first attempt had to be reverted due to a mistake.

I'll now close the issue. Don't hesitate to add further reports if the issue happens to any customer. We're not 100% sure that the issue is gone for good. 🙂

[2021-02-17 13:16] flootr commented on #16631
Ah! I was looking in the plugin settings in wp-admin because when I click on `Writing` on .com for a Jetpack-connected site I'm redirected to `wp-admin/options-writing.php`. Going directly to `settings/writing` shows that setting (not for simple and AT sites though).

[2021-02-17 13:22] davemart-in commented on #45881
Wooo! Thanks @jsnajdr. This has been a long standing issue. It's great to see this fixed.

[2021-02-17 13:25] fernmed opened #50179 "Features CoBlock: Closes in editor when hovered over"
Found an odd issue when hovered over the Features block that will close the side panel. It will close the panel in full when hovered over.

I recorded a video with the process:

https://d.pr/v/z1zdgN

### Steps to reproduce the behavior

1. Go to new page/post screen.
2. Click on the upper left add new block button.
3. Scroll down to Design > Hover over Features OR search for Features in search ba

[2021-02-17 13:29] mattgawarecki commented on #18150
@tyxla Jetpack doesn't offer Happychat support anymore anyway, so I think this is safe to close. 👍

[2021-02-17 13:31] tyxla commented on #18150
Even better! Thanks for confirming. Closing.

[2021-02-17 13:31] #18150 closed

[2021-02-17 13:35] tbradsha commented on #33371
3744943-zen
https://vimeo.com/509155063/07447619df

Pasting the video link on their site turns into a paragraph block. It works fine on my test site.

[2021-02-17 13:43] dolgelukkig opened #50181 "Email forwarding not editable when the user also has Titan email."
After adding Titan email a user is not able to remove/edit an email forward.

#### Steps to reproduce

- I added an email forward to my domain name
- I added Titan email to my domain name
- The email forward is not showing in my account anymore

#### What I expected

I  expected the forward to be deletable or editable within my account even though Titan was active.

#### What happened instead

Onl

[2021-02-17 13:47] akirk commented on #49981
The reason used to be that the component needs to be wrapped with `localize()` but I am not sure if this is still true. Maybe @yuliyan can chime in? Thanks!

[2021-02-17 14:11] tjcafferkey commented on #49250
Firstly amazing sleuthing @cpapazoglou, and thanks for laying this out in an easy to understand/consume format.

This makes sense, looking at the welcome modal they appear to be using the same `<Guide />` component so dismissing it should be a lift & shift task into a more generic class for future uses of this modal component.

An alternative would be to not render the modal in the test scenario,

[2021-02-17 14:31] mmtr commented on #49250
👍

Can we reuse the menu slugs as values of the `data-tip-target` attributes? That way we wouldn't need to change anything in the API.

I had the same question. Do we need to maintain the tests for the existing navigation? I assumed we only needed to migrate the tests to the new unified menu.

[2021-02-17 14:48] sixhours commented on #14633
This was done a while ago; you can see most of the illustrations at `/devdocs/illustrations`

[2021-02-17 14:48] #14633 closed

[2021-02-17 15:09] razvanpapadopol opened #50185 "Editor Checkout: not loading the purchased plan in the editor"
### Steps to reproduce the behavior

1. Force the composite-checkout to prevent a redirect to a thank-you/up-sell page after purchase. An example would be using the [isFocusedLaunch](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/checkout/composite-checkout/hooks/use-create-payment-complete-callback.tsx#L203) prop
2. Go to editor on a site with a Free plan
2. Add a Premium Blo

[2021-02-17 15:12] yuliyan commented on #49981
The root of the problem comes from our string extraction process. For various reasons, we don't extract strings from external packages, and in this case the navigation buttons' strings are coming from [`@wordpress/components` package](https://github.com/WordPress/gutenberg/blob/master/packages/components/src/guide/index.js).

I've created a PR #50184 with a quick workaround. Once we get it deploye

[2021-02-17 15:19] msilbers commented on #49788
Provided CSS workaround for a customer in 27303985-hc

[2021-02-17 15:20] razvanpapadopol opened #50186 "Focused Launch: show billing period in Summary view"
**What**
We should add some information about the billing period in the Plan step of Summary view

**Why**
Users should know if the plans displayed are monthly or annual.

**Additional context**
Fixing this started from https://github.com/Automattic/wp-calypso/issues/49713 implemented in https://github.com/Automattic/wp-calypso/pull/49930 but the solution is still not ideal

[2021-02-17 15:46] tjcafferkey commented on #49981
Thanks so much for the explanation and the PR. This makes much more sense as to why it wasn't working. It's massively appreciated.

I'm going to review the PR and hopefully get that merged in.

[2021-02-17 15:53] #19833 closed

[2021-02-17 15:54] #19840 closed

[2021-02-17 15:54] #19870 closed

[2021-02-17 16:16] julianxhokaxhiu commented on #19024
Apparently images are now available, despite being 6 months older. Is this intended?

[2021-02-17 16:17] tbradsha commented on #49840
27748881-hc

Using YouTube videos, they get the same `mejs` JS error. It loads fine in the Customizer but not on the live site.

[2021-02-17 16:17] cathymcbride commented on #49946
@jeherve is this one of Jetpack's?

[2021-02-17 16:48] bsessions85 commented on #49250
1. For the modal, It would be better to just make sure the modal shows up in one test and then force dismiss it in later tests if that is driven by cookie. If it isn't, then we can just run through it every time. It will add a few seconds but it shouldn't matter much. Like was mentioned above, it is what the user would be experiencing so we want to stick to that.

2. I would lean towards getting t

[2021-02-17 16:52] jeherve commented on #49946
It is, yes. I'll transfer the issue over.

[2021-02-17 16:53] cpapazoglou commented on #49250
@bsessions85 thanks for chiming in!

Nav-unification will be rolled out gradually. I can imagine 1 - 2 months (max) of having some users with nav-unification and the rest having it disabled. The rollout period depends only on the issues that may arise, so it may be much less too.

[2021-02-17 16:56] JoshuaGoode commented on #50181
Overall, this is expected behavior as using a full email service such as Titan replaces, and disables, Email Forwarding options.

Email Forwards cannot be used, or routed properly, when an email service is used.  The process of setting a full email service up involves adding the service's MX DNS records and removing the MX record for the forwarding email server.

When a user purchases G Suite or T

[2021-02-17 16:57] JoshuaGoode commented on #50181
Marking this as `[Closed] By Design` for now.  However, feel free to add any questions or concerns related there should be some type of design or interface improvement.

[2021-02-17 16:58] #50181 closed, assigned to nobody

[2021-02-17 17:02] cpapazoglou commented on #49250
@tjcafferkey, sorry I should have already mentioned that possibly we won't need to change something more in the lib, as the `expandDrawerItem` https://github.com/Automattic/wp-calypso/blob/25b7ee52633a566d8073f7a79100199c8cd7fc6b/test/e2e/lib/components/sidebar-component.js#L41 didn't create any problems during my tests.

[2021-02-17 17:13] cpapazoglou opened #50193 "Remove menu items: Tools -> Other Tools, Settings -> Ratings, Settings -> Polls"
As discussed in p7DVsv-ago-p2#comment-34517 we will be removing the following menu items from the admin-menu api https://github.com/Automattic/jetpack/blob/39215e802de7e1fffdb8b31c4fb2a27bde604c69/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L15. This change will affect all environments.

- Tools -> Other Tools
- Settings -> Ratings
- Settings -> Polls

Other Tools |

[2021-02-17 17:13] ghost commented on #49660
- Add the user's plan name to the sidebar, similar to how it appeared in the Calypso nav.
<img width="1440" alt="desktop - calypso" src="https://user-images.githubusercontent.com/67021691/108241157-88500a00-7119-11eb-9ae3-bc2fb5267332.png">

- Switch the order of 'Plans' and 'My Plan' in the tabs so that when I click 'Upgrades' in the sidebar, it lands me in 'Plans', with the 'My Plan' tab selecte

[2021-02-17 17:21] jeyip commented on #49573
Looks like the TT1 design previews are loading correctly in production 🎉 . Closing out this issue, but feel free to reopen this if it's not the case.

[2021-02-17 17:21] #49573 closed, assigned to mattwiebe, jeyip

[2021-02-17 17:22] #50047 closed, assigned to sirbrillig

[2021-02-17 17:34] sirbrillig commented on #49214
Should be fixed by D56438-code

[2021-02-17 17:48] obenland commented on #49944
This is a really good point, I've not considered that.

@sfougnier Should we prioritize moving this setting into the admin menu itself? Any other thoughts on how to best deal with that?

[2021-02-17 17:54] anastas10s-afk commented on #50058
### I am filing this bug report after reading through [this post in the Spanish locale WordPress.com forums](https://wordpress.com/es/forums/topic/error-en-blog-2/). This is a more extended bug hunt and report, intended to complement the issue reported here and included in the forum post.

### Steps to reproduce the behavior

1. Create a new post using the Gutenberg editor
2. Select a classic bloc

[2021-02-17 18:25] obenland commented on #48980
This should be fairly straight forward to do by extending the way color schemes are currently synced.

[2021-02-17 18:42] michaeldcain commented on #48894
Removing the `[Pri] High` label, since the regression is fixed.

[2021-02-17 18:57] #48703 closed, assigned to sirbrillig

[2021-02-17 19:03] Addison-Stavlo commented on #46981
with https://github.com/WordPress/gutenberg/pull/28945 merged, this issue will be resolved once the new Gutenberg versions land on dotcom.

[2021-02-17 19:03] #46981 closed

[2021-02-17 19:19] ghost commented on #49944
Just want to make sure I'm understanding what we're saying.

The current design treatment as a toggle in Account Settings treats wp-admin pages as advanced features. It's essentially a one-time setting a user can enable based on their own personal preference.

In reality, there are features within the duplicative pages that a user will need to access to complete tasks in a single session, establis

[2021-02-17 20:13] worldomonation commented on #50018
Ah, that'd do it. More clarity would definitely be useful, I agree!

[2021-02-17 20:13] worldomonation commented on #50018
If you don't mind, I can close this bug as `Closed - By design`.

[2021-02-17 20:15] mattsherman commented on #50065
Agreed. I'm going to close this one.

[2021-02-17 20:15] #50065 closed, assigned to mattsherman

[2021-02-17 20:25] mattsherman commented on #49925
@cpapazoglou I'll have to dig into this further, but it sounds very similar to https://github.com/Automattic/wp-calypso/issues/32884 from a few years ago.

[2021-02-17 20:54] #50085 closed, assigned to mattwiebe

[2021-02-17 21:01] ianstewart opened #50201 "Horizon Site Editor: Add Launch Button"
It's available in the post/page editor, it should be available in the WPcom site editor to maintain parity, as part our flow on wp.com/new.

Here it is in the page editor:

![image](https://user-images.githubusercontent.com/545779/108267576-fe13a000-7130-11eb-85ef-327f9fe98705.png)

[2021-02-17 21:03] ghost opened #50202 "Nav Unification: Revise copy on wp-admin toggle for clarity"
**What**
Add clarifying copy to the Account Settings wp-admin toggle and provide a link to the nav unification support page in order to provide further guidance to users who may not know what this is.

**Why**
Currently, this toggle is abstracted from the dashboard and there isn't a lot of context around what it will do. It may be surprising for users if they don't know what wp-admin is or if they

[2021-02-17 21:08] cathymcbride commented on #50139
Console error:` Uncaught TypeError: Cannot read property 'service' of undefined`

[2021-02-17 21:14] tbradsha commented on #14694
And still an issue.

[2021-02-17 21:19] worldomonation commented on #15650
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I am uncertain if this is still an issue.
I left a comment through these steps:

1. log out of WordPress.com.
2. leave a comment.
3. click on the WordPress icon to initiate a login from the comment field.
4. log in using social.

VIdeo:

https://user-images.githubusercontent.com/6549265

[2021-02-17 21:19] #15650 closed

[2021-02-17 21:29] worldomonation commented on #36446
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I can confirm this flow is still an issue.

[2021-02-17 22:14] Addison-Stavlo commented on #38450
closing this issue as the tag was added to Twenty Twenty on dotcom.

[2021-02-17 22:14] #38450 closed

[2021-02-17 22:26] noahtallen commented on #46015
I've been able to successfully run the plugin with `phpVersion: 8.0` in wp-env. (Verified the php version, and it is working well as far as I can tell.)

I need to do some more research on CI stuff. The underlying PHPCompatibility checker hasn't yet been updated with full PHP 8 support yet, so it's not that simple.

Some other suggestions were running phpunit tests in a PHP 8 environment, but we d

[2021-02-17 22:29] Addison-Stavlo commented on #37027
I tested this out today with a new test site.  Everything seems to work well.  Even after deleting and getting rid of all published items, the theme switch still headstarts a new homepage on my end.  Maybe this was resolved with other recent fixes to some of these themes.

Closing the issue, but if this still persists feel free to reopen - but also it may help to include the specific theme that is

[2021-02-17 22:29] #37027 closed

[2021-02-18 00:34] ramonjd commented on #48316
So I think we're setting the coming soon option too early. Subsequent changes to the blog's public status trigger a hook that turns coming soon off.

~D57169-code should take care of this while we think of a better solution.~

We thought of a better solution 😆

D57320-code

The problem only affects certain designs, e.g., Balan. And it started after October 2020.

TL;DR Some of our headstart annota

[2021-02-18 01:53] kaitohm commented on #50058
Another report here: 3736413-zd-woothemes

[2021-02-18 02:49] kaitohm commented on #46298
Another report here: 3746929-zd-woothemes

[2021-02-18 03:21] ramonjd commented on #47759
Just to confirm, are we expecting things to look as they do when you create a new site on WordPress.com?

<img width="1089" alt="Screen Shot 2021-02-18 at 1 53 06 pm" src="https://user-images.githubusercontent.com/6458278/108298195-a89ec800-71f0-11eb-8251-4af582c0987b.png">

There are a couple of things going on. I'll provide some context for folks who eventually pick up this after we've cleared t

[2021-02-18 03:58] ramonjd commented on #48127
I can't seem to reproduce.

Checked in Safari

<img width="833" alt="Screen Shot 2021-02-18 at 2 49 10 pm" src="https://user-images.githubusercontent.com/6458278/108302844-e7d11700-71f8-11eb-901a-555186666d0d.png">

Also looked at FF, Chrome and Edge and it looks okay.

The commit history doesn't reveal where it might have been fixed in the meantime, at least deliberately :trollface:

The last cha

[2021-02-18 04:00] ramonjd commented on #49152
I think we can close this ticket in light of the upcoming redesign by @Automattic/ganon

It'll be out in a few weeks.

[2021-02-18 04:00] #49152 closed, assigned to nobody

[2021-02-18 04:27] ramonjd commented on #46299
This was put on the @Automattic/theam TODO list on May 13, 2020. See: pNEWy-cIgp2#comment-51401

@kjellr Is adding annotation to:

– Fortune
– Adventure
– Restaurant
– Soho

still on the cards, or is there anything Create can do?

Thanks!

[2021-02-18 04:57] ramonjd commented on #46993
I had a quick look at this today. The headstart annotations for https://shoreditchdemo.wordpress.com/ where generated in 2018 and contain copy that is different from the site itself.

So I tried to regenerate them and then run headstart over a test site using this new annotation, but the copy was different again.

Not sure what's going on yet, but the next step would be to find out what and how he

[2021-02-18 05:23] autumnfjeld commented on #49240
Moving this to done, since we've successfully scoped the project. 🎉

[2021-02-18 05:42] andrewserong commented on #48889
@ianstewart I've fixed the Contact Form preview when it's rendered by the `template/demo` endpoint (216-gh-Automattic/view-design), which will fix its rendering in the new page layout picker (and should fix it in the thumbnails in the existing layout picker).

The outstanding issue is in the large preview where the textarea isn't inheriting the `width: 100%` style which is set by Emotion. Rather t

[2021-02-18 06:07] worldomonation commented on #49894
I was able to reproduce this on a newly created site but I was not able to reproduce it intentionally when attempting to verify my hypothesis.

The hypothesis was that a site is required to have selected a non-Free plan during Gutenboarding and have purchased a domain (sandbox OK). When the `Launch` process is initiated from Post Editor, the existence of the plan and domain causes issues with the

[2021-02-18 06:38] pauljacobson opened #50209 "macOS App: Post editor doesn't display the letter 'y'"
One of our users reported that the macOS app doesn't display the letter 'y' in the post editor, even though the letter is displayed in the published post.

Here is an example post: [What’s Your Affinity? I Like Gray | Sidewalk Face](https://eaglecrowowl.com/2021/02/09/whats-your-affinity-i-like-gray/). This is what the customer sees:

<img width="1488" alt="screen-shot-2021-02-16-at-8 42 46-am" sr

[2021-02-18 07:24] worldomonation opened #50212 "Layout Grid: unable to change font size of paragraph blocks within column"
### Steps to reproduce the behavior

1. Go to My Sites > Site > Post.
2. Create a new post.
3. Insert a `Layout Grid` block with any number of columns.
4. Insert a `Paragraph` block.
5. Type some text.
6. Highlight the text.
7. Open Settings.
8. Change the `Font Size` dropdown.

#### What I expected to happen
Font size changes to selected size.

#### What actually happened
Font size does not chang

[2021-02-18 08:08] worldomonation opened #50214 "Cover Block: editor crashes when making reusable block"
### Steps to reproduce the behavior

1. Start a post.
2. Insert a `Cover` block type.
3. Select some media.
4. Publish or Draft the post.
5. Open the post.
6. Select the `Cover` block.
7. Click on Hamburger Menu > Add to Reusable Blocks.

#### What I expected to happen
`Cover` block is turned into a reusable block.

#### What actually happened
Editor crashes.

### Context
Back to basics user testi

[2021-02-18 08:31] simison commented on #49141
@ianstewart @kjellr I'm assuming we have blank canvas "starter content" now but do we  have "blank canvas" empty template? I'd just need it for a prototype. Doesn't need to be actually released anywhere.

[2021-02-18 08:31] sophiegyo commented on #46707
I've encountered a ticket with the opposite issue - the option to add a "read more" link appears on the Blog Posts block, but when it is inactive, the "read more" link appears nonetheless.

Ticket: #3743524-zen

Screenshots:

1. No link set in the editor:
![No link in editor (user's site, Japanese)](https://user-images.githubusercontent.com/36608681/108326948-1f28cf00-71cb-11eb-98da-9fa99daa18a5.p

[2021-02-18 08:32] ciampo opened #50216 "Gutenboarding: Support new monthly plan slugs"
## What

Support the monthly slugs that will be added to the `/pricing` page in Gutenboarding signup flow, similarly to what we already do with annually-billed plans

See announcement: p1613632112214100-slack-CT1FP5D62

## Why

This is part of the monthly plans integration work

## A/C

- [ ] Add monthly plan slugs to the API endpoint (similarly to what done in D56809-code)
- [ ] Add new signup fl

[2021-02-18 08:32] mrfoxtalbot opened #50217 "Nav Unification: Cannot access WebHooks or Email Post Changes"
With the new Unified Nav there is no way to access the **WebHooks** or **Email Post Changes**  sections on simple sites.

[code]

![Screen Shot on 2021-02-18 at 09:22:29](https://user-images.githubusercontent.com/4452464/108327558-d4f41d80-71cb-11eb-931c-a9ac75498283.png)

These two features are pretty old and are only available on simple sites. I do not have any data to back this, but I suspect t

[2021-02-18 08:58] ramonjd commented on #47989
I've tried every which way and cannot reproduce this.

Gutenberg: v9.9.3
CoBlocks: 2.5.3
Editing Toolkit: 2.19

Tested:
* both the video block and video press
* with the iframed editor on WPCOM and wp-admin
* uploading a video and embedding an external (YouTube) video
* adding a class name, multiple classnames, using alphanumeric chars and hyphens
* adding classes before, after and in between the

[2021-02-18 09:02] #49981 closed, assigned to tjcafferkey

[2021-02-18 09:49] flootr opened #50219 "SiteSelector: Search looks off on account settings page"
### Steps to reproduce the behavior

Note: You need to have more than 6 sites associated with your WP.com account to activate the search on the Site Selector Dropdown.

1. Go to `/me/account`
2. At _Primary Site_ open the Site Selector Dropdown
3. Observe the Search field is off

The component is used at several different places:

- On `/theme/:theme` click on _Activate theme_ and open the site se

[2021-02-18 09:57] getdave commented on #49250
@bsessions85 The issue is we don't know if/when everyone will be comfortable to leave Nav Unification "on". That said, due to the lack of evidence to the contrary at this stage, I think we have to plan for it being a permanent change but one which is rolled out gradually.

Therefore should we

1. Update the e2e tests at the same time Nav Unification goes live?
2. Maintain both versions of the test

[2021-02-18 10:11] sophiegyo commented on #49603
I got super confused by this just today, it took me a couple of minutes to notice what was going on, until I realised it shows Browse Sites on wp-admin pages (eg: Links) and Switch Sites on Calypso pages. I clicked "Browse sites" and suddenly my 'add new site' button was gone. I was genuinely baffled!

Site type: Simple

Process:
1. Be on a wp-admin page like Links.
2. Click "Browse sites"
3. No "

[2021-02-18 10:19] rinazrina commented on #41272
Another one: #3749605-zen

[2021-02-18 10:36] tjcafferkey commented on #49250
Apologies if this has already been considered/answered elsewhere but just making sure.

Aside from writing new E2E tests so that they cover the unified navigation experience. Have we also discussed writing E2E tests to cover the two different experiences a user will encounter when toggling between Calypso and WP Admin links?

And furthermore are there any tests that are asserting against the URL v

[2021-02-18 10:48] mmtr commented on #49250
We should be pragmatic here. Since it's going to be a permanent change, let's not invest any effort on maintaining the existing navigation. We can switch the new unified nav on the E2E tests, even if the feature is rolled out gradually. The existing navigation has been quite stable for the last months/years, and it's extremely unlikely that a regression is introduced while the new new unified navi

[2021-02-18 11:02] cpapazoglou commented on #49250
Exactly this is the scope of this issue. Writing new tests to cover WP Admin screens (which is where Users will land with the toggle on) will be really painful.

[2021-02-18 11:05] tjcafferkey commented on #49250
Okay great sounds good. Was just making sure 😀

[2021-02-18 11:38] #49191 closed, assigned to tjcafferkey

[2021-02-18 11:42] getdave opened #50225 "[EPIC] Jetpack and Nav Unification v1 prelaunch flow fixes"
The following are a set of "quick fixes" that will fix the flows for Jetpack connected sites for Nav Unification.

Given the other work that is happening simultaneously, there is no guarantee these will be fixable in time for launch. Therefore if they are unable to be completed, then a fallback will be to completely disable Nav Unification for Jetpack connected sites at the point of launch.

More

[2021-02-18 12:01] Aurorum commented on #50202
Hi @sfougnier, are you aware if that page has been published yet? If so, would it please be possible to share a link to it since I can't find it.

[2021-02-18 12:18] #49817 closed, assigned to alshakero

[2021-02-18 12:25] getdave opened #50226 "[EPIC] LiveChat "quick fixes" for WPAdmin"
Please see paYJgx-1nM-p2#comment-1705.

As LiveChat cannot currently work in WPAdmin, these "quick fixes" are proposed as a short term work around to unblock the launch of Nav Unification.

A more robust solution will follow if/when resources become available.

## Tasks

The following should be split into two separate Issues/PRs:

- [x] https://github.com/Automattic/wp-calypso/issues/50235: Show a

[2021-02-18 12:25] MaxPhilip commented on #41013
Another report here:

3705540-zd

[2021-02-18 12:56] retnonindya opened #50228 "WordPress.com on Atomic (AT sites): Block Editor on Calypso throws error when Gutenberg plugin is inactive"
### Steps to reproduce the behavior

1. Ensure the website is Atomic (websites on Business/eCommerce plan with customized plugin or theme installed OR active Jetpack Backup)
2. Ensure plugin Gutenberg is INACTIVE (and plugin Classic Editor is INACTIVE -- no editor plugins active on the website) -- or the plugin Gutenberg on the website is NOT symlinked
3. Create or edit post/page on Calypso
4. Edi

[2021-02-18 12:58] fstath commented on #26970
I'm re-opening the issue as the same thing happened to a user that had the interface language set to Greek. When they switched it to English they were able to verify their recovery email.

Reported and troubleshot internally: pbMDNC-dH-p2

Forum thread (in Greek): https://wordpress.com/el/forums/topic/account-recovery-link-not-working/

[2021-02-18 13:53] frontdevde opened #50231 "Nav Unification: reintroduce Classic Bright selection while retaining fallback styles in IE11"
In https://github.com/Automattic/wp-calypso/pull/49710 we ensured that Classic Bright shows when intentionally selected.

Unfortunately, this change introduced a regression in IE11 where the fallback for the CSS custom properties wouldn't be included in the CSS anymore. The change thus had to be reverted in https://github.com/Automattic/wp-calypso/pull/50230. We'll need to reimplement the change w

[2021-02-18 14:09] yuliyan commented on #49981
Control buttons are now being translated -
![CleanShot 2021-02-18 at 16 06 52](https://user-images.githubusercontent.com/2722412/108368770-7fd3fe00-7203-11eb-9817-735d12b01a78.gif)

[2021-02-18 14:20] #49713 closed, assigned to alshakero

[2021-02-18 14:20] simison commented on #49628
We closed the earlier one in calypso repo https://github.com/Automattic/wp-calypso/issues/40499

[2021-02-18 14:22] simison commented on #49628
@vindl this might be simple site specific, affecting FSE.

[2021-02-18 14:25] mmtr commented on #49211
I need some clarification about that.

I did some tests on my Atomic and eCommerce test sites, and changing the email or password from the WP Admin screen didn’t cause any effect, because SSO is enabled and users are still required to log in through wordpress.com/log-in using the previous email/password.

AFAIK, if SSO is enabled, changing the email/password in WP Admin don’t sync the changes back

[2021-02-18 14:33] tbradsha commented on #45881
@jsnajdr as of yesterday we've had a bunch of editor issues. Could #50228 have been caused by this?

[2021-02-18 14:44] simison commented on #50228
cc @Automattic/team-calypso

[2021-02-18 14:48] mmtr opened #50235 "Nav Unification: Show a warning before navigating away to WP Admin when Happychat is active"
Part of https://github.com/Automattic/wp-calypso/issues/50226

In order to workaround the lack of Happychat in WP Admin, we should display a warning to users who have a Happychat session active when they are navigating away to a WP Admin link.

If the users clicks on the ok/accept button, then we should open the WP Admin link on a new tab.

[2021-02-18 15:05] JoshuaGoode commented on #50228
The issue seems to be Calypso/editor iframing related as no site should require the Gutenberg plugin to be active and activating it isn’t a real solution.

It appears that, on these sites, the issue occurs when going through Calypso and accessing the editor like: https://wordpress.com/post/{site}/{post_id}

Going in through the WP-Admin works fine: https://{site}/wp-admin/post.php?post={post_id}&a

[2021-02-18 15:11] tbradsha commented on #50228
27842321-hc

[2021-02-18 15:22] tbradsha commented on #50228
27842692-hc

[2021-02-18 15:23] jsnajdr commented on #45881
@tbradsha #50228 doesn't seem related to this issue or the wpcom fix in the REST proxy.

This issue is about permission errors -- "Sorry, you are not allowed to edit this post" or "User cannot access this private blog" -- when saving something in iframed Gutenberg.

The fix was deployed on Wed, Feb 17, 11:37 PM UTC, so the issue could still happen for part of "yesterday".

[2021-02-18 15:27] tbradsha commented on #45881
Thanks! I hadn't had a chance to look closely, but saw this was closed about the same time the new issue came up. Probably a coincidence, then. :^)

[2021-02-18 15:39] kwight commented on #47759
Yep, that sounds right. I'm not sure the desktop app had anyone maintaining it at all at the time, so we left it as a layout that didn't need regular attention.

[2021-02-18 15:47] ghost commented on #50038
New assets: [Modal_Assets.zip](https://github.com/Automattic/wp-calypso/files/6004050/Modal_Assets.zip)

Copy coming soon.

[2021-02-18 15:56] mrsjaved commented on #49666
Another similar issue 3752310-zd-woothemes

In my case, it does not show or parse the menu when we add category links. In the editor, it displays the menu but not when you preview the live page.

It does not add the category link automatically. Screenshot -> https://d.pr/i/3agl8Y/iOkf7zwCZW

However, when we click on the category title and click the link anchor on the top toolbar I can see the lin

[2021-02-18 16:03] yansern commented on #50228
Error is originating from `registerPlugin('a8c-wpcom-block-editor-close-button-override', {` in `iframe-bridge-server.js`. More details to follow later.

To test on a non-symlinked Gutenberg atomic site, create an atomic ephemeral site with Gutenberg plugin unchecked during creation.

This cannot be replicated on atomic site (Business/eCommerce plan) created with `/new` or `/start` with gutenberg

[2021-02-18 16:18] happychait commented on #50228
13722499-hc

Activating the Gutenberg plugin solved the issue.

[2021-02-18 16:19] yansern commented on #50228
Error seems to be the use of `<MainDashboardButton>` slotfill which breaks the editor. https://developer.wordpress.org/block-editor/developers/slotfills/main-dashboard-button/

I wonder what has recently changed with this one.

[2021-02-18 16:30] scinos commented on #50231
Found a piece of the puzzle:

With the "good" selector (`:root {...}`) in `_default.scss`, when I run `yarn prepare` in this `packages/calypso-color-schemes`, I get a file in `packages/calypso-color-schemes/js/index.js` with an object with lots of `--color-*` properties.

With the "bad" selector (`:root, .color-scheme.is-classic-bright .is-nav-unification {}`), I don't get any `--color-*` properti

[2021-02-18 16:40] frontdevde commented on #50231
Thanks for reporting this, @scinos! I've just made the same discovery in slack-CJS75TX3R/p1613663106189900. Like you said it looks like it's related to the limitation of `postcss-custom-properties` only working if the selector is `:root{}` specifically.

A `quick fix` could be to duplicate the declaration of the custom properties for `:root{}` and `.color-scheme.is-classic-bright .is-nav-unificati

[2021-02-18 16:59] zdenys commented on #49952
I thought about the same feature request as it would have been helpful in 3753082-zd-woothemes.

[2021-02-18 17:14] AtrumGeost opened #50239 "Option to Hide the Page Title on any page"
**What**
It would be great to offer users an option to hide the page title on specific pages.

**Why**

Users below the Business plan don't have an option for this. If they are on the Premium plan we can help them with CSS code, but it would be great if they can do it themselves.

Users on the Personal plan, don't have an option at all so they sometimes end up leaving the title field empty. This i

[2021-02-18 17:20] yansern commented on #50228
This should be now fixed with the deployment of D57277-code.

[2021-02-18 17:51] StefanNieuwenhuis opened #50242 "Focused Launch: Redirecting to wpcom urls in wp-admin is broken"
### Acceptance Criteria
* [ ] use a domain  I own URL redirects correctly in Calypso and WP-admin
* [ ] the "go back" link in the checkout redirects correctly in both Calypso and WP-admin

### What happens

https://cloudup.com/cb7d3fhEush

[2021-02-18 17:56] cathymcbride commented on #50219
Good eye!

[2021-02-18 17:57] #49214 closed, assigned to sirbrillig

[2021-02-18 17:58] AtrumGeost opened #50244 "Form Block: The "Edit Form Settings" menu is too narrow"
### Steps to reproduce the behavior

1. Set the Italian language in your account settings (optional, but makes the issue more obvious)
2. Add the Form block to a page
3. Click on “Edit Form Settings"

#### What I expected to happen

For the menu to be wide enough so the fields and their content can be easily visualized.

#### What actually happened

The menu is too narrow, especially in specific l

[2021-02-18 18:03] simison commented on #43988
Can we confirm if share settings on Atomic are accessible for regular private sites, regardless of coming soon mode?

If they are not, I think we should change that.

Otherwise, if this is just about coming soon v1, I think it's safe to close. cc @ramonjd

[2021-02-18 18:24] tbradsha commented on #50228
@yansern Ran across this just now in 27847111-hc; they tried in two browsers and got the same error. Perhaps there's still a lingering bug?

[2021-02-18 18:28] michaeldcain commented on #30748
Confirmed that this is still an issue with the new Checkout flow. It's pretty low priority, given that you need to start with a zero decimal cart subtotal _and_ a taxable location, and it's not as significant in the new design, but I'll add it to the Shilling backlog.

<img width="602" alt="Screen Shot 2021-02-18 at 1 23 50 PM" src="https://user-images.githubusercontent.com/942359/108403556-d97cfe

[2021-02-18 18:31] lakellie commented on #50228
I also just received another report in 8624538-hc.

[2021-02-18 18:32] ctdealba commented on #50228
It seems the bug has not been fixed yet. Another report: 23366421-hc.
ZD: https://woothemes.zendesk.com/agent/tickets/3753538

[2021-02-18 18:35] michaeldcain commented on #44652
This seems to have been fixed as part of some design changes to the new Checkout flow:

<img width="346" alt="Screen Shot 2021-02-18 at 1 34 38 PM" src="https://user-images.githubusercontent.com/942359/108404688-27463600-71ee-11eb-8444-0be0d6b89853.png">

[2021-02-18 18:35] #44652 closed

[2021-02-18 18:38] Addison-Stavlo commented on #50228
Curious if we have tried asking users to clear their browser cache and try it again?

[2021-02-18 18:40] simison commented on #50228
There's indeed 1 day (or so?) cache buster on these scripts.

Refreshing the page with shift+refresh might help.

[2021-02-18 18:40] ctdealba commented on #50228
Yes, I have done that and user says is not working after doing that.

[2021-02-18 18:41] Addison-Stavlo commented on #50228
<s> Ok, digging for more details on their site setup.  Im no longer able to repro on my test site after the earlier fix. </s>

Edit - I can repro on production, although patching the fix on my sandbox fixes the behavior.  Wondering why the fix isn't live. 🤔

[2021-02-18 18:41] tbradsha commented on #50228
Clearing the cache and/or trying another browser that hadn't used WordPress.com before didn't seem to fix it.

[2021-02-18 18:59] sirbrillig commented on #44652
This may have been fixed by https://github.com/Automattic/wp-calypso/pull/49940

[2021-02-18 19:14] JoshuaGoode commented on #43988
The Sharedaddy Jetpack module is required for that and is intentionally disabled on WoA Private sites via `wpcomsh`.

A full list of modules disabled here: https://github.com/Automattic/wp-calypso/issues/43988#issuecomment-779491630

Not sure why but it was decided to do that at some point to make the site truly private when WoA private was first developed.

It's important to note that new Atomic

[2021-02-18 20:07] cathymcbride commented on #49624
Not reproing on G9.9

[2021-02-18 20:07] #49624 closed, assigned to nobody

[2021-02-18 20:22] cathymcbride commented on #42510
@razvanpapadopol is this the same as https://github.com/Automattic/wp-calypso/issues/49565?

[2021-02-18 20:39] Robertght commented on #44677
I have another case in #3735402-zen - WPCOM case.

[2021-02-18 20:46] cathymcbride commented on #41760
I'm not reproing on safari or atomic on Gutenberg 9.9.3. @xpurichan can you still repro?

[2021-02-18 20:56] vindl opened #50246 "Site Editor: unable to type N in Dotcom integration"
A Dotcom integration was reported in testing round that's not happening in core. It's not possible to type in the `N` letter into text.

[2021-02-18 21:01] Addison-Stavlo commented on #50228
Update - This is now fixed on production (there was a cache issue on the servers).  Users will need to clear their browser cache again and it should be working after that.

[2021-02-18 21:03] Addison-Stavlo commented on #50228
^^ with that this should be resolved.  but as always feel free to reopen if this issue persists after another cache clearing.

[2021-02-18 21:03] #50228 closed, assigned to yansern

[2021-02-18 21:05] noahtallen commented on #50228
Related issue regarding server-side cache busters: https://github.com/Automattic/jetpack/issues/12254

[2021-02-18 21:39] vcanales commented on #37173
Hi @Automattic/team-calypso! Bringing this up again because I just ran into it. As it was mentioned above, I was only able to reproduce it on Safari (version 14.0.2, latest.)

https://user-images.githubusercontent.com/1157901/108424488-0397e580-7218-11eb-90d7-ee63c50ba2bd.mp4

[2021-02-18 21:45] sethmclellana8c opened #50248 "Unable to publish post with reusable block (Publish-Save-Publish button loop)"
### Steps to reproduce the behavior

1. Created a post
2. Filled in various content
3. Created a "Spoiler" block with a "Task" block inside
4. Added/edited content of Spoiler block and content contained within
5. Selected Spoiler (and I assumed contents) and clicked three dot menu -> "Add to Reusable blocks"
6. A generic title for the template showed which I didn't edit
7. Went to top right to hit

[2021-02-18 22:13] alaczek commented on #50246
I run into this as well. I noticed there are console errors when I try and type the letter `N` (and `n`).

![image](https://user-images.githubusercontent.com/4550351/108428381-92e1df00-7292-11eb-8981-953addeed792.png)

Browser/system: Chrome 88.0 / macOS Catalina 10.15.7

[2021-02-18 22:17] mattsherman commented on #50059
Hmm... this one was **supposed** to be fixed by https://github.com/woocommerce/woocommerce/pull/29088 and https://github.com/woocommerce/woocommerce-admin/pull/6310.

However, I just tested this again on a few sites, and this is *not* fixed. I am not sure how we missed this one when testing before those were merged. I could swear that was fixed (I even mentioned it in 6310) -- I know, famous last

[2021-02-18 22:23] pablinos commented on #49944
I'm not sure this is clear. I think in that case it would need to be a more clear, "I want to opt out of this interface". Even then it's likely that some people will change their minds.

I definitely see your point as we're just giving people a different route in and out of `wp-admin`, but without this work on the nav unification, what's displayed in the nav bar, and the appearance of it, can be v

[2021-02-18 22:28] alaczek commented on #50246
I tried this in FF (85.0) now, and while I was able to type `n`, the console error was still there

![image](https://user-images.githubusercontent.com/4550351/108429390-01736c80-7294-11eb-8066-12c506a51b03.png)

In Safari (14.0.2), I could not type `n`, and of course, the error is there as well in the console:
![image](https://user-images.githubusercontent.com/4550351/108429903-b3ab3400-7294-11eb-

[2021-02-18 22:35] mattsherman opened #50249 "Nav Unification: WooCommerce submenu items are incorrect (in different ways) in both wp-admin and Calypso when the new WooCommerce Navigation experience is enabled"
### Steps to reproduce the behavior

1. Go to an eCommerce site with WooCommerce 5.1 Beta 1 installed (see pbIJXs-Fz-p2 for detailed instructions)
2. Verify wp-admin menu
3. Verify Calypso menu

#### What I expected to happen

I expected the WooCommerce submenu items to be correct and the same in both wp-admin and Calypso.

#### What actually happened

#### wp-admin

<img width="550" alt="eCommerc

[2021-02-18 22:53] andrewserong commented on #48889
Closing for now.

[2021-02-18 22:53] #48889 closed, assigned to andrewserong

[2021-02-18 22:58] ramonjd commented on #43988
Thanks for your input, everyone. I'll close by design for now. If it becomes a point of user frustration we can revisit.

[2021-02-18 22:58] #43988 closed

[2021-02-18 23:15] dcoleonline commented on #43919
27683104-hc

[2021-02-18 23:31] creativecoder commented on #49944
Just found this issue, there's a lot to unpack here! Immediate things to clarify:

First, this issue also affects Atomic sites with the Classic editor plugin installed, depending on the plugins settings in Settings > Writing

<img width="250" src="https://user-images.githubusercontent.com/1699996/108434164-d09c2480-720c-11eb-8f71-f78ab1aba3f8.png" />

If "Allow users to switch editors" is enabled,

[2021-02-18 23:37] creativecoder opened #50251 "Track new pages and posts created via the REST API"
We currently track page and post creation using status transition hooks, such as `draft_to_publish`. We don't track posts that go from `new_to_publish`, because the web editor scaffolds a new post on load, including a post_id, such that it never has a `new` status.

However, this quirk **affects the mobile apps**, since any posts that are immediately published via the REST API aren't counted.

One

[2021-02-18 23:48] #50086 closed, assigned to nobody

[2021-02-19 00:32] sirbrillig commented on #42345
Deploying the above fix might be a complicated decision, so I made an internal p2 post and we'll see where it goes from there pbOQVh-Ty-p2

[2021-02-19 01:28] psealock commented on #50249
Thanks for writing this up @mattsherman. There are two issues at play here.

First: The wp-admin MailChimp problem noted. Automatically migrated items like MailChimp are moved over but not appropriately hidden from the flyout menu. That is a concern of wc-admin and I created an issue to track that in https://github.com/woocommerce/woocommerce-admin/issues/6377

Secondly: Extra items visible. WooCo

[2021-02-19 02:59] roo2 commented on #49863
There are two parts to this, the first is the PR https://github.com/Automattic/wp-calypso/pull/50110 to apply the order to categories. The second is to combine restaurants category into services.

When we do this we will need to update the support document here docs https://wordpress.com/support/build-a-website-for-your-restaurant/#page-layouts

think we should only combine the restaurant category

[2021-02-19 03:25] p-jackson commented on #49863
Hmmm, that page has a reference to the "Change Layout" button too. I bet we're going to need to make a bunch of updates to a number of pages actually.

[2021-02-19 03:28] p-jackson commented on #49863
@roo2 I think we can close this issue once #50110 merges because the task to combine restaurants and services is tracked by #49862

[2021-02-19 03:30] andrewserong commented on #49019
Confirming that this is fixed in production now (the fix was deployed in: https://github.com/Automattic/jetpack/pull/18446)

[2021-02-19 03:30] #49019 closed, assigned to nobody

[2021-02-19 03:33] andrewserong commented on #48888
Closing now as the fix (https://github.com/Automattic/jetpack/pull/18446) has been rolled out to production.

[2021-02-19 03:33] #48888 closed, assigned to andrewserong

[2021-02-19 04:27] ramonjd commented on #48699
I think this is related to https://github.com/Automattic/wp-calypso/issues/45763 - headstart does the same thing for all /u unicode characters

[2021-02-19 04:41] ramonjd commented on #48699
I've done a super quick annotation fix to make things work on the frontend D57321-code

[2021-02-19 05:51] ramonjd commented on #48699
Addressed in D57321-code

I've removed the ellipsis altogether and updated the starter site. There are [translations for this](https://translate.wordpress.com/projects/wpcom/block-patterns/-all-translations/296229/).

There are problems with unicode and headstart so for now it looks a lot better just to rip it out until they're sorted.

[2021-02-19 05:51] #48699 closed, assigned to ramonjd

[2021-02-19 05:59] ramonjd commented on #48316
This has been addressed by D57320-code

The reason why it wasn't happening all the time because it was only affecting a few designs, e.g., Balan, Pollard and Gilbert

I'll close for now. Thanks everyone for your help!

Please feel free to reopen if it happens again.

[2021-02-19 06:11] ramonjd opened #50257 "Update design annotations"
Over in D57320-code we manually updated some annotations to fix a coming soon bug.

During testing we noticed that it had been a while since these annotations had been generated, and that they are in great need of an update.

D57323-code delivers that update!

[2021-02-19 07:54] jeyip commented on #50246
When we instantiate the editor iframe, we capture events from within the iframe and then manually bubble the events to its parent context [here](https://github.com/WordPress/gutenberg/blob/master/packages/block-editor/src/components/iframe/index.js#L56-L100).

The code to register masterbar hotkeys is, strangely enough, capturing those bubbled events from the editor iframe. Normally, the masterbar

[2021-02-19 08:17] scruffian commented on #46299
cc @jeffikus

[2021-02-19 08:42] #50219 closed, assigned to flootr

[2021-02-19 10:02] mmtr commented on #49211
I discussed the above with @nixiack on Slack and apparently the ability to change email/passwords is used on eCommerce sites even when SSO is enabled:

I still have not replicated that flow, since I'm not very familiar with WooCommerce, but will try to investigate a bit further in order to see the content of those emails. cc @cpapazoglou in case you are aware of anything else.

[2021-02-19 10:03] ahmadbaig1 opened #50264 "Classic Editor: Image gap in individual grid images after Gutenberg update v9.9.2"
User reported this after the update, all their classic editor grid images have started showing a gap after the first image on the front-end, however, there are no visible gaps in the editor-

Front-end-
<img width="714" alt="gap" src="https://user-images.githubusercontent.com/40609190/108488462-6c3d9b80-72c6-11eb-817d-0d269ef0aae4.png">

Editor-
<img width="986" alt="no gap" src="https://user-imag

[2021-02-19 10:23] #50242 closed, assigned to StefanNieuwenhuis

[2021-02-19 10:27] razvanpapadopol commented on #49958
Fixed in #48452

[2021-02-19 10:27] #49958 closed, assigned to razvanpapadopol

[2021-02-19 10:34] #48081 closed, assigned to razvanpapadopol

[2021-02-19 10:35] #50089 closed, assigned to nobody

[2021-02-19 11:53] yansern commented on #46943
For **6. Paid eCommerce flow for a site with Free plan**, there seems to be a discrepancy between the Calypso & WP-Admin version.

3. User picks free sub-domain and eCommerce plan in the Summary view, and clicks the "Launch" button
    - [X] The site is launched immediately. One way of verifying this, is to open a new tab to `wordpress.com/home/[SITE_ID].wordpress.com` and check if the site is lau

[2021-02-19 12:21] jsnajdr commented on #47659
If the site is showing the "Private site -- login here" banner even after redirecting to wordpress.com/log-in and back, it means that the site was unable to perform remote login.

One cause was apparently fixed by @dd32 in D56176. There was a bug that prevented inserting the remote login code into the page markup.

If remote login still doesn't work, especially on a mapped custom domain, it means

[2021-02-19 12:30] razvanpapadopol commented on #46943
Yes, we display the modal in Calypso all the time regardless of selected plan but to fix **Issue 3** we'll need to do exactly what we're doing for wp-admin. See https://github.com/Automattic/wp-calypso/pull/50267

We're planning to do this a bit nicer. See https://github.com/Automattic/wp-calypso/issues/50122

Fix in https://github.com/Automattic/wp-calypso/pull/50267

[2021-02-19 12:31] ciampo commented on #46943
This is expected. When not mentioned explicitly, we assumed that the test would happen in Calypso's iframed editor — but thank you for testing in both!

This is expected at this point in time, and tracked in #50122

From the videos, this only happens when launching from Calypso — I believe this could belong also to #50122

This may need investigating

[2021-02-19 13:24] mmtr commented on #49211
Alright, it seems that many plugins (e.g. WooCommerce Product Vendors PbTz5e-tD-p2) may need to edit users through WP Admin screens, regardless the SSO status, so we should always link to both Calypso and WP Admin to cover all possible usages.

[2021-02-19 13:44] ciampo opened #50269 "Focused Launch: "Name your site" step not shown for sites created from non-en accounts"
### Steps to reproduce the behavior

1. Change the language of your _WordPress account_ to a language different from English
2. Create a site via `/start`
3. Enable Focused Launch A/B test
4. In the editor, click on the Launch button in the header bar
5. Notice how the "Name your site" step in Focused Launch Summary view is missing

#### What I expected to happen

The "Name your site" step in the

[2021-02-19 13:50] StefanNieuwenhuis commented on #50269
Is this happening on both the `iframe` and `wp-admin`?

[2021-02-19 13:51] ciampo commented on #50269
Definitely in Calypso, probably also in `wp-admin`

[2021-02-19 13:57] getdave opened #50271 "Add the FAB icon in wp-admin, linking to wordpress.com/help in a new tab."
Forms part of https://github.com/Automattic/wp-calypso/issues/50226.

We need to add the FAB icon within WPAdmin which links to `wordpress.com/help` in a new tab.

[2021-02-19 13:57] razvanpapadopol opened #50272 "Focused Launch: plan from cart automatically selected when unsetting Free plan"
### Steps to reproduce the behavior

1. Create a site via `/start` and add Personal annual plan to cart but abandon Checkout
2. Enable Focused Launch A/B test
3. In the editor, click on the Launch button in the header bar
4. Notice how the Personal plan is displayed as pre-selected in Focused Launch Summary view
5. Open Focused Launch plan details view and select another paid plan with a monthly b

[2021-02-19 13:59] StefanNieuwenhuis commented on #50269
It looks like `isSiteTitleStepVisible` saved in the `automattic/launch` store is the culprit but I'm not sure why its value is `false` when a site is created in another language than English.

<img width="608" alt="Screenshot 2021-02-19 at 14 57 12" src="https://user-images.githubusercontent.com/12104589/108513352-c63c6200-72c2-11eb-8833-db6c42c9beec.png">

[2021-02-19 14:02] ciampo opened #50273 "Site creation (/start): flow stuck on previous flow (eg: launch-site)"
**NOTE:** currently WIP in https://github.com/Automattic/wp-calypso/issues/53254 by resetting the store between flows.

___

The `/start` site creation flow may get stuck if the user is trying to create multiple sites in one session.

Not entirely sure how to consistently reproduce this behaviour (see step 2 below), but it's already happened to me a few times — simulating a slow connection may hel

[2021-02-19 14:07] ciampo commented on #50269
@StefanNieuwenhuis you may want to take a look at these lines of code: https://github.com/Automattic/wp-calypso/blob/8e78abe71630b4fce1a03c7ca27472ae1daf746c/packages/launch/src/focused-launch/summary/index.tsx#L574-L581

And, therefore, these lines: https://github.com/Automattic/wp-calypso/blob/8e78abe71630b4fce1a03c7ca27472ae1daf746c/packages/launch/src/utils.ts#L10-L19

Probably there are discr

[2021-02-19 14:23] yansern commented on #50269
Just for reference.

`wp-content/lib/blogs/blogs.php` at line 79-81.

[code]

[2021-02-19 14:47] mmtr commented on #49211
On a second thought, and after reviewing once again the whole discussion at paYJgx-1lp-p2, I think the current proposed solution at https://github.com/Automattic/jetpack/pull/18805 should work:
- If the "Replace all dashboard pages with WP Admin equivalents when possible" setting is disabled, we add a link to `/wp-admin/users.php`.
- If the "Replace all dashboard pages with WP Admin equivalents wh

[2021-02-19 15:17] Copons opened #50277 "Site Editor: Navigation block might break for an infinite loop"
The repro steps for this are weird, but I could reduce them all the way down to these, although the issue only happen sporadically.

### Steps to reproduce the behavior

1. Open the Site Editor on a site using Seedlet (although it might happen with other themes as well).
2. Select the Navigation Block.
3. Click on its icon to open the "Convert To" dropdown.
4. Click anywhere else to deselect the b

[2021-02-19 15:22] mattwiebe commented on #50246
Unfortunately that's not what event namespacing does. It's largely a way for a plugin to be able to manipulate its own events without impacting events registered by another plugin.

[2021-02-19 16:04] razvanpapadopol commented on #42510
@cathymcbride, no this is happening in the `/start/new-launch` launch flow (the one that you start from Site setup checklist on My Home for sites created on `/new`).

[2021-02-19 16:46] kwight opened #50279 "My Home: User can be prompted to launch their already-launched site."
If a user launches their site from the editor before having visited My Home, they will first get the launch celebration card, and then their first view of the site checklist (if they select it):

<img width="1012" alt="Screen Shot 2021-02-19 at 8 42 22 AM" src="https://user-images.githubusercontent.com/349751/108534227-c02c8e00-728e-11eb-810d-494ef4d147d2.png">

They're told they'll be guided thro

[2021-02-19 16:48] kwight commented on #50279
This could be easily fixed by dropping the mention of launch, something like "Next, we'll guide you through completing your site setup."

[2021-02-19 17:01] mattwiebe commented on #50246
I've got a fix for this in D57358-code

[2021-02-19 17:21] sirbrillig commented on #48966
When https://github.com/Automattic/wp-calypso/issues/48421 is closed, we can removed `PaymentMethodForm` and `CreditCardFormFields`.

[2021-02-19 17:32] zdenys commented on #50231
I just noticed that Classic Bright if selected, sets the dark color instead. And in my understanding, it is due to the above issue. But if it's not, I'll report it separately.

https://user-images.githubusercontent.com/39308239/108539790-1dedc400-72e9-11eb-9ad3-7d4fbf4ba3d4.mov

[2021-02-19 17:39] mattwiebe commented on #50246
The fix is live, closing this

[2021-02-19 17:44] akmyta commented on #34002
Another report was made here: #3741014-zen

[2021-02-19 18:06] liviopv commented on #50212
Another case in 3737948-zen

[2021-02-19 18:31] sirbrillig commented on #24019
We're nearly there, thanks to some wonderful work by the Domains folks. As of now, places still using `lib/cart/actions` are:

- `SiteRedirectStep` in domain search which adds a site redirect product when the form is submitted (fixed by https://github.com/Automattic/wp-calypso/pull/50282)
- `domainSearch` in the domains controller which adds a personal plan if `?ref=upgrade` (fixed by https://gith

[2021-02-19 18:31] carinapilar commented on #38807
Another case on 3753856-zd-woothemes.

[2021-02-19 18:50] worldomonation commented on #50273
I've also reproduced this during both e2e tests.

Video of the local e2e test run (`Launch when having multiple sites`):
https://user-images.githubusercontent.com/6549265/108547595-8adc6c00-729f-11eb-8eac-9126e42b7792.mov

This issue has been responsible for failing e2e runs:
- [example 1](https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/58542/workflows/335873eb-fd0b-

[2021-02-19 20:25] iandunn commented on #47659
Hi @jsnajdr 👋🏻 , thanks for looking into it!

I do get a different reason for the block:

<img width="932" alt="Screen Shot 2021-02-19 at 12 14 37 PM" src="https://user-images.githubusercontent.com/484068/108556826-794d9100-72ac-11eb-8a1b-e8e4e95a96a2.png">

My settings only block 3rd party cookies in private windows:

![Screen Shot 2021-02-19 at 11 57 42 AM](https://user-images.githubusercontent.

[2021-02-19 20:32] tanjoymor commented on #41272
This same issue occurred on a site using the Classic Editor with a gallery: #27874150-hc

[2021-02-19 20:36] ianstewart commented on #49141
Do you mean setting up something like https://blankstarter.wordpress.com/ in order to create Headstart annotations with?

[2021-02-19 20:40] iandunn commented on #47659
Hmm, it seems like [HTTPS Everywhere](https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp?hl=en) is the problem.

If I logout, disable it, and then log back in, the cookie isn't blocked. If I logout, enable it, and log back in, then the cookie _is_ blocked.

It seems like it prevents the cookies from getting the correct `SameSite` setting when they're set, s

[2021-02-19 20:44] ianstewart commented on #46979
I think I'd prefer changing the sort order on them vs hiding them. There may be instances for engaged users where they're following a tutorial, plugin instructions, theme instructions for shortcodes or classic block support and may still need it. If it's not possible to change the sort order we should figure that out. :D I think we already should do it for things like the Text category …

![image]

[2021-02-19 20:51] mikekaganski opened #50287 "SyntaxHighlighter Code block treats three mixed quotes as "triple quotes" denoting "triple-quoted strings""
Consider this Python code:

[code]

This code assigns a bytes literal to `ch`, and then checks if `ch` is equal to bytes literal.
But SyntaxHighlighter Code block in WordPress treats everything between first `'"'` to last `'"'`, i.e., text on three lines:
[code]
as a comment.

It looks as if the code block confuses these three characters for three singlequotes or three doublequotes; and then it th

[2021-02-19 21:00] annbingle opened #50288 "Map Block - Dispappears When Adding 50 or More Markers."
Please take note of the following:
1. This has been tested on both AT and Premium site, works fine on AT Site.
2. An account from Mapbox is used for testing.

### Steps to reproduce the behavior

1. Go to My Site > Site > Pages > Add New.
2. Click on the + sign then search for Map block. Click on it.
3. On the Map block settings, enter the Mapbox Access Token.

<img width="1106" alt="Screen Shot 2

[2021-02-19 22:03] obenland commented on #30426
@xknown Any chance you might be able to take another look at this? I was able to reproduce it with a ppsx file I converted from a powerpoint file: https://github.com/Automattic/wp-calypso/files/6013014/test.ppsx.zip

It looks like it's passing the filter you added as expected, but I've been unable to determine what happens after that makes that request fail.

[2021-02-19 22:29] jeyip opened #50289 "Global Styles: Font styling is not applied to the editor"
### Note
This is only happening on full site editing enabled WordPress instances

### Steps to reproduce the behavior

1. Create a new site editing enabled site
2. Take note of the font styles in the onboarding flow design preview
3. Open the site editor or the post editor and verify that the fonts don't match

### Screenshots
#### Gutenboarding Design Preview
<img width="371" alt="Screen Shot 202

[2021-02-19 23:06] ahmadbaig1 commented on #49796
@JoshuaGoode It happened while setting up a new Stripe account while adding the block to the site.
I tried on a different site but could not reproduce it. Perhaps this issue is in the flow of a new Stripe signup?

[2021-02-19 23:16] jeyip opened #50294 "CoBlocks: "Replace Image" button incorrectly positioned"
### Steps to reproduce the behavior

1. Create a new site editing enabled site
2. Navigate to the site editor
3. Upload an image
3. Open the block inspector and verify that the "Replace Image" button is incorrectly positioned

## Site Editor
<img width="285" alt="Screen Shot 2021-02-19 at 3 14 10 PM" src="https://user-images.githubusercontent.com/5414230/108571519-3350f700-72c5-11eb-9beb-9034b942d

[2021-02-19 23:37] worldomonation commented on #26970
Removed stale label as issue has been re-opened.

[2021-02-19 23:45] jeyip commented on #50294
### Site Editor
<img width="2293" alt="Screen Shot 2021-02-19 at 3 43 38 PM" src="https://user-images.githubusercontent.com/5414230/108573448-78772800-72c9-11eb-9096-5ab49120efa8.png">

### Post Editor
<img width="2293" alt="Screen Shot 2021-02-19 at 3 43 32 PM" src="https://user-images.githubusercontent.com/5414230/108573460-7c0aaf00-72c9-11eb-9916-0a5a43d64481.png">

[2021-02-20 01:18] worldomonation opened #50298 "Social Login: can log in using social login even if email address is replaced"
### Steps to reproduce the behavior

Prereq. Have a social login.

1. Sign up for a new account at `/start`
2. Log in using a Google account.
3. Complete new user onboarding.
4. Go to Me > Account Settings.
5. In the `Email Address` field, enter a new email address that is not Gmail.
6. Confirm and verify the changes by clicking on the link that is sent to the new email address.
7. Under Me > Acco

[2021-02-20 06:05] arunsathiya commented on #50181
@JoshuaGoode That is correct. 👍🏽 However, the context that lead to this GitHub issue is that, an user added an email forwarding to their account and then purchased Titan. They are trying to remove that email forwarding record now, but we don't see an option on Calypso to do that anymore.

Wendie started a discussion on P2 as well - pcyqBp-1C-p2

[2021-02-20 07:44] hacchism opened #50301 "Reblog: Extra spaces get added around paragraphs in the posts with Reblog content"
### Steps to reproduce the behavior

1. Visit a WordPress.com simple site post that has the Reblog feature enabled
2. Reblog the post to one of your simple sites
3. Edit the post created with Reblog and add some paragraphs(with Paragraph Block) into the post

#### What I expected to happen

See the proper spacings between paragraphs

#### What actually happened

Some extra spaces(correctly speakin

[2021-02-20 08:47] worldomonation opened #50302 "Editor: post-publish sidebar is automatically dismissed."
### Steps to reproduce the behavior

1. Create a new post.
2. Enter some title.
3. Insert a `Payment with Paypal` block.
4. Fill out the required details.
5. Publish post.

#### What I expected to happen
Sidebar remains on screen.

#### What actually happened
Sidebar is forcibly dismissed.

### Context
Fixing flakey e2e tests.

#### Browser / OS version
OS: macOS Big Sur 11.1 (20C69)
Browser: Fire

[2021-02-20 08:54] zdenys commented on #42973
Related: https://github.com/Automattic/jetpack/issues/3019

[2021-02-20 09:39] zdenys opened #50303 "CoBlocks Galleries: Cannot make captions hyperlinked, bold, italic"
### Steps to reproduce the behavior

1. Add a CoBlocks Gallery Block (Stacked or Masonry for example) with a few images
2. Toggle on the caption feature in the right sidebar and type in a caption for one of the images
3. Select the caption
4. See no toolbar appearing
5. Switch to a different tab and come back
6. See the toolbar appear
![](https://d.pr/i/8LIVom+)
_Link: https://d.pr/i/8LIVom_
7. Tr

[2021-02-20 12:42] JoshuaGoode commented on #50181
When a user changes their MX records or purchases something like Titan that changes them, forwarding is disabled automatically so there's no need to access or edit the old forwards. They don't do anything at that point.

Essentially, when the `smtp-fwd.wordpress.com` MX record is not present, the forward addresses are disabled and
`wordpress.com/email/{$domain}/forwarding/{$domain}` is no longer a

[2021-02-20 20:34] msilbers opened #50304 "Embeds: Flickr Video Embeds not working"
### Steps to reproduce the behavior

1. Go to Add New Post
2. Add a Flickr Video URL to embed it
3. Hit enter to let it load/embed
4. See the word "Forbidden" and the video not displaying

<img width="854" alt="Screen Shot 2021-02-20 at 3 30 16 PM" src="https://user-images.githubusercontent.com/31680407/108607800-9fe4f800-7390-11eb-8703-3c05bb5058d2.png">

I have left the broken embed on a post on

[2021-02-20 20:42] adelineyaw commented on #50304
Case: 3755867-zd-woothemes

[2021-02-20 22:02] msilbers commented on #50304
customer report in 3758345-zd

[2021-02-20 22:12] noteeth commented on #38807
Another case of this 3756640-zd
Business plan expired and new owner purchased Personal plan.

[2021-02-21 02:48] noteeth opened #50305 "Desktop App: adjusting size of app window causes navigation layout issues"
### Steps to reproduce the behavior

1. Go to calypso from desktop app.
2. Reduce size of app window
3. See page content overlapping left side navigation tabs

#### What I expected to happen
Expected all content to reduce evenly

#### What actually happened
App window is not navigable at reduced size

### Context

#### Browser / OS version
Big sur 11.2.1, Desktop App beta 6.10

#### Does this happ

[2021-02-21 02:57] jordesign commented on #49788
Provided CSS workaround to user in 27896098-hc

[2021-02-21 07:17] ahmadbaig1 commented on #50264
Has been reported here zd-3736904 for site reference.

[2021-02-21 14:20] TheSteveK commented on #50126
Another example in #3740963-zen  User has worked around the issue by using a pre-cropped image and selected skip cropping.  In this case, we couldn't reproduce it, but the user got the error even when using a different browser.  Image width is 1280.

[2021-02-21 19:15] carladoria opened #50306 "Tiled Gallery block: The Editor has encountered an unexpected error in Bigger Galleries"
### Steps to reproduce the behavior

1. Add a Tiled Gallery Block
2. Add a big number of images, at least 50* images
3. Click the block's pencil icon in the floating toolbar to modify the images
3. Modify one of the images by selecting a different image from the media library

You will see

The Editor has encountered an unexpected error /Attempt Recovery Copy Post Text, Copy Error
<img width="1792

[2021-02-21 22:10] selectedselections commented on #50126
Another example in #3739945-zen
Theme is Kent

The issue is intermittent and appears to work sometimes and is resolved by switching to Chrome. Image is 900 ✕ 900

[2021-02-21 22:17] #49863 closed, assigned to roo2

[2021-02-21 23:11] andrewserong commented on #49742
Fixed in #50253 and deployed to production in #50204. It turns out the cause was the the position in the DOM where the `style` tags get rendered was recently moved / tweaked in Gutenberg. The solution in #50253 was to better target the `style` tags when copying the styles to the iframe, so that we no longer expect them to be present at the root level / a direct child of the `body` element.

[2021-02-21 23:11] #49742 closed, assigned to andrewserong

[2021-02-21 23:16] alaczek commented on #50171
I encountered the same issue, but _I think_ this might be theme-specific, so reported here: https://github.com/Automattic/themes/issues/3263

[2021-02-22 00:38] psealock commented on #50059
😓

I confirmed this is caused by the conditional added in https://github.com/woocommerce/woocommerce-admin/pull/6310/ that applies the new logic for `version_compare( WC_VERSION, '5.1', '>=' )`. The condition must evaluate to `false` when the version is `5.1.0-beta.1` because I hard coded to true and re-uploaded `5.1.0-beta.1` and things are working as they should.

I wouldn't mind another set of

[2021-02-22 01:21] autumnfjeld commented on #48704
Hm, I wonder if the new Editing Toolkit process will change anything about the way image files are copied.  @noahtallen will the new ETK release process allow for binary files to be  the issues with binary files (image files specifically) to be copied into wpcom?  Or will we need to wait until wpcom transitions to git?  This is low priority, just wondering how new ETK release process might change

[2021-02-22 01:41] noahtallen commented on #48704
Good question! I think it is possible we can implement this now. I'll look into it this week. We'll be operating a little closer to the system (less "magic"), so it might be easier to do

[2021-02-22 03:01] noahtallen commented on #48704
I also wonder if it makes sense to add the images to the CDN directly instead. I know very little about this problem space though 🤔

[2021-02-22 03:54] ollierozdarz commented on #50186
Hey @razvanpapadopol @ciampo, I'm having a little bit of trouble following this one to provide a design. Would you mind giving some more context please? 🙂

[2021-02-22 04:36] ramonjd commented on #47758
Since November 2020 we've hidden the Fullscreen option from the post editor via the calypsoify admin plugin See: D52799-code

Wonder why that wouldn't be working 🤔

[2021-02-22 06:21] autumnfjeld opened #50310 "New Page Layout Picker: mshots integration"
## Description
The new Page ~Layout~ Pattern Picker launched last week (March 2021) which removed the large preview from the flow of picking a page pattern from the Page Picker. Improvements are needed to ensure the smaller previews provide the user with a quality preview of the entire layout.

Once mShots work is deployed https://github.com/Automattic/mShots/pull/18  integrate usage in layout pic

[2021-02-22 06:31] autumnfjeld commented on #48704
That was the solution we went with, we moved the images to CDN.  And maybe that is the best/simplest solution.

The one upside to have images near the code is well, the images are near the code. 😄 Making maintenance easy and being able to use React imports for images in folders.

[2021-02-22 07:52] frontdevde commented on #50231
@zdenys Yes, that is due to the above issue. No need to report separately. Thank you!

[2021-02-22 08:30] rachelwinspear commented on #28567
Another request: #3755376-zen

[2021-02-22 08:38] mrfoxtalbot opened #50312 "Unified Nav on Atomic sites will use the site language, not to account language"
### Steps to reproduce the behavior

1. Set you account language to EN
2. Set an Atomic site's language to something other than EN
3. Take a look at the Unified Navigation

#### What I expected to happen

I expect the navigation to be on the same language as the user's account.

#### What actually happened

The unified navigation will show in the site's language instead.

### Context

I was testin

[2021-02-22 09:22] mmtr commented on #50249
I wonder if we should update the `admin-menu` endpoint to exclude menu items with these classes, since the `hide-if-class` definitely shows a clear intent of hiding the menu item.

Alternatively, there are ways of registering a route without a menu, but they all feel _hacky_, since there isn't any simple WordPress function we can use just for that. We recently had to to something similar in Jetpac

[2021-02-22 09:34] ciampo commented on #50186
Hey @ollierozdarz, we are referring to this part of the Focused Launch modal:

![image](https://user-images.githubusercontent.com/1083581/108689177-0be27000-74f9-11eb-9ec1-3693663b19fd.png)

The user is able to pick monthly or annually billed plans, but that information (and what it implies) is not shown in the Focused Launch Summary view.

At the moment the billing period is not shown to the user

[2021-02-22 09:59] tyxla opened #50316 "Build: Consistently failing when splitChunks enabled"
I've been getting reports from seeing the following error while developing Calypso locally:

![](https://cldup.com/vS1dtOhWpf.png)

Thus far, I've been unable to reproduce it consistently. Folks reported that it often occurred during switching branches, but also sometimes after making a single change in the current branch.

Today I've found a reliable way to reproduce the error. It appears to be s

[2021-02-22 09:59] simison commented on #47759
I believe the desktop app now has a maintainer, @nsakaimbo :wave: Nicholas, would you recommend us making sure the Customer home matches web version?

My assumption is that we would have test coverage for customer home ensuring nothing breaks across web/desktop?

[2021-02-22 10:01] tyxla commented on #50316
While I haven't dug into it further, it looks like it's a code splitting / chunking problem. Maybe we fail to identify the chunks after rebuilding and there is a bigger change to chunks or chunk order.

What I noticed is that when I change webpack's `optimization.splitChunks.chunks` from `all` to `async`, I can no longer reproduce this error. This can't be the fix, though, because it'll likely cau

[2021-02-22 10:02] tyxla commented on #50316
cc @scinos @jsnajdr in case you're interested to take a stab at it.

[2021-02-22 10:36] carinapilar opened #50317 "Related Posts: Clarify the Option in Settings"
### Steps to reproduce the behavior
Go to Tools > Marketing > Traffic, on the "Related posts" section, it says:

It might lead you to believe that the settings won't be applied on any post that was created using the block editor, while it seems to be referring to the Related Posts block only. The link also sends you to the Jetpack support doc, while there's one for WordPress.com here: https://word

[2021-02-22 11:09] scinos commented on #50316
What I've found so far:

After applying the patch, webpack decides to move modules around between chunks. As result, the new code now requires the new chunk `vendors-node_modules_wordpress_i18n_build-module_index_js-node_modules_lodash-es__createWrap_-7a4517`. This should be loaded via a `<script>` tag in the initial HTML, however *it is not there*. In fact, the list of `<script>` tags in the init

[2021-02-22 11:17] #49826 closed, assigned to frontdevde

[2021-02-22 11:43] StefanNieuwenhuis opened #50320 "Extract plan selection logic to a (reusable) hook"
#### Why?

Our code must be comprehensible, maintainable, and reusable, hence we have to abstract the plan selection logic (see reference) to a (reusable) hook.

#### What?

Currently, the plan selection logic is contained in the `<FocusedLaunch/>` component.
Here, several checks are executed to comply with all the variants (e.g. when available, select the plan from the checkout cart, initially) t

[2021-02-22 11:46] StefanNieuwenhuis opened #50321 "Focused Launch: Extract domain pre-selection logic to a (reusable) hook"
#### Why?

Our code must be comprehensible, maintainable, and reusable, hence we have to abstract the domain selection logic (see reference) to a (reusable) hook.

#### What?

Currently, the domain selection logic is contained in the `<FocusedLaunch/>` component.
Here, several checks are executed to comply with all the variants (e.g. when available, select the plan from the checkout cart, initiall

[2021-02-22 11:48] mmtr commented on #50249
I opened https://github.com/Automattic/jetpack/pull/18898 for excluding the hidden items from the API response.

[2021-02-22 11:59] getdave commented on #50174
Removing `Blocker` as this is covered in our roadmap under "e2e testing fixes".

[2021-02-22 11:59] getdave commented on #50173
Removing `Blocker` as this is covered in our roadmap under "e2e testing fixes".

[2021-02-22 11:59] getdave commented on #50038
Removing `Blocker` as this is covered in our roadmap under "e2e testing fixes".

[2021-02-22 12:02] getdave commented on #50037
Removing `Blocker` label as covered elsewhere.

@tjcafferkey Let's add this to the [launch tasks tracker Issue](https://github.com/Automattic/wp-calypso/issues/50080).

[2021-02-22 12:04] tjcafferkey opened #50322 "Nav Unification: Announcement modal copy updates"
**What**

Update the announcement modal copy for different environments

**Why**

As per p1HpG7-bcl-p2#comment-44591 comment we should not mention WP.com for Jetpack sites in the announcement modal.

**Acceptance criteria**

[2021-02-22 12:05] tjcafferkey commented on #50322
Hey @sfougnier 👋🏻   do we have any update on the copy changes to the modal here?

[2021-02-22 12:10] getdave commented on #49250
Removing the `Blocker` label as this is tracked elsewhere on our roadmap.

[2021-02-22 12:10] getdave commented on #50322
Removing the `Blocker` label as this is tracked elsewhere on our roadmap.

[2021-02-22 12:11] getdave commented on #49211
Removing the `Blocker` label as this is tracked elsewhere on our roadmap under https://github.com/Automattic/wp-calypso/issues/49262.

[2021-02-22 12:15] WunderBart opened #50323 "Gutenberg: v10.1.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/50060
Release notes: [v10.1.0](https://github.com/WordPress/gutenberg/releases/tag/v10.1.0), [10.1.1](https://href.li/?https://github.com/WordPress/gutenberg/releases/tag/v10.1.1)

### Process

- [x] Install and activate
  - [x] Copy & install v10.1.0-rc.1 (D57602-code, D57605-code)
  - [x] Activate v10.1.0-rc.1 on edge (D57608-code

[2021-02-22 12:16] WunderBart commented on #50060
This one's done! 🎉 Next one: https://github.com/Automattic/wp-calypso/issues/50323

[2021-02-22 12:25] jsnajdr commented on #47659
I can reproduce the issue with the HTTPS Everywhere extension installed.

The trouble is that a successful `wp-login.php` is setting the `wordpress_logged_in` cookie twice, with different `secure` and `SameSite` attributes:
[code]

The `secure` attribute apparently makes a cookie unique and the browser's cookie storage stores them as two different cookies instead of overwriting them.

Now HTTPS Ev

[2021-02-22 12:45] #50272 closed, assigned to yansern

[2021-02-22 12:47] cpapazoglou commented on #50174
@bsessions85 I have experienced some problems with the approach of adding the needed `data-tip-target` in the admin-menu api https://github.com/Automattic/jetpack/blob/7c93abdede8a7b64694a7bd0534db6a3ed352a79/projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php#L209.

The thing is, that the menu items are declared either with `add_menu_page` or

[2021-02-22 12:47] #49211 closed, assigned to mmtr

[2021-02-22 13:30] simison commented on #49141
@ianstewart maybe, not sure how all the things are tied together. :-) @andrewserong might have better idea.

I guess this should become functional:

https://public-api.wordpress.com/rest/v1/template/demo/blank-canvas/blank-canvas/?language=en&site_title=&font_headings=Playfair%20Display&font_base=Fira%20Sans

Currently that API returns `{"error":"no-site","message":"No source site found."}`

That

[2021-02-22 13:30] jsnajdr commented on #49237
The REST proxy iframe relies on sending cookie-authenticated requests to _public-api.wordpress.com_. And because the top-level domain for local Calypso is _calypso.localhost_, the _public-api.wordpress.com_ domain is third-party. And Safari blocks third party cookies. Therefore _public-api.wordpress.com_ requests are not authenticated. This approach is broken forever and will never work again.

Th

[2021-02-22 13:40] #50316 closed, assigned to nobody

[2021-02-22 13:53] kbrown9 commented on #36662
I don't see a warning in the ecommerce plan flow. These two flows did not display warning that the domain was changed:

* Purchasing an ecommcerce plan during initial site creation.
* Upgrading to an ecommerce plan on an existing site.

[2021-02-22 13:56] #49992 closed, assigned to aneeshd16

[2021-02-22 14:00] yansern commented on #49565
Apparently, `isResolving` is still returning `true` after the request to `getSelectedSite` is completed.  This causes the site object to exist for a split second, and then reassigned to `undefined` again. See PR fix at: https://github.com/Automattic/wp-calypso/pull/50327/files#diff-eeebf71992b542ec2bce9b1a975643c2e0ebe825fc439ed7784ac0491b8fd40fR131

PSA: While debugging this, I noticed that setti

[2021-02-22 14:00] aidvu commented on #36662
Interesting, and you are correct indeed. The Business and eCommerce plan differ, as the eCommerce plan purchase makes the site Atomic, while buying Business doesn't (user has to install a plugin or a theme, or choose to go Atomic in the Hosting Configuration in Calypso). Not sure if we can somehow plug in the current Warnings screen that we use for Business plans.

[2021-02-22 14:21] simison commented on #42510
:wave: @klimeryk Do you think this would fit domains-gaps work? (ref p99Zz8-1BJ-p2)

[2021-02-22 14:39] frontdevde commented on #49519
With a Nav Unification launch scheduled after the release of WP 5.7, this issue increases in priority and will have to be adressed prior to launch.

This issue includes two parts:
1. In Calypso we need to implement the new hover/focus state changes for the normal/collapsed sidebar. We need then to ensure that it matches the new WP 5.7 colors for all color schemes that originated in wp-admin. Last

[2021-02-22 14:48] rosepajaroja commented on #49151
Hello @apeatling I am also experiencing the same issue. It happens both on Earn and Page/Post Editor.

https://www.loom.com/share/d20b2397836c41e5bff520a61deb1f7f

I couldn't test reconnecting Stripe, because that also has an issue:

https://github.com/Automattic/wp-calypso/issues/45427

Thank you!

[2021-02-22 15:11] simison commented on #46979
That's a bug actually, fixed in the next Gutenberg version: https://github.com/WordPress/gutenberg/pull/28945

[2021-02-22 15:11] #50249 closed, assigned to mmtr

[2021-02-22 15:13] simison commented on #47117
@scruffian Assuming this can be closed already, as from what I know this has been fixed in themes and we haven't heard about new reports?

Feel free to re-open if still active issue.

[2021-02-22 15:19] bsessions85 commented on #50174
@cpapazoglou As long as we have a way to know what menu item and submenu item we need to click and it is consistent, even if the language changes, I can work with it.

When I look now I don't see a way to recognize "Post" being a menu so if we can add something there to identify it so we can click it to get the submenu, then we'll need some way to identify the items in the submenu. I think we coul

[2021-02-22 15:24] simison opened #50332 "Button styles leaking to editor UI"
Regular simple site, using Hever theme, Firefox, while proxied, many buttons seem to be visually broken.

Image block, buttons look suspiciously round-cornered and hover state is black:

<img width="492" alt="Screenshot 2021-02-22 at 17 22 06" src="https://user-images.githubusercontent.com/87168/108728789-8e3b5600-7532-11eb-9bef-816067878042.png">

Social icons block is busted, here are "pills" an

[2021-02-22 15:40] kriskarkoski opened #50333 "Content not editable in Gutenberg"
Details in p1614006187022200-slack-CBTN58FTJ and 3717435-zd-woothemes

### Steps to reproduce the behavior

Some pages appear normally on the front-end of the site and in the Classic Editor, but when editing from Gutenberg it's empty except for a Group block:

![Screen Shot 2021-02-22 at 10 36 17 AM](https://user-images.githubusercontent.com/1900444/108730735-d1c59e00-74f9-11eb-94ad-1317d9a25882.p

[2021-02-22 15:50] WunderBart commented on #50332
It seems to be theme related. On Blank Canvas it all looks good. I can see that it's broken for i.e. Mayland:

| Blank Canvas | Mayland  |
| ------------- | ------------- |
| <img width="644" alt="Screenshot 2021-02-22 at 16 51 32" src="https://user-images.githubusercontent.com/1451471/108732901-43b7da80-752e-11eb-9432-3b89783c3a85.png"> | <img width="813" alt="Screenshot 2021-02-22 at 16 47 20" s

[2021-02-22 16:00] simison commented on #50332
👍 Twenty Twenty One theme worked.

👎 Shawburn theme broken:
<img width="919" alt="image" src="https://user-images.githubusercontent.com/87168/108734131-d1e48e80-7537-11eb-9283-f020cbd7cf9b.png">

[2021-02-22 16:03] mattsherman commented on #49428
This was closed via #50070

[2021-02-22 16:03] #49428 closed, assigned to becdetat, moon0326

[2021-02-22 16:07] ciampo opened #50334 "TypeScript errors are not caught when building Editing Toolkit"
### Steps to reproduce the behavior

1. On your local machine, introduce a TypeScript error in the `apps/editing-toolkit` folder (for example: #50335)
2. Notice how the error is flagged in a IDE that supports TypeScript
3. Build the project (`yarn && yarn build` in one terminal tab) and ETK (`cd apps/editing-toolkit && yarn build` in another tab)
4. Notice how the build completes, and no TypeScrip

[2021-02-22 16:08] WunderBart commented on #50060
Reopened because the bug reported in https://github.com/ItsJonQ/g2/issues/266 is causing WSOD for some users and we need a patch release. See more details in this issue's description.

[2021-02-22 16:12] sarayourfriend opened #50336 "Flaky test: Insert embeds: @parallel"
## Overview

[WPCOM] Calypso Gutenberg Editor: Posts (mobile) Insert embeds: @parallel Can publish and view content is flaky: https://app.circleci.com/pipelines/github/Automattic/wp-e2e-tests-for-branches/58886/workflows/c6a14fb3-5d4d-46ac-853a-7099ce2e124d/jobs/143379

[2021-02-22 16:13] xpurichan commented on #41760
@cathymcbride I just re-tested on a simple site and an AT site and both are working well for me!

MacOS: 10.15.7
Safari: Version 14.0.3 (15610.4.3.1.6, 15610)
Gutenberg: 10.0.0
Jetpack: 9.4.1

[2021-02-22 16:20] ianstewart opened #50338 "CoBlocks Editor Settings appear (unprefixed) as Editor Settings in Editor Plugins list on Atomic sites (and only on Atomic sites)"
### Steps to reproduce the behaviour

1. Create a new site on WPcom
2. Install a plugin
3. Navigate to Block Editor
4. In Block Editor click "Options" ellipsis in top-right corner
5. See Editor settings in list of Plugins Options

![image](https://user-images.githubusercontent.com/545779/108736730-7d212380-74f7-11eb-8a14-cf6bec9f536a.png)

#### What I expected to happen

I did not expect to see it

[2021-02-22 16:30] mattsherman commented on #49439
This was fixed via D56685-code

[2021-02-22 16:30] #49439 closed, assigned to moon0326

[2021-02-22 16:40] getdave commented on #50080
Let's make individual, well-formed Issues for all of these tasks and add them to our Backlog for this coming Iteration 4.

[2021-02-22 16:41] getdave commented on #47050
Reopening as we want to re-affirm our understanding once more.

* exact process and timing for ramping up - do we still follow this?
* Do we still need to restrict to Scenario 2 “Single Site”.
* Ramp slowly?
* Do we enable for all new users? or just existing?

[2021-02-22 16:43] robertbpugh commented on #5086
This is also in my marketing email backlog. But also not a short term fix. Will add this ticket as a reference.

[2021-02-22 16:48] ciampo commented on #50334
cc'ing @Automattic/team-calypso-platform

[2021-02-22 17:16] annezazu commented on #47117
This is still active on the same site mentioned above. Same screenshots mentioned here still apply: https://github.com/Automattic/wp-calypso/issues/47117#issuecomment-740070466 If I create a new page, I find the styles still don't match in editing vs preview:

Editing:

<img width="1427" alt="Screen Shot 2021-02-22 at 8 24 47 AM" src="https://user-images.githubusercontent.com/26996883/108729435-c0

[2021-02-22 17:20] simison commented on #49225
I think my gut feel would actually not do this because they're just demo images I'd expect customers to replace. @ianstewart UX-thoughts on this one?

cc @ramonjd @autumnfjeld

[2021-02-22 17:20] kwight commented on #47759
The server-side library itself that determines the cards and layout have unit test coverage, yes.

[2021-02-22 17:25] obenland commented on #47050
Thanks for re-opening the discussion. I think today I'd be leaning towards scenario 1 with the addition of all new users.

`UserId < latestUserId && ( UserId % 100 ) < 5`

In terms of ramp up speed and increments, I wouldn't mind making those decisions as it's happening and we have a better understanding of support load and issues.

[2021-02-22 17:34] metabreakr commented on #30051
#3760593-zen

[2021-02-22 17:49] simison commented on #49242
@andrewserong @ianstewart this seems better handled in View team? Lemme know if not though!

[2021-02-22 18:42] cathymcbride commented on #34002
Looks like this should be fixed in core?

[2021-02-22 18:54] scinos commented on #50334
I don't see any CI build or script to validate types in ETK (or in other /apps).

- In Calypso, we have the step "Run type checks" as part of the unit tests, but it only type-checks `packages/*` and `client/landing/gutenboarding` in Calypso.

- The build process of ETK uses webpack+babel to transpile TypeScript files. AFAIK it doesn't do any type checking.

Either we add another build step to the

[2021-02-22 18:57] noahtallen commented on #50334
That makes sense to me. Do you think it's at all possible that there could be tsconfig conflicts? (I see there is an ETK-specific one here: https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/tsconfig.json)

Or would that type check use the correct one automatically?

I do think it makes sense to move them under the main check for types though.

[2021-02-22 19:06] obenland opened #50347 "Async Jobs: Purging Publicize connections fails with OOM error"
It looks like grabbing blog_ids that have a certain blog sticker leads to an out-of-memory error in this job.
Let's see if we can come up with a way to identify these sites in a more granular way.

See paYE8P-KY-p2

WIP Fix: D60193-code

[2021-02-22 19:42] mikeicode commented on #47247
Another 27822707-hc

[2021-02-22 19:43] mattsherman commented on #48588
https://github.com/Automattic/wp-calypso/pull/50070 removed the `wp-woocommerce-spec.js` file.

I agree that we should have e2e tests for the Store removed behavior. I don't think this is a blocker to launching Store removal though. We should add these back once we launch.

[2021-02-22 19:44] mattsherman commented on #48588
Moving this back to "Needs Scoping" and assigning myself to clean this up and make sure it is clear what we should now do.

[2021-02-22 19:45] edequalsawesome opened #50350 "Editor Broken on RTL Sites with Gutenberg 10.0 Active"
### Steps to reproduce the behavior

1. Create an AT'd site
2. Set the site's language to one that is RTL from the General tab of the Manage > Settings area of WordPress.com: [https://wordpress.com/settings/general/](https://wordpress.com/settings/general/)
3. Try to open the post or page editor with Gutenberg 10.0

#### What I expected to happen
The editor would open as it had previously

#### Wh

[2021-02-22 19:47] cathymcbride opened #50351 "Launch button doesn't disable, reappears in another spot after being clicked. Clicking again results in browser error"
### Steps to reproduce the behavior

1. start a new site (wordpress.com > `add new site` is fine)
2. Select the .wordpress domain, theme and font pairs (coutoire and default font pairs were chosen in this example) > Continue
3. On the What features will you need, click `skip for now`
4. select a premium plan
5. <site gets built>
6. Pay
7. you should be in the editor now
8. delete all the content (

[2021-02-22 19:58] sarayourfriend commented on #50334
Was this caused by when we stopped using TSC to compile typescript, instead opting to just run everything through babel with typescript support?

[2021-02-22 20:02] josephscott commented on #47659
Not exactly.  The [SameSite attribute is only allowed on secure cookies](https://web.dev/samesite-cookies-explained/), so there is no option to set it on insecure cookies.

---

I agree that we shouldn't have two cookies like this with the same name.  It will take someone going through all the references to `wordpress_logged_in` and figuring out which one it is trying to use.  The other option is

[2021-02-22 20:02] mattsherman opened #50353 "Store|Woo: Deploy wc-calypso-bridge/wpcomsh updates necessary for Store removal"
Before we remove Store (see pbIJXs-sE-p2 for more info), we need to deploy wc-calypso-bridge/wpcomsh updates so that those fixes are available:

- https://github.com/Automattic/wc-calypso-bridge/pull/651

## Tasks

- [x] Tag release on `wc-calypso-bridge` (see P90Yrv-219-p2) https://github.com/Automattic/wc-calypso-bridge/pull/653
- [x] Update `wc-calypso-bridge` version in `wpcomsh` 612-gh-Automa

[2021-02-22 20:12] DavidRothstein commented on #41632
I believe this is probably obsolete now?  See the internal post linked above and D57022-code.

[2021-02-22 20:14] klimeryk commented on #49565
cc @hambai, this might be worth syncing up on in relation to your work in p99Zz8-1D8-p2. The view that @simison shared above https://github.com/Automattic/wp-calypso/issues/49565#issuecomment-771585671 ideally could be re-used/shared between this and the add new domain flow, so that we have a consistent UX.

[2021-02-22 20:15] klimeryk commented on #42510
@simison, I'm focusing there in the existing signup flows and domain management gaps that often don't have a clear owner or active development in a while. Since this touches the New Launch flow (which I'm not honestly familiar with from technical point of view), I think it'd be fastest if the team working on it right now would look at this issue 🙏

[2021-02-22 20:18] mattsherman opened #50354 "Store|Woo: When Store is removed, only removal message should be shown on Store dashboard"
When Store is removed, the only thing shown on the Store dashboard should be the removal notice. We've seen a report where this is not the case:

<img width="558" alt="markup-2021-02-18-at-12 15 17" src="https://user-images.githubusercontent.com/2098816/108764456-9f7b6700-7520-11eb-9a17-9a427267755d.png">

[2021-02-22 20:27] simison commented on #42510
@klimeryk oh I asked because I thought it was those flows, but reading @razvanpapadopol comment above again, I suppose if was new flow indeed. :-) thanks for the reply!

[2021-02-22 20:36] annacmc commented on #38874
Was able to repro on a WordPress.com Simple Site, removing stale tag.

[2021-02-22 20:55] psealock commented on #50249
Nice solution @mmtr ! Thanks for the fix

[2021-02-22 20:59] annacmc commented on #37717
Closing in favor of https://github.com/Automattic/wp-calypso/issues/32642

[2021-02-22 20:59] #37717 closed

[2021-02-22 21:21] annacmc commented on #32642
No longer able to repro for image/file links across a number of test sites.

[2021-02-22 21:23] #19125 closed

[2021-02-22 21:34] worldomonation commented on #14787
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue remains reproducible as I reproduced this error dialog on the first blog I dismissed using my account.
I was not able to pin down the reason or pattern behind the error.

Suggestions made in comment 2 is probably the best way to handle this type of situation.

If there is no

[2021-02-22 21:34] #14787 closed

[2021-02-22 21:35] annacmc commented on #38570
The _You do not have permission to access this page_ message remains unchanged. Removing stale status.

[2021-02-22 21:46] worldomonation commented on #14722
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 21:46] #14722 closed

[2021-02-22 21:49] guarani commented on #47289
I didn't follow, it might need some know-how I don't have, sorry! I did a quick check again though to see if anything's changed and the bug persists on sites created on Jurassic Ninja, and it's still not reproducible on sites created on Pressable.

[2021-02-22 21:51] cathymcbride commented on #50333
@kriskarkoski do I read correctly that we do not have from scratch repro steps?

[2021-02-22 21:56] worldomonation commented on #16063
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 21:56] #16063 closed

[2021-02-22 21:56] noahtallen commented on #48704
<img width="1320" alt="Screen Shot 2021-02-22 at 1 54 30 PM" src="https://user-images.githubusercontent.com/6265975/108775228-a9e43380-7515-11eb-9e7c-d33eb5f894e6.png">

Looks like it's working out of the box now :)

[2021-02-22 22:02] worldomonation commented on #15121
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I entered the search string `keyboard` in the Reader search box and sorted by `Date`.
The resulting blog posts were sorted by date as expected.
For the sites, it was not sorted by date, but the text (that was present in the original screenshot from 2017) about the last updated timestamp

[2021-02-22 22:02] #15121 closed

[2021-02-22 22:02] worldomonation commented on #15121
![Screen Shot 2021-02-22 at 1 59 43 PM](https://user-images.githubusercontent.com/6549265/108775953-96859800-7516-11eb-9ffb-466f480acb22.png)

[2021-02-22 22:10] annacmc commented on #39911
I was not able to repro this issue any longer:

![image](https://user-images.githubusercontent.com/30754158/108776683-95f90a00-75c7-11eb-9860-35b2807313fd.png)

There is also a duplicate issue in https://github.com/Automattic/wp-calypso/issues/16440.

Closing with label `Closed - Not Reproducible`

[2021-02-22 22:10] #39911 closed

[2021-02-22 22:11] ciampo commented on #50334
Yes, I think it's potentially related to #49984

[2021-02-22 22:18] worldomonation commented on #14877
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to reproduce this with an Atomic site. Tested with both JPG and PNG files.

As there has been no recent activity on this issue it is being closed with the label `Closed - Not Reproducible`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 22:18] #14877 closed

[2021-02-22 22:26] annacmc commented on #39606
I was able to repro the issue with the second site (https://avc.com/) but not the first one (https://fs.blog)

![image](https://user-images.githubusercontent.com/30754158/108778160-d8bbe180-75c9-11eb-86a9-44bd561f1c8d.png)

Removing the ` [Status] Stale` to keep this open as a feature request for making the initial follow blog link under the search bar more prominent.

[2021-02-22 22:28] worldomonation commented on #16212
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 22:28] #16212 closed

[2021-02-22 22:32] worldomonation commented on #16477
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I checked over some posts that showed up after searching, and all that I checked had the comment count and like count in sync with the actual post:

![Screen Shot 2021-02-22 at 2 31 29 PM](https://user-images.githubusercontent.com/6549265/108778783-c0d95480-751a-11eb-8cb1-cab33c7c681a.p

[2021-02-22 22:32] #16477 closed

[2021-02-22 22:34] worldomonation commented on #16481
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-02-22 22:34] #16481 closed

[2021-02-22 22:42] annacmc commented on #542
Could not repro this dialog/prompt any longer. New prompt and wording now being displayed:

![image](https://user-images.githubusercontent.com/30754158/108779464-c8a50180-75cb-11eb-845b-ea381c23822d.png)

Closing this up with tag `[Closed] Not Reproducible`