[2022-11-16 14:12] nelsonec87 commented on #70044
Implemented in https://github.com/Automattic/wp-calypso/pull/69974/

[2022-11-16 14:12] #70044 closed, assigned to nelsonec87

[2022-11-16 14:13] dsas opened #70070 "[Bug]: Activating Tsubaki opens a WooCommerce onboarding flow I can't escape"
### Quick summary

Installing the Tsubaki theme dumps me on a 'Add an address to accept payments' screen which I wasn't expecting. There is a back button at the top of this screen, it doesn't work. The back button in the browser is also broken.

There are three things going on here:
 1. I was surprised to be on some kind of setting screen without warning, other themes didn't do this.
 2. I couldn'

[2022-11-16 14:18] Addison-Stavlo opened #70071 "LaunchPad - Set up email reminders."
Some slack context in this thread: p1667593156541869/1667518943.518509-slack-CHN6J22MP

We should ensure email reminders are being sent to users who have visited the launchpad and not yet completed it. Designs and some context in the linked slack thread above.

We should also look into setting up an simple way to determine which LaunchPad step they left off at, in which case the reminder can be mo

[2022-11-16 14:19] wpshellbelle commented on #52100
Another request at 37656670-hc

[2022-11-16 14:37] Addison-Stavlo opened #70074 "Site Editor close button setting - investigate adding via Jetpack"
We recently shipped close button setting handling to ETK as a way to quickly unblock the Gutenberg release.

Now that the release is unblocked and we are not pressured on time, we should follow up to investigate moving this over to jetpack instead. A few reasons pointed out in the ETK PR here: https://github.com/Automattic/wp-calypso/pull/69929#discussion_r1024080436

[2022-11-16 15:21] upwardmomentum84 commented on #66233
Another case (Ubud - retired theme): 20485070-hc

[2022-11-16 15:27] danielbachhuber commented on #69582
🚢

[2022-11-16 15:27] #69582 closed, assigned to kozer

[2022-11-16 15:57] karenroldan commented on #69294
`networkidle` is consistently failing for me when running the tests locally.

### What I found
On the `/log-in` page, I am getting a **pending** status for `https://wordpress.com/cspreport`

[code]
this means I still have open network connections, thus the `networkidle` causes the tests to timeout.

I don't get the timeout with `networkidle` when I add the route. This is not the solution that we n

[2022-11-16 16:46] Addison-Stavlo commented on #68961
I think the last thing for this issue is to update the editor's version to be a 'warning' as opposed to an 'error' (this should update the color from red to yellow) - some discussion from p2 - paYE8P-29S-p2#comment-1801

cc @Sharpirate

[2022-11-16 16:58] vindl opened #70078 "Plans: Missing tooltip description for developer tools"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/plans
2. Click on the "SFTP, SSH, WP-CLI, and Database access" info tooltip

#### What I expected

The description text to show. We can coordinate the copy with @that-mike-bal and/or our PAs.

#### What happened instead

An empty tooltip box appears.

#### Browser / OS version

All.

#### Screenshot / Video

<img width="509" alt="S

[2022-11-16 17:00] dpasque commented on #69294
@karenroldan Awesome investigation! 🎉  thank you so much for the detailed dive and the notes!

TL;DR -- I'm not too worried about the CSP report call, and I think your approach of actually just overriding that request might not be a bad way forward! I think we could also just wait for `load` event if that ends up being enough!

This is so bizarre to me! I wonder if there's some bug here in our Cal

[2022-11-16 17:08] vindl commented on #70078
Description should be added here: fbhepr%2Skers%2Spnylcfb%2Spyvrag%2Syvo%2Scynaf%2Ssrngherf%2Qyvfg.wf%3Se%3Q726q663q%26zb%3Q22048%26sv%3Q679%231393-og

[2022-11-16 17:16] eoigal commented on #69159
Added writing prompt template with https://github.com/Automattic/wp-calypso/pull/69352

[2022-11-16 17:17] eoigal commented on #69159
Found an issue deploying on WPCOM where styles aren't being ported - being worked on https://github.com/Automattic/wp-calypso/pull/69949

[2022-11-16 17:49] vykes-mac commented on #61297
closing issue as resolved in relation to #69441 , feel free to reopen if issue continues.

[2022-11-16 17:49] #61297 closed, assigned to vykes-mac

[2022-11-16 18:13] that-mike-bal commented on #70078
I think we could go with something like
"A set of developer tools that give you more control over your site, simplify debugging, and make it easier to integrate with each step of your workflow."

[2022-11-16 18:31] Copons opened #70080 "Theme Showcase: Inconsistent Premium Themes Labeling"
Premium themes are labeled inconsistently across Calypso and wp-admin:

| Plan | Calypso | wp-admin |
| - | - | - |
| Free | <img width="292" alt="Screenshot 2022-11-16 at 17 08 00" src="https://user-images.githubusercontent.com/2070010/202260344-ddb54bf3-d606-4fbe-a716-2c3216086f26.png"> | <img width="293" alt="Screenshot 2022-11-16 at 17 07 43" src="https://user-images.githubusercontent.com/2070

[2022-11-16 18:33] #69977 closed, assigned to DustyReagan

[2022-11-16 18:55] #70048 closed, assigned to jsnmoon

[2022-11-16 19:10] nelsonec87 commented on #70042
Implemented in https://github.com/Automattic/wp-calypso/pull/69974

[2022-11-16 19:10] #70042 closed, assigned to nelsonec87

[2022-11-16 19:30] worldomonation commented on #69294
I can tell you about it, certainly.

Back when the framework was being developed we kept running into issues once the login process moved on from the `/log-in` endpoint, through to the intermediate loading page and then finally to `/home`. This was all on **simple** sites.

Not certain whether this is still the case for Atomic vs Simple, but it used to be that on Simple sites the `networkidle` was

[2022-11-16 19:33] nelsonec87 commented on #70045
Implemented in https://github.com/Automattic/wp-calypso/pull/69974

[2022-11-16 19:33] #70045 closed, assigned to nelsonec87

[2022-11-16 19:40] #69044 closed, assigned to jsnmoon, grzegorz-cp

[2022-11-16 19:43] agrullon95 commented on #69920
I'm currently working on adding the site name generator logic and creating an endpoint to return a randomly generated name: D92624-code

[2022-11-16 20:16] csabarakasz commented on #53102
27910255-hc

[2022-11-16 20:36] john-legg commented on #69857
@worldomonation I looked into the failures via the TeamCity Artifacts tab (thanks for telling me about that). It appears that the notification panel doesn't open when the home page takes longer than usual to load. Here's the video from the failure:
[Notification Actions Failure.webm](https://user-images.githubusercontent.com/96805492/202286616-f533749d-138d-47f7-9e52-c9bfacb6996e.webm)

My only id

[2022-11-16 23:23] worldomonation commented on #69857
Just to double check, did you also take a look at the trace files? They are greatly useful and in many cases eliminate having to run the spec locally repeatedly.

I'll answer this in two parts.

There's always the `networkidle` call to force a wait until all network activity ceases for more than 500ms, but that's typically overkill. With that said, it might be necessary in some cases and we haven'

[2022-11-16 23:24] csabarakasz commented on #69604
![CleanShot 2022-11-17 at 00 09 19](https://user-images.githubusercontent.com/84539773/202314340-acc1af86-3f32-4259-9c0e-d4a3479ea7d1.gif)

**Was this a new site?**
^^ This was an existing Atomic site on the Business plan, but I could replicate the exact same issue on a brand new Simple site with the Free plan as well.

**Any plugins or themes installed**
Tried Zoologist (FSE), Twenty Nineteen (Cl

[2022-11-16 23:25] noahtallen commented on #70060
Makes sense. We _cannot_ remove caching from this route so another solution sounds good

[2022-11-16 23:39] mreishus commented on #69409
I really liked the post_purchase() idea, as it seemed the most elegant to me. I almost got it to work but there's another timing issue: The post_purchase() code runs after the atomic transfer is kicked off, meaning it's too late to change themes. Here's this approach for posterity: 2e391-pb/#diff

I went with adding it in the ~~post-transfer~~ post-purchase code that initiates transfers for eComme

[2022-11-16 23:58] jsnmoon opened #70089 "Stats: Add tooltips to the 7-day highlights section"
# Development

- [x] Apply tooltips to show the full, original value when the highlight card component shortens the value for display:
( https://github.com/Automattic/wp-calypso/pull/72972 )

- [x] Replace `Compared to previous 7 days` next to the 7-day highlights header with the following tooltip:
( https://github.com/Automattic/wp-calypso/pull/72987 )

# Design

See this [design review](https://

[2022-11-16 23:58] noahtallen commented on #69294
No clue, unfortunately.

I am seeing a huge number of cspreport requests on the log-in page, but I guess those are sent by the browser and not by us directly. It does seem like a good idea to fix them where possible.

However, I also looked into our logs, and the route only timed out twice in the past 7 days. In the same logs, there appear to have been 91.6 million requests to /cspreport, so I don

[2022-11-17 00:00] noahtallen commented on #69294
A possible solution is to basically do nothing if the environment isn't production or staging. For example, we already don't log to tracks in dev mode. Perhaps we could just return immediately at the top of the handler if we're on wpcalypso or similar.

[2022-11-17 00:04] roo2 commented on #16585
ok, it looks like the react-vertualized component has been updated and we can now pass `aria-hidden=false` to the component. This allows me to tab through the table where I couldn't before, it will also allow the screenreader to access this table now. I couldn't reproduce the issue on the followers list page or see aria-hidden in the markup, I wonder if that has been fixed there already?

PR https

[2022-11-17 00:27] dsas opened #70091 "Logged-out sign-up flows are broken for users that already have an account"
### Quick summary

This definitely affects the sign-up flow for logged-out theme showcase and probably affects other similar sign-up flows too.

Users who already have an account but aren't logged in can go through various sign-up routes, including theme selection (via wordpress.com/themes). As part of this sign-up process users are prompted to register. There is no option for users to login until

[2022-11-17 00:43] vishnugopal commented on #67150
We've removed inviting subscribers, this is not relevant anymore, archiving!

[2022-11-17 00:43] #67150 closed, assigned to yansern

[2022-11-17 01:19] kuropixel opened #70094 "Feedback: Improve visibility and breadth of document information in the Block Editor"
### What

Before the recent Gutenberg update, users could access the word count by clicking the "i" icon and displaying it at the top of their post/page.

### Before
<img width="1051" alt="CleanShot 2022-11-17 at 10 12 37@2x" src="https://user-images.githubusercontent.com/83020905/202330099-cc5ccde7-d95f-4520-baff-d7da892a495d.png">

With a recent update to Gutenberg, the word count is harder to a

[2022-11-17 01:39] inaikem commented on #70094
Adding to the above, time to read, heading, paragraph and block-count information is missing in the new implementation. The represent useful data points for authors and I'd personally love to see them return to the editor, even if simply added to the new document information home in the List View panel.

[2022-11-17 01:52] inaikem commented on #70094
Link to internal discussion thread: p1668577338573089-slack-C03TY6J1A

[2022-11-17 02:10] romarioraffington commented on #69664
See D92672-code

[2022-11-17 02:21] zachspears commented on #69859
Replicated in Atomic and Simple. Block is displaying but incorrectly.

[2022-11-17 02:44] zachspears commented on #69884
Able to Reproduce in Quadrat on Simple Site.

[2022-11-17 02:48] zachspears commented on #69908
Able to reproduce in Atomic site on Chrome. This issue is not present in Firefox.

[2022-11-17 02:51] zachspears commented on #69914
This is a great idea for supporting donations. Enhancement kept.

[2022-11-17 02:52] zachspears commented on #69961
Keeping Enhancement request. Even a more vague error would be better than a misleading one.

[2022-11-17 07:18] edwinho89 opened #70098 "Enable dark mode on block and classic editors"
### What

To allow switching into dark mode on both block and classic editors

Interaction: 34305690-hc

### Why

One word: Essential.

Also it would be nice if users have the option to toggle dark mode on and off.

### How

_No response_

[2022-11-17 08:04] wojtekn opened #70100 "[Bug]: Can't got back in the new importer flow"
### Quick summary

When I use [the new import-focused flow](https://wordpress.com/start/import), I observe different behavior when compared to the old flow:
- Back button does not do anything
- there is no progress bar at the top

Those work fine when I use [an old import flow](https://wordpress.com/start?source=sites-dashboard&ref=smp-import).

### Steps to reproduce

1. Start at https://wordpres

[2022-11-17 08:21] nuriapenya opened #70102 "Audit of the current flows & Initial Ideas"
The first step is to analyse the current production flows (General and TUC) and compare their checklists. Flag the issues encountered, especially those involving Launchpad.

The current issues that we face are:

- Tailored flow users (Newsletter & LIB) won’t see My Home until they launch their sites.
- When they do, the Launchpad does not exist anymore.
- For any other users (e.g. General onboardi

[2022-11-17 08:21] nuriapenya opened #70103 "Emails Tailored Flows i1"
**Dinobots PT**: pd0D4C-W2-p2

**Figma File**: uwEavMdyNLecNt6Ru3M2Za-fi-127%3A5056&t=pq5eJr79iD52lG9h-0

The first tier of emails were implemented with the first release:

- Account Creation (P1)
Triggered when someone completes the account verification process after beginning a use case signup flow (a site is not required at this point).
- Site Creation (P1)
Triggered when someone completes the

[2022-11-17 08:21] nuriapenya opened #70104 "New Free Flow i1"
The goal of this project is to create a free flow that does not upsell the user. The one exception to this is that we’ll continue to show premium themes and paid style variations, as it is considered a negative delta to remove variations. Practically, this means we will remove the domains and plan steps and leverage the username and a quirky name generator to fill the gap in the domain selection.

[2022-11-17 08:21] nuriapenya opened #70105 "Launchpad – Generic Flow"
The idea is to bring the Launchpad functionality within the general flow.

- Brainstorm list of {generic} tasks
- Include things like adding Menu / Pages

[2022-11-17 08:43] #68961 closed, assigned to nuriapenya, sharpirate

[2022-11-17 09:29] epeicher commented on #65081
Diff deployed r256391-wpcom

[2022-11-17 10:33] epeicher opened #70108 "[Marketplace search]: Unserialize wpcom_marketplace_product_extra_fields before adding it to the index"
The new added field `wpcom_marketplace_product_extra_fields` is being stored in `jetpack-search` index PHP-serialized and it should be serialised to JSON to be correctly returned and read in queries

When this issue is fixed, it could unblock #69948

[2022-11-17 10:49] brinbliss commented on #70094
User was missing the "i" icon that showed word count in their Editor, and it was nearly impossible to find until after checking the internal discussion thread in Slack. Hiding word count under List View doesn't make much sense, especially since it previously was a button.

At the very least, moving the word count to the top of Outline view and making it more distinguishable would help a lot of the

[2022-11-17 11:26] epeicher commented on #70108
Diff created D92698-code

[2022-11-17 11:41] nuriapenya opened #70111 "Free Flow: Prepare first draft of the UX flow"
- [x] Gather technical requirements
- [x] Analyse current flows and opportunities
- [x] Ideate a first version of the flow
- [x] Share it on P2

P2: p9Jlb4-5ST-p2

[2022-11-17 12:03] #68583 closed, assigned to arcangelini

[2022-11-17 12:31] nelsonec87 commented on #69409
I don't think it applies here, but it seems related:

For the new eCommerce flow, I've implemented a solution creating a separate `setTheme` step, that installs the (possibly premium) theme in the Atomic site and then switches to it - after checkout and atomic transfer of course.

[2022-11-17 12:43] heavyweight opened #70115 "Help Center: Display support channel language supported"
More context: pdDR7T-l0-p2#comment-317

[2022-11-17 14:09] kriskarkoski commented on #46017
I can no longer reproduce this issue as the site address in the URL now appears to be used to generate the link instead of the post ID. Closing.

[2022-11-17 14:09] #46017 closed

[2022-11-17 14:26] millerf commented on #69764
Same question. Why do Romario's tests not listed in the ones from the WPCOM link...

[2022-11-17 14:27] #69665 closed, assigned to eoigal

[2022-11-17 14:30] millerf commented on #69764
@romarioraffington I think the tests you added duplicate the ones I created [here](projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscriptions-online.php) and [here](projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscriptions-offline.php)

[2022-11-17 15:03] millerf opened #70119 "[Premium content] Specific UI for the gate of paid content"
### Context

When a post is gated (either if subscribers-only or paid-only,  it is presented with this modal:
<p align="center">
<img width="300" alt="Screenshot 2022-11-17 at 15 48 49" src="https://user-images.githubusercontent.com/790558/202477964-4a263847-b4bf-4b5d-b4f0-e8890ba12c43.png">

Once email is entered, a choice is given to user:
<p align="center">
<img width="200" alt="Screenshot 2022

[2022-11-17 15:15] epeicher commented on #70108
Diff deployed r256420-wpcom

[2022-11-17 15:15] artpi commented on #69739
Here is the newest version of the snippet:

[code]

[2022-11-17 15:37] pablohoneyhoney commented on #69787
I think we need `https://` as a placeholder, not `www`.

[2022-11-17 15:45] gcsecsey opened #70124 "Marketplace search: support multiple languages for WC.com products"
In [#68219](https://github.com/Automattic/wp-calypso/issues/68219) we indexed all products with their English descriptions. We should update the index to contain the translations for product descriptions in the same format as WP.org plugins.

For that we need to:
- [ ]  Find a way to get the translation for a product description in WC.com
- [ ] Update the indexing logic to store translations in th

[2022-11-17 16:00] nuriapenya opened #70125 "Landing Pages - Cool thing"

[2022-11-17 16:00] saygunnyc opened #70126 "Subscription management"

[2022-11-17 16:00] saygunnyc opened #70127 "Subscription purchases management"

[2022-11-17 16:01] saygunnyc opened #70128 "Users management i1"
**Project:**
UX fixes on managing "users" while still utilizing Calypso components.

**Issues**

- Does the page/menu name “Users” is apparent enough for customers? Would users look for subscribers underneath? – Can we change this name? –Core WordPress.
- The current user management does not support CSV importing. – We are currently working on enabling this functionality on onboarding.
- The curre

[2022-11-17 16:03] saygunnyc opened #70129 "Plans overhaul"

[2022-11-17 16:29] JanaMW27 commented on #69787
Like this:

https://user-images.githubusercontent.com/71137829/202502329-5568725b-8a95-4f91-ac39-cda3dfeaec8b.mov

[2022-11-17 16:30] JanaMW27 opened #70132 "Upsell in MyHome"
We believe that the home page presents a perfect opportunity to have a space to upsell the users and use this upsell for retention efforts and to increase our cash flow.

- Competitors benchmark
- Brainstorming different upsells
- Definition and prioritization
- Design the upsells
- Copy
- Support implementation

[PT thread](pebzTe-tf-p2)
Figma

[2022-11-17 16:31] WunderBart opened #70133 "E2E: Restore Editor Page tests"
### What's up

In [specs/editor/editor__page-basic-flow.ts](https://github.com/Automattic/wp-calypso/blob/3cda2683893090360b52ae40f6ab23dae684cf0b/test/e2e/specs/editor/editor__page-basic-flow.ts) we're missing the group declaration header, like [this one](https://github.com/Automattic/wp-calypso/blob/2b4ed1bcc9a77c61f4456a70b051200957a84fd7/test/e2e/specs/editor/editor__post-basic-flow.ts#L1-L3).

[2022-11-17 16:32] JanaMW27 opened #70134 "Upsell longer billing cycles in checkout #69902"
Introducing upsells in checkout so users can choose longer billing cycles.

https://github.com/Automattic/wp-calypso/pull/69902

[Figma file](gpmSZLRHasJCsGSe1WFYCr-fi-1567%3A1785)

[2022-11-17 16:33] JanaMW27 opened #70135 "Gifting"
Introduce a banner in expiring sites that will allow the site reader to cover for the upcoming site's WordPress subscription plan

[Figma file](VJIo6mK2dL39bWYZpOrxre-fi-0%3A1&t=cS5Q21kAknjh8HWP-1)

[2022-11-17 16:37] JanaMW27 opened #70136 "Site expiring warning emails"
We think that if we improve the communication we send to the users who have auto-renew disabled, we will be able to make some more users renew their plans.

PT thread pebzTe-rD-p2
[Figma](XYeLxgaHsJCYTYN3ePsyWO-fi-1701%3A2254&t=omtMZyrxCs0qJgIV-1)

- Validate current flow and identify edge cases
- New design and new copy
- Support implementation

[2022-11-17 16:46] JanaMW27 opened #70137 "Cancelation flow: New solutions"
The main goal is to increase the number of solutions we provide with the minimum effort, in order to win back these customers about to cancel.

[PT](pebzTe-kL-p2)
[Figma](ZPnlrIeNXuP2id8M8P7dt0-fi-1501%3A26372&t=EmT8O9pTB4fqqV04-1)

[2022-11-17 16:51] JanaMW27 opened #70138 "In product engagement when user performs red flag"
Goals we’ll look into as part of this initiative:

Identifying clear milestones the user has to go through in their journey to be successful.
Identify red-flag triggers that indicate “danger of churn”.
Incorporate solutions to help users make clear progress through those milestones: if user hits milestone X, they’ll be prompted to continue making progress onto Y
Provide solutions once red-flags ar

[2022-11-17 16:51] edwinho89 opened #70139 "Textbook theme displays 3 featured contents posts instead of 4"
### Quick summary

Fourth featured content post is missing from post page.

Under "Customizer > Featured Content", we mentioned displaying up to 4 featured posts.

[code]

### Steps to reproduce

1. Activate Textbook theme
2. Publish at least 4 posts
3. Assigned 4 published posts with "featured" tag
4. Under "Customizer > Featured Content", add "featured" tag, toggle off `Also display tagged posts

[2022-11-17 16:57] paulbonahora commented on #69787
I like that @JanaMW27 ! In particular now that the bug shared [here](https://github.com/Automattic/wp-calypso/issues/69787#issuecomment-1309400825) is fixed (thank you @delputnam  for this!), so if users now type in "www", we handle that on the backend. This UX would now work.

[2022-11-17 17:12] saygunnyc opened #70141 "Blogger Flow i2"

[2022-11-17 17:13] saygunnyc opened #70142 "Newsletter/Reading Settings"

[2022-11-17 17:32] nuriapenya commented on #70105
Initial P2: https://cylonp2.wordpress.com/2022/11/17/rfc-using-launchpad-for-general-onboarding/

[2022-11-17 17:35] obenland commented on #62009
This is how I'd go about it:
- [ ] Run phpcs on plugin files currently on dotcom. - D92669-code
- [ ] Break out classes into individual files.
- [ ] Update include statements to require the new files.
- [ ] Remove `parsers.php`
- [ ] Update each class with changes from the dotorg plugin
  - [ ] class-wp-import.php
  - [ ] class-wxr-parser.php
  - [ ] class-wxr-parser-xml.php
  - [ ] class-wxr-pars

[2022-11-17 17:58] #69551 closed, assigned to sharpirate

[2022-11-17 17:58] #69936 closed, assigned to sharpirate

[2022-11-17 18:02] sirbrillig commented on #70019
There's been another spike of five of these today. Once again, all for different users.

[2022-11-17 18:20] nelsonec87 opened #70145 "Stepper eCommerce flow: check/create/update Tracks events"
Check the whole flow for missing/needed Tracks events

[2022-11-17 19:09] freelylovinglife commented on #70094
Another report 5719244-ZD

[2022-11-17 20:00] agrullon95 commented on #70069
Changes merged in:  https://github.com/Automattic/wp-calypso/pull/70123

[2022-11-17 20:00] #70069 closed, assigned to agrullon95

[2022-11-17 20:05] dsas commented on #70080
It's a thing in Core! Maybe particularly useful for agencies / prolific site creators

We also use it to mean "Connect to stripe" on payment blocks 😅

![Image](https://user-images.githubusercontent.com/93301/202546693-518050f1-ae12-4f5f-b078-ba3635603ca8.png)

[2022-11-17 20:15] Copons commented on #70080
@dsas Yeah the star icon has been my pet peeve since the big GS Next Steps post (along with the wild usage of "Premium") 😄

And, TIL about favoriting themes on Core!
I used to do it for plugins, but it never occurred to me that it was the same for themes. 😮

[2022-11-17 20:54] alshakero opened #70147 "Help Center: allow HE's to request user screenshots during chat sessions"
Since I did my support rotation, I felt that having the ability to see what the user is seeing would be immensely helpful to our HEs. I never mentioned this idea because it would have been pretty hard to implement before the Help Center. But now that the Help Center is accessible almost everywhere, it would take less than a week for a team of two people to get this running. All the APIs are ready,

[2022-11-17 21:24] AtrumGeost commented on #68455
I'm also adding a +1 here. I have been very intentional about the sites I mark as hidden so that I can have test sites handy on the "Switch site" sidebar. The Magic sort doesn't help in my case.

[2022-11-17 21:24] karenroldan commented on #69294
Yes, you are right! Thanks for the info. The `commit` event might cause more flaky tests if that's the case. We could try out the default event.

I didn't get any failures with the flow from the login when using `load`. Similar to `domcontentloaded` and `commit`.

Good to know! I first created a draft with the changes that use the `load` wait and network call intercept. I'd check and see first if

[2022-11-17 21:37] #16585 closed

[2022-11-17 22:10] jamiepalatnik commented on #69947
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this.
- Clicking Privacy Information link reloads the page with #privacy at the end of the URL.
- I would also expect this link to go to a more useful page, like relevant support documentation.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-17 22:18] jamiepalatnik commented on #69973
📌 SCRUBBING : RESULT
- Skipped testing on a test site since this would require a purchase from Yoast, but I can confirm this is the case on the site from the user report.

📌 FINDINGS/SCREENSHOTS/VIDEO
- I checked the site from the user report and I see that Yoast SEO Premium has an Inactive label in Calypso, even through the plugin is active.
- I also noticed that if you click the plugin, there is

[2022-11-17 22:22] sirbrillig commented on #70019
I have an idea for something to try:

`useIsWebPayAvailable()` currently does not provide the `displayItems` or `total` data when it does the initial check for web payment methods. Later, `usePaymentRequestOptions()` does include those properties when it's called inside the payment method button itself. It may be that providing those properties in `useIsWebPayAvailable()` would resolve this issue

[2022-11-17 22:28] jamiepalatnik commented on #70005
📌 SCRUBBING : RESULT
- Tested on Simple - Uncertain

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the issue with the link from the user report, but I was not able to replicate this issue with other links from Instagram.

📌 ACTIONS
- Closed as could not replicate (please reopen if the issue reoccurs)

📌 Message to Author
- @ckmccoy2 Please feel free to reopen if you are able to replicate

[2022-11-17 22:28] #70005 closed, assigned to nobody

[2022-11-17 22:41] danielbachhuber commented on #68094
@vindl Just wanted to let you know that I: 1) came across this issue randomly 20 days ago, 2) finally looked into what you were referring to, and 3) added to YOLO Squad backlog.

[2022-11-17 22:42] jamiepalatnik commented on #68798
📌 SCRUBBING : RESULT
- Tested on Simple - Uncertain

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was not able to replicate this on an existing simple site, but I was able to replicate this on a brand new simple site created for this test. I noticed that the error message appears in the block pattern preview as well.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-17 22:55] jamiepalatnik commented on #70091
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this in my test. I got stuck on "Planning the next chess move Step 5 of 5"
- Noting that I got stuck on the "Planning the next chess move" step in other testing today when I attempted to create a new site, but when I refreshed the page, I was able to continue with the site creation flow. I

[2022-11-17 23:05] danielbachhuber commented on #62545
@mpkelly Want to create a detailed Gutenberg issue, and we can close this in favor of that one?

[2022-11-17 23:25] danielbachhuber commented on #32159
@kriskorn Per [your comment here](https://github.com/Automattic/atomic/issues/353#issuecomment-993581203) and @donpark's [comment](https://github.com/Automattic/atomic/issues/353#issuecomment-485918388), is it fine to close this issue too? It doesn't seem like there's anything actionable here, although we could potentially look into better diagnostic tools the next time it comes up.

[2022-11-17 23:26] jamiepalatnik commented on #57390
📌 SCRUBBING : RESULT
- Tested on Simple - Uncertain
- Tested on AT - Uncertain
- Tested on Self-hosted - Uncertain
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I tested using the steps from the initial report:
1. Add a Cover block with Fixed background image setting.
2. Visit the site on Safari browser on iPad. You can use BrowserStack to test.
3. You will notice that the image is zoo

[2022-11-17 23:30] jsnmoon opened #70152 "Stats: Enable only one togglable mobile menu for list items to be open on the page"
Suggested by and seconded [here](https://github.com/Automattic/wp-calypso/pull/70092#issuecomment-1319146441) and [here](https://github.com/Automattic/wp-calypso/pull/70092#pullrequestreview-1185223831):

@wilmersondasilva:

@dognose24:

[2022-11-17 23:37] vindl commented on #68094
Thanks!

[2022-11-17 23:47] danielbachhuber commented on #67104
Looks like this is still slightly off:

<img width="953" alt="image" src="https://user-images.githubusercontent.com/36432/202583817-06bdcfcf-380d-4e0c-9578-01f4f5029118.png">

Unfortunately, it's two separate elements 😔

<img width="1011" alt="image" src="https://user-images.githubusercontent.com/36432/202583911-2194269e-b574-4fb6-9101-2893af06630a.png">

Maybe we can combine them?

[2022-11-17 23:51] jamiepalatnik commented on #70021
I've definitely run into user confusion about this and been confused about this myself! See: 36641348-hc

I agree that displaying a mute icon could help with this. Thanks for posting!

📌 ACTIONS
- Feature request kept

[2022-11-17 23:54] john-legg commented on #69857
I had a great chat with @worldomonation earlier where he showed me how to use the [The Playwright Trace Viewer](https://playwright.dev/docs/trace-viewer#viewing-the-trace) to investigate this issue further. It's **super** powerful!

While briefly going through the trace together, a number of potential solutions came up:
- Update `pageSettled()` in `navbar-component.ts` to use methods more in-line

[2022-11-17 23:56] jamiepalatnik commented on #70094
📌 ACTIONS
- Feature request kept

[2022-11-17 23:59] jamiepalatnik commented on #70098
📌 ACTIONS
- Feature request kept

[2022-11-18 00:51] #69483 closed, assigned to kirahsapong

[2022-11-18 00:53] jsnmoon commented on #69953
@wilmersondasilva: I updated this PR with subtasks for your reference.

[2022-11-18 02:19] #69764 closed, assigned to millerf

[2022-11-18 02:37] edwinho89 commented on #70094
No followup required for now, adding as interaction count: 37484183-hc

[2022-11-18 07:00] jordesign opened #70161 "FSE: Tool to copy the content from a Template into a new Page"
### What

It would be great to develop an HE-facing tool which allowed them to quickly copy all the content from a template (most likely home.html) into a new page and replace it with a Post Content block.

### Why

In Happiness we see HUGE numbers of users who end up placing all their content within the home.html (or worse page.html) templates and then wonder why it shows up on all pages, or they

[2022-11-18 07:21] a8ck3n commented on #69230
Note that this is currently on hold pending [some investigation](https://github.com/Automattic/wp-calypso/pull/70059#issuecomment-1319365005) from the design team.

[2022-11-18 07:34] kriskorn commented on #32159
@danielbachhuber As far as I understand the issue, we over fetch data needed to lists posts in Calypso. It gets the whole post content, which can contain a lot of data that could break the post list. An example was the Reusable blocks infinite loop issue - p7DVsv-alB-p2 where something inside of the content of the posts made the post list inaccessible.

If possible, I think we should fetch only th

[2022-11-18 07:54] devNigel commented on #70094
Another interaction where user was confused: 34409543-HC

No followup required.

[2022-11-18 07:58] taipeicoder opened #70162 "☂️ Theme Showcase: Improve search/filter UX"
## Description
Currently, the search and filter experience in the Theme Showcase is done via three components: search, category filter, and pricing component. For a seamless search and filter experience, when the state of one of the components changes, the others should also reflect said change. The issue aims to track all the inconsistencies found so far:

- [x] When filtering for `subject:podcas

[2022-11-18 09:06] #69739 closed, assigned to artpi

[2022-11-18 09:08] epeicher commented on #70108
Closing this as completed, I am able to see the `plugin.extra_fields` correctly serialized as JSON in the ES results:
![CleanShot 2022-11-18 at 10 06 58@2x](https://user-images.githubusercontent.com/3519124/202664370-3e66e539-1819-4a61-a807-00d7cacf822f.png)

[2022-11-18 09:08] #70108 closed, assigned to epeicher

[2022-11-18 09:29] epeicher commented on #69948
After completing task #70108, I think this task can be progressed. I have found that `woocommerce-bookings` product is not correctly indexed in ES (currently investigating why) but for example `shipment-tracking` returns a valid JSON serialized `plugin.extra_fields` ([screenshot here](https://github.com/Automattic/wp-calypso/issues/70108#issuecomment-1319729345))

[2022-11-18 09:50] #68588 closed, assigned to escapemanuele

[2022-11-18 11:38] a8ck3n commented on #70055
After much trial and error, I ended up adding the QR codes as PNGs. Despite my best efforts, I wasn't able to get clean SVG data out of the online generators I tried. Most of them had had hard-coded sizes which didn't scale easily/consistently in my testing. Using PNG was pretty straightforward and the data size was still quite small though, so maybe not an issue?

[2022-11-18 11:57] #68219 closed, assigned to gcsecsey

[2022-11-18 12:08] gcsecsey commented on #69948
I've raised a diff for this here: D92833-code

[2022-11-18 12:30] #64892 closed, assigned to nobody

[2022-11-18 12:52] gcsecsey commented on #69948
Thanks for the swift review @epeicher! 🎉

[2022-11-18 12:52] #69948 closed, assigned to gcsecsey

[2022-11-18 13:01] gcsecsey commented on #69948
Changes are deployed in r256474-wpcom

[2022-11-18 13:42] brinbliss commented on #69395
There's some progress regarding rolling out this feature to sites: pMz3w-g6E-p2#comment-103418

[2022-11-18 13:51] artpi commented on #69520
@millerf we are waiting for your deploy :)

[2022-11-18 14:09] danielbachhuber commented on #32159
@kriskorn Yep, makes sense. I think it's unlikely we'll refactor the post list, but not impossible. I'd like to punt this until the issue presents itself again, and review at that point.

[2022-11-18 14:09] #32159 closed

[2022-11-18 15:34] romarioraffington commented on #70119
The solution in D92672-code currently hides the free option

[2022-11-18 15:39] dsas commented on #70091
I've opened a PR at #70177. I'll run some more tests but it seems to fix the problem for the logged-out theme flow, as well as the domains flows.

A different, simpler and more robust "fix" would be to avoid the problem entirely and move the user step to the beginning of the process.

[2022-11-18 15:39] artpi commented on #69930
@millerf Are you also working on this case?

[2022-11-18 15:40] artpi opened #70178 "[Newsletters] confirm that current subscribers are detected"
**I picked an email that was already subscribed as an email subscriber**

## Here is what should have happened:

Scenario | Site type | LoggedIn to WPCOM? | Has proper JWT Cookie? | Subscribed as blog subscriber? | Paid subscriber? | Post-level visibility setting | Subscriber email sent? | User sees the post | What happens in the modal | Notes
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
P

[2022-11-18 15:50] autumnfjeld opened #70179 "Use a feature flag for the theme switch work"
# Description
This is high priority work, let's  tackle this on Monday Nov 21.  🙏

**Context:**
* p1668738547992409/1668738542.228939-slack-CRWCHQGUB
* [Persist template content on theme switch] pbxlJb-2X4-p2

 **Theme switch work:**

* D91764-code
* Spike issue https://github.com/Automattic/wp-calypso/issues/68427
* D89996-code

Currently the theme switch work is visible to all a8c.   We aren't r

[2022-11-18 16:05] autumnfjeld commented on #70179
I also added a new feature "Theme Switch"  https://github.com/orgs/Automattic/projects/338/settings/fields/4607557

[2022-11-18 16:19] artpi opened #70181 "[Newsletters] "Cannot read properties of undefined (reading '_jetpack_newsletter_access" error in site editor"
1. Set up a WPCOM site with `paid-newsletters` Jetpack branch
2. Set up payments, and a newsletter plan in wordpress.com/earn
3. Activate Lettre theme: https://wordpress.com/theme/lettre/
4. Load site editor https://wordpress.com/site-editor/superstack2.wordpress.com
5. Observe error

![Zrzut ekranu 2022-11-18 o 17 18 22](https://user-images.githubusercontent.com/3775068/202752309-89bd7946-331d-43

[2022-11-18 16:37] mashikag commented on #65656
The issue is being addressed here: pdDOJh-15r-p2

Quick summary: The issue occurs when user's site has unset `blog_charset` site option and the email subject contains "special" characters.

For more detailed explanation: pdDOJh-15r-p2

[2022-11-18 16:46] artpi opened #70183 "[Newsletters] Calypso is not reading the "newsletter" option"
Reproduction path:

1. Create a "newsletter" plan
2. Open calypso in another tab or clear the hash from calypso and reload
3. Go to the plans management screen
4. Edit the plan we created
5. The plan will have no "newsletter" option checked

This is showed in this video (which was started to showcase something else)
https://www.loom.com/share/188997b41e7747a6ade902f2f5260d31

[2022-11-18 17:23] autumnfjeld opened #70184 "Fix PA (or DP?) padding to make it equal on left and right"
# Description
As pointed out in the PA call, the right and left padding are not equal in the DP.
Call recording: https://drive.google.com/file/d/1oKwHHuZ6_8TvCSrQDlbXJB6HvGaFJb9L/view

![Image](https://user-images.githubusercontent.com/5665959/202766173-e7f93345-1225-4ecd-acb8-8e2590263000.png)

@Automattic/ganon

[2022-11-18 17:51] upwardmomentum84 opened #70186 "List Payment Processor Options for Plans That Offer the Collect Payments Feature"
### What

To better communicate what payment processor options are available for the "collect payments" feature of various plans.

### Why

I recently had a [8066460-hc)](38066460-hc) who was from Turkey. They had purchased the Premium plan and said they spent a lot of time and effort getting their site developed. They wanted to be able to collect payments but could not because PayPal and Stripe d

[2022-11-18 18:49] autumnfjeld opened #70189 "Create My Home card for the Site Editor video screen"
# Description

See the video screen work in https://github.com/Automattic/wp-calypso/issues/69175 & https://github.com/Automattic/wp-calypso/pull/69847.

Create a new card for My Home for linking to these videos.  This can appear for any user.  For example:
* Build flow will see a card for Site Editor (SE) video screen
* Sell flow will see a card for SE video screen
* Blogger flow will see both a

[2022-11-18 19:29] ianstewart opened #70193 "Onboarding back button broken from /themes"
Start at logged-out /themes.

If you click “Pick this design” on the link above or on the theme details page you’re taken to the “with theme” onboarding flow. But if you click this back button …

![image](https://user-images.githubusercontent.com/545779/202786702-4ef703d6-e8f3-4845-82e2-34e7b5274654.png)

It turns into a “Back to Sites” button …

![image](https://user-images.githubusercontent.com/

[2022-11-18 19:54] cuemarie opened #70195 "[Block]: Query Loop - Add ability to limit search results by post type"
### What

Add the ability to limit search results to certain post types in the Query Loop block.

### Why

Allowing search results to filter by post type would mean users could easily set up a search for posts, portfolios, recipes, etc - which would be a nicer experience for their readers.

---

In FSE themes, the Search template uses the Query Loop block to display results - but you can't limit w

[2022-11-18 20:23] cuemarie commented on #70195
Could be related to work happening here: https://github.com/WordPress/gutenberg/issues/24934

Though my eyes are crossing trying to comprehend all the work going on there 😁

[2022-11-18 22:12] Jaccuse commented on #70094
No followup required, another user who got confused by the change: 37134873-hc

[2022-11-18 22:37] romarioraffington commented on #70178
I think it would be best to put this fix in D92672-code.  We need https://github.com/Automattic/jetpack/pull/27352 and WPCOM code to be merged and deployed. An additional PR would require a second rebase

[2022-11-19 00:12] autumnfjeld commented on #69687
@ianstewart  Just an FYI on something fixed related to theme switch, to add to the theme switch audit knowledge. Work started weeks ago.

[2022-11-19 01:10] bogiii commented on #70100
Hey @wojtekn,

Thanks for reporting this issue to us!

I talked to @vishnugopal, and we agreed that the Back button should not be there since the user in the previous steps creates a website, so returning him probably will cause confusion since the website has already been made.

We decided to hide the back button from the initial import screen.

Fixes are here: https://github.com/Automattic/wp-ca

[2022-11-19 02:30] #69602 closed, assigned to dognose24

[2022-11-19 02:30] #69041 closed, assigned to dognose24

[2022-11-19 03:50] Ramoncg1 commented on #38535
Estou enfrentando o mesmo problema com todos os navegadores. Os vídeos não carregam e ficam nesta mesma tela.

[2022-11-19 04:54] hacchism commented on #64563
Another one: zd-5724777
The user wants to be informed once the bug is fixed.

[2022-11-19 09:36] taipeicoder commented on #69925
Closing as it's deployed.

[2022-11-19 09:36] #69925 closed, assigned to taipeicoder

[2022-11-19 10:55] carinapilar opened #70202 "Gallery: Broken Carousel on Old Content"
### Quick summary

The Gallery block's content is being rendered differently on older posts, which breaks the carousel feature.

### Steps to reproduce

1. Find an old post where you had a Gallery block with images.
2. Open that post on the live site, and try to click on the image to open the carousel.

### What you expected to happen

To open the carousel, as it would happen on a newly created po

[2022-11-19 11:05] zdenys commented on #57390
Another instance 37845107-hc

[2022-11-19 11:28] Robertght opened #70203 "Subscribe block: cannot submit email addresses while being logged in"
### Quick summary

While being logged into your WordPress.com account, you can't submit other email addresses using the Subscribe block.

### Steps to reproduce

1. Create a website and make sure you have a Subscribe block
2. Try to use a different email and submit it while logged into your WordPress.com account(the email doesn't need to have a WordPress.com account)
3. Check the message you recei

[2022-11-19 11:43] Robertght opened #70204 "Block themes: minicart doesn't allow users to checkout"
### Quick summary

If you use a Block theme like Blockase/Attar/etc and add the Mini cart block to the nav menu the footer of that mini cart won't show up on mobile, being covered by the browser bar

### Steps to reproduce

1. Activate Blockbase
2. Add the Minicart block to the header
3. Add a product to your cart and click on the cart icon
4. You should see the cart section, but you won't be able

[2022-11-19 15:13] autumnfjeld opened #70205 "Onboarding Progress Bar size not proportional"
# Description

This was reported in, [Feedback: Issues with the Premium Woo theme flow] pdh1Xd-1Al-p2 .  I believe same issue exists in all onboarding flows.

The onboarding progress bar on the first screen is too small. The tiny initial length implies there are A LOT of steps left.  It needs to be roughly proportional to the number of steps. If 5 steps, start length should be 1/5 of the viewport.

[2022-11-19 19:40] jsnmoon commented on #68974
@dognose24: Is this task finished?

[2022-11-19 19:42] #68975 closed, assigned to jsnmoon

[2022-11-19 19:42] jsnmoon opened #70206 "Stats: Improve annual highlight section in the insights page"
Tasks originally from #69227.

- [x] Add tooltip support to the highlights component.
- [x] Add arrow navigation support for showing data from prior or next years.

# Design

- Metrics for the current year by default, with the ability to switch to previous years and back.
![Image](https://user-images.githubusercontent.com/390760/196414578-9422edfd-2bf0-4e75-bb6c-e0c9744196a0.png)

![Image](https:/

[2022-11-19 19:49] #69227 closed, assigned to jsnmoon

[2022-11-19 19:50] jsnmoon commented on #69227
The remaining tasks have been moved to #70206.

[2022-11-19 19:52] jsnmoon opened #70207 "Stats: Deprecate "stats/new-all-time" feature flag"

[2022-11-19 19:52] jsnmoon opened #70208 "Stats: Deprecate "stats/new-annual-highlights" feature flag"

[2022-11-19 19:52] jsnmoon opened #70209 "Stats: Deprecate "stats/new-main-chart" feature flag"

[2022-11-19 19:52] jsnmoon opened #70210 "Stats: Deprecate "stats/new-stats-module" feature flag"

[2022-11-19 19:53] jsnmoon opened #70211 "Stats: Deprecate "stats/show-traffic-highlights" feature flag"

[2022-11-19 19:56] jsnmoon opened #70212 "Stats: Fix search terms ordering"
Part of the modernization project (p1HpG7-igQ-p2).

In some instances, items with higher values will come at the bottom of the Search terms list.

![Image](https://user-images.githubusercontent.com/390760/202683189-a0acdfcb-e65b-425c-a98f-881b5af3e480.png)

Does it only happen with “Unknown Search Terms” because it's treated like a special, less important item than “real” search terms?

In any cas

[2022-11-19 19:59] ClassicRKR27 commented on #69884
- [ ] Another instance here with the `Bryne` theme: 31901192-hc

[2022-11-20 07:44] inaikem commented on #69798
Moving back to the main queue following an HE update with the requested context.

[2022-11-20 09:00] dolgelukkig commented on #70094
Just for interaction counts: 38143978-hc
No feedback required

[2022-11-20 13:14] sophiegyo opened #70215 "Simple sites: Align image & paragraph blocks for wrapping - no margin between image & text [some FSE themes]"
### Quick summary

When left- or right- aligning an image to have a paragraph block wrap around it, the text sits flush against the image. There is no padding or margin around the image.

Found so far in:

* Masu
* Rainfall
* Stewart

### Steps to reproduce

1. Start at any Simple site
2. Ensure theme is active: Masu, Rainfall, or Stewart
3. Create post/page with an image aligned to the left or ri

[2022-11-20 13:47] Nic-Sevic opened #70216 "[Bug]: Subscriber Importer: subscribers with matching wpcom accounts remain as email only subs"
### Quick summary

When adding email subscribers to an Atomic site no local user is getting created when a WordPress.com account exists. This means that users can't be "invited" as followers and can't login to view sites that are set to private (which they should be able to).

Essentially, it's ignoring the difference between subscribers with wpcom accounts and those without, making everyone an em

[2022-11-20 14:00] inaikem commented on #70216
Internal report thread: p1668949223858979-slack-C01A60HCGUA

Pinging @Automattic/caribou for completeness 🙏

[2022-11-20 14:47] sophiegyo commented on #70094
Adding one or two interactions from this forum thread:
wordpress.com/forums/topic/word-count-gone/

[2022-11-20 15:42] syds87 commented on #70094
No followup required, I'm just adding another related interaction: 5715526-zd

[2022-11-20 19:34] Sandkorner commented on #62337
Hey!

I had this issue in 5727694-zen

Just wanted to ask here if this issue might be resurfaced again. Exact same issue.

[2022-11-20 20:59] kangzj commented on #69530
Just want to add, the Calypso Gridicon has some CORS issues in CDN environment, and I had to add [a component without assets](https://github.com/Automattic/wp-calypso/blob/b2ec1063e45499748ffb602ea7bff48b9ec69630/packages/components/src/gridicon/no-asset.tsx) and [load them separately ](https://github.com/Automattic/jetpack/blob/6618b0d48c8343ced6e8cf3cedca30bf9177779d/projects/packages/stats-admi

[2022-11-20 21:24] connorhipps commented on #67344
Found another case with `Appleton` here: 5726870-zd-woothemes

[2022-11-20 23:13] edequalsawesome opened #70218 "Revelar: Image block missing bottom margin"
### Quick summary

When you add an Image block to a post or page while using the Revelar theme, the theme doesn't add a bottom margin to the Image block, making the next block be too close to the image.

### Steps to reproduce

1. Set your site's theme to Revelar
2. Create a new post or page
3. Add an Image block to that post or page, and follow it up with text

### What you expected to happen

Th

[2022-11-20 23:26] bangank36 commented on #68467
Closed as implemented on #69780

[2022-11-20 23:26] #68467 closed, assigned to bangank36

[2022-11-21 01:48] lsl commented on #70161
Could you expand on "huge number of users" for impact context? If users are reaching HE's about this there is probably more going on unseen.

Can we fix the conditions that lead to this behavior instead?

[2022-11-21 03:16] roo2 commented on #61812
This may have been fixed, I see the placeholder comment appearing twice, the same as shown in the safari example but I don't see duplicated comments.

https://user-images.githubusercontent.com/22446385/202955688-fb55d65d-7cec-40b3-a611-97c0ae3ea019.mov

Tested in chrome and FF

[2022-11-21 03:17] roo2 commented on #61812
I'll close this for now @brookewp , @tyxla , would either of you mind attempting to reproduce and reopining it if you can?

[2022-11-21 03:31] bangank36 commented on #70162
I'm looking at these issue atm

[2022-11-21 04:03] bangank36 commented on #70184
This issue seems only happen on "Show all" category
 

![Screen Capture on 2022-11-21 at 12-02-36.gif](https://cdn-std.droplr.net/files/acc_1243635/yGiCam)

[2022-11-21 04:04] roo2 commented on #41183
seems to be working now, I tested in safari on a site with a custom domain and the tracking protection setting enabled. After following a site and refreshing I saw the following state as expected in the action bar

https://user-images.githubusercontent.com/22446385/202963136-cdf8e81e-c490-4241-8644-d62cd2afde05.mov

[2022-11-21 04:04] #41183 closed

[2022-11-21 05:10] bangank36 commented on #70179
Closed as landed

[2022-11-21 05:10] #70179 closed, assigned to bangank36

[2022-11-21 06:05] inaikem commented on #62337
@Aljullu 👋 Could you take a look at @Sandkorner's nudge above and let us know how we can help resolve the user's issue? Thanks!

[2022-11-21 06:32] bangank36 commented on #70184
Closed as landed

[2022-11-21 06:32] #70184 closed, assigned to bangank36

[2022-11-21 06:43] arthur791004 commented on #69052
Close as it's completed

[2022-11-21 06:43] #69052 closed, assigned to arthur791004

[2022-11-21 08:16] devNigel opened #70223 "Incorrect message shown for scheduled post: "This post has been sent to readers""
### Quick summary

When you schedule a post, after the pre-publish check and you click the Schedule button, it says `This post has been sent to X readers` . This is incorrect.

Issue is reproducible on AT and Simple sites.

### Steps to reproduce

1. On a simple or AT site, go to Posts > Add New.
2. After pre-publish check screen, click on Schedule button.
3. You will see the incorrect message.

#

[2022-11-21 08:16] tyxla commented on #61812
I can still reproduce this in the comment form of a single post view in the Reader:

https://user-images.githubusercontent.com/8436925/202998735-6c5113f6-c68e-4227-9992-93fc1734866f.mov

[2022-11-21 08:33] arthur791004 commented on #70189
This is the expected behavior as it will open a new window when you click "Learn more". However, others without icon will open the modal in the same window. Do we still need to change the behavior?

[2022-11-21 08:35] arthur791004 commented on #70189
Currently, the "Blog like an excerpt from day one" card shows regardless of the site intent, just double confirm that we want to show this card only for the site whose "intent" is not "write", right?

[2022-11-21 08:37] fushar commented on #69282
The first case (reading setting: latest posts, Front Page template is present) is already supported from the very beginning.

The second case (reading setting: static page, Front Page template is present) is not supported yet. I think, we need to think about it more, before jumping into implementation. For example, do we want to remove this option from every other page?

<img width="385" alt="imag

[2022-11-21 08:41] simison commented on #68562
Could be related to https://github.com/Automattic/wp-calypso/issues/70091

[2022-11-21 08:49] #69175 closed, assigned to arthur791004

[2022-11-21 09:26] ouikhuan commented on #70216
See more discussion here: p1668949223858979-slack-C01A60HCGUA

After investigating further, it looks like this is only limited to some of the accounts.

In this case we'll have to come up with solutions that add a subscriber as a local user on the Atomic site and figure out what we want to do if an imported email does not have a wpcom account. (Access a private site requires a wpcom account)

[2022-11-21 09:27] #70037 closed, assigned to escapemanuele

[2022-11-21 10:48] dragstor commented on #52100
Extended the user's Business plan for 3 more months, after discussing with @rachelwinspear :)

37679562-hc

[2022-11-21 11:03] nuriapenya commented on #70104
Posted the Initial P2: p9Jlb4-5ST-p2

[2022-11-21 11:04] #70111 closed, assigned to nuriapenya

[2022-11-21 11:28] nuriapenya opened #70231 "Free Flow: Emails Design"

[2022-11-21 11:52] filipanoscampos opened #70232 "Action bar: Change the text to "Unfollow" when a user follows a site/blog"
### What

When we follow a WordPress.com website/blog, by using the action bar, the text changes from "Follow" to "Following".
A user recently shared this was very confusing to them, and suggested we changed it to "Unfollow" instead, to make this clearer.

For clarification, here is what the user was referring to:
![followbutton](https://user-images.githubusercontent.com/2540430/203044549-e0d44ed1

[2022-11-21 12:07] #70067 closed, assigned to nuriapenya

[2022-11-21 12:15] gcsecsey opened #70233 "Marketplace search: serve icon URL through the search API"
Subtask of #63905

Currently, we index icons for WP.org and WC.com results differently. This is due to how the original sources store the icon URLs.

WP.org results contain a serialized icons object:
[code]

WC.com results contain a single URL in the icons field:
[code]

We've been adding logic to handle the `icons` object to Calypso so far. To make both the client code simpler and move this respo

[2022-11-21 12:15] #70103 closed, assigned to nuriapenya

[2022-11-21 12:32] gcsecsey commented on #63905
I've started working on this issue and found some outstanding issues. Some of these are already tracked in GitHub:

1. Prices aren't shown for search results
2. Icons aren't always shown for search results: https://github.com/Automattic/wp-calypso/issues/70233
3. Products that are not yet added to the Marketplace are shown: https://github.com/Automattic/woocommerce.com/issues/14596
4. Author/vendo

[2022-11-21 13:22] paulopmt1 commented on #39053
[WhatsApp was added here](https://github.com/WordPress/gutenberg/pull/42137)

[2022-11-21 13:24] phcp opened #70235 "[Database] Create transformations for Email Open stats"
The goal for this task is to create the transformations for Email Open stats to be displayed on Stats dashboard. The transformation should include a query, a schema and cucumber tests.

- [x] Create `email_opens_hourly` transformation
- [x] Create Cucumber tests

[2022-11-21 13:25] phcp opened #70236 "[UI] Create bars chart on Email Opens detailed view"
The goal for this task is to create a Timeline chart on the detailed view. The route for a detailed view page doesn't exists, so it should be created as part of this task. Another challenge is to update the timeline component to support filtering by hours. Initially it should use mock data, the endpoint will be provided later on.

**Mockup***
![Image](https://user-images.githubusercontent.com/3113

[2022-11-21 13:28] gcsecsey commented on #69370
Yes, that's right. The challenging part here is that we should filter for this field only for WC.com products.

When separately searching for the WC.com blog ID, it's not an issue, this Kibana query returns what we're looking for:
[code]

If we want to also see results from WP.org next to these, the query gets a bit more difficult. We have to either get all results from WP.org or get the filtered

[2022-11-21 13:44] autumnfjeld commented on #70189
Ah ok.  That makes sense.  Thanks for explaining. :)
Do not change the behavior.

[2022-11-21 13:48] autumnfjeld commented on #70189
@arthur791004 . Thank you for the info. I thought the blog card showed up  only for intent = write.
Let's leave it as it is, flagging with @ianstewart  in case he has opinions.

Then what I'd like to change is:
* both cards will be available, the difference is the default top card
* for intent=write, the blog card shows on My Home page load
* for other intents, the SE card shows on My Home page lo

[2022-11-21 13:57] cpapazoglou commented on #67614
Closing this as I can't reproduce either. In case we have more details we can reopen it.

[2022-11-21 13:57] #67614 closed, assigned to nobody

[2022-11-21 14:03] keoshi commented on #69179
Yeah, I believe so. Just checked all detailed views (aka secondary pages) and the new header was present on all of them.

[2022-11-21 14:20] gavande1 commented on #69694
Second diff deployed: r256551-wpcom

[2022-11-21 14:21] phcp opened #70238 "[API] Create API for Email Opens detailed view"

[2022-11-21 14:21] phcp opened #70239 "[API] Create Open Rates API for Email Opens detailed view"

[2022-11-21 14:22] phcp opened #70240 "[UI] Create open rates chart on Email Opens detailed view"
The goal for this task is to create an Open Rates chart on the detailed view. Initially it should use mock data, the endpoint will be provided later on.

**Mockup***
![Image](https://user-images.githubusercontent.com/3113712/203159812-0e81e201-fc4a-47f0-8b3c-2a0be88b6bdd.png)
*Some additional work may be required once we have the final design.

[2022-11-21 14:23] cpapazoglou commented on #69370
We can also considering filtering the products while indexing. Since only WordPress.com is the consumer of this index it would make sense having only WordPress.com related products.

[2022-11-21 14:27] cpapazoglou commented on #69694
D91861-code is ready for review

[2022-11-21 14:54] wpshellbelle commented on #65214
26853317-hc

Workaround worked for this user

[2022-11-21 15:07] #69828 closed, assigned to zaguiini

[2022-11-21 15:14] #65081 closed, assigned to epeicher

[2022-11-21 15:30] Aljullu commented on #62337
Sure, thanks for pinging me, @inaikem!

I will need some help setting up the .com site, because after doing so, the option to enable widget visibility controls appears disabled with no option to enable it (the toggle is grayed off).

![imatge](https://user-images.githubusercontent.com/3616980/203093443-a81355bf-0d77-4a8b-9992-a76271573398.png)

So there is no way for me to try to reproduce it righ

[2022-11-21 15:58] davemart-in opened #70243 "Reader image width bug"
## Description

Navigate to the Conversations screen within the reader and shrink the width of your screen down and you'll see this:

<img width="941" alt="CleanShot 2022-11-21 at 10 56 17@2x" src="https://user-images.githubusercontent.com/5634774/203100574-575ef720-caa7-45d6-83c6-08c8f83e811d.png">

I expected to see this:

<img width="950" alt="CleanShot 2022-11-21 at 10 58 15@2x" src="https://u

[2022-11-21 16:12] coder-karen opened #70244 "[Bug]: Jetpack Cloud UI - URL is being translated."
### Quick summary

In cloud.jetpack.com and under the Site Search menu in the sidebar (after clicking on 'Switch Site'), it appears as though URLs can be displayed translated.

There is an example provided in this issue - https://github.com/Automattic/jpop-issues/issues/7903 - where a Jetpack connected site (site language set to French) is showing up with the URL partially translated.

What is unc

[2022-11-21 16:18] #68019 closed, assigned to arcangelini

[2022-11-21 16:32] #69617 closed, assigned to alshakero

[2022-11-21 16:33] gcsecsey commented on #60769
After discussing this with @WBerredo we decided to use ES to solve this issue on the backend.

With a query like this, we can get the slug of the WC.com product that has the WP.org slug added to it:
[code]

Similarly to how we've added install numbers at indexing time to WC.com products in #68218, we can add the WC.com slug with the above query to a new field when indexing WP.org plugins.

[2022-11-21 16:58] worldomonation commented on #69800
Done in https://github.com/Automattic/wp-calypso/pull/69802.

[2022-11-21 16:58] #69800 closed, assigned to worldomonation

[2022-11-21 17:14] #70078 closed, assigned to vykes-mac

[2022-11-21 17:27] epeicher commented on #69584
Adding to the original description, this action `woocommerce_admin_process_product_object` is the one that could be used to listen for modification of the fields.
And that is effectively already handled by the Marketplace logic [here](https://github.com/Automattic/woocommerce.com/blob/ce9bf6a5c282c838e68cf40c509c982eccaaec5c/plugins/wccom-plugins/wpcom-marketplace/wpcom-marketplace.php#L160) so it

[2022-11-21 18:00] #70183 closed, assigned to romarioraffington

[2022-11-21 18:10] katiebethbrown opened #70247 "Professional Email: Manually Renewed Subscription Shows as Free Trial on Purchases Page"
### Quick summary

All new professional email accounts are created as 3-month trials. After manually renewing to ensure they are paid for several years, the Purchases page still shows the status as `Free trial ends on...`.

![CleanShot 2022-11-21 at 11 04 47@2x](https://user-images.githubusercontent.com/42279181/203128329-394339a3-a96e-4d2a-aeaa-b5c5917de715.png)

### Steps to reproduce

1. Purcha

[2022-11-21 18:11] #70181 closed, assigned to romarioraffington

[2022-11-21 18:22] #70046 closed, assigned to blackjackkent

[2022-11-21 18:23] daledupreez commented on #70046
Call for Testing: pdtkmj-LF-p2

[2022-11-21 18:30] #69632 closed, assigned to sirbrillig

[2022-11-21 18:37] brittanygray902 commented on #60119
Seeing another case here 38170969 - hc

[2022-11-21 18:38] jeyip commented on #69756
Shepherding this while Matt is AFK

[2022-11-21 18:47] daledupreez opened #70249 "Task: Ensure we don't show marketplace themes in signup flows"
### Details

At launch, we only want to show marketplace themes in the Calypso theme showcase and the theme selection UI, but we need a mechanism to ensure that we exclude those themes when we're in signup or onboarding flows.

Ideally, this filtering would happen on the server, but we then need some way to determine which context we're in.

[2022-11-21 18:48] sixhours opened #70250 "Resolve multiple sites with theme demo stickers"
Some themes have multiple demo sites stickered with `theme-demo-site`; we need to find out which demo sites are correct and which ones should have their stickers removed. Full list in the P2 post: paYKcK-2nH-p2

Related to D90296-code

[2022-11-21 18:59] daledupreez opened #70251 "Task: Ensure we can handle marketplace themes in the theme showcase and ElasticSearch"
### Details

We need to make sure that we can add marketplace themes to our internal Theme Showcase, and correctly handle those themes in our theme search and filtering APIs. This will involve multiple pieces of work:
 * We'll need to flag themes in the showcase as marketplace themes
 * We'll need to update the theme showcase indexing code to correctly handle marketplace themes
 * We'll need to re

[2022-11-21 19:02] lschuyler opened #70252 "[Bug]: Activity Log shows empty "from to" for user role changes when there is no role"
### Quick summary

If a user has no role, or you are switching them from a role to no role, the Activity Log will show neither role in the Activity Log entry.

For example, changing a user from 'no role' to 'Administrator' generates this message:
<img width="568" alt="Screenshot 2022-11-21 at 11 48 46 AM" src="https://user-images.githubusercontent.com/4307088/203135759-82f69159-cb2b-407c-b11e-8704

[2022-11-21 19:10] #69664 closed, assigned to romarioraffington

[2022-11-21 19:10] #70119 closed, assigned to pablohoneyhoney

[2022-11-21 19:30] sixhours commented on #70250
The majority have been resolved, as noted in the P2 post. The remaining demo sites are related to P2 Classic/P2 and I've reached out to some long-time themers for guidance.

[2022-11-21 19:32] dognose24 opened #70256 "Missing bar charts when loading first on the Traffic page"
The bar chars could probably disappear when landing on the `Traffic` page for the first time. But it would be recovered after navigating between tab pages. This issue was reported in `p1669030109580459-slack-C0438NHCLSY`.

[2022-11-21 19:37] #69179 closed, assigned to a8ck3n

[2022-11-21 20:04] jsnmoon commented on #68974
@Automattic/red: Could someone tackle the Ads page header issue Filipe mentioned above? Thanks!

[2022-11-21 20:16] jsnmoon opened #70258 "Stats: Chart container lacks horizontal padding from screen edges on tablet viewports (480px ~ 659px)"
Examples:

![Image](https://user-images.githubusercontent.com/4044428/203150355-b755ec31-29e2-45cb-9a57-9165e9ddfab3.png)

![Image](https://user-images.githubusercontent.com/4044428/203150492-2919a64e-42e2-4fff-9e58-178262eabe34.png)

[2022-11-21 20:23] jsnmoon commented on #70055
Could you spin up a draft PR, @a8ck3n? I'm sure the team could provide feedback with ideas for improvement!

[2022-11-21 20:44] ezebecke opened #70259 "Can't save or edit widgets"
### Quick summary

- Not able to load Widgets on https://SITE/wp-admin/widgets.php page timeout.
- Trying to edit widgets from within the Customizer, but changes won't get saved.

These users reported not being able to edit or add new widgets. I was only able to reproduce this issue within the user's sites.
Sites: technewsfeeds.com and calvarielperiodicdelcordebenidorm.com

### Steps to reproduce

[2022-11-21 20:51] jsnmoon opened #70260 "Stats: Simplify Referrers groupings"
Part of the modernization project (p1HpG7-igQ-p2).

In some scenarios, the groupings that appear on the Referrers module just add unnecessary complexity.

In the example below you can see there's only one Referrer — Google Search — but it's still added to a “Search Engines” group that you have to click to see it.

If there's only one child item, could we get rid of the grouping to clean up the int

[2022-11-21 22:03] mreishus commented on #70249
Are we defining marketplace themes as any theme with `.theme_type` == `managed-external`?

[2022-11-21 22:05] mreishus commented on #70145
Is there a reference list of which tracks events we want?

[2022-11-21 22:40] jeyip commented on #69756
Could you describe what you mean when you say “In a fitting visible location such as the top of the right hand column…“?

Having something right under the admin bar is going to be tricky. With the current CSS, it’s not impossible, but there are lots of edge cases to cover ( different breakpoints, the “view” tab, different layout content background colors, etc. )

[2022-11-21 23:16] mreishus commented on #70249
Since all themes requested in calypso get sent to the same redux store, and there's no guarantee which backend queries have been sent before or what cached data has been persisted, I think at least part of this filtering has to live on the client side.

[2022-11-21 23:27] Gustavo-Hilario opened #70264 "Subscriptions: Unable to use saved card as the payment method"
### Quick summary

The user on 3813665-hc wasn't able to use one of their saved credit cards as the payment method for their subscriptions. I was able to reproduce this issue from their account but not from my account, where I have a Brazilian cc. This seems to be localized and related to Ebanx as I noticed the error message: `existing-card-ebanx`

### Steps to reproduce

1. Go to Purchases and cl

[2022-11-21 23:38] sirbrillig commented on #70264
For reference, the error message is `No payment processor found with key: existing-card-ebanx` and it's triggered by an onClick handler, so it's probably from here:

https://github.com/Automattic/wp-calypso/blob/8b455ceaf7b462e1a0e2a25216361f45abe97cbf/packages/composite-checkout/src/components/use-process-payment.ts#L28-L30

There is a payment processor function defined with that key in checkout:

[2022-11-22 03:02] desnum opened #70267 "Theme styling for the "load more posts" button styling is missing"
### Quick summary

In the Zoologist theme, the "load more posts" button in the Blog Posts block looks like it's straight out of the 90s.

### Steps to reproduce

1. Activate Zoologist
2. In FSE, add a Blog Posts block
3. Have more posts in the site than you choose to display in this block
4. Turn on the "Show "Load more posts" Button" setting in the right sidebar
5. Save the changes

### What you

[2022-11-22 03:36] fushar commented on #70060
Fixed in: D92975-code.

[2022-11-22 03:36] #70060 closed, assigned to fushar

[2022-11-22 04:35] arthur791004 commented on #70189
Yes, it makes sense to me 🙂

[2022-11-22 05:10] inaikem commented on #62337
Thanks for the reply! Are you referring to a test site above? If so, please go ahead and add my WPcom account as an admin there so I can jump in to review. Sending you a Slack DM now with the details.

@Sandkorner, are you able to replicate this on a test site yourself?

[2022-11-22 05:34] roo2 commented on #69207
I investigate this also. I tracked it through to`global_get_blog_info` 2e450-pb/ which is called with args `('specifierreview.com', '/')`  . `global_get_blog_info` then calls `get_blog_info` in 2e451-pb, and goes through the domain mapping check and finds `kirhammond.wordpress.com`. So that's the site that gets used for the subscription.

I actually found that there is a commented out line of code

[2022-11-22 06:32] ahmadbaig1 commented on #69603
@jordesign Sorry for the late response.
Thank you for testing.
That's strange, I am using the Plane theme as well, and the image does have the size options but they are not being respected.

[2022-11-22 08:06] rw-ye commented on #66233
Another report: 5732304-zd-woothemes

Theme: Bushwick

[2022-11-22 08:22] wojtekn commented on #62337
@inaikem I could replicate it on the site with WooCommerce and Storefront theme. I will check it more.

[2022-11-22 08:48] gcsecsey opened #70273 "Thank you page: plugin name is HTML escaped"
When installing a plugin that has special characters in the title (eg. &<>%), on the thank you page, the title will be HTML escaped:
![Image](https://user-images.githubusercontent.com/11555574/203268061-80a0fee9-f167-4375-8393-05e45b08c150.png)

[2022-11-22 09:56] gcsecsey commented on #69370
I think this is a more robust way to solve this problem. We already have a `plugin.disabled` field, which uses the meta key with the same name for WP.org plugins and is currently unused for WC.com products:
fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Scyhtvaf%2Srynfgvpfrnepu%2Svaqrkvat%2Sjcrf%2Qyvo%2Qjcpbz%2Spbzzba%2Spynff.jcrf%2Qjcpbz%2Qcyhtva%2Qcbfg%2Qsvryq%2Qohvyqre.cuc%3Se%3Q3p22208s%2374-og

fbhepr

[2022-11-22 10:03] fushar commented on #69282
Just to make it clearer: this menu will be confusing, because there will not be any visible changes in the Pages list if this case is supported. The user will still see the virtual Homepage page, no matter which page they "Set as homepage".

[2022-11-22 10:33] filipanoscampos opened #70277 "Hari theme: changes to Primary color not updating on live site"
### Quick summary

When users change the Hari theme's primary color, the change is shown in the Editor, but not on the website.
To make matters worse after the elements were set to use that primary color, it could no longer be changed.

### Steps to reproduce

1. Install and activate the Hari theme
2. Navigate to Appearance → Editor
3. Set the color of any element to use the palette's Primary Colo

[2022-11-22 11:25] gcsecsey commented on #69370
Diff created: D93114-code

[2022-11-22 12:03] epeicher commented on #69370
I have reviewed the changes and they LGTM

[2022-11-22 12:17] gcsecsey commented on #69370
Thanks for the quick review @epeicher, the changes are deployed with r256616-wpcom 🚢

[2022-11-22 12:17] #69370 closed, assigned to gcsecsey

[2022-11-22 13:22] vinimotaa opened #70284 "/hosting LP i1"
We want to revamp the existing /hosting page from the group up, especially given our last updates to Plans and overall design direction for LOHP.

- P2 here
- @vinimotaa Initial Figma File [here](https://www.figma.com/file/KvlrD3opdur6eTpH3VGRPv/%F0%9F%9A%A7-Logged-out-Landing-pages?node-id=2501%3A9133&t=degvY9t9dVzH7dI6-1)
- @Noemish Latest explorations file [here](I25gumfCSOuvS7ZqnUBngW-fi-5%3A4

[2022-11-22 13:24] vinimotaa opened #70285 "/support LP i1"
The /support site receives well over one million monthly page views and is a valuable asset to our company. Investing in its appearance and functionality will benefit our users and business.

The main goal of redesigning the /support was to make it as easy as possible for users to discover the right doc, which the current design does not do a great job of. To achieve our goal, we had to re-structu

[2022-11-22 13:25] vinimotaa opened #70286 "Jetpack Migration Plugin"

[2022-11-22 13:33] vinimotaa commented on #70285
The /support site receives well over one million monthly page views and is a valuable asset to our company. Investing in its appearance and functionality will benefit our users and business.

The main goal of redesigning the /support was to make it as easy as possible for users to discover the right doc, which the current design does not do a great job of. To achieve our goal, we had to re-structu

[2022-11-22 13:34] vinimotaa commented on #70286
One of the ideas that came up at the meetup was to start migrations from the self-hosted site. In other words, a user should be able to kick off the migration from the wp-admin of their site by installing a plugin clicking a button and then finishing up some details on WordPress.com.

- P2 here
- Figma File here

[2022-11-22 13:36] vinimotaa commented on #70284
*UPDATE

Naomi has been exploring the overall VIsual Design directions for the landing page while @that-mike-bal has been refining the content.

*NEXT STEP

Get the VD directions approved and support Naomi to refine the page and work with Dev. team on hand-off.

[2022-11-22 13:43] gcsecsey commented on #60769
Diff created: D93134-code

[2022-11-22 13:45] #68015 closed, assigned to renancarvalho

[2022-11-22 14:17] annbingle commented on #52676
I have a similar issue reported in zd-37118681. The theme is Appleton. We ended up updating the menu via the Navigation Block. However, the user still wants to use the Menu in Customizer as they find it easier.

[2022-11-22 14:39] kavyagokul commented on #70277
📌 SCRUBBING : RESULT
- Tested on P2 - Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to themes

[2022-11-22 14:44] kavyagokul commented on #70218
📌 SCRUBBING : RESULT
- Tested on P2 - Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
This is a known reported issue with a number of classic themes

📌 ACTIONS
- Closed as duplicate of https://github.com/Automattic/themes/issues/6197

[2022-11-22 14:44] #70218 closed, assigned to nobody

[2022-11-22 15:19] kavyagokul commented on #70161
@lsl I see 112 chats with the tag `fse_template_vs_post_content` assigned, and I haven't looked into tickets. We can probably do a deeper dive and find out the flow issues that lead to this.

[2022-11-22 15:25] gracie commented on #70161
Unfortunately, this item has been tricky to track down with data, but we know it's happening regularly based on HE reports (the data issue is around difficulty with tagging - we're working on that one).

We have communicated in a number of places [the deeper issue](https://dotcom.wordpress.com/2022/09/01/template-vs-post-page-editing-the-confusion/) and are working to address it i[n different ways

[2022-11-22 15:29] kavyagokul commented on #70195
📌 SCRUBBING : RESULT
- Tested on P2 - Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- From what I understand, this is the intended behavior, seeing how the query loop fundamentally works.
- The linked issue in core doesn't seem to address this.

📌 ACTIONS
- Await author feedback

📌

[2022-11-22 15:30] artpi opened #70291 "[Newsletters] The link to manage plans should also set the flag for new plans"
It's explained here:
https://www.loom.com/share/28e8c7ced8014761a1ce79f6cdf2a015

[2022-11-22 15:32] artpi opened #70292 "[Newsletters] email is not being sent after signing up as a free subscriber to a subscriber-only post"
An email is not being sent after signing up as a free subscriber to a subscriber-only post:
Example of the flow: https://loom.com/share/8465460c060c47c19de5042e9d5203ef

Issue confirmed independently by Romario and Artur

[2022-11-22 15:34] artpi commented on #69520
This is done now

[2022-11-22 15:34] #69520 closed, assigned to millerf, n3f

[2022-11-22 15:46] gracie commented on #70161
Unfortunately, this item has been tricky to track down with data, but we know it's happening regularly based on HE reports (the data issue is around difficulty with tagging - we're working on that one).

We have communicated in a number of places the deeper issue (p58i-d42-p2) and are working to address it in different ways (pbxlJb-2TD-p2). If we have more ideas, that would be amazing!

But we als

[2022-11-22 15:47] kavyagokul commented on #70204
📌 SCRUBBING : RESULT
- Tested on P2 - Uncertain
- Tested on Simple - Uncertain
- Tested on AT - Uncertain
- Tested on Self-hosted - Uncertain
- Replicable on Core - Yes/No

📌 FINDINGS/SCREENSHOTS/VIDEO
- The footer seems to be there, just hidden below the fold. It needs one to scroll to show.
[Screencast from 2022-11-22 21-15-11.webm](https://user-images.githubusercontent.com/1659416/203358248-133

[2022-11-22 16:15] zaguiini opened #70293 "Sites as landing page: introduce feature flag"
### Details

As we want to work on this project in small chunks, it makes sense to include a feature flag so we can hide the progress from the end users. Let's introduce a feature flag called `sites-as-landing-page`, enabled in all environments except production.

[2022-11-22 16:19] zaguiini opened #70294 "Sites as landing page: display opt-in banner"
### Details

If the user has more than one site, let's display the banner above the header on the `/sites` page indicating that it's possible to make it their landing page.

Design suggestion:

![image](https://user-images.githubusercontent.com/26530524/203365928-59e969c6-445a-4ff1-95a8-8ae116685380.png)

When clicking "Yes", save a boolean preference and hide the banner.

When clicking "No", hide

[2022-11-22 16:26] brinbliss commented on #69395
5729786-zd-woothemes

[2022-11-22 16:27] worldomonation commented on #68457
This test may benefit from expanding the capability of the [`RestAPIClient`](https://github.com/Automattic/wp-calypso/blob/trunk/packages/calypso-e2e/src/rest-api-client.ts) to perform plugin installation/uninstallation tasks.

[2022-11-22 16:28] worldomonation commented on #61083
To whomever that ends up working on it: check if this test still fails in the first place.

[2022-11-22 16:28] worldomonation commented on #65094
To whomever that ends up working on this, verify that this is indeed still an issue.

[2022-11-22 16:33] zaguiini opened #70295 "Sites as landing page: redirect to `/sites`"
### Details

If:
- the preference introduced in https://github.com/Automattic/wp-calypso/issues/70294 is enabled;
- the user is browsing https://wordpress.com;
- and has more than one site...

Then redirect them to `/sites`. If not, let them see their primary site.

[2022-11-22 16:36] zaguiini opened #70296 "Sites as landing page: introduce toggle on settings page"
### Details

It's important to allow the user to toggle `/sites` as the landing page as they judge necessary. With that in mind, let's introduce a new setting in the Interface Settings section so they can do just that.

It's also important to highlight (through a badge, for example) that this is a beta feature and might be removed at any point.

Finally, let's also add an event whenever the settin

[2022-11-22 16:39] zaguiini opened #70297 "Sites as landing page: remove feature flag"
### Details

Once we finish all the necessary work for this feature, let's remove the `sites-as-landing-page` feature flag, enabling the feature in production.

[2022-11-22 16:46] mreishus commented on #70249
Since the signup design picker uses "Starter Designs", which are stored in the client separately from Themes, we may be able to filter the backend endpoint for Starter Designs only.

[2022-11-22 16:49] mreishus commented on #70249
D93176-code : starter-designs endpoint: Filter out managed-external themes

[2022-11-22 17:14] DavidRothstein opened #70298 "[Bug]: Two-year plan upsell in checkout gets cut off if the browser window is too short"
### Quick summary

As reported at p1668537497002199-slack-CT1FP5D62, the upsell nudge for two-year plans in checkout can get cut off vertically, if your browser window is too short.

This is most likely to happen with a monthly plan and domain in the cart (since the content above the nudge is taller then) but in theory could happen for anything.

Example (in this screenshot you can see via the lef

[2022-11-22 17:44] gutenberg-plugin-upgrade-bot[bot] opened #70299 "Gutenberg: v14.6.x plugin upgrade"
Previous upgrade: #69723
Release notes: [v14.6.1](https://github.com/WordPress/gutenberg/releases/tag/v14.6.1)

**Install and activate**

- [x] Install and activate v14.6.0-rc.1 on edge (D93186-code)
- [x] Install and activate v14.6.0 on edge (D93326-code)
- [x] Activate v14.6.0 on production (D93187-code)
- [x] Request v14.6.0 AT upgrade (p9o2xV-2C0-p2)
- [x] Install and activate v14.6.1 on edge

[2022-11-22 18:02] sixhours commented on #70250
P2 demo sites have been resolved, I think we can close this out.

[2022-11-22 18:02] #70250 closed, assigned to sixhours

[2022-11-22 18:05] vajrasar commented on #69603
@ahmadbaig1 for clarity do you acknowledge that this is a theme-specific issue?

[2022-11-22 18:07] vajrasar commented on #68794
Closing this, if the issue shows up again please feel free to reopen it.

[2022-11-22 18:07] #68794 closed, assigned to nobody

[2022-11-22 18:09] vajrasar commented on #68879
@goblinartificer can you please check this when you get chance?

[2022-11-22 18:11] vajrasar commented on #69627
@aisajib do you have any more insights on this?

[2022-11-22 18:13] sirbrillig commented on #70298
Two ideas from the hangout:

1. Add `overflow-y: auto` to the sidebar area so that it can scroll if needed.
2. Add a CSS breakpoint to the upsell that says to hide it (or shrink it in some way?) if the viewport is desktop width (so the sidebar is visible) and has a vertical height that's smaller than roughly 800px (we don't know exactly the size because the higher-placed boxes in the sidebar are v

[2022-11-22 18:39] romarioraffington commented on #70178
@artpi, how do you think we should handle this? I suspect we could:

1. Send a code to the user's email
2. Have them authenticated by entering the code?

[2022-11-22 20:34] ianstewart opened #70303 "Update two examples of text in Calypso referring to "Full Site Editor/Editing" to "Site Editor/Editing""
See: https://make.wordpress.org/updates/2022/11/04/site-editor-a-more-user-friendly-name/ and p9Jlb4-5Pi-p2

We'll need to update the labelling in Calypso to reflect this, where it appears.

Two examples (of many):

![image](https://user-images.githubusercontent.com/545779/203415678-a176a34e-9077-4dc1-8f0c-b595f30b076c.png)

![image](https://user-images.githubusercontent.com/545779/203415747-e7566

[2022-11-22 21:20] mreishus commented on #70145
I'm not yet sure what needs to be added. The basic stepper tracks look to be working. For reference, below is a log of step names I see when running in the production flow vs the new ecommerce flow.

### production ecommerce

[code]

### new ecommerce flow

[code]

The new ecommerce flow is much shorter as I can't get to the checkout step yet. I'm stuck when choosing a design. I believe this is a

[2022-11-22 21:26] #69624 closed, assigned to edanzer

[2022-11-22 22:35] jamiepalatnik commented on #70202
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- I had trouble replicating this issue, although I do see the issue on the user's site. Gallery shows Link to None, but the cursor changes when hovering on the image.
- I was able to find an old gallery on my site that shows the blocks-gallery-item code, but the carousel opens as expected. However, that pag

[2022-11-22 22:41] moon0326 opened #70306 "[Bug]: Missing GDPR banner styling on the new Woo login page"
### Quick summary

![Screen Shot 2022-11-22 at 2 37 55 PM](https://user-images.githubusercontent.com/4723145/203435576-94a1c62d-8466-46e7-8dd6-21ed55488e65.jpg)

Wrong styling is applied on the login page from HTTP://woocommerce.com -> click Start

### Steps to reproduce

1. Make sure to sign out all wp.com accounts. Use Incognito mode.
2. Go to https://woocommerce.com
3. Click `GET STARTED`
4. Yo

[2022-11-22 22:51] jamiepalatnik commented on #70203
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue. When I tested using a different email address while logged into my WordPress.com account, I got a success message, but no confirmation email was sent.
- I would not expect to see a success message since the signup was not successful.
- The workaround to add the email while not l

[2022-11-22 23:07] jamiepalatnik commented on #69798
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- I checked one of my sites and the site from the user report to test the dropdown menu behavior on Safari on desktop.
- I was not able to replicate the issue on Safari on desktop.
- From [this comment](https://github.com/Automattic/wp-calypso/issues/69798#issuecomment-1311069533) it sounds like @cuemarie c

[2022-11-22 23:07] #69798 closed, assigned to nobody

[2022-11-22 23:24] desnum commented on #35800
The cover block background remains fixed on an Android phone, but I can confirm that it loses that parallax effect on an iPhone. This was brought up by a user in 38181454-hc.

[2022-11-22 23:28] devNigel commented on #45356
Another case: 5733330-zd-woothemes

Was able to reproduce from posts in Simple and AT sites.

[2022-11-22 23:31] jamiepalatnik commented on #62337
📌 SCRUBBING : RESULT
- Skipped testing this one since this was discussed in comments above and it looks like a fix is already in progress.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-22 23:32] lsl opened #70310 "Gifting: Confirm monthly subscription gifts monthly subscription"
p1669159910597899/1669109595.137749-slack-C04CLBHNUDN

Needs clarification/confirmation for marketing: When you gift a monthly subscription site is it for a month or a year?

[2022-11-22 23:36] cuemarie commented on #53027
Another request for this here: 37613859-hc

Pointed them to Cloudflare

[2022-11-22 23:47] jordesign commented on #70161
Sorry for the delay in looping back to this. I'll +1 to Gracie's response. Despite the fact we've not been able to track this _particularly_ well - but we do know it's happening with great regularity.

[2022-11-22 23:48] jamiepalatnik commented on #61812
📌 SCRUBBING : RESULT
- Tested in Reader

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this. The duplicate comment appears briefly, then disappears.
- I tested using Chrome and Safari.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-22 23:50] lsl opened #70311 "Retention: Open up the JITM to all admin_notices"
Expand on D93101-code to include all admin_notice display sections per @DustyReagan's suggestion:

[code]

- [ ] Update message path
- [ ] Confirm where these are shown to users and that it makes sense to show it in all contexts.

[2022-11-22 23:57] jamiepalatnik commented on #70223
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this. The copy shown when the post is scheduled is incorrect and could alarm users.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-22 23:58] lsl opened #70314 "Retention: Remove the is_automattician check to launch it"
D93101-code introduced the JITM behind an is_automattician check with a TODO to remove it to launch.

Once:
- churn_prediction is populated https://github.com/Automattic/dotcom-forge/issues/1145
- the experiment is configured https://github.com/Automattic/dotcom-forge/issues/1223

Remove this is_a11n check to launch.

[2022-11-23 00:03] sirbrillig commented on #65968
The above approach met with some challenges due to the variety of data included in a line item. A new design is here:

![radiofull](https://user-images.githubusercontent.com/2036909/203445234-a66f4817-0775-4c64-be53-386d0e6e29a8.png)

[2022-11-23 00:07] jamiepalatnik commented on #70247
📌 SCRUBBING : RESULT
- Tested by adding Professional Email upgrade.

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue.
- After adding a Professional Email trial and then clicking Renew Now to renew the purchase, the Manage Purchases page still says: "Free trial ends on November 22, 2023"

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-23 00:49] roo2 commented on #69207
raised D93233-code

[2022-11-23 01:27] sirbrillig commented on #65968
I've created https://github.com/Automattic/wp-calypso/pull/70315 to work on the updated design.

[2022-11-23 01:36] cuemarie commented on #70161
📌 ACTIONS
- Feature request kept

📌 Message to Quality Squad
- Another +1 from me on the comments above - a very common issue; it's also not always what a user comes to chat about; they may be asking for help adjusting something else, and then we see that they've actually built out their content directly onto a template instead of a page or post. That can add to the difficulty in tracking.

Here's

[2022-11-23 01:42] cuemarie commented on #70186
📌 ACTIONS
- Feature request kept
- here's the correct interaction link, for reference: 38066460-hc

📌 Message to Author
- Thanks for advocating for that user's experience!

[2022-11-23 01:45] cuemarie commented on #70232
📌 ACTIONS
- Feature request kept

[2022-11-23 02:18] cuemarie commented on #70195
Hey @kavyagokul ! I don't really know how to answer your follow up question 😄 Apologies for my ignorance here! To me, it made sense to consider this a core / built-in feature, as FSE sites with search templates and query loop blocks are all available on any site, including free plan sites.

I suppose a plugin could be developed to solve this issue, but that's not much more helpful to WordPress.com

[2022-11-23 03:18] lsl opened #70316 "Gifting: Expiry date should revert after a refund"
In the event a gift is refunded, the receiver's plan expiry date should revert to what it was before the gifted subscription was applied.

Acceptance:
- [ ] Plan expiry date reverts on gift refund

[2022-11-23 03:18] lsl opened #70317 "Gifting: Checkout cancellation should return to referrer not /start/domain."
When clicking the "X" in checkout or otherwise emptying the cart you should be returned to the referring domain.

Some quick testing of https://wordpress.com/checkout/business-bundle/gift/19766713?cancel_to=https://... and checking [the code](https://github.com/Automattic/wp-calypso/blob/6cf5483ea2563468ca83848a35c0437c9ee2ae2b/client/my-sites/checkout/composite-checkout/lib/leave-checkout.ts#L82)

[2022-11-23 03:18] lsl opened #70318 "Gifting: CTA for own site should be standard renewal checkout flow"
When site owners see the new banner on their site, they might attempt to gift / renew via clicking this banner CTA instead of going the normal route.

We should update the URL to take them to the normal checkout when they're the site owner.

Acceptance
- [ ] Update the CTA url or checkout to redirect to the standard /checkout/plan/:site when the site owner tries to gift themselves a plan.

[2022-11-23 03:34] bangank36 commented on #70162
These are recordings to describe the current UX issues

1.  The search box does not reflect subject change upon click on category filter

![Screen Capture on 2022-11-23 at 11-23-40.gif](https://cdn-std.droplr.net/files/acc_1243635/pKdjlL)

2\. Search input should replace existing filtered subject

![Screen Capture on 2022-11-23 at 11-29-30.gif](https://cdn-std.droplr.net/files/acc_1243635/wdIlfk)

[2022-11-23 05:02] Robertght commented on #70204
Sure! Here it is:

![IMG_2CFF1EFC5A20-1](https://user-images.githubusercontent.com/6737345/203472263-83428901-08a5-4233-9a05-3241771b6cc3.jpeg)

[2022-11-23 05:23] p-jackson commented on #70293
The first thing I ran into was should the flag be set in Jetpack Cloud? i.e. `config/jetpack-cloud-*.json`

I'm going to say no. We don't want to change any of the landing page behaviour for users who go to `cloud.jetpack.com` so to me that means the flag should always be off.

[2022-11-23 05:56] Tanujp106 commented on #68761
Is someone working on this issue right now?

[2022-11-23 06:05] zachspears commented on #70204
Testing the above issues on mobile I had a related issue, leaving this open for further testing. In both Firefox and Safari the Mini Cart did not not display the item in my cart, and was formatted incorrectly:

https://user-images.githubusercontent.com/10124024/203481806-fca1a16e-8807-4db4-9f84-4461cd9cce89.mp4

https://user-images.githubusercontent.com/10124024/203481837-ed4e74e0-7a88-4da2-bac4-d

[2022-11-23 06:11] Tanujp106 commented on #65961
can I work on this issue? If no one is working on it?

[2022-11-23 07:33] p-jackson commented on #70293
Feature flag added in #70319

[2022-11-23 07:33] #70293 closed, assigned to p-jackson

[2022-11-23 08:27] #62337 closed, assigned to wojtekn

[2022-11-23 08:32] wojtekn commented on #62337
I fixed this issue in the related PR. The fix targets the Jetpack code so that it will be available for Atomic sites according to the deployment schedule (1HpG7-p2).

[2022-11-23 09:37] pauljacobson opened #70324 "Comments Block: Social icons displayed as full width when Comments Form viewed on Archive page"
### Quick summary

Our customer reported that social icons associated with a [Comments Block](https://wordpress.com/en/support/site-editing/theme-blocks/comments-block/) are displayed full width in the content area when viewing an Archive page on the site, like this:

![Capture_2022-11-23 at 11 12 54](https://user-images.githubusercontent.com/2912202/203509396-3a7eaedc-7a9f-479b-8a95-747c4b20ccdc.

[2022-11-23 10:32] rosepajaroja opened #70329 "Customizer Theme Showcase is showing style error on Atomic sites"
### Quick summary

https://user-images.githubusercontent.com/9984867/203521867-1699537c-10ef-42eb-a23d-bb8c066bde71.mp4

Both "Installed Themes" and "WordPress.org Themes" showcase show styling error on Customizer.

My Site → Appearance → Customize → "Change" button for themes

This is only available for Atomic sites.

### Steps to reproduce

1. Go to "My Site".
2. Click "Appearance" and select "C

[2022-11-23 11:36] ahmadbaig1 commented on #69603
@vajrasar I tested changing themes from Plane to- Black Canvas, Masu, Bradford, Twenty twenty One, Barsnbury just now.

The image size still showed constant for the Reader. So, to me, it looks like this is theme-independent.

To test further, I created another post (copy) using Barnsbury theme, but the issue remains.
Post- https://premiumtest1993.wordpress.com/2022/11/23/reader-testing-post-2/
Rea

[2022-11-23 11:51] mzitinfo commented on #58446
This issue popped up again in 5735863-zen

[2022-11-23 11:52] gavande1 commented on #68829
Diff created D93260-code

[2022-11-23 12:07] gcsecsey opened #70331 "Marketplace search: malformed ES queries are sent for categories"
Based on the 🧵 here: p1669200946778249-slack-C029JEQRVRT

There are a number of invalid ES queries being sent by Calypso. Logstash link here: 2e49f-pb

The slug filter within the `filter.should` clause is parsing arrays incorrectly:
[code]

This filter is created in this function: https://github.com/Automattic/wp-calypso/blob/84586808865a834278f0366e79fd0265fba3b2b2/client/data/marketplace/search-

[2022-11-23 12:08] gavande1 commented on #69694
Deployed r256703-wpcom

[2022-11-23 12:08] #69694 closed, assigned to gavande1

[2022-11-23 12:40] gcsecsey opened #70333 "Marketplace: add Jetpack search free plan"
P2 thread: pdh6GB-2qC-p2

Jetpack search now has a free plan, which is added to the WPCOM store, but requires a checkout to activate. The plan is available for all sites, it doesn't require a Business plan. We need to add the free plan for Jetpack search for the plugin details page, and make it the default CTA, when it's not yet activated.

Here's a sketch of the changes from p8oabR-Xh-p2#comment-

[2022-11-23 13:47] Robertght commented on #52048
I can confirm this is still a thing.

@Automattic/dotcom-pa-group can this be reviewed further?

[2022-11-23 14:12] millerf commented on #70291
Great task description 💯 Very clear and precise.

[2022-11-23 14:12] Gustavo-Hilario opened #70336 "Query Loop Block: add ability to select specific posts"
### What

A user on 38164122-hc wanted to be able to select one or two posts on the Query Loop block.

### Why

The workaround, for now, is to add the specific posts on a tag or category that could be used as a filter on the block. However, that is less straightforward than it could be.

### How

This option is already present on the Blog Posts block. That very same feature could be added to the Q

[2022-11-23 14:14] phcp opened #70337 "[UI] Create opens by country chart on Email Opens detailed view"
The goal for this task is to create an Opens by Country chart on the detailed view. Initially it should use mock data, the endpoint will be provided later on.

**Mockup***
![Image](https://user-images.githubusercontent.com/3113712/203568203-0807d7d3-479a-4e0c-b7ae-8b27a4fa6568.png)
*Some additional work may be required once we have the final design.

[2022-11-23 14:16] phcp opened #70338 "[UI] Create opens by client chart on Email Opens detailed view"
The goal for this task is to create an Opens by Client chart on the detailed view. Initially it should use mock data, the endpoint will be provided later on.

**Mockup***
![Image](https://user-images.githubusercontent.com/3113712/203568773-ce17a709-28d6-4881-9f35-15a34f21e8b5.png)
*Some additional work may be required once we have the final design.

[2022-11-23 14:17] phcp opened #70339 "[UI] Create opens by device chart on Email Opens detailed view"
The goal for this task is to create an Opens by Device chart on the detailed view. Initially it should use mock data, the endpoint will be provided later on.

**Mockup***
![Image](https://user-images.githubusercontent.com/3113712/203569135-6c93dec3-db79-4c51-9877-cd663e4e9c93.png)
*Some additional work may be required once we have the final design.

[2022-11-23 14:21] Gustavo-Hilario opened #70341 "Rockfield: Add Content Options support so users could disable author bio on single posts"
### What

The user on 37530469-hc wanted to be able to disable author descriptions on single posts while using the Rockfield theme. That seems to be possible through `Content Options` settings on Customizer on some other themes:

https://wordpress.com/support/customizer/content-options/#author-bio

### Why

That would give users more customization options on this classic theme.

### How

I think t

[2022-11-23 15:12] allilevine commented on #70310
@lsl Can we resolve this one by testing it out? Any blockers?

[2022-11-23 15:14] allilevine commented on #70316
@DavidRothstein This is feedback from the CfT, is it related to in progress billing work?

[2022-11-23 15:35] jamiepalatnik commented on #70202
📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this on posts from the site from the user report and the link in [this comment](https://github.com/Automattic/wp-calypso/issues/70202#issuecomment-1324891833).
- I was not able to recreate this on a test site.
- Moving this forward to get other eyes on this issue, since this seems to be affecting older posts even though we can't replicate on new posts

[2022-11-23 15:44] DavidRothstein commented on #70316
I think this can probably be closed as "won't fix"?  More details here: pdtkmj-Ks-p2#comment-1229

[2022-11-23 15:46] #70316 closed, assigned to nobody

[2022-11-23 16:10] gikaragia opened #70342 "Implement step progress in loading screens"

[2022-11-23 16:11] #70342 closed, assigned to gikaragia

[2022-11-23 16:34] DavidRothstein commented on #70318
They should probably get some kind of message in checkout in that case, informing them that they're renewing their own subscription (and not giving a gift).

Simplest way to do this would be to leave the existing "You cannot gift subscriptions to yourself. Perform a regular renewal instead" error message in place and just change the text in that message to link to the renewal URL instead, although

[2022-11-23 16:48] donalirl opened #70343 "Add Support for Substack Embeds"
### What

Substack provides iframe code to embed a Substack newsletter onto a website. We could consider adding support for this on WordPress.com simple sites.

### Why

Allows more WordPress.com users to show off their Substack newsletters on their websites.

### Context

In #37261751-hc, a customer was upset that they couldn't do this on a Premium plan site and is considering leaving the platfor

[2022-11-23 16:52] jamiepalatnik opened #70344 "Preview displays differently depending on which preview link you use"
### Quick summary

There are two ways to access the Preview for a page with options to view the preview for different screen sizes, and they seem to display the page content differently.

1) There is a preview link in the top right corner of the editor.
2) There is a preview link accessed from the three dot menu to the right of the page title on the Pages screen. Screenshot:

<img width="1027" alt

[2022-11-23 18:18] Jaccuse commented on #35367
I chatted with a user who would basically like for these stats to be a bit easier to read. They believe it's a little time consuming to look closer and read through the URLs to determine if something came from the actual WordPress.com app or Google's quick search. They understand this is low priority, just putting this here since they did request it. 37715224-hc for reference.

[2022-11-23 19:31] Robertght commented on #68794
Hey! Sorry for missing this. I can't replicate the issue anymore.

[2022-11-23 19:32] jeyip commented on #69756
Having something right under the admin bar is going to be tricky. With the current CSS, it’s not impossible, but there are lots of edge cases to cover ( different breakpoints, the “view” tab, different layout content background colors, etc. )

Relevant discussion p1669070392411239-slack-CHN6J22MP

[2022-11-23 19:47] NoHopeRadio commented on #69603
Looking at ahmad's example page above, the code I see that's causing the issue is from CSS in this file?

https://github.com/Automattic/wp-calypso/blob/trunk/client/blocks/reader-full-post/_content.scss

The SCSS that unfurls like this:

[code]

What's perplexing me now is why I don't see this code rendering in Jordan's post. But looking closer, it looks like this rule triggers only in four cases:

[2022-11-23 20:18] khristiansnyder commented on #57390
Also reported in 37222039-hc
AT site
Theme: Appleton

[2022-11-23 20:23] jordesign commented on #69603
Woah - thanks @NoHopeRadio  - that's super helpful.

For the purposes of triaging and assignment - I'm happy that the discrepency there is something worth reporting, and we can ask @Automattic/loop to look into it further.

[2022-11-23 21:16] romarioraffington commented on #70292
D93343-code

[2022-11-23 21:17] romarioraffington commented on #70178
D93343-code

I went with the following approach:

- [x]   **The user is a pending free subscriber:** We send a code for the user to authenticate and confirm their email.
- [x]  **The user is a free subscriber:** We send a code for the user to authenticate

[2022-11-23 22:41] NoHopeRadio commented on #69603
One more follow-up from me, it looks like this is the js that assigns these image aspect ratio classes to images based on their attributes:

https://github.com/Automattic/wp-calypso/blob/trunk/client/lib/post-normalizer/rule-add-image-wrapper-element.js

[2022-11-23 23:10] goblinartificer commented on #68879
@vajrasar I... actually have no idea how to check it. Is the question "does your system use UTF-8"? If so, I can't see anywhere on my system that specifies what the default encoding used for Windows image descriptions is, or in fact any of my OS at all by default.

Or is the question "Can you replicate these tests, but with characters that don't appear in Western ISO encoding?" Or something on the

[2022-11-23 23:45] p-jackson commented on #70294
If the user setting was already set to "no", and then they choose "no" again (because the banner reappeared) then do we want to record another `calypso_sites_as_landing_page_rejected` event? Will we end up double-counting people.

Maybe we just an event prop that indicates what the previous value was so we can exclude repeats when appropriate.

[2022-11-23 23:55] autumnfjeld commented on #69408
Going to close this.

Only this item didn't get done, but that's ok:

 Header pattern with big, bold text https://wppals.com/wp-content/uploads/2021/09/glamour-1.png

[2022-11-23 23:55] #69408 closed, assigned to miksansegundo, autumnfjeld

[2022-11-24 00:06] lupus2k commented on #70310
I confirmed you gift the same type of subscription the user has.
If the user has monthly, the gift is monthly. If the user has yearly, the gift is yearly.

[2022-11-24 01:27] lupus2k commented on #70317
What do you think about adding an else [here](https://github.com/Automattic/wp-calypso/blob/6cf5483ea2563468ca83848a35c0437c9ee2ae2b/client/my-sites/checkout/composite-checkout/lib/leave-checkout.ts#L85) using `window.location.href`?

[2022-11-24 01:32] lsl opened #70351 "Gifting: Settings page copy should link to support doc"
We'd like to link to the support doc from the subscription gifting toggle copy in site settings.

We can add a "learn more" link using the `InlineSupportLink` component. [example](https://github.com/Automattic/wp-calypso/blob/954e16bee68d10e4031f8d8fb22b3546abf5c687/client/my-sites/themes/current-theme/index.tsx#L89)

Lets also fix the copy a little bit:

Toggle: "Allow a site visitor to gift you

[2022-11-24 01:54] lsl opened #70352 "Gifting post launch"

[2022-11-24 02:39] lupus2k commented on #70317
Created this diff (for simple sites): D93366-code
Also, this PR at wpcomsh (for atomic sites): https://github.com/Automattic/wpcomsh/pull/1157

[2022-11-24 02:55] #70352 closed, assigned to nobody

[2022-11-24 03:10] lsl opened #70354 "Gifting: Create account while gifting login flow"
When you click "Gift" on the gifting banner while logged out the checkout redirects you to the login screen.

If you then attempt to create a new account, you're landed on /start/domains, we should instead be landed back to the checkout, skipping site creation entirely.

Acceptance:

- [ ] Redirect back to the checkout after creating a new account.

Possibly related, possibly needs another issue:

[2022-11-24 03:16] p-jackson commented on #70294
I've been using a preference that's saved to the Calypso preference store (i.e. `import { savePreference, getPreference } from 'calypso/state/preferences/actions'`) using a preference key of `'sites-landing-page'` and with a format of:
[code]

e.g.
[code]

The `updatedAt` field will allow us to implement the show-again-after-14-days feature.

[2022-11-24 03:33] lsl opened #70355 "Gifting: style title alignment / css leak?"
Could be another theme style leaking over? This isn't the first one of these, lets loop over a few different themes and check for similar issues.

Context pdtkmj-Ks-p2#comment-1238

![Screenshot(15)](https://user-images.githubusercontent.com/811776/203688182-faf52676-4216-4264-bb0e-eb5363abf797.png)

- [ ] Align the subtitle part of the banner at every view port size
- [ ] Check 10 other themes fo

[2022-11-24 05:51] formosattic commented on #64352
Got a related request in 38128550-hc to preserve blog contents and links.

[2022-11-24 05:53] lsl commented on #70316
Should we drop the refund wording from the checkout as you suggest here: pdtkmj-Ks-p2#comment-1231?

[2022-11-24 05:58] lsl commented on #70318
We could show a different banner for the site owner with different copy and a "Renew" link instead?

Wanting to renew my site and landing on an empty checkout with a popup error isn't a good experience.

![Screenshot 2022-11-24 at 16-57-26 Checkout — WordPress com](https://user-images.githubusercontent.com/811776/203705419-dc554608-787c-44d6-9e4b-9377d9421492.png)

This isn't hugely pressing thoug

[2022-11-24 06:05] #70310 closed, assigned to nobody

[2022-11-24 06:10] #66673 closed, assigned to vishnugopal

[2022-11-24 06:15] vishnugopal commented on #70216
More discussion here: pcmemI-1tt-p2 to try to fix this issue.

Just a note that there will always be a distinction between `Email subscribers` (earlier email followers) and the `Subscriber` role specific to Atomic site. So to have a user get access to an Atomic private site, add them as a Subscriber.

[2022-11-24 06:20] vishnugopal commented on #69648
Moving to Apex as per this discussion on Slack: p1669134700118009/1669061915.799559-slack-C0442CPG81M

[2022-11-24 06:56] millerf commented on #70291
PR is [here](https://github.com/Automattic/jetpack/pull/27571)

[2022-11-24 06:58] millerf opened #70357 "Do not enable newsletters for the default plan created by the donation block."
A new plan is created by the donation block; when we pass a specific hashtag and then edit a plan, the newsletter toggle is enabled even if it was not a newsletter plan before.

To Reproduce:

1. Go to the wordpress.com/earn page
2. The donation block should create a plan
3. Add a subscribe block to a post
4. Click Add plan from subscribe block
5. Close the "Add plan" modal
6. Edit the existing pl

[2022-11-24 07:18] devNigel opened #70360 "Livro: New Post Email Link Color is grey"
### Quick summary

With Livro theme activated, both in AT and simple sites, the link color is always grey despite the settings in Global Styles.

This probably also happens with Lettre, they're the two themes that have accent colour slugs defined (see `wpcom_get_site_accent_color_palette_item_slug`).

### Steps to reproduce

1. Activate Livro on an AT or Simple site.
2. Go to Appearance > Editor >

[2022-11-24 07:25] ayebare commented on #68761
@steve-lgtm create a pull request and add a link back here for a faster follow-up.

[2022-11-24 08:27] epeicher opened #70363 "Marketplace: Ensure plugin title correctly displays html-encoded characters"
Some plugins that contain special characters like `&` do not display correctly the title after installation

For example `Health Check & Troubleshooting`, when the plugin is installed,  `&` in the title changes to `&amp;`.

![Screen Shot on 2022-11-24 at 15:40:37](https://user-images.githubusercontent.com/66711744/203732106-f0ba245c-0ea3-42ae-83f8-24828781eb10.jpg)

One suggestion is to use a libr

[2022-11-24 08:33] inaikem commented on #70363
**Note:** I updated the original screenshot to obscure domains and other PII

[2022-11-24 08:44] Nic-Sevic commented on #25405
another case here with 2 theme changes. It seems like maybe there was a problem with the theme update and then some sync actions but we can't figure out why the theme would change 2x from sync

5738039-zd-woothemes

[2022-11-24 08:57] candy02058912 commented on #69927
I feel it's better to hold this off for now as things might change with gifting as the discussion goes on in the CfT (pdtkmj-Ks-p2).

[2022-11-24 08:57] #69927 closed, assigned to candy02058912

[2022-11-24 09:18] millerf commented on #70357
This is still hapening and is due to the `#add-newsletter-payment-plan` flag in the URL.

[2022-11-24 09:22] gcsecsey commented on #70363
I think this issue might be related: #70273

[2022-11-24 10:11] taipeicoder commented on #70162
There is a dead area where clicking it will unexpectedly close the search dropdown:
https://user-images.githubusercontent.com/797888/203757314-223c0ce3-9831-411d-bcaf-f2fcd13844eb.mp4

[2022-11-24 10:27] bangank36 commented on #70162
Good catch, I think it is caused by this, will propose a PR

![Screenshot on 2022-11-24 at 18-26-50.png](https://cdn-std.droplr.net/files/acc_1243635/2jB5iP)

[2022-11-24 10:57] aleone89 commented on #60013
Another report here: https://wordpress.com/forums/topic/bell-alert/?view=all

Browsers:
Brave version is v1.45.131
Vivaldi 5.5.2805.44

[2022-11-24 11:51] millerf commented on #70357
Fixed in https://github.com/Automattic/wp-calypso/pull/70368

[2022-11-24 11:55] gcsecsey commented on #60769
ES changes are deployed on this change: r256764-wpcom

I'll start a re-index for WP.org plugins to add the new fields to version 25 `jetpack-search`.

[2022-11-24 13:08] cpapazoglou commented on #69693
Here is the config used in `wordpress.org` https://github.com/WordPress/wordpress.org/blob/trunk/wordpress.org/public_html/wp-content/plugins/plugin-directory/libs/site-search/jetpack-search.php#L837.

Let's try to revise our config based on this.

[2022-11-24 13:20] epeicher commented on #69528
Backlog grooming: List of `z-indexes` here: https://github.com/Automattic/wp-calypso/blob/c06835a4fbdc4dbfd39b1b1b73725b03af298229/client/assets/stylesheets/shared/functions/_z-index.scss#L1

[2022-11-24 13:22] epeicher commented on #70333
#### Backlog grooming:

This task is timeboxed to 1 for an initial investigation. That investigation should reflect what needs to be done.

[2022-11-24 13:35] #70317 closed, assigned to lupus2k

[2022-11-24 13:46] phcp opened #70372 "[New Post Email] Missing post_id on send events"
<img width="582" alt="image" src="https://user-images.githubusercontent.com/3113712/203822102-e7f28b8f-6ef4-4fa2-bc3f-94f1c1923115.png">

[2022-11-24 13:59] cpapazoglou commented on #69601
Backlog grooming:

- Create an endpoint for vendors to flag users
- Save the flag using `graylist_user_flag` in WPCOM or increase `fraud risk score `
- Depending on the flag, disallow self-service refund in Calypso interfaces. Replace the CTAs with "Contact us for a refund".
  - HEs will escalate the request to the vendor and act upon the vendor decision

[2022-11-24 14:44] romarioraffington opened #70373 "When the subscribe block has empty email, it should not submit"
https://www.loom.com/share/1b481854bade46abb061b38e5bb1a705

[2022-11-24 15:34] #69584 closed, assigned to JulianBustamante

[2022-11-24 15:55] autumnfjeld opened #70374 "Menus don't display well at smaller viewport widths"
# Description
For post-CfT, probably good to fix before we launch the MVP

Is this a pattern problem?

![Image](https://user-images.githubusercontent.com/5665959/203823750-476bb489-5dc7-4fea-bac2-485b4bad6cea.png)

@Automattic/ganon

[2022-11-24 16:01] kavyagokul commented on #70324
📌 SCRUBBING : RESULT
- Tested on P2 -  Uncertain
- Tested on Simple - Replicated
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- It looks like this only happens if the comments or comments form block is added to at least two posts
- I also feel that this block is not expected to be used in such a way, but

[2022-11-24 16:08] kavyagokul commented on #70195
I haven't thought long and hard about this, but I just found this bug report which might actually lead to an implementation like this
https://github.com/WordPress/gutenberg/issues/30706

[2022-11-24 16:10] kavyagokul commented on #70336
📌 SCRUBBING : RESULT
- Tested on P2 - Replicated
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
Related core bug https://github.com/WordPress/gutenberg/issues/1651

📌 ACTIONS
- Added to 'HE Cross-repo Watchlist' project board
- Feature request kept/closed

[2022-11-24 16:30] mpkelly opened #70375 "Register GitHub as a keyring service"
### Details

Add GitHub as an external connection that the Keyring manages. See discussion [here](pdKhl6-1u2-p2#comment-1959).

### Checklist

- [x] Endpoint `/me/connections` should include the GitHub connection
- [x] Should be able to connect and authorize GitHub which then results in an `access_token` being stored by the Keyring
- [x] ~UI at `/marketing/connections/:site` should reflect the con

[2022-11-24 16:35] mpkelly opened #70376 "Create the Authorize UI and GitHub integration panel"
### Details

In addition to the GitHub connection option at `/marketing/connections/:site` the user should be able to connect GitHub via the `hosting-config` page. The URL used on the hosting page `Authorize` button should be the same as the `connect` button on the marketing page.

![connect_github](https://user-images.githubusercontent.com/6851384/205394828-5f8eba52-0a50-4718-8169-4538738f5b51.pn

[2022-11-24 16:39] kavyagokul commented on #70360
📌 SCRUBBING : RESULT
- Tested on P2 - Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Classic themes don't have this issue
- Not sure if this should be moved to Jetpack

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-24 16:40] mpkelly opened #70378 "Created Connect UI (post-authorize)"
### Details

After connecting to GitHub, a connection should be available in `/me/connections` that looks like this:

[code]

This endpoint should be queried and if a connection exists with `service === 'github'`, then the Connect Branch UI below can be shown.

![connect_branch](https://user-images.githubusercontent.com/6851384/205394965-6e91fecc-b5c4-4a7b-90e9-19450b51e3ae.png)

### Checklist

-

[2022-11-24 16:43] mpkelly opened #70379 "Support syncing FTP_USER and FTP_PASSWORD via Secrets API"
### Details

The workflow action script will use SFTP. For this, we will need to register FTP_USER and FTP_PASSWORD secrets via the [GitHub API](https://docs.github.com/en/rest/actions/secrets#create-or-update-a-repository-secret). This secret will be referenced in the workflow script. We want to do something similar to [this](fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Serfg%2Qncv%2Qcyhtvaf%2Sraqcbvagf

[2022-11-24 16:45] mpkelly opened #70380 "Support repo `push` event listener using the GitHub API."
### Details

Once the Connect UI is in place, the user should be able to connect a repo and branch by hitting "Connect". This should call the API, which will register a `push` event listener with GIHub for the selected repo.

We can create and share a secret with GitHub to protect webhook event payloads. The request signature should be validated on WPCOM, where the webhook event is received.

http

[2022-11-24 16:45] zaguiini commented on #70294
@SaxonF that's what I currently have:

![Image](https://user-images.githubusercontent.com/26530524/203833804-3ba4c139-43a5-4e67-a068-f208dacd9a9f.png)

I'm not a big fan of it, the banner CTA is battling with the "New Site" for attention. Do you have any ideas on how to proceed with that?

[2022-11-24 16:46] mpkelly opened #70381 "Connect UI to API"
### Details

Using the UIs added in https://github.com/Automattic/wp-calypso/issues/70376 and https://github.com/Automattic/wp-calypso/issues/70378, the returned `code` and exchange it for an API `token`. Use that token to create/update the secrets in https://github.com/Automattic/wp-calypso/issues/70379 and to create the workflow action as per https://github.com/Automattic/wp-calypso/issues/70380

[2022-11-24 16:47] mpkelly opened #70382 "Support disconnect and cleanup"
### Details

Create the "Disconnect" UI and do the necessary cleanup via the API. The GitHub connection belongs to the user and might be used across many sites. So this clean-up should only stop `push` event updating the Atomic site.

![connected_branch](https://user-images.githubusercontent.com/6851384/205395112-8e884b79-9678-4ac2-9c52-2c80d9be47de.png)

### Checklist

- [x] ~UI looks like mockup

[2022-11-24 16:50] mpkelly opened #70383 "Add Tracks and Funnels; schedule calendar events for follow up"
### Details

Add Tracks events and maybe some Funnels. Also, set up some [calendar events](pdKhl6-1dx-p2) to evaluate uptake

### Checklist

- [ ] Tracks events are added for views and clicks of Authorize, Connect, and Disconnect buttons
- [ ] Calendar events are set up for 1m , 3m, 6m and 1y.

### Related

_No response_

[2022-11-24 16:51] mpkelly opened #70384 "GitHub integration: Update Support docs"
### Details

- Add a new entry to the Support docs at https://wordpress.com/support/
- Include a "How-to" guide to help the users create a repo from an Atomic site. See the discussion [here](p1670238936257759/1670017207.567219-slack-C0347E545HR).

### Checklist

- [ ] We have an entry at https://wordpress.com/support/ for this feature
- [ ] We link the new page to the "Learn more" anchors existing

[2022-11-24 16:53] mpkelly opened #70385 "Promote and market new feature"
### Details

Do we proactively promote this feature or just hope people see it? We could include a mention on the new hosting landing page. We could also post in the support forms or include it in our internal blog.

### Checklist

- [ ] Write a blog article
- [ ] Notify Jeff Sandquist who has offered to help us promote with GitHub
- [ ] See what can be done via SocialMattic. An example: pcvII4-pI

[2022-11-24 17:14] autumnfjeld opened #70386 "New Welcome Tour Slide for Site Editor"
# Description
This is not needed for CfT or MVP. (But would cool to ship it close to MVP.)

❗This card will be FLOW DEPENDENT. Meaning the card shown below is only for the PA flow.

We want to surface this great new Site Editor video tutorial screen.  As shown in https://github.com/Automattic/wp-calypso/issues/70189.  ❗The content in the Welcome Tour will be FLOW DEPENDENT. Meaning the card shown

[2022-11-24 17:16] #69723 closed, assigned to nobody

[2022-11-24 17:42] phcp commented on #70372
Closed by D93420-code

[2022-11-24 17:42] #70372 closed, assigned to phcp

[2022-11-24 17:51] ianstewart opened #70388 "Premium theme language is incorrect at /designSetup"
Example 1:

![image](https://user-images.githubusercontent.com/545779/203840487-6be65fd1-ba2b-4c96-b174-3c85720ae0f2.png)

These themes are not recurring subscriptions when purchased individually.

Better would be a simpler, "Included in WordPress.com Premium.”

Example 2:

![image](https://user-images.githubusercontent.com/545779/203842794-d3c509b5-b4c3-4db4-8984-3f9796d8026f.png)

![image](https

[2022-11-24 17:53] zaguiini commented on #70294
Progress in https://github.com/Automattic/wp-calypso/tree/add/sites-landing-page-opt-in-banner.

[2022-11-24 18:24] jp-imagines commented on #52182
Another report here: 38200975-hc (Firefox, older Blank Canvas theme)
Zooming in/out reportedly _didn't_ help this time, though I'm unsure if they followed the instructions properly. This was also for a site icon, not a header image (same as a previous report of mine above).

[2022-11-24 19:41] lupus2k commented on #70354
- [x] No longer treat the subscription ID as a site ID
☝️ Fixed in #70390

[2022-11-24 20:06] lupus2k commented on #70354
When creating an account, we land on /start/domains before validating the email. I'm thinking accepting payments from an anonymous user is not correct. What do you think about it?

[2022-11-24 20:39] lupus2k commented on #70355
This happened on themes using `text-align: center;` on the `.body`
I fixed this aligning `.wpcom-gifting-banner__subtitle` to the left (or right on rtl)

[2022-11-24 22:49] SaxonF commented on #70388
![image](https://user-images.githubusercontent.com/1072756/203871255-c6c75e2f-ccf9-40f3-927c-b292694d4640.png)

![image](https://user-images.githubusercontent.com/1072756/203871631-343e426a-7e4d-4113-9b48-80340dba334b.png)

[2022-11-24 23:23] #70295 closed, assigned to p-jackson

[2022-11-25 02:22] #70055 closed, assigned to a8ck3n

[2022-11-25 02:42] dognose24 commented on #68974
This issue has been fixed in https://github.com/Automattic/wp-calypso/pull/70253. cc @keoshi @jsnmoon

[2022-11-25 03:02] dognose24 commented on #68974
@keoshi Is the current extra links section on the right side keeping the same rather than the `ellipsis panel` in a smaller viewport good enough? Since the tab menu on the `width <= 480px` viewport is using the original menu, the `Followers` info still has enough space to display on the `width > 480px` devices.

<img width="594" alt="截圖 2022-11-25 上午10 49 46" src="https://user-images.githubusercon

[2022-11-25 03:44] bangank36 commented on #70388
Suggest to use current copy `Included in` [`WordPress.com`](http://wordpress.com/) `Premium` in [here](https://github.com/Automattic/wp-calypso/blob/271c4f23020f5f1cd6154f4954e5d23eba83600e/packages/design-picker/src/components/index.tsx#L130), so that we don’t have to wait for the translation of `Included in the Premium plan`

[2022-11-25 04:02] SaxonF commented on #70294
This is a good opportunity to form a pattern around page related actions needing attention. The notice component should be used and be placed under the page header for anything page related. It can either be placed in the page header itself or at the top of the content section.

![image](https://user-images.githubusercontent.com/1072756/203898841-888aedd4-eb78-4885-80e1-9254f5b749a8.png)

![image]

[2022-11-25 05:12] bangank36 commented on #70388
There are 3 kinds of upgrade modals:  

*   First-party themes:[https://d.pr/i/WyNlGx](https://d.pr/i/WyNlGx)
*   Third-party themes:[https://d.pr/i/XeWGB6](https://d.pr/i/XeWGB6)
*   Woo themes:[https://d.pr/i/dYC7RK](https://d.pr/i/dYC7RK)

Third-party themes upgrade modal can be enabled only with flag `'themes/subscription-purchases'` ( [link](https://github.com/Automattic/wp-calypso/blob/c7721

[2022-11-25 08:04] bangank36 commented on #70205
Sorry I missed your ping on this, will have a look on this next week 🤗

[2022-11-25 09:06] aleone89 commented on #64324
Another report here: https://wordpress.com/forums/topic/preferences-wont-stay/?view=all

Editor: Editor Preferences are not saved (i.e., unchecking "Use theme styles")
Theme: Penscratch 2
Plan: Free

Can replicate.

[2022-11-25 09:25] keoshi commented on #68974
@dognose24 We got some encouragement to show the Followers count as much as possible since it's a big metric for our new newsletter site-type segment.

Could we add the Followers link to the dropdown menu like so?

<img width="390" alt="image" src="https://user-images.githubusercontent.com/390760/203946298-c04fddb5-8c93-4d91-a087-9128fef76057.png">

[2022-11-25 09:49] mashikag opened #70403 "Reading Settings: Create feature flag"
Feature flag name: `settings/modernize-reading-settings`
Use [this PR](https://github.com/Automattic/wp-calypso/pull/68377) as guide.

[2022-11-25 09:51] mashikag opened #70404 "Reading Settings: Create calypso "Reading settings" page route with skeleton UI"
Files that need to be modified:
- `section.js`
- `client/my-sites/site-settings/navigation.jsx`
- Create skeleton page in `client/my-sites/site-settings/settings-reading`. This will include the following files:
  - `index.js`
  - `main.jsx`
  - `controller.js`

Use other setting pages as guide. Example `client/my-sites/site-settings/settings-writing`.

See my draft PR for what I had when grooming

[2022-11-25 09:55] miksansegundo opened #70405 "Pattern Assembler - Incorrect pattern width in pattern previews"
A new issue has appeared recently with the width of the patterns in the preview. Here is a [preview example](https://public-api.wordpress.com/wpcom/v2/block-previews/pattern?pattern_id=5590-174455321&language=en&site_title=Site%20Title&site_tagline=Site%20Tagline&stylesheet=pub%2Fblank-canvas-3&remove_assets=true&calypso_token=5590).

The expected result is that patterns should be full-width with

[2022-11-25 10:16] mashikag opened #70408 "Reading Settings: Create blank Reading settings sections."
Create blank Reading settings sections.

Sections to be created, in that order:
- Site settings
- RSS feed settings
- Newsletter settings

Follow the sections pattern implemented by other calypsofyied settings pages like for example "Writing", "Performance" or "Discussion" setting pages.

[2022-11-25 10:21] mashikag opened #70409 "Reading Settings: Add “Your homepage displays” site setting"
![Image](https://user-images.githubusercontent.com/2019970/203961033-4a97c831-38a0-4edf-a0f0-4a9ad58f76d2.png)

Replace the following with:
- "Your latest posts" with "Default homepage"
- "static page" with "Custom homepage"
- "Posts page" with "Default posts page"

### New Disclaimer Copy
The new explanation note should read as follows:

See pdDOJh-1bt-p2#comment-1022 for details

The link for th

[2022-11-25 10:24] mashikag opened #70410 "Reading Settings: Add “Blog posts” site setting"
![Image](https://user-images.githubusercontent.com/2019970/203962133-7bdbaa94-3a9a-433a-8ce1-ebd4af30525f.png)

Acceptance criteria:
- To be added under Site settings below "Your homepage displays" setting
- To apply site settings as expected
  - store the option value  under `posts_per_page` key
  - input value requirements: `type=number`, `step=1`, `min=1`
- Display for both classical and block

[2022-11-25 10:26] dsas commented on #69306
This block (a8c/blog-posts) is an [alias for the newspack-blocks/homepage-articles block](https://github.com/Automattic/wp-calypso/blob/67aa5a0e9dd5ec27011a57fe41dac55dbfdabc0e/apps/editing-toolkit/editing-toolkit-plugin/newspack-blocks/index.php#L24-L26) which is synced from the [newspack repo](https://github.com/Automattic/newspack-blocks/tree/master/src/blocks/homepage-articles).

The block doe

[2022-11-25 10:35] mashikag opened #70412 "Reading Settings: Add “Related posts” site setting"
![Image](https://user-images.githubusercontent.com/2019970/203962754-953b36ac-f06f-4a95-8fca-1b7246093694.png)

#### Acceptance criteria:
- To be placed following "Blogs post" setting under "Site settings" section
- To apply site settings as expected
- To mirror the behavior of the setting that is currently out in production

#### Settings API
##### Getting settings
Endpoint: `GET /site/%s/setting

[2022-11-25 10:40] mashikag commented on #70412
@saygunnyc can you review the Acceptance criteria I wrote up for the task please. 🙏  Perhaps you may want to get familiar with the conversation related to the setting that took place in one of mine p2: pdDOJh-15W-p2#comment-806 .

If you agree with all points can you help to come up with the copy to be displayed as a disclaimer why the setting is disabled for users with block based theme applied?

[2022-11-25 10:44] mashikag opened #70413 "Reading Settings: Add “Syndication feeds” RSS feed setting"
![Image](https://user-images.githubusercontent.com/2019970/203965679-2051222d-e16c-46a4-9311-2184bf5c9d0e.png)

Acceptance criteria:
- display under "RSS feed settings" section
- To apply site settings as expected
  - store the option value under `posts_per_rss` key
  - input value requirements: `type=number`, `step=1`, `min=1`
- to be fully functional

Related: pdDOJh-15W-p2

[2022-11-25 10:44] mashikag opened #70414 "Reading Settings: Add “Welcome email text” newsletter setting"
![Image](https://user-images.githubusercontent.com/2019970/203966554-62fcf72e-86ff-42b0-bb37-6c448f23fdb3.png)

[2022-11-25 10:46] mashikag opened #70415 "Reading Settings: Add “Comment follow email text” newsletter setting"
![Image](https://user-images.githubusercontent.com/2019970/203966651-64e4763a-b599-4f1b-ac93-e432e1ac2f51.png)

[2022-11-25 10:47] mashikag opened #70416 "Reading Settings: Add “Feature image” newsletter setting"
![Image](https://user-images.githubusercontent.com/2019970/203966860-64ed72d6-f45d-47f3-a712-deec95ccaf68.png)

[2022-11-25 10:48] mashikag opened #70417 "Reading Settings: Progress feature flag to stage environment"
Feature flag name: settings/modernize-reading-settings

[2022-11-25 10:48] mashikag opened #70418 "Reading Settings: Progress feature flag to horizon environment"
Feature flag name: settings/modernize-reading-settings

[2022-11-25 10:48] mashikag opened #70419 "Reading Settings: Progress feature flag to production environment"
Feature flag name: settings/modernize-reading-settings

[2022-11-25 10:48] mashikag opened #70420 "Reading Settings: Create CfT"

[2022-11-25 10:52] mashikag opened #70421 "Reading Settings: Modify admin menubar "Reading" settings path"
Instead of redirecting to WordPress classic Reading settings page: `options-reading.php`

Expecting new path to be: `/settings/reading/[site]`
Use search string: `/settings/writing/` as guide for what needs to be done.

This task will be implemented in jetpack repo.
This was my branch when planning this project: https://github.com/Automattic/jetpack/pull/27592

Acceptance criteria:
- clicking on "

[2022-11-25 11:37] mashikag opened #70423 "Reading Settings: Add “For each post in a feed, include…” RSS feed setting"
![Image](https://user-images.githubusercontent.com/2019970/203977114-200c2c90-8cb6-453d-9494-5c53ae96047e.png)

Note that this setting applies to both new post email and RSS feeds. As part of the project the setting will be split into separate settings, one for RSS feeds and one for new post notification emails. The separation will be addressed in another follow up task.

Related conversation: pdD

[2022-11-25 12:00] mashikag opened #70426 "Reading Settings: Add new `wpocm_subscription_emails_use_excerpt` option to site settings endpoint"
This task is part of group of tasks responsible for separating `rss_use_excerpt` to apply to RSS feeds only.

See related conversation: pdDOJh-15W-p2#comment-812

Use this task for reference on how to: https://github.com/Automattic/wp-calypso/issues/68746

[2022-11-25 12:05] mashikag opened #70427 "Reading Settings: Add "For each new post email, include..." newsletter setting"
This task is part of group of tasks responsible for separating `rss_use_excerpt` to apply to RSS feeds only.

Add new newsletter section setting to Reading settings page. The new setting will be responsible for dictating whether the New Post email notification should include the whole post content in the email body or just an excerpt.

See related conversation: pdDOJh-15W-p2#comment-812

[2022-11-25 12:16] mashikag commented on #70427
@saygunnyc 👋
1. Could you please help us to  come up with a copy for this new Newsletter setting?
2. When it comes to the UI I believe we can kinda copy the RSS setting design, right?

![Image](https://user-images.githubusercontent.com/2019970/203984139-ea16440d-ee87-458e-a8de-43b0d7fa723d.png)

[2022-11-25 12:18] zaguiini commented on #70294
Thanks for all the help, @Automattic/build, and @SaxonF. Here's how it looks now:

![image](https://user-images.githubusercontent.com/26530524/203984438-8e1f8bb3-40ce-4ddb-bb26-c44400c71b48.png)

[2022-11-25 12:20] mashikag commented on #70412
Mind that this task has a potential to be further broken down into 3 tasks:
1. The classic themes version of the settings
2. Disable the setting for block based themes
3. Add a disclaimer for when the setting is disabled

[2022-11-25 12:41] paulopmt1 commented on #70355
The error happens on [default theme](https://wordpress.org/themes/default/) and specific screen size:

<img width="578" alt="image" src="https://user-images.githubusercontent.com/1044309/203987892-d324acd6-1cab-4281-8d48-33a3b68c0bc4.png">

[2022-11-25 12:58] mashikag opened #70433 "Reading Settings: Clean-up feature flag"
Feature flag name: `settings/modernize-reading-settings`

[2022-11-25 13:04] cecilearkay commented on #58446
Another report in 22776651-hc

[2022-11-25 13:33] mashikag commented on #65656
The issue should be resolved now.

Resolved by: D92859-code

[2022-11-25 13:33] #65656 closed, assigned to mashikag

[2022-11-25 13:48] candy02058912 commented on #70355
Reminder for people testing with this theme: need to use PHP 7.4, so it doesn't break the site.

[2022-11-25 13:50] mashikag opened #70435 "Reading Settings: Uptake the new `wpocm_subscription_emails_use_excerpt` site option"
In New Post subscription email notifications include either full post content or a post excerpt depending on the current site's value of `wpocm_subscription_emails_use_excerpt` option.

[2022-11-25 14:10] staskus commented on #64963
[On iOS, first saving a draft (previewing) and then publishing helps avoid the issue](https://github.com/wordpress-mobile/WordPress-iOS/issues/19150#issuecomment-1326508212). For now, I couldn't indicate a specific configuration detail beyond making extra API calls from the client side that would help avoid the issue.

[2022-11-25 14:11] WBerredo opened #70436 "Marketplace: Paid plugin removal toast not shown for removal completion"
When uninstalling a paid plugin, I get a toast about the start of the removal of the plugin but not when it is successfully removed:
<img width="517" alt="CleanShot 2022-11-25 at 12 14 58@2x" src="https://user-images.githubusercontent.com/11555574/203974143-e3a9ea5e-fff3-439a-aeec-ad30cdf0c889.png">

For free plugins, when removing the plugin from the Marketplace page, the first toast is replaced

[2022-11-25 15:16] mpkelly opened #70438 "Update the WordPress.com GitHub App before going live"
### Details

We're currently using a [test app](https://github.com/apps/wordpress-deploy-dev). We need to create an app owned by Automattic and start using that. Things to note:

- Generate a secret and update the secret and client ID on WPCOM
- The home page URL should be http://calypso.localhost:3000/ and can later be changed to https://wordpress.com once we merge the frontend changes.
- The cal

[2022-11-25 15:19] phcp commented on #70235
PR adding client, country and device transformations is ready for review: https://github.com/Automattic/nosara/pull/5279

[2022-11-25 15:26] #69159 closed, assigned to eoigal

[2022-11-25 15:29] eoigal commented on #69159
Writing  prompts are now deployed fully on WPCOM with https://github.com/Automattic/wp-calypso/pull/69949 merged and the notifications deployed as per fieldguide instructions.

[2022-11-25 15:56] Noemish opened #70441 "LOHP LP i1"
Redesign of LOHP - MVP

Designs [here](https://www.figma.com/file/jLDMqw1PAvxtcj9eoNwsHm/%F0%9F%8F%A1-LOHP?node-id=2118%3A60478&t=H2HNujpmd5tECDWY-1)

[2022-11-25 16:01] Noemish opened #70442 "LIB LP i1"
Design for LIB Landing Page

Designs [here](https://www.figma.com/file/bjZnYD1V5IgfUOla3ZSpT0/%F0%9F%93%B2-LIB?node-id=673%3A30742&t=iHp6ntnjUrwMz3pg-1)

[2022-11-25 16:08] #70355 closed, assigned to lupus2k

[2022-11-25 16:10] aleone89 commented on #66653
Another report here: https://wordpress.com/forums/topic/latest-instagram-post-block-display-issue/?view=all#post-3891733

Plan: Personal
Theme: Gateway

I've deployed the workaround as seen above.

[2022-11-25 16:17] Noemish commented on #70284
I've shared latest explorations for visual direction

Figma [here](https://www.figma.com/file/I25gumfCSOuvS7ZqnUBngW/Hosting-LP?node-id=5%3A43)
Slack thread [here](https://a8c.slack.com/archives/C04B8243NKD/p1669308393364089)

[2022-11-25 16:41] #69930 closed, assigned to millerf

[2022-11-25 16:48] Noemish opened #70443 "TLD LP"
P2 thread: p9Jlb4-61t-p2
Figma file: 25HPQpIwJW9b8zXqAl7FyQ-fi-411_9441

DIR: @jrdnhllr / @Noemish

[2022-11-25 16:50] Noemish commented on #70443
Latest explorations shared by @jrdnhllr in this [Slack thread](p1669352777484119-slack-C04CBQN0HC3)

[2022-11-25 17:00] #70357 closed, assigned to millerf

[2022-11-25 17:57] worldomonation commented on #40613
Is this still relevant, given that we're deprecating Gutenboading?

[2022-11-25 18:07] #70264 closed, assigned to sirbrillig

[2022-11-25 18:18] sirbrillig commented on #67133
I'm moving https://github.com/Automattic/wp-calypso/pull/69904 to the review column since (I believe) it fixes this issue and moving this issue to in-progress to avoid cluttering the column.

I've also updated the description of that PR to read "Fixes 67133" so it will automatically close this issue when it is merged. If I'm wrong and this issue should remain open, please undo that change.

[2022-11-25 18:18] dognose24 commented on #68974
@keoshi Looks like a plan! I have addressed it [in this PR](https://github.com/Automattic/wp-calypso/pull/70446).

[2022-11-25 18:28] dsas opened #70448 "[Bug]: Incorrect theme preview when switching back to a global styles modified theme"
### Quick summary

Only one of the two previews when switching back to a global-styles customised theme takes into account global styles.

### Steps to reproduce

1. Enable the skatepark theme
2. Open up the site editor
3. In the global styles menu change the background colour
4. Save global styles
5. Switch theme to any other theme
6. Switch back to global styles

### What you expected to happen

[2022-11-25 21:05] sirbrillig commented on #70019
Another instance of this today (p1669409105840389-slack-C096PD42U) even though it should be even more impossible now that https://github.com/Automattic/wp-calypso/pull/70201 is merged. 😭

Maybe we need to figure out some way to use the _same_ payment request instead of creating two. Right now this would be hard because we'd need to create the payment request in `CheckoutMain` to determine if the p

[2022-11-25 22:15] #70373 closed, assigned to romarioraffington

[2022-11-25 22:29] #70292 closed, assigned to romarioraffington

[2022-11-25 22:29] #70178 closed, assigned to romarioraffington

[2022-11-25 23:01] sirbrillig commented on #70298
This will probably be fixed by https://github.com/Automattic/wp-calypso/pull/70315 which removes the upsell.

[2022-11-26 02:19] vindl opened #70453 "Plugins: fix multisite link and show all sites"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/stats/day
2. Click on the Plugins link in the sidebar.

#### What I expected

To view all installed plugins across my different sites.

<img width="1727" alt="Screenshot 2022-11-26 at 3 09 44 AM" src="https://user-images.githubusercontent.com/1182160/204068585-d8f6ad53-9301-4ad9-983e-d0070682a61f.png">

#### What happened instead

[2022-11-26 02:24] vindl opened #70455 "Themes: multisite sidebar link forces the single site selection"
Themes don't support the multisite view, and navigating to the `/themes` route will force you to pick a site. Considering that, we shouldn't show the "View themes for all sites," nor the Themes link in the multisite sidebar.

<img width="271" alt="Screenshot 2022-11-25 at 4 43 49 PM" src="https://user-images.githubusercontent.com/1182160/204068751-3f0f0aff-d2c2-4354-afa7-e9a938b9483b.png">

<img w

[2022-11-26 02:24] #70455 closed, assigned to vindl

[2022-11-26 03:40] edwinho89 opened #70456 "Allow adding mark or favourite to themes as filter"
### What

I'd like an option to add a mark or favourite on themes, so that I have a list of filtered themes I like at one glance

### Why

Another easy way to filter the themes I really like, instead of scrolling through heaps of themes to locate the themes I like manually.

### How

It is kind of like Spotify, where you can like the music to hear, and there will be a list of filtered musics based

[2022-11-26 03:52] edwinho89 commented on #70456
Inspired by 37948928-hc

[2022-11-26 10:35] simison commented on #40613
Not relevant

[2022-11-26 10:35] #40613 closed

[2022-11-26 11:05] zdenys commented on #69981
From 38069768-hc:

[2022-11-27 01:14] rosepajaroja opened #70457 "[Bug]: Embed Block doesn't work on FSE themes"
### Quick summary

Embed doesn't seem to work on simple sites with FSE theme active. It displays fine while on the editor, but it displays as a hyperlink on the live page/post.

The link tested was:

https://blog.petrieflom.law.harvard.edu/2022/11/21/the-res-nullius-construction-of-human-genomic-data/

**Test on Free site with FSE theme - Quadrat**

[Link](https://rosetestingmarketplace182152970.w

[2022-11-27 07:40] csabarakasz opened #70458 "Cover block does not show Media Settings (fixed / repeated background) when the featured image is used in Site Editor"
### Quick summary

When we use a Cover block with the featured image instead of the Post Featured Image block in Site Editor > Single template, the Cover block does not show the Media settings so the fixed background effect cannot be used.

### Steps to reproduce

1. Insert a Cover Block and set Use the featured image
2. There are no Media Settings.
3. When I add an actual Media, they show up.

ht

[2022-11-27 07:43] csabarakasz commented on #69811
another case: 37726151-hc

In the meantime, I created this issue as well which is somewhat related to this. https://github.com/Automattic/wp-calypso/issues/70458 Since user's are not able to edit the Post Featured image block, they are using cover block, but when the cover block is using the featured image as media, the Fixed background settings is not shown.

[2022-11-27 07:54] inaikem commented on #70458
@csabarakasz 👋 Looks like the video didn't upload, could you try once again, please? 🙏

[2022-11-27 08:24] fresatomica commented on #56484
This user also asked for the ability to filter the media files for those not used in posts/pages, to delete them:
https://twitter.com/45calVet/status/1596526974666788864

[2022-11-27 10:23] csabarakasz commented on #70458
Thank you, @inaikem ! I edited the post!

[2022-11-27 13:12] sguzovskaia commented on #66091
The customer came back asking about updates on this issue zen-5743494.

[2022-11-27 22:39] jerrysarcastic opened #70460 "Dyad 2: list block content not displayed in excerpt"
### Quick summary

On sites using the Dyad 2 theme, if the post contains a list, that list text is not rendered in the excerpt that is generated automatically in WordPress.

### Steps to reproduce

1. create test post with list block
2. publish post
3. view published post on any archive page (index page, archive page, search results, etc)

### What you expected to happen

I expect the HTML formatt

[2022-11-28 02:31] bangank36 commented on #70388
Closed as landed

[2022-11-28 02:31] #70388 closed, assigned to bangank36

[2022-11-28 02:51] taipeicoder commented on #68463
Closing in favor of #68463

[2022-11-28 02:51] #68463 closed, assigned to taipeicoder

[2022-11-28 04:29] miksansegundo commented on #70405
The issue is "magically" gone. I'm closing this issue for now. Let's keep an eye on it.

[2022-11-28 04:29] #70405 closed, assigned to nobody

[2022-11-28 04:38] miksansegundo opened #70461 "Pattern Assembler - Adding sections behaviour"
Section pattern selection: pattern panel should stay open until user selects all section patterns.

## Acceptance criteria
- When entering the section adding state, clicking a pattern will add it to the preview but the user should remain in this state to allow them to continue picking sections.
- When replacing a pattern, the pattern being replaced has a dark border indicating the status "selected

[2022-11-28 04:59] a8ck3n opened #70462 "Component: Add higher resolution Woo mobile app icon"
The `MobilePromoCard` component supports displaying the Woo mobile app at 55x56 points. The included PNG file is only 55x56 pixels though, meaning the image is a bit fuzzy on HiDPI displays.

We should update the component with a higher resolution (at least 110x112 pixels) to better support Retina/HiDPI displays.

[2022-11-28 05:15] miksansegundo commented on #70461
@Automattic/ganon can you share your thoughts about this change? I think adding multiple patterns won't work well with the toggle feature.

[2022-11-28 06:06] SaxonF commented on #70461
@miksansegundo I think to keep this simple to start with:
- When inserting a _new_ pattern there is no selected/added state. A user can add the same pattern multiple times.
- When replacing a pattern, the selected pattern has selected state, but clicking a pattern returns to the list, so no change here.

Basically the pattern inserter needs to have a `selectMultiple` type prop so it can handle bot

[2022-11-28 06:40] fushar commented on #69115
Good idea. Related: pdKhl6-1hu-p2

[2022-11-28 06:42] fushar commented on #67079
@miksansegundo can we close or conclude this issue now? 😄 I think we should link to the past PRs / diffs that contribute to this endpoint's performance improvements.

[2022-11-28 07:04] fushar opened #70465 "Virtual Pages: Revamp page header"
## Description

As part of the [iterative style updates to Calypso](p9Jlb4-5H1-p2) initiatives, we want to make several changes to the Pages page, especially related to the virtual pages.

[Context](pdtkmj-MO-p2#comment-1208)

## Screenhots

| Before | After |
| -------|----- |
| ![Image](https://user-images.githubusercontent.com/1525580/204213100-d6af43d0-8609-404d-b332-f504698f29f5.png) | ![Imag

[2022-11-28 07:12] miksansegundo commented on #67079
We did these improvements:
- D90635-code
- D91400-code

[2022-11-28 07:12] #67079 closed, assigned to nobody

[2022-11-28 07:12] fushar opened #70466 "Virtual Pages: Update subtitle and tooltip copies for homepage"
## Description

We want to emphasize the fact that the virtual homepage page is served by a template and is editable in the Site Editor.

The template name will be shown in the subtitle, which could be either `Front Page`, `Home`, or `Index`.

@Automattic/ganon @SaxonF

## Screenshots

| Before | After |
| ---- | ---- |
| <img width="492" alt="image" src="https://user-images.githubusercontent.com/

[2022-11-28 07:17] fushar commented on #69282
Closing this. Will create a new issue with a new approach.

[2022-11-28 07:17] #69282 closed, assigned to fushar

[2022-11-28 07:30] fushar commented on #70461
Do we have another issue for header/footer selection? The behavior is different: we're always replacing the pattern, but the pattern inserter can stay open.

[2022-11-28 10:30] valterlorran opened #70469 "Woo Tailored Onboarding: standardize how frames are presented"
![image-26 (1)](https://user-images.githubusercontent.com/1234758/204255286-f2f65f84-4eee-4b41-8120-3e651a5d30aa.jpg)

It would be nice if we could standardize how web/browser frames are presented across the platform. Maybe we can pull out the web-preview__frame [class that Launchpad uses](https://github.com/Automattic/wp-calypso/blob/7d1193391edbdb76e685ad62d62ff78f7cc2cd1d/client/landing/stepper

[2022-11-28 10:46] valterlorran opened #70470 "Woo Tailored Onboarding: The site should not be public by default"
After creating a site through the Woo Tailored flow, its visibility is public by default but should be private.

More info: pdtkmj-LF-p2#comment-1275

[2022-11-28 10:51] a8ck3n commented on #69299
So from what I can tell, this unlabeled user is the consolidated list of all public posts by all users who do not have an associated WordPress.com login. As I understand it, we don't actually sync this user data so I'm not sure we can parse this any further.

One option might be to label the user something like, "wp-admin user" or "Unconnected Author" or something similar. We could then include a

[2022-11-28 11:27] valterlorran opened #70471 "Woo Tailored Onboarding: The Woo “Store Details” task in the task list should be completed by default"
![Screen Shot 2022-11-28 at 08 27 17](https://user-images.githubusercontent.com/1234758/204266731-76216712-32b9-4a2b-a8af-6c4d55561c0b.png)

When we land on the wc-admin page, the "Store Details" task is incomplete. I made sure I selected the industry and the location in the store profiler step.

More info: pdtkmj-LF-p2#comment-1275

[2022-11-28 11:46] cpapazoglou commented on #63151
Here are the new designs pdh6GB-2vX-p2.

[2022-11-28 11:49] miksansegundo opened #70473 "Pattern Assembler - Keep the pattern selector open when adding/replacing header/footer pattern"
When we add a header or footer or replace any pattern, we use one click to do the action, and the UI automatically goes back to the list of selected patterns.

A possible improvement is to keep the pattern selector open when adding/replacing a pattern so users can test different patterns without going back and ford to the list of selected patterns. When ready, they can click on `Done` to go back t

[2022-11-28 11:50] miksansegundo commented on #70461
@fushar I have created another [issue](https://github.com/Automattic/wp-calypso/issues/70473).

[2022-11-28 12:35] #70115 closed, assigned to heavyweight

[2022-11-28 13:06] TimBroddin commented on #62773
Created a PR: https://github.com/Automattic/wp-calypso/pull/70474

[2022-11-28 13:19] fushar commented on #70473
Yup, exactly, thanks!

[2022-11-28 13:49] valterlorran opened #70476 "Woo Tailored Onboarding: Store Profiler data is not being persisted"
![Screen Shot 2022-11-28 at 10 46 32](https://user-images.githubusercontent.com/1234758/204293149-f5fa20e8-b636-4ed6-a2ff-fdfb6b27ae72.png)

The store profile information is not filled if I hit the back button on the design carousel step.

[2022-11-28 14:37] wojtekn commented on #70100
@bogiii, thanks for checking it. I've tested how it works now - I can't see the "Back" button anymore, and I see your point saying that the Back button doesn't make sense there.

However, I can still get stuck - I chose my slug in the previous step, but now if I change my mind and don't want to import any more, I can't go back, and I can't proceed further.

Would it make sense to add "Skip to dash

[2022-11-28 14:37] valterlorran commented on #70471
This issue can be related to #70476.

[2022-11-28 14:42] #69982 closed, assigned to TimBroddin

[2022-11-28 14:49] masperber opened #70477 ""My Themes" sometimes fails to appear"
### Quick summary

In Appearance > Themes, Atomic sites should display "My Themes," which is an area where users can manage their installed themes. Sometimes "My Themes" does not appear.

### Steps to reproduce

To make "My Themes" fail to appear:

1. Go to Appearance > Themes on an Atomic site.
2. Refresh the page.
3. "My Themes" will not appear.

There may be other conditions where "My Themes" d

[2022-11-28 15:01] Copons commented on #67344
I will close this issue for now because it's a Core bug tracked by a [Core Gutenberg issue](https://github.com/WordPress/gutenberg/issues/45520) (also assigned to the Ajax board).

[2022-11-28 15:01] #67344 closed, assigned to mmtr

[2022-11-28 15:04] valterlorran commented on #70476
PR #69721 should've prevented this.

[2022-11-28 15:31] gcsecsey opened #70479 "Marketplace search: display WC.com product prices on search results"
Subtask of https://github.com/Automattic/wp-calypso/issues/63905

When fetching WC.com products through ES, the prices are currently not displayed. This is most likely because there's no variation IDs sent in the API response, so no WPCOM product is found for the variations here:
https://github.com/Automattic/wp-calypso/blob/84586808865a834278f0366e79fd0265fba3b2b2/client/my-sites/plugins/plugin-p

[2022-11-28 15:52] dognose24 commented on #70258
Hi, @keoshi @jeffgolenski! I have a few solutions to this issue that need your opinion. There will be some break lines at the viewport near 480px with adding horizontal padding on the `Traffic` page. Do they look reasonable to you?

<img width="632" alt="截圖 2022-11-28 下午11 24 21" src="https://user-images.githubusercontent.com/6869813/204320769-a5c2826e-0a29-4ad6-b706-15e9901b683c.png">
<img width=

[2022-11-28 15:55] autumnfjeld commented on #70466
@fushar @SaxonF  I assume the copy will change with the template. e.g.   "Showing the Home template".  "Showing the Index template"  Is that correct? If so could you update the issue description to make this clear?  Thank you.

[2022-11-28 15:59] gcsecsey commented on #70479
Diff created with the API changes: D93605-code

[2022-11-28 16:00] autumnfjeld opened #70482 "Correcting issues in Calypso Pages for classic themes"
# Description
In this CfT, [Feature: Surfacing virtual pages in Calypso]( pdtkmj-MO-p2) > many tangential issues were surfaced related to classic themes. That the UI and copy in the Pages page (e.g. wordpress.com/pages) are incorrect and an audit of the experience should be done.

This issue is a placeholder for this audit and work.

See pdtkmj-MO-p2#comment-1199 for additional UX issues.

# Poten

[2022-11-28 16:21] bogiii commented on #70100
It absolutely makes sense. I'll see how it works on the goals page and we can implement the same solution by adding an additional "Skip to dashboard" button.

cc @vishnugopal

[2022-11-28 16:22] bogiii opened #70484 "Import focused flow: Add nav "Skip to dashboard" button"

[2022-11-28 16:29] bogiii opened #70485 "User subscribers: Wrong tooltip error message"
The email subscriber mail@example.com is already following the Super Super Shady blog. Once when I try to put that email into the existing invite UI, I am prompted that the “User blocked invites” however it’s not the case.

It should say, “User already is a subscriber”

![Image](https://user-images.githubusercontent.com/1241413/204330064-195bf34e-5ac8-41a4-a912-4670f0f4316e.png)

[2022-11-28 17:03] jp-imagines opened #70486 "Navigation block: Unable to add submenu items to overlay menu (mobile menu)"
### Quick summary

For some links (particularly those with shorter text titles, it seems), it is impossible to add a submenu link when editing a Navigation block with the "Overlay Menu" setting set to `Always`. The submenu `+` button is rendered off-screen, and there's no way to scroll over to click it.

### Steps to reproduce

1. Activate any block theme (FSE theme) and open the Site Editor.
2. I

[2022-11-28 17:14] autumnfjeld opened #70487 "Metrics for Pages and virtual home page links"
# Description

We are about to ship  "Virtual pages" for `home.html` and `front-page.html` templates pages.  https://github.com/Automattic/wp-calypso/issues/69158  We need to add tracks events.

![Image](https://user-images.githubusercontent.com/5665959/204340265-6a51e797-ab22-42c6-9337-a46aab95df38.png)

<img width="170" alt="image" src="https://user-images.githubusercontent.com/5665959/204354695

[2022-11-28 17:50] saygunnyc commented on #69786
Let's add a comma at the end. "Learn more about the feeds. "
Similarly to:

<img width="196" alt="Screenshot 2022-11-28 at 12 49 48 PM" src="https://user-images.githubusercontent.com/78876323/204346336-cf94f2ed-b0af-4c8a-a37c-a635ba167faf.png">

[2022-11-28 18:55] davemart-in commented on #70243
Closed with #70287.

[2022-11-28 18:55] #70243 closed, assigned to davemart-in

[2022-11-28 18:58] carinapilar commented on #68455
I also noticed that even though I access my Primary Site every day, since it's the one I use for testing, it's almost never on the list - so if I select another site, I have to search for the primary one to go back to it, while I would expect to be the first on the list.

[2022-11-28 19:13] danielbachhuber commented on #68455
@csonnek Out of curiosity, is there a specific reason you still want to be a member of the retired P2s? Or have you simply not removed yourself from them?

Also, the idea behind "Magic" sort is that your most important sites will bubble to the top of the list. I notice an issue, though: our A-Z sorting algorithm puts `(Retired)` at the top of the list:

<img width="1374" alt="image" src="https://u

[2022-11-28 19:48] edanzer opened #70491 "Tracking Issue: Free Flow"
### Details

This is a tracking issues for task related to the new Free Flow, which will be based on stepper and use architecture similar to our existing tailored flow cases like newsletters and link in bio websites.

**Screen: Setup**
- [x] Add domain generation field to Free Setup screen

**Screen: Chose Design**
- [x] Update design to match mockups in Free Flow P2 post (or Figma when ready). We

[2022-11-28 19:52] jeyip commented on #69921
@edanzer is exploring an implementation of the free onboarding flow within the stepper framework. We've paused any work on modifying the "start" flow for now.

[2022-11-28 20:09] #67133 closed, assigned to spraveenitpro

[2022-11-28 20:15] jeyip commented on #69756
The notice doesn't appear in `wp-admin`, only in Calypso admin. Currently working on fixing this...

[2022-11-28 20:41] saygunnyc commented on #70427
Hey @mashikag,
Yes, as discussed, we can duplicate the same section visually. Below, I took a crack at the copy. cc @michaelpick for a review once he gets the chance.

__

**For each new post email, include**
- Full text
- Excerpt

_Sets whether email subscribers can read full posts in emails or just an excerpt and link to the full version of the post. [Learn more about sending emails](https://wor

[2022-11-28 20:42] jeyip opened #70497 "Launchpad: Options aren't migrated during an atomic v2 transfer"
### Quick summary

Launchpad options aren't correct after a simple site undergoes an atomic transfer.

### Steps to reproduce

1. Create a simple site through either the link-in-bio or newsletter tailored onboarding flow ( https://wordpress.com/setup/newsletter/intro or https://wordpress.com/setup/link-in-bio/intro )
2. _Do not_ complete any Launchpad tasks
3. Register a business plan for the simp

[2022-11-28 20:52] saygunnyc commented on #70412
I had a back-and-forth with this one:

Is there a case where the user might have previous posts created via the classic editor, then switched to a block-based theme, so this setting as is (if we were not to modify) can actually affect the previous posts? Or is this setting completely useless once after the user switches to a block-based theme?

Because if that's possible (I wasn't able to test), t

[2022-11-28 20:58] edanzer commented on #69921
See PR to set up Free Flow scaffolding here: https://github.com/Automattic/wp-calypso/pull/70350
And see Tracking Issue with initial follow up tasks here: https://github.com/Automattic/wp-calypso/issues/70491

[2022-11-28 21:16] edanzer commented on #69899
Following a lot of discussion, we have decided to try creating a new Free Flow based on Stepper. This is inline with all our other recent work on tailored flows as well as efforts to move generic onboarding screens like Domains and Plans to stepper.

With this in mind, I prepared an [initial PR](https://github.com/Automattic/wp-calypso/pull/70350) to set up the scaffolding for a stepper-base Free

[2022-11-28 21:18] edanzer commented on #70491
Just updated [this existing tracking issue](https://github.com/Automattic/wp-calypso/issues/69899) for free flows rather than create a new one here.

[2022-11-28 21:18] #70491 closed, assigned to nobody

[2022-11-28 21:45] #70351 closed, assigned to lupus2k

[2022-11-28 22:13] obenland commented on #52100
@daledupreez Is there any update on the progress on this? Is Serenity still the best place for this ticket?

[2022-11-28 22:17] obenland commented on #53102
@daledupreez Is D86397-code only a devops-review away from being shippable?

[2022-11-28 22:21] spraveenitpro opened #70501 "Migrate PurchaseMetaPrice component to TypeScript"
### Summary:

Migrate existing code for component PurchaseMetaPrice to TypeScript.

### Testing Instructions:

* As it is a TypeScript migration, it should not change anything so ensure that the usual functionality described below on the purchases page just works as expected.
* Goto this page `/purchases/subscriptions/:site/:purchaseID` , if the purchase is billed `per year`/`per month`/`per week`

[2022-11-28 22:22] saygunnyc commented on #69648
Yes, that might need further investigation. I do have the separation for paid subscriptions v.s. free subscriptions can land on this Figma. –Paid subscriptions might require a slightly different flow (directly unsubscribing v.s. going into a flow similarly to WordPress.com plan cancellations) and perhaps be hosted on purchase management.

<img width="2239" alt="FreeSubscription" src="https://user-

[2022-11-28 22:41] carinapilar commented on #68455
@danielbachhuber, usually for testing purposes, like creating pages, posts, changing themes, privacy settings, and accessing the Customizer.

[2022-11-28 23:06] worldomonation opened #70503 "Flaky E2E: Enter post title"
### Spec file

specs/editor/editor__post-advanced-flow.ts

### TeamCity ID

9064225

### Logs

[code]

[2022-11-28 23:06] worldomonation commented on #70503
Fallout of https://github.com/Automattic/wp-calypso/pull/70392.

[2022-11-29 00:43] autumnfjeld commented on #69882
@Automattic/ganon  Let's watch the data after we ship to users to understand if this is even a scenario we need to worry about.   Going to put this in the backlog.

[2022-11-29 00:48] autumnfjeld commented on #70374
See chat p1669682784727679/1669682695.821939-slack-C048CUFRGFQ
"Can always be resolved with max site title widths"

[2022-11-29 01:41] autumnfjeld commented on #61179
Sorry about the delayed answer @Addison-Stavlo

We already have banners in place and I think the footer credits might be theme dependent.  In block themes the user can just delete the block, so it isn't enforced like with classic themes.

![image](https://user-images.githubusercontent.com/5665959/204417453-07367f09-d692-4de9-95b2-9634b97cc5cf.png)

[2022-11-29 01:44] p-jackson opened #70508 "Sites as landing page: show confirmation after making selection"

[2022-11-29 02:00] #70294 closed, assigned to zaguiini

[2022-11-29 03:58] fushar commented on #70466
@autumnfjeld Yes it's correct, thanks! I've updated the description.

[2022-11-29 03:59] kangzj opened #70509 "Odyssey Stats: Add loading spinner or similar for Stats pages and/or components"
The requests from Odyssey Stats need to be proxied to WPCOM, which greatly increase the latency of the response of the pages. The components are blank while loading data.

Calypso Stats seems okay tho benefiting from accessing `public-api` directly.

[2022-11-29 04:08] Clearified opened #70510 "The Last update has an issue that admins won't be able to view the dashboard"
Hello,
The WordPress.com Editing Toolkit latest update 2.21 has an issue that I could not view the dashboard until I deactivated the plugin.

[2022-11-29 04:48] ouikhuan opened #70511 "Allow users to add both username and email address when import email subscribers"
Follow up on #70083, we would like to allow users to add both username and email addresses when importing email subscribers, because users might not know another user's email address, by doing this change, we will also need to change the title from "Emails" to "Usernames or emails"

![Image](https://user-images.githubusercontent.com/4074459/204442355-3226312b-b48c-4580-ab9e-d26785a0360a.png)

[2022-11-29 05:12] danielk-am opened #70513 "WordPress Editor — Display an "offline" message when the user attempts to save a post when they are offline"
### What

I was wondering if there is a way to identify if the user is offline when they were saving their post as a draft, or during the autosave.

### Why

I had a user who was working offline and noticed that their Editor was displaying "saving to the cloud" even though they are not connected to the Internet. They lost their work when they went online and nothing was eventually saved.

37992824

[2022-11-29 05:46] danielk-am opened #70515 "Unable to view the active upgrade item when viewing in another language (ie: RU, ES)"
### Quick summary

I had a user on chat who was unable to remove an item from their active upgrades. They met with the following error when viewing it:

"Lo sentimos, se ha producido un error al intentar cargar esta página."

This was tested with RU and ES languages.

No issue when the language was set to EN.

Reference:
38325857-hc

### Steps to reproduce

1. Go to Upgrades → Purchases → Active U

[2022-11-29 07:12] druesome commented on #69839
Hi @cuemarie! Can you please check your test site again:

https://mqthree.wpcomstaging.com/

When you inspect the link in the Navigation block, the percentage characters inside the anchor tag (not the link text) are in fact being converted to `%25`.

<img width="1204" alt="image" src="https://user-images.githubusercontent.com/98869/204462528-f643d21c-8b0e-4aca-b7bc-e6801604ca0b.png">

When you cli

[2022-11-29 08:42] gcsecsey commented on #70479
WPCOM changes deployed with r256940-wpcom

[2022-11-29 08:44] edwinho89 opened #70520 "Pre-publish subscribers do not include social followers"
### Quick summary

Pre-publish checks on posts used to include number of social followers.

It previously includes social followers, as you can find it mentioned under https://github.com/Automattic/jetpack/pull/26751

We have revert changes based on https://github.com/Automattic/jetpack/pull/27083 , however subscriber counts on pre-publish checks did not include social followers there.

Reported i

[2022-11-29 09:07] #70453 closed, assigned to vindl

[2022-11-29 09:25] #70508 closed, assigned to nobody

[2022-11-29 09:29] Nic-Sevic commented on #70515
Posted on autopay here before we discovered the two were connected: https://autopay.wordpress.com/2022/11/29/error-failed-to-get-a-billing-term-for-business-bundle/

[2022-11-29 09:35] gcsecsey commented on #69692
Diff created: D93580-code

[2022-11-29 10:10] TimBroddin commented on #69563
Still waiting on Gutenberg team review. I've pinged them.

[2022-11-29 10:16] Nic-Sevic commented on #70515
seeming cause: https://github.com/Automattic/wp-calypso/commit/8046dde2270634761126bb5885440543b43f6e00

[2022-11-29 10:32] epeicher commented on #69692
Changes deployed r256949-wpcom

[2022-11-29 10:32] #69692 closed, assigned to epeicher

[2022-11-29 10:51] kriskorn commented on #70515
Fixed by https://github.com/Automattic/wp-calypso/pull/70522.
Closed!

[2022-11-29 10:51] #70515 closed, assigned to nobody

[2022-11-29 10:52] gavande1 commented on #68829
Deployed r256951-wpcom

[2022-11-29 10:52] #68829 closed, assigned to gavande1

[2022-11-29 11:39] gcsecsey commented on #70479
While testing #70483 I've found that not all Marketplace products have their prices stored in ES. This is because the variation IDs are missing from WC.com and aren't synced yet. We'll also have to go through the catalog and assign the variation IDs of all existing marketplace products in WC.com.

[2022-11-29 12:05] kavyagokul commented on #70344
📌 SCRUBBING : RESULT
- Tested on P2 - Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Uncertain
- Replicable on Core - No

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-29 12:20] kavyagokul commented on #70456
📌 SCRUBBING : RESULT
- Tested on P2 -  Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Uncertain
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Share your findings and where were you able to replicate the issue
- Uploaded file (if needed)

📌 ACTIONS
- Feature request kept

[2022-11-29 12:37] kavyagokul commented on #70343
📌 SCRUBBING : RESULT
- Tested on P2 - Replicated
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Feature request kept

[2022-11-29 13:00] kavyagokul commented on #69839
📌 SCRUBBING : RESULT
- Tested on P2 - Could Not Replicate
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Added to 'HE Cross-repo Watchlist' project board
- Transferred to XYZ external repo: https://github.com/WordPress/gutenberg/issues/46159

[2022-11-29 13:10] pauljacobson opened #70526 "Feature Request: Option to detect and remove duplicate media uploads"
### What

One of our customers contacted us in Live Chat asking for an option to detect and remove duplicate media uploads.

### Why

This particular customer has a WordPress.com Premium plan that allows 13GB of storage. They are close to the limit of their storage and they believe that they uploaded duplicate media items in the past, inadvertently.

Enabling customers to detect and remove duplica

[2022-11-29 13:33] gcsecsey commented on #70479
The issue in #70483 is caused by the product slug not being stored and used from ES. I've added a more detailed description [here](https://github.com/Automattic/wp-calypso/pull/70483#issuecomment-1330657168) and will create a diff to address this, but we'll also need to go over the catalog and add all product slugs to WC.com, I'll add this to the checklist.

[2022-11-29 13:52] #70404 closed, assigned to mashikag

[2022-11-29 13:53] masperber opened #70527 "Store Admin Fields: Strip Formatting"
### Quick summary

When changing a customer's plan from one level to another, it's useful to be able to copy the expiration date of their current plan and then paste it into the Expiry field in the Add New Subscription box. A recent update (I don't know exactly when) has caused the Expiry field to apply a different formatting to the date when copied from SA into the Expiry field, as pictured below

[2022-11-29 13:56] #70403 closed, assigned to mashikag

[2022-11-29 13:56] gcsecsey commented on #70479
Diff raised for adding `product_slug`: D93742-code

[2022-11-29 14:01] dsas commented on #70091
Reopening #70177 fixed this for domains but #70467 is needed for themes

[2022-11-29 14:13] csonnek commented on #68455
@danielbachhuber I just never removed myself - mainly because they're hidden and it was never an issue previously. But the fact they showed on my first page of the "magic" sort seemed strange.

[2022-11-29 15:05] #69294 closed, assigned to karenroldan

[2022-11-29 15:09] JanaMW27 opened #70530 "Data-center illustrations"

[2022-11-29 15:21] davemart-in commented on #69603
Thanks for the report @ahmadbaig1 and thanks for the breakdown @NoHopeRadio! I've assigned this issue to myself and added it to my list. I'll share an update once I've had time to dig in.

[2022-11-29 15:35] bangank36 commented on #70374
I think it is related to pattern, since I use the BC3 theme on my site and did not see the problem ( the nav will break to new line )

![](https://user-images.githubusercontent.com/10071857/204572974-601c9c45-4dc0-4e5a-9fe8-53ec3b4d2339.gif)

[2022-11-29 15:55] keoshi commented on #70258
Hey @dognose24!

They all look reasonable, but the last one feels too tight and confusing IMO. I also want to mention that they might look great in English, but that's not necessarily true for other languages.

Is there are reason why we shouldn't break these sooner into these vertical tabs? By sooner I mean when the viewport is larger than 480px, probably around ~600px?

![image](https://user-ima

[2022-11-29 15:56] #70408 closed, assigned to mashikag

[2022-11-29 16:07] dognose24 commented on #70258
I was also considering this solution, which looks like it is working once and for all. I will dig into the shared components to try to modify the breaking point for all chart tabs. Thanks for your feedback! @keoshi

[2022-11-29 16:10] gcsecsey commented on #60769
Sorry, forgot to add that the indexing was done successfully, it took around 40 minutes. 😄

[2022-11-29 16:30] mattwiebe opened #70537 "Remove unused tutorials endpoint"
### Details

We were going to work on some tutorials at the beginning of summer but then changes projects. There are tutorials endpoints in ETK that should be removed.

### Checklist

_No response_

### Related

_No response_

[2022-11-29 16:58] #70503 closed, assigned to worldomonation

[2022-11-29 17:04] cuemarie commented on #70204
Thanks @zachspears for including your test results! This issue (with the blank cart) looks like a separate bug than the issue originally reported - perhaps one of these?

- https://github.com/Automattic/wp-calypso/issues/66683
- https://github.com/Automattic/wp-calypso/issues/65662
- https://github.com/woocommerce/woocommerce-blocks/issues/6874

[2022-11-29 17:16] epeicher commented on #70479
I have reviewed and accepted D93742-code

[2022-11-29 17:34] cuemarie commented on #70204
📌 SCRUBBING : RESULT
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Thanks for the updates to your steps to replicate, @Robertght ! Here's what I was able to replicate:

1. Add `Mini Cart` block to header in Blockbase
2. Deactivate **Page Optimize** to avoid issue #65662
3. Open site on mobile browser - I tested with iOS Safari & Chrome
4. Add multiple items to the cart
5. Tap the

[2022-11-29 17:39] cuemarie commented on #65662
Upped the priority on this as it's not intuitive to resolve on it's own, and both Page Optimize and WooCommerce Payments are default plugins, so that means every person who adds a Mini Cart Block to their site will encounter this at some point

[2022-11-29 18:12] #69965 closed, assigned to bogiii

[2022-11-29 18:12] #70484 closed, assigned to bogiii

[2022-11-29 18:56] daledupreez commented on #69418
This issue can be closed as we shipped this across a number of changes, ending in D91040-code.

[2022-11-29 18:56] #69418 closed, assigned to daledupreez

[2022-11-29 19:02] bogiii commented on #70100
Hey @wojtekn,

The navigation `Skip to dashboard` button has been added and deployed.

[2022-11-29 19:02] #70100 closed, assigned to bogiii

[2022-11-29 19:49] valterlorran opened #70545 "Woo Tailored Onboarding: Creating a new user redirects to /read"
If we create a new user through the new Woo flow, we get redirected to `/read` and not to `/setup/ecommerce?flags=signup/tailored-ecommerce`

Steps to reproduce:
* Navigate to `/setup/ecommerce?flags=signup/tailored-ecommerce` on an incognito tab, and make sure you are not logged in.
* Fill in the information to create an account
* Get redirected to `/read` instead of being redirected back to `/se

[2022-11-29 20:06] paulopmt1 opened #70546 "Promoted Posts: Replace the current banner on /stats"
P2 post: pb5gDS-2fR-p2

Replace the current banner on /stats with a banner for the new Promoted Posts feature:

<img width="1165" alt="image" src="https://user-images.githubusercontent.com/1044309/204637919-33788501-f2e2-463a-8557-8f7e480e48bc.png">

### Next step
Waiting for design input:

- Create a new banner for Promoted Posts
- Consider a better and more contextual placement of the stats bann

[2022-11-29 20:08] valterlorran opened #70547 "Woo Tailored Onboarding: The subheader misaligns for a short period while loading the designCarousel page"
<img width="1347" alt="Screen Shot 2022-11-29 at 17 00 30" src="https://user-images.githubusercontent.com/1234758/205373400-512be3c3-aa94-4578-94ce-eb3c78f7757a.png">

If you reload the designCarousel page using `command` + `R` or `control` + `R`, for a brief moment, the subheader text aligns to the left side of the screen.

[2022-11-29 20:19] valterlorran opened #70548 "Woo Tailored Onboarding: Prioritize Woo themes on the designCarousel page"
Ensure we prioritize our Woo themes in the design picker: Tsubaki, Thriving Artist, Tazza, and Zaino (as and when they launch).

p1669734261320799-slack-C0Q664T29
pdtkmj-LF-p2#comment-1308

[2022-11-29 20:25] sirbrillig opened #70549 "PurchaseMetaPrice assumes english language terms"
`PurchaseMetaPrice` contains a switch statement that looks at the contents of the `billPeriodLabel` on the purchase to decide what term to show.

https://github.com/Automattic/wp-calypso/blob/7f68bb845d543a8f1ac8ea8602300a7d8be63c1a/client/me/purchases/manage-purchase/purchase-meta.jsx#L300-L311

However, `billPeriodLabel` is localized for the user's language, so the switch statement will fail for

[2022-11-29 20:28] markbiek commented on #70545
I did some testing and I can't reproduce this on development, only production.

That seems to me like it's an issue with the feature flag getting lost during the account creation process and not an issue with the flow itself.

[2022-11-29 20:29] JulianBustamante opened #70550 "store_saas_billing_intents and test_store_saas_biilling_intents schemas are not in sync"
The async_job that checks the differences between the test store and prod store database tables is notifying the `store_saas_billing_intents` and `test_store_saas_biilling_intents` schemas are not in sync.

[2022-11-29 20:34] JulianBustamante commented on #70550
Convo p1669738502904299-slack-C096PD42U

[2022-11-29 21:03] valterlorran opened #70551 "Woo Tailored Onboarding: designCarousel step should be more responsive"
Perhaps not restricted to this project, the design picker could use work for responsiveness. The chrome around the edge gets cut off on tablet-size screens.

https://user-images.githubusercontent.com/1234758/204646977-fab981fc-574b-478c-899b-72bc65148928.mov

[2022-11-29 21:28] sirbrillig commented on #70019
One idea I had was to only create the paymentRequest once, in `CheckoutMain`, and thread it down to the payment method. Since it needs to have the `onSubmit` handler already set, we could use `useProcessPayment` to get it manually. However, it turns out this won't work because `useProcessPayment` uses the context provided by `CheckoutProvider` which is also the component that needs the payment met

[2022-11-29 21:36] #70470 closed, assigned to markbiek

[2022-11-29 21:44] JulianBustamante commented on #70550
Diff created D93809-code

[2022-11-29 21:56] lupus2k commented on #70354
As the registration flow does not allow you to make payments before verifying your email, we have to investigate if we already have developed a flow that allows this process and apply it when creating an account from the payment of gifts. We will have to develop it if we do not have it yet.
On the other hand, it would be nice to know how many users can use this flow (trying to buy a gift and don't

[2022-11-29 22:09] #70296 closed, assigned to vykes-mac

[2022-11-29 22:46] edanzer opened #70553 "Free Flow: Remove Domains Screen"
### Details

We set up the Free Flow for now to have the same screens as Link in Bio. That includes a Domains screen where the user chooses their domain. The goal for the free flow is to added a name generation field to the Setup screen, and use that as the free domain.

Notes:
- This is related to the issue to [add a domain name generation field to the Setup screen](https://github.com/Automattic/

[2022-11-29 22:47] edanzer opened #70554 "Free Flow: Add Name Generation Field to Setup Screen"
### Details

The current Free Flow is simply using the same setup screen as Link in Bio. We need to add a domain generation field to that form. Because this field will effectively replace the domains screen, in addition to adding the field to the form, we will need to ensure that the domain from this field is provided downstream to the code that actually does the site setup process.

Notes:
- Requ

[2022-11-29 22:55] edanzer opened #70555 "Free Flow: Remove Plans Screen"
### Details

We set up the Free Flow for now to have the same screens as Link in Bio. That includes a Plans screen where the user chooses their plan. Instead, we should assume a user is on the free plan. In addition to removing this screen, we'll need to ensure that we pass the plan type downstream to the code that actually sets up the site on WordPress.com.

Notes:
- See this P2 for details on Fr

[2022-11-29 23:02] edanzer opened #70556 "Free Flow: Add Post-Setup Page and Link from Launchpad"
### Details

At present, when a user in Free Flow arrives at Launchpad, the link to Personalize Your Site is not enabled. We need to add a Post Setup screen, and update Personalize Your Site to link to it.

Notes:
- See this PR for reference. It adds the post-setup screen for Link in Bio. We do not simply link back to the original setup screen, but rather setup a new flow (there's a link in the de

[2022-11-29 23:07] DavidRothstein commented on #70354
Not sure what that means?  WordPress.com should generally always be allowing payments from un-verified email addresses (for example, that happens during signup).

I think the task here should hopefully be straightforward conceptually (although not necessarily straightforward to implement):
- Currently, when you click "Gift" on a site and are not logged in, you get redirected to a URL like `https:/

[2022-11-29 23:44] edanzer opened #70558 "Free Flow: Add Link and Task Completion Logic for 'Edit Your Design'"
### Details

The Launchpad screen for Free Flow has a task for `Edit your design`. We'll need to:
a) Enable this link. I assume this will go to the Site Editor, but we may want to confirm that.
b) Add related logic to complete this task. Much like the Link in Bio "Add Links" task, I think that what we'll want to do is just assume this is completed once a user visits the site editor. If so, then lo

[2022-11-29 23:52] edanzer opened #70559 "Free Flow: Add Choose Design Screen"
### Details

The Free Flow has a Choose Design screen to allow a user to choose a theme. For now, the current flow is just using the Choose Design screen for Link in Bio as a placeholder. We need to update this to match mockups (for now, see p9Jlb4-5ST-p2).

Notes:
- This may be a big enough tasks that we should break it into sub-tasks.
- This task may also require conversation. For example, which

[2022-11-30 01:08] jjchrisdiehl commented on #68921
Issue has been resolved by https://github.com/Automattic/wp-calypso/pull/69271

[2022-11-30 01:08] #68921 closed, assigned to jjchrisdiehl

[2022-11-30 03:02] bangank36 commented on #70487
@autumnfjeld do we need to implement the Stats and QR menu item for the virtual page three dots menu? If we do, then we may need to update the Ellipsis menu props https://cftp2.wordpress.com/2022/11/19/feature-surfacing-virtual-pages-in-calypso/#comment-1292

[2022-11-30 04:51] bangank36 commented on #69916
I'll look into this issue

[2022-11-30 07:09] fushar opened #70569 "Virtual pages: Add missing stats and QR code to virtual homepage menu"
### Description

Add the following missing three-dot (ellipsis) menu items to the virtual homepage:

- [x] Stats link, pointing to https://wordpress.com/stats/post/0/<domain> (verify that it really works)
- [x] QR code, pointing to the homepage address.

### Metrics
See prior work in https://github.com/Automattic/wp-calypso/issues/70487
- [x] Add tracking for stats `calypso_pages_ellipsismenu_item

[2022-11-30 08:27] TimBroddin commented on #65248
https://github.com/Automattic/jetpack/pull/26988

[2022-11-30 08:50] vishnugopal commented on #70511
This will require a backend change as well in terms of accepting a "usernames" field for the API backend to add as followers too.

We also need some frontend validation steps here, what happens when somebody enters a wrong username? Do we validate before submission? cc @saygunnyc

Adding this to our User Management project makes sense!

https://user-images.githubusercontent.com/533/204750298-26a55

[2022-11-30 08:55] zdenys commented on #55795
5748600-zd-woothemes with Twenty Seventeen theme. Oddly only Pinterest icon is not displaying.

[2022-11-30 08:58] TimBroddin commented on #65248
Duplicate: https://github.com/Automattic/jetpack/pull/27151

[2022-11-30 08:58] #65248 closed, assigned to TimBroddin

[2022-11-30 09:15] wojtekn commented on #70100
@bogiii thanks, it works well now.  There is no progress bar at the top, and if I change my mind at the import step, I can use the "Skip to dashboard" link to finish the process early.

[2022-11-30 09:51] mattf10 commented on #64697
I just tried the work-around and it didn't work.    I removed Yoast SEO, then uploaded the latest version (19.11).   Yoast SEO is set to automatic updates enabled, yet for premium, I still have the error "Auto-updates are disabled based on this setting for Yoast SEO."

Please re-open this and provide a fix.

[2022-11-30 10:14] dolgelukkig commented on #67059
Another report 38364437-hc theme Payton

[2022-11-30 10:37] gcsecsey commented on #60769
Based on our discussion here: p1669761107188599-slack-C02JPCHEKDY

We still need to add the `premium_slug` field to the allowlist to be returned from the Marketplace search API.

Also, when checking the `jetpack-search-25` index, only some of the plugins have the `premium_slug` field added. Example query to check:
[code]

I'll raise a follow-up diff to update the allowlist and look into the indexi

[2022-11-30 10:40] claudiucelfilip commented on #69787
The `https://` has been added as a placeholder, as [per video](https://github.com/Automattic/wp-calypso/issues/69787#issuecomment-1318892953).
Because `yoursiteaddress.com` is [already owned](https://github.com/Automattic/wp-calypso/pull/70169#discussion_r1026433045), `yourgroovydomain.com` was been used instead (taken from PCYsg-eI0-p2).
Non-english locales will continue to use `mydomain.com` unt

[2022-11-30 11:05] cpapazoglou commented on #64697
Have you tried also removing and uploading the premium version?

[2022-11-30 11:18] mattf10 commented on #64697
Yes, just tried that and still the same issue.

[2022-11-30 11:50] alshakero opened #70578 "Help Center: investigate why `calypso_helpcenter_page_open` event doesn't have the blog id in some cases"
### Details

Context here: pcr1an-tB-p2 (under Next Analysis Steps).

[2022-11-30 11:54] gcsecsey commented on #60769
Diff created for adding the `premium_slug` field to the API response: D93879-code

Also, I think this ongoing issue might be related to why we're not seeing more plugins with premium slugs assigned. Some plugins (eg. `woocommerce`, `wordpres-seo`) are currently missing from the `jetpack-search-25` index: p1669786925896139-slack-C029GN3KD

[2022-11-30 12:01] gcsecsey commented on #70479
Diff deployed with r257048-wpcom

[2022-11-30 13:06] ouikhuan commented on #69768
Hi @happychait , instead of removing the "Add User" button on the Followers tab for simple sites, we decide to keep it and redirect it the Email Subscribers tab, so the proposed change here will be:
1. You'll still see the `Add User` button on the Followers tab on Simple sites.
2. Once you click the button it will brings you to the Emails Subscribers tab.

Could you prepare the doc for this update

[2022-11-30 13:10] TimBroddin commented on #66739
This fix has been deployed! 🥳

[2022-11-30 13:10] #66739 closed, assigned to TimBroddin

[2022-11-30 13:22] mashikag commented on #70427
Thanks @saygunnyc ! The copy sounds good to me.

I do not see the setting to be mentioned there. I also think it may be a good idea to talk about it somewhere in the docs. Would you know a specific person/team responsible for the docs that we could suggest it to?

[2022-11-30 13:46] #70545 closed, assigned to valterlorran

[2022-11-30 14:07] the-misha commented on #52182
Another report: 38370424-hc
User had to zoom out to ~50-60% to get cropping tool to reappear.

[2022-11-30 14:35] csabarakasz commented on #66233
- [ ] 5754256-zd-woothemes

Theme Libretto

[2022-11-30 14:48] nuriapenya commented on #70102
First P2: **Launchpad in My Home: Audit & Initial Ideas** - p9Jlb4-5Zx-p2

[2022-11-30 15:11] arthur791004 opened #70587 "Design Picker: The style variation badge for TT3 is broken"
The style variations of TT3 don't have `color.background` and it leads the badge is broken

![Image](https://user-images.githubusercontent.com/13596067/204835052-54387cc9-eeb2-491e-89b5-ace35b5d83d1.png)

[2022-11-30 15:16] jmdodd commented on #52100
Another request in 5747871-zen.

[2022-11-30 15:17] kozer commented on #68094
@vindl I dig into this, and I ve found two tools to easily create those "announcements"

[Web WHAT'S NEW ANNOUNCEMENTS](https://mc.a8c.com/mobile-announce/whats-new.php)
[Mobile Announcements](https://mc.a8c.com/mobile-announce/)

I have some questions:

- Do we need to push this both on the web and mobile? (I guess not, but just wanted to ask to be sure)
- The what's new announcement needs:

[2022-11-30 15:58] Sandkorner opened #70591 "Private site email notifications show image links in them"
### What

The option as far I know is already there for public sites showing all the images correctly, but for private sites it should not show images, thus it also should not show the links to them as well.

### Why

Better looking emails for private site users, without confusing image links in them.

### How

<img width="720" alt="private-site-image-urls" src="https://user-images.githubuserconte

[2022-11-30 16:02] markbiek commented on #69644
Launched!

[2022-11-30 16:02] #69644 closed, assigned to markbiek

[2022-11-30 16:12] jartes opened #70592 "Query Loop block: "Add Block" button moves inner blocks"
### Quick summary

When editing a Query Loop block, blocks inside this block are moved when the [+] Add Block button appears. Also, the first item is moved when the editor is loaded for the first time. This is happening either with the List and Grid views and only in Simple sites.

### Steps to reproduce

Make sure you have at leat three posts in order to reproduce this.

1. Create a new page/post

[2022-11-30 16:21] filipanoscampos opened #70593 "Query Loop/Blog Posts Block: Show posts by popularity"
### What

Display posts according to popularity/view count.

### Why

Given that many WordPress websites are blogs, it makes sense to offer users a way to show posts by popularity and give their work extra visibility.

This was also requested by a user on 38364305-hc.
They would like to be informed if this is ever implemented.

### How

This could be an extra option for both the Blog Posts block a

[2022-11-30 17:21] #70471 closed, assigned to valterlorran

[2022-11-30 17:35] upwardmomentum84 opened #70595 "FSE: Global styles background color in Gutenberg not filling the entire editing area in editor"
### Quick summary

When using an FSE theme and a custom background color is set in Global Styles, the editor shows the color at the top of the main edit area. Part of the way down the editing area a white area is shown. This issue does not affect the live version of the site.

For instance with a green background color set, this is what the editor looks like:

![Markup 2022-11-30 at 09 22 47](http

[2022-11-30 18:02] saygunnyc commented on #70427
Maybe @jordesign might be the right person to ping for help finding that person! 😄

[2022-11-30 18:09] saygunnyc commented on #70511
It's a good reason to utilize the existing error pattern here. I also pinged you over the Dotcom System Figma.

I'd expect the example above to be like this:
<img width="626" alt="Screenshot 2022-11-30 at 1 06 49 PM" src="https://user-images.githubusercontent.com/78876323/204874785-bf975c59-6f03-4c63-8be1-073bb91bf17a.png">

[2022-11-30 18:23] villanovachile opened #70597 "[Bug]: Hemingway Re-written: Cover Block image height exceeds coverblock height"
### Quick summary

When using Hemingway Re-written, the images in cover blocks exceeds the height of the cover block, which causes the image to overlap elements below the cover block.

### Steps to reproduce

1. Add a cover block in the Editor
2. Add an image to the cover block
3. Add a paragraph after the cover block
4. Save and view page

### What you expected to happen

I expect the image to re

[2022-11-30 18:49] lupus2k commented on #70354
Hey @DavidRothstein, you are right about assuming the users don't have a WordPress.com account.

About the signup flow, I made some tests, and we can keep the `redirect_to` param when creating an account, but when trying to pay, the checkout page doesn't let you and redirect you back to login because the account is not verified yet.

I like the alternative of using the useless checkout option, do

[2022-11-30 18:55] mreishus opened #70599 "[Bug]: post-navigation-link: stale cache after trashing or restoring surrounding posts"
### Quick summary

After trashing or restoring blog posts, the `post-navigation-link` block can still render with outdated cached information when making "<- Previous" or "Next ->" links, as if the trash or restore never happened.

This is on WPCOM Simple and could be related to a caching optimization on the platform. I haven't tried on a standalone .org site.

5754652-zd-woothemes

### Steps to r

[2022-11-30 18:58] michaelpick commented on #70427
Sorry for the slow reply – I'm getting caught up after a couple of days out with flu 🙇

This reads well to me, @saygunnyc, and I like that it's consistent with the RSS approach 👍

[2022-11-30 19:04] ktyfuller604 opened #70600 "Jetpack Stats: Subpages are blank (ex: Posts list, Referrers)"
### Quick summary

Unable to see the full list of posts or referrers in Stats. Clicking on view all results in a blank page.

### Steps to reproduce

1. Starting in the Dashboard, click "[Stats](https://wordpress.com/stats/day/)"
2. Click "[Posts & pages](https://wordpress.com/stats/day/posts/)" (or any of the cards, including Referrers and Authors)

### What you expected to happen

The full list