[2021-06-30 16:23] Thelmachido commented on #54055
Another case here: 4103714-ZD
The below workaround worked
`Open a post/page in the editor and insert a Site Logo block. Replace the image with the desired logo and save the post. (You can delete the block from the post, or the whole post after you save it once.)`

[2021-06-30 16:32] tanjoymor commented on #54107
I've tested on two different customer sites in Ghost, Firefox and Safari - can confirm that the issue is fixed :-) Yay! Thank you :-)

[2021-06-30 16:59] AtrumGeost commented on #36795
Got a user asking for a way to quickly access to the editor on posts and pages:

30408179-hc

They said they spend too much time searching for pages or posts they want to edit

[2021-06-30 17:01] mikeicode commented on #53401
8601346-hc
Safari 13.1 on Mac OS X 10.13.6

[2021-06-30 17:55] fullofcaffeine commented on #53725
Starting from 10.9, Gutenberg production builds include unminified and minified JS assets (introduced in https://github.com/WordPress/gutenberg/pull/31732). For some reason, unminified jS assets have `CRLF` and `LF` bytes in them. This causes `svn` to complain in WPCOM (see: pMz3w-di5-p2#comment-89175).

We still don't know if this issue was already present and masked by the Terser plugin in Guten

[2021-06-30 17:55] the-misha commented on #53953
Another: 19231715-hc

[2021-06-30 18:01] fullofcaffeine opened #54180 "Gutenberg: v11.0.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/53725.
Release notes: [v11.0.0-rc.1](https://github.com/WordPress/gutenberg/releases/tag/v11.0.0-rc.1),  [v11.0.0](https://github.com/WordPress/gutenberg/releases/tag/v11.0.0).

- [x] Install and activate
  - [x] Copy & install v11.0.0-rc.1 (D63527-code, D63537-code)
  - [x] Activate v11.0.0-rc.1 on edge (D63539-code)
  - [x] Copy &

[2021-06-30 18:02] fullofcaffeine commented on #53725
This is done. Next one: https://github.com/Automattic/wp-calypso/issues/54180.

[2021-06-30 18:02] #53725 closed, assigned to fullofcaffeine

[2021-06-30 18:07] nsakaimbo commented on #53220
To all on this thread: we're closing this issue as we expect this and a whole host of other issues to be resolved by the new version of the application (v7.0.5) that was just released. The latest build can now be downloaded at the WordPress Desktop landing page [here](P7jrAc-3-p2).

[2021-06-30 18:07] #53220 closed, assigned to nobody

[2021-06-30 18:21] kriskarkoski commented on #54055
4103158-zen

[2021-06-30 18:54] tavilla61 commented on #53953
I'm not sure if this will be helpful, but a user mentioned that the error goes away if they toggle between the Visual and Code Editor.

#4078367-zen

[2021-06-30 18:56] synora commented on #53990
Triaged. Can replicate with Hever active on my Atomic test site.

[2021-06-30 18:58] synora commented on #51094
Triaged. Can still replicate this.

[2021-06-30 19:03] #54170 closed, assigned to sixhours

[2021-06-30 19:06] synora commented on #51331
Triaged. Working on simple sites. I had to click the bottom separator block first though.

https://user-images.githubusercontent.com/10015451/124017448-bc371800-d9b4-11eb-9d57-5a19cb47c0a8.mov

[2021-06-30 19:08] msilbers commented on #52992
@mrfoxtalbot The initial issues reported are all different and the titles, though the comments seem to indicate the same issue. Both of those issues linked mention just the editor in the initial report but this one is about the front-end of the site, where this should be showing as an embedded PDF. If whatever issue is left open can be updated to indicate the current problem, then these others can

[2021-06-30 19:10] msilbers commented on #52992
I see that's mentioned in #52728  so I'll close this one again 👍

[2021-06-30 19:10] #52992 closed, assigned to nobody

[2021-06-30 19:16] synora commented on #54003
Triaged. Can replicate the moment I enter a lowercase "n" (for North America) in the Zone regions field.

[2021-06-30 19:22] ctdealba commented on #53978
Another example: 4105885-zen

[2021-06-30 19:28] synora commented on #54054
Triaged. Can replicate on both simple and Atomic.

[2021-06-30 19:32] aamills commented on #54055
Additional report 4100773-zen, advised the user on the possible work arounds.

[2021-06-30 19:41] synora commented on #54072
Triaged. I have seen this recently as well but don't have any examples at the moment. I'll keep an eye out for more reports of this though.

[2021-06-30 19:50] ash1eygrace opened #54185 "WooCommerce My Account page Refuses to Connect in Site Preview"
Before starting, have a WooCommerce Site with a My Account Page added to your many for access.

### Steps to reproduce the behavior

1. Go to https://wordpress.com
2. Click on the Site Preview link in the top left.
3. Click on your My Account page in the Preview iframe
4. See the error "{yoursiteaddress} refused to connect."

Seems similar to: #17790

#### What I expected to happen

The My Account

[2021-06-30 20:09] davipontesblog commented on #54055
Adding High priority on this one due to the volume of incidence so far in just three days.

[2021-06-30 20:11] davipontesblog commented on #53978
Adding "Priority: Normal" to this one as it's definitely an issue to be resolved and seems widespread, but it's not stopping the posts from getting published.

[2021-06-30 20:19] deancroyal commented on #53401
Reported here in Twitter: https://twitter.com/GarethholtHolt/status/1410317600576479235

[2021-06-30 20:28] JoshuaGoode opened #54188 "Connections: Sharing / Keyring connections displaying that it was connected by incorrect user"
Recently, we received a report that a WordPress.com on Atomic site was displaying that legitimate Google Photos and Google My Business connections were connected by the incorrect user.

After review, the user it claimed to have been connected by was a local customer without any Jetpack connection to the site and no admin privileges.  We also confirmed that the actual site owner made the original c

[2021-06-30 20:32] csonnek commented on #54055
Also reported in https://wordpress.com/forums/topic/randomly-missing-website-logo/

They had a logo set previously, so did not advise they try the workaround.

[2021-06-30 20:53] creativecoder commented on #54055
Note that I'm working on the Jetpack side of this here: https://github.com/Automattic/jetpack/pull/20192

Aiming to get this into the 9.9 release next week.

[2021-06-30 21:09] lizswafford commented on #54106
Found a similar issue on my test site. If I copy text, then use shift-return to create a new line, I can't paste the text. I'm only able to type new text.

[2021-06-30 21:16] AtrumGeost commented on #38807
Hi folks!

Got another case where the user somehow got a Premium plan on an "Atomic without upgrade" site:

470260-hc

The user is canceling, so this is not critical. But sharing in case you want to check the user's SA

[2021-06-30 21:31] jordesign commented on #54150
Hey @Aurorum - it turns out there's still some discussion to go - but it would only be in My Home we'd want to remove these inline docs.

[2021-06-30 21:35] khristiansnyder commented on #54055
30195004-hc

site-logo block workaround was successful.

[2021-06-30 21:38] hacchism commented on #54107
Same here! It looks like the fix has worked for my user's site too. Thanks @pablinos✨

[2021-06-30 22:20] cuemarie commented on #54000
Thanks for the update @mrfoxtalbot!

Looks correct now on my test sites as well.  I'm guessing it's no longer going to be an issue, then!

[2021-06-30 22:41] kwight commented on #53800
This is intended behaviour (if not optimal for everyone), but I've kept it open as a feature request.

[2021-06-30 22:41] gwwar commented on #53401
As a heads up, I recently fixed other Safari issues in https://github.com/WordPress/gutenberg/pull/32824 and https://github.com/WordPress/gutenberg/pull/32747.

It might be worth testing to see if these changes resolve it. These should be available in Gutenberg 11

See also my debugging writeup on how I found these in p4hfux-5FE-p2 if that wasn't it and folks need to 🔍 further

[2021-06-30 22:43] kwight commented on #54072
@michaeldcain is this something your team would help with?

[2021-06-30 22:45] kwight commented on #54054
@Automattic/ajax for consideration

[2021-06-30 22:58] kwight commented on #53879
This is somewhat unavoidable, given the nature of DNS. A team could pick it up in the future for better handling, instead of the user seeing a browser fail screen.

[2021-06-30 23:03] blackjackkent commented on #54088
I looked into the API endpoint for this today, and it seems like we have a function which (in its comments at least) seems to indicate that it returns themes in a "trending" order by default:

(link in OpenGrok available on request)

[code]

This function is not used in the (current) v1.2 themes API endpoint, but is used in v1.1.

I'm not sure yet how to plug this into the existing behavior of the

[2021-06-30 23:18] jordesign opened #54194 "Better Styling for Support Documents in modal"
In some places we currently display Support Documents an an inline modal window (`InlineSupportLink`).

<img width="1024" alt="screen-shot-2021-06-16-at-11 39 52-am" src="https://user-images.githubusercontent.com/1842363/124042539-644bf000-da4c-11eb-9433-bf7e91384098.png">

The styling is currently pretty plain and could be updated to better reflect:

* Stying seen in our Support Docs ( PEmnE-5f8-

[2021-07-01 00:45] shammahk commented on #54154
Facing same issue

[2021-07-01 03:24] nagpai commented on #53626
#30397850-hc
Simple site.

[2021-07-01 04:51] donalirl opened #54197 "Page Template: Reduce Reliance on Layout Grid and Group Blocks"
### Steps to reproduce the behavior

1. On a theme that supports Page Layouts, start a new page.
2. Pick a page template that uses Layout Grid and Group blocks, such as the second option in the About category (named `About layout with intro and contact'.
3. Access List View to see the page's block structure.

#### The Problem

A lot of our Page Layouts use Layout Grid and Group blocks. These help

[2021-07-01 05:05] p-jackson commented on #54150
I'll copy the relevant discussion onto GitHub so you can see @aurorum.

The content of p4TIVU-94p-p2, titled "Inline Support Articles Everywhere", is advertising the fact that "inline support articles can now be used everywhere". It's not really a directive to "please use inline support articles everywhere". I hadn't read this post or https://github.com/Automattic/wp-calypso/pull/40080#issuecommen

[2021-07-01 06:30] lsl commented on #53100
@kwight haven't confirmed if it is a dupe yet but it does look a lot like ITP, I'll take a look at both these issues after I'm done with #\54108

[2021-07-01 07:10] kaitohm commented on #54055
4105200-zd-woothemes

site-logo block workaround was successful.

[2021-07-01 07:21] kdevnel opened #54200 "Jetpack Form Block - Date Picker - day suffix showing as "S" on simple sites"
### Steps to reproduce the behavior

1. On a simple site add a form block to a page
2. Add a Date Picker field
3. View the published page and select a date
4. See error

#### What I expected to happen
I expected the date to show as "16th" but is showed as "16S" instead. This only happens on Simple sites I tested which show the date in the format day month year. On atomic and self-hosted I see the

[2021-07-01 07:34] daria2303 commented on #51435
I believe this is for now for simple sites only.

[2021-07-01 07:40] donalirl opened #54201 "Cannot Edit Text Inside Paragraph Block"
There are sporadic issues with editing text in a paragraph block. When editing a page or post, all of a sudden new text cannot be typed inside of a paragraph block. The paragraph is selected with a blue border around it, but typing has no effect. Videos of this behavior below. Reloading the editor makes the issue go away, but it can reoccur.

### Steps to reproduce the behavior

I have not been ab

[2021-07-01 08:10] kosiew commented on #53945
Thanks @carinapilar for the report.
Were you looking at the .main max-width/width ?

I checked and the above numbers are 1040, 720px respectively.
Also moving this to triaged.

[2021-07-01 08:12] Aurorum commented on #54150
Thanks for sharing! I've opened a PR to make that change in #54202. :)

[2021-07-01 08:17] kosiew commented on #53945
Closing this in favour of https://github.com/Automattic/wp-calypso/issues/51096

[2021-07-01 08:20] kosiew commented on #52098
Thanks @zdenys for the report.
This is a good suggestion.
Triaged for developer attention.

[2021-07-01 08:32] kosiew commented on #53985
Thanks @Nic-Sevic for the report and for mentioning the earlier issue too!

Closing this as duplicate of your mentioned issue - https://github.com/Automattic/wp-calypso/issues/37079

[2021-07-01 08:32] #53985 closed, assigned to nobody

[2021-07-01 08:36] fresatomica commented on #53401
Another report: https://wordpress.com/forums/topic/dark-overlay-as-others-have-reported/

[2021-07-01 08:36] kosiew commented on #54036
Thanks @ClassicRKR27 for the report.
I found a related issue - https://github.com/wordpress-mobile/gutenberg-mobile/issues/1998
May I know whether your tests were on iOS or Android?

[2021-07-01 08:46] philnick206 commented on #53401
Another report: #4105468-zen

[2021-07-01 08:50] kosiew commented on #54046
Thanks @carinapilar for the report.

I tested and see the same issue on AT TwentyTwelve, on Simple site TwentyTwentyOne

Triaging for developer attention.

[2021-07-01 09:05] jartes opened #54204 "Uploading files on the Media Library on Safari is not showing the loading bar"
### Steps to reproduce the behavior

1. On Safari, enable the `Show wp-admin pages if available` option.
2. Go to `Media` and upload a file.

#### What I expected to happen

See the loading bar showing that the file is being updated.

#### What actually happened

The loading bar was not displayed and there's no information that the file is being uploaded.

### Context

Encountered this error on 29

[2021-07-01 09:06] AlexanderMonsanto commented on #53100
Another report 4105985-zen

[2021-07-01 09:33] ahmadbaig1 commented on #53159
Another report 30418483-hc
Asked user to resubmit to Search Console.

[2021-07-01 09:45] fresatomica commented on #54055
Another report: https://wordpress.com/forums/topic/baskerville-2-theme-the-logo-suddenly-disappeared/

[2021-07-01 10:16] liviopv commented on #53952
@daria2303 I'm closing this as it's not a bug. What happens is that the theme will display the Featured Image of the posts marked as Featured Content on the front page, instead of the Header Image.

If there are no Featured Content posts, the Header Image displays correctly. I let the user know about this.

[2021-07-01 10:16] #53952 closed, assigned to nobody

[2021-07-01 10:24] #40199 closed

[2021-07-01 11:24] tyxla commented on #54188
@JoshuaGoode thanks for the ping!

Unfortunately, I was unable to reproduce. Perhaps I'm missing something?

Also, something to note - all changes I did to this area were purely cosmetic and not related to the actual logic. I'm not sure who would be better to ping here - this is from the pre-OSS era of Calypso, and the folks who worked on it are no longer with us.

Perhaps if I can have consistent

[2021-07-01 11:39] tyxla commented on #54188
Actually, I was able to repro using a support session and the details from p2. I'm working on a fix.

[2021-07-01 11:53] tyxla commented on #54188
Got a fix in https://github.com/Automattic/wp-calypso/pull/54205 and will ship it shortly.

[2021-07-01 12:13] zdenys commented on #53116
30421417-hc Safari 12.1 and Firefox 82 on Mac OS X 10.12.6

[2021-07-01 12:14] simison commented on #53401
@gwwar thanks! Another fix was also in https://github.com/Automattic/wp-calypso/issues/53401#issuecomment-865131390 (PR https://github.com/WordPress/gutenberg/pull/32767) but unclear to me in which version of Gutenberg it was included.

We have Gutenberg 11 at the edge sites now (https://github.com/Automattic/wp-calypso/issues/54180) — @WunderBart @fullofcaffeine does that fix this issue for good

[2021-07-01 12:17] razvanpapadopol opened #54206 "New Onboarding: "first year free" text missing from domain suggestions on mobile"
### Steps to reproduce the behavior

1. Go to /new on mobile
2. Search for a domain

#### What I expected to happen
"First year free" text to be displayed together with the strikethrough price

#### What actually happened
The text is missing

### Context
Mentioned in p58i-aJq-p2#comment-51105

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
![image](https://us

[2021-07-01 12:21] jartes commented on #30252
Had another one on 3649694-hc with 173 pages. Suggested to set the parent page via `Quick Edit` and worked.

[2021-07-01 12:35] razvanpapadopol opened #54207 "Signup: render next step directly when landing back after social login"
### What

When using apple login, there's a quick flash of seeing a loading screen and account step, before loading the domain step. It happens immediately after completing the Apple ID auth flow and seems like something that could be polished up.

* White W loading screen for a half second.
* Account step for a half second.
* Then the domain step is displayed

Demo: https://user-images.githubuser

[2021-07-01 12:57] #54188 closed, assigned to tyxla

[2021-07-01 13:07] DanAntion commented on #51787
--

Thank you for clarifying. The email I received mentioned that it wasn't being closed here, but it wasn't clear whether or not the focus would remain. I appreciate your effort, and I hope you can find a solution.

[2021-07-01 13:31] #53987 closed, assigned to andres-blanco

[2021-07-01 14:42] Gilmoursa commented on #54055
Another report at: 30268394-hc
simple site

Caveat for Option 2, the page must be published, it doesn't work for a draft.

[2021-07-01 14:59] blackjackkent commented on #54088
Backend research results in more detail (crossposted from Slack):

https://public-api.wordpress.com/rest/v1.1/themes

This endpoint (notably, not the most recent version of the themes API) accepts a "sort" param that defaults to "trending" if it's not included in the request. That eventually filters down to the function at `wp-content/admin-plugins/theme-viewer/popular-trending-themes.php#200`

If

[2021-07-01 15:13] mrsjaved opened #54214 "Cover block - overlay opacity not working on a specific block (works with new cover block on the same user's site)"
### Steps to reproduce the behavior

1. Go to add new page or post.
2. Copy the following block code:
[code]

3. Paste in the code view.
4. Save changes.
5. You will see the opacity in the editor but not in preview or live.

#### What I expected to happen
Opacity should work on overlay on the preview and live page like this in the editor:
https://d.pr/i/xtUHak/KBARvT6qaO

#### What actually happen

[2021-07-01 15:30] KirkwallDay commented on #53953
Another instance here: 4096859-zen
The browser is **Google Chrome** here.

Also, the user reported that they had the "Autosave of a more recent version of the post" message at the top of the editor. Restoring the autosave fixed the issue for them, until they leave and re-open the editor on that page.

[2021-07-01 15:45] JanaMW27 commented on #50945
Hello all, after some discussion with the design team, we agree that we should have My home as the default, not have the switcher, but NOT TO ADD A NEW LINK AS A SUBMENU.

We think it won't be clear to have the 2 dashboards in the menu navigation.
We recommend adding the link in the Quick links. Yes, it may be a bit hidden, but it will be more visible compared to what we have today (the toggle in

[2021-07-01 15:46] KirkwallDay commented on #54201
Another instance here: 4106450-zen

They say this started about 3 - 4 weeks ago, and the problem is also very intermittent.

Clearing cache has no effect on the issue.

[2021-07-01 15:53] razvanpapadopol opened #54216 "Signup: add Free plan to the Plans Grid"
Mentioned in p58i-dmW-p2

### What
As it was designed for the signup reskin (p9Jlb4-22y-p2), we should add the Free plan to the plans comparison grid.
<img width="967" alt="Screenshot 2021-07-01 at 18 10 49" src="https://user-images.githubusercontent.com/14192054/124147903-cf6ee400-da97-11eb-9518-28619c0e0f96.png">

### Why
Comparing the features and their amount would be easier with all plans sid

[2021-07-01 16:08] ccwalburn commented on #54055
Another report: 4106439-zen

[2021-07-01 16:23] JoshuaGoode opened #54217 "Editor / Atomic: Block editor UI translations broken, does not display available translations"
After a user report, I reviewed with @nellofn and @ezebecke  that there are some apparent translation issues while in the editor on WordPress.com on Atomic sites. Generally, when the Gutenberg plugin is active.

Large portions of that editor that are otherwise translated on Simple, in the standalone Gutenberg plugin, or in core are displayed in English at times.

@ezebecke encountered a situation

[2021-07-01 18:48] ahmadbaig1 opened #54220 "Settings: "Performance" tab no longer accessible on Simple Sites"
I was trying to help a user disable AMP on their simple site, but was not able to find the tab `My Site> Settings> Performance`.

It is mentioned in the doc as well, on how to find that setting to disable AMP-
https://wordpress.com/support/amp-accelerated-mobile-pages/#turn-amp-on-or-off

This probably happened when we replaced horizontal tabs on settings with submenus for Nav unification ([#53774

[2021-07-01 18:51] villanovachile commented on #54220
Wanted to note that our public facing doc here mentions this is only accessible on Business & eCommerce plans, but I'm not sure why. It is in fact accessible via direct link on simple sites:

https://wordpress.com/support/settings/performance-settings/

[2021-07-01 18:53] JoshuaGoode commented on #54220
Related feature issue for the horizontal & vertical menu changes: https://github.com/Automattic/wp-calypso/issues/53774

[2021-07-01 19:09] JoshuaGoode commented on #54220
Preemptively adding to an AJAX board.

CC: @mmtr @tjcafferkey @BogdanUngureanu

[2021-07-01 20:12] csonnek commented on #53100
A report of someone using the Windows desktop app (latest version) and having the blank screen issue when trying to create a Reblog. It works in the Edge browser. https://wordpress.com/forums/topic/just-upgraded-7-05-desktop/

[2021-07-01 20:19] jeffgolenski opened #54223 "My Home: Move scheduled quick start support session above quick links"
When a customer has a quick start session scheduled, it takes a higher priority than quick links. Let's bump it up in the sidebar of my home!

Note: I may be exploring some different styles in the future, but for now, let's get this shipped! Current styling is okay.

![Screen Shot 2021-07-01 at 4 14 23 PM](https://user-images.githubusercontent.com/214813/124184658-e4dc1200-da87-11eb-97a1-717cb6cc0

[2021-07-01 20:23] jeffgolenski opened #54224 "My Home: Collapsed quick links card needs rounded corners"
Just noticed after the recent short-term design improvements were shipped, one small one slipped through the cracks!

The collapsed "quick links" card still has sharp edges. Let's make those consistent with the rest. 🥂

![Screen Shot 2021-07-01 at 4 20 23 PM](https://user-images.githubusercontent.com/214813/124185152-97ac7000-da88-11eb-9b5d-135458eeb30f.png)

[2021-07-01 20:42] jeffgolenski opened #54226 "My Home: Create improved primary CTA navigation"
**Currently:**

The Primary CTA area doesn't allow for easy browsing of recommendations in that area. Customers need to act on a CTA or dismiss it to see the next one.

![Screen Shot 2021-06-30 at 2 54 47 PM](https://user-images.githubusercontent.com/214813/124186205-f6beb480-da89-11eb-9448-8150138f1c6e.png)

**Proposed:**

![Screen Shot 2021-07-01 at 4 39 12 PM](https://user-images.githubusercont

[2021-07-01 20:47] autumnfjeld commented on #53976
@jeffgolenski  We also need to know the "Watch video" link .  Is there a video already in existence that we are linking to?

[2021-07-01 20:51] autumnfjeld commented on #50489
Closing this as work is underway for improved navigation of these cards in https://github.com/Automattic/wp-calypso/issues/54226

[2021-07-01 20:51] #50489 closed, assigned to nobody

[2021-07-01 20:51] jeffgolenski commented on #53976
Thanks for surfacing this again @roo2 @autumnfjeld

I'm trying to recall the conversation about the video, but am failing to do so.

I think with the launch of the onboarding re-skin that was just launched, we don't need the editor task to exist here. The onboarding now drops them right into the editor to work on their homepage. Customers will [hopefully] find my home after that. This item would t

[2021-07-01 20:56] autumnfjeld commented on #52767
Improvements to the post launch stats card happening in [My Home Pod medium term design explorations](pd2qGl-9y-p2)

Design in progress, not final:
![image](https://user-images.githubusercontent.com/5665959/124188402-915ada00-db02-11eb-8e2c-8edc1a78eed3.png)

[2021-07-01 21:01] jeffgolenski opened #54227 "My Home: Create secondary CTA navigation"
**Currently:**

The current secondary CTA area stacks various cards below the stats area of my home, which occupies a significant amount of real estate. 1 to 3 cards can display at any given time (it's random on refresh).

![Screen Shot 2021-07-01 at 4 55 08 PM](https://user-images.githubusercontent.com/214813/124188435-418dfb80-da8d-11eb-9774-d7938187e634.png)

**Proposed:**

Let's employ a simpl

[2021-07-01 21:05] autumnfjeld commented on #52995
I'm going to go ahead an close this:
*  ~~This work was done in D62067-code, hiding the WP App card when user has already downloaded the app~~ ❗ CORRECTION 29 July 2021: that diff was never merged into the back end.
*  I expect we might be collaborating with mobile team, @yaelirub  to [flesh out additional ideas of how we can better promote the mobile app](pbArwn-2nd-p2#comment-3468) to both users

[2021-07-01 21:05] #52995 closed, assigned to nobody

[2021-07-01 21:33] carladoria opened #54228 "Subscription block doesn't display correctly inside a Cover block on Natural theme"
### Steps to reproduce the behavior

1. Activate Natural theme (I haven't been able to reproduce this is in a different theme)
2. Add a Cover block on a page
3. Add the subscription block inside the Cover block
4. Assign 25% button width in block's Space settings

#### What I expected to happen

On Desktop:
- Subscribe button should be aligned to email field

On Mobile:

Subscribe button should sh

[2021-07-01 21:39] autumnfjeld commented on #53976
OK. confirmed we will **not add** the "Learn how to use the editor" task.

@roo2  For now let's just move "Launch your site" to the end of the checklist.

Let's also get more input on removing "Confirm your email address" before we act on that.  @p-jackson  might have insight on the importance of this task, I believe there was a discussion about email verification in a P2 post, and he created a [d

[2021-07-01 22:25] goblinartificer commented on #54201
In 30429364-hc the user mentions that this started when the custom size (px/em/rem) boxes appeared for what they believe is setting font size, and that it didn't happen before then, just in case that is helpful.

[2021-07-01 22:39] yaelirub commented on #52995
Nexts so much @autumnfjeld ! Will be more than happy to collaborate :D

[2021-07-02 00:36] donalirl commented on #53401
Encountered in #30430469-hc

[2021-07-02 01:25] roo2 commented on #54223
created a diff for this: D63628-code

[2021-07-02 01:38] #53212 closed, assigned to roo2

[2021-07-02 01:38] #53213 closed, assigned to nobody

[2021-07-02 01:55] kaitohm commented on #54055
Another report on Atomic site: 30431124-hc

Workaround 1 (selecting a different logo) did not work. Workaround 2 (changing the logo in a Site Logo block) did work.

[2021-07-02 02:12] donalirl opened #54231 "Change 'Blog' to 'Site' on Emails Sent to Invited Users"
### Steps to reproduce the behavior

1. Go to Users and invite a new user to your site.
2. Accept the invite as the new user.
3. Check the confirmation email you receive as the new user

#### Result

The email copy states:

"You accepted [NAME'S] invitation to contribute to their blog, [SITE TITLE]".

Not all sites on WordPress are blogs, but all blogs are sites. For sites without any blogging com

[2021-07-02 03:55] goblinartificer opened #54235 "Allow Facebook Pixel's JS on simple sites"
Today I had a chat in 30393100-hc. We've been advising that Personal and Premium sites add Facebook Pixels by adding just the pixel itself, without its accompanying script tag that calls fbevents.js.

This has worked for the Pixel's basic features, but it looks like it doesn't allow access to all features. Here's what Facebook told them:

These are features this user would like to use ⁠— more gene

[2021-07-02 03:56] p-jackson commented on #54151
I just reproduced this in incognito mode with a new user. I didn't reproduce when using incognito with an existing user.

So it appears to only be a bug in the brand new user experience. Which is probably the more common case.

[2021-07-02 04:13] #54224 closed, assigned to p-jackson, roo2

[2021-07-02 04:55] kaitohm commented on #54055
Another report: 4108979-zd-woothemes
Having the user try the workaround of changing the logo through the Site Logo block.

[2021-07-02 07:40] fresatomica commented on #54055
Another report: https://wordpress.com/forums/topic/logo-disappearing-not-staying/

[2021-07-02 08:19] #45603 closed

[2021-07-02 09:19] daria2303 commented on #53517
Issue persists here: 4108288-zd-woothemes
After refresh in customizer logo is gone

[2021-07-02 09:36] BogdanUngureanu opened #54239 "[Refactor] Improve how we handle conflicts in sections.js paths and move the Settings sections in sections.js"
**Task Details**
While working on https://github.com/Automattic/wp-calypso/pull/54203, we've moved the specific settings sections (e.g. `/settings/writing`) in site-settings in order to avoid a conflict between the autogenerated paths, preventing the navigation to not open on mobile devices. However, the approach we choose at the time also has a performance impact for the site-settings.

In order

[2021-07-02 09:42] pablinos commented on #53517
@creativecoder If this is still an issue, I'm thinking it should be solved when Automattic/jetpack#20192 ships to WordPress.com. What do you think?

[2021-07-02 09:52] #53226 closed, assigned to StefanNieuwenhuis

[2021-07-02 11:16] davipontesblog commented on #54055
@mrfoxtalbot is this a duplicate of https://github.com/Automattic/wp-calypso/issues/53517?

[2021-07-02 11:25] #54068 closed, assigned to BogdanUngureanu

[2021-07-02 11:37] sguzovskaia commented on #54055
Another report: 30408388-hc/4108662-zen
Advised the user on the possible workarounds.

[2021-07-02 13:55] #54157 closed, assigned to nobody

[2021-07-02 14:01] sixhours commented on #54078
These changes were shipped under a feature flag in #54218 and #54215 -- calling this done! 🥳 I'll open a separate ticket to track the front-end work.

[2021-07-02 14:01] #54078 closed, assigned to nobody

[2021-07-02 14:05] sixhours opened #54246 "Theme Showcase: Implement new design for the advanced magic feature buttons."
Using Calypso popover components, let's improve the "show advanced" text link toggle to the latest [iteration](QnkOH11BM3MoPFOFr2OTBC-fi-387%3A5280&viewport=233%2C758%2C0.8641278743743896).

<img width="1300" alt="Screen Shot 2021-07-08 at 12 57 40 PM" src="https://user-images.githubusercontent.com/349751/124983788-443ca380-dfed-11eb-9610-8c33132250a8.png">

cc/ @onuro @ianstewart

[2021-07-02 14:06] creativecoder commented on #53517
Thanks for that report @daria2303 . It looks like the site mentioned in 4108288-zd-woothemes is using the Shoreditch theme, which uses the Core `custom-logo` feature rather than the Jetpack logo feature referenced in this issue.

This looks like a variation of https://github.com/Automattic/wp-calypso/issues/54055; I'll add details to that issue and we can track it there.

[2021-07-02 14:06] #53517 closed, assigned to nobody

[2021-07-02 14:09] creativecoder commented on #54055
Note some users are experiencing the logo disappear when trying to save it in the Customizer--I believe that has the same cause as the logo not updating, so we're tracking that case here, as well.

[2021-07-02 14:15] creativecoder commented on #53517
@pablinos I think that PR will help for some sites, but in the case where the theme uses the custom-logo feature, there's a Gutenberg bug that needs to be fixed--still trying to track that down.

[2021-07-02 14:50] daria2303 opened #54248 "Coutoire: Slideshow not displaying when Hide the Site Header checked"
### Steps to reproduce the behavior

1. Install Coutoire theme
2. Appearance > Customize > Homepage Settings > Static page > Check  Hide the Site Header
3. Insert Slideshow on homepage
4. Visit site (not preview, not mobile)

#### What I expected to happen
Slieshow displays on the page

#### What actually happened
Slideshow doesn't display ( seems it's loaded and disappears)

#### Browser / OS ver

[2021-07-02 15:02] razvanpapadopol opened #54249 "Domains: Filters button is displayed as enabled only for exact match"
### Steps to reproduce the behavior
1. Go to Domains search (in signup or in Calypso)
2. Enter a search query
3. Apply a filter

#### What I expected to happen
Filter button to be displayed as enabled when some filter is applied, not only for exact match filtering.

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
<img width="375" alt="Screenshot 2021-07-02 at

[2021-07-02 15:39] csonnek commented on #53100
Another report in https://wordpress.com/forums/topic/cant-enter-new-post/

Asking for browser/OS information

[2021-07-02 16:08] sixhours opened #54251 "Theme Showcase: Move uploaded themes to their own tab"
<img width="1361" alt="Screen Shot 2021-07-02 at 11 07 47 AM" src="https://user-images.githubusercontent.com/2124984/124301655-1dcec200-db2e-11eb-89ef-2eb7bcf6126c.png">

I notice on my Jetpack site (and on my test sites) that my uploaded themes are listed under All Themes. This is expected, but it might be more intuitive to move the uploaded themes to their own tab in a future iteration on the sh

[2021-07-02 16:20] synora commented on #54248
Triaged. Can replicate on simple sites but works as expected on Atomic sites.

[2021-07-02 16:23] ericamQA commented on #54053
## I was able to reproduce the missing product images on the homestore demo.

### However, I'm able to see social icons on [bookshop demo site product pages](https://themes.woocommerce.com/bookshop/product/the-tempest/):

![bookshop-demo-social](https://user-images.githubusercontent.com/44411833/124302894-c0d40b80-db2f-11eb-81eb-38e15681888e.png)

### And on the [homestore demo site product pages]

[2021-07-02 16:24] sixhours opened #54252 "Nav Unification: Changer overlaps fixed position theme search"
The new nav unification toggle menu overlaps the fixed-position search bar on the Theme Showcase and obscures the filters. This isn't as obvious now because the search functionality is hidden behind a button, but once that's moved in #54095, it will be noticeable.

<img width="1665" alt="Screen Shot 2021-07-02 at 12 21 33 PM" src="https://user-images.githubusercontent.com/2124984/124303438-72733c8

[2021-07-02 16:36] ericamQA commented on #54056
### Unable to reproduce. Closing.

![Indy-Pub-2-toolbar](https://user-images.githubusercontent.com/44411833/124304686-0c87b480-db32-11eb-8d88-ec179b6ac7df.png)

[2021-07-02 16:36] #54056 closed, assigned to nobody

[2021-07-02 16:44] creativecoder commented on #54055
Gutenberg issue that seems to be part of the cause of the logo not updated (or disappearing) on WP.com: https://github.com/WordPress/gutenberg/issues/33177

[2021-07-02 16:53] ericamQA commented on #54102
I tested and while there is no indication that the changes is _happening_, per se, you do pretty quickly get a notification that the change is complete. Will leave open and mark as enhancement for devs to determine if a "processing" indicator of sorts would be helpful.

![domain-ns-changes](https://user-images.githubusercontent.com/44411833/124306467-6f7a4b00-db34-11eb-813a-4205f15956fa.png)

[2021-07-02 17:19] blackjackkent commented on #54088
(Moving this back out of in progress for now since the consensus seems to be that it's at the bottom of the priority list at the moment.)

[2021-07-02 17:31] synora commented on #54228
Triaged. Can replicate on the Natural theme. This may somewhat related but button text is also wrapping with Twenty-Twenty One and Seedlet with the same button width.

Natural(replication of the original issue):

<img width="752" alt="Screen Shot on 2021-07-02 at 13-26-45" src="https://user-images.githubusercontent.com/10015451/124310061-a737c180-db39-11eb-8365-6b4163767f78.png">

Twenty-Twenty On

[2021-07-02 18:03] JoshuaGoode commented on #54217
This is known and to be expected until the Gutenberg plugin resolves issues with loading the translations in the proper text domain.

Internal notes: p1625213030060600/1625174693.060000-slack-CBTN58FTJ

[2021-07-02 18:08] ericamQA commented on #54113
Reproduced. A workaround in the meantime would be to use a header block and then a blog posts block.

[2021-07-02 18:18] andres-blanco commented on #54144
D63656-code

[2021-07-02 18:30] ericamQA commented on #54214
## I wasn't able to fully reproduce this but I my not be following the same steps @mrsjaved did. Can you shed some light on the details to reproduce? Are you pasting directly into the page, HTML block, code block (tried all of these) or something else?

## I was able to get the code in and it definitely looked different in the editor than it did in the preview tab. See below...

### Editor view

S

[2021-07-02 18:46] ericamQA commented on #54147
### Tested and reproduced. I also noticed the favicon not showing in Chrome desktop when typing a site address into the address bar.

#### WordPress.com Site Example

![favicon-bug-testing](https://user-images.githubusercontent.com/44411833/124316544-be7bac80-db43-11eb-9ac1-696f4887b06b.png)

#### Google.com Example

![Favicon-Bug-Testing2](https://user-images.githubusercontent.com/44411833/124316

[2021-07-02 18:55] ericamQA commented on #54147
Never mind the above comment. Once I launched the site, the favicon showed up in the place I mentioned, as well as others I was planning to add.

The launching of the site did not correct the Safari mobile bookmarks behavior though.

[2021-07-02 19:07] abcrsol commented on #53401
Another case #4109944 - Safari 11 | MacOS 10.11.6

[2021-07-02 19:08] creativecoder commented on #54055
Gutenberg PR that addresses some more of the underlying issues: https://github.com/WordPress/gutenberg/pull/33179

[2021-07-02 19:24] ericamQA commented on #48080
Unable to reproduce - the "footer credit nudge" behaves as expected: showing up when trying to hide the footer credit and disappearing when any other option is selected. Leaving the customizer and returning doesn't impact this behavior. Closing for now.

[2021-07-02 19:24] #48080 closed, assigned to nobody

[2021-07-02 19:51] ericamQA commented on #48325
Can no longer repro with "Dashboard Appearance" setting off or on (tested both ways.)

[2021-07-02 19:51] #48325 closed, assigned to nobody

[2021-07-02 20:49] synora commented on #54204
Triaged. Can replicate.

[2021-07-02 20:58] dpasque opened #54260 "Calypso Sidebar: Add tooltips for sidebar menu items without submenus when collapsed (especially expand!)"
## What
When the Calypso sidebar is collapsed, there are no tooltips when you hover over menu item icons. While some menu items are clarified by their submenus, those without submenus should have tooltips (or something analagous) to remind the user what that icon/menu item does.

## Why
Where this is coming from: if you're new to WordPress.com, it's really easy to collapse the sidebar, forget you

[2021-07-02 21:26] synora commented on #54200
Triaged. I cannot replicate this by following the above steps but I've done some digging.

In Settings > General (https://siteurl.wordpress.com/wp-admin/options-general.php), there's a custom date format in place for the above report in particular.

![Annotation on 2021-07-02 at 17-11-47 (1)](https://user-images.githubusercontent.com/10015451/124329822-2806b580-db5a-11eb-8c3c-9b213c8bb350.png)

Ju

[2021-07-02 21:31] synora commented on #54172
@thehenrybyrd Would you happen to know the best repo for an app issue like this?

[2021-07-02 21:44] synora commented on #54139
Triaged -can replicate. This does seem related to specific themes. I tested on a simple site with Obsidian and with Apostrophe 2 on an Atomic site(the code snippet mentioned in Automattic/jpop-issues#6452 didn't work.

I also tested with Coutoire on Atomic and the video displayed as expected.

[2021-07-02 21:46] ericamQA commented on #54036
@ClassicRKR27 - do you know whether this was happening on iPhone, Android, or both?

[2021-07-02 21:47] synora commented on #54137
I'm going to close this one in favor of Automattic/wp-calypso/issues/54139

[2021-07-02 21:47] #54137 closed, assigned to nobody

[2021-07-02 21:57] synora commented on #54123
Triages. Can replicate on a simple site with Twenty Twenty-One active.

[2021-07-02 22:33] kcswong commented on #53401
Report in 13614150-hc

[2021-07-02 22:52] creativecoder commented on #54055
Note that I have a hotfix for this on Simple Sites at D63662-code.

Assuming it passes testing, it can be deployed immediately after the Jetpack release next week, on July 6th.

[2021-07-03 01:39] joweber123 commented on #53401
Another case - 4112771-zen Asking for browser info but have not heard back yet.

[2021-07-03 02:02] katiebethbrown commented on #46077
30446950-hc

Display name not updated.

[2021-07-03 07:39] joweber123 commented on #33371
Reported again here 4112758-zen

I am unable to reproduce this using the same exact blocks on my own test site. When the Vimeo block is added, the actual live site shows the video embed but the editor shows the link as a paragraph block.  On my test site, the same link stays as a Vimeo embed block.

[2021-07-03 08:33] devNigel opened #54265 "Cover Block: Wrong rendering of Secondary Overlay color"
I was able to reproduce this issue only with Rockfield theme in Atomic site. I tried to reproduce with some other themes, nothing of this sort was issued with other themes

### Steps to reproduce the behavior

1. Switch to Rockfield theme in Atomic site
2. In a Page / Post and add a Cover block
3. Set Overlay color as Secondary color
4. You will notice that the Cover block is green in the editor
5

[2021-07-03 09:02] zdenys opened #54266 "GIF Block: thumbnails are not animated and no GIF can be added or previewed"
### Steps to reproduce the behavior

1. Go to a post/page and add the GIF block
2. Type any search term and click `Search`

#### What I expected to happen
See a strip of animated GIF thumbnails and a big one below when clicking any thumbnail
#### What actually happened
Thumbnails in the strip are not animated and no big GIF is seen when clicking any thumbnail
### Context

#### Browser / OS version

[2021-07-03 09:05] kspilarski commented on #53401
Same case in 4109932-zen.

[2021-07-03 09:33] rezzap commented on #53159
Another report in 4111099-zen this user does have the Slideshow block though as reported in Automattic/jetpack#19922 but I'm not sure the error is related directly to the Slideshow block, but I was able to replicate this in both Atomic and Simple Sites using Slideshow block.

Errors reported in AMP:

[code]
There are a few other errors coming up, but these seem to be the most common ones.

[2021-07-03 09:52] jeyip opened #54267 "ETK: Dotcom legacy FSE navigation block doesn't display correctly"
### Steps to reproduce the behavior

1. Create a Simple site that has legacy FSE enabled
  - Normally this can be done by following the onboarding flow from https://horizon.wordpress.com/start/test-fse/fse-themes. A recent regression prevents us from doing so.
  - The alternative is creating a simple wordpress site, updating a legacy FSE compatible theme, and updating the blog sticker for said sim

[2021-07-03 10:20] zdenys commented on #54200
There has been this much older bug https://github.com/Automattic/jetpack/issues/11251 still open. I think we should close this one in favor of the older one.

[2021-07-03 13:29] ivan-ottinger opened #54268 "Editor: Set a default time/day for scheduled posts"
It would be great to be able to set a default time/day for scheduled posts. For example, so that a scheduled post is set to publish at Monday 8:00am by default.

We have had three requests on this feature so far:
1731043-hc, 360071-chat, 4104299-zd-woothemes

[2021-07-03 13:38] ClassicRKR27 commented on #54036
Hi all - @wpericam pointed out to me that autoplay with sound is not supported on either iOS or Android, so I'm going to go ahead and close out this issue as this is something out of our control.

[2021-07-03 13:38] #54036 closed, assigned to nobody

[2021-07-03 16:25] villanovachile commented on #54055
Another report here: 29178751-hc

Workaround using site logo block resolved issue.

[2021-07-03 17:28] nickpagz opened #54269 "People: Users showing in both Followers and Email Followers for some users"
### Steps to reproduce the behavior

A user reported some of their Followers are showing under both Followers and Email Followers. They claim there are eight duplicates. As an example, the user `vdhawan69` shows in Followers, and again in email followers using the same email address associated with that WordPress.com account.

The user mentioned this started occurring after they "invited" these us

[2021-07-03 17:32] JoshuaGoode commented on #54055
I encountered this on 28753841-hc

Not sure if it will stick but to resolve we were able to temporarily deactivate Gutenberg, set the logo in the Customizer, and then reactivate Gutenberg.

So:

1. Deactivate Gutenberg
2. Set the logo in the customizer and Save Changes.
3. Reactivate Gutenberg

We flushed cache and tried adjusting things in the Customizer again. The logo remained.

[2021-07-03 20:17] msilbers commented on #54201
This has happened to me as well. I had no related errors in console, though I did have some errors in the browser console from Giphy.

Chrome Version 91.0.4472.114

[2021-07-03 20:28] ClassicRKR27 commented on #53401
Another case here 4112837-zd-woothemes | Safari 13

[2021-07-03 22:29] msilbers commented on #52728
@mrfoxtalbot I closed #52992  since this issue was opened first, but I do see there's a third one at #52743 also opened after. I'll leave these in your hands from here

[2021-07-04 01:32] adelineyaw commented on #53401
Another case 4114151-zen

[2021-07-04 02:01] joweber123 commented on #54055
Simple site - 4113750-zen

Workaround using site logo block resolved issue.

[2021-07-04 03:28] detolah commented on #53401
Another case 4113559-zen

[2021-07-04 03:32] joweber123 opened #54271 "Pexels Search Broken"
### Steps to reproduce the behavior

**Add an Image Block**
1. Create a new page/post and add in an Image Block
2. Click "Select Image' > Pexels Free Photos
3. View error "Unable to retrieve list"

I am not seeing an error in the console.

![Markup on 2021-07-04 at 12:24:47](https://user-images.githubusercontent.com/24914028/124372058-d9285f80-dcc2-11eb-8dfd-631e96d0f3a5.png)

**Search in the Medi

[2021-07-04 03:50] joweber123 commented on #54271
I am also able to reproduce this on a self-hosted site using Jetpack.

[2021-07-04 04:13] detolah commented on #53401
Another case 4114226-zen

[2021-07-04 04:48] detolah commented on #53401
Another case 4111513-zen

[2021-07-04 06:02] retnonindya commented on #53084
I have a similar report. A user mentioned that their website has been set to Coming Soon, yet they received Likes -- which coming from Reader. I also able to see the posts on Reader:
https://wordpress.com/read/feeds/113424085

User report: 4112478-zen

This is similar as this issue:
https://github.com/Automattic/wp-calypso/issues/51660

But that issue has been closed. From what I know, a website o

[2021-07-04 06:35] poojashetty18 commented on #54055
Another case: 30098382-hc
Deactivating the Gutenberg plugin worked. Reactivating it back after updating the logo was still showing the wrong logo.

[2021-07-04 07:48] rezzap commented on #48623
There is a new report of this issue here: 4112914-zen

The user reported that the content used to display an excerpt but now is showing in full. I've reproduced this so far in two themes that have the post excerpt content option available using the content from the user's site (Baskerville 2, Independent Publisher 2).

The formatting from the post is being removed, but the content is not truncated

[2021-07-04 08:30] daria2303 commented on #53953
4099325-zd-woothemes
Not sure which browser yet

[2021-07-04 08:41] philnick206 commented on #53401
Another case #4082728-zen

[2021-07-04 09:53] pauljacobson opened #54272 "Karuna: Social Links Menu disappears when setting Primary menu"
Our customer has reported an odd error when using the Karuna theme - when they try to enable both a regular, Primary menu, and a Social Links Menu, the Social Links Menu disappears from view in the Customizer.

### Steps to reproduce the behavior

1. Go to Customizer > Appearance > Menus
2. Click on _Social Menu_, and set the menu as the Social Links Menu
3. Switch over to the _Primary Menu_ and s

[2021-07-04 10:18] daria2303 commented on #53401
4114934-zd-woothemes
Safari

[2021-07-04 10:30] jordesign commented on #54271
Seems to be working again now - but leaving this open in case we should better test error handling for the future.

[2021-07-04 10:31] tellisbethel commented on #53401
Another report here: 4114189-zd-woothemes
Recommended user update their browser and clear their cache just in case.

[2021-07-04 13:09] tellisbethel commented on #53953
Another report here: 4068740-zd-woothemes
Safari: Version 14.1.1 (16611.2.7.1.4)
MacOS: Big Sur. V. 11.4 (20F71)

[2021-07-04 19:26] KirkwallDay commented on #54055
Another instance here - 4112055-zen
Workaround 2 using a site-logo block worked here.

[2021-07-04 20:59] kathrynwp commented on #46077
Ran into this again in 4111200-zen

[2021-07-04 21:55] NoHopeRadio commented on #54106
User reporting they cannot paste text into list blocks until they type a character first:

#4114454-zen

[2021-07-04 23:48] donalirl commented on #53953
Encountered in #30472127-hc on Safari 14.1 on Mac OS X 10.15.7

[2021-07-05 00:26] deBhal opened #54273 "My Home: Onboarding checklist task "Name your site""
### Steps to reproduce the behavior

- Create a new non-english site, skipping the site name stage
- triggered Automatic Transfer
- go to `wordpress.com/home` for the new site
- Observe that the "Name your site" task is already marked complete

The task should not be completed with the default "Site Title" site name.

The logic for updating the task does check for the translation of "Site Title",

[2021-07-05 00:31] kaitohm commented on #54055
Another instance: 4115546-zd-woothemes
Asked them to try workaround 2 - replacing logo in Site Logo Block

[2021-07-05 00:47] happychait commented on #54055
#1627073-hc

Applied the [Site Logo block workaround here.](https://github.com/Automattic/wp-calypso/issues/54055#issuecomment-869953902)

[2021-07-05 01:04] hacchism commented on #53953
Another report here: 4116128-zd-woothemes
Safari 13.1 on Mac OS X 10.15.7

[2021-07-05 01:04] kaitohm commented on #53220
I can confirm, the original issue mentioned in this thread has now been resolved with the latest release - v7.0.5 . I'll go through and reply to all ticket instances noted on this thread, to notify users.

[2021-07-05 01:06] roo2 commented on #51119
I went through and tested this, it looks to me like there is be a bug with the coming soon label not being shown when the wp-admin calypso navigation is shown, and that the user is being directed to a wp-admin interface after installing the plugin.

Sorry I thought it was just the timing issue with the `/sites` call, it looks like there is a wider problem with coming soon badge in the navigation o

[2021-07-05 01:17] donalirl commented on #53401
Another report in #4112853-zen on Safari and Firefox

[2021-07-05 01:58] kaitohm commented on #43854
Closing in favor of https://github.com/Automattic/wp-calypso/issues/50132

[2021-07-05 01:58] #43854 closed

[2021-07-05 01:58] kaitohm commented on #50132
Similar requests reported here: https://github.com/Automattic/wp-calypso/issues/43854

[2021-07-05 01:59] kaitohm commented on #50132
Another user report here: 4115751-zd-woothemes

This particular user would also appreciate a way to sort users alphabetically.

[2021-07-05 02:05] joweber123 commented on #51540
Another report 29986243-hc

The workaround mentioned above for re-enabling Gravatar seems to be working for the moment.

[2021-07-05 02:37] kaitohm commented on #54055
Another instance: 4115259-zd-woothemes
Asked them to try workaround 2 - replacing logo in Site Logo Block

[2021-07-05 02:38] formosattic opened #54274 "Publicize: Add Twitter thread as an option when resharing"
When [sharing content again](https://wordpress.com/support/publicize/#sharing-your-content-again), it'd be nice to have the [option for Twitter thread](https://wordpress.com/blog/2020/10/13/a-new-way-to-publish-your-blog-posts-simultaneously-as-twitter-threads/) just like in the editor when the option comes up before publishing.

| Publicize settings  | Editor settings |
| ------------- | --------

[2021-07-05 03:10] alaczek commented on #54356
I think it's more of a theme showcase issue - cc @ianstewart

[2021-07-05 03:34] p-jackson commented on #53976
Email verification is important, for account recovery, and potentially for spam prevention.
A couple places that have mentioned account verification.
- 114-gh-Automattic/dotcom-manage#issuecomment-668701621
- p58i-aPN-p2

I'd be ok with removing it from this setup checklist if we had a proposal for where we would show an email verification CTA instead.

[2021-07-05 04:32] devNigel opened #54276 "CoBlocks animate CSS causes elements to stay invisible"
CoBlocks is a third-party plugin that [we provide for Atomic sites](https://wordpress.com/support/wordpress-editor/blocks/coblocks/). A CSS class definition for `coblocks-animate` is also loaded on Simple sites by WordPress.com.

[code]

Screenshot from a Simple site:

![image](https://user-images.githubusercontent.com/33957570/124417025-e81c1a00-dd75-11eb-9fe9-b5c8e5594788.png)

CoBlocks is a thi

[2021-07-05 06:22] fresatomica commented on #54055
Another report: https://wordpress.com/forums/topic/my-logo-is-disappearing/
The workaround didn't work.

[2021-07-05 07:23] rezzap commented on #53953
Another report in 4115853-zen
They have confirmed Firefox being used and I've asked them to confirm the version.

[2021-07-05 07:26] #50945 closed, assigned to nobody

[2021-07-05 07:35] #52743 closed, assigned to nobody

[2021-07-05 07:46] roo2 commented on #53976
Created a diff to move "Launch your site" to be the last item of the list

D63683-code

[2021-07-05 07:51] tjcafferkey commented on #50945
You can find this now in production based off @JanaMW27 suggestion.

![Screenshot 2021-07-05 at 08 50 23](https://user-images.githubusercontent.com/8639742/124436609-0aaa3500-dd6e-11eb-8578-df9de30a80b5.png)

If we need to iterate further on this, let's keep this discussion open otherwise it's now available.

[2021-07-05 08:49] rezzap commented on #53953
Another report in 4115977-zen
Asking to confirm the browser version. It does seem to be happening a lot with people using the Classic Editor Block.

[2021-07-05 08:54] devNigel commented on #54276
~~Reported in CoBlock repo: https://github.com/godaddy-wordpress/coblocks/issues/1930~~

[2021-07-05 09:27] WunderBart commented on #54276
Thanks for reporting, @devNigel! We do have CoBlocks on Simple sites, although it is a customized build that contains only a selected portion of the plugin functionality. The animations are indeed not a part of it, so it's most probably fixable by patching our custom CoBlocks build for Simple sites.

As for the [upstream issue](https://github.com/Automattic/wp-calypso/issues/54276#issuecomment-873

[2021-07-05 09:44] devNigel commented on #54276
I have closed the ticket in CoBlocks.

[2021-07-05 09:46] #54053 closed, assigned to nobody

[2021-07-05 09:54] priethor opened #54280 "Reader: can't follow specific blogs"
If I try to subscribe to make.wordpress.blogs, either by clicking the follow button or by using their feed URL (which works fine in other RSS readers), I get an undisclosed error.

#### Steps to reproduce

1. Starting at URL: https://wordpress.com/read/search
2. Search for "Make WordPress" blogs
3. Try to follow any "make.wordpress.org" blog.

It can also be reproduced by typing directly the blog

[2021-07-05 11:01] pablinos commented on #53921
@JanaMW27 Would you mind having a look at this when you get a chance? We need some way to get back to the 'all' state which you see when you first enter this page. Maybe an 'All' tab to go with the other categories? As it's kind of a search, we could use the 'X' we present in search fields, or maybe a second click on a category clears it?

[2021-07-05 11:23] jeherve commented on #53978
Also reported in 4115528-zen

[2021-07-05 11:28] jeherve commented on #53978
We haven't done any changes on our end in the past few months, so I wonder if this may be a change on LinkedIn's end, in the type of data they expect / accept when doing API calls to publish new posts.

@E-VANCE Could you tell us more about your setup for this tests, so we can try it on our end as well?

Thank you.

[2021-07-05 11:45] jeherve commented on #53978
Update. I reached out to the LinkedIn team about this in 4117016-zen.

Internal reference: p7fD6U-4Ad-p2

[2021-07-05 12:10] davipontesblog commented on #54271
I can't reproduce this either, testing from My Site > Media, and also from the Editor. Closing this for now, please reopen if new reports arrive.

[2021-07-05 12:54] kriskarkoski commented on #54201
User in 4102070-zen has provided a video of the issue.

[2021-07-05 13:02] kriskarkoski commented on #53401
4115769-zen

[2021-07-05 13:03] synora commented on #54055
4117160-zd. Deactivating Gutenberg, saving the site logo in the Customizer, then reactivating Gutenberg again worked.

[2021-07-05 13:05] kriskarkoski commented on #53401
4116056-zen

[2021-07-05 13:29] davipontesblog opened #54286 "Ability to block other WordPress.com users from following"
(Edited from original) In this particular situation, the user is concerned that a certain WordPress.com user is consistently liking their blog posts as new blog posts are published. It is possible that they are doing so from the WordPress.com Reader. The user wants an option to have the ability to block other WordPress.com users from following, and to remove likes on Reader when the like settings

[2021-07-05 13:32] davipontesblog commented on #53729
This came up in a user report here: 4081261-zen
Original report pKdGS-1fQ-p2#comment-6408

We also have another two requests on the aforementioned P2 post.

[2021-07-05 13:33] davipontesblog commented on #53729
For devs looking into this feature request, there is some discussion that took place here with some concerns about moving forward with this idea: pKdGS-1fQ-p2

[2021-07-05 14:05] E-VANCE commented on #53978
@jeherve Feel free to use automate.io and set up a connection between WP (new post as trigger) and LinkedIn, the setup is rather trivial and should be easily reproducible.

[2021-07-05 14:15] #53752 closed, assigned to alshakero

[2021-07-05 14:16] BogdanUngureanu opened #54287 "VideoPress remains disabled on AT after plan upgrade from Free plan"
### Steps to reproduce the behavior

1. Go to Store Admin and remove the plan on an Atomic site
2. Go to your site and make sure you are on a free plan.
3. Upgrade your site to a Business plan
4.Go to Jetpack > Dashboard > Settings > Performance.
5. Notice that VideoPress is disabled and cannot be enabled.

#### What I expected to happen
To have VideoPress enabled by default on Atomic on paid plan

[2021-07-05 14:19] BogdanUngureanu commented on #53294
This issue will be handled in wpcomsh, there's a pending for for it. However, after doing several tests, I've noticed that the VideoPress module still remains disabled and cannot be re-enabled in the settings interface by users.  A separate issue has been created for [this issue](https://github.com/Automattic/wp-calypso/issues/54287).

[2021-07-05 14:27] BogdanUngureanu commented on #46077
~~Hey @katiebethbrown and @kathrynwp, can you confirm that both encounters were on Atomic? :) If that's the case, the changes introduced in the merged PR will be available on Atomic after the next Jetpack release, which is tomorrow.~~

[2021-07-05 14:27] kdevnel commented on #53401
Another report - 29633996-hc

User reports:

[2021-07-05 14:32] JanaMW27 commented on #53921
The X behavior is a bit weird to clear a tab selection. I would ad ALL at the beginning being selected by default so the user can go back to the initial state.

[2021-07-05 15:00] ccwalburn commented on #54055
30482549-hc
User's logo disappeared.
Adding the Site Logo block to a page fixed it.

[2021-07-05 15:07] tjcafferkey commented on #54054
Since the launch of the Quick Switch, if a screen has both a WP Admin & Calypso counterparts you have the ability to access one or the other through the screen options tab.

More info found here: pd2C0z-4A-p2

[2021-07-05 15:07] #54054 closed, assigned to nobody

[2021-07-05 15:21] andres-blanco opened #54289 "Theme Showcase: The search bar is to narrow on mobile"
### Steps to reproduce the behavior

1. Go mobile
2. Go to '/themes'
3. Type something on the search bar
4. Click outside the text box

#### What I expected to happen
Keep seeing the search term, like this:
<img width="424" alt="can be harder to setup and c Screen Options" src="https://user-images.githubusercontent.com/375980/124492726-3be52e00-dd8b-11eb-8ee0-405cbd282db9.png">

#### What actually

[2021-07-05 15:31] kwight commented on #53100
Hm, not sure.

[2021-07-05 15:33] kwight commented on #51787
Correct, it's currently in the Flow Patrol domain. 👍

[2021-07-05 15:40] syds87 commented on #53401
Another report: 4113748-zen with Safari 12.

[2021-07-05 15:55] sguzovskaia commented on #53100
Another report in 26670378-hc.
Browser: WaterFox; Linux

User unable to edit existing posts/pages or create new posts/pages. They get [a blank screen](https://randomthoughtonlineblog.files.wordpress.com/2021/07/edit-post-e280b9-random-thought-e28094-wordpress.com-waterfox-classic_003.png).
Clearing cache or cookies doesn't resolve the issue. They will use Firefox for now which works ok.

[2021-07-05 16:42] liviopv commented on #54055
Another 4117643-hc. Changing the Site Logo block worked.

[2021-07-05 16:44] andres-blanco opened #54291 "Theme Showcase: autofocus on mobile after clicking filters on search bar"
### Steps to reproduce the behavior

1. Go on mobile to `/themes/[YOUR_SITE]`
2. Click on a filter on the search bar (Premium or Free is the same)
3. See that the filter bar disappear and the text area is focused

I think on mobile it might be a good idea to not focus the text field after clicking a filter. This way you wont get puzzled when the filters disappear.

[2021-07-05 16:56] Nic-Sevic commented on #54055
another instance here: 30016318-hc
workaround provided with CSS

[2021-07-05 17:13] NoHopeRadio commented on #53953
Another:

30483675-hc

Safari 14.1.1 and Firefox 89.0, Mac OS X 10.15.7

Directed user to try the switching between the code editor and visual editor workaround mentioned above, and though it took them a while to fully understand this setup, it seemed to work.

[2021-07-05 17:36] tellisbethel commented on #53953
Another here: 30482463-hc
User was using Classic Editor block.
(Forgot to grab the browser version this time.)

[2021-07-05 17:47] kathleenjross commented on #53401
Another report: 30485244-hc

[2021-07-05 18:06] kathrynwp commented on #54170
LGTM too!

cc @mikeicode since it was your idea originally

[2021-07-05 18:23] abcrsol commented on #53401
Another case: 4117767-zd

[2021-07-05 18:40] liviopv opened #54293 "Page/Editor crashes when loading long texts in Sanskrit"
### Steps to reproduce the behavior

1. Open a post or page
2. Paste a long text in Sanskrit like the one in this file
[Subhasitaratnabhandagaram-Full.txt](https://github.com/Automattic/wp-calypso/files/6765899/Subhasitaratnabhandagaram-Full.txt)

3. Try to use the editor again

#### What I expected to happen

The editor should behave normally, no matter how big the content is or which alphabet is

[2021-07-05 19:14] ianstewart opened #54294 "Theme Showcase does not retain position when browsing themes"
### Steps to reproduce the behavior

https://user-images.githubusercontent.com/545779/124511213-3859a300-dd9b-11eb-83fa-d1c1255dc828.mov

#### What I expected to happen

Scroll position would be retained when browsing.

[2021-07-05 19:21] JessixBlade opened #54295 "Balasana not saving changes"
### Steps to reproduce the behavior

1. Go to '4111012-zen'
2. Switch to User > My sites > collectivecoaching.academy
3. Scroll down to `Appearance > Customize > Menus`
4. Try to add the menu `Main` then `Save changes`
5. Return back to view site (in any way) you will notice the menu does not save.

#### What I expected to happen
I expected the menu to save for myself and the user so that people c

[2021-07-05 19:49] kwight commented on #54088
The way the API is built, new versions of an endpoint will include anything from previous versions not overridden (through inheritance) – so as long as v1.2 isn't overriding the v1.1 trending functionality, it will be available in v1.2 also.

[2021-07-05 21:14] namiokuzono commented on #53953
Another here: 30487785-hc

User was using Safari (Safari 13.1 on Mac OS X 10.15.7), and seeing the same issue.
The issue was resolved by disabling "Prevent Cross-site Tracking" in setting.

[2021-07-05 21:40] #53834 closed, assigned to nobody

[2021-07-05 23:23] rinazrina commented on #53401
#29335325-hc

[2021-07-05 23:25] roo2 opened #54298 "Coming Soon Badge not shown correctly on wp-admin interface"
There are two problems:

#### In wp-admin for a simple site, the "Private" badge is shown instead of "Coming Soon"
We should see a "Coming Soon" badge here.
There also seems to be an [ issue with the style of the badge](https://github.com/Automattic/wp-calypso/issues/51788).

<img width="473" alt="Screen Shot 2021-07-06 at 9 11 26 am" src="https://user-images.githubusercontent.com/22446385/1245233

[2021-07-05 23:36] roo2 commented on #53976
shipped D63683-code I think we can close this if we don't want to remove the "Confirm your email address" task or add the "Learn how to use the editor" task

[2021-07-05 23:43] #53976 closed, assigned to nobody

[2021-07-06 01:08] donalirl commented on #53401
#21465450-hc

[2021-07-06 01:45] retnonindya opened #54299 "Sharing: Private Atomic Site (Can we update the wordings?)"
Hey team!

I'd figure I can open GH issue here and we can transfer it to somewhere else if needed/if this is not the right realm 😄

Sharing buttons will not be available/not accessible when an Atomic website is set to Private -- this is [a known circumstance that we know of](https://github.com/Automattic/wp-calypso/issues/43988).

The problem is with the wordings; although I can see there are two

[2021-07-06 02:07] joweber123 commented on #54055
Simple site -4117408-zen

Workaround using site logo block resolved issue.

[2021-07-06 02:22] gwensmithx commented on #54055
AT site - 4118278-zen
Deactivating the gutenberg plugin worked.

[2021-07-06 02:31] autumnfjeld commented on #54298
We'll break this into two tickets:
Estimate:
 - simple sites: Size S
 - atomic sites: Size M (due to hassle of testing)

Difficult to test.
 - Self-hosted sites wouldn't have this
 - Atomic developer sites

[2021-07-06 04:00] ollierozdarz opened #54301 "Flow from /Themes (blue flow) to have reskin applied"
As part of July's body of work, we want to start to align the existing and left over blue onboarding flows with the reskinned onboarding pages.

**Themes onboarding journey:**
[See figma file](https://www.figma.com/file/xJxV0EKzYLdKKNkQNn6N15/Onboarding-Master?node-id=352%3A3146) (see [screenshot](https://d.pr/i/jS0FWU))

![image](https://user-images.githubusercontent.com/87168/143454214-f020659a-

[2021-07-06 04:10] ollierozdarz opened #54303 "Flow from /Pricing (blue flow) to have reskin applied"
As part of July's body of work, we want to start to align the existing and left over blue onboarding flows with the reskinned onboarding pages.

**Pricing onboarding journey:**
[See figma file](https://www.figma.com/file/xJxV0EKzYLdKKNkQNn6N15/Onboarding-Master?node-id=352%3A3146) (see [screenshot](https://d.pr/i/GVtuHi))

![image](https://user-images.githubusercontent.com/87168/143454156-babe0e4b

[2021-07-06 04:25] joweber123 opened #54304 "Vimeo Block - Embeds Before Entry Content"
I am unable to reproduce this even when copying the exact code from the user's site but I can confirm that this is happening on their simple site.  Opening this in case anyone else sees this and we are able to replicate it.

### Steps to reproduce the behavior
1.) Add a Vimeo Block to a page
2.) View the page and observe that the Vimeo Embed is added in a `<figure> `tag above the `.entry-content.

[2021-07-06 04:51] ollierozdarz opened #54306 "Signup: Improved hover and selected states"
Let's improve some of the hover and focus states in the reskinned Signup flow to provide a better and more delightful experience.

**Improvements:**
1. White and Blue buttons should inherit hover, and focus styles from this new [Figma](xJxV0EKzYLdKKNkQNn6N15-fi-369%3A1822) artboard
2. Remove the dark border hover in the domains page, but leave the cursor: pointer; when hovering the rows ([screensh

[2021-07-06 06:16] p-jackson commented on #54151
Turns out this is just a relic of the past. The customizer menus screen used to require account verification #13017. That requirements gone, but the code is still there to prevent unverified accounts being directed to the menus UI.

https://github.com/automattic/wp-calypso/blob/a07146227d1052c23d37af70ee02b2f84951b8d9/client/state/selectors/get-menus-url.js#L27

It just needs to be removed.

[2021-07-06 06:21] roo2 commented on #51119
It looks like after installing the plugin which triggers the Atomic Transfer process, the page still stays on the pre-transfer site.
I see that
`this.props.site.is_coming_soon` used on https://github.com/Automattic/wp-calypso/blob/trunk/client/blocks/site/index.jsx#L125
returns false after the Atomic transfer is complete.

A call is being made to https://public-api.wordpress.com/rest/v1.2/me/sites

[2021-07-06 06:39] pablinos commented on #53918
I've been testing this and it looks to be fixed. I'm wondering if one of the other pods has taken it on. @sethmclellana8c Are you able to replicate the loading position problem?

[2021-07-06 06:43] goblinartificer commented on #53953
some further information from 4115977-zen:

They do, I believe, use the Classic Editor block. Chrome works across multiple devices.

[2021-07-06 07:25] aisajib commented on #53401
Also reported here: https://wordpress.com/forums/topic/black-box-issue-in-text/

[2021-07-06 07:36] mmtr commented on #54220
Seems I mistakenly removed the "Performance" submenu in [this commit](https://github.com/Automattic/jetpack/commit/8463c84690df627d6bfa3abb3e505cfd3b1325a5#diff-f28ed4934935881a801bf44892fea5a11c9bad4f4ffaa1c7bc1c297669a1a567L433) (part of https://github.com/Automattic/jetpack/pull/20147).

This is an important regression for Atomic sites which will be noticeable today once Jetpack 9.9 is released

[2021-07-06 07:40] BogdanUngureanu commented on #46077
Created D63715-code that fixes the issue.

[2021-07-06 07:55] poojashetty18 opened #54307 "Button Block: Default styles does not make any changes to the button"
#### Steps to reproduce

1. Open a page/post edit
2. Add a button block
3. Select a drop-down option from the Default Styles settings
4. There are no changes reflected on the button block

#### What I expected
The Outline option should actually remove the background color of the button

#### What happened instead
No changes were reflected on the button

#### Browser / OS version
Chrome Version 91.

[2021-07-06 07:58] tjcafferkey opened #54308 "Quick Switch: Usage tracking"
**What**
We need to track the usage of the new Quick Switch toggle we have implemented in both WP Admin and Calypso

**Why**
In order for us to know how effective the Quick Switch is, we need data to help back up our hypothesis.

**How**
TBD.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-07-06 08:13] SteffanCline commented on #53978
RE: "Adding 'Priority: Normal' to this one as it's definitely an issue to be resolved and seems widespread, but it's not stopping the posts from getting published." - The whole purpose of the plugin is text AND picture. This needs to remain a high priority until resolved.

[2021-07-06 08:17] MaxPhilip commented on #53953
Another here: 4117141-ZD

Browser: Microsoft Edge 91 on Windows 10

Clearing "Cookies and other site data" and "Cached images and files" in Edge resolved the issue for this user.

[2021-07-06 08:30] zdenys commented on #54055
Simple Site 4118132-zd-woothemes Asked them to try the [two workarounds from above](https://github.com/Automattic/wp-calypso/issues/54055#issuecomment-869953902).

[2021-07-06 08:44] kosiew opened #54310 "Empathy Flow Testing - creating first page"
![image](https://user-images.githubusercontent.com/29057562/124569613-afb13480-de78-11eb-8ded-94e4e6e8295d.png)

### Steps to reproduce the behavior

![image](https://user-images.githubusercontent.com/29057562/124569900-f3a43980-de78-11eb-8963-6e3c224775df.png)

I arrived at this page after the gutenboarding.
For a first time user, I would be confused about how to link the button to anything.

###

[2021-07-06 08:47] cpapazoglou commented on #46013
I did review D63065-code ✅ , let's just wait for the apps division to weigh in.

[2021-07-06 09:06] tjcafferkey commented on #54069
RFR D63718-code

[2021-07-06 09:22] daria2303 opened #54311 "Quote block: not clear placeholders, author displays inconsistently, cannot remove initial quote mark"
### Steps to reproduce the behavior

1. Insert Quote block
2. There are 2 lines with placeholders - "add quote" in bold and "add citation" normal text
3. Add text to bought

#### What I expected to happen

- There is one line for quote-citation (it seems the same thing) and one line for author.
- Author displays always on left or right
- " is possible to remove or added in the end of sentence too

[2021-07-06 09:32] #42484 closed

[2021-07-06 10:18] inaikem commented on #54266
@zdenys, I'm unable to replicate so far. Can you confirm you're still experiencing this bug?

**Browser / OS**
MacBook Pro (16-inch, 2019) / macOS Big Sur 11.3 / Chrome 91

**Site type / theme**
Premium with Blank Canvas, TT1 Blocks and Veni

**Video (TT1 Blocks)**
https://user-images.githubusercontent.com/66711744/124583943-3ae4f700-de86-11eb-95de-60c223a916a3.mp4

[2021-07-06 10:24] inaikem commented on #54268
Love the idea, @ivan-ottinger!

@mrfoxtalbot, do you think this is something flow patrol could take a look at? I understand it's not a small change but might be something interesting to explore in the context of the pod 🙏

[2021-07-06 10:50] BogdanUngureanu commented on #54220
LGTM, tested on Simple and Atomic sites and the submenu item is working properly! 💯

[2021-07-06 10:51] zdenys commented on #54266
Kind of no. I still see some inconsistent behavior with the GIF block. Some images don't load at first but then they do. So I'll close this one for now and it can be reopened if needed later. Thanks for taking a look, @inaikem!

https://user-images.githubusercontent.com/39308239/124588203-34905400-de61-11eb-8000-68b096582d66.mov

[2021-07-06 10:51] #54266 closed, assigned to nobody

[2021-07-06 11:15] david-szabo97 commented on #51887
Fixed by 31504-gh-WordPress/gutenberg

[2021-07-06 11:15] #51887 closed, assigned to david-szabo97

[2021-07-06 11:48] gavande1 commented on #53844
Phab diff D63714-code

[2021-07-06 13:14] inaikem commented on #54266
Looking at how they load in, I'm wondering if this is might be service delivery/network connection issue. Happy to leave it closed for the moment, cheers!

[2021-07-06 13:21] thehenrybyrd commented on #54172
@synora looks like this was on Android, so https://github.com/wordpress-mobile/WordPress-Android/issues would be the best place for it. For issues with the WordPress app on iOS, https://github.com/wordpress-mobile/WordPress-iOS.

This specific freeze/crash was introduced in WP Android 17.6 and fixed in a hotfix (17.6.1) a few days later. Here's the GH issue where it was first reported: https://git

[2021-07-06 13:21] #54172 closed, assigned to nobody

[2021-07-06 13:39] sguzovskaia commented on #53401
29671057-hc
Recommended them to update their browser and clear cache or try another browser. Waiting to hear of any of that worked.

[2021-07-06 13:44] sguzovskaia commented on #54055
Somewhat a similar issue: the site logo is getting re-added again after the user removes it and saves changes in Customizer.
Reproduced the issue from my end. Two workarounds from above didn't work. AT site
The user resolved it by permanently removing the logo image from the media library and it helped to remove the logo.
30496468-hc

[2021-07-06 13:53] BogdanUngureanu commented on #46077
The issue should be fixed - deployed a fix in r228231-wpcom. However, there's another issue that strips emojis and diacritics from the profile information. For this, there's an additional patch that's currently pending for review: D63730-code

[2021-07-06 13:59] jartes commented on #54055
Another one on 30174430-hc with the Ippo theme.

Fixed by adding the `Site logo` block, setting the logo and then removing it.

[2021-07-06 14:02] galakhyati opened #54314 "Dashboard: Portfolio section on the site dashboard isn't available when activating the setting and saving it"
### Steps to reproduce the behavior

1. Go to WordPress.com > My Sites > Settings > Writing > Content types > Portfolio Projects and enable Portfolios.
2. Click on Save settings button.
3. The portfolio section isn't shown on the left panel to access and add.
4. Refresh the page and then you shall see the Portfolio section.

#### What I expected to happen
When Portfolio setting is enabled, I expec

[2021-07-06 14:04] rezzap commented on #54072
I have another report of this here: 4119084-zen

In this case the user had an expired credit card on file that got charged anyway, when the renewal was attempted to cancel it only offered a partial refund to the user they are saying.

[2021-07-06 14:07] kdevnel commented on #53401
Another report - not sure of version in this case.
4118771-zd-woothemes

[2021-07-06 14:22] metabreakr commented on #53401
4098663-zen

Safari 12: http://whatsmybrowser.org/b/OYFVO

[2021-07-06 14:32] marutim opened #54319 "Social icons block: Styles setting is not loading"
### Steps to reproduce the behavior

1. Go to a page/post to add the social icons block.
2. Select the icons that you want to add to the page/post.
3. Check the block settings on the right sidebar
4. You will not see the styles

#### What I expected to happen
- To see the Styles option

#### What actually happened
- Styles settings were empty

### Context

#### Browser / OS version
- I have tested

[2021-07-06 14:49] aleone89 commented on #35800
Another report here: hc-30499569
 iPhone XR
 iOS 14.6
 Safari 14

[2021-07-06 15:23] kriskarkoski commented on #53401
4119880-zen
Google Chrome Version 70.0.3538.110

Asking them to update Chrome and try Firefox if that doesn't work.

[2021-07-06 15:51] klimeryk commented on #33798
Thanks for verifying, marking as closed then as I cannot replicate it.

[2021-07-06 15:54] #54112 closed, assigned to alshakero

[2021-07-06 15:59] cpapazoglou commented on #52960
I cannot reproduce it and @Nic-Sevic replied he cannot reproduce it either.

Probably the combination of the following
https://github.com/Automattic/jetpack/blob/8463c84690df627d6bfa3abb3e505cfd3b1325a5/projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php#L56-L58
https://github.com/Automattic/jetpack/blob/bfbce34cdc8a8fc11e53814cb918550f8323ce38/projects/plugins/jetpac

[2021-07-06 15:59] #52960 closed, assigned to cpapazoglou

[2021-07-06 16:00] abcrsol commented on #53401
Another case: 4119912-zd

[2021-07-06 16:10] katiebethbrown opened #54320 "Appetite: Featured Images Smaller Than the Recommended Size Don't Show On Live Site"
## Steps to replicate

1. Add a featured image to a page.

## Expected

I expected to see the image display behind the page title in the header.

## Result

If the image is smaller than the recommended size in the theme docs (1100px) the header area is just a sold color and no image background is used. There's no indication of an issue in the editor either, so it appears to the user to be broken,

[2021-07-06 16:21] jp-imagines commented on #53100
Another report with someone using the latest version of the Mac desktop app in 4116143-zen. Seeing the blank, white screen when trying to write (or presumably edit) a post.

[2021-07-06 16:42] msilbers commented on #54129
Looks like this is resolved

[2021-07-06 16:42] #54129 closed, assigned to nobody

[2021-07-06 16:42] DanielSmithMichigan commented on #51335
I'm just now finishing up with another issue (https://github.com/Automattic/wp-calypso/issues/53473).

@ianstewart @kwight As for _this issue_, should we close it or should I return to it?

[2021-07-06 16:50] katiebethbrown opened #54321 "Photon Image Quality Degraded, Images Blurred on Themes with Narrow Media Width"
I'm separating this out from the issue it was previously noted on:<br>[https://github.com/Automattic/wp-calypso/issues/46420](<https://github.com/Automattic/wp-calypso/issues/46420>)

### Steps to reproduce the behavior

On an atomic site with Photon active:

1. Add a high quality image (in an image or cover block) to a site using Varia (or any theme with a low Media Width using wide or full-width

[2021-07-06 16:59] kriskarkoski commented on #54321
Good idea splitting this out. I have never guided a user to use this setting and am not sure what the use case is. The only times I've helped users with it is when they've set a (too small) value and images have quality issues. I'm wondering if a quick win would be adding a warning or making this setting less visible to see if that reduces how often users misuse it.

[2021-07-06 17:03] tarunvijwani opened #54322 "Gallery Block - Link to setting not working"
### Steps to reproduce the behavior

1. Go to post or page editor
2. Add gallery block
3. Add media to the block
4. Change the link to settings to attachment page/media/none

#### What I expected to happen
- Link to feature should work on the published page or post

#### What actually happened
-  Link to feature is not working on the published page or post

### Context

#### Browser / OS version
-

[2021-07-06 17:15] jp-imagines commented on #53100
And another, this time using [Firefox 72 on Windows 10](https://www.whatsmybrowser.org/b/YYBWR) in 30502241-hc.
User cleared their cookies and that didn't resolve the issue. They were able to access the editor properly in Edge.

[2021-07-06 17:37] Aurorum commented on #54299
Hi @retnonindya! I've opened a PR in #54325 based on the recommendation you've made here. However, in order to make the notice a little clearer for the user, I've added a separate check for when the site matches those conditions of being Atomic and Private.

<img width="1154" alt="Screenshot 2021-07-06 at 18 33 52" src="https://user-images.githubusercontent.com/43215253/124643307-dc6d4800-de88-11e

[2021-07-06 17:47] kriskarkoski opened #54326 "Name Your Site walkthrough message overlaps confirmation and save settings button"
### Steps to reproduce the behavior

1. Go to `https://wordpress.com/home/`
2. Click on `Name Your Site`
3. Change the Site Title
4. The confirmation message that the title was saved successfully and the Save settings button are overlapped by the message.

The overlap of the save button in particular is frustrating if you want to make other changes while on the page as you have to scroll very spec

[2021-07-06 17:56] kriskarkoski opened #54328 "Jetpack Select Block UI lacks contrast on dark editor styles"
### Steps to reproduce the behavior

0. Activate a theme with a dark background that shows in the editor, such as Rivington
1. Add a Form block, then the Select block within it

Elements of the UI are very difficult to see, including "Add option," the text of existing options, and the trash icon.

#### What I expected to happen

To be able to see the elements of the block.

#### What actually happ

[2021-07-06 17:57] scosgro commented on #53401
Another report in 2532321-hc

[2021-07-06 18:08] kriskarkoski opened #54329 "Jetpack Form Select block looks different between editor and front-end"
### Steps to reproduce the behavior

1. Insert a form block with a select block within in
2. Add some options and publish
3. A dropdown is shown on the front-end while the options are shown in a list in the editor

#### What I expected to happen

To either see by default or have the option to see how it'd look on the front end. The Select name was also confusing, I think dropdown would be more des

[2021-07-06 18:23] #54144 closed, assigned to andres-blanco

[2021-07-06 18:25] kriskarkoski opened #54330 "Editor: Slash command doesn't clear when / deleted"
### Steps to reproduce the behavior

1. Create a new post
2. Type the / block inserter shortcut
3. Remove the /

#### What I expected to happen

The / window to be hidden

#### What actually happened

The / window persisted until I pressed delete a second time and can jump around if you click away and back into a block area. This can lead to overlap on narrower content areas.

### Context

Empathy

[2021-07-06 18:58] thesacredpath commented on #53681
Another report here: 4120309-zen

[2021-07-06 19:17] NoHopeRadio commented on #53953
#30457221-hc

Safari 14.0 on Mac OS X 10.15.7

[2021-07-06 19:17] msilbers opened #54331 "Users: Advanced Users Management is missing from the sidebar"
### Steps to reproduce the behavior

1. Log into WordPress.com
2. Switch to an Atomic site and check under Users for Advanced Users Management, which appeared up until yesterday
3. See that this is not listed

#### What I expected to happen

To see the Advanced Users Management tab available on at least Atomic sites

#### What actually happened

A customer would have to navigate to All Users > Scr

[2021-07-06 19:24] ahmadbaig1 opened #54332 "Pre-Publish: Confirmation checkbox overlaps the Help (?) button. UX/UI"
The Pre-publish check confirmation checkbox text is hidden partially by the help button-
<img width="1361" alt="Markup 2021-07-07 at 00 35 03" src="https://user-images.githubusercontent.com/40609190/124655453-7e0e8c80-debd-11eb-828c-ea01d9f4fa59.png">

#### Steps to reproduce

1. Try Publishing a post.
2. Check on the pre-publishing panel.

#### What I expected
The full text to be visible somehow

[2021-07-06 19:31] creativecoder commented on #54055
D63662-code has been deployed to hotfix this issue for Simple Sites. I'm trying to get the [proper fix into Gutenberg 11.0.0](https://github.com/WordPress/gutenberg/pull/33179#issuecomment-875014402).

[2021-07-06 19:51] kathrynwp commented on #53874
I ran into this in 30411452-hc

[2021-07-06 20:02] ianstewart commented on #54083
@onuro is there an updated image for this issue that has the final phrasing and tab order?

[2021-07-06 20:43] DustyReagan opened #54335 "Redirect URL to Yoast setup page after plugin install is incorrect."
### Steps to reproduce the behavior

1. Using a JetPack site, go to the Yoast plugin page.
2. Click on the Install button.
3. After 5 seconds your page will redirect to a 404 page.

### What I expected to happen

You should redirect to the Yoast setup page. Example:
https://example/wp-admin/admin.php?page=wpseo_configurator

### What actually happened

You're redirect to a 404 page due to an extra

[2021-07-06 20:44] NoHopeRadio opened #54336 "Form Block: Line Breaks Removed from Live Version"
### Steps to reproduce the behavior

1. Create a Form Block on a simple site
2. Click within any of the title fields (name, email, etc.)
3. Press enter.
4. A linebreak will form, but if a field is marked as Required, that item will stay higher in the block.
5. Preview or publish post, the line breaks are removed.

#### What I expected to happen
A) I expected the (Required) reminder to show after t

[2021-07-06 20:49] KirkwallDay commented on #53953
Another instance here: 2853332-hc
Here's the specs on the browser:
Screen Resolution:
2240 x 1260
Browser Size:
1222 x 1023
User Agent:
Firefox 89.0 on Mac OS X 10.15.0

[2021-07-06 21:13] worldomonation opened #54338 "Playwright: set up test environment using API calls"
**Task Details**
Attempt was made in #53931 to have an encapsulated method to set up a test post to provide some level of determinism for tests that interact with a post.

However, it was rightfully pointed out by @WunderBart that an API-based solution to set up the environment is much more preferable.

I do not know how the solution here may look like, but perhaps it can follow this structure:

[

[2021-07-06 21:19] #53803 closed, assigned to nobody

[2021-07-06 21:25] kwight commented on #54268
@inaikem Flow Patrol are focused on fixing urgent bugs, so feature requests would likely not get on their radar before pods transition again August 1st. A request like this would be better made in the Gutenberg core repo (where it would likely be built). 👍

[2021-07-06 21:35] kwight commented on #54200
Closing in favour of https://github.com/Automattic/jetpack/issues/11251

[2021-07-06 21:35] #54200 closed, assigned to nobody

[2021-07-06 22:11] worldomonation commented on #53955
Filed issue on Playwright repository as https://github.com/microsoft/playwright/issues/7488 in search of any leads.

[2021-07-06 22:14] worldomonation commented on #53955
As noted in the original comment, it seems the crash is caused by the interaction with the published post's comment or the post itself, with the Like widget.

It seems that even if certain portions of the test script or the page object around the like widget are commented, the test still causes Chromium to crash.

[2021-07-06 22:23] gwwar commented on #53401
So this one should be fixed whenever the next Gutenberg release makes it into wpcom prod.

Likely it's fixed from my PR in https://github.com/WordPress/gutenberg/pull/32747

I tested this myself on browserstack w/ Safari 13 + a simple test site. The before shows the glitch, and after is what the site looks like with the most recent release (gutenberg-edge),

| Before | After |
|-----|-----|
| <img

[2021-07-06 22:40] worldomonation commented on #53955
It appears that running the browser in headless mode is a workaround for this issue.

I am still not sure why this is the case.

The minimal step that uses our repo is as follows:

A quick, minimal reproduction step is to run only the `Comment and like on an existing post` test from [this file](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/specs-playwright/wp-likes__comment-sp

[2021-07-07 00:24] michaeldcain commented on #54072
@kwight: taking a look.

[2021-07-07 00:35] creativecoder commented on #54055
A hotfix for Atomic sites will go out shortly, as well, which should resolve this issue for all WP.com users.

But please reopen if there are additional reports.

[2021-07-07 00:53] retnonindya opened #54340 "Post Carousel block: Enlarged/spilled over the page for Atomic site"
Hi team! I feel this is better to be filed under https://github.com/Automattic/newspack-blocks but Bugomattic brings me here, so... 😅

So far, we have received three reports -- all Atomic sites -- of Carousel block enlarging and spilled over the page.

This is one example:

![Screenshot 2021-07-07 at 8 51 00 AM](https://user-images.githubusercontent.com/44726232/124683796-76240c00-df00-11eb-9ad8-2

[2021-07-07 00:55] michaeldcain commented on #54072
Responded in Slack: p1625619273470600-slack-C02BEP610

[2021-07-07 01:04] inaikem commented on #54268
Thanks for the clarification Kirk 🙏

@ivan-ottinger, I'm just as happy adding this as a feature request over at  [WordPress / gutenberg](https://github.com/WordPress/gutenber) as I am leaving it to you. Let me know how you'd like to proceed 👍

[2021-07-07 01:13] JoshuaGoode commented on #54340
I'm not in to test but I suspect this might be due to Jetpack 9.9 which released today on Atomic.

full-site-editing hasn't been updated in 7 days.

[2021-07-07 01:29] isocialtish commented on #50928
Another report 4120847-zen (AT) they've had it consistently happen with several zip files and have come to chat several times.

[2021-07-07 01:34] roo2 commented on #51119
Raised D63769-code to fix the call to the https://public-api.wordpress.com/rest/v1.2/sites API

[2021-07-07 01:56] JoshuaGoode commented on #54340
On my phone but confirmed on a test site that it is Jetpack.

Seems that it overrides the block's width styling with its own `.swiper-container ` styling.

This impacts plugins and themes that use `.swiper-container`.

For example: Madd Magazine is a third-party theme that uses `.swiper-container` and breaks.

I'm guessing this is coming from Jetpack's new usage of swiper.js

[2021-07-07 02:03] happychait commented on #32232
Another report in 22814231-hc followed up in 4107713-zen

Reopening the issue.

[2021-07-07 02:22] edwinho89 commented on #52520
30507531-hc

The affected AT site takes a very long time for tiled gallery images to load as the site is currently private (not yet launched). (Though, it is more relating to this GH which has been addressed already: https://github.com/Automattic/wp-calypso/issues/41272 )

[2021-07-07 02:26] joweber123 commented on #54340
I can confirm that this is affecting Elementor plugin users using the image carousel widget.  The CSS workaround above worked to temporarily fix that.

30507852-hc

[2021-07-07 02:46] DavidRothstein opened #54341 "Checkout: Do a better job clarifying the difference between monthly/annual/biannual pricing during upgrades"
### Steps to reproduce the behavior

1. Buy a plan (e.g. a Premium plan).
2. Go to upgrade to a higher plan (e.g. Business).
3. Edit the order.
4. See something like the screenshot below:

![upgrade-edit-cart-current](https://user-images.githubusercontent.com/235183/124691728-49450a00-deaa-11eb-990e-432968a4431b.png)

It's working as expected, but the design and numbers are a bit confusing.  For e

[2021-07-07 02:51] JoshuaGoode commented on #54340
I won't be at a computer tonight to move this issue but the TL;DR is that Jetpack 9.9's new usage of swiper.js is now visually breaking themes and plugins that also use swiper.js.  For example, Newspack's Post Carousel block, Elementor's image carousel widget.

Related changes: https://github.com/Automattic/jetpack/pull/20107

cc: @sdixon194 @jeherve

[2021-07-07 03:46] bluefuton commented on #44159
At the point we currently do the redirect, we don't know if the user has purchased anything yet.

To make this work, we'd have to wait for all of the site purchases to finish loading and then do the redirect, which might feel a bit clunky. The user would see the My Plan page with placeholders, then it would vanish from the nav and they'd be redirected.

How do you feel about displaying the My Plan

[2021-07-07 03:51] bluefuton opened #54344 "Purchase Product: pressing enter on the text input doesn't work on /purchase-product/jetpack_search/monthly"
Originally noted by @jsnmoon.

**Steps to reproduce the issue**

1. Attempt to purchase a Search plan via `/purchase-product/jetpack_search/monthly`.
2. Choose a site, then try and press Enter to submit the form.

**What I expected**

Enter submits the form.

**What happened instead**

You can use Enter to select a site, but you can't use it to submit the form.

<img width="581" alt="Screen Shot 2

[2021-07-07 04:30] p-jackson commented on #54150
#54202 deployed which implements this change, thanks @Aurorum!

[2021-07-07 04:30] #54150 closed, assigned to nobody

[2021-07-07 05:42] #54319 closed, assigned to nobody

[2021-07-07 06:05] retnonindya commented on #54299
This is so awesome; thank you so much, @Aurorum and @mrfoxtalbot! Thank youuuu!

[2021-07-07 06:20] Robertght commented on #54272
Thank you for reporting this @pauljacobson !

I'm getting the same errors in the console but I can't seem to replicate this on my end at the moment.
I'm asking here in case it's affected by this [issue](https://github.com/Automattic/wp-calypso/issues/53431):

p7DVsv-bZF#comment-36637

[2021-07-07 06:24] #54293 closed, assigned to nobody

[2021-07-07 06:43] Robertght commented on #54304
Thank you for reporting this @joweber123! I wasn't able to replicate this locally using **Ovation**, however, I was able to add a new page with the same content and the video would show up correctly markup-wise.

~I'm checking with the user if they need further help with this, otherwise, I think this may be a one-off glitch.~

Closing for now, but please reopen if we can replicate this consistentl

[2021-07-07 06:50] #54304 closed, assigned to nobody

[2021-07-07 06:58] jeherve commented on #54340
Thanks for the reports! We're tracking this in this issue, in the Jetpack repo:
https://github.com/Automattic/jetpack/issues/20289

[2021-07-07 06:58] #54340 closed, assigned to nobody

[2021-07-07 07:14] #54220 closed, assigned to mmtr

[2021-07-07 07:35] cpapazoglou commented on #53844
Deployed r228288-wpcom

[2021-07-07 07:35] #53844 closed, assigned to gavande1

[2021-07-07 07:48] tjcafferkey commented on #54331
Hey 👋🏻

The introduction of the Quick Switch was the enabler for us to remove "Advanced" menu items which is considered a bit of an anti-pattern in the navigation. So this was done intentionally. You can find the issue for this here https://github.com/Automattic/wp-calypso/issues/53710.

The user is still able to navigate to the WP Admin users page via the Screen Options (Quick Switch). Once we ha

[2021-07-07 07:53] jordesign commented on #52996
Flagging that based on our Pod discussions today - we may want to have a number of lists of popular/helpful documents for different use-cases:

* Sites
* Bloggers
* eCommerce/Stores

[2021-07-07 07:56] Robertght commented on #54330
Thank you for reporting this @kriskarkoski !

I was able to replicate this on a self-hosted WordPress site so I'm closing this in favor of this:

https://github.com/WordPress/gutenberg/issues/33246

[2021-07-07 07:56] #54330 closed, assigned to nobody

[2021-07-07 08:02] ogodoabiola commented on #53401
Another report in 4121347-hc

[2021-07-07 08:23] Robertght commented on #54336
Thank you for reporting this @NoHopeRadio !

This is a Jetpack block. I've noticed the content of the form labels is a <label> one and it doesn't seem to output the line breaks in the HTML structure at all. I'm not sure if this is a bug right now as it seems to be the intended behavior but there's definitely room for improvement.

[2021-07-07 08:30] jeherve commented on #54336
That is indeed an issue with the Form block available in Jetpack.

[2021-07-07 08:34] cpapazoglou commented on #53454
Closing this as it seems resolved by #53666.

Trying to reproduce it, I got redirected to the new site after I clicked "Join". Also, I got the following nice notification
![](https://cln.sh/P4vBuF+)

[2021-07-07 08:34] #53454 closed, assigned to nobody

[2021-07-07 08:39] cpapazoglou commented on #53953
Probably related #53116

[2021-07-07 08:58] #54299 closed, assigned to Aurorum

[2021-07-07 09:01] Robertght commented on #54321
Opened up a P2 for discussion here: p2-pcLjiI-9e

[2021-07-07 09:39] Robertght commented on #54272
We got a fix in the P2 linked above and I can confirm it's working now.

Closing.

[2021-07-07 09:39] #54272 closed, assigned to nobody

[2021-07-07 09:44] tjcafferkey commented on #54069
Deployed in r228295-wpcom

[2021-07-07 09:49] tjcafferkey commented on #54331
I think we can close this issue, if we feel a case is to be made to adding it to `users/new` then we can open a separate issue for that as they're slightly different concerns I think.

[2021-07-07 10:08] simison commented on #54180
This should fix https://github.com/Automattic/wp-calypso/issues/53401

[2021-07-07 10:26] mmtr commented on #53709
Reopening, we still need the hotfix for Atomic.

[2021-07-07 10:47] #42431 closed

[2021-07-07 11:13] carinapilar commented on #53831
I have the feeling that this issue is somehow related to [the black overlay one](https://github.com/Automattic/wp-calypso/issues/53401). The first image on that one, also says _"Document"_, and the post options are also shown on a black overlay. It seems it will get fixed soon. 🙏

[2021-07-07 11:28] galakhyati commented on #51271
Another case: 4121066-zd-themes

[2021-07-07 11:33] dsas commented on #50928
I'm struggling to reproduce this in firefox 89 and chrome 91 so far.

1. I've created [this zip](https://github.com/Automattic/wp-calypso/files/6776748/test.zip)
2. Go to https://wordpress.com/media/
3. Select my site (it's a simple site, unlaunched, on the premium plan)
4. I press 'Add new' and select the zip attached above ^^, then press open
5. It uploads the zip.

[2021-07-07 11:47] onuro commented on #54083
@ianstewart  yes, I've labeled **Classic Editor** for Advanced on my iteration. Do we have any other suggestions for the label?

Also, are we enabling the FSE tab in this PR? Just wanted to make sure.

![image](https://user-images.githubusercontent.com/645713/124753865-2e1ddd00-df32-11eb-8696-aa3c0d9f26fb.png)

[2021-07-07 12:03] galakhyati commented on #52209
Another case. They are on a simple site and the error was shown when they were trying to save the changes.

Asked them to clear the cache and check.

4063500-zd-themes

[2021-07-07 12:23] tyxla commented on #24004
More than a month and over 60 PRs later, we have the final PR to remove the `lib/user` `EventEmitter` store: #54168.

Thanks to everyone who worked on this one!

[2021-07-07 12:41] tyxla commented on #45259
Still unresolved, but valid and useful.

[2021-07-07 12:50] syds87 commented on #53401
Another report 14217346-HC - Safari 14

[2021-07-07 12:55] #24004 closed

[2021-07-07 13:07] carinapilar opened #54350 "Twenty Twelve: Inconsistency with Button Colors"
### Steps to reproduce the behavior

1. Create a new page, on a site with the Twenty Twelve theme
2. Add a Button block on the page
3. Change the Button's background and text color, in the block's settings

#### What I expected to happen
For the Button to show with the colors set in the settings, either on the editor, and on the site.

#### What actually happened
If you set a background Solid colo

[2021-07-07 13:11] kdevnel opened #54351 "Video Block: Video height is taller than video leading to black bars"
### Steps to reproduce the behavior

1. Add a video block to a simple site or, add columns and then add a video block in a column
2. See the issue

#### What I expected to happen
The video block should only be the height of the video block

#### What actually happened
The block is actually taller than the video and the extra space is taken up by black bars. This should be visible in the editor and

[2021-07-07 13:16] kathrynwp commented on #54083
I would strongly recommend we **not** use the wording "Classic Editor," as that is not a clear distinction since all themes still work with the Classic Editor, and the themes formerly known as "Advanced" themes also work with the block editor.

I'm not sure what else to call it, though. :) I'd thrown out a couple of suggestions earlier but none is really ideal:

- Legacy
- Other
- Older
- Traditio

[2021-07-07 13:19] kathrynwp commented on #54083
Is there a reason we need to include a tab for the currently named "Advanced" themes? I'm not so sure we even need it, is there a compelling reason?

[2021-07-07 13:21] sixhours commented on #54083
I'm of the same mind; I don't think we *want* to point out themes that aren't our best.

[2021-07-07 13:23] onuro commented on #54083
@sixhours @kathrynwp as far as I remember, in our last mtg we discussed there may be customers that would still want to quick access a list of old editor themes.

I also think it comes down to what we'll do with those old themes over time. Do we completely retire them in the short/medium term? If we will, +1 for no need for adding that Advanced tab.

[2021-07-07 13:25] onuro commented on #54083
Following up on that, a revised future version without he Advanced tab could maybe look like this:

![image](https://user-images.githubusercontent.com/645713/124766797-e8681100-df3f-11eb-8633-0938bef8dc48.png)

Advanced/old themes to reside in the All Themes tab.

[2021-07-07 13:26] kathrynwp commented on #54083
These are not "old editor themes" though. They are just old themes. They still work with the block editor, they just may not support every style well, like full-width alignment.

[2021-07-07 13:27] mmtr commented on #54152
Deployed in r228298-wpcom.

[2021-07-07 13:27] #54152 closed, assigned to mmtr

[2021-07-07 13:32] michaeldcain commented on #54072
This issue is tracked on P2 here: pNPgK-4w6-p2

[2021-07-07 13:36] sixhours commented on #54083
@onuro I was operating from @ianstewart's comment in Slack; I don't think we're adding a tab for the non-recommended themes, just falling back to All Themes: p1624905131164700/1624902974.164200-slack-C0202PMUXLJ

[2021-07-07 13:39] #53709 closed, assigned to mmtr

[2021-07-07 13:47] liviopv commented on #54293
@mrfoxtalbot I was able to reproduce it on my Atomic site and I did plugin troubleshooting before reporting, but it seems that it started working since then.

It's also working on the user's site too https://adishila.com/subhasitaratnabhandagaram/ so I imagine it was the Jetpack 9.9 merge? Was there a new Gutenberg merge since then?

[2021-07-07 13:53] onuro commented on #54083
Fair enough 😊 I was just concerned for the novice user, in terms of scenarios of what will happen if they list and choose a theme that is Old | FSE | New(not FSE).

[2021-07-07 14:16] xpurichan commented on #50928
@dsas I'll admit that I am a little puzzled by my own report. I thought this issue was only present on Atomic, though I did clearly indicate "both" in my original post. I thought this could have just been a mistake but @jonnyruzek mentioned this affecting a customer's simple site in an earlier comment, so now I'm a bit unsure (perhaps there was an unrelated issue there?)

You should be able to con

[2021-07-07 14:27] #47065 closed

[2021-07-07 14:29] allilevine commented on #52986
We've deployed https://github.com/Automattic/wp-calypso/pull/53968 to remove several Calypsoify references, but we still need to:
- Decide whether to remove the /plugins redirect to wp-admin for Atomic (see https://github.com/Automattic/wp-calypso/pull/53968#pullrequestreview-699249512)
- Fix the redirect if we're keeping it (see https://github.com/Automattic/wp-calypso/issues/54143)
- Remove [one

[2021-07-07 16:04] Addison-Stavlo opened #54353 "Drag and drop tracks event not firing when expected."
When moving a block via drag and drop, the `wpcom_block_moved_via_dragging` is not firing as expected.  Looking at tracks history there has been a large decline in this event over the last year (from 1000s of events per day, to 10s).

To reproduce:
* Follow steps to enable tracking debugging at PCYsg-nrf-p2
* Load the editor and move blocks via drag and drop.
* Notice there is no `wpcom_block_move

[2021-07-07 16:14] allilevine commented on #51820
PR to hide the Security Settings page in Calypso: https://github.com/Automattic/wp-calypso/pull/53484
We need to also hide the Security nav item added here: https://github.com/Automattic/jetpack/blob/95a7b30c34fcb57eadc352e03b4b21ab49af5446/projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php#L270
And check that sites return to the default settings on downgrade.

[2021-07-07 16:20] ash1eygrace commented on #53953
30518832-hc  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.2 Safari/605.1.15

[2021-07-07 16:39] csonnek commented on #53220
@nsakaimbo I have someone [in this thread](https://wordpress.com/forums/topic/getting-error-on-desktop-app/page/2/#post-3701257) where 7.0.5 does not fix the issue - they end up getting a blank window in the app instead of their site dashboard. They updated the app and I had them delete and reinstall the app just to make sure with no effect.

OS: MacOS 10.15.7 Catalina
App version: 7.0.5

[2021-07-07 17:47] xpurichan opened #54355 "Plans: Update text for two-year plans"
### Steps to reproduce the behavior

1. Add a two year plan to your test site via SA or through the normal checkout flow. In my example I am using a two year Premium plan.
2. Visit https://wordpress.com/plans
3. Note the pricing on this page shows a monthly breakdown price based on the breakdown of our two year plans (this makes sense, since we're on a two year plan currently), but the text indica

[2021-07-07 18:30] ianstewart commented on #52592
I'm going to close it with this comment: I think it's still worthwhile pursuing.

@onuro I could see it being neat for future iterations — especially where block themes are concerned — to allow different previewing. Perhaps someone wants to look at a grid of live previews with different global styles applied for example. (That's what seeing your own content here would mean.) Or perhaps they want t

[2021-07-07 18:30] #52592 closed, assigned to nobody

[2021-07-07 18:40] ianstewart commented on #54083
@onuro Yes — we can come back to that when we take off our Design Selection Hats and put on our Dotcom FSE Hats when we're working with FSE teams.  :)

[2021-07-07 18:42] ianstewart commented on #51096
If we have a fix in mind it'd be good to contribute a diff on that core issue.

[2021-07-07 18:45] ianstewart commented on #54356
Moved it and updated the issue.

[2021-07-07 18:59] ianstewart commented on #51335
Varia appears to be installed when one of it's child themes is installed when it is the active theme on theme switch. A child theme inherits some or all of it's parent theme styles and template code. So, with the theme editor available to users on Atomic sites we should allow users to have access to Parent Theme styles and templates.

[2021-07-07 19:41] sixhours opened #54358 "Theme Showcase: Maybe allow filter lists to scroll"
<img width="1371" alt="Screen Shot 2021-07-07 at 3 36 34 PM" src="https://user-images.githubusercontent.com/2124984/124818766-6c6aca80-df39-11eb-8aed-e521151cd2d4.png">

Some filter areas have a lot of subjects! To show them all, we have to click this oddly placed "Show all" link (underlined in the screenshot above). It might be easier/better UX if the list could scroll.

[2021-07-07 20:04] sixhours commented on #54246
Something to consider in the design before we start working on this is how the search box works on mobile; currently we lose a lot of horizontal space on narrow screens:

<img width="350" alt="Screen Shot 2021-07-07 at 4 02 43 PM" src="https://user-images.githubusercontent.com/2124984/124821650-f7998f80-df3c-11eb-8685-c240d319358c.png">

[2021-07-07 20:09] DustyReagan commented on #53918
I tested the modal loading position in Safari, Firefox, and Chrome. It's loading correctly at the top on all 3 browsers. This must have been fixed elsewhere.

Regarding the original issue:

@pablinos @sethmclellana8c Do we want to do anything regarding points 2 and 3 above? There was also mention of removing this modal all together? Alternatively, if we're happy with simply correcting the modal po

[2021-07-07 20:51] happychait commented on #53953
![Safari error](https://user-images.githubusercontent.com/1519466/124826976-9370dd00-dfc9-11eb-8653-4a89d3d4f0b3.png)
30522485-hc on Safari

[2021-07-07 21:39] metabreakr commented on #53953
28018669-hc

Safari 14.1 on Mac OS X 10.15.7

[2021-07-07 21:55] namiokuzono commented on #53953
30521472-hc
4123562-zen
User Agent:Intel Mac OS X 10_15_7  Version/14.1.1 Safari/605.1.15

Although I assisted the user to turn off "Prevent Cross-tracking" in Safari's preferences, the user was unable to solve the issue.

[2021-07-07 21:57] ash1eygrace commented on #14151
Reported in 30040387-hc / 4123746-zen

[2021-07-07 23:53] onuro commented on #54246
Would this be possible? (Tabs could be converted into a select dropdown as well)

And you can totally ignore the View Switcher as well, since the feedback so far is 2 column large preview for default alone is favored without the need for older, 3 column theme preview grid layout.

PS: Stole the "Filters" within the search input idea from @ollierozdarz's new onboarding flow(https://d.pr/i/hXcP9U).

[2021-07-08 00:02] onuro commented on #52592
That would be phenomenal. Backlogged for the future Theme Showcase iterations.

[2021-07-08 00:07] creativecoder opened #54366 "Editor: API preloading does not work for Simple Sites"
## Context

The block editor uses preloading middleware that outputs API responses onto the page as JS objects to prevent the need for an XHR request once the editor is loaded.

WP Core code that defines preload paths (5.7): https://github.com/WordPress/wordpress-develop/blob/c8a4205394819839ee33fad040d24a4fd355cb23/src/wp-admin/edit-form-blocks.php#L46

Gutenberg middleware js: https://github.com

[2021-07-08 00:43] onuro commented on #54358
The original idea I had for search input is anything called "keyed suggestion" is to be converted into an autocomplete suggestions, separated from the input(meaning that dropdown won't push anything below down but work as a popover/overlay).

Within that context, we can maybe allow scrolling of results for more than a list of **viewport allowance**. But I wouldn't recommend it. Because especially

[2021-07-08 01:06] fullofcaffeine opened #54368 "[sandbox/edge/e2e] The `gutenberg-edge` sticker doesn't apply to `https://public-api.wordpress.com/wp-json/?` `public-api` requests"
More details in the diff description: D63866-code

[2021-07-08 01:14] deBhal commented on #53853
There are few different interacting issues at play:

- There's no mechanism to automatically update the translations in response to a locale change on atomic/jetpack sites, so the user may need to update their translations manually after changing the locale of their account or site.  On wpcom this is never a problem because all the locales are installed all the time. There is a cron job that somet

[2021-07-08 02:43] syedshaon commented on #53401
Another issue 4122842-zen

[2021-07-08 03:33] kosiew opened #54369 "Jetpack subscribers not getting confirmation emails"
### Steps to reproduce the behavior

1. Go to http://baskervillepups.com/
2. At subscription widget, test subscribe with faithmicrobiometech@gmail.com and
pandiepanda1010@gmail.com

#### What I expected to happen
Logstash to show emails sent to both

#### What actually happened
No emails were sent

#### Does this happen on simple or atomic sites or both?
Simple site

[2021-07-08 03:33] kosiew opened #54381 "Subscriptions: subscribers not getting confirmation email when subscribing"
### Steps to reproduce the behavior

1. Go to http://baskervillepups.com/
2. At subscription widget, test subscribe with these emails 29ba4-pb/ <- pb link

#### What I expected to happen
Logstash to show emails sent to both

#### What actually happened
No emails were sent

#### Does this happen on simple or atomic sites or both?
Simple site

#### Context

4124096-zd-woothemes

[2021-07-08 04:39] allanftd opened #54371 "Social Icons Block: Saving Invalid and Incomplete Links"
### Steps to reproduce the behavior

1. Go to page or post editor.
2. Add a Social Icons block.
3. Add a Facebook icon and enter a YouTube link. The link will be accepted.
4. Add another icon (any icon) and enter an incomplete link. The link will be accepted.

#### What I expected to happen

The editor will validate the link entered and display an error message explaining the issue.

#### What act

[2021-07-08 04:56] allanftd opened #54372 "Social Icons Block: Confusing Label When Removing Icons"
### Steps to reproduce the behavior

1. Go to page or post editor.
2. Add a Social Icons block.
3. Add icons as usual.
4. Delete a social icon (e.g. GitHub icon) by clicking that icon, then click the three vertical dots in the block toolbar and select "Remove block".

#### What I expected to happen

The social icon gets deleted, but the "Remove block" label is confusing and my suggestion is to cha

[2021-07-08 05:06] lsl commented on #28322
This original issue and many of the reports are most likely a dupe of another issue and have already been fixed by one of the following:

- https://github.com/Automattic/wp-calypso/pull/36977
- https://github.com/Automattic/wp-calypso/pull/43248
- https://github.com/Automattic/wp-calypso/pull/44086
- https://github.com/Automattic/jetpack/pull/16167

From the more recent reports its clear there is

[2021-07-08 05:06] #28322 closed

[2021-07-08 05:11] lsl commented on #53100
I tried to reproduce this for a couple of days now with no luck, many of the reports here are likely since fixed. Because of this [I've closed #28322](https://github.com/Automattic/wp-calypso/issues/28322#issuecomment-876129861).

The more recent reports in both issues indicate there is still an ongoing issue so I'm leaving this issue open for new reports to be gathered here.

When you make a repo

[2021-07-08 05:17] lsl commented on #53536
@aneeshd16 I have a feeling this is what people are somehow hitting in https://github.com/Automattic/wp-calypso/issues/53100#issuecomment-876132001

How they hit it I'm not sure. In the past when I hit RLT white screens it was usually due to sandboxing something incorrectly. I think I also hit this with a missed cache bust (rWP224225) once.

It would also be good to add logging to this error case

[2021-07-08 05:44] lsl opened #54374 "Site Preview on private sites loads login button"
I think we might have a c3po issue open for this already but I couldn't find it, this might be a separate issue anyway, using firefox with content protection on and third party cookies blocked against a *private*, atomic site I was able to get the site preview to render this:

![Screenshot 2021-07-08 at 15-39-29 Your Site ‹ c3po - Atomic - Mapped — WordPress com](https://user-images.githubusercont

[2021-07-08 05:51] KokkieH opened #54376 "Account Settings: unable to add or edit account recovery phone number"
### Steps to reproduce the behaviour

1. Go to https://wordpress.com/me/security/account-recovery
2. Click on the `Edit` or `Add` button for the recovery SMS number

#### What I expected to happen
To be able to set a phone number for account recovery

#### What actually happened
The screen goes completely blank. Pressing the browser's back button returns to the previous screen I was on before navi

[2021-07-08 06:07] KokkieH commented on #53401
Noting another for follow-up once the fix lands here: https://wordpress.com/forums/topic/black-out-when-i-edit-my-post-that-i-can-get-rid-of/

[2021-07-08 06:19] lsl opened #54377 "Image upload block: Uploading .webp with .jpg infinite load in chrome, hard freeze in firefox"
Related but not the same: #30426.

### Steps to reproduce the behavior

If you view and save a webp file as a jpg, for instance hit cmd+s at this URL:

https://dotcompatterns.files.wordpress.com/2021/04/stocksnap_qjo8nshmnx.jpeg?w=781

And then try to upload it in an image block, in chrome, the block gets stuck in an infinite loading state with no error shown, in firefox the entire block editor fr

[2021-07-08 06:21] lsl commented on #54377
@sixhours should this also go in dotcom manage project?

[2021-07-08 06:42] allanftd opened #54378 "Customizer: Color Changes Not Appearing on Preview for Stratford Theme"
### Steps to reproduce the behavior

1. Go to Appearance > Customize > Colors & Backgrounds
2. Change the Background Colors, Foreground Colors, etc and click "Save changes".
3. Tried updating other elements in the Customizer like changing home page, adding widgets, or editing the menu.
4. Color updates suddenly takes effect (if lucky).

#### What I expected to happen

The changes made in the color

[2021-07-08 07:27] Robertght commented on #53401
A new case in 24909161-hc

Safari 13.1

[2021-07-08 07:53] stefancln commented on #53401
A new case in 4121927-HC

macOS Sierra, 10.12.6

Safari, 12.1.2 (12607.3.10)

[2021-07-08 07:59] simison commented on #28322
Safari versions might be important as well to add if possible. Safari 13.x, 14.0, and 14.1 can behave quite differently.

[2021-07-08 08:02] stefancln commented on #53953
Another case here 4122144-HC
Advised on changing the browser

[2021-07-08 09:33] jeherve commented on #54381
Transferring this issue to the Calypso repo, since the issue impacts a WordPress.com site.

[2021-07-08 09:36] jeherve commented on #54381
Closing this now. For reference, this was resolved here:
p1625715784201500-slack-C0299DMPG

[2021-07-08 09:36] #54381 closed, assigned to nobody

[2021-07-08 10:08] BogdanUngureanu commented on #46077
Deployed the emoji and diacritics fix in rWP228360-wpcom

[2021-07-08 10:16] #54239 closed, assigned to BogdanUngureanu

[2021-07-08 10:29] aneeshd16 commented on #52773
Hi, I tried to reproduce this, but could not. It might have been fixed via D61364-code

https://user-images.githubusercontent.com/5436027/124907078-604c3f00-e005-11eb-9669-ef0f2635225e.mp4

[2021-07-08 11:08] carinapilar opened #54383 "Confusing Cancellation Workflow"
**Note: See **[**this comment**](<https://github.com/Automattic/wp-calypso/issues/54383#issuecomment-2584273460>) for a more up-to-date description of the problem and proposed solution.

---

### Steps to reproduce the behavior

1. Purchase a plan
2. Go to [the Purchases page](<https://wordpress.com/me/purchases>), and make sure auto-renew is on
3. Click on *"Cancel Subscription"*
4. Go through th

[2021-07-08 11:13] pauljacobson opened #54384 "Feature Request: Direct link to edit posts and pages in a pagebuilder on the WordPress.com toolbar"
### What

One of our customers asked for -

... using an external pagebuilder such as Elementor.

### Why

Currently the workaround for this is to disable the WordPress.com toolbar using this snippet:

[code]

The challenge with this workaround is, as the customer put it:

### Additional context

The customer conveyed the feature request in 30494871-hc

[2021-07-08 13:47] sixhours commented on #54377
@lsl 👋 I'm not sure! I think since it has the Needs triage lable, the quality squad will take a look and triage it to the appropriate team/pod, though.

[2021-07-08 13:56] andres-blanco commented on #54075
Before
![image](https://user-images.githubusercontent.com/375980/124934284-f3bc4a80-dfda-11eb-9288-cb91d66da415.png)

After
![image](https://user-images.githubusercontent.com/375980/124934475-1fd7cb80-dfdb-11eb-964e-c539dae6652a.png)

[2021-07-08 14:45] #54335 closed, assigned to DustyReagan

[2021-07-08 15:07] #53910 closed, assigned to DustyReagan

[2021-07-08 15:17] jackiejade commented on #53401
Another in 30534701-hc

[2021-07-08 15:20] kwight opened #54389 "Theme Showcase: Add an FSE beta tab under the FSE feature flag."
With some site editing features active on Horizon, let's add a tab to the new Theme Showcase for filtering FSE-compatible themes. This tab UI will need to be behind the existing FSE feature flag (`gutenboarding/site-editor`).

<img width="1074" alt="Screen Shot 2021-07-08 at 8 18 48 AM" src="https://user-images.githubusercontent.com/349751/124948102-412dbd00-dfc5-11eb-8f88-ed36a1e323d1.png">

The

[2021-07-08 15:22] chriskmnds commented on #54015
I've added some thoughts in a draft PR [here](https://github.com/Automattic/wp-calypso/pull/54388). I am guessing the changes there could be considered irrespective of fixing the aforementioned issue or not.

Not sure if there is a significant performance improvement with the proposed changes. Sounds like something to profile in more detail. There are definitely fewer steps and conditioning now wi

[2021-07-08 15:24] kwight commented on #53960
I'm going to close this out as we've wrapped up this round of improvements, and will continue with a new set of issues. 🎉

[2021-07-08 15:24] #53960 closed, assigned to sixhours

[2021-07-08 16:28] pablinos commented on #54019
r228385-wpcom

[2021-07-08 16:28] #54019 closed, assigned to pablinos

[2021-07-08 16:45] nsakaimbo commented on #53220
@csonnek Thanks for the report. However this is a different issue from the one described here initially, which we should track separately.

Regardless, in the mean time it might help if we could get the user's application logs (Go to the "Help" menu and select "Get Application Logs"). This will output a zip archive that can be shared for inspection.

[2021-07-08 16:49] kwight opened #54391 "Theme Showcase: Display the current theme support doc inline."
We currently link out to a new tab when the user clicks our "Learn more" support link in the new current theme card. Instead, let's use the `InlineSupportLink` component to render the doc in a modal.

<img width="755" alt="Screen Shot 2021-07-08 at 9 47 52 AM" src="https://user-images.githubusercontent.com/349751/124960897-aab3c880-dfd1-11eb-88da-5ca15c457de5.png">

[2021-07-08 16:58] kwight opened #54392 "Theme Showcase: Move the segmented selector out of the search bar."
It's visually odd to have the segmented repo selector contained within the search bar itself; let's move it out and to the right.

<img width="1100" alt="Screen Shot 2021-07-08 at 9 55 35 AM" src="https://user-images.githubusercontent.com/349751/124962022-fc108780-dfd2-11eb-9c5b-bd92fa175bd1.png">

cc/ @onuro @ianstewart

[2021-07-08 17:35] fullofcaffeine opened #54393 "Gutenberg: v11.1.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/54180.
Release notes: [v11.1.0-rc.1](https://github.com/WordPress/gutenberg/releases/tag/v11.1.0-rc.1), [v11.1.0](https://github.com/WordPress/gutenberg/releases/tag/v11.1.0)

- [x] Install and activate
  - [x] Copy & install v11.1.0-rc.1 (D64111-code, D64115-code)
  - [x] Activate v11.1.0-rc.1 on edge (D64119-code)
  - [x] Copy & i

[2021-07-08 17:35] fullofcaffeine commented on #54180
Next one: https://github.com/Automattic/wp-calypso/issues/54393.

[2021-07-08 18:35] fullofcaffeine commented on #54368
WIP fix in this diff: D63866-code.

[2021-07-08 18:41] kathrynwp opened #54394 "Theme Showcase: Uploaded Themes section on Atomic site incorrectly includes non-uploaded themes, missing actual uploaded theme"
### Steps to reproduce the behavior

1. On a WordPress.com site with a Business plan (but not yet Atomic) go to Appearance > Themes
2. Click "Install theme"
2. Click "Continue"
3. Drag or select a theme zip file that is *not* part of the WordPress.com collection, such as [Neve](https://wordpress.org/themes/neve/)
4. Once the theme has finished installing, click Appearance > Themes to return to the

[2021-07-08 19:14] xpurichan commented on #51435
This problem appears to be resolved now. I was checking on it since 4038428-zen came out of hold. For this site if I go to https://wordpress.com/posts/DOMAINCOM I do see the Calypso version of the page, along with the "Share" option in the dot menu next to each post.

If someone could double-check me then I believe this can be closed. :)

[2021-07-08 19:42] ClassicRKR27 commented on #50786
I have another user requesting this ability here: 4120836-zd-woothemes

For further reference, it appears to be a Chrome-only issue related to how they implement HTML5: https://wordpress.org/support/topic/remove-wordpress-audio-player-download-button-added-by-chrome/

[2021-07-08 19:54] scosgro opened #54396 "White screen after checkout - Quick Start offer does not load + console error."
### Steps to reproduce the behavior

This happened to me twice in a row:

1. Go to My Site - Switch Sites - Add New Site - Give it a name (anything) - Add a domain mapping subscription - Select a plan - Go to checkout - Make the purchase.
2. After purchasing, I get a white screen:

![image](https://user-images.githubusercontent.com/30731356/124982079-2a9a5c80-dfeb-11eb-8070-06afa4bd7929.png)

The

[2021-07-08 19:59] KirkwallDay opened #54397 "Media Upload Using "Classic View" on Simple Sites appears not to work (But it does work)"
When using the classic view toggle on Simple Sites and trying to upload new media, it will appear not to work, even though it does work.

### Steps to reproduce the behavior

1. On any simple site, open the media library.
2. Go to "Screen Options" at the top and click on "Classic View"
3. Click add new at the top, and then try to add a media file.
4. It will seem non-responsive, but the media does

[2021-07-08 20:00] scosgro opened #54398 "Start Tour button flows outside of the container"
### Steps to reproduce the behavior

1. Create a new/fresh site, then go to the editor for a new post.
2. A tour will appear in the bottom left corner. The Start Tour Button styling pushes it outside of the box:

![image](https://user-images.githubusercontent.com/30731356/124982971-3d616100-dfec-11eb-8703-5fbfad2de66c.png)

3. If you click to start the tour, the Next button also gets pushed outsid

[2021-07-08 20:01] kwight commented on #54087
Reopening since the PR that fixed it was reverted. We'd still like to go ahead with this, but are waiting on confirmation that we didn't noticeably affect conversions. See: p58i-aR7-p2

[2021-07-08 20:03] wpshellbelle commented on #54396
Able to replicate this consistently. I tried purchasing the Business plan, Premium plan, and Personal plan and saw the same error. Here is a video of the error:

https://user-images.githubusercontent.com/77413972/124983520-e60fc080-dfec-11eb-8f3c-6c4ad6e418d7.mov

[2021-07-08 20:06] kwight opened #54399 "Theme Showcase: Implement new design for the advanced magic feature buttons."
Using Calypso popover components, let's improve the "show advanced" text link toggle to the latest [iteration](QnkOH11BM3MoPFOFr2OTBC-fi-387%3A5280&viewport=233%2C758%2C0.8641278743743896).

<img width="1300" alt="Screen Shot 2021-07-08 at 12 57 40 PM" src="https://user-images.githubusercontent.com/349751/124983788-443ca380-dfed-11eb-9610-8c33132250a8.png">

cc/ @onuro @ianstewart

[2021-07-08 20:08] obenland commented on #51435
I updated the title of the ticket to better reflect its purpose. Porting re-publicize to wp-admin will help with feature parity between Calypso and wp-admin, which is especially important for WoA sites.

[2021-07-08 20:11] kwight commented on #54399
Closing in favour of https://github.com/Automattic/wp-calypso/issues/54246

[2021-07-08 20:11] #54399 closed, assigned to nobody

[2021-07-08 20:21] xpurichan commented on #51435
That makes sense to me, thank you! So the workaround is to perform the action in the Calypso Posts page, and the long-term goal is to add the function to WP Admin.

[2021-07-08 20:27] kwight commented on #54246
@onuro So for this sprint, would you like the "Filters" popover inside the search bar (like onboarding), and the segmented selector beside it (we won't have time to get into the View grid or Price dropdown). On mobile, it would be a stack I'm guessing of:

* Search + Filters
* Segmented selector (All | Free | Premium)
* Tabs

? (Or the last two switched). Just let us know by end of day Monday the

[2021-07-08 20:45] kwight commented on #54392
This will also need mobile treatment (also see https://github.com/Automattic/wp-calypso/issues/54246#issuecomment-876724717)

[2021-07-08 20:47] kwight commented on #54396
@michaeldcain @sirbrillig Is this maybe related to your team?

[2021-07-08 21:04] ash1eygrace commented on #53953
30539592-hc
4126250-zen
they're aware of changing browsers.

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Safari/605.1.15

[2021-07-08 21:08] sirbrillig commented on #54396
Thanks for the ping. Should be fixed by https://github.com/Automattic/wp-calypso/pull/54400

[2021-07-08 21:10] #54396 closed, assigned to nobody

[2021-07-08 22:34] aamills commented on #52182
another report in 29806696-hc

[2021-07-08 23:48] p-jackson commented on #54273
I'm reproducing this issue even without the AT 🤔

[2021-07-09 00:01] lsl commented on #53536
D63848-code is *not* likely to be merged but I suspect HTTP sites fail with a whitescreen on RLT.

Possibly worth confirming / adding a check for this here.

[2021-07-09 00:09] lsl commented on #28322
Browser info is always useful, there was a [significant bug](https://bugs.webkit.org/show_bug.cgi?id=198181) in Safari < 13, anything [>= 13](https://caniuse.com/?search=samesite) should be ok in relation to the third party cookies and the samesite setting bug.

Whether the user has ["Prevent cross-site tracking"](https://support.apple.com/en-au/guide/safari/sfri40732/mac) enabled is also a useful

[2021-07-09 01:32] syedshaon commented on #53401
Another issue 4122532-zen

[2021-07-09 01:48] happychait commented on #53953
2773356-hc

[2021-07-09 04:01] adelineyaw opened #54402 "Customizing email notifications when publishing blog posts"
**What**
The ability to customize the email notifications (sent to followers/subscribers) when blog posts are published.

**Why**
User requested this feature here: 30528687-hc (Atomic / Business plan site) without the need of using a plugin.

**Customer feedback:**
"I was extremely unhappy with the message sent out by WordPress, as if WordPress were me. The message was full of inappropriate and in

[2021-07-09 04:22] p-jackson commented on #54273
To decide whether the site's title has changed we compare the the current title with `__( 'Site Title' )`. There's potentially two issues happening here:

**Situation 1: the site language and user language match**
There's no translation available for "Site Title" https://translate.wordpress.com/projects/wpcom/es/default?filters%5Bterm%5D=Site+Title
That's an easy fix. Once that term is translated

[2021-07-09 04:44] kaitohm opened #54403 "Contributor bio no longer editable by admin, or readable from theme"
### Steps to reproduce the behavior

An admin on an Atomic site used to be able to edit the `Biographical Info` of users on their site, through Advanced User Management.
<img width="1050" alt="Screen Shot 2021-07-09 at 13 26 49" src="https://user-images.githubusercontent.com/49054298/125023215-55eb7d00-e0b9-11eb-92f7-748f681dd79d.png">

Within the last week or so, an admin is no longer able to edi

[2021-07-09 05:12] KokkieH commented on #53220
I've requested logs from the two people who have reported this new problem in 4126894-zen and 4126895-zen

[2021-07-09 05:20] niranjan-uma-shankar commented on #53536
That's right, mentioned it here too - D63668?id=252339#1306675-code

[2021-07-09 05:28] niranjan-uma-shankar commented on #52773
Confirmed that I don't see this issue any longer. Closing.

[2021-07-09 05:28] #52773 closed, assigned to nobody

[2021-07-09 05:39] onuro commented on #54246
Thank you @kwight! Updated [Figma](QnkOH11BM3MoPFOFr2OTBC-fi-494%3A6431) for the changes with the upcoming sprint.

![image](https://user-images.githubusercontent.com/645713/125028223-53c0f880-e090-11eb-8a40-7bac2ec63062.png)

Mobile version has 2 iterations.

**One question:**
The search bar in the design has 44px height(and production version has 58px height😳), meaning Segmented Selector next to

[2021-07-09 05:40] chrisfromthelc commented on #54376
Another in 4122737-zd

[2021-07-09 06:17] sanjeev00733 commented on #54376
Another report in #30542876-hc
Follow up 4126815-zen

[2021-07-09 06:44] #54403 closed, assigned to nobody

[2021-07-09 06:49] flootr commented on #54376
A fix is up at https://github.com/Automattic/wp-calypso/pull/54404; seems like this was caused by a change in https://github.com/Automattic/wp-calypso/pull/54282 (specifically [this file](https://github.com/Automattic/wp-calypso/pull/54282/files#diff-c9bd6d9f21af5ae916601d3f4f694ea79e28265a6cb99b1f99bd5451be65044d), thanks @razvanpapadopol for the pointer).

[2021-07-09 06:54] #54376 closed, assigned to flootr

[2021-07-09 06:57] aneeshd16 commented on #53536
I have been trying to work out scenarios where the white screen might be shown in "natural" flows (no manual URL tampering is involved)
1. The domain is no longer set as primary. This can happen if you open a site on a custom domain, in a new tab change the primary redirect, and then click on the Log In CTA in the first tab. For this situation, we can detect this early and redirect to `https://<pr

[2021-07-09 07:04] mrfoxtalbot opened #54405 "Dashboard Appearance toggle needs site reloading to have effect on AT sites"
### Steps to reproduce the behavior

1. Go to account settings  https://wordpress.com/me/account
2. Enable the Dashboard Appearance toggle
3. Visit an AT site and click on "Posts"

#### What I expected to happen
I would expect to see wp-admin/edit.php

#### What actually happened
I got wordpress.com/posts

#### Is this specific to the applied theme? Which one?
Nope

#### Does this happen on simple

[2021-07-09 07:07] KokkieH commented on #54376
It's fixed now in production. Followed up with the users who reported this.

[2021-07-09 07:25] cpapazoglou commented on #31859
This issue is still present.

I get an error in Safari `Failed to load resource: Plug-in handled load`. This happens with all Videos served directly from a private P2. I also get an error even in **Chrome** when trying to edit a video in media library of **Calypso**. I am not sure if these are related though.

[code]

**Workaround**: Adding the video with a video block, eventually uses video.wordp

[2021-07-09 09:48] CoachBirgit commented on #53953
another report in 4126872-zen

- advised using another browser and clearing cache & cookies if it works with another browser.
- asked for more details

[2021-07-09 09:50] tyxla commented on #42490
Picking this up in alignment with my recent work to push forward the state modularization effort.

[2021-07-09 10:00] tyxla commented on #42446
Picking this up. I think it can just be re-reduxified, but that can be done separately anyway.

[2021-07-09 10:46] KokkieH commented on #53401
Gutenberg v11.0.0 was deployed on wpcom yesterday as per p7DVsv-caV-p2, which includes the fix @gwwar  mentioned in https://github.com/Automattic/wp-calypso/issues/53401#issuecomment-875122112. It looks like that might have fixed this - a user in https://wordpress.com/forums/topic/black-out-when-i-edit-my-post-that-i-can-get-rid-of/ reports that the issue is now gone for them in Safari 13.1.2

[2021-07-09 11:19] aneeshd16 commented on #45470
I tried to reproduce this issue on a test site, and as per my findings, the Premium Content block does not require third-party cookies to show subscriber-only content. The above reports seem to be for the same site. Are there any other reports of this bug? Having more examples will make this easier to debug.

[2021-07-09 12:55] artpi commented on #53008
Edit: the problem is definitely on Simple. After moving my site to Atomic, it stopped.

I was under the impression Atomic is affected as well, but it was just cached version of the UI

[2021-07-09 13:20] razvanpapadopol opened #54409 "Launch: remove the 'new-launch' flow"
### What
The `/start/new-launch` flow was introduced to align with the aesthetics of Gutenboarding signup flow. Now, with re-skin in place, the default `/start/launch-site` is already doing that.

This will also fix `new-launch` related bugs such as https://github.com/Automattic/wp-calypso/issues/42510

List of PRs that introduced Frankenflow and later `new-launch` flow:
- https://github.com/Autom

[2021-07-09 14:57] dsas commented on #50928
thanks @xpurichan 🙌 I can reproduce on atomic immediately, using my steps above but selecting an atomic site.

I get this response
[code]

when POSTing to https://public-api.wordpress.com/rest/v1.1/sites/SITEID/media/new?http_envelope=1

[2021-07-09 15:07] WunderBart commented on #54276
Addressed via D63891-code

[2021-07-09 15:09] mikeicode opened #54411 "Calypso theme page shows incorrect theme for Storefront child theme "Bistro""
When an AT site has the [Storefront child theme Bistro](https://woocommerce.com/products/bistro/) activated the incorrect theme is shown in Calypso. This has resulted in confusion in support.

### Steps to reproduce the behavior

1. Activate Bistro on an AT site: https://woocommerce.com/products/bistro/
2. View the active theme in Calypso: https://wordpress.com/themes/YOUR-SITE.COM
2. View the act

[2021-07-09 16:14] WunderBart commented on #54276
The fix has been deployed (D63891-code). @devNigel, could you confirm if the issue has been fixed?

[2021-07-09 16:47] Addison-Stavlo commented on #54353
I looks like the block selection button is this which is found in select mode:

![Screen Shot 2021-07-09 at 12 42 42 PM](https://user-images.githubusercontent.com/28742426/125110858-29346700-e0b3-11eb-86c9-46569ba2a183.png)

Im not sure how to get its `moveBlocksToPosition` action to fire though.  Perhaps the current `wpcom_block_moved_via_dragging` events that are firing are happening from old Gu

[2021-07-09 17:06] obenland commented on #54069
Is there more work for this ticket or can it be closed?

[2021-07-09 17:35] razvanpapadopol opened #54417 "Reduxify: excludedSteps (signup)"
**Task Details**
The current [Flows object](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/config/flows.js#L153-L238), even if it's considered config, has a stateful property: `excludedSteps`.

All the signup steps are getting `flows.getFlow().steps` as a prop so it's expected for it to cause a re-render when updated. In cases when a step is removed dynamically by calling `flows

[2021-07-09 17:42] jeyip opened #54418 "Legacy Dotcom FSE: URL query param is incorrect when opening template part"
When legacy dotcom FSE is run against the most recent version of Gutenberg (it's currently pinned to an older version), clicking on an edit template part button ("Edit Header" or "Edit Footer") in the Calypso iframe leads to an improperly formed browser URL. (e.g. `?fse_parent_post=2` instead of `?fse_parent_post=12`)

Example URL: https://wordpress.com/edit/wp_template_part/gregtest1legacyfse.wor

[2021-07-09 17:49] niranjan-uma-shankar commented on #52913
Fixed by D63784-code and D61523-code.

[2021-07-09 17:49] #52913 closed, assigned to aneeshd16

[2021-07-09 18:27] jmdodd commented on #51594
Atomic infrastructure will be able to support changing the space quota from the default on both provision and update. This work is in progress, but requires some careful planning to avoid unnecessary over quota systems alerts.

[2021-07-09 18:50] xpurichan commented on #50927
Requested in 29847928-hc.

[2021-07-09 19:07] #52981 closed, assigned to mattwiebe

[2021-07-09 19:22] mattwiebe commented on #52981
Note that, while the fix is committed, this won't start working reliably until Jetpack 10.0 is released.

[2021-07-09 22:22] worldomonation opened #54421 "CoBlock: publishing a page with Click to Tweet and Logos block auto-dismisses the post-publish panel."
### Steps to reproduce the behavior

1. Start a new post.
2. Set title of post.
3. Insert the `Click to Tweet` coblock.
4. Fill in the tweet body.
5. Insert the `Logos` coblock.
6. Click on `Publish` and follow through with the process until the post is published.

#### What I expected to happen
7. Post-publish panel remains on screen.

#### What actually happened
7. Post-publish panel auto-dismis

[2021-07-09 23:25] supernovia opened #54422 "Themes: Retired themes discrepancies in Calypso vs themes.php"
### Steps to reproduce the behavior
You'll need to have a site that existed before a theme retired, so please do this with the oldest site possible. (If needed, ask for access to testingrestaurants.wordpress.com -- a 15-year-old test site)

1. Go to https://wordpress.com/themes/
2. Select the oldest site possible
3. Scroll and choose to show all themes. Scroll to the bottom so you have a feel for

[2021-07-09 23:42] bsanevans opened #54423 "Broadsheet theme: theme overwrites heading font size set in block settings"
### Steps to reproduce the behavior

1. Apply Broadsheet to site
2. Add a Heading Block to any page or post
3. Adjust the font size setting in the right-panel block settings
4. Notice font size changes in editor, but not on the front-end of the site

#### What I expected to happen

Font sizes will change accordingly

#### What actually happened

Font size remains the same regardless of block setti

[2021-07-09 23:55] jeyip opened #54424 "Legacy Dotcom FSE and WordPress 5.8 compatibility"
### Context
Legacy Dotcom FSE is a discontinued experiment that we ran in 2019. Even though new users can’t be enrolled anymore, it’s still active on more than 23k old sites. It is currently pinned to an older version of the Gutenberg plugin, but when WordPress 5.8 (July 20th) is released, legacy FSE will be exposed to recent changes in core Gutenberg.

To address this, we're making the necessary

[2021-07-10 00:03] kaitohm commented on #46077
@BogdanUngureanu Since this has been deployed, we've encountered an issue, which I originally posted here: https://github.com/Automattic/wp-calypso/issues/54403

### Issue

User bio is no longer locatable by a third-party theme, that used to pull in the bio from the wp-admin user info.

### Proposal

Could it be that the location we're syncing and storing the user bio now in wp-admin is different,

[2021-07-10 01:24] annbingle opened #54425 "Ability to add few plugins without upgrading to Biz Plan."
The user wants to use only one plugin but they don't want to upgrade to a Business plan thus they requested if we can consider creating a lower plan which allows them at least 1 - 3 plugins to install.

What
This is a request from a user for a lower plan that has a limited number of plugins that can be installed on the site.

Why
Not me but the user :)

How
(Optional) If applicable, add screenshot

[2021-07-10 02:28] kaitohm commented on #46077
I have another case: 30542562-hc (Follow up: 4128986-zd-woothemes )

### Issue

Display name and Gravatar updated in WordPress.com profile settings is not updating the wp-admin Display Name and Profile Picture. And due to this deploy, users aren't able to edit them in wp-admin either: https://github.com/Automattic/jetpack/pull/20007

### Partial Workaround

An HE can update a user's display name i

[2021-07-10 04:47] galakhyati opened #54426 "Mobile Browser: Welcome guide doesn't have option to close on mobile browser"
### Steps to reproduce the behavior

1. Open the website on a mobile browser. I've checked this with Chrome browser.
2. Open WordPress.com > My Sites > Pages > Add New Page (and select blank layout) or a Post.
3. Click on the three dots on top right corner and open Welcome guide.
4. You'll see the welcome guide is shown. It is spread all across the screen and doesn't have the option to close it at

[2021-07-10 05:51] pablinos commented on #53918
Thanks for confirming that @DustyReagan. I personally don't like this upsell, but it's more of a business decision. The idea seems to be to check if the customer wants to use plugins on their site. We should be able to cut that right down. Let them know they'll need to upgrade to use plugins and themes.

It would be good to see if we have any stats on the number of people that upgrade at this poin

[2021-07-10 09:05] #54276 closed, assigned to WunderBart

[2021-07-10 14:42] zdenys opened #54427 "Penscratch 2: SVG image doesn't load as featured image"
### Steps to reproduce the behavior

1. In `WordPress.com > My Sites > Appearance > Customize > Content Options` and check the box next to `Automatically use first image in post`
2. Create a post and add an .svg image as an [Image Block](https://wordpress.com/support/wordpress-editor/blocks/image-block/) at the very top (you can use https://s-ssl.wordpress.com/i/spotify-badge.svg)
3. Preview the p

[2021-07-10 17:37] xpurichan commented on #50928
Reported in 30394506-hc

[2021-07-10 17:45] KokkieH opened #54428 "Desktop app: Only loads a blank screen with WP logo"
We've received reports from two users that after updating to the newest version of the desktop app, when it launches they only see a blank screen with the WordPress logo top left, and the help icon bottom right.

### Steps to reproduce the behavior

We've not been able to reproduce it so far, but one of the users have provided app logs as requested in https://github.com/Automattic/wp-calypso/issue

[2021-07-10 17:48] KokkieH commented on #54428
Looks like there's also an issue for this in https://github.com/Automattic/wp-desktop/issues/988

[2021-07-10 19:42] tanjoymor commented on #53401
Just noting that I've received a few customer confirmations now that this is in fact resolved and working properly for them now. Have also done a couple of tests myself and all seems well (so far).

[2021-07-10 21:10] bariOmymen commented on #45449
I want to take this issue. I have some questions if you don't mind answering

[2021-07-10 23:10] happychait commented on #54276
@WunderBart  Thank you so much for fixing the bug. I can confirm the home page cover blocks now appear on the customer's site without having to apply the custom CSS fix.

Thanks again!

[2021-07-10 23:34] scosgro opened #54430 "Customizer: Save Changes cog is missing on some unlaunched sites."
Customizer options lost on unlaunched sites, which left the Customizer stuck in Draft Saved mode on unlaunched sites that had the Customizer set to Draft prior to this bug.

I can only half replicate this. I'm not sure how the user got to Draft, unless a new change was introduced recently that broke the switching function, and got them stuck there.

### Steps to reproduce the behavior

1. Create a

[2021-07-11 02:03] formosattic commented on #53990
+1 4130296-zd-woothemes

Shared this CSS fix, (h/t @joweber123):

[code]

[2021-07-11 05:18] Robertght commented on #53602
Another in 4130691-zen

[2021-07-11 06:45] Robertght commented on #53602
Another in 4130692-zen

[2021-07-11 11:41] susanjanec commented on #52556
4130736-zen - user reports that average daily views are inaccurate - they report from July 1-9 they have 6331 views and the average daily views should be 703 but showing 575 for the month of July so far.

I checked for June which their views were 24,039 and if my math is correct the average daily views should be 801 since there are 30 days in June. The average daily views for June shows at 793. Is

[2021-07-11 14:55] sguzovskaia commented on #53953
4130281-zen
Asked to confirm if it's happening on Safari.
Advised on changing the browser and clearing cache & cookies.

[2021-07-11 14:57] edwinho89 opened #54432 "Export: Not able to perform full export with ERR_INVALID_RESPONSE error"
### Steps to reproduce the behavior

1. Go to Tools → Export. Click Export All.

#### What I expected to happen

Export runs successful.

#### What actually happened

Web browser returned "This site can’t be reached" message with `ERR_INVALID_RESPONSE` at the end.

#### Does this happen on simple or atomic sites or both?

Affected users appeared to be on Atomic sites.

#### Is there any console ou

[2021-07-11 15:30] KirkwallDay opened #54433 "Using "Play Inline" on the Video Block Setting on an AT site breaks the video block."
### Steps to reproduce the behavior

1. On an AT site, insert a video block and turn on the "Play Inline" setting.
2. The screen will refresh, and the setting is still off.
3. Turn it on again.
4. Preview the page
5. The video will be replaced by a long link that goes to the video attachment page.

#### What I expected to happen
The video to play inline

#### What actually happened
The video block

[2021-07-11 15:43] khristiansnyder opened #54434 "Media Library: Documents and VideoPress files showing 0.00 B file size"
### Steps to reproduce the behavior

 On a simple site, upload a document, such as a PDF. Check the file size in the media library in Calypso and it shows 0.00 B.

#### What I expected to happen

It should show the correct file size.

#### Does this happen on simple or atomic sites or both?

Simple sites. Atomic seems fine.

#### Screenshot / Video: If applicable, add screenshots to help explain y

[2021-07-11 17:56] kathrynwp opened #54435 "Block Editor: Toolbar hides under block settings panel when content doesn't fit"
### Steps to reproduce the behavior

1. Open a page or post in the editor
2. Add a columns block and choose the 1/3, 1/3, 1/3 option
3. Set the columns block to full width (if the theme has the option, like Hever) or to simulate the effect, just make the browser window smaller
4. Add an image to each column
5. Select the third image and try to reach the ... icon in the block toolbar just above the

[2021-07-11 20:51] metabreakr commented on #48894
4131442-zen

[2021-07-12 00:21] donalirl commented on #53953
Seen in #30570455-hc.

Safari 14
Prevent Cross-Site Tracking is checked.

[2021-07-12 03:17] autumnfjeld opened #54436 "Tech Spike: My Home checklist "Edit the site menu" new user flow"
### Background
Currently, when a user goes through the My Home site setup checklist, they are guided to edit a menu.  Clicking the CTA, shown in the pic below, takes the user to `wordpress.com/customize/menus/{site}`. Here, new users are shown a pop guide, as shown in the screenshots below.  The copy in this pop-up doesn't match the context the user is in, it doesn't match the edit a menu flow.

S

[2021-07-12 03:50] donalirl commented on #52074
Encountered in #4132384

[2021-07-12 04:20] happychait commented on #53159
#4132018-zen

Asked user to resubmit their site in Google Search Console

[2021-07-12 06:08] roo2 commented on #54298
both issues closed with https://github.com/Automattic/jetpack/pull/20319

[2021-07-12 06:08] #54298 closed, assigned to nobody

[2021-07-12 06:09] roo2 commented on #51119
closed with  D63769-code

[2021-07-12 06:09] #51119 closed, assigned to nobody

[2021-07-12 06:28] p-jackson commented on #54273
Situation 1 is fixed by #54440

I'm going to work on a fix for Situation 2, because I still think the logic is wrong if it's using user-language instead of site-language.

Situation 3 might be diminishing returns, so maybe I won't fix this. What do you think @autumnfjeld @deBhal

[2021-07-12 07:42] #42490 closed

[2021-07-12 07:42] p-jackson commented on #54273
D63937-code addresses Situation 2 🤞

[2021-07-12 08:18] mzitinfo commented on #53100
Another report in 4130811-zen, but it seems to be a very old browser and OS (the screen shot looks like Windows XP).

[2021-07-12 08:22] inaikem commented on #54350
Tested and confirmed the above on a Simple sites. My atomic test site was not affected.

[2021-07-12 08:26] autumnfjeld commented on #54151
@p-jackson Given this fix  #54345 and this ticket #54436 to explore better UX experience for new users, can we close this issue?

[2021-07-12 09:06] autumnfjeld opened #54441 "My Home Tech Spike: use dynamic content in the mobile app card"
## Background
We'd like to better promote the WordPress mobile native apps, as mentioned in the dotcom 3 year plan (p58i-aNO-p2).
"_Our mobile web experience is on par with our desktop web experience and we’re promoting our native mobile apps in all of the right places_."
My Home can help do this by making better use of the real estate that is currently used to promote the WordPress app. Currently

[2021-07-12 09:08] autumnfjeld commented on #54441
@yaelirub Could you let us know if you have any blockers on your side in terms of getting copy written or any designs done for the items being discussed?   We can start small with this item:
* user downloaded, but hasn’t opened app in X days

What does your timeline look like? So we know how to prioritize this work.  :)

[2021-07-12 09:14] tyxla commented on #42443
Looks like this is a very straightforward one. On it.

[2021-07-12 09:25] razvanpapadopol commented on #53254
FYI, a note more on the testing part of this issue: the excluded steps may not be accurate without a full re-load even after resetting the store correctly. See https://github.com/Automattic/wp-calypso/pull/54117#issuecomment-878117715

[2021-07-12 09:35] #54069 closed, assigned to tjcafferkey

[2021-07-12 09:49] autumnfjeld opened #54443 "Tech Foundations: My Home Site Status area"
## Background
The My Home Pod is actively working to improve the relevancy of content on the My Home page.  Adding a Site Status area or Action Area will provide users relevant, contextual info about their site.

Since this work is in active design, check in #dotcom-pod-my-home or with Jeff or Autumn for any recent design updates.

**Preliminary design ideas (not final!):**

As of July 16
![image]

[2021-07-12 09:56] tyxla opened #54444 "Modularise `currencyCode`"
The `currencyCode` portion of the state tree needs to be modularised. See the [modularised state documentation](https://github.com/Automattic/wp-calypso/blob/master/docs/modularized-state.md) for more details.

[2021-07-12 09:56] razvanpapadopol opened #54445 "Welcome tour: action buttons are misaligned"
### Steps to reproduce the behavior

1. Go to page/post editor
2. Click on Welcome Guide

#### What I expected to happen
Welcome tour UI to be as designed

#### What actually happened
Welcome tour action buttons are a bit off

Mentioned in Slack p1625861214195300-slack-C01VA100LEA

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

<img width="1208" alt="Screens

[2021-07-12 09:59] edwinho89 opened #54446 "Pay with PayPal Block: Uncaught Error: jQuery is not defined on non-WordPress.com users"
### Steps to reproduce the behavior

1. Create a page, add [Pay with PayPal](https://wordpress.com/support/pay-with-paypal/) block.
2. On the published page, click "Pay with Paypal" button with any logged in WordPress.com account.
3. Log out of WordPress.com, visit the published page, click "Pay with Paypal" button
4. See error

#### What I expected to happen

The "Pay with Paypal" button works

#

[2021-07-12 10:15] inaikem commented on #35800
Another report in 23213008-hc + follow-up in 4132861-zen.

[2021-07-12 10:21] scinos commented on #53318
In general, yes, it is correct.

As you probably has already seen, `SOURCEMAP` can be any of the values defined in https://webpack.js.org/configuration/devtool/#devtool. For local development maybe `SORCEMAP=eval yarn start` is a better fit, but it all depends on the "quality" expected from the source maps.

[2021-07-12 10:32] #48751 closed, assigned to nobody

[2021-07-12 10:36] scinos opened #54448 "Migrate to `import/order`"
**Task Details**

After some debate in p4TIVU-9Hd-p2, we have decided to change how to document our imports:

* Do not use `wpcalypso/import-docblock`
* Delete any existing `/** External dependencies **/` block comments and similar.
* Enable `import/order`

See the proof of concept in https://github.com/Automattic/wp-calypso/pull/52499

**Instructions**

1. Select a directory you want to refactor.

[2021-07-12 10:48] formosattic commented on #36226
4130667-zd-woothemes

[2021-07-12 10:53] formosattic commented on #53008
Just noting there's an older related thread at https://github.com/Automattic/wp-calypso/issues/36226 , we should close one in favor of one open issue, though not sure which one you prefer keeping.

[2021-07-12 10:55] #51200 closed, assigned to creativecoder, jeyip

[2021-07-12 10:58] #54418 closed, assigned to creativecoder, jeyip

[2021-07-12 11:07] dsas commented on #50928
The user-facing docs explains what kind of files are allowed: [zip files are allowed as long as the .zip file contains accepted file types](https://wordpress.com/support/accepted-filetypes/)

Uploading files uses the [new media API endpoint](P2gHKz-g-p2.1/post/sites/%24site/media/new/)

For atomic sites this is using a hardcoded allowed mimetypes list which doesn't include zips, for simple sites i

[2021-07-12 11:12] dsas commented on #50928
Reviewing the various tickets and happy chats referenced so far, they're mostly atomic sites, the simple sites reports are not necessarily related to this ticket after all.

[2021-07-12 11:33] jordesign commented on #54246
Not to throw a spanner in the works...

If a user has selected a filter - and then closes the dropdown, do we need a visual indicator that the filter is active ?

[2021-07-12 11:35] jordesign commented on #54389
Nice - I'm excited for this!

Is 'Full Site Editing' definitely going to be the labeling/terminology we use on WPCOM? @ianstewart

[2021-07-12 11:36] jordesign commented on #52759
I"m happy to help with testing and verification between Simple/Atomic.

Do we want to approach this with certain theme/s as a baseline?

[2021-07-12 11:39] jordesign commented on #53473
So if they *do* have the front_page set to show latest posts - do we just ask them to edit _any_ page?

[2021-07-12 12:22] onuro commented on #54246
@jordesign it would make sense if we had the full list of keyed suggestions within the Filters popover.

But since the tabs within the popover will just function the same way they used to when they were a welcome bar, I'm assuming we'll continue to highlight the filter within the input:

![image](https://user-images.githubusercontent.com/645713/125286862-f0032d80-e324-11eb-96bb-3b4281c9c80f.png)

[2021-07-12 13:36] #39912 closed

[2021-07-12 14:20] #53653 closed, assigned to nobody

[2021-07-12 14:28] #54445 closed, assigned to razvanpapadopol

[2021-07-12 14:28] lizswafford opened #54456 "Payments Page: Toggle Menu Color"
The toggle button for the subscriber list on the Payments page is light gray, making it difficult to see.
It does not match the toggle button on the pages and posts pages which is a darker gray, almost black.
I would expect all toggle buttons to be the same color.

Link to Payments: https://wordpress.com/earn/payments

Screenshot of payments toggle: https://d.pr/i/zVkE1D
Screenshot of pages page t

[2021-07-12 14:35] BogdanUngureanu opened #54457 "Support session breaking the login URL redirect when SSO is disabled"
When going to a support session on an Atomic site with SSO disabled the URLs pointing to WP-Admin are pointing to the correct URL, however the redirect _wpcomsh_detect_support_session will break the URL and the user will be redirected to a 404 page.

This is happening only for proxied a12s on an Atomic site with SSO disabled and not authenticated on the local Atomic site.

### Steps to reproduce t

[2021-07-12 15:09] #53110 closed, assigned to andres-blanco

[2021-07-12 15:20] tellisbethel commented on #53626
Another instance here: 30595198-hc
Atomic site

[2021-07-12 15:41] kwight commented on #54430
@andres-blanco I think you were in this area recently, can you take a look please?

[2021-07-12 15:52] tellisbethel commented on #47645
This user seems to be experiencing a similar issue: 4111715-zd-woothemes
Example image on their Sea and Coast [portfolio page](https://ruthgrindrodlandscapephotography.co.uk/?post_type=jetpack-portfolio&p=8839&preview=true)

![blurry image example](https://cdn-std.droplr.net/files/acc_1175320/50OGJ1)

They're using CoBlocks Masonry Block with Lightbox active as a workaround.
They would like to be

[2021-07-12 15:52] ianstewart opened #54458 "Patterns: Add Link in Bio Patterns to Patterns/Page Selection"
**Task Details**

- Add Blank Canvas Link in Bio Patterns to Dotcom Library.
- Surface in Pattern Inserter.
- Surface in New Page Modal.

**Notes**

Let's get this category of patterns surfaced for users of all themes, not just Blank Canvas, by moving them to the Dotcom Pattern library.

![image](https://user-images.githubusercontent.com/545779/125318098-28901080-e2ff-11eb-8e97-8f24fa5dff11.png)

[2021-07-12 15:56] andres-blanco commented on #54430
Yes, I can!

[2021-07-12 15:57] DanielSmithMichigan commented on #53473
There's a configuration called "page_on_front" which is usually the homepage. If you switch to "show_latest_posts," I think it sticks to your recent homepage.

I'm using that. But if that configuration isn't set, then the deep link doesn't show and the 'fonts' section in customizer will just show instructions [like this](https://user-images.githubusercontent.com/10274366/124637710-1540f900-de58-11

[2021-07-12 15:58] sixhours commented on #54394
I noticed that as I activate themes on my Atomic site that they get added to "Uploaded Themes" even if they're WordPress.com themes. It may be worth exploring renaming that heading to something like "Previously Used Themes" (terrible, don't use that) to convey it's not just uploaded themes, it's a history of themes you've used.

Not sure why the actual uploaded themes aren't showing, though.

[2021-07-12 16:05] EranBoudjnah commented on #53978
This is still ongoing. Not a single post of mine has been posted with a picture for quite some time. I can never recover the lost traffic. Without the picture posts are getting no traction.

[2021-07-12 16:17] apeatling commented on #54458
@alaczek I don't believe any code is needed to move them to the selector for patterns. They needed to be added to the dotcom patterns source site and a new category added for "Link in Bio". They should then show up after the cache is cleared.

Not sure about the page modal, but let's get them in the sidebar first.

[2021-07-12 16:35] jessie-ross commented on #4020
Reopening this based on pbmo2S-PD-p2 (search for LocalStorage).

My theory is that this is due to post drafts being persisted in LocalStorage, might explain @westi's experience.

[2021-07-12 17:02] gwwar commented on #53401
I also added a public write up if y'all were curious on what was happening: https://gwwar.com/2021/07/08/debugging-hard-things-safari-edition/

Much appreciated, if we could also close this issue out if we have a confirmed fix for folks.

[2021-07-12 17:15] Copons opened #54459 "Site Editor: Make sure theme styles and Global Styles work appropriately on both Atomic and Simple"
When a site moves to Atomic, not all styles work as expected.

- The site loses all the styles, reverting to the browser’s default CSS and fonts.
This might be caused by the `wp_global_styles` CPT not being transferred, or by the generated CSS not being enqueued appropriately or in the correct order (e.g. messing up the CSS3 variables).

- The color palette in Global Styles reverts to the Gutenber

[2021-07-12 17:20] Copons opened #54460 "Site Editor: Replace the navigation sidebar with a "back to dashboard" button"
To simplify the information overload of the Site Editor, we will start without navigation sidebar.
It will be replaced by a simple "back to dashboard" button, like in the Core Post Editor.

This change requires adding a SlotFill in Core Gutenberg that will allow us to replace the whole navigation sidebar, or a filter to override the toggle's `onClick`.

- [x] ~~Core side: https://github.com/WordPr

[2021-07-12 17:24] Copons opened #54461 "Full Site Editing: Beta opt-in flow"
Add the Dotcom FSE Beta opt-in flow to the design picker in the new site creation for existing customers.

- [x] Design side
- [x] Turn on the Site Editor on opted-in sites using universal themes (see https://github.com/Automattic/wp-calypso/issues/54469)
- [x] Development side (e.g. add the beta flag/sticker/etc. and handle it where appropriate in Calypso and wp-admin)

[2021-07-12 17:29] nsakaimbo commented on #54428
@KokkieH Thanks for sourcing the application logs - we're still looking into this. One additional troubleshooting step (not sure if they've tried this already):

Can the user try uninstalling the app - _including all caches_ - and then re-installing the application? Instructions for a complete uninstall are located here:

PCYsg-6LX-p2

[2021-07-12 17:32] nsakaimbo commented on #54428
@KokkieH It's also unclear to me whether this happens only when they try to use the editor? From what I can tell, the user is trying to load the editor on boot. What happens when they click the "W" button in the top-left?

[2021-07-12 17:33] Copons opened #54462 "Full Site Editing: Theme switching flows"
Update the theme switching flows according to paYE8P-ZP-p2.

Remaining tasks

- [x] Remove the keep/replace content modal when switching themes for FSE Beta sites (moved to https://github.com/Automattic/wp-calypso/issues/56872)

<img width="400" alt="image" src="https://user-images.githubusercontent.com/1699996/132927910-e9ca4e19-eb87-43d9-98ac-42666cfd3853.png">

For universal themes, should they

[2021-07-12 17:36] Copons opened #54463 "Full Site Editing: Decide the initial block-based theme"
We need to choose the right block-based theme for the beta (depending on which one is more ready and with the more appropriate patterns over the next month.

[2021-07-12 17:36] nsakaimbo commented on #54428
Closing this issue as this is being tracked in Automattic/wp-desktop/issues/988.

Please share subsequent updates in that issue.

[2021-07-12 17:36] #54428 closed, assigned to nobody

[2021-07-12 17:41] ianstewart opened #54464 "Dotcom Site Editor missing Beta label and appears in wrong position"
The Dotcom nav sidebar is missing the Beta label and appears in the wrong position (below appearance) relative to core. See screenshots below with Dotcom on the left and Core on the right. The beta label was previously appearing on Dotcom.

Note: This is not an issue with the rollout of or testing of FSE on Dotcom. This affects Atomic users today who install Block themes on Dotcom.

![image](https

[2021-07-12 17:46] Copons opened #54465 "Site Editor: Improve the navigation sidebar content"
This is an optional iteration to #54460.

Instead of replacing the whole sidebar on the Dotcom Site Editor, let's only replace its content with a simplfied version that doesn't expose the entire template hierarchy to the user.

For example, we could have only the content submenu, which also selects the edited template behind the scenes.

[2021-07-12 17:48] the-misha opened #54466 "Image not resizing correctly within column"
### Steps to reproduce the behavior

1. Go to https://carolinedufour.com/ and scroll to display blog post photo linked to "L'Errante" (https://carolinedufour.com/2021/07/07/lerrante/)
2. Adjust width of browser window wider, then narrower.
3. See error: Right side of photo is "clipped.

#### What I expected to happen
Full image should display across width of column.

#### What actually happened
Ri

[2021-07-12 18:07] Copons opened #54467 "Site Editor: Add a FSE-specific welcome tour"
Currently the Site Editor displays the same welcome tour we show in the Post Editor.
We should update it to feature guidance specific to the Site Editor.

[2021-07-12 18:09] Copons opened #54468 "Global Styles: Add support for Google Fonts"
### Description
We'd like to make google fonts available as selectable font families in the global styles site editor experience. The legacy dotcom FSE feature, as seen below, is a good example of this.

![2021-08-05 17 57 57](https://user-images.githubusercontent.com/5414230/128439965-ad8dab1b-0299-4ab1-8182-d0c49587ef47.gif)

### In Progress
- [ ] https://github.com/WordPress/gutenberg/pull/3388

[2021-07-12 18:16] Copons opened #54469 "Full Site Editing: Support universal themes (Tracking Issue)"
Universal themes can disable the Site Editor via site option.

Let's use this option in the site creation flow:
- If the site is **not** FSE, turn the option on (and disable the Site Editor).
- Otherwise, leave the option off.

Tasks:
- [x] Site option to disable the Site Editor: https://github.com/Automattic/themes/pull/4154
- [x] Disable the Site Editor by default on simple sites: https://github

[2021-07-12 18:18] Copons opened #54470 "Themes: Release Quadrat on Dotcom"
Optional: let's release Quadrat on Dotcom and use it for FSE.

[2021-07-12 18:22] Copons opened #54472 "Site Settings: Remove settings obsolete with FSE from both Calypso and wp-admin"
There are several site settings that are becoming increasingly obsolete with FSE.
We should remove them for FSE sites, in order to reduce confusion and information overload.

- Remove “display n posts per page” option. It’s handled by the Query Loop and Blog Posts blocks.
- Remove “show publish confirmation”. Gutenberg has always handled it just fine.
- Hide “default post format” if no post format

[2021-07-12 18:26] Copons opened #54473 "Site Settings: Make front page settings available outside of the Customizer"
Currently, users can only set their front page settings (if showing the latest posts or a static page, and which page) in the Customizer.

With FSE, the Customizer is gone, so we need to make those settings available elsewhere.
Some alternatives:

- Add them to Settings -> Reading (where they would show up for self-hosted and Atomic sites).
- Add them to the actions menu in the Pages list in Calyp

[2021-07-12 19:17] #53331 closed, assigned to donlair

[2021-07-12 19:35] carinapilar commented on #53953
Another one on 29954924-hc

[2021-07-12 19:37] kwight opened #54475 "Theme Showcase: Add theme counts to each result section."
We used to have counts for each of the showcase results sections, but we removed them because they were in accurate and not helpful. Now that the showcase has had a number of improvements, including its filter behaviour, I find I miss them. Let's add them back.

See: https://github.com/Automattic/wp-calypso/issues/15833

<img width="1123" alt="Screen Shot 2021-07-12 at 12 36 28 PM" src="https://us

[2021-07-12 19:46] #54424 closed, assigned to jeyip

[2021-07-12 19:47] jeyip commented on #54424
The fix for dotcom legacy FSE to work with the latest Gutenberg version has been released to simple and atomic sites. ~The remaining issue with the legacy FSE navigation block will be backlogged for now because of the limited number of users it affects, the fact that no complaints have been brought to our attention, and because of prioritization of other full site editing initiatives.~ The navigat

[2021-07-12 20:18] metabreakr commented on #53953
30442661-hc
https://www.whatsmybrowser.org/b/OP22S

[2021-07-12 20:33] #52473 closed, assigned to sirbrillig

[2021-07-12 20:43] MindyPostoff opened #54476 "SSO: Create New Account without New User Flow"
### Steps to reproduce the behavior

1. With Jetpack SSO enabled (and forced) on an atomic site, visit the WP.com log in screen flow to appear in an incognito window.
2. As you're not logged in, click on the option to create an account.

#### What I expected to happen

I expected the new user account flow, which should only require basic user account info (e.g. email address, username, name, etc).

[2021-07-12 20:59] jeffgolenski commented on #54443
Good stuff @autumnfjeld thanks for wrangling this. For the site status area, you really nailed it with the spreadsheet above.

I think the most impactful / actionable things we can do right now are the plan status stuff and the domain status stuff. Particularly around showing problems or potential actions that need to be taken.

After that it's email. I don't know where we're at in terms of Titan

[2021-07-12 21:42] kwight commented on #52759
@jordesign Good question – Twenty Twenty One and Twenty Twenty come to mind, or maybe the Varia ("recommended") themes? @kathrynwp any suggestions for three themes to focus on during testing?

[2021-07-12 21:48] kwight commented on #54087
Let's try the upsell banner with an icon, as suggested by @michaeldcain in p58i-aR7-p2#comment-51339

[2021-07-12 21:49] kwight commented on #54394
Is this a regression from our work, or was it always like that?

[2021-07-12 21:52] p-jackson commented on #54151
Yep agree, was just keeping open until we had a plan to move forward with something like #54436

[2021-07-12 21:52] #54151 closed, assigned to p-jackson

[2021-07-12 21:53] autumnfjeld commented on #54194
Closing this since we are now linking to the support doc page #54202.  Thank you @Aurorum  ![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=46)

[2021-07-12 23:20] donalirl commented on #54201
Another report in #30467213-hc

[2021-07-13 00:52] roo2 commented on #54436
it looks like it is straightforward to implement a tour specific to editing the menus by passing something like `guide=edit-menu` in via the customizer url.

The link from the checklist takes us to the edit menus panel already now that https://github.com/Automattic/wp-calypso/pull/54345 is fixed, so we will need to come up with content that makes sense from the _menus_ panel.

<img width="1000" al

[2021-07-13 01:01] p-jackson opened #54483 "My Home: Some buttons in Quick links section aren't accessible"
### Steps to reproduce the behavior

1. Go to My Home and expand quick links
2. Navigate the quicklinks section using tab navigation, or try using those buttons with a screen reader (e.g. VoiceOver in macOS)

#### What I expected to happen

Quick links looks like a collection of links and buttons, so I'd expect them all to be "clickable" with something other than a mouse, and for a screen reader t

[2021-07-13 01:03] p-jackson commented on #54483
Just setting up some work for when you join the team @arthur791004. Don't start this yet, just wanted to assign it to you so that no one else picked it up first 😅

[2021-07-13 01:13] roo2 commented on #54436
Yes ✅ it looks like we can hook into the same logic for this

Yes ✅ The customizer has the `guide` parameter which can be set in the link that they followed and implemented on by adding logic to the switch statement here p1626061025312200/1626054191.306400-slack-C01VA0R5NKY

[2021-07-13 02:25] roo2 commented on #54441
we are recording the last opened time in our database as `mobile_app_last_seen` (by parsing tracks logs), in `parse-logs.php:1375` 👍

[2021-07-13 03:11] retnonindya opened #54484 "Feature request: A8C Blocks on University websites"
Hi team! This is a feature request for our internal process, so I didn't put lots of details on this GH issue. Feel free to check this Slack thread for screenshot/details:
p1626138512073000-slack-CBTN58FTJ

What
In Happiness, we have University websites -- a website for references and documentations on everything about our products. The website usually maintained by HEs and it's a growing website

[2021-07-13 03:55] edwinho89 commented on #53401
User had this issue using Safari 13.1 on Mac OS X 10.13.6 from 30075747-hc

Recent chat 30604975-hc shows the issue has been addressed, so it looks promising that the issue may have been resolved. :)

[2021-07-13 05:31] formosattic commented on #36191
Another report, with the active premium theme [Twotone](https://wordpress.com/theme/twotone).

More details at p2EDhh-1iQ-p2

[2021-07-13 05:48] lsl commented on #53100
Thanks, that screenshot gives me a few more hints, the URL specifically tells me I've probably been looking in the wrong place. A cursory re-read of some of these reports seem to confirm the issue.

I wouldn't normally want to ask users for it but seeing as it's really hard to replicate this error, console logs might be necessary in order to narrow the problem surface down considerably.

Copy and

[2021-07-13 05:57] SteffanCline commented on #53978
Can we get an update? It seems like surely in 20 days we'd have some kind of progress.

[2021-07-13 06:31] rezzap commented on #47645
Just adding here that the user in 4133556-zen from the issue reported above would like to know if this does get fixed.

[2021-07-13 06:35] lsl commented on #50631
I'm not completely sure this is the same issue I've encountered but I think it might be related, it looks like there is some positioning being "zero'd out" when it needs resetting on navigation.

https://user-images.githubusercontent.com/811776/125402757-2067cc00-e3f8-11eb-8cec-dc9f9f38e2b8.mov

[2021-07-13 06:44] kaitohm commented on #46077
Regarding the two issues mentioned above - the situation seems to have resolved itself now. It could have been site caching involved, too. I can no longer reproduce this issue on my test sites either, so I will close the issue.

[2021-07-13 07:28] #52905 closed, assigned to StefanNieuwenhuis

[2021-07-13 07:43] aleone89 commented on #53401
Another report hc-30152950

[2021-07-13 07:49] #42443 closed

[2021-07-13 07:51] #54444 closed, assigned to tyxla

[2021-07-13 08:55] edwinho89 commented on #53953
Seeing an uptick in where the issue is affecting Firefox web browsers:

4134938-zd-woothemes
4132133-zd-woothemes
4130241-zd-woothemes
4125863-zd-woothemes
4096560-zd-woothemes
4132348-zd-woothemes

The only similarity I can find is that affected users are on either Mac OS 10.14 or 10.15

[2021-07-13 09:04] jeherve commented on #53978
I'm afraid we have no news yet. As mentioned above, the issue happens [with other services as well](https://github.com/Automattic/wp-calypso/issues/53978#issuecomment-868303633), so it would seem that the problem stems from updates to the LinkedIn API. We'll update this issue as soon as we receive an update from the LinkedIn team on the problem.

[2021-07-13 09:06] razvanpapadopol commented on #53751
See https://github.com/Automattic/wp-calypso/pull/53889#issuecomment-878912942

[2021-07-13 09:06] #53751 closed, assigned to StefanNieuwenhuis

[2021-07-13 09:17] EranBoudjnah commented on #53978
Apologies for the naive question, but why is this stuck with LinkedIn? It seems like they're pulling metadata correctly from other sites without fail. Have the web logs been analyzed? Can other websites read the metadata? Can you share some technical data? I'm using wordpress.com. So not self-hosting.

[2021-07-13 09:31] edwinho89 commented on #46077
Just experienced this issue in 4134359-zd-woothemes

It appears the issue remains, and current workaround using CLI `user update user_id --display_name=new_user_name` is the way to go.

Reopen the GH for visibility.

[2021-07-13 09:55] jeherve commented on #53978
Sharing a post manually does work indeed, regardless of where your site is hosted. Here is an example:

![image](https://user-images.githubusercontent.com/426388/125430738-d3aa8c82-c12a-47ec-904f-e70f0fba2846.png)

The problem seems to be related to automated posting, just like the one that happens when you use [our Publicize feature](https://wordpress.com/support/publicize/) to automatically publ

[2021-07-13 09:56] #51513 closed, assigned to tjcafferkey

[2021-07-13 10:30] pauljacobson opened #54497 "Private Site landing page: Enable users to customize the landing page with instructions and branding"
### What

One of our users suggested that we enable our customers to customize the _Private Site_ landing page that currently looks like this:

![Screenshot 2021-07-13 at 13-22-45 Private Site](https://user-images.githubusercontent.com/2912202/125436274-6b41f140-579c-48c6-8c87-49cd1b196c39.png)

Here is their suggestion:

## Why

The current text doesn't offer much clarity on what a visitor needs

[2021-07-13 10:33] jordesign commented on #54246
Ah nice - great point!

[2021-07-13 11:11] BogdanUngureanu opened #54499 "Nav unification Quick switcher not displayed in WP-Admin when SSO is disabled"
Given that the `show wp-admin` toggle will be removed, users having SSO disabled will not being able to switch between the interfaces since the quick switcher is currently not loaded for sites with SSO disabled.

### Steps to reproduce the behavior

1. Go to an Atomic site and make sure it doesn't have any quick switcher preferences.
2. Turn on the show admin toggle in /me/account (this toggle wil

[2021-07-13 11:15] BogdanUngureanu opened #54501 "Nav unification Quick Switcher preferred option is not persisted when SSO is disabled"
### Steps to reproduce the behavior

1. Go to an Atomic site and make sure it doesn't have any quick switcher preferences.
2. Turn on the show admin toggle in /me/account (this toggle will be removed in another PR).
3. Go to WP-Admin > Jetpack > Dashboard > Settings and disable SSO (WordPress Login)
3. Go to Posts > All posts
4. Use the switcher to land in WP-Admin
5. Notice that the preferred cho

[2021-07-13 11:22] BogdanUngureanu opened #54502 "Clicking on My Sites menu in navigation opens an empty slider on sites with SSO disabled"
### Steps to reproduce the behavior

1. Go to an Atomic site
2. Go to WP-Admin > Jetpack > Dashboard > Settings and disable SSO (WordPress Login)
3. Go to WP-Admin of the site
4. Click on `My Sites`
5. Notice that
#### What I expected to happen
Display site selector?

#### What actually happened
An empty slider that hides the actual navigation.

### Context

#### Browser / OS version

#### Is this

[2021-07-13 11:33] dsas commented on #50928
Allowing for differences in formatting, the difference between simple premium site and an atomic business site are:

Simple has these extra

- [asc] => application/pgp-keys
- [docm] => application/vnd.ms-word.document.macroEnabled.12
- [gz|gzip] => application/x-gzip
- [key] => application/vnd.apple.keynote
- [pot] => application/vnd.ms-powerpoint
- [ppsm] => application/vnd.ms-powerpoint.slidesho

[2021-07-13 11:36] roo2 commented on #54436
I was able to get a simple one step help guide working
![edit-menus](https://user-images.githubusercontent.com/22446385/125445140-21366f4a-8c07-46df-a37e-de628005767f.gif)

A two step guide or anything more complicated didn't work so well though  pd2qGl-ar-p2#comment-316

[2021-07-13 11:55] AlexanderMonsanto commented on #54502
Possibly related ZD-4120019
Screenshot provided by user reference issues with "My Sites" menu

[2021-07-13 12:06] michaeldcain opened #54503 "Customer Home: incorrect mobile style alignment"
While testing something else, I noticed that the mobile styling for the new Customer Home card design (introduced in #54059) feels off. The title width is too narrow, the left margin is indented without a visual delineator (i.e. top and bottom borders), the whitespace around the illustration is disproportionately large, and the CTAs should probably be right-aligned and wider.

<img width="340" alt

[2021-07-13 12:12] niranjan-uma-shankar commented on #53536
Adding Stats seems a good idea. @lsl is this the logging you had in mind?

[2021-07-13 12:52] khristiansnyder opened #54505 "Jetpack Carousel Gallery Opacity Issue"
### Steps to reproduce the behavior

1. On a simple site with the image carousel enabled, add a gallery block with a few images.
2. On the published version, click the images to launch the Jetpack image carousel.
3. Click forward to the second image, then click back to the first image again
4. Notice the images both have opacity set causing display issues.

![Screen Capture on 2021-07-13 at 05-41-

[2021-07-13 12:53] khristiansnyder commented on #54505
Reported initially in #4133502-zen

[2021-07-13 12:54] poojashetty18 opened #54506 "Hero block displays removed text on preview"
### Steps to reproduce the behavior

1. Open a page or post editor
2. Insert a new Hero block
3. Add some text to the paragraph block
4. Update the page
5. Now remove the paragraph block from the Hero block and preview the page.

You will still see the removed text in the preview but not on the front end or page editor.

Note: The preview link should be the one with the preview ID like `?preview_i

[2021-07-13 13:27] razvanpapadopol commented on #48880
I guess it's ok to close this one with Re-skin rolled out for signup and launch flows and more improvements being implemented in https://github.com/Automattic/wp-calypso/pull/53993 and a couple of milestones:
https://github.com/Automattic/wp-calypso/milestone/357
https://github.com/Automattic/wp-calypso/milestone/358

[2021-07-13 13:27] #48880 closed, assigned to nobody

[2021-07-13 13:31] razvanpapadopol commented on #54015
Thanks for the exploration, @chriskmnds!
I've updated now the description taking into consideration the latest decision in https://github.com/Automattic/wp-calypso/pull/54388#issuecomment-876928543

[2021-07-13 13:48] DavidRothstein commented on #51037
I think this is now fixed via https://github.com/Automattic/wp-calypso/issues/52473.

[2021-07-13 13:48] #51037 closed, assigned to nobody

[2021-07-13 14:04] kathrynwp commented on #52759
In addition to Twenty Twenty One and Twenty Twenty, how about Hever, since it's in the signup flow and used by a ton of people? There is also currently a bug with previewing some of the colours in Hever even on Simple sites that would be great to fix at the same time. (for example, try to change the background colour in Hever - it's not visible in the preview area, only visible once the changes ar

[2021-07-13 14:08] #51441 closed, assigned to nobody

[2021-07-13 14:32] Copons opened #54508 "Full Site Editing on Dotcom: Improve themes flows (Tracking Issue)"
## Description
FSE has been available on Atomic for months, by simply activating a block-based theme.
With the accelerating release of [block-based themes on WordPress.org](https://en-gb.wordpress.org/themes/tags/full-site-editing/), more users will enable FSE on their sites, in some case accidentally.

There are a few flows that we can improve and simplify to make clear that the feature is still

[2021-07-13 14:33] davipontesblog opened #54509 "Form Block: CSV feedback file has fields in incorrect order"
### Steps to reproduce the behavior

1. Start a page and add a "Form Block"
2. Organize blocks so that at least one of them is "side-by-side" with another one, and the others can be stacked below. See screenshot below as an example.
3. Save the page
4. Submit a test message with the form on the live page.
5. Open the CSV file from My Site > Feedback and verify the order that the fields appear

Exa

[2021-07-13 14:35] tjcafferkey commented on #54331
On going discussion has been moved to pd2C0z-50-p2

[2021-07-13 14:38] jackiejade opened #54510 "Cover Block: Fixed Background Focal Point"
What
The cover block has the ability to have a fixed background with scrolling. This is a very nice feature and users really enjoy it. However, if a user adds an image of people, typically their images have the people's heads cut off and the scrolling never shows their head. At present, the parallax scroll starts in the center of the image. It would be nice to have the focal point picker for the s

[2021-07-13 14:46] sixhours commented on #54394
I believe it was like that before, since the current changes to the showcase haven't modified which themes are displayed (unless it's maybe related to search changes? But I don't think so...)

[2021-07-13 14:51] pablinos commented on #53916
Let's see if there's a filter we can use to adjust the redirect URL that Woo uses.

[2021-07-13 14:53] allilevine commented on #54040
We need to verify that this should be removed.

[2021-07-13 14:56] retrofox commented on #53922
I think this issue has been addressed, but let's check it. Relevant links

* https://github.com/Automattic/wp-calypso/issues/17686
* https://github.com/Automattic/wp-calypso/pull/52807
* https://github.com/Automattic/wp-calypso/pull/52246

[2021-07-13 15:02] aamills commented on #48746
This happened in 23696284-hc and caused a lot of confusion, both for the user and internally.

Site is now reverted and user is able to access the domain and DNS as they expected, but it was a process to get there.

[2021-07-13 15:28] onuro commented on #54246
Latest status in Figma with floating search and filter green-lighted by the team:

https://www.figma.com/file/QnkOH11BM3MoPFOFr2OTBC/Theme-Showcase-Revamp?node-id=641%3A9188

![image](https://user-images.githubusercontent.com/645713/125480024-86c35ee5-9245-4a47-a168-29530c09acd1.png)

[2021-07-13 17:15] michaeldcain commented on #54341
This is probably a lower priority, given that users don't generally interact with the term picker in Checkout. The best quick fix is probably to say "Save XX% over monthly" in the term picker discount messages. Bigger fixes (like pulling the overall discount to its own line item) would involve changing the way our shopping cart endpoint works.

[2021-07-13 17:17] JoshuaGoode opened #54520 "WordPress.com on Atomic: Expand blocked plugin installation prevention to plugin details iframe/page"
Users can install blocked plugins via the WP-Admin plugin details iframe/page

This is more of a low priority feature request to resolve inconsistent behavior than a full bug but filing as a bug.

---

On WordPress.com on Atomic, we [block certain plugins](https://wordpress.com/support/incompatible-plugins/) from being installed via `wpcomsh` and Calypso.

- wpcomsh: wpcomsh.php starting @ L128
-

[2021-07-13 17:36] allilevine opened #54521 "SEO Tools: Check if Jetpack module logic can be removed"
**Task Details**
In https://github.com/Automattic/wp-calypso/pull/50072 we added logic to check for the SEO Tools module, in order to support older Jetpack versions:
https://github.com/Automattic/wp-calypso/blob/76f8f99aae7d87710417fb7be45995eb3fb2fe0a/client/my-sites/site-settings/seo-settings/form.jsx#L481-L484

We should check that we're still supporting the Jetpack versions that require that l

[2021-07-13 17:44] sixhours commented on #54076
We're 2 hours from launch and nothing has exploded. Calling this closed. :)

[2021-07-13 17:44] #54076 closed, assigned to sixhours

[2021-07-13 17:44] sixhours commented on #54083
We're 2 hours post launch and nothing has exploded. Calling this closed. :)

[2021-07-13 17:44] #54083 closed, assigned to sixhours

[2021-07-13 17:53] JoshuaGoode commented on #52520
Adding to my notes above, I want to highlight how to fix this.

There are two options to resolve this when working with a user.

**1. The user should consider switching to Coming Soon mode or Public paired with a Coming Soon plugin. Private mode doesn't work well and deactivates many modules and features. For example, it deactivated VideoPress -- meaning all their video uploads will count against

[2021-07-13 19:36] andres-blanco commented on #54430
I can verify that the cog doesn't appear, that's a behaviour that seems desired since it's hidden on purpose. But I don't understand why.

I tried to get the `Save Draft` button from a new site and I wasn't able to reproduce it.

I will keep trying to find out why the cog is hidden for new sites.

[2021-07-13 19:48] worldomonation commented on #53486
See: #54448

[2021-07-13 19:50] obenland commented on #41706
Is this bug still something that occurs after Nav Unification?

/cc @tjcafferkey

[2021-07-13 19:51] worldomonation commented on #53514
Recently there was an issue where change to the Themes page was proposed, implemented and merged to `trunk`.
This change broke Playwright E2E tests, but this was not detected due to the simple fact that Playwright tests do not currently run for feature branches by default.

As briefly discussed in p1626193579185500-slack-C01QG4Y91RR it appears we are reaching a point where enabling Playwright test

[2021-07-13 20:19] kathrynwp commented on #53953
29164537-hc - Safari

[2021-07-13 20:25] #53557 closed, assigned to nobody

[2021-07-13 22:10] annacmc opened #54530 "Deleted site received '50 views' milestone notification"
### Steps to reproduce the behavior

- Delete blog, wait for it to be purged.
- HC-30023426 for reference

#### What I expected to happen

- Expect no further milestone notifications for this site once deleted.

#### What actually happened

- Blog is so far deleted enough as to being purged now. The user received a notification `Congratulations! Your site passed 50 all-time views.`

### Context

-

[2021-07-13 22:33] worldomonation opened #54531 "Playwright: set up Atomic test user account."
**Task Details**
Currently, atomic tests in `specs/specs-playwright` are using the `wooCommerceUser` in the secrets file.
This user was meant to be used for WooCommerce tests  (as the name would imply) and so is not suited for expanded Playwright E2E testing against atomic sites.

- [ ] set up an Atomic test user.
- [ ] check with relevant teams (systems?) to ensure account is exempt from A/B test

[2021-07-14 00:57] DanielSmithMichigan commented on #52562
This is the pull request I'm working out of: https://github.com/Automattic/themes/pull/4222

[2021-07-14 01:13] alaczek opened #54535 "Custom Fonts: Font-weight not applied correctly"
The Headings block has a font-weight setting, but it doesn't seem to be applied correctly.

### Steps to reproduce the behavior

1. Edit a post or a page. Add a Heading and a paragraph.
2. Go to Global Styles and select system font for the headings. Click Publish to save the new font pairing.
3. Click on the Heading block. In the block settings change the font weight to Light. Note that the select

[2021-07-14 01:40] donalirl commented on #54201
I encountered this issue myself and captured a short video below. In the video, I am clicking on the paragraph blocks with my mouse, and pressing keys on my keyboard but the typing does not appear.

The steps to reproduce are not clear. I was working on the page for maybe 40 minutes. I then stepped away for about 5 minutes, leaving the page open. When I returned, the issue appeared:

https://user-

[2021-07-14 05:23] alaczek commented on #54458
Yep, I can do both of those things, no engineering power needed :)

Most of them are added, they are sitting under the "About" category in Pattern inserter. We discussed it together a while back and we evaluated all the patterns and decided to leave out a couple (the colorful hamburger one was one of them). Shall I go back and add everything? Also, shall I move them to the "Link in Bio" category s

[2021-07-14 05:42] kosiew commented on #54530
Thanks @annacmc for reporting this.

Additional note:
Verified in BRC that blog was deleted more than 7 months ago.

[2021-07-14 05:44] inaikem commented on #54351
@apeatling would you be able to confirm if the above is a reoccurrence of #46890? Thanks! 🙏

[2021-07-14 05:51] kosiew commented on #54520
Thanks @JoshuaGoode for catching and reporting this.

Managed to replicate.

[2021-07-14 05:53] galakhyati commented on #53953
User is 4125863-zd-woothemes shared they are using Safari 14 and is on OS X 10.14.6

[2021-07-14 06:10] #53200 closed, assigned to nobody

[2021-07-14 06:11] inaikem commented on #54383
Seconded. I've had several interactions like this over the past few weeks. Users getting in touch asking when they will receive a refund after having assumed they've cancelled their lans, not just auto renewal.

I'm marking this as a ~~feature request~~ enhancement for now, as the behaviour appears intentional, and I'll raise a discussion around it ASAP.