[2022-09-21 20:41] #62383 closed, assigned to dpasque

[2022-09-21 20:44] worldomonation commented on #65409
@chriskmnds Checking in a few months later. According to p1662049928110199-slack-C03D472D64C, it appears that add-ons have been canned for now. In that case, I think it would make sense to close this task for now.

[2022-09-21 20:51] worldomonation commented on #66145
@john-legg I've assigned this to you as a potential task in the coming days/weeks.

As you're aware, we have a bunch of E2E specs that are in quarantine at the moment.
Some are in quarantine due to issues with interfacing with 3rd party services (eg. domains lookup) and others are due to flakiness. This spec falls under the latter - it was intermittently flaking out when the search query unexpecte

[2022-09-21 22:02] supernovia commented on #68026
Would we reconsider this? When working with users we tend to tell them things like "Look in the upper right for the question mark icon" and if that's just not predictable, it can frustrate HEs and users alike.

[2022-09-21 22:14] #67655 closed, assigned to JulianBustamante

[2022-09-21 22:17] paxblueribbon opened #68130 "Accordion Block Crash"
### Quick summary

When you click them in the editor they crash, without even the option to recover or switch to HTML.

### Steps to reproduce

1. Create a page on an atomic site
2. Add an accordion block (I used similar settings to the customer who first reported this, an image, header, and paragraph block in the first accordion item, then in the second accordion item a columns block with an imag

[2022-09-21 22:20] JulianBustamante commented on #67655
WC.COM PR deployed - 14399-gh-Automattic/woocommerce.com

[2022-09-21 22:22] JoshuaGoode commented on #68130
If this can be consistently reproduced on another site with other content, and we eliminate all WPCOM things, this might end up needing to be reported directly to CoBlocks. The accordion blocks this isn't a block WordPress.com provides -- it's an extra included in the full CoBlocks plugin which we don't support.

https://github.com/godaddy-wordpress/coblocks/issues

Or, https://wordpress.org/suppo

[2022-09-21 22:24] JulianBustamante opened #68131 "Marketplace: Modify products endpoint to update saas_landing_page"

[2022-09-21 22:24] JulianBustamante commented on #68131
PR created D88163-code

[2022-09-21 22:34] autumnfjeld commented on #67632
@bangank36  this issuse is still in the Ready for Dev column.  Can you move it to the appropriate column in our git board?

[2022-09-21 22:46] JoshuaGoode commented on #68130
It appears a contributor to the issue is the current symlinked Gutenberg version, 14.0.2. Not sure why.

Deactivating Gutenberg allows things to work as expected.

A potential workaround, albeit not great, would be to unsymlink Gutenberg via `wp wpcomsh plugin use-unmanaged gutenberg`

[2022-09-21 23:48] autumnfjeld commented on #66793
@bangank36 & @miksansegundo   Do we need to start doing some spot checking to see how patterns are showing up in translations?   Then we can better understand what the current state is.

Should we move this issue to Ready for Dev?

[2022-09-21 23:51] bangank36 commented on #66793
That's good idea, I can help checking the pattern's translation

[2022-09-21 23:56] autumnfjeld commented on #66793
Cool, please go ahead and move it into "In Progress".   You may want to start with some spot checking in different languages then report back to the team about how many problems you find (untranslated patterns).    Then we'll probably need to make some decisions on whether it is acceptable to ship without translations or do the work to get translation process started.   Naturally reach out for any

[2022-09-22 00:04] autumnfjeld commented on #67856
@Automattic/ganon  I think we can consider this issue resolved.

See slack convo: p1663336130002809/1663295644.661609-slack-CRNF6A9DX

We will accept @Addison-Stavlo 's #3 point:

[2022-09-22 00:13] autumnfjeld opened #68133 "🔍 [Spike] Pattern Assembler: Make a POC for blog patterns (aka query block patterns)"
# Description

An immediate iteration on the PA will be to
* Allow user to select blog patterns (aka query block patterns)
* Show the PA in the Write flow

| Blog | Query |
| -- | -- |
|  <img width="300" alt="image" src="https://user-images.githubusercontent.com/5665959/191632952-72ae1ff1-65ac-4e39-a656-942611ad0dc6.png">   | <img width="300" alt="image" src="https://user-images.githubusercontent

[2022-09-22 01:20] #67856 closed, assigned to nobody

[2022-09-22 01:23] #67780 closed, assigned to miksansegundo

[2022-09-22 01:52] miksansegundo commented on #67897
We have deployed the first iteration in https://github.com/Automattic/wp-calypso/pull/68028. I'll leave this issue open to address feedback from @SaxonF and continue adding more CSS transitions in follow-up PRs.

[2022-09-22 04:41] Greatdane commented on #67921
📌 ACTIONS
- Feature request kept

[2022-09-22 04:43] Greatdane commented on #67932
- Feature request kept

[2022-09-22 04:56] Greatdane commented on #67939
📌 ACTIONS
- Feature request kept

[2022-09-22 04:58] Greatdane commented on #67946
📌 FINDINGS/SCREENSHOTS/VIDEO
- I guess the 'sticky' request could be argued for many blocks, such as the header as well.

📌 ACTIONS
- Feature request kept

[2022-09-22 05:00] Greatdane commented on #68121
📌 FINDINGS/SCREENSHOTS/VIDEO
- Almost tempted to label this as a bug, as I am not sure this is intended behavior. I will let Quality Squad determine the best way forward on that!

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Feature request kept

[2022-09-22 05:06] Greatdane commented on #66602
Vivre also does not work (see https://github.com/Automattic/wp-calypso/issues/67905)

[2022-09-22 05:07] Greatdane commented on #67905
Closing in favour of https://github.com/Automattic/wp-calypso/issues/66602

[2022-09-22 05:13] #67905 closed, assigned to nobody

[2022-09-22 05:16] gavande1 commented on #67547
Diff separated for easy review- D88280-code

[2022-09-22 05:42] zyousafi commented on #68130
Tested this thoroughly on my WordPress.com site and my self-hosted WordPress.org site.  I can recreate the issue consistently, so it's not a WordPress.com-specific issue

[2022-09-22 05:42] Greatdane commented on #67943
📌 HOUSEKEEPING (To be removed once checked)

📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Not 100% sure if this is a bug or intended.
- Replicated on all environments;

![zHQLSS.png](https://user-images.githubusercontent.com/5075840/191666619-2fc06f9e-7c5b-41d1-a27b-e

[2022-09-22 05:44] zyousafi commented on #68130
While deactivating the Gutenberg plugin worked, this workaround did not.  The unsymlinked version of Gutenberg was still conflicting with the Accordion Block and it was throwing the same error as before

[2022-09-22 05:47] Greatdane commented on #68006
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - /No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Affects only simple sites.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-09-22 05:53] Greatdane commented on #67913
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- A8C theme, affects both simple and atomic.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to theme repo

[2022-09-22 07:34] pauljacobson commented on #67229
Hi @fullofcaffeine 👋

We received feedback from the user in 5566112-zen that the issue hasn't addressed historical content. They indicated that this may have resolved the issue for new content.

They have quite a lot of historical content, so manually restoring versions or copying and pasting doesn't seem to be a feasible solution for them. Do we have any other options?

[2022-09-22 07:41] cpapazoglou commented on #64849
Is this still relevant?

[2022-09-22 08:04] cpapazoglou opened #68137 "Add the ownership id in wpcom_purchases"
While `ownership_id` exists in our API https://developer.wordpress.com/wordpress-com-marketplace/vendor-apis/ it doesn't exist in the object that `get_option( 'wpcom_active_subscriptions', array() )['my-plugin-slug']` returns

[code]

Let's add the `ownership_id` here
fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Syvo%2Sngbzvp%2Sjbn.cuc%3Se%3Q5pon2728%231754-og

Related discussion pedbri-d-p2#comment-15

[2022-09-22 08:39] gcsecsey commented on #64849
Yes, this is about updating the set of fields returned from the API by default, so we wouldn't have to build the fields params in Calypso. I've updated the description to clarify this a bit.

[2022-09-22 08:39] mashikag opened #68140 "[Invite All] Track `wpcom_email_open` event for old invitation email templates"

[2022-09-22 08:40] ivan-ottinger commented on #68061
D88281-code is now merged and deployed to production.

[2022-09-22 08:40] #68061 closed, assigned to TimBroddin

[2022-09-22 08:41] mashikag commented on #68140
Resolved by D87917-code

[2022-09-22 08:43] cpapazoglou commented on #67932
Thanks for reporting. Did this confusion surface from a user report?

[2022-09-22 09:27] alshakero opened #68142 "Task: Fix the Help Center contact form CTA in minimized state"
### Details

See screenshot:

<img width="308" alt="image" src="https://user-images.githubusercontent.com/17054134/191710986-81965171-4180-4827-ade7-1822a45afed2.png">

### Checklist

_No response_

### Related

_No response_

[2022-09-22 09:29] alshakero opened #68143 "Task: Help Center - allow users to select their sites in the Help Center non-Atomic"
### Details

There is no blocker for listing the user's sites in Calypso and Editor/simple sites. Let's show the site list there. For Atomic, let's keep the "This site and Other Site" options.

### Checklist

_No response_

### Related

_No response_

[2022-09-22 09:29] cpapazoglou commented on #68137
POC diff D88283-code

[2022-09-22 09:30] alshakero opened #68144 "Task: Help Center forums - verify site ownership before submitting forum ticket"
### Details

See this comment for details: pdDR7T-87-p2#comment-164

### Checklist

_No response_

### Related

_No response_

[2022-09-22 09:33] alshakero opened #68145 "Task - Help Center - Investigate a unified solution for auto-tagging"
### Details

See this: p5gXjh-3Kt-p2#comment-10774
And this: pdDR7T-87-p2#comment-164

### Checklist

_No response_

### Related

_No response_

[2022-09-22 09:34] gavande1 opened #68146 "Marketplace: Surface Billing Plan information of SaaS product"
## Details

The SaaS product was created and purchased as part of #67547 and #67652 for the Marketplace SaaS licensing mechanism. After purchasing a SaaS product, the purchases products look like in a [slack convo](p1663764055520109-slack-C02JPCHEKDY). There are a few places where we need to display dynamic billing plan-related information.

In most of places, the billing plan ID is displayed inst

[2022-09-22 09:37] alshakero opened #68147 "Task: Consider showing the Help Center in My Home"
### Details

Currently, the help Center is hidden from My Home to avoid duplicating "Get Help" widget in the bottom of the page. This has some merit, but it's making the masterbar unreliable. The Help Center shows in many places except My Home. But it's pretty hard for the user to infer why.

I think a tiny 24x24 icon shouldn't interfere that much with "Get Help".

### Checklist

_No response_

##

[2022-09-22 09:39] gavande1 opened #68148 "Marketplace: Redirect user to redirect_url after purchasing SaaS product"
## details

The SaaS product purchase capabilities were added in #67547 and #67652. But the problem right now is users are not being directed to redirect URLs after purchasing SaaS products from calypso. We need to get the redirect URL from the associated billing intent.

[2022-09-22 09:44] gavande1 opened #68149 "Marketplace: Find a way to create Upgrade Path for the SaaS product subscription"
## Details

As part of SaaS product licensing, we need to allow vendors to create an Upgrade/Downgrade path for the users who already have active subscriptions. We also need to look into adjusting prices according to current usage and credit or charge upon downgrade or upgrade.

[2022-09-22 09:49] #67743 closed, assigned to JuanLucha

[2022-09-22 09:53] alshakero opened #68150 "Task: Help Center - fixes for users without any sites in forums channel"
### Details

All of these fixed are for the Forum channel. And for users without any sites.

- The “Select a Site” has a mysterious blank option
- The “other site” option seems to work if I have extra characters in that space, but not if I only enter a URL. (should trim before validation).

This comments has a useful video about these: pdDR7T-87-p2#comment-165

### Checklist

_No response_

### Re

[2022-09-22 10:02] alshakero commented on #68026
100%. I came to close the issue and fix the Help Center instead.

Closing as superseded by https://github.com/Automattic/wp-calypso/issues/68150.

[2022-09-22 10:02] #68026 closed, assigned to arcangelini

[2022-09-22 10:19] gavande1 opened #68152 "Marketplace: Send webhook to vendor about SaaS product purchase along with intent ID"
### Details

We need to send the billing intent ID in the webhook event like `subscription_created` when the purchase was initiated by the billing intent id. The SaaS products will always have an associated billing intent id.

[2022-09-22 10:30] bangank36 commented on #67631
Closed as Landed

[2022-09-22 10:30] #67631 closed, assigned to bangank36

[2022-09-22 10:31] bangank36 commented on #67632
Landed (2nd attempt)

[2022-09-22 10:31] #67632 closed, assigned to bangank36

[2022-09-22 11:14] #68142 closed, assigned to nobody

[2022-09-22 11:33] paulopmt1 commented on #67695
New copy to implement: HOg65lHD0QOfaq0QtzKQbC-fi-974%3A10060#269958720

[2022-09-22 12:07] cpapazoglou commented on #67652
This will be fixed as part of https://github.com/Automattic/wp-calypso/issues/67547

[2022-09-22 12:07] #67652 closed, assigned to cpapazoglou

[2022-09-22 12:38] david-binda commented on #59570
Thanks for the ping @jeyip ! I'm looking into the issue, feels like WordPress core bug related to a cache on a multisite install (thus affecting WPCOM simple sites only). I'll follow-up here once I have more details to share.

[2022-09-22 12:49] #67663 closed, assigned to epeicher

[2022-09-22 13:21] #67977 closed, assigned to paulopmt1

[2022-09-22 13:25] davemart-in commented on #66620
Merged into #66650 from #68103

[2022-09-22 13:25] #66620 closed, assigned to eoigal

[2022-09-22 14:32] daledupreez commented on #67907
There are a few things going on here.

The first issue is that the user is not being recognised as logged in, which is probably the biggest fundamental problem. It would be good to know whether the user has in fact been logged out everywhere, or whether they are not being recognised as logged in on the site. Due to increasing third party cookie restrictions, we're starting to see the "not-logged-i

[2022-09-22 15:08] #67933 closed, assigned to arcangelini

[2022-09-22 15:09] mreishus commented on #67562
I tried this approach: https://github.com/Automattic/wp-calypso/pull/68164
It seems to work, but I definitely want someone with experience in the onboarding and signup areas to review it.

[2022-09-22 15:31] edanzer commented on #68033
Resolved by https://github.com/Automattic/wp-calypso/pull/68055

[2022-09-22 15:31] #68033 closed, assigned to edanzer

[2022-09-22 16:02] edanzer opened #68165 "Task: Deprecate Stepper goBack and goNext methods"
### Details

This is a follow up to make changes recommended in an earlier pull request. See [this comment](https://github.com/Automattic/wp-calypso/pull/67835#discussion_r976962344) for reference.

We want to discourage use of navigation back and forth between stepper screens. The idea is that each stepper screen should be independent and progress should be forward. If it is necessary to return t

[2022-09-22 16:22] supernovia commented on #68143
On this one, if someone's on atomic or in an editor, I think it's probably OK to assume they're working on that site.

If they're in https://wordpress.com/me/account or something similar (where they don't have a /theirsite.wordpress.com in the address) it would be extra important to be able to choose a site. Thanks for the work on this!

[2022-09-22 16:31] carinapilar commented on #67932
It was not reported by a user, @cpapazoglou, I found it when working on my test site. 🙂

[2022-09-22 16:32] mikeicode commented on #66531
@Addison-Stavlo

Tested in Russell, Disco, Merkai (below), it's working now!

https://user-images.githubusercontent.com/10353785/191802322-6fa3eb2f-5720-4db3-8cce-21326b4b7951.mp4

_We really need hover color options but that's a different issue._

I'll close this. :)

[2022-09-22 16:32] #66531 closed, assigned to nobody

[2022-09-22 16:56] #67879 closed, assigned to wojtekn

[2022-09-22 16:58] #68038 closed, assigned to sharpirate

[2022-09-22 17:00] #67935 closed, assigned to alshakero

[2022-09-22 17:18] youbrokesomething commented on #37982
Messaging around downgrading was updated in 2020 and nothing further has been added to this issue since. I'm going to close this but it should be reopened if user reports come up again.

[2022-09-22 17:18] #37982 closed

[2022-09-22 17:29] youbrokesomething commented on #44781
It looks like the most recent attempt to fix this was from June of this year. We're waiting on an external repo update.

[2022-09-22 17:46] #68037 closed, assigned to jeyip

[2022-09-22 18:02] #68012 closed, assigned to arcangelini

[2022-09-22 18:16] #68150 closed, assigned to nobody

[2022-09-22 18:16] alshakero commented on #68144
Closing as fixed in https://github.com/Automattic/wp-calypso/pull/68166

[2022-09-22 18:16] #68144 closed, assigned to nobody

[2022-09-22 18:16] alshakero commented on #68100
Closing as fixed in https://github.com/Automattic/wp-calypso/pull/68166.

[2022-09-22 18:16] #68100 closed, assigned to nobody

[2022-09-22 18:35] daledupreez commented on #57170
I am not able to reproduce this on my test site, where I tested with multiple themes listed above, including setting up widgets with the Block Editor disabled for widgets, and then enabling the Block Editor for widgets (I used this full flow for three of the themes).

I did trip over a case with Outspoken where the widget preview was only 8px tall, but in no case did I end up with any inactive wid

[2022-09-22 19:38] youbrokesomething commented on #44933
@simison This issue got abandoned when the project board it was on was made inactive. Is it still needed?

[2022-09-22 19:50] youbrokesomething commented on #46127
Hi, @allilevine I'm reviewing issues that haven't been updated in a long time and came across this. I can't reproduce the original error anymore on local in chrome. I'm going to close this but please reopen it if you're still able to reproduce the issue.

[2022-09-22 19:50] #46127 closed

[2022-09-22 19:56] #44933 closed

[2022-09-22 20:02] youbrokesomething commented on #47760
The focused launch is no longer active and has been replaced by other initiatives. I'm going to close this issue.

[2022-09-22 20:02] #47760 closed, assigned to nobody

[2022-09-22 20:03] youbrokesomething commented on #47162
The focused launch is no longer active and has been replaced by other initiatives. I'm going to close this issue.

[2022-09-22 20:03] #47162 closed

[2022-09-22 20:03] youbrokesomething commented on #47741
The focused launch is no longer active and has been replaced by other initiatives. I'm going to close this issue.

[2022-09-22 20:03] #47741 closed, assigned to nobody

[2022-09-22 20:12] danielbachhuber opened #68173 "Sites Management Page: New default sort orders, always show hidden sites"
Now that we have 'Magic' sorting (#68041) and pagination for large lists (#67690), let's remove the concept of 'Hidden' sites from the Sites Management Page (and change the default sort order too).

From conversation in p1663790982512219-slack-C0347E545HR

**Done is:**
* If a user has six sites or less, the Sites Management Page defaults to grid + alphabetical sort.
* If a user has greater than si

[2022-09-22 20:15] youbrokesomething commented on #47899
The focused launch is inactive and has been replaced by other initiatives. I'm closing this issue.

[2022-09-22 20:15] #47899 closed, assigned to nobody

[2022-09-22 20:19] danielbachhuber commented on #67581
Great! I've updated the issue description accordingly.

[2022-09-22 21:43] youbrokesomething commented on #48251
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:43] #48251 closed, assigned to nobody

[2022-09-22 21:45] youbrokesomething commented on #48252
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:45] #48252 closed, assigned to nobody

[2022-09-22 21:45] youbrokesomething commented on #48264
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:45] #48264 closed, assigned to nobody

[2022-09-22 21:46] #48568 closed, assigned to nobody

[2022-09-22 21:46] youbrokesomething commented on #48263
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:46] #48263 closed, assigned to nobody

[2022-09-22 21:47] youbrokesomething commented on #48259
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:47] #48259 closed, assigned to nobody

[2022-09-22 21:47] youbrokesomething commented on #48258
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:47] #48258 closed, assigned to nobody

[2022-09-22 21:47] youbrokesomething commented on #48256
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:47] #48256 closed, assigned to nobody

[2022-09-22 21:48] youbrokesomething commented on #48928
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:48] #48928 closed, assigned to nobody

[2022-09-22 21:49] youbrokesomething commented on #50351
Focused Launch is no longer active and has been replaced by other projects. I'm closing this issue.

[2022-09-22 21:49] #50351 closed, assigned to nobody

[2022-09-22 21:50] youbrokesomething commented on #49468
This onboarding flow has been replaced by other new flows. Closing this ticket.

[2022-09-22 21:50] #49468 closed, assigned to nobody

[2022-09-22 21:51] youbrokesomething commented on #48342
This onboarding flow has been replaced by other new flows. Closing this ticket.

[2022-09-22 21:51] #48342 closed, assigned to nobody

[2022-09-22 21:52] youbrokesomething commented on #50719
This onboarding flow has been replaced by other new flows. Closing this ticket.

[2022-09-22 21:52] #50719 closed, assigned to nobody

[2022-09-22 22:01] youbrokesomething commented on #52626
While Radcliffe 2 hasn't been retired, a few other themes were retired after this ticket was opened. I'm going to close this for now.

[2022-09-22 22:01] #52626 closed, assigned to nobody

[2022-09-22 22:08] hngdny commented on #65419
Another report here 37050063-hc

[2022-09-22 22:33] jamiepalatnik commented on #65419
Adding that the user from this comment requested a follow-up if there is a resolution, so I created a follow-up ticket: 5578503-zd-woothemes

[2022-09-23 00:01] alaczek commented on #66789
I move the patterns from Layouts 1-3 from `patternboilerplates` to `dotcompatterns`:

**Layout 1:**
* https://dotcompatterns.wordpress.com/?p=7132
* https://dotcompatterns.wordpress.com/?p=7135
* https://dotcompatterns.wordpress.com/?p=7138
* https://dotcompatterns.wordpress.com/?p=5634

**Layout 2**
* https://dotcompatterns.wordpress.com/?p=7140
* https://dotcompatterns.wordpress.com/?p=7143
* ht

[2022-09-23 02:15] autumnfjeld opened #68176 "Document Link-in-Bio patterns and how they work in onboarding"
# Description

Link-in-bio patterns have their own unique behavior in onboarding, headstart, and other things.   @alaczek and @arthur791004 and @alshakero please work together to create a Field Guide page that documents all the things you know.   So that next time someone asks (p1663898780391079-slack-CRWCHQGUB) how to update patterns we can provide them with a FG link.

From Ola: I have three que

[2022-09-23 02:36] jamiepalatnik commented on #67907
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to recreate this behavior, but as discussed above it seems to be that the settings are working as expected.
- On the test site in question, the setting "Users must be registered and logged in to comment" is disabled, but the setting "Comment author must fill out name and email" is enabled. When I used a

[2022-09-23 02:36] #67907 closed, assigned to nobody

[2022-09-23 02:44] jamiepalatnik commented on #67957
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could not replicate this in any of my tests. The List block seems to be working as expected.

📌 ACTIONS
- Closed as could not replicate (please reopen if the issue reoccurs)

📌 Message to Author

[2022-09-23 02:44] #67957 closed, assigned to nobody

[2022-09-23 03:02] jamiepalatnik commented on #68000
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this, but it looks like there is an existing issue with other user reports: https://github.com/Automattic/wp-calypso/issues/53248
- This seems to be related as well: https://github.com/Automattic/jet

[2022-09-23 03:02] #68000 closed, assigned to nobody

[2022-09-23 03:28] jamiepalatnik commented on #68031
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was not able to replicate this on any of my test sites.
- I tested sharing a post to Facebook by using Publicize and by pasting a link from my test site in a new Facebook post.
- I was able to re

[2022-09-23 04:01] jordesign commented on #68147
My 2c is that having consistency in the masterbar is far more important than being worried about doubling up on ways for users to be helped.

[2022-09-23 04:13] jamiepalatnik commented on #68098
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this behavior, but from what I understand the Audio block uses the HTML <audio> tag and implementation may vary depending on the browser.
- Since this happens in the Audio block on self-hosted sites too, I t

[2022-09-23 04:13] #68098 closed, assigned to nobody

[2022-09-23 06:06] miksansegundo opened #68182 "Pattern Assembler - Scroll to a specific section in the preview"
We want to scroll to a specific section in the preview when it is chosen.

We have done that for the footer in https://github.com/Automattic/wp-calypso/pull/68141 using the CSS selector `footer`, we could have used `.site-footer-container` instead because all the footers have that class, and we only allow adding one footer in the PA.

However, the sections don't have a specific class or ID to sele

[2022-09-23 06:14] manzoorwanijk commented on #67467
I think `mini-css-extract-plugin` webpack plugin does not work well without quotes for URLs. See this [build failure](https://github.com/Automattic/wp-calypso/actions/runs/3110661070/jobs/5042119531) for #68181

May be we need to change `function-url-quotes` rule to `always`. Although Gutenberg sets it to `never` but I hardly found a few calls to `url()` function in Gutenberg, unlike Calypso where

[2022-09-23 06:18] autumnfjeld opened #68183 "Surface themes with style selection towards top of theme grid"
# Description
This  can be done post-launch.  Not a blocker for launch.
See pdtkmj-Ad-p2

We'd like to ensure we surface themes that offer style selection in a more prominent position in the DP.    They can be mixed in or weighted.

One idea: say we have 8  style-themes.  We make sure these 8 are in the top 12 of themes shown.

Also ok to go the easy route and just show them as the first 8.

# Dev

[2022-09-23 08:11] alshakero opened #68188 "Task: Tailored flows - LiB pattern picker has the images stretched in Safari"
### Details

Details here: p1663894598612959-slack-C03E1LGV796

Might be worth to clean up [this PR](https://github.com/Automattic/wp-calypso/pull/67870) and merge it.

### Checklist

_No response_

### Related

_No response_

[2022-09-23 08:42] gcsecsey commented on #68084
While working on #63167 I've investigated the original sorting logic on WP.org. When there's no query is provided, it seems that the sorting is defaulted to the date field:

https://github.com/WordPress/wordpress.org/blob/3818ab62c4d64540294f4a332c4980fcdb4bd911/wordpress.org/public_html/wp-content/plugins/plugin-directory/libs/site-search/jetpack-search.php#L955-L961

[2022-09-23 09:29] vindl opened #68192 "SSH: list feature in the logged-in plans page"
We've recently added SSH and WP CLI to the plans features list for logged-out pages like [wordpress.com/pricing](wordpress.com/pricing) and [wordpress.com/plans](wordpress.com/plans).

![Screenshot_2022-09-20_at_12 57 38_PM](https://user-images.githubusercontent.com/1182160/191930610-16c4e325-e5ab-4762-bb52-249334317a04.png)

However, they are still not shown on the [wordpress.com/plans](wordpress

[2022-09-23 09:29] vindl opened #68193 "SSH: list feature in the signup"
We've recently added SSH and WP CLI to the plans features list for logged-out pages like [wordpress.com/pricing](wordpress.com/pricing) and [wordpress.com/plans](wordpress.com/plans).

![Screenshot_2022-09-20_at_12 57 38_PM](https://user-images.githubusercontent.com/1182160/191930610-16c4e325-e5ab-4762-bb52-249334317a04.png)

However, they are still not shown on the plans comparison page during si

[2022-09-23 09:30] vindl commented on #68192
Hold for onboarding.

[2022-09-23 09:30] vindl commented on #68193
Hold for onboarding.

[2022-09-23 11:10] wojtekn commented on #64844
Hold for onboarding.

[2022-09-23 11:50] ivan-ottinger commented on #67605
All translations are ready now.

[2022-09-23 11:50] #67605 closed, assigned to ivan-ottinger

[2022-09-23 11:50] ivan-ottinger commented on #67604
All translations are ready now.

[2022-09-23 11:50] #67604 closed, assigned to ivan-ottinger

[2022-09-23 11:59] danielbachhuber opened #68201 "WPCOM SSH: Allow a user to upload a SSH key to their account"
Once the REST API endpoint is complete (967-gh-Automattic/dotcom-forge), let's add some UI to allow a user to upload a SSH key to their account.

**These are quick and dirty mockups.** Feel free to improve upon them during implementation.

On `/me/security`, the SSH Key feature is added to the list of authentication mechanisms:

![image](https://user-images.githubusercontent.com/36432/191953843-92

[2022-09-23 12:08] danielbachhuber opened #68204 "WPCOM SSH: Allow a user to attach their SSH key to a site"
Once the REST API endpoint is complete (969-gh-Automattic/dotcom-forge) and a user can add a SSH key to their account (#68201), let's add some UI to allow a user to attach their SSH key to a site.

**These are quick and dirty mockups.** Feel free to improve upon them during implementation.

When the user doesn’t have a SSH key and no SSH keys are attached to the site, here’s how the UI would appea

[2022-09-23 14:34] Addison-Stavlo opened #68206 "LaunchPad - checklist items not in tab navigation on firefox/safari"
Using tab navigation in the launchpad should allow us to select and use checklist items. Currently, this seems to work as expected in Chrome but does not in Firefox or Safari.

Expected behavior (Chrome) - checklist items in keyboard nav:
![tab-works](https://user-images.githubusercontent.com/28742426/191985117-ec8ceaa9-b628-44a9-b21c-0169fda2f5d3.gif)

Unexpected behavior on Firefox/Safari - chec

[2022-09-23 14:40] alshakero opened #68207 "Task: Newsletter flow - input fields labels and “add site color” should have the color gray-100"
### Details

Context here: pbAok1-3fI-p2

### Checklist

_No response_

### Related

_No response_

[2022-09-23 14:42] alshakero opened #68208 "Task: Tailored Flows - input fields should have equal spacing"
### Details

In both LiB and NL. Context: pbAok1-3fI-p2

### Checklist

_No response_

### Related

_No response_

[2022-09-23 14:43] alshakero opened #68210 "Task: Tailored Flows - CTA should be the same height as input fields"
### Details

In LiB and NL.

### Context
pbAok1-3fI-p2
### Related

_No response_

[2022-09-23 14:46] alshakero opened #68211 "Task: NL flow - color swatch should have the right cursor and be clickable"
### Details

pbAok1-3fI-p2

### Checklist

_No response_

### Related

_No response_

[2022-09-23 14:49] alshakero opened #68212 "Task: NL - Add transition to the color legibility message; right now is very jumpy"
### Details

Context: pbAok1-3fI-p2

Something like opacity and `scaleY`/`height` would do.

### Checklist

_No response_

### Related

_No response_

[2022-09-23 14:50] alshakero opened #68213 "Task: NL - Jetpack logo should be stuck to the bottom (not floating)"
### Details

pbAok1-3fI-p2

### Checklist

_No response_

### Related

_No response_

[2022-09-23 14:52] Addison-Stavlo opened #68214 "LaunchPad - Domain text highlights full height on chrome."
For the domains section of the launchpad, selecting the domain to copy should highlight the height of the text, not the height of the domains section. This works as expected in firefox, but not in Chrome:

Expected (Firefox):
![image](https://user-images.githubusercontent.com/28742426/191989280-07abf615-ca65-44e7-8a35-e4864f9ebd9b.png)

Unexpected (Chrome):
![image](https://user-images.githubuserc

[2022-09-23 14:52] alshakero opened #68215 "Task: Tailored flows - move highlighted features in plans grid to the top"
### Details

pbAok1-3fI-p2

### Checklist

_No response_

### Related

_No response_

[2022-09-23 14:54] alshakero opened #68216 "Task: NL - Plans gird improvements"
### Details

pbAok1-3fI-p2

### Checklist

- [ ] Remove: Import subscribers (we don’t offer this yet)
- [ ] Remove Google analytics point
- [ ] Remove unlimited themes (not relevant for the newsletter)

### Related

_No response_

[2022-09-23 15:01] epeicher commented on #65235
After some investigation, I have found that the **Cancellation flow** is followed when:
- Purchase was done with money and it was done less than 14 days ago. That means that the money will be refunded and the plan will be **cancelled immediately**

The logic can be found:
- [This](https://github.com/Automattic/wp-calypso/blob/bc7edc479c218d4a798eb86e0d9cff46c9908291/client/me/purchases/manage-purc

[2022-09-23 15:47] gcsecsey opened #68218 "Marketplace search: Add number of installs to WooCommerce products"
In #63903 we've synced the existing WooCommerce fields to the `jetpack-search` ES index. We have a set of fields required to be able to show search results in Calypso, these are tracked in this table: pdh6GB-Mm-p2#comment-1632

Currently, only the lack of `active_installs` field or similar is missing. We should investigate how we could estimate and assign the number of installations to all existin

[2022-09-23 15:55] gcsecsey opened #68219 "Marketplace search: index WC.com product fields to the same schema as WP.org"
In https://github.com/Automattic/wp-calypso/issues/63903 we've synced the existing WooCommerce fields to the jetpack-search ES index. To proceed with fetching search results from both WP.org and WC.com with a single request, we'll need to map the newly synced fields to the same `plugin.*` schema as we did with WP.org plugins in D81205-code.

We're still missing one WC.com specific field, `active_i

[2022-09-23 16:02] #65347 closed, assigned to gavande1

[2022-09-23 16:02] #65683 closed, assigned to JulianBustamante

[2022-09-23 16:05] gcsecsey opened #68220 "Marketplace search: refactor `TextHighlight` component to work for separate words"
In https://github.com/Automattic/wp-calypso/pull/66176 we've been discussing with @epeicher multiple possible solutions, but ultimately decided to merge the solution in the PR, and iterate it if needed.

The solution in the PR uses a the `TextHighlight` component from gutenberg: https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/text-highlight/index.tsx

This component uses

[2022-09-23 16:06] cpapazoglou commented on #65235
Yes, and we should also cover the case that the plan was purchased more than 14 days ago and as such you won't get a refund and the plan will expire when the subscription expires.

[2022-09-23 16:16] paulopmt1 opened #68221 "Remove eligibility warnings and modal from CTAButton component"
## The problem
Currently, the [CTAButton component](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugin-details-CTA/CTA-button.jsx) is doing too much, which makes it harder for us to reuse its code.

## Proposed solution

- Extract eligibility warnings from the CTAButton component
- Reuse eligibility warnings at [plans page](https://github.com/Automattic/wp-calypso/b

[2022-09-23 16:20] simison commented on #67929
:wave: Did this get sorted already?

[2022-09-23 16:44] nuriapenya opened #68223 "Design Board - Test Issue"
Hello @saygunnyc and @lucasmendes-design ! This is a test to see if GitHub Projects/Boards would be a good place for us to track design topics :) I will be doing some experimentation.

[2022-09-23 16:49] nuriapenya commented on #68223
I created a new label named Create Design.

[2022-09-23 16:55] nuriapenya opened #68224 "Launchpad: Copy clipboard in the domain field"

[2022-09-23 17:04] nuriapenya commented on #68224
@saygunnyc I assigned the ticket to you for revision (you can ignore it also, just testing) 😉

[2022-09-23 17:17] emilyaudela opened #68225 "Pro plan is still mentioned in the com-vs-org landing page"
### Quick summary

On the https://wordpress.com/com-vs-org/ landing page, there is still a mention of the Pro plan which has been deprecated for over a month. This needs to be updated to say Business and eCommerce plan.

### Steps to reproduce

1. Start at https://wordpress.com/com-vs-org/
2. Scroll down to the plan comparison section of the page.
3. The third item under WordPress.com says `Choose

[2022-09-23 17:19] youbrokesomething commented on #51290
Confirmed this issue was fixed.

[2022-09-23 17:19] #51290 closed, assigned to blackjackkent

[2022-09-23 17:23] youbrokesomething commented on #51322
I can't reproduce this issue at this time. Please reopen if needed.

[2022-09-23 17:23] #51322 closed, assigned to nobody

[2022-09-23 17:31] youbrokesomething commented on #52724
@ianstewart I'm cleaning up old GitHub issues with the bug label. I'm going to close this as it seems like the spike was completed. Please reopen it if it's still needed!

[2022-09-23 17:31] #52724 closed, assigned to blackjackkent

[2022-09-23 17:33] obenland commented on #67715
See p1663948743130249-slack-C029JEQRVRT for discussion on reusing `subscription_created`

[2022-09-23 17:34] youbrokesomething commented on #52844
I'm closing this issue as I'm not able to reproduce it at this time. I tested with several non-FSE themes and got the homepage content selector from live demo.

[2022-09-23 17:34] #52844 closed, assigned to nobody

[2022-09-23 17:41] youbrokesomething commented on #53805
I'm going to close this as not reproducible. Please reopen if there are any new user reports of this issue.

[2022-09-23 17:41] #53805 closed, assigned to mpkelly

[2022-09-23 17:53] youbrokesomething commented on #54630
I'm not able to reproduce this issue currently. Please reopen it if it becomes reproducible again.

[2022-09-23 17:53] #54630 closed, assigned to nobody

[2022-09-23 18:37] WBerredo opened #68227 "Plugin Details: Fix sidebar margin and padding"
- [ ] Reproduce the bug mentioned on convo: p1662506790771779-slack-C029JEQRVRT
- [ ] Fix the issue

---
| Original  | Mentioned Bug |
| ------------- | ------------- |
|<img width="342" alt="Screen Shot 2022-09-26 at 08 54 38" src="https://user-images.githubusercontent.com/5039531/192294718-c2dec26c-acb7-43ca-b9a5-cbe7af99c83e.png">|<img width="398" alt="image (1)" src="https://user-images.github

[2022-09-23 20:39] villanovachile opened #68229 "Feature Request: Prevent images from displaying in post notifications when full text is enabled"
### What

I am submitting this on behalf of a user based on their feedback

Related to: https://github.com/Automattic/wp-calypso/issues/63604#issuecomment-1155084850

We've gotten feedback from a user that having images shown in post notifications specifically when Full Text is enabled isn't a good experience as it decreases CTR and traffic, as subscribers don't have any reason to check the post.

[2022-09-23 22:14] jeyip commented on #68206
See p1663943878098109-slack-CHN6J22MP for context

For FireFox, it appears as if users need to enable certain operating system / browser settings to keyboard navigate to and from links. See [this stackoverflow answer](https://stackoverflow.com/questions/11704828/how-to-allow-keyboard-focus-of-links-in-firefox) for more context.

`In Firefox, type "about:config" in the URL bar. There is no accessib

[2022-09-23 22:18] jeyip commented on #68206
For Safari, besides needing to press the tab key a large number of times before seeing any visible page interaction, the focus task focus appears to work as expected for me 🤔

![2022-09-23 15 16 52](https://user-images.githubusercontent.com/5414230/192063972-76e577bb-fd0b-4612-a1b5-1995e2c1320f.gif)

[2022-09-23 22:41] #68036 closed, assigned to jeyip

[2022-09-23 23:00] christianguerrag commented on #62990
Another report of this happening in 5580972-zen

[2022-09-24 03:00] supernovia opened #68230 "Video block: Get video thumbnail for featured image"
### What

If a post contains a video, and does not have a featured image set, could we use that video's thumbnail as the featured image?

### Why

Currently if a user wants to add the video thumbnail as a featured image, they have to get their own screenshot or download the image somehow, whereas other social media platforms show the image nicely.

This is a request through a support interaction:

[2022-09-24 05:15] Robertght commented on #65419
5579740-zen

[2022-09-24 06:42] anuguywp opened #68231 "Share to Twitter failing on following site: shalomsnail.wordpress.com"
### Quick summary

Publicize to Twitter account is failing.

### Steps to reproduce

1. Blog [shalomsnail.wordpress.com](https://href.li/?http://shalomsnail.com/)
2. When posting, a new post nothing posts to Twitter.

### What you expected to happen

- Automatically shares new published post to Twitter

### What actually happened

- Post does not get shared to Twitter.

### Context

### What's bee

[2022-09-24 08:45] syhussaini commented on #52100
Another instance here: 5577835-zd

[2022-09-24 11:34] syhussaini opened #68232 "Option to show Shortlink on the post/page"
### What

I would like to have an option to show the shortlink itself or a button on the post/page to allow visitors to the site to copy the shortlink.

### Why

This will help the site owners to maintain the sanity of the links while allowing users to copy the slimmed links.

### How

I am not sure how, but I guess we can use the same section that displays the shortlink in the post editor and dis

[2022-09-24 11:34] syhussaini commented on #68232
5581505-zd

[2022-09-24 14:16] bangank36 commented on #68182
:+1:  for this, we can target section using their index

[2022-09-24 15:04] syedshaon commented on #59570
5581931-zen

[2022-09-24 16:03] NoHopeRadio commented on #44263
Adding another name to the petition:

8172274-hc

[2022-09-25 04:59] solstudioim commented on #60661
I am wondering if this is not implemented yet @cpapazoglou

Got another confused WPCOM Business Plan user, who saw their monthly extension invalid notice: ![A3rQDr.png](https://user-images.githubusercontent.com/17371139/192129074-63e22af2-707e-4c96-915b-dd4ad37f8b2f.png)

Ticket 5582567-zd-woothemes

[2022-09-25 06:46] inaikem opened #68233 "Theme: Illustratr image blocks without space"
### Quick summary

Image block top/bottom margins have disappeared:

![lpo5WB.png](https://user-images.githubusercontent.com/66711744/192131611-bc370354-b35e-41cd-90cb-b2d480e6d2c5.png)

### Steps to reproduce

1. Have a theme _other than_ Illustratr installed and active.
2. Have 2 or more Image Blocks in a post appearing one after the other with no spacers/breaksin between.
3. Preview/view the po

[2022-09-25 13:39] ClassicRKR27 commented on #55472
- [ ] I actually have what I believe is another instance of this here: 5578307-zd-woothemes

[2022-09-25 17:08] chriskmnds commented on #65409
Hey @worldomonation ! I gather add-ons are no longer part of Signup. I am not sure if we should close this issue as we still have add-ons in Calypso that may need the addition of tests (whatever form, we'd probably need to revisit and decide). I guess you can remove the task from the board concerning adding Signup E2E tests though (what you are referring to?). Can you please maybe confirm the stat

[2022-09-25 19:02] NoHopeRadio opened #68242 "Premium Themes: Preview with Free Plans"
### What

Theme previews sort of went out with FSE, but users on a free or personal plan who might be looking for a premium theme may want to check and see how their content would look, beyond looking at the demo.

### Why

If there is a market for purchasing premium themes individually, this might help those users make a more informed decision.

I have heard that Squarespace and Wix allow for pre

[2022-09-25 20:40] csabarakasz commented on #67957
It seems like it was caused by an extension on my Firefox. I deactivated all of them and the issue went away

[2022-09-26 00:35] lsl commented on #68115
[Potential fix?](https://github.com/Automattic/wp-calypso/pull/67989#issuecomment-1253711522)

[2022-09-26 00:45] lsl commented on #65574
Auto closed, there is still some more to do in https://github.com/Automattic/wp-calypso/pull/67781#issuecomment-1250436102

[2022-09-26 01:05] lsl commented on #67695
Planning post here pdh6GB-25m-p2 - domain eligibility was in the backlog but not a focus. Moving to slack.

[2022-09-26 02:11] rickmgithub opened #68243 "Hemmingway Re-written image block spacing"
### Quick summary

In the editor if I add two image blocks with no other content in between there is no gap between them.

### Steps to reproduce

1. Creat a page/post
2. Add an image
3. Add another image
4. In the editor there is a gap between them.
<img width="1060" alt="Markup 2022-09-26 at 12 00 56" src="https://user-images.githubusercontent.com/13706336/192180092-6fea613d-dfe1-4b3f-9996-a5683

[2022-09-26 02:33] fushar opened #68244 "Clean up: setup flow related feature flag and its code"

[2022-09-26 02:57] arinoch opened #68245 "Simple sites unable to send pingbacks"
### Quick summary

Sending a pingback between simple sites is not received by the target site.

### Steps to reproduce

1. Create or open two sites, both simple (plan doesn't matter).
2. Configure both sites to send and receive pingback notifications.
3. On site 1, write a dummy test post - this will be your target.
4. On site 2, write a dummy test post that links back to the post you wrote on sit

[2022-09-26 04:07] autumnfjeld commented on #68244
Is this still "In Progress"?

[2022-09-26 04:09] fushar commented on #68244
cc: @arthur791004 as the original creator of this issue

Could you check the linked PRs and see if there's anything else in your mind about the cleanup?

[2022-09-26 04:14] lsl opened #68246 "Marketplace Dialog: Add close button"
Add the dismiss button to the Dialog component being [used in CTAButton](https://github.com/Automattic/wp-calypso/blob/9c96583256cea71d11ec48cf2674e8b100ffde60/client/my-sites/plugins/plugin-details-CTA/CTA-button.jsx#L127).

- [ ] The dismiss button section should take up 100% width and if shown, push any other content down as required (see design)
- [ ] The dismiss button should close the Dialog

[2022-09-26 04:19] miksansegundo commented on #68182
Preview the preview is reloaded every time a section is added/sorted/replaced; we could track that change using the section ID to trigger the scroll when the preview loads.

I think the scrolling feature added in D88290-code can be reused passing a selector like `.entry-content > .wp-block-group:nth-child( [position] )`.

We must first confirm that the class `.wp-block-group` exists for all sectio

[2022-09-26 04:22] fushar commented on #68182
I have a hunch that it is not present if the pattern only consists of a single block, can we try to investigate this?

[2022-09-26 04:26] autumnfjeld commented on #66796
FYI:  https://github.com/Automattic/tracks-events-registration/issues/1085

[2022-09-26 04:32] miksansegundo commented on #66789
@autumnfjeld @alaczek the patterns have been added 🎉
Do you want to build a layout in PA to review them before we close this issue? We could change their order or adjust the names if required.

[2022-09-26 04:48] lsl opened #68247 "Marketplace Install Dialog: Add title and primary message"
Add optional title and primary message props to [`EligibilityWarnings`](https://github.com/Automattic/wp-calypso/blob/b71259e620d56a5482a9fee47d47ac17103cd161/client/blocks/eligibility-warnings/index.tsx#L41), then make use of them in [`CTAButton`.](https://github.com/Automattic/wp-calypso/blob/9c96583256cea71d11ec48cf2674e8b100ffde60/client/my-sites/plugins/plugin-details-CTA/CTA-button.jsx#L127)

[2022-09-26 04:55] lsl opened #68248 "Marketplace Install Dialog: right align action buttons"
Add an `isModal` prop to the [`EligibilityWarnings`](https://github.com/Automattic/wp-calypso/blob/b71259e620d56a5482a9fee47d47ac17103cd161/client/blocks/eligibility-warnings/index.tsx#L41) component.

- [ ] When `isModal` is set, the buttons shown should be right aligned like in our other modals.
- [ ] When `isModal` is set, the buttons area should include a full width top border

Figma: eqlepL7M

[2022-09-26 04:58] SaxonF commented on #68018
QeephiOEw5Ym0kj1jfVCqn-fi-1086%3A50193

![image](https://user-images.githubusercontent.com/1072756/192196574-b2ba0fe3-49a7-40bc-852f-1f4e60ba38e2.png)
![image](https://user-images.githubusercontent.com/1072756/192196580-176bc772-1fe9-4b2f-a26e-bdd161c4f108.png)
![image](https://user-images.githubusercontent.com/1072756/192196596-e47d6083-1cc3-43e3-a6e9-11bc0943d621.png)

@danielbachhuber @vindl th

[2022-09-26 05:02] lsl opened #68249 "Marketplace Install Dialog: Move contact support link location"
Move the contact support link to the button action area per design update.

Be aware this change will effect other pages like the /themes/upload page when using a business plan on a simple site seen here: pdh6GB-26h-p2#comment-2967

- [ ] Move the contact support link to the buttons action area
- [ ] Right aligned by default
- [ ] Left aligned when [isModal](https://github.com/Automattic/wp-calyps

[2022-09-26 05:12] inaikem commented on #68233
Closing in favour of: https://github.com/Automattic/themes/issues/6611

[2022-09-26 05:12] #68233 closed, assigned to nobody

[2022-09-26 05:14] lsl opened #68250 "Marketplace Install Dialog: Update warnings design and layout"
Investigate or update the design of `EligibilityWarnings`'s [warnings, holds, and eligibility checks](https://github.com/Automattic/wp-calypso/blob/b71259e620d56a5482a9fee47d47ac17103cd161/client/blocks/eligibility-warnings/index.tsx#L127-L151) shown in the modal dialog.

We have a proof of concept here https://github.com/Automattic/wp-calypso/pull/68048 but we need the ensure the design updates e

[2022-09-26 05:16] lsl commented on #68250
@vinimotaa could use your input on this, what would you like to do for the e.g. /theme/upload page situation? Just use the same design? Do you need to see it or are you able to check how this will look with figma?

Note we're only concerned about the warnings and hold sections here. We've got isModal checks for every other change but I don't think that approach will be appropriate here (too much c

[2022-09-26 05:17] arthur791004 commented on #68244
Thanks for working on this issue sooooo quickly!

I thought we could also remove the following flags
* signup/design-picker-use-featured-picks-buttons
* signup/ftm-flow-non-en
* signup/starting-point-courses
* signup/site-vertical-step
* signup/hero-flow-non-en

Besides, these flags are enabled for a long time, we might probably consider removing them as well
* signup/design-picker-premium-themes-

[2022-09-26 05:23] SaxonF commented on #68020
@vindl do we have access to Launchpad data? This should be driven by the task list there but maybe as a first pass we can just link off to the Launchpad if one exists?

[2022-09-26 05:24] lsl commented on #68250
Also for clarity, this component shows three different concepts:

- Warnings e.g. domain change to wpcomstaging
- Elgibility checks e.g. business plan upgrade, increasing storage space
- - Holds e.g. ssl cert error, transfer in progress

In this new design we're showing holds as if they warnings but with a disabled button and a non greyed out window.

Previously this was shown like this:
![Screens

[2022-09-26 05:27] lsl commented on #67695
Broke this down into separate issues see [sprint 31](https://github.com/orgs/Automattic/projects/290/views/20?filterQuery=team%3AExplorers+sprint%3A%22Sprint+31%22).

[2022-09-26 05:27] #67695 closed, assigned to paulopmt1

[2022-09-26 05:28] mpkelly opened #68251 "[Bug]: The "Add new site" button is not always visible"
### Quick summary

When the Site Picker is shown in the SideBar, sometimes the "Add new site" button is not visible. It's visible on load, but it disappears sometimes if you scroll the page vertically.

https://user-images.githubusercontent.com/6851384/192198371-89f67f86-9510-41f5-9773-42620d1a4952.mp4

### Steps to reproduce

1. Open the Admin Dashboard at `/home/:site`. Make sure the SideBar is

[2022-09-26 05:32] lsl opened #68252 "Marketplace Install Dialog: update button copy"
Update [`EligibilityWarnings`](https://github.com/Automattic/wp-calypso/blob/b71259e620d56a5482a9fee47d47ac17103cd161/client/blocks/eligibility-warnings/index.tsx#L187)'s proceed copy to match figma design. We can leverage the exisiting isMarketplace prop for this.

- [ ] Copy updated to "Upgrade and activate plugin" when appropriate
- [ ] Copy change only applied when a plan upgrade is required,

[2022-09-26 07:14] cpapazoglou commented on #60661
Paging here @JulianBustamante who worked on this.

I am not sure if this is still behind a feature flag which we should remove or if it's related to an older purchase that we haven't synced yet.

[2022-09-26 07:34] lsl opened #68255 "Marketplace: Section promo max width fix"
The plugins plan page a promo section with 3 notes about business plan benefits. This section's spacing, margins, and responsive behavior should match the education footer below it.

![Screenshot(19)](https://user-images.githubusercontent.com/811776/192230165-46f20fc7-e232-4a42-a7a5-a74e63dd877e.png)

- [ ] Stretch out the section promo in the plans page to match the education footer sections.
- [

[2022-09-26 07:43] syhussaini commented on #65214
Here is another one caught with the same behavior.

5584906-zen

I tried the steps mentioned by @edwinho89
WooCommerce activated a Safe Mode after that.

[2022-09-26 07:52] caimin-j commented on #61729
This issue seems to be be back. I got the message below when trying to view a post with the ID 2391 (the ID of Outside The Box is also 2391).

<img width="352" alt="Screenshot 2022-09-25 at 10 44 30" src="https://user-images.githubusercontent.com/37620825/192222570-ff271ec8-2bc3-466e-a10b-ca8b368e56dd.png">

[2022-09-26 08:17] epeicher commented on #65235
The following changes have been suggested in the linked PR https://github.com/Automattic/wp-calypso/pull/65596:
- When the user is only allowed to `Cancel` the site plan ([example video here](https://github.com/Automattic/wp-calypso/pull/65596#issuecomment-1256520553)):
  - The site plan auto-renew is disabled
  - The Marketplace subscription auto-renew is disabled, so it will expire when the subs

[2022-09-26 08:21] lsl commented on #67239
This should be fixed by https://github.com/Automattic/wp-calypso/pull/67636 please let me know if production doesn't match anything required for this issue.

- [x] Title size to be 26px instead of 36px (across all the pages)
- [x] Description/subtitle using our "Base/Regular" 14px
- [x] Place the plugin number on the other side of the page also using our "Base/Regular" 14px (if this isn't done for

[2022-09-26 08:21] #67239 closed, assigned to lsl

[2022-09-26 08:42] lsl commented on #66924
@lupus2k was https://github.com/Automattic/wp-calypso/pull/67125 20% time or something? Not seeing acceptance criteria or a sprint assigned to the issue. Wondering what to do with your PR as I triage the old sprint.

[2022-09-26 08:45] bangank36 opened #68258 "Pattern Assembler - Transitions for pattern list items"
## Description

We need to add transition to the pattern list in PA flow when an item is:

*   Added
*   Removed
*   Updated position

## Acceptance Criteria

TBD

## Reference

Related [**#67897**](https://github.com/Automattic/wp-calypso/issues/67897)

[2022-09-26 08:48] lsl commented on #68221
Thanks for moving this to a separate issue,

`EligibilityWarnings` already exists, can we define this further?

Are we wanting to extract a Dialog wrapper or the eligibility data loading via a re-usable hook? Both?

[2022-09-26 09:22] ivan-ottinger commented on #67968
D88245-code is now merged and deployed to production.

[2022-09-26 09:22] #67968 closed, assigned to phcp

[2022-09-26 09:49] TimBroddin commented on #63091
I'm investigating this issue, and it's caused by the `<pre>` tag.

[2022-09-26 09:52] TimBroddin commented on #63091
A small bit of helper code I've written to find out which element causes the overflow. The last one it prints is the culprit:

[code]

[2022-09-26 10:05] lsl opened #68261 "Marketplace: 4 new plugins"

[2022-09-26 10:07] #68261 closed, assigned to nobody

[2022-09-26 10:27] ivan-ottinger commented on #63091
D88476-code is now merged and deployed → issue is fixed. Thank you @TimBroddin.

[2022-09-26 10:27] #63091 closed, assigned to TimBroddin

[2022-09-26 10:29] arthur791004 commented on #67708
@donalirl I thought this issue has been resolved, could you help to confirm again? thanks!

[2022-09-26 10:38] niranjan-uma-shankar commented on #63050
Fixed in https://github.com/Automattic/wp-calypso/pull/68155

[2022-09-26 10:38] #63050 closed, assigned to daledupreez

[2022-09-26 10:57] #67686 closed, assigned to JuanLucha

[2022-09-26 10:57] rinazrina commented on #67819
Another report in #5584694-zen

Shared the workaround.

[2022-09-26 11:03] arthur791004 commented on #61729
@caimin-j I tried to reproduce the issue via accessing “View site in Reader” (https://wordpress.com/read/feeds/109971660) but I saw the screenshot below and it linked to the original site correctly.

<img width="310" alt="image" src="https://user-images.githubusercontent.com/13596067/192260590-38eee913-a5eb-4d3b-a01a-756648d9b031.png">

Could you provide the link for that screenshot? thanks!

[2022-09-26 11:08] miksansegundo commented on #68182
I did it 😊 and the class `.wp-block-group` is present in all [the section patterns selected](https://github.com/Automattic/wp-calypso/issues/66789) by our designers for the PA.

[2022-09-26 12:02] #68212 closed, assigned to nobody

[2022-09-26 12:10] vindl commented on #68018
The tile view looks good to me! ✨ What do you think about making it less pronounced in the list view? I imagined something that would blend in as another row on the table.

[2022-09-26 12:14] #68206 closed, assigned to jeyip

[2022-09-26 12:15] alshakero opened #68266 "Task: Help Center - cache `support-history` query result for 30 minutes"
### Details

Currently, the Help Center queries the `support-history` endpoint at every page render. We should cache the result for 30 minutes by passing `{staleTime: 30 * 60 * 1000}` [here](https://github.com/Automattic/wp-calypso/blob/trunk/packages/help-center/src/components/help-center-contact-page.tsx#L40).

We also need to make sure to flush that cache when the user submits a ticket [here](h

[2022-09-26 12:24] #68140 closed, assigned to mashikag

[2022-09-26 12:25] mashikag commented on #67683
Resolved by: D88300-code

[2022-09-26 12:25] #67683 closed, assigned to mashikag

[2022-09-26 12:35] vindl commented on #68020
@SaxonF, we do, but they don't have the `Add domain` step because it happens sooner in the flow.

Here are the steps we have so far:
|Newsletter|Link in Bio|
|-|-|
|<img width="467" alt="Screenshot 2022-09-26 at 14 26 26" src="https://user-images.githubusercontent.com/1182160/192276536-79757229-71b7-42cf-92bd-3b3749b955aa.png">|<img width="494" alt="Screenshot 2022-09-26 at 14 27 25" src="https://

[2022-09-26 12:45] #67429 closed, assigned to edanzer

[2022-09-26 12:57] TimBroddin commented on #67741
The plain link in the _Trouble clicking_ section isn't clickable, so we shouldn't add it there.

[2022-09-26 13:01] #68216 closed, assigned to nobody

[2022-09-26 13:01] #68215 closed, assigned to nobody

[2022-09-26 13:03] alshakero opened #68270 "Task: Help Center - Indicate the support language when the user locale isn't supported"
### Details

See point 1 here: p7DVsv-fpN-p2#comment-42221. It really has all the details. Please sync the config info (`upwork_support_locales`, `livechat_support_locales`) from Calypso to ETK [here](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/help-center/src/config.js#L10-L11).

### Checklist

_No response_

### Related

_No response_

[2022-09-26 13:03] phcp opened #68271 "[New Comment] [Comment Approval] Validate send and open Tracks metrics"

[2022-09-26 13:14] danielbachhuber commented on #68043
Still need to work through this question: https://github.com/Automattic/wp-calypso/pull/68175#discussion_r978981749

[2022-09-26 13:30] caimin-j commented on #61729
@arthur791004 No worries :) This is the link I followed:

https://wordpress.com/post/cftp2.wordpress.com/2391

...which redirects me to:

https://wordpress.com/post?site=2391

[2022-09-26 13:46] gavande1 opened #68275 "Marketplace Search: Improving Theme Search UX"
### Details

We need to build MVP for Theme Search in Marketplace as per comments given in pdgAPm-uo-p2#comment-446.

- [x] #68281
- [x] #68284
- [x] #68285

[2022-09-26 14:15] alshakero opened #68277 "Task: Help Center - too many scrolls in the live chat page"
### Details

See point 4 here: p7DVsv-fpN-p2#comment-42222

### Checklist

_No response_

### Related

_No response_

[2022-09-26 14:16] ccwalburn opened #68278 "Checkout Screen: Change Discount Verbiage to refer to Credits"
### What

Change the verbiage on the Checkout to make it clear that the discount applied is the Plan credits seen on the Plans page. Right now it looks like this:

![Checkout Discount](https://user-images.githubusercontent.com/32983813/192299390-7b7dac13-042b-44a5-8499-069deea98c18.png)

### Why

The verbiage on the Checkout screen does not make it clear that the discount received is the credits t

[2022-09-26 14:19] alshakero opened #68279 "Task: Help Center - Make the whole bar a maximize button when minimized"
### Details

Except the close buttons.

### Checklist

_No response_

### Related

_No response_

[2022-09-26 14:29] danielbachhuber commented on #68043
@zaguiini There's a little bit of scope creep going on, but we'll also want to remove the concept of hidden sites from this abstraction once #67581 and #68173 are shipped.

[2022-09-26 14:53] gavande1 opened #68281 "Marketplace Search: Remove the search as you type feature and make it similar to the plugins search"
Related to https://wp.me/pdgAPm-uo#comment-446

[2022-09-26 14:55] nuriapenya opened #68283 "Nuria's Todos"

[2022-09-26 14:56] lupus2k commented on #66924
Yes, it was a [20% time](https://explorersp2.wordpress.com/2022/08/30/20-time-e2e-multisite-tests/)

[2022-09-26 14:57] gavande1 opened #68284 "Marketplace Search: Add a track event for empty searches. The search-term will be passed as a prop, allowing us to see what is missing and users want."
### Details

Add a track [event for empty searches](https://github.com/Automattic/wp-calypso/blob/43a947035ced83f70ef98d73ad6b9f320fe007a1/client/components/themes-list/index.jsx#L117-L126). The search-term will be passed as a prop, allowing us to see what is missing and users want.

Related to pdgAPm-uo-p2#comment-446

[2022-09-26 15:00] gavande1 opened #68285 "Marketplace Search: Add an “Astra” theme card that will have a CTA “Install by upgrading to Business plan”"
### Details

Add an [“Astra” theme card](https://wordpress.org/themes/astra/) that will have a CTA “Install by upgrading to Business plan”. Clicking this CTA will lead the user through checkout and then theme installation as we already do with plugins.

Related to pdgAPm-uo-p2#comment-446

Design: @SaxonF suggested (pdgAPm-uo-p2#comment-453) showing a more generic card for all empty searches like

[2022-09-26 15:03] gcsecsey commented on #67863
I've looked for some examples for earlier:
- we've added the `plugins.icons` field as a serialized JSON in D82452-code
- we've added the `plugins` with all of its subfields in the `get_plugin_fields` function in D81205-code

[2022-09-26 15:27] zaguiini commented on #68043
@danielbachhuber but isn't the sliced sites list optional? Are we sure we want to remove hidden sites even from pages like http://wordpress.com/marketing/tools?

[2022-09-26 15:30] #64917 closed, assigned to nobody

[2022-09-26 15:30] zaguiini commented on #68043
Yeah, and the only thing we need to do in the site switcher is to specify `showHidden` as `true`, this way the hidden sites will show up. I'll come up with a PR soon.

[2022-09-26 15:33] JuanLucha commented on #67744
Done as part of https://github.com/Automattic/wp-calypso/issues/67686

[2022-09-26 15:33] #67744 closed, assigned to JuanLucha

[2022-09-26 15:34] gcsecsey commented on #68078
A fix for this issue has been deployed with D87985-code

[2022-09-26 15:38] gcsecsey commented on #63167
Backend changes are deployed in D87985-code

[2022-09-26 15:58] blackjackkent opened #68288 "Onboarding Design Selection: add Marketplace themes"
As described in the flow chart created by Saxon at pdgAPm-qE-p2#comment-401, we need to implement the appropriate UI flows for users selecting a *third-party bundled theme ("type 2")* at checkout. These users would be prompted to purchase the theme as an annual subscription, and to upgrade to a business plan if necessary.

- [x] List marketplace themes ( and theme detail page ) - https://github.co

[2022-09-26 16:05] JuanLucha opened #68289 "[Bug]: Feeds in social media are notified of new post in unpublished blogs"
### Quick summary

The site publishes the new posts in the linked social media account feeds, even when the blog is not public yet.

### Steps to reproduce

1. Create a new blog in wordpress.com
2. In the dashboard, go to `Tools -> Marketing -> Connections`.
3. Connect with your Tumblr account.
4. Create a new post in the Wordpress site.
5. Check the Tumblr account feed.

### What you expected to

[2022-09-26 16:13] onuro opened #68291 "Theme: Spearhead Blocks"
### Details

The Spearhead Blocks theme needs the following:

### Checklist

- [x] [Theme Demo site](https://spearheadblocksdemo.wordpress.com/) set up
- [x] [Theme showcase page draft.]
- [x] [Headstart annotations (guide: paYKcK-1Pt-p2)] (Strand id: `139259`)
- [x] [GlotPress project (guide: paYKcK-1Pt-p2)]
- [x] [Launch process (launch guide: PNEWy-eBM-p2)]

### Related

_No response_

[2022-09-26 16:39] alshakero opened #68294 "Task: Help Center - pass the plan name, not slug when submitting an email ticket"
### Details

See point 2 here: p7DVsv-fpN-p2#comment-42223

The wording should be exactly like the FAB because they use it to auto-tag tickets. You can get the wording from here: https://github.com/Automattic/wp-calypso/blob/trunk/client/me/help/help-contact/index.jsx#L177-L180

### Checklist

_No response_

### Related

_No response_

[2022-09-26 17:28] #64568 closed, assigned to nobody

[2022-09-26 17:44] gutenberg-plugin-upgrade-bot[bot] opened #68295 "Gutenberg: v14.2.x plugin upgrade"
Previous upgrade: #67821
Release notes: [v14.2.0](https://github.com/WordPress/gutenberg/releases/tag/v14.2.0)

**Install and activate**

- [x] Install and activate v14.2.0-rc.1 on edge (D88512-code)
- [x] Install and activate v14.2.0 on edge (D88837-code)
- [x] Activate v14.2.0 on production (D88513-code)
- [x] Request v14.2.0 AT upgrade (p9o2xV-2rS-p2)

**Testing**

- [x] v14.2.0 Desktop viewpor

[2022-09-26 18:08] #68173 closed, assigned to danielbachhuber

[2022-09-26 18:25] epeicher commented on #68078
Hi @gcsecsey, I cannot see the fix in the diff, I added it in a comment as a suggestion but I did not commit any code. Could it be that it has been missed? 🤔

[2022-09-26 18:40] alshakero opened #68298 "Task: Tailored flows: change input fields border colors to match the editors"
### Details

This comment has all the info: pbAok1-3fI-p2#comment-5466

### Checklist

_No response_

### Related

_No response_

[2022-09-26 18:42] alshakero opened #68299 "Task: Tailored flows - the default blue in newsletter setup step should be #113AF5"
### Details

Context: pbAok1-3fI-p2#comment-5466

### Checklist

_No response_

### Related

_No response_

[2022-09-26 18:46] paulopmt1 commented on #68221
I did a P2 about my current view on CTAButton refactor here: pb5gDS-25u-p2

[2022-09-26 19:44] p-jackson commented on #68020
I don't know much about the new launchpad (I don't actually know how to bring up that UI that @vindl shared above), but I see that the old launch checklist on My Home still exists

<img width="1073" alt="CleanShot 2022-09-27 at 08 36 15@2x" src="https://user-images.githubusercontent.com/1500769/192364594-89875dc7-dabc-4ff3-93f9-00654a56531d.png">

The My Home checklist is what I'd assumed we showi

[2022-09-26 20:27] #68059 closed, assigned to worldomonation

[2022-09-26 20:42] blackjackkent opened #68306 "Theme Bundling: User should be redirected into Woo onboarding from selecting a Woo theme"
Per comments at pdtkmj-xt-p2#comment-960 and pdtkmj-xt-p2#comment-987 - if a user has selected a Woo-supporting theme during onboarding, we should expect to redirect them into the `storeAddress` onboarding step for Woo onboarding.

[2022-09-26 20:46] kriskarkoski commented on #68294
We rely on this text for tagging plan length so it should be in the following format we get from FAB:

`Plan: ID - Name in English (Plan length)`

For example:

`Plan: 1013 - Premium (Monthly subscription)`

[2022-09-26 20:54] blackjackkent opened #68307 "Theme Bundling - Improve communication text around bundled theme selection"
Several comments on pdtkmj-xt-p2 referenced confusion regarding the messaging provided when a user selects a bundled theme on different plans.

On a business plan:

On a free/personal plan:

![image](https://user-images.githubusercontent.com/13437011/192378069-716a7a7e-fc0c-4e83-aa8e-c239792f2a32.png)

We should refine the text on this modal to clarify what the user can expect.

@SaxonF may have s

[2022-09-26 21:04] #67581 closed, assigned to danielbachhuber

[2022-09-26 21:04] #68043 closed, assigned to zaguiini

[2022-09-26 21:09] Copons commented on #67929
Apologies for the delay, we just were on meetup when we got the alert, and it must have slipped through the cracks; I've now added this issue to @Automattic/ajax sprint board.

@mmtr, could you take a look at this tomorrow? 🙇‍♂️

[2022-09-26 21:13] blackjackkent opened #68309 "Theme Bundling: Fix errant behavior when selecting a bundleable theme from theme showcase"
There were some comment feedbacks on pdtkmj-xt-p2 relating to behavior when selecting Thriving Artist from the theme showcase rather than in onboarding:

I believe this confusion stems from the fact that the theme in and of itself is a Premium theme and thus technically available to all premium users, but that we are enforcing the behavior of upgrading to Business and including a plugin separately

[2022-09-26 22:44] #68034 closed, assigned to jeyip

[2022-09-26 23:22] lsl commented on #66924
Ah, it even has the label :smile: thanks for the post.

[2022-09-26 23:35] hanananah commented on #67059
Another in 36989848-hc

Meraki theme, but they've tried other themes as well with the same issue

[2022-09-27 00:28] donalirl commented on #67708
@arthur791004 Yes, I can no longer recreate the issue. The layout previews show up for me:
![image](https://user-images.githubusercontent.com/30727666/192404164-45e7ddef-49ce-4fa5-ba5f-96f065ec465a.png)

[2022-09-27 00:40] vindl commented on #65176
This is done already.

<img width="742" alt="Screenshot 2022-09-27 at 02 39 41" src="https://user-images.githubusercontent.com/1182160/192405283-2b0ffcf9-4c3f-4ee6-b084-1492b2d71ef4.png">

[2022-09-27 00:40] #65176 closed, assigned to nobody

[2022-09-27 01:39] lsl commented on #67535
@cpapazoglou is this something you're already working on?

[2022-09-27 01:59] JulianBustamante commented on #60661
@solstudioim This feature has not been released yet and is behind a preview flag since there is a remaining task - [https://github.com/Automattic/wp-calypso/issues/65563](Marketplace: Create a script to sync existing woo subscriptions to wc.com)

[2022-09-27 02:09] lsl commented on #68249
Should be able to use @paulopmt1's implementation here https://github.com/Automattic/wp-calypso/pull/68048/commits/b588bcaaec923746a604894877907af13955b7ec

[2022-09-27 02:10] lsl commented on #68246
Should be able to use @paulopmt1's implementation here https://github.com/Automattic/wp-calypso/pull/68048/commits/ffa990a8b0bd06aa4f862d7db721bbfd0499ff3a

[2022-09-27 03:18] lsl commented on #68249
@vinimotaa What should we do with these links on mobile?

![Screen Shot 2022-09-27 at 13 14 52](https://user-images.githubusercontent.com/811776/192423582-33842210-42e1-4b2e-ac01-6e37ad2636c0.png)

Existing:

![Screenshot 2022-09-27 at 13-16-42 WooCommerce Subscriptions Plugin ‹ Business - Simple Site — WordPress com](https://user-images.githubusercontent.com/811776/192423996-f5e26378-3c34-46ba-98

[2022-09-27 03:56] miksansegundo commented on #66793
The status of the **wireframe patterns translations** for all the languages, except one pattern, is around **90% of completion**.

[2022-09-27 04:16] autumnfjeld commented on #68183
Let's ship this 7-10 days after shipping Style Selection so we can do a metrics check on influence of having themes at the top of the grid.

[2022-09-27 04:43] arthur791004 commented on #67708
Great! Let's close this issue 👍

[2022-09-27 04:43] #67708 closed, assigned to arthur791004

[2022-09-27 05:18] SaxonF commented on #68018
https://wordpress.com/setup?flow=link-in-bio&ref=logged-out-homepage-lp

I imagine there would be in order to know when to show the Launchpad.

👍

[2022-09-27 05:24] lsl commented on #68249
http://calypso.localhost:3000/backup/test839891825.wordpress.com

Before
![Screenshot 2022-09-27 at 15-21-44 Activate Jetpack Backup now ‹ Bussiness Simple — WordPress com](https://user-images.githubusercontent.com/811776/192438965-7e4719a0-6936-4410-a635-01af726d8f0f.png)

After (todo: need to bring link back)
![Screenshot 2022-09-27 at 15-21-55 Activate Jetpack Backup now ‹ Bussiness Simple — Wo

[2022-09-27 06:20] lsl commented on #68250
Places to test:

- Jetpack backup activation (business simple site) -
- Hosting / SFTP activation (business simple site) - inline display
- Theme install (business simple site) - inline display
- Plugin install (any simple site)

[2022-09-27 06:41] sethmclellana8c commented on #67684
This ticket might be related to a recent p2 note I passed to the email team (Dinobots): pd0D4C-Zz-p2

When you're in there redesigning the different versions of the invite, can you update the language as well? (I tried viewing the Figma and couldn't get it to work. I'm note sure if the new design would change the language as well.)

[2022-09-27 06:54] TimBroddin commented on #67684
pd0D4C-Zz-p2#comment-2895

[2022-09-27 07:40] gavande1 opened #68322 "Marketplace: Add Business Plan to cart when billing intent is created for a site that has a lower plan"

[2022-09-27 07:49] autumnfjeld commented on #67331
Let's use the following copy:
"Get your thoughts together because it is time to start writing."

[2022-09-27 07:59] gavande1 commented on #67547
Deployed part 2 in r253253-wpcom

[2022-09-27 08:00] rickmgithub opened #68323 "Font changing on Blank Canvas theme"
### Quick summary

The font showing in the editor is not reflected on the public page.

### Steps to reproduce

1. Create a page
2. Add a heading with a domine Jospehine Sans font.
3. Publish the page
4. The displayed font is different.
5. The image on the left is the editor, the one on the right is the published page

<img width="1927" alt="Markup 2022-09-27 at 17 49 31" src="https://user-images.

[2022-09-27 08:02] gavande1 opened #68324 "Marketplace: Update billing intent status to active after subscription is purchased"
### Details

Whenever new billing intent is created, we add `pending` as the default state for the billing intent. But when a purchase is completed for any billing intent there is no way to tell if the specific billing intent was successful. So we need to mark billing intent as active so that we can see how many billing intents actually had successful checkout.

### What needs to be done

We need

[2022-09-27 08:04] #67741 closed, assigned to TimBroddin

[2022-09-27 08:04] #67684 closed, assigned to TimBroddin

[2022-09-27 08:07] JuanLucha opened #68325 "[Invite Follower] Make sure different languages for inviter and invited works sends the emails in the right language each case"

[2022-09-27 08:07] JuanLucha opened #68326 "[Invite Role] Make sure different languages for inviter and invited works sends the emails in the right language each case"

[2022-09-27 08:07] JuanLucha opened #68327 "[Invite Confirmation - blog owner] Make sure different languages for inviter and invited works sends the emails in the right language each case"

[2022-09-27 08:08] JuanLucha opened #68328 "[Invite Confirmation - invited person] Make sure different languages for inviter and invited works sends the emails in the right language each case"

[2022-09-27 08:25] southp opened #68330 "Clean up the A/B test code of the add-on signup flow"
The related code were introduced by:
* [Signup flow, implement step on Free sites to sell add-ons](https://github.com/Automattic/wp-calypso/pull/64451)
* [AB test add-ons step in signup](https://github.com/Automattic/wp-calypso/pull/65343)

Since it's decided that we won't introduce the add-on step in the foreseeable future, the experiment code should be cleaned up.

The add-on specific steps and

[2022-09-27 08:28] southp commented on #65409
@chriskmnds @worldomonation The add-on flow won't be back anytime soon and the experiment should be deprecated. I've created a task for our team here: https://github.com/Automattic/wp-calypso/issues/68330. For this issue, I'd suggest to either opening a new one explicitly for the admin page, or making it clear that this issue will only be about the admin page. How does that sound?

[2022-09-27 08:51] lsl commented on #68248
Ended up not making sense to do `isModal` ([tried here](https://github.com/Automattic/wp-calypso/pull/68331/commits/142a3fd85e6d1d17c7c469849ab4478cd79745d1)), went with doing everything from CTAButton since it's not using Dialog buttons properly. https://github.com/Automattic/wp-calypso/pull/68331

[2022-09-27 09:02] #67293 closed, assigned to escapemanuele

[2022-09-27 09:19] JuanLucha commented on #68107
Worked out of the box. Closing.

[2022-09-27 09:19] #68107 closed, assigned to JuanLucha

[2022-09-27 10:00] klimeryk commented on #68294
Ooof, really? TIL. How does that work? That sounds quite brittle and not sure if accurate. The plan that is being mentioned here is the one that the current site has. But the plan tag that we add in Zendesk (and send when creating the ticket on the backend) is based on the top paid plan on the whole account. So it might not always be the same plans (and lengths).

[2022-09-27 10:24] bogiii opened #68337 "Subscriber form: upload CSV feature, wrong wording"
![Image](https://user-images.githubusercontent.com/1241413/192501967-8d11c3e3-e32c-4694-aa44-98a87d2c9cd3.png)

The wording says 'By clicking continue', but the button is 'Add subscribers'.

cc @vishnugopal

[2022-09-27 10:46] bogiii opened #68338 "Subscriber form: gradual rollout improvements"
The logic for gradual rollout has been moved to the backend, so implement the usage of the `/rest/v1.1/me/flags/` endpoint.
Rely on the `subscriber_import` flag.

cc @vishnugopal

[2022-09-27 11:00] #68246 closed, assigned to lsl

[2022-09-27 11:08] david-binda commented on #59570
I have deployed a fix for the issue ( D88570-code ).

[2022-09-27 11:13] arthur791004 commented on #61729
@caimin-j thanks! Could you also help to get the link from customers? I saw the link of the screenshot in that ticket starts with `/read/feeds/...` (see the `redirect_to` in the URL). I think this issue is highly related to the URL, so we might need to collect all possible links. Otherwise, the customers might encounter the same issue again with a different URL.

[2022-09-27 11:15] #68248 closed, assigned to lsl

[2022-09-27 11:25] mashikag opened #68340 "[Bug]: Editing hyperlink title replaces incorrect part of the string in parent block"
### Quick summary

If link's parent block contains the same text as the links title, and the text appears before the link, renaming the link title replaces the first match of the previous link title. See the gif below it is much easier to understand what I mean.

![Screen Capture on 2022-09-27 at 12-38-20](https://user-images.githubusercontent.com/2019970/192512156-712a4884-7fc5-4d92-a1d6-171c9490

[2022-09-27 11:29] #68208 closed, assigned to renancarvalho

[2022-09-27 11:41] renancarvalho opened #68342 "Task: Newsletter continue button not clickable"
### Details

On Newsletter setup step, the continue button sometimes is not clickable, probably another Html element is on top of it and taking the mouse event.

### Checklist

_No response_

### Related

_No response_

[2022-09-27 11:51] fushar commented on #67880
Unfortunately, it is impossible as the our new /starter-designs endpoint needs the values of the intent and the vertical id, which are the two immediate steps before the design picker step. So, no prefetching could be done 😢 We are removing that logic instead, via #68329.

[2022-09-27 12:02] #67929 closed, assigned to mmtr

[2022-09-27 12:09] csabarakasz opened #68344 "Domain Connection subscription removal page is confusing."
### What

[The user](37114048-hc) got confused by Domain Connection Sub. removal page.

Step one, you can tell that it is a domain connection sub (although it is not that highlighted):
![DErD3jvYE7UxggsgOMxGaQareTNRhGVlFp7HISo6.jpg](https://user-images.githubusercontent.com/84539773/192520364-74300fd3-0587-4792-9b1b-bd88e372562f.jpg)

When they click Remove, the next "Share your Feedback page" is

[2022-09-27 12:39] kriskarkoski commented on #68294
@klimeryk Yep, it's not ideal. Basically when we launched monthly and two-year plans we didn't have the resources to implement this properly (see pcbrnV-wF-p2) so we just added the plan name and it's ID to the body of the message, then I setup routing on the Zendesk side to tag tickets, which I refreshed a few months ago in p8wKgj-2ME-p2

I think for Help Center launch we should just keep that as-

[2022-09-27 13:16] lunasera41 commented on #67059
Another in [5588431-zen](5588431-zd-woothemes) Zoologist theme

[2022-09-27 13:24] #68342 closed, assigned to renancarvalho

[2022-09-27 13:25] TimBroddin commented on #68326
When user is registered it takes the user's language:
![Image](https://user-images.githubusercontent.com/528287/192538416-d5d867c3-7ee2-4fb3-9541-1f2d5d3155d3.png)

When user is not registered, it takes the site's language:
![Image](https://user-images.githubusercontent.com/528287/192538708-860638e0-b66d-4f06-82f8-f79251a8b159.png)

[2022-09-27 13:25] #68326 closed, assigned to TimBroddin

[2022-09-27 13:33] TimBroddin commented on #68325
When user is registered it takes the user's language:
![Image](https://user-images.githubusercontent.com/528287/192540511-4dfdc90f-c224-4450-bb0b-428c12de2c40.png)

When the user is not registered, it takes the site's language:
![Image](https://user-images.githubusercontent.com/528287/192540646-83c5b035-9d8e-4256-af6a-ac63155502b1.png)

[2022-09-27 13:33] #68325 closed, assigned to TimBroddin

[2022-09-27 13:39] #68211 closed, assigned to nobody

[2022-09-27 13:47] fushar commented on #67880
I tried multiple times on incognito window and it didn't take 4-5 seconds to load the Design Picker. It load just smoothly / fast.

@autumnfjeld or maybe what you experienced is that the themes' **mShots previews** and/or the generated designs' iframes  took that many seconds to **render**? I do experience some slowness occasionally, but still tolerable (not 4-5 seconds).

[2022-09-27 13:49] fushar commented on #67880
PR ready: D88574-code

[2022-09-27 13:50] gcsecsey commented on #68078
Oof, I'm sorry @epeicher, for some reason I've believed your comment to be an addition to the diff here 🤦
<img width="748" alt="CleanShot 2022-09-27 at 14 47 49@2x" src="https://user-images.githubusercontent.com/11555574/192544238-bf6ecc07-4770-478f-8256-2e0c1597a5ea.png">

I'm going to raise a small diff with this change soon!

[2022-09-27 13:51] fushar commented on #67880
Based on my investigation, the way our Unified Design Picker loads the design currently, is working just fine, and no optimization is necessary. Maybe we should revisit this issue once the number of themes are more than ~ 200. Let me know if we still want to discuss it otherwise!

[2022-09-27 14:13] #68210 closed, assigned to nobody

[2022-09-27 14:52] danielbachhuber commented on #64714
Landed D88495-code to `WP_CLI::error()` when the mismatch is detected.

🚢 🚢 🚢

[2022-09-27 14:52] #64714 closed, assigned to danielbachhuber

[2022-09-27 14:55] danielbachhuber commented on #64713
Punting in favor of D88262-code

[2022-09-27 14:55] #64713 closed, assigned to danielbachhuber

[2022-09-27 15:42] gcsecsey commented on #68078
Raised diff D88613-code

[2022-09-27 16:01] escapemanuele opened #68353 "Newsletter Flow: Colour picker remove the pointer of the selector"
### Details

Context here: pbAok1-3fI-p2

Remove the pointer of the selector

![Screen Shot 2022-09-27 at 17 58 18](https://user-images.githubusercontent.com/52076348/192576915-77a34ab2-e6c6-405b-916c-e74e82b18abd.jpg)

### Checklist

_No response_

### Related

_No response_

[2022-09-27 16:03] #68214 closed, assigned to jeyip

[2022-09-27 16:11] ariel-maidana opened #68354 "Facebook Page Plugin widget does not appear on the iPad"
### Quick summary

When a Facebook Page Plugin widget is added to a footer widget area, it does not show up when viewed from an iPad (other devices might be affected too).

### Steps to reproduce

1. Activate Sela theme.
2. Add a Facebook Page Plugin widget to a footer area.
3. Add a Facebook page URL and save the widget.
4. Visit the site from an iPad.

### What you expected to happen

To see the

[2022-09-27 16:58] #68249 closed, assigned to lsl

[2022-09-27 17:37] epeicher commented on #68078
I have reviewed the diff and LGTM. I have added the task to the sprint and changed the status to Ready to Merge 🚢

[2022-09-27 17:43] phcp commented on #68271
Tested comment emails and the metrics open/send/click metrics are being tracked as expected. No additional code is required, so I'm closing this issue for now.

[2022-09-27 17:43] #68271 closed, assigned to phcp

[2022-09-27 18:02] paulopmt1 opened #68357 "Implement the new domain change message"
### What
Update domain migration warning:

![image](https://user-images.githubusercontent.com/1044309/192602541-19db03b5-eb7c-4af8-a4b0-1f622ce8c626.png)

Context: pdh6GB-26h-p2
Figma: HOg65lHD0QOfaq0QtzKQbC-fi-1183%3A11200

### Requirements

- [x] Prepare `public-api` to return the correct JSON:
[code]
- [x] Update the `warning-list` to show formatted domains
- [x] Update domain names copy text.

[2022-09-27 18:29] arcangelini opened #68359 "Task: Reuse socket connections"
### Details

When the user closes the chat window the socket connection remains open. If the user opens Help Center again, another socket connection is opened. This causes multiple open sockets.

Ideally we would leave the connection open and reconnect the chat when Help Center is loaded again, but if not we need to at least close the connection that is already open.

<img width="1010" alt="Markup

[2022-09-27 18:34] wpshellbelle commented on #52520
5588790-zen
Recommended switching to Coming Soon mode

[2022-09-27 18:50] paxblueribbon commented on #68130
I also posted on godaddy/coblocks github
https://github.com/godaddy-wordpress/coblocks/issues/2428

[2022-09-27 18:53] JulianBustamante commented on #68131
Deployed r253314-wpcom

[2022-09-27 18:54] #68131 closed, assigned to JulianBustamante

[2022-09-27 19:31] gibrown commented on #68218
@robfelty let's take the details to p2, but we could maybe estimate this from Jetpack install data.

[2022-09-27 19:41] dcoleonline commented on #65002
Heiwa pdEkSe-1kc-p2

[2022-09-27 19:58] happychait commented on #54647
Another customer asked for it in 31283202-hc

[2022-09-27 20:47] cuemarie commented on #67986
@arinoch Have you had a chance to try to reproduce this? As a screen reader user, it will be great to get your take on it!

[2022-09-27 20:49] mxhassani opened #68360 "Jetpack - Related Posts: shows unexpected post types in addition to regular posts."
### Quick summary

This site is showing the content of a `post type`: `customize_changeset` on the related posts of [this post](https://dailyhongkong.com/2022/09/27/korea-ymca-issues-nft-to-support-hong-kong-asia-pacific-headquarters-relocation-to-jeju-island/) ([and other posts](https://dailyhongkong.com/2022/09/23/koreas-national-foundation-day-notice-of-black-protests-against-415-election-fraud

[2022-09-27 21:12] cuemarie commented on #68225
📌 SCRUBBING : RESULT
- "If you purchased a WordPress theme elsewhere? No problem: **the WordPress.com Pro plan** lets you install any theme you’d like."
- Copy is still present

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-09-27 21:32] cuemarie commented on #68231
Since this is such a user-specific issue, I've pinged the original report thread for more details on where this should go: p1664314273889369/1663946767.899089-slack-C03TY6J1

📌 ACTIONS
- Await author feedback

[2022-09-27 21:43] #55715 closed, assigned to worldomonation, dpasque

[2022-09-27 21:43] #62778 closed, assigned to john-legg

[2022-09-27 21:50] worldomonation commented on #66144
@john-legg I've assigned this medium-large task. This is part of a larger effort to un-quarantine specs so that there is some coverage.

The issue here is that `Notifications: Trash` was previously a little flaky, but the exact reasons have been lost to time. However, you should be able to glean whether this is flaky by checking out the Quarantined E2E build in TeamCity and its artifacts. [This Fi

[2022-09-27 21:54] worldomonation commented on #67460
I tried to implement a GitHub-based approach where the reports are stored as files in a GitHub repository. This is the approach taken by others in WooCommerce and Jetpack.

Unfortunately because we use TeamCity to run CI, this is not feasible:

[code]

[2022-09-27 23:27] paulopmt1 opened #68363 "Improve the error messages at the modal"
Improve the error messages at the modal:

![Screen Shot 2022-09-27 at 20 27 06](https://user-images.githubusercontent.com/1044309/192655044-f10d5d43-85fa-4ae7-90e6-2b4811ae3fe1.png)

### Requirements

- [ ] It should follow the design
- [ ] When we have errors that disable the CTA button, we should hide the warning messages (to avoid too much information on the screen)

Context: pdh6GB-26h-p2
Figm

[2022-09-27 23:31] paulopmt1 commented on #68250
Next child task for improving error messages: https://github.com/Automattic/wp-calypso/issues/68363

[2022-09-27 23:32] paulopmt1 opened #68364 "Fix domain warning message at the top of the modal"
Fix this message at the top of the modal (when available):

![image](https://user-images.githubusercontent.com/1044309/192655474-cf7d813c-f6c0-4e85-a5e1-0c75c287fe9d.png)

### Requirements

- We should show this message when receiving a `NO_BUSINESS_PLAN` warning from the backend.
- Make sure this message won't show on the warning lists below the primary message

Context: pdh6GB-26h-p2
Figma: [HOg

[2022-09-27 23:38] cuemarie commented on #68230
📌 ACTIONS
- Feature request kept/closed

📌 Message to Author
- Cool idea, thanks for the feature request, @supernovia !

[2022-09-27 23:41] cuemarie commented on #68232
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Thanks for submitting this user's feature request, @syhussaini !

[2022-09-27 23:44] cuemarie commented on #68242
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Thanks for the thoughtful feature request, @NoHopeRadio !

[2022-09-28 00:09] JulianBustamante commented on #67656
Diff created D88672-code

[2022-09-28 00:13] lsl commented on #68364
Might be duplicate of https://github.com/Automattic/wp-calypso/issues/68247? cc @lupus2k for extra context since you're assigned.

After yesterday I'm wondering about the approach laid out there. It might make more sense to just keep all this localized to CTAButton?

I think the only caveat there is we need to ensure the error notices continue to disable the text correctly as before. (at least unt

[2022-09-28 00:19] lsl commented on #68364
Oops, I re-read your actual question in slack, sort of not a duplicate but we can probably just expand the acceptance criteria in that issue to include:

[2022-09-28 00:36] lsl commented on #68250
Thanks for the new issues, feel free to break this down further and close this out or something. Had a feeling this one wasn't well scoped.

[2022-09-28 02:26] zachspears commented on #68243
Able to reproduce this issue. Marking Low priority due to simple theme impacted.

[2022-09-28 02:30] zachspears commented on #68278
I strongly agree with this recommendation and have received several chats with this confusion. Marking Normal Priority due to potential high impact for resolving confusion around pro-rated discount.

[2022-09-28 02:32] zachspears commented on #55682
Hello @jeherve, thank you for sharing this issue. Could you please provide steps for reproducing the error? Thank you!

[2022-09-28 02:39] zachspears commented on #68323
Hello @rickmgithub, I was just triaging this issue and having trouble reproducing. I only found a font called "Domine" and not "Domine Jospehine Sans", is Domine the correct font? Additionally, is this happening in a specific theme? Thanks!

[2022-09-28 02:41] zachspears commented on #68323
Able to reproduce. Setting Priority to Low due to low impact. Font may be simply called "Domine."

[2022-09-28 02:44] zachspears commented on #68344
I agree with the potential confusion here since users commonly refer to the domain name when referring to their site. Marking low priority due to low impact.

[2022-09-28 03:00] fushar commented on #66667
@autumnfjeld: As I said a couple weeks ago, this `calypso_singup_select_verticalized_design` is a bit buggy as it will be fired even if the themes are not verticalized (e.g. the user did not select the "supported" vertical). Should we fix this first?

[2022-09-28 03:51] miksansegundo commented on #66789
We'll add the following patterns as sections:

**ID 737**
![image](https://user-images.githubusercontent.com/1881481/192679849-2661d33c-5ce4-425a-8a05-579e4c767db7.png)

**ID 1213**
![image](https://user-images.githubusercontent.com/1881481/192679890-7db32f22-9e9b-413d-a92d-f26be0ab2ec3.png)

**ID 3255**
![image](https://user-images.githubusercontent.com/1881481/192679909-4788a2d2-1fff-4042-9159-a

[2022-09-28 05:29] arthur791004 commented on #68176
Here is the document: PCYsg-L1F-p2

[2022-09-28 06:35] lsl opened #68370 "Marketplace: Business plan upsell on premium products"
We're missing a (small) business plan upsell opportunity here, can we add a link to the plans page?

![Screenshot(29)](https://user-images.githubusercontent.com/811776/192705569-07d79d06-70bf-407f-bcda-5dd376ecdb6f.png)

- [ ] Link to the plans page from this text.

[2022-09-28 07:24] lsl commented on #68364
This should be fixed by https://github.com/Automattic/wp-calypso/pull/68365 now. Could probably split it up if you want but it turned out to be quite tangled up / required for testing.

Basically did the same thing [you did earlier](https://github.com/Automattic/wp-calypso/pull/68048/files#diff-fb9fcef5e87a5fd1b195c3880b0fa2ebf61d0781e4868808e67a37a606b1ccc9R249) but at the CTAButton level instead

[2022-09-28 07:36] miksansegundo opened #68374 "Pattern Assembler - Zoologist is used instead of Blank canvas when the onboarding data has expired"
### Description
Suppose a user bookmarks the URL of the PA `/setup/patternAssembler` and accesses it after one week. In that case, the PA will use Zoologist (the default theme) instead of Blank canvas. This is an edge case because users should not access the PA directly. However, they could do it and skip all the previous onboarding steps.

#### Why this happens?
During the onboarding, we persist

[2022-09-28 07:37] TimBroddin commented on #68110
Inviter (LTR site) -> Follower (RTL)
<img width="1726" alt="CleanShot 2022-09-28 at 09 27 58@2x" src="https://user-images.githubusercontent.com/528287/192715839-49a52714-99c0-426c-8fac-2ee368e619a3.png">

Inviter (RTL site) -> Follower (LTR)
<img width="998" alt="CleanShot 2022-09-28 at 09 29 45@2x" src="https://user-images.githubusercontent.com/528287/192716122-644133e4-bad5-4a99-802c-39ce2c1c3b3

[2022-09-28 07:37] #68110 closed, assigned to TimBroddin

[2022-09-28 07:52] #68299 closed, assigned to renancarvalho

[2022-09-28 07:53] mtias commented on #62112
@obenland @withinboredom Was there any follow up here?

[2022-09-28 07:54] Greatdane commented on #67943
Closing this, as Gutenberg said it is intended behavior. See; https://github.com/WordPress/gutenberg/issues/44346

[2022-09-28 07:54] #67943 closed, assigned to nobody

[2022-09-28 08:19] taipeicoder commented on #68374
+1. Adding to what Arthur already said, users would probably forget what they did after a week, so I think it'd be good to have them start fresh again.

[2022-09-28 08:27] withinboredom commented on #62112
Just brought it up in p1664353639939619-slack-CAMDXNE57

[2022-09-28 08:43] autumnfjeld opened #68376 "Add tracks event for "Unlock theme" button in the design picker preview"
# Description

![Image](https://user-images.githubusercontent.com/5665959/192731891-b1d183c2-40e2-43db-98f1-f3048df35615.png)

![Image](https://user-images.githubusercontent.com/5665959/192731950-30b0b59f-58e5-4bfb-8e58-43f92236b851.png)

# Tasks
 Add event 'calypso_signup_design_preview_unlock_theme_click`
prop:
  theme: {theme}
  template: {template}
  intent: {intent}
  theme_style: like pub/li

[2022-09-28 08:44] #68207 closed, assigned to escapemanuele

[2022-09-28 08:48] arthur791004 commented on #68176
@alaczek Could you help to check whether something else needs to document in PCYsg-L1F-p2 ? thanks!

[2022-09-28 09:03] candy02058912 commented on #68364
Could you tell me a bit more about this? It seems pretty separate from the warnings below, so don't quite understand. (I might be missing some context)

[2022-09-28 09:07] fushar commented on #68376
I checked the codebase. Looks like we already tracks this, with the following event:

`calypso_signup_design_upgrade_modal_show`

- `theme`: the theme slug

Can you check? Do we want to extend this event, or...?

[2022-09-28 09:39] bangank36 commented on #68374
This'll work, also there is no way we can know when the storage is wiped out right?

[2022-09-28 09:54] gcsecsey commented on #68078
Changes have been deployed in r253339-wpcom

[2022-09-28 09:54] #68078 closed, assigned to nobody

[2022-09-28 10:00] escapemanuele opened #68378 "Stepper: Add flow to calypso_signup_actions_submit_step"
Context: pdDR7T-jP-p2#comment-223

`calypso_signup_step_start` includes flow & step while `calypso_signup_actions_submit_step` only includes step. I don’t think this is an issue currently as step has no duplicate values across flows, but it may be worth adding flow in to the event in the future.

[2022-09-28 10:15] ivan-ottinger opened #68380 "Create a new feature flag for Featured Image Template Toggle"
In order to develop the new Featured image toggle for the _New Post_ email template, we will need introduce a new Calypso featured flag.

Related Project thread: pdDOJh-Nu-p2

[2022-09-28 10:29] ivan-ottinger commented on #68380
https://github.com/Automattic/wp-calypso/pull/68377 is now ready for review.

[2022-09-28 10:50] mashikag opened #68381 "Newsletter: [Write First Post] [Pre-Publish] The subscribers section should be at the top"
At the moment the **Subscribers** section is at the very bottom of the pre-publish sidebar. The goal of this task is move the section to the top of the sidebar.

Screenshot of the current UI state:
![Image](https://user-images.githubusercontent.com/2019970/192802717-c7f856d7-ac1a-4268-98e0-a9e2cbeb309b.png)

[2022-09-28 10:50] mashikag opened #68382 "Newsletter: [Write First Post] [Pre-Publish] “1 reader” should be in bold rather than underlined"
The current text is underlined. It makes it seem as if it is a link that a user can click on. Make this bold instead.

![Image](https://user-images.githubusercontent.com/2019970/192763248-ef75b8b6-9acd-4742-86b5-88fd86fbfe1a.png)

Related: pbAok1-3fI-p2

[2022-09-28 10:50] mashikag opened #68383 "Newsletter: [Write First Post] [Pre-Publish] Share post section shouldn’t be open"
Make the **Share this post** section closed by default.

Below is a screenshot of the current UI state.
![Image](https://user-images.githubusercontent.com/2019970/192830850-0877a3b2-183e-4e4c-b089-e755416d0c90.png)

[2022-09-28 10:50] mashikag opened #68384 "Newsletter: [Write First Post] [Post-Publish] “Create podcast episode” shouldn’t be a primary action – make it less prominent"

[2022-09-28 10:50] mashikag opened #68385 "Newsletter: [Write First Post] [Post-Publish] QR code section should not be open"

[2022-09-28 10:56] claudiucelfilip commented on #68115
Pushed the fix to #68386

[2022-09-28 11:00] ivan-ottinger opened #68388 "[All] Remove temporary email template file"
The temporary email template file that was meant to speed up the template string translation process is no longer necessary. We can delete it to clean up the codebase.

[2022-09-28 11:01] ivan-ottinger commented on #68388
D88692-code is now ready for review.

[2022-09-28 11:09] #67120 closed, assigned to nelsonec87

[2022-09-28 11:11] #66654 closed, assigned to nelsonec87

[2022-09-28 11:23] bogiii opened #68389 "Subscriber form: CTA accessibility improvements"
CFT Feedback:

The subscriber import button is not labeled accessibly. The button currently reads to a screen reader as “Or bring your mailing list from other newsletter services by”. This should probably have an ARIA label attached or otherwise indicate what the button actually says.

[2022-09-28 11:30] bogiii opened #68390 "Import subscribers: Email notification improvement"
CFT Feedback:

"Our test CSV file contains a duplicate address, and the notification email we get says it imported 10 out of 11 subscribers. We expect to be told that, but it does not specify why."

"My .csv file contained one duplicate contact, the notification email (“ Subscriber import completed”) tells me 10 out of 11 were imported, but doesn’t explain why a contact wasn’t added successfully.

[2022-09-28 11:39] bogiii opened #68391 "Subscriber form: Handle "spam disclaimer" and "limit error" cases"

[2022-09-28 11:50] bogiii opened #68392 "Calypso setup framework: Create import flow"
For more details, see: pdKhl6-Jm-p2#comment-796

[2022-09-28 12:00] danielbachhuber commented on #67497
@Automattic/build Moving this to `Hold` in our backlog. It seems like it's a `Low Value, High Effort` problem to fix, and may eventually be resolved by signup flow changes anyway.

[2022-09-28 12:31] ivan-ottinger commented on #68388
D88692-code is now merged and deployed.

[2022-09-28 12:31] #68388 closed, assigned to ivan-ottinger

[2022-09-28 12:36] #66420 closed, assigned to phcp

[2022-09-28 13:05] escapemanuele opened #68395 "Tailored Flows: Newsletter flow Setup input labels and “Add site icon” CTA are black"
Set input labels and “Add site icon” CTA to --studio-black in Newsletter flow

[2022-09-28 13:08] jorpdesigns commented on #52100
Another case here: 33979137-hc

[2022-09-28 13:16] escapemanuele opened #68397 "Newsletter flow: default accent and color swatch stroke"
Context: pbAok1-3fI-p2#comment-5504

Using the default Lettre theme color #1D39EB as the default accent color. The stroke on the color swatch and upload icon has 20% Black opacity instead of solid gray.

[2022-09-28 13:17] escapemanuele opened #68398 "Newsletter flow underline decoration on the “Add a site icon”"
Context: pbAok1-3fI-p2#comment-5504

Utilizing underline decoration on the “Add a site icon” copy to match all text CTAs

[2022-09-28 13:19] arcangelini commented on #67817
Spent some time investigating this and it seems to be an issue on the site itself. If you preview the actual site in mobile view you will see the same thing. Trying to resolve this in Launchpad would cause a discrepancy in what we present to the user and what they actually get.

I am not sure what the actual resolution to this should be. Since this is essentially a heading block being added to a p

[2022-09-28 13:20] escapemanuele opened #68399 "Newsletter flow: Update Icon uploader states"
Context: pbAok1-3fI-p2#comment-5504

Follow guideline for states of the upload icon, more subtle on resting and hover states, while leaning towards drag moment on the Editor on focus and drag states.

![image](https://user-images.githubusercontent.com/52076348/192788969-2faaaed2-9993-46f3-ac92-ee8b94f897ff.png)

[2022-09-28 13:30] #68108 closed, assigned to JuanLucha

[2022-09-28 13:30] #67742 closed, assigned to TimBroddin

[2022-09-28 13:30] #68109 closed, assigned to TimBroddin

[2022-09-28 13:36] #68328 closed, assigned to JuanLucha

[2022-09-28 13:37] JuanLucha commented on #68327
Tested with two different languages for the invited and the inviter persons. It works:
For the inviter person:

![Image](https://user-images.githubusercontent.com/3832570/192793059-d1c7a4a8-9941-45cc-b0da-d7810bab9580.png)

While the invited person:

![Image](https://user-images.githubusercontent.com/3832570/192793122-445447f9-d1cf-4dbc-b18d-888f0dd45bdb.png)

[2022-09-28 13:37] #68327 closed, assigned to JuanLucha

[2022-09-28 14:01] Camaropilot commented on #52100
Another here: 37150572-hc

[2022-09-28 14:03] ivan-ottinger opened #68403 "Build scaffolding for the new Featured image toggle in Calypso"
As a first step in creating a new settings section for Featured image toggle, we can build the scaffolding without any specific functionality first.

Related Project thread: pdDOJh-Nu-p2

[2022-09-28 14:07] #68266 closed, assigned to alshakero

[2022-09-28 14:14] #68395 closed, assigned to escapemanuele

[2022-09-28 14:42] iamtakashi commented on #67862
A diff for GlotPress project: D88714-code

[2022-09-28 14:53] #68188 closed, assigned to alshakero, arcangelini

[2022-09-28 14:55] Addison-Stavlo opened #68407 "LaunchPad - Show email verification notification"
Lets update the launchpad to show the "Email Confirmed!" banner when applicable.

**Notes:**

Currently when a user verifies their email, they are directed to MyHome with an "Email confirmed!" banner that shows up:

![image](https://user-images.githubusercontent.com/28742426/192811015-6150aae7-dcf1-48f1-ae74-1423b015a145.png)

This banner seems to be triggered via the `verified` query param. Ex -

[2022-09-28 15:08] TimBroddin commented on #66747
I did an investigation into this ticket.

It seems that in the Figma design, there is a line-height of `24px` set on the button. In the CSS, this gets set to `1 `(which resolved to the font size `16px`). Changing this to `24px` gives a taller button.

Furthermore, there's a `1px transparent solid` border around/inside the button. This adds to the width/height of the button, as it will take on the

[2022-09-28 15:12] #68213 closed, assigned to escapemanuele

[2022-09-28 15:21] #68398 closed, assigned to escapemanuele

[2022-09-28 15:48] jamiepalatnik commented on #68245
Just noting that the user requested an email follow-up if there is any update to share: 5578307-zd-woothemes

[2022-09-28 15:50] #68397 closed, assigned to escapemanuele

[2022-09-28 15:59] cpapazoglou commented on #67863
We don't those fields to be searchable. We only want them to be synced to shadow site, so that we can query the WP.com DB for that site and deserialise them - add them to the products response.

[2022-09-28 16:07] ianstewart commented on #68242
I think I'd modify this to bringing back theme preview on Dotcom for all FSE themes. With a means to handle Classic themes as well. I understand it's a missed feature on Dotcom for users.

[2022-09-28 16:19] Addison-Stavlo commented on #66936
Fantastic!  Any ETA for this @fullofcaffeine ?

[2022-09-28 16:22] markbiek commented on #68306
Documenting the two main scenarios people seem to be running into:

# Test Scenario 1 - Upgrade from theme showcase

- New site, new domain, free site
- Skip to dashboard
- Go to TA theme page and click "Upgrade to activate"
- Checkout Business plan (I selected monthly)
- Ended up on "Thank you page" instead of `storeAddress`

# Test Scenario 2 - Unlock theme from `designSetup`

- New site, new do

[2022-09-28 16:27] mashikag commented on #68384
This was already resolved by https://github.com/Automattic/jetpack/pull/26257

[2022-09-28 16:27] #68384 closed, assigned to mashikag

[2022-09-28 16:33] jeyip commented on #60732
### Technical Notes

- Consider looking for `remove_submenu_page` hooks that only apply to atomic sites
- Consider looking for `add_submenu_page` hooks that only apply to simple sites
- Maybe the issue is in [the wpcomsh repo](https://github.com/Automattic/wpcomsh)?

[2022-09-28 16:52] jeyip commented on #66020
### Technical Notes

- Consider looking into the 2 second timer after the calypso iframe has called onLoad to become responsive. [Context here](https://github.com/Automattic/wp-calypso/blob/1b1aa4c69d7dffae9a080f3649b0c28db4f33034/client/gutenberg/editor/calypsoify-iframe.tsx#L202-L213).
- The 2 second timer is set [here](https://github.com/Automattic/wp-calypso/blob/752a66d7040f428c49941a5d1dec32

[2022-09-28 17:09] vinimotaa commented on #68250
Hi everyone, I added a requirement to double check the overall CSS specs of the modal: https://www.figma.com/file/HOg65lHD0QOfaq0QtzKQbC/Dog-Fooding?node-id=1517%3A11006

[2022-09-28 17:21] worldomonation commented on #65409
I guess I'm trying to figure out if this is something that's worth doing, and if so the priority of it.

My impression was that Add-ons were not rolled out to production.

If the above statement is false and thus Add-ons were rolled out to customers, what should happen when they go to renew in about 9 months' time? From what I gather in your comments this is the scenario you're referring to and pr

[2022-09-28 17:22] cuemarie opened #68413 "Styles: Fonts - Show list of fonts in the actual font, so it's easy to know what the font looks like"
### What

Show the list of fonts within the Styles > Typography selector in the actual font, so that a user can see what the font will look like without having to select it.

![Markup on 2022-09-28 at 10:19:19](https://user-images.githubusercontent.com/27249804/192848179-7fa02a02-eff4-4722-9aeb-51260e487e6a.png)

### Why

- 37119692-hc

This makes for a slow and less-than-lovely experience choosin

[2022-09-28 17:36] nelsonec87 commented on #68309
Closed with https://github.com/Automattic/wp-calypso/pull/68361

[2022-09-28 17:36] #68309 closed, assigned to nelsonec87

[2022-09-28 17:49] paulopmt1 opened #68414 "Marketplace Install Dialog: Unify CSS styles"
### The problem

Our modal should have these specs. Figma: [HOg65lHD0QOfaq0QtzKQbC-fi-1517%3A11006](https://href.li/?https://www.figma.com/file/HOg65lHD0QOfaq0QtzKQbC/?node-id=1517%3A11006)

![Image](https://user-images.githubusercontent.com/1044309/192853359-a83f1fa2-b5b9-45df-9a8b-d81f9bad2db1.png)

Figma: [HOg65lHD0QOfaq0QtzKQbC-fi-1183%3A11200](https://href.li/?https://www.figma.com/file/HOg65

[2022-09-28 17:51] epeicher commented on #67863
In order to sync those fields from WC.com to WP.com I can think of two options:
1. Store them serialized in WC.com in one `meta` field: That will require updating the saving and retrieval logic in WC.com to serialize/deserialize them. That single field will be added to `public_postmeta`
2. Store them in WC.com as multiple individual `meta` fields (as it currently works) and add them to `public_pos

[2022-09-28 18:15] #68247 closed, assigned to lupus2k

[2022-09-28 18:15] #68364 closed, assigned to lupus2k

[2022-09-28 18:46] paulopmt1 commented on #68414
@vinimotaa do we have interfaces for screens like **Plugins upload** and **Theme upload**?

[2022-09-28 19:14] paulopmt1 commented on #68414
Please note [to make my PR](https://github.com/Automattic/wp-calypso/pull/68362) approvable, [I added some custom CSS on specific screens](https://github.com/Automattic/wp-calypso/pull/68362/commits/d7690c33e77a37b3c130f97f7d742421bee7b891), which will likely to be changed after Vini's layouts or this PR code.

[2022-09-28 19:59] digitalwaveride commented on #62112
Looking at the [German version here](https://github.com/Automattic/wp-calypso/issues/62112#issuecomment-1203273001), the translation of that message is very bad, and maybe even a bigger issue than the broken formatting!
What's the process behind these translations? "Ad copy" has additional challenges, especially in restricted space.

As a side note: We will stop the Crowdsignal related campaigns.

[2022-09-28 20:14] danielbachhuber commented on #68204
From team meeting: if user clicks 'Add SSH key to your account', it would be nice if we pointed them back to 'Hosting Configuration' after they save. We can include a little back banner for this.

[2022-09-28 21:31] JulianBustamante commented on #67656
Deployed r253410-wpcom

[2022-09-28 21:32] #67656 closed, assigned to JulianBustamante

[2022-09-28 21:48] zachspears commented on #66551
Able to reproduce it on my personal site. Seeing this issue with Coming Soon and Private. Marking Normal Priority due to high impact for Firefox users.

General reproduction steps:
- Open a site or create a new site in the Firefox browser.
- Set site to Coming Soon or Private mode under Settings > General > Privacy.
- Open a page and try to view a Preview of the page.

[2022-09-28 21:48] vinimotaa commented on #68250
We can go with that @paulopmt1, but let's follow the full width structure. Is it possible for now?

[2022-09-28 21:54] zachspears commented on #68071
Unable to reproduce. Leaving for a second opinion.

[2022-09-28 21:55] zachspears commented on #68413
This is a great addition and would be immensely useful.

[2022-09-28 22:12] #67660 closed, assigned to jeyip, sharpirate

[2022-09-29 00:00] autumnfjeld commented on #68176
Nice job Arthur. We can probably close this.  If @alaczek or @alshakero want to make changes/edits they can do so.

[2022-09-29 00:28] autumnfjeld opened #68423 "BUG: vertical question screen layout is off"
# Description

Please fix this

![Image](https://user-images.githubusercontent.com/5665959/192911799-ed7ad0c3-41b5-43e2-b113-2b5e63c6a0f7.png)

[2022-09-29 00:43] autumnfjeld commented on #66789
Just tested. I saw a weird lag on first clicking "Choose a header", instead of the cool animiation there was awkward loading of the patterns.  I'll try to reproduce and get back about this.

I was thinking we would show ONLY[ wireframe + the 9 patters above](https://github.com/Automattic/wp-calypso/issues/66789#issuecomment-1260350649).  This provide a consistent look & feel among all the patterns

[2022-09-29 00:55] autumnfjeld commented on #66667
@fushar Yes, let's definitely fix that.  I don't think I understood the urgency of what you were getting at in our prior discussion.
 `calypso_singup_select_verticalized_design` should only fire when a user selects:
* a generated v13n design (e.g. recipe tool layouts)
* one of the v13n standard designs - and of course it must be in its' verticalized state

Thank you!!! 😃

Because of this, we can't

[2022-09-29 01:25] mpkelly commented on #62545
I also had a quick look at this. I found that using `Move to` via the ellipsis menu does actually work but only if you use the arrow keys to move focus and then press `Enter` to move the selected block to its new location. You can see that here:

https://user-images.githubusercontent.com/6851384/192916487-50b91240-5539-4871-a2e2-e9aa64a41b8d.mov

This is obviously not very clear and there should b

[2022-09-29 02:33] bangank36 commented on #68423
Addressed in #68425

[2022-09-29 02:33] #68423 closed, assigned to nobody

[2022-09-29 04:24] fushar commented on #67331
This is fixed and shipped 🚢

[2022-09-29 04:24] #67331 closed, assigned to fushar

[2022-09-29 04:59] autumnfjeld commented on #68213
@alshakero  @renancarvalho @escapemanuele  It would be nice if you all could include screenshots in your issues/PR. SO that is is super easy to identify what is being worked on.    I mention this because I'm tracking down this break change that affected all users going through onboarding.  I want to see what you were fixing..... what UI you were fixing.

One problem seems to be a bigger check wasn

[2022-09-29 05:05] fushar commented on #67880
Shipped via D88574-code

[2022-09-29 05:19] autumnfjeld opened #68427 "[Spike] Persist the BCPA home.html template through a theme switch"
# Description

For the PA project pbxlJb-2ki-p2 there are some user experience problems that I hope we can address and hopefully would reduce some of the issues HE are reporting.  Summarized here p1664345050428549/1664268210.013819-slack-CRWCHQGUB--this summary presents an ideal project, where we could build/make the changes needed to reduce user confusion.

This spike is about persisting a templa

[2022-09-29 05:55] lsl commented on #68364
Eligibility warnings are for simple site migrations to atomic. (in other words business simple sites can still see this message sometimes)

Since the copy content refers to upgrading to a business plan, I think the plan is to just hide the copy unless one of the "holds" is that you're missing a business plan.

[2022-09-29 06:41] mpkelly commented on #68018
Hi, @SaxonF. I am starting this task. I have a few remarks:

1. In your [Figma mockup](QeephiOEw5Ym0kj1jfVCqn-fi-1086%3A50193) I noticed that frame one and frame three use almost, but not quite, the same image - can these be made to be exactly the same?
2. Do you want to include the Dismiss Button or should I just add something consistent with other banners? My only worry here is that the X-button

[2022-09-29 07:05] ouikhuan opened #68431 "Import content only fail on Atomic site in onboarding flow"
**Issues**
When going through the onboarding flow and clicking "Don't have a site address" to upload content only on WordPress, it stuck at importing status without any errors or warnings on an Atomic site. See more details in the following video:

https://user-images.githubusercontent.com/4074459/192965601-e321d163-ba45-4567-8876-5672826f9210.mov

However, you'll be redirected to the wp-admin pag

[2022-09-29 07:15] #68252 closed, assigned to candy02058912

[2022-09-29 07:23] ivan-ottinger commented on #66747
Perfect! Thanks, Tim! Your recommendation sounds good to me. 👍🏼

[2022-09-29 07:52] SaxonF commented on #68018
@mpkelly
1. Yep we should use the same image. Let me know if you can export from Figma.
2. Added dismiss button.
3. Good pickup! Adjusted in Figma.

[2022-09-29 07:54] mpkelly commented on #68018
@SaxonF - I can see your edits coming through now. Thanks. And yeah, I have exported the images from Figma.

[2022-09-29 07:55] SaxonF commented on #68020
Thoughts on just linking to either Launchpad if one exists or My Home for now?
![image](https://user-images.githubusercontent.com/1072756/192973518-66d8b6e1-5084-4fe3-bc19-8d34476b8c20.png)
![image](https://user-images.githubusercontent.com/1072756/192973556-6a808179-8aeb-4c41-a841-c16f75ecf844.png)

[2022-09-29 08:10] arthur791004 commented on #68176
Okay!

[2022-09-29 08:10] #68176 closed, assigned to arthur791004, alshakero

[2022-09-29 08:37] daledupreez commented on #62112
Noting that the specific message/CTA that is long in English has been removed as of D88739-code.

[2022-09-29 08:53] TimBroddin commented on #66747
These are the affected templates:
- comment-aproval
- comment-like
- comment
- invitation-confirmed-invitee
- invite-contributor
- invite-follower
- new-follower
- new-post
- site-confirmed

I'm going through all of them to see if removing the border & changing the line-height doesn't break anything.

[2022-09-29 09:10] autumnfjeld commented on #68427
We should also look at persisting header and footer templates on theme switch: p1664377910901159/1664205177.351119-slack-C02M88KJ684

[2022-09-29 09:25] vishnugopal commented on #68390
Should we populate an errors output as well along with the API response? How should we communicate this?

Let this be a known issue for now, we can discuss this with @saygunnyc and improve later.

[2022-09-29 09:44] daledupreez commented on #67562
@blackjackkent, I think we can close this issue out now that we've deployed both #68411 and #68417. The first PR switches the default theme to Twenty Twenty Two for all signup flows where the user explicitly chooses the eCommerce plan from the plans step in signup, and the second PR ensures that we default the theme to Twenty Twenty Two for the `ecommerce` and `ecommerce-monthly` signup flows wher

[2022-09-29 09:44] #67562 closed, assigned to mreishus

[2022-09-29 10:59] vindl commented on #68020
Sounds like a good first step. 👍

[2022-09-29 11:33] #67749 closed, assigned to zaguiini

[2022-09-29 11:37] mashikag commented on #68381
Looks like there is little of control from jetpack's perspective where a pre-publish panel is placed. When it is registered it is added to the bottom of the panels list. If there is ever something included before jetpack it can register a pre-publish panel ahead of jetpack.

This still requires more debugging for me to understand the rendering process of the panel in more details.

[2022-09-29 12:28] kriskarkoski commented on #49831
I can still reproduce this.

[2022-09-29 12:33] gavande1 commented on #68146
This is already fixed in D87610-code?vs=354161&id=354944

[2022-09-29 12:49] #68363 closed, assigned to lupus2k

[2022-09-29 13:14] paulopmt1 commented on #68414
Hey @vinimotaa, in some places, we have The continue button on the left (like hosting and installing the plugin). Can we standardize it to always be at the right, like in the plugin install?

For example, this:

![image](https://user-images.githubusercontent.com/1044309/193040894-61bfb86f-ad7b-48fd-b22f-3c50c0aae973.png)

Will became:

![image](https://user-images.githubusercontent.com/1044309/193

[2022-09-29 13:24] #68357 closed, assigned to paulopmt1

[2022-09-29 13:30] epeicher commented on #68149
**Backlog grooming:**: As this is a research task, it will be timeboxed to 2

[2022-09-29 13:48] nelsonec87 opened #68440 "Premium Themes/Bundling: Show badges for themes with Style Variations"
If a theme has style variations, "Premium" and "WooCommerce"  badges are not shown:
![image](https://user-images.githubusercontent.com/3801502/193048793-d767c10e-b4af-4db3-adfc-b7bbae9f4b37.png)
![image](https://user-images.githubusercontent.com/3801502/193048937-4ccd0c03-02e9-4d87-9b0f-d093d645ad33.png)

Premium theme Varese, for example:

![image](https://user-images.githubusercontent.com/380150

[2022-09-29 13:54] #68378 closed, assigned to escapemanuele

[2022-09-29 14:01] epeicher commented on #68322
#### Backlog grooming

Third-party vendors will call the billing intent endpoint created here D87610-code. The endpoint adds SaaS products to the user’s cart automatically. But when the user’s site doesn’t have a higher plan then the cart validator throws an error indicating that the product doesn’t support plugin installation. The business plan could be added at that point by the backend code tha

[2022-09-29 14:13] epeicher opened #68441 "Marketplace: Endpoint for retrieving the billing_intent data"
We probably need to implement backend API to fetch billing intent associated with the purchase.

When the user completes the checkout process for SaaS product, we need to fetch associated billing intent from the billing intents table. The billing intents table has `redirect_url` fields saved when billing intent was first created.

Related to https://github.com/Automattic/wp-calypso/issues/68148

[2022-09-29 14:28] youbrokesomething commented on #66433
This is fixed as of Gutenburg 14.1

[2022-09-29 14:28] #66433 closed, assigned to nobody

[2022-09-29 14:30] epeicher commented on #68148
#### Backlog grooming
This task will be used to implement the backend changes. We probably need to implement backend API to fetch billing intent associated with the purchase.

When the user completes the checkout process for SaaS product, we need to fetch associated billing intent from the billing intents table. The billing intents table has `redirect_url` fields saved when billing intent was firs

[2022-09-29 14:36] youbrokesomething commented on #64396
There have been a couple of improvements to this since Gutenburg v14.0, the latest is in Gutenburg v14.3 and we should retest to see if this is fixed when that's out.

[2022-09-29 14:43] youbrokesomething commented on #68121
From the linked ticket, it looks like this is the currently expected behavior. More than 50 pages will result in a Chronological view. So, I'm going to keep this as a feature request and move it to that queue.

[2022-09-29 14:59] youbrokesomething commented on #66326
This was fixed as part of Gutenburg v14.0 and I cannot reproduce the issue anymore. Please reopen this ticket if it comes up again.

[2022-09-29 14:59] #66326 closed, assigned to nobody

[2022-09-29 15:18] youbrokesomething commented on #68323
I can reproduce this issue with some FSE themes (Blank Canvas, Twenty Twenty One, Spearhead, etc) but not with Lettre or Disco. [Seems like this is the opposite of the experience in this issue.](https://github.com/Automattic/wp-calypso/issues/52030).

[2022-09-29 15:38] youbrokesomething commented on #66551
I'm not able to reproduce this on Firefox 105.0.1 @zachspears or @desnum can you update to the newest version of Firefox and try to reproduce it again?

[2022-09-29 15:43] jeyip commented on #67606
Potential fix D88732-code

[2022-09-29 16:20] escapemanuele commented on #52191
Hi @donalirl, [a PR](https://github.com/Automattic/wp-calypso/pull/68446) has been opened for this 👍

[2022-09-29 16:22] vinimotaa commented on #68414
Hi @paulopmt1 - I'd standardize on the right-hand side

[2022-09-29 16:30] sajmes opened #68447 "Improved site/subscription management for multi-user sites"
### What

An improved user facing method for managing or just understanding ownership on a site where multiple user accounts hold different forms of ownership.

### Why

When a site has different accounts that each hold a different form of ownership, this causes the issues below. Improving this experience could potentially improve user's perceptions of WordPress.com as an efficient and safe place

[2022-09-29 16:46] youbrokesomething commented on #65836
FYI for those trying to track this issue on the core side, [this is the current open issue](https://github.com/WordPress/gutenberg/issues/41771).

[2022-09-29 16:56] mashikag opened #68448 "Newsletter: [Pre-Publish] SEO Description panel should be closed"
Reported: pbAok1-3fI-p2#comment-5536

Introduced: https://github.com/Automattic/jetpack/pull/26288

[2022-09-29 17:18] Addison-Stavlo commented on #66020
Im moving this to the on hold column, as it does seem like we will be getting rid of the calypso iframe soonish (resolving the problem) and we havent been getting any reports of this being an issue for users.

[2022-09-29 17:19] Addison-Stavlo commented on #60591
Im moving this to the on hold column, as it does seem like we will be getting rid of the calypso iframe soonish (resolving the problem) and we havent been getting any reports of this being an issue for users.

[2022-09-29 17:20] Addison-Stavlo commented on #60741
related to the other issue and comment here - https://github.com/Automattic/wp-calypso/issues/66936#issuecomment-1238090537  - CSS tidy may be removed completely from simple sites.

[2022-09-29 17:23] #68035 closed, assigned to sharpirate

[2022-09-29 17:24] #68250 closed, assigned to paulopmt1

[2022-09-29 18:06] jamiepalatnik commented on #68245
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- I followed the instructions to test this. I tried two tests, posting a link to the other site on each site. Both sites received pingback notifications in the comments as expected.
- Screenshot:

<img width="1218" alt="Pingback" src="https://user-images.githubusercontent.com/30788962/193109349-eacb427d-192

[2022-09-29 18:40] #68414 closed, assigned to paulopmt1

[2022-09-29 18:41] jamiepalatnik commented on #68354
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- Was able to replicate on iPhone and iPad with multiple themes.
- Searching further it looks like this is already reported here: https://github.com/Automattic/jetpack/issues/24745

📌 ACTIONS
- Closed as duplicate of https://github.com/Automattic/jetpack/issues/24745

📌 Message to Author
- @ariel-maidana I'll add th

[2022-09-29 18:41] #68354 closed, assigned to nobody

[2022-09-29 19:26] jamiepalatnik commented on #68071
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- On Chrome I was able to replicate this, but not consistently. It only happened the first time I tried to preview a draft post in a new tab. I got a page not found message. When I tried again, it worked.
- On Safari I was able to replicate the blank screen reported by some users

[2022-09-29 19:40] jamiepalatnik commented on #68447
📌 ACTIONS
- Feature request kept

📌 Message to Author
- 100% agree with making who owns what more clear to users on multi-user sites. Thanks for posting @sajmes!

[2022-09-29 21:44] paulopmt1 opened #68454 "Eligibility warning improvements"
We need a few improvements from Vini's feedback: p1664480842612989/1664477943.507869-slack-CKZHG0QCR:

- [x] 4px radius corner in the modal at the grey (domain) box
- [x] Pricing that is displayed in the modal - must be dynamic, following the user’s currency and the actual monthly fee for Business Plan
- [x] Update the modal title to `Upgrade your plan to install plugins`
- [x] Filter out `NO_BUSI

[2022-09-29 22:08] carinapilar opened #68455 "Switch Site: Option to Hide Sites in sidebar"
### Quick summary

When you click on Switch Site to choose another one of your sites, it's showing all of them, including hidden ones.

### Steps to reproduce

1. Go to your WordPress.com account.
2. From My Sites, click on Switch Site
3. Check the list of your sites.

You can hide sites from here: https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs

### What you expected to happen

T

[2022-09-29 23:26] phcp opened #68456 "[New Subscriber] Fix subscriber heading layout"
Context: p1664476423685359-slack-C02TCEHP3HA

It should be fixed following the mobile layout for New Subscriber template on Figma.
c5bt2O2vWhTlhSREC89Bw2-fi-958%3A9456

[2022-09-29 23:51] worldomonation opened #68457 "Flaky E2E: Install plugin"
### Spec file

specs/jetpack/plugins__install-remove.ts

### TeamCity ID

8699100

### Logs

[code]

and its related failure:

[code]

[2022-09-29 23:52] worldomonation commented on #68457
![image](https://user-images.githubusercontent.com/6549265/193161554-802dc177-e0e3-43a4-ac77-b00b1115e464.png)

[plugins__install-remove__return-to-hello-dolly-page__0-0.webm](https://user-images.githubusercontent.com/6549265/193161588-41b8572a-402f-4de5-8999-f3ae58aeb373.webm)

[2022-09-29 23:59] autumnfjeld commented on #68376
Thanks for calling that out @fushar .   In the spirit of precise tracking we should actually have two events here: one for user click and one for modal showing.

Also I see that `calypso_signup_design_upgrade_modal_show` isn't registered. :(. Could you be so kind to do that as part of this work?  THen you can ensure the descriptions in tracks are clear and precise. :)

**#1**
Tracking the user act

[2022-09-30 00:08] autumnfjeld commented on #67880
Excellent. I suspect it was because I had so many sites, I've since used to delete about 40 sites. Here's a handy tool in case you ever need it:  in mc tools: /tools/bulk-delete-test-sites/

[2022-09-30 00:08] #67880 closed, assigned to fushar

[2022-09-30 02:54] arthur791004 commented on #68440
@SaxonF @taipeicoder I think we still need those badges when previewing the theme with style variations. What do you think?

[2022-09-30 02:58] taipeicoder commented on #68440
Should we place badges below the theme title instead of next to it? The sidebar is narrow enough to create overflow for titles as "Twenty Twenty-Two", for example.
![Screen Shot 2022-09-30 at 10 58 01 AM](https://user-images.githubusercontent.com/797888/193180643-0ce6a8ca-49ec-4d4b-a1a6-78be8600342e.png)

[2022-09-30 03:36] autumnfjeld opened #68463 "Tracking how position of themes in the Design Picker grid impacts user selection"
# Description
This is an issue I'd like someone on the team to take (not me 🤣). It's a straightforward analysis.

First we'll ship the theme-with-styles such that they appear in a random order in the DP grid.    Soon after (say 7-10 days) we'll ship a change #68183 that will put theme-with-styles towards the top of the DP, so they get more prominent position.

This will give us a cool opportunity

[2022-09-30 04:10] bangank36 commented on #68182
Follow up on this [bug](https://github.com/Automattic/wp-calypso/pull/68339#issuecomment-1263004881), one of the reason that messes up the scrolling of block preview is

*    Not all pattern is tied to 01 `.wp-block-group` class, for example, [contact-5](https://dotcompatterns.wordpress.com/2020/05/22/contact-5/) pattern consists of 2 `.wp-block-group`

Therefore I think we still need to update AP

[2022-09-30 05:27] p-jackson commented on #68020
It's possible to have a checklist immediately after completing a previous checklist.

https://user-images.githubusercontent.com/1500769/193196321-3c0f05e4-48ff-4887-b362-ef9ef52fafe1.mp4

So what I don't like is the idea that after showing one donut in the sites management page, that after following the link and going through the checklist, the sites management page will show you _another_ donut y

[2022-09-30 05:36] alaczek opened #68465 "Cover block: Nested block font colour is not adjusted properly on style variation switch."
### Quick summary

I'm working on the Lynx theme and adding global style variations specifically. I noticed that when switching between variations when going from one with a light background to one with dark background the heading/paragraph color inside a Cover block isn't being automatically adjusted.

### Steps to reproduce

1. Activate the Lynx theme on a test site (easiest way is to go through

[2022-09-30 05:44] SaxonF commented on #68285
@WBerredo Figma here 0EogtxvlmxMGcnEEaMVECv-fi-1123%3A26950. Let me know if you need help exporting the image. I'd recommend taking a look at the pattern assembler work from Ganon as it uses a similar card to showcase the blank canvas theme.

[2022-09-30 05:50] sharpirate opened #68466 "LaunchPad: Follow up on task statuses"
### Details

There has been an ongoing discussion about refactoring the [current implementation of the LaunchPad task statuses](https://github.com/Automattic/wp-calypso/blob/add/tracks_events_to_launchpad/client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/checklist-item.tsx#L19-L23). The last time we worked on these was in #68052.

Currently, we have three task statuses:

[2022-09-30 06:01] p-jackson commented on #68020
I take that back. In the above video I launch the site, so even though the checklist is still available in My Home, the donut won't appear on `/sites` because the site has been launched.

[2022-09-30 06:53] arthur791004 commented on #68182
I think it might be better to keep using `nth-child` selector. I'd not prefer to update the API for this feature unless it's inevitable

[2022-09-30 06:56] arthur791004 opened #68467 "Stepper Framework: Redirect to first step once the ONBOARD_STORE is expired"
Refer to https://github.com/Automattic/wp-calypso/issues/68374, it might be better to redirect the user to the first step once the onboarding data is expired

[2022-09-30 07:29] TimBroddin opened #68468 "[New subscriber] Hide avatar when displaying avatars is turned off in discussion settings"
Similar to D88281-code

[2022-09-30 08:47] ivan-ottinger commented on #66747
D88806-code is now merged and deployed.

[2022-09-30 08:47] #66747 closed, assigned to TimBroddin

[2022-09-30 08:59] jeroenpf commented on #68390
The only place we can communicate this is in the email because we run the import async.

There can be other reasons that an email address was skipped and we should think about how we communicate this. Keep in mind that for large email lists there  could potentially be many skipped emails.

[2022-09-30 09:00] southp commented on #65409
@worldomonation The add-ons did roll out to customers; just not in the signup flow. It can be accessed under the Upgrades tab:
<img width="1164" alt="image" src="https://user-images.githubusercontent.com/1842898/193231919-ed298960-839a-4406-b163-c342d23544f4.png">

Thus, my understanding to @chriskmnds 's comment is to cover key actions in this page like we did for the plans page, i.e. a user can

[2022-09-30 09:03] mpkelly commented on #68018
Hi @vindl, regarding this requirement:

Maybe we should not show the banner if the user already has one or more Link in Bio sites, regardless of the current site, which isn't shown on the `/sites` page currently?

Also, is there a way to know if a site was created via the Link in Bio flow or was that something that needs to be added? Looking at the `me/sites` response, I can see a couple of proper

[2022-09-30 09:44] TimBroddin commented on #68456
I fixed the space, but still have to do the break on mobile.

[2022-09-30 09:44] bizanimesh commented on #68455
I noticed this on my account yesterday, and we have a report from one user as well.

- [ ] 5592227-zen

[2022-09-30 09:48] ouikhuan commented on #68004
TBD event name, so not adding it yet for this update

[2022-09-30 09:50] #68382 closed, assigned to mashikag

[2022-09-30 09:52] arcangelini opened #68475 "Help Center: play sound errors without interaction"
### Details

This is more of an edge case, but if the user doesn't interact with HappyChat before minimizing it and then gets a message the `playSound()` breaks. This is due to a browser specific limitation that prevents a window from making sounds at the start of a site with no interaction from the user.

Once the user responds or clicks in the window the problem is resolved, so I don't think thi

[2022-09-30 09:57] cpapazoglou opened #68476 "Registering products to WC.com host api plan returns an error"
Steps to Reproduce
- Sandbox `public-api`
- Buy WooCommerce Bookings through WordPress.com

Result:
- Order is not created in https://woocommerce.com/my-account/orders/
- Error is logged in `wccom-alerts` slack channel

**ERROR production**
Product woocommerce-bookings is not part of [WordPress.com](http://wordpress.com/) Marketplace.
Logged by `/wccom-plugins/host-plan/includes/api/v1/class-rest-

[2022-09-30 09:58] cpapazoglou commented on #68476
I can’t yet understand the root cause of the error. The product slug is parsed but it appears that woocommerce-bookings  doesn’t belong to the WordPress.com Marketplace package. The code that includes it in the package checks if it has a term from the `wpcom_marketplace_categories` taxonomy and as it seems it has such terms assigned

![Image](https://user-images.githubusercontent.com/12430020/1932

[2022-09-30 09:58] cpapazoglou commented on #68476
@JulianBustamante  can you take a look?

[2022-09-30 10:00] #67028 closed, assigned to ouikhuan

[2022-09-30 10:09] arcangelini opened #68477 "Help Center: errors in widget.wp.com need env_id"
### Details

This took me a while to track down, but there is an error in the console that shows that the `env_id` is missing in the config. This only appears if there is a JS error in widgets.wp.com. Manually adding the `env_id` to the config will reveal the actual error that is occurring.

<img width="1539" alt="Markup 2022-09-30 at 12 01 51" src="https://user-images.githubusercontent.com/332587

[2022-09-30 10:33] rcrdortiz opened #68479 "Global Styles: Change event names"

[2022-09-30 10:36] rcrdortiz opened #68480 "Global Styles: Rename events being sent to tracks"
### Details

Rename the Global Styles events being sent to tracks so that they include the `core` keyword

### Checklist

- [ ] Rename wpcom_global_styles_create to wpcom_core_global_styles_create
- [ ] Rename wpcom_global_styles_customize to wpcom_core_global_styles_customize
- [ ] Rename wpcom_global_styles_reset to wpcom_core_global_styles_reset

### Related

_No response_

[2022-09-30 10:40] simison opened #68481 "Remove quick start session mention from new site welcome notification"
### What

Remove "quick start session" from new site notification as we don't offer these anymore.

![image](https://user-images.githubusercontent.com/87168/193252875-84f16b4a-5a26-496b-9764-a0936450b22a.png)

### Why

No quick start sessions in premium plan anyway.

### How

Just remove entirely the text highlighted in blue above.

[2022-09-30 10:48] #68383 closed, assigned to mashikag

[2022-09-30 11:10] #68454 closed, assigned to lupus2k

[2022-09-30 11:10] mpkelly commented on #68018
@SaxonF I made some progress with this. You can test the draft PR here https://github.com/Automattic/wp-calypso/pull/68483

[2022-09-30 11:20] mashikag opened #68484 "[Invite All] Clean up deprecated old invite email template code"
- `HTML_Email->render_html`
- `HTML_Email->bump_send_stats`
- `InviteConfirmed_Mailer->send_notification_new`
- `wpcom_use_2022_invitation_email_template`

[2022-09-30 11:21] ivan-ottinger commented on #68468
D88886-code is now merged and deployed.

[2022-09-30 11:21] #68468 closed, assigned to TimBroddin

[2022-09-30 11:29] wojtekn commented on #68021
Closing. We can skip this one as the tab is the default way to navigate and it works for both buttons:

[2022-09-30 11:29] #68021 closed, assigned to wojtekn

[2022-09-30 11:35] TimBroddin commented on #68456
Patch for the line-break, sadly it doesn't work in Gmail. I'm researching a bit more.

D88905-code

[2022-09-30 11:42] ivan-ottinger commented on #68403
https://github.com/Automattic/wp-calypso/pull/68402 is now ready for review.

[2022-09-30 11:44] ivan-ottinger opened #68485 "Add Featured image to the New Post email template"
The goals of this task is to add the Featured image to the _New Post_ email template.

Related Project thread: pdDOJh-Nu-p2

[2022-09-30 11:53] #68399 closed, assigned to renancarvalho

[2022-09-30 12:30] chriskmnds commented on #65409
Hey @worldomonation! Just to second what @southp said above :-)

There are also a few "finer" things that we could potentially test in some form, but probably less critical i.e. the cards become inactive and show a "purchased" or "included in your plan" text depending on the respective action taken (user purchased the add-on or purchased a plan with that feature).

[2022-09-30 12:36] mashikag opened #68486 "Newsletter: [Post-Publish] Convert to audio panel should not be open"

[2022-09-30 12:45] JuanLucha opened #68487 "The `i` button seems unaligned in the users interface"
![Image](https://user-images.githubusercontent.com/3832570/193272665-b0ba13ec-2d8e-45b0-b6f0-7b1b14ed0e72.png)

Seems like the `i` button is not aligned vertically. This can be found in the user list in calypso.

[2022-09-30 12:48] #68456 closed, assigned to TimBroddin

[2022-09-30 13:01] Addison-Stavlo opened #68488 "LaunchPad - support showing chosen custom domains"
Identified via p2 - pbAok1-3fx-p2#comment-5543

The launchpad's domains section does not show the custom domains chosen, but only the free wordpress.com versions. We need to ensure this properly shows custom domains. The issue right now is that the custom domain is still pending, not entirely set up and not registered as the primary domain for the site yet. This takes time, and we need to find a w

[2022-09-30 13:08] chriskmnds commented on #65409
@worldomonation Thanks for looking into this!

My impression is if add-ons will remain in Calypso admin, then good chance they'll become integral to the bigger picture, with potentially more add-ons being introduced ("storage" maybe next, according to that Slack thread?). I think some e2e testing would suffice vs unit testing any individual parts here if we proceed. :-)

[2022-09-30 13:17] bangank36 commented on #68182
@arthur791004 if you have a look at the mentioned pattern, you can see it consists of 2 `.wp-block-group`
 

![Markup 2022-09-30 at 20.13.23.png](https://cdn-std.droplr.net/files/acc_1243635/82gn8j)

## In preview

![Markup 2022-09-30 at 20.15.58.png](https://cdn-std.droplr.net/files/acc_1243635/Vwb3en)

[2022-09-30 13:24] vinimotaa commented on #67285
Hi team, this is a quick update/iteration on the above.

While I keep exploring the overall redesign of this top header, we need to update the existing one with the following changes;

![topheader](https://user-images.githubusercontent.com/97929097/193278552-a581f3ea-9679-4c88-8413-2203689f042f.jpg)

- Review all the padding specs from the image above
- Add a Light Grey background #fdfdfd to the t

[2022-09-30 13:26] alshakero commented on #68359
This will be fixed by https://github.com/Automattic/wp-calypso/pull/68292

[2022-09-30 13:43] alshakero commented on #68353
Closing as done in https://github.com/Automattic/wp-calypso/pull/68436

[2022-09-30 13:43] #68353 closed, assigned to renancarvalho

[2022-09-30 13:49] danielbachhuber commented on #68018
@SaxonF @vindl @p-jackson Given the obtrusiveness of this notice, how will we evaluate whether or not it performs to our expectations? I'd imagine we'll want to only keep it if it performs well.

[2022-09-30 13:56] BogdanUngureanu commented on #67550
Handled by @obenland in https://github.com/Automattic/wpcomsh/pull/1100 with a follow-up improvement in https://github.com/Automattic/wpcomsh/pull/1102. The second PR looks fine, but I made an improvement suggestion.

Moving this to review on our board.

[2022-09-30 14:04] BogdanUngureanu commented on #67715
Authorization header diff is ready for review in D87893-code

Adding the provision_license webhook is in D88919-code. The code changes are ready but I haven't manually tested it or added the testing instructions.

[2022-09-30 14:06] phcp opened #68489 "[All] Set the title color to Gray 100 on all templates"
Context: p1664543093072019-slack-C02TCEHP3HA

[2022-09-30 14:14] danielbachhuber commented on #68020
Now that we're talking about the donut, I feel like it does give me a little anxiety. Maybe just show the 'Launch Guide' link, or test donut vs. non-donut to see which performs better?

Also, relevant to this issue and #68018: I'd be curious about how many users might see this state (`Coming Soon site in Sites page list`)

[2022-09-30 14:46] SiobhyB opened #68490 "QR Code Login: Intermittent Error"
### Quick summary

When attempting to test the QR code flow at the login screen, I encountered the following error: `Mobile App QR Code login is currently unavailable.`

| QR Code  | Error |
| ------------- | ------------- |
| <img src="https://user-images.githubusercontent.com/2998162/193295709-f462aac3-9997-4427-9419-118cbfc3b43a.png" width="100%"> | <img src="https://user-images.githubuserconte

[2022-09-30 14:53] nellofn commented on #55335
Just recording a user who is still asking for this issue in 5595541-zen. Is this being looked at?

[2022-09-30 14:54] vindl commented on #68018
@mpkelly yes, that's what I had in mind.

I'm unaware of a good way to check for that, so I'll loop in @Addison-Stavlo for ideas.

[2022-09-30 15:01] #68284 closed, assigned to WBerredo

[2022-09-30 15:01] vindl commented on #68018
What "good performance" means quantitatively is up for debate. In my opinion, every new site creation counts. But to have a starting point for conversation, how does this sound: 5% of users that see the notice end up clicking on the link, and 20% end up creating a new site - so 1% overall conversion rate.

[2022-09-30 15:22] agrullon95 commented on #68407
Potential fix: https://github.com/Automattic/wp-calypso/pull/68453

[2022-09-30 15:23] agrullon95 commented on #68112
Potential fix PR: https://github.com/Automattic/wp-calypso/pull/68450

[2022-09-30 15:59] BogdanUngureanu commented on #67715
D88919-code is now RfR.

[2022-09-30 16:38] #67222 closed, assigned to nobody

[2022-09-30 16:54] danielbachhuber commented on #68018
Sounds like a great starting point!

[2022-09-30 17:08] vinimotaa opened #68492 "Marketplace: Improving search states"
As part of the overall marketplace, design revamp exercise, we’d like to improve our existing search states.

**Results page**
Scenario; a user searching for a query and the page returning results

![results_new](https://user-images.githubusercontent.com/97929097/193325734-b010859c-0b65-4a76-a998-33da6d92d487.jpg)

- Remove the existing (yellow) highlights of the query on the page.
- Keep the cate

[2022-09-30 19:02] wpshellbelle commented on #53424
Another report at 37188852-hc

[2022-09-30 19:11] ariel-maidana opened #68494 "Spotify embed not working"
### Quick summary

Embedding Spotify content (song or podcast episode) doesn't work. This issue affects the Spotify block, the Embed block, and the Audio block.

### Steps to reproduce

1. Create a new page.
2. Add a Spotify block.
3. Paste a podcast episode URL.
4. Click on embed.

### What you expected to happen

The episode should be embedded.

### What actually happened

A message saying that

[2022-09-30 19:14] ariel-maidana commented on #68494
Please follow up with 5597227-zen once the issue is solved.

[2022-09-30 19:21] ariel-maidana commented on #68494
Another report here: 5595833-zd-woothemes
Also affects Anchor embeds.
Please follow up with the user once it's solved.

[2022-09-30 19:49] eduardozulian commented on #53424
This is still an issue for 33025968-hc

[2022-09-30 19:53] eduardozulian commented on #32533
Still an issue: 37188910-hc

[2022-09-30 19:55] eduardozulian commented on #53424
This is still an issue:

33025968-hc

@nagpai 's workaround did not help.

[2022-09-30 20:10] wiesenhauss commented on #68494
New reports here:
5597612-zen
5597624-zen

[2022-09-30 21:29] eduardozulian commented on #68494
Another report: 5597648-zen

Another workaround is to use the [Shortcode block](https://wordpress.com/support/wordpress-editor/blocks/shortcode-block/). Example: `[spotify https://open.spotify.com/episode/2WMa1esNtw69RFNplCwdY9?si=64d2df849d37417f]`

(cc @ariel-maidana in case you'd like to update your report!)

[2022-09-30 21:31] ccwalburn commented on #68130
I had a user with this issue last week and referred them to the plugin support since we don't support it, but I wanted to mention the workaround I found in case it helps others.

I am consistently able to edit an Accordion block by selecting it in List View.

https://user-images.githubusercontent.com/32983813/193358954-3cc111fd-e279-433a-9fc8-8ff9e67270c1.mp4

[2022-09-30 22:40] maxlaf commented on #65214
5596378-zen. No Woo extensions aside from WCPay. Tried to replicate this on an AT site a little while ago but was unable to. The workaround solved the issue.

[2022-10-01 12:36] freelylovinglife commented on #68494
Another report here: 5597049 -zd Please follow up with user once resolved.

[2022-10-01 12:50] lunasera41 commented on #53424
Same issue here for 37196887-hc provided shortcode workaround

[2022-10-01 15:36] NoHopeRadio commented on #67943
I see this is closed, but I did just receive another request for this, so maybe I should report this as a feature request instead of a bug.

A variation on the CSS I provided before that worked in this slightly different case:

[code]

hc-37198043

[2022-10-01 17:18] jamiepalatnik commented on #25077
This option would be helpful for a user's request: 5598783-zd-woothemes

[2022-10-01 21:20] ericfri commented on #65214
5599477-zen

The workaround worked once, then the issue came back. I wasn't able to gain access to the WooCommerce settings, they kept redirecting to the WooCommerce home page.

I tried running the workaround reset multiple times and it would somewhat work but the issue kept coming back.

[2022-10-01 22:13] anuguywp opened #68498 "Site-branding & Primary Navigation, on Mobile, Positioned on top of Ads top of site."
### Quick summary

![siteheaderads](https://user-images.githubusercontent.com/92202095/193429807-9a5fa6e9-9131-41a8-bb3e-65db54383fd8.png)

You will notice in the image that the site logo and menu on mobile is rending in front of the ad at the top of the site. This is because of an absolute positioning that gets added under 481px width

### Steps to reproduce

1. View site on actual mobile device.

[2022-10-01 22:14] anuguywp commented on #68498
5598698-zen

[2022-10-01 22:39] christianguerrag commented on #48731
Issue reported by a user here 5599613-zen

[2022-10-02 03:24] tanjoymor opened #68499 "Contextual menu option to switch Published to Draft"
### What

We have the ability to "Publish" a Draft page from the contextual menu in the list of pages: ![LbOJBj.png](https://user-images.githubusercontent.com/42655541/193436475-c566a487-4b78-4d68-b830-466addb636d9.png)

But we can't switch a Published page to be a "Draft" from the list of pages: ![Jw8riq.png](https://user-images.githubusercontent.com/42655541/193436476-cb032be7-19c5-48cd-8ed3-5cf

[2022-10-02 03:39] tanjoymor opened #68500 "Homepage switching not working on select themes"
### Quick summary

When switching to some of the "Hybrid" themes, we're not presenting the choice to retain the Homepage vs load the theme's Homepage and instead we are by default moving the existing Homepage to drafts and pulling in the theme's demo Homepage.

This happens with **Stratford**, **Balasana**, **Mayland**, **Dalston**, and **Leven**. All other themes here: https://wordpress.com/theme

[2022-10-02 04:00] tanjoymor opened #68501 "Classic View theme preview not working"
### Quick summary

When you have a Hybrid or Classic theme active, the Preview feature under the "Classic View" doesn't work on Block themes.

### Steps to reproduce

1. In a Simple Site, activate any [Hybrid](https://wordpress.com/themes/filter/hybrid-themes) or [Classic](https://wordpress.com/themes/filter/classic-theme) theme
2. Switch the Theme's page view from Default to Classic (top right co

[2022-10-02 08:40] pauljacobson commented on #68494
I have a report in 5596579-zen

I created a test page here: p9Nurx-Bo-p2

I could add an embed for a podcast episode in the editor, although only a link appeared on the post itself. I didn't have a problem embedding a music track though. An embed for the podcast episode using the link for episode failed.

https://user-images.githubusercontent.com/2912202/193445578-bdd9020d-3bfb-46c3-8ef2-dfe1f90c0

[2022-10-02 11:23] essleeung commented on #68494
Another case here: 5600183-zd-woothemes

Shared the shortcode as a workaround.

- [ ] Update user once fix is done.

[2022-10-02 12:40] wpshellbelle commented on #65214
37206872-hc

Workaround worked for this user

[2022-10-02 12:47] wpshellbelle commented on #68494
Another report at 5600488-zen

Provided shortcode workaround.

[2022-10-02 12:52] chiape commented on #68494
+1  zd-5598017

Shared the shortcode workaround too!

[2022-10-02 19:19] jerrysarcastic commented on #52494
Noting that we had a site owner report in our public forums that they have a similar issue when setting form field widths to 50%, where the content seems to not display correctly due to the lack of the same setting for fields:  https://wordpress.com/forums/topic/draft-looks-fine-but-preview-is-wrong/?view=all

In this case the site owner had to resort to adding extra characters to their headings t

[2022-10-02 19:33] NoHopeRadio commented on #68494
+1 30892895-hc

Gave shortcode instructions! User does want to know when this is updated.

[2022-10-02 20:08] scruffian commented on #63967
I'm seeing this on haiku.blog. I was on a 2600 day streak and its suddenly gone down to 8! I have checked all the posts and I can't find a gap. Feel free to look at my site for an example. Maybe I set a post date wrong?!

[2022-10-02 21:15] NoHopeRadio commented on #68494
+1 5600539-zen

[2022-10-02 22:57] jerrysarcastic opened #68502 "Search Block: Does not correctly display "button inside" setting on front end."
### Quick summary

When adding a search block with the "button inside" setting, the view in Gutenberg correctly shows the submit button inside of the search input area.  On the front end of the site the submit button shows outside of the search input area.  This seems to affect quite a few classic themes, but is not an issue with newer themes with better support for blocks.

### Steps to reproduce

[2022-10-03 00:46] kelasante opened #68503 "Form Block | Checkboxes Are Disoriented on Mobile For Items With Long Text"
### Quick summary

When an item option is added to a Checkbox group within the Form block, and it has long text, the checkbox reduces size on mobile.

<img width="647" alt="Markup 2022-10-02 at 14 39 02" src="https://user-images.githubusercontent.com/74204272/193483207-1f6f7005-a0f9-41bd-8eca-b9d0b7f69b00.png">

### Steps to reproduce

1. Add a form block to a page.
2. Add a Checkbox Group to the

[2022-10-03 02:14] p-jackson commented on #68020
That "todo list induced anxiety" is sort of by design though isn't it? We're using the checklist as a way to drive folks to launch. Usually I'd advocate people being able to skip or dismiss the checklist, but I don't think we really want any unlaunched sites long-term right? Either you should launch your site or you should delete it.

My guess is not very often for the tailored launch flows (that

[2022-10-03 03:10] arthur791004 commented on #68182
@bangank36 I think we could probably inquire of designers whether we could wrap this kind of pattern into a single group. What do you think? cc @autumnfjeld @alaczek

[2022-10-03 03:19] bangank36 commented on #68182
Definitely!

[2022-10-03 03:55] miksansegundo commented on #66789
It sounds good to me to remove those patterns to provide a consistent look & feel with image placeholders and because we have other patterns that look very similar.

On the other hand, I think that spreading some patterns with true images in the list make the list more colorful and atractive, and also could help users to better understand the image placeholders in the wireframe patterns.

I think

[2022-10-03 04:44] autumnfjeld commented on #67854
@Automattic/ganon  Moving this to top of Ready for Dev.    I was debating to update the list to 15 verticals or maybe more, like 20.  Anyone have any opinions on this?

[2022-10-03 05:50] Robertght opened #68506 "Premium content block: member can access the content after the first 24 hours"
### Quick summary

We have someone who is unable to access their content in the first approx 24 hours after the subscription is renewed.

The user tried to log out/in and to clear the cache, but this didn't help:

I have tried different browsers (Chrome, Safari)
This behaviour happens on the monthly anniversary of my subscription.

Other info:

cc @Automattic/ajax for further help

bcc @inaikem

#

[2022-10-03 05:54] #68480 closed, assigned to rcrdortiz

[2022-10-03 06:15] robfelty commented on #67863
I think that we have agreed that since these fields are only going to be stored, but not indexed, that it would be best to go with option 1. They will need to be added to the list of `public_postmeta`, as you mention.

[2022-10-03 06:17] taipeicoder commented on #68440
From p1664762706432389-slack-CRWCHQGUB, we will show the badges above the theme title:
![Image](https://user-images.githubusercontent.com/797888/193512328-3cf63c01-3c9a-4368-a220-f5d5616352fa.png)

[2022-10-03 07:00] #68146 closed, assigned to gavande1

[2022-10-03 07:04] #65235 closed, assigned to epeicher, cpapazoglou

[2022-10-03 07:47] ouikhuan commented on #68004
Added `calypso_site_importer_install_jetpack` event in after discuss with @vishnugopal

[2022-10-03 07:55] TimBroddin opened #68508 "Site Settings: save buttons in the Settings section are inconsistent"
In the Settings pages of Calypso, the use of Save buttons is inconsistent. Some sections have them, others don't.

Also, most (?) of the settings seem to be auto-saved with AJAX when you change them, but you still get an alert when you try to navigate away.

![CleanShot 2022-10-03 at 09 53 50@2x](https://user-images.githubusercontent.com/528287/193527173-ad09fac1-1f45-4e2a-be63-91d4f3cc7ad2.png)
!

[2022-10-03 08:13] miksansegundo commented on #68182
@bangank36 In this other [issue](https://github.com/Automattic/wp-calypso/issues/66789#issuecomment-1261609964), we are discussing removing that pattern from the list to provide a consistent look & feel.

Do you know if there are other patterns affected? I'll review all the patterns again to check that they have only one `.wp-block-group`.

[2022-10-03 08:14] bangank36 commented on #68182
I'll check them again

[2022-10-03 08:28] ouikhuan commented on #68004
Closing the issue for now as it is deployed in #68474

[2022-10-03 08:28] #68004 closed, assigned to ouikhuan

[2022-10-03 08:29] ivan-ottinger commented on #66450
Hey @saygunnyc 👋  When a _post comment_ is liked, the related email template currently displays the **comment excerpt** only - as can be seen in the screenshot above. This has been the case since we started working on the new email templates.

When looking at the design in Figma (c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A21504), the comment is short there and therefore it is not clear whether the intention

[2022-10-03 08:31] sharonlaker19 commented on #68494
- [ ] 5602168-zen

[2022-10-03 08:49] miksansegundo commented on #68182
@bangank36 I already checked all patterns, after this [PR](https://github.com/Automattic/wp-calypso/pull/68509) is merged to remove some patterns, every pattern will have only one wrapper with `.wp-block-group`.

[2022-10-03 08:51] bangank36 commented on #68182
Then I think this PR is good to go as wellx without touching the API again

[2022-10-03 09:06] saygunnyc commented on #66450
Thanks for the ping @ivan-ottinger! Let's not change the logic of existing emails. I believe they also display the comment excerpt. Please let me know if I'm wrong.

[2022-10-03 09:22] ivan-ottinger commented on #66450
Thank you for your response Saygun!

For instance, the _New Comment_ email displays the full comment (outside of the blockquote though):

![Markup on 2022-10-03 at 11:11:53](https://user-images.githubusercontent.com/25105483/193542653-4195aa02-0536-4173-acda-7107dbbdad4f.png)

Here is an example of current email (excerpt) vs what we have in mind (full comment):
![Markup on 2022-10-03 at 11:19:46](

[2022-10-03 09:24] saygunnyc commented on #66450
This seems wrong. 😄

I was meaning to ask the initial existing, before we updated the designs.

[2022-10-03 09:43] mmtr opened #68512 "Global Styles: Setting default variation clears styles from previous selected variation"
### Quick summary

The styles previewed in the Global Styles variation picker are lost when switching from a non-default variation to a default variation.

https://user-images.githubusercontent.com/1233880/193547692-9740599a-0b7c-484d-a561-329c4bbc248a.mov

### Steps to reproduce

- Go to https://wordpress.com
- Switch to a Simple or Atomic site
- Make sure the site uses a block theme such as Twen

[2022-10-03 09:46] mmtr commented on #68512
Looks like this is caused by the logic that tracks the inserter menu events introduced by #41168, since the issue is not reproducible if I revert those changes. cc @retrofox

[2022-10-03 09:47] TimBroddin opened #68513 "[New Liked Post] Clean up feature flag code"
More info: D88965-code

[2022-10-03 09:52] ivan-ottinger commented on #66450
This is how it actually was in the old _New Comment_ template as well:

![Markup on 2022-10-03 at 11:39:43](https://user-images.githubusercontent.com/25105483/193547128-7c1ba5db-b554-4c8c-bee9-c9361e7da8f6.png)

→ The template is displaying full comment - outside of the blockquote. What's in the blockquote is the actual content being commented on - either the post content or the previous comment a

[2022-10-03 09:54] saygunnyc commented on #66450
Oh, I see, so that one is a comment to a comment.

Makes sense for now.

[2022-10-03 10:08] ivan-ottinger commented on #66450
Yes, even when the comment is left on a post directly (not as a response to existing comment), the post content is displayed in that blockquote.

Thank you for sharing the design point of view, Saygun! We will not make the change then and leave the comment excerpt there.

[2022-10-03 10:08] #66450 closed, assigned to phcp

[2022-10-03 10:48] arthur791004 commented on #61729
Oooops! I got the reason why I cannot reproduce the issue mentioned in 4840980-zen as its original issue of this ticket and it had been resolved on [Jun 30](https://github.com/Automattic/wp-calypso/issues/61729#issuecomment-1170764027)...

As a result, https://github.com/Automattic/wp-calypso/issues/61729#issuecomment-1257637926 is another issue when the user lands on https://wordpress.com/post/IN

[2022-10-03 11:00] JuanLucha opened #68514 "[Invite Role] Make distinction between the email template text and the user's message"
The figma for what it looks like: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A17275

[2022-10-03 11:00] JuanLucha opened #68515 "[Invite Follower] Make distinction between the email template text and the user's message"
The figma for what it looks like: c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A17275

[2022-10-03 11:19] Sandkorner commented on #68494
5602202-zen

[2022-10-03 11:20] retrofox commented on #68512
Hi, Miguel. I haven't touched those files for a long time ago. Thanks for dealing with this.
I'd try to take a look in a few days if that's still useful.

[2022-10-03 12:09] Addison-Stavlo opened #68519 "LaunchPad - Site preview to handle insecure domains"
There is a timeframe in the domain transfer process where a custom domain is set as the primary domain but not fully resolved to be https. This can take a few minutes to a couple hours depending, and is longer with certain types of domains such as .blog.

When in this state, if the we load the launchpad there is an error when the insecure url loads in the preview. On chrome the entire launchpad tu

[2022-10-03 12:12] TimBroddin opened #68520 "[New Comment] Clean up feature flag code"
More info: D88972-code

[2022-10-03 12:14] #68294 closed, assigned to nobody

[2022-10-03 12:49] alshakero opened #68521 "Task: Help Center - warn the users if they're checking against the staging env in the Help Center and inline-help"
### Details

Since we're now targeting staging Happychat when users are proxied. HEs are often confused when they see the chat unavailable even though there are available slots in production (in the wrong env). We should indicate to users that the Help Center and inline-help are targeting staging.

More context here: p1664800440223979-slack-C02T4NVL4JJ

### Checklist

_No response_

### Related

_

[2022-10-03 12:58] #68477 closed, assigned to nobody

[2022-10-03 12:58] #68359 closed, assigned to nobody

[2022-10-03 13:00] TimBroddin opened #68523 "[Comment approval] Clean up feature flag code"
See D88977-code

[2022-10-03 13:00] #68486 closed, assigned to mashikag

[2022-10-03 13:01] #68385 closed, assigned to mashikag

[2022-10-03 13:17] epeicher opened #68524 "Marketplace: Save the marketplace WC.com fields to one serialized field"
In order to simplify the synchronization of fields between WC.com and WP.com, the Marketplace fields already present in WC.com could be consolidated into one `meta` field that could be named `wpcom_marketplace_fields`.  This field will contain a serialized object with all the Marketplace fields that do not need to be searched, only stored and retrieved.

That will allow to only have this field in

[2022-10-03 13:26] chrisanez commented on #68494
5596097 - zen

[2022-10-03 13:54] epeicher opened #68527 "Theme Search: Add an icon or button to indicate the trigger of the search"
After the deploy of https://github.com/Automattic/wp-calypso/pull/68445, the search for themes is triggered by pressing `Enter` and that could be confusing to users that are used to _search as you type_ functionality.

An icon, button or any other visual clue should be added to the Search input _when searching on enter_ to indicate that that the user should press the button or press `Enter` to tri

[2022-10-03 14:53] #68448 closed, assigned to mashikag

[2022-10-03 15:07] gavande1 commented on #67547
Diff created for tests: D88989-code

[2022-10-03 15:13] arthur791004 opened #68531 "calypso_signup_step_start is fired twice in processing step"
The [calypso_signup_step_start](https://github.com/Automattic/wp-calypso/blob/dd8f794c416289b5b85eee15920c9b7b222e8c8e/client/landing/stepper/declarative-flow/internals/index.tsx#L67) event is fired twice as the intent is changed. The reason is [the ONBOARD_STORE would be reset](https://github.com/Automattic/wp-calypso/blob/dd8f794c416289b5b85eee15920c9b7b222e8c8e/client/landing/stepper/declarativ

[2022-10-03 16:40] vinimotaa commented on #67223
A quick update on this issue - we need to replace the copy of the nudge, both description and CTA.

<img width="1451" alt="image" src="https://user-images.githubusercontent.com/97929097/193632035-d823094d-bc53-4b27-b8e5-04d29a0e5fac.png">

[2022-10-03 17:28] blackjackkent opened #68539 "Expand Data Watch - Collect data on Seller Experience funnels"
As part of Expand Data Watch initiative (pdgAPm-vA-p2), we should collect data from September relating to the following:

This should be able to leverage past metrics work, including https://github.com/Automattic/wp-calypso/issues/65688

[2022-10-03 17:41] tavilla61 commented on #66720
Another instance here: 37009181-hc (5603277-zen follow-up ticket)

I shared the workaround in the follow up.

[2022-10-03 17:54] lupus2k opened #68540 "Marketplace: Nudge description and CTA update"
Following #67223

A quick update on this issue - we need to replace the copy of the nudge, both description and CTA.

![image](https://user-images.githubusercontent.com/402286/193645441-90577caa-7da8-4639-8198-6cc5ecc31b15.png)

Acceptance:
- [ ] Upgrade button reads "Upgrade to Business"
- [ ] Upgrade nudge copy reads "You need to upgrade to a Business Plan to install plugins. Get a free domain w

[2022-10-03 18:50] #27348 closed

[2022-10-03 18:59] wpshellbelle commented on #65214
37028143-hc

Workaround worked here

[2022-10-03 20:30] cuemarie commented on #63935
Hey @rambogenius ! We've added a line about this to the WordPress.com public documents (noted here: 1680-gh-Automattic/en.support-docs-content#issuecomment-1255794011 ), but since 512 x 512 is not a multiple of 48, the note suggests the example of 528 x 528.

Reopening to get more eyes on this and see if there's more we want to do here besides the line added to the WordPress.com guide.

[2022-10-03 20:38] mtias commented on #62112
Thanks for the follow up

[2022-10-03 20:38] #62112 closed, assigned to nobody

[2022-10-03 21:05] agrullon95 commented on #67823
Changes merged: https://github.com/Automattic/wp-calypso/pull/68537

[2022-10-03 21:05] #67823 closed, assigned to jeyip

[2022-10-03 21:34] WBerredo commented on #68285
<img width="1192" alt="Screen Shot 2022-10-03 at 16 13 55" src="https://user-images.githubusercontent.com/5039531/193683763-c9517902-a736-41a5-aa12-c661c14fe46e.png">

1. Currently we show a nudge for upgrading the site plan, should we remove it considering this new empty search layout?
2. This new empty search layout will only be shown when the user is on free/premium plan? If yes, should we use

[2022-10-03 21:45] DustyReagan opened #68541 "Add track events to Atomic sites when editor suggests plugins"
### Details

On Atomic sites:
- [ ] Add a tracks event that fires when the Editor returns Blocks “Available to install.” Include a prop that displays the number of block plugins returned.

Follow-up:
- [ ] Add a tracks event for clicks on those items with a prop for the block slug and/or name.

Context: pdh6GB-226-p2#comment-3024

https://user-images.githubusercontent.com/140841/193690806-16812b8b

[2022-10-03 21:56] cometgrrl commented on #68494
@Automattic/apex Could y'all take a look at this?

[2022-10-03 22:06] cometgrrl commented on #27825
Lowering the priority (again) since we've had so few reports, and it seems like a pretty rare case.

[2022-10-03 22:18] lupus2k commented on #68540
Hey, @vinimotaa, do you know the name of the icon, or do you have the SVG?

Thanks!

[2022-10-03 22:44] arinoch commented on #64352
Any chance we can get an update on this? Possibly also expand it to include account memorialization a la [Facebook](https://www.facebook.com/help/1111566045566400)?

Additional resources:

* pbMDNC-1k-p2
pbMDNC-1h-p2

[2022-10-03 23:25] deancroyal commented on #67618
I run into these somewhat regularly. It is a confusing and frustrating experience for some users. Clarifying it as a HE can at times take quite a while. I'll remember to add them here as I get them.

Today's: 37078723-hc

[2022-10-03 23:39] deancroyal commented on #67618
Here's another: 37125582-hc

[2022-10-04 00:18] donalirl opened #68548 "Task: Update URLs to Domain Connection Docs"
### Details

To simplify our domain connection instructions, we will be breaking up our [domain connection doc](https://wordpress.com/support/domains/connect-existing-domain) into two docs:

1. The name server method: https://wordpress.com/support/?page_id=219832 (the content of this draft will be moved into the [live doc](https://wordpress.com/support/domains/connect-existing-domain))
2. The A re

[2022-10-04 01:14] autumnfjeld opened #68550 "Task list for setting up blank-canvas-3 for the PA flow"
# Description
See slack conversation p1664498573444889/1663881788.778639-slack-C029FM1EH

When the [blank-canvas-3](https://github.com/Automattic/themes/tree/trunk/blank-canvas-3)  theme is ready, use it for the PA assembler.

# Tasks
- [x] follow Onur's progress and check in with him as needed to start using the new theme https://github.com/Automattic/themes/pull/6665
- [x] understand if we can u

[2022-10-04 01:19] autumnfjeld commented on #61729
@arthur791004 @caimin-j  Should we close this and open a new issue?

[2022-10-04 01:23] autumnfjeld commented on #66789
Hmmmm, I don't think at the MVP stage we need Newsletter or Coming soon (since an unlaunched site already shows as Coming Soon ... at least I think).

[2022-10-04 01:32] autumnfjeld commented on #68550
Even thought the theme is not ready, I put this is Ready for Dev because I'd like someone to take charge of following Onur's progress and also making sure the templates are properly named and there is a template we can use for the home page.

[2022-10-04 02:19] arthur791004 opened #68551 "Design Preview: Site icon and design title are overlapping"
As title, they are overlapping when the viewport is between mobile and desktop

![Image](https://user-images.githubusercontent.com/13596067/193721651-27c7601f-7e9e-4bff-b6f6-a519c55fc3ae.png)

[2022-10-04 02:29] autumnfjeld commented on #68182
Probably wise to ask that in #themes or directly to a themer in slack. 😃

[2022-10-04 03:13] p-jackson commented on #65175
We might come back to it, but no immediate plans to implement this p1664836628656469-slack-C0347E545HR

[2022-10-04 03:13] #65175 closed, assigned to nobody

[2022-10-04 03:17] lsl opened #68553 "Marketplace: Show upload button on all plans"
Context p1664808514861309-slack-C02KBT54T9T

![Screenshot(34)](https://user-images.githubusercontent.com/811776/193727345-5c13e4ac-7881-45a4-949c-e965a87611ce.png)

Acceptance:
- [x] The /plugins upload button is present for all plans
- [x] The /plugins upload button remains hidden for views without a selected site
- [x] When clicking upload on a lower than business plan the upload page is shown (

[2022-10-04 03:22] lsl commented on #67223
https://github.com/Automattic/wp-calypso/issues/68540

[2022-10-04 03:22] #67223 closed, assigned to lsl

[2022-10-04 03:29] delputnam commented on #68548
@donalirl I’ll add this to Nomado’s next sprint. We’ll update here with a comment once we’ve updated the links in calypso.

[2022-10-04 03:32] lsl commented on #68540
Added acceptance criteria.

@lupus2k adding a new gridicon feels a bit out of scope here, can you move that task to a new issue?

[2022-10-04 03:39] inaikem opened #68554 "Update the gated Activity Log card with the current support guide link"
### What

The gated Activity Log card currently shown at https://wordpress.com/activity-log/your-groovy-domain.com contains a "Learn more" link to a 2018 en.blog post on the feature:

https://wordpress.com/blog/2018/10/30/introducing-activity/
&nbsp;

![ai4Zqu.png](https://user-images.githubusercontent.com/66711744/193727798-78f10371-3488-41fb-8531-c808c383300f.png)

&nbsp;
I suggest changing this

[2022-10-04 03:54] miksansegundo commented on #68182
I already asked Ola in slack p1664321562054549/1664256309.093529-slack-CRWCHQGUB

She mentions an exception when using a cover block, but that is not the case for any patterns we have selected for the PA. So we should be good because in the future we will have to update the list of pattern IDs manually so we can check them before adding them to the PA.

[2022-10-04 04:27] rinazrina commented on #68494
5604457-zd-woothemes

[2022-10-04 04:29] p-jackson opened #68557 "Sites Management Page: design display visitor count as column in table view"
A goal of Sites Management Page i2 is to "Add the Stats view to the sites list"

The current mockup shows a column for "visitors" and "engagements" in table mode

![Image](https://user-images.githubusercontent.com/1500769/193735133-71df68f1-d526-40a0-88a1-dc06cd570030.png)

Before we start implementing lets figure out
- what's the timeframe the number refer to is it for example number of visitors

[2022-10-04 04:48] p-jackson commented on #68557
My proposal to get the discussion started is that we add an info icon with a tooltip to the column headers, that way we can explain to the user what these numbers refer to
![191244248-ebcbb8af-3de1-4ea9-b935-1299132a788e](https://user-images.githubusercontent.com/1500769/193736282-bc6cb097-8bf9-478c-942e-585138089f90.png)

For the numbers themselves I think we could default to "per day" because th

[2022-10-04 05:18] Robertght commented on #68506
Another report in #5604470-zen

![image](https://user-images.githubusercontent.com/6737345/193740227-31b14080-552f-4e03-a924-08c43a825dde.png)

[2022-10-04 05:38] syhussaini opened #68559 "Clean HTML in Page/Post Title when Copy Pasting"
### What

I would like to have a feature enabled to clean up the HTML when someone tries to paste a copied text in the Page/Post Title area.

The HTML Tags should not be allowed inside the Page/Post Title Area.

### Why

Cleaning up the HTML when pasting the copied text in the page/post title area will help to keep the text only without the source formatting.

The source formatting can cause issue

[2022-10-04 05:45] Robertght commented on #65419
5601369-zen Submenu & Overlay Text does not work as set within the editor.

[2022-10-04 05:56] Greatdane commented on #68559
Second this, I had an issue were a user added URLs to their page titles (which worked) - from Calpyso nothing looks wrong, but from classic view you can see the HTML.

5604522-zd-woothemes

![Annotation on 2022-10-04 at 14-55-30](https://user-images.githubusercontent.com/5075840/193745038-1688dbe2-9890-44d2-b9e2-05699871d008.png)

[2022-10-04 06:10] taipeicoder commented on #68440
Closing as it's deployed.

[2022-10-04 06:10] #68440 closed, assigned to taipeicoder

[2022-10-04 06:48] SaxonF commented on #68557
@p-jackson we basically want to take the most vital data from `https://wordpress.com/stats/week` and move it into sites view. Data should already be available for us to use. Your plan sounds like a good first step to me!

[2022-10-04 06:56] lsl commented on #67712
@cpapazoglou / @vinimotaa see any issues with this change?

[2022-10-04 06:59] lsl opened #68560 "Marketplace: Create tracks funnels for logged out page views"
pdgAPm-vA-p2 - we have a new request here to setup funnels for logged out page views resulting in plan sign ups.

See p2 for specific details.

- [ ] Create tracks funnels as required
- [ ] Spin off issues for adding new logged out tracks events if required
- [ ] Spin off issues for any looker reports if required

[2022-10-04 07:08] arthur791004 commented on #61729
I'm okay with both as the new issue is still related to “replaces BLOG ID with FEED or POST ID”

[2022-10-04 07:42] cpapazoglou commented on #67712
The original idea is that this way:

- Marketplace landing page **Discover** has always fresh content
- There is no reason marketing an installed plugin the in Marketplace landing page **Discover**

I agree though, that in any other case like **Category** pages and **Search Results**, installed plugins should appear.

[2022-10-04 07:42] mpkelly opened #68562 "[Bug]: When clicking `Add new site` sometimes the user is redirected to `/start/user` and must press continue, even if already signed in"
### Quick summary

Even when signed in, if you click `Add new site` you sometimes get redirected to the `/start/user` page and must press `Continue` to get to `/start/domains`.
![image](https://user-images.githubusercontent.com/6851384/193762909-2bb4f9a3-ab7c-4343-a5ff-c5eadf2d3704.png)

**Note**: after some debugging, it seems to be related to the current `siteId` being missing. This endpoint is

[2022-10-04 08:47] #68337 closed, assigned to bogiii

[2022-10-04 08:47] #68389 closed, assigned to bogiii

[2022-10-04 08:47] #68391 closed, assigned to bogiii

[2022-10-04 08:48] lsl commented on #67285
Designs look good vini, have you got a Figma link handy?

Let's break this down into multiple issues for development, for example these could be their own issues / pr's:

- Color changes
- Margin/padding changes
- Search term removal + box size change
- Browse all link text change

[2022-10-04 08:49] lsl commented on #68492
This look's good, for development lets break this up into some smaller issues to deploy, something like:

- Remove the existing (yellow) highlights of the query on the page.
- Keep the categories in the main header allowing users to explore other plugins.
- No results page: Add the headline of the page
- No results page: List our top paid plugins in case of no search results
- ~We follow [the same

[2022-10-04 08:52] lsl commented on #67712
Search results I think it does, but category browse pages are hidden like on the discover screen (I think they're the same component with extended limits).

[2022-10-04 09:08] #68515 closed, assigned to JuanLucha

[2022-10-04 09:08] #68514 closed, assigned to JuanLucha

[2022-10-04 09:24] #68338 closed, assigned to bogiii

[2022-10-04 09:38] ivan-ottinger commented on #68489
D88934-code is now merged and deployed.

[2022-10-04 09:38] #68489 closed, assigned to phcp

[2022-10-04 10:11] heavyweight opened #68569 "HelpCenter: show sibyl articles before submitting a ticket or starting a chat"

[2022-10-04 10:31] #68281 closed, assigned to epeicher

[2022-10-04 10:43] lynnbgriffith opened #68570 "[Bug]: theme-color does not respect selected color scheme in Calypso"
### Quick summary

When the compact tab bar is enabled in Safari, the website is allowed to specify a custom background color via the `theme-color` `meta` tag. Currently, in Calypso, this color is specified in the `head` component using either a config value or a hard-coded default:

https://github.com/Automattic/wp-calypso/blob/f2e6f88ae65c8571bbac21b284c29b48ec987598/client/components/head/index

[2022-10-04 10:55] candy02058912 opened #68572 "Marketplace: Top header Refinements - Color changes"
Designs [here](https://github.com/Automattic/wp-calypso/issues/67285#issuecomment-1263572934).

Acceptance Criteria:

- [ ] Add a Light Grey background #fdfdfd to the top header
- [ ] Add/change the below-header background color to white. This applies to all pages (#fff)
- [ ] Change the color of the main title (Flex your site's features with plugins), the activated category button, and the catego

[2022-10-04 10:57] candy02058912 opened #68573 "Marketplace: Top header Refinements - Margin/Padding review"
Designs [here](https://github.com/Automattic/wp-calypso/issues/67285#issuecomment-1263572934).

Acceptance Criteria:

- [ ] Review all the padding specs from the design

[2022-10-04 10:58] candy02058912 opened #68574 "Marketplace: Top header Refinements - Search term removal + box size change"
Designs [here](https://github.com/Automattic/wp-calypso/issues/67285#issuecomment-1263572934).

Acceptance Criteria:

- [ ] Remove "most searched words" from the header
- [ ] Search box size would be 400px wide

[2022-10-04 10:59] candy02058912 opened #68575 "Marketplace: Top header Refinements - Browse all link text change"
Designs [here](https://github.com/Automattic/wp-calypso/issues/67285#issuecomment-1263572934).

Acceptance Criteria:

- [ ] Remove the arrow from “Browse all,” and add a lowercase for “all”. Browse all

[2022-10-04 10:59] candy02058912 commented on #67285
Created issues:
- Color changes: https://github.com/Automattic/wp-calypso/issues/68572
- Margin/padding changes: https://github.com/Automattic/wp-calypso/issues/68573
- Search term removal + box size change: https://github.com/Automattic/wp-calypso/issues/68574
- Browse all link text change: https://github.com/Automattic/wp-calypso/issues/68575

[2022-10-04 11:05] TimBroddin opened #68577 "Email subscriptions: column vertical alignment seems wrong"
In the New post e-mail the vertical alignment of the columns is wrong.

### Steps to reproduce the issue
1. Create a post
2. Add columns block with 2 columns (50/50)
3. Add content to the columns. An image left, text right for example.
4. Publish post and check received subscriber email

### What I expected
A table with its content aligned to the top

### What happened instead
<img width="792" alt

[2022-10-04 11:06] alshakero commented on #68147
Closing as done in https://github.com/Automattic/wp-calypso/pull/68568

[2022-10-04 11:06] #68147 closed, assigned to nobody

[2022-10-04 11:22] alshakero opened #68578 "Task: Help Center - record the available support options in chat page when the user lands there"
### Details

When users load the contact page in the help center, we should record what support options they had. We already record what options they pick, so knowing users preferences is a valuable lesson to take home and it affects our staffing planning.

Context here: p7DVsv-fpN-p2#comment-42253

### Checklist

_No response_

### Related

_No response_

[2022-10-04 11:26] alshakero opened #68579 "Task: Help Center - Do not offer support options if the user can only pick one"
### Details

Make the "Still need help?" button even smarter and send the user right to their only option if they have one.

From p7DVsv-fpN-p2#comment-42253

### Checklist

_No response_

### Related

_No response_

[2022-10-04 11:27] alshakero opened #68580 "Task: Help Center - Consider a minimum character count for a valid support message"
### Details

p7DVsv-fpN-p2#comment-42253

### Checklist

_No response_

### Related

_No response_

[2022-10-04 11:44] ivan-ottinger commented on #68520
D88972-code is now merged and deployed to production.

[2022-10-04 11:44] #68520 closed, assigned to TimBroddin

[2022-10-04 11:47] alshakero opened #68582 "Task: Revisit the recommended articles, courses, and videos"
### Details

When the Help Center was conceived, the educational material was different from today. We need to revisit what we show in the Help Center.

**Pieces of info:**

1. **Recommended resources**: this lists a few articles based on the Calypso section. The full list and the curation logic lives [here](https://github.com/Automattic/wp-calypso/blob/trunk/packages/data-stores/src/contextual-he

[2022-10-04 11:55] kavyagokul commented on #67611
📌 SCRUBBING : RESULT
- Tested on P2 - Replicated
- Tested on Simple -  Could Not Replicate
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-10-04 12:05] vindl commented on #68557
How about linking the numbers to detailed stat pages, like `stats/week/{site}?tab=visitors`?

[2022-10-04 12:11] alshakero opened #68583 "Task: Help Center - Offer support on Atomic sites too"
### Details

The current blockers for Atomic support are the following:

1. **Support tickets**: no ability to post support tickets due to lack of an API accessible by Jetpack sites. We should add a Jetpack endpoint, just we did with [articles](https://github.com/Automattic/wp-calypso/pull/65329).
2. **Chat JWT tokens**: in Calypso and simple sites we use 3 endpoints to get a Happychat JWT token.

[2022-10-04 12:22] kavyagokul commented on #68503
📌 SCRUBBING : RESULT
- Tested on P2 -  Could Not Replicate
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated

📌 ACTIONS
- Marked as Triaged for Quality Squad review

--------------
📌  NOTES

It looks like this css is causing the issue, specifically `display: inline-flex;`
[code]

[2022-10-04 12:30] danielbachhuber commented on #68557
For a more visual approach, what about sparklines or a bar chart with the last 7 days of visitors?

![image](https://user-images.githubusercontent.com/36432/193818799-166f8bcf-4725-4d3c-8f5d-b1581d8b9e5c.png)

Also, it doesn't seem super high value to me to display "Engagements":
* It's not obvious what "Engagements" actually means.
* Many sites will have very few engagements, and sites with likes

[2022-10-04 12:38] ivan-ottinger commented on #68513
D88965-code is now merged and deployed to production.

[2022-10-04 12:38] #68513 closed, assigned to TimBroddin

[2022-10-04 12:42] #68540 closed, assigned to lupus2k

[2022-10-04 13:14] alshakero opened #68586 "Task: Help Center - contact form - unknown site message"
### Details

Currently, when the user provides a self-declared non-wpcom site, we tell them:

We should change that to:

### Checklist

_No response_

### Related

_No response_

[2022-10-04 13:15] mashikag opened #68587 "[New Post]: Fix top margin of button block in new post email"
Originally raised in: #63982

[2022-10-04 13:18] alshakero opened #68588 "Task: Help Center - Some icons are missing in Calypso"
### Details

I can't think of an easy way to reproduce. But if you watch the video here pdDR7T-87-p2#comment-176 you'll see that icon in the "You submitted a request 13 minutes ago" missing.

If need be, please submit a ticket to reproduce the issue.

### Checklist

_No response_

### Related

_No response_

[2022-10-04 13:20] mashikag commented on #63982
1. Text widths should now be fixed with the following issue https://github.com/Automattic/wp-calypso/issues/63819
2. The following issue was created to track the button block top margin problem: https://github.com/Automattic/wp-calypso/issues/68587
3. The footer is being revised by `wordpress-mobile-team-leads-group` team.

[2022-10-04 13:20] #63982 closed, assigned to mashikag

[2022-10-04 13:23] alshakero opened #68589 "Task: Help Center - should always be on the bottom right when minimized"
### Details

The Help Center shouldn't be draggable when minimized. It should stick to the bottom-right side of the page. Maybe 100px from right.

### Checklist

_No response_

### Related

_No response_

[2022-10-04 13:24] alshakero opened #68590 "Task: Help Center - Verify all pages have a proper title when minimized"
### Details

Some pages have missing titles (eg success page) when the Help Center is minimized. Ensure that every single page has a title.

### Checklist

_No response_

### Related

_No response_

[2022-10-04 13:27] mashikag commented on #63399
This was done as part of pdDOJh-wY-p2

[2022-10-04 13:27] #63399 closed, assigned to phcp

[2022-10-04 13:28] mashikag commented on #63950
It was fixed in D81395-code

[2022-10-04 13:28] #63950 closed, assigned to phcp

[2022-10-04 13:28] vindl commented on #68557
This crossed my mind too, it might be nicer if it doesn't add too much noise.

➕

[2022-10-04 13:33] vindl commented on #68557
Taking a step back - one of my goals when proposing the stats view was to provide a path for deprecating the dated `/stats` page. I don't feel like the designs proposed above will enable that, unless they are just a first pass on this.

[2022-10-04 13:35] bangank36 commented on #68182
Closed as landed

[2022-10-04 13:35] #68182 closed, assigned to miksansegundo

[2022-10-04 13:45] mashikag commented on #62990
We are suspecting an issue where third party plugin block results in strangely formatted html.

Next person picking up the issue should explore the different cases in the mentioned tickets above.

If the issue relates to verse plugins, maybe suggests usage of our verse block.

[2022-10-04 14:03] #62986 closed, assigned to mashikag

[2022-10-04 14:06] mashikag commented on #63002
The new design of the email template has dropped inclusion of the tags.

cc @mtias  for awarness

[2022-10-04 14:06] #63002 closed, assigned to mashikag

[2022-10-04 14:06] #63005 closed, assigned to yansern

[2022-10-04 14:11] #65244 closed, assigned to JuanLucha

[2022-10-04 14:16] DavidRothstein commented on #68049
I think I stumbled upon the reason for this while looking at the code for something else:

https://github.com/Automattic/wp-calypso/blob/96a0bfe5244a393fa0f6f578895ca936b3152b57/client/lib/purchases/index.ts#L523

It seems to be a pretty simple reason :smile:

We could look at this history of why that line was added, and it would of course require some testing, but most likely this can be fixed si

[2022-10-04 14:27] wpshellbelle commented on #65033
Another report at 37241394-hc

[2022-10-04 14:33] mashikag opened #68594 "[Invite Confirmation] Wrong user associated with recorded email tracks events"
Currently the invitee user is associated with events related to `invitation-confirmed-inviter` email template. This is incorrect. The inviter user should be related to those events instead.

### Proposed Solution
`current_user_id` with the id of the correct user should be passed to `html_email_start` function call.

[2022-10-04 14:47] ivan-ottinger commented on #63604
Related discussion: p1664894845000509-slack-C07KTK5GS.

[2022-10-04 16:39] epeicher commented on #68227
I have been able to reproduce the issue (screenshot below) but after merge with trunk I am not able to reproduce it anymore so it seems it has been fixed as part of another commit.

I will close this issue for the time being and re-open it if I am able to reproduce it again.

![CleanShot 2022-10-04 at 13 16 00](https://user-images.githubusercontent.com/3519124/193876515-d2ddc026-5d94-4f5c-820d-189

[2022-10-04 16:39] edanzer opened #68597 "Task: Refactor stepper SetupForm to accept children"
### Details

This is a promised follow up, [based on this comment](https://github.com/Automattic/wp-calypso/pull/68303#discussion_r984420378), to a recent PR. We refactored the SetupForm for tailored flows to be its own component. As a follow up, we want to:

* Ensure that component can accept children so other flows can insert additional fields if needed
* Refactor to make the newsletter flow's s

[2022-10-04 16:48] edanzer opened #68598 "Task: Follow ups for new stepper SetupForm component"
### Details

This is a promised follow up to a recent PR. We refactored the SetupForm for tailored flows to be its own component. As a follow up, we want to:

* Remove an unneeded async call
* Rename translatedStrings to translatedText or similar

### Related

https://github.com/Automattic/wp-calypso/pull/68303. See comments about [async call](https://github.com/Automattic/wp-calypso/pull/68303#di

[2022-10-04 16:48] paulopmt1 opened #68599 "Create a new funnel reporting on the flow of logged-in/out visits to /plugins"
### Details

Context: pdgAPm-vA-p2

Create a Funnels reporting on the flow of logged-in/out visits to /plugins, viewing plugin details, activating by plan.
Along with a report on resulting plan upgrades as a result.

The logged-out funnels should also include the in-between signup pages.

[2022-10-04 16:56] deancroyal commented on #67618
Another: 37175610-hc

[2022-10-04 17:13] cuemarie commented on #68499
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Thanks for the suggestion @tanjoymor !

[2022-10-04 17:17] michaeldcain commented on #68049
From planning:

Should Jetpack plans have a remove button? If the product is within the refund window, this action will bypass the refund, so at minimum, we shouldn't show it until after.

[2022-10-04 17:35] cuemarie commented on #68502
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes** - Reported here: https://github.com/WordPress/gutenberg/issues/44675

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested using **Twenty Seventeen** & **Karuna**; replicated across Simple, AT, and Self-Hosted.
- Setting the button to "button inside" just ad