[2021-09-09 14:55] dpasque commented on #55811
Re-classifying as a bug: this seems like a usability violation that we should handle better for mobile designs.

[2021-09-09 14:55] dpasque commented on #55811
Tagging @Automattic/flow-patrol-create based on issue content.

[2021-09-09 14:57] dpasque commented on #55881
Tagging @Automattic/flow-patrol-create based on issue content.

[2021-09-09 15:03] dpasque commented on #56126
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-09 15:07] inaikem commented on #56090
I should have covered that. Good catch! Try a logo that contains some transparency on the left and right sides. The bottom border on the A element appears behind the image. Here's the image I tested with:

![Bug Herders Wapuu v2](https://user-images.githubusercontent.com/66711744/132711819-8dbe0c26-b6b3-4cb6-8608-b7339c7c1e84.png)

[2021-09-09 15:10] dpasque commented on #56090
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-09 15:13] CompChris opened #56144 "Editor: Pasting in Chinese text causes editor to crash (simple)"
### Steps to reproduce the behavior

Chat: 30552338-hc
Followup: 4285868-zen

1. With the locale zn-cn
2. Pasting into the editor Chinese text causes the editor to crash. User is pasting from Word, if that matters.

![image](https://user-images.githubusercontent.com/15944096/133214108-3a20dfd0-fdcd-4418-b85c-d68c6f5526bb.png)

#### What I expected to happen

It should not crash when this text is p

[2021-09-09 15:24] allilevine opened #56145 "Customizer: Sync Jetpack Custom CSS with WordPress.com Custom CSS"
### Details

In D65448-code and https://github.com/Automattic/jetpack/pull/20800 we made changes to align the Custom UI in dotcom with the Jetpack / Atomic UI (to fix https://github.com/Automattic/wp-calypso/issues/36321). However, we still have two different implementations of Custom CSS. We should use the current Jetpack implementation on WordPress.com, refactoring as necessary to get it working

[2021-09-09 15:27] allilevine commented on #36321
Closing because we've aligned the Simple UI with Atomic. We've opened https://github.com/Automattic/wp-calypso/issues/56145 to track actually aligning the implementation of Custom CSS.

[2021-09-09 15:27] #36321 closed

[2021-09-09 15:52] dsas commented on #56057
## High level plan for adding another email

Add an entry to `A8C\Billingdaddy\WPCOM\SUBSCRIPTION_EVENTS_SCHEDULE`
 * It's ok for day to be negative for "days after the expiration"
 * Would need to define a new event as a const in wp-content/lib/billingdaddy/src/subscriptions/subscriptions.php
 * Define new loader / filter / group filter on A8C\Billingdaddy\WPCOM\Event_Scheduler as/if necessary to

[2021-09-09 16:58] #55641 closed, assigned to worldomonation

[2021-09-09 16:58] #55717 closed, assigned to worldomonation

[2021-09-09 17:00] katiebethbrown commented on #55815
I had another request for this today in 23123424-hc.

 User is on the annual Premium plan  and would like to upgrade to monthly Business but couldn't find any path to do that in the UI. I manually switched them to monthly Premium so they could upgrade.

[2021-09-09 17:24] katiebethbrown commented on #56043
Looks like this might be a duplicate of https://github.com/Automattic/wp-calypso/issues/55568

[2021-09-09 17:57] cpapazoglou opened #56149 "Marketplace: Woo Integration Research"
**Initial Research on creating a new WordPress.com woocommerce powered site as our base api.**

**New approach: Use WooCommerce.com as our base API. pdh6GB-ex-p2**

Subtasks:

- [ ] Automattic/woocommerce.com#12388
- [ ] Automattic/woocommerce.com#12392
- [ ] Automattic/woocommerce.com#12389
- [ ] Automattic/woocommerce.com#12390
- [ ] https://github.com/Automattic/wp-calypso/issues/57816
- [ ] Au

[2021-09-09 18:00] katiebethbrown commented on #55881
Looks like this may be related to https://github.com/Automattic/wp-calypso/issues/55365

[2021-09-09 18:02] #55946 closed, assigned to dpasque

[2021-09-09 18:05] danradigan commented on #34377
The steps that Chad has outlined above clearly highlight the issue but doesn't do the impact justice.

This feature has worked in self-hosted WordPress for as long as I can remember. I have a set of older posts that I would like to convert to use new features in the block editor. When I convert the page from the classic format to the block format, most of the images sit along the left margin of th

[2021-09-09 18:13] JoshuaGoode commented on #55388
This is essential with WordPress.com on Atomic sites using third-party themes and plugins.

If we keep this, there absolutely needs to be an option to toggle this off or have a workaround for WoA sites.

**Why?**
WoA users going to Appearance > Menus and Appearance > Widgets have historically been taken to the proper WP-Admin page and not the Customizer.

Those pages are essential for numerous pop

[2021-09-09 18:13] Thelmachido commented on #56043
Another report here: 30183337 -hc

Viewing the comments page in classic-view helped.

[2021-09-09 18:16] JoshuaGoode commented on #55553
This is _**essential**_ with WordPress.com on Atomic sites using third-party themes and plugins.

If we keep the recent changes, there absolutely needs to be an option to toggle this off or have a workaround for WoA sites.

#### Why?
WoA users going to Appearance > Menus and Appearance > Widgets have historically been taken to the proper WP-Admin page and not the Customizer.

Those pages are essen

[2021-09-09 18:18] mdrockwell commented on #54402
Another user asked about this feature:

is there also a way to change how the emails look when people are notified?

4286081-zd-woothemes

[2021-09-09 18:22] tellisbethel commented on #34377
^ Here is the transcript for the above interaction: 26178912-hc
I can understand their frustration, so I'll be checking with my team to see if there is a potential workaround for this.

[2021-09-09 18:27] katiebethbrown commented on #55553
Adding that the dedicated widget editor at widgets.php is more user-friendly for editing group blocks.

Group blocks added in the Customizer are very difficult to identify without heirarchical navigation. Here's how an empty group block displays in the Customizer:

<img width="323" alt="groupblock" src="https://user-images.githubusercontent.com/42279181/132741900-cd4cba45-a17a-4c13-ba22-463860aebe

[2021-09-09 18:32] khristiansnyder commented on #49109
I would LOVE to see this added. Many need to pause development on their site for some time and cancel their Business plan. We often advise to download a backup, but we have no way to import that backup back to a site here which is a huge feature gap and a great opportunity to improve our product :)

I have had many users quite shocked over the years when I send them the Jetpack manual restore inst

[2021-09-09 18:35] csonnek commented on #53100
For [this report](https://github.com/Automattic/wp-calypso/issues/53100#issuecomment-916133095), they're using:

- Safari 14.1.2
- MacOS Big Sur version 11.5.2

Having them try FF or Chrome to see if that makes a difference.

[2021-09-09 18:57] katiebethbrown opened #56151 "Block Widgets: Not Possible to Select a Group Block Added to Widgets Without Using the List View Or Adding Contents"
### Quick summary

Once a group block has been added to a block widget area, there is no way to select it to see the block toolbar without using the List view on the `widgets.php` page. This means block selection/editing/removal isn't available for group blocks in the customizer.

### Steps to reproduce

1. Open a site's Customizer view and navigate to a widget area.
2. Add a group block.
3. Click

[2021-09-09 18:59] katiebethbrown commented on #56151
Adding:

I was able to select the group block once I added a block inside of it, using the nested block's "parent block" setting, but it wasn't intuitive or labeled in a way that made it easy to discover.

<img width="522" alt="Screen Shot 2021-09-09 at 12 58 12 PM" src="https://user-images.githubusercontent.com/42279181/132746695-06d07172-9899-47df-930e-d64825b6ee79.png">

It also feels less than

[2021-09-09 19:00] KirkwallDay commented on #56085
I had a few team members duplicate the issue on their AT sites. I've reached out to @synora to see if they could duplicate the issue on my test sites.

[2021-09-09 19:52] kwight opened #56152 "Email Templates: Button text is title cased."
The button text in our new subscriptions email templates is title cased, instead of sentence cased. All buttons should be checked that only the first letter is capitalized (bringing us consistency with Calypso).

| Current | Calypso |
| --- | --- |
| <img width="733" alt="Screen Shot 2021-09-09 at 12 45 16 PM" src="https://user-images.githubusercontent.com/349751/132753373-61936a54-9f6c-45f6-b10a-

[2021-09-09 19:53] kwight commented on #56152
@saygunnyc Double-checking this is what you wanted?..

[2021-09-09 20:19] kathrynwp commented on #56071
Can confirm that I do not see the bug in Chrome, only Firefox.

[2021-09-09 20:32] worldomonation commented on #49482
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-09 20:32] #49482 closed, assigned to nobody

[2021-09-09 20:35] worldomonation commented on #47758
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was not able to see the `Fullscreen` option when using macOS Desktop App, 7.2.0.

![Screen Shot 2021-09-09 at 1 34 34 PM](https://user-images.githubusercontent.com/6549265/132758777-af9e4d07-33cf-4fab-8b0d-c608c86b3b26.png)

As there has been no recent activity on this issue it is bei

[2021-09-09 20:35] #47758 closed, assigned to nobody

[2021-09-09 20:57] supernovia commented on #17191
Ack, sorry I didn't respond! Thank you. I did ask them to try un-blocking images. Hopefully that did the trick in that case.

[2021-09-09 21:07] jordesign commented on #55388
Just had a chat with a user in 31584826-hc with a BIG +1 on bringing this back.

[2021-09-09 21:23] JoshuaGoode commented on #55388
Encountered on 31580417-hc

[2021-09-09 21:26] jp-imagines opened #56155 "Connected domains: expiration message is confusing"
### What

I would like the "expires in __ days" message displayed on connected domains to be better clarified.

### Why

Context: 4286390-zen

Example of the expiry message I'm referring to:

<img width="1091" alt="Markup 2021-09-09 at 16 49 09" src="https://user-images.githubusercontent.com/5630717/132763935-7a9e1b48-943b-41de-b2c6-82876b34b6d4.png">

This message also displays after clicking on

[2021-09-09 21:34] blackjackkent commented on #56115
Started looking into this today and got basic functionality implemented (triggering a click event on that toggle during the follow process to make sure we're enabling notification settings appropriately). In discussion with Kirk, we realized that this behavior should also take into account the user's default frequency settings set in their user profile, so I will be combining my work on this and h

[2021-09-09 21:35] kathrynwp commented on #56071
Actually I just re-tested in Firefox and I no longer see the issue there either!

@thekingsprojects Would you mind checking as well on the original test site, the URL of which I seem to have lost? Thank you!

[2021-09-09 21:41] kwight commented on #46077
This was fixed in https://github.com/Automattic/jetpack/pull/20479

[2021-09-09 21:58] masperber commented on #55365
Another instance here: 4283073-zen
Simple site, Sela theme

[2021-09-09 22:54] supernovia commented on #49284
Testing to see if this is still a thing

[2021-09-09 23:04] supernovia commented on #49284
OK, this works now. Closing it up! :)

[2021-09-09 23:04] #49284 closed, assigned to nobody

[2021-09-09 23:06] supernovia commented on #39912
woot! Trying to follow up on old notifications I'd missed and saw this. Thank you for the fix!

[2021-09-09 23:24] katiebethbrown commented on #56151
Ran into this again in 31586169-hc.

User had an empty paragraph block in a sidebar, causing the sidebar to display on the site as an empty space. Clicking on the block does not select it (in either customizer or widgets.php view) until you add actual text to it.

The Widget view in the Customizer wasn't styled in a way that made it clear that there was a block there:

<img width="321" alt="emptyp

[2021-09-10 03:07] katiebethbrown commented on #55553
Played into a ticket with a user report - 4287082-zd-woothemes

[code]

[2021-09-10 04:15] donalirl opened #56157 "Include "Add Page to Menu" Option to editor-post-publish-panel"
### What

Add a link to menu settings to the panel that shows after publishing a new page.

### Why

After publishing a new page, a common next step is to add the page to the navigation menu. However, there is nothing to guide a user in the editor to go to their menu settings to add the page there. In the post-publish prompt, we can add this suggestion to smooth out the process for users.

A commo

[2021-09-10 04:56] thekingsprojects commented on #56071
Just checked the testing site again. I'm not seeing it in Firefox any longer, either.

[2021-09-10 05:20] Robertght opened #56158 "Legacy widget: reorder the widgets alphabetically"
### What

Right now we have this(see below) order for the legacy widget list and it's quite hard to identify one.

### Why

This should help the users find the widgets faster.

### How

![image](https://user-images.githubusercontent.com/6737345/132803524-e202c310-8350-46e0-913a-8e8e70aa880b.png)

[2021-09-10 05:52] Robertght commented on #56158
Raised the issue in core: https://core.trac.wordpress.org/ticket/54105

[2021-09-10 05:52] #56158 closed, assigned to nobody

[2021-09-10 06:13] yansern commented on #55365
Delegated to @Automattic/pod-happiness-gardeners. p1629346556037700-slack-C0KDTA48Y

[2021-09-10 06:38] kdevnel opened #56159 "Domains: Manual SSL installation as alternative to LetsEncrypt"
### What

It would be really awesome to offer users the option to install SSL certificates manually as an alternative to LetsEncrypt

### Why

Some users would like to be able to install EV or OV SSL certificates or have custom setups that require manual setup instead of automated LetsEncrypt setups.

Though this might not be a common request, it would be great to be able to offer manual SSL in ce

[2021-09-10 06:39] kdevnel commented on #56159
Original source of this feature: pKdGS-21d-p2#comment-6413

[2021-09-10 06:40] kdevnel commented on #56159
Adding comment from @isocialtish:

[2021-09-10 07:02] Robertght commented on #56071
Thank you all for working on this! I'm going to close this one for now, but if someone finds another case, please re-open it.

[2021-09-10 07:02] #56071 closed, assigned to nobody

[2021-09-10 07:05] Robertght commented on #56085
Thank you for reporting this! I'm flagging this for Flow Patrol Manage to have a look. cc @sixhours / @mreishus

[2021-09-10 07:11] saygunnyc commented on #56152
💯

[2021-09-10 07:17] Robertght commented on #56080
Flagged this for the domains pod in Slack slack-C020919TDRA/p1631258207063000

[2021-09-10 07:18] Robertght commented on #55996
Thank you Ed! Flagged this for the domains pod in Slack slack-C020919TDRA/p1631258207063000

[2021-09-10 07:32] Robertght commented on #56135
Thank you! I've flagged this one for @Automattic/flow-patrol-create for now.

[2021-09-10 07:43] donalirl opened #56161 "Change Block Widget Help Links from .org to .com + Remove Plugin Suggestion"
### Quick summary

The block widgets interface links to .org docs in two places. They should be changed to .com.

Also remove the suggestion to install a plugin for sites without access to plugins

### Steps to reproduce

On a WordPress.com site:

1. Go to Appearance → Customize →  Widgets
2. View the welcome modal:

![image](https://user-images.githubusercontent.com/30727666/132818199-106cb8c0-17

[2021-09-10 07:47] Robertght commented on #56077
Thank you for reporting this @serabi ! I can confirm this happens with Gutenberg turned on on a self hosted website as well, but it doesn't if it's turned off.

I've also noticed some of the other patterns are sharing a similar effect so I've raised it here:

https://github.com/WordPress/gutenberg/issues/34729

[2021-09-10 07:54] Robertght commented on #56009
I can confirm this happens on my end as well. I'm moving this to the Jetpack repo for better visibility.

[2021-09-10 08:00] donalirl opened #56162 "Mention SSL on Domain Security Page"
### What

Add SSL description and support doc link to the domain security Calypso screen.

### Why

SSL is something that many site owners check for when creating a new site, but SSL is not mentioned on the domain security page. This page is accessible by going to Upgrades → Domains  → clicking on a domain → click 'Review your domain security'.

We should mention SSL here so that users have a visu

[2021-09-10 08:10] Robertght commented on #56050
This appears to be a similar case to this one: https://github.com/Automattic/wp-calypso/issues/56050

I'm thinking we should close this as a duplicate for now, but let's see. Can I get a double check on this @jeherve ?

[2021-09-10 08:12] donalirl opened #56163 "Add visual indicator for domain registered with free plan credit"
### What

Add a visual cue to show which domain was registered with the free credit that comes with all our yearly plans.

### Why

Primary reason: This will emphasize one of the key benefits of WordPress.com plans: we offer a free domain for one year with the purchase of any annual or two-year plan. This would leave a positive impression with the customer for an entire year.

Secondary reason: cu

[2021-09-10 08:21] jeherve commented on #56050
Yep, this looks like the same issue. Closing as duplicate.

[2021-09-10 08:21] #56050 closed, assigned to nobody

[2021-09-10 09:49] #55893 closed, assigned to tjcafferkey

[2021-09-10 09:59] alshakero commented on #55745
Fix is ready in D66665-code

[2021-09-10 10:01] zdenys commented on #56094
I think it's a duplicate of https://github.com/Automattic/wp-calypso/issues/51415 Isn't it?

[2021-09-10 10:40] #55821 closed, assigned to razvanpapadopol

[2021-09-10 10:50] dsas commented on #56057
I've published two P2 posts (pdgTfM-3c-p2 & pdgTfM-3f-p2) about what I've learned, the actual implementation of emails will be done by #56058, #56059 & #56061 I'm therefore going to close this investigation issue.

[2021-09-10 10:50] #56057 closed, assigned to dsas

[2021-09-10 10:59] #55634 closed, assigned to chriskmnds

[2021-09-10 11:16] chriskmnds commented on #55365
I am not sure that was the conclusion from the discussion there @yansern . From my understanding, this is back in flow patrol's area of responsibility. We took the necessary intervention to revert a deployment that broke functionality (user guides) critical and relevant to what the pod is working on (helping/guiding users).

As you have already done a fair bit of exploration on this, I feel it's o

[2021-09-10 11:19] kdevnel commented on #56085
Just to note it looks like this is also causing only installed or previously used themes to show on the "All Themes" tab. It means users can currently only activate previous or recommended themes on Atomic at the moment.

p1631272409225100-slack-C03TY6J1A

[2021-09-10 11:24] kdevnel commented on #56085
Reported by customer in 31544026-hc

[2021-09-10 11:38] simison commented on #55365
Let's have this on Flow patrol's todo @yansern @alshakero @chriskmnds . 👍

[2021-09-10 11:38] yansern commented on #55365
Thanks @chriskmnds! Sorry to have tagged you guys earlier (as I was reorganizing our project boards and just wanted to make sure there was a follow-up).

Fixing this will require time & effort which at this point I don't have the luxury of at the moment. But I agree that since I've investigated this quite deeply, I should move this forward when I'm able to. Need more devs.

Post-mortem, not really

[2021-09-10 11:39] yansern commented on #55365
Moved this issue to "Can't Fixed Quickly" column.

[2021-09-10 11:43] simison commented on #55680
This night be better fit on themes team since they've been maintaining the colors plugin, @jeffikus could your team have a look?

[2021-09-10 11:47] simison commented on #52676
cc @jasmussen in case there's any navigation block feedback to extract here.

[2021-09-10 11:56] #55468 closed, assigned to nobody

[2021-09-10 12:04] tellisbethel commented on #55388
Chatted with a user who (understandably) insists upon having direct access to the editor restored: 28743236-hc

[2021-09-10 12:05] kdevnel commented on #56085
And to add, it looks like you can see and search for themes you've previously activated on your Atomic site - it's only themes in the gallery but not yet installed and aren't in the recommended list that are hidden.

[2021-09-10 12:05] tellisbethel commented on #55553
Chatted with a user who (understandably) insists upon having direct access to the wp-admin Widget editing screen rather than using a direct link or any roundabout method: 28743236-hc

[2021-09-10 12:09] chriskmnds commented on #55365
Yes, that's what I meant. Put everything in context so whoever owns this has a point of reference. what happened, what we tried, what to watch out for/ lessons learned, what's the way forward. I believe you did a great job/investigation, so it makes sense to compile everything in a nice P2 post at least for a start (doesn't mean you will end up fixing this).

I hear you. You have a wide area of re

[2021-09-10 12:10] synora commented on #56085
Ah! Upon further testing with a fresh Atomic site, I can replicate the issue:

https://user-images.githubusercontent.com/10015451/132851296-e604044e-0310-4704-9b28-fa587f6b38b8.mp4

[2021-09-10 12:20] DavidSaladu commented on #56144
Updated with Browsers information.

[2021-09-10 12:22] davoraltman commented on #54201
Another report in 31554406-hc

[2021-09-10 12:47] ccwalburn opened #56167 "Domains Manage Page: Connection Error Status is Wrong"
### Quick summary

The Domains Manage page for all sites on an account is displaying a Connection Error for a mapped domain even when the domain is configured correctly.

The Domains Manage page for the particular site does not display an error, but the Domains Manage page that combines all sites is displaying an error even after the domain has been configured correctly.

![image](https://user-ima

[2021-09-10 12:48] HubhavadGita commented on #54201
I have a temporary workaround for this issue:
1. in your block editor select: "edit as HTML"; and then
2. change it back to "edit visually".
then your block will be accessible again (at least for a while).

[2021-09-10 12:50] Robertght commented on #56167
Thank you for reporting this @ccwalburn !

I initially asked here: slack-C0761SX4K/p1631217896181800, however, I think this might be suitable for the @Automattic/pod-domains.

[2021-09-10 12:54] davipontesblog commented on #56085
Isn't this related to how Premium themes are now retired? As in "I think they shouldn't show anymore".

[2021-09-10 12:55] delputnam commented on #56167
I've created a task for Nomado to look into this.

[2021-09-10 13:13] sixhours commented on #56085
I'm testing and noticed there's no Infinite Scroll on the "All Themes" view at all for Atomic sites, so most of the themes don't load. I'm checking to see if recent changes for premium themes might have broken it.

I shipped https://github.com/Automattic/wp-calypso/pull/55910 two days ago but it looks like this was happening before then.

[2021-09-10 13:29] chriskmnds opened #56168 "Welcome Tour: Improve tour close out"
### What

Better shortcuts for closing out the tour.

### Why

Currently for a user to close out the tour they'd need to first open it into the expanded view, then find the respective X control. This would mean a couple of clicks, while expanding something to then dismiss it may not be the friendliest approach, especially in a keyboard environment.

### How

Ideas to explore:

1. Esc could close/d

[2021-09-10 14:00] chriskmnds commented on #56168
@poligilad-auto - I just put together in the description some of the ideas by @razvanpapadopol mainly in Slack: p1631275988057400/1631274609.056600-slack-C029WSAQMT9 We can add more if anything else comes up in the discussion.

I believe the design input/check right now would be around point 2 above (adding an X button to the minimized view)? If we agree on the direction. The whole block is clicka

[2021-09-10 14:24] davipontesblog commented on #56037
I did some testing here and was able to narrow this "Services" block to the Coblocks plugin - this only shows on atomic sites too:

<img width="787" alt="Screen Shot on 2021-09-10 at 10-19-16" src="https://user-images.githubusercontent.com/31009008/132868269-daca2cdf-af29-4b8d-a0b2-94f041f212f2.png">

We should open this on the Coblocks repo. I will let the user know of a workaround to use our Ima

[2021-09-10 14:32] dpasque commented on #56077
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-10 14:34] yansern commented on #55680
Oh thanks, now I know who to ping.

Phab patch has arrived though. D66676-code

https://user-images.githubusercontent.com/1287077/132870372-6f2090c0-32f0-47a1-bc78-a65cdfc83f99.mp4

[2021-09-10 15:23] synora commented on #56070
I've re-opened the issue.

[2021-09-10 15:27] sixhours commented on #56085
Traced it back to https://github.com/Automattic/wp-calypso/pull/56033

[2021-09-10 15:52] #56085 closed, assigned to sixhours

[2021-09-10 15:59] thekingsprojects commented on #54201
Another report in 31598228-hc , Business (AT) user with Chrome. They aren't sure what caused it; just started happening today. They're also seeing an error with their Yoast Premium plugin on the page they're trying to edit, but I'm not sure that's related.

The edit as HTML workaround did work for them, though.

[2021-09-10 16:18] sixhours commented on #54535
I've addressed this to some degree with #55038; any fonts that support that range of weights will now show in the correct weight. Those fonts that don't natively include those weights will still not work.

[2021-09-10 16:40] Addison-Stavlo commented on #55709
D66681-code should set up the snapshots tool.

Fullstory may already be set up to include the site editor, investigating further on this.

[2021-09-10 16:40] sixhours commented on #55708
This may be related to #55696 as Robert mentions in that thread.

[2021-09-10 17:05] sixhours commented on #55896
I'm going to punt this over to Create since they oversee My Home stuff, and I have a feeling it will get done faster since we're short on engineers next sprint. :)

[2021-09-10 17:22] synora commented on #56090
@inaikem Bingo! It sounds like images with transparency of some sort maybe causing this issue. I tested again with your image versus my original image.

<img width="987" alt="Screen Shot on 2021-09-10 at 13-16-57 (1)" src="https://user-images.githubusercontent.com/10015451/132892505-dbedceaf-871d-4156-8354-cef79d6417cb.png">

The logo in the user report seems to have some transparency as well.

[2021-09-10 17:47] worldomonation commented on #55727
Adding high priority as per discussion in p1631294718164400-slack-CQD1HH4MA and pbAok1-2hj-p2#comment-4636.

[2021-09-10 17:48] worldomonation commented on #55727
Some options:

1. mark more Selenium tests with `@canary` for the time being and get them to run on CircleCI using existing infra.
2. add ability to run Playwright tests alongside Selenium canary.
3. set up separate TeamCity task for canary replacement.

[2021-09-10 17:53] worldomonation commented on #55727
For 3, one possible solution looks like this:

1. modify branch filter of existing Playwright (mobile/desktop) to run on commits only, and run only tests tagged with `calypso-pr`.
2. add a new task for `canary` replacement, with branch filter set to `trunk` only.
3. either add a new tag for all tests, or request Jest suite runner to look at a list of tags applied to all tests. The goal is to run _

[2021-09-10 19:16] JoshuaGoode commented on #36197
Encountered a very time-consuming situation where a podcaster upgraded to Atomic Business and lost this feature.

This wasn't added to Jetpack in the past as it requires we have access to the web server logs for a site.  We have such access on Atomic.

Here are the primary issues in the situation I worked on.

1. The user heavily relied and preferred the File Downloads feature.
2. We don't provide

[2021-09-10 19:20] JoshuaGoode commented on #47562
Encountered a situation where this would have been very nice to have.

In an attempt to workaround the like of File Downloads stats, we utilized Podtrac on a site. This required manually editing past audio players to include the prefix.

A way to automatically append a prefix to an enclosure, or even just allow it to be set on the audio player block, would be useful.

See my comment on the File Do

[2021-09-10 19:30] sixhours commented on #54631
Looks like this was recently fixed in https://github.com/godaddy-wordpress/coblocks/pull/2008

[2021-09-10 20:00] JoshuaGoode commented on #52241
Copying over some of my comments from an internal discussion. See it for some additional links: p7DVsv-ccs-p2#comment-36767

Overall, it’s been a product decision not to offer staging. I personally would like to see some kind of paid add-on in the future that allows for easy site cloning.

The Atomic platform has cloning built-in with endpoints ready if WordPress.com wants to add it at some point.

[2021-09-10 20:09] zachspears commented on #52241
I have had numerous chats with users asking about staging sites, I will start adding those conversations here. I think it would provide a lot of use as an advanced add-on, and give people more flexibility to build their projects and test their sites.
31599148-hc

[2021-09-10 20:45] carladoria commented on #53716
Another report at 31601868-hud

[2021-09-10 20:52] worldomonation opened #56174 "Flaky E2E: Media: Edit"
### Spec

wp-media__edit-spec.ts

### Suite

Edit Image

### Framework

Playwright

### Logs

Immediate:

[code]

Surrounding:

[code]

[2021-09-10 21:29] obenland commented on #36197
@pablinos Would this fit your pod's roadmap?

[2021-09-10 21:46] JoshuaGoode commented on #55388
What was the purpose of this change on WoA?

It'd nice to revert back to core functionality, how it has been, or offer an option to disable this redirection.

cc: @simison @mmtr

[2021-09-10 21:49] JoshuaGoode commented on #55388
An HE reached out to Atomic help for help about this, directed user to use direct link as a workaround.

* p1631273903240600-slack-C03TY6J1A
* 28743236-hc

[2021-09-10 21:50] JoshuaGoode commented on #55388
Another HE reached out just now.

* p1631308306024800-slack-C03TY6J1A
* 31602836-hc

[2021-09-10 21:53] JoshuaGoode commented on #55388
Additional HE and user requests for help about this change:

* p1631035868379500-slack-C03TY6J1A
* p1631036752187000-slack-C3GP81E05

[2021-09-10 22:10] hngdny commented on #55388
Another request here: 4289411-zen

[2021-09-10 22:15] blackjackkent commented on #56115
This (and #56118) are just about done; will do final tweaks Monday morning and get the diff ready to kick off the new sprint.

[2021-09-10 22:47] Greatdane commented on #55388
Another user had a custom theme and was unable to access WP Admin Menus editor. I had to give them the direct link. I think it may be related to this as well;
4284538-zd-woothemes
31570676-hc

[2021-09-10 22:50] autumnfjeld commented on #55604
I went through the prototype flow https://wordpress.com/start?flags=signup/setup-site-after-checkout and noticed the "Update your homepage" is checked as complete, even though I didn't yet edit the homepage. Perhaps the design picker step triggers that item in the site setup checklist?

![image](https://user-images.githubusercontent.com/5665959/132925295-78ae836e-bcc1-4f0c-b93c-7190ee9f9d61.png)

[2021-09-10 23:50] creativecoder commented on #54462
Looking at the FSE Beta flow chart and cross referencing the tasks in other issues like #54508, I'm seeing the following tasks remaining for this issue

- [ ] Remove the keep/replace content modal when switching themes for FSE Beta sites

<img width="400" alt="image" src="https://user-images.githubusercontent.com/1699996/132927910-e9ca4e19-eb87-43d9-98ac-42666cfd3853.png">

For universal themes, s

[2021-09-11 03:34] devNigel commented on #53932
Please update the user via a new ticket once this issue is resolved.

Ticket: 4249058-zen

[2021-09-11 06:40] Greatdane commented on #55388
Another user with a big BRING BACK request;
31602836-hc
4289345-zd-woothemes

[2021-09-11 07:05] arunsathiya commented on #55388
Requested on 31607625-hc too.

[2021-09-11 08:42] zdenys opened #56179 "Themes: WordPress.com view shows our own theme if it has the same name of a third-party one that is actually active and visibile in Classic View"
### Quick summary

If a site has a third-party theme active that matches the name of another theme we have in our own collection, then WordPress.com View (Calypso) show our own theme. Instead the [Classic View (WP Admin)](https://wordpress.com/support/dashboard/) shows the correct third-party theme.

### Steps to reproduce

1. SU the user in this chat: 31608067-hc
2. Navigate to https://wordpress.

[2021-09-11 11:11] arcangelini commented on #53932
## Personal testing
Spent some time looking into this and it seemed to go away as I was testing. I was not able to replicate this in Tags, Categories, SImple, or Atomic. I briefly hit a snag with permissions but that was due to deleting a parent category.

#### Screenshot
![Screen Capture on 2021-09-11 at 12-54-33](https://d.pr/i/aAneRP+)

## User site testing
I also took a look at the site listed

[2021-09-11 14:55] devNigel commented on #53932
Hi @arcangelini , I am confused. It seems you intended to reply to some other GitHub issue.

This issue is about feature parity between Atomic and Simple sites for editing the slug for categories and tags.

[2021-09-11 15:43] arcangelini commented on #55344
Just created a PR to remove the legacy Instagram option in the widget block editor.

During my testing, I was able to verify this should not affect anyone who is currently using the legacy version of Instagram. It only removes it from the available block/widgets in the block editor.

I will work on getting the `transform` pushed soon.

[2021-09-11 15:51] arcangelini commented on #53932
Oof long day... I completely misread that. Please excuse me @devNigel

[2021-09-11 16:03] marianearchimbaud commented on #55388
Reported here too:
31297135-hc

[2021-09-11 16:16] jackiejade opened #56180 "Folders in the Media Library"
### What

Folders in the Library

### Why

This will help users sort through their media library better. There are plugins that do this already, but it would be a nice feature to add on. Here's a plugin that does this already:
https://wordpress.org/plugins/media-library-plus/

### How

Similar to the plugin: https://wordpress.org/plugins/media-library-plus/

[2021-09-11 17:19] Gustavo-Hilario opened #56181 "Table block: when copying and pasting data from Excel the data is shown in a paragraph instead of a table"
### Quick summary

When copying and pasting data from Excel the data is shown in a paragraph instead of a table

### Steps to reproduce

1. Start creating a new page
2. Create dummy content on an Excel spreadsheet - we can use Excel online
3. Copy the Excel table
4. Paste it on the new page
5. You should see the content in a paragraph

Here is a **[screencast](https://d.pr/v/Ja5L3V)**, when I try

[2021-09-11 17:39] villanovachile commented on #55388
Another request here, but for the Widgets area  (same issue): 20839154-hc

[2021-09-11 20:53] marcuswisecaesar commented on #55388
Reported here too: 31617193-hc

[2021-09-11 21:22] ash1eygrace commented on #55388
31617483-hc

The third-party themes top text widget is not responsive in the customizer.
Gave them the direct URL to wp-admin/widgets.php

[2021-09-12 04:15] inaikem commented on #56155
Suggested update text:

- Your WordPress.com domain connection subscription expires [in XX days / on DATE].
- Your WordPress.com domain connection service expires in [XX days / on DATE].
- Your domain connection subscription expires in [XX days / on DATE].
- Your domain connection service expires in [XX days / on DATE].

Cc @delputnam + added to pod project board for better Domain Pod visibility 🙏

[2021-09-12 06:14] inaikem commented on #55553
Another AT customer wanting to let us know they're unable to directly access the menu screen: 31610865-hc

[2021-09-12 09:34] pauljacobson opened #56182 "Block Patterns: Shrinking block pattern previews"
### Quick summary

While working with a customer in a Quick Start session, I noticed that block pattern previews started shrinking as the previews were loaded, like this:

https://user-images.githubusercontent.com/2912202/132982276-55c0f346-6686-4a4b-baf4-9cb73c09d7d2.mp4

### Steps to reproduce

1. Open a post in the block editor
2. Open the left sidebar to view blocks and block patterns
3. Selec

[2021-09-12 13:12] AtrumGeost commented on #55388
Got a report here: 30934087-hc

The user was using a third-party theme that wouldn't allow editing menus via the Customizer. Sent them the direct WP Admin link

[2021-09-12 14:31] arunsathiya opened #56183 "Divi page builder button not available on WordPress Editor when the page is created from Calypso pages list"
### Steps to reproduce the behavior

- Start with a site that has Divi theme (I think plugin comes along with it; I could not test as it's a premium theme) installed.
- Visit https://wordpress.com/pages
- Click on "Add new" button to create a new page.
- See that the "Use the Divi builder" button does not appear at the top right.
- Start at https://wordpress.com/pages again, switch to classic-view

[2021-09-12 15:10] AtrumGeost commented on #55553
We got another user asking for the options below "Appearance" to lead to the WP Admin pages instead of the Customizer: 31626711-hc

[2021-09-12 19:18] kathrynwp commented on #55553
User in 31000707-hc missing WP Admin widgets area. I gave direct URL workaround.

[2021-09-12 21:15] jerrysarcastic commented on #53100
Also reported in https://wordpress.com/forums/topic/clicking-edit-on-the-home-page-crashes-the-site/

User also is using
- Safari 14.1.2
- macOS Big Sur version 11.5.2

User reported that when they try to edit, Gutenberg would crash.  Clearing their cache fixed the crashing issue, but they are still presented with a blank page instead of the editor loading as expected.  Asking them to try an alter

[2021-09-12 21:24] ccwalburn opened #56184 "Block Editor Widgets: Red X on top of show/hide visibility setting"
### Quick summary

On the new block editor widgets, the Red X sits on top of show/hide visibility settings.

### Steps to reproduce

1. Open Widgets section in the Customizer for a Personal plan site
2. Add a widget (I tried the Google Translate and Text widgets)
3. Click the Visibility button

### What you expected to happen

I expected to see the Show or Hide selection without a red X on top.
On

[2021-09-12 21:45] Gustavo-Hilario commented on #51415
This issue was also reported here #4292632-zen
Theme: Awaken Pro

I was not able to reproduce this issue on a test site. Here is a **[screencast](https://d.pr/v/wy0Iam)**. In the editor, the word limit may not work, but once the page was published it worked fine.

[2021-09-12 22:37] Gustavo-Hilario commented on #51787
We have another report here #4269971-zen.

The user has more than 6000 followers and in this thread, some of them are complaining about this issue. The users are unfollowing the blog without taking any action.

[2021-09-12 22:59] wprhunt opened #56185 "Link for wp-admin menu editor"
### What

Add link for the wp-admin version of the menu editor instead of only offering a link to the customizer

### Why

I've had two customers today request how to access the /wp-admin/nav-menus.php and having no option to do so means they have to manually go to that page in the address bar.

hc-31567597
hc-31629565

### How

Possibly add an additional link to the appearance menu of the sidebar

[2021-09-12 23:09] wprhunt opened #56186 "Add option to disable WordAds on Blog Posts block"
### What

Include a toggle in the Block options for the Blog Posts block to prevent ads from showing on sites enrolled in WordAds

### Why

Since the blog posts block can be added to any pages/posts, the options in WordAds to manage where ads can be displayed can't target places where the Blog Posts block has been added.

At the moment, the only way to directly prevent ads from showing in the Blog

[2021-09-13 00:08] rw-ye commented on #55365
4289251-zd-woothemes
Simple Site
Theme: Karuna

[2021-09-13 00:34] DanAntion commented on #51787
I was informed this weekend by a couple users that they are once again
being dropped. If it matters, I have over 10,000 followers.

Dan
------
Daniel Antion
***@***.***

On Sun, Sep 12, 2021 at 6:37 PM Gustavo Hilario ***@***.***>
wrote:

[2021-09-13 01:25] inaikem opened #56188 "Testing: Please ignore"
### Quick summary

.

### Steps to reproduce

.

### What you expected to happen

.

### What actually happened

.

### Context

.

### Operating System

Windows, macOS, Linux, Android, iOS

### Browser

Google Chrome/Chromium, Mozilla Firefox, Microsoft Edge, Microsoft Edge (legacy), Apple Safari

### Simple, Atomic or both?

Simple, Atomic

### Theme-specific issue?

.

### Other notes

.

### R

[2021-09-13 01:41] inaikem opened #56189 "Testing: Please ignore (02)"
### Quick summary

.

### Steps to reproduce

.

### What you expected to happen

.

### What actually happened

.

### Context

.

### Operating System

_No response_

### Browser

_No response_

### Simple, Atomic or both?

_No response_

### Theme-specific issue?

_No response_

### Other notes

_No response_

### Reproducibility

_No response_

### Severity

_No response_

### Available workar

[2021-09-13 01:50] #56188 closed, assigned to nobody

[2021-09-13 01:50] #56189 closed, assigned to nobody

[2021-09-13 01:57] inaikem commented on #56185
Closing in favour of https://github.com/Automattic/wp-calypso/issues/55388

[2021-09-13 01:57] #56185 closed, assigned to nobody

[2021-09-13 03:12] p-jackson commented on #55604
I bet it does! I think there's supposed to be some code that ensures homepage edits that come from headstart are ignored. I'll see if it's easy to make it work in our case too.

[2021-09-13 03:53] formosattic commented on #56133
Good idea.

It might be still be good to have a reminder elsewhere? Like under `Upgrades > Plans` or `Purchases` (in the corresponding plan).

[2021-09-13 05:58] chriskmnds commented on #55365
Looking into this.

Apologies that this was left unattended for what looks like 3+ weeks now. Hopefully there's an easy fix somewhere that won't introduce breakage elsewhere. 🙏

[2021-09-13 08:10] Greatdane commented on #56144
I have tried to reproduce this (as have multiple people) without success.

Updated the ticket with the documents providers by user in case anyone else wants to try; 4285868-zd-woothemes

[2021-09-13 08:31] kosiew commented on #55921
Hi @donalirl ,

Thanks for reporting this and the detailed explanation.

@Robertght , for flow patrol review

[2021-09-13 08:35] kosiew commented on #55925
Hi @renata-franco ,

Thanks for reporting this.

Triaging for developers' further investigation.

[2021-09-13 08:52] retnonindya opened #56194 "Plans on Atomic Site: WordPress.com Plans page displays Jetpack Upgrades/Products instead of WordPress.com Upgrades/Products"
### Quick summary

On Plans page ( https://wordpress.com/plans/ ) on **_some_** AT sites, it displays Jetpack Upgrades instead of WordPress.com Upgrades

For more details (because it involves my AT test site and a glimpse of Blog RC), please check the P2 here:
p9F6qB-7rq-p2

### Steps to reproduce

Go to Plans page (Dashboard > Upgrades > Plans > click Plans tab): https://wordpress.com/plans/

**P

[2021-09-13 08:52] mmtr commented on #55388
The context behind these changes was to be aligned as well with the "Appearance > Widgets" menu, where we link to the Customizer since we want to avoid WP.com customers from seeing multiple interfaces. See p1628152719014300/1628119959.008100-slack-C021Z8P3RMG. I'll let to @simison to expand on why we prefer the Customizer over the Core default screen, but I guess it's because it's less overwhelmin

[2021-09-13 09:21] yansern commented on #55680
Latest updates fixes also a11y issues on the color picker tiles below. Tabbing and pressing enter/space now works.

https://user-images.githubusercontent.com/1287077/133058616-166ac720-6ed3-4157-a004-f10659c3d0e6.mp4

[2021-09-13 10:13] Poliuk commented on #55388
Reported here too: 4282420-zd-woothemes

[2021-09-13 10:34] #54800 closed, assigned to alshakero

[2021-09-13 10:44] pablinos commented on #36197
Potentially, yes. It seems like all the stats come from the web server, so we can chat to Systems/Atomic about what the solution might be.

[2021-09-13 11:48] poligilad-auto commented on #56168
Thanks @chriskmnds. We could do something like this, like @razvanpapadopol suggested.

![image](https://user-images.githubusercontent.com/83961704/133071586-3235f4d9-e95b-4d7e-861e-503d1b4b93e7.png)

[2021-09-13 12:09] andres-blanco commented on #51787
Thanks for your continued effort on reporting this issue.

We will keep working on this.

[2021-09-13 12:55] dsas commented on #56057
I've noticed another way that emails are sent after plan expiry, a 'win back' series of emails are sent after both refundable cancellations and expirations (PCYsg-kN7-p2).

1. `Store_Product::deactivate_handler` is called via a `deactivate_product` action hook when a plan is deactivated.
2. `Store_Product_Bundle::deactivate`
3. `Store_Product_Bundle::start_deactivation_email_campaigns` checks whet

[2021-09-13 13:02] chriskmnds commented on #56168
Thanks @poligilad-auto . Looks good! The only other bit to consider is the hoverable behavior in the block. Right now it's a single button that gets highlighted when hovered. I guess it's a tiny detail. Do we leave an empty/non-reactive space between the expand and close areas, or one continuous flow?

![Kapture 2021-09-13 at 15 58 11](https://user-images.githubusercontent.com/1705499/133088109-8f

[2021-09-13 13:07] #55745 closed, assigned to alshakero

[2021-09-13 13:36] razvanpapadopol commented on #56168
By checking an actionable notice in Calypso, I see there's no space between the two buttons (areas). Where "View your cart" link area ends, the (X) dismiss button area starts. They are also displayed without any visual separator in between.

<img width="967" alt="Screenshot 2021-09-13 at 16 17 19" src="https://user-images.githubusercontent.com/14192054/133090511-f11b3af7-a41c-48fb-a219-5f31a35d5f7

[2021-09-13 13:47] kathrynwp commented on #56194
Remembered a ticket from last week where this happened - 4282375-zd-woothemes As a workaround I manually added the right plan for the user via SA.

[2021-09-13 13:49] jeherve commented on #49109
@mrfoxtalbot That's not something we'll be able to do in the Jetpack repository I'm afraid. I would recommend asking the Backup team about this, as it may be on their radar and tracked somewhere else already.

[2021-09-13 13:56] yansern commented on #55881
Fixed in: https://github.com/Automattic/customize-direct-manipulation/pull/53

[2021-09-13 13:56] #55881 closed, assigned to nobody

[2021-09-13 13:57] simison commented on #55808
Team @Automattic/crowdsignal hi, could you have a look at this one?

[2021-09-13 13:59] simison commented on #56022
@bluefuton @jsnmoon hi! Could Jetpack Search team have a look at this?

[2021-09-13 14:02] simison commented on #56022
Noting also that we should have only the block available in the inserter; the widget can be hidden as legacy.

[2021-09-13 14:06] simison commented on #55696
@anomiex just to clarify, is fixing this on your team's radar?

[2021-09-13 14:06] dsas opened #56204 "Atomic Downgrade: investigate notifications sent due to plan expiration"
As described in P9o2xV-1yt-p2, we should inform users via notification the impact of letting their plan expire.

Similar to #56057

[2021-09-13 14:14] #53448 closed, assigned to taggon

[2021-09-13 14:38] anomiex commented on #55696
The fix is in https://github.com/Automattic/jetpack/pull/21004. Currently waiting for review.

[2021-09-13 14:38] vindl opened #56205 "Site Editor: fix visual glitches in Document Settings sidebar"
See https://github.com/Automattic/wp-calypso/pull/55471#issuecomment-916011053 for details.

[2021-09-13 15:22] sirbrillig opened #56209 "Checkout: remove concept of required fields"
Assuming there's no issues with https://github.com/Automattic/wp-calypso/pull/55904, we can remove the `isRequired` properties of each contact field and all the mechanisms that support the concept of required fields.

[2021-09-13 15:27] pauljacobson commented on #56182
I saw another instance of this issue in another Quick Start session where our customer was using Chrome on Windows. I don't have version details, though.

https://user-images.githubusercontent.com/2912202/133112126-3efeae40-89c0-4b28-97f2-4b91c4a57b83.mp4

[2021-09-13 15:50] jartes commented on #55645
Closing this one as this is now done via https://wordpress.com/me (My Profile in Calypso), as a fix was deployed in order to sync WPcom account info to the Atomic site: #46077

This reported case was followed-up on #4294566-zen.

[2021-09-13 15:51] #55645 closed, assigned to nobody

[2021-09-13 16:06] Gustavo-Hilario opened #56210 "File Block button: the button format is changing in the published page"
### Quick summary

When we add a **[File Block](https://wordpress.com/support/wordpress-editor/blocks/file-block/)** to a page or post, the colors and format change from the editor to the published page.

### Steps to reproduce

1. Create a new page/post
2. Add a **[File Block](https://wordpress.com/support/wordpress-editor/blocks/file-block/)**
3. Insert a document file

### What you expected to

[2021-09-13 16:20] dsas commented on #56204
General notification documentation: PCYsg-g8e-p2

## Relevant notifications

### renewal_failure_note
This is created built by `build_billing_renewal_failure_note`

### missing_payment_method_note
This is built by `build_billing_missing_payment_method_note`

### credit_card_expired_note
This is built by `build_billing_credit_card_expired_note`

### manual_renewal_reminder_note
This is built by `bu

[2021-09-13 16:26] worldomonation opened #56211 "Flaky E2E: Reader (Notifications)"
### Spec

wp-reader__view-spec.ts

### Suite

Wait for Undo Message to display and then disappear

### Framework

Playwright

### Logs

[code]

[2021-09-13 16:35] worldomonation opened #56212 "Playwright: Sidebar continues to be flakey"
### Details

There are multiple instances of sidebar continuing to be flakey despite all the work put into it.

Examples:
- https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_desktop/6687959
- https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_desktop/6692053
- https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/6692195

[2021-09-13 16:47] #55957 closed, assigned to dpasque

[2021-09-13 16:57] worldomonation commented on #56212
I think we should look at a more programmatical solution that we dismissed early on: `dispatchEvent`.

Originally, the argument against using `dispatchEvent` was that 'it is not truly representative of user action'. However, seeing the amount of time and effort spent on trying to make a generic Sidebar method work (and not quite succeeding), I think it's time to re-evaluate this solution.

I've al

[2021-09-13 17:08] Robertght commented on #54322
I just encountered a similar case. It happens everywhere, so I'm not entirely sure what's the purpose for **Link to: none**.
I reckon we can transfer it to Jetpack.

Can we get more insights on this @jeherve ?

[2021-09-13 18:15] mreishus commented on #55807
My initial investigation shows that this is related to the word "de" being used in the pt-br date formats. I haven't looked at the code yet, but here's what I've noticed from looking at the front end.

* **Some date formats work completely fine. You are able to select them, save, reload, and see them selected.**

https://user-images.githubusercontent.com/937354/133134591-003029e0-c135-493e-b80e-cf

[2021-09-13 18:19] mreishus commented on #53339
Currently looking into the same, or a similar issue in #55807. The root cause is related to the word "de" in the format. In the format `j de F de Y`, the "d" and "e" are interpreted as special codes, so `de` becomes `02America/Fortaleza` instead of staying the word `de`.
We want something like `\d\e`, which turns into the literal word `de`, but the application is also having trouble keeping this a

[2021-09-13 18:47] mreishus commented on #55807
Data sent over the wire when updating to custom format "Y-m-d \d\e".

REQUEST
[code]

RESPONSE
[code]

[2021-09-13 19:38] katiebethbrown commented on #55815
Another request in 4290981-zd-woothemes

[2021-09-13 20:00] ice9js commented on #55808
I gave it a spin and can confirm the widget editor issue but also wasn't able to reproduce the second one with the block editor.

In case of the customizer, the block doesn't recognize the sidebar widgets editor and it's trying to display its regular 'button' version. To fix it, we'll need to update [this check](https://github.com/Automattic/crowdsignal-forms/blob/master/client/blocks/feedback/uti

[2021-09-13 20:10] kerrynicl commented on #55388
Another report - HC-31649578

[2021-09-13 20:31] anomiex commented on #55696
This (at least whatever part is due to Jetpack) should be fixed on Simple now. I hear the plan is for an Atomic release tomorrow, but I can't find any reference to that beyond p1631554155073700-slack-C01U2KGS2PQ. For Jetpack, the [current plan](https://github.com/Automattic/jetpack/pull/21004#issuecomment-918465817) is to wait for the 10.2 release at the start of October, but if there's enough cal

[2021-09-13 20:33] jp-imagines commented on #55683
Another report in 4286033-zen, simple site.
User had the _Contact Info & Map_ and _Social Icons_ legacy widgets inside a Columns block. Suggested they replace these with similar block widgets as a workaround (Contact Info & Social Icons blocks).

[2021-09-13 20:36] kwight commented on #55965
@blackjackkent Do you have an existing PR for this? If so, can you add it to the board?

I'll remove you from this so you can focus on the Action Bar. 👍

[2021-09-13 20:41] mreishus commented on #55807
PR Up for review: https://github.com/Automattic/wp-calypso/pull/56221

[2021-09-13 20:45] kwight commented on #55536
pdgv5Y-av-p2

[2021-09-13 20:45] #55536 closed, assigned to kristinaquinones, provenself

[2021-09-13 20:50] kwight commented on #56152
FYI @andres-blanco while doing new templates.

[2021-09-13 21:00] kwight opened #56222 "Notifications: New post rendering is all sorts of wut."
All sorts of issues seem to be exemplified in this new post notification for https://whippetwisdom.com/2021/09/13/puente-poetry-the-best-of-neighbours/

<img width="460" alt="Screen Shot 2021-09-13 at 1 59 03 PM" src="https://user-images.githubusercontent.com/349751/133155682-0ed35882-202a-49fa-a8b9-c5fb59e94c58.png">

[2021-09-13 21:14] TheSteveK opened #56223 "Karuna theme. Text in title in Gutenberg editor transformed to uppercase"
### Quick summary

A user reported that recently (about a week ago) the titles in the editor on their site are all being displayed as upper case, no matter what case they're actually written in.

![Screen Shot 2021-09-13 at 5 09 18 PM](https://user-images.githubusercontent.com/12895386/133156888-066baeaf-5795-4668-abe8-a1f1cb4499aa.png)

### Steps to reproduce

1. Activate Karuna
2. if you have mi

[2021-09-13 21:32] jonny-a8c commented on #55388
4293974-zen

[2021-09-13 21:32] jonny-a8c commented on #55553
4293974-zen

[2021-09-13 21:41] jsnmoon commented on #56022
cc @Automattic/jetpack-search

[2021-09-13 21:43] #55944 closed, assigned to sirbrillig

[2021-09-13 22:43] worldomonation opened #56227 "Flaky E2E: Reader (View)"
### Spec

wp-reader__view-spec.ts

### Suite

Wait for the comment to appear

### Framework

Playwright

### Logs

[code]

It looks like the comment submission goes well, but the step in question is not able to locate the selector.

[2021-09-13 22:48] bluefuton commented on #36197
Some background: it uses a stats pixel (f.gif) fired by every request to files.wordpress.com.

I had previously asked about how we could make it work on Jetpack here: p9dueE-Zn-p2

There is some discussion about using a redirect approach instead here: p56BUd-mI-p2

[2021-09-13 23:37] hacchism commented on #54990
Another instance in 4293838-zen with Canard theme.

[2021-09-14 01:29] noahtallen commented on #5268
This popped up in my GitHub notifications today, and did a quick search in our codebase. These are the components listed in the issue which we still use in `wp-calypso`:

- `component-closest` (used in 5 react components)
- `component-file-picker` (used in 1 react component)
- `component-event` (mocked in 1 test)
- `component-query` (mocked in 1 test)

I'm unsure how much impact any of these have

[2021-09-14 01:29] #5268 closed

[2021-09-14 01:40] formosattic commented on #56183
+1 22876892-hc

[2021-09-14 01:56] inaikem commented on #49830
Linked issue with user reports here: https://github.com/Automattic/wp-calypso/issues/55388

[2021-09-14 01:56] inaikem commented on #55388
18097743-hc

[2021-09-14 01:57] inaikem commented on #49830
From interaction 18097743-hc

...now WordPress.com has updated to a new Menu creation/editing screen and the old is completely gone. All of the functionality that I relied upon is now completely gone as well. Why would the team get rid of a screen completely. I'd like access to the legacy menu building screen.

[2021-09-14 02:37] kuropixel commented on #56183
+1
31652271-hc

The Purple Divi button did nothing, but the workaround for Classic View and then clicking "Edit with Divi" worked. However, user was seeing a different issue with Divi after this.

[2021-09-14 02:55] formosattic commented on #56194
Updated initial post with workarounds.

See ongoing updates at p9F6qB-7rq-p2

[2021-09-14 02:55] kuropixel opened #56230 "Domain options 3 dots icon is difficult for accessibility and easy to misclick"
### What

There needs to be a bigger area or button instead of the smaller "3 dots" icon on the Domains page for options.

### Why

I have found that the method for changing a primary address involves going through the tiny 3 dots icon on the Domains page. Even when taking a screenshot to guide others, I have sometimes misclicked and end up getting taken to the detailed domain page by accident. Fo

[2021-09-14 03:33] goblinartificer commented on #55388
31654583-hc

[2021-09-14 03:33] donalirl commented on #13901
We had five requests for this through a user feedback survey in 1220-gh-Automattic/en.support-docs-content. It is possible to search comments by switching to WP Admin view following these steps:

https://wordpress.com/support/comments/#search-for-comments

but it would be great to get this added in Calypso as well.

Added to the HE Triaging board to see if this can be reprioritized, as this is an

[2021-09-14 05:28] #55738 closed, assigned to nobody

[2021-09-14 05:29] lsl commented on #55738
Merged today D66496-code today, D66270 was replaced by D66750

[2021-09-14 05:58] jeherve commented on #54322
The carousel feature, when enabled, does indeed take over that setting, and the Carousel modal is displayed at all times. This is done on purpose.

We've discussed how this could be changed in this issue: https://github.com/Automattic/jetpack/issues/11264

I'll close this one as duplicate.

[2021-09-14 05:58] #54322 closed, assigned to nobody

[2021-09-14 06:00] p-jackson commented on #55781
Spike completed. It's possible to pass our own custom list of designs to the `<DesignPicker>` component.

[2021-09-14 06:00] #55781 closed, assigned to p-jackson

[2021-09-14 06:24] goblinartificer opened #56234 "Morden: allow spacer block height to be set on mobile"
### What

Right now, all spacer blocks with custom heights are being set to 16px on mobile. Flexibility would be better.

### Why

In 31631444-hc today, a WordPress.com user said that their site wasn't respecting their spacer heights on mobile. Looking into it, this appears to be in Morden's style.css:

[code]

### How

This could be removed or replaced with something more flexible! I understand t

[2021-09-14 06:45] yansern commented on #55808
If anyone has any suggestions for what I can add there (or maybe in Calypso?) to have a somewhat stable support for the Customizer, that would be appreciated.

I noticed the existence of the `core/customize-widgets` store when Widgets Editor is loaded.

I verified this by running `wp.data.select('core/customize-widgets')` on a normal block editor, widgets editor on customizer, and a site running t

[2021-09-14 07:01] yansern commented on #55808
@noisysocks suggested `const isWidgetsEditor = !! window.wp.widgets;`.
p1631602799044000/1631602105.043300-slack-C029HCKPXP0

[2021-09-14 07:06] formosattic commented on #13901
Documenting the current state.

In Calypso:
![image](https://user-images.githubusercontent.com/15944096/133211033-bed1ee69-013e-4df2-b368-3cffbdb4c0a2.png)

WP Admin:
![image2](https://user-images.githubusercontent.com/15944096/133210980-35049593-a9cc-4393-a5d3-f6810c46976b.png)

cc @Robertght : something to include in Back to Basics?

[2021-09-14 07:31] formosattic commented on #56144
Updated initial post with screenshot.

Additional notes:
* user is copying from Word (see example in 4285868-zd-wootheme)
* also unable to reproduce
* user will try copying from Word to another editor (Google Doc, Notepad) to WordPress.com

[2021-09-14 07:39] formosattic commented on #55976
Thanks @edwinho89!

Thanks for flagging the duplicate #22426, will close this in favor of it.

[2021-09-14 07:39] #55976 closed, assigned to nobody

[2021-09-14 07:42] formosattic commented on #22426
Reopening to continue keeping track of request from users.
Closed duplicate https://github.com/Automattic/wp-calypso/issues/55976

[2021-09-14 07:43] kdevnel commented on #56183
I’m not actually sure the Divi issue is new or a bug technically. The issue is specifically happening in the Calypsoified page editor view which doesn’t show 3rd party plugin features like this. That's expected behaviour.

Previously, all atomic sites were being forced to the wp-admin version of the editor to avoid these issues. I suspect something has changed to not force that redirection in all

[2021-09-14 08:11] jasmussen commented on #52676
The "Existing menu" is, as Yan noted, meant as a shortcut to populate the block where you create it, it's not meant to create a two-way link. As we explore enhancing the navigation block setup state, I will see what I can do to provide additional context here. Possibly along these lines:

<img width="740" alt="Setup states   appenders" src="https://user-images.githubusercontent.com/1204802/1332208

[2021-09-14 08:23] formosattic commented on #55998
Thanks for the report @carinapilar!

On a live site, logged out, as a visitor, the block is hidden for me. Here's what my testing shows:

| Owner/Subscriber view  | Visitor view |
| ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/15944096/133220989-f56b437e-ecb3-4f11-b441-391bc32b91c8.png)  | ![image1](https://user-images.githubusercontent.com/15944096/13322108

[2021-09-14 08:28] formosattic commented on #55982
Thanks @mrfoxtalbot!

✅ Reproduced

[2021-09-14 08:36] formosattic commented on #42170
Thanks for the report @automattic-ian.

This is raised in https://github.com/WordPress/gutenberg/issues/27760#issuecomment-887880615.

[2021-09-14 08:57] kspilarski opened #56236 "Certain Page Titles or Texts used as Slugs show Page not Found"
### Steps to reproduce the behavior

1. Go to Pages and create a new page.
2. Add a title to the page like `Avatar`.
3. On the right of the page editor, click Permalinks, make sure that slug is `avatar`.
4. Publish page.
5. Visit page link.

#### What I expected to happen

The page content will load.

#### What actually happened

The page displayed "We couldn't find what you were looking for." mes

[2021-09-14 08:57] formosattic commented on #56010
Thanks @philnick206.

Noting that we already provide some ways to ease the setup, with certain mail providers:
* [Zoho guide](https://wordpress.com/support/add-email/add-email-through-zoho-mail/#connect-zoho-mail-to-your-word-press-domain)
* [Google Workspace](https://wordpress.com/support/add-email/add-email-through-google-workspace/#set-up-google-workspace-automatically)
* [Office 365](https://w

[2021-09-14 09:21] formosattic commented on #56012
Thanks @rinazrina.

Seems like issue have resolved on its own. I checked one the user's page, and the TikTok embeds loaded ok.

I wasn't able to reproduce either, in Simple or Atomic.
TikTok test link: https://www.tiktok.com/@keke.janajah/video/6802722722389576965
| Editor View | Live site View |
| ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/15944096/133231

[2021-09-14 09:31] sajmes commented on #55808
Confirming that I can also no longer replicate the issue with the Feedback Button in the editor, even when loading the page where I originally tested the issue.

[2021-09-14 10:34] arcangelini commented on #55683
I have been testing this and it seems a bit inconsistent. When I first create the "grouped" legacy widget it indeed is broken in all areas except the preview in Customizer. But, after I save and view it on the frontend it appears to be working. I am going to keep digging to see what I can find the source of this.

In the meantime, It seems like there are a lot of other Jetpack widgets that are not

[2021-09-14 10:55] simison commented on #52280
Thanks Razvan 👍  I think we can close this issue while we have https://github.com/Automattic/wp-calypso/issues/55826

[2021-09-14 10:55] #52280 closed, assigned to nobody

[2021-09-14 12:17] BogdanUngureanu commented on #56024
@mmtr @dsas D66763-code is ready for review.

[2021-09-14 13:18] cpapazoglou opened #56238 "Marketplace: Implement automatic translations for Table Rate Shipping and Checkout Field Editor extensions"
Table Rate Shipping – delete https://translate.wordpress.com/projects/woocommerce/table-rate-shipping/ (try migrating existing translations to the new project before that?) and keep https://translate.wordpress.com/projects/woocommerce/woocommerce-table-rate-shipping/. Move to Extensions GP project for automatic inclusion in WK.

Checkout Field Editor – delete https://translate.wordpress.com/projec

[2021-09-14 14:16] daria2303 commented on #55388
Another report: 4297157-zd-woothemes

[2021-09-14 14:20] JoshuaGoode commented on #49830
Copying over the feedback I've shared on the respective issues related to the core Widgets and Menus navigation.

* Appearance >. Menus: #55388
* Apperance > Widgets:  #55553

Having the option to navigate to the core WP-Admin pages is essential for WordPress.com on Atomic sites using third-party themes and plugins.

If we keep this new behavior, there absolutely needs to be an option to toggle th

[2021-09-14 14:38] fresatomica opened #56239 "Reader: Posts with disabled likes can still receive likes via Reader"
### Quick summary

Even though you disable posts for your blog, users will still be able to like them via Reader:

Site view:
<img width="414" alt="Screen Shot on 2021-09-14 at 16-29-33" src="https://user-images.githubusercontent.com/40177971/133278078-90957749-cce6-438c-8fb3-2b3d5a6039d2.png">

Reader view:
<img width="231" alt="Screen Shot on 2021-09-14 at 16-31-14" src="https://user-images.gith

[2021-09-14 14:43] dpasque commented on #55388
Just did a ping to Simple/Atomic folks to find right group to address this.

[2021-09-14 14:49] mreishus commented on #55796
DD66157-code has been deployed.

@gwensmithx , it's now on the list of countries available on the 2FA page.
![2021-09-14_09-48](https://user-images.githubusercontent.com/937354/133280326-71e9d176-6f18-4b26-bb18-d94d0c68bd15.png)
However, we have no method to verify that it is functioning correctly. Is it possible to follow up with the user and see if this fixes the problem?

[2021-09-14 14:59] marcuswisecaesar commented on #55553
User in 31664184-hc missing the WP Admin widgets area, direct URL workaround did not work.

The user has a custom theme active which I surmised must be blocking the wp-admin widget view, however, my test site running Twenty-Twenty will not load wp-admin/widgets.php either.

![Screen Shot on 2021-09-14 at 09:58:15](https://user-images.githubusercontent.com/36801460/133281976-aae8b3fc-6d72-4304-b17a

[2021-09-14 15:13] DavidRothstein commented on #56088
Discussion (@martian77): This might help with consistent tax calculations also.

[2021-09-14 15:20] DavidRothstein commented on #56209
Leave this in the inbox for now (in case it's a cleanup we want to do soon, given that it's an immediate followup of something else).

[2021-09-14 15:30] mreishus commented on #53100
On Pale Moon 29.4.0.2, I'm unable to log into WordPress.com or calypso.localhost:3000. I receive several `SyntaxError: expected expression, got '.'` errors, then `TypeError: window.AppBoot is not a function`. The display area shows only a white screen with a W logo. From checking the script locations, this looks like Pale Moon not understanding the `?.` optional chaining operator. However, [Safari

[2021-09-14 15:57] pablinos commented on #55388
Looking at Automattic/jetpack#20587 this should already be the case for menus. @mmtr Is that right, or do you have any suggestions here?

[2021-09-14 15:58] autumnfjeld commented on #55604
Just looping back about filtering (per our Ganon sync yesterday).    Using the [guidelines provided by](p1631542850331800/1631252814.310400-slack-C029SB8JT8S) @ianstewart
* using only themes with editable home pages
* one approach is to use these with auto-loading tag

Thus, we'd have about 30 themes to show in our initial launch of the design picker in onboarding.

[2021-09-14 15:59] nunyvega commented on #49109
Hey @mrfoxtalbot  ✋  thanks for the ping!
I'll bring this up for discussion on the Backup team and we'll update this issue.

[2021-09-14 16:02] thelogicwizards commented on #55388
HC-31158908

[2021-09-14 16:03] JoshuaGoode commented on #55388
I think we can skip that and just return default core behavior and have Appearance > Widgets and Appearance > Menus go to their respective WP-Admin pages.  That's all we're looking for, core behavior -- at least on WoA.

[2021-09-14 16:10] #55990 closed, assigned to worldomonation

[2021-09-14 16:24] blackjackkent commented on #55965
@kwight Added it to the subscriptions board. (Direct link is D66573-code)

[2021-09-14 16:39] arcangelini commented on #55683
I am able to get the preview in the customizer preview panel one of two ways. Either with a full save and page refresh, or by triggering a full refresh `wp.customize.selectiveRefresh.requestFullRefresh();`. I am not too familiar with what goes on in that action but it seems like a viable fix could be triggering a customizer refresh.

https://user-images.githubusercontent.com/33258733/133298291-b56

[2021-09-14 17:07] Robertght commented on #56239
cc @Automattic/flow-patrol-create

[2021-09-14 17:18] JoshuaGoode commented on #55553
What you've shared is the block widget editor and `wp-admin/widgets.php` appears to have loaded properly.

This user is likely looking for the Classic widgets editor and would need to install and activate the Classic Widgets plugin before they can access that via the Customizer or the direct WP-Admin link.  @marcuswisecaesar

[2021-09-14 17:36] thesacredpath commented on #50560
Another reported issue with posts not showing to convert.

31373189-zen
4296089-hc

[2021-09-14 17:37] #55598 closed, assigned to nobody

[2021-09-14 17:38] synora commented on #55887
Triaged. I'm unable to replicate this as well. I'll close this issue for now but feel free to open if it happens again.

![Screen Capture on 2021-09-14 at 13-37-33](https://user-images.githubusercontent.com/10015451/133306792-41da6a21-2545-4b18-a75d-fe4e1cc33d12.gif)

[2021-09-14 17:38] #55887 closed, assigned to nobody

[2021-09-14 17:44] carinapilar opened #56242 "Plan nudge on domain purchase doesn't show for all users"
### What

When a user adds a domain to the checkout, on a site with a free plan, we could add a nudge there to buy a plan.

### Why

This is what it currently shows on the checkout:

![AddGetAPlanNudge](https://user-images.githubusercontent.com/16104522/133307341-0bd4704d-cf44-4413-8a57-744c473122c9.png)

It's common to get users confused with the fact that can't use a domain as primary after gett

[2021-09-14 17:50] synora commented on #55998
@formosattic I'm able to replicate your screenshots.

Just below the Setup section of the [block's support doc](https://wordpress.com/support/wordpress-editor/blocks/premium-content-block/#setup) that @carinapilar mentioned, the following should be seen within the editor:
<img width="546" alt="Screen Shot on 2021-09-14 at 13-49-07" src="https://user-images.githubusercontent.com/10015451/133308317-

[2021-09-14 17:55] synora commented on #56013
Triaged. Thanks @donalirl for this bug report!

[2021-09-14 18:02] ChrissiePollock commented on #56194
I see this in a Quick Start session connected to 4297260-zen.

[2021-09-14 18:04] carinapilar opened #56243 "Add Better Stats Tools Nudge"
### What

We could promote Google Analytics with Premium plan on the Stats page.

### Why

On the Stats page, it seems we only mention Parse.ly Analytics:

<img width="1067" alt="ParselyAnalyticsNudge" src="https://user-images.githubusercontent.com/16104522/133309799-61b50a98-c956-40d7-adf5-aec8ee0718cc.png">

We could also add other options in there, such as Google Analytics and Cloudflare Analyt

[2021-09-14 18:07] synora commented on #56019
Triaged! Thanks for this feature request. This is certainly a great idea!

[2021-09-14 18:15] synora commented on #56021
Triaged. Can replicate.

[2021-09-14 18:29] synora commented on #56022
Triaged. The Jetpack Search Block Widget is working as expected in the Customizer and via wp-admin/widgets.php.

[2021-09-14 18:44] JuniorTak commented on #52209
Another report 4292541-zen

Asked to clear the browser cache and follow the browser troubleshooting steps. But, the issue persists.

[2021-09-14 18:52] mreishus commented on #55708
In #55696, a fix was applied (https://github.com/Automattic/jetpack/pull/21004) for `Uncaught TypeError: Cannot set property 'mejs' of undefined` errors, which may also apply here. The fix is already on simple sites, and should be moving to Atomic shortly.

I'm having difficulty testing to see if the issue is resolved. Recently, we removed premium themes, so I'm not able to change my site to Marqu

[2021-09-14 19:00] kwight opened #56248 "Subscriptions: Clean up testing code after new templates are in production."
We've had to commit some code for test switching while creating the new email templates. Once the new templates are active in production for everyone, the following clean-up tasks need to be done.

* Remove any remaining `wpcom_2021_blog_subscribe_template` filters.
* Remove the `$apply_default_html_layout` parameter from `Subscription_Mailer->send()`.
* Remove original rendering methods after the

[2021-09-14 19:11] synora commented on #56037
Reported at https://github.com/godaddy-wordpress/coblocks/issues/2026

[2021-09-14 19:11] #56037 closed, assigned to nobody

[2021-09-14 19:22] synora commented on #56041
Hi @kerrynicl. I agree that this setting can be move visible. @cometgrrl suggested for the setting to be placed under Account Settings or even Security.

[2021-09-14 19:23] kwight commented on #56152
I've confirmed that both the existing new templates have been corrected to sentence-cased buttons in D66421-code and D66481-code

[2021-09-14 19:23] #56152 closed, assigned to nobody

[2021-09-14 19:29] pablinos commented on #55388
Yeah that makes sense @JoshuaGoode, but as as I can see that's the intended behaviour. Maybe it's only working on Simple sites?

[2021-09-14 19:32] mreishus commented on #41508
We'll probably need to move this to another group. I don't have an android device; I spent some time trying to get an emulator running but wasn't successful.

[2021-09-14 19:44] jackiejade commented on #55388
User wanted to be able to edit the description of their menu and descriptions on widgets. They needed the WP Admin screens. HC-31433328

[2021-09-14 19:56] JoshuaGoode commented on #55388
In prep for block widgets, Nav Unification was updated to redirect `Appearance > Widgets` and `Appearance > Menus` to the Customizer instead of the standalone WP-Admin pages for those options.  Internal discussion about that here: p1628119959008100-slack-C021Z8P3RMG

This new redirection behavior came to WordPress.com on Atomic sites via Jetpack: https://github.com/Automattic/jetpack/pull/20587

#

[2021-09-14 20:05] chriskmnds commented on #56168
Makes sense Razvan. Leaving a bit of dead space in between would actually look a little weird/awkward. I think my point in general is whether we want any indication/effect as we hover over one icon and onto the next. In Calypso they play with opacity a little and it's pretty clear. In our case we change the color of the text, which is further to the left, while the icon remains static. but maybe j

[2021-09-14 20:16] pablinos commented on #55388
Right, I saw Automattic/jetpack#20587 and thought that was the desired behaviour. It sounds like we should revert the redirection part? I'll discuss it with @mmtr as I think he'll have some more context.

[2021-09-14 20:17] mreishus commented on #54981
I was able to reproduce this on a standalone core installation:
* Cloned https://github.com/WordPress/gutenberg
  * (Optional) _Verified that `.wp-env.json` had no extra plugins from previous experiments ( `"plugins": [ "." ],` )_
* Cd into it and `wp-env destroy && wp-env start` to create a clean WP
* Visit http://localhost:8888/wp-admin/ and login with admin:password
* Created a new post
* Creat

[2021-09-14 20:31] jp-imagines opened #56249 "Business Hours block: "Closed" text doesn't translate to interface language in the editor"
### Quick summary

_No response_

### Steps to reproduce

1. Start with account language and site language both set to English.
2. Add a Business Hours block to a post or page, keeping Saturday and Sunday as "closed."
3. Preview the post in a new tab and see that all text is in English as expected.
4. In a third tab, visit _My Site > Settings > General_ and change the site language. Save changes.

[2021-09-14 20:38] mreishus commented on #40499
I was not able to reproduce this on a newly created simple site:

https://user-images.githubusercontent.com/937354/133330389-f84a830d-b8da-48c4-995c-018eff404d5c.mp4

@mrfoxtalbot , is the issue still happening for you?

[2021-09-14 20:59] xpurichan opened #56250 "Natural theme: Translation missing for "continue reading" button on category pages"
### Quick summary

When we change a website's language it changes text that is automatically generated by the site, such as "Published by" "Continue Reading", "Comments", footer credits, and more. In this case the Natural theme isn't translating the "Continue Reading" button on category pages, the text remains in English.

### Steps to reproduce

1. Activate the Natural theme (an Atomic or simple

[2021-09-14 21:25] obenland opened #56251 "Task: Update Google Photos logo"
### Details

Let's make sure the Google Photos logos are up to date, so our app integration continues to adhere to [the UX guidelines](https://developers.google.com/photos/library/guides/ux-guidelines).

See p4hfux-5P7-p2

Within Calypso I think we need to update three:
* https://github.com/Automattic/wp-calypso/blob/0b1198ce5237a2540aaeeff024da4d5532a84acb/client/my-sites/media-library/google-pho

[2021-09-14 21:26] obenland commented on #56251
@olaolusoga Could I ask for our help with sourcing these new logos?

[2021-09-14 21:40] autumnfjeld opened #56252 "Task: In WP notifications drawer, notifications should be left-aligned"
### Details

## Description
All notifications in the WP Notifications Drawer should have left alighed text, currently most (or all) all centered aligned causing the copy to look awkward.  See the [entertaining slack thread for many more examples](p1631653328406200-slack-C029SB8JT8S).

Good to also prevent "orphaned" or "widowed" text using the [`preventWidows` method.](https://github.com/Automatti

[2021-09-14 21:43] olaolusoga commented on #56251
Here's the new logo https://worldvectorlogo.com/logo/google-photos-6

[2021-09-14 21:44] olaolusoga commented on #56251
per UX guidelines, we shouldn't make it b/w, and we need to use specific wording for the label next to the logo

<img width="870" alt="Screen Shot 2021-09-14 at 5 43 55 PM" src="https://user-images.githubusercontent.com/1382943/133338101-95b575a9-90ef-409a-9a32-4632331164b4.png">

[2021-09-14 21:45] obenland commented on #56251
Oh, that's easy! I was looking around Google Photo's guides page and couldn't find any. Thank you!

[2021-09-14 21:57] mreishus commented on #56251
Is there an updated one with the stylized "Google Photos" text nearby, to replace https://wordpress.com/calypso/images/sharing/google-photos-connect.png ?

[2021-09-14 21:58] obenland commented on #56251
To avoid displaying the Google Photos logo on its own and as part of an options dropdown, should we use the icon we have on Pexels for it and replace Pexels icon with[ the one we have in Jetpack](https://github.com/Automattic/jetpack/blob/5f1b0ea6fb37fe59d520f1202a950fe2f8c37aca/projects/plugins/jetpack/extensions/shared/icons.js#L33-L38)?

<img width="284" alt="image" src="https://user-images.git

[2021-09-14 22:00] olaolusoga commented on #56251
For now, yes.

[2021-09-14 22:06] obenland commented on #56251
Maybe we could use this? The UX guide asks to not "use the full Google Photos logo in UI assets like buttons" which I don't think we're doing here? Not sure.

[code]

[2021-09-14 22:14] olaolusoga commented on #56251
What bit are you referring to for this?

[2021-09-14 22:17] mreishus commented on #56251
It displays after you choose google photos, it's not on a UI element so I think it would be okay?
![2021-09-14_17-17](https://user-images.githubusercontent.com/937354/133341279-523b40f5-0532-47d1-a749-b9210c4b512f.png)

[2021-09-14 22:28] jordesign commented on #51899
So my thoughts here are 'why don't we do both'? Can we

* Improve the handling of situations where no text is selected - so it pulls in the URL as a link/reference?, AND
* Improve the wording of the instructions?

The wording in the support doc is pretty good:

- https://wordpress.com/support/press-this/#using-press-this

Compared to the instructions in Settings > Writing:

I feel like the instruc

[2021-09-14 23:37] worldomonation opened #56254 "Flaky E2E: Media: Edit: click to edit selected image"
### Spec

wp-media__edit-spec.ts

### Suite

Click to edit selected image

### Framework

Playwright

### Logs

[code]

[2021-09-14 23:37] worldomonation commented on #56254
This is likely because the upload isn't finished before the edit image button is clicked.

[2021-09-15 02:32] alaczek opened #56261 "Signup: Update Mayland starter design"
### Details

I've swapped out CoBlocks Masonry Gallery for Columns + Images block (see p4TIVU-9B7-p2 for details as to why).

### Checklist

- [x] [Update Mayland demo](https://maylandstarter.wordpress.com/)
- [x] Update Mayland theme annotation

### Related

#56567

[2021-09-15 02:36] jamiepalatnik commented on #53953
This error was reported for the Classic block while using the WordPress desktop app 7.2 on Windows (the browser displays it fine), see 4293462-zd-woothemes

[2021-09-15 03:13] arthur791004 commented on #51899
I think one way is to show an alert to tell our users to select the text. But we cannot show i18n in this case. So I still prefer to notice our users by improving the wording. Also, we can use URL as a default link/reference if our users don't select any of them.

Maybe we can step-based approach to guide our users on how to use it? For example,

Here are a few steps to clip text, images and video

[2021-09-15 03:44] galakhyati opened #56263 "Base64 image when embedding a blog post"
### Quick summary

When a blog post is embedded to a post, the image from the post embedded isn't showing and shows a base64 in the image link:

`data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgNDgwIDI3MCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48L3N2Zz4=`

When tried to decode the base64, it looks like this <svg viewBox='0 0 480 270' xmlns='http://www.w3.org/2000/svg'></svg> (it's an emp

[2021-09-15 05:04] p-jackson opened #56264 "Remove unused signup flow code"
### Details

We should remove signup flows that are no longer in use pbAok1-2hj-p2#comment-4638
This will save on bundle size

### Checklist

- [x] #56304
- [x] removes the `with-design-picker` flow
  - [x] #56852
- [x] Remove `onboarding-with-preview` flow
  - [x] https://github.com/Automattic/wp-calypso/pull/59795
- [x] Remove `site-style` step that is no longer needed
  - [x] https://github.com

[2021-09-15 05:05] #40499 closed

[2021-09-15 05:29] edwinho89 opened #56265 "Send copy of support contents to user email on https://wordpress.com/help/contact"
### What

Allow automated response from help@wordpress.com to include the contents, questions they asked when creating tickets on https://wordpress.com/help/contact

### Why

When live chat is full, reported user has the option to create a ticket to Zendesk, and will receive an automated response from help@wordpress.com

Content of email:

[code]

Requested on 31652356-hc

### How

As user may hav

[2021-09-15 05:35] inaikem commented on #56265
Based on content, I'm transferring this request to https://github.com/Automattic/happops for consideration there.

[2021-09-15 06:09] Robertght commented on #41428
This has also been discussed below and noticed the same behavior. The video files were missing the sizes: https://github.com/Automattic/wp-calypso/pull/55560#issuecomment-905743219

Should we consider this as a bug or as an enhancement for the future? cc @jmdodd

[2021-09-15 06:17] p-jackson commented on #55604
Posted about prototype with request for feedback on which themes/designs should appear pdgK6S-7f-p2

[2021-09-15 06:33] Greatdane commented on #56194
another; 4299011-zd-woothemes

[2021-09-15 07:19] yansern commented on #54754
This is now tracked in https://github.com/WordPress/gutenberg/issues/34262.

[2021-09-15 07:19] #54754 closed, assigned to nobody

[2021-09-15 07:35] mmtr commented on #55388
To expand a little bit:

- As a way of aligning Simple with Atomic (while also dealing with the lack of a Screen Options button in the Customizer: https://github.com/Automattic/wp-calypso/issues/55231), the Simple/Atomic pod changed the “Appearance > Menus” and “Appearance > Widgets” menus to link to `wp-admin/nav-menus.php` and `wp-admin/widgets.php` respectively (D65216-code).
- However, @simiso

[2021-09-15 07:49] Robertght commented on #56066
Closing this one as it appears to be similar to this: https://github.com/Automattic/wp-calypso/issues/56066

[2021-09-15 07:49] #56066 closed, assigned to nobody

[2021-09-15 07:58] Robertght commented on #43919
Checking with the pods if we can get some help with this.

[2021-09-15 07:58] cpapazoglou opened #56267 "Manage Plugins button in Calypso to redirect to `/wp-admin/plugins.php`"
We have recently allowed direct access to `/plugins` of Calypso in #55585.
This page includes "Manage Plugins" button which allows managing the plugins in Calypso. As we would like to avoid any implications this may have, and since the canonical plugins management page is `/wp-admin/plugins.php` we should change that button link to `/wp-admin/plugins.php`

The Manage Plugins Calypso is also linked

[2021-09-15 08:01] Robertght commented on #56064
I can confirm I've seen this with the current gallery, but not with the refactored one.  Is it safe to close this one cc @glendaviesnz ?

[2021-09-15 08:08] Robertght commented on #56078
Thank you for this fix @Christopher-Stevers !

@bluefuton I can see you've looked into this, but I'm not sure how much. Do you have any spare room to review it?
If not, is it ok to flag it to Flow Patrol Manage? :)

[2021-09-15 08:14] Robertght commented on #13901
Thank you for the ping! For tracking purposes, I've asked here: C029WGXE5T4/p1631603552007200 and it appears that it may be looked into in the future.

[2021-09-15 08:20] yansern commented on #55385
Both category and tag taxanomy has the same id. The only way to further distinguish them is by the object type through the `object` property.
![image](https://user-images.githubusercontent.com/1287077/133395789-cffb70ad-7d86-4d89-b43c-2fc17713858f.png)

The script `wp-admin/js/customize-nav-menus.js` and `wp-includes/class-wp-customize-nav-menus.php` needs to more granularly handle id and object t

[2021-09-15 08:36] flameslash commented on #50560
30616592-hc

This user is on an AT site but couldn't get Anchor to work. They have since asked us to revert it to a simple site so they can use the integration moving forward.

[2021-09-15 08:42] arcangelini commented on #55647
Tested since Gute has updated to 11.14.1

✅  Resolved

[2021-09-15 08:42] #55647 closed, assigned to arcangelini

[2021-09-15 08:52] getdave commented on #54981
Thanks for verifying @mreishus. I can confirm this is an Issue with Gutenberg which I can replicate on a clean install.

Would you be able to raise an Issue in the Gutenberg repo so that someone can take a look.

@ellatrix will probably want to be aware.

[2021-09-15 08:57] simison commented on #56251
Dropping icons and just using text might offer more flexibility around guidelines, and work just fine. The media header might become clearer as a result, too.

[2021-09-15 09:40] kdevnel commented on #56263
Just a note on this, the issue on this specific site disappears when you change to a different theme so I'm putting this down to a theme issue rather than an actual bug on our end for now.

Closing the issue and we can reopen if further information to indicate a bug comes out.

[2021-09-15 09:40] #56263 closed, assigned to nobody

[2021-09-15 09:52] yansern commented on #56126
What needs to be done is that when scanning for videopress elements on the page, it should also check if there is a `<details>` tag in its parents/ancestors in the dom tree.

Just like how the script listens for window resize event, also listen to the `toggle` on that `<details>` tag this way.
[code]

The codebase to work with is in https://github.com/Automattic/videopress-iframe. This seems like

[2021-09-15 09:55] inaikem commented on #56263
NB. The theme is `CheerUp 7.6.0` by ThemeSphere: https://cheerup.theme-sphere.com.

[2021-09-15 09:57] dsas opened #56271 "First plug-in installed doesn't appear to be installed"
### Steps to reproduce the behavior

1. Create a site on the business plan on wordpress.com
2. Go to plug-ins in the menu
3. Choose a plug-in (I used google-analytics-for-wordpress but any should be fine)
4. The plugin information will be displayed. Press install
4. Get the dialog explaining the site will be atomised, press Continue
5. This goes back to the plugin screen which now displays 'Instal

[2021-09-15 10:24] sajmes commented on #52209
Possible report here: 4298932-zd-woothemes

[2021-09-15 10:31] Christopher-Stevers commented on #56078
@Robertght I don't have it fixed as of yet.  I opened the PR to show I'm working on it, as per the instructions in the contributing doc. I am making progress though, and I have a couple of solutions which I should be able to implement.

[2021-09-15 10:55] yansern commented on #55187
There's a hardcoded width of `$width = 552;` under `jetpack_facebook_embed_handler` (it was decided back in 2017) which caused FB post embed to have a fixed width of 552.

Needs to be reviewed whether this can be safely removed.

[2021-09-15 11:22] zdenys opened #56273 "Calendly Block: Preview in the block inserter is not loading as before"
### Quick summary

Previously, the preview of the Calendly Block in the main block inserter (at the top right of the Editor) showed an image with a calendar view and how Calendly Block looked like with a Calendly linked pasted in the Block. Now it doesn't do that and loads a message of error in French stating that that URL is no longer used/available as seen here:

![image](https://user-images.git

[2021-09-15 11:22] Robertght commented on #56078
Gotcha! Thank you for clarifying!

[2021-09-15 11:38] mikeicode commented on #56066
@Robertght You linked to the same (this) issue in your comment (56066)

[2021-09-15 11:44] Robertght commented on #56066
Sorry! Copy-pasta glitch: https://github.com/Automattic/wp-calypso/issues/34630

[2021-09-15 11:49] mikeicode commented on #34630
Reported 31398472-hc

[2021-09-15 11:54] synora commented on #56046
Triaged. Able to reproduce the issue.

[2021-09-15 11:57] synora commented on #56047
Triaged. Able to reproduce.

[2021-09-15 11:59] andres-blanco commented on #55835
closed in D66774-code

[2021-09-15 11:59] #55835 closed, assigned to andres-blanco

[2021-09-15 11:59] bobmatyas commented on #55283
Another report here: https://wordpress.org/support/topic/histogram-vs-heat-map-stats-mismatch/?view=all

[2021-09-15 12:17] simison commented on #53100
Instead of error, shouldn't these then see "unsupported browser" message? cc @noahtallen

[2021-09-15 12:43] synora commented on #56075
Triaged. I can replicate just like @jamiepalatnik mentioned.

[2021-09-15 13:17] synora commented on #56094
@inaikem this issue seems like a duplicate of [#51415](https://github.com/Automattic/wp-calypso/issues/51415). Your experience matches what's going on in the other issue, which I'm also able to replicate. I'll close this one for now but feel free to open it back up.

[2021-09-15 13:17] #56094 closed, assigned to nobody

[2021-09-15 13:17] cpapazoglou opened #56277 "Explore bugs or missing features of Calypso site plugins page"
After deploying https://github.com/Automattic/wp-calypso/pull/55938 which allowed direct access to the Calypso plugins page - `https://wordpress.com/plugins/[DOMAIN]`, now is a good time to explore whether:

- there is feature parity in contrast to `/wp-admin/plugin-install.php`
- features are working as expected

[2021-09-15 13:22] synora commented on #51415
Just noting that I'm able to replicate based on @wpericam's steps. In my test, I set the Block Posts Block "Max number of words in excerpt" setting to 10.

The first two posts in the following screenshot are using a custom excerpts. The full custom excerpt is displayed and the "Read More" button is missing from those two.

The last post, titled "Testing", isn't using a custom excerpt. The Blog Pos

[2021-09-15 13:35] chad1008 commented on #55388
I'll defer to @fullofcaffeine for confirmation, but I don't _think_ reverting these redirects would disrupt things with block widgets. IIRC, before we updated the redirect, block widgets were testing fine in wp-admin.

[2021-09-15 13:50] vindl commented on #54463
After discussing this with @Copons we have settled on the Quadrat theme.

[2021-09-15 13:50] #54463 closed, assigned to vindl

[2021-09-15 14:02] synora commented on #56182
I was able to reproduce this on Chrome (Version 93.0.4577.63 (Official Build) (x86_64)) with my MacBook Pro (Big Sur 11.6).

The resizing seems to happen when I first select the "Link In Bio" patterns category.  After that, if I select a new category of patterns and then return to the "Link In Bio" patterns, the resizing doesn't occur:

https://user-images.githubusercontent.com/10015451/133447202-

[2021-09-15 14:10] ChrissiePollock commented on #42056
Another report on 31684050-hc  We used shortcode in the paragraph block to fix.

[2021-09-15 14:28] mreishus commented on #54981
It looks like this is already reported: https://github.com/WordPress/gutenberg/issues/33712

[2021-09-15 14:31] mreishus commented on #53100
I did see an unsupported browser error, and clicked through it - forgot to mention. :)

[2021-09-15 14:43] andres-blanco commented on #55836
closed with D66421-code

[2021-09-15 14:43] #55836 closed, assigned to andres-blanco

[2021-09-15 15:03] zdenys commented on #55388
Another case here: 31247611-hc

[2021-09-15 15:12] kosiew opened #56279 "Embed Preview not unfurling for some links"
### Quick summary

Rich Preview is not working for some links eg
[https://vietnamhoonist.com/2021/08/31/tong-hop-tin-tuc-thang-8-2021/](https://vietnamhoonist.com/2021/08/31/tong-hop-tin-tuc-thang-8-2021/),

For links like:
[https://wp20180808.com/contact/](https://wp20180808.com/contact/)
[https://wp20180808.com/about/](https://wp20180808.com/about/)

We get a message that `Sorry, this content co

[2021-09-15 15:14] Addison-Stavlo commented on #55709
I received confirmation that FullStory is already set up to capture the site editor both through calypso and wp-admin for simple sites. (p1631717075059500/1631278794.054000-slack-CFFF01Q4V)

[2021-09-15 15:14] dpasque commented on #56182
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-15 15:18] poligilad-auto commented on #56122
I like it @donalirl! Good idea. I'll add this to the current work going on to [redesign the domain management pages](https://dotcomdesignp2.wordpress.com/2021/09/10/domain-management-i2/).

[2021-09-15 15:30] getdave commented on #54981
[Here's a comment which has narrowed down the conditions](https://github.com/WordPress/gutenberg/issues/33712#issuecomment-901520115) to reproduce this error.

[2021-09-15 15:48] synora commented on #56142
Hi there @rickmgithub 👋
I'm unable to replicate this. Both the Legacy and Block Widget are working as expected for me:

https://user-images.githubusercontent.com/10015451/133466258-744c0c40-7f98-46d4-842d-1599e7f564b4.mp4

Are you still able to replicate this?

[2021-09-15 16:30] dpasque commented on #34630
Re-categorizing as a bug - we shouldn't say something is allowed that isn't!

[2021-09-15 16:33] dpasque commented on #56279
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-15 16:52] Sandkorner opened #56283 "Built-In shortcode not working with Page Optimize plugin"
### Quick summary

Built-In shortcode not working with Page Optimize plugin

### Steps to reproduce

Add shortcode and plugin to site.

Shortcode - https://codex.wordpress.org/Playlist_Shortcode

Plugin - https://wordpress.org/plugins/page-optimize/

### What you expected to happen

Work normally, both being our products.

### What actually happened

Did not work. Playlist did not load in editor o

[2021-09-15 17:02] worldomonation commented on #55478
Continues to be reproducible and affecting end-to-end tests on `trunk` and elsewhere.

- https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/6705169?buildTab=tests&expandedTest=build%3A%28id%3A6705169%29%2Cid%3A5485#%2Fscreenshots
- https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/6702607
- https://teamcity.a8c.com/buildConfiguration/c

[2021-09-15 17:14] synora commented on #56162
➕ 1 to this suggestion.

Even having a "lock" icon next to the domain in Upgrades > Domains would be helpful.

![Annotation on 2021-09-15 at 13-13-43](https://user-images.githubusercontent.com/10015451/133479116-e9fbc001-70af-462d-8416-05b7ce9ea491.png)

[2021-09-15 17:33] ash1eygrace commented on #43919
4297815-zen

[2021-09-15 18:55] ianstewart commented on #56277
Plugin installation flows worked as expected. It was a bit strange that my first plugin was auto-activated for me after installation while subsequent ones weren't. I'm assuming that's a separate issue however.

[2021-09-15 19:12] noahtallen commented on #53100
Yep, that behavior makes sense then. Everyone is served a build with modern JS, like optional chaining. So after clicking through, it may or may not break depending on the browser used.

[2021-09-15 19:29] mreishus commented on #56251
Created
* Media Data-Source: Update Google Photos: Approach 1 #56288
  * Updates icon and changes text label to always display next to icon
* Media Data-Source: Google Photos: Approach 2 #56287
  * Shuffle icons around, does not use the official google photos icon

Open to other approaches or refinements

[2021-09-15 19:30] vindl opened #56289 "Site Editor: redirect to My Home after signup"
**Note: hold for dev onboarding.**

In order to align our signup flow (Gutenboarding) with the old signup, as well as the future work that other pods are planning on this front, we should stop opening the site editor after signup is complete.

This will hopefully also deal with user confusion around how to exit the editor.

[2021-09-15 19:46] vindl opened #56290 "FSE beta: research possible usage of Experimentation platform"
To control the number of people that see the FSE beta opt-in and prevent overloading support, we wanted to show this signup step only to a small percentage of users at first. One way to achieve that would be to leverage the existing [Experimentation platform](https://github.com/Automattic/experimentation-platform/wiki).

We should research whether this is viable and if it's an intended usage of it

[2021-09-15 19:53] anomiex opened #56291 "calypso-build tries to define NODE_ENV to undefined"
### Steps to reproduce the behavior

1. Create the following files in an empty directory:
  * `src/index.js`
[code]
  * `package.json`
[code]
2. Run `npm install` or `pnpm install` or `yarn install`
3. Run `npm run build` or `pnpm build` or `yarn build`

#### What I expected to happen

Build proceeds without warnings.

#### What actually happened

The following warning is produced:
[code]

If you

[2021-09-15 19:57] thekingsprojects commented on #56046
Another case here: 21231319-hc . User is able to hear the sound when previewed in Media Library, but when they view the link directly, or someone downloads the file via a Woo purchase, there's no sound.

[2021-09-15 20:09] jeffikus commented on #54463
Thanks @vindl - I missed this one. Quadrat is a good choice, feel free to ping us in #themes if you have questions.

[2021-09-15 20:13] wpshellbelle opened #56292 "Block Widgets: Cookie & Consents Banner Widget - Unexpected error if added on the Free plan"
### Quick summary

When adding the Cookies and Consent Banner using the new block widgets, you will see the following error upon adding this widget to a site on a Free WordPress.com plan: `The editor has encountered an unexpected error.`

### Steps to reproduce

1. On a WordPress.com site on the Free plan, go to Appearance > Customize > Widgets > [Widget Area] > + Add a Widget
2. Add the Cookies a

[2021-09-15 20:16] obenland commented on #56251
In their current form I'd probably prefer Approach 2. I wonder if Approach 1 would work better without the icons, like @simison  [suggested](https://github.com/Automattic/wp-calypso/issues/56251#issuecomment-919831317).

[2021-09-15 20:31] benchilcote commented on #53978
Adding another case 4298237-zen

[2021-09-15 21:15] carinapilar opened #56293 "Receipts Emails: Add User Friendly Description"
### What

Add a more detailed description of the purchase at the top, where it's easier to spot.

### Why

In support, we receive a lot of email replies to the receipt emails, especially renewals, with questions that can be found on the user's account, without needing to contact support. Here's an example: 4216917-zd-woothemes

### How

This is what we currently send to users:

![ReceiptEmails](ht

[2021-09-15 21:31] carinapilar opened #56294 "Feature Request: Atomic Site Ownership Transfer"
### What

Option to transfer an Atomic site ownership on the user's side.

### Why

The process to transfer an Atomic site ownership between users is very manual, and needs support intervention. I wasn't able to find any GH for this, so I'm creating this one for additional reports.

### How

_No response_

[2021-09-15 21:41] Gustavo-Hilario opened #56295 "Android > Microsoft Edge: Latest version is showing up as an unsupported browser. Unable to reach the login page"
### Quick summary

Android: Latest version of Microsoft Edge is showing up as an unsupported browser.  Users are unable to reach the login page

### Steps to reproduce

1. Go to Play Store and download the Microsoft Edge app
2. Access the app and search for "WordPress login". One of the first results should show as "Unsupported Browser - WordPress.com" you can access this link or try it directly h

[2021-09-15 21:51] mreishus commented on #56251
Updated Approach-1 to remove icons

[2021-09-15 21:56] carinapilar opened #56296 "Mapping Email: Review Layout and Wording"
### What

Simplify wording on email about domain mapping.

### Why

It's common to get confused users about how mapping domains work, here's an example: 4220079-zd-woothemes -  I'm creating this thread to start a discussion on how we can improve the wording, update the email layout to the new one, and use the new concept of domain connection.

### How

Here's how the email looks like now:

![Mappi

[2021-09-15 22:06] carinapilar opened #56297 "Feature Request: Facebook Pixel Integration"
### What

Offer a way for users to add Facebook Pixel to their site.

### Why

It's a common request with a complex workaround: https://wordpress.com/support/facebook-integration/#facebook-pixel - and also need plugins for additional features. Here's an example of a user request: 4218102-zd-woothemes

### How

_No response_

[2021-09-15 22:12] carinapilar commented on #14624
This is still a common request, another one here: 17930326-hc.

[2021-09-15 22:15] glendaviesnz commented on #56064
This is not a gallery issue. I am pretty sure this is related to the Jetpack publicize module and this is a separator related to the Twitter thread option. On trying to replicate in the Jetpack repo it seems to disappear after this move of the publicize module - https://github.com/Automattic/jetpack/pull/21016 - @retrofox may now if this was a known issue that was fixed by this move, or an uninten

[2021-09-15 23:09] worldomonation opened #56300 "Flaky E2E: Remove plan from cart"
### Spec

wp-plans__purchases-spec.ts

### Suite

Manage current Plan

### Framework

Playwright

### Logs

[code]

Link: https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_desktop/6708429

[2021-09-16 00:02] autumnfjeld opened #56302 "Blogger Onboarding Flow v1: Design Picker Flow"
# Blogger Onboarding Flow v1: Design Picker Flow
Finish signup -> Show design picker -> Land in My Home
![image](https://user-images.githubusercontent.com/5665959/133528917-9d7cd800-f269-4503-97a0-c7357f4ea357.png)

##  Details
Project Thread: pdgK6S-78-p2
This is [iteration #1](pdgK6S-78-p2#design-picker-flow) in the Blogger Experience Pod's production of Blogger Flow v1. 👏   For this iteration w

[2021-09-16 00:05] worldomonation commented on #56254
As noted in #56284 -

The changes there ended up introducing a permafail on mobile. Looking into it.

[2021-09-16 00:31] goblinartificer commented on #56181
Seen today in 30146751-hc ⁠— Google Sheets is another good workaround, pasting there then pasting from there into the editor still works.

[2021-09-16 01:34] rahul020691 commented on #56183
Another case: hc-28251641

Shared workaround with the user and that worked for them.

[2021-09-16 01:42] fullofcaffeine commented on #56098
Quoting @simison:

cc @chad1008

[2021-09-16 02:12] roo2 opened #56303 "Plan features page takes users out of the blogger onboarding flow"
With an _Existing_ user, start from https://wordpress.com/start and select the "Personal" or "Business" plan. Proceed through checkout.

Expected:
Any user going through the /start flow should proceed to the Intent Screen of the Hero Onboarding Flow once the plan selection/checkout flow is finished.
Note: this will be a change to the "Personal" or "Business" plan flows, eliminating this screen fro

[2021-09-16 03:30] masperber commented on #55388
+1 31696571-hc

[2021-09-16 03:59] p-jackson commented on #56303
Interesting I get a Quick Start Session up sell on the Personal plan.

<img width="816" alt="Screenshot 2021-09-16 at 3 52 38 PM" src="https://user-images.githubusercontent.com/1500769/133546766-b1d231a9-21eb-4bac-8755-5bc3bb185690.png">

If you say you don't want a quick start session you're taken back to the design picker.

My understanding was that we didn't want to change any of these flows wh

[2021-09-16 04:41] p-jackson opened #56306 "Post-checkout Design Picker: Feedback Round 1"
### Details

The prototype for the post-checkout design picker (which can be tested at `/start?flags=signup/setup-site-after-checkout`) is out, and we're gathering a feedback: pdgK6S-7f-p2

This umbrella task is for the feedback that I think should be addressed before we P2 again.

@Automattic/ganon-bloggers

### Checklist

- [x] #56388
- [x] #56481

### Removed from pre-launch checklist

We may s

[2021-09-16 04:43] p-jackson commented on #55604
The tech foundations/prototype is out. Umbrella issue for feedback #56306.

🌂

[2021-09-16 04:43] #55604 closed, assigned to p-jackson

[2021-09-16 05:12] Robertght commented on #56292
Thank you for reporting this @wpshellbelle ! I can confirm  that I see the same thing happened on my end:

[code]

I think this might happen because the already contains the default banner on the Free plan. Adding this to @Automattic/flow-patrol-create

[2021-09-16 05:22] andrewserong opened #56307 "Gallery block refactor: Update Reader CSS to handle new gallery block markup"
Reported by @vajrasar in p58i-bb8-p2#comment-51946

Before we can activate the refactored gallery block in wpcom, we need to ensure that the new gallery block's markup is handled by the Reader's CSS in https://github.com/Automattic/wp-calypso/blob/e3465afee05c1e9ea083d585d2c91d940c0174c9/client/assets/stylesheets/shared/_typography.scss#L315-L315

### Steps to reproduce the behavior

1. With the G

[2021-09-16 05:50] ollierozdarz commented on #56303
Hey @p-jackson, thanks for calling this out.

I went through the flow just now and clicking 'No thanks' took me to My Home. But I think you're saying once in checkout for a Quick start session, then it's taking you to the plans page.

There are a few edge cases around purchasing a plan or domain. We should go through and try to handle them on a case by case basis. @razvanpapadopol graciously docum

[2021-09-16 05:59] p-jackson commented on #56303
I'm sure we can, I'll look into it.

I agree except ... I personally think the free option on `/start/plans` is hard to find. I'm sure it's intentional, de-emphasising the free plan means it'll be more likely folks will pick a paid plan. But what I think this means is that plenty of users who make it to checkout actually wanted the free plan. Emptying the cart and landing on the dashboard is the f

[2021-09-16 05:59] Robertght commented on #56295
Thank you for reporting this @Gustavo-Hilario ! It appears this may be suitable for https://github.com/wordpress-mobile/WordPress-Android/issues

I've created a new issue based on this one here: https://github.com/wordpress-mobile/WordPress-Android/issues/15332

[2021-09-16 06:06] zdenys opened #56308 "`Screen Options` label partly covers the chat exit button `X` in the customer view"
### Quick summary

Thanks to the buddying done with @michalczaplinski and @SantosGuillamot I was able to observe how the Live Chat interface looks from the customer perspective.

I discovered that the `Screen options` tab/section at the top-right of the dashboard does cover the chat title and most importantly the exit button `X`.

![image](https://user-images.githubusercontent.com/39308239/1334611

[2021-09-16 06:08] ollierozdarz commented on #56303
Agree totally about the Free plan. The implementation as we know it now is actually not the ideal state and not intentional. Ideally it's [this](https://d.pr/i/KFKZAq) (which is my original design), but I'm also aware that the Pricing and Packaging pod have some changes for this page incoming which should also make Free easier to find too.

I think you make a good point but it's a bit of a bandaid

[2021-09-16 06:09] Robertght commented on #56308
Thank you for reporting this! Adding this to Flow Patrol Manage to take a look.

[2021-09-16 06:41] yansern commented on #56182
Issue is similar to https://github.com/Automattic/wp-calypso/issues/56077 except this one is expanding.

[2021-09-16 06:59] p-jackson commented on #56303
pdgK6S-88-p2

Yes please!! 🕺

[2021-09-16 07:40] ahmadbaig1 commented on #55385
Another one reported here- 4291729-zen
Advised the user to use custom links for the tag pages for now.

[2021-09-16 07:53] razvanpapadopol commented on #52280
Thanks, @simison! Yes, that's correct. The only thing left will be to clean up the old tour previously used on mobile.

[2021-09-16 09:05] kdevnel commented on #56183
@dpasque just checking if this should be labelled for nav unification instead of the editor? Adapting nav unification to push to the WP Admin editor when Divi is installed might be a better approach than trying to add 3rd party page builder support into the Calypso editor.

[2021-09-16 09:24] retrofox commented on #56064
First of all, why we are defining these [gallery styles in the publicize plugin](https://github.com/Automattic/jetpack/blob/c7adc871c064744a56a57583a5f210f46e60a5dc/projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/editor.scss#L137-L141
)?

[code]

https://github.com/Automattic/jetpack/pull/21016 simply moved the location where the Publicize block-editor plugin was defined a

[2021-09-16 09:53] yansern commented on #45208
Shortcodes on notifications are now being tracked our shortcode/embed rendering fallback project. See pd8D2H-h2-p2.

YouTube shortcode is now fixed with https://github.com/Automattic/jetpack/pull/21000, along with Spotify, Soundcloud, Dailymotion, VR as of speaking.

I will close this issue for now.

[2021-09-16 09:53] #45208 closed

[2021-09-16 09:59] Sandkorner opened #56309 "Live Chat Support is offered only in English"
### What

It is not really a feature itself, but more a string of text to add to the check-out menu, where we list what the purchase gives them (see screenshot below)

### Why

This would solve or let users already know from the time off purchase, that our Live Chat support is only in English, so that there would be no "bad" surprises for non-english speaking users and the support scope is set alr

[2021-09-16 10:31] simison commented on #56251
Might be good to get design review on all variations.

[2021-09-16 10:37] rickmgithub commented on #56142
Thanks @synora Looking at the ticket it looks like someone did something somewhere that fixed it. User happy. So looks like it's all good now.

[2021-09-16 10:45] roo2 commented on #56303
Ahh ok maybe this issue only affects personal and business plan for _existing_ users if new ones are seeing the quick start sessions.

[2021-09-16 11:50] Gustavo-Hilario commented on #56295
Awesome! Thank you @Robertght 🙏

[2021-09-16 12:44] vindl opened #56312 "FSE beta: remove beta testing item for all users"
There is an additional beta testing initiative that only redirects folks to Horizon. It might be confusing for users that have already opted into FSE beta in the signup, and we should remove it ~in that case~ for all users.

![image-2](https://user-images.githubusercontent.com/1182160/133614099-e252fa18-8462-47d9-a0d5-9fcf31023fa2.png)
![image-3](https://user-images.githubusercontent.com/1182160/1

[2021-09-16 13:21] lizswafford commented on #53626
29596428-hc
Atomic

[2021-09-16 13:22] ArSn commented on #53626
31704338-hc
Atomic

[2021-09-16 13:34] mikeicode commented on #55388
31280712-hc

[2021-09-16 14:05] #55365 closed, assigned to chriskmnds

[2021-09-16 14:11] dpasque commented on #56183
@kdevnel Great point! Updated.

[2021-09-16 14:11] chriskmnds commented on #56140
@razvanpapadopol It doesn't look like we'll be exploring drag behavior for the help center, right? I guess we can close this then.

p.s. I did some brief testing last week of the current draggable component in core. It could serve as a basis to extend on I think, but no idea if from scratch would just be better.

[2021-09-16 14:17] dpasque commented on #56142
Closing as it seems to no longer be reproducing.

[2021-09-16 14:17] #56142 closed, assigned to nobody

[2021-09-16 14:21] devNigel opened #56314 "Cover Block has a dark overlay despite selecting white overlay color in the block settings"
### Quick summary

The overlay color of the Cover Block is acting odd with the theme Coutoire. If you select any other Secondary color other than the default one set by the theme, the Cover block has a dark overlay.

This dark overlay stays despite applying a white `#ffffff` overlay in the Block settings.

I tried reproducing with other themes, but could not identify any pattern to it.

### Steps

[2021-09-16 14:46] kristastevens commented on #51899
In looking into this I tested Press This by highlighting some copy and clicking the bookmarklet. A new post modal appeared with the copy, the post title and a clickable URL back to the original post. 👍

Here's the original copy explaining Press This in Settings > Writing:

Here's some proposed copy that includes an explanation of what it does and (hopefully clearer!) steps on how to use it. Let me

[2021-09-16 14:58] synora commented on #55685
Another report: 31705921-hc.
Deactivating Gutenberg solved the issue. I also suggested they do conflict troubleshooting with plugins.

[2021-09-16 15:46] dpasque opened #56318 "Flaky E2E: New signup spec fails when trying to close account"
### Spec

wp-signup__free.ts

### Suite

Delete account permanently

### Framework

Playwright

### Logs

Sometimes:

[code]

Also can run into:
[code]

It looks like from the videos that after following the mail link in, it quickly switches from the account page to the home page. Looking into that.

[2021-09-16 15:48] thekingsprojects commented on #56046
And another one: 31594345-hc

[2021-09-16 16:25] synora commented on #56139
@dpasque 👋
I've triaged this feature request that involves our Spacer Block and the CoBlocks Feature Block. Would it be best to keep here or place it in https://github.com/godaddy-wordpress/coblocks/issues?

[2021-09-16 17:10] obenland commented on #56251
@olaolusoga [Which way are you leaning on this](https://github.com/Automattic/wp-calypso/issues/56251#issuecomment-920316177)?

[2021-09-16 17:33] ahmadbaig1 commented on #50126
Another reported- 4302953-zen
Asked the user to try zooming in/out.

[2021-09-16 18:01] ClassicRKR27 commented on #55685
Another report here: [31709810-hc](https://hud.happychat.io/chat/31709810)

Deactivating Gutenberg also solved the issue here.

[2021-09-16 18:03] #56318 closed, assigned to dpasque

[2021-09-16 18:27] #56300 closed, assigned to worldomonation

[2021-09-16 18:30] carinapilar opened #56323 "Add Nudge to Upgrade on Free Site with Domain"
### What

Make it more visible the benefits of having a plan on a site with a custom domain.

### Why

Right now there's no mention to the custom domain on a Free site, the user only sees the free address, and that the site is on the Free plan.

There's a nudge about a free domain, even though the user already has a domain:

![PlanNudgeOnFree](https://user-images.githubusercontent.com/16104522/133

[2021-09-16 18:57] carinapilar opened #56324 "Payments Block: Ability to Share a Referral Code"
### What

Add an option to enable a field to enter a referral code for payments.

### Why

In the payment plan settings, we could have an option to enable a referral code field, so once the customer pays using a Payment block, they would enter a code, and the seller would be able to export that information and know to whom they should give the referral fee.

Requested on 31042165-hc.

### How

_No

[2021-09-16 18:59] jp-imagines commented on #55388
Another request in 31646094-hc

[2021-09-16 19:06] carinapilar opened #56325 "Option to Export Posts as PDFs"
### What

Add an option to export content in a readable way, such as PDF files.

### Why

Right now users only have the option to create an XML when exporting their site's content, but sometimes they want a readable way, we get requests for PDFs and books for example.

Requested on 31035514-hc

### How

_No response_

[2021-09-16 19:10] carinapilar opened #56326 "Domains: More Info on 255 Record Limitation"
### What

Add more details on why there's a 255 limitation for DNS records.

### Why

Right now we only show this error message:
![DNSRecordsLimit](https://user-images.githubusercontent.com/16104522/133670983-0df3769a-ff81-4dab-8546-140ba3a68a7c.jpg)

We could add more details in there, or/and a link to [our support doc on Custom DNS > TXT Record Character Limit](https://wordpress.com/support/doma

[2021-09-16 19:25] #49720 closed, assigned to jjchrisdiehl

[2021-09-16 19:36] Robertght commented on #56283
Based on [this](https://wordpress.com/support/shortcodes/#audio) it should be working, but it's not clear whether it's only for widgets as described [here](https://wordpress.com/support/audio/#audio-playlists-widget-only) or not.

Flagging this for @Automattic/flow-patrol-create

[2021-09-16 19:43] carinapilar opened #56327 "Subscription Form: Add On Subscription Options"
### What

Add options for the user to choose when a visitor subscribes to their site.

### Why

The Subscription Form could have similar [On Submission options like the Form block](https://wordpress.com/support/wordpress-editor/blocks/form-block/#on-submission) has, it would be helpful to give subscribers something like an ebook/PDF, or even redirect to another page.

Requested on 30986132-hc

###

[2021-09-16 19:53] dpasque commented on #56139
@synora Hi there! 👋

I would say that this issue actually probably belongs best in the GoDaddy repo! We pull from there and adapt in to WPCOM, but this looks like a limitation that exists natively in their block!

[2021-09-16 20:02] dpasque commented on #56139
@synora Also, I'm migrating it ATM! (Just as a heads up so we don't both do it! 😄 )

[2021-09-16 20:07] carinapilar opened #56329 "Export: Download Specific File Types"
### What

Add an option to let the user choose which file type they would like to download.

### Why

Similar to the filter options we have when exporting content, we could also have some options when exporting media library files, such as downloading specific file types.

Request from: 4219907-zd-woothemes

### How

_No response_

[2021-09-16 20:13] dpasque commented on #56139
Opened here: https://github.com/godaddy-wordpress/coblocks/issues/2032

Closing this issue in favor of that one!

[2021-09-16 20:13] #56139 closed, assigned to nobody

[2021-09-16 20:14] tellisbethel commented on #55388
Provided direct URL workaround for user to access wp-admin menus page in this chat: 30428802-hc

[2021-09-16 20:22] scinos opened #56330 "Task: Fix ESlint Errors (tracking issue)"
### Details

Current list of errors (updated to commit 6a130575c5759ba153f1310e9de36cb4629a19a4)

| Rule                                                 | Errors | Disabled | Autofix| Issue
| ---------------------------------------------------- | ------:| --------:| ------ | --
| [wpcalypso/jsx-classname-namespace][1]               | 273    | 308      |        |
| [jsx-a11y/anchor-is-valid][6]

[2021-09-16 21:07] jordesign commented on #55972
Doing some more digging into this and we have some blockers with the Donations block at the moment - even stopping some nice patterns from being made:
pdgK6S-4m-p2#comment-263

going to stick this into the Future column for now.

[2021-09-16 21:07] carinapilar opened #56334 "My Home: Trail Marker to SEO support page in Stats page"
### What

Add SEO resources on the My Home page.

### Why

SEO questions are very common, it feels that users would benefit to have resources about that on the My Home page, maybe on that card below the stats.

Here's an interaction example: 31044757-hc
And a recent discussion about available resources: p1630987315008100-slack-C011C7R4BS9

### How

_No response_

[2021-09-16 21:19] autumnfjeld commented on #56303
Am I understanding the conclusion here:

* we keep all upsell flows
* if user completes upsell flow we respect screens that give them options (like the screen posted by @roo2 ) that will mean they don't get routed into the new design picker flow (or any flow we are doing in this blogger pod iteration)
   * if that screen doesn't have options (just a close or continue button like the screen posted

[2021-09-16 21:21] jordesign commented on #51899
That copy looks brilliant to me - thanks Krista

[2021-09-16 21:34] ollierozdarz commented on #56303
@autumnfjeld I'm not sure there's a conclusion yet. Let's give @p-jackson's post a few days to be seen by the right people, then we can deice the route.

In a nutshell, I think this upsell can either be moved or removed to fit with out new flow. I don't think we should leave it as is (unless there's a very compelling reason), because it defeats the purpose of all the work we're doing to rethink th

[2021-09-16 21:43] jordesign commented on #55432
Doing a bit of digging - it looks as though when a post is re-blogged to your site - there's no real way to distinguish it from any other post in the site. So I can't think of any _easy_ way to pull them all together.

The main thing I can see is in that the post content contains everything in a `wpcom-reblog-snapshot` div - something we could maybe target programatically. But definitely something

[2021-09-16 21:54] the-misha opened #56338 "Error message when opening pages with Classic block"
### Quick summary

Error message when opening a page with a Classic block in the block editor or adding a Classic block to a new page in block editor: `Failed to initialize plugin: gutenberg-wpcom-iframe-media-modal`

Pages open without error in Classic Editor, but consistently with errors in block.

![image](https://user-images.githubusercontent.com/79414372/133690465-ed307a4c-4d74-41f3-b1b9-1832

[2021-09-16 22:04] jordesign commented on #56114
Confirmed we can just set a text-align:left; and this will work - but I can't fire up my local copy of Calypso to try and push a PR

[code]

<img width="1216" alt="Screen Shot 2021-09-17 at 8 03 57 am" src="https://user-images.githubusercontent.com/1842363/133691746-9d67fed7-db52-4f8a-ac4f-6219a84dcc2c.png">

[2021-09-16 22:20] JoshuaGoode opened #56340 "Nav unification breaks WPML plugin navigation"
### Quick summary

The Calypso side of nav unification breaks WPML sidebar navigation.

Within the WPCOM Calypso view, WPML links are broken.  If a user manually navigates to the WP-Admin view, they work.

![Screen Shot on 2021-09-16 at 18:10:55](https://user-images.githubusercontent.com/4887830/133692339-b096224e-18ac-4c05-bce6-6d9f1dedd8c3.png)

#### Examples

`WPML` in Calypso attempts to go to

[2021-09-16 22:28] JoshuaGoode commented on #55553
Highlighting that this was previously an issue that was fixed via nav unification and the WP-Admin toggles.

Then, that was undone via the recent changes.

https://github.com/Automattic/wp-calypso/issues/48146

[2021-09-16 23:00] glendaviesnz commented on #56064
No, the issue was there before your PR - and I just checked again and it actually still occurs in trunk - not sure why it wasn't showing in trunk for me yesterday - so I don't think your PR has actually impacted it at all @retrofox. I have added an issue in jetpack repo for it https://github.com/Automattic/jetpack/issues/21121

[2021-09-17 00:59] arthur791004 commented on #51899
Looks good to me too 👍

[2021-09-17 01:39] goblinartificer commented on #56338
Another incident in 30730926-hc today

[2021-09-17 03:56] goblinartificer commented on #56338
4304728-zen

[2021-09-17 04:41] rw-ye commented on #56338
Another incident here:
617893-hc
4304846-zd-woothemes

Suggested the workaround for now.

[2021-09-17 05:25] jeherve commented on #56064
👍 Closing this issue in favor of the one in the Jetpack repo.

[2021-09-17 05:25] #56064 closed, assigned to nobody

[2021-09-17 05:51] Robertght commented on #56144
I can confirm I wasn't able to replicate this either.

 - I also switched the language of the site to Chinese, but no relevant results.
 - I tried it from a Windows machine with the Office app - that opened the web office app, but no errors there either.

[2021-09-17 06:03] arthur791004 commented on #51899
@jordesign Do we still need to handle this part?

[2021-09-17 06:06] Greatdane commented on #56338
Another: 4291139-zd-woothemes

Suggested Classic Editor workaround.

[2021-09-17 06:10] Greatdane commented on #56338
All 4 reports are within the last 24 hours, and all appear to be Simple sites.

[2021-09-17 06:24] kosiew commented on #56338
#4304699-zen too.

Adding a bigger screenshot:

![image](https://user-images.githubusercontent.com/29057562/133734519-7177dffa-302a-4dc4-bb7b-4c9243490f7a.png)

[2021-09-17 06:50] Greatdane commented on #56144
The user has posted two videos on the ticket, showing the error happening. The first video they copy from a Word Document, but it also looks like they are copying the ending 'Enter' sign. So that could be related to the [obj] bug?
<img width="135" alt="Markup 2021-09-17 at 15 45 21" src="https://user-images.githubusercontent.com/5075840/133737065-dbf32348-d1f8-41ea-8843-09ab690ac3d7.png">

Videos

[2021-09-17 06:59] Robertght commented on #56144
I couldn't see that in the web version of the doc. I believe it could be only a app-related feature of sort.

@getdave Could this be something that is be caused by the same issue https://github.com/WordPress/gutenberg/issues/34602#issuecomment-915308888 ?

[2021-09-17 07:04] simison commented on #56338
Disabling the plugin until problem is fixed could be good first step:

https://github.com/Automattic/wp-calypso/blob/fb55dd173718474002a6204905974f2d9a669314/apps/wpcom-block-editor/src/calypso/features/tinymce.js#L9

[2021-09-17 07:37] cpapazoglou opened #56348 "Plugins Browser: Update featured plugins list"
ref pdh6GB-3D-p2#comment-188

![](https://cln.sh/wlRkK0+)

**Remove:**

- TinyMCE Advanced
- Page Builder
- BuddyPress
- Monster Insights

**Add**

- MailPoet
- Jetpack CRM
- Contact Form 7
- Google Site Kit

- [x] If tracks events are not in place for clickthrough here lets add them before we make the change.

[2021-09-17 07:39] cpapazoglou commented on #56348
@vajrasar do you see any blockers to making this swap?

[2021-09-17 08:00] cpapazoglou opened #56349 "Marketplace: Update state selector to correctly identify Marketplace products"
Right now the `isMarketplaceProduct` selector returns a static list. Let's change this selector to use wpcom store products endpoint `https://public-api.wordpress.com/rest/v1.1/products?http_envelope=1` and filter by `product_type starts with marketplace`.

This selector is already used in a crucial flow of the atomic downgrade here https://github.com/Automattic/wp-calypso/pull/55381/files#diff-c1

[2021-09-17 08:19] simison commented on #56338
@scinos  onfirmed on Slack (p1631860983056900-slack-dotcom) that this is due to recent React 17 upgrade https://github.com/Automattic/wp-calypso/pull/54793

[2021-09-17 08:34] retnonindya commented on #56338
Report:
4304721-zd-woothemes

I'm informing the user to switch to Classic Editor temporarily

[2021-09-17 08:50] retnonindya opened #56350 "Follow button: Non-responsive when there is no post. Is it possible to hide?"
### What

When there is no post on a WordPress.com website, the Follow button (the small wee box on the bottom right corner with three dots) will be unresponsive. Is it possible to entirely hide it?

### Why

This button:

![Screenshot 2021-09-17 at 4 47 17 PM](https://user-images.githubusercontent.com/44726232/133753766-5887036f-c2d0-464b-a334-06d9df68beb7.png)

If a website has posts/blog posts/

[2021-09-17 10:05] scinos commented on #56338
Fix has been deployed.
I'm going to reopen the issue until I get confirmation from somebody else that this is indeed fixed.

[2021-09-17 10:15] zdenys commented on #51305
Now I can see that my report is a duplicate of https://github.com/Automattic/jetpack/issues/17788. So I will close it now.

[2021-09-17 10:15] #51305 closed, assigned to nobody

[2021-09-17 10:29] AliSoftware opened #56352 "Bug: ActionBar is not working anymore – no action on click"
### Steps to reproduce the behavior

1. Go to any .com site you own
2. Click on the '•••' in the action bar at the bottom (next to "Customize")

#### What I expected to happen

The dropdown menu (to Follow the site and all) should open

#### What actually happened

Nothing happens – the dropdown doesn't show

### Context

#### Browser / OS version

Happening both in Chrome (`Version 93.0.4577.82 (

[2021-09-17 10:30] yansern commented on #56352
cc @blackjackkent as you were recently working on this file.

[2021-09-17 10:31] galakhyati commented on #56338
Another instance: 4305254-zd-woothemes

Informed them to switch to classic view and edit the page from there.

[2021-09-17 10:47] AliSoftware commented on #56352
Additional note that if I inspect the HTML to remove the `actnbr-hidden` class to hack the menu into being displayed, I see the menu including its "Follow" button, but then clicking on "Follow" in that menu doesn't work either.

When I do that:
1. The page seems to reload
2. But (after I re-do the hack to remove `actnbr-hidden` class and show the menu) the state of the button is still "Follow" not

[2021-09-17 10:48] StefanNieuwenhuis commented on #55826
@donalirl, @poligilad-auto, I've added the provided graphics to the Welcome Tour's mobile viewport. The videos below are the result. Would you be so kind to review them and provide feedback? Thanks so much 🙏

### Welcome Tour on desktop screencap
https://user-images.githubusercontent.com/12104589/133770360-8adf4aad-bac1-495c-8474-a9b39431d2a0.mov

### Welcome Tour on mobile screencap
https://user-

[2021-09-17 10:53] jartes commented on #55388
Another one on 31722663-hc

Provided WP-Admin url as a workaround.

[2021-09-17 10:57] razvanpapadopol opened #56353 "Editor Step-by-step guides: Tech foundation"
**Update:** before trying anything new in this direction, would be good to go through the previous spike discussed in pbxlJb-eL-p2 and implemented using Shepherd in https://github.com/Automattic/wp-calypso/pull/43365

___

- copy to an a8c package just the utils / components (most of them are in [config-elements](https://github.com/Automattic/wp-calypso/tree/trunk/client/layout/guided-tours/config

[2021-09-17 11:37] arcangelini commented on #56352
It looks like the actionbar.js breaks when it gets to these event listeners:

[code]

Those elements do not exist in the actionbar when the user is logged in and viewing their own page.

[2021-09-17 11:53] kdevnel opened #56354 "Action Bar no longer clickable"
### Quick summary

It appears that the action bar on simple sites isn't responding

### Steps to reproduce

1. Visit a simple site front-end
2. Allow the action bar to load
3. Check the console and also try to interact with the action bar - nothing happens

### What you expected to happen

The action bar should be interactive

### What actually happened

Nothing happens and there is a JavaScript e

[2021-09-17 11:57] retnonindya commented on #56350
Closing in favor of #56352

[2021-09-17 11:57] #56350 closed, assigned to nobody

[2021-09-17 11:57] Robertght commented on #56354
I can confirm this on my end as well. Checking with the Calypso team for now in C02DQP0FP/p1631879815131700

[2021-09-17 11:59] kdevnel commented on #56354
Appears to be a duplicate of #56352 - leaving this open for now to help bug herders with triaging but this can be closed in favour of the other.

[2021-09-17 12:01] Robertght commented on #56354
I'm closing this as a duplicate for now in favor ofhttps://github.com/Automattic/wp-calypso/issues/56352

[2021-09-17 12:01] #56354 closed, assigned to nobody

[2021-09-17 12:10] arcangelini commented on #56352
Fix is published waiting for review D67034-code @simison @yansern

[2021-09-17 13:04] thedebian commented on #53932
Just a quick update, the user got back to me today in chat n. 31366046; I was a bit confused at first about the feature they were asking about but saw this ticket; I let them know they'll be updated when we have news.

[2021-09-17 13:04] carinapilar opened #56355 "Trail Marker for Speed and Performance"
### What

Add a support doc link on the Performance page.

### Why

Under Settings > Performance, it feels that we could add the [Site Speed and Performance](https://wordpress.com/support/site-speed/) doc in there, here's an example:

![PerformanceSettingsTrailMarker](https://user-images.githubusercontent.com/16104522/133787002-14b6431a-0b68-411d-aa34-fccdd66ff9e1.jpg)

### How

_No response_

[2021-09-17 13:06] dpasque commented on #56119
Noting that for me, it appears that following those links will trigger a redirect to the new URLs.

[2021-09-17 13:07] daria2303 opened #56356 "Cubic theme: product page displays black block in place of featured image"
### Quick summary

When Cubic theme is active product page displays black block on the top, on the place of the featured image. It should rather display Product image or be hidden. It is also not possible to hide it in Customizer.

### Steps to reproduce

1. Install Cubic theme on Atomic site with Woo
2. Create product if doesn't have
3. Visit Product page

### What you expected to happen

Header,

[2021-09-17 13:12] yansern commented on #56352
Fixed & deployed!

[2021-09-17 13:12] #56352 closed, assigned to arcangelini

[2021-09-17 13:32] susanjanec commented on #55388
Another request in 31552378-hc

Provided WP-Admin URL as a workaround.

[2021-09-17 14:06] #56267 closed, assigned to cpapazoglou

[2021-09-17 14:31] InsomniacSabbir commented on #56046
Another case here: 2620090-hc. The problem is one of their videos does have sound on the page and in the media. But other videos don't have sound on the page. All video has sound in the media library.

One thing I noticed is that, we are using different src URLs for showing video in the media library and page.

[2021-09-17 14:53] ClassicRKR27 commented on #55685
Another report here were deactivating Gutenberg solved the issue: [31562888-hc](https://hud.happychat.io/chat/31562888)

[2021-09-17 15:16] bichledao opened #56359 "WordPress.com Editing Toolkit Plugin Issue"
I use WordPress.com Editing Toolkit Plugin and choose BLACK as Text Color for Block.
![pxWlbKE](https://user-images.githubusercontent.com/90920308/133806760-ffc6ea31-17a9-47a1-a7af-7a05561010d3.png)
However, when I public this post, it has been showed below, the color of tex is not BLACK for all.
![Untitled](https://user-images.githubusercontent.com/90920308/133807186-7a3fcd66-ebb1-47d5-a185-5c5e1

[2021-09-17 15:29] michaeldcain commented on #4705
With the retirement of Premium Themes, I'm going to close this.

[2021-09-17 15:29] #4705 closed

[2021-09-17 15:40] carladoria commented on #56119
@dpasque We've set up redirection rules in the Docs. But wouldn't it be better to update the URLs in Calypso directly instead of using the redirection?

[2021-09-17 15:52] Nic-Sevic opened #56360 "Copy page option missing from Calypso"
### Quick summary

When user has a pagebuilder plugin on their site and the copy post module is on the copy post option doesn't display on the calypso side. This appears to be true whether or not the plugin is active and persists after the plugin is removed. Deactivating and reactivating copy-post module didn't change this. It always shows in wp-admin page
Happens at minimum with Elementor and Zio

[2021-09-17 15:59] razvanpapadopol opened #56361 "Editor: external inline help links should first open a popover"
### Details

Inline help icon buttons that open a small popover/tooltip with a short description and a link to read more externally

### Checklist

_No response_

### Related

_No response_

[2021-09-17 16:01] dpasque commented on #56119
@carladoria Oh yes, I very much agree! My apologies, I should have been clearer in my comment - I was just noting that for the prioritization label that I applied (we factor in available workarounds as part of which GH priority labels we apply). It is definitely worth updating those URLs!

[2021-09-17 16:02] blackjackkent commented on #56352
Great catch - thank you for making this fix!

[2021-09-17 16:07] obenland commented on #56340
Is there a test site with that plugin installed that can be used to troubleshoot and test solution? Or is there a copy of the plugin available to test locally?

[2021-09-17 16:14] obenland commented on #56340
For future reference, this is probably something that goes wrong in `prepare_menu_item_url()` in the API endpoint where [this conditional doesn't return true](https://github.com/Automattic/jetpack/blob/d3cc0ca200dc4bc9c3c20f69ca731bf9c50b5668/projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php#L366-L371)

[2021-09-17 16:19] susanjanec commented on #51706
Another report on 31717728-hc

[2021-09-17 16:52] noahtallen commented on #56338
I'm going to close, as I can no longer the replicate the issue. @galakhyati's report is within a few minutes if when the fix was deployed, so it's possible the customer was still served a cached version of the changes.

[2021-09-17 16:52] #56338 closed, assigned to scinos

[2021-09-17 17:20] worldomonation opened #56363 "Playwright: refactor BrowserManager to be callable without Logger"
### Details

As outlined [here](https://github.com/Automattic/wp-calypso/pull/56282#discussion_r709662028) currently the `launchXYZ` methods require passing in the `Logger` object which seems unnecessary.

### Checklist

_No response_

### Related

_No response_

[2021-09-17 18:24] zachspears commented on #53102
31104768-hc
I had this user return in chat and ask about the status of this bug report. They would like to use their custom domain with their site again. They have specifically asked for a follow-up once this has been fixed.

[2021-09-17 18:24] zachspears commented on #48611
+1 request from 31729853-hc

[2021-09-17 18:34] noahtallen commented on #48822
This is mostly resolved some time ago with `install-plugin.sh`.

[2021-09-17 18:34] #48822 closed, assigned to nobody

[2021-09-17 23:26] worldomonation commented on #56212
#56226 is merged, let's observe.

[2021-09-17 23:26] #56212 closed, assigned to worldomonation

[2021-09-18 03:58] joweber123 commented on #55263
I am unable to reproduce this any longer.  The issue must have been solved in some release since this was created. Closing this issue.

[2021-09-18 03:58] #55263 closed, assigned to nobody

[2021-09-18 08:35] daria2303 opened #56370 "Display the posts in a random order option"
### What

Add option to posts display in a random order

### Why

User  believes this would be a widely used feature, prevent blog to look stagnant and drop traffic.
4307044-zd-woothemes

### How

_No response_

[2021-09-18 09:09] formosattic commented on #55796
Thanks @mreishus!
I've asked the user to give it a try.

Ticket: 4307738-zd-woothemes

[2021-09-18 09:43] formosattic commented on #55937
+1 4307272-zd-woothemes

Theme: Dara

The legacy widgets for Video and Gallery weren't loading on the homepage, in the sidebar. But they loaded ok in single post view.

Workaround: remove the legacy widgets, and replace with current ones that are similar, in this user's case, the YouTube block and the Slideshow block. Tried on my test site, and they loaded fine.

[2021-09-18 10:35] Aurorum commented on #56325
Hi @carinapilar, just out of curiosity, why can't the user use the existing [Print option](https://jetpack.com/support/sharing/) which can be added to their blog for this? Are they looking to export multiple posts as PDFs instead?

<img width="1291" alt="Screenshot 2021-09-18 at 11 34 03" src="https://user-images.githubusercontent.com/43215253/133885898-586cb6a8-6d04-4375-a176-a76de7a2cceb.png">

[2021-09-18 14:07] Aurorum commented on #55896
PR in #56371 - should be fairly quick to test. :)

[2021-09-18 14:35] zdenys opened #56372 "Modal window for site language in Settings > General > Language has undesired scrollbars"
### Quick summary

Modal window for site language in Settings > General > Language has undesired scrollbars

https://user-images.githubusercontent.com/39308239/133892413-6fc460de-a10f-4179-b53c-e9862af6a3d5.mov

### Steps to reproduce

1. Go to Settings > General > Language
2. Click the language
3. Observe the modal window

### What you expected to happen

The modal window used to look different a

[2021-09-18 14:41] creativecoder opened #56373 "Full Site Editing: API endpoint and lib"
### Details

Updates to the lib code and surfacing FSE Beta eligibility and Site editor enabled in the REST api.

### Checklist

- [x] Add/update FSE Beta eligibility and Site Editor status in the REST API (D67076-code)
- [x] ~~Add lib function for Beta eligibility (https://github.com/Automattic/wp-calypso/pull/56374)~~
- [x] Update existing references to the old sticker (`core-site-editor-enabled

[2021-09-18 14:42] katiebethbrown commented on #56370
Might be a cool feature for the Blog Posts Block?

[2021-09-18 15:43] Robertght commented on #56372
Thank you for reporting this @zdenys ! I can't see the scrollbars continuously but there's definitely a shift in the layout. I was also able to see a more organized layout once but I can't bring it back - not sure what I did.

Now:

![image](https://user-images.githubusercontent.com/6737345/133894358-c3de3378-88bc-432a-b6fd-497e6a7aca82.png)

[2021-09-18 16:50] CodeAllNightNDay commented on #55388
Another request 30999193-hc

Gave WP-Admin URL workaround

[2021-09-18 17:16] creativecoder commented on #54462
Note that I've broken out a separate issue for this item, as there are a number of related tasks: https://github.com/Automattic/wp-calypso/issues/56373

[2021-09-18 19:23] ash1eygrace commented on #55388
31085062-hc

The third-party theme can't add widgets via the customizer. Provided the direct wp-admin links.

[2021-09-18 19:59] ClassicRKR27 opened #56375 "Custom Message does not show for Contact Form when set in widget"
### Quick summary

User wants a custom message to display when someone submits to their contact form, but when it is set as a widget the message does not appear.

### Steps to reproduce

1. Add Form Block to any widget area
2. Change the settings to "Show a custom message"
3. Test the form field and you'll see the screen flash and show the form again without the custom message

### What you expect

[2021-09-18 20:54] adelineyaw opened #56376 "Domain mapping warning message"
### Quick summary

A HC has submitted this request: pd4QKa-gK-p2 re: domain mapping messaging.

TL; DR:

"Users are confused about this message and ask us why their domain name stopped working. Maybe some of them don’t know what does the term “domain mapping” mean.

It would be helpful if we replace this message with another clearer one, so that those users will be self-guided, and don’t need to a

[2021-09-18 21:26] dcoleonline commented on #56181
4308166-zen
I asked them to try the Google Sheets workaround

[2021-09-19 01:02] joweber123 commented on #22426
+1 for adding this option

31748678-hc

[2021-09-19 08:57] formosattic opened #56380 "Editor: Ensure minimum spacing between title and content"
### Quick summary

Some display elements in the editor are tied to the theme, but for consistency, a minimum amount of space between the post title and content should be ensured.

### Steps to reproduce

I was only able to reproduce with the theme Kent (Premium, retired).

1. Enable Kent (from blog rc)
2. Create a new post with a title and some content.

### What you expected to happen

How it loo

[2021-09-19 10:34] #56359 closed, assigned to nobody

[2021-09-19 10:51] lemtechve opened #56381 "I don't see any server process running on port 3000"
## Steps to reproduce the behavior

Hi @mattwondra, get my congratulations on such a wonderful job. I saw the image of calypso and it seems like an excellent job. Unfortunately I lacked a small detail to see it work.

1. I cloned this repository in a computer runnin Linux Mint 19.2, after  that
2. I add 127.0.0.1 calypso.localhost to my local hosts file.
3. Then I ran the command "yarn"
4. When I

[2021-09-19 13:01] kingsleyinfo commented on #56032
I had a user with this issue here 31721115-HC
The validation was failing for them until I suggested that they use only the number without the country code.

[2021-09-19 15:45] synora commented on #56360
Triaged. While I can replicate this, the content can still be copied from the within the editor.
![Annotation on 2021-09-19 at 11-40-43](https://user-images.githubusercontent.com/10015451/133933656-24de9bb5-170d-4a88-adb8-64a45d985ece.png)
It's a workaround but is also an extra step for users.

The option to copy a page from Pages in Calypso (https://wordpress.com/pages/siteURL) doesn't appear to

[2021-09-19 15:58] edwinho89 commented on #53953
4308180-zd-woothemes

User used [post by email](https://wordpress.com/support/post-by-email/) to create a draft post via classic editor, and initially was able to edit post on the iOS WordPress app.

Switching later to latest Mac app experienced the issue.

[2021-09-19 16:04] Sandkorner commented on #55685
ZEN-4309308 Seems to be the same issue, but we activated classic editor and it seemed to work as well.

[2021-09-19 16:08] msilbers opened #56382 "Button Block: Add Option for Hover Color"
### What

Include option to change hover color on a button block

### Why

The button block allows customization of the text and background colors, but inherits hover from the theme, which some customers don't like. This came up in a chat.

### How

We can add it to the color options where text and background colors are set, in the sidebar.

[2021-09-19 17:12] synora commented on #54981
Triaged. Can replicate. The link @getdave references in the comment above is spot-on!

[2021-09-19 17:23] synora commented on #56210
I'm unable to replicate this on both simple and Atomic sites.

@Gustavo-Hilario 👋
Is this still occurring for you? If so, what type of file are you placing within the File Block. It shouldn't matter but for testing, I used a mp4 file.

[2021-09-19 17:31] synora commented on #56273
Triaged. Can replicate.

[2021-09-19 17:55] synora commented on #56340
@JoshuaGoode  ^^ (see comment above about test site).

[2021-09-19 20:46] KirkwallDay opened #56385 "Justify text on paragraph blocks does not show up in editor, but does on preview and live modes."
### Quick summary

On any site, justifying text in a paragraph block does not show the results in the editor, but the results are visible on the live site.

### Steps to reproduce

1. Insert a paragraph block on a post.
2. Put multiple lines of text in it and try to justify the text.
3. Notice the text does not justify.
4. Click "Preview" and notice the text is justified there.

### What you expec

[2021-09-19 21:36] arinoch commented on #55796
The user tested, still can't receive the SMS code.

[2021-09-20 00:05] carinapilar commented on #56325
Yes, it would be more like to print all posts at once. I would also guess we wouldn't give the user the same result they get from the browser's printing option (which it feels to me it doesn't look great most of the time), we could print just the post's content with its original format.

[2021-09-20 00:30] devNigel commented on #51730
Another report: 4289442-zd-woothemes when uploading using Audio block.

[2021-09-20 01:01] arinoch opened #56386 ""Share This" available on password protected posts"
### Quick summary

The options to share a post to Facebook, Twitter, and like/reblog a post, show up before you've entered the password on a protected post.

### Steps to reproduce

1: On a WordPress.com site (any plan), set up the sharing buttons (tools > Marketing > sharing Buttons). Have them displayed on posts and pages (I did not test archive pages and/or the homepage).
2: Create a post, pass

[2021-09-20 01:11] carinapilar opened #56387 "User Management: Improve Message When Removing Owner"
### What

Add a less generic error when trying to remove an owner from the site.

### Why

When you try to remove the site's owner, this is what it shows up:

![GenericErrorDeletingOwner](https://user-images.githubusercontent.com/16104522/133949218-62bcbd70-2997-4a2f-ac18-719cf5081d1a.jpg)

It's not clear what the error is, and there is no way to get additional info.

### How

_No response_

[2021-09-20 04:39] InsomniacSabbir commented on #56046
Another case here: 4306819-zd-woothemes.

[2021-09-20 06:14] flameslash opened #56389 "[Feature Request] - Ability to restore deleted image files from media gallery"
### What

Want to add a restore option for any image files that has been deleted from gallery

### Why

Having the ability to restore deleted images from the media gallery can be a big help especially for users who accidentally delete some of their image files and break their page as a result.

### How

N/A

[2021-09-20 08:35] edwinho89 commented on #55685
Another issue in 31388064-hc

With latest Gutenberg plugin v11.5, when attempting to bulk select images and switch to carousel block on a draft post, it resulted in an error and populates the following error message:

[code]

[2021-09-20 10:34] dsas commented on #56060
I've written a [P2 about the approach for this](pdgTfM-3Y-p2)

[2021-09-20 10:53] mriyazuddin commented on #56046
Another issue reported here: 4306307-zd

[2021-09-20 10:58] getdave commented on #56144
I'm not sure. I know @gwwar and @ellatrix we're looking at WordPress/gutenberg#34602 so they may (almost certainly!) be able to speak with greater authority.

[2021-09-20 11:02] mmtr opened #56392 "Purchases: Change pre-cancellation form header"
Following feedback from p7DVsv-cCO-p2#comment-37538, let's change the header title of the pre-cancellation form that we shipped in https://github.com/Automattic/wp-calypso/pull/55891 to either "Share your feedback" or "Help us improve".

![image](https://user-images.githubusercontent.com/1233880/133991666-39a3b6fc-d1d8-4395-b221-ada76d0ef681.png)

[2021-09-20 11:22] mmtr opened #56393 "Purchases: Unify pre-cancellation form across all purchases"
As part of the Atomic Downgrade pod's work, we shipped a new pre-cancellation form in https://github.com/Automattic/wp-calypso/pull/56206 that is specifically showing up only when cancelling/removing WP.com plans.

Ideally, rest of purchases should also switch their form to the new design so the cancellation flow is consistent across all purchases, but they were left out in order to keep the scope

[2021-09-20 11:33] rickmgithub commented on #55653
Same problem on 4302060-zd

Video of issue here - https://d.pr/v/9EV7Cs

[2021-09-20 11:46] mmtr opened #56394 "Purchases: Show warnings before removing/cancelling a plan from a Simple site"
Similarly to the warnings we (want to) display before reverting an Atomic site (https://github.com/Automattic/wp-calypso/issues/55239, https://github.com/Automattic/wp-calypso/issues/55570, https://github.com/Automattic/wp-calypso/issues/56062), we could also display some information before a user removes a plan from an Atomic site.

In the old form, we displayed this note about bundled domains, b

[2021-09-20 12:05] dlind1 commented on #56238
Moved the projects and informed the maintainers so that they could do some smoke testing.

[2021-09-20 12:56] Gustavo-Hilario commented on #56210
I'm still able to reproduce this issue. However, now I could identify that this is occurring with all kinds of files (PDF, audio, and video) but on **Simple** sites only.

Here is a **[screencast](https://d.pr/v/wgvOWV)**.

[2021-09-20 12:59] gavande1 commented on #55588
I've been looking into `WooCommerce_Manager` and `WooCommerce_Host_Service` classes. Based on documentation at: https://github.com/Automattic/host-partner-documentation/blob/master/woocommerce/plan-register.md and our needs.
We need to add support for the `products` parameter within the `WooCommerce_Host_Service` class.

Additionally, there are multiple instances of `WooCommerce_Manager` are in pl

[2021-09-20 13:10] delputnam commented on #56376
Just noting that I have created a task for Nomado to handle this issue.  We will update the issue once the task is completed.

[2021-09-20 13:23] Christopher-Stevers commented on #56386
I can work on this issue.

[2021-09-20 13:26] delputnam commented on #56326
I have created a task for Nomado to handle this issue. We'll update and close this issue once the task is complete.

[2021-09-20 13:49] kingsleyinfo commented on #55388
Another request here 31612053-HC
They were really not happy. Provided them with the direct links

[2021-09-20 14:28] #56155 closed, assigned to nobody

[2021-09-20 14:48] poeticabdul commented on #51787
User experienced this https://hud.happychat.io/chat/29401817

[2021-09-20 15:08] dpasque commented on #56210
@Gustavo-Hilario Thanks for the added details! I was also having a hard time getting it to reproduce, and that makes me thinking this might be related to the theme active. Would you mind sharing what the theme was on the target site?

[2021-09-20 15:11] dpasque commented on #42056
Closing in favor of the Gutenberg issue, which can be found here: WordPress/gutenberg#14608

[2021-09-20 15:16] #54981 closed, assigned to saygunnyc

[2021-09-20 15:16] kwight commented on #56352
Thank you @arcangelini ! <3

[2021-09-20 15:20] dpasque commented on #56273
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-20 15:21] dpasque commented on #56249
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-20 15:22] cpapazoglou commented on #56277
I tested `https://wordpress.com/plugins/[DOMAIN]`:

✅ I can install a plugin from the list, it gets auto-activated
✅ Searching for a plugin returns the wp.org results in the same order
✅ I can install a .org plugin from a zip file

❌ I can install a premium (not .org) plugin from a zip file but the details page doesn't work cause it can't find the plugin details in the .org repo
![](https://cln.sh

[2021-09-20 15:23] dpasque commented on #56184
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-20 15:31] gwwar commented on #56144
If folks are copying from word it's likely also adding the object replacement character. That fix should be available in the 11.6 release. If folks find other combinations of text that break the editor, please add the example content to this issue.

[2021-09-20 15:33] #55344 closed, assigned to arcangelini

[2021-09-20 16:35] dsas commented on #56204
Written up a P2: pdgTfM-4b-p2

[2021-09-20 16:42] worldomonation opened #56400 "Flaky E2E: Log in"
### Spec

across many times

### Suite

Log In

### Framework

Playwright

### Logs

[code]

From what I can tell, this happens when Playwright thinks the Switch User button has been clicked, but it did not in fact occur.

Some possible mitigation methods:

- wait until the container is fully rendered on page (likely already done via `waitForElementState('stable')`).
- wait until a load state?
- b

[2021-09-20 16:42] worldomonation commented on #56400
Example: https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/6724645?

[2021-09-20 16:45] dpasque commented on #56372
Upping priority to normal because the entire layout is all shifted.

[2021-09-20 18:25] mreishus commented on #55846
It looks like the code in `class-claim-your-free-domain-repository.php` is already attempting to bypass sites that have domains ending in `.blog`. The issue is related to: `wpcom_get_blog_url( get_blog_details( $blog_id ) )` for this site is returning the `wakeupwith559785545.wordpress.com` domain, even though that's not the site's primary domain. Going back a level, even the `get_blog_details( $b

[2021-09-20 18:29] KirkwallDay opened #56404 "Setting the WooCommerce My Account page as the homepage causes issues until theme is switched."
### Quick summary

If you set the WooCommerce "My Account" page as the homepage on a site, it will seem to work. However, when you try to login, or if you are already logged in, visit any of the options (Orders, Addresses, etc....) the page will 404.

This occurs until the theme is switched and then it functions as normal. You can even switch the theme once, and switch it back again and it will wo

[2021-09-20 18:52] TeniCola commented on #55388
Another request in 4312391-zen. In the previous livechat with them, they were also insistent on reaching this area for their website and theme, so I'll provide the URL workaround in the follow-up.

[2021-09-20 20:07] scinos commented on #56372
Testing old Calypso versions suggests the bug was introduced by #54793

[2021-09-20 20:31] TeniCola commented on #55388
Another request in 31672170-hc, though this was for the Appearance > Widgets area + Classic Widgets plugin -- I provided the workaround URL

[2021-09-20 20:38] dpasque opened #56408 "Widget Block Editing: Add ability to resize customizer sidebar when editing widget blocks"
### What

In the customizer, when editing widget blocks, add the ability to resize the sidebar to make it bigger

### Why

On WordPress.com, all widget block editing is done in the customizer sidebar rather than through `/wp-admin/widgets.php`.

The challenge is that on some smaller viewports, editing certain blocks can get really hard in that small sidebar horizontal space!

For example, when bui

[2021-09-20 20:56] obenland commented on #56251
@mreishus Let's go with version 2 to get us unblocked for the app review. If we later decide v1 is the way to go we can rebase.

[2021-09-20 21:10] kwight opened #56410 "Subscriptions: Footer branding is missing from Atomic emails."
Our footer branding is missing from new post emails sent by Atomic sites. We currently strip the branding from Jetpack sites, and it's likely Atomic sites are getting lumped in (but shouldn't be).

| WP.com | Atomic |
| --- | --- |
| <img width="794" alt="Screen Shot 2021-09-20 at 2 09 07 PM" src="https://user-images.githubusercontent.com/349751/134076202-ad16b0b9-34c2-497e-8996-3898b7ea6173.png">

[2021-09-20 21:13] kwight commented on #56410
FYI @andres-blanco

[2021-09-20 21:27] olaolusoga commented on #56251
Agree with moving forward with v2, we can improve later.

let's try and update without pulling in designers—everyone's at capacity at the moment. I can review if necessary.

Once we update, let's send it to Google, and they can do an audit. If they come up with things, we can adjust accordingly.

[2021-09-20 21:31] carinapilar opened #56411 "Add Self-Serve Options for Billing and Domains on the Help Page"
### What

Add Jetpack Search and self-serve options to the Help page.

### Why

From a recent project where we did a qualitative analysis of user interactions, we found that there are opportunities to improve [our Help page](https://wordpress.com/help).

**We could add Jetpack Search to the page**
It's helpful to already have Most Helpful Articles and More Resources in the current layout, but when

[2021-09-20 22:05] mattwiebe opened #56412 "Site Editor: detect changes to Site Editor state and re-fetch"
It is currently possible for the Site Editor to be enabled on a site but its Nav Menu to be stale and outdated. This is true for any Simple or Atomic site that prefers to use `wp-admin` screens. We will be addressing this on theme switch in #56172 but that is only effective when the action is taken in the Calypso environment.

[2021-09-20 22:08] fullofcaffeine commented on #56098
This release has been delayed due to an issue with the `custom-line-height` setting. Fix and background in this [PR](https://github.com/WordPress/gutenberg/pull/34955). At the time I write this, the `11.5.1` patch-release hasn't been released yet, due to `npm` cache issues while running the GH workflow. More details in this Slack thread: p1632153525182300-slack-C02A41GCS.

[2021-09-20 22:10] worldomonation opened #56413 "Playwright: investigate using Global setup once to launch a browser instance."
### Details

Currently, each Jest instance that spins up a spec is treated in a standalone manner. That means the following occurs for _every single_ test file:

- launch a browser instance (chrome, etc.)
- launch a new context with video capture, screenshot, etc.
- launch a new page
- hand off control to the spec file, which loads the login page
- etc.

As noted in the [documentation](https://pla

[2021-09-20 22:11] worldomonation commented on #56413
This would build on top of PR #56409, so wait for that one to merge first.

[2021-09-20 22:13] mreishus commented on #56251
Method 2 is in production now

[2021-09-20 23:08] katiebethbrown commented on #49109
Wanted to drop a note mentioning that as we work to automate downgrades we are prompting users to download backups before they cancel, which will likely increase the amount of support interactions where users ask how to use those backups.

pdgTfM-3T-p2

[2021-09-20 23:42] obenland commented on #56251
@mreishus It looks like there's one more missing in https://wordpress.com/marketing/connections/

[2021-09-21 00:04] cuemarie opened #56416 "Theme: Edin leaves blank space above menu when " Display Site Title and Tagline" is off"
### Quick summary

In the Edin theme, using the classic menu style and hiding Site Title and Tagline results in an empty blank space above the menu and under the header image, only visible on the front end.  Customizer preview doesn't show the same result:

### Steps to reproduce

1. Install theme Edin
2. In Customize: Add a header image, at least 1 primary navigation menu item, and set homepage t

[2021-09-21 00:19] donalirl commented on #55826
No feedback to add from my side. Will we also be [updating the text](#issuecomment-910070777)? Particularly for slide 7, there is no handle to click and drag like the text mentions, so it looks odd.

[2021-09-21 00:27] donalirl commented on #55922
@rafaelgalani Small detail, but the capitalization of the new text is a bit strange. In "Connected domain Settings", the word "domain" should have an upper case 'D' because it is a title. Currently shows as:

![image](https://user-images.githubusercontent.com/30727666/134094391-36dfd0a0-fc0f-4d59-82a0-3e94091c1984.png)

Correct capitalization:

![image](https://user-images.githubusercontent.com/30

[2021-09-21 02:18] formosattic commented on #54936
Unable to reproduce this now, so will close.

[2021-09-21 02:18] #54936 closed, assigned to nobody

[2021-09-21 02:57] Gustavo-Hilario commented on #56210
@dpasque The user reported this using the Balasana. I was able to replicate this using Balasana, Hever, Mayland, and other themes. However, you are right, and this is happening only on specific themes. For instance, I was not able to reproduce the issue using the Twenty Twenty-One theme.

[2021-09-21 06:38] donalirl commented on #56325
Just to mention there are services like https://www.blogbooker.com/ that can import an XML and output the posts as a PDF.

[2021-09-21 07:14] StefanNieuwenhuis commented on #55826
Thanks, @donalirl! I think that it makes sense to align the copy to the (mobile) animations. Otherwise, we would be back at square one.

Can you make a proposal for the changes? Thanks so much :)

[2021-09-21 08:00] donalirl commented on #55826
I did in [this comment.](https://github.com/Automattic/wp-calypso/issues/55826#issuecomment-910070777) If that needs to be in another format, let me know!

[2021-09-21 08:37] syds87 opened #56419 "Blask theme - Cookies consent banner widget not displayed on Portfolio template"
### Quick summary

If we add a Cookies & Consents Banner widget to a website using the Blask theme, it will be displayed on all pages, except for the ones using a Portfolio template.

### Steps to reproduce

1. Install the Blask theme
2. Add a Cookies & Consents Banner to the footer area of your website (I have tested both Footer areas 1 & 2)
3. Check the website now: you should see the banner on

[2021-09-21 08:52] JanaMW27 commented on #56277
Hello @cpapazoglou!

Regarding the pagination issue, we do have pagination in the new design; fixing it now in calypso (where it looks like there is no pagination) may be a waste of time before implementing the new design. But, if it will take more than three months to implement the new design, then maybe we should bring the pagination into calypso.

Regarding the plugin installation through zip f

[2021-09-21 09:08] cpapazoglou commented on #56277
Good points!

AFAIK, there is no WP Admin plugin details page. I was thinking of redirecting users to `/wp-admin/plugins.php`

[2021-09-21 09:51] mmtr opened #56421 "Atomic Downgrade: Display JITM when Atomic revert is in progress"
It'd be helpful if customers can see in Calypso whether the asynchronous process that removes a plan from an Atomic site is still running or not, so let's display a message indicating that info. Something like the text below can work:

[code]

#### Technical references
- Sites with an Atomic revert in progress are marked with a `subscription_deactivation_locked` blog sticker (see D66763-code).
- W

[2021-09-21 10:26] chad1008 commented on #56098
Update: now that the 11.5.1 patch-release is ready, we're clear to proceed

On Mon, Sep 20, 2021 at 6:08 PM Marcelo Serpa ***@***.***>
wrote:

[2021-09-21 11:07] zdenys opened #56422 "Account Settings: Primary Site not saving in the drop-down list only for accounts of a12s"
### Quick summary

For an a11n WordPress.com account, the drop-down list in My Profile (top right corner) → Account Settings → Primary Site is always empty. If however, you visit https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs you can see which site is the primary one.

### Steps to reproduce

1. For an a11n WordPress.com account, navigate to https://wordpress.com/me/account
2. Tr

[2021-09-21 11:12] dsas opened #56423 "Renewal notifications: Explain impact of not renewing"
Most renewal notification prompts don't explain the impact of renewing, if they did it might improve renewal rates.

See pdgTfM-4b-p2

[2021-09-21 11:16] dsas opened #56424 "Add reminder notification to download back-ups after plan expiry"
Adding a prompt to download back-ups when an atomic plan has expired might help prevent customers having issues if they later want to renew.

See pdgTfM-4b-p2

[2021-09-21 11:32] roo2 commented on #56303
I think that there are two issues worth tlaking about here.
The first is the issue that you have been discussing about the Quick Start sessions upsell which is shown to new users. pdgK6S-88-p2

The second is the original issue which this ticket described:

I think that it is an existing issue with the plan purchase congratulations message being shown in the start flow for existing users. I believe

[2021-09-21 12:49] BogdanUngureanu commented on #56024
Deployed in rWP232039-wpcom

[2021-09-21 13:32] msilbers opened #56426 "Marketing> Traffic: Site verification services link change"
We (Docs) have changed the link to the doc formerly called Webmaster Tools from https://wordpress.com/support/webmaster-tools/ to https://wordpress.com/support/site-verification-services/

This link appears in Calypso from My Site > Tools > Marketing > Traffic, under Site verification services.

The link for Full instructions should be changed:

<img width="1054" alt="Screen Shot 2021-09-21 at 9 3

[2021-09-21 13:44] #56024 closed, assigned to BogdanUngureanu

[2021-09-21 13:44] #56204 closed, assigned to dsas

[2021-09-21 13:52] Aurorum commented on #55316
PR for this issue in #56427. :)

[2021-09-21 13:58] rickmgithub opened #56428 "Canape theme feature images"
### Quick summary

Problem loading featured images

### Steps to reproduce

URL: theshamrockirishbar.com
Plan: Personal

PROBLEM:
User can't change the featured image on the "menu" page on this site. When you try to change the image, the spinner just keeps spinning.

WHAT I FOUND:
* I could replicate this with multiple images on their site. Nothing loaded in the featured area
* When you try the sp

[2021-09-21 14:38] andres-blanco commented on #55838
Merged D66481-code

[2021-09-21 14:38] #55838 closed, assigned to andres-blanco, saygunnyc, provenself

[2021-09-21 14:39] kwight opened #56431 "Subscriptions: Consider adding mobile download buttons to emails."
We should consider adding mobile download buttons to some of our emails; we could promote either or both of the WP app and the Jetpack mobile app.

See: pdgv5Y-f0-p2

[2021-09-21 14:49] StefanNieuwenhuis commented on #55826
Thanks, @donalirl. I'm gonna have a look and keep you posted :)

[2021-09-21 15:04] imktho commented on #55608
Hi there, mind if I look into this issue?

[2021-09-21 15:05] #55194 closed, assigned to mmtr

[2021-09-21 15:33] syds87 opened #56433 "Embed Block no longer embedding links from Meetup.com"
### Quick summary

The Embed block should automatically embed the events by Meetup.com, as stated in the [official tutorial](https://wordpress.com/support/wordpress-editor/blocks/embed-block/).

However, when I try and add a Meetup.com link, I get an error saying: `Sorry, this content could not be embedded.`

### Steps to reproduce

1. Add an embed block to a page
2. Paste a Meetup.com link, like

[2021-09-21 15:34] mreishus commented on #56251
^ Is deployed

[2021-09-21 15:42] mikeicode commented on #56046
29174797-hc In this case the URL was used in Elementor, the published page showed the video but no audio. Using a VideoPress shortcode worked.

[2021-09-21 15:49] autumnfjeld commented on #56302
Closing this since #56306 is tracking feedback and fixes for shipping the design picker in the post-signup onboarding flow.

[2021-09-21 15:49] #56302 closed, assigned to nobody

[2021-09-21 15:56] synora commented on #56385
Triaged. With the Blank Canvas theme active on my test site, it appears the justified text is seen in the editor:

https://user-images.githubusercontent.com/10015451/134203950-434b79e4-b472-40c6-83bd-1302aeb38441.mp4

[2021-09-21 16:03] JoshuaGoode commented on #53027
4397593-hc

[2021-09-21 16:30] kwight opened #56435 "Subscriptions: New email templates for Jetpack sites need a Jetpack-specific footer branding."
Our new email templates currently always display a "Powered by WordPress.com" footer text. This needs to be changed to "Powered by Jetpack" for Jetpack sites. Let's keep the same text color – any color discussions that arise can happen as a separate issue.

This is a blocker for launching these templates to production.

<img width="777" alt="Screen Shot 2021-09-20 at 2 27 59 PM" src="https://user-

[2021-09-21 16:34] dolgelukkig opened #56437 "cryptalknews.com user is not seeing the file URL in the media pop up"
### Quick summary

The user and I are seeing completely different URLs when trying to copy the URL of a video.
We are both in the Calypso media library.
User:
XXXXXX.com/bitcoinup-app-part-1-en-3-mp4/
![26wZ9s](https://user-images.githubusercontent.com/5507879/134202672-b6ea5f84-f194-4674-974d-6cd5d76b1ed6.png)
ME:
videos.files.wordpress.com/FacDbysZ/XXXXXX-part-1-en-3_mp4_hd.mp4
<img width="900"

[2021-09-21 16:36] mattwiebe commented on #56372
The layout is also broken in the `/new` Gutenboarding flow:

![image](https://user-images.githubusercontent.com/195089/134210985-986c44ac-71d8-4032-972e-3dd85bfc5c7e.png)

[2021-09-21 16:48] carinapilar opened #56438 "Email Notifications: Delivery Options"
### What

Add delivery options to WordPress.com emails.

### Why

Under [Reader > Manage](https://wordpress.com/following/manage), and [Notifications > Reader Subscriptions](https://wordpress.com/me/notifications/subscriptions), users are able to set the frequency for email notifications, but this isn't available for WordPress.com emails, set on [Notifications > Updates](https://wordpress.com/me/n

[2021-09-21 16:51] #55922 closed, assigned to rafaelgallani

[2021-09-21 17:10] andres-blanco commented on #56435
Should we also update the logo? @saygunnyc

[2021-09-21 17:17] #56120 closed, assigned to blackjackkent

[2021-09-21 17:17] carinapilar opened #56439 "Page Templates: Clarify Blank Page Template"
### What

Clarify what exactly the Blank Page template option does.

### Why

When creating a new page and selecting the Blank Page template you would expect to see a page that did not have anything other than the content added in the Editor, but it also adds elements from the theme, such as the sidebar and header.

This can be confusing for new users, as well as users who Create a New Page → Sele

[2021-09-21 17:18] blackjackkent commented on #56115
Resolved in D66785-code

[2021-09-21 17:18] #56115 closed, assigned to blackjackkent

[2021-09-21 17:18] blackjackkent commented on #56118
Resolved in D66785-code

[2021-09-21 17:18] #56118 closed, assigned to blackjackkent

[2021-09-21 18:24] mreishus commented on #55706
We've fixed the search component so it autofocuses upon opening. However, you'll still need to click the search icon.

[2021-09-21 18:29] Robertght commented on #56422
I'm not able to replicate this on my end. Can you check if this is still an issue on your end @zdenys ?

[2021-09-21 20:04] kwight opened #56443 "Subscriptions: Update the "new comment" email template."
Part of https://github.com/Automattic/wp-calypso/issues/55540. See pdgv5Y-a6-p2.

| Current | Update |
| --- | --- |
| <img width="968" alt="Screen Shot 2021-09-21 at 12 59 56 PM" src="https://user-images.githubusercontent.com/349751/134239798-130b61de-864e-408f-a136-e43b824c439a.png"> | <img width="968" alt="Screen Shot 2021-09-21 at 1 01 12 PM" src="https://user-images.githubusercontent.com/3497

[2021-09-21 20:05] obenland commented on #56251
Thanks! I noticed this morning I had the right logo locally but not in production. Nice catch

[2021-09-21 20:07] kwight opened #56444 "Subscriptions: Update the "new post like" email template."
Part of https://github.com/Automattic/wp-calypso/issues/55540. See pdgv5Y-a6-p2.

| Current | Update |
| --- | --- |
| <img width="690" alt="Screen Shot 2021-09-21 at 1 17 47 PM" src="https://user-images.githubusercontent.com/349751/134241723-6af8cbf1-e5cb-4a3b-9428-204e40f953fa.png"> | <img width="735" alt="Screen Shot 2021-09-21 at 1 10 13 PM" src="https://user-images.githubusercontent.com/34975

[2021-09-21 20:22] kwight opened #56445 "Subscriptions: Update the "new comment like" email template."
Part of https://github.com/Automattic/wp-calypso/issues/55540. See pdgv5Y-a6-p2.

| Current | Update |
| --- | --- |
| <img width="707" alt="Screen Shot 2021-09-21 at 1 23 52 PM" src="https://user-images.githubusercontent.com/349751/134242461-aba8cf30-4769-47bd-8eaf-ac4b2a8f27e1.png"> | <img width="700" alt="Screen Shot 2021-09-21 at 1 25 48 PM" src="https://user-images.githubusercontent.com/34975

[2021-09-21 20:31] kwight opened #56446 "Subscriptions: Update the "new email follower" email template."
Part of https://github.com/Automattic/wp-calypso/issues/55540. See pdgv5Y-a6-p2.

| Current | Update |
| --- | --- |
| <img width="800" alt="Screen Shot 2021-09-21 at 1 32 10 PM" src="https://user-images.githubusercontent.com/349751/134243579-7d31b375-843f-4ac2-8d89-29f5e089330a.png"> | <img width="688" alt="Screen Shot 2021-09-21 at 1 32 50 PM" src="https://user-images.githubusercontent.com/34975

[2021-09-21 20:36] kwight opened #56447 "Subscriptions: Update the "new WP.com user follower" email template."
Part of https://github.com/Automattic/wp-calypso/issues/55540. See pdgv5Y-a6-p2.

| Current | Update |
| --- | --- |
| <img width="720" alt="Screen Shot 2021-09-21 at 1 38 54 PM" src="https://user-images.githubusercontent.com/349751/134244466-8a563eba-48bc-45ac-99c4-b28ccee6a54b.png"> |<img width="716" alt="Screen Shot 2021-09-21 at 1 38 10 PM" src="https://user-images.githubusercontent.com/349751

[2021-09-21 20:54] andres-blanco commented on #55965
Closing this, merged on D66573-code

[2021-09-21 20:54] #55965 closed, assigned to nobody

[2021-09-21 21:00] marcuswisecaesar commented on #55683
Another report in 6468771-hc

Follow Blog Widget, Follower Count, Image and Embed widgets are all showing as Legacy.

[2021-09-21 21:15] worldomonation opened #56449 "Playwright: refactor artifact and log related methods in hook"
### Details

The hook file currently bypasses the helper methods defined in `MediaHelper` and performs operations manually, repeating the same action multiple times (once for screenshot, once for video recording).

Look at refactoring this and incorporating them into the `MediaHelper` helper methods to reduce duplication, streamline the artifact saving process.

### Checklist

_No response_

### R

[2021-09-21 21:21] Gustavo-Hilario commented on #55685
Another report here 4315236-zen

Deactivating Gutenberg also solved the issue here.

[2021-09-21 21:22] JoshuaGoode opened #56450 "Atomic: Utilize `restore-wp-config-php` Atomic endpoint to add a User and/or HE facing wp-config restore button"
### What

The Atomic platform offers a `restore-wp-config-php` endpoint which was planned to be used to help users restore their wp-config.php.

After working through some recent requests to fix sites without a wp-config file, @kdevnel highlighted that we have an API endpoint in place but WPCOM isn't using it.

### Why

There are various situations where a user and/or HE might need to restore a mi

[2021-09-21 21:53] blackjackkent commented on #55332
The reasoning for this seems to be that email notifications for private blogs have images deliberately stripped out (see https://opengrok.a8c.com/source/xref/trunk/wp-content/mu-plugins/email-subscriptions/subscription-mailer.php?r=232067#2780, where it is specifically called out that this is what is happening; since P2s are almost invariably private to A8C users, the image is removed here.)

I'm

[2021-09-21 22:02] JoshuaGoode commented on #52241
Copying over requests from the older legacy Atomic repo (384-gh-Automattic/atomic).

* Jan 18, 2018: 1572955-hc
* Jul 15, 2018: `This would be particularly helpful with eCommerce/WooCommerce sites who still need their online shop running while the site is being troubleshot.` 5034686-hc
* Sep 17, 2018: 2152115-hc
* Jan 31, 2019: `This is requested fairly often. As an enhancement it could have a hig

[2021-09-21 22:12] obenland commented on #55332
I assume it's because images from private sites would show up as broken as those requests are unauthenticated.

[2021-09-21 22:46] blackjackkent commented on #55332
Ahh. Of course, good point. 🤔 Seems like this might not be a fixable issue, then.

[2021-09-21 23:32] thekingsprojects commented on #54990
Also seeing this in the Aquene theme: 14276663-hc and on my own test site. Not sure if we're doing anything about that given that's a retired theme now, but worth noting, I suppose.

[2021-09-21 23:44] thekingsprojects commented on #56385
Another case here: 14276663-hc (...I think: user never specified justify as the issue, but I do see that their paragraphs are justified on the live site/preview and not in the editor, and clicking "Justify" on their paragraph blocks doesn't seem to do anything in-editor.) I can replicate with both Aquene and Twenty Twenty-One.

[2021-09-22 00:09] katiebethbrown opened #56455 "Header and Footer Template Parts Not Loading on Sites with Dotcom Implementation of FSE"
### Quick summary

Sites running the dotcom implementation of FSE return block errors when pages are opening in the editor.

The header and footer template parts do not render and instead display

`This block has encountered an error and cannot be previewed.`

### Steps to reproduce

1. Open a site that is using the dotcom implementation of FSE
2. Open a page in the editor or create a new one.

##

[2021-09-22 00:42] jeyip commented on #56455
## Technical Details

- The runtime errors appear to originate from the crowdsignal-forms plugin from the `isPollBlock` function ( [link](https://github.com/Automattic/crowdsignal-forms/blob/ba4d79168d4ecb8979049dbaa532f8670096bd26/client/blocks/poll/subscriptions.js#L15-L18
) )
- The underlying crowdsignal-forms source code, however, hasn't changed in a year.
- If we trace the logic to where the

[2021-09-22 04:03] kavyagokul commented on #49264
Also reported in 31746580-hc

[2021-09-22 05:10] Robertght commented on #56433
Thank you @syds87 ! This seems to be documented here as well: https://github.com/Automattic/wp-calypso/issues/28126

As I don't see any updates, I'm flagging it for Flow Patrol Create.

[2021-09-22 05:31] Robertght commented on #56437
I'm unable to replicate this one but please re-open it if more cases arise.

[2021-09-22 05:31] #56437 closed, assigned to nobody

[2021-09-22 05:36] Greatdane commented on #56404
Was able to replicate this on a fresh-install self-hosted site, but not an Atomic site already set up.

[2021-09-22 05:49] Robertght commented on #56450
Thank you for flagging this @JoshuaGoode ! This would be a great feature! Flagging this for Flow Patrol Manage

[2021-09-22 05:53] Robertght commented on #56455
Asking in Slack as well: C029WGXE5T4/p1632289896014600

[2021-09-22 06:07] inaikem commented on #56428
Thanks for the report! I was able to repeatedly switch and save the featured image on the user's site with no lag/loading icon showing on my side. Closing for the moment but please review and reopen if needed!

NB. I also updated interaction reference to use `-zen` as opposed to `-zd` so Github Highlighter works.

[2021-09-22 06:07] #56428 closed, assigned to nobody

[2021-09-22 06:14] inaikem commented on #56438
Excellent suggestion! Moving to the `Subscriptions Pod` inbox for consideration there.

@kwight, it's a long shot given everything else in the pod right now but do you think we can squeeze this in with the email template updates?

[2021-09-22 06:32] Greatdane commented on #56439
Maybe 'Empty Page' would be a better description for this?

[2021-09-22 07:12] erricgunawan commented on #53626
4309610-zd-woothemes
Simple site

[2021-09-22 07:13] inaikem commented on #56382
Noting a request for button block hover effects here: 4314023-zen.

[2021-09-22 07:44] Robertght opened #56457 "TikTok embed: "Video currently unavailable" resized & half rendered on Safari."
### Quick summary

The videos which aren't available to the public will display like this:

![image](https://user-images.githubusercontent.com/6737345/134302489-59748e6f-0088-42e3-be21-4aab15b0de30.png)

However, if the video isn't available, we'll see this on Safari after the second refresh:

![image](https://user-images.githubusercontent.com/6737345/134302602-b529dc88-bf78-465e-b640-035bc88e0278

[2021-09-22 08:49] yansern commented on #53978
**Investigation note:**

It is likely that the `thumbnails` property should be used as seen in https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/shares/ugc-post-api?tabs=http#sharemedia.

The relevant file to modify is `wp-content/admin-plugins/publicize/services/linkedin.php`.

[2021-09-22 09:01] yansern commented on #56386
Hi @Christopher-Stevers, it is likely that the fix will have to made on Jetpack's repository at this file:
https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/sharedaddy/sharing-service.php#L700

Let us know if you're successful in that endeavor!

[2021-09-22 10:21] yansern commented on #56239
When reader retrieves post content, the API URL `public-api.wordpress.com/rest/v1.2/read/feed` is called. One of the property returned in the JSON response is `likes_enabled`. And this value should be `false`.

![image](https://user-images.githubusercontent.com/1287077/134326583-0c45b340-e729-4ba4-96cc-5a46b42a629a.png)

The function to start looking at is `process_feedbag_item()` in `public.api/r

[2021-09-22 10:34] carinapilar commented on #56439
I'm afraid it feels almost the same thing. I think users get the feeling that they will be able to create a landing page when selecting that option. This confusion has always been there, users edit the homepage and get confused on why they can't edit the menu, the title, etc, which the FSE changes should eradicate, but until then, I'm not sure how we can make this clear within the editor.

Maybe i

[2021-09-22 10:45] Sandkorner commented on #56183
31810626-HC Had another case, but I guess most if not all such Divi users have that, just mentioning it here. Classic view workaround worked fine.

[2021-09-22 11:18] saygunnyc commented on #56435
@andres-blanco 💯
I think we can swap the SVG, keeping the color the same. I am sharing a mockup below. Let me know if you happen to need an SVG from me.

@eeeeevon13 just wanted to ping you and ask if you have a preference between 01 and 02?
I want to keep the same color (**02** – Gray 80 - 2C3338 ) for consistency with WordPress.com emails, but unsure sure if that works with Jetpack branding.

**

[2021-09-22 11:34] dsas opened #56460 "Legacy widgets are not displaying a preview when editing"
### Steps to reproduce the behavior

1. Load up a simple site
2. Go to Appearance > Widgets in the menu
3. In a widget area add a legacy widget, e.g. 'meta'
4. Unfocus the widget
5. Notice the widget is now 'invisible' though it takes up space
6. Save changes
7. Reload the page
8. Notice there is an indicator it's loading some content in the preview but then it disappears, just reserving space.

A

[2021-09-22 11:42] dsas commented on #56460
Note that dotorg are thinking of [changing the behaviour in wp 5.9 to disable previews](https://core.trac.wordpress.org/ticket/54075), however they'll still display something.

[2021-09-22 11:56] dsas opened #56461 "Snackbar when saving widgets on widgets.php is hidden behind menu"
### Steps to reproduce the behavior

1. Go to sitename.wordpress.com/wp-admin/widgets.php
2. Add / change a widget
3. Press save
4. See half of a snackbar saying 'Widgets saved'

### Context

#### Browser / OS version

Firefox 92 / OSX

#### Is this specific to the applied theme? Which one?

#### Does this happen on simple or atomic sites or both?

Reproducible on simple site
Not reproducible on j

[2021-09-22 12:25] arcangelini commented on #55937
I attempted to test this but was not seeing the same thing on the user's live site. The videos appear to be loading properly for me in all areas. My test site showed the same thing. If you have a specific page for me to test that would be super helpful. It is also possible that this could have been resolved with the PR @Robertght mentioned Automattic/jetpack#21004

[By default the video widget is

[2021-09-22 12:40] onuro commented on #56058
Hey folks, let me know if this works.

<img width="964" alt="Plan Expire" src="https://user-images.githubusercontent.com/645713/134345142-87b89e14-fc37-49b8-aed5-4ec1d8799405.png">

Thanks!

[2021-09-22 12:46] onuro commented on #56059
@mmtr we can fine tune the copy but let me know how that looks so far:

![Plan Expired](https://user-images.githubusercontent.com/645713/134345975-80909501-614e-44f8-ac3d-30fc7285bc57.png)

[2021-09-22 13:09] pauljacobson commented on #56422
I can change my primary site with that dropdown. I don't see the empty drop-down when I save my settings.

[2021-09-22 13:15] iamgabrielma commented on #56422
I experienced this problem before, but at the moment is saving my settings. I'll keep an eye in case it returns.

[2021-09-22 13:29] allilevine opened #56462 "Publicize: Twitter profile picture missing"
### Steps to reproduce the behavior

1. Go to Tools > Marketing > Connections
2. Connect a Twitter account that has a profile picture
3. Expand the Twitter connection
4. See that the Twitter profile picture is blank:

<img width="1042" alt="Screen Shot 2021-09-22 at 9 21 31 AM" src="https://user-images.githubusercontent.com/1689238/134352537-0c7e0745-6106-401b-9298-c057027cabd3.png">

Also happeni

[2021-09-22 13:48] dpasque commented on #56385
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-22 13:53] klimeryk commented on #56309
Well spotted! For implementation details, I'd suggest checking the [`livechat_support_locales` config](https://github.com/Automattic/wp-calypso/blob/70e4acd65ca9e02b86d70591142fee08ce42cad7/config/_shared.json#L41). See how it's used here:
https://github.com/Automattic/wp-calypso/blob/70e4acd65ca9e02b86d70591142fee08ce42cad7/client/me/help/help-contact/index.jsx#L547

[2021-09-22 13:54] Nic-Sevic commented on #49109
Just adding that I have also had multiple users that would have greatly benefitted from this feature.
I also think this could work as a good alternative “everything import” for those users that are trying to migrate here but have already moved the domain from their external site to here. Rather than having to unsubscribe their domain name and move it back to their old site in order to use the auto

[2021-09-22 14:06] andres-blanco opened #56463 "Subscriptions: Verify colors and logos are correct in email templates"
@saygunnyc mentioned that the colors and logos are not the same as specified in the figma file crtNho9opJSnM80QsE275F-fi-514%3A1044.
![image](https://user-images.githubusercontent.com/375980/134358983-98c786e1-f711-4a10-8073-b3420fc29dfa.png)

[2021-09-22 14:17] #56392 closed, assigned to dsas

[2021-09-22 14:22] Addison-Stavlo commented on #56455
We currently set up legacy FSE to run off the previous version of Gutenberg (v11.4.1) as a temporary fix to this issue.

Im leaving this open while we investigate and fix the root of the issue.

[2021-09-22 14:35] andres-blanco commented on #56463
D67229-code

[2021-09-22 14:51] kwight commented on #56438
True, good idea, but I think it'll be for another time – adding to the backlog.

[2021-09-22 14:58] kwight opened #56466 "Subscriptions: Audit new email templates in dark mode."
Some email clients can display in Dark Mode – let's verify that our new templates look as good as we expect. For example, it seems some colours stray in Gmail on an iPhone (purple text, footer colour).

![IMG_58D8842C8D59-1](https://user-images.githubusercontent.com/349751/134368324-f4c6c72f-1cbd-4db6-a469-dfbaa243e400.jpeg)

[2021-09-22 15:06] arcangelini commented on #55683
@marcuswisecaesar It looks like they are running into a different issue. It seems like with the latest release of Gutenberg the Legacy Block preview is completely broken. I have reached out to the Gutenberg team here: p1632316642084400-slack-CBTN58FTJ I would keep an eye on that.

[2021-09-22 15:08] yansern commented on #53978
It also seems that the job that publicize post is running too quickly before featured_image is set on the post meta as well.

[2021-09-22 15:14] saygunnyc commented on #56466
Great point @kwight! I'm wondering what the logic is when it comes to CSS transitions in Dark mode?
Can we design the dark mode versions and apply that? If not, what's doable what's not doable?

[2021-09-22 15:26] chad1008 opened #56468 "Customizer: legacy widget previews are broken until focused on"
Originally reported in p1632316642084400-slack-CBTN58FTJ

### Steps to reproduce the behavior

1. Go to Appearance > Customize
2. Click on the + to add a new block widget.
3.  Select Legacy Widget, and choose an available option
4. Configure any options your selected widget requires in order to render. Otherwise you'll get a "No preview available"
5. Once your widget is properly configured, click

[2021-09-22 15:38] kwight commented on #55332
Hm, most unfortunate. 😐

[2021-09-22 15:45] chad1008 commented on #56468
Update to add:

I forgot to mention that I bisected this issue, and it appears to have been triggered by #34384, specifically https://github.com/WordPress/gutenberg/commit/521dbbb35e51914e0bea3fcd705f3345a8b9341e

[2021-09-22 15:51] jp-imagines commented on #56468
Just had a report of this in 4317138-zen. Showed the user how to find/edit their widgets while this is being worked on.

[2021-09-22 16:02] Camaropilot commented on #56468
Another report in 4306852-zen

[2021-09-22 16:11] JoshuaGoode commented on #55553
Requested in 30921398-hc

[2021-09-22 16:55] worldomonation opened #56471 "Playwright: one artifact directory per spec file"
### Details

Currently, each page generates its own artifact directory (or at least, that's what it's supposed to do, reading the code).

The relevant portions are contained in `packages/calypso-e2e/src/hooks.ts` and `packages/calypso-e2e/src/browser-helper.ts`.

Assuming it is possible to alter the framework such that each Jest process (and therefore a test file) spawns a new BrowserContext from

[2021-09-22 17:05] blackjackkent commented on #56117
Closed by #56401

[2021-09-22 17:05] #56117 closed, assigned to blackjackkent

[2021-09-22 17:16] worldomonation opened #56472 "Flaky E2E: Revoke invite for test user"
### Spec

wp-invite__revoke.ts

### Suite

Invite: revoke

### Framework

Playwright

### Logs

[code]

It looks like the invited user list is too long and Playwright is unable to locate it?

[2021-09-22 17:54] worldomonation commented on #50547
Closing as this test is no longer relevant (removed from repository).

[2021-09-22 17:54] #50547 closed, assigned to nobody

[2021-09-22 17:54] dcoleonline commented on #56468
another report in #4315712-zen

[2021-09-22 18:35] tellisbethel commented on #56468
Encountered this as well here: 4318353-zd-woothemes
(This user would love to be notified of any updates.)

I pointed the user to their wp-admin screen, but it wasn't a suitable workaround for them given their long list of legacy widgets. Here's a screenshot showing just a few of them:

<img width="1389" alt="Screen Shot 2021-09-22 at 15 31 42" src="https://user-images.githubusercontent.com/1767799

[2021-09-22 19:20] pottedmeat opened #56476 "Adding Payment Plan Doesn't Display Error"
### Steps to reproduce the behavior

1. Go to /earn/payments-plans/site on a site without Paypal set up
2. Click on Add a new payment plan
3. Enter any description and click Save

#### What I expected to happen

The error "Required field connected_destination_account_id is missing"

#### What actually happened

Error is either about e being undefined or reading the property 'id' from undefined

##

[2021-09-22 19:44] katiebethbrown commented on #49109
Big +1 to this. It would be especially helpful for users that are having trouble getting the backup from their old host to complete successfully (the first step in the everything import).

[2021-09-22 20:34] jp-imagines commented on #56468
Another report: 31821186-hc
Previous HE on the chat temporarily deactivated block widgets for one of the user's site as a workaround before discovering this report.