[2022-08-29 14:24] #66126 closed, assigned to nobody

[2022-08-29 14:30] bogiii commented on #67082
Before:
![Image](https://user-images.githubusercontent.com/1241413/187225421-ac895e14-2fa0-4ab2-98e2-c0ed011bdee6.png)

After:
![Image](https://user-images.githubusercontent.com/1241413/187225452-0b517490-a71f-49c9-bf5b-d949f515fac8.png)

[2022-08-29 14:30] #67082 closed, assigned to bogiii

[2022-08-29 14:33] allilevine commented on #66906
@cpapazoglou Can we be more specific about high quality? What size are we looking for?

[2022-08-29 14:44] #64128 closed, assigned to nobody

[2022-08-29 14:50] cpapazoglou commented on #65235
Discussed this in the sprint planning, let's pop up a modal educating users that their marketplace subscriptions (if they have) will get removed once the plan expires.

[2022-08-29 14:58] danielbachhuber commented on #64713
Landed `--blog=<id>` support with pdqkMK-vS-p2

Still need to sort out the `jurassic.ninja` behavior.

[2022-08-29 14:59] daledupreez commented on #66799
cc @joelwills -- apologies for pulling you in this late, but it's pretty clear that we want to make sure the UX in Calypso doesn't prevent users from scheduling sessions.

We may want to kick off a separate discussion if we think we should promote scheduling for unused Quick Start sessions more proactively. One thing I would like to tackle once we land https://github.com/Automattic/wp-calypso/pull

[2022-08-29 14:59] cpapazoglou commented on #64891
We will make a research on the indexed data if all fields needed (both for Calypso display, and the product catalog needs) are there and document them here.

[2022-08-29 15:03] cpapazoglou opened #67113 "Plugin Details: add billing period right after the plan price in the sidebar"
![Image](https://user-images.githubusercontent.com/12430020/187225274-7a0aad34-93f9-4137-9c7b-9b7f60211347.png)

[2022-08-29 15:04] cpapazoglou commented on #61692
- Let's create an MVP behind a feature flag
- let's also create an experiment before launching

[2022-08-29 15:08] jp-imagines opened #67115 "Homestore theme: Below Header widgets overlap breadcrumb links"
### Quick summary

The Homestore theme (and possibly Storefront or its other child themes) displays the "Below Header" widget area widgets just above _and on top of_ the breadcrumb trail. This makes it impossible to click on the breadcrumb links to navigate through relevant shop pages.

### Steps to reproduce

1. Activate _Homestore_ on your site.
2. Add a widget to the "Below Header" area at _App

[2022-08-29 15:29] #65746 closed, assigned to phcp

[2022-08-29 15:29] #66890 closed, assigned to phcp

[2022-08-29 15:34] metabreakr commented on #39053
User is asking for the following social icons in 36680078-hc:

* WhatsApp
* Discord

[2022-08-29 15:43] blackjackkent commented on #66581
Closing - linked tasks above will carry this work forward. :)

[2022-08-29 15:43] #66581 closed, assigned to nobody

[2022-08-29 15:46] blackjackkent commented on #66286
This was probably solved by https://github.com/Automattic/wp-calypso/issues/63229 - let's verify that's the case and close if so.

[2022-08-29 15:46] blackjackkent commented on #66008
This was probably solved by https://github.com/Automattic/wp-calypso/issues/63229 - let's verify that's the case and close if so.

[2022-08-29 15:51] JulianBustamante commented on #65345
@obenland I tested on production updating |woocommerce-bookings| and it worked as expected.

[2022-08-29 15:52] obenland commented on #65345
Amazing. Thanks!

[2022-08-29 15:52] #65345 closed, assigned to JulianBustamante

[2022-08-29 15:52] joelwills commented on #66799
@daledupreez Thanks, I appreciate the heads-up.

I don't think we need to make it more obvious or promote it more proactively. That said, I think we need to allow users to book a session if they wanted it, and not make it difficult or confusing for them to do so.

We are limited by the number of folks we have available to do Quick Starts so the worse that can happen is we get complaints that they

[2022-08-29 16:11] desnum commented on #65002
Rockfield pdEkSe-13R-p2

[2022-08-29 16:22] blackjackkent commented on #65750
@ianstewart Do you have any thoughts on Saxon's comments above?

[2022-08-29 16:23] blackjackkent commented on #63691
Question for followup - is there a way to add wpcom-specific CSS for a theme? If not, we might not have much we can do here.

[2022-08-29 16:26] edequalsawesome commented on #59259
Customer is still running into this issue, please follow-up with them through 5515832-zen

[2022-08-29 16:27] metabreakr opened #67119 "Stewart: Query loop "Make title a link" post title block does not respect font and heading sizes"
### Quick summary

When using the Stewart theme, the post title block's font size cannot be changed when it is hyperlinked.

This might be vaguely related to https://github.com/Automattic/themes/pull/5614

### Steps to reproduce

1. Activate the Stewart theme
2. Visit Appearance → Editor and select the post title block within the query loop
3. Attempt to change the heading and/or font size; observ

[2022-08-29 16:34] markbiek opened #67120 "Theme/Plugin Bundling: Display different UpgradeModal depending on the theme"
When unlocking a premium theme from the `designSetup` step, we need to display a slightly different upgrade modal depending on if the theme has bundled plugins.

For a _non-bundled_ theme, we can display the current upgrade modal which lets them make a one-off purchase of the theme.

![image](https://user-images.githubusercontent.com/917632/187249938-f868dc7c-e12d-4313-9dad-2e0be8f57fbc.png)

For

[2022-08-29 16:38] markbiek opened #67121 "Theme/Plugin Bundling: From the theme showcase, allow plan upgrades for bundled themes"
Similar to #67120, we need to provide two different purchase flows from the Theme Showcase.

For a non-bundled theme, we'll continue to display "Purchase" so the user can buy the theme as a on-off purchase.

![image](https://user-images.githubusercontent.com/917632/187250673-d3cc36ec-55f3-4004-b0e8-db399e135f24.png)

![image](https://user-images.githubusercontent.com/917632/187250749-68ed2aba-520b

[2022-08-29 18:36] ebinnion commented on #66904
It looks like the user reported that they weren't reporting issues after you followed up with them and the issue was subsequently closed.

[2022-08-29 19:19] simison commented on #56779
I appreciate it can be surprising. We used to have sites hidden in every way possible during coming soon mode, but it was a constant source of bugs as many features work only when site is public. Even tiled gallery would break.

Instead of keeping fixing those things, we just adjusted only pages be private, and the rest like images, RSS feed, etc are there if one digs them up.

Current model prett

[2022-08-29 19:20] simison commented on #56779
Switched from a "bug" to "Reader enhancement", happy to converse more if anyone disagrees. :-)

[2022-08-29 20:02] worldomonation commented on #66190
As noted in [this comment](pciE2j-1lQ-p2#comment-1140) I have spent about 5 hours exploring the first option **explore [allure-framework/allure-js](https://href.li/?https://github.com/allure-framework/allure-js) to see if it offers an out-of-the-box solution.**.

The scope of the task was expanded slightly to see if _any_ Allure packages can be made to work with our current framework.

The baselin

[2022-08-29 20:49] WBerredo commented on #66953
Hi @jordesign, thanks for catching this issue.

I submitted a fix on #67126 where I aligned the header section with the sidebar and removed some padding from the plugin price.

<img width="1122" alt="Screen Shot 2022-08-29 at 16 27 34" src="https://user-images.githubusercontent.com/5039531/187296043-261048f9-8e99-4d8e-aa1e-9b541a78f54e.png">

[2022-08-29 21:24] cuemarie opened #67130 "Warn users who change their permalinks from 'Day and name' to 'Post name' about redirection"
### What

According to our guide docs, here: https://wordpress.com/support/permalinks-and-slugs/#changing-the-permalink-structure

It'd be great if we could add a warning about this in WP-Admin when someone selects `Post name`, here:

<img width="550" alt="screenshot" src="https://en-support.files.wordpress.com/2020/05/permalink-structure.png">

### Why

Users who make this selection won't know th

[2022-08-29 21:32] cometgrrl commented on #56972
Lowering this to normal, since it's correct on the live page.

Another interesting/weird thing I noticed is that when configuring the widget, the title of the box that contains "hits" is 12,345.
![Screenshot 2022-08-29 at 2 31 19 PM](https://user-images.githubusercontent.com/86427589/187302930-6c46b454-4d7a-4312-a453-9fc356693a7e.png)

[2022-08-29 21:35] cometgrrl commented on #57299
Closing as linked issue 994-gh-Automattic/greenhouse is closed.

[2022-08-29 21:35] #57299 closed, assigned to nobody

[2022-08-29 21:38] p-jackson opened #67132 "SMP: `calypso_page_view` Tracks event not being sent"
`calypso_page_view` is a standard Tracks event we use throughout Calypso to record page views. The `path` prop records the current URL (with URL params removed), and the `last_pageview_path_with_count` prop makes it possible to see where the user navigated from.

Neither is working in the SMP.

### Steps

1. Test with a user that has Tracks enabled
2. Filter the network tab by `calypso_page_view`

[2022-08-29 21:55] happychait commented on #13901
Another request in 36685065-hc

[2022-08-29 22:01] spraveenitpro opened #67133 "Purchases Page: Refactor existing code for function PurchaseMetaPrice with suggestions"
### Quick summary

1. Use only early returns rather than reassigning period so that it's clear what each block's priority is.
2. Don't assume that the default term is "yearly"; if we cannot figure out the term in any other way, maybe display nothing at all and/or throw an error.
3. Only use bill_period_label if none of the other conditions is found (ie: only if plan.term does not exist, etc.).
4.

[2022-08-29 22:17] #66573 closed, assigned to jeyip

[2022-08-29 22:21] CodeAllNightNDay opened #67134 "Orvis theme link color in editor not showing on Atomic sites"
### Quick summary

Unless links are given a highlight color in the editor, they do not show on Atomic sites using the Orvis theme as soon as the default link color is changed in the customizer.

5516610-zen

### Steps to reproduce

1. Add the Orvis theme to a site.
2. Make sure the site is Atomic.
3. Change the link color under Appearance > Customize > Colors & Background to anything other than th

[2022-08-29 23:00] sirbrillig commented on #66025
Should be fixed by https://github.com/Automattic/wp-calypso/pull/67021

[2022-08-29 23:00] #66025 closed, assigned to spraveenitpro

[2022-08-29 23:21] zachspears commented on #66873
@Greatdane is correct, https://github.com/WordPress/gutenberg/issues/29398 appears to be the appropriate core issue and correct location for this feature. Closing this issue. 👋

[2022-08-29 23:21] #66873 closed, assigned to nobody

[2022-08-29 23:52] autumnfjeld opened #67137 "Do not show theme variations"
# Description

We won't want to show all the TT2 variations, or any theme variations in the theme grid, since that is now handled by Style Selection.

# A/C
Theme grid should have only ONE TT2, only ONE podcast for women, etc....
![Image](https://user-images.githubusercontent.com/5665959/187318390-32355802-ad5d-4f72-9fdb-6c12d04d823a.png)

[2022-08-30 00:02] alaczek commented on #66737
Hi @valterlorran could you clarify what command? I'm not seeing anything relevant in the theme files.

[2022-08-30 00:32] zachspears commented on #55795
Able to reproduce. Setting Normal priority due to high impact but easy work around.

[2022-08-30 00:37] zachspears commented on #52070
Able to reproduce, keeping open per @mrfoxtalbot :)

[2022-08-30 01:41] lsl opened #67139 "Marketplace: localize breadcrumb paths"
We inadvertently dropped path localization on plugin details while merging a revert https://github.com/Automattic/wp-calypso/pull/67071

While we're fixing this, lets also fix the rest of them that are [also missing](https://github.com/Automattic/wp-calypso/pull/66169#issuecomment-1229897653).

- [ ] Localize breadcrumbs

[2022-08-30 02:20] miksansegundo commented on #66789
We could create a `tag` or a `meta` to mark the patterns that we want to show in the pattern selector. That would make the maintenance/testing easy.

We plan to show the headers and footers using the metas `block_type_core/template-part/header` and `block_type_core/template-part/footer` but we might want to hide some of those.

We could create the following `meta` for the Pattern Assembler:

-  `p

[2022-08-30 02:50] lsl opened #67142 "Marketplace: Reset locale when redirecting away from localized pages"
When visiting a localized page while logged in you get redirected to the non localized route but the locale stays pre-loaded with the locale of the url instead of updating to your own locale.

Repro:
- While logged in
- Set locale to korean
- Visit wordpress.com/es/plugins or wordpress.com/es/themes
- You'll be redirected to wordpress.com/plugins but your locale will stay in Spanish

To fix this m

[2022-08-30 03:17] lsl opened #67143 "Marketplace: Browser back button double click"
Browser back button requires two clicks when I expect one.

Repro: /plugins > click a category > click a search > click a result > click back > search results loads > click back again > **nothing** > click back second time > now we go back to category browser.

Acceptance:
- [ ] Back button doesn't need to be clicked twice to load back to the category browser

[2022-08-30 03:43] #67139 closed, assigned to lsl

[2022-08-30 04:42] donalirl commented on #66635
Bumping up the priority since it provides a help point for all users. Also adding to Vertex team board since they have been able to assist with the other Learn More links throughout Calypso.

[2022-08-30 05:52] miksansegundo commented on #66788
I've tested the loading times using the production preview API. The times are not bad. Here is a recording showing the loading times for:

- 7 Headers
- 15 Sections
- 2 Footers

https://user-images.githubusercontent.com/1881481/187354295-ca7610ac-e48b-4966-856b-23f3acd86c34.mov

I'm working on a preloading system that could reduce the initial loading time. I'll share a recording in an hour.

[2022-08-30 06:16] lsl commented on #66938
Context to the above comment in case you need it: pdh6GB-1QJ-p2#comment-2778

[2022-08-30 06:21] miksansegundo commented on #66788
Here is the recording using the preloading system. Thanks @taipeicoder for the idea!

https://user-images.githubusercontent.com/1881481/187363993-aa7e7911-29b6-4156-9417-9d0a89241835.mov

If the user takes 2~3 seconds to open the pattern selector, the previews will be pre-loaded. In following attempts they will be preloaded, and the scroll preserved because the HTML (iframes) are never removed, on

[2022-08-30 06:30] miksansegundo commented on #66789
We can find the list of patterns that we are using hardcoded in this [file](https://github.com/Automattic/wp-calypso/blob/612fe4cc380b724c2b71ccf2a3cb4114c08c98fc/client/landing/stepper/declarative-flow/internals/steps-repository/pattern-assembler/patterns-data.ts).

[2022-08-30 06:37] zaerl opened #67145 "[Bug]: Blank pages when token has expired"
### Quick summary

Some URLs show a black page when the user token is expired.

### Steps to reproduce

1. Get an expired token
2. Visit any calypso page that calls `https://public-api.wordpress.com/rest/v1.1/me/settings`

When a token is expired the backend output:
[code]

### What you expected to happen

Show the verification code modal like what happens in `/me` or maybe redirect to that page.

[2022-08-30 07:09] autumnfjeld commented on #66788
Fantastic @miksansegundo !

I think this will be quite suitable for an MVP!

Perhaps there is even something deliberate that can be done to "slow" the user, like have a bit of educational copy that takes a few seconds to read or something clever like that.    But even without that, I think the demo you showed above is good!!

[2022-08-30 07:12] autumnfjeld commented on #66788
![image](https://user-images.githubusercontent.com/5665959/187372848-ded501da-f317-4bf4-95e5-05fcb8e92652.png)

I think we might want clearer langauge here @SaxonF  (not sure on the state of copy), but user might need more literal language.  "Create your page layout by selecting a header, a footer, and section patterns below."   (That's just an idea, can be better 😃)

Also see comment above.

[2022-08-30 08:13] vishnugopal opened #67148 "Disable autofill in Chrome on add subscriber screen"

[2022-08-30 08:14] vishnugopal opened #67149 "Change "Email list importing" message to "Your email list is being uploaded.""
See: pdtkmj-pL-p2#:~:text=We%20probably%20need%20to%20update%20the%20wording%20a%20bit%20from%20%E2%80%9CYou%20have%20email%20list%20importing%E2%80%A6%E2%80%9D%20to%20something%20like%2C%20%E2%80%9CWe%20are%20importing%20your%20subscribers%E2%80%A6%E2%80%9D.

[2022-08-30 08:16] vishnugopal opened #67150 "Change subscriber invite email to the new email style and maybe include the site icon (instead of user gravatar) as well?"
See: pdtkmj-pL-p2#comment-665

[2022-08-30 08:22] #67148 closed, assigned to bogiii

[2022-08-30 08:38] cpapazoglou commented on #66906
The grid max-width is `667px`. Aiming for retina images means that width should be `1334px`.

[2022-08-30 08:51] gavande1 commented on #65349
The table schema is created at 2d715-pb/#sql

[2022-08-30 08:54] cpapazoglou commented on #65349
Let's change the table name to `store_vendor_webhooks` so that it includes the word `store`

[2022-08-30 09:45] gavande1 commented on #65349
Updated schema: 2d716-pb/#sql

[2022-08-30 10:03] liviopv commented on #66762
@Robertght Uhm, it might not be a bug; there's certainly something weird about this.

The link you mentioned above has a date of 2022-01-05, but the site's Custom Design upgrade expired in November of 2015, and there's no trace that the site had permission to load custom CSS during this period.

Could it be a glitch where Custom Design was removed, but the site kept loading the CSS regardless?

[2022-08-30 10:22] vindl opened #67152 "Sites Management Page: prevent obsolete page view events for Newdash"
We seem to be recording superfluous page view events on the page for an old and deprecated Newdash project. We should investigate why this happens and remove them if possible. To reproduce:

1. Run `localStorage.setItem( 'debug', 'calypso:analytics*' );` in the console.
2. Navigate to `/sites`
3. Start typing in the search box.

<img width="511" alt="Screenshot 2022-08-29 at 23 50 53" src="https:/

[2022-08-30 10:25] iamtakashi commented on #65597
Since the essential part of the demo content was exported as a Headstart annotation, I'm going to add more contents that were removed to obey the limit of an annotation.

What's left to launch?

[2022-08-30 10:32] #66967 closed, assigned to alshakero

[2022-08-30 11:14] bogiii commented on #67086
<img width="470" alt="Screenshot 2022-08-30 at 12 58 00" src="https://user-images.githubusercontent.com/1241413/187422654-3abe9567-2040-4f7c-b007-b8df66b70d60.png">

cc @vishnugopal

[2022-08-30 12:23] Addison-Stavlo commented on #66706
with https://github.com/Automattic/wp-calypso/pull/66613 and D86659-code merged, this issue will be resolved once https://github.com/Automattic/wp-calypso/pull/67016 is deployed.

[2022-08-30 12:25] Addison-Stavlo commented on #66125
note D86254-code will resolve (or all?) of the remaining items on this

[2022-08-30 12:42] BogdanUngureanu commented on #66158
Alternative approach: D86823-code

[2022-08-30 13:07] #66622 closed, assigned to eoigal

[2022-08-30 13:19] valterlorran commented on #66737
Yes, I ran `wp option get stylesheet --url=thrivingartistdemo.wpcomstaging.com`

[2022-08-30 13:23] Gustavo-Hilario commented on #55795
Another report:

- [ ] 5509600-zen

Also suggested the Social Icons Block as a workaround for now.

[2022-08-30 13:35] danielbachhuber commented on #66140
Landed D86304-code yesterday

[2022-08-30 13:41] valterlorran commented on #65597
We need a review of the headstart annotation and the POT file to proceed with the launch. D86476-code / D86480-code

[2022-08-30 13:44] #65744 closed, assigned to phcp

[2022-08-30 13:44] #66406 closed, assigned to phcp

[2022-08-30 13:58] mikeicode commented on #66531
Same issue on the new theme Disco.

https://user-images.githubusercontent.com/10353785/187456544-a6c45424-d0be-459e-a91a-dbf59c8b9916.mp4

[2022-08-30 14:24] jp-imagines opened #67159 "Twenty Twenty: Video embeds are not center aligned"
### Quick summary

Embedded videos (tested with YouTube, Vimeo, and Video blocks) on the _Twenty Twenty_ theme do not respect the `Align center` setting, and are also not centered for the `None` or `Wide width` alignment settings.

### Steps to reproduce

1. Activate the _Twenty Twenty_ theme.
2. Create a new post or page and insert a video. Tested with the Youtube, Vimeo, and Video blocks.
3. Sel

[2022-08-30 15:17] bogiii commented on #67098
<table>
<tr>
<td>
<img width="481" alt="Screenshot 2022-08-30 at 17 13 16" src="https://user-images.githubusercontent.com/1241413/187475083-18d34a5e-6a1c-4f66-836b-44739748924c.png">
</td>
<td>
<img width="744" alt="Screenshot 2022-08-30 at 16 57 14" src="https://user-images.githubusercontent.com/1241413/187475104-2a882db7-ea7c-405b-9ec9-938d1c7f01f8.png">
</td>
</tr>
</table>

[2022-08-30 15:21] filipanoscampos opened #67163 "Query Loop Block Not displaying any posts on some FSE themes"
### Quick summary

On some websites with FSE themes, the Query Loop Block is failing to show posts, either if added to a template or a page.
We have had cases with Livro and Payton so far, all on simple sites.

The posts display in the editor, but not on published pages.

The empty category page:
![Screenshot 2022-08-30 at 16 01 21](https://user-images.githubusercontent.com/2540430/187475280-e33ec

[2022-08-30 15:52] spraveenitpro commented on #51952
I can take a look at this.

[2022-08-30 15:54] wiesenhauss commented on #65455
18041484-hc
Another user with the same issue - when trying to launch a free site, the link to 'skip purchase' only appears when the user searches for a domain first (not intuitive). I could reproduce this on a test site.

[2022-08-30 16:09] davemart-in opened #67164 "READER - Redesign left nav & add right sidebars to select views"
## Progress Tracker

Each of the following will be worked on in separate PR's but I'll keep track of everything here. I've broken everything out into a couple of separate deploys to prevent any wires from being crossed.

### First deploy

- [x] **Introduce the new SVG icons** - (#70659)
- [x] **Masterbar changes and optional label** - (#70660)
- [x] **Favicon component - use the size prop instead

[2022-08-30 16:13] #65364 closed, assigned to andres-blanco

[2022-08-30 16:23] fullofcaffeine opened #67165 "[Bug]: `SecurityError Error: Blocked a frame with origin` when previewing a Post"
### Quick summary

Got the report from WPCOM's Sentry. The exception happens when users try to preview the post. It's possible the preview doesn't work in this case, but I didn't reproduce the issue myself (will update the issue if/when I do).

The stacktrace leads to https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/post-preview-button/index.js#L150-L190. I don't kn

[2022-08-30 16:32] davemart-in opened #67166 "Reader Card Refresh: Update header of followed site screen"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of this, we'd like to update the header of the followed site screen.

### Before

<img width="1156" alt="CleanShot 2022-08-30 at 12 26 59@2x" src="https://user-images.githubusercontent.com/5634774/187490429-4042ccc1-75e0-472c-9d8e-5fe6e6876a35.png">

### After

<img width="579" alt="CleanShot

[2022-08-30 16:33] wpshellbelle opened #67167 "Header and Footer not displaying on default templates"
### Quick summary

On several sites using FSE themes, the header and footer is suddenly not displaying correctly on default page template.

For example, the default page and single post template are suddenly not displaying header and footer. The header and footer both show correctly for the template in the Site Editor but the header and footer both fail to display on the live site.

Example of wha

[2022-08-30 16:35] msilbers commented on #67167
- [ ] 5518839-zen
- [ ] 5518838-zen

[2022-08-30 16:37] sharonlaker19 commented on #67167
- [ ] 5518207-zen

[2022-08-30 16:38] mreishus commented on #67167
Caused by D86821-code. Left some investigation notes inside that issue.

[2022-08-30 16:40] wiesenhauss commented on #67167
- [ ] 5518084-zen

[2022-08-30 16:45] JoshuaGoode commented on #67167
* p1661876487676969-slack-C02FMH4G8
* D86821-code

[2022-08-30 16:46] davemart-in opened #67168 "READER - Card Refresh: Updates to search screen"
## Description

We're in the process of updating the look and feel of our Calypso Reader Cards. As a part of this, we'd like to update the design of the search screen.

### Before

<img width="1160" alt="CleanShot 2022-08-30 at 12 39 17@2x" src="https://user-images.githubusercontent.com/5634774/187492580-c9e5d19a-0bcc-426c-9b42-a7acfb4e9254.png">

<img width="1152" alt="CleanShot 2022-08-30 at 12

[2022-08-30 16:47] JoshuaGoode commented on #67163
* p1661876487676969-slack-C02FMH4G8

[2022-08-30 16:53] Addison-Stavlo commented on #67163
Im having issues reproducing on my test site, both on production and on sandbox. Tested both livro and payton themes on a simple site and posts are showing up inside they query loop both on front-end and in editor. 🤔

[2022-08-30 17:00] mreishus commented on #67167
We've pushed a revert in D86868-code which may address the issue.

[2022-08-30 17:11] wpshellbelle commented on #67167
@mreishus This looks to have resolved this issue! I am seeing that the header and footer are loading correctly on the live site now.

[2022-08-30 17:31] michaeldcain commented on #14624
From planning:

Given 35+ chats a week, we can start to answer some questions and scope out this project.

Questions:
- Do we want to limit this to any products (i.e. add-ons, emails)?
- Do we want to limit this to any situations (i.e. simple only)? Does this have the potential to unintentionally wipe an Atomic site?
- What happens to domain credits (currently the domain stays attached to the old

[2022-08-30 17:33] michaeldcain commented on #62118
@simison: This seems to be an issue with Gutenboarding allowing the user to override their existing Calypso locale setting. Can you help triage this?

[2022-08-30 17:39] michaeldcain commented on #51952
From planning:

This is the WordPress-generated media attachment page for the linked image. @MindyPostoff could you let us know if this image is used anywhere before we try to edit it or remove it?

We should try to edit the media attachment page's permalink. If it's not used, we could ask Systems to implement a redirect from `/cart/` > `/checkout`

[2022-08-30 17:45] vinimotaa opened #67171 "Marketplace: Category Description (labels)"
I'm creating this ticket for us to centralize, align and keep updating the Category descriptions (labels) as we get them.

**These are the ones we already have:**

Ecommerce & Business
Everything you need to turn your WordPress site into a powerful online store.

Booking & Scheduling
_Add a fully functional booking system to your site._

Analytics
_Tools to help you better understand your site's v

[2022-08-30 18:03] kerrynicl opened #67172 "Add More Site options to new Site Management page"
### What

It would be convenient to add more site options to the new site management page such as delete site or hide site from listing

### Why

Users often ask how they can do that. It would provide a centralised point of management

### How

Add to Site menu - <img width="1484" alt="Markup 2022-08-30 at 13 00 14" src="https://user-images.githubusercontent.com/83325600/187510350-3374abe7-13cf-4a

[2022-08-30 18:04] #65915 closed, assigned to obenland

[2022-08-30 18:08] #66953 closed, assigned to WBerredo

[2022-08-30 18:39] ebinnion opened #67173 "Feature Request: Update signup_flow_name of account creation step in use cases to reflect the flow"
### What

From the account creation step of the tailored use cases flows, the `signup_flow_name` value is always `account`. It seems more correct if we updated this to reflect the flow that we're in. From testing, `flow` seems to be set as a query arg, so it should be relatively straight forward to pull this out and send it in the user account creation call.

### Why

This would be helpful for our

[2022-08-30 18:40] ebinnion commented on #67173
@alshakero  - I went ahead and assigned you as a proxy. I might be able to get to this myself today or tomorrow though.

[2022-08-30 19:02] edanzer commented on #66706
This has been resolved now with https://github.com/Automattic/wp-calypso/pull/67016

[2022-08-30 19:10] #66706 closed, assigned to edanzer

[2022-08-30 19:25] edequalsawesome commented on #59259
Also ran into this in 36593936-hc, requested follow-up through ticket:

5519249-zen

[2022-08-30 19:36] ebinnion commented on #67173
After looking into this a bit, I think that it's a side effect of us jumping between stepper and start frameworks. When I add the `user` step to both the `newsletter` and `link-in-bio` flows in start, I get the `signup_flow_name` as expected... but, then I jump back out to the stepper flow when expected.

[2022-08-30 19:43] ccwalburn commented on #210
Re-opening as this issue came up again today.

5518630-zen

- The labeling is confusing because they are using a static home page and the static home page is listed as a separate statistic so it isn't clear whether both stats include home page counts or not.
- It is also confusing that the WordPress.com site address is used as the link for the **Home Page/Archives** because their primary domain is

[2022-08-30 19:57] mreishus commented on #67121
This should be solved with #67131. To see the new behavior, the `themes/plugin-bundling` flag needs to be on and the selected theme needs to have a `theme_software_set` in its taxonomy.

[2022-08-30 19:57] #67121 closed, assigned to mreishus

[2022-08-30 20:15] #65999 closed, assigned to worldomonation

[2022-08-30 20:15] #67005 closed, assigned to worldomonation

[2022-08-30 20:38] phcp opened #67180 "[New Comment] Fix margin between CTAs"

[2022-08-30 21:14] ebinnion commented on #67163
I have also tested and am having issues reproducing with Livro and Payton, proxied and unproxied, logged in and logged out.

[2022-08-30 21:17] alshakero commented on #67173
Interesting! Tony is dealing with this here https://github.com/Automattic/wp-calypso/pull/66950. We moved away from altering the flow name because I imagine it has the potential of creating unexpected behavior.

The user flow is technically part of onboarding, not LiB or Newsletter. So we created new param called variationName to avoid messing with that. Would love to hear your thoughts on this.

[2022-08-30 22:46] p-jackson opened #67183 "Tidy `hasTranslation` checks in "Back to Sites" label"
Once the strings added in #67170 have been translated to all mag16 languages we should remove the `hasTranslation` checks and use `translate( 'Back to Sites' )` directly in the JSX like we usually do.

The translation bot should notify us when translations for the PR are complete.

[2022-08-30 23:39] #67037 closed, assigned to vykes-mac

[2022-08-31 00:20] #64418 closed, assigned to youbrokesomething

[2022-08-31 00:24] #65855 closed, assigned to worldomonation

[2022-08-31 04:00] dev-sabbir commented on #67167
Another issue reported yesterday: 5518741-zd-woothemes

The issue seems to be fixed for them now. I am adding this comment here to keep track.

[2022-08-31 04:56] Robertght commented on #66782
The user didn't share a link regarding this site and they said it doesn't happen consistently. I'm going to close this for now until they share more details so please reopen then.

[2022-08-31 04:56] #66782 closed, assigned to nobody

[2022-08-31 05:27] Robertght commented on #50740
I'm reopening this for now as it seems like the user is still facing this issue and they've grown impatient and frustrated.

@daledupreez can we get a double check on this specific please?

[2022-08-31 05:27] JulianBustamante commented on #65683
Diff created D86914-code

[2022-08-31 06:33] Robertght commented on #66531
I'm not sure if this is theme specific at the moment, but can we get a confidence check on it @Automattic/cylon ?

[2022-08-31 06:45] autumnfjeld commented on #66741
@fushar if it is easy, go ahead and do it for this iteration.   If not, write up an issue for post MVP launch. 😃

[2022-08-31 06:54] arthur791004 commented on #66835
Close it via https://github.com/Automattic/wp-calypso/pull/67074 and we've added `calypso_signup_select_verticalized_design` when the user selects the verticalized design!

[2022-08-31 06:59] autumnfjeld commented on #66835
There is a Part 2.....so technically issue isn't done.  :).  Maybe next time I should make two issues, and put the P2 for the results is in a separate issue.

[2022-08-31 07:06] arthur791004 commented on #66835
Oops...I forgot the Part 2 section... 😅

[2022-08-31 07:06] jdc91 opened #67191 "Text changes for filler content"

[2022-08-31 07:10] jordesign commented on #67166
Howdy folks - I've started a PR to try and help out here - It's possible a little rough ;)

I've got the layout and font sizes sorted - just a couple of outstanding questions about font sizes and icons.
https://github.com/Automattic/wp-calypso/pull/67192#issuecomment-1232547410

[2022-08-31 07:14] daria2303 commented on #66287
34457662-hc

[2022-08-31 07:20] gavande1 opened #67193 "Marketplace: Create endpoint for adding database mapping for vendor"
### Details

When vendors are onboarded we need to create their mapping in database tables in order to onboard them correctly. We will create an endpoint (that we will later use through WC.com) that accepts a vendor `name` and `wpcom_user_id` and:

- [ ] adds a store_vendor with a given `name`
- [ ] adds store_vendor_wpcom_user for the given `wpcom_user_id`

We can reuse the authentication mechani

[2022-08-31 07:51] Robertght commented on #66762
Thank you @liviopv ! That is indeed strange and I took some time to check some things. I added the Custom CSS upgrade back to it and the CSS code is back as well on it.

While our logs show the upgrade being removed, it most likely wasn't removed from the site itself as the blog report audit doesn't show a log of the Custom Design being removed from the site.

I believe this might've been triggere

[2022-08-31 07:51] #66762 closed, assigned to nobody

[2022-08-31 08:20] alshakero opened #67195 "Task: Use block patterns API instead of hard-coding patterns"
### Details

Currently, we have hard-coded patterns listed [here](https://github.com/Automattic/wp-calypso/blob/trunk/packages/pattern-picker/src/patterns.ts).

This is blocked by the patterns API not being publicly accessible, but a12ns aren't affected by this, so let's start the work but not merge until it is (p1661933400326759/1661873432.122819-slack-C02M88KJ684).

These will be a constant main

[2022-08-31 08:50] heavyweight opened #67197 "Customize plans page for newsletter and link in bio"

[2022-08-31 08:51] alshakero commented on #66396
This was done by [this](https://github.com/Automattic/wp-calypso/pull/66397), right?

[2022-08-31 08:52] heavyweight opened #67198 "Customize checkout page for newsletter and link in bio"

[2022-08-31 08:52] renancarvalho commented on #66396
Yes, this can be closed.

[2022-08-31 08:52] #66396 closed, assigned to renancarvalho

[2022-08-31 08:54] heavyweight opened #67199 "Add drag and drop support for site icon for newsletter and link in bio"

[2022-08-31 08:56] heavyweight commented on #67199
waiting for design feedback on how to proceed

[2022-08-31 09:20] #67081 closed, assigned to bogiii

[2022-08-31 09:20] #67083 closed, assigned to bogiii

[2022-08-31 09:20] #67086 closed, assigned to bogiii

[2022-08-31 09:20] #67149 closed, assigned to bogiii

[2022-08-31 09:21] mashikag commented on #66768
The issue is resolved by the two:
1. D86651-code
2 .D86747-code

[2022-08-31 09:42] daledupreez commented on #50740
Thanks for the ping and keeping things moving for the customer, @Robertght! 🙇

I've reviewed the situation and it looks like we didn't provide them with a very clear description of what we're doing and what impact our changes will have in the ticket they had open while we were working on these fixes, 5286257-zd-woothemes.

I think our best next step will be to reach out to the user to communicate

[2022-08-31 10:38] vindl opened #67202 "Sites Management Page: grid view problems in Safari"
There are a couple of issues with the grid view in Safari currently, likely happening on accounts with a large number of associated sites (100+):

- mshots thumbnails don't appear or appear inconsistently.
- there are performance issues in that view that almost cause Safari to freeze. This is especially pronounced while toggling between the grid and list view.

[2022-08-31 10:50] eoigal commented on #66621
I don't understand how we want to show posts with a single image but doesn't have the quality to increase size to reader post width.  The images from Techmeme typically include thumbnails from other aggregated sources.

<img width="636" alt="Screenshot 2022-08-31 at 11 47 16" src="https://user-images.githubusercontent.com/5560595/187661672-51f8e3b5-cfc6-4a0f-8733-de4c02eb1d06.png">

I think we sho

[2022-08-31 11:38] simison commented on #67149
While we don't have the CSV importing/uploading public for launch, we should probably find another copy with designers.

Something along the lines of "Your subscribers have been added"?

[2022-08-31 11:43] simison commented on #66969
Related bug from Cft pdtkmj-pL-p2#comment-783 :

[2022-08-31 12:36] Nic-Sevic commented on #14624
It wouldn't revert an atomic site unless you triggered that as well. Removing the plan would leave it as atomic without plan and in 7days it would auto-revert. This does mean that we might need something extra to make it clear to users with atomic plans that transferring the plan will cause the originally linked site to revert and can cause data loss. Might be good to prompt them to download a bac

[2022-08-31 12:46] sejas commented on #67202
Fixed on two PRs:
- https://github.com/Automattic/wp-calypso/pull/67205
- https://github.com/Automattic/wp-calypso/pull/67029

[2022-08-31 12:46] #67202 closed, assigned to sejas

[2022-08-31 13:02] Robertght commented on #59259
After checking several themes, it looks like only these share this pattern:

https://wordpress.com/themes/filter/global-styles/

I looked around in Gutenberg's repo and I can see some other reports but nothing that resembles this.

@Automattic/cylon is this something your team can look into?

[2022-08-31 13:03] #66723 closed, assigned to sejas

[2022-08-31 13:22] danielbachhuber opened #67209 "Site Switcher i1: Add Tracks event for click on list item site"
In order to better understand how well our ordering algorithm works, we'd like to track clicks on which site gets clicked:

<img width="394" alt="image" src="https://user-images.githubusercontent.com/36432/187687749-58cfd024-a392-46ae-8786-ad062cb9f212.png">

**Done is:**
* When a site in the site switcher list is clicked, a new `calypso_switch_site_click_item` event fires.
* The `calypso_switch_s

[2022-08-31 13:39] davemart-in commented on #67166
@jordesign exciting! Thanks for jumping in! I'll take a look at this later today and leave my thoughts on your PR.

[2022-08-31 13:47] Robertght opened #67212 "Comments not rendering the theme styled form on desktop"
### Quick summary

On desktop screens, we get the default comments styling, but on mobile it shows up the theme styled one

### Steps to reproduce

1. Activate any theme
2. Check on a post/page that allows comments on desktop and mobile

### What you expected to happen

To see it styled as on mobile

### What actually happened

I'm seeing the default styling on desktop.

Desktop vs mobile

Cultiva

[2022-08-31 13:49] eoigal commented on #66621
I've tried to replicate this on a p2 (and failed) so not sure if its a feed/RSS parsing thing.

For context the reader post is rendered like this on techmeme; (from [here](https://www.techmeme.com/220831/p9#a220831p9))
<img width="621" alt="Screenshot 2022-08-31 at 14 46 42" src="https://user-images.githubusercontent.com/5560595/187694638-8840d84a-5f11-49b1-928b-f8500ac904ab.png">

[2022-08-31 14:12] vinimotaa commented on #66055
Hi folks,

Did play with some alternatives, and here is my take on it;

- I agree the red color is more appropriate in this case
- When you select/undo de checkbox, the entire component "flickers" a lot by adding the outside stroke to it, and the error message together

<img width="1664" alt="image" src="https://user-images.githubusercontent.com/97929097/187698991-abcff12d-57e1-426f-8e1a-34c3a76e3

[2022-08-31 14:12] Robertght opened #67213 "Pendant: Search template showing up results due to "Inherit query from template" being OFF by default"
### Quick summary

_No response_

### Steps to reproduce

1. Activate Pendant
2. Check the Search template

### What you expected to happen

When I search for something to receive the relevant results

### What actually happened

The "Inherit query from template" is OFF by default, so we ended up with the same Query Loop content

### Context

5504362-zen

### Platform (Simple, Atomic, or both?)

S

[2022-08-31 14:16] Addison-Stavlo opened #67214 "LaunchPad - fix stale site data issue / infinite redirect loop"
In testing backend changes to Launchpad we diagnosed a consistently reproducible issue due to stale site option data in Calypso.  This has been experienced in two forms:

1. After turning the `launchpad_setting` option to `off`, MyHome still redircts to launchpad thinking it is still set on. The launchpad reads accurate data and since it is 'off' redirects to MyHome, and an infinite redirect loop

[2022-08-31 14:29] mashikag commented on #66972
Closed by #67035

[2022-08-31 14:29] #66972 closed, assigned to nobody

[2022-08-31 14:44] #67113 closed, assigned to WBerredo

[2022-08-31 14:47] daledupreez commented on #67212
This is part of a longer-term issue where our comment forms have had very opinionated styling on desktop.

@Automattic/dotcom-janitors have been working on improving the situation, and had a broader discussion about it a few weeks ago in p1HpG7-hu9-p2. We've also been working to modernise and simplify the CSS so we are more aligned with the theme's CSS in D85984-code, which we plan to deploy tomor

[2022-08-31 15:01] dev-sabbir commented on #56923
36543741-hc this user is expecting a bulk deactivate and bulk delete option.

[2022-08-31 15:28] vinimotaa opened #67222 "Marketplace: Nudge Design"

[2022-08-31 15:37] ebinnion commented on #67173
Using `variationName` makes some sense to me so that it's more clear that `flowName` doesn't override the `flowName` that gets chosen in the code.

But, we should make sure that we the user account gets created it's tracked back to the newsletter and link in bio flows.

[2022-08-31 15:47] ebinnion commented on #67173
To be clear, I don't think my `diff` is the answer. I was more so sharing it to demonstrate that the `signup_flow_name` seems to be derived from the flow's slug and that when I added the `user` step to the tailored flows, I got the expected flow slug.

When we send users into the `account` flow, we just get the `account` slug as `signup_flow_name`.

I see a couple of ways forward currently:

- We

[2022-08-31 15:50] yansern commented on #66420
**Explanation:**
A RTL user liking a comment of a user (LTR) on his LTR site, the user receives the email in RTL.

![image](https://user-images.githubusercontent.com/1287077/187722740-56895a58-72f8-418b-87f2-e9410e3119ae.png)

[2022-08-31 16:00] ebinnion commented on #67173
Working on this now.

[2022-08-31 16:05] Addison-Stavlo commented on #66936
@Robertght sounds good!  Note that Im not sure how we ended up with CSS Tidy reports and issues and we haven't had any work related to it previously. That said, we can add this on the backlog and get to it when we can.  However if there is more urgency with these CSS Tidy issues feel free to assign elsewhere instead.

[2022-08-31 16:22] vinimotaa opened #67223 "Marketplace: Nudge Redesign"
Another component we’re aiming to improve is the plan upgrade nudge design. The affordance of the existing Calypso’s nudge is pretty low. Apart from that, the visual component looks like an “alert message” about your current plan more than a “call to action” to upgrade your plan.

We plan to build this as a new component to replace the existing one on the Marketplace and check the conversion perfo

[2022-08-31 16:45] danielbachhuber commented on #30426
For Atomic, it seems like the underlying problem is that WordPress core doesn't allow `.ppsx` for some reason:

<img width="1540" alt="image" src="https://user-images.githubusercontent.com/36432/187730325-54f21197-902e-4d67-a59f-150108c80873.png">

I see it in `wp_get_mime_types()` however: https://github.com/WordPress/wordpress-develop/blob/1356e3b18d85a95173b392ce97ccd70a4a05f94a/src/wp-includes

[2022-08-31 17:06] worldomonation opened #67228 "CI Efficiency: shorten time between Docker image build completion and Pre-Release Test trigger."
### Details

One possible way to speed up the turnaround time for a PR merge to trunk is to shorten the time gap between a successful Docker image build and the Pre-Release Tests being triggered.

Our backend triggers the Pre-Release Tests, not TeamCity itself, so there's likely room for improvement on that front.

### Checklist

_No response_

### Related

_No response_

[2022-08-31 18:09] jp-imagines opened #67229 "Gutenberg: Editor content is full width on classic themes"
### Quick summary

Customer contacted us (36716345-hc) to note that the content in the block editor on their site is suddenly full width. (They weren't able to provide a specific timeline, but noted the change was from at least the past week. I suspect this may be much more recent and related to a Gutenberg update.)

The live site and previews aren't affected, but there is no padding/margin to eit

[2022-08-31 18:26] Addison-Stavlo commented on #67214
resolved with https://github.com/Automattic/wp-calypso/pull/67219

[2022-08-31 18:26] #67214 closed, assigned to Addison-Stavlo

[2022-08-31 19:03] connorhipps commented on #67229
Another instance of this reported here for `Toujours`: 5522171-zd-woothemes

[2022-08-31 19:05] thekingsprojects commented on #67229
Another here, on Aquene:

- [ ] 5522063-zen

[2022-08-31 19:05] vindl commented on #67209
Should we also account for the total number of sites on the list? Rationale: position 4 is great in a list of 100 sites, and not that great if there are only 5 sites. One way to do it would be to record `(total - position)/total`.

[2022-08-31 19:05] Addison-Stavlo commented on #66125
This task will be complete with the deployment of the following PRs:
https://github.com/Automattic/wp-calypso/pull/67190
https://github.com/Automattic/wp-calypso/pull/67224

[2022-08-31 19:37] WBerredo commented on #66055
Thanks @vinimotaa, considering the checkout page pattern to highlight is to use borders, I would go with the implemented here #66888

[2022-08-31 19:50] connorhipps opened #67236 "Video Uploads Failing on Atomic Sites"
### Quick summary

Users cannot upload .mp4 or .mov files (possibly any video files at all) via the Media Library or the Video Block on Atomic sites. This doesn't appear to be theme-specific.

Personal Atomic Site Test:
![CleanShot 2022-08-31 at 15 48 48](https://user-images.githubusercontent.com/5952196/187769425-7d83acc3-7803-4e2c-baa1-31d77960f347.gif)

### Steps to reproduce

1. Start by navig

[2022-08-31 19:57] msilbers commented on #67236
reported in

- [ ] 5522323-zen

[2022-08-31 20:02] connorhipps commented on #67229
Another here on `Independent Publisher 2`: 5522356-zd-woothemes

The user also reported "the pictures inserted are much larger than when I viewed them last time". Please see the ticket for the referenced post in question.

[2022-08-31 20:09] JoshuaGoode commented on #67236
Thanks for the report

For widespread Atomic-specific things, please be sure to ping @Automattic/reactor, and also @ at-help internally, and possibly post to Atomic Requests as well. Feel free to just start with a ping, though.

cc @upwardmomentum84

Internal discussion: p1661975727174769-slack-C02FMH4G8

[2022-08-31 20:29] upwardmomentum84 commented on #67236
Reported in

30710011-hc

[2022-08-31 20:55] msilbers commented on #67236
- [ ] 5522504-zen

[2022-08-31 21:13] ollierozdarz commented on #66621
My 2 cents are that while it's important to factor in images  with poor quality (like the example), we want to be building towards a system that encourages quality (images, post design, etc). I agree with @davemart-in - let's stick to the plan

[2022-08-31 21:14] vinimotaa opened #67239 "Marketplace: Category Description Design Adjustments"
Recently we have implemented the category title + description on Marketplace.

As we iterate on a few things, I'd like us to make some minor adjustments to the overall page title/header.

- Title size to be 26px instead of 36px (across all the pages)
- Description/subtitle using our "Base/Regular" 14px
- Place the plugin number on the other side of the page also using our "Base/Regular" 14px
- Fol

[2022-08-31 21:26] supernovia commented on #67229
We have a handful of users reporting in this thread:
https://wordpress.com/forums/topic/suddenly-have-edge-to-edge-text-in-default-editor-unreadable-unusable/

I confirmed it's happening in Gema on my site.

[This user is using Franklin](https://wordpress.com/forums/topic/suddenly-have-edge-to-edge-text-in-default-editor-unreadable-unusable/?view=all#post-3859129). I'm finding out about the others

[2022-08-31 21:47] aisajib commented on #67229
At first, I wasn't able to replicate this on a .org site with the default, Twenty Twenty-Two theme active. But then I tested on a Simple site with this theme, and I couldn't replicate it. So it sounds like only some themes are affected.

Taking one of the examples above, I installed Independent Publisher 2 on a self-hosted site. And here are the results:

Independent Publisher 2 theme on self-host

[2022-08-31 22:00] vykes-mac commented on #51540
@daria2303 I was not able to repro this issue. Were you able to reproduce this issue? Could we get additional information from the user, console logs or logs from the network tab in google chrome?

[2022-08-31 22:04] aisajib commented on #67229
Seems to be a core issue. I've created a GH issue on core Gutenberg here https://github.com/WordPress/gutenberg/issues/43752

[2022-08-31 22:08] roo2 commented on #66621
It sounds like it's not just a CDN thing where better images are available but we are currently choosing a smaller thumbnail for the reader?

If those are the source images, maybe we could look into some kind of a deliberate blur or filter to make it look more deliberate? https://devbeep.com/css-blur-effects/ ( check with @ollierozdarz and @davemart-in )

[2022-08-31 22:10] roo2 commented on #66619
I think we will need a js solution for adding the ellipsis because it doesn't work well with pure css across multiple lines https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text

[2022-08-31 22:16] roo2 commented on #66620
I did a bit of changes to alignment already in https://github.com/Automattic/wp-calypso/pull/66749. When there is an indicator next to the Star icon, it should be aligned with the top hamburger menu e.g.
<img width="616" alt="Screen Shot 2022-08-22 at 3 14 13 pm" src="https://user-images.githubusercontent.com/22446385/187794932-aa51b84d-6436-496d-92a8-a2c7458f91ce.png">

[2022-08-31 22:17] JoshuaGoode commented on #67236
Jetpack 11.3beta caused some issues

We reverted back to 11.3-a.11 and issues are resolved.

[2022-08-31 22:17] #67236 closed, assigned to nobody

[2022-08-31 22:34] fullofcaffeine opened #67242 "[Bug][sentry][wp-includes/heartbeat.js]: `Cannot read properties of null (reading 'hooks')`"
### Quick summary

I'm investigating [this Sentry issue](https://sentry.io/organizations/a8c/issues/2538445063/?project=5876245), it happens in `wp-includes/js/heartbeat.js`, line 469 (search in opengrok) because wp is null for some reason, so I assume the @wordpress/hooks package is not being enqueued/loaded when this script runs, sometimes, for some reason.

Maybe a network race condition or the

[2022-08-31 23:21] jordesign commented on #67229
Another example in #5522706-zen

[2022-09-01 00:39] cuemarie commented on #67229
Happening here as well: 36173407-hc

Theme: **Gazette**

Recommended the user work with List View & Block settings open, as they had a hard time reading their content with it appearing so wide

[2022-09-01 00:48] zachspears commented on #65289
Able to reproduce, changed Priority to low due to easy workaround and low impact.

[2022-09-01 00:54] zachspears commented on #65344
Hello, @daria2303 this just came back up for triage. In my testing it looks resolved, are you still seeing this issue? Thanks!

[2022-09-01 01:02] zachspears commented on #65916
Able to reproduce this issue. Leaving normal priority, as Privacy issues are important.

[2022-09-01 01:04] zachspears commented on #67002
I strongly agree with @JoshuaGoode. This would also save time for HE's and provide a frictionless experience for users. Set low priority due to low impact.

[2022-09-01 01:07] jamiepalatnik commented on #67229
Another report: 36465571-hc

[2022-09-01 02:04] donalirl commented on #67229
Seen in 36721710-hc on Textbook theme.

Follow-up:

- [ ] 5522948-zen

[2022-09-01 02:27] cuemarie opened #67245 "Sharing Button 'Press This' not copying highlighted text to new post"
### Quick summary

When resharing content using the `Press This` sharing button on a site that's chosen to display it, the highlighted text is not copying over to the new post.

- By comparison, using the `Press This` bookmark works properly

### Steps to reproduce

1. I was able to replicate the reports using Firefox 104, Chrome 104
2. On a simple test site, go to Tools > Marketing > Sharing Butt

[2022-09-01 02:31] cuemarie commented on #56960
📌 FINDINGS/SCREENSHOTS/VIDEO
- Seems the originally reported issue is regarding the `Press This` bookmark, which was closed in favor of another report, and that issue has been solved.

📌 ACTIONS
- Closed as duplicate of #58098
- Closed as no longer relevant (issue resolved by #61158)

📌 Message to Author
- I've created a separate report for the **sharing button**-specific reports moving forward. P

[2022-09-01 02:31] #56960 closed, assigned to nobody

[2022-09-01 02:34] cuemarie commented on #67245
Copying over an interaction regarding the sharing-button-specific issue from another report:

- [ ] 4765045-zen

[2022-09-01 02:45] cuemarie commented on #67068
📌 SCRUBBING : RESULT
- Tested on Simple: Could Not Replicate
- Tested on AT: Could Not Replicate
- Replicable on Core?  No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Looks like this may have been fixed! I'm seeing the `Artikel öffnen` button direct to `https://wordpress.com/de/support/import/` on both Simple and AT sites

*Example*
![Markup on 2022-08-31 at 19:41:57](https://user-images.githubusercontent.com

[2022-09-01 02:45] #67068 closed, assigned to nobody

[2022-09-01 02:53] cuemarie commented on #67065
📌 SCRUBBING : RESULT
- Tested on P2: Replicated / Could Not Replicate / Uncertain
- Tested on Simple: Replicated
- Tested on AT: Replicated
- Tested on Self-hosted: Could Not Replicate
- Replicable on Core? No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated on Simple and AT sites.

*Example*

![Markup on 2022-08-31 at 19:48:37](https://user-images.githubusercontent.com/27249804/187821946-7dc26782-1029-

[2022-09-01 02:57] cuemarie commented on #67003
📌 ACTIONS
- Feature request kept

[2022-09-01 03:05] #66591 closed, assigned to jimmy319

[2022-09-01 03:08] cuemarie commented on #67059
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: Could Not Replicate
- Tested on Self-hosted: Could Not Replicate
- Replicable on Core? Not so far

📌 FINDINGS/SCREENSHOTS/VIDEO
- Based on my findings below, this issue seems to be site-specific, not theme specific. Take a look:

Testing Round One:
- AT Site on Quadrat White: Could Not Replicate
- **Simple Site on Blockbase: *

[2022-09-01 03:09] inaikem commented on #67229
Seen in 35377460-hc on the Afterlight theme.

[2022-09-01 03:11] inaikem commented on #67229
@Automattic/dotcom-pqa-group, I've tagged this to the bulk reply board.

[2022-09-01 03:15] ouikhuan commented on #65829
This is merged and deployed so I'm closing this issue.

[2022-09-01 03:15] #65829 closed, assigned to jimmy319, ouikhuan

[2022-09-01 03:45] mriyazuddin commented on #67229
Also reported on 2385576-hc . Site has Penscratch 2 theme active.

- [ ] 2385576-zd

[2022-09-01 03:54] inaikem commented on #67229
Seen in 36722842-hc on the TwentyTen theme.

[2022-09-01 04:40] Greatdane commented on #62803
I had a user where I could only get chat support working when English was selected; 5520908-zd-woothemes

[2022-09-01 04:48] Greatdane commented on #66699
@rickmgithub it also looks like your video did not upload, can you share it again if the issue is still present?

[2022-09-01 04:51] rinazrina commented on #67229
Encountered in:

- 5522886-zd-woothemes - Stow theme
- 5522942-zd-woothemes - Apostrophe 2 theme

[2022-09-01 04:53] Greatdane commented on #67055
📌 ACTIONS
- Feature request kept

[2022-09-01 04:54] Greatdane commented on #67089
📌 ACTIONS
Feature request kept

[2022-09-01 05:02] Greatdane commented on #67070
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Calypso only block. N/A

📌 FINDINGS/SCREENSHOTS/VIDEO
- Am able to replicate the issue on Simple and Atomic
- I suspect this is due to the way the anchor works `?subscribe=success#subscribe-blog-1`

https://user-images.githubusercontent.com/5075840/187834991-0797af5e-e3dd-4748-8fb6-48b457badb

[2022-09-01 05:05] Greatdane commented on #67172
📌 ACTIONS

- Feature request kept
- Also think this is a great idea, but maybe we need to think on what we add here, as we can easily have a menu with too many options. What pages do people need access to the most?

[2022-09-01 05:18] Greatdane commented on #67067
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate
- Tested on AT - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- I don't think this is a bug. See; p1661412010881009-slack-C03TY6J1A

📌 ACTIONS
- Await author feedback
- Closed as could not replicate (please reopen the issue reoccurs)

[2022-09-01 05:18] #67067 closed, assigned to nobody

[2022-09-01 06:13] gavande1 commented on #65349
Tables are created: pMz3w-fQr-p2#comment-101446

[2022-09-01 06:13] #65349 closed, assigned to JulianBustamante, gavande1

[2022-09-01 06:23] ouikhuan commented on #67023
Related PR #67247

[2022-09-01 06:46] thesacredpath commented on #67229
Another:

* [26444856](26444856-hc)
* Follow-up: 5523081-zen

[2022-09-01 07:14] yansern commented on #66408
The https://code.a8c.com/D86796 isolate puts pingback & trackback from the current scope of work. Moving this back to backlog.

[2022-09-01 07:23] daria2303 commented on #51540
@vykes-mac when I was following up via email the image was already uploaded so I think that the workaround did the job after the second try (deactivating gravatar > upload if nothing > activating gravatar > upload) I am not 100% sure which step worked out as they did come back. I would be also hesitant to reach out to them again after one month, especially that it is working :)

[2022-09-01 07:24] rakshitwesley commented on #67229
Reported here: 35886361-hc

Follow-up: 5523406-zd-woothemes

[2022-09-01 07:26] daria2303 commented on #65344
@zachspears unfortunately, I do: ![HU0qW1.png](https://user-images.githubusercontent.com/11535091/187856576-4a74efe9-2c15-44f2-895f-a4896c514835.png)
The site it public: https://polarismeetuptheme.wpcomstaging.com/

[2022-09-01 07:49] wojtekn commented on #51540
@vykes-mac it may be it is the issue that was popping out when the user was trying to upload an image when the Gravatar profile was disabled.

If yes, we addressed this under https://github.com/Automattic/wp-calypso/pull/65122 - the image upload form is now disabled when the Gravatar profile is disabled, what should prevent from executing API request that fails.

There is also https://github.com/A

[2022-09-01 08:17] mxhassani opened #67249 "Stow: Buttons text have underlines"
### Quick summary

Could be related to this:

6443-gh-Automattic/themes

4430-gh-Automattic/themes

### Steps to reproduce

1. Apply the Stow theme to a site
2. Open the editor and create a button block and add a link to it

### What you expected to happen

To see the button without an underline:

![image](https://user-images.githubusercontent.com/81776920/187868345-90ef0937-4166-4d0e-972a-3ae7734

[2022-09-01 08:25] edwinho89 commented on #67229
21687388-hc

[2022-09-01 08:28] cpapazoglou commented on #66563
Let's deprioritise this pdh6GB-1Xz-p2#comment-2810

[2022-09-01 08:40] autumnfjeld commented on #66835
hahaha.  I watching you @arthur791004 ! LOL.

[2022-09-01 09:01] edwinho89 commented on #67165
21375576-hc

Issue is specifically affecting on a page, other pages are working as expected.

Shared workaround by sharing wp-admin link to the single page.

[2022-09-01 09:39] jsnajdr commented on #67242
This looks like an instance of a bug described here: https://core.trac.wordpress.org/ticket/55628#comment:15

The `heartbeat` script declares its dependencies as `( 'jquery', 'wp-hooks' )`, so `wp.hooks` should be there. But because of the mentioned bug, it isn't there -- `wp-hooks` is loaded only _after_ `heartbeat`, although the dependency graph tells it to load before.

The `heartbeat` script i

[2022-09-01 09:58] #67132 closed, assigned to p-jackson

[2022-09-01 09:58] #66768 closed, assigned to mashikag

[2022-09-01 09:58] #66578 closed, assigned to danielbachhuber

[2022-09-01 10:08] mashikag commented on #66995
The acceptance criteria was not complete. As a result we need to create a follow up patch to fix the color.
- the input text color should be gray until user makes their own selection, then it should be black thereafter

[2022-09-01 10:23] simison commented on #66608
Is there any workaround for these people currently, e.g. clearing out some cache in browser? Some code they can put to

Hard to imagine any other solution than letting HEs know what they can advice to customers.

[2022-09-01 10:27] simison commented on #64768
Should get covered by https://github.com/Automattic/wp-calypso/issues/52100

[2022-09-01 10:27] #64768 closed, assigned to nobody

[2022-09-01 10:28] cintacks opened #67253 "Add "View All" Notifications page in WP Dashboard (Accessibility)"
### What

I don't know how widespread an issue as this but there might be an argument for an accessibility feature to have a dedicated page within Calypso where users can view all notifications, not just by the list from the bell icon in the top right of the page: https://shottr.cc/s/7nEz/SCR-20220901-fvcp.png

### Why

This solves accessibility need as brought to our attention by a blind user, tr

[2022-09-01 10:51] bogiii opened #67256 "Subscriber form: Reduce time of simulating in progress state"

[2022-09-01 10:55] Robertght commented on #67229
5522499-zen

@andrewserong or @fullofcaffeine  Do you know if is this going to be rolled out this week on WP.com? it seems we're getting quite a lot of requests.

[2022-09-01 10:57] bogiii opened #67257 "Subscribers, Users section: Redirect to the "Invites" tab instead of "Email Subscribers" after adding new subscribers"
This is going to be reverted once we switch back to the new add subscribers endpoint.

[2022-09-01 11:11] iamtakashi commented on #65597
Nice, both diffs have been reviewed and landed. Thank you!

I saw @alaczek had worked on the draft for a showcase page (thanks!)  When are we looking to launch it? Can I help with something?

[2022-09-01 11:17] sophiegyo commented on #67229
Another report:

5523967-zen

[2022-09-01 11:21] bogiii opened #67258 "Subscriber importer: Implement client-side track events"

[2022-09-01 11:55] kavyagokul commented on #67229
Also

11216121-hc

[2022-09-01 12:00] danielbachhuber commented on #66140
Not seeing the data I'd expect with `atomic_revert_complete`...

Some conversation p1662032800412389-slack-C7YPW6K40

[2022-09-01 12:02] kavyagokul commented on #67229
Reported in 36727127-hc

Followup: 5524003-zen

[2022-09-01 12:14] wiesenhauss commented on #67229
- [ ] 5524135-zen

[2022-09-01 12:21] daledupreez commented on #67212
We rolled out an initial update to the styles earlier today in D85984-code. That change more closely aligns the desktop commenting UI with the theme on WordPress.com Simple sites.

[2022-09-01 12:28] cpapazoglou opened #67260 "Marketplace SaaS Licensing: create tables for contracts and billing intents"
We can get some aspiration from WC.com

- [ ] contract `plugins/wccom-plugins/saas-billing/includes/data-stores/class-contract-data-store.php#L13`
- [ ] billing_intent `plugins/wccom-plugins/saas-billing/includes/data-stores/class-billing-intent-data-store.php#L12`

Can we create a file data storage before creating the actual tables? This way we will be able to create a POC before creating new tab

[2022-09-01 12:29] taipeicoder opened #67261 "Housekeeping: Refactor unified design picker"
## Description
Currently, there's too much going on in the unified design picker, making the code quite messy.
We should look into refactoring the component so that code is simplified, and better separated.

[2022-09-01 12:33] #66055 closed, assigned to WBerredo

[2022-09-01 12:36] mashikag opened #67262 "Newsletter Accent Color: [New Subscriber] Email address is blue"
Raised in p1661959181174499-slack-C02TCEHP3HA

[2022-09-01 12:57] phcp opened #67263 "[New Comment] [Comment Approval] Isolate pingback and trackback implementation"

[2022-09-01 12:58] #67263 closed, assigned to phcp

[2022-09-01 13:06] davemart-in commented on #66621
Yep, blur could work if needed, but let's see how rampant the problem is before implementing anything like that.

[2022-09-01 13:09] davemart-in commented on #66619
I plan to spend more time digging into the code on this one today. I think the solution we have right now A) formats the excerpt, then B) applies CSS to determine how many lines to show and a hacky fade out effect at the end of the last line. Pure JS ellipsis may not work, since we're not doing this based on character count. I'll share more as I dig in.

[2022-09-01 13:28] benchilcote commented on #67229
Reported in 16451499-hc
Following up in 5524374-zen

[2022-09-01 13:38] tellisbethel commented on #67229
Reported here: 9067753-hc
Followed up here: 5524155-zd-woothemes

[2022-09-01 14:01] #67199 closed, assigned to heavyweight

[2022-09-01 14:29] cpapazoglou commented on #67109
I have created pdh6GB-1XJ-p2 and will also create issues

[2022-09-01 14:39] benchilcote commented on #67229
Reported in 5522543-zen

[2022-09-01 14:58] wiesenhauss commented on #67229
- [ ] 5524342-zen - Twenty Eleven theme

[2022-09-01 15:01] danielbachhuber commented on #67209
@vindl Sure! I've updated the description accordingly.

[2022-09-01 15:09] phcp opened #67271 "[New Comment] Fix commenter's heading"

[2022-09-01 15:17] wiesenhauss commented on #66904
Another report:
- [ ] 5524644-zen

[2022-09-01 15:18] cpapazoglou commented on #66906
@alanabweinstein, @josemarques
the following woo extensions are offered through WordPress.com too. Can you replace the images in description with higher quality ones?

 `woocommerce-subscriptions`;
 `woocommerce-bookings`;
 `woocommerce-table-rate-shipping`;
 `automatewoo`;
 `woocommerce-shipment-tracking`;
 `woocommerce-xero`;
 `woocommerce-points-and-rewards`;
 `woocommerce-deposits`;
 `woocomme

[2022-09-01 15:19] lizswafford commented on #67229
Theme: Hever
Reported here: 36731227-hc

[2022-09-01 15:20] mashikag opened #67272 "Newsletter Accent Color: Color swatch in newsletter should be on the right in RTL"

[2022-09-01 15:22] #67105 closed, assigned to WBerredo

[2022-09-01 15:34] #67197 closed, assigned to heavyweight

[2022-09-01 15:35] tvolpert commented on #67167
I have a user here that appears to still be experiencing the issue:

- [ ] 48357-hc

[2022-09-01 15:38] msilbers commented on #67229
- [ ] 5523835-zen

[2022-09-01 15:44] mreishus commented on #66689
Instead of checking for a business plan directly, we should check for a feature ( see: PCYsg-IbE-p2 ). Some candidates are ATOMIC or WOOP features.
There is some code in stepper already for checking this, but I think it's currently only used on the removed 'simple/power' step:
https://github.com/Automattic/wp-calypso/blob/9e4c5b39e4217532c084fce88c354f26f083afe8/client/landing/stepper/declarative-

[2022-09-01 16:07] msilbers opened #67276 "White screen when trying to open a post or page"
### Quick summary

We have had a few reports of people trying to edit a post/page or draft and seeing a blank white screen. We were able to see the same on the customer sites as HEs, but cannot yet reproduce it. All simple sites so far.

At least one of the posts had only the following: image block, paragraph blocks, list block. Nothing seemed odd as far as Gutenberg content.

### Steps to reprodu

[2022-09-01 16:09] ariel-maidana commented on #67276
Another case: 5524512-zd-woothemes

[2022-09-01 16:12] rootjosh commented on #67276
Multiple reports in the forums. Here are three (can add more if needed):

https://wordpress.com/forums/topic/white-screen-on-death/?view=all
https://wordpress.com/forums/topic/blank-screen-of-death-trying-to-edit-draft-posts/?view=all
https://wordpress.com/forums/topic/blank-page-when-editing-portfolio-project/?view=all

[2022-09-01 16:25] davemart-in commented on #66619
I dug into this one a bit more this morning. Here's what I found:

- The [ReaderExcerpt](https://github.com/Automattic/wp-calypso/blob/trunk/client/blocks/reader-excerpt/index.jsx) component has a conditional to force use of `post.excerpt` if `isDiscover`. Discover is no longer used, so I'm going to remove this conditional.
- In [formatExcerpt](https://github.com/Automattic/wp-calypso/blob/trunk/c

[2022-09-01 16:32] jamiepalatnik commented on #67276
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was not able to replicate this on my own test site or on several sites I checked from the user reports, but it sounds like some of these users were already helped with a workaround.
- I'm going to go ahead and mark this triaged to investigate further though because of the number of user reports that wer

[2022-09-01 16:49] Addison-Stavlo opened #67279 "LaunchPad preview - disable banner"
Edit - after testing again this seems to happen with newsletter sites on the 'free' plan in general.

<s>When using the LaunchPad in incognito mode on chrome, or default settings on safari (possible related to 3rd party cookie settings?),</s> there is a banner added inside the preview:

![Screen Shot 2022-09-01 at 12 48 12 PM](https://user-images.githubusercontent.com/28742426/187968963-f05304c4-9

[2022-09-01 16:51] KirkwallDay commented on #50740
Hey Dale, I checked with the user here and they would like it to be as low as 15 minutes if that is possible? I did explain to them the differences between this block and a podcast listing service, they say it propagates to those within a few minutes.  I suspect the other podcast sites they reference are using different embeds and not using the podcast block, but I've asked for clarification on so

[2022-09-01 17:03] vajrasar commented on #67229
I've got a similar issue happening here #5524150-zen on Shoreditch theme.

@mrfoxtalbot thanks. Any ETA on when the fix will be deployed?

And, since this is fixed, do we still need triage on this?

[2022-09-01 17:08] paxblueribbon commented on #66531
Same issue: zd-5522453

[2022-09-01 17:11] phcp commented on #66945
Closing this task since the strings are the same as New Comment template.

[2022-09-01 17:11] #66945 closed, assigned to nobody

[2022-09-01 17:14] #66125 closed, assigned to jeyip, agrullon95, edanzer

[2022-09-01 17:15] vajrasar commented on #51540
@pauljacobson and @Robertght can you pls check if this is still happening for you? I tried multiple times with both JPG and PNG images, but every time I'm able to apply the cropped image.

[2022-09-01 17:20] dcoleonline commented on #62279
This came up in 36718487-hc so I supplied a CSS workaround for the hover color

[2022-09-01 17:37] jamiepalatnik commented on #51540
I tested this and I can confirm that it's not possible to upload a profile image when Gravatar is disabled.

When Gravatar is enabled, the image upload worked for me as expected.

[2022-09-01 17:46] supernovia commented on #66904
@wiesenhauss if their edit button is giving them trouble too, could this one be an issue with cookies in general and not just the comment form?

[2022-09-01 17:51] Addison-Stavlo opened #67282 "LaunchPad - resolve infinite redirect ... again?"
Revisiting the problem described in https://github.com/Automattic/wp-calypso/issues/67214

After applying the solution in https://github.com/Automattic/wp-calypso/pull/67219, this infinite redirect was resolved in local testing. However, this did not resolve the issue on horizon (and thus probably will happen in production as well once enabled).

[2022-09-01 18:17] jamiepalatnik commented on #67134
📌 SCRUBBING : RESULT
- Tested on AT - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was not able to replicate this issue. Links showed blue for me in the editor and the custom color on my live site as expected.
- I tested with a link in the Classic block and Paragraph block.
- I did notice some strange behavior that made the link hard to edit when a custom color was selected because the ba

[2022-09-01 18:17] #67134 closed, assigned to nobody

[2022-09-01 18:49] vinimotaa opened #67285 "Marketplace: Top header Refinements"
I believe this is a quick win. As we added the categories to the main header, we want to reduce overall proportions and keep the "most popular searches" within the same line, and double-check if the overall padding matches what is below;

![topheader_01](https://user-images.githubusercontent.com/97929097/187990176-9157fe2b-e58c-43e2-a348-adafa5adf48b.jpg)

![topheader_02](https://user-images.githu

[2022-09-01 18:52] darnelldibbles commented on #66531
Another report https://wordpress.com/forums/topic/color-changes-to-the-buttons/?view=all#post-3859661

[2022-09-01 19:25] zaguiini commented on #67040
Should the icon at the bottom of the site switcher look like:

![image](https://user-images.githubusercontent.com/26530524/187996027-06664d28-cadc-4ec4-8e8b-bff0441b1a43.png)

or should we stick with the current one?

![image](https://user-images.githubusercontent.com/26530524/187996140-a994c959-3dcc-4974-88e9-a50f255591fe.png)

[2022-09-01 19:29] danielbachhuber commented on #67040
@zaguiini The "Add new site" button outside of the Site Switcher should appear like the "Manage [N] Sites" button in the Site Switcher:

<img width="317" alt="image" src="https://user-images.githubusercontent.com/36432/187996666-2ef15137-7ad2-4626-8af4-cdee277ace8c.png">

A more subtle secondary button style.

This is correct.

[2022-09-01 19:36] sejas commented on #67040
I've found that in the menu inside wp-admin we are also showing the `Add New Site` button for users with one site:

<img width="260" alt="Screenshot 2022-09-01 at 20 31 59" src="https://user-images.githubusercontent.com/779993/187997159-950d9616-f24d-4b83-b3db-2aa7a4c62b2a.png">

I think for wp-admin we should it as it is right now, like any other button, but we will show it to all the users regar

[2022-09-01 19:42] danielbachhuber commented on #67040
@sejas Good catch!

I think `/wp-admin/` and Calypso are meant to have consistent designs. What do you think about applying the sticky bottom "Add new site" button design to `/wp-admin/` too?

[2022-09-01 19:45] daledupreez commented on #60232
Earlier today, we added a back end change to make it possible for the `Content-Disposition` header to be requested by the client. That was deployed in D86776-code.

I am now working on ensuring that the links are added correctly for the download button.

[2022-09-01 19:55] daledupreez commented on #64913
We took on a good deal of additional in D85984-code, and finally got that deployed today after making sure we had sufficient visibility for the changes: p1HpG7-hu9-p2

We still have some more work to do so that the comment form aligns with the theme more closely (at least on WordPress.com Simple sites), and we plan to tackle that work as part of https://github.com/Automattic/wp-calypso/issues/6721

[2022-09-01 19:55] #64913 closed, assigned to mpkelly

[2022-09-01 19:59] #30426 closed

[2022-09-01 20:00] delputnam commented on #65247
Another quick update...

I've deployed D87009-code which adds some short term caching for one specific path that seems to be the most problematic. It looks like this decreases the number of calls to this function that take more than 1s to an average of less than 1 per minute and the ones that take more than 3s down to around once every 10 minutes or so now.  But I'm going to continue to monitor an

[2022-09-01 20:00] zaguiini commented on #67040
The styles on WP Admin are base WP ones, so does it make sense to use Calypso-like styles in a place that is not Calypso?

[2022-09-01 20:12] danielbachhuber commented on #67040
We're already applying Calypso-like styles to `/wp-admin/`:

**An Atomic site**

<img width="737" alt="image" src="https://user-images.githubusercontent.com/36432/188003279-f9367427-8a64-4689-93c4-8c1e275a31cc.png">

**The real wp-admin**

<img width="708" alt="image" src="https://user-images.githubusercontent.com/36432/188003172-a35fd0cd-d5f6-4855-8db7-7c5dcf13627e.png">

We actually want to keep

[2022-09-01 20:51] metabreakr commented on #65002
Blockbase pdEkSe-Vd-p2

[2022-09-01 21:30] aisajib commented on #67229
Reported in #5524253-zen as well.

[2022-09-01 21:50] phcp opened #67291 "[New Comment] [Comment Approval] Reuse New Comment variables on Comment Approval template"

[2022-09-01 21:59] cometgrrl commented on #57409
Lowering this to normal since there doesn't seem to be any other reports, and there's a workaround (restore CSS from the revisions history).

[2022-09-01 22:38] dcoleonline opened #67292 "Reader: Highlighted text appears with a yellow background"
### Quick summary

Text that has been formatted with the block editor's Highlight feature ends up showing with a  yellow background in the Reader.

### Steps to reproduce

1. Create a new post and add a paragraph block.
2. Apply a highlight color to text within the paragraph block.
3. Publish the post.
4. View the post in the Reader.
5. The highlighted text will have a yellow background in the Rea

[2022-09-01 22:58] zaguiini commented on #67041
Do we have any kind of list or flag for those cases?

[2022-09-01 23:06] andrewserong commented on #67229
@fullofcaffeine can confirm, but it sounds like the fix has already been rolled out from the looks of it?

[2022-09-02 00:25] jerrysarcastic commented on #67276
One of our forums site owners has mentioned that the issue is limited to specific blog posts, which they mention here:  https://wordpress.com/forums/topic/blank-screen-of-death-trying-to-edit-draft-posts/?view=all#post-3859747

I've asked them for more info, but I spot-checked these and was able to load them in Gutenberg without issue.

[2022-09-02 00:30] donalirl opened #67293 "Add Support Link to Block Descriptions for Post Content and Table of Content Blocks"
### What

This is a follow-up to #62284 and #56091 to add new documentation links to two blocks:

- [x] Post Content https://wordpress.com/support/full-site-editing/theme-blocks/post-content-block/
- [x] Table of Contents https://wordpress.com/support/wordpress-editor/table-of-contents-block/

cc @arcangelini

### Why

This will help WordPress.com users easily discover our comprehensive resources

[2022-09-02 00:38] zachspears commented on #67130
This is an excellent suggestion. Keeping Priority level due the important context provided by the recommendation.

[2022-09-02 00:50] zachspears commented on #67031
Tested, in my test I did not receive a pop-up whatsoever. Low priority due to low impact and easy work around.

[2022-09-02 01:10] zachspears commented on #67159
Hey, @jp-imagines I have tested this, and I am unable to reproduce it. Are you still seeing this issue? Thanks!

[2022-09-02 01:14] zachspears commented on #67253
I think this is an excellent recommendation. Low priority due to limited impact and existing access to notifications.

[2022-09-02 01:55] zaguiini commented on #67040
@sejas could you please implement the "Add new Site" button inside the site switcher as part of this PR? It makes sense to have it consistently outside and inside the site swticher before merging https://github.com/Automattic/wp-calypso/pull/67295.

[2022-09-02 02:55] mriyazuddin commented on #67229
- [ ] Another one reported here: #5522624-zen

[2022-09-02 06:13] arthur791004 opened #67297 "v13n: Avoid potential error when the user selects verticalized standard themes in onboarding flow"
### Details

We need to avoid showing the error screen when the user without selected vertical selects the verticalized standard themes in the Design Picker step

See p1662043572868369-slack-C02FMH4G8

### Checklist

- [ ] Avoid sending vertical id with empty string to theme-setup endpoint
- [ ] Add e2e test cases for the build flow with/without selected vertical

### Related

* https://github.com

[2022-09-02 06:31] edwinho89 opened #67298 "Jetpack Social prevents Contributors from saving draft posts"
### Quick summary

Jetpack Social prevents Contributor roles from saving draft posts.

Initially reported in 33679430-hc

Jetpack version 11.3-beta

### Steps to reproduce

1. On an Atomic site, invite a user as a Contributor
2. Enable [Jetpack Social](https://jetpack.com/support/jetpack-social/) (Publicize)
3. Login as Contributor, and create a new post
4. Insert contents on to post, save draft p

[2022-09-02 06:33] edwinho89 commented on #67298
5526097-zd-woothemes

[2022-09-02 07:38] yashitamittal11 opened #67300 "Russell: Featured Image shouldn't be full width on Single Post template"
### Quick summary

The featured image size on single posts is huge, and the user has to scroll through the image to read the content.

### Steps to reproduce

1. Add a Post Featured Image block on the post page.
2. Open the page preview. The featured image is very big.

### What you expected to happen

It would be great if the featured image is not full width and if it could have a constrained hei

[2022-09-02 08:02] vajrasar commented on #67298
Another instance here which was resolved by changing the user role from Contributor to Author.

36741341-hc

- [ ] 5526461-zen

[2022-09-02 08:37] edwinho89 commented on #67229
- [ ] Similar findings, reports in pd4QKa-Cq-p2

[2022-09-02 08:40] mashikag commented on #67262
Resolved by D87096-code

[2022-09-02 09:02] epeicher commented on #64939
Further investigations revealed that the match in `wporg` is probably because the `author_profile` contains the value `litespeedtech`:
[code]

While ES results return the `author_login`
[code]
that contains that value **but** it is not an _analyzed_ field as indicated in the documentation P2gHKz-1wf-p2#es-mapping-post-author. I do not think changing the mapping of the `author_login` here is an opt

[2022-09-02 09:32] #65666 closed, assigned to bogiii

[2022-09-02 09:32] #65545 closed, assigned to bogiii

[2022-09-02 09:32] #65542 closed, assigned to bogiii

[2022-09-02 09:32] #65635 closed, assigned to bogiii

[2022-09-02 09:32] #65673 closed, assigned to bogiii

[2022-09-02 09:32] #65675 closed, assigned to bogiii

[2022-09-02 09:32] #67098 closed, assigned to bogiii

[2022-09-02 09:32] #65776 closed, assigned to bogiii

[2022-09-02 09:32] #65835 closed, assigned to bogiii

[2022-09-02 09:32] #66393 closed, assigned to bogiii

[2022-09-02 09:32] #65544 closed, assigned to bogiii

[2022-09-02 09:46] robfelty commented on #64939
If filtering by author, I recommend actually doing a facet, like Jetpack Search does.

Otherwise, just adding the author or author_login to the search query should be sufficient, as they are indexed into the all_content field.

[2022-09-02 10:31] heavyweight opened #67311 "Mobile view: Change popular plan for Link in Bio flow"
The popular plan for Link in Bio flow in mobile view is Premium. We need to change this to be the Personal plan like in the designs.

[2022-09-02 10:40] vinimotaa commented on #67171
Thanks a lot @michaelpick!

[2022-09-02 10:50] vinimotaa commented on #65574
@michaelpick, whenever you have some time, could you please double-check these titles/labels so we can work towards implementing them? This is pretty much related to the categories descriptions in terms of consistency. This Title+Description will be a standard in the Marketplace.

![marketplace_labels](https://user-images.githubusercontent.com/97929097/188124255-11a075f4-e71c-4134-8d14-a9263224bea

[2022-09-02 10:54] danielbachhuber commented on #67040
@zaguiini I don't think it's necessary to implement the "Add new site" button inside the site switcher on this issue. It's fine if the styles are inconsistent for some short period of time.

[2022-09-02 11:00] nelsonec87 commented on #67120
The "Upgrade Plan" modal was added in this PR https://github.com/Automattic/wp-calypso/pull/67244.
There are other things to work on regarding these modals:
- When clicking on "Premium theme" link or "Upgrade plan" button, populate the cart with the right product.
- Clicking on "Buy and activate theme" it should add the theme to the cart, not the plan.

[2022-09-02 11:06] nelsonec87 commented on #67120
Also, as @mreishus wrote here https://github.com/Automattic/wp-calypso/pull/67244#pullrequestreview-1094053826 :

---

I think a good follow up is to check when the upgrade modal is displaying.
For example, the Premium plan gives access to unlimited premium themes, but it does not give access to the woop feature (or the atomic feature). If I have the premium plan and select a premium theme with wo

[2022-09-02 11:11] BogdanUngureanu commented on #66158
The patch was deployed in rWPGITe10866df6fd7e9b6a2e03483bc7ad3398c4ab836

For now the search results are still showing the 1 star rating for products without ratings. I suppose this is caused because the cache wasn't rebuilt?

[2022-09-02 11:11] #66158 closed, assigned to BogdanUngureanu, WBerredo

[2022-09-02 11:15] nelsonec87 opened #67314 "Theme/Plugin Bundling: Upgrade modal has wrong padding after deployed."
The Upgrade modal has wrong padding after deployment.

On staging/production:
![image](https://user-images.githubusercontent.com/3801502/188127476-2041d93f-1f96-47ba-b474-05b1bdebd35c.png)

On local:
![image](https://user-images.githubusercontent.com/3801502/188127650-05f97254-53d5-4674-89f9-017db8a9632c.png)

Since it's under a flag, I've deployed it anyway.

Related to https://github.com/Automat

[2022-09-02 12:15] danielbachhuber opened #67316 "Site Switcher: Apply fuzzy searching"
We have some pretty fancy fuzzy searching in the Sites page. Let's apply it to the Site Switcher.

Notably, we want to avoid a `useSiteExcerptsQuery` at this point.

**Done is:**
* Site Switcher supports fuzzy searching too.

[2022-09-02 12:21] danielbachhuber commented on #66844
Closing in favor of #67040 and #67041

[2022-09-02 12:21] #66844 closed, assigned to SaxonF

[2022-09-02 12:22] davemart-in commented on #67166
Closed out with #67192

[2022-09-02 12:22] #67166 closed, assigned to jordesign

[2022-09-02 12:22] danielbachhuber commented on #65162
Thanks for all of the effort towards producing a solution!

The Site Switcher changes are now being shipped as a part of a project thread: pdKhl6-Fj-p2

[2022-09-02 12:22] #65162 closed, assigned to SaxonF

[2022-09-02 12:26] #67209 closed, assigned to vykes-mac

[2022-09-02 12:38] vajrasar commented on #67298
Another one.

35886312-hc
- [ ] 5525479-zen

[2022-09-02 12:45] epeicher commented on #64891
We could achieve this functionality only with client-side changes as the `/marketplace/search` endpoints supports some filtering. An example request could be:
[code]
https://public-api.wordpress.com/rest/v1.3/marketplace/search?http_envelope=1&fields[]=blog_icon_url&fields[]=comment_count&fields[]=plugin.excerpt&fields[]=like_count&fields[]=modified&fields[]=modified_gmt&fields[]=plugin.title&fiel

[2022-09-02 13:10] wiesenhauss commented on #57812
Another one - using Baskerville 2
- [ ] 5527101-zen

[2022-09-02 13:18] michaelpick commented on #65574
Hi @vinimotaa – sure, happy to circle back to this!

I'll apply the heading/subheading pattern you mentioned.

Just to clarify, it sounds like you:
- ❌  Aren't looking for additional suggestions for the page headline and other elements covered in my [earlier reply](https://github.com/Automattic/wp-calypso/issues/65574#issuecomment-1192738976)
- ✅  Would like a review of section headings and subhea

[2022-09-02 13:28] #66995 closed, assigned to mashikag

[2022-09-02 13:34] vajrasar opened #67320 "Styles: Change to the link hover color does not apply"
### Quick summary

When you change the link hover color using Site Editor > Styles - it does not applu

### Steps to reproduce

1. Go to Site Editor
2. Open Styles
3. Colors > Links > Hover > Change color to any color
4. Save the changes
5. Check the site, the link hover color won't change

### What you expected to happen

The link hover color should be set to the one I select using Site Editor >

[2022-09-02 13:35] cpapazoglou commented on #64891
Wouldn't this return an array of items with just one item? It sounds really good for starters though. Do we already have the fields needed by Calypso?

[2022-09-02 13:38] vajrasar commented on #67320
- [ ] 5526760-zen

[2022-09-02 13:46] mzitinfo commented on #67229
In 5485527-zen the issue is resolved (Twenty Fourteen)

[2022-09-02 13:46] Addison-Stavlo opened #67321 "LaunchPad - newsletter 1st publish celebration modal"
Create an editor plugin (possibly through ETK), presents a congratulatory modal upon completion of the publish first post task of the newsletter launchpad flow.

This can check for site options of `site_intent == 'newsletter'` and `launchpad_checklist_tasks_statuses.first_post_published !== true` to know which sites to show this to on publish.

![image](https://user-images.githubusercontent.com/28

[2022-09-02 13:47] yansern commented on #66976
Draft PR. D87116-code

[2022-09-02 13:52] #67311 closed, assigned to nobody

[2022-09-02 13:52] gavande1 commented on #67260
PoC: D87108-code

[2022-09-02 14:00] epeicher commented on #64891
Yes, that is correct. In that scenario we can take the first one and assume is the correct one as a starter point.

This is a table of fields that are returned by `/marketplace/products` endpoint nad I have not find in ES:

|Field names returned by `/marketplace/products` |	Field names returned by ES results (wp.org)|
|----|----|
|id	|   :x:   |
|name	|   title.default   |
|slug	|   slug    |
|org

[2022-09-02 14:20] #67291 closed, assigned to phcp

[2022-09-02 14:24] yansern commented on #66975
Draft PR.D87118-code

[2022-09-02 14:34] daledupreez commented on #50740
Thanks for the update, @KirkwallDay!

I will need to look into whether we can explore a different approach for the caching that allows us to check for updates more regularly. I don't think it makes sense to reduce the normal caching by _too_ much, because we want the site to be fast, but we need a quicker way to check whether there has been more content.

I have an initial idea that I will explore

[2022-09-02 14:51] sejas opened #67323 "Site Switcher: Always display 'Add new site' in wp-admin menu, and stick to bottom"
### Details

The 'Add new site' button is currently in two places:
* Bottom of the sidebar for users with only one site.
* Bottom of the site switcher for users with more than one site.

To make the user experience more consistent, we'd like the 'Add new site' button to _always_ appear at the very bottom of the sidebar:

<img width="265" alt="Screenshot 2022-09-02 at 16 00 09" src="https://user-im

[2022-09-02 14:52] sejas commented on #67040
In order to focus on calypso first, I've created this issue to change the button on wp-admin for atomic and simple sites:
- https://github.com/Automattic/wp-calypso/issues/67323

[2022-09-02 15:01] danielbachhuber commented on #67040
@sejas Sounds good!

[2022-09-02 15:02] #67198 closed, assigned to heavyweight

[2022-09-02 15:06] #66969 closed, assigned to renancarvalho

[2022-09-02 15:09] mashikag opened #67326 "Newsletter Accent Color: Input's green check mark is appearing above the tick for 100ms or so"
Raised here: https://github.com/Automattic/wp-calypso/pull/67254#pullrequestreview-1094575358

![Image](https://user-images.githubusercontent.com/2019970/188436149-a46c9f37-046b-4f64-bd16-83bf6e219216.gif)

[2022-09-02 15:13] #67180 closed, assigned to phcp

[2022-09-02 15:13] #66348 closed, assigned to JuanLucha

[2022-09-02 15:13] #65799 closed, assigned to JuanLucha

[2022-09-02 15:26] allilevine commented on #67223
Considering A/B testing: pdh6GB-207-p2

[2022-09-02 15:38] simison commented on #67320
cc @Automattic/team-calypso-platform in case this is WP.com integration issue

[2022-09-02 15:43] #67107 closed, assigned to edanzer

[2022-09-02 15:44] davemart-in opened #67328 "Fonts not updating when saved"
### Quick summary

While testing some functionality in Gutenberg I ran across a bug where I would update a font, click save, and then the font would revert to the default upon saving.

https://user-images.githubusercontent.com/5634774/188190374-ad1ffd06-3302-42ab-84cc-541892cd0e6c.mp4

### Steps to reproduce

1. Use theme
2. Go to the **BETA Site editor** (not the regular Gutenburg editor)
3. Go t

[2022-09-02 15:55] simison commented on #67328
Could be related https://github.com/Automattic/wp-calypso/issues/67320

Debugging at Slack CRNF6A9DX/p1662132292950649-slack-dotcom-create

[2022-09-02 15:56] heavyweight opened #67330 "Keep free plan visible when the user clicks "Decide later" in domains page."

[2022-09-02 15:57] pbking commented on #67328
It seems to be specific to headings and button elements.
Changing text and link elements seems to work fine, but (as the video demonstrated) changing the button or (as I found) heading element typography doesn’t stick.

Also it doesn’t seem to be Blockbase related.  I just replicated using Pendant (not a Blockbase child) and the result was the same; button elements and heading element font choices

[2022-09-02 16:04] emilyaudela opened #67331 "Same text for 'Preview Blog' and 'Publish Post' on setup checklist"
### Quick summary

After setting up a new blog, in the user Home, there is a "Preview your blog" and "Publish first blog post." The subtext for both items are the same.

### Steps to reproduce

1. Start at wordpress.com/start
2. Select domain and plan
3. Select "Write and publish" on goals selection page.
4. Continue to the editor. Do not publish a new post.
5. Go back to the dashboard.
6. In word

[2022-09-02 16:04] pbking commented on #67328
This seems to be wpcom specific.  The behavior doesn't happen on a wporg instance.

Also (for any fonts provided either by Blockbase or JetPack's Google Fonts Web Font Provider [this issue](https://github.com/WordPress/gutenberg/issues/43397) would still impact this situation; even if this is resolved the fonts likely won't load in the view.

[2022-09-02 16:18] sejas commented on #67040
@danielbachhuber do you know if making the button sticky to the bottom means to overlap/float it over the rest of the menu, similar to site switcher? or just pushing it at the bottom as you can see in https://github.com/Automattic/wp-calypso/pull/67322
<img width="250" alt="Screenshot 2022-09-02 at 17 16 13" src="https://user-images.githubusercontent.com/779993/188196026-16cd3a39-75f9-44cd-a5f4-9a

[2022-09-02 16:21] danielbachhuber commented on #67040
@sejas Let's assume "overlap/float it over the rest of the menu" for now, yes. The goals are "more consistent UX with site switcher" and "more prominent overall", so I think this description better addresses the goal.

[2022-09-02 16:23] sejas commented on #67040
Sounds perfect, thanks Daniel! 👍

[2022-09-02 16:47] Addison-Stavlo commented on #67282
resolved with https://github.com/Automattic/wp-calypso/pull/67288

[2022-09-02 16:47] #67282 closed, assigned to jeyip

[2022-09-02 16:49] Addison-Stavlo opened #67335 "LaunchPad Followups Tracking Issue"
A follow up tracking issue to https://github.com/Automattic/wp-calypso/issues/65684

### Up Next?

Do we want to tackle items in the 'Other' category below, or consider this tracking issue complete?

### In Progress

- [x] https://github.com/Automattic/wp-calypso/issues/69756 (🔴 high)
- [x] https://github.com/Automattic/wp-calypso/issues/69690  (🟠 normal)
- [ ] [LaunchPad - resolve edge case for a

[2022-09-02 16:55] #65684 closed, assigned to nobody

[2022-09-02 17:24] Addison-Stavlo opened #67336 "LaunchPad - Enable going back to "Add Subscribers" for newsletters."
Currently in the newsletter checklist for LaunchPad, "Add Subscribers" is complete and we offer no way for the user to go back to this screen to add more subscribers.

We should enable this item to allow navigation back to this step in a flow that leads back to Launchpad. The checklist item should still reflect completion visibly, but allow for this navigation.

[2022-09-02 17:55] cometgrrl commented on #57996
Pending closure, since we are not installing AMP on sites anymore. If users choose to install AMP and have an issue, AMP needs to resolve it.

Additional context: p1662141166197659/1662070111.766319-slack-C03G2H51WJX

[2022-09-02 18:04] mreishus commented on #67120
Mark added a hook use-is-plugin-bundle-eligible.ts in #67329. An additional condition for needing upgrade would be `|| ( <it's a bundled theme> && ! isPluginBundleEligible )`.
Although there are now two different kinds of needsUpgrade; needs upgrade to access premium themes, needs upgrade to access woop+atomic. Not sure if that has any implications.

[2022-09-02 18:10] agrullon95 commented on #66574
Correct, this is specifically for theme previews, so I won't work with for any URL. Maybe it's possible to create a similar solution (new API using that code as a reference) for blocking links, form submissions etc on any wordpress site (instead of themes only).

I'm currently looking into this solution. So far I'm able to add a div overlay, but I still need to figure out how to allow scrolling on

[2022-09-02 18:11] JoshuaGoode commented on #67298
Thanks, ya'll.

Please reach out to Reactor when Atomic-wide issues like this occur.  In Slack, on the requests P2, and @Automattic/reactor  work for that.

[2022-09-02 18:14] JoshuaGoode commented on #67298
Additional reports came in to at-help

* p1662141826442199-slack-C03TY6J1A
* p1662065620468649-slack-C03TY6J1A

@samiff mentioned potentially looking into this

[2022-09-02 18:14] samiff commented on #67298
@JoshuaGoode Currently looking into it 👍 Will likely transfer issue to Jetpack repo.

[2022-09-02 18:19] danielbachhuber opened #67338 "Site Thumbnail: Avoid loading images twice"
One side effect of #67337 is that the image is loaded twice 😦

![image](https://user-images.githubusercontent.com/36432/188214247-25f2984a-615e-43ad-82c8-e6456bc9f626.png)

I think this is because `src` is loaded first, and then `srcset`.

From p1662140637833059/1662136092.517739-slack-C0347E545HR

**Done is:**
* A Site Thumbnail image is only loaded once.

[2022-09-02 18:34] annezazu commented on #64438
Thank you all for trying to gather more of these! Let's keep this open and see if more items/specific use cases come up for a feedback style issue. For now, there's far more momentum around consistent dimension controls that should help resolve the original issue described here: https://github.com/WordPress/gutenberg/issues/43241 You can see what's planned for margin and blocks specifically here:

[2022-09-02 18:54] spraveenitpro commented on #51952
I have reached out to @MindyPostoff directly regarding this to change the permalink, if that does not work out then we can reach out to systems.

[2022-09-02 18:59] danielbachhuber opened #67340 "Site Thumbnail: Don't accidentally show mShots loading image when mShot URL updates"
If you already have `/sites` loaded and make a change to one of your sites, the incremented `site.last_updated` will cause a new mShot to be generated.

However, when the mShot is generated, the mShots loading image will display:

<img width="1356" alt="image" src="https://user-images.githubusercontent.com/36432/188219263-99a9dda3-1df6-4169-a2ca-51e5ebf550f3.png">

What should be displaying is the

[2022-09-02 19:17] #66689 closed, assigned to markbiek

[2022-09-02 19:17] markbiek commented on #67120
@nelsonec87 I just merged #67329 so you'll have access to that hook once you rebase `trunk`.

[2022-09-02 19:57] zaguiini commented on #67338
https://www.google.com/search?q=src+srcset+loading+twice&oq=src+srcset+loading+twice&aqs=chrome..69i57j33i160l4.2683j0j1&sourceid=chrome&ie=UTF-8

[2022-09-02 19:58] markbiek commented on #65558
@mreishus Is there anything left to related to this issue? I kind of feel like it's all been addressed at this point.

[2022-09-02 20:45] ClassicRKR27 opened #67344 "FSE on Simple Sites: Global Styles "Block Spacing" not accepting changes"
### Quick summary

I had a user trying to figure out how to adjust the spacing between their header and the rest of their content within FSE, but every time they changed the measurement and saved the change would revert back to the default state. I tested this with an Atomic site which would accept the changes, but every theme I tried on a Simple site resulted in the same issue. I tested `Disco`,

[2022-09-02 20:47] valterlorran commented on #65597
@iamtakashi I (soft)launched it today. For now, the theme is only available to Automatticians. I will be launching it to the public on Monday.

[2022-09-02 20:49] Sharpirate commented on #67279
Created a [PR](https://github.com/Automattic/wp-calypso/pull/67345)

[2022-09-02 20:58] WBerredo commented on #65463
On Calypso, we should be able to activate/deactivate the plugin but not change the auto update policy, as per WP core:

<img width="1203" alt="Screen Shot 2022-09-02 at 16 56 05" src="https://user-images.githubusercontent.com/5039531/188234065-1ea5082d-e22d-4cf5-8b52-94ef186ca3da.png">

[2022-09-02 21:02] mreishus commented on #65558
I think we're good. The only limitation I know of right now is that we're locked to the `woo-on-plans` software set.

[2022-09-02 21:02] WBerredo commented on #65463
On Plugin Details iteration we already have the business logic to disable the auto-update management **for Marketplace products**.

<img width="1203" alt="Screen Shot 2022-09-02 at 16 58 37" src="https://user-images.githubusercontent.com/5039531/188234364-2d754706-7230-49ac-838c-54b51d3295bd.png">

https://github.com/Automattic/wp-calypso/blob/259cbafefc7060ea189d65e6a8f964024839b8a3/client/my-sit

[2022-09-02 21:15] WBerredo commented on #65463
Given the current ways to tell if a plugin is automanaged, we can come up with two possible solutions:
- Add Woocommerce (and others that might come) to this static list
- Make jetpack provide a way to differentiate an automanaged plugin from the others.

The answer will depend on how many plugins we expect to be automanaged but that is not a paid plugin. Do we have this data or estimation?

cc: @

[2022-09-02 21:35] #67279 closed, assigned to sharpirate

[2022-09-02 22:04] cometgrrl commented on #58985
This no longer reproduces. Please re-open if we have additional information or reports.

[2022-09-02 22:04] #58985 closed, assigned to nobody

[2022-09-02 22:09] cometgrrl commented on #67328
Might be a duplicate of [this issue](https://github.com/Automattic/wp-calypso/issues/59259) which is being worked on by @Automattic/dotcom-janitors.

[2022-09-02 22:50] arinoch commented on #57292
@p-jackson - Sorry I'm just getting back to this now. In that it returns me to "my home", yes it does as advertised. However, if it is also supposed to pop out a list of your sites if you have multiples, it still does not do this.

[2022-09-02 23:02] dcoleonline opened #67349 "[Enhancement] Improve Events Shortcode output across themes to improve readability"
### Quick summary

The default output of the upcoming events shortcode could benefit from a bit of extra spacing. Ideally, it could be turned into a proper block with controls to manage the spacing.

### Steps to reproduce

1. Crate a Google Calendar and use multiple events with long event descriptions.
2. Enter the upcoming events shortcode on a blank page and publish the page.
3. Notice that the

[2022-09-02 23:29] worldomonation opened #67350 "Flaky E2E: Editor content loads"
### Spec file

specs/fse/fse__temp-smoke-test.ts

### TeamCity ID

8529177

### Logs

[code]

[2022-09-02 23:30] worldomonation commented on #67350
This test is particularly egregious. Just take a look:
![image](https://user-images.githubusercontent.com/6549265/188246190-8f8e6d80-f3d7-4c29-a100-ebef7e5ee155.png)

[2022-09-03 00:19] jamiepalatnik commented on #59259
Another report: 36751881-hc

Twenty Twenty-Two theme. Shared CSS as a workaround.

[2022-09-03 02:55] Jaykame opened #67352 "Block Inserter not showing results for foreign character searches"
### Quick summary

When the site interface language is set to a foreign language (e.g. Japanese, Korean, Chinese, Arabic), the Block Inserter yields no results.

### Steps to reproduce

1. Set your site language to a foreign language in Accounts -> Accounts Settings -> Interface settings -> Interface language.
2. Open any existing page or create a new page.
3. Click on "Toggle Block Inserter" on t

[2022-09-03 04:52] autumnfjeld commented on #66789
Reached out to themers to get assistance:  p1662099782169749-slack-C02M88KJ684

[2022-09-03 07:57] ajaykj commented on #67229
In 5523406-zen the issue is resolved. Retired premium theme: Aquene

[2022-09-03 09:52] kavyagokul commented on #59378
This is much more common for Spanish and Portuguese users for some reason.

One such occurrence today is 36741617-hc

[2022-09-03 12:16] sanjeev00733 commented on #67249
It also affects all the links on the site. Reported in #5526977-zen.

All links on the site are underlined. Shared the below code to fix as a temp workaround.

[code]

[2022-09-03 12:27] mxhassani commented on #67249
Indeed, it looks like this was the main aim of [the fix](https://github.com/Automattic/themes/pull/6443). But yes, the user ended up asking for all links to be removed. Sent them this:

[code]

[2022-09-03 12:56] Gustavo-Hilario commented on #41606
Hi @daria2303. I've been checking this issue further on the follow-up ticket 5527617-zen, and I don't think CSS only can help to make sure subscribed users won't see the `Guest View` message for other plans. You can check the details on the Slack thread.

[2022-09-03 16:58] vajrasar commented on #66904
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group has finished following up with the affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-09-03 20:55] supernovia opened #67354 "Gutenberg Paragraphs: dir="LTR" results in unexpected or invalid content error"
### Quick summary

Content creators who use RTL and LTR languages in their sites have been able to reverse text direction for a given paragraph block by editing its HTML and adding `dir="LTR"` or `dir="RTL" `. This stopped working in a recent update: creating paragraphs with that HTML edit, or editing a post that already has those types of paragraphs, results in `unexpected or invalid content erro

[2022-09-03 21:22] fullofcaffeine commented on #67229
Yeah, the fix has already been rolled-out! Thanks for the ping :) I'll be closing this but free to re-open it if you see other occurrences of it.

[2022-09-03 22:20] supernovia commented on #52048
Oh my goodness. I finally saw this in Firefox today. Is this what users are seeing?

https://user-images.githubusercontent.com/3476361/188289268-d3701bf4-a19d-4429-9331-d0bf1036d247.mov

[2022-09-04 01:36] hacchism opened #67356 "List Block: Show bold and italic options in toolbar when selecting multiple list items"
### What

It's good to still show bold and italic options in the toolbar when selecting multiple list items within the List Block.

Currently, it doesn't show:

<img width="700" alt="Screen Shot 2022-09-04 at 10 29 28" src="https://user-images.githubusercontent.com/32432463/188293342-4b1c1a3d-c035-4c2e-98eb-80fde79c3a36.png">

### Why

Got a report on 5526495-zen that we used to show both options

[2022-09-04 02:04] hacchism opened #67357 "Slug change needs to be reflected in the post/page URL section even when in draft"
### Quick summary

When someone changes a slug for a draft post or page in the editor, the `?p=XXX`(or `?page_id=XXX`) suffix keeps appearing in the post/page URL section until a page/post is published.

This might be just intended. If so, this can be a feature request.

### Steps to reproduce

1. Add a new post or page.
2. Save it as a draft once.
3. Try changing a slug(permalink) for the post or

[2022-09-04 03:36] retnonindya opened #67358 "FSE: Preview v. Live Site View"
### Quick summary

When the user changed the template, the "default" template is still visible on Preview, while the live site respects the changes on the editor.

This bug report came from a user. They mentioned that they set the page title ("Exipure Brown Cells"), like this:

![Screenshot 2022-09-04 at 11 28 25 AM](https://user-images.githubusercontent.com/44726232/188295837-1f16f05c-3b94-48b3-b

[2022-09-04 04:49] #63843 closed, assigned to nobody

[2022-09-04 10:36] rickmgithub commented on #59570
This feels like the same issue again.
The user was trying to add a new custom template but whenever they try to switch from default to their custom template it produces an error - Updating failed. Invalid parameter(s): template
I re-created the page as a blank page and set the custom template and copied the content from the previous page and this time it worked. So the issue appears to be in the s

[2022-09-04 13:44] ccwalburn commented on #55795
Another report:

- [ ] 5529791-zen

Theme: Gazette
Trying to add a Spotify social icon.

Suggested 2 options:

1. Change to using Block Widgets so they could use the Social Icons Block
2. Keep Classic widgets active and add a "Block" widget with the following code:

[code]

[2022-09-04 14:28] Nic-Sevic commented on #66402
another instance here: 5530927-zd-woothemes

[2022-09-04 14:41] renata-franco commented on #50740
Thanks @daledupreez, @KirkwallDay, and @Robertght for responding to the user while I was AFK!

[2022-09-04 15:03] jp-imagines commented on #67159
@zachspears I'm still able to reproduce on my test site: sd1dH7-140-p2 (Atomic site, _Twenty Twenty_ theme, video-type blocks on a post with either `none` or `align center` alignment setting).

[2022-09-04 15:20] renata-franco commented on #66782
The user came back and said it happened again, but in the end, removed the Embed Block and added another Image Block instead, so the error is no longer there. Told them that next time to leave it there for us to check it out a bit.

They also said

I could be wrong, of course. It could also be various algorithms are gaining self-awareness and are messing with us.

Not sure where that is coming fro

[2022-09-04 17:21] jerrysarcastic commented on #62319
Also reported in https://wordpress.com/forums/topic/left-to-right-english-text-in-right-to-left-hebrew-blogs-is-mis-directed/

[2022-09-05 00:05] #65075 closed, assigned to miksansegundo

[2022-09-05 03:08] autumnfjeld commented on #67328
cc: @Automattic/ganon for awareness since we are in the middle of the Style Selection in onboarding project: pbxlJb-2gk-p2

[2022-09-05 03:32] Greatdane commented on #49486
I think this is still happening. Got a report here; 5496457-zd-woothemes
(there is a video in the Slack thread linked)

Site keeps going back to wp-admin rather than Calypso.

[2022-09-05 03:42] #66799 closed, assigned to daledupreez, mpkelly

[2022-09-05 03:55] mpkelly commented on #66799
Changed were made in PR https://github.com/Automattic/wp-calypso/pull/67024 which has now been deployed.

[2022-09-05 05:48] druesome commented on #57812
36585851-hc

Firefox user is unable to view scheduled post while logged in.

[2022-09-05 07:39] alshakero opened #67365 "Task: Render the set site logo and description from user input."
### Details

**Note**: there is a small chance, this is already done by [this](https://github.com/Automattic/wp-calypso/pull/67250), please verify before starting.

The site is already configured, but the applied patterns don’t reflect that. Conversation [here](https://href.li/?p1661499387489309-slack-C02M88KJ684).

p1661499387489309-slack-C02M88KJ684

### Checklist

- [ ] When done, the pattern's

[2022-09-05 07:43] alshakero opened #67366 "Task: Implement locale parameter, so marketing pages can redirect to the right language."
### Details

The entire Stepper should support a `locale` parameter that determines the UI language.

Especially that Since Stepper caters to unauthenticated users now.

### Checklist

_No response_

### Related

_No response_

[2022-09-05 07:45] alshakero opened #67367 "Task: Remove `completingPurchase` loader step and call this hook within /start to merge the two loaders into one"
### Details

Note that this [hook](https://href.li/?https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/hooks/use-setup-onboarding-site.ts#L45) should be called [here](https://href.li/?https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/main.jsx). And since this is a class component, it may be easier to convert the hook to a component that returns null and just

[2022-09-05 07:48] alshakero opened #67368 "Task: Enable “newsletter” vendor for Newsletter flow in domains."
### Details

This [function](https://github.com/Automattic/wp-calypso/blob/trunk/packages/domain-picker/src/utils/index.ts#L48) should return `newsletter` vendor for newsletter flow.

Context: p1661429827083589/1660915206.812929-slack-C03MQMT4C5C

### Checklist

- [ ] Domain suggestion in domain step should be relevant to newsletters.

### Related

_No response_

[2022-09-05 07:49] alshakero opened #67369 "Task: Make top progress bar value zero in `newsletterSetup` step"
### Details

Context: pdtkmj-pL-p2#:~:text=It%E2%80%99s%20strange%20that%20the%20progress%20bar%20starts%20almost%20a%20third%20filled%20already%20on%20this%20screen.%20Might%20be%20ok%20removing%20it%20here.

### Checklist

_No response_

### Related

_No response_

[2022-09-05 07:50] alshakero opened #67370 "Bug: When the user lands in the first step of /start, clicking back sends them back to Stepper’s first step."
### Details

Partially fixed by https://github.com/Automattic/wp-calypso/pull/67252.

Context: p1662025345625289-slack-C02T4NVL4JJ.

### Checklist

- [ ] Clicking back and forth in the flows should work properly

### Related

_No response_

[2022-09-05 08:32] alshakero opened #67371 "[Bug]: Test the pattern preview Carousel with magic mouse"
### Quick summary

Most likely, we’ll need to increase [this timeout](https://href.li/?https://github.com/Automattic/wp-calypso/blob/trunk/packages/pattern-picker/src/index.tsx#L49) to 300ms or so.

### Steps to reproduce

1. Using a magic mouse on desktop play with the pattern picker.

### What you expected to happen

It should be smooth and predictable.

### What actually happened

It's janky an

[2022-09-05 08:33] alshakero opened #67372 "Task: Intro step button needs more padding on the sides"
### Details

Compare with designs. Figma: BcUdhLlhAp7UHtQHNTI4zA-fi.-Tailored-Onboarding-%26-Launchpad

### Checklist

_No response_

### Related

_No response_

[2022-09-05 08:42] alshakero opened #67373 "Task: Use WordPress blue for the progress bar everywhere, not the primary color of the user’s theme"
### Details

Context [here](https://github.com/Automattic/wp-calypso/blob/trunk/packages/components/src/progress-bar/style.scss#L20).

### Checklist

- [ ] The progress bar should be blue everywhere.

### Related

_No response_

[2022-09-05 08:45] #67084 closed, assigned to bogiii

[2022-09-05 08:45] #67256 closed, assigned to bogiii

[2022-09-05 08:45] #67257 closed, assigned to bogiii

[2022-09-05 08:52] ouikhuan commented on #67023
Closing this issue as this is merged and deployed.

[2022-09-05 08:52] #67023 closed, assigned to ouikhuan

[2022-09-05 08:52] #65585 closed, assigned to ouikhuan

[2022-09-05 09:44] mpkelly commented on #65350
An [issue has been discovered](p8oabR-Vp-p2#comment-6583) when the `figcaption` is also present. It will need a small PR to fix it, so reopening this one.

[2022-09-05 12:12] renata-franco opened #67382 "Top Toolbar does not stay enabled on free plan"
### Quick summary

The Top Toolbar that we can turn on via the extra options on the Block Editor needs to be turned on every time the user opens a new page. This was only replicable on a free plan site. Does not seem to happen on paid plan sites.

### Steps to reproduce

1. Go to Block Editor.
2. Click on the three dots on the top right.
3. Select Top Toolbar.
4. Close the Editor and open a new po

[2022-09-05 12:12] vinimotaa commented on #65574
Hi @michaelpick, thanks for getting back!

We're still open to better options. We selected those from your previous suggestions, but please let us know if you have better recommendations!

Yes! Those subheads were written by me as a first draft. The idea of having those is to add more context to each section. Again, if you have better alternatives, feel free to suggest them so I can put a mock-up

[2022-09-05 12:21] #67272 closed, assigned to mashikag

[2022-09-05 12:28] michaelpick commented on #65574
Cool, thanks @vinimotaa! I'm on the case with this today 👍

[2022-09-05 12:58] phcp opened #67386 "[New Comment] Fix missing hostnames on links on Comment Reply emails"
Fix Reply and Like CTAs on Comment Reply emails.

The URLs are missing the hostname:
`http://?replytocom=0#respond`
`http://?like_actor&like_hmac&postid=0&commentid=0&like=1&source=sub_email`

[2022-09-05 13:00] simison commented on #65638
I didn't have Windows/Linux for testing right now but tested MacOS version in case (Monterey 12.5.1), and it worked ok. Might be limited to Linux/Windows, and could be due to 3rd party cookies not working as expected. The editor opens from a different domain (wp-admin) than WP.com dashboard itself.

https://user-images.githubusercontent.com/87168/188455129-4f1bfad6-9628-4743-ba16-0e5974020588.mov

[2022-09-05 13:50] taipeicoder opened #67388 "Style selection: UI/UX polish"
## Description
These are the UI/UX polish tasks that either need more clarification or time to work on:
- [x] How to handle theme descriptions?
For now, we just display the first sentence of the description. (D86697-code)
- [x] How to handle preview without style variations? Sidebar would look very empty.
#67629
- [x] Update the mobile breakpoint to 1024px.
#67778
- [x] Clicking a style variation

[2022-09-05 13:56] #67173 closed, assigned to ebinnion, alshakero

[2022-09-05 14:31] alshakero commented on #67293
Hi @donalirl! Was this intentionally added to our board?

[2022-09-05 15:12] kspilarski opened #67392 "Blank Canvas: Images in the slideshow block are not visible on the live page"
### Quick summary

Using Blank canvas, images in the slideshow are only visible in the site editor but not on the live page.

### Steps to reproduce

1. Activate Blank Canvas theme.
2. Open the site editor and add a slideshow.
3. Compare the slideshow on the site editor and the front page of the site.

### What you expected to happen

The slideshow images will be visible in both the site editor an

[2022-09-05 15:18] ivan-ottinger opened #67393 "[New Liked Post] Enable the new template in production"

[2022-09-05 15:49] cuemarie commented on #66739
User has replied with screenshots of their new post email, as well as a new post email from a separate blog they follow as well, showing the same issues, shown below. They also anecdotally shared that this experience is shared by others they've been in touch with.

### Example Email 1

<img width="1490" alt="Screen Shot 2022-09-05 at 8 38 00 AM" src="https://user-images.githubusercontent.com/27249

[2022-09-05 15:56] dsas commented on #66628
Looks like [this (unmerged) PR is needed too](https://github.com/WordPress/gutenberg/pull/41842) will be required too, along with some ETK changes to set `postTypes => ['wp_template', 'wp_template_part']` for patterns with `block_type_core/template-part/*`

[2022-09-05 16:14] #65350 closed, assigned to mpkelly

[2022-09-05 16:53] worldomonation opened #67400 "Flaky E2E: Select a free .wordpress.com domain"
### Spec file

plans__signup-free.ts

### TeamCity ID

8531313

### Logs

[code]

[2022-09-05 16:53] worldomonation commented on #67400
![image](https://user-images.githubusercontent.com/6549265/188491945-b216c4a3-3477-4635-bae6-b2b8a01d6c90.png)

[2022-09-05 17:04] pgk opened #67401 "Onboarding v2: Create Stepper-Based Flow"
Probably use some existing flow as a skeleton.

See also: pxWta-1vr-p2

[2022-09-05 17:13] Babylon1999 commented on #67276
Another case here zd-5532540

I shared more browser troubleshooting steps and asked for their browser details.

[2022-09-05 17:33] jorpdesigns opened #67402 "Search Block: Search icon appearing in the input field on mobile browser"
### Quick summary

A search icon appears in the input field on the mobile Safari browser:

![1XilIk.png](https://user-images.githubusercontent.com/40006288/188495549-1f3fc083-a209-4652-a1da-a9bfc309ce19.png)

I can reproduce this consistently on my iPhone 12. I am not sure if this occurs on other mobile browsers.

Looks like the icon is being added automatically from the Safari mobile browser so m

[2022-09-05 20:00] DavidSaladu opened #67404 "P2 editor no longer seems to support emojis on lists"
### Quick summary

Until a recent change/update in the editor, emojis could be added directly by typing : and the appropriate text (as it's done in slack) on lists.

### Steps to reproduce

Create a new post in a p2
Create a list
Type : and a text for an emoji, for example `:joy:`

### What you expected to happen

The emoji  :joy: should appear.

### What actually happened

The emoji doesn't appea

[2022-09-05 20:30] michaelpick commented on #67171
Hey @vinimotaa 👋

I took a look at these and the related titles and labels in #65574.

To help us get to the consistency you mentioned, I came up with two different patterns that could be pretty easily captured in a light-weight Marketplace styleguide:

## Pattern 1: Action-oriented; `why > what > how` pattern
In this variation the subheadings run a little longer, the better to lead with an action

[2022-09-05 20:30] daledupreez commented on #53102
Just to provide an update to followers of this issue, I've picked up this work and I have been working on it for the last week or two.
Our internal discussions are in pMz3w-fNu-p2, but I want to share where we have got to thus far.

Last week, I explored appending tokens to URLs in the content, which we eventually decided was not going to be secure enough due to the way we were adding the tokens.

[2022-09-05 20:47] michaelpick commented on #67171
# A few quick style notes

## Title vs. sentence casing
We aren't consistently applying casing to headings and subheadings across the page. While it's open to being evolved, our style guide [recommends](https://dotcombrand.wordpress.com/style/#:~:text=For%20headings%2C%20buttons%2C%20and%20text%20in%20general%2C%20we%20use%20sentence%20case.) the use of sentence casing for headings. Sentence case

[2022-09-05 20:54] michaelpick commented on #67171
# Bringing the above together into recommended copy

I've combined the above style notes with my personal favorite lines. Totally happy to use any of the others, or to iterate on any that don't quite hit the mark. I've also commented a couple for clarification of scope.

## Ecommerce and business
Turn your site into a powerful online store.

## Booking and scheduling
Take bookings and manage your

[2022-09-05 21:15] michaelpick commented on #64055
Hi again @vinimotaa 👋

Connected to the category description labels in #67171 and the [style consistency notes](https://github.com/Automattic/wp-calypso/issues/67171#issuecomment-1237449674) I left there, here's some fresh copy for the above:

## Page headline variations
I've kept this without a subheading, as with the current selection. Let me know if you'd me to riff on some subheadings, too. I

[2022-09-05 21:39] happychait commented on #44781
Another report in 5529157-hc

[2022-09-05 21:53] vykes-mac commented on #67340
What I've seen so far is that the browser holds on to the srcset and displays one of the the images when `onLoad` fires. This prevents the check
[code]
from ever being valid since none of the srcset matches the width and height of the mshot default image. It would make sense to set the srcset after the image is fully loaded but this might cause the onload function to fire again.

[2022-09-05 21:57] cometgrrl commented on #54350
@Robertght should this be moved to themes?

[2022-09-05 22:01] zachspears commented on #67163
Unable to reproduce but moving forward due to multiple confirmed reports.

[2022-09-05 22:55] TPilgs commented on #59825
Instance here: 28844378-hc

[2022-09-05 23:35] zachspears commented on #67167
Unable to reproduce it, but still seeing this issue on here: 48357-hc

[2022-09-05 23:57] zachspears commented on #67249
Able to reproduce. Keeping low priority due to low impact.

[2022-09-06 00:02] annezazu commented on #66172
Looping here to clarify that this is not a Core issue afaik. To explain, every block offers ways to add different variations and styles to it. WPCOM has added the bottom and top wave options to the Cover block as part of some fun design tools of sorts for folks. This is why you don’t see a corresponding option in Core aka why you can replicate the issue — Core doesn’t come with these options and n

[2022-09-06 00:05] donalirl commented on #67293
@alshakero Yes, it was intentional as the previous task #62284 was also done in that board. My apologies if I made a mistake!

[2022-09-06 00:05] zachspears commented on #67328
Looks to be a duplicate of this issue: https://github.com/Automattic/wp-calypso/issues/59259 Closing for now.

[2022-09-06 00:05] #67328 closed, assigned to nobody

[2022-09-06 00:51] dcoleonline commented on #67059
Another in 5532506-zen

[2022-09-06 01:26] cometgrrl commented on #55504
Follow Blog Widget is now the Subscribe block. I wasn't able to reproduce this issue. Please re-open if we get any more reports.

[2022-09-06 01:35] #66819 closed, assigned to fushar

[2022-09-06 02:49] JulianBustamante commented on #65898
Step 2: D87225-code

[2022-09-06 06:39] mmtr commented on #65447
This is still not done, reopening it 🙂

[2022-09-06 06:42] mmtr commented on #65447
I think this would be the next step. @sethmclellana8c shared this feedback about how to better handle this:

[https://wordpress.com/support/video-tutorials/video-tutorials-add-payments-features-to-your-site-with-our-guides/#how-to-use-the-[…]ents-block-video](https://wordpress.com/support/video-tutorials/video-tutorials-add-payments-features-to-your-site-with-our-guides/#how-to-use-the-payments-bl

[2022-09-06 06:44] daria2303 commented on #41606
I can see that I miss-understood the classes for the logged-in users, it even worked when I tested :D (I know why)
Removed the CSS from my post not to confuse anyone.

[2022-09-06 06:45] sophiegyo commented on #67249
Another report here:

5530292-zen

[2022-09-06 07:08] mriyazuddin commented on #67249
- [ ] Another one reported here: 5530292-zdn

[2022-09-06 07:17] rw-ye commented on #62017
Another report;

- [ ] 5534563-zd-woothemes

Theme: Appleton

Provided CSS workaround

[2022-09-06 07:23] ivan-ottinger commented on #66651
User report: 5525826-zd-woothemes.

[2022-09-06 07:40] Robertght commented on #66739
@cuemarie  I signed up with Outlook and can confirm this is indeed an issue:

![6TWpxp.png](https://user-images.githubusercontent.com/6737345/188575023-0fa331f1-80e6-463e-bff6-903c3aa3148a.png)

@Automattic/apex can this be adjusted for other email clients as well?

[2022-09-06 07:47] autumnfjeld commented on #67079
@Automattic/ganon   This is how @fushar  :)

[2022-09-06 08:07] cpapazoglou commented on #65463
The thing is that some plugins like the ones defined in code are managed - installed by wpcom in all plans whereas woo is
managed only in ecom plans. In biz plan you can install it manually, this happens with all bundled plugins in the ecom plan - woo and some extensions.

Can you try installing woo in a biz plan and check if there is anything else in the response that we can use to identify if it

[2022-09-06 08:12] BogdanUngureanu commented on #66158
Looks like that the cache was refreshed and now the rating is no longer displayed for plugins that don't have any rating 🎉

[2022-09-06 08:12] #67300 closed, assigned to yashitamittal11

[2022-09-06 08:12] vajrasar commented on #66904
Quick Note: The issue was addressed in two parts:
Reverting D79454-code
Reimplementing those changes in D86706-code

[2022-09-06 08:12] #66904 closed, assigned to nobody

[2022-09-06 08:17] #60232 closed, assigned to daledupreez

[2022-09-06 08:19] simison commented on #65638
We've tested  v7.2.0 on Windows 10, so far couldn't replicate.

Tested:

- On a Jetpack-connected site, with and without the Classic Editor plugin active
- Tested also wpcom "simple" site
- Switching Posts screen view options between classic and default views make no difference

[2022-09-06 09:12] BogdanUngureanu commented on #66866
Deployed in 9c1ba06aeb2344ae6d6675c479f858a748ea799e

[2022-09-06 09:12] #66866 closed, assigned to dsas, BogdanUngureanu

[2022-09-06 09:54] #67372 closed, assigned to heavyweight

[2022-09-06 09:56] gcsecsey commented on #64891
@epeicher I've done some testing in Kibana, and I think these fields should also be available:

Field names returned by /marketplace/products | Field names returned by ES results (wp.org)
-- | --
id | post_id
sections.description | plugin.description

Other than these, I agree that we can't get the rest of the fields from ES for WP.org plugins yet.

[2022-09-06 10:29] #67326 closed, assigned to mashikag

[2022-09-06 11:07] #67368 closed, assigned to heavyweight

[2022-09-06 11:09] #65558 closed, assigned to nobody

[2022-09-06 11:16] mashikag commented on #66697
## `ContrastChecker` Component
The following is a sample screenshot of how it would look like if we were to use [the Gutenberg's ColorChecker component](https://href.li/?https://github.com/WordPress/gutenberg/blob/84b888735da778f3501610741f0d8bb3fda2884d/packages/block-editor/src/components/contrast-checker/README.md#development-guidelines) as is.

![Image](https://user-images.githubusercontent.co

[2022-09-06 11:24] yansern commented on #66445
I'm reviewing this right now.

[2022-09-06 11:25] wojtekn commented on #64747
We removed AMP support for Simple sites on July 11th, 2022 so this issue is not actual anymore. pdKhl6-lx-p2#comment-368

URLs like https://awongtest529603467.wordpress.com/2022/05/16/adventure-awaits/amp/ are redirected to non-AMP versions e.g. https://awongtest529603467.wordpress.com/2022/05/16/adventure-awaits/, and they don't serve AMP-related content anymore.

[2022-09-06 11:25] #64747 closed, assigned to wojtekn

[2022-09-06 11:44] #67340 closed, assigned to vykes-mac

[2022-09-06 11:58] Addison-Stavlo opened #67426 "LaunchPad - handle Hello World post on newsletter sites"
Currently Newsletter sites are created with the standard "Hello World" post already published. Beyond this, the post is future dated so it shows up higher in the blog feed than their later added newsletter posts.

There are various ways we could address this, but it seems like we could look at:
* (preferable) Changing "Hello World" for newsletter sites to `draft` state when their first other post

[2022-09-06 11:58] danielbachhuber commented on #67338
This was fixed in #67406

[2022-09-06 11:58] #67338 closed, assigned to vykes-mac

[2022-09-06 12:01] bogiii commented on #67258
The current work is on the [update/subscriber-track-events](https://github.com/Automattic/wp-calypso/tree/update/subscriber-track-events) branch.

[2022-09-06 12:14] iamtakashi opened #67428 "Buttons Block: Theme's style is overridden on the front of the site"
### Quick summary

In WP.com, the theme style for buttons is overridden when viewed at the front of the site. Therefore, the button looks strange in front of the site, and the button looks as expected in the editor.

It seems to be a WP.com issue since I can't replicate the issue in my local setting WP v.6.0.2 + Gutenberg trunk.

### Steps to reproduce

1. Make sure that a block theme is activated

[2022-09-06 12:28] wojtekn commented on #62774
I've checked this issue, and I reproduced it in Baskerville 2 and Twenty Eleven themes. It worked well for me in Twenty Twenty Two, though.

It looks like the issue is being [fixed in the AMP plugin in version 2.3.1](https://github.com/ampproject/amp-wp/issues/7154) which is not released yet.

[2022-09-06 12:31] Addison-Stavlo opened #67429 "LaunchPad - link-in-bio - enable flow for completed "Set up" task."
For Link-in-bio sites - Lets make it so users can click on the completed task of initial "Set up", so that they can go back to add/change their logo, accent color, title, description info.

The flow should lead back to the initial setup form, and on completion/submit should lead back into the launchpad.

related to visuals for completed by navigable tasks:
* p1662465290003359/1662422322.697699-sla

[2022-09-06 12:34] simison commented on #66936
@Addison-Stavlo @Robertght CSSTidy is being entirely removed by @fullofcaffeine. See D70703-code or p1662067041679139-slack-gutenberg-on-dotcom

[2022-09-06 12:36] Addison-Stavlo opened #67430 "LaunchPad - Link-in-bio - enable navigation to compeleted "edit links""
Lets make sure the "Edit Links" task is still usable for navigation to edit these items even once listed as complete.

Related to enabling navigation to completed tasks:
* p1662465290003359/1662422322.697699-slack-CHN6J22MP
* https://github.com/Automattic/wp-calypso/pull/67405

[2022-09-06 12:45] wojtekn commented on #52726
We removed AMP support for Simple sites on July 13th, 2022 so this issue is not actual anymore. pdKhl6-lx-p2#comment-368

All `/amp/` URLs are now redirecting to the original post.

[2022-09-06 12:45] #52726 closed, assigned to wojtekn

[2022-09-06 12:53] WBerredo commented on #65463
I installed the Woocommerce plugin on a biz plan (not bundled), and it is coming as automanaged. I wonder if Woocommerce is coming as automanaged when installed bundled or standalone and if that is the expected behavior.

<img width="1203" alt="Screen Shot 2022-09-06 at 08 50 34" src="https://user-images.githubusercontent.com/5039531/188639683-9422f527-c84c-4bc0-9c01-0bb1f5cbb0fb.png">

[2022-09-06 12:54] vinimotaa commented on #67171
Hey @michaelpick, great work here mate. I loved the approach and consistency!

I'll work with the team to implement this ASAP.

[2022-09-06 12:58] vinimotaa commented on #67171
@allilevine not sure if we should merge this thread with [#67239](https://github.com/Automattic/wp-calypso/issues/67239)?

[2022-09-06 13:14] wojtekn commented on #36371
We removed AMP support for Simple sites on July 11th, 2022 so this issue is not actual anymore. pdKhl6-lx-p2#comment-368

Simple sites do not include AMP toggle anymore:

![Screen Shot 2022-09-06 at 15 08 56](https://user-images.githubusercontent.com/727413/188644236-833d5221-7f0f-4dfb-ba21-99fcabf8031b.png)

Atomic sites do not include toggle, but AMP can be disabled by deactivating the plugin:

[2022-09-06 13:14] #36371 closed

[2022-09-06 13:19] vajrasar commented on #64917
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group has finished following up with the affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-09-06 13:25] vinimotaa commented on #65574
Hi @michaelpick, thank you for this!

I have updated the mock-up - let us know if there is anything else we should change!

![marketplace_labels](https://user-images.githubusercontent.com/97929097/188646281-16605b48-284a-47d2-b868-622192ed93aa.jpg)

@cpapazoglou I think we're good to go with these labels.

[Figma file here](https://www.figma.com/file/f84fqtCG4pCnCh2Hq0But5/Marketplace-Refinements?

[2022-09-06 13:27] connah99 opened #67434 "[Bug]: Site Editor infinite loading in Safari only"
### Quick summary

Opening the Editor on Safari via Appearance>Editor results in an infinite loading screen. The loading animation is present until the page stops loading, but the Editor itself is never loaded. This issue is not present in either the app or other browsers.

Standard troubleshooting such as cache clearing, network reset etc resulted in no difference and this issue is present on mul

[2022-09-06 13:28] #48814 closed, assigned to wojtekn

[2022-09-06 13:30] cpapazoglou commented on #65463
You are right, either something has changed or I was completely wrong!

In that case, we can add to the static list the products bundled in ecom

https://github.com/Automattic/woocommerce.com/blob/95985d9b256e056dd43dae6470e0fb27b4ee0143/plugins/wccom-plugins/host-plan/includes/packages/class-wpcom-ecommerce.php#L24-L39

and these ones?
<img width="1303" alt="CleanShot 2022-09-06 at 16 29 43@2x" s

[2022-09-06 13:31] wojtekn commented on #36622
We removed AMP support for Simple sites on July 11th, 2022 so this issue is not actual anymore. pdKhl6-lx-p2#comment-368

[2022-09-06 13:31] #36622 closed

[2022-09-06 13:33] mashikag commented on #66697
Follow up: p1662464397290889-slack-C02TCEHP3HA

[2022-09-06 13:38] #51539 closed, assigned to wojtekn

[2022-09-06 13:43] WBerredo commented on #65463
We also have this list of pre-installed plugins, which will present the plugin page in the following way.

https://github.com/Automattic/wp-calypso/blob/d748783cb09b7961ee7ff276fd5eb7bc10eb2ebd/client/my-sites/plugins/constants.js#L7-L15

<img width="1103" alt="Screen Shot 2022-09-06 at 09 40 53" src="https://user-images.githubusercontent.com/5039531/188650264-a5bdaeac-3388-424e-927d-549c3c5bdd61.

[2022-09-06 13:49] taipeicoder commented on #67064
Closing as it's merged.

[2022-09-06 13:49] #67064 closed, assigned to nobody

[2022-09-06 14:02] #67330 closed, assigned to heavyweight

[2022-09-06 14:13] michaelpick commented on #65574
Thanks @vinimotaa! Looking good 😎

[2022-09-06 14:16] bogiii opened #67438 "Add Subscriber form: switch to the new combine endpoint"
Test it out on sandbox patch: D86672

[2022-09-06 14:26] #67371 closed, assigned to heavyweight

[2022-09-06 14:27] allilevine commented on #67171
@vinimotaa Can we keep this issue focused on the copy, and #67239 focused on any design (e.g. CSS) changes we need to make? Or do they need to happen simultaneously?

[2022-09-06 14:38] vinimotaa commented on #67171
@allilevine sure, we keep them as is :)

[2022-09-06 14:43] WBerredo commented on #65463
I checked the current behavior with @jmdodd and the current behavior is the expected one. Its preferred for Woocommerce to be automanaged.

---

[...]if I install the woocommerce plugin (standalone, not bundled with other plugins), it is coming as automanaged as well, do you know if this is the expected outcome?

Yes, it is an expected outcome.
If available in a chroot, the managed version of a pl

[2022-09-06 14:57] alshakero opened #67439 "Task: Remove some phrases from the progress steps and make them gentler"
### Details

See [Context](pdtkmj-pL-p2#:~:text=Texts%20flip%20too%20rapidly%2C%20either%20less%20texts%20or%20a%20bit%20slower.).

Consider removing "Heading to checkout" entirely to get rid of all the conditions around it.

### Checklist

_No response_

### Related

_No response_

[2022-09-06 14:58] alshakero opened #67440 "Task: Apple sign in is unavailable for newsletter flow"
### Details

See [Context](pdtkmj-pL-p2#comment-828).

This shouldn't be hard, as the problem only occurs in the newsletter flow.

### Checklist

_No response_

### Related

_No response_

[2022-09-06 14:58] renata-franco commented on #66651
User would like to be informed once this is fixed.

[2022-09-06 15:00] alshakero opened #67441 "Task: Handle abandoned checkout gracefully"
### Details

It seems some undesired behavior is occurring when users abandon checkout. Let's make sure they stay in the flow (e.g: go to Launchpad).

[Context](pdtkmj-pL-p2#comment-809:~:text=8.%20Abandoning%20checkout,important%20to%20fix.)

### Checklist

_No response_

### Related

_No response_

[2022-09-06 15:01] alshakero opened #67442 "Task: Remove “Jetpack powered” from Link-in-Bio flow"
### Details

[Context](p1661779646884049-slack-C02T4NVL4JJ).

### Checklist

_No response_

### Related

_No response_

[2022-09-06 15:13] artpi commented on #53256
@dsas add yourself an admin on longreads.com

[2022-09-06 15:22] KirkwallDay commented on #50740
@daledupreez @renata-franco The user did get back to us and noted another one of their sites updates within minutes. I checked that site (URL is in the ticket 5508841-zen ) and it's a WordPress.com Premium site using our Podcast block as well. It's possible that if they upload those podcasts at the same time their site is just more on the tail end of the 1 hour caching window?

[2022-09-06 15:27] alshakero opened #67445 "Task: Remove stroke effect for WP logo in all flows"
### Details

[Context](https://href.li/?https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/global.scss#L116)

The SVG logo has a CSS rule giving it a stroke, let's get rid of that.

### Checklist

_No response_

### Related

_No response_

[2022-09-06 15:36] cpapazoglou commented on #65463
that's accurate! The first version looks better to me too.

[2022-09-06 15:54] alshakero opened #67448 "Task: Border radius of input fields should be equal to buttons"
### Details

Unify the border radius of inputs and buttons in tailored flows. Doesn't matter which to use are the reference.

### Checklist

_No response_

### Related

_No response_

[2022-09-06 15:55] alshakero opened #67449 "Task: Unexpected scroll bar in the plans grid"
### Details

Context [here](pdtkmj-pL-p2#:~:text=Nitpick%2C%20but%20there%20was%20an%20unexpected%20horizontal%20sidebar%20on%20the%20plan%20selection%20step%3A)

Most likely the same bug as https://github.com/Automattic/wp-calypso/pull/66961

### Checklist

_No response_

### Related

_No response_

[2022-09-06 16:00] mreishus opened #67450 "Theme Sheet: Add upsell banner for bundled premium themes"
### Details

In https://github.com/Automattic/wp-calypso/pull/67444, I removed the upsell banner for premium themes, because the wording doesn't fit:
![2022-09-06_10-06](https://user-images.githubusercontent.com/937354/188682313-553d5505-b1bd-48ea-8d42-e07bfb789d9d.png)

Should we add a new banner specific to bundled premium themes? (Woocommerce themes)

### Checklist

_No response_

### Related

[2022-09-06 16:01] alshakero opened #67451 "Task: Export higher quality background images and use them for Retinas"
### Details

Make sure to only load when min-width is 2048px or something like that to avoid slowing down the app.

For intro and loading steps.

### Checklist

_No response_

### Related

_No response_

[2022-09-06 16:02] alshakero opened #67452 "Task: Validate site setup fields on submit only (not as the user types)."
### Details

The error should only appear when the user submits. Not when they empty the site title after they fill it.

### Checklist

_No response_

### Related

_No response_

[2022-09-06 16:03] alshakero opened #67453 "Task: Error state seems to use a gridicon instead of wp/icons. Switch to wp-icons"
### Details

Check [Context](pdtkmj-pL-p2#:~:text=Error%20state%20seems%20to%20use%20a%20gridicon%20instead%20of%20wp/icons.)

### Checklist

_No response_

### Related

_No response_

[2022-09-06 16:07] #67367 closed, assigned to alshakero

[2022-09-06 16:49] carinapilar commented on #38441
Another case on the forums here: https://wordpress.com/pt-br/forums/topic/redes-sociais-2

[2022-09-06 17:18] danielbachhuber opened #67455 "Site Switcher: Odd 'No sites found' message displayed when sites are present"
I'm seeing this odd 'No sites found' message on Jetpack Cloud's `/landing`:

<img width="1708" alt="image" src="https://user-images.githubusercontent.com/36432/188698172-44c09865-af02-4671-b949-98f99dcaba83.png">

The specific logic is here:

https://github.com/Automattic/wp-calypso/blob/8221ec7c15655f1b919f6fbec3e028ba394cc76c/client/components/site-selector/index.jsx#L391-L406

I'm not quite sur

[2022-09-06 17:32] Addison-Stavlo opened #67456 "LaunchPad - RTL for checklist arrows"
The checklist items do not update as expected for RTL.  The arrows ( `>` ) should be updated to point RTL as well `<`:

<img width="510" alt="Screen Shot 2022-09-06 at 1 31 21 PM" src="https://user-images.githubusercontent.com/28742426/188701584-d927769a-38b0-48d5-89fb-6e941266f48a.png">

[2022-09-06 17:36] daledupreez commented on #50740
@KirkwallDay, I think you're definitely on the right track. If it helps explain the behaviour  the user, every time we get a visitor to the page with the podcast block, we start by trying to reuse the podcast data from the last time we fetched the podcast, as long as it was within one hour. If you haven't had any visitors to the page within the last hour, we'll update the podcast immediately. But

[2022-09-06 18:06] dcoleonline commented on #62279
Also in 5493921-zen, but it is a free plan site, so no workaround is available to add the underline for all links

[2022-09-06 18:12] #67400 closed, assigned to worldomonation

[2022-09-06 18:17] worldomonation opened #67460 "KPI Dashboard: evaluate report storage options"
### Details

Explore the different options for storing the report or run data themselves.

Some options:
- push to S3 bucket
- push to a GitHub repository

### Checklist

_No response_

### Related

_No response_

[2022-09-06 18:40] cometgrrl commented on #4020
[This work](https://github.com/Automattic/wp-calypso/pull/39286) should address the original issue.

[2022-09-06 18:40] #4020 closed

[2022-09-06 19:49] JoshuaGoode commented on #67167
These are likely unrelated issues @tvolpert @zachspears -- as this Github issue should be closed.

[2022-09-06 19:51] #67167 closed, assigned to nobody

[2022-09-06 20:39] noahtallen opened #67467 "Task: resolve stylelint errors across wp-calypso"
In #66909, @manzoorwanijk helped us utilize `@wordpress/stylelint-config/scss` for many of our style lint rules. While we caught and resolved a few problems noticed while reviewing, other warnings have been introduced (or already existed) in Calypso.

Our goal should be 0 stylelint warnings across calypso. You can view all issues in the repo with `yarn lint:css`. _Note: I'm working on speeding thi

[2022-09-06 21:11] jp-imagines commented on #67159
By sheer coincidence, I ran into another existing report for this same issue: https://github.com/Automattic/themes/issues/6198

Confirmed on my test site that disabling _Page Optimize_ does resolve this, so it seems that's what's causing the conflict.

Closing this report in favor of the older one.

[2022-09-06 21:11] #67159 closed, assigned to nobody

[2022-09-06 21:32] spraveenitpro commented on #51952
The slug of that image has been changed causing the image to not appear any more.

[2022-09-06 21:48] sirbrillig commented on #51952
Nice, I visited `/cart` and it now 301 redirects to `/checkout`!

<img width="349" alt="Screen Shot 2022-09-06 at 5 47 18 PM" src="https://user-images.githubusercontent.com/2036909/188746894-292acaa4-7f87-477f-8cf4-44db60eecb5e.png">

[2022-09-06 21:48] #51952 closed, assigned to spraveenitpro

[2022-09-06 22:09] #67314 closed, assigned to nelsonec87

[2022-09-06 22:32] worldomonation commented on #67350
![image](https://user-images.githubusercontent.com/6549265/188752048-b0b134e8-3f9f-459b-89a0-a07056e54cb3.png)

[2022-09-06 22:46] #67456 closed, assigned to jeyip

[2022-09-06 23:09] worldomonation commented on #67350
According to [this thread](p1662503702003269-slack-CHN6J22MP) the screenshot above is an expected outcome, so perhaps it's better for me to adjust the expectation of the test.

[2022-09-06 23:30] supernovia commented on #53017
We have another case here. This person set up their front page menu to link to an editor:
<img width="614" alt="Screen Shot 2022-09-06 at 5 30 21 PM" src="https://user-images.githubusercontent.com/3476361/188757691-345c6c4f-0510-4e12-b172-8dbfabddc6ea.png">

I'm sure this is happening more often than we realize.

[2022-09-06 23:36] cometgrrl commented on #55472
@davemart-in Is this something Loop could look at?

[2022-09-06 23:39] cometgrrl commented on #66270
Closing since this should be fixed now.

[2022-09-06 23:39] #66270 closed, assigned to nobody

[2022-09-07 00:10] zachspears commented on #67344
Able to reproduce. Keeping Normal priority due to high impact.

[2022-09-07 00:30] zachspears opened #67476 "Selected subdomain does not match site subdomain after signup"
### Quick summary

When signing up for a new site, you get a recommended subdomain. After selecting a plan or starting your site the actual subdomain is something with the user's username and random numbers, and not the requested subdomain.

Example Site: PeeyLs-2-p2
Possible related contact: 36804475-hc
_Thanks @ha-un_
Video:
https://user-images.githubusercontent.com/10124024/188762386-d340ce34-a

[2022-09-07 00:35] zachspears commented on #67331
Able to reproduce, the text is identical. Marking low priority due to low impact.

[2022-09-07 00:45] zachspears commented on #67292
[Checking in with team Calypso](p1662511452184099-slack-C02DQP0FP) as this appears to be the expected behavior. Waiting for feedback.

[2022-09-07 01:30] SaxonF commented on #67388
@taipeicoder let's move forward with just showing the old preview on themes without variations for now.

[2022-09-07 02:56] #67041 closed, assigned to danielbachhuber, zaguiini

[2022-09-07 03:45] mpkelly commented on #59259
Hi @jerrysarcastic and @Robertght, I started looking at this again yesterday. I could reproduce it for Simple sites, but when I resumed work today, I could not reproduce it. So, it was either fixed overnight, or maybe I forgot to hit the "Publish" button yesterday when testing it. The code for this feature lives in the [editing-toolkit-plugin](https://github.com/Automattic/wp-calypso/tree/trunk/ap

[2022-09-07 07:25] yansern commented on #66975
Ready for review.

[2022-09-07 07:26] yansern commented on #67386
Patch: D87213-code

[2022-09-07 07:27] Robertght commented on #59259
Strange! That looks good here as well @mpkelly!

@jamiepalatnik or @edequalsawesome  could you also check on your end, please?

[2022-09-07 07:42] miksansegundo opened #67480 "Pattern Assembler - Use ThemePreview in the PatternSelector"
We want to reuse the component `ThemePreview` and the existing server-side logic for the preview height instead of D87232-code. More details in p1662466284770249-slack-CRWCHQGUB

Related https://github.com/Automattic/wp-calypso/pull/67478

[2022-09-07 07:53] yansern commented on #66976
Ready to review.

[2022-09-07 08:02] yansern commented on #66445
Related patch: D87141-code

[2022-09-07 08:04] ivan-ottinger commented on #67393
D87302-code patch is now ready for review.

[2022-09-07 08:23] Robertght commented on #67392
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- This is a duplicate of these two issues:
https://github.com/Automattic/themes/issues/6081
https://github.com/Automattic/jetpack/issues/22834

- What we know is that the Slideshow Block isn't fully compatible

[2022-09-07 08:23] #67392 closed, assigned to nobody

[2022-09-07 08:42] heavyweight commented on #67440
Took a look at this and I think we should close this.

The apple signup is available on trunk and prod
<img width="1754" alt="Screenshot 2022-09-07 at 10 38 58" src="https://user-images.githubusercontent.com/7000684/188832678-25225c23-3fda-47f0-b9e6-55f79e3218da.png">
<img width="1783" alt="Screenshot 2022-09-07 at 10 38 51" src="https://user-images.githubusercontent.com/7000684/188832683-6446c082

[2022-09-07 08:53] #67448 closed, assigned to heavyweight

[2022-09-07 09:21] #66697 closed, assigned to mashikag

[2022-09-07 09:50] alshakero opened #67487 "Task: Fix pattern picker items aspect ratio to match the previews"
### Details

There is a gap on top of the previews in the pattern picker

![image](https://user-images.githubusercontent.com/17054134/188848345-a48bffc8-0518-4d4b-b2d7-9d91a598e682.png)

It's probably due to having a mismatch in the aspect ratio set [here](https://github.com/Automattic/wp-calypso/blob/trunk/packages/pattern-picker/src/styles.scss#L29) and the aspect ratio of the MShot images set [

[2022-09-07 09:50] #67386 closed, assigned to JuanLucha

[2022-09-07 09:53] JuanLucha opened #67488 "[New Comment] Add link descriptors in the new email template"

[2022-09-07 10:33] alshakero commented on #67440
Great sleuthing.

[2022-09-07 10:33] #67440 closed, assigned to heavyweight

[2022-09-07 10:52] galakhyati opened #67493 "[WooCommerce] Analytics - Custom Date selection displays oversized arrow icons"
### Quick summary

When trying to open the calendar under WooCommerce's Analytics > Overview, on selecting a specific date range, when trying to open the date picker nothing happens.

There are Previous and Next arrows showing in large.

Screencast video:
https://user-images.githubusercontent.com/7382505/188856775-f8796b38-2721-4a26-81cf-9c5ea6a819a2.mp4

### Steps to reproduce

1. Open Analytics

[2022-09-07 10:54] filipanoscampos opened #67494 "Premium Content Block: Make bank statement listing clearer to website subscribers"
### What

When someone subscribes to a website from a premium Content Block, the charge is listed in their bank statement as WPMEM, which does not give any clue about the source of the charge.

It would be great if we could make this clearer to subscribers somehow, by calling it SUBSCRIPTION or, ideally, making it possible to list the website name.

### Why

Subscribers have complained about this

[2022-09-07 11:45] danielbachhuber opened #67497 "Site Switcher: Clicking "Add new site" unexpectedly closes Site Switcher before navigating"
Reported in Slack: p1662532879047989-slack-C0347E545HR

https://user-images.githubusercontent.com/36432/188870380-ddc81330-e6fe-42ed-8aaf-1ee190c13f63.mp4

The expected behavior is for the navigation to occur immediately, without the Site Switcher closing.

[2022-09-07 12:04] #67442 closed, assigned to renancarvalho

[2022-09-07 12:05] danielbachhuber commented on #67497
Debugging this a little further...

"Manage sites" includes the full URL in the button and doesn't exhibit this behavior. However, "Add new site" is only a path:

<img width="1166" alt="image" src="https://user-images.githubusercontent.com/36432/188871588-f05242b4-b5e9-419f-ba99-7d8c520409b0.png">

It looks like the `SitePicker` component has some `clickOutside` behavior:

https://github.com/Autom

[2022-09-07 12:05] epeicher commented on #64891
This is a similar table but includes an additional column with the `woocommerce` fields:

| Field names returned by `/marketplace/products` | Field names returned by ES results (wp.org) | wc.com fields |
| ----------------------------------------------- | ------------------------------------------- |------------------------------------------- |
| id                                              | p

[2022-09-07 12:11] mriyazuddin opened #67499 "WordPress iOS app - After sharing a Reader post, the app stays at the confirmation page"
### Quick summary

When sharing a post from Reader to Facebook, the WordPress iOS app remains at the confirmation page and doesn't go back to the Reader. The app needs to be relaunched.

### Steps to reproduce

1. Open WordPress app on an iPhone.
2. Go to reader, share a post to Facebook.

### What you expected to happen

The app should have gone back to the Reader screen.

### What actually happe

[2022-09-07 12:15] #67366 closed, assigned to renancarvalho

[2022-09-07 12:30] #65973 closed, assigned to escapemanuele

[2022-09-07 12:48] vindl commented on #67497
Site Switcher close might be fine (although it looks a bit janky), but the opening of the multisite sidebar is very unexpected. For more context, here is the screen that I got briefly during the transition:

<img width="1334" alt="Screenshot 2022-09-07 at 14 45 51" src="https://user-images.githubusercontent.com/1182160/188881970-a28c0ba3-2414-4d71-bbb0-d0210abf9d75.png">

[2022-09-07 13:14] danielbachhuber commented on #67497
@vindl To clarify, what is your expected behavior?

[2022-09-07 13:18] cpapazoglou commented on #64891
_If you are searching fields by querying, remember that you will not find the key if it doesn't have value_

- `description` should be `post_content`
- `requirements.plugins` is `m._wc_general_product_dependency_plugin`
- `requirements.required_primary_domain` can be added as boolean in WC.com OR we may use `SEO` category to identify all plugins in this category as in need of a primary domain. We

[2022-09-07 13:24] agrullon95 commented on #66574
**Additional comments about another solution I have experimented with:**
I created a new API using some of the code referenced in D41110-code that will fetch the provided site, modify the site content to remove links/forms/other user interactions and return the modified HTML back to the client.

Frontend code: https://github.com/Automattic/wp-calypso/pull/67472
Backend code: D41110-code

With this

[2022-09-07 13:26] agrullon95 commented on #66575
Iframe dynamic height (already completed dynamic width CSS work) changed will be updated in https://github.com/Automattic/wp-calypso/pull/67471.

[2022-09-07 13:39] markbiek commented on #66371
- Headstart annotation deployed: D87326-code
- Linguine strand id: 138046

[2022-09-07 13:46] epeicher opened #67502 "Marketplace search: Obtain `required_primary_domain` for plugin details"
The field `required_primary_domain` returned by the `/marketplace/products` endpoint is not returned currently by Elastic Search results as it is not stored in WC.com database.

The field can be added as a boolean in WC.com OR we may use `SEO` category to identify all plugins in this category as in need of a primary domain. We would need to change it here
https://github.com/Automattic/wp-calypso/b

[2022-09-07 13:52] valterlorran commented on #65597
@iamtakashi I will take a look at it today. I'll fix it before launching Yuga.

[2022-09-07 13:59] #67370 closed, assigned to renancarvalho

[2022-09-07 14:06] markbiek commented on #66371
PNEWy-eBM-p2

[2022-09-07 14:06] epeicher commented on #64891
Thanks @cpapazoglou ! Adding your comments to the list, the new table would be

| Field names returned by `/marketplace/products` | Field names returned by ES results (wp.org) | wc.com fields                                     |
| ----------------------------------------------- | ------------------------------------------- | ------------------------------------------------- |
| id

[2022-09-07 14:21] renata-franco commented on #50740
Hi, hi @daledupreez. I am checking on this new ticket the user created. In the past, I was manually clearing the cache every Friday at 12 CEST to avoid any further issues. However, I wanted to check in with you to know if the possibility of incrementing the cache thingy to 15 minutes is *actually* possible. If you say it is, I can continue clearing the cache for the user in the meantime. Let me kn

[2022-09-07 14:23] #66946 closed, assigned to phcp

[2022-09-07 14:23] #67393 closed, assigned to ivan-ottinger

[2022-09-07 14:23] #67271 closed, assigned to phcp

[2022-09-07 14:24] Addison-Stavlo commented on #59259
I think @fullofcaffeine has been doing some related digging recently and implemented a fix for the headings and buttons block global styles, so that may be what you are seeing. D87291-code

[2022-09-07 14:27] ivan-ottinger commented on #67393
Thanks for marking this task as Complete, Paulo. I missed that myself.

[2022-09-07 14:38] vindl commented on #67497
Same as when clicking on `Manage Sites`. The destination should obviously be different. 😄

[2022-09-07 14:39] #66965 closed, assigned to phcp

[2022-09-07 14:39] #66968 closed, assigned to phcp

[2022-09-07 14:39] #66970 closed, assigned to phcp

[2022-09-07 15:03] vajrasar commented on #67229
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-09-07 15:29] danielbachhuber commented on #67455
Moving this to `Hold` because the underlying code may be removed with pdKhl6-I6-p2

[2022-09-07 15:29] #67373 closed, assigned to heavyweight

[2022-09-07 15:36] epeicher opened #67507 "Marketplace: Remove `variations.product_slug` dependency from product list"
The `plugin.variations.product_slug` field is only used in calypso to match against the product list and it is not indexed by Elastic Search at the moment so it cannot be returned by the Elasticsearch results.

Alternatively, we could use `plugin.variations.product_id` and filter the product list to obtain the same data. We can then remove `variations.product_slug` field.

This task is to remove t

[2022-09-07 15:40] davemart-in commented on #55472
We can certainly add it to our bug triage board, but I'm not sure how highly it will be prioritized. Do we have an estimation on how many customers this is actively affecting?

[2022-09-07 15:46] vindl opened #67508 "SSH access: add SSH and WP CLI to the plans listing"
Let's list SSH and WP CLI as separate features under Business and eCommerce plans on wordpress.com/plans and https://wordpress.com/pricing.

cc @danielbachhuber

[2022-09-07 15:53] JulianBustamante commented on #65898
Deploy step 2: r252128-wpcom

[2022-09-07 16:15] vykes-mac commented on #49486
@Greatdane I'm not able to reproduce this issue again. I'm suspecting that this user view was already in a bad state from before the fix was available, the update to their view preference to get them in a good state would not happen on the first try, the first try would show them the issue , however if they change to classic view -> default view again their view preference would now be in the corr

[2022-09-07 16:47] cuemarie commented on #67245
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: feature not available on AT
- Tested on Self-hosted: feature not available on Self-Hosted
- Replicable on Core? No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Still able to replicate this issue. `Press This` sharing button on a simple site pops open a window with just the title of the post, and none of the content in the body of the post

[2022-09-07 16:51] JulianBustamante commented on #65898
Step 3: D87344-code

[2022-09-07 16:58] cuemarie commented on #67331
📌 SCRUBBING : RESULT
- Tested on Simple: Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this as well:

*Example*

https://user-images.githubusercontent.com/27249804/188936537-4e1bdf50-1f77-4d17-a7d9-17bf3868ec91.mp4

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-09-07 17:06] Joshgrygiel commented on #64917
📌 SCRUBBING : RESULT
- Tested on Simple: Yes
- Tested on AT: Yes
- Tested on Self-Hosted: Yes
- Tested on P2: No
- Replicable on Core: No

📌 FINDINGS/SCREENSHOTS/VIDEO

RESULT: I can confirm the button appears invisible when added to the Canape theme:

ATOMIC:
![BUTTON_AT](https://user-images.githubusercontent.com/88345647/188937834-7a9368fd-c5b7-4abd-9538-0854d75c21b4.png)

SIMPLE:
![BUTTON_SIMPL

[2022-09-07 17:12] cuemarie commented on #65078
📌 SCRUBBING : RESULT
- Tested on Self-hosted: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- It makes a lot of sense that this would be confusing! This might be better categorized as a Feature Request/Enhancement
- Grabbed some additional screenshots for context:

*Examples*

- **Settings > Performance > Learn More:**
![Markup on 2022-09-07 at 10:02:05](https://user-images.githubusercontent.com/27

[2022-09-07 17:24] cuemarie commented on #65109
📌 SCRUBBING : RESULT
- Tested on AT: **Could not replicate**

📌 FINDINGS/SCREENSHOTS/VIDEO
- When testing on an AT test site, leaving Gutenberg activated had no impact on content built through Elementor, whether I was proxied or unproxied.
- Gutenberg is now up to v 14.0.2, and Elementor is on v 3.7.4, so it's quite likely this issue is no longer applicable.

📌 ACTIONS
- Closed as could not replic

[2022-09-07 17:24] #65109 closed, assigned to nobody

[2022-09-07 17:39] cuemarie commented on #65638
📌 SCRUBBING : RESULT
- Tested on Simple WordPress.com Site: **Could Not Replicate**
- Tested on Plugin-Enabled WordPress.com Site: **Could Not Replicate**
- Tested on Self-hosted: **Could Not Replicate**

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm only able to test on a **Mac OS** at this time, and I am unable to replicate this as well.

📌 ACTIONS
- Await author feedback

📌 Message to Author
- @theRAGEher

[2022-09-07 17:46] sirbrillig opened #67516 "[Bug]: Domain connections included with plan without payment method display "no payment method" warning"
### Quick summary

A user who has a Domain Connection is seeing a "You don't have a payment method to renew this subscription" warning in the list of Active Upgrades for their site, even though the Domain Connection is included with their plan.

<img width="1087" alt="Screen_Shot_2022-09-07_at_1_40_10_PM" src="https://user-images.githubusercontent.com/2036909/188944066-46f760f3-fc2b-4bc3-9f7f-410a

[2022-09-07 17:47] sirbrillig commented on #67516
Original Slack report of this bug: p1662562505638729-slack-C02DQP0FP

[2022-09-07 17:54] worldomonation commented on #55715
Project is complete.

[2022-09-07 17:57] markbiek commented on #66371
And we're launched!

https://wordpress.com/theme/munchies

[2022-09-07 17:57] #66371 closed, assigned to markbiek

[2022-09-07 18:01] cuemarie commented on #67349
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- This seems to be very theme-specific. Some themes add borders to the output of the shortcode, while others don't, which makes it more difficult to read.

*Examples*

- **AT Site, Theme: Twenty Twenty-One**
![Markup on 2022-09-07 at 10:57:04](https://user-images.githubusercontent.c

[2022-09-07 18:13] cuemarie commented on #67352
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated issue using Japanese language set as well

*Examples*

- **AT Site: Searching for `カバーブロック` versus `cover`**
<img width="1338" alt="Screen Shot 2022-09-07 at 11 06 31 AM" src="https://user-images.gith

[2022-09-07 18:15] heavyweight commented on #67365
It seems that everything that this needs to work is in place.

The selected image is shown in the lunchpad
<img width="1151" alt="Screenshot 2022-09-07 at 20 13 13" src="https://user-images.githubusercontent.com/7000684/188949529-125612fe-71a8-4141-88a5-af2a8ee0bdb5.png">

The selected image is applied to the site
<img width="1156" alt="Screenshot 2022-09-07 at 20 13 27" src="https://user-images.g

[2022-09-07 18:16] mreishus commented on #66500
D86160-code is complete and merged, so now D86514-code is waiting for review.

[2022-09-07 18:19] cuemarie commented on #67357
📌 ACTIONS
- Closed as duplicate of https://github.com/Automattic/wp-calypso/issues/66433

📌 Message to Author
- (Also, core fix in the works here: https://github.com/WordPress/gutenberg/issues/43161 )

[2022-09-07 18:20] #67357 closed, assigned to nobody

[2022-09-07 18:28] worldomonation opened #67518 "Flaky E2E: Click on the My Plans tab"
### Spec file

plans__legacy-renew.ts

### TeamCity ID

_No response_

### Logs

[code]

[2022-09-07 18:29] worldomonation commented on #67518
This spec should no longer exist.

[2022-09-07 18:29] cuemarie commented on #67354
📌 SCRUBBING : RESULT
- Tested on P2: **Replicated**
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes** : https://github.com/WordPress/gutenberg/issues/15349

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this everywhere, just as @supernovia has described above.

*Examples*

**Simple**

https://user-images.githubu

[2022-09-07 18:30] heavyweight opened #67519 "Following the newsletter flow with no user session, redirects to intro instead of setup after logging in"

[2022-09-07 18:35] heavyweight commented on #67449
Tested with lots of different browsers, as well as MBP with Firefox as in the original report, but couldn't reproduce this.
Will follow up on the P2, and close this after some feedback from the reporter.

[2022-09-07 19:43] mxhassani commented on #60563
Reopening. Ran into this issue again in zen-5528212

There seem to be a bunch of other users facing it too, in the interactions listed here:

210-gh-Automattic/wp-calypso

Copied them below:

2192218-zen
2468699-zen
5518630-zen

[2022-09-07 19:46] mxhassani commented on #210
Other user facing this in 5528212-zen

There was a related fix here, may worth checking: 60563-gh-Automattic/wp-calypso

[2022-09-07 20:46] davemart-in commented on #66619
Merged #67278 into #66650

[2022-09-07 20:46] #66619 closed, assigned to davemart-in

[2022-09-07 20:53] valterlorran commented on #65597
@iamtakashi I will close this issue because I launched it already. It seems that the button issue is not related to Yuga, but I'll need to investigate more. Let's keep the discussion on your issue.

[2022-09-07 20:53] #65597 closed, assigned to valterlorran

[2022-09-07 21:00] daledupreez commented on #50740
@renata-franco, I've been exploring this and pushed up an initial PR in https://github.com/Automattic/jetpack/pull/26097. This still needs feedback from the Jetpack teams, so we may or may not get these changes shipped, but I will note any progress or decisions in this issue. More specifically, I think this is something I think we should handle better, but I think my approach may need to be refine

[2022-09-07 21:02] iamtakashi commented on #65597
Yes, it's not a Yuga-specific issue. Thanks for launching the theme and also thanks for looking into the button issue.

[2022-09-07 21:12] supernovia opened #67528 "Global Styles: Crash on block search"
### Quick summary

Global Styles has a Blocks section with a search feature. Typing anything in that box results in an immediate crash with an error report to copy. I'll share that below. Note this happens ONLY with Jetpack connected; going with the regular report process and we can sort where it goes.

### Steps to reproduce

1. Load Full Site Editor
2. Click on Styles
3. Scroll down and click on

[2022-09-07 21:47] roundhill commented on #51615
VideoPress supports 4K now!

[2022-09-07 21:47] #51615 closed, assigned to nobody

[2022-09-07 21:48] roundhill commented on #50812
Should work fine now that we don't use cookies any longer for private video authentication.

[2022-09-07 21:48] #50812 closed, assigned to nobody

[2022-09-07 21:50] roundhill commented on #55273
We recently made it smaller, so hopefully that satisfied some customers. It's not customizable, however. We can revisit if we get more requests for it?

[2022-09-07 21:50] #55273 closed, assigned to nobody

[2022-09-07 21:52] roundhill commented on #67089
Some browsers will allow autoplay with sound, if the visitor has interacted with the site before. So we may want to leave it as-is?

[2022-09-07 21:55] edequalsawesome commented on #59259
@mpkelly I'm now able to save regular text styles on my simple test site using Blockbase (🎉 ), but Heading font styles are reset after saving -- you can see that in the GIF below:

![2022-09-07 17 52 52](https://user-images.githubusercontent.com/4000628/188990530-74289c64-496e-4a8c-9d53-f7fa8a57eecc.gif)

[2022-09-08 01:32] cat-og opened #67531 "Atomic: Unable to Invite 'Subscriber' user roles via Calypso"
### Quick summary

The subscribers role was not available when inviting new users to a plugin-enabled site. I confirmed this on my site, and there was no change when I tried setting the site to Private.

### Steps to reproduce

1. Go to Users on a plugin-enabled site.
2. Invite new users.

### What you expected to happen

I expect the Subscribers role to be available when inviting new users.

###

[2022-09-08 02:14] devNigel commented on #44263
Another request: 36479199-hc

[2022-09-08 04:10] lsl commented on #67171
Not sure about the origin of this but it is most likely the intended purpose for things like Events Calendar Pro being added soon. Definitely not an internal calendar, that would be a different category, "editorial [publishing] calendar" maybe - there are plugins for that too.

[2022-09-08 04:13] Greatdane commented on #67145
As discussed on [Slack](p1662610324398489/1662610137.992159-slack-C01UW7SB411), moving on without usual triage.

[2022-09-08 04:15] Greatdane commented on #66608
As discussed on [Slack](p1662569423871189/1662567935.976629-slack-C01UW7SB411), moving on without usual triage.

[2022-09-08 04:24] Greatdane commented on #67356
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate

Simple:

![3CeMqA.png](https://user-images.githubusercontent.com/5075840/189033667-f7b3bafe-8eea-40fc-b9e4-309336745678.png)

Atomic:

![ibpGMf.png](https://user-images.githubusercontent.com/5075840/189033716-17a57797-cb92-4d86-831b-16931d152490.png)

Self-hosted:

![7ZjO

[2022-09-08 04:40] Greatdane commented on #67358
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate
- Tested on AT - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
Cannot reproduce, at step 6, '_Click "Preview". The page title still visible on Preview_', when I preview a page with the template that has the title block removed, the preview does not show the title. The page editor still does of course, but the preview works as expect

[2022-09-08 04:48] mpkelly commented on #59259
Hi @edequalsawesome, I can confirm there is still an issue as you found. There is [a patch in progress](D87291-code) that @fullofcaffeine is working on. I have just tested that and found that all text styles are saved correctly. So the issue should be resolved once that patch is released.

[2022-09-08 04:50] bangank36 commented on #67073
Closed as landed

[2022-09-08 04:50] #67073 closed, assigned to bangank36

[2022-09-08 05:09] Greatdane commented on #67404
📌 SCRUBBING : RESULT
- Tested on P2 - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed 😢
-
📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-09-08 05:25] p-jackson opened #67534 "SMP: "Import" flow added to new site button"
Depends on: https://github.com/Automattic/wp-calypso/issues/67646.

The "Add new site" button in the SMP should also provide easy access to the "import" flow.

This is an early design
<img width="374" src="https://user-images.githubusercontent.com/1500769/189042893-a615a69c-3e8f-45c4-ad85-3ff44e2424a8.png">

The above gives a good idea of what we're going for, however design/wording may change. pd

[2022-09-08 05:29] retnonindya commented on #67358
Thanks for checking this, @Greatdane!

That would be it, yep.

I rechecked the user's site, and it seems like they decided to put up the page title after all, so at this point it seems like we can't do anything :/ I'm so sorry for the hassle. Since it can't be replicated (I also tried, and I can't replicate it on my end,) it might be plugin/theme conflict.

I'm going to close the GH issue here. Th

[2022-09-08 05:29] #67358 closed, assigned to nobody

[2022-09-08 06:28] lsl opened #67535 "Marketplace: Slug collision handling"
A plugin slug collision is when a dotcom or woocommerce.com marketplace plugin has the same slug as one on dotorg.

It could be different plugins entirely or the same plugin owned by the same developer. (e.g. gravityforms)

Context p1662540187410729/1662499292.053829-slack-CKZHG0QCR

In this issue we only need to be concerned with the unexpected collision problem, e.g. someone adds a new dotorg pl

[2022-09-08 06:42] filipanoscampos commented on #49015
Another one, here: 36417156-hc

[2022-09-08 06:53] lukaszwilczakwilnet commented on #65447
Draft PR with adding video modal to editor: [#67536](https://github.com/Automattic/wp-calypso/pull/67536)

[2022-09-08 07:10] devNigel commented on #59566
Another report: 36828672-hc

Suggested copy pasting the color code.

[2022-09-08 07:23] #67519 closed, assigned to heavyweight

[2022-09-08 07:47] arcangelini opened #67538 "[Bug]: Support link for block description tracking broken"
### Quick summary

There appears to be an issue with the tracking of the support link block. As of August 19 there was a sharp drop in the amount of clicks. More details here - p1662467300871089-slack-CRNF6A9DX

[2022-09-08 08:05] alshakero commented on #67365
That's correct! Forgot to close this one.

[2022-09-08 08:05] #67365 closed, assigned to heavyweight

[2022-09-08 08:06] Greatdane commented on #49486
@vykes-mac It continues to happen for the user, even after we keep setting the view to default/Calypso. I can share a video privately on slack if that helps.

As @cecilearkay, clicking the back arrow in the browser will take you back to Calypso, but that is not ideal.

[2022-09-08 08:48] #67445 closed, assigned to arcangelini

[2022-09-08 08:53] #67453 closed, assigned to escapemanuele

[2022-09-08 09:02] #67439 closed, assigned to heavyweight

[2022-09-08 09:03] ivan-ottinger commented on #66971
Patch in development: D87401-code.

[2022-09-08 09:05] #67487 closed, assigned to renancarvalho

[2022-09-08 09:08] cpapazoglou opened #67541 "Plugins: Autoupdate toggle popover info shouldn't hide together with the label"
We are hiding the auto-update labels on Desktop and showing them only in Mobile. This includes the popover which should have been showing since it contains valuable information.

![Image](https://user-images.githubusercontent.com/12430020/189082917-e9d80452-7540-4519-845c-a5f99cf076ed.png)

Steps to reproduce:
- install `wordpress-seo` to any of your sites
- visit `/plugins/wordpress-seo`
- click

[2022-09-08 09:30] BogdanUngureanu opened #67542 "Marketplace: Add a short description about the plugin support policy"
### What

Add basic information about the plugin support policy in the Marketplace plugin details page. This can contain specific information about how we support that plugin. For example, we could add a custom message for WPJM that mentions that we  offer support only through email.

### Why

This came up during our WPJM investigation for the dotcom Marketplace. @ctdealba mentioned that we should

[2022-09-08 09:35] bogiii opened #67543 "Subscriber form: improve email validation, eliminate leading and trailing spaces"

[2022-09-08 10:09] #65463 closed, assigned to WBerredo

[2022-09-08 10:11] escapemanuele commented on #67293
@donalirl it is also necessary to add localization to the support articles presented.
Url has been translated, but translation for the support article for Post Content is still missing though.

[2022-09-08 10:17] #67101 closed, assigned to BogdanUngureanu, lukaszwilczakwilnet

[2022-09-08 10:22] cpapazoglou opened #67547 "Marketplace: Endpoint for creating a billing_intent"
A billing intent is the intention of a customer to go through with a transaction. The billing intent is created by a 3pd vendor after a customer selects their plan in the 3pd interfaces. Vendor should have a way to create [POST] this billing intent through an API.

- [ ] the endpoint accepts uuid (combination of user and site id), store_product_slug, price in usd, billing_interval ( monthly / annu

[2022-09-08 10:42] heavyweight opened #67549 "Add E2E for preselected free domain"
The [PR](https://github.com/Automattic/wp-calypso/pull/67332) created an incident where the preselected free domain for a customer was not respected.

We need to add E2E coverage for this scenario, to prevent this regression from happening.

[2022-09-08 11:02] Copons opened #67550 "Marketplace: Add new action hooks for subscription events to WPCOMSH"
Expose a new license_provisioned action hook in WPCOMSH that would be used by vendors to persist the license information on the Atomic site.

[2022-09-08 11:02] renata-franco commented on #50740
Thanks for the info @daledupreez. Do you think I should check on the site and clear cache manually if needed in the meantime or should I not offer that in this case?

[2022-09-08 11:07] Copons opened #67551 "Marketplace: Add integration to WP Job Manager add-ons"
Add Dotcom Marketplace integration and generic filters to control the WP Job Manager's built-in licensing notices.

To be more specific, the open-source WP Job Manager plugin will need a WPCOM specific implementation [in the third-party directory](https://github.com/Automattic/WP-Job-Manager/tree/trunk/includes/3rd-party) that would listen to the WPCOMSH `wpcom_marketplace_webhook_response_$produc

[2022-09-08 11:16] ivan-ottinger commented on #66971
D87401-code patch is now ready for review.

[2022-09-08 11:22] Copons opened #67553 "Marketplace: Communicate the support policy for WP Job Manager add-ons"
We should add a notice in the WPJM add-ons description mentioning that WPJM support is via email only to set the correct user expectations.

A nice to have for the Marketplace would be to handle support policies natively (as suggested in https://github.com/Automattic/wp-calypso/issues/67542), but it's not a blocker for the WPJM add-ons work.

[2022-09-08 11:30] #67543 closed, assigned to bogiii

[2022-09-08 12:20] #66089 closed, assigned to gcsecsey

[2022-09-08 12:31] #66975 closed, assigned to yansern

[2022-09-08 12:35] gavande1 commented on #67260
Deployed r252195-wpcom

[2022-09-08 12:35] #67260 closed, assigned to gavande1

[2022-09-08 13:02] ivan-ottinger commented on #66963
Initial investigation: Correct CSS file is applied. The issue seems to be related to the email content language.

[2022-09-08 13:08] daledupreez commented on #50740
Hi @renata-franco, I don't think my change is going to land before tomorrow, so we are unlikely to have an improvement in place for the next update tomorrow.

[2022-09-08 13:34] scruffian commented on #64917
I created a fix for this here: https://github.com/WordPress/gutenberg/pull/43981

[2022-09-08 13:55] #66976 closed, assigned to yansern

[2022-09-08 13:55] ivan-ottinger commented on #66976
The patch has been merged.

[2022-09-08 14:02] ivan-ottinger commented on #66963
Patch in development: D87426-code.

[2022-09-08 15:03] #66971 closed, assigned to ivan-ottinger

[2022-09-08 15:12] jamiepalatnik commented on #67382
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue on a free site as stated in the original report, and also on a Personal plan simple site.
- I was not able to replicate this on Premium, AT, or self-hosted sites. The top

[2022-09-08 15:35] jamiepalatnik commented on #67402
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to reproduce this in all my tests. I updated the title because I can reproduce this on the Chrome mobile browser too, not just Safari.
- Tested on iPhone 13 mini.
- I'm not sure if this is a bug or just expected

[2022-09-08 15:49] jamiepalatnik commented on #67476
📌 SCRUBBING : RESULT
- Tested on Simple - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was not able to reproduce this.
- Tested in Google Chrome and Safari.
- Tested starting with a free site and adding a paid plan during the site creation flow.

📌 ACTIONS
- Closed as could not replicate (please reopen if the issue reoccurs).

📌 Message to Author
- If you are still able to replicate, feel

[2022-09-08 15:49] #67476 closed, assigned to nobody

[2022-09-08 15:52] jamiepalatnik commented on #66653
@daria2303 Thanks for testing again! Moving this back to Needs Triage to see if anyone else is able to replicate.

[2022-09-08 15:57] jamiepalatnik commented on #67292
Based on thread linked above, this does seem to be expected behavior, so I'll close for now.

[2022-09-08 16:44] blackjackkent opened #67562 "Themes: Fix per-plan default themes, set Ecommerce default theme to Twenty TwentyTwo"
As discussed in this P2 comment thread p9Jlb4-575-p2#comment-5774, we should update the default selected theme for users on the eCommerce plan to be Twenty Twenty Two rather than the current Zoologist.

[2022-09-08 16:47] sdixon194 opened #67563 "[Bug]: Subdirectory Site Preview Duplicates Pathname"
### Quick summary

The component rendering the site preview URL is appending the pathname on top of the site URL (which already includes the pathname for sites in subdirectories), causing the site preview URL to look duplicated. I believe [this is happening here](https://github.com/Automattic/wp-calypso/blob/4c6a3e471be6b6b75112b28d8cddf2670cfd643a/client/my-sites/preview/main.jsx#L130).

![Screen

[2022-09-08 16:59] katiebethbrown commented on #67528
Adding a +1 as we ran into this testing some things on Team 51 as well.

[2022-09-08 17:03] Addison-Stavlo commented on #67321
I would go with the text and positioning in the design screenshot linked above, but maybe @nuriapenya has more specifics or updates?

[2022-09-08 17:15] vykes-mac commented on #49486
@Greatdane yes can you please share that video. How did you set it to default? the view preference fix will apply only if you change it to classic view -> visit a post-> return to all post -> change to default view again.

[2022-09-08 17:15] yansern commented on #67262
Merged.

[2022-09-08 17:15] #67262 closed, assigned to mashikag

[2022-09-08 17:26] #67336 closed, assigned to sharpirate

[2022-09-08 17:59] allilevine commented on #67223
We're likely not going to A/B test this change, but monitor clicks.

[2022-09-08 18:00] danielbachhuber commented on #66140
Fixed now with D87414-code

Started a conversation pdKhl6-GA-p2

[2022-09-08 18:00] #66140 closed, assigned to danielbachhuber

[2022-09-08 18:10] phcp opened #67565 "[Comment Approval] Fix email subject when the post has no title"
![Image](https://user-images.githubusercontent.com/3113712/189195969-ccbab4c2-13d2-4a90-9a66-5bc49671653d.png)

[2022-09-08 18:12] phcp opened #67566 "[New Comment] [Comment Approval] Hide URL on user info section when the comment_author_url isn't present"
![Image](https://user-images.githubusercontent.com/3113712/189195565-c7b155c2-daca-4afe-9a78-33ab5351bd5d.png)

[2022-09-08 19:44] masperber opened #67569 "Social Icons in Sidebar are Misaligned on Certain Themes"
### Quick summary

On certain Classic and Hybrid theme, the first Social Icon in a Social Icons Block will be misalgined with the other. So far, this has been identified and reproduced on themes Independent Publisher 2 and Baskerville 2

### Steps to reproduce

1. Create a site with one of the affected themes.
2. Add a Social Icons Block to the Sidebar and add at least 2 Social Icons to the block.

[2022-09-08 19:52] kimerlin81 commented on #67493
Another case of this reported:
5542072-zd-woothemes

[2022-09-08 20:03] masperber commented on #67569
- [ ] 5543483-zen for followup

[2022-09-08 21:30] allilevine opened #67574 "Marketplace: Add plan information step"
Add a Marketplace page that shows available plans, with the plan that allows plugins (currently Business) highlighted and plan details expanded. We should re-use existing Plans components as much as possible, but swap in Marketplace-specific plan details. Don't forget to test that our changes haven't affected the Pricing page.

Figma: HOg65lHD0QOfaq0QtzKQbC-fi-507%3A10329

We'll continue to iterat

[2022-09-08 21:37] allilevine opened #67575 "Marketplace: Show new Plans page before domain eligibility warning"
If a site is on a plan that doesn't allow plugin installation, we should show the new plan upgrade page from https://github.com/Automattic/wp-calypso/issues/67574 when "Upgrade and activate" is clicked.

Acceptance criteria:
- [ ] On any plan that doesn't allow plugin installation, the user is taken to the plan upgrade page before the domain eligibility warning.

[2022-09-08 21:39] allilevine opened #67576 "Marketplace: Redirect from successful upgrade back to plugin details page"
When a user successfully upgrades from a plugin details page, redirect them back to that page to install the plugin.

Acceptance criteria:
- [ ] A successful upgrade from a plugin details page redirects back to that plugin details page.

[2022-09-08 21:40] allilevine opened #67577 "Marketplace: Add A/B experiment for new plan upgrade flow"
We need to A/B test the new conversion flow we're implementing.

Resources:
- PCYsg-FpD-p2
- https://github.com/Automattic/wp-calypso/blob/trunk/packages/explat-client-react-helpers/README.md

Acceptance criteria:
- [ ] There's an experiment we can use.

[2022-09-08 21:56] AMcGrady commented on #63012
We have a user who is affected by this in 5538958-zen

I'm including their details here so we can follow-up with the user once this issue is resolved.

[2022-09-08 22:06] danielbachhuber opened #67580 "Site Switcher: Evaluate whether we can use useSiteExcerptsQuery"
The standard Redux `/rest/v1.2/me/sites` API request is quite slow for users with hundreds of sites. We could cut the request time in half if we could use `useSiteExcerptsQuery`.

However, `useSiteExcerptsQuery` only includes a subset of the Redux data, so we need to evaluate whether it has all of the data we need for the Site Switcher.

From pdKhl6-GX-p2

Related https://github.com/Automattic/wp-

[2022-09-08 22:17] danielbachhuber opened #67581 "Site Switcher: Improve perceived performance by rendering 50 sites at a time, but include hidden sites"
When a user has hundreds of sites, simply _rendering_ all of the sites in `<SiteSelector />` can be quite slow.

Fortunately, it's unlikely a user would scroll the entire list to find their site (they would search instead). As such, we can improve perceived performance by only displaying 50 sites at a time.

Additionally, with our 'Magic' sort mode default (#68173), we can remove the concept of 'H

[2022-09-08 22:42] danielbachhuber commented on #67040
Sounds good!

[2022-09-08 22:59] JessBoctor opened #67582 "Checkout: Add domain registration nudge in Checkout summary"
### What

While reviewing #67394, it occurred to me that there is no easy or intuitive way to get from the Checkout cart to search for a domain if only a paid plan is in the cart.

For example, this is the purchase benefits summary when only a plan is in the Cart:

<img width="349" alt="Checkout-Summary-Nudge-nolink" src="https://user-images.githubusercontent.com/12505355/189238260-e5a8cc78-3e89-4

[2022-09-08 23:13] sailerbe opened #67583 "[Bug]: Block color selector is not successful in applying the desired color"
### Quick summary

Block color selector is not successful in applying the desired color on https://wordpress.com/go/.

### Steps to reproduce

1. Create or edit a blog post on wordpress.com/go/.
2. Add a Table of Contents with the Table of Contents block
3. Use the block color selector to apply a background color to the table of contents
4. Update and view the live post

### What you expected to h

[2022-09-09 01:23] donalirl commented on #67293
Thanks! I've submitted it for translation. Ref: p1662686588197479-slack-C02AED43D

[2022-09-09 02:55] lsl commented on #66506
These are handled server side.

[2022-09-09 02:55] #66506 closed, assigned to nobody

[2022-09-09 03:07] p-jackson opened #67586 "Site Creation: Add ability to pre-select "import" goal when going through site creation flow"
When navigating to the site creation flow we should be able to pass a flag (e.g. `?goals=import`) that will pre-select the "import" goal when going through the site creation and onboarding flow.

![Image](https://user-images.githubusercontent.com/1500769/189264403-c9f3d0c4-e164-4ab2-b4fb-5f7d0255ed14.png)

When this flag is available, it will be used by the sites management page when they indicate

[2022-09-09 06:43] Robertght opened #67590 "Argent: Carousel block doesn't work with the Gallery or Tiled Gallery block"
### Quick summary

This is a follow-up on this one: https://github.com/Automattic/themes/issues/3531

When add a Gallery or a Tiled Mosaic block, the carousel won't show up as when creating a gallery with a tiled mosaic setup through the Classic block.

### Steps to reproduce

1. Create a project
2. Add a Classic block and create a gallery with a tiled mosaic. Check the results - there should be a

[2022-09-09 06:52] Robertght commented on #67528
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this as well. Moving this to Janitors

📌 ACTIONS
- Marked as Triaged for Cylon FSE
- Pinging @mpkelly or @fullofcaffeine if it's related to this: https://github.com/Automattic/wp-calypso/issue

[2022-09-09 08:08] epeicher commented on #64891
@robfelty , the following list of fields is used in the product details page but it is not currently returned by the `jetpack-search` index. Should I create an issue in Jetpack adding the following list fields to the `postmeta_to_sync` fields?

cc @cpapazoglou

[2022-09-09 08:39] renancarvalho opened #67592 "Task: Remove Horizontal scroll on small devices for LiB"
### Details

On small devices, on the setup step for LiB there is an unwanted vertical scroll

### Checklist

_No response_

### Related

_No response_

[2022-09-09 08:56] #67592 closed, assigned to renancarvalho

[2022-09-09 09:57] sejas commented on #67040
As discussed here: p1662676582363559-slack-C0347E545HR
We've decided to:
- Stick the button to the bottom of the sidebar
- Use the new button design, the same used on Site Switcher
-  Keep showing it for users with only one site

[2022-09-09 10:05] ivan-ottinger opened #67595 "[Comment Approval] [New Comment] Add margin to "comment-author-info" email template section"
More info in D87487-code.

[2022-09-09 10:06] ivan-ottinger commented on #67595
D87487-code patch is now ready for review.

[2022-09-09 10:06] sejas commented on #67323
PR https://github.com/Automattic/jetpack/pull/26015 Abandoned

[2022-09-09 10:06] #67323 closed, assigned to sejas

[2022-09-09 10:44] epeicher commented on #64939
The linked commit https://github.com/Automattic/wp-calypso/pull/67327/commits/3c0238c72c5e0d6d3c8b4378becfb7fa85593cd2 uses `author.raw` to do an exact match query and it fixes the issue searching for `litespeedtech` plugin but it _breaks_ other searches like searching for `developer:"Team Yoast"` which will only return one result.

I am going to investigate alternatives.

To summarise, the curren

[2022-09-09 11:46] ivan-ottinger opened #67597 "[New Comment] Fix subject lines of both emails (sent to follower and owner)"
According to the new email template design (c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A23435), the _New Comment_ WPCOM email template should have the following email subject:

`[{site_title}] {user_name} commented on {post_title}`

Currently, the subjects of the emails are as follows:
- email sent to the owner: `[{site_title}] Comment: "{post_title}"`
- email sent to the follower: `[New comment] {post_title

[2022-09-09 12:01] ivan-ottinger commented on #67565
Looking at the [Figma](c5bt2O2vWhTlhSREC89Bw2-fi-2658%3A24079), the new email subject should be in the following form: `[{site_title}] {user_name} commented on {post_name}` - basically the same as for the _New Comment_ emails (https://github.com/Automattic/wp-calypso/issues/67597).

[2022-09-09 12:15] renancarvalho opened #67599 "The domain step in /start has “Back to Sites” back button. It should have the flow title and WP logo"
### Details

Add header texts for tailored flows on domain / plans step

### Checklist

_No response_

### Related

_No response_

[2022-09-09 12:43] escapemanuele opened #67602 "Tailored Flow: Site description input should accept multi-lines"
Site description input should accept multi-lines, as in the designs.

![image](https://user-images.githubusercontent.com/52076348/189352569-42687f26-6823-48ed-907b-eaaa159d8e19.png)

[2022-09-09 12:47] agrullon95 commented on #67336
Launchpad enabling navigating back to `Add Subscriber` after task completion changes have been updated in #https://github.com/Automattic/wp-calypso/pull/67405.

[2022-09-09 12:57] mashikag opened #67603 "Newsletter Accent Color: Default state should be WP blue."
This seems to be a regression.

In case someone cannot reproduce it, please clear your local storage for the domain you are trying to access the screen from.

![Image](https://user-images.githubusercontent.com/2019970/189355784-cc3e838c-28d9-42c6-bba1-fc882a9f65d4.png)

[2022-09-09 12:58] ivan-ottinger opened #67604 "[New Comment] Review translations"

[2022-09-09 12:59] ivan-ottinger opened #67605 "[Comment Approval] Review translations"

[2022-09-09 13:09] Addison-Stavlo commented on #66575
very nice, closing this issue now as all tracked items are complete.

[2022-09-09 13:09] #66575 closed, assigned to nobody

[2022-09-09 13:30] Addison-Stavlo opened #67606 "Classic Themes Showcase - FSE themes prompt customizer"
Currently the classic themes showcase prompts variousn buttons to the customizer instead of the site editor when FSE theme is active/activated.

### To Repro

1. Visit the theme showcase in calypso
2. Set 'classic' from the view options in the top-right:
<img width="270" alt="Screen Shot 2022-09-09 at 9 24 24 AM" src="https://user-images.githubusercontent.com/28742426/189360173-86928a63-d3b7-4409-