[2021-08-26 00:42] gwensmithx opened #55735 "Facebook Page Plugin Widget Displaying URL Configuration Error on AT Sites"
### Steps to Reproduce

1. Add the Facebook Page Plugin Widget to an AT site in any widget area
2. Use any Facebook Page URL. I used this one as an example: https://www.facebook.com/walmart/
3. You may see the widget as expected in the editor but view the page and you will see this message: `It looks like your Facebook URL is incorrectly configured. Please check it in your widget settings.`

Scree

[2021-08-26 02:48] lsl opened #55737 "Update wc-calypso-bridge dependencies"
While trying to get dependencies updated I'm running into issue running the tests locally.

Likely plan: create a docker setup for wc-calypso-bridge that can run phpunit/mysql without messing with anything on the host system.

- [x] ~~https://github.com/Automattic/wc-calypso-bridge/pull/728~~
- [x] https://github.com/Automattic/wc-calypso-bridge/pull/731
- [x] Get testing running locally

[2021-08-26 02:52] lsl opened #55738 "Sync selected site-stickers into atomic persistent data"
A prerequisite to https://github.com/Automattic/wp-calypso/issues/55702 is to have site sticker flags available in the atomic context.

Context: p1629875515411900-slack-C7YPW6K40

- [x] Add persistent data when site stickers are saved in MC
- [x] Limit that to only site stickers within a hardcoded array in MC

For now, lets just do something in MC, we can do these things in a follow up:

- ~Adding

[2021-08-26 05:50] donalirl opened #55739 "Prompt to Set Primary Domain on All Paid Plans"
### What

Introduce a notice on sites that have a working custom domain (either registered, mapped, or transferred) but their primary domain is still set to the .wordpress.com or .wpcomstaging.com address. The notice will prompt the user to make their custom domain the site's primary domain.

### Why

A common support request from customers is asking "why does my site say .wordpress.com? I have a

[2021-08-26 06:35] lsl opened #55740 "Hide marketplace card in wc-admin"
Hide card or fix marketplace link in wc-admin.

https://localhost/wp-admin/admin.php?page=wc-admin

Before:
![Screenshot 2021-08-26 at 16-34-14 Home ‹ WooCommerce ‹ Test — WooCommerce](https://user-images.githubusercontent.com/811776/130913072-0b23397e-2fa6-457c-b0e1-1b9ab16ede33.png)

[2021-08-26 07:40] #55587 closed, assigned to chriskmnds

[2021-08-26 08:11] zdenys opened #55745 "Like Button: Clicking Like button and then the Follow button resets the state of the Like button until refresh"
### Steps to Reproduce

1. Click Like button on a post or page
2. Click Follow button

https://user-images.githubusercontent.com/39308239/130925938-70354365-5336-47cd-84fd-49cdb0a4c0eb.mov

### What I expected to happen

See the Like button preserve its state

### What actually happened

The Like button changes its apparent state to unclicked, until you refresh the page.

### Context

This reports

[2021-08-26 10:15] #49947 closed, assigned to nobody

[2021-08-26 10:51] #55712 closed, assigned to nobody

[2021-08-26 11:34] #55726 closed, assigned to nobody

[2021-08-26 12:11] #55735 closed, assigned to nobody

[2021-08-26 13:05] LauraSWP opened #55755 "Categories widget sorts Swedish characters in an incorrect alphabetical order"
### Steps to Reproduce

1.In My site → Settings set the site´s interface to Swedish.
2.Create post Categories or Tags with Swedish special characters ( Å, Ä, O ) My Site → Posts → Categories/Tags.
3.The titles are placed next to other titles that start with A or O normal characters instead of being at the end.
4.Navigate to Customizer and add Categories widget. Tick the box to Show as a dropdown.

[2021-08-26 13:34] kimerlin81 opened #55757 "Billing History: Print Receipt displays onscreen items"
### Steps to Reproduce

1. Start at **My Home**
2. Hover **Upgrades**
2. Click on **Purchases**
3. Click **Billing History**
4. Click **View Receipt** on any purchase listed.
5. Click **Print Receipt** at the bottom of the purchase details screen.

#4250230-zd

### What I expected to happen

Purchase details should print without the Billing Details description showing: **Use this field to add your

[2021-08-26 16:47] cuemarie opened #55764 "'Change site address' visible for AT sites"
### Steps to Reproduce

1. Open AT site
2. Go to Upgrades > Domains
2. Select "Manage" dropdown next to _Your free WordPress.com address is example.wpcomstaging.com_
3. See "Change site address"

Screenshot: <img width="1264" alt="Screen Shot 2021-08-26 at 9 41 24 AM" src="https://user-images.githubusercontent.com/27249804/131002211-447da725-2113-42b8-b66f-54561bb6164a.png">

Selecting that and at

[2021-08-26 19:54] noahtallen opened #55770 "ICFY Fails with JS heap error"
I have noticed several ICFY builds failing recently with the following error:

[code]

Here's an example: https://github.com/Automattic/wp-calypso/pull/55762/checks?check_run_id=3436610241

[2021-08-26 20:38] #55462 closed, assigned to dsas

[2021-08-26 21:10] jordesign opened #55776 "Publicize: Add clarity when sharing a post on a Private or Coming Soon site"
Currently when a post is shared on publish (using Publicize) this is done regardless of the visibility of the *site*. If the site is Private or 'Coming Soon' the post will still be shared even though the post is unavailable.

Could we introduce some kind of messaging, or notice to let the user know?

[2021-08-26 22:39] #55764 closed, assigned to nobody

[2021-08-26 22:49] #55357 closed, assigned to arthur791004

[2021-08-27 05:10] #55671 closed, assigned to nobody

[2021-08-27 05:42] p-jackson opened #55781 "Spike to investigate how "themes" can be shown in the design picker (as part of the `/start/site-setup` flow)"
p1629756241264800/1629755538.259700-slack-C029SB8JT8S

Quoting @ianstewart

It’s a known issue for HEs as people keep wondering where Reynolds is or Vesta or Bowen. Seems likely to increase if the designs on offer in a picker aren’t 1:1 with the showcase.

#55741 created a prototype design picker. How might we show the themes from `/themes/{ siteSlug }` in the design picker?

- Maybe we just only

[2021-08-27 05:51] p-jackson opened #55782 "The `site-setup` flow's design step runs headstart on the selected site"
The design picker introduced in #55741 doesn't do anything when a design is selected. It should run headstart on the site identified by the `siteSlug` query param and ensure it's homepage content matches the design.

Basically, after running the design picker step, the site should end up in the same state as if you'd gone through the `/new` flow and created a site with that design.

[2021-08-27 05:55] p-jackson opened #55783 "Add skip button to the `site-setup` flow's design picker step"
![Untitled](https://user-images.githubusercontent.com/1500769/131079348-eae3c829-ed66-453c-bffd-81bcd1bd541b.png)

The skip button should proceed to the next step in the `site-setup` flow (probably My Home if there's no other steps).

[2021-08-27 06:00] p-jackson opened #55784 "Add feature flag that directs users to `site-setup` flow after checkout/free-plan selection"
<img width="1766" alt="Untitled" src="https://user-images.githubusercontent.com/1500769/131079617-fd1bd8af-ca20-44e4-aae6-8180fce0e5a8.png">

We want to be able to demo the prototype of the flow that takes users from the checkout to the design picker and beyond (to My Home or the editor)

We can demo this with a feature flag like `/start?flags=signup/design-picker-after-checkout`
If the user uses

[2021-08-27 06:08] p-jackson opened #55785 "CMD+clicking the View Post link that appears post-publish doesn't open in a new tab"
By default cmd+clicking a link will open in a new tab. But doing this in the block editor on the View Post links doesn't work. So the appears to be something interferring with the default link click handling (right-clicking and opening in a new tab still works)

![image](https://user-images.githubusercontent.com/5665959/129976359-12f4613c-663b-44f1-9d24-515e7d58f124.png)

<img width="246" alt="Scr

[2021-08-27 06:42] #55770 closed, assigned to noahtallen

[2021-08-27 09:50] zdenys opened #55788 "Customizer: Clicking the pencil icon next to widgets doesn't do anything and should navigate to the Widget section instead"
### Steps to Reproduce

1. Open Customizer
2. Add at least one widget to any widget area
3. Click the pencil icon next to a widget

### What I expected to happen

Be redirected to Widgets subsection of the Customizer where I can actually edit the widget.

### What actually happened

Nothing happens

### Context

Manual testing

### Operating System

macOS

### OS Version

macOS BigSur 11.5.2

###

[2021-08-27 09:58] gavande1 opened #55789 "Marketplace: Handle plugin(s) installation after the plugin is purchased"
It should install required plugins when user purchase the product.

[2021-08-27 10:08] zdenys opened #55790 "Twenty Twenty-One: Footer credit cannot be changed on sites with site language set to Italian"
### Steps to Reproduce

1. Got to My Site → Settings → General → Language and set Italian as language
2. Navigate to My Site → Appearance → Customize → Site Identity → Footer Credit and try to change it

### What I expected to happen

See the selected footer credit

### What actually happened

Nothing happens. Footer remains `Con tecnologia WordPress.` where WordPress links to http://wordpress.org

[2021-08-27 12:14] #54448 closed, assigned to scinos

[2021-08-27 13:28] lsl opened #55794 "Remove old "Store on WordPress.com" stats page"
In conflict with core woo stats

pd8D2H-fu-p2#comment-90

[2021-08-27 13:59] rickmgithub opened #55795 "Social Icons legacy widget not showing on public site"
### Steps to Reproduce

When you add a legacy site icons widget and add links nothing shows on the public site.

URL - [https://jeffreyaguzman.com/](<https://jeffreyaguzman.com/>)

Editor view - [https://d.pr/i/L0Rk0t](<https://d.pr/i/L0Rk0t>)<br>Public site - [https://d.pr/i/Xc3NCb](<https://d.pr/i/Xc3NCb>)

I can replicate this consistently on a similar simple test site. Nothing appears on the p

[2021-08-27 14:27] gwensmithx opened #55796 "Two Factor Authentication (2FA) Missing +678 Vanuatu Country Code - Cannot Setup"
### Steps to Reproduce

In the 2FA settings on any WordPress.com account, the first steps ask to **Enter Phone Number** whether you are using SMS or an Authenticator app.

You will notice the country Vanuatu is not listed. This prevents 2FA from being setup.

![image](https://user-images.githubusercontent.com/15944096/131474985-dcbbe54b-914c-490a-8d4d-8496379b5c72.png)

### What I expected to happ

[2021-08-27 14:37] #55586 closed, assigned to tjcafferkey

[2021-08-27 18:10] supernovia opened #55801 "Offer site redirect when users change free subdomain url"
### What

When a user changes their URL, offer to redirect the old one to the new adddress

### Why

We have a process for changing free site URLs:
https://wordpress.com/support/changing-site-address/

Typically that's used by folks with brand new sites who are just changing their minds. But sometimes we'll find someone who has an established, well-indexed site, who wants to go through a rebrandin

[2021-08-27 18:44] #54459 closed, assigned to creativecoder, jeyip

[2021-08-27 23:28] gavande1 commented on #55574
@tjcafferkey Both the diff are part of this issue. The D65972-code provides a base for marketplace products and the  D65426-code is the endpoint that consumes the base code.

[2021-08-28 09:02] edwinho89 commented on #55344
4254899-zen

[2021-08-28 09:03] gaurav1984 commented on #53978
I have closed 4105885-zen. Please reply to the customer once the issue is resolved.

[2021-08-28 10:08] kspilarski commented on #55344
4255054-zen

[2021-08-28 13:15] carinapilar opened #55807 "Settings: Date and Time Format Isn't Saving"
### Steps to Reproduce

1. Set your interface language to "Português do Brasil" on your WordPress.com account's settings
2. Go to your site's Writing settings, on Configurações > Escrita
3. Click on "Formato de data e hora" (Date and time format)
4. Change from/to the first and last custom option
4. Click on "Salvar configurações" (Save settings)
5. Refresh the page.

### What I expected to happen

[2021-08-28 13:32] Aurorum commented on #55801
@supernovia I'm happy to work on this, but I'm a little confused about the Site Redirect upgrade.

Scenario: someone wants to change the site address of their well-established blog from `cat.wordpress.com` to `dog.wordpress.com`

Are they able to just purchase the Site Redirect upgrade for `dog.wordpress.com` or don't they need to register that site address and import all their content from `cat.w

[2021-08-28 15:19] RealCarFax commented on #55696
I have just encountered this with another legacy widget: Music Player. With the Mailchimp blocks on the homepage, the Music Player widget will not load content, once removed the widget works as expected. Reported in 4253535-zd-woothemes

[2021-08-28 15:26] sajmes opened #55808 "Feedback Button issue in Block Editor and Block Widget Editor"
### Steps to Reproduce

1. Add a Feedback Button to widget area from Customise > Widgets
2. Add a Feedback Button to a page using the Block Editor

### What I expected to happen

1) In the widget editor, I expected to be able to edit settings for the Feedback Button, including the text of the button itself and other settings.

2) In the Block Editor on a page, I expected to be able to edit the set

[2021-08-28 16:07] sajmes commented on #50560
31369280-hc - possibly already reported but adding to ensure they are notified once resolved.

[2021-08-28 17:39] mikeicode commented on #55365
Simple site Photography theme 4254576-zd-woothemes

[2021-08-28 18:24] supernovia commented on #55801
Hi! So if they had cat.wordpress.com and renamed to dog.wordpress.com...

Currently, when they rename:
- all of the content would be moved to dog.wordpress.com
- cat.wordpress.com would be deleted
- If they want to redirect, they would have to contact support right away to have the address restored
- Next they'd go to https://wordpress.com/domains/add/site-redirect/
- They would need to select cat

[2021-08-28 20:36] jordesign commented on #55788
Closing in favour of #55365

[2021-08-28 20:36] #55788 closed, assigned to nobody

[2021-08-28 20:52] Aurorum commented on #55801
Thanks for that explanation. I'm still struggling to picture a functioning flow for this in my mind - maybe you could help clear up anything I'm misunderstanding? Would the flow look like this:

1. User accesses Confirm Site Address Change modal on cat.wordpress.com
2. They have an option to purchase the Site Redirect upgrade which they're keen on
3. The Site Redirect upgrade for dog.wordpress.com

[2021-08-29 02:56] retnonindya opened #55810 "Block Editor Widgets: Blog Posts block displaying post full contents despite "Display Excerpt" is active"
### Steps to Reproduce

1. On Customizer > Widgets, make sure the widgets area is using Block Editor

2. Add Blog Posts block on the widget area

3. Notice how the Blog Posts block should display post excerpts

![Screenshot 2021-08-29 at 10 17 09 AM](https://user-images.githubusercontent.com/44726232/131236689-94316afa-a7f0-4917-be81-09ae92a41e5b.png)

4. Also, noticed the expected display on Cust

[2021-08-29 04:08] inaikem opened #55811 "Customizer: Tap/swipe to scroll menus is unusable on mobile screens with longer menus"
### Steps to Reproduce

1. On a mobile device in normal portrait orientation, visit a site with a large menu at: `Appearance > Customize > Menus > [Menu]`.
2. Try to consistently scroll down the panel to the "Reorder" button without inadvertently rearranging the menu items.

### What I expected to happen

I expected to not affect existing menu item ordering when tapping/swiping to scroll in the Cu

[2021-08-29 05:40] inaikem opened #55812 "SFTP: User-level SFTP access + access controls"
### What

Create SFTP credentials on a user-level, not a site level

### Why

Site owners may need to provide 3rd parties with SFTP access to their site. We currently provide this in the form of a single username/password for the entire site.

For larger sites with multiple users potentially needing access, having a single set of credentials is not ideal and adds management overhead that can be av

[2021-08-29 05:44] inaikem commented on #55812
Related request brought up in 4256564-zen.

[2021-08-29 06:02] donalirl commented on #52907
Another request for this here: #4251361-zen

[2021-08-29 06:33] goblinartificer opened #55813 "Atomic: display name not synced with WordPress.com, no longer changeable in WP Admin"
### Steps to Reproduce

On an Atomic site, attempt to change your display name by accessing the WP Admin > Users > Edit process. You'll need to switch screen view on the Users page, and Profile consistently takes you to https://wordpress.com/me/ instead either way.

### What I expected to happen

You should:

- either be able to edit your display name, as you used to be able to; or
- your posts' d

[2021-08-29 10:17] formosattic commented on #55801
Thanks for the suggestion @supernovia.

Interestingly, we used to offer the option to keep the old URL, the site would then become a brand new empty site. It'd indeed be helpful to reinstate it to prevent any unexpected loss.

![image](https://user-images.githubusercontent.com/15944096/131246668-5b904d55-121f-499f-a3ef-b36412fb9903.png)

This was available via a WP Admin workflow, documented at ht

[2021-08-29 11:40] oyadeyiseun commented on #55344
4254519-hc

[2021-08-29 17:03] NoHopeRadio opened #55814 "Support for uploading .vcf files"
### What

Support for .vcf files to the media folder

### Why

Says a user:

I would like to provide a download similar to how you share a pdf but a vcf
instead, that would allow customers to import our contact information directly
into their contact list.
See what we are using for our Business Card page and generated a QR code using
'https://www.the-qrcode-generator.com/' to allow our customers t

[2021-08-30 00:45] jordesign commented on #46077
Just re-opening this as the fix is still inbound in the next Jetpack release on Sep6. I'll test and close the issue once the fix is confirmed.

[2021-08-30 00:46] jordesign commented on #55813
Closing this in favour of https://github.com/Automattic/wp-calypso/issues/46077 (which I will keep an eye on)

[2021-08-30 00:46] #55813 closed, assigned to nobody

[2021-08-30 02:06] katiebethbrown opened #55815 "Feature Request: Allow Customers to switch between from Annual to Monthly or Multi-Annual to Annual plans"
### Steps to Reproduce

1. Start on a site with an annual Premium plan.
2. Add a higher plan (eCom in this case) to the cart
3. Click on edit to change the term.

### What I expected to happen

To be able to select a monthly plan.

### What actually happened

I can only select between one and two year annual plans.

<img width="580" alt="nomonthly" src="https://user-images.githubusercontent.com/42

[2021-08-30 02:14] jordesign commented on #55795
I haven't been able to recreate this (yet).

When using the legacy widget block, selecting the Social Icons block and editing it - I *do* get the icons showing. This is on a Simple Site/Premium Plan.

Have we been able to recreate this issue elsewhere?

<img width="1319" alt="Screen Shot 2021-08-30 at 12 14 17 pm" src="https://user-images.githubusercontent.com/1842363/131275973-b5a03aec-73fd-43be-

[2021-08-30 03:18] jordesign commented on #55795
I've also been able to get this working on the user's site - so I've replied in 4250489-zd-woothemes to ask them to confirm. Closing this Issue for now.

[2021-08-30 04:36] goblinartificer commented on #54990
An interesting rendition in 4257432-zen today: the colors look right _until_ you try to apply any other text decoration, then only the bold/underline/etc shows up. The preview is right, but the editor is wrong.

[2021-08-30 05:21] jordesign commented on #29215
I just stumbled across this in my own testing - giving it a nudge and adding it to the Blogger Experience pod for a look.

Can confirm that a contributor still sees 'Publish' as the main prompt until they click, and *then* are shown 'Submit for Review'

### Editing as a Contributor

<img width="1485" alt="Screen Shot 2021-08-30 at 3 15 28 pm" src="https://user-images.githubusercontent.com/1842363/

[2021-08-30 05:24] #55737 closed, assigned to lsl

[2021-08-30 06:29] rinazrina commented on #55344
4240748-zd-woothemes

[2021-08-30 06:32] lsl opened #55820 "Deploy Woo on Plans changes in wc-calypso-bridge"
Update: With https://github.com/Automattic/wp-calypso/pull/60231, https://github.com/Automattic/wc-calypso-bridge/pull/734 is no longer required in it's entirety. It's still worth while to leave wc-calypso-bridge testing in better shape. Removed blocker priority from this issue and moved to sprint 3.

Tasks:
- [x] Close out https://github.com/Automattic/wc-calypso-bridge/pull/734
- [ ] Merge on it

[2021-08-30 07:41] razvanpapadopol opened #55821 "Editor Welcome: overlay controls are hidden on large touch devices"
### What
Currently, welcome tour overlay controls (minimize and close buttons) are hidden on devices with a viewport width larger than 480px and displayed only when hovered with a mouse. We should either show the controls everywhere or target the touch-enabled devices instead of mobile resolutions to make them visible.

### Why
Users should be able to control the editor welcome tour on touch-enabl

[2021-08-30 07:44] formosattic opened #55822 "WooCommerce alters theme customizations, site display"
WooCommerce Core issue tracked at https://github.com/woocommerce/woocommerce/issues/29996

Let's use this thread to gather WordPress.com user reports.

User reports:

* 31322225-hc – After going through the WooCommerce setup, the theme (Storefront) was no longer displaying as expected. For example, the header and footer areas are missing.
* 31093495-hc – The homepage was changed after installing W

[2021-08-30 08:30] inaikem commented on #55517
I revisited my test for the initial report as part of the new issue reported in [godaddy-wordpress/coblocks#2004](https://github.com/godaddy-wordpress/coblocks/issues/2004).

An "X" button used to clear the currently set image is now visible, so I've closed the other issue for the moment.

Please reopen this one if the issue appears again!

[2021-08-30 08:37] allanftd commented on #55283
User 31050448-hc followed up on a new chat today 31164559-hc saying they still have consistency issues with Views data. Screenshot - https://d.pr/i/OclEJP

[2021-08-30 08:40] formosattic opened #55825 "eCommerce Plan – WooCommerce > Coupons doesn't load"
### Steps to Reproduce

Go to WooCommerce > Coupons

### What I expected to happen

Get redirected to https://ecommercemaywood.wpcomstaging.com/wp-admin/edit.php?post_type=shop_coupon

![image](https://user-images.githubusercontent.com/15944096/131311491-7af4d2a9-e414-40e8-982e-ee7e82e55c90.png)

### What actually happened

Error message `Sorry, you are not allowed to access this page.`

Redirecte

[2021-08-30 08:49] razvanpapadopol opened #55826 "Editor Welcome: instructional graphics for mobile UI"
### What

When displaying the Editor Welcome tour on mobile, we should show instructional graphics relevant to the mobile screen resolution.

Some of the slides included in the tour are generic (eg: block, block toolbar, drag & drop) but some of them show the editor UI ( p1629901900075300/1629899413.074600-slack-C029WSAQMT9 ) and probably those would need a mobile version.

Latest update on Slack:

[2021-08-30 09:03] razvanpapadopol commented on #52280
### Aug, 30 Update

All the previous issues are now fixed by using the new welcome tour also on mobile (#55791) and by displaying the overlay control buttons all the time on mobile resolutions (#55754).

<img width="319" alt="Screenshot 2021-08-30 at 11 38 39" src="https://user-images.githubusercontent.com/14192054/131312635-1efc62ab-1f12-4631-aa12-bfba4e4887a6.png">

We've also created these new

[2021-08-30 09:24] cpapazoglou commented on #55662
Since Ajax is split in two different pods which don't focus on the Editor experience, I will add this to the Manage Backlog so that it can be triaged accordingly.

[2021-08-30 09:42] Copons commented on #54459
Astounding job here @jeyip! ✨

[2021-08-30 09:44] DavidSaladu commented on #55365
Reproduced as well in 4255598-zd-woothemes
I reproduced the bug as well on this conditions:
- The site uses Twenty-Twelve
- Google Chrome Version 92.0.4515.159 (Official Build) (x86_64) on macOS 11.3.1

[2021-08-30 09:45] diegoreymendez commented on #29734
Hey, apologies!  It seems I dropped the ball on this one for some reason.

That said given that now Gutenberg is the default editor in WP.com I'm wondering if we can close this issue.  I know there are plugins to disable it, but I'm wondering if it makes sense for us to spend time testing for external plugins.

My take is that we can probably just close this issue.

[2021-08-30 09:59] poojashetty18 opened #55827 "Plan upgrade not visible on Dashboard"
### Steps to Reproduce

1. Upgrade to a Business plan
2. The dashboard will still show "Free" but you can find the correct plan active on My Sites > Upgrades > Plans

<img width="1447" alt="Screenshot on 2021-08-30 at 12-46-50 (1)" src="https://user-images.githubusercontent.com/44837596/131322700-c3d1e2a1-0876-4e92-804a-2cb0904cc33d.png">

### What I expected to happen

The dashboard should show t

[2021-08-30 09:59] BogdanUngureanu opened #55828 "Task: Document Purchase delete and cancel API endpoints"
### Details

Currently, the parameters for V1 API endpoints /me/purchases/:purchase_id/cancel and /me/purchases/:purchase_id/delete are not documented. While `delete` only requires a purchase_id, the cancellation endpoint requires multiple parameters, based on the product it has to cancel.

It's important to note the the V1 endpoints might be replaced by new V2 endpoints that also have documented

[2021-08-30 10:22] poojashetty18 commented on #55827
Seems like a known issue: https://atomicuniversity.wordpress.com/what-is-atomic/atomic-101-common-issues/incorrect-or-missing-plan/
So closing this for now

[2021-08-30 10:22] #55827 closed, assigned to nobody

[2021-08-30 12:17] JenSwish opened #55832 "Feature Request: Jetpack Search Add-On Receipts Refer to Items Instead of Records"
### What

Please update the Billing History and receipts to use the term "records" in Jetpack Search receipts instead of "items."

### Why

[Jetpack Search's pricing structure](https://jetpack.com/support/search/product-pricing/) refers to "records" and not "items." This is confusing for users who are trying to determine by what scale they are being billed.

See 4254028-zen for reference.

### How

[2021-08-30 14:42] andres-blanco opened #55834 "Subscriptions Emails: Define a way to implement the new email templates"
In order to start working on the new email templates we need an action plan that should cover at least the following items:

* How emails are constructed and sent right now in Simple & Atomic.
* How are we going to test the new templates.
* Internationalization (?)
* How the transition from testing to live will be handled.

[2021-08-30 14:52] andres-blanco opened #55835 "Subscriptions Emails: new "Confirm Follow" email template"
Apply the new template to the `Confirm Follow` email.

This is the current template:
![image](https://user-images.githubusercontent.com/375980/131357596-080b96a4-eed8-4481-ac97-581482a99f5c.png)

This is what we aim for:
![image](https://user-images.githubusercontent.com/375980/131357728-ce6ae4e5-4552-41cf-b2ab-6e4cf4f31c3f.png)

The new design is based on the P2 emails so those can be used for re

[2021-08-30 15:56] katiebethbrown commented on #55822
There is also an issue for this in the Woo repo:

https://github.com/woocommerce/woocommerce/issues/29996

[2021-08-30 15:56] andres-blanco opened #55836 "Subscriptions Emails: new Follow Confirmation email template"
Apply the new template to the `Follow Confirmation` email.

This is the current template:
![image](https://user-images.githubusercontent.com/375980/131368118-74ac9876-721d-428d-8579-83b3385e2f5f.png)

This is what we aim for:
![image](https://user-images.githubusercontent.com/375980/131368000-1d6b71cf-8f61-42b8-a99c-ac580d995e48.png)

[2021-08-30 16:36] dpasque opened #55837 "Playwright: Make sure our transitioned scripts work for CoBlocks process."
### Details

We have a dedicated DevOps process (can be found in FG) for making new custom builds of CoBlocks to include on simple sites.

We recently transitioned the CoBlocks script, and should make sure that process works with the newly transitioned scripts.

### Checklist

- [ ] We will probably need to make a new `jest` config for just the CoBlocks scripts
- [ ] We will need to update the Tea

[2021-08-30 16:40] sixhours commented on #55685
One of the console errors in the original report suggests a plugin may still be active because it includes the plugin directory `/wp-content/plugins/autodescription/`, so that's something to try for that user; make sure all plugins are deactivated.

I'm not able to reproduce this on my Atomic test site in:

Mac 11.5.2 / Firefox 91
Mac 11.5.2  / Safari 14.1.2
Mac 11.5.2  / Chrome 92

Windows 10 / E

[2021-08-30 17:15] Aurorum commented on #55801
@supernovia @formosattic What are your thoughts on this dialog?

Before site address change has taken place:

<img width="645" alt="Screenshot 2021-08-30 at 18 03 58" src="https://user-images.githubusercontent.com/43215253/131378067-24340035-4ef2-4a0b-833f-2101d406a646.png">

After site address change has taken place, assuming the address has not been removed:

<img width="607" alt="Screenshot 202

[2021-08-30 17:23] dpasque commented on #55822
@formosattic It looks like folks are adding user reports right directly on the Woo issue - I'm going to close this issue for now to avoid any confusion or missing reports on that issue!

Folks should still be able to find this issue to find the link to the Woo one.

Please let me know if you have any concerns with that and we can re-open!

[2021-08-30 17:23] dpasque commented on #55822
Closing - please see and comment on Woo issue: woocommerce/woocommerce#29996

[2021-08-30 17:25] andres-blanco opened #55838 "Subscriptions Email: Define wording for the Confirm Follow template"
We should define the wording we want to get in our new Confirm Follow template.

This is what we have now:
![image](https://user-images.githubusercontent.com/375980/131379406-8fffc050-04fc-402d-a10e-497cf8187713.png)

[2021-08-30 17:28] dpasque commented on #55822
@formosattic Actually, winding that back, sorry, I can now see how closing this now might be confusing as folks are trying to track and follow this!

For folks monitoring the Triage Queue for fixes, you can ignore this issue, as it is being tracked and fixed in the Woo repo!

Also, if folks have new user reports, it would probably be best to add those directly to the Woo issue.

[2021-08-30 17:30] Harshit3211 commented on #45449
Hi, I want to take this issue. I am completely new to this open-source stuff.

[2021-08-30 17:37] dpasque commented on #55825
For Flow Manage folks - is this an issue with navigation on WordPress.com? If it's a bug specific to Woo, I will then move this to the Woo repo!

[2021-08-30 17:50] DavidRothstein commented on #55832
Looks like this appeared as a side effect of https://github.com/Automattic/wp-calypso/pull/50028 (it's the default fallback text added there).

Possibly we should just remove that fallback behavior; I'm not sure "Purchase of 129 search records" is going to make any more sense than "Purchase of 129 items" (people don't purchase search records -- they purchase for a particular tier).  Also if this w

[2021-08-30 17:55] sixhours commented on #55685
Checked out one of the users' sites and tried to reproduce the issue by activating all the same plugins and theme, but no dice. Obviously there are a lot of variables here, so short of an affected site letting us go in and play around with the site settings to recreate and debug it, there's not much we can do.

[2021-08-30 18:11] supernovia commented on #55801
Hmmm, my user instincts may be off on this one, but I'm guessing people won't think about a redirect until presented with the option.  And yeah @formosattic  -- I remember that option.

Just spitballing as this would certainly need more eyes on it to get the wording and logic right. Maybe we would need to keep without redirect option off to avoid confusion. But maybe something like this?
<img widt

[2021-08-30 18:35] supernovia commented on #2527
Weird, this mention just showed up 😬
I am fairly certain this is still an issue, but someone who works more with suspended sites would know better. I'll ping the right folks.

[2021-08-30 19:07] Robertght commented on #55685
@sixhours I agree. I remember a similar case with the autodescription plugin previously and turning that off fixed the issue. this appears to be fixed here by the plugin author:

https://wordpress.org/support/topic/wordpress-com-business-plugin-causing-error-when-editing-post/

@Nic-Sevic @retnonindya can you double-check this as well with your users, please?

[2021-08-30 19:24] KirkwallDay commented on #55365
Another instance here: 6475965-Hc

[2021-08-30 19:37] sixhours commented on #55696
I added a legacy Video widget to my site after disabling block widgets, and I'm getting the same error MediaElement error without having adding any other blocks save for a paragraph. 🤔 I'll test the Music Player widget next.

[2021-08-30 19:46] Robertght commented on #55437
Another case in 4243856-zen. The workaround through wp-admin/widgets.php did the trick.

[2021-08-30 19:47] sixhours commented on #55696
Yeah, same issues with the Music Player by itself. This leads me to think something else is broken here. Looking at the commit history around media players/MediaElement to see if something's happened recently.

[2021-08-30 20:17] sixhours commented on #55696
Chasing down the bug; the failure happened sometime between r230556-wpcom on Aug. 19th and r230601-wpcom on Aug. 20th. Reverting my sandbox back to r230556-wpcom fixes the issue, and it's broken by r230601-wpcom. Will do a manual bisect and see if I can trace it to the specific commit.

[2021-08-30 20:29] sixhours commented on #55696
Traced it back to r230592-wpcom; the media player element works for the commit before this one, and stops working when fast forwarded.

/cc @gravityrail Hey hey! Looks like https://github.com/Automattic/jetpack/pull/20730 might have broken the legacy media player widgets (Video, Music Player, maybe others). Could you take a look?

Once those widgets are back in working order, I'll check out the po

[2021-08-30 20:39] JenSwish commented on #55832
The tier is determined by the number of records the user's site has, they don't have the ability to choose. The tier can also fluctuate if the user's record count increases or decreases.

@DavidRothstein could the messaging be updated to something like:

**Tier:** Up to 999 records; currently using X records.

---

Per the [Search Product Pricing](https://jetpack.com/support/search/product-pricing

[2021-08-30 20:59] jordesign opened #55844 "Task: Spike on bringing the 'Discover' cards endpoint experience to Calypso/Desktop"
### Details

The mobile apps have a fancy new 'Discover' page for the reader where users can select some tags of interest and start getting a customized feed. The framework and endpoints for this are reportedly available and accessible for us to use - but haven't been hooked up...

![Uploading Screen Shot 2021-08-31 at 6.57.49 am.png…]()

If this is a task that is not *too* great (I imagine it wou

[2021-08-30 20:59] jordesign commented on #55844
Doc on endpoints for the experience: P5PDj3-4T9-p2

[2021-08-30 21:02] supernovia commented on #26850
@roccotripaldi I'm seeing the correct theme URLs now -- are you too?  If so we can probably go ahead and close this.

[2021-08-30 21:03] sixhours commented on #55524
I created a "podcast" site with an episode and looked through the XML; all the recommended fields are included:

✅  **Podcast RSS feeds must include a valid, crawlable image**
Specify the image for your podcast using any one of these elements:
`<googleplay:image>`
`<itunes:image>`
`<image>`

✅  **Podcast RSS feeds must include a description**
A user-friendly description of your podcast must be inc

[2021-08-30 21:11] supernovia commented on #15191
Taglines seem to be showing up now 👍 I'll close this.

[2021-08-30 21:11] #15191 closed

[2021-08-30 21:36] gravityrail commented on #55696
Cc @kraft @sergeymitr @fgiannar do you want me to take a look at this or do you want to tackle it?

[2021-08-30 21:37] gravityrail commented on #55696
Could it be missing out conflicting polyfills or something?

[2021-08-30 21:39] worldomonation commented on #55718
I got data from the Marketing team.

I won't post the screenshots here, but you can see it here: p1630021773003900-slack-C029GN3KD

It looks like for desktop, we have 1920x1080 taking narrow lead over 1366x768.
The screen resolution chart doesn't distinguish mobile, so I am going by guess here, but it would appear 414x896 is the largest share of mobile-esque resolution.

[2021-08-30 21:40] worldomonation commented on #55718
What this data shows us aside from resolution, is that we should test both Chrome and Safari to get the most coverage, and run tests with Windows where possible.

The Windows part is a tough issue to solve, though 😆

[2021-08-30 22:07] worldomonation opened #55845 "Playwright: remove clearAuthenticatedState from library."
### Details

Intermittently, the `clearAuthenticatedState` method flakes out:

[code]

### Checklist

- [ ] Investigate behavior of the clearAuthenticatedState.
- [ ] Stress test any changes

### Related

_No response_

[2021-08-30 22:30] jordesign opened #55846 "Domains: Domain upsell email appears to ignore mapped .blog subdomain"
### Steps to Reproduce

1. start a new site with a personal plan or higher
2. map/connect a .blog subdomain (wakeupwith.mixtape.blog)
3. wait for the marketing emails

### What I expected to happen

`wakeupwith.mixtape.blog` is technically a custom domain - so we should not receive reminders/emails about adding a custom domain to replace the wpcom address.

### What actually happened

at about the

[2021-08-30 23:52] worldomonation commented on #55717
Back to being on hold as it may not be necessary now that MediaHelper methods are running async.

[2021-08-31 00:53] hacchism commented on #55365
Another report: 31387545-hc
Simple site with Sela theme.

[2021-08-31 04:41] arthur791004 commented on #55782
I think maybe we don't need to do anything for this one. As the new flow is the same as `with-design-picker` flow, it already has this feature. In the `DesignPicker` component, it would set the `selectedDesign` via `submitSignupStep` and the `selectedDesign` would be used in `getNewSiteParams` to get the params to create new site.

[2021-08-31 04:45] arthur791004 commented on #55781
Currently, the themes of the design step come from `available-designs-config.json` and the themes of `/themes/{ siteSlug }` page come from `/rest/v1.2/themes`. However, the themes from API response don't have `categories` so that we cannot display the list of categories on the new design picker.

[2021-08-31 06:07] Robertght commented on #55757
Thank you for reporting this @kimerlin81 ! Adding to to the Flow Patrol inbox.

[2021-08-31 06:31] Robertght commented on #55790
Thank you for reporting this @zdenys ! It looks like it's all the same with other languages so I'm closing this in favor of this:

https://github.com/Automattic/themes/issues/3723

[2021-08-31 06:31] #55790 closed, assigned to nobody

[2021-08-31 06:49] goblinartificer opened #55851 "Wanderer: Jetpack carousel width non-responsive on mobile"
### Steps to Reproduce

1. On a simple Premium site, activate Wanderer.
2. Set up a Gallery block on any page or post. Publish it.
3. View the page on mobile (or in a browser simulating mobile), and click on an image to bring up the lightbox.

### What I expected to happen

The carousel/lightbox should work like it does on mobile - both arrows visible, etc.

### What actually happened

Only part o

[2021-08-31 06:52] arthur791004 commented on #55604
I'm confused about what's the difference from https://github.com/Automattic/wp-calypso/pull/51501

[2021-08-31 06:53] goblinartificer commented on #55851
note to self ⁠— user follow-up at 4260909-zen

[2021-08-31 07:27] fstath commented on #52209
This is happening when copying a post.

- OS: Windows 10 (64-bit)
- Browser: Chrome 92.0.4515.159
- Forum post: https://wordpress.com/forums/topic/copy-post-fails-to-save-still-not-fixed/

[2021-08-31 07:27] formosattic commented on #54936
From further testing, text caption remains but text links and any content after will get removed.

Issue happens on Simple sites, and Atomic sites (wether Gutenberg disabled or not).
Also happens on .org with just CoBlocks, so reported it at https://github.com/godaddy-wordpress/coblocks/issues/2009

Updated the initial report with a workaround.

[2021-08-31 08:23] philnick206 opened #55854 "Block pattern previews don't load consistently and show text only, no thumbnails"
### Steps to Reproduce

1. Create a new post or page
2. Go to insert a Block Pattern
3. Select Gallery or Contact category from the drop-down

### What I expected to happen

All preview thumbnails for all patterns should load, starting from the top and going down

### What actually happened

The first several pattern previews never load, while some lower down in the list do

<img width="602" alt="

[2021-08-31 08:24] scinos opened #55855 "Task: Convert monorepo packages to ESM"
### Details

Since we moved to Node 16 we can use ESM packages without any experimental flag as they are considered stable. We can convert all packages in our repo.

Useful reads:
* https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c
* https://2ality.com/2021/06/typescript-esm-nodejs.html

### Instructions

#### For all packages
1. Do a major version bump in `package.json`, as th

[2021-08-31 08:55] scinos opened #55858 "Convert ./packages/babel-plugin-transform-wpcalypso-async/package.json to ESM"

[2021-08-31 08:57] scinos opened #55859 "Convert ./packages/babel-plugin-i18n-calypso/package.json to ESM"

[2021-08-31 09:00] formosattic commented on #55814
Leaving this request open but noting that .vcf isn't part of the default WordPress.org configuration, see https://codex.wordpress.org/Uploading_Files

### Workarounds

Add this snippet ([hat tip](https://www.billerickson.net/code/enable-vcard-upload/)) to `functions.php`, can use [Code Snippets](https://wordpress.com/plugins/code-snippets/) for that:

[code]

Or a simple way is to upload the .vcf

[2021-08-31 09:08] formosattic commented on #55796
Vanuatu indeed is missing from the two-steps authentication setup.

Updated report with screenshot.

[2021-08-31 09:19] arthur791004 commented on #55784
We also need to consider the following cases:
- The user closes the checkout from masterbar. See: `clickClose`
- The user removes all of cart items. See: `redirectDueToEmptyCart`
- The user completes the checkout. See: `useCreatePaymentCompleteCallback`

[2021-08-31 09:28] razvanpapadopol opened #55860 "Domain Picker: broken UI for HSTS notice popover"
### Steps to reproduce the behavior

1. Go to [wordpress.com/new](https://wordpress.com/new)
2. Click on _Choose a domain_ button in the header
3. Search for "mysite.page"
4. Click on the Info icon next to the domain suggestion

#### What I expected to happen
To be able to read the HSTS notice when clicking the Info icon

#### What actually happened
The popover is rendered with a very small width

[2021-08-31 09:44] formosattic commented on #55807
I was able to reproduce with other languages , setting both Date and Time to Custom just won't save.
English was fine for me as well.

![troubleshooting](https://user-images.githubusercontent.com/15944096/131480478-9749698f-d561-4ad3-9c3c-208d522f7d9b.gif)

When testing other options for Time, the Custom will start showing extra slashes.
![image](https://user-images.githubusercontent.com/15944096/

[2021-08-31 09:50] Copons commented on #54460
Code is ready, but we are keeping this on hold until we are closer to the Beta roll out.

[2021-08-31 10:03] Copons opened #55861 "Full Site Editing on Dotcom: Remove the edge sticker"
Sites created through the Horizon FSE flow, and eventually through the Beta flow, are currently provided a `gutenberg-edge` sticker which loads the most bleeding-edge version of the Gutenberg plugin.

This has been valuable during the development, as all Core Gutenberg fixes would show up on Dotcom almost immediately, but we have also seen a lot of breakages caused by using an unstable version of

[2021-08-31 10:21] formosattic commented on #55755
This is due to the WordPress.com databases using Latin1 ([see ref.](https://wordpress.com/support/incompatible-plugins/#my-plugin-says-the-database-doesnt-support-a-character-set-what-do-i-do)) character set, so that default setting can't be changed.

That said, it's possible to convert character set it if the site is on a Business plan.
The fix would require the character encoding of the database

[2021-08-31 10:21] #55755 closed, assigned to nobody

[2021-08-31 12:37] carinapilar commented on #52209
Another report: https://wordpress.com/pt-br/forums/topic/erro-ao-salvar-alteracoes-no-post/ - asked to clear cache, or try a different browser.

[2021-08-31 13:15] sixhours commented on #55344
Heads up, I chatted with @Robertght yesterday and realized I was wrong! The non-legacy Instagram blocks are available to **all users**,  not just premium, so that's a solid workaround.

[2021-08-31 13:21] sixhours commented on #55524
Since it looks like we align with the new standards, I'm closing this as fixed! Feel free to reopen if I've missed something.

[2021-08-31 13:21] #55524 closed, assigned to sixhours

[2021-08-31 13:23] yansern commented on #55344
Hi, I don't understand what non-legacy Instagram blocks mean? Are there 2 different Instagram blocks on WPCOM?

[2021-08-31 13:26] sixhours commented on #33775
It looks like this was fixed at some point:
<img width="368" alt="Screen Shot 2021-08-31 at 9 25 48 AM" src="https://user-images.githubusercontent.com/2124984/131510570-4d2e8eae-5d80-486a-bfd7-e5e3d81963fb.png">

Closing for now. :)

[2021-08-31 13:58] sixhours commented on #55259
It looks like we don't even include "Viewer" as a role in the badge text function so it's just falling back to "Follower":

https://github.com/Automattic/wp-calypso/blob/c7f615f7a3deb6cb6f27e703df6f4d2754d763df/client/my-sites/people/people-profile/index.jsx#L37

I can probably fix that so it's less confusing, at least.

[2021-08-31 14:31] andres-blanco commented on #55834
Most of the email is handled in this class: `wp-content/mu-plugins/email-subscriptions/subscription-mailer.php`. It’s a rather contrived piece of code but it contains most of the notification email sending logic. For each notification to be sent, there’s a specific method that handles the preparation and the sending of the email.
On Atomic sites a request is made from Jetpack using the `jetpack.su

[2021-08-31 14:40] sixhours commented on #55259
Aha, looks like we need to use `getWpcomFollowerRole` in the pending invites list rather than looking at `user.role` directly, since the role is still `follower`, we just call it "Viewer" if the site is private. Will work on that.

[2021-08-31 14:58] kspilarski opened #55864 "Feature Request: Gallery block - order images Setting"
### What

In the gallery block, allow to order images by date, date added, chronological order, etc.

### Why

In a gallery block, adding new images will display the images at the bottom of the gallery. If there are loads of images in the gallery, moving the images using left or right arrow may take time. However, if there's a setting to select the order of images, the image will be displayed in a

[2021-08-31 15:27] kraftbj opened #55865 "sameSite cookie issues with stats.wp.com/w.js"
### Steps to reproduce the behavior
In this particular case, I:
1. Started a JN site and view the Jetpack dashboard.
2. View the console.

#### What I expected to happen
No errors

#### What actually happened
![2021-08-31 at 10 24 AM](https://user-images.githubusercontent.com/88897/131530993-935b0c34-f91a-40e8-a0e8-e08d1505e72a.png)

### Context
a8c tracks call in stats.wp.com/w.js which is the or

[2021-08-31 15:35] michaeldcain commented on #55832
@bluefuton: we wanted to put this on your radar. We might remove the "{quantity} items" fallback, but it's low priority in our backlog. If y'all want to implement a search-specific label, like Titan's "{quantity} new mailboxes", it'd probably be a nice improvement for our users.

[2021-08-31 15:36] sixhours commented on #55344
Yep! There are three. Two modern blocks and one legacy widget:

<img width="374" alt="Screen Shot 2021-08-31 at 11 35 06 AM" src="https://user-images.githubusercontent.com/2124984/131532535-77c6f3c7-fd4c-4559-85ed-3406925afd28.png">

^ That's searching for Instagram in the Customizer -> Widgets -> Block widgets area. The the two modern blocks still work, the legacy one is broken.

[2021-08-31 16:03] sixhours commented on #55497
I have a hunch this has to do with not being able to display external domain names (like wp-themes.com) within an iframe from a custom domain.

That seems to be the case on my *.blog site, but not on *.wpcomstaging.com. It also happens for themes that we technically host (like Illustratr -- illustratrdemo.wordpress.com) because the Showcase is looking at the WP.org showcase for a demo site first.

[2021-08-31 16:13] worldomonation opened #55868 "Playwright: do not differentiate between desktop and mobile test runs in suite/test title."
### Details

Initial discussion started in this Slack thread: p1630358982030600/1629989584.003500-slack-C01QG4Y91RR

Idea is to combine the mobile and desktop runs of the test suite/step into one aggregate statistic, so we can better track flakiness (if any) together.

### Checklist

_No response_

### Related

_No response_

[2021-08-31 16:22] sixhours commented on #55497
Yeah, there's likely something about some demo links that can't be previewed in the iFrame due to limitations of `WebPreview`:
https://github.com/Automattic/wp-calypso/blob/trunk/client/components/web-preview/README.md

But we should look at two things:

* Why is the API throwing 404s for some themes?
* Why are we looking to WP.org for demo sites when we have demo sites for many of these themes al

[2021-08-31 17:18] villanovachile commented on #43919
Another report here: 30584481-hc

[2021-08-31 17:48] cuemarie commented on #53159
Another report here: 31421583-hc

[2021-08-31 18:06] tbradsha commented on #34324
Confirmed this is still an issue in macOS 11.4 + Chrome 92.0.4515.159 + Gutenberg 11.3.0

[2021-08-31 18:47] isocialtish opened #55873 "Full Site Editing on Dotcom: When editing Header Menu, buttons overlay and unable to edit"
### Steps to Reproduce

1. In Site Editor
2. Click on Header-Footer only Layout.
3. In the Header, click on the navigational menu block.
4. Note how buttons were overlaying on the menu, so I can't even navigate how to edit the menu
<img width="1409" alt="Screen Shot on 2021-08-31 at 08-33-10" src="https://user-images.githubusercontent.com/6664819/131558707-553e8c00-5d6d-4364-a483-9a5be2fa102e.png"

[2021-08-31 19:34] mreishus opened #55875 "Customizer: Block Widgets: Changing settings causes active section to change"
### Steps to reproduce the behavior

1. Visit the customizer of a simple site (Apperance -> Customize)
2. Click on 'Widgets'
2. If applicable to your theme, choose an area like 'Sidebar' or 'Footer'
3. Click inside a block widget, (or add a simple paragraph block if you don't have one and click in it)
4. Click on the 3 dot menu in the floating Gutenberg toolbar
5. Click "Show more settings"
6. Cha

[2021-08-31 20:18] mreishus commented on #55825
@dpasque I'm not 100% sure, but after an initial investigation I'm leaning towards this being a woocommerce issue. I'm seeing the code for adding this menu item and handling where it goes to located here: `woocommerce-admin/src/Features/Coupons.php` and `woocommerce-admin/src/Features/CouponsMovedTrait.php`, which belongs to the woo repo.

[2021-08-31 20:45] fullofcaffeine commented on #55661
We actually use it every week for GB upgrades and make sure they are passing. It's true that these are more prone to failures due to how Gutenberg intersects with many other areas of the WPCOM app, which is under constant development throughout the week. I think @Automattic/cylon keeps an eye on those tests, too.

[2021-08-31 20:46] DavidRothstein commented on #55832
This is a historical receipt, so we wouldn't show the current records there.  (Possibly could show them on the purchase page via https://github.com/Automattic/wp-calypso/issues/55090 though.)

My thought above was that the "Tier: Up to 999 records" part would probably be enough, and that showing the exact number of search records associated with the historical payment would only be marginally usef

[2021-08-31 21:00] jonny-a8c commented on #54149
4259508-zen

Atomic site cannot import to Squarespace.

[2021-08-31 21:00] kcswong commented on #55259
Ah, I had totally skipped the final step of accepting the invitation! I got so caught up in getting this reported, so sorry about that. Going back and reading over the original chat with the user, I think this may have been something they missed as well, that the invited viewers needed to accept the invitation and be logged in, in order to see the Private site.

[2021-08-31 21:16] mreishus commented on #55796
* Patch to add to country code list: D66157-code

While this definitely adds it to the list, a more important question is, will sending SMSes to the Vanuatu country work? I have no way to test.
We use twilio to send SMSes for us. While [the capabilities for VU listed on their guidelines page](https://www.twilio.com/guidelines/vu/sms) look quite sparse, [their pricing page for VU does list per mess

[2021-08-31 21:23] dpasque commented on #55661
I definitely we should migrate these in Playwright!

In fact, I'm working on that right now as part of task #55715

What I'm doing right now is looking at all the `wpcom` specs from a high-level perspective, cross-comparing them with some of the already migrated `calypso` specs, and re-mapping the existing cases to remove some duplication and allow more granular execution.

I will have a P2 post s

[2021-08-31 21:44] dpasque commented on #55825
Based on investigation, this has been transferred to the woocommerce/woocommerce-admin repo here: https://github.com/woocommerce/woocommerce-admin/issues/7603

Closing this issue in this repo for now!

@formosattic @mreishus

[2021-08-31 21:44] #55825 closed, assigned to nobody

[2021-08-31 21:45] hacchism commented on #55344
Just to clarify, the Instagram modern block is just for embedding a single Instagram post. So it wouldn't work as a replacement for the legacy Instagram widget. The Latest Instagram Posts block would definitely work as a solid workaround though.

[2021-08-31 21:51] mirka commented on #55598
We are seeing a crashing bug in P2 Editor when triggering the main block inserter or block transform popover.

May or may not be something that needs to be addressed on the P2 Editor side. (cc @johngodley)

[2021-08-31 23:59] sbathompson-he opened #55877 "Video Widgets: Not displaying on certain pages"
### Steps to Reproduce

1. Visiting the home and about pages, one sees that the videos on the sidebar widget don't display
2. Going to the users Customizer, the videos do show and play on all pages

### What I expected to happen

All videos should show on all pages at all times

### What actually happened

They only show on 4 out of the 6 pages

### Context

Video attached

https://user-images.git

[2021-09-01 00:27] katiebethbrown commented on #43982
Another report in 31425815-hc

The site was private. Had them switch to Coming Soon to resolve.

[2021-09-01 00:58] jsnmoon opened #55879 "Block Widget Editor: Incorrect styling for select and popover"
#### Steps to reproduce

**For the selects:**

1. Start at `/wp-admin/widgets.php`.
2. Open a sidebar and add a block that includes a select element, such as Jetpack Search Widget or the Links widget.

**For the new block popover:**

1. Start at `/wp-admin/customize.php?autofocus%5Bpanel%5D=widgets&return=%2Fwp-admin%2Fwidgets.php`.
2. Add multiple blocks so that the Customizer sidebar becomes ver

[2021-09-01 02:14] retnonindya commented on #54271
Reopen the issue. I received report from user:
30866458-hc

HEs able to replicate it too (even unproxied):
p1630462059384100-slack-C03TY6J1A

[2021-09-01 03:24] katiebethbrown opened #55881 "Sela: Clicking on Widget Edit Icons in Customizer Preview Does Not Open Widgets For Editing"
### Steps to Reproduce

1. Open the Customizer
2. In the preview pane, click on a blue pencil icon to edit a widget.

### What I expected to happen

The widget to open in the sidebar for editing.

### What actually happened

Nothing at all. Clicking the pencil/edit icons on widgets has no effect. There are no console errors reported.

GIF:
![widgeteditbuttons](https://user-images.githubusercontent

[2021-09-01 03:57] arcangelini commented on #55344
@hacchism from what I was testing the `Instagram` block is indeed for 1 post, but the `Latest Instagram Posts` should give you the options like the legacy widget.

### Findings
I spent some time digging into this and thought I would share my notes. It looks like this was an issue that popped up last year ( p1584639644028100-slack-CKZHG0QCR, pb5gDS-mB-p2#comment-1021 ). `wpWidgets.save` is how the

[2021-09-01 04:33] arthur791004 commented on #55782
We can use the following API to run headstart
[code]

[2021-09-01 06:09] hacchism commented on #55344
Thanks @arcangelini! Yes, I'm aware of that and mentioned it in my comment above too👍

[2021-09-01 06:12] Robertght commented on #51013
I can confirm this happens on my end as well and to fix it, I had to re-add the slideshow again.

[2021-09-01 06:30] Robertght commented on #32964
This is still an issue:

![image](https://user-images.githubusercontent.com/6737345/131622697-e3203ff2-3164-44f3-8eec-83f2e6728ad8.png)

@sixhours is this something that can be looked into by Flow Patrol Manage?

[2021-09-01 06:48] Robertght commented on #55879
Hey @jsnmoon!

If it helps, this is what I see on my end:

![image](https://user-images.githubusercontent.com/6737345/131624926-a79c87a8-c369-4a94-9a1f-63f2c3d40351.png)

I can see this might be similar to the work done here: https://github.com/Automattic/jetpack/pull/20731#issuecomment-900683870

[2021-09-01 06:52] Robertght commented on #55877
@sbathompson-he Thank you for reporting this!

I've got a few questions:
- Is this happening on a user's site? If yes, could you share the ticket/chat ID with us?
- Also, are there any browser console errors?
- Are the videos coming from the same source/

[2021-09-01 06:59] ogodoabiola commented on #55683
4258551-HC

[2021-09-01 07:57] lsl commented on #55406
https://github.com/Automattic/wc-calypso-bridge/pull/732#issuecomment-909849626

[2021-09-01 07:57] #55406 closed, assigned to nobody

[2021-09-01 08:00] Nic-Sevic opened #55887 "Crowdsignal block cutting off poll"
### Steps to Reproduce

1. Add crowdsignal block to page
2. add longish content
3. try to skip a required answer and see content pushed down and inaccessible

### What I expected to happen

either the content should resize or the iframe should

### What actually happened

the content just gets clipped and can't be accessed

![2021-09-01 at 10 57](https://user-images.githubusercontent.com/47717887/

[2021-09-01 08:04] galakhyati opened #55888 "The blog preview not showing when embedding WordPress blog links"
### Steps to Reproduce

1. On the page editor, paste the link to a post. URL: https://vietnamhoonist.com/2021/08/31/tong-hop-tin-tuc-thang-8-2021/ It doesn't unfurl, but only shows a link that is embedded without any preview on the editor.
2. When previewing the page, it doesn't show the preview of the post shared, it only shows a link.
3. Shared another link from the same site on the editor, it u

[2021-09-01 08:05] lsl commented on #55422
- https://github.com/Automattic/wc-calypso-bridge/pull/729
- https://github.com/Automattic/wc-calypso-bridge/pull/738
- https://github.com/Automattic/wc-calypso-bridge/pull/739

This issue is functionally complete and merged into the woop branch on bridge and will be released behind a feature flag with:

- https://github.com/Automattic/wc-calypso-bridge/pull/734

[2021-09-01 08:05] #55422 closed, assigned to lsl

[2021-09-01 08:42] donalirl commented on #55826
Images for slides 1, 3, 5, and 7:
[Editor welcome tour mobile graphics.zip](https://github.com/Automattic/wp-calypso/files/7089580/Editor.welcome.tour.mobile.graphics.zip)

Slides 2, 4, and 8 have graphics that already apply to mobile and desktop, so they do not need new graphics.

Slide 6 demonstrates the undo button, but there is no undo button on mobile (at least not on my phone or the emulator

[2021-09-01 09:24] cpapazoglou opened #55893 "Marketplace: Change Add Plugin page menu item and links to redirect to Calypso plugins"
### Details
Depends on: #55894

In order that Simple & Atomic sites are aligned regarding the entrypoint of discovering plugins (both wp.org and wpcom), we should redirect Add New (plugin) in Calypso `/plugins/[DOMAIN]`

Related P2: pdh6GB-2S-p2#comment-109

### Checklist

- [ ] Using the feature flag, Redirect `Add New` menu item to Calypso
- [ ] Using the feature flag,  Redirect `Add New` link f

[2021-09-01 09:34] cpapazoglou opened #55894 "Marketplace: Universal feature flag(s) for Simple, Atomic"
### Details

Since we are going to be changing the left navigation menu, we will need a feature flag or blog sticker that can work in Simple & Atomic context.

We can explore using the jetpack xmlrpc response as we did with nav-unification
wpcomsh/blob/ece3b6846da967cdab077fc581df6a5665f20068/feature-plugins/masterbar.php#L142

### Checklist

_No response_

### Related

_No response_

[2021-09-01 09:58] zdenys opened #55895 "AMP: White banner with `Save` button partially overlays the left sidebar"
### Steps to Reproduce

1. Go Atomic
2. Visit AMP section in the dashboard (plugin version installed should be 2.1.4)
3. Scroll up and down

### What I expected to happen

No overlay of the white banner with `Save` button with the left sidebar

### What actually happened

White banner of the AMP plugin with `Save` button partially overlays the left sidebar

### Context

Manual testing

### Operati

[2021-09-01 10:08] Copons commented on #55861
It will be fixed by D66082-code (already approved).

[2021-09-01 10:16] Robertght commented on #55568
Thank you for reporting this @martynmjones !

I can confirm this is an issue on my end as well. Flagging this for @Automattic/flow-patrol-create

[2021-09-01 10:46] philnick206 commented on #55683
Reported in #4264347-zen

[2021-09-01 11:18] Nic-Sevic commented on #55696
reporting another instance of this not related to mailchimp - 4263294-zd-woothemes
Other music player widgets load fine but the failing one is giving this type error in the console:
`TypeError: Cannot read property 'get' of undefined
    at ke._createWidget (https://s0.wp.com/wp-content/plugins/gutenberg-core/v11.3.0/build/customize-widgets/index.min.js?m=1629313645h&ver=653f1bfd12e48a78895eb0cc6a

[2021-09-01 12:39] roo2 commented on #44658
I created an alternate approach in D66115-code by sepperating out the module level checks and the like buton checks and updating the API to return a canLike flag.

[2021-09-01 13:02] zdenys commented on #55895
Resizing the browser window can help reproduce the issue more easily:

https://user-images.githubusercontent.com/39308239/131675775-0dd41421-c4db-4888-b357-376557e48df2.mov

[2021-09-01 13:20] zdenys opened #55896 "My Home: `Visit site` button should open the site in a new tab"
### What

Make  `Visit site` open in a new tab as other support links

### Why

Links in My Home section either open in a modal window or in a new tab. This helps keep the main dashboard view always active without switching context.

In contrast, `Visit site` button at top right opens the site in the same tab. For a new user it may be unclear how to go back to the dashboard.

Also, the `Visit site

[2021-09-01 13:32] zdenys opened #55898 "Atomic Upgrade Flow: Add more detailed information about subdomain change and link to the support document"
### What

Add more detailed information about subdomain change and link to the support document

### Why

The current message displayed when attempting to install a plugin for the first time is this:

[code]

![image](https://user-images.githubusercontent.com/39308239/131679609-eb227781-d795-475a-bfb5-1986027d78be.png)

### How

We can provide a more detailed message about the change in the site a

[2021-09-01 13:48] sixhours commented on #32964
👋 @Robertght An oldie! This looks right up our alley, yep.

[2021-09-01 13:51] zdenys opened #55902 "WooCommerce Onboarding: Task List not created in WooCommerce > Home when the plugin is installed to make WordPress.com site go Atomic"
### Steps to Reproduce

1. Start with a monthly or yearly WordPress.com Business Plan Simple site (that has never had any plugins or custom themes installed yet)
2. Install WooCommerce from My Site > Plugins > Add New
3. Be redirected to WooCommerce > Home

### What I expected to happen

See the Task List named `Get ready to start selling` similar to this one (from another testing site of mine).

[2021-09-01 13:51] sixhours commented on #55696
👋 @Nic-Sevic That looks like a separate issue; could you open a new ticket and add more reproduction details? What other widgets/blocks are active on the page/post where the music player is broken? Thanks.

[2021-09-01 14:04] zdenys commented on #51347
### Issue
With [Classic view](https://wordpress.com/support/dashboard/#access-wp-admin) (aka WP Admin aka Nav Unification), the `My Site` button changes its behavior. When clicked it opens the site in the same tab. This is confusing because leaving the dashboard is not optimal.

### Suggested solutions
One should remain in the same context or, if the above behavior needs to be kept, at least make

[2021-09-01 14:55] mreishus commented on #55757
#55867 is deployed; the helper text and the border for the field will no longer be displayed while printing.

[2021-09-01 14:55] #55757 closed, assigned to mreishus

[2021-09-01 14:56] razvanpapadopol commented on #51162
## Medium mobile screens

The slimmer version would probably work on most of the mobile resolutions. I've tested with 375px wide viewport (iPhone 6/7/8) and EN locale.

https://user-images.githubusercontent.com/14192054/131691829-cb7f9bb7-0fff-43ab-889d-a4ddc0f3a626.mov

I've also tried a version with a bit more margin on the right as mentioned in https://github.com/Automattic/wp-calypso/pull/4036

[2021-09-01 15:26] saygunnyc commented on #55835
Sharing the latest with the updated copy over here. @provenself

<img width="1281" alt="Emails" src="https://user-images.githubusercontent.com/78876323/131698675-a8ebf2a2-42d7-4f85-98f7-6dd22a1f2428.png">

____

Uploading the SVGs for branding.

[SVGs.zip](https://github.com/Automattic/wp-calypso/files/7092397/SVGs.zip)

____

Sharing colors here for visibility.

<img width="882" alt="Colors" src=

[2021-09-01 15:30] saygunnyc commented on #55838
Sharing this over here for the latest copy reference.

<img width="1281" alt="Emails" src="https://user-images.githubusercontent.com/78876323/131699849-bcdcb629-ca9c-4ca8-ab4b-7de28fabc13b.png">

@provenself and I might have found a way to unblock us from the follow/subscription language challenge over the emails, leaning towards using the words “updates” and “settings”.
Updated copy for the 3 ini

[2021-09-01 15:45] sixhours commented on #55497
Here's where I'm at so far:

* At the time the Theme Showcase first loads, `getCanonicalTheme` returns an `undefined` source for those themes with broken demo site links, which causes `getTheme` to return `null`, and therefore breaks selectors like `getThemeDemoUrl`: https://github.com/Automattic/wp-calypso/blob/trunk/client/state/themes/selectors/get-canonical-theme.js
* This happens with themes

[2021-09-01 15:51] sixhours commented on #55497
I did find a revision of Calypso that did *not* have this behavior going back a few months 05c2d14 so I'm running a git bisect to see if I can track down the culprit.

[2021-09-01 16:04] renata-franco commented on #52209
New report here: 30193600-hc. User was using Brave browser.
They changed to Firefox and the issue stopped. 31438850-hc

[2021-09-01 16:07] jonny-a8c commented on #50560
31301902-hc (Atomic)

[2021-09-01 17:13] darnelldibbles commented on #52209
Another report in https://wordpress.com/forums/topic/a-fantastic-morning/
Clearing cache did not fix the issue, but Microsoft Edge worked.

Generated link: https://www.whatsmybrowser.org/b/GHZKG

[2021-09-01 17:51] darnelldibbles commented on #52209
Another report in: https://wordpress.com/forums/topic/you-are-not-allowed-to-edit-this-post/

Generated link: https://www.whatsmybrowser.org/b/QUEHW

[2021-09-01 18:09] cuemarie commented on #55365
Another report here: 4261519-zd-woothemes
Simple Site; Retired Theme - Bueno

[2021-09-01 19:01] jsnmoon commented on #55879
Hey @Robertght! These styling issues were observed in Firefox; I believe it works as expected in the latest Chrome.

[2021-09-01 19:17] creativecoder commented on #28694
Still valid. Added to Caribou Reindeer pod's project board for triaging, in case it's a fit for current priorities.

[2021-09-01 19:44] creativecoder commented on #26072
Still relevant.

Also, see this comment about where the Podcast settings are located since the nav unification: https://github.com/Automattic/wp-calypso/issues/26071#issuecomment-910643612

[2021-09-01 20:38] sixhours commented on #55497
The breaking commit happened in this PR, when Design Selection made a big update to the Showcase: #54361

[2021-09-01 21:10] creativecoder commented on #54460
Noting here what I mentioned in Slack to help keep track of it:

Let's add a note to each of the relevant tracks events after this has been deployed so that it's more obvious why the event counts are low (can't have events triggered in the sidebar if there's no sidebar 😄)

[2021-09-01 21:14] sethmclellana8c opened #55908 "First-line indent slider option for paragraphs"
### What

A slider option in the paragraph's block menu to enable first-line-only indenting (like a tab in a classic document)

### Why

I've run across a few people lately who've requested this. Some people like the classic formatting look (like a book). Others may be used to writing in Word docs (where a tab or margin adjustment to top-line indents are readily available).

In any case, there sho

[2021-09-01 21:32] AtrumGeost opened #55909 "WooCommerce Category Product sorting not working only on Atomic sites"
### Steps to Reproduce

1. Create/publish some products and assign a category to them
2. Head over to **WooCommerce > Categories**, click on the number next to the category
3. Once you are on the category products dashboard, click on the **Sorting** link at the top
4. Drag products to reorder them
5. Refresh the page and notice the changes are not saved

https://user-images.githubusercontent.com/3

[2021-09-01 21:35] zachspears opened #55911 "Post emails not properly embedding videos."
### Steps to Reproduce

1. Sign up for post email updates.
2. Create a post with Youtube or WordPress video embedded.
2. Email received will not have videos embedded correctly.

### What I expected to happen

Emails should embed Youtube and WordPress videos.

### What actually happened

Videos appear as links instead of being embedded.

### Context

29985590-hc
4266406-zd-woothemes

Post emails ar

[2021-09-01 21:39] mreishus commented on #55875
This is theme dependent.

Twentyninteen, twentytwenty, twentytwentyone - Only the first change sends you back to the block
Independent Publisher 2, Sapor - All changes send you back to the block
  * These contain a customizer.js with a "Contains handlers to make Theme Customizer preview reload changes asynchronously." comment in it, which may be responsible. 144 themes in total have this!

https:/

[2021-09-02 00:13] synora commented on #55815
Triaged. Can replicate.

[2021-09-02 02:00] lsl opened #55916 "Upsell to business during premium signup needs new copy"
When upgrading from a free plan to a premium plan you are given a upsell interstitial after checkout completion.

This page attempts to upsell you to business using the plugins feature as the selling point.

Will need to either:

- [ ] Just disable it completely
- [ ] Reword the copy to adjust to plugins being available on other plans
- [ ] and adjust the buttons to better refect other plan option

[2021-09-02 02:07] lsl commented on #55916
@cpapazoglou This ticket is probably something the marketplace pod should work on. Highlighting or advertising the marketplace here might be better than just disabling the upsell completely.

@niranjan-uma-shankar :wave: seeing you in the `git blame`, is this upsell still important? Does it drive any sales?

@ianstewart / @semihakocer will need product decision at some point.

[2021-09-02 02:13] edwinho89 commented on #55054
31447198-hc

[2021-09-02 02:16] lsl opened #55917 "Marketplace: Update plugins upsell nudges to better reflect when / if users need to upgrade to a paid plan"
The plugins page has upsell to business banners when viewing the page from a non business plan.

These need updating to suggest upgrading to any paid plan.

Before
![Screenshot 2021-09-02 at 12-15-11 WooCommerce Plugin ‹ Woop Test 1 — WordPress com](https://user-images.githubusercontent.com/811776/131770513-9ad8428f-29f1-4830-95db-a8f13c2afb1e.png)

[2021-09-02 02:29] hacchism commented on #53204
Another instance: 4266685-zen

[2021-09-02 02:32] lsl commented on #55917
@cpapazoglou This is likely a marketplace pod task, was thinking the banner might trigger a transfer and ended up getting into the code before realising it wasn't what I was looking for.

Anyone can take this over if it helps https://github.com/Automattic/wp-calypso/pull/55918

[2021-09-02 03:55] edwinho89 commented on #52209
29779279-hc

Generated link: https://www.whatsmybrowser.org/b/0D8Y1

User mentioned they were using Brave browser

[2021-09-02 04:38] p-jackson commented on #55300
#55436 has merged

[2021-09-02 04:57] p-jackson commented on #55566
There seems to be two problems described in this issue description:
1) The grey "set featured image" button is missing in the pre-publish panel
2) We should explain what a featured is and why it's important.

I think it makes sense to continue discussion about (2) in the GB repo WordPress/gutenberg#30904

(1) is fixed by ampproject/amp-wp#6563 which has been released in v2.1.4
The amp plugin on at

[2021-09-02 05:08] arthur791004 commented on #55566
Yeah, I only deal with the first one. Oh, I don't know how to update the version for simple sites 😞 Learned and let me take a look for that posts.

[2021-09-02 05:53] lsl opened #55920 "Change AT storage level eligibility to account for different plans"
Change AT eligibility to account for different plan levels.

tbd, I think we have something different for each plan level this will need to be replicated to the code responsible for `/sites/<site>/automated-transfers/initiate`

[code]

[2021-09-02 06:21] donalirl commented on #51556
To date, we have had over 3,000 customers contact us in chat with confusion over the abandoned cart notification. Here is a recent example: #14081679-hc

I think that emptying the cart upon exiting checkout is a helpful solution that would prevent customers from needing to contact us about this. Is there scope to bump up the priority on this one @michaeldcain?

[2021-09-02 06:30] zdenys commented on #55898
Posted about the above here: p7DVsv-cyS-p2#comment-37498

[2021-09-02 06:38] p-jackson commented on #55566
pdgK6S-5M-p2

[2021-09-02 06:52] niranjan-uma-shankar commented on #55916
I don't have them most recent analysis, but here's the analysis from last year - pbxNRc-lW#comment-508 (cc @victorespigares).

You must be knowing this but just to highlight, there are a lot of mentions of plugins on Business plans across many of our landing pages. Those would need to addressed too.

[2021-09-02 07:07] donalirl opened #55921 "Show Registrar Name for Domains Connected from Other Registrars"
### What

For mapped/connected domains, change the generic "managed by external provider" text to say "Registered with [REGISTRAR} and populate [REGISTRAR} with the user's domain provider.

### Why

When viewing wordpress.com/domains/manage for a site, mapped/connected domains show a generic message "managed by external provider". This text remains the same no matter if the domain uses our name se

[2021-09-02 07:12] donalirl opened #55922 "Incorrect Title on Mapped/Connected Domains"
### Steps to Reproduce

On a site with a mapped/ connected domain:

1. Go to Upgrades → Domains to view Site Domains
2. Click the mapped domain
3. Observe the title says "Managed by external provider Settings"

### What I expected to happen

I expected a title such as "Connected Domain Settings", similar to how registered domains say "Registered Domain Settings" in this spot.

### What actually ha

[2021-09-02 07:40] cpapazoglou commented on #55916
Thanks for the ping. For the V1 of the marketplace, we are targeting Business and Ecom users, we will prioritize this for the V2!

[2021-09-02 07:52] cpapazoglou commented on #55917
Yeah, the banner say explicit what it does. It is just a CTA to buy the Business plan. You will need to visit this page again and install a plugin so that the AT transfer kicks off.

Rewording it is a little bit tricky:

Marketplace V1
- All plugins we will offer require the woo plugin, so a Business or higher plan is required (at least until woo works on all plans)
- Installing any other plugin,

[2021-09-02 07:57] donalirl opened #55923 "Google Analytics: Update Link to Google Support Page"
### Steps to Reproduce

1. Go to Tools → Marketing → Traffic.
2. Scroll down to Google Analytics
3. Click on the link "where can I find my Measurement ID?"
4. Notice there is no mention of the measurement ID on this page.

### What I expected to happen

To see instructions on how to find my measurement ID.

### What actually happened

I was taken to a Google support page that does not mention "mea

[2021-09-02 08:27] lsl commented on #55916
Thanks and yes got a bunch tracked [here](https://github.com/Automattic/wp-calypso/projects/114#column-15567991) and adding more as I find them.

[2021-09-02 08:32] donalirl commented on #55300
@p-jackson The wrong link was used. It's linking to a very old blog post: https://wordpress.com/blog/2014/04/21/better-tagging/

The correct link is https://wordpress.com/support/posts/tags/ as mentioned at https://github.com/Automattic/wp-calypso/issues/55300#issuecomment-897278128 and https://github.com/Automattic/wp-calypso/issues/55300#issuecomment-897684534

[2021-09-02 08:47] renata-franco opened #55925 "Using FIDO device as your only method for Two-Factor Authentication."
### What

Right now to be able to use 2FA, we need to add the phone number and configure SMS and/or Authentication App. Couldn't we only use Security Key with a device like FIDO and have this without adding our phone number?

### Why

A user came to chat, very upset because they wanted to only use FIDO device because they feel like it's not secure to use your phone for 2FA.

I told them I asked fo

[2021-09-02 08:50] danieldudzic opened #55926 "Premium Themes retirement: Sign-up flow "Premium" mentions"
This issue will contain a list of "Premium themes" mentions that need to be removed, since the Premium Themes program is being retired.

Sign-up onboarding check:
- [x] Free plan
- [x] Personal plan
- [x] Premium
- [x] Business
- [x] eCommerce

[2021-09-02 08:58] razvanpapadopol commented on #51162
Thanks for noting this, @creativecoder!

Here is the narrow version with extra margin on the right and the version without the black background.

<img width="350" alt="Screenshot 2021-09-02 at 11 43 49" src="https://user-images.githubusercontent.com/14192054/131814285-1b9ae54c-1868-4f29-8c66-f4092cb229da.png">

<img width="350" alt="Screenshot 2021-09-02 at 11 44 12" src="https://user-images.githu

[2021-09-02 09:22] arthur791004 commented on #55300
@donalirl Thank you for checking. As mentioned at pdgK6S-14-p2#comment-159, @kristastevens has updated that post.

[2021-09-02 10:01] tjcafferkey commented on #55894
@lsl am I correct in thinking this was a problem you were looking into (feature flags/toggles on Atomic)?

Interested to know if you came up with a solution/made any progress around this?

[2021-09-02 10:35] zdenys opened #55932 "New WooCommerce Navigation: Unstyled Vertical Scrollbar"
### Steps to Reproduce

1. Navigate to WooCommerce on a site with the [the new WooCommerce navigation on WordPress.com](https://wordpress.com/support/new-woocommerce-experience-on-wordpress-dot-com/)
2. Resize the browser window being until you see the vertical scrollbar appear in the left sidebar

### What I expected to happen

The style of the vertical scrollbar should likely be improved to be c

[2021-09-02 10:45] arthur791004 commented on #55604
Reply to me: pd2I8q-4K-p2 explains the result of showing the design picker before checkout and why we need to show it after checkout.

[2021-09-02 10:51] aleone89 commented on #55344
Another report the forums here: https://wordpress.com/forums/topic/instagram-widget-not-connecting/

[2021-09-02 11:02] zdenys opened #55934 "New WooCommerce Navigation: Long Site Title Doesn't Fit Well And Gets Cut Off"
### Steps to Reproduce

1. Start with an WordPress.com eCommerce Plan site with WooCommerce
2. Set a long site title (example: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`) in My Site → Settings → General → Site Title
3. Navigate to WooCommerce section

### What I expected to happen

Se the entire site title fit weel

[2021-09-02 11:30] lsl commented on #55894
@tjcafferkey I was just reading this hoping it might solve my problem :smile:. Looks like the jetpack/wpcomsh thing linked above is for user data not site data, this might work for you or maybe you can add site data in the same way?

I'm looking at syncing site stickers through persistent data but haven't got to it yet. (was looking at starting into it either tomorrow or Monday depending what happ

[2021-09-02 11:54] Robertght commented on #55696
I can see the same issue as @Nic-Sevic does and I can't create a playlist in a Music Player widget for now.  This one seems quite similar to this:

https://github.com/Automattic/wp-calypso/issues/55708

and https://github.com/Automattic/wp-calypso/issues/55437

For my user, it happens to be an issue with the Music player on the homepage and on another page, but it works elsewhere which is odd. The

[2021-09-02 12:23] #55834 closed, assigned to andres-blanco

[2021-09-02 12:27] andres-blanco commented on #55835
being worked on D66119-code

[2021-09-02 12:54] danieldudzic commented on #55926
**Theme showcase**
_"Unlock ALL premium themes with our Premium and Business plans!"_
URL: https://wordpress.com/themes/freepremiumthemestest.wordpress.com

<img width="1479" alt="2dfnN2fuwb" src="https://user-images.githubusercontent.com/905781/131845526-d48f644c-8eed-4f12-ac5a-fec20f2ce78e.png">

----
**Cart - Upgrade purchase from Free to Premium**
_"Unlimited access to our library of Premium T

[2021-09-02 13:13] rickmgithub opened #55937 "Legacy video widget missing"
### Steps to Reproduce

URL:scribblah.co.uk

PROBLEM:
* The videos in their widget sidebars do not show on the public site - https://d.pr/i/AcnRUO
* They show in the customizer but not in the published page - https://d.pr/i/k1aEKa

WHAT I FOUND:
* They are on a personal plan
* Theme is retired Bueno
* They are using a "legacy video" widget.
* The option to add more "legacy video" widgets has vanis

[2021-09-02 13:28] sixhours commented on #55259
Fixed in #55866!

[2021-09-02 13:28] #55259 closed, assigned to sixhours

[2021-09-02 13:40] #49510 closed, assigned to autumnfjeld, ramonjd

[2021-09-02 14:11] jp-imagines commented on #53100
4262437-zd

User was on Firefox 75.0, but says they've updated and the issue hasn't resolved. Asking them to clear cache/cookies or try another browser/device.

[2021-09-02 14:12] razvanpapadopol commented on #47778
This issue continues to be valid since we're using the Welcome tour in production and [a copy of PageControl is still hardcoded](https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/pagination.js#L6-L10).

[2021-09-02 14:20] zdenys opened #55941 "eCommerce Plan: `Upload your own themes` banner displayed in Appearance > Themes and when clicked results in errors at the checkout"
### Steps to Reproduce

1. Start with a WordPress.com eCommerce Plan or upgrade to it from a lower plan
2. Navigate to Appearance > Themes
3. Click the banner `Upload your own themes`

### What I expected to happen

See no banner that reads:

In addition to our collection of premium themes, get comprehensive WordPress security, real-time backups, and unlimited video hosting.

![image](https://user

[2021-09-02 14:39] sixhours commented on #55696
@Robertght Yeah, it's hard to tell because they appear broken for me regardless of the setup due to the issues I mentioned in #issuecomment-908671375

Holding on this until Jetpack folks can figure out how updating webpack caused media players to break.

Is it possible for users to replace the legacy widgets with a block, or are those broken, too?

[2021-09-02 14:46] zdenys opened #55943 "Homestore theme: Block Widgets added to `Below Header` break WooCommerce breadcrumbs navigation"
### Steps to Reproduce

1. Activate Homestore (Storefront's child theme) on a WordPress.com eCommerce Plan site
2. Go to My Site → Appearance → Widgets
3. Add any block widget, for example [Spacer Block](https://wordpress.com/support/wordpress-editor/blocks/spacer-block/)
4. Navigate to a page other than home to see the WooCommerce breadcrumbs navigation (for example to a Product Category page)

#

[2021-09-02 14:51] creativecoder commented on #51162
That's true for the post editor, though the site editor (enabled with an FSE theme) does show the "W" or site icon on mobile

<img width="414" alt="image" src="https://user-images.githubusercontent.com/1699996/131865836-b8f040b8-2046-4ad2-87a4-e1caa3732e0b.png">

[2021-09-02 14:51] sirbrillig opened #55944 "Upgrade Stripe's react library"
We currently use the package `react-stripe-elements`. However, that package is outdated and doesn't support React 17. In order for the rest of calypso to update (see #54793), we'll need to migrate to `@stripe/react-stripe-js`.

[2021-09-02 15:05] radtechgh opened #55945 "Site not saving menu changes. Baskerville 2 theme."
### Steps to Reproduce

Site: https://forevermirai.jp/
ZD #4250071
Baskerville 2 theme/ Personal plan

Customizer -> Menu, change menu, add new menu, select menu location, add menu items, clicking Save changes will not change the menu settings. Only top pages are showing in the header menu.

### What I expected to happen

Any steps above should add the new test menu to the site. After saving chang

[2021-09-02 15:05] sirbrillig commented on #55944
(cc @noahtallen who brought this up)

[2021-09-02 15:25] zdenys commented on #55926
I'm not 100% sure it's related to your above work, but it seems like it is, so posting here for you to take a look: https://github.com/Automattic/wp-calypso/issues/55941

[2021-09-02 15:32] pbking commented on #55926
Yes, absolutely @zdenys thank you.

[2021-09-02 15:33] dpasque opened #55946 "Playwright: Make library function for checking if testing Gutenberg Edge"
### Details

Many WPCOM centric tests need to be able to run against both Gutenberg Edge and the current prod version of Gutenberg.

We should abstract checking if we should be targeting edge away from the test scripts. I.e., test scripts shouldn't have to read directly from ENV variables or config.

We could target one of two levels in terms of what this function does...

Option A:
`targetGutenbe

[2021-09-02 15:33] dpasque commented on #55946
@fullofcaffeine - here's the task! I should have time to add this in an upcoming WPCOM script transition.

[2021-09-02 15:58] dpasque opened #55947 "Playwright - Editor Transition: Post Basic Flow spec"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
– Create new post
– Add title and single paragraph
– Add category and tag
– Publish and validate

Includes coverage from prior specs:
– wp-calypso-gutenberg-post-editor-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:01] dpasque opened #55948 "Playwright - Editor Transition: Page Basic Flow"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Create new page
- Accept a starting template (**this is new)
- Publish and validate

Includes coverage from prior specs:
- wp-calypso-gutenberg-page-editor-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:06] dpasque opened #55949 "Playwright - Editor Transition: Deprecate Focused Launch spec."
### Details

The focused launch spec ([specs-wpcom/wp-calypso-gutenberg-focused-launch-spec.js)](https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/specs/specs-wpcom/wp-calypso-gutenberg-focused-launch-spec.js) can now be deprecated and removed. We will do this as part of the Playwright transition of the editor/WPCOM specs.

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:07] dpasque commented on #55949
Adding to Focused Launch board as an FYI - the Quality Squad will take care of the deprecation change!

[2021-09-02 16:09] dpasque opened #55950 "Playwright - Editor Transition: Post Lifecycle"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Focus is on walking a single post through all the statuses it can have
- Each status is seen and interacted with through Calypso post page
- Publishing, editing, reverting to draft, scheduling, trashing, hard deleting
** no need to do for both page and post, so picking post here
** will use basic content with no images, ju

[2021-09-02 16:10] dpasque opened #55951 "Playwright - Editor Transition: Page Privacy"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Create pages with all privacy settings (Public, Private, Password Protected)
- Viewing all three with logged in and logged out user
** no need to do for both page and post, so picking page here
** will use basic content with no images, just a title & paragraph

Includes coverage from prior specs:
- wp-calypso-gutenberg-pos

[2021-09-02 16:13] dpasque opened #55952 "Playwright - Editor Transition: Revisions Modal"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Start a post
- Make iterations on content
- Use revisions modal to go back to former content

Includes coverage from prior specs:
- wp-calypso-gutenberg-post-editor-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:14] dpasque opened #55954 "Playwright - Editor Transition: Comments & Likes"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Make a new basic post
- Comment & reply to comment
- Like post and comment as logged in user
- Like post as logged out user & login through popup

Includes coverage from prior specs:
- wp-comments-spec.js
- wp-likes__comment-spec.js
- wp-likes__post-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:16] dpasque opened #55955 "Playwright - Editor Transition: Gutenberg Experimental Features"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- direct coverage copy of old test

Includes coverage from prior specs:
- wp-gutenberg-experimental-features-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:18] dpasque opened #55956 "Playwright - Editor Transition: Full Site Editing"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
** direct coverage copy from old test
** maybe add a couple more cases? It is pretty short..

Includes coverage from prior specs:
- wp-site-editor-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:20] dpasque opened #55957 "Playwright - Editor Transition: Jetpack Extended Blocks"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Basic block flow for...
- Instagram, Twitter embeds

Includes coverage from prior specs:
- wp-calypso-gutenberg-post-editor-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:21] dpasque opened #55958 "Playwright - Editor Transition: Jetpack Added Blocks"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Basic block flow for...
- Contact Form, Contact Info, Star Rating, Subscription Form, Slideshow
-  Tiled Gallery, Premium Content, Payments, Pay with Paypal
** maybe add a few more from Earn and Grow groups

Includes coverage from prior specs:
- wp-calypso-gutenberg-post-editor-spec.js
- wp-calypso-gutenberg-page-editor-sp

[2021-09-02 16:25] dpasque opened #55959 "Playwright - Editor Transition: Core Blocks"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Basic block flow for...
- YouTube Embed
- Layout Grid

Includes coverage from prior specs:
- wp-calypso-gutenberg-upgrade-spec.js
- wp-calypso-gutenberg-post-editor-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 16:31] dpasque opened #55960 "Playwright - Editor Transition: ETK Blocks"
### Details

See overall transition details here: pciE2j-sq-p2

Coverage:
- Basic block flow for...
- Blog Posts (Newspack)
** this feels sad, maybe we can add Post Carousel or another one so it has a friend?

Includes coverage from prior specs:
- wp-calypso-gutenberg-upgrade-spec.js

### Checklist

_No response_

### Related

_No response_

[2021-09-02 18:25] sajmes opened #55964 "Comments not working on password protected posts"
### Steps to Reproduce

**WordPress.com**

1. On an AT site create a password protected post
2. Attempt to comment on that post

**Self-hosted WordPress**

1. Enable Jetpack
2. From Jetpack > Settings > Discussion enable 'Let visitors use a WordPress.com, Twitter, Facebook, or Google account to comment'
3. Create a password protected post
4. Attempt to comment on that post

### What I expected to

[2021-09-02 18:31] andres-blanco opened #55965 "Subscription Emails: New Post email template"
Current template:
![image](https://user-images.githubusercontent.com/375980/131897651-a25e1a27-c6e0-4f9c-bf4d-13794eb2a989.png)

This is what we aim for:
![image](https://user-images.githubusercontent.com/375980/131897680-8595844b-7753-4ed4-b786-9f946ad66263.png)

Reference: crtNho9opJSnM80QsE275F-fi-519%3A1048

[2021-09-02 18:56] mreishus commented on #55875
I was able to reproduce this using WP.org only. I downloaded the gutenberg repo and ran `wp-env destroy && wp-env start`, then logged into http://localhost:8888/wp-admin/ with `admin:password` before recording this video:

https://user-images.githubusercontent.com/937354/131900785-c9f3e678-349d-43fa-9862-ba712740ed03.mp4

On .org, I needed to publish once before the error happened, and it only hap

[2021-09-02 19:12] mreishus commented on #55875
Reported on wp.org trac: https://core.trac.wordpress.org/ticket/54063

[2021-09-02 19:12] Aurorum commented on #55801
I started a PR in #55966 based on that concept (thanks!) - let me know if you have any thoughts! :)

[2021-09-02 20:35] mreishus commented on #55875
The per-theme behavior is dependent upon `add_theme_support( 'customize-selective-refresh-widgets' );`. When the active theme doesn't' support this, we see you're kicked out of the block settings more often.

    * Core using 20s theme: When publish button goes OFF -> ON, you're kicked out of block settings.
    * Any theme without customize-selective-refresh-widgets: Also, when publish button goe

[2021-09-02 20:57] sergeymitr opened #55969 "Jetpack Connection: invalid nonce after login"
### Steps to reproduce the behavior

1. Use private window, try to connect Jetpack via Calypso flow.
2. Get redirected to the Calypso login page, login and see the “Approve” button.
3. Click the “Approve” button, it shows an error and reloads the page.
4. Once it’s reloaded, click “Approve” again and this time it works well.

#### What I expected to happen

The "Approve" button should've worked th

[2021-09-02 21:10] mreishus commented on #55875
Here's the code that's running (at least for case 1 in the 2020s)
https://github.com/WordPress/wordpress-develop/blob/40edc2addb5284804e698beda487206f8dd70992/src/js/_enqueues/wp/customize/controls.js#L1148-L1153
active is false, and construct looks to be the block settings section.. so something is explicitly telling this section to deactivate, I'm just not sure what it is yet
![2021-09-02_16-08]

[2021-09-02 21:12] sixhours opened #55970 "Widget Visibility: Update Recommended themes to use selective refresh"
### What

Add selective refresh support to all Recommended themes

### Why

Upon investigating discrepancies in theme behavior in https://github.com/Automattic/wp-calypso/issues/55875#issuecomment-910790543, we discovered that themes that support selective refresh widgets in the Customizer (like Twenty Twenty One) cause less back and forth between settings panels when options change than themes th

[2021-09-02 21:45] mreishus commented on #55875
Got a step closer. When the customizer reflows, each section reinits and figures out if it should be active. It uses an incoming "active" variable but also wants to make sure the area "is contextually active".
https://github.com/WordPress/wordpress-develop/blob/40edc2addb5284804e698beda487206f8dd70992/src/js/_enqueues/wp/customize/controls.js#L999
In the case of the block settings section, it thin

[2021-09-02 22:19] arcangelini commented on #55647
It looks like this may have been [resolved already with this PR](https://github.com/WordPress/gutenberg/pull/34226) and is bundled in 11.140. Since the Gutenberg on dotcom release cadence is ~2 weeks it should be live in a couple of days. I will monitor this and close when it is published.

[2021-09-02 22:34] scruffian commented on #55970
Seems like a good idea

[2021-09-02 23:17] jordesign commented on #36197
Just had another user request for this - and was about to add it to the Simple/Atomic board - but see @davipontesblog  beat me to it :)

[2021-09-02 23:25] jordesign opened #55972 "Feature Request: Block Patterns for a 'Tip Jar' version of the donations block"
### What

If we're able to make some tweaks to the Donations Block to make it less opinionated on titling - it would be great to have some Patterns which include it as something of a blogger 'Tip Jar'

### Why

The concept of a 'Tip Jar' is very common for bloggers. They often have a sidebar entry which asks for coffee money/tips - kind of single, one-off donations of small amounts for readers.

W

[2021-09-02 23:51] jordesign commented on #55972
Pinging @that-mike-bal  here - and also noting previous similar investigations in 64-gh-Automattic/view-design

[2021-09-02 23:58] jordesign opened #55973 "Feature Request: Pass Donations Block Title to Stripe Modal"
### What

Currently the Stripe modal that loads from the Donations block *always* includes 'Donation'

### Why

The use of 'Donation' in all cases is a little limiting. For other purposes like a 'Tip Jar' it would be nice if it could be customized - perhaps using the title used in the Donation Block itself.

### How

I'm not sure what information we can pass through to that modal - so the first st

[2021-09-03 00:34] synora commented on #54271
Fixed per p1630462530036500-slack-CB0B2G43X/. Closing issue.

[2021-09-03 00:34] #54271 closed, assigned to nobody

[2021-09-03 03:08] jordesign commented on #51899
Is another option to just include the URL of the page as the fallback? It wouldn't be copying the entire content of the page - but it would at least form a post with a Title and Link to the reference page?

[2021-09-03 03:12] jordesign commented on #55785
Good catch! Agreed we should respect the default behaviour for cmd+click here - regardless of the decision made in #55599

[2021-09-03 03:19] jordesign commented on #55776
I'm going to be digging into Publicize a little more - to try and take a step back on the current state of things. Happy to stick this issue back in Triage for now.

[2021-09-03 03:57] arthur791004 commented on #55785
Quick note for this one: The reason for cmd + click not work is because we bind the click listener [here]( https://github.com/Automattic/wp-calypso/blob/e73f5e54a944f92f78d644431f3e8fa2ba45ec59/apps/wpcom-block-editor/src/calypso/features/iframe-bridge-server.js#L675).

`.post-publish-panel__postpublish .components-panel__body.is-opened a` and `.components-panel__body.is-opened .post-publish-panel

[2021-09-03 04:02] p-jackson commented on #55785
Good digging! So it's a wpcom issue then. I wonder if we can do something like check whether modifier keys have been held down before running our logic.
@lsl added some global event listeners recently that modified the element attributes on the fly. I wonder if instead of calling `calypsoPort.postMessage()` on click, we could instead add a `target=_parent` or something to the `<a>` element within

[2021-09-03 04:23] arthur791004 commented on #55785
Oh, I just try to ignore if the click has a modifier. But I think adding a `target=_parent` is also a good choice!

Diff: https://github.com/Automattic/wp-calypso/compare/fix/cmd-click-not-work-in-editor?expand=1

[2021-09-03 04:27] nawaz0705 commented on #53159
Here is another report: 30506178-hc

[2021-09-03 05:17] gavande1 opened #55975 "Marketplace: Add blog sticker toggle in blog report card"
Add blog `wpcom-marketplace` sticker toggle in the blog report card so that managing blog sticker become little easy for testing purpose.

[2021-09-03 05:17] gavande1 commented on #55975
Diff created at D66328-code

[2021-09-03 06:29] lsl commented on #55785
#54199 for ref, this won't be merged.

[2021-09-03 06:29] edwinho89 commented on #22426
9017154-hc

Adding placeholder is possible with the use of [shortcodes](https://wordpress.com/support/wordpress-editor/blocks/form-block/#adding-a-contact-form-with-shortcodes) though

[2021-09-03 06:40] edwinho89 opened #55976 "Form block: Allow adding custom placeholder in field"
### What

It'd be nice to allow custom placeholder on text, message fields

### Why

It used to be possible with the use [shortcodes](https://wordpress.com/support/wordpress-editor/blocks/form-block/2/#adding-a-contact-form-with-shortcodes).

### How

A possible duplicate of https://github.com/Automattic/wp-calypso/issues/22426 , but adding here as feature requests

[2021-09-03 06:40] edwinho89 commented on #55976
9017154-hc

[2021-09-03 07:08] kdevnel commented on #55685
I've replied to @Nic-Sevic user here - 4233304-zd-woothemes - I've provided an explanation around this that disabling Gutenberg isn't likely to be a good long-term solution but rather doing local plugin/theme/custom code conflict testing is best so developers can improve their plugins and fix issues that will likely be introduced into the core editor eventually anyway.

[2021-09-03 08:09] Aurorum commented on #55923
PR for this issue in #55979. :)

[2021-09-03 08:31] davoraltman opened #55980 "More Block: Read More link points to the part of the post where the block was added"
### Steps to Reproduce

1. Add a More block to a post
2. Go to the main Posts page and click on the Read More link
3. You'll arrive at the post but not at its beginning, but rather at the very place where the More block was added

Video of the issue: https://d.pr/i/bazYJs/AKSxUOQeqd

### What I expected to happen

The link should take me to the beginning of the post instead.

### What actually hap

[2021-09-03 09:13] dsas commented on #55243
I think @BogdanUngureanu has already made a start on this while working on #55191

[2021-09-03 09:14] #55585 closed, assigned to tjcafferkey

[2021-09-03 09:50] mrfoxtalbot opened #55982 "FSE: Block Toolbar in header obscures the content of the blocks"
### Steps to Reproduce

Edit a site's header using Full Site Editing

### What I expected to happen

I expected to be able to edit the blocks in the site's header template part.

### What actually happened

The lack of top padding in the site header template part "nudges down" the toolbar for each of the blocks, obscuring the  block itself.

<img width="591" alt="Screen Shot 2021-09-01 at 15 29 21

[2021-09-03 10:06] aleone89 commented on #55344
Another report in the forums here: https://wordpress.com/forums/topic/cant-link-my-instagram-on-the-widget-for-shawburn-theme/

[2021-09-03 13:52] andres-blanco commented on #55836
new wording:
![image](https://user-images.githubusercontent.com/375980/132016396-db49259f-83fa-4878-818a-456fd237ea7f.png)

[2021-09-03 13:52] ianstewart opened #55988 "Theme showcase incorrectly advertises theme uploads on Premium Plan"
**To reproduce …**

1. Create a new test site and visit the theme showcase.
2. See issue in screenshot below.

**Issue …**

![image](https://user-images.githubusercontent.com/545779/132016592-fd5a1ac4-9d53-4f69-976f-af7b66c1efa6.png)

**What you should actually see …**

This should probably say "Business and Ecommerce" plans as those are the only two plans that allow theme uploads.

[2021-09-03 14:12] arcangelini commented on #55344
Tested this also from `wp-admin/widgets.php` and ran into a slightly different issue. It looks like the JS that gets loaded in the absence of a token is not being loaded? I am still looking through this original issue but wanted to notate this here.

[2021-09-03 14:19] #55988 closed, assigned to sixhours

[2021-09-03 15:00] #55923 closed, assigned to nobody

[2021-09-03 15:36] that-mike-bal commented on #55972
I am definitely not a designer but I could wireframe out a few options or even try and hunt some down from other sites if needed.

One place worth looking at for new pattern ideas or design inspiration is in the Newspack campaigns feature - I believe there are in-content ctas, sticky footer banners, and maybe even pop ups.

[2021-09-03 16:19] lakellie commented on #796
Another report in 4270958-zen for Visual Composer shortcodes

[2021-09-03 16:46] worldomonation commented on #55845
This resurfaced in https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/6657087?.

[code]

[2021-09-03 16:49] worldomonation opened #55990 "Playwright: refactor SupportComponent methods involved in counting search results."
### Details

SupportComponent continues to produce intermittently flakey results:

[code]

#55620 and #55339 were attempted to fix to no avail, even though #55620 was stress tested for 100 iterations.

### Checklist

_No response_

### Related

_No response_

[2021-09-03 16:52] worldomonation commented on #14489
@tyxla In the previous instance of stale label being applied you mentioned this could be useful. Even if that were the case, is there any plan in the near future (~1 year) to work on this?

If not, it would be preferable to close the issue for the time being, then re-open or create a new task when the time comes.

[2021-09-03 16:53] worldomonation commented on #15568
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 16:53] #15568 closed

[2021-09-03 16:54] worldomonation commented on #13216
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 16:54] #13216 closed

[2021-09-03 16:54] worldomonation commented on #11859
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 16:54] #11859 closed

[2021-09-03 16:54] worldomonation commented on #12227
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 16:54] #12227 closed

[2021-09-03 16:57] worldomonation commented on #10817
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 16:57] #10817 closed

[2021-09-03 16:58] worldomonation commented on #11293
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 16:58] #11293 closed

[2021-09-03 17:11] worldomonation commented on #9862
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 17:11] #9862 closed

[2021-09-03 17:12] worldomonation commented on #11008
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 17:12] #11008 closed

[2021-09-03 17:12] worldomonation commented on #8882
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 17:12] #8882 closed

[2021-09-03 17:22] Aurorum commented on #54089
Hi @supernovia, I think that toggle has been removed now so am I correct in guessing that this issue can be closed? However, I noticed that there's no success notice for the Dashboard Colour Scheme, which feels a little strange and I think it's unintentional (I opened a PR in #55994 for that).

[2021-09-03 17:45] edequalsawesome opened #55996 "Flow for adding a subdomain of a domain that is already pointed to WordPress.com is confusing"
### Steps to Reproduce

1. Create a new site with any paid WordPress.com plan (tested with Premium and Business fwiw)
2. Go through the flow to choose a free `.wordpress.com` domain and complete site creation
3. Go to `Upgrades > Domains`
4. Click `I Have a Domain`
5. Add a subdomain to the site for a domain that is already pointed to a WordPress.com site
6. Complete the process for adding a domai

[2021-09-03 17:46] tyxla commented on #14489
Sounds totally fine by me to close it for now. Thanks for the cleanup!

[2021-09-03 18:08] serabi commented on #43919
Reported in 4267916-zen

[2021-09-03 18:46] #49043 closed, assigned to nobody

[2021-09-03 19:38] mreishus commented on #55875
Created Gutenberg PR: https://github.com/WordPress/gutenberg/pull/34543

[2021-09-03 20:21] worldomonation commented on #8876
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 20:21] #8876 closed

[2021-09-03 20:22] worldomonation commented on #8505
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 20:22] #8505 closed

[2021-09-03 20:22] worldomonation commented on #20173
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 20:22] #20173 closed

[2021-09-03 20:24] worldomonation commented on #17750
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 20:24] #17750 closed

[2021-09-03 20:24] worldomonation commented on #18550
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 20:24] #18550 closed

[2021-09-03 20:26] worldomonation commented on #24067
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 20:26] #24067 closed

[2021-09-03 20:26] worldomonation commented on #24076
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 20:26] #24076 closed

[2021-09-03 20:27] worldomonation commented on #24135
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-09-03 20:27] #24135 closed

[2021-09-03 20:27] jeffikus commented on #55941
I cannot replicate this with the testing instructions. Screenshot below:

I've tried with multiple upgrade scenarios from each plan.

<img width="1203" alt="Screenshot 2021-09-03 at 22 19 25" src="https://user-images.githubusercontent.com/937325/132062034-a309dd3d-ed6c-4c24-9c80-9b7854b46bd7.png">

[2021-09-03 20:39] carinapilar opened #55998 "Premium Content Block: Shows Up Even Without Stripe Connection"
### Steps to Reproduce

1. Create a new page on a site with a paid plan
2. Add the Premium Content block on the page
3. Publish the page and check on the live site

### What I expected to happen

For the block to be hidden on the site, since you didn't finish setting it up (connecting Stripe, creating and selecting payment plans).

### What actually happened

It shows the visitor/subscriber view a

[2021-09-03 21:45] KirkwallDay commented on #53953
Closing 4154234-Zen, user will need to be notified with a followup ticket when the issue is resolved.

[2021-09-03 23:30] worldomonation opened #56006 "Gutenboarding: Arabic and Swedish not shown under popular languages in mobile viewport"
### Steps to Reproduce

1. start at /new.
2. click on the language picker at top right.
3. inspect the list of languages shown.
4. press F12.
5. enter device emulation mode. How to do this depends on your browser, but on Firefox, click on the mobile icon on top right of the developer console.
6. change to iPhone X.

### What I expected to happen

Arabic and Swedish are shown below Korean.

### Wha

[2021-09-04 00:33] chrisfromthelc opened #56007 "Checkout: US 9 digit zip code validation/formatting."
### Steps to reproduce the behavior

While testing another PR, I noticed that a US 9 digit zipcode sans hyphen does not get correctly reformatted like some non-US zip codes do (BR, CA, GB, IE, JP, KY, NL,PL, PT, SE).

1. Add a plan or domain to the cart.
2. Enter a 9 digit US zip code without the hyphen (100195401 as an example); and click continue. It will notify that it's invalid.
3. You can ent

[2021-09-04 01:05] joweber123 commented on #55911
Tested this on a Simple site and was able to reproduce the Youtube embed as well as a Video Block both not rendering correctly in the Post notification.

![Markup on 2021-09-04 at 10:05:30](https://user-images.githubusercontent.com/24914028/132077378-20813205-fa28-4e9d-9c96-86d3b99b4c9e.png)

[2021-09-04 01:09] hacchism commented on #51180
Another instance: 4271895-zen

Recommended using wp-admin post/page screen for now.

[2021-09-04 05:29] supernovia commented on #55801
Thank you!

[2021-09-04 05:51] Robertght commented on #50560
#4270620-zen Premium plan

[2021-09-04 06:31] zdenys commented on #55941
I cannot see the `Get unlimited premium themes` banner anymore, and now I see the `Upload your own themes` one. So something has changed already.

However, when I click this new banner, when I get to checkout, I see the same two errors I mentioned above.

https://user-images.githubusercontent.com/39308239/132085219-c8c31436-0a86-4b22-862f-422cc857f6a7.mov

Does it happen for you too, @jeffikus?

[2021-09-04 08:35] arunsathiya commented on #42170
Same confusion on this ticket 4271422-zen. Adding to triage queue so that they can test if this is a Dotorg issue or specific to WordPress.com/WordPress.com themes. I have reached EOD.

[2021-09-04 11:26] kavyagokul opened #56009 "Mapbox API key input box is unresponsive"
### Steps to Reproduce

1. Create or edit a page or post
2. Insert a "Map" block
3. On the right side, under Block settings > Mapbox Access Token, try typing something

### What I expected to happen

It's possible to type or paste a token

### What actually happened

It's not possible to type or paste a token in the text box.

### Context

This was reported by a customer in 30849356-hc

### Operat

[2021-09-04 12:05] zdenys commented on #51556
Here is another case 4272626-zd-woothemes of a confused user:

correct?
Also, I usually pay in November every year.
Please, advise.

And I can see that they have something in their checkout cart:

![image](https://user-images.githubusercontent.com/39308239/132093812-93c6df09-2a5a-499a-b6d0-db25d6e42398.png)

[2021-09-04 12:34] LauraSWP commented on #55371
We tested this recently and adding the existing menu didn't work
![image](https://user-images.githubusercontent.com/63611065/132094551-d85a937b-8f9c-4db2-b1c1-7065abfb162c.png)

Google Chrome, version 93.0.4577.63.
Related to 4257643-zn

[2021-09-04 13:44] ogodoabiola commented on #55283
HC-4271555

[2021-09-04 14:33] eduardozulian commented on #35349
I can't reproduce this any longer so I'm closing.

[2021-09-04 14:33] #35349 closed

[2021-09-04 16:32] cuemarie commented on #55403
Possible report here: 4237863-zd-woothemes
Have asked for confirmation and browser information.
In troubleshooting their issues with editing existing Legacy Text widgets, I was unable to edit the Text widgets when SU'd, using Firefox.

Workarounds: Could edit in Text view, but not Visual view inside legacy widget.

[2021-09-04 18:00] NoHopeRadio commented on #55728
I'm just noting here that I was just looking for this feature as a possible solution to another portfolio image display problem, and noticed this gap.

[2021-09-04 23:37] donalirl commented on #49501
#31495713-hc

[2021-09-05 00:21] formosattic commented on #55898
This page has lots of blank space, we could even directly include the notice on it? Saves everyone a click.

![image](https://user-images.githubusercontent.com/15944096/132111027-12be99e9-92f5-4708-9c7a-86d0b6f79da1.png)

[2021-09-05 04:42] donalirl commented on #55300
Great, I've commented there. Let's leave this open until we can resolve the two issues mentioned there.

[2021-09-05 08:17] retnonindya commented on #55683
I can confirm the same thing happened with **Contact Info & Map** widget. The widget was on Group block, hence it's not visible on the live site. I recreated the widget to make it reappear.
4273102-zd-woothemes

[2021-09-05 11:29] philnick206 opened #56010 "Automatically configure email settings when switching domain to WP.com name servers"
### What

When a customer switched their domain to use WP.com name servers it would be great to detect that they have email settings configured already and set those up automatically or prompt them to add those settings right away when they login to the dashboard

### Why

Many customers lose the ability to receive email after changing name servers to WP.com.

### How

Automatic detection and set

[2021-09-05 15:20] michaeldcain commented on #55815
As you mention in the issue, this was an intentional decision to block a tricky bug in our current billing system (discussion in #52473). That being said, I don't know that we have a Github issue to track whether or not we decide to allow it in the future, so let's leave this open. Shilling will discuss prioritizing it with other upcoming Payments work.

[2021-09-05 18:19] msilbers commented on #44270
requested in #31502345-hc

[2021-09-06 00:07] rinazrina opened #56012 "The TikTok block and embed doesn't work"
### Steps to Reproduce

1. On a post or page editor, add a TikTok block
2. Paste a TikTok video URL > Embed
3. Also try to copy the embed code from the TokTok video and add it using the HTML block

### What I expected to happen

The TikTok video is showing

### What actually happened

The TikTok video is not showing. It's showing only the link as shown in the following screenshot:

![Screenshot on

[2021-09-06 00:40] donalirl opened #56013 "Subtract the Domain Cost From Plan Purchase When A Domain is Owned"
### Steps to Reproduce

1. Register a domain to a free WordPress.com site, without purchasing a plan.
2. Purchase a plan for that site.
3. Observe the cost of the plan is full price, without subtracting the domain cost.

### What I expected to happen

Because WordPress.com offers a free domain for one year with every plan purchase, I expected the domain cost to be subtracted from the cost of the p

[2021-09-06 01:46] retnonindya commented on #46077
I'm commenting on this for reference/documentation purposes. I'm not expecting things will suddenly change overnight, but we might be able to consider this in future development.

Just today, @flameslash and I discussed an issue where a user (named X) would like to have a different public display username for their two websites: One simple site, one AT site.

Slack discussion: p1630890874323500-sl

[2021-09-06 03:01] thesacredpath commented on #50560
Have two users who say the Listen on Spotify button that typically appears after publishing the post no longer appears either. Wondering if this is all connected.

Ticket: 4270620-zen
Ticket: 4269523-zen

[2021-09-06 08:04] simison commented on #51162
Appending the button in the header might still cause trouble with plugin icons visible there?

How would our version of the masterbar above the editor header look like?

[2021-09-06 08:19] donalirl opened #56019 "Customize the Critical Error Page for WordPress.com"
### What

On the error page that says "There has been a critical error on this website.", we can add information on how to troubleshoot the error, to reduce the need for customers to contact support.

### Why

When a critical error occurs on a site, the average WordPress.com site owner does not know what to do, and contacts support to solve it. In the past 30 days, 506 customers have contacted liv

[2021-09-06 08:21] #55569 closed, assigned to mmtr

[2021-09-06 08:23] mmtr opened #56020 "Atomic Downgrade: Run A/B test for the redesigned pre-cancellation survey"
### Details

Let's display the redesigned pre-cancellation survey introduced in https://github.com/Automattic/wp-calypso/pull/55891 to some users by running an A/B test.

Experiment design: pbxNRc-Ue-p2

[2021-09-06 08:32] yashitamittal11 opened #56021 "Services block - Adding heading to second service item creates a new service item"
### Steps to Reproduce

1. Add a Services block
2. Next, add the heading to both the service items
3. As soon as we start typing in the heading field of the second service item, it creates a new service item.

### What I expected to happen

Adding the heading for the second service item should not create a new service item.

### What actually happened

Adding the heading to the second service item

[2021-09-06 08:33] mrfoxtalbot opened #56022 "Jetpack Search block widget returns error on simple sites (Customizer only)"
### Steps to Reproduce

1. Add the Jetpack Search to a simple site
2. Head to My Site > Appearance > Customize and add the Jetpack Search Block via the new Block Widgets UI
3. See the error

### What I expected to happen

It should work out of the box.

### What actually happened

It returns and error message: `The editor has encountered an unexpected error.`

![Screen Capture on 2021-09-06 at 10-

[2021-09-06 08:39] ivan-ottinger commented on #55548
https://github.com/Automattic/wp-calypso/pull/55985 fix is now deployed to production. → Closing this issue.

[2021-09-06 08:39] #55548 closed, assigned to ivan-ottinger

[2021-09-06 08:39] donalirl opened #56023 "Atomic Sites: Add a Built-In Method to Put Code In Header"
### What

Let's provide the ability for atomic site owners to add code snippets to their header, a requirement to integrate their site with many popular services.

### Why

In support, we have individually helped over 3,000 customers add code to their header using this third party plugin: https://wordpress.com/plugins/insert-headers-and-footers

Most site owners are not aware of this third-party p

[2021-09-06 08:56] BogdanUngureanu opened #56024 "Atomic Downgrade: Add purchase cancellation/deletion logic for Atomic sites"
### Details

With the introduction of a new V2 API endpoint that would also tackle plan cancellation/deletion for Atomic sites, we would need to perform the actual purchase/subscription cancellation after the site was reverted to a Simple Site and their content moved back into Simple Site infrastructure.

To do that, we need to trigger the purchase cancellation logic in a separate async job that w

[2021-09-06 09:13] retnonindya opened #56025 "Some CSS selectors don't work on WordPress.com site"
### Steps to Reproduce

Add this CSS (to prevent text-selection on sites) on Additional CSS:

[code]

### What I expected to happen

The CSS to work and for the users to be able to protect their contents

### What actually happened

CSS get stripped out. It seems like the CSS selectors there are not supported

### Context

User report:
4276268-zd-woothemes

Slack discussion:
p1630917680387500-slac

[2021-09-06 09:36] Christopher-Stevers commented on #44742
@sixhours  I was looking for new issues and I realized this issue was never closed. My pull request [Sharing: Improve Twitter modal visual design. #54537](https://github.com/Automattic/wp-calypso/pull/54537) should close it . If not what else, needs to be addressed? If it does close it, do you have any other issues I could work on? I'm studying web dev and am trying to get some experience via caly

[2021-09-06 09:55] cpapazoglou commented on #55894
Related patch D66393-code

[2021-09-06 10:14] carinapilar commented on #45066
I'm not able to find that option within the block anymore, it seems to only show in the sidebar, where the one-time option is missing.

The only option now seems to be creating the plan from Tools > Earn first:

![AddNewPaymentPlan](https://user-images.githubusercontent.com/16104522/132201245-d11d2116-992d-45bc-acf5-1d0959b09cf9.png)

[2021-09-06 10:30] johngodley commented on #55598
Yep, it's related to the new `__editorAssets`. Working on a fix, but P2 can be pinned to a previous version if needed.

[2021-09-06 11:32] rickmgithub commented on #53159
User checking in - 4216020-zd

[2021-09-06 12:05] saraita90 commented on #55344
Similar issue: #4253121-zen

[2021-09-06 12:22] yansern commented on #50752
Possibly related https://github.com/Automattic/wp-calypso/issues/55728.

[2021-09-06 13:26] chriskmnds opened #56030 "Editor Welcome Tour: Make header controls visible when focused"
### Details

Currently, when we walk through the welcome tour via the tab key, the minimize/close buttons remain hidden. It would be great to show them when focused.

### Checklist

- [x] Show the minimize/close buttons when focused.

### Related

_No response_

[2021-09-06 13:31] BogdanUngureanu commented on #55191
D66333-code contains the revert implementation for both `delete` and `cancel` endpoints and is ready for review.

[2021-09-06 13:36] diegoreymendez commented on #29734
I'm closing for now since Gutenberg is the default editor.

[2021-09-06 13:36] #29734 closed

[2021-09-06 14:12] toncijajic opened #56032 "VAT Details entry | Trim the leading country code if it matches the selected one"
### Steps to reproduce the behavior

Slack discussion: p1630936548136200-slack-C0117V2PCAE

1. Go to [VAT Details entry](https://wordpress.com/me/purchases/vat-details)
2. Add VAT details with the full VAT ID (country code included) - see slack thread for test number
3. Click "Validate and save"
4. Observe

#### What I expected to happen
The validator successfully validates and saves the data.

##

[2021-09-06 14:12] toncijajic commented on #56032
@Automattic/shilling

[2021-09-06 15:30] kerrynicl opened #56034 "Additional Stats information for media hosted on WordPress.com"
### What

to expand the functionality of the Stats page to display data for hosted MP3 audio files

### Why

User Wants to observe the number of clicks/plays an audio file has gotten.

### How

User suggested
![Annotation on 2021-09-06 at 10-29-57](https://user-images.githubusercontent.com/83325600/132239223-34f03a72-b7e5-4b41-a3d7-71c62b0d5c16.png)

[2021-09-06 16:09] masperber opened #56035 "Background Image Stretch Behavior - iPhone vs Android"
### Steps to Reproduce

1. Set a site background image with Preset Fill Screen and Image Position Center. (User is using theme Twenty Twenty-One. Not sure if that is relevant.)
2. Create several pages with differing heights, at least some of which exceed the height of the background image.
3. Background image

### What I expected to happen

The background image should have the same behavior on all

[2021-09-06 16:10] daria2303 commented on #55344
Same case: 4276737-zd-woothemes

[2021-09-06 16:17] mikeicode opened #56036 "Varia: Mobile menu toggle hamburg icon and text options"
### What

It’d be helpful to have an option to use the hamburg menu icon instead of the + icon on the mobile menu toggle. It’d also be nice to be able to customize or hide the “Menu” text.

### Why

Editing/hiding this text and using a Hamburg icon are somewhat common requests.

Barnsbury: https://href.li/?4263727-zd-woothemes

### How

[Twenty Twenty One](PcHIRZ-46-p2) uses a hamburg icon. An opt

[2021-09-06 16:43] ghost opened #56037 "Open in new tab option when toggled removes link from Service Block Media"
### Steps to Reproduce

1) Create a new page and add Services Page layout to it
2) Add images to service block.
3) Add link to it https://d.pr/i/BequG1 and then try to toggle on Open in new tab option
4) This is making the link disappear.
5) Also the fields Link Rel and Link CSS Class do not work as I cannot type into them

### What I expected to happen

The link should not disappear and open in n

[2021-09-06 17:15] worldomonation opened #56038 "Plans: in mobile view, navtab selection dropdown is not auto-dismissed if already active item is clicked."
### Steps to Reproduce

1. start at /plans
2. select a site if necessary.
3. toggle the navtab dropdown.
4. click on the already active tab item.

### What I expected to happen

NavTab dropdown is auto-dismissed.

See attached video on how it behaves everywhere else in calypso.

https://user-images.githubusercontent.com/6549265/132248253-fb3b7c44-6d33-4075-b08b-ee33c9a1a9d7.mov

### What actually

[2021-09-06 17:38] #12821 closed

[2021-09-06 19:41] kerrynicl opened #56041 "Log Out Everywhere Button in Calypso"
### What

To include a log out everywhere button as it is in wp-admin in the user's account settings

### Why

Users are unable to easily find log out everywhere button. User will have to navigate to classic view under users, then manage from account setting. See screenshot of area
<img width="875" alt="Markup 2021-09-06 at 15 22 06" src="https://user-images.githubusercontent.com/83325600/13225640

[2021-09-06 19:54] sixhours commented on #55875
Since WordPress/gutenberg#34543 has been merged, I'm marking this as closed. :)

[2021-09-06 19:54] #55875 closed, assigned to nobody

[2021-09-06 20:07] chrism245 opened #56043 "Product reviews are not showing in the Comments section"
Steps to reproduce:

1. A WordPress.com AT site.
2. Enable product reviews on WooCommerce Settings.
3. Add a product review, and it won't show in the comment section; it will show just the icon that is a pending comment.

![Annotation on 2021-09-06 at 14-05-06](https://user-images.githubusercontent.com/47186013/132257868-52e341c9-dbc5-4107-8a12-f859e1d21787.png)

The default ULR to see comments is

[2021-09-06 20:13] sixhours commented on #44742
You're right, looks like this can be closed; thanks @Christopher-Stevers !

Your best bet for finding new issues to work on is probably under the Bug label: https://github.com/Automattic/wp-calypso/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BType%5D+Bug%22

There's plenty to choose from and many won't need a premium/paid account to test (but we can always test for you if it does!)

[2021-09-06 20:13] #44742 closed

[2021-09-06 20:50] AtrumGeost commented on #55383
+1 to this. I noticed this when helping a user check recent theme changes.

[2021-09-06 22:28] adelineyaw commented on #44658
Adding a user report 4277562-zen

[2021-09-06 23:00] kelasante opened #56046 "Videos Uploaded On Atomic Sites Do Not Play Sound on Video URL Page"
### Steps to Reproduce

1. Go to My Site > Media on an Atomic site.
2. Upload a video with sound
3. After uploading, click to edit the video and copy the video URL. There is no sound on the direct video URL. However, there is sound on the video in the media library.

### What I expected to happen

To hear the sound on the Video URL Page. For instance, on my test site, this URL - https://videos.fil

[2021-09-07 00:51] roo2 commented on #44940
We could also use the [blog-posts block](https://wordpress.com/support/wordpress-editor/blocks/blog-posts-block/), which looks a bit closer to the text based posts designed in this theme.

Actually some wordpress themes (e.g. Dyad 2) do have a [featured content concept.](https://wordpress.com/support/featured-content/ )
I think that we should only offer page layouts with "Featured Posts" if the us

[2021-09-07 01:52] jordesign commented on #46077
Just noting (and confirming) that this changes seems to be correctly working on WPCOM now!!

[2021-09-07 01:55] #46077 closed

[2021-09-07 04:10] arthur791004 commented on #51899
@jordesign I think it's great! We just need to let the user know that the default content will be the URL if they don't highlight any text.

[2021-09-07 06:29] formosattic commented on #50573
Closing this in favor of https://github.com/Automattic/wp-calypso/issues/47645

[2021-09-07 06:29] #50573 closed, assigned to nobody

[2021-09-07 06:32] p-jackson commented on #55785
This fix was merged to calypso in #56014 and the update to `wpcom-block-editor` was shipped in D66394-code

[2021-09-07 06:32] #55785 closed, assigned to nobody

[2021-09-07 06:48] donalirl opened #56047 "Clicking 'Back' from Domain Mapping Screen Does Not Take User Back"
### Steps to Reproduce

Scenario 1:

1. On a site with a paid plan, go to Upgrades > Domains
2. Click *Add a domain to this site* → *Use a domain I own*
3. Click Back

Scenario 2:

1. On a site with a paid plan that has not used its free domain credit, go to Upgrades > Domains
2. Click *I have a domain*
3. Click Back

### What I expected to happen

I expected to be taken back to the 'Site Domains'

[2021-09-07 06:58] mrfoxtalbot opened #56050 "Podcast Player Block not visible on the public post"
### Steps to Reproduce

Try to use the blog feed blog on https://mrfoxtalbot.wordpress.com

### What I expected to happen

The block is visible in the editor and should also show in the public site

### What actually happened

The Podcast Player block is not visible in the public site.

Editor view:
![Screen Shot on 2021-09-07 at 08:59:27](https://user-images.githubusercontent.com/4452464/13229893

[2021-09-07 07:21] p-jackson commented on #55515
pdgK6S-6i-p2

[2021-09-07 08:38] poligilad-auto commented on #51162
How about we do the same in our case @razvanpapadopol ? Show the "W" or site icon just like this. I also think it could work well adding our top navigation as well.

[2021-09-07 08:55] donalirl opened #56051 "Pre-Renewal Emails: Add Copy to Guide Customers to Self-Serve Their Billing Needs"
### What

Encourage users to self-serve their billing needs instead of contacting support.

### Why

In support, we receive a lot of email replies to the pre-renewal emails, with basic questions that can all be answered by the customer without needing to contact support. Some examples: #4218629-zen #4273099-zen #4265785-zen #4264634-zen

To reduce support contacts, it would be helpful to add detai

[2021-09-07 09:09] formosattic opened #56052 "Tiled Gallery in Reusable block: Link To Media File not showing full image"
### Steps to Reproduce

1. Create a tiled gallery, using horizontal and/or vertical images
2. In the Block settings, set **Link To** to **Media File**

### A clear and concise description of what you expected to happen.

Media file should show in full.

### What happens

On Simple, Atomic with Gutenberg on/off, the image shows in full if Tiled Gallery is a regular block, but not if it is in a Reus

[2021-09-07 09:18] lsl commented on #55738
Should be merged tomorrow - D66393-code

[2021-09-07 09:19] lsl commented on #55702
https://github.com/Automattic/wc-calypso-bridge/pull/743

Backed up by #55738's D66393-code

[2021-09-07 09:22] #56020 closed, assigned to mmtr

[2021-09-07 09:37] chriskmnds opened #56054 "Editor Welcome Tour: Improve keyboard interaction"
### What

Improve focus when interacting with the tour via tab + space/enter keys to navigate.
An alternative here would be to show a static text (eg: 3/8) instead of the navigation dots

### Why

Currently navigating the tour contents via tabbing feels cumbersome and requires many key presses to reach the various controls. Navigating by clicking the little dots or using the "Next" button throws t

[2021-09-07 09:58] #50752 closed, assigned to nobody

[2021-09-07 10:06] inaikem commented on #40499
@dpasque, pinging to get your attention!

[2021-09-07 10:16] simison commented on #40499
If this issue was closed for a year already, this is likely a new occurrence of the same problem? @WunderBart @fullofcaffeine can this be due Gutenberg upgrade?

[2021-09-07 10:50] mrfoxtalbot opened #56055 "Set a default/fallback opengraph image tag for social sharing previews"
### What

Allow users to select a default image for their Social Sharing Previews. This image will be displayed when no other image has been set via the post/page featured image.

### Why

1. If the homepage settings are set to "Recent Posts" there is no effective way to set the preview image for the homepage.
2. There is no way to set this image for archives (author, terms, date).
3. Site admins

[2021-09-07 12:23] danieldudzic commented on #55926
Thanks for the fixes @pbking :)

[2021-09-07 12:23] #55926 closed, assigned to nobody

[2021-09-07 12:41] #56030 closed, assigned to razvanpapadopol

[2021-09-07 12:42] poeticabdul commented on #53626
I encountered this during an empathy flow testing using the simple site `empathyabdul.blog`. The workaround worked fine.

[2021-09-07 12:53] dpasque commented on #40499
Tagging @Automattic/flow-patrol-create based on issue content. Will also ping internally.

[2021-09-07 13:00] cpapazoglou commented on #55975
Should we close this @gavande1 ?

[2021-09-07 13:26] mmtr opened #56057 "Atomic Downgrade: Investigate emails sent due to plan expiration"
As described in P9o2xV-1yt-p2, and in order to automatically revert Atomic sites back to the Simple sites infrastructure after their plan expire, we need to inform users via emails what are the actions we're going to take if they let the plan to expire.

In particular, we want to send 3 emails:
- A reminder that the plan is about to expire.
- A notification that their plan has expired.
- A notific

[2021-09-07 13:32] #55135 closed, assigned to andres-blanco

[2021-09-07 13:32] mmtr opened #56058 "Atomic Downgrade: Email notice after plan expiration, before revert is complete"
As noted in pdgTfM-3Y-p2, we need to improve the current email we sent to inform Atomic users that their plan is about to expire, so we can automatically revert the site after plan expiration.

[2021-09-07 13:34] mmtr opened #56059 "Atomic downgrade: Email notice after plan expiration and revert is complete"
As noted in pdgTfM-3Y-p2, we need to send an email one week after plan expiration, informing Atomic sites that we have reverted their site and they lost access to plan features.

[2021-09-07 13:39] mmtr opened #56060 "Atomic Downgrade: Automatically revert sites after plan expiration"
As noted in pdgTfM-3Y-p2, we want to automatically revert Atomic sites one week after plan expiration.

[2021-09-07 13:39] mmtr opened #56061 "Atomic Downgrade: Email notice after site revert"
As noted in P9o2xV-1yt-p2, we need to send an email to inform Atomic users that we have reverted their site. This requires https://github.com/Automattic/wp-calypso/issues/56060.

[2021-09-07 13:42] mmtr opened #56062 "Atomic Downgrade: Inform eCommerce plan features during cancellation/removal"
When a customer starts the process to cancel/remove a **eCommerce plan** from their Atomic site, we need to inform them that they will lose access to plan features like being able to run custom plugins and themes that will impact their site. This allows them to both retain their data, and to decide whether or not they want to continue having access to advanced hosting features.

[2021-09-07 13:52] julsyd opened #56067 "Feature Request: Show names when multiple users are logged in"
### Impacted plugin

Jetpack

### What

When one user is logged in, Activity Log shows the user's name. When multiple users are logged in at the same time, only the number of users is shown in Activity Log - allow their names to be seen as well.

### How

Single user:

![Screen Shot on 2021-09-07 at 09:50:34](https://user-images.githubusercontent.com/29981758/132356374-06cc59de-e637-46d2-838d-91a6

[2021-09-07 14:11] #55949 closed, assigned to dpasque

[2021-09-07 14:12] rickmgithub opened #56064 "Grey line in Gallery block"
### Steps to Reproduce

1. The site has a gallery block with a large number of images - https://wordpress.com/page/twols.club/124
2. Within the editor but not in the public view there is a grey bar showing next to an image
![image](https://user-images.githubusercontent.com/6737345/133394235-82b550ed-9918-409e-be76-f4ad31201b12.png)

3. When I copied it to a test site, the bar still appears. The or

[2021-09-07 14:39] andres-blanco commented on #55836
diff at D66421-code

[2021-09-07 14:41] msilbers commented on #41508
@sixhours It looks like the comments above yours mention this may be specific to Android, is that what you tested in your screen recording?

[2021-09-07 14:44] #55970 closed, assigned to sixhours

[2021-09-07 14:50] simison commented on #55102
@sixhours @flaviozavan let's please coordinate when then HEIC support can be added to .com. I'd love to have a timeline. Latest convo in p3topS-Tn-p2#comment-3725 and

[2021-09-07 14:56] mikeicode opened #56066 "Add information for Customizer logo accepted file types"
### What

When uploading a logo to the Customizer there is a list of accepted file types, but these aren’t correct for file types that can be used for the logo. Ideally this information would be displayed somewhere.

### Why

This can result in confusion, since you can't actually use all of these files types as a logo (.tiff for example).

Example of issue. It says you can upload a tiff, but you c

[2021-09-07 15:18] tellisbethel commented on #55365
Another instance here: 4277633-zd-woothemes
Simple site, Gateway theme

[2021-09-07 15:44] mikeicode opened #56068 "Pique: Front panel H2 heading centering issue"
### Steps to Reproduce

H2 centered headings on interior pages that are set to be a featured page on the homepage aren't centered on the front page. Other headings are correctly centered.

* Create an interior page with H2 headings set to center alignment & default / wide / full widths
* Set this page as a featured page in the Customizer
* View homepage

### What I expected to happen

Headings sho

[2021-09-07 15:50] jp-imagines opened #56070 "Star Rating block: "Styles" setting previews are blank in the right sidebar"
### Steps to Reproduce

1. Create a new post/page
2. Add the Star Rating block
3. Look at the "Styles" setting in the right sidebar

### What I expected to happen

A visual preview of the two styles (filled and outlined) to be displayed.

### What actually happened

Both previews are blank (see screenshot below).

### Context

Team empathy testing.

### Operating System

macOS

### OS Version

_No

[2021-09-07 15:51] kathrynwp opened #56071 "Stratford: Navigation Block missing spaces"
### Steps to Reproduce

1. Activate the Stratford theme
2. Add a Navigation Block (horizontal)

### What I expected to happen

There should be some space space between menu items, as there is when viewing the page directly.

![Navigate_around_the_site__–_Our_Fancy_New_Travel_Site](https://user-images.githubusercontent.com/7662449/132374526-8b733a66-af1d-4a87-8bcf-f4987b9f3f09.jpg)

### What actual

[2021-09-07 15:53] carladoria opened #56072 "Improve the Instagram block name/description"
### What

The Instagram Block requests a Instagram URL that is meant for individual Instagram posts but the block's name is not specific/descriptive enough

### Why

When you insert the Instagram block, you get a section for "Instagram URL". That can be interpreted as an Instagram profile, feed, etc, but the block is only meant to work for a single individual Instagram post.
The name of this block

[2021-09-07 15:57] kwight opened #56073 "Action Bar: Subscription settings are missing text."
When subscribing to https://whippetwisdom.com/, I don't get settings text, not styles I think.

<img width="441" alt="Screen Shot 2021-09-07 at 8 48 59 AM" src="https://user-images.githubusercontent.com/349751/132375539-bb0f80cb-a19b-40b5-b5e1-7d8ebd73d91a.png">

[2021-09-07 16:28] msilbers commented on #55283
reported in #31541042-zen
almost all country information is missing

[2021-09-07 16:45] keoshi commented on #29401
This was implemented a while back, and we now have filtering options for both Products and Orders:

![image](https://user-images.githubusercontent.com/390760/132381502-49b33ee9-e10d-4af7-bfef-c599a08d79e8.png)

Closing the issue!

[2021-09-07 16:45] #29401 closed

[2021-09-07 16:54] keoshi commented on #30265
This was purposefully tweaked to let the icons on the left shine since they're the ones that indicate status (backup successful, plugin update available, etc.). Adding green to our logo would make it compete in lots of different scenarios; example:

![image](https://user-images.githubusercontent.com/390760/132382516-ca440a77-6852-49c8-b82b-20d6c34d1b89.png)

I do agree that we should use a single

[2021-09-07 16:56] blackjackkent commented on #56073
This issue stems from the fact that we are not explicitly setting a text color for the labels of these toggles, so if the blog in question has a theme with white or light-colored text, the toggle text appears invisible.

I've created a diff with a fix at D66464-code.

[2021-09-07 16:58] blackjackkent commented on #21536
Apologies for lack of update here - D65679-code was deployed at the end of last week and seems to be working cleanly for the most part. @kwight noted a display bug on blogs with light-colored theme text (https://github.com/Automattic/wp-calypso/issues/56073) which is in the process of being resolved now.

[2021-09-07 17:10] michaeldcain commented on #56051
This is a good suggestion. In our planning call, we made some changes to the list of items, since "cancel a purchase" is essentially turning off auto-renew (and maybe not needed in this email) and renew manually might also not be needed, since this is an auto-renew pre-renewal email.

[2021-09-07 17:31] andres-blanco commented on #55838
the Confirm Follow Template is implemented in this diff: D66468-code, once that is merged I will close this issue.

[2021-09-07 17:34] michaeldcain commented on #56032
Let's start with a backend fix to validate the data, but then additionally modify both forms (Calypso and MC) allow for dynamic validation (i.e. if I input a VAT number with country code, auto-select country from the dropdown and remove it from the VAT number).

[2021-09-07 18:10] ChrissiePollock opened #56074 "Scroll Jumpy in Media Library"
### Steps to Reproduce

1. Go to https://wordpress.com/media/ and set the size to 50% (six columns).
2. Scroll down the page.
3. Notice the images jump before displaying.

The gif is too big to upload, but you can see it on https://d.pr/i/2WdVBO

### What I expected to happen

The scrolling should be smooth.S

### What actually happened

Scrolling causes the media images to jump.

### Context

Thi

[2021-09-07 18:29] davipontesblog opened #56075 "Signup: Domains step missing left padding; duplicated information"
### Steps to Reproduce

- This step https://wordpress.com/start/domains could use some left padding at the title area and the information at the bottom is duplicated.

<img width="858" alt="Screen Shot 2021-09-07 at 14 11 47" src="https://user-images.githubusercontent.com/31009008/132393365-e9fb45c8-bac1-4d6e-9209-5482c3027cae.png">

### What I expected to happen

For these issues to not come up.

[2021-09-07 18:39] AtrumGeost opened #56076 "Prompt on themes that hide the site header by default"
### What

It would be great if users could get a prompt or notification making them understand the site header is hidden by detault

### Why

When doing some Empathy Testing, the steps included creating a blog post. I decided to start with the Miller theme and when publishing the blog post I faced this:

![Screen Shot 2021-09-07 at 13 37 18](https://user-images.githubusercontent.com/3696121/132394

[2021-09-07 18:39] serabi opened #56077 "Block Patterns: Can't access the Header patterns in Safari"
### Steps to Reproduce

1. Start by opening a page to edit
2. Click the blue plus sign to open the blocks & pattern search sidebar
3. Go to Patterns → Headers (in the Patterns drop down)
4. Start scrolling. The second pattern, "Large header with text and a button" does not load correctly and breaks the entire pattern selection box.

I tested this on Chrome and did not see the same error/issue.

In

[2021-09-07 18:42] kathleenjross opened #56078 "Site Title doesn't update in set-up flow"
### Steps to Reproduce

As a new user, with a new site:

1. From My Home, click Name your site
2. Add Site Title
3. Click All done, continue
4. Click Save Settings
5. I get the "Good job, looks great!" message, and click return to Home
6. Site Title has not been updated in upper left corner, but it's there when I return to Settings, and only there once I refresh the page:

<img width="1225" alt="S

[2021-09-07 18:51] serabi opened #56080 "Flow to access WooCommerce settings broken when first setting up a domain"
### Steps to Reproduce

1. Buy a new site, with a new domain
2. Go to Plugins and install WooCommerce
3. Once WooCommerce is installed, an alert will pop up that says that you'll be redirected in 5 seconds
4. You'll then be redirected to a broken page if the domain hasn't propagated yet. Screenshot of an example:

<img width="2268" alt="screen_shot_2021-09-07_at_2 42 04_pm" src="https://user-image

[2021-09-07 18:53] AtrumGeost commented on #53476
I experienced this during Team Empathy Testing, it would be awesome to have previews :)

[2021-09-07 18:59] jamiepalatnik commented on #56075
I can recreate this when the viewport is narrower than 960px. When the viewport is 960px wide or greater, these issues do not occur.

[2021-09-07 19:32] Robertght commented on #55807
A similar case is solved here with more details: p2-p2EDhh-1kl

For my case, I changed the format through wp-admin directly to `g:i a` which seems to have fixed it.

[2021-09-07 19:39] jp-imagines commented on #55685
Another report in 31544152-hc. Wasn't able to replicate myself, but disabling Gutenberg resolved the issue for the user. Only two non-default plugins installed on this site (and a retired WPcom theme active).

[2021-09-07 21:48] KirkwallDay opened #56085 "Theme search on Atomic not showing all the showcase themes."
### Steps to Reproduce

1. Go to the Theme Search on an atomic site.
2. Use the "WordPress.com" view so you can search the showcase.
3. Try to search for themes that should be available (I tried Edin and Colinear)

### What I expected to happen

These showcase themes should be available in the search results on Atomic.

### What actually happened

It does not find these themes, and they appear to

[2021-09-07 21:53] unicornfancy opened #56086 "The import flow doesn't prompt you to install Jetpack on a .org/self-hosted site before going through the import process"
### What

Add a prompt to install Jetpack before attempting to import to Atomic

### Why

The user flow is missing a crucial component when you are attempting to import a self-hosted site to an Atomic plan: there's no prompt to install and connect Jetpack!

Additionally, when you attempt to import without Jetpack installed, the importer doesn't give any error messages. It appears to be working to

[2021-09-07 21:59] #21536 closed

[2021-09-07 22:04] worldomonation commented on #51162
This is causing issues when migrating one of the e2e specs to Playwright - [#56087](https://github.com/Automattic/wp-calypso/pull/56087).

[2021-09-07 22:28] #47637 closed, assigned to sarayourfriend

[2021-09-07 22:35] sirbrillig opened #56088 "Feature Request: format postal codes in domain contact form"
In https://github.com/Automattic/wp-calypso/pull/52475 we added support for auto-formatting of postal codes in the tax contact form, but support was not added to the other contact forms (domains, G Suite). We should probably do that.

[2021-09-07 22:47] #56007 closed, assigned to nobody

[2021-09-07 23:55] cuemarie commented on #55685
Another report here: 29151076-hc
Strongly recommended they perform a full theme/plugin conflict test, however deactivating Gutenberg allowed them access for now.

[2021-09-08 03:23] p-jackson commented on #50365
11.4.1 has been deployed to WordPress.com, however the fix doesn't seem to be working. I think it's something to do with the `_locale=site` param not working on wpcom the same way it does on a stand alone site.

[2021-09-08 05:45] p-jackson commented on #55515
Change deployed in latest ETK release: D66502-code
Code change here: #56049

[2021-09-08 05:45] #55515 closed, assigned to p-jackson

[2021-09-08 05:46] p-jackson commented on #50365
Working on fix to wpcom API D66501-code

[2021-09-08 05:47] p-jackson commented on #55300
Link has been changed to the translated support site

[2021-09-08 05:47] #55300 closed, assigned to arthur791004

[2021-09-08 05:49] p-jackson commented on #55362
Change deployed D66025-code

[2021-09-08 05:49] #55362 closed, assigned to nobody

[2021-09-08 06:23] marutim commented on #51899
A similar issue was reported. In this case, neither the post title or post URL was displayed.

I was able to replicate the same steps.

Screenshot:
<img width="1809" alt="Markup 2021-09-08 at 10 27 02" src="https://user-images.githubusercontent.com/3498917/132456821-58d16d6c-4244-4565-92ca-ee9a396552e1.png">

Chat: 30692153-hc
Follow up ticket: 4281629-zd

[2021-09-08 06:43] inaikem opened #56090 "Image block with link set shows a bottom border in the middle of the image"
### Quick summary

When adding a link to a normal Image block, the block will render a line behind the image.

The line is a CSS bottom border set on the image's container A tag. See the screenshot below:

![Image block bottom border](https://user-images.githubusercontent.com/66711744/132458803-9889e95b-d3dc-4df4-9ff1-d3ecf56c5f0b.png)

### Steps to reproduce

1. Add an image block to a post/page.

[2021-09-08 06:49] edwinho89 commented on #55685
Another report: 31550917-hc
Clearing browser cache did not help

[2021-09-08 06:52] donalirl opened #56091 "Add Support Link to Block Card Description"
### What

In the block description, let's link to that block's support doc so users can learn how to use the block without contacting support.

### Why

This will help WordPress.com users easily discover our comprehensive resources on how to use each block in the editor. With these support docs, users can learn about blocks more quickly, figure out the settings themselves, and reduce their likelih

[2021-09-08 06:55] arunsathiya commented on #52205
Requested in 4281539-zen.

[2021-09-08 07:09] lsl commented on #55894
^ now replaced by D66496-code

[2021-09-08 07:10] lsl commented on #55738
Bit of a setback waiting for US holiday afk's. Some review comments required a move of some code to trunk D66496-code. D66393-code got merged with only the site sticker addition to blog rc.

[2021-09-08 07:15] gavande1 commented on #55975
Yes. We can close it 👍

[2021-09-08 07:15] #55975 closed, assigned to gavande1

[2021-09-08 07:29] #55702 closed, assigned to nobody

[2021-09-08 07:46] inaikem commented on #55708
Appears dependent on the linked issue above. Marking as triaged for the moment.

[2021-09-08 07:52] donalirl opened #56092 "Renewal failure emails: Add Expiration Date to Email Copy"
### What

Add the subscription's expiry date to the copy of the email.

### Why

Customers with auto-renewing purchases receive an email if the renewal fails. It's common for customers to reply to these emails and ask if they can have a little extra time before they need to pay. Example: #4219620-zen

Customers do not realize that we attempt to renew purchases 30 days before expiry, to ensure unin

[2021-09-08 08:09] Greatdane commented on #55808
I was able to replicate this error on the widget editor (simple and atomic), but not on the block editor.

[2021-09-08 08:19] Robertght commented on #55685
@cuemarie I can see a lot of error messages in the browser console with Gutenberg active. I can see some of them are not Gutenberg-related, but it's worth making sure this isn't a theme issue as well.

In this case, Yoast and Gutenberg Blocks – PublishPress Blocks Gutenberg Editor plugin errors.

@edwinho89 - the only see I see in common here is `Gutenberg Blocks – PublishPress Blocks Gutenberg Ed

[2021-09-08 08:45] Robertght commented on #55846
@sixhours Is this something that would suit your pod's work? :)

[2021-09-08 08:52] Robertght commented on #55854
Thank you for reporting this @philnick206 ! I can see this might be a core Gutenberg issue here:

https://github.com/WordPress/gutenberg/issues/29436

@Automattic/flow-patrol-create  is this something that you can look into as well?

[2021-09-08 09:04] Robertght commented on #55887
Thank you for reporting this @Nic-Sevic !

I'm not able to replicate this for now. I have tried using the same theme in the process as well, but no dice.

Would there be any additional details that you could share with us?

[2021-09-08 09:27] yansern commented on #55680
Add `role="button" tabindex="0"` to `#color-grid > li`.
The file to modify is `wp-content/mu-plugins/colors/colors.php` on WPCOM.

![image](https://user-images.githubusercontent.com/1287077/132483832-92f1ddc8-03ce-41e7-8868-0b665b5ebee1.png)

[2021-09-08 09:45] chriskmnds commented on #56091
Some additional notes/discussion (and a couple of links) in a Slack thread: p1631084135042600-slack-C029WSAQMT9

[2021-09-08 09:57] inaikem commented on #55810
Thanks for reporting this, Retno! I can replicate part of this issue: excerpt length is not respected by the Blog Posts Block when a excerpt is manually set.

Example:

![Markup on 2021-09-08 at 17:54:29](https://user-images.githubusercontent.com/66711744/132488390-1a919122-c135-4de4-9fc7-a66a0d8c9df1.png)

The above screenshot shows the excerpt length set to 10 words. When a manual excerpt is set

[2021-09-08 09:57] #55810 closed, assigned to nobody

[2021-09-08 10:03] inaikem opened #56094 "Blog Posts Block should ignore manual excerpt length and respect the block's excerpt length settings"
### What

Make the Blog Posts Block ignore any existing manual excerpt length and force the post excerpt to be displayed as per the Block settings.

### Why

When a manual excerpt is set, the Blog Posts Block's excerpt length setting is not respected, creating a visually jarring and inconsistent experience.

Example:
&nbsp;

![Markup on 2021-09-08 at 17:54:29](https://user-images.githubusercontent

[2021-09-08 10:17] kosiew commented on #51899
The important step that is often overlooked is to highlight some text before clicking on Press This.

From the documentation:

[code]

[Using Press This](https://wordpress.com/support/press-this/#using-press-this)

If the bookmarklet javascript is amended to check selection text, to pull in title when selection is blank, this will work

Excerpt:
[code]

[2021-09-08 10:31] kamlesh08 opened #56096 "Reorder Social Icons not working in Jetpack Social Icons widget"
**Steps to reproduce**

1. On a Simple site, add a Jetpack Social Icons widget to any widget location.
2. Add Facebook, Twitter, Instagram, or any other social URLs that you wish to display on the site.
3. Post adding the URLs, try reordering the Icons. It won't work.

**Screenshot**

<img width="292" alt="Screenshot 2021-09-08 at 15 14 30" src="https://user-images.githubusercontent.com/22547800/1

[2021-09-08 10:55] dsas commented on #55243
Being worked on in D66518-code

[2021-09-08 11:17] yansern commented on #55745
The follow button seems to be only testable on sites running P2 theme.
When the follow button is clicked, it triggers a change event, causing the post content to rerender.

In order to debug this, set a breakpoint on `renderPost: function () {`. (Source file: `wp-content/plugins/p2tenberg/p2/js/post.js`) so you can see the entire trace of how clicking on follow button causes the post to rerender.

[2021-09-08 11:53] chad1008 opened #56098 "Gutenberg: v11.5.x plugin upgrade"
Previous upgrade:  #55598
Release notes:

- [x] Install and activate
   - [x] Copy & install v11.5.0-rc.1 (D66525-code, D66527-code)
   - [x] Activate v11.5.0-rc.1 on edge (D66529-code)
   - [x] Copy & install v11.5.0 (D66959-code, D66962-code)
   - [x] Activate v11.5.0 on edge (D66964-code)
   - (skipped) Activate v11.5.0 on production
   - [x] Copy & install v11.5.1 (D67141-code, D67142-code)

[2021-09-08 12:18] yansern commented on #51013
When the caption of an image has changed, the old caption is being sent by Calypso's media modal to the Slideshow block. An XHR request to update the image caption runs in parallel in the background.

In order to fix this, the new caption taken from the dirty input field (since XHR request is executed later) should already be sent to the Slideshow block.

[2021-09-08 12:35] Christopher-Stevers commented on #56078
Can I work on this one?

[2021-09-08 13:14] alshakero commented on #54800
PR ready https://github.com/WordPress/gutenberg/pull/34649

[2021-09-08 13:18] yansern commented on #55263
I am unable to replicate this unless I squeeze the viewport to a very narrow width with the block list panel open.
Do you have a direct link to the post where I can test with?
![image](https://user-images.githubusercontent.com/1287077/132516733-2f0ef922-fa55-4ff9-8cf1-43aa694dbe29.png)

[2021-09-08 13:30] mikeicode commented on #52591
I’m not sure if this is intentional but I see the setting on AT sites, not on Simple.

**Simple:**

<img width="762" alt="Screen Shot 2021-09-08 at 09 27 09" src="https://user-images.githubusercontent.com/10353785/132518528-0a5acb87-43a4-4e17-9866-cf00f58147ad.png">

**AT:**

<img width="763" alt="Screen Shot 2021-09-08 at 09 26 28" src="https://user-images.githubusercontent.com/10353785/132518545

[2021-09-08 13:50] michaeldcain commented on #51556
I'm not inclined to add the abandoned cart notice to more screens, since it and the related emails are often cited as the primary source of confusion for our users. Instead, we'll be adding a persistent cart to the app in #52890 (issue #48334), and possibly removing the notices around the same time.

In the meantime, is there better wording for the message? We last updated it in #35753 (from "comp

[2021-09-08 14:23] dpasque opened #56102 "Playwright: Can we enforce jest-runner-group jsdocs with linter?"
### Details

We now run specs with [jest-runner-groups](https://github.com/eugene-manuilov/jest-runner-groups). It would be neat if we could enforce the file jsdoc with a linter rule, so that folks don't forget to include a spec in a suite file.

### Checklist

_No response_

### Related

_No response_

[2021-09-08 14:40] #55497 closed, assigned to sixhours

[2021-09-08 14:45] dpasque commented on #55808
Not sure if this related to something wrong in the block widget editor, or the block itself. If it's the block itself, it might be worth moving to https://github.com/Automattic/crowdsignal-forms.

Tagging @Automattic/flow-patrol-create based on issue content.

[2021-09-08 14:58] sixhours commented on #41508
@msilbers Nope, I could not test on Android, only iPhone. Please feel free to reopen this if the issue still persists on Android and we can find someone to test it!

[2021-09-08 15:01] sixhours commented on #55696
@gravityrail Is this still on Jetpack's radar? Is there somewhere I should note it/flag it for further investigation?

[2021-09-08 15:08] sixhours commented on #55846
Hmm, I think this falls under Marketing's purview. /cc @Automattic/martech

[2021-09-08 15:14] andres-blanco commented on #55632
Worked on D66547-code

[2021-09-08 15:18] blackjackkent commented on #56073
Fix has been deployed! Closing.

[2021-09-08 15:18] #56073 closed, assigned to blackjackkent

[2021-09-08 15:29] msilbers commented on #41508
Reopening as I was not able to get this working in Android

[2021-09-08 15:46] sirbrillig commented on #55944
Working on this in https://github.com/Automattic/wp-calypso/pull/56089. It actually seems to be working even though there's a couple pretty major changes necessary.

[2021-09-08 16:14] gravityrail commented on #55696
@sixhours in longer work in Jetpack so it's best if someone else tackles this who can follow it through. Cc @ebinnion

[2021-09-08 16:53] khristiansnyder opened #56108 "Atomic: Can't update featured image on Gutenberg 11.4.1"
### Quick summary

On Atomic sites with Gutenberg 11.4.1 plugin active, updating a post that has an existing featured image saved just results in a spinning icon and the image never updates.

### Steps to reproduce

1. On an AT site, open a post up with an existing featured image
2. Try and update that image in the editor. After selecting the image, a spinning icon shows but never updates:
<img wi

[2021-09-08 17:26] synora commented on #56108
Triaged. I'm able to replicate this but the new featured image does end up being updated on the page/post. It’s just not displaying in the page/post featured image settings.

Once you've updated the featured image, you'll notice the "spinning icon" as mentioned in the steps above. However, if you click "Update" in the page/post and then visit the page, the updated featured image appears on the pag

[2021-09-08 17:27] ebinnion commented on #55696
@anomiex – Since you reviewed the [original PR](https://github.com/Automattic/jetpack/pull/20730) and Dan is now in Tumblr, would you mind taking a look at this?

[2021-09-08 18:12] vindl commented on #54463
Hi @jeffikus! Do you have a suggestion which theme to pick for this purpose? We'd like to launch the FSE beta soon, so I'm looking for one that's going to be in the most stable state in your opinion.

[2021-09-08 18:27] sdixon194 opened #56111 "Jetpack: Calypso Build Breaks Image Paths From Incorrect `publicPath`"
When we updated Jetpack to Webpack 5, it brought along [this change to Calypso Build](https://github.com/Automattic/wp-calypso/pull/54379/files) which sets the publicPath to '/'. This prevented Jetpack's previous default setting of `__webpack_public_path__` from working correctly, which breaks image paths when previewing images in the block editor.

In Jetpack 10.1, [we used a hacky workaround](ht

[2021-09-08 18:38] scinos commented on #56111
Should be relatively easy to fix by deleting the default value for `publicPath`

[2021-09-08 19:02] vindl commented on #55861
@Addison-Stavlo I think we can deploy this diff at this point?

[2021-09-08 19:16] sdixon194 commented on #56111
Yup, we noticed if that line was removed it worked fine. Wasn't sure if there was any other intended use for it.

[2021-09-08 19:33] jeyip commented on #54468
### Status Update

I'm pausing work on google fonts to focus on the remaining FSE beta release blockers. https://github.com/Automattic/wp-calypso/milestone/359.

I plan to return to this in the near future when the blockers are resolved, and will update this issue accordingly when things change. @Copons @vindl @creativecoder

[2021-09-08 19:35] supernovia commented on #54089
Thank you! And good question, re: can it be closed. @mrfoxtalbot -- thoughts?

[2021-09-08 19:42] bobmatyas commented on #53978
Reached back out to LinkedIn on 4283661-zen

[2021-09-08 19:57] supernovia commented on #54089
I do think it's safe to go ahead and close this. Thanks for fixing the other part, too, @Aurorum !

[2021-09-08 19:57] #54089 closed, assigned to nobody

[2021-09-08 20:19] autumnfjeld opened #56114 "Write button on wordpress.com/home should produce pop-up list of sites that are left aligned"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/home
2. Click on write
3. See pop up list of sites that are oddly centered

#### What I expected to happen
List of sites should be left aligned after clicking on write button

#### What actually happened
LIst of sites are centered
![image](https://user-images.githubusercontent.com/5665959/132579179-7f8f2271-e8b3-491b-87b3-7f1601f6

[2021-09-08 20:38] anomiex commented on #55696
Took me a while to figure out how to reproduce it (I'm not terribly familiar with WordPress, and confused the post editor with the widget editor among other things), but eventually I figured it out. After that I quickly found that `window.__esModule` was strangely `true`, and tracked that down to a Webpack 5 behavior change when `output.libraryType` is set to "window" without setting a library nam

[2021-09-08 20:44] timjthyne commented on #55696
Another user reported trouble related to this here: Woothemes ZD 4283605

[2021-09-08 21:30] kwight opened #56115 "Action Bar: Default values of follow settings are incorrect."
When following a site with the Action Bar, the new follow settings show all switches in the off position, when the "Email me new posts" settings should be on. The subscribe itself seems to work properly, though (the switch will show as on if verified in the Reader).

| Front-End | Reader |
| --- | --- |
| <img width="350" alt="Screen Shot 2021-09-08 at 2 29 04 PM" src="https://user-images.githubus

[2021-09-08 21:38] kwight opened #56117 "Action Bar: Follow settings styling needs improvement."
Font weights, line heights, font colors, and switch colors all need further consideration. The settings panel doesn't full match the Calypso Reader, nor the ellipsis menu of the Action Bar itself.

![2021-09-08 14 37 10](https://user-images.githubusercontent.com/349751/132589074-ab43b98e-2503-4306-affa-cd47ecf357d2.gif)

[2021-09-08 21:41] kwight commented on #56117
@saygunnyc Can you give some guidance here please? I'm assuming we'd like the switch on position to be blue, like Calypso... but would the text all follow the weight and such of the Action Bar's ellipsis menu? I guess all of it could follow Calypso, but the background color might look out of place with the rest of the Action Bar. 🤔

<img width="419" alt="Screen Shot 2021-09-08 at 2 29 17 PM" src="

[2021-09-08 21:47] kwight opened #56118 "Action Bar: Follow settings don't allow for email frequency changes."
The Follow settings in the Reader allow the user to change their frequency of email delivery, but in the Action Bar, we make the user go to the Reader for that setting (kind of defeating the convenience of having the settings all in the Action Bar). Let's add the email frequency setting to the Action Bar also.

| Action Bar | Reader |
| --- | --- |
| <img width="355" alt="Screen Shot 2021-09-08 at

[2021-09-08 21:52] carladoria opened #56119 "Domain Connection updates requires URL changes in Calypso's UI"
Domain Mapping was changed to Domain connection. Therefore [several docs were updated](1200-gh-Automattic/en.support-docs-content), and hence the permalinks were also updated.

These doc URLS:

https://wordpress.com/support/domains/map-existing-domain/
https://wordpress.com/support/domains/map-subdomain/
https://wordpress.com/support/domain-mapping-vs-domain-transfer/

are linked in Calypso:

http

[2021-09-08 21:57] kwight opened #56120 "Action Bar: The only way to dismiss the follow settings is to unsubscribe."
When we subscribe to a site with the Action Bar, the Follow settings pop up – but then they can't be dismissed (the page would have to be refreshed). The obvious user action is to click the button they're stemming from visually, which will... unsubscribe the user. 🙃

![2021-09-08 14 52 18](https://user-images.githubusercontent.com/349751/132591172-7c280532-47f7-4ecf-8c5b-ac83ced10ee5.gif)

[2021-09-08 22:00] kwight commented on #56120
I'm thinking any click outside of the popup should close it: the ellipsis, background (and the Following button). We could also introduce a closing `X` to the top right of the popup?.. @saygunnyc does any of this make more sense to you for handling this issue?

[2021-09-08 22:14] khristiansnyder commented on #56108
Added the GB repo here: https://github.com/WordPress/gutenberg/issues/34671

[2021-09-08 23:37] donalirl opened #56122 "Add Success Message to domain-notice alerts for Connected Domain"
### What

We use domain-notice to show a connection error when a mapped/connected domain is not set up correctly. Can we also show a success message when the domain is mapped successfully?

### Why

A typical WordPress.com user does not understand domains, DNS, and propagation. When a domain is not yet mapped correctly, we show an error to prompt them to fix it. However, when the domain is success

[2021-09-09 00:06] jerrysarcastic commented on #55344
Same issue reported in https://wordpress.com/forums/topic/i-cant-get-instagram-to-conncet/

[2021-09-09 00:09] jeyip commented on #54508
### Status Update

I'm going to champion the remaining the tasks. I'm in the process of putting together a few estimates for the final 4 issues:

#### 1. Show beta badge in the "current theme" banner
- Best, average, and worst case **2 days / 3 days / 4 days**
- Might need some design discussion

#### 2. Show beta badge in theme info screen
- Best, average, and worst case **2 days / 3 days / 4 day

[2021-09-09 01:20] #55782 closed, assigned to nobody

[2021-09-09 01:20] #55783 closed, assigned to nobody

[2021-09-09 01:20] #55784 closed, assigned to nobody

[2021-09-09 01:56] #51249 closed, assigned to arthur791004

[2021-09-09 01:58] hacchism opened #56124 "Radcliffe 2: Mispositioning of post/page titles in editor"
### Quick summary

_No response_

### Steps to reproduce

1. Activate "Radcliffe 2" theme
2. Open an editor for posts or pages

### What you expected to happen

Post/Page title should align with the content box below.

![Screen Shot on 2021-09-09 at 10:50:43](https://user-images.githubusercontent.com/32432463/132608913-9f11f8bb-6f98-472e-a760-f320bd0c7e80.png)

### What actually happened

Post/Pag

[2021-09-09 02:01] creativecoder commented on #56108
I believe this will be fixed in Gutenberg 11.5.0 (see https://github.com/WordPress/gutenberg/issues/34671#issuecomment-915699071)

[2021-09-09 02:07] p-jackson commented on #55781
Another approach we've discussed is to create a separate theme for each theme/layout/font/colours combination. This way choosing a design would be the same thing as choosing a theme.

[2021-09-09 04:02] kosiew commented on #55811
Hi @inaikem ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-09-09 04:30] flameslash opened #56126 "Accordion block: Video block added inside the accordion item disappears when previewed but reappears if browser is resized."
**Steps to reproduce the behavior**

1. Create an accordion block on the page.
2. Within the accordion item content, add a video block in it.
3. Save the changes and preview the site and see if the videos display properly

**What I expected to happen**

Videos should display in the page preview

**What actually happened**

The videos in the accordion element do not show up on the preview. Only whe

[2021-09-09 05:06] kosiew commented on #55881
Hi @katiebethbrown ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.

In addition, I also tested this on AT site and it works per expectation.

![Screenshot](https://d.pr/i/QALjtX+)
*if image does not load, please click on this link  : https://d.pr/i/QALjtX*

Triaging for developers' further investigation.

[2021-09-09 05:43] kosiew commented on #55888
Hi @galakhyati ,

Thanks for reporting this and the detailed steps.

https://github.com/WordPress/gutenberg/issues/32689 says that internal links should show preview too.

Triaging for developers' further investigation.

[2021-09-09 05:53] kosiew commented on #55888
As I could also reproduce on a Jurassic Ninja site, I filed a Gutenberg issue - https://github.com/WordPress/gutenberg/issues/34676

Closing this in favour to https://github.com/WordPress/gutenberg/issues/34676

[2021-09-09 06:02] zdenys commented on #51556
I would not suggest that either.

This sounds like a better direction indeed.

I don't have data to support the idea that changing the wording would lead to less confusion. So I'm not sure it's worth the time/effort which instead could be used for higher priority / more impactful tasks (e.g. the persistent cart icon solution you mentioned).

[2021-09-09 06:03] kosiew commented on #55895
Hi @zdenys ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a AT site.
Further confirmed it is specific to AT site and does not happen on Jurassic Ninja site.

![Markup on 2021-09-09 at 14:01:31](https://user-images.githubusercontent.com/29057562/132631613-b8830499-d160-46b4-ae66-04e8101ca173.png)

Triaging for developers' further investigation.

[2021-09-09 06:10] kosiew commented on #55896
Hi @zdenys ,

Thanks for improvement idea and the detailed steps.

@Robertght - for attention of flow patrol

[2021-09-09 06:30] kosiew commented on #55902
Hi @zdenys ,

Thanks for reporting this and the detailed steps.

I followed the above steps and reached this screen after installing WooCommerce 5.6.0

![image](https://user-images.githubusercontent.com/29057562/132634289-e010041f-2a3b-4528-bd9a-9007bd2bc993.png)

In addition, in the Setup wizard, task list is also enabled:

![image](https://user-images.githubusercontent.com/29057562/132634419-399

[2021-09-09 06:32] kosiew commented on #55902
Closing for now.
Please reopen if you have more information on how to replicate this.

[2021-09-09 06:32] #55902 closed, assigned to nobody

[2021-09-09 06:36] kosiew commented on #55908
Hi @sethmclellana8c ,

Thanks for reporting this and the detailed explanation.

Should this be moved to Gutenberg?

[2021-09-09 06:54] Robertght commented on #54321
I'm not sure how we can approach this, but is this something that can be fixed from this end or Jetpack's end?

cc @kwight @sixhours

[2021-09-09 07:03] kosiew commented on #55909
Hi @AtrumGeost ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a AT site.

Moving to wc-calypso-bridge

[2021-09-09 07:20] donalirl commented on #56051
Great. If it's not too much, it would also be helpful to add a link to our Manage Purchases support doc somewhere, for users who need a little extra help.

If we can do that, one suggestion is directly underneath the Manage Subscriptions button, add a text link:

[Get Help](https://wordpress.com/support/manage-purchases/)

(And at the bottom of that doc is a link to contact support, if they need h

[2021-09-09 07:36] Greatdane commented on #56126
The Accordion Block is from the plugin [CoBlocks](https://wordpress.org/plugins/coblocks/) - so does not affect Simple sites.

I am able to replicate this issue on Atomic sites only. Self-hosted sites do not seem to be affected, so it could be a calypso issue.

To confirm on WordPress.com Atomic sites, placing a video within an Accordion Block stops the video from loading unless the page is resize

[2021-09-09 07:57] Greatdane commented on #56126
To add, the issue seems to be, by default, the height and width of the videpress iframe is 0, rendering the video practically invisible. When you resize the window, the height/width changes and the video becomes visible.

[code]

[2021-09-09 08:01] simison commented on #55344
Chatted with @arcangelini, summary;

- Let's hide the legacy widget from the inserter, effectively deprecating it. No reason to promote widget there anymore if we now have a block instead that works. That shouldn't completely remove the legacy widget; it should still work if people have it inserted in the widget area already.
- Let's add `transform` if possible; that'll let folks with old widget t

[2021-09-09 08:28] inaikem commented on #55908
Hi Siew 👋  Yes, it's a good idea to transfer this over to the core Gutenberg repo!

[2021-09-09 08:49] donalirl opened #56133 "Add Ability to Dismiss the "Free Domain Available" Notice"
### What

Provide the option to dismiss the "free domain available" notice from the dashboard

### Why

Not all customers wish to claim a free domain registration with us, most commonly because they already own a domain (that they do not wish to transfer to us.) We can provide an option to hide the notice for those who wish to ignore the offer. Ignoring the offer would not remove their domain cred

[2021-09-09 09:18] Robertght commented on #55896
I think this should be a quick win.

cc @sixhours

[2021-09-09 09:19] zdenys commented on #55902
I cannot reproduce anymore indeed. I must have done it on a Simple Site that was not a new one, but possibly an older one and maybe even a previously reverted AT site. So unless I can reproduce consistently, it's right to have this closed. Thanks for checking.

[2021-09-09 09:20] pauljacobson opened #56135 "Calypso notifications: Comments notification indicator with no unread comments"
### Quick summary

Our customer noticed a comments notification indicator in the dashboard menubar. There are no apparent comments or other indication why this number should appear here.

![Capture_2021-09-09 at 12 13 21@2x](https://user-images.githubusercontent.com/2912202/132658419-6b036427-0cc8-4f4a-8dcd-600de27fa2ef.png)

Also see here:

https://user-images.githubusercontent.com/2912202/132658

[2021-09-09 09:27] inaikem commented on #49830
Reopening this, as it appears nav links to WP Admin versions of the menu and widget pages are once again pointing to the Cusomizer for Atomic sites.

Accessing the pages directly works as expected at `/wp-admin/nav-menus.php` and `/wp-admin/widgets.php`.

User report: 4284607-zen.

[2021-09-09 09:33] Robertght commented on #55937
I can replicate this on my end as well. I can't find it on a self-hosted website either with Jetpack active either.

For now, I could recommend using the Video block as a workaround.

@Automattic/flow-patrol-create is this something that can be on your radar?

Also, other possible related issues here: #55877 and #55696

[2021-09-09 09:34] saygunnyc commented on #56120
💯 and yes, clicking on the overflow menu should also close it. It's weird to have two pop-up menus open at the same time over each other. Also, vice versa, once the overflow menu is opened, clicking somewhere else including the follow button should deactivate it.

This may not be necessary as both menus are visually attached to the module and not independent modals. So they act like site dropdown

[2021-09-09 09:40] inaikem commented on #55283
@msilbers, hope you don't mind but I edited the reference above to `hc`

@alshakero, are you able to take a look at @allanftd's comment above?

Any idea if flow Patrol's going to have a chance to look into this further any time soon? Thanks!

[2021-09-09 09:48] Robertght commented on #55911
Thank you for reporting this! Is this something the The Subscriptions pod can take a look at?

cc @inaikem

[2021-09-09 09:49] inaikem commented on #55911
Added it to the pod's project board, thanks Robert!

[2021-09-09 09:56] mmtr commented on #49830
@inaikem I think that's the intended behavior. See p1628525963071300/1628262477.060300-slack-CB0B2G43X p1628193314037400/1628119959.008100-slack-C021Z8P3RMG. As of https://github.com/Automattic/jetpack/pull/20587, all these menus point to the Customizer.

[2021-09-09 09:58] synora commented on #56108
Closing this in favor of https://github.com/WordPress/gutenberg/issues/34671

[2021-09-09 09:58] #56108 closed, assigned to nobody

[2021-09-09 10:03] inaikem commented on #49830
Thanks Miguel! I am curious, though. I was under the impression that we would continue to point Atomic users to the WP Admin screen when they have the "Classic View" selected under screen options - I may well have made that up but would like to clarify all the same!

[2021-09-09 10:08] mmtr commented on #49830
Unfortunately, the layout of Customizer screens doesn't offer a screen options button, so we couldn't provide users the ability to choose their preferred view (see https://github.com/Automattic/wp-calypso/issues/55231).

[2021-09-09 10:09] Robertght commented on #55941
For what is worth, I'm not able to replicate this on my end either. I've tried on a Premium plan, which showed the banner but not the error.

Then upgraded to an eCommerce one but that didn't show the banner anymore.

@zdenys Can you give this another go and let us know if you're still seeing the issue?

[2021-09-09 10:13] Robertght commented on #55945
Thank you for reporting this @Camaropilot ! I'm not able to replicate this anymore with the user's site.

Please follow up with the user and open the issue again if it's still a problem.

[2021-09-09 10:13] #55945 closed, assigned to nobody

[2021-09-09 10:14] inaikem commented on #49830
Agreed. I appreciate there's limited screen real estate in the Customizer to add a dedicated toggle and should have been clearer:

I'm advocating that for Atomic sites, whenever the Classic view is active via the screen options panel (regardless of where it was selected), we should be redirecting clicks to `Appearance > Menus`  and `Appearance > Widgets` to their respective WP Admin links and not

[2021-09-09 10:15] simison commented on #49830
Aren't "screen options" meant for setting showing Calypso/wp-admin views, whereas here we have just wp-admin views, and no Calypso views?

[2021-09-09 10:21] kosiew commented on #55908
Copied to https://github.com/WordPress/gutenberg/issues/34688
Closing this.

[2021-09-09 10:28] Robertght commented on #55964
Thank you for reporting this!

I can confirm the same behavior is happening on my end. The key thing to have in perspective is the 'Let visitors use a WordPress.com, Twitter, Facebook, or Google account to comment' to be turned on. Once that's on, the comment won't be posted.

[2021-09-09 10:31] BogdanUngureanu commented on #55191
Since a generic revert and lossless import function will be handled by Atomic team and based feedback received in the diff, I've created a new diff for this: D66593-code and currently put on hold until the generic function for revert & import is ready to consume in our code.

[2021-09-09 10:33] BogdanUngureanu commented on #55243
Since a generic revert and lossless import function will be handled by the Atomic team, both the import and revert can be handled in one diff: D66593-code

[2021-09-09 10:34] Robertght commented on #55877
I'm marking this as duplicate in favor of https://github.com/Automattic/wp-calypso/issues/55696#issuecomment-911587948

[2021-09-09 10:34] #55877 closed, assigned to nobody

[2021-09-09 11:56] Addison-Stavlo commented on #55861
deployed!

[2021-09-09 11:56] #55861 closed, assigned to Addison-Stavlo

[2021-09-09 12:16] retnonindya opened #56138 "Theme Gema: Theme conflict with Jetpack Search (upgrade)"
### Quick summary

When a website has these two conditions:
- Theme Gema active, and...
- It has a Jetpack Search subscription active

Jetpack Search will NOT work.

### Steps to reproduce

1. Activate theme Gema/ensure theme Gema is ACTIVE on the website (Simple Site)
2. Ensure the website has paid Jetpack Search subscription

**Search result when using regular Search widget** will yield blank sc

[2021-09-09 12:27] yansern commented on #51610
After reviewing the PR https://github.com/Automattic/wp-calypso/pull/55711, I don't think this issue can be fixed. The `lastPage` is there to switch from "chronological" to "hierarchical" once all pages are loaded is actually like a "progressive enhancement" kind of fix - prefer hierarchical when possible, else fallback to chronological.

Given that most sites start out with only few pages (less t

[2021-09-09 12:33] yansern commented on #51610
PR https://github.com/Automattic/wp-calypso/pull/55711 is closed but I'm leaving this issue open to be taken up again in the future (either by us or by others).

[2021-09-09 12:36] arunsathiya opened #56139 "Feature Request: "Spacer" block as a child block within "Features" block"
### What

I would like "Spacer" block to be available to be added within "Features" block.

### Why

Requested by a customer on 4279516-zen. The spacer block will allow them to add a space between the feature heading and feature body. Right now, they are using a workaround in the form of a paragraph block with white text. I recommended using CSS to create the space, but an ideal solution would be

[2021-09-09 12:36] arunsathiya commented on #56139
"Features" block is part of CoBlocks, thus part of "WordPress.com Editing Toolkit", I believe.

[2021-09-09 12:39] synora commented on #56085
I'm able to locate those themes on my Atomic site following your steps. I'm using Chrome as my browser:

https://user-images.githubusercontent.com/10015451/132687064-3a6ee60c-e5b0-4d2e-b7e8-fc95ad5bef36.mp4

@KirkwallDay is this issue still persisting for you?

[2021-09-09 12:40] saygunnyc commented on #56117
@kwight Let me think about this, I don't have a direct answer for this yet as I also find the Calypso component's design to be not amazing. Perhaps we should tweak the design here and update both if it's worth it.

Sharing some initial thoughts,
- When I go over the Reader/Manage page and toggle Settings, the active state of that switch is not blue but black. I'm using the default theme.
- There a

[2021-09-09 12:46] arunsathiya commented on #56139
Actually, it looks like we maintain our own coblocks repository: https://github.com/Automattic/coblocks

[2021-09-09 12:51] synora commented on #56090
Triaged. Unless I missed something, I'm unable to replicate the horizontal line using the same theme (Blank Canvas):

<img width="1486" alt="Screen Shot on 2021-09-09 at 08-50-56" src="https://user-images.githubusercontent.com/10015451/132689016-49ed9eac-f8ad-4514-8256-2d05c7313b89.png">

[2021-09-09 12:54] alshakero commented on #51610
Awesome in depth review!

[2021-09-09 12:54] chriskmnds opened #56140 "Explore draggable/floating component for the Help Center"
As part of the explorations for the Help Center (p9Jlb4-2Vw-p2), we are looking at a proper draggable/floating panel that users can move around the page.

Let's explore what we have already in core and what we can develop, if possible as a standalone reusable component. We should be able to render any content into it (including external pages).

[2021-09-09 13:02] synora commented on #56071
Using Chrome, the Navigation Block displays as expected:

![Annotation on 2021-09-09 at 09-00-25](https://user-images.githubusercontent.com/10015451/132690465-19ed64f3-2446-47c4-b348-73806fd6fa55.png)

View from within the editor:
<img width="585" alt="Screen Shot on 2021-09-09 at 09-01-38 (1)" src="https://user-images.githubusercontent.com/10015451/132690640-d7882a23-fdcf-4a1b-804f-d42b6db3c753.p

[2021-09-09 13:04] zdenys commented on #55941
I cannot reproduce anymore 🤷‍♂️ I'll close this one now. I suspect I just happened to see those banners while other changes for the removal of Premium Theme mentions were being deployed. Thank you for taking a look!

[2021-09-09 13:04] #55941 closed, assigned to nobody

[2021-09-09 13:04] yansern commented on #52676
This is marked as **Won't Fix** by @Automattic/flow-patrol-create because the navigation block is built to keep that page menu as block meta instead of dynamically retrieve them. To fix this is revamp Navigation Block to behave differently.

@aleone89 I suggest reporting this issue directly to Gutenberg https://github.com/WordPress/gutenberg/issues.

[2021-09-09 13:12] yansern commented on #55468
This is marked as **Won't Fix** by @Automattic/flow-patrol-create because YouTube block loading low-resolution thumbnails on narrow width are the intended behavior. The CSS fix provided might introduce more issues than it fixes (depending on the layout of the site) and we can't anticipate for all.

@AtrumGeost If this is an annoyance for the user, then just provide the custom CSS fix for the user.

[2021-09-09 13:20] #55555 closed, assigned to dsas, BogdanUngureanu, mmtr

[2021-09-09 13:23] rickmgithub opened #56142 "Music player widget broken on Ixion"
### Quick summary

URL: corthantortosabearder.com
Theme: Ixion

PROBLEM:
Music player widget in the sidebar doesn't work.
It doesn't appear, only a blank area in the sidebar.
It appears in the customizer but not on the published page.

WHAT I FOUND:
* I can repeat the error on a test site too.
* It only occurs with the Ixion theme.
* It shows with the 2015 theme but not Ixion.
* Simple site, perso

[2021-09-09 13:35] andres-blanco commented on #55632
closed by D66547-code

[2021-09-09 13:35] #55632 closed, assigned to andres-blanco

[2021-09-09 13:41] Addison-Stavlo commented on #54460
Agreed, PRs are open to update the notes for the tracks events.  Since the sidebar removal / test skips are deployed, il close this issue now.

[2021-09-09 13:41] #54460 closed, assigned to Copons

[2021-09-09 13:41] jp-imagines commented on #56070
@synora I am seeing the visual previews now in both Chrome and Firefox. However, even in your screenshot, they are _incredibly small_ and it's difficult to see the difference between the two.

Not sure if it's worth re-opening this issue (or creating a separate feedback request) to request the previews be made more clear/larger. I'm thinking something like this:

<img width="283" alt="Markup 2021-

[2021-09-09 13:46] dsas commented on #56057
# How current emails work

There are several different cases for plan renewal emails, depending whether auto-renew is on etc. There's a high-level summary of all renewal (not "has expired") emails here: PCYsg-24R-p2. We will need to decide which ones need the backup link & feature reminder but that's a problem for a P2 post.

This is what happens:

Every day, the `billingdaddy_run_all_renewals` fu

[2021-09-09 13:51] synora commented on #55943
Triaged. I cannot replicate this on Storefront so this seems to be specific to the child theme(Homestore).
@zdenys can you report the issue in https://github.com/woocommerce/homestore please?

[2021-09-09 13:51] #55943 closed, assigned to nobody

[2021-09-09 14:08] aleone89 commented on #53100
Another report here: https://wordpress.com/forums/topic/cant-edit-home-page-6/

[2021-09-09 14:29] KirkwallDay commented on #56085
Hi @synora , It still is happening to me.

I'm using Firefox, although I tried chrome as well and it happened on both.

I tried two AT sites I have and the issue happened on both of them. I also tried making a new AT site and the issue happened on that one as well.

https://user-images.githubusercontent.com/49131029/132704628-daa25919-077f-427e-bdf3-3a595b1508e5.mp4

I'm going to ask some other pe

[2021-09-09 14:54] mmtr commented on #49830
That's right, I forgot that we link to the WP Admin Customizer, and thus only the classic view is supported by the screen options.

In order to allow users to switch between `wp-admin/widgets.php` and `wp-admin/customize.php?autofocus%5Bpanel%5D=widgets`, we'd need to implement something completely new.

Alternatively we can keep the default widgets menu registered by Core which links to `wp-admin