[2020-11-20 09:50] philnick206 opened #47618 "Cover Block: Add support for video backgrounds via URL (YourTube, Vimeo, etc)"
Add support for setting a background video via URL, similar to various themes that allow the setting of a URL for background video.

Example: https://wordpress.com/theme/soho
Demo site: https://sohodemo.wordpress.com/

[2020-11-20 09:52] getdave commented on #46764
@sixhours Could you possibly review https://github.com/Automattic/wp-calypso/pull/47617. Thanks.

[2020-11-20 10:03] getdave commented on #46764
@simison If we ship this change English speakers will see the change but it will fallback to the existing translation for all other languages. Given that the existing translation is the existing experience on WordPress.com does it make sense just to push this out and let the EN customers have the benefit of correct terminology and then the translations will catch up?

At what point is it appropria

[2020-11-20 10:06] #47497 closed

[2020-11-20 10:38] cpapazoglou commented on #47183
Thanks @sfougnier, that makes sense!

[2020-11-20 11:28] simison commented on #46764
There is a special i18n function for that kind of fallback behaviour. Good idea!

Search for repo with "docs" and you can open an issue there.

[2020-11-20 12:56] #47573 closed

[2020-11-20 13:02] ciampo commented on #46865
Closing as the missing points are tracked in #47233 and  #47544

[2020-11-20 13:02] #46865 closed

[2020-11-20 13:02] ciampo commented on #46862
Closing as missing points are tracked in #47233 and #47540

[2020-11-20 13:02] #46862 closed

[2020-11-20 14:55] enahsor commented on #46254
@sirreal I added the cross-env package and prefixed most of the scripts that are using the `BROWSERSLIST` env variable. I'm running into another issue though. The application seems to be looking for a `@automattic/calypso-color-schemes/js` but isn't able to find it. I checked both the packages and node_modules folders and there's no `js` folder in the `calypso-color-schemes` folder.
I've also chec

[2020-11-20 15:03] scinos commented on #46254
`@automattic/calypso-color-schemes/js` should be created during the initial `yarn install` (or just `yarn`, it is the same). Could you paste that log?

[2020-11-20 15:06] enahsor commented on #46254
Sure

[code]

[2020-11-20 15:16] scinos commented on #46254
`$ test -n "$DISABLEPOSTINSTALL" || ((node -e "process.exit(process.env.CALYPSO_DOCTOR_SKIP !== 'true')" || yarn run calypso-doctor) && yarn run build-packages)` should populate `@automattic/calypso-color-schemes/js`.

My guess is that script only works in Unix systems, but I don't know enough about Windows to suggest a potential fix, sorry :(

In general, I think having Calypso in Windows nativel

[2020-11-20 15:18] alshakero commented on #47279
I can't reproduce this now. Do you mean on mobile?

[2020-11-20 15:27] enahsor commented on #46254
@scinos  Yikes. Should the readme be updated to indicate this to prevent similar issues being added in the future?
I guess I should close this issue?

[2020-11-20 16:33] philnick206 opened #47635 "Social Icons Block: blank icons showing when first inserting block onto a page"
#### Steps to reproduce

1. Insert block onto a page
2. Try to edit icons

#### What I expected

- Default icons would be present and editable

#### What happened instead

- Three blank circles with missing icons shown instead

#### Screenshot / Video

<img width="1185" alt="Markup 2020-11-20 at 16 33 59" src="https://user-images.githubusercontent.com/51966986/99824895-3b768a80-2b4e-11eb-92fb-9a4d

[2020-11-20 16:48] cathymcbride commented on #47635
By design: please see https://github.com/Automattic/wp-calypso/issues/47154

[2020-11-20 16:48] #47635 closed, assigned to nobody

[2020-11-20 17:06] cathymcbride commented on #47608
@fullofcaffeine was the bad behavior limited to that block, or could that issue have happened with multiple/any blocks?

[2020-11-20 17:33] ciampo commented on #47279
I'm not able to reproduce when using a pointer device anymore too.

But yes, for sure the tooltip doesn't work on devices that rely on touchscreen interactions

[2020-11-20 17:34] obenland commented on #47045
Automattic/jetpack#17833 would be helpful, yes.

Automattic/jetpack#17629: I wouldn't be heartbroken about it if it didn't get in. We just fixed another bug in it and it needs follow-up work anyway.
Automattic/jetpack#17828 looks like it might not be ready in time

[2020-11-20 17:41] sarayourfriend opened #47637 "Main branch renamed to `trunk`"
On 20 November, 2020 the main branch of this repository was renamed to `trunk`. To update your local repository, follow this script:

[code]

Open PRs against the old main branch have been retargeted to `trunk`. You may still need to rebase against the lastest `trunk` to fix CI issues on your PRs.

Thanks!

[2020-11-20 18:41] Addison-Stavlo commented on #47155
Thanks for clarifying!  So is `add_theme_support( 'editor-styles' )` unrelated to that tag then?

[2020-11-20 19:10] cathymcbride commented on #3423
IE11 won't be supported starting Aug 2021. Closing as this doesn't seem worth fixing at this point.

[2020-11-20 19:10] #3423 closed

[2020-11-20 19:12] cathymcbride commented on #16506
Closing since there have been no further reports and support for IE11 ends Aug 2021.

[2020-11-20 19:12] #16506 closed

[2020-11-20 19:19] jeyip commented on #47584
Issue confirmed for simple and atomic sites in Chrome, Firefox, Safari, and Edge 👍 Moving this into the backlog.

[2020-11-20 19:43] kjellr commented on #47155
That's right. A theme can technically use `add_editor_style()` without `add_theme_support( 'editor-styles' )`. That's how TinyMCE styles worked pre-Gutenberg. So my understanding is that the tag is for any theme that provides editor styles, for Gutenberg or TinyMCE.

[2020-11-20 20:11] jeyip commented on #47584
For some odd reason, when inline font size styles are applied to the nav element, the `px` suffix is stripped from the `font-size` value.

<img width="641" alt="Screen Shot 2020-11-20 at 12 10 07 PM" src="https://user-images.githubusercontent.com/5414230/99845470-8df18000-2b29-11eb-8a90-312e2fdf903a.png">

[2020-11-20 20:26] samiff commented on #46548
Another in 3507080-zd-woothemes

User would like to know when this issue is resolved.

[2020-11-20 20:26] samiff commented on #46536
Another example of this in 3507080-zd-woothemes

[2020-11-20 22:09] nbloomf commented on #47436
Putting some notes here. The CreditCardForm component appears to assume it will only ever display the extra (non-stripe) fields in signup: https://github.com/Automattic/wp-calypso/blob/trunk/client/components/credit-card-form-fields/index.jsx#L282

#47261 changed the logic that is used to detect whether to show those fields: https://github.com/Automattic/wp-calypso/blame/trunk/client/lib/checkout/

[2020-11-20 22:27] sirbrillig commented on #47436
Worth noting that when we were discussing this, we discovered what I think is the proximate cause for these errors: the line https://github.com/Automattic/wp-calypso/blob/79192ec9258152a671fbdb0085a628f561c282f5/client/lib/checkout/processor-specific.js#L32 (added in https://github.com/Automattic/wp-calypso/pull/47261) assumes that `cart.allowed_payment_methods` will always exist; this is true for

[2020-11-20 22:47] sirbrillig commented on #47436
Just to record some additional thoughts from a Slack thread:

Excluding the `cart.allowed_payment_methods` issue, if you selected Brazil and had BRL currency, wouldn't the form have always shown the old credit card fields (previously paygate but now ebanx)?

And if that's the case, and the form submission was triggered by the existence of `stripe`, then wouldn't the form have always failed for Bra

[2020-11-20 23:21] samiff opened #47643 "Donations: Subsequent blocks in post are nested under donation block"
#### Steps to reproduce

1. On a WordPress.com hosted site create a new test page.
    * Was able to reproduce with themes Twenty Twenty and Spearhead
2. Add a Donations block, and below that add a Layout Grid block with say two columns with images in each.
3. Preview the page.

#### What happened

* When the Donations block is placed above the Layout Grid block, it seems to nest the subsequent La

[2020-11-21 00:44] startuptester opened #47644 "Customizer: Left sidebar menu heading cut off after scrolling"
#### Steps to reproduce

1. In themes, select customize
2. Choose Site Identity
3. Scroll down and up
(might have to resize the window to make sure it scrolls)

#### What I expected
The header to either remain in view in full or disappear entirely.

#### What happened instead
Scroll up and down a few times  and notice the header sometimes shows cut off.

#### Browser / OS version
Safari Version 14

[2020-11-21 02:03] gwensmithx opened #47645 "Tiled Gallery Block - Poor Image Quality On Some Wider Images"
#### Steps to reproduce

1. Start with a simple site. Create a new page and add a columns block with 2 columns. Add a tiled gallery block to 1 column.
2. Add the first image as one that is about 1150 by 472 pixels (141 KB - ish). Here's a link to the one I used for testing: https://gwenatomic.wpcomstaging.com/wp-content/uploads/2020/11/201101halberstadt1.jpg
3. Then add a bunch of other images
4.

[2020-11-21 10:20] as-esu commented on #47052
One more report: 3497406-zen
Informed them about WP-Admin workaround.
It looks like this thread is possibly related to [#30252](https://github.com/Automattic/wp-calypso/issues/30252)

[2020-11-21 10:48] bizanimesh opened #47646 "Non-English URL in Post/Page Editor's Permalink Section"
#### What I expected

I was expected WordPress to accept the non-English URL in the post/page editor's permalink section.

Path: _My Site(s) > Site > Posts/Pages >_ Click on _Settings_ icon in top right corner _>_ Click _Page/Post >_ scroll down and click _Permalink_.

#### What happened instead

WordPress is **not** accepting non-English URL in the post/page editor's permalink section, but accept

[2020-11-21 16:02] donalirl commented on #43988
Another case in #25797026-hc

[2020-11-21 20:57] serabi opened #47647 "adelepecout.wordpress.com: cannot delete a portfolio project"
The user would like to delete the portfolio project L'interstice but deleting times out or gives a 500 message - it seems the posts API call is failing in Calypso.

https://adelepecout.wordpress.com/wp-admin/edit.php?post_type=jetpack-portfolio

Post ID 536, entitled L'interstice

See Slack conversation here: https://a8c.slack.com/archives/C03TY6J1A/p1605988463113500

Could someone remove this por

[2020-11-21 22:28] adelineyaw commented on #45758
25460211-hc

[2020-11-21 23:42] goblinartificer opened #47649 "Enhancement: account security links on Earn dashboard and/or Customer Home"
I had a conversation today with someone who expressed concern that they were able to set up Payments blocks and otherwise enable money-related features without any related prompt to consider better securing their account with [2FA or a strong password](https://wordpress.com/support/security/).

One way to fix this would be to add prompts linking to that support page to the Earn dashboard, or possi

[2020-11-22 11:59] mlaetitia opened #47651 "RSS Feed: Google news feeds missing the links to each post"
#### Steps to reproduce

1. Starting at URL: https://www.google.com/alerts
2. Either use an existing alert you own or create a new one
3. Set up the alert to be : "How Often": "As it happens" AND "Deliver to" : "RSS feed"
4. On the list, the new alert (or existing) will have a RSS symbol with a link - copy that
5. Head to your site -> Customizer -> Widgets -> Any Widget area -> Add an RSS feed
6.

[2020-11-22 13:37] Aurorum commented on #47397
PR for this issue in #47652. :)

[2020-11-22 14:44] pauljacobson commented on #46195
I was able to reproduce this in Firefox Developer Edition, v84.0b3 too, so it seems like a more general issue with how Firefox renders the text in the block editor. That said, this doesn't seem to affect how the text is _actually_ displayed on the published post.

My previews indicate that the text alignment changes are applied to previews of the post, at least. Here is my test:

![Screen Capture

[2020-11-22 15:36] AtrumGeost commented on #45881
Got another report here:

3505717-zd-woothemes

[2020-11-22 19:09] lakellie commented on #46813
Closing this per the discussion in p1605780791157700-slack-wpcom-happy-announce. This was resolved with the re-release of Gutenberg 9.3 on simple sites.

This release will not resolve the issue on existing galleries. To fix those, users will need to either:
1. Recreate the gallery
2. Restore a revision of the page from when the gallery was working

[2020-11-22 19:09] #46813 closed

[2020-11-22 20:16] kamlesh08 opened #47653 "2FA Validation: India number not validating"
**Steps to reproduce**:

1. Starting at WordPress.com Desktop App (Ubuntu)
2. Click on the Profile icon at the top-right. Head over to Security >> Two-Step Authentication.
3. Select Country code as India (+91).
4. Enter a phone number.
5. Click "Verify via SMS".

**What I expected**
I will receive SMS on my number and will be able to enable 2FA.

**What happened instead**
I got an error: Your clie

[2020-11-22 20:51] kamlesh08 opened #47654 "Customizer: Unable to close Customizer when opened from Quick Links >> Edit Menus"
**Steps to reproduce**

1. Starting at WordPress.com Desktop App (Ubuntu)
2. Click on My Home >> Quick Links >> Edit Menus.
3. Now, Customizer will be opened.
4. Click on the close button (X) at the top of the Customizer.
5. See error.

**What I expected**
When I click on the close button (X) at the top-left of the Customizer, I expect the Customizer to be closed and I should be taken to My Home.

[2020-11-22 21:45] ghost commented on #46679
I have another report of this issue for a Jetpack site in 3510143-zen.

* Open this post in the Reader: https://wordpress.com/read/feeds/22355795/posts/3025996916
* The same error message reported appears:

![](https://d.pr/i/DRbHPx+)
Image Link: https://d.pr/i/DRbHPx

* Tried posting a comment and received an error:

![](https://d.pr/i/MiZuXT+)
Image Link: https://d.pr/i/MiZuXT

The site owner re

[2020-11-22 23:05] ramonjd opened #47655 "Create Ecommerce sites in Public Coming Soon mode"
In the `/new` signup flow, we create Ecommerce sites as public + unlaunched sites.

In the `/start` signup flow, (at the time of writing November 23, 2020) Ecommerce sites are private by default.

Let's make things consistent.

We have the go ahead to create all sites in Coming Soon public mode (after it launches) https://github.com/Automattic/wp-calypso/pull/47401.

See: pbxlJb-xi-p2#comment-732

[2020-11-23 00:53] #47565 closed

[2020-11-23 00:54] andrewserong commented on #46215
A fix for hiding this particular pattern on themes without `align-wide` support has been merged in (#47571). I'll leave this issue open until a new Editing Toolkit plugin version has been deployed.

[2020-11-23 01:00] anastas10s-afk opened #47656 "Sign in: 2FA sign in with non-a8c email, password, and verification code from SMS is not resulting in a successful login."
#### What I expected
To receive an SMS and proceed with concluding the sign-in process.

#### What happened instead
The SMS never arrived. I waited more than 10 minutes and I do have a contract on this mobile line :)

#### Context / Source
Testing the WPDesktop 6.5.0-beta1 client on macOS 11.0.1

[2020-11-23 01:05] anastas10s-afk opened #47657 "Sign up: click "Create account" results in visual errors."
#### What I expected
To not face any visual errors.

#### What happened instead
On step 5, the last step, I saw a visual error on the bottom right corner of the app, referring to Localhost.

#### Browser / OS version
macOS 11.0.1

#### Screenshot / Video
https://d.pr/i/hAmBTU

[2020-11-23 02:08] retnonindya opened #47658 "Copywriting on Pricing page: From "Unlimited Premium Themes" to WordPress.com-related"
Hi team!

I wonder if we can change the wordings on https://wordpress.com/pricing on **Site Customization**, specifically for "Unlimited Premium Theme", and change it to "Free access to WordPress.com Premium themes."

The reason is, sometimes folks got confused with premium themes, and they thought the "premium themes" mentioned on the Pricing page is the third-party, customized, premium theme:
ht

[2020-11-23 02:54] ramonjd commented on #46642
Fixed in https://github.com/Automattic/wp-calypso/pull/47563/files

`add_filter( 'jetpack_enable_opengraph', '__return_false', 1 )`

[2020-11-23 03:14] jordesign opened #47659 "Site Privacy: Users on Private Sites end up in a login loop unable to view site"
#### Steps to reproduce

1. As User A, set a site to be private
2. Invite User B to be a viewer of the site
3. Attempt to visit site when logged in as User B
4. Follow prompts to log in for access to Private site

#### What I expected

After confirming to log in as User B I should see the site content of the Private Site.

#### What happened instead

I am sent back to the 'Private Site' screen pro

[2020-11-23 03:18] jordesign commented on #47659
Cases so far:

* #5915641-ch
* #25114152-hc
* #3408415-zen
* #3418338-zen
* #20100819-hc
* #3479418-zen
* #3479418-zen
* #3512691-zen

[2020-11-23 05:50] pranali333 commented on #24539
This should do!

@tmmbecker Any thoughts?

[2020-11-23 06:57] andrewserong commented on #46215
This particular pattern is now hidden for sites where the active theme does not support `align-wide`. If anyone looking at this issue needs additional patterns to be hidden from the inserter for this same situation, the solution is for someone (either from
@Automattic/ganon @Automattic/view-engineering or @Automattic/dotcom-view-design) to add the `requires-align-wide` tag to the relevant pattern.

[2020-11-23 06:57] #46215 closed

[2020-11-23 07:24] andrewserong commented on #47578
Looks like the `verified` notice was already in the process of being updated to the simpler `Email confirmed!` a long time ago: https://github.com/automattic/wp-calypso/blob/43d3beb3962b37f72ea2f2f0f78c6e480c0b758e/client%2Fcomponents%2Femail-verification%2Findex.js#L27

Should be a couple of lines to update that one. I'll look into this and the backend change to remove the A/B test tomorrow.

[2020-11-23 07:37] thabotswana commented on #46760
Another report in 22824759-hc

[2020-11-23 07:46] frontdevde commented on #47045
Automattic/jetpack#17828 won't be ready for 9.2, we're aiming for the 9.3 release.
We discussed this in our Backlog Grooming meeting, I should've added a note here as well.

[2020-11-23 07:48] lsl commented on #46752
This is preventing free users from launching if they happen to make a domain search in the launch flow (search results wipe out the skip purchase option by not rendering it.)

I'm currently on rotation, and came across a couple of users with this issue, I put a draft PR up in #47663 that fixes the issue cosmetically, but needs a bit of testing / hooking up the site id props for each scenario to ma

[2020-11-23 07:54] lsl commented on #46752
Ah sorry, @daledupreez pointed out this is probably a separate issue causing similar outcomes. New ticket incoming :smile:

[2020-11-23 08:32] daledupreez opened #47664 "Launch: site launch flow stops showing a free option after domain search"
#### Steps to reproduce

1. Create a free website using your signup flow of choice, but do NOT launch it.
2. Starting at URL: https://wordpress.com/start/new-launch/domains-launch?source=home&siteSlug=example.wordpress.com (where example.wordpress.com is the subdomain for your unlaunched site)
3. Notice that when first visiting this launch UI, you see an option to keep your wordpress.com subdomain

[2020-11-23 08:35] daledupreez commented on #47664
From my initial investigation here, it looks like this is a subtle issue we'll need to work out as it's in these heavily (re)used domains components.

[2020-11-23 09:34] #47277 closed

[2020-11-23 10:35] daledupreez commented on #46752
New issue is #47664.

[2020-11-23 11:55] jeyip commented on #45638
I can confirm that there is no longer a gap for the `alves`, `balasana`, and `barnsbury` themes. I'm closing this for now, but feel free to reopen the issue if there are still problems.

[2020-11-23 11:55] #45638 closed

[2020-11-23 13:13] #25024 closed

[2020-11-23 14:42] geekinthegirl commented on #41272
Another potential case here: 24865600-hc - I asked them to launch their site to test this, and they went quiet, but dropping it here just in case.

[2020-11-23 15:26] cathymcbride commented on #47659
Moving to janitorial pri backlog, since we are hitting multiple reports of this happening pretty quickly.

[2020-11-23 15:46] eduardozulian commented on #43988
Another report in 25834444-hc

[2020-11-23 16:22] gibrown commented on #47009
Another report related to this: https://github.com/Automattic/jetpack/issues/17865

[2020-11-23 16:40] sarayourfriend opened #47675 "data-stores: Use `createRootURLMiddleware` to improve data store apiFetch request building"
Context here: https://github.com/Automattic/wp-calypso/pull/47589#discussion_r527674633

We currently hand-write the full path for `apiFetch` requests to `https://public-api.wordpress.com`. This could be improved by using the `createRootURLMiddleware` in conjunction with the `namespaceAndEndpointMiddleware` to allow us to avoid having to write the root URL every time and instead just pass the name

[2020-11-23 16:44] happychait opened #47676 "Domains: Support .cpa TLD"
I had a customer in 3162095-hc asked us to allow registering and mapping `.cpa` TLD.

They couldn't even map it due to the following error:
<img width="1142" alt="Markup 2020-11-23 at 12 08 16" src="https://user-images.githubusercontent.com/1519466/99920257-259fda00-2d87-11eb-828f-090f2db639de.png">

[2020-11-23 17:07] simison commented on #47659
Heads up that @Automattic/ganon has been working on related things but they had a look on Monday and concluded that it's not related.

cc @daledupreez any changes recently that could impact this?

[2020-11-23 17:30] klimeryk commented on #47676
TIL that there's a `.cpa` TLD: http://nic.cpa/

I had troubles finding info on it on Wikipedia. GoDaddy does not support it either, it seems. But if it's indeed a valid TLD, it should be a simple matter of running one script on our side. I can take care of that quickly.

[2020-11-23 17:32] martinremy opened #47678 "Reader: Tracks property `subscription_count` is not working"
This property should be [present for all reader events](https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058aa6bc0e82b7/client/reader/stats.js#L114), but is 0 or missing for most/all reader Tracks events.  p5PDj3-4WA

[2020-11-23 17:34] ghost commented on #47043
Thanks, @lcollette! Splitting this out into its own interface-related section on this screen could help make these options a bit more scannable:

<img width="1440" alt="Desktop - Me" src="https://user-images.githubusercontent.com/67021691/99995049-e2923680-2d87-11eb-84d8-e6706f45eb84.png">
<img width="1440" alt="Desktop - Me-1" src="https://user-images.githubusercontent.com/67021691/99995064-e58d2

[2020-11-23 17:45] ianstewart commented on #47565
@andrewserong thanks :) — doing a manual review of all the patterns starting … now.

[2020-11-23 18:01] kriskarkoski commented on #47656
@anastas10s-afk Can you DM me in Slack with details on the account(s) experiencing this so I can troubleshoot further? Thank you!

[2020-11-23 18:36] tmmbecker commented on #24539
Thanks Kraft! If figuring out the latter results in a fluid customer experience when their primary site has a borked connection, then that makes sense. I don't think the solution matters here so much as the end result - users need to be able to see all sites even when the primary site is not actively and successfully connected.

Right now, they are just stuck with no way to self-help.

[2020-11-23 18:52] gwensmithx commented on #45881
Another reported here: #3503389-zd and customer would like to know once this is solved. I'll mark this for my own followup though I have a large list of GH followups so I'm giving the customer the ticket number to reference as well for an update.

[2020-11-23 19:01] worldomonation opened #47679 "Adding Twitter URL with Twitter block crashes Gutenberg editor"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/pages/
2. Add a new page.
3. Add Twitter block.
4. Use a Twitter URL referencing any of the following features:
- user profile (https://twitter.com/TakahashiEdwin)
- specific tweet (https://twitter.com/TakahashiEdwin/status/1329958752552853505)
- explore (https://twitter.com/explore)
- lists (https://twitter.com/i/lists/35292874)

[2020-11-23 19:26] cpapazoglou commented on #47044
After a discussion with @withinboredom (p1605882949141200-slack-CJS75TX3R) it seems that syncing the experiment in calypso / wpcom (simple sites) /wpcomsh (atomic sites) poses some challenges when using an experiment. We will use it initially for development and internal testing (easy opt-in / opt-out) and we will decide in the future if and how we can leverage it for production rollouts. For the

[2020-11-23 19:56] worldomonation opened #47680 "Nested Media & Text block image is not displayed if parent block has crop image toggled on"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/pages/
2. Add new post.
3. Add Media & Text block (parent).
4. In the Media area, upload or select an existing image.
5. In the `Content` area, remove the existing Paragraph block.
6. Add Media & Text block in the `Content` area (child).
7. In the Media area, upload or select an existing image.
8. Open Block settings for the **pare

[2020-11-23 20:39] bluefuton commented on #47678
Long-standing bug this one :(

Closing as a duplicate of https://github.com/Automattic/wp-calypso/issues/14470.

[2020-11-23 20:39] #47678 closed, assigned to nobody

[2020-11-23 20:39] bluefuton commented on #14470
@martinremy just rediscovered this one (#47678) - reference p5PDj3-4WA-p2.

[2020-11-23 21:09] klimeryk commented on #47676
Patch ready: D53211-code. Will merge tomorrow, as our test environment is currently in maintenance :)

[2020-11-23 22:02] metabreakr opened #47681 "[Image Compare Block] Allow for setting width and centering"
With the Image Compare block, there presently isn't a way to set the block width (e.g. wide or full), or center-align it to a page. Since there are no width/alignment options, creating layout with this block isn't easy, as it otherwise relies on being placed in a columns block with mixed results.

#### Steps to reproduce

1. Add an Image Compare block
2. Select images
3. Click on block
4. No forma

[2020-11-23 22:36] obenland commented on #46645
This information is saved in [user settings](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/option.php#L1056), which itself is [just an abstraction of user meta](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/option.php#L1210).

We could go a similar route as we did with the admin color scheme. Unfortunately it would be hard to keep the entire `user-settings` array in

[2020-11-23 22:45] nerdysandy commented on #30426
reported on #25833306-hc

[2020-11-23 22:49] joaodante commented on #45758
Another report 25850405-HC

[2020-11-23 23:12] ghost commented on #47049
I have been exploring using a stepped approach that allows us to showcase the updated features. The intention of this is to introduce the unified nav and tell a brief story of how it works in an attempt to cut down on any confusion.

A few things:
- The copy is not final but I wanted to get the design out in the world.
- Is there potential to use animated gifs in lieu of static imagery? It could h

[2020-11-23 23:39] andrewserong commented on #45456
Just confirming that this is still an issue in wpcom with Seedlet theme activated.

In the editor, with a custom link color set (to red):

![image](https://user-images.githubusercontent.com/14988353/100027600-37de4e80-2e41-11eb-8dae-21dc235a5718.png)

In the front end:

![image](https://user-images.githubusercontent.com/14988353/100027631-49bff180-2e41-11eb-9bd6-a905b7ab639e.png)

[2020-11-23 23:54] andrewserong commented on #39153
I think it's fairly unlikely that users will get there this way, but to get there via the UI, you can:

1. From Calypso on your site click the link to go to `wp-admin`.
2. Go to any post
3. Create a re-usable block, then from the left hand inserter, select the Reusable tab, then click on Manage all reusable blocks:

![image](https://user-images.githubusercontent.com/14988353/100028581-66f5bf80-2e4

[2020-11-23 23:57] worldomonation opened #47684 "Nested Media & Text block ignores user action to display media on right"
#### Steps to reproduce

1. Starting at URL: Starting at URL: https://wordpress.com/pages/
2. Add new post.
3. Add Media & Text block.
4. On the toolbar, click on the button `Show media on right`.
5. In the `Content` area of the parent block, remove the existing `Paragraph` block.
6. Add Media & Text block in the `Content` area (nested blocks).
7. On the toolbar for the nested Media & Text block,

[2020-11-24 00:02] andrewserong commented on #47117
I've added a high priority to this one, but I believe it'll need to be prioritised by the themes team. CC: @Automattic/theam

[2020-11-24 00:25] andrewserong commented on #47117
A possibly related issue: https://github.com/Automattic/themes/issues/2855

[2020-11-24 00:28] worldomonation opened #47685 "Resizing column of Media & Text not recognized as undoable action"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/pages/
2. Add new post.
3. Add Media & Text block.
4. In the Media area, upload or select an existing image.
5. Grab the small blue dot located at the divider in the middle.
6. Drag in any direction.
7. On top left of the editor window, choose Undo or hit CMD+Z/CTRL+Z.

#### What I expected
Resizing of column is undoable.

#### Wha

[2020-11-24 01:27] adelineyaw commented on #45881
#18401728-hc - User refuses to clear their browser's cache or cookies and they're not willing to switch browsers in the interim.

[2020-11-24 04:05] autumnfjeld opened #47688 "EditorWelcome: POC spike for interactive UI component in the Editor"
## Objective

Replace the existing NUX modal with a "Tour" component.
The component needs to:

- stays on top of editor
- allows interaction with both the tour UI and the Editor UI
- can be minimized and maximized

These items are essentially how the Tour will be different than the existing NUX modal.
Spike: https://github.com/Automattic/wp-calypso/pull/47354/files

[2020-11-24 04:06] autumnfjeld opened #47690 "Editor Welcome Tour Project: Master Task List"
# Editor Welcome Tour
pbAok1-1Dh-p2

MVP Deliverable
- [x] Tech Spike https://github.com/Automattic/wp-calypso/issues/47688
- [x] Editor Welcome Tour MVP https://github.com/Automattic/wp-calypso/issues/47691 & https://github.com/Automattic/wp-calypso/pull/47779
- [x] Only show tour to users who haven't seen it before.
- [x] Ability to track necessary metrics, tech details TBD as needed (A/B test D

[2020-11-24 04:11] lsl commented on #47664
Many reports of this, I'm a little worried about how long this may have been in play.

https://wordpress.com/forums?s=launch

[2020-11-24 04:20] autumnfjeld opened #47691 "MVP Welcome Tour Component"
## Objectives
MVP Welcome Tour Component

### As a user I
- [ ] see Tour Component when opening editor for first timeg (in a future issue: Tour also accessible via MoreMenu)
- [ ] do not see the tour component when opening editor subsequent times (save state)
- [ ] can minimize & maximize Tour UI
- [ ] can interact with both the Tour and the Editor
- [ ] may see conditional content (foundations sh

[2020-11-24 04:31] autumnfjeld opened #47693 "Editor Welcome: Content-as-Tutorial"
Let’s educate new users with page filled with block content that explains how blocks are used. The user can read and edit and experiment with existing educational content and then delete the page.

The page should be created for sites for new signups.

Tasks:

- [ ] Create a page based on the design in a WordPress.com design starter site. dotcompatterns for example
- [ ] Confirm with design where

[2020-11-24 05:44] worldomonation opened #47694 "Facebook and Twitter blocks behaves as a Paragraph block with links in Gutenberg editor"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/pages/
2. Add new post.
3. Add Soundcloud block.
4. Paste a Soundcloud link eg. https://soundcloud.com/astateoftrance/shogun-zanarkand-venom-one-remix-a-state-of-trance-754-out-now
5. Click `Embed`

#### What I expected
Block turns to a rich, interactive block that previews how the block will appear in published post.

#### What ha

[2020-11-24 05:52] worldomonation opened #47695 "Labels for Justify and Underline in formatting options dropdown are not aligned with other items"
#### Steps to reproduce

1. Starting at URL: Starting at URL: https://wordpress.com/pages/
2. Add new post.
3. Add a new Paragraph block.
4. Type some text.
5. On the toolbar, click on dropdown menu.

#### What I expected
Labels for Justify and Underline formatting options are aligned with other options in dropdown menu.

#### What happened instead
Labels for Justify and Underline are out of align

[2020-11-24 05:53] andrewserong commented on #47578
Code changes for this one are ready for review:

1. The small front-end change to the notice (#47687)
2. Remove the code path for the A/B test (D53228-code)
3. Remove the A/B test (D53230-code)

[2020-11-24 06:10] worldomonation opened #47696 "[Table block] Edit table actions are unclickable after performing a delete action"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/pages/
2. Add new post.
3. Add Table block.
4. Specify more than 1 rows and columns.
5. On toolbar, click on Edit table
6. Click `Delete Row` or `Delete Column`
7. Click on Edit table again

#### What I expected
User is able to perform additional actions under Edit table menu.

#### What happened instead
Edit table actions are grey

[2020-11-24 07:01] worldomonation opened #47697 "Converting Table block within a Group to reusable block causes Gutenberg editor to crash"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/posts
2. Add new post.
3. Add Group block.
4. Add Table block with any number of rows and columns within the Group block.
5. Save draft.
6. Return to Posts management page.
7. Reopen the draft.
8. Click on a table cell to bring up the toolbar.
9. Click on the kebab menu.
10. Click on `Add to Reusable block`.

#### What I expected
T

[2020-11-24 08:52] msdurex commented on #20946
No, it too so funny that in 2020, they didn't fix a 3 years ago issue. But @edequalsawesome workaround could help you.

[2020-11-24 09:08] simison commented on #47664
Likewise. Let's get the fix out asap but then also investigate when this started.

[2020-11-24 09:09] cpapazoglou commented on #47049
Thanks @sfougnier for working on this! This stepped approach seems very good and makes sense!

I understand that the copy is not final, but is the `wp-admin` wording something that may confuse most of the simple users? Many of them may not even know its existence. A usp for all the users would be "Faster navigation" cause we have surfaced the most used links (Posts, Pages) and we have also used th

[2020-11-24 09:30] klimeryk commented on #47676
Backend patch merged, should be resolved 🎉

[2020-11-24 09:30] #47676 closed, assigned to nobody

[2020-11-24 10:47] kavyagokul commented on #210
Another confused user in 25405684-hc

[2020-11-24 10:47] kavyagokul commented on #99253
Another confused user in 25405684-hc

[2020-11-24 10:52] tyxla commented on #47675
I think we can put it in the data-stores package for now. With the growing needs and integration with Gutenberg we'll likely need to use it somewhere else, too, but we can always extract it later if necessary.

Essentially, every `apiFetch` that is making a request to and endpoint at `public-api.wordpress.com`. We can do that in separate PRs or in a single PR.

I don't have an answer here - we sho

[2020-11-24 11:59] #47664 closed, assigned to nobody

[2020-11-24 12:12] carinapilar commented on #45881
Got another one on #21999946-hc - Worked on incognito on Chrome, suggested clearing the cache.

[2020-11-24 12:50] sophiegyo commented on #45881
I ended up with #21999946-hc

Browser: Google chrome Version 85.0.4183.83 (Official Build) (64-bit)
OS: Catalina 10.15.6

Is it me or does this regularly happen specifically with Chrome, but not other browsers?

[2020-11-24 12:51] guarani commented on #47289
I also ran into this with Jurassic Ninja sites, but hadn't noticed that the Reader was following the root domain instead, so thanks for pointing that out @designsimply!

I gave this a test with a Pressable test site which also uses subdomains (i.e. **pschrottky6**.mystagingwebsite.com) and strangely this issue didn't come up:

| <img width="956" alt="Screenshot of Pressable test site being followe

[2020-11-24 13:00] rickmgithub commented on #47562
Same here. I have to change the audio block code each time too to add the tracking URL pre-fixes.

This would transform the experience for podcasting users hosting their podcast on WordPress.com too as they would get a source of good stats straight away.

It would allow us to promote getting a Wordpress podcast site with more confidence as well.

[2020-11-24 14:20] cathymcbride commented on #47694
@worldomonation I'm not reproing. Is there anything in the console?

[2020-11-24 14:46] ghost commented on #47049
Agreed, I definitely don't think we would want to include that jargon here. I imagine that can be cut, but I am not the best wordsmith and wanted to express intent here.

Awesome! I can work on creating those.

[2020-11-24 15:27] susanjanec opened #47705 "When More button within Share This area is clicked it doesn't open More options set"
#### Steps to reproduce

1. Starting at URL: Go to Tools > Marketing > Sharing buttons and add some More button options
2. When you go to a page or post with the More button at the bottom and click on the button, it will take you to the top of the page instead of showing the button options.

#### What I expected

Clicking on the More button will open the more options added

#### What happened inst

[2020-11-24 15:31] lakellie opened #47706 "Page count incorrectly shows as zero on Atomic & Jetpack sites"
Wasn't quite sure if this should go in the Calypso or Jetpack repository, please feel free to move it if needed!

Replicated on WordPress.com Atomic and a self-hosted Jurassic Ninja site, appears to be happening on both existing and new sites.

 ## Steps to reproduce the issue

1. Create a new site or check an existing site
2. Go to Site > Pages
3. The list of pages loads successfully, but the cou

[2020-11-24 15:36] lakellie commented on #47706
Also discussed in p9F6qB-6c3-p2

[2020-11-24 15:38] #47380 closed

[2020-11-24 15:38] #47395 closed

[2020-11-24 15:44] JoshuaGoode commented on #47706
Ah, just saw you noted you reproduced it on a non-WPCOM site.  Likely JP then but I'll check a few things.

[2020-11-24 15:48] sgomes commented on #47705
This may be related to a dotcom change I pushed yesterday. Investigating.

[2020-11-24 15:49] cathymcbride commented on #47706
@jeherve Does this need to be moved to the JP repo?

[2020-11-24 15:52] cathymcbride commented on #47705
removing from the janitor board, since it's related to recent changes. If it needs to go back on, let me know!

[2020-11-24 15:55] cathymcbride commented on #47697
@worldomonation Does the copy error button provide anything?

[2020-11-24 15:56] ezebecke opened #47710 "Reader: Images not displaying when post contains "blog posts" block"
#### Steps to reproduce

1. Create a post with images
2. Add a "blog post" block inside the post
3. Publish and check the post on the Reader

#### What I expected

To see all the images on the preview and inside the post content from the Reader view.

Post without "blog posts" block displays the images correctly inside the Reader:

Preview showing up correctly
<img width="870" alt="preview-w" src=

[2020-11-24 16:10] sirreal commented on #47697
Thanks for the report, very clear steps to reproduce.

I've just followed the testing steps on a new site with Gutenberg 9.4.1 (no other special setup) and am able to reproduce the issue. This appears to be a Gutenberg bug and we'll need to create an issue in the [Gutenberg repository](https://github.com/WordPress/gutenberg).

[2020-11-24 16:21] cpapazoglou commented on #46645
The main difference between these two implementations will be that color-scheme may change only from calypso and will be propagated to all sites whereas the expand / collapse state may be changed either from calypso, wpcom simple or atomic.

In case a user changes the state of /wp-admin in their atomic site how will this change be propagated to the /me API endpoint? I believe we should also create

[2020-11-24 16:21] cathymcbride commented on #47697
Opened in Gutenberg repo: https://github.com/WordPress/gutenberg/issues/27243. Closing this one in favor of that one.

[2020-11-24 16:21] #47697 closed, assigned to nobody

[2020-11-24 16:24] cpapazoglou commented on #47044
cc @Automattic/ajax

[2020-11-24 16:30] tyxla commented on #24180
I'm starting work on this.

[2020-11-24 16:30] tyxla commented on #8213
I'm going to close this in favor of #24180, which I'm starting work on.

[2020-11-24 16:30] #8213 closed

[2020-11-24 16:33] jeherve commented on #47706
This appears to be a Calypso issue. The WordPress.com REST API (used by WordPress.com simple sites directly, and via Jetpack by Atomic sites) returns the right number of posts and pages, but for some reason the Calypso view does not pick this up anymore:

![image](https://user-images.githubusercontent.com/426388/100123817-33368c00-2e7b-11eb-9437-0e0af70b4810.png)

[2020-11-24 16:34] tyxla commented on #24180
Noting that there's prior art to reduxify plugins in #8213, kudos to @ryelle for all the great progress there already 👏

[2020-11-24 16:40] cathymcbride commented on #47706
Hmm...I don't repro on my simple site.

[2020-11-24 16:43] tyxla commented on #24180
#47711 reduxifies the plugin activation and deactivation actions.

[2020-11-24 16:45] lakellie commented on #47706
In my testing, I was not able to reproduce on simple either. It does appear to be impacting every Jetpack and Atomic site at the moment, however.

[2020-11-24 17:09] kylemcph commented on #47086
Hey @jeyip!

Yes, you are correct. The `Show "More" button` does not display when `Choose Specific Posts` is toggled on.

However, if the `Show "More" button` is toggled on **before** toggling on `Choose Specific Posts`, then the live site will display the "Load More Posts" button. The issue is if that combination is selected the "Load More Posts" button will load the already displayed posts.

Her

[2020-11-24 17:09] kylemcph commented on #47087
Hey @jeyip, thanks for your explanation about why the button is not displayed on private sites. I do not think this is a major issue, it is just something I came across while testing the block in #47086.

[2020-11-24 17:26] sgomes commented on #47705
Fix available for review at D53259-code.

[2020-11-24 17:47] metabreakr commented on #45881
6245514-hc

[2020-11-24 17:49] dereksmart commented on #47706
Looks like there was some recent work done around moving the pages navigation to the new `PostTypeFilter` component, which I suspect is where the pages query is failing or not being represented correctly?

cc @michaeldcain may have a good chance to know where to start https://github.com/Automattic/wp-calypso/commit/c08e8cf00d50db34b10d8b323405cbf3a998f29d

[2020-11-24 17:53] obenland commented on #47044
@davemart-in FYI ^

[2020-11-24 18:10] eduardozulian opened #47745 "Vimeo: videos not using 100% of the container width"
Vimeo embeds are narrower than the content width. This does not happen on .org sites with or without Jetpack.

### Steps to reproduce

1. Add a post or page
2. Choose the Vimeo Block
3. Add a video. Example: https://vimeo.com/4896985
4. Publish the post/page and visit its permalink

### What I expected
The video to occupy all the content width as I do on a .org site (tested wth and without Jetpack

[2020-11-24 18:13] jeherve commented on #47745
By that, do you mean that you were only able to reproduce on WordPress.com Simple sites?

[2020-11-24 18:16] worldomonation commented on #47694
I was able to reproduce on both new posts and existing posts. Theme I selected is `Leven`, not sure if that has anything to do with it.

There isn't much in the console, but I was able to retrieve this error that appeared several times:
(Firefox 85.0a1)
[code]

[2020-11-24 18:41] cathymcbride commented on #47694
Hmm...I'm not reproing with Leven or in firefox. @bsessions85 can you see if you can repro this?

[2020-11-24 19:12] worldomonation commented on #47694
I will try to isolate the issue some more as well as review the steps to make sure I haven't missed anything.

[2020-11-24 19:52] daledupreez commented on #47659
Apologies for the delay. AFAIK, we haven't made any direct changes that would affect this.

However, this feels a _lot_ like it could be driven by third party cookie restrictions. cc @josephscott for input on whether that's a likely root cause here.

[2020-11-24 20:23] bsessions85 commented on #47694
No I can repro either. I tried production and staging just to be sure.

[2020-11-24 20:32] bsessions85 commented on #47694
I just noticed that I am using FF 83 though, could be an issue with central version?

[2020-11-24 21:26] bluefuton commented on #14470
Two options to fix this:

1. Pass the subscription count to `recordTrack` every time it's called in Reader.
2. Replace recordTrack with a Redux action and fire the pixel via Redux middleware, which would inspect the state tree and add on whatever it liked (thanks to @blowery for explaining this option).

[2020-11-24 21:51] AtrumGeost opened #47718 "Desktop macOS App: White screen when clicking on “Create account” after failed log in"
#### Steps to reproduce

1. Try to sign in with a WordPress.com account that has 2FA enabled
2. Don’t enter the SMS code
3. Click on “Create account”

#### What I expected

To be able to create a new account

#### What happened instead

Got a blank screen

#### Browser / OS version

macOS Big Sur 11.0.1 (20B29)

WordPress.com Desktop app 6.4.0 (although I had installed the 6.5.0-beta1 from a .dmg

[2020-11-24 21:55] AtrumGeost opened #47719 "Desktop macOS App: Create a logo with Looka” link leads to “fiverr”"
#### Steps to reproduce

1. Head over to the My Home page
2. Under "Quick links" click on "Create a logo with Looka"

#### What I expected

To go to the Looka page

#### What happened instead

Was redirected to fiverr which I understand is our new logos partner

#### Browser / OS version

macOS Big Sur 11.0.1 (20B29)

WordPress.com Desktop app 6.4.0 (although I had installed the 6.5.0-beta1 from a

[2020-11-24 21:58] worldomonation commented on #47694
Is there any possibility that my instance of the Wordpress site is the source of the problem? I mention this because the Embed block type (which I understand Soundcloud block type inherits from) exhibits the same problem with Soundcloud links.

As a tangent, Spotify links also behave in a similar manner for me.

I've attached a screen recording to show what I am doing: https://ln2.sync.com/dl/65bc

[2020-11-24 22:04] AtrumGeost opened #47720 "[Improvement] Desktop macOS App: Add "opens in a new tab/window" icon to "Quick links" on AT sites"
#### Steps to reproduce

1. Go to the "My Home" section on an AT site
2. Click on the "Edit menus" and "Customize theme" options

#### What I expected

For the links to open inside the app as it happens with simple sites

#### What happened instead

Didn't expect the links to open outside the app. It would be nice to set expectations for users on AT sites on links that open outside the app with th

[2020-11-24 23:42] jeyip commented on #47119
After some digging, the problem is that when the PR to make seedlet blocks on horizon FSE was merged https://github.com/Automattic/wp-calypso/pull/46829, it's accompanying wpcom diff (D51883-code) was never merged.

I think this was an oversight, but I'll double check with the original author now.

[2020-11-24 23:48] jeyip commented on #47119
I verified that it was a mistake. I'll be merging the wpcom diff shortly.

[2020-11-24 23:50] apeatling commented on #47119
Yes, my mistake I was juggling too many PRs across projects and completely forgot to merge the diff. Thanks for finding!

[2020-11-24 23:54] obenland commented on #46645
We can add the information to the `meta` field by calling [`get_user_setting()`](https://developer.wordpress.org/reference/functions/get_user_setting/).

[2020-11-25 00:04] jeyip commented on #47119
Double checked in production using the FSE horizon onboarding flow. https://horizon.wordpress.com/new?flags=gutenboarding/site-editor

The issue is now fixed and we're good to go 🎉

[2020-11-25 00:04] #47119 closed

[2020-11-25 01:09] michaeldcain commented on #47706
It looks like the count just didn't exist for pages before my change:

<img width="1535" alt="Screen Shot 2020-11-24 at 8 07 44 PM" src="https://user-images.githubusercontent.com/942359/100169230-f1b0db80-2e90-11eb-8767-5b26f0c317df.png">

I'll pull together a patch to fix it.

[2020-11-25 01:44] michaeldcain commented on #47706
#47724 returns the previous behavior of hiding the count for non-post views on Jetpack sites.

[2020-11-25 04:04] jeyip commented on #45113
Closing this for now as the Reynolds FSE design has been removed from the FSE horizon gutenboarding flow.

[2020-11-25 04:04] #45113 closed

[2020-11-25 08:00] philnick206 commented on #43194
Plussing up this one. It would be great to be able to set Premium content at the page, post, category, tag and site-level. This is a request that comes up often and it would be much easier I think for user's to set Premium Content at this level versus a block (as the default mode).

[2020-11-25 09:03] sirreal commented on #47551
Working on this in https://github.com/Automattic/wp-calypso/pull/47712

[2020-11-25 09:08] philnick206 commented on #35800
Another report here: #3504081-zen

[2020-11-25 09:49] philnick206 opened #47729 "Site privacy: Site set to public in Calypso but still stuck on private, visitors cannot see images on site"
Site settings show that site is set to Public, but non-logged in users cannot see images on the site.
Blog RC shows that site is still Private.
Setting site to Private and then Public again fixes the issue.

#### Context / Source

Reports of this happening here:

#3508646-zen
#3513624-zen
#3515236-zen

[2020-11-25 09:59] #47044 closed

[2020-11-25 10:25] KokkieH opened #47731 "Reader: can accidentally access Atlas Reader"
#### Steps to reproduce

1. Paste the URL, https://wordpress.com/following/manage/ in your browser address bar - the key is the trailing `/`. If that character is left off, the issue does not occur.

#### What I expected

To be taken to the Manage Followed Sites page in the Calypso Reader

#### What happened instead

The browser opens to the Blogs I Follow page in the Atlas Reader. Refreshing the

[2020-11-25 11:23] ciampo opened #47734 "Focused Launch: selectedPlan is undefined if the site already has an associated premium plan"
#### Steps to reproduce

1. Create a new site via `/start` — keep the default domain, but purchase a premium plan
2. Go to the block editor, append `?flags=create/focused-launch-flow` to the URL and refresh the page
3. Click on the "Launch" button in the editor's header
4. Focused Launch modal appears, but the Plan label is missing

#### Screenshot / Video

![Markup 2020-11-25 at 12 21 21](https:/

[2020-11-25 12:01] liviopv opened #47736 "Subscription Management: improve error message when confirmation process fails"
In support, it's not uncommon for us to talk to users who are having trouble subscribing to their own site using a secondary email address.

When they invite themselves or fill in the subscription form, they don't expect to have to log out of their account or open the confirmation link in a private window to be able to complete the process. This also exposes the site owners to our subscription flo

[2020-11-25 12:07] ciampo opened #47737 "Launch data store: isStepCompleted selector doesn't work when invoked in Calypso context"
The code inside the [`isStepCompleted` selector function](https://github.com/Automattic/wp-calypso/blob/trunk/packages/data-stores/src/launch/selectors.ts#L44-L48) currently uses the `getEntityRecord` APIs, which only work in the block editor

[2020-11-25 12:51] kriskarkoski commented on #47656
Chatted with @anastas10s-afk about this issue and it seems when logging in on the desktop app a message said an SMS was sent, but the account in question uses a two-factor app rather than a phone number so an SMS could not be triggered and therefore never arrived. Labeling as Desktop app for a closer look.

[2020-11-25 12:53] ciampo opened #47740 "Focused Launch: Plans Grid button styles in Plan Details view"
#### Steps to reproduce

1. Create a new site via `/start` and pick a free plan
2. Go to the block editor, append `?flags=create/focused-launch-flow` to the URL, and refresh the page
3. Click on the "Launch" button in the editor's header
4. Pick a premium domain
5. Click on "View all plans" to show the Plans grid
6. Notice how the "Select [plan]" buttons differ from the design specs:
   - [ ] The

[2020-11-25 13:01] ciampo opened #47741 "Focused Launch: Focused styles should be different from selected styles"
Let's focus first on https://github.com/Automattic/wp-calypso/issues/51175 and then re-evaluate this one.

#### Steps to reproduce

1. Create a new site and pick a free plan
2. Go to the block editor and click on the "Launch" button in the editor's header
3. Keep pressing the `tab` key to interact with the Focused Launch interface
4. Notice how focused and selected items are styled the same

####

[2020-11-25 13:11] eduardozulian commented on #47729
More reports coming from pbEMJv-lb-p2

* 3488629-zen
*  .3505048-zen
* 3511913-zen
* 3497859-zen

All the sites I checked so far had two things in common:

1. A custom domain
2. < 1 month old

[2020-11-25 13:17] tjcafferkey commented on #47734
For context, @ciampo mentioned that fixing this issue may also fix https://github.com/Automattic/wp-calypso/pull/47601#discussion_r529772106

[2020-11-25 13:28] eduardozulian commented on #47745
@jeherve yes, and that's what got me confused now that I realized I posted it to the Jetpack repo instead. Best to move it to https://github.com/Automattic/wp-calypso/issues, right?

[2020-11-25 13:30] tyxla commented on #24180
#47742 reduxifies the plugin update and autoupdate actions.

[2020-11-25 13:32] tjcafferkey opened #47743 "Focused Launch: Don't pre-select default domain"
#### What

When the user visits the Focus Launch modal for the first time we need to ensure the default domain is not pre-selected.

#### Why

We don't want to make any assumptions of the users behalf whilst guiding them through the focused launch process.

#### Acceptance criteria

- [x] Should the user open the Focus Launch modal for the first time having not already purchased a premium domain,

[2020-11-25 13:40] eduardozulian commented on #44673
Another case in 25706513-hc

Quoting the user using Google Translate:

[2020-11-25 14:27] kristenzuck commented on #47729
Found one more at [3507957-zen](3507957-zd-woothemes), but not finding many more very easily. It isn't being categorized very consistently reviewing instances found so far. Reviewing what I have, it doesn't look like this is occurring too frequently yet, but given it's new customers they might not have realized it yet and we'll see more contacts soon.

[2020-11-25 14:39] jeherve commented on #47745
@eduardozulian Yes, it may be best 👍

[2020-11-25 14:50] bsessions85 commented on #47694
If you're on a basic WordPress.com site, which is a minimal site with no plugins that you are using directly from WordPress.com then you are on the same version of everything that I am looking at. There are other possibilities for differences, but those would mean you either have your own site or you're using a paid WordPress.com site.

Leave this open for now.  We can dig in some more and see if

[2020-11-25 15:20] marcuswisecaesar commented on #47247
Reported in HC-22523861

The user’s homepage is setup in Gutenberg, on the Arcane theme.  With the Layout Grid plugin active cover images expand to their content size and footer content is moved into the main content area:

![screenshot](https://d.pr/i/yxfmer+)
[Direct Link](https://d.pr/i/yxfmer)

[2020-11-25 15:29] tjcafferkey opened #47748 "Focused Launch: The domain picker in the Summary view should show the last item as the default, free WordPress subdomain suggestion"
_This was part of the acceptance criteria in https://github.com/Automattic/wp-calypso/issues/47540 although I am moving this into a separate issue because it's isolated to the Focused Launch Summary view, and the changes in the PR associated with https://github.com/Automattic/wp-calypso/issues/47540 fixes an issue with the domain picker across all of it's usages (Focused launch, Step-by-step launc

[2020-11-25 15:39] simison commented on #47729
cc @alshakero @andrewserong

[2020-11-25 16:26] #47295 closed

[2020-11-25 16:48] ivan-ottinger commented on #47729
Another report here: 3520571-zd-woothemes / 25892988-hc. When the user set the site Public again, the images started loading again.

[2020-11-25 18:07] tyxla commented on #42468
On it.

[2020-11-25 18:11] tyxla commented on #42468
Addressed by #47755.

[2020-11-25 18:16] davipontesblog opened #47756 "Desktop app: No option to "Check for updates""
I don't see an option to check for updates:

<img width="386" alt="Screen Shot on 2020-11-24 at 14-32-37" src="https://user-images.githubusercontent.com/31009008/100266786-64b56300-2f20-11eb-8593-9583def517ec.png">

This option is visible on version 6.4:

![Annotation on 2020-11-24 at 11-32-07](https://user-images.githubusercontent.com/31009008/100266832-77c83300-2f20-11eb-8a95-195b2034ae41.png)

[2020-11-25 18:22] davipontesblog opened #47757 "Desktop app: "Add new site" takes me to the legacy new site creation flow"
- "Add new site" takes me to the legacy new site creation flow, not our new onboarding. I believe that for existing users, we should be taking them to the new flow.

<img width="1238" alt="Screen Shot on 2020-11-24 at 15-01-06" src="https://user-images.githubusercontent.com/31009008/100267054-cf669e80-2f20-11eb-9ef6-02cdaebd2478.png">

#### Steps to reproduce

1. Starting at My Site
2. Click "Swit

[2020-11-25 18:26] tyxla commented on #42489
I'm going to take care of this one later today.

[2020-11-25 18:32] davipontesblog opened #47758 "Desktop app: "Fullscreen mode" toggle in the editor breaks the editing flow when deactivated"
- Disabling "Fullscreen mode" in the editor rips away the ability to navigate back to calypso in the Desktop app, so we should remove it:

<img width="935" alt="Screen Shot 2020-11-24 at 14 41 02" src="https://user-images.githubusercontent.com/31009008/100267675-d2ae5a00-2f21-11eb-8245-de598d1027a7.png">

#### Steps to reproduce

1. Starting at My Site
2. Click Site > Pages
3. Edit any page
4. Cli

[2020-11-25 18:41] davipontesblog opened #47759 "Desktop app: "Launch" flows are not up-to-date with WordPress.com"
Trying to launch a site using the app is not up to par with our current offering efforts in WordPress.com. See below:

- "My Home": No setup checklist, no option to Launch the site:
<img width="1228" alt="Screen Shot 2020-11-24 at 14 48 03" src="https://user-images.githubusercontent.com/31009008/100268613-47ce5f00-2f23-11eb-9a04-ca3a275603a7.png">

- The "Launch" option is only available in Manage

[2020-11-25 19:00] ciampo opened #47760 "Focused Launch: show generic loading placeholder until all data has loaded"
Asynchronous data loading in the Focused Launch flow causes Layout Shift. This becomes evident when the site has associated a premium domain or paid plan

![Screen Recording 2020-11-25 at 18 56 12](https://user-images.githubusercontent.com/1083581/100270728-c72a5580-2f58-11eb-9be5-a9e4b4ea116a.gif)
___

💡 **Tips for improvement:**

- We're [currently getting the site data when rendering the Launch

[2020-11-25 19:03] ciampo opened #47761 "Focused Launch: avoid layout shift while data is loading"
Asynchronous data loading in the Focused Launch flow causes Layout Shift. This becomes evident when the site has associated a premium domain or paid plan

![Screen Recording 2020-11-25 at 18 56 12](https://user-images.githubusercontent.com/1083581/100270728-c72a5580-2f58-11eb-9be5-a9e4b4ea116a.gif)

Although a potential (sub-optimal) solution is described in #47760, ideally we should look at a bet

[2020-11-25 19:23] ciampo opened #47762 "Launch: cleaner way of redirecting the Calypso window from within the block editor"
The Focused Launch flow, included in the `@automattic/launch` package, needs to be imported both directly into Calypso and in the iframed block editor.

The `LaunchContext` is used to abstract some of the differences that those different environments have. One of the properties available on the `LaunchContext` is the [`redirectTo` function](https://github.com/Automattic/wp-calypso/blob/trunk/packa

[2020-11-25 19:42] joaodante commented on #47659
I got another case: HC-23086790 and they also had a ticket about the same issue ZD-3520755.

[2020-11-25 20:47] bluefuton commented on #47731
Good spot @KokkieH! Coincidentally I just worked on a patch that should sort this out: D45105-code. Just waiting on review.

[2020-11-25 20:57] tyxla commented on #42489
This one is addressed in #47765.

[2020-11-25 21:09] #47706 closed, assigned to nobody

[2020-11-25 21:15] noahtallen commented on #47207
Added in #47725

[2020-11-25 21:15] #47207 closed

[2020-11-25 21:36] ramonjd commented on #47729
Reported to systems here pMz3w-chP-p2

[2020-11-25 22:03] AtrumGeost opened #47768 "WordPress.com Embed PDFs not working on mobile"
Hi folks!

We got a report that [our PDF Embeds](https://en.support.wordpress.com/embedding-a-pdf-file/)  are not working on mobile. I ran a test here pb32ZB-dc-p2 and confirmed Google Drive and Scribd work as expected.

#### Steps to reproduce

1. Upload a PDF file (with more than one page) and insert it on a simple or AT site
2. Visit the embed file from iOS or Android

#### What I expected

For

[2020-11-25 22:05] AtrumGeost commented on #47768
Just found out there's a similar report here:

https://github.com/Automattic/jetpack/issues/15473

[2020-11-25 22:18] mpmedialab commented on #45881
another case here 3513706-zen

[2020-11-25 22:18] andrewserong opened #47769 "Gutenboarding: Create error state for creating a new site for suspended accounts"
Instead of silently erroring, at some point during the onboarding flow, we should check to see if the currently logged in user is eligible to create a new site. If they are not, let's display a clear error message / modal so that the user has next steps of what to do to be able to re-activate their account and create a new site.

Ideally we would display this at the beginning of the flow before th

[2020-11-26 00:14] ollierozdarz commented on #47761
@ciampo there's probably not a lot that can be done aside from possibly fixing the height of some of the main component areas to reduce the shifting. One option could also be to completely remove the content when loading (everything under the page heading and subheading), although that still wouldn't be ideal.

As an aside, I noticed in the above screen there are a few inconsistencies still to the

[2020-11-26 01:10] andrewserong commented on #47757
I think the desktop app v6.4 pre-dates rolling out the A/B test to direct existing users to the new site creation flow. It's possible that it might be included in 6.5.0 (p5T066-1DK-p2), but I haven't tested this. Certainly, once the feature lands properly (is no longer behind an A/B test), this should land in the following desktop release after that.

I'll move this issue to Fixed Elsewhere in the

[2020-11-26 01:14] andrewserong commented on #47578
Deployed the above changes, so this A/B test is now removed, and I see the checklist in pbmo2S-A4-p2 has been updated to reflect this, too.

[2020-11-26 01:14] #47578 closed

[2020-11-26 03:21] andrewserong commented on #46340
Looks like an issue to be fixed in the Jetpack repo, but because it's affecting dotcom users, let's leave this open in `wp-calypso` until it's resolved. I believe the solution will be to update the regex on either (or both) of the following lines to make sure that it doesn't accidentally target the filename, which appears to be what's happening here:

* https://github.com/Automattic/jetpack/blob/e

[2020-11-26 03:42] ramonjd opened #47775 "Add login hooks to the Atomic Coming Soon page"
For new Atomic users (e.g., ecommerce plans), previewing their site in a logged-in WordPress.com session will show the Coming Soon page until they click on Login.

It _might_ be that we need to do some login actions, i.e., what wpcomsh v1 is doing:

access-denied-coming-soon-template.php#L27

[2020-11-26 04:33] ramonjd opened #47777 "Coming Soon v2 post-launch tasks"
Things have been up for a while. No major issues. What do we do next?

Here are some high-/low-/somewhere-in-between-level tasks.

### Immediate
- [x] Preserve Private + Viewer user privileges D53164-code and https://github.com/Automattic/wp-calypso/pull/47666 **(priority high)**
- [x] Update FG document PCYsg-py7-p2 **(priority high)**
- [x] Refactor the MU plugin https://github.com/Automattic/wp

[2020-11-26 04:44] designsimply commented on #47758
Nice find! I agree we should disable the option to leave fullscreen mode from the overflow menu in the editor in the Desktop App as it's pretty disorienting, and I also wanted to make a quick note to say that it's not impossible to go back to fullscreen mode and to do it you just need to re-check the option in the dropdown menu that you had unchecked in step 5 of your testing steps. Could you let

[2020-11-26 04:52] andrewserong commented on #43892
Moving this issue to Blocked / Fixed Elsewhere in the Create board, as it sounds like the solution will be for View folks to update patterns when the appropriate design tools are available in Gutenberg, and there doesn't seem to be a clear action for us to take (from the Create focus perspective) in the short term.

[2020-11-26 04:56] andrewserong commented on #44713
Thanks for raising this feature idea @davipontesblog! It's a good idea, and I can see there's already an open issue for the feature as an enhancement over in the Jetpack repo from July (https://github.com/Automattic/jetpack/issues/16620), so I'll close out this issue. Apologies for the (very) delayed reply!

[2020-11-26 04:56] #44713 closed

[2020-11-26 04:56] KokkieH commented on #46182
Another report in https://wordpress.com/forums/topic/bell-wont-open/

Using Chrome 87.0.4280.66 (Official Build) (32-bit) on Windows 7

[2020-11-26 05:42] andrewserong commented on #47759
Looks like the Primary layout isn't rendering in Customer Home for that site for some reason. I'm not too sure what sets `layout.primary` (relevant line here: https://github.com/automattic/wp-calypso/blob/trunk/client%2Fmy-sites%2Fcustomer-home%2Fmain.jsx#L85) so this is where I'd suggest the next person looking at this start from.

[2020-11-26 05:48] autumnfjeld opened #47778 "Move PageControl componenent into own package"
Move GB Guide component's [PageControl](https://github.com/WordPress/gutenberg/blob/4bbfbc13603d28fcc45368c529954164bf8581de/packages/components/src/guide/page-control.js#L16) into it's own package as it is a handy component on its own.

See use case: https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/wpcom-block-editor-nux/src/welcome-tour/pagination.j

[2020-11-26 06:00] nielslange opened #47780 "Editor: Jetpack sidebar not visible when Gutenberg 9.4.1 is active"
#### Steps to reproduce

1. Create an atomic site on WordPress.com
2. Ensure that Gutenberg 9.4.1 is active
3. Create a new page or post
4. See error

#### What I expected

The Jetpack icon is visible in the upper-right corner.

<img width="453" alt="Screenshot 2020-11-26 at 12 59 18" src="https://user-images.githubusercontent.com/3323310/100313420-32bb0400-2fe7-11eb-9356-74a40359b4ef.png">

####

[2020-11-26 06:06] devNigel commented on #47768
Got another report of this issue.

3520100-zen

[2020-11-26 06:07] andrewserong commented on #47729
I spent some more time trying to reproduce this today, to no avail.

If anyone who sees this encounters another one of these, before fixing the site, are you able to check the current option values for the site, for the following options:

* `blog_public`
* `wpcom_coming_soon`
* `wpcom_public_coming_soon`

You can get these via running this from the CLI:

[code]

Or from the `network/site-info` pa

[2020-11-26 06:12] lsl commented on #46182
I've come across this before and just again on Firefox with an old user profile / test account that I hadn't visited WordPress.com with for a long time.

In my case, logging out and logging in again fixed the issue. I suspect this has something to do with auth cookies/token expiring. (The cause of the 403 response)

I don't know enough about the this system to be sure but given some of the informa

[2020-11-26 07:00] razvanpapadopol opened #47781 "Focused Launch: add contact us chat popover"
When clicking the existing Ask for help link button, open the chat box mentioned in https://github.com/Automattic/wp-calypso/pull/47624#discussion_r529737611

[2020-11-26 07:34] razvanpapadopol opened #47782 "Focused Launch: add error handling"
**Blocked** until https://github.com/Automattic/wp-calypso/issues/48165 is closed.

___

#### Why
* The user should be notified as soon as something goes wrong.
* They shouldn't be stuck on a non-responsive screen.

#### What
* UI should always be updated after a failed API call.

#### Acceptance criteria
- [ ] Check if we handle errors for other API calls
  - site data
  - plans
  - domain sugges

[2020-11-26 07:44] StefanNieuwenhuis commented on #47740
@ciampo do you know which color (variable) it has to be?

[2020-11-26 08:33] ciampo commented on #47740
@StefanNieuwenhuis I had another look at the Figma designs and I actually couldn't see a hover state — let's keep the unselected buttons without a hover state for now (I updated the issue description accordignly)

[2020-11-26 08:40] ciampo opened #47784 "Focused Launch: Show help widget when clicking "Ask a Happiness Engineer""
## What

Currently, clicking the "Ask a Happiness Engineer" link takes the user to the `/help` page. A better solution would be to show the help widget on top of the Focused Launch modal if the chat feature is available for the user.

p58i-9Mt-p2#comment-48405

## Why

This would allow the user to receive help, without leaving the Focused Launch modal

## Acceptance Criteria

When the user clicks

[2020-11-26 08:42] ciampo commented on #47784
@ollierozdarz please let use know if you see any other requirements around this specific feature/interaction.

How would this behave on a narrow screen (mobile viewport)?

[2020-11-26 08:52] ciampo commented on #47761
I see, makes sense (cc @razvanpapadopol )

Thank you for your keen eye! At the moment we're focusing on implementing the last bits of functionality, so it's normal if there are discrepancies with the design. Having said that, we'll definitely need your detailed feedback soon, so that we can iron out all these inconsistencies!

[2020-11-26 09:06] ciampo opened #47785 "Focused Launch: mobile value proposition quotes should be hidden when the desktop quotes are shown"
## What

The Summary view in the Focused Launch flow modal shows some value proposition quotes next to the plan and domain steps. The design specifies a mobile (shorter) and a desktop (extended) version of those quotes, but in our current implementation both versions are displayed when the viewport is wider than `782px`:

![image](https://user-images.githubusercontent.com/1083581/100329359-d7c8e30

[2020-11-26 09:18] razvanpapadopol commented on #47781
superseded by #47784

[2020-11-26 09:18] #47781 closed, assigned to nobody

[2020-11-26 10:14] carinapilar commented on #2342
I got a case today, with a 2-weeks old account, shared here: p6WmIP-Kr-p2#comment-1677

[2020-11-26 10:28] StefanNieuwenhuis opened #47788 "Focused Launch: Plans Grid unavailable Free plan copy & styles in Plan details view"
Currently used in Focused Launch - Plans Details view, the version of `<PlansTable/>` should have specific styling & copy for unavailable plans but Production doesn't match the specs specified in Figma. See the screenshots below for comparison.

#### Acceptance Criteria

* [ ] The cross icon's color for the unavailable plan is orange (`--studio-orange-40`).
* [ ] The unavailable domain copy is cro

[2020-11-26 10:30] razvanpapadopol opened #47789 "Focused Launch: selected popular plan could be rendered twice"
Because of the async nature of getting `plans` data, `defaultPaidPlan` can be `undefined` when evaluated in https://github.com/Automattic/wp-calypso/blob/trunk/packages/launch/src/focused-launch/summary/index.tsx#L297 and if the select plan is matching the `defaultPaidPlan`, it gets rendered twice.

<img width="597" alt="Screenshot 2020-11-26 at 12 19 29" src="https://user-images.githubusercontent

[2020-11-26 10:46] carinapilar commented on #46752
Adding this P2 post here too: p58i-9Lm-p2. It seems we can go ahead and close this issue.

[2020-11-26 10:50] ciampo commented on #47740
Hey @ollierozdarz 👋

- Do the specs written in this issue's description look correct to you?
- Should those changes apply to the Plans Grid only in the case of Focused Launch, or should they be applied to all instances of the Plans Grid?

[2020-11-26 10:56] ciampo commented on #47788
Hey @ollierozdarz, in a similar fashion to [this other comment](https://github.com/Automattic/wp-calypso/issues/47740#issuecomment-734225642), can you confirm if those changes should apply to the Plans Grid only in the case of Focused Launch, or if they should be applied to all instances of the Plans Grid?

[2020-11-26 11:04] #47303 closed

[2020-11-26 11:10] ciampo opened #47792 "Focused Launch: Plan Details view should not include the detailed plans comparison"
## What

Currently, the Plan Details view in the Focused Launch flow shows the detailed plans comparison below the plans grid, even though it doesn't appear in the design specs

![plan-details-comparison](https://user-images.githubusercontent.com/1083581/100343807-2aab9600-2fe0-11eb-8174-5e53f6006d5f.gif)

## Why

Design specs:

<img width="948" alt="Screenshot 2020-11-26 at 12 09 23" src="https:/

[2020-11-26 11:20] #47597 closed

[2020-11-26 11:41] daledupreez commented on #46752
@carinapilar, the issue addressed by that P2 post is similar, but not the same as this issue. I think we need to keep this issue open.

[2020-11-26 11:51] #42489 closed

[2020-11-26 11:52] #42468 closed

[2020-11-26 13:07] #24128 closed

[2020-11-26 13:16] frontdevde opened #47795 "Nav Unification: update Calypso color schemes for nav-unification"
The scope of the scheme's current variable settings needs to be expanded to include .is-nav-unification.
Some additional color variables that only exist in calypso nav unification need to be set. These are submenu colors which exist in wp-admin and nav unification, but not regular calypso.

See https://github.com/Automattic/wp-calypso/issues/47040#issuecomment-724925658

[2020-11-26 13:17] frontdevde commented on #47795
Solved via the following list of PRs

update Classic Blue color scheme to be compatible with Nav Unification #47709
update Classic Bright color scheme to be compatible with Nav Unification #47728
update Classic Dark color scheme to be compatible with Nav Unification #47730
update Contrast color scheme to be compatible with Nav Unification #47746
update Nightfall color scheme to be compatible with

[2020-11-26 13:17] #47795 closed, assigned to frontdevde

[2020-11-26 13:28] #47279 closed

[2020-11-26 13:55] ciampo opened #47798 "Editor Checkout Modal: TypeScript errors"
In `client/blocks/editor-checkout-modal/index.tsx`:

- TypeScript error on the `productAliasFromUrl` prop: `Type 'string | null' is not assignable to type 'string | undefined'`
   - This could be fixed by removing `|| null` from [this line](https://github.com/Automattic/wp-calypso/blob/trunk/client/blocks/editor-checkout-modal/index.tsx#L83)

- TypeScript error on the `connect` function at the bot

[2020-11-26 15:19] razvanpapadopol opened #47803 "Focused launch: try enabling the flow in wp-admin"
### Why
Allow users to launch their sites from wp-admin (non-iframed editor).

### What
By skipping [calypsoify-iframe](**url**) and WBE entirely and checking the `site_creation_flow` option and `launch_status` using `Site` data-store directly within ET plugin, we could have the launch flow running also inside wp-admin.
Discussed also in p1606402431077600-slack-anchor-fm-integration

### Acceptanc

[2020-11-26 16:00] ciampo opened #47805 "Onboarding: refactor style exports to avoid overriding the default z-index function"
_Originally posted by @razvanpapadopol in https://github.com/Automattic/wp-calypso/pull/47601#discussion_r530570891_

It's not straight forward to re-use the onboarding mixins since they bring also[ this z-index function](https://github.com/Automattic/wp-calypso/blob/trunk/packages/onboarding/styles/base-styles.scss#L1) (takes 1 argument) which is in conflict with [the one used in this file](https

[2020-11-26 17:21] simison commented on #46015
cc @sirreal anything to worry about CoBlocks?

[2020-11-26 17:21] simison commented on #46015
([PHP 8 is out](https://www.php.net/releases/8.0/en.php))

[2020-11-26 17:27] davipontesblog opened #47806 "Billing: Add the ability to make bulk changes to purchases in WordPress.com"
I had an interaction in live chat with a user who had 136 sites they manage for students, and they needed to set all of those from "auto-renewal" to "manual renewal" (turning off auto-renewal) – which is, unfortunately, not something easily done in calypso as a subscriber at this time.

It would be nice if users had a way to toggle these "on" and "off" individually from one central billing managem

[2020-11-26 17:29] davipontesblog commented on #47806
@fditrapani is this something that your team would already be working on?

[2020-11-26 17:41] fditrapani commented on #47806
Thanks for the ping @davipontesblog! Yes, we have this item on our roadmap it just hasn't been planned out yet. Anything you can share about how often this comes up, or how many customers this could benefit, will help us with prioritization.

[2020-11-26 17:41] sirreal commented on #46015
Good question… I think it's unlikely to have issues but we can do some testing. I've created [an issue](https://github.com/godaddy-wordpress/coblocks/issues/1767) so CoBlocks is aware and can prepare automated testing.

I'll add this to @Automattic/good-mountain board to do some CoBlocks testing.

[2020-11-26 17:58] davipontesblog commented on #47806
I would say it's a very low incidence since we don't have many people that have over 100 sites on their account. But if we start marketing more towards folks who manage multiple sites, schools, etc, we may want to prioritize more.

[2020-11-26 18:09] fditrapani commented on #47806
Absolutely! We'll keep an eye out for that and adjust our priorities accordingly.

[2020-11-26 18:29] startuptester opened #47807 "Comment Notifications: oversized emoji"
#### Steps to reproduce

1. Find a notification for a comment containing an emoji
2. Click on it to view the comment in the notification panel
3. Notice oversized emoji

#### What I expected
Emoji to display inline and appropriately sized, like if you view the comment in the actual page

#### What happened instead
![image](https://user-images.githubusercontent.com/66104034/100382209-09df4280-2fd8-

[2020-11-26 18:45] AliSoftware commented on #47807
This is not limited to notifications.
 * I've also seen this "giant emoji rendering" issue when viewing a post using Safari's built-in "Reader Mode".
 * I've also heard (tho never encountered it personally) other people say that this could also happen when posts ends up getting sent via Mailchimp

[2020-11-26 18:54] kwight commented on #47807
Hm, I'm not seeing it at all myself for notifications or email:

Email | Notifications
--- | ---
<img width="635" alt="Screen Shot 2020-11-26 at 10 52 55 AM" src="https://user-images.githubusercontent.com/349751/100384718-ae13ba00-2fd5-11eb-893c-fee1b350fac1.png"> | <img width="893" alt="Screen Shot 2020-11-26 at 10 51 53 AM" src="https://user-images.githubusercontent.com/349751/100384727-b3710480

[2020-11-26 19:37] carladoria commented on #46760
another report in [3514907-zen](3514907-zd-woothemes)
They reported it from mobile view. I was able to reproduce this by using the "share" Pinterest button. On desktop, it shows the domain name and WordPress.com, but in Mobile view is really bad:

https://d.pr/i/CWr0Fe
https://d.pr/i/8J8ixw

User says, it used to show like this:
https://d.pr/i/qxQFzi

[2020-11-26 20:06] razvanpapadopol opened #47810 "Editor checkout: add analytics"
Fire Tracks events when opening & closing the editor checkout modal

[2020-11-26 20:42] ockham commented on #47546
Thanks @poojashetty18 and @cathymcbride for confirming! I can also repro (on an actual Atomic site; not on an ephemeral one, however).

The 403 errors for image URLs on `i[0-2].wp.com` are relevant I believe. Embedding the image here for increased exposure:

<img width="1664" alt="Screenshot on 2020-11-19 at 11-52-36" src="https://user-images.githubusercontent.com/96308/100390354-5bb3b700-3030-11e

[2020-11-26 20:53] razvanpapadopol opened #47813 "Focused Launch: site title causing domain error"
#### Steps to reproduce

1. Create a site using `/start/domains` flow.
2. Go to Manage > Settings > Site profile and update site title to a non-alphanumeric value (eg: `"`).
3. Go to editor and start Focused launch flow

#### What I expected
Domain suggestions to be displayed at _Confirm your domain_ step

#### What happened instead
An error was caused because of the invalid search query

#### Scr

[2020-11-26 21:33] ramonjd commented on #47546
Is this happening in private mode (or coming soon mode v1, which is private)?

It sounds related to the existing bug here: https://github.com/Automattic/wp-calypso/issues/41272#issuecomment-732204924

In which case, we'd recommended that the user toggle between public and coming soon mode, which should migrate them to coming soon mode 2 (public not-indexable).

[2020-11-26 21:36] ramonjd commented on #47546
I just checked the user's account setting. Their site is set to private, so it sounds like a dupe of #41272

[2020-11-26 22:13] ciampo opened #47814 "Focused Launch: Plans grid in Plan details view does not highlight the selected plan"
## What

Currently, the Plans grid used in the Plan details view in the Focused Launch modal doesn't highlight the plan currently selected by the user.

This is in contrast with the rest of the Focused Launch UI, where the user can always visually understand what are the currently selected domain and plan.

<img width="1027" alt="Screenshot 2020-11-26 at 23 05 04" src="https://user-images.githubus

[2020-11-26 22:14] ciampo commented on #47814
Hey @ollierozdarz , we need your input on this one — do you mind reviewing this issue and provide some guidance? Thank you!

[2020-11-26 22:20] ciampo opened #47815 "Step by Step Launch: add white space below domain picker"
## What

When launching a site through the Step by Step launch flow and reaching the domain step, there is no white space below the domain picker when accessed on desktop:
The issue is easier to detect after expanding domain picker options

<img width="1792" alt="Screenshot 2020-11-26 at 23 15 11" src="https://user-images.githubusercontent.com/1083581/100394368-3f6a4700-303d-11eb-8b3a-250d16930392

[2020-11-26 22:20] ciampo commented on #47815
@yansern do we have a milestone/board for Step by Step flow?

[2020-11-26 22:44] ciampo opened #47816 "Focused Launch: changes to the CTA button in the Success view when rendering in Calypso"
## What

The Success view of the Focused Launch flow has a main CTA which, when the Focused Launch is opened from the context of the iframed Block Editor, says "Continue Editing". When clicked, this button should simply close the modal, thus showing the block editor that was under.

<img width="1166" alt="Screenshot 2020-11-26 at 23 27 58" src="https://user-images.githubusercontent.com/1083581/100

[2020-11-26 22:56] ciampo opened #47817 "Focused Launch: refactor Summary view code, potentially split Steps into separate files"
## What

The [file containing the Summary view](https://github.com/Automattic/wp-calypso/blob/trunk/packages/launch/src/focused-launch/summary/index.tsx) has grown to 600+ lines

It may be a good idea to refactor each step component (site title step, domain step, plan step) to their separate folder, and also have a look at refactoring/cleaning the code around the hooks.

💡 **Improvement tip**: we

[2020-11-26 23:00] andrewserong commented on #47220
@simison I think the Mailerlite integration might have been a hack week or side project, introduced in the Editing Toolkit plugin so I believe it's currently unowned. (It gets registered here: https://github.com/automattic/wp-calypso/blob/trunk/apps%2Fediting-toolkit%2Fediting-toolkit-plugin%2Ffull-site-editing-plugin.php#L310).

I think this is a great idea for an enhancement, though. Is this a g

[2020-11-27 00:55] ollierozdarz commented on #47784
This sounds great, @ciampo. On a mobile, this help widget could just take up the width of the viewport as other help widgets do (intercom, etc). Since the user has made the effort to click the help link text, it's find for it to act like a modal and break the flow.

[2020-11-27 00:57] ollierozdarz commented on #47761
No worries, @ciampo. I knew it'd be the case just thought I'd mention it 🙂

[2020-11-27 01:35] #46880 closed

[2020-11-27 02:40] fullofcaffeine opened #47820 "[Disable CoBlocks] Research how to get and calculate the cutoff date"
Project: pc9Uba-aT-p2#comment-236

There should be functionality that provides this data. It appears as created_at site option in Calypso and appears to be from $site->get_registered_date() on WordPress.com

[2020-11-27 02:41] fullofcaffeine opened #47821 "[Disable CoBlocks] Make it possible to configure the cutoff date in WPCOM"
Project: pc9Uba-aT-p2#comment-236

The date should be configurable somewhere. We're thinking about adding it somewhere in .config.

[2020-11-27 02:43] fullofcaffeine opened #47822 "[Disable CoBlocks] Prevent coblocks from loading if simple site has been created on/after cutoff date"
Project: pc9Uba-aT-p2#comment-236

We'll probably add this logic to the CoBlocks mu-plugin loader.

[2020-11-27 02:44] fullofcaffeine opened #47823 "[Disable CoBlocks] Do not provision coblocks for at sites originating from simple sites created on/after the cutoff date"
Project: pc9Uba-aT-p2#comment-236

By still checking against the simple site create_at, we can tell if it was created after the cutoff date, and if so, the resulting AT site will not add CoBlocks to the list of provisioned software. This approach has been briefly discussed here: p1606318573239000-slack-C7YPW6K40.

[2020-11-27 02:51] fullofcaffeine commented on #46935
Closed in favor of pc9Uba-aT-p2#comment-236.

See:
* https://href.li/?https://github.com/Automattic/wp-calypso/issues/47820
* https://href.li/?https://github.com/Automattic/wp-calypso/issues/47821
* https://href.li/?https://github.com/Automattic/wp-calypso/issues/47822
* https://href.li/?https://github.com/Automattic/wp-calypso/issues/47823

[2020-11-27 02:51] #46935 closed

[2020-11-27 03:36] ramonjd opened #47824 "Metrics: measuring the effect of Premium Patterns"
The metrics goal of Premium Patterns is to positively affect "[c]onversions via the upgrade paths on premium blocks".

To tell the story of whether Premium Patterns achieves this goal, we'll need to measure the before and after performance of Premium Pattern insertion/upgrade/purchase journey.

pbAok1-1D1-p2#comment-3431

[2020-11-27 04:21] nagpai opened #47825 "Payments block: Show label of Payment plan in block settings or options"
#### Steps to reproduce

1. Use a test site with Jetpack paid plan or WordPress.com Personal Plan upwards
2. Create two payment plans (one time in my test case) . give them same price but different names
3. Create a page or post and try adding a block for one of the plan
4. You only see the price and you cannot identify the payment plan by name.

#### What I expected
I expected to see the names of

[2020-11-27 05:18] ollierozdarz commented on #47788
Hey @ciampo, the intention of all the focused launch flow styles is to be contained to this flow. We're using some new styles scattered throughout this task/project and I'd prefer to keep them contained here instead of globally rolling them out to older screens where we don't know how they'll look/work once incorporated 🙂

If we have to use them globally it _should_ be fine, but not ideal.

[2020-11-27 05:21] ollierozdarz commented on #47740
Hey @ciampo, thanks for checking! Here are the button states (can also find this in the Launch [Figma](https://www.figma.com/file/8SZljM999DKC7tWBlONFCR/Launch-Flow-All-users?node-id=1%3A93) file which I updated):

<img width="1435" alt="Screen Shot 2020-11-27 at 3 19 17 pm" src="https://user-images.githubusercontent.com/67085494/100413883-29ec3000-30c4-11eb-8edc-9fb98e5a98a8.png">

Much like my o

[2020-11-27 05:24] andrewserong commented on #47729
I think I've managed to get to the bottom of how this is happening. There is an unfortunate and buggy launch "flow" triggered by the launch banner in the site preview, and this particular code path is only executed for sites that have a domain subscription and are not on the free plan (more context p1606454120184100-slack-C013QHLF28Y).

The solution is to pull this bit of code out, and direct all

[2020-11-27 05:25] ollierozdarz commented on #47814
@ciampo I've updated the [Figma](https://www.figma.com/file/8SZljM999DKC7tWBlONFCR/Launch-Flow-All-users?node-id=1%3A93) file to include a selected state. You'll also notice I've edited the working on the 'Free plan' button label when it's not available from "Free Plan" to "Unavailable with domain" to make it more clear **why** it's not available (this was from some feedback I just received). Sorr

[2020-11-27 05:40] autumnfjeld opened #47826 "Welcome Tour Animations"
Adding a bit of pizazzzz to the new Editor Welcome Tour. ✨

Welcome Tour Component: https://github.com/Automattic/wp-calypso/pull/47779

Spike to explore possibilities: https://github.com/Automattic/wp-calypso/pull/47662

![pulse](https://user-images.githubusercontent.com/5665959/100415014-43df4000-30cf-11eb-87f9-aac5e1a40ba8.gif)

[2020-11-27 06:10] andrewserong commented on #47729
Work in progress in D53403-code.

[2020-11-27 07:25] KokkieH opened #47827 "Marketing banner: banner obscures theme info overlay controls"
#### Steps to reproduce

1. View a site not displaying the marketing banner as a superadmin
2. In the superadmin menu, select the theme info overlay. Note the `x` top-left to dismiss the overlay
3. Now view a free site displaying the banner, and open the theme info overlay
4. The `x` is hidden behind the banner, making it impossible to dismiss the overlay (unless you know to press Escape)

#### Wh

[2020-11-27 08:46] simison commented on #47220
@andrewserong Yeah, this is better handled by other teams.

[2020-11-27 09:39] ciampo opened #47829 "In Editor Checkout: remove "Modal" from modal title"
## What

The In Editor Checkout modal has a modal title that currently reads "Checkout modal". This title is not visible, but is accessible to screen readers.

The In Editor Checkout modal's title should be updated to "Checkout".

## Why

This change improves clarity, by removing the redundant "modal" from the modal's title.

## Acceptance Criteria

- [ ] The In Editor Checkout modal's title shoul

[2020-11-27 09:47] liviopv opened #47830 "Reader: private sites you're not already following can't be added to a list"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/read/list/[username]/[list-name]/edit/items
2. Click on Add Site
3. Add a private site to the list
4. An error message saying `Unable to add feed to list.` will show up

#### What I expected

I should be able to add any WordPress.com or Jetpack-connected site to a list, no matter the visibility.

#### What happened instead

Private

[2020-11-27 10:17] reginabally commented on #33077
Another report here in 3522970-zen. This is part of the reasons the user canceled the subscriptions and closed the account.

[2020-11-27 11:28] razvanpapadopol opened #47831 "Focused Launch: improve UX of the paid flow"
#### Context
Launching a site by following the free flow (free domain and free plan) looks nice with the Success view showing first a loading text (let's call this "loading" state) and then when the site is launched, the text changes, and the two action buttons appear ("completed" state).
**Demo**: https://www.loom.com/share/8721d2545ba64fcbbfe4982c3528ba26

#### Paid flow issue
As mentioned in ht

[2020-11-27 11:32] ciampo commented on #47788
Hey @ollierozdarz, I see your point. Together with the team, we've decided that those changes will also be reflected in the New Onboarding (gutenboarding) and "Step By Step" Launch flows (the launch flow for sites created with gutenboarding), as they share the components with Focused Launch. This greatly simplifies the implementation of those tweaks, and will help us maintaining those components i

[2020-11-27 13:25] rickmgithub opened #47832 "Podcast RSS feed problems"
Several of the user's podcast episodes are not showing up on Google podcasts.

1. If you go to the users podcast feed - https://damiengwalter.com/category/podcast/feed/
and then validate it with WC3 feed validator it produces two types of errors
(if the user has changed this then please see my backup file here - https://rickspremiumtest.wordpress.com/2020/11/27/xml/)
- There are multiple enclosure

[2020-11-27 13:40] #47785 closed, assigned to StefanNieuwenhuis

[2020-11-27 14:51] liviopv opened #47833 "Block Posts Block: "Load More Posts" ignores the language of site on the date format"
### Steps to reproduce

1. Change the site language from English to something else
2. Add the Blog Posts Block to a site, select a Grid
3. Set the option to **Show “More” Button**
4. The first set of posts will load the with the date in the language set on the site; after clicking on "Load More", the site will load the month in English.

#### What I expected

The Block should respect the language

[2020-11-27 14:56] liviopv commented on #47833
Closing in favor of https://github.com/Automattic/newspack-blocks/issues/637

[2020-11-27 14:56] #47833 closed, assigned to nobody

[2020-11-27 15:04] dzver opened #47834 "Some steps of the signup flow perform unexpected function calls"
#### Steps to reproduce

1. Starting at URL: /start/launch-site with a new site
2. Select Free plan and Free domain

#### What I expected

- To not run add to cart functions
- To not fetch an empty cart from the server before adding items to it

#### What happened instead

Add to cart with empty parameters.

I'm not sure if that has any negative impact on the code but debugging it is confusing. I

[2020-11-27 15:28] #47551 closed

[2020-11-27 15:29] ciampo commented on #47814
Thank you @ollierozdarz ! I've updated this issue's description with your updated design specs

[2020-11-27 16:22] sgomes commented on #47705
The fix is now in production. Closing bug.

[2020-11-27 16:22] #47705 closed, assigned to nobody

[2020-11-27 16:33] sirreal commented on #44251
Closing this as of https://github.com/Automattic/wp-calypso/pull/47712 / p4TIVU-9xW-p2

[2020-11-27 16:33] #44251 closed

[2020-11-27 16:34] sirreal commented on #46489
Closing this as of https://github.com/Automattic/wp-calypso/pull/47712 / p4TIVU-9xW-p2

[2020-11-27 16:34] #46489 closed

[2020-11-27 16:34] sirreal commented on #46520
Closing this as of https://github.com/Automattic/wp-calypso/pull/47712 / p4TIVU-9xW-p2

[2020-11-27 16:34] #46520 closed

[2020-11-27 16:34] sirreal commented on #46519
Closing this as of https://github.com/Automattic/wp-calypso/pull/47712 / p4TIVU-9xW-p2

[2020-11-27 16:34] sirreal commented on #46522
Closing this as of https://github.com/Automattic/wp-calypso/pull/47712 / p4TIVU-9xW-p2

[2020-11-27 16:34] sirreal commented on #46523
Closing this as of https://github.com/Automattic/wp-calypso/pull/47712 / p4TIVU-9xW-p2

[2020-11-27 16:34] sirreal commented on #46494
Closing this as of https://github.com/Automattic/wp-calypso/pull/47712 / p4TIVU-9xW-p2

[2020-11-27 16:35] sirreal commented on #46496
Closing this as of https://github.com/Automattic/wp-calypso/pull/47712 / p4TIVU-9xW-p2

[2020-11-27 16:35] #46496 closed

[2020-11-27 16:35] #46494 closed

[2020-11-27 16:35] #46523 closed

[2020-11-27 16:35] #46522 closed

[2020-11-27 16:35] #46519 closed

[2020-11-27 16:50] AtrumGeost opened #47837 "Like Button: Change behavior when third-party cookies are blocked"
#### Steps to reproduce

1. Block third-party cookies on your browser of preference
2. Log in to WordPress.com
3. Access a page or post that has the Like button
4. Try giving a like to a post or page

#### What I expected

Since third party cookies are blocked, the best would be to ask the visitor to log into their WordPress.com account to properly like the page or post

#### What happened instead

[2020-11-27 17:12] jamiepalatnik opened #47838 "Theme Showcase: Storefront child themes not loading in Calypso"
The eCommerce plan includes three Storefront child themes, but when I tested this I found they can only be activated via the Customizer or WP Admin. If one of the included child themes is activated, it does not load in Calypso.

#### Steps to reproduce

1. Starting at URL: Go to https://wordpress.com/themes/ on a site with the WordPress.com eCommerce plan
2. Search for Bookshop, Homestore, or Gall

[2020-11-27 17:46] sirreal opened #47839 "Ensure wp-gutenberg-experimental-features-spec.js spec runs"
Context: https://github.com/Automattic/wp-calypso/pull/47712#discussion_r531109276

Ensure wp-gutenberg-experimental-features-spec.js are running on full suite and gutenberg edge suite.

May need the `@parallel` tag added.

[2020-11-27 18:28] kwight opened #47840 "Settings: Some settings cannot be toggled."
Reported @TassyWassy:

Some settings at `https://wordpress.com/settings/discussion/` cannot be toggled to new values. It may be limited to Simple sites, and may not be limited to just these comments settings.

See: p1606498184081000-slack-C03TY6J1A

[2020-11-27 21:34] vindl commented on #46822
Update: after https://github.com/WordPress/gutenberg/pull/27213 this is no longer true.

[2020-11-27 22:18] designsimply commented on #47927
I found I can reproduce this pretty consistently in 6.5.0-beta1 using these steps:

1. Open the WordPress.com Desktop App and go to My Site > My Home.
1. Close the app.
1. Re-open the app.
1. Go to My Site > My Home, find the Quick Links section and tap "Edit Menus."
1. Wait for the Customizer to load.
1. Tap the "x" at top left.

**Result:** cannot exit the Customizer if I access it using a deep

[2020-11-28 02:39] formosattic commented on #47643
+1 25951815-hc

[2020-11-28 13:19] mikeicode commented on #28567
Requested 3511304-zd-woothemes

[2020-11-28 14:50] jenlynnemc commented on #47832
User noted that they are using the WordPress editor and will use the work arounds provided in the meantime.

[2020-11-28 15:17] mikeicode commented on #46077
25893381-hc

[2020-11-28 15:23] KristinaKay commented on #45881
It does look like this is very much an issue with Chrome.

[2020-11-28 15:36] KristinaKay commented on #45881
Another report: #3517971-zen

Using Chrome on Windows

[2020-11-28 18:42] ChrissiePollock opened #47843 "Buttons Block Link Settings Confusing"
1. Go to a site in the editor and create a post or page.
2. Add the Buttons Block.
3. Insert some text.
4. Find Link Settings in the Block Settings.
5. Add a Url.

#### What I expected

I expected the link to work when the button was clicked after the post or page was published.

#### What happened instead

The button is not clickable. It only link when clicked if the url is added from the link ic

[2020-11-28 21:13] RealCarFax commented on #46077
Ran into the same issue here: #420258-hc
Resolved with search and replace command.

[2020-11-28 21:58] jamiepalatnik commented on #46077
I've noticed this on several chats and tickets in the past as well where the username had to be updated manually.

[2020-11-29 07:57] ivan-ottinger commented on #31249
Another report: 3518993-zd-woothemes / Simple site (Free)

The user mentioned that the issue occurs on the images that were pasted into the editor (in their case from Facebook).
→ I suggested them to upload images directly until the issue is fixed (in case it is somehow related to the pasting).

[2020-11-29 14:21] anastas10s-afk opened #47919 "Can't play complete Spotify songs using the shortcode in a Widget on Chrome and Edge."
The instructions to add the shortcode in a Widget: https://wordpress.com/support/audio/spotify/#embedding-in-a-widget

The user did several tests and sent some screenshots and they're right; the shortcode is not displaying more than 30s on Chrome and Safari, but it works on Firefox.

`[spotify https://open.spotify.com/playlist/37i9dQZF1DWVxdmcl0VPos]`

The embed works properly using the Spotify bl

[2020-11-29 14:23] tomjn commented on #47919
This GitHub repo has nothing to do with the Spotify shortcode, I think you have the wrong place. This widget was never used or deployed to wordpress.com

edit: this was originally posted on the wrong repo but moved to the right place

[2020-11-29 17:18] lakellie commented on #36274
Another report in 3510459-zen

[2020-11-29 20:12] kriskarkoski opened #47844 "Settings: Cannot add values to "Disallowed comments""
Possibly related to #47840

#### Steps to reproduce

1. Starting at URL: https://wordpress.com/settings/discussion/example.wordpress.com
2. Add term(s) to "Disallowed comments"
3. See success message
4. Refresh and the terms have been removed

This issue is also present with the synced field Comment Blocklist in WP Admin. If an existing list is edited it is also lost with no way to recover the ter

[2020-11-29 20:59] KristinaKay commented on #47844
Just coming to create a Bug Report for this! Thanks @kriskarkoski

Here is another case: #3526322-zen

[2020-11-29 21:49] xpurichan opened #47845 "Billing: Extra charges for upgrading a website with a multi-year renewal"
#### Steps to reproduce

1. Starting with a free website upgrade to the Premium plan during the website creation process, or at https://wordpress.com/plans
2. Visit https://wordpress.com/me/purchases and click on your new plan, then use the "Renew Now" button to renew it for an extra year. You now have two years of the Premium plan upgrade.
3. Visit https://wordpress.com/plans and upgrade from the

[2020-11-29 22:08] ramonjd opened #47846 "WP Editor Icon Drawer UI: Text Style Guide #3"
Originally created by @inaikem

Via `p7DVsv-9Ny-p2` (thanks @jordesign!)

We talk about the A8c in-house style being based on [CMOS](https://www.chicagomanualofstyle.org/home.html) with Americanised spelling courtesy of MW but there's still a fair amount of inconsistency with text and labels across Calypso.

Using the drawer menu above as an example:

View Pages = Headline style
Recent Pages = Hea

[2020-11-29 22:09] ramonjd opened #47847 "Nav: WP Editor Icon Behaviour Inconsistency #1"
Originally created by @inaikem

Via `p7DVsv-9Ny-p2` (thanks @jordesign!)

As far as I can tell, the Calypso Editor is the only page/view where the behaviour and appearance of the WP icon changes. It makes for a confusing inconsistency for folks coming from, or who have a preference for working in WP Admin.

If the WP icon (top left) in the editor must slide open a drawer menu, please add a dashboa

[2020-11-29 22:10] ramonjd opened #47848 "Nav: WP Editor Icon Drawer UI Spacing #2"
Originally created by @inaikem

Via `p7DVsv-9Ny-p2` (thanks @jordesign!)

Regarding the WP icon drawer menu, the "Recent Pages" heading visually drowns out the "View Pages" and "View Posts" links.

Please consider increasing the spacing here or add a clear separator between these two elements.

**Cc:** @simison and @jordesign
**Ref:**`p1606434973126800-slack-team-ganon`

[2020-11-29 22:11] ramonjd commented on #47848
![image](https://user-images.githubusercontent.com/6458278/100554876-fa1f7100-32eb-11eb-81fa-74126b7ac6fd.png)

[2020-11-29 22:11] ramonjd commented on #47846
![image](https://user-images.githubusercontent.com/6458278/100554887-13282200-32ec-11eb-83ba-6331bbc76f40.png)

[2020-11-29 22:50] #44315 closed

[2020-11-30 00:47] roo2 commented on #46656
@joanrho I've got a diff up to update these pages D52924-code

[2020-11-30 02:09] glendaviesnz commented on #46891
@mmtr from memory I think you have done a bit of work on videopress - do you have any thoughts on why WPcom always defaults to 4:3 aspect ratio but jetpack sites running video press default to 16:9?

I have tried setting `Display higher quality video by default.` in WPadmin for the sandboxed site, but that didn't make any difference, and havn't had much joy trying to the trace the code that is set

[2020-11-30 02:37] sandymcfadden opened #47855 "Gist embeds on posts don't display all indentation using Safari"
This a bit edge case but tested this on a couple different themes and it only seems to happen using Safari and when gists are embedded into posts. Pages work fine and other browsers work fine.

#### Steps to reproduce

1. Create a new post
2. Paste the URL of a Gist which has tabbed indentation in a new block to embed
3. Publish post
4. View post in Safari

Example Gist to use https://gist.github.

[2020-11-30 08:25] ramonjd opened #47857 "Allow users to add "Viewers" while in coming soon mode"
The Viewer role allows the assigned user to view an otherwise private site.

In Coming Soon v1, this worked in both private and coming soon modes since the two were essentially "private".

Seeing as Coming Soon v2 made the site public, users could no longer add or view their Viewers unless they switched to private mode.

Since D53164-code Viewers have permission to see the sites behind a coming so

[2020-11-30 09:19] mmtr commented on #46891
@glendaviesnz I don't know what causes the different behavior but likely is determined in the [videopress lib](https://github.com/Automattic/videopress):

https://github.com/Automattic/videopress/blob/master/lib/auto-resize.js
https://github.com/Automattic/videopress/blob/45c72f78ba088c47b89fcd2a0954b40a62dea6c8/lib/index.js#L27-L28

[2020-11-30 09:55] #47512 closed

[2020-11-30 09:55] #47540 closed

[2020-11-30 10:14] ciampo opened #47858 "Plans Grid: fix feature list items alignment"
## What

There are discrepancies between the feature lists items' layout of the free plan and the other plans

![image](https://user-images.githubusercontent.com/1083581/100596789-d87ab580-32fc-11eb-8668-bb7984c98829.png)

## Acceptance Criteria

- [ ] The svg icon and the text should be vertically centered/aligned
- [ ] When the text breaks the line, it should go below the icon
- [ ] Test the cha

[2020-11-30 10:18] ciampo opened #47859 "Focused Launch: plan cards should not be collapsed on mobile viewports"
## What

The plans grid in the plan details view shows most of the plans collapsed:

![Screenshot 2020-11-30 at 09 56 21](https://user-images.githubusercontent.com/1083581/100597139-59d24800-32fd-11eb-8521-265693ac7342.png)

According to the design, all plans should be expanded:

<img width="375" alt="375 - condensed" src="https://user-images.githubusercontent.com/1083581/100597356-a74eb500-32fd-1

[2020-11-30 12:32] #42479 closed

[2020-11-30 12:45] tyxla commented on #24180
#47860 reduxifies the plugin installation and removal actions.

[2020-11-30 12:49] #42483 closed

[2020-11-30 13:04] #42437 closed

[2020-11-30 13:12] ockham commented on #47608
@cathymcbride The issue that @fullofcaffeine linked to has some reports other blocks that have child blocks being affected.

https://github.com/Automattic/wp-calypso/issues/47579#issuecomment-730466388:

https://github.com/Automattic/wp-calypso/issues/47579#issuecomment-730487919:

(Highlights mine.)

[2020-11-30 13:56] #47241 closed

[2020-11-30 13:56] #47734 closed, assigned to razvanpapadopol

[2020-11-30 16:15] #42486 closed

[2020-11-30 17:01] fstath commented on #47844
Another report in the forums:
https://wordpress.com/forums/topic/empty-comment-blocklist/

[2020-11-30 17:12] xpurichan commented on #46700
Another report in 23406520-hc.

Just to confirm, if we try and change the feed setting number (defaults to 10) or the blog posts "Display x per page" (defaults to 10) options neither of them have an effect on this limit for the blog posts block.

[2020-11-30 17:41] glendaviesnz commented on #46890
@mmtr from memory I think you have done a bit of work on videopress - do you have any thoughts on why WPcom always defaults to 4:3 aspect ratio but jetpack sites running video press default to 16:9?

I have tried setting Display higher quality video by default. in WPadmin for the sandboxed site, but that didn't make any difference, and havn't had much joy trying to the trace the code that is setti

[2020-11-30 17:41] glendaviesnz commented on #46890
@glendaviesnz I don't know what causes the different behavior but likely is determined in the videopress lib:

https://github.com/Automattic/videopress/blob/master/lib/auto-resize.js
https://github.com/Automattic/videopress/blob/45c72f78ba088c47b89fcd2a0954b40a62dea6c8/lib/index.js#L27-L28

[2020-11-30 17:44] glendaviesnz commented on #46890
Thanks @mmtr ... was looking everywhere for the unminified code of of the videopress library so that github link should help to track down the issue 😄  .... in case you are wondering, I posted the initial question on the wrong issue by mistake, so have moved your response to the correct one.

[2020-11-30 19:18] martinremy opened #47875 "Reader Lists: Deleting a list doesn't remove the list from the sidebar until page refresh"
#### Steps to reproduce

1. Starting at URL: wordpress.com/read
2. Lists -> Create new list
3. Create a new empty list called 'Test List'
4. Click on settings gear for the list and delete it.
5. The list is still shown in the sidebar.
6. Force refresh the page, the list is gone from the sidebar.

Chrome 86.0.4240.198 (Official Build) (x86_64)

[2020-11-30 20:43] DavidRothstein opened #47877 "Add back information on plan term to the renewal date on the Manage Purchases page"
This is a followup to https://github.com/Automattic/wp-calypso/pull/47610, where we'll be losing the "Annual subscription" / "Monthly subscription" / etc. note that currently appears next to some purchases (plans only?) on the Manage Purchases page.

It would be good to add that back in some form, possibly inline as part of the information on the upcoming renewal date (as suggested at https://gith

[2020-11-30 20:49] katiebethbrown commented on #45586
Another report in 26008564-hc. I ran the importer for the user and was able to get it to successfully complete after a few tries.

[2020-11-30 23:08] fullofcaffeine opened #47881 "Gutenberg: 9.5.x Plugin Upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/47520

### Process

- [x] Install and activate
  - [x] Copy 9.4.1 to 9.5.0 (D53541-code)
  - [x] Install 9.5.0 on simple sites (D53649-code)
  - [x] Copy 9.5.0 to 9.5.1 (D53837-code)
  - [x] Install 9.5.1 on simple sites (D53956-code)
  - [x] Activate 9.5.1 on edge sites (D53544-code)
  - [x] Copy 9.5.1 to 9.5.2 (D54096-code)
  - [x

[2020-11-30 23:19] p-jackson opened #47883 "Onboarding: margin on the plan picker comparison table disappears on large displays"
#### Steps to reproduce

1. Open in-editor launch flow
2. Go to plan selection step
3. Make the browser window big

#### What I expected
The comparison table should be the same width as the other UI in this step

#### What happened instead
The margin on the comparison table disappears when the browser window is big.

#### Screenshot / Video
Ignore the arrows, just referring to the content highligh

[2020-11-30 23:56] p-jackson opened #47884 "Onboarding: some copy isn't appearing in the list of strings to be translated"
#### Steps to reproduce

- Switch to non-en and open in-editor launch flow
- Also take a look at https://translate.wordpress.org/projects/wp-plugins/full-site-editing/stable/fr/default/

#### What I expected
All copy translated :)

#### What happened instead
Copy like "Site launch steps" isn't translated
Also on translate.wordpress.org you see that even the English strings are missing

#### Screen

[2020-12-01 00:01] p-jackson opened #47885 "Onboarding: domain picker shows domain components in the wrong order in RTL locale"
#### Steps to reproduce

1. Starting at URL: `/new/he`
2. Advance to the domain picker
3. Search for anything

#### What I expected
- The domain search should be left aligned (this is how we display domains in input boxes, see `/me/account` and `/start/domains`)
- The search results should show the domain components in the correct order

#### What happened instead
- The domain search is right alig

[2020-12-01 00:05] p-jackson opened #47886 "Onboarding: site creation progress goes from right-to-left when locale is RTL"
The site creation progress bar in the new onboarding flow fills from right-to-left in `ar` and `he` locales.

![image](https://user-images.githubusercontent.com/1500769/100680048-9e311700-33d5-11eb-91ae-c9f49173fbfd.png)

Is this correct? It might be. This is a tracking issue to make sure we answer the question.

pbAok1-1II-p2#comment-3455

[2020-12-01 00:08] p-jackson commented on #47886
Pinging @dlind1 in the hopes that you'll know the answer, or know who will know the answer 😄

[2020-12-01 02:04] #47552 closed

[2020-12-01 05:35] ollierozdarz commented on #47831
Hey @razvanpapadopol, I might be totally misinterpreting this one, but it seems like we should just show the success screen in the _paid flow_ (selecting a domain or plan which is paid via the checkout screen) **after** the checkout screen, instead of before it. A user would only be live with their new plan/domain after they pay for it anyway.

**Suggestion:**
Free flow: Keep as is.
Paid flow: Mov

[2020-12-01 06:27] andrewserong commented on #47729
Update: this issue should now be resolved via D53403-code and #47856, which adds in a `launch-only` flow that is used in the launch banner on sites that have a custom domain and paid plan.

There might still be some sites in an inconsistent privacy / coming soon state from prior to these changes going live. However between the above code changes, and the launch of coming soon v2, I believe we will

[2020-12-01 06:27] #47729 closed, assigned to andrewserong

[2020-12-01 07:24] yashitamittal11 commented on #45758
Another one- #6886957-hc

[2020-12-01 09:10] hypest commented on #45513
👋

As far as I understand, the default can still be "Gutenberg" set via the Classic Editor plugin so, could the `classic_editor` value take that into account as well and only report "classic" when indeed the Classic editor is the default?

[2020-12-01 09:29] philnick206 commented on #46554
Had the same issue reported by a user on the Blogging for Beginners course + reproducable on my own test site as well.

[2020-12-01 11:10] tjcafferkey opened #47897 "Focus Launch: Should we launch with the free plan if user closes checkout modal?"
This question relates to the following scenario:

1. User selects paid domain
2. User selects paid plan
3. User clicks "Launch" to launch their site.
4. User is presented with the Checkout Modal overlaying their Success view. But they close the modal because they either did not want to pay, don't have their card details on them or [insert another reason here]

In this scenario we continue to launc

[2020-12-01 11:11] tjcafferkey commented on #47897
cc @ollierozdarz

[2020-12-01 11:21] tjcafferkey opened #47899 "Focus Launch: DomainPicker bad setState call console error"
#### Steps to reproduce

1. Create a site using `/new` and go to `/page/[UNLAUNCHED_START_SITE]/home` and open DevTools console
2. Click "Launch" to launch the Focus Launch modal.
3. Click "View all domains"
4. Observe error in the console like the screenshot below

![Screenshot 2020-12-01 at 11 20 41](https://user-images.githubusercontent.com/8639742/100734246-44c1eb80-33c7-11eb-96ab-b9174748afd4

[2020-12-01 11:24] tjcafferkey commented on #47899
@alshakero did some investigating into this issue and suspected it could be related to [this function](https://github.com/Automattic/wp-calypso/blob/trunk/packages/data-stores/src/domain-suggestions/resolvers.ts#L50-L83)

@alshakero is there anything worth mentioning here that you discovered?

[2020-12-01 11:36] sirreal commented on #47820
I think the research is done with D53453-code 🙂  Nice 👍

[2020-12-01 11:36] #47820 closed, assigned to fullofcaffeine

[2020-12-01 11:36] sirreal commented on #47821
D53453-code

[2020-12-01 11:36] sirreal commented on #47822
D53453-code

[2020-12-01 11:47] niranjan-uma-shankar opened #47900 "Launch flow: Flashes a brief error when checking out a plan"
**Steps to repro**

1. Create a site via Gutenberg onboarding
2. Click on launch from the editor
3. Add a paid plan to cart, and click on the launch button.

**What I expected**

To be taken to checkout without errors

**What happened**

A brief error was flashed before being shown the checkout

![lf](https://user-images.githubusercontent.com/1269602/100736931-794e9b00-33f9-11eb-9de5-680552ccb9f6.

[2020-12-01 11:53] niranjan-uma-shankar commented on #47900
cc @Automattic/luna for triaging.

[2020-12-01 12:03] galakhyati commented on #40792
Another report: 3529520-zen

[2020-12-01 13:07] #24218 closed

[2020-12-01 13:21] tyxla commented on #24180
#47902 does some old cleanup and #47908 reduxifies the `removePluginUpdateInfo` action.

[2020-12-01 13:40] #47740 closed, assigned to StefanNieuwenhuis

[2020-12-01 13:48] alshakero opened #47910 "Error text is clipped when the signup link is expired"
Text is clipped when you visit an expired sign-up link.

Issue reported by @guarani.

#### Steps to reproduce

1. visit https://wordpress.com/wp-login.php?magic-login=expired

#### What I expected

Text should be pushed down.

#### What happened instead

Text is clipped.

#### Browser / OS version

Mobile WP.com

#### Screenshot / Video
<img width="300" src="https://user-images.githubusercontent.c

[2020-12-01 14:00] tyxla commented on #24180
https://github.com/Automattic/wp-calypso/pull/47911 removes an unnecessary flux action.

[2020-12-01 14:21] #42434 closed

[2020-12-01 14:21] #42480 closed

[2020-12-01 14:35] cpapazoglou commented on #47045
It seems both `nav-unification` and `color-schemes` are aiming for the 9.3 release.
As a reminder Code Freeze is on 2021-01-04, since most of us will be AFK during Christmas we should have completed all necessary works till **Dec 18** !

Let's do it!

[2020-12-01 14:35] #47045 closed

[2020-12-01 15:11] tyxla commented on #24180
https://github.com/Automattic/wp-calypso/pull/47915 reduxifies site plugin fetching.

[2020-12-01 15:26] ciampo commented on #47900
Looks like a duplicate of #47150 — closing this issue in favor of the original one.

Feel free to re-open in case it's actually not a duplicate :)

[2020-12-01 15:27] #47900 closed, assigned to nobody

[2020-12-01 15:29] StefanNieuwenhuis commented on #47789
@razvanpapadopol Can you please provide more details on how to reproduce this behavior?

[2020-12-01 15:33] pauljacobson opened #47916 "Sharing buttons: More sharing button unresponsive, and doesn't reveal hidden sharing buttons"
Our user has sharing buttons enabled through the options in _Tools_ > _Marketing_ > _Sharing Buttons_ in their WordPress.com dashboard. They have configured the buttons on this particular site as follows:

<img width="720" alt="Markup 2020-12-01 at 15 29 22" src="https://user-images.githubusercontent.com/2912202/100760641-a485ba00-33fa-11eb-8ec0-58bfc67ce04a.png">

Unlike their other site, the _Mo

[2020-12-01 16:03] nsakaimbo commented on #47758
This is a good catch, @davipontesblog. Agree with @designsimply's proposal to exclude the fullscreen mode toggle from the Desktop editor going forward.

[2020-12-01 16:14] khristiansnyder commented on #47844
Another case in #3530164-zen and I can confirm on my test site as well that I cannot save any comment moderation blocklists in Calypso or WP-Admin.

[2020-12-01 16:15] tyxla commented on #24180
I've also opened #47920 as the first PR to start untangling the `PluginsLog` usages in favor of their Redux counterpart. This PR handles the `PluginActivateToggle`'s logic for determining whether the action is in progress.

[2020-12-01 16:19] alshakero commented on #47910
Fix is in D53579-code

[2020-12-01 16:21] WunderBart commented on #46776
Should the collection be disabled for both Simple and Atomic sites?

Edit: Simple.

[2020-12-01 16:26] tyxla commented on #24180
Similarly to the last PR, #47921 handles the`PluginAutoUpdateToggle`'s logic for determining whether the action is in progress.

[2020-12-01 16:43] nsakaimbo commented on #47718
Thanks for the report, @AtrumGeost! To clarify:

I'm not 100% clear what the issue is here (and the GIF is a little too fast to make out clearly). You're clicking "Create Account" but entering credentials for an _existing_ account with 2FA enabled (instead of signing in)?

Perhaps I'm missing something, but is this something we would expect a regular user to do? Seems like an edge case that's trig

[2020-12-01 16:48] nsakaimbo commented on #47756
Thanks for the report, @davipontesblog! The manual "Check for Updates" option was introduced in v6.1.0 of the app, so it makes sense that you wouldn't see it in v6.0.0. Backporting features to older versions isn't possible, and therefore we would consider this feature request has been addressed.

Regarding v6.0.0 specifically - there was a bug introduced that broke the auto-updater in that version

[2020-12-01 16:48] #47756 closed, assigned to nobody

[2020-12-01 16:54] AtrumGeost commented on #47718
Hi @nsakaimbo !

I apologize for the gif 😅  I recorded a video here:

https://d.pr/v/aYIP4b/ddrNtWkpX9

Basically, you'll notice:

- I try to log in with an existing WordPress.com account that has 2FA enabled, and I fail the verification on purpose
- Then I change my mind and don't want to log in anymore, but create a brand new account, so I click on the Create Account button and get a blank scree

[2020-12-01 17:06] nsakaimbo commented on #47720
At the moment a lot of features for AT sites simply don't "just work." Out of necessity, some AT features have to be accessed outside of the app. However I agree this is really jarring and I really like the idea of an "opens externally" icon to give users a better hint of expected behavior.

[2020-12-01 17:10] aleone89 opened #47923 ""Purchases" should be renamed "Plan" - Nav Unification [Alpha]"
#### Steps to reproduce

1. Starting at URL: My Site > Purchases.

#### What I expected

To see my purchases

#### What happened instead

I saw the plan that the site is on.

#### Browser / OS version

All.

#### Screenshot / Video

https://d.pr/i/btvHWc > Purchases in the sidebar should be renamed "Plan"

#### Context / Source

paYJgx-1b1-p2

[2020-12-01 17:18] nsakaimbo commented on #43739
All items addressed - closing.

[2020-12-01 17:18] #43739 closed

[2020-12-01 17:19] nsakaimbo commented on #43737
All items addressed, save for local dev server - closing and will track remaining work in separate issue.

[2020-12-01 17:19] #43737 closed

[2020-12-01 17:25] nsakaimbo opened #47924 "Improve "Redirect to External Browser" Flow When Classic Editor Plugin is Enabled"
If users have the Classic Editor plugin enabled, they are redirected out of the Desktop application to an external browser since Gutenberg was recently deprecated from Calypso.

This is unexpected from an end-user's perspective, and better messaging should be be provided to pre-empt this transition.

[2020-12-01 17:34] #19852 closed

[2020-12-01 17:49] nsakaimbo commented on #47927
Thanks for the update, @designsimply. I will go ahead and transfer this issue to the wp-calypso repo, so we can keep track of it there.

[2020-12-01 18:23] emilyaudela commented on #47884
Just wanted to note that we have the translations for all of these strings and they were appearing translated earlier last week, when the first reviewers reviewed the content (on November 23-25). It looks like they only started appearing in English the last few days starting on the 27th...

[2020-12-01 18:24] obenland commented on #47923
Hi @aleone89, thanks so much for your feedback!

The update from Plan to Purchases was requested by the payments team. Please see the menu structure spreadsheet linked to from pbAPfg-Ou-p2, that lays out the new format.

[2020-12-01 18:42] eoinsav commented on #45891
Another report of the Categories not loading in #24875817-hc

This user has almost 8,000 Post Categories.

[2020-12-01 18:43] emilyaudela commented on #47885
Can you also make sure this is resolved on the "Launch" screen after the site has been created? Also, please note some RTL issues in the domain screen here. It should be aligned in the same way as the gutenboarding flow in the screenshot above.

<img width="1360" alt="Screen Shot 2020-12-01 at 11 40 32 AM" src="https://user-images.githubusercontent.com/36699353/100782826-375a3080-33ca-11eb-9644-bd

[2020-12-01 18:43] david-szabo97 commented on #46326
1. Opened a PR that should fix the problem:

27408-gh-WordPress/gutenberg

2. And another one that should the issue mentioned by @yansern

27406-gh-WordPress/gutenberg

[2020-12-01 19:02] michaeldcain opened #47929 "Payment Methods: add PaymentMethodForm and feature flag"
See: #47516

- Create update/payment-methods feature flag (enabled in development)
- Create `PaymentMethodForm` component with current logic of `CreditCardForm` and add to `EditCreditCardDetails` component (using feature flag)

[2020-12-01 19:21] jeyip opened #47931 "Horizon Site Editor: Not Loading"
#### Steps to reproduce

1. Starting at URL: https://horizon.wordpress.com/new?flags=gutenboarding/site-editor
2. Step through the horizon flow and create a site editor enabled site
3. Select either theme
4. Verify that, when dropped into the site editor, content does not load

#### What I expected

Block editor content loads automatically in the site editor

#### Screenshot / Video
![image (1)](h

[2020-12-01 19:24] ianstewart commented on #47931
I can reproduce this outside of the horizon context by activating both a block based theme and the site editor via sticker from the command line as well.

1. Activate site editor via sticker from command line.
2. Activate site editor experiment via sticker from the command line.
3. Visit site editor, no content is loaded.

[2020-12-01 19:53] dlind1 commented on #47886
@p-jackson
I'm not a UX expert, but generally progress bars should fit with the rest of the content and having it fill from right to left for RTL UI looks correct to me. I've tested it by downloading a file in Firefox with Hebrew UI and the progress bar was RTL. [This guide](https://www.worldreadyguides.com/post/ux-best-practices-for-bi-directional-languages) also mentions that RTL progress bar is

[2020-12-01 20:07] cathymcbride commented on #47855
Interestingly, if you "view raw" and come back, the indentions fix themselves.

[2020-12-01 20:23] jordesign commented on #46971
I've closed #3464061-zen - we can notify the user in a fresh ticket if this is something that gets actioned.

[2020-12-01 20:39] cpapazoglou opened #47934 "Nav-Unification reported issues from users"
1. Calypso Screen of an Atomic Site / misses menu link images
![image](https://cln.sh/1GwaAN+)

2. I'm getting switched between Calypso, the new nav, WP Admin, and Calypsofied WP Admin when I try to get to stats.

3. Something going wrong with the interface (probably zoomed - in?)
![image](https://cln.sh/4CKzty+)

[2020-12-01 20:46] cathymcbride commented on #47843
That field is not to add the URl, it's to add an attribute like "noopener" or "noreferrer" (for security reasons I believe). So this is not a bug as such. However, perhaps we could either update the caption, add explanatory text and/or update the documentation. Updating the documentation is likely the best option at this point. Moving to the docs repo.

[2020-12-01 20:50] cathymcbride commented on #47837
Hi @AtrumGeost! In your repro steps, step #2 is to log in, but you expect to be prompted to log in when you like something? Should step #2 be log *out*? Also, is there anything in the console of interest?

[2020-12-01 20:59] eduardozulian opened #47935 "Editor: Publish button changes to Schedule if site is UCT+0"
It seems that whenever the site timezone is set to UTC+0, the **Publish** button automatically changes to **Schedule**. This is happening on both simple and AT sites.

#### Steps to reproduce

1. Start a new site
2. Once launched, go to Manage > Settings
3. Change the Site Timezone to UCT+0
4. Go to Site > Posts/Page and click to add a new one

#### What I expected
To see the regular **Publish** b

[2020-12-01 20:59] cathymcbride commented on #47768
I think this is the same as Automattic/jetpack#15473, as you point out @AtrumGeost. And it looks like, according to that bug, that the Android behavior is correct. I'm going to close this one in favor of that one, as it has someone assigned to it already.

[2020-12-01 20:59] #47768 closed, assigned to nobody

[2020-12-01 20:59] AtrumGeost commented on #47837
Hi @cathymcbride !

Correct. That's because people who have third-party cookies enabled think that if they are already logged in they'll be able to like a post. That step is to demonstrate that even if you are already logged into your WordPress.com account, you are not able to like a post.

On the other hand, if you are already logged out, you'll see the proper log-in window. But it won't allow me

[2020-12-01 21:04] cathymcbride commented on #47657
@anastas10s-afk can you add more specific repro steps to this? Where did you start to create the account?

[2020-12-01 21:05] cathymcbride commented on #47837
OK! Thank you!

[2020-12-01 21:06] #47885 closed, assigned to nobody

[2020-12-01 21:08] cathymcbride commented on #47659
Removing from the Manage board, and leaving on the create board so we don't duplicate effort on this one.

[2020-12-01 21:16] p-jackson commented on #47886
@dlind1 that guide makes sense. And I think if Firefox is showing progress rtl then I think that's a good hint that MacOS controls also go rtl. Thanks.

[2020-12-01 21:16] #47886 closed, assigned to nobody

[2020-12-01 21:21] ollierozdarz commented on #47897
Hey @tjcafferkey, thanks for checking!

^ This is the _right_ solution in my eyes. I don't think it would be a great experience to launch a users site with options they didn't select just because they cancelled/closed a flow.

[2020-12-01 21:36] scosgro opened #47938 "Schedule Appears Instead of Publish, Regardless of Publish Time"
#### Steps to reproduce

1. Create a new page.
2. Add some content to it.
3. Go to Publish, and it'll say Schedule, even if it isn't a Scheduled page.

#### What I expected
It used to say Publish, which makes sense, if it's not a scheduled post/page.

#### What happened instead
It says Schedule now, which is confusing.

#### Browser / OS version
All

#### Screenshot / Video
![image](https://user-i

[2020-12-01 21:39] #14470 closed

[2020-12-01 21:51] metabreakr opened #47939 "[Premium Content Block] Issues with multiple pricing plans"
When using the Premium Content block, and having multiple pricing/subscription plans, all Premium Content blocks default to the same plan.

#### Steps to reproduce

1. Create a new page/post
2. Connect to Stripe
3. Add a Premium Content block, and add a new pricing plan
4. Add another Premium Content block, with a different pricing plan
5. View the page/post in a private browser window
6. Subscrib

[2020-12-02 00:39] jeyip commented on #47931
It appears as if the correct template exists in the database. Logging information about the loaded template from `template-loader.php` returns post content that I'd expect. 🤔

[code]

[2020-12-02 02:45] yashitamittal11 commented on #47935
Another report - #26046414-hc

I am also seeing the same issue on my test site. The timezone is incorrect but I have never changed the timezone and the posts were publishing fine earlier.

[2020-12-02 04:01] #47490 closed

[2020-12-02 04:21] #45021 closed

[2020-12-02 04:32] #45610 closed

[2020-12-02 04:47] ramonjd commented on #44635
We have PCYsg-t0i-p2 🙇

It would be great to have a section on how to get source site patterns translated using `makepot/glotpress-import`

Or do they run in an async job now?

[2020-12-02 05:02] andrewserong commented on #44635
@ramonjd I'd drafted this based on @lsl's post in Ganon, but hadn't hit publish yet! (PCYsg-t0E-p2)
It still needs to have the parent page set correctly, I was having trouble using the parent page selector, so just need to update that.

As a separate task we'll need to create an async job to handle this, there was a card in Up Next, I've just moved it over to Up Next in Patterns. I'd love to work

[2020-12-02 06:27] #47483 closed

[2020-12-02 06:46] pauljacobson commented on #41606
I also just received a request for this in 3535998-zen

[2020-12-02 07:14] lsl commented on #47884
@yuliyan would you be able to take a look into this? Even if its just to educate me on where translations for ETK are coming from? These strings are translated on translate.wordpress.com but not present for translate.wordpress.org. Is this down to creating plugin releases perhaps?

[2020-12-02 07:45] tjcafferkey commented on #47897
Thanks @ollierozdarz  :) I will convert this into an actionable issue.

[2020-12-02 09:14] ramonjd commented on #44635
Oh, great! Thanks for the update.

All good. An async job sounds like it would save people a bunch of time. For now, so long as folks know how to get their patterns up and running and translated/re-translated is enough I reckon.

🙇 We can plan it in. It'd be a worthy feature

[2020-12-02 09:38] ramonjd commented on #47824
Some discussion here p1606774899214600-slack-CRWCHQGUB

[2020-12-02 09:39] tyxla commented on #24180
#47949 fixes a regression we introduced in #47860 (thanks @flootr for discovering it so quickly!).

[2020-12-02 10:24] mmtr commented on #47840
@kwight That Slack thread seems unrelated to the issue described here 😕

[2020-12-02 10:26] mmtr commented on #47840
Likely this is the right one: p1606498184081000-slack-C03TY6J1A. Updated the issue summary.

[2020-12-02 10:29] kavyagokul commented on #40349
Also reported in 26037932-hc

[2020-12-02 10:56] ockham commented on #47938
Upstream issue: https://github.com/WordPress/gutenberg/issues/27251

[2020-12-02 11:12] mmtr commented on #47840
This is a regression introduced by https://github.com/Automattic/jetpack/pull/17820, where the already deprecated `comment_whitelist` option was removed in favor of the new `comment_previously_approved ` option. cc @jeherve

Calypso still uses the `comment_whitelist` option: https://github.com/Automattic/wp-calypso/blob/e476e50a5159defecd1744d439ab86045248dba3/client/my-sites/site-settings/form-di

[2020-12-02 11:13] mmtr commented on #47844
This is a regression introduced by https://github.com/Automattic/jetpack/pull/17820, where the already deprecated `blacklist_keys` option was removed in favor of the new `disallowed_keys` option. cc @jeherve

Calypso still uses the `blacklist_keys` option: https://github.com/Automattic/wp-calypso/blob/e476e50a5159defecd1744d439ab86045248dba3/client/my-sites/site-settings/form-discussion.jsx#L535-L

[2020-12-02 11:31] mmtr commented on #47840
I think we need to add back the `comment_whitelist` option to the site endpoint, since WP.com still uses it (the migration to `comment_previously_approved` was intentionally left out of the core merge 5.5 in D47633-code).

[2020-12-02 11:32] mmtr commented on #47844
I think we need to add back the `blacklist_keys` option to the site endpoint, since WP.com still uses it (the migration to `disallowed_keys` was intentionally left out of the core merge 5.5 in D47633-code).

[2020-12-02 11:34] tyxla commented on #24180
#47951 introduces and implements a couple of 2 new selectors that allow for more concrete checks as to whether a site plugin's status for one or more actions is the specified one.

[2020-12-02 12:05] alshakero commented on #47910
Closing as fixed in D53579-code.

[2020-12-02 12:05] #47910 closed, assigned to alshakero

[2020-12-02 12:12] mmtr commented on #47840
~Fix ready for review: D53617-code.~

Just realized that we have some compatibility hacks in place that makes possible to use the new options as an alias of the legacy ones.

Due to that, I think it'd be better if we simply update Calypso to use the new names: https://github.com/Automattic/wp-calypso/pull/47954

[2020-12-02 12:12] mmtr commented on #47844
~Fix ready for review: D53617-code.~

Just realized that we have some compatibility hacks in place that makes possible to use the new options as an alias of the legacy ones.

Due to that, I think it'd be better if we simply update Calypso to use the new names: https://github.com/Automattic/wp-calypso/pull/47954

[2020-12-02 12:19] #42445 closed

[2020-12-02 12:32] #42456 closed

[2020-12-02 14:07] ccwalburn opened #47956 "Classic Block: Add Underline Icon to Toolbar"
Could we add an Underline icon to the toolbar for the Classic Block?

Users were used to it in our old editor and would like to see it back on the toolbar.

User request: 13593677-hc

[2020-12-02 14:23] cathymcbride commented on #47939
Removed from earn backlog since the view team is currently working on this.

[2020-12-02 14:27] yuliyan commented on #47884
@lsl, ETK translations are coming from translate.wordpress.org. Our internal i18n-deploy tool downloads the translations, builds language packs and commits them to WPcom i18n svn.

The problem with the missing translation seems to be that the originals for the mentioned strings have disappeared from https://translate.wordpress.org/projects/wp-plugins/full-site-editing/stable/. I found that this ha

[2020-12-02 14:49] #47840 closed, assigned to mmtr

[2020-12-02 15:07] ciampo opened #47962 "Focused Launch: slide-out animation when modal is dismissed"
## What

The Focused Launch modal should have an _out_ animation (i.e. fading out) when dismissed

## Why

This enhancement will refine the user experience and make it less jarring

## Acceptance Criteria

- [ ] When the Focused Launch modal is dismissed, it should close with a fade-out animation

Note: the modal can be dismissed in a few ways:
- By clicking the `X` button in the top right (when n

[2020-12-02 15:16] ciampo commented on #47962
Hey @ollierozdarz , feel free to make amends to this spec, in case anything is wrong / missing / not detailed enough!

[2020-12-02 15:24] Neibaf commented on #45586
I tried several times to import via desktop app or via wordpress.com and I still have the same error:

`It looks like we're unable to reach that website address at this time. (ID: 0b058c82-0d07-4cb1-911e-72e05aaade49)`

[2020-12-02 16:13] nsakaimbo opened #47965 "Reinstate Setup Checklist in the Desktop App"
To help stabilize accidental breakages, @Automattic/serenity added a simplified Home view just for WP-Desktop that doesn’t show any primary tasks (including the Site Setup List, which is considered a primary task). More context in pbAPfg-sx-p2.

The biggest roadblock to implementing this feature is ensuring that older Desktop clients aren’t broken by potential updates to the backend APIs that supp

[2020-12-02 16:23] yuliyan commented on #47884
I thought of another option - maybe we can exclude translation function names from terser's mangle options, e.g.:

[code]

Though, I'm not very experienced with terser and I'm not sure if it's ok to use it like that. @scinos, do you see any problem in that approach?

[2020-12-02 16:57] sirreal commented on #47520
Diff here for testing: D53653-code

[2020-12-02 17:05] ezebecke commented on #47935
Another report: #26058677-hc
We changed the timezone from New York to Chicago as a workaround to display the Publish button.

[2020-12-02 17:07] kwight opened #47967 "Anchor: Create a browser extension for the Anchor side of testing."
@davemart-in had an idea: since we want to start testing flows, but pieces aren't available yet on the Anchor side, we could create a browser extension that mocks the missing pieces for `anchor.fm`. This will allow us to verify we have everything we need on our side (param support, etc.) for the project.

We don't need high fidelity or all steps, just whatever banners or buttons that can allow us

[2020-12-02 17:27] alshakero commented on #47584
Interestingly, I'm getting the opposite problem

![image](https://user-images.githubusercontent.com/17054134/100908653-08c47e80-34cc-11eb-81e8-00d2be1c90b5.png)

[2020-12-02 17:42] #47939 closed, assigned to nobody

[2020-12-02 17:53] david-szabo97 commented on #46752
1.
It would be great to have a response from the REST API regarding the dotcom subdomain. The error message we get on the `typo` page would be ideal.

2.
Another option is to just do something like this:
![image](https://user-images.githubusercontent.com/2256104/100911078-0e6f9380-34cf-11eb-8872-5be0a21e436e.png)
If the search results doesn't include a dotcom domain then show something like this.

[2020-12-02 18:08] lakellie commented on #47935
Another report: #23088523-hc

[2020-12-02 18:22] #46335 closed

[2020-12-02 19:27] jeyip commented on #47931
Notes about what I researched yesterday:

It looks like, at the very least, when opening the site editor, post content for the front-page template has the correct markup. Here are the results from `wp-content/plugins/gutenberg-core/9.4.1/lib/template-loader.php`
when logging `$current_template`

[code]

[2020-12-02 19:37] alshakero commented on #47584
This seems to fixed in https://github.com/WordPress/gutenberg/pull/26762, released in GB 9.4.0. Took me a whole day to figure out because I couldn't reproduce locally.

@jeyip can you by any chance confirm this is no longer an issue in 9.4.0? I can't reproduce locally on (GB#master) but some confirmation would be super helpful.

[2020-12-02 20:03] jeyip commented on #47931
~I can reproduce a similar issue locally now.~

~1. Spin up a local instance of Gutenberg and the site editor (happy to elaborate on this if people are unsure of how to do this)~
~2. Select a block based theme~
~3. Navigate to the site editor~
~4. Verify that no content loads~

~Unsure if it's caused by the same problem as what we're seeing with the horizon flow bug. Investigating further.~

Never

[2020-12-02 20:19] kriskarkoski commented on #47916
@sgomes It looks like your fix for https://github.com/Automattic/wp-calypso/issues/47705 is not working. Can you check if this is the same cause as before?

[2020-12-02 20:23] wynwin commented on #47916
Another report here 25949754-hc

[2020-12-02 20:49] sirbrillig commented on #46624
This is further complicated by the fact that `useShoppingCart`'s functions add arrays of products to the cart all at once, rather than one-at-a-time as in old checkout. Previously when adding each product, we could say "should adding this product cause the cart to be cleared?" but if we wish to have that kind of logic now we'll have to reduce over all the products in the array and the order might

[2020-12-02 21:16] carladoria opened #47974 "HTML anchor disappears when the AMP settings are enabled in a post"
#### Steps to reproduce

1. On a simple site, go to a post and insert a Heading or a Paragraph block
2. Add an Anchor HTML tag
3. Save changes
4. Enable the AMP settings on the block to Automatically fit text to container
5. Refresh the post in the edit view or save/exit and enter the edit view again
6. On a Heading Block, the Anchor HTML tag is gone
7. On a paragraph block, the anchor HTML has br

[2020-12-02 21:45] jeyip commented on #47931
Initiating a `WP_Query` in the sandbox returns what appear to be the correct CPT block templates from twenty-twenty-one-blocks. They're also auto-drafted.

[code]

There's a `single`, `page`, `index`, and `front-page` block template, which matches the twenty twenty one block templates defined [here](https://github.com/WordPress/theme-experiments/tree/master/twentytwentyone-blocks/block-templates).

[2020-12-02 21:53] jffng commented on #47117
We recently pushed a [change to Maywood](https://github.com/Automattic/themes/pull/2879) that fixes a related issue (https://github.com/Automattic/themes/issues/2855).

I'm not certain this solves the issue you're reporting here, because the fix we merged was only specific to Maywood. But I can't recreate the issue you're reporting. I tested a few other Varia themes (Balsana and Leven) with that p

[2020-12-02 22:41] sirbrillig commented on #46624
I realized that if we do not consider the jetpack side of things, there's very little we need to import to get this behavior to work. I've implemented it inside the `shopping-cart` package in https://github.com/Automattic/wp-calypso/pull/47978

Also, as of recent changes, the missing jetpack logic is actually pretty simple. It says, "if you add a Jetpack plan to your cart, erase anything else that

[2020-12-02 22:50] sirbrillig commented on #46624
For reference, the check was added in https://github.com/Automattic/wp-calypso/pull/6029 and the [commit message](https://github.com/Automattic/wp-calypso/pull/6029/commits/680da15d221f7c487e2dad6ebac430b9c4f20652) ("Add a check to clear the cart if adding a jetpack plan - there should only be one jetpack plan in the cart at one time") seems to imply that it was added to prevent more than one plan

[2020-12-02 23:00] ccwalburn opened #47981 "Blog Posts Block: Paragraph font color doesn't match color from editor"
The paragraph font color for the Blog Posts block doesn't reflect the setting from the editor when published. I could recreate the issue on my Test AT site using the Wanderer theme.

I have not tested on simple sites or with other themes.

#### Steps to reproduce

1) Change theme to Wanderer
2) Change background color in the Customizer **Colors & Backgrounds** section to a custom color. I used #f5

[2020-12-02 23:07] sirbrillig commented on #46624
Ping @monsieur-z and @rcanepa since you seem to have worked on Jetpack plans in checkout recently. Do you know if this guard that clears the cart when adding a Jetpack plan is important?

https://github.com/Automattic/wp-calypso/blob/0a218d784c690619c4e6dfbc82a37b31e57a3305/client/lib/cart-values/cart-items.js#L159

[2020-12-03 00:07] kcswong commented on #43904
Just got another report of this from a user in 26017946-hc where they reported this behavior, but I observed that changing the Heading font changed the font for the whole site

[2020-12-03 01:03] bluefuton opened #47984 "Reader: intro banner is no longer shown to new users"
#### Steps to reproduce

1. Starting at URL: http://wordpress.com/start/reader
2. Sign up for a new account
3. Navigate to Reader at /read
4. Notice there is no intro banner displayed

#### What I expected

Intro banner displayed at the top of the Followed Sites stream.

#### What happened instead

Banner is missing.

This may be a regression related to the launch of voting banners recently.

####

[2020-12-03 01:11] inaikem commented on #47052
Coming back to this issue to update a customer and noticed the original interaction had not been noted: 3455274-zd

[2020-12-03 02:03] jeyip commented on #47931
More notes:

Since `WP_Query` for template and template parts seem to imply that the auto-drafted CPTS are being created correctly, I explored possible client side issues further.

- I noticed that, when inserting a template part block to the post editor in a site created by the horizon flow, clicking the "New Template Part" button causes a runtime exception.
- `Cannot read property 'id' of undefi

[2020-12-03 02:47] ghost commented on #47049
For pairing this modal with the sidebar design that's currently being tested, let's use static designs:
<img width="1440" alt="Desktop - Modal 4" src="https://user-images.githubusercontent.com/67021691/102101942-4218ba80-3df9-11eb-818f-6cfe71dbc99e.png">
<img width="1440" alt="Desktop - Modal 5" src="https://user-images.githubusercontent.com/67021691/102101948-4349e780-3df9-11eb-8aaf-b88efe2dcd6e.

[2020-12-03 05:19] ollierozdarz commented on #47962
Looks good to me @ciampo!

[2020-12-03 05:26] jeyip commented on #47931
Debugging more client side code in production shows that a few more methods exposed by `@wordpress/data` are returning undefined. I'm unsure why. To be more specific, the value returned from `getEntityRecord` from `packages/edit-site/src/components/editor/index.js:95`  is undefined 🤔

I'm going to start digging into `@wordpress/data`

[2020-12-03 05:29] KokkieH commented on #47844
@mmtr I checked the site of the user in https://wordpress.com/forums/topic/empty-comment-blocklist/, and their blocklist is still empty. Is there any way to recover the blocklist terms that were wiped out due to this?

[2020-12-03 06:33] razvanpapadopol opened #47988 "Launch button in editor: improve integration"
We should use Gutenberg APIs to insert the Launch button in the editor top bar.

Last time when we tried this, the ordering of buttons wasn't possible but since [we are already altering the order](https://github.com/Automattic/wp-calypso/blob/a669343f83369e6062273e009416d874c70a3aa1/apps%2Fediting-toolkit%2Fediting-toolkit-plugin%2Feditor-gutenboarding-launch%2Findex.ts#L160-L162), this shouldn't

[2020-12-03 06:36] yoavf commented on #45586
@Neibaf please [contact our support team](https://wordpress.com/help/contact/) and they'll be happy to assist you with this.

[2020-12-03 07:32] kaitohm opened #47989 "Video Block: Additional CSS classes automatically getting removed."
#### Steps to reproduce

1. On a Premium plan site, Start a new page and add a video block.
2. Select a video from your media or upload it. Publish and refresh the editor.
3. Select the video block and add a class on the advance field.
4. Click the Update button and refresh the editor.
5. Select the video block and go to the advanced field. The added CSS class is gone.

#### What happened instead

[2020-12-03 07:46] kaitohm opened #47991 "Encoding on some page titles broken when selecting a Parent Page"
#### Issue

there are some traces of code when selecting a parent page if the parent page title has some space before closing bracket ( `&nbsp;`  is visible ) or a dash symbol ( `&#8211;` is visible ). The issue occurs in Block Editor.

#### Steps to reproduce

1. Create pages with titles that include space before closing bracket `( A Space Before Closing Bracket )` and a dash symbol `Dash symbol

[2020-12-03 08:10] kaitohm opened #47992 "Sharing button disappears when Official Buttons is chosen on Chrome"
#### Steps to reproduce

1. Navigate to My-site > Tools > Marketing > Sharing Buttons
2. Use Edit Sharing button > Select the LinkedIn button
3. Select Button style - `Official Buttons`

#### What happened
LinkedIn button is missing from both settings screen and front-end

Settings screen:
<img width="860" alt="Screen Shot 2020-12-03 at 17 08 24" src="https://user-images.githubusercontent.com/4905

[2020-12-03 08:17] kaitohm commented on #47919
Just adding a note to the above: This was originally reported here... pbEMJv-mW-p2

[2020-12-03 08:30] yansern commented on #47162
Also bullets on plans grid.
![image](https://user-images.githubusercontent.com/1287077/100983845-8d59e000-3552-11eb-9675-1f31f5c739e1.png)

[2020-12-03 08:59] razvanpapadopol commented on #47544
Re-opening this because the non-default selected plan displayed as the second item of the Plan step in the Summary view isn't currently persisted. Mentioned in https://github.com/Automattic/wp-calypso/pull/47913#issuecomment-737728137

Will be fixed in #47913

[2020-12-03 09:36] scruffian commented on #47117
I think this happens when the frontend color pallettes load instead of the editor ones. I've had a look at the code and I can't work out why/when this happens. I hope that soon we'll be able to start using global styles instead of color pallettes.

[2020-12-03 10:01] david-szabo97 commented on #47695
Fix PR: 27461-gh-WordPress/gutenberg

[2020-12-03 10:25] StefanNieuwenhuis opened #47994 "Focused Launch: Refactor rendering logic for <FocusedLaunchSummaryItem/>"
#### What?
The [plans in the summary overview](https://github.com/Automattic/wp-calypso/blob/trunk/packages/launch/src/focused-launch/summary/index.tsx#L371-L446) are rendered separately. It's a good idea to refactor this to a more declarative solution.

#### Why?
The current solution obfuscates the code. It's not DRY and it complicates the code's maintainability.
When we simplify - i.e. make it D

[2020-12-03 10:31] sgomes commented on #47916
Thank you for pointing me to this, @kriskarkoski! This appears to be a separate issue, but possibly related to my work as well. Investigating.

[2020-12-03 10:40] sgomes commented on #47916
It appears that the More menu is opening, but in the wrong location (further up the page). Investigating.

[2020-12-03 10:53] simison commented on #47052
Gutenberg 9.3 with [potential fix](https://github.com/WordPress/gutenberg/pull/26397) is on WordPress.com already — is this still an issue? cc @Automattic/good-mountain

[2020-12-03 11:43] ciampo commented on #47402
Closing as duplicate of #47817

[2020-12-03 11:43] #47402 closed

[2020-12-03 11:53] Agepeuve commented on #35800
One more report in HC-26079990/zen-3540859

[2020-12-03 12:12] sgomes commented on #47916
The fix for the menu positioning issue is ready for review at D53698-code. That appears to be only part of the issue of what @pauljacobson was reporting, however, so it may not close this issue.

[2020-12-03 12:22] alshakero commented on #46895
Tested on a simple site and couldn't reproduce with and without a caption. I'll test on an atomic site. The site mentioned above is indeed atomic.

[2020-12-03 12:28] david-szabo97 commented on #47086
Proposed two PRs to fix this: https://github.com/Automattic/newspack-blocks/pull/640 https://github.com/Automattic/newspack-blocks/pull/641

[2020-12-03 12:39] alshakero commented on #46895
I couldn't reproduce on Atomic sites too. Dug deeper and found that this was fixed in D51950-code by @sixhours on the same day this issue was opened!

Closing as done.

Feel free to let the user know that this was fixed.

[2020-12-03 12:39] #46895 closed

[2020-12-03 12:44] ciampo opened #47997 "Focused Launch: animate appearance of Success view content"
## What

The UI elements in Success view should be revealed to the user with an animation

## Why

This will make the site launch experience more pleasurable, and reinforce the feeling of achievement in the user

## Acceptance Criteria

When the Success view is rendered:

- [ ] All content of the view is transparent
- [ ] The confetti animate in first (_fade-in and translate down_)
- [ ] The rest

[2020-12-03 13:14] sgomes commented on #42151
I can't seem to find anything related to "Print & PDF" or `printfriendly.com` anywhere in Jetpack or Calypso, and the option doesn't show up for me in any of my test sites. Is this perhaps added by a plugin?

[2020-12-03 13:24] ciampo opened #47998 "Focused Launch: Domain step in Summary view estimates wrong number of domain items while loading"
## What

- Open Focused Launch modal
- Change Site Title to something else and move focus away from site title input field
- Domain step starts updating the suggestions: while this happens, the number of items in the domain steps jumps from 3 to 4, then back to 3

![DomainStepItemsJump](https://user-images.githubusercontent.com/1083581/101023106-95297c80-3572-11eb-90e3-1bc9a645978b.gif)

## Why

T

[2020-12-03 13:26] sirreal commented on #47052
I tested and was able to view and search the parent page selector for the site mentioned. I'll close as I believe this has been fixed. Please reopen if there are more report.

[2020-12-03 13:30] sgomes commented on #42151
@pauljacobson: this service was probably manually added by the user via the "Add a new service" option in `wp-admin` -> Settings -> Sharing. The user will need to go in, remove the manually added service, and add it again with a `https://` URL.

I'm not sure which set of instructions they followed in the past, but it was probably something similar to https://en.calameo.com/read/001980118db38d0a5ee

[2020-12-03 14:00] sgomes commented on #42151
Closing issue, as it seems unrelated to our sharing code, as explained above.

[2020-12-03 14:00] #42151 closed

[2020-12-03 14:02] #47392 closed

[2020-12-03 14:05] monsieur-z commented on #46624
@sirbrillig, my guess is that it was added to prevent people from buying multiple Jetpack plans, since each plan includes pretty much all the features of the plan below.

[2020-12-03 14:11] rcanepa commented on #46624
What @monsieur-z said is correct. We didn't want to allow users to purchase more than one plan or a combination of a plan and products.

[2020-12-03 14:53] cathymcbride commented on #47355
Adding this to the janitor prioritized backlog b/c of the severity, but since we haven't seen further reports in 20 days, I'm hoping it's fixed or was transient.

[2020-12-03 15:34] tyxla commented on #24180
#47957, #47959 and #47960 reduxify the progress (AKA status) in other plugins components similar to #47951, #47964 does a cleanup to make untangling from the notices mixin easier, and #48000 reduxifies the mass removal of plugin notices.

[2020-12-03 15:43] alshakero commented on #46614
I investigated this and it seems to be a core issue. Namely, this [line](https://core.trac.wordpress.org/browser/tags/5.5/src/wp-includes/post-template.php#L344) is removing the first part of the post, because it considers it as a teaser. It makes sense to remove it in the presence of `noteaser` flag.

This `noteaser` flag is added by the "Hide the excerpt on the full content page" option in the M

[2020-12-03 15:45] tyxla commented on #24180
I've opened #48004 to help untangle any notices mixin usage from the `PluginsList` and `SinglePlugin` components, paving the way for converting the mixin to a component and refactoring `PluginsList` and `SinglePlugin` to `React.Component` instead of using `createReactClass`.

[2020-12-03 16:11] kwight commented on #46992
This should all be fixed now – see p58i-9Ls-p2

[2020-12-03 16:11] #46992 closed

[2020-12-03 16:42] jameskoster opened #48006 "Submenus sometimes persistent between pages"
This happens in a few different flows, but the most consistent one to replicate it seems to be clicking Posts, then Plugins. See the gif below:

![persistent-nav](https://user-images.githubusercontent.com/846565/101059635-66b59c80-3586-11eb-80de-aeeb2cd4103b.gif)

[2020-12-03 17:02] wpniall opened #48008 "Editor: HTML style tag not stripped on Premium plan or lower"
#### Steps to reproduce

##### Paragraph Block
1. Add a Paragraph Block
2. Select the "Edit as HTML" from the menu
3. Add style code after the opening `<p` tag, such as `style="font-style:italic;"`
4. Select "Update"
5. Reload the edit page once and the italicized Paragraph Block should be visible in the editor and on the frontend
6. Reload the edit page again and a `This block contains unexpected

[2020-12-03 17:33] shaunandrews opened #48009 "Some color schemes lead to container and contrast issues"
Some of the color schemes cause some contrast issues with (at least) the sidebar menu items:

<img width="268" alt="image" src="https://user-images.githubusercontent.com/191598/101065707-77a0e680-3563-11eb-9b4b-9ee0cdcb6b3d.png">

<img width="274" alt="image" src="https://user-images.githubusercontent.com/191598/101065737-825b7b80-3563-11eb-87d4-964969f9da5a.png">

<img width="273" alt="image" src

[2020-12-03 17:35] shaunandrews opened #48010 "Color schemes aren't sync'd between Calypso and wp-admin"
If, from Calypso, I set my color scheme to Modern and then visit a wp-admin screen (like, say, `/wp-admin/options-writing.php`) the color scheme is different.

[2020-12-03 18:00] sirbrillig commented on #46624
Cool. Thank you! I think that's probably best handled on the backend as it is for regular plans and other invalid purchase combinations. I can't link to it here, but `create_from_js_cart` does some of that. For wpcom plans, that's actually handled in the plan object itself by `modify_cart_after_adding_product`. Until we have Jetpack plans being added using this function it's hard for me to say if

[2020-12-03 18:01] #46624 closed

[2020-12-03 18:07] #47458 closed

[2020-12-03 18:07] #47743 closed, assigned to tjcafferkey, razvanpapadopol

[2020-12-03 19:10] michaeldcain opened #48011 "Payment Methods: add payment method "option" design"
Use new credit card "radio option" design (from Composite Checkout).

See: #47516

Note: this should include billing information fields (postal code and country)

[2020-12-03 19:12] michaeldcain opened #48012 "Payment Methods: list stored credit card methods"
List stored payment methods inside `PaymentMethodForm` component.

See: #47516

[2020-12-03 19:14] michaeldcain opened #48013 "Payment Methods: add logic to set stored card as payment method"
Hook up radio options in `PaymentMethodForm` to submit to conditionally submit to new endpoint (for stored card) or old endpoint (for new card). Update submit button based on selected radio option. Make sure CC validation is skipped if stored option is submitted.

See: #47516

[2020-12-03 20:10] simison commented on #47884
Somehow I remember doing tests long ago where the extractor could read mangled code just fine. How do __() calls in Jetpack bundles look like, for example?

[2020-12-03 20:46] noahtallen opened #48019 "Sidebar hover state triggers unexpectedly"
I'm basically noticing inconsistent hover states regarding "hover" submenus in the sidebar items. Sometimes, clicking through different pages, a hover menu will display on an item which I am not hovering. The hover menu is difficult to get rid of as well (see gif)

#### Steps to reproduce
This one is a bit tricky to reproduce, but if you switch between the "posts" and "pages" items several times,

[2020-12-03 21:00] cathymcbride commented on #47117
@davipontesblog can you still repro?

[2020-12-03 21:59] sdixon194 opened #48021 "Domain Cancellation: Domains Can't Be Removed from Calypso"
There are a few issues with cancelling domains in Calypso:

1 - When refunding a domain Automattic's back end and then going to cancel in Calypso, there's only an option to disable autorenew, and there’s no option to “remove domain," which actually cancels the domain.
2 - If autorenew is already disabled, I don't see an option to remove the domain at all.
3 - When I tried making a test purchase, I

[2020-12-03 22:02] p-jackson commented on #47884
@simison I believe the extractor has been written to deal with a few different ways the code can be mangled: `Object(y.__)("hello, world")` and `something["__"]("hello, world")` both work. It's only the fact that `__` can now be a local variable with `react-i18n` that it breaks. What's funny is that this is one of the advantages of React hooks, they can make the bundled code even smaller, it just

[2020-12-03 22:49] metabreakr opened #48023 "New post notification emails have a broken image for the site icon"
Observed using Gmail/Google Workplace email in particular, new post notification emails do not include the site icon, rather a broken image.

#### Steps to reproduce

1. Publish a new post on a simple site

2. Check out the email post notification in Gmail

#### What I expected

The site icon to appear on the email:

![aAClTr](https://user-images.githubusercontent.com/39252765/101097534-92cd1f80-3

[2020-12-03 22:55] DavidRothstein commented on #48021
These should all be fixed now following the revert of a change that was deployed earlier today (see https://github.com/Automattic/wp-calypso/pull/48022).

Although for this one:

I think that's partially expected; if there is no refund available, you are required to use "Cancel Domain" (to turn off auto-renew) first -- you are not given the option to remove the domain directly.  However, the bug m

[2020-12-03 22:55] #48021 closed, assigned to nobody

[2020-12-03 23:10] sirbrillig commented on #46624
I tested and can confirm that the backend already prevents adding multiple Jetpack plans. If you add two plans to the cart, the response will have only one.

However, I am able to add a Jetpack plan and a Jetpack product at the same time:

<img width="497" alt="Screen Shot 2020-12-03 at 6 08 47 PM" src="https://user-images.githubusercontent.com/2036909/101099455-a6828100-3592-11eb-8094-40a6671d43e

[2020-12-03 23:11] #47436 closed

[2020-12-03 23:45] timmyc opened #48026 "Store|Woo: Add Dashboard Message to Inform of Service Migration"
**Important** Place this behind the "store-pre-sunset" feature flag (implementation tbd)

This issue involves creation of a new Store dashboard banner to inform current users of the upcoming migration to using WooCommerce in wp-admin.

__Current Home Screen_
<img width="1326" alt="store-home-banner" src="https://user-images.githubusercontent.com/22080/101101824-9e6c1680-357d-11eb-8343-b0a6af927abd

[2020-12-03 23:46] lsl commented on #47884
I think this has been done already for something in the past, maybe i18n-calypso's translation function? I wonder if we need to do the same.

[2020-12-04 00:04] timmyc opened #48027 "Store|Woo: Add WooCommerce Menu Item for Business Plan/Store Users"
**Important** Place this behind the "store-pre-sunset" feature flag (implementation tbd)

Starting during the four week transition period for Store on WordPress.com users, a new menu item in the Calypso sidebar that allows users to access the WooCommerce interface on wp-admin will be added. This will allow users to easily access both the standard WooCommerce UI in wp-admin ( which they will be usi

[2020-12-04 00:33] gwensmithx commented on #47935
Another report: #26088576-hc

[2020-12-04 01:17] timmyc opened #48029 "Store|Woo: Rework "Dashboard" to just have a notice about the move to WooCommerce"
**Important** Place this behind the "store-post-sunset" feature flag (implementation tbd)

Was:  ~Store|Woo: Replace all `/store/*` routes with one landing page~

_Edit by @becdetat: making this just about the dashboard page, moving route changes to separate issues as this issue's scope had changed a bit over time, and the route changes can be implemented in parallel._

This part of the project wi

[2020-12-04 01:24] formosattic commented on #12012
Was also tracked on pKdGS-12Z-p2

[2020-12-04 01:31] glendaviesnz commented on #46890
@mmtr, in case you are interested it turned out to be a minor rounding difference between videos on wpcom which round to 1.77 and those on jetpack videopress sites which round to 1.78 ... only the 1.78 ones were being classed as HD in the jetpack videopress block - https://github.com/Automattic/jetpack/pull/17969

[2020-12-04 02:01] #47233 closed

[2020-12-04 06:18] razvanpapadopol commented on #47998
Yes, I can confirm this was introduced with the [persistent domain](https://github.com/Automattic/wp-calypso/pull/47633) work. We should follow the pattern used for persistent selected plan and start always by showing the minimum number of items and, once loading is complete, only if the selected item is not found in the list, we add it.

[2020-12-04 06:24] lsl opened #48033 "Support contact urls need better localization support"
The `https://wordpress.com/help/contact` url will behave differently based on whether you're logged in or logged out.

Logged in it will route to a calypso endpoint and display support contact options.

Logged out it will redirect to `https://wordpress.com/support/contact`

While logged in, the `/help/contact` url will behave correctly in a non english setting displaying a translated version of th

[2020-12-04 06:27] razvanpapadopol opened #48034 "Focused Launch: sub-domain is not selectable if a domain product is in cart"
### What
- Create a site by selecting a domain and a plan but abandon the checkout. Cart should still have your selected items.
  - As an alternative, you can add a domain to the Cart for your existing un-launched site from `https://wordpress.com/domains/manage/[SITE_SLUG]`
- Open Focused Launch modal inside editor
- Try to pick another paid domain and it should work fine.
- Try to pick the subdom

[2020-12-04 07:16] razvanpapadopol commented on #47897
@tjcafferkey Now I see we already have a similar issue to fix the UX for the paid flow: https://github.com/Automattic/wp-calypso/issues/47831
Feel free to close that one or update it with the insights from here and from [Ollie's answer](https://github.com/Automattic/wp-calypso/issues/47831#issuecomment-736231749).

See also: p1606904152263600-slack-C0KDTA48Y
Highlights from that thread:

If we wan

[2020-12-04 07:34] rinazrina commented on #28957
I got a similar report with Aquene theme in #3543602-zen

[2020-12-04 07:48] #48034 closed, assigned to razvanpapadopol

[2020-12-04 07:50] #47544 closed

[2020-12-04 08:32] razvanpapadopol commented on #47542
While it's fine to add extra support when rendering Focused Launch inside the Calypso iframe, we should make sure it won't break when [rendered in wp-admin](https://github.com/Automattic/wp-calypso/issues/47803#issue-751669864).

[ Integration between premium blocks upgrade and Editor Checkout modal](https://github.com/Automattic/jetpack/blob/master/extensions/shared/use-upgrade-flow/index.js#L51-

[2020-12-04 08:32] scottsweb opened #48037 "Navigation fails with simple site using a redirect"
#### Steps to reproduce

1. Create a simple site and then purchase the [redirect upgrade](https://wordpress.com/support/site-redirect/)
2. Visit WordPress.com
3. Use the navigation on the left to view stats/plans etc
4. You unable to view any tools

#### What I expected

Navigation should not use the redirect URL and I should be able to view items like plans and even stats for the domain.

#### Wh

[2020-12-04 08:35] simison commented on #47884
Gotcha, thanks for explaining @p-jackson. Let's treat this as a priority so that it doesn't block AB testing.

[2020-12-04 08:36] scottsweb opened #48038 "Navigation cut short on sites with few posts"
#### Steps to reproduce

1. Create a new simple site with few posts
2. Make sure you are working on a large screen
3. View the posts section on WordPress.com
4. Notice that the navigation is incomplete

#### What I expected

To be able to see all navigation items

#### What happened instead

![Screenshot 2020-12-04 at 09 34 09](https://user-images.githubusercontent.com/411945/101141101-1a18a280-36

[2020-12-04 08:43] scottsweb opened #48039 "Navigation in wp-admin is not styled correctly"
#### Steps to reproduce

(uncertain)

1. Enable the navigation unification test
2. I swapped to a darker theme as the navigation looked odd with the [default colour scheme](https://github.com/Automattic/wp-calypso/issues/48010)
3. When click links to WP Admin, I appear to have a Calypsoify(ish) theme

#### What I expected

For the navigation and theme to remain consistent

#### What happened inste

[2020-12-04 08:48] scottsweb opened #48040 "Navigation: Jetpack Scan should not be a feature of simple sites"
#### Steps to reproduce

1. Create a WordPress.com simple site
2. Visit WordPress.com
3. Browse to Jetpack -> **Scan**
4. Get a 404

#### What I expected

Scanning and security are part of WordPress.com by default, we do not need this menu item.

#### What happened instead

A 404.

#### Browser / OS version

Chrome 87 / OSX 10.15.7

#### Screenshot / Video

![Screenshot 2020-12-04 at 09 45 24](htt

[2020-12-04 08:59] #47998 closed, assigned to nobody

[2020-12-04 09:30] tyxla commented on #42449
Grabbing this one.

[2020-12-04 09:41] david-szabo97 commented on #47938
Duplicate https://github.com/Automattic/wp-calypso/issues/47935

[2020-12-04 09:43] keoshi commented on #26054
This has been fixed since.

[2020-12-04 09:43] #26054 closed

[2020-12-04 09:44] keoshi commented on #27094
This is pretty stale at this point, closing the issue.

[2020-12-04 09:44] #27094 closed

[2020-12-04 09:44] yuliyan commented on #47884
Ideally, we'd be extracting the strings from the source files, and not the compiled files, which would make it less dependant on the build tools we use and give better source references in GP. However, it looks like [Peast doesn't plan on adding TypeScript support for now](https://github.com/mck89/peast/issues/28#issuecomment-703095990), so unless `wp i18n` command shifts away from Peast, I don't

[2020-12-04 09:47] simison commented on #47884
FYI @Automattic/team-calypso this thread might interest you.

[2020-12-04 09:47] keoshi commented on #27314
This is pretty stale at this point, closing the issue.

[2020-12-04 09:47] #27314 closed

[2020-12-04 09:54] tyxla commented on #42449
#48043

[2020-12-04 09:56] keoshi commented on #37440
This has been fixed since, closing the issue.

[2020-12-04 09:56] #37440 closed

[2020-12-04 10:12] ciampo opened #48044 "Focused Launch: plan from cart is not pre-selected when cart contains also a domain"
## What

If the user opens the Focused Launch flow for the first time with both a domain and a plan in the cart, the Summary view only shows the domain from the cart as preselected, while the plan from the cart is not shown as preselected.

By "forcing" the Summary view to re-render the plans (by navigating to the Plan details and back), the pre-selected plan from the cart becomes selected

![Doma

[2020-12-04 10:15] liviopv commented on #42499
@ramonjd I made some testings and found out that the old version of the Button Block is present on some themes starter content, like Exford. While it still keeps the alignment while Exform is active, the alignment breaks as soon as the user switches themes.

Reported the issue in Exford here: https://github.com/Automattic/themes/issues/2888

[2020-12-04 10:22] rezzap opened #48045 "Followers: Unable to remove email followers"
#### Steps to reproduce

1. Starting at URL: WordPress.com go to My Site > Manage > People and select the email followers list
2. Click the 'Remove X' button to try and remove an email follower.
3. The pop up button shows up and requires confirmation. Click to confirm.
4. The email subscriber is still listed and the list does not refresh.

#### What I expected

That by clicking on the confirmation

[2020-12-04 10:26] pmcpinto commented on #48026
Sounds good. @elizaan36 let's chat about how to structure the content banner in our next 1.1

[2020-12-04 10:30] pmcpinto commented on #48027
Yep, that would be great.

So during the transition, we'd have the Store menu item and the Woo menu item, correct? I'm wondering if it makes sense to add something else to the Store menu item to inform that it will be deprecated. Eg: Store (will be removed on Feb xx). We need to consider the fact that not all the Store users are going to visit the store interface during those 4 weeks. Thoughts?

[2020-12-04 10:33] pmcpinto commented on #48029
@timmyc but that would mean that they won't be able to access the Store features during the transition period, correct? Or maybe I'm missing something here.

[2020-12-04 10:56] jsnajdr commented on #47884
I agree that preventing mangling of `__` and friends is the most viable solution. The right config option for Terser seems to be:
[code]
We want to prevent mangling local variables initialized with `useI18n`, right? `mangle.properties` doesn't seem to be relevant here. I'm not even sure how `mangle.properties` is supposed to work without breaking the app -- maybe it's mangling only properties of o

[2020-12-04 10:57] tjcafferkey opened #48047 "Focused Launch: Highlighting logic when user has items in cart"
To avoid confusion when I mention the term highlighting below I mean the step has had its opacity removed and it's "enabled". Not to be confused with highlighting (applying a border) a selected / focused option within the step.

**What**
If the user enters the Focused Launch flow with an item in their cart which will be used to preselect an item in the Focused Launch summary view then we will remo

[2020-12-04 11:04] tjcafferkey opened #48048 "Focused Launch: Programmatically highlight steps"
The current logic to highlight the correct steps [depends on us knowing the order of those steps](https://github.com/Automattic/wp-calypso/blob/trunk/packages/launch/src/focused-launch/summary/index.tsx#L593) up front. Meaning if we change the order of the steps, the highlighting will break unless we update this too.

We should approach this programmatically so that the highlighting logic will not

[2020-12-04 11:05] mmtr commented on #47844
@KokkieH I took a look and couldn't identify yet why their blocklist is empty. The issue here was preventing to make changes to the blocklist terms, but it shouldn't have removed them. They reported the issue shortly after the legacy options were removed from the site API endpoints (r217404-wpcom, r217406-wpcom) but I don't see the relation yet.

@jeherve do you have any idea of what happened?

I'

[2020-12-04 11:17] #42462 closed

[2020-12-04 11:59] ockham commented on #47938
Thanks! I'll close this one.

[2020-12-04 11:59] #47938 closed, assigned to nobody

[2020-12-04 11:59] ockham commented on #47935
Upstream issue: https://github.com/WordPress/gutenberg/issues/27251

[2020-12-04 12:33] mmtr commented on #47844
Unfortunately I didn't find any log where we can check blog options changes. Do HEs use any tool for debugging them?

[2020-12-04 12:45] mmtr commented on #47844
Alright, just found the issue. I only focused on the blocklist management from Calypso, which has the issue I mentioned above (users couldn't change them) and was fixed by #47954.

However, the blocklist terms can be managed in WP Admin as well, and the issue is different there: any change ends up with the list of terms completely removed. I think this needs coordination with the systems team give

[2020-12-04 13:05] mmtr commented on #47844
p94tqY-nv-p2

[2020-12-04 13:37] ivan-ottinger commented on #38847
The issue came up here: 26107513-hc. I could also reproduce it on a test site.

[2020-12-04 13:53] KokkieH commented on #47844
Thanks for digging into it :)

[2020-12-04 14:30] mmtr commented on #47844
I prepared a fix for the WP Admin side in D53769-code. Unfortunately it won't recover the lost data, it will only prevent the issue from happening again.

Let's see if systems can come up with a way of restoring it.

[2020-12-04 14:39] tyxla commented on #24180
#48053 reduxifies `PluginStore.getNotInstalledSites()`.

[2020-12-04 15:51] metabreakr opened #48055 "[Embed Block] YouTube private videos show as cut-off in the editor when embedding"
#### Steps to reproduce

1. Add a new YouTube block
2. Paste a link to a private YouTube video. For example: https://youtu.be/nkiDmcROytg

#### What I expected

To see a full-sized video placeholder (understanding that private videos do not show thumbnails), such as:

<img width="598" alt="Screen Shot on 2020-12-04 at 08-46-30" src="https://user-images.githubusercontent.com/39252765/101183985-6876

[2020-12-04 16:19] samiff commented on #47935
Another report: 23352618-hc

[2020-12-04 16:26] timmyc commented on #48029
@pmcpinto this piece of the work is what would effectively turn off the Store on WPCOM UI, so we wouldn't push this change live until after the sunset date.

#48026 & #48027 would be how the store UI would look during the sunset period:

- Store menu item which opens Store on WPCOM UI
- WooCommerce menu item which opens in wp-admin
- Banner on dashboard in store UI which informs them of the sunset

[2020-12-04 16:27] timmyc commented on #48027
Correct. I'm thinking by having the new menu item show up as WooCommerce will align quite nicely with the further menu/nav changes coming on WPCOM... with that the eventual way the menu item will appear in calypso for these users will be "WooCommerce" since it is based off the menu registration that happens in wp-admin.

[2020-12-04 16:28] timmyc commented on #48026
🎉 - so we will probably need two sets of design + copy for this notice:

- The version that will be shown as part of this issue, during the sunset period.
- And another that is shown after the sunset has happened.

[2020-12-04 18:13] cathymcbride commented on #47844
@mmtr since this issue is fixed, and recovering the lost data is a separate task, can we keep this closed and log a new issue for systems to restore it?

[2020-12-04 19:43] obenland commented on #48010
WIP in D52376-code

[2020-12-04 19:51] obenland commented on #48039
These are Calypsoify styles, Manage is currently working on disabling those ahead of launching nav unification.

I don't feel super comfortable closing this ticket, particularly after all the effort you went through reporting this, but there's really nothing we can do about it until the below ticket was fixed. Thank you Scott!

See 44-gh-Automattic/dotcom-manage.

[2020-12-04 19:51] #48039 closed, assigned to nobody

[2020-12-04 19:53] cathymcbride commented on #47584
I'm not seeing it in GB 9.4.1. Closing....

[2020-12-04 19:53] #47584 closed

[2020-12-04 20:00] cathymcbride commented on #48055
@jonnyruzek I'm not reproing. Is this simple? Atomic? Is it on a particular browser?

[2020-12-04 20:23] cathymcbride commented on #47546
OK - based on 👆 this being a dupe of #41272, I'm going to close this bug...but I am going to copy ramonjd's workaround recommendation for ease of finding.

"In which case, we'd recommended that the user toggle between public and coming soon mode, which should migrate them to coming soon mode 2 (public not-indexable)."

[2020-12-04 20:23] #47546 closed

[2020-12-04 20:29] NoHopeRadio commented on #47935
Another report: 25254106-hc (follow-up ticket: 3545342-zd)

[2020-12-04 20:32] JoshuaGoode commented on #48045
We received an internal Atomic Request for this one as well at p9F6qB-6eO-p2

It appears the API call is incorrect.

When the  `Remove` button is clicked, it generates a POST like the following example but nothing happens.

`https://public-api.wordpress.com/rest/v1.1/sites/$site/followers/$user/delete?http_envelope=1`

Doing this in the API console returns the following 404:

Looks like this shoul

[2020-12-04 20:43] JoshuaGoode commented on #48045
Related to https://github.com/Automattic/wp-calypso/pull/47451 ?

cc: @flootr @tyxla

[2020-12-04 20:57] josephscott commented on #47659
@daledupreez I believe you are correct.  I watched the video very closely and it looks like it is Chrome in an Incognito window.  If that is the case, then they could have the Incognito "Block third-party cookies" toggle enabled, in which case third-party cookies won't work.  That means remote login on WordPress.com won't work.

[2020-12-04 21:57] sirbrillig commented on #41538
As of https://github.com/Automattic/wp-calypso/pull/47943 and D53596-code we are now displaying the full message from the server to the customer. The message could still be improved and made more specific, but at least this is better than before.

[2020-12-04 22:07] metabreakr commented on #48055
@cathymcbride It's an AT site. @philnick206 might be able to provide more details — I opened the issue on his behalf.

[2020-12-04 22:36] nerdysandy commented on #48045
Reported on #26118884-hc Josh fixed it manually for now.

[2020-12-04 22:57] JoshuaGoode commented on #48045
I used the API to remove some followers when the user really wanted it done.  I forgot about our internal subscriptions admin tool, though, which would be far faster and easier.

Dropped an internal note on p1607122767268000-slack-C029GN3KD

[2020-12-05 02:56] arunsathiya opened #48070 "Comments: Invalid links in comments breaks Calypso"
#### Steps to reproduce

1. Make a comment on a WordPress.com website with an invalid link, preferably one with spaces. Example: `http://hey this is a test`
2. Visit the site's comments section on Calypso

#### What I expected

Calypso loads fine, like wp-admin comments section does.

#### What happened instead

Calypso shows a white screen. Console logs show the invalid link to be the case:

[cod

[2020-12-05 06:41] formosattic commented on #48045
+1 3546774-zen, thanks for the tip @JoshuaGoode!
+1 3546808-zen

[2020-12-05 15:52] davipontesblog commented on #47117
@cathymcbride I can't, I tried creating a new site and picking a Varia theme, and then changing color palettes in the Customizer to see if it would happen, but it didn't. I know this one is a weird one though as in how it happens _sometimes only_. I will continue to keep an eye. @annezazu you experience this with your testing of WordPress.com the other day, do you still have the blog address so we

[2020-12-05 20:06] serabi commented on #47247
Reported again in 26135151-HC

With the Layout Grid plugin activated, the user's home page elements overlap on Chrome, directly below their cover block:

<img width="1886" alt="Screen Shot 2020-12-05 at 3 06 22 PM" src="https://user-images.githubusercontent.com/30205248/101262281-727e9b80-370b-11eb-8006-822bca0da80e.png">

User is running the Stratford theme.

[2020-12-06 09:54] liviopv commented on #47935
I wasn't able to reproduce it another site, but the user on #3547540-zen was also getting a `"The editor encountered an unexpected error"` when they tried to schedule a post.

Here's the error log:

[code]

Switching the site's timezone fixed the issue.

[2020-12-06 13:37] jenlynnemc commented on #48045
Related #26140684-hc
I removed the 1 follower the user wanted removed manually.

[2020-12-06 14:24] Nic-Sevic opened #48072 "Editor: Embed block shows only link in public page"
#### Steps to reproduce

Duplicate, once with AT (Business) site and once with Prem site<br>can see on [https://aacm2345.blog/2020/12/06/embed-test/](<https://aacm2345.blog/2020/12/06/embed-test/>)

1. Starting with URL to embed: [https://www.joemygod.com/2020/12/cultist-hurls-homophobic-slurs-at-lockdown-protest/](<https://www.joemygod.com/2020/12/cultist-hurls-homophobic-slurs-at-lockdown-protes

[2020-12-06 15:31] ccwalburn commented on #47935
Another report here: 3546893-zen

[2020-12-06 15:34] philnick206 commented on #47643
Reported in #3529426-zen

[2020-12-06 19:02] isocialtish commented on #41606
Another request for multiple plans for the Premium Content block 26151350-hc

[2020-12-06 19:26] happychait commented on #32928
In  #11371224-hc a customer reported that links within their Canva embed are working on desktops, but not on mobiles.

I tested and found that's the case with their embed: https://www.canva.com/design/DAENPzuSn5s/view

The embed itself works, but not the links added to the Canva embed.

[2020-12-06 21:23] katiebethbrown commented on #47916
Another report in 3550634-zd-woothemes

I've let the user know they can set the buttons as main sharing buttons instead of having them under the "More" heading, and shared that I'd let them know when the issue was resolved.

[2020-12-06 21:28] msilbers opened #48073 "Wix Importer: Posts importing with too much text linked"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/import/
2. Choose Wix
3. Enter the Wix site URL
4. Proceed with the import

#### What I expected

That the posts and pages would import with the same general formatting as they have on Wix.

#### What happened instead

It looks like anytime a link appears in a post, it starts to turn all paragraph text into links. Wix's default/dem

[2020-12-06 22:32] isocialtish commented on #47935
We have another case 3549880-zen

[2020-12-07 03:06] #47486 closed

[2020-12-07 04:15] ramonjd commented on #47857
There's also a small bug whereby the viewers tab disappears when the Invites tab is selected:

![Dec-07-2020 12-41-45](https://user-images.githubusercontent.com/6458278/101308880-07fe6480-389f-11eb-91cf-8b5e87f5400e.gif)

To reproduce, switch a simple site to Coming Soon mode, add a viewer in people management

[2020-12-07 05:33] #47884 closed, assigned to nobody

[2020-12-07 08:48] #48045 closed, assigned to flootr

[2020-12-07 08:53] razvanpapadopol opened #48078 "Landing page: all 'Start with free' buttons should redirect to 'free' onboarding flow"
“Start with free” buttons on marketing pages should redirect to `/start/free` (which is the `free` onboarding flow) instead of `/start`. At the moment only the "Sign up" button of the "Free" column at the bottom of [pricing table](https://wordpress.com/pricing) is redirecting as expected.

Until now we've identified 2 locations where this change needs to be implemented
- [ ] Bottom of wordpress.co

[2020-12-07 09:20] mmtr commented on #47844
D53769-code has been deployed, so the issue shouldn't occur anymore.

To recap, lost data was only happening on sites where the terms have been updated via WP Admin. Updates done via Calypso didn't result in lost data.

Regarding the restore, our systems team believes that the only option would be to get a backup for affected sites and restore those manually. You can report the affected sites in p

[2020-12-07 09:20] #47844 closed, assigned to mmtr

[2020-12-07 09:39] Nic-Sevic commented on #47355
I checked their spam section and it's now displaying as expected. I asked for confirmation from the user and awaiting reply.

**Update** user confirmed working for them

[2020-12-07 09:44] alshakero commented on #47293
I investigated this and it seems that some themes use the experimental [Layout Grid](https://github.com/Automattic/block-experiments/tree/master/blocks/layout-grid). Layout grid [accepts a prop]((https://github.com/Automattic/block-experiments/blob/12a0c1ef66ec3dd90e7c28e69e7587b20d2d3cec/blocks/layout-grid/src/grid/edit.js#L92)) called "displayType: "Desktop" | "Mobile" | Tablet". It uses this pr

[2020-12-07 10:05] sgomes commented on #47916
Still waiting for a review on D53698-code.

[2020-12-07 10:42] pmcpinto commented on #48029
👍 makes sense. Thanks for clarifying this.

[2020-12-07 10:43] yansern commented on #48078
The phab patches are here:
- [DEPLOYED] D53834-code
- [DEPLOYED] D54496-code
- [NEEDS REVIEW] D54690-code

[2020-12-07 10:52] tjcafferkey opened #48079 "Focused Launch: Update text when user is expecting checkout"
**What**

When a user selects (or has selected previously so they are now pre-selected) any options that are purchasable we need to update any text in the Focused Launch modal to reflect that they will see the checkout.

**Why**

This will indicate to the user that they will be presented with the checkout should they choose to proceed with their selected purchasable options.

Context: 276d3-pb

**

[2020-12-07 11:05] tjcafferkey commented on #48079
@ollierozdarz we will need some UX guidance around this. For the time being I have labelled this with unhold.

[2020-12-07 11:10] simison opened #48080 "Footer credit upgrade nudge visually broken"
Footer credit upgrade nudge has an underline in the customizer.

![image](https://user-images.githubusercontent.com/87168/101344023-84884780-388d-11eb-9eee-687e267194ab.png)

After leaving that option and saving the customizer state, the banner also disappeared.

#### Steps to reproduce

1. Have non-business/ecommerce plan site,
2. Open customizer
3. Choose "site identity"
4. See footer credit sec

[2020-12-07 11:19] tjcafferkey opened #48081 "Focused Launch: Don't launch site when user closes checkout"
**What**

When a user selects premium options in the Focused Modal that require them to complete their purchase on the checkout, and they change their mind during the checkout process we currently launch their site anyway with a free domain, and plan.

We need to change this behavior to NOT launch their site at all should they change their mind and require them to re-select free options in the Foc

[2020-12-07 11:19] tjcafferkey commented on #48081
@ollierozdarz does this sound okay to you? Please update how you see fit.

[2020-12-07 11:25] razvanpapadopol commented on #46943
👍 We can check off things from this 'main issue' once we track them in separate issues. And let's keep this one in Backlog since is not directly actionable.

[2020-12-07 12:16] tjcafferkey commented on #46854
@razvanpapadopol do we have any further information around this issue to properly spec it?

[2020-12-07 12:29] #42474 closed

[2020-12-07 14:02] razvanpapadopol commented on #46854
I'll start drafting this week a plan to track events during focused launch flow and then ask for a review. See previous example of such plan at pbAok1-Ao-p2.

[2020-12-07 14:23] #47929 closed, assigned to fditrapani

[2020-12-07 14:23] razvanpapadopol commented on #42392
should be fixed now since we're using `ActionButtons` from `@automattic/onboarding` package everywhere.

[2020-12-07 14:23] #42392 closed

[2020-12-07 14:32] razvanpapadopol commented on #42710
This is included now in all launch flows.

[2020-12-07 14:32] #42710 closed

[2020-12-07 14:38] razvanpapadopol commented on #47576
Let's keep this in Backlog until we have all the UI related tasks in https://github.com/Automattic/wp-calypso/milestone/328 implemented.

[2020-12-07 14:43] #42460 closed

[2020-12-07 14:44] #42440 closed

[2020-12-07 14:53] razvanpapadopol commented on #41165
With the deprecation of the abtest library we should update also this issue. Currently, pbmo2S-Ca-p2 seems to be the latest discussion on the subject.

[2020-12-07 15:57] ktyfuller604 commented on #45881
Another report: #26170919-hc

Chrome Version 87.0.4280.88 on Windows

First reported: November 13, 2020

[2020-12-07 16:22] razvanpapadopol opened #48086 "New onboarding launch: disable final step if there are unselected items"
1. Start by creating a site from `/new`.
2. Press _Launch_ button in the editor top bar.
3. Go to the last step in sidebar.

#### What I expected
To be able to launch my site.

#### What happened instead
_Launch your site_ button was disabled because there was no selected plan.

#### Context / Source
p1606160811158000-slack-CRNF6A9DX

[2020-12-07 16:42] razvanpapadopol commented on #47761
Closing as the question was answered. We'll continue fixing this in #47760

[2020-12-07 16:42] #47761 closed, assigned to ollierozdarz

[2020-12-07 17:06] razvanpapadopol commented on #47542
superseded by #47762

[2020-12-07 17:06] #47542 closed

[2020-12-07 17:27] razvanpapadopol opened #48091 "New onboarding launch: use site slug instead of siteId in URL"
We should use site slug instead of siteId when redirecting to My Home or checkout as mentioned in p1606154061149800-slack-CRNF6A9DX

Related: https://github.com/Automattic/wp-calypso/issues/47150

[2020-12-07 17:40] annezazu commented on #47117
Can confirm this is still a problem for me. This is happening on https://letslifechat.com/ and I'm happy to give anyone access if it helps! Here are screenshots for good measure:

Front end:

<img width="1436" alt="Screen Shot 2020-12-07 at 10 39 00 AM" src="https://user-images.githubusercontent.com/26996883/101384992-6c59fd80-3878-11eb-8268-21850bc69902.png">

Editor UI:

<img width="1437" alt="S

[2020-12-07 17:56] sandymcfadden opened #48092 "Page Layout Picker: Crashes editor"
When creating a new page in Google Chrome or Safari the editor can crash when choosing a page layout.

#### Steps to reproduce

1. Starting at URL: https://wordpress.com/page/<site>
2. Click on one of the page layouts.
3. Scroll the preview of the layout for a little bit

#### What I expected

I would expect to be able to scroll and preview the page layouts without issue and then eventually choose

[2020-12-07 18:01] cathymcbride commented on #47844
@mmtr agreed. I don't think so either. Thank you!

[2020-12-07 19:05] worldomonation opened #48093 "Pricing Table block with default values is not present in published page."
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/pages/
2. Add a new post.
3. Add a Pricing Table block. Take care not to change the default values.
4. Click Publish.
5. View published post.

#### What I expected
Pricing Table block appears on the published page.

#### What happened instead
Pricing Table block does not appear on the published page.

#### Browser / OS version
Brow

[2020-12-07 19:45] flootr commented on #18095
closing as this seems to be done already. there's no `lib/countries-list` store and the referenced files don't mention any
flux stores.

[2020-12-07 19:45] #18095 closed

[2020-12-07 19:48] david-szabo97 commented on #47935
Fixed in Gutenberg 9.4.2 and upcoming 9.5.x, waiting for release.

[2020-12-07 20:20] michaeldcain commented on #41538
Thanks @sirbrillig. I think I'll go ahead and close this issue, since we're now returning the server error and improving the coupon error messages on the server falls more under @Automattic/martech's work.

[2020-12-07 20:20] #41538 closed

[2020-12-07 20:30] creativecoder opened #48096 "Editor: Can't edit post in desktop app for Jetpack site after enabling SSO"
#### Steps to reproduce

<ul><li>With an Atomic site, turn off SSO from Settings > Security ("Allow users to log in to this site using WordPress.com accounts")</li><li>Try to edit a post for that site with the desktop app</li><li>You'll see an alert about needing to turn on SSO to edit the post in the app</li></ul>

#### What I expected

- For current release, clicking to turn on SSO lets you edit

[2020-12-07 20:33] elizaan36 commented on #48029
Would stats still appear in the dashboard? If so, to keep it simple we could keep the Dashboard as-is but just redirect the links. The notice would inform users that `Store has moved to WooCommerce`.
![Frame 642](https://user-images.githubusercontent.com/5121465/101401979-ba7ef900-3898-11eb-8c69-26cd6db43e25.png)

For the nav issue, we could present a tooltip on the Store nav item like this, which

[2020-12-07 21:08] jeyip commented on #47931
Bug Fix D53874-code

[2020-12-07 21:14] elizaan36 commented on #48026
Here are options for both using the Calypso notice:

`Store is moving to WooCommerce`
![Frame 562](https://user-images.githubusercontent.com/5121465/101406071-9b836580-389e-11eb-8aa1-72d75c865c50.png)

`Store has moved to WooCommerce`
![Frame 642](https://user-images.githubusercontent.com/5121465/101406143-b05ff900-389e-11eb-9c2b-2c89c9f6c217.png)