[2021-07-28 21:59] ccwalburn opened #54990 "Paragraph Block: Selecting Color from Toolbar doesn't change text color in editor"
_2023-10-04 update - this issue has been remained open as themes are fixed on a theme-by-theme basis.  The only remaining theme that this is currently waiting on is Karuna. See [latest comments](https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-1747785420)_

---

When you select some text in a Paragraph block and change the color using the Font Color option on the toolbar, it chan

[2021-07-28 22:15] kwight opened #54992 "Playwright: Try creating a fresh unique test site for each run."
The stability of our Playwright tests is challenged by different runs sharing the same test sites. For instance, if one test run changes themes at the same time that another test run expects a different current theme, we can get frustrating false failures.

Let's use the WP.com API and its site creation endpoint to generate a fresh isolated site for each test run, and then look into having those s

[2021-07-28 22:16] #54393 closed, assigned to scinos

[2021-07-28 22:49] DustyReagan commented on #49064
Just another observation. If you get to the thank you page, and instead of clicking the 'Create your store' button, open a tab and go to, say the posts wp-admin page, it loads fine. Then if you come back and click the button on the thank you page, it also loads fine. Something about hitting that WooCommerce setup page for the first time before hitting any other page.

[2021-07-28 23:25] yaelirub commented on #54948
Hey everyone, I think there is a bit of confusion as to the ask. the change we were asking to revert is this one: https://github.com/Automattic/wp-calypso/issues/52995

[2021-07-28 23:46] worldomonation opened #54996 "Playwright: migrate Jetpack portion of theme activate spec."
### Details

In the original [`theme-activate`](https://github.com/Automattic/wp-calypso/blob/ce1e62ef3c2fcdd69ffe56199c2303099abc65b7/test/e2e/specs/specs-calypso/wp-theme__switch-activate-spec.js) spec, there were additional steps if the host was Jetpack:

[code]

### Checklist

- [ ] implement the Jetpack portion in Playwright.
- [ ] stand up Jetpack Playwright tests.

### Related

_No response

[2021-07-29 00:28] ilyasfoo commented on #49064
@allilevine I think your assessment is correct. Previous error was caused by an outdated link, and refreshes did not result in a working page. This time around it might be something along the lines of the login redirect.

As observed by @DustyReagan, I think the login session might have not been properly set up by the time we access the page if that's the first thing we try to access on the site.

[2021-07-29 01:33] jeyip commented on #54468
## More Context
There's been a hiccup! It turns out that I was mistaken about the extensibility of global styles.

- The global styles feature works by injecting information into the `settings` object before the block editor is initialized.
- Here is [an example](https://github.com/WordPress/gutenberg/blob/trunk/lib/global-styles.php#L329-L334) of the `block_editor_settings_all` filter and the `gu

[2021-07-29 02:14] arthur791004 commented on #54948
@yaelirub just to clarify that the new spec is showing  'WordPress App' card no matter the user has connected with the mobile app or not, right?

[2021-07-29 05:12] lsl opened #55003 "Logmein for wp-admin pages (e.g. view post links)"
wp-admin pages, e.g. viewing "All posts" needs logmein params added to links pointing at the sites mapped domain.

[2021-07-29 05:20] autumnfjeld commented on #52995
❗ CORRECTION: that diff was never merged into the back end.

The WP App card still shows even if the user has downloaded the app.

cc: @p-jackson @yaelirub

[2021-07-29 05:38] autumnfjeld commented on #54948
@yaelirub @arthur791004

#52995 was never completed. This is the code D62067-code that would have made that change, it was never merged, because there was pushback against that idea. Thus that card on My Home shows regardless of if the user downloaded the app or not.  Additionally changes in this diff D62243-code fixed issues where the card was missing on some devices, so now the Mobile App Card o

[2021-07-29 06:35] lsl commented on #52263
This was caused by an issue on Amazon's side of things, there are reports this is resolved now so closing the issue.

@fresatomica the site linked from that post looks fixed now too.

[2021-07-29 06:35] #52263 closed, assigned to nobody

[2021-07-29 06:57] KokkieH commented on #50927
Another request in https://wordpress.com/forums/topic/page-headers-tiktok-link-logo/

Noting support for this was added to Jetpack social menus in https://github.com/Automattic/jetpack/pull/18563. @jeherve, are you able to help getting this added on wpcom as well?

[2021-07-29 08:04] KokkieH commented on #47827
This is still an issue.

[2021-07-29 08:27] autumnfjeld commented on #54948
@simison

👍
Also, I believe the fact that the[ banner is hidden until site launch](https://github.com/Automattic/wp-calypso/blob/779855d60c008f83080fa2649fe3fa26d56bbd04/client/layout/utils.ts) is in opposition to the goals of _increasing visibility of  the banner_.  cc: @yaelirub

There was no discussion of any design change--is that what you mean?   This issue isn't about design change but, if t

[2021-07-29 08:52] arthur791004 commented on #54863
@autumnfjeld @jeffgolenski I've added the new Learn & Grow cards in https://github.com/Automattic/wp-calypso/pull/55014. Is that correct to add both cards mentioned above? Or we should only select one of them? Besides, is there any preference for the order? Currently, I make the two cards next to `The WordPress.com free photo library`

[2021-07-29 09:54] arunsathiya opened #55016 "Help icon on the signup flow has a broken style that makes it appear as if they are two icons"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/start/domains?flags=signup/professional-email-step
2. See that the help icon (bottom right of the screen) has a broken style that makes it appear as if they are two icons
3. This does not occur if you start at https://wordpress.com/start/ or https://wordpress.com/start/domains

#### What I expected

The help icon appears as a singl

[2021-07-29 09:58] arunsathiya opened #55017 "Professional Email description in signup overflows available space on mobile"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/start/domains?flags=signup/professional-email-step
2. When the Professional Email signup prompt appears, the description can seen to overflow available space. So far I have tested certain device types: issue on Galaxy and iPhone devices. Fine on iPhone Plus devices. Haven't tested the exact width just yet.

#### What I expected

De

[2021-07-29 10:01] arunsathiya opened #55019 "Switching currency does not reflect the new price on plan switcher view of checkout without reloading"
### Steps to reproduce the behavior

- Add a plan to a free site and reach the checkout stage of the purchase flow.
- Have a staff update your WordPress.com account's currency
- See that the currency is updated for the items in the cart, but not on the plan length switcher section

#### What I expected to happen

The currency on the plan length switcher is updated too.

#### What actually happened

[2021-07-29 10:07] arunsathiya opened #55020 "Option to add Professional Email to cart at the last stage of the checkout flow"
### Steps to reproduce

- Start at https://wordpress.com/start/domains?flags=signup/professional-email-step
- When prompted to add Professional Email to cart, skip
- Visit the final stage of the checkout flow

#### What I expected to happen

This is a feature request, not a bug: it would be nice to have a prompt to add Professional Email on the final stage of the checkout flow if needs be.

Also,

[2021-07-29 10:10] arunsathiya opened #55021 "Professional Email in signup: Completing checkout takes one to the site picker list instead of Home"
### Steps to reproduce the behavior

- Start at https://wordpress.com/start/domains?flags=signup/professional-email-step
- Visit the final stage of the checkout flow
- Complete checkout

#### What I expected to happen

Completing checkout takes me to the Home page on Calypso.

#### What actually happened

We see the site picker list instead

### Context

Internal testing: p9anKZ-1VR-p2#comment-386

[2021-07-29 11:28] StefanNieuwenhuis opened #55023 "Login Form - Update integration tests"
### Details

### Why
As developers, we want to have confidence in our components and want them to be well-documented and easily maintainable.

### What
We want to add integration tests for the `<LoginForm/>` component to improve:
1. our confidence in its API.
2. documentation.
3. maintainability.

### Checklist

- [ ] Mock the components state (i.e redux store).
- [ ] Add necessery mocks for exter

[2021-07-29 13:14] sixhours commented on #54933
Solution proposed here: D64853-code

[2021-07-29 13:14] dpasque commented on #54992
Copying in the relevant details from the duplicate issue #54338 :

[2021-07-29 13:15] dpasque commented on #54338
We now have two issues tracking this, closing this one as duplicate and copying into the other one (#54992) as that is being used for sprint tracking.

[2021-07-29 13:15] #54338 closed, assigned to dpasque

[2021-07-29 14:16] ajaykj commented on #54949
I can replicate the issue and confirm the findings of @retnonindya. Here is what is happening:

- Visit the link (either directly or by clicking the link on the stats page)
- The visitor/whoever clicked the link sees the 404 Not Found page, as expected
- The Stats record it as "download" (despite the file already deleted or not)

It's not accurate and causing confusion but I think this is how our

[2021-07-29 14:50] kwight commented on #51787
There is now a subscriptions pod that will include this in upcoming work: pbAPfg-1D1-p2

[2021-07-29 15:03] #52964 closed, assigned to arcangelini

[2021-07-29 15:09] sixhours commented on #54535
It looks like we only import regular and bold font weights from the Google API:

<img width="1307" alt="Screen Shot 2021-07-29 at 10 45 54 AM" src="https://user-images.githubusercontent.com/2124984/127513302-18da5b51-08e8-4c67-90fd-7314b9d35928.png">

I'm not sure how importing the full range of weights/sizes impacts performance; I suspect we need to keep that list relatively short so we're not tr

[2021-07-29 15:36] dpasque opened #55028 "Purchases: Slow web request on purchases page leads to long loading state"
### Steps to reproduce the behavior

1. Use an incognito browser to avoid any cookies/caching
2. Log in as the default user in the E2E testing config. This requires decrypting the config file for E2E tests. Follow the instructions here: https://github.com/Automattic/wp-calypso/blob/trunk/test/e2e/docs/setup.md#configuration-file
3. Navigate to Upgrades >> Purchases, and then click on the Premium s

[2021-07-29 15:48] #54933 closed, assigned to sixhours

[2021-07-29 15:56] BogdanUngureanu commented on #46077
@jordesign The picture (Gravatar) is managed using Gravatar, not with the implementation in the context of this issue. From what I've noticed, it looks like it's a caching issue with Gravatar. Would it be possible to open up a separate issue for this?

@edwinho89 I've created a differential that fixes this scenario and I'll deploy it tomorrow on WPCOM, I'll let you know as soon as that's done, tha

[2021-07-29 16:14] pbking opened #55030 "User Theme JSON is inappropriately stripped of data"
## Description

In some environments (wpcom being the only that I have found) when the User Theme JSON is saved and retrieved relevant data is removed.

## Step-by-step reproduction instructions
* Activate a Blockbase theme.
* Using the customizer adjust the colors so that there are custom colors set and publish.
* Observe the User Theme JSON returned by WP_Theme_JSON_Resolver_Gutenberg (this is t

[2021-07-29 17:03] worldomonation opened #55032 "Playwright: move existing block type actions in GutenbergEditorPage to its own block class"
### Details

Currently the `GutenbergEditorPage` class contains actions for both Title and Paragraph block type actions in the class definition.

These are better served as individual block types now that building block (pun intended) for block types are present, thanks to #54337.

### Checklist

- [ ] migrate title block actions to a new block called TitleBlock
- [ ] migrate paragraph block actio

[2021-07-29 17:36] CodeAllNightNDay commented on #52209
A simple site where the user is getting the "Updating failed. Sorry, you are not allowed to edit this post" message.
They are still using the classic editor for all posts. Using chrome on an older Mac with OS X 10.10.5 installed

The user is not able to edit or schedule posts.

Clearing chrome cache did not help. I'm not able to reproduce the issue on my end.

29534711-hc

[2021-07-29 17:55] Robertght commented on #54781
One case in 4182598-zen

**As a workaround, I recommended using the Classic editor.**

[2021-07-29 18:12] keoshi opened #55035 "My Home: interaction weirdness on Quick Links"
### Steps to reproduce the behavior

1. Go to My Home selecting a dotcom simple/atomic site; e.g.: https://wordpress.com/home/SITE_URL
1. Click repeatedly on Quick Links.
1. See error.

#### What I expected to happen

The section to expand/collapse when I click the card.

#### What actually happened

The section seems to suffer a delay when clicked repeatedly, where it expands/collapses way after

[2021-07-29 18:40] happychait commented on #54781
I had a report in #30840168-hc

I also experienced this problem myself in my own WordPress.com account. I use Chrome Version 92.0.4515.107 (Official Build) (x86_64).

Video showing the issue that nothing happens when I click on the `Private` radio button: https://cln.sh/v7oXtp

[2021-07-29 18:46] Robertght opened #55037 "Perle: Sharing buttons showing up on top of the content of the pages"
### Steps to reproduce the behavior

1. Go to Tools > Marketing and make sure Pages is selected. Have the "Icon & Text" seelected.
2. Have a few sharing buttons added.
3. Have content added on the page. I used a two-column layout with an image on the right one to make them.
4. See error

![image](https://user-images.githubusercontent.com/6737345/127547127-d8bf0980-a5e2-4c4d-a67c-5602b9078890.png)

[2021-07-29 21:10] eduardozulian opened #55044 "Background color blends with sidebar in some color schemes"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account
2. Choose a color scheme like Classic Bright
3. Visit My Home, Inbox, or the new Plugins page

#### What I expected to happen
- The same background color (`#F6F7F7`) I see in other internal pages like https://wordpress.com/me/account or the Stats Page
- A visual separation between the left sidebar and the actual content

[2021-07-29 21:14] #54807 closed, assigned to andres-blanco

[2021-07-29 21:20] dpasque opened #55046 "Plans: Manage plan button is disabled in mobile viewport"
### Steps to reproduce the behavior

1. On a mobile device or in a browser emulating a mobile viewport, navigate to `https://wordpress.com/plans` for a site with a subscription (like Personal or Premium) (or go Upgrades >> Plans)
2. Scroll down to that active plan
3. See the Manage Plan button

#### What I expected to happen
The button to be enabled, like it is in the desktop viewport

#### What a

[2021-07-29 21:31] autumnfjeld commented on #54863
@arthur791004  Jeff is AFK until next week. I'd say we can add both of the cards. Let's put the "10 ways to find success" card first.   (I updated the issue description to be clear about adding both cards.)

[2021-07-29 22:06] arcangelini commented on #46808
Currently investigating this but am not able to replicate anything. I have tested on Free and Premium plan with the following themes:

* Blank Canvas
* Hever
* Maxwell

@ahmadawais are you able to replicate this still? If so would you mind sharing the test site you are working on in hopes to narrow in on this issue.

[![Screenshot](https://d.pr/i/ke2uyr+)](https://d.pr/i/ke2uyr)

[2021-07-29 22:12] #48882 closed, assigned to donlair

[2021-07-29 22:28] roo2 commented on #54919
Diff ready for review D64878-code

[2021-07-29 22:31] worldomonation commented on #48573
See also: #48959, nearly identical issue.

[2021-07-29 22:36] worldomonation commented on #45483
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I tried to reproduce this behavior on the following platforms:

OS: macOS Big Sur 11.4 (20F71)
OS: Windows 10
Browser: Firefox Nightly 92.0a1 (2021-07-23) (64-bit)

I was unable to do so.

If this issue should remain open, please feel free to re-open this bug.

![Screen Shot 2021-07-29

[2021-07-29 22:36] #45483 closed

[2021-07-29 22:43] CodeAllNightNDay opened #55048 "User is getting blank screen when trying to create a new post or edit existing post"
### Summary

I am able to recreate the issue but not finding any errors (aside from console errors). At first, I thought it was related to [this open issue](https://github.com/Automattic/wp-calypso/issues/53100) but there are a number of issues showing in the console.

The issue can be reproduced by using Support Session and clicking on 'Add New' under posts.

### Console Log Attached when clickin

[2021-07-29 23:33] kaitohm commented on #52596
Just noting a user who was confused by this: 30858570-hc

[2021-07-30 01:02] goblinartificer commented on #51640
30877970-hc ⁠— also Atomic, also happening even with just one category. Replicated in Firefox in a support session.

[2021-07-30 03:52] kosiew opened #55050 "Feature Request: include tags in post revision"
### What

Please include post tags in revision history

### Why

Customer in 30600285-hc had some unintended changes on a post. When they reverted to a previous version, they noticed the tags in that version were not preserved and had to enter them again.

### How

_No response_

[2021-07-30 05:04] #54708 closed, assigned to arthur791004

[2021-07-30 05:28] KokkieH commented on #54781
Another report in https://wordpress.com/forums/topic/can-make-posts-to-private/

They report it also happens in Edge, though I'm not able to reproduce it there. I can reproduce in Chrome.

[2021-07-30 05:39] kaitohm commented on #54781
Another report: 4181858-zd-woothemes

[2021-07-30 06:24] p-jackson commented on #52936
We made small improvements to the copy here: #54749, but decided against changing copy based on whether the task was complete or not.

[2021-07-30 06:24] #52936 closed, assigned to p-jackson

[2021-07-30 08:07] daledupreez commented on #55021
I walked through this flow this morning, and I am fairly confident this is due to a timing issue around the site slug.

My thinking here is as follows:
 * The user will have bought a domain as part of the signup flow, but the site slug is still the *.wordpress.com subdomain
 * After checkout, we queue up an async job to make this domain the primary domain for the site (which changes the site slug)

[2021-07-30 08:14] Robertght commented on #53978
Another case in 30250985-hc

[2021-07-30 08:31] edwinho89 opened #55054 "Accordion block: Selecting nested accordion block bounced/closed"
### Steps to reproduce the behavior

1. Create a new Accordion block on a post or page.
2. Within an Accordion Item content, insert another Accordion block (becomes nested accordion blocks)
3. Add title on the new child Accordion Item.
4. Click to insert new contents within child Accordion Item.

#### What I expected to happen

Contents can be added within nested accordion item.

#### What actuall

[2021-07-30 08:49] #54464 closed, assigned to david-szabo97

[2021-07-30 08:55] #53951 closed, assigned to niranjan-uma-shankar

[2021-07-30 10:18] simison commented on #55021
Can you use site ID instead?

[2021-07-30 10:28] simison commented on #53401
Closing as fixed. Thanks for patience on this everyone!

[2021-07-30 10:28] #53401 closed, assigned to nobody

[2021-07-30 10:36] lsl commented on #53536
I've been concerned about ?logmein=direct from a logged out state but checking today it is handled gracefully maybe it always was?

I think for the other cases mentioned above, adding stats with D64547-code diff should be enough to gauge whether this is a real problem.

I'm also pretty convinced this code isn't the problem for the WSOD's we're seeing in the editor either so we won't be gaining muc

[2021-07-30 10:55] daledupreez commented on #55021
Maybe? But I believe all of the client-side logic is constructing (and expecting) URLs based on the slug, so I think that would be a tough thing to switch in the main routing logic.

I _think_ we can update the site switcher to work out of the slug is associated with a site, and automatically redirect to the correct URL for that site. This would also handle some other situations users can get into

[2021-07-30 11:06] sguzovskaia commented on #50508
Adding a similar case: none of the pages are showing the "Screen Options" setting tab in the top-right corner with disabled Jetpack SSO for the customer with a ticket zen-4178686.

I had to give them the direct link to WP Admin Pages to access Classic Editor.

[2021-07-30 11:17] fresatomica commented on #53100
Another report (Pale Moon): https://wordpress.com/forums/topic/cant-create-and-edit-post-in-wordpress-using-pale-moon-browser/

[2021-07-30 11:20] rinazrina commented on #53742
Another report: 30881088-hc

On the user's site -- after reordering widgets, the changes are not saving.

[2021-07-30 11:36] carinapilar opened #55057 "Pages showing Classic View even with Default View active"
### Steps to reproduce the behavior

1. Go to Posts > All posts
2. Switch to Classic View
3. Go to Pages > All pages
4. Make sure you’re using the Default View

#### What I expected to happen
To stay with the Default View while working on pages.

#### What actually happened
Edit links for pages point to WP-Admin because we’ve set the Classic View for posts. And the black sidebar with the W shows a

[2021-07-30 12:19] synora commented on #54508
FSE doc page is complete and is currentlly awaiting review from the Docs Guild. 👍

[2021-07-30 12:34] simison commented on #55021
ID in the URL should already work fine wordpress.com/home/[ID] in Calypso — I've seen it used in some other cases, perhaps around checkout.

[2021-07-30 12:52] #55057 closed, assigned to mmtr

[2021-07-30 13:32] #54252 closed, assigned to sixhours

[2021-07-30 14:07] allilevine commented on #49064
Thanks @ilyasfoo. I've opened a PR to set up a login session before attempting to access the page: https://github.com/Automattic/wp-calypso/pull/55029 We use the same `WpAdminAutoLogin` component in the plugin and theme transfer to Atomic flows.

[2021-07-30 14:26] aneeshd16 commented on #53536
Closed via D64547-code.

[2021-07-30 14:26] #53536 closed, assigned to aneeshd16

[2021-07-30 14:43] dcoleonline commented on #52013
Another report where a customer expected this to work as it did before they upgraded to Atomic
#4178909-zen

If we do update this, we should notify the customer.

[2021-07-30 14:49] dcoleonline commented on #42973
Another report in #4178909-zen

If we do update this, we should notify the customer.

[2021-07-30 15:45] worldomonation commented on #54812
Closed via #55047.

[2021-07-30 15:46] #54812 closed, assigned to nobody

[2021-07-30 15:48] #49064 closed, assigned to allilevine

[2021-07-30 16:27] mreishus commented on #54816
I was able to get blockbase style color replacements working: D64982-code

[2021-07-30 16:31] #54842 closed, assigned to dpasque

[2021-07-30 16:46] metabreakr commented on #53953
30888907-hc

[2021-07-30 17:34] mikeicode commented on #51640
AT site - Floral theme, had that error and then the post published. 30875697-hc

[2021-07-30 17:43] jp-imagines opened #55066 "Gallery Block: "Add to Gallery" option replaces current gallery images"
### Steps to reproduce the behavior

1. Go to My Site > Posts (or Pages, or Portfolio)
2. Click on Screen Options > Classic View to navigate to wp-admin
3. Create a new post/page/portfolio
4. Add a Gallery block, and select images to insert into the gallery. Click Create a New Gallery > Insert Gallery to insert.
5. Click the "media library" option (below the gallery) to insert a new image
6. See t

[2021-07-30 18:47] synora commented on #33387
I scheduled a post to publish on October 24, 2021, and that exact date is appearing.
<img width="612" alt="Screen Shot on 2021-07-30 at 14-44-13" src="https://user-images.githubusercontent.com/10015451/127698208-24365357-9ff4-4528-bf7b-6e805f2a3086.png">

It's working for both simple and Atomic sites. I'll close this for now since it appears to be fixed.

[2021-07-30 18:47] #33387 closed

[2021-07-30 19:00] synora commented on #36130
Closing since this was merged in https://github.com/Automattic/wp-calypso/pull/36125.

[2021-07-30 19:00] #36130 closed

[2021-07-30 19:30] synora commented on #54985
Duplicate of  54756-gh-Automattic/wp-calypso.
Merge happening in 733-gh-Automattic/wpcomsh

[2021-07-30 19:30] #54985 closed, assigned to nobody

[2021-07-30 20:14] mreishus commented on #54816
I was not able to get font replacements working, but I added some helpful log messages and code comments about a way to approach the problem: D64994-code
I'll be updating the field guide with a list of its limitations too.

[2021-07-30 20:14] #54816 closed, assigned to mreishus

[2021-07-30 20:17] eduardozulian commented on #49117
Closing this one in favor of #37155

[2021-07-30 20:17] #49117 closed, assigned to nobody

[2021-07-30 20:44] worldomonation opened #55072 "Playwright: finish migration of `wp-plan-purchase__comparing` spec."
### Details

There is a Jetpack portion of the spec that hasn't been migrated yet:

[code]

File: https://github.com/Automattic/wp-calypso/commit/55002654ff84b416004333f6809eff059d020eee#diff-df32d54424fde0bbaa43c96c7163b6fa001f66fdfc46ab675607c85c47f62160

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2021-07-30 21:02] allilevine commented on #53911
@JanaMW27 I've opened a PR to implement this screen in the ecommerce flow: https://github.com/Automattic/wp-calypso/pull/55073 It would be great to get your feedback / changes! 🙌

It turns out we can add any steps and any number of steps, since they don't correspond to actual status changes. The only status change we're tracking from this screen is whether the transfer has completed. Then we redir

[2021-07-30 21:42] metabreakr commented on #30426
28352946-hc

[2021-07-30 22:38] ktyfuller604 commented on #53373
another report in 4186357-zen
Safari 14.2
Big Sur 11.5

[2021-07-31 00:04] #53804 closed, assigned to nobody

[2021-07-31 00:04] worldomonation commented on #53804
Closed via #54826.

[2021-07-31 00:05] worldomonation commented on #53514
Playwright is now turned on for all branches, for both mobile and desktop!

[2021-07-31 00:05] worldomonation commented on #53514
Closed via #55407.

[2021-07-31 00:05] #53514 closed, assigned to nobody

[2021-07-31 01:56] edwinho89 commented on #41615
Similar request in 4185479-zd-woothemes on wanting users to update credit card on recurrring payments (now known as [Payments](https://wordpress.com/support/wordpress-editor/blocks/payments/))

[2021-07-31 02:01] bsanevans opened #55079 "Description not shown in Classic Gallery Carousel when EXIF data is not shown"
### Steps to reproduce the behavior

1. Create a new page/post in the Classic Editor
2. Add a Gallery, with images. Choose images with a description
3. Publish the content, and on the front end, click on an image to open the carousel
4. If `Metadata | Show photo metadata (Exif) in carousel, when available.` is enabled in Media settings, then there will be an "i" to press, which will show image des

[2021-07-31 02:17] devNigel commented on #54936
I ran into this ticket recently. I noticed on my testing that the issue happened only with those existing Masonry Blocks. I was not able to reproduce the issue on new Masonry blocks.

I advised them to create a new Masonry Block for the time being.

[2021-07-31 02:54] michaeldcain opened #55080 "Checkout: add Tracks event for step completion"
From pbOQVh-1d7-p2, let's add a `calypso_checkout_composite_step_complete` event with a `step_name` prop that takes a slug and a `step` prop that takes the step number. This would fire regardless of the user completing the step and rather as long as the step is in a "completed" state.

[2021-07-31 05:05] supernovia commented on #54781
Another here:
https://wordpress.com/forums/topic/i-cannot-change-the-visibility-to-private/

[2021-07-31 07:32] kriskorn commented on #50306
Another case: 30896699-hc

[2021-07-31 08:27] formosattic commented on #50927
+1 4178728-zd-woothemes

[2021-07-31 08:42] tarunvijwani commented on #35026
Another one: 4187697-zn, 30896655-HC

[2021-07-31 10:03] Robertght commented on #54056
A quick update about this. The colors in the customizer were simply missing. I don't know how this was done, but that caused the heading, links and text to be invisible on the block editor:

![image](https://user-images.githubusercontent.com/6737345/127736415-6849f46c-b8cd-4448-8dfc-672ae22b5682.png)

Setting a specific color made it show the options again.

[2021-07-31 12:53] AtrumGeost commented on #54871
Got another report here:

https://wordpress.com/es/forums/topic/cambio-en-el-funcionamiento-de-los-bloques/

I agree the default behavior makes sense. And it would be nice to have a way to unlink both blocks so all posts are displayed on each one.

[2021-07-31 19:23] ChrissiePollock opened #55081 "Featured Image section not showing"
Steps to reproduce

    Starting at URL: wordpress.com
    Start a new post on a Gutenberg-enabled site using a certain theme (confirmed with Linen)
    Note the Featured Image option is not shown

What I expected

To be able to set a Featured Image regardless of theme support as it's used by things like Publicized
What happened instead

No Featured Image option was shown

This happened again with

[2021-08-01 00:25] formosattic commented on #53100
+1 4189044-zd-woothemes

Asked user to clear cache. Shared the WP Admin link which loads posts ok.

[2021-08-01 03:04] retnonindya opened #55084 "Feedback/Request: Move Comment box above the Related Posts area (for increasing visitors' interactions) -- Theme Twenty Twenty"
Hey team! This is a feedback/request from our user about theme Twenty Twenty and I would like to share it with you all. Not a bug, but this is definitely something we can include in our considerations.

When the website/blog is using theme Twenty Twenty, the comment section is at the bottom of the page (under Related Posts area)

![Screenshot 2021-08-01 at 10 40 38 AM](https://user-images.githubus

[2021-08-01 09:16] daria2303 opened #55085 "Classic Block Gallery: longer caption cut"
### Steps to reproduce the behavior

1. Create Classic Block with Gallery Inside e.g. tiled one
2. Insert loner caption for images e.g. "One wall of the Visitor Center’s entrance gallery displays a selection of artifacts from the museum’s diverse collections. A printed key tells you what everything is."
3. Click on the image
4. Caption is cut https://d.pr/i/8zgwEH (also in post view https://d.pr/i

[2021-08-01 10:10] rickmgithub commented on #42973
User replied with more information related to the last in this thread - #4178909-zen

The full response is in the ticket with a few more details from their testing.

[2021-08-01 10:42] poojashetty18 commented on #54781
Another report: 19996224-hc
They reported the issue on the Microsoft browser as well.

[2021-08-01 12:22] aisajib opened #55086 "Notifications: User @mentions do not send any notifications"
This came up in the forums, but I was able to replicate the issue on my test site/accounts.

### Steps to reproduce the behavior

1. Invite a new user to a site if one doesn't already exist (I invited my other test account `aistesting2` as an Administrator.)
2. `@mention` the newly added/existing users on the site in a new post or a comment.
3. Log in to the other account to see if a notification

[2021-08-01 14:11] CodeAllNightNDay opened #55087 "Issue with switching a published page to draft mode"
### I have not been able to recreate this behavior. The steps taken by the user for this issue to occur are:

1. Go to http://tourdecore.com/
2. Click on any published posts with classic blocks (Example: "Online Fitness Coaching" I had to make this a draft for the user, so it wasn't a problem for me.)
3. Try to switch any post built with classic block to a draft.
4. Nothing happens for the user in

[2021-08-01 14:44] metabreakr commented on #38310
4178958-zen might be related to this. The blog has 32 users in total, however only shows 17 users in Calypso.

[2021-08-01 18:26] villanovachile commented on #49109
This would be amazing. I get requests far more than one would think, requesting to copy an Atomic site’s content to another Atomic site.

As we all know, the everything importer does not work when trying to import from a .com hosted site, and I’d rather recommend an in house solution than something like AIOWPM.

[2021-08-01 23:06] #53689 closed, assigned to bluefuton

[2021-08-02 00:48] ramonjd commented on #47848
Stale. Like toast. 🍞

But the UI hasn't changed, so is it still relevant?

<img width="310" alt="Screen Shot 2021-08-02 at 10 46 51 am" src="https://user-images.githubusercontent.com/6458278/127790824-e3ccbff8-c7a6-4d60-8a16-a6e00e36a057.png">

[2021-08-02 00:49] ramonjd commented on #47847
We have a link to view pages/posts now:

<img width="313" alt="Screen Shot 2021-08-02 at 10 49 38 am" src="https://user-images.githubusercontent.com/6458278/127790946-e502b222-3323-4abc-a923-20fb0bc84dfc.png">

[2021-08-02 00:49] #47847 closed, assigned to nobody

[2021-08-02 03:28] bluefuton opened #55090 "Feature Request: show current Jetpack Search tier at /me/purchases"
### What

The purchases section should show the current Jetpack Search tier I am being charged for

### Why

The price varies a lot between tiers:

https://jetpack.com/support/search/product-pricing/

A user in 4190269-zen said that they were confused by a price change and sent in a screenshot of /me/purchases, which gives no indication of the current Jetpack Search plan tier or number of records.

[2021-08-02 04:43] nagpai commented on #52605
It looks like this would need an enhancement in the WordPress core Video block. Am I right?

The workaround suggested by @xpurichan works well. It would be a great enhancement to have the ability to resize the video easily like an image block, or by specifying size in block settings.

[2021-08-02 05:59] amustaque97 commented on #45123
Hey @sixhours, I would love to work on this issue. I have not purchased any plan on wordpress.com and don't have GSuite. Could you please some more light on some alternate ways how can I reproduce it and test it?

Could you also please share the design principles followed here, What colour we should go for alert or remove it and any reference for the icon as well for the CTA button.

[2021-08-02 06:27] inaikem commented on #47848
Personally, I still think having more space between the `< All Posts` and `Posts` items would lead to a better, less confusing user experience (the same goes for the Pages drawer #47847).

[2021-08-02 06:40] jaz-on commented on #53978
I would like to add a few examples that go along with what Jeremy says:

- I published my first post with Jetpack Publicize today and the featured image doens't show up on LinkedIn: https://www.linkedin.com/posts/jasonrouet_je-vous-en-dis-un-peu-plus-sur-la-mise-%C3%A0-activity-6827818401939955712-pxVH
- Then I shared the same post manually and it works: https://www.linkedin.com/posts/jasonrouet_m

[2021-08-02 07:15] kosiew commented on #54939
Hi @carinapilar ,

Thanks for reporting this and the detailed steps.

To recap,

The corrupted blocks are not editable in Block Editor. They are however editable in Classic Editor.

I also took a look at post id 3417. I copied it to post id 3796 and then on each block, I clicked the 3 dots > Resolve > Convert to blocks.
The saved 3796 did not contain any errors.

I ran a search and did not see oth

[2021-08-02 07:15] #54939 closed, assigned to nobody

[2021-08-02 12:10] inaikem commented on #55086
Should be moved to 'spacelab' for further work per this interaction p1627880082000900-slack-C029HCKPXP0. Thank you, @yansern 🙏

[2021-08-02 12:14] inaikem commented on #54896
A good candidate for flow patrol.

The comment area's greeting text can be set in WP Admin and Calypso. Adding an option to customise the placeholder sounds like it would be a great addition.

[2021-08-02 12:26] inaikem commented on #54911
Thanks for reposting the bug, @gwensmithx 🙏 I was able to replicate this on a simple site with the Rebalance theme.

My AT site showed no font options at all in the Customiser. I need to perform some more tests there and will report separately.

[2021-08-02 12:46] inaikem commented on #54949
Confirmed. I am also able to replicate the issue. Also tested a dummy post on a test site. Visiting the post's URL after it's been published and trashed does not register page views like the video above.

[2021-08-02 12:58] jasmussen commented on #54860
For those of you able to reproduce this (from what I can tell this is a Safari 13 and older issue), I believe I have a fix in https://github.com/WordPress/gutenberg/pull/33817. It should be testable using http://gutenberg.run/33817.

[2021-08-02 13:04] inaikem commented on #54974
Following the steps above, I added two images to a tiled gallery as follows:
&nbsp;
- Include an ampersand in the title of one image
- Include an ampersand in the caption of the other image
&nbsp;

...and viewed them in a published post on a simple site.The exact test text I used was as follows:
&nbsp;
- Caption: Just an `&` test. Will we see `&amp;`?!
- Title: Just an `&` test. Will we see `&amp;

[2021-08-02 13:04] inaikem commented on #66206
Following the steps above, I added two images to a tiled gallery as follows:
&nbsp;
- Include an ampersand in the title of one image
- Include an ampersand in the caption of the other image
&nbsp;

...and viewed them in a published post on a simple site.The exact test text I used was as follows:
&nbsp;
- Caption: Just an `&` test. Will we see `&amp;`?!
- Title: Just an `&` test. Will we see `&amp;

[2021-08-02 13:08] davipontesblog commented on #52121
Surely, closing now!

[2021-08-02 13:08] #52121 closed, assigned to nobody

[2021-08-02 13:51] inaikem commented on #54984
Able to replicate. Tested in:

- Chrome 92.0.4515.107 
- Firefox 90.0
- Firefox Developer Edition 91.0b9

![Block Widget - Links Chrome vs FF](https://user-images.githubusercontent.com/66711744/127872214-3afbcce1-7931-414e-9a96-550104d9ff44.png)

[2021-08-02 13:56] inaikem commented on #54990
Thanks for raising this issue! I am able to replicate on my test sites.

Wondering if this and `When Headings Font Size Set in Customizer, Type Scale is Ignored on Blog Posts Block Post Titles` (#54911) are somehow related?

[2021-08-02 13:56] inaikem commented on #54911
Wondering if this and `Selecting Color from Toolbar doesn't change text color in editor` (#54990) are somehow related.

[2021-08-02 13:59] nsakaimbo commented on #48819
This issue is no longer applicable given the recently overhaul of the Desktop application's architecture - closing.

[2021-08-02 13:59] #48819 closed, assigned to nobody

[2021-08-02 14:00] nsakaimbo commented on #48825
The Desktop application's architecture has been completely overhauled and simplified since this issue was created - closing.

[2021-08-02 14:00] #48825 closed, assigned to nobody

[2021-08-02 14:03] inaikem commented on #55016
Thanks for the report! I can replicate.

It looks like the selector `.button.is-borderless.inline-help__button .gridicon` has a margin call that is out by a few pixels.

Correcting `margin: -3px 0 0 -3px;` to be `margin: -6px 0 0 -3px;` aligns the nested the SVG inside `<button title="Help" ...>`

CSS is at: https://wordpress.com/calypso/evergreen/async-load-calypso-blocks-inline-help.7f2e9c0c6b66

[2021-08-02 14:21] mmtr commented on #46077
This has been deployed to production today in r229672-wpcom.

Merged as well today, however this won't be shipped to production until next September 7 once Jetpack 10.1 is out.

[2021-08-02 14:21] inaikem commented on #55017
Thanks for raising this issue! I am able to replicate.

Long, unbroken text strings won't normally break over multiple lines unless explicitly told to (however, if the string contains a hyphen it will break across multiple lines at that point).

It's possible to target just the domain on this page using some CSS, which would make it behave as follows:
&nbsp;

<img width="414" alt="Screenshot on 20

[2021-08-02 14:29] inaikem commented on #55019
Thanks for reporting this. I was able to replicate the issue above.

Regarding the below, reloading the page manually does refresh the term variation currency and values to reflect the correct information.

[2021-08-02 14:30] eduardozulian commented on #35935
I'd still like to keep this open for future consideration. :)

[2021-08-02 15:41] michaeldcain commented on #49417
This is being tracked in 428-gh-Automattic/payments-shilling. Closing.

[2021-08-02 15:41] #49417 closed, assigned to nobody

[2021-08-02 15:41] rezzap opened #55102 "HEIC Image Uploads"
### Steps to reproduce the behavior

1. From a Mac computer, go to your iCloud Photo library in a browser
2. Click on some images and use the download icon to download images.
3. Open the folder, images are saved into HEIC format.
4. Open WordPress.com in a browser to create a new post and add an image block.
5. Select the option to upload media and use the downloaded HEIC images
6. You'll see an

[2021-08-02 15:49] sethmclellana8c opened #55103 "Calyspo Posts: Multiple items highlighted on sub-menu"
#### Steps to reproduce

1. Go to My Site (Calypso/Unified nav)
2. Go to Posts section
3. Click on three dots to the right of a certain post (which opens a drop-down sub-menu)
4. Hold cursor over different sub-menu items
5. When going from a couple menu items to others, multiple lines will highlight at the same time (see below)

#### What I expected

Only one sub-menu item is highlighted at a time

[2021-08-02 16:09] #54980 closed, assigned to rafaelgallani

[2021-08-02 16:46] #37155 closed

[2021-08-02 17:01] AtrumGeost commented on #53721
Got a similar issue here:

30930960-hc

However, the user **did** change themes yesterday from Adventure to Radiate. They didn't have any conflicting plugins installed.

I suggested the [Classic Widgets plugin](https://wordpress.org/plugins/classic-widgets/) in the meantime

[2021-08-02 17:08] ersatzpenguin commented on #55030
I'm guessing this issue is related to one reported by a user in 4192686-zen

User had Blockbase activate, and set a custom color palette. None of the custom colors were applied live on the site, and I couldn't find any mention of them in the site's styles—just the default palette variables. Clearing color cache etc. had no effect.

[2021-08-02 17:26] amustaque97 commented on #45004
Hi @sirbrillig, How to reproduce this issue? Do we have any test account or test payment details to reproduce this issue and start working on it?

[2021-08-02 17:58] jeherve commented on #50927
We have added support on WordPress.com simple already.

The theme in use on this site, however, relies on its own custom social menu implementation:
https://github.com/Automattic/themes/blob/3efbab4eb950d0a86432064a0d1b2c581f8d6a12/varia/classes/class-varia-svg-icons.php

I would recommend opening a new issue in the Themes repo, for each theme where you experience the issue, so the theme can be up

[2021-08-02 17:59] jeherve commented on #50927
Closing this issue as per the comment above. I would recommend opening new issues for each theme that needs to be updated instead.

[2021-08-02 17:59] #50927 closed, assigned to nobody

[2021-08-02 18:11] jeherve commented on #53159
They may use a common plugin that outputs invalid CSS. **I would recommend relying on the AMP plugin's validation screen in wp-admin to find out more about the exact plugin that's causing the issue on each site. It should help you understand what block and plugin causes the validation error.**

The post in your ticket doesn't seem to exist anymore, so I cannot help with this one I'm afraid.

[2021-08-02 18:48] Sandkorner opened #55105 "Reblogging issue"
### Steps to reproduce the behavior

Reblogged from myself to my test site:

From: https://learningfromdogs.com/2021/07/26/donate-to-fund-dogs-in-the-serengeti/

To: https://staffbranding.wordpress.com/2021/07/27/donate-to-fund-dogs-in-the-serengeti/

There seems to be some empty P tags.

Some information from Slack: p1627408660176900-slack-archives

#### Screenshot / Video: If applicable, add scr

[2021-08-02 19:32] arcangelini commented on #46808
I was able to test this exact post and it looks like the issue has been resolved.

[![Screenshot](https://d.pr/i/Gp1QUF+)](https://d.pr/i/Gp1QUF)

[2021-08-02 20:27] sirbrillig commented on #45004
Hi @amustaque97! Thanks for the ping.

To reproduce this issue, visit checkout on a mobile device (or a desktop device emulating mobile width) and a short enough vertical height to make sure that it's possible to scroll some of the content off the screen. Having several saved cards can help with this. For example, here's a screenshot of checkout on an emulated iPhone X just after I clicked to subm

[2021-08-02 20:51] sirbrillig opened #55107 "Improve checkout phone number validation error"
If country code validation for a phone number fails during checkout (in general you only see the phone number field if your purchase contains a domain registration), the error message reads `Enter a valid country code followed by a dot (for example +1.6285550199).`. This message is confusing because the error message is referring to the final phone number format, but the phone number field is inte

[2021-08-02 21:00] sirbrillig commented on #55107
See original report here pNPgK-5wc-p2

[2021-08-02 21:11] mreishus commented on #36226
I don't have a fix yet, but I have determined the cause.  Here's what I've found so far:

## Steps to reproduce (2021, block editor)

1. Visit post editor on simple site
2. Click the three dots menu in the top right
3. Click "preferences" at the bottom
![2021-08-02_13-32](https://user-images.githubusercontent.com/937354/127907786-dc62281f-044e-4a49-b1e1-c47111c06165.png)
4. A modal appears. Click

[2021-08-02 22:00] mreishus commented on #36226
Opened gutenberg issue: https://github.com/WordPress/gutenberg/issues/33830

[2021-08-02 22:22] kwight commented on #54816
Fantastic, thanks @mreishus ! ❤️

[2021-08-02 23:19] donalirl commented on #54201
Another report in Safari 12.1 on Mac OS X 10.12.6. No browser extensions installed.

[2021-08-03 00:15] retnonindya commented on #55048
I want to add that this is happening specifically on **post-revert** Atomic website. So far, I can only recall two incidents:

p9F6qB-7gR-p2
p9F6qB-6Yk-p2

It seems like something got stuck during the revert which causes the `Siteurl` on Network Admin to keep using the website's custom domain name -- while it should be using the `.wordpress.com` address. AT developer assistance is needed/this is s

[2021-08-03 04:22] nagpai commented on #52605
I have created a featured request for Core here
https://core.trac.wordpress.org/ticket/53864#ticket

[2021-08-03 04:25] rinazrina commented on #52209
Another case on simple site: 2676375-hc | 4193547-zd-woothemes
Didn't get the chance to ask about their browser details. Suggested to clear cache and cookies. Screenshot of the error below:

![Markup 2021-08-03 at 12 21 56](https://user-images.githubusercontent.com/33721365/127957364-bc4568f7-6e82-4b67-af84-fceaad678d92.png)

[2021-08-03 05:05] KokkieH commented on #50927
Thanks for the details, @jeherve

I've opened an issue for Varia, Seedlet and their childen, cc @xpurichan

I've added an issue for Obsidian, cc @formosattic

The other reports here don't have any info on the theme or users, so I'm not able to check if there might be other themes affected.

[2021-08-03 06:02] jordesign opened #55113 "My Home: Add checklist item for connecting Publicize"
This is a stub of a ticket for us to extend.

Knowing a user would want to share their posts to Social Media is a strong signal of their intent to blog. For user's who *do* want to blog it is also a great way for them to build traffic.

I propose we add a checklist (for launch) item, or some other messaging within My Home to encourage this.
It might be the instance that this has to be an optional

[2021-08-03 08:13] edwinho89 opened #55115 "Gallery Block: Additional background line added between 4th and 5th image in Editor"
### Steps to reproduce the behavior

1. Create a new post, add a new gallery block
2. Insert at least 6 images within gallery block
3. See error in Editor

#### What I expected to happen

Images added within Gallery block is displaying as expected

#### What actually happened

There's an additional line between 4th and 5 image within gallery block. It appears to be appearing as `.blocks-gallery-gr

[2021-08-03 08:52] edwinho89 commented on #55115
Reported in 4167917-zd-woothemes

[2021-08-03 08:54] kosiew opened #55116 "Empathy Testing: drag and drop with List view"
![image](https://user-images.githubusercontent.com/29057562/127985252-17369c1b-5fc7-4166-951f-cb08c1b70c40.png)

## Test drag and drop with List view:

![Screen Capture on 2021-08-03 at 16-37-59](https://user-images.githubusercontent.com/29057562/127985416-3418f26b-db3e-430f-8d56-da909e736830.gif)

Expected to be able to drag `test` to below `something`

Actual: `test` did not move to below `somet

[2021-08-03 09:15] devNigel opened #55118 "Empathy Testing: Text beside icons are not aligned properly"
#### Steps to reproduce

1. Open the Calypso dashboard of a site.
2. Visit Appearance > Themes
3. You will notice the text beside icons is not properly aligned.

#### What I expected

The text should be vertically aligned with its icon.

#### What happened instead

The text was not vertically aligned with its icon.

#### Browser / OS version

Google Chrome 92.0.4515.131 (Official Build) (x86_64)

[2021-08-03 09:38] devNigel opened #55119 "Empathy Testing: Popover cart price is not rounded off."
### Steps to reproduce the behavior

1. Go to Upgrades > Domains
2. Add a new domain to the site
2. Select a discounted domain such as `.blog` which has a discounted price of $9.90
3. You will notice that the domain price is not rounded off properly in the popover cart

#### What I expected to happen

The domain price in the popover cart should be the same as the listed price.

#### What actually

[2021-08-03 09:48] niranjan-uma-shankar commented on #49620
@michaeldcain I no longer see this error. Could you please confirm?

[2021-08-03 10:20] yashitamittal11 opened #55120 "Query Loop: "Choose" option in query block does not display all posts"
### Steps to reproduce the behavior

1. Go to the page editor
2. Add Query Loop block
3. Select the "Choose" option and choose a 'Post Type' from the right sidebar.
4. The block shows only 1 post

#### What I expected to happen

I expect the block to display all the posts belonging to the selected post type. Also, I expect to see an option to choose the number of posts the user wants to display in

[2021-08-03 10:30] yashitamittal11 opened #55122 "WooCommerce Product import UI issue: Continue button on the import page should be grayed on no file selection"
### Steps to reproduce the behavior

1. Go to 'WooCommerce > Products > Import' page.
2. The 'Continue' button on the page is not grayed out.

#### What I expected to happen

If the user presses the 'Continue' button without adding a file, it gives an error.
I expect the 'Continue' button to be grayed out and not clickable if no file is selected for uploading. When a file is uploaded then I expect

[2021-08-03 10:42] Aurorum commented on #55119
PR for this issue in #55123. :)

[2021-08-03 10:58] #47693 closed, assigned to nobody

[2021-08-03 11:03] Aurorum commented on #55118
PR for this issue in #55124. :)

[2021-08-03 11:10] alshakero commented on #46808
Yup and I tried with the post fully expanded as in the first screenshot, seems to be fixed as well

![image](https://user-images.githubusercontent.com/17054134/128005807-224eccca-ce14-4591-9151-c2b01dd6d8d8.png)

[2021-08-03 12:04] alshakero commented on #55017
PR ready https://github.com/Automattic/wp-calypso/pull/55125

[2021-08-03 13:43] alshakero commented on #54990
Can confirm reproducing this. It's reproducible in Rebalance theme, but not all themes. We'll investigate the issue today.

[2021-08-03 14:14] pablinos commented on #36314
The Simple site button links out to the Customizer. Seems like we should be able to do the same for Atomic sites, but my guess is that most Atomic customers don't want the footer credit by default. This would give them the option to turn it on.

[2021-08-03 14:16] bsessions85 opened #55128 "Playwright: Migrate Reader Spec"
### Details

Migrate the Webdriver reader spec to playwright.

### Checklist

- [ ] Add page objects and methods
- [ ] Migrate spec

### Related

_No response_

[2021-08-03 14:31] razvanpapadopol opened #55130 "Implement new selector createCurrentRouteURL"
My preference would be to create a new selector, `createCurrentRouteURL`, that constructs the entire `/path?query` string, and use that.

Imagine rendering the React component in an Express.js server, producing a static HTML response. There, you know the request URL: it's in the HTTP request and in the server's `Request` object. And you can use it to render the right `signupUrl` link. There's no `

[2021-08-03 14:50] jp-imagines opened #55132 "Widget visibility "match all conditions" cannot be disabled in WP Admin"
### Steps to reproduce the behavior

1. Go to `/wp-admin/widgets.php` (*My Site > Appearance > Widgets*)
2. Add a legacy widget (any)
3. Use the *Visibility* button to set at least 2 visibility conditions
4. Do not check the "Match all conditions" box
5. Save changes
6. Refresh the page

#### What I expected to happen

The "Match all conditions" box **should not** be checked.

#### What actually h

[2021-08-03 15:07] alshakero commented on #54990
PR ready here https://github.com/Automattic/themes/pull/4359

[2021-08-03 15:17] sirbrillig commented on #48419
🤔 I think this could still be a good idea

[2021-08-03 15:22] DavidRothstein commented on #55028
Discussion in planning call:  This performance issue is probably limited to users with lots of sites (E2E user is a good example of that).

Ideally we wouldn't need to call that endpoint, though, since we're already in the context of a specific site.

[2021-08-03 15:30] mreishus commented on #53721
I'm having difficulty reproducing this issue. Here are the steps that I've taken and what I saw. Broadly, after I switch to the 2021 theme I'm still seeing my widget content. Additionally, I'm running into some calypso vs. wp-admin differences when compared with the original report, which I will also highlight.

### My Steps Taken
1. Use wordpress.com/new to create a new site; selected blank canva

[2021-08-03 15:33] tameryldz commented on #53373
tam olarak sorunu yazarmısınız

[2021-08-03 15:34] #55016 closed, assigned to nobody

[2021-08-03 15:35] mreishus commented on #53721
I'm currently unsure how to move forward. I'm wondering if the problem was partially caused by the menu link destinations, and if those have changed for @AtrumGeost since the issue was initially reported?

[2021-08-03 15:44] michaeldcain commented on #55020
There's an existing pattern for this that adds the upsell nudge to the sidebar: [`<SecondaryCartPromotions />`](https://github.com/Automattic/wp-calypso/blob/38c37bbfe35b8c741c4e346637987ddc0fb3ab59/client/my-sites/checkout/composite-checkout/components/secondary-cart-promotions.tsx#L81)

/cc @Automattic/letero @saygunnyc  to see if this is on their radar

[2021-08-03 15:59] blackjackkent opened #55135 "Reader: Followed blog controls are styled incorrectly on mobile"
On mobile screen widths, the controls for managing a followed blog in the Reader intersect the header and content:

![image](https://user-images.githubusercontent.com/13437011/128047750-af55b8c2-5ee5-4066-9477-7ab90518a05a.png)

[2021-08-03 16:05] kerrynicl commented on #55085
Seems to be happening on this user's site as well - HC-27932225

[2021-08-03 16:18] michaeldcain commented on #49620
Confirmed. It might've been cleaned up by some of @sirbrillig's refactoring since the original report.

[2021-08-03 16:18] #49620 closed, assigned to nobody

[2021-08-03 17:18] saygunnyc commented on #55020
Thank you for creating the issue @arunsathiya and for the ping @michaeldcain!
Since we just launched the email step over the signup flow and the Professional Email LP I guess we might want to see how that flow will perform before we take an action here as we also discussed another version that could work within the Checkout itself as an alternative, over here. – pd2I8q-aC-p2#comment-120

Additiona

[2021-08-03 17:42] TheMukhtarAhmed commented on #49720
Hey @michaeldcain I would love to work on this issue can you please share the steps to reproduce this behavior?

[2021-08-03 20:06] allilevine commented on #54943
@villanovachile I wasn't able to reproduce this issue, so I'm hoping it was fixed! Are you still seeing it on Simple Sites?

My testing steps:
- Activate one of the listed themes on a Premium Simple Site
- Create a new post
- Check the editor sidebar for the featured image section
- Add a featured image

<img width="287" alt="Screen Shot 2021-08-03 at 4 05 28 PM" src="https://user-images.githubuse

[2021-08-03 20:17] xpurichan commented on #53626
30951205-hc
Atomic site

[2021-08-03 20:43] DavidRothstein commented on #47877
Because as amazing as it would be if issues automatically fixed themselves after 180 days, that's not the way the world actually works.

[2021-08-03 20:45] sixhours commented on #54631
Hmm, it looks like Services is a CoBlocks block that's only available to Atomic sites, and since we don't have access to their code base and it's not part of the subset of CoBlocks run on WP.com, this isn't something we can fix.

We could move this report to the appropriate place so the maintainers are aware. /cc @yansern do you know how we usually handle bug reports for CoBlocks?

[2021-08-03 20:46] AtrumGeost commented on #53721
I wasn't able to reproduce the issue anymore :(

I did the following:
- Created a new site
- Added widgets
- Enable the widget block editor sticker
- Confirmed widgets show at /wp-admin/widgets.php
- Switched themes
- Confirmed widgets at /wp-admin/widgets.php are still showing up 🤔

[2021-08-03 21:21] allilevine commented on #36321
I think we should align Simple sites with the Atomic UI in this case, since it's [the core UI](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/class-wp-customize-manager.php#L5660) and includes directions for screen reader users. We might want to keep the link to WordPress.com support, though.

@jordesign Do you happen to know of any reason to keep the Simple Site CSS UI? This is the

[2021-08-03 21:25] mreishus commented on #54411
I'm able to reproduce this. After purchasing and installing bistro on my atomic site, the theme showcase "Current Theme" card, and the info page for that theme, display information about the wrong Bistro theme. It shows a picture of a pizza (wrong theme), not a picture of vegetables (correct theme). The description mentions being a child theme of Sydney (wrong theme), not being a storefront theme

[2021-08-03 21:27] cuemarie commented on #54276
I have a user who has `coblocks-animate` rendering their content invisible on an AT site here: 4192158-zd-woothemes
I'm recommending they try removing the Additional CSS and seeing if their content looks as expected.

[2021-08-03 21:29] arcangelini commented on #46808
Closing issue. Let me know if we are missing something.

[2021-08-03 21:29] #46808 closed

[2021-08-03 21:31] kwight opened #55140 "Theme Showcase: Various button contents are poorly aligned."
The "Customize", "Info", and "Filters" buttons have at some point regressed, and now have their text and icons out of alignment.

<img width="1136" alt="Screen Shot 2021-08-03 at 2 23 02 PM" src="https://user-images.githubusercontent.com/349751/128088730-27b670b5-c7ea-4c5c-8d00-ffd0eee6a2da.png">

It appears a hard-coded height of 36px for `.components-button` may be causing the problem, contribut

[2021-08-03 21:34] allilevine commented on #36314
This seems like a similar issue to https://github.com/Automattic/wp-calypso/issues/53516.
We should add the Footer Credit section to Atomic if we want to support non-business plans on Atomic.

[2021-08-03 21:48] roo2 commented on #54441
@mattmiklic There were two different options for wording of the mobile login link option:

or

Which one do you prefer?

[2021-08-03 21:51] arcangelini commented on #54913
Tried to replicate this from the user's account, and from my own, and was not able to reproduce this at all. Are you still seeing this issue @paxblueribbon ?

## My results
https://d.pr/i/QTpNt4

[2021-08-03 21:52] roo2 opened #55141 "My Home -> Mobile App Card: Show a login link if the user has already downloaded the app"
See discussion in https://github.com/Automattic/wp-calypso/issues/54441#issuecomment-887701912

If the user has ever logged in to the app, show this card instead of the default mobile call to action.
<img width="367" alt="126821839-cdb5d756-8629-4efa-81f8-3fd3b56a445e" src="https://user-images.githubusercontent.com/22446385/128320077-3ce40c92-03d3-45db-a8d0-8349aa97fee3.png">

We can use the `mobi

[2021-08-03 21:58] yaelirub commented on #54441
Hey @roo2  👋    Matt is afk for the week.
I prefer the latter: "Check stats, approve comments, and post whenever inspiration strikes."

[2021-08-03 22:03] mreishus commented on #55140
This looks to be caused by b95f4bdeb776acf3cfa299824924e2d56fa20bcd / #53221. I am unsure of the mechanism, but I see the misalignment happening on that commit, where the directly previous commit looks aligned 38f65341ad.

![2021-08-03_17-02](https://user-images.githubusercontent.com/937354/128092274-23da9ba1-8585-497c-a3ee-dbbd9381a2de.png)
![2021-08-03_17-01](https://user-images.githubuserconten

[2021-08-03 22:13] mreishus commented on #55140
* Both Before/After: The `<a>` component has both `button` and `components-button` css classes.
* Before: The `components-button` class, which has `display: inline-flex` "wins" and the button looks aligned.
* After: The `button` class, which has `display: inline-block` "wins" and the button looks misaligned.

https://user-images.githubusercontent.com/937354/128093028-3faeee73-ff10-4443-8799-3098c5

[2021-08-03 22:14] cuemarie commented on #51540
Another report: 17561049-hc
Re-enabling Gravatar (by toggling off "Hide my Gravatar profile" in that section) resolved the issue.

[2021-08-03 22:21] mreishus commented on #55140
I'm wondering if it's because the two rules are at the same level of specificity, there's no stable way to solve conflicts, so it uses the order the rules appeared, which  b95f4bdeb776acf flipped for some reason. At least that's what I'm seeing in my browser tools:

![2021-08-03_17-19](https://user-images.githubusercontent.com/937354/128093762-a7b3c94e-eed2-4a48-b5f1-83b699034ab8.png)
![2021-08-03

[2021-08-03 22:53] villanovachile commented on #54943
Hi, Allison! Looks like it resolved (on it's own?). Closing with this issue :)

[2021-08-03 22:53] #54943 closed, assigned to allilevine

[2021-08-04 00:19] jordesign commented on #53172
Repurposing this a little for the 'Blogger Experience' Pod...

If the user has the front_page set to show 'latest posts' - the checklist item to 'Edit Home Page' makes no sense. Can we detect that setting and prompt them to "Add a Post' instead?

[2021-08-04 00:25] jordesign commented on #52632
Flagging this as an *awesome* idea for the Blogger Experience pod. This could be a great way to celebrate the success of our bloggers. We already have the mechanisms in place to track this stuff - would be great to surface it:

* In a widget (to be shown publicly) as suggested
* In My Home or Stats? Perhaps dismissibly/hideable.

[2021-08-04 00:33] jordesign commented on #49221
@simison @ianstewart  Keen for your opinion if this is a bug worth addressing as part of the Blogger Experience Pod?

[2021-08-04 03:10] aisajib commented on #55086
Just noting that there was [another forum thread](https://wordpress.com/forums/topic/email-notifications-not-being-received-about-mentions-in-comments/) about this issue.

[2021-08-04 06:39] zdenys opened #55150 "Domains: Unable to transfer an existing domain from the domain registration screen"
In the domain registration screen, if the user types an existing domain, a link shows up: “Do you own it?“. It was supposed to offer the user to transfer the domain, but the link is not leading anywhere.

### Steps to reproduce the behavior

##### For logged in users

1.  Go to _**Upgrades → Domains → Add a Domain → Without a site**_ ([https://wordpress.com/start/domain/domain-only](https://wordpr

[2021-08-04 08:13] jeyip commented on #54468
I've separated adding google fonts support to dotcom simple sites into two separate phab diffs for readability -- one for site editor changes D65114-code, and one for frontend changes D65115-code. Both are ready for preliminary code review (will update testing notes tomorrow morning)

[2021-08-04 08:18] retnonindya opened #55151 "Blog Transfer: User able to transfer blog to ANY WordPress.com users"
This came from a test and I'm curious so I opened a GH issue.

So! Transfer website from https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs -- we all know how to start it.

Now, I just found out that we can transfer the website to another WordPress.com user -- practically, *any* user on the WordPress.com. The sender (the one who initiate the transfer) received the email for confirmat

[2021-08-04 08:29] Nic-Sevic commented on #54908
another example here: 30959529-hc

This is also happening on live sites, not just in reader!

https://ecomtobusrevert.wpcomstaging.com/ at bottom you can see that the background isn't distinguished for answers and the explanation shows by default
Per the support doc these should both happen automatically.

For the time being I shared this css workaround but it will only display explanations while

[2021-08-04 09:38] #55017 closed, assigned to nobody

[2021-08-04 10:32] renata-franco commented on #52676
The issue was reported on the ticket [4195704](4195704-zd-woothemes).

[2021-08-04 11:20] Aurorum commented on #55140
Just noting that I opened a PR yesterday in #55124 to fix those issues with specificity, but that won't help if this is a wider issue with buttons outside the Themes Showcase. However, I can't seem to find an example of this happening outside the Themes Showcase? For example, the buttons with Gridicons in the Media section seem unaffected.

[2021-08-04 11:23] poojashetty18 commented on #54055
Another report on 30961676-hc
Simple site using Luxury theme.
Fixed by adding the Site logo block, setting the logo and then removing it.

[2021-08-04 11:44] ivan-ottinger commented on #46964
We are working on a notification render fallback for Slideshow block in D65094-code that will help with the issue.

[2021-08-04 11:56] mmtr opened #55155 "Atomic Downgrade: Investigate current infrastructure for reverting a site"
### Details

In order to provide Atomic users the ability to self-cancel their plans, we'll likely need to expose the current tools used by HEs behind one or more API endpoints that will be later consumed by Calypso.

One of these tools is the reverter, so let's investigate the code involved when a HE reverts an Atomic site into the Simple site infrastructure, and note our findings in a comment on

[2021-08-04 12:16] dsas commented on #55155
As an overall point, the atomic code mostly lives in WPCOM's wp-content/lib/atomic (and particularly the reverts subdir), the user interface that uses the revert code is in MCs automated-transfer/revert.php

[2021-08-04 12:46] cpapazoglou opened #55157 "EPIC: Marketplace V1"
### Details

This issue will serve as an epic issue to track progress toward launching Marketplace V1

Related P2: pdh6GB-4-p2
Analysis: https://docs.google.com/document/d/14owltmMZwX-JR91IP_71YFjlFwoR16JrvnwadjDATNI

### Checklist

- [x] #55156 Enable Staging feature flag that will allow access to all a12s to test the feature
- [x] #55574
- [x] #55309
- [x] #55575
- [x] #55576
- [x] #55577
- [x]

[2021-08-04 12:47] yuliyan commented on #49636
Closing the issue as it seem the correct translation is currently being used:
![CleanShot 2021-08-04 at 15 46 03](https://user-images.githubusercontent.com/2722412/128183127-769ae8c1-c401-4484-92c0-2884dedd6cfb.png)

[2021-08-04 12:47] #49636 closed, assigned to nobody

[2021-08-04 13:01] renata-franco commented on #54781
Reported here: [4180786](4180786-zd-woothemes)
User did not say what browser they are using.

[2021-08-04 13:48] #55118 closed, assigned to nobody

[2021-08-04 13:48] #55140 closed, assigned to nobody

[2021-08-04 14:04] #54426 closed, assigned to sixhours

[2021-08-04 14:39] mmtr opened #55160 "Atomic Downgrade: Create API endpoint skeleton"
### Details

In order to provide Atomic users the ability to self-cancel their plans, we'll likely need to expose the current tools used by HEs behind one or more API endpoints that will be later consumed by Calypso.

While we determine the code involved in such tools in https://github.com/Automattic/wp-calypso/issues/55155, we can start creating a new API endpoint with some basic mechanisms.

Sin

[2021-08-04 15:07] dsas commented on #55155
Just sticking some notes in a series of comments as I go, I'll collate and tidy up into a P2 later.
### UI

This shouldn't really matter, but it explains how the tool that HEs use works.

- Entry point is in `missioncontrol/automated-transfer/revert.php`
    - This collects up details on the reversion and then displays `missioncontrol/automated-transfer/templates/revert.php`
        - If a site is

[2021-08-04 15:08] dsas commented on #55155
### Revert to simple

- Starting from `AT_API->handle_api_request` (see missioncontrol/automated-transfer/includes/class-at-api.php)
- The action is hard_revert
- Gets the transfer object using `get_mc_atomic_Transfer` (this is simply the most recent non-error db record for the given blog hydrated into a `Transfer_Record` object and then a `MC_Atomic_Transfer_V2` object) and then calls it's `rever

[2021-08-04 15:09] ifedayoagboola opened #55161 "Issues installing packages with yarn"
#### Steps to reproduce

1. I tried to clone the repository https://github.com/Automattic/wp-calypso.git
2.After cloning successfully, yarn install does not work.
3.I get the following error:
4.error C:\Users\Muller\Desktop\Projects\CallypsoTask\wp-calypso\node_modules\testarmada-logger: Command failed.
Exit code: 1
Command: npm run build
Arguments:
Directory: C:\Users\Muller\Desktop\Projects\Call

[2021-08-04 15:14] sixhours commented on #54651
This is not fully fixed after merging #55041 so I'm reopening it, with the caveat that it's not a high priority issue.

[2021-08-04 15:35] sixhours commented on #54430
It appears the extra settings are hidden on purpose, since there's potential for confusion when saving a draft of a site that isn't launched, or scheduling the changes to go live on a site that isn't launched.

The CSS indicates we really intend to hide that button:

[code]

I see a few potential options:

* Don't hide the settings for unlaunched sites. Maybe hiding the cog wheel is more confusing

[2021-08-04 15:55] mreishus commented on #54411
The first thing I tried was the straight forward approach of 'always preferring theme information from a jetpack/atomic site if it exists':
[code]

Unfortunately, that leads to a degraded experience when viewing theme information for default, bundled themes like twentytwentyone on jetpack/atomic sites:
![2021-08-04_10-32](https://user-images.githubusercontent.com/937354/128213434-c76da5de-2682-437

[2021-08-04 15:58] sixhours commented on #54430
Chatted with @michaeldcain about this and it turns out these options won't work if a new user hasn't confirmed their email address. D38569-code has the backstory.

I'd suggest we un-hide the button for folks who *have* confirmed their email address to at least avoid confusion for more users. A stretch goal would be to add some kind of messaging to the Customizer when a user hasn't confirmed their

[2021-08-04 16:14] ccwalburn opened #55163 "Payments Block: Allow Monthly Payment Plan to have a Sign-up Fee"
This is a request to add the ability to allow monthly payment plans to have a sign-up fee similar to how [WooCommerce Subscriptions ](https://woocommerce.com/products/woocommerce-subscriptions/)does:

![screenshot](https://d.pr/i/ppGqy7+)
Image URL: https://d.pr/i/ppGqy7

30702623-hc
4198245-zen

[2021-08-04 16:15] synora commented on #54508
FSE doc is complete: https://wordpress.com/support/full-site-editing/

[2021-08-04 16:49] blackjackkent opened #55167 "Subscriptions - Comment subscriptions are separate from blog subscriptions and inaccessible(?)"
While one's blog subscriptions are viewable at https://wordpress.com/following/manage, comment subscriptions appear to be only available at http://subscribe.wordpress.com, a completely separate interface and experience (and one that, as far as I can tell, is not even organically reachable from anywhere in Calypso).

![image](https://user-images.githubusercontent.com/13437011/128221576-998431de-465

[2021-08-04 16:49] worldomonation commented on #18922
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-08-04 16:49] #18922 closed

[2021-08-04 16:50] worldomonation commented on #18506
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-08-04 16:50] #18506 closed

[2021-08-04 16:50] worldomonation commented on #49575
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-08-04 16:50] #49575 closed, assigned to nobody

[2021-08-04 16:51] worldomonation commented on #49224
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-08-04 16:51] #49224 closed, assigned to nobody

[2021-08-04 16:51] worldomonation commented on #49220
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-08-04 16:51] #49220 closed, assigned to nobody

[2021-08-04 16:52] worldomonation commented on #49219
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-08-04 16:52] #49219 closed, assigned to nobody

[2021-08-04 16:52] worldomonation commented on #49091
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-08-04 16:52] #49091 closed, assigned to nobody

[2021-08-04 17:03] sixhours commented on #54430
Started working on this in D65128-code

[2021-08-04 17:04] #55119 closed, assigned to nobody

[2021-08-04 17:18] blackjackkent opened #55168 "Subscriptions: Action bar appears differently based on simple/atomic and domain purchase status"
There appear to be a number of different factors influencing how the action bar appears in the bottom right of a site for a user to follow its posts. This may not be an exhaustive list, but:

A simple site with a WPCOM URL displays the follow button and a drop-up with links to managing subscriptions, etc:

![image](https://user-images.githubusercontent.com/13437011/128225225-0b4d13d7-8cde-46f6-92e

[2021-08-04 17:33] tellisbethel commented on #49109
I had a user who would have benefited from this recently! The thread is a bit difficult to parse, but it's essentially about migrating back and forth between their staging and live site: 4189329-zd-woothemes. (This isn't the first time I've come across this, but I just found out about this issue.)

[2021-08-04 17:50] wpshellbelle commented on #53159
Another report in 30818287-hc

[2021-08-04 18:38] mreishus commented on #53721
Since neither of us are able to reproduce the issue, I'll close it; we can always re-open if it becomes an issue again.

[2021-08-04 18:38] #53721 closed, assigned to mreishus

[2021-08-04 18:38] synora commented on #55054
Triaged. Can replicate.

[2021-08-04 18:52] synora commented on #54055
I'm unable to replicate this on simple or Atomic sites.

[2021-08-04 18:52] #54055 closed, assigned to nobody

[2021-08-04 18:55] synora commented on #55115
Triaged. Can replicate.

[2021-08-04 19:26] kwight opened #55171 "Subscriptions: Audit what Tracks and bump stats we have active."
Subscriptions have existed for a long time, and the various screens and Calypso may have a varying level of stats coverage. Let's find out what we're working with: what screens and buttons have what stats tied to them.

[2021-08-04 20:09] nicolynramos opened #55175 "Display Name Not Updating Across Atomic Site"
### Steps to Reproduce

1. On Atomic site, follow wordpress.com/me to update Display Name
2. View posts by user and see the Display Name has not been updated.

### What I expected to happen

Posts should show the updated Display Name

### What actually happened

Old display name shown

### Context

Since the site is Atomic, I also tried updating through WP-Admin
1. Click on Users
2. Switch to Clas

[2021-08-04 20:12] amustaque97 commented on #45004
Hi @sirbrillig, after going through your comment. I'm still not able to reproduce this issue.
In order to fake payment success, I have updated `stripeCardProcessor` function [stripeCardProcessor Function](https://github.com/Automattic/wp-calypso/blob/93735fe8a5291e0b10a8090eab90e69ad4efbc43/client/my-sites/checkout/composite-checkout/lib/multi-partner-card-processor.ts#L61) something like this.

`

[2021-08-04 21:28] creativecoder commented on #54468
@jeyip Have you thought about how we will deploy these changes to Atomic sites, as well, and how we'll keep the Simple and Atomic implementations in sync?

I think its best if we figure this out before committing anything to wpcom (though I appreciate having the diffs to start testing).

[2021-08-04 21:51] worldomonation opened #55177 "Playwright: change name scheme for failed screenshots and recordings"
### Details

Currently, the screenshots and video recording that are saved when a test step fails uses the name of the test step.
I thought this was a good idea, but turns out it is not as it makes the file name confusing.

Use either the file name or the overall suite name as with Jest, there is only one chance for test to pass.

### Checklist

_No response_

### Related

_No response_

[2021-08-04 21:58] arcangelini commented on #54280
Just posting some notes here on what I have found.

It looks like the WPCOM API call for these as well as a few other domains such as jurassic.ninja ( [see issue here](https://github.com/Automattic/wp-calypso/issues/47289) ) is using the FEED URL rather than the SITE URL as most of the other API requests show.

#### Working request
<img width="1551" alt="Markup 2021-08-04 at 16 45 06" src="https:/

[2021-08-04 22:01] kwight commented on #55048
Asked for help: p1628114406069700-slack-C7YPW6K40

[2021-08-04 22:06] mreishus commented on #36226
I want to understand more about the broader meaning of this setting, why it's off on wpcom, and how I can create easy steps to reproduce and possibly a bugfix on gutenboard without involving simple at all.

First of all, here's what the custom fields setting controls if it's on and working:
![2021-08-04_16-58](https://user-images.githubusercontent.com/937354/128260907-a8283edf-ef61-4dd1-9db3-44657

[2021-08-04 22:19] kwight commented on #55048
Fixed two days ago by @jmdodd  👍

[2021-08-04 22:19] #55048 closed, assigned to nobody

[2021-08-04 23:27] jeyip commented on #54468
@creativecoder I haven't given those ideas as much attention, but that's a great question. I've been focused on making sure the extension points that we're hooking into work as expected.

I've had two approaches floating around in my head, which I assumed were interchangeable (although I haven't verified). Feel free to correct me if either of these _don't_ actually work, if they're too simplistic,

[2021-08-04 23:36] p-jackson commented on #54919
D64878-code has shipped

[2021-08-04 23:36] p-jackson commented on #54919
No it hasn't ...

[2021-08-05 00:01] autumnfjeld commented on #54226
@deBhal  I'm confused why you closed this.  It's the umbrella issue for the navigation feature.  The feature isn't in shipped yet.  I'm reopening it.

[2021-08-05 00:11] autumnfjeld commented on #54919
![bitmoji](https://sdk.bitmoji.com/render/panel/c7cb9dee-3c6f-488e-96e3-76db13f87c0d-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.png?transparent=1&palette=1&width=46)
This can be shipped once https://github.com/Automattic/wp-calypso/pull/55089 is shipped.
Correct me if I got that wrong @deBhal & @roo2 .
p1628121874050900/1628119955.044000-slack-CRWCHQGUB

[2021-08-05 00:14] bluefuton commented on #55090
Some prior work was done on this by @jsnmoon in https://github.com/Automattic/wp-calypso/pull/41646 but it was never shipped.

[2021-08-05 00:28] lsl commented on #49021
Still an issue.

[2021-08-05 00:44] roo2 commented on #54919
phew, yep just once #55089 is shipped, if this were shipped first (a8c dev's only) would see multiple cards but not be able to dismiss them.

[2021-08-05 01:05] roo2 opened #55180 "update tracks `calypso_customer_home_card_impression` to only fire when card is viewed"
With the multiple card slider https://github.com/Automattic/wp-calypso/issues/54226 we are now sending a `calypso_customer_home_card_impression` event to tracks for every card that is loaded.

It should only be sent when a card is actually viewed. Probably only the first time that the card is viewed

[2021-08-05 01:48] autumnfjeld commented on #55113
Per @p-jackson 's comment: pdgAPm-D-p2#comment-15 we'd want to think this through since we already have a post-launch card for integration with social media.

[2021-08-05 05:02] scinos opened #55181 "calypso-build requires webpack 5 and 4"
`@automattic/calypso-build` has a `peerDependency` on `webpack@^5.46.0`. But some of its dependencies (eg. `cache-loader`) have a `peerDependency` on `webpack: '^4.0.0'`.

As result, `calypso-build` peer dependencies can't be satisfied and it makes some package managers (i.e. Yarn v3) throw a lot of warnings.

[2021-08-05 05:06] scinos opened #55182 "Migrate from `npx` to `yarn dlx`"
### Details

We use `npx` in several places in our repo. Yarn offers the same functionality under `yarn dlx`, we should migrate.

### Checklist

_No response_

### Related

_No response_

[2021-08-05 05:17] scinos opened #55184 "Migrate Desktop to be part of the main dependency tree"
### Details

`./desktop` has its own dependency tree: it has its own `yarn.lock` and it is not defined as a workspace in `./package.json`.

We should merge it to the main dependency tree.

In theory this should be as easy as declare it as a workspace in `./package.json` and delete its `yarn.lock`, but that will likely a) update lots of dependencies (either in desktop or calypso sides) and b) cause

[2021-08-05 05:42] kuropixel commented on #50740
Another report: 2452046-hc / 4199678-zen

The user (simple site) had a total of 8 podcasts episodes, but only 7 were showing up, but not the latest.
On a test simple site, I added a podcast block and input the user's RSS feed with a Podcast block and the latest episodes showed.

I tried clearing the site's cache via directions "clear the site cache through the μ menu (Simple site)" but this did no

[2021-08-05 06:51] kdevnel commented on #43715
This may no longer be an issue but it may impact the work being done on the Atomic Downgrade process.

[2021-08-05 06:55] retnonindya commented on #43715
... ... I forgot I had this GH issue 🥲 So sorry!

It seems like this issue is no longer exists. @jmdodd has upgraded the downgrade process so no matter what the actual site's status is, the temporary AT site will always be public. However, yep, we can keep this in mind to ensure the downgrade works smoothly.

[2021-08-05 06:58] pauljacobson commented on #50560
We have another instance of this issue in 4197568-zen and the user would like to be updated once we have managed to resolve the issue.

[2021-08-05 07:56] Robertght commented on #49505
Great catch @mrfoxtalbot ! Checking with them now.

[2021-08-05 08:01] scinos opened #55185 "Move packages to ESM"
Node 16 suppors ESM, we should move all our packages to use ESM instead of CJS.

Useful reads:
* https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c
* https://2ality.com/2021/06/typescript-esm-nodejs.html

[2021-08-05 08:20] devNigel opened #55187 "Facebook Embed for Facebook post links with vertical videos are not responsive in mobile"
### Steps to Reproduce

1. Go to a Facebook page and find the post URL and video URL for a vertical / portrait video.
For example, FB Post URL: https://www.facebook.com/bbcnews/posts/10158942255397217
FB Video URL: https://www.facebook.com/bbcnews/videos/1728479674027688
2. Add a new page / post in an Atomic or Simple site with any theme and embed the above links.
3. You will observe that the Face

[2021-08-05 08:46] roo2 opened #55188 "My Home -> Mobile App Card: Update copy on mobile CTA"
This is simply to update the copy of the subtitle on the app download call to action card.

New subtitle:

<img width="379" alt="126821839-cdb5d756-8629-4efa-81f8-3fd3b56a445e" src="https://user-images.githubusercontent.com/22446385/128320851-d969c121-9033-46b2-b603-d170ccd27795.png">

[2021-08-05 09:04] kosiew commented on #55079
Hi @bsanevans ,

Thanks for reporting this and the detailed steps.

From "Photo Metadata (Exif)" at https://wordpress.com/support/settings/media-settings/#photo-metadata-exif, the settings indeed should affect only the exif data.
(i) and Description should be available regardless of the Exif setting.

[2021-08-05 10:05] mmtr opened #55191 "Atomic Downgrade: Add revert functionality to cancel/delete purchase endpoints"
### Details

Let's add the Atomic revert functionality to the API endpoint created in https://github.com/Automattic/wp-calypso/issues/55555 which matches the current behavior of the existing revert tool (see https://github.com/Automattic/wp-calypso/issues/55155#issuecomment-892737726 and  https://github.com/Automattic/wp-calypso/issues/55155#issuecomment-892738741).

The revert process should be t

[2021-08-05 10:20] carinapilar opened #55193 "Akismet Shows Your API key is no longer valid on Simple Sites"
### Steps to Reproduce

1. Go to the menu Jetpack > Akismet Anti-Spam

### What I expected to happen

To see Akismet-related settings on that page.

### What actually happened

It shows the message _"Your API key is no longer valid. Please enter a new key or contact support@akismet.com."_.

### Context

More details here: pd4QKa-aH-p2
Reported on 4198137-zd-woothemes
Found a recent discussion abou

[2021-08-05 10:41] mmtr opened #55194 "Atomic Downgrade: Support queued cancellation/removals"
### Details

D66763-code adds support for asynchronously removing/cancelling a plan from an Atomic site, so let's remove the current restriction in Calypso that prevents users for performing that action.

### Requirements

- Place logic behind an inactive [feature flag](https://github.com/Automattic/wp-calypso/tree/trunk/config#config). Should be explicitly enabled using the `?flags=` param.
- Ren

[2021-08-05 10:58] zdenys commented on #55193
I can replicate it on a test account, in Chrome, but also on a Simple site where my a11n account is an Admin and not the owner of the site.

![image](https://user-images.githubusercontent.com/39308239/128339132-405283f3-4cf6-448d-a9ca-3ad2ea80e9f4.png)

[2021-08-05 12:34] Addison-Stavlo opened #55198 "Site Editor - Undo Trap from `navigation-link`s in block patterns."
### Steps to reproduce the behavior

1. Visit the site editor on a valid test site.
2. Insert a "Header" from the sidebar inserter.
3. select "Create Header", choose a pattern and create.
4. press the "undo" button, notice nothing is undone.

An undo trap has been created, preventing the user from being able to use 'undo' to undo the template part creation action or any actions prior to it.

<s>Im

[2021-08-05 14:01] mmtr opened #55202 "Atomic Downgrade: Investigate current infrastructure for importing Atomic content into a reverted site"
### Details

In order to provide Atomic users the ability to self-cancel their plans, we'll likely need to expose the current tools used by HEs behind one or more API endpoints that will be later consumed by Calypso.

One of these tools is the lossless importer, so let's investigate the code involved when a HE imports the Atomic content into the reverted site, and note our findings in a comment on

[2021-08-05 14:03] mmtr opened #55203 "Atomic Downgrade: Investigate current infrastructure for removing a plan from a reverted site"
### Details

In order to provide Atomic users the ability to self-cancel their plans, we'll likely need to expose the current tools used by HEs behind one or more API endpoints that will be later consumed by Calypso.

One of these tools is the Store Admin, so let's investigate the code involved when a HE removes the current plan from a reverted site, and note our findings in a comment on this issu

[2021-08-05 14:04] mmtr opened #55204 "Atomic Downgrade: Investigate current infrastructure for issuing a refund to a reverted site"
### Details

In order to provide Atomic users the ability to self-cancel their plans, we'll likely need to expose the current tools used by HEs behind one or more API endpoints that will be later consumed by Calypso.

One of these tools is the Store Admin, so let's investigate the code involved when a HE issues a refund to a customer due to a plan removal, and note our findings in a comment on thi

[2021-08-05 14:12] mmtr commented on #55155
Thanks, @dsas! Very helpful information 🙂

As discussed in Slack, I separated the whole investigation into 4 smaller tasks, so I think we can close this one for now.

[2021-08-05 14:12] #55155 closed, assigned to dsas

[2021-08-05 14:24] dsas commented on #55202
The current UI is documented [here](https://github.com/Automattic/wp-calypso/issues/55155#issuecomment-892737726), but in summary it ends up inside AT_API in the missioncontrol repo, so I'll cover from there

- Starting from AT_API->handle_api_request (see missioncontrol/automated-transfer/includes/class-at-api.php)
- The action is lossless_import
- Gets the transfer object using `get_mc_atomic_Tr

[2021-08-05 14:30] #54778 closed, assigned to nobody

[2021-08-05 14:33] mmtr commented on #55202
Brilliant! Thanks, @dsas.

[2021-08-05 14:33] #55202 closed, assigned to dsas

[2021-08-05 14:51] sixhours commented on #54631
Pinged the Create flow patrol team to see if they have ideas where we can report this.

[2021-08-05 14:59] #54674 closed, assigned to nobody

[2021-08-05 15:17] sixhours commented on #54631
Opened a bug with CoBlocks: https://github.com/godaddy-wordpress/coblocks/issues/1977

[2021-08-05 15:17] #54631 closed, assigned to sixhours

[2021-08-05 15:27] khareyash05 opened #55205 "add contributing.md"
I would like to add following things in contributiong.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream

[2021-08-05 15:49] jjchrisdiehl commented on #55046
Resolved in #55174 - closing this issue

[2021-08-05 15:49] #55046 closed, assigned to jjchrisdiehl

[2021-08-05 15:55] allilevine opened #55207 "Plugins: No progress indicator while site is transferred"
### Steps to reproduce the behavior

1. Create a new site with a business plan
2. Go to /plugins or click Plugins in the nav
3. Choose a plugin to install
4. Install the plugin
5. See a progress bar that says "Installling..."

#### What I expected to happen

More information about what's happening and how long it will take. We've added screens like this to the ecommerce flow: https://github.com/Au

[2021-08-05 16:01] sixhours commented on #51928
There's no longer an "Advanced Users Management" menu item; it looks like it was introduced in https://github.com/Automattic/jetpack/commit/007dfa5db1d36bdb7cf34bc41abf9d260378b004 and removed in https://github.com/Automattic/jetpack/pull/20147

[2021-08-05 16:01] #51928 closed, assigned to sixhours

[2021-08-05 16:01] allilevine commented on #53911
The ecommerce flow part of this issue was completed by https://github.com/Automattic/wp-calypso/pull/55073.
I've opened https://github.com/Automattic/wp-calypso/issues/55207 to address the plugins flow.

[2021-08-05 16:01] #53911 closed, assigned to allilevine

[2021-08-05 17:03] sixhours commented on #41508
This appears to be working OK for me; I'm not great with Voiceover, but I can tab through the site, access the help button, tab through the results, and open them and read them:

https://user-images.githubusercontent.com/2124984/128390090-295e1199-cd29-4b59-bb34-14ae70c5edfd.mov

I'm also able to do this on an iPhone with Voiceover enabled using taps/double-taps in Chrome.

I've no doubt there's m

[2021-08-05 17:22] sixhours commented on #41706
I can confirm that the icons are no longer read by Voiceover after nav unification.

This is still happening; every item is read as heading level two, and there's no indication that menu items can be expanded/collapsed.

[2021-08-05 17:40] sixhours commented on #41784
I tested this on my iPhone and desktop with Voiceover and can confirm the draft/autosave is loaded properly and can be accessed by tapping/tabbing depending on the device:

https://user-images.githubusercontent.com/2124984/128395521-3dc6bc50-8f37-4074-9a37-321b450500c9.mov

That said, this appears to be a slightly different notice from the one mentioned in the original ticket. This is a local brow

[2021-08-05 17:50] andres-blanco commented on #11116
I managed to reproduce this issue. When a user follows a post comment with only email (non wp.com user) you wont see the email here

1. Follow a post comments with email (without being logged in)
![image](https://user-images.githubusercontent.com/375980/128396290-f7e158f3-07a3-444b-95e2-9485a8565625.png)

1. Confirm follow through email
![image](https://user-images.githubusercontent.com/375980/128

[2021-08-05 18:00] philnick206 opened #55213 "Hide link to enable and disable auto-updates for plugins on Atomic sites"
### What

Since automatic updates on all registered plugins are managed by WordPress.com and cannot be changed by customers, we should eliminate the link for customers to enable/disable auto-updates

### Why

It is confusing to go to the plugins list on a site and see the option to enable/disable auto-updates for plugins when this setting has no effect.

<img width="1176" alt="Markup 2021-08-05 at

[2021-08-05 18:32] amustaque97 commented on #55213
Hi @philnick206, I would love to work on this issue. I want to work on this  "Managed by host" approach since it will give users a better idea about who all are controlling these plugins. Recently, I started contributing to WordPress. I have a quick question. Do I need to change it in this calypso repo only or how to find places where I need to update this text?

[2021-08-05 18:38] synora commented on #55081
Triaged. Can replicate.

[2021-08-05 18:48] sixhours commented on #41784
Aha, figured out how to trigger the autosave notice; make a change and immediately Preview the change, then reload without saving.

I'm still able to navigate to the autosave link, both on desktop and my iPhone, and dismiss the notice in either case:

https://user-images.githubusercontent.com/2124984/128398567-88e6e009-c56d-4014-ab53-cc1ebd6b65fc.mov

I've browsed through the closed PRs in Gutenbe

[2021-08-05 18:48] #41784 closed

[2021-08-05 18:59] synora commented on #55085
I tested on an Atomic site using Twenty Twenty-One.
The caption is definitely cut off on hover:
<img width="100" alt="Screen Shot on 2021-08-05 at 14-55-52" src="https://user-images.githubusercontent.com/10015451/128405840-5c6ca3ea-e000-4871-b978-1b964d1b03e9.png">

But not when I click on the image:
<img width="1584" alt="Screen Shot on 2021-08-05 at 14-55-07" src="https://user-images.githubuserc

[2021-08-05 19:10] synora commented on #55151
At one point, I thought https://wordpress.com/support/transferring-a-site-to-another-wordpress-com-account/ stated you need to add the would-be new owner as the admin of the site, then you can transfer the site to them. The doc doesn't seem to support that though.

I'll keep the bug label on for now unless someone else chimes in otherwise.

[2021-08-05 19:16] mrfoxtalbot opened #55215 "Blog Posts Block: Converting to reusable block removes block content preview in the editor"
### Steps to Reproduce

1. Create a new post
2. Add a Blog Posts block.
3. Convert the Blog Posts Block into a reusable block

### What I expected to happen

I expected the content of the Blog Posts block to be visible inside the reusable block

### What actually happened

The Reusable block's content does not reflect the actual content of the Blog Posts block, showing a template for 3 posts inste

[2021-08-05 19:23] synora commented on #55193
I can replicate this in my non-A11n account as well.

[2021-08-05 19:27] sixhours commented on #41706
I tested @richardkang112's branch and confirmed that changing the `h2`s to anchors both simplifies what's read by Voiceover when you navigate the menu, and it adds the expanded/collapsed state:

<img width="797" alt="Screen Shot 2021-08-05 at 3 24 35 PM" src="https://user-images.githubusercontent.com/2124984/128409252-c6290232-2b60-4507-b7a0-1b19a6d7e380.png">

This seems like a big accessibility

[2021-08-05 19:34] synora commented on #55087
Hi @CodeAllNightNDay 👋
Do we know when this user is planning to switch themes? I do wonder if this issue will resolve itself once they switch.

[2021-08-05 19:35] mreishus commented on #36226
I believe this requires coordination between Gutenberg and WordPress.org. I have opened PRs on both that fix the problem in conjunction.

* Trac issue: https://core.trac.wordpress.org/ticket/53883
* wordpress-develop PR: https://github.com/WordPress/wordpress-develop/pull/1548
* Gutenberg issue: https://github.com/WordPress/gutenberg/issues/33830
* Gutenberg pr: https://github.com/WordPress/gutenb

[2021-08-05 19:38] sethmclellana8c opened #55217 "No preview from Post menu screen"
#### Steps to reproduce

1. Go to My Site dashboard of site
2. Click on Posts
3. Either on published posts or drafts, click on three-dot menu in list of posts
4. In Published posts, click on "View" | In Draft posts, click on "Preview"
5. Gray screen shows on pop-up (buttons still visible)

Versus

1. Go to a post in "Edit" mode
2. Top right, click "Preview
3. Preview of post shows on pop-up

####

[2021-08-05 19:49] sixhours commented on #41785
When I access the revisions area with Voiceover, I'm read the date, author, and number of changes (words added, words removed) when targeting each of the revision buttons:

https://user-images.githubusercontent.com/2124984/128411872-512db571-fa8b-4f6b-a9b0-339a19be080c.mov

Same for my iPhone using taps/double-taps. I don't see any changes in Calypso that might have accounted for this, and it appe

[2021-08-05 19:49] #41785 closed

[2021-08-05 20:34] jp-imagines commented on #52209
Another report on a simple site: 23146975-hc / 4198811-zen
User on Chrome 92.0 on Mac OS X 10.13.6.

They were seeing the "Sorry, you are not allowed to edit this post error." at times, but also were able to access the editor but *unable* to publish a draft post other times.
They also mentioned that sometimes the editor wasn't loading for them at all.

Switching to Safari resolved these issues.

[2021-08-05 21:14] chad1008 commented on #54859
"Add new post" and "Convert to audio" both looking good on 11.2.0 👍

[2021-08-05 21:40] sixhours commented on #50604
Investigating this, and in my case, the first post that uses the Classic block does not have formatting, but the following posts in the shortcode do.

This is how the plugin applies `the_content` filters to the output, which looks like I'd expect:

[code]

Core's default filters on the content are here:

[code]

Disabling `do_blocks` or applying `wpautop` later in the sequence (setting a priority

[2021-08-05 21:45] sajmes commented on #53159
Following up on the report immediately above for 30818287-hc/4198650-zd-woothemes.

Slideshow block on posts. AMP validator shows: `The mandatory attribute '⚡' is missing in tag 'html'.`

Please update user when resolved.

[2021-08-05 21:52] sixhours commented on #50604
Aha, so `do_blocks` in core removes the `wpautop` filter, probably to avoid adding extra paragraph tags:

[code]

I'm not sure why it only does it the first time, though. Probably something to do with using `get_posts` within The Loop.

I think we can get away with applying `wpautop` manually in the Display Posts shortcode, before we've applied `the_content` filters. It doesn't seem to visually ch

[2021-08-05 21:52] arcangelini commented on #49505
I spent some time trying to see what could be done and it may not be as simple as I thought. The sharing buttons are not something that are present and available to be enabled/disabled on the page. Rather, they are a stored state that is specific to each site. When a site is set to Private it seems that Jetpack removes all the sharing buttons from the state and leaves just Email and Print.

## Pri

[2021-08-05 21:55] mreishus opened #55219 "JS Error when creating a new site; "Applying Design" step hangs"
### Steps to reproduce the behavior

1. Create a new browser profile in chrome
2. Visit WordPress.com
3. Create a new account with an `@example.com` email address
4. Create a new site; choose the `.wordpress.com` domain and the free plan
5. As it creates your site, it hangs on the "Applying Design" step, with a javascript error

[code]

![2021-08-05_16-53](https://user-images.githubusercontent.com

[2021-08-05 21:57] dpasque commented on #54992
Investigation update!

As I've been investigating this specific issue, I've been taking a step back to address the broader question of "How do we want to handle test data isolation in our E2E tests?" This site bootstrapping approach is one approach, but I figured it is worth exploring all the options to make sure we have the best path going forward, as they all come with tradeoffs!

Here are the t

[2021-08-05 21:59] dpasque commented on #54992
Proposed overall plan:

- Shake out any unknowns for the above mentioned approaches
- Lay out the pro's con's of each, with my recommendation
- Once chosen, map out implementation steps and get churnin'

[2021-08-05 22:03] jordesign commented on #36321
I think my only concern would be that the wall-of-text in the core version is potentially a little offputting. But you could maybe argue that is a good thing ;)

In either case - I think it is reasonable (and the best option) to match what core has in place. But +1 to docs needing to be updated (@donalirl) and this is something we'd want to give Happiness a quick Heads Up about when it is launchin

[2021-08-05 22:09] autumnfjeld commented on #54402
~This seems like a great issue to look into.~   @p-jackson  @jordesign @ianstewart .  First understanding what this would entail.  I'll have to get educated on email systems.

EDIT: sorry guys, I was trigger happy,  should have done the vetting first, see my comment below.

[2021-08-05 22:37] ccwalburn opened #55221 "Varia Themes: Request to Not Display Submenus of Submenus Unless Hovering or Clicking on the Parent Submenu"
### What

Only display Submenus of Submenus when hovering or clicking on the parent submenu

### Why

If there are nested submenus, the Varia themes display all submenus and their submenus under the main heading.

This is how the Varia themes look:

![screenshot](https://d.pr/i/EdSlwL+)
Image URL: https://d.pr/i/EdSlwL

This is how it looks with Independent Publisher:

![screenshot](https://d.pr/i

[2021-08-05 23:06] #54863 closed, assigned to arthur791004

[2021-08-05 23:22] jordesign commented on #55103
I've been able to recreate/confirm this in Chrome on Mac OS Big Sur as well.

[2021-08-05 23:34] autumnfjeld commented on #54402
This is the email  that my follower-account received from my blogger-account.

The complaints from the[ user mentioned](30528687-hc)  include dislike of the word"Howdy",  and the phrase "follow a post".   These did not appear in my email.

![image](https://user-images.githubusercontent.com/5665959/128433865-e47bdff3-595a-4372-ae2a-76028b9bd723.png)

From my perspective the email is very benign, ve

[2021-08-05 23:41] autumnfjeld commented on #55180
@roo2   Could you make the description a little bit clearer?   With **Testing Instructions** section?    I think this is meant for test the tracks events, but there isn't a PR and itsn't clear what or how the tester is supposed to test.

Also please ping Phil or Arthur  to get reviews through as quickly as possible. (You may already be doing that)

![bitmoji](https://sdk.bitmoji.com/render/panel/4

[2021-08-05 23:54] jordesign commented on #51279
Closing this as a duplicate of https://github.com/Automattic/wp-calypso/issues/44263

[2021-08-05 23:54] jordesign commented on #54402
I feel like there's potentially a suite of things we could address about the current notification emails. If we were to take this on - I'd also be interested in looking into whether we can toggle notifications on/off per post as mentioned in https://github.com/Automattic/wp-calypso/issues/44263

[2021-08-05 23:55] jordesign commented on #54402
There's also the bigger questions of:
1. Customizing design (like having your own logo)
2. Being able to send emails to your list other than post-notifications.

They may well be beyond our scope - but worth considering Post notifications holistically I think.

[2021-08-05 23:56] #51279 closed, assigned to nobody

[2021-08-06 00:00] jordesign commented on #53488
@alaczek are you happy for this to be closed in favour of the gutenberg issue?

[2021-08-06 00:02] jordesign commented on #53800
If we were considering work on https://github.com/Automattic/wp-calypso/issues/44263 - a change to the default behaviour on re-publishing posts could be a good step.

Then the user opts in/out on sending the notifications at the re-publishing stage as well.

[2021-08-06 00:41] alaczek commented on #53488
Yep, good to close!

[2021-08-06 00:41] #53488 closed, assigned to nobody

[2021-08-06 01:35] mxhassani opened #55222 "Premium Theme TheFour - Portfolio Types With Non-Latin Characters Break the Type Filter"
### Steps to Reproduce

1. With a Premium plan site
2. Activate TheFour theme
3. Go to writing settings and activate Portfolio
4. Add two types, with at least one containing on its title one of these characters: § | 문 | ى
5. Populate these types with some projects (Add featured images)
6. Go to yourdomain.com/portfolio
7. Try to filter by type

### What I expected to happen

Clicking any type will

[2021-08-06 02:20] p-jackson commented on #54402
There is on P2. Maybe this email was sent after they'd _commented_ on a post, and that caused the post to be followed?

[2021-08-06 03:49] bluefuton commented on #55219
Should be fixed by revert in #55223.

cc @donlair

[2021-08-06 03:49] #55219 closed, assigned to nobody

[2021-08-06 04:56] richardkang112 commented on #41706
Hi @sixhours, thank you for testing the branch. I'll be happy to create the PR for this issue.

[2021-08-06 07:09] Greatdane opened #55228 "Premium Content Block not fully navigable in List View"
### Steps to Reproduce

1. Add the **Premium Content Block** to a page.
2. Open **List View**.
3. Navigate between **Subscriber View** and **Logged Out View** in the **List View** - you won't be able to!

### What I expected to happen

Clicking on either **Subscriber View** and **Logged Out View** while navigating the **List View** should take me to that section of the block to edit.

![Screenshot

[2021-08-06 07:21] Greatdane opened #55229 "Fix inconsistent wording on Premium Content Block"
### What

There is Inconsistent wording between the Editor and List view

### Why

Better User Experience and to avoid any confusion.

### How

While we have **Subscriber View** in both locations, we have **Vistor View** in the page editor, but **Logged Out View** in the List View. We should also display these the same way around (i.e Vistor View listed first in both the page editor and List View)

[2021-08-06 07:25] yansern commented on #54631
Apologies as I was AFK and yes https://github.com/godaddy-wordpress/coblocks/issues/1977 seems like the place to report this issue!

[2021-08-06 07:36] mmtr opened #55231 "Nav Unification: Screen Options tab is missing on Customizer screens"
#### Details

When we removed the global "show wp-admin pages" toggle in https://github.com/Automattic/wp-calypso/pull/54387, we intentionally continued using its value as fallback when a user has still not set a preferred view with the new "Screen Options" tab. See p7DVsv-ch6-p2#comment-36832.

This is problematic on the Customizer and derived screens (such as Widgets or Menus) because we don't r

[2021-08-06 07:37] mmtr commented on #55231
@JanaMW27 since you worked in the design of the "Screen Options" solution, are you able to take a look and propose a design for including the quick switcher on the Customizer screens?

[2021-08-06 08:17] dsas commented on #55160
I've had an initial stab at this, see D65210-code

[2021-08-06 08:43] JanaMW27 commented on #55231
After exploration and chat with @mmtr we have decided to default to wp-admin in all pages since the functionality is not lost and provides a consistent experience. In addition, the users can access the calyspo view through wp-admin.

[2021-08-06 09:00] yansern commented on #54280
This got me wondering where this component is used because obviously it is being used in more than one place.

Did some digging and stumbled upon https://github.com/Automattic/wp-calypso/pull/13166.

In that PR description, it says: "ensure that the siteUrls and siteTitles in **full-post, combined-cards, manage/following, reader-post-cards, and feed-streams** all look good."

To switch it over to

[2021-08-06 09:28] jordesign commented on #54402
Yeah - could be. If they'd opted in to be emailed with follow up comments.

[2021-08-06 09:43] priethor commented on #54280
As a side note, I managed to follow the sites that were giving me issues by importing a manually edited `reader-export.opml` export fil, adding the blogs' main site URL to the `htmlUrl` attribute and the feed URL to the `feedUrl`attribute. These URLs seem interchangeable in some sites like P2s but are not in the sites that were not working properly, which would contain a trailing `/feed/` in their

[2021-08-06 11:07] philnick206 opened #55235 "Stratford: Full width blocks show outside editor window (negative margins)"
### Steps to Reproduce

1. Create a new page
2. Add one of the predefined page layouts under Home

### What I expected to happen

The blocks should be visible and show up properly in the editor window

### What actually happened

The blocks are partially off the screen in the editor

![Uploading Markup 2021-08-06 at 12.02.52.png…]()

### Context

Testing during quick start prep.

### Operating Sys

[2021-08-06 12:15] swoodipto opened #55237 "XML content import not working on Simple sites"
### Steps to Reproduce

1. Go to **Tools > Import**
2. Click **WordPress** option
3. Click the **"upload it to import content"** link
4. It redirects back to the **Tools > Import** page again with `?retry=1` appended at the end of the URL. Like so `https://wordpress.com/import/example.wordpress.com?retry=1`

### What I expected to happen

Clicking on "upload it to import content" should have took

[2021-08-06 13:02] mmtr opened #55239 "Atomic Downgrade: Display revert warning"
Currently, when a HE reverts an Atomic site, they provide the following predef to the customer so they are aware of the changes that will happen:

[code]

In order to provide Atomic users the ability to self-cancel their plans, we need to display this warning (or a variant) prior to actually revert the Atomic site to the Simple sites infra.

This can be also implemented before we have ready the au

[2021-08-06 13:08] mmtr opened #55240 "Atomic Downgrade: Allow users to download a backup before revert"
Currently, when a HE reverts an Atomic site, they ensure the user has downloaded a backup of all the Atomic content, since all the content generated by third party plugins/themes would disappear, and backups won't be accessible any more after the revert.

In order to provide Atomic users the ability to self-cancel their plans, we need to allow them to download a backup prior to actually revert the

[2021-08-06 13:17] davipontesblog commented on #17191
Moving to our HE triaging board to check if this warrants keeping it open, or if we can close it. Maybe now with the new pods for Importers we can review this as well and see if it warrants perhaps a few different issues to keep the scope of each focused on specific errors that can occur with importing - this one here seems very general and therefore will be difficult to properly "close". cc @kosi

[2021-08-06 13:27] zdenys opened #55242 "Domain Only Sites: Impossible to Add Site Redirect"
### Steps to Reproduce

On a Domain Only site, try and visit the link to add the Site Redirect: https://wordpress.com/domains/add/site-redirect/ (mentioned here https://wordpress.com/support/site-redirect/)

### What I expected to happen

See a screen where I can purchase the redirect

### What actually happened

No such screen is loading although the URL changes to `https://wordpress.com/domains/

[2021-08-06 13:35] ivan-ottinger commented on #46964
The issue is now fixed with D65094-code and deployed in production:

![Markup on 2021-08-06 at 15:31:52](https://user-images.githubusercontent.com/25105483/128518075-8a54ac26-4dc5-42df-97ba-7def76f5bbdc.png)

We chose a simpler notification display that shows the first slideshow image and then a link "View slideshow (x slide(s))".

This is the fallback UI we came up with. Feel free to iterate on h

[2021-08-06 13:35] #46964 closed

[2021-08-06 14:13] mmtr opened #55243 "Atomic Downgrade: Add import functionality to cancel/delete purchase endpoints"
Let's add the Atomic lossless import functionality to the API endpoints created in https://github.com/Automattic/wp-calypso/issues/55555 which matches the current behavior of the existing revert tool (see https://github.com/Automattic/wp-calypso/issues/55202#issuecomment-893501968).

The Atomic content should be imported into the reverted site once the revert has been successfully completed via an

[2021-08-06 14:40] sixhours opened #55244 "Customizer: Add messaging when user has not verified email address"
### What

When a user has not yet verified their email address, make it known they will not be able to access certain features in the Customizer.

### Why

Following up on #54430, we hide publish settings (draft and scheduling) when a user has not verified their email address.

I suspect there are other circumstances where features don't work the same way unless they've verified their email addres

[2021-08-06 14:41] sixhours commented on #54430
Deployed in r229924-wpcom. Created a feature request for more clarity in the Customizer about non-verified users; closing this as fixed!

[2021-08-06 14:41] #54430 closed, assigned to sixhours

[2021-08-06 14:51] JoshuaGoode commented on #55213
Hi @philnick206!

Being able to control update settings for non-WPCOM plugins is now expected behavior after some recent platform changes.  The settings now work.

While an announcement was made, we'll get a more specific internal announcement + documentation updates going.

This only applies to plugins we install, manage, and symlink on the WordPress.com platform.  The `Managed by host` plugins a

[2021-08-06 14:56] JoshuaGoode commented on #55213
If the WPCOM product decides this isn't a good idea, we can reopen this feature request and get it to the right teams.

For now, I might mark this as closed as this is now intentional behavior.

[2021-08-06 15:27] allilevine commented on #55193
@mmtr @stephdau Could this be related to D64710-code ?

[2021-08-06 15:42] sixhours commented on #50604
Started a diff here: D65229-code

[2021-08-06 15:49] alshakero commented on #53953
So I was briefly able to reproduce this issue in Safari. The TinyMCE plugin was unable to load, and the Classic block depends on it.

Clicking Reload while pressing Shift (hard reload) fixed the issue and I can't reproduce it anymore.

Can someone please ask a user to try this and let me know if it helps? It helped on my machine and I can't do anything about it if it's just a cache issue.

[2021-08-06 15:56] dpasque commented on #37157
@Automattic/flow-patrol-create tagging in case this is might be in your purview.

[2021-08-06 15:59] dpasque commented on #55085
@Automattic/flow-patrol-create

[2021-08-06 16:11] jartes opened #55248 "Editor: Block preview styles not loaded"
### Steps to Reproduce

1. Create a new post or page and add a block that has styles, like Table, Images, or Tiled Gallery.
2. Open the block settings and check and toggle the Styles section if it's not opened.
3. Check the preview images:

![Markup on 2021-08-06 at 18:09:56](https://user-images.githubusercontent.com/1046943/128539999-5d9c1b66-6eec-46a0-ba43-6f7cfd206a7c.png)

### What I expected

[2021-08-06 16:13] dpasque commented on #55081
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 16:18] dpasque commented on #54896
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 16:31] jeyip commented on #54468
@creativecoder friendly ping to see if you have further thoughts about [my suggestions](https://github.com/Automattic/wp-calypso/issues/54468#issuecomment-893041643).

Also wondering if others have thoughts about the best way to make google fonts support available to simple + atomic sites @Addison-Stavlo, @mattwiebe ( see [link](https://github.com/Automattic/wp-calypso/issues/54468#issuecomment-89

[2021-08-06 16:34] dpasque commented on #50752
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 16:38] Addison-Stavlo commented on #54468
That seems like a good way to go about it.  I wonder if its better to go ETK or Jetpack for this? 🤔

[2021-08-06 16:38] dpasque commented on #54704
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 16:43] delputnam commented on #55150
Closing this since it was addressed in #55159

[2021-08-06 16:43] #55150 closed, assigned to nobody

[2021-08-06 16:46] dpasque commented on #51415
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 16:49] dpasque commented on #51669
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 16:54] worldomonation opened #55251 "Site Importer: options other than WordPress display a blank page."
### Steps to Reproduce

Prerequisite. log in as a testing account user. I was shown a different importer when logging in with my personal account.

1. start at /home.
2. from the sidebar, navigate to Tools > Import.
3. confirm the following options are present: [WordPress, Blogger, Medium, SquareSpace, Wix]
4. click on an option other than WordPress.

### What I expected to happen

- as with click

[2021-08-06 17:21] dpasque commented on #54754
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 17:23] dpasque commented on #54723
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 17:24] creativecoder commented on #54468
**Update Editing Toolkit Plugin**

@jeyip The main problem adding new features to ETK is that about 38% of Atomic sites still don't have the plugin active (probably because they were created before it was released), so those users never see the feature. Enhanced fonts seem like a basic feature that most users expect to be available, so this seems like a major problem to me.

Another proposal I've

[2021-08-06 17:25] worldomonation commented on #55251
Potentially related: #55149

[2021-08-06 17:30] dpasque commented on #54785
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 17:32] dpasque commented on #54800
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-06 17:54] simranvijwani commented on #55151
It seems @retnonindya's nightmare came true. I had a user in the chat 30882248-hc who wanted to delete their site but could not due to an error. They asked me if they can transfer the site to any random WordPress.com account to get rid of it. I told them they should not, and it wouldn't be possible since they'll need to add them as a user first on their site, but to my surprise, they could transfe

[2021-08-06 18:38] #55213 closed, assigned to nobody

[2021-08-06 18:52] KirkwallDay opened #55256 "Veni theme header on latest posts page doesn't scale properly on iPad in landscape view."
### Steps to Reproduce

Veni Theme header doesn't scale properly when you have an iPad on landscape view.

1. Have a site on Veni Theme with the latest posts page up.
2. View the site on an iPad in landscape view.
3. The header doesn't scale properly.

### What I expected to happen

The header should scale properly to try and show more of the image. Here's what the test site looks like on portrait

[2021-08-06 19:02] synora commented on #55102
When I get to step 5, my HEIC image is grayed out in my folder-it's unclickable.  I cannot upload a HEIC image to my Media Library.

I attempted to drag and drop the image in the Media Library and that's when I got the "1 file could not be uploaded because the file type is not supported." Tested on a simple site.

[2021-08-06 19:12] synora commented on #55116
Triaged. I'm able to replicate this intermittently.

[2021-08-06 19:25] synora commented on #55120
In the Query Loop Block's toolbar, there's a "display settings" button. Click on that reveals an "items per page" option. You can enter the number of posts to display there.

https://user-images.githubusercontent.com/10015451/128561650-44b132bb-e51c-4a45-8fe4-c41b1d4904e5.mov

 It sounds like you were looking for this setting to be the block settings (sidebar) area @yashitamittal11? If so, we'd ne

[2021-08-06 19:29] synora commented on #55132
Triaged. Can replicate.

[2021-08-06 19:30] blackjackkent opened #55257 "Subscriptions: Followed Site Count Inconsistent between calypso and subscribe.wordpress.com"
When viewing a list of followed sites from the Calypso Reader, the count of followed sites differs from the count on subscribe.wordpress.com, which seems to cap it at 9.

![image](https://user-images.githubusercontent.com/13437011/128562186-defca87e-9a89-4a2c-89f7-6aa6593bb3af.png)
![image](https://user-images.githubusercontent.com/13437011/128562222-9fe0b133-0eef-45da-98f7-072fa774864a.png)

[2021-08-06 19:34] kcswong opened #55258 "Post Carousel block displaying posts with no featured image"
### Steps to Reproduce

1. Add a Posts Carousel block to a page or post
2. Make sure at least one of your latest posts that will appear in the block doesn't have a featured image
3. Save the changes

### What I expected to happen

The posts with no featured image would not appear in the block. Related report: https://github.com/Automattic/newspack-blocks/issues/542

### What actually happened

The

[2021-08-06 19:44] nsakaimbo commented on #40376
To all on this thread: we're closing this issue as we expect this and a whole host of other issues to be resolved by the new version of the application (v7) that was just released. The latest build can now be downloaded from the WordPress Desktop landing page [here](P7jrAc-3-p2).

[2021-08-06 19:44] #40376 closed

[2021-08-06 19:53] synora commented on #55258
Triaged. Can replicate.

[2021-08-06 20:50] dpasque commented on #54992
Can confirm re: option 1 above that we are able in the NodeJS e2e process to programmatically...
- Create new test users
- Create new test sites for users
- Upgrade those test sites to the needed plans

[2021-08-06 21:01] mreishus commented on #49528
I'm having trouble getting backup credentials to work over JT on my docker jetpack install. I don't even have an FTPD or SSHD installed on this machine, and I'm not sure I want to.. is there a way to fake the backups so I can work in this area?

[2021-08-06 21:23] michaeldcain commented on #41632
@nbloomf: is this still relevant?

[2021-08-06 21:23] michaeldcain commented on #43023
@nbloomf: did our more recent throttling changes fix this specific issue?

[2021-08-06 22:03] JoshuaGoode commented on #52511
The WordPress.com on Atomic platform was experiencing some updater issues around this time which is why unmanaged plugins were not updating automatically as expected. That specifically is now resolved. p7DVsv-cgt-p2 .  Along with things being fixed, sites can now control which unmanaged plugins auto-update.

As for Gutenberg on that specific site, it is not the managed/symlinked  version at the ti

[2021-08-06 22:26] kcswong opened #55259 "Private site Viewers automatically changed to Followers when invited"
### Steps to Reproduce

1. Set site to Private
2. Invite a user as a Viewer from Users > Add New
3. Go back to Users > Invites

### What I expected to happen

Invited user should be listed as a pending Viewer

### What actually happened

Invited user is listed as pending Follower, and therefore doesn't have access to view the Private site.

### Context

Follow up in 4204169-zen. Replicated on anot

[2021-08-07 01:59] joweber123 commented on #53990
I am having a very similiar thing happen and I have found that it is coming from having the **Image Gallery Carousel** set to **Display images in full-size carousel slideshow.** enabled.  When this setting is disabled, the extra `data-carousel-extra` is not added to the html.

**Setting Enabled**
![Markup on 2021-08-07 at 10:58:04](https://user-images.githubusercontent.com/24914028/128584428-834b1

[2021-08-07 03:36] joweber123 commented on #52030
Another report here 4204264-zen

User on the Twenty Twenty theme with Cabin selected for a font in the Customizer.  This shows correctly on the live site but does not show in the Editor.

[2021-08-07 03:46] joweber123 opened #55263 "Timeline Block: Editor displays extra timeline line"
### Steps to Reproduce

1. Add the timeline block to a page/post with two entries
2. On the parent block select **Alternate items**.
3. View the extra line that appears to form a square instead of the proper styling that appears in the Editor.

![Markup on 2021-08-07 at 12:40:20](https://user-images.githubusercontent.com/24914028/128586874-cefdd080-2b61-40e2-b504-c8e77e22d1a1.png)

### What I expe

[2021-08-07 07:53] kosiew commented on #17191
I have a case that sounds just like this issue! - p7BdiT-eB-p2

[2021-08-07 08:29] alshakero commented on #37157
Thanks @dpasque! I'll pass this one since it's more of a feature request than a bug. Nonetheless, I completely agree we should implement this!

[2021-08-07 08:54] rezzap opened #55264 "Shoreditch Theme: Line Height in Editor no longer being applied correctly"
### Steps to Reproduce

1. Start by activating the Shoreditch theme and create a new post with two three paragraph blocks.
2. Notice the line height between the paragraphs.
3. Activate a different theme like Blank Canvas and notice the difference in line height.

### What I expected to happen

I expected that the line height would be the same between themes, or at least be visually easy to read.

[2021-08-07 09:44] alshakero commented on #55081
I managed to reproduce.

Atomic site, business plan, theme Plane.

Can confirm it's only reproducible on Atomic sites, tested with Plane on a simple site and it works.

[2021-08-07 12:01] rezzap commented on #55102
Yes, sorry, this is only happening on drag and drop at that point. :)

[2021-08-07 20:35] kelasante commented on #53100
Another case in 4186989-zen.

[2021-08-08 00:06] wpshellbelle commented on #55175
Report here: 30920688-hc

I did find that the display name is not updating on the site. Instead, the display name is displaying as the username. As a workaround, you can update the display name via CLI.

Issue is only present on Atomic sites.

[2021-08-08 05:26] inaikem opened #55266 "Poor reader load times on web when following a large number of sites"
### Steps to Reproduce

1. Follow 1000+ blogs via Reader.
2. Load Reader.
3. Wait.
4. Reader buttons, UI and WPcom support links eventually load in after content (>10 seconds).

### What I expected to happen

I expected the same beahviour on our apps, where only a subset of posts are initially loaded, thus reducing page load times and ensuring customers have almost immediate access to our support

[2021-08-08 05:35] inaikem commented on #55266
@kwight, just checking in. Are these kinds of performance enhancements in-scope for the Subscriptions Pod?

[2021-08-08 07:49] inaikem opened #55267 "Slideshow block: Provide toolbar or block setting options to be able to add links to individual images"
### What

I would like the option to set links on specific images or the entire block.

### Why

We have the option to visually add links to all (or at least) most other image-related blocks. For users, not having this option in this block represents a feature disparity with other image blocks and goes against expected behaviour.

While possible to add links via image captions for this block, this

[2021-08-08 09:46] MaxPhilip commented on #50560
Another `Error connecting to WordPress Try again` here: #4202417-ZD

[2021-08-08 09:54] Nic-Sevic opened #55268 "Hive: Latest posts on homepage display wrong direction when set to RTL"
### Steps to Reproduce

1. Set site to RTL
2. Set homepage settings to display latest posts
3. see that only posts block displays LTR still

### What I expected to happen

whole site should display RTL unless direction was manually overridden

### What actually happened

the posts pulled into the built in posts section had their direction overwritten

### Context

4205795-zen

### Operating System

[2021-08-08 13:07] philnick206 commented on #55237
Another report in #4203481-zen

[2021-08-08 13:51] philnick206 commented on #55237
Another report in #4203652-zen

[2021-08-08 14:23] ersatzpenguin opened #55269 "Luxury: Align wide blocks have larger width on mobile than viewport"
### Steps to Reproduce

1. Activate Luxury.
2. Set up a page (without a sidebar).
3. Add an align wide block (ex: group block) with content.
4. View the block on mobile/smaller tablet.

### What I expected to happen

The contents of the align wide block should remain in the viewport.

### What actually happened

The contents of the align wide block are cut off on the left and right.

Ex:
![Annotat

[2021-08-08 15:40] ChrissiePollock opened #55270 "Offer accessibility message for single letter/word color changes"
### What

When we change the text color and background color in the block settings and the colors are not great for reading, there is the warning message we see on https://d.pr/i/3aXtJA. That option doesn't show on single letter or word changes as shown on https://d.pr/i/NDnid8 when I try changing a word color to white even though there is a white background.

### Why

This will keep people readin

[2021-08-08 18:12] msilbers opened #55272 "Independent Publisher 2: Mobile menu toggle displays as white on white"
### Steps to Reproduce

1. Switch a WordPress.com site to Independent Publisher 2 theme
2. Do not change the default colors in the Customize > Colors & Backgrounds section
3. View site on mobile

### What I expected to happen

The menu toggle should be visible

### What actually happened

The menu toggle displays as white text and border and is not visible on the white background

### Context

rep

[2021-08-08 18:13] kathrynwp commented on #55272
pinging @sixhours since you worked on this recently - thanks! :)

[2021-08-08 20:57] msilbers opened #55273 "VideoPress: Allow Play Button Size Customization"
### What

A setting in Video blocks or within VideoPress to customize the Play button size

### Why

Customer noticed that the Play button appears bigger than previously and wanted it smaller, in #31030242-hc. Because it's in an iframe, we can't change it with CSS

### How

_No response_

[2021-08-08 22:32] #54676 closed, assigned to arthur791004

[2021-08-08 23:00] ramonjd commented on #42035
Is this still relevant? I've a mind to close it since so much has changed since the good old days :)

[2021-08-08 23:33] andrewserong commented on #42035
Thanks for the reminder, Ramon! Agreed, I'll close it out since this issue is from so long ago, and the Gutenboarding flow is currently only in use (in practice) for logged in users.

[2021-08-08 23:33] #42035 closed

[2021-08-08 23:38] ramonjd commented on #41308
🍞

[2021-08-08 23:38] #41308 closed

[2021-08-09 03:08] jordesign commented on #54286
Closing this in favour of #52205. Please feel free to re-open if there's something different about this instance.

[2021-08-09 03:08] #54286 closed, assigned to nobody

[2021-08-09 03:08] p-jackson commented on #50365
This is the "Latest Comments" block from core Gutenberg. It's actually working as expected, but perhaps it can be argued that "as expected" is confusing.

The block only shows an excerpt from each comment, as can be seen in the block settings.
<img width="280" alt="Screenshot 2021-08-09 at 12 30 14 PM" src="https://user-images.githubusercontent.com/1500769/128656116-3f9f4e26-9b44-4714-8574-d44369a

[2021-08-09 03:09] formosattic opened #55274 "Embed cards when sharing links to external sites"
### What

Show embed cards when sharing links to external sites, similar to how some social media platforms do it.

### Why

For people who just want to share links, the visuals would be nicer.

User report: 4206198-zd-woothemes

### How

When pasting just a link, or via the Embed block, have an embed card showing.

For example, when sharing https://www.theguardian.com/sport/2021/aug/04/tokyo-2020

[2021-08-09 03:24] p-jackson commented on #50365
While it's working as expected I thought of a few points

1. To me it seems that each comment should be truncated according to its own language rules. So English comments are truncated by word and Chinese comments are truncated by character. This would require each comment to be stored with its own locale metadata, and that's probably too over the top to ever be implemented in core. But just thoug

[2021-08-09 03:24] p-jackson commented on #50365
@autumnfjeld I'm taking a look at a fix for (3)

[2021-08-09 05:20] autumnfjeld opened #55276 "Wellness Blog"
We are working to improve the WP experience for bloggers and offering better blog designs is key to this effort.

We have many gaps in our blog designs, so this is a part of the effort to fill them up. We already have a couple of designs in the pipeline: pcjTuq-p4-p2

**The general process:**
1. Pick up one of the verticals we want to fill and start the design process in Figma.
2. Post for feedbac

[2021-08-09 05:26] autumnfjeld opened #55277 "Change Blogger default theme :)"
# Description
This is part of [iteration #2 Write & Build flow ]( pdgK6S-78-p2#write-build-intent-screen in the  production of Blogger Flow v1). 👏

The existing WP.com themes don't serve bloggers well.
"Let's get rid of the blue trees." - @jordesign ;)

We want users to get to writing as soon as possible, and one way to encourage that is to put a simple, elegant, easy-to-blog-with design in front

[2021-08-09 05:34] p-jackson commented on #50365
Proposed fix for (3) in WordPress/gutenberg#33944

[2021-08-09 05:43] #55180 closed, assigned to roo2

[2021-08-09 05:49] alaczek commented on #55277
I also wanted to include this summary:
"Let's get rid of the blue trees." - @jordesign ;)

We also have a project thread for this: pdgK6S-1h-p2

[2021-08-09 06:01] retnonindya opened #55279 "Donations block: Stripe checkout is unresponsive when viewed using iOS 14"
### Steps to Reproduce

1. Use iOS device with iOS 14 (for example, iPhone)
2. Open a page with Donations block
3. Type or choose the amount. Click "Donate"

### What I expected to happen

In mobile, I expect to see black/dark green overlay and a pop-up window for Stripe payment and checkout.

Please check the GIF recording (from Browserstack) here:
https://cldup.com/HqGemSuDBI.gif

Please note, t

[2021-08-09 06:38] alaczek commented on #55276
We have many gaps in our blog designs, so this is a part of the effort to fill them up. We already have a couple of designs in the pipeline: pcjTuq-p4-p2

**The general process:**
1. Pick up one of the verticals we want to fill and start the design process in Figma.
2. Post for feedback + design iteration.
3. Build in the Editor + design teaks as needed.
4. Generate theme (pcjTuq-p4-p2).
5. Add st

[2021-08-09 07:02] jeherve commented on #49528
@mreishus Is Jurassic Ninja an option for you, instead of JT? Backups will work there.

[2021-08-09 07:04] autumnfjeld opened #55281 "Empathy Testing aka Dave's order of operations:"
p58i-aqv-p2#comment-50287

- [x] Go through your focus yourselves as if you were a customers. Spend a solid hour just clicking through flows and trying to do things as if you were a customer. Look for things that stand out. Look for bugs. Fix those.
- [ ] Use FullStory to watch actual customers go through your section. Look for things that stand out. Look for bugs. Fix those.
- [x] Reach out to HE

[2021-08-09 07:41] autumnfjeld commented on #54226
This the final diff that ships this change to production: D65266-code

With this I believe we can call this feature complete!
cc: @deBhal @roo2

[2021-08-09 07:52] fresatomica commented on #52808
Yes, @mrfoxtalbot, that is correct. Even though the post is set to display the whole content, parts of the post that were added via Reusable Block will not be displayed.

[2021-08-09 08:03] ivan-ottinger commented on #49226
I was able to reproduce the issue. The ALT text is missing in the Reader:

![Markup on 2021-08-09 at 10:02:25](https://user-images.githubusercontent.com/25105483/128675853-59810cb7-1935-4b56-9be5-abbda917b313.png)

I am going to investigate the issue further.

[2021-08-09 08:04] lsl opened #55282 "Enable woo on select simple sites"
D65152-code

This could be risky per pMz3w-cpz-p2 but should be ok per discussions with team gold.

Before:
![Screenshot 2021-08-09 at 18-09-56 My Home ‹ Woo on Plans — WordPress com](https://user-images.githubusercontent.com/811776/128676622-6a042f23-b500-4c28-83a8-0a66166131b4.png)

[2021-08-09 08:35] pauljacobson opened #55283 "WordPress.com Stats: Previously included countries no longer included in traffic sources"
### Steps to Reproduce

1. Head to WordPress.com > My Sites > Stats
2. For certain days, countries that were previously listed as traffic sources are no longer listed
3. For example, 2 August 2021, 31 July 2021, 27 July 2021

![Capture_2021-08-09 at 11 27 54@2x](https://user-images.githubusercontent.com/2912202/128678543-684e3290-589e-47cf-9c4c-9f75b5934aec.png)

### What I expected to happen

Cou

[2021-08-09 08:59] poojashetty18 commented on #53626
#4208252-zen
Atomic site

[2021-08-09 09:44] mmtr commented on #55193
@allilevine quite possible yeah. I'm not able to reproduce it though, tested with both an a11n account and a non-a11n account, so I'm not sure what's causing the message to appear 🤔

[2021-08-09 10:01] #42334 closed

[2021-08-09 10:01] #41299 closed

[2021-08-09 10:03] simison commented on #52511
cc @tjcafferkey @obenland FYI above, might be some good simple/Atomic work to sort out?

[2021-08-09 10:15] kosiew commented on #55122
Hi @yashitamittal11 ,

Thanks for reporting this and the detailed steps.

Transferred to https://github.com/woocommerce/woocommerce/issues/30454

Closing this.

[2021-08-09 10:15] #55122 closed, assigned to nobody

[2021-08-09 10:16] sgomes commented on #42430
This issue is still relevant.

[2021-08-09 10:17] sgomes commented on #42482
This issue is still relevant.

[2021-08-09 10:40] kosiew commented on #52676
Hi @aleone89 ,

Thanks for reporting this and the detailed steps.

From "Add Links to your Navigation" at https://wordpress.com/support/full-site-editing/fse-blocks/navigation-block/#add-links-to-your-navigation, "Existing Menu" is a way to initialize the Navigation block. It is possible to amend the Navigation block after initializing by adding further links.

In addition, from the Code Editor (h

[2021-08-09 10:51] kosiew commented on #55175
Hi @nicolynramos ,

Thanks for reporting this and the detailed steps.

I tested and could not replicate this:

![Screen Capture on 2021-08-09 at 18-48-57](https://user-images.githubusercontent.com/29057562/128695652-8405b8ca-ae43-42b4-bb3e-8ae1d0eb8657.gif)

Theme: Storefront child theme: Bistro.

Closing this. Please reopen if you have additional context to add.

[2021-08-09 10:59] kosiew commented on #55283
Hi @pauljacobson ,

Thanks for reporting this and the detailed steps.

Added next investigation steps - 29f12-pb

[2021-08-09 11:18] dsas commented on #55191
If I've understood correctly this won't be possible - a reverted site will no longer be atomic and hence the permissions check implemented in #55160 will give a 403.

I think this means this "is atomic" aspect of the permissions check ought to become something only checked on POST, for the GET it ought to just be reflected in the status.

[2021-08-09 11:35] mmtr commented on #55191
@dsas right, let's change the permissions check and perform the "is atomic" one only on `POST` requests. `GET` requests should allow any site as long as the request is coming from an admin. The status for non-reverted Simple sites could be something like `{ status: 'unavailable' }` (but feel to change it to something else if you can think of a better status name).

[2021-08-09 11:59] iamgabrielma commented on #49394
Removing `[Status] Stale`, this is still a valid enhancement request.

[2021-08-09 13:04] chad1008 opened #55285 "Gutenberg: [v11.3.x] plugin upgrade"
Previous upgrade: #54859
Release notes: [v11.3.0](https://github.com/WordPress/gutenberg/releases/tag/v11.3.0)

- [x] Install and activate
   - [x] Copy & install v11.3.0-rc.1 (D65427-code, D65427-code, D65462-code, D65455-code)
   - [x] Activate v11.3.0-rc.1 on edge (D65469-code)
   - [x] Copy & install v11.3.0 (D65661-code, D65663-code)
   - [x] Activate v11.3.0 on edge (D65667-code)
   - [x] Ac

[2021-08-09 13:24] sixhours commented on #55272
Yep, I probably broke something. :) Will work on this today.

[2021-08-09 13:28] dpasque commented on #55283
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-09 13:30] dpasque commented on #52676
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-09 13:40] sixhours commented on #55272
Patch started here: D65278-code

[2021-08-09 13:45] dpasque commented on #55105
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-09 13:45] dsas commented on #55191
I pushed the permissions change as D65279-code and will continue on with the other changes on this issue

[2021-08-09 13:46] dpasque commented on #55116
Tagging @Automattic/flow-patrol-create based on issue content

[2021-08-09 13:49] dpasque commented on #55120
Waiting on response from @yashitamittal11 to clarify issue before finishing prioritization triage!

[2021-08-09 13:51] syds87 opened #55287 "Classic block - Caption not showing up for WebP images"
### Steps to Reproduce

1. Add a new Classic block
2. Click the Add Media icon
3. Choose a WebP image from the library or upload a new WebP image.

### What I expected to happen

I expected to see the caption, as it happens if I choose a JPG image, instead of a WebP one.

### What actually happened

The caption is not displayed, under the image.

### Context

Reported in #4207206-ZD
I have tested

[2021-08-09 13:56] alshakero commented on #55081
Hi @Copons and @david-binda! I have been fighting with this issue by trying to create a replica of this fix (D22775-code) for atomic sites, but to no avail.

Would really appreciate any guidance or direction on this. Since the business logic was already discussed [here](https://github.com/Automattic/wp-calypso/issues/28938), it seems reasonable to also always allow featured images in atomic sites

[2021-08-09 13:57] sixhours commented on #50604
Deployed in r230003-wpcom

[2021-08-09 13:57] #50604 closed, assigned to sixhours

[2021-08-09 14:44] mikeicode opened #55289 "Goodz Magazine: Mobile menu hamburg toggle display issue"
### Steps to Reproduce

1. View mobile menu toggle on mobile
2. View the thickness of the center line

### What I expected to happen

The 3 horizontal lines of the menu should be the same thickness

### What actually happened

The middle line is too thick, on the initial header and the sticky header.

![hamburg](https://user-images.githubusercontent.com/10353785/128724826-b4514262-ebb4-41c0-aeac-d

[2021-08-09 15:28] mikeicode opened #55291 "Contact Info block: Should have text alignment options"
### What

The Contact Info block should have text alignment options, similar to the Paragraph block.

### Why

Text added with this block can't be centered or right aligned.

Reference: 31024993-hc

### How

Should have the option like the Paragraph block.

**Contact Info block:**

![Screen Shot on 2021-08-09 at 11:20:49](https://user-images.githubusercontent.com/10353785/128731364-39fe637e-017a-4

[2021-08-09 15:38] ahmadbaig1 commented on #55193
A user reported this- zd-4207985

[2021-08-09 16:01] worldomonation commented on #54688
@dpasque Would you say this is done now with merge of #55166?

[2021-08-09 16:01] alshakero commented on #53742
I can't reproduce this on Atomic sites and simple sites have entirely different UI.

Is anyone able to reproduce now?

[2021-08-09 16:10] allilevine commented on #55193
Thanks. I'm able to reproduce it with a non-a11n account, and so far from digging around it looks like that user gets an `invalid` response when checking for an Akismet subscription.

[2021-08-09 16:12] katiebethbrown commented on #53100
Another report in 4208826-zd-woothemes

[2021-08-09 16:13] mreishus commented on #49528
@mrfoxtalbot There's an additional state where three items are displayed (but one of them is disabled). The new item is quite wordy, too. I could shorten it to "Add Credentials" or "Add Server Credentials" but I'm not sure that gets the same point across (that you need to do this before you can restore). Any ideas what we should do here?
![2021-08-09_11-11](https://user-images.githubusercontent.co

[2021-08-09 16:57] dpasque commented on #54688
Oh yes, definitely! We can close as fixed. Will do. @worldomonation

[2021-08-09 16:58] dpasque commented on #54688
Fixed by #55166

[2021-08-09 16:58] #54688 closed, assigned to dpasque

[2021-08-09 17:01] mreishus commented on #49528
Here's what my two button layout looks like so far:

![2021-08-09_11-58](https://user-images.githubusercontent.com/937354/128744720-e7918d25-cfe1-48b0-aedb-130fdde8db63.png)

Some quick options with three buttons:
![2021-08-09_11-57](https://user-images.githubusercontent.com/937354/128744759-e5bf4c9f-1c25-4521-a371-f93f5320acd2.png)
^ Obviously not ideal; only showing what happens if I shove an ex

[2021-08-09 17:26] dsas commented on #55191
Miguel deployed D65279-code 🚀 I'm now working on further changes on D65285-code

[2021-08-09 17:56] liviopv commented on #52209
Simple site #20721183-hc / #4209435-zen

I wasn't able to reproduce it, but the user experiences this consistently on Chrome and managed to reproduce it on Edge as well.

Homepage Settings are set to Latest Posts, and resaving the settings doesn't fix the issue either.

I asked for a screenshot and detailed browser info.

[2021-08-09 18:15] fullofcaffeine commented on #54859
The block widget editor has been activated in WPCOM simple and AT as part of this release (p7DVsv-cqD-p2). For AT, we didn't need to do anything. For simple sites, the following diffs activated it:  D65156-code, D65237-code, D65199-code. This also included deprecating the `enable-block-widgets-editor` sticker by replacing it with a new (temporary) one to disable it in case it's needed due to any t

[2021-08-09 18:25] mikeicode commented on #53053
Similar in 30986619-hc

Request to have a drop down with choices for what the user is donating to. So the user could select from the preset options. Feels like some functionality from the Form block could be used for these.

[2021-08-09 18:37] mreishus commented on #49528
Ok, had a new idea. Since whenever the third item displays, the restore button is disabled, we can elect to not display the restore button when showing the server credentials button. Only displaying 2 buttons gives us some extra space to work with.

![2021-08-09_13-35](https://user-images.githubusercontent.com/937354/128756566-cb6b3bc7-5cea-4b25-a3cd-2d0eaf51c4e6.png)
^ Unfortunately, the side by

[2021-08-09 18:40] AMcGrady opened #55294 "Spearhead and Seedlet theme showing Incorrect icons on Podcast Player block"
### Steps to Reproduce

1. View page here: https://calmingfacts.com/

Under the Latest Free Episode sections notice how the Podcast Player block shows the correct icons for the Rewind and Fast Forward buttons.

You can also notice that the Podcast Player block has the correct images for Rewind and Fast Forward on single posts such as this one:
https://calmingfacts.com/2021/08/08/diamonds/

2. View

[2021-08-09 18:42] pendantry commented on #49954
Fuck it. Clearly nobody gives a shit.

[2021-08-09 19:00] mreishus commented on #49528
PR https://github.com/Automattic/wp-calypso/pull/55295

[2021-08-09 19:09] mikeicode commented on #55294
The issue is a missing space character here:

`mejs-button mejs-jump-buttonmejs-jump-backward-button` &
`mejs-button mejs-jump-buttonmejs-skip-forward-button`

![Screen Shot on 2021-08-09 at 15:06:41](https://user-images.githubusercontent.com/10353785/128760769-064caa20-adef-43d4-b179-7fec9511874a.png)

Those should be:

`mejs-button mejs-jump-button mejs-jump-backward-button` &
`mejs-button mejs-

[2021-08-09 20:09] jeffgolenski opened #55297 "Jetpack plan: Redundant pricing page in purchase flow"
### Steps to reproduce the behavior

Reference + details: p6TEKc-5cp

1. Purchase a jetpack plan from jetpack.com
2. Install Jetpack
3. Set up Jetpack
4. Approve connection with the same email you purchased the plan with
4. See pricing screen that doesn't recognize that you already purchased a plan

#### What I expected to happen

I expected Jetpack to know I already bought a plan with my domain o

[2021-08-09 20:37] amustaque97 commented on #55244
Hi @sixhours, I started looking into the issue. I got most of the idea. But there is one problem I'm not able to fix is that how to access the customizer local dev? Whenever I'm opening customizer it is opening for the live <my-subdomain>.wordpress.com. The live version is not in dev mode. I want to open it up for calypso.localhost:3000. Is that possible? I will suggest my changes in the form of P

[2021-08-09 21:53] autumnfjeld commented on #44263
@inaikem Given the work of the Subscriptions pod, does this work fall in your scope?  Just want to make sure we're aligned in work and not getting in the way of work you have planned.     Should all work related to subscriptions/notifications/email be directed to the Subscriptions pod?

cc: @jordesign

[2021-08-09 22:08] autumnfjeld commented on #49849
If this is an easy fix, let's do it.

[2021-08-09 22:13] goblinartificer commented on #52728
30262302-hc as well

[2021-08-09 22:14] kwight commented on #55266
Sure! However, it would be lower priority because of the limited number of users affected.

[2021-08-09 22:18] autumnfjeld opened #55300 "Tag education in the Editor"
## Why
A new blogger or publisher (or even an existing one) mayb not be familiar with how tags work, what their impact are, how they are related to the Reader.

## What
We can add small helpful copy in the Editor Settings sidebar "tags section" to link to support docs.

![a post by autumn](https://user-images.githubusercontent.com/5665959/128781425-8f1e7b1e-cf72-4b7d-8a8c-c10ee68913a2.png)

Copy S

[2021-08-09 22:39] kraftbj commented on #54468
WordPress.com has its own composer.json file for Jetpack packages being utilized on there. Crew can add it there. We update it whenever we're shipping new Jetpack versions, but can explore process if needed.

A Jetpack-developed package is definitely an option. Another would be to include it in Jetpack itself as an experimental block (like the other wp.com-only blocks). In any event, the Jetpack m

[2021-08-09 23:07] autumnfjeld commented on #33132
Blogger Pod: I tested on a private site and I could not mention the viewer (eg use @username in a post) on my private site.

[2021-08-09 23:10] autumnfjeld commented on #53800
@inaikem  Another ticket related to subscriptions, just wanted to check if this is better done in the Subscriptions pod or if we in the Blogger Pod are ok to work on this.

[2021-08-09 23:13] autumnfjeld commented on #55113
Closing this as we got input from @olaolusoga to not pursue this, plus we already have a post launch card for publicize.

[2021-08-09 23:13] #55113 closed, assigned to nobody

[2021-08-09 23:17] autumnfjeld commented on #55084
@ollierozdarz @alaczek   Could you comment on if this something design is interested in working on? Or if we should close this ticket (maybe it is in discussion elsewhere or more appropriate for including  in larger/other design considerations).

[2021-08-09 23:20] deBhal commented on #54226
Yep, it looks great! High-fives all around!

[2021-08-09 23:20] #54226 closed, assigned to deBhal

[2021-08-09 23:21] autumnfjeld commented on #51834
Blogger Pod:  let's consider this ready for dev even though we will need design approval.   We can do either
 1) take a stab at  adding design clarity then get design approval before shipping  or
 2) reach out to Ola or Ollie to see if they can offer design guidance before starting dev work

[2021-08-09 23:29] arcangelini commented on #49505
Made a PR today. LMK how it looks or if I need to make any changes to wording/design. It links to this page - https://wordpress.com/support/settings/privacy-settings/

[2021-08-10 00:54] yashitamittal11 commented on #55120
Thanks for sharing. I missed the "Items per page" setting in the top toolbar. I was expecting it to show in the sidebar like the Blog Posts block. AFAIK for most of the blocks, the display settings are available in the sidebar. E.g., for the Layout Grid block, the offset control setting is available in the sidebar.

I think we can close this request now and open it again in the future if users req

[2021-08-10 01:58] formosattic opened #55303 "Block Widgets: Customize edit buttons not working"
After widgets are added, the helper edit buttons in Customize aren't working.

Expected: Helper edit buttons should navigate to the Widget section in Customize.

![troubleshooting](https://user-images.githubusercontent.com/15944096/128796569-4a337318-916d-43b0-9c48-324a49d0caf4.gif)

User report: 4210568-zd-woothemes

[2021-08-10 01:59] autumnfjeld commented on #43814
SPIKE: Might not have been submitted for translation. Maybe just kick the translation wheels.  Or is this from a FaceBook embed, a FB translation issue.  Let's do a spike to investigate.

[2021-08-10 02:43] roo2 commented on #55300
We should also update the pre post confirmation section. I would check with Krista Stevens about changing this copy, or just add that  https://wordpress.com/blog/2014/04/21/better-tagging/ link here as well.
<img width="273" alt="Screen Shot 2021-08-10 at 12 42 34 pm" src="https://user-images.githubusercontent.com/22446385/128800302-ea4bc57c-e5ed-4ab2-8be9-17271557dcc5.png">

[2021-08-10 02:51] roo2 commented on #51308
It looks like the "Private" post status is mutually exclusive with the "Draft" post status, https://wordpress.org/support/article/post-status/. So as soon as the user makes the post "Private" it is no longer a draft and therefore published.
As shown in the screenshot, the Private post is still displayed as scheduled, but I'm not sure what that means in terms of behavior: would the post would be tu

[2021-08-10 05:02] p-jackson commented on #51834
Just noticed this split button type style in the launch flow. It's different (in thise case it's a button attached to an edit box), but thought it was relevant prior art for comparison.

<img width="796" alt="Screenshot 2021-08-10 at 5 00 29 PM" src="https://user-images.githubusercontent.com/1500769/128810760-d50bc341-6a0b-4722-8f53-43ec2457bf09.png">

[2021-08-10 06:21] kuropixel commented on #55193
Another user experiencing the same issue: zd-4207795.

[2021-08-10 06:59] lsl opened #55305 "Create tickets for each known area that needs an update to handle woo on plans"
See full list @ pdhcfv-4-p2

[2021-08-10 08:53] Nic-Sevic opened #55306 "Unclear error in Calypso when trying to rename wpcomstaging address"
### Steps to Reproduce

1. Create AT site without a custom domain
2. try to rename the site once it's gone AT
3. see the following error
![2021-08-11 at 09 56](https://user-images.githubusercontent.com/47717887/128983437-f7f067b3-832a-4801-917a-cdf00e4ea438.jpg)

### What I expected to happen

They shouldn't be given this as an option in the first place
- also it would be nice if there was a clear

[2021-08-10 09:11] jordesign commented on #51308
I can confirm the above behavior on a Jurassic Ninja site - so it's definitely the way Core treats the statuses.

<img width="1720" alt="Screen Shot 2021-08-10 at 2 11 29 pm" src="https://user-images.githubusercontent.com/1842363/128839977-b2058589-d947-4050-8719-a652b7c0b645.png">

The URL of the future post *implies* that it is already published - as it has a full URL with date in the permalink:

[2021-08-10 09:35] inaikem commented on #55283
User reports:

- Forum / 3710874 (@jerrysarcastic)
- 30782822-hc (@inaikem)
- 31050448-hc (@inaikem)
- 4196951-zen (@eduardozulian)
- 4191822-zen (@cuemarie)

The above, mostly via p1628037881042400-slack-C01UW7SB411.

[2021-08-10 09:52] cpapazoglou opened #55309 "Marketplace: Fetch wpcom plugins"
- [x] Create `react-query` hook
- [x] Fetch all results
- [x] Fetch search results
- [x] Fetch single plugin

[2021-08-10 10:30] pendantry commented on #49954
I regret closing this issue. The issue may be 'stale', but it's still a valid bug report that should, at some point, be addressed.

[2021-08-10 10:39] arthur791004 commented on #43814
I think we use the older version of [jed.js](https://s0.wp.com/_static/??/wp-content/js/jed/jed.js) and it got the incorrect value index of singular text for Arabic so that it cannot get the translation and fallback to English.

Here is related issue: https://github.com/messageformat/Jed/pull/29

[2021-08-10 10:44] carinapilar commented on #53742
I'm not being able to replicate this anymore, no. I tried on Simple and WordPress.org sites, it worked as expected now. 😌

[2021-08-10 10:47] pendantry commented on #49954
Here's a blog post I wrote that illustrates the problem (and reveals more block editor bugginess, too): https://pendantry.wordpress.com/2021/05/15/defeating-the-list-block-walloftext-problem-using-css/

[2021-08-10 10:48] alshakero commented on #53742
Perfect. Thanks a lot! Let's close it for the meantime.

[2021-08-10 10:48] #53742 closed, assigned to alshakero

[2021-08-10 11:17] jmdodd commented on #55191
"Reverting" is not "reverting", it is "reverted and queued for import".

[2021-08-10 11:43] jordesign commented on #55084
My feeling is that Jetpack injects the Publicize and Related Posts at the end of the the_content - so that's why it appears above the comments (which are part of the template itself).

I'm not sure of the logistics of changing that around - although I suspect we can maybe filter the_content or something like that to include it earlier?

[2021-08-10 11:46] jordesign commented on #55277
I've removed the project thread - so we can just use this issue.

[2021-08-10 12:01] mmtr commented on #55191
@jmdodd is that import different from the lossless import? Note that the lossless import functionality will be handled in a separate issue/PR/diff: https://github.com/Automattic/wp-calypso/issues/55243

[2021-08-10 12:18] zdenys opened #55316 "Hosting Configuration: No visual indication / clue when clicking `Copy` button within SFTP Credentials fields"
### Steps to Reproduce

1. Start at WordPress.com > My Sites > Settings > Hosting Configuration > Create SFTP Credentials
2. Try clicking any `Copy` button inside the text fields

### What I expected to happen

See some visual indication of the button being clicked or some message confirming that the value has been copied.

### What actually happened

There is no visual indication of the button be

[2021-08-10 12:26] dsas commented on #55191
@mmtr, no it's the same one. The reverting @jmdodd is talking about doesn't actually do any reverting, just locks the blog and changes state so the rest of the lossless import can happen. According to the code comments there's an aim to do the actual reverting while in that state, but that isn't the case right now.

I've [implemented the "reverting" mentioned in this issue as `relocating_revert` a

[2021-08-10 13:05] inaikem commented on #53800
I'll bow to @kwight to confirm if we'll be able to deal with this as a feature request in the pod. Thanks Autumn, keep them coming 🙏

[2021-08-10 13:40] BlueManCZ opened #59135 ""Social" is not valid category for the .desktop file"
I'm getting this warning from Gentoo Quality Assurance:
[code]

According to the [specifications](https://specifications.freedesktop.org/menu-spec/latest/apa.html), the category "Social" does not exist. I would change it to "Development" or "Office". Or you can choose something from [additional categories](https://specifications.freedesktop.org/menu-spec/latest/apas02.html) like "WebDevelopment",

[2021-08-10 13:42] allilevine commented on #51594
I'm suspending work on this one for the time being since we've changed focuses.

[2021-08-10 14:02] dpasque commented on #55120
Closing based on @yashitamittal11 's comment!

[2021-08-10 14:02] #55120 closed, assigned to nobody

[2021-08-10 14:09] mikeicode opened #55320 "Venture: Group block Wide width issues"
### Steps to Reproduce

The default Wide width setting for Group blocks no longer makes the inner content wider by default.

1. Add a Group block set to Wide width
2. Compare with a Group block set to default width

### What I expected to happen

The content of the Wide width block should be wider.

It appears this feature is now used:

<img width="1423" alt="Screen Shot 2021-08-10 at 09 56 13" sr

[2021-08-10 14:31] #50820 closed, assigned to nobody

[2021-08-10 14:56] sixhours commented on #55272
Deployed fix in r59495-wpcom-themes

[2021-08-10 14:56] #55272 closed, assigned to sixhours

[2021-08-10 14:58] kwight commented on #53800
No, I don't see this being high enough priority for us – go for it @autumnfjeld !

[2021-08-10 15:03] sixhours commented on #53997
Fixed in r230111-wpcom

[2021-08-10 15:03] #53997 closed, assigned to sixhours

[2021-08-10 15:35] kwight commented on #53729
This falls into the bucket of "users want control over who can engage with their posts", along with user blocking and others. It would be great to have a coordinated pod/effort around this, rather than inconsistent pieces. 🤔

[2021-08-10 16:37] kwight opened #55321 "Subscriptions: Improve prompt on subscribe.wordpress.com to become a proper WP.com user."
We should better push non-WP.com users to sign up. The existing prompts are barely noticeable amongst other screen elements.

<img width="1173" alt="Screen Shot 2021-08-10 at 8 53 09 AM" src="https://user-images.githubusercontent.com/349751/128898501-ff504b82-9a5c-4cc5-b380-a4bc41b31f1c.png">
<img width="1239" alt="Screen Shot 2021-08-10 at 8 45 22 AM" src="https://user-images.githubusercontent.co

[2021-08-10 16:39] msilbers opened #55322 "Publicize: new Connections do not work, show errors"
### Steps to Reproduce

1. Start at Tools > Marketing > Connections
2. Click Connect for Facebook

### What I expected to happen

A pop up choosing which Page to connect to

### What actually happened

Instead of that popup, the pop-up shows this error:

The URL it loads is:

### Context

This was first reported by a customer but we can reproduce it. We tried with Facebook but it appears that all

[2021-08-10 16:40] kspilarski opened #55367 "Jetpack Backup: Add Calendar / Search to Enter Date"
#### Is your feature request related to a problem? Please describe.

Going to Jetpack > Backup shows the latest date when backup was made. Although it's possible to select previous days using `<` arrow, it could take a while to go to a much previous date.

A workaround would be to set the date (example August 9, 2021) `20210809` from the URL: `https://wordpress.com/backup/testsitename.wpcomstaging

[2021-08-10 16:49] kwight commented on #44263
@autumnfjeld That's fine, sure – yes, our pods have the potential for some overlap. 🙃

[2021-08-10 16:53] DavidRothstein commented on #47009
Note: This has also been reported in pNPgK-5wq-p2.

It's perhaps higher priority now than it was before, since the Jetpack upgrades page really doesn't distinguish between plans and products at all, so it's strange that some of them allow you to toggle between monthly/yearly after going into checkout and others don't:

![Screenshot from 2021-08-10 12-50-58](https://user-images.githubusercontent.co

[2021-08-10 16:58] sirbrillig commented on #45002
It would still be a nice improvement if someone has time. The folks above disappeared.

[2021-08-10 17:00] jeffgolenski commented on #54226
Looks really good. Thanks folks!!! @deBhal @autumnfjeld! The transition of the cards is super smooth.

[2021-08-10 17:46] dsas commented on #55191
The GET changes are in  D65285-code

I've added the POST changes in D65367-code which builds upon the above, I can merge them into the same review if that's easier but I think the POST changes are more likely to require further work (I'll look over again myself too) so I've separated them for now.

[2021-08-10 17:53] kwight commented on #55322
Looks like no changes in Calypso to any of Marketing since April: https://github.com/Automattic/wp-calypso/commits/e5b9a0d0ef91bc8df047e52941bed1297301dbbb/client/my-sites/marketing

I don't see any obvious commits in the SVN log in the last few hours either.

[2021-08-10 18:10] codebykat commented on #55322
The `/v2/p2/connections/blocked` is somewhat suspicious. I haven't looked at this code in years but it should be redirecting to that `redirect_uri` to get authorization and it looks like something (in p2?) might be preventing a redirect.

[2021-08-10 18:11] mikeicode opened #55325 "Purpose: Style updates need for Navigation blocks in footer"
### What

Now that there are Block Widgets the widget width and list styles should be updated.

### Why

With Block Widgets it’s now possible to add a Horizontal menu to the footer using the Navigation block:

<img width="931" alt="Screen Shot 2021-08-10 at 13 44 22" src="https://user-images.githubusercontent.com/10353785/128911643-6861b2a9-a010-433d-9183-42a320d2bc0f.png">

Purpose has a couple i

[2021-08-10 18:12] codebykat commented on #55322
https://opengrok.a8c.com/source/xref/trunk/wp-content/mu-plugins/keyring/includes/services/extended/slack.php?r=230059&mo=2283&fi=61#61

[2021-08-10 18:12] codebykat commented on #55322
I found the code change that broke this - it looks like a commit to WPCOM by @unDemian related to this PR, which looks unmerged, confusingly. https://github.com/Automattic/wp-calypso/pull/55195

[2021-08-10 18:16] kwight commented on #55322
Oh maybe D65209-code

[2021-08-10 18:31] yansern commented on #55322
Created a quick phab fix for this. D65369-code

[2021-08-10 18:31] kwight commented on #55322
Reverting with D65368-code

[2021-08-10 18:43] mdrockwell opened #55326 "Gravatar Block"
### What

I would like a new block add that you enter your email address into and it displays the Gravatar associated with that email address.

### Why

This would allow users to add a profile picture to pages or posts within their site that could be updated all at once by updating their Gravatar or their WordPress.com profile picture.

### How

_No response_

[2021-08-10 18:46] mdrockwell opened #55327 "Pixelfed Icon in Social Icons Block"
### What

Add a Pixelfed icon to the Social Icons block.

### Why

Pixelfed is a federated social photo sharing service/platform, much like Mastodon is for microblogging. A Mastodon icon is already available in the Social Icons block, it would be nice to see Pixelfed added too.

More information about Pixelfed here: https://pixelfed.org/

### How

_No response_

[2021-08-10 18:47] allilevine opened #55328 "Features: Fix Akismet availability for free Jetpack"
### Details

The new features framework was added here: D63248-code
We currently return `akismet` as a feature for all Jetpack plans, but it's not available on free Jetpack sites (reference: p1625664961316000/1625664780.314700-slack-CDLH4C1UZ).
It is available for all free WPCOM sites.

### Checklist

- [ ] Update the feature availability.
- [ ] Check that the change doesn't remove the Akismet fea

[2021-08-10 18:47] AtrumGeost opened #55329 "Add user-friendly block names in the WP.com Use-case Generator"
### What

In the tasks description for the Use-case Generator use the name of the blocks instead of the slug

### Why

It is easy to get confused by the current block names/slugs:

![Screen Shot on 2021-08-10 at 13:46:12](https://user-images.githubusercontent.com/3696121/128917470-790c27ed-bd89-4799-9abf-c45aa21c57ec.png)

In this example, for Task 1 it should say "Contact Info" block.

### How

_

[2021-08-10 18:48] radtechgh commented on #55322
same issue - 29936315-hc

[2021-08-10 18:49] mdrockwell opened #55330 "Micro.blog Icon in Social Icons Block"
### What

Add an icon for Micro.blog to the Social Icons block.

### Why

Micro.blog is a microblogging platform that offers hosting for your Micro.blog or the option to feed your existing blog into the timeline using RSS. It works great alongside WordPress.

It would be great if an icon for the platform was added to the Social Icons block.

### How

Micro.blog has an SVG icon that is available to

[2021-08-10 18:49] mihpaese commented on #55322
Same issue:
* https://wordpress.org/support/topic/cant-connect-to-facebook-and-twitter/
* https://wordpress.org/support/topic/cant-connect-twitter-or-mailchimp/
* https://wordpress.org/support/topic/social-media-integration-broken/

[2021-08-10 18:56] unDemian commented on #55322
We've deployed a fix for this.

[2021-08-10 19:02] allilevine opened #55331 "Features: Investigate what happens to features on downgrade"
### Details

We've added a new features framework: D63248-code and aligned Calypso with the available settings/features in some instances. For example, SEO and Analytics settings: https://github.com/Automattic/wp-calypso/pull/53196. Also security settings: https://github.com/Automattic/wp-calypso/pull/53484

We need a downgrade flow for these features. What happens when you no longer have access?

[2021-08-10 19:25] kwight commented on #55322
Fix confirmed!

[2021-08-10 19:25] #55322 closed, assigned to nobody

[2021-08-10 19:48] kwight opened #55332 "Subscriptions: P2 post emails don't support PNG images."
For some reason, P2 emails don't support PNG images inline, instead inserting a URL.

<img width="969" alt="Screen Shot 2021-08-10 at 12 45 55 PM" src="https://user-images.githubusercontent.com/349751/128925256-26a20f1d-901b-4c4a-b482-f70a380df6ca.png">

Our other standard WP.com emails support them just fine.

<img width="976" alt="Screen Shot 2021-08-10 at 12 45 41 PM" src="https://user-images.g

[2021-08-10 19:55] kwight commented on #38710
@saygunnyc Do you see a clear way forward for this?

We should also check if having the Editor role is influencing the Follow button's appearance.

[2021-08-10 20:09] thekingsprojects opened #55333 "Block Widgets: In Customize, unable to edit Legacy Pay with PayPal block"
### Steps to Reproduce

1. Open a Premium site.
2. Choose a theme with widget areas.
3. Go to Customizer > Widgets and open a widget area.
4. Create a new Pay with PayPal block in the widget area.

### What I expected to happen

The block should allow the user to create a PayPal payment button, presumably with the same or similar settings as when used in the regular page/post block editor. The use

[2021-08-10 20:23] kwight commented on #55167
https://wordpress.com/read/conversations is _kinda_ that; although I think it's the comments of every post you've liked of commented upon.

[2021-08-10 20:28] carinapilar opened #55335 "Notifications: Post Likes Aren't Being Sent"
### Steps to Reproduce

1. Publish a new post on a Public site.
2. Access the post on another browser, with a different WordPress.com account.
3. Leave a like on the post.

### What I expected to happen

As the post's author, I would expect to get notifications for the like, as set on my account, by email and on the notification area for example.

### What actually happened

Nothing happened. It s

[2021-08-10 20:35] kwight commented on #55168
That's odd – I have a simple site with custom domain at kwight.blog, and can see the Follow button, can you? Which site did you not have the Follow button?..

<img width="1002" alt="Screen Shot 2021-08-10 at 2 53 47 PM" src="https://user-images.githubusercontent.com/349751/128940170-9b236647-b7f4-49eb-b6a8-1336ecd86527.png">

[2021-08-10 21:04] saygunnyc commented on #38710
While I believe the longer-term approach for the whole action bar is something for us to discuss – _esp. for Simple/Atomic parity_, I agree with @jasmussen on the sentiment he shared about 1,5 years ago. We should always benefit from each opportunity to create a consistent experience.

As additional context for @jasmussen, starting to explore subscriptions we noticed that while simple sites with s

[2021-08-10 21:08] metabreakr commented on #55333
25524853-hc

[2021-08-10 21:10] kwight commented on #51566
I can't replicate this myself; anyone have any further details?

![cats-1](https://user-images.githubusercontent.com/349751/128935509-7e323777-5025-4159-b80f-24f302c45965.jpg)
![cats-2](https://user-images.githubusercontent.com/349751/128935511-60f5bee5-8b5c-413e-8bb2-6b0d23508a99.jpg)

[2021-08-10 21:12] mreishus commented on #54411
We've added a bistro specific workaround to calypso:
![2021-08-10_16-10](https://user-images.githubusercontent.com/937354/128935569-6aa216f5-e07c-4c7a-a7c9-467aaa1527ee.png)

For bistro, it will prefer looking up theme information on local files, if they exist, in priority over the theme gallery. That's done here: ( https://github.com/Automattic/wp-calypso/pull/55162 ).

It's not the most elegant

[2021-08-10 21:12] #54411 closed, assigned to mreishus

[2021-08-10 21:13] KirkwallDay commented on #50034
Update here, ran into a special instance here: 4207889-zen

This user has an AT site, and could see the reblog button on a **non-AT business site**. Clicking this does add you to the reblogged users, but it will not create the post on the user's site.

I duplicated this using test sites.

[2021-08-10 21:15] KirkwallDay commented on #49501
Ran into a special instance here: 4207889-zen

This user has an AT site, and could see the reblog button on a **non-AT business site.** Clicking this does add you to the reblogged users, but it will not create the post on the user's site.

I duplicated this using test sites.

[2021-08-10 21:29] kwight commented on #54402
I also don't see any "howdy" at all:

<img width="750" alt="Screen Shot 2021-08-10 at 2 22 53 PM" src="https://user-images.githubusercontent.com/349751/128937479-e9593ea2-7374-4125-8cec-74850d19ba7e.png">

... but I did find a reference to "follow one of my posts" by commenting on an ordinary Atomic post (not P2) – still, no "howdy":

<img width="1072" alt="Screen Shot 2021-08-10 at 2 26 36 PM" sr

[2021-08-10 21:32] paxblueribbon commented on #54913
No longer appearing for me either.  Thanks!

[2021-08-10 21:36] kwight commented on #54402
There are definitely some references to "howdy" in our email template codebase, but it's tough to see what gets used for what (or if the template is even active for anything). 🤔 Regardless, Giving users any customization of templates will require a dedicated, careful project.

[2021-08-10 21:57] ChrissiePollock commented on #55283
Another report - 4171465-hc

[2021-08-10 22:08] kwight commented on #38710
True, we just have to watch that each aspect could be a project unto itself; for instance, adding the Action bar to Atomic seems like a great idea to me, but I'm wary of why it hasn't been done yet (would need some technical and MGS spelunking).

[I'm not sure about that](https://github.com/Automattic/wp-calypso/issues/55168#issuecomment-896299569).

We also have the "collapse" ability for the bar

[2021-08-10 22:08] kwight commented on #38710
And by the way, any idea how you got a Stats button? Haven't seen that one myself at all. ¯\_(ツ)_/¯

[2021-08-10 22:30] onuro commented on #55204
If we'll provide refunds once they downgrade within the refund period, we'll also eventually need a UI reflecting that to the customer right?

Just thinking out loud.

[2021-08-10 22:31] kwight commented on #54402
@adelineyaw Oh! @saygunnyc also pointed out that we've got these Settings > Reading options:

<img width="1160" alt="Screen Shot 2021-08-10 at 3 29 35 PM" src="https://user-images.githubusercontent.com/349751/128943249-c7a53284-8aa7-4a3e-87d8-782d87120e77.png">

It looks like the default values include "howdy". 😬

[2021-08-10 22:43] ChrissiePollock opened #55340 "Checkbox in the Form Alignment off (extra box showing) - Obsidian theme"
### Steps to Reproduce

* Set the theme to Obsidian.
* Create a post or page.
* Add the Form Block.
* Add a Checkbox Block.
* Add Items.
* Preview or publish.
* Notice and extra checkbox appears, and the other checkbox alignment is off.
* Change the theme to another (I used TwentyTwenty).
* Note that without touching the page in the editor (same exact code), the form looks correct.

### What I exp

[2021-08-11 00:55] sirbrillig commented on #45004
Thank you for the recording, @amustaque97. Interesting! I wonder why this happens for me but not for you. 🤔  Nice job overriding the processor!

It might have to do with which post-checkout page you end up on. In your example, I think you were "purchasing" a new product, so you ended up on the thank-you page, which [has its own scroll-to-top behavior](https://github.com/Automattic/wp-calypso/blob/

[2021-08-11 01:11] p-jackson commented on #50365
@otpidusprime what do you think about leaving this aspect of the issue up to translators. If the current truncation length is set to 20 it presumably means a Chinese speaking person at some point or other has decided that this is an acceptable truncation length. And I'm certainly ill equiped to advocate for this change in the core translations 🙂
Should we leave this as is given it's working as exp

[2021-08-11 01:51] mxhassani opened #55343 "Videopress File Size 0.00 B on AT sites"
### Steps to Reproduce

1. On an atomic site with Videopress is on
2. Upload an MP4 (any size)
3. Give it time to convert
4. Refresh page
5. Click the video, and press Edit in the top left to see details
6. Notice: File Size 0.00 B | https://d.pr/i/NIbwBz

### What I expected to happen

To see something like: File Size 16.03 MB

### What actually happened

The size displayed is 0

### Context

hc-

[2021-08-11 02:21] hacchism opened #55344 "Instagram Widget: Can never connect to Instagram account"
### Steps to Reproduce

1. Go to "Appearance > Customize > Widgets" and select any available widget area
2. Add Instagram Widget
3. Hit "Connect Instagram Account" button
4. Hit "Allow" button in Instagram's authorization popup

### What I expected to happen

Authorization goes well and the widget starts displaying the latest Instagram posts.

### What actually happened

I get a popup from the bro

[2021-08-11 02:57] #55103 closed, assigned to arthur791004

[2021-08-11 02:57] jordesign opened #55345 "FAB Covers bottom of Publish confirmation Screen"
### Steps to Reproduce

1. Start a new Post or Page
2. Click 'Publish' to reveal the pre-publish check.

### What I expected to happen

I should be able to see and access all options in the panel

### What actually happened

The FAB (Floating Action Button) at bottom right obscures the label of the 'Always Show Publish Check' option

### Context

User testing

### Operating System

macOS

### OS V

[2021-08-11 02:58] jordesign commented on #55345
Adding this to the Blogger Experience board in the hope we can push out a small quick fix.

Maybe more padding at the bottom of the publish check?

[2021-08-11 03:38] lsl opened #55346 "Add WooCommerce card to the /earn page"
Woo needs a mention on the [/earn](https://wordpress.com/earn) page.

Add a new card to enable woo on all plans.

Before:
![Screenshot 2021-08-11 at 13-32-56 Woo on Plans Test Site — WordPress com](https://user-images.githubusercontent.com/811776/128965725-99dcc4e8-9a9e-4590-a25b-2ef09276319c.png)

pdhcfv-4-p2

More context: p1628002276011300-slack-C029UPVMGTW

[2021-08-11 03:40] lsl opened #55347 "Add WooCommerce feature to /plans listings"
Add WooCommerce feature highlights (TBD) to the [/plans](https://wordpress.com/plans) page

Before:
![Screenshot 2021-08-11 at 13-39-55 Plans ‹ Woo on Plans Test Site — WordPress com](https://user-images.githubusercontent.com/811776/128966028-cdbbc4e4-efbf-4a77-b375-05316f2b4cfa.png)

pdhcfv-4-p2

[2021-08-11 03:45] lsl opened #55348 "Add WooCommerce feature to landing page: /personal-plan-value/"
Add Woo feature highlight to the [personal plan landing page](https://wordpress.com/personal-plan-value/).

Before:
![Screenshot 2021-08-11 at 13-44-50 Personal Plan Value — WordPress com](https://user-images.githubusercontent.com/811776/128966347-5ba6bb61-6cec-4284-be52-388dab39f2c5.png)

pdhcfv-4-p2

[2021-08-11 03:47] lsl opened #55349 "Add WooCommerce feature highlight to the premium plan landing page"
Add feature hightlight to the [premium plan landing page](https://wordpress.com/premium-plan-value).

Before
![Screenshot 2021-08-11 at 13-47-05 Premium Plan Value — WordPress com](https://user-images.githubusercontent.com/811776/128966503-874bc1d2-bfd8-41e5-a11f-104c7953e134.png)

pdhcfv-4-p2

[2021-08-11 03:51] lsl opened #55350 "Investigate: what do we need to update in the /ecommerce landing page."
Figure out if we need to link to Woo on Plans in the [ecommerce landing page](https://wordpress.com/ecommerce/) material or if we need to rework it completely.

Before
![Screenshot 2021-08-11 at 13-50-22 WordPress eCommerce eCommerce Website Builder WordPress com](https://user-images.githubusercontent.com/811776/128966777-0c04916d-9902-40b8-ae8f-3d6ddd09de71.png)

pdhcfv-4-p2

[2021-08-11 04:44] kuropixel commented on #55344
Another user experiencing this exact issue: 4211835-zd.
I've also tested and have been able to reproduce the issue on a test simple site.

[2021-08-11 05:15] lsl opened #55351 "Update the ecommerce plan value page content to incorpoarate WooCommerce on plans"
The [ecomm plan value landing page](https://wordpress.com/ecommerce-plan-value/) needs updating to reflect WooCommerce on plans offerings.

Note: This task needs further clarification / changes may not be required.

Before:
![Screenshot 2021-08-11 at 15-12-38 eCommerce Plan Value — WordPress com](https://user-images.githubusercontent.com/811776/128973225-9a0222ae-d358-4db4-af06-f7e6ee51bad9.png)

[2021-08-11 05:18] lsl opened #55352 "Add WooCommerce feature highlight to pricing page"
The [pricing landing page](https://wordpress.com/pricing/) needs updating to reference WooCommerce under each plan.

Text needed: TBD

Before:
![Screenshot 2021-08-11 at 15-17-42 WordPress Cost WordPress Price Compare Our Plans](https://user-images.githubusercontent.com/811776/128973528-ea4f9edb-087c-4e83-8dcc-58a73f26354a.png)

pdhcfv-4-p2

[2021-08-11 05:22] lsl opened #55353 "Hightlight WooCommerce extensions being available on the plugins landing page"
The [plugins landing page](https://wordpress.com/install-plugins/) should have a section highlighting the ability to add WooCommerce extensions similar to the Jetpack section.

Before:
![Screenshot 2021-08-11 at 15-21-31 Premium and Free WordPress Plugins for Your WordPress com Website](https://user-images.githubusercontent.com/811776/128973840-1490415a-7734-4b19-afa4-ec0409c3b28e.png)

pdhcfv-4-p

[2021-08-11 05:26] lsl opened #55354 "Highlight WooCommerce in the business plan value landing page"
Highlight WooCommerce in the [business plan value landing page](https://wordpress.com/business-plan-value/).

Before
![Screenshot 2021-08-11 at 15-24-22 Business Plan Value — WordPress com](https://user-images.githubusercontent.com/811776/128974099-e277fa31-8067-444d-aebb-7f4f22a55252.png)

pdhcfv-4-p2

[2021-08-11 05:28] lsl opened #55355 "Highlight WooCommerce in the website builder landing page"
Highlight WooCommerce in the [website builder landing page](https://wordpress.com/website-builder/).

Before:
![Screenshot 2021-08-11 at 15-26-43 WordPress Website Builder Build A Website — WordPress com](https://user-images.githubusercontent.com/811776/128974262-b392f51b-3bd5-45ce-bca2-32c6500be1d8.png)

pdhcfv-4-p2

[2021-08-11 05:34] lsl opened #55356 "Highlight WooCommerce in the business plan support page"
Highlight WooCommerce in the [business plan support page](https://wordpress.com/support/business-plan/) feature highlights.

There is potentially more that can be done on this page as a good portion of the page is dedicated to plugins.

- [ ] Text updates
- [ ] Request re-translation

Before:
![Screenshot 2021-08-11 at 15-31-12 Business Plan](https://user-images.githubusercontent.com/811776/128974

[2021-08-11 05:41] roo2 commented on #44658
I've done some investigation on this:

Currently the reblog button is implemented as part of the jetpack Likes plugin [source]
The Likes plugin is only loaded if [`is_likes_visible`](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/likes/jetpack-likes-settings.php#L273) returns true. is_likes_visible is complex but the setting must be enabled to return true. When

[2021-08-11 05:58] kosiew commented on #51259
Closing.
Duplicate of https://github.com/Automattic/wp-calypso/issues/50740

[2021-08-11 05:58] #51259 closed, assigned to nobody

[2021-08-11 06:00] kosiew commented on #50740
Reviewed above cases. In all of them, the latest podcast issue is appearing in the podcast player block later.
Triaging and await developer to confirm this is the behavior of the podcast player block.

[2021-08-11 06:03] p-jackson opened #55357 "YouTube embed in Independent Publisher 2 is obscuring the block below it"
### Steps to reproduce the behavior

1. Create a new post
2. Paste this content into the code editor
[code]
3. Publish
4. Switch theme to Independent Publisher 2
5. View on frontend

#### What I expected to happen
All the bullet points should appear below the YouTube video. This is what it looks like in the TT1 theme:
<img width="685" alt="Screenshot 2021-08-11 at 5 52 01 PM" src="https://user-ima

[2021-08-11 06:16] kosiew commented on #55187
Hi @devNigel ,

Thanks for reporting this and the detailed steps.

I managed to reproduce this and your CSS fix works too.

Triaging for developers' further action.

[2021-08-11 06:19] kosiew commented on #55187
similar to previous stale issue https://github.com/Automattic/wp-calypso/issues/37469

[2021-08-11 06:21] arthur791004 commented on #55300
Here is the screenshot after adding the new copy

#### Tags Block
![image](https://user-images.githubusercontent.com/13596067/128978721-860039c6-5700-4159-b047-f9ca88a63fe9.png)

#### Pre Post Confirmation Check
![image](https://user-images.githubusercontent.com/13596067/128978768-75a77b92-cbde-430c-bf95-94d2e67256fe.png)

I made all of the new copy "Build your audience with tags"  be a clickable

[2021-08-11 06:23] kosiew commented on #55215
Hi @mrfoxtalbot ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further input.

[2021-08-11 06:29] kosiew commented on #55228
Hi @Greatdane ,

Thanks for reporting this and the detailed steps.

I managed to reproduce the issue.

Triaging for developers' further investigation.

[2021-08-11 06:37] lsl opened #55358 "Update WooCommerce blurb on the eccommerce support page"
Update WooCommerce blurb on the [eccommerce support page](https://wordpress.com/support/ecommerce/) to reference all plans instead of only business / up plans.

- [ ] Content
- [ ] Request translation

Before
![Screenshot 2021-08-11 at 16-30-10 eCommerce](https://user-images.githubusercontent.com/811776/128980433-d3e396c6-8051-4b9e-befc-ef6fd99a3295.png)

pdhcfv-4-p2

[2021-08-11 06:40] lsl opened #55359 "Investigate & update the eccommerce plan page for Woo on Plans"
Investigate & update the [eccommerce plan page](https://wordpress.com/support/ecommerce-plan/) as required.

- [ ] Investigate if this page needs updating at all (high chance we don't)
- [ ] Content
- [ ] Request translation

Before
![Screenshot 2021-08-11 at 16-40-08 eCommerce plan](https://user-images.githubusercontent.com/811776/128981506-43b71934-435b-4520-870b-15b03b788a5e.png)

pdhcfv-4-p2

[2021-08-11 06:42] kosiew commented on #55237
Hi @otpidusprime ,

Thanks for reporting this and the detailed steps.

I could not reproduce this.
From  my tests so far, this was a transient issue.

Closing this for now. Please reopen this issue if you have more findings to add.

[2021-08-11 06:42] #55237 closed, assigned to nobody

[2021-08-11 06:44] lsl opened #55360 "Replace WooCommerce reference in FTP support page"
The [FTP support page](https://wordpress.com/support/ftp-access/) references uploading WooCommerce, this needs changing to reference another suitable plugin.

- [ ] Replace Woo reference
- [ ] Request translation

Before
![Screenshot 2021-08-11 at 16-41-42 FTP Access](https://user-images.githubusercontent.com/811776/128981727-ee1b649c-7eba-4521-b183-f3e7ed4aeef9.png)

pdhcfv-4-p2

[2021-08-11 06:46] kosiew commented on #17191
Triaging for developers' further investigation.

[2021-08-11 06:51] kosiew commented on #55242
Hi @zdenys ,

Thanks for reporting this and the detailed steps.

I managed to reproduce this.

Triaging for developers' further investigation.

[2021-08-11 06:52] lsl opened #55361 "Update user roles support page WooCommerce reference"
The support page about user roles needs updating to reference WooCommerce enabling instead of installing. We may also want to move this to a more dedicated section on the page or expand on our explanation. We probably need to discuss how much of woo's docs we want to absorb and how much we want to cross link.

- [ ] Reference enabling instead of installing
- [ ] Request translation

Before
![Scree

[2021-08-11 06:53] p-jackson opened #55362 "Feature Request: Update the first notification users get so it doesn't direct them to the customiser"
### What

The very first notification we give users should direct them somewhere other than the customiser

### Why

We've all been trained to click on the little red un-read notification buttons. So when the user creates a site, and we send them an automatic notification (I suppose to teach them about that interface), the pull to click that little bell is very high IMO.

If they're going to open

[2021-08-11 07:00] lsl opened #55363 "Update managed hosting support page to reference WooCommerce on plans properly"
The [managed hosting page](https://wordpress.com/support/managed-hosting-with-wordpress-com-faqs/) references installing Woo. It should be changed to reference how some plugins are managed by wordpress.com (like Woo) and some are available for install with a new plugin mentioned.

- [ ] Text update
- [ ] Request translation

Before:
![Screenshot 2021-08-11 at 16-53-22 Managed Hosting with WordPres

[2021-08-11 07:03] kosiew commented on #55248
Hi @jartes ,

Thanks for reporting this and the detailed steps.

I managed to reproduce this with a non-automattic account.

![Markup on 2021-08-11 at 15:02:45](https://user-images.githubusercontent.com/29057562/128984314-b1450750-a3c1-4105-9da1-6d53bc8b61ff.png)

Triaging for developers' further investigation.

[2021-08-11 07:16] edwinho89 opened #55364 "Drag and Resize Video Blocks (or any blocks)"
### What

I would like the option where we can drag and resize video blocks, perhaps for other blocks too, if applicable

### Why

User has added an embedded video, and would like a way to drag video sizes easily (as being compared with Wix)

Workaround was suggested to use CSS, however not as user friendly as implementing drag and resize.

### How

User in 31067449-hc reported Wix was able to dra

[2021-08-11 07:21] inaikem commented on #55343
Closing in favour of #54434

[2021-08-11 07:21] #55343 closed, assigned to nobody

[2021-08-11 07:22] inaikem commented on #54434
There's an additional report of VideoPress files being affected in #55343

[2021-08-11 07:25] jasmussen commented on #38710
Love the discussion here, and finding myself agreeing with points all around!

I do think there's an opportunity to rethink whether we need such an actionbar in the first place, or whether there's a better way to integrate it. Some "in the clouds" sketches on what else we could do would likely be useful. In my opinion this is worthwhile mostly because on mobile, giant cookie notices, notification

[2021-08-11 07:40] Greatdane opened #55365 "[Simple Site Block Widgets] Edit buttons on live site editor in customizer do not take you to the widget/widget menu"
### Steps to Reproduce

1. Create/access a simple site.
2. Open up My Sites → Appearance → Customize
3. On the live site editor, click on the round blue edit button for any existing widget.
4. The edit icon will not take you anywhere.

All other edit buttons work, so this looks to be due to the recent Simple Site Block Widget update.

See GIF for example:
https://d.pr/i/DLiqZG

### What I expected

[2021-08-11 07:45] #55231 closed, assigned to mmtr

[2021-08-11 07:45] Nic-Sevic opened #55366 "Unable to update products when Facebook for Woocommerce active"
### Steps to Reproduce

1. Activate plugin and try to update product field (such as SKU id)
2. see that clicking update doesn't seem to do anything

### What I expected to happen

I should be able to update the product

### What actually happened

nothing except this network error shared below

### Context

4213140-zd-woothemes

### Operating System

macOS

### OS Version

_No response_

### Brows

[2021-08-11 07:53] inaikem commented on #55335
@alshakero, is this something you'll be able to take a look at? Happy to drop it into your board 👍

[2021-08-11 08:02] jeherve commented on #55367
Transferring this to the Calypso repo, where the feature lives and is being developed.

********

**Note**: I also updated your comment to upload the screenshot to GitHub directly instead of using Droplr. See this internal reference for more info:
pbg9X-fWF-p2

[2021-08-11 08:09] inaikem commented on #55266
Understood! Moved it to the Icebox for the moment.

[2021-08-11 08:32] #55160 closed, assigned to dsas

[2021-08-11 09:10] BogdanUngureanu opened #55369 "The position of Customize submenu in the Appearance menu is incorrect"
### Steps to reproduce the behavior

1. Go to a Simple site in WP-Admin
2. Go to Appearance menu and check the position of the `Customize` submenu

#### What I expected to happen
The submenu `Customize` should be on the second position, after Themes

#### What actually happened
The submenu is located in the 4th position.

### Context

#### Browser / OS version

#### Is this specific to the applied

[2021-08-11 09:13] edwinho89 commented on #55193
4210870-zd-woothemes

I was able to reproduce this issue on one of my simple sites under a11n account [here](https://edwinho89.wordpress.com/wp-admin/admin.php?page=akismet-key-config).

[2021-08-11 09:54] Nic-Sevic commented on #53325
I also had this happen even when the alignment wasn't set to center:
![block spacing](https://user-images.githubusercontent.com/47717887/129009262-9d0440d1-f337-4e7d-a43a-35f2825ddc74.gif)

[2021-08-11 09:57] Nic-Sevic opened #55370 "FSE: Images blocks have two "replace image" buttons in sidebar"
### Steps to Reproduce

1. In an FSE site click and image block and check the right sidebar settings
2. See two replace buttons

![image](https://user-images.githubusercontent.com/47717887/129009617-e84440e9-fd7d-4bbe-a744-78a41d0fd215.png)

### What I expected to happen

should only have one button to replace

### What actually happened

two appear

### Context

empathy testing

### Operating Sys

[2021-08-11 10:03] Nic-Sevic opened #55371 "FSE: Navigation (horizontal) with "Start empty" has inconsistent spacing"
### Steps to Reproduce

1. With FSE site, add nav block to footer with horizontal alignment with "Start empty"
2. Add nav block to header with horizontal alignment
3. with same menu items, see how spacing differs

### What I expected to happen

spacing should work the same in both; either both automatic or both not

### What actually happened

it looks like when added to the footer spacing appropr