[2021-11-10 13:33] simison commented on #49499
Related https://github.com/Automattic/wp-calypso/issues/48844

[2021-11-10 13:43] BlueManCZ commented on #49499
No, I don't think it is.

[2021-11-10 13:49] belcherj commented on #47282
Closing as this is obsolete after the re-architecture this should not be an issue.

[2021-11-10 13:49] #47282 closed

[2021-11-10 13:52] simison commented on #47965
This probably can be closed now? @nsakaimbo @belcherj

[2021-11-10 13:57] ivan-ottinger commented on #57552
At the end no code change was necessary. The links at `form.jotform.com` were incorrectly blocked by Akismet. Everything is working as expected now. We can let the user know @sajmes. :)

Screenshot from the Stats on my test site:
![Markup on 2021-11-10 at 14:56:40](https://user-images.githubusercontent.com/25105483/141126114-dc99ec68-b603-4e7a-ae77-245c9682ffb9.png)

[2021-11-10 13:57] #57552 closed, assigned to ivan-ottinger

[2021-11-10 14:11] bobmatyas commented on #57711
Another report: 4441977-zen

[2021-11-10 14:17] eduardozulian commented on #57711
Another report: 32665748-hc

[2021-11-10 14:25] arcangelini commented on #56673
Deployed and resolved - r234769-wpcom

[2021-11-10 14:25] #56673 closed, assigned to arcangelini

[2021-11-10 14:43] bobmatyas commented on #57711
Another report: p1636470933430900-slack-C03TY6J1A

[2021-11-10 14:44] bobmatyas commented on #57711
Another report: 4431371-zd-woothemes

[2021-11-10 15:00] #57692 closed, assigned to cpapazoglou

[2021-11-10 15:02] #57381 closed, assigned to cpapazoglou

[2021-11-10 15:32] #57635 closed, assigned to cpapazoglou

[2021-11-10 15:39] sixhours commented on #57788
This was partially added in r234736-wpcom

[2021-11-10 15:39] sajmes commented on #52182
17777411-hc the zoom workaround allowed cropping.

[2021-11-10 15:40] zaguiini commented on #57484
We found out that the root cause is the redirection from the `.wordpress.com` domain to the mapped domain. This happens on WPCOM and simply bypassing (meaning not redirecting at all if the query parameter is there) fixes the issue, even for private sites.

The whole discussion is on paYE8P-18P-p2 and the proposed solution at D69819-code.

[2021-11-10 15:40] sixhours commented on #57788
Delete button functionality is in progress.

[2021-11-10 15:51] kwight commented on #57865
Oh sure – let's start with it justified and see how we like it.

[2021-11-10 15:58] kwight opened #57913 "Videos UI: The videos section loads fully closed."
The videos section currently loads fully closed – let's have the first video section open, and the first video queued up on UI load.

<img width="1244" alt="Screen Shot 2021-11-10 at 7 57 18 AM" src="https://user-images.githubusercontent.com/349751/141147370-ba7d787c-fd45-4cca-b539-3354b1cb18ad.png">

[2021-11-10 15:59] kwight commented on #57913
When working on this, keep in mind that with user progress tracking, we'll eventually need to load with whatever the user's next video should be (if this is more complicated, we can certainly launch with the first video hardcoded).

[2021-11-10 16:05] autumnfjeld opened #57915 "Design Picker: add title and subtitle"
## Description
Update the Design Picker screen to include the title and sub title.  Since we do not yet have the categories UI, the title should go above the grid of designs (similar to mobile view).

![image](https://user-images.githubusercontent.com/5665959/141148278-eeb85387-1064-4a19-b5b5-9629d0626b67.png)

Until we ship the categories UI, we will need to put the title above the designs.
![ima

[2021-11-10 16:05] dcalhoun opened #57916 "[Bug]: Failed Embed outcome differs between Simple and Atomic sites"
### Quick summary

When attempting to embed an invalid URL using an Embed block, the outcome differs between Simple and Atomic sites. The former auto-converts the Embed block to a Paragraph block. The latter displays a subtle embed failure message within the Embed block.

### Steps to reproduce

1. Open the block inserter.
1. Insert a Twitter Embed block.
1. Paste an invalid embed URL, e.g. https:

[2021-11-10 16:24] daria2303 commented on #57415
Antoher one : 4444567-zd-woothemes

[2021-11-10 16:39] emilyaudela commented on #57711
Many theme demos have also broken causing low color contrast, especially the contact sections. For example, in [Maywood demo](https://maywooddemo.wordpress.com/):

<img width="400" alt="Screen Shot 2021-11-10 at 5 36 50 PM" src="https://user-images.githubusercontent.com/36699353/141154369-0b6134ce-64d7-42c3-86d8-bef58060d32a.png">

[2021-11-10 16:42] AtrumGeost commented on #57711
That's odd! Not sure if related to current issues on the Cover Block:

https://github.com/Automattic/wp-calypso/issues/57711

[2021-11-10 16:48] #51382 closed, assigned to BogdanUngureanu

[2021-11-10 17:08] nsakaimbo commented on #47965
@simison You can boot the desktop app to double-check, but I expect this is no longer an issue.

(You can use `yarn run dev` from the `desktop` folder of the Calypso repo to run the desktop app without having to build and package the app.)

[2021-11-10 17:19] nelsonec87 commented on #57788
Added remove functionality on D69884

[2021-11-10 17:44] sixhours commented on #57789
This was shipped in  r234779-wpcom

[2021-11-10 17:44] #57789 closed, assigned to mreishus

[2021-11-10 17:48] masperber opened #57919 "Post count in WordPress.com view doesn't match post count in Classic view"
### Quick summary

When viewing Posts in WordPress.com view, an incorrect number of published posts is displayed, while Classic view displays the correct number of published posts.

### Steps to reproduce

I haven't discovered the cause, so I don't know that this can be reproduced on a test site.

### What you expected to happen

The post count in WordPress.com should show the actual correct numbe

[2021-11-10 17:50] #57851 closed, assigned to nobody

[2021-11-10 17:51] #57847 closed, assigned to worldomonation

[2021-11-10 17:57] arcangelini commented on #56292
I was able to make a fix for this using the `widget_types_to_hide_from_legacy_widget_block` filter. I added a method that checks for the current plan and hides the widget from the legacy block if it is on the free plan.

Created the patch and should be able to apply it this week - D69890-code

[2021-11-10 18:20] kerrynicl commented on #57812
Also another report here - 4445021 - ZD

[2021-11-10 18:58] #57866 closed, assigned to worldomonation

[2021-11-10 19:10] nickpagz commented on #57812
Noting this happened in this interaction as well:
27140549-hc

In this case the user is on Chrome 96:
https://www.whatsmybrowser.org/b/XRX1U

Full user agent is `Mozilla/5.0 (X11; CrOS x86_64 14268.25.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.33 Safari/537.36`

I'm asking the user to test on another browser.

[2021-11-10 19:35] kwight commented on #57671
Fixed in #57901.

[2021-11-10 19:35] #57671 closed, assigned to andres-blanco

[2021-11-10 20:22] JoshuaGoode commented on #53294
**Workaround:** A quick way to get the proper `jetpack_active_plan` option is to navigate to My Site > Jetpack > Dashboard.  That will get the option updated.

[2021-11-10 20:25] JoshuaGoode commented on #57325
For visibility, noting what I shared on the ongoing issue we kept open:

This is generally due to the `jetpack_active_plan` option not being properly set and should sync/fix itself but it's best to fix it for a user ASAP.

Internal notes: P9HQHe-14R-p2

**Workaround:** A quick way to get the proper `jetpack_active_plan` option is to navigate to My Site > Jetpack > Dashboard.  That will get the opt

[2021-11-10 20:25] JoshuaGoode commented on #57300
For visibility, noting what I shared on the ongoing issue we kept open:

This is generally due to the `jetpack_active_plan` option not being properly set and should sync/fix itself but it's best to fix it for a user ASAP.

Internal notes: P9HQHe-14R-p2

**Workaround:** A quick way to get the proper `jetpack_active_plan` option is to navigate to My Site > Jetpack > Dashboard.  That will get the opt

[2021-11-10 20:37] cat-og opened #57927 "Veni: disappearing Menu"
### Quick summary

With the theme Veni, the top menu has a strange reactive breaking point. The menu only shows up when I am in fullscreen or if I have expanded my window to at least 2/3 of my screen. [Repeated this on their demo](https://themeskingdom.com/demo/veni/) although the demo has the menu in another place.

### Steps to reproduce

1. Visit https://andrewberkin.com/ or https://themeskingd

[2021-11-10 21:00] #57865 closed, assigned to kwight

[2021-11-10 21:25] kwight commented on #57913
Closed in #57928

[2021-11-10 21:25] #57913 closed, assigned to blackjackkent

[2021-11-10 21:26] kwight commented on #57676
Closed in #57923.

[2021-11-10 21:26] #57676 closed, assigned to blackjackkent

[2021-11-10 21:28] worldomonation opened #57930 "Flaky E2E: User sees welcome banner after signup"
### Spec file

wp-invite__new-user.ts

### Suite or step

User sees welcome banner after signup

### Framework

Playwright

### Logs

Logs:
[code]

TeamCity ID: 6965438

![image](https://user-images.githubusercontent.com/6549265/141196194-294b5f78-2f35-42f1-a966-267964becb6e.png)

[2021-11-10 21:29] worldomonation opened #57931 "Flaky E2E: Click on "Renew Now""
### Spec file

wp-plans__purchases-spec.ts

### Suite or step

Click on "Renew Now"

### Framework

Playwright

### Logs

Logs:
[code]

TeamCity ID: 6965267

![image](https://user-images.githubusercontent.com/6549265/141196350-ed75df09-166a-4460-9e61-88d5b8410bbe.png)

[2021-11-10 21:30] worldomonation commented on #57440
Haven't seen this occur since the login cookies were saved.

[2021-11-10 21:31] worldomonation commented on #57440
I think we can close this for now.

[2021-11-10 21:31] #57440 closed, assigned to nobody

[2021-11-10 21:32] kwight commented on #57859
Closed in #57922.

[2021-11-10 21:32] #57859 closed, assigned to andres-blanco

[2021-11-10 21:50] #57788 closed, assigned to nelsonec87

[2021-11-10 21:55] JoshuaGoode commented on #57711
Encountered on 4445479-zd-woothemes

Provided user with some CSS to get all of their cover blocks back to the default 0.5 opacity.

User will want an update when this is fixed and when they can remove the custom CSS.

[2021-11-10 21:56] p-jackson commented on #57915
Oops, seems like I've introduced a regression. The design picker currently looks like this in production, with no title.

<img width="2032" alt="Screenshot 2021-11-11 at 10 55 07 AM" src="https://user-images.githubusercontent.com/1500769/141199814-1562ade1-f752-4f64-ab84-0e5d11b49f91.png">

[2021-11-10 22:44] kwight commented on #57799
Closed in #57857 – layout and styling now at least make sense and look good at all widths. We'll use #57868 and #57867 to get everything even more inline with the original Figma mockups. cc/ @ianstewart @ollierozdarz

[2021-11-10 22:44] #57799 closed, assigned to blackjackkent

[2021-11-10 23:11] ianstewart opened #57935 "Video Course: Typo on Video 3"
We accidentally a word in the second sentence.

![image](https://user-images.githubusercontent.com/545779/141208350-b6ec065c-147c-4af1-ae92-f8545ae1488f.png)

Should be "WordPress' powerful block editor" or "the powerful WordPress block editor" or something to that effect.

[2021-11-10 23:27] #57550 closed, assigned to dpasque

[2021-11-10 23:38] p-jackson commented on #57915
I introduced this bug in #56814 by not testing the "category picker hidden" case enough.

[2021-11-10 23:49] jerrysarcastic commented on #57803
Wanted to note that this was reported in https://wordpress.com/forums/topic/importing-from-tumblr-96/ and I can also confirm that if I try to import from Tumblr on a test site, after connecting I see no sites listed as expected.
<img width="1084" alt="Screen Shot 2021-11-10 at 3 46 45 PM" src="https://user-images.githubusercontent.com/1967448/141211778-04a15ca0-b608-4efa-bc2b-283d8dfae64a.png">

[2021-11-10 23:51] worldomonation opened #57937 "Flaky E2E: User sees welcome banner after signup"
### Spec file

wp-invite__new-user.ts

### Suite or step

User sees welcome banner after signup

### Framework

Playwright

### Logs

Logs:
[code]

TeamCity ID: 6965438

![image](https://user-images.githubusercontent.com/6549265/141211975-55f4c6fc-3651-4a57-bd83-b5cf58f8d1b9.png)

[2021-11-10 23:54] worldomonation commented on #57937
Has occurred 6/287 runs, but 3/6 were due to different reasons.

2/3 were due to a similar but slightly different message: `The requested invite was not found`.

[2021-11-10 23:57] kwight commented on #57867
Some guidelines provided by @ianstewart :

![image](https://user-images.githubusercontent.com/349751/141212472-d911d068-809c-4a77-ac3d-f72808db5632.png)

[2021-11-10 23:58] kwight commented on #57868
Some guidelines provided by @ianstewart :

![image](https://user-images.githubusercontent.com/349751/141212547-d9bdfe2c-476f-4baf-84a0-60f5a59e23e9.png)

[2021-11-11 00:02] kwight commented on #57868
Also: EuqfSnWpfYx8fgiBlVmbuA-fi-3649%3A1636

[2021-11-11 00:02] kwight commented on #57867
Also: EuqfSnWpfYx8fgiBlVmbuA-fi-3649%3A1636

[2021-11-11 00:14] benchilcote opened #57939 "Twenty Twenty-one theme paragraph block link text color not displaying"
### Quick summary

On the Twenty Twenty-one theme, In a paragraph block, changing the link color does not affect the actual color in the editor or on the live page.

Page editor:
<img width="1321" alt="Screen Shot 2021-11-10 at 19 03 27" src="https://user-images.githubusercontent.com/11636210/141213708-15451431-2d2f-4718-99f9-e87b035a3362.png">

Live page:
<img width="1298" alt="Screen Shot 2021-1

[2021-11-11 01:00] #57856 closed, assigned to nobody

[2021-11-11 02:34] #57915 closed, assigned to p-jackson

[2021-11-11 02:58] arinoch commented on #57812
4445021-zd-woothemesprovided more info. They're on Windows 10 with Chrome 95, they've also tested in Edge. Same issue. Issue also appears to happen on pages. Suggesting they try with Firefox, but I'm leaning towards the workaround isn't in this case.

[2021-11-11 04:39] pauloeaquino commented on #53626
4446511-zen (simple)

[2021-11-11 04:54] Greatdane commented on #57664
Closing - it is already possible to transform the media section of this block to an image - once transformed to an image, it can be then transformed further.
(due to the way image-compare works, it cannot be transformed into any other type of image block)

[2021-11-11 04:54] #57664 closed, assigned to nobody

[2021-11-11 05:13] reginabally commented on #57885
I performed some more testing and noticed I did receive a notification when someone commented on my test site and that the comment needs to be approved.

![Markup on 2021-11-11 at 13:12:14](https://user-images.githubusercontent.com/40906847/141241150-6626e7b2-4691-4e15-bd63-455ca5e8a8da.png)

So it's the question of why the user who reported the issue to us didn't receive the notification for comm

[2021-11-11 05:27] reginabally commented on #57885
Closing this because the pending comment notification can be seen on the user's account. Sorry for the confusion caused!

![Markup on 2021-11-11 at 13:21:52](https://user-images.githubusercontent.com/40906847/141242653-e29f03e1-65a6-42f9-8998-78ff863fdba7.png)

[2021-11-11 05:27] #57885 closed, assigned to nobody

[2021-11-11 05:33] Greatdane commented on #57881
yea, it looks like there is no official way by Youtube to embed a short at the moment,

I found a workaround (which looks to be basically what @KokkieH said);
1. Cick share on Short
2. Open a Incognito window(to prevent it from directly opening in app) and Replace "Shorts" with "Watch" on URL.
3. When it opens as a regular video click on share and copy link.
4. Open a incognito tab and paste the y

[2021-11-11 05:46] Greatdane commented on #57884
@retnonindya I think this might be related to this issue; https://github.com/WordPress/gutenberg/pull/36312 - which should be fixed in Gutenburg 11.9.0

I will leave it open for now, and we can close if the update fixes it.

BTW, you can upload .mp4 videos up to 100mb on GitHub, to get around the GIF 10mb limit :)

[2021-11-11 06:20] worldomonation commented on #57667
Another instance observed on TeamCity build ID 6967156.

[2021-11-11 06:23] worldomonation commented on #57667
Assigning High Priority due to the following criteria:
- hard blocking, no workaround available.
- affects one user at a time.

[2021-11-11 06:24] Greatdane commented on #57170
Closing this for now - don't seem to have any more reports.

[2021-11-11 06:48] worldomonation commented on #57667
Slack: p1635985973066500-slack-CBTN58FTJ

[2021-11-11 06:53] Greatdane commented on #57736
This might have been fixed by https://github.com/Automattic/themes/pull/5004

The user also replied saying the titles are suddenly back to normal without changing anything, so marking this as closed for now.

[2021-11-11 06:53] #57736 closed, assigned to nobody

[2021-11-11 06:56] worldomonation commented on #57930
Just to be clear, the user is _failing_ to see the welcome banner after signup.

[2021-11-11 06:57] worldomonation commented on #57930
Has occurred 6/287 runs, but 3/6 were due to different reasons.

2/3 were due to a similar but slightly different message: `The requested invite was not found`.

[2021-11-11 06:57] worldomonation commented on #57937
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/57930.

[2021-11-11 06:57] #57937 closed, assigned to nobody

[2021-11-11 07:03] worldomonation opened #57946 "Flaky E2E: Click and visit first support article"
### Spec file

wp-support__popover-spec.ts

### Suite or step

Click and visit first support article

### Framework

Playwright

### Logs

Logs:
[code]

TeamCity ID: 6967283

[2021-11-11 07:03] worldomonation commented on #57946
Fifth incarnation of this issue!

[2021-11-11 07:45] worldomonation opened #57948 "Playwright: refinements to auth cookie login method"
### Details

The authentication cookie saving & login mechanism was implemented in https://github.com/Automattic/wp-calypso/pull/57569.

There are some tweaks that can be made to make it a better experience locally and on CI. See the checklist.

### Checklist

- [x] reduce the wait period to a shorter timeout.
- [x] use timestamp of cookie when last modified, and if too old (> 1 day) then skip the

[2021-11-11 07:52] Rahii9 commented on #56180
I got another user requested this: # 27337319-hc

[2021-11-11 07:58] worldomonation commented on #52847
Older desktop app bug, closing with Desktop 7.0.

[2021-11-11 07:58] #52847 closed, assigned to nobody

[2021-11-11 07:58] worldomonation commented on #51082
Done!

[2021-11-11 07:58] #51082 closed, assigned to worldomonation

[2021-11-11 07:59] #52461 closed, assigned to nobody

[2021-11-11 07:59] #52845 closed, assigned to worldomonation

[2021-11-11 08:00] worldomonation commented on #54996
Probably no longer relevant, so closing.

[2021-11-11 08:00] #54996 closed, assigned to nobody

[2021-11-11 08:01] worldomonation commented on #55177
Implemented in https://github.com/Automattic/wp-calypso/pull/57457.

[2021-11-11 08:01] #55177 closed, assigned to nobody

[2021-11-11 08:02] #55718 closed, assigned to nobody

[2021-11-11 08:02] #56174 closed, assigned to worldomonation

[2021-11-11 08:03] worldomonation commented on #56629
Not seen since last comment. Closing.

[2021-11-11 08:03] #56629 closed, assigned to nobody

[2021-11-11 08:04] #56363 closed, assigned to worldomonation

[2021-11-11 08:06] worldomonation commented on #53289
Implemented in https://github.com/Automattic/wp-calypso/pull/57569.

[2021-11-11 08:06] #53289 closed, assigned to nobody

[2021-11-11 08:11] arthur791004 commented on #57779
As the following PRs are deployed, I think all of the `calypso_signup_*` events contain the `intent` now!

- [x] https://github.com/Automattic/wp-calypso/pull/57809
- [x] https://github.com/Automattic/wp-calypso/pull/57810
- [x] https://github.com/Automattic/wp-calypso/pull/57887

[2021-11-11 08:37] cpapazoglou opened #57949 "Ecommerce Plan: Research - Replace Paypal Checkout with PayPal Payments"
[PayPal Checkout (aka PayPal Express Checkout) extension](https://docs.woocommerce.com/document/paypal-express-checkout/) which is bundled with Ecom plan is deprecated

![image](https://user-images.githubusercontent.com/12430020/141265665-3ad41731-80cb-4284-a40c-5fb8f53fe983.png)

1. should we replace it with [Paypal Payments](https://woocommerce.com/products/woocommerce-paypal-payments/)?
2. what

[2021-11-11 08:57] jorpdesigns commented on #55333
32658968-HC

Current Pay with PayPal block doesn't let me save item name & description and the widget doesn't appear on the website either.

[2021-11-11 11:06] BogdanUngureanu commented on #57820
Small note, WPcom_Admin_Menu::add_stats_menu and Atomic_Admin_Menu::add_stats_menu should also rely on the same implementation as much as possible.

[2021-11-11 11:18] dsas opened #57955 "[Bug]: Default <SidebarBannerTemplate> tracks names aren't valid"
### Quick summary

SidebarBannerTemplate is a component used to display just-in-time-messages (JITMs) as an <UpsellNudge> component. Tracks events can be passed to it in the tracks property, it recognises click, display (impression) and dismiss (see #57832).

If an event name is not given to the events, it will generate an event name of it's own in the form `jitm_nudge_{click,impression,dismiss}_J

[2021-11-11 11:26] Copons commented on #52511
I've pulled this into our board, we'll see to triage it.

@JoshuaGoode could you please share where we do this? It would be extremely helpful! 🙇‍♂️

[2021-11-11 12:39] Nic-Sevic commented on #54990
Another instance here: 27931525-hc

Also +1 to labelling this as text highlight being confusing. I would expect highlight to change just the background color, not the text itself

[2021-11-11 12:57] #56542 closed, assigned to mmtr

[2021-11-11 13:33] #55860 closed, assigned to nobody

[2021-11-11 14:10] #56353 closed, assigned to chriskmnds

[2021-11-11 14:10] #57056 closed, assigned to chriskmnds

[2021-11-11 14:27] tyxla commented on #55513
Awesome, @spraveenitpro! Feel free to reach out to me if you need any help with it.

[2021-11-11 14:35] JoshuaGoode commented on #52511
@Copons I'd suspect it's `wpcomsh`.

We pull an array of managed/symlinked plugin names and then hide update notices for them.

However, I guess that is what is hiding notices for non-managed versions that aren't symlinked.

https://github.com/Automattic/wpcomsh/blob/1251251e825a749b6d6110fff6222fdfcd4309b4/wpcomsh.php#L483

I can test and confirm this is still an issue later.

[2021-11-11 14:46] cpapazoglou commented on #57746
Let's move the Ratings component we already have in the new plugin details page. We can later decide if we are using a static `yellow` color or theme-dependent color.

[2021-11-11 14:48] cpapazoglou commented on #57748
We can try something like this

![SS 2021-11-11 at 16 47 40](https://user-images.githubusercontent.com/12430020/141317907-9a21c428-0e09-4523-a0d0-45af85633b94.png)

[2021-11-11 15:04] allilevine commented on #55306
No worries, we landed on "This site's address cannot be changed"

[2021-11-11 15:22] JoshuaGoode commented on #57602
The auto-healing work has helped significantly, however, HEs still face hundreds of manual Jetpack reconnections a month.  For the last 30 days, we saw at least 200 instances and it was likely closer to 350+.

A portion of these require no email changes, a connection did previously exist,  and they require reconnecting the site and user manually.

Often, these are in live chat so we cannot wait fo

[2021-11-11 15:24] michaeldcain commented on #56032
Closed with #57686. Thank you @romokebi!

[2021-11-11 15:24] #56032 closed, assigned to nobody

[2021-11-11 15:28] klimeryk commented on #57880
cc @Automattic/cylon 🙏

[2021-11-11 16:03] dpasque opened #57958 "Flaky E2E: wp-signup__paid 'See secure payment' times out"
### Details

TeamCity ID: 6968636

Looking at the picture, it doesn't think we actually added something to our cart! 😱

[code]

![wp-signup__paid-see-secure-payment](https://user-images.githubusercontent.com/26772342/141329732-7285c8c1-9c3e-4294-8faf-142542b19b39.png)

### Checklist

_No response_

### Related

_No response_

[2021-11-11 16:08] dpasque opened #57959 "Flaky E2E: wp-signup__free 'Return to Calypso dashboard' - Didn't find block editor sidebar button."
### Details

TeamCity ID: 6968503

Looking at the video/picture, it looks like the editor just crashes as soon as it loads! It is just a blank white screen.

[code]

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2021-11-11 16:18] Copons commented on #50847
The discussion was picked up again and we agreed on this:

- As initially suggested by @tjcafferkey, we will use page views events instead of sidebar menu item clicks.
  Page view events already exist, are more reliable, and don't need any special handling or future maintenance.

- We'll therefore need to deprecate and remove sidebar menu item click events.

- On the other hand, we'll need to make

[2021-11-11 16:25] dpasque commented on #57958
Error in console:
[code]

[2021-11-11 16:42] sixhours commented on #57546
This is done!

[2021-11-11 16:57] dpasque opened #57960 "Signup Plan Selection: Handle Stripe rate limits more gracefully."
### Quick summary

One of our end-to-end tests has exposed a case where you can hit a Stripe rate limit when selecting a plan during signup. When this happens, the user is left with an empty cart.
In light of that...
1. We should potentially investigate the number of Stripe calls - the network trace showed 21 web requests all firing in the same second to Stripe, which seems like a pretty high volu

[2021-11-11 17:09] #57946 closed, assigned to worldomonation

[2021-11-11 17:35] dpasque opened #57962 "Signup Hero Flow: On write path, sometimes editor won't load"
### Quick summary

We've had a couple of our E2E tests fail in the new Signup hero flow after going down the "Write" >> "Draft your first post" path.

When they land in the editor, they get just a blank white screen and some console errors.

This does not always happen, it is only intermittently reproducible.

### Steps to reproduce

1. `/start`
2. Choose "Start writing"
3. Enter a name/tagline, c

[2021-11-11 17:36] dpasque commented on #57962
Sending to Blogger Experience Pod initially  as a heads up as it came from tests using the new Hero flow!

[2021-11-11 17:38] worldomonation opened #57963 "Flaky E2E: Comment on the post"
### Spec file

wp-user__notifications.ts

### Suite or step

Comment on the post

### Framework

Playwright

### Logs

Logs:
[code]

TeamCity ID: 6970336

[2021-11-11 17:49] worldomonation commented on #57963
Also seen on TeamCity ID 6970356.

These two builds ran at the same time of the day, which makes me wonder if something happened to the site at that time.

[2021-11-11 17:50] worldomonation commented on #57963
Console error when the comment field is clicked on to activate it:

[code]

[2021-11-11 17:50] worldomonation commented on #57963
Could be an one-off, monitoring.

[2021-11-11 18:11] worldomonation commented on #57962
I investigated other builds that ran around the same time as this failure was observed (November 11 @ 0330 PST/1130 UTC), and found the following builds that exhibited the same issue:

E2E mobile - 6968416
E2E desktop - 6968405

Looking at the video recording, screenshot and the trace files for clues, it is apparent that these issues are all identical.

Screenshot:

![image](https://user-images.gi

[2021-11-11 18:13] dpasque commented on #57962
It looks like this isn't just associated with the new Hero flow, so removing from Blogger Experience and passing along to @Automattic/flow-patrol-create .

Also pinging @fullofcaffeine as I know he's done work with the iframe to see if anything stands out from these errors.

[2021-11-11 18:14] kimerlin81 opened #57965 "Unable to unset the Highlighter feature: Clicking Clear only removes the color while preventing block color changes from applying"
### Quick summary

When Highlighter is chosen for a block (header for example) there is no way to unset it like you can with an option like Bold.
The problem is that clicking "Clear" seems to only remove the color that was applied, but it will override any color preference that is set in the block color settings. If new text is entered into the header and a block color preference is set, that will

[2021-11-11 18:19] #57583 closed, assigned to kwight

[2021-11-11 18:19] kimerlin81 commented on #57965
Current case - 4448183-zd-woothemes

[2021-11-11 18:33] supernovia opened #57966 "Comments: Offer ability to pin comments to the top of a discussion"
### What

A site admin (or even an author) may want to pin their favorite comment at the top of the comments section.

### Why

Some users want to feature a specific comment on their article rather than always showing the oldest one first. One workaround a user recommended is to change the date of the best comment so that it shows up before all of the others, but pinning could be nice, too.

### H

[2021-11-11 18:35] worldomonation commented on #57962
Looks to be resolved as per p58i-bt1-p2. It was an outage due to undeclared dependency.

[2021-11-11 18:35] supernovia commented on #57966
Requested here: https://wordpress.com/forums/topic/question-about-commenting-is-there-a-way-to-pin-comments/

[2021-11-11 18:36] #57962 closed, assigned to nobody

[2021-11-11 18:36] supernovia commented on #57966
Another request (plus the change-date workaround a user proposed) here:
https://wordpress.com/forums/topic/pinning-comment/

[2021-11-11 18:36] mreishus commented on #36226
I've confirmed the custom fields toggle no longer appears on wpcom simple sites. :)

[2021-11-11 18:36] #36226 closed

[2021-11-11 18:45] #57845 closed, assigned to worldomonation

[2021-11-11 18:45] #57513 closed, assigned to worldomonation

[2021-11-11 18:53] jeyip commented on #55374
I'll open a Gutenberg issue soon. After more investigation, I think we might want to bump this up to a high / normal priority.

From what I can tell, a large number of block editor settings deal with this issue (text color, link color, typography, etc.), but there is a more nuance than first laid out in the issue description.

The first set of changes to _any_ of the aforementioned settings is rec

[2021-11-11 18:57] dpasque commented on #57959
This was caused by a widespread editor outage, see p58i-bt1-p2

Closing!

[2021-11-11 18:57] #57959 closed, assigned to dpasque

[2021-11-11 19:18] msilbers commented on #57161
@romokebi It should send an email no matter what post is published

[2021-11-11 19:30] katiebethbrown commented on #55815
Reported in 31612069-hc

I upgraded them from annual Premium to monthly Business manually.

[2021-11-11 19:46] jeyip commented on #55374
Closing this in favor of https://github.com/WordPress/gutenberg/issues/36417

[2021-11-11 19:46] #55374 closed, assigned to jeyip, zaguiini

[2021-11-11 20:09] Addison-Stavlo opened #57971 "Site Editor loading - wp-admin nav menu present during loading process."
This was not an issue with previous versions and is not reproducible on 11.8.*.

However, with the v11.9.* releases, we have an issue where loading the site editor shows the wp-admin menu for few seconds while it is loading.  This is an issue because the user can interact with this menu and then navigate throughout wp-admin while locked in the site-editor calypso iframe URL.

With v11.9.0:

![wp-a

[2021-11-11 20:18] the-misha commented on #57036
Another one: 32690620-hc

[2021-11-11 20:47] AtrumGeost commented on #57812
The user here: 4441486-zd-woothemes

Pointed out they ran some tests and the issue only happens when trying to preview with the custom domain (ex. `custon-domain.com/?p=3964&preview=true`), but if they use the free WP.com address it works (ex. `custom-domaim.wordpress.com/?p=3964&preview=true`)

[2021-11-11 21:59] AmeliaBriscoe opened #57976 "P2 Page List Block - links are not clickable"
### Quick summary

When adding the Page List block to a P2 page, the resulting list of page links are not clickable.
The pointer event attribute in the CSS is set to 'none'.

### Steps to reproduce

1. Create some pages on a P2
2. Create a separate page and add the Page List block.

Screenshot below is for a P2 using the Pages List block
![2021-11-12_08-45-44](https://user-images.githubusercontent

[2021-11-11 22:48] carladoria commented on #54383
I was chatting today with a user that wanted to delete their site. Since we have now the self-serve revert, I provided the steps to their purchases section, but they only had the option to "remove Business plan" which led them to only disable the autorenewal only. It had some small text that said that plan would be active to date.... but this is still very confusing in my opinion.
The remove optio

[2021-11-11 23:41] alaczek commented on #56567
I looked at the data, and interestingly Hever, Morden, Exford, and Shawburn consistently show up at the top, so I'm thinking we should keep them for now (all in the Business category), and I'll come back to look at the data a month from now (after we add categorization) to see If they remain popular.

If they do, we should look into replacing them with newer, better-quality variations that improve

[2021-11-12 01:06] dpasque commented on #57930
Wowsers, this one is tricky...

So, in a couple of these cases, there's something screwy with getting redirected to a second login form. That's a separate issue to look into.

However, with this case of the link being bad, here's what I've been able to figure out...

1. The error is that the invite link has already been used. The response from the web request to accept the invite link:

[code]

2.

[2021-11-12 01:20] alaczek commented on #56567
We chatted about this in our pod sync, and this is where we landed:
* Recommended category is confusing - because in the theme showcase it is something like an umbrella for ALL the themes we have here. **We're getting rid of it in favor of pointing customer to the category that matches their stated intent.**
* We'll be adding an ALL category instead of Featured. It will be added in code - not as a

[2021-11-12 02:12] happychait commented on #50687
I ran into this in 16821750-hc

[2021-11-12 03:09] p-jackson opened #57984 "Launch Bar: The "My Home" label wraps poorly in Spanish"
The link back to the Calypso dashboard in the Launch Bar doesn't deal well with long label text. Maybe the link element is fixed width? This means if a translation is longer than expected then it'll wrap poorly and be difficult to read.

**Steps**
1. Test an unlaunched site
2. Change _site language_ to Spanish (not the language in `/me`, the one in `/settings/general/:site`
3. View the front end o

[2021-11-12 04:35] arunsathiya opened #57985 "Fortune theme: Block widgets aren't visible on wp-admin dashboard but appear fine on Customizer"
### Quick summary

Block widgets added to a site are visible only on the Customizer, not on the wp-admin widgets view.

### Steps to reproduce

- Activate Fortune theme (latest version is 1.0-wpcom) on a WordPress.com site.
- Add some widgets using the Customizer.
- Visit widgets area on the wp-admin dashboard. Notice that widgets are missing.

### What you expected to happen

Widgets appear fine

[2021-11-12 04:36] arunsathiya commented on #57985
For some extra clarity, I have tested only on Atomic, not on Simple.

[2021-11-12 04:48] arthur791004 commented on #57660
I've logged in as `gutenbergSimpleSiteUser` and tested it, and I didn't see the “Welcome Tour” after the `nux_status` is marked as `dismissed`. Also, if we re-entered the editor, the “Welcome Tour” won't show anymore. How could I know which test case failed due to this issue? Maybe I can have another try via running e2e testing.

{"core/nux":{"preferences":{"areTipsEnabled":false,"dismissedTips":{

[2021-11-12 04:59] arunsathiya commented on #57985
Related conversation: pcmoY8-3V#comment-445

[2021-11-12 06:29] vishnugopal commented on #57803
A fix is up at D70009-code, this will be reviewed and deployed soon.

[2021-11-12 06:36] pauloeaquino commented on #57390
Same type of issue encountered in 32189249-hc (Followup in 4449254-zen)

[2021-11-12 07:22] worldomonation commented on #57660
Typically, this issue is not reproducible by simply logging into the account using a browser. In other words, this issue is intermittent, but when it occurs it is quite readily reproducible in both CI and 'normal' desktop environments.

The Welcome Tour is shown _despite_ the `nux_status` being set to `dismissed` (checked in the sandbox). Reproducibility of this issue is intermittent and unpredict

[2021-11-12 08:23] jeyip commented on #55982
Interesting -- I only see the nudging on initial load of the isolated template part view. If the isolated editor is resized or if the page is refreshed, the block toolbar renders as expected.

[2021-11-12 08:43] rickmgithub opened #57988 "Sensei LMS - Color of module titles in editor"
### Quick summary

When you create a new module the title of that module appears as black text on a black screen. Screencapture here -

https://user-images.githubusercontent.com/13706336/141439780-b27293d1-f7dc-4bdd-926c-1ad8816775ec.mp4

### Steps to reproduce

Click to add a module in Sensei in the course list page.
The title area appears with a black background. As you type the text is black on

[2021-11-12 08:59] arthur791004 commented on #57787
Do we also need to hide the FAB on the desktop? The reason that the FAB is higher than normal is that we don't have a better way to deal with the FAB and navigation bar stuck to the footer. Thus, we move up the FAB on the mobile 😅

[2021-11-12 09:02] Robertght commented on #57988
I think this is Sensei related. @jeherve is this suitable for https://github.com/Automattic/sensei/issues ?

[2021-11-12 09:16] Robertght commented on #57369
I'm going to mark this as low priority for now, but please share your cases here.

[2021-11-12 09:20] kylemcph commented on #57711
Another report on #4447491-zen. I asked them to wait for the Gutenberg 11.9 release which should fix this per https://github.com/WordPress/gutenberg/issues/36274.

[2021-11-12 10:03] arunsathiya opened #57991 "Widget visibility: Settings do not save on "Custom HTML" widget"
### Quick summary

For the `Custom HTML` widget, widget visibility rules don't get saved. The widget visibility rules work okay (there's another issue https://github.com/Automattic/wp-calypso/issues/57992) on a paragraph block though.

### Steps to reproduce

- Start with a WordPress.com site. (I have not tested on a WordPress.org site)
- Add a Custom HTML widget. Add some content to it.
- On the

[2021-11-12 10:03] arunsathiya commented on #57991
These reports are related: https://github.com/Automattic/wp-calypso/issues/54678 and https://github.com/Automattic/jetpack/issues/21446

[2021-11-12 10:06] arunsathiya opened #57992 "Widget visibility: Choosing `Hide this block` reverts to `Show this block` after saving the rules"
### Quick summary

Choosing `Hide this block` on widget visibility settings for a block reverts to `Hide this block` after saving the Customizer/wp-admin dashboard widget changes.

### Steps to reproduce

- Start with a WordPress.com site (have not tested on WordPress.org)
- Add a widget to the site, say a Paragraph block.
- Set widget visibility rule to `Hide this block` on certain pages.

### Wh

[2021-11-12 10:10] tyxla commented on #53003
This one was fixed by @spraveenitpro in #57374, thanks a bunch for the contribution! 🙌

[2021-11-12 10:10] #53003 closed, assigned to nobody

[2021-11-12 10:41] jeherve commented on #57988
Yup, that would be the right place for it I think.

[2021-11-12 11:00] lsl commented on #56776
D69993-code replaces D68873-code

[2021-11-12 11:14] cpapazoglou opened #57994 "Plugin Details: Spacing and Padding fixes"
### Details

Let's fix the following issues
![image](https://user-images.githubusercontent.com/12430020/141458232-b96a38d3-1ba5-44a9-8e19-a366a59a8587.png)

![image](https://user-images.githubusercontent.com/12430020/141458249-db2d3f7a-7dc9-41ab-b6cf-35f3a4659307.png)

Designs
![SS 2021-11-12 at 13 14 00](https://user-images.githubusercontent.com/12430020/141458307-1f1a34cf-96bf-4a78-89e2-7edb6f02

[2021-11-12 11:22] #41326 closed

[2021-11-12 11:43] kavyagokul commented on #57711
Another one in 31681229-hc

Told them to wait for the 11.9 update and shared some workaround css with them

[2021-11-12 12:06] kimerlin81 opened #57996 "Renamed Tags are not updated properly causing AMP live tests to fail"
### Quick summary

In Calypso, when a tag is renamed, the URL for "View posts" does not update. Also, the page source code of tagged posts still reflects the old tag name even though it shows correctly in the tag section of the page settings.

https://user-images.githubusercontent.com/83732167/141463191-58d29bc4-98ce-4334-9ab7-6538fb6739f8.mp4

Page Source Screenshot:
![Screenshot on 2021-11-12 at

[2021-11-12 12:10] DanAntion commented on #51787
This is depressing. The person who left this comment on my Facebook page is the first person I ever followed on WordPress and hr has been following me for over 10 years!

It has now been over seven months since I reported this problem!

Every day, I get your “Congratulations” messages about new followers, but the total barely goes up because I am losing others. Worse, I’m gaining new spam follower

[2021-11-12 12:16] Addison-Stavlo opened #57997 "Follow up on site editor "Styles" entry point."
With the nav menu changes in Gutenberg v11.9, we updated the new entry point "Editor (styles)" to load the editor in the calypso iframe.  We also hid the new "Styles" button for the time being.  This was all done in https://github.com/Automattic/jetpack/pull/21691.

While there is already some discussion (p1636465118016400-slack-C01A7D4GPGC) about removing the "Styles" button in core Gutenberg, if

[2021-11-12 12:17] Addison-Stavlo commented on #57699
At this point the main concerns of the Entry points were handled in - https://github.com/Automattic/jetpack/pull/21691.

However, we will need to figure out what to do with this "Styles" entry point.  It is currently hidden, and requires some more calypso-side work to work properly if we want to keep it around.  However, there is already discussion about removing this in core Gutenberg.  Created a

[2021-11-12 12:17] #57699 closed, assigned to mattwiebe

[2021-11-12 12:33] cpapazoglou opened #57999 "Plugin Install: refresh the site plugins after plugin installation with upgrade"
### Details

Installing a plugin to a Simple site (eg Business Simple) leads to an Atomic transfer. It seems that after transfer & installation site plugins are not fetched again which results in:
- "Manage Plugin" still animating
- Plugin appearing as not installed yet when navigating back in Plugins Browser (without a page refresh, by clicking Explore or the X button)

![image](https://user-imag

[2021-11-12 13:11] Addison-Stavlo commented on #57971
Added an issue in Gutenberg repo since this is reproducible there - https://github.com/WordPress/gutenberg/issues/36445

[2021-11-12 13:20] Rahii9 commented on #57711
Another report received on 32701393-hc

Temporary fix provided.

[2021-11-12 13:27] #57867 closed, assigned to blackjackkent

[2021-11-12 13:53] the-curioustech commented on #49499
Thank you for this!  I can add it to my playbook to make this finally work!!!

[2021-11-12 14:02] carinapilar opened #58004 "CMP Banner: Can't Close It"
### Quick summary

You aren't able to close the CMP (Consent Management Provider) banner on free sites.

### Steps to reproduce

1. Check one of your free sites.
2. Look for the CMP banner in the footer
3. Click on "Close and Accept"

### What you expected to happen

To close the banner reload the page.

### What actually happened

It reloads the page but the banner is still there.

### Context

T

[2021-11-12 14:13] filipanoscampos commented on #57711
Another case of this bug here: 32699872-hc.

I followed up via ticket 4449926-zd-woothemes and provided CSS workaround.

[2021-11-12 14:26] davipontesblog commented on #50765
Changed the priority to "High".  This is now affecting the core `Appearance > Widgets` for WoA sites.

[2021-11-12 15:16] cpapazoglou commented on #57999
👋  @jordesign, while I initially though I knew the root of the problem I couldn't reproduce it. Can you please share more details about your case?

1. Plugin
2. Site plan before upgrade
3. Is there a chance it was Atomic before upgrade?

If you can still reproduce it, can you please take a video?

Moreover, after upgrading your site you would also need to re-apply `wpcom-marketplace` blog sticker

[2021-11-12 15:26] ivan-ottinger commented on #57412
We did look at the issue with @arcangelini and @StefanNieuwenhuis today and here are our findings:

- the `Highlight` dropdown is displaying correctly on both Simple and Atomic sites - as @dpasque mentioned in the previous comment
- the `Colors` section in the sidebar is displayed on Atomic sites only because it is coming from CoBlocks plugin that is preinstalled and activated on Atomic sites. If

[2021-11-12 15:26] #57412 closed, assigned to nobody

[2021-11-12 15:26] aleone89 opened #58010 "Feature Request: Stats: Add Caribbean Islands to stats map highlighter"
### What

Add Caribbean Islands to stats map highlighter map

### Why

Currently Caribbean locations are tracked in the stats country list, however these locations are not highlighted in the map. Adding this will provide a visual representation of the popularity of a site in this location.

### How

I'm not sure how this could be done at this stage.

[2021-11-12 15:46] #57994 closed, assigned to WBerredo

[2021-11-12 16:15] rickmgithub opened #58012 "WordPress.com doesn't load on Safari 12"
### Quick summary

When trying to visit WordPress.com on Safari 12, all that appears is a blank page with a WordPress logo.

### Steps to reproduce

Go to WordPress.com
Blank page appears with WordPress logo.

### What you expected to happen

WordPress.com login page to appear

### What actually happened

![Markup 2021-11-12 at 14 33 46](https://user-images.githubusercontent.com/13706336/141498411

[2021-11-12 17:29] Addison-Stavlo commented on #57971
A proposed solution - https://github.com/WordPress/gutenberg/pull/36455

[2021-11-12 17:38] carinapilar opened #58017 "Domains: Missing Navigation Header on DNS Page"
### Quick summary

The navigation header isn't showing up on the DNS page.

### Steps to reproduce

1. Select a site where you have a custom domain.
2. Go to Upgrades > Domains.
3. Select your domain.
4. Click on _"Change your name servers & DNS records"_.
5. Click on _"DNS records"_.

### What you expected to happen

To see a navigation header as the previous page had.

### What actually happened

[2021-11-12 17:41] andres-blanco commented on #57868
Closed by https://github.com/Automattic/wp-calypso/pull/57924

[2021-11-12 17:41] #57868 closed, assigned to blackjackkent

[2021-11-12 17:45] xtnsele commented on #56745
Hello, any updates on this issue?

[2021-11-12 18:00] Copons commented on #52630
With the Nav Unification works resuming, we can take care of this.

The unified sidebar is capable of showing this kind of data (although please note that the items are shorter than in the Calypso sidebar, so we have less room for label + progress bar), and the checklist status comes from an endpoint (see [data layer](https://github.com/Automattic/wp-calypso/blob/10998ea1e5de4f2c6afc81061fbbfd7fce

[2021-11-12 18:09] Copons commented on #51388
tl;dr

The issue: columns on wp-admin/edit.php can become exceedingly narrow due to the unified sidebar being larger than the Core wp-admin one.

The proposed solution: toggle the collapsed view of lists at a wider breakpoint.

[2021-11-12 18:23] Copons commented on #50765
This is the same issue of https://github.com/Automattic/wp-calypso/issues/51388, so we might as well address them together.

[2021-11-12 18:25] andres-blanco commented on #57869
On firefox & safari I get this error. I will be investigating on this issue

![image](https://user-images.githubusercontent.com/375980/141514905-b44312f3-0200-447e-8d52-6647183e610c.png)

[2021-11-12 18:28] andres-blanco commented on #57663
Closed by: D69835-code

[2021-11-12 18:28] #57663 closed, assigned to blackjackkent

[2021-11-12 18:29] sajmes commented on #42056
YouTube embed did not show when added in a reusable block. It does then show if converted to regular blocks.

Aquene.

Report: 4448310-zd-woothemes

[2021-11-12 18:47] #57891 closed, assigned to WBerredo

[2021-11-12 18:55] andres-blanco commented on #57869
API endpoint `https://public-api.wordpress.com/wpcom/v2/courses?course_slug=blogging-quick-start` is returning `403 Forbidden` when consumed from Firefox

[2021-11-12 20:25] masperber commented on #57919
10954297-hc the customer isn't able to see all of their published pages in WordPress.com view. All pages are visible in Classic Vew. Asked them to use Classic view as a workaround.

[2021-11-12 21:03] Robertght commented on #57876
I know I've seen this mentioned somewhere. I'm not sure if we should keep it here or move it to the Atomic repo.

cc @JoshuaGoode for a second look.

[2021-11-12 21:17] Robertght commented on #57919
Thank you for your report @masperber !

For the first example, a Jetpack sync didn't do the trick, but I don't see a conflict test. This can be affected by one of the plugins, a mix of some or the theme. I recommend reaching out to the website owner for further debugging for now.

On the second case, I just checked and the counts on both dashboards are the same.

[2021-11-12 21:24] Robertght commented on #57927
Thank you for the report @cat-og ! Although they are the same theme in essence, some things might not behave the same.

I'm not quite sure of the expected behavior here, but I'm pinging @jordesign for a second look.

[2021-11-12 21:30] Robertght commented on #57965
Thank you for this super-clear report @kimerlin81 ! :)

I asked here: p1636752643139000-slack-CBTN58FTJ

cc @Automattic/flow-patrol-create  as well

[2021-11-12 21:40] Robertght commented on #57991
Thank you for the report! @Automattic/flow-patrol-create is this something you could take a look at?

[2021-11-12 21:43] Robertght commented on #57988
Thank you for the confirmation Jeremy & Rick for reporting this. I'm closing it in favor of this https://github.com/Automattic/sensei/issues/4419

[2021-11-12 21:43] #57988 closed, assigned to nobody

[2021-11-12 21:53] Robertght commented on #58004
I can't seem to replicate this on my free sites at the moment. Is it possible to share a quick video capture from your end @carinapilar ?

[2021-11-12 21:54] Robertght commented on #58012
Thank you @rickmgithub!

I'm going to close this in favor of this one: https://github.com/Automattic/wp-calypso/issues/57379

[2021-11-12 21:54] #58012 closed, assigned to nobody

[2021-11-12 22:00] Robertght commented on #58017
Thank you @carinapilar ! I pinged here: p1636754368013400-slack-C014TPFLP4Z

[2021-11-12 22:35] arinoch commented on #57876
@Robertght - This and #57464 strike me as long-standing issues that have probably come up before. I couldn't find them in a search, but that means nothing. I think both atomic issues are oversights on our part that could stand to be addressed.

[2021-11-12 22:48] leonardost commented on #58017
Hi @carinapilar, thank you for reporting this! We just deployed #58027 that corrects this, so I'll close this issue 🙂

[2021-11-12 22:48] #58017 closed, assigned to nobody

[2021-11-12 23:33] supernovia commented on #57803
Thank you!

[2021-11-13 06:09] supernovia commented on #57803
Another case here, so we can followup when this is resolved:
https://wordpress.com/forums/topic/tumblr-import-370/

[2021-11-13 14:05] ktyfuller604 opened #58031 "WordPress Reader: Star Rating Duplicated"
### Quick summary

If a post has a star rating block in it, and you view it from the Reader, there are two rows of stars, each with a different style:
![Star Rating in Reader](https://user-images.githubusercontent.com/38542929/141646611-f6405cfb-8d00-47a6-a2d0-874d7070d4ce.png)
.

### Steps to reproduce

1. Create or edit a blog post and add the Star Rating block
2. View the post in the WordPress

[2021-11-13 19:35] westonruter opened #58032 "Feature Request: Allow multiple email addresses to be associated with a WordPress.com account"
### What

Allow multiple email addresses to be associated with an account and allow different emails to receive blog subscription emails

### Why

I subscribe to various blogs via https://subscribe.wordpress.com/ and sometimes they are related to my work and other times they are personal. I want the New Post emails for the former to go to my work email and New Post emails for the latter to go to m

[2021-11-13 19:40] jamiepalatnik commented on #57711
Possibly related: 32720468-hc
Making a change, then resaving the page resolved the issue. No follow-up needed.

[2021-11-13 22:02] cuemarie commented on #57036
I've run into this here: 4453415-zd-woothemes
The highlight is appearing on the product quantity numbers on their Shop page, so I'm not able to find a way to remove the `<mark>`.

<img width="324" alt="Markup 2021-11-13 at 15 00 56" src="https://user-images.githubusercontent.com/27249804/141660225-46971782-f1ff-4bc1-be28-144cb5c83804.png">

I've provided the CSS workaround as a temporary solution

[2021-11-14 01:44] rw-ye commented on #51664
Customer report of this issue here: 4451703-zd-woothemes

[2021-11-14 02:03] kuropixel commented on #52241
User requesting: 32723456-hc

[2021-11-14 04:12] rw-ye commented on #52728
Another report 4451692-zd-woothemes

The file block also seems to show an error when added to a Premium content block.

<img width="729" alt="Screen Shot 2021-11-14 at 2 06 03 pm" src="https://user-images.githubusercontent.com/21261509/141667162-2eaa699d-202d-4a1a-abe4-fec22e176c47.png">
<img width="668" alt="Screen Shot 2021-11-14 at 2 06 31 pm" src="https://user-images.githubusercontent.com/2126

[2021-11-14 05:59] rw-ye commented on #57812
4453017-zd-woothemes

The user tried using Safari 15 and Firefox 94:
https://www.whatsmybrowser.org/b/1B77J
https://www.whatsmybrowser.org/b/QXFC4

[2021-11-14 06:41] formosattic commented on #25244
Issue still there, autoplay set in the Video block doesn't work.
User report (4453768-zd-woothemes), but also reproduced on self-hosted site so moving this to Jetpack.

![image1](https://user-images.githubusercontent.com/15944096/141670481-4938d9f7-e170-4cc5-bb77-2cffa80ef1a6.png)

[2021-11-14 06:50] arunsathiya commented on #54949
One more report here: 4451454-zen. Deleted video, visiting link does not show the video but counts as a download.

[2021-11-14 06:50] formosattic commented on #51874
Thanks for the report. This is a Jetpack feature so transferring there.

[2021-11-14 13:31] rachelwinspear commented on #57415
Another report: #32722316-hc

[2021-11-14 18:03] rachelwinspear opened #58033 "Image Block inserts Black Background when converted to Cover Block"
### Quick summary

When text is added to the Image Block with the button `Add text over image` the block is converted into a Cover Block, however, the original image is changed to a black background, and the image has to be inserted again.

<img width="509" alt="Screenshot on 2021-11-14 at 18-56-08" src="https://user-images.githubusercontent.com/44442769/141692620-ed386e99-01a5-49b4-8678-602c7fb13

[2021-11-14 19:03] kspilarski opened #58034 "Include Blocks' Contents in Search"
### What

Make contents of blocks searchable.

### Why

It'll help show which posts or pages have that particular content.

### How

Here's an example of a page with Latest Posts block:

<img width="1736" alt="Screen Shot 2021-11-14 at 6 28 41 PM" src="https://user-images.githubusercontent.com/36863633/141694615-090a44a8-b27f-49d5-9e51-e3dd59dc7200.png">

One post from the Latest Posts block has t

[2021-11-14 20:19] marianearchimbaud commented on #51540
Reported here too: 4452356-zen

[2021-11-14 22:36] alaczek commented on #56567
This is now done.

[2021-11-14 23:45] Greatdane commented on #57711
Another: 32734720-hc

[2021-11-15 01:44] kimerlin81 opened #58035 "Dummy Bug Report"
### Quick summary

Mic check 1 2 1 2. This Bug Herders Test Issue is brought to you by the creators of all things Happy.

### Steps to reproduce

1. This message will self destruct in 5
2. 4
3. 3
4. 2
5. Psych

### What you expected to happen

Everything

### What actually happened

Absolutely nothing

### Context

NA

### Operating System

_No response_

### Browser

_No response_

### Simple, At

[2021-11-15 01:48] inaikem commented on #58035
Internal discussion thread: p1636940698032300-slack-C02E2V9A8BF

[2021-11-15 02:08] dcoleonline commented on #47992
Encountered in 4455111-zen where a customer was using a Blog Posts block to show posts inside of a page.

I tried the workaround of a different button style, but it only worked initially.
Once I refreshed, the icons disappeared again.

I tested a few sharing settings, and it noticed that the sharing buttons were only configured to show on posts.
Once I also enabled them on pages, the icons appeare

[2021-11-15 04:00] #58035 closed, assigned to nobody

[2021-11-15 06:05] arthur791004 commented on #57660
Maybe we should always run `dismissWelcomeTourIfPresent` before `getEditorFrame` inside the `waitUntilLoaded` function  to ensure the Welcome Tour is dismissed 🤔

[2021-11-15 06:07] Robertght commented on #57727
Thank you for the report @Nic-Sevic ! I reported it further here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5138

[2021-11-15 06:07] #57727 closed, assigned to nobody

[2021-11-15 06:21] Robertght commented on #51664
Still an issue.
I tested with on a iPad Pro with iOS 15, Chrome and Safari.

[2021-11-15 06:23] mrsjaved opened #58038 "Blog Posts Block: Portfolio links not clickable when displayed along site posts"
### Quick summary

Portfolio detailed page link does not work on load more when displayed along side posts and only when clicked on load more posts button.

### Steps to reproduce

1. Open your WP.com simple site.
2. Enable projects/portfoliios from settings -> writing if not enabled already.
3. Make sure you have a couple of portfolios and posts. Atleast six for testing.
4. Add blog posts block t

[2021-11-15 07:04] worldomonation commented on #57660
The failures are always at the step of obtaining the iframed editor itself, of which the Welcome Tour is a component.

If the iframed editor's handle cannot be obtained as expected, how will the tour be dismissed?

[2021-11-15 08:12] cpapazoglou commented on #57743
@dlind1 it seems that all texts are translated. Can you confirm?

[2021-11-15 08:20] allanftd opened #58041 "Add a Warning Mechanism When Site Resources are Maximized"
### What

Add a notification or warning (via email and dashboard) when site resources gets maximized, e.g. maximum database size, theme/plugin directory size, or disk space already reached

### Why

User on 32738155-hc had an issue with one page using WPDatatable plugin. The content does not show up when a visitor is not logged in when opening the page. After the user removed some tables (and redu

[2021-11-15 08:24] arthur791004 commented on #57660
Oh I'm sorry for my misunderstanding. But when I dive into [test statistics page](https://teamcity.a8c.com/test/-8018917900234028616?currentProjectId=calypso_WebApp&branch=) and [#7913](https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/6972017), the reason of failure is the timeout of obtaining the iframe editor or its title as you said. I don't understand why this

[2021-11-15 09:02] arthur791004 commented on #55603
Close this one as all of the tasks are done!

[2021-11-15 09:02] #55603 closed, assigned to nobody

[2021-11-15 10:15] jartes commented on #43919
32741606-hc

[2021-11-15 10:17] #57783 closed, assigned to roo2

[2021-11-15 10:50] arcangelini commented on #52728
Just passing along the updates, it looks like the original patch is not going to merge with WordPress 5.9 release or WordPress.com due to a security issue with the purposed fix. I would suggest following the workaround listed above for the time being.

Using the [PDF block](https://wordpress.com/support/embedding-a-pdf-file/)

[2021-11-15 11:26] vindl opened #58049 "Legacy FSE: update pinned Gutenberg version to 11.9"
After updating to 11.9 is completed on WP.com, we should look into updating the pinned version for Dotcom FSE.

[2021-11-15 12:16] vishnugopal commented on #57803
A fix for this should now be deployed! @supernovia please confirm and close! 🙏🏽

[2021-11-15 13:55] chad1008 commented on #57036
@cuemarie while this one looks similar, I think it's actually a bit different. Those `mark` tags are generated by WooCommerce, and not Gutenberg.

I suspect they're appearing in yellow on this site because the currently active theme wasn't written specifically with WooCommerce in mind, so it doesn't include the styles other WooCommerce-ready themes would to override this kind of default browser st

[2021-11-15 14:07] andres-blanco commented on #57869
This seems to be fixed by D70072-code

[2021-11-15 14:10] #57546 closed, assigned to sixhours

[2021-11-15 14:11] sixhours commented on #57778
This was done in r234779-wpcom

[2021-11-15 14:11] #57778 closed, assigned to nobody

[2021-11-15 14:27] sixhours commented on #57786
At this point, I think the best way to test this tool is for folks to use it. :D And that will happen over the next few weeks. We can always make changes if it proves difficult in some way.

[2021-11-15 14:27] #57786 closed, assigned to sixhours

[2021-11-15 14:48] JoshuaGoode commented on #57876
The Atomic repo is no longer used so this can stay in Calypso's.

However, I think we can reopen an original issue and then do some merges as it looks like we have multiple open for the same thing.

There was an older issue but this was the most recent for syncing WPCOM username and email information to Atomic: https://github.com/Automattic/wp-calypso/issues/46077

That was closed on September 6th

[2021-11-15 14:53] chad1008 commented on #57965
I can reproduce this on v11.9.0 (edge) at the moment. cc @fullofcaffeine @ellatrix

What's happening is that when you apply a text color with `Highlight` it generates a `mark` tag with the chosen text and background color. In the absence of a chosen background [a transparency is applied](https://github.com/WordPress/gutenberg/pull/35516).

Now, when you use the Clear button to remove the text colo

[2021-11-15 15:06] cpapazoglou opened #58058 "Marketplace: Technical blockers remaining for adding Yoast"
- [ ] https://github.com/Automattic/wp-calypso/issues/60437
- [ ] https://github.com/Automattic/wp-calypso/issues/60438
- [ ] https://github.com/Automattic/wp-calypso/issues/60441
  - [ ] Relocating licenses to other sites - removing from one site and adding to another (not blocker)
- [ ] https://github.com/Automattic/wp-calypso/issues/60442
  - [ ] Add a flag (maybe a11n check) for retrieving yoa

[2021-11-15 15:55] obenland commented on #52630
@simison This has been defunc'd for 6+ months. Before we go ahead and duplicate that component in PHP, is this still needed to be in the sidebar? Have the other improvements we've made on launch flows made this obsolete?

[2021-11-15 15:59] #57057 closed, assigned to chriskmnds

[2021-11-15 16:18] niranjan-uma-shankar opened #58061 "[Bug]: Unable to signup on iOS devices"
### Quick summary

I tried signing up on WordPress.com on an iOS device using an online simulator, and each time I was redirected to an "Unsupported browser" page.

### Steps to reproduce

**Using Chrome's "Toggle device" feature in the developer toolbar**

1. Open https://wordpress.com with the user agent set to an iPhone device - iPhone 6/7/8 or iPhone X
2. Proceed to signup as a new user. On th

[2021-11-15 16:33] kimerlin81 commented on #57965
Thanks, Chad! This makes complete sense!

"All of this is, of course, going to be very counterintuitive for a user that didn't add a background color, and has no idea the system is doing it "in the background" (pun in intended)" - THIS part! :)

[2021-11-15 16:33] mrfoxtalbot opened #58062 "Republicize in Gutenberg: Missing icons lead to layout issues"
### Quick summary

This is actually two issues in one.

1. Some of the avatars do not seem to be loading.
2. When avatars fail to load, the rest of the layout is messed up.

### Steps to reproduce

1. Open the Gutenberg republicize sidebar or click "share" while in wp-admin.
2. Look at the "connected" accounts list.

### What you expected to happen

Social media avatars should be loaded. The layou

[2021-11-15 16:49] Copons commented on #58062
D69728-code takes care of the missing FB avatar, although in your screens I can see a missing Twitter one too.
We might as well handle missing avatars from all services with with a generic fallback.

[2021-11-15 17:04] kwight opened #58063 "Videos UI: Text is clumping at narrow widths."
Text is clumping at narrow widths.

<img width="300" alt="Screen Shot 2021-11-15 at 9 04 02 AM" src="https://user-images.githubusercontent.com/349751/141823602-7cfc766f-10b9-497e-8f45-5157857b1ac6.png">

[2021-11-15 17:16] pablinos commented on #58062
If the image is actually missing then we only display the network icon.

This happens when the image is a broken URL. For Facebook it was because their images expire. I've not seen it with Twitter before. We should probably test is the URL we have is accessible.

We were also talking about hiding the alt text with `text-indent`

[2021-11-15 17:17] dpasque opened #58064 "Playwright: Update Domain Add script for new thank you landing page"
### Details

[code]

![wp-domains__add-make-purchase](https://user-images.githubusercontent.com/26772342/141825239-67087ffb-634e-4b08-a582-321bf25edc0a.png)

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2021-11-15 17:23] kwight commented on #58063
Let's make sure any text wrapping that needs to happen does so with good line height and no overlap like the screenshot.

[2021-11-15 17:34] davipontesblog commented on #50765
Hi @mrfoxtalbot , thanks for testing, and my apologies for not being more specific [here in my comment](https://github.com/Automattic/wp-calypso/issues/50765#issuecomment-967157445).

The issue lies in when adding a Paragraph block as a widget, then trying to add a Link to the word, the link modal from the block toolbar bleeds under the nav bar on the left. I can't share the video I have on this h

[2021-11-15 17:39] davipontesblog commented on #50765
I was able to replicate the issue on Simple sites just now, from Appearance > Widgets (wp-admin/widgets.php)

https://user-images.githubusercontent.com/31009008/141828517-cca78963-ba26-4614-b4f0-84a7ce6e30f2.mp4

[2021-11-15 17:53] Copons commented on #58062
What about using `onError` to handle broken images?

[2021-11-15 17:59] provenself commented on #57246
That's right! Courses back-end was far too big/templated for what we needed.

[2021-11-15 18:09] Addison-Stavlo commented on #57704
closed with https://github.com/Automattic/wp-calypso/pull/57833

[2021-11-15 18:09] #57704 closed, assigned to Addison-Stavlo

[2021-11-15 18:15] Copons commented on #50765
Thanks for the clarification @davipontesblog, admittedly I'd have never thought of testing the URL popover! 😅

This though led me to uncover another, worse issue: the Widgets screen has the editor moved by 272px to the left to make room for the sidebar, but it doesn't take into account the fact that the sidebar can also be collapsed manually:

| Expanded | Collapsed |
| - | - |
| <img width="764"

[2021-11-15 18:28] enejb commented on #58061
This should now be fixed via #58066.

Thanks for reporting it @niranjan-uma-shankar !

[2021-11-15 18:28] #58061 closed, assigned to nobody

[2021-11-15 18:30] the-misha opened #58067 "Carousel block gives "unexpected error" when converting to another block type"
### Quick summary

User reports they're unable to convert the Carousel block (CoBlocks) to another block type, instead seeing an "unexpected error" message. Reproduced this consistently on test site. Possibly related to [this issue](https://github.com/Automattic/wp-calypso/issues/56559)?

### Steps to reproduce

1. Add a Carousel block to any page or post.
2. Populate with images.
3. Click **Carou

[2021-11-15 18:34] worldomonation commented on #55845
Repurposing this issue to remove the method from the library instead.

[2021-11-15 18:39] worldomonation commented on #56449
Could be related to #56805.

[2021-11-15 19:00] #58063 closed, assigned to andres-blanco

[2021-11-15 19:03] kwight opened #58071 "Videos UI: Checkmark bullet text is poorly aligned when wrapping."
Checkmark bullet text is poorly aligned when wrapping. The wrapped text should align with the text above it, not the checkmark.

<img width="495" alt="Screen Shot 2021-11-15 at 9 07 48 AM" src="https://user-images.githubusercontent.com/349751/141839276-e69fb16f-954e-4332-b8ce-650579fa769f.png">

[2021-11-15 19:58] autumnfjeld commented on #57702
* Welcome Tour should NOT show behind any of the Blogger flow modals
* The Welcome Tour should NOT show in this  blogger flow which includes: Draft post modal > writing in the editor > clicking publish > seeing the congratulations "First post modal"
* Nice to have: The Welcome Tour could show on the 2nd time the blogger opens the editor, because in this case the modals will not show and there isn'

[2021-11-15 20:08] DavidRothstein commented on #43183
It's worth pointing out that there are two emails that go out here:  The main receipt email (from the top of this post) and the one shown in https://github.com/Automattic/wp-calypso/issues/43183#issuecomment-853278467.

Presumably a fix here could involve merging the two into a single receipt email with the best properties of both.

See also: pbMlHh-Jx-p2 (internal link)

[2021-11-15 20:10] jp-imagines commented on #57812
Another report: 31344553-hc. Chrome 95.0 on Windows 10. Suggested the workaround.

[2021-11-15 20:13] kwight commented on #57869
With the lates changes, I've verified look and behaviour on Firefox, Safari, and Edge. 👍

[2021-11-15 20:13] #57869 closed, assigned to andres-blanco

[2021-11-15 20:25] sixhours commented on #57277
I can reproduce this on a WordPress.com Simple site with a Premium subscription as well.

I suspect this is related to intentional throttling on Yahoo's end (MailPoet is experiencing similar issues, tracked here: pcD9cT-jv-p2)

I'm going to investigate our email logs to confirm the error is not on our end.

[2021-11-15 20:29] Gustavo-Hilario opened #58073 "Reblog button is missing on posts"
### Quick summary

Simple sites with the `reblog` button enabled are not showing it.

### Steps to reproduce

1. On simple sites, enable the reblog button by going to Tools > Marketing > Sharing Buttons
2. Publish or check one of your blog posts
3. The reblog button will not appear there

### What you expected to happen

I'd expect to see the `reblog` button there.

### What actually happened

The

[2021-11-15 20:30] kwight opened #58074 "Videos UI: Videos don't have a poster."
All of the course videos should have a poster, so that users have some positive feedback of what video they're about to watch (instead of blank first frames).

<img width="1402" alt="Screen Shot 2021-11-15 at 12 26 29 PM" src="https://user-images.githubusercontent.com/349751/141849476-762c090a-0115-4c5b-8285-f91eb06d0022.png">

[2021-11-15 20:45] mreishus commented on #57308
Alternate reproduction instructions:
* Have two simple sites, one with a custom domain, one without
* Visit https://developer.wordpress.com/docs/api/console/
* Use WP.COM API / v1.2 / GET / `/sites/1234`, where 1234 is the site id
* Notice the `url` key for the custom site uses http, but the non-custom one uses https.

This is caused by [this block](https://github.com/Automattic/jetpack/blob/580a8

[2021-11-15 20:53] #57931 closed, assigned to worldomonation

[2021-11-15 21:07] kwight commented on #56888
This was just launched for EN users only. Next steps will be:

* user progress tracking,
* and course management.

[2021-11-15 21:51] carinapilar commented on #58004
@Robertght, I think this is fixed already, I can't replicate it anymore, might have been related to a recent outage. I'll close it. Thanks! 🙂

[2021-11-15 21:51] #58004 closed, assigned to nobody

[2021-11-15 21:59] kwight opened #58079 "Videos UI: Use an `X` instead of "Back" for the My Home modal."
Let's use an `X` in the top right to close our My Home modal, instead of the "Back" link (which was designed in the context of onboarding, not My Home).

[2021-11-15 22:00] kwight commented on #57793
This was handled by closing #57867 and #57868.

[2021-11-15 22:00] #57793 closed, assigned to nobody

[2021-11-15 22:01] kwight commented on #57852
EN-only behaviour is currently gated client-side.

[2021-11-15 22:08] spraveenitpro commented on #55513
### Here is what I am planning to implement:

![](https://d.pr/i/2e3z9O+)
[Direct Link](https://d.pr/i/2e3z9O+)

### Here is the original:

![](https://d.pr/i/pdHvmE+)
[Direct Link](https://d.pr/i/pdHvmE+)

Moving the popup upwards, creates the space for the site tag line, hope that is fine.

@tyxla

[2021-11-15 22:12] masperber opened #58081 "User cannot change default Post category"
### Quick summary

Initial report: 19236885-hc

When user tries to update their default Post category, no change is made.

### Steps to reproduce

In Calypso, navigate to Settings > Writing in Classic view.
Change default Post category setting and Save Changes.
The change does not save.

Or, navigate to Posts > Categories in WordPress.com vew.
Click on the 3 dots next to a category and attempt to

[2021-11-15 22:17] mreishus commented on #57308
In 2016, we offered "free HTTPS for all custom domains hosted on WordPress.com". Blog post: https://wordpress.com/blog/2016/04/08/https-everywhere-encryption-for-all-wordpress-com-sites/
PR: https://github.com/Automattic/jetpack/pull/21747

[2021-11-15 22:29] kwight commented on #57774
P2 post with ideas: pdgK6S-m4-p2

[2021-11-15 22:31] kwight commented on #57984
The fix for https://github.com/Automattic/wp-calypso/pull/58078 will probably be helpful.

[2021-11-15 22:45] jp-imagines opened #58083 ""Empty" links (<a> tags without href) causing block errors"
### Quick summary

I've come across this in two separate interactions now. While I'm able to reproduce the behavior by manually adding empty `<a> </a>` tags in with the code editor, **I'm not sure how either user ended up with these empty tags to begin with**.

For completeness, I _have_ tried adding a link using the hovering block toolbar without an address, and that doesn't seem possible. It als

[2021-11-15 22:50] freelylovinglife commented on #57711
Another report - 4456677-ZD The issue is with a contact form field text that changed to black font.

[2021-11-15 23:07] #57844 closed, assigned to worldomonation

[2021-11-15 23:16] jordesign opened #58085 "Block Widget Error with Blank Screen or 500 errors on Simple Sites"
### Quick summary

When going to Appearance > Widgets on a Simple Site the Block Widget Editor does not appear. 2 different presentations so far:

* 500 error (on user site - https://eata.wordpress.com/wp-admin/widgets.php - no longer showing as classic widgets are enabled)
* Blank screen

<img width="1763" alt="Screen Shot 2021-11-16 at 10 11 50 am" src="https://user-images.githubusercontent.com/

[2021-11-15 23:17] worldomonation commented on #55845
On second look, it seems that this method is still used in two places in the spec files, and neither of them have caused problems so far:

- test/e2e/specs/specs-playwright/wp-invite__new-user.ts
- test/e2e/specs/specs-playwright/wp-likes__post-spec.js

In both of these cases, having this method is actually quite useful as it 1) avoids having to create a new Context for one step, and 2) the flow r

[2021-11-15 23:23] jeyip commented on #58085
There also appears to be a bug with the beta site editor. The site editor shows a blank screen when users navigate to Appearance > Editor. The root cause of our problems might be related.

[2021-11-15 23:29] dlind1 commented on #57816
Sorry for the delay. Is the idea to translate it in the same way the other content on woocommerce.com is translated, or should it be specific to the WPCOM Marketplace? If it's the first time, then it'd require coordination with woocommerce.com to add translation support for these (i.e. more uncertainty). If it's the second one then we could implement some processes and add a translation project ju

[2021-11-15 23:34] adelineyaw commented on #58085
User reported via 136342-hc

[2021-11-15 23:39] worldomonation commented on #57963
This looks to be an issue related to p58i-bt1-p2, which is now resolved.

[2021-11-15 23:39] #57963 closed, assigned to nobody

[2021-11-15 23:49] annbingle commented on #51388
Another reported case here 32522251-hc

[2021-11-15 23:50] jordesign commented on #57927
OK - so there's a few things going on here....

https://themeskingdom.com/demo/veni/ and 8Dqch-p2r (our demo site) both use the 'Compact menu' option for the theme- which is different to what the user has in place. In either case - the change from full-menu to hamburger-menu appears to happen at the same kind of point.

There is a *slight* difference between the public theme and our version - but

[2021-11-15 23:51] dlind1 commented on #56902
Originals for Shipment Tracking were imported into the [translation project](https://translate.wordpress.com/projects/woocommerce/extensions/woocommerce-shipment-tracking/) and would be sent for translation on Monday.

[2021-11-16 00:00] jordesign commented on #57927
It seems possible we need to go back to them to see if anything else may have changed. Things I can think of that might make it *seem* like the theme changed...

* They're looking on a device with a different screen resolution
* The page-zoom in their browser has changed.

[2021-11-16 00:01] arinoch opened #58088 "Calypso "People" interface has no sorting/pagination options, may cause browser issues with significant numbers of users."
### Quick summary

There are no sorting/pagination options on the Calypso user management interface (people/team, for example).

### Steps to reproduce

1: Create, or visit, a site that has a significant number of users (the site I encountered this issue on has 79, as of the last time I looked at it).
2: Navigate to Users > All Users on that site.

### What you expected to happen

I expected to be

[2021-11-16 00:06] arthur791004 commented on #57702
Okay. Let's wait and see if anyone encounters this again!

[2021-11-16 00:14] worldomonation commented on #57660
Thanks, I will see if I can try doing that to work around the issue.

[2021-11-16 00:30] worldomonation commented on #57660
It looks like in order to dismiss this using `ESC` key, one would have to click on and highlight the Welcome Tour.

Since the issue is with the Welcome Tour likely blocking the locating and retrieval of the iframed editor in the first place, this isn't a feasible option. I'll have to think of anther potential workaround.

[2021-11-16 00:35] arinoch commented on #58085
32475976-hc, followup in 4458311-zd-woothemes.

[2021-11-16 00:53] vindl commented on #58085
This seems to be caused by r235089. We'll look into reverting it until a proper fix can be found by the team that introduced the change.

[2021-11-16 01:14] arinoch opened #58089 "No option to reblog in the wpcom reader."
### Quick summary

There is no "reblog" option when looking at posts in the reader.

### Steps to reproduce

1: Open the Reader
2: Find any post that usually has sharing options

### What you expected to happen

"reblog" should be among those options.

### What actually happened

Sometime in the last hour or two, the option is missing from the reader.

### Context

Reported in 31922310-hc, and ver

[2021-11-16 01:15] arinoch commented on #58089
May be tangentially related to on-going issue #58073.

[2021-11-16 01:32] helenaartmann commented on #58073
Another report here: 4458333-zd

[2021-11-16 01:36] autumnfjeld commented on #57787
@arthur791004  Removing the FAB is more about controlling the user experience (its not as much about the Visual aspect of the positioning of the FAB).   We intend for the Blogger flow to be a clear flow for the user, the purpose is to guide the user through a specific path and thus we can make an assumption that we don't need to show the help FAB.

For now, we are making a decision to not show the

[2021-11-16 01:46] retnonindya commented on #57884
Another report/confusion here:
4453643-zd-woothemes

[2021-11-16 02:22] roo2 commented on #56831
Added custom timings here https://github.com/Automattic/wp-calypso/pull/57897

[2021-11-16 02:22] #56831 closed, assigned to roo2

[2021-11-16 02:24] joweber123 commented on #53609
I also experience this when working in P2 often.  I am unable to reproduce it consistently but I do notice it often especially when trying to bold text.  I use Firefox 94.0.1 but not clear if this is browser-specific.

[2021-11-16 02:25] roo2 commented on #57702
it looks like https://github.com/Automattic/wp-calypso/pull/57982/files is a potential fix, right @arthur791004. I couldn't reproduce it, but the theory that the iframe url was changing right after publishing  sounds plausible, I think we should deploy it and then see if this keeps coming up

[2021-11-16 02:45] arthur791004 commented on #57702
Yep, it might be the potential fix. But I'm not sure it's the same situation or not.

[2021-11-16 03:13] ollierozdarz commented on #57787
@autumnfjeld I agree! Let's remove it!

[2021-11-16 03:25] creativecoder commented on #58085
This should be resolved by D70135-code and no longer affecting sites in production.

[2021-11-16 03:27] kraftbj commented on #58085
Reverted via r235097-wpcom

[2021-11-16 03:27] #58085 closed, assigned to nobody

[2021-11-16 04:34] niranjan-uma-shankar commented on #58061
Thanks for jumping in and fixing this quickly @enejb !

[2021-11-16 06:10] arthur791004 commented on #57787
Close this issue as https://github.com/Automattic/wp-calypso/pull/57989 has already removed the FAB.

[2021-11-16 06:10] #57787 closed, assigned to nobody

[2021-11-16 06:27] arthur791004 commented on #55513
I'm not sure but I think if we have a sort of educational tour, we should only allow the user to click the target element. That being said, the user should only fill out the site title and click the “All done, continue” button and follow the next educational tour. I'm okay to adjust the popup position for now.

[2021-11-16 06:29] galakhyati opened #58091 "Add a setting to setup description of payment in Stripe payment to be shown on the card statement"
### What

When a user has a Payment block added which is processed via Stripe, the subscriber's card statements says they've paid WordPress.com and not for the subscription. I'm suggesting to have a setting to set the description to be shown for payment made

### Why

Adding a description setting will allow the customer to know what they've made a payment for.

The user who makes the payment will

[2021-11-16 07:51] rachelwinspear commented on #56076
Similar issue reported here: #4459026-zen

Site is set up with Static Page, user clicked `Hide the Site Header` in the customize and lost the site menu.

Perhaps alternative wording, as it appears to recommend hiding the header for Static Pages, which can be confusing. I feel this option would be best for Landing Pages, not Static Pages.

[2021-11-16 08:03] rachelwinspear opened #58093 "Checkbox 'Hide the Site Header' reworded in Customizer"
### What

Rewording of the checkbox description 'Hide the Site Header'

### Why

Make the checkbox `Hide the Site Header` option clearer for users, so they know when to use this and what content will disappear (not everyone knows what content is displayed in the header).

### How

Currently, it is worded as:

Hide the Site Header _Check to hide the site header, if your homepage is set to display a

[2021-11-16 09:17] rw-ye opened #58098 "Press This not working, launches editor without any content, title, or link"
### Quick summary

PressThis is not adding any of the highlighted content into the popup window block editor post. I can reproduce the issue more frequently on simple sites.  However, AT sites are impacted too.

### Steps to reproduce

1. Open up a simple/AT site.
2. Go to Settings → Writing
3. Drag and drop the "Press This" button below your bookmarks bar.
4. Go to a page on any site.
5. Highligh

[2021-11-16 09:26] jromales commented on #58073
+1 on 4457082-zd-woothemes
They have a Simple site (Free plan).

[2021-11-16 09:26] jordesign commented on #58085
Looks like all users/interactions have been replied too now (thanks @adelineyaw)

[2021-11-16 09:35] Robertght commented on #58062
I can confirm I saw this in [Slack](p1636961767032300-slack-C03TY6J1A) yesterday as well on another case.

[2021-11-16 09:40] IoanaAMuresan commented on #57725
Hi, just letting you know that the customer reached out wondering how long finding a fix for this issue might take. They feel stuck in using their site - say they can't really advance without this feature... I replied with an apology and trying to buy some time - is there a timeline, or any other info on this?

[2021-11-16 09:45] mmtr commented on #57820
Not sure we can do much more. Stats data is on WP.com, so it's directly available for Simple sites. However, Atomic and Jetpack sites need to perform a remote request to WP.com to fetch the data. That's why the current implementation is different.

[2021-11-16 09:57] Robertght commented on #58083
I think this is the expected behavior for now as it contains invalid code and I can replicate this on a self-hosted site.

cc @Automattic/flow-patrol-create for a second look

[2021-11-16 10:06] hypest opened #58101 "[Bug]: Domain-only flow hangs at "preparing the domain for purchasing""
### Quick summary

Trying to buy a domain without a site ends up in the "Preparing domain for purchase" screen not going away.

### Steps to reproduce

0. Ensure not being logged in to WordPress.com
1. Go to https://wordpress.com/domains/
2. Search for a domain (example: `iwantanewdomain`)
3. Select one of the options. I went with the recommended one (iwantanew.domains)
4. Select "Just buy a domai

[2021-11-16 11:27] Copons opened #58107 "Improve the unified sidebar responsiveness on wp-admin"
The unified sidebar is slightly larger than the Core sidebar, and so we had to recalculate the various sidebar-related breakpoints and positionings in wp-admin.
In some cases, they don't work appropriately.
This issue is likely related to #51388 and #50765.

## Large Screens (`>782px`)

| Expanded | Collapsed |
| - | - |
| <img width="1062" alt="Screenshot 2021-11-16 at 10 32 57" src="https://user

[2021-11-16 11:30] Copons commented on #51388
@mrfoxtalbot Thanks for the link!
As it seems that issue won't be fixed anytime soon (moved from 5.9 to "future release" pending design), so we might as well try something ourselves for now.
I fully understand what deviating from Core means, but the issue is being worked on and we can't know when it will be sorted out and released (here a [proposed fix](https://core.trac.wordpress.org/attachment/t

[2021-11-16 11:43] #57763 closed, assigned to cpapazoglou

[2021-11-16 11:59] cpapazoglou commented on #57816
@dlind1, no worries!

I lean towards to

so that we start having a central storage for that content. We can then decide how we can utilize it.

cc: @ianstewart, @bgrgicak

[2021-11-16 12:03] WunderBart commented on #57884
This regression will actually be fixed via another PR: https://github.com/WordPress/gutenberg/pull/36406. It will most probably be included in a v11.9.x patch release. We're currently in the middle of the v11.9 upgrade in WPCOM - please follow the [tracking issue](https://github.com/Automattic/wp-calypso/issues/57451) for more info. /cc @fullofcaffeine @chad1008  @glendaviesnz

[2021-11-16 12:08] tyxla commented on #55513
I think this is a solid solution @spraveenitpro! I'll review the PR code-wise, but will also ping folks from @Automattic/ganon who own the onboarding flows and should give the final call on it.

[2021-11-16 13:17] retrofox commented on #56776
https://github.com/Automattic/wp-calypso/pull/58024

[2021-11-16 13:35] eduardozulian commented on #57711
Another report in 32535221-hc. I shared a generic CSS with them.

[2021-11-16 13:52] dragstor commented on #3321
I had a chatter today in 32759364-HC asking about why they were listed as an admin in another user's site.

More about it in 4459233-ZD.

[2021-11-16 14:01] bgrgicak commented on #57816
You can review the [WCCOM i18n implementation here](https://github.com/Automattic/woocommerce.com/blob/5cada2b05d9d9c69652e79f6d6ddaf018d3496ce/plugins/wccom-plugins/i18n/README.md#L1).

If you have any questions, could you please P2 about it to include other Alpha members?

cc @denho @mattyza

[2021-11-16 14:03] ccwalburn commented on #57812
Another report here: 32763305-hc
Only happens with Scheduled posts.
Firefox 94 on Windows 10 - preview doesn't work from the editor, but the workaround works
Chrome - preview works in the editor and with the workaround

[2021-11-16 14:12] andres-blanco commented on #58074
There are two alternatives:
 * Use the [poster attribute for the video tag](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-poster): we would need to take screenshots, host them somewhere, link to them.
 * Set an offset to the first video so the browsers pick up a frame with the title, this feels much simpler. There's a diff for this here: D70152-code

[2021-11-16 14:16] sixhours commented on #57277
I do eventually get the results from the contact form on my Atomic site, but they go to Spam, and with a couple hours' delay:
<img width="854" alt="Screen Shot 2021-11-15 at 8 09 18 PM" src="https://user-images.githubusercontent.com/2124984/142001081-05d6421e-b679-4716-9e8d-f35dde95eff5.png">
<img width="857" alt="Screen Shot 2021-11-16 at 9 13 21 AM" src="https://user-images.githubusercontent.com

[2021-11-16 14:16] #57277 closed, assigned to sixhours

[2021-11-16 14:26] ClassicRKR27 commented on #57369
I have another instance here where deactivating Page Optimize cleared the issue immediately: 31107895-hc

[2021-11-16 14:32] Addison-Stavlo opened #58117 "Site Editor close button fill animation."
The close button fill was recently added in https://github.com/Automattic/wp-calypso/pull/57956 as the nav sidebar was removed from core Gutenberg.  However, our basic implementation of this lacks the animation present in core Gutenberg for custom icons:

![icon-animation](https://user-images.githubusercontent.com/28742426/142003697-c6f358fb-02b5-49a0-b479-c8a766f0b039.gif)

This was omitted from

[2021-11-16 14:44] AtrumGeost commented on #57304
Another user reported the preview is not working as expected:

25478233-hc

[2021-11-16 14:52] Addison-Stavlo opened #58118 "Site Editor Tracking - better global styles event debouncing"
Currently we debounce global styles update events in site editor tracking so that interactions with slider type inputs do not spam tracking events.  However, this debouncing could be handled better by comparing the initial entity state before the first debounce to the edited entity state after the last debounce, as opposed to the ignoring the initial entity state until the last debounce.

An examp

[2021-11-16 14:59] Addison-Stavlo opened #58120 "Site Editor tracking - remove global styles color palette slug"
With recent updates to how Gutenberg handles color palettes in global styles, the custom color palette no longer overrides the theme supplied color palette and every item is added by the user.  As a result, we no longer have use for tracking the `palette_slug` [as was previously being done here](https://github.com/Automattic/wp-calypso/blob/21b61e467a7e587e976bd5c68f0d1399273ed0a8/apps/wpcom-block

[2021-11-16 15:02] WunderBart commented on #57711
This regression will actually be fixed via another PR: https://github.com/WordPress/gutenberg/pull/36406. It will most probably be included in a v11.9.x patch release as the v11.9.0 has already been released. We're currently in the middle of the v11.9 upgrade in WPCOM, so please follow the [tracking issue](https://github.com/Automattic/wp-calypso/issues/57451) for more info. /cc @fullofcaffeine @c

[2021-11-16 15:02] Addison-Stavlo opened #58121 "Site editor e2e - add tests for save tracking events."
We recently added a new tracking events for saving for:
* [individual entities via the multi entity save panel](https://github.com/Automattic/wp-calypso/pull/57833)
* [initiating a save in the site editor (1 event regardless of how many entities)](https://github.com/Automattic/wp-calypso/pull/60408)

We should update the[ site editor tracking e2e tests](https://github.com/Automattic/wp-calypso/blo

[2021-11-16 15:18] Addison-Stavlo opened #58123 "Site Editor Tracking - track closing the site editor"
We previously made sure that the wpcom_block_editor_close_click [did not fire when opening the navigation panel](https://github.com/Automattic/wp-calypso/blob/326876bc04cd400ec56428b0974882603cb4e229/apps/wpcom-block-editor/src/wpcom/features/tracking/wpcom-block-editor-close-click.js#L11).  Since the navigation panel was recently removed, we should update our tracking system to be able to track w

[2021-11-16 15:49] kwight commented on #58074
I'd much prefer option one – the user still experiences the music beginning and the title animation of the card that way.

[2021-11-16 15:53] kwight opened #58126 "Videos UI: Play buttons don't have a hover state."
The play buttons are missing their hover state; see https://github.com/Automattic/wp-calypso/issues/57583#issuecomment-963857623

[2021-11-16 15:54] Copons commented on #51388
@mrfoxtalbot Just FYI, the columns are _already_ hidden by default.
Though, this only happens if the user has never manually toggled columns before from the screen options, so they might still show up on some sites.

I'd be kind of inclined to rework how those columns are displayed, rather than hiding them.
For example, we could put several items in the same column and display them vertically inst

[2021-11-16 16:35] AtrumGeost commented on #57711
Another report here:

32766296-hc

Asked for some CSS help

[2021-11-16 16:49] kathrynwp commented on #57711
Here's the CSS workaround I provided for the above interaction, which can be targetted to specific pages if needed. With a custom CSS class added to only specific cover blocks, it could also be adjusted to target only those.

[code]

[2021-11-16 16:57] kwight commented on #57250
This is good for at least a first iteration.

[2021-11-16 16:57] #57250 closed, assigned to nobody

[2021-11-16 17:04] isocialtish commented on #58073
Another report of Reblog missing in #31608113-HC

[2021-11-16 17:05] sixhours commented on #55175
I'm able to reproduce this on my test site using @katiebethbrown's excellent instructions.

After looking at Jetpack Sync's documentation and some of the code, I suspect we're comparing user IDs only -- the existing ID vs. the to-be-synced ID -- and see they are the same; the only thing that's changed is the username meta, which we never check for changes.

This is where we pull the user informati

[2021-11-16 17:31] NoHopeRadio opened #58132 "Twenty Twenty: Separator Line Wide Width has set Width"
### Quick summary

Here's some code in the style-sheet, lines 4718-4721:

[code]
When a separator block is in a column, it overflows:

<img width="1882" alt="Screenshot on 2021-11-16 at 12-26-34" src="https://user-images.githubusercontent.com/71042895/142035430-ad1ebd54-2746-4242-938b-0af17abe78b6.png">

### Steps to reproduce

1. In Twenty Twenty theme, add columns.
2. Add separator blocks in col

[2021-11-16 17:35] creativecoder commented on #51903
Next steps for this issue:

- Open a Gutenberg issue for adding color controls to the Page List block
- Open a Gutenberg issue to propose differentiating Block Level Global Styles for the various List blocks... right now they are all affected by the "List" styles

[2021-11-16 17:46] renata-franco opened #58134 "Existing Video Block Code Prevents Block Editor From Loading"
### Quick summary

The majority of the posts cannot be loaded on Block Editor on this simple site.
**Ticket: 4460307zd**

### Steps to reproduce

1. Start on https://wordpress.com/posts/
2. Click on any post. Some load, most don't.

### What you expected to happen

The block editor should load.

### What actually happened

For all the posts that do not load, no matter their title, the tab only say

[2021-11-16 17:47] renata-franco commented on #58134
Very sorry if this is in the incorrect category.

[2021-11-16 18:01] worldomonation commented on #57460
Reopening issue due to some more instances of this happening.

TeamCity ID 6974976

[2021-11-16 18:06] sixhours commented on #55175
Checking the user received data from the API, we may be able to "fix" this on the front end by displaying the `name` from `linked_user_info` rather than the name assigned to the blog ID:
<img width="750" alt="Screen Shot 2021-11-16 at 12 58 41 PM" src="https://user-images.githubusercontent.com/2124984/142040289-d95d3a9d-b617-4397-babb-5eb5b9281072.png">

This gets set in `class.wpcom-json-api-endp

[2021-11-16 18:20] fullofcaffeine commented on #57965
Reported on core: https://github.com/WordPress/gutenberg/issues/36532.

@kimerlin81 Thanks for reporting this! It's often a good practice to try to reproduce the issue in a vanilla WP+Gutengerg instance if you can t (i.e using `wp-env` in the Gutenberg repo) and if you manage to do, report in the Gutenberg repository instead of (or in addition to) Calypso. If you need help doing that next time, fe

[2021-11-16 18:28] tellisbethel opened #58137 "Stats: Jetpack Stats video download count increasing unexpectedly"
### Quick summary

This user's File Download Jetpack Static count is increasing for two videos on an unpublished page that has only been seen by the user. The user considers it a bug that:

1. They never actually downloaded the videos, only having viewed them at the video link
2. The video views are considered a download even though the page is not published and never has been
3. Their views of th

[2021-11-16 18:44] jeyip commented on #51903
Closing in favor of https://github.com/WordPress/gutenberg/issues/36537 and https://github.com/WordPress/gutenberg/issues/36539

[2021-11-16 18:44] #51903 closed, assigned to nobody

[2021-11-16 18:45] sixhours commented on #55175
Tested this, and when a site is disconnected from Jetpack, you can't access the Calypso UI for the Atomic site, though you can access the  UI for the shadow site, and it still contains the linked user info. Since Simple sites won't have `linked_user_info`, we can check to see if there is `linked_user_info` and favor that `name` over the site's `name` since it's the most up to date.

I'm leaning to

[2021-11-16 19:03] supernovia commented on #57803
Thank you! I can see my connected blog now. I disconnected and reconnected to ensure that's working, too, and finally ran an import of the most recent stuff I've posted on tumblr. Everything looks good. Closing this up and reaching out to the users. Cheers!

[2021-11-16 19:03] #57803 closed, assigned to vishnugopal

[2021-11-16 19:13] andres-blanco commented on #58074
@kwight where should poster imaged should be hosted?

[2021-11-16 19:15] gcsecsey commented on #57754
Reached out to the #tax-team on Slack, waiting for their response. p1637090095141100-slack-CPSFQ1KJR

[2021-11-16 19:17] davipontesblog commented on #51076
Here is a user that could have used this for a much easier experience for them: 32722397-hc.

[2021-11-16 19:37] mreishus commented on #53555
Saw another occurrence today.

[2021-11-16 19:47] ianstewart opened #58142 "Improving setup with Woo"
Can we remove some or all of the wp-admin notices generated by Woo …

- by forcing defaults
- removing non-needed ones
- moving them to another location in a consolidated UI
- or something else?

Example of Plugins screen when you have a Theme active that has setup instructions AND you've skipped Woo Setup.

![image](https://user-images.githubusercontent.com/545779/142055266-22280f8e-9680-42bd-aed

[2021-11-16 19:50] sixhours commented on #55175
Scrapped a front-end approach for now, since the People screen is not the only place you'll find the display name in Calypso. :-/

I think this might have been caused by the fix in Automattic/jetpack#20479, which prevents syncing of stale user data from WP.com to `/wp-admin`. It's possible the updated WP.com data is seen as "stale" after a disconnection. Will keep digging!

[2021-11-16 19:54] mreishus commented on #37080
I haven't been able to reproduce this with the site icon that's set in calypso. When checking the `/sites/<siteid>` endpoint before and after the transfer:

before:
[code]
after:
[code]

Additionally, the icon still appears in calypso after transferring:
![2021-11-16_13-50](https://user-images.githubusercontent.com/937354/142055652-05842031-ec90-45d7-b692-1b1296fc298d.png)

And in the frontend's h

[2021-11-16 19:59] kwight commented on #57774
Filed Guide page: PCYsg-DgC-p2

[2021-11-16 20:21] kwight opened #58143 "Videos UI: Checkmarks are out of alignment."
The checkmark list is now right-justified, instead of left-aligned with the videos list below it.

| Current | Mockup |
| --- | --- |
| <img width="700" alt="Screen Shot 2021-11-16 at 12 17 50 PM" src="https://user-images.githubusercontent.com/349751/142059401-58d0bae9-c5af-4c1f-9479-2faf16e7c206.png"> | <img width="615" alt="Screen Shot 2021-11-16 at 12 19 44 PM" src="https://user-images.githubus

[2021-11-16 20:32] dpasque commented on #58064
Closed by #58122

[2021-11-16 20:32] #58064 closed, assigned to dpasque

[2021-11-16 20:33] dpasque commented on #57958
On this one, I'm not sure there's a lot we can do apart from fixing the related bug that is behind this: #57960

[2021-11-16 20:38] AetherUnbound opened #58144 "Add raw transform for spoiler block"
It would be useful to add a transformation for the Spoiler block which converts the [collapsible content Markdown syntax](https://about.gitlab.com/handbook/markdown-guide/#collapse) into a Spoiler.

#### Steps to reproduce

1. Start on any post
2. Paste the following content: `<details> <summary>Title here</summary> content here </details>`

#### What I expected

A Spoiler block is created with th

[2021-11-16 20:41] jp-imagines commented on #57812
Another report in 12785399-hc, Safari 15.0 on Mac OS X 10.15.7.

[2021-11-16 20:42] dpasque commented on #57930
Next steps for this issue:
1. Watch for another test to fail with this
2. Grab the invite key and query to see it's status in the DB

If that continues to not be found, there's probably some kind of bug in creating and fetching invites that needs to be debugged, and it might be best to pull in some people who know more about that area.

[2021-11-16 20:49] desnum commented on #57711
Another case here: 30464893-hc
User had a Personal plan, so I manually re-adjusted the overlay and text colors in the editor.

[2021-11-16 21:00] desnum commented on #51540
A case here: 29733751-hc
The workaround seems to put the image back into the account profile for now

[2021-11-16 21:06] #58126 closed, assigned to kwight

[2021-11-16 21:06] arinoch commented on #58073
This and #58089 may possibly be related - the Reblog option doesn't show up in the reader either.

[2021-11-16 21:06] #58071 closed, assigned to kwight

[2021-11-16 21:17] mattwiebe commented on #56908
I have a patch for this in D70179-code

Note that it says "Edit Site"

[2021-11-16 21:29] kwight commented on #58074
Same site as the videos themselves, I'd think. 👍

[2021-11-16 21:34] wprhunt commented on #57711
Same as 30464893-hc
I found that for form blocks in the cover block, since they don't have color options the solution is to select the column block they are in and set the text color for the column to white:
![Edit Page ‹ — WordPress com 2021-11-16 15-29-26](https://user-images.githubusercontent.com/16481427/142069439-2a6ce02b-a9c6-4764-be3e-2c32dd7cbe25.jpg)

[2021-11-16 22:15] arinoch opened #58147 "Editor: Allow to add custom colors to the color picker for blocks--IE: the paragraph block."
### What

I would like to see the option of adding to the color picker available in block settings a custom color outside of those readily available by default.

### Why

This will allow for more flexibility in assigning colors to blocks, as opposed to needing to enter a color manually if a non-default color choice is used regularly. As seen in interactions such as 4454635-zd-woothemes.

### How

[2021-11-16 22:16] arinoch commented on #58147
Credit actually goes to the HC who surfaced the suggestion in the ticket. Posting because they lack the permissions.

[2021-11-16 22:18] kwight commented on #57984
Fix in D70182-code for review.

[2021-11-16 22:20] #56568 closed, assigned to nobody

[2021-11-16 22:27] creativecoder commented on #57484
D69819-code has been deployed, which should resolve this issue. Thanks again @noahtallen for bringing it to our attention!

[2021-11-16 22:27] #57484 closed, assigned to zaguiini

[2021-11-16 22:32] noahtallen commented on #57484
Thanks a bunch! I just verified my site is now working in the site editor. 🙇

[2021-11-16 22:34] mreishus commented on #57308
This had to be reverted. Currently, this is basically an intractable problem. We try to provide valid SSL certificates for all simple sites, but some small % do not have them. With the proposed changes, I found at least one site that returned https:// as the url in the sites endpoint, but the browser showed an error when visiting the https:// version of it.

When we are building a response for the

[2021-11-16 22:36] supernovia commented on #30179
Hi! Did we have a regression, or a decision against cmd U to underline? I just noticed this isn't working (a user was asking how to underline [here](https://wordpress.com/forums/topic/underlining-text-2/?view=all))

[2021-11-16 22:37] supernovia commented on #30179
Noting too, this isn't working on .org either as far as I can tell; I commented on this issue but can't re-open it:
https://github.com/WordPress/gutenberg/issues/13034

[2021-11-16 22:40] supernovia commented on #54422
It'd be okay if we just let people know the older themes are retired. As it is though, it's harder for folks to tell which themes will be appropriate.

[2021-11-16 22:42] mreishus commented on #50051
Along with #57308 ([see note](https://github.com/Automattic/wp-calypso/issues/57308#issuecomment-970739658)), this is currently an intractable problem, basically. We try to provide valid SSL certificates for all simple sites, but some small % do not have them. When requests are running inside public-api, we don't know which sites have certificates and which don't: that is stored in an external sys

[2021-11-16 22:43] kwight commented on #57935
D70185-code

[2021-11-16 22:54] kwight commented on #57873
Hm, should we actually do this? There's something to be said for never autoplaying a video. 🤔 cc/ @ianstewart @ollierozdarz

[2021-11-16 22:56] supernovia commented on #58073
Another report here:
https://wordpress.com/forums/topic/reblog-button-25/

[2021-11-16 23:50] dmsnell commented on #58144
for whoever comes and picks this up, I found that this transform roughly does what I expect

[code]

[2021-11-16 23:58] roo2 commented on #58073
have a fix diff ready for review D70189-code

[2021-11-17 01:05] yaelirub opened #58149 "Theme search is almost impossible - Screen keeps jumping to the top"
https://user-images.githubusercontent.com/1335657/142090903-cbc19ae7-e0c8-4647-a0dc-38f9ff51b987.MP4

[2021-11-17 01:19] donalirl opened #58150 "Block Patterns Showing Unexpected or Invalid Content Error"
### Quick summary

Several block patterns show the following error message:

"This block contains unexpected or invalid content"

### Steps to reproduce

1. In the editor, click the + block inserter
2. Click the Patterns tab
3. In the dropdown, choose Columns
4. Scroll down to the pattern called Pricing Table that shows the error in both the preview and when adding it to the page:
![Screenshot on

[2021-11-17 01:34] arunsathiya commented on #58073
One more report on 32772744-hc, which is moved to 4461575-zen.

[2021-11-17 01:39] kosiew commented on #58073
Also reported in #4460865-zen

[2021-11-17 01:41] annbingle commented on #57812
Another one reported in this ticket - 4461543-szd

[2021-11-17 02:12] jordesign commented on #57999
@cpapazoglou  Hmm - let me see.

1. Yoast SEO
2. 99% sure it was on a free plan
3. Very unlikely

---
I've just run through testing again installing Yoast and recreated.

Site SImple/Free before upgrade:

<img width="1742" alt="Screen Shot 2021-11-17 at 12 18 11 pm" src="https://user-images.githubusercontent.com/1842363/142092885-4181cf7b-c60c-44f7-b6aa-a98235def67c.png">

Purchasing/Upgrading to

[2021-11-17 03:17] arthur791004 commented on #57855
Close this as https://github.com/Automattic/wp-calypso/pull/57894 merged. Also, I've posted the current situation of the first post published modal at pdgK6S-mb-p2. Now, the modal won't show on the atomic sites even if the user has the “write” intent. If this case is important, we would come back to fix it.

[2021-11-17 03:17] #57855 closed, assigned to nobody

[2021-11-17 03:31] inaikem commented on #58098
Additional context has been provided by the affected user here: 32772623-hc

[2021-11-17 04:06] jromales opened #58152 "Can't Upload Media files Using Google Chrome Browser"
### Quick summary

Uploading Media files does not work both in Calypso and WP-Admin (And in both Simple and Atomic sites). The issue seems to happen when using the Google Chrome browser. It works using Firefox or other browsers.

### Steps to reproduce

1. In Calypso, go to Sites > Media and click "Add New" button.
![Screen Shot 2021-11-17 at 11 52 23 AM](https://user-images.githubusercontent.com/

[2021-11-17 04:42] retnonindya commented on #57812
4461543-zd-woothemes. Chrome 96 on Windows 10

[2021-11-17 05:07] SaxonF commented on #57751
Hi @cpapazoglou! Saxon from the design team here. Just so that we aren't blocked I think standardising on square icons (without dictating background) makes sense for now. I'll reach out to the Woo design team to see if there are other icons we should be using for their sub products that work at smaller sizes. In the meantime, I've created a set of square icons with a solid grey background for you.

[2021-11-17 05:22] roo2 commented on #58073
fixed with D70189-code users will have to open in a new tab and reload to see the reblog button due to caching

[2021-11-17 05:26] roo2 commented on #58089
should be fixed with D70189-code. Just to confirm, this is what we should be seeing WRT reblogging in the reader right?
![Uploading Screen Shot 2021-11-17 at 3.26.06 pm.png…]()

[2021-11-17 06:17] arinoch commented on #58089
This fixes #58073, but the option is still missing in the reader. Reopening this.

[2021-11-17 06:29] sophiegyo commented on #58134
I am pretty sure this is related to another issue. Your user report indicated that the post titled Chapter 25 was one with a problem. I was able to replicate the problem, and when I opened it in the Classic Editor, I found there was a video at the very bottom of the post.

[2021-11-17 08:14] cpapazoglou commented on #57999
Thanks @jordesign for the detailed steps! They are very helpful!

This is expected in this testing phase, after upgrading your site you would also need to re-apply `wpcom-marketplace` blog sticker so that the Plugin menu gets fixed.

**What doesn't work well though**, is that site plugins are not "refreshed" after the transfer which results in:
- "Manage Plugin" still animating
- Plugin appearing

[2021-11-17 08:19] arthur791004 commented on #57488
Verify the events

![image](https://user-images.githubusercontent.com/13596067/142162053-68ca27ae-4158-4abb-b133-fdbe30f997ff.png)

### Where will you start > Give your blog a name > Pick a starting point > Skip to My Home > My Home

 calypso_signup_start [flow=setup-site]
![image](https://user-images.githubusercontent.com/13596067/142149738-43b59aef-9dc1-4823-9564-25e385794954.png)

 calypso_sign

[2021-11-17 08:22] cpapazoglou commented on #57751
That's great @SaxonF, thanks!

@gavande1, can we pick up this issue in our next sprint and use the provided icons in the API response?

[2021-11-17 08:53] arunsathiya opened #58160 "Import onboarding flow: "Enter your site address" not visible in full on mobile widths"
#### Steps to reproduce

1. Starting at URL: https://wpcalypso.wordpress.com/start/importer/capture?siteSlug=slug.wordpress.com (replace slug.wordpress.com) with your WPcom site address
2. Reduce the screen dimensions to mobile width

#### What I expected

`Enter your site address` is visible in full.

#### What happened instead

It's not visible in full.

<img width="1269" alt="image" src="https:

[2021-11-17 08:58] arunsathiya opened #58161 "[Bug]: Import onboarding flow: Non-existent WPcom site cannot be imported but importer shows it can be imported, with a 404 preview"
### Quick summary

On the new `Import onboarding flow` (https://wpcalypso.wordpress.com/start/importer/capture?siteSlug=slug.wordpress.com), enter a WPcom site address that does not exist. Example: `premiumwpcomarunn.wordpress.com`. The importer reports it can be imported, and shows a 404 "site not found" preview.

### Steps to reproduce

1. Starting at URL: https://wpcalypso.wordpress.com/start/i

[2021-11-17 09:02] arunsathiya opened #58162 "[Bug]: Import onboarding flow: Importer shows a deleted WPcom site can be built, but it's not possible"
### Quick summary

On the new `Import onboarding flow` (https://wpcalypso.wordpress.com/start/importer/capture?siteSlug=slug.wordpress.com), enter a WPcom site address that's deleted. The importer shows it can be built becuase it's already on WPcom, but the importer must show the site's already deleted.

### Steps to reproduce

1. Starting at URL: https://wpcalypso.wordpress.com/start/importer/cap

[2021-11-17 09:10] arunsathiya opened #58163 "[Bug]: Import onboarding flow: Attempting a WPcom simple site import doesn't move beyond the template selection screen"
### Quick summary

On the new `Import onboarding flow` (https://wpcalypso.wordpress.com/start/importer/capture?siteSlug=slug.wordpress.com), entering a WPcom simple site as the site to import moves to the next screen, which is selecting a template. But, none of the templates respond. Clicking on them has no effect.

### Steps to reproduce

1. Starting at URL: https://wpcalypso.wordpress.com/start/

[2021-11-17 09:14] arunsathiya commented on #58163
Similarly: if you try to import a simple site (haven't tested Atomic site) on an Atomic site (https://wpcalypso.wordpress.com/start/importer/capture?siteSlug=atomicarunsathiya.wpcomstaging.com; I created this link manually), it results in a loop, redirecting back to the import screen after choosing the template:

https://user-images.githubusercontent.com/18581859/142171319-45f674fb-8173-4f12-9fd2-

[2021-11-17 09:39] devNigel opened #58164 "Blog Posts block becomes invisible with All in One SEO plugin."
### Quick summary

When the Exford theme and All in One SEO plugin are active, the Blog Posts block is not showing up on the live page. I was able to reproduce this issue on test Atomic sites and self-hosted sites as well.

But it was not possible to reproduce the issue with other themes such as Twenty Twenty one.

I believe the issue is with the theme rather than the All in One SEO plugin since i

[2021-11-17 10:02] bogiii opened #58166 "Import onboarding: Adjust query param list and provide only siteSlug"
Update query param list to keep only `siteSlug` param.

### How to reproduce?
* Go to `/start/importer?siteSlug=<YOUR_SITE.wordpress.com>`
* Click on `I don't have a site address` navigation button
* Check out the URL query parameters

Module code base route: `client/signup/steps/import`

**Note:** if you can not reproduce locally, try in the `wpcalypso` environment

### Screenshot
![query-params]

[2021-11-17 10:25] arcangelini commented on #57083
OK, I have been digging into this and it seems that the issue is currently appearing on Atomic and Simple site for me. The problem appears to be with the way that the CSS is being loaded into the Widget Editor. The functionality of the buttons appears to work but you need to be sure to click the icon and not the button. This is what I am seeing on Simple and Atomic site:

![Screen Capture on 2021-

[2021-11-17 10:45] stephanethomas opened #58167 "[Bug]: Unable to remove Google Workspace subscription from Purchases page"
### Quick summary

Users cannot remove a Google Workspace subscription from their list of purchases because nothing happens when they confirm the removal.

### Steps to reproduce

1. Log into a WordPress.com account that has a site with a Google Workspace account
2. Navigate to the [`Purchases` page](https://wordpress.com/purchases/subscriptions)
3. Click the Google Workspace Business Starter subs

[2021-11-17 10:53] stephanethomas commented on #58167
I've confirmed that the API endpoint returns a success flag set to `true`, and that `res` has `success` set to true here:

https://github.com/Automattic/wp-calypso/blob/7c6845443d578bd736c8ac0bcdbbe2ad7f4f0f3e/client/lib/purchases/actions.js#L35

I'm not sure why `response` is undefined here though:

https://github.com/Automattic/wp-calypso/blob/338dc0e6a9e1af565f6300fff9622fbe447cc8c0/client/comp

[2021-11-17 11:22] devNigel commented on #54265
I am no longer able to reproduce it either. Guess it got fixed with some other bug.

[2021-11-17 12:02] devNigel opened #58168 "Penscratch 2: The code for SVG icons are loaded even if they are not being used anywhere"
### Quick summary

The user was trying to remove any unnecessary HTML codes loaded on their website. They noticed over 15 lines of definitions for SVG icons were loaded on the site despite not using them anywhere.

The SVG definitions are loaded only on Atomic sites.

![image](https://user-images.githubusercontent.com/33957570/142197266-be198aad-1750-4b8f-944c-b71739bf4a29.png)

### Steps to repro

[2021-11-17 12:08] Nic-Sevic opened #58169 "FSE beta - Second options pane and editor crash"
### Quick summary

When in the site editor if I try to edit the settings for a featured image in my blog post block a second editor frame appears inside the original (I say inside because the outside pane keeps the block list open and the inside doesn't have it). If you try to save, the editor crashes.

### Steps to reproduce

1. Add a group with a blog posts block somewhere on the page
2. Set to

[2021-11-17 12:13] jeherve commented on #58134
cc @Automattic/greenhouse who have been making changes to the Video block recently.

It would be interesting to figure out if this only happens on WordPress.com Simple, or if this also happens:
- On WoA sites (currently running 10.4-a.5, with recent changes to the block)
- On self-hosted Jetpack sites running 10.3.

[2021-11-17 12:16] jsnajdr commented on #58167
Oops that was a regression 🙁 Please have a look at #58170, that should fix it.

[2021-11-17 12:19] arcangelini commented on #57083
Further findings...

It appears the overall issue is due to the fact that the widget box in the customizer (and anywhere else this is being called ie Patterns) is not getting the `editor-styles-wrapper` parent tag. This causes the CSS that is injected to not apply. Here is the difference between the Widget editor of WP-ADMIN and the Widget section of the customizer:

![Markup 2021-11-17 at 13 13 2

[2021-11-17 12:23] sophiegyo commented on #58134
I've been wondering how to

I'd have tested if I could :( Unfortunately it requires a page/post where the video was _already added_  before whatever change triggered this, adding a video block now works just fine :/

[2021-11-17 13:11] mmtr commented on #58062
Just debugged the Publicize connections of @mrfoxtalbot I confirmed that the stored Twitter profile picture points to an inexistent image: https://pbs.twimg.com/profile_images/960668021252657152/H8t8JeQa.jpg. It should be https://pbs.twimg.com/profile_images/1259207185176973315/VkxYeLAo.jpg, so I wonder if these URLs are temporary and they expire after some time like the Facebook images. Will take

[2021-11-17 13:20] #57746 closed, assigned to cpapazoglou

[2021-11-17 13:32] #58167 closed, assigned to jsnajdr

[2021-11-17 13:35] Robertght commented on #58038
Thank you for the report @mrsjaved !

I tried to replicate it on a Simple site but I had no luck. I could see it on the user's site though.

Could you share an example from your test site please?

[2021-11-17 13:43] TeniCola commented on #56468
Hi team, another user report in 30284626-hc, I was able to replicate on their account for legacy widgets, in both the Widgets page and the Customizer.

This user hadn't contacted us in 5 months, so they were finding this on _all_ of their websites as were understandable concerned. I advised them about the error and how to click to access their widgets in the editor, but worth noting that this may

[2021-11-17 13:53] Robertght commented on #58081
Thank you for reporting this @masperber !

I have a few questions to help us narrow this down:

- I can see this is an Atomic site. Were plugins turned off in the process?
- Also, has the wp-admin dashboard been considered?
- Were you able to replicate locally?

[2021-11-17 14:02] Robertght commented on #58088
Thank you for the report @arinoch !

There seem to be two requests here. One is the case related to #31309539-hc and the second one is to add more flexibility on the People page.

For the first one, the counters from Calypso and wp-admin/users are matching.

The second one is a feature request so I'll relabel this.

If I misread something from this report, please let me know.

[2021-11-17 14:02] yansern commented on #57083
Some other blocks that have broken CSS styling under Block Widgets Editor could benefit from having the `.editor-styles-wrapper` classname restored. They may not look as broken at first (minor things like not displaying the right font/color/size/padding/margins/etc.) but they are, the brokenness is just not as glaring as Social Icons.

If there's a way to restore `.editor-styles-wrapper` classname

[2021-11-17 14:09] arinoch commented on #58088
@robert - The two are related. The counters are correct, but the user was reaching out because while the counters are accurate, not all of the users you can see in WP Admin show up in Calypso. The user in question, for instance, would have been well down the list (the list in Calypso is sorted alphabetically), except that you can't get there from here. The list in Calypso stops with users beginnin

[2021-11-17 14:15] khristiansnyder commented on #50574
Ran into this in #29932644-hc

[2021-11-17 14:19] Robertght commented on #58160
cc @bogiii

[2021-11-17 14:23] #57752 closed, assigned to WBerredo

[2021-11-17 14:28] Robertght commented on #58152
@jromales this works ok on my end.

Were you able to check with other browser extensions as well?

[2021-11-17 14:58] mmtr commented on #58062
Prepared D70219-code to cover this scenario.

[2021-11-17 15:29] JoshuaGoode commented on #58134
Seems this Atomic Request was related: p9F6qB-7GH-p2

Console error I'm seeing on a Simple site:

`Updated Block: core/video`
`react-dom.min.edd8b7a6.js?m=1624062436h:7 TypeError: Cannot read properties of undefined (reading 'length')`

![Screen Shot on 2021-11-17 at 10:27:37](https://user-images.githubusercontent.com/4887830/142229850-8ea236f2-0070-4fda-8c85-6b3c8be34a68.png)

[2021-11-17 15:30] roundhill commented on #58134
We're working on a fix for this, should be a simple one and deployed soon.

[2021-11-17 15:59] jp-imagines commented on #51566
I had another user report this in 32783889-hc.

They provided a screenshot:
![small-gallery](https://user-images.githubusercontent.com/5630717/142234684-8db35c66-8882-4368-b927-a44e43ce7624.png)

They said this _only_ happens on iPhones, and started no more than 2-3 weeks ago (though they weren't certain on the exact timeline). Android phones displayed the gallery fine.

Singular Image blocks also

[2021-11-17 16:25] kwight opened #58181 "Videos UI: The play button hover state is too dark."
The Play buttons' hover state is now `opacity: 1%`.

<img width="614" alt="Screen Shot 2021-11-17 at 8 24 10 AM (2)" src="https://user-images.githubusercontent.com/349751/142240151-1ea62a74-5adc-45ae-9381-a4f3b9de52d0.png">

[2021-11-17 16:30] kwight opened #58182 "Videos UI: The UI bounces when switching between videos."
Reported by @arthur791004 : the UI bounces when switching between videos.

![2021-11-17 08 29 55](https://user-images.githubusercontent.com/349751/142241260-6b89b1ed-4f52-43ec-b341-b7366e03e3ad.gif)

[2021-11-17 16:33] jamiepalatnik opened #58183 "Color palette missing on atomic sites"
### Quick summary

Atomic sites are missing color palette option in Customizer > Colors & Backgrounds for themes that have this option.

### Steps to reproduce

1. Activate a theme that has a color palette, like Maywood.
2. Go to Customizer > Colors & Backgrounds.

### What you expected to happen

I expected to see palettes like a simple site.

### What actually happened

There is a More button th

[2021-11-17 16:34] kwight opened #58184 "Videos UI: There's an extra border in the UI footer on desktop."
Reported by @arthur791004 : "there is the 1px border top at the footer. I think it should only display on the mobile."

<img width="1282" alt="Screen Shot 2021-11-17 at 8 34 12 AM" src="https://user-images.githubusercontent.com/349751/142242005-43f1e12c-bfba-4eb5-add4-bf12d101b0c9.png">

[2021-11-17 16:51] kerrynicl commented on #57985
Hi Arun, Due to the theme being retired and I'm not able to replicate this issue on my end I'm just going to close this for now

[2021-11-17 16:51] #57985 closed, assigned to nobody

[2021-11-17 16:57] #57999 closed, assigned to cpapazoglou

[2021-11-17 17:02] #57984 closed, assigned to kwight

[2021-11-17 17:04] sixhours commented on #55175
I made marginal progress here, but I've spent enough time with it that I think we need to consult Jetpack folks who better understand Jetpack Sync. I'm going to ping in #jetpack-crew, but here's where I'm at:

* I think I found where we compare different values for user meta and opened a PR to add the `$user->name` to that checksum here: Automattic/jetpack#21784
* I've also figured out how to sand

[2021-11-17 17:07] #57935 closed, assigned to kwight

[2021-11-17 17:15] sixhours commented on #55175
Pinged in #jetpack-crew and they explained something that changes my tack:

* "Sync is predicated on the idea that the local site has the most accurate information for the site in question." -- Jetpack Sync only operates one-way from Jetpack connected site -> WP.com cache site.
* But for this fix, we need to figure out where we pass info from WP.com -> the Jetpack connected site.
* So, it's not a

[2021-11-17 17:20] #57748 closed, assigned to gcsecsey

[2021-11-17 17:29] sixhours commented on #37080
Also not able to reproduce this with the following steps:

* Started with a simple site at *.wordpress.com
* Set site icon in General -> Settings
* Upgraded to Business plan
* Installed plugin (WooCommerce) to trigger transfer to Atomic/*.wpcomstaging.com URL
* Revisited General -> Settings
* Site icon is still visible.

[2021-11-17 17:39] blackjackkent commented on #58181
I can't reproduce this. 🤔 I checked out trunk just now and see it going between 100% and 80% as expected.

[2021-11-17 18:00] sixhours commented on #55175
OK, so after chatting with @kraftbj I think I have a better handle on the expected behavior here.

Jetpack Sync presumes the most accurate data is located on the local Jetpack site, so reconnecting to Jetpack doesn't fix the issue because that doesn't trigger a WP.com -> Jetpack site sync, only a Jetpack site -> WP.com sync.

The updates for WP.com -> Atomic sites are run on our side and hooked in

[2021-11-17 18:14] andres-blanco commented on #58181
I can reproduce on WP.com production, on dev it works as expected.

[2021-11-17 18:33] blackjackkent commented on #58181
Huh. Yeah, you're correct. That's super weird. 🤔 Looking further.

[2021-11-17 18:41] zaguiini commented on #57158
The issue happens only on WPCOM. Looks like the "Layout Grid" block is forcing a viewport definition inside the `Responsive Breakpoints` setting, thus affecting preview. The responsive breakpoints setting is _not_ applied on the live site. Why do we have this setting at all?

[2021-11-17 19:07] jordesign commented on #58067
Can we please reply to the user in #4457385-zen when this is resolved.

[2021-11-17 19:50] #58181 closed, assigned to blackjackkent

[2021-11-17 20:08] wpshellbelle commented on #41606
Another case where this would have really helped a customer here: 32786856-hc

[2021-11-17 20:08] autumnfjeld opened #58196 "Hero/Blogger flow launch checklist"
## PREPARE FOR LAUNCH 🚀
We are ready to launch the Blogger Flow, all critical issues from the [CfT](p58i-bpK-p2) have been addressed.

**Let's make sure we are fully prepared with this checklist:**

- [x] Only shipping to en local users (we are waiting for translations)
- [x] Add in new [illustrations](p1637188230478600/1637183547.475700-slack-C029SB8JT8S)
- [x] Feature freeze: be cautious about m

[2021-11-17 20:12] #58143 closed, assigned to kwight

[2021-11-17 20:19] allilevine commented on #57419
Closing via https://github.com/Automattic/wp-calypso/pull/58179 but we may want to add additional content in the future.

[2021-11-17 20:19] #57419 closed, assigned to Rolilink, allilevine

[2021-11-17 20:37] kerrynicl commented on #57308
Since there's a reason for this and that's the expected behaviour, I'll go ahead and close this one for now

[2021-11-17 20:37] #57308 closed, assigned to nobody

[2021-11-17 20:46] jeyip commented on #51939
I did some digging, and it appears as if this behavior is intentional.

<img width="1868" alt="Screen Shot 2021-11-17 at 12 37 17 PM" src="https://user-images.githubusercontent.com/5414230/142278668-65460904-cb42-484a-94ae-5878bccf9c68.png">

The styling in Gutenberg source code automatically applies padding for blocks with a `.has-background` classname. [For example](https://github.com/WordPress/

[2021-11-17 20:46] #57506 closed, assigned to andres-blanco

[2021-11-17 21:45] dpasque commented on #58150
Jumping up the priority a level. While normal fits in the matrix, a broken block in such a high visibility area that we are working on seems to warrant the attention.

[2021-11-17 21:45] autumnfjeld commented on #58196
@arthur791004 @roo2 @p-jackson   Can you think of anything to add?

I'm just doing some last tracks checking, but I think we're ready to launch to users.  Just want to respect the code freeze for code that might introduce potential bugs over the next few days.

[2021-11-17 21:45] dpasque commented on #58150
Tagging @Automattic/flow-patrol-create based on issue content

[2021-11-17 21:50] #58074 closed, assigned to andres-blanco

[2021-11-17 21:51] #58079 closed, assigned to blackjackkent

[2021-11-17 22:03] #58182 closed, assigned to kwight

[2021-11-17 22:11] dpasque commented on #57725
In the vein of trying to get the user up and going as quickly as possible... Would it be too disruptive to enable block widgets on their site? (It looks like its currently turned off for their site.) They should be able to accomplish what they need with either a Paragraph or HTML block in the block widgets, and they should be able to use the legacy widgets block if they needed for some backwards c

[2021-11-17 22:18] dpasque commented on #57884
I believe that the existing behavior is that the image block will always get converted to a cover when text is added (it's just a limitation of the image block unfortunately!) I think we should use this current issue at hand to track the regression with the opacity. @retnonindya -- if you want, would you be able to spin up a separate feature request to track the suggestions you had to make the cov

[2021-11-17 22:22] JoshuaGoode commented on #58164
I think this is beyond just that theme and a general conflict between the block and that plugin.

A report on an Atomic site with Verity here: p9F6qB-7GS-p2

Another internal report for another site with another theme and similar issue (the block wasn't missing it just wasn't displaying the correct posts):  p1637174078278700-slack-C03TY6J1A

[2021-11-17 22:23] JoshuaGoode commented on #58164
Renaming to remove specific Exford title.

[2021-11-17 22:28] retnonindya commented on #57884
Thank you for looking into this, folks!

@dpasque yep, I can do that. I'm personally okay with having the Image block converted to Cover block (as I see that it's the expected behavior with text-over-image feature) but if we can have additional feature on Cover block, it would be awesome 🙏 I'm going to open GH issue for feature request

[2021-11-17 22:35] kwight opened #58205 "Videos UI: We no longer have a "draft new post" link on desktop."
When we replaced the top right "draft new post" link with a "close" button, we lost that writing option for the user – unless they're on mobile, which still has the link (because we're still using a "back" link on mobile)

| Mobile | Desktop |
| --- | --- |
| <img width="376" alt="Screen Shot 2021-11-17 at 2 36 58 PM" src="https://user-images.githubusercontent.com/349751/142293750-eddc65d9-320f-42

[2021-11-17 22:39] kwight commented on #58205
@ollierozdarz @ianstewart I'm just double-checking this is what we want?..

[2021-11-17 22:41] ollierozdarz commented on #58205
@kwight we only want this for when the user views this from My Home. When they view it during the onboarding flow, we still want the 'Draft your first post' link.

[2021-11-17 22:42] kwight opened #58206 "Videos UI: We need to acknowledge non-English users of the videos being English only."
Brought up by @ianstewart : it would be considerate when displaying these videos to non-English users to visually inform them that the videos are in English. We could also give them a way to somehow request translation in their own language.

Note that the videos UI is currently only available to English users only, gated by the display of the educational card on My Home.

[2021-11-17 22:43] JoshuaGoode commented on #58164
Closing this in favor of the internal report at p9F6qB-7GS-p2

[2021-11-17 22:43] #58164 closed, assigned to nobody

[2021-11-17 22:50] fullofcaffeine commented on #57971
@Addison-Stavlo Can we close this one?

[2021-11-17 22:53] kwight opened #58207 "Videos UI: The My Home UI should not have a "draft post" link for mobile."
While the desktop UI from My Home does not have a "draft post" link, the mobile version still does, and it needs to be removed. The "draft post" link should only be used when the videos UI is part of the onboarding flow.

See: https://github.com/Automattic/wp-calypso/issues/58205#issuecomment-9721822

<img width="376" alt="Screen Shot 2021-11-17 at 2 36 58 PM" src="https://user-images.githubuserco

[2021-11-17 22:54] kwight commented on #58205
Closing in favour of removing the mobile "draft post" link in https://github.com/Automattic/wp-calypso/issues/58207.

[2021-11-17 22:54] #58205 closed, assigned to nobody

[2021-11-17 22:58] jeyip commented on #51939
Closing this in favor of https://github.com/WordPress/gutenberg/issues/36586

[2021-11-17 22:58] #51939 closed, assigned to nobody

[2021-11-17 23:15] worldomonation opened #58208 "Playwright: reduce Quarantine E2E frequency"
### Details

Reduce the frequency, its not useful to run them too often.

### Checklist

- [ ] do not run on weekends
- [ ] run it every 3 hours

### Related

_No response_

[2021-11-18 00:10] autumnfjeld opened #58212 "Hero Flow loading screen tracks events"
Related to https://github.com/Automattic/wp-calypso/pull/57640
Low priority, does not block shipping the Blogger & Build flows.

When testing tracks events on the loading screen in the Build & Write flows, it looks to me like the `calypso_signup_processing_screen_show` is firing twice.

![image](https://user-images.githubusercontent.com/5665959/142302150-2ba4e2d6-9c9e-44a9-a02b-b9ebb620418f.png)

[2021-11-18 00:13] autumnfjeld commented on #57488
I've verified all the events and they look good!

![Uploading image.png…]()

[2021-11-18 00:33] donalirl opened #58214 "Remove "Atomic" from WP.com Site Helper Plugin Description"
### Quick summary

The WP.com Site Helper plugin has this description:

"WordPress.com provided functionality & tools pre-installed and activated on all Atomic Sites"

"Atomic" is not a public-facing term and should be updated to avoid confusion.

### Steps to reproduce

1. On an atomic site, go to Plugins → Installed Plugins
2. Click the Must Use tab
3. Read the WP.com Site Helper description

##

[2021-11-18 00:42] essleeung commented on #57711
Adding another report - 31707985-hc
User has decided to edit to different backgrounds for now instead of getting a temp CSS fix.
Please notify user when fix has been released.

[2021-11-18 02:28] Rolilink opened #58222 "Task: Remove :first-child warning on the Breadcrumb component."
### Details

The Breadcrumb component is sending the following warning:
`The pseudo-class ":first-child" is potentially unsafe when doing server-side rendering. Try changing it to ":first-of-type". `

We should change this
[code]
with this:
[code]

and test thoroughly.

### Checklist

- [ ] Switch `:first-child` with `first-of-type`.
- [ ] Test that component is working correctly.

### Related

_N

[2021-11-18 03:18] arthur791004 commented on #57779
Close the issue as we verify the events as followed and they look good!
* https://github.com/Automattic/wp-calypso/issues/57488#issuecomment-971340391
* https://github.com/Automattic/wp-calypso/issues/57488#issuecomment-972359935

[2021-11-18 03:18] #57779 closed, assigned to arthur791004

[2021-11-18 03:22] arthur791004 commented on #57488
Close as all the events look good!

[2021-11-18 03:22] #57488 closed, assigned to nobody

[2021-11-18 04:09] devNigel commented on #58164
Interesting. The block was rendering with other themes like Twenty Twenty when I tested.

[2021-11-18 05:09] goblinartificer commented on #57015
related incident in 4458062-zen

[2021-11-18 05:14] goblinartificer opened #58225 "Reader: "Mark all as seen" and "mark as seen" features unavailable on WordPress.com"
### What

As an a11n, I've got these features; a user's trying to use them and doesn't have them.

### Why

This was reported in 4458062-zen ⁠— in combination with #54612, it's a real problem. I was able to clear my own notifications site-by-site by marking all as read, or post by post using the mark as read feature, but neither of these is an option. Beyond that, unsubscribing from a site and the

[2021-11-18 05:16] galakhyati commented on #57812
Two instances of the issue where preview isn't working consistently:

#32792353-hc/ Follow up: #4464377-zd-woothemes. Safari 14.1 on Mac OS X 10.15.7
#32792307-hc/ Follow up: #4464442-zd-woothemes. Firefox 94.0 on Windows 7.0.0

[2021-11-18 06:04] Robertght commented on #58088
Thank you for following up @arinoch !

I was able to see the all users on my end up to "Y":

![image](https://user-images.githubusercontent.com/6737345/142361117-9f38957d-7911-490f-9af0-b3f6556a2317.png)

[2021-11-18 06:16] lsl commented on #55428
^ got picked up by @DustyReagan 783-gh-Automattic/wpcomsh / 8-gh-Automattic/woo-on-plans

[2021-11-18 06:40] lsl opened #58226 "Woo Installer: Add setTimeout delay to transfer step to avoid plugin install timing issues"
Once the installers transfer completes we redirect to **wc**-admin, sometimes, this fails to load with permission errors as the plugin has not yet been installed, other times it redirects to the wrong wp-admin page (crowdsignal wp-admin?)

This is due to post transfer provisioning callbacks taking place in async jobs, this same issue will continue with the new plugin install flow coming in D70119-

[2021-11-18 06:40] lsl opened #58227 "Woo Installer: plugin install and activate"
The [woocommerce-installer](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/woocommerce-install/)'s transfer step needs to make use of our new api endpoints (12-gh-Automattic/woo-on-plans) to ensure woo + wc pay is installed and active.

The transfer step should:
- [x] Check if woo + wc pay is installed
- [x] Install them if they are not
- [x] Activate them if they are not

[2021-11-18 06:48] lsl commented on #56776
Closing this out, broke the final task down into:

- https://github.com/Automattic/wp-calypso/issues/58227
- 11-gh-Automattic/woo-on-plans

[2021-11-18 06:48] #56776 closed, assigned to lsl

[2021-11-18 07:03] lsl opened #58229 "Woo Installer: Site Selector step"
Testing the new woo installer is difficult because it lacks a site selection step and requires messing with url params to get it to load, on top of that refreshing the page without the site slug breaks the flow.

The woo installer should have a site selector step that auto skips if a siteSlug is present.

There is a site-picker step that already exists for prior art but it isn't re-usable, it hard

[2021-11-18 07:03] arthur791004 commented on #57458
Close this one in favor of https://github.com/Automattic/wp-calypso/pull/58213

[2021-11-18 07:03] #57458 closed, assigned to nobody

[2021-11-18 07:46] mzitinfo commented on #52182
WP2 in 4454152-hc

[2021-11-18 09:22] arcangelini commented on #57083
[It looks like this fix is being addressed in Gutenberg 11.9](https://github.com/WordPress/gutenberg/pull/35865). I tested the changes proposed on WordPress.com and it should resolve the issue. Currently, Simple sites are on 11.8.3

When 11.9 is deployed I will double-check and make sure all is good.

[2021-11-18 09:40] yansern commented on #57083
Thanks for discovering the PR! https://github.com/WordPress/gutenberg/pull/35865

[2021-11-18 11:02] WunderBart commented on #57711
The fix was included in the [v11.9.1 patch release](https://github.com/WordPress/gutenberg/releases/tag/v11.9.1) and it should be deployed to Simple and Atomic sites later today.

[2021-11-18 11:03] WunderBart commented on #57884
The fix was included in the [v11.9.1 patch release](https://github.com/WordPress/gutenberg/releases/tag/v11.9.1) and it should be deployed to Simple and Atomic sites later today.

[2021-11-18 11:07] retnonindya commented on #57884
@WunderBart thank you so much! 🎉

[2021-11-18 11:34] #58166 closed, assigned to zaerl

[2021-11-18 11:42] rw-ye commented on #58134
Customer report of this issue on AT site - 4464349-zd-woothemes

[2021-11-18 11:55] arcangelini commented on #57015
After some digging it looks like it boils down to the following function - https://github.com/Automattic/wp-calypso/blob/trunk/client/reader/get-helpers.js#L118

I am not familiar with the prop `isWPForTeamsItem` or what its use is, but that is returning _false_ which is causing the seen/unseen feature from being added to the `reader-post-card`. I am going to see where this prop is being set and t

[2021-11-18 12:40] Addison-Stavlo commented on #57971
Yes we can, thanks!  Forgot I had the issue both here and in gutenberg repo 😅

[2021-11-18 12:40] #57971 closed, assigned to Addison-Stavlo

[2021-11-18 13:10] kimerlin81 commented on #58034
Hi Kel,

Thanks for submitting this feature request. Since I've been unable to reproduce this on the user account and within my test sites, I will be closing this request. I initially thought this might have been related to the user having a retired theme activated (Venture). But once I tested this on my end, the content for the more block and latest posts displayed properly.
Feel free to reopen t

[2021-11-18 13:22] arinoch commented on #58088
@Robert - I can see select users on this page, but I cannot see all 78 users on this page. For example, if the current user's (the user who reported this issue) display name is "Jim Bob", I should be able to--on this page, if all 78 users are visible--do a control+f and find "Jim Bob" in the list. When I have this page loaded, I cannot. In addition, when I scroll to the end of the Calypso user lis

[2021-11-18 13:42] nelsonec87 commented on #28033
Steps to reproduce it on production with smaller library (<10MB):
- Go to any blog with some media (10 MB will do)
- On Calypso, Go to Tools => Export
- Open Chrome Dev Tools => Network tab
- Set Throttling to “Slow 3g”
- Click on Export media library’s Download button.
- Download is gonna start, very slowly 🙂
- After 120s ( ~6MB in this speed) the download is gonna fail.

This problem doesn't hap

[2021-11-18 14:09] jromales commented on #58152
@Robertght I haven't checked browser extensions, but I updated my Chrome browser from version 95 to Version 96 and I no longer experience the issue.

![Screen Shot 2021-11-18 at 10 07 40 PM](https://user-images.githubusercontent.com/89536719/142430649-e119a8fa-0070-4346-b3d8-7097cefed1b3.png)

I'll recommend user to update their browser and see how that goes.

[2021-11-18 14:28] jp-imagines commented on #57812
Another in 32800528-hc, Safari 14.1 on Mac OS X 10.15.7. Showed them the workaround. Also suggested trying another browser or enabling third-party cookies, as they have them disabled.

**User requested an email follow-up when this is fixed.**

[2021-11-18 14:46] autumnfjeld commented on #58196
Hero Flow: Release on production #58223

[2021-11-18 15:09] pauljacobson opened #58241 "Force Sells extension (Woo): Code snippet to force sell one product triggers critical error when trying to clear the cart"
### Quick summary

If a user uses the [Force Sells](https://woocommerce.com/products/force-sells/?aff=10486&cid=1131038) extension in WooCommerce, and adds the recommended code designed to "Only force sell one product", attempting to remove an item from the cart after it is added will result in a critical error.

### Steps to reproduce

1. Activate the Force Sells extension;
2. Add a product to th

[2021-11-18 15:12] allilevine commented on #58226
We've also previously addressed the permission error by pre-logging in the user. See https://github.com/Automattic/wp-calypso/pull/55029

[2021-11-18 15:18] roundhill commented on #58134
Yes, we discovered that it was also an issue on Atomic. It should be fixed today, I'll reply here when it is deployed!

[2021-11-18 15:24] dpasque commented on #44950
Adding a link to performance investigation I had done, in case it's helpful!

pbOQVh-1p2-p2

[2021-11-18 15:29] allilevine commented on #58227
See:

https://github.com/Automattic/wp-calypso/blob/5ce4b66ec705232f53c8a383d636cb730b9fdb5d/client/my-sites/woocommerce/dashboard/required-plugins-install-view.jsx#L321

and https://github.com/Automattic/wp-calypso/blob/a87658f46866d2455eb5d8f8c02df4da284cf014/client/state/plugins/installed/README.md

[2021-11-18 15:36] spraveenitpro commented on #55513
Hi @autumnfjeld

The Popup guide is blocking the Site Tagline at this moment, here is my thinking:

1. If we place the popup guide above the `Site title` then on the mobile layout [it will be  forced](https://github.com/Automattic/wp-calypso/blob/97220c28205a5e722daf9342ddb35b74d6f8c52f/client/layout/guided-tours/positioning.ts#L193) to be placed below causing it to again go over the `Site Tagline

[2021-11-18 15:36] Robertght commented on #37080
Thank you for testing this folks! It still happened for me but it got fixed once I've changed the site to Public. Could having the site set to private to somehow trigger the delay in showing up the icon?

[2021-11-18 15:41] sixhours commented on #55175
I dug into this, and we do have several Jetpack hooks at our disposal, but the more I think about it, the more I think this is a wontfix.

* If we operate under the assumption that the Jetpack site is the source of truth, we shouldn't try to push the WP.com site's data back to the Jetpack site and overwrite it.
* But perhaps we *should* see the WP.com side of an Atomic site as the source of truth

[2021-11-18 16:13] jp-imagines commented on #58083
Ran into another instance of this in 4302039-hc and asked the user about it. Based on page revisions, the empty `<a></a>` tag was present since the page was created, and the user said they copy/pasted the content in from Microsoft Word. I imagine that's where they're coming from.

I appreciate that this is expected behavior and present in Core WP, but I wonder if there's a way (for us or core folk

[2021-11-18 16:17] WunderBart commented on #53771
Closing as those tests have been migrated to Playwright.

[2021-11-18 16:17] #53771 closed, assigned to WunderBart

[2021-11-18 16:50] kimerlin81 commented on #58088
Thanks, James! I see what you're saying. I was able to reproduce this bug in Chrome Version 96.0.4664.45 (Official Build) (x86_64)

When I SSP'd in Safari, the users loaded A-Z without any errors. This issue seems to only affect Chrome.
For privacy reasons, I have not included the screen recordings, but I have them saved any team would like to review them.

[2021-11-18 17:14] worldomonation commented on #56664
@mirka I saw there were issues with Gutenberg 11.9 and P2 this morning (PST). Sorry I was not able to implement the front-end sanity tests before this happened again.

I noticed in p1637254351381800/1637115269.354600-slack-C7YPUHBB2 that you mention there are basic sanity checks. There are also tests you mention in p1637254604382800/1637115269.354600-slack-C7YPUHBB2 which I assume are visual tests

[2021-11-18 17:24] katiebethbrown commented on #55175
Anecdotally, I'd say it isn't too common, at least in my experience.

It seems likely that it happens more than we hear about, but just isn't caught because if Jetpack is disconnected there are other issues that are more visible so those become the priority for the site owner.

[2021-11-18 17:38] kwight commented on #56888
Video production progress can be followed here: pdj6Nk-2h-p2

[2021-11-18 17:52] bogiii commented on #58162
@vishnugopal can we extend the `wpcom/v2/imports/analyze-url` endpoint with the additional information if the website is available?

For example, extending `platformData` field with a field `available`.
[code]

[2021-11-18 17:59] scruffian opened #58245 "[Bug]: Video blocks not loading correctly"
### Quick summary

When inserting a this VideoPress video, the preview is cut off: https://videopress.com/v/bjvmxiQS
<img width="996" alt="Screenshot 2021-11-18 at 17 56 11" src="https://user-images.githubusercontent.com/275961/142470560-abc954f0-91a1-41c4-8dee-da7b3c354a53.png">

### Steps to reproduce

1. Create a new post
2. Add a video block
3. Add a video from a URL: https://videopress.com/v/

[2021-11-18 18:39] kwight opened #58247 "Videos UI: Add the signup intent prop to events when in onboarding."
Videos UI was designed to be used as part of onboarding, and we should capture the signup `intent` prop when tracking events in that context.

See: pdgK6S-jM-p2#comment-666

[2021-11-18 18:53] mirka commented on #56664
The failure caught today was rare in the sense that it was a purely backend problem (a fatal thrown in an API endpoint). In the past 18 months or so that we've been doing this, the vast majority of integration failures have been on the frontend (JS or CSS). In fact I don't remember there ever being a purely backend one (@johngodley @annemirasol do you remember anything?). This is why we currently

[2021-11-18 19:09] Gustavo-Hilario commented on #57711
Another report here: 4466102-zd-woothemes

[2021-11-18 19:19] #57777 closed, assigned to dpasque

[2021-11-18 19:51] kwight commented on #57456
Oh dang, not a duplicate at all – two different things. 🙃  We still need unit test coverage for the library.

[2021-11-18 19:53] kwight opened #58248 "Videos UI: Implement user progress tracking."
We've launched without user progress tracking – let's get it added in. We need to be able to track a user's video views, and determine when they've watched all the videos in a given course (so that we can display calls-to-action to them in the UI).

We already have the ability to mark videos as viewed in the back-end by saving to user attributes. We also need to determine how to:

* save a user's

[2021-11-18 20:01] kwight opened #58249 "Videos UI: Implement course management."
We need to implement course management for non-developers. The system will need to allow at least:

* creating and removing courses,
* adding and removing videos to courses,
* specific ordering of videos.

See: https://github.com/Automattic/wp-calypso/issues/56888

[2021-11-18 20:15] kwight opened #58250 "Launch Bar: Verify its layout and behaviour in non-EN and RTL languages."
With the launch bar being translated the past couple of weeks, let's verify its layout and behaviour again in non-EN and RTL languages. Non-EN LTR should be fine with D70182-code now deployed.

[2021-11-18 20:19] kwight commented on #57242
Closed in D68994-code

[2021-11-18 20:19] #57242 closed, assigned to nobody

[2021-11-18 20:20] kwight commented on #57233
Closed in D68994-code

[2021-11-18 20:20] #57233 closed, assigned to nobody

[2021-11-18 20:21] kwight commented on #57230
I think this might be a problem with all themes that have a fixed header (and may require a refactor of the launch bar to actually correct). 😬

[2021-11-18 20:26] #58208 closed, assigned to worldomonation

[2021-11-18 20:27] worldomonation commented on #57033
Test is in Quarantined E2E, so dropping off the sprint for now.

[2021-11-18 20:32] kwight opened #58251 "Videos UI: Investigate how to bump Tracks events when the user interacts with the player."
We currently track user clicks on the "Play video" buttons in the video section, but don't take int account when a user clicks play from the actual video player itself (meaning we're losing some counts). Let's investigate how to bump Tracks events when the user interacts with the player.

[2021-11-18 20:43] ccwalburn commented on #56468
Another user report here:
26227933-hc
4465958-zen

[2021-11-18 21:08] mreishus opened #58254 "[Bug]: People: Author selector displays authors with horizontal scroll"
### Quick summary

People: Author selector displays authors with horizontal scroll

![2021-11-18_13-44](https://user-images.githubusercontent.com/937354/142497005-bb88ce56-92be-4f7e-864c-1917077b2107.png)

### Steps to reproduce

Steps to reproduce

- Visit https://wordpress.com/people/team
- Click on an existing author
- Remove them from the team and while doing so, attribute their posts to anoth

[2021-11-18 21:14] kraftbj commented on #58134
Apologies for the delay. The fix was deployed to Atomic-hosted sites at approximately 10:45 a.m. Central time (5 hours ago).

Internal reference p9o2xV-1IJ-p2#comment-5280

[2021-11-18 21:14] #58134 closed, assigned to nobody

[2021-11-18 21:22] mattwiebe commented on #56908
D70179-code has shipped with the fix

[2021-11-18 21:22] #56908 closed, assigned to mattwiebe

[2021-11-18 21:27] autumnfjeld commented on #55513
@spraveenitpro

I think your proposal is better than the existing situation, in which the tagline field is blocked. 👍

We could also update the copy (but I think it is ok if we don't): "Update the Site title and tagline fields to let visitors clearly identify your site."

![bitmoji](https://sdk.bitmoji.com/render/panel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-b931236c-c79a-49b5-b0f5-ab26d7e4cd09-v1.pn

[2021-11-18 21:47] kwight opened #58256 "Videos UI: Fetch user attributes to determine progress."
A user's progress is stored in a user attribute called `courses`. We'll need to fetch this for the current user when mounting the component.

Part of https://github.com/Automattic/wp-calypso/issues/58248.

[2021-11-18 21:50] kwight opened #58257 "Videos UI: Queue the user's next video on load."
Without user progress tracking, we've been automatically loading the component with the first video queued up. We now need to open the user's next video on component load.

Requires: #58256

[2021-11-18 21:52] kwight opened #58258 "Videos UI: Show a checkmark for completed videos."
If a video has been completed by a user, the chevron in its top right corner needs to be replaced with a green checkmark. The title for completed videos also looks to be dimmed/darker in the Figma.

<img width="500" alt="Screen Shot 2021-11-18 at 11 54 26 AM" src="https://user-images.githubusercontent.com/349751/142502712-1200a97c-3435-468b-9c35-4e5dc1535955.png">

[2021-11-18 21:54] autumnfjeld commented on #57260
@p-jackson  It seems like these items, reported in the CfT are related:
[Link to sheet](https://docs.google.com/spreadsheets/d/1nFwbm8dhKIXTBpda-nMWjvIlOlK-ulcvLUfOIJfUIlM/edit#gid=0&range=C10)
![image](https://user-images.githubusercontent.com/5665959/142502932-57919793-80d3-46eb-a68e-d9ee0f583dbd.png)

If they aren't related, I'll make new issues for them.

![bitmoji](https://sdk.bitmoji.com/ren

[2021-11-18 21:56] kwight opened #58259 "Videos UI: Show the course call-to-action on completion of all videos."
When a user has completed all of a course's videos, the course's call to action should be displayed.

<img width="1596" alt="Screen Shot 2021-11-18 at 1 55 45 PM" src="https://user-images.githubusercontent.com/349751/142503221-1e325e27-689d-4c50-a719-f790b2fd4643.png">

[2021-11-18 21:57] #56833 closed, assigned to nobody

[2021-11-18 22:00] spraveenitpro commented on #55513
Great, updated the copy,  so let me know if any changes:

### On Desktop:

![](https://d.pr/i/4eD09D+)
[Direct Link](https://d.pr/i/4eD09D+)

### On Mobile:

![](https://d.pr/i/n3FoS0+)
[Direct Link](https://d.pr/i/n3FoS0+)

🙏🏼

[2021-11-18 22:16] mreishus commented on #58254
Deployed fix

[2021-11-18 22:16] #58254 closed, assigned to mreishus

[2021-11-18 22:17] spraveenitpro commented on #45123
Hi @sixhours

Is this still available, can I give it a shot? 🔥

[2021-11-18 22:35] kwight commented on #58256
There should already exist an endpoint for getting user attributes, since they're used often in Calypso.

[2021-11-18 22:38] kwight commented on #58206
@ollierozdarz Would you have any ideas or preferences for what this would look like?

[2021-11-18 22:45] JoshuaGoode opened #58260 "WooCommerce & Jetpack Sitemaps: Add support for WooCommerce product post types"
### What

Add support for WooCommerce Products to Jetpack Sitemaps

### Why

WooCommerce utilizes the products post type which Jetpack Sitemaps does not include support for by default.

It is possible to add this support via a code snippet. Others utilize a dedicated SEO plugin for their sitemaps instead.

* https://jetpack.com/support/sitemaps/

Given WordPress.com's goals, it appears that we mig

[2021-11-18 23:16] autumnfjeld opened #58262 "Blogger Flow: Video UI branch from starting-point screen"
## Blogger Flow: Video UI
The stretch squad, aka Serenity, has just shipped [a version of the Video UI](pdgK6S-mD-p2), accessible through a button on My Home.   Umbrella Issue: Implement the video course. #56888
We will be reusing their [VideoUi component](https://github.com/Automattic/wp-calypso/blob/1cd97852e8bf12d5d123d6660c2b9df7843a01b7/client/components/videos-ui/index.jsx) in the Blogger fl

[2021-11-18 23:22] autumnfjeld commented on #58262
@arthur791004 & @roo2  You should coordinate with Serenity Team, e.g. @kwight  when you start  work on this.   Check what changes are in the works in the VideoUi or any other concerns. :)

[2021-11-18 23:35] ollierozdarz commented on #58206
Good idea. I'll add this to the list of priorities.

[2021-11-18 23:39] ollierozdarz commented on #57873
I think it's nice if we do it. Since we're indicating in the header 'Watch five videos. Save yourself hours', it would be good to take all the friction out of the page/flow. Massive bonus is we can add some CSS easing to things like the next panel opening etc.

[2021-11-18 23:58] worldomonation commented on #57660
This issue has also been observed on I18N user as well, most often immediately changing the UI language.

[2021-11-19 00:20] gutenberg-plugin-upgrade-bot[bot] opened #58264 "Gutenberg: v12.0.x plugin upgrade"
Previous upgrade: #57451
Release notes: [v12.0.2](https://github.com/WordPress/gutenberg/releases/tag/v12.0.2)

**Install and activate**
- [x] Copy & install v12.0.0-rc.1 D70349-code, D70354-code)
- [x] Activate v12.0.0-rc.1 on edge (D70355-code)
- [x] Copy & install v12.0.0 (D70611-code, D70613-code)
- [x] Activate v12.0.0 on edge (D70615-code)
- [x] Copy & install v12.0.1 (D70622-code, D70625-co

[2021-11-19 00:35] arinoch opened #58265 "Manage People: allow in Calypso to search for email addresses on people/team and other subpages."
### What

I would like to see the ability to search for users on a wpcom site in Calypso by email address. Currently, only the username will work.

### Why

When dealing with the issue I reported in #58088, the user had the email address of the specific person they were looking for, but could do nothing with it. In an attempt to work around that issue, I tried a search for the email address in the

[2021-11-19 00:43] arinoch opened #58266 "Payments Block: One button, multiple plans."
### What

The ability to tie one single payment button to more than one plan, rather than one button for each plan.

### Why

This would reduce the number of payments blocks on a post/page, thus making space for other content should the user intend. In the case of the user who generated this request (see: 4465698-zd-woothemes), they have 11 payment plans on their site, which means 11 different pay

[2021-11-19 00:58] #57451 closed, assigned to nobody

[2021-11-19 01:26] arunsathiya opened #58269 "Widgets landing page doesn't take to Customizer, shows an image at the moment"
Similar to links `https://wordpress.com/menus` and `https://wordpress.com/themes`, I am expecting `https://wordpress.com/widgets` to show the widgets area. It should show a list of sites, following which it must take one to the respective site's Customizer with widgets area focused.

But right now, it redirects to this image file: https://wpcom.files.wordpress.com/2021/05/widgets.png

[code]

~I b

[2021-11-19 02:17] goblinartificer commented on #51540
4452355-zen confirms the workaround works

[2021-11-19 04:04] arthur791004 commented on #58262
I propose a draft [here](https://github.com/Automattic/wp-calypso/pull/58234). I think we should wait for something such as marking the video completed and showing the CTA on the footer once all of the videos are watched. One concern might be we should ensure the tracks events of the signup framework are fired correctly.

Maybe they should expose some props let as to control some behavior of CTA.

[2021-11-19 04:21] masperber commented on #58081
I just checked the user's site again, and the issue appears to have resolved without user report. There has been a lot of plugin activity since Monday, so it's hard to say what could have been the resolution.

Not when I was with the user.

Yes, I mentioned in the report that we tried using classic view (wp-admin/options-writing.php).

I didn't attempt to replicate it on a test site.

[2021-11-19 04:24] lsl commented on #58226
Not something I'm willing to bet on but I'm pretty sure the permission error is a bit of a red herring, you can still get into wp-admin, its just that the woo plugin hasn't been installed so wp-admins default response to accessing a page that doesn't exist is shown.

[2021-11-19 06:54] as-esu commented on #53626
4463485-zen ( simple )

[2021-11-19 07:14] ajaykj commented on #58098
It seems that the issue might take some time to be resolved so I am letting them know that we don't have any ETA. If 4458642-hc closes out then a new follow-up conversation should be initiated with the user.

[2021-11-19 07:38] razvanpapadopol opened #58273 "Editor welcome: Update display logic for an existing user"
**Note**: before starting the implementation for this task, check out https://github.com/Automattic/wp-calypso/issues/57660

### What
Stop displaying the Editor Welcome Tour for 30 days after the user dismissed it.

**Current status:** the Tour is forced to be displayed for any site that is maximum 30 minutes old, regardless if and when the user dismissed it previously.
Also, a dismissal status is

[2021-11-19 07:38] razvanpapadopol opened #58274 "App banner: display it before Editor Welcome Tour"
### What
As part of https://github.com/Automattic/wp-calypso/pull/57140 we changed the logic of the App banner to show after the Editor Welcome Tour. Now we need to change it again so it shows before the tour.

**Note**: when working on this, be mindful of the Blogger flow. Show the Mobile app banner only at the next visit after the blogger modal has been displayed: pdgK6S-ku-p2

Final priority li

[2021-11-19 07:38] razvanpapadopol opened #58275 "Help center: Update contact form"
### What
Update the UI of the [contact form](https://github.com/Automattic/wp-calypso/blob/trunk/client/me/help/help-contact-form/index.jsx) available at https://wordpress.com/help/contact

* Before (user with a paid plan)
<img width="793" alt="Screenshot 2021-11-19 at 17 10 14" src="https://user-images.githubusercontent.com/14192054/142645332-7e06e4b2-2bd0-4f0f-846e-98051426a31f.png">

* After
![

[2021-11-19 09:14] bogiii commented on #58161
@vishnugopal, could you please take a look and see is there anything that we can do to improve the `wpcom/v2/imports/analyze-url` endpoint and cover this case?

[2021-11-19 09:16] Robertght commented on #56504
Thank you @carinapilar! I can replicate this on my end as well.

[2021-11-19 09:18] Robertght commented on #57206
I can't see other reports for now so I'm going to close this one but feel free to open it again.

[2021-11-19 09:18] #57206 closed, assigned to nobody

[2021-11-19 09:19] Robertght commented on #57919
I'm going to mark this as solved for now as we have not got other reports but feel free to reopen. cc @masperber

[2021-11-19 09:19] #57919 closed, assigned to nobody

[2021-11-19 09:22] #58081 closed, assigned to nobody

[2021-11-19 09:32] Robertght commented on #43502
Still a problem on my end. It doesn't happen if the theme doesn't support infinite scroll so it relies on the classic pagination instead.

[2021-11-19 09:38] Robertght commented on #6486
This is no longer an issue with Chrome 96.

[2021-11-19 09:38] #6486 closed

[2021-11-19 09:41] Robertght commented on #41713
I'm still seeing this on my end.

[2021-11-19 10:38] johngodley commented on #56664
No, I don't think there's been a pure back end one. Mostly it's front end only, or something missing on the back end that crashes the front end (i.e a setting).

[2021-11-19 10:45] #57421 closed, assigned to retrofox, Rolilink, allilevine

[2021-11-19 10:48] kosiew commented on #53358
Hi @eamcgill90 ,

Thanks for reporting this and the detailed steps.

I could not reproduce this and am closing this for now.
I tested this on cMo3x-p2 and manage the file conteents.

Please feel free to re-open if you have further findings to add.

[2021-11-19 10:48] #53358 closed, assigned to nobody

[2021-11-19 10:57] cpapazoglou commented on #56271
FWIW, this was eventually fixed by https://github.com/Automattic/wp-calypso/issues/57999

[2021-11-19 11:03] kosiew commented on #53292
Hi @paxblueribbon ,

Thanks for reporting this and the detailed steps.

Here is how it looked when I tested this:

![image](https://user-images.githubusercontent.com/29057562/142611564-26887e99-cca3-45f6-ba18-4eaa744aba5d.png)

The importer specified that it will import the page and the blog.

It did import the contents but their appearance were different.

![wix import Nov-19-2021 19-02-50](https

[2021-11-19 11:07] Copons commented on #57498
I've moved this to our team's current iteration (which is partly busy on a different project) and set it to high priority because this is currently blocking another team's JITM campaign for Crowdsignal.

[2021-11-19 11:08] kosiew commented on #50796
Hi @eidolonnight ,

Thanks for reporting this and the detailed steps.

I could reproduce this.

Triaging for developers' further investigation.

[2021-11-19 11:11] kosiew commented on #49675
Hi @zdenys ,

Thanks for reporting this and advocating for the Customer !

Triaging for developers' further investigation.

[2021-11-19 11:21] kosiew commented on #49109
Triaging for developers' further investigation.

[2021-11-19 11:27] kosiew commented on #45586
Tested and encountered the error a few times too.

This is already on a project board.
@vishnugopal can you assign have a look at this?

[2021-11-19 11:30] kosiew commented on #44320
hi @rickybanister ,

Is there an update on this?

[2021-11-19 11:39] kosiew commented on #38152
Added Triaged label since @vishnugopal  is already looking at this.

[2021-11-19 11:40] arcangelini commented on #57015
**UPDATE**

I think the problem is not what we think it is. Originally the issue described is that the "unseen" feature of the reader is not functioning properly for non-A8C users. In actuality, the issue is that this feature as a whole should not be visible to non-A8C users in the reader at all. More details here - p9lV3a-1UT-p2

With that information I am going to see why the counts are appearin

[2021-11-19 11:44] kosiew commented on #28694
Related to https://github.com/Automattic/wp-calypso/issues/49675 too

[2021-11-19 11:46] kosiew commented on #28694
hi @vishnugopal , can you review this in the Reindeer project board?

[2021-11-19 12:12] bogiii commented on #58160
The issue has been fixed. Thank you for reporting it! 🙏

[2021-11-19 12:12] #58160 closed, assigned to bogiii

[2021-11-19 12:14] freelylovinglife commented on #37320
4465747 - ZD Another case.

[2021-11-19 12:37] cpapazoglou opened #58278 "Plugins Browser & Plugin Details: not keyboard accessible"
### Details
Using the tab key I wasn’t able to highlight any plugin on the plugins screen or get to the install button on plugin details screen.

### Checklist

- [ ] Add hover / focus effect in plugin items
- [ ] Add hover / focus effect plugin details CTA
- [ ] Make sure that all elements are keyboard accessible

### Related
pdh6GB-6h-p2#comment-315

[2021-11-19 12:47] cpapazoglou opened #58279 "Plugin Details: Label color is hard to read"
### Details

The gray labels are pretty hard to read given the font size and color. They’re [even failing WCAG AA](https://href.li/?https://webaim.org/resources/contrastchecker/?fcolor=787C82&bcolor=FFFFFF). Could they be darkened up a bit to make that easier?

![image](https://user-images.githubusercontent.com/12430020/142624886-d2ee72df-c89c-43ce-9174-066cfe933971.png)

### Checklist

- [ ] (my

[2021-11-19 12:56] Addison-Stavlo opened #58280 "Update block editor tracking e2es for Gutenberg 12.0"
The first conflict raised is the new welcome guide(s) that appear on loading the edit as well as opening the global styles menu.  The tracking tests will need an additional step to conditionally dismiss these items so that it does not fail due to `element click intercepted`.

![image](https://user-images.githubusercontent.com/28742426/142626392-503582b0-4998-4779-ab6a-a593e7d1da3a.png)

[2021-11-19 13:18] bogiii commented on #58163
I've investigated and found out that the Design picker screen doesn't trigger [goToNextStep method](https://github.com/Automattic/wp-calypso/blob/460eb38b4724bd4052fe1c7fa1cc28a31a35f278/client/signup/steps/design-picker/index.jsx#L160).
Actually, it triggers, but it doesn't redirect to the proper destination defined [here](https://github.com/Automattic/wp-calypso/blob/460eb38b4724bd4052fe1c7fa1cc

[2021-11-19 13:22] cpapazoglou opened #58281 "Plugin Installation: Revisit Thank You page designs"
While we have initially developed the thank you page as designed, the designs have changed. Let's make sure that we implement what we actually want.

Developed: https://wordpress.com/marketplace/thank-you/test
Designs: oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A46946

Also, the OK sign graphic has some [negative connotations](https://en.wikipedia.org/wiki/OK_gesture#Negative_connotations).
![image](https://

[2021-11-19 13:23] mikeicode opened #58282 "Multiple themes: Image blocks are centered by default, not left aligned"
### Quick summary

I would assume that Image blocks are supposed to be left aligned (not floated left however) when you don't set specific alignment. Testing multiple Varia and Blockbase themes they are centered by default. There is no way to set them to regular left alignment without the "Align Left" setting, which results in text wrapping.

### Steps to reproduce

* Activate Maywood
* Add an Ima

[2021-11-19 13:30] cpapazoglou opened #58283 "Plugin Details: Tested Up To version has the wrong version"
### Details

Tested Up To refers to the version of WordPress that that plugin has been tested with. On plugin detail pages we seem to show the plugin version. I might have mentioned that in my feedback to the designs already, but I wonder if this information is even needed, given that customers can’t change their WordPress version? It doesn’t feel to me like like it adds much value.

![image](http

[2021-11-19 13:34] cpapazoglou commented on #58283
@obenland I agree that this information doesn't add any value. What if we rephrased that to "Not tested with the latest WordPress version" as a warning when applicable?

[2021-11-19 13:35] cpapazoglou opened #58285 "Plugin Details: Last updated formatting"
### Details

Could we reformat the last updated date to reflect the site’s date format preference? It feels like an easy win to make this more accessible to customers and not have it feel unnecessarily technical.

![image](https://user-images.githubusercontent.com/12430020/142631374-bdc5ea0a-7534-402a-ae73-490f2ef66708.png)

[2021-11-19 13:40] bogiii opened #58286 "[Bug]: Import onboarding flow: showing wrong importer"
### Steps to reproduce

1. Select: `I don't have a site address`
2. Choose an `importer` from the list
3. Click the `Import Your Content` button
4. See the selected importer screen
5. Press the back button in the browser

Repeat it three times, and you will see the wrong importer.

### What you expected to happen

Show the right importer; the importer selected in the previous screen.

### What act

[2021-11-19 13:41] cpapazoglou opened #58287 "Plugin Details: Terms of Service mention is a dead end"
### Details

Could we link the mention of “WordPress.com’s Terms of Service” to the actual terms of service? I also noticed the use of “plug-in” rather than “plugin”, could that be adjusted to be in line with other uses of plugin?

![image](https://user-images.githubusercontent.com/12430020/142632144-0091373a-770e-41f3-b673-bfb67b7e3464.png)

### Related

pdh6GB-6h-p2#comment-315

[2021-11-19 13:45] cpapazoglou opened #58288 "Plugin Details: Container misalignment between header and sections"
### Details

The sections container seems to have a right padding that makes it misalign with the content in the plugin details. Let's revisit the padding between the containers

|Before | Production|
|-------|------|
|![SS 2021-11-19 at 15 44 23](https://user-images.githubusercontent.com/12430020/142632593-269674d5-533c-47b2-b138-852870c54fcb.png)|![image](https://user-images.githubusercontent.co

[2021-11-19 13:47] cpapazoglou opened #58289 "Plugin Details: Plugin info when reviews are missing"
### Details

Some plugins don’t seem to show reviews (WP Contributions) which can lead to a lot of whitespace and what looks like misalignment. Not sure how to improve that, maybe aligning to the left with a min-width?

![image](https://user-images.githubusercontent.com/12430020/142632827-72fbe219-fd2a-4c31-8102-e024a6d98b77.png)

### Related

pdh6GB-6h-p2#comment-315

[2021-11-19 13:49] cpapazoglou opened #58290 "Plugin Details: Sections dropdown on mobile polish"
### Details

It looks like the Description “tab” on mobile needs some attention in some color schemes and alignment adjustment with the other tabs?

![image](https://user-images.githubusercontent.com/12430020/142633096-d3aa4cbb-14c9-48dd-9d74-646d436fee76.png)

### Checklist

- [x] Fix the alignment
- [x] Review in all color schemes

### Related

pdh6GB-6h-p2#comment-315

[2021-11-19 13:50] cpapazoglou opened #58291 "Plugin Browser: Green checkmark looks off"
### Details

Green checkmark looks off, somehow clumsy big/unbalanced

![image](https://user-images.githubusercontent.com/12430020/142633289-7863cb44-391c-4731-920e-f75e1983dafd.png)

### Related

pdh6GB-6h-p2#comment-315

[2021-11-19 13:52] cpapazoglou opened #58292 "Plugin Browser: Search results with 1 item"
### Details

When there’s one result, I see confusing placeholders (a box and lines):

![image](https://user-images.githubusercontent.com/12430020/142633430-13c150cd-4351-4327-ad6e-8ab4a95c8627.png)

### Tasklist

- [ ] Note “1 plugins” (remove s).
- [ ] Remove the stale / empty placeholder

### Related

pdh6GB-6h-p2#comment-315

[2021-11-19 13:56] cpapazoglou opened #58293 "Plugin Browser: Search placeholder feels a tad bit too small"
### Details

![SS 2021-11-19 at 15 55 22](https://user-images.githubusercontent.com/12430020/142633981-a7625086-be9b-43a5-ad6e-1e83afd0f282.png)

### Related

pdh6GB-6h-p2#comment-315

[2021-11-19 13:58] cpapazoglou opened #58294 "Plugin Browser: Consistent language would be better, either “manage plugins” or “installed plugins” but not both."
### Details

I would suggest us using "Installed Plugins" as WordPress core already does in the sidebar.

![SS 2021-11-19 at 15 57 04](https://user-images.githubusercontent.com/12430020/142634335-b34bdda3-7200-4ca5-88ae-139b5d4b4f9d.png)

### Related

pdh6GB-6h-p2#comment-315

[2021-11-19 14:00] cpapazoglou opened #58295 "Plugin Details: CTA flickering"
### Details

For already installed plugins, it appears for a moment and then disappears. Since we knew “installed” state from previous page, I would expect us to already know it at this page. Or we could load the state earlier, like when the plugin shows up in results or is mouse-hovered? Some loading animation could also help.

![SS 2021-11-19 at 15 59 53](https://user-images.githubusercontent.co

[2021-11-19 14:02] cpapazoglou opened #58296 "Plugin Details: Header revisit"
### Details

Was kinda missing the icon here, it’s so text heavy. 🙂
We should definitely add some star/recommended/something next to Automattic plugins. 😀

|Desktop | Mobile|
|-------|------|
|<img width="1473" alt="SS 2022-01-28 at 10 37 08" src="https://user-images.githubusercontent.com/12430020/151514242-fecc05a8-447b-4630-b1a1-388e3d3ca718.png">|![image](https://user-images.githubusercontent.c

[2021-11-19 14:08] cpapazoglou opened #58297 "Plugin Installation: Better guard the installation flow"
During our demo it was suggested that we should better guard our plugin installation direct url so that we avoid malicious users getting WordPress.com users to visit it and thus install a malicious wporg plugin in their site.

[2021-11-19 14:14] cpapazoglou opened #58298 "Marketplace V1: Designs for Marketing paid plugins"
The marketing team needs some designs to include in their campaigns

pdh6GB-6Z-p2#comment-308

[2021-11-19 14:32] mmtr commented on #58062
This should be fixed as of r235251-wpcom and r235331-wpcom.

[2021-11-19 14:32] #58062 closed, assigned to mmtr

[2021-11-19 15:44] mmtr commented on #57498
I opened https://github.com/Automattic/jetpack/pull/21821 to solve the issue with the hardcoded `wordpress.com` in the JITM URL. Once that's shipped, we should be able to enable the Crowdsignal JITM again.

[2021-11-19 16:26] mreishus commented on #55175
After reading through the ticket and researching, here is my current understanding:
* Jetpack Sync is a process designed to send data in one direction only: from the Atomic site to WPCOM.
* `display_name` is a field that can only be changed on the WPCOM side. When it is changed, it uses `update_user_data_in_all_atomic_sites() -> atomic_update_user_data()` to push the change to all currently connec

[2021-11-19 17:00] dsas commented on #57498
Just to note that this JITM will not be dismissible at present, because the sidebar implementation doesn't currently render a dismiss button. Once that's added, which I intend to work on next week, it will be.

If this shouldn't be dismissible we'll need to add `is_dismissible( false );` to the message, if it should be dismissible (which I assume is the case), we don't need to do anything.

[2021-11-19 17:03] obenland commented on #58283
I'd anticipate that the vast majority of plugins fall under that. Not being tested with the latest version of WP doesn't necessarily mean that they're incompatible or even broken given WordPress' emphasis on backwards compatibility.

So I'd examine what we actually want to convey with that information and whether we're just showing it because it's available.

[2021-11-19 17:54] Gustavo-Hilario commented on #56922
This very same issue also happens in the widget area. User report here: 4530554-zd-woothemes

[2021-11-19 18:01] autumnfjeld opened #58302 "Blogger Experience: tailoring My Home support articles"
## Blogger Experience: tailoring My Home support articles to be relevent to bloggers who have completed the [Write Hero Flow](PCYsg-D3w-p2)

### Background
We now have a [site_intent flag that is set](https://github.com/Automattic/wp-calypso/blob/8243889761d48643be746ddefd67b3ad3a5c5be2/client/lib/signup/step-actions/index.js) when the user selects their option from the Intent screen. See [site_in

[2021-11-19 18:09] jinnypark commented on #57841
The issue is actually two-fold:

1. Dropping a hyperlink within WordPress post editor doesn’t trigger oEmbed automatically if the link includes user’s ID instead of username
2. When using a short code to embed, a rogue survey gets embedded only in the Reader view. The rouge poll doesn’t show in the actual post. (noted in the description above)

[2021-11-19 18:14] JoshuaGoode commented on #58260
Internal discussion: pdhcfv-5i-p2

[2021-11-19 18:49] isocialtish commented on #53626
Another report in 30192345-hc I resaved their privacy settings and it's resolved now

[2021-11-19 18:59] eduardozulian commented on #55044
Update: this is also happening on the following:

- The new Plugins page
- The Inbox (Email) page

<img width="1605" alt="Captura de Tela 2021-11-19 às 15 53 35" src="https://user-images.githubusercontent.com/1136160/142676189-ae379c28-4131-41e5-a52a-174572221ef0.png">

I edited the issue title to reflect that.

[2021-11-19 19:12] mreishus commented on #41713
Is there an example of something `?frame-nonce=<hexstring>` would break?

[2021-11-19 19:22] mreishus commented on #41713
Checking the slack thread, I see the original issue is with *page jumps not working*. I interpret page jumps to mean linking directly to an html anchor with a fragment in the url. The original page has changed and I'm not able to replicate the issue on my own.

In my testing, adding the additional query parameter does not break fragment links, for example:
* https://testsite5mmr.blog/2021/11/19/te

[2021-11-19 19:29] jeyip commented on #57174
**Status update:**

`11.9.1` is now on production, but the problem doesn't appear to be fixed. One thing to note is that the problem is not reproducible for core Gutenberg.

[2021-11-19 19:40] spraveenitpro commented on #58285
Hi @cpapazoglou , Are you saying that the date should be in the format of November 11, 2021 just to confirm?

[2021-11-19 19:52] mreishus commented on #58269
I believe this would be adding a new section to calypso, which I've never done before and might be feature territory and not a bug. Does @Automattic/team-calypso have any guidance on how this should be handled?

My questions:
- Would there be links to this anywhere, or is it only for users typing "wordpress.com/widgets" into their address bar?
- Would the new section redirect to wp-admin/widgets.p

[2021-11-19 20:05] noahtallen commented on #58269
This sounds right to me. I would probably try to find who is working on the widgets integration for wpcom, and see what they think. (I'm not sure exactly who that is, though)

[2021-11-19 20:14] mreishus commented on #58269
@obenland Any input on where an issue related to widget integration for wpcom should go?

[2021-11-19 20:24] enejb commented on #55513
If we do this do we cover up the Site icon UI on mobile web?
cc: @spraveenitpro

[2021-11-19 20:24] Addison-Stavlo commented on #57174
I am not able to repro on 11.9 or 12.0.

I change my header to a custom color, save, and reload the editor.  The custom color is there.
I check the front end, the custom color is now there as well.

[2021-11-19 20:30] jeyip commented on #57174
I circled back and tried it again. Not sure what I was doing wrong before, but I changed the background color on both the footer and header. I was mistaken -- the customizations  _do_ appear to be working 👍

Closing this ticket.

[2021-11-19 20:30] #57174 closed, assigned to nobody

[2021-11-19 20:57] obenland commented on #58269
Could we start by examining the base assumption first?

@arunsathiya Could you help me understand how you arrived at that expectation? Did we use to link to `/widgets` at any point before?

[2021-11-19 22:24] mreishus commented on #37080
After transferring a private simple site to a private atomic site, I am finding the icon is not lost. It will not display in some contexts, but after waiting ~20 minutes, the problem went away on its own.
I transferred `mmratomic2.wordpress.com` to `mmratomic2.wpcomstaging.com`. Directly after the transfer, I was not able to visit `mmratomic2.wpcomstaging.com`: I got a 403, even while logged in. H

[2021-11-19 22:29] #57158 closed, assigned to zaguiini

[2021-11-19 22:56] cometgrrl commented on #57876
Closing this since it's a duplicate of [Display Name Not Updating Across Atomic Site #55175](https://github.com/Automattic/wp-calypso/issues/55175) which is already being worked on.

[2021-11-19 22:56] #57876 closed, assigned to nobody

[2021-11-19 23:14] worldomonation commented on #56664
I plan to add a few more steps to the test, which may consist of the following steps:
- add different blocks
- add a reply
- save draft then transition to the iframed editor
- delete post

No timeline for implementing these yet, but hopefully adding some of these additional steps would help catch breakages quicker.

[2021-11-19 23:16] worldomonation commented on #56664
FYI, when the linked PR #58217 merges, a P2 E2E build configuration will be added to Calypso > WPCOM Tests category. It will be located [here](https://teamcity.a8c.com/project/calypso_WPComTests?branch=%3Cdefault%3E&buildTypeTab=overview&mode=builds#all-projects).

[2021-11-19 23:36] spraveenitpro commented on #55513
@enejb As the real estate is limited, it is going to cover something on the mobile layout. As soon as the user clicks on the `All done, Continue` button, it will go away. :)

[2021-11-20 01:12] worldomonation commented on #57958
As an alternative, I am thinking it may make sense to walk through the flow right up until the checkout occurs, but not actually perform the checkout.

For the next sprint I may modify a bunch of the tests in the Quarantined E2E spec to do this, so we have coverage of the flows at least.

[2021-11-20 01:16] worldomonation commented on #55845
I'm going to close this issue for now as there are at least two specs that use this to no detrimental effect.

[2021-11-20 01:17] #55845 closed, assigned to worldomonation

[2021-11-20 01:19] arunsathiya commented on #58269
@obenland I am sorry, I don't have a documentation to back up my assumption with. I usually share these links on my chat with customers, which shows them a site picker, and eventually redirects to the corresponding part of Calypso or Customizer. `https://wordpress.com/menus` does that at the moment, and I remember that being the case for `https://wordpress.com/widgets` too but I could totally be m

[2021-11-20 01:22] #57248 closed, assigned to enejb

[2021-11-20 01:22] #57463 closed, assigned to enejb

[2021-11-20 02:03] devNigel opened #58319 "Screen Options missing for the new Plugins browser page."
### Quick summary

We recently introduced a new update that directs `Plugins > Add New` destination to point to Calypso Plugins page for Atomic sites.

Ref: p7DVsv-d0A-p2

The Calypso plugins search page lacks details like active installation number, and if it's compatible or untested, or reviews written by other users on clicking plugin details page.

The new Calypso Plugins page is surely a down

[2021-11-20 02:38] lsl commented on #58260
Reminder: Should confirm hidden products are not included in sitemap output. pdhcfv-5i-p2#comment-113

[2021-11-20 05:42] joweber123 commented on #57838
Another report of this on 4499665-zen.

[2021-11-20 08:36] daria2303 commented on #57725
Hi @dpasque we had tried it before but widgets are not visible in the editor (I believe I saw a bug like this already) but if clicked in the right place they appear, user's description: "I’ve waited several minutes and they won’t even load. All I see is a white screen where some grey spinning circles appear from time to time."

[2021-11-20 08:58] Robertght commented on #58319
cc @cpapazoglou in case this is related to the recent updates.

[2021-11-20 09:00] arunsathiya opened #58322 "Unable to install Advanced Ads and other ad plugins"
### Quick summary

Installing [Advanced Ads](https://wordpress.com/plugins/advanced-ads/) plugin fails on Calypso/marketplace.

### Steps to reproduce

- Start with an Atomic site.
- Visit https://wordpress.com/plugins/advanced-ads/
- Click on "Install and activate"

### What you expected to happen

The plugin installs fine.

### What actually happened

The installation fails:

<img width="1787" a

[2021-11-20 09:01] arunsathiya commented on #58322
Flagged internally too: p1637398849218200-slack-C029JEQRVRT

[2021-11-20 11:18] Robertght commented on #52182
another 4531154-zen

[2021-11-20 11:44] kspilarski commented on #58034
Hi @kimerlin81 I've tested this again and added Latest Posts block in published and draft posts.

Pages:

1) In a page, I've added a latest post block. (Notice the post excerpt "dog, cat, fish" and "creme brulee") :

<img width="1401" alt="Screen Shot 2021-11-20 at 12 42 29 PM" src="https://user-images.githubusercontent.com/36863633/142725082-ba316ede-ea38-4c70-93ed-dce381825d51.png">

2) In Pages

[2021-11-20 12:21] carinapilar commented on #54866
Reported on 32814652-hc too. I would like to point out that the workaround described here: p2EDhh-1k5-p2#comment-7466 - only works if run when the site is Public.

[2021-11-20 15:51] daria2303 opened #58323 "Dyad 2, Android, open submenu items"
### What

Opening submenu items

### Why

Clicking on Main menus will take user to a page and not allowing to click on submenus. Works ok on Iphone.

https://user-images.githubusercontent.com/11535091/142732634-0a49012e-69ea-471c-b17a-4bc789ce2bc5.mp4

### How

_No response_

[2021-11-20 17:44] kimerlin81 commented on #58034
Thanks for clarifying @kspilarski ! I appreciate your thorough follow-up here. I was able to reproduce this. Since post content is not currently included as an option in the existing search filter, I've submitted this as an enhancement request for the development team to review.

[2021-11-20 20:28] cometgrrl commented on #57965
This issue is tracking an issue in another repository. All +1's of end-user reports should be done on this issue, while any discussion related to the issue itself and its fix should be done on the issue in the outside repository.

[2021-11-21 03:52] inaikem commented on #57711
@WunderBart, would you be able to help us confirm if the fix was deployed as expected?

Taking 4449926-zd-woothemes as an example, I'm seeing the correct `has-background-dim-XY` set on their homepage cover blocks, however, the opacity is still set to 0.5 regardless of their editor settings:

- Cover block 1: Editor opacity at 70%
- Cover Block 2: Editor opacity at 30%
- Cover Block 3: Editor opaci

[2021-11-21 05:46] gavande1 commented on #58322
I've tried to install an [Advanced Ads](https://wordpress.com/plugins/advanced-ads) plugin on the test site. It worked well as expected. Then I went ahead and tried to install the same plugin on the user's site. It got installed without an issue. Every time it seems to be working fine.
(I might be missing something here.)

![](https://cloudup.com/cE0UTx9588K+)

[2021-11-21 06:26] gavande1 commented on #57755
### How to deactivation will work?

1. Handle expiry using event life cycle method `deactivation` of `Store_Product_Marketplace_Plugins`

2. Use method `manage_software` API of WPCOM_Atomic_Service class to remove the plugin.
we need to format params as follows:
[code]

### Questions

1. Let’s say the subscription expired and we removed the plugin. The user comes back and says, here is the money!

[2021-11-21 06:41] arunsathiya commented on #52241
Requested in 32838788-hc.

[2021-11-21 08:34] arunsathiya commented on #58322
While discussing with @gavande1 on Slack, I found that "uBlock Origin" extension (a popular ad-blocker for browsers) was the cause of the issue. When it's active, this plugin is blocked. We suspect it's blocking only ad-type plugins.. because it's an ad-blocker. That's why installing other plugins like Yoast work fine.

Here's a video of what I see on Firefox:

https://user-images.githubuserconten

[2021-11-21 08:38] kuropixel commented on #53609
This happens to me in P2s when I try to bold things I want to be headings. When I go to record it, the behavior is normal. Sneaky issue. Using a Chromium-based browser (Edge 95)

[2021-11-21 09:14] Nic-Sevic opened #58326 "Sitemaps.xml: Unable to submit sitemap to Bing for .wordpress.com sites"
### Quick summary

You're only able to submit sitemaps to bing for sites with a custom domain. Sites on default domains are blocked somehow.

### Steps to reproduce

1. Add site on default address (.wordpress.com) to Bing console: https://www.bing.com/webmasters/
2. Add verification code
3. Try to upload sitemap and see error in console

### What you expected to happen

Should still work per the d

[2021-11-21 09:30] Nic-Sevic commented on #57725
Some additional info here: the user has 340 text widgets in their content sidebar along with 22 nav menu widgets in the primary sidebar.

Could this be related to a memory issue tied to the significant number of widgets loading?

[2021-11-21 13:39] arunsathiya commented on #57985
@kerrynicl Thanks for taking a look. Should we move this to https://github.com/Automattic/themes/issues?

[2021-11-21 13:42] arunsathiya commented on #58319
One more report: 4532038-zen.

[2021-11-21 14:28] philnick206 opened #58327 "Navigation block: Links are displaying left-justified when alignment is set to "Space between items""
### Quick summary

Links in the Navigation block are displaying left-justified when alignment is set to "Space between items".

### Steps to reproduce

1. Add a Navigation block to a page/post
2. Add a new menu and add links to the block
3. Set the width to full width and alignment to "space between items"

<img width="1472" alt="Markup 2021-11-21 at 14 24 46" src="https://user-images.githubuserco

[2021-11-21 16:50] kerrynicl commented on #57812
Another report - ZD- 4530198

[2021-11-21 17:29] creativecoder commented on #56906
I believe this issue was resolved by https://github.com/Automattic/jetpack/pull/21691

[2021-11-21 17:29] #56906 closed, assigned to nobody

[2021-11-21 17:34] sguzovskaia commented on #53716
Another report at 32844903-hc. Both the Video Block and VideoPress Block fail to embed. Atomic site.
Offered the workaround with the shortcode as a temporal solution.

[2021-11-21 17:34] creativecoder opened #58328 "FSE: Update link for "Edit homepage" checklist task"
### What

Update the "Edit homepage" checklist task to direct to the Site editor rather than the post editor

### Why

Give access to FSE features for editing the home page, including header and footer editing.

### How

<img width="757" alt="image" src="https://user-images.githubusercontent.com/1699996/142772797-4d5069ff-f0d9-48ce-a73e-14779e48f34b.png">

[2021-11-21 17:51] creativecoder commented on #57837
I encountered something very similar while user testing the FSE beta last week: the starter content for a new site has block errors on the homepage when opening the Site editor. Even though the block recovery works to restore the block content, this is a very bad first impression when setting up a new site.

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/1699996/14277

[2021-11-21 17:53] creativecoder commented on #58150
Related, though I'm not sure if this other issue has the same underlying cause, or not: https://github.com/Automattic/wp-calypso/issues/57837

[2021-11-21 21:23] happychait opened #58329 "FSE beta: Footer template broken"
#### Steps to reproduce

1. Starting at URL: https://domain.com/wp-admin/edit.php?post_type=wp_template_part
2. Design a footer template.
3. Add it to the Index template from the Site Editor.
4. Publish the Index template including the Footer template.

#### What I expected

The footer to appear as I designed in the Footer template.

#### What happened instead

Footer looks broken.

#### Screensho

[2021-11-21 21:46] happychait commented on #56781
[Tested](https://chaittestpress.com/2021/11/22/pull-quote/) and reproduced in Twenty Twenty theme as well.

4534391-zen

[2021-11-21 22:03] alaczek commented on #56833
Looks like this is a part of the larger issue we're having with headstart content and it's still not resolved: https://github.com/Automattic/wp-calypso/issues/57837#issuecomment-974863601

[2021-11-21 22:14] happychait commented on #50687
I encountered this in 4466866-zen as well.

[2021-11-21 22:29] jerrysarcastic commented on #57339
Hmm... this issue still seems to be happening, as reported in https://wordpress.com/forums/topic/block-widgets-widget-disappearance-and-visibility-issues/page/2/?view=all#post-3761364

I can also confirm that if I make any changes in the customizer (or just reload it) the previous visibility setting is lost.

You can see this behavior in the following video, where I add a visibility argument, then

[2021-11-22 00:56] serabi opened #58330 "Request for non-WordPress.com Like button"
### What

A Like button that does not require being signed into WordPress.com

### Why

An user came to chat today and asked for a Like button that does not require their site members to log into WordPress.com. They have an eCommerce site that they've set up to have a log in form for their website. As the current Like button redirects site visitors to the WordPress.com sign in form, they find it c

[2021-11-22 02:06] donalirl commented on #53609
@kuropixel @joweber123  I'm curious if [these steps to recreate](#issuecomment-898976124) are the same for you? Because I also experience it on P2 and it's specifically when I stray my cursor a bit to trigger the appearance of the border box, as shown in the video.